[2019-08-17 14:43] Mike-EEE commented on #11013
FWIW I have created a draft (in every sense of the word 😆) PR for this, simply to test the capacity of doing so, but to also gauge where exactly I should be editing and which files I should be modifying.

I have also applied my suggestion of the `<div class="application" />` as above but, of course, is subject to change if we can think of something better.

Thank you in advance for any additional

[2019-08-17 14:45] tnc1997 opened #13215 "[Blazor] `InputNumber` does not support the type 'System.Int64'"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
Firstly, a big thank you for all of the work that everyone has pu

[2019-08-17 14:53] SeanChristopherConway commented on #10403
@nvcken How is your experience with this?

[2019-08-17 14:54] AYanuseuskaya commented on #13166
good day
Also, can you please share the content of your project output directory?
Verbose logs are written to:
C:\Users\STL01O4I\AppData\Local\Temp\vscode-chrome-debug.txt
'dotnet.exe' (CoreCLR: clrhost): Loaded 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\3.0.0-preview8-28405-07\System.Private.CoreLib.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Cod

[2019-08-17 14:55] pranavkm opened #13216 "Validate DotNetObjectRef creation and usage"
See https://github.com/aspnet/AspNetCore/issues/11159

We made some changes to how DotNetObjectRef is tracked. Make sure it works correctly

[2019-08-17 14:55] pranavkm commented on #12082
Done.

[2019-08-17 14:55] #12082 closed

[2019-08-17 14:56] AYanuseuskaya commented on #13166
I see this information in the output of my project when I stop debugging

[2019-08-17 14:59] AYanuseuskaya commented on #13166
I am new to programming, so maybe I don’t understand what information you need. If you can write in more detail where I can find the information I need and I will send it to you. Thank you. Have a nice day.

[2019-08-17 15:03] msivri commented on #12890
@danroth27
According to the docs on MSDN, Microsoft.AspNetCore.SpaServices.Extensions prerendering relies on **aspnet-prerendering** npm package. Am I missing something? Will there be an alternative NPM package to facilitate prerendering?

The way I understood it is that NodeServices nuget will become obsolete but the functionality in Microsoft.AspNetCore.SpaServices.Extensions will remain so that

[2019-08-17 15:17] bjorn-ali-goransson commented on #11170
Just made a deep dive into the 2.2 source code related to parsing and matching.

Perhaps the RoutePatternParser has seen a bit too much organic growth to easily be able to support non-final catch-all parameters. It's not very clear at all what's going on anymore... From what I can see it allows/parses templates like "lorem/.{ext?}" which isn't successfully matched and won't even be sent from Chrom

[2019-08-17 16:26] blowdart commented on #13207
We don't use MSAL so you're in the right place. You can't set the cookie options like this, it doesn't work as you've discovered. Instead you need to [set the options on the Cookie middleware](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-2.2#create-an-authentication-cookie), with those you can either do sliding expiration or have a fixed timespan afte

[2019-08-17 17:23] Mikilll94 opened #13217 "Easy way to log request and response bodies"
### Is your feature request related to a problem? Please describe.
I am trying to build a logging mechanism in my app which logs every request and response. There are many tutorials on how to do this. I think the most popular is:

https://exceptionnotfound.net/using-middleware-to-log-requests-and-responses-in-asp-net-core/

Unfortunately, I think that logging request and response bodies is too com

[2019-08-17 17:26] davidfowl commented on #13217
Dupe of https://github.com/aspnet/AspNetCore/issues/3700

[2019-08-17 17:26] #13217 closed

[2019-08-17 17:31] Mikilll94 commented on #3700
Is this going to be implemented?

[2019-08-17 18:00] Mikilll94 commented on #3700
@Tratcher
Could you elaborate more on how to do logging request and response bodies to avoid these problems?

[2019-08-17 18:00] dazinator commented on #10469
Just to say I wont be able to send a PR for this, it would take me to long. Given the discussion above - I think there is an acknowledgement that some things aren't as nice as they should be, but - as I am able to workaround the issue, I'm happy to close this and just settle it as feedback- if your team wants to make any improvements in this area it would be welcomed but not critical. Cheers.

[2019-08-17 18:00] #10469 closed

[2019-08-17 18:07] dazinator commented on #12651
Reminder to check this with the latest vs2019 16.3.0 preview 2 to see if it's still an issue or was coincidentally fixed.

[2019-08-17 18:11] julienGrd opened #13218 "[Blazor client-side preview 8] memory issue wich cause code terminated"
Hello guys, I actually develop an app with blazor, in server side for development and client side on production.

My app consist of rewriting a silverlight app and reuse all the existing viewModel and suscribe to the event launched by the viewModel to update my views (essentially things like propertyChanged, collectionChanged, and eventHandler).

In server-side, it works perfectly.

Now i trying t

[2019-08-17 18:51] #12795 closed

[2019-08-17 18:54] mconnew opened #13219 "Incorrect socket close causes data truncation on NetFx"
### Describe the bug
When using a custom connection handler, when closing the connection by calling Complete on the input and output pipes, the method AspNetCore uses to close the socket can lead to some bytes which were "completed" on the output pipe to not be sent before the socket is closed. This only happens on NetFx and doesn't occur on .NET Core.

[CoreWCF](https://github.com/CoreWCF/CoreWCF

[2019-08-17 19:11] dazinator commented on #12511
If entity configuration was put into `IEntityTypeConfiguration<T>` implementations this would make using identity a lot simpler when you aren't driving your dbcontext from IdentityDbContext.

[2019-08-17 19:59] MajdajkD opened #13220 "[Blazor - ASP.NET Core] Resolve Namespace conflits in the BuildRenderTree with the "global::" keyword"
Hi guys!
### Description:
I have an issue with the generated BuildRenderTree functions of my razor components.
The issue is the following: I have multiple namespaces containing the same segments (this naming convention is company policy (customer censored, this is a demo project, not a production one.)):
![imports](https://user-images.githubusercontent.com/10176488/63216585-8af22d80-c137-11e9-8176

[2019-08-17 21:56] vertonghenb commented on #13212
Related to https://github.com/aspnet/AspNetCore/issues/8498

[2019-08-17 21:58] dpedrelli opened #13221 "30 MB max request body size limit"
Visual Studio 16.3.0 Preview 1.0
ASP.NET Core 2.0 MVC app.
I am trying to upload a file, just over 50 MB.  I tried the following options independently and in conjunction with each other.

I tried using both
`[DisableRequestSizeLimit]` and `[RequestSizeLimit(100_000_000)]`
on my controller action.  Additionally, I tried

In Program.cs, I tried
`.UseKestrel(options => { options.Limits.MaxRequestBody

[2019-08-17 22:07] QadiymStewart opened #13222 "[Blazor] JsInterop Invoke after each promise resolves"
Trying to get things working correctly in Blazor Server Side App. I have an Uploader Component but it doesn't InvokeAsync after each promise is resolved on client side. It waits for all Images to load then Invokes the C# method. How would I get it to Invoke the C# method after each image is loaded?

I know JavaScript is single threaded but also tried with web workers and still does the same thing.

[2019-08-17 22:33] danroth27 commented on #12890
Thanks everyone who shared details on their usage scenarios for NodeServices. We understand that this library along with the functionality in SpaServices is fulfilling a need for some users. This functionality shipped with .NET Core 2.1, which is a Long Term Support (LTS) release, and will continue to be supported for the support lifetime of that release. The functionality will also ship in an obs

[2019-08-17 22:55] #4050 closed

[2019-08-17 22:55] danroth27 opened #13223 "Update readme for SpaServices & NodeServices to clarify the components are obsolete"
https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/NodeServices/README.md
https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/SpaServices/README.md

[2019-08-17 22:58] rynowak commented on #13200
What you're seeing is expected because there are two requests happening here, and thus two scopes.

- Your original page load is a an HTTP request that gets static HTML (from MVC)
- Then the browser sends a *second* HTTP request to open a websocket and connect to SignalR.

Can you prove some more information about what you want to accomplish, so we can try to help?

[2019-08-17 23:06] rynowak opened #13224 "Clean build of the repo fails"
**Repro**

[code]

**Fails with**

[code]

[2019-08-17 23:07] rynowak commented on #13224
Nevermind, looks like this is caused by `git clean` deleting signalr's files for some reason.

[2019-08-17 23:07] #13224 closed

[2019-08-17 23:12] egil commented on #12082
Thanks. I will see what is possible and what is not when P9/RC lands. Then, I might take you up on that offer. Thanks again.

[2019-08-17 23:24] oising commented on #9020
Hmm, I'm in the middle of planning a service fabric implementation that is going to be using gRPC based stateless services and reliable actors, on top of dotnet core 3. Is this going to bite me in the ass? If I host on SF, I guess I'm going to be using kestrel at the core? Time to prototype.

[2019-08-17 23:43] rxelizondo opened #13225 "[Blazor] Issue running Blazor app in iOS."
I have spent hours trying to figure out why a Blazor app that works perfectly fine in Edge, Chrome and even Safari (running from a Mac) does not work on iOS (in iPhone or iPad).

After a lot of fiddling around, I believe I found the cause of the problem and it has to do with calling `GetJsonAsync` from the `Index.razor` page.

To reproduce, simply create a Blazor app (ASP.NET Core hosted) and add

[2019-08-18 00:08] jsheetzati commented on #10041
I added `services.AddNewtonsoftJsonProtocol` on my server-side setup. After adding Newtonsoft, both `JsonHubProtocol` and `NewtonsoftJsonHubProtocol` are in the available protocols found in `DefaultHubProtocolResolver`.

How do I configure the Javascript client to use the Newtonsoft Protocol rather than System.Text.Json? Running into an issue with cyclic references with the new default System.Text

[2019-08-18 01:19] omaraceves commented on #8134
Deleted .vs FTW! Thanks for sharing your solution @joegithub !

[2019-08-18 02:09] nvcken commented on #10403
Sorry @SeanChristopherConway , just quick search for reference.

[2019-08-18 02:26] BrennanConroy commented on #10041
Try not to mix preview versions. There were a lot of changes between preview4 and preview9. If you update to preview9 you probably wont see issues anymore.

[2019-08-18 02:44] mrscript21 commented on #13212
@vertonghenb, thanks for that link.

[2019-08-18 07:32] OnurGumus commented on #12550
I have found this change breaking many things.
Namely
There is no new version for `Microsoft.AspNetCore.Components.Browser` and it still uses `UIEventArgs `from the `Microsoft.AspNetCore.Components`

[2019-08-18 07:57] OnurGumus opened #13228 "Microsoft.AspNetCore.Components.Browser is outdated and broken with Preview 8"
The file
https://github.com/aspnet/AspNetCore/blob/b0524058c3e35a2768de34ea56b5ee6afcc968b4/src/Components/src/Microsoft.AspNetCore.Components.Browser/RendererRegistryEventDispatcher.cs

Uses things like **UIEventArgs** from **Microsoft.AspNetCore.Components**, however these classes are moved to **Microsoft.AspNetCore.Components.Web** with preview 8. And there is no new nuget for **Microsoft.AspNe

[2019-08-18 08:07] findmoon opened #13229 "Cookie authentication OnRedirectToAccessDenied set statuscode"

[2019-08-18 08:33] thangchung opened #13230 "Could not load type 'Microsoft.AspNetCore.Builder.AuthorizationAppBuilderExtensions' from assembly 'Microsoft.AspNetCore.Authorization, Version=3.0.0.0"
### Describe the bug
I have got the exception when using `docker-compose` to build the standard Web template in .NET Core 3.0 Preview 8

[code]

### To Reproduce
Steps to reproduce the behavior:
1. Using Visual Studio 2019 v16.3.1 Preview 2.0
2. Create the Standard Web Application with Api option which has WeatherControler + Docker supports
3. Run on local, everything is okay
4. Write docker-compo

[2019-08-18 09:00] githubfanster commented on #13228
i believe  Microsoft.AspNetCore.Components.Browser has been renamed  Microsoft.AspNetCore.Components.Web

[2019-08-18 09:40] OnurGumus commented on #13228
Ah ok, you are right. I was so confused about this. Thanks for the clarification.

[2019-08-18 09:40] #13228 closed

[2019-08-18 10:22] shawnwildermuth opened #13231 "IWebHostEnvironment not in netstandard2.2"
### Describe the bug
There are open source libs that use the IWebHostEnvironment (IHostingEnvironment previously) so we could build upon .netstandard instead of separate builds.  Is this going to be in .netstandard2.2 when 3.0 ships?

### To Reproduce
Steps to reproduce the behavior:
1. Create a new library project with 3.0 Preview 8
2. Set it to use .NET Standard 2.2
3. Try and create a call that

[2019-08-18 11:05] 2nd4ce opened #13232 "[Preview 8] Blazor(Server-Side) - EditForm - Non Submit Buttons are recoginsed by OnValidSubmit"
### Describe the bug
It feels like the buttons without type="submit" are recognized by the call OnValidSubmit. I am not sure if this is expected behavior, but here is the case.

I have a form with three buttons next to each other:
- Save
- Close
- Change/Display (Switch)

If I click on the button with "Display", I want the system to redirect me to the read-only page. Right now, it behaves as I sav

[2019-08-18 11:51] sukeshchand opened #13233 "How to Play videos in Blazor way?"
Thanks to the Blazor team and the community. Its looks amazing. Looking forwarding the see how Blazor will change the web development market.

I have a question, How do I play a video using HTML5 video, I can able to bind the src by using the property @VideoUrl, but to play need to call the load() and play() method. I can able to do this using Javascript inside Blazor,
[code]
Is there any way I ca

[2019-08-18 12:34] desalbres opened #13234 "Shared variables"
Hello, I have added a server-side Blazor project a class named AppState, in which I have a public boolean property in it...
I've registered the class as Singleton...
And, for test, I have bound it to a <input="checkbox" >...
Then I ran the project, and checked the box.
The problem is when I open another window in another browser I still see the input tag checked!
My question is: how set a variable

[2019-08-18 13:35] takaz-ams opened #13235 "Preview 8 breaks AppInsights middleware"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.

### To Repro

[2019-08-18 13:36] takaz-ams commented on #13235
System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.ApplicationInsights.AspNetCore.DiagnosticListeners.Implementation.PropertyFetcher.Fetch(Object obj)   at Microsoft.ApplicationInsights.AspNetCore.DiagnosticListeners.HostingDiagnosticListener.OnNext(KeyValuePair`2 value)
   at System.Diagnostics.DiagnosticListener.Write(String name, Object value)

[2019-08-18 14:33] toto-tech opened #13236 "Using RobinHerbots inputmask in ClientSideBlazor"
I want to use inpunmask in clientside blazor.  Problem is that two way binding not work.
My code is folllowing:
I include this js libs:

    <script src="script/jquery-3.4.1.min.js"></script>
    <script src="script/jquery.inputmask.min.js"></script>
    <script src="script/inputmask.binding.js"></script>
    <script src="script/InitMask.js"></script>

My js code:
window.datetimeinput =
    {

[2019-08-18 14:44] jsheetzati commented on #10041
Oops, that was my bad there. I removed that package as we are not using it. However, still seeing SignalR preferring JsonHubProtocol over NewtonsoftJsonHubProtocol.

Here is my relevant code for adding SignalR to my application:
[code]

[2019-08-18 14:48] blowdart commented on #13229
I've found new-ing up the events has worked before;

[code]

[2019-08-18 15:14] pstricks-fans opened #13237 "Allowing us to invoke the overload of DisplayNameFor for a collection in Razor Pages"
In MVC, if `@model IEnumerable<Student>` is specified,  we can invoke `@Html.DisplayNameFor(x=>x.Name)`.

However, in Razor Pages, the default scaffolding template always uses
`@Html.DisplayNameFor(x=>x.Students[0].Name)` and the bound property `Students` is of type `IList<Student>` rather than `IEnumerable<Student>`.

IMHO,  `@Html.DisplayNameFor(x=>x.Students[0].Name)` syntax does not promote so

[2019-08-18 15:33] ctrl-alt-d commented on #10522
Maybe you can [use a Timer](https://stackoverflow.com/a/57545940/842935) as workaround.

[2019-08-18 15:46] GAMP opened #13238 "Blazor bind value on event causing exception"
I have this simple input and bind it to a view model, when adding the @bind-Value:event attribute the binding stop functioning and instead i get this exception in browser console

blazor.webassembly.js:1 WASM: System.ArgumentException: Object of type 'Microsoft.AspNetCore.Components.UIChangeEventArgs' cannot be converted to type 'System.String'.

Here is the whole html i use for binding

`  <Input

[2019-08-18 15:47] jsheetzati commented on #10041
While debugging, I found this method from `Microsoft.Azure.SignalR.ServiceLifetimeManagerBase` in the call stack which seems to be how I am ending up in System.Text.Json.

Both JsonHubProtocol and NewtonsoftJsonHubProtocol are in `_allProtocols`. I have a hacky workaround to remove JsonHubProtocol from the protocol resolver but probably do not want to keep that long-term 😄

[code]
https://github.c

[2019-08-18 16:23] elgerm opened #13239 "Facebook login redirect uri opens in facebook mobile browser => correlation failed."
### Describe the bug
With Facebook external login, you have the option to authenticate with a browser or the facebook app. When choosing the facebook app, facebook opens the redirect_uri (backtomysite.com/signin-facebook) with their internal browser. Because AspNetCore.Authentication uses a correlation cookie, it fails, because it's a different browser, resulting in a correlation error: cookie not

[2019-08-18 16:25] salmanmkc commented on #13123
yeah had this same issue, thanks for pointing out that it needed to be removed, fixed now, also there was an overriding method from the template which no longer needs to be marked overrieded and will compile with errors if marked as overrided

[2019-08-18 17:13] blowdart commented on #13239
@Tratcher

[2019-08-18 17:56] endeffects opened #13240 "Blazor: [Authorize] Attribute"
Please conside to allow the Authorization Attribute for Components too. It would be also great if it would be possible to specify the fallback scenarios within the Attribute.

[code]

or

[code]

[2019-08-18 18:15] hetis commented on #13236
Please help

[2019-08-18 19:07] rynowak commented on #12550
It's been renamed to `Microsoft.AspNetCore.Components.Web`

[2019-08-18 19:12] rynowak commented on #12082
Cool, what you should expect is that these scenarios have simpler guidance:
- `OnAfterRender` is not called in prerendering
- There's a `firstRender` parameter to make it more idoimatic to initialize JS Interop for a component
- `IComponentContext` is removed

The main reason we added `IComponentContext` was to make it possible for a component to know if it was in prerendering or not. The fact tha

[2019-08-18 19:34] rynowak commented on #13234
If you want to share state within a single browser tab, register the service as Scoped (using `AddScoped`).

[2019-08-18 21:05] egil commented on #12082
OK @rynowak, let me share my current thoughts, maybe you can fill in a few gaps :)

My scenario is primarily a component library/service library setting. Ideally, since Razor components leverages dependency injection, the users of my library doesn't need to know or should know whether or not the services or components in my library uses JSInterop. If they do, they would, like you say, have to be a

[2019-08-18 21:32] naveedahmed1 commented on #5223
Any update on this? None of the above mentioned solutions fixes the problem:

Since `spa.Options.SourcePath` is used in Development, as per my understanding its completely ignored in Production.

I can confirm that its not any bot or someone sending requests to Index.html. I have CloudFlare on my website, I setup a Page Rule to redirect all requests to Index.html to https://www.mywebsite.com/. But

[2019-08-18 21:33] codymullins commented on #9020
@oising same boat here - but we're slowly rolling towards k8s + linux containers, so this kind of helps push us that way anyhow.

[2019-08-19 00:16] i9ii9i commented on #12883
Thank you, I've been looking for this.
I was able to get your code working on a Blazor server-side proj, where I get a stream from a SQL DB and return to an HTML table rendering rows as they stream.

For some reason I cannot get this to work with Blazor Client-side (wasm). It seems like the client is buffering the full response before it starts rendering.

If you wouldn't mind maybe you can share

[2019-08-19 00:19] ipax77 commented on #13213
`@implements IDisposable`
with
[code]
fixed the 'problem'.

[2019-08-19 00:19] #13213 closed

[2019-08-19 00:20] arivoir commented on #6349
I'm using preview8 and static files doesn't seem to work in server-side Blazor. Am I right? Any eta?

[2019-08-19 00:42] BrennanConroy commented on #10041
Does that mean you're getting a reference to "Microsoft.AspNetCore.SignalR.Core" from "Microsoft.Azure.SignalR"?

Try referencing "Microsoft.AspNetCore.SignalR.Core" version 3.0.0-preview9.19417.1 explicitly.

[2019-08-19 01:04] kyurthich opened #13243 "[Blazor] When injecting into layout values are not in service/state."
Sorry if this is working as intended. I am at a loss.

### Describe the bug
I have created a singleton in the client project.
![image](https://user-images.githubusercontent.com/3331097/63232992-ea654180-c1fa-11e9-806e-a3ee68f95353.png)

I am able to access this in a linked component inside of any page after MainLayout.
I am however not able to access it in a linked component inside MainLayout.

Th

[2019-08-19 02:02] hqc01234 commented on #13183
thanks, that fix the issue but why i need to add both onchange and @ref:suppressField to make it work ?

[2019-08-19 02:20] #12993 closed

[2019-08-19 03:15] lanfen100 commented on #13133
THANK YOU!  it's worked~

[2019-08-19 03:27] kant2002 opened #13245 "Microsoft.Extensions.ApiDescription.Server fail build when RuntimeIdentifier present"
### Describe the bug
Add
[code]
and
[code]

and then build. "An error occurred while loading required library hostpolicy.dll from " appear.
If comment out or remove `RuntimeIdentifier` then build would succeed.

[code]

I try with Preview 8 and 3.0.0-preview9.19417.2

[2019-08-19 04:06] jsheetzati commented on #10041
We do not have that package installed and not referencing it in code. I must have added it accidentally while troubleshooting at one point.

csproj
[code]
dotnet --info
[code]

[2019-08-19 04:26] Buildstarted commented on #13200
Right and I understand that. This was simply an example to show that MVC requests work properly to resolve the scoped dependency while a hub doesn't.

client -> middleware -> mvc (testobj is the same from middleware)
client -> middleware -> hub (testobj *isn't* the same from middleware for the initial connection)

Since hubs are shortlived and as time goes on the testobj from the middleware will g

[2019-08-19 05:16] Ap0k opened #13246 "VS2019 16.2.2 Error MSB4166 when building an asp net core 3 mvc application"
Error MSB4166 when building an asp net core 3 mvc application. On version 2.1, the error does not repeat.

UNHANDLED EXCEPTIONS FROM PROCESS 19708:
=====================
19.08.2019 9:00:22
System.IO.IOException: Канал нарушен.
   в System.IO.Pipes.PipeStream.WinIOError(Int32 errorCode)
   в System.IO.Pipes.PipeStream.BeginWriteCore(Byte[] buffer, Int32 offset, Int32 count, AsyncCallback callback,

[2019-08-19 05:31] Ap0k commented on #13246
Repeatable on versions net-core3-preview7 and net-core3-preview8

[2019-08-19 06:12] Ap0k commented on #13246
The error is repeated only if there are several projects in the solution and the web application refers to at least one of them. If you remove all links from the web application, the build is successful

[2019-08-19 08:04] royzhang666 opened #13247 "Blazor - (client side) Route parameter with dot (.) not working"
### Describe the bug
The client side blazor (wasm) component cannot match the route parameter with dot (.) when you open the link the first time, instead it will return 404 error. It worked when you navigate from other blazor components.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0.0-preview8.19405.7
2. Run this blazor component

[code]

3. With thes

[2019-08-19 08:05] AYanuseuskaya commented on #13166
When I build the project I see this information in the output of my project:
1>------ Build started: Project: BlazorApp1, Configuration: Debug Any CPU ------
1>You are using a preview version of .NET Core. See: https://aka.ms/dotnet-core-preview
1>BlazorApp1 -> D:\job\projects\BlazorApp1\BlazorApp1\bin\Debug\netstandard2.0\BlazorApp1.dll
1>Blazor Build result -> 4 files in D:\job\projects\BlazorAp

[2019-08-19 09:28] Yuzal opened #13248 "Css occasionally not loading with kestrel"
I got a ServerSideBlazor Project.
While debugging with kestrel my application occasionally doesn't load some random css files.

My link to the css file:
`<link href="~/css/Components.css" rel="stylesheet" />`

My css file:
` @import "first.css";`
` @import "second.css";`

Using kestrel to debug.

Usually it should load all css classes as with ISS or Scriptdebug.

![image](https://user-images.githu

[2019-08-19 09:54] desalbres commented on #13234
Hello, I have the following problem.

I need to implement server-side blazor authentication with user/password.

So my CustomAuthStateProvider:

public class CustomAuthStateProvider : AuthenticationStateProvider
    {
        private AppState appState;
        public CustomAuthStateProvider(AppState _appState)
        {
            appState = _appState;
        }
        public override Task<Authe

[2019-08-19 10:52] desalbres commented on #13234
Hello, I have posted my question on StackOverflow!
https://stackoverflow.com/questions/57555274/where-and-how-to-store-authentication-data
Thanks anyhow!

[2019-08-19 10:52] #13234 closed

[2019-08-19 11:08] javiercn commented on #6349
Hi @arivoir .

**It looks like you are posting on a closed issue!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps and a repro project so that we can investigate the problem

[2019-08-19 11:39] sc1994 commented on #12505
This problem persists after version `3.0.100-preview8-013656` is specified, with the same error.
Do I need to do more?

[2019-08-19 11:47] vRITHNER opened #13251 "Blazor Template not working with latest dotnet 3 version"
### Describe the bug
After the project is created from the Template, the startup.cs in the .client project displays an error in the configure method:

[code]

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.0-preview8.19405.7'
2. New Project
3. Blazor App
4. Blazor Web Assembly App

### Expected behavior
Compilation with Success.

### Screenshots

![ima

[2019-08-19 11:55] nino-s opened #13252 "Translated value is not returned from a bit flag enum"
### Describe the bug
Get translated values of a bit flag enum does not work. It always returns name of the fields, not the translated value.

I did some research for example in [ModelExplorerExtensions#L53](https://github.com/aspnet/AspNetCore/blob/v2.2.5/src/Mvc/Mvc.ViewFeatures/src/ViewFeatures/ModelExplorerExtensions.cs#L53). There it tries to check if the object value is equal to a field of th

[2019-08-19 12:38] LyleDavis commented on #12890
@danroth27 Fair enough, deprecation is necessary sometimes for a long-term goal.

I recognise that microsoft might not want to provide an official way for this sort of thing, but is there any advice on what to do for those of us who do **have** to run javascript on the server-side? We'd prefer not to, but it's a necessity for us.

Is using `INodeServices` at runtime in this way recommended, or wou

[2019-08-19 12:54] javiercn opened #13254 "[Blazor][Validation] Graceful disconnection"
* Create a new blazor server-side application.
* Modify the logging to turn on Debug logging for Microsoft.AspNetCore.Components
* The following steps need to be performed with each browser. Chrome, Edge, Firefox
* **Scenario 1 (Closing the browser window):**
  * Run the application with dotnet run and pipe the output to a file.
    * Close the browser.
    * Close the application.
    * Check the

[2019-08-19 13:01] javiercn opened #13255 "[Blazor][Validation] Pending renders"
* Create a blazor application
* Turn on Debug logging in the JavaScript side. (LogLevel 1) in BlazorOptions
* Create a component that triggers a render every second.
* Deploy the application to Azure App Service as a self-contained application.
* Open the app and see the ticker count.
* Unplug yourself from the network (or turn on airplane mode).
* Observe the lost connection dialog appear.
* Plug

[2019-08-19 13:08] davidfowl commented on #13248
What version?

[2019-08-19 13:13] Yuzal commented on #13248
Current .net core version: 3.0.100-preview8-013656

[2019-08-19 13:13] christiannagel commented on #13235
I have a similar issue that was working with preview 7, but no longer with preview 8.
Using the package Microsoft.ApplicationInsights.AspNetCore, version 2.8.0-beta1.

Preview 8 results in this exception:
Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware[1]
      An unhandled exception has occurred while executing request.
System.NullReferenceException: Object reference not set to

[2019-08-19 13:24] Tratcher commented on #13231
No, none of aspnet core is part of netstandard.

[2019-08-19 13:33] javiercn opened #13256 "[Blazor][Validation] Multiple component entry points for Blazor"
* Create a new razor pages application.
* Add support for server-side Blazor in Startup.cs
* Create a couple of razor components.
* Add them to Index.cshtml
* Run the application.
* Validate that both components get rendered and that a circuit starts with both components.

[2019-08-19 13:36] javiercn opened #13257 "[ApiAuthorization][Validation] SPA templates validation"
**The following instructions  are intended to be done for the following 4 combinations**
* dotnet new angular -au Individual -o `<<ProjectPath>>`
* dotnet new angular -au Individual -uld -o `<<ProjectPath>>`
* dotnet new react -au Individual -o `<<ProjectPath>>`
* dotnet new react -au Individual -uld -o `<<ProjectPath>>`

**The following tests need to be run in Chrome, Edge and Firefox**

* Create

[2019-08-19 13:37] javiercn commented on #13113
https://github.com/aspnet/AspNetCore/issues/13254
https://github.com/aspnet/AspNetCore/issues/13255
https://github.com/aspnet/AspNetCore/issues/13256
https://github.com/aspnet/AspNetCore/issues/13257

[2019-08-19 13:38] javiercn commented on #13113
@dougbu This is about our team's validation.

[2019-08-19 14:27] TehWardy opened #13258 "Lost trying to get this working"
I'm trying to make SignalR work between a web app (that hosts the hub), a web client (in the browser) and an azure function. I've hit a constant stream of exceptions that seems to be never ending so I figured I'd come here and ask for advice since i'm just seemingly going around in circles.

I have ...
  - 1 Brand spanking new aspnet core 2.2 web app.
  - 1 Azure Function that connects to hub in t

[2019-08-19 14:31] javiercn commented on #13067
i tried to repro this without success. @jkotalik were you trying to build, run tests? Were you trying to specifically build components from VS?

[2019-08-19 14:31] javiercn commented on #13067
I'm assigning this back to you, if you repro it again and can give me repro steps I'll look into it again.

[2019-08-19 14:44] chobo2 opened #13259 "Operations that change non-concurrent collections must have exclusive access. A concurrent update was performed on this collection and corrupted its state. The collection's state is no longer correct."
Hi
I am getting this error

[code]

The code it is pointing to is this

[code]
Starting and stopping IIS fixes this for a certain amount of time and then it comes back.

I found these related issues

https://github.com/aspnet/AspNetCore/issues/4970

https://github.com/IdentityServer/IdentityServer4/issues/2453

but I am using 2.2 for Aspnet Core and Ef Core 2.2.4 and they where using older version

[2019-08-19 14:51] TehWardy commented on #13258
I'm just working on getting this all running locally, from previous tickets I have raised here I have noted the value in the server console logs from VS.

I'd like to add a note here that my (like many others) infrastructure is quite complex and hard to run all parts on a single workstation machine so ideally a solution to dump the server console logs in to the configured exception handler would r

[2019-08-19 14:52] Rauce commented on #10452
Also applies to adding Bootstrap modals, which to work correctly need to be direct children of the <body> html tag.

Often the @Body of a layout component is nested in a hierarchy of tags below <body>, so including a modal in a Page (which is desired if the modal contains a form with binding/event hookups to the Page code) prevents it from working correctly.

[2019-08-19 15:03] rynowak commented on #13259
Is `Mapster` a library that you're using? Do they have documentation about how to use it correctly in ASP.NET Core?

This kind of error means what it says. Request processing in servers runs in parallel - your code is running something that's not thread-safe on multiple threads at a time.

[2019-08-19 15:06] chobo2 commented on #13259
Hey

Yes Mapster is a library: https://github.com/MapsterMapper/Mapster

I think I am using it properly. I don't see anything specific pertaining asp.net core, though a book on asp.net mvc recommended to use it.

[2019-08-19 15:08] rynowak commented on #13243
`AppCache` is your own code. Can you describe how you're using it it - and why you think Blazor is responsible for your problem?

Also, if `AppCache` is meant to contain per-user data, you will really want it to be registered as a scoped server.

[2019-08-19 15:11] rynowak commented on #13259
The best hint I could give you then is probably this:

[code]

This call stack implies that calling into `InventoriesController` will end up initializing your mappings, and that means that it can probably happen concurrently. You'll want to find a way to initialize your mappings once (probably during startup).

[2019-08-19 15:14] chobo2 commented on #13259
Hmm, why would it just happen randomly and not always then?

Here is where I got the code from. Should I try the global settings and put it in up startup?

https://github.com/MapsterMapper/Mapster/wiki/Configuration

[2019-08-19 15:14] rynowak commented on #13247
The route that's [added by default](https://github.com/aspnet/AspNetCore/blob/69a703748026b4890db2e6ce683c05f5f3fffe1c/src/Http/Routing/src/Builder/FallbackEndpointRouteBuilderExtensions.cs#L18) when you use `MapFallbackToClientSideBlazor` (in Startup) intentionally does not match URLs that look like filenames (contains a `.` surrounded by other characters in the last segment). This is on purpose

[2019-08-19 15:17] rynowak commented on #13259
It would happen randomly because it relies on two threads both trying to modify that dictionary in the same instant. Even if you're handling a fair bit of traffic, they won't always line up perfectly.

I'm not sure if you need to change what you're doing substantially - have you tried moving the mapping initialization to the constructor of `InventoryService`? Is `InventoryService` a singleton?

[2019-08-19 15:18] TehWardy commented on #13258
Locally I'm getting a different exception with the same code and DB backups from the dev box I was previously testing on, the key changes are that all config based url's ect now point to "https://localhost:{some port}/{path}" for everything.

With the debugger on the azure function ...

var con = new HubConnectionBuilder().WithUrl(msg.Api + "Hubs/Workflow").Build();
con.On<Exception>("error", (ex)

[2019-08-19 15:20] jkotalik commented on #13248
Can you try running on the latest core-sdk (preview9 bits) and see if this repros? https://github.com/dotnet/core-sdk

What logs do you see on the server? Is there an exception being thrown? If you don't see anything, if you could increase the LogLevel for whatever logger you are adding to a higher verbosity (information/debug), we can get a better idea what is happening on the server.

[2019-08-19 15:21] TehWardy commented on #13258
Ok found a typo in 1 config file ... gonna try and get back to the state it's in on the dev servers.

[2019-08-19 15:21] chobo2 commented on #13259
I could try moving it to constructor, I tried moving it to startup and it functions but won't be able to tell until it runs for awhile

All my services are "AddTransient"

[2019-08-19 15:28] BrennanConroy commented on #13258
Looking through your calls to "ConsoleSend" I see that a few of them are sending 2 strings instead of the required 3 strings.

This will give you "Failed to invoke 'ConsoleSend' due to an error on the server."

[2019-08-19 15:30] rynowak commented on #13230
A `TypeLoadException` usually means that there's some kind of binary-mismatch. Are you referencing any packages that are built for previous preview releases of .NET?

[2019-08-19 15:32] TehWardy commented on #13258
Yeh I just fixed a couple of those as the server console in VS pointed that out to me.
It looks like now i'm getting this on the server console ...

[code]

... after the finally block on the function app.

Using the server console has revealed a ton of tiny little tweaks or mistakes that I just needed to clean up, frustrating that the logs couldn't be setup to pick this up so I didn't have to pul

[2019-08-19 15:34] TehWardy commented on #13258
Thinking i might have logged this ticket an hour or two too early ...

The underlying issue I seem to be having with NetCore is access to the output of the Server Console that's piped in to VS ... This really needs to be subscribe-able somehow on a non-workstation machine.

[2019-08-19 15:39] TehWardy commented on #13258
Ok i'm still not getting the calls back through to the web client ... i'm only receiving the "Connected to Instance {instanceId}" message.
It's like messages are being lost somewhere ... could be another typo though.

[2019-08-19 15:52] menasheh commented on #11082
Really excited about most of these ideas, although unfortunately they seem to be 2-3 years away at least

[2019-08-19 15:59] danroth27 commented on #12890
@LyleDavis As far as I know there's nothing technically wrong with approach taken by NodeServices for calling JavaScript from .NET at runtime. The issues with maintaining this code are related to keeping it up to date with the latest Node releases.

[2019-08-19 16:03] alexdresko commented on #12890
That's the most helpful comment so far, I believe.

[2019-08-19 16:06] TehWardy commented on #13258
Ok I think i have it working (mostly) now ... i'm dealing with un-related bugs due to the upgrade from .Net 4.x at this point.

My take away from this if anything is that I feel like i just need more visibility on remote machines of what NetCore 2.2 in general is up to (the server console being the information i'm missing).

[2019-08-19 16:08] rynowak commented on #13156
Added here for preview 9: https://github.com/aspnet/AspNetCore/pull/13241

[2019-08-19 16:08] #13156 closed

[2019-08-19 16:12] mkArtakMSFT commented on #13251
Thanks for contacting us, @vRITHNER.
Looks like you're using .Net Core 2.2 SDK. Consider installing the latest 3.0 SDK from https://dotnet.microsoft.com/download/dotnet-core/3.0

[2019-08-19 16:12] #13251 closed

[2019-08-19 16:13] mkArtakMSFT commented on #13247
We'll try to cover this with docs.

[2019-08-19 16:16] mkArtakMSFT commented on #13240
Thanks for contacting us, @endeffects.
Using the `Authorize` attribute on component definition in code is already supported. However, defining the routing behavior is not something we will consider supporting in the near future.

[2019-08-19 16:16] #13240 closed

[2019-08-19 16:18] mkArtakMSFT commented on #13237
Thanks for contacting us, @pstricks-fans.
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-08-19 16:19] poke commented on #6945
@pranavkm Is there a good way to check if there is a type converter registered? I wanted to do a simple `TypeDescriptor.GetConverter(type)` but that fails because the type is actually a `ITypeSymbol`. Is there even a safe way to check for type converters on custom types which could be applied at run-time there?

[2019-08-19 16:21] mkArtakMSFT commented on #13238
Thanks for contacting us, @GAMP.
InputText doesn't currently support `oninput` event. We track enabling it as part of #11960.

[2019-08-19 16:21] #13238 closed

[2019-08-19 16:21] mkArtakMSFT commented on #11960
Bumping up the priority given community interest in this.

[2019-08-19 16:25] BrennanConroy commented on #13200
Because hubs are abstracted away from the underlying connection we don't know if there was a new request or the same request just streaming more data.

And because there are multiple ways to connect in SignalR (both a new http request per hub method invoke and a single long-running request for all hub method invokes) we need to treat each hub method call as a different request to have a consistent

[2019-08-19 16:25] mkArtakMSFT commented on #13236
Thanks for contacting us, @toto-tech.
If that library directly manipulates the DOM, you're going to have problem with integrating it with Blazor.

[2019-08-19 16:27] rynowak commented on #6945
You could look at attributes on the type for `TypeConverterAttribute` - https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.typeconverterattribute?view=netframework-4.8

[2019-08-19 16:28] mkArtakMSFT commented on #13233
Thanks for contacting us, @sukeshchand.
You can do anything possible through JavaScript by doing JSInterop. If you want to invoke that functionality from your Blazor App through C#, you will need to write the interop code. Here is the guidance for doing that: https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interop?view=aspnetcore-3.0

[2019-08-19 16:28] #13233 closed

[2019-08-19 16:30] mkArtakMSFT commented on #13232
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-08-19 16:34] mkArtakMSFT commented on #9133
@NTaylorMullen please follow up on this. Let's either get this fixed, if we can do it on our own, or please follow up with the owners to get this fixed.

[2019-08-19 16:36] #13082 closed

[2019-08-19 16:43] TiagoBrenck commented on #13180
Yes @jmprieur
I found this while testing something else in this sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API

[2019-08-19 16:43] poke commented on #6945
@rynowak That’s what I was thinking first, and it could work for custom types (although we wouldn’t have a way to check whether a registered type converter actually allows conversion from string). However, `DateTime` doesn’t actually have a type converter attribute. It seems that the [converter is registered differently](https://github.com/dotnet/corefx/blob/v3.0.0-preview8.19405.3/src/System.Comp

[2019-08-19 16:44] #11965 closed

[2019-08-19 16:47] mkArtakMSFT commented on #11886
@HaoK can you handle this in 3.1 to make the auth flow consistent across all the templates?

[2019-08-19 16:50] mkArtakMSFT commented on #11383
Dupe of https://github.com/aspnet/AspNetCore/issues/11444

[2019-08-19 16:50] #11383 closed

[2019-08-19 17:02] #10565 closed

[2019-08-19 17:03] mkArtakMSFT commented on #10565
We think this was fixed already by us taking the updated serializer.

[2019-08-19 17:05] #10477 closed

[2019-08-19 17:08] pranavkm commented on #13232
@2nd4ce I tried this out and couldn't reproduce this using our latest nightlies. Do you have a app you could share that clearly reproduces the issue?

[2019-08-19 17:09] mkArtakMSFT commented on #10452
We're going to provide some of this functionality as part of https://github.com/aspnet/AspNetCore/issues/10450
The rest doesn't seem to be much value-add.

[2019-08-19 17:09] #10452 closed

[2019-08-19 17:10] mkArtakMSFT commented on #9897
This will be covered as part of https://github.com/aspnet/AspNetCore/issues/10450

[2019-08-19 17:10] #9897 closed

[2019-08-19 17:17] vertonghenb commented on #10450
Sometimes it's even needed to adjust the <body> tag (most of the time the css classes due to theme requirements. For example the case where you open/close sidebars and it's based on the css class of the body tag. Currently I use the following code snipped to do so via Interop:
[code]

[2019-08-19 17:28] chucker commented on #10450
@vertonghenb unless it _has_ to be the `<body>` tag, you don't need JS for that. Inside the components, you can simply emit different CSS classes.

Blazor doesn't have built-in tooling for that, but you can use something like [CssBuilder](https://github.com/EdCharbeneau/CssBuilder).

[2019-08-19 17:32] koeks525 commented on #13133
I had this issue a few moments ago... Followed your steps and everything works. Thank you so much for sharing this with the community!

[2019-08-19 17:40] pranavkm commented on #13246
Looking at this.

[2019-08-19 17:42] vertonghenb commented on #10450
@chucker Yes, I know but it _has_ to be the `body` tag.

[2019-08-19 17:49] BrennanConroy commented on #13258
Is there any SignalR related issue left here?

[2019-08-19 17:53] HaoK commented on #13120
@vijayrkn any ideas on what's going on here?  The scaffold operation does not complete successfully due to the Startup error above, the App itself compiles fine, so something is broken on the scaffolding operation I guess?

Note: its not necessary to override all files either, even just overriding a single UI file will result in this error, so I think its something wrt to compilation of the app du

[2019-08-19 18:06] danroth27 opened #13263 "Templates should use the minified versions of the CSS & JS files"
The templates are currently using the unminified versions of the CSS & JS files. We should be using the minified versions and including the map files.

[2019-08-19 18:09] toto-tech commented on #13236
Ok , what can be best practise to mask inputs generally

[2019-08-19 18:29] pranavkm commented on #13246
To use .NET Core 3.0-preview, you need to use the latest preview build of VS. Here's where you can grab the latest previews from: https://visualstudio.microsoft.com/vs/preview. I tried this building a MVC application with project references using the `3.0.100-preview8-013656` and things worked fine. Could you update your VS to a preview build and see if the problem persists?

[2019-08-19 19:11] ryanbrandenburg commented on #11498
No response here so I'm closing this out. If you're still experiencing this issue please respond with the info requested above and re-open.

[2019-08-19 19:11] #11498 closed

[2019-08-19 19:12] NTaylorMullen commented on #13113
https://github.com/aspnet/AspNetCore/issues/13178
https://github.com/aspnet/AspNetCore/issues/13076
https://github.com/aspnet/AspNetCore/issues/13074
https://github.com/aspnet/AspNetCore/issues/13073
https://github.com/aspnet/AspNetCore/issues/13072
https://github.com/aspnet/AspNetCore/issues/13071

[2019-08-19 19:12] TheMightyMat commented on #11921
@ajaybhargavb [Here's a project that reproduces the issue](https://github.com/TheMightyMat/blazor-startup-class-error-demo). Change the contentRoot variable in the test project to point to the location of the main project after you clone. Run the unit test in debug mode to view the console output - you should see the same error stated above. This was run on 3.0.100-preview6-012264, will try on the

[2019-08-19 19:21] blowdart commented on #13239
As an aside the state parameter doesn't remove the need for the cookie, we store the matching half of state in the cookie so we can compare it upon return, without having people to wire up some sort of session state.

[2019-08-19 20:06] elgerm commented on #13239
When the blank screen appears in the fb app (as discribed above), you can tap the menu bar and choose 'open in chrome' after which everything works normally.
I've been looking on ways to make the facebook app use an external browser, but I think it's not possible. I would be happy to store state in say redis and compare it on return. I know that would make things a bit more complicated, but atm I

[2019-08-19 20:16] menorless commented on #13223
Can I use NodeServices to execute arbitrary .js module yet or all functionality are obsolete?

[2019-08-19 20:27] blowdart commented on #13239
Ah, for the return you may have to register a URL that points back to the app (or so I've heard, I'm not at all clear on it to be honest).

[2019-08-19 20:37] elgerm commented on #13239
The url is correct, if I choose 'open in chrome' from the facebook app then it returns back to the pwa.

[2019-08-19 21:11] harikarthik commented on #2759
are you able to resolve this issue ?

[2019-08-19 21:45] #12701 closed

[2019-08-19 21:49] BrennanConroy commented on #10041
Looked into this. Thanks for pointing out https://github.com/Azure/azure-signalr/blob/dev/src/Microsoft.Azure.SignalR/HubHost/ServiceLifetimeManagerBase.cs#L221!

This will be fixed in preview9 via https://github.com/aspnet/AspNetCore/pull/13261

[2019-08-19 22:09] ChristopherHaws commented on #5239
@mkArtakMSFT The middleware being referenced by this issue (`UseAngularCliServer` and `UseReactDevelopmentServer`) is part of `Microsoft.AspNetCore.SpaServices.Extensions`. The announcement you linked to says:

The post does not mention `Microsoft.AspNetCore.SpaServices.Extensions` being deprecated. I believe this issue should be reopened, as I am having this issue as well after switching to the n

[2019-08-19 22:51] jsheetzati commented on #10041
Great, thanks for the quick fix!

[2019-08-19 23:25] kjkrum opened #13266 "Feature request: reliable way to send SignalR messages on shutdown"
My web app runs background tasks that prevent IIS from gracefully shutting down until they complete. (This works well; code [here](https://github.com/aspnet/Extensions/issues/805#issuecomment-515129687).) The tasks poll `IApplicationLifetime.ApplicationStopping.IsCancellationRequested` in their innermost loops and try to send cancellation messages to SignalR clients when shutdown is detected. But

[2019-08-19 23:59] joe88ds opened #13267 "Razor View - Parsing Razor Syntax error when inside a TagHelper Tag"
### **Describe the bug**

Razor Syntax not properly parsed when inside the opening tag of a TagHelper tag (netcore2.1)

**### To Reproduce**
Steps to reproduce the behavior:

1. Create a Razor View (.cshtml) file: _TestView.cshtml
2. Copy the code into the file:
[code]
**### Expected behavior**
@RenderAttribute should not be parsed as HTML

[2019-08-20 00:02] NTaylorMullen commented on #13267
This is by design. You cannot utilize C# in TagHelper declarations.

[2019-08-20 00:02] #13267 closed

[2019-08-20 00:05] Thorocaine commented on #3147
I tried the solution from @techniq but it is now working, and breakpoints in `OnPrepareResponse` are never hit.
I copied the code exactly, I also tried without the checks so everything would be given a cache of 365 days, but everything is returned with `cache-control | public, max-age=0` so for me, at least, the question has not been answered.
@mkArtakMSFT what is your solution?

[2019-08-20 00:20] chrdlx commented on #12795
Now that this issue is closed?
https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#integrate-components-into-razor-pages-and-mvc-apps

This documentation is still valid? or what we should do to use Blazor components inside Razorpages?

Thanks & Regards

[2019-08-20 00:32] arivoir commented on #13103
Is there any workaround?

In server-side Blazor copying the files manually is working, but in client-side Blazor, not. In my project a necessary JavaScript file is not copied and the app is crashing.

[2019-08-20 02:56] ScottRFrost commented on #5479
Blazor seems to be approaching 1.0. Any word on if we're going to have an official PWA template ship with it?

[2019-08-20 03:01] dougbu commented on #13081
Believe I did the needful last week. Lemme know if anything is remaining.

[2019-08-20 03:01] #13081 closed

[2019-08-20 03:04] pranavkm commented on #13263
Merged as part of https://github.com/aspnet/AspNetCore/pull/13264/commits/e2c9f53ce0cabde68d116c20692d1ece94ba87b5

[2019-08-20 03:04] #13263 closed

[2019-08-20 03:08] pranavkm commented on #13195
Thanks for the suggestion, but we currently do not have any plans on changing how the options work. Closing this since the original question has been resolved.

[2019-08-20 03:08] #13195 closed

[2019-08-20 03:10] pranavkm commented on #13206
/cc @NTaylorMullen, any suggestions?

[2019-08-20 03:10] youdhbir commented on #13207
Thanks @blowdart...will check and revert back

[2019-08-20 03:10] pranavkm commented on #13161
Closing as this has been answered.

[2019-08-20 03:10] #13161 closed

[2019-08-20 03:11] pranavkm commented on #13223
All yours @danroth27

[2019-08-20 04:47] kyurthich commented on #13243
Yes correct on the scoped mention! Thanks for that.

I am utilizing it for storing a couple properties that need to persist through out the whole session.

I think it was weird that when the code is used either in a linked component outside the main layout or even just used in the main layout without a component it populates the properties in AppCache.

If I reference the component directly into t

[2019-08-20 04:58] wangjia184 opened #13270 "Feature request : Allow configure TCP backlog"
### My feature request is related to a problem

I have ~20 machines and each of them keeps sending HTTP requests to my web server and client encounters following exception in rare(< 0.01%) case.

### The solution is to increase TCP backlog

I believe the issue is because TCP backlog is full in a short period and it couldn't accept new connections.  but it seems there is no way to customize TCP bac

[2019-08-20 05:15] dougbu commented on #11701
@JunTaoLuo does any work remain here now that #13044 is in?

[2019-08-20 05:28] alialiyari commented on #12712
replace it with

`Microsoft.AspNetCore.Components.Layouts.LayoutAttribute`

[2019-08-20 05:48] Ap0k commented on #13246
Using the preview version of Visual Studio 2019 did not solve the problem. The same error.
Can the reason for the fall be due to the packages used and the fact that the studio cannot correctly resolve dependencies for related projects?

[2019-08-20 06:52] rbluethl commented on #8952
Since the issue still wasn't resolved when I installed Preview8 yesterday, I tried to run both `dotnet dev-certs https --clean` and `dotnet dev-certs https --trust` again, without success.

I found that Kestrel was still using an old, outdated certificate, but I wasn't able to locate the said certificate in the Windows certificate manager. Turns out that the certificates are cached here: `C:\Users

[2019-08-20 07:32] dpeter99 opened #13271 "Data model validation won't accept empty strings"
### Describe the bug
ASP.NET Core 3 (3.0.0-preview8.19405.7)

In my data model I get a ``Dictionary<string, string>`` form the client and unless all the keys have a Value (not just empty string, but actual content) it comes up as invalid model.

This part of my code was working before I upgraded to .net 3, so i suspect that there are some changes to that part of asp.net core.

I tried adding the `

[2019-08-20 07:42] TehWardy commented on #13258
I will close this ticket and raise another one if I get stuck again ... I feel like I just used you guys as my rubber duck :)
I'm sill having issues but nothing that I can specifically point at and state "this is signalr".

Thanks all for your patience (hopefully this thread will help make aspnet core better in some way :)

[2019-08-20 07:42] #13258 closed

[2019-08-20 07:49] ghhv opened #13272 "Async Tasks - JsonSerializationException: Self referencing loop detected for property 'task' with type"
### Describe the bug
The following error now occurred for me in Core 3 Preview 8 when calling an async task from a non-async call in a Controller. The error message sent me down the rabbit hole of trying to get JsonSerialization to globally ignore self referencing loops in Core 3 which I still could not work out how to do since Core 3 no longer uses .AddMVC() in Startup.

I was passing my data bac

[2019-08-20 08:30] maxcherednik opened #13273 "TestServer response does not contain Transfer-encoding header"
### Describe the bug
While using the TestServer and the test http client, the `Transfer-encoding` header with the `chunked` value is missing. However, when the endpoint is checked with a browser, the header is there. Same with a Postman request without any request headers.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2.6
2. This test code is failing
[c

[2019-08-20 08:50] a-stankevich commented on #12890
This actually sounds like a good option. You've done really great job creating and maintaining it so far. Having a node process being managed by asp.net application is a huge relieve for developers.
Now at this point the community around it seems to be mature enough to be able to maintain it. Speaking of that, what would be the recommended process of doing so? Is it just about taking current sourc

[2019-08-20 09:19] thomasclaudiushuber opened #13274 "[Blazor] Tags for custom elements / components should contain a dash"
### Is your feature request related to a problem? Please describe.
The HTML specification says that new standard HTML elements won't contain a dash. When you create custom elements - in Blazor: components - you might want to ensure forward compatibility, so that your component still works when HTML introduces a new element. To ensure that forward compatibility, your component tag should contain at

[2019-08-20 09:37] 2nd4ce commented on #13232
Hi @pranavkm ,

Admittedly, I am relatively new to both ASP and Blazor, so I may have messed up something.

Please find enclosed the version when I had that problem. I changed the buttons since then.
When you navigate to "/materials/{id}/change " and then use the "Display" button, it actually performs the "OnValidSubmit" call.

[BAServer-abbaa6d1450537f781653cd2429196639d92a0b0 (1).zip](https://gi

[2019-08-20 10:17] akorchev commented on #13190
FWIW static assets seem to work just fine in production without calling `UseStaticWebAssets` or having launchSettings.json. It is probably something else that is causing `UseStaticWebAssets` to be invoked.

[2019-08-20 10:38] csMACnz commented on #12998
I found this issue from similar symptoms and wanted to add an extra bit of information that helped me diagnose, for the next person who sees this.

Something in the request was taking too long, which was triggering the HttpClient's default timeout of 100 seconds. AspNetCore Cancellation Tokens don't cause an immediate failure, but instead will trigger when you try to write your response, giving th

[2019-08-20 11:02] Aspro1 commented on #3210
I encountered this error when trying to launch a downloaded project in which the target framework version was different from the version installed in my environment. I opened the “.csproj” file in a text editor, corrected the version in the “TargetFramework” node and saved the modified file. In order to be sure to make the changes take effect, I closed and reopened the Visual Studio solution conta

[2019-08-20 11:33] pgrho opened #13275 "Blazor markup method generates invalid C# code with CS0103"
### Describe the bug

Markup method defined in Blazor `@functions` directive generates code that depends on a parameter `RenderTreeBuilder builder` but it won't be added to the method automatically.

### To Reproduce
Steps to reproduce the behavior:
1. Using Blazor 3.0.0-preview8.19405.7
2. Define markup function in a `.razor` file (Copied from [Microsoft Docs](https://docs.microsoft.com/en-us/asp

[2019-08-20 11:37] javiercn commented on #12795
@chrdlx Partially. We have an issue to update the docs. You can render components with parameters statically or server-side components without parameters.

Support for parameters is something we might consider bringing back in the future, although it would work differently by serializing the data into the page and then re-hydrating it.

[2019-08-20 12:01] javiercn commented on #8952
I imagine that's because you are using docker containers. That's the location where docker exports the certificate to import it into the container.

@anurse we could add this to the docs I think. I'm not sure the implications cleaning this folder have for the docker folks, but we can ask them.

What I don't want is to add this to the tool, as its a docker tooling implementation detail and has noth

[2019-08-20 12:08] vasyliv opened #13276 "SignalR Error: Cannot send data if the connection is not in the 'Connected' State"
### Describe the bug
Fast navigating between pages returns an Error: Cannot send data if the connection is not in the 'Connected' State

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2'
2. Run code from this repo https://github.com/RenetConsulting/angularcore.net (or go to this website https://open-source.azurewebsites.net/home)
3. go to page **blogs**

[2019-08-20 12:32] jez9999 opened #13277 "Can't load PDBs from Microsoft Symbol Server"
I'm trying to debug ASP.NET Core by disabling Just My Code, enabling Source Link support, and selecting the Microsoft symbol servers as the symbol servers to load from.  However, when I try to set a breakpoint for `Invoke` (I'm trying to debug `StaticFileMiddleware.cs`), Visual Studio 2019 tells me the PDB isn't loaded ("Microsoft.AspNetCore.StaticFiles.pdb not loaded").  It looks like it couldn't

[2019-08-20 12:33] dennisbappert commented on #13207
The referenced article explains on how to set the cookie options by implementing SignInAsync which is part of the [RemoteAuthenticationHandler ](https://github.com/aspnet/AspNetCore/blob/d8381656429addead2e5eb22ba1356abfb419d86/src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs) class (line 140). You can modify the passed AuthenticationProperties by implementing the OnTicketReceiv

[2019-08-20 13:10] poke commented on #12890
@a-stankevich:

You could probably run a `git filter-branch` to extract the original history of that code. That way, you are automatically including proper attribution for the original work.

[2019-08-20 13:49] chobo2 commented on #13259
@rynowak

I have not seen the problem since moving out that code to startup but also not have hit that same threshold of users so can't put the issue to rest yet.

However I did get this error and not sure if it is related or a different issue(if it is then I will create a new ticket if warranted)

[code]

[2019-08-20 14:03] JavaPaulFox opened #13278 "No templates matched the input template name: blazorwasm."
### Describe the bug
No blazorwasm template. I have tried to create new project blazorwasm but via Visual Studio I have only one option - Blazor Server App. Via console I have the same situation.

.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview8-013656
 Commit:    8bf06ffc8d

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:

[2019-08-20 14:40] thomasclaudiushuber commented on #13278
You need to run the following command on the command line to get the _blazorwasm_ template:

[code]

After that you should see it when you run
[code]

From the command-line, use the --hosted param to create a WebAssembly project with Server project and Shared-Project like this
[code]

[2019-08-20 15:02] arivoir opened #13279 "Static files not working on Blazor apps using Razor Class Library (RCL)"
### Describe the bug
Static resources in the "wwwroot" folder of a Razor class library RCL, aren't deployed correctly. This is causing apps to crash due to the JavaScript interop to throw exception because js files aren't in place.

### To Reproduce
Steps to reproduce the behavior:
1. Create a Blazor application (Any server-side or client-side)
2. Create a new RCL project.
3. Add a reference from

[2019-08-20 15:03] danroth27 commented on #5479
We expect to shift our focus from Blazor Server to Blazor WebAssembly after shipping .NET Core 3.1 later this year. As part of the Blazor WebAssembly work we expect to look at addressing PWA scenarios.

[2019-08-20 15:06] MarkusRodler opened #13280 "External SVGs are not rendered"
External SVGs are rendered into the DOM but are not visually rendered by the browser (Chrome, Edge Chromium in my case).
It appears this issue is due to the way how the DOM is updated in BrowserRenderer.ts.
This issue seems very similiar to this issue: https://github.com/aspnet/Blazor/issues/366
I did some research and it appears this is maybe the reason:
[code]

### Describe the bug
A clear and c

[2019-08-20 15:16] BrennanConroy commented on #13276
Both of those errors are showing up because you aren't observing the tasks from `connection.start()` and `connection.stop()`.

If you'd like to avoid them you could write something like:
[code]

[2019-08-20 15:26] rbluethl commented on #8952
Thanks for elaborating.

Adding this to the documentation will help folks save some time. Thanks a lot!

[2019-08-20 15:31] rynowak commented on #13259
That looks like a normal disconnect - ie: client disconnected after sending incomplete data. Do you have any reason to believe this is a problem in your app code?

[2019-08-20 15:45] vasyliv commented on #13276
@BrennanConroy your solution will fix this error:
[code]
how about this one?

[code]
do you know what produces this error?
I've tried to use ``catch`` in both methods ``stop`` and ``start`` but sometimes I still see it.

[2019-08-20 15:46] rynowak commented on #13243
The Layout is going to render for the first time before you

[2019-08-20 16:04] BrennanConroy commented on #13276
That one should also be coming from `start`, I'd need a simple repro to be able to look into it.

[2019-08-20 16:05] rynowak opened #13282 "Completion for directive attributes repects inclusion/exclusion of the types in the `.Web` namespace"

[2019-08-20 16:05] rynowak commented on #13113
https://github.com/aspnet/AspNetCore/issues/13282

[2019-08-20 16:09] javiercn commented on #13254
Validated by deploying an app to app service, turning up the logs for app insights and ensuring we can find the events in the logs

![image](https://user-images.githubusercontent.com/6995051/63364309-2ea32f80-c32a-11e9-84d3-217142f9c7fc.png)

[2019-08-20 16:12] chobo2 commented on #13259
No real reason to believe it would be code issue just one customer has reported seeing some message that said something like "api uploading 0%" but I am still trying to get hold of that customer to do a screen share, so in the mean time I saw this error that I never seen before and thought may they are linked.

Will keep you posted.

[2019-08-20 16:19] pranavkm commented on #13246
@Ap0k could you share a minimal repro of the issue? It'd help diagnosing this issue quicker.

[2019-08-20 16:23] jez9999 opened #13284 "ENC1003 C# Changes made in project will not be applied while the application is running"
Every time I create a brand new ASP.NET Core 3.0 MVC application project, even if I make no changes, when I his F5 and debug the project I get this error for every C# file:

![image](https://user-images.githubusercontent.com/793830/63364958-7f3c7c00-c36e-11e9-812c-a19afb1cc9f9.png)

This seems like a bug because it's a pointless warning cluttering up the warnings window.  There appears to be no wa

[2019-08-20 16:24] danroth27 opened #13285 "Blazor Server localized content is in the wrong folder"
We moved the Blazor Server template to the [BlazorServerWeb-CSharp](https://github.com/aspnet/AspNetCore/tree/master/src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp) folder, but it looks like the localized content is still in the old [RazorComponentsWeb-CSharp](https://github.com/aspnet/AspNetCore/tree/master/src/ProjectTemplates/Web.ProjectTemplates/content/RazorComponent

[2019-08-20 16:25] kyurthich commented on #13243
So here is my injected class.
`using Surgere.Web.Console.Client.Services.Contracts;
using Surgere.Web.Console.Shared.Surgere.Client;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;

namespace Surgere.Web.Console.Client.Cache
{
    public class AppCache
    {
        private readonly IClientApi _clientApi;
        public List<ClientInfo> ClientInfo {

[2019-08-20 16:27] danroth27 commented on #13285
It also looks like the BlazorServerWeb-CSharp folder has the localized content, so I think we just need to delete RazorComponentsWeb-CSharp.

[2019-08-20 16:37] pranavkm commented on #13272
@ahsonkhan \ @steveharter would it make sense to throw if the value to `Serialize` is a `Task` type? It's almost never useful to try and serialize one of these and indicates a bug in user code.

[2019-08-20 16:41] pranavkm commented on #13252
@nino-s thanks for your issue report. Unfortunately this is a nor a feature we have or plan on adding to MVC at this point.

[2019-08-20 16:41] #13252 closed

[2019-08-20 16:49] pranavkm commented on #13279
@arivoir did you include the css and scripts from the Razor Class Library in your main application? These aren't auto included in your Blazor application.

[2019-08-20 16:50] pranavkm commented on #13278
Closing as answered by @thomasclaudiushuber

[2019-08-20 16:50] #13278 closed

[2019-08-20 16:52] pranavkm commented on #13275
@pgrho thanks for the issue report. This is a bug and we don't have a good solution to resolving this in 3.0. We're going to work on improving this as part of our next release.

[2019-08-20 16:53] pranavkm commented on #13274
@thomasclaudiushuber thanks for the suggestion. This is not an area we plan on investing in at this point.

[2019-08-20 16:53] #13274 closed

[2019-08-20 16:56] pranavkm commented on #13225
This issue was moved to mono/mono#16364

[2019-08-20 16:56] #13225 closed

[2019-08-20 16:59] pranavkm commented on #13222
Thanks for contacting us, @QadiymStewart .
This sounds like a question about authoring application code, and not specifically a Blazor issue. We recommend posting this question to StackOverflow.

[2019-08-20 16:59] #13222 closed

[2019-08-20 17:02] pranavkm commented on #13215
@tnc1997 thanks for the issue report. We'll track fixing this for the next Blazor release.

[2019-08-20 17:03] arivoir commented on #13279
From the documentation
https://docs.microsoft.com/en-us/aspnet/core/blazor/class-libraries?view=aspnetcore-3.0&tabs=visual-studio

And the other documentation page https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.0&tabs=visual-studio

Do you mean this isn't true?

Yes, I tried copying the files manually in the app and adding the references in _Host.cshtml. It wor

[2019-08-20 17:05] pranavkm commented on #13212
With the recent changes to Router, it's likely we don't need two separate _Imports.razor. We could look at consolidating the two.

[2019-08-20 17:05] pranavkm commented on #13218
This issue was moved to mono/mono#16365

[2019-08-20 17:05] #13218 closed

[2019-08-20 17:12] pranavkm commented on #13212
I re-read your question. Our templates currently have a single `_Imports` since we're leveraging a new feature in the router. You may have any number of `_Imports.razor` if your app requires it.

`.razor` files are used exclusively to define components. The `_Host.cshtml` files is used to bootstrap the Blazor application.

[2019-08-20 17:12] #13212 closed

[2019-08-20 17:22] NTaylorMullen commented on #13206
Hey @kugarliyifan, latest Razor does not work in winform projects sadly. This is why you don't get proper Razor directives in your Razor file (the project is treating your files as classic ASP.NET Razor). Sadly there isn't a great way to workaround this limitation without writing your own Visual Studio extension.

[2019-08-20 17:23] javiercn commented on #13255
Validated by capturing the logs on the application.

![image](https://user-images.githubusercontent.com/6995051/63369270-6dd67e00-c334-11e9-8501-60572875ea14.png)

[2019-08-20 17:32] danroth27 commented on #12890
@a-stankevich Yes, we would recommend moving the code to a new repo, and renaming the packages and namespaces to remove the "Microsoft" branding. Since the code is already owned by the .NET Foundation we would also be happy to help get the project setup as a new .NET Foundation project.

If anyone is interested in taking this on please feel free to reach out to me and we can discuss in further det

[2019-08-20 17:34] alexdresko commented on #12890
@danroth27

What are the requirements?

[2019-08-20 17:40] BrianTheStangLover opened #13287 "Apache SignalR Secure Websocket Error: 200"
I'm currently running a .Net Core application with SignalR on an Ubuntu Apache web server. This .Net Core app is reachable by the https://example.com/api path which directs it to the localhost:5000.

I also have a Vue JS app running on the webserver as well. When I attempt to establish a websocket connection to the the SignalR application, the following error occurs:

The client then falls back an

[2019-08-20 17:42] vasyliv commented on #13276
@BrennanConroy here is the simple repo to reproduce the issue
https://github.com/vasyliv/signalr

[2019-08-20 17:49] pranavkm commented on #13284
@tmat \ @jaredpar would you know what could be causing this? I can see this when trying to run any ASP.NET Core Web Application using 3.0-preview8 + VS 16.3 Preview 2. More interestingly, this message pops up any time I edit a vanilla console application:

![ENC](https://user-images.githubusercontent.com/174281/63371024-2225d380-c338-11e9-829f-28e589af765c.gif)

Is this expected?

[2019-08-20 17:49] AYanuseuskaya commented on #13166
Good day @mkArtakMSFT. I wrote the contents of the output of my project when building and when stopping debugging. If the reason is in the Blazor version or SDK could you tell me how can I see what versions are installed on my computer? Can the browser used be the cause?

[2019-08-20 17:50] danroth27 commented on #12890
@alexdresko None really other than a strong desire to contribute to the .NET community and ecosystem. The code is open source and freely available so anyone can do with it what they want.

[2019-08-20 17:53] ghidello commented on #13103
@arivoir from my tests publishing a server-side project was working correctly but maybe I didn't check well enough. On client-side my temporary workaround is to copy the content of the **publish/wwwroot/** into the **publish/ProjectName/dist/** folder.

[2019-08-20 17:53] pranavkm commented on #13113
Unassigning @SteveSandersonMS since he's out most of validation week.

[2019-08-20 17:54] pranavkm commented on #7238
Moving this out to a later milestone.

[2019-08-20 18:07] javiercn opened #13288 "[Blazor] Reload link doesn't work"
![image](https://user-images.githubusercontent.com/6995051/63372309-a8dbb000-c33a-11e9-8303-1fd635ab4a52.png)

That button doesn't work when the connection is lost.

[2019-08-20 18:11] thepok opened #13289 "Can't change dotnet run configuration to Release"
If i run

dotnet run -c Release on my Windowsmachine it works fine

if i run
dotnet run
 on my linux machine it works to, but if i run
dotnet run -c Release
on Ubunto i get a Cryptic error:

 brainboostbreak@v22019078670492584:~/repos/BrainBoostBreak$ $HOME/dotnet/dotnet run -c Release --project ~/repos/BrainBoostBreak/BrainBoostBreak.Server
/home/brainboostbreak/.nuget/packages/microsoft.aspnetco

[2019-08-20 18:13] dmorrison42 opened #13290 "[Blazor] Binding fails inside SVG `foreignobject` tag"
### Describe the bug
Cannot bind to an input inside of a foreignobject svg tag.

Instead, the input tag fails to render completely with no errors in the web or server console.

### To Reproduce
Attempt to do a bind inside of a foreignobject svg tag. (tested on server side blazor)

[(Example)](https://github.com/dmorrison42/blazorsvgtest)

[code]

### Expected behavior
Bind works as with a native i

[2019-08-20 18:13] Pilchie commented on #13277
@dougbu any ideas?

[2019-08-20 18:15] NTaylorMullen opened #13291 "Update default Razor versions in VS to be 3.0"
Today when you open a project we assume the Razor version by the suffix of the Razor file (.cshtml -> 2.2 MVC, .razor -> 3.0 MVC). However, when you open a .cshtml file we should start assuming 3.0 MVC (because that's what is released).

I've already done the code bits of this work here: https://github.com/aspnet/AspNetCore-Tooling/tree/nimullen/13291

Just need to verify it actually works in VS a

[2019-08-20 18:17] #11701 closed

[2019-08-20 18:19] dcb99 commented on #3977
I think this is a great idea. I don't use any aspects of MVC in my core apps, and it would be great to not have the extra bloat that comes with having to use MVC.

[2019-08-20 18:26] BrennanConroy commented on #13276
Thanks!

There can be an uncaught promise in https://github.com/aspnet/AspNetCore/blob/5b2f3fb5f7f24ac3e91c5150a55cc411b2b36b76/src/SignalR/clients/ts/signalr/src/WebSocketTransport.ts#L90

because we don't try catch around `onreceive`

We'll look at fixing this in a future release.

[2019-08-20 18:32] mconnew opened #13292 "When using a ConnectionHandler, socket is left open after Kestrel close"
### Describe the bug
AspNetCore 2.1 doesn't automatically close the socket when a ConnectionHandler's OnConnectedAsync returned Task completes. On AspNetCore 2.2, the socket is automatically closed on Task completion. If the connection handler implementation never closes the socket, then the socket remains open indefinitely, even after Dispose has been called on the IWebHost.

### To Reproduce
Ste

[2019-08-20 18:32] AlbertoBonfiglio opened #13293 "WebApi The collection type 'Newtonsoft.Json.Linq.JToken' is not supported"
### Describe the bug
On a ASPNetcore 3.xx webAPI when a controller action accepts a JObject as parameter, during execution the server throws the following exception.  System.NotSupportedException: The collection type 'Newtonsoft.Json.Linq.JToken' is not supported.

It works correctly in 2.2

### To Reproduce
Steps to reproduce the behavior:
1. Using AspNetcore 3 preview 7 and 8
2. Run this code '.

[2019-08-20 18:51] #13255 closed

[2019-08-20 18:52] BrianTheStangLover commented on #13287
Looks like the same issue is also posted here with no solution: https://github.com/aspnet/SignalR/issues/376

[2019-08-20 18:52] pranavkm commented on #13293
`JObject` is a `Newtonsoft.Json` specific type. You'll need to configure your application to add support for it in MVC: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio#jsonnet-support

[2019-08-20 18:52] #13293 closed

[2019-08-20 18:52] #13254 closed

[2019-08-20 18:57] T3charmy opened #13294 "Define redirect location on sign in"
### Is your feature request related to a problem? Please describe.
I would like to be able to define what happens after user logs in.

### Describe the solution you'd like
My suggestion is to change [this line](https://github.com/aspnet/AspNetCore/blob/5b2f3fb5f7f24ac3e91c5150a55cc411b2b36b76/src/Azure/AzureAD/Authentication.AzureAD.UI/src/Areas/AzureAD/Controllers/AccountController.cs#L27), simil

[2019-08-20 19:01] alexsandro-xpt commented on #12120
@anurse So, when this will be released?

[2019-08-20 19:15] pranavkm commented on #13288
/cc @NTaylorMullen

[2019-08-20 19:19] mconnew opened #13295 "Need mechanism to apply back pressure to accepting new incoming connections"
### Is your feature request related to a problem? Please describe.
To match functionality with WCF on .NET Framework, CoreWCF needs to be able to control the number of pending accepts. When a client connects to WCF using the NetTcp transport, there is a handshake that needs to be completed which includes authentication and security upgrade negotiation. After a connection has been established and w

[2019-08-20 19:26] AlbertoBonfiglio commented on #13293
Sir, I would hug you if I could!

[2019-08-20 19:28] rynowak opened #13296 "Design considerations for libraries based on JS Interop"
**The below text was posted by @egil on https://github.com/aspnet/AspNetCore/issues/12082 - moving it here so we can continue the discussion.**

OK @rynowak, let me share my current thoughts, maybe you can fill in a few gaps :)

My scenario is primarily a component library/service library setting. Ideally, since Razor components leverages dependency injection, the users of my library doesn't need

[2019-08-20 19:39] egil commented on #13296
Thanks @rynowak (although I hope my text does not "blow" 😎)

[2019-08-20 19:41] rynowak commented on #13296
Fixed lol. Sorry for the bad typo.

It sounds like you already figured out the solution - if you want to totally abstract away the fact that JS Interop is used here, you're going to to want to create your own exception type and throw that consistently. Consumers of your library will need to be aware that it can fail, just like anything that's network-based.

---

The JS Runtime will [throw during

[2019-08-20 19:52] #12886 closed

[2019-08-20 20:02] dougbu commented on #13277
Could be one of two things:
1. Someone missed pushing symbols when we published v2.1.1 or v2.2.0 (the highest versions of Microsoft.AspNetCore.StaticFiles available on NuGet).
2. Pushes for our shared framework assemblies (like Microsoft.AspNetCore.StaticFiles.dll) weren't working for the specific release here.

@jez9999 which version of Microsoft.AspNetCore.StaticFiles.dll are you using? If it's

[2019-08-20 20:11] pranavkm commented on #13232
[code]

`button` tags without a `type` default to [`submit`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#attr-type). This explains why you're seeing it submit. Changing it to `type="button"` should fix the issue. An anchor tag like you posted in the initial description should work just as well.

[2019-08-20 20:11] #13232 closed

[2019-08-20 20:18] tsmccartan opened #13297 "Blazor + PowerBI Embedding"
I have a Blazor App and am trying to Embed a Power BI Report within a component.  I have the following sample: https://docs.microsoft.com/en-us/power-bi/developer/embed-sample-for-customers

And this sample uses ASP.NET Core and it is working great, after configuring it to our Dedicated Power BI Server in Azure.

I have basic reports embedded in my blazor app and it works fine, I am able to load t

[2019-08-20 20:29] BrennanConroy commented on #13287
What endpoint is your hub on?

From my untrained eye it looks like for normal http requests "http://xyz/api" would go to "http://localhost:5000/" but for websockets "http://xyz/api" would go to "http://localhost:5000/api".

If that's not it and doesn't help, could you gather [server-side logs](https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2) to see what the server is

[2019-08-20 20:41] #12889 closed

[2019-08-20 20:43] pranavkm commented on #12725
Feel free to reopen if you have further questions.

[2019-08-20 20:43] #12725 closed

[2019-08-20 20:43] BrianTheStangLover commented on #13287
Thank you very much for the reply,

The SignalR application runs on `localhost:5000`. I have another application running on this server as well, so I use the Apache config to route any requests with the `/api` at the end to the SignalR app at port 5000. So to reach the SignalR app all requests go to https://xyz/api

I'm trying to understand how the websocket requests would go to the http://localho

[2019-08-20 20:44] Tratcher commented on #13273
That header is a transport detail. TestServer doesn't implement chunking. Why do you need it?

[2019-08-20 20:48] BrennanConroy commented on #13287
So the hub is at `http://localhost:5000/mainHub`?

Wouldn't `/(.*)` capture `/api/mainHub` and place that at `$1`? So you would end up with `ws://localhost:5000/api/mainHub` when you want `ws://localhost:5000/mainHub`?

[2019-08-20 20:53] TiagoBrenck commented on #13180
It was my mistake. The *preferred_username* claim is present on id_token not access_token. The code is working as expected.

[2019-08-20 20:53] #13180 closed

[2019-08-20 20:55] rynowak commented on #13186
Moving this to 3.1 just to get it out of our faces for 3.0. We should still treat this as a priority.

[2019-08-20 20:55] BrianTheStangLover commented on #13287
Correct, the hub is at `http://localhost:5000/mainHub`

Ah, yes this makes sense. I've tried changing the rewrite rule to `RewriteRule /api ws://localhost:5000/$1 [P]` I'm trying a few other combinations, but I believe my syntax still may be off? I'm a bit new to Apache...

[2019-08-20 21:00] NTaylorMullen commented on #13288
Hmm, I didn't change how we suggest the user page reloads (it uses an `<a href>...</a>` tag) but I can definitely see what you're seeing in `dotnet new blazorserver`. Also, it doesn't seem like it's consistent either. In Blazors test app it worked just fine:

![image](https://i.imgur.com/6SRW6yV.gif)

Tried reproducing it working in a `dotnet new blazorserver` template app and haven't been able to

[2019-08-20 21:01] #13086 closed

[2019-08-20 21:02] rynowak commented on #12064
Thanks @nguerrera

[2019-08-20 21:02] #12064 closed

[2019-08-20 21:02] markvincze opened #13299 "With .NET Core 3.0, instances become unresponsive, seems to be stuck with only doing gen2 GC"
### Describe the bug
After upgrading to ASP.NET Core 3.0, sometimes our API instances (it doesn't happen to every instance, and sometimes it starts happening only after hours of normal operation) become unresponsive, all their endpoints slow down by a huge margin, they reply after hundreds of seconds instead of the normal response time (which is around a second on average).

I started using [prome

[2019-08-20 21:03] rynowak opened #13300 "Verify PublishTrimmed works for ASP.NET Core Web/Blazor/API templates"
See https://github.com/aspnet/AspNetCore/issues/12064

[2019-08-20 21:05] rynowak commented on #13030
It's been at least one night.

[2019-08-20 21:09] HaoK commented on #9403
change merged into Preview9, will merge/cherry pick to master for 3.1/5.0

[2019-08-20 21:09] #9403 closed

[2019-08-20 21:10] halter73 commented on #13266
The problem seems to be that SignalR starts closing the connection as soon as ApplicationStopping fires. It might be interesting to have something like BeforeApplicationStopping that could be "blocked" with a task for users to send messages to clients. @Tratcher

[2019-08-20 21:18] halter73 commented on #13200
SignalR does not use the request DI scope. It creates its own scope per hub-invocation. This is partly due to the possibility of a single request triggering multiple invocations. Creating some sort of hub pipeline module to configure your service might be an alternative/addition to the middleware once we add a hub pipeline. https://github.com/aspnet/AspNetCore/issues/5353

[2019-08-20 21:18] NTaylorMullen commented on #13288
So talked offline. Given that this behavior hasn't changed from previous Blazor releases (we brought forward how we suggested users reload the page) and that it's pretty obvious for a user to just "reload" in their browser I'm going to park this in 3.1

[2019-08-20 21:19] pranavkm opened #13301 "Add tests to verify building 3.0 projects with the RazorSDK works"
Once we switch to 5.0 as the mainline target in the SDK, we should add some tests to verify 3.0 targeting MVC and Blazor applications work correctly.

[2019-08-20 21:25] BrianTheStangLover commented on #13287
I've got it! Went trough some of the Apache RewriteRule documentation and set my rewrite rule to the following: `RewriteRule ^/api/(.*) ws://localhost:5000/$1`

Thank you very much for the help!

[2019-08-20 21:25] #13287 closed

[2019-08-20 21:27] jkotalik commented on #13030
TL;DR I wasn't able to repro it with any additional information/logging, @halter73 started running it on his machine and wasn't able to repro it either... @halter73 should I continue my investigation on this?

[2019-08-20 21:28] #13096 closed

[2019-08-20 21:36] Postlagerkarte commented on #5456
I have talked to a few people who are confused about auto-rebuild and auto-refresh.
This mainly is due to the fact that when you change code in Visual Studio the auto-rebuild feature kicks in and you also see that "something" is hapening in the browser.  This something is often mistaken for a live reload attempt.
Then (due to the fact that the signal-r connection can not reconnect to the old state

[2019-08-20 21:36] pranavkm commented on #13299
/cc @sebastienros

[2019-08-20 21:51] #13073 closed

[2019-08-20 22:02] sebastienros commented on #13299
/cc @Maoni0 for visibility

This is not something we have experienced so far, so we'll need more information to diagnose the issue. Even better if we can repro it locally, even if it means running it for a long time.

Would you be able to take a memory dump using https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-dump-instructions.md at least to know what kinds of objects are t

[2019-08-20 22:17] #13165 closed

[2019-08-20 22:19] markvincze commented on #13299
@sebastienros thanks for the reply!

The API is pretty much a wrapper for a third-party, proprietary business rule engine called [InRule](https://www.inrule.com/), with which it evaluates certain business rules. On every request, the API executes some business rules using InRule's .NET SDK, which is CPU-intensive operation, happening in the same process.
Due to the runtime of this rule engine bein

[2019-08-20 22:23] dazinator commented on #5456
@chucked thanks for the disable linker tip. That does up the build marginally but then the subsequent browser reload is much slower as it now downloads much more chaff- I'm not sure whether overall it has helped or not :-) but worth knowing.
If anyone is curious to see blazor reload in action (for blazor client / wasm) projects, you can run this project here to see what I mean: https://github.com/

[2019-08-20 22:25] danroth27 commented on #5456
@Postlagerkarte We do try to reconnect, but since the server state is gone when the process is recycled the reconnection fails. We've done some work in this space to try to improve the user experience. See the "Improved reconnection logic for Blazor Server apps" section in the [Preview 8 announcement blog post](https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-p

[2019-08-20 22:26] #13071 closed

[2019-08-20 22:27] dazinator commented on #5456
@Postlagerkarte improved that error message in [preview8](https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-8/)

[2019-08-20 22:29] halter73 commented on #13188
Kestrel currently treats the connection as fully aborted as soon as it receives a FIN. That's because thats how most HTTP clients abort connections. If you want to keep the connection open to receive a response, the client must wait to receive the response before sending a FIN.

However, for more generic TCP scenarios, we should look at supporting half-closed connections. @mconnew

[2019-08-20 22:32] NTaylorMullen commented on #13072
@danroth27 there are several locations in our Blazor project templates that aren't nullable enforcement friendly. Is this something we want to address or leave as is? I'm uncertain of C#'s plans to turn the feature on by default or not so this decision might be largely based on that decision as well.

For context in Blazor server side app there's:
[code]

Blazor WASM:
[code]

[2019-08-20 22:32] #13072 closed

[2019-08-20 22:33] halter73 commented on #13221
This does seem to be coming from IIS(Express). Can you share your entire web.config?

[2019-08-20 22:34] pranavkm opened #13303 "Re-enable F# tests when we have a 5.0 compatible F# SDK"
Extensions:
* [ ] Microsoft.Extensions.Configuration.UserSecrets.MsBuildTargetTest.GeneratesAssemblyAttributeFile

RazorSDK:
* [ ] Build_SimpleMvcFSharp_NoopsWithoutFailing
* [ ] Publish_SimpleMvcFSharp_NoopsWithoutFailing
* [ ] Build_ProjectWithDependencyThatReferencesMvc_AddsAttributeToNonCSharpProjects

[2019-08-20 22:34] #13178 closed

[2019-08-20 22:35] sebastienros commented on #13299
Apparently we are back to the recent issue you filed: https://github.com/aspnet/AspNetCore/issues/13058

At the end of the thread you mentioned you had isolated the issue to be in InRule as removing the call was fixing your issues.

Only traces and dump will help us identity the issue otherwise.

[2019-08-20 22:36] #13074 closed

[2019-08-20 22:37] halter73 commented on #13248
It is interesting to see the "(canceled)" and "CAUTION: provisional headers are shown" for the failed requests. This implies the requests were never in fact made https://stackoverflow.com/a/21179105/719967

[2019-08-20 22:39] #13076 closed

[2019-08-20 22:40] NTaylorMullen commented on #13113
My validation is done.

[2019-08-20 22:40] pranavkm opened #13304 "Remove workaround in Build_ImplicitCSharp8_NullableEnforcement_WarningsDuringBuild_NoBuildServer test when compiler targets are updated to support .NET 5.0"
`Build_ImplicitCSharp8_NullableEnforcement_WarningsDuringBuild_NoBuildServer` assumes that the compiler uses C# 8.0 for projects targeting .NET Core 3.0 or later. However, the Roslyn targets assume C# 7.3 for netcore5.0 projects. Once we've picked up a new SDK that uses the correct defaults for .NET Core 5.0 we can remove the workaround.

[2019-08-20 22:40] srowan commented on #5456
Depending on the horizon / timeline for live reload, Is it worth considering a separate issue to improve compile speed?  Perhaps via a caching strategy similar to how MVC/cshtml works (I believe only views that have changed get recompiled)?  Are there any potential low hanging fruit here?

Right now the 10 second cycle time between making a change and seeing it in the browser is just a really big

[2019-08-20 22:42] halter73 commented on #13270
This might be too esoteric, but it's something we should consider as we want to be a more general-purpose TCP server stack. I would make the Tcp/ListenBacklog a transport option if we do this. I would hope the default backlog of 512 is sufficient for most scenarios where servers aren't completely overloaded.

[2019-08-20 22:50] halter73 commented on #13219
This is something we should look at doing again in future releases if we can prove that not doing this can cause truncation on .NET core. I doubt we would patch for this. If we were to consider this for 2.1, it would have to behind an AppContextSwitch since this change would be pretty significant.

[2019-08-20 22:51] djhaanpaa commented on #12333
Added set and it now works @AndrewNikolin

[2019-08-20 22:51] #12333 closed

[2019-08-20 23:01] halter73 commented on #13292
Discussing this in triage, there are not really many options in 2.1. In 3.0 we did a major refactoring to track any ConnectionContext and not just HTTP connections in Kestrel. I doubt we could backport this. Maybe you could replace Hosting's sigterm/ctrl+c event handlers? I feel bad just typing that.

[2019-08-20 23:01] nikprotsman commented on #13279
I can second this issue, following Microsoft documentation does not provide a successful path to functionality for the RCL.

Steps taken to reproduce and result are the same as @arivoir outlined above.

[2019-08-20 23:16] ajaybhargavb commented on #11921
@TheMightyMat thanks for that. I am now able to reproduce your issue. It happens even on the latest SDK. I'll look into it.

[2019-08-20 23:20] ajaybhargavb commented on #13183
Application crashed when i click into input file, this issue is not happened in preview 7

@hqc01234 I tried but it still doesn't crash when I debug from VS. Could you provide more info like what build of VS you are using? And which dotnet SDK? Also could you provide a repro project even though the instructions are simple (I want to make sure I'm not missing anything)?

[2019-08-20 23:23] danroth27 commented on #5456
Yes, if you are seeing slow build times please file an issue with details of your build environment.

[2019-08-20 23:25] danroth27 commented on #13072
@NTaylorMullen We should address these, so go ahead and file an issue if you haven't already.

[2019-08-20 23:26] Tratcher commented on #13266
BeforeBeforeBefore* 😁 That way lies madness.

Hmm, StopApplication is the very first signal from Host.StopAsync.
https://github.com/aspnet/Extensions/blob/7005708d7a26e5f6ed4bcb0271f052241033b8a6/src/Hosting/Hosting/src/Internal/Host.cs#L62-L71

What if SignalR notified the app before it started closing connections?

[2019-08-20 23:26] mconnew commented on #13219
The Close code in Socket is different in NetFx and .NET Core. The Socket.Close code in .NET Core looks like it wouldn't cause this problem.

[2019-08-20 23:27] danroth27 commented on #11886
@blowdart @javiercn FYI

[2019-08-20 23:28] mconnew commented on #13292
If the process is exiting (as is the case with sigterm/ctrl+c), then the sockets will get closed on process exit. The issue is when the WebHost closes and the process continues to run.

[2019-08-21 00:37] chrdlx commented on #12795
@javiercn great!! Is there an example of how we should register several components in startup.cs? I downloaded the latest daily build preview9 yesterday and tried in the default template:

endpoints.MapBlazorHub<Counter>("c1");
endpoints.MapBlazorHub<FetchData>("c2");

this fails at runtime, and the MapBlazorHub() (no parameters) doesn't exist anymore.
thanks & Regards!

[2019-08-21 01:00] ghhv commented on #13272
I know returning an object like this is not something you would do in a production environment but if the `Ok` was replaced with `Json`, then that would be reasonable and I guess has the same issues.

[2019-08-21 02:10] simon617 opened #13307 "IFormFile file returns null in ASP Core 3"
I have problem binding a IFormFile field in ASP.NET Core 3. It always return null value. Any idea ?

Thx
[Add.cshtml.cs.txt](https://github.com/aspnet/AspNetCore/files/3523276/Add.cshtml.cs.txt)
[Add.cshtml.txt](https://github.com/aspnet/AspNetCore/files/3523277/Add.cshtml.txt)
[AddItemModel.cs.txt](https://github.com/aspnet/AspNetCore/files/3523278/AddItemModel.cs.txt)

[2019-08-21 02:53] pranavkm commented on #13307
Looks like you have a typo in your code:

`<form method="post" enctyp="multipart/form-data">`

This needs to be:

`<form method="post" enctype="multipart/form-data">`

[2019-08-21 02:53] #13307 closed

[2019-08-21 03:09] youdhbir commented on #13207
Thanks a lot @dennisbappert. It worked.

[2019-08-21 03:09] #13207 closed

[2019-08-21 03:59] jaredpar commented on #13284
@jasonmalinowski for IDE routing.

[2019-08-21 04:03] simon617 commented on #13307
Yes, works perfect. Thx

[2019-08-21 04:06] Maoni0 commented on #13299
it'd be best to [collect GC events](https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-trace-instructions.md) to help diagnose this:

dotnet-trace collect --process-id <PID> --profile gc-collect

[2019-08-21 04:28] phillipbritain opened #13308 "3.0.0-preview9-19419-03 errors"
After installing the latest Preview 9 SDK and updating all of my Microsoft packages to 3.0.0-preview9-19419-03 I am getting the following errors and warnings:

The type or namespace name 'AspNetCore' does not exist in the namespace 'Microsoft'
The type or namespace name 'IHttpContextAccessor' could not be found
The type or namespace name 'Logging' does not exist in the namespace 'Microsoft.Extensi

[2019-08-21 05:42] maxcherednik commented on #13273
@Tratcher There was a controller of ours which supposed to do streaming. Some time ago we realized that that controller did not do it properly. The reason for this behaviour was another middleware. We also had a wrongly implemented integration test - only the status code was checked and the content was never pulled. We found the reason and started to observe in the browser which headers would tell

[2019-08-21 05:56] claudioesposito commented on #13188
It looks current Kestrel behaviour correpond more to RST.  FIN should notify to the server that the client has no more information to send but still give a chance to send an answer.
BTW we tried the same scenario using Apache as reverse proxy, and it works "correctly".
In our use case we would not need to use Apache as both client ans server are on the same server.
-Claudio

[2019-08-21 07:05] Aks-4125 opened #13309 "[JAVA] Error in handshake An unexpected error occurred during connection handshake."
### Error in handshake An unexpected error occurred during connection handshake.

library version:

`  implementation 'com.microsoft.signalr:signalr:3.0.0-.19365.7'`

### To Reproduce
Unfortunately, this happens with random users, QA is unable to reproduce this issue.

Android OS: 8.0
Device: LG

### Crash Report

`Non-fatal Exception: java.lang.RuntimeException: Error in handshake An unexpected e

[2019-08-21 08:22] thepok commented on #13289
The ode is public : https://github.com/thepok/BrainBoostBreak

[2019-08-21 08:42] PinpointTownes commented on #4220
"c"? These labels are more and more succinct 🤣

[2019-08-21 08:51] egil opened #13310 "Blazor browser developer tool extension, that removes the "Blazor comments" in "Elements" tab"
To make it easier to _inspect_ and _debug_ rendered HTML from Razor components, it would be very nice, if _somebody_ would create a developer tool extension for Chrome/Edge/Firefox (I believe they are using the same extension model now, so one would work everywhere), that removes the annoying "Blazor comments" (``) from the "Elements" tab.

![image](https://user-images.githubusercontent.com/105649

[2019-08-21 09:04] BoraKaraca commented on #6111
Thank you. I fixed I deleted .vs folder

[2019-08-21 09:07] vulvulune opened #13311 "Microsoft.AspNetCore.Authentication.AzureAD.UI throws OptionsValidationException: The 'Instance' option must be provided, if it is not the default scheme"
### Describe the bug
Adding Azure AD Authentication fails if it is not the default authentication scheme.

The PR #9967 from @mderriey seems the cause of this issue.

### To Reproduce
Steps to reproduce the behavior:
1. Create a new ASP.NET Core Web Application project:
 - ASP.NET Core 3.0
 - Empty template (Source: .NET Core 3.0.0-preview8-013656)
 - No Authentication
2. Add the NuGet package `Mi

[2019-08-21 09:30] markvincze commented on #13299
@sebastienros Yeah the main thing the API does is executing InRule (which is doing a lot of CPU-intensive logic, and probably also allocating a lot of objects). With that call removed, the API is not really doing anything, so I guess it's expected that the performance problems only come to light if the call is there.
If there will be concrete questions about what the library does and how, I can as

[2019-08-21 09:42] kugarliyifan commented on #13206
thank you ! may be I need to write some extension for vs,,

[2019-08-21 09:42] #13206 closed

[2019-08-21 11:10] markvincze commented on #13299
Hi @Maoni0,

I installed `dotnet-trace` with
[code]
But if I try to run the `collect` command with the `gc-collect` profile, I get the following error.
[code]
It happens both on my Windows dev machine, and on Linux in Kubernetes.
I see in the [source](https://github.com/dotnet/diagnostics/blob/master/src/Tools/dotnet-trace/CommandLine/Commands/ListProfilesCommandHandler.cs#L70) that this profiles

[2019-08-21 12:46] mhajjaj-eg commented on #13115
i think this error produced by new update of preview 8 [Component Case Sensitive and putting @ before your Custom component before calling]
as i found in [Shared\MainLayout.razor] error on <LoginDisplay /> it was  <LogInDisplay />
and some components missed @ before
finally build success

[2019-08-21 13:01] lamondlu opened #13312 "After i used AssemblyLoadContext to load a custom plugin dll with LoadFromStream method, the .net core 3.0 app got a Empty path name is not legal. (Parameter 'path') error"
### Describe the bug
I am designing a dynamic plugin feature with AssemblyLoadContext with .NET Core v3.0 preview 8.

For each plugin, the folder structure are like
[code]

After i loaded the plugin1.dll with AssemblyLoadContext and enabled the AddRazorRuntimeCompilation, it will got a error when i try to access the controller/action in plugin1.dll

[code]

I have review the source code of .net co

[2019-08-21 13:08] Tratcher commented on #13273
No, that's not a clear indication of streaming. Streams are usually indicated by content-type.

[2019-08-21 13:28] 47th commented on #12194
There is no logs I'm afraid. Our web request logs are produced by RequestLoggerMiddleware above and it's never invoked in this case. However, this fact indicates that no response has been written, as request logging middleware is running before MVC controller, so controller has not been called. Here is how our Startup.Configure method looks like:

[code]

[2019-08-21 13:46] MajdajkD commented on #12116
Possibly somewhat related to #13220 ?

[2019-08-21 13:58] alexandrereyes opened #13313 "Blazor: Failed to compare two elements in the array"
Looks like I reached the limit of pages on Blazor lol, here is a project to reproduces the issue `Failed to compare two elements in the array`:
[bug-repro.zip](https://github.com/aspnet/AspNetCore/files/3525650/bug-repro.zip)

[related issue](https://github.com/aspnet/AspNetCore/issues/5548)

[2019-08-21 14:02] rtaylor72 commented on #13133
I got these errors just upgrading to VS Preview 2 while still on preview 7.

Not just OnInitAsync needs to be renamed, but also OnInit.  Otherwise the above instructions got me working again. Thanks!

[2019-08-21 14:24] TehWardy opened #13314 "Entity not getting to controller during HttpPut request"
I don't know if this is a binding issue or something, between 2 AspNetCore 2.2 applications so i'm looking for some advice on how to pinpoint this ...

**On the client**

![image](https://user-images.githubusercontent.com/6891030/63439629-4fe94600-c426-11e9-9caf-d14e5e139bd7.png)

**On the server**

![image](https://user-images.githubusercontent.com/6891030/63439639-57a8ea80-c426-11e9-813f-ef49bf4

[2019-08-21 14:28] blowdart commented on #13294
I'm interested in why scaffolding the page out and changing it to do what you want isn't the approach you want to take. Could you go a little further in your description please?

[2019-08-21 14:51] davidfowl commented on #13314
Got any logs?

[2019-08-21 14:58] VBAndCs opened #13315 "[Proposal] Tupled model"
We add many trivial classes corresponding to each view, like this one needed for login view:
[code]
It will be better if we can express it as a record like this:
[code]
But this needs to allow mutable records, which I wish to reconsider!

This can be more better, if it can be expressed inline as a tuple-like record, to be used directly in the view:
[code]

And in the post method, dependency inject

[2019-08-21 14:58] joshhubers opened #13316 "OpenIdConnectOptions DI StateDataFormat/DataProtector different purposes"
### Describe the bug
When I dependency inject my OpenIdConnectOptions and access the StateDataFormat the DataProtector that is used has a different purpose than what is being used internally by the rest of the framework.

I have a custom Open Id Connect server with a custom endpoint that requires the 'state' parameter to be manually created. (Login/Logout functionality working fine. Can post Start

[2019-08-21 15:22] davidfowl commented on #13292
It’s also easy to work around. Here was the change in 2.2 https://github.com/aspnet/KestrelHttpServer/pull/2735

[2019-08-21 15:23] Eilon commented on #4220
It makes GitHub search queries run faster, probably :)

[2019-08-21 15:26] davidfowl commented on #13315
This should be part of the records discussion happening in c# 9

[2019-08-21 15:34] VBAndCs commented on #13315
@davidfowl
I don't think so, for three reasons:
1. Records are immutable.
2. Razor has its own syntax and compiler and generates C# classes at runtime, so it can do it independent of the programming language.
3. ASP.Net Core uses attributes intensively, which is not the case of general C# code, so attributed records don't have w wide demand in C#.
Thanks

[2019-08-21 15:36] BillHiebert commented on #6609
@fragilerus this should be working in that build. I assume you are using IIS Express for hosting?

[2019-08-21 15:47] jkotalik commented on #6609
@BillHiebert I believe this is still an issue with 2.2. I have a proposed fix here: https://github.com/aspnet/AspNetCore/pull/10084, but we haven't patched it yet.

[2019-08-21 15:47] jkotalik commented on #6609
This, however, does work in 3.0.

[2019-08-21 16:12] danroth27 commented on #13310
@egil Thanks for the suggestion! We hope to look at creating some sort of developer tools extension for Blazor in a future release.

[2019-08-21 16:14] danroth27 commented on #13297
@tsmccartan Possibly a missing `using` statement for the namespace of the extension method?

[2019-08-21 16:15] danroth27 commented on #13290
@dmorrison42 Thanks for reporting this issue! We know we have a bunch of issues with using SVGs with Blazor. For 3.0 we plan to document the known limitations and then we will look into addressing these issue more fully in a future release.

[2019-08-21 16:16] danroth27 commented on #13290
https://github.com/aspnet/AspNetCore/issues/13280

[2019-08-21 16:18] danroth27 commented on #13289
This issue was moved to mono/mono#16385

[2019-08-21 16:18] #13289 closed

[2019-08-21 16:19] egil commented on #13310
@danroth27 no problem. Just to be clear, I put _somebody_ in italic to maybe inspire somebody other than the core team to take up this issue, as I know you have other important issues with a higher priority.

[2019-08-21 16:23] danroth27 commented on #13279
The static assets are made available to the consuming app, but you still need to reference them to bring them in. See https://docs.microsoft.com/aspnet/core/razor-pages/ui-class#consume-content-from-a-referenced-rcl.

If you think the docs could still use some improvement, we'd be happy to accept a PR with a proposed revision.

[2019-08-21 16:27] danroth27 commented on #13193
@tomRedox If you mistype the component name (ex you forget to add an `@using` for the component namespace, or you misspelled the name) as long as you typed the name using Pascal casing the compiler will assume the element is meant to be a component and you should get a warning if the component name doesn't resolve. Are you saying that wasn't the case?

[2019-08-21 16:27] halter73 commented on #13030
We should try to get a reliable repro of this. I doubt this will be a ship blocker since it seems shutdown-related, but it does imply some task isn't being observed.

This isn't even necessarily a Kestrel issue (though it certainly could be). An app that does unobserved operations on the request or response body (e.g. `_ = httpContext.Request.Body.CopyToAsync(Stream.Null);`) could lead to the Diag

[2019-08-21 16:29] danroth27 commented on #13192
@SamProf  Thanks for reporting this issue! We are tracking addressing this with #13181. Closing as duplicate.

[2019-08-21 16:29] #13192 closed

[2019-08-21 16:32] danroth27 commented on #13166
Could you please share with us the directory listing for `D:\job\projects\BlazorApp1\BlazorApp1\bin\Debug\netstandard2.0\dist`?

[2019-08-21 16:33] TehWardy commented on #13314
The server logs churned out nothing (as stated previously) ...
I have my own logging for when requests are received / handled but it just shows the request URL and method and the fact that it was an authorised call.

The body I'm nott currently reading / logging in an way but given this code I figured as it's all framework essentially i'm not sure what else would be relevant to provide.

Is there

[2019-08-21 16:39] danroth27 commented on #13315
@VBAndCs Razor & MVC is based on C#. We don't independently design language extensions to C# that are specific to Razor. The right place to discuss this is with the C# guys.

[2019-08-21 16:39] #13315 closed

[2019-08-21 16:41] danroth27 commented on #13314
Are there any errors in the model state? Inspect `this.ModelState` in the debugger and see if anything is there.

It looks like you're also using OData, so I'd recommend following up with them to see if they have any additional thoughts.

[2019-08-21 16:45] danroth27 commented on #13271
@dpeter99 Thanks for reporting this issue! Could you please provide a minimal project that reproduces this issue so that we can investigate?

[2019-08-21 16:48] TehWardy commented on #13314
ah good shout !!! Why did I not think of that!!

[2019-08-21 16:48] danroth27 commented on #13235
@lmolkova We made changes that I believe AppInsights needs to react to. Do you have this on your radar? Any ETA for updated AppInsights bits?

[2019-08-21 16:50] pranavkm commented on #13312
@lamondlu looks like a bug where we don't anticipate a dynamically generated assembly. You might be able to work around this by adding your assembly as a custom `AssemblyPart` that implements `ICompilationReferencesProvider` until a fix lands:

[code]

[2019-08-21 16:51] halter73 commented on #13188
@claudioesposito When I started working on Kestrel, I agreed with you. Kestrel used to support writing a response after the client sent a FIN. After all, why shouldn't you be allowed to continue sending a response if the client just closed its sending half of the TCP connection?

It turns out, that sending a FIN is [the common way for HTTP clients to abort a request](https://github.com/aspnet/Kest

[2019-08-21 16:52] lmolkova commented on #13235
@danroth27 yes, it's p1 for us https://github.com/microsoft/ApplicationInsights-aspnetcore/issues/936

[2019-08-21 16:52] #7294 closed

[2019-08-21 16:53] danroth27 commented on #5448
No actionable work here.

[2019-08-21 16:53] #5448 closed

[2019-08-21 16:54] danroth27 commented on #5446
At this point we have no plans to do this, so closing.

[2019-08-21 16:54] #5446 closed

[2019-08-21 16:54] PtwHub commented on #8549
Publishing works fine (newest everything updated today), and the dlls are 75% smaller, but I can't get the launchSettings to use the /publish path. The web server and client always picks up the default dist. Is there an example/blogpost anywhere showing all the steps. I looked at

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/client-side?view=aspnetcore-3.0#azure-storage

And

[2019-08-21 16:55] halter73 commented on #13292
Manually closing the connection is easy. What might not be so easy is delaying server shutdown, and therefore the disposal of the memory pool until all the ConnectionHandler's have completed. In 2.2, Kestrel only tracked HTTP connections, and it's not pluggable AFAICT.

[2019-08-21 16:55] #5439 closed

[2019-08-21 16:56] #5435 closed

[2019-08-21 16:56] #5430 closed

[2019-08-21 16:57] #13314 closed

[2019-08-21 16:57] #5420 closed

[2019-08-21 17:03] dazinator commented on #11331
The way I fixed this was to do this:

[code]

This excludes edit form from the render to tree, until after I have called the server to fetch the Model in `OnInitializedAsync`

[2019-08-21 17:12] NTaylorMullen commented on #13072
Looks like I already filed an issue for this a while back that's in 3.1.0. Feel free to move the milestone if you want: https://github.com/aspnet/AspNetCore/issues/10921

[2019-08-21 17:13] NTaylorMullen commented on #10921
Just for context Blazor templates have a bit more violations: https://github.com/aspnet/AspNetCore/issues/13072#issuecomment-523220833

[2019-08-21 17:35] Kunze commented on #8980
I got that error after removing all contents in "appsettings.Development.json". Then I added an empty json object (" { } ") and it started working again.

[2019-08-21 17:39] malachib commented on #13278
When I attempt to do `dotnet new -i` part, I get `bash: $'\302\226dotnet': command not found`

Running Windows 10 , preview8 and latest VS preview on git-bash

[2019-08-21 17:39] danroth27 commented on #13310
@egil Yup, understood. We probably won't get to this for a while, so if someone in the community wants to create a great Blazor browser dev tool extension, that would be awesome! Maybe someone has already started one?

[2019-08-21 17:42] davidfowl commented on #13292
Ah triggering abort on shutdown yes that was a big change

[2019-08-21 17:48] mikewodarczyk commented on #13115
This was closes, but I think that the solution is wrong.  This is not just a 3rd party app not upgrading the @ref attributes.  There seems to be a bug in the latest pre-release with regard to the @ref attributes themselves.  I was able to reproduce this with a small amount of additional code added to a pure new Blazor project.   See the Github code at
https://github.com/mikewodarczyk/BlazorVisualS

[2019-08-21 18:15] danroth27 commented on #13313
@alexandrereyes Thank you for reporting this issue! We are able to reproduce it and we are working on a fix.

[2019-08-21 18:24] Maoni0 commented on #13299
that definitely should not be DEBUG only. @sywhang, would you please take a look?

[2019-08-21 18:27] tsmccartan commented on #13297
This issue has been resolved.  I downgraded the Microsoft.PowerBI.API Nuget Package from v3.4.0-beta to v2.10.0.  After this it compiled and resolved the method and works appropriately.  I believe there may be something with the 3.4 version of the PowerBI.API package.

[2019-08-21 18:27] #13297 closed

[2019-08-21 18:28] mikewodarczyk opened #13318 "Blazor code with @ref attributes casues compiler error "rzc generate exited with code 1" and crashes Visual Studio when edited."
Blazor code containing components using the @ref attribute cause an error in the method Microsoft.AspNetCore.Razor.Language.Components.ComponentReferenceCaptureLoweringPass.ExecuteCore which causes a compile time error to be produced and will crash Visual studio when the affected file is viewed in the editor.

This appears to be related to the issue https://github.com/aspnet/AspNetCore/issues/1311

[2019-08-21 18:38] danroth27 opened #13319 "Completions for method overrides in @code blocks don't include the return type, braces, and access level modifier"
Completions for method overrides in @code blocks don't include the return type, braces, and access level modifier.

Repro steps:
- Create a new Blazor app
- In a component .razor file add a `@code` block
- Type `override ` and then complete with `OnInitialized`

Actual result:

[code]

Expected result:

[code]

@NTaylorMullen

[2019-08-21 18:57] mconnew commented on #13188
@halter73, I could imagine a scenario where an HTTP client using pipelining and a connection pool could send the FIN before the response has been returned. For example, on .NET Framework the ServicePoint class (which manages the connection pool to a particular hostname) has a property ConnectionLeaseTimeout which configures how long a connection can exist before it's closed and removed from the po

[2019-08-21 19:00] sywhang commented on #13299
Yes, you can configure the equivalent setup with --providers.
`--providers Microsoft-Windows-DotNETRuntime:8001:4` should turn on the GC/Exception keywords only.

I agree. I will bring this up in the next release of dotnet-trace.

[2019-08-21 19:06] mconnew commented on #13292
This is actually a feature that WCF has on .NET Framework. Our ServiceHost has a configured CloseTimeout, which can also be overridden when calling Close/BeginClose. WCF then iterates through each active connection and attempts to Close them. When each connection has Close called, if there's an ongoing request, it uses whatever timeout time is now left to wait for the request to complete (response

[2019-08-21 19:19] dazinator commented on #5456
Having to reload the entire blazor client application (re-download all dll's) when you make a minor html change to a view (for example, change some static html content) is... not very optimal. Do the team have anything to track improvements to that experience or should I open a new issue?

[2019-08-21 19:29] danroth27 commented on #5456
@dazinator It's not very clear from the issue title, but we are using this issue to track hot module replacement as well as live reload. We have a bunch of investments that we plan to make in the .NET 5 time frame in this area.

[2019-08-21 19:33] davidfowl commented on #13292
Yes Kestrel already does this for HTTP connections in 2.1 and it became more general purpose in 2.2 with this change (https://github.com/aspnet/KestrelHttpServer/pull/2834). It's not something we can backport to 2.1 since the change is big and requires new APIs (in particular the `IConnectionLifetimeNotificationFeature`).

[2019-08-21 19:51] Postlagerkarte commented on #5456
Personally I don't mind hitting F5 and thus do not consider hot reloading a top prio feature,
However to get into the flow I find it crucial that the
change code , f5 , change code , f5 , change code workflow is blazing (pun intented) fast. Please work on that first :)

[2019-08-21 19:52] dazinator commented on #13115
@mikewodarczyk the issue you are referring to, with @ref attributes, is perhaps the one that is a known issue introduced in preview8. It's fixed again for preview9. It was announced here: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-8/

It's a nasty one, I didn't realise they would announce a new preview with such a regression in, but.. I'll be goin

[2019-08-21 20:05] NTaylorMullen commented on #13319
The gist is that the insertions are occurring in the C# projection buffer and aren't being mapped correctly back to Razor. Depending on how the edits are formed this may or may not be fixable by us.

[2019-08-21 20:09] arivoir commented on #13279
What do you exactly mean? I actually have a project-reference to the library from the app.

[2019-08-21 20:16] pranavkm commented on #13313
@alexandrereyes in the meantime you could workaround this issue by tweaking the order in which `@page` attributes are defined in `ClienteEndereco.razor`:

[code]

That worked for me.

[2019-08-21 20:37] arex388 commented on #4330
I also want to join in the discussion that this is a problem, and a very big one for me at least. In my scenario I have two ASP.NET Core 2.2 web apps (A, and B). They share a library project (C) for some common code. In project C I have four Razor views, and I have pre-build scripts in projects A and B to copy those files into them.

All works great in development, but when I publish as Release to

[2019-08-21 21:23] ryan-motive opened #13321 "IClientRequestParametersProvider not registered"
I'm trying to get Identity Server up & running without EF. I've currently set up the server to run in-memory stores just to get it off the ground, but I'm hitting the problem that `IClientRequestParametersProvider` is never registered for DI which means that the `OidcConfigurationController` class can't be initialized.

There's no documentation for how and where this interface needs to be used. Th

[2019-08-21 21:28] MichaelSpranger commented on #4330
@mkArtakMSFT Unfortunately I do not have enough knowledge on the tooling, so I would not even know where to start looking for the cause(s), let alone fix it. Also, I have since switched jobs and do not work with Asp.Net Core anymore. Trying out a lot of variations to narrow the bug down to the two scenarios and writing the bug report already took me a whole day, for what it's worth.

@arex388 We d

[2019-08-21 22:00] JunTaoLuo commented on #3752
It looks like AspNetCore has been integrated in source build in https://github.com/dotnet/source-build/pull/1144. We're done!

[2019-08-21 22:00] #3752 closed

[2019-08-21 22:16] ajaybhargavb commented on #11921
@TheMightyMat it looks like this happens because of a mismatch in the `HostingEnviroment.ApplicationName`. Basically in addition to setting content root, you'll also need to set the application name to be the correct one instead of the test project.

You can do something like this. In your case, you'll pass in "MainProject" for appName
[code]

I've verified that this fix works.

You might also wan

[2019-08-21 22:16] #11921 closed

[2019-08-21 22:24] chobo2 commented on #13259
@rynowak

Hey so I met with the customer and watched his screen and I can see that this message directly correlates to him.

Why would incomplete data happen? Is it because his connection is slow or high latency?

It was very had to trouble shoot as I had to do a screen share with him and his internet connection seemed very bad. I did see in the developer console he was getting alot of "Connection

[2019-08-21 22:27] kjkrum commented on #13266
Compare [`IRegisteredObject.Stop`](https://docs.microsoft.com/en-us/dotnet/api/system.web.hosting.iregisteredobject.stop) from Framework. It seems that cancelling `IApplicationLifetime.ApplicationStopping` is analogous to calling `Stop(true)`, or at least SignalR treats it that way. Maybe `IApplicationLifetime` could expose two tokens analogous to `Stop(false)` and `Stop(true)`.

[2019-08-21 22:42] rynowak commented on #13259
You'd see a disconnect I think if there's significant packet loss. It sounds like your user is having some basic network reliability problems. @Tratcher any additional thoughts

[2019-08-21 22:51] vertonghenb commented on #10450
Another use case for this is adding a `css` file for a specific page.

[2019-08-21 23:03] danroth27 commented on #13279
@arivoir A project reference is no longer sufficient. You also need to add script tags, link tags, etc for the static asset. For example:

[code]

[2019-08-21 23:25] sbuchok opened #13322 "Adding a format to input=time causes issues"
<input type="time" @bind="MyTimeSpan" @bind:format="HH:mm tt" />

Throws an error saying that you can't use TimeSpan as the type, it must be DateTime. If you remove @bind:format it works, but you can't specify your format.

[2019-08-22 00:01] jasonmalinowski commented on #13284
@jez9999 The warning is saying that you've made edits while the program is running, but until the program is paused and resumed that edit won't be applied. It used to be that edits were entirely blocked if the program was running; this was weakened to allow the edits but they just can't be applied until the program pauses. The warning would go away once you've stopped debugging. Is that what you'r

[2019-08-22 00:07] jez9999 commented on #13284
No - I get the warnings immediately upon hitting F5, with no edits being made.

[2019-08-22 00:11] jasonmalinowski commented on #13284
OK, got it. @pranavkm's video isn't showing what you're seeing then.

[2019-08-22 00:40] pranavkm commented on #13284
@jasonmalinowski yup. I was pointing out yet another scenario where it shows up. But as @jez9999 points out, for ASP.NET Core Web applications, the warning pops up as soon as you start debugging.

[2019-08-22 01:15] shawnwildermuth commented on #13231
Of course it isn't. D'oh.

[2019-08-22 01:53] pranavkm commented on #13313
Fixed as part of https://github.com/aspnet/AspNetCore/commit/7bb56a8dba0716a528136fa69853615eb5f46793

[2019-08-22 01:53] #13313 closed

[2019-08-22 01:55] pranavkm commented on #4980
Closing since no user has reported this.

[2019-08-22 01:55] #4980 closed

[2019-08-22 01:55] pranavkm commented on #4891
Closing this. We can reconsider doing this once we have more profiling data.

[2019-08-22 01:55] #4891 closed

[2019-08-22 01:56] pranavkm commented on #4276
Closing. It's not clear what needs to be done here.

[2019-08-22 01:56] #4276 closed

[2019-08-22 01:56] runxc1 commented on #12505
So reading this thread it isn't clear whether or not this is something that you can do in 3.0 as I am not seeing the method in preview 8.  If the method is being removed is there still a way to read the Request Body a second time in say a logging extension?

[2019-08-22 01:59] pranavkm commented on #5053
@NTaylorMullen \ @ajaybhargavb what do you think? We haven't had any user reports for this.

[2019-08-22 02:00] pranavkm commented on #5070
This is covered by the Static Web Assets feature.

[2019-08-22 02:00] #5070 closed

[2019-08-22 02:01] pranavkm commented on #4872
Closing this. We can always clean up our tests as we go

[2019-08-22 02:01] #4872 closed

[2019-08-22 02:12] runxc1 commented on #12505
@sc1994 if I read this correctly you would need to change any calls to EnableRewind to EnableBuffering as shown in the the pull request that sentry committed to fix this in their code. https://github.com/getsentry/sentry-dotnet/pull/250/commits/520bb783761040ce336925a8376ed1e7c0dd31c7

[2019-08-22 02:21] dingsongjie opened #13324 "Large objects were Free but space is not compressed"
1. Using this version of ASP.NET Core '2.2.6'
2. Docker image from mcr.microsoft.com/dotnet/core/aspnet:2.2.6-stretch-slim
3. Centos7

I disable servergarbage , but the monory useage is still growing 。
this is objs large than 85000
[code]
What I want to know is why the memory of free  is not compressed.

[2019-08-22 02:57] lamondlu commented on #13312
@pranavkm Thank you. This resolve my issue.

[2019-08-22 03:34] arex388 commented on #4330
@MichaelSpranger It's the same issue. Before I wrote my post, I logged into the server and looked through what was published. I found the RCL library and decompiled it with ILSpy and sure enough the views were there *and* they were uploaded as CSHTML files.

Your post gave me an idea though. I logged back into the server and deleted the folder with the CSHTML files and like magic everything starte

[2019-08-22 04:47] Buildstarted commented on #13200
Thanks, @halter73. Looking forward to the future. Since you don't use the underlying HttpContext how reliable is `RequestServices` (assuming all connections are over websockets)?

[2019-08-22 05:06] arex388 commented on #4330
I take it back, I kind of automated it. I wrote a PowerShell script to check for the offending folder every minute. If it exists, then it is deleted and the apppool is recycled to force rediscovery of the views. I also got rid of the RCL because it literally existed to host four files. I went back to my original pre-build XCOPY and coupled with the PowerShell script I cane make things work. I woul

[2019-08-22 06:03] chobo2 commented on #13259
That's what I thought, though he was saying that he can access every other site just fine with no problems but I could not verify this as the screen share was a slide show(probably due to his horrible speeds).

I have asked him to try accessing the sites at different locations to see if that makes a difference but till I hear back I am just trying to drum up ideas on what could be going on as he h

[2019-08-22 06:10] vbornand commented on #13311
If another Cookie scheme is added, the `AzureADCookieOptionsConfiguration` is called for it, but it don't find the AzureADScheme linked to this other cookie scheme. It's logic because this other cookie scheme is not used by AzureADUI. So the method `GetAzureADScheme(name)` returns `null`.
It is correct, but when we try to get the `AzureADOptions` with the named options `null` we get a not initiali

[2019-08-22 06:11] acds opened #13325 "Signal R Error: Failed to complete negotiation with the server: Error: Unauthorized"
## Describe the bug

Basic ApsNet Core 3.0 setup preview 7 - (per docs) Javascript client using `@aspnet/signalr": "3.0.0-preview6.19307.2"`

`startup.cs`
[code]
with following javascript:
[code]
throws `Error: Failed to complete negotiation with the server: Error: Unauthorized` exception.

no clue as to why this in unauthorized.

### Expected behavior
Connection successful as it did with dotnet c

[2019-08-22 06:13] simon617 opened #13326 "Error on running Integration Test on ASP.Core 2.1"
Follow a exercise to run a integration test on ASP Core 2.1 but returns the attached error. Any idea ?
![IntegrationTest](https://user-images.githubusercontent.com/42394945/63490282-e7ae6900-c4e6-11e9-82d1-4be918dd9687.png)

[DigitalLibraryApplication.zip](https://github.com/aspnet/AspNetCore/files/3528548/DigitalLibraryApplication.zip)

[2019-08-22 06:29] wocar opened #13328 "Localization of Authentication.AzureADB2C.UI"
The  text is hardcoded specifically the Sign Out page.

Might be a good idea to provide a way to localize the text.

[2019-08-22 07:23] maxcherednik commented on #13273
Hm.

`Content-Disposition:' inline; filename=1.pdf
`Content-Type:' application/pdf` - this one is rather the same, no matter if we stream or not
`transfer-encoding:` chunked

[2019-08-22 07:54] enetstudio opened #13329 "Getting HTTP stream is blocking rendering"
I'm downloading a stream from a WebAPI and I'm trying to run code while the stream is being read.

The code below works fine on Blazor server-side or an console app. But on blazor-client side the stream will first download fully before executing any code.... even just a Console.WriteLine() will just start writing to Console after the stream is done. I'm using the latest .Net Core 3.0 Preview 8...

[2019-08-22 07:56] AYanuseuskaya commented on #13166
Good day  @danroth27 directory listing for D:\job\projects\BlazorApp1\BlazorApp1\bin\Debug\netstandard2.0\dist : 1 folder _framework which contains the following files - blazor.server.js , blazor.webassembly.js  and 1 folder wasm which contains the following files - mono.js and mono.wasm.

[2019-08-22 08:03] AYanuseuskaya commented on #13166
Analyzed the contents of the project output debugging I assume that the problem with the file blazor.boot.json. When I first start the project, and also when I try to refresh the page in the browser, I see the same information in the project output:
Microsoft.AspNetCore.Hosting.Diagnostics: Information: Request starting HTTP/1.1 GET http://localhost:59053/_framework/blazor.boot.json
Microsoft.AspN

[2019-08-22 08:07] AndyPook commented on #3868
The simplest workaround is to add `await Task.Yield;` as line one of `ExecuteAsync`.

If everything actually returns synchronously then the method never yields and `StartAsync` does not complete.

Another visible side-effect of this problem is that if you have a background service in an aspnet project then you never see the "Application started" logging on the console. Indicating that the bootstra

[2019-08-22 08:10] AndyPook commented on #5936
The simplest workaround is to add await Task.Yield; as line one of ExecuteAsync.

If everything actually returns synchronously then the method never yields and StartAsync does not complete.

Another visible side-effect of this problem is that if you have a background service in an aspnet project then you never see the "Application started" logging on the console. Indicating that the bootstrap proc

[2019-08-22 08:11] keith-leung commented on #5894
I stared your GitHub repo, it's good.

[2019-08-22 08:38] markvincze commented on #13299
@Maoni0 I've collected a trace while the issue was happening to one of the instances, I've uploaded it here: https://drive.google.com/file/d/1Sz4y9ugRxmV43eu3aWW2dc87twE3wUnm/view?usp=sharing

I haven't used PerfView before, so if you could give me some pointers about what to check, or if you'd have some spare time to take a look at the trace, that'd be greatly appreciated!

[2019-08-22 09:18] punppis opened #13330 "Add Uri to 'Request finished' log entry"
When starting to process the request, you get a log entry such as
`Request starting HTTP/1.1 POST http://localhost:5000/path/to/api application/json; charset=utf-8 433`

When requests is processed, log entry does not include the Uri, like this
`Request finished in 28.674ms 200 application/json; charset=utf-8`

Due to volume of the logs even with one concurrent user it is hard to understand what is

[2019-08-22 09:25] SteveSandersonMS opened #13331 "Server-side Blazor Project template contains incorrect comment"
In `_Host.cshtml`:

[code]

Since https://github.com/aspnet/AspNetCore/pull/13147, the comment is no longer correct. The API is now self-explanatory enough that I suggest we just remove the comment. People who want to disable prerendering will be able to guess that they do so by changing to a different `RenderMode`. It's a great API :)

Also it should be trivial to eliminate the `<app>` element to

[2019-08-22 09:41] fvi1234 opened #13332 "System.Text.Json: collection type Dictionary<int, ...> is not supported"
A controller cannot return a Dictionary keyed with int anymore, causing  Dictionary<int, *> to have to be needlessly converted when serializing to Json

### To Reproduce
Steps to reproduce the behavior:
1. Using Microsoft.NETCore.App 3.0.0-preview7
2. Have this controller method:

        [HttpGet("Foo")]
        public Dictionary<int, string> GetFoo()
        {
            return new Dictionary<i

[2019-08-22 09:46] campersau commented on #13329
I guess it is currently by design: https://github.com/aspnet/AspNetCore/blob/e0f95cfa6feec402ea34a605965f356720006513/src/Components/Web.JS/src/Services/Http.ts#L27

But if they switch to the mono implementation (https://github.com/aspnet/AspNetCore/issues/10489), streaming will be support if the browser supports it:
https://github.com/mono/mono/blob/254d6d37580a70fbb4fa072b0b2b16d2984b3bb5/sdks/w

[2019-08-22 09:58] zHaytam commented on #12760
Hello, I would like to take this issue as my first, if possible.
I have one question though, shouldn't the methods' definitions change for them to accept another argument, which represents the duration (how long it took)?

Methods that I found:

- https://github.com/aspnet/AspNetCore/blob/9851e0168812471e52c4c965a0c0005240f762ba/src/Servers/Kestrel/Core/src/Internal/Infrastructure/KestrelTrace.cs#

[2019-08-22 10:00] SteveSandersonMS commented on #13171
@mkArtakMSFT Yes. TBH I don't know whether this is a bug or something incorrect in usage. But the Mono team would be best placed to decide.

[2019-08-22 10:03] stsrki commented on #13310
I already reported this issue with empty comments and that it would be great to remove them from generated html. I got the response that it's used to debug generated code. Can anyone explain what is the benefit of empty comments and why it's used to "debug"?

[2019-08-22 11:07] stap123 opened #13333 ""Random" Connection Reset Exceptions being thrown"
### Describe the bug
I'm receiving what appears to be random exceptions on my web app. It's running ASP.NET Core 2.2.108 on Azure App Service (Windows). I've only seen it happening for a single endpoint which is a POST request with a file upload. The files are restricted to 5MB.

I'm struggling to reproduce the issue but was hoping someone might be able to make more sense of the stack trace than I

[2019-08-22 11:08] SteveSandersonMS opened #13334 "Validate router refactoring"
Check each of the new `<Router>` APIs does the expected thing.

[2019-08-22 11:09] SteveSandersonMS opened #13335 "Validate stricter strict keys"
https://github.com/aspnet/AspNetCore/pull/12837

[2019-08-22 11:10] SteveSandersonMS opened #13336 "Validate revalidating auth improvement"
https://github.com/aspnet/AspNetCore/pull/12909

[2019-08-22 11:10] SteveSandersonMS opened #13337 "Validate prerendering select"
https://github.com/aspnet/AspNetCore/pull/12996

[2019-08-22 11:11] SteveSandersonMS commented on #13113
https://github.com/aspnet/AspNetCore/issues/13334
https://github.com/aspnet/AspNetCore/issues/13335
https://github.com/aspnet/AspNetCore/issues/13336
https://github.com/aspnet/AspNetCore/issues/13337

[2019-08-22 11:47] dmorrison42 commented on #13290
Thanks for the roadmap!

Does anyone know of a workaround?

The only one I've come up with thus far is to create my own input components in SVG, but that may run into other issues.

[2019-08-22 11:57] DAllanCarr commented on #13324
You are over allocating on the LOH. Fragmentation is a consequence of this. I'd recommend looking at your allocation strategy by either pooling memory usage or by breaking up larger allocations to stay within the 85k limit way. The GC provides ongoing optimizations on how the LOH is maintained and I'm sure there will be further improvements in this area.

[2019-08-22 12:05] rytmis opened #13339 "TestServer ignores replaced Body stream"
### Describe the bug
TestServer returns an empty response if a middleware replaces the Response Body stream. This happens in HttpContextBuilder when returning the result. The actual content of the request gets written to the replacement stream, but TestServer never returns it to the caller.

This is a problem when testing any middleware that intercepts content.

### To Reproduce
Steps to reproduce

[2019-08-22 12:20] enetstudio commented on #13329
Lots of thanks and appreciations...@campersau

[2019-08-22 12:20] #13329 closed

[2019-08-22 12:27] failfmi opened #13340 "[Preview 8] Microsoft.AspNetCore.Identity.EntityFrameworkCore does not support netstandard 2.1"
### Describe the bug
When trying to install  **Microsoft.AspNetCore.Identity.EntityFrameworkCore 3.0.0-preview8.19405.7** in a Class Library (netstandard 2.1)  it says it only supports netcoreapp3.0

**Note**: In SDK 2.2, Microsoft.AspNetCore.Identity.EntityFrameworkCore supports netstandard 2.0

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 'SDK 3.0.100-p

[2019-08-22 12:47] sbwalker commented on #13171
I will try to create a simpler repro to demonstrate the issue

[2019-08-22 12:51] JeroMiya commented on #5479
Sounds like this is gaining traction, which is great. Might be a good time to flesh out some Blazor PWA requirements now. PWA caching is more complex than it seems, as you have to think about application and cache integrity. These are some common features provided by other front-end-frameworks with official PWA/service-worker support:

- The whole application must be cached together, and updated a

[2019-08-22 12:53] rytmis commented on #13339
Digging further in, looks like I've misunderstood something. This scenario doesn't work in Kestrel either (which is probably something I should have tried first).

My takeaway from this is that if one wants to intercept the output but still have it returned, the way to do it is to also capture the original stream, write the captured content into it and restore it to the context.

[2019-08-22 12:56] #13339 closed

[2019-08-22 13:02] jonny7 commented on #3719
I experience the same issue with Windows 2012 R2 deployments as part of a Jenkins pipeline. It has been working fine for a period and now i'm consistently getting this error.

[2019-08-22 13:22] pranavkm commented on #13340
See this announcement - https://github.com/aspnet/Announcements/issues/324. As of 3.0, most packages in ASP.NET Core will only target .NET Core.

[2019-08-22 13:24] chrdlx commented on #3719
Still having the same problem... today a file stayed locked for the whole night....
Maybe it's because we're deploying to a network drive....  We have 2 servers that point to the same network folder,  so when we update that folder both servers run the same app.
 I'm gonna talk to the team that handles networks....  it's probably related to this,  since asp.net had shadow copy and files don't lock,

[2019-08-22 13:25] pranavkm commented on #13332
Thanks for the issue report @fvi1234. This is being tracked as part of https://github.com/dotnet/corefx/issues/40120. In the meanwhile you could

a) look at the suggestion here: https://github.com/dotnet/corefx/issues/40120#issuecomment-519648806
b) Use Json.NET in MVC: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio#jsonnet-support

[2019-08-22 13:25] #13332 closed

[2019-08-22 13:38] PinpointTownes opened #13343 "Review uses of IServiceScope to ensure registering IAsyncDisposable services doesn't cause exceptions"
https://github.com/aspnet/AspNetCore/issues/12918 was specific to Blazor but I suspect there are a few other places where `IServiceScope` is used with just `using` in ASP.NET Core:
  - https://github.com/aspnet/AspNetCore/blob/master/src/DataProtection/EntityFrameworkCore/src/EntityFrameworkCoreXmlRepository.cs#L43

  - https://github.com/aspnet/AspNetCore/blob/master/src/Hosting/Hosting/src/Inter

[2019-08-22 13:40] PinpointTownes commented on #13343
Also, @davidfowl mentioned adding a switch in DI to allow disabling the exception thrown when using `Dispose` instead of `DisposeAsync` but I don't think it was implemented. `ServiceProviderOptions` would likely be the right place for that.

[2019-08-22 13:44] sbuchok commented on #10874
Since apparently it looks like this won't get fixed for quite some time, is there a workaround for this?

[2019-08-22 13:51] PinpointTownes commented on #13340
@pranavkm this one really looks like an oversight, tho', since the rest of Identity was updated to stay `netstandard2.0`-compatible. While it can't target `netstandard2.0` because EF is no longer compatible, this package could easily target `netstandard2.1`.

@HaoK probably knows why it was done this way 😄

[2019-08-22 14:09] SteveSandersonMS commented on #10874
I've checked the repro sample and identified the issue. The problem is that you're trying to refer to a field populated by `ref` before the rendering is completed. `ref` fields are only guaranteed to be initialized once the first render is completed.

Specifically, in `MainLayout.razor`, you have:

[code]

... where the `CascadingValue` is being given the value of a field that is not necessarily y

[2019-08-22 14:09] #10874 closed

[2019-08-22 14:17] gorrilla10101 commented on #13215
I ran into this issue as well and checked the source code. Seems that it was simply missed in the type checking.
[code]
because the converter exists in the case statement.

[code]

[2019-08-22 15:00] mrpmorris opened #13345 "Blazor EditForm does not validate all items in the form, and does not trigger the correct validation events."
### Describe the bug
EditForm only validates the object in its `Model` parameter. If the object is a complex object (such as a Person with an Address) its complex properties are not also validated.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.0-preview8.19405.7
2. Create a new Blazor app
3. Replace the contents of index.razor with the following mark

[2019-08-22 15:01] martyns opened #13346 "Using AddTypedClient throws "The HttpClient factory already has a registered client with the name" error"
**Edit by @rynowak** See below for shiproom template
----

### Describe the bug
Trying to register a Http Client service using AddTypedClient throws "The HttpClient factory already has a registered client with the name" on first request.

### To Reproduce
Steps to reproduce the behavior:
1. Create a new ASP.NET Core Web Application -> v3.0 API project using preview 8 and Visual Studio 16.3.0 Previ

[2019-08-22 15:04] mrpmorris commented on #13345
Note: Code to reproduce is here -> https://pastebin.com/0TafVse6

[2019-08-22 15:18] Tratcher commented on #13273
Sorry, I meant that's the content-type indicates what kinds of content might be relevant to streaming. E.g. content types that indicate video, audio, or event streams.

Other than that it's impossible for a client to tell if the server is streaming a response gradually or sending all at once based just on headers. Content-Length vs chunked is just a hint about if the server knew how long the conte

[2019-08-22 15:27] chobo2 commented on #4733
I am getting the same error message core 2.2.4

[code]

One of my customers has reported an issue of not being able to log on to my site, I did a call with him and have been able to correspond the above error message with him as every time we where on the phone and he did something on the site 2 seconds later I had in my inbox the above error message.

It was hard to see what was going on as his c

[2019-08-22 15:32] BrennanConroy commented on #13325
Have you set up some kind of authentication via middleware?

Can you get server logs preferably at Debug level so we can see what the request is doing on the server?

[2019-08-22 15:34] duki994 opened #13347 "Allow configuration of 2FA Tokens clock skew (default 90s)"
### Describe the bug

Just look at line 59:
` // Allow codes from 90s in each direction (we could make this configurable?)`

https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Extensions.Core/src/AuthenticatorTokenProvider.cs

### To Reproduce
Steps to reproduce the behavior:
1. Using all .NET Core 2.0+
2. Using any AspNetCore.Identity 2.0+ version

3. Try 2FA authentication
4. Read cod

[2019-08-22 15:43] pranavkm commented on #5102
Razor.Design is gone and our migration guides already talk about it. There's some separate additions to the RazorSDK that I'll independently tackle.

[2019-08-22 15:43] #5102 closed

[2019-08-22 15:43] 2nd4ce commented on #13232
Thank you!

[2019-08-22 15:46] danroth27 opened #13348 "Update the Blazor WebAssembly debugging instructions to include steps for Edge(ium) and (soon) Firefox"
Currently the debug instructions for Blazor WebAssembly apps is specific to Chrome, but debugging works works with Edge(ium) today and will soon with Firefox.

[2019-08-22 15:46] SteveSandersonMS commented on #13124
@mkArtakMSFT No, we only have a CTI scenario covering the Identity auth case (not Windows auth).

In any case, as far as I'm aware, Windows Authentication is not expected to work by default when hosting directly on Kestrel, since Kestrel doesn't support it. I checked, and the default MVC site template with Windows authentication also doesn't work if you run it directly on Kestrel instead of IISExp

[2019-08-22 15:48] egil commented on #13310
I think the explanation you quote says it quite well. Put differently, they use them to faster update the rendered  HTML.

My goal is not to remove them from the rendered HTML as they serve a purpose. I simply want to hide them when we view the rendered HTML in the "Elements" tab in the dev tools.

[2019-08-22 15:49] blowdart commented on #13311
@Tratcher could you take a look please?

[2019-08-22 15:53] halter73 commented on #12760
That @zHaytam. I agree that it makes sense change the signature of the (I)KestrelTrace.HeartBeatSlow methods and Action to take another argument representing duration. I'd probably make the argument a TimeSpan but just print out TimeSpan.TotalSeconds in the log message.

[2019-08-22 16:13] pranavkm commented on #13347
/cc @blowdart \ @HaoK

[2019-08-22 16:15] halter73 commented on #4733
@chobo2 As I mentioned in my last comment, generally this error means that a client disconnected in the middle of uploading a request body. This certainly could be caused by a spotty connection, but there are other possible causes like the client intentionally cancelling a request mid-request-body.

Can you provide us with a screenshot/logs from the network tab of the developer console?

[2019-08-22 16:27] danroth27 commented on #13166
@AYanuseuskaya Yeah, it looks like the `blazor.boot.json` is not getting generated for some reason. It looks like your using the default template and the build output says it built cleanly, but this file is not being produced or is somehow being deleted. We've seen other reports of this issue (#12637, aspnet/blazor#1469, #11547). We did find in one case (#11034) that the file was getting deleted b

[2019-08-22 16:27] javiercn commented on #11966
Covered as part of https://github.com/aspnet/AspNetCore.Docs/pull/13962/files

[2019-08-22 16:27] #11966 closed

[2019-08-22 16:29] javiercn commented on #11843
We didn't change the string message but we added it to the docs. Covered as part of https://github.com/aspnet/AspNetCore.Docs/pull/13962/files

[2019-08-22 16:29] #11843 closed

[2019-08-22 16:32] githubfanster commented on #13318
have u tried changing @ref:suppressfield to @ref:suppressField  ?

[2019-08-22 16:39] pranavkm opened #13349 "Add docs for limitation of deep validation in Blazor"
See #10526 and https://github.com/aspnet/AspNetCore/issues/13345

[2019-08-22 16:39] pranavkm commented on #13345
Thanks to for your issue report @mrpmorris. This is a duplicate of #10526. We'll use the other issue to track fixing this.

[2019-08-22 16:39] #13345 closed

[2019-08-22 16:40] chobo2 commented on #4733
I will try to get the developer console, it is jsut hard as screen sharing is like nightmare and the customer is not skilled enough to do it themselves.

They claim no other site has problems expect mine though I can verify this and only can go by what I saw(like losing screens sharing many times).

[2019-08-22 16:41] halter73 commented on #13266
@kjkrum The problem with having SignalR wait for ApplicationStopped to disconnect is that by the point ApplicationStopped fires, the server should have already aborted every connection. AFAIK ApplicationStopping is SignalR's last chance to gracefully close its connections.

Having SignalR fire its own event from its ApplicationStopping handler prior to it closing its connections like @Tratcher sug

[2019-08-22 16:45] pranavkm commented on #13319
@NTaylorMullen could you investigate and figure out if a fix for this can go in 16.4?

[2019-08-22 16:48] Pilchie commented on #11359
@aspnet/build - still on the radar for Preview 9? It's not assigned?

[2019-08-22 16:49] pranavkm commented on #13318
Looks like @githubfanster might have the right answer. Could you try making that change to see if it resolves the crash?

@ajaybhargavb do you know why this might crash VS? That sounds problematic.

[2019-08-22 16:49] Pilchie commented on #11064
@JamesNK @JunTaoLuo I'm guessing this isn't happening for Preview 9 at this point?

[2019-08-22 16:51] githubfanster commented on #13318
i was able to build your repo by making two changes:

in EditFields.razor, line 34:
    <EditForm @ref="EditFormElement" @ref:suppressField  Model="@Distributor">

then in EditFieldsBase.cs
line 26:
protected EditForm EditFormElement { get; set; }

[2019-08-22 16:53] pranavkm commented on #13124
Closing this as by design.

[2019-08-22 16:53] #13124 closed

[2019-08-22 16:54] brockallen commented on #13347
This is how TOTP works since code expire after 30 seconds. Imagine the code is generated and as soon as it's generated it expires, and then it's sent SMS or whatever. That means the code is already invalid by the time it arrives at the user. So this 90 second skew is to accommodate for those edge cases.

[2019-08-22 16:54] githubfanster commented on #13318
i thought your experience might have been related to this:
https://github.com/aspnet/Announcements/issues/381

[2019-08-22 16:57] blowdart commented on #13347
What @brockallen said, it's by design. Pretty much all implementations give you a buffer/skew time.

[2019-08-22 16:57] halter73 commented on #13188
Not quite. The thing that really pushed us over the edge in deciding to treat FINs as abortive for HTTP requests was the EventSource API behavior of Chrome and Firefox.

EventSource is a browser API that is sometimes used by SignalR and other streaming libraries/apps when better alternatives like WebSockets aren't available. This API predates fetch and allows developers to make a GET request and r

[2019-08-22 16:57] blowdart commented on #13347
@duki994 Would you like it to be configurable? It may frustrate your users.

[2019-08-22 16:57] pranavkm commented on #13326
@simon617 we'd recommend using the testing infrastructure as described in https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.2#basic-tests-with-the-default-webapplicationfactory. Using `TestServer` \ `WebHostBuilder` requires quite a few setup pieces to be in place which is non-trivial.

Feel free to reopen this issue if you still see issues once you've tried the

[2019-08-22 16:57] #13326 closed

[2019-08-22 16:58] pranavkm commented on #13235
Closing as it's externally tracked.

[2019-08-22 16:58] #13235 closed

[2019-08-22 16:58] dougbu commented on #13322
@sbuchok thank you for your feedback. We're closing this issue as the behaviour discussed is by design.

### Details
A `TimeSpan` would not be appropriate for a specific time. That is, `type='time'` is not for use with durations. See
- https://www.w3.org/TR/html52/sec-forms.html#time-state-typetime (includes links to the bullet just below)
- https://www.w3.org/TR/html52/infrastructure.html#time
-

[2019-08-22 17:16] danroth27 commented on #11228
@HaoK @vijayrkn I believe we've done some work to improve identity scaffolding with Blazor for preview9. Are these issues now resolved?

[2019-08-22 17:18] bradlis7 commented on #5046
I was able to get it with more parenthesis:

    @if (Model is ServiceOperative) {
      <input asp-for="@(((ServiceOperative)Model).JobTitleClient)" />
    }

Casting it to a variable outside of the expression results in it trying to bind it to the variable.

    <input id="temp_JobTitleClient" name="temp.JobTitleClient"/>

[2019-08-22 17:18] javiercn commented on #12871
This can be done by excluding content as described in https://github.com/aspnet/AspNetCore/issues/12871#issuecomment-522236482
or simply by adding elements to `$(DefaultItemExcludes)` which prevent's them to be included as content in the first place.

[2019-08-22 17:23] javiercn commented on #12871
Filed a doc issue for this https://github.com/aspnet/AspNetCore.Docs/issues/13967. Closing as there's no further action to be taken here.

[2019-08-22 17:23] #12871 closed

[2019-08-22 17:28] vijayrkn commented on #13120
If it is an issue with scaffolding operation, you can remove the preview9 milestone. This would be fix on the VS side then.

[2019-08-22 17:31] pranavkm commented on #13247
Doing this for you.

[2019-08-22 17:31] dpedrelli commented on #13221
I do not have a static web.config.  This is the web.config that VS dynamically creates, when I publish the app to Azure.

`<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>

    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>

        <requestLimits maxAllowedContentLength="10737418

[2019-08-22 17:34] mikewodarczyk commented on #13318
@githubfanster

Thanks!  Making the changes  @ref:suppressfield  => @ref:suppressField and  "protected ElementReference EditFormElement { get; set; }"  to "protected EditForm EditFormElement { get; set; }"
got the code to compile and stopped the visual studio crash.
That gets me out of my issue and I can work with the latest patch release.

It still seems like the error message reported: "rzc gene

[2019-08-22 17:34] #13318 closed

[2019-08-22 17:41] javiercn commented on #13122
You need to add TypeScriptCompile as a dependency for resolving the static web assets for the current project so that the typescript build happens before we compute the list of static web assets for the current project.
[code]

You might also need to remove any unwanted output to prevent them from being included as content or contentFiles in the package. You can do so by adding your own custom tar

[2019-08-22 17:47] javiercn commented on #13122
Filed an issue to track the addition to the docs. https://github.com/aspnet/AspNetCore.Docs/issues/13969

Closing this one as there's no further action to be taken here.

[2019-08-22 17:47] #13122 closed

[2019-08-22 17:54] sbuchok commented on #13322
Ok, that's odd. You guys have it working for TimeSpan if there is no @bind:format specified. So I'm confused, does it work with TimeSpan or doesn't it. You are saying that it doesn't yet, without format it does. Is this a mistake that it works partially with TimeSpan?

Does this also mean that you expect us to only use DateTime as the type for type="time"?

[2019-08-22 17:59] JunTaoLuo opened #13350 "Followup to Arcade conversion"
Follow up items for https://github.com/aspnet/AspNetCore/issues/7280:

* [ ] Arcade does not have support doing a 'dry run' of microbenchmarks projects during the 'Test' phase. See https://github.com/aspnet/BuildTools/blob/803fd176f1ae147aa8af08e49e76ffda7221a4cd/files/KoreBuild/modules/benchmarks/module.targets#L14-L37 for the korebuild implementation
  - Tracked in https://github.com/dotnet/aspn

[2019-08-22 17:59] JunTaoLuo commented on #7280
The required work for 3.0 has been completed. Tracking follow up items in https://github.com/aspnet/AspNetCore/issues/13350.

[2019-08-22 17:59] #7280 closed

[2019-08-22 18:03] NTaylorMullen commented on #13318
Verified if this no longer crashes in preview9

[2019-08-22 18:04] pranavkm commented on #13247
This requires more than documentation. When using dev-server, you are limited to using the values configured by the dev-server. In this case, the server uses a fixed fallback route:

https://github.com/aspnet/AspNetCore/blob/e0f95cfa6feec402ea34a605965f356720006513/src/Components/Blazor/DevServer/src/Server/Startup.cs#L58

Moving this to the next milestone to figure out how to tackle this.

[2019-08-22 18:09] zHaytam commented on #12760
I have another question:
If this is a timer that runs every `_interval`, and in every run checks if the method in use:

- Not used: heartbeat is performed normally.
- Used: HeartbeatSlow event is emitted

Then wouldn't calculating the difference between `now` and `_systemClock.UtcNow` would not represent the duration, since its the **last** heartbeat who hold the method for too long.

[2019-08-22 18:11] zHaytam commented on #12760
After thinking about it some more, if the timer runs every `_interval` and the next heartbeat checks if the last heartbeat isn't done yet, then the duration will always equal the interval no?

Maybe we could add another event inside the finally block where it's fired if the difference between `_systemClock.UtcNow` and `now` was greater than `_interval`, which should give us a
meaningful duration.

[2019-08-22 18:13] JunTaoLuo commented on #6304
Unassigning myself since this is a backlog item.

[2019-08-22 18:18] mrclayman opened #13351 "Multi-endpoint Kestrel configuration with different TLS certificates serves the wrong certificate"
Hi all,
I am copying this over from my StackOverflow question [here](https://stackoverflow.com/questions/57535741/multi-endpoint-kestrel-configuration-with-different-tls-certificates-serves-the).

I am trying to set up the Kestrel server in an ASP.NET Core MVC-based service app in Linux environment through its `appsettings.json` config file so that it has exactly two endpoints, both using HTTPS, b

[2019-08-22 18:24] JunTaoLuo commented on #10462
Unassigning myself since this is backlogged

[2019-08-22 18:35] JunTaoLuo commented on #11534
This isn't too important for 3.0.0. Moving it out to 5.0 as a QoL improvement.

[2019-08-22 18:47] claudioesposito commented on #13188
@halter73
The client experiencing the behaviour is a c++ application managing radio server messages in a national country scale. I promise: it is not a toy :)
As it's a third party system, we do not have at all access to source code and we don't know what http client it is using.

BTW the scenario of a browser using EventSource with Kestrel server pushing is quite uncommon as it's a good practice

[2019-08-22 19:05] sbuchok commented on #13322
Also, DateTime has TimeOfDay, this is a TimeSpan that indicates the time since midnight (I believe). So, if the time portion of DateTime is a TimeSpan, why would we not use TimeSpan for the type to use for the type="time" input? It also doesn't make sense to use DateTime for an input where the type="time" as the date portion is useless.

For my situation, I store a time in SQL, pull it out into a

[2019-08-22 19:10] dougbu commented on #11359
It's unclear whether converting to the Arcade post-build stages have given us (or, for AspNetCore, will give us) this for free. I don't feel we have time to react this week if not.

@Pilchie how 'bout we double-check the status after @wtgodbe and @JunTaoLuo wrap up the stages change -- likely early next week?

[2019-08-22 19:15] dougbu commented on #13322
The `TimeOfDay` property is a little odd and, again, is a duration (since midnight as you mention) and not a time. What we support is formatting `DateTime` and `DateTimeOffset` values to mask out what doesn't apply for just dates and times.

`DateTime` or `DateTimeOffset` are the supported datatypes.

[2019-08-22 20:03] srowan commented on #12902
I'm seeing this error in my logs a lot, although oddly I don't have any users reporting the error so I think it is ultimately swallowed.   Anything I should be looking out for?  Is the current theory that this is caused by `StateHasChanged` being called on a disposed component?

[2019-08-22 20:07] blowdart commented on #13160
As it's been a week, and the behaviour is expected and due to architecture outside of core's control I'm going to close this.

[2019-08-22 20:07] #13160 closed

[2019-08-22 20:13] Tratcher commented on #13351
What version are you using?

Do you have any code configuration of Kestrel (e.g. in Program.cs)?

Does it work as expected if you move the identity-api-dev cert from the default section to the Https section?

[2019-08-22 20:15] Tratcher commented on #13351
Oh, I see a typo:
`"Certificate:": {`
Should be:
`"Certificate": {`

[2019-08-22 20:16] dangershony commented on #13133
Another option is to check the breaking changes

https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-8/

[2019-08-22 20:23] Tratcher commented on #13259
If it were a throughput issue you'd have a different log from kestrel saying that the server terminated the connection due to a low data rate. That ping is high, but not prohibitively so. If you run a `ping -t` are you seeing a lot of dropped packets? A wireshark trace would show a lot of retransmit requests.

[2019-08-22 20:38] mrclayman commented on #13351
This must be the silliest typo of my career. It was indeed the culprit, @Tratcher . Thank you _so much_ for pointing it out. I just could not spot it.

Closing this now and getting a cold shower.

[2019-08-22 20:38] #13351 closed

[2019-08-22 20:50] menorless commented on #13223
1. I would like to implement the above mentioned functionality. I can use NodeServices or I have to use SpaServices.Extensions?

2. by the way. If so(Use SpaServices.Extensions):
Execute arbitrary code .js file is not supposted to be Spa module, so why put it in SpaServices.Extensions?

I don't understand yet.

[2019-08-22 20:53] julienGrd opened #13353 "[Blazor client-side] Handle large upload"
Hi guys, I actually develop an upload system in my blazor app with dropzone (https://www.dropzonejs.com/), and i meet some problems to handle large data.

I manage file selection with dropzone, retrieve the base64 of the file and then upload the base64 string by invoking c#.

I precise i make my app working both in client and server side.

In server side i don't really have problem, i can upload 1

[2019-08-22 20:56] GaryTuttle1 commented on #12712
Every time I replace Microsoft.AspNetCore.Components.LayoutAttribute in my classes with Microsoft.AspNetCore.Components.Layouts.LayoutAttribute, it reverts back to the original code.  How do I stop that?  What am I missing?

[2019-08-22 21:14] blowdart commented on #13239
Ah you're a PWA? In that case you should be using the Javascript login flow to login to facebook with their SDK. You're mixing modes here.

[2019-08-22 21:21] glararan opened #13354 "[Blazor][Preview-8] Server-side deployed blazor.server.js throwing error on invoking StartCircuit"
### Describe the bug
Localhost works fine. Deployed throws in browser:
`blazor.server.js:1 Uncaught (in promise) Error: An unexpected error occurred invoking 'StartCircuit' on the server.`

`[2019-08-22T21:06:44.121Z] Error: Circuit not initialized.`

No blazor function is working anylonger.

App is simple.. using buttons to change int value and use few conditions to show content.

### To Reproduc

[2019-08-22 21:33] danroth27 commented on #12302
This is an ask from one of the major Blazor component vendors, so let's consider it for 5.0

[2019-08-22 21:44] NTaylorMullen commented on #13319
Investigated and it wasn't what I initially thought. Roslyn doesn't support complex completions in projected scenarios. Basically [here](http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/IntelliSense/AsyncCompletion/CommitManager.cs,140) they end up looking for information about the current document (they only allow C#) and fail because the "current" document happens to

[2019-08-22 21:52] BrennanConroy commented on #13309
cc @mikaelm12

[2019-08-22 22:06] mikaelm12 commented on #13309
It looks like you aren't using the most up to date preview of the Java client. Preview 8 has been released : `com.microsoft.signalr:signalr:3.0.0-preview8.19405.7`
Can you see if that makes things more stable? If not we can investigate further.

[2019-08-22 22:12] NTaylorMullen commented on #5053
Ya we should definitely do that.

[2019-08-22 22:16] dazinator commented on #12712
Install dotnet sdk 3.0.0 preview 8 and make sure you build with that (check your global.json if you are using one, and do `dotnet --list-sdks` to make sure you have preview 8). I also uninstalled sdk preview 7. Restarted vs. Made sure all my blazor dependencies were targeted against preview 8. ..Once I did all of that my issue with layout attribute went away.

[2019-08-22 22:30] bigswede74 commented on #9017
Was this feature ever implemented? The documentation states that the JS client has the below feature, is this available in TS?

[code]

[2019-08-22 22:33] BrennanConroy commented on #9017
Yes, it's available. The JS client is built from the TS client.

[2019-08-22 22:36] bigswede74 commented on #9017
@BrennanConroy Am I missing an import? I get TS compile errors when adding the line to the HubConnectionBuilder.

`.withAutomaticReconnect()`

[2019-08-22 22:38] BrennanConroy commented on #9017
Which version of the npm package are you using?

[2019-08-22 22:40] bigswede74 commented on #9017
@BrennanConroy I'm using below.

`"@aspnet/signalr": "^1.1.4",`

[2019-08-22 22:42] BrennanConroy commented on #9017
This feature is only available in `>=3.0.0`

[2019-08-22 22:45] bigswede74 commented on #9017
@BrennanConroy I just ran the below command. why is it not garbing the most recent release package?

`npm install @aspnet/signalr`

[2019-08-22 22:46] bigswede74 commented on #9017
@BrennanConroy Sorry I just saw that 3.0 is preview. I will grab the preview.

Thanks for the help

[2019-08-22 22:46] Tratcher opened #13356 "Implement HTTP_SEND_RESPONSE_FLAG_GOAWAY"
// HTTP_SEND_RESPONSE_FLAG_GOAWAY - A flag that must always be specified with
// HTTP_SEND_RESPONSE_FLAG_DISCONNECT. For pure HTTP/1.x connections, that is
// connections that don't do HTTP/2 and HTTP/3, this behaves the same as
// HTTP_SEND_RESPONSE_FLAG_DISCONNECT. For HTTP/2 and HTTP/3, this results in
// sending a GOAWAY frame and will cause the client to move to a different
// connection.

#d

[2019-08-22 22:47] BrennanConroy commented on #9017
FYI we've changed the npm package name to `@microsoft/signalr` after preview6.

[2019-08-22 22:55] bigswede74 commented on #9017
@BrennanConroy I there a way to configure the `IReconnectPolicy ` when creating the hub connection? Will it retry indefinitely?

[2019-08-22 22:59] BrennanConroy commented on #9017
Read the [docs](https://docs.microsoft.com/aspnet/core/signalr/javascript-client?view=aspnetcore-3.0#reconnect-clients) 😃
And if anything is unclear, open an issue from the page.

[2019-08-22 23:06] sbuchok commented on #13322
Just another note, if you use the Time type in SQL, the data type returned to C# is a TimeSpan. I now need to either use DateTime in SQL (which doesn't make sense for what I'm doing) or I need to convert the TimeSpan that is returned from SQL to a DateTime object. All of this is because TimeSpan isn't supported for either the input type="time" or for proper JSON serialization (this is a separate b

[2019-08-22 23:11] sbuchok opened #13357 "input type="time" reseting value"
Here is a BlazorFiddle that shows the issue:

https://blazorfiddle.com/s/u8qkq9li

As soon as you change the last value, the input resets.
You'll also notice that on initialization that the control doesn't get set with a value.

[2019-08-22 23:15] sbuchok commented on #13322
Last thing, honest. TimeSpan does work with the type="time" and works better than DateTime does. The only thing that doesn't work for TimeSpan is bind:format. DateTime however doesn't really work at all:
https://github.com/aspnet/AspNetCore/issues/13357

This just adds to the confusion as to what is supposed to work and what isn't.

[2019-08-22 23:28] Davilink opened #13359 "RedirectResult support for 303 (See Other)"
### Is your feature request related to a problem?
Hi, i was reading the RedirectResult class : https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.redirectresult?view=aspnetcore-2.2
and the HTTP Code "See Other (303)" is not mention here.

### Describe the solution you'd like
Add the HTTP Code status in RedirectResult

[2019-08-22 23:38] Postlagerkarte commented on #13357
You can not bind input type="time" to DateTime but you can bind it to Timespan.

[2019-08-22 23:38] sbuchok commented on #13357
TimeSpan however works:
https://blazorfiddle.com/s/uk47jfsz

However according to this ticket:
https://github.com/aspnet/AspNetCore/issues/13322

TimeSpan isn't supported.

[2019-08-22 23:40] sbuchok commented on #13322
More confusion. This ticket someone says that DateTime isn't supported but that TimeSpan is:

https://github.com/aspnet/AspNetCore/issues/13357

[2019-08-22 23:41] Postlagerkarte commented on #13357
Indeed this is very confusing.

[2019-08-22 23:42] sbuchok commented on #13357
Glad I'm not the only one. ;)

[2019-08-23 00:28] TwentyFourMinutes opened #13361 "Mapping Subdomains to Areas"
### Is your feature request related to a problem? Please describe.
I would like to be able to map a subdomain e.g. `blog.example.com` to an area. Lets say someone would be hitting `blog.example.com/Posts/LatestPost`, it would be hitting the action called `LatestPost` in the `Posts` controller which is in the `Blog` area.

### Describe the solution you'd like
In my opinion it would be really handy

[2019-08-23 02:07] pranavkm commented on #13359
Is there a specific scenario where it's useful to you? This is the first we've been asked about this status code and I'm trying to understand why you'd use 303 over 302 or 307.

[2019-08-23 02:07] pranavkm commented on #13354
What do the server logs say?

[2019-08-23 02:13] ChiragRupani commented on #5446
Are you taking contributions for using typescript version of template (converting existing JS version) using create react app? I would like to work on this.

[2019-08-23 02:19] dingsongjie commented on #13324
Can Free memory in LOH be compressed by setting  GCLOHCompact = CompactOnce ?

[2019-08-23 02:32] pranavkm opened #13363 "Specifying multiple JSInvokable attribute on a method throws"
JSInvokableAttribute is declared to be `AllowMultiple`. However `DotNetDispatcher` incorrectly assumes there's only ever one: https://github.com/aspnet/Extensions/blob/release/3.0/src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetDispatcher.cs#L323

Specifying more than one results in an exception at runtime:

[code]

We should just remove the `AllowMultiple = true` since there doesn't se

[2019-08-23 02:45] Davilink commented on #13359
303 is to indicate to the user agent to do a GET to a different location, when a 302 is to indicate the user agent to go to a different location but doesn't force to use the GET method.

[2019-08-23 02:49] Davilink commented on #13359
We have kind of a workaround for that redirect an http:// to a app:// scheme to by pass an email problem and the user agent has to do a GET on that app://scheme to work.

[2019-08-23 04:37] Tratcher commented on #13097
@geoffkizer this overlooks a possibility. We've discussed elsewhere that when the client receives a final status code and END of stream (before a RST, if any), it has a choice to either continue sending data (today's behavior) or to RST the stream itself. This wouldn't be a RST in response to a RST, it would be a RST in response to an END and would put the stream in a fully closed state on both cl

[2019-08-23 04:54] kijoyin opened #13365 "Adding .Net Core reference (netstandard 2.0) breaks BlazorWASm project"
### Describe the bug
When a reference to a .netcore class library is added to the Blazor client porject I am getting an error saying the the referenced dll cannot be found in browser console.

WASM: System.TypeLoadException: Could not load type of field 'REST.Manangement.V2.UI.Pages.Environments.AddEnv:exampleModel' (0) due to: Could not load file or assembly 'REST.Management.V2.Resources, Version

[2019-08-23 05:44] dougbu commented on #11359
Do see signing validation in the Arcade post-build stages. So, this will come for free once we get aspnet/AspNetCore#13040 in. No further action needed.

[2019-08-23 05:44] #11359 closed

[2019-08-23 05:58] wjsgzcn opened #13366 "Angular template: User.Identity.Name return null in webapi controllers"
Using dotnet core 3.0 preview8 to create a new angular project with individual authentication, I got a null when calling User.Identity.Name in the webapi controller, while I was logged in and the web page could display correct username.

I found the name claim is missing in the User's claims, and I have to get userid from claims, then use ef to get username from the database.

I wonder if this is

[2019-08-23 06:10] wjsgzcn opened #13367 "The default JSON serializer throw exception when running in docker"
dotnet core 3.0 preview 7.

I have a simple project that return json from webapi controllers, everything works well when the  project is running locally, but when I move it into docker, the controller cannot return json, and throws a strange exception.

I've moved to AddNewtonsoftJson, and the exception has gone.

I think it must has a bug with the default json serializer or the dotnet core runtim

[2019-08-23 06:13] prochnowc opened #13368 "RouteOptions.LowercaseUrls should not affect routeValues"
### Is your feature request related to a problem? Please describe.

I am trying to lowercase my routing URLs but dont want to have lowercased routeValues.

### Describe the solution you'd like

When setting RouteOptions.LowercaseUrls the URLs of controller names and actions should be lowercased but not the routeValues.

For example:
`ItemsController.CreatedAtAction(nameof(Get), new {id = "ytp30ybm

[2019-08-23 06:18] HaoK commented on #13340
Yeah this was just an oversight, we made the change fairly late to Identity.Extensions in June to target netstandard 2.0, since we did that, we can now have this package target netstandard2.1

cc @ajcvickers @blowdart I'm assuming this is too late for preview9, so maybe this is something for 3.1?

[2019-08-23 06:21] HaoK commented on #11228
These two issues should be fixed now via https://github.com/aspnet/AspNetCore/issues/11880 and https://github.com/aspnet/Scaffolding/commit/bd37b0e2b7505d56b99e07d8aa3402538efe54d9

[2019-08-23 06:49] findmoon commented on #13229
I had debug,this code not execute。only this event occured `AddCookie(CookieAuthenticationDefaults.AuthenticationScheme,options=> {}`

[2019-08-23 07:38] tomRedox commented on #13193
@danroth27 it looks like it could be the order the warnings are generated in.  Where there's a binding I think the compiler is diagnosing a binding issue before it does the component name check, so is reporting the binding one instead of the component one:

If I mistype the name of this component (should be Blazored**T**oasts) which doesn't have a binding:

![image](https://user-images.githubuserc

[2019-08-23 08:02] harleydk commented on #13358
Concerned it would lead to lack of developer discipline? Or goes against what you're trying to achieve with Blazor? I can appreciate any concerns along those lines.
In my particular use-cases it would certainly ease the transition to Blazor from other frameworks. Always had the ability to identify a component, web or win, by a get-by-id or a view-children something-something, what or have you. Sur

[2019-08-23 08:03] duki994 commented on #13347
@brockallen
Sure. For SMS as TOTP code delivery sytem this clock skew is ok. Mobile network latency to end user can be quite an issue depending on region.

For 2FA authenticator apps 90 seconds clock-skew is too much in lots of implementations.

@blowdart
Configurable clock-skew would be nice. Or both clock-skew and time expiration.

I was just very confused because in documentation it's written t

[2019-08-23 08:17] AYanuseuskaya commented on #13166
Good day @danroth27. I temporarily disabled the antivirus program, rebuilt the project, run and it worked! Thanks for the help!

[2019-08-23 08:28] SteveSandersonMS commented on #13166
Thanks for confirming! Could you let us know which antivirus software you were using so we can investigate what it does?

[2019-08-23 08:50] AYanuseuskaya commented on #13166
Good day @SteveSandersonMS. I use COMODO Internet Security Premium 10 version 10.2.0.6526

[2019-08-23 09:05] SteveSandersonMS commented on #13166
Thanks for the info!

[2019-08-23 09:07] khosro commented on #13133
Thanks @TimCorey , really helpful video

[2019-08-23 10:05] mrpmorris commented on #10647
This can be closed, because it is now possible to implement IDisposable within a Razor file.

[2019-08-23 10:07] stsrki commented on #13310
@egil Chrome has an option to hide comments from Elements section.

Open DevTools > Settings(F1) > and uncheck _Show HTML comments_

[2019-08-23 10:11] swAucxis opened #13369 "Websockets connection fails for random users, Fallback to SSE works for them"
### Describe the bug

Some “random” users doesn’t seem to be able to connect with Websockets.
Once the random user is “selected” as unable to connect with Websockets retrying the websocket connection won’t work in the near future.
The day after that user is able to connect to the signalr server through Websockets and other “random” users aren’t able to connect.

What SignalR does automatically is

[2019-08-23 10:20] SteveSandersonMS opened #13370 ""Reload" button regression - no longer does anything"
When server-side Blazor cannot reconnect to the server, it displays a message offering a link to "reload" the page. But if the user clicks it, nothing happens (except it logs an error to the JavaScript console saying `Error: Cannot send data if the connection is not in the 'Connected' State.`). This is bad because it directly breaks an important end-user experience.

The broken functionality was i

[2019-08-23 10:22] SteveSandersonMS commented on #13337
Done.

[2019-08-23 10:22] #13337 closed

[2019-08-23 10:27] mrpmorris commented on #10526
@danroth27

Possible solution:
In `InputBase<T>.set_FieldIdentifier` execute `EditContext.GetFieldState(value, true)`

This will add the field state to the EditContext and ensure it is validated.

PS: Not sure any FieldIdentifiers ever get removed from EditContext._fieldStates - I think this *might* cause a memory leak when navigating to different URLs that point to the same component.

Navigate -

[2019-08-23 10:28] SteveSandersonMS commented on #13335
Done

[2019-08-23 10:28] #13335 closed

[2019-08-23 10:29] elgerm commented on #13239
@blowdart It doesn't matter if you use a PWA or not. The same problem persists, I just pointed out another problem that arises when using a PWA, that is when using the javascript login flow it doesn't redirect back to the PWA but to the browser.

Sticking with problem no. 1, and I'm not mixing modes here: If using android in a chrome browser (not PWA), when logging in you are presented with 2 opti

[2019-08-23 11:05] SteveSandersonMS commented on #13334
Done

[2019-08-23 11:05] #13334 closed

[2019-08-23 11:19] SteveSandersonMS opened #13371 "[Preview 9] Navigation after reconnection is broken"
This is a regression in preview 9 - it works in preview 8. After a reconnection, navigation via clicking links no longer works and logs a JS error `Error: Cannot send data if the connection is not in the 'Connected' State.`.

I tracked it down, and this problem was introduced when we switched from navigation working through JS interop to making it a first-class hub method in PR https://github.com/

[2019-08-23 11:54] LaurensAdema opened #13372 ""InvalidOperationException: End of body before form was fully parsed" on Linux on OpenIdConnect POST callback"
While updating to nightly builds I found that the POST callback on OpenIdConnect (to Azure) does not work on Linux, while it does on Windows. I can confirm it worked on preview 7 on Linux. I don't have confirmation on preview 8 but it is definitely broken on 3.0.0-preview9-19419-03. I have tried both Framework-Dependent as Self-Contained on linux-x64.

The exception:
[code]

Broken 3.0.0-preview9-

[2019-08-23 12:05] javiercn opened #13373 "[Blazor] Usings in _Imports.Razor are marked as unused"
Not sure there's anything we can do about it, but felt worth discussing.
* The usings are marked as unused on the _Imports.Razor file
* If you hover them there is a message that tells you they aren't being used.
* The IDE will color them in light gray which makes them hard to read.

![image](https://user-images.githubusercontent.com/6995051/63589498-2f240c00-c55e-11e9-9a20-4c8d268c236c.png)

Could

[2019-08-23 12:24] blowdart commented on #13366
@javiercn are we providing wrappers to send a token to an api controller or anything in these templates?

[2019-08-23 12:24] SteveSandersonMS opened #13374 "[Preview 9] Templates that use auth have a broken "Not found" page"
In preview 9, we switched from using `<CascadingAuthenticationState>` in the templates to use `<AuthorizeRouteView>` inside the `<Found>` part of the `<Router>` config.

Unfortunately this doesn't account for the `<NotFound>` part of the `<Router>` config, which now doesn't have any cascaded authentication state. This leads to an exception if you visit a non-existent page, because the main layout

[2019-08-23 12:29] SteveSandersonMS opened #13375 "[Preview 9] Template that uses Windows authentication is broken by default"
The issue is that, in `App.razor`, it contains a `<RouteView>` instead of a `<AuthorizeRouteView>`. This happens because the condition in the sources looks like this:

[code]

The `OrganizationalAuth || IndividualAuth` criteria is wrong because it doesn't account for `WindowsAuth`.

To fix this, we could change the condition to `if (!NoAuth)` since that covers all the cases.

**However** since the

[2019-08-23 12:35] SteveSandersonMS commented on #13336
Done, including in conjunction with Azure SignalR and when deployed to Azure.

[2019-08-23 12:35] #13336 closed

[2019-08-23 12:39] SteveSandersonMS commented on #13288
I also filed https://github.com/aspnet/AspNetCore/issues/13370 without realising it was a dupe of this.

However, since #13370 also contains a diagnosis of exactly what was broken, I'm going to close this one in favour of that.

That also means we'll re-triage. So, closing as dupe of #13370.

[2019-08-23 12:39] #13288 closed

[2019-08-23 12:39] SteveSandersonMS commented on #13370
Note that this is the same as https://github.com/aspnet/AspNetCore/issues/13288. However, I've closed that other one in favour of this one, since this one contains a diagnosis of what's wrong.

[2019-08-23 13:12] pranavkm commented on #13367
Do you have logs, exception stack traces or a sample app to share?

[2019-08-23 13:15] pranavkm commented on #13373
Dup of https://github.com/aspnet/AspNetCore/issues/5009?

[2019-08-23 13:27] blowdart commented on #13239
@Tratcher something to experiment with

[2019-08-23 13:27] vhe1 opened #13376 "Having multiple user secrets files"
### Is your feature request related to a problem? Please describe.
I am trying to have two different sets of access keys, for two different enviromnments, like Development and QA.
However, as far as I am aware of, I can only have one secrets file.

### Describe the solution you'd like
I'd like to be able to create environment-specific secrets files.

[2019-08-23 13:27] blowdart commented on #13347
90 second skew is the defacto default for even TOTP apps.

[2019-08-23 13:30] blowdart commented on #13347
And the TOTP values are valid for 30 seconds, that's when they rotate, but we accept values either side because of skew and UX reasons.

[2019-08-23 13:31] rmja commented on #13359
@pranavkm

A use case is for the Put-Redirect-Get pattern equivalent of the Post-Redirect-Get pattern.

302: A post request is followed by a GET to the location header
302: A put request is followed by PUT to the location header

303: A post request is followed by a GET to the location header
303: A put request is followed by GET to the location header

The last is of cause the desired in this cas

[2019-08-23 13:41] SakulRelda opened #13378 "Weird build docker error with .NET CORE + Razor Class Library"
Hello,

currently i have developed a software (solution) which contains two projects (csproj). One of this projects is the main-client which has the following project-description:

[code]
This main-client project has a dependencie - project which is called ModuleSMDMaterialArea. This kind of project is a razor class library and has the following project structure:
[code]

The project is running pe

[2019-08-23 14:37] ikcore commented on #9020
I'm just plus 1'ing this as I have been playing around with gRPC now for a while and want to finally start adopting it in some my client projects so was looking at deployment work flows. I'm a little disheartened by the amount of operational overhead this would be to deploy in production with .net core.

[2019-08-23 14:40] ajcvickers commented on #13340
@Pilchie @glennc @DamianEdwards This might be something we want to take post preview 9. It should be safe (.NET Core 3.0 -> .NET Standard 2.1) and the story is pretty inconsistent as it is.

[2019-08-23 14:41] egil commented on #13310
That is a good workaround for now. Thanks. I would still like to only have the razor comments removed with a dedicated extension/checkbox, at some point.

[2019-08-23 14:43] Tratcher commented on #13372
Your second and third log are cut off before the /sigin-oidc request finishes. Is there more to those log?

Can you capture a client side wireshark trace for the successes and failures? How about a Fiddler trace?

Side question: Why do you have two SessionMiddleware in the pipeline?

[2019-08-23 14:47] Tratcher commented on #13372
FYI there was a fix to the parser in preview9:
https://github.com/aspnet/AspNetCore/pull/12749
You can try decompiling your bits to make sure you have these changes.

[2019-08-23 15:03] javiercn commented on #13366
@blowdart Not sure what you mean.

We attach the access token to outgoing requests in the angular template, but that's it.
The API is not expected to know personal information about the user, it only receives the access token and should make any security decisions based on the sub claim, which is the user identifier.

Closing this as it is by design. Refer to the Identity Server documentation to c

[2019-08-23 15:03] #13366 closed

[2019-08-23 15:18] javiercn commented on #13256
No issues found

[2019-08-23 15:18] #13256 closed

[2019-08-23 15:40] javiercn opened #13380 "[SPA] Logout issue in Edge"
While doing validation I found out that Logout is partially broken in Edge.

* The app will try to logout by opening a popup.
* The logout action will succeed (you will be logged out on the server) but the popup will fail to notify the main window and an error will be displayed in the popup.
  * This is apparently due to a bug in how Edge handles popups where the link between the parent and child

[2019-08-23 15:41] javiercn commented on #13257
The only issue I found is regarding to logout on Edge. The fix is pretty trivial:
https://github.com/aspnet/AspNetCore/issues/13380
https://github.com/aspnet/AspNetCore/pull/13379

Other than that I tried Edge, Firefox and Chrome on windows and Safari on Mac without any further issue.

[2019-08-23 15:49] Pilchie commented on #13340
Agreed.

[2019-08-23 15:50] Pilchie commented on #13340
(As long as it doesn't cause problematic source build implications)

@HaoK can you put together a fix?

[2019-08-23 15:54] #13257 closed

[2019-08-23 15:54] ajcvickers commented on #13340
@JunTaoLuo -- any source build implications here?

[2019-08-23 16:16] #13373 closed

[2019-08-23 16:22] danroth27 commented on #13358
@harleydk Thanks for this feedback! We've put this suggestion on our backlog. We don't have immediate plans to address this, but we will reconsider based on customer feedback. We would recommend modeling the behavior you want using your app model instead of trying to capture multiple references of child components.

[2019-08-23 16:28] danroth27 commented on #13353
@julienGrd Thanks for reporting this issue! We'll need to investigate to understand why this is happening. If you could provide a minimal repro project that demonstrates the problem that would help. We will most likely investigate this after .NET Core 3.0 has shipped later this year.

[2019-08-23 16:53] HaoK commented on #13340
PR here: https://github.com/aspnet/AspNetCore/pull/13381

[2019-08-23 16:59] cjblomqvist opened #13382 "HMR + InProcess is not working"
### Describe the bug
See https://github.com/aspnet/AspNetCore/issues/7253

### To Reproduce
See https://github.com/aspnet/AspNetCore/issues/7253

I'm using:
* Visual Studio 16.2.3
* .NET Core SDK 2.2.401
* aspnet-webpack 3.0.0
* webpack-hot-middleware 2.25.0

There's also a repro repo at https://github.com/paulirwin/WebpackHMRIssue - albeit it doesn't necessarily have the exact same version of all

[2019-08-23 17:05] cjblomqvist commented on #7253
I'd lke to add that a workaround is to use the out of process hosting model only when developing. The general settings set in csproj/web.config (as specifed @ https://docs.microsoft.com/en-us/aspnet/core/migration/21-to-22?view=aspnetcore-2.2&tabs=visual-studio ) can be overriden by:

Right-click your project -> Properties -> Debug -> Select all profiles -> (Web Server Settings [at the bottom]) ->

[2019-08-23 17:06] blowdart commented on #13366
@wjsgzcn To expand on this, yes, this is expected. You can [expand the claims out via scopes](https://stackoverflow.com/questions/41387069/identity-server-4-adding-claims-to-access-token), but because it's all in-app, it's just as easy to use the usermanager.

[2019-08-23 17:17] #13054 closed

[2019-08-23 17:27] LaurensAdema commented on #13372
The remainder of the request isn't really relevant to the scope of the issue since the request cuts out before processing the request. This is why I cut off the log after the first sign of processing. The two working ones both end in:
[code]

Regarding Fiddler/Wireshark, I have included the (redacted) working and not working requests. I omitted them because I didn't see any differences but maybe I

[2019-08-23 17:27] Tanhe opened #13383 "Hosting.WindowsServices IHost support is missing"
The extension method `RunAsService()` does not exist for the new `IHost` interface.

[2019-08-23 17:42] julienGrd commented on #13353
Hi @danroth27  ! You will find a repro project here ! : https://github.com/julienGrd/DemoBlazorDropZone
- launch the project, you will see a drop area in the home page
- add a "small" file in the drop area (in my test <500 kb) : the upload is OK, the base64 of the file is shown
- add a "big" file in the drop area (in my test >4000kb) : you will have the error RuntimeError: memory access out of bou

[2019-08-23 17:43] BrennanConroy commented on #13369
First off, you should definitely be using the latest patch version as there could be bug fixes. 1.0.4 is the latest for 1.0.X currently.

Can you gather logs when the "random" user is unable to connect with websockets? There isn't really any actionable info here without some logs. https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2

[2019-08-23 17:46] jkotalik opened #13384 "HTTP/2: Rare data corruption when stress testing against Kestrel"
So we found one instance of data corruption and it's definitely occurring on the server (Kestrel). Our current working hypothesis is there is an off by one error when leasing memory out in our ConcurrentPipeWriter. What we see happening is a request with a large response is getting its first byte corrupted with a value that was previously written. There is a test that is running which sends 1-byte

[2019-08-23 17:46] jkotalik commented on #13384
Copied from https://github.com/dotnet/corefx/issues/40194

[2019-08-23 17:47] jcphlux opened #13385 "[Preview 8] ConfigureSigningCredentials.LoadKey() - InvalidOperationException: Key type not specified."
Angular app with Individual User Authentication is running fine locally but once deployed I get an ANCM In-Process Start Failure.

### To Reproduce
Steps to reproduce the behavior:
1. Mcrosoft.AspNetCore.App 3.0.0-preview8.19405.7
2. Angular Template
3. Individual User Authentication turned on
4. Deploy to azure in both Deployment Modes self-contained and framework-depended (with asp core 3 x86 Ex

[2019-08-23 17:53] danroth27 commented on #5446
@ChiragRupani Not at this time. We've decided to stick with the JS version for now. However, we hope in the future (.NET 5) to turn the SPA templates over to the community so that the various JS communities (React, Angular, Vue, etc.) can control what options they prefer to provide.