[2019-02-04 18:35] #5378 closed

[2019-02-04 18:36] muratg commented on #6691
Does this still happen?

[2019-02-04 18:36] fluffynuts commented on #7246
If it would be helpful, I can possibly set up a self-hosting IdentityServer project at some point, given a little time. I can't supply the full code I'm working on because it's for a client.

[2019-02-04 18:48] pakrym opened #7484 "Admin permissions are required to run ANCM tests"
Creating IIS sites requires admin rights so to get full coverage on ANCM (outside IISExpress) we need to have it on our test agents.

VS2019 dotnet queue doesn't run tests as admin and couldn't be used to run said tests.

Helix has queues that work for us but it's not enabled on AspNetCore yet.

I've done preparation work to make IIS tests publishable and runnable from outside source in https://gi

[2019-02-04 18:52] KexyBiscuit commented on #7133
Workaround: `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::0.8.*`
Reference: [NuGet Package Version Reference](https://docs.microsoft.com/en-us/nuget/reference/package-versioning)

[2019-02-04 18:59] pakrym opened #7483 "Downlevel OS coverage required for ANCM"
Moving off teamcity means that we are losing our Windows 7/2012 agents. We've caught real bugs in ANCM that were caused by WinApi or IIS behavioral differences on downlevel OS.

This issue is to track adding the coverage back.

@muratg

[2019-02-04 19:59] oferns commented on #7239
I have an update. It is because the value is being passed as a string instead of an int when I use the asp-route-id="" attribute. I have managed to wrap the existing IHtmlGenerator to check for mismatched types in the expected route values (ie the function arguments for your action) and the supplied values to convert if necessary. This is below. This fixes the form action tag, but not any buttons

[2019-02-04 19:59] pakrym opened #7250 "Race/double build in Windows installer build step"
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=85876
https://dev.azure.com/dnceng/public/_build/results?buildId=86710

cc @natemcmaster

[2019-02-04 20:07] natemcmaster commented on #6942
Yeah...I'm not likely to investigate this anytime soon. Okay if this sits untouched for a while (or forever)? I'm starting leave soon and have higher priorities than investigating a test failure that happened once in about 1,200 runs.

[2019-02-04 20:20] pakrym commented on #7164
Fixed in https://github.com/aspnet/AspNetCore/pull/7177

[2019-02-04 20:20] #7164 closed

[2019-02-04 20:21] mkArtakMSFT commented on #7241
Thanks for contacting us, @mrlife.
@JamesNK, can you please look into this? Thanks!

[2019-02-04 20:22] pakrym commented on #7145
Blocked by https://github.com/aspnet/AspNetCore/pull/6728

[2019-02-04 20:29] DanielStout5 opened #7253 "JavascriptServices Hot Module Replacement (HMR) Doesn't Work With InProcess Hosting Model"
### Describe the bug

Hot Module Replacement (HMR) for my JS single page application was working fine until I added <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel> to my csproj. After that, it fails to reload when changes are made in the project.

The browser console still says `[HMR] connected` as before

NodeServices still outputs `webpack built 4e73e4e1deb48362321c in 223ms` as befor

[2019-02-04 20:50] Tratcher commented on #7101
@shirhatti. We still don't have clear guidance on what we will and won't add to this list.

[2019-02-04 20:50] oferns commented on #7239
could it be cured by making the RouteValues property of the FormActionTagHelper an  IDictionary<string, object> instead of  IDictionary<string, string>?

[2019-02-04 20:53] shirhatti commented on #7101
Hmm 😕

I'm almost certain that we agreed that our stance on this going forth is will not accept any contributions to our known extensions/MIME types. In addition to what we already have, we will limit new extensions to only those assets shipped by our templates.

[2019-02-04 20:55] shirhatti commented on #7101
@muratg to (hopefully) confirm what I said

[2019-02-04 21:05] pakrym commented on #6595
Closing this, no failures after aspnet/AspNetCore#6862

[2019-02-04 21:05] #6595 closed

[2019-02-04 21:18] Tratcher commented on #7101
Do we have that in writing somewhere our contributors can see it?

[2019-02-04 21:23] pranavkm opened #7255 "Add a System.Text.Json based TempDataSerializer"
So that TempData works without having to add Mvc.NewtonsoftJson

[2019-02-04 21:25] pakrym commented on #7250
@natemcmaster seems like projects are duplicated in ProjectsToBuild collection:

![image](https://user-images.githubusercontent.com/1697911/52238214-57794100-2880-11e9-9783-12d7df133f7f.png)

[2019-02-04 21:26] pranavkm opened #7256 "Add a System.Text.Json based input \ output formatter"

[2019-02-04 21:31] shirhatti commented on #7101
The latter option

[2019-02-04 21:35] Tratcher commented on #7101
Ok, write it up pretty and we'll paste it in there.

[2019-02-04 21:35] pranavkm opened #7257 "Consider using System.Text.Json based serializer in rzc"
This is not part of the runtime, but it would be one fewer binary that we would need to ship in the SDK.

[2019-02-04 21:38] clintnetwork commented on #7101
Maybe there some new extensions that add too (webm or webp by example)

[2019-02-04 21:38] oferns commented on #7239
After all that, if I define the same route with a string and an int then all is well. Its a bit of a hack though,..

[code]

[2019-02-04 22:07] natemcmaster commented on #7250
Look at the metadata. They should differ by `Platform`.

[2019-02-04 22:11] danroth27 opened #7258 "Clean up Razor Components dependencies on Blazor"
- ~~BlazorHub -> ComponentsHub~~
- Move `UseBlazor` out of Microsoft.AspNetCore.Components.Server
- ...

[2019-02-04 22:18] mkArtakMSFT commented on #7237
Thanks for contacting us, @TheFanatr.
@rynowak, is this how you envision the routing to work for components?
/cc @danroth27

[2019-02-04 22:41] vertonghenb commented on #7133
Might want to update https://blogs.msdn.microsoft.com/webdev/2019/01/29/aspnet-core-3-preview-2/ for the time being.
from:
[code]
to:
[code]

[2019-02-04 22:44] mkArtakMSFT commented on #7253
Thank you for filing this issue, @DanielStout5. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-02-04 22:45] mkArtakMSFT commented on #7253
@ryanbrandenburg, can you please look into this? Thanks

[2019-02-04 23:03] mkArtakMSFT commented on #7236
Thanks for contacting us, @TheFanatr.
@rynowak, @SteveSandersonMS thoughts?

[2019-02-04 23:14] SteveSandersonMS commented on #7236
All the points here are valid, but this is a duplicate of #5514.

We will change components to be partial classes, but we have to do some work in VS to make it handle that first.

[2019-02-04 23:14] #7236 closed

[2019-02-04 23:18] mkArtakMSFT commented on #7233
Thanks for contacting us, @baruchiro.
This is not something we've heard a lot of ask for from the community.
May the situation change and we see more community involvement regarding this ask, we'll reconsider this.

[2019-02-04 23:18] #7233 closed

[2019-02-04 23:18] mkArtakMSFT commented on #7233
/cc @danroth27

[2019-02-04 23:19] danroth27 commented on #7133
@vertonghenb Thanks, I updated the post.

[2019-02-04 23:50] mkArtakMSFT commented on #7223
Closing this one, as it seems all the work necessary to handle this is already being tracked!

[2019-02-04 23:50] #7223 closed

[2019-02-04 23:52] davidfowl commented on #7223
I don't feel good that nothing is tracked in this repo. How do I know when this is fixed? Which bug should I track for the end to end?

[2019-02-05 00:57] mkArtakMSFT commented on #7220
@pranavkm, any suggestions?

[2019-02-05 00:59] #7219 closed

[2019-02-05 01:02] NTaylorMullen commented on #6672
https://github.com/aspnet/AspNetCore-Tooling/commit/a5621641f839dfa8e43c8d3d6b01552bf308a1b9

[2019-02-05 01:02] #6672 closed

[2019-02-05 01:44] dougbu commented on #7238
After debugging a bit, I suspect our `ValidationStateDictionary` needs an entry to pass the correct `ModelState` key along to the validation system when `FormFileModelBinder` does its fallback.

Oddly, I expected the error to be consistently added to a `FileToUpload` entry in `ModelState` as-is (never `ObjB.FileToUpload` as the form expects). Need to debug more with a repro in this repo because so

[2019-02-05 02:53] #3565 closed

[2019-02-05 07:29] drauch opened #7264 "ViewCompilation / Razor SDK in ASP.NET Core 2.1 targeting .NET Framework 4.7.2"
How does one enable/disable view compilation for an ASP.NET Core MVC 2.1 app targeting the full .NET framework 4.7.2?

In the earlier days it was disabled by default for full .NET framework, you had to reference "Microsoft.AspNetCore.Mvc.Razor.ViewCompilation" as an explicit development dependency to enable it. It seems that now view compilation is the default when targeting .NET framework as well

[2019-02-05 07:32] davidfowl opened #7265 "[CI Failure]: ClientCertificateValidationGetsCalledWithNotNullParameters"
https://dev.azure.com/dnceng/public/_build/results?buildId=87381&view=ms.vss-test-web.build-test-results-tab

System.ComponentModel.Win32Exception : The credentials supplied to the package were not recognized

[code]

[2019-02-05 07:33] davidfowl opened #7266 "[CI Failure]: Microsoft.AspNetCore.Server.IISIntegration.FunctionalTests.ShutdownTests.CallStopAsyncOnRequestThread_DoesNotHangIndefinitely(path: "/ShutdownStopAsyncWithCancelledToken")"
https://dev.azure.com/dnceng/public/_build/results?buildId=87381&view=ms.vss-test-web.build-test-results-tab

[code]

[2019-02-05 07:56] HaoK opened #7267 "[Helix] Socket.BindTests failures on Fedora.27"
Tracking issue for skipped socket bindtests

[code]

[2019-02-05 08:07] HaoK commented on #7267
This looks like `[HostNameIsReachable]` doesn't work properly for this OS

[2019-02-05 08:11] HaoK commented on #7267
The Libuv.BindTests variant of these also fail for this OS

[2019-02-05 08:53] ivanchev opened #7268 "Add ability to pass @typeparam down to child components"
### Is your feature request related to a problem? Please describe.
If you have a templated component, that's Generic and uses @typeparam, if you want to add other child components, you also have to specify the type when you declare them. For instance in a Grid:
[code]

In this setup, in order to have a strongly typed context passed to the Column templates, you have to specify explicitly TItem to e

[2019-02-05 09:09] JeremySkinner commented on #7238
Thanks - I figured it'd be something related to that but I felt like I was starting to go down the rabbit hole trying to debug the model binding process. For now I've asked the user to work around the problem by explictly specifying `[BindProperty(Name = "ObjB")]`. Let me know if there's any more info you need from me.

[2019-02-05 11:27] mtad2002 opened #7269 "system.stackoverflowexception nested self referenced class in viewmodel"
### Describe the bug
I have a self-referenced class named Category and have another class named Post for my blogging system. I used my Post class in a ViewModel to create a new post. everything worked fine until I migrated my project from asp.net core 2,1 to 2.2 version.

when i want to create new post i get an infinite loop and after that get system.stackoverflowexception.

note that when i use p

[2019-02-05 11:33] LindaLawton commented on #7055
Actually the issue was caused by another hunk of code that was over writing the cookie created by asp .net identity.    So you have a cookie with the same name containing no stamp even though the stamp was correctly set the first time though.

I agree its an error in my code.

However I still think this library should check every time to ensure that there is a security stamp present you dont need

[2019-02-05 11:46] LindaLawton commented on #7155
Actually its a homegrown user system that was covered over to asp .net identity in September.   We have had some teething issues as there is no documentation on how to convert a ten year old legacy system to asp .net identity.   I think we finally have it stable but this may have lead to use finding some places where you are not testing for null security stamps.

[2019-02-05 12:09] stsrki commented on #6887
I'm trying to update my components libraries to the new RC 3.0 preview. When I start the app it does not show. The pnly thing that I get are this messages in the console

[code]

I really don't see what is wrong, basically I have updated all my project files according to the default Razor Components app. Can you guys point what can I do?

[2019-02-05 12:31] lucasNewhsarp opened #7270 "RegisterModel.InputModel Localize"
Hi,

Localization not working in generated class RegisterModel.InputModel

1. Using this version of ASP.NET Core '2.2.103'

I'm following the tutorial: https://docs.microsoft.com/pt-br/aspnet/core/fundamentals/localization?view=aspnetcore-2.2#dataannotations-localization

[EmailAddress(ErrorMessage = "...")]

Everyting work fine, but localization on DataAnnotations not working on generated Identit

[2019-02-05 12:33] akalcik opened #7271 "ModelState.IsValid on built-in type which has BindRequired, validate successfully when value hasn't been provided in the Json body"
When I call PUT on API and the value is ```BindRequired```  built-in type and I don't provide the value in JSON body, the call is successful. This should be ```BadRequest```.

[code]

[code]

[code]
In the Unit Test above I've would expect Bad Request but Ok is returned.  It seem it is related to #4857.

[2019-02-05 12:44] akalcik opened #7272 "Provide possibility to validate if property hasn't been provided in the body"
I would like to have the possibility to have an attribute to validate if property hasn't been provided in the body at all.

[code]

Event when the values above are nullable I would to know if the values has been sent with the body. I like the proposal in #4857 for ```HttpBindRequired```. For required value can used there parameter ```HttpRequired```.

[2019-02-05 13:25] frank-borkin opened #7273 "Add a [Bool] data annotation"
Using dotnet core 2.2, parsing JSON on a REST interface, using [Required] to ensure fields aren't missed.
Along comes a boolean field. If it's missing from the JSON it silently gets transformed to false, when I want it to throw a 400.

Current workaround is [Range(typeof(bool), "false", "true")]. What would be neater is [Bool].

[2019-02-05 13:52] lucasNewhsarp commented on #7270
I figured out.

The name of resource file should be "RegisterModel+InputModel.pt-br.resx"

[2019-02-05 13:52] #7270 closed

[2019-02-05 13:54] sven5 commented on #6887
@stsrki
Have already looked at the output of ASP.NET Core Web Server in Visual Studio? Or run with the debugger in Visual Studio (just hit F5).

[2019-02-05 14:07] stsrki commented on #6887
I'm just starting it without debugging(CTRL+F5). There is nothing unusual in the output window.

I just saw this in the [blog post](https://blogs.msdn.microsoft.com/webdev/2019/01/29/aspnet-core-3-preview-2/)

Could be the reason why it's not working as I have some js and css files in the component library projects.

[2019-02-05 14:39] vindicatorr commented on #2867
I peek in at dotnet every now and again to see where things stand and one great thing about it is the ability to change the appsettings.json and have it reload after the change.
It's much better than hardcoding little parameter/argument/value changes and rebuilding.

With that said, yes, the lack of intellisense/auto-completion for the csproj and json files are the absolute killer for me.
It's bad

[2019-02-05 14:51] Stamo-Gochev opened #7274 "Using Blazor with other client-side components"
I am building a Blazor component and want to use another one inside it that is not a Blazor component (let's say it's written purely in JavaScript and cannot be easily ported to Blazor for now). In the Blazor component, it is represented as a standard "div" element.

The rendering of the parent Blazor component looks like this:
[code]
When the HTML of the parent Blazor component is fully rendered

[2019-02-05 15:01] SteveSandersonMS commented on #5666
@ctrl-alt-d Looks like your app must still be using the earlier packages (Blazor 0.7.0?). It's only fixed in the newer bits we haven't released yet.

[2019-02-05 15:10] SteveSandersonMS opened #7275 "In Blazor hosted template, make sure UseBlazorDebugging is only used in dev environment"
There's no good reason for this to be called in non-dev environments, plus you wouldn't normally want your server to be able to issue HTTP requests to `http://localhost:9222` on itself (not that the server would normally have anything listening there).

[2019-02-05 15:24] Tealons opened #7277 "What is the proper way to dispose a filestream in MVC?"
We have the following code in several places in our codebase:

[code]

Due to company policy, our application is scanned by a static code scanner that has a problem with the stream that is not in a using statement. We never had any performance problems, and adding a using statement breaks the return because it is disposing the stream prematurely. We searched around, but cannot find a best practice

[2019-02-05 15:36] liguobao commented on #7008
Any one can help us?

[2019-02-05 16:13] oferns commented on #7277
This isn't really the place for a question like this, more suited for Stack Overflow, but underneath the covers File is shorthand in the base controller for for New FileStreamResult, which will dispose your stream, so this is fine, I believe.
https://stackoverflow.com/questions/13983190/actionresult-returning-a-stream

[2019-02-05 16:16] davidfowl commented on #7277
That's right, MVC does it on your behalf.

[2019-02-05 16:18] dougbu commented on #5681
@montella1507 thank you for your feedback. We're closing this issue as the questions asked here have been answered.

[2019-02-05 16:18] #5681 closed

[2019-02-05 16:21] dougbu commented on #4959
@vlapenkov thank you for your feedback. We're closing this issue as the questions asked here have been answered.

[2019-02-05 16:21] #4959 closed

[2019-02-05 16:56] mkArtakMSFT commented on #7211
Thanks for contacting us, @simonziegler.

@SteveSandersonMS, @javiercn what do we plan to do about this?

[2019-02-05 16:57] mkArtakMSFT commented on #7211
/cc @danroth27

[2019-02-05 16:59] mkArtakMSFT commented on #7209
Thanks for contacting us, @MasHero7.
StackOverflow is the best place to take these type of issues, and you've already done that. Seems you're getting some tracking for your issue there already.

[2019-02-05 16:59] #7209 closed

[2019-02-05 17:01] mkArtakMSFT commented on #7206
Thanks for bringing this up, @robertmclaws.
Sure, we would happily consider your PRs.

[2019-02-05 17:03] mkArtakMSFT commented on #7206
@SteveSandersonMS, assigned to you to review the PR, when it'll be available.

[2019-02-05 17:04] mkArtakMSFT commented on #7202
@SteveSandersonMS , can you please lake a look at this one? Thanks!

[2019-02-05 17:05] SteveSandersonMS commented on #7211
The work that @javiercn and @pranavkm are doing at the moment change the unhandled exception behavior, so it should log the errors and as far as I know will no longer drop the whole circuit (connection). Longer term we have a whole set of work planned to deal with automatic reconnection for the case where the SignalR connection drops due to network issues.

Closing this because this work is alread

[2019-02-05 17:05] #7211 closed

[2019-02-05 17:05] Eilon commented on #6768
Unfortunately no great rules right now. Added you to a thread where we're discussing.

[2019-02-05 17:06] simonziegler commented on #7211
Thanks All. I'm happy to know that you are aware of this and have a plan. That's all I need.

[2019-02-05 17:07] Eilon commented on #6304
Okie dokie. Another thing I'm also fine with is doing reasonable experiments and evaluating the results. So, great, now it builds everything. Does anyone start complaining or think it's unreasonable *in practice*?

[2019-02-05 17:07] SteveSandersonMS commented on #7202
I need more information to be able to say anything about this.

@HaoK What's different about Helix that would make those commands unable to work like they do elsewhere?

[2019-02-05 17:07] pranavkm commented on #7277
Closing since this has been answered.

[2019-02-05 17:07] #7277 closed

[2019-02-05 17:08] Eilon commented on #3215
@pakrym / @pranavkm - any ideas on what might cause this or how to diagnose?

[2019-02-05 17:08] pakrym commented on #6304
I don't think anyone runs full build except people that need to test installers/sharedfx builds. And when you need to test those it's super painful to assemble the pieces.

I'm in favour of doing a full build considering we have good support for builds in subfolders.

[2019-02-05 17:09] pranavkm commented on #7269
cc @dougbu

[2019-02-05 17:11] Eilon commented on #6304
Great, this is the type of discussion I want to have!

[2019-02-05 17:11] montella1507 commented on #5681
Yes, sorry. Forgot to close.

[2019-02-05 17:14] pakrym commented on #3215
@Eilon I remember seeing similar issues a long time ago but can't remember the cause. `csproj` looks reasonable. Repro app would help to diagnose the issue here.

[2019-02-05 17:15] #7250 closed

[2019-02-05 17:16] pranavkm commented on #7264
1. Build time compilation is enabled by default since 2.1. We deprecated the ViewCompilation tool in the same release, and a 3.0 version of it will not be published.
2. Per https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.2#properties,

The following properties control the Razor's SDK behavior as part of a project build:

`RazorCompileOnBuild` – When true, compiles an

[2019-02-05 17:18] dougbu commented on #7269
@mtad2002 self-referential model types and other model type loops are not normally problematic. MVC does get into some trouble when the loop includes `IFormFile` properties, involves custom binders and in a few more cases. The issues existed before but are easier to hit in 2.2.x.

Please provide more information about your `Category` and `Post` classes. With that, we should be able to see if this

[2019-02-05 17:22] #6477 closed

[2019-02-05 17:42] mtad2002 commented on #7269
i have IFormfile in both category and post classes , here is my category and post definition

[code]

[2019-02-05 17:46] mkArtakMSFT commented on #7197
@pranavkm, please provide more details regarding this ask. Where is this needed and why?

[2019-02-05 17:48] mkArtakMSFT commented on #7194
Thanks for the details, @ronebrandao.
@dougbu, can you please look into this? Thanks!

[2019-02-05 17:59] pranavkm commented on #7220
Type forwarding resolves this specific build error. There are other breaking changes with that specific package, but we expect using `JsonResult` in user code to work pretty smoothly.

[2019-02-05 18:15] dougbu commented on #7269
The model seems susceptible to over-binding and should be pared down to a reasonable view model. It currently looks like the entire storage model is exposed. For example, why expose both `Parent` and `ParentId` to the browser?
[code]

In any case, the `Category` class as-is duplicates the **#6616** scenario. My PR to fix that (#6793) should be in our 3.0 Preview 3 release or nightlies once we merg

[2019-02-05 18:15] #7269 closed

[2019-02-05 19:12] maknapp opened #7279 "FileResult EnableRangeProcessing is an undocumented breaking change"
With v2.1.0, FileResult does no longer processes the Range header by default - it needs to be enabled via the EnableRangeProcessing flag. This seems like a breaking change that should be documented in the 2.0 to 2.1 migration.

https://github.com/aspnet/AspNetCore/commit/2fcfc6be7ce0f834feb65b705938fe344153ac1f
https://github.com/aspnet/Mvc/issues/6780
https://github.com/aspnet/Mvc/pull/6895

[2019-02-05 19:13] bradygaster commented on #7047
Closing this as we haven't heard from you. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue if we're able to identify the problem.

[2019-02-05 19:13] #7047 closed

[2019-02-05 19:15] muratg commented on #7229
@BrennanConroy Can you take a look please?

[2019-02-05 19:17] natemcmaster opened #7280 "Convert to Arcade SDK"
This repo is the last hold-out on using KoreBuild. We should convert it to use the Arcade SDK.

**Benefits**

* In the long run, reduces cost of maintaining build tools.
* Makes our repo look like the others which reduces friction in moving between repo
* Hopefully this will lead to improvements in Arcade which other teams will benefit from

**Challenges**

I've peered into my crystal ball 🔮 and h

[2019-02-05 19:32] brittonbeckham commented on #5135
Can anyone expand on why ControllerContext.RouteData.Routers would be empty in 2.2? I don't understand the need for this. I was using it in 2.1 to find the route template that the currently executing action is firing on. This because I'm using one action for many routes and doing logic based on the route template that triggered the call. Is there a suitable replacement to discover the route templa

[2019-02-05 19:34] davidfowl opened #7281 "Add ASP.NET Core to https://source.dot.net"
So that we can join the family of APIs on https://source.dot.net/, we should add this repository and Extensions and EF to the list.

The source is here:
- https://github.com/dotnet/source-indexer
- We need to add to this list https://github.com/dotnet/source-indexer/blob/master/src/index/repositories.props

cc @KirillOsenkov @stephentoub @natemcmaster

[2019-02-05 19:36] stephentoub commented on #7281
Thanks for following up on this.

cc: @alexperovich

[2019-02-05 19:37] natemcmaster commented on #3752
I've looked closer at implementing this. Here are some thoughts

Notes:

* Repos to add to source-build, in order
  1. aspnet/Extensions
  2. aspnet/AspNetCore-Tooling
  3. aspnet/AspNetCore
* It's unclear how our contributors and devs will know if a particular change would break source-build. I cannot identify a simple way to test source-build support as a pull-request check.
* Dependency flow fo

[2019-02-05 19:43] natemcmaster opened #7282 "Add aspnet/AspNetCore-Tooling to source build"
This item is opened to track adding https://github.com/aspnet/AspNetCore-tooling to https://github.com/dotnet/source-build.

Primary deliverable:

* Ensure all assets bundled in the .NET Core SDK can be built. Currently this only includes the Razor SDK

See https://github.com/aspnet/AspNetCore/issues/3752 for details.

[2019-02-05 19:44] jkotalik commented on #7034
This also applies for setting a content-length and writing past the length of it. The response is still partially written.

[2019-02-05 19:46] JamesNK commented on #5135
Because ASP.NET Core 2.2 uses endpoint routing instead of IRouter.

I think it would be good to add a friendly error message here. A number of people are running into this issue.

[2019-02-05 19:48] JamesNK opened #7283 "Provide friendly error message when manually constructing UrlHelper with endpoint routing"
re: https://github.com/aspnet/AspNetCore/issues/5135#issuecomment-460777543

`UrlHelper` doesn't work when endpoint routing is enabled. Lets provide friendly error message when someone manually constructs `UrlHelper` when endpoint routing is enabled. Message would explain the cause of the error and how to fix it.

[2019-02-05 19:50] brittonbeckham commented on #5135
Fair enough, but is there still a way to determine the route template that matched and triggered the action?

[2019-02-05 19:53] brittonbeckham commented on #5135
Looks like I can do this:
[code]
but looking for a better understanding of how to get route templates from the Action.

[2019-02-05 19:54] JamesNK commented on #5135
I'm confused about what you're trying to do. With endpoint routing there is a new LinkGenerator class with extension methods to get a link for an action.

[2019-02-05 19:57] alexsandro-xpt commented on #4848
+1

[2019-02-05 20:01] brittonbeckham commented on #5135
I'm setting up a proxy action to handle and pass through requests from a client to a set of backend services. I have a dynamic list of routes that are loaded during startup from a config file:

[code]

Then, any dynamic route template requested from the service will map to the `DefaultHandler` Action on the `ProxyController`. The logic in that Action first looks to determine which route template t

[2019-02-05 20:03] natemcmaster commented on #7281
Duplicate of https://github.com/dotnet/source-indexer/issues/5?

[2019-02-05 20:05] siberianguy commented on #6434
A field did not seem to help. I've made a stress test now: connected, disabled wi-fi, waited till disconnection and enabled wi-fi and SignalR can't connect, being in this loop:

[code]

[2019-02-05 20:32] #7220 closed

[2019-02-05 20:53] leealexander opened #7285 "What's the point of the “api” path segment in newly created ..net core API project default template"
### Is your feature request related to a problem? Please describe.
When I create a new API only .Net Core project the default route is [Route("api/[controller]")] resulting in something like http://localhost:1234/api/customers. When it comes time to deploy  e.g api.wonderfulweb.com, then it looks like this api.wonderfulweb.com/api/customers.

### Describe the solution you'd like
I can only see the

[2019-02-05 20:55] OneCyrus commented on #4648
is there an update to this? i guess we are hitting exactly this issue. we have a "VirtualScheme" which we added with AddPolicyScheme (it basically just forwards one special route to a JWT auth and the rest to IdentityServer). But we are hitting an issue where IdentityServer probably can't find the cookie and is reporting an "idp is missing" exception. The whole part with ASP.Net Core identity is w

[2019-02-05 21:36] shirhatti commented on #2867
@vindicatorr Can you please open a new issue for what you're requesting? Completions in your csproj is orthogonal to what is being discussed here, but a valuable feature in it's own right.

[2019-02-05 21:39] Tratcher commented on #4260
Microsoft.AspNetCore.Authentication.* are done.

[2019-02-05 21:45] Eilon commented on #7281
@natemcmaster only a dup if you want to support project.json :trollface:

[2019-02-05 21:49] mlorbetske opened #7286 "dotnet new react requires .env"
_From @Rick-Anderson on February 1, 2019 21:38_

See https://github.com/aspnet/Docs/pull/10423 and [Use the React project template](https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/react?view=aspnetcore-2.2&tabs=visual-studio)

Add a *.env* file to the *ClientApp* subdirectory with the following setting:

     `BROWSER=none`

This will prevent your web browser from opening when startin

[2019-02-05 21:50] #4388 closed

[2019-02-05 21:54] davidfowl commented on #7281
FWIW it looks simple and I gave it a try but I couldn't figure out how to build just the managed projects in our stack. It doesn't seem to work anymore but I haven't dug into why.

[2019-02-05 21:59] alexperovich commented on #7281
If you don't have any weird post-compile processes that change type forwards in the assemblies then the indexer build should not actually build any of the ASP.NET projects. It only needs to do a complete package restore so the compiler can get the correct `ReferencePath`s to analyze the sources.

[2019-02-05 22:02] davidfowl commented on #7281
Then maybe a build.cmd /t:Restore is enough to make it work. Let me try that.

[2019-02-05 22:04] mkArtakMSFT commented on #6938
Thanks for contacting us, @tuxy42.
@ryanbrandenburg, can you please look into this? Thanks!

[2019-02-05 22:08] mkArtakMSFT commented on #4800
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-02-05 22:08] #4800 closed

[2019-02-05 22:11] sezginakman commented on #6111
it's works on azure.

[2019-02-05 22:16] ryanbrandenburg opened #7288 "Some samples do not work out of box"
At least the following samples do not work if you do `.\build.cmd` move into their directory and do `dotnet run`.

- [OpenIdConnect.AzureAdSample](https://github.com/aspnet/AspNetCore/tree/master/src/Security/Authentication/OpenIdConnect/samples/OpenIdConnect.AzureAdSample)
- [WsFederation](https://github.com/aspnet/AspNetCore/tree/master/src/Security/Authentication/WsFederation/samples/WsFedSampl

[2019-02-05 22:26] Tratcher opened #7289 "[Announcement] Newtonsoft.Json types replaced in Microsoft.AspNetCore.Authentication APIs"
As part of the ongoing effort to [remove](https://github.com/aspnet/AspNetCore/issues/4260) Newtonsoft.Json from the shared framework these types have now been replaced on the Authentication APIs.

**Basic usage of these Authentication packages should be unaffected.** Only users who have derived from the OAuth package or that had implemented advanced claim manipulation should be affected. A detail

[2019-02-05 22:34] alexperovich commented on #7281
I don't believe it does. Its all based on Roslyn analysis and hasn't changed significantly in a while. @KirillOsenkov wrote https://github.com/KirillOsenkov/SourceBrowser which powers https://source.dot.net/. He can give a more complete answer.

[2019-02-05 22:36] davidfowl commented on #7281
I think I got this working. I'll send a PR.

[2019-02-05 22:41] KirillOsenkov commented on #7281
@natemcmaster no, the way it works it needs both the full built source laid out next to obj, bin and packages on the same machine, so that Roslyn MSBuildWorkspace can open the .sln and populate projects/compilations. We don't need the source to be built strictly speaking, but we need all references (NuGet) to be in place, as well as all generated files in obj, otherwise compilation will have error

[2019-02-05 22:46] ryanbrandenburg commented on #6327
Actually, 2.4.1 discovered slightly more tests than 2.3.0 or 2.4.0, so it seems like for AspNetCore if anything we should upgrade earlier.

[2019-02-05 22:55] natemcmaster commented on #6327
+1 for updating to 2.4.1

[2019-02-05 22:59] JamesNK commented on #5135
Endpoint routing will register the matched endpoint on the HttpContext. From that you can get its pattern. RoutePattern has replaced RouteTemplate in the new routing framework and it is easy to convert between the two.

[code]

Is that what you are looking for?

[2019-02-05 23:05] davidfowl commented on #7281
Hmm, so it does need to build?

[2019-02-05 23:07] KirillOsenkov commented on #7281
No, mostly to restore packages. It'll be good enough. Don't worry about full accuracy now.

[2019-02-05 23:09] HaoK opened #7291 "[Helix] WebHostTests.WebHostStopAsyncUsesDefaultTimeoutIfNoTokenProvided fails on Ubuntu queue"
Tracking issue for skipping test which only seems to fail on Helix ubuntu queue:

example run logs: https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190205.10/workItem/Microsoft.AspNetCore.Hosting.Tests-netcoreapp3.0/wilogs

[code]

[2019-02-05 23:41] #6972 closed

[2019-02-05 23:54] danroth27 commented on #6925
@muratg Can we get this one assigned and put in a milestone?

[2019-02-05 23:55] Tratcher commented on #7288
I just fixed one issue with the missing launchsettings in https://github.com/aspnet/AspNetCore/pull/7105.

The other blocker here is that these scenarios require client secrets, it's a very bad practice to check those into source control. That also prevents automated testing.

Some of these samples have explicit config instructions such as https://github.com/aspnet/AspNetCore/blob/b21c09665e868526

[2019-02-06 00:01] Tratcher commented on #7288
Also, these samples should stay as they make for very good manual verification of the various providers.

[2019-02-06 00:01] pranavkm opened #7294 "Simplify toolset resolution in Razor Sdk for 3.0 targeting projects"
In 2.x, the Razor SDK had to resolve what the compilation toolset was - Precompilation vs the Sdk. This was required to allow supporting precompilation package while also referencing the Razor Sdk. This has the unfortunate behavior in that if the Sdk cannot conclusively determine it's being used, it gives up and assumes the precompilation tool is in effect. We can simplify this for 3.0 targeting p

[2019-02-06 00:03] pranavkm commented on #7294
Would be good to front load Sdk changes so we have time to let it bake.

[2019-02-06 00:12] HaoK commented on #6721
@blowdart not sure what area certs is part of

[2019-02-06 00:39] brittonbeckham commented on #5135
`GetEndpoint() ` appears to be an extensions method that I can't find... what library is this in?

[2019-02-06 00:52] Eilon commented on #2271
Closing because we have considered this issue and feel that the solution is worse than the workaround in most cases.

For projects targeting .NET Framework earlier than 4.7.2, additional references will need to be added to the project. Projects targeting .NET Framework 4.7.2 (or newer) or .NET Core, everything should work fine.

[2019-02-06 00:52] #2271 closed

[2019-02-06 00:57] Eilon commented on #6304
Suggestion:

Have build.cmd/.sh show a bright warning at the top saying it will build everything. EVERYTHING. But that you can build just a sub-section of the build by going to github.com/FOO (maybe using aka.ms) and running such-and-such.

[2019-02-06 01:02] davidfowl commented on #7281
P2Ps are currently broken. I need to figure out why.

[2019-02-06 01:05] natemcmaster commented on #7281
Does MSBuildWorkspace run the `ResolveReferences` target?

[2019-02-06 01:17] ejdoming opened #7295 "Compile error on new project version 0.8.0-preview-19104-04"
**Program.cs**
        public static IWebAssemblyHostBuilder CreateHostBuilder(string[] args) =>
            BlazorWebAssemblyHost.CreateDefaultBuilder()
                .UseBlazorStartup<Startup>();

**Error message:**
Error	CS0433	The type 'IWebAssemblyHostBuilder' exists in both 'Microsoft.AspNetCore.Blazor.Browser, Version=0.7.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' and 'Microso

[2019-02-06 01:31] davidfowl commented on #7281
I ran the tool on just the src\Http\* subfolder and this is what it said:

[code]

[2019-02-06 01:53] allevyMS commented on #7081
Current workaround for us:
I added a sidecar container on the pod that is running our app. The additional container is running nginx.
I accept incoming traffic on the nginx container over https and then funnel the traffic to my app container over http on localhost.

This has improved our throughput and response times. For my test case we are down to sub-second response times.

[2019-02-06 01:57] jkotalik opened #7296 "ResponseCompression will fail to modify headers if using PipeWriter."
When working on https://github.com/aspnet/AspNetCore/pull/7110, we recognized that ResponseCompression tries to modify headers before first write: https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/ResponseCompression/src/BodyWrapperStream.cs#L201. This will not work if someone calls response.StartAsync (aka they are using pipes) when writing the response.

A few ideas for fixing this

[2019-02-06 02:03] davidfowl commented on #7281
I dunno if that has anything to do with it but I also tried it on extensions and it didn't work so its likely our custom logic for resolving refs

[2019-02-06 02:05] jkotalik commented on #7296
I tried making response.OnStarting() call OnWrite(). The only issue that occurs is if there isn't a response body, the response is "compressed", which causes a few tests to fail. Not sure how big of a deal that is.

[2019-02-06 02:45] Tratcher commented on #2454
@shirhatti @muratg

[2019-02-06 03:11] Tratcher commented on #6925
Small. There's a little bit of design to work out but the implementation is easy enough. E.g. how does the feature interact with the existing response compression settings like EnableForHttps, MimeTypes, and ExcludedMimeTypes?

I think the feature will have a single enum field with levels like:
- No compression
- Use the existing ResponseCompressionOptions
- Override only EnableForHttps, not MimeT

[2019-02-06 03:53] stephentoub commented on #7281
Good news: https://source.dot.net is now updated with aspnet/AspNetCore.
Bad news: as expected, most reference links aren't working yet.

[2019-02-06 04:04] muratg commented on #2454
Good find! @shirhatti Let's close on this.

[2019-02-06 04:45] JamesNK commented on #5135
Microsoft.AspNetCore.Http.Endpoints.EndpointHttpContextExtensions.GetEndpoint

[2019-02-06 05:06] sharok opened #7298 "[SignalR] Support union in the js client"
MessagePack for C# supports Union type and I can use it for interfaces. For example, I have the following model that I send to js client:
[code]
I can create different `IProductModel` and send to the client. I handle creating the corresponding objects manually on the client and all works fine. But, it does't work when I want to deserialize message to a class that contain union.  I have the followi

[2019-02-06 07:16] Stamo-Gochev commented on #7274
I was using the wrong life-cycle method, switching to `OnAfterRender` and calling the JS init logic from there yields what is expected.

[2019-02-06 07:16] #7274 closed

[2019-02-06 07:25] HaoK opened #7299 "[Helix] Kestrel H2SpecTests.RunIndividualTestCase fail on everything but OSX/Windows"
Tracking for skipped test:

These fail on all non OSX/Windows helix queues

[code]

[2019-02-06 07:43] tuxy42 commented on #6938
Another information, it's only true when "IIS express" debugging profil is selected, when I select "Project" name profile (self contained webserver I suppose) everything work well.

[2019-02-06 08:11] scalablecory commented on #4897
Is there any progress on this?

I began working on this, but found I needed to make a large amount of changes and code duplication due to the amount of synchronous public interfaces that are involved in validation.

I'm not comfortable making such sweeping changes without input first -- if one of the .NET crew is able to provide some direction, I'd be happy to put in the work. Is duplication the b

[2019-02-06 08:24] JulidaRocks commented on #6422
@mrlund thanks, this fixed the issue!

[2019-02-06 09:11] blowdart commented on #6721
Tooling? it'd be dotnet dev-certs

[2019-02-06 09:16] vindicatorr commented on #2867
It doesn't look like a new issue is needed for the csproj auto-completions in general.

I see it has already been brought up in various places like https://github.com/Microsoft/msbuild/issues/2787

I also found https://github.com/tintoy/msbuild-project-tools-vscode in the marketplace (note "msbuild" referenced in both locations, showing it isn't an aspnet issue). And while there was A LOT of intel

[2019-02-06 09:27] nuteman1 commented on #4389
I tried the suggestion above - still problematic, so I just leave out those settings and the problem remains.

The error I get is:

[2019-02-05T10:10:12.918Z] Debug: Starting HubConnection.
signalr.js:2657 [2019-02-05T10:10:12.919Z] Debug: Starting connection with transfer format 'Text'.
signalr.js:2657 [2019-02-05T10:10:12.919Z] Debug: Sending negotiation request: https://signalrappservice.azurew

[2019-02-06 09:56] stavroskasidis opened #7300 "Blazor component library bug with Razor Components project"
### Describe the bug
The blazor component library (dotnet new blazorlib) is not working properly with razor components (blazor server side). Specifically the static files that are embeded in the library are not served when the page is loaded.

### To Reproduce
Steps to reproduce the behavior:
1. Using dotnet 3.0 preview 2 (3.0.100-preview-010184)
2. `dotnet new razorcomponents -o RazorComponents1`

[2019-02-06 10:10] bunceg commented on #7030
@muratg Any update on this? It looks a bit like it's being passed around with nobody really taking it up?

[2019-02-06 10:10] #7122 closed

[2019-02-06 10:10] #7124 closed

[2019-02-06 10:10] #7130 closed

[2019-02-06 11:18] ejdoming commented on #7295
Solved. I was using Blazored.LocalStorage, that use 0.7.0 version of Blazor libs.

[2019-02-06 11:18] #7295 closed

[2019-02-06 13:52] SteveSandersonMS commented on #6886
Considered.

Result of consideration: I don't think there's any compelling benefit. We don't have a built-in system for building static resources, and without one, there's no sense in which your production resources are different from your development-time ones. Developers who set up a static resources build system will have all kinds of different requirements for how the right ones get loaded at

[2019-02-06 13:57] danroth27 commented on #7300
Thanks @stavroskasidis for reporting this issue! This is a known limitation with the Razor Components template in Preview 2, but we are tracking addressing this limitation with issue #6349

[2019-02-06 13:57] #7300 closed

[2019-02-06 13:58] SteveSandersonMS commented on #5596
In Blazor 0.8.0, we have added .NET Core 3.0 support. As such, we're skipping 2.2.

[2019-02-06 13:58] #5596 closed

[2019-02-06 14:00] SteveSandersonMS commented on #5564
This was fixed in 0.8.0 (as in, we no longer have that file at all in server-side apps).

[2019-02-06 14:00] #5564 closed

[2019-02-06 14:02] SteveSandersonMS commented on #5515
Cleaning up obsolete issues.

This one should no longer apply since we rebuilt the JS interop system several releases ago.

[2019-02-06 14:02] #5515 closed

[2019-02-06 14:11] danroth27 commented on #7285
@glennc @JamesNK  Do we plan to remove the "api" path segment from our Web API templates?

[2019-02-06 14:20] SteveSandersonMS commented on #5571
Closing as duplicate of #5457

[2019-02-06 14:20] #5571 closed

[2019-02-06 14:24] SteveSandersonMS commented on #6360
Closing as duplicate of #5562

[2019-02-06 14:24] #6360 closed

[2019-02-06 14:30] lambiuk commented on #6111
Check in your web.config file this line:

      <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments="exec &quot;C:\SOME_WEB_APP_PATH\bin\Debug\netcoreapp2.2\SOME_WEB_APP.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess">

And check the paths are correct. If they aren't you will get this error.

[2019-02-06 14:57] danroth27 opened #7302 "Unable to run blazor app - get 502.5 error (Blazor 0.8.0)"
_From @henrikmbach on Wednesday, 06 February 2019 14:46:21_

VS 2019 Preview 2.2
Blazor 0.8.0

I get this error in my browser:
"HTTP Error 502.5 - Process Failure"

"dotnet --info" on command line gives me:
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview-010184

There is no global.json that I can delete from my project (it fixed the problem I had on an earlier version of Bl

[2019-02-06 15:04] ag-petrov commented on #5544
Having information about the caret position is a must when creating editor components. Any update on this?

Additionally is there any conception for cancellable events. For example I want to cancel the keypress event of an input element. Do I need to use JavaScript interoperability?

[2019-02-06 15:04] lrente opened #7303 "Blazor app getting ERR_CONNECTION_RESET on dll file"
I have a blazor app that sometimes gets a ERR_CONNECTION_RESET on a specific dll and fails to launch.

This does not happen in every machine, and sometimes in the same browser but on different machines, it does not open also.

The dll in question is in the correct directory.

What troubles me more is the "randomness" of the error, since we are unable to find why in some machines it works and other

[2019-02-06 15:15] jsakamoto opened #7304 "Blazor 0.8.0 standalone project that was generated by "dotnet new blazor" command could not launch."
### Describe the bug

Blazor 0.8.0 standalone project that was generated by `dotnet new blazor` command could not launch.

### To Reproduce

Steps to reproduce the behavior:
1. Install .NET Core SDK ver.3.0.0-preview-**19075-0444** from [here](https://dotnet.microsoft.com/download/dotnet-core/3.0).
2. Install Visual Studio 2019 Preview 2.
3. Install Blazor 0.8.0 template by `dotnet new -i Microsof

[2019-02-06 15:39] rakkarage opened #7305 "Full screen websites are not full screen!?"
### Describe the bug
All the dotnet new commands that generate a webpage generate it the at wrong size?
A full screen web page does not need scroll bars and it does not need to scroll?

### To Reproduce
Steps to reproduce the behavior:
https://docs.microsoft.com/en-ca/aspnet/core/getting-started/?view=aspnetcore-2.2&tabs=linux
dotnet new webapi
dotnet new webapp
dotnet new razor
dotnet new mvc
dot

[2019-02-06 15:42] rakkarage commented on #7305
http://jsfiddle.net/robdodson/cZseJ/

[2019-02-06 15:43] davidfowl opened #7306 "[CI Failure]: Microsoft.AspNetCore.Components.Test.RendererTest.CanRenderAsyncNestedComponents()"
https://dev.azure.com/dnceng/public/_build/results?buildId=88548&view=ms.vss-test-web.build-test-results-tab

[code]

[2019-02-06 15:54] SteveSandersonMS commented on #6886
I would use the minified version of Bootstrap libs in development too. No good reason not to, that I'm aware of.

[2019-02-06 15:57] SteveSandersonMS commented on #6886
I suppose the "get it from CDN" aspect is something you'd only want in production. However it's *not* something you'd want if you set up a static resources build system, since you'd have your own tree-shaken version of Bootstrap.

Overall I guess whatever design we're using for Bootstrap in the non-Razor Components templates should also be used in the Razor Components template, even if it's not to

[2019-02-06 16:12] pakrym opened #7307 "Change runtime SiteExtension to replace AspNetCoreModuleV2 definition"
Epic https://github.com/aspnet/AspNetCore/issues/8833

Currently, the module is only inserted when missing and it's always present since it was deployed to AppServices.

We need to change xdt to use `Replace` transformation.

This is blocked by AppService having protection from changing default global module location. They have been contacted and are going to relax the rule for AspNetCoreModuleV2,

[2019-02-06 16:12] pakrym commented on #7307
@shirhatti

[2019-02-06 16:35] BrennanConroy commented on #4389
@nuteman1 Can you please open a new issue describing the problem you're having. It's definitely not the same issue as OP.

[2019-02-06 16:36] BrennanConroy commented on #4389
@StefanKoenigMUC We haven't been able to repro this and haven't heard from you in a while. I'll close this issue tomorrow if there is no response.

[2019-02-06 16:43] BrennanConroy commented on #7229
Could you make a repro app and push it to github?

[2019-02-06 16:43] ryanbrandenburg commented on #7288
Yeah, if you have uses for these by all means keep them. The error message you linked is pretty good, but maybe it could call out specifically where to set that config, or link to docs on the subject?

[2019-02-06 16:59] Andrzej-W commented on #6886
I think that environment specific helpers are useful for JS and CSS files. In production I want to get files from CDN but during development I want to have them on my local disk in not minified state. There are at least two reasons for this configuration:
- during development I often want to clear browser's cache and I don't want to download all CSS/JS files from CDN again and again
- I can press

[2019-02-06 17:00] danroth27 commented on #7302
@henrikmbach Thanks for reporting this issue! I'm sorry you're having trouble getting going with Blazor 0.8.0.

Could you please try switching the Blazor app to run as a standalone project instead of running behind IIS Express and then see what errors show up in the console logs? To do this open a command prompt in the directory of the Blazor app and type `dotnet run`. Report any errors you see he

[2019-02-06 17:09] muratg commented on #7030
@HaoK was there any change in how `JwtBearerOptions` is initiated that may have caused this? (See @pakrym's suspicion above.)

[2019-02-06 17:11] KrzysztofBranicki commented on #4839
@rynowak I think that your link to issue about support of binding immutable types is pointing to something unrelated. Anyway this feature would be highly appreciated especially when you design CQRS style API where commands and queries by definition should be immutable. BTW even EntityFramework supports deserializing entity via constructor nowadays so why MVC model binders still require public sett

[2019-02-06 17:17] nuteman1 opened #7308 "Websockets not working after upgading to server and client"
Recently, I was forced to upgrade the SignalR packages because the old ones won't work with azure SignalR service (port change from 5001 to 443).
I also updated to the latest signalr.js client JavaScript.
Now only long polling works. Websockets don't.

The error I get is:

[2019-02-05T10:10:12.918Z] Debug: Starting HubConnection.
signalr.js:2657 [2019-02-05T10:10:12.919Z] Debug: Starting connectio

[2019-02-06 17:41] BrennanConroy commented on #7057
Could you try turning buffering off? `proxy_buffering off;`

@davidfowl Should we consider falling back if the handshake fails? In ASP.NET SignalR we sent a `/connect` request over the selected transport and if that failed I believe we fell back to the next transport.

[2019-02-06 17:46] alexalok commented on #7057
@BrennanConroy, turning buffering off indeed fixes the issue but I would like to disable it only for SignalR requests.

[2019-02-06 17:47] henrikmbach commented on #7302
It works fine without IIS express.
Then I tried to use the Blazor 0.8.0 the normal way and it also worked fine, so this problem was temporary.
This issue can be closed.

[2019-02-06 17:56] DNF-SaS opened #7310 "Razor Components do not include embedded resources from assemblies"
Just upgraded a project to Razor Components from Blazor 0.7
Unfortunately, it depends on CSS/JS-Files located in a separate assembly.
With Blazor, after declaration of these CSS/JS-Files as embedded resource with a certain name (blazor:js:** and blazor:css:**), they were packed and referenced automagically by blazor.
After migraton to Razor Components, this functionality seems to be not available

[2019-02-06 17:56] BrennanConroy commented on #7057
I don't know if nginx has support for that. For now you can disable ServerSentEvents on the server so your clients wont even try that transport.

[code]

[2019-02-06 17:58] BrennanConroy commented on #7057
Maybe the below would work?
[code]

[2019-02-06 18:04] mkArtakMSFT commented on #4045
Related: https://github.com/aspnet/AspNetCore/issues/4045

[2019-02-06 18:09] mkArtakMSFT opened #7311 "Remove MessagePack dependency from Razor Components"
We need to remove the dependency on message pack so that Razor Components can ship in the shared framework.

The work here is to procure a replacement *lite* message pack serializer that we can use as an implementation detail (provided by signalR) - and then adopt it.

[2019-02-06 18:10] aspnet-hello commented on #2633
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2019-02-06 18:10] #2633 closed

[2019-02-06 18:10] aspnet-hello commented on #3851
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2019-02-06 18:10] #3851 closed

[2019-02-06 18:10] aspnet-hello commented on #3826
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2019-02-06 18:10] #3826 closed

[2019-02-06 18:10] aspnet-hello commented on #3606
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2019-02-06 18:10] #3606 closed

[2019-02-06 18:10] aspnet-hello commented on #3642
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2019-02-06 18:10] #3642 closed

[2019-02-06 18:10] aspnet-hello commented on #3665
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2019-02-06 18:10] #3665 closed

[2019-02-06 18:11] aspnet-hello commented on #4145
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2019-02-06 18:11] #4145 closed

[2019-02-06 18:11] aspnet-hello commented on #3757
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2019-02-06 18:11] #3757 closed

[2019-02-06 18:11] aspnet-hello commented on #3888
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2019-02-06 18:11] #3888 closed

[2019-02-06 18:11] aspnet-hello commented on #3949
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2019-02-06 18:11] #3949 closed

[2019-02-06 18:11] aspnet-hello commented on #4018
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2019-02-06 18:11] #4018 closed

[2019-02-06 18:11] aspnet-hello commented on #4228
We periodically close 'discussion' issues that have not been updated in a long period of time.

We apologize if this causes any inconvenience. We ask that if you are still encountering an issue, please log a new issue with updated information and we will investigate.

[2019-02-06 18:11] #4228 closed

[2019-02-06 18:22] alexalok commented on #7057
Thanks, @BrennanConroy! I've used that as a workaround. However, as I have stated previously, there is also another possible solutuion. Nginx will disable caching for any responses containing `X-Accel-Buffering: no`. Perhaps there is a way to set this header for all SignalR responses?

[2019-02-06 18:27] mlorbetske opened #7312 "SingleOrg auth does not work behind reverse proxy"
_From @chriskuech on February 6, 2019 3:35_

Reverse proxies typically terminate HTTPS and relay requests over HTTP.  SingleOrg auth appears to infer the protocol from the request and use that protocol in the reply URL.  If the SingleOrg auth application is behind a reverse proxy, then the client requests the HTTPS site, the reverse proxy relays the HTTPS request as HTTP to the dotnet app, then th

[2019-02-06 18:28] BrennanConroy commented on #7057
You can set that yourself by adding to the headers in the options from `WithUrl` on the client. https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-2.2#configure-additional-options

`X-Accel-Buffering` seems nginx specific, so we probably wouldn't add it by default to every single request. However we might want to talk about it in our docs.

[2019-02-06 18:31] mikaelm12 commented on #6760
Will take a look at this

[2019-02-06 18:56] BrennanConroy opened #7313 "Test failure Mvc.FunctionalTests.BasicTests.CanRender_ViewsWithLayout and Mvc.FunctionalTests.BasicApiTest.FindByStatus_WithToken_ReturnsOkAndPet"
https://dev.azure.com/dnceng/public/_build/results?buildId=88732 **Linux build**
[code]
and
[code]

[2019-02-06 18:58] alexalok commented on #7057
Thanks, just what I needed!

[2019-02-06 19:00] BrennanConroy commented on #7057
I'm going to keep this open for us updating our docs, and deciding on the handshake behavior

[2019-02-06 19:08] jtattermusch commented on #6974
It turns out problem is on both sides (gRPC and Kestrel).
Kestrel is setting the reserved the reserved bit in "window size increment" when sending the WINDOW_UPDATE frame (which is forbidden according to HTTP/2 spec)  and gRPC doesn't ignore that bit as it should.
The fix for gRPC side is here: https://github.com/grpc/grpc/pull/17950, but Kestrel should also stop setting the reserved bit.

[2019-02-06 19:15] bradygaster commented on #6701
Closing this as we haven't heard from you. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue if we're able to identify the problem.

[2019-02-06 19:16] bradygaster commented on #7308
adding @chenkennt to the discussion. Could you verify if this is expected or if @nuteman1 could tweak something to avoid this?

[2019-02-06 19:21] natemcmaster commented on #4321
Should be unblocked by https://github.com/aspnet/AspNetCore/pull/7293

[2019-02-06 19:21] bradygaster commented on #7298
cc @muratg to come up with a repro and potential path forward. assigning to @BrennanConroy to come up with a test case so we can investigate. thanks for the detailed repro above!

[2019-02-06 19:31] JamesNK commented on #6974
Thanks for the heads up. @Tratcher is this something that should be fixed in Kestrel?

[2019-02-06 19:39] pranavkm commented on #7135
@SteveSandersonMS didn't you fix this?

[2019-02-06 19:39] pranavkm commented on #5457
@SteveSandersonMS what's left to be done here?

[2019-02-06 19:54] YogiBear52 opened #7315 "Using Startup class not from the execution Assembly"
### Describe the bug
Hey,

I am trying to use a Startup class like that
`WebHost.CreateDefaultBuilder(args).UseStartup<Startup>().Build().Run()`
When the Startup class is located in the execution assembly everything works fine.
When the Startup class is located in a different assembly, the service runs but things go wrong during requests - the service throws a 404 without any explanation.

Why is

[2019-02-06 19:55] vertonghenb commented on #7310
Duplicate of https://github.com/aspnet/AspNetCore/issues/6349

[2019-02-06 20:12] glennc opened #31206 "Install-able windows service app"
Epic https://github.com/aspnet/AspNetCore/issues/8834

In 3.0 we want to explore how to install a generichost based WindowsServices.

Suggested designs:

1. Self-installable app where you run myapp --install to install it.
2. A new tool that can install an app as a windows service

We would like to expand this to include SystemD daemons as well.

[2019-02-06 20:17] pakrym opened #7316 "Test logs are not being published in internal VSTS builds"
It worked in https://dev.azure.com/dnceng/internal/_build/results?buildId=88141&view=results
Stopped working in https://dev.azure.com/dnceng/internal/_build/results?buildId=88219&view=results

[2019-02-06 20:27] KirillOsenkov commented on #7281
As far as I can see the MSBuildWorkspace is building the `Compile` and `CoreCompile` targets:
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces.MSBuild/MSBuild/Build/ProjectBuildManager.cs,192

I'm guessing `ResolveReferences` is being pulled in as part of `CompileDependsOn`:
[code]

I'm wondering if one can pass a logger to MSBuildWorkspace to see what's going on inside it's build.

[2019-02-06 20:30] KirillOsenkov commented on #7281
Aha, unfortunately it doesn't look like it's currently possible but this would have been a place to insert a custom logger (such as BinaryLogger):
http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces.MSBuild/MSBuild/Build/ProjectBuildManager.cs,156

[2019-02-06 20:33] aceven24 commented on #5889
Ever get any conclusions on this, we are experiencing the same thing, but with IIS and ASP.NET Web API.

[2019-02-06 20:44] imperugo commented on #6701
Hi,
I'm getting the same error with this scenario:

.NET Core 2.2, SignalR 1.1, scaling using Redis (2.x) and hosting into Docker.

Unfortunately, I'm unable to reproduce the problem and the log isn't so helpful (Writing is not allowed after writer was completed)
Is there anything I can do to provide more information? (add more logging somewhere, try another build or whatever?).

I'm also using Gr

[2019-02-06 20:55] Tratcher commented on #6974
Yes, we should figure out why it's doing that. I do see the reserve bit get set in your repro above https://github.com/aspnet/AspNetCore/issues/6974#issuecomment-458045839. Note it doesn't happen in the first window_update at the start of the connection, only on the second one.

[2019-02-06 21:03] mkArtakMSFT opened #7319 "Remove obsolete APIs from Antiforgery"
See https://github.com/aspnet/aspnetcore/issues/3654 for details.

#### (1) src\Antiforgery\src\AntiforgeryOptions.cs
Links: <a href="https://github.com/aspnet/AspNetCore/blob/master/src/Antiforgery/src/AntiforgeryOptions.cs#L99">[master]</a> | <a href="https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Antiforgery/src/AntiforgeryOptions.cs#L99">[release/2.2]</a>
[File a bug for this](https

[2019-02-06 21:05] mkArtakMSFT opened #7320 "Remove obsolete APIs from Diagnostics"
See #3654 for details.

#### (5) src\Shared\Diagnostics\AttributeValue.cs
Links: <a href="https://github.com/aspnet/AspNetCore/blob/master/src/Shared/Diagnostics/AttributeValue.cs#L8">[master]</a> | <a href="https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Shared/Diagnostics/AttributeValue.cs#L8">[release/2.2]</a>
[File a bug for this](https://github.com/aspnet/AspNetCore/issues/new?body=

[2019-02-06 21:08] mkArtakMSFT opened #7321 "Remove obsolete APIs from Routing"
See #3654 for details.

#### (9) src\Http\Routing\src\DefaultInlineConstraintResolver.cs
Links: <a href="https://github.com/aspnet/AspNetCore/blob/master/src/Http/Routing/src/DefaultInlineConstraintResolver.cs#L27">[master]</a> | <a href="https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Http/Routing/src/DefaultInlineConstraintResolver.cs#L27">[release/2.2]</a>
[File a bug for this](https:

[2019-02-06 21:11] mkArtakMSFT opened #7322 "Remove obsolete APIs from MVC"
See #3654 for details.

#### (15) src\Mvc\src\Microsoft.AspNetCore.Mvc.ApiExplorer\DefaultApiDescriptionProvider.cs
Links: <a href="https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/src/Microsoft.AspNetCore.Mvc.ApiExplorer/DefaultApiDescriptionProvider.cs#L39">[master]</a> | <a href="https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Mvc/src/Microsoft.AspNetCore.Mvc.ApiExplorer/Defau

[2019-02-06 21:13] mkArtakMSFT opened #7324 "Remove obsolete APIs from Components"
See #3654  for details.

#### (43) src\Components\Components\src\Json\JsonUtil.cs
Links: <a href="https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/Json/JsonUtil.cs#L12">[master]</a> | <a href="https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Components/Components/src/Json/JsonUtil.cs#L12">[release/2.2]</a>
[File a bug for this](https://github.com/aspnet/AspNe

[2019-02-06 21:14] mkArtakMSFT opened #7325 "Remove obsolete APIs from CORS"
See #3654  for details.

#### (47) src\Middleware\CORS\src\Infrastructure\CorsService.cs
Links: <a href="https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/CORS/src/Infrastructure/CorsService.cs#L29">[master]</a> | <a href="https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Middleware/CORS/src/Infrastructure/CorsService.cs#L29">[release/2.2]</a>
[File a bug for this](https://gi

[2019-02-06 21:17] mkArtakMSFT opened #7326 "Remove obsolete APIs from Razor"
See #3654 for details.

#### (55) src\Mvc\src\Microsoft.AspNetCore.Mvc.Razor\Compilation\CompiledViewDescriptor.cs
Links: <a href="https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/src/Microsoft.AspNetCore.Mvc.Razor/Compilation/CompiledViewDescriptor.cs#L89">[master]</a> | <a href="https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Mvc/src/Microsoft.AspNetCore.Mvc.Razor/Compilation/C

[2019-02-06 21:22] danroth27 opened #7327 "Blazor template samples don't start up on my win10 desktop PC"
_From @TomKuhn on Sunday, 03 February 2019 15:35:53_

I've installed visual studio 2017 version 15.9.6
I've installed the blazor language services extension 15.8.31590
I've installed Microsoft .NET Core SDK 2.1.503 x64
I've installed Microsoft .NET Core SDK 2.1.600 - preview x64
I've installed Microsoft .NET Core SDK 2.2.103 x64
I've installed Microsoft .NET Core SDK 3.0.100 - preview (x64)

I can

[2019-02-06 21:22] danroth27 commented on #7327
_From @iAmBipinPaul on Sunday, 03 February 2019 23:18:36_

@TomKuhn  not sure it will fix or not try  running VS as admin.

[2019-02-06 21:22] danroth27 commented on #7327
_From @hosezelt on Monday, 04 February 2019 07:55:09_

You probably targeted .Net core 3.0  when creating the project. You can retarget to .Net core 2.1 in the .csproj file and it should run in VS2017.

[2019-02-06 21:22] danroth27 commented on #7327
_From @danroth27 on Monday, 04 February 2019 20:02:10_

@TomKuhn What output do you see in the browser dev console when running the app?

[2019-02-06 21:22] danroth27 commented on #7327
_From @danroth27 on Monday, 04 February 2019 20:03:07_

@TomKuhn Also, make sure you use Ctrl-F5 instead of F5 when running a Blazor app in VS. If you F5 VS will try to attache the debugger, which isn't supported yet for client-side Blazor apps.

[2019-02-06 21:22] danroth27 commented on #7327
_From @Matthew-Bonner on Wednesday, 06 February 2019 15:43:15_

Please do not log issues here. This repo is used only for Blazor infrastructure purposes.

All Blazor code, features, and issues are tracked at https://github.com/aspnet/AspNetCore.

You can use the `feature-blazor` label to filter issues: https://github.com/aspnet/AspNetCore/issues?q=is%3Aissue+is%3Aopen+label%3Afeature-blazor

[2019-02-06 21:23] danroth27 opened #7328 "How to make child component to be rendered in parent component?"
_From @thainbreese on Wednesday, 06 February 2019 19:07:37_

Both of the parent and child component use the same int array object.

If I change the array in the parent component, the child component has to be rendered again.

How can I do this?

I was tried to bind the object to child component, however it said that cannot bind array object.

_Copied from original issue: aspnet/Blazor#1782_

[2019-02-06 21:24] danroth27 commented on #7328
From @iAmbipinpaul

I believe you want to pass the array to child component and render it there.

**child component** `(child.cshtml)`
[code]
now in your **parent component** you can pass data like this

`<child  TTypeNames ="@TTypeList"></child>`

better to go through this blazor workshop it explains everything in awesome way.
https://aka.ms/blazorworkshop

documentation showing list of orders
ht

[2019-02-06 21:26] danroth27 commented on #7302
Got it. This may have been due to a known issue with the Blazor template when it is the first .NET Core app run. We should have this addressed in a future release.

[2019-02-06 21:26] #7302 closed

[2019-02-06 21:29] danroth27 commented on #7327
@TomKuhn I suspect this may be some incompatibility with Blazor 0.7.0 and .NET Core 3.0 Preview 1. We just recently released [Blazor 0.8.0](https://blogs.msdn.microsoft.com/webdev/2019/02/05/blazor-0-8-0-experimental-release-now-available/). I recommend upgrading and seeing if that addresses your issue. If the issue persists let us know and we'll take another look.

[2019-02-06 21:29] #7327 closed

[2019-02-06 21:30] danroth27 commented on #7328
Thanks for answering @iambipinpaul!

[2019-02-06 21:30] #7328 closed

[2019-02-06 21:44] Tratcher commented on #7312
The recommendation is to use forwarder headers to convey the correct scheme to the app. See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.2

[2019-02-06 21:44] #7312 closed

[2019-02-06 22:05] Lupusa87 commented on #7328
In parent [capture reference](https://docs.microsoft.com/en-us/aspnet/core/razor-components/components?view=aspnetcore-3.0#capture-references-to-components) for child component.

Make inside child public method refresh or any name and call inside statehaschanged.

Call this child.refresh from parent after array change.

Child should receive this array as parameter.

Hope it helps, if answer is not

[2019-02-06 22:14] JamesNK opened #7329 "StreamPipeReader is reading from stream after complete"
I am using a `StreamPipeReader` to read from a stream that contains multiple messages, resulting in multiple `PipeReader.ReadAsync()` calls. I think the stream pipe reader is always reading from the stream, even after the stream is complete.

What I think is happening is:

1. First `ReadAsync()` is reading all the data from the stream
2. Second `ReadAsync()` will read from the stream again, get no

[2019-02-06 22:46] JamesNK commented on #7329
Wrapping the stream in this fixes the error:

[code]

[2019-02-06 22:46] akalcik commented on #6077
But the ```traceId``` is still missing!

[2019-02-06 22:48] akalcik commented on #7158
#6077

[2019-02-06 22:48] jkotalik commented on #7329
https://github.com/aspnet/AspNetCore/blob/master/src/Http/Http/src/StreamPipeReader.cs#L251 pretty sure we just need to check this at the beginning of ReadAsync.

[2019-02-06 22:49] davidfowl commented on #7281
@KirillOsenkov what are the next steps?

[2019-02-06 22:50] bradygaster commented on #5336
one option is this workaround: https://github.com/Microsoft/TypeScript/issues/20990#issuecomment-433288494

[2019-02-06 22:51] akalcik commented on #7158
Seems to be relevant #6077

[2019-02-06 23:12] #5389 closed

[2019-02-06 23:15] bradygaster commented on #5381
Decision not to add other clients until we need to do them via needs.

[2019-02-06 23:15] #5381 closed

[2019-02-06 23:21] KirillOsenkov commented on #7281
It looks like Csc isn't receiving references to the framework during the build:
https://source.dot.net/Microsoft.AspNetCore.Server.HttpSys/diagnostics.txt

I don't know why that is. Does the ASP.NET solution or any of the individual projects build from the command line? You'd need to build from command line and inspect .binlogs to figure out why references aren't being passed.

Looks like you do n

[2019-02-06 23:21] #5361 closed

[2019-02-06 23:46] mkArtakMSFT opened #7330 "CLI experience for client code generation"
Things to cover:
- [ ] Add service project reference
- [ ] Add service file reference
- [ ] Define story for gRPC and OpenAPI

[2019-02-06 23:48] mkArtakMSFT opened #7331 "Tracking: VS Tooling support for Client code generation"

[2019-02-06 23:49] natemcmaster commented on #7281
We have several solutions. Way too many projects for just one single solution. How does corefx do this? I don't think they have a single solution either.

Btw, you should try adding aspnet/Extensions. That has the same reference resolution targets AND has a single solution in the repo root.

[2019-02-06 23:50] davidfowl commented on #7281
I did, it doesn't work 😄

[2019-02-06 23:51] reed123 opened #7332 "Debian ARM64 Setup Guide"
title says it all, i feel that there should be a setup guide for a case like this(or if possible can you link me one)

[2019-02-06 23:52] mkArtakMSFT opened #7333 "Review code generated by NSwag"
The work here is to generate code using NSwag code generator and send PRs for stuff we can improve.

[2019-02-06 23:57] muratg commented on #7332
Setup what exactly? One of the runtimes? SDK?

cc @richlander

[2019-02-07 00:25] KirillOsenkov commented on #7281
I think a combination of these things is causing problems:

1. Looks like a specific version of SDK is required:
[code]

2. The restore.cmd specified doesn't recognize the argument
[code]

3. The build has script files such as build.bat and restore.bat. They're completely opaque to tools such as HtmlGenerator. With MSBuild we can introspect using MSBuildWorkspace and retrieve the list of Csc comma

[2019-02-07 00:32] jkotalik commented on #7296
#7110 will fix it now. We are going to shim the IHttpResponseStartFeature and call OnWrite first.

[2019-02-07 00:47] JunTaoLuo commented on #6974
I think I found the problem on our side:
https://github.com/aspnet/AspNetCore/blob/cf9e459da76e161c79d90f22b155fda6925ad9f2/src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs#L404-L405. Here we are getting a span of 4 bytes but we are only writing a 31 bit value. The `GetSpan` call does not guarantee the memory returned is zero'ed out and `WriteUInt31BigEndian` preserves the highest b

[2019-02-07 01:01] JamesNK commented on #6974
The go away frame uses WriteUInt31BigEndian as well and will have the same issue.

https://github.com/aspnet/AspNetCore/blob/cf9e459da76e161c79d90f22b155fda6925ad9f2/src/Servers/Kestrel/Core/src/Internal/Http2/Http2FrameWriter.cs#L519-L548

[2019-02-07 01:02] pakrym opened #7336 "Test failure: LargeUpload(maxRequestBufferSize: 41943039, connectionAdapter: True, expectPause: False)"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=89124&view=ms.vss-test-web.build-test-results-tab

[2019-02-07 01:02] pakrym commented on #6953
https://dev.azure.com/dnceng/public/_build/results?buildId=89124&view=ms.vss-test-web.build-test-results-tab

[2019-02-07 01:20] JunTaoLuo commented on #6974
Right and also the StreamID in the header of every frame: https://github.com/aspnet/AspNetCore/commit/c45261dc860e671f9a8c8e6b9310395cb6a9f4dd. I'm surprised this hasn't shown up earlier.

[2019-02-07 01:43] JamesNK commented on #6974
Client's are suppose to ignore the bit. It takes a bug on both sides for it to show up.

[2019-02-07 01:50] Tratcher commented on #6974
Oh dear. The current code skips writing unused fields. We'll need to revisit all of the frame serialization and make sure every field/bit gets written. Or zero things out at the start?

[2019-02-07 01:56] jkotalik commented on #6974
This issue was introduced by StreamPipeWriter because we reuse segments without clearing it out. This was an optimization to reduce continuously calling Rent/Return. Maybe we can provide an option to zero out memory, or just always zero it out.

[2019-02-07 01:58] davidfowl commented on #6974
Ugh, we don't zero out the buffers anywhere though, not just the StreamPipeWriter.

[2019-02-07 02:00] jkotalik commented on #6974
Examples? Any memory we Rent from the MemoryPool is zero'd out. Can that memory eventually be nonzero?

[2019-02-07 02:00] Tratcher commented on #6974
@jkotalik ? We're not using StreamPipeWriter in the Http/2 code path are we? This is serializing frames directly to the connection pipe.

[2019-02-07 02:15] jkotalik commented on #6974
Yeah sorry my mistake. I just knew that StreamPipeWriter returned non-zerod memory. It looks like Kestrel's SlabMemoryPool doesn't guarantee it either.

[2019-02-07 02:19] JunTaoLuo commented on #6974
@Tratcher I don't think this is going to affect any frame serialization other than the ones I mentioned in https://github.com/grpc/grpc/pull/17950#issuecomment-461253952. The reason being that most of the writing takes form of 8bit 16bit 24bit or 32bit chunks which overwrites the entire byte. The only cases where parts were being left preserved were these 31bit fields that I called out.

[2019-02-07 06:47] BrennanConroy opened #7341 "Reliability issues when doing simultaneous read/write pairs on IIS in-proc"
https://dev.azure.com/dnceng/public/_build/results?buildId=89398
[code]

[2019-02-07 06:48] bradygaster commented on #4135
@muratg i tried this tonight using 2.1 templates to antares linux and it lit up right away (hero path was clean). i will also try on AKS, as that uses, if memory serves me correctly, nginx, and update this with the result. if this also works i'd like to make sure i understand what's awry to help make sure the experiences (kubernetes with nginx, or an AKS out-of-the-box deployment and app service l

[2019-02-07 07:07] muratg commented on #4135
@bradygaster interesting. The template does have UseHttpsRedirection, right? I wonder if there's no reverse proxy involved in antares linux then (would be surprising on its own.)

On AKS, I believe you'd pass through Azure load balancer. (You may also install an internal reverse proxy, e.g. via nginx-ingress.) Not sure if those would be broken or not.

[2019-02-07 07:20] davidfowl opened #7342 "[CI Failure]: AppCanHandleClientAbortingConnectionMidResponse"
Assert.NotEmpty() Failure

[code]

[2019-02-07 07:43] javiercn commented on #6953
I have a PR out for this

[2019-02-07 07:47] davidfowl commented on #7220
@martincostello if you like testing our previews you can get a new build of .NET Core 3.0 with the SDK here https://github.com/dotnet/core-sdk#installers-and-binaries.

[2019-02-07 07:48] bradygaster commented on #4135
@muratg yes, they do have UseHttpsRedirection in Startup.cs. The e2e "hero scenario" to go from dotnet new razor to a working https://dotnetcoreonlinux.azurewebsites.net/ (real url) took about 10 minutes. i'll try it again for kicks now using the new `az webapp up` command, just for kicks. 👍

Worked on getting our demo aks cluster working tonight with nginx per [this article](https://docs.microsof

[2019-02-07 07:49] martincostello commented on #7220
@davidfowl Thanks, I'll try out an updated version with a fix today 👍

[2019-02-07 09:12] springy76 commented on #5548
Do you need more feedback or will this bug just be part of 3.0 release?

[2019-02-07 09:55] flacidsnake commented on #4444
Is there any way to hide the server header when using IWebHostBuilder and InProcess hosting model?

[2019-02-07 10:35] martincostello commented on #7220
I've updated out application to SDK `3.0.100-preview-010240` and packages version `3.0.0-preview-19106-07` and while the compilation error no longer persists with the alias workaround removed, all our self-hosted tests are now getting this error at runtime:

[code]

[2019-02-07 10:38] martincostello commented on #7220
Looks like that's actually a different issue, and that's a incompatibility in Swashbuckle.AspNetCore caused by the changes to remove Newtonsoft.Json from the core:

https://github.com/domaindrivendev/Swashbuckle.AspNetCore/blob/c8d8edbf1a04ccf5662ad961fd373adaf0d12e32/src/Swashbuckle.AspNetCore.SwaggerGen/Generator/SchemaRegistryFactory.cs#L13

[2019-02-07 10:52] EarthlingRich opened #7344 "ValidationSummaryFor child model."
### Is your feature request related to a problem? Please describe.
It is not possible to get a validation summary for a child model of a viewmodel. I would like to have this to show a validation summary for a child model in a specific place on a page. This also should make it possible to get model level errors (with the excludePropertyErrors) for only the child model.

### Describe the solution yo

[2019-02-07 11:00] highfield commented on #7229
@BrennanConroy here it is: https://github.com/highfield/AspNetCoreTypeScriptSignalR

Open the command prompt at the project folder level, then type npm run build or npm run watch to create the bundle.

Also notice the series of warning. They appear only when the message-pack plugin is bundled. Just comment as below to make them disappear:

[code]
Finally, if you try to build/run the entire project

[2019-02-07 11:05] SteveSandersonMS commented on #5455
Moving out of the preview3 milestone because nothing specific in this issue is planned for preview 3.

[2019-02-07 12:20] javiercn opened #7345 "[Flacky test]Microsoft.AspNetCore.Identity.EntityFrameworkCore.InMemory.Test.Microsoft.AspNetCore.Identity.EntityFrameworkCore.InMemory.Test.InMemoryEFUserStoreTestWithGenerics.EmailFactorFailsAfterSecurityStampChangeTest"
This test failed for no apparent reason in a completely unrelated PR.

[2019-02-07 12:21] javiercn commented on #7345
@Eilon @HaoK

Assert.False() Failure
Expected: False
Actual: True

Stack trace
   at Microsoft.AspNetCore.Identity.Test.UserManagerSpecificationTestBase`2.EmailFactorFailsAfterSecurityStampChangeTest() in /_/src/Identity/Specification.Tests/src/UserManagerSpecificationTests.cs:line 1850
--- End of stack trace from previous location where exception was thrown ---

[2019-02-07 12:25] codingsteff commented on #6701
We have the same errors, only in production inside Docker behind Nginx.
The messages appeared after upgrade to .NET Core 2.2.

It doesn't matter if we use SignalR 1.1 or 1.0 on the Client Side.

By the way, we don't use Groups or Redis.

[2019-02-07 12:52] jsakamoto commented on #7304
### Additional Information

The Blazor standalone project that was generated by **Visual Studio 2019 Preview 2.x** worked fine.

The difference of theses projects was bellow:

[code]
[code]
I tried uninstall the project template with `dotnet new -u Microsoft.AspNetCore.Blazor.Templates -Version` command, and reinstall it with `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::0.8.0-preview-1910

[2019-02-07 13:05] stsrki opened #7346 "[Blazor] Json serializer for JSInterop"
In the [blog post](https://blogs.msdn.microsoft.com/webdev/2019/02/05/blazor-0-8-0-experimental-release-now-available/) it's mentioned that we can now use NewtonsoftJson.

I want to know is this also supposed to work when serializing object through **JSInterop**?
Or is Blazor still using built-in **Json** serializer?

The problem is that I need it to be able to recognize DataContract and DataMembe

[2019-02-07 14:11] sven5 opened #7347 "[Question] How to mix Components and MVC"
Hi,

is there any way to mix Razor Components and "classic" MVC Views/Pages together in one project?

I've been using an App mapping until now with 2.1 but with 3.0 Prev2 this is broken, no styles and scripts are loaded.

**in Startup**
[code]

**in index.html**
`<base href="/Blazor/" />`

Thanks
Sven

[2019-02-07 14:17] sven5 commented on #7347
Now answering my own question, it's necessary to call `UseStaticFiles `in the mapping.

**Complete code in Startup.cs:**
[code]

You can close this issue. Maybe it's helpful for some other people.

Thanks
Sven

[2019-02-07 14:17] #7347 closed

[2019-02-07 14:31] hnviradiya opened #7348 "OnRedirectToLogin Event Not Firing"
Whenever unauthorized. it returns 302 redirects perfectly. But .net core OnRedirectToLogin event is not firing (I want to change response status).

Is any other setup required? I have posted question on stackoverflow as well. Not sure if .net core has issue or identity server or my code.

https://stackoverflow.com/questions/54560707/net-core-2-2-not-updating-status-code-for-302-to-401-onredirectto

[2019-02-07 15:04] #6953 closed

[2019-02-07 15:04] javiercn commented on #7226
https://github.com/aspnet/AspNetCore/commit/f456e3d153039986e62d969b1c9d63aa301daf65

[2019-02-07 15:04] #7226 closed

[2019-02-07 15:06] javiercn commented on #6953
https://github.com/aspnet/AspNetCore/commit/f456e3d153039986e62d969b1c9d63aa301daf65

[2019-02-07 15:39] kenk667 commented on #4737
This has been an issue within my organization as well. We run cloud foundry and have no desire to launch windows images just to be able to configure windows auth. It's surprising to hear how this isn't a priority when it's very common to have Windows AD as the identity provider with a dominantly linux enterprise environment. @blowdart please bring this into your current iteration.

[2019-02-07 15:54] mbashov opened #7349 "Hanging SignalR hub method causes memory leak"
### Describe the bug
After a SignalR client invokes a hub method that hangs indefinitely, this client's buffers get leaked, and the server invocations continue to be written into them even after the client disconnects.

### To Reproduce
[code]

### Expected behavior
After the client disconnects, the data structures holding its invocations should not accumulate new invocations and be disposed.

[2019-02-07 16:00] reed123 commented on #7332
set up the runtime on arm64

On Wed, Feb 6, 2019 at 6:57 PM Murat Girgin <notifications@github.com>
wrote:

--
Sent By: Reed Kemp
Via: GMail [https://mail.google.com]
Send Me A Email: [http://emailreed.gdn] (beta)

[2019-02-07 16:14] FernandoNunes commented on #5144
We have a solution that uses X-Correlation-ID and we need to set the TraceIdentifier badly.
Hope this gets fixed on 2.2.2.

[2019-02-07 16:18] Tratcher commented on #4135
Did you echo out the scheme to make sure? HTTPS can be enforced on the front end, but that doesn't help redirect generation for things like auth.

[2019-02-07 16:19] davidfowl commented on #7349
When we initially discussed this behavior, we decided that it was an application bug and the leak more obvious since you have some bad code not cleaning it the way it's supposed to. Leaving it hanging around means that you can easily see it in a memory profiler and correct the issue. I'll still not convinced we should be covering up your application bugs but if you ran into this in a more legitima

[2019-02-07 16:30] bradygaster commented on #4135
@Tratcher I'll want to talk to you and @muratg to understand the scenario. :) The out-of-the-box scenario works, so I presume i'm missing some setup steps that would expose the issue on Antares linux.

[2019-02-07 16:32] Teo27 opened #7351 "SignalR blocks UI Thread on Angular client"
### Describe the bug
We have an angular 7 client that communicates to the asp.net core backend with signalR. When we try to stream the data (50 000 POI objects), the UI thread freezes until all the data is streamed.

This is current structure that the angular app is using:

We have a PoiManager Service that call the ConnectionManager Service, which then calls the SignalR service.
All of those serv

[2019-02-07 16:39] mkArtakMSFT commented on #7346
Thanks for contacting us, @stsrki.
@SteveSandersonMS, can you please answer this question? Thanks!

[2019-02-07 16:46] mkArtakMSFT commented on #7313
@pranavkm, can you please look into this? Thanks!

[2019-02-07 16:47] mkArtakMSFT commented on #7310
Closing as this is indeed a duplicate.

[2019-02-07 16:47] #7310 closed

[2019-02-07 16:49] mkArtakMSFT commented on #7305
Thanks for contacting us, @rakkarage.
Would you like to submit a PR for this?

[2019-02-07 16:51] mkArtakMSFT commented on #7305
@ryanbrandenburg, let's see whether @rakkarage would send us a PR for this. If not, we may probably just do this as part of some future templates changes.

[2019-02-07 16:53] pakrym commented on #6097
@mbp can you please share you crash dump to pakrym@microsoft.com

[2019-02-07 16:54] mkArtakMSFT commented on #7304
Thanks for contacting us, @jsakamoto.
Glad you've found the cause of this and managed to fix it.
@danroth27, what this could be caused by?

[2019-02-07 16:55] mkArtakMSFT commented on #7303
Thanks for contacting us, @lrente.

[2019-02-07 16:56] mkArtakMSFT commented on #7303
@SteveSandersonMS, is this something you've seen in the past?

[2019-02-07 16:56] muratg commented on #7332
This issue was moved to dotnet/docs#10365

[2019-02-07 16:56] #7332 closed

[2019-02-07 16:57] javiercn commented on #7306
This is already fixed as part of f456e3d153039986e62d969b1c9d63aa301daf65

[2019-02-07 16:57] #7306 closed

[2019-02-07 16:59] muratg commented on #5144
@FernandoNunes it's coming in a week or so :)

[2019-02-07 17:05] Eilon commented on #7345
Is it possible to link to the failure? What platform was it on?

[2019-02-07 17:07] javiercn commented on #7345
Mac OS. I retriggered the build, let me see if I can get the failed one back. There wan't much information though

[2019-02-07 17:07] mbp commented on #6097
Done

[2019-02-07 17:08] BrennanConroy commented on #6701
@imperugo Enabling Debug level logs would be nice. I'd like to see the logs around the failure if possible, as they can give context on what is happening on the server.

@codingsteff Can you confirm that switching from SignalR 1.0.0 to 1.1.0 on the server causes the issue? And could you also collect logs please?

[2019-02-07 17:16] FernandoNunes commented on #5144
@muratg Thats great news, however we do are in a migration process and we did found a workaround after looking at how the "issued" HttpContextAcessor is implemeted, so we inject the HttpContextAcessor when we affect the TraceIdentifier and imediatly reset it so that it is available for the rest of the HttpRequest execution. We don't see any side-effects and after preliminary tests, seems a suitabl

[2019-02-07 17:17] SteveSandersonMS commented on #7346
Currently `JSInterop` is limited to using the built-in serializer. If you want, you can use an external serializer to convert to a `string`, then pass that to `JSInterop`. However this is not as efficient as you will need to receive a `string` at the other side and then use `JSON.parse`.

Later on we plan to swap out the built-in (very limited) serializer for the new standard JSON library that is

[2019-02-07 17:17] #7346 closed

[2019-02-07 17:18] SteveSandersonMS commented on #7303
No, this sounds unrelated to Blazor. It sounds like the web server is failing to return a certain static file sometimes, but Blazor doesn't have any control over that.

I'll close this because there's nothing we can do to influence how the web server returns static files. However, if you're able to track this down to something you think Blazor could influence, please let us know!

[2019-02-07 17:18] #7303 closed

[2019-02-07 17:23] Tratcher commented on #7117
What makes you say that? A fiddler trace would show you the expected cookie lifetime. The defaults should be 15 minutes.

[2019-02-07 17:33] null-d3v commented on #6664
I have a similar, if not the same, problem.

A repair of any 2.1 hosting bundle and even an uninstall/reinstall of those bundles did not resolve the issue for me.

I had to manually ensure the following was present in my applicationHost.config:

[code]

All other configurations were rectified with a repair or uninstall/reinstall except the above.

[2019-02-07 17:40] pranavkm commented on #7313
@Tratcher has anything with the TestHost changed recently? This is rendering a vanilla view and none of the code in this area has changed for a while.

[2019-02-07 17:40] HaoK commented on #7345
Wonder if its related to https://github.com/aspnet/AspNetCore/issues/6942 I can add some more logging to this test to at least print out the token and expected token

[2019-02-07 17:55] Tratcher commented on #7313
Nothing that should cause this. It's likely this is a secondary exception after the request has been aborted for another reason. Does it repro?

[2019-02-07 18:01] pranavkm commented on #7313
Huh, this is 2.2 which makes this weirder yet.

[2019-02-07 18:03] brittonbeckham commented on #5135
I swear I am not dumb, but I have looked everywhere and cannot find these objects. Google'd it as well and found the code in the github repos, but for whatever reason, my project doesn't recognize these objects and ReSharper doesn't auto-find either.

![image](https://user-images.githubusercontent.com/7856371/52431018-97c90100-2ac4-11e9-91cd-7bab5a36db2a.png)

![image](https://user-images.githubus

[2019-02-07 18:10] EdCharbeneau opened #7356 "Blazor event handlers cause Visual Studio to hang when inside child content"
### Describe the bug

Event handlers cause Visual Studio to hang when writing them inside of child content (aka RenderFragment).

### To Reproduce
Steps to reproduce the behavior:
1. Using Blazor 0.8.0
2. Use a component that has RenderFragment parameter begin typing an event handler
3. The IDE will freeze and attempt to restart.

[code]

### Expected behavior
Intellisense, wonderful IDE magic, an

[2019-02-07 18:10] danroth27 opened #7357 "How can I get scroll position in scroll view?"
_From @thainbreese on Thursday, 07 February 2019 07:40:21_

Hi

I am going to build a scroll view component without using JS interop.
The view and scroll bar is separated so I want to know the scroll position in the scroll bar.
How can I know the scroll position in onscroll event?

_Copied from original issue: aspnet/Blazor#1783_

[2019-02-07 18:10] danroth27 commented on #7357
_From @iAmBipinPaul on Thursday, 07 February 2019 10:20:33_

Please do not log issues here. This repo is used only for Blazor infrastructure purposes.

All Blazor code, features, and issues are tracked at https://github.com/aspnet/AspNetCore.

You can use the `feature-blazor` label to filter issues: https://github.com/aspnet/AspNetCore/issues?q=is%3Aissue+is%3Aopen+label%3Afeature-blazor

[2019-02-07 18:21] HaoK commented on #7345
@ajcvickers @blowdart note: this actually seems like a potential issue here, updating the security stamp should invalidate tokens, here's the relevant test code.  There's not actually anything I can log that would help other than a more useful error message, its bad if the token is still valid after updating the stamp...  its a real assertion/functional failure at that point.

[code]

[2019-02-07 18:29] NTaylorMullen commented on #5096
Targeting 3.0 now. Done.

[2019-02-07 18:29] #5096 closed

[2019-02-07 18:30] mkArtakMSFT opened #7359 "Provide samples for client code generation"
Also include samples.

[2019-02-07 18:31] Eilon commented on #7345
@HaoK - can you start a mail thread?

[2019-02-07 18:31] mkArtakMSFT commented on #7359
@glennc, what do you want to be covered as part of this work? Just want to make sure we don't miss anything.

[2019-02-07 18:31] EdCharbeneau opened #7360 "User Secrets not supported by Microsoft.NET.Sdk.Razor project types - Razor Components"
### Describe the bug
When using the project type as defined in .csproj `<Project Sdk="Microsoft.NET.Sdk.Razor">` the Manage User Secrets dialog is missing from Visual Studio.

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NET Core 3.0 preview-2
2. Choose File > New Web > Razor Components
3. In Solution Explorer right click <projectname>.App
4. Manage User Secrets is missing
5. To

[2019-02-07 18:34] dougbu commented on #7359
Is this  a tracking bug for aspnet/Docs#8461 and aspnet/Docs#8465?

[2019-02-07 18:41] JamesNK commented on #5135
Hmmm, it must been new in .NET Core 3.0. I've been thinking about it for so long that my head is no longer in 2.2 land. Sorry about that.

The code inside GetEndpoint is very simple. Put this in your logic to get the endpoint:

https://github.com/aspnet/AspNetCore/blob/425c196cba530b161b120a57af8f1dd513b96f67/src/Http/Http.Abstractions/src/Routing/EndpointHttpContextExtensions.cs#L19-L27

[2019-02-07 18:56] danroth27 commented on #7243
Dup of #5562

[2019-02-07 18:56] #7243 closed

[2019-02-07 19:02] mkArtakMSFT commented on #7357
@SteveSandersonMS, I assume there is currently no parameter passed to the scroll event handler, which represents this information?

[2019-02-07 19:02] danroth27 commented on #6351
@rynowak Do you expect to handle https://github.com/aspnet/AspNetCore/issues/5504 as part of this design review? Or should we chaining binds as a separate issue?

[2019-02-07 19:05] danroth27 commented on #5494
@rynowak This issue has been sitting around for a while, so I'm guessing it's not urgent. But if you think it needs to be investigated earlier please let us know!

[2019-02-07 19:10] mkArtakMSFT commented on #7359
Depends whether the plan for the docs is to include samples or not. If no, then this can be the issue tracking providing samples.

[2019-02-07 19:14] mkArtakMSFT commented on #7359
Renaming to title to cover samples work as part of this.

[2019-02-07 19:27] mkArtakMSFT commented on #5086
@QuickWire, can you please confirm the workaround provided by @strangegt solves your issue?

[2019-02-07 19:31] mkArtakMSFT commented on #4905
Closing this as there is no much community ask for this. Sorry @sebastienros :)

[2019-02-07 19:31] #4905 closed

[2019-02-07 19:50] sebastienros commented on #6984
I can't repro an issue.

I have published the application you provided with the `publish.cmd` script, and ran it with a much higher load than what you suggested. I also defined logging at the Warning level otherwise every requests were logged on the console. On my machine the memory is very stable at 30MB which makes sense as you disabled server GC.

Does you issue only happen through IIS in-proce

[2019-02-07 20:01] mrpmorris opened #7363 "[Blazor] New Hosted app will not build in VS2019"
### Describe the bug
The standard template for Blazor Web Hosted project does not build.

* The type or namespace name 'App' could not be found (are you missing a using directive or an assembly reference?)	petetest.Client
* The current .NET SDK does not support targeting .NET Core 3.0.  Either target .NET Core 2.1 or lower, or use a version of the .NET SDK that supports .NET Core 3.0.

### To Repr

[2019-02-07 20:06] #4150 closed

[2019-02-07 20:19] Arash-Sabet commented on #6448
@bradygaster I sent this diagram to @chenkennt in an email too. Please feel free to let me know what your thoughts are about this architecture feasibility.

![signalr-on-sf](https://user-images.githubusercontent.com/26050123/52440305-b5f62780-2aeb-11e9-8e6c-92f5bf408dcc.JPG)

[2019-02-07 20:51] #6974 closed

[2019-02-07 20:54] jkotalik opened #7365 "[Test Failure] WebHostFunctionalTests.RunsInIISExpressInProcess"
https://dev.azure.com/dnceng/public/_build/results?buildId=89644
[code]

[2019-02-07 20:57] aropb commented on #6984
No IIS i don't use

[2019-02-07 21:01] BrennanConroy commented on #7229
I can build and run your project completely fine from the command line.

However, in VS I do see the node errors with "Try npm i @types/node", so after installing `@types/node` those errors go away and are replaced by `Build:Property 'parseMessages' in type 'MessagePackHubProtocol' is not assignable to the same property in base type 'IHubProtocol'.`

And that error will go away in an upcoming patc

[2019-02-07 21:08] BrennanConroy opened #7366 "[Test failure] UnprotectWithDifferentPurposeFails"
https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190207.24/workItem/Microsoft.AspNetCore.Authentication.Test-netcoreapp3.0/wilogs
[code]

[2019-02-07 21:10] muratg commented on #7351
50k objects? How big are they? It doesn't seem too surprising to have some CPU usage with that many objects to parse.

[2019-02-07 21:17] aropb commented on #6984
Please, write your PC and OS specification.

[2019-02-07 21:35] FlorianRainer opened #7367 "Failed to gracefully shutdown application (IIS Hang)"
on application pool recycle (automatic by duration) and under high load i often get the following entry in event log `Failed to gracefully shutdown application 'MACHINE/WEBROOT/APPHOST/WEBNAME'.`

this was already happen in 2.1 with outproc, but now i've updated to 2.2 with hostingModel="InProcess", but i get a additional eventlog entry:

[code]

I use overlapped recycling, the new process is alre

[2019-02-07 21:38] rynowak commented on #6351
Yes.

[2019-02-07 21:40] brittonbeckham commented on #5135
Perfect! Thanks. I'll take a look at how this works and see if it is a suitable replacement for what I was doing.

[2019-02-07 21:46] JamesNK commented on #4468
Hi @martincostello

I've looked into this and your problem comes from a change in how routing now works. In old routing (pre 2.2) a route could be created for an action that doesn't exist. This is what you're doing here:

[code]

In 2.2 there is no public API to achieve what you want. I recommend you disable endpoint routing with `MvcOptions.EnableEndpointRouting = false` in your `Startup.cs`.

In

[2019-02-07 21:46] #4468 closed

[2019-02-07 22:00] HaoK commented on #4248
@natemcmaster good to close this or do we want this open to track further helix work?  There are a lot of projects/tests disabled (individual issues are tracking them but there's no meta issue tracking the full set), and there's also the open question of next steps, as keeping helix green is going to be a constant battle in the short term (between new tests that just don't work, and sporadic flaky

[2019-02-07 22:11] danroth27 commented on #5504
We expect to handle this as part of #6351

[2019-02-07 22:11] #5504 closed

[2019-02-07 22:13] natemcmaster commented on #4248
There are still important action items on this. I wouldn't close it yet. From my perspective, the remaining work is

- [ ] stabilize tests on Helix. This doesn't me @HaoK fixes them. Skipping + opening issues seems to be the only reasonable approach.
- [ ] Merge the 'helix-test' definition with the main CI. Implication: this makes Helix tests required to pass to merge PRs/produce a release
- [ ] S

[2019-02-07 22:14] Eilon commented on #6946
Marking as up-for-grabs in case someone wants to take a crack at this. We don't currently plan to implement this ourselves, but we'd be open to a collaboration/contribution for this.

[2019-02-07 22:17] #6026 closed

[2019-02-07 22:20] HaoK opened #7368 "[Helix] Reenable AzDo error reporting for helix tests"
Turning on EnableAzurePipelinesReporter results in an error currently

[code]

[2019-02-07 22:29] sebastienros commented on #6984
Windows 10, .NET Core 2.2.1

[2019-02-07 22:32] bradygaster commented on #6448
cc @davidfowl as i'd like his perspective on this, too. It feels like you'd want to erase the arrows going from the client apps' instances to the Service Fabric services. Since you'd be using ASRS to proxy your communications, why have the direct connections back to the SF services?

[2019-02-07 22:50] danroth27 commented on #5110
Hi @NickCraver,

Unfortunately this didn't land for Preview 2. We've been redoing our build infrastructure and unfortunately that took more time than expected.

Since this feature will require VS work to enable the corresponding Razor tooling, we need to align this with work with a corresponding VS release. It's too late at this point to add this to the initial release of VS2019, so our new plan i

[2019-02-07 22:52] #7159 closed

[2019-02-07 23:19] ivan-penchev commented on #7351
Hey [muratg](/muratg) the object size is around 300 bytes per object.
Here is a short summary from the ts file
[code]

[2019-02-07 23:28] BrennanConroy commented on #7351
Change the `invoke` to `send` in the code below. `invoke` will wait for the hub to return and `send` will wait for the message to be sent to the server.
[code]

[2019-02-07 23:45] jkotalik opened #7370 "Revisit making Response.BodyPipe.Complete() actually complete the PipeWriter for Http2"
In the Http1 and Http2 output producers, we currently make Complete effectively noop. For Http1 we can't call PipeWriter.Complete() as that is the connection pipe and there isn't a notion of a response pipe. For Http2, we CAN call Complete() as there is a Data pipe available. However, there are issue with creating a well formatted response if we do support Complete.

- Do we require users to call

[2019-02-07 23:49] HaoK commented on #7345
Mitigation PR merged https://github.com/aspnet/AspNetCore/pull/7364 if we still see this fail, we will need to dig deeper

[2019-02-07 23:53] mkArtakMSFT commented on #6145
@khellang, would you like to send us a PR for this?

[2019-02-08 00:21] Arash-Sabet commented on #6448
@bradygaster By direct "negotiation" arrows, I was trying to emphasize the initial step of negotiation between the client app and one of the hubs instances within the cluster _(via cluster's exposed endpoint which was missing in the diagram)_.  As you know, it's up to the cluster's LB to route the negotiation request and later on the persistent connection to one of the hubs within the cluster. The

[2019-02-08 00:28] oferns opened #7372 "AuthenticationHandler<TOptions> doesnt respect options passed to it"
### Describe the bug
`Microsoft.AspNetCore.Authentication.AuthenticationHandler<TOptions>` never sets the public property Options in the constructor, instead just setting IOptionsMonitor<TOptions> OptionsMonitor. This means any custom settings initially passed down the constructor chain are ignored. This means the value of OptionsMonitor.Value is different to Options (which has all the defaults).

[2019-02-08 00:50] oferns commented on #7372
Looking at it some more, should the Options property be defined as (Im looking [here](https://github.com/aspnet/AspNetCore/blob/62351067ff4c1401556725b401478e648b66acdc/src/Security/Authentication/Core/src/AuthenticationHandler.cs#L62)

 public TOptions Options => OptionsMonitor.Value

Otherwise is it not defeating the purpose of the monitor?

[2019-02-08 00:52] danroth27 commented on #7304
@jsakamoto I suspect when you installed the Blazor templates initially you somehow picked up a version of the templates package from one of our MyGet feeds with dev builds.

Since you've resolved your own issue I'm going to go ahead and close this.

[2019-02-08 00:52] #7304 closed

[2019-02-08 01:02] rakkarage commented on #7305
Thanks. Sorry it is currently beyond me. :)

[2019-02-08 01:15] jkotalik commented on #7102
Who is responsible for calling Complete on the StreamPipeWriter? Is Complete required to be called before Dispose?

[2019-02-08 02:36] jkotalik commented on #6691
Are they? https://dev.azure.com/dnceng/public/_build/results?buildId=90177

[2019-02-08 02:37] jkotalik opened #7377 "[Test Failure] ReactReduxTemplate_Works_NetCore"
https://dev.azure.com/dnceng/public/_build/results?buildId=90177

[code]

cc @mkArtakMSFT @ryanbrandenburg

[2019-02-08 02:39] jkotalik commented on #7142
Another one: https://dev.azure.com/dnceng/public/_build/results?buildId=90177

[2019-02-08 02:49] rynowak commented on #7243
We almost certainly want something cryptographically strong, a guid is not. The choice of a guid for this was as a temporary blocker.

[2019-02-08 02:49] crozone commented on #6946
We're currently implementing a `DbContext` based implementation of `ITicketStore`, and this requires `ITicketStore` to be accessible via DI in a `Scoped` context.

The solution should be very similar to the implementation for `services.AddDataProtection().PersistKeysToDbContext<ApplicationDbContext>();`, however the `AddCookie()` extension provides no access to the DI container.

The current solut

[2019-02-08 02:58] rynowak commented on #7213
What do you need this for? We intentionally don't pull in these dependencies and we don't currently plan to do so because of the size impact.

[2019-02-08 03:22] rynowak commented on #7147
We had some code from Anglesharp in 0.7 that decoded HTML entities like this. It seems likely we need to introduce something similar. This has to be component specific legacy razor will still want to treat entities as *text*.

[2019-02-08 03:35] Tratcher commented on #6691
I just turned them back on with additional debugging.

[2019-02-08 03:35] davidfowl commented on #6974
Great investigation guys!

[2019-02-08 03:47] highfield commented on #7229
@BrennanConroy since nothing changed since yesterday, I can't figure out why the command-line compilation shows no more lots of warnings. Did you make any patch to some npm?

By the way, it's my fault not adding a `setTimeout`/`setInterval` reference in the sample project, because *that* was the other problem. The "parseMessages" error is quite new to me.

So, I added this line to the app.ts modul

[2019-02-08 06:17] guylando commented on #7186
@Eilon This is was an important feature request for the ASP.NET Core oauth authentication code to support authentication using oauth access token (received via ajax) without requiring to redirect the user to oauth login page.

[2019-02-08 06:23] mylifelineio opened #7380 "Warning: Unknown element with name 'product_info' found in keyring, skipping."
### Describe the bug
I get the following warning:

[code]

### To Reproduce
Steps to reproduce the behavior:
1. 2.2.103
2. Code

[code]
### Expected behavior
Why am I getting this warning? Is this the correct way of adding Data Protection with Redis?

[2019-02-08 06:47] lohithgn opened #7381 "Blazor.Net Docs link point to Server Side Razor Components"
### Describe the bug
The docs link from https://blaor.net points to service side razor components doc. It should be pointing to client side razor components aka blazor standalone.

### To Reproduce
Steps to reproduce the behavior:
1. Head over to https://blazor.net
2. click on Docs link from the menu bar
3. Notice the link navigated to. It is https://docs.microsoft.com/en-us/aspnet/core/razor-comp

[2019-02-08 07:16] foxjazz opened #7382 "angular client to signalr core2.2 blocked by CORS"
### Describe the bug
Error trying to negotiate signalR connection (CORS) in asp.net core 2.2
issue described more in detail here:
https://github.com/foxjazz/WebAdmsClient/issues

### To Reproduce
get the client:  https://github.com/foxjazz/WebAdmsClient/issues
get the server:
https://github.com/foxjazz/WebADMService.git

### Expected behavior
Expect client should connect to the hub on the server.

[2019-02-08 07:18] BrennanConroy commented on #7382
You need to allow credentials in your cors settings.
https://docs.microsoft.com/en-us/aspnet/core/signalr/javascript-client?view=aspnetcore-2.2#cross-origin-connections

[2019-02-08 07:49] imperugo commented on #6701
@BrennanConroy I'll switch the log only for "Microsoft.AspNetCore.SignalR.*" to debug.

Soon news

[2019-02-08 08:46] codingsteff commented on #6701
I rolled back our server to .NET Core 2.1 and now we have no errors in the log anymore.
Currently all our clients using JavaScript SignalR 1.1.0, the server runs with .Net Core 2.1.1 and Microsoft.AspNetCore.SignalR 1.0.3.

Next week I can switch the production to Microsoft.AspNetCore.SignalR 1.1.0, but because of the dependency to Microsoft.AspNetCore.Connections.Abstractions I need to switch to

[2019-02-08 09:38] martincostello commented on #4468
@JamesNK Thanks for looking into this. If this happened to be more of a quirk of the old implementation, rather than being by design, then I guess it's not the end of the world.

I've already implemented a "fake" controller to provide the equivalent functionality when endpoint routing is enabled with 2.2.

I wonder, is there enough of use case to make a built-in extension method to support the sce

[2019-02-08 09:42] ivan-penchev commented on #7351
[BrennanConroy](/BrennanConroy) thanks :) Your  correction + us chunking the list before sending it to the client, solved the problem.

Thought to be honest I expected this, chunking the IEnumarable before sending it, to be inbuilt in the library, am I wrong that this should be the default behavior for IEnumarable?

[2019-02-08 09:47] aropb commented on #6984
@sebastienros, Hi.
I can not understand why my project memory is always growing. I can't find the cause, but maybe it's normal behavior?

![profiling_ webaccmng windows service - net memory profiler 2019-02-08 12 45 21](https://user-images.githubusercontent.com/2377913/52470541-77ba4000-2b9f-11e9-8f1c-55b2876fef4c.png)
![profiling_ webaccmng windows service - net memory profiler 2019-02-08 12 47 2

[2019-02-08 09:49] javiercn commented on #6669
@Eilon We were deciding where to patch or not. In any case, I'm going to be fixing it on the 3.0 branch. There would be people that could have worked around it and we wanted to avoid breaking those people.

For them to be broken they would have to do `services.Configure<CookieAuthenticationOptions>(AzureADB2CDefaults.CookieScheme, o => o.AccessDeniedPath = "<<Path>>")` before they called
`services

[2019-02-08 09:55] ivanchev opened #7383 "[Blazor] IL Linker not working correctly with IQueryable extensions"
### Describe the bug
If you create a class library with some IQueryable extensions, for instance:
[code]

Using that in a WebAssembly Blazor project produces error.

### To Reproduce
Steps to reproduce the behavior:
1. Add the extension method to a new .netstandard 2.0 class library
2. Create a new simple Blazor project, and reference the class library project
3. In the FetchData page, call the fo

[2019-02-08 10:11] godrose commented on #5700
Thanks.
I guess I found the issue.
This is double registration which is invoked because the build generates both .exe and .dll files with identical types.
Can you expand on this feature and consult on whether it can be disabled and what's it for?
Thanks.

[2019-02-08 10:15] #7349 closed

[2019-02-08 10:50] jmprieur commented on #6028
@daymansiege
The following example is for AAD, but it's transposable to B2C. In the service.Configure, you'd want to add valid issuers (ValidIssuers) to the TokenValidationParameters

Alternatively you can implement your own IssuerValidator and set it to TokenValidationParameters.IssuerValidator as shown in https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/blob/master/1

[2019-02-08 10:51] khellang commented on #6145
I'll see if I can squeeze it in. Is there any way this can be assigned to me?

[2019-02-08 11:07] neerajbharti opened #7384 "Visual Studio 2019 Preview 2 Crashes"
### Describe the bug
Visual Studio 2019 Preview 2 Crashes with the following simple steps.

### To Reproduce
Steps to reproduce the behavior:
1. Create new Razor Component (Server Side Blazor) Project
2. Run the app, it just works fine and opens in browser
3. Now modify the counter.cshtml file in the "App" project with the following two simple lines (code attached below):
(i) Add a property in @fu

[2019-02-08 11:53] MagicAndre1981 opened #7385 "SignalR: System.ObjectDisposedException: Cannot access a disposed object. Object name: 'System.Net.Http.HttpClientHandler' when calling "await Connection.StartAsync();""
### Describe the bug

When I try to connect to SignalR server in Xamarin App (UWP), where SignalR server is not available, I get the expected exception that server is not available:

[code]

This is fine, but when I now start the AspNet Core SignalR server and try to connect again to SignalR service (without restarting the app) I get this unexpected exception:

[code]

### To Reproduce
Steps to re

[2019-02-08 11:58] oferns commented on #7372
Im closing this again. Ive been barking up the wrong tree completely.

[2019-02-08 11:58] #7372 closed

[2019-02-08 12:07] ChrisWeinrich commented on #4737
Same Here, we want to switch to NGNIX on Red Hat in a Big Enterprise Environment and missing AD authentication is a complete showstoper.

[2019-02-08 12:11] Drawaes commented on #4737
Why don't you do the auth at NGNIX in this case? Surely this is only an issue (that I think is useful) for people running raw Kestrel.

[2019-02-08 12:22] ChrisWeinrich commented on #4737
Ok then my understanding of auth and reverse proxies is not deep enough

[2019-02-08 13:05] imperugo commented on #6701
@BrennanConroy here my logs

<img width="1189" alt="screenshot 2019-02-08 at 14 05 09" src="https://user-images.githubusercontent.com/758620/52479947-97a33100-2baa-11e9-93a2-18a9fafdb370.png">

[2019-02-08 13:39] scriptmonkey69 commented on #6664
Perfect fix. Spent 6 hours trying to find out why my web.config or applicationhost.config was not available to the Application Pool.

Someone needs to put this answering against the 500 19 on the microsoft page, so other people using .NET Core can see it.

[2019-02-08 14:19] springy76 commented on #6385
This **bug** still exists in Razor Components 3.0 preview 2 (end of Jan2019).

`RemoveEventHandlerIds` runs asynchronously (called from thread pool) and **corrupts** the `_eventBindings` dictionary by modifiying it without any locking mechanism.

I've seen multiple threads doing `RemoveEventHandlerIds` in parallel for the very same `Renderer` instance and also `RemoveEventHandlerIds` run in parall

[2019-02-08 14:30] DNF-SaS commented on #6385
Also experiencing this issue here using Razor Components from ASP.NET Core 3.0 Preview 2.

[2019-02-08 14:45] blahblehblah opened #7386 "VS 2019 / .NET Core 3.0-Preview / Ensure that 'npm' is installed / Angular"
Create new solution/project, choose Angular and run the project.

Error >
An unhandled exception occurred while processing the request.
AggregateException: One or more errors occurred. (One or more errors occurred. (Failed to start 'npm'. To resolve this:.

[1] Ensure that 'npm' is installed and can be found in one of the PATH directories.
Current PATH enviroment variable is: C:\WINDOWS\system32;C

[2019-02-08 16:21] sebastienros commented on #6984
It might just be that gen2 GC hasn't triggered yet. Using 60MB of memory is very low, the GC will only start once it hits memory pressure, meaning the OS tells the application that it's about to use too much memory. But I might be wrong. Let it run for hours, take a memory dump (one from the task manager is fine) at the middle of the run and right before your stop it once it's taking half your sys

[2019-02-08 16:27] pakrym commented on #6097
@mbp your failure is a combination of two issues:

https://github.com/dotnet/coreclr/issues/21450
and
https://github.com/dotnet/roslyn/issues/26567

When running InProcess IIS you get smaller stack size then dotnet does by default (512K vs 1M) in addition because of the issue in compiler async stack machines use much more stack space when exceptions are thrown then in a successful case.

Until one

[2019-02-08 16:42] danroth27 opened #7387 "Compact binary SignalR protocol without MessagePack dependency"
For Razor Components we use a SignalR hub to manage the UI interactions. We need these interactions to be as low latency as possible. Currently we use MessagePack, but we need a default protocol implementation that doesn't have a third party dependency so that it can be fully serviced.

@davidfowl @bradygaster @SteveSandersonMS @mkArtakMSFT

[2019-02-08 16:43] danroth27 commented on #7311
This is an ask on the SignalR folks: #7387.

[2019-02-08 16:45] BrennanConroy commented on #7311
I believe @pranavkm has been working on a prototype for this

[2019-02-08 16:57] enetstudio commented on #7360
EdCharbeneau: Since RC run in the context of the server it's useful to have user secrets available

But you yourself says: Repeat these steps with the .Server and the option is available

Correct me if I am wrong... You want the User Secrets feature be available in  .App, right ?

[2019-02-08 16:59] CESARDELATORRE commented on #3756
@natemcmaster @davidfowl Is Microsoft.Extensions.DependencyInjection library still going to be in a different package that ASP.NET Core 3.0? In Extensions.
I don’t think it should be only in ASP.NET Core since you could want to use it only for other lighter types of .NET apps which are not ASP.NET Core. Today, it even works on .NET Framework, which is very convenient for some apps that are not ASP

[2019-02-08 17:08] BrennanConroy commented on #7313
Another one on 2.2 https://dev.azure.com/dnceng/public/_build/results?buildId=90700
[code]

[2019-02-08 17:08] rynowak commented on #7050
I'd really prefer not if can't articulate specific ways it adds value. I don't want to make `Matcher` and `MatcherFactory` public.

[2019-02-08 17:17] Eilon commented on #7186
@guylando, our understanding is that this is not a supported token flow at all. Maybe it happens to work in some case, but we don't believe the identity providers officially support this.

[2019-02-08 17:18] Eilon commented on #5700
@godrose are you asking about what is an authentication scheme?

[2019-02-08 17:21] guylando commented on #7186
@Eilon Here is the official facebook documentation of the flow after getting the access token: https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow#checktoken
also the net core code is all in place, its just needs a little refactoring and extracting a new public method.
Basically it doesn't matter if its twitter, facebook or google because they all support validating acc

[2019-02-08 17:22] guylando commented on #7186
What I am proposing will allow cordova apps which have a .net core backend to support sso using social oauth authenticated in the facebook/twitter/google parallel app without requiring to enter the credentials again and yet it will be done in a secure way. Why doesn't it sound good?

[2019-02-08 17:23] Tratcher opened #7388 "src/ProjectTemplates/build.cmd doesn't install some packages"
From the old templating readme:
"You also need to get the packages these templates depend on into your package cache or else `dotnet new` restore will fail. The easiest way to get them to run is by letting the build run at least 1 test."

`src/ProjectTemplates/build.cmd` Does build the aspnetcore shared runtime and pre-install the packages it needs. However it does not install any of the other pac

[2019-02-08 17:25] DragonMastery opened #7389 "Client Razor Components VS 2019 Lock up - During Runtime"
### Describe the bug
VS 2019 locks up after injecting `@inject HttpClient Http`

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0 preview 2'
2. Run this code `@inject HttpClient Http`
3. In the Project.App in any .cshtml page
4. Locks up VS 2019 no error code to produce

[2019-02-08 17:30] godrose commented on #5700
@Eilon I’m asking about the change of creating two files: [filename].exe and [filename.dll] after building the .Net Core 3.0 console app. In .Net 2.2 there was only one file - [filename].dll

[2019-02-08 17:31] godrose commented on #5700
Particularly whether this behavior is configurable and what would be its usage.
Thanks.

[2019-02-08 17:34] Eilon commented on #6669
@javiercn I think that's reasonable. Can you make sure all the relevant issues/PRs/whatever are cleaned up to reflect this?

[2019-02-08 17:45] Tratcher commented on #6817
@glennc since this will only be using Extensions should it get an optional net4x TFM? Not sure if our template infrastructure supports that.

[2019-02-08 17:48] BrennanConroy commented on #7351
Take a look at streaming, it sounds like the thing you want.
https://docs.microsoft.com/en-us/aspnet/core/signalr/streaming?view=aspnetcore-2.2

[2019-02-08 17:58] muratg commented on #5700
@godrose please see https://docs.microsoft.com/en-us/dotnet/core/deploying/#framework-dependent-executables-fde

[2019-02-08 18:00] tmat opened #7390 "Edit and Continue failed in ASP.NET Core web project"
### Describe the bug
Error CS8055: "Cannot emit debug information for a source text without encoding." is reported when editing ASP.NET Core web project while debugging.

Reported as VS feedback: https://developercommunity.visualstudio.com/content/problem/414645/edit-and-continue-not-working-with-aspnet.html.
Internal bug [736856](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/736856).

### T

[2019-02-08 18:01] natemcmaster commented on #3756
Yes, most Microsoft.Extensions.* libraries will continue to ship as a normal nuget packages.

[2019-02-08 18:13] jkotalik commented on #4621
I re-enabled these tests as I tried to repro on both the CI machines and AzDO and it never happened. Will disable again if they fail.

[2019-02-08 18:13] jkotalik commented on #4621
Will close and let RAAS reopen if it fails again.

[2019-02-08 18:13] #4621 closed

[2019-02-08 18:15] jkotalik commented on #3849
@carlowahlstedt sorry for the incredibly late reply. <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel> is used to populate the web.config if there isn't one present in the project. If you have a web.config in your directory, it should always be used when you publish the application.

[2019-02-08 18:17] javiercn commented on #6669
Yep

[2019-02-08 18:38] rynowak commented on #7389
@ajaybhargavb

[2019-02-08 18:39] rynowak commented on #7384
@ajaybhargavb

[2019-02-08 18:49] spondishy opened #7393 "Question about enum serialization and routes"
Hi, I've been struggling with this issue for a day or two and I'm trying to do exactly the same as this link.

https://github.com/aspnet/AspNetCore/issues/4008

When I run this code it defaults to the first item in the enum. Basically the value in the route appears to be being ignored. The TypeConverter code certainly looks like its not executing to me. I must be missing something somewhere. Is th

[2019-02-08 18:55] foxjazz commented on #7382
@BrennanConroy tried that option. Worse result

[2019-02-08 18:57] foxjazz commented on #7382
Let's put it this way. It will post updates. But will not connect to Sr hub

[2019-02-08 19:01] BrennanConroy commented on #7382
Could you share what the result was?

[2019-02-08 19:02] mkArtakMSFT commented on #6883
@SteveSandersonMS, I've updated the description to include this:

[2019-02-08 19:09] Eilon commented on #7186
@Tratcher - any further thoughts on this?

[2019-02-08 19:17] danroth27 commented on #7363
@mrpmorris I'm not able to reproduce this issue. To help us figure out what's going on could you please try the following:

- When in the directory of the generated Blazor hosted app, what is the output of `dotnet --version`?
- Could you please share the content of the project file for the .Server project?
- Please try reinstalling the Blazor templates:

[code]

[2019-02-08 19:26] matthewDDennis opened #7396 "Using DI with Razor Components lead to holding on to resources for long times"
If I understand the way DI is used in Razor Components, Scoped services have a lifetime of the connection.
Wouldn't this, especially in the case of DbContexts, leave a lot of resources alive for long times and result in resource, such as SQL connections, or memory starvation if there are MANY concurrent requests?

[2019-02-08 19:39] foxjazz commented on #7382
@BrennanConroy same error but more errors. There are no credentials. So why would it matter. The response doesn't make since. Pull the projects and try them.

[2019-02-08 19:43] foxjazz commented on #7382
And another thing. For cors why isn't there just an option. Allowanything. Wouldn't someone have considered that?

[2019-02-08 19:49] ajaybhargavb commented on #7384
Thanks for reporting this @neerajbharti. You are running into this because `@model` is a reserved directive keyword and using it in an attribute (`bind=@model`) breaks some of our assumptions causing the crash. Using `@Model` or any other non-reserved variable name should unblock you.
Having said that, we still shouldn't be crashing VS. @rynowak, this is failing because of our assumptions [here](h

[2019-02-08 19:49] EdCharbeneau commented on #7360
Yes. Sorry that was confusing. I meant to say, repeat these steps for the Server project to see the properly working menu dialog.

[2019-02-08 19:52] ajaybhargavb commented on #7389
@DragonMastery, I tried to reproduce the hang but couldn't. What version of VS are you using? Also, could you provide a simple repro app? At the very least, could you provide the full contents of the cshtml that causes the hang and the contents of _ViewImports?

[2019-02-08 19:55] mbp commented on #6097
Thanks @pakrym

I was suspecting a stack overflow exception, but would have thought this would could be seen from the exception instead of "Access violation"

[2019-02-08 20:04] natemcmaster opened #7398 "Helix tests fail to install .NET Core on Fedora 28 and 27"
Example: https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190208.14

It appears tests on Fedora.28.Amd64.Open consistently fail to boot.

[code]

Seems like there is something broken in the version of libcurl installed.

cc @Eilon  @HaoK  - I'm going to disable Fedora 28

[2019-02-08 20:28] ritchxu opened #7400 "HostingEnvironment.IsHosted and HostingEnvironment.SiteName"
When migrating an app from .NET full framework to ASP.NET Core (still hosted in IIS with hosting bundle), `HostingEnvironment` is no longer available. I was wondering what could be the equivalent/replacement for
properties like `IsHosted` and `SiteName`?

[2019-02-08 20:36] rynowak commented on #7384
Yeah I think there are a few issues here to fix. 👍

[2019-02-08 20:41] camainc commented on #5773
What is the status on this? I want to use identity in my site, but I don't want usernames to be the same as email addresses.

[2019-02-08 20:59] camainc commented on #7390
I added a comment line inside a method. There are no compile errors, but I get  a dialog that states "Edits were made which cannot be compiled. Execution cannot continue until the compile errors are fixed."

When I click the "Edit"  button on the dialog then I see the error described above, CS8055.

[2019-02-08 21:56] DragonMastery commented on #7389
@ajaybhargavb  [Here is a link to my repo](https://github.com/DragonMastery/BlazorCore)

[2019-02-08 22:02] danroth27 commented on #5513
Proposal is to update the existing Razor Class Library template. By default we want Razor Class Library to support components for both client and server. But it will have an option for supporting pages & views, in which case it will then target server only.

[2019-02-08 22:19] winzig commented on #4671
So is this going to be resolved in .NET 3.0? I just spent an hour trying to figure out why my cookies were always expiring in 2 weeks even though I was setting options.Cookie.Expiration to another timespan. I searched for a while, and then finally decided to search the source code where I finally found a clue:

https://github.com/aspnet/AspNetCore/blob/32da2679f86ec0b19c6bcad25ed500ddf5ff845f/src/

[2019-02-08 22:31] BrennanConroy commented on #7157
@davidfowl I think it was you who mentioned backporting? Is this something you still think we should try to do?

[2019-02-08 22:39] davidfowl commented on #7157
Yes

[2019-02-08 22:40] BrennanConroy commented on #7157
@muratg We would like to try to get this into the next 2.2 patch, I'll find the template and fill it out. I don't remember does it go on the issue or a PR?

[2019-02-08 22:41] leecow commented on #4016
I don't quite understand the question. From the release side, we need a way to know when an ANCM update is released to Antares (and VS?) and what that version will be. For every other component, the version is readily visible in the installer file names (eg aspnetcore-runtime-2.2.2-win-x86.exe).

[2019-02-08 22:45] EdCharbeneau commented on #7356
https://youtu.be/iNbVwZM4wos?t=3335

Looks like it happens when using `eventName="@()"`

[2019-02-08 22:54] natemcmaster commented on #7398
Sometimes `wget` works better. If Fedora 28/27 have that, maybe we can try that instead of curl?

[2019-02-08 22:56] muratg commented on #7157
@BrennanConroy on the PR. CC me on the PR as well please! Thanks.

[2019-02-08 22:57] HaoK commented on #7398
Sure sounds like wget has the ability to recover from broken transfers too which is nice

[2019-02-08 22:58] atlasicus commented on #7363
Hi, I was having this same issue.  I didn't realize I was still running .net Core 3 Preview 1.  Upon updating to .net Core 3 Preview 2, the issue went away.

[2019-02-08 23:19] ajaybhargavb commented on #7389
@DragonMastery, I tried cloning your repo and running it. I still couldn't reproduce the hang. I tried to type
`@inject HttpClient Http` in most of the cshtml files there. I also tried removing all contents and then typing/copy pasting this but still no hang. I am using the latest VS 2019 preview build which is 2.2. Are you seeing this consistently? Do you have any more specific instructions on ho

[2019-02-08 23:29] DragonMastery commented on #7389
there is no hang when I type it. it when you run it and go the that page

[2019-02-08 23:44] ajaybhargavb commented on #7389
Ah this is a runtime issue then. Not sure what you meant by VS locking up. @rynowak, can you please take a look?

[2019-02-08 23:46] DragonMastery commented on #7389
@ajaybhargavb @rynowak You can also trying putting '@inject HttpClient Http' in the _ViewImports.cshtml file and the runtime completely breaks. It show no errors though and I cannot close VS 2019 without using the task manager.

[2019-02-09 00:16] danroth27 commented on #7383
@ivanchev Thanks for reporting this issue!

Since this appears to be an IL linker issue I'm going to move this over to the Mono folks.

[2019-02-09 00:17] danroth27 commented on #7383
This issue was moved to mono/mono#12917

[2019-02-09 00:17] #7383 closed

[2019-02-09 01:23] jkotalik opened #7405 "[Test Failure] CanTriggerEventHandlerDisposedInEarlierPendingBatchAsync"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=91104

[2019-02-09 01:23] jkotalik commented on #7405
@mkArtakMSFT

[2019-02-09 02:27] mkArtakMSFT commented on #7286
@danroth27, is this what we want to do?

[2019-02-09 02:34] Lupusa87 commented on #7357
It will be great if scroll event will provide all necessary data.

Before that you can check this blazor scrollbar component prototype, svg based, no js.

https://lupblazorscrollbar.z20.web.core.windows.net/

https://github.com/Lupusa87/BlazorScrollbar

[2019-02-09 02:51] Rick-Anderson commented on #7286
@SteveSandersonMS 	request that [here](https://github.com/aspnet/Docs/pull/10423#issuecomment-459682740)

[2019-02-09 04:10] davidfowl opened #7408 "[CI Failure]: RunIndividualTestCase-http2/6.2/1, HTTPS:True, Sends a HEADERS frame without the END_HEADERS flag, and a PRIORITY frame in 30.0323824s"
[code]

[2019-02-09 05:06] foxjazz commented on #7382
this will work in a different project. I give up, I can't figure out what is wrong with mine.

[2019-02-09 05:06] #7382 closed

[2019-02-09 05:07] godrose commented on #5700
I see.
I'm not deploying the app though

[2019-02-09 09:31] aropb commented on #6984
@sebastienros Hi, I found my bug in the controller. I'm sorry.

I used in "Select/Where" from DatabaseContext a not static method of a controller.
It's bad that the netcore compiler misses such errors.

Thanks.

[2019-02-09 09:31] #6984 closed

[2019-02-09 09:59] andez2000 opened #7409 "Make SelectTagHelper more extensible"
Is it possible to extend the SelectTagHelper to allow more customisation of the generated options?  The idea being that I want to provide a little more metadata about options which in turn changes the dynamics of the UI.

    public class ExtendedSelectListItem : SelectListItem
    {
        public HtmlAttribute[] Attributes { get; set; }
    }

    // if something exists
    public class HtmlAttr

[2019-02-09 11:37] kanadaj opened #7411 "Infinite loop in cshtml - application permanently locked until restart, no way to debug"
### Describe the bug
It would be nice to have a size limit on the output buffer of the CSHTML files; otherwise, an infinite loop would completely lock down system resources, including CPU and up to 12-13GB of RAM, but the process somehow never runs into an OutOfMemoryException; I believe this is due to the buffer being flushed once it hits a certain size.

### To Reproduce
Steps to reproduce the b

[2019-02-09 12:35] kanadaj commented on #3793
@csharmath Agreed, but at this point, given that this has been an unfixed issue for _years_, might as well adapt and go after solutions that work instead of waiting for a miracle...

[2019-02-09 13:05] davidfowl commented on #7411
I don’t think we should do anything here. An infinite loop in lots of other places can have the same effect.

[2019-02-09 13:09] Andrzej-W commented on #7305
There is a small bug in site.css. We have this in _Layout.cshtml
[code]
and this in site.css
[code]
Height of the footer is defined as 60px, but this is not true because we have 60px line height and 1px border and border is inside CSS box because Bootstrap defines `box-sizing: border-box`.

In my opinion `height: 60px` is not needed - you can remove it and scrollbar disappears. I think this the be

[2019-02-09 13:12] davidfowl commented on #7400
There are no IIS intrinsic APIs exposed in ASP.NET Core. Do you know what they were being used for?

[2019-02-09 13:15] davidfowl commented on #7385
You’re not calling DisposeAsync anywhere in your code right?

[2019-02-09 13:51] MagicAndre1981 commented on #7385
nope, I don't call DisposeAsync.

I only noticed it in a fresh working copy where I haven't configured VS2017 to start the Server along with the UWP app

[2019-02-09 15:41] Ibro commented on #5833
It seems the sample has been moved to this location - [ApiAuthSample](https://github.com/aspnet/AspNetCore/tree/master/src/Identity/ApiAuthorization.IdentityServer/samples/ApiAuthSample)

[2019-02-09 15:55] aropb commented on #6984
https://github.com/aspnet/EntityFrameworkCore/issues/13048

[2019-02-09 15:59] Mart-Bogdan commented on #6984
@sebastienros by the way, for future cases, as we found out, NET Memory Profiler  triggers GC before snapshot creation, so no unreachable are present inside snapshot.

[2019-02-09 17:00] AArnott commented on #7387
Would a fork of MessagePack satisfy? The one I'm working on is based on neuecc's (and we're collaborating to stay close at this point). I'm currently refactoring and tuning it to work with all the latest .NET Core APIs (e.g. `IBufferWriter<byte>` and `ReadOnlySequence<byte>`).

[2019-02-09 17:04] martincostello commented on #4789
An update on this, we're planning to roll-out the upgrade to Windows Server 2016 next week, after which I should be able to temporarily revert the downgrade to ANCM v1 in order to capture a crash dump for analysis.

[2019-02-09 18:16] enetstudio opened #7416 "<summary> description of the BlazorOptions class in Razor Components is wrong..."
In the <summary> tag for the BlazorOptions class
<see cref="ComponentsApplicationBuilderExtensions.UseBlazor(IApplicationBuilder, BlazorOptions)"/>

should be
<see cref="BlazorApplicationBuilderExtensions.UseBlazor(IApplicationBuilder, BlazorOptions)"/>

Note: I've previously posted issues about similar mistakes, to which the Asp.Net team responded with the suggestion that I should post a Pull req

[2019-02-09 18:24] enetstudio commented on #7416
In the `<summary>` tag for the BlazorOptions class
 `<see cref="ComponentsApplicationBuilderExtensions.UseBlazor(IApplicationBuilder, BlazorOptions)"/>`

should be
`<see cref="BlazorApplicationBuilderExtensions.UseBlazor(IApplicationBuilder, BlazorOptions)"/>`
Note: I've previously posted issues about similar mistakes, to which the Asp.Net team responded with the suggestion that I should post a Pu

[2019-02-09 18:46] davidfowl opened #7417 "[CI Failure]: WebHostStopAsyncCanBeCancelledEarly"
Seen on helix

[code]

[2019-02-09 18:59] kanadaj commented on #7411
Maybe it'd have a similar effect, but normally there is no pipeline in the way that automatically flushes the buffer, essentially stopping the system from throwing even an `OutOfMemoryException`.

[2019-02-09 19:03] kanadaj commented on #7411
Even if not throwing, logging a Warning that can be turned off would already be very helpful, since infinite loops like this are way too hard to diagnose otherwise, as no other log would ever indicate the issue.

[2019-02-09 19:43] Lupusa87 opened #7418 "Blazor onpointerdown event gives error"
### Describe the bug
When onpointerdown event fires I get error.

### To Reproduce
Steps to reproduce the behavior:
1. In Blazor 0.8.0 standalone app I dynamically create element, register pointer event;
2. `builder.AddAttribute(k++, "onpointerdown", OnPointerDown);`
3. `public void OnPointerDown(UIPointerEventArgs e) {};`
4. When I click on element I get this error:
System.ArgumentException: Obje

[2019-02-09 19:57] davidfowl commented on #7411
I'm still not convinced we should do anything here. This is like any other logic bug in application code. Do you have an example where this happened in some less obvious way? That might make fore a more convincing argument.

[2019-02-09 19:58] Lupusa87 commented on #7418
[EventHandlers.cs](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/EventHandlers.cs#L72) is showing:

`[EventHandler("pointerdown", typeof(UIPointerEventArgs))]`

not **on**pointerdown

but if I do `builder.AddAttribute(k++, "pointerdown", OnPointerDown);` and click element nothing happens.

So another question - which is correct pointerdown or **on**pointerdown?

[2019-02-09 20:05] kanadaj commented on #7411
@davidfowl I have a custom Error page which unwraps InnerExceptions iteratively for the error message for administrators of our website, since the standard error message for EF6 validation errors isn't particularly helpful (it just says "look at the inner exception"), but there as an error made with the code, so inside the while loop, instead of `err = err.InnerException` it said `err = Model.Erro

[2019-02-09 21:12] dougbu commented on #4831
Fixed in c1ce7b9a77 with thanks to @kishanAnem

[2019-02-09 21:12] #4831 closed

[2019-02-09 21:26] ThomasBleijendaal opened #7419 "Optional parameter is not cleared when navigating to same page with a different set of parameters"
When navigating to a page which has two @page directives with one or two parameters, the optional one is not always cleared when navigating to this page when the optional parameter should have be set to its default.

In the [documentation](https://docs.microsoft.com/en-us/aspnet/core/razor-components/routing?view=aspnetcore-3.0#route-parameters) it is said to use two @page directives for support f

[2019-02-09 21:30] pranavkm commented on #6691
Another failure here - https://dev.azure.com/dnceng/public/_build/results?buildId=91312. Skipping the test as part of https://github.com/aspnet/AspNetCore/pull/7165/commits/c14f2ab745232d8ce9f24dcf631467a4733e447b (ongoing PR)

[2019-02-09 23:04] davidfowl commented on #5944
Closing this as we're not going to remove (at least in the short term, the DiagnosticSource)

[2019-02-09 23:04] #5944 closed

[2019-02-09 23:11] Tratcher commented on #6691
Oh good, the verbose logs may have finally tracked down a bug in the client.
[code]

[2019-02-10 00:00] suffyanaziz opened #7421 "ResponseCacheAttribute behavior is different between ASP.NET Core 2.0 and 2.1 Razor Pages apps."
I have a Page on which I am displaying a number of widgets. Each widget is a razor page and has its own method (..cshtml.cs) . Each Razor Page method sends a random request to the API (every time the page refreshes) and ofcourse a different response comes every time from the API according to request (because I am using random input values for the request) for each widget.

Anyways, my goal of cach

[2019-02-10 00:08] mkArtakMSFT commented on #7405
@javiercn, can you please look into this? Thanks!

[2019-02-10 00:12] mkArtakMSFT commented on #7393
Thanks for contacting us, @spondishy.
Looks like @JamesNK's suggestion to use a custom `TypeConverter` had solved the issue in the related thread. If you're doing that and still are facing an issue, then something is different in your case. Please share a sample project which would repro the issue you're facing, so we can assist you better.

[2019-02-10 00:14] mkArtakMSFT commented on #7390
Thanks for contacting us, @tmat.
@NTaylorMullen, can you please look into this? Thanks!

[2019-02-10 00:20] benaadams opened #7423 "SignalR CI errors (Test pass)"
Not sure if this is expected as it ends "Test Run Successful."

[code]

[2019-02-10 01:18] kakins commented on #5608
Sorry I haven't responded in some time.  I haven't had time to play around with Blazor much.  I'm still experiencing this issue, but I have not uninstalled ReSharper yet.  I'm pretty sure I've updated it though, since having this problem.

I also haven't tried uninstalling/reinstalling Blazor Language Services.  I suppose I can try this as a last resort.

[2019-02-10 01:29] Lupusa87 commented on #7418
I found where is problem.

According to [this](https://developer.mozilla.org/en-US/docs/Web/API/PointerEvent/pointerId) PointerID is number.

"pointerEvent.pointerId - The pointer event's unique identifier number."

[Here](https://github.com/aspnet/AspNetCore/blob/5a70f5312fb57fc3788e5af56a99e7b43761e195/src/Components/Browser.JS/src/Rendering/EventForDotNet.ts#L303) in EventForDotNet.ts we have a

[2019-02-10 01:51] Andrzej-W commented on #7419
This is very old bug and it was tracked somewhere. It was fixed but then reverted. See this #6864. Hopefully both problems will be solved in preview 3.

[2019-02-10 02:27] suffyanaziz opened #7427 "How to save local storage data into a database in ASP.Net Core 2.0 Razor Pages?"
I am using grid stack in ASP.NET Core razor page to save widgets in locals torage. The same thing I want to do for on server side as well. For that purpose I want to store the dashboard name as key and serializedData as value in database for each user. How can this be done? Thanks

Following is the code :

     this.saveGrid = function () {
                    this.serializedData = _.map($('.grid-

[2019-02-10 02:38] benaadams opened #7428 "IIS.Tests.Microsoft.AspNetCore.Server.IISIntegration.FunctionalTests.ClientDisconnectTests.ReaderThrowsCancelledException"
CI Error
[code]

[2019-02-10 03:28] benaadams opened #7429 "Investigate using the same BufferWriter for first write and headers"
Kestrel could use the same BufferWriter for first write and headers, reducing calls to allocate the Span

/cc @jkotalik @davidfowl

[2019-02-10 04:48] danroth27 opened #7430 "_framework/blazor.server.js disable javascript HTMLCollection-array access"
_From @UrielMhezzek on Saturday, 09 February 2019 20:32:37_

I wan't add a event to html-Element by use this JavaScript-Code.
[code]
My Console wrote this

My Index.html
[code]
My Component
[code]
I think there is something in blazor.server.js that prevents me from getting access to the array, a HTMLCollection to be precise.

_Copied from original issue: aspnet/Blazor#1785_

[2019-02-10 04:48] danroth27 commented on #7430
_From @xclud on Saturday, 09 February 2019 20:50:38_

You should run the script after blazor load finishes. Unfortunately blazor does not fire any events for us. So what you want to do currently has no solution.

Maybe a trick works for you. Put all you js code in a function and use setTimeout to call your function after 3 seconds. This is not a good solution because it may take longer than 3 seco

[2019-02-10 04:48] danroth27 commented on #7430
_From @UrielMhezzek on Saturday, 09 February 2019 21:04:26_

Thank you. This help. I hope blazor fix the problem.

[2019-02-10 04:51] mkArtakMSFT commented on #7182
@danroth27, FYI regarding the milestone and priority assignment.

[2019-02-10 05:03] papyr commented on #3265
should this not be updated to ASP 3.0

[2019-02-10 05:55] kishanAnem commented on #4831
I should say thanks @dougbu for your help and mentoring.

[2019-02-10 06:27] dehghani-mehdi commented on #6513
@blowdart Thanks for the point, obviously I didn't look at hole project (_Identity I mean_) and I'm not pro as you are, as far as I know it can be happened but maybe I'm wrong, so you saying, it won't be supported by Identity?

[2019-02-10 11:09] Andrzej-W commented on #7430
@UrielMhezzek when your JS code executes the DOM for your `/test` page does not exists yet. In `key.js` file create a JS function with all your code and then call it from Blazor (C# code) using JS interoperability. Probably the best place is `OnAfterRenderAsync` for `test` component.
https://docs.microsoft.com/en-us/aspnet/core/razor-components/components?view=aspnetcore-3.0#lifecycle-methods
You

[2019-02-10 13:19] hnviradiya commented on #7348
Side Note: OnRedirectToIdentityProvider is firing.

[2019-02-10 15:11] shessane commented on #5707
Same issue here. It occurs when using the Consumes attribute.

[code]

Trace logs :
[code]

Is it a bug or a breaking change from 2.1 ?

[2019-02-10 15:58] yosigolan commented on #6758
hey @davidfowl .
please find the test app that demonstrate the issue here: https://github.com/yosigolan/ForwardedHeadersMiddlewareBug

the app is also loaded on google app flex engine and you can try accessing it like this:
http://seevoov-clound-infra.appspot.com/api/GetIp

let me know if you need anything else.

Yosi

[2019-02-10 17:15] itsUndefined opened #7434 "No setter on Result property of MessageReceivedContext for JwtBearer Authentication Middleware"
### Describe the bug
No setter on Result property of MessageReceivedContext for MessageReceived Event in JwtBearer Authentication. This makes it impossible to set a Result inside the **OnMessageReceived** Event in order to make the middleware exit without further processing.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core: 2.2.0
2. Run this code:
[code]
4.

[2019-02-10 17:32] itsUndefined commented on #7434
My mistake. ResultContext has setter functions. I got mislead by the comments of those setters stating:
**Indicates** instead of **Sets**

[2019-02-10 17:32] #7434 closed

[2019-02-10 17:43] guylando opened #7436 "Browser response caching (because of wrong cache-control http header) on 302 response causes TOO_MANY_REDIRECTS when pressing browser back button after login"
The net core web server is configured to do the following:
https://domain/ redirects 302 redirect to https://domain/Home/Welcome when user is logged off.
https://domain/ redirects 302 redirect to https://domain/Home/User when user is logged on.
https://domain/Home/Welcome redirects 302 redirect to https://domain/ if user is logged on.

If we do the following:
1. Logout(ajax) and get redirected (by

[2019-02-10 18:08] guylando commented on #7436
Solved by adding [ResponseCache(Location = ResponseCacheLocation.None, NoStore = true)] to the Index action which handles the https://domain/ url.
Is there a way to automatically apply no-store to all 302 redirects instead of needing to add this attribute to all places? The attribute will also not be a good solution if the action can return different types of results and not only redirect.

[2019-02-10 18:11] rynowak commented on #4057
All of our partner work is done. The only remaining work is to convert our templates to use `.razor`

[2019-02-10 18:12] rynowak commented on #4211
We haven't had anyone ask for this. Moving out to backlog.

[2019-02-10 18:48] #7204 closed

[2019-02-10 21:00] rynowak commented on #7241
Hi @mrlife  - This an existing long-time behavior of MVC/Routing (back to version 1 of the original ASP.NET MVC).

There's some discussion about it here: https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-2.2#url-generation - but the general gist is that routing always attempts to re-use route values from the current request when you're linking to the same action/

[2019-02-10 21:00] #7241 closed

[2019-02-10 21:06] rynowak commented on #6426
Hi @jimerino

The way to specify an area is by passing it in the route values.

[code]
You can find documentation about this here: https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-2.2#areas

---

Since I think I answered the question I'm going to close this. If this isn't what you need please open a new issue and provide more information about what's not working

[2019-02-10 21:06] #6426 closed

[2019-02-10 21:18] EricPalmer22 opened #7438 "3.0.0 preview 2 Razor Components: "InputFormatters" is empty when making Web API POST"
With a new "Razor Components" project using .NET Core 3.0.0 preview 2, I am trying to make an Http call to a controller on the server to save game data to a SQLite database. But, any POST call that I to do to a controller method with a [FromBody] parameter attribute, I get the following error: `System.InvalidOperationException: 'Microsoft.AspNetCore.Mvc.MvcOptions.InputFormatters' must not be empt

[2019-02-10 21:27] jannikbuschke opened #7439 "ModelState json serialization should be camel cased"
### Describe the bug

When returning a BadRequest(ModelState) or using automatic model validation, the json serialized response is PascalCased.
I.e.
`
{ Email: ["The Email field is not a valid e-mail address."] }
`

As discussed in the MVC project https://github.com/aspnet/Mvc/issues/5590 and well explained in [this](https://github.com/aspnet/Mvc/issues/5590#issuecomment-265699652) comment this is

[2019-02-10 21:56] chrarnoldus commented on #4364
When using hosting model in-process VS inserts the following:

[code]

which looks especially problematic to me, because if you deploy this web.config I suspect the app will run in Development mode.

[2019-02-10 22:40] Eilon commented on #7436
@guylando can you share a repro for this problem? It will be difficult for us to diagnose unless we can get a better idea of what code you have.

[2019-02-10 23:20] pranavkm commented on #7421
Support for the `ResponseCacheAttribute` with Razor Pages was added in 2.1.0 (See https://github.com/aspnet/Mvc/issues/6437). Given that 2.0 went out of support late last year (see https://blogs.msdn.microsoft.com/dotnet/2018/06/20/net-core-2-0-will-reach-end-of-life-on-september-1-2018), I'd recommend upgrading your application to 2.1

[2019-02-10 23:20] #7421 closed

[2019-02-10 23:47] pranavkm commented on #7438
We're in the midst of adding JSON formatters based on System.Text.Json. In the meanwhile you have to manually add back the JSON.NET based ones to your application.

1. Add a PackageReference to `Microsoft.AspNetCore.Mvc.NewtonsoftJson` - https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.NewtonsoftJson/3.0.0-preview-19075-0444
2. Change your `ConfigureServices`, `services.AddMvc().AddNewtonso

[2019-02-11 00:04] EricPalmer22 commented on #7438
There it is, thank you!

[2019-02-11 00:04] #7438 closed

[2019-02-11 00:15] Tratcher commented on #7436
UseResponseCaching is likely unrelated here, it's server side caching, it should have no effect on client caching. Try your repro without it.

[2019-02-11 00:26] rynowak commented on #7387
@AArnott - whatever we ship for Razor Components needs to be *in the box* and have the same support policy as the rest of ASP.NET Core. We're planning to do a reader/writer for this since that meets our requirements to use it.

[2019-02-11 00:30] davidfowl commented on #7387
After spending some time helping @AArnott refactor MessagePackCSharp, it might make sense to grab and MessagePackWriter and MessagePackReader he's currently writing and bake this into RazorComponents.  It's basically a better version of @pranavkm 's prototype 😄

[2019-02-11 02:23] dpedrelli commented on #5824
@ajcvickers Has this been resolved?

Thanks.

[2019-02-11 02:47] mkArtakMSFT commented on #7427
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-02-11 02:47] mkArtakMSFT commented on #7427
/cc @NTaylorMullen

[2019-02-11 02:53] mkArtakMSFT commented on #7419
@SteveSandersonMS, is this fixed already?

[2019-02-11 02:57] mkArtakMSFT commented on #7418
Thanks for finding and submitting a PR, @Lupusa87.
@javiercn, can you please review the referenced PR? Thanks!

[2019-02-11 03:07] mkArtakMSFT commented on #7416
Thanks for contacting us, @enetstudio.
Sure, we'll fix it.

[2019-02-11 03:08] jahmai opened #7442 "Microsoft.AspNetCore.Mvc.ViewFeatures.ViewDataDictionaryControllerPropertyActivator doesn't implement GetActivatorDelegate"
### Describe the bug
A clear and concise description of what the bug is.

System.TypeLoadException: Method 'GetActivatorDelegate' in type 'Microsoft.AspNetCore.Mvc.ViewFeatures.ViewDataDictionaryControllerPropertyActivator' from assembly 'Microsoft.AspNetCore.Mvc.ViewFeatures, Version=1.1.8.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' does not have an implementation.

### To Reproduce
Step

[2019-02-11 03:21] mkArtakMSFT commented on #7411
Thanks for contacting us, @kanadaj.
This is not something we plan to add support for in the near future.

[2019-02-11 03:21] #7411 closed

[2019-02-11 03:59] mikaelm12 commented on #7423
The first exception is expected from the `MapHubFindsMultipleAuthAttributesOnDoubleAuthHub ` test making sure people don't create hubs with method overloads like this https://github.com/aspnet/AspNetCore/blob/3cd5054eb5d8851b25881cd05cccb931aaa022e6/src/SignalR/server/SignalR/test/MapSignalRTests.cs#L104-L113

The next is from testing type casting errors https://github.com/aspnet/AspNetCore/blob/b

[2019-02-11 04:50] mkArtakMSFT commented on #7409
Thanks for contacting us, @andez2000.

[2019-02-11 04:54] mkArtakMSFT commented on #7396
Thanks for contacting us, @matthewDDennis.
@rynowak, can you please answer this question? Thanks!

[2019-02-11 04:55] mkArtakMSFT commented on #7388
@ryanbrandenburg, can you please look into this? Thanks!

[2019-02-11 04:57] mkArtakMSFT commented on #7386
Thanks for contacting us, @blahblehblah.
@ryanbrandenburg, can you please look into this? Thanks!

[2019-02-11 05:02] mkArtakMSFT commented on #7273
Thanks for contacting us, @frank-borkin.
@dougbu, do we have an existing mechanism to achieve this?

[2019-02-11 05:03] pranavkm commented on #7442
The method was added as part of the 2.0 release. Could you link your project file (csproj \ project.json)? It's likely that you're mixing 2.0 and 1.1 versions of MVC

[2019-02-11 05:03] los93sol commented on #4370
Was System.Tasks.Channels missed in preview2?  I'm getting the following exception when trying to start a HubConnection with .net signalr client....

System.IO.FileLoadException: Could not load file or assembly 'System.Threading.Channels, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The located assembly's manifest definition does not match the assembly reference. (Exception

[2019-02-11 05:06] los93sol commented on #4370
Additional info....

I have an Asp.Net Core templated project that is self contained on linux-arm and it works fine, the one that is problematic is built using the .Net Core console app template, self contained targetting linux-arm.  Both apps contain System.Threading.Channels, but it is clearly a different version of it based on the size of the file

[2019-02-11 05:08] los93sol commented on #4370
If I manually replace the System.Threading.Channels dll with the one from the Asp.Net Core project then I end up with a FileNotFoundException on System.IO.Pipelines

[2019-02-11 05:12] dougbu commented on #7273
When using JSON, use Json.NET attributes e.g. `[JsonProperty(Required = Required.Always)]`. If you were not using `[FromBody]`, our `[BindRequired]` attribute would help in this scenario.

[2019-02-11 06:48] davidfowl opened #7448 "StreamPipeReader should return the buffered data even after the Stream is done"
### Describe the bug
The StreamPipeReader should return the buffered data from the stream even after the underlying Stream has been drained.

### To Reproduce

[code]

The above code tries to buffer all of the pipe's contents middleware before the post body is processed.

### Expected behavior
I expected to get the entire post body in /api/values, instead I get a 0 byte read.

### Screenshots
![im

[2019-02-11 06:48] davidfowl commented on #7448
cc @jkotalik

[2019-02-11 06:58] JamesNK opened #7449 "TestServer HttpContext.Abort does nothing"
Hosting a website with TestHost and calling `HttpContext.Abort()` inside a request does not set `HttpContext.RequestAborted`.

[2019-02-11 07:33] hannespreishuber opened #7450 "Cannot find compilation library location for package 'Microsoft.NETCore.App'"
Deploying a ASP.NET Core 2.2 Project to IIS 10  with Visual Studio 2017 (an 2019) via FTP
-works: No Pages Folder on Webs server

Adding a  in visula Studio Project a Razor Page without a model class - deploy just this page

open page in Browser Error
--Cannot find compilation library location for package 'Microsoft.NETCore.App'

Startup.cs contains
   services.AddMvc().AddRazorOptions(options =>

[2019-02-11 07:56] RemiBou commented on #6726
I have a full repro [here]( https://github.com/RemiBou/Toss.Blazor/tree/raven-db) type "docker build -t toss .", I'll try to fix it by manually installing net core 2

[2019-02-11 08:10] frank-borkin commented on #7273
@dougbu Am I right that [JsonProperty(Required = Required.Always)] would simply ensure that it was set, but not validate that it's true || false ? Having something which casts any other or no type to true or false is not desired.

[2019-02-11 08:38] sven5 opened #7451 "After update to Blazor 0.8 library _content missing"
### Describe the bug
In Blazor library it's impossible to load client side files from "magical" folder _content after update to .NET Core 3.0 Preview 2 and Blazor 0.8.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.0-preview-19705-0444'
2. Update Blazor library to use the following packages:

` <ItemGroup>
<PackageReference Include="Microsoft.AspNetCo

[2019-02-11 08:51] niltor commented on #5014
When can we solve this issue?
vs2019 preview2 has the same issue

[2019-02-11 09:50] Edward-Zhou opened #7453 "Unable to resolve service for type 'Microsoft.Extensions.Logging.ILoggerFactory' in .net Core 3.0"
### Describe the bug
Got error  Unable to resolve service for type 'Microsoft.Extensions.Logging.ILoggerFactory' when using `public Startup(IConfiguration configuration, ILoggerFactory loggerFactory)`

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '.Net Core SDK 3.0.100-preview2' and VS 2019 Preview
2. Create a new Asp.Net Core MVC Template with .net core

[2019-02-11 12:23] andras-ferencz commented on #5464
For anyone who gets blocked by the lack of serverside rendering, this is a class I just wrote to resolve the issue, which was preventing me from being crawled by AdSense.

I have confirmed that it works (using the Google Search Console) and does add some, but not a significant amount overhead to crawling response times. It might be better to do something similar but prerender all of the content an

[2019-02-11 12:28] shessane commented on #5707
It seem's to be a regression. The correction is already merged (#6645), and should be part of the 2.2.2 release.

[2019-02-11 12:29] simonare opened #7455 "Strange behavior during MVC Model Binding"
### Describe the bug
Wrong object is binded to controller action parameter when `dynamic` and `object` types are used.

### To Reproduce
Steps to reproduce the behavior:

Using Asp.Net Core 2.2

[code]

Results with

        public async Task<IActionResult> PutConstraints([FromRoute]Guid pId, [FromBody] dynamic[] constraints)
        {
              ....
        }

![image](https://user-images.git

[2019-02-11 12:32] uwefms opened #7456 "German Umlaute not displayed in <a> Tag when using variable at href in Razor Components"
### Describe the bug
When using a var at href instead of a literal string the umlaute (äüöß) in the text to show is not displayed correctly

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core
     3.0.100-preview-010184 [C:\Program Files\dotnet\sdk] in Visual Studio 2019 preview 2.2
2. Run this code
   - in VS create a Blazor or RC project

   - in MainLayout.c

[2019-02-11 13:08] javiercn commented on #5464
Prerrendering is supported since preview2.

See https://blogs.msdn.microsoft.com/webdev/2019/01/29/aspnet-core-3-preview-2/

The part Integration with MVC Views and Razor Pages

[2019-02-11 13:24] sven5 commented on #7456
A possible solution would be to encapsulate your link text with `MarkupString`

Example
`<a href=@cLink target="_blank" class="ml-md-auto">@(new MarkupString("&auml;bout"))</a>`

[2019-02-11 13:39] poke opened #7457 "Model validation takes capitalization of property name from route parameter"
When using model validation on a route that also has a router parameter with the same name as a validated property inside the model, a model validation error will copy the capitalization from the route parameter. So the validation error appears to be for the route parameter instead of the model property.

[code]

When running the above action in the browser by accessing e.g. `http://localhost:5000

[2019-02-11 13:53] uwefms commented on #7456
@sven5
Thank you - works
    regards
       Uwe

[2019-02-11 14:20] ritchxu commented on #7400
We used `IsHosted` to determine if the codes are running inside IIS. And we use `SiteName` to find a specific site's logFile directory so we can clean it up.

[2019-02-11 14:36] Horizont77 opened #7458 "Breakpoint not working with .NET Core 2.2, Angular, TypeScript with Windows Auth."
When I use Angular + .Net Core 2.2 with Windows Auth, Angular Debugging does not work.

[code]

do you have any solution?

I also tested in .Net Core 3.0 Preview 2 and there is the same problem.

[2019-02-11 14:36] endeffects commented on #7213
I'm listening for SignalR Notifications in the Background.

[2019-02-11 14:43] endeffects commented on #4457
Will there be a fix?

[2019-02-11 14:59] Andrey-Kovtun commented on #5144
Thank you @FernandoNunes!
Faced the same issue in my current project. Your shared solution was very useful. It's simple and works.

[2019-02-11 15:15] khellang commented on #7400
`SiteName` alternative: `IHostingEnvironment.ApplicationName`, or if you just want the directory, you could probably use `IHostingEnvironment.ContentRootPath`.

`IsHosted` alternative: You could just try to pull an IIS variable; `HttpContext.GetIISServerVariable("SERVER_SOFTWARE")`, but it's kinda ugly.

[2019-02-11 15:29] dougbu commented on #7273
@frank-borkin your question was about missing Boolean properties. But, I'm pretty sure Json.NET fails de-serialization when a value cannot be converted. @JamesNK can you confirm?

[2019-02-11 15:40] davidfowl commented on #7400
Now that we have in proc IIS we could add an API equivalent for IsHosted. Though I’d still like to know what things you currently have guarded behind that API?

[2019-02-11 15:47] davidfowl commented on #7213
We should figure out if we can refactor some of the abstractions assemblies to lessen the impact. It would be unfortunate to introduce an IHostedService light into Blazor apps specifically. One solution might be to move the IHostedService definition to another assembly (but I’m just brainstorming here)

[2019-02-11 15:56] jkotalik commented on #7429
I'll look into it after #7424 is merged.

[2019-02-11 15:57] #4351 closed

[2019-02-11 15:57] mkArtakMSFT commented on #7442
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-02-11 15:57] #7442 closed

[2019-02-11 16:01] #7102 closed

[2019-02-11 16:01] #7329 closed

[2019-02-11 16:02] #7296 closed

[2019-02-11 16:05] javiercn commented on #7213
Another option is to setup and tear down the background service on the root component

[2019-02-11 16:07] poke opened #7460 "Source code for Microsoft.AspNet.WebApi.Client"
[`Microsoft.AspNet.WebApi.Client`](https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client/) is a dependency of ASP.NET Core and also included in the meta package. But I haven’t been able to find any source for this.

The NuGet package information lists the [AspNetWebStack repo](https://github.com/aspnet/AspNetWebStack) as its source repository but the WebApi.Client does not appear to be in

[2019-02-11 16:27] poke commented on #7460
Okay, do I get this right that `Microsoft.AspNet.WebApi.Client` is just a terrible package name for [`System.Net.Http.Formatting`](https://github.com/aspnet/AspNetWebStack/tree/master/src/System.Net.Http.Formatting)?

[2019-02-11 16:30] andras-ferencz commented on #5464
If I'm not mistaken, this can't presently be used in a middle-ware layer to serve crawlers static pages, correct?

[2019-02-11 16:37] natemcmaster commented on #7388
Side note: it might be worth updating the templating tests to override the NUGET_PACKAGES env variable to a temp folder so that when you run tests, restore does not pollute your default package cache with 3.0.0-preview-t000 packages.

[2019-02-11 16:43] mkArtakMSFT commented on #7439
Thanks for contacting us, @jannikbuschke.
In 3.0 (still in preview) we've added an additional configuration option to control casing for dictionary keys.
Here is an example showing how to control it:

[code]

[2019-02-11 16:43] #7439 closed

[2019-02-11 16:44] SteveSandersonMS commented on #7419
@mkArtakMSFT We fixed it in 0.7.0, but then we had to revert the fix just prior to the 0.7.0 release because it caused a bad regression elsewhere. We don't yet have a design for what the replacement fix should be. It should remain on the backlog, but it's not at the top of the priority list in my opinion.

[2019-02-11 16:48] NTaylorMullen commented on #7427
Definitely a StackOverflow question.

[2019-02-11 16:48] #7427 closed

[2019-02-11 16:51] SteveSandersonMS commented on #7268
I agree with the `needs-design` label!

It's not clear to me what the right design for this would be, or even if it's possible at all. If the outer component obtained its generic type through inference, then the generated code doesn't know about it at all prior to compilation. So I'm not clear that it's possible to pass it to nested components.

@rynowak Am I missing any obvious possible solution?

[2019-02-11 16:54] Tratcher commented on #6691
Duplicate of https://github.com/aspnet/AspNetCore-Internal/issues/1786

[2019-02-11 16:54] #6691 closed

[2019-02-11 16:58] ritchxu commented on #7400
Did a quick scan and found the following things behind the `IsHosted` API, although only the "Cleanup Logs" case matters for our migrating efforts:

1. Invoke `HostingEnvironment.QueueBackgroundWorkItem` API
2. * Cleanup Logs (goes hands-in-hands with `SiteName`)
3. Retrieve ApplicationVirtualPath (also matters, but correct me if I'm wrong, I believe we have equivalent for this?)
4. Look up settin

[2019-02-11 17:06] #7416 closed

[2019-02-11 17:07] muratg commented on #4370
@mikaelm12 was this verified for P2?

[2019-02-11 17:12] staticdev commented on #6111
I have 2 WebApi projects, on different applications in IIS. Installed the hosting bundle 2.2.1 and the first one is running ok. Then, when I publish the second one I get on the Event Viewer:

Failed to start application '/LM/W3SVC/4/ROOT/MySecondWs', ErrorCode '0x80004005'.
Only one inprocess application is allowed per IIS application pool. Please assign the application '/LM/W3SVC/4/ROOT/MySecondW

[2019-02-11 17:17] pakrym commented on #6111
@staticdev you need to assign a separate application pool to every InProcess application.

[2019-02-11 17:18] davidfowl commented on #7400
Not required anymore. We don't have an equivalent in the new world see https://github.com/aspnet/Extensions/issues/805.

Seems like you can use ContentRootPath for that.

There's no global equivalent in the new world. What are you using it for?

You would just use the new IConfiguration API instead.

I dunno what this is but it sounds like IsHosted is required.

[2019-02-11 17:18] staticdev commented on #6111
I see.. but why is that?

I always had many applications running in the same application pool.

[2019-02-11 17:21] muratg commented on #7458
Where do you set the breakpoint on?

[2019-02-11 17:22] muratg commented on #7460
cc @danroth27 @Eilon

[2019-02-11 17:22] pakrym commented on #6111
Because InProcess hosting mode starts CLR instance inside application pool process and you can't have more then one CLR per process.

[2019-02-11 17:27] danroth27 commented on #7460
Yup, that's correct. The code is in the https://github.com/aspnet/aspnetwebstack repo under System.Net.Http.Formatting.

[2019-02-11 17:27] #7460 closed

[2019-02-11 17:29] davidfowl commented on #7460
https://github.com/aspnet/AspNetWebStack/tree/master/src/System.Net.Http.Formatting

[2019-02-11 17:31] BillHiebert commented on #4364
@Chrarnoldus - for IIS Express it should only add those if there are already environment variables in that section - which typically only occurs when switching between full IIS and IIS Express profiles. What happens if you delete those, do they come back? Which version of Visual Studio are you running?

[2019-02-11 17:35] staticdev commented on #6111
@pakrym so what is the recommended best practice in that case? I have many applications on IIS and I share the application pool.

Should I use OutOfProcess or start creating many Application Pools?

[2019-02-11 17:42] pakrym commented on #6111
@shirhatti what should we recommend here?

[2019-02-11 17:45] NTaylorMullen commented on #5078
https://github.com/aspnet/AspNetCore-Tooling/commit/27e1d8c0113034b85d7f8443403d9737d21c1c82

[2019-02-11 17:45] #5078 closed

[2019-02-11 17:54] BrennanConroy commented on #6768
Should be fixed via https://github.com/aspnet/AspNetCore/pull/7173

[2019-02-11 17:54] #6768 closed

[2019-02-11 17:56] shirhatti commented on #6111
@staticdev The right answer is to measure what works for you. The guidance we've maintained since IIS 7 is that 1 Web Site per application pool unless you need higher density. In the case of ASP.NET Core, it isn't that cut and dry. Based on your workload type, the higher density benefit you get from in-proc might even offset creating additional app pools.

As for your example, you can run sub-appl

[2019-02-11 17:56] rynowak commented on #7213
The big ones to address - banish FileProviders into the nether realm - it's not useful in our context and is just bloat. Get rid of the dependency of Configuration -> Primitives.

[2019-02-11 18:02] staticdev commented on #6111
@shirhatti how I can I do that? Using different Application Pools in the same site?

[2019-02-11 18:10] danroth27 opened #7463 "Long Running Data-Get blockted UI"
_From @UrielMhezzek on Sunday, 10 February 2019 13:52:11_

Info about the project:
* Blazor Server-side Project

I tried with simulate long running to get Data from Database with the Forecast Example. If I switch to the side, then blazor hangs for time. Can this be avoided?

[code]

_Copied from original issue: aspnet/Blazor#1786_

[2019-02-11 18:10] danroth27 commented on #7463
_From @xclud on Sunday, 10 February 2019 14:03:53_

`GetForecastAsync` and `BusyWait` must be `async`.

[code]

BTW, Please do not post here. This repository is for Blazor infrastructure. Please read this: https://github.com/aspnet/Blazor/blob/master/README.md

[2019-02-11 18:14] chrarnoldus commented on #4364
The environment variables come back after I delete them. I'm using VS 15.9.6

[2019-02-11 18:16] mkArtakMSFT commented on #7457
Thanks for contacting us, @poke.
@pranavkm, can you please look into this? Thanks!

[2019-02-11 18:22] Horizont77 commented on #7458
Hi Murat,

i'll send you a screenshot where i did it.

(this breakpoint works very well with "anonymousAuthentication:true", "windowAuthentication:false" ). see picture.

![angular_error](https://user-images.githubusercontent.com/12067363/52584054-6b4d1600-2e31-11e9-913a-93ef76ee1302.PNG)

if i do it again Win. Auth set, then only works c# codes. if you want, i can send you the project.

Thanks.

[2019-02-11 18:29] Horizont77 commented on #7458
I have just tested with .Net Core. 2.1. it works without problem

[2019-02-11 18:38] #7325 closed

[2019-02-11 18:50] #7324 closed

[2019-02-11 18:50] muratg commented on #7458
Did you try a `console.log` to see if that codepath is even executed? Sounds like an application behavior difference (between your different auth codepaths) to me.

[2019-02-11 18:51] davidfowl commented on #7448
I'll take this one.

[2019-02-11 18:58] mkArtakMSFT commented on #7456
Thanks for contacting us, @uwefms.
@SteveSandersonMS, do we plan to handle this or the `MarkupString` approach suggested by @sven5 will be the way to go?

[2019-02-11 19:02] SteveSandersonMS commented on #7456
Thanks for reporting this!

This is a known issue in the components compiler, which we plan to fix. Your existing markup looks fine and will work as expected once the issue is fixed. Long term, there won't be a need to use `MarkupString` for this case, though it is a good workaround in the short term.

Closing as duplicate of https://github.com/aspnet/AspNetCore/issues/7147

[2019-02-11 19:02] #7456 closed

[2019-02-11 19:12] #7423 closed

[2019-02-11 19:12] Horizont77 commented on #7458
I did not try it and didn't anything changed.

just;
(Standart settings)
windowsAuthentication": false,
"anonymousAuthentication": true

to

"windowsAuthentication": true,
"anonymousAuthentication": false

Thats all..

Everything works fine if I use standard settings.

[2019-02-11 19:15] bradygaster commented on #7385
Would you have a stack trace or any deeper logging available, @MagicAndre1981 ? this would help us troubleshoot

[2019-02-11 19:22] bradygaster commented on #5395
Closing as we'll track doc issues on docs repo. [Here](https://github.com/aspnet/Docs/issues/10887) is the issue we'll use to track 3.0 doc issues for SignalR.

[2019-02-11 19:22] #5395 closed

[2019-02-11 19:23] javiercn opened #7464 "[Components][Tooling] Suppport <!DOCTYPE> declarations"
Right now the Razor compiler produces content for `<!DOCTYPE html>`. It should produce markup instead so that its not incorrectly encoded when there is a top-level component that acts as the document.

[2019-02-11 19:27] muratg commented on #7458
Well, can you try it? Just add a `console.log` line at the place you're trying to debug. And see if that code path is executed. The only thing I can think of (with the information you provided) is that your TypeScript method is NOT executed when you make the change. `launchSettings.json` changes shouldn't be able to impact TypeScript/JavaScript _debugging_.

[2019-02-11 19:39] Horizont77 commented on #7458
yes. i tried and "console.log" did not executed.

[2019-02-11 19:41] davidfowl commented on #7213
If we could avoid breaking too much that would be best. Is it the primitives reference causing most of the problems?

[2019-02-11 19:48] muratg commented on #7458
OK, so your app code is doing things differently. I'm guessing you're going through an "authenticated" path when "anonymousAuthentication" is set, and through an "unauthenticated" code path when "windowsAuthentication" is set.

[2019-02-11 19:48] mrpmorris commented on #7363
@danroth27 You can close this.
It was resolved by uninstalling VS2019, and then re-installing VS2019 and Blazor.

[2019-02-11 19:48] #7363 closed

[2019-02-11 19:48] Horizont77 commented on #7458
I found the others discussing here. that's almost a similar problem.

https://developercommunity.visualstudio.com/content/problem/348287/typescript-debugging-doesnt-work-within-an-angular.html

[2019-02-11 19:51] muratg commented on #7458
No, that looks completely unrelated. In your case, if the code path is not executed, the breakpoint of course wouldn't be hit.

[2019-02-11 19:53] williamwilson opened #7465 "Update HttpConnection (ts) to return a rejected promise rather than throwing (synchronously) when disconnected"
### Is your feature request related to a problem? Please describe.
The HttpConnection.send method throws an exception if the connection state is not Connected.  The method returns a Promise<void> however, so the synchronous exception is unexpected and leads to awkward code like:
[code]
note: Normally the consumer would not be using the HttpConnection directly, but rather a HubConnection.  The code

[2019-02-11 19:54] tezine commented on #7124
In my case, Console.WriteLine simply doesn't write anything. I can hit a breakpoint while debugging razor components, but nothing is displayed in chrome console.

[2019-02-11 19:58] MagicAndre1981 commented on #7385
Here it is:

[code]

[2019-02-11 19:59] danroth27 commented on #7124
@tezine  Console.WriteLine will only write to the browser console when you're running client-side in the browser. For a Razor Components app Console.WriteLine will write to the console on the server.

[2019-02-11 20:00] VidyaKukke opened #7466 "HttpClient.SendAsync throwing event.System.InvalidCastException: Unable to cast object of type '<>f__AnonymousType0`1[System.Net.Http.HttpRequestMessage]' to type '<>f__AnonymousType1`3[System.Net.Http.HttpRequestMessage,System.Guid,System.Int64]'"
Problem:
We are seeing httpClient.SendAsync throw the below exception some times. Capturing the call stack below as-is.

[code]

Any idea what could be causing this?

[2019-02-11 20:02] poke commented on #7460
Thanks for the clarification everyone!

Is there a reason why this cannot be properly delivered through the [`System.Net.Http.Formatting` NuGet package](https://www.nuget.org/packages/System.Net.Http.Formatting)? That package is unlisted and says that’s it’s just legacy and the `WebApi.Client` package should be used instead now—but to me, it actually seems like the `WebApi.Client` package is the l

[2019-02-11 20:11] mkArtakMSFT commented on #7464
@pranavkm, can you please handle this?

[2019-02-11 20:12] mkArtakMSFT commented on #7464
@javiercn, is this blocking for pre-rendering? If not, just move this to `preview4` please.

[2019-02-11 20:14] mkArtakMSFT commented on #7463
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-02-11 20:14] #7463 closed

[2019-02-11 20:21] mkArtakMSFT commented on #7455
Thanks for contacting us, @simonare.
Can you please provide a more comprehensive example? The JSON you've shared above doesn't map with the screenshot above so it's not clear really how you envision this to work.

[2019-02-11 20:24] mkArtakMSFT commented on #7451
Thanks for contacting us, @sven5.
We don't yet support content files in Razor Components. This is something on our backlog and we plan to address it in the future: https://github.com/aspnet/aspnetcore/issues/6349

[2019-02-11 20:24] #7451 closed

[2019-02-11 20:27] mkArtakMSFT commented on #7450
Thanks for contacting us, @hannespreishuber.
@pranavkm, can you please look into this? Thanks!

[2019-02-11 20:30] rynowak commented on #7213
Yes.

Another way to think of this might be to provide a sample of how to make a "generic host Blazor app". I'm still pretty concerned even if we get this down to like 50kb and include it on the default path.

[2019-02-11 20:30] mkArtakMSFT commented on #7430
Thanks @Andrzej-W for answering.

[2019-02-11 20:36] mkArtakMSFT commented on #7419
Thanks @SteveSandersonMS. Can you please dupe this one with that one you reference and close this issue?

[2019-02-11 20:37] mkArtakMSFT commented on #7419
@SteveSandersonMS, I assume you meant `0.8.0` there, did you?

[2019-02-11 20:37] davidfowl commented on #7213
OK lets at least try to work on it. I know you spent some time here but we have more time in 3.0.

[2019-02-11 20:40] mkArtakMSFT commented on #7396
Seems related: https://github.com/aspnet/AspNetCore/issues/5496

[2019-02-11 20:46] mkArtakMSFT commented on #7396
@matthewDDennis, you're right about scoped services to use resources throughout the lifetime of the connection, so it's important to be mindful about the usage of those resources.
Also, we plan to implement a mechanism to evict idle connections so resources aren't wasted. We track that work as part of #6358.

[2019-02-11 20:46] #7396 closed

[2019-02-11 20:47] vertonghenb commented on #7396
Related: https://github.com/aspnet/Blazor.Docs/issues/400
In some cases `Scoped` is really wanted, for example to keep `AppState` objects to hold the state of the UI for the entire scope of the connection. However for EF etc, I wouldn't advise to use a `Scoped` `DbContext` but rather use a `transient` one.

[2019-02-11 20:48] mkArtakMSFT commented on #7381
Thanks for contacting us, @lohithgn. We're closing this issue as a dupe of https://github.com/aspnet/Docs/issues/10825

[2019-02-11 20:48] #7381 closed

[2019-02-11 20:54] mkArtakMSFT commented on #7360
Thanks for your feedback, @EdCharbeneau.
We're closing this issue as the behavior discussed is by design. The UserSecrets management is available to Server projects only. If you'd like to read those secrets at runtime from the .App project, you'll have to take a dependency on the `IConfiguration` from the DI and read the necessary values.

[2019-02-11 20:54] #7360 closed

[2019-02-11 20:56] mkArtakMSFT commented on #7344
Thanks for contacting us, @EarthlingRich.
This is not something we plan to do in the near future as there was not much interest from the community.

[2019-02-11 20:56] #7344 closed

[2019-02-11 21:16] danroth27 commented on #7460
The https://www.nuget.org/packages/Microsoft.AspNet.WebApi.Client/ package is not legacy. The naming of the package was deliberate so that it would be easier to find for folks looking for something to help with client scenarios.

[2019-02-11 21:35] pranavkm commented on #7464
What does that mean?

[2019-02-11 21:41] halter73 commented on #6691
This might be related to https://github.com/aspnet/AspNetCore/issues/4703

[2019-02-11 21:48] pranavkm commented on #7457
Lookups in `ModelStateDictionary` as with most dictionary types in MVC are case insensitive. Validation is performed for the `id` argument first simply because it appears earlier than the other parameter, and results in creating an entry with lowercase `id`. I guess namespacing the second parameter using `model.Id` might be a better way to distinguish between the two entries rather than relying on

[2019-02-11 21:50] javiercn commented on #7464
@mkartakmsft depends on what approach we decide to take.

[2019-02-11 21:50] javiercn commented on #7464
@pranavkm It produces builder.AddContent instead of builder.AddMarkup

[2019-02-11 21:58] ritchxu commented on #7400
Our use behind `ApplicationVirtualPath` varies case by case, we probably should evaluate them case by case and see if `ContentRootPath` or `WebRootPath` applies

[2019-02-11 22:01] glennc commented on #7285
Yes, it's been something we intended to remove for a while but we've never done.

[2019-02-11 22:01] ajcvickers commented on #5824
@dpedrelli Nope, not yet.

[2019-02-11 22:26] zyofeng commented on #5786
One problem I am having is for a non-persistent cookie, according to Microsoft documentation, ASPNET Core does not recognize ExpireTimeSpan setting, so if I want to have a non-persistent cookie with a sliding expiration AND an expiry timespan of 4 hours currently there is no easy way to do it?

[2019-02-11 22:26] mikaelm12 opened #7469 "HubConnectionState in TS client should have public getter"
Currently users have to manually keep track of connection state as mentioned in this bug report https://github.com/aspnet/AspNetCore/issues/7465 As shown below, the method to get the state of the HubConnection in the TS client is private.  https://github.com/aspnet/AspNetCore/blob/abd2a61bdbebfcbc55021bd4212727f0fa95ce52/src/SignalR/clients/ts/signalr/src/HubConnection.ts#L94-L97

This though is a

[2019-02-11 22:42] BrennanConroy commented on #7469
I think the getter is public by default.

https://github.com/Microsoft/TypeScript/blob/master/doc/spec.md#16-classes

[2019-02-11 22:49] milosloub commented on #7158
Same problem here. I'm also using overload
`patch.ApplyTo(model, ModelState);`
and `if(!ModelState.IsValid)` leads to unexpected behavior

[2019-02-11 22:57] NTaylorMullen commented on #7326
dfddc4e8ff7dceceafd202ffdd9f5b046424e2df

[2019-02-11 22:57] #7326 closed

[2019-02-11 23:04] vankampenp commented on #6415
I think this is related, see the log below. Strangely enough, I get this error intermittently, but always on the same POST method. That method is simply updating something in the database.
This was not occuring on 2.1, but started with 2.2 (I am using in process hosting).

I have now implemented @JamesNK suggestion to use the older routing system:

[code]
(I think it should be AddMvc iso UseMvc)
I

[2019-02-11 23:14] danroth27 opened #7472 "Update display name for the Blazor VSIX to just be "Blazor""
The current display name for the Blazor VSIX is "ASP.NET Core Blazor Language Service". Besides being really long and cumbersome, the display name is also inaccurate now that the Razor Component tooling is shipping with VS2017. We should update the display name for the VSIX to just be "Blazor".

[2019-02-11 23:19] rynowak commented on #7472
Or how about just `Blazor Templates`

[2019-02-11 23:20] danroth27 commented on #7472
I prefer to keep it more generic so that we have the flexibility to put whatever Blazor stuff we want in there.

[2019-02-11 23:26] orney21d opened #7474 "Unregister LoggingHttpMessageHandlerBuilderFilter from IStartupFilter"
### I have implemented a Custom Logger Provider, this communicates with Rest service through **HttpClientFactory**. The fact is when I register my custom provider and put the Log level of "Information" the default implementation of "**LoggingHttpMessageHandlerBuilderFilter**" start trying to log for each request with the currently registered Logger provider (mine), and cause my logger uses another

[2019-02-11 23:27] #7322 closed

[2019-02-11 23:29] pranavkm commented on #7322
All of the above minus the obsolete `CompatibilityVersion` enum values are done as part of https://github.com/aspnet/AspNetCore/commit/88ae930fad4ddbc0a2c7ccaeb2154c39fe13ff6b

[2019-02-11 23:42] pakrym commented on #6415
@vankampenp It doesn't seem to be related. 0x80070040 is very different error code. Is request body large? Is it possible client goes away (or page is refreshed) while request is being sent?

[2019-02-11 23:55] rynowak commented on #5549
@SteveSandersonMS - this is done right?

[2019-02-11 23:58] #4212 closed

[2019-02-11 23:59] rynowak commented on #4212
This change in behaviour was fixed. There is no breaking change to speak of here.

[2019-02-12 00:18] wjk opened #7477 "Update HttpSys README"
When I went to the [HttpSys server sources](https://github.com/aspnet/AspNetCore/tree/master/src/Servers/HttpSys), I saw that the README file lists that the library has been archived and moved to the main AspNetCore repo. Of course, we are _in_ the main AspNetCore repo. This message made me confused for a moment because I thought that the HttpSys server has been deprecated, which would be annoying

[2019-02-12 00:21] tenderloin420 commented on #4364
I'm seeing the exact same problem as @chrarnoldus. I'm also using VS 15.9.6.

[2019-02-12 00:22] dougbu commented on #7457
Since `ModelState` lookups are case-insensitive, what problem are you seeing exactly @poke?

For example, are you iterating through the dictionary and performing a case-sensitive comparison? (That would violate the intended `ModelState` case-insensitive semantics.)

[2019-02-12 00:30] danroth27 commented on #7279
This issue was moved to aspnet/Docs#10891

[2019-02-12 00:30] #7279 closed

[2019-02-12 00:31] poke commented on #7457
In my particular situation, I return the model validation errors as `ProblemDetails`, so inside of my integration tests, I want to verify that that a certain model validation error was reported for an invalid property. I did that doing `Assert.True(errors.ContainsKey(nameof(MyModel.Id)))` where `errors` is a parsed `IDictionary<string, JToken>`.

The issue I had with this is that tests were failin

[2019-02-12 00:31] shishir28 opened #7479 "VerifyUserTokenAsync() failed with purpose: ResetPassword"
### Forgot/Reset Password fails in webfarm kind of scenario.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core  2.1
2. When a user try to reset the password I use code like following which is used  to send email to registered user
 var token = await UserManager.GeneratePasswordResetTokenAsync(user) ;
            return new ForgotPasswordOperationResult

[2019-02-12 00:42] davidfowl commented on #7390
This is something that @BillHiebert should look at not @NTaylorMullen

[2019-02-12 00:42] DamianEdwards commented on #7390
I'm pretty sure we don't support Edit and Continue in .NET Core projects.

[2019-02-12 00:54] Eilon commented on #7466
@rynowak / @pakrym - do you think this is an issue in MS.Ext.Logging, CoreFX, or somewhere else?

[2019-02-12 00:55] #7472 closed

[2019-02-12 01:03] pakrym opened #7482 "Make Mvc consistent with repository layout"
I started working on producing reference assemblies for projects in AspNetCore and Extensions that are required for .net core 3.0 targeting pack work.

The folder structure used by coreclr/corefx and now Extensions repo is the following:

[code]

With the current rules and Mvc project structure:

[code]

all ref projects end up in one location:

[code]

which is hardly desirable and just wrong.

W

[2019-02-12 01:03] pakrym opened #7481 "Add reference assembly source projects and consume them in targeting pack"
Blocked by https://github.com/aspnet/AspNetCore-Internal/issues/1808
Blocked by https://github.com/dotnet/arcade/issues/2028
Blocked by https://github.com/dotnet/arcade/issues/2031

[2019-02-12 01:14] pakrym commented on #7466
https://github.com/dotnet/corefx/issues/31322

[2019-02-12 01:15] natemcmaster commented on #7482
cc @ajaybhargavb

[2019-02-12 01:17] natemcmaster commented on #7482
This wasn't done in the first place when we did #4246 because @ajaybhargavb told me it was going to be difficult. There are apparently a bunch of tests which depend on the source code layout to function correctly. This is a general problem which needs to be addressed anyways in order to make tests work in Helix, so I would recommend prioritizing this work.

[2019-02-12 01:46] dougbu opened #7485 "Support breadth of legal C# identifiers in Razor"
The `CSharpIdentifier` class in aspnet/AspNetCore-Tooling supports a subset of the legal Unicode categories for C# identifiers -- something like 4 of 11 valid categories. Should update this class to support the gamut.

See https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.Language/CSharpIdentifier.cs

[2019-02-12 01:46] dougbu commented on #7485
@Eilon what is the correct label for issues in the AspNetCore-Tooling repo? That repo doesn't seem to have its own issue list and points here.

[2019-02-12 01:48] natemcmaster commented on #7073
Investigated this a little more. At least part of this is the way we run crossgen. The crossgen tool requires the original symbols in order to correctly re-generate symbols which match the native image. We don't have symbols for assemblies which are not produced in this assembly.

To fix this, we need to download symbols during the build for the shared framework so we can rewrite them with crossge

[2019-02-12 01:51] HaoK commented on #7398
Most likely due to https://github.com/dotnet/core-eng/issues/5204

[2019-02-12 02:01] dougbu commented on #7485
Nevermind. Use of `char.IsDigit(...)` and `char.IsLetter(...)` covers all of the "missing" categories. There's also a separate special case for `UnicodeCategory.LetterNumber` in `CSharpIdentifier` 😃

[2019-02-12 02:01] #7485 closed

[2019-02-12 02:09] Eilon opened #7486 "Add doc comments for SameSiteMode enum (it has none)"
Need to do it in two places:

1. https://github.com/aspnet/AspNetCore/blob/master/src/Http/Headers/src/SameSiteMode.cs
2. https://github.com/aspnet/AspNetCore/blob/master/src/Http/Http.Features/src/SameSiteMode.cs

[2019-02-12 02:11] Eilon commented on #7485
To answer the question about labels: Use the label of what area it applies to - changes are, it's `area-mvc`.