[2019-10-28 04:57] OnurGumus commented on #16515
@SteveSandersonMS System.Console.WriteLine will not write to browser console in server-side mode.

[2019-10-28 06:04] leastprivilege commented on #15416
This is happening in the MVC client. Not IdentityServer.

[2019-10-28 07:05] mrpmorris commented on #16571
You can't pass references like that.

Instead, change your parameter type to `Func<ElementRef>` and make sure your child component reads it in OnAfterRender.

[2019-10-28 08:00] markvincze commented on #13299
@josalem Thanks, that way it worked.

I managed to open the dumps in PerfView, and check the diffs as well. The objects which keep accumulating are coming from the third-party library we're using, which is also obfuscated, thus can't even see the real type names, so I'll reach out to the vendor for some help.

[2019-10-28 08:15] Morphisor commented on #15360
Yes, after further investigation this error was being thrown by the 'fetch' handler in the service worker, but after removing it, the real problem was the stack overflow bug described in [mono/mono#15981](https://github.com/mono/mono/issues/15981).
For now i have applied the workaround of declaring the module before the wasm is loaded and adding the delay on blazor.webassembly.js and i'll wait for

[2019-10-28 08:18] Zigby commented on #8241
I need this too.
Are there any plans to support OffsetX and OffsetY as properties of the  MouseEventArgs?

[2019-10-28 08:31] MaverickMartyn commented on #5545
Awesome. :) I just started fiddling with Blazor and ran into this requirement for drag and drop functionality.

[2019-10-28 08:35] javiercn commented on #15413
@pranavkm Don't you have a PR for this?

[2019-10-28 08:35] javiercn commented on #15413
https://github.com/aspnet/AspNetCore/pull/15410

[2019-10-28 08:39] javiercn commented on #16573
@mihaimyh thanks for contacting us.

You can do all these things yourself.
[code]
1. You can configure logging/signalr to know the transport (I believe).
2. If blazor fails to start it will return a failed promise.
3. From the failed promise you can redirect.

[2019-10-28 08:43] VBAndCs commented on #15418
@mkArtakMSFT
Here is the repo:
https://github.com/VBAndCs/DateRangeSample/tree/master/DateRangeSample
Run the app, click the Add new student link, and try to enter a date in the EnrollmentDate input. All dates will be rejected even dates between 1/1/2019 and 1/1/2020! Try 1/1/2019.
If you commented out the ` [Range(typeof(DateTime),"01/01/2019", "01/01/2020")]` attribute in the Student class, you

[2019-10-28 08:45] javiercn commented on #16524
@danroth27 Is this the thing that you wrote?

@Marius-Kazlauskas I'm not super familiar with the implementation, but a couple of things.
* You need to always catch OperationCanceledException when using cancellation tokens.
* You should avoid using continue with in your method as you are not capturing the SynchronizationContext and that's going to produce errors when you try to update the UI from t

[2019-10-28 08:45] #16524 closed

[2019-10-28 08:46] javiercn commented on #16569
@RasmusWesterlundh thanks for contacting us.

@danroth27 Can this be related to the layout being applied?

[2019-10-28 08:48] javiercn commented on #15627
@parad74 thanks for contacting us.

Seems like you are using an old client-side blazor build. Update your client-side blazor version and the issues should go away.

[2019-10-28 08:48] javiercn commented on #15627
Closing this issue as there's no more action to be taken here.

If your problem persists after upgrading feel free to comment and we can re-open the issue.

[2019-10-28 08:48] #15627 closed

[2019-10-28 08:49] javiercn commented on #15592
@ajai1109 thanks for contacting us.

Can you provide a bit more details on what you are trying to achieve? We're not sure what "azure feature flag" means in this context.

[2019-10-28 08:51] javiercn commented on #15440
@Joebeazelman thanks for contacting us.

I believe there are several issues associated with SVG right now. @SteveSandersonMS do you know of the top of your head if this is one of those?

[2019-10-28 08:52] javiercn commented on #15437
@kdawg1406 thanks for contacting us.

I don't believe we currently support Int16. Is there a reason why you can't simply use Int32?

[2019-10-28 08:54] javiercn commented on #15420
@WillianGruber thanks for contacting us.

If you are talking of server-side blazor or client-side blazor, the short answer is no. They run inside a browser and hence the browser UI will always show up.

The best you can do is make the browser window/tab full screen with F11 to remove the browser frame.

I believe we have some ongoing experiments with blazor an electron, but we are still investigat

[2019-10-28 08:56] javiercn commented on #15282
We are closing this issue as there's not been any community involvement in the past few days and we believe the question has been answered.

[2019-10-28 08:57] javiercn commented on #16570
@jan-johansson-mr thanks for contacting us.

@SteveSandersonMS Do you know why this can be?

[2019-10-28 08:58] YordanYanakiev commented on #15069
Just to confirm it - I have exactly the same issue.

[2019-10-28 08:59] javiercn commented on #15439
@Joebeazelman Thanks for contacting us.

@NTaylorMullen @ajaybhargavb Is this supproted in Razor in the middle of a tag?

[2019-10-28 09:04] javiercn commented on #15197
We are closing this issue as there has been no community involvement in the past few days. If new information is provided we might be able to provide a resolution.

[2019-10-28 09:04] #15197 closed

[2019-10-28 09:15] SteveSandersonMS commented on #16570
No, I don't know. It would be great to have a complete repro. The code posted above doesn't have any `class` attribute.

[2019-10-28 09:16] SteveSandersonMS commented on #15440
I don't specifically know. Blazor doesn't calculate any coordinates, but rather just passes through whatever data is supplied with the event by the browser.

[2019-10-28 09:28] ExileLee opened #16579 "ASP.NET Core 3.0 catch-all route unexpected behavior"
### Describe the bug
Recently i encounter some unexpected issue

I'm using ASP.NET Core 3.0 and i defined two routes in StartUp.cs

**StartUp.cs**
[code]
**FileController.cs**
[code]
request to file/folder/abc/abc i expected to match first route but the result was 404 not found

but if i changed order of route

[code]
It work!

### Expected behavior
My questing is why first version don't work if i

[2019-10-28 09:38] SteveSandersonMS commented on #15400
In the specific case of `InputDate`, it wouldn't make sense to offer a "format" option, because the whole idea of `InputDate` is to render an `<input type=date>`. This is a built-in HTML input type, and as per the HTML spec, the format **must** be yyyy-mm-dd internally, and the way it gets presented to users in the UI is controlled by the browser. Browsers will represent the data according to the

[2019-10-28 09:38] #15400 closed

[2019-10-28 09:43] wisepotato commented on #15373
Any way to have derived startup classes for e2e tests?

I wouldn't want both startup classes to queue ConfigureServices..

[2019-10-28 09:47] SteveSandersonMS commented on #15405
@javiercn Yes, we certainly could implement some support for this. I think it's reasonable for this to be a backlog item currently.

[2019-10-28 09:49] Berrysoft commented on #15433
Sorry, but I cannot reproduce it. I'm using Blazor Client-side 3.1 preview.

[2019-10-28 09:51] SteveSandersonMS commented on #13503
@ChristianWeyer It's because .NET's built-in websockets APIs are built on underlying TCP networking APIs that can't ever work in the browser, since JavaScript doesn't expose raw TCP networking capabilities. This naturally leads to a runtime failure from somewhere low in the stack. What we have to do to make it work is provide a browser-compatible implementation of the relevant low-level websocket

[2019-10-28 09:53] ChristianWeyer commented on #13503
Thanks for the update @SteveSandersonMS - great!

[2019-10-28 09:55] javiercn commented on #15373
@wisepotato I'm not sure there's any way with the way the new hosting works, other than passing a flag or similar to the CreateWebHostBuilder method and check that flag to avoid calling `UseStartup` in the first place.

@davidfowl @Tratcher Thoughts?

[2019-10-28 10:05] springy76 commented on #9436
@MSBassSinger

To me this reads: "If **not** using InternetExploder **then** insert polyfill"

[2019-10-28 10:05] SteveSandersonMS commented on #9941
Yes, see the project template's default `FetchData.razor` page. It uses the same technique I mentioned in my previous comment.

We try to keep them as aligned as possible. The difference for `@inject HttpClient` largely comes down to the fact that, for client-side Blazor, it's extremely common to be making HTTP requests back to your own hosting server, as with any other client-side SPA. For server

[2019-10-28 10:12] #15399 closed

[2019-10-28 10:18] ccit-spence commented on #9941
Thanks for the info, a view point I take with at least some Razor Components is that it would be handy to add them on top of an existing Pages/MVC app.  Then having the Client version of the HttpClient would be handy.  The called service may not actually be within the main application.

Again thanks for the info.

[2019-10-28 10:20] SteveSandersonMS commented on #15180
@MarcDavid2K From what I can tell, the Brave browser simply doesn't support Windows authentication: https://github.com/brave/brave-browser/issues/3734

As such this doesn't seem like something we could take action on.

Do you have any reason to think there's some fault inside Blazor or ASP.NET Core here? If so, can you clarify what?

[2019-10-28 10:23] remy90 commented on #14476
One project dependency (in my case) relies on Microsoft.AspNetCore.Authentication, which has been archived at 2.2.0 and simply refers to "[https://github.com/aspnet/AspNetCore](https://github.com/aspnet/AspNetCore)" for continued development. I've not managed to find any supporting documentation as to how this should be updated in [migration ](https://docs.microsoft.com/en-us/aspnet/core/migration

[2019-10-28 10:37] wisepotato commented on #15373
To rephrase my question: is my current setup with derived startups the way to go? Is this not common practice? I need different configs for different testing enviornments (disabling middleware, spoofing user authentication, different naming convention for routes etc..)

[2019-10-28 10:40] thepra commented on #14896
Mmmmm, it's more of a closed source web app(already running as [collAnon](https://collanon.app)) than an open source project.
But still I could open up some non-business-core pieces like `Startup.cs` or `Program.cs`, etc. in a new project if it can help, just let me know.

[2019-10-28 10:43] VBAndCs commented on #15418
Note: I tried the app in Google Chrome and chased the date from the dropdown calendar to eliminate any chance of a miss-formatted date, but I still get the same error message!
There is something wrong in the JQuery validation code.

[2019-10-28 10:43] SteveSandersonMS commented on #9941
You can simply use `new HttpClient` instead of `@inject HttpClient`, or if you really want to use `@inject HttpClient`, register it in your DI container in `Startup.cs`. See ASP.NET Core docs for more information about configuring the DI container.

[2019-10-28 11:05] flensrocker opened #16582 "UseAngularCliServer: optionally disable dynamic port"
See #8162

My usecase for a specific port for `UseAngularCliServer`:

I have one multi-tenant Angular-app which is served on different base-urls, so each tenant has its own url like http://localhost/tenant-1 and http://localhost/tenant-2.

Since the `index.html` is generated by `ng` I have to read it from the ng-server to serve it with a MVC controller on the different routes. I can't use the from

[2019-10-28 11:10] kpolkovnikov opened #16583 "Blazor. OnParametersSet fires not as expected"
Hi. It's simply component.
**Index.razor:**
[code]

**MyCoolComponent.razor:**
[code]

OnParametersSet event of MyCoolComponent fires every time on click button on Parent Page, why?

[2019-10-28 11:14] SteveSandersonMS commented on #15189
Yes, we don't have a feature of changing the defaults. The recommended approach for this is to define your own "input" component that uses whatever conventions you want, and then use that instead of a plain `<input>` element.

[2019-10-28 11:14] #15189 closed

[2019-10-28 11:18] SteveSandersonMS commented on #5523
@kdawg1406 What you've done looks great, and publishing it as a NuGet package looks perfect. Having an ecosystem of open-source components is essential for making Blazor a healthy framework, so I'm very glad to see this.

For now at least I'd regard it as superior for this to be a NuGet package than something baked into the framework. The Blazor core team doesn't have capacity to support all possi

[2019-10-28 11:31] javiercn commented on #16583
@kpolkovnikov thanks for contacting us.

A new render fragment delegate gets created on each render (which happens automatically after the event-handler for `DoNothing` runs.

Blazor can't determine that the new RenderFragment delegate is equal to the old render fragment delegate and it believes the parameters for the component have changed, thus invoking OnParametersSet with the new RenderFragmen

[2019-10-28 11:31] #16583 closed

[2019-10-28 11:32] flensrocker commented on #16582
Since the same logic is used at the `ReactDevelopmentServerMiddleware`, an extension of the `SpaOption` may be the better solution.

Something like:
[code]

[2019-10-28 11:36] SteveSandersonMS commented on #16583
You're right @javiercn.

Longer term I'm hoping we can find some optimizations where we detect common scenarios where the `RenderFragment` actually is the same. I would guess that if the delegate points to the same `MethodInfo` and `Target`, then it has to be the same. In the scenario posted here, since no variables are captured inside the closure, I would expect the `Target` values to be the same

[2019-10-28 11:39] kpolkovnikov commented on #16583
Thank you for the supersonic answer) Is there a workaround in this scenario to prevent the OnParametersSet event from starting, such as by using @key or otherwise?

[2019-10-28 11:40] javiercn commented on #16579
@ExileLee thanks for contacting us.

I believe with endpoint routing even "traditional" routes are not routed sequentially (@rynowak can correct me) but are treated in "precedence" order, that means, more specific routes like `/literal/literal/literal` take precedence over `/literal/{parameter}/literal`.

That said, I don't think why your first route wouldn't match.
@rynowak Thoughts? I don't see

[2019-10-28 11:43] kdawg1406 commented on #5523
@SteveSandersonMS thank you for the reply.  **I think this component should at least support Decimal without the current error.**  I understand about formatting support.

[2019-10-28 11:45] SteveSandersonMS commented on #15109
This is a tricky area and is unfortunately beyond the control of Blazor. As you've observed, this is a browser-implemented deliberate limitation.

To satisfy the browser's requirements, you may need to trigger the clipboard JS call from JS code rather than .NET code, so that it can run synchronously.

If you wanted to have a textbox plus a button that copies the contents of some .NET-generated ver

[2019-10-28 11:45] #15109 closed

[2019-10-28 11:46] SteveSandersonMS commented on #16104
@Flearz Not yet. The above advice still applies.

[2019-10-28 11:46] #16104 closed

[2019-10-28 11:47] kdawg1406 commented on #15437
@javiercn yes, I know that Int16 was omitted which why I wrote this bug up.  Please fix this, real-world applications use Int16 and so do databases.

[2019-10-28 11:52] javiercn commented on #15437
@kdawg1406 We will take this into consideration and get back to you.

We'll have to make sure there are no drawbacks regarding things like overflows, etc that can lead to a poor experience/pit of failure.

[2019-10-28 11:55] aford22 opened #16584 ".Net Core 3 - no CORS headers returned by JWT bearer middleware. Inconsistent with 401 API behaviour"
### Describe the bug
.Net Core 3 - no CORS headers returned by JWT bearer middleware with 401 response. Inconsistent with 401 API behaviour

### To Reproduce
1) Create a .Net Core 3 Web Application with a single API endpoint that performs one action:
[code]
2) Configure CORS and JWT bearer authentication
3) Call the API with a valid bearer token. The correct headers are returned including the CORS

[2019-10-28 11:57] javiercn commented on #16584
@aford22 thanks for contacting us.

Is the CORS middleware before the authorization middleware in your pipeline?
Can you copy your Startup.cs here?

[2019-10-28 11:58] rpc-scandinavia commented on #16571
Thank you @mrpmorris.
But I do not understand, because I use the @ref to GET the component object rendered (ComponentBase descendent) representing the MatMenu element in managed code.
As I understand, you sugest that I provide a method which return a compoent.

But it initially works, until I change the components (a new MatButton with a new MatMenu).
Perhaps I did not say, but I am not in the chi

[2019-10-28 11:59] Rookian commented on #3868
`await Task.Yield(); // Parenthesis were missing`

[2019-10-28 12:07] aford22 commented on #16584
[code]

and

[code]

[2019-10-28 12:07] SteveSandersonMS commented on #16583
@kpolkovnikov You can override `ShouldRender` to put in custom logic to skip rendering if you think it's unnecessary in certain cases.

[2019-10-28 12:10] javiercn commented on #16584
@aford22 I believe app.UseCors needs to be in front of app.UseAuthorization, otherwise the authorization middleware shortcircuits the response.

If you switch it to this, does everything work?
[code]

[2019-10-28 12:18] xkissboss opened #16585 "Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Invalid request line"
docker + aspnetcore2.1
[code]

[2019-10-28 12:23] aford22 commented on #16584
Javier you are absolutely right. Switching the order does indeed ensure the CORS headers are always issued. You fixed the problem!

Now the challenge is, how should MS document this or enforce it in code to make sure others don't hit this same issue?

[2019-10-28 12:23] JeepNL commented on #15400
@SteveSandersonMS I know on first sight It looks like it doesn't make sense, and if you live in the US it probably doesn't, but for some people in the rest of the world it does. I've had this kind of conversation about phone-number formatting, postal codes and states 'a couple of times' 20-25 years ago.

The date format of <InputSelect> is controlled by the browser, and exactly that is the problem

[2019-10-28 12:23] SteveSandersonMS commented on #9035
Yes

[2019-10-28 12:28] kdawg1406 commented on #15437
@javiercn It's a generic method. This provides any guard you need.  Also, you have Int32, Int64, etc. without issues.  This is a very simple fix.  Thanks!

[2019-10-28 12:40] YordanYanakiev commented on #15069
To reproduce the 1st part of the issue :
1. Create a folder called "Components".
2. Create a Razor page inside called "Test" (or anything else).
- Try to use it inside any other Razor object.
![image](https://user-images.githubusercontent.com/6534199/67679054-e12de900-f990-11e9-8162-e9efe980e00c.png)

[2019-10-28 12:42] SteveSandersonMS commented on #15400
I don't live in the US :) I'm British.

I'm afraid the feature you're asking for is just not something that Blazor controls. The date format within an `<input type=date>` is completely controlled by the browser. See https://stackoverflow.com/a/9519493 for info.

If using a non-browser-controlled format is an absolute requirement for you, then you'll need to *not* use `<input type=date>` or `InputD

[2019-10-28 12:45] SteveSandersonMS commented on #13664
I meant passing some other object, e.g., `new object()`.

[2019-10-28 12:54] javiercn commented on #16584
@aford22 We have documentation here https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.0#order and I believe we have an analyzer too.

[2019-10-28 12:56] javiercn commented on #16584
I'm closing this issue as the question has been answered.

[2019-10-28 12:56] #16584 closed

[2019-10-28 12:57] JeepNL commented on #15400
Oops :) Sorry! (British)

So, the browser/HTML 5 input specification is the problem. Well, I didn't know that. The StackOverflow article cleared that up. That's actually a big disappointment. We're using internet browsers for more than 25 years now and this still isn't fixed. (ie: implemented)

I will look into your suggestions, thank you for your reply.

[2019-10-28 13:00] julienGrd commented on #15437
i have the same kind of problem with byte. It's true sometimes we don't have the hand on all the code. For me i consume existing wcf services where the previous developers put some byte. I can handle it by put some shortcut properties which cast the byte in int32 on the getter and cast the int32 in byte in the setter, but its really ugly. It can be nice to have a support for this.

[2019-10-28 13:07] kdawg1406 commented on #15437
@julienGrd @javiercn I was also going to point out byte as well but didn't want to push my luck.  The bottom line, this converter should support all primitive numeric data types.

[2019-10-28 13:15] kpolkovnikov commented on #16583
Thank you so much, Steve.

[2019-10-28 13:16] yuretz commented on #12959
Couldn't you have something like
[code]
in your Dockerfile?

[2019-10-28 13:22] CeciAc opened #16586 "少了一个括号"}""
@keob commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210)

## [代码](https://github.com/aspnet/AspNetCore.Docs.zh-cn/edit/live/aspnetcore/tutorials/first-web-api.md)的402行

---

@srvbpigh commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210#issuecomment-546581010)

Hello, @keob

Thank you for your feedback.

We are actively r

[2019-10-28 13:22] CeciAc opened #16587 "少了一个括号"}""
@keob commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210)

## [代码](https://github.com/aspnet/AspNetCore.Docs.zh-cn/edit/live/aspnetcore/tutorials/first-web-api.md)的402行

---

@srvbpigh commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210#issuecomment-546581010)

Hello, @keob

Thank you for your feedback.

We are actively r

[2019-10-28 13:22] CeciAc opened #16588 "少了一个括号"}""
@keob commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210)

## [代码](https://github.com/aspnet/AspNetCore.Docs.zh-cn/edit/live/aspnetcore/tutorials/first-web-api.md)的402行

---

@srvbpigh commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210#issuecomment-546581010)

Hello, @keob

Thank you for your feedback.

We are actively r

[2019-10-28 13:22] CeciAc opened #16589 "少了一个括号"}""
@keob commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210)

## [代码](https://github.com/aspnet/AspNetCore.Docs.zh-cn/edit/live/aspnetcore/tutorials/first-web-api.md)的402行

---

@srvbpigh commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210#issuecomment-546581010)

Hello, @keob

Thank you for your feedback.

We are actively r

[2019-10-28 13:22] CeciAc opened #16590 "少了一个括号"}""
@keob commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210)

## [代码](https://github.com/aspnet/AspNetCore.Docs.zh-cn/edit/live/aspnetcore/tutorials/first-web-api.md)的402行

---

@srvbpigh commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210#issuecomment-546581010)

Hello, @keob

Thank you for your feedback.

We are actively r

[2019-10-28 13:22] CeciAc opened #16591 "少了一个括号"}""
@keob commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210)

## [代码](https://github.com/aspnet/AspNetCore.Docs.zh-cn/edit/live/aspnetcore/tutorials/first-web-api.md)的402行

---

@srvbpigh commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210#issuecomment-546581010)

Hello, @keob

Thank you for your feedback.

We are actively r

[2019-10-28 13:22] CeciAc opened #16592 "少了一个括号"}""
@keob commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210)

## [代码](https://github.com/aspnet/AspNetCore.Docs.zh-cn/edit/live/aspnetcore/tutorials/first-web-api.md)的402行

---

@srvbpigh commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210#issuecomment-546581010)

Hello, @keob

Thank you for your feedback.

We are actively r

[2019-10-28 13:22] CeciAc opened #16593 "少了一个括号"}""
@keob commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210)

## [代码](https://github.com/aspnet/AspNetCore.Docs.zh-cn/edit/live/aspnetcore/tutorials/first-web-api.md)的402行

---

@srvbpigh commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210#issuecomment-546581010)

Hello, @keob

Thank you for your feedback.

We are actively r

[2019-10-28 13:22] CeciAc opened #16594 "少了一个括号"}""
@keob commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210)

## [代码](https://github.com/aspnet/AspNetCore.Docs.zh-cn/edit/live/aspnetcore/tutorials/first-web-api.md)的402行

---

@srvbpigh commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210#issuecomment-546581010)

Hello, @keob

Thank you for your feedback.

We are actively r

[2019-10-28 13:22] CeciAc opened #16595 "少了一个括号"}""
@keob commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210)

## [代码](https://github.com/aspnet/AspNetCore.Docs.zh-cn/edit/live/aspnetcore/tutorials/first-web-api.md)的402行

---

@srvbpigh commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210#issuecomment-546581010)

Hello, @keob

Thank you for your feedback.

We are actively r

[2019-10-28 13:22] CeciAc opened #16596 "少了一个括号"}""
@keob commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210)

## [代码](https://github.com/aspnet/AspNetCore.Docs.zh-cn/edit/live/aspnetcore/tutorials/first-web-api.md)的402行

---

@srvbpigh commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210#issuecomment-546581010)

Hello, @keob

Thank you for your feedback.

We are actively r

[2019-10-28 13:22] CeciAc opened #16597 "少了一个括号"}""
@keob commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210)

## [代码](https://github.com/aspnet/AspNetCore.Docs.zh-cn/edit/live/aspnetcore/tutorials/first-web-api.md)的402行

---

@srvbpigh commented on [Sat Oct 26 2019](https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/210#issuecomment-546581010)

Hello, @keob

Thank you for your feedback.

We are actively r

[2019-10-28 13:22] CeciAc commented on #16587
Hi team,
I moved this here because it refers to the code
best regards

[2019-10-28 13:26] #16586 closed

[2019-10-28 13:26] TheCamel opened #16598 "SignalR : Java Client : state and closing"
Hello,
my existing java client code migrated to Core cannot stop...
seems that the state never change even if i call stop() several times.. is there a workaround ?

while (Connection.getConnectionState() != HubConnectionState.DISCONNECTED) {
			try {
					Connection.stop();
					Thread.sleep(100);
				}
			catch (InterruptedException e) {
					e.printStackTrace();
				}
		}
		System.exit(0);

[2019-10-28 13:26] #16593 closed

[2019-10-28 13:27] #16588 closed

[2019-10-28 13:28] #16589 closed

[2019-10-28 13:28] #16590 closed

[2019-10-28 13:28] #16591 closed

[2019-10-28 13:28] #16592 closed

[2019-10-28 13:30] #16594 closed

[2019-10-28 13:30] #16595 closed

[2019-10-28 13:30] #16596 closed

[2019-10-28 13:30] #16597 closed

[2019-10-28 13:46] ajai1109 commented on #15592
I am trying to implement azure feature flags in asp.net core blazor project. Please go through this link https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-feature-flag-aspnet-core for your reference

[2019-10-28 13:50] aspnet-hello opened #16600 "Scenarios are not running: LinkAThonBaseline, LinkAThonGrpcBaseline, LinkAThonGrpcTrimmedAndR2RSingleFile, LinkAThonPlatformBaseline, LinkAThonTrimmedAndR2RSingleFile ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| LinkAThonBaseline | Linux, Physical, http, KestrelSockets | 10/27/19 1:37:45 PM +00:00 |
| LinkAThonGrpcBaseline | Linux, Physical, http, KestrelSockets | 10/27/19 1:47:52 PM +00:00 |
| LinkAThonGrpcTrimmedAndR2RSingleFile | Linux, Physical, http, KestrelSockets | 10/27/19 1:49:51 PM

[2019-10-28 13:57] javiercn commented on #15592
@ajai1109 There's no specific support on Blazor to do that, and that's not something that the ASP.NET Core team works on.

@bradygaster Can you loop in the right people here so that we can provide guidance or improve the experience for Blazor users?

To get a faster response we suggest posting your questions to StackOverflow using the asp.net-core-blazor tag.

[2019-10-28 14:20] maurei commented on #15373
Usecase: testing [client generated ids](https://jsonapi.org/format/#crud-creating-client-ids) in [JsonApiDotNetCore](https://github.com/json-api-dotnet/JsonApiDotNetCore/tree/master/src/JsonApiDotNetCore) (a framework that implements json:api spec). In the codebase we have an example project dedicated to e2e testing. Its default `Startup` class has the client-generated ids option disabled, and we

[2019-10-28 14:20] javiercn commented on #16587
@CeciAc thanks.

@Rick-Anderson I believe this is a doc issue. Should we just transfer it to the docs repo?

[2019-10-28 14:32] huzaynbolt commented on #10170
By referring to other SPA frameworks doing it, I am not deliberating on the underlying functionality used but the syntactic sugar that came out of the box that makes it easy to work with. This is a sample style block in a Vuejs component that makes it easier to work with isolated styles.

N.B: All CSS styles are all isolated to the component hence reducing style conflicts
`<style lang="scss">
@imp

[2019-10-28 14:42] danroth27 commented on #5477
Norton antivirus version of this issue: https://forums.asp.net/t/2161027.aspx

[2019-10-28 14:45] Tratcher commented on #16585
What's the client? We've sometimes seen clients send an extra blank line between requests.

A full trace of the request traffic would be needed to debug this. Wireshark is one option. Trace level logging with connection logging enabled would also work:
https://github.com/aspnet/AspNetCore/blob/c376e833e46497fbec4bd7b39632f8c8e13360b2/src/Servers/Kestrel/samples/SampleApp/Startup.cs#L100-L104

[2019-10-28 14:50] aspnet-hello opened #16601 "Scenarios are not running: GrpcPingPongStreaming-1MB-GrpcCore, GrpcPingPongStreaming-1MB-GrpcCore, GrpcPingPongStreaming-1MB-GrpcNetClient, GrpcPingPongStreaming-1MB-GrpcNetClient, GrpcPingPongStreaming-1MB-GrpcNetClient ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| GrpcPingPongStreaming-1MB-GrpcCore | Linux, Physical, h2c, KestrelSockets | 10/27/19 2:07:49 PM +00:00 |
| GrpcPingPongStreaming-1MB-GrpcCore | Linux, Physical, h2c, CCore | 10/27/19 2:14:10 PM +00:00 |
| GrpcPingPongStreaming-1MB-GrpcNetClient | Linux, Physical, h2c, KestrelSockets

[2019-10-28 14:54] Tratcher commented on #14476
@remy90 Many package references have been replaced by `<FrameworkReference Include="Microsoft.AspNetCore.App" />`
https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#framework-reference
https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#migrate-libraries-via-multi-targeting

[2019-10-28 15:01] vsfeedback opened #16602 "Visual Studio reports error for razor attributes"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/614257/visual-studio-reports-error-for-razor-attributes.html)._

---
Installed core 3.0 preview 6 on VStudio community ed latest release (16.1.3)
Generated a new project | ASP.NET Core Web Application | .NET Core | ASP.NET Core 3.0 | Blazor

Open Pages | Counter.razor

Erro

[2019-10-28 15:21] dazinator commented on #9337
My use case for injecting a custom service into `startup` class constructor, is different from the logging case. You can currently inject `IHostEnvironment` but that is not good enough for my case as I want extended information about the Host to be available when Configuring services. I want to inject my custom `IHostInfo` service which has additional information about the environment such as the

[2019-10-28 15:23] dazinator commented on #9337
I'm not suggesting building the container twice either, I am suggesting being able to pass instances for injection via `UseStartup<>` would be enough, e.g:

[code]

[2019-10-28 15:26] mrpmorris commented on #16571
@rpc-scandinavia The MS example doesn't show when they call OnSomething. Can you provide a link to the code where you are doing this?

[2019-10-28 15:48] a20081860 opened #16603 "Cross platform inconsistency"
Hellow
"Microsoft.Extensions.DependencyModel.dll" Cross platform issues exist.

int num = DependencyContext.Default.CompileLibraries.Count     ;
num  in   Windows                   value is not 0  .
num  in   Linux（centos7）      value is 0
Microsoft.Extensions.DependencyModel.dll  version  2.1.0   and  3.0.0

What's the reason

[2019-10-28 15:55] BrennanConroy commented on #16598
You shouldn't need to call stop in a loop. Instead you can await the stop call. Like `Connection.stop().blockingAwait();`

[2019-10-28 16:02] #14653 closed

[2019-10-28 16:04] #15221 closed

[2019-10-28 16:05] mkArtakMSFT commented on #16603
This issue was moved to dotnet/core-setup#8681

[2019-10-28 16:05] #16603 closed

[2019-10-28 16:07] mkArtakMSFT commented on #16602
Thanks for contacting us.
@NTaylorMullen can you please look into this? Thanks!

[2019-10-28 16:11] mkArtakMSFT commented on #16574
Thanks for contacting us, @datdefboi.
This is not something we plan to do. We do plan to review and potentially improve CSS support / interaction in the future.

[2019-10-28 16:11] #16574 closed

[2019-10-28 16:15] mkArtakMSFT commented on #16573
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-10-28 16:15] #16573 closed

[2019-10-28 16:15] DanielStout5 opened #16604 "Update to Azure Asp.Net Core Logging Extension/Integration Breaks Net Core Blob Logging"
### Describe the bug

We have a .Net Core app running on Azure App services and it's configured to log to the Azure Blob.

It's running .Net Core 2.2 and previously the logs were written to the Blob storage correctly. At some point the site extension got updated and now the logs aren't working - only the "applicationLog.csv" file is created in the Blob, not the .txt file that actually contains the

[2019-10-28 16:29] mkArtakMSFT commented on #15440
Thanks for contacting us, @Joebeazelman.
We currently don't have proper SVG support: https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#scalable-vector-graphics-svg-images

We do plan to improve this in the future (probably during 5.0).

[2019-10-28 16:31] mkArtakMSFT commented on #15439
@NTaylorMullen if this turns out something we need to fix or add support for, we'll consider that for 5.0 timeframe.

[2019-10-28 16:32] mkArtakMSFT commented on #15437
Thanks everyone. We will accept a PR for this, if you would like to speed things up 👍

[2019-10-28 16:33] mkArtakMSFT commented on #15433
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-10-28 16:33] anurse commented on #14988
No problem! I was still getting notified because I subscribed to the thread :).

I cloned your sample, ran it, then shut it down (since IIS locks the stdout file, so you can't open it until the app is shutdown) and I see the stdout content:

[code]

I'm not sure what might be different here. Were you shutting down IIS before opening the log file? Some editors may claim to "open" the file but show

[2019-10-28 16:34] mkArtakMSFT commented on #15429
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-10-28 16:38] moritz-mm commented on #15429
Ok, here is my Blazor SignIn Component

![1](https://user-images.githubusercontent.com/47302595/67697895-97053180-f9a9-11e9-9097-5f0293ed9f4b.PNG)

And here is my SignIn Code:

![2](https://user-images.githubusercontent.com/47302595/67697920-9ec4d600-f9a9-11e9-86ed-a946f784db60.PNG)

The EditForm calls the SignIn Method, i use normal Identity no IdentityServer

[2019-10-28 16:41] #15420 closed

[2019-10-28 16:43] mkArtakMSFT commented on #15411
Thanks for contacting us, @GerritBergen.
This is a dupe of the issue @DamianEdwards has reference, so closing this one.

[2019-10-28 16:43] #15411 closed

[2019-10-28 16:47] mkArtakMSFT commented on #15430
@bahmansh also, did you look into @pranavkm 's response in the referenced issue? Didn't that resolve your concerns?

[2019-10-28 16:52] mkArtakMSFT commented on #15418
Thanks for the info, @VBAndCs.
Actually, the `RangeAttribute` doesn't support `DateTime`-s. So this is by-design.
You can learn more about this on this thread: https://stackoverflow.com/questions/17321948/is-there-a-rangeattribute-for-datetime/17322252#17322252

[2019-10-28 16:52] #15418 closed

[2019-10-28 16:55] Pilchie commented on #15427
This issue was moved to dotnet/core-sdk#5377

[2019-10-28 16:55] #15427 closed

[2019-10-28 16:57] mkArtakMSFT commented on #14896
To enable runtime-compilation it's now required to use a special NuGet package. You can read more about how to enable runtime-compilation here: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.0#runtime-compilation

[2019-10-28 16:59] Pilchie commented on #16604
@anurse  thoughts?

[2019-10-28 16:59] mkArtakMSFT commented on #16582
Thanks for the issue and the PR, @flensrocker.
We'll look into this soon.

[2019-10-28 17:00] BrennanConroy opened #16606 "SignalR not connecting on Asp.Net Core 3.0, (app upgraded from 2.2)"
_From @mikedcooper on Sunday, October 27, 2019 7:51:40 PM_

I have followed the upgrade guide to upgrade my 2.2 app to 3.0.  Seems to work fine... I have added Blazor Server Side, this seems to work just fine.  I have added SignalR and I can't get it to connect.  When I create a new 3.0 web application and follow the chat sample guide it works fine.  I can't seem to figure out what is causing sign

[2019-10-28 17:00] BrennanConroy commented on #16606
_From @mikedcooper on Monday, October 28, 2019 1:46:14 AM_

I have found that forcing the connection to long polling seems to alow the connection to work.  Any ideas as to why websockets will not work?  Or troublshooting ideas, I am a little new :)  Thank you

`
endpoints.MapHub<ChatHub>("/chatHub", options =>
                {
                    options.Transports = AspNetCore.Http.Connections.H

[2019-10-28 17:04] mikedcooper commented on #16606
Not sure why this was closed, the I still can not use websockets.  Thanks

[2019-10-28 17:08] ExileLee commented on #16579
If i only confiure one route
[code]
it will match

but following code will end up 404 not found
[code]

[2019-10-28 17:08] BrennanConroy commented on #16606
@mikedcooper There is an issue in 3.0 with the JS client that makes fallback from WebSockets to other transports not work correctly. This will be fixed when 3.0.1 is released.

How are you hosting your app currently? What OS are you on?

Are you saying the WebSockets is working in that case?

[2019-10-28 17:08] #15077 closed

[2019-10-28 17:13] rpc-scandinavia commented on #16571
@mrpmorris The OnSomething event method is probably called by a button, which should show the MyLoginDialog.

My code is like the MatMenu example, where the MatMenu submenu is opened/shown when the MatButton is clicked. In my code I just handle more menus, because it is a row of menu buttons, which each might have a sub menu. Okay, let me try to show some of my code:

1) I have a RecordMenu class

[2019-10-28 17:14] NTaylorMullen commented on #16602
Multiple VS' same solution open work fine for me 😢. @mkArtakMSFT were you seeing different?

Also karl.mittenzwey would you mind doing the following to provide some additional information:
- Open package manager console in VS and run `dotnet --info` and paste the contents here
- List what versions of Visual Studio you have installed.
- If you're willing to share (it has things like environment var

[2019-10-28 17:25] NTaylorMullen commented on #15069
@YordanYanakiev Do you have a using for the Test component's namespace? Aka @using BlazorApp9.Components?

As for why NavMenu isn't being found that's quite interesting. What version of VS are you running? Also, if you go to package manager console and type `dotnet --info` what's the output?

[2019-10-28 17:32] Postlagerkarte commented on #15077
@javiercn : Thank you for taking the time to reply.

The context of my question is a drag and drop library I created in which a users can wrap anything in a draggable component and thus can drop it to an arbitrary dropzone.

This works like this:

    <Dropzone>

            <Draggable>
                <Counter></Counter>
            </Draggable>

            <Draggable>
                <Counter><

[2019-10-28 17:45] anurse commented on #15123
No worries. In general, as a repo maintainer, I'd prefer just filing new bugs and later discovering they were duplicates, so don't worry about filing a new bug even if you see a closed one that may be related!

[2019-10-28 17:46] #15374 closed

[2019-10-28 17:49] mrpmorris commented on #14962
I've created a pull request @Postlagerkarte

[2019-10-28 17:50] #15428 closed

[2019-10-28 17:50] mrpmorris commented on #15428
Duplicate of #14962

[2019-10-28 17:50] aspnet-hello opened #16608 "Scenarios are not running: ConnectionClose, ConnectionClose, DbFortunesDapper, DbFortunesEf, DbFortunesRaw ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| ConnectionClose | Windows, Cloud, http, KestrelSockets | 2019-10-24 21:51:15Z |
| ConnectionClose | Windows, Cloud, https, KestrelSockets | 2019-10-24 21:51:54Z |
| DbFortunesDapper | Windows, Cloud, http, KestrelSockets | 2019-10-24 21:40:01Z |
| DbFortunesEf | Windows, Cloud, http,

[2019-10-28 17:51] aspnet-hello opened #16609 "Scenarios are not running: SignalRBroadcast, SignalREcho, SignalREchoAll"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| SignalRBroadcast | Windows, Cloud, http, KestrelSockets | 2019-10-24 22:29:56Z |
| SignalREcho | Windows, Cloud, http, KestrelSockets | 2019-10-24 22:34:19Z |
| SignalREchoAll | Windows, Cloud, http, KestrelSockets | 2019-10-24 22:37:44Z |

[Logs](https://aka.ms/aspnet/benchmarks/jen

[2019-10-28 18:10] VBAndCs commented on #15418
@mkArtakMSFT
I looked at the link, and this is a bug not by design:

And msdn says otherwise here: https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.rangeattribute?redirectedfrom=MSDN&view=netframework-4.8 :

[code]

You should fix the generated JQuery to solve this problem, so I advice you to reopen this issue and find a fix, or provide a decent alternative instead

[2019-10-28 18:19] scalablecory opened #16610 ".Net Core 3.0 WebApi Reports Error When Return OK(List<dynamic>)"
_From @carroty3334 on Friday, October 25, 2019 3:05:54 AM_

When .net core 3.0 webapi returns Ok(List< dynamic >) or Ok(List< object >), this error occurs:
System.InvalidCastException: Unable to cast object of type '< GetEnumerator >d__9' to type 'System.Collections.IDictionaryEnumerator'.

_Copied from original issue: dotnet/core#3691_

[2019-10-28 18:27] josalem commented on #13299
@markvincze I'm glad it helped (for the most part)!

[2019-10-28 18:30] NTaylorMullen opened #16611 "PreventDefault and StopPropagation don't work at runtime"
Trying to use either of these new features breaks at runtime: https://github.com/aspnet/AspNetCore/issues/14517

The issue seems to be that the Blazor runtime doesn't support adding attributes after an element has had content frames added? @SteveSandersonMS / @rynowak is that true?

Next because the Razor compiler outputs the prevent default/stop propagation in the order in which it does the runti

[2019-10-28 18:33] effyteva commented on #4880
I have to say that's very disappointing.
The ASP.NET Core Razor engine currently suffers from deadlocks (see this https://github.com/aspnet/AspNetCore/issues/4755) due to having sync-over-async code.
We've been using a custom build of the ViewEngine for more than a year, and we'll have to keep creating new customer builds for each ASP.NET core release.

[2019-10-28 18:42] sujit1779 commented on #15423
I am a bit confused now. What action do I need to take at my end (given that my project is of type .Net Framework). Do I have to do the following only?
1) Install latest .Net Core runtime on the deployment machine
2) Install Hosting Bundle on the deployment machine.

How will the above two steps take care of the Microsoft.AspNetCore 2.2.0 DLL security flaw that gets added to the published folder?

[2019-10-28 18:43] #15182 closed

[2019-10-28 18:43] blowdart commented on #15423
What do you mean by " the Microsoft.AspNetCore 2.2.0 DLL security flaw that gets added to the published folder"

[2019-10-28 18:50] #15122 closed

[2019-10-28 18:50] davidfowl commented on #15241
![image](https://user-images.githubusercontent.com/95136/67708295-23e3c700-f979-11e9-9ee8-71199b21c52f.png)

[2019-10-28 18:52] sebastienros commented on #15407
Recovered

[2019-10-28 18:52] #15407 closed

[2019-10-28 18:53] #13777 closed

[2019-10-28 18:53] sebastienros commented on #15186
Recovered

[2019-10-28 18:53] #15186 closed

[2019-10-28 18:56] #15267 closed

[2019-10-28 18:57] #15185 closed

[2019-10-28 18:57] #15184 closed

[2019-10-28 18:58] sebastienros commented on #14995
Recovered

[2019-10-28 18:58] #14995 closed

[2019-10-28 18:59] #14948 closed

[2019-10-28 19:05] VBAndCs commented on #15418
@mkArtakMSFT
Another noteL
defining custom validator attribute will validate the date on the server (after posting the page). It is better to use the RangeAttribute to have client side validation. If there is a difficulty with dates, could it be done by a new DateRange attribute?
I wish you solve this issue.

[2019-10-28 19:16] sujit1779 commented on #15423
Yes, Sonatype.com is flagging security issue with Microsfot.AspNetCore.dll 2.2.0. I am again attaching screenshot of the same.

![ScreenHunter 324](https://user-images.githubusercontent.com/1575365/67710123-5d521c00-f9e5-11e9-9bb6-969a5ca252af.png)

![ScreenHunter 325](https://user-images.githubusercontent.com/1575365/67710127-604d0c80-f9e5-11e9-921b-f7015c8f6b12.png)

I only want to get rid of th

[2019-10-28 19:16] SteveSandersonMS commented on #16611
Yes, attribute frames must be added as part of a continuous sequence of attribute frames directly after the element is opened. This is part of what makes tree traversal much faster and simpler at runtime.

[2019-10-28 19:19] mikedcooper commented on #16606
I am on windows 10, I am developing in VS2019(16.3.6).  I am just using IIS Express.
Yes when I create a new 3.0 web app and follow the signalR chat example it workes and connects on websockets without issue.  Also I do noitce that blazer takes 2 or 3 tries to get a successful connection as well.

[2019-10-28 19:20] TheCamel commented on #16598
why not...but with previous version , i had to do this because if i call System.exit(0); before being sure the hub is closed...then signalR let a tcp connection open !

I tested what you suggest and Connection.stop().blockingAwait(); never return !?!?

[2019-10-28 19:20] blowdart commented on #15423
If it that is still appearing after you have installed the latest hosting bundle then sonatype has a false positive. There's nothing in that file except for the webhost class.

Presumably whomever owns the sonatype license has a support contract, I would take that route and point them to this thread,

[2019-10-28 19:25] jan-johansson-mr commented on #16570
Hi,

I've just done an example, derived from the blazor server side template, that I can upload (solution with the source files), to show InputSelect dropping class when disabled.

Please have a look at the [example](https://github.com/jan-johansson-mr/BlazorExample).

Thanks

[2019-10-28 19:27] Joebeazelman commented on #15439
It may well be an existing issue with razor, but I can't think of a single case where block comments are interpreted in other mainstream programming languages.

[2019-10-28 19:34] GeorgeS2019 commented on #14698
This very slow JSInterop issue is very relevant to [Blazor Canvas2D and WebGl 3D drawing](https://github.com/mono/SkiaSharp/issues/750#issuecomment-546856958). One option is to use Skia CanvasKit in WebAssembly that has been made accessible through UNO to C#

[2019-10-28 19:36] sujit1779 commented on #15423
Blowdart to clarify, Sonatype.com website takes ZIP folder as input which we provide by zipping the PUBLISHED folder (after clicking on publish on visual studio). Now as Sonatype takes ZIP input, how will it get to know about the .Net Core or hosting bundle which will be installed on the deployed machine (here I will make a point that I will do this exercise even though the project type is .Net fr

[2019-10-28 19:49] GeorgeS2019 opened #16612 "[Blazor] WASM Extension for 2D Vector drawing"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Currently there are two ways to create Web 2D Vector graphics using C#

- [Blazor Canvas Extension ](https://github.com/BlazorExtensions/Canvas/issues/49#issue-513201616)
- UNO UWP XAML running as WASM on the web through [SkiaSharp (WASM)](https://github.com/mono/SkiaSharp/iss

[2019-10-28 19:51] pranavkm commented on #16610
@carroty3334 this is very likely the same issue as https://github.com/dotnet/corefx/issues/41329. This is fixed as part of the 3.1.0-preview2 release. For 3.0, you can workaround this issue  either by authoring a custom JSON serializer or by using Newtonosft.Json - https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#jsonnet-support

/cc @ahsonkhan

[2019-10-28 19:51] aspnet-hello opened #16613 "Scenarios are not running: SignalRBroadcast, SignalREcho"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| SignalRBroadcast | Linux, Physical, http, KestrelSockets | 2019-10-27 19:43:37Z |
| SignalREcho | Linux, Physical, http, KestrelSockets | 2019-10-27 19:49:41Z |

[Logs](https://aka.ms/aspnet/benchmarks/jenkins)

[2019-10-28 19:55] #15071 closed

[2019-10-28 19:59] mrtristan opened #16614 "[CommandLineTools] Blazor server template example doesn't load in FF due to MOZILLA_PKIX_ERROR_SELF_SIGNED_CERT / SEC_ERROR_INADEQUATE_KEY_USAGE"
win10 1903 build 18362

i'm observing this in a fresh `dotnet new blazorserver` on firefox dev edition but not chrome. not in a corporate environment and not on an upgraded machine (win10 pro for workstations from machine inception).

chrome: works fine
firefox standard: "bypassable" error in that you can go "advanced" and proceed. error code: `MOZILLA_PKIX_ERROR_SELF_SIGNED_CERT`
firefox dev edit

[2019-10-28 20:01] danroth27 commented on #15592
This issue was moved to Azure/AppConfiguration#170

[2019-10-28 20:01] #15592 closed

[2019-10-28 20:03] cbrit commented on #16602
Hi, just to clarify in case it got lost in the description above:

The issue is now only occurring when I rename or move and existing valid .razor file.

I believe karl.mittenzwey is no longer following the issue.

[2019-10-28 20:06] pranavkm opened #16615 "With EnableBuffering, Json.NET requires streams to be actively drained to prevent synchronous read exceptions"
Follow up to https://github.com/aspnet/AspNetCore/issues/14396.

When the request stream is previously buffered, Json.NET does not actively drain the request stream. If the user hadn't explicitly drained it prior to input formatting, this results in synchronous reads of the the HTTP request body. We can avoid this by simply draining the request.

[2019-10-28 20:10] pranavkm commented on #16615
Previous discussion here: https://github.com/aspnet/AspNetCore/issues/14396#issuecomment-546323465. Also noticed this during validation: https://github.com/aspnet/AspNetCore/issues/14902

[2019-10-28 20:14] danroth27 commented on #16524
Yeah, I did something similar in my BlazorWeather app: https://github.com/danroth27/BlazorWeather/blob/master/BlazorWeather.Core/Components/LocationSearch.razor. I also remember seeing exceptions like this and finding them annoying, but I believe @JamesNK said they were expected.

[2019-10-28 20:20] blowdart commented on #15423
That doesn't change my point. Sonatype is wrong in this case.

[2019-10-28 20:22] NevTheDevsCodeLab commented on #15433
I've just pushed a basic project to: [https://github.com/NevTheDevsCodeLab/JsonPropertIssue](url).
You will notice the 'Summary' column of the grid is blank and yet in the response the 'sum' field is present, so for some reason the client's view model's summary field isn't being bound.

[2019-10-28 20:25] pranavkm commented on #14902
Done. Follow up filed here: https://github.com/aspnet/AspNetCore/issues/16615

[2019-10-28 20:25] #14902 closed

[2019-10-28 20:32] sujit1779 commented on #15423
Thanks Blowdart for your quick responses. I will abide by your suggestions of installing .Net Core latest runtime and Hosting bundle and assume no change in code is needed (i.e. I need not change from .Net Framework type to .Net core type so that I can use Metapackage 2.7, etc).
Will get back to you if the client still objects.

1) One query, I am not able to understand,  suppose there is some iss

[2019-10-28 20:51] aspnet-hello opened #16617 "Scenarios are not running: SignalREchoAll"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| SignalREchoAll | Linux, Physical, http, KestrelSockets | 2019-10-27 19:55:23Z |

[Logs](https://aka.ms/aspnet/benchmarks/jenkins)

[2019-10-28 20:51] YordanYanakiev commented on #15069
yep. I've tried different "@**using**" configurations. Nothing helps. ( actually at some point it become even worse, and I am trying to find a way to reproduce it - since even the result "********.razor.g.cs**" in "**obj\Debug\netstandard2.0\Razor\Pages**" folder files start to be messed up ).

Here the info You have requested:

[2019-10-28 20:52] blowdart commented on #15423
The hosting bundle is needed to address the CVE you linked.

If you target Core rather than framework then you'd be better off, as the runtime will hoist versions up. Unfortunately if you target Framework you don't get this.

I believe you still need ANCM regardless of what you target, @jkotalik is that correct?

[2019-10-28 20:57] Postlagerkarte commented on #15077
@javiercn : Sorry to post again, just want to clarify my above posting:

My main question is:

"RenderFragment is not a stateful UI piece of UI"  - which implies you can't pass it around and expect the state to survice this.

But why does this work and keeps the state:

[code]

Where as this doesn't work and the state is lost:

[code]

[2019-10-28 20:57] YordanYanakiev commented on #15069
Here just a plain application - just created with not working intellisense and not recognising the NavMenu. Nothing touched - just straight from the template for creating Blazor Client Side App.
[TestTheBug.zip](https://github.com/aspnet/AspNetCore/files/3780658/TestTheBug.zip)

[2019-10-28 21:05] NTaylorMullen commented on #16602
@cbrit hmm. I'm not seeing that issue either. Are you able to reproduce on the default Blazor project?

![image](https://i.imgur.com/PLI6NLW.gif)

[2019-10-28 21:06] sujit1779 commented on #15423
Here is the link for Runtime and Hosting bundle 2.7, I will install that and restart IIS. This should take care of the issue raised even if the Sonatype.com website is showing error, right?

[https://dotnet.microsoft.com/download/thank-you/dotnet-runtime-2.2.7-windows-hosting-bundle-installer](https://dotnet.microsoft.com/download/thank-you/dotnet-runtime-2.2.7-windows-hosting-bundle-installer)

U

[2019-10-28 21:08] blowdart commented on #15423
The latest hosting bundle will patch ANCM.

[2019-10-28 21:16] sujit1779 commented on #15423
Thanks Blowdart.

Can you help me with 1 more queries?
1) Unfortunately I can't change my project from .Net Framework to .Net Core, may be in future we will do it because of lots of rework. But this activity is not needed to resolve this issue, right?

[2019-10-28 21:20] DouglasRiddle commented on #14154
@katiep23 Were you able to resolve this?

[2019-10-28 21:22] NTaylorMullen commented on #15229
https://github.com/aspnet/AspNetCore/issues/16611

[2019-10-28 21:22] #15229 closed

[2019-10-28 21:23] nmocruz commented on #10403
seems like there's a gRPC-Web support (not sure if still experimental) websockets to overcome some limitation on http2 native support on the browser. this support requires a websocket enabled server.
Maybe signalr can help enabling the client streaming and the bidirectional part that is not fully supported by browsers.
But because they are completely technologies, maybe  have signalr support for a

[2019-10-28 21:28] blowdart commented on #15423
Correct. When updates happen what you will need to do is check your project.json and update the nuget package versions according to the bulletin.

[2019-10-28 21:29] cbrit commented on #16602
@NTaylorMullen I just mimicked your steps and the issue is occurring:

![blazorCompilerError](https://user-images.githubusercontent.com/23322838/67719545-024a0600-f9a0-11e9-962f-26d9980416ca.gif)

Also, light theme? Really? 😛

[2019-10-28 21:32] ts46235 opened #16618 "In .net core 3.0, Json serialization is not consistent when using AddNewtonsoftJson and causes deserialization issue related to Dictionary prop"
Setup

Newtonsoft.Json: 12.0.2
Microsoft.AspNetCore.Mvc.NewtonsoftJson: 3.0.0

I have testing both from an nunit test project (targeting both 2.2 and 3.0) that does `AddNewtonsoftJson` when in the 3.0 version as well as running the application and hitting with postman

.Net Core 3.0 application setup:
[code]

If i have this problemDetails object:
[code]
In 2.2, executing `Newtonsoft.Json.JsonConve

[2019-10-28 21:35] BrennanConroy commented on #14570
Fixed via https://github.com/aspnet/AspNetCore/pull/15076

[2019-10-28 21:35] #14570 closed

[2019-10-28 21:56] HaoK commented on #10299
Linking to a related issue https://github.com/aspnet/AspNetCore.Docs/issues/12592

[2019-10-28 21:57] NTaylorMullen commented on #16602
@cbrit hmm, my bet is that it's been fixed in a future VS update then. When 16.4-preview3 releases can I have you give your scenario a shot there to see if things reproduce?

[2019-10-28 21:57] #15230 closed

[2019-10-28 22:16] BrennanConroy commented on #16598
What version of the Java client are you using?

Could you enable logging on the [client](https://docs.microsoft.com/aspnet/core/signalr/java-client?view=aspnetcore-3.0#add-logging) and the [server](https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.0) and share them please?

[2019-10-28 22:26] bdcoder2 commented on #14988
@anurse - Mystery solved !!

To view output redirected to a stdoutLogFile:

1. Run the project (Click on IIS Express while in Visual Studio)

2. Right-click on the IIS Express icon (in system tray or task bar)

3. Select "Exit" - System will respond with a Confirmation dialog that will ask "Are you sure you want to stop all the worker processes and exit?" -> Click "Yes"

4. Log file in "D:\temp\"

[2019-10-28 22:27] johnrom commented on #12890
Hi all, just wanted to chime in here. I've had significant success using these packages as an SSR solution. The benefits of a middleware-based solution for SSR have merit, because they allow an app to preload all necessary information _before_ hitting the node server, instead of hitting the node server which then requests data from various http endpoints and causing a cascade of http requests. I d

[2019-10-28 22:35] anurse commented on #14988
The big difference is that IIS Express doesn't necessarily shut down when the debugging sessions is terminated.

@jkotalik do you know if there's anything different we could do here with how we open the file? Right now it seems the file is locked to writers (which makes sense) **and** readers (which means you can't look at the log while the IIS Express is running).

[2019-10-28 22:38] tleylan commented on #8241
While the OffsetX and Y values would be useful it seems to me that the PageX and PageY are values we need. Generally speaking once a page is rendered the Page positions won't change often while the Client positions change if the page scrolls.

[2019-10-28 22:43] BrennanConroy commented on #16606
I'm a bit stumped on this one. The connection is "connected", but then looks like it immediately gets disconnected as it is trying to send the handshake.

Is there anyway you can provide a simple github repo that reproduces the issue?

[2019-10-28 22:45] NTaylorMullen commented on #15069
@YordanYanakiev ahhhh, 3.1 is not supported in 16.3 is why 😄

[2019-10-28 22:59] bdcoder2 commented on #14988
@anurse, @jkotalik - That is correct -- I tried to open the log file while the project was still running with WordPad and it (correctly) displayed a dialog which said the "file was locked by another process"; but the log entries are not available (empty window).

Notepad however, simply opens the log file (without any warning), and shows an "empty" window as well.

Strange that the IISExpress icon

[2019-10-28 23:04] Postlagerkarte commented on #14551
In case anyone got here because of the same issue:

https://developercommunity.visualstudio.com/content/problem/758260/visual-studio-tracepoints-are-not-working-with-bla.html

There is a solution provided for the current behavior in the vs feedback item.

[2019-10-28 23:19] pranavkm commented on #16618
@ts46235 `ProblemDetails` and `ValidationProblemDetails` require specific converters to serialize or deserialize correctly. Json.NET's options are configured with these options by default, so that's likely the easiest way to process these:

[code]

Other options include using the factory to get the serializer settings (https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.NewtonsoftJson/src

[2019-10-28 23:33] YordanYanakiev commented on #15069
Good heavens. I am not sure where i were supposed to read this, but it was a nightmare  3 days of headbanging the wall..
* installing VS 2019 preview 2 now *

[2019-10-28 23:54] YordanYanakiev commented on #15069
Confirmed - the syntax highlight, namespaces and Intellisense works fine in VS 2019 Preview 2 + Core 3.1 preview 1.

[2019-10-29 00:03] rpc-scandinavia commented on #16571
I was looking around, and it is not that simple as a assignment in the "ComponentBase" class.
But I looked in the generated ".razor.g.cs" file and found where the assignment occures:

[code]

Next step is to find out, why this is not called everytime the component is rendered.

[2019-10-29 00:03] JamesNK opened #16620 "Clean up async timeout extension methods"
There are async timeout extension methods available in Microsoft.AspNetCore.Testing, e.g. `await task.TimeoutAfter()`.

Many ASP.NET Core projects have there own copies of these timeout methods, or wrap them in there own extension methods (probably done to remove a copy while minimizing changes), e.g. https://github.com/aspnet/AspNetCore/blob/master/src/Hosting/TestHost/test/Utilities.cs

We shoul

[2019-10-29 02:01] davidfowl commented on #9337
That might be reasonable. To pass a separate collection or bag of values to Startup.

[2019-10-29 02:09] Berrysoft commented on #15433
@NevTheDevsCodeLab I delete the `Newtonsoft.Json` dependency, install `System.Text.Json` to `BlazorApp_JsonPropertyIssue.Shared`, change `JsonProperty` to `JsonPropertyName`, and delete `AddNewtonsoftJson` in Startup.cs. Then it works.

Note that blazor only uses `System.Text.Json`, therefore you cannot use `Newtonsoft.Json` in the server project.

[2019-10-29 02:34] bidianqing opened #16623 "Dependency Injection in Hubs"
I want use SignglR，Created a `NotificationHub` derived `Hub`
![image](https://user-images.githubusercontent.com/12196280/67732703-2d336900-fa37-11e9-9ba4-2736f65fc5e9.png)
How can i set up `IUserService` dependency injection in `NotificationHub` constructor? Transient? Scoped? or Singleton? thanks

[2019-10-29 02:37] bdcoder2 opened #16624 "*.pubxml files contain outdated link"
### Describe the bug

The link included in {projectname}.pubxml files is out-dated.

### To Reproduce
Steps to reproduce the behavior:
1. Using Visual Studio 2019 Community 16.3.6
2. Create a new project - I created an EMPTY ASP.Net Core 3.0 web application.
3. Right-click on project name -> Publish...
4. Pick a publish target -> Click on Folder
5. Click the Browse... button to choose a folder (no

[2019-10-29 02:53] bidianqing commented on #16623
[code]

[2019-10-29 03:13] cbrit commented on #16602
@NTaylorMullen Yes I will do that.

In fact, I do see one of the release notes for preview 2 is `Fixed a compiler error when using Blazor or Razor.`. Maybe that was it.

[2019-10-29 03:15] davidfowl commented on #16623
Either works. The lifetime is up to you and what level of statefulness your service needs.

[2019-10-29 06:50] TheCamel commented on #16598
i am using java 8; build 231 (1.8.0_231-b11) with signalR 1.0.0 + gson 2.8.5

and slf4-nop 1.7.28 because was an error....
i see the disconnect event on the hub
don't know how to get more log for you...

[2019-10-29 07:16] olaj commented on #7644
@benmccallum @Tratcher About the TestServer implementation. I have tried to set that AllowSynchronousIO property on various places but i only get a Stack Overflow exception in the program.cs, or i get the error "Synchronous operations are disallowed. Call ReadAsync or set AllowSynchronousIO to true instead.". Is there any example somewhere on how to actually set this property? Where do i set it?

[2019-10-29 07:28] buehler opened #16626 "AspNetCore 3.0 Does not set Identity Cookie"
### Describe the bug
The http response after a `signInManager.PasswordSignInAsync` does not set the identity cookie. The cookie is (as I'm aware of) sent over the wire, but it is not stored.

It worked a while ago, but now, even though the cookie is sent, it is not stored. Could this relate to any changes made to chrome?

### To Reproduce
Steps to reproduce the behavior:
- Create a new web applica

[2019-10-29 07:41] davidfowl commented on #7644
Stackoverflow? Can you provide a repo?

[2019-10-29 07:41] buehler commented on #16626
Note: Anti-Forgery cookies are set. 🤔

[2019-10-29 07:48] buehler commented on #16626
Another addition:
When I change the name of the cookie, it seem to work:
![image](https://user-images.githubusercontent.com/1067213/67747359-d161e380-fa28-11e9-8393-39390c61e948.png)

This does not make any sense to me :-(
Is the size limited? If so (in chrome) is there any chance to clamp the size of an identity cookie?

[2019-10-29 08:02] nguyenvanbien95 opened #16627 "Allow FieldIdentifier to be passed to InputBase and ValidationMessage"
Thank you for your effors to build awesome Blazor.
I want to create dynamic form using Reflection for TValue: Value as:

[code]

In MVC, i found a way for that [Here](https://stackoverflow.com/questions/19915587/loop-through-model-properties-in-reflection-then-use-html-helpers-to-display-h).

I think ValidationMessage can support PropertyInfo
`<ValidationMessage Model="@Value" NameField="p.Name"><

[2019-10-29 08:06] Condra963 opened #16628 "Blazor javascript initialization"
Hi all,

Can someone explain me why i need to specific call my javascripts that i want to initialize OnAfterRender? Why is there not something implemented that also calls the window load (javascript) or document ready (jquery) after rendering the component? Because now i always have to call each javascript i want to initialize in every blazor component and it's a bit 'annoying'.

This is how i do

[2019-10-29 08:23] javiercn commented on #16614
@mrtristan thanks for contacting us.

@anurse You've been handling some of these, aren't you?

[2019-10-29 08:25] javiercn commented on #16624
@bdcoder2 thanks for contacting us.

We've routed the issue to the right team, however, in order for them to see it, it is best if you also report it through the right top corner "Send feedback" button in Visual Studio.

@vijayrkn This is VS Publish, isn't it?

[2019-10-29 08:25] #16624 closed

[2019-10-29 08:25] javiercn commented on #16626
@buehler thanks for contacting us.

@blowdart Can this be the cookie change in Chrome?

[2019-10-29 09:19] NevTheDevsCodeLab commented on #15433
Thank you for the information Berrysoft. I'm pleased to say I now have it working as expected.

[2019-10-29 09:19] #15433 closed

[2019-10-29 09:40] MiheevN commented on #5621
16.3.6... Why...😣😥😥😥😭

[2019-10-29 10:42] Indrajith-Sync opened #16630 "In Blazor- Using Tvalue for <CascadingValue> tag to get the component instance in other page."
##Description
Is there any possibility of getting the instances of the component to another razor page using the Tvalue in <CascadingValue> Tag.

For eg:-

`<CascadingValue TValue="test" />`

I need to get like the page instance like below.

`this.test`

Is this possible in blazor ?

[2019-10-29 10:50] veikkoeeva commented on #16033
I'll cross-reference https://github.com/aspnet/AspNetCore/issues/10170 and https://github.com/aspnet/AspNetCore/issues/6218 as discussion (towards the end) touches web components in popular frameworks, their publishing and also design systems built using `lit-html`, `StencilJS` etc. to be consumed as web components in thes popular libraries amongst other cases that are closely related and could pe

[2019-10-29 10:54] aL3891 commented on #15383
I know that, but i think a solution like this would enable users to get the best of both worlds by buth having the actual rendering to not be async while still semantically "awaiting" async code inside the markup.

[2019-10-29 11:05] javiercn commented on #16524
@danroth27 one way to transparently go about this is to have an extension method on the IAsyncEnumerable you can call that essentially wraps the existing IAsyncEnumerable instance and captures the exceptions.

[2019-10-29 11:20] springy76 commented on #9337
Yes please. These instances would then be available as singleton-scoped during entire lifetime?

[2019-10-29 11:21] javiercn commented on #15077
Because keys don't expand multiple components. The Blazor diff algorithm diffs component tree's individually. In the first case, there is a component tree that looks something like
[code]
While in the second case I understand each fragment is enclosed within a component
component="component"
element=div
key=1
{...}
component="component"
element=div
key=2
{...}
component="component"
element=div
key

[2019-10-29 11:27] dazinator commented on #9337
@springy76

I dont think this overload should automatically register these instances passed in this way for DI as singletons. You may not want them registered with DI at all. It will just use them when activating the startup type in addition to the inbuilt instances (IHostEnvironment etc) that are already supported. If you wanted these objects to also be registered as singletons with DI you can do

[2019-10-29 11:29] javiercn commented on #16569
@danroth27 I fixes the layout issue. Can you retrieve the list of known issues so that we can determine which ones apply and which ones don't?

[2019-10-29 11:29] #16569 closed

[2019-10-29 11:36] alistairjevans commented on #9337
Perhaps a simple solution here might be to allow the Startup class to be instantiated via a Lambda, so you can pass whatever you want to the constructor of your own Startup class? Something like:

[code]

Arguments to the lambda could be the things available to .NET at that time, i.e. hosting environment and configuration, then you add your own things.

[2019-10-29 11:37] xsoheilalizadeh commented on #3700
@davidfowl, I'm working on a [library][1] that prepare some of your expectations.

[1]: https://github.com/xsoheilalizadeh/raccoonLog

[2019-10-29 11:55] thepra commented on #14896
Ok... but should I isolate it like this?
[code]
because adding runtime compilation in Release/Production doesn't make that much sense. 🤔

[2019-10-29 12:12] blowdart commented on #16626
No it can't. Those changes are only in 3.1 previews, and chrome won't have them until Feb

[2019-10-29 12:15] javiercn commented on #16626
@blowdart Ok, then I'll let this go through your regular triage process.

[2019-10-29 12:16] blowdart commented on #16626
@buehler Does this happen in all browsers?

[2019-10-29 12:16] buehler commented on #16626
@blowdart Let me check...

[2019-10-29 12:26] #13300 closed

[2019-10-29 12:27] buehler commented on #16626
So:
- Brave (Version 0.70.121 Chromium: 78.0.3904.70 (Official Build) (64-bit)): Cookie not stored when default name (`.AspNetCore.Identity.Application`)
- Chrome (Version 78.0.3904.70 (Official Build) (64-bit)): Works
- Edge (Microsoft Edge 44.18362.10024.0): Works
- Chromium (Version 78.0.3904.70 (Official Build) (64-bit)): Works
- FireFox (70.0 (64-bit)): Works

Ok. So my guess is, this is a Br

[2019-10-29 12:27] #16626 closed

[2019-10-29 12:30] arivoir opened #16632 "InvokeVoidAsync shouldn't serialize return value to .NET"
A JavaScript error appears in the browser console

blazor.server.js:1 [2019-10-29T12:25:01.018Z] Information: WebSocket connected to wss://localhost:44387/_blazor?id=FFEeuHNqrQLnX70peuLyLg.
blazor.server.js:8 Uncaught (in promise) TypeError: Converting circular structure to JSON
    --> starting at object with constructor 'Window'
    --- property 'parent' closes the circle
    at JSON.stringify (

[2019-10-29 12:53] SteveSandersonMS commented on #16632
This is because `window.open` returns a `WindowProxy` object (see https://developer.mozilla.org/en-US/docs/Web/API/Window/open). `WindowProxy` is not JSON-serializable, so can't be used as a return value to .NET code.

To fix this, don't call `window.open` directly, but instead call a JS function of your own that either returns nothing or returns something that is JSON-serializable.

[2019-10-29 12:54] SteveSandersonMS commented on #16630
I'm not sure why you're trying to specify `TValue`. You only need to use `Value`, e.g.:

[code]

[2019-10-29 12:54] #16630 closed

[2019-10-29 13:36] ddweber commented on #5351
@halter73 Another problem i am facing is that the java client does not support streaming by now (according to [this](https://docs.microsoft.com/en-us/aspnet/core/signalr/java-client?view=aspnetcore-2.2#known-limitations) documentation)..

[2019-10-29 13:41] jwbats commented on #7749
@davidfowl, that's exactly what I needed. Problem solved. Tnx.

And on a sidenote, I believe you're the same guy who provided some BackgroundService example code a long time ago on some other site. My project makes ample use of it and it works very well.

So that for that, too!

[2019-10-29 13:42] javiercn commented on #16628
@Condra963 thanks for contacting us.

I'm not sure what you are trying to accomplish. Are you trying to initialize some function globally? If that's the case you don't need to do anything inside OnAfterRender and you can simply call your initialization function inside the host page by including it on a script tag or by chaining to the promise returned from`Blazor.start`.

An alternative way to do

[2019-10-29 13:59] dbacher commented on #15146
@anurse
Logging is an amplifier for denial of service.

If I connect and spool bad messages, I'll burn your CPU and whatever logging resources you're using, eventually your process will crash if network is greater than disk.  Any logging based solution makes that worse, not better.

And so what we really want is a notification we can tie to a counter, so that after 10 tries or w/e, we can disconne

[2019-10-29 14:03] javiercn commented on #15429
@moritz-mm Seems like you are trying to rewrite the Identity UI in Blazor.

You can't do what you are trying to accomplish as Blazor uses a stateful model and there is no HttpContext available for Identity to use for setting up its cookie.

I'm closing this issue as the recommended way to log-in is to perform a redirect and a form post as in the current default UI.

I'm tagging @blowdart in case h

[2019-10-29 14:03] #15429 closed

[2019-10-29 14:08] arivoir commented on #16632
I realized the InvokeAsync&lt;bool&gt; was not necessary anymore. Now there is the InvokeVoidAsync.

`JsRuntime.InvokeVoidAsync("open", video.Link, "_blank");`

But this is still throwing the error. In this case it shouldn't serialize anything because the code is expecting void.

IMO this should be handled by Blazor. creating Javascript to do this shouldn't be necessary.

[2019-10-29 14:08] javiercn commented on #15429
Filed https://github.com/aspnet/AspNetCore.Docs/issues/15374 so that the requirements for what is needed to log in a user with Identity are.

[2019-10-29 14:18] javiercn commented on #16571
@rpc-scandinavia Thanks for contacting us.

Your case is a bit complicated, if you have a repro-project that would help us provide a better answer.

In general, references are populated/updated while we diff component trees and are only available for use after the UI update has been applied in the Browser (this is, they are available during OnAfterRender)

Components can render independently (a pa

[2019-10-29 14:18] julienGrd opened #16633 "Problem Deserialize JsonException with Newtonsoft"
Hello guys, i met a problem to deserialize JsonException (from System.Text.Json) with newtonSoft.

I can have this kind of exception when for example there is an error in a Js call supposed to return data.

I have a really surprised exception : Error: System.Runtime.Serialization.SerializationException: Member 'HelpURL' was not found.
It's surprising because i have no idea what is this property (n

[2019-10-29 14:44] javiercn commented on #16627
@nguyenvanbien95 Thanks for contacting us.

What is that you are trying to accomplish that doesn't work the way you expect?

[2019-10-29 14:47] javiercn commented on #14896
@thepra That sounds like a valid solution.

[2019-10-29 14:47] Tratcher commented on #9337
@alistairjevans at that point why not just use the IWebHostBuilder Configure and ConfigureServices APIs directly and capture what you need? Startup doesn't offer much beyond those.

[2019-10-29 14:57] Bojanema opened #16634 "UseStatusCodePagesWithReExecute Does not captures 400 error"
I have created a new .net core 3.0 project and I'm trying to handle errors. in my Configure method of startup I have the following:

[code]

Now to replicate the problem you can have a simple form post of any kind which will hit a controller that requires anti forgery validation. Remove the anti forgery token from the form and then submit.  I get the following page. My exception handler never kick

[2019-10-29 14:59] mtinnes commented on #14521
Maybe provide a method to invalidate the current token causing it to regen the next time around? This way we could manually invalidate on logout.

[2019-10-29 15:04] Tratcher commented on #7644
@olaj did you try the sample I gave above https://github.com/aspnet/AspNetCore/issues/7644#issuecomment-543833374?

[2019-10-29 15:07] alikarooni opened #16635 "dotnetcore web app and blazorwasm client side together"
which one of the following scenarios I am able to implement?

publishing blazorwasm client-side into exe file( instead of using IIS or apache or Nginx) so I can run it as a windows service
OR
Embedding a dot net core app and blazorwasm client-side (not server side which I know about it already) into the same project

Any idea ???

[2019-10-29 15:09] alikarooni commented on #16635
publishing blazorwasm client-side into exe  => instead of using IIS or apache or Nginx !!!

[2019-10-29 15:34] javiercn commented on #15413
https://github.com/aspnet/AspNetCore/pull/16636

[2019-10-29 15:51] valeriob opened #16637 "Cookies was not authenticated. Failure message: Unprotect ticket failed (aspnet core 3.0 on linux web app)"
1) Create a new aspnetcore 3.0 application (same problem on 2.2 and older versions) with cookie auth, and services.AddDataProtection();
2) deploy it to azure linux web app (without a custom container).
3) Navigate to the application and execute a login, and go to a protected page.
4) Restart the web app in the azure portal

Problem :
5) Refresh the protected page and you will be asked for a login

[2019-10-29 16:11] cbrit commented on #15069
+1, 2019 preview 2 fixes this issue for me as well.

[2019-10-29 16:20] Tratcher commented on #15373
Or in your dev and test environments you load the individual switches from the dev/test config.

[2019-10-29 16:22] redshiftz opened #16638 "Cannot find the AspNetCore Nuget packages for 3.0 (specifically routing)"
While developing a large number of microservices, I would like to standardize the heath check middleware calls into a package for reuse.

But I cannot find a nuget package for this .net standard 2.1 project to use that will allow me access to IEndpointRouteBuilder. (Microsoft.AspNetCore.Routing.dll)

The version i need appears to be embedded in Microsoft.AspNetCore.App but not available by itself

[2019-10-29 16:31] wisepotato commented on #15373
How would I approach that? Maybe this is me misunderstanding but I would like individual tests to be able to set switches, from the test itself.

Is this not common practice? If not, then I guess i'm misunderstanding.

[2019-10-29 16:33] javiercn commented on #16610
We are closing this issue as it's a duplicate of  dotnet/corefx#41329 and it has been fixed in 3.1 preview2.

[2019-10-29 16:33] #16610 closed

[2019-10-29 16:33] Bojanema commented on #16634
@Tratcher I have updated the question with the logs.

[2019-10-29 16:35] javiercn commented on #14896
We are closing this issue as it has been handled.

[2019-10-29 16:35] #14896 closed

[2019-10-29 16:39] Bojanema commented on #16634
I just came to a realization that the actual problem is with o.Filters.Add(new AutoValidateAntiforgeryTokenAttribute());

If I remove that and explicitly add it on the action I want it at, then my error page fires as normal. Is it because when it reexecutes the page, it maintains post and thus it tries to validate the anti-forgery token again?

[2019-10-29 16:39] Tratcher commented on #16634
Yes, Antiforgery failed twice. First on Account/Login
[code]
And then on Error/Index
[code]

[2019-10-29 16:40] javiercn commented on #16612
This sounds like a great feature, but unfortunately this is not something that we would include in the core framework.

[2019-10-29 16:40] #16612 closed

[2019-10-29 16:40] cbrit commented on #16602
@NTaylorMullen  I installed .NET Core 3.1 Preview 1 + VS 2019 Preview 2 for another issue related to Blazor and I am still seeing the issue _but only under these specific _circumstances:__

1. An _existing_ project has just been opened.
2. Open a razor component. There are no compiler errors.
3. Rename the razor component. Error appears.
4. Close the component tab.
*5. Reopen the component. No err

[2019-10-29 16:41] Bojanema commented on #16634
@Tratcher  what would be the correct way to handle this? Do I just tell it to ignore anti forgery on error pages? I can't think of another solution.

[2019-10-29 16:42] #16628 closed

[2019-10-29 16:47] javiercn commented on #16633
Thanks for contacting us @julienGrd.

It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow using the asp.net-core-blazor tag.

[2019-10-29 16:47] #16633 closed

[2019-10-29 16:48] cbrit commented on #16602
P.S. I just noticed you said Preview 3, not 2. I'll wait for it to come out and see.

[2019-10-29 16:48] #16635 closed

[2019-10-29 16:59] pranavkm commented on #16638
@redshiftz the package was removed as part of the 3.0 release. See https://github.com/aspnet/Announcements/issues/325. To reference the feature, you'll need to add a framework reference to `Microsoft.AspNetCore.App`. Our migration guide - https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio - has details about adding a framework reference as also [

[2019-10-29 17:01] Tratcher commented on #16634
@pranavkm, is applying anti-forgery globally recommended? Or should it be limited to specific resources?

[2019-10-29 17:07] #16611 closed

[2019-10-29 17:10] blowdart commented on #16637
If you check the logs does it talk about ephemeral keys? Frankly I'm not sure azure linux webapps works with our detection light up. I'd suggest specifically using blob storage

[2019-10-29 17:11] NTaylorMullen commented on #16602
"soon" ? 😄 Wish I had something more concrete sorry!

[2019-10-29 17:22] SteveSandersonMS commented on #16570
Well this is very surprising. We almost never get bugs in the actual rendering system, but this really is one. It requires a very particular combination of things to trigger it. Will be fixed in https://github.com/aspnet/AspNetCore/pull/16640

[2019-10-29 17:39] #14791 closed

[2019-10-29 17:47] vsfeedback opened #16641 "Visual Studio 2019 Preview 4, wont compile a particular cshtml file."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/651648/visual-studio-2019-preview-4-wont-compile-a-partic.html)._

---
When compiled VS reports several errors on particular index.cshtml file. Other cshtml file compile with no problem. Several different error types are thrown To get a minimal case I removed all lines exce

[2019-10-29 17:49] vsfeedback opened #16642 "Renaming Model Property, doesn't get updated in cshtml"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/583449/renaming-model-property-doesnt-get-updated-in-csht.html)._

---
After renaming a property in my model class, it won't rename it in the view

---
### Original Comments

#### Visual Studio Feedback System on 5/27/2019, 01:57 AM:

<p>We have directed your feedback to th

[2019-10-29 17:54] JunTaoLuo commented on #14378
This was fixed in https://github.com/aspnet/AspNetCore/pull/14538. We have not yet gotten a build of it for verification though.

[2019-10-29 18:05] pranavkm commented on #16627
a) `<ValidationSummary Model="value" />` gets you some of the way, but the correct way to fix this would be to add the ability to specify a `FieldIdentifier` on` ValidationMessage`:
`<ValidationMessage Field="EditContext.Field(property.Name)" TValue="object" />`

The unfortunate part here is that `TValue` needs to be specified and has to be compile time expression for the generated code to correct

[2019-10-29 18:28] JunTaoLuo commented on #15415
Looks like it's a 3.1 candidate.

[2019-10-29 18:35] halter73 commented on #5351
@ddweber The doc link you posted is for version 2.2 of the Java client. In 3.0, [the Java client does support server-to-client streaming](https://docs.microsoft.com/en-us/aspnet/core/signalr/streaming?view=aspnetcore-3.0#java-client) which is all that's necessary for non-serialized hub invocations.

[2019-10-29 19:14] Lukiya commented on #15416
I figured out, this is a Safari cookie size limit issue.I stored too much claims. And the final authentication cookie exceed 4k its limit.
Chrome doesn't have this limit, that's why desktop works fine.

The interesting part is I dont' have this issue before I upgrade to core 3.0, I remember there's a cookie chunk mechanism, but somehow it doesn't work in Safari anymore.

[2019-10-29 19:14] legistek commented on #5466
I've built a pretty complex app running server side Blazor now, and it's working very well. (WASM through the IL interpreter, however, is so slow as to be unusable).

I'm really dying to know how it would run with compiled WASM.

If we ignore download size or compile time just for the time being, is there any way of AOT compiling a Blazor app to WASM yet and trying it out? Over at the mono repo (h

[2019-10-29 19:25] arafat198717 commented on #8980
Thanks you.
I got same problem but It was connecting string error, after correction of connecting string its working.

[2019-10-29 19:50] jan-johansson-mr commented on #16570
Thanks!!

[2019-10-29 19:50] aspnet-hello opened #16644 "Bad responses: DbMultiUpdateDapper, DbMultiUpdateEf, DbMultiUpdateRaw, MvcDbMultiUpdateDapper, MvcDbMultiUpdateEf"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| DbMultiUpdateDapper | Linux, Cloud, http, KestrelSockets | 2019-10-29 16:37:18Z | 270 |
| DbMultiUpdateEf | Linux, Cloud, http, KestrelSockets | 2019-10-29 04:32:09Z | 256 |
| DbMultiUpdateRaw | Linux, Cloud, http, KestrelSockets | 2019-10-29 16:36:33Z | 304 |
| MvcDbMulti

[2019-10-29 19:53] julienGrd commented on #16633
Hello Javier, its not a question but definitively à bug. With this behavior im unable To send the exception To my controller when i run my app in client side and this type of exception happen (i want To send it To controller To log it)
There is no reason this class cant be serialised.

[2019-10-29 19:54] rpskelton2 commented on #14646
Does this cover inheriting from a generic base class?  Last I tried code like below resulted in compiler errors.  If I put everything in the .razor file and don't use partial classes it compiles fine.

`
PropertyComponentBase.cs
public abstract class PropertyComponentBase<T> : ComponentBase
{
   blah...
}

MyComponent.razor
@inherits PropertyComponentBase<sometype>

MyComponent.razor.cs
public par

[2019-10-29 20:10] pheuter opened #16645 "ASP.NET Core 3.0 Blazor Server fails to load when deploying multiple servers"
### Versions
- ASP.NET Core - v3.0.0
- `Microsoft.Azure.SignalR` - v1.1.1 (deployed on Azure using Standard pricing and Default model)

### Startup Configuration
[code]

### Error
In the browser console:
[code]

### Additional context
This error only occurs when I deploy the ASP.NET Core app to multiple servers behind a load balancer. The docs seem to suggest that when using Azure SignalR Service,

[2019-10-29 20:18] jesusquintanilla opened #16646 "Blazor - StateHasChanged throw "the render handle is not yet assigned""
### I'm trying update de UI using StateHasChanged() method, but this throw

### Describe the bug
I use de JSInterop, first call a JS function, this function call a C# method, in this point all see good, but when add item at list, and try update, it not working

[code]

Started show Count 0, but not change to 1.

Console browser.

[code]

[2019-10-29 20:19] redshiftz commented on #16638
I tried the migration by adding
  <ItemGroup>
    <FrameworkReference Include="Microsoft.AspNetCore.App" />
  </ItemGroup>
to my extension project which is netstandard2.1
It throws the error NETSDK1 "The FrameworkReference 'Microsoft.AspNetCore.App' was not recognized."

[2019-10-29 20:36] Mikilll94 commented on #3700
@xsoheilalizadeh
Awesome!

[2019-10-29 20:53] andre-ss6 opened #16647 "QueryHelpers.AddQueryString throws ArgumentNullException when providing a dictionary with null values"
[code]

This throws an `ArgumentNullException` at
[code]

There are 3 issues with this:

1 - The [docs ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webutilities.queryhelpers.addquerystring?view=aspnetcore-3.0#Microsoft_AspNetCore_WebUtilities_QueryHelpers_AddQueryString_System_String_System_Collections_Generic_IDictionary_System_String_System_String__) for this method mention

[2019-10-29 21:16] dazinator commented on #9337
Some extended info about how I'd plan to use this feature (if `UseStartup<TStartup>° had an overload that took additional object instances to be used when activating the type) and also it covers why a lambda wouldnt be helpful to me)

During web app startup I commonly find I need to repeat certain tasks. For example, I like to configure a location where files can be persisted accross deployments.

[2019-10-29 21:19] Condra963 commented on #16628
You have for example bootstrap, when the HTML DOM is loaded, all bootstrap javascripts and all javascripts that you created will be loaded. But when i have elements inside my Blazor components that also needs to be initialized by these javascripts like hooking events and stuff like that i cannot use $(document).ready() of JQuery. I need to call the initlaization function specific for everything th

[2019-10-29 21:21] SteveSandersonMS commented on #16570
Reopening until PR is merged.

[2019-10-29 21:26] Exocomp commented on #14247
Running into the same issue, using CustomHubDispatcher derived from DefaultHubDispatcher and overriding DispatchMessageAsync to do some cross cutting concerns.  This changes forces me to spread code to hub methods which is not necessary/ideal. Looking forward to a better alternative.

[2019-10-29 21:27] pranavkm opened #16648 "Provide correct warning for incorrectly configured Auth middleware in chained method calls"
Context: https://github.com/aspnet/AspNetCore/issues/15203, https://github.com/aspnet/AspNetCore/pull/16639#issuecomment-547522901

[2019-10-29 21:33] Condra963 opened #16649 "Blazor: EditContextFieldClassExtensions unmodified field"
When we create a form, the default class of the input fields are already 'valid', even when the default value is 'invalid' the default class will already be 'valid'.

So the solution should be that you have 'valid' and 'invalid' class when submitted or modified, but when the form is just loaded the default class should not be 'valid' or 'invalid' yet.

This is the code part where it goes wrong:
[c

[2019-10-29 21:39] pranavkm commented on #16634
It's not unusual, but it certainly means you have to think about issues such as the one @Bojanema is running in to. Razor Pages has anti forgery on by default, although it's meant to no-op for requests without a form: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.ViewFeatures/src/Filters/AutoValidateAntiforgeryTokenAuthorizationFilter.cs#L25-L32.

@Bojanema, if enabled globally, dis

[2019-10-29 21:49] Condra963 opened #16650 "Blazor: InputText emit required attribute based on DataAnnotations"
Is it possible to make InputText depending on the linked DataAnnotations?

For example i have this fields:
[code]
or
[code]

If we see these attributes, like 'EmailAddress' and 'Password' and 'Required', we could easily add the attributes needed for these field, aren't we? Than our output would be auto generated like this:
[code]
[code]

These are examples, we can implement a lot more of course. N

[2019-10-29 22:08] mrpmorris commented on #16571
The click occurs after render, but are you storing the references away somewhere before that? Try the `Func<ElementReference>` approach and only evaluate them after rendering.

[2019-10-29 22:48] #11462 closed

[2019-10-29 22:53] rpc-scandinavia commented on #16571
@mrpmorris Thanks for your input.
Yes, the click occurs after render, and everything look okay in the browser when I inspect the markup code. When trying to pass a "Func<ElementReference>" to the @ref, I get a build error:

`Components/Templates/TemplateDefault.razor(47,77): error CS0029: Cannot implicitly convert type 'MatBlazor.MatMenu' to 'System.Func<Microsoft.AspNetCore.Components.ElementRefe

[2019-10-29 22:55] sayedihashimi opened #16651 "Counter in default Blazor Server template doesn't increment when using Edge on macOS Mojave"
### Steps to repro

 1. On a mac create a new blazor server project with `dotnet new blazorserver`
 1. `dotnet run`
 1. Open browser to url (https://localhost:5001) in Microsoft Edge
 1. Navigate to the Counter page (`/counter`)
 1. Try the `Click Me` button to increment counter

Expected: Counter is incremented on each click of `Click Me`
Actual: You have to do a SHIFT + Refresh on the page to ge

[2019-10-29 23:02] #6949 closed

[2019-10-29 23:10] ryanbrandenburg commented on #15314
Fixed by #14803.

[2019-10-29 23:10] #15314 closed

[2019-10-29 23:11] ryanbrandenburg commented on #14642
Fixed by #14803. Should go out with preview3.

[2019-10-29 23:11] #14642 closed

[2019-10-29 23:16] danroth27 commented on #16651
@sayedihashimi Could you please share the full output from the browser console, as well as the ASP.NET Core logs for the app?

[2019-10-29 23:38] danroth27 commented on #16645
@bradygaster @anurse

[2019-10-29 23:40] danroth27 commented on #16645
@pheuter Can you tell us more about your environment? Which load balancer are you using? Are the servers and load balancer on Azure or in a local environment?

[2019-10-29 23:56] rpc-scandinavia commented on #16571
I have been playing around and writing stuff to the console. Maybe I am wrong, but I suspect that there are some reuse of elements going on, when rendering.

My two languages have an unequal number of menus, and when I change from the language with few menu items to the language having many menu items, the first number of MatMenuReference classes do not get populated, when changing to the language

[2019-10-29 23:58] georgiosd commented on #15139
Thank you guys, I'll come back with questions when I get a chance to look at this.

[2019-10-30 00:19] sayedihashimi commented on #16651
@danroth27 sure, where can I find ASP.NET Core logs?

[2019-10-30 00:26] pheuter commented on #16645
Sure thing, @danroth27

3 servers is misleading. The actual environment is a Kubernetes deployment of replica size 3 on an AKS cluster, so it's really 3 pods potentially running across 3 VMs in a VNet managed by the AKS cluster. The load balancer is provisioned automatically on Azure using a Kubernetes Nginx ingress controller.

[2019-10-30 00:27] saborrie commented on #10170
@huzaynbolt

actually *yes
You can achieve this with the library I pointed out before: https://blazorstyled.io/

I know about the scoped css in Vue Loader (presumably that's what you're referring to) and it does the CSS isolation with data attributes to make the selectors unique:

so:
[code]

becomes:

[code]

Vue-Loader isn't Vue though, it's just one way of doing Vue. React has got a number of d

[2019-10-30 00:31] anurse commented on #16645
Could you enable tracing on the client side? We have docs on how to do this in SignalR here: https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-3.0 . I believe there's a way to access the necessary config options in Blazor but I don't know it off-hand (@pranavkm ?).

This indicates that the connection is being closed abruptly, possible a proxy.

Is Nginx [configured t

[2019-10-30 00:32] rpc-scandinavia commented on #16571
Okay, I actually got it to work. Still testing, but from my code abowe I changed the ".razor" file from:

[code]

To:

[code]

That is good news, and I will probably test more tomorrow.

[2019-10-30 00:32] anurse commented on #5351
I'd also suggest looking at our top-level client features matrix: https://docs.microsoft.com/en-us/aspnet/core/signalr/client-features?view=aspnetcore-3.0 it's a good way to view the supported features and which versions support them.

[2019-10-30 00:32] pheuter commented on #16645
@anurse I will setup the tracing shortly, just want to further clarify that everything works as expected when I simply change the Kubernetes deployment replica size to 1. This means that requests to that single pod are still routed through the same load balancer and nginx ingress controller, and the `wss://` connection appears to work just fine.

[2019-10-30 00:33] anurse commented on #16614
Yep, and I asked @mrtristan to file a new bug here. I'll put this in servers as well and we can help investigate further.

[2019-10-30 00:35] anurse commented on #16645
That does generally indicate the proxy is working fine. Thanks for that reminder of the context you provided above :). Let's get some tracing and see what that yields.

[2019-10-30 00:45] pranavkm commented on #16645
Here's how you configure the SignalR client that Blazor uses: https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.0#configure-the-signalr-client-for-blazor-server-apps

[2019-10-30 00:50] pheuter commented on #16645
Server-side logs:
[code]

Client-side logs
[code]

Possibly also worth noting that it works roughly a third of the time, which suggests that it doesn't like it when the WebSocket connection goes to a server other than the one that prerendered the initial view.

[2019-10-30 00:58] pheuter commented on #16645
Not sure if it's related but I'm also loading [Blazor.Polyfill](https://github.com/Daddoon/Blazor.Polyfill) before blazor.server.js for compatibility with IE11.

[2019-10-30 01:49] nguyenvanbien95 commented on #16627
This is just my temporary solution. I hope there is a better way to implement it in code base. Thank you for your detail explaining.

[2019-10-30 01:58] rpc-scandinavia commented on #16571
I was gone to bed, but got a thought.
Could it be that the @ref is only set on FIRST render - because when I change culture, the render is not FIRST in "OnAfterRender".

@javiercn, can I force a new FIRST render without F5 ?

Another thing I can try, is to move the entire titlebar menu to its own component, which then would be FIRST rendered when I change culture. Intreaging.

[2019-10-30 02:44] idrivediesel2006 commented on #10754
What is you're not using MVC, instead you're using Web API... What's the implementation for SignalR?

[2019-10-30 05:19] donhuvy opened #16652 "Package Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore 3.1.0-preview1.19508.20 is not compatible with netcoreapp3.0 (.NETCoreApp,Version=v3.0)."
### Describe the bug
Upgrade framework, all Nuget packages to 3.1, but fail when Publish.

### To Reproduce
Steps to reproduce the behavior:

Development environment

[code]

Tools: Microsoft Visual Studio Community 2019 Preview. Version 16.4.0 Preview 2.0
Type of webapp: ASP.NET Core 3.1 Blazor Server.

File `csproj`

[code]

### Expected behavior
In Visual Studio, can publishing web-app success.

[2019-10-30 05:31] #16652 closed

[2019-10-30 06:09] jerriep commented on #5011
Yeah, I agree with the last comment. I also got bitten hard by this recently and the fact that it simply fails silently is not good.

[2019-10-30 07:01] mrpmorris commented on #16571
Take your code, copy it, cut out code that isn't relevant to your problem, then keep cutting out code so it demonstrates the problem rather than performing its original purpose.

Then share it. I think that will help.

[2019-10-30 07:01] TheCamel commented on #16598
I don't know how to get the logs....

I can send you all my code if you want, it is simple : a vs2017 solution to build the hub and an eclipse folder to debug the "java client";

Start the index.html (open a hub client; copy/paste the java guid into the textbox and start "simulate client"; then start the java 'applet'. in the "client session" part : Press the 'detect plugin' button to see if ok; t

[2019-10-30 07:53] alikarooni commented on #16635
Thanks, fo comment.
In the client-side blazor, we have to register App.razor using "app.AddComponent<App>("app");" in the startup file which means we have to inject IComponentApplicationBuilder which we don't have this interface in the dot net core web applications. I have tried to import blazor dependencies in the project file. which leads to a conflict between blazor and aspnetcore dependencies.

[2019-10-30 08:00] SariDev opened #16653 "How to dynamically switch child content in blazor pages"
Hi everyone,

I have a **question** regarding dynamic swtiching of child content in a blazor page.

I already asked my question and my observations over at StackOverflow
[StackOverflow Question](https://stackoverflow.com/questions/58198638/how-to-dynamically-switch-child-content-in-blazor-pages)
but I had no luck getting an answer.

I also tried to ask @danroth27 directly via E-Mail but he's proba

[2019-10-30 08:04] davidfowl commented on #10754
The code above is the same.

PS: MVC is the same thing as Web API in ASP.NET Core. It's a single framework.

[2019-10-30 08:35] javiercn commented on #16647
@andre-ss6 thanks for contacting us.

@Tratcher this is in Http abstractions isn't it?

[2019-10-30 08:36] javiercn commented on #16645
@pheuter Thanks for contacting us.

From the error message I believe you don't have stickiness configured both on Azure Web Apps and SignalR Service.

[2019-10-30 08:42] javiercn commented on #16645
See `https://kubernetes.github.io/ingress-nginx/examples/affinity/cookie/` for how to enable affinity in the ingress controller and https://github.com/Azure/azure-signalr/blob/dev/docs/use-signalr-service.md#serverstickymode for details.

[2019-10-30 08:44] javiercn commented on #16646
@jesusquintanilla Thanks for contacting us.

You are instantiating the component yourself, hence so it's not initialized by the framework and hence you are seeing that error.

That is not a supported scenario as the framework controls the lifecycle of the components.

https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interop?view=aspnetcore-3.0

[2019-10-30 08:46] #16646 closed

[2019-10-30 08:49] javiercn commented on #16651
Replace `    <script src="_framework/blazor.server.js"></script>` with
[code]
Browser logs are on F12

Set this in appSettings.json
[code]
Server logs are on the console output

[2019-10-30 08:52] javiercn commented on #16650
@Condra963 thanks for contacting us.

The ask sounds reasonable.

@SteveSandersonMS do you have any thoughts? Would this be a good up-for-grabs?

[2019-10-30 08:54] javiercn commented on #16649
@Condra963 thanks for contacting us.

I believe at this point this would be a breaking change. I do believe MVC has a similar concept of "not validated yet" but I'm not sure if there's an alternative way to look that up.

@SteveSandersonMS knows more about this area.

[2019-10-30 08:58] javiercn commented on #16633
@julienGrd There's nothing involving Blazor here.

JsonException is a type from `https://docs.microsoft.com/es-es/dotnet/api/system.text.json.jsonexception?view=netcore-3.0` and you are trying to serialize it with JSON.NET which is a third party library too.

I suggest you either ask the corefx folks or the JSON.NET folks, but ultimately you can write a JsonConverter for it as in https://www.newto

[2019-10-30 09:03] javiercn commented on #16628
@Condra963 That's somewhat expected if you are wrapping a UI framework library with components.

A potential alternative to doing on the components would be to use the mutation observer API
https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver to detect changes on the DOM and init the components at that point.

[2019-10-30 09:04] #15413 closed

[2019-10-30 09:05] SteveSandersonMS commented on #16650
It’s certainly an interesting idea. We would need a whole new design for something that supplies extra attributes based on a model field. It’s not completely obvious how this should be designed, given that we’re not coupled to DataAnnotations and need to support extensibility to other validation systems. Further, consideration must be given to all possible mismatches between what’s representable i

[2019-10-30 09:08] Condra963 commented on #16628
@javiercn Ok, thanks for the alternative, yesterday i came up with the same thought that there should be another way to initialize it.

[2019-10-30 09:09] javiercn commented on #16635
@alikarooni that is possible by setting up the hosted app as a windows service.

Create a Blazor hosted app and follow the steps in here:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?view=aspnetcore-3.0&tabs=visual-studio

[2019-10-30 09:11] javiercn commented on #16650
Thanks.

I've moved it to the backlog and we can reconsider this in the future, as it's definitely not a 3.1 thing.

[2019-10-30 09:17] Condra963 commented on #16650
@SteveSandersonMS for now i made my own custom InputText as a quick fix, but this is coupled to DataAnnotations. Can i ask if there is a better solution to temporarily fix this? (The form-control class is just because i should not put it everywhere over and over again, it doesn't count for this request.)
[code]

[2019-10-30 09:20] ddweber commented on #5351
Oh my fault, sorry. I did not notice that my bookmark pointed to a fixed older version :(
Thank you both! :) I´ll give it a try.

[2019-10-30 09:22] javiercn commented on #15395
We are closing this issue as we haven't seen community engagement in a while. If new information is provided we will re-evaluate it.

[2019-10-30 09:22] #15395 closed

[2019-10-30 09:23] DanielLarsenNZ opened #16654 "Nullable string on base class is validated as required"
### Describe the bug
In ASP.NET Core 3.0 with `<Nullable>enable</Nullable>` a `string?` property on the base class of a Model is always validated as required. A `string?` property on the derived class is correctly validated as not required. With Nullable disabled the properties on both the base and derived classes are validated as not required.

### To Reproduce
Steps to reproduce the behavior:
1.

[2019-10-30 09:25] valeriob commented on #16637
I think i found the issue.
The DataProtection is saving the key in this folder :
Writing data to file '/root/ASP.NET/DataProtection-Keys/key-8d817850-b8b6-49e3-9ff5-1893dd89da06.xml'.
while the documentation says it should be created in the folder backed by the network storage, that in case of a linux container should be /home/ASP.NET/DataProtection-Keys

Looking at the code it should work :

[2019-10-30 09:33] javiercn commented on #16642
Tried this with 16.4 preview2 and doesn't repro.

I'm closing this as I can't reproduce the behavior and we need more info for further troubleshooting if necessary.

At least the Visual Studio version in use, and the technologies/frameworks in use. I've tried with Razor pages and 16.4 preview2.

[2019-10-30 09:33] #16642 closed

[2019-10-30 09:34] javiercn commented on #16641
We don't have enough information to troubleshoot this issue.

We would need a minimalistic repro so that we can troubleshoot the problem.

[2019-10-30 09:48] RaghuMasineni commented on #15370
@Tratcher - Thanks for the details. We may be upgrading our application to 2.* next year (2020).So We would like to implement getting real client ip with 1.1 itself for now.

Actually I have hosted application in local machine with out load balancer and accessed the  site from some other machine. Following is the result,

1) string IP = Request.HttpContext.Connection.RemoteIpAddress.MapToIPv4().To

[2019-10-30 10:14] javiercn commented on #16651
For the record, I don't repro this on Catalina. I don't have a Mojave machine available.

[2019-10-30 10:31] mohankumar91 opened #16655 "onclick event fired when disabled the icon button in blazor"
### Current behavior:

`@onclick` event fired when disabled the button (with icon) in blazor

### Desired behavior:

`@onclick` event not fired when disabled the button(with icon) in blazor

### Steps to reproduce: (app code and test code)

[code]

[code]

[code]

**Refer the below css file in **_host.cshtml** page**

https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.c

[2019-10-30 10:37] xiety opened #16656 "Blazor can not compile custom component named Input inside foreach and with RenderFragment parameter"
### Describe the bug
Custom component with name **Input** works fine until I've added **RenderFragment** parameter to it and put the component into a **@foreach** loop.

### To Reproduce
#### Page.razor
[code]
#### Input.razor
[code]
### Expected behavior
Compile without errors.

### Actual behavior
    error RZ1026: Encountered end tag "Input" with no matching start tag.  Are your start/end tags

[2019-10-30 10:52] andre-ss6 commented on #16647
I would like to fix this if it's simple enough for a first PR 😊

[2019-10-30 10:54] valeriob commented on #16637
Another info:
Kudu reports that the HOME environment variable has "/home" value, but with ssh inside the container i can see that the HOME env variable is indeed "/root".

[2019-10-30 11:18] jtattermusch commented on #15104
CC @jtattermusch

[2019-10-30 11:47] softlion opened #16657 "Unable to make XFBML work in a blazor app"
### Describe the bug
XFBML parsing using the facebook SDK does not work with a Blazor app. It never detects the tags.

![image](https://user-images.githubusercontent.com/190756/67855151-2f1e2a80-fb12-11e9-9ae6-29499f6de55a.png)

![image](https://user-images.githubusercontent.com/190756/67855245-5d9c0580-fb12-11e9-8145-2e5177b5bc7b.png)

I specifically tried the same facebook custom chat code on bo

[2019-10-30 11:53] javiercn commented on #16657
Thanks for contacting us @softlion.

It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow using the asp.net-core-blazor tag.

It is likely that you need to perform the initialization after the component has rendered on the page. See for details http

[2019-10-30 11:53] #16657 closed

[2019-10-30 12:07] softlion commented on #16657
I found the issue. Its not related to Blazor.

[2019-10-30 12:08] softlion commented on #16657
The FB SDK must NOT be included on the page with a code like this:

[code]

It must NOT be included at all.

[2019-10-30 12:37] javiercn commented on #15068
Fixed

[2019-10-30 12:37] #15068 closed

[2019-10-30 12:37] jdaless commented on #12601
I'm trying to get the user agent string in a server side app and running into the same issue. If not the HttpContextAccessor, what's the proper way to get info about the request in server side?

[2019-10-30 12:51] javiercn commented on #12601
Hi @jdaless.

**It looks like you are posting on a closed issue!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2019-10-30 12:56] Stamo-Gochev commented on #12088
@aaronhudon-ts  Can you share a repo that demonstrates your approach in https://github.com/aspnet/AspNetCore/issues/12088#issuecomment-528499976? I am still not able to make it work.

[2019-10-30 12:57] Ruard commented on #15312
For now I can workaround it by using a simple URL rewriter. In Startup.Configure:

    app.UseStaticFiles();

    app.Use(async (context, next) =>
    {
        var supportedCultures = new[] { "en", "de", "fr", "nl" };
        var hasCulture = supportedCultures.Any(c => context.Request.Path.StartsWithSegments(new PathString($"/{c}")));
        var hasQueryCulture = supportedCultures.Any(c => conte

[2019-10-30 13:03] javiercn commented on #16656
@xiety thanks for contacting us.

This is by design. You are trying to "override" an HTML element and that's not possible as HTML tags are case-insensitive. If you want to have a component named Input then you need to fully qualify its name.

If you switch that to the following it works as expected.
``
    <Namespace.Input><Lookup></Lookup></Namespace.Input>`
``

[2019-10-30 13:11] xiety commented on #16656
@javiercn, it seems to me that the error is not very informative.
And my original sample works normally if you remove only foreach or if you remove only RenderFragment. If this is by design that it should not work anyway.

[2019-10-30 13:15] javiercn commented on #16655
@mohankumar91 thanks for contacting us.

I've downloaded the example and I'm not able to reproduce the behavior you are mentioning. It just works for me.

Can you add more details like the output from `dotnet --info` and your visual studio version?

[2019-10-30 13:19] javiercn commented on #16654
@DanielLarsenNZ thanks for contacting us.

`Nullable` is a compile time feature and doesn't affect the ModelBinding behavior. Only produces compiler errors as appropriate.

@pranavkm can you confirm?

[2019-10-30 13:25] mrpmorris commented on #15439
Seeing as you are inside html the moment you write `<`, have you tried using html comment notation instead?

[2019-10-30 13:29] cpkuo opened #16658 "Modify Rewrite Middleware RewriteOptions rules collection after Startup runs"
Is there a recommended way to modify this rules collection after startup runs without having to store the RewriteOptions as a static variable before passing it to .UseRewriter(options)? The rewrite middleware builder extension method appears to call UseMiddleware<Rewriter>(Options.Create(_options)) but the returning options wrapper is not registered anywhere.

[2019-10-30 13:34] alikarooni commented on #16635
I have looked at it already.
I am going to describe the situation a bit in more detail if you bare with me.
first, Check this out https://hackernoon.com/aspnet-core-blazor-hosting-models-2c35330qz.
This guy explains all possible types of blazor. There is NO way to create a windows server to host blazorwasm client-side, the same way that we can create dotnetcore application in the link you have pro

[2019-10-30 13:37] alikarooni commented on #16635
I also create a blazorwasm project template and have put these lines :
<RazorLangVersion>3.0</RazorLangVersion>
    <OutputType>Exe</OutputType>
    <LangVersion>preview</LangVersion>
    <IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled>

into the project file. As you can predict, no exe file would create.

[2019-10-30 13:51] collina2019 opened #16660 "How to request custom resource which protected by identity server in angular identity template"
In asp.net core 3.0 angular , i can register a new resource like :
`"Resources": {
      "MyExternalApi": {
        "Profile": "IdentityServerJwt",
        "Scopes": "user.read"
      }
    }`

1.  how to make the angular application to require authorize the new resource (MyExternalApi).

2.  The default scope will add `xxxxAPI` , but why i haven't find the consent page ? Can i manally consent the

[2019-10-30 13:54] mohankumar91 commented on #16655
Hi @javiercn ,

Could you please click the **icon** in button.

VS Info:
1.Version 16.4.0 Preview 2.0
2. .Net core SDK 3.1.100- review1

[2019-10-30 13:57] los93sol commented on #13709
I think the issue is that Blazor simply doesn't interpret the behavior as expected.  I just started porting a bunch of our apps over and ran into this myself and was pretty surprised that it did not follow the same behavior we see in controllers and razor pages.  Not a big deal to resolve it, but the documentation should be updated at the very least with the information on how to make it work gene

[2019-10-30 14:04] javiercn commented on #16655
@mohankumar91 Thanks, I missed that detail

[2019-10-30 14:07] javiercn commented on #16655
I repro the behavior now and can confirm is a bug.

[2019-10-30 14:12] javiercn commented on #16660
@collina2019 thanks for contacting us.

Consent is not a feature we include in our integration, as its geared for "first party" scenarios where you trust all the clients to access all the resources.

If you want to have consent, then you need to configure identity server manually.

[2019-10-30 14:12] #16660 closed

[2019-10-30 14:16] IbrahimMaaty opened #16661 "Host grpc service in asp.net core 3?"
When Microsoft will be able to host Grpc service in asp.net core 3?

[2019-10-30 14:43] arex388 commented on #14574
So, I've been living around this issue by hacking the project file every time it threw, but yesterday it decided to rear its ugly head on the published version. I've finally resolved it by using more hacks. I took advantage of my Gulp configuration to watch the project that has the Razor views, and if they change to copy them to the project that's actually using them. This way they're compiled alo

[2019-10-30 14:52] pheuter commented on #16645
Thanks for the suggestion @javiercn, looks like you might be right. I'm going to give it a shot and report back,

Maybe this is just me not paying attention but the ASP.NET Core Blazor docs could probably make it clearer that there is additional setup involved to get sticky sessions working. The only documentation I found was [this section](https://docs.microsoft.com/en-us/aspnet/core/signalr/scal

[2019-10-30 15:13] Tratcher commented on #16658
No, that's not supported. Even storing the RewriteOptions and trying to modify it later is dangerous because that object is being used by multiple threads.

[2019-10-30 15:25] MarcusKohnert opened #16662 "OutOfProcess hosting not working while InProcess does"
### Describe the bug
We upgraded our application from 2.2 to 3.0.
With 3.0 the option to host OutOfProcess does not work anymore in our scenario. Interestingly the Application-Log-file says:
`"MessageTemplate":"Hosting started","Properties":{"EventId":{"Id":2},"SourceContext":"Microsoft.Extensions.Hosting.Internal.Host"}`
But responses are not generated and requests timeout eventually on the clien

[2019-10-30 15:36] vinklerradomir opened #16663 "Binding Dictionary<int, object> throws FormatException when no data is provided (except RequestVerificationToken)"
### Describe the bug
Using asp.NET CORE 3.0, when posting a form with no data except __RequestVerificationToken, and binding Dictionary<int, object>, POST returns 500 with an exception "FormatException: Input string was not in a correct format."

### To Reproduce
Steps to reproduce the behavior:
Using Asp.NET CORE 3.0 razor pages
Antiforgery is enabled

This is the razor view:
[code]

This is the

[2019-10-30 15:38] javiercn commented on #16645
@pheuter I'm glad that it worked out.

I'm closing this issue as the problem has been solved. I've filed an doc issue here https://github.com/aspnet/AspNetCore.Docs/issues/15392 to improve the documentation

[2019-10-30 15:42] mkArtakMSFT commented on #16663
Thanks for contacting us, @vinklerradomir.
@pranavkm can you please give this a try? Most probably this will be something we will fix in 5.0, unless something really very severe comes out of this.

[2019-10-30 15:42] #16645 closed

[2019-10-30 15:56] Paul-Dempsey commented on #14035
(originally from https://github.com/aspnet/AspNetCore.Docs/issues/15332 asked to move here by Rick Anderson)

I really appreciate the followup.

The key point in https://github.com/aspnet/AspNetCore/issues/14035 is this:

Which is disappointing. I’m hoping there are coherent plans to move to a full utf-8 string / json stack and avoid much of the transcoding and allocation in the pipeline (see Utf8

[2019-10-30 16:05] jesusquintanilla commented on #16646
Ok, i understand the lifecycle, (i believe), but how can i update the count? i try everything and not working.

Or another way to resolve this?

[2019-10-30 16:11] Pibe93 opened #16664 "Crankier error : A compatible installed .NET Core SDK for global.json version [5.0.100-alpha1-014696] from [global.json] was not found"
Good evening, I'm trying to run a stress test here in local development (dotnet run -- local --target-url https://localhost:44368/echo --workers 10)  to see how it works because then I'll have to run a stress test on the server on which to install my server project with Asp.net core 3 with Signalr to see how many connections I can keep connected but I get this error:
A compatible installed .NET Co

[2019-10-30 16:20] #15398 closed

[2019-10-30 16:28] matthewpetch opened #16665 "Form does not submit when pressing enter key with blazor server side"
### Describe the bug
Typically, a HTML form should submit when you have a `input` with `type="submit"` in the form. With Blazor, the form doesn't get submitted when pressing enter.

### To Reproduce
Steps to reproduce the behavior:
1. Create an EditForm
2. Add a text input
3. Add a submit input
4. when running, enter some text and press the enter key

### Expected behavior
Form is submitted, as if

[2019-10-30 16:29] bootcom-uk opened #16666 "Blazor EditForm element behavior"
### Describe the bug
Behavior of an html input inside a Blazor EditForm behaves differently to that in a normal html form.

### To Reproduce
Create an EditForm with 1 text box and 1 submit button.
Create an html form with 1 text box and 1 submit button.

### Expected behavior
I would expect pressing enter on both text inputs to elicit the same response

### Actual behavior
The HTML form when press

[2019-10-30 16:30] #16665 closed

[2019-10-30 16:30] javiercn commented on #16646
I would perform a JS interop call to the JS side to pass in a DotNetObjectReference with a reference to the current component and I would have an instance method that is JSInvokable and that does Invoke(() => StateHasChanged())

[2019-10-30 16:34] BrennanConroy commented on #16664
1. You first need to get the SDK for the repo, run "restore.cmd" in the root of the repository
1. Follow the instructions for using dotnet from the command line in the repo https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md#using-dotnet-on-command-line-in-this-repo

[2019-10-30 16:35] jkotalik opened #16667 "Allow ANCM out of process to keep the response connection header"
Internal customer ask. Customer wants the ability to keep the connection: close header on the response from Kestrel through ANCM. We can add a quirk mode that can be enabled in web.config to allow this behavior.

[2019-10-30 16:41] blowdart commented on #15416
@Tratcher did chunking go away in 3.0 for cookies?

[2019-10-30 16:43] blowdart commented on #15100
What database is identity configured to use? The writer database? What is the actual database behind it? SQL? mySQL? Something else?

[2019-10-30 16:46] pranavkm commented on #15372
Closing this. This isn't blocked and we can reconsider this based on user feedback.

[2019-10-30 16:46] #15372 closed

[2019-10-30 17:02] #14754 closed

[2019-10-30 17:05] javiercn commented on #16572
Nope.
That requires configuration in Identity Server.

It might be doable if those things get tackled on to the ApiAuthorizationOptions.Clients

[2019-10-30 17:09] pheuter opened #16669 "VS Code Razor syntax highlighting and intellisense not working"
### Screenshot
![Annotation 2019-10-30 130044](https://user-images.githubusercontent.com/92698/67880818-c638b180-fb15-11e9-8c52-731f0a550720.png)

### Versions
* Visual Studio Code:
[code]

* **ms-vscode.csharp** extension - 1.21.5
* ASP.NET Core using Blazor Server - 3.0.0

### Additional Context
Same ASP.NET Core Blazor Server app works fine with proper Razor syntax highlighting and intellisense

[2019-10-30 17:32] pranavkm commented on #15414
@johngallardo it's non-trivial for MVC to determine if a specific value from a value provider doesn't map to any inputs. Model binding isn't designed for a scenario like this. However, for your specific scenario, it should be easy to write a filter that verifies that all incoming query string parameters match one of the action parameters:

[code]

[2019-10-30 17:35] pranavkm commented on #14067
@gorrilla10101 feel free to reopen once you have more specifics about what you're attempting to do here. As noted in @rynowak's comment, this isn't a supported scenario.

[2019-10-30 17:39] Yori1 commented on #16572
That's unfortunate
If I can't communicate with separate APIs from the ClientApp SPA, do I understand correctly that that means there's no way to add a claim to the jwt token used in communication between included SPA and template-included API in this template as it is?
Even if adding fully customized claims is impossible, since this is a template that is supposed to integrate with an EF DbContext,

[2019-10-30 17:42] javiercn opened #16670 "[commandline-tools] dotnet dev-certs improvements"
The tool has aged quite a bit and while it gets the job done we might want to improve it in some aspects to react to the customer feedback we've seen so far.

[2019-10-30 17:48] Tratcher commented on #15312
Thanks @ryanbrandenburg. @Ruard that should address everything here. Let us know if you have additional questions.

[2019-10-30 18:09] RehanSaeed commented on #11050
This should be listed as a breaking change in the docs. I came here because the following working code now throws:

[code]

I personally prefer the strongly typed class and am not sure why the convention based approach is pushed in this instance when it isn't for `Controller`'s.

[2019-10-30 18:16] martonx opened #16672 "CORS not working in Asp.Net Core 3.0"
I want to enable CORS with Asp.Net Core 3.0 API project. This is the basic generated Asp.Net Core Api template. Everything is default from the template, except I added CORS settings from the documentation: Enable Cross-Origin Requests (CORS) in ASP.NET Core

Here it is my Startup.cs
[code]

And these are my response headers:
![image](https://user-images.githubusercontent.com/407433/67886422-b2a73e

[2019-10-30 18:30] rpskelton2 commented on #14646
👍

[2019-10-30 18:44] DanielLarsenNZ commented on #16654
Nice. Thank you!

[2019-10-30 18:50] javiercn commented on #5579
@SteveSandersonMS and I have chatted about this. We think that the current best solution for this is to do it manually instead of using bind, as there's more complexity involved and would likely require compiler changes.

[code]

[2019-10-30 18:59] jzabroski commented on #11050
@RehanSaeed  Welcome to my world, where most of ASP.NET has become pleasant save for a few small issues, like this insane one where you have to "know" the signature of the Startup class and can't just hit <kbd>control</kbd>+<kbd>.</kbd> in order to generate the correct interface to implement, and then instantly get your integration tests working for almost free.

Maybe someone  will one day change

[2019-10-30 19:01] jzabroski commented on #11050
I think the part that annoys me most about this whole thing is we went from WebExtensionEx Nuget package and literally not needing to care at all about how our Startup is constructed _unless we really cared to customize it_, to this mess.  It went from something most people didn't even have to care about, to something most people can't just implement an interface to get going with.

[2019-10-30 19:13] anewton opened #16675 "Template razorclasslib is no longer named correctly in the .Net Core 3 SDK."
### Bug/Issue
The default template for **razorclasslib** when using .Net Core 3 only, and when attempting to add Asp .Net Core Razor pages (.cshtml not .razor) to a Pages folder in the generated project, will not build because a reference to Microsoft.AspNetCore.Mvc v2.2.0 is not included.  The template is incorrectly named **razorclasslib**.  The **razorclasslib** template only supports Blazor pa

[2019-10-30 19:23] Condra963 commented on #16628
@legistek well you can solve it with a simple solution. It's something simular that bootstrap uses.
[code]

instead of

[code]

This solved it for me.

[2019-10-30 19:27] legistek commented on #16628
Ahh, that should help too. Thanks @Condra963!

(But I still think it would make sense to have Blazor be able to run arbitrary JS when it's done with a render rather than have to use an event subscription).

[2019-10-30 19:50] wvpm opened #16676 "Asp Net Core 3 regression: FromBody no longer supports IDictionary"
I have the following class

internal class PostData {
        public IDictionary<string, string> Data { get; } = new Dictionary<string, string>();
        public string Text { get; set; } = string.Empty;
/*omitted extra properties*/
    }

I send it to the following controller
[HttpPost("Next")]
public async Task<IActionResult> Next([NotNull] [FromBody] PostData postData) {
	/*implementation omitt

[2019-10-30 19:50] Condra963 commented on #16628
@legistek i don't think that's necessary because normally you would use $(document).ready() or something simular, you just replace it with $(document).on('DOMSubtreeModified'). This also would be requested if we would add and remove DOM elements with javascript directly instead of blazor.

I can be wrong, but i interprete it like this.

[2019-10-30 19:54] BrennanConroy commented on #16672
You only get CORS headers for requests to a different domain. So if your site was hosted at localhost:5002 and the web page was provided by a server at localhost:5001.

And the CORS headers will only show up in the OPTIONS request that the browser will make for you when it notices a cross-domain request.

[2019-10-30 19:55] MarkStega commented on #5579
That's exactly how I have my radio buttons implemented; It certainly works but isn't very 'pretty'. I'd still like to see bind working sometime in the future but it obviously isn't a showstopper.

[2019-10-30 20:00] martonx commented on #16672
So what should I do for working CORS? Is it working based on documentation or not?
![image](https://user-images.githubusercontent.com/407433/67894116-30724600-fb58-11e9-8d60-f81387e2b7d1.png)

Like here? Where should I see CORS headers?

[2019-10-30 20:16] ctorx commented on #4905
I second the request by @sebastienros.  There should exist a method for calling async methods on a custom RazorPage base class somewhere in the request lifecycle so that async operations can be performed before any RazorPage is rendered.  One example of this would be data necessary for various aspects of an application but that is not specific to a given page.

[2019-10-30 20:33] anurse commented on #14528
@pdhermann-bws based on [your comment on the Mozilla bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1570222#c57), it sounds like this was a Firefox issue and is now resolved as of Firefox 71 (in beta right now). Is that correct? Do you need additional action from us?

[2019-10-30 20:39] davidfowl commented on #11050
An interface is completely reasonable. It just can’t be the same IStartup (I think i mentioned this already). So we can look at that. The thread kinda digressed into throwing stones at the other approach.

So I’ll rename this thread to something constructive so we can make progress.

[2019-10-30 20:40] pranavkm commented on #16675
@anewton you can pass in the `-s|--support-pages-and-views` switch to `dotnet new` to produce a class library that's equivalent to the RCL produced from 2.2. From the help for the `dotnet new razorclasslib`

[code]

Out of curiosity, why is your CI automating creating new project files?

[2019-10-30 20:46] pranavkm commented on #13996
@mkArtakMSFT putting this back in 3.1.0-preview3. It's a fairly small fix.

[2019-10-30 20:49] pranavkm commented on #16676
@wvpm could you include the payload you're sending? The difference you're seeing is very likely due to the change in the JSON serializer being used by MVC in 3.0 (https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#jsonnet-support), but it would be good for us to understand what's causing the noted difference.

[2019-10-30 20:56] wvpm commented on #16676
@pranavkm I updated the original post with the body.

[2019-10-30 21:03] MarkFl12 commented on #15256
I find myself in need of Byte binding on InputNumber. Like @embayyub I have Byte properties on my entity models, so having them be Byte all the way through seems rather sensible?

[2019-10-30 21:07] pranavkm commented on #16672
@martonx did you update your startup to include the `https://www.google.com` domain before you made this request?

[2019-10-30 21:15] pranavkm commented on #16676
I think the issue might be the missing setter on the `Data` property. System.Text.Json's deserialization ignores properties without public setters when deserializing which might explain the outcome you're seeing.
/cc @steveharter \ @ahsonkhan

[2019-10-30 21:18] anewton commented on #16675
@pranavkm  Thanks, I'm just seeing that now.  I missed that now in .Net Core 3, the flag is needed when using razorclasslib to get the RCL produced from 2.2.

My CI is not creating new project files.  The upgrade from .Net Core SDK 2.2 to 3.0 broke my build when I changed the version of the .Net Core SDK used in the yml file.  It was unclear what needed to change in the csproj for the RCL based on

[2019-10-30 21:23] anewton commented on #16675
Related issue:  [Rename Razor Components back to server-side Blazor](https://github.com/aspnet/AspNetCore/issues/8931?WT.mc_id=-blog-scottha)

[2019-10-30 21:32] HaoK commented on #10299
@blowdart after looking at this a bit, given that there is no `PersistKeysToAzureKeyValue` unlike `PersistKeysToDbContext` or `PersistKeysToAzureBlobStorage`, I believe the current behavior is probably intentional, in that you have to manually persist the key to azure key value, and then it will work fine

[2019-10-30 21:35] HaoK commented on #10299
That said I could be confused, so could you take another look @blowdart :)

[2019-10-30 21:39] Rick-Anderson commented on #5011
@rynowak  is it possible to generate an error?

[2019-10-30 21:47] martonx commented on #16672
@pranavkm yes, sorry now I edited original codes with google added.

[2019-10-30 21:54] anewton commented on #16675
Specific commit that implemented razorclasslib -s flag: [[Templating] Razor class library for components](https://github.com/aspnet/AspNetCore/commit/6827bb74436760aa3bb20934a1a1da4933062acb)

[2019-10-30 22:01] martonx commented on #16672
Oops, I have only one working solution, but at least I found this combination. It seems only app.UseCors (and options inside) can cause real changes in CORS behaviour.

[code]

[2019-10-30 22:21] JunTaoLuo commented on #13587
@HaoK I believe you're tracking this work item?

[2019-10-30 22:23] pranavkm commented on #16638
@redshiftz you'll need a 3.0 compatible SDK (https://dotnet.microsoft.com/download). In addition, you have to target `netcoreapp3.0` or later. Please follow the migration guide I linked earlier.

[2019-10-30 22:26] brockallen commented on #16572
Why not just use the native config API of IdentityServer to achieve the configuration you need?

[2019-10-30 22:37] Paul-Schroeder commented on #7419
In case anyone else stumbles upon this, I solved an issue where I thought the page wouldn't reload data based upon the parameters in the URL / Querystring changing.  What worked for me was overriding the "OnParametersSetAsync()" event handler (instead of code I had in the "OnAfterRenderAsync(bool firstRender)" event handler.  For example:

[code]

Note, I added the locking code because I was origi

[2019-10-30 22:46] pheuter opened #16682 "ASP.NET Core 3.0 Blazor Server app does not start when adding browser logging"
I'm trying to add the [BlazorExtension.Logging](https://github.com/BlazorExtensions/Logging) library to my ASP.NET Core 3.0 application and I'm getting the following error that suggests some circular dependency issue between `IJSRuntime` and `BrowserConsoleLogger `:

[code]

Error goes away as soon as I remove the call to `.AddBrowserConsole()`.

### Versions

- ASP.NET Core Blazor Server app - v3

[2019-10-31 00:25] HaoK commented on #13587
Yep, just need to setup the triggers

[2019-10-31 00:30] blowdart commented on #10299
That seems odd, but also kind of makes sense, as you want to limit privileges to keyvault. Is it documented anywhere though?

[2019-10-31 01:14] kelsosharp opened #16684 "Cannot build arcade, due to incorrect MSBuild Version specified in build.ps1"
If you follow the instructions here: https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md

You will get a version requirement error, its using, and reference to a package location that does not exist.

C:\Users\Dell\\.nuget\packages\microsoft.dotnet.arcade.sdk\1.0.0-beta.19517.3\tools\Tools.proj : error : Version 5.0.100
-alpha1-014696 of the .NET Core SDK requires at least ver

[2019-10-31 05:44] Rambalac commented on #14855
Core 3.0 does not deserialize Json array as HashSet in the model. Looks like it expects that any json array should be IList. Workaround is to make model as IList.
Strange, because System.Text.Json does not have such HashSet issue by default.

[2019-10-31 06:58] span commented on #10299
Interesting. From [the docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.dataprotection.azuredataprotectionbuilderextensions.persistkeystoazureblobstorage?view=aspnetcore-3.0)

I would expect the data protection system to persist the keys.

Looking at the remarks they say:

So nothing about creating the file manually, only the container.

[2019-10-31 07:31] Daniel15 opened #16686 "Inject dependencies into SignalR hub method"
Is there a way to inject dependencies into a SignalR hub method, similar to how we can use `FromServicesAttribute` with ASP.NET MVC to inject a service into an action method? I tried just listing the dependency in the method signature but got an error "Failed to invoke foo due to an error on the server"

### API

[code]

### Alternative names

EnableImplicitFromServiceParameters
InferFromServicePa

[2019-10-31 08:05] alikarooni commented on #16635
https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#single-file-executables

The link that you have sent to me just works for .netcoreapp. but when you run "dotnet new blazorwasm" the template framework is netstandard2.0.
that's why it raises an error while publishing. and that's why I said you cannot make an .exe file from blazorwasm client-side.

Do you have any more idea?

[2019-10-31 08:06] davidfowl commented on #16686
No there isn't. It's something we could look at in the future though.

[2019-10-31 08:48] Stamo-Gochev opened #16687 "Blazor localization not working"
### Describe the bug
I am trying to localize a custom component (the component itself, not the page it is displayed in), but the `.resx` files are not being used at all.

### To Reproduce
Steps to reproduce the behavior:
1. Clone the repo at: https://github.com/Stamo-Gochev/blazor-test-localization
2. Try to change the culture using the dropdown, e.g. from "English" to "Francais".

### Expected be

[2019-10-31 08:56] javiercn commented on #16572
@Yori1

Have you tried
[code]

That would get you the IS Api object so that you can further tweak it.

[2019-10-31 09:02] campersau commented on #16687
Using resource files will create additional satellite assemblies which aren't downloaded by blazor.
But you can embedd them in the main assembly. See https://github.com/aspnet/AspNetCore/issues/15270

[2019-10-31 09:14] FalconWu2017 opened #16688 "MvcRazorCompileOnPublish is not available in netcoreapp3.0"
I have include `<MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>`into .csproj file,and then publish project.
but *.View.dll is generated.

[2019-10-31 09:29] SteveSandersonMS commented on #16655
Fixed in https://github.com/aspnet/AspNetCore/pull/16671

[2019-10-31 09:29] #16655 closed

[2019-10-31 09:32] mohankumar91 commented on #16655
@SteveSandersonMS  When available this fix?

[2019-10-31 09:41] maurei commented on #15373
Tried to use `WebApplicationFactory` in a test with an external startup class as in https://github.com/aspnet/AspNetCore.Docs/issues/7063#issuecomment-414661566, but the error persists.

[2019-10-31 09:47] javiercn commented on #16688
@FalconWu2017 thanks for contacting us.

It is likely a result of removing runtime compilation by default in ASP.NET Core 3.0. I believe we will always generate the dlls with views on build.

Can you give us more info about why you want/need this? See https://github.com/aspnet/Announcements/issues/343 for the announcement

[2019-10-31 09:51] javiercn commented on #16666
@bootcom-uk thanks for contacting us.

@SteveSandersonMS thoughts?

[2019-10-31 10:01] ianpowell2017 commented on #4706
Any plans for this available in .net core 2.2 and below?

[2019-10-31 10:03] SteveSandersonMS commented on #16655
It will be included in the 3.1 Preview 3 release

[2019-10-31 10:07] SteveSandersonMS commented on #16666
@bootcom-uk What do you mean by "submits the form"? Do you mean "issues an HTTP GET/POST request and loads the response as a new page"?

If so, that's not what `<EditForm>` is for. `<EditForm>`, when submitted, triggers .NET event handlers, i.e., whatever you've configured as the `OnSubmit`/`OnValidSubmit`/`OnInvalidSubmit` callback parameters for the `<EditForm>`.

It *does* trigger those callbac

[2019-10-31 10:07] mohankumar91 commented on #16655
Thanks for your information @SteveSandersonMS

[2019-10-31 10:18] sm15455 opened #16689 "HtmlHelper.Editor method not working with collections"
### Bug
HtmlHelper Editor method erroneously render a property of an object in a collection. EditorFor method works correctly.

### To Reproduce
Steps to reproduce the behavior:
1. ASP.NET Core 3.0.0, Windows 10, Visual Studio 16.3.7
2. Create a new Project
3. Create class MyItemViewModel:
[code]
3. Create class MyViewModel
[code]
4. Create an action that populates the view model and returns a vie

[2019-10-31 10:20] javiercn commented on #15239
I validated this with the latest nightly.

[2019-10-31 10:20] #15239 closed

[2019-10-31 10:20] kosmakoff opened #16690 "IContractResolver must be passed to ConversionResultProvider methods in JSON Patch library"
### Bug description
The entry point of JSON Patch library - the `JsonPatchDocument<TModel>` class - receives an instance of `IContractResolver`. This instance is later passed everywhere to resolve various parts of the patched entity. But when it comes to actual patching of model it won't pass the contract resolver to the `ConversionResultProvider` methods, thus deserializing the value with the `De

[2019-10-31 10:27] SteveSandersonMS commented on #16650
What you're doing here looks mostly fine to me.

The one bit that's quite weird in the code is `OnParametersSet` removing and re-adding event handlers - not sure why it does that.

[2019-10-31 10:34] SteveSandersonMS commented on #16632
Thanks @arivoir, that's a really going point. It's not useful for `InvokeVoidAsync` to serialize its return value at all, since the .NET side is going to ignore it anyway. I'm reopening this and putting it on the backlog.

[2019-10-31 10:35] geotinc commented on #14754
Your last answer help me a lot...

In fact, Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation was only refrencered in my RCL project (because I have an extension class that do .AddMvc().AddRazorRuntimeCompilation().

I thought that if the RCL library reference the dll, It's not needed to reference the DLL in main app too...

It should be great to add a better exception :-)

Thanks a lot ;-)

[2019-10-31 10:37] #16666 closed

[2019-10-31 10:37] bootcom-uk commented on #16666
Thank you for your response @SteveSandersonMS

[2019-10-31 10:38] kosmakoff commented on #16690
It also correlates with issue #2972 as in my solution I also would pass the contract serializer down to all `IAdapter`s in order to simplify the adapters' code by removing the `IContractSerializer` parameters from them.

[2019-10-31 11:47] Tratcher commented on #4706
No, as a rule we do not backport new features or API. We haven't even scheduled this for a future release yet. That said, you should already be able to write app code for this in 3.0. If somebody works out a sample we'd be happy to add it to the docs.

[2019-10-31 11:47] wangpengzong commented on #5621
have the same problem here, I can see the error message only when debugging.

My friend told me that there may be the following reasons:
1. Changed the code inside the delegate;
2. Introduced a new namespace;

But these two actions in the project can not be avoided, how to solve?

![image](https://user-images.githubusercontent.com/29770198/67944350-3a0eb300-fc17-11e9-9219-2a49404682da.png)

[2019-10-31 11:52] chadrickm commented on #5503
Because "value" is being repurposed (which is a bad idea in my opinion) you cannot do the
`<input value=@MyProperty onchange=@(eventArgs => { MyProperty = eventArgs.NewValue; DoSomethingElse();  }) />` @SteveSandersonMS suggestion [(here)](https://github.com/aspnet/AspNetCore/issues/16229#issuecomment-380415799) to have both a value and an onchange. There are also suggestions that we use the @bind

[2019-10-31 12:28] legistek commented on #5466
Just to follow up, I wound up trying out the Uno WASM bootstrap using WSL (described [here](https://platform.uno/how-to-build-webassembly-c-apps-with-the-mono-aot-and-windows-subsystem-for-linux/)) and it really works quite well. This issue here is still marked as BLOCKED and while I know they're still working on reducing payload size that doesn't seem like it should be blocking work on an AOT bui

[2019-10-31 12:42] legistek opened #16692 "GC is too Aggressive in Blazor WASM, Degrading Performance"
I'm not sure if this is a Mono issue, a Blazor issue, or both, but I suspect a lot of the performance problems I've been having with interpreted WASM are the result of the GC being too aggressive. My test application experiences long (maybe 0.5-1s) pauses periodically during significant DOM updates and the browser console reveals that these always correspond to GC events:

![image](https://user-im

[2019-10-31 12:45] javiercn commented on #16690
@kosmakoff thanks for contacting us.

@pranavkm you are more familiar with the area. Do you have any thoughts on this?

[2019-10-31 12:45] javiercn commented on #16689
@sm15455 thanks for contacting us and thanks for providing a repro project.

We'll have a look at it and get back to you.

[2019-10-31 12:57] legistek commented on #16692
Maybe related to https://github.com/aspnet/AspNetCore/issues/5617?

[2019-10-31 12:59] pranavkm commented on #14754
Great that it worked out. Starting in 3.1-preview2, this requirement is removed. Referencing the RuntimeCompilation package in the RCL should suffice. Your current setup should continue to work without issues.

[2019-10-31 13:08] javiercn commented on #16692
@legistek thanks for contacting us.

We will be focusing on blazor wasm in the coming weeks/months and will take a look at this.

[2019-10-31 13:08] javiercn commented on #16692
I'm closing this issue in favor of https://github.com/aspnet/AspNetCore/issues/16692

[2019-10-31 13:09] javiercn commented on #5617
See https://github.com/aspnet/AspNetCore/issues/16692 for the GC being too aggressive as a potential outcome of this.

[2019-10-31 13:10] #16692 closed

[2019-10-31 13:10] pocki commented on #13166
I had a similar problem with Server Side Blazor in an ASP.NET Core MVC App: `_framework/blazor.server.js` not found

Problem was a change of `app.UseStaticFiles();`

**Working:**
`app.UseStaticFiles();`

**Not working:**
[code]
What is the correct StaticFileOptions configuration to work with blazor?

[2019-10-31 13:12] javiercn commented on #16687
@Stamo-Gochev thanks for contacting us.

Can you provide a minimal repro for your issue?

We have end to end automation for this area, so I suspect there must be a mismatch in the docs or in what you are doing.

@rynowak is probably the right person to look at this.

[2019-10-31 13:15] Stamo-Gochev commented on #16687
@javiercn Yes, the link to the repo is listed in the steps to reproduce. Here it is:
https://github.com/Stamo-Gochev/blazor-test-localization

[2019-10-31 13:31] legistek commented on #5617
I'm sure it's related, but the GC might be too aggressive even leaving aside the memory limits. Even with memory usage in the 20-30MB range I'm getting frequent, blocking GCs:

![image](https://user-images.githubusercontent.com/13384523/67950969-a6a69500-fbb8-11e9-9835-1823080d7a00.png)

Incidentally I tried `GC.TryStartNoGCRegion` during render tree building but I wound up with `NotImplementedExc

[2019-10-31 13:33] bryancass opened #16693 "Migrating from core 2.2 to 3.0... where is SelectList?"
I followed the instructions at https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30 to migrate my asp.net core projects from 2.2 to 3.0.

I have all build errors resolved except one.  I am getting this error:
Severity	Code	Description
Error	CS0246	The type or namespace name 'SelectList' could not be found (are you missing a using directive or an assembly reference?)

In Core 2.2, I had

[2019-10-31 13:35] BrianLytle opened #16694 "How to change the SignedOutCallbackPath?"
I notice that the SignedOutCallbackPath is hardcoded in the AccountController. Is there a way to use a custom URL for the SignedOutCallbackPath?

[2019-10-31 13:42] pheuter commented on #16682
Noticed the `blazor-wasm` tag was added, just wanted to clarify that this is only an issue when using the Server hosted model. It appears to work fine when using wasm.

[2019-10-31 13:48] javiercn commented on #16687
@Stamo-Gochev Thanks, I didn't see it the first time.

[2019-10-31 13:49] javiercn commented on #16694
@BrianLytle thanks for contacting us.

Can you provide more details on what authentication you are using?

[2019-10-31 13:57] BrianLytle commented on #16694
Does this help?

            services.AddAuthentication(AzureADB2CDefaults.AuthenticationScheme)
                    .AddAzureADB2C(options => Configuration.Bind("AzureAdB2C", options));

[2019-10-31 14:04] ceee commented on #15018
You don't have to remove, but **add** `.AddRazorRuntimeCompilation()`, otherwise views will be compiled at build-time, which is the default in ASP.NET Core 3 and is most probably the desired option for production.

Here is an example of my code (I am querying for the watcher in Startup.cs):

[code]

The environment variable was found in the [command line options](https://github.com/aspnet/AspNetCo

[2019-10-31 14:14] mjrousos opened #16695 "Feature request: Make RouteData or HttpContext available on AuthorizationHandlerContext"
### Is your feature request related to a problem? Please describe.
Prior to endpoint routing, AuthorizationHandlerContext's resource property was of type `AuthorizationFilterContext` from which it was possible to RouteData, HttpContext, etc.

Now, with EndpointRouting, `AuthorizationHandlerContext.Resource` is of type `RouteEndpoint` which describes the endpoint the call is going to, but doesn't i

[2019-10-31 14:15] mjrousos commented on #16695
@shaulbehr

[2019-10-31 14:18] RehanSaeed commented on #14035
Please consider re-opening this for 3.1.

[2019-10-31 14:19] bryancass commented on #16693
Nevermind, I figured it out.  This was mentioned on the migration 2.2 to 3.0 page:

- Projects that target Microsoft.NET.Sdk or Microsoft.NET.Sdk.Razor SDK, should add an explicit FrameworkReference to Microsoft.AspNetCore.App

My solution has 3 projects, the main one targeting Microsoft.NET.Sdk.Web, but the other two targeting Microsoft.NET.Sdk.  The two that target Microsoft.NET.Sdk need that Fr

[2019-10-31 14:21] Condra963 commented on #16650
I updated my previous comment because the previous code had still some issues. I think now i covered it all.

[2019-10-31 15:35] javiercn commented on #16695
@mjrousos thanks for contacting us.

For triage, see related https://github.com/aspnet/AspNetCore/issues/15372

[2019-10-31 15:48] mjrousos commented on #16695
Thanks, @javiercn. Count this as another vote for that addition, then :)

[2019-10-31 16:24] pranavkm commented on #16688
This might be a bug in the SDK:

https://github.com/aspnet/AspNetCore-Tooling/blob/3ed4e871790a9a56ea617cca6659033d0918a1d2/src/Razor/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Sdk.Razor.CurrentVersion.targets#L177-L180

The evaluation order seems to be incorrect. We have tests for this, but they aren't set up correctly to identify this: https://github.com/aspnet/AspNetCore-Tooling/blob/a833

[2019-10-31 16:28] javiercn commented on #16688
@pranavkm Would you take care of this?

[2019-10-31 16:28] generik0 opened #16698 "Question: Why? Microsoft.AspNetCore.NodeServices 3.0.0 is not compatible with netstandard2.1"
HI

Why is:
Microsoft.AspNetCore.NodeServices 3.0.0 is not compatible with netstandard2.1?

Then it can not be used in a class lib?

[2019-10-31 16:34] PaulParker opened #16699 "Why are ASP.net Core auth cookies bigger than MVC5 cookies?"
Adding a certain json user data claim and calling `HttpContext.SignInAsync()` on ASP.net Core V3 leads to multiple chunked cookies of size 4k each.

However, adding the same json string and calling `IOwinContext.Authentication.SignIn()` on MVC5 / Microsoft.Owin V3.0.1 generates only one cookie that's much smaller than the 4k limit.

Is this the expected behavior? If so, why is the new cookie so mu

[2019-10-31 16:37] layomia commented on #14855
This issue has been fixed in release/3.1 (https://github.com/dotnet/corefx/pull/41523). cc @pranavkm

@niemyjski, can you please use the 3.1-preview1 (or master) build and verify the fix?

https://www.nuget.org/packages/System.Text.Json/4.7.0-preview1.19504.10

You can reference the latest master System.Text.Json NuGet package from https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json

[2019-10-31 16:37] mkArtakMSFT commented on #16682
Thanks for contacting us, @pheuter.
The library you depend on requries an ILogger, which results in a circular dependency. You should follow up with the referenced library owner to get that fixed.

[2019-10-31 16:46] mkArtakMSFT commented on #16689
Thanks for contacting us, @sm15455.
Would you like to send us a PR for this? We'll happily consider it.

[2019-10-31 16:48] mkArtakMSFT commented on #16688
Thanks for contacting us, @FalconWu2017.
We'll consider fixing this during 5.0 timeframe.

[2019-10-31 16:51] mkArtakMSFT commented on #16672
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-10-31 16:51] #16672 closed

[2019-10-31 16:58] NTaylorMullen commented on #16669
Hey @pheuter thanks for the report! Honestly shocked coloring was the only issue you encountered with remote development 😄 . We've yet to add full support for remote development and are tracking that work here: https://github.com/aspnet/AspNetCore/issues/14331

That being said, your issue would have reprod even outside of remote development and is due to our language grammar not being complete yet

[2019-10-31 16:58] #16669 closed

[2019-10-31 17:05] phsamudev opened #16701 "CORS not working properly after 2.2 -> 3.0 migration"
My team has an .NET Core API solution that communicates with an Angular project.

We migrated our .NET Core solution from 2.2 to 3.0 recently. Everything is working as it should in our local environment (localhost ports), we had a few minor issues that were easily solved.

However when pushed our code to a remote server we started getting the following CORS error:

**Access to XMLHttpRequest at 'h

[2019-10-31 17:06] generik0 commented on #16698
@mkArtakMSFT your annoucment link does not specify anything about NodeServices package.
One would expect that not service is a class lib, and hence netstandard2.1

[2019-10-31 17:07] davidfowl commented on #16698
https://github.com/aspnet/AspNetCore/issues/12890

[2019-10-31 17:15] blowdart commented on #16699
We encrypt then sign using a different method now.

[2019-10-31 17:26] Feroks commented on #5466
@legistek did you build your app or something else? How much better is the performance? Do you have some metrics to share? Asking out of curiousity.

[2019-10-31 17:38] legistek commented on #5466
I built a subset of my app and then just ran some performance metrics since I couldn't run the whole thing without Blazor bootstrapping.

For math (random number generation and simple arithmetic) I found AOT to be about 40x faster than interpreted.

What I was really interested in were things I knew would be inefficient like reflection and string manipulation. My app has a custom data binding fram

[2019-10-31 17:45] pranavkm opened #16702 "Consider an analyzer that warns if ConfigureServices contains parameters other than IServiceCollection"
Having a `ConfigureServices` like `public void ConfigureServices(IServiceCollection services, IWebHostEnvironment env)` results in a runtime error. A startup analyzer could additionally flag this as an error.

[2019-10-31 17:55] FanrayMedia opened #16703 "Enable auto recompile of a Razor Class Library during development"
### Is your feature request related to a problem? Please describe.
One of my pain point developing Asp.net Core apps is that the changes to the views inside a Razor Class Library is not automatically picked up. Here are the steps to produce my issue.

1. Use VS2019 and create one WebApp
2. Create a Razor Class Library with a Razor Page, say Page1.cshtml
3. Reference the RCL in the WebApp
4. Ctrl +

[2019-10-31 18:03] halter73 commented on #16686
FWIW, the lifetime of the hub is typically only the duration of a Hub method invocation. I think the same is true for Controllers and Actions for that matter. So ctor injection might not look as nice, it should work more or less the same.

[2019-10-31 18:07] #16623 closed

[2019-10-31 18:08] jkotalik commented on #16623
Seems like your question has been answered. Feel free to reopen if you have more questions.

[2019-10-31 18:09] #16617 closed

[2019-10-31 18:09] #16613 closed

[2019-10-31 18:09] jkotalik commented on #16617
These are running.

[2019-10-31 18:09] jkotalik commented on #16613
These are running.

[2019-10-31 18:11] jkotalik commented on #16609
Dup of https://github.com/aspnet/AspNetCore/issues/15422

[2019-10-31 18:11] #16609 closed

[2019-10-31 18:14] jkotalik commented on #15404
@blowdart thoughts on allowing the client to pin certs? From what I heard, this is very fragile in Auth.

[2019-10-31 18:15] halter73 commented on #15095
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-10-31 18:15] #15095 closed

[2019-10-31 18:15] halter73 commented on #15054
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-10-31 18:15] #15054 closed

[2019-10-31 18:16] halter73 commented on #15010
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-10-31 18:16] #15010 closed

[2019-10-31 18:16] blowdart commented on #15404
We've avoided it, because yes, cert pinning is horrible fragile, and is being deprecated, but we could just expose a custom validator and let people do it if they want, as well as supporting self signed certs that way.

[2019-10-31 18:32] Daniel15 commented on #16686
The issue is if each hub method requires different dependencies, you end up with a giant constructor :)

I haven't tested but I guess injecting the IServiceProvider into the constructor would work, then I could use that or ActivatorUtilities in the hub method.

[2019-10-31 18:33] jkotalik commented on #15359
Dup of https://github.com/aspnet/AspNetCore/issues/14569

[2019-10-31 18:33] #15359 closed

[2019-10-31 18:50] jkotalik commented on #16662
@MarcusKohnert is the port changing each time your app tries to start? Otherwise, were a bit stumped. Can you provide other event logs?

[2019-10-31 18:55] jkotalik commented on #15384
@davidfowl ping

[2019-10-31 19:01] PhilippeAuchlin commented on #16684
Got exactly the same problem executing the build or start script.

[2019-10-31 19:07] Pilchie commented on #14727
@anurse - this is sitting in the 3.1.0-Preview2 milestone.  Can you get it updated?

[2019-10-31 19:08] Pilchie commented on #14089
Moving to Preview 3, since there  is no way for this to happen by Preview2.  @rynowak - any ideas here?

[2019-10-31 19:09] Pilchie commented on #11064
@JamesNK started a mail thread about this, so assigning him.  Moving to the 5.0.0-preview1 milestone as well.

[2019-10-31 19:09] GrabYourPitchforks commented on #16699
The ASP.NET Core DataProtection stack shouldn't add _that_ much overhead per signature. The payload format is documented at https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/implementation/authenticated-encryption-details. It's only a few dozen bytes per invocation.

Did the contents of the auth cookie also change between MVC 5 and ASP.NET Core v3?

[2019-10-31 19:10] Pilchie commented on #10970
Moving to P3, since it's too late for P2.  What's the state of this for P3?

[2019-10-31 19:10] Pilchie commented on #13762
Moving to P3, since it's too late for P2.

[2019-10-31 19:11] Pilchie commented on #5345
@anurse is this still happening?  It's in the preview2 milestone and unassigned.

[2019-10-31 19:12] Pilchie commented on #14657
Moving to 3.1, since we're going to look at it before 5.0, but probably out of band from 3.1 itself.

[2019-10-31 19:14] Pilchie commented on #4019
@mkArtakMSFT did this for node dependencies. Do we think we have more to do here for 3.1?  @anurse ?   @JunTaoLuo ?

[2019-10-31 19:16] HaoK commented on #10970
This seems like something safe to move to 5.0 @ajcvickers @blowdart

[2019-10-31 19:18] HaoK commented on #13762
@blowdart we should move this to a different milestone since this is a doc issue, and not tied to a release

[2019-10-31 19:19] HaoK commented on #13762
Actually we should probably just close this, since there's a docs issue tracking: https://github.com/aspnet/AspNetCore.Docs/issues/14232

[2019-10-31 19:19] #13762 closed

[2019-10-31 19:30] Stamo-Gochev commented on #16687
@mkArtakMSFT The issue I referenced mentions that limited functionality is supported, including `IStringLocalizer` https://github.com/aspnet/AspNetCore.Docs/issues/13436:

This is part of the docs at: https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#use-net-localization-scenarios-in-blazor-apps

IStringLocalizer<> is supported in Blazor apps.
IHtmlLocalizer<>, IVi

[2019-10-31 19:31] blowdart commented on #16699
It's taking the user principal, but we now save more properties than we used to, issuer of claims and other stuff to make it hydrate better

[2019-10-31 19:33] pranavkm commented on #13204
The SDK change is in for 3.1.0-preview3. This requires a corresponding VS change that lands in 16.5 P1.

[2019-10-31 19:33] #13204 closed

[2019-10-31 19:47] tim241 opened #16705 "Blazor Razor issue"
### Describe the bug
It seems like hooking up a C# function with html inside it to a button `OnClick` event breaks

it displays this when clicking the button:
[code]
### To Reproduce
Steps to reproduce the behavior:
* install `Microsoft.AspNetCore.App 3.0.0`
* create a `blazorserver` project
* try this code:
[code]
* run the `blazorserver`
* click the `Click me!` button

### Expected behavior
I wa

[2019-10-31 20:22] BrennanConroy commented on #12401
Test marked flaky https://github.com/aspnet/AspNetCore/blob/4a7bf75e89e3dfe7264a641ed041f50788d28d20/src/Servers/Kestrel/test/InMemory.FunctionalTests/ResponseTests.cs#L2544

[2019-10-31 20:33] oferns opened #16709 "Why is DynamicViewData internal?"
is there any reason this class is internal? I want to write a custom base class to replace the abstract ViewComponent class. I want to return a different ViewViewComponent result, one that is localized and opinionated about the view location in a different way to the embedded convention, so the code is a copy/paste job, but this class is internal and I cant understand why.

https://github.com/aspn

[2019-10-31 20:35] mrpmorris commented on #16705
Does it work if you change `@{` to `@code {`

[2019-10-31 20:37] tim241 commented on #16705
@mrpmorris if I replace `@{` with `@code {` I get
[code]

[2019-10-31 21:11] blowdart commented on #15143
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-10-31 21:11] #15143 closed

[2019-10-31 21:11] blowdart commented on #15142
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-10-31 21:11] #15142 closed

[2019-10-31 21:13] blowdart commented on #15138
Identity uses that as a half hop between external login types and the eventual login scheme it will use.

Why are you wiring up all those events? Is there an actual need here? Why don't the normal helper classes work for your scenarios?

[2019-10-31 21:14] blowdart commented on #16694
Can you scaffold the b2c controllers into your app, and then redirect from within that?

[2019-10-31 21:16] GrabYourPitchforks commented on #16699
Ah, that'd explain it. Thanks for the info. :)

[2019-10-31 21:18] Shiko1st commented on #14723
Have the same problem after migration to core 3, visual studio is 16.3.7

[2019-10-31 21:18] blowdart commented on #15032
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-10-31 21:18] #15032 closed

[2019-10-31 21:19] blowdart commented on #14861
We're closing this issue as the behaviour discussed seems to be by design.

[2019-10-31 21:19] #14861 closed

[2019-10-31 21:21] halter73 commented on #14727
I'm the one who tentatively put this into preview2. I know it's getting pretty late to change this, and the only functional impact is the extra first-chance exception and warning log AFAIK, so I'm going to tentatively put this into preview3. @anurse by all means feel free to move the milestone again.

[2019-10-31 21:21] Condra963 commented on #16650
@SteveSandersonMS there is still an issue with my solution, the fields getting validated in all way now. But when i submit my form and there is a field invalid the form still thinks it's valid. I'm trying to figure out why the form still thinks it's invalid. Can you tell me what i missed?

[2019-10-31 21:25] JamesNK commented on #11064
### Reasons

1. Verify ASP.NET Core/Kestrel changes in the next .NET Core release aren't accidentally breaking gRPC
2. Verify gRPC runs on HttpSys/IIS (note: grpc-dotnet build server is Linux only so not possible to test there)

2 is particularly important. HttpSys work is happening now and it takes a long time to get changes in Windows. If we need changes then we have to discover them now and tel

[2019-10-31 21:38] javiercn commented on #16709
@oferns thanks for contacting us.

We normally don't make any type public if we can avoid it unless we determine there is useful in some common scenario, as it increases our maintenance cost and prevents us from making changes in the future.

[2019-10-31 21:42] NTaylorMullen commented on #15226
Can't reproduce

[2019-10-31 22:04] halter73 commented on #16686
That should definitely work, but I understand that's far from ideal.

[2019-10-31 22:16] danroth27 commented on #16675
Hi @anewton.

We added a flag instead of a new template for Razor component libraries because both scenarios involve setting up a class library to compile Razor files, and we didn't want to create confusion about which template you should use when working with Razor. If you're looking to build some Razor components and you see a Razor Class Library template should you use it or not? Keeping one te

[2019-10-31 22:16] #16675 closed

[2019-10-31 22:29] Condra963 commented on #16650
Ok, everything is working fine, it is just the CompareAttribute that is failing. But there are some ongoing issues i have seen.

[2019-10-31 22:29] danroth27 commented on #9256
We think we should make auto refreshing the browser by default and provide an option to prompt the user to do it instead, like we do today. We could enable this option during development so that the error state is not lost.

[2019-10-31 22:34] danroth27 opened #16718 "Ensure we resolve assemblies against the correct core framework libraries when linking Blazor WebAssembly apps"
See https://github.com/mono/mono/issues/16765#issuecomment-548113936 for details.

[2019-10-31 22:45] anewton commented on #16675
Thanks @danroth27 for the response.  I went the long way around to figure out what my build issue was during upgrading.  But it did come back to this area of change.

I really disagree with the push to Blazor as a replacement for Razor Pages.  That is what it seems like from your comment that, "we expected that this would be a more common scenario".  It seems to me that a Razor Class Library proje

[2019-10-31 22:52] aaronhudon-ts commented on #12088
@Stamo-Gochev Are your resource files in the same project, under the folder "Resources"?  This also assumes Server-Side Blazor.

[2019-10-31 22:55] anurse commented on #4019
The latest versions of these have breaking changes, so we'll need to handle this as part of #14657 .

[2019-10-31 22:56] anurse commented on #5345
Nope, I'll unmilestone it and we'll schedule for 5.0 (and backport if we feel we need the coverage in 3.1.x).

[2019-10-31 23:04] danroth27 commented on #16675
I agree! Blazor is not a replacement for MVC or Razor Pages. Blazor is specifically for client web UI development, the kind of stuff that you used to have to use JavaScript for. Blazor works together with MVC and Razor Pages. You can add Blazor components to your existing pages and views. You use MVC and Razor Pages to handle prerendering in Blazor apps. They're built to be used together.  While

[2019-10-31 23:19] anewton commented on #16675
I guess if the direction we are headed in is to combine Razor Components, Razor Pages, and View Components in a Blazor app, then it feels like it should be a separate template and razorclasslib should have been left alone.  But then again, I can probably build my own template if I really want to.  Anyway, good to know Blazor is not a replacement for MVC or Razor Pages.  Btw, I updated the repro st

[2019-10-31 23:19] #15226 closed

[2019-10-31 23:25] Tratcher opened #16721 "Blazor Individual Accounts Page Logout link doesn't work"
### Describe the bug
The logout link on https://localhost:44318/Identity/Account/Manage doesn't work,
This looks like a regression caused by https://github.com/aspnet/AspNetCore/pull/12419/files, which changed some of the logout links but not others.

_Login_artial.cshtml:
`<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/LogOut">Logout</a>`

LoginDisplay.razor:
[code]

### To

[2019-10-31 23:41] BrianLytle commented on #16694
@blowdart - That would be fantastic! However, I don't know how to do that. When you say "scaffold", that leads me to believe you are talking about an automated way to create the controllers.

[2019-10-31 23:47] Pilchie opened #16722 "Build Core Angular Application Failed"
_From @adarsuma on Thursday, October 31, 2019 2:42:34 PM_

I am creating  new .NETCORE 3 ASP.NET Web application with Angular template. No code changes yet, and tried to build the solution.

Error that comes up:
network request to https://registry.npmjs.org/core-js/-/core-js-3.0.1.tgz failed

Tried to run the solution for the second time and it was unable to load the page with the following messag

[2019-10-31 23:47] Pilchie commented on #16722
_From @scalablecory on Thursday, October 31, 2019 11:06:01 PM_

@Pilchie is this one of yours?

[2019-10-31 23:55] danroth27 opened #16723 "Attribute value missing warning in Blazor Server template"
In *_Host.cshtml*:

[code]

Which results in an "Attribute value missing" warning for new Blazor Server projects.

![image](https://user-images.githubusercontent.com/1874516/67993695-3e2ed680-fbff-11e9-8298-b62ca3e9fe3a.png)

[2019-11-01 01:19] khteh commented on #15138
That's a very good question. Why not? I don't write that piece of code if they are not needed.

[2019-11-01 01:57] pranavkm commented on #16723
Dup of https://github.com/aspnet/AspNetCore-ManualTests/issues/39. This is being fixed by https://github.com/aspnet/AspNetCore/pull/16719

[2019-11-01 01:57] #16723 closed

[2019-11-01 01:59] ionelanton opened #16726 "href anchor in Blazor page with @page "/somepage" resolves to "/""
Hello,
I have the following Blazor page:

When I go to https://server/somepage I expect to see the following link for the anchor: https://server/somepage/# but instead I see: https://server/#

Is this the expected behavior?

Thank you!

[2019-11-01 03:02] blowdart commented on #16694
Hmm apparently you can't, that brings in normal identity.

@HaoK do we own the B2C templates or does Azure?

[2019-11-01 03:03] mareklinka opened #16728 "Using EnableRewind with XML Formatters throws"
### Describe the bug
In ASP.NET Core 3.0 enabling request rewind when also using the XmlSerializer formatter leads to an exception `Synchronous operations are disallowed. Call ReadAsync or set AllowSynchronousIO to true instead.`.

### To Reproduce
1. Create a fresh ASP.NET Core 3 Web API project
2. Add support for the XmlSerializer formatter
3. Enable rewind on all requests
4. Create a POST actio

[2019-11-01 04:10] rui-ktei commented on #12890
We also use INodeService to invoke Node function. Why? Because in our case we want to manipulate raw JSON string and we need some important functions from lodash, though our service is written in C#. I don't know why you're deprecating NodeService package; I almost feel offended by this rude and inconsiderate decision actually.

[2019-11-01 04:15] rui-ktei commented on #12890
And also, why NodeServices is under AspNetCore namespace to begin with? I feel this really makes no sense. Let's say I'm building a CLI (Console app) and want to invoke some JS functions, why the heck do I have to introduce AspNetCore to my project??

[2019-11-01 04:20] rui-ktei commented on #12890
@danroth27 My team uses NodeServices for some backend work. Only having Spa extensions means you're dumping the support for all the backend support for interaction between csharp and node? That's not thoughtful at all.

[2019-11-01 05:08] johnnyoshika commented on #12890
@rui-ktei I'm working with the Microsoft team to spin NodeServices into a community project. This seems like an important library for you and I could use some help. Are you willing to help?

[2019-11-01 05:22] Stamo-Gochev commented on #12088
@aaronhudon-ts They are, the problem seems to be that localization of blazor components is not currently supported https://github.com/aspnet/AspNetCore/issues/16687#issuecomment-548461295

[2019-11-01 05:44] mahabirsingh-kis commented on #14608
Hello @davidfowl

I have updated the Visual Studio 2019 and the above error gone, but the AutomaticReconnect is not working work. Whenever there is connection timeout error (from SQL end), Signarl R stops working and it is not reconnecting.

const connection = new signalR.HubConnectionBuilder().withUrl("/Test").withAutomaticReconnect([0, 2000, 10000, 30000, null]).configureLogging(signalR.LogLevel

[2019-11-01 05:48] davidfowl commented on #14608
@mahabirsingh-kis can you open a new issue?

[2019-11-01 05:53] mahabirsingh-kis opened #16730 "Discussion: .net Core3.0 SignalR AutomaticReconnect not reconnecting after Connection Timeout"
The AutomaticReconnect is not working. Whenever there is a connection timeout error (from SQL end), Signarl R stops working and it is not reconnecting.

const connection = new signalR.HubConnectionBuilder().withUrl("/Test").withAutomaticReconnect([0, 2000, 10000, 30000, null]).configureLogging(signalR.LogLevel.Information).build();

Thanks

[2019-11-01 05:53] mahabirsingh-kis commented on #14608
@davidfowl created : https://github.com/aspnet/AspNetCore/issues/16730
Please have a look

[2019-11-01 05:58] davidfowl commented on #16730
Where does SQL come into the picture? Did you turn on client side logs? See the diagnostic guide for help https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-3.0

[2019-11-01 06:17] huan086 opened #16731 "Controller Action that returns non-success HTTP status code is invoked twice"
### Describe the bug
A controller action that returns non-success HTTP status code that is re-executed by `UseStatusCodePagesWithReExecute` is invoked twice.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0
2. Run this code

[code]

[code]

3. With these arguments `returnUrl = "a"`
4. See error
See that IndexAsync is called initially with `returnUrl == "

[2019-11-01 06:19] huan086 commented on #16731
Looks like this has been fixed for .NET Core 3.1
https://github.com/aspnet/AspNetCore/pull/14531

[2019-11-01 06:19] #16731 closed

[2019-11-01 06:23] mahabirsingh-kis commented on #16730
I am using MSSQL as database and whenever there is a change in the data in a table in the database I am using SignalR to track the change and reflect into the UI. Whenever the application faces a connection timeout with the database the SignalR stops working and not reconnecting

[2019-11-01 06:25] StragaSevera commented on #12890
I was fond of UseWebpackDevMiddleware, and it would be very sad to see it vanish into oblivion.

[2019-11-01 06:46] GGAlanSmithee commented on #12890
@johnnyoshika where does this project reside? What kind of help are you looking for?

[2019-11-01 06:57] alikarooni opened #16732 "Make an exe file from blazorwasm (blazorclient-side) project"
Is there anyone to answer my question properly.

I am gonna start by a question: which one of the following scenarios I am able to implement?

publishing blazorwasm client-side into exe file( instead of using IIS or apache or Nginx) so I can run it as a windows service

OR

Embedding a dot net core app and blazorwasm client-side (not server side which I know about it already) into the same project

[2019-11-01 07:03] mrpmorris commented on #16705
Sorry, I've only just realised what you are doing.

A method cannot execute html, so you should not put html in there.

Instead do something like this

[code]

[2019-11-01 07:10] Yori1 commented on #16572
Sorry for the late response

I saw this method mentioned in the MSDN docs for the template, tried it at the time, but the method didn't exist.

Went into the source code, found out that services.ConfigureOptions<ApiAuthorizationOptions> might be a mistake in the docs, the only method that compiles for me (with 2 parameters) is services.Configure<ApiAuthorizationOptions>.

Tried to set up claims in

[2019-11-01 07:13] tim241 commented on #16705
[the docs state otherwise?](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.0#razor-code-blocks) (scroll down until the example with `RenderName`)

i.e this works fine, it only breaks when hooking it up to a button's `OnClick` event
[code]

[2019-11-01 08:16] javiercn commented on #16732
@alikarooni thanks for contacting us.

`dotnet new blazorwasm -ho` and publish single file executable for the host is the closest you are going to get. You need an HTTP server to serve the files.

You can run the web app as a windows service. See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?view=aspnetcore-3.0&tabs=visual-studio

[2019-11-01 08:18] javiercn commented on #16728
@mareklinka thanks for contacting us.

@Tratcher Can you help out here?

[2019-11-01 08:19] javiercn commented on #16726
@ionelanton thanks for contacting us.

We'll look into it and get back to you.

[2019-11-01 08:38] j0nimost opened #16734 "AddJsonFormatters missing in AddMvcCore"
### Is your feature request related to a problem? Please describe.
I am trying to do Access `AddJsonFormatters();`  from `AddMvcCore();`but the method is missing.

### Describe the solution you'd like
In previous versions of ASP.NET prior to Asp.Net 3.0 had support to add `AddJsonFormatters();` as shown below;
[code]
This allowed a developer to utilize the lightweight core package(`ASP.NetCore.Mvc

[2019-11-01 09:05] benzhi2011 commented on #15145
workaround I did [her](https://stackoverflow.com/questions/58414944/how-to-transform-connection-strings-in-app-config/58656568#58656568)

[2019-11-01 09:05] #15145 closed

[2019-11-01 09:30] mrpmorris commented on #16705
That's because the button click is actually executed in response to an event, the code you have above is run as part of the rendering process. You cannot "execute" HTML (which is what an event does).

[2019-11-01 09:34] tim241 commented on #16705
that makes sense, however I think the compiler should warn/error out when something like this is attempted just to make it clear it's illegal use of razor instead of crashing and showing a vague `TypeError: i is undefined` error.

[2019-11-01 09:51] Postlagerkarte commented on #15831
@SteveSandersonMS :

Where can find that issue? Or can you tell if the above workaround is still necessary?

[2019-11-01 09:58] Kahbazi opened #16735 "Remove null check for logger in HttpsConnectionMiddleware"
There's a null check for `_logger` in `HttpsConnectionMiddleware`

https://github.com/aspnet/AspNetCore/blob/0a61879cf75c4be2185587bc22ef778a2b8c9291/src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs#L203

and since `HttpsConnectionMiddleware` is internal and nowhere in the code a null `ILoggerFactory` is passed to its constructor, the null check could be removed.

[2019-11-01 10:39] javiercn commented on #16572
@Yori1 Sorry for the confusion.

Here is a sample of what I meant.

[angularclaims.zip](https://github.com/aspnet/AspNetCore/files/3797523/angularclaims.zip)

Startup
[code]

appSettings.json
[code]

[2019-11-01 11:04] javiercn commented on #16726
This is a bug I believe. In HTML it only appends the `#` sign to the current route, in blazor it strips the current path (and likely the query too).

See attached for a repro:
* Visit /Page.html and click the link
* Visit /counter and click the link

[hashtaglink.zip](https://github.com/aspnet/AspNetCore/files/3797602/hashtaglink.zip)

[2019-11-01 11:09] javiercn commented on #16721
@Tratcher i believe this has been fixed and it's already available on the latest nightly. (I tried to repro it just now and I couldn't).

What version are you using?

[2019-11-01 11:09] #16721 closed

[2019-11-01 11:10] javiercn commented on #16721
[code]

The login partial as scaffolded by the template

[2019-11-01 11:18] javiercn commented on #16722
@adarsuma thanks for contacting us.

What you see looks a lot like a (potentially transient) network error while restoring the packages for the templates. I would try a few things to see if any of them improves the situation.
* Navigate to /ClientApp and run `npm install` one or more times (if it fails the first time). Once it runs fine the first time you should be good to go.
* If `npm install` f

[2019-11-01 11:19] javiercn commented on #16703
@FanrayMedia thanks for contacting us.

We'll evaluate your feature request and come back to you.

@pranavkm Is that something that enabling Runtime compilation would fix?

[2019-11-01 11:33] colindekker commented on #14388
set the Project Sdk to `<Project Sdk="Microsoft.NET.Sdk.Web">`

[2019-11-01 11:40] javiercn commented on #16735
@Kahbazi thanks for contacting us.

@Tratcher @halter73 Up to you.

[2019-11-01 11:42] javiercn commented on #16734
@j0nimost thanks for contacting us.

This is an announced breaking change. See the following announcement for details and instructions. https://github.com/aspnet/Announcements/issues/49

@rynowak can confirm.

I'm closing this issue as the question has been answered.

[2019-11-01 11:42] #16734 closed

[2019-11-01 12:04] javiercn commented on #16732
Closing this issue as it's a duplicate of https://github.com/aspnet/AspNetCore/issues/16635

[2019-11-01 12:04] #16732 closed

[2019-11-01 12:09] Postlagerkarte opened #16737 "Blazor: Modify child content?"
Is there a simple way to modify the rendered child content?

Example:

[code]

MyComponent.razor

[code]

This outputs:

[code]

However, I want to wrap each passed li item in a special div or wrap another component around it.

So my desired output would be like this:

[code]

or

[code]

Is this supported?

[2019-11-01 12:10] soeleman commented on #16703
@FanrayMedia you can try using [dotnet-watch](https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch).
From your sample; change the __WebAppRazor.csproj__
![WebAppRazor csproj](https://user-images.githubusercontent.com/309413/68023783-d5b52780-fcda-11e9-98e9-bdd00fc2b01b.png)
and for easier run [dotnet-watch](https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch) add __l

[2019-11-01 12:11] j0nimost commented on #16734
Thank you

[2019-11-01 12:13] tiakun commented on #14453
By default, a service scope should be created for each check by HealthCheckService.

Checking serially is effective but it is more like workaround because checks should be able to run concurrently already just by having their own scope. Using only single scope for all checks like it is right now is also not safe, as the state of the services inside the scope might be altered by prior checks and it

[2019-11-01 12:24] alikarooni commented on #16732
Thanks for keep updating comments. I've read somewhere that blasorwasm is kind of in-process (the same as all .netcore3.0) and that's why you can only create a template using CLI and it is not in the visual studio new project dialog yet, but I think they would implement the part to creating an exe file from blasorwasm client-side without any requirement of combination, or I think they should think

[2019-11-01 12:26] alikarooni commented on #16635
After all, this could help a bit.

dotnet new blazorwasm -ho and publish single-file executable for the host is the closest you are going to get. You need an HTTP server to serve the files.

You can run the web app as a windows service. See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?view=aspnetcore-3.0&tabs=visual-studio

I've read somewhere that blasorwasm is kin

[2019-11-01 12:40] antifree commented on #2895
I decided not to create another one issue.
Current implementation (default) of WriteLineAsync in Asp.Net Core 3.0 causes
`InvalidOperationException when attempting to write to the response body – with a message “Synchronous operations are disallowed. Call WriteAsync or set AllowSynchronousIO to true instead.”`. In my opinion it is caused, because default implementation in `TextWriter` creates new

[2019-11-01 12:54] rui-ktei commented on #12890
@johnnyoshika , has this started already? I'd like to have a look and what kind of help are you looking for?

[2019-11-01 12:56] The-Nutty opened #16739 "Firefox shows "attempting to reconnect to server" after using NavManager.NavigateTo(ContinueUrl, true);"
# Describe the bug
I have a simple server side blazor page that when you click a button redirects away to another page. Once the button is clicked the page should redirect without any noticeable interruption from the users point of view. Instread when using firefox after clicking the button the page goes white and shows attempting to reconnect to server as if it has lost connection to the server.

[2019-11-01 13:08] kevingates commented on #13624
Any updates on this? Honestly, this what I am running into. We have clients, and we have an Enum for Suffix fields. This field could be null, or Sr., Jr., I, II, III, etc.

If no value is entered, we want it null in our database. it would be great if Blazor could handle this common situation.

[2019-11-01 13:10] kevingates commented on #13624
Only thing I would add is that I would want to have to add the "Required" attribute. I may want the value to be null if no data is entered.

[2019-11-01 13:15] javiercn commented on #16737
@Postlagerkarte thanks for contacting us.

I believe you could achieve this with a templated component. Check https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#templated-components

[2019-11-01 13:19] biradarsm commented on #13115
I am also getting the same error

[2019-11-01 13:30] mrtristan commented on #16614
@jkotalik is that `more-info-needed` to me?

[2019-11-01 13:46] antifree opened #16740 "HttpResponseStreamWriter WriteLineAsync can cause exception"
### Describe the bug
WriteLineAsync method of HttpResponseStreamWriter  in Asp.Net Core 3.0 can cause the following exception:

```InvalidOperationException when attempting to write to the response body – with a message “Synchronous operations are disallowed. Call WriteAsync or set AllowSynchronousIO to true instead.”```.

I think it occurs, because [default implementation on TextWriter](https://g

[2019-11-01 14:56] Tratcher commented on #16721
Yes I was using 3.0.0. Looks like it was fixed by #13679.

[2019-11-01 14:59] pranavkm commented on #16728
This is likely a dup of https://github.com/aspnet/AspNetCore/issues/16615. In 3.0, using `EnableRewind` or `EnableBuffering` requires the stream to be drained (or for sync IO to be allowed):

[code]

^ I haven't tried compiling the code, but this should be the gist of it. Starting in 3.1-preview2, you should no longer need to do this.

[2019-11-01 14:59] #16728 closed

[2019-11-01 15:07] pranavkm commented on #16703
@soeleman sounds like a pretty reasonable solution. The fix for VS issue is being tracked as part of this - https://github.com/dotnet/project-system/issues/3163 and it applies to rebuilding the project when VS notices changes to cs, cshtml or razor files in the referenced class library.

If you specifically care about cshtml files, an alternative to @soeleman's suggestion might be to involve runti

[2019-11-01 15:17] JakeWierzba commented on #8567
Has anyone had any luck getting this working?
I don't believe it its CORS (on the dotnet side anyway) as I have AllowAnyHeader() set on my policy.

[2019-11-01 15:21] javiercn commented on #16703
Closing this issue as a duplicate of https://github.com/dotnet/project-system/issues/3163 which will be the one tracking the only changes needed and an alternative option has been provided.

[2019-11-01 15:21] #16703 closed

[2019-11-01 15:24] #13996 closed

[2019-11-01 15:29] jkotalik commented on #16614
Apologies, misread the issue. Didn't realize this was forked from another thread.

@anurse has investigated these issues in the past. I'll let him follow up.

[2019-11-01 15:35] LaterStart commented on #5759
I would like to vote up for this feature. I think setting all existing application identifiers to configurable (in this case GUID) type should be possible.

[2019-11-01 15:47] vsfeedback opened #16744 "Debugging Core 3.0 ASP.NET MVC API very slow response"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/802114/debugging-core-30-aspnet-mvc-api-very-slow-respons.html)._

---
I just migrated one of our ASP.NET MVC Rest APIs from .NET Core 2.0 to .NET Core 3.0.  When debugging in Visual Studio 2019 and using Postman to call the end points it is taking well over 4 or 5 seconds

[2019-11-01 15:52] FanrayMedia commented on #16703
@javiercn @soeleman @pranavkm thank you all for your input!  Razor Class Library with Razor Page worked. However, now I have the same issue with a Razor Class Library that has Razor Component. My repo code https://github.com/FanrayMedia/UnboxingNetCore3/blob/master/WebAppRazor/Startup.cs#L42-L58

Here I'm mimicking the sample and adding both Razor Class Libraries in my Startup.cs, one with Razor P

[2019-11-01 16:04] mkArtakMSFT commented on #13487
We're closing this issue as we were unable to reproduce this behavior.
If you happen to have more information / sample project, which can help with reproducing this, please provide it and reopen the issue.

[2019-11-01 16:04] #13487 closed

[2019-11-01 16:04] iAmBipinPaul opened #16745 "Blazor Prerendering Issue with EF core"
### Describe the bug
Getting EF core exception when we have two `component A` and `Component B` where
`Component B` is added on` Component A` both component calls respective  service `Service A` and `Service B` on  `OnInitializedAsync()`.

like this I have register DbContext
[code]

### To Reproduce
Sample Project : [EFCorePreRenderIssue.zip](https://github.com/aspnet/AspNetCore/files/3798571/EFCo

[2019-11-01 16:05] mkArtakMSFT commented on #10498
@rynowak should this be closed as `fixed` ?

[2019-11-01 16:11] danroth27 opened #16746 "Blazor WebAssembly debugging instructions have flipped the browser specific user data directory paths"
With 3.1 P2 the instructions for Chrome point to the Edge path, and instructions for Edge point to the Chrome path:

![image](https://user-images.githubusercontent.com/1874516/68038623-9e695b00-fc87-11e9-9903-9fff403069a4.png)

[2019-11-01 16:12] mkArtakMSFT commented on #16744
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-11-01 16:20] mkArtakMSFT commented on #16739
Thanks for contacting us. One of our team members will look into this during 5.0 timeframe.

[2019-11-01 16:22] SteveSandersonMS commented on #16746
As part of fixing this, we'd also like to change the behavior so that it only shows the Chrome instructions if you're on Chrome, and only shows the Edge instructions if you're on Edge.

And if you're on neither, it should say that your browser isn't supported (which I think is already the case, or at least it used to.

[2019-11-01 16:22] #16737 closed

[2019-11-01 16:23] Postlagerkarte commented on #16737
@mkArtakMSFT @javiercn :

I believe templated components don't work for the above scenario.

There had been a request for getting more access to the RenderFragment #9493 which got a handful of upvotes before it was closed ( with the hint to might be done later )

@SteveSandersonMS was asking about use cases for getting access to the RenderFragement in the #9493 issue.

My current use case is allow

[2019-11-01 16:33] mkArtakMSFT commented on #16705
Thanks for contacting us, @tim241.
Markup in functions is not supported in .razor files at the moment. We will look into improving this experience in the future given more user feedback in this area.

[2019-11-01 16:33] #16705 closed

[2019-11-01 16:34] changhuixu opened #16747 "Add an extension method to allow WebHostBuilder to config IIS"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]

I am trying to remove the "Server" HTTP header, but there's no intuitive way to configure it in code. Please read this StackOverflow question and answers.
https://stackoverflow.com/questions/56102228/how-to-remove-server-header-in-as