[2019-06-19 15:37] anurse commented on #11372
ASP.NET Core SignalR definitely supports multiple hubs per server, but unlike ASP.NET SignalR these hubs **do not share connections**. This means that if you do connect to multiple hubs on the same page, the client will be using multiple connections. There's no inherent problem with that, it just means it takes two separate TCP connections.

In your case, since you only plan to connect to 1 hub at

[2019-06-19 15:39] anurse commented on #10927
@mikaelm12 can you do this validation for preview 7?

[2019-06-19 15:41] mikaelm12 commented on #10927
Yup, got it

[2019-06-19 15:43] anurse commented on #11145
Should be a simple find-replace job. @mikaelm12 you're still looking a little light for p7 ;).

My suggested replacement message is the following (just the addition of `or is out of date` to the error message):

[code]

The linked doc (https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl) looks fine and probably doesn't need an update.

[2019-06-19 15:47] mkArtakMSFT commented on #11357
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-06-19 15:49] mkArtakMSFT commented on #11357
Also, please be more specific about your problem. It's not clear what are the issues you're facing in the transition. Have you tried to follow to migration guidelines: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio

[2019-06-19 15:56] mkArtakMSFT commented on #11322
@pranavkm moving this to the `Discussions` milestone. If it turns out to be an issue on our end, please clean the milestone and we'll triage it.

[2019-06-19 16:02] smaglio81 commented on #10826
@anurse - Yes, there are running websites/apppools. The strange thing is that I've peformed this install on about a dozen other servers which also had running sites and it completed successfully. (Should I try one where I stop IIS?)

@jeiloff - Below is an image of the disk space available. The C: is the primary drive.

I did a restart on the machine, and tried the install again. It did not comple

[2019-06-19 16:02] davidfowl commented on #11362
Looks like it might be related to this https://github.com/aspnet/AspNetCore/issues/11233

[2019-06-19 16:05] Stamo-Gochev commented on #11338
@SteveSandersonMS @rynowak @javiercn Can you add some quick thoughts on the above as this is somewhat blocking for me. Is this approach valid in general?

[2019-06-19 16:18] Tratcher commented on #11233
It's cleanest if each middleware clears its own state in a finally block, or overwrites its state if re-executed.
Why is this check here?
https://github.com/aspnet/AspNetCore/blob/f45250ce5e423dad083fe99967a4d65782c5301e/src/Http/Routing/src/EndpointRoutingMiddleware.cs#L59-L64
In what scenarios would the endpoint be assigned before this?

[2019-06-19 16:19] davidfowl commented on #11233
Middleware can run before routing to skip the matching process, (like a future version of static files).

[2019-06-19 16:19] mkArtakMSFT commented on #11371
This issue was moved to mono/mono#15259

[2019-06-19 16:19] #11371 closed

[2019-06-19 16:20] BrennanConroy commented on #8718
FYI, this involves doing something about Json. One thought is to copy the source from cpprestsdk and clean it up a little (namespaces etc.). Then we can delay the refactored public API for adding `SignalRDOM` and keep Json on the API.

Or we can find a different Json library to use instead.

[2019-06-19 16:21] mkArtakMSFT commented on #11370
Thanks for contacting us, @xclud.
This is not something we plan to change.

[2019-06-19 16:21] #11370 closed

[2019-06-19 16:24] BrennanConroy commented on #6930
Hello, we don't track closed issues. If you are seeing a problem please open a new issue with the details and we can try to help.

The more info you include in the issue the easier it will be for us to help out. Here is a document explaining some of the ways to get more info to include in issues https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2

[2019-06-19 16:24] Tratcher commented on #11233
Note for static files the plan is to move it into the matching process, not before.

[2019-06-19 16:24] mkArtakMSFT commented on #11367
This issue was moved to mono/mono#15260

[2019-06-19 16:24] #11367 closed

[2019-06-19 16:29] pranavkm commented on #11369
@sbwalker you have to explicitly tell Blazor to intercept navigation. Here are the relevant pieces of code in the default Router that you would have to replicate:

* https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/Routing/Router.cs#L28

* https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/Routing/Router.cs#L141-L151

`OnLocationChanged` al

[2019-06-19 16:31] davidfowl commented on #11233
@Tratcher That's good, replace static files with a middleware that sets the endpoint metadata for a different reason.

[2019-06-19 16:34] mkArtakMSFT commented on #11338
Thanks for contacting us, @Stamo-Gochev.
@SteveSandersonMS what would be the recommended approach here?

[2019-06-19 16:38] mkArtakMSFT commented on #11323
Thanks for contacting us, @MaherJendoubi.
We don't currently support using Blazor with Electron.Net. Consider contacting folks @ https://github.com/ElectronNET/Electron.NET for help on this.

[2019-06-19 16:38] #11323 closed

[2019-06-19 16:42] mkArtakMSFT commented on #11321
Thanks for contacting us, @Tragetaschen.
Why wouldn't you just use `string` for `Value` property?
It's not really clear what's the value for this. Please provide more details about your scenario.

[2019-06-19 16:42] MaherJendoubi commented on #11323
@mkArtakMSFT I already did (https://github.com/ElectronNET/Electron.NET/issues/277). But the folks of Electron.NET need your support.

[2019-06-19 16:45] RoroTiti commented on #7124
So many thanks for that... I was stuck on Debug log...

[2019-06-19 16:47] mkArtakMSFT commented on #11310
Thanks for contacting us, @mihaimyh.
We'll look into this and get back to you.

[2019-06-19 16:51] mkArtakMSFT commented on #11308
Thanks for contacting us, @srowan.
@javiercn, can you please look into this? Thanks!

[2019-06-19 16:55] mkArtakMSFT opened #11373 "`@code` should not be allowed in other contexts"
From the issue #11261 it seems it's possible to add the `@code` block in a `@for` block.

[2019-06-19 16:57] mkArtakMSFT commented on #11261
Looks like allowing `@code` in another block is an issue, and I've filed a separate issue to handle that.
Coming back to @aiqoo 's question regarding performance, you'll have to measure it for yourself. We have a high-level issue for perf, but it's not specific to a single scenario: #10449

[2019-06-19 16:57] #11261 closed

[2019-06-19 16:58] anurse commented on #10826
Yeah, I don't think running websites/apppools *should* be a problem, I was just curious. If you *can* stop IIS and run the install with IIS stopped that might be a good troubleshooting option.

[2019-06-19 17:02] mkArtakMSFT commented on #11168
Thanks for contacting us, @RickStrahl.
We're tracking the Live Reload work for Blazor as part of https://github.com/aspnet/AspNetCore/issues/5456

[2019-06-19 17:02] #11168 closed

[2019-06-19 17:03] anurse commented on #10826
@joeloff In the log for `InstallValidate` I do see a reference to error code `2727` which is `The directory entry '[2]' does not exist in the Directory table.`, but no indication what the `[2]` placeholder should be. Of course I also don't know if these `Note` entries are supposed to indicate error codes or if that's just a coincidence.

[code]

[2019-06-19 17:03] #7740 closed

[2019-06-19 17:12] anurse opened #11374 "Convert WebSocket middleware to use Pipes"
Now that Kestrel directly exposes pipes we can start to consider converting the WebSocket middleware to use it. There are some blocking issues here though:

* `IHttpUpgradeFeature` doesn't expose a pipe.
* The CoreFX API to create a socket doesn't support wrapping a pipe, only a stream.

[2019-06-19 17:12] Pilchie commented on #11206
@anurse - is this something you or your team could take a look at?

I'm not sure that this is required for Preview 7, but looks like it needs to be done fore 3.0 GA given the servicing implications.

[2019-06-19 17:13] Pilchie commented on #3975
@HaoK - is this something you can take a look at while @natemcmaster is on leave?

[2019-06-19 17:14] anurse opened #11377 "Convert existing middleware to use pipes"
Now that we expose pipes from the request/response body we should consider converting additional middleware and components to use it:

(This may be affected/invalidated by plans to unify Pipes and Stream)

* Response Caching
* Response Compression - Requires support for Pipes in the compression APIs
* Form/Multipart reader
* Request Buffering

[2019-06-19 17:15] HaoK commented on #3975
Sure I will take a look

[2019-06-19 17:17] Tratcher commented on #4684
Updated facebook for 3.0.0-preivew7.
Updated the google error message.

Punting zombie issue again.

[2019-06-19 17:19] sbwalker commented on #11369
Just to be clear, this was not necessary in versions of Blazor prior to Preview6. Previous iterations only required a custom router to react to the OnLocationChanged event. It now appears that additional logic is required.

[2019-06-19 17:21] joeloff commented on #10826
If there is a problem with the directory table, we likely won't see a value. These values usually flow into the MSI UI (which is suppressed when executing from a bundle).

I'll take a peek at the directory table and see whether I can spot anything.

@smaglio81 do you have a copy of the ANCM install where it completed successfully?

[2019-06-19 17:42] mamatamathapati opened #11380 "DotnetCore SignalR and angular, handshake issues"
Im working on realtime chat using dotnetcore signalr and angular, locally it works fine but when i deploy to PCF it give below error intermittently. any suggestion would be of great help.

[code]

[2019-06-19 17:45] anurse opened #11381 "Consider a standalone installer for ANCM"
"Moved" from https://github.com/aspnet/AspNetCoreModule/issues/183 (but I'm too lazy to actually move the issue).

[2019-06-19 17:46] ajaybhargavb commented on #10967
Spoke to @SteveSandersonMS. This is by design. To add some context,
We currently infer the default event by looking at the `[BindInputElement]` that matches the given tag. See https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/BindAttributes.cs#L16.

Since we only currently specify that attribute for `value`, it will not work for any arbitrary suffix like `custom`.

Hav

[2019-06-19 17:46] BrennanConroy commented on #8718
microsoft/terminal [recently started using jsoncpp](https://github.com/microsoft/terminal/pull/1005). We should look at also using that library.

[2019-06-19 17:48] Tratcher commented on #5899
Dealt with back in https://github.com/aspnet/AspNetCore/issues/7644

[2019-06-19 17:48] #5899 closed

[2019-06-19 17:55] mkArtakMSFT commented on #11366
Thanks for contacting us, @aherrick.
For Server-Side Blazor application, you don't even need to expose APIs. If, of course, you have them, you can simply call into them, as your C# code is going to execute on the server anyway.

[2019-06-19 17:57] #7738 closed

[2019-06-19 17:57] aherrick commented on #11366
The reason I want to expose APIs is so I can keep the structure the same as I can easily move between Client and Server side Blazor if needed.

[2019-06-19 17:58] mkArtakMSFT opened #11383 "Debugging Blazor Server-Side app disconnects the client"
When Debugging a Blazor Server-Side application, it's quite common to hit a breakpoint and stay in that mode for some time. While the service is in that `Blocked` mode, the Blazor client will still try to `ping` the server, but get no response, which will eventually result the client getting disconnected.

We should set the timeout value for Development environment to a quite long time, to avoid t

[2019-06-19 18:03] anurse commented on #11206
I'm not sure I understand why this is a problem. Even though it's the full assembly, it's placed in the `ref/` folder, right? That mean it's only used for compilation and not for deployment. That's precisely why we don't need to service targeting packs, because they're never used for deployment. Even if you compile against a version of `System.IO.Pipelines` with the issue, you won't run on it.

We

[2019-06-19 18:14] isaac2004 opened #11384 "Issue building Blazor Templates"
I am trying to update the Blazor templates to close out a few issues, and I am running into a problem when I attempt to.

**Steps**
- git clone
- activate
- build all
- build Blazor Template
- dotnet pack blazor template
- dotnet new --install %locationofnupkg%

I get this error. This is trying to build the Blazor Wasm with Hosted Backend template. Is there a trick to make this work?

![image](htt

[2019-06-19 18:14] pranavkm commented on #11233
I'm missing something here - why wouldn't clearing it after `next` has executed suffice?

[2019-06-19 18:18] Tragetaschen commented on #11321
A had started migrating my existing Angular application to server-side Blazor. In one part of the application, I use an `object`-based interface (with possible null values) and published instances of anonymous types that are then JSON-serialized over a SignalR connection to Angular. Since nothing in the C# world between the creation and serialization needed access to those anonymous types, this wa

[2019-06-19 18:19] NTaylorMullen commented on #8645
https://github.com/aspnet/AspNetCore-Tooling/commit/b545a4de751102156309e8417cf3fd3747dd65c2

[2019-06-19 18:19] #8645 closed

[2019-06-19 18:23] JunTaoLuo opened #11385 "SignalR yarn builds are flaky"
I'm seeing some build flakiness introduced by conversion to arcade:
https://dev.azure.com/dnceng/public/_build/results?buildId=230748

cc @aspnet/build

[code]

[2019-06-19 18:23] Tratcher commented on #11233
@pranavkm that's fine, but you also need a finally block in case next throws.

[2019-06-19 18:23] smaglio81 commented on #10826
@joeloff - On the original ticket (above) in the **Expected Behavior** section, there are copies of the successful installs using the 2.2.0 bundle. I have not run the 2.2.5 bundle against any other servers. But .... hmmm .... I probably could.

Okay. The 2.2.5 bundle ran successfully on SA179 (the server in the last screen shot from the original post). That makes me more confident that the problem

[2019-06-19 18:23] anurse commented on #11206
@ericstj do you have thoughts on the need to specifically use a ref assembly in the `ref/` folder of our targeting pack package? To do this, we'll probably need corefx to either produce the `ref/` folder in `System.IO.Pipelines.nupkg` *or* provide some other asset we can flow through Maestro to get the ref assembly.

[2019-06-19 18:27] pranavkm commented on #11233
Yup, that's what I'd done here. I'm not sure why the fix is being attempted to be made in other middlewares

[2019-06-19 18:28] BrennanConroy commented on #11380
Have you setup PCF to allow websockets? https://docs.cloudfoundry.org/adminguide/supporting-websockets.html

If you have, can you provide the server logs https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2#server-side-logging

[2019-06-19 18:32] aadamsx opened #11387 "Error in Blazor (ASP.NET Core hosted) template"
Ran the following steps:

1) .NET Core 3.0 Preview 6 SDK (3.0.100-preview6-012264)
2) Visual Studio Preview (16.2 Preview 2 or later) with the ASP.NET and web development workload selected.
3) The latest Blazor extension from the Visual Studio Marketplace.
4) The Blazor templates on the command-line:
dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview6.19307.2

Then used the Blazor

[2019-06-19 18:38] code2expert opened #11388 "I am stuck with the DI_BasePageModel because I already used another base class for my dropdownlist and I cant use more than 1 base class"
I am creating a web application with ASP.NET Razor pages. I am modelling the security aspect around this project but I'm stuck with the CreateModel page of the Contact Model. I had used a base class to populate a dropdown list which I am using in the CreateModel.

Can you describe a way to use more than one base class in the create model? I am at intermediate skill level in C# and I have read that

[2019-06-19 18:39] dougbu commented on #11385
Seems likely the build order isn't as reliable as it was before last Arcade transition (when restore / build / test were separate).

@pranavkm any suggestions? Should this be assigned to you?

[2019-06-19 18:43] #11315 closed

[2019-06-19 18:43] JunTaoLuo commented on #11385
This is related to signalr so maybe @anurse can help finding a volunteer as well. I have a feeling this is going to involve looking through the msbuild targets to see why builds are not triggered in the order that we expect.

[2019-06-19 18:46] pranavkm opened #11389 "Verify various scenarios for new RazorSDK features"
* Incremental builds with changes to cs or resx files
* Publishing from VS
* Application with P2P dependencies where the "MVC" app is different is the one being referenced

[2019-06-19 18:47] pranavkm commented on #11315
Filed https://github.com/aspnet/AspNetCore/issues/11389 to track verifying this for the preview7 release.

[2019-06-19 18:51] TonyTroeff opened #11391 "Custom IModelBinder returns unvalidated view model"
I am using ASP.NET Core 2.2 with the latest version of FluentInterpreter and this is the confiuration code in the StartUp.cs class:

[code]

I have got two view models that are inherited - CreateQuestionViewModel and SelectquestionCreateViewModel:

[code]

My custom model binder binds all the properties correctly but the problem is that none of the `CreateOptionViewModel` is validated and this way

[2019-06-19 18:54] Z3roCoder opened #11392 "Blazor: Input-Binding Syntax: bind vs @bind"
### Describe the bug
It is not a bug, but much rather a question.
Looking through all online available resources, the Binding-Syntax seems to have changed.
I need to do the following to get my Input-Field to bind to my Variable:
```<input type="number" @bind="currentCount" />```
Although everywhere else on the Internet, it is documented like this:
```<input type="number" bind="@currentCount" />```

[2019-06-19 19:33] SonicGD commented on #11315
Thanks!

[2019-06-19 19:41] dougbu opened #11393 "Address some rough edges in service reference feature"
- [x] avoid NU1704 build warnings and other client / server incompatibility issues
- [x] change default `$(OpenApiGenerateDocuments)` to `false` in projects using .NET Core 2.0 or earlier
- [x] add inputs and outputs to `GenerateOpenApiDocuments` target (reducing how often it runs)

See #4923 for more detail on some of the above. Conversation at https://github.com/aspnet/AspNetCore/pull/10669#disc

[2019-06-19 19:41] davidfowl commented on #11233
The performance tho, measure plz

[2019-06-19 19:43] pranavkm commented on #11369
@sbwalker yup, this is new. It's meant to allow scenarios where you're mixing Blazor with regular ASP.NET Core content and don't have a router involved.

[2019-06-19 19:49] Mewgrammer commented on #10847
Today we tested again with preview 6 Images:

Attempt 1:
Project: Net Core 3.0 Preview 6 Console App ("dotnet new console") + Added Docker Support (generated by VS, Target OS Linux ) Source Code here: https://github.com/Mewgrammer/dotnetCoreARMtest/tree/master/ConsoleApp

Referenced Images in Dockerfile:
- mcr.microsoft.com/dotnet/core/runtime:3.0-buster-slim
- mcr.microsoft.com/dotnet/core/sdk:3.

[2019-06-19 19:52] pranavkm commented on #11369
Closing since the issue has been resolved.

[2019-06-19 19:52] #11369 closed

[2019-06-19 19:56] tn-5 opened #11395 "Compiler raises null reference warning for property injected using [Inject] attribute"
When using nullable reference types and injecting a service using the `[Inject]` attribute the compiler does not recognise the property as non-nullable.

When using constructor based dependency injection the compiler does not give the warning.

*Reproduce*
Enable null reference types, use `[Inject]` attribute to inject a service into a component.

As an aside, it would be great if the default Blaz

[2019-06-19 20:03] anurse commented on #11385
@BrennanConroy can probably look at this.

We generally don't rely on MSBuild to get the build ordering we want, though I don't know if that's changed since the mondo merge. The error does indicate that there's an ordering problem going on though...

[2019-06-19 20:09] pranavkm commented on #11187
I'm also running in to the same error with Ignitor + perf labs. Benchmarks starts off 256 clients (connections) by default, but the server maxes out at 100 retained connections. The initial `ConnnectCircuit` call for over half of these 256 gets rejected. Adding retries in `ConnectCircuit` works, but it's really iffy.

[2019-06-19 20:15] mockjv commented on #11381
Sorry, forgot to watch out for the archived projects.  Thanks for moving there reference over!

[2019-06-19 20:21] Tratcher commented on #10886
Closing this out. The TestServer work is going to be more involved than I'd thought.

[2019-06-19 20:21] #10886 closed

[2019-06-19 20:27] halter73 commented on #11270
Yes.

I don't think [line 322](https://github.com/aspnet/AspNetCore/blob/5f2760e9bcff03d98210221505da1afe510e64f7/src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs#L322) where Http2OutputProducer.ProcessDataWrites() calls Http2FrameWriter.WriteDataAsync() needs to change.

We want to ensure the Http2OutputProducer.ProcessDataWrites() doesn't wake up at all meaning [the call to Pip

[2019-06-19 20:29] grecosoft commented on #9337
Using the generic host builder, how do you log?  Within the ConfigureServices method how do you write a log based on the configured logging?  How can you reference ILogger or ILoggerFactory?  Logging is important and should be easily accessible after the ConfigureLogging method is called.

[2019-06-19 20:31] HaoK commented on #3975
Discussed with @blowdart initial plan for the fix will be the following:

When an unknown key id is encountered during a short(configurable?) window of time after dataprotection first starts up, we will automatically refresh the key ring (potentially multiple times if multiple unknown keys are encountered during this window) to mitigate the start up race condition.  If the refresh doesn't discover

[2019-06-19 20:33] Tratcher commented on #9337
@grecosoft logging is built on dependency injection, and ConfigureLogging is just a wrapper for ConfigureServices. It's not possible to log until after all of the services have been registered and the container has been built.

[2019-06-19 20:38] grecosoft commented on #9337
Then how would you write logs.  For example, if you wanted to write a log as to which service type was register?  I understand you can access after the container is created.  But how do you write logs as the application is being built?

[2019-06-19 20:40] Tratcher commented on #9337
@grecosoft it's not supported in this model, or at least not until after ConfigureSerivices. Startup.Configure is one of the earliest phases where DI services like logging are available.

[2019-06-19 20:45] grecosoft commented on #9337
Ok.  Seems to be limiting.  Just seems that logging is so important that it should be created up front and allowed to be used anywhere.  Is it possible to create a logger to be used during configuration?

[2019-06-19 20:47] Tratcher commented on #11270
@halter73 I don't follow. CompleteAsync isn't doing anything new, it's just doing it earlier than normal. The traces above show that the current model is splitting frames, presumably due to a flush somewhere, so how do we prevent that?

[2019-06-19 20:49] Tratcher commented on #9337
No, the logger depends on configuration.

What your asking for requires a logger that is configured directly in code and doesn't use DI, Config, Options, etc.. That kind of logger is possible, but of very limited usefulness.

[2019-06-19 20:56] #11224 closed

[2019-06-19 20:57] JamesNK commented on #10886
Is there an issue for test server implementation?

[2019-06-19 21:06] petroemil commented on #11210
I ran into this very same issue with my Client side Blazor web app, after upgrading to Preview 6. Serialization just doesn't work. But for me it doesn't work even if I make my properties public. I only get an empty object back.

[2019-06-19 21:10] tarim commented on #6104
@nour-s did you get your answer, please? I also have same issue, get connection id list on my controller, and based on the list do some actions.

Thanks,

[2019-06-19 21:15] pranavkm commented on #11210
@yan0lovesha \ @petroemil could you please share a simple application that reproduces the error? It's difficult to investigate without knowing what it is that's being serialized.

[2019-06-19 21:18] pranavkm opened #11396 "Blazor - Verify events"
For verifying https://github.com/aspnet/AspNetCore/issues/11224, try out event handlers including some run off the mill ones. Json serializer is sensitive to the data type and we don't have exhaustive functional test coverage.

[2019-06-19 21:19] pranavkm commented on #11224
Tracking validating this using https://github.com/aspnet/AspNetCore/issues/11396

[2019-06-19 21:26] HaoK commented on #3975
Moving to preview 8 since I'm not familiar enough with this code to get this in immediately which would be what it takes to for preview 7

[2019-06-19 21:26] petroemil commented on #11210
@pranavkm

My C# class looks like this:
[code]

A sample JSON content for it looks like this
[code]

My referenced ASP.NET libraries are:
[code]

I'm getting this JSON from a file with the `GetJsonAsync<T>` extension method on the `HttpClient` but I also tried to manually use `JsonSerializer.Parse<T>` but of course with no luck.

I'm not getting any exception, just an empty object.

[2019-06-19 21:31] anurse commented on #11381
No problem! It was actually your comment that reminded us that the project needed to be properly archived. We wanted to preserve this thread though. Thanks!

[2019-06-19 21:47] pdeveau opened #11397 "Make dependency resolution available for EditContext form validation so that custom validators can access services."
### Is your feature request related to a problem? Please describe.
Microsoft.AspNetCore.Components.Forms.EditContextDataAnnotationsExtensions.ValidateModel(EditContext, ValidationMessageStore) does not provide IServiceProvider as a constructor argument.  When we need more complex validation that requires additional dependencies in a custom validator the resolved dependency will be null.

### Descr

[2019-06-19 21:47] mkArtakMSFT commented on #11310
Looks like the issue you're facing is caused by the actual trimming. If you disable trimming and leave just the `Single Exe` config, as shown below:
[code]

, the app will run, but will not be able to serve any static content. We track that work as part of: https://github.com/aspnet/websdk/issues/644

[2019-06-19 21:47] #11310 closed

[2019-06-19 21:51] pranavkm commented on #11210
@petroemil is the JSON produced from an MVC action? They're usually camel case which would explain why `JsonSerializer.Parse` does not work unless you also specify the camel case option.

[2019-06-19 21:54] halter73 commented on #11270
You said it yourself. "GetMemory, Advance, but no call to FlushAsync." The backpressure problem I bring up is unavoidable if we want to buffer indefinitely in order to avoid early flushes. We should have logic to always call FlushAsync after a certain amount of data is written.

Kestrel will do the final flush by calling WriteStreamSuffixAsync after the middleware exits. This no-ops if the middlew

[2019-06-19 21:58] Tratcher commented on #11270
@JamesNK want to retry this scenario with CompleteAsync?

[2019-06-19 22:03] marchy commented on #5262
@SteveSandersonMS unlike what you mentioned of this being a 'relatively uncommon setup' (now-archived thread: https://github.com/aspnet/JavaScriptServices/issues/1491), this is actually almost de-facto in any serious platform I've ever touched. Even in a single-sided/direct-customer business, there is usually an admin/CRM app internally which these days you would be crazy not to build out as an SP

[2019-06-19 22:11] mkArtakMSFT commented on #11397
Thanks for contacting us, @pdeveau.
@SteveSandersonMS is there any other mechanism which can provide access to the `IServiceProvider` already, or should we treat this as a new feature ask?

[2019-06-19 22:12] mkArtakMSFT commented on #11396
Thanks for being proactive, @pranavkm!

[2019-06-19 22:16] petroemil commented on #11210
@pranavkm the JSON is coming from a file (wwwroot content) as shown in the example above. The JSON property names match the C# property names.

[2019-06-19 22:19] anurse commented on #3624
It doesn't look like there's actionable work here now. Feel free to comment if I'm wrong and we can reopen.

[2019-06-19 22:19] #3624 closed

[2019-06-19 22:26] mkArtakMSFT commented on #11395
Thanks for contacting us, @tn-5.
For the changes in templaets, we're tracking that work as part of https://github.com/aspnet/AspNetCore/issues/10921.

[2019-06-19 22:27] mkArtakMSFT commented on #11395
Hi @cartermp. What should our guidance be here regarding nullability checks for traditional properties?

[2019-06-19 22:28] halter73 opened #11400 "Add EventCounter for adding a slab to the SlabMemoryPool"

[2019-06-19 22:28] mkArtakMSFT commented on #11392
Thanks for contacting us, @Z3roCoder.
This has changed in `Preview 6` release from `bind` to `@bind`. Here is our official announcement: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/

[2019-06-19 22:28] #11392 closed

[2019-06-19 22:29] JamesNK commented on #11270
I'm not advocating that Kestrel never flush data out before the response completes. I think for small responses (which will cover most API responses) it is a good optimization.

[2019-06-19 22:31] mkArtakMSFT commented on #11388
Thanks for contacting us, @code2expert.
This is a C# limitation. You can't have multiple base classes. Consider re-structuring your code.

[2019-06-19 22:31] #11388 closed

[2019-06-19 22:35] mkArtakMSFT commented on #11387
Thank you for filing this issue. We are unable to reproduce this issue.
In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-06-19 22:38] mkArtakMSFT commented on #9737
Thanks for contacting us, @schmitch.
To avoid mixing contexts, please file separate issues per each item on your list, which still require attention.

[2019-06-19 22:38] #9737 closed

[2019-06-19 22:38] JamesNK commented on #11270
CompleteAsync also outputs two packets.

![image](https://user-images.githubusercontent.com/303201/59806142-7c5de480-9347-11e9-91f8-ea52efca8c71.png)

[2019-06-19 22:39] marchy commented on #5241
Where is the specified path for the PhysicalFileProvider relative to? The code requires an an absolute path, how should it be provided to work in both development and distribution/production?

[2019-06-19 22:41] mkArtakMSFT commented on #9770
Thanks for contacting us, @tn-5.
This is a known issue and we track this at https://github.com/aspnet/AspNetCore/issues/6623

[2019-06-19 22:41] #9770 closed

[2019-06-19 22:44] mkArtakMSFT commented on #9911
Thanks for contacting us, @lorenzomelato.
This should be fixed now. If, however, you still face the issue with the latest Blazor bits, please reopen.

[2019-06-19 22:44] #9911 closed

[2019-06-19 22:45] davidfowl commented on #11400
More details

[2019-06-19 22:46] mkArtakMSFT commented on #9922
Thanks @rynowak.
The `dotnet watch` behavior is done. This should be fixed now.

[2019-06-19 22:46] #9922 closed

[2019-06-19 22:47] mkArtakMSFT commented on #9922
https://github.com/aspnet/AspNetCore/issues/9644

[2019-06-19 22:48] mkArtakMSFT commented on #10046
Thanks for contacting us, @alexandrereyes.
This is now supported through the `Static assets` support feature: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/

[2019-06-19 22:48] #10046 closed

[2019-06-19 22:49] mkArtakMSFT commented on #10083
Thanks for contacting us, @rxelizondo.
We're focusing our efforts mainly on to the Blazor Server Side model for the upcoming 3.0 release. We'll look into this after that.

[2019-06-19 22:52] GrabYourPitchforks commented on #3975
The tradeoff seems appropriate as a short-term solution.

From an internal email thread: The best fix would probably be a fix at the storage layer itself, since the storage layer is intended to be quasi-transactional with respect to updates. If this issue manifests itself primarily with the file system storage provider, one potential solution would be to use a monotonically incrementing counter in

[2019-06-19 22:53] mkArtakMSFT commented on #11057
Thanks for contacting us, @UrielMhezzek.
Can you please confirm that you have the latest VS Preview release installed?
Alternatively, you can try to run the app from the command line. If that works, then it's for certain VS version mismatch.

FYI: The latest required version of VS for the Preview 6 SDK is VS 16.2.

[2019-06-19 22:55] mkArtakMSFT commented on #11081
Thanks for contacting us, @endeffects.
We plan to address this as part of https://github.com/aspnet/AspNetCore/issues/5458.
You can also take a look at how we do integration testing in our repo.

[2019-06-19 22:55] #11081 closed

[2019-06-19 22:56] ajaybhargavb commented on #10893
Spoke to @SteveSandersonMS. What I have in the PR is the behavior we want.

[2019-06-19 22:58] mkArtakMSFT commented on #11084
Thanks for contacting us, @LaughingJohn.
This has been done as part of https://github.com/aspnet/AspNetCore/issues/8493

[2019-06-19 22:58] #11084 closed

[2019-06-19 23:01] mkArtakMSFT commented on #11115
Thanks for contacting us, @ericwj.
This is not something we plan to do in the near future.

[2019-06-19 23:01] #11115 closed

[2019-06-19 23:05] halter73 commented on #11400
What details do you want?

[2019-06-19 23:07] halter73 commented on #11400
There's really no background. We were talking about things we should add EventCounters for, and triggering an event every time we add a slab to the memory pool seemed like it might be interesting.

[2019-06-19 23:08] davidfowl commented on #11400
- Why are we doing it?
- What is it for?
- Is this the only counter we're adding for the pool?
- Why is it important?
- Since the SlabMemoryPool is shared code between IIS and Kestrel, where do the counters go? Are we making a new event source?

PS: I think this should be punted.

[2019-06-19 23:17] halter73 commented on #11270
I didn't think you were advocating that. The point I'm trying to make is that the "GetMemory, Advance, but no call to FlushAsync" pattern leaves when to flush completely up to the application not Kestrel. If the app doesn't call FlushAsync or WriteAsync, Kestrel cannot by contract flush on your behalf.

Kestrel can and does coalesce flushes if they are two frequent, but you can still end up with m

[2019-06-19 23:20] halter73 commented on #11400
I don't feel strongly about it. I mentioned it in standup and @anurse told me to file an issue. It could become more interesting if we decide to start using some more interesting algorithms that might even shrink the pool, but we can cross that bridge if we get there.

[2019-06-19 23:39] davidfowl opened #11402 "Remove connection adapters"
We want to finally drop connection adapters from the pubternal surface of Kestrel. The remaining work after https://github.com/aspnet/AspNetCore/pull/11109/files is to convert the connection logging adapter and remove the logic from the `HttpConnection`.

[2019-06-19 23:49] kevinlo commented on #3975
@HaoK Your suggestion handles the Startup case.   How's about the key renew case?  The key will be renewed after [NewKeyLifetime](https://github.com/aspnet/AspNetCore/blob/master/src/DataProtection/DataProtection/src/KeyManagement/KeyManagementOptions.cs#L125) (90 days by default) and the [KeyRingRefreshPeriod ](https://github.com/aspnet/AspNetCore/blob/master/src/DataProtection/DataProtection/src

[2019-06-19 23:56] GrabYourPitchforks commented on #3975
@kevinlo The `IXmlRepository` is supposed to be quasi-transactional. IMO the bug is in the file system repository, hence that's where I suggested making the change. If a custom-written repository has a similar bug, then a similar change can be made.

[2019-06-20 00:11] natemcmaster commented on #11206
While this is true, what we have learned from the past is that IT departments will scan hard drives for files that have know security issues, and flag issues regardless of the file's location. So hypothetically if there is a problem in System.IO.Pipelines.dll 3.0.0, we might still need to service the targeting pack. This problem regularly comes up with .NET Core 2.* packages that are still shippin

[2019-06-20 00:17] buvinghausen commented on #3755
Can anyone educate me on why Microsoft.AspNetCore.Authentication.JwtBearer is compiled with a dependency on .netcoreapp3.0?  Can it not be on .netstandard2.x? I want to use it in a class library and I like to keep my classlibs all .netstandard

[2019-06-20 00:29] MaximBalaganskiy opened #11403 "[question]Reference Microsoft.AspNetCore.Identity outside of Microsoft.NET.Sdk.Web"
I'm building a common library for a Asp.Net Core 3.0 project and have a need to use classes which reside in Microsoft.AspNetCore.Identity.
Is there a way to reference this package in a DLL (Microsoft.NET.Sdk) project?
The latest version on nuget is 2.2 only.

Microsoft.NET.Sdk.Web includes it implicitly but swapping the DLL to this target requires the Main function...

[2019-06-20 00:34] MaximBalaganskiy commented on #11403
Found a solution.

`<FrameworkReference Include="Microsoft.AspNetCore.App" />`

[2019-06-20 00:34] #11403 closed

[2019-06-20 00:35] davidfowl commented on #3755
@buvinghausen https://github.com/aspnet/Announcements/issues/324

[2019-06-20 00:57] davidfowl opened #11404 "React to Activity changes"
This is a binary breaking change https://github.com/dotnet/corefx/commit/edc88b0fe55278ee43c821ab05707d8bb0befded. I just want to make sure we track the issue because I found it testing out https://github.com/aspnet/AspNetCore/issues/9491

It leads to this error (which is conveniently swallowed by the activity type https://github.com/dotnet/corefx/blob/eaa0079941923b4f903344130315f4cd332b84fe/src/

[2019-06-20 00:59] davidfowl commented on #5918
See https://github.com/aspnet/AspNetCore/issues/9491

[2019-06-20 01:00] davidfowl commented on #9491
Verifying this is blocked on #11404

[2019-06-20 02:04] herrozerro commented on #11387
I am also having this issue, here is a repo.

https://github.com/herrozerro/singularity-lathe

![image](https://user-images.githubusercontent.com/2041213/59813096-db831100-92d5-11e9-9bf2-a6cede2f6376.png)

[2019-06-20 02:26] bchavez opened #11405 "AuthenticationProperties not accessible via SignInManager"
Hello,

The following problem has been bugging me for a long time ever since ASP.NET Identity has been released.

## Is your feature request related to a problem? Please describe.
I am trying to gain access to the `AuthenticationProperties` object that I get back from calling [`SignInManager.ConfigureExternalAuthenticationProperties(...)`][1] to set metadata about an external login. Currently, whe

[2019-06-20 02:29] gregpakes commented on #10515
@anurse

Email sent :-)

[2019-06-20 02:43] xiangzhai commented on #11309
Thanks @Pilchie

AspNetCore-2.1 is platform independent, correct?

[code]

And there is no native build stuff compared with corefx-2.1:

[code]

So is it able to use X86's [dotnet-sdk-2.1.700-linux-x64/shared/Microsoft.AspNetCore.App](https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-2.1.700-linux-x64-binaries) for AArch64 and other Targets directly?

Cheers,
Leslie Zhai

[2019-06-20 02:53] #10215 closed

[2019-06-20 03:07] thanhnntq commented on #11357
I have followed the upgrade instructions fully, but unfortunately it still doesn't work. Do you do an example for me with the directory structure as sent. Sincerely thank!

[2019-06-20 03:18] baartho opened #11406 "[Blazor Server Side] Setting @layout on _Imports.razor' project root folder freezes the project -- the browser page keeps loading forever"
### Describe the bug
After setting the @layout on the root folder _Imports.razor file my project builds, no errors/exceptions are thrown, but the project keeps loading forever.

If I remove the @layout declaration the issue stops happening.

### To Reproduce
Steps to reproduce the behavior:
1. Create a new ASP.NET Core Blazor 3.0 Preview 6 Server Side project
2. Open _Imports.razor on the project

[2019-06-20 03:20] ahsonkhan commented on #11210
Since the DateTimeOffset within the JSON is not ISO 8601 compliant (it contains spaces), the `JsonSerializer` throws an exception (see below, at least on preview 7). If the contents of `PublishDate` was changed to `""2019-05-17T16:19:34-08:00""`, it works as expected (and the object is deserialized fully).

![image](https://user-images.githubusercontent.com/6527137/59816086-a1af0c00-92cf-11e9-939b

[2019-06-20 03:32] ericstj commented on #11206
@joperezr this is due to https://github.com/dotnet/corefx/commit/6832425094123c858b9e5da02469c98ca8c200c4.

[2019-06-20 04:53] captmomo commented on #11372
That's great to hear. As of now, I'm not experiencing any errors related to multiple hubs. Just wanted to ensure I'm aware of any drawbacks.

[2019-06-20 05:07] SbiCA commented on #6528
Are there already pieces one could try out yet? I remember seeing a demo with nswag but not with AutoRest

[2019-06-20 05:09] captmomo opened #11408 "SignalR with HTTPS - Invalid Cer"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.

Hi, I'm tryi

[2019-06-20 05:39] akorchev opened #11410 "Static assets in Razor libraries do not seem to work in Blazor server-side applications"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug

The approach described [here](https://docs.microsoft.com/en-us/a

[2019-06-20 05:48] lovelangy commented on #10028
hi @Tratcher,   Can you please explain the reason why  setting  callbackpath as `/` is a bad idea?

I run into the same senario when using WS-Federation.   i have a legacy ASP.NET website, which using **[WS-Federation Authentication Module](https://docs.microsoft.com/en-us/dotnet/framework/security/wsfederation-authentication-module-overview)** and the  reply has bee set as '/'

After we migrated

[2019-06-20 06:04] danroth27 commented on #11178
@potudopotudo We standardized the syntax for all Blazor directive attributes in preview 6. See https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/ for details.

Your example should now look something like this:

[code]

[2019-06-20 06:05] akorchev opened #11411 "Using Blazor components to customize the security pages"
### Is your feature request related to a problem? Please describe.

The current solution for authentication and authorization relies on the default Razor pages (register, login etc). As far as I know one can scaffold them in order to customize them. Those pages are Razor (not Blazor) and as a result I can't use any Blazor components that I have.

### Describe the solution you'd like

I would like

[2019-06-20 06:34] mderriey commented on #10028
Hey I think I can answer to that question.

It's generally a bad idea because it means there'll be extra processing on all requests to `/` as the WS-Fed authentication handler will try to interpret these requests as coming back from your IdP. This means trying to find a relevant message, decode it, and all the rest (see the [`HandleRemoteAuthenticateAsync`](https://github.com/aspnet/AspNetCore/blo

[2019-06-20 07:21] #11309 closed

[2019-06-20 07:22] GerFVersteegGitHub commented on #8980
Hi, when I use a Key Vault than I don't have a Database Connection string in appsettings.json.
I use the Key Vault for more security. Only in that way I have the ANCM error (only with ASP.net Core 2.2.
With Core 21 there where no problems.
Now I have changed back to work with appsettings.json everything is fine. But the best secure way is with the Key Vault.

[2019-06-20 07:36] bjornsublime commented on #6834
Same issue over here as well, I'm running 2.2.5 on IIS / Windows Server 2016.

Version=1
EventType=BEX64
EventTime=132053377748878050
ReportType=2
Consent=1
UploadTime=132053377997067704
ReportIdentifier=2dc227dc-91cc-11e9-b80e-005056b35462
IntegratorReportIdentifier=3bc13842-0566-4ee6-bed9-bc20f210e676
NsAppName=w3wp.exe
AppSessionGuid=00001698-0000-0016-4f04-d453d425d501
TargetAppId=W:0000f519fe

[2019-06-20 07:39] potudopotudo commented on #11178
Thanks for the quick response, got it working now!

[2019-06-20 07:59] samumeur commented on #6834
Hello,

Actually it was a reference to an old (and non longer existing) packet on another project, so when I removed it, the website worked !

Thanks for your help

[2019-06-20 08:28] pixeldm commented on #7647
Is there any way to set AddMvcRazorRuntimeCompilation() for only the dev environment?  Currently, the only way to get design time recompiling of a view is to turn this feature on.  Otherwise, the project must be restarted to see any changes to a view.  However, enabling this feature also involves adding the `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` package.  This package adds a considera

[2019-06-20 08:29] petroemil commented on #11210
@ahsonkhan wow, thank you very much.

So even in Client side Blazor the serializer only got changed to `System.Text.Json` in Preview 6 and before that it was still Newtonsoft? Because in Preview 5 this still worked fine.
Also I haven't seen the exception, only getting an empty object back for seemingly no reason.

[2019-06-20 09:53] Danni-Ke opened #11413 "Role-Based authorization not working in asp.net core 2.1"
### Describe the bug
I followed the instruction on documentation and online about the role authorization, but the authorize since doesn't work even after I add the role type to my database. It always lets the user access the resources no matter what the user role is. I don't see why and have not idea what I am missing in my startup. Any helps will be appreciated.

### To Reproduce
Steps to reprodu

[2019-06-20 10:50] egil commented on #10890
A little feedback after using my own extension class for a while.

Extracting line numbers makes the code much less sensitive to being rearranged and refactored, but it also hides the explicit need for sequence numbers need to follow certain rules. If somebody creates helper functions/helper class that calls the `RenderTreeBuilder` methods, then the line numbers will come from that, and not from t

[2019-06-20 11:03] DAllanCarr commented on #11210
https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/docs/SerializerProgrammingModel.md#date-support

[2019-06-20 11:21] dazinator commented on #7647
Maybe you could make that package reference conditional.

In your csproj
[code]

Then in your startup, use pre processor directive

#if UseRazorCompilation
  .AddMvcRazorRuntimeCompilation();
#endif

[2019-06-20 11:29] uazo commented on #5557
you must excuse me for the late reply.

Maybe I don't understand but we don't have to check if the delegate is the same or not, my code always replaces it!
I don't modify the EventHandlerId to avoid triggering the javascript "handler elimination/generation" part, and in server-side it reduces the frame size.
That is "Same EventHandlerId but different delegate"

Invocation:
[code]

Assignment:
[cod

[2019-06-20 11:52] grecosoft commented on #9337
Tratcher - I understand.  Not an issue just need to make a small refactor to our code.  Thanks for the answering my questions and for such a fast response.

[2019-06-20 12:10] blowdart commented on #11413
When you put a break point in your about function and look at the user does it actually have roles in?

[2019-06-20 12:51] yepeekai commented on #3176
When calling UseHttpsRedirection, this is the kind of call I expect either to work or throw... not fail silently to eventually discover later that the site was in http including the login screen

[2019-06-20 12:54] yepeekai commented on #3176
Also, I don't see how having no default value has overall less issues than having one...

[2019-06-20 13:14] glitch100 commented on #11322
@pranavkm It does feel like the documentation just doesn't quite cover this scenario. It would be appreciated if you could point me to a sample or documentation that explains the use of the `IFileProvider` in tandem with the `RazorGenerate` statements

[2019-06-20 13:33] qfilip commented on #11246
Thanks. I nearly threw my PC out of the window

[2019-06-20 13:53] pelhamrj opened #11414 "Blazor Form Validation showing incorrect Display Name Annotation"
### Describe the bug
When using data annotations on a model with the `<EditForm>` component, DateTime does not display the correct `[Display]` name set on the annotated model.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0 Preview 6
2. Create an empty project and use the following code:

[code]

[code]

### Expected behavior
The error message should di

[2019-06-20 13:54] Tratcher commented on #10028
Well said @mderriey

[2019-06-20 13:56] Madunet commented on #10138
I have altered the counter page to demonstrate. The UI is not refreshed when you hit one of the "Set counter to" buttons.
Sample: Click "Set counter to 3" nothing happens. When you click on "Click me" the counter is set to 4.
Is this a bug in Blazor? Or is there a fix/ work around?

`@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<br />

<p>
    <button class="btn btn-prim

[2019-06-20 14:02] captmomo commented on #11408
Updating this as I've managed to resolve this by adding the certificate to the local user and local machine certificate stores. In particular the following stores:
- Trusted Root Certification Authorities
- Intermediate Certification Authorities’

[2019-06-20 14:05] mwinkler commented on #11244
I tried to pass a `ArrayBuffer` back to the server, no exception is fired, but the `Js.InvokeAsync` gets not resolved.

Simple example:

[code]

Client code:

`window.test = () => new Uint8Array([1, 2, 3, 4]).buffer;`

[2019-06-20 14:09] dazinator opened #11415 "Blazor new AuthenticationState - consider event for expiry"
### Is your feature request related to a problem? Please describe.
`Task<AuthenticationState>` is a new cascading parameter in blazor apps that allows downstream components access to the current authentication state of the user.

In my blazor client application, users authentication sessions have a sliding expiry.

When the user's session expires, I'd like all downstream components to be notified

[2019-06-20 14:21] dazinator opened #11417 "Blazor Client - lightweight JWT to ClaimsPrinicpal"
### Is your feature request related to a problem? Please describe.
With the new `AuthenticationStateProvider` we can now return a `ClaimsPrincipal` for the current authentication session, which is great.

BlazingPizza app [has a simple implementation](https://github.com/dotnet-presentations/blazor-workshop/blob/1c35728a9cafb1add72e14fae88dd037216913d7/save-points/06-add-authentication/BlazingPizza

[2019-06-20 14:53] jfcaldeira commented on #11363
This worked. There's only one problem which is having to apply to every page. Is there a way to do this at startup with conventions when authorizing a folder?

[2019-06-20 14:57] WayneHiller opened #11418 "Health Checks stopped working when I switched to a PWA."
I have an aspnet core 2.2 app that is a SPA client side. I had added heath checks to the site and everything was working great. The other day I changed the site to a PWA and now the Health Check URL returns the index page (see routing below). I am not understanding how changing the client side to a PWA could effect the health URL on the server side though.

I also changed the site to use https.

I

[2019-06-20 15:00] Tratcher commented on #11363
How are you doing that?

[2019-06-20 15:02] aherrick commented on #11366
Anymore thoughts here?

[2019-06-20 15:05] jfcaldeira commented on #11363
[code]

i tried add another parameter but only asks for a policy and not authentication scheme

[2019-06-20 15:09] anurse commented on #11206
@natemcmaster That's definitely true. Though it also depends on how they are scanning those files. I don't know if they are sophisticated enough to identify the difference between a reference assembly and an implementation assembly. Most scanners I've come across are looking at file name and file version alone. Still, I do agree it's better to keep the unpatched binary off the machine as much as p

[2019-06-20 15:10] anurse commented on #11400
I don't expect to get to it in 3.0, but I wanted to track it. I'll update the issue to be a little clearer.

[2019-06-20 15:15] WayneHiller commented on #11418
I tried accessing the health check URL from Postman and it works fine. Seems to be an issue accessing from the Browser and HttpClient. Would HttpClient be affected by a PWA, I would not think so but ??

[2019-06-20 15:19] mikes-gh commented on #11174
@javiercn

Struggled with this as didn't know I had to replace the dotted project name with lowercase without dot.
AFAIK dots are allowed in the path part of a URL.
Also case is ignored in URLs

Whats the reason for this

Unlikely but if I had 2 projects of same name but only differing by dot this wopuld break.

Project.Test
ProjectTest

[2019-06-20 15:26] Tratcher commented on #11363
Where did you define your policies? They can specify auth schemes.

[2019-06-20 15:29] campersau commented on #11415
You can override `OnParametersSet` or `OnParametersSetAsync` an check the cascading `Task<AuthenticationState>` parameter again.

[2019-06-20 15:33] jfcaldeira commented on #11363
I haven't made a policy for this but i am using policies, here is one that i have atm for some database check

[2019-06-20 15:38] TomChalkerApption opened #11419 "AuthorizeView Roles tag does not work wiithin default ASP.NET Core Web for 3.0preview6"
### Describe the bug
The following markup does not render inside AuthorizeView Roles="admin tag set:
<AuthorizeView Roles="admin, superuser">
    [Admin]
</AuthorizeView>

&lt;AuthorizeView Roles="admin, superuser"&gt;
    [Admin]
&lt;/AuthorizeView&gt;

when authenticating with AAD user with the roles:
- Application administrator
- Authentication administrator
- Global administrator
- User admini

[2019-06-20 15:39] mkArtakMSFT commented on #11317
@tridexanders you should simply update your VS to the latest preview release - VS 16.2 Preview 2 is already released.

[2019-06-20 15:40] javiercn commented on #11174
@mikes-gh dots are allowed, but normally cause issues, with many proxies and redirection rules, because people write simple rules like *.* to refer to files and that causes problems.

Urls are case-sensitive. Many static files implementations simply rely on the file system casing, that's why in some cases they can seem case insensitive, and you can choose to interpret them that way, but in HTTP th

[2019-06-20 15:52] mikes-gh commented on #11174
@javiercn  thanks so is the plan to use lowercase no dots for both client and server.

[2019-06-20 15:53] javiercn commented on #11174
@mikes-gh yes

[2019-06-20 16:01] blowdart commented on #11408
You shouldn't need it in Intermediate Certification Authorities, only Trusted Root.

[2019-06-20 16:02] blowdart commented on #11413
Also you're not adding authorization anywhere.

You need to

[2019-06-20 16:08] dazinator commented on #11415
@campersau isn't that still polling? And wouldn't that require paramaters to be changing for that poll to happen? If the user left the page open for 5 minutes without doing anything on the page, how would that fire when their token expires on three minutes?

[2019-06-20 16:12] dazinator commented on #11415
I was thinking if `AuthenticationState` had an `Event` or `ChangeToken` then components could listen to that. Then I could derive a custom `AuthenticationState` that triggered that change token / event when the jwt token expires and have my custom  `AuthenticationStateProvider` return that instead. This would only require a small addition to `AuthenticationState` to allow that.

[2019-06-20 16:12] Tratcher commented on #11363
Ah, I mistook that first parameter for a policy. Yes, define a policy for these that specifies the auth scheme.

[2019-06-20 16:20] akorchev commented on #11411
It turns one one can use a Blazor component in a Razor page via `Html.RenderComponentAsync`. This will get the HTML output of a third party Blazor component but event handling won't work.

Maybe the solution is to authenticate via JavaScript so the authentication cookie reaches the client.

[2019-06-20 16:41] mkArtakMSFT commented on #11391
Thanks for contacting us, @TonyTroeff.
Please provide us with a GitHub hosted repro project so we can repro it.

[2019-06-20 16:42] pranavkm commented on #11312
Not super sure I follow. Are you talking about `CSharpCompiler`? For a lot of the others, the actual interface types are still public, as a rule MVC does not expose the actual implementation type.

[2019-06-20 16:43] mkArtakMSFT commented on #11362
Closing this as a dupe, and we'll validate this as part of the other fix.

[2019-06-20 16:43] #11362 closed

[2019-06-20 16:46] mkArtakMSFT commented on #11320
Thanks for contacting us, @WouterHD.
@JamesNK can you please confirm this is the expected outcome? Thanks!

[2019-06-20 16:46] dazinator commented on #11415
I have noticed that the `AuthenticationStateProvider` has an AuthenticationStateChanged event!
I think.. I should be able to achieve what I want by raising this event when my jwt token expires - i'm not sure whether this will trigger components to automatically re-render with the latest AuthenticationState but i'll continue down this path.

[2019-06-20 16:48] mkArtakMSFT commented on #11314
Thanks for contacting us, @blue-hedgehog.
@NTaylorMullen, can you please look into this? We need to understand what has changed between 2.2 and 3.0 and whether this was an intentional breaking change or not.

[2019-06-20 16:49] campersau commented on #11415
Yes, that will propergate the new `Task<AuthenticationState>` to all components which have the cascading parameter and `OnParametersSet` will be called on these afterwards.

[2019-06-20 16:51] mkArtakMSFT commented on #11291
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-06-20 16:51] davidfowl commented on #11312
No, the types in Razor.Internal, like RazorInject attribute and the other things you said are required for code generation.

[2019-06-20 16:52] mkArtakMSFT commented on #9920
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-06-20 16:52] #9920 closed

[2019-06-20 16:53] #6853 closed

[2019-06-20 16:55] mkArtakMSFT commented on #6837
Thanks for contacting us, @RoboBurned.
This is not an area of active investment at the moment. We would, however, happily consider a PR, if you're up to it.

[2019-06-20 16:57] mkArtakMSFT commented on #6766
Thanks for contacting us, @jlchavez.
In order to make this work, you have to explicitly add `asp-area=""`  to the tag helper, as it's done at: https://github.com/aspnet/AspNetCore/blob/release/2.1/src/Templating/src/Microsoft.DotNet.Web.ProjectTemplates/content/StarterWeb-CSharp/Views/Shared/_Layout.cshtml#L33

[2019-06-20 16:57] #6766 closed

[2019-06-20 17:01] ericstj commented on #11206
Yeah, file an issue requesting a change.  FWIW this is not a bug, we intentionally omit ref's in the case a lib will be used by desktop projects due to lots of old tooling that tries to load references for execution.  I think we can get away with having a reference, only for 'netcoreapp'.

[2019-06-20 17:06] mkArtakMSFT commented on #6762
Thanks for contacting us, folks.
We have no plans to add `Vue.js` template. But, we're interested enabling the `Vue.js` community to build and maintain a template as a package so that other members can use that for creating new `Vue.js` apps hosted on ASP.NET Core.
As part of this effort we're working on making an experience for using templates acquired from NuGet in VS better. Also, we're conside

[2019-06-20 17:06] #6762 closed

[2019-06-20 17:08] dazinator commented on #11415
@campersau ah I see how it fit's together now, thank you. I assume `<AuthorizeView>` works in a similar fashion. I'll close this for now as that should be sufficient for my needs!

[2019-06-20 17:08] #11415 closed

[2019-06-20 17:10] mkArtakMSFT commented on #6750
Thanks for contacting us, @grahamehorner.
There are no baked-in client code generators in the ASP.NET Core framework. We rely on external code-generation providers (NSwag) to do that. So this is an ask for them. When/if they have support for it, we'll consider improving our (still to come) tooling to be updated to simplify this process.

[2019-06-20 17:10] #6750 closed

[2019-06-20 17:11] campersau commented on #11415
@dazinator yes, it [does](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/Auth/AuthorizeViewCore.cs).

[2019-06-20 17:13] mkArtakMSFT commented on #11323
We're happy to help them out, but I can't see any response from them on the referenced issue.

[2019-06-20 17:16] mkArtakMSFT commented on #11387
Thanks @herrozerro. Looks like your repo is private. Can you please move the repro to a public repo so we can get to it?

[2019-06-20 17:16] pranavkm commented on #11312
We decided to leave `RazorInject` in the pubinternal namespace. We wanted to avoid breaking 2.2 RCLs with generated content. We're treating it as part of our public API surface even though it's in the `.Internal` namespace.

[2019-06-20 17:17] MaherJendoubi commented on #11323
We run a discussion here https://gitter.im/ElectronNET/community

[2019-06-20 17:18] mkArtakMSFT commented on #11357
We may be able to help if you provide us a sample repro project.

[2019-06-20 17:20] anurse commented on #11206
Filed https://github.com/dotnet/corefx/issues/38729

[2019-06-20 17:23] NTaylorMullen commented on #11314
@blue-hedgehog could you provide a minimal repro? I was unable to reproduce what you're seeing:

![image](https://user-images.githubusercontent.com/2008729/59868284-69e2ab80-9345-11e9-9715-1ef9f6a15145.png)

[2019-06-20 17:38] dazinator commented on #11417
Was able to write a method to get access to claims informarion from a JWT.  Roughly:

[code]

Then loop through the dictionary and build a lost of Claims up.

Not sure if this is the best or most efficient way but it serves my needs. I'll leave this issue open though for you to consider providing something for decoding JWT's in the framework.

[2019-06-20 17:38] kevinlo commented on #3975
@GrabYourPitchforks I prefer to use file system for the data protection key, but my architect choose DB.  Do you have any documentation that I can show my architect that IXmlRepository  needs to be quasi-transactional?

Back to your file system case, could you please explain more details how it works.  When you say

Do you mean it does not exist in the application memory or in the file system?

E.

[2019-06-20 17:42] mkArtakMSFT commented on #11366
Well, you can always expose your APIs through controllers, but all the calls then will need to go through the web, even though you're essentially on the same server. So you'll end up making HttpClient calls all the times - even for Server hosted model. That seems like a waste of resources.

[2019-06-20 17:44] ericstj commented on #11206
Sorry, what's "blocked" on this, I wouldn't expect anything to be blocked.

[2019-06-20 17:52] Pilchie commented on #11310
Tagging @jeffschwMSFT since his expectation is that this will be working.

[2019-06-20 18:05] anurse commented on #11206
Resolving this issue, which is that we currently have an implementation assembly in our targeting pack rather than a ref assembly. You are correct that a user scenario is not blocked.

[2019-06-20 18:06] mkArtakMSFT commented on #11419
Thanks for contacting us, @TomChalkerApption.
Please provide a pre-configured sample project for us to repro this, so we can investigate.
@SteveSandersonMS can you please look into this? Thanks!

[2019-06-20 18:14] herrozerro commented on #11387
@mkArtakMSFT it should be public now.

[2019-06-20 18:29] WayneHiller commented on #11418
I found the issue. Health Checks is fine. Turns out HttpClient in .Net Framework 4.5 uses TLS 1.0, aspnet core 2.2 does not accept that. I added ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12; before the HttpClient code and it work fine now.

Guess you can delete this Issue as it does not really relate to Health Checks.

[2019-06-20 19:13] natemcmaster commented on #11206
We didn't want to put ref assemblies in Microsoft.Extensions.* packages, so we created a transport package with ref assemblies which is only used to move bits from aspnet/Extensions into aspnet/AspNetCore. We could do the same thing for this package if it doesn't make sense to put the ref into System.IO.Pipelines.nupkg.

https://github.com/aspnet/Extensions/tree/master/src/TargetingPack/Microsoft.

[2019-06-20 19:16] joperezr commented on #11206
BTW, seems like System.Threading.Channels is on the same boat. It is also in the targeting pack and it is also a lib instead of a ref. I presume you would need a fix for that as well.

[2019-06-20 19:41] AndrePaulVigneault opened #11424 "How to obtain “B2C JWT Access Token” from the signed in User?"
I'm working with a .Net Core Web API and a .Net Core Web MVC Application. They both use Azure AD B2C to authenticate users. But in order to get a response from a HttpRequest from the Web API I need to provide the JWT Access Token from B2C for the signed in user on my web MVC application. Is there a way to obtain this access token inside a controller using the authenticated "User".

I have tried ac

[2019-06-20 19:41] hero115 commented on #9704
The fix above worked for me on Preview5 , I am not sure if this is related to the issue, but I also get a System.FileNotFoundException /src/BlazorASPNETCoreHosted.Client/wwwroot when trying this with preview6 and adjusting the docer images to use preview6 as well. With or without the target, the issue remains the same. Let me know if I should open a new seperate issue. Thanks.

[2019-06-20 19:52] anurse commented on #11206
@joperezr That's correct.

[2019-06-20 19:54] #11220 closed

[2019-06-20 19:54] JoelW187 opened #11425 "Blazor (client side) hosted in IIS not working under AspNetCore 3 Preview 6"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
Hosting Blazor apps in IIS doesn't seem to work under Preview 6.

[2019-06-20 19:59] JunTaoLuo commented on #11342
The motivation for the original issue we were trying to solve (https://github.com/aspnet/AspNetCore/issues/10504) is that building the repo doesn't require Java and should not need to specify -NoBuildJava. I can look into potential implementations where builds don't check for Java installations but tests will still fail without Java. In the meantime, the expected workflow we had in mind is that yo

[2019-06-20 20:00] JunTaoLuo commented on #11342
cc @mkArtakMSFT

[2019-06-20 20:16] blowdart commented on #11424
The token you get to login to the web application is limited to that function, logging into the web application (this is what the audience field is for). It's not supposed to be passed on anywhere else. You would use that token to ask for another token to access another service?

Is your web api within the same application, or is it another application?

[2019-06-20 20:18] #11258 closed

[2019-06-20 20:19] SteveSandersonMS commented on #11342
I don’t think it’s ok to have the requirement that people reverse-engineer our build system to figure out what magic environment variables to pass to VS just so they can run tests.

It’s not just about engineers at Microsoft - this is meant to be an open source project, which implies external developers should be able to make sense of how to contribute.

[2019-06-20 20:19] blowdart commented on #11419
Did you configure the application in AAD to have [roles flow?](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/app-roles)

[2019-06-20 20:28] los93sol commented on #11315
Thank you!  Any idea when preview7 is targetted to drop?

[2019-06-20 20:36] pranavkm commented on #11315
The preview cadence is monthly. I'm working on another SDK fix in this area, but if it's super problematic, you could consider patching your SDK locally or grabbing a preview7 build from https://github.com/dotnet/core-sdk

[2019-06-20 20:42] JunTaoLuo commented on #11342
The alternative is that ./build.cmd will fail for everyone working in this repo, even for people working in areas that don't run Seleium tests.

Again, I'm not proposing a permanent workflow change, but to unblock, see if setting the environment variable would resolve your issue. I agree that we shouldn't require external developers reverse engineering our builds, but we'll need to investigate pos

[2019-06-20 20:42] los93sol commented on #11315
Thanks for the info, I also noticed that when I have a project referenced to an RCL project and I edit my razor pages in the main project that I have to stop and restart the project for the changes to be served.  Will this address that scenario as well?

[2019-06-20 20:53] TonyTroeff commented on #11391
Hello, @mkArtakMSFT! You can see the repository [here](https://github.com/TroeffAtanasovOrtsev/Questionnaire).

[2019-06-20 20:56] pranavkm commented on #11315
Do you have runtime compilation enabled - https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.0#runtime-compilation?

[2019-06-20 21:00] natemcmaster commented on #11206
Actually, that's not correct. System.Threading.Channels is part of netcoreapp. https://github.com/aspnet/AspNetCore/issues/10938, https://github.com/dotnet/corefx/pull/38207. Only System.IO.Pipelines is affected by this.

[2019-06-20 21:03] pranavkm commented on #11210
@petroemil trying this out with preview7 I can see the error appear in the output:

[code]

@yan0lovesha I'm closing this issue since it looks like using properties addressed the original issue you filed. Feel free to file a new work item if you're running in to further issues in this area.

[2019-06-20 21:03] #11210 closed

[2019-06-20 21:09] joperezr commented on #11206
You are right, I was basing myself on the preview6 sdk, but I do see in master that this is now part of Microsoft.NETCore.App

[2019-06-20 21:32] mthalman opened #11427 "HttpRequestException calling ASP.NET service in 3.0 Preview 7"
### Describe the bug
We've got automated tests for our .NET Docker images at http://github.com/dotnet/dotnet-docker that have encountered an exception running the ASP.NET-related test for the latest preview7 drop.  The issue is a `HttpRequestException` when invoking `HttpClient.GetAsync` due to a failure to respond from the ASP.NET service.  The code being executed can be found here: https://githu

[2019-06-20 21:36] #10967 closed

[2019-06-20 21:59] mkArtakMSFT commented on #11387
@herrozerro, I'm unable to repro it using your repo. It successfully builds for me:
![image](https://user-images.githubusercontent.com/34246760/59883988-ade8a700-936b-11e9-8908-56177abbebf3.png)
![image](https://user-images.githubusercontent.com/34246760/59883996-b345f180-936b-11e9-8a3f-838a8b9fb466.png)

Can you open the `Package Manager Console` when you have the project loaded, and run `dotnet

[2019-06-20 22:01] mkArtakMSFT commented on #11342
@JunTaoLuo I thought we agreed earlier to default the flag to a value, which would result simple `./build.cmd` to succeed. Are you saying that's the goal, but it's not straight forward, so for now we'll need to have a workaround?

[2019-06-20 22:03] mkArtakMSFT commented on #11391
@TonyTroeff thanks. We're focused on the upcoming 3.0 release. We'll do our best to look into this earlier but can't promise.

[2019-06-20 22:16] JunTaoLuo commented on #11342
I realized that the solution we were considering probably won't be sufficient. Modifying https://github.com/aspnet/AspNetCore/blob/master/src/Components/build.cmd isn't enough because the actual issue here is test not build. We can run tests in two ways: command line and in VS. If we edited build.cmd and tell devs to test via ./build.cmd -Test, that would fix the command line test workflow but I d

[2019-06-20 22:17] captmomo commented on #11408
I first added it to the trusted root, but I still got the error. Then I added it to the intermediate authorities and then it finally worked. I’m not quite sure why to be honest.

[2019-06-20 22:26] #11402 closed

[2019-06-20 22:52] AndrePaulVigneault commented on #11424
Thank you for the fast response @blowdart , the api is a separate application that accepts two audiences(api itself, and this mvc app audience).

[2019-06-20 23:01] #10893 closed

[2019-06-20 23:14] BrennanConroy opened #11431 "[Discussion] SignalR HubConnectionContext constructors changing"
Prior to 3.0 `HubConnectionContext` had two constructors:

[code]

In 3.0 these 2 constructors have been removed and replaced them with a new one:
[code]

This new constructor makes use of a new options object, so we can expand the features of `HubConnectionContext` in the future without making more constructors and breaking changes.

This is the discussion issue for aspnet/Announcements#369.

[2019-06-20 23:25] pixeldm commented on #7647
Thanks @dazinator !  This does indeed work as expected.  Much appreciated for the help.

[2019-06-20 23:27] mkArtakMSFT opened #11432 "3.0-preview7 validation"
This issue will be used to collect all info related to the verification data for **3.0.0-Preview 7** release:

Build to use: daily build from https://github.com/dotnet/core-sdk#installers-and-binaries
If you plan to create any Azure resources specifically for the verification work, please create those in the **3.0-p7-validation** resource group, in the **ASP.NET Core Test** subscription.

Make sur

[2019-06-20 23:29] blowdart commented on #11424
Oh you're really abusing audiences here, really the web site should ask for a token to access the api.

However, @Tratcher where did savetokens go?

[2019-06-20 23:31] Tratcher commented on #11424
You need to get to the lower level options:
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c?view=aspnetcore-2.2#configure-the-underlying-openidconnectoptionsjwtbearercookie-options

[2019-06-20 23:33] blowdart commented on #11424
Aha, so @AndrePaulVigneault in

services.Configure<OpenIdConnectOptions>(
    AzureAD[B2C]Defaults.OpenIdScheme, options =>
    {
        // Omitted for brevity
    });

There should be a SaveTokens property, which will turn the access and refresh tokens into claims

[2019-06-20 23:49] AndrePaulVigneault commented on #11424
That's definitely helpful, I'll try it out, thank you for the answer.

[2019-06-20 23:52] los93sol commented on #11315
Thank you, wasn’t aware of that one!  Just switched from VS preview to release and went to 3.0 preview at the same time and didn’t realize VS preview was doing things for me before.

[2019-06-20 23:58] herrozerro commented on #11387
That was it, I updated blazor but not .net core.

[2019-06-21 00:00] lovelangy commented on #10028
@mderriey  thanks for your explaination.  but the turth is the reqeusts coming back from Idp is a HTTP Post, a generic requests to / is a HTTP Get; and [HandleRemoteAuthenticateAsync](https://github.com/aspnet/AspNetCore/blob/0058a583726d07036623d2bd6f3322f2691e8516/src/Security/Authentication/WsFederation/src/WsFederationHandler.cs#L135-L316)  only interpret POST,  for GET it will throw a excepti

[2019-06-21 00:01] ryancole commented on #11424
@blowdart and @Tratcher Thanks so much for helping us out here. I'm working with @AndrePaulVigneault on this project. I believe he is trying out your recommended bit of code, etc, so thank you for that pointer.

I've coded the HTTP API server that he's trying to make requests to and I saw your remarks about audiences. I'm new to the B2C workflows and the concept of audiences, and such, in general,

[2019-06-21 00:06] #10909 closed

[2019-06-21 00:07] mderriey commented on #10028
Hi @lovelangy

All remote authentication providers assume by default that requests they handle originate from endpoints that are dedicated to a response from the IdP.

In your case, the exception you're seeing comes from [here](https://github.com/aspnet/AspNetCore/blob/0058a583726d07036623d2bd6f3322f2691e8516/src/Security/Authentication/WsFederation/src/WsFederationHandler.cs#L156-L165).

IMO, a b

[2019-06-21 00:12] lovelangy commented on #10028
@mderriey  Thanks for quick reponse.  Yes, you are correct. Instead of subclass the hanlder, I should use SkipUnrecognizedRequests.   I did not notice option before.

[2019-06-21 00:25] blowdart commented on #11424
This isn't a B2C issue, this is an oidc issue, and as such I'm not really the expert in this, so asking advice from the B2C folks or OIDC experts may be better.

But how I think I understand it is you register the token issued to the MVC app is meant for the MVC app, if the MVC uses it to authorize. When the MVC app wants to call the API it either

1) Authenticates as service to service, and passe

[2019-06-21 00:37] #10351 closed

[2019-06-21 00:39] #8843 closed

[2019-06-21 00:40] halter73 commented on #8843
[IIS PR](https://github.com/aspnet/AspNetCore/pull/11165)

[2019-06-21 00:41] isaac2004 commented on #11384
The issue was I was running dotnet new inside the folder of the repo and I imagine there was a package conflict. Running dotnet new outside of the repo made this go away

[2019-06-21 00:41] #11384 closed

[2019-06-21 01:14] halter73 commented on #11408
@captmomo Could have the issue be that you added a RemoteCertificateValidationCallback using `+=` instead of replacing the existing one using `=`?

If you replaced

[code]

with

[code]

does that get rid of the AuthenticationException?

[2019-06-21 01:17] ajaybhargavb commented on #11225
I looked at this and we have a lot of inconsistencies in our template. I created a new project with `dotnet new blazorserverside` and inspected each of the `.razor` file for BOM. Here is what I found,

Contains BOM:
- MyApp/Pages/_Imports.razor
- MyApp/Pages/Index.razor
- MyApp/Shared/MainLayout.razor
- MyApp/App.razor

Does not contain BOM:
- MyApp/_Imports.razor
- MyApp/Pages/_Host.cshtml
- MyAp

[2019-06-21 01:19] ajaybhargavb opened #11435 "Blazor template files(.razor) contains inconsistent UTF-8 BOM"
From https://github.com/aspnet/AspNetCore/issues/11225#issuecomment-504253296,

I created a new project in command-line with `dotnet new blazorserverside` and inspected each of the `.razor` file for BOM. Here is what I found,

Contains BOM:
- MyApp/Pages/_Imports.razor
- MyApp/Pages/Index.razor
- MyApp/Shared/MainLayout.razor
- MyApp/App.razor

Does not contain BOM:
- MyApp/_Imports.razor
- MyApp/

[2019-06-21 01:32] captmomo commented on #11408
@halter73

Hi, I will try that later.
Here are the combinations I tried in chronological order;

1. Failed
`webSocketOptions.RemoteCertificateValidationCallback += new RemoteCertificateValidationCallback((sender, certificate, chain, policyErrors) => { return true; });`
2. Failed
`webSocketOptions.RemoteCertificateValidationCallback = new RemoteCertificateValidationCallback((sender, certificate, ch

[2019-06-21 01:58] AndrePaulVigneault commented on #11424
@blowdart , @Tratcher thank you so much for the help, you were completely right with the pointer. I'll add a snippet of code here for future references.

Startup.cs:
            services.Configure<OpenIdConnectOptions>(AzureADB2CDefaults.OpenIdScheme, options => {
                options.SaveTokens = true;
            });

Controller:
            string idToken = await HttpContext.GetTokenAsync("i

[2019-06-21 01:59] #11424 closed

[2019-06-21 02:09] anurse commented on #11368
Can you clarify your scenario? Are these just alternate ways clients can be configured and if one isn't functional, then you want to continue to allow clients configured with the other token source to be authenticated? That doesn't seem unreasonable but it's not something we've had significant demand for. I'm putting this on the backlog for now, but I don't expect it's something we'll have the res

[2019-06-21 02:10] anurse commented on #10848
Duplicate of https://github.com/aspnet/AspNetCore/issues/11365 (and that issue is prettier and followed the template :trollface:)

[2019-06-21 02:10] #10848 closed

[2019-06-21 02:11] anurse commented on #11365
Yeah, we actually noticed the same thing recently ;). We don't expect to have capacity to do this in 3.0 but we'll put it on our backlog, since it's definitely not the desired behavior.

[2019-06-21 02:13] anurse commented on #11363
Closing as it sounds like the questions have been answered and there is no actionable work on our end. Let us know if that's not the case!

[2019-06-21 02:13] #11363 closed

[2019-06-21 02:14] GrabYourPitchforks commented on #3514
I posted at https://github.com/aspnet/AspNetCore/issues/3975#issuecomment-503775408 a potential solution for the file system provider.

[2019-06-21 02:37] GrabYourPitchforks commented on #3975
I don't know if the docs say this explicitly. When we wrote the docs we were primarily concerned with things like correct usage of the APIs and describing configurable behaviors. We do try to write down assumptions made by the APIs, but on occasion we forget to list something because it never occurs to us that somebody might violate a behavior that we treat as a core assumption. In this case, the

[2019-06-21 03:05] ganu81 commented on #5465
@danroth27 are there any updates on this?

[2019-06-21 03:08] HMoeGuo opened #11436 "How to change the view auto generator file location,when use AreaViewLocationFormats to change default options"
How to change the view auto generator file location,
when use AreaViewLocationFormats to change default options

When i Add

`services.AddMvc().AddRazorOptions(Options =>
            {
                Options.AreaViewLocationFormats.Clear();
                Options.AreaViewLocationFormats.Insert(0, "/views/{2}/{1}/{0}" + RazorViewEngine.ViewExtension);
                Options.AreaViewLocationForma

[2019-06-21 03:31] huanbd commented on #11290
I catch this error in my project when update from v3-preview5 to v3-preview6.19307.2
My environment:
- Window 10 version 1903
- Visual Studio 2019 Preview, version 16.2.0 Preview 2.0

[2019-06-21 03:40] huanbd commented on #11290
Hi, Sorry, I've found the cause. I've not yet download and install SDK Net.core preview 6 in my computer 👎

[2019-06-21 04:11] xinyanmsft commented on #11435
this is the cause of this bug https://github.com/Azure/dev-spaces/issues/118, which breaks Docker tools and DevSpaces scenarios. The proper way is to use UTF8 instead.

[2019-06-21 04:15] huanbd commented on #11410
I think, I have the same error
[code]
I have a project Blazor client. It is configured as a page in a project Asp.net Core MVC
[code]
In index.html file
`<base href="/cms/" />`

/cms/css/site.css  not found
...

It run without error in SDK version preview5

[2019-06-21 04:53] #7750 closed

[2019-06-21 04:55] vasicvuk commented on #11368
Scenario is next. I have two authentication servers that i trust. One is issuing tokens to general users on the single environment and the second one is admin authority (authentication server) which is trusted by multiple environments. If the admin authentication server is down i still want users to be able to access environment. Currently if i have some downtime on admin authentication server all

[2019-06-21 05:29] Tratcher opened #11437 "Inconsistent IHostedService ordering between WebHost and Host"
In WebHost IHostedServices run after IServer. We've had a lot of complaints about that and we're [considering](https://github.com/aspnet/AspNetCore/pull/11008#discussion_r295730057) reversing that in 3.0 to be more consistent with generic Host where they run in registration order.

In generic Host IServer is part of an IHostedService GenericWebHostService and gets registered before any IHostedServ

[2019-06-21 06:35] lovelangy commented on #10971
I run into the same issue today (windows 2016).   I have 2 two certs, both of them are signed by the same root CA and Intermeidate CAs.    the weird thing is the first certs sends, but the 2nd cert doesn't.

I tried to add the intermediate cert to trush  as suggested by @scott-a-allard,  but it still doesn't work
it may be bug.

[2019-06-21 07:49] Z3roCoder opened #11439 "Blazor: Unable to import .NET dll: Fatal error in IL Linker"
### Describe the bug
Deciding to try out what Client-Side Blazor with WASM is capable of, I tried to include one of our companies standalone DLLs and run some functions from it. However, instead I have been getting an IL Linker error at build time and could not get it to work.

[code]

The Target-DLL was built for .NET 4.5 and only references System, System.Data, System.Xml and Microsoft.VisualBas

[2019-06-21 08:04] mikes-gh commented on #11174
@javiercn can I ask why the `_content` prefix for this feature?
It doesn't seem very intuitive to me..
Maybe the static path prefix could be made configurable in the csproj of the library
Whilst convention is good to keep code down in this case it may be less confusing to state the path particularly because the rule is a bit awkward.
Just my 2c and I am sure you have lots of other priorities :smil

[2019-06-21 08:15] dazinator opened #11440 "Blazor Client - Consider a "reverse middleware pipeline" for blazor client side apps"
### Is your feature request related to a problem? Please describe.

In my blazor client-side app, when I make an outgoing http request using `HttpClient` from some component, to some web api, and then receive a response back,
I find myself needing to extend what happens to the request before it gets sent over the wire, and likewise, intercept the response before it makes its way back into my compo

[2019-06-21 08:19] petroemil commented on #11210
As a last note, if we are already here.

I'm still having issues getting the properly deserialized object.

Even if my class has `{ get; set; }` properties, when I try to use `.GetJsonAsync<T>()` extension method on the `HttpClient`, I only get an empty object.
If I explicitly use `.GetStringAsync()` + `JsonSerializer.Parse<T>` together, only then it works.

I also noticed that `{ get; private set

[2019-06-21 08:25] mikes-gh commented on #11174
Another thought I had which may make more sence naming wise is to replace dots with hyphens.
`Blazor.Lib.js` becomes `blazor-lib.js` seems a bit better to me and looking at conventional js libraries this seems to be a  common pattern

[2019-06-21 08:43] campersau commented on #11440
You can use `DelegatingHandler`s instead of wrapping the `HttpClient`. Make sure that the inner most handler is a [`WebAssemblyHttpMessageHandler`](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Blazor/Blazor/src/Http/WebAssemblyHttpMessageHandler.cs).

Here is a good article about that: https://thomaslevesque.com/2016/12/08/fun-with-the-httpclient-pipeline/

[2019-06-21 08:55] dazinator commented on #11440
@campersau that looks perfect for defining a middleware on the client. I think what is missing from a blazor client perspective is a way to configure this "pipeline" of delegating handlers for the http client that is registered by default. Do you have any example of that?

[2019-06-21 08:58] dazinator commented on #11440
I'd love to see Blazor client have some `IAppBuilder` concept which it allows you to configure in startup.cs - with .UseXzy() extensions methods that basically just build that pipeline for the default http client via `DelegatingHandler`'s

[2019-06-21 09:03] binhlt0402 opened #11441 "SignalR server sometime hang until Ctrl+C is pressed"
### Describe the bug
SignalR Console Application sometime hang until Ctr+C is pressed. Because I'm not sure this is my code or not I decided to use the server in dotnet-client sample to test and I got the same bug. Note that it's not just the steps below cause the bug, it's just the easiest to reproduce.

### To Reproduce
Steps to reproduce the behavior:
1. Download and open the dotnet-client samp

[2019-06-21 09:07] doogdeb commented on #8212
Hi, my Asp.Net Core 2.2 site has some issues with OAuth correlation cookie failure in production, although data protection is enabled. Could this be because the default for OAuth cookie is samesite=lax and this causes problems with IOS? Would it be safe to set this to none?

[2019-06-21 09:13] campersau commented on #11440
You can try out `Microsoft.Extensions.Http` https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.0
Make sure to use `ConfigurePrimaryHttpMessageHandler` and return the `WebAssemblyHttpMessageHandler`.

[2019-06-21 09:48] javiercn commented on #11174
@mikes-gh We use _content by default to clearly distinguish what's directly from your app with what comes through static web assets, as a safe way to avoid collisions and keep everything under a common subspace of the url address space.

[2019-06-21 10:02] javiercn opened #11442 "[Blazor][Tooling] Incorrect formatting upon completion on code blocks"
When adding an override for a method inside a code block, formatting gets messed up upon completion.

![DD0GLXcQok](https://user-images.githubusercontent.com/6995051/59915171-d8b91680-93d0-11e9-93d9-15db24b19088.gif)

@NTaylorMullen @ajaybhargavb

[2019-06-21 10:15] dazinator commented on #11440
@campersau
Thanks I'll give it a go. I'm a little hesitant I know exactly how best to set this up / configure it correctly and then consume it from blazor components just yet. For example it looks like I'll have to inject IHttpClientFactory everywhere now. If not I'll have to create a TypedClient and then inject that into my components and typed clients are registered as transients - I can see tha

[2019-06-21 10:26] campersau commented on #11442
Also when not specifying `protected` it isn't added automatically. Only happens at the top of `@code` blocks for me.

[2019-06-21 10:28] ngohungphuc commented on #5431
Is ther any update on my PR https://github.com/aspnet/AspNetCore/pull/10616 ?

[2019-06-21 10:40] Diomos commented on #8980
I got this error in this scenario:
- registered my own service 'MyService' (tried Singleton, Scope and also Transient)
- tried to inject dbContext in it's constructor

I thought chain dependency injections are supported but apparently not. What baffles me is why I can inject dbContect to controller but not into custom service? Another fact: I was able to inject ILogger<MyService> (log4net version)

[2019-06-21 11:07] proga7med commented on #5301
- Does signalr support a hub proxy? I can't see the hub proxy class

[2019-06-21 12:00] hershi9 opened #11443 "No jQuery intellisense in View pages"
### Describe the bug
I have created a new MVC project template with ASP.NET Core 2.2.3, but when adding a script tag to a View page there isn't any intellisense available for jQuery?

Source code:
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript">
    $.
</script>

I have tried to omit the type="text/javascript" but no change.

Thank you!

### Additional context
.NET Core SDK (refle

[2019-06-21 12:18] JoelW187 commented on #11425
I figured out the issue and I think it's the Visual Studio Publisher. When you publish it creates a wwwroot folder but it's not putting index.html (or the css folder, in this case) under wwwroot. Instead it creates folders under wwwroot called _content\webapplication1client which contain index.html (and my css folder). I copied these to the wwwroot folder and the app runs now -- no 404. So it look

[2019-06-21 12:53] javiercn opened #11444 "[Blazor server-side] Disable re-connection behavior while debugging"
When stopped at a break-point or stepping through code, the client gets disconnected and starts the re-connection process, maybe there's something we can do while the debugger is attached to tell the client not to start retrying.

@SteveSandersonMS any idea?

[2019-06-21 13:13] TomChalkerApption commented on #11419
Hello Barry:

I did add a custom role to the appRoles section of the manifest and confirmed that it was correctly assigned to a user.
However, I note that a http://schemas.microsoft.com/ws/2008/06/identity/claims/role claim does not show up in the ClaimsPrincipal context variable as suggested by the reference: https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/app-roles#roles

[2019-06-21 13:16] davidfowl commented on #11437
Sounds good to me. So this only affects things in Startup? That sounds like a good change.

[2019-06-21 13:26] CornedBee commented on #11240
I would like to reopen this. It's currently broken on preview6 and master. Not only is the file in the wrong location, the ref assembly still refers to the class in the Layouts namespace.

This means that when compiling, it references Layouts.PageDisplay, but at runtime, it can't find that class in the actual assembly.

This was broken by PR #10491.

https://github.com/aspnet/AspNetCore/blob/maste

[2019-06-21 13:33] isaac2004 commented on #11387
@mkArtakMSFT FYI I see this issue building from source and running a template from source. The main painpoint is that it works on BlazorFiddle

[2019-06-21 13:33] jzabroski commented on #11050
I discovered two nights ago that Principals are dependency injected in ASP.NET Core, so they are bound to a scope, not a thread, so my point is likely irrelevant.  Sorry.

An interface is not a dependency; the Startup class is the dependency.

Dependency inversion principle: Depend on abstractions, not implementation details.

Interfaces do NOT break use cases.  They enable use cases.

If the goal

[2019-06-21 13:37] TomChalkerApption commented on #11419
Hello Barry:

Update on the custom role:

The claims token for my custom role has suddenly started to appear in the ClaimsPrincipal.
There appears to be some sort of propagation delay to the change in the Axure Manifest that I made  yesterday afternoon.

The AuthorizeView roles tag is now working as expected.

I will close the bug.

Thanks again,

Tom Chalker
Senior Developer
Apption
1600 Scott St

[2019-06-21 13:40] davidfowl commented on #11050
Startup is a bootstrapper not a dependency. It's the composition root for the application level container (well Configure is really).

[2019-06-21 13:41] TomChalkerApption commented on #11419
**Solution:**

It is necessary to follow the instructions described in [roles-using-an-application-role-manager](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/app-roles#roles-using-an-application-role-manager) to add a custom role and use its DisplayName in the AuthorizeView tag.
Note that changes to Azure manifest of an application may take considerable time to take eff

[2019-06-21 13:41] #11419 closed

[2019-06-21 13:46] javiercn opened #11445 "[Blazor] Add caching attributes when prerendering interactive components"
When prerendering blazor server-side applications, we should add no-cache no-store must-revalidate and pragma no-cache to avoid the response being cached an the wrong circuit id being sent on the second response.

I didn't actually ran into this (I thought I did) but this is a good idea to do.

[2019-06-21 14:09] mthalman commented on #11427
I'm continuing to investigate this from a repro standpoint.

Note that the test which is failing is a nested container scenario.  That means the test runs a Docker container and within that container it creates a web project, builds a Docker image for that app, runs the app in a container (at this point the ASP.NET app is running in a container inside of the original container), and then back in t

[2019-06-21 14:13] jzabroski commented on #11050
Having an interface is orthogonal to the fact it is a bootstrapper.

The interface allows a generic constraint on the fluent interface for setting the composition root. You even agree by saying:

Netting it out, here are the correct tasks:
1. Keep IStartup for backward compatibility.
2. Mark IStartup with Obsolete
3. Add IStartupCore with proper Configure signature that is currently resolved throu

[2019-06-21 14:16] CornedBee opened #11446 "Blazor Router interface is very inflexible"
Blazor's `Router` component has one discovery mode for eligible pages: take an assembly and search it, and all its referenced assemblies, for types implementing `IComponent`.

If that is not the way I want to discover types (e.g. maybe I want to grab them from service registrations, or filter them somehow in order to make some pages only available if certain configuration values are set), there's

[2019-06-21 14:25] anurse commented on #5301
No, the Hub Proxy mechanism is no longer present in the SignalR client. Instead you call `.InvokeAsync("NameOfMethod", arg1, arg2)` on the `HubConnection`. By the way, this issue is tracking our work on a C++ client, I'd suggest posting a separate issue if you have a general SignalR question, or asking on [Stack Overflow](https://stackoverflow.com/).

[2019-06-21 14:26] anurse commented on #10971
We'll see if we can investigate a little further, but as I mentioned from my understanding this isn't something we're *able* to do with `X509Certificate2` since I believe only a single certificate is loaded out of the PFX file when we attempt to load it.

[2019-06-21 14:35] nolisj opened #11447 "@inject Keyword"
(sorry. i thought the template is not editable initially). please see actual concern below.

[2019-06-21 14:37] nolisj commented on #11447
Hi! The `@inject `keyword in Blazor can get really repetitive when you start to have a lot of items to inject. Example (from the BlazingPizza sample project):

[code]

The more you want to use it, the more this can get really unwieldy. Also, it is not very clear to a new user (though one can deduce) that you are actually injecting a property.

I was thinking if it can be done this way:

[code]
Thi

[2019-06-21 14:42] mthalman commented on #11427
It turns out that the container of the client that is attempting to send the GET request to the service is using a stable base image.  I was mistakenly thinking it was using the latest nightly drop of the runtime but it's not.  What this means is that the version of .NET running on the client has not changed and is not the cause of the regression.

[2019-06-21 14:48] SteveSandersonMS commented on #11444
I don't immediately have any clear ideas about how the client can know that the server is paused for debugging. The server can't know it's going to hit a breakpoint until it does, and then it doesn't have any opportunity to notify the client about what's going on.

Longer term we might have an opportunity to handle this as part of a bigger work item on live reloading. I think it's likely that any

[2019-06-21 14:50] mikes-gh commented on #11174
@javiercn  any thoughts on replacing dots with hyphens instead of removing them
e.g.
`_content/Blazor.Lib`. becomes `_content/blazor-lib`

[2019-06-21 14:53] SteveSandersonMS commented on #11225
From your investigation, it sounds like we do need them to contain a BOM. But that's a bit awkward, since it's increasingly common these days not to use BOMs and for no-BOM to signal "UTF-8".

Is it possible to handle this in the Razor compiler by making it interpret no-BOM files as UTF-8?

[2019-06-21 14:54] mmiller678 commented on #11050
I agree there should be an interface as the startup class must adhere to a contract.  Using convention is fine for people who don't wish to implement the interface, but it requires you "know" the convention or run the application then look at the resulting exception to learn what the convention is.  Even then you don't have exact types, so you probably end up needing to review the documentation.

[2019-06-21 14:58] Tratcher commented on #11437
Primarily. It also affects calls to IWebHostBuilder.ConfigureServices in the call to the ConfigureWebHost lambda.

[2019-06-21 14:58] SteveSandersonMS opened #11448 "Update Mono WebAssembly for preview 7"

[2019-06-21 15:01] Tratcher commented on #8212
@doogdeb unlikely. The default for correlation cookies has always been None.
https://github.com/aspnet/AspNetCore/blob/2c9e5c9356d641cba280718cb7a21489ddc31954/src/Security/Authentication/Core/src/RemoteAuthenticationOptions.cs#L26-L33

Please open a new issue with the details for your scenario, including a Fiddler trace if possible.

[2019-06-21 15:02] SteveSandersonMS commented on #5557
It's not safe to replace change which delegate an event handler ID refers to. If we did that, then it's possible that:

 * A user clicks "delete" on the first item in a list
 * Before the message reaches the server, some unrelated render changes the order of the list, so a different thing is now at the top
 * The "delete" message reaches the server, and an unexpected item gets deleted

Keeping the

[2019-06-21 15:03] jzabroski commented on #11050
Yeah, it's a bit like the convention allowed in a [C# foreach statement](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/foreach-in):

- all `foreach` needs is a `GetEnumerator()` method that returns an object that has a `MoveNext()` method returning a bool, and a `Current` property returning an object
- however, you can implement IEnumerator, which is the same as implem

[2019-06-21 15:04] javiercn commented on #11444
Yeah, something like that could work. Also, we could do configure blazor on the template and use something like Debugger.IsAttached to pass in that info to the client when we render the cshtml file.

It would not work for plain HTML hosts but that is a niche case at this point.

[2019-06-21 15:05] javiercn commented on #11444
or something we set on the blazor object (we could use the environment tag helper to make sure never gets to prod)

[2019-06-21 15:08] SteveSandersonMS commented on #11397
We can consider this in the future.

In the meantime, I'd recommend considering defining your custom validator either as:

 * A component, like `<DataAnnotationsValidator />`, so it can get injected services directly
 * Or an extension method on the `EditContext` that also takes an `IServiceProvider` from the caller.

... or both, like we've done in the framework for DataAnnotations.

[2019-06-21 15:21] pdeveau commented on #11397
Thanks @SteveSandersonMS, I didn't really think about the first option.  I was already planning on using the second option.

[2019-06-21 15:21] #11397 closed

[2019-06-21 15:22] SteveSandersonMS commented on #11338
If you want a parent to perform some actions on a child, use the combination of `ref` and `OnAfterRender`.

`ref` captures a reference to a child, which becomes initialized during the next render. Then `OnAfterRender` can perform invocations on that child.

[2019-06-21 15:24] BrennanConroy commented on #11441
What sample is that?

Did you perhaps accidentally click on the console which causes it to freeze? And then ctrl-c will cause it to no longer freeze and free up all the queued messages?

[2019-06-21 15:27] sdmaclea opened #11449 "Hosting Blazor (client side) in IIS under Core 3 Preview 6 doesn't work"
Manually transferred from dotnet/coreclr#25289

@joelw187 said
Hosting Blazor apps in IIS doesn't seem to work under Preview 6. I always get the message "This localhost page can’t be found" (Chrome). The app runs fine in Visual Studio 2019 Preview (16.2.0 Preview 2.0). It also works if I run the server executable from the command line (i.e., WebApplication1.Server.exe) and then navigate the browse

[2019-06-21 15:33] SteveSandersonMS commented on #11340
Note that if/before we do this, we need to verify we can safely remove the `on` prefix from the event names in the `AddAttribute` calls. That is, the TS code needs to be able to receive and make use of event handler names that don't have an `on` prefix. Otherwise it's going to be super weird that we have the prefix in some cases and not others.

Failing that, I'm leaning towards keeping the `on` p

[2019-06-21 15:38] danroth27 commented on #11340
OK, let's go ahead and close this then

[2019-06-21 15:38] #11340 closed

[2019-06-21 15:42] mthalman commented on #11427
The latest drop of the SDK (3.0.100-preview7-012541) appears to have fixed this issue.  I'm just waiting for our full test pass to finish before closing this.

[2019-06-21 15:46] aherrick commented on #11366
But how do I setup myself to use an API for both a Client or a Server side Blazor then?

[2019-06-21 15:46] danroth27 commented on #11425
@javiercn Is perhaps related to the static assets work?

[2019-06-21 15:52] mkArtakMSFT commented on #11387
@isaac2004 I'm going to try this out and get back to you.

[2019-06-21 15:57] dazinator commented on #11440
I felt that Microsoft.Extensions.Http was somewhat complicating things, as all I wanted to do is apply some configuration to the default httpclient instance used in my blazor app.

This is the method I have so far - as you can see it's a bit cumbersome and not using a fluent or builder style registration api, but I'd love if blazor could introduce this:

[code]

Now the HttpClient that is injected

[2019-06-21 16:01] kant2002 commented on #11185
Workaround for that for me was following
[code]

[2019-06-21 16:07] nolisj commented on #11447
As I work on this more and more, I'm starting to look at other areas for consistency.

Instead of:

[code]

Why not:

[code]

The added advantage is that we removed that puzzling situation where we are using a parameter (`Order `in this case) in the UI section before we even declare it in the `@functions` section. We therefore prevent the scenario where the sequence of compilation is leaking.

Nol

[2019-06-21 16:09] mrpmorris opened #11451 "Blazor server-side components are not destroyed when browser closes"
### Describe the bug
When a component implements IDisposable or an object Destructor on a Server-Side component, the code is not executed when the user closes their browser.

### To Reproduce
1: New Blazor server-side app
2: Create a class in /Pages named IndexPageBase

[code]

3: Change IndexPage.razor so it `@inherits IndexPageBase`
4: Set the app start-up options to not open a browser, but just

[2019-06-21 16:18] ibasin commented on #11291
I ended up doing this (below). Not sure if this is 100% kosher but it served my purpose. I would welcome any comments/feedback.

        public IHtmlHelper<dynamic> MakeInnerHtmlHelper(ModelExpression modelExpression)
        {
            var innerHtml = NotTypedHtml.ViewContext.HttpContext.RequestServices.GetRequiredService<IHtmlHelper<dynamic>>();
            var viewData = new ViewDataDictiona

[2019-06-21 16:25] NTaylorMullen commented on #11442
Yup 😄. Roslyn does some funky behaviors when formatting inside of `@code` (they special case `@functions`); however, we're tracking this issue here: https://github.com/aspnet/AspNetCore/issues/10942

[2019-06-21 16:25] #11442 closed

[2019-06-21 16:31] mthalman commented on #11427
Confirmed that the issue is fixed in latest drop.  Closing.

[2019-06-21 16:31] #11427 closed

[2019-06-21 16:39] mkArtakMSFT commented on #11451
Thanks for contacting us, @mrpmorris.
We've addressed this issue as part of https://github.com/aspnet/AspNetCore/issues/9893

[2019-06-21 16:39] #11451 closed

[2019-06-21 16:40] mkArtakMSFT commented on #11449
Thanks for contacting us, @JoelW187.
We're tracking this issue as part of https://github.com/aspnet/AspNetCore/issues/11185

[2019-06-21 16:40] #11449 closed

[2019-06-21 16:43] mkArtakMSFT commented on #11447
Thanks for contacting us, @nolisj.
`@inject` is an existing Razor directive, which we reuse here and we don't want to introduce a Blazor-specific variation of it to avoid confusion.
As for the second suggestion, we don't want to reinvent new ways of defining properties and prefer to stick with the C# language.

[2019-06-21 16:43] #11447 closed

[2019-06-21 16:46] mkArtakMSFT commented on #11446
Thanks for contacting us, @CornedBee.
@SteveSandersonMS what is the extensibility model for component router?

[2019-06-21 16:46] NTaylorMullen commented on #11352
This can't make it in preview7 because of technical reasons: https://github.com/aspnet/AspNetCore-Tooling/pull/594#issuecomment-504491617

[2019-06-21 16:48] kevinlo commented on #3975
@GrabYourPitchforks   I think that assumption make sense, but now we have Couchbase consistency issue with data vs. index.    Even with the quasi-transactional file system, do you think it still has the key renew case that I ask @HaoK?

My question is how to refresh the keyring from my app.   At first, I submit this issue expecting ASP.NET Core would do it.   But blowdart says it can cause DoS.  F

[2019-06-21 16:48] SteveSandersonMS commented on #11446
The extensibility model is either subclassing the router, or creating a parallel alternative.

We will be open to changing the set of virtual methods on the router in the future if it helps to enable more scenarios.

[2019-06-21 16:50] mkArtakMSFT commented on #11444
I was thinking to simply do this based on current environment: https://github.com/aspnet/AspNetCore/issues/11383

[2019-06-21 16:53] mkArtakMSFT commented on #11383
@anurse what do you do for SignalR in this case? If you hit a breakpoint on the server, what will happen to the client?

[2019-06-21 16:54] dazinator commented on #11440
Also I kind of fail to see where the value is  in `IHttpClientFactory` when I can register my own type, that takes a http client in its constructor, and configure that http client directly in the factory method registered with DI like:

[code]

This let's let's configure the httpclient for the typed service AND let's that typed service remain a singleton (not transient meaning less instances creat

[2019-06-21 16:55] D9001 opened #11452 "Html.BeginForm() does not render appropriate attributes needed for IFormFile to be non-null"
_Originally posted by @mkArtakMSFT in https://github.com/aspnet/Mvc/issues/7901#issuecomment-398143571_

This issue still exists in .NET Core 2.2. Is it intentionally not being supported without the workaround referenced in the original issue? @mkArtakMSFT seemed to close it because he could not reproduce it, but this seems to be a widely known issue at this point.

[2019-06-21 16:59] mkArtakMSFT commented on #11440
Thanks for contacting us, @dazinator.
HttpClientFactory has a ton of benefits and covers many aspects simplifying the way the pipeline is configured. You can read more about it at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2

As for the rest, we plan to revisit the HttpClient usage in Blazor as part of https://github.com/aspnet/aspnetcore/issues/10397

[2019-06-21 16:59] #11440 closed

[2019-06-21 17:03] dazinator commented on #11440
Thanks you. I'm loving blazor so far and I look forward to this being more fully fleshed out in a future release!

[2019-06-21 17:13] Tragetaschen opened #11454 "The Blazor circuitId can contain two consecutive dashes"
The pre-rendered HTML of a server-side component contains a configuration string comment (`<!-- M.A.C.Component:{"circuitId":"...`) and the circuitId there can contain a double dash (`--`).
This is invalid HTML syntax: https://www.w3.org/TR/html51/syntax.html#sec-comments

Different browsers react differently. Chromium (for example Edge Dev) doesn't really care, but I have seen at least a warning

[2019-06-21 17:20] nolisj commented on #11447
ok.

[2019-06-21 17:21] mkArtakMSFT commented on #11439
Thanks for contacting us, @Z3roCoder.
Can you try disabling the linker and see whether that works?
Simply set the `BlazorLinkOnBuild` property to `false` as shown below:
[code]

Please note that Blazor WebAssembly apps run within the browser security sandbox so you won't be able to do operations which require elevated privileges (access files on disk, connect to database, ...).

[2019-06-21 17:23] mkArtakMSFT commented on #11425
Thanks for contacting us, @JoelW187.
This is being tracked as part of https://github.com/aspnet/AspNetCore/issues/11185

[2019-06-21 17:23] #11425 closed

[2019-06-21 17:26] mkArtakMSFT commented on #11417
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-06-21 17:28] mkArtakMSFT commented on #11414
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-06-21 17:30] Z3roCoder commented on #11439
Hello, and thanks for you reply.
I've tried this by now and am now facing another issue.

My library uses CodeDom, which seems to not be supported by .NET Core - I think that might have been the issue in the first place as well.

Is there any way to get this to work, or do I need to rewrite the library to discard CodeDom in favor of, say, Roslyn?

[2019-06-21 17:33] danroth27 commented on #11411
The default Identity UI is actually based on Razor Pages, not Blazor. We could at some point decide to provide an alternative implementation of the default Identity UI using purely Blazor components, but that’s not something we plan to do right now.

Blazor is intended to be complimentary to our existing server-side rendering technologies, like MVC & Razor Pages. You should be able to customize th

[2019-06-21 17:33] #11411 closed

[2019-06-21 17:39] mkArtakMSFT commented on #11406
Thanks for contacting us, @baartho.
@ajaybhargavb can we check for this and error out instead? How hard will it be? If it's extra-small work item, we may try to do that at some point in the future. If not, we may not even do it given how corner case this is.

[2019-06-21 17:44] mkArtakMSFT commented on #11321
Thanks, @Tragetaschen. Looks like you've already worked through this on your own.
We're moving this to the Backlog. If more people will start facing this issue we may decide to do something about it.

[2019-06-21 17:45] abhisheksiddhu commented on #11288
@mkArtakMSFT tried on 16.2 and it works fine on it. For now, I am sticking to the old syntax and will migrate later. I am assuming 3.0 final release will work out of the box in VS stable channel as well.

[2019-06-21 17:46] mkArtakMSFT commented on #11316
Thanks for contacting us, @Tragetaschen.
@ajaybhargavb any thoughts here?

[2019-06-21 17:48] mkArtakMSFT commented on #11454
Thanks for contacting us, @Tragetaschen.
@javiercn do we still use this format?

[2019-06-21 17:52] mkArtakMSFT commented on #11439
@Z3roCoder have you tried to add a reference to the `System.CodeDom` NuGet package?

[2019-06-21 17:54] mkArtakMSFT commented on #11126
Thanks for contacting us, @Timothy-Liu.
Both `.cshtml` and `.razor` files are Razor files, but they're being compiled in different ways. We don't want to use `.blazor` extension because we may use `.razor` files for other application models too.

[2019-06-21 17:54] #11126 closed

[2019-06-21 18:00] anurse commented on #11383
We [disable our "timeout" scavenging logic on the server](https://github.com/aspnet/AspNetCore/blob/04c3192d3cec396a9f2343fb5407d6777349b9df/src/SignalR/common/Http.Connections/src/Internal/HttpConnectionManager.cs#L150) when the debugger is attached. That prevents the server from terminating the connection (due to a long pause at a breakpoint).

We don't do anything from the client though, it's d

[2019-06-21 18:08] mkArtakMSFT commented on #11142
Thanks for contacting us, @chrissainty.
As pointed out by @iAmBipinPaul, you should make you configure the `HttpClient` you register in the server project DI container (by setting up the `BaseAddress`.

Having said this, if you intend to call into the backend, you shouldn't use HttpClient directly. Instead, consider using a pattern demonstrated in the sample @danroth27 has created: https://github.

[2019-06-21 18:08] #11142 closed

[2019-06-21 18:13] mkArtakMSFT commented on #11147
@flgatormike, you shouldn't need to use `dotnet watch` manually any more. Starting with `Preview6` release VS will handle watching the files for you.
@pranavkm does the watching work for referenced projects or only the top-level one?

[2019-06-21 18:15] javiercn commented on #11454
@mkArtakMSFT We Base64UrlEncode stuff, which apparently can cause issues i wasn't aware of. We might Base32 things instead, at the expense of extra size. I'll see if I can figure out a cheap alternative.

[2019-06-21 18:15] mkArtakMSFT commented on #11159
Thanks for contacting us.
@pranavkm can you please look into this? Thanks!

[2019-06-21 18:17] Z3roCoder commented on #11439
Hello,
yes, I have added it and am still receiving the same Error as before

[2019-06-21 18:18] javiercn commented on #11444
Feel free to close this issue and move the comments to your issue. I think we should reconsider doing something cheap (like not triggering the reconnect UI) as this is quite painful.
The disconnect will still happen, we will simply keep trying indefinitely silently. This can be a setting we pass in to javascript from the host razor file, that way we can do things like Environment.IsDevelopment &&

[2019-06-21 18:34] yan0lovesha opened #11455 "Http.PostJsonAsync(string, object) need to return the response"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like
Currently only Http.PostJsonAsync<T>() can deserialize the response body to type T. Most times we don't want to define a C# class to represent the response body. In this case people often call Http.PostJsonAsync() instead, but this one doesn't give any chance to access the response. I think eit

[2019-06-21 18:41] danroth27 commented on #5465
Thanks for this feedback, @ganu81! This feature isn't going to fit in .NET Core 3.0, but we will consider it as part of our post-3.0 planning.

[2019-06-21 18:42] dazinator commented on #11440
After reading up a lot more, it turns out IHttpClientFactory did a lot more than I thought, and having a singleton HttpClient isn't the greatest solution due to it not picking up dns changes.

I've changed my code to use IHttpClientFactory and it's working well. Thanks @campersau for the suggestion.

[2019-06-21 19:44] Z3roCoder commented on #11439
In the end, I - for now - decided to drop the CodeDom and removed the parts that referenced it in my Library, and it seems to be working now. I don't know if that is a general issue, but if not, you can close the Ticket - If it is, I am happy to see it being resolved :)

[2019-06-21 19:56] NickMaev commented on #5200
Look at the [React Core Boilerplate](https://github.com/NickMaev/react-core-boilerplate). It includes SSR, React, Redux and many other things. It's not a CRA, but it is used in many projects in production.

[2019-06-21 20:15] Stamo-Gochev commented on #11338
@SteveSandersonMS This is indeed what I used as the JS interop call wasn't necessary in the real scenario. Still, I cannot figure out why such a call fixes the async behavior.

[2019-06-21 20:20] HaoK commented on #5826
Moving to preview 8 as PR is almost there but won't make it in today

[2019-06-21 21:08] #5279 closed

[2019-06-21 21:13] mkArtakMSFT commented on #10895
I'm closing this now, given the scenario to be fixed is a corner case one.

[2019-06-21 21:13] #10895 closed

[2019-06-21 21:15] mkArtakMSFT commented on #9420
I believe we ended up doing something about this already.

[2019-06-21 21:15] #9420 closed

[2019-06-21 21:17] mkArtakMSFT commented on #10360
@ajaybhargavb please dupe this with the issue where we track the actual issue causing this.

[2019-06-21 21:28] #11145 closed

[2019-06-21 21:41] HaoK commented on #3774
DataProtection and extensions identity packages are targeting netstandard via https://github.com/aspnet/AspNetCore/pull/11008

[2019-06-21 21:41] #3774 closed

[2019-06-21 22:10] ajaybhargavb commented on #10360
Dupe of https://github.com/aspnet/AspNetCore/issues/11225.

[2019-06-21 22:10] #10360 closed

[2019-06-21 22:10] ajaybhargavb commented on #11225
@mkArtakMSFT, I'm assigning this to myself.

[2019-06-21 22:23] pranavkm commented on #10889
Trying this out with our latest preview7 bits, this seems to be working fine:

![image](https://user-images.githubusercontent.com/174281/59954190-4cdad500-9438-11e9-98bb-aafed43532bc.png)

[2019-06-21 22:23] #10889 closed

[2019-06-21 22:24] fileman opened #11456 "AzureADB2C.UI expose Events"
### Is your feature request related to a problem? Please describe.
Add claims like roles or permissions read from db to user identity after successful login.

### Describe the solution you'd like
Set OpenIdConnectEvents like OnTokenValidated without copy all AzureAdB2C.UI required class from the github repo and customize it.

### Describe alternatives you've considered
This is a place where the qu

[2019-06-21 22:29] karaziox commented on #8952
I have a fresly installed VS2019 Preview and this is the first ASP.NET core with Kestrel project that I run and I'm hitting the same issue. I've tried the clean/trust commands to refresh the certificate with no change.

`dotnet --version`
3.0.100-preview-010184

This is an empty project with .ConfigureKestrel() added without any changes

[2019-06-21 22:32] mkArtakMSFT commented on #11288
Yes, it will, @abhisheksiddhu.

[2019-06-21 22:32] #11288 closed

[2019-06-21 22:34] mkArtakMSFT commented on #11452
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-06-21 22:40] mkArtakMSFT commented on #11366
Here is a sample app which does exactly that: https://github.com/danroth27/BlazorDualMode
Look at how the `IWeatherForecastService` is implemented in server and client.

[2019-06-21 22:45] mkArtakMSFT commented on #5431
@ngohungphuc we're working through some security-related aspects of this, before we can take it.

[2019-06-21 22:58] NTaylorMullen commented on #10734
So I've been investigating multiple ways to do this over the past several days all of which have hit various roadblocks all exposing different issues with fulfilling this issues core requirement. The core requirement for this feature is: Work at least as well as the `UrlResolutionTagHelper` works today.

To make that possible we need to support:
1. Plain HTML attributes, `<img src="~/some/path.png

[2019-06-21 23:02] heejaechang commented on #10942
how can I repro this ? which VS should I use?

[2019-06-21 23:38] danroth27 commented on #10942
@heejaechang You'll need VS 16.2 P2 and .NET Core 3.0 Preview 6 (latest public previews of both). See https://blazor.net -> Get Started for full setup instructions.

[2019-06-21 23:54] pranavkm opened #11459 "SerializableError does not serialize with System.Text.JsonSerializer"
Tracking issue https://github.com/dotnet/corefx/issues/38767

[2019-06-22 00:51] Tratcher commented on #8952
@karaziox the 3.0.100-preview-010184 SDK is from 3.0.0-preview2, where this issue wasn't fixed until preview6. Go to https://dotnet.microsoft.com/download/dotnet-core/3.0 and install SDK 3.0.100-preview6-012264.

[2019-06-22 00:52] davidfowl commented on #11437
Sounds good

[2019-06-22 00:56] davidfowl commented on #11050
I understand why people want for the interface and we’ll add one back. I was just clarifying some misconceptions about why both patterns exist and why IStartup is a bootstrapper/composition root and not a dependency

[2019-06-22 00:57] #2979 closed

[2019-06-22 01:58] w152013768 opened #11461 "build the solution, can not download the preview sdk"
When I am going to build the solution with the restore.ps, It  will go to error : can not download from https://dotnetcli.azureedge.net/dotnet/Sdk/3.0.100-preview5-011568/dotnet-sdk-3.0.100-preview5-011568-win-x64.zip. I am in China.

Can anyone tell me how to do?

[2019-06-22 02:38] kle622 commented on #7647
I'm just trying this out now, and it is working as described. Thanks!
Is there a way to watch for new .cshtml files to compile?

[2019-06-22 02:47] Tratcher opened #11462 "Forwarded authentication handlers always run ClaimsTransformation twice"
If you configure one authentication handler to forward to another via ForwardAuthenticate, ForwardDefault or ForwardDefaultSelector it ends up running ClaimsTransformation twice, once for the original handler and once for the forwarded one.
https://github.com/aspnet/AspNetCore/blob/4ef204e13b88c0734e0e94a1cc4c0ef05f40849e/src/Http/Authentication.Core/src/AuthenticationService.cs#L77-L82
https://gi

[2019-06-22 02:49] binhlt0402 commented on #11441
It's the sample from AspNetCore.Docs. I linked the sample in the post. Sorry for the confusion.

You might be right. I didn't know clicking on the console causes it to freeze. I thought the only key it accepted is whatever key it's waiting for and the Ctrl+C to terminate the application. So I clicked on it and scroll the window frequently to see the message.

[2019-06-22 03:08] dazinator opened #11463 "Blazor Plugins"
### Is your feature request related to a problem? Please describe.
I have been experimenting with loading plugins dynamically into a blazor client app.

Few reasons for this experiment:

1. App size can be large. By only allowing assemblies for features that user is interested in using (i.e ones they have enabled), the number of assemblies that need to be loaded into the browser can be kept as low

[2019-06-22 03:44] blowdart commented on #11456
You can do this with claims transformation, which works for all login types, rather than just limiting yourself to Azure B2C. Have you tried this and found it unsuitable?

[2019-06-22 03:57] hez2010 opened #11464 "Blazor: Allow writing logic code in a single cs file"
### Is your feature request related to a problem?
Currently we need to write all codes including HTML and C# in .razor files which is too complex for a code file when both logic code and layout code is large.

### Describe the solution you'd like
Introduce a ".razor.cs" file, which allows us to write the code under "@code { ... }" in a ".razor.cs" file, so we can write layout related code in ".raz

[2019-06-22 04:47] Tratcher commented on #11456
See https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c?view=aspnetcore-2.2#configure-the-underlying-openidconnectoptionsjwtbearercookie-options

[2019-06-22 04:52] Tratcher commented on #11462
@HaoK

[2019-06-22 05:44] mkArtak commented on #11461
Why are you trying to download the preview5 SDK? Try to download the latest from: https://dotnet.microsoft.com/download/dotnet-core/3.0

[2019-06-22 05:54] mkArtak commented on #11463
Thanks for contacting us, @dazinator.
Have you tried [this](https://github.com/dotnet/corefx/issues/19773#issuecomment-459929487) for unloading assemblies?

@rynowak, is this expected?

[2019-06-22 05:56] mkArtak commented on #11464
This will be covered as part of https://github.com/aspnet/AspNetCore/issues/5487 work.

[2019-06-22 06:05] DylanDmitri opened #11465 "Better Error Message for restore.cmd"
### Is your feature request related to a problem? Please describe.
Tried to run `./restore.cmd` and received the following error

[code]

Followed the advice in the error message, searched JAVA_HOME, found Oracle docs, followed the Oracle docs, installed Java, updated my environment variables. Still didn't work.

Looked around more, found [these docs](https://github.com/aspnet/AspNetCore/blob/mast

[2019-06-22 07:59] fileman commented on #11456
Thanks to both, I searched for "azureadb2c openid event" but the @Tratcher page didn't come out.
Both solution was what I need to do, I'm going to read documentation about it and choice what is better for my project.

[2019-06-22 07:59] #11456 closed

[2019-06-22 09:01] dazinator commented on #11463
@mkArtak
To my knowledge unloadable ALC's are a dotnet core thing, not useable for blazor client side apps which target netstandard 2 running in mono (appdomain driven).. If someone knows better please let me know!

[2019-06-22 11:14] lovelangy commented on #10971
sorry, i may mislead you because of poor english.    I don't mean to return 2 certs at the same Time.
My sitaution is that:

1. I have an Azure Sevice Fabric  ASP.NET Core stateless service, which use HTTPS.
[code]

2. If I use  an self-signed cert on my local, it works fine.
3. if i use a real cert from CA( let's name it Cert A ), it works fine.
4. if i use another cert( let's name it Cert B ),

[2019-06-22 12:44] Malivil opened #11467 "UseMvc helper text misspells "UseEndpointRouting" as "UseEndpointRounting""
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
MVC API project which calls UseMvc method shows helper text with

[2019-06-22 13:47] NMSAzulX opened #11468 "Can this library upgrade its dependency?"
I'm using version 3.1.0.  Microsoft.CodeAnalysis.Common (= 3.1.0)
But:
**Microsoft.CodeAnalysis.Workspaces.Common 2.8.0-> Microsoft.CodeAnalysis.Common (= 2.8.0).**

[code]

[2019-06-22 13:53] Andrzej-W commented on #10138
@Madunet add `@` before `onclick`
[code]

[2019-06-22 14:37] Andrzej-W opened #11469 "Intellisense in a new binding syntax (Preview6)"
Here is an example of a new binding syntax:
[code]
I would like to see intellisense when I type this
[code]
and especially this:
[code]
Is it feasible?

[2019-06-22 14:41] xclud opened #11470 "IConfiguration does not get values from JSON correctly."
### Describe the bug
I tried to get an array of values (particularly of int values) using IConfiguration:

`var values = configuration.GetSection("MySection:MyIntegers").AsEnumerable().ToList();`

[code]

Here are the two problems i have with it:

- As you can see above, i have 3 items defines in `MyIntegers` but the list i am getting has 4 values, the extra one is always null.

- The list is reve

[2019-06-22 16:06] anurse commented on #10971
So you're saying that Cert B (the chained cert) doesn't send? I'd expect that to work.

If Cert B is sent but the *intermediate* cert isn't sent, that's what I'm talking about requiring loading more than one cert. When an intermediate is in use, you have to send *all* the certs required to chain up to the root.

[2019-06-22 16:52] HaoK commented on #11462
Yeah this has always been an issue https://github.com/aspnet/Security/issues/1399  We can finally try to add something that automatically prevents claims transformation from running more than once I guess.  We would just need to do bookkeeping per request.

[2019-06-22 17:39] #10530 closed

[2019-06-22 18:40] mvr-devs commented on #5521
bind-value-oninput does not throw an exception but it also does not update the variable as of version 3.0.0-preview6.19307.2

[code]

[code]

[2019-06-22 19:02] guardrex commented on #5521
@mvr-devs Try this ...

[code]

[2019-06-22 19:19] mkArtak commented on #11463
Seems you're right, @dazinator. Was looking for this in the `mono/mono` repo and found several threads stating that it's not supported: https://github.com/mono/mono/issues/15011#issuecomment-501325593

[2019-06-22 19:21] mvr-devs commented on #5521
Perfect !!  Thanks so much !!

[2019-06-22 20:52] brockallen commented on #11462
Generally claims transformation only makes sense for the main authN scheme. As such, why not make it part of the authN middleware, rather than the authN service.

[2019-06-22 20:59] redradist opened #11471 "Xamarin Razor Component Application"
It would be nice to run Razor Component Application as Xamarin Application with ability to use Xamarin API
Xamarin has WebView and it is possible to run Razor UI in Xamarin

Similar issue was create https://github.com/xamarin/Xamarin.Forms/issues/5069

[2019-06-22 21:21] abhisheksiddhu commented on #5071
In preview6 `@attributes` is also used at the top level in component to apply attributes on components like authorize, I fear many users might get confused between the two.

[2019-06-22 21:41] Eilon commented on #11468
@vijayrkn - your project?

[2019-06-22 22:26] Zenexer commented on #8737
@mkArtakMSFT, is there a recommended alternative pattern we should be using?

[2019-06-22 23:20] danroth27 commented on #5071
@abhisheksiddhu Applying an attribute to a component class is actually done with `@attribute` (singular). Even so, I agree there is some potential for confusion. Tooling should help out here.

[2019-06-22 23:46] lovelangy commented on #10971
@anurse  yes, it is very wierd.  one more thing i forget to mention.  it depends on machine, on my local, (Windows 10 on Dell laptop),neither cert A or cert B  sends.   but after i deployed to MPE (Windows 2016 on Azure), Cert A sents, but cert B doesn't.

And i have new findings.   I created a pure ASP.NET Core web api, with the above code.
It turns out: 1. the self-signed cert sends. 2. Cert A s

[2019-06-23 00:14] Andrzej-W commented on #11225
I think the real problem is that Visual Studio saves files without BOM with ANSI encoding. I have Polish Windows (ANSI 1250) and English Visual Studio. Now lets assume I have a simple text file with only ASCII (English) text. I can open it in VS, add some Polish letters `ąćęłńóśźż` and save the file. If original file has BOM it will be saved as UTF-8 with BOM. If original file doesn't have BOM it

[2019-06-23 07:40] lovelangy commented on #10971
@anurse    i created a simple asp.net core web site on my local(Windows 10 on Dell), and tried  1, self-signed cert, works fine.  2, cert A, doesn't send,  3. cert B doesn't send.  it throws below error.
However, i am on MPE environment (Windows 2016 on Azure),  cert A sends, but cert B doesn't send.

Application started. Press Ctrl+C to shut down.
fail: Microsoft.AspNetCore.Server.Kestrel[0]

[2019-06-23 08:37] davidfowl opened #11475 "[Discussion]: ConnectionAdapters have been removed from Kestrel"
This is the discussion for https://github.com/aspnet/Announcements/issues/371

[2019-06-23 08:37] davidfowl commented on #11475
cc @Drawaes because you're the one person I know that wrote one of these 😄

[2019-06-23 08:38] JulienM28 opened #11476 "Blazor Deserialization error"
With upgrade to .NEt core 3 review 6 I get a deserialization issue with date using HttpClient.GetJsonAsync<T>() in Blazor

Here is the json:

[code]
If I use this code:
[code]
The date is not deserialized correctly an I get a January 1st date

If I use this code:
[code]
the date is correctly deserialized.

[2019-06-23 08:44] Drawaes commented on #11475
I have several not just one, but that's cool I am sure I can adapt to it ;)

[2019-06-23 08:50] davidfowl commented on #11475
Actually, you may be able to use the new negotiate auth feature in ASP.NET Core 3.0. The protocol switcher is trivial to do with pipelines 😄

[2019-06-23 08:56] JamesNK commented on #11320
I've done some testing. Results:

2.1: `/1?boolean=True`
2.2 (no EP routing): `/Home/Test?firstInt=1&boolean=True`
2.2 (EP routing): `<blank>`
3.0: `/Home/Test?firstInt=1&boolean=True`

@rynowak Results are odd in that there is a break in behavior between traditional routing in 2.1 and 2.2. Do you know why it would have changed between versions?

[2019-06-23 08:57] proga7med opened #11477 "How do i select a transport type in the signalr client c++ ?"
I have a hub connection and i want to select a transport type. i don't see any method for that.
but i noticed that there are 2 classes, http_client and websocket_client. should i use one of them instead of hub connection to select the transport type or currently it doesn't support ?

[2019-06-23 09:43] smartprogrammer93 commented on #11185
Is there a work around to fix this. even though i made the site work on kestral. i cant make the iis version work

[2019-06-23 10:20] hez2010 opened #11478 "Blazor: nullable issues"
### Describe the bug
Converting null literal or possible null value to non-nullable type. (CS8600)

### To Reproduce
Steps to reproduce the behavior:
1. dotnet new blazor
2. enable NullableContextOptions
3. insert the code:
[code]
4. Warning: Converting null literal or possible null value to non-nullable type. (CS8600)

### Expected behavior
Nothing happen

### Additional context
Add any other con

[2019-06-23 12:49] aureole82 opened #11524 "Identity/Account/Manage/Index.cshtml: Form has 2 submit buttons?"
## Steps to reproduce:
1. Create new ASP.NET Core web application: MVC + Authentication by "storing user accounts in-app" (Visual Studio 2019, .NET Core 2.2).
2. Run (register, apply migration, register again, ...)
3. Click on "Hello {username}": Razor page /Identity/Account/Manage opens
4. Enter phone number and hit Enter.

## Expected behavior:
Phone number is saved.

## Actual behavior:
![aspne

[2019-06-23 13:12] w152013768 commented on #11461
I had installed the preview5 SDK, but it still download it and fail to build the solution. What I should do？how do I alter the script named dotnet-install.ps1?

[2019-06-23 13:52] aureole82 opened #11523 "Identity/Account/Manage/Index.cshtml: Glyphicons are outdated."
## Steps to reproduce:
1. Create new ASP.NET Core web application: MVC + Authentication by "storing user accounts in-app" (Visual Studio 2019, .NET Core 2.2).
2. Run (register, apply migration, register again, ...)
3. Confirm email (e.g. by just opening `AspNetUsers` table set `EmailConfirmed` to `True`)
3. Click on "Hello {username}": Razor page /Identity/Account/Manage opens

## Expected behavio

[2019-06-23 14:08] captmomo commented on #11477
the HubConnectionBuilder .WithUrl lets you state the transport type. I believe you also pass in a list of transport types for the httpclient.
  Example:
`            _connection = new HubConnectionBuilder()
                .WithUrl(_hubRoot, Microsoft.AspNetCore.Http.Connections.HttpTransportType.WebSockets)
                .Build();`

[2019-06-23 14:17] aureole82 opened #11519 "Identity/Account/Manage/Index.cshtml: Incomplete form after failed validation"
## Steps to reproduce:
1. Create new ASP.NET Core web application: MVC + Authentication by "storing user accounts in-app" (Visual Studio 2019, .NET Core 2.2).
2. Run (register, apply migration, register again, ...)
3. Click on "Hello {username}": Razor page /Identity/Account/Manage opens
4. Enter invalid phone number (so that validation will fail)

## Expected behavior:
Complete form with validati

[2019-06-23 16:14] BrennanConroy commented on #11477
There is only the websockets transport currently for the C++ client.

[2019-06-23 16:34] davidfowl commented on #4623
This is done. I'll file another issue for exposing a pure TLS middleware, we did the bare minimum to migrate Kestrel's HTTPS IConnectionAdapter to middleware, it'll likely be identical to the TLS middleware (we'll build it on top).

[2019-06-23 16:34] #4623 closed

[2019-06-23 16:42] davidfowl opened #11479 "Decouple the Kestrel transport layer from Microsoft.AspNetCore.Hosting"
Both **Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets** and **Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv** depend on **Microsoft.AspNetCore.Hosting** because they expose extension methods on `IWebHostBuilder`, with the move to generic host and exposing the ability to create client connections from these transports (#10872), it's odd to have this dependency.

It seems like to preser

[2019-06-23 17:08] slavanap commented on #8601
@anurse It looks I'm not, but though my scenario is simple it involves clunky code. I want to broadcast the data on timely manner (every minute), but for clients who had subscribed for these broadcasts, I want to call their callback method the moment they subscribed with the cached data from previous broadcast. Here's the implementation

[code]

[2019-06-23 17:31] iniside opened #11480 "SignalR - HubProtocol user ID - where to put it ?"
I need to write custom client for SignalR (for Unreal Engine). So far I was able to send simple messages by manually constructing the required json.

The main functionality I need though, is sending messages from/to specific users.
Is there some specific field I need to add to json to achieve that ? I

[2019-06-23 18:38] Exocomp opened #11481 "SignalR Failed connection handshake (iOS Safari / Chrome, macOS Safari)"
I'm getting "Failed connection handshake" which is client depended:

**Server**: .NET Core 2.2 (runtime version 2.2.5)
**Client**: Angular version 7.2.11, @aspnet/signalr version 1.1.4, @aspnet/signalr-protocol-msgpack version 1.1.0

The client is configured with WebSockets only with skipNegotiation set to true.  The server is configured for WebSockets only with the Redis backplane.

Error: "Faile

[2019-06-23 19:16] alefranz commented on #11005
Would it be ok if I send a PR for this? or are you working on it @ryanbrandenburg ?

I had a look and it feels like the best place to log it is in `ControllerActionInvoker` because, even if it doesn't allow to get more fine grained info, it would work for any controller factory and would not required a closure on the factory delegate.

[2019-06-23 19:27] mkArtak commented on #11461
I see now. You were getting the error from the build scripts, and not trying to download the SDK manually.
So you're actually trying to follow https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md and having trouble with that.

@aspnet/build team, any suggestions here?

[2019-06-23 19:47] dougbu commented on #11461
@mkArtak sorry, I have no idea whether we have alternate download locations for https://dotnetcli.azureedge.net/dotnet/Sdk/3.0.100-preview5-011568/dotnet-sdk-3.0.100-preview5-011568-win-x64.zip

@w152013768 if you attempt to reach that URL in your browser, what error does it show? (If it succeeds, expand it into the .dotnet/ folder in your clone of this repo.)

[2019-06-23 19:53] mkArtakMSFT commented on #9285
@vijayrkn is this planned to happen during preview7 or should it move to preview8, given you have a workaround?
/cc @danroth27

[2019-06-23 20:05] mkArtakMSFT commented on #11185
@smartprogrammer93, have you tried the workaround provided by @kant2002 above?

[2019-06-23 20:05] Exocomp commented on #11481
This resolved the issue:  https://stackoverflow.com/questions/34679134/websocket-safari-9-invalid-utf-8-sequence-in-header-value

[2019-06-23 20:05] #11481 closed

[2019-06-23 20:08] smartprogrammer93 commented on #11185
@mkArtakMSFT yes. It only worked with kestral but not with IIS. I even copied the content of the folder to the wwroot. And that made kestral work but not IIS

[2019-06-23 20:12] mkArtakMSFT commented on #9285
Actually, just noticed @Eilon 's comment above:

Closing his one again.

[2019-06-23 20:12] #9285 closed

[2019-06-23 20:15] mkArtakMSFT commented on #11185
Not really sure this is the same, but have you tried the workaround described here: https://github.com/aspnet/websdk/issues/604

[2019-06-23 20:16] mkArtakMSFT commented on #11185
@danroth27, I moved this out to 3.1, as the other related/similar issues are in there already and we can't fit this in current milestone.

[2019-06-23 20:17] mkArtakMSFT commented on #10472
Moving this to `Preview8` as the work is ongoing and will continue in the next milestone.

[2019-06-23 20:17] mkArtakMSFT commented on #10449
Moving this to `Preview8` as the work is ongoing and will continue in the next milestone.

[2019-06-23 20:21] mkArtakMSFT commented on #7359
@glennc - moved this out to preview8

[2019-06-23 20:30] smartprogrammer93 commented on #11185
@mkArtakMSFT i will try this workaround when i have the time. Please note that moving this issue to to 3.1 milestone means that client blazor apps will never be able to be hosted in IIS which a lot of us use. I argue guys to reconsider.

[2019-06-23 21:17] Eilon commented on #11471
If anyone ends up looking into this, I'd like to be involved in the discussion.

[2019-06-23 23:00] alefranz commented on #10110
The issue is in the cycle detection. I've sent a PR #11482.

[2019-06-23 23:20] vijayrkn commented on #11468
Ya this issue should go to https://github.com/aspnet/Scaffolding

[2019-06-24 00:05] longhornleads opened #11483 "EditForm in .NET Core 3.0.0-preview6 is broken"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '...'
.NET Core 3.0.0-preview6

2. Run this code '....'
Use any EditForm with a model ...

https://remibou.github.io/Using-the-Blazor-form-validation/

3. With these arguments '....'
4. See error

The app builds and then blows up with lit

[2019-06-24 00:30] w152013768 commented on #11461
@mkArtak @dougbu

I had download the preview5 sdk by reaching that URL in my brower, and expand it into the .dotnet/folder in my clone of this repo, but when I restart run the restore.ps1, it remain going to show the error: downloading the preview5 failed, the process stop again.
Should I alter the dotnet-install.ps1 after expand the zip of preview5 sdk into the .dotnet/folder?

[2019-06-24 00:52] NMSAzulX commented on #11468
@vijayrkn @Eilon  Thank you~

[2019-06-24 00:52] #11468 closed

[2019-06-24 01:41] D9001 commented on #11452
I can do that, but it would literally just be the default project + the code that he added in the earlier issue. The fact is that` Html.BeginForm() `doesn't automatically produce the required `enctype` attribute without additional parameters being added as he mentioned. Without that attribute, the controller methods never pick up the file from the form (i.e., it is null) every time. If this is by

[2019-06-24 02:02] dougbu commented on #11461
@w152013768 changing the dotnet-install.ps1 script should not be necessary as long as the SDK is correctly located in `${repoRoot}/.dotnet`. For this repo, https://github.com/aspnet/AspNetCore/blob/master/eng/common/tools.ps1 checks for `${repoRoot}/.dotnet/sdk/3.0.100-preview5-011568` and will not attempt to download or run dotnet-install.ps1 for the x64 SDK if that folder exists.

This repo actu

[2019-06-24 02:42] 199621616 commented on #4050
我没有查看WPF与WinForms在.NetCore3.0中是否可直接使用HttpClient，但是我认为HttpClient不应只存在于Blazor中，WPF、WinForms和UWP都需要HttpClient。

[2019-06-24 03:30] markphillips100 commented on #2882
@javiercn  I consistently get this issue due to a particular use case that includes using AspNetCore Identity as the user accounts provider for a process hosting IdentityServer4.

I can reproduce the error with a standard .net core 3.0-preview5 web application using local user accounts and the ForgotPassword/Reset Password process.

The template's process works by directing the user back to log in

[2019-06-24 04:18] #10216 closed

[2019-06-24 04:28] javiercn opened #11485 "[Identity][Antiforgery] Invalid antiforgery token error"
_From @markphillips100_

[2019-06-24 04:29] javiercn commented on #2882
Hi.

**It looks like you are posting on a closed issue!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

I've created a separate issue for tracking here https://github.com/aspnet/AspNetCore/issues/

[2019-06-24 04:35] markphillips100 commented on #11485
@javiercn thanks for opening a new issue for me.

[2019-06-24 04:44] javiercn commented on #11485
I believe your case is expected and by design with regards to antiforgery for the following reasons. What happens is as follows:
* Browser A goes to the login page, up to step 6 in `Click the Login link in menu` with an antiforgery token for an unauthenticated user
* Browser B gets opened when the user clicks the link. User introduces the new password and hits submit.
  * At this point the user ge

[2019-06-24 05:06] JerryMcMillan opened #11486 "Visual Studio error displaying .razor file"
I get an invalid operation exception in Visual Studio 2019 Preview, .NET Core 3 preview 4 when opening a .razor file. VS renders the text as white only and intellisense does not work.

When I check the error log:

`System.InvalidOperationException: The file &apos;C:/Users/jerry/Desktop/vs/MetroLock/MetroLock/Pages/FetchData.razor&apos; is not a descendent of the base path &apos;C:/Users/jerry/desk

[2019-06-24 05:20] markphillips100 commented on #11485
@javiercn You are interpreting my steps correctly.

Specifically, my **Browser A** is hosted by a mobile app (using SafariViewController/GoogleChromeTabs).  The mobile app user is directed to the login from within the app.  The reset password email link opens in a **separate system mobile browser** so is **Browser B** in your description.  Note: both browsers are using the system browser and share

[2019-06-24 05:34] markphillips100 commented on #11485
I guess one way of resolving it would be to host the reset password page in a completely separate host (different middleware, different antiforgery cookie) but seems like a hammer approach.

[2019-06-24 05:56] javiercn commented on #11485
That's exactly the issue. Antiforgery uses a request token + a cookie, when you log-in on browser B after reset password succeeds, the antiforgery cookie gets updated with the new user identity and causes the request token in browser A to become invalid.

You might be able to workaround this by refreshing the login page preemptively somehow, but I can't think of a good way to do so.

You might als

[2019-06-24 06:05] w152013768 commented on #11461
@dougbu thank you for your patient answer, I tried to download the sdk for many times in the browser, only one download succeeded.

[2019-06-24 06:08] markphillips100 commented on #11485
I don't think I'll attempt to disable the antiforgery and workaround it but thanks for the tip about not retrying the request.

I have no user data at the moment as this is still in development.  However, just my own use of the mobile app use case proved that this surfaced fairly simply.

In the meantime, I've just created a copy of the ResetPassword page in a separate webhost project - my aspnetc

[2019-06-24 06:48] markphillips100 commented on #11485
Not that I know if overriding the cookie name would actually work or not but I failed anyway.  I tried to override the cookie name per path (using IOptionsMonitor) but it seems the internal DefaultAntiforgery type is registered as a singleton and it's constructor accesses the injected IOptions<AntiforgeryOptions> parameter's Value property.  So basically, my options are called once only.

I shall

[2019-06-24 07:42] SeppPenner opened #11489 "Server side Blazor in preview6 does not allow to edit .razor pages on the fly"
### Describe the bug
When taking the `Blazor (server side)` template, it's not possible to edit .razor files during compilation (The app only shows the old content).

### To Reproduce
Steps to reproduce the behavior:
1. Using `ASP.NET Core 3.0` with `SDK 3.0.100-preview6-012264`.
2. Run the server side Blazor example project.
3. Edit e.g. `<button class="btn btn-primary" @onclick="@IncrementCount"

[2019-06-24 07:48] Bartmax opened #11490 "Feedback on Blazor Components and why I think it could be more HTML-Friendly (more like taghelpers)"
Here are some feedback after dealing with blazor for quite some weeks, following the "try and tell what do you think" moto. 😄

From a user point of view, I don't like the "custom elements" framework approach.
For example, things like `<EditForm Model="@OrderState.Order.DeliveryAddress" OnValidSubmit="@PlaceOrder">`, or `<NavLink href="myorders" class="nav-tab">`

`EditForm` component will, eventua

[2019-06-24 07:54] springy76 opened #11491 ""dotnet new blazor" creates a server-side-blazor project (instead of client-side) starting with preview6"
Inside of VS it works -- what is the according CLI command?

[2019-06-24 08:36] khellang commented on #8537
This is already done for you, if you use an `ObjectResult`:

https://github.com/aspnet/AspNetCore/blob/5ca92305c2e6452e2add9a2eb115963896c6fe85/src/Mvc/Mvc.Core/src/Infrastructure/ObjectResultExecutor.cs#L135-L139

[2019-06-24 08:37] rbluethl commented on #8952
@Tratcher the problem still occurs in preview6.

[2019-06-24 08:40] javiercn commented on #8952
I believe the fix is in preview7, not preview6. @jkotalik can you confirm?

[2019-06-24 08:58] juho-hanhimaki commented on #11323
I find this issue important because Blazor client side no longer supports IE11. Offering electron app download for IE11 users would be nice workaround.

[2019-06-24 09:58] zly243941866 opened #11492 ".net core 2.1、.net core 2.2 在centos 7下内存一直增长不会降"
你好，我现在遇到个难题，重启进程后dotnet DDK.CoreSvr.OpenAPI.dll与dotnet DDK.CoreSvr.InsideAPI.dll进程内存不断的增加，几乎不会降下来过，一段时间后就停止增长，但也不会降下，若访问web api接口则继续增加，隔几十秒就增加一次，一段时间后又停止不再增长。由于DDK.AppSvr.Communication.WebAPI.dll、dotnet DDK.PalyClientWeb.dll、DDK.CoreSvr.Scene.WebAPI.dll 运行了很久没重启也没调用过所以没增长了，若重启或调用，也同样会增长。

root     12139  0.4  1.4 21301340 119096 ?     SLl  16:16   0:08 dotnet DDK.CoreSvr.OpenAPI.dll
root     15229

[2019-06-24 10:02] Rymix opened #11493 "[Blazor] Context doesn't exist"
Hi guys !

I'm comming to you because i'm facing an issue on Blazor.

CS0103	The name 'context' does not exist in the current context

I have 3 files (It's little bit like MVVM blazor

CTableViewModel.cs :

[code]

CTableView.razor :

[code]

And finally Index.razor :

[code]

I got this issue since i updated to blazor preview 6.
Do you know why it's happening ?

Dotnet Version : 3.0.100-preview6-

[2019-06-24 10:05] guyng opened #11494 "Where are the account pages? angular SPA + identity template"
### Describe the bug
I cannot find the account pages for login,register, forgot password, etc in the
angular + identity template, there is no account views or either they are hidden in one of the dll's.

### To Reproduce
Steps to reproduce the behavior:
1. start a new project with the angular + identity authentication template.
2. Look for account pages such as login,sign up, etc.

### Expected be

[2019-06-24 10:17] SteveSandersonMS commented on #4050
Also consider: https://github.com/aspnet/AspNetCore/pull/11376/files#r296651611

[2019-06-24 11:30] harikrishnakada commented on #9597
The issue is due to the space between the username (**_C:\Users\{USER_NAME}_**)

The fix is in the Below PR. It did resolve the issue.
[https://github.com/aspnet/AspNetCore/pull/9659/files]

If still, the issue persists. Delete the **Debug** & **Release** folders from bin and restart the vs.

[2019-06-24 11:49] CornedBee commented on #11446
The problem with subclassing `Router` is that it leaves the potentially-unused `AppAssembly` parameter around. I would recommend instead splitting out a `RouterBase` like this:

[code]

And `Router just becomes`

[code]

[2019-06-24 12:10] mikes-gh commented on #11174
@javiercn

But the main static asset for server side blazor contains a dot?

`<script src="_framework/blazor.server.js"></script>`

[2019-06-24 12:43] springy76 commented on #11178
Why does `@bind="User.Password" @bind:event="oninput"` neither work nor throw any compile time or runtime error? (at least it binds attached to `onchange` event)

[2019-06-24 12:45] javiercn commented on #8003
**Render batches**
I believe there are three things that need to happen here.
* Implement queuing for acks in render batches on the client.
  * This is just a matter of queuing and retrying acks from the client.

**JS interop**
* Implement queuing on the server for JS interop calls
  * This is can be done at the RemoteJSRuntime layer.
  * We need to capture "DotNet.jsCallDispatcher.endInvokeDotNet

[2019-06-24 12:51] blowdart commented on #11485
As you have a work around I'm going to close this.

[2019-06-24 12:51] #11485 closed

[2019-06-24 12:53] NickDarvey opened #11495 "Derived type arguments are dispatched to hub methods as null"
...but only when you include a synthetic parameter in your hub method's signature.

### Describe the bug
I'm invoking a hub method and sending a tree where each node might be a subclass of some root node class. The deserializer correctly deserializes each node into their subclass so the runtime type of the argument is not the exact type as in the method signature, but rather a derived one.

This w

[2019-06-24 12:53] blowdart commented on #11494
You need to [scaffold them out](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio).

@javiercnb @mkArtakMSFT  Any ideas on how this can be more discoverable? This question comes up a lot.

[2019-06-24 13:09] karthickthangasamy opened #11497 "Blazor Array of date serialization converts wrong date"
### Bug Description
In `interop.js` file, I have range of date objects in array and send to component side, which serializes the date one day before the expected date.

### To Reproduce
Run the below code example.

[`interop.js`]

[code]

[`Index.razor`]
[code]
**Interop date values**

![image](https://user-images.githubusercontent.com/5012353/60021077-ec090200-96ae-11e9-8153-f1390a05d95f.png)

**

[2019-06-24 13:12] SteveSandersonMS commented on #8003
It's sufficient to do this only as part of reconnection, isn't it? That is, whenever we first (re)connect, we also send all the ACKs for batches we haven't yet definitely successfully sent an ACK. If so, sounds good!

I'm not sure how to interpret this. The responses don't have to be delivered in order, since async calls are meant to be allowed to complete out of order. They must *start* executing

[2019-06-24 13:24] javiercn commented on #8003
I believe so

This is the thing that signals the client that the call to a dotnet method has completed (delivers the result) given that all calls are asynchronous they can be delivered in any order (do we simulate sync calls somehow?) but I don't think there's any issue with queuing them and delivering them in the order they arrived (as in the end we need to keep a list of them).

Does that make s

[2019-06-24 13:28] SteveSandersonMS commented on #8003
I would only add a queuing mechanism if we require it. If you're agreeing that we don't need ordered delivery of these messages, let's not add any unnecessary mechanism for ordering them.

Do we though? I thought that JS interop calls interrupted by a network connection loss would fail, and would deliver an exception (i.e., failed task/promise) back to the caller. We don't want these calls just to

[2019-06-24 13:31] SteveSandersonMS commented on #11483
Sorry, I don't understand these repro steps. It looks like information is missing in various places. Run what code? With what arguments? See what error?

If you could post full information we can give it a look!

[2019-06-24 13:43] SteveSandersonMS commented on #11471
It's a cool idea! So far, it's not something we've specifically got into any detail thinking about because for the time being, we need to focus entirely on regular web browser scenarios in order to deliver that on time for the 3.0 release.

Technically it should be possible to use the [same technique we've used for Electron](https://github.com/aspnet/AspLabs/tree/master/src/ComponentsElectron) to

[2019-06-24 13:48] SteveSandersonMS commented on #11464
Closing as duplicate of #5487, since that will indeed provide what's needed to make this convenient.

[2019-06-24 13:48] #11464 closed

[2019-06-24 13:51] SteveSandersonMS commented on #11338
`@ref` fields aren't populated until after rendering, because the thing you want to reference is *created* as an aspect of rendering.

Closing as the question seems to be answered :)

[2019-06-24 13:51] #11338 closed

[2019-06-24 13:52] javiercn commented on #8003
I guess we might not need a queue if they get delivered one at a time, but can we have many in flight?

For example:
* async JSInterop call on the client happens server goes and does stuff.
* another async JSInterop call on the client happens, server goes and does stuff.
* Connection goes down while server is busy processing calls. (Messages were delivered, so for all intents and purposes, the cli

[2019-06-24 13:58] SteveSandersonMS commented on #8003
Yes, there can certainly be many in flight. We definitely don't want to force async interop to run in a serial way (as in, we wait for completion of A before dispatching unrelated call B), as that would harm perf for no functional benefit.

As long as the "connection goes down" event causes the promises/tasks for A and B to fail, either immediately or after a short enough timeout by default, then

[2019-06-24 14:02] SteveSandersonMS commented on #11454
An incredibly trivial solution would be `id.Replace("-", "@")`, then the reverse on the receiving end. If the perf cost was a concern, we could do it only if `id.Contains("--")`.

[2019-06-24 14:03] SteveSandersonMS commented on #11448
Done at https://github.com/aspnet/Blazor/pull/1818

Still waiting for automation to merge the update back to the aspnetcore repo though.

[2019-06-24 14:05] javiercn commented on #11454
I was planning to add this to my inflight PR as its uber-cheap. I was simply going to HTML.Encode the request id on the way out and HTML.Decode it on the way in, both should work fine and produce no allocations if the string is a valid HTML encoded string (which in most cases is)

[2019-06-24 14:09] SteveSandersonMS commented on #11325
Unfortunately, unloading is not possible. A `<script>` tag is just a way of executing some JS within the context of the document. You can't "un-execute" it later.

For now I'd recommend using JS interop as a way to inject extra `<script>` tags into your document when a component loads. I'm sure it's possible to wrap this in a nice API to make it easy to reuse.

I'm not sure whether we'd make a bui

[2019-06-24 14:16] SteveSandersonMS commented on #11177
For now, you can wrap different parts of your logic into different `RenderFragment` delegates, and insert them into each other, e.g.:

[code]

The builder will take care of wrapping the fragments in such a way that their sequence numbers can be independent.

Longer term we make make `AddRegion` public.

[2019-06-24 14:16] #11177 closed

[2019-06-24 14:22] SteveSandersonMS commented on #10890
I was initially really keen on doing this - it's a very good suggestion!

However, after reflecting on it more, I came to the view that it would be dangerous to do this. If developers aren't aware that sequence numbers exist and are being used, they will not understand why they can't do things like this:

[code]

... where `AnotherMethodInAnotherFile` also operates on the `builder`, but has unrela

[2019-06-24 14:22] #10890 closed

[2019-06-24 14:25] SteveSandersonMS commented on #11281
Anything that can be expressed as a callback (that gets called exactly once) can also be expressed as a promise, so I'd recommend wrapping your callback in a promise and returning that.

[2019-06-24 14:25] #11281 closed

[2019-06-24 14:26] egil commented on #10890
Thanks. Makes sense. I'll keep using my internal extension methods, and see where it lands in the future.

[2019-06-24 14:26] monterolebronhg commented on #11497
Looking the values in .NET, the dates are being converted to UTC.

[2019-06-24 14:29] SteveSandersonMS commented on #10729
I don't know of anything specific we changed for this. Maybe the exact details of your repro scenario rely on something more obscure I can't anticipate.

[2019-06-24 14:29] Andrzej-W commented on #11497
Are you using Blazor client side? Currently there is no support for time zones in Mono for WebAssembly.

[2019-06-24 14:36] samtax01 commented on #11281
Thank for the reply. I will do that

[2019-06-24 14:43] TempleClause opened #11498 "SPA Proxy Development Server doesn't auto refresh on .NET Core 3.0"
My react app runs on localhost:3000 and is used as a proxy with the following line:
`spa.UseProxyToSpaDevelopmentServer("http://localhost:3000");`

On .NET Core 2.2 the content was automatically refreshed whenever I changed something in a js/ts file without reloading the whole page. Now on Core 3.0 I have to manually refresh the page.

When I create a new ASP.NET Core Web Application with the Reac

[2019-06-24 14:49] anurse commented on #11498
Can you include the specific versions of .NET Core 3.0 you are using? Use `dotnet --info` on the command line to get this information.

[2019-06-24 14:50] javiercn commented on #8003
Then it is a matter of adding a timeout to calls on the server and simply throwing an exception that will eventually get rid of the circuit? That seems brittle to me. For example,
JS invokes a dotnet method, connection goes down temporarily, server simply fails to return the result, throws an exception and gets rid of the circuit?
If that's the case, why do we retry resending batches in the first

[2019-06-24 14:51] TempleClause commented on #11498
Of course:
`Version:   3.0.100-preview6-012264`

[2019-06-24 14:51] daniel-white commented on #3443
this seems to be happening more with the newer sdk and xunit

[code]

[2019-06-24 14:57] anurse commented on #11495
Ooh, nice catch, and thanks for the corresponding PR.

I should caution you that usage of `TypeNameHandling.All` is a *serious security risk* since a malicious client could specify absolutely any type name and the JSON serializer would construct it, thus running any of the code in it's constructor. This is a remote code execution risk. A much better solution is to implement a custom `type` field w

[2019-06-24 15:08] anurse commented on #11492
Thanks for the report. Please note that we are only able to provide support on this forum in English. We'll do our best to help but if you need support in a different language I'd suggest contacting [Microsoft Support](https://support.microsoft.com/supportforbusiness/productselection) which has resources in many languages.

Based on a [machine translation](https://translate.google.com/#view=home&o

[2019-06-24 15:08] #8130 closed

[2019-06-24 15:09] rynowak commented on #4221
This has been merged for preview 7. Look for more details in the announcement post when preview 7 is available.

[2019-06-24 15:09] #4221 closed

[2019-06-24 15:11] anurse commented on #11486
Since this file is in aspnet/AspNetCore-Tooling, my feeling is this probably should be moved to that repo. Thoughts @NTaylorMullen @mkArtakMSFT ?

[2019-06-24 15:11] rynowak commented on #9148
This is done.

[2019-06-24 15:11] #9148 closed

[2019-06-24 15:12] rynowak commented on #8130
Fixed by: https://github.com/aspnet/AspNetCore/pull/8955

[2019-06-24 15:22] gravidThoughts opened #11499 "AspNetCoreModuleV2 HTTP Error 500.21 with Hosting Bundle 2.2.5 Bundle Installed"
### Describe the bug
Receiving a 500.21 error when attempting to access ASP.NET Core 2.2 application configured to use In-Process hosting.

### Expected behavior
If ASP.NET Core 2.2 Hosting Bundle is installed, should be able to host using IIS in-process.

### Screenshots
I have screenshots showing the bundle is installed , but my corporate Netskope is blocking me from uploading images, lol.

###

[2019-06-24 15:49] jkotalik commented on #11499
This error usually occurs when the global applicationhost.config file doesn't contain the correct global modules. Can you check and see if the global module AspNetCoreModuleV2 is listed in your applicationhost.config file in C:\Windows\System32\inetsrv?

Also, can you send the steps you took to repro this? Did you have other hosting bundles already installed on your machine? We have heard issues o

[2019-06-24 15:52] jkotalik commented on #11377
@glennc IIRC there was a community member you talked to that was interested in this.

[2019-06-24 16:04] springy76 commented on #11491
Sorry, the topic [Get Started](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio) isn't on my daily read-schedule.

[2019-06-24 16:04] #11491 closed

[2019-06-24 16:05] gravidThoughts commented on #11499
@jkotalik Appreciate the quick response. This is the issue.
We use a shared configuration file. We removed the share, installed the hosting bundle on both, and then reestablished the share.

I'm assuming in this instance we forgot to look at changes made by the installer in the local configuration files and get those into the shared file. I'll close this if that turns out to be the case.

Thanks a

[2019-06-24 16:08] jkotalik commented on #11499
That's most likely the issue. The installer probably does not have permissions to write to the shared configuration. Are you redirecting the applicationhost.config via the redirection.config file?

[2019-06-24 16:09] #10986 closed

[2019-06-24 16:11] gravidThoughts commented on #11499
I don't know. Let me ask IT. Is this a best practice all things being equal?

[2019-06-24 16:12] davidfowl commented on #4221
👏

[2019-06-24 16:14] BrennanConroy commented on #11441
You can use a different terminal program that doesn't freeze the application when you click on it. Besides that there is no workaround except to not click on the window.

Have you confirmed that this is the issue you were seeing?

[2019-06-24 16:20] BrennanConroy commented on #11480
In order to get users you will need to configure auth on the server and configure your client to send the correct auth token/cookie/etc. when it makes requests.

You can read up about the auth system in Asp.Net Core here: https://docs.microsoft.com/en-us/aspnet/core/security/?view=aspnetcore-2.2

And for more specific auth related to SignalR here: https://docs.microsoft.com/en-us/aspnet/core/signa

[2019-06-24 16:32] blue-hedgehog commented on #11314
Hi,

I am away on annual leave so it's difficult to provide more information right now.

Very basically the asp-src-include tag was working as expected on .Net Core 3 Preview 5, and then stopped working after upgrade to .Net Core Preview 6 with the aforementioned error message at runtime.

This is common across all developers on our project and across all uses of the asp-src-include tag helper and

[2019-06-24 16:51] NTaylorMullen commented on #11486
This is definitely a tolling issue; however, we track issues here in AspNetCore 😄. That being said this is the first public report of this issue that we've had. We have another [internal report of this issue ](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/899854/) tracking the work as well. I've marked the bug with the appropriate labels and will leave it to triage to decide when to tackl

[2019-06-24 16:54] rynowak commented on #11005
Sure, @alefranz that would be great. If you end up doing this in `ControllerActionInvoker` can you also do the same of `PageActionInvoker`?

[2019-06-24 17:01] tarekgh opened #11501 "My Service throw an this exception sometimes. I do not find any solution to solve it. anybody can help me！"
_From @Rabbit021 on Friday, June 21, 2019 2:51:05 AM_

[code]

_Copied from original issue: dotnet/corefx#38745_

[2019-06-24 17:01] tarekgh commented on #11501
_From @Clockwork-Muse on Friday, June 21, 2019 3:16:28 AM_

Unfortunately, this is (probably) the wrong repo.  You _might_ have more luck on [AspNetCore](https://github.com/aspnet/AspNetCore) or StackOverflow, but you need to provide way more details.
For one thing, the exception is pretty clearly stating `FileNotFoundException` - have you verified that the listed file exists?

[2019-06-24 17:05] NTaylorMullen opened #11502 "Validate ViewComponentTagHelpers work with previously reserved keywords"
In preview7 we did work to ensure that `ViewComponentTagHelper`s do not reserve some keywords for parameter names. We should validate that the following keywords are no longer reserved:

- `content`
- `output`
- `context`

[2019-06-24 17:05] NTaylorMullen commented on #11432
Done: https://github.com/aspnet/AspNetCore/issues/11502

[2019-06-24 17:05] JunTaoLuo opened #11503 "Update to Preview 6 SDK"

[2019-06-24 17:07] mkArtakMSFT commented on #11493
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-06-24 17:07] NTaylorMullen commented on #11044
Note: This will happen once we cut a VS build for preview7. @ajaybhargavb let me know when you plan on doing that and i'll go through the process of updating VSCode.

[2019-06-24 17:11] karthickthangasamy commented on #11497
@Andrzej-W I am using Blazor server side.

[2019-06-24 17:12] mkArtakMSFT commented on #11490
Thanks for contacting us, @Bartmax.
Thank you for your feedback. This is pretty different from the path we've already gone down to. That said, we aren't going to change this.

[2019-06-24 17:12] #11490 closed

[2019-06-24 17:14] Tratcher commented on #11501
Please share a sample application that reproduces this problem.

What language is the operating system set to?

[2019-06-24 17:15] mkArtakMSFT commented on #11489
Thanks for contacting us, @SeppPenner.
We plan to address this as part of https://github.com/aspnet/AspNetCore/issues/5456 work.

[2019-06-24 17:16] mkArtakMSFT commented on #11478
Thanks for contacting us, @hez2010.
We'll look into this after 3.0 release, given it's not a blocker.

[2019-06-24 17:19] mkArtakMSFT commented on #11469
Thanks for contacting us. Yes, we know about this gap and we'll try to cover it in 3.1.

[2019-06-24 17:20] mkArtakMSFT commented on #11463
Talked to @rynowak and we'll handle the `Router` improvement asked for here probably for 3.1 release.

[2019-06-24 17:22] danroth27 commented on #11489
To clarify, if you're using the latest Visual Studio Preview (https://visualstudio.com/preview) you should be able to run the app *without* debugging (Ctrl-F5), edit files in the project including .razor files, and then VS will rebuild and restart the app automatically so that you can just refresh the browser to see the change. If this isn't working for you with the latest bits please let us know!

[2019-06-24 17:22] mkArtakMSFT commented on #11476
Thanks for contacting us, @JulienM28.
We rely on System.Text.Json for deserializing data. You can read more about this at: https://github.com/dotnet/corefx/blob/master/src/System.Text.Json/docs/SerializerProgrammingModel.md#date-support

[2019-06-24 17:22] #11476 closed

[2019-06-24 17:24] mkArtakMSFT commented on #11455
Thanks for contacting us, @yan0lovesha.
We're tracking this issue as part of https://github.com/aspnet/AspNetCore/issues/10397

[2019-06-24 17:24] #11455 closed

[2019-06-24 17:28] mkArtakMSFT commented on #11467
Thanks for contacting us, @Malivil.
This is already fixed and will be part of preview7 release.

[2019-06-24 17:28] #11467 closed

[2019-06-24 17:31] jzabroski commented on #11050
Another suggested task (will update my previous comment as well):
* update https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/fundamentals/dependency-injection/samples/2.x/DependencyInjectionSample/Startup.cs to use IStartupCore as best practice

@davidfowl  It's an interesting side discussion I wish we could just have via instant message.  I do not really understand (and thus cannot

[2019-06-24 17:32] mkArtakMSFT commented on #11443
Thanks for contacting us, @hershi9.
This is a tooling issue. Please report it via VS Feedback from within Visual Studio.

[2019-06-24 17:32] #11443 closed

[2019-06-24 17:34] mkArtakMSFT commented on #11436
Thanks for contacting us, @HMoeGuo.
This is a tooling issue (VS), but it most probably won't change, as tooling has no knowledge of the runtime configuration.

[2019-06-24 17:34] #11436 closed

[2019-06-24 17:35] mkArtakMSFT commented on #10145
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-06-24 17:35] #10145 closed

[2019-06-24 17:37] mkArtakMSFT commented on #6744
Thanks for contacting us, @shadinamrouti.
Closing this as a dupe of #10992

[2019-06-24 17:37] #6744 closed

[2019-06-24 17:38] mkArtakMSFT commented on #6738
Thanks @HaoK.
We won't really get to this given the current priorities. Feel free to do it, if you want.

[2019-06-24 17:44] mkArtakMSFT commented on #6661
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-06-24 17:50] davidfowl commented on #11050
No, I don't think we'll do that.

It's OK to disagree, it's not worth a further discussion.

[2019-06-24 17:52] mkArtakMSFT commented on #6659
Thanks for contacting us, @UweKeim.
@ryanbrandenburg, can you please look at this? Thanks!

[2019-06-24 17:58] wojteksbt commented on #7945
Is changing of access modifier an approved solution? I'm happy to take it as my first issue.

[2019-06-24 18:03] hellfirehd commented on #8686
I'm still getting this with v3.0.100-preview6-012264:
[code]
This is no `global.json` in use.

[code]

What else can I provide to help troubleshoot this?

[2019-06-24 18:05] NTaylorMullen commented on #10734
Talked offline with @rynowak. For 3.0.0 we're going to investigate what it means to go with **Option 3**

[2019-06-24 18:06] NTaylorMullen commented on #10734
Updated the cost to reflect the potential that we might need to perform some VS changes to make this plausible.

[2019-06-24 18:07] alefranz commented on #11005
ah yes! good point.
This is just for logging and does not include changes to the diagnostic listener, right?

[2019-06-24 18:08] rynowak commented on #11005
Correct

[2019-06-24 18:12] mkArtakMSFT opened #11506 "Add missing doc comments"
Looks like there are a lot of places where we lack doc-comments. Filing this issue to track the work of filling in the gaps.

[2019-06-24 18:16] rynowak commented on #10110
Merged the fix: https://github.com/aspnet/AspNetCore/pull/11482

Thanks!

[2019-06-24 18:16] #10110 closed

[2019-06-24 18:28] jfcaldeira opened #11507 "Asp .Net Core policy handler not triggering"
Seriously what am i doing wrong here? How is it possible for this to not work if the other policy is the inverse of the other? only 3 letters on the name change and reverse boolean check....

the policy `HasArranqueActivo` is the one working. I used debugger to test and it triggers it.

Here are policies declared
[code]

As you can see both handlers are basically the same

[code]

On my page i hav

[2019-06-24 18:44] blowdart commented on #11507
First things first,

Do you have `app.UseAuthentication()` in you `Configure(IApplicationBuilder app, IHostingEnvironment env)`?

Have you registered the requirement handlers in DI in `onfigureServices(IServiceCollection services)`?

[2019-06-24 18:49] jfcaldeira commented on #11507
Here is whole code, i can't find anything wrong with it

[code]

[2019-06-24 18:56] SeppPenner commented on #11489
That's what isn't working... I adjusted the button text as described above and tried this with building in `Release` and `Debug`, running it on IIS or not, starting it with `F5` and `Ctrl-F5`. If you want, I can check this again tomorrow and provide the Visual Studio version, too. However, I'm quite sure that I have the latest preview installed.

[2019-06-24 19:12] HaoK commented on #11462
That's one main scenario, but there are definitely scenarios for claims transformation on a per scheme basis too.  My initial thoughts are we just add some simple sugar to streamline the run once per scheme per request scenario, something like this could 'do the right thing':

[code]

[2019-06-24 19:17] blowdart commented on #11507
Thanks.

You're not adding the handlers in DI. Which is what I always forget to do, especially on stage.

You need something like this inside `ConfigureServices(IServiceCollection services)`;

[code]

[2019-06-24 19:20] jfcaldeira commented on #11507
I totally forgot about this cause it wasnt near the ones at the bottom since it was first time doing a custom policy.

[2019-06-24 19:33] blowdart commented on #11507
:) It's easily forgotten, but any attempt to make it automatic would be reflection based, and nobody wants that!

As you have it all working I'm going to close the issue.

[2019-06-24 19:33] #11507 closed

[2019-06-24 20:07] Copyleaks commented on #10032
Logo <http://links.plagiarismcheckercopyleaks.com/CBLT/nijtkikjkjkjkhkpkpkhjtkikjkmkhkhkokqjtkkknkqkmkpkpkmjtkikjkjkjkhkpkpkhjtkikjkmkhkhkokqjtkhjtkikqkhkkknklov>

 Hey there,
 Seems like we lost touch and we lost you somewhere in the process (oh no!)

 We wanted to remind you how important it is to make sure that your content has no plagiarism!

	  <http://links.plagiarismcheckercopyleaks.com/CBL

[2019-06-24 20:07] Copyleaks commented on #10032
Logo <http://links.plagiarismcheckercopyleaks.com/CBLT/nijtkikjkjkjkhkpkpkijtkikjkmkhkhkokqjtkkknkqkmkpkpkmjtkikjkjkjkhkpkpkijtkikjkmkhkhkokqjtkhjtkikqkhkkknklov>

 Hey there,
 Seems like we lost touch and we lost you somewhere in the process (oh no!)

 We wanted to remind you how important it is to make sure that your content has no plagiarism!

	  <http://links.plagiarismcheckercopyleaks.com/CBL

[2019-06-24 20:31] mkArtakMSFT commented on #11263
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-06-24 20:44] mkArtakMSFT commented on #11144
This is already fixed!

[2019-06-24 20:44] #11144 closed

[2019-06-24 20:47] mkArtakMSFT commented on #11011
@ajaybhargavb, let's make the non-directive attribute version of event handlers not to work.

[2019-06-24 20:55] mkArtakMSFT commented on #10729
Closing as looks like this is fixed.

[2019-06-24 20:55] #10729 closed

[2019-06-24 20:57] mkArtakMSFT commented on #10656
This is done!

[2019-06-24 20:57] #10656 closed

[2019-06-24 21:02] mkArtakMSFT commented on #10546
Thanks for contacting us, @kjeske.
We're handling this as part of https://github.com/aspnet/AspNetCore/issues/10842

[2019-06-24 21:02] #10546 closed

[2019-06-24 21:03] mkArtakMSFT commented on #10544
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-06-24 21:03] #10544 closed

[2019-06-24 21:03] marcelgoldstein opened #11511 "error with "StaticWebAssets" when deployed to azure appservice"
In my **server-side blazor app** I am referencing a nuget package which contains a statis asset. This asset is getting copied correctly on publish ("\wwwroot\\_content\telerikuiforblazor\js\telerik-blazor.js"). So the asset works when debugging from VS2019 (app and iis-express) and when publish to a local folder and started from there.

But when published (webdeploy) to azure this error happens:

[2019-06-24 21:30] #8474 closed

[2019-06-24 21:30] HaoK commented on #5826
Fixed by @dpr-dev in #10739

[2019-06-24 21:30] #5826 closed

[2019-06-24 21:32] pranavkm opened #11513 "Validate error keys \ ValidationProblemDetails when using System.Text.Json"
As part of https://github.com/aspnet/AspNetCore/issues/8474, we landed on using the exception key as is. Validate that this works reasonably.

[2019-06-24 21:34] NTaylorMullen commented on #10942
I've verified @heejaechang's fix for this locally and all works as expected. Talked with @jinujoseph and she mentioned that the change should be merged soon.

Expected delivery of the fix is 16.2-preview4.

[2019-06-24 21:38] enetstudio commented on #10544
The following is the answer to my question above. It is imported from StackOverflow:

protected EventCallback<bool> BoolChanged => (EventCallback<bool>)(object)ValueChanged;

Thank you...

[2019-06-24 21:39] NTaylorMullen commented on #10942
@heejaechang and @jinujoseph thank you for the quick turnaround on this!

[2019-06-24 21:39] #10942 closed

[2019-06-24 21:49] nheinbaugh opened #11515 "Docker Image Failing for Default Web API (3.0)"
### Describe the bug
When a new ASP.NET Core Web API project is created with Docker support for Linux the project fails to run in debug mode and provides the displayed error.

### To Reproduce
Steps to reproduce the behavior:
1. Open VS 2019 and create a new ASP.NET Core 3 application and enable Docker Support (Linux)
2. Build Solution and debug in Docker configuration
4. See error
'Could not load

[2019-06-24 21:59] pranavkm opened #11517 "Consider using a JsonConverter to parse "FieldValue""
`FieldValue` is a discriminated union type currently represented as a `object` \ `JsonObject`. We could use a `JsonConverter` to read the value.

[2019-06-24 22:13] mkArtakMSFT commented on #11511
Thanks for contacting us, @marcelgoldstein.
This is a known issue we're tracking the fix as part of https://github.com/aspnet/AspNetCore/issues/11185

/cc @javiercn

[2019-06-24 22:13] #11511 closed

[2019-06-24 22:15] #8204 closed

[2019-06-24 22:16] SteveSandersonMS commented on #11448
It got merged

[2019-06-24 22:16] #11448 closed

[2019-06-24 22:24] mkArtakMSFT commented on #11325
Thanks @SteveSandersonMS.
Closing for now. If we hear more feedback in this area in the future, we'll reconsider.

[2019-06-24 22:24] #11325 closed

[2019-06-24 22:27] mkArtakMSFT commented on #11494
Yeah, this is well documented. Do you have any other suggestion?
I'd say we can add a comment in the template, but that wouldn't fly - given we're moving towards simplifying the templates as much as possible.

[2019-06-24 22:39] danroth27 commented on #11489
@SeppPenner Thanks for these additional details!

Auto-rebuilding the app will only work in VS if you're not running under the debugger (Ctrl-F5) and you're running on IIS Express. And you need the latest VS preview: 16.2.0 Preview 2.0. Please double check that you're doing all those things and let us know if it's still not working.

[2019-06-24 22:45] mkArtakMSFT commented on #11323
/cc @danroth27

[2019-06-24 22:50] mkArtakMSFT commented on #8737
@omfgicbf, we're pretty small team and we choose very carefully on what we focus our efforts on.
At the moment, this is not something we plan to change. As for why it's the case, that's because in MVC a Razor Page is treated as single unit from authorization perspective. You should definitely not block yourself on this and wait for us to handle it soon. That may not happen soon.
As for what will b

[2019-06-24 22:52] Zenexer commented on #8737
Thanks for the response, @mkArtakMSFT; that helps significantly with planning.

[2019-06-24 23:03] ajaybhargavb opened #11521 "Validate blazor directive attribute and @attribute directive bug fixes"
- [x] https://github.com/aspnet/AspNetCore/issues/10967
- [x] https://github.com/aspnet/AspNetCore/issues/10909
- [x] https://github.com/aspnet/AspNetCore/issues/10893
- [x] https://github.com/aspnet/AspNetCore/issues/10868

[2019-06-24 23:03] ajaybhargavb commented on #11432
Done: https://github.com/aspnet/AspNetCore/issues/11521

[2019-06-24 23:07] pranavkm opened #11522 "Unskip ProblemDetails / JsonExtensionData tests once we've picked up new JsonSerializer"
ProblemDetals tests are skipped to workaround - https://github.com/dotnet/corefx/issues/38769. Once the issue is resolved we should unskip the test

[2019-06-24 23:18] dougbu commented on #11432
If I get any preview 7 features into this milestone, a small subset of aspnet/AspNetCore#10854 will cover necessary validation. Will check back later in the week.

[2019-06-24 23:20] rynowak commented on #11249
A better option would probably be to use health checks https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/health-checks?view=aspnetcore-2.2

[2019-06-24 23:29] danroth27 commented on #11323
@MaherJendoubi We'd love to help out, but with the upcoming .NET Core 3.0 release supporting Electron + Blazor isn't something we are focused on right now. If you have specific questions about Blazor then we can try to answer them.

[2019-06-24 23:30] #10954 closed

[2019-06-24 23:39] dhebbler opened #11525 "Build does not complete after adding reference to System.ServiceModel.Http"
### Describe the bug
I am having trouble building a Blazor (client-side) project that has a reference to the WCF Libraries.  This issue occurs right after creating a new project and adding the reference.  Prior to adding the reference the project will compile correctly.  After adding a reference to the System.ServiceModel.Http package and attempting to compile the build starts, but never finishes.

[2019-06-24 23:42] anurse commented on #11515
Could you report this via the VS Feedback tool as well? The docker tooling is owned by a different team and that will help get it on their radar.

Meanwhile, could you share a runnable sample project that reproduces the issue (including the Dockerfile, etc.)? It sounds like it's simple from your description, but a specific repro that we can look at in detail helps ensure we're looking at the same

[2019-06-24 23:43] davidfowl commented on #11515
@HaoK does that exception look like one of the changes we made?

[2019-06-24 23:44] danroth27 commented on #11178
@springy76 I think this got cleaned up as part of https://github.com/aspnet/AspNetCore/issues/10893.

[2019-06-24 23:48] alefranz commented on #11005
I still have a few questions but I put them on the PR #11526. Thank you.

[2019-06-24 23:52] jzabroski commented on #11082
@danroth27 , you can target Cordova with Blazor today with some hacks. The pain would be in debugging tooling.

[2019-06-24 23:53] anurse commented on #11089
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-06-24 23:53] rynowak commented on #10935
Sounds like it could be.

[2019-06-24 23:53] guyng commented on #11494
simplifying? it took me few hours just to find out i actually need to scaffold it to get the pages source.
Don't make assumptions that your users are aware of all the inner functionalities of the platform because i'v been working with asp.net core for over a year and i haven't use scaffold even once until today.

Also, all of this abstractions you're making is creating more confusion and there is

[2019-06-24 23:58] chobo2 opened #11527 "Host Asp.net Core Api as an Application in IIS?"
I have a react site and an asp.net core api(2.2).

I want them on the exact same domains ie

www.example.com --> reactjs code
www.example.com/api --? core api

that way I can do

www.example.com/api/values/get

I created a "application" on iis but when I tr to do the above line I get 403 forbidden (so I am not sure if it is trying to access the file directly as I have no authorization on this "Val

[2019-06-25 00:06] guyng commented on #11494
P.S - advice for life, always assume your user has dementia/memory loss and when trying out a new
feature he need it to be simple and documented as possible to prevent him getting a stroke.

This concept helped me a lot throughout my career as a senior software developer.

[2019-06-25 00:07] mkArtakMSFT opened #11529 "Static assets result in IdentityUI project to fail publish, when the root is not very short"
As the IdentityUI has been updated to avail of the new `Static Assets` feature, the publishing of a project referencing it results in quite long paths being used, which fails the publishing. See https://devdiv.visualstudio.com/DevDiv/_workitems/edit/935535 for more details

**REPRO STEPS**

File > New Preject > ASP.NET Core Web Application > Next > Give a name "Anc30_RazorWithRCL_Core_Ind", browse

[2019-06-25 00:08] isaac2004 commented on #10348
@danroth27, this is blocked because of a defect in templating.

https://github.com/dotnet/templating/issues/1942

 According to that defect and prelim research, you cannot exclude folders that are tied to the project/folder rename process. In order to complete the template work, I need for that exclude to hide project and folders based on a new option --hosted.

[2019-06-25 00:30] #6202 closed

[2019-06-25 00:38] normj commented on #9608
I have created the following issue in our AWS .NET Lambda repo https://github.com/aws/aws-lambda-dotnet/issues/481 to track the work on our side.

I have also created a sample in my [samples repo](https://github.com/normj/LambdaNETCoreSamples/tree/master/CustomRuntimeAspNetCore30) that contains a custom built version of **Amazon.Lambda.AspNetCoreServer** in the **nuget-cache** directory. The chang

[2019-06-25 00:47] mkArtakMSFT commented on #11494
@guyng do you feel this documentation https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio wasn't useful?

[2019-06-25 01:02] blowdart commented on #11494
Identity UI as a library is a feature lots of vocal customers wanted because the number of files in the templates was overwhelming. In the 2,1 time frame I ran a bunch of surveys to see what satisfaction was like and the numbers ended up, to my surprise, showing more people liked it than disliked it, so stepping back to everything in the template really wasn't an option.

If we made what was going

[2019-06-25 01:18] NickDarvey commented on #11495
Thanks for highlighting the security issues, a `KnownTypesBinder` is what I have at the moment. Though, I was looking at switching to System.Text.Json so I think I might end up with the converter approach you mentioned.

[2019-06-25 01:26] DamianEdwards commented on #11494
There was an interesting suggestion at some point to actually have the project system show the view files in the solution explorer, but as read-only, if they're actually coming from a referenced package. Then we could build some UX around interacting with those breadcrumb nodes to initiate scaffolding. I thought the idea had merit but I doubt it would be high priority enough to do in a release too

[2019-06-25 01:26] Andrzej-W commented on #11435
What do you think about adding .editorconfig file? https://github.com/aspnet/AspNetCore/issues/11225#issuecomment-504707787

[2019-06-25 02:15] JunTaoLuo opened #11532 "Build dashboard"
We might want to keep track of a few metrics such as:
- Last successful build date (p0)
- Time since last dependency updates or out of date dependencies (p0)
- Build success rate
- Test success rate
- Flaky test hit counts

Right now these data are available through AzDO and Maestro++ but it'll be easier to monitor if we can organize this information in a centralized dashboard.

[2019-06-25 02:36] Pilchie commented on #11532
If I get some time on vacation next week I might take a look at this, as part of trying to update https://github.com/Pilchie/GitHubDashboard

[2019-06-25 02:36] JunTaoLuo opened #11534 "Site extension build optimizations"
A few of the suggestions in https://github.com/aspnet/AspNetCore/pull/11409#pullrequestreview-253738185. Also fix the typo

[2019-06-25 02:38] Pilchie commented on #11532
Tagging @davidfowl here too.  Been slowly putting https://dev.azure.com/devdiv/DevDiv/_dashboards/dashboard/78282af7-5134-4be0-aa8e-a06e6b41acf1 together.

[2019-06-25 03:28] rynowak opened #11535 "Validate @attributes (splatting)"
## Summary

Background: https://github.com/aspnet/AspNetCore/issues/5071

`@attributes` is a new feature that allows a component to *splat* a collection of attributes into a markup element. As of preview 7 (with updated VS build) it should be possible to easily author components at allow arbitrary attributes to "pass through" to some markup element using `.razor`.

## Checklist

- [x] Passing an "

[2019-06-25 03:32] binhlt0402 commented on #11441
Yeah, it's indeed the issue. I fixed it by turning off Quick Edit mode. Using a different terminal is a great choice too. Thanks.

The issue is fixed so I will close this thread.

[2019-06-25 03:32] #11441 closed

[2019-06-25 03:38] rynowak opened #11536 "Validate Dynamic Route Values"
## Summary

Background: https://github.com/aspnet/AspNetCore/issues/4221
PR: https://github.com/aspnet/AspNetCore/pull/8955

It's super common in the older versions of MVC to subclass `Route` and implement dynamic generation of route values (usually using a database).

Ex:

1. Write a route like `product}/{**slug}`
2. Store the mapping between product slugs and controller/action route values in a

[2019-06-25 04:19] xinyanmsft commented on #11435
do you mean generate a .editorconfig file when an item template is invoked? personally I dislike have such files laying around in sub-folders. And from what I read one of the main goal of .editorconfig is to have consistency among various tools / IDEs / team members. Using it here seems a little strange.

[2019-06-25 04:55] davidfowl commented on #11312
We're making great progress on this!

[2019-06-25 05:35] stavroskasidis commented on #11082
@danroth27 The cool thing is that theoretically these projects (**Blazor Hybrid**/**Blazor Native**) could be started immediatelly since they probably would be based on **Xamarin** which is stable and mature. I really think you guys should push the higher-ups to invest in these projects to start working on them asap. This is a unique opportunity for the .net ecosystem.