[2020-04-02 17:27] NTaylorMullen commented on #18987
@dbrennan I believe closing and re-opening the document would fix the issue as well.

[2020-04-02 17:33] BrennanConroy commented on #20460
I'd just like to point at that yesterday (when this build failed) there were a large amount of networking failures. Also, gradle does do some retrying, although I've heard it's not great (in the few hundred millisecond range and 3 times) and we could look into increasing it.

[2020-04-02 17:34] lxman commented on #17660
VSCode 1.43.2
dotnet new blazorserver
Open Folder
Found markup element with unexpected name 'NavLink'. If this is intended to be a component, add a @using directive for its namespace.
Builds and runs.
Just a bit annoying.

[2020-04-02 17:38] rynowak commented on #20460
What do you think about the suggestion of trying to get build to happen during build? (vs in helix)

That doesn't eliminate the source of failure, but it does make these issues easier to categorize and understand.

[2020-04-02 17:44] tsproesser commented on #20444
Sure, thank you

[2020-04-02 17:45] rynowak commented on #20336
Failed again here: https://dev.azure.com/dnceng/internal/_build/results?buildId=584860&view=ms.vss-test-web.build-test-results-tab&runId=18431950&resultId=120522&paneView=debug

[2020-04-02 17:46] Pilchie commented on #20235
Also tagging @mariaghiondea for the devcom issue.

[2020-04-02 17:50] BrennanConroy opened #20462 "Remove ServerSentEvents transport"
We should look into removing the ServerSentEvents transport. Now that WebSockets is more common place, and LongPolling with HTTP/2 is also more common (and fast), SSE isn't needed. Plus SSE doesn't support binary.

We probably don't want to remove the implementation from the server, and we can't remove it from the negotiate response, otherwise old clients could break when used with a newer server.

[2020-04-02 17:52] mariaghiondea commented on #20235
It looks like you are facing a sign in issue. Please visit https://www.visualstudio.com/subscriptions/support/ and select “Account, Subscription & Billing Support” under the “Contact Us!” heading. Follow the prompts that will connect you to a support agent who can help troubleshoot this issue with your account. You can set Issue to “Subscription sign in support” for issues signing into the product

[2020-04-02 17:56] Pilchie commented on #20235
Thanks @mariaghiondea - closing as the first issue is addressed, and the second should move to VS.

[2020-04-02 17:56] #20235 closed

[2020-04-02 18:00] #20141 closed

[2020-04-02 18:04] wtgodbe commented on #18792
Not yet, still need to finish the 2.1 fix

[2020-04-02 18:05] aktxyz commented on #17926
ditto here :(

in my scenario I have a form with a single input with an @onblur handler

- no exception when clicking <button type="submit">
- yes exception when submitting via enter key
- no exception with enter key when @onblur is removed (even with onblur handler that does nothing)

[2020-04-02 18:40] ryanbrandenburg commented on #20397
Sounds totally reasonable, just wanted to give it as an options.

[2020-04-02 18:47] TanayParikh commented on #20397
Closing out as "by design" in Roslyn https://github.com/dotnet/roslyn/issues/42974#issuecomment-607031161.

[2020-04-02 18:47] #20397 closed

[2020-04-02 19:15] Rick-Anderson commented on #20445
False alarm. This works as expected when setting `RequireConfirmedAccount = false`. You just need to supply a page to register. You don't need to confirm.

@HaoK  please close.

[2020-04-02 19:32] roysurles commented on #20455
Worked exactly as described... thanks much!

[2020-04-02 19:39] JamesNK commented on #20442
You should be able to get an `IConfiguration` inside the `AddSingleton`. e.g.

[code]

[2020-04-02 19:43] #20455 closed

[2020-04-02 19:47] Tratcher commented on #20347
Reguardless, you should be able to look at the server debug logs to get more information about how that request was handled.

[2020-04-02 19:51] blowdart commented on #20403
Does Pranav's suggestion work for your first issue? It seems the MVC folks are anxious to remove their label, but I want confirmation that it works before that happens.

[2020-04-02 19:52] blowdart commented on #20239
Also this will be addressed as part of the upcoming AAD work for v5, which you can track in the [AAD repo](https://github.com/AzureAD/microsoft-identity-web).

Closing this as external.

[2020-04-02 19:52] #20239 closed

[2020-04-02 19:58] MortenMeisler commented on #19998
Holy moly this was driving me crazy!! Is this fixed in pv 4 shipping 6th Apr? Maybe obvious not sure 💯  Any workarounds untill then?

[2020-04-02 20:11] zvolkov commented on #18634
Actually, looks like it's still happening even with SuppressOutputFormatterBuffering=true - just less frequently. Basically, the volume of requests that get finalized with browser getting the full response before all middleware finished running - got back to pre-3.0 levels but it does still happen.

We are a large US company and we really need some guidance on how to make sure all middleware finis

[2020-04-02 20:19] tjbarnes23 commented on #4895
Also ran into this and lost a few hours. Anyone implementing Password and Confirm Password fields without a nested input model class will likely run into it. Until it's fixed, I'd suggest adding comments in the empty razor pages project that explain the need for the nested input model. I removed the nested class thinking it was overkill. Thanks.

[2020-04-02 21:07] praeliorz commented on #20282
The test is sending more data than expected traffic. It's an easy way to perform a stress test and duplicate the issue. I'm only seeing the issue when a lot of data is sending and an unhealthy disconnection occurs. It's beautiful how many messages SignalR handles so quickly.

Using expected data, it's far harder to duplicate the issue. The issue did not appear in months of testing and verification

[2020-04-02 21:09] #17803 closed

[2020-04-02 21:19] lovaszvencel commented on #16739
I aggree, that there are many higher priority features/bugs. But until you do not fix the bug we cannot use blazor with MVC in production (MVC site with same blazor components on same pages). I think it is really annoying for the visitor to see the error message on every page load/page navigation.
Do you have any workaround, until the fix is ready?

[2020-04-02 21:32] mihaimyh commented on #20436
@javiercn I followed your guide but I am still having issues on the client side.

Using `@attribute [Authorize(Roles="Admin")]` I am still getting Access denied.

Calling the API endpoint works though.

[2020-04-02 21:41] barahonajm commented on #20405
Triage issues are really good to learn, I believe the problem is due the pollution of events but before that I would like to mention that for parent child component they have best practice here:

https://docs.microsoft.com/en-us/aspnet/core/blazor/data-binding?view=aspnetcore-3.1#parent-to-child-binding-with-component-parameters

Sticking with your approach is also possible but we need be careful.

[2020-04-02 21:57] IIStevowII opened #20467 "[Blazor][Wasm][Nigthly] Unexpected behavior with authentication using the MSAL package"
This issue is reproduced on a project based on the following doc page:
[Secure an ASP.NET Core Blazor WebAssembly hosted app with Azure Active Directory B2C](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/hosted-with-azure-active-directory-b2c?view=aspnetcore-3.1)

## Description
The latest version of the Microsoft.Authentication.WebAssembly.Msal package, version 3.2.0-pr

[2020-04-02 22:05] wtgodbe commented on #18792
https://github.com/dotnet/versions/pull/580 should resolve this for release/2.1 (thanks @mmitche)

[2020-04-02 22:17] JunTaoLuo opened #20474 "Remove RazorPageGenerator from dotnet/aspnetcore-tooling"
This component is no longer used: https://github.com/dotnet/aspnetcore/pull/20464#discussion_r402567957

Also consider cleaning up references to it in docs: https://github.com/dotnet/aspnetcore/search?q=razorpagegenerator&unscoped_q=razorpagegenerator

[2020-04-02 22:18] rynowak opened #20475 "Simplify OpenApi_Add_URL_ActualResponse to avoid HTTP over the internet"
This test uses HTTP to retrieve a swagger file from the internet.

It would be much better if we can just fake this with a custom `HttpMessageHandler` like: https://github.com/grpc/grpc-dotnet/blob/master/test/dotnet-grpc.Tests/TestBase.cs

This would allow us to execute the HTTP code path of the tool without the requirement to actually do network I/O. Adding this capability also opens the door to

[2020-04-02 22:26] HaoK commented on #20445
No prob

[2020-04-02 22:26] #20445 closed

[2020-04-02 22:26] rynowak commented on #20475
Discussed with the team, the decision is to delete the test.

[2020-04-02 22:27] dougbu commented on #20475
As in #20476

[2020-04-02 23:02] JamesNK commented on #4729
I believe this has been done here: https://github.com/dotnet/aspnetcore/pull/20058/files#diff-259f4a7dbb73dd85ca5799a61ac2754fR753

@Tratcher @halter73

[2020-04-02 23:02] #4729 closed

[2020-04-02 23:05] JamesNK commented on #19591
Brennan and I believe this was fixed here https://github.com/dotnet/aspnetcore/pull/20121

[2020-04-02 23:05] #19591 closed

[2020-04-02 23:28] #19948 closed

[2020-04-02 23:29] #19926 closed

[2020-04-02 23:30] jkotalik opened #20479 "Investigate issues with templates failing start due to development certificate."
https://dev.azure.com/dnceng/public/_build/results?buildId=582840&view=ms.vss-test-web.build-test-results-tab&runId=18353670&resultId=120237&paneView=debug

[code]
cc @mkArtakMSFT

[2020-04-02 23:41] BrennanConroy commented on #20282
Oh I see, so when the client connects and is getting the large burst, you're sending the normal data in parallel to it so all the connection and it gets a large buffer of data to consume before being like a normal connection and getting the usual pace of messages.

The web API method sounds like it could help, you could also not join the group with the reconnected connection until it has caught up

[2020-04-03 00:12] blowdart commented on #20457
Why rules and not, say, claims, which would lend itself to this. Have a DefaultRole claim, and then multiple SiteAdmin claims per site ID?

[2020-04-03 00:26] #13991 closed

[2020-04-03 00:42] #18569 closed

[2020-04-03 01:00] TestO2015 commented on #20347
IIS isn't set up to use HTTPS at the moment.

Where can I find the server debug logs?

I collected two logs from the Event Viewer:

EventId: 3
ConnectionId: 0HLUND7JI8NR0
RequestId: 0HLUND7JI8NR0:00000001
RequestPath: /app/login
SpanId: |df2e885c-46152432cb051809.
TraceId: df2e885c-46152432cb051809
ParentId:

Failed to determine the https port for redirect.

EventId: 15
ConnectionId: 0HLUND7JI8NR0

[2020-04-03 01:19] Tratcher commented on #20347
Enable https in IIS, Chrome has started requiring it for cookies like `.AspNetCore.Correlation.OpenIdConnect` that use `SameSite=None`.

[2020-04-03 01:28] intech-paul opened #20482 "Calling Azure Table Function from blazor web assembly"
### Describe the bug
Cannot call table api functions; doesnt report a sensible error - An unhandled error has occurred. Reload

### To Reproduce

`@code {
    string error="Hello";
    string constring;

    void DoThis()
    {
        try
        {
            TableApi t = new TableApi();
            t.DoNothing();         //TESTING T LOADED
            t.GetConnectionString();  //TESTING T LOADE

[2020-04-03 01:38] TestO2015 commented on #20347
@Tratcher It works now, thanks.

Our production environments will run under https so this should be OK.

[2020-04-03 01:56] yudielcurbelo opened #20483 "Use IConfiguration from Program.cs in Blazor WebAssembly"
I'm trying to access wwwroot/appsettings.json from Program.cs in Blazor WebAssembly 3.2.0 Preview 3.

Content of Program.cs
` var configuration = builder.Services.BuildServiceProvider().GetRequiredService<IConfiguration>();
            var ApiBaseAddress = configuration["ApiBaseAddress"];`

Content of appsettings.json
`{
  "ApiBaseAddress": "https://localhost:5001/api/"
}`

Error
No service for ty

[2020-04-03 02:00] dbrennan commented on #18987
Thank you, that does in fact work!

[2020-04-03 02:16] JunTaoLuo opened #20485 "Replace pinned extensions dependencies"
Followup to https://github.com/dotnet/aspnetcore/pull/20484. Figure out what to do with the following packages in aspnetcore be it remove, replace with another API/Analyzer or migrate the code from extensions to aspnetcore:

Microsoft.AspNetCore.Analyzer.Testing
Internal.AspNetCore.Analyzers
Microsoft.Extensions.DiagnosticAdapter

[2020-04-03 02:54] JvanderStad commented on #20405
@barahonajm Legend!

With your sample, dropping the binding on DisplayValue and with some extra state management between Value and DisplayValue I was able to make a workaround in the actual project 👍

I do think it's an issue though

[2020-04-03 02:54] Tratcher commented on #20479
Ug, bad dependency on machine state. Should provide a default test cert via environment variables instead.

[2020-04-03 05:29] xXBuilderBXx commented on #20358
Thanks for all your help i will see what i can do also about my other question would it be possible to have the websocket connection on its own subdomain like ws.google.com that bypasses cloudflare but have the main site still be google.com with cloudflare.

[2020-04-03 05:47] jaragones commented on #20187
Main issue, is that I only saw this crash reported on firebase once and I couldn't reproduce it, but it wouldn't be a big issue if you need to test your fix. Is there a way to contact you directly to share some code?

[2020-04-03 05:51] BrennanConroy commented on #20187
Yeah, feel free to email me: brecon at microsoft.com

[2020-04-03 06:07] drearyrainDeng commented on #20360
open new blazor project. then add logo.png and code in index.razor like that
`<a href="/images/logo.png" download="/images/logo.png">
<img border="0" src="./images/logo.png" alt="download Logo" >
</a>` . it not work!

[2020-04-03 06:23] JeepNL commented on #20442
@JamesNK Thank you! I tried this and it works. I went to StackOverflow yesterday and posted my question there as well, as of now nobody was able to answer it. Normally I get a response in the first hour. I'll answer my own question there with a link to your answer here.

Also, I now have a better understanding of how to load appsettings config in DI. I like to use appsetting.{environment}.json as

[2020-04-03 06:23] #20442 closed

[2020-04-03 06:39] VladimirKhil opened #20488 "Disable FileSystemWatchers creation for subfolders"
### Is your feature request related to a problem? Please describe.
In the VS debugger I see that my ASP.NET Core 3.1 app running on Ubuntu 18.04 server creates two threads for FileSystemWatchers and one of them creates FSW on every app subfolder that I have. I have a lot of subfolders in my app so all these FSW eat a lot of CPU resources.

I have two configuration files with "reloadOnChange: true"

[2020-04-03 06:46] davidfowl commented on #13651
It may be reasonable to have a flag to allow buffering messages (off by default), but it would help catch issues like this

[2020-04-03 07:10] valeriob opened #20489 "LinkGenerator generate wrong links accross areas"
Hi,
i've been using this route rules for years (Mvc, AspNetcore <=2.2) now i'm porting a webapp to aspnetcore3.1.
"Area1/{tenant}/{controller=Home}/{action=Index}/{id?}"
"Area2/{tenant}/{controller=Home}/{action=Index}/{id?}"

Generating links for those routes 3.1 it's not working in some scenario :

1) if i'm on a page not contained in any area /Home/Index, the link generation works ok

Url.Actio

[2020-04-03 07:11] Reds369 commented on #20349
Thanks Anurse.

You were correct after upgrading to 3.1 that solved the issue for me.

Kind regards,
Ruben

[2020-04-03 07:11] #20349 closed

[2020-04-03 07:27] tn-5 opened #20490 "Blazor WebAssembly always overwrites web.config on IIS publish"
When deploying a standalone Blazor WebAssembly app to IIS it is useful to customise the web.config with items such as the environment to run in, for example adding the following to indicate the QA environment:
[code]

Currently (WebAssembly preview 3) this cannot be done since the publish to IIS always overwrites the web config by copying the ```Standalone.Web.Config``` from the sdk to the target

[2020-04-03 07:35] frankabbruzzese opened #20491 "How to add a custom build task to a Blazor WebAssembly project?"
I would like to add a custom build task when a Blazor project is compiled in release/debug configuration BEFORE files are packed in the **dist** foder, because at that time it is too late for performing transformations such as dll merging and resources processing. Is this possible? How? I tried adding custom tasks, but they appear to execute AFTER the **dist** folder has been packed.

[2020-04-03 07:38] mihaimyh commented on #19552
Hi,

My corporate antivirus blocks all .dll downloaded in Chrome or other browsers:

[code]

[2020-04-03 08:33] harikrishnakada commented on #17516
Hi Team. Any update on this issue. After updating my visual studio professional 2019 version to 16.5.2, i am facing this issue quite often.

[2020-04-03 08:36] ar0311 opened #20492 "WASM 3.2 pre 3 template - When deleting an account user stays logged in until browser refresh"
### Describe the bug
When deleting your account using the latest preview of Blazor Wasm (Hosted with Individual auth) after redirect you are still showing as logged in. After a browser refresh you are correctly showing as logged out.

### To Reproduce

dotnet new blazorwasm -au Individual --hosted

Register > Confirm > Login > Play Around > Click username > Click Personal Data > Click Delete Data

[2020-04-03 08:43] javiercn commented on #20492
@ar0311 thanks for contacting us.

This is a known issue and will be fixed in the next preview.

[2020-04-03 08:49] javiercn commented on #20489
@valeriob thanks for contacting us.

I believe this is caused by a difference in how endpoint routing treats ambient values. Check https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-2.2#differences-from-earlier-versions-of-routing for details.

@rynowak to confirm, but I think this is expected.

[2020-04-03 08:51] JakobGSvendsen commented on #20374
Hello. As I understand from this, it is not possible to select redirect as login option.

I  would suggest you add possibility to select redirect. I am suprised that popup is selected as default.

by my experience running multi tenant cloud apps for the last 5 years is that popup will provide all sorts of issues with blowser blockers and other stuff that regular users has issues with, then turning

[2020-04-03 08:51] javiercn commented on #20488
@VladimirKhil thanks for contacting us. Can you give us more details about the folder that is affected by this? (Name within the solution at least) so that I can determine what area of the product it belongs to?

[2020-04-03 08:54] javiercn commented on #20491
@frankabbruzzese thanks for contacting us.

We are not sure what you are trying to accomplish, but I would say that the Blazor pipeline is pretty intricate and there is a good chance to break things if you just "attach" to it in the middle and start making changes.

Ideally, any transformation that happens should be after the app has been built/published.

If you give us more details on specific t

[2020-04-03 08:56] javiercn commented on #20467
@IIStevowII thanks for contacting us.

We recently updated the default settings to default to sessionStorage (to match msal.js defaults). If you want the old behavior back you can simply set the settings to "localStorage" in the cache settings.

That said, we plan to log you silently during app startup, so that'll bring back that behavior back.

[2020-04-03 08:58] javiercn commented on #20482
@intech-paul thanks for contacting us.

This looks like the mono runtime itself is crashing. @SteveSandersonMS thoughts?

@intech-paul can you create a minimal repro project that will help us investigate this issue?

[2020-04-03 09:00] #20453 closed

[2020-04-03 09:01] ar0311 commented on #20492
Great, thanks!

[2020-04-03 09:06] VladimirKhil commented on #20488
@javiercn this is wwwroot folder. It has thousands of subfolders in my case. The folders hierarchy looks like this: wwwroot -> (1 big folder and several small) -> (several hundreds subfolders in the big folder) -> (4 subfolders in each of them)

[2020-04-03 09:08] frankabbruzzese commented on #20491
My main goal is to merge the main assembly with some library dlls. I can do it also after publication, but then I have to update the list of files in blazor.boot.json. Moreover, while updating blazor.boot.json should be quite easy, I am worried that the more aggressive linker policy and dll compression announced for the 3.2 final, might make this processing very hard if done after all assets have

[2020-04-03 09:20] valeriob commented on #20489
Ouch, if this is by design it's a very bad news :(
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1#problems-with-route-value-invalidation

So the only way to use netcore3 is to disable EndpointRouting, but what is the path forward ? If you will remove the old behavior before implementing this new feature it will case a lot of pain to a lot of people.
Do you ha

[2020-04-03 09:30] wocar commented on #20332
is there anything i can do to help? thank you

[2020-04-03 09:51] MortenMeisler commented on #20374
I changed title to clarify that it's not that I necessarily object against pop-up is the default. But it should at least be optional for the user if this is default behavior.

Thanks for all the hard work and a great framework :)

[2020-04-03 10:02] SteveSandersonMS commented on #20482
@javiercn Yes. It might be that the table client does something that's not supportible in a browser environment, though looking at its code in ILSpy, it seems only to use HttpClient for transport so it seems like it should work. Regardless, the runtime would ideally provide a better error message than this, so it is worth reporting upstream.

It looks to me like the code sample posted by @intech-p

[2020-04-03 10:32] Pavel-Khadarovich opened #20495 "missing FROM-clause entry for table"
After trying to execute such not so complicated query

`var inner = _context.Table
  .Include(x => x.Table1)
  .Include(x => x.Table2)
  .GroupBy(
      s => new {s.Table2.Name, s.Time, s.Table1.Id, s.UserType},
      (key, elements) =>
          new
          {
              Date = key.Time,
              Name = key.Name,
              Id = key.Id,
              Type = key.Type
          }
  );

[2020-04-03 11:09] blowdart commented on #20347
As it's working, closing

[2020-04-03 11:09] #20347 closed

[2020-04-03 11:27] MortenMeisler commented on #20231
Alot of appsettings configuration happens in program.cs. Like authentication.

For DevOps I think this issue/feature is essential.

[2020-04-03 11:34] badamsdev opened #20496 "Incorrect IdentityError description"
Line [137](https://github.com/dotnet/aspnetcore/blob/master/src/Identity/Extensions.Core/src/Resources.resx#L137) & [165](https://github.com/dotnet/aspnetcore/blob/master/src/Identity/Extensions.Core/src/Resources.resx#L165) in [src/Identity/Extensions.Core/src/Resources.resx](https://github.com/dotnet/aspnetcore/blob/master/src/Identity/Extensions.Core/src/Resources.resx) should be "Username" not

[2020-04-03 12:06] blowdart commented on #20496
We'll happily accept a PR for this :)

[2020-04-03 12:22] colmardev commented on #20227
Same as @fileman here.

F5 from VS 16.6.0 preview2 Wasm App with 3.2.0-preview3.20168.3 through Chrome browser.
But if in same debug session I browse to my app https://localhost:44331 from Firefox it works and I can log in with B2C Google user.

[2020-04-03 12:43] javiercn commented on #20488
@VladimirKhil thank. That helps. @pranavkm can this be the file watcher used by razor for runtime compilation? Can you provide instructions here on how to turn it off?

[2020-04-03 12:44] javiercn commented on #20488
Tentatively moving this to MVC to further look at the issue

[2020-04-03 12:44] javiercn commented on #20488
/cc @Tratcher in case you have some other thoughts

[2020-04-03 12:49] javiercn commented on #20358
@xXBuilderBXx that could be something to try. You could tweak the signalr connection as follows:
[code]
Within configureSignalR you can configure the URL I believe, but I'm not sure if it will work.

[2020-04-03 12:57] andrejreimer commented on #15166
Hello I am facing the exact same issue as Nagarian, we want to use the RFC Response but our unittests Fail because of that Problem.

Thank you

[2020-04-03 13:04] Hrydberg opened #20498 "SignalR, server side events doesn't work when deployed to IIS without WebSockets and UseResponseCaching is configured"
### Describe the bug
Server side events doesn't work when deployed to IIS without WebSockets and UseResponseCaching is configured and the app is using in-process hosting.
If I use out-of-process hosting or remove UseResponseCaching it works.

### To Reproduce
Create a web application
Call UseResponseCaching in Startup.cs
Use in-process hosting
Deploy to IIS where WebSockets is not installed

This

[2020-04-03 13:07] javiercn opened #20499 "[Blazor][Wasm] Consider using the CompressionStream APIs to download optimized assets from the client"
The idea is to use the Compression steam APIs to guarantee we can download at least a gzip version of the framework files.
* https://wicg.github.io/compression/

When deploying to some places like azure storage and similar, we don't really have control over the compression. This might result in the app not being delivered optimally to the client.

We can add support for using the compression APIs

[2020-04-03 13:09] SteveSandersonMS commented on #20227
@fileman @colmardev In the short term, you'll need to run without debugging when launching from VS in this case. Sorry for the inconvenience. We'll see if we can offer any better solution soon.

[2020-04-03 13:15] fileman commented on #20227
No problem, this is a preview and for no more Javascript required in UI for asp.net, I think we can wait whatever is necessary

[2020-04-03 13:21] xXBuilderBXx commented on #20358
Figured something like that was probably in there will check it out and see how it goes i guess thanks

[2020-04-03 13:26] Hrydberg opened #20500 "SignalR js client doesn't fallback to LongPolling when it fails to connect with server side events"
### Describe the bug
SignalR js client doesn't fallback to LongPolling when it fails to connect with server side events.

### To Reproduce
Setup the scenario described in #20498

The following is logged and it doesn't try to connect with LongPolling after SSE fails.
![image](https://user-images.githubusercontent.com/3148297/78364353-99556280-75bd-11ea-8d6d-13b68f1f746d.png)

These are the network

[2020-04-03 13:34] srulandhs opened #20501 "Compile issue with Microsoft.Extensions.Logging.LoggingBuilderExtensions.AddProvider"
Normally, I would do the following

[code]
this seems to work just fine. However, I recently encounter an issue where there was a conflict between Microsoft.Extensions.Logging and another third party namespace. Basically, both had a definitions for the LogLevel type.

To address this, I attempted to change the above code to:

[code]
This resulted in the following compiler error which I was unable

[2020-04-03 13:37] kim3ds opened #20502 "The second added auth service, doesn't get automatically the Signing keys for validate incoming JWT."
I need to authenticate against multiple client ids. One is Main.ClientId. Another one is in IncomingClients[0].ClientId.
Signing keys for auth endpoint are specified to validate incoming JWT token. But they are constantly changing, and they could be automatically fetched by MS .NET libraries. and they are, but only when auth client is the only client I validate.
I need to find a way how to validat

[2020-04-03 13:37] kim3ds commented on #20502
https://stackoverflow.com/questions/60991115/asp-net-core-how-to-setup-2-publishers-of-jwt-token

[2020-04-03 13:47] Bernoulli-IT commented on #11885
In a situation I have at hand a migration procedure is also taking (expectedly) long but needs to be executed. Is it possible to just increase the timeout of 120s (2 min)?

[2020-04-03 13:50] barahonajm commented on #20360
Yes you are completely right, I misunderstood the idea behind donwload, to add a extra detail, it correctly works on an MVC or Razor pages project, but not on a Blazor one

[2020-04-03 13:58] javiercn commented on #20501
@srulandhs thanks for contacting us.

You should be able to get around this by using a type alias
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-directive

[2020-04-03 13:58] praeliorz commented on #20282
Good idea. Thanks for the feedback and advice.

[2020-04-03 13:58] #20282 closed

[2020-04-03 13:59] davidfowl commented on #20501
Can you provide a project that reproduces the problems

[2020-04-03 13:59] Bernoulli-IT commented on #11885
The answer is found here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.1#attributes-of-the-aspnetcore-element

[code]

[2020-04-03 14:02] davidfowl commented on #20500
Are you using https? In both cases the connection was successfully made but then it failed to communicate afterwards (likely something in between buffering responses).

It may be better in these scenarios to disable SSE completely.

[2020-04-03 14:12] Hrydberg commented on #20500
No I am not using https.
But shouldn't it fallback to LongPolling automatically like the old SignalR client did?

[2020-04-03 14:16] davidfowl commented on #20500
We’ll investigate why it’s happening for sure, old signalr makes some tradeoffs we won’t be willing to make in the new version though (which greatly affect things like connection establishment time).

Are you in a situation where you cannot use websockets? Or weee you just testing other transports to see the behavior.

[2020-04-03 14:22] Hrydberg commented on #20500
We have some clients that are running our application on old Windows Server 2008 R2 where websockets isn't available.
Thank you for investigating this.

[2020-04-03 15:09] barahonajm commented on #20361
Also if you change the DateValue to be nullable, any invalid value will cause the input to reset to "dd/mm/aaaa", this does not happens on normal html.

[2020-04-03 15:12] BrennanConroy commented on #20500
SSE has already connected successfully which will disable transport fallback. The real issue is https://github.com/dotnet/aspnetcore/issues/20498 which we will definitely take a look at.

Also, you should consider disabling SSE on the client. In fact, we're even considering removing SSE in a future release.

[2020-04-03 15:18] bancroftway opened #20503 "Edit Profile functionality stops working after introducing OpenIdConnectEvents in an Asp.Net Core 3.1 Blazor Server app using Azure B2C"
I have an Asp.Net Core 3.1 Blazor server application using Azure AD B2C auth, which works fine including SignIn/Singup and Profile Edit. The relevant code in Startup.cs looks like this:

[code]

However, when I introduce the code below to intercept OnTokenValidated event, the OnTokenValidated fires when I click on SignIn; however, after signing in, when I try to edit profile, I see that OnTokenVal

[2020-04-03 15:26] MichaelSpranger commented on #20231
I realized that I am able to access the configuration like so. I use `builder.Services.AddMsalAuthentication`, but I expect this to work the same with AddOidcAuthentication.
[code]

[2020-04-03 15:37] njannink opened #20504 "Blazor WebAssembly no longer logging to browser console"
**Package:** Microsoft.AspNetCore.Components.WebAssembly
**Version:** 3.2.0-preview3.20168.3

**Issue:**
After I updated to the latest version of Blazor WebAssembly the output logging to the console stopped working. With previous versions log output was written to the debug console. I didn't find anything about required changes to the configuration settings. Any ideas if this is a bug or intended

[2020-04-03 15:55] Blackleones commented on #18340
please take a look at https://stackoverflow.com/questions/59747983/blazor-concurrency-problem-using-entity-framework-core

[2020-04-03 16:05] #20443 closed

[2020-04-03 16:14] gustavnavar commented on #20448
I found the error. It was a silly one, but I took me a lot of time debugging.

During the upgrade process I duplicated this line in ```Program.cs``` file of the client app:
[code]

Thanks for your help

[2020-04-03 16:14] #20448 closed

[2020-04-03 16:15] wtgodbe commented on #18792
Closing as fixes have been merged into all affected branches

[2020-04-03 16:15] #18792 closed

[2020-04-03 16:44] Tratcher commented on #20503
The trouble is probably that B2C was already using those events you replaced.
https://github.com/dotnet/aspnetcore/blob/0d9f5e053f9f252e5da24173d24688bf9968f389/src/Azure/AzureAD/Authentication.AzureADB2C.UI/src/AzureADB2COpenIdConnectOptionsConfiguration.cs#L42-L47
Rather than making a new events class, can you re-use the existing one?

[2020-04-03 16:50] Tratcher commented on #20502
What code do you have so far? Two calls to AddJwtBearer?

One of the trickiest parts is knowing which validator to use for which token. One option is to try both and catch any errors.
[code]

[2020-04-03 16:58] BrennanConroy opened #20506 "Changed options settings in ASP.NET Core SignalR MessagePack"
## Changed options settings in ASP.NET Core SignalR MessagePack

The ASP.NET Core SignalR MessagePack Hub Protocol options has been changed from a `IList<MessagePack.IFormatterResolver>` to use the `MessagePackSerializerOptions` from the [`MessagePack`](https://www.nuget.org/packages/MessagePack) library directly.

This is a breaking change for:

* Anyone who is setting/configuring values on [`Mes

[2020-04-03 17:12] ribagyula89 opened #20507 "Entity Framework Core - Code-First throws exception"
Good afternoon!

I don't know if somebody else run into the same problem with Code-First DB or I just missed something:

I updated to the latest 5.0...preview Nugets last week, and I tried to update my database (SQL Server 14.0.2027). The "add-migration" command created the migration file correctly, but the update-database command throws exception (I added a new property to one of my model, but th

[2020-04-03 17:19] ribagyula89 commented on #20507
(Sorry, this should be transferred to /efcore I think)

[2020-04-03 17:33] vsfeedback opened #20508 "Compiling Blazor client fails"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/965848/compiling-blazor-client-fails.html)._

---
Trying to compile a blazor client side project (with core server and shared lib) fails but I don't understand how to fix this. (it would be nice with a bit more help along the way :) )

Compiler output:

---
### Original Com

[2020-04-03 17:33] mkArtakMSFT commented on #20508
This issue was moved to mono/mono#19431

[2020-04-03 17:33] #20508 closed

[2020-04-03 17:35] vsfeedback opened #20509 "netcore RedirectToActionPermanent Can not jump"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/963966/netcore-redirecttoactionpermanent-can-not-jump.html)._

---
我新开的项目，RedirectToAction是可以在控制器之间跳转。 但是，有时候就是不能跳转。 请问我的是什么问题呢？代码如下：
  public async Task<ActionResult<ImportInfoSet>> PileAction(int id)
        {
            var impinfo =await _context. ImportInfoSet

[2020-04-03 17:35] danroth27 opened #20510 "API ref docs for RemoteAuthenticatorView should document the supported set of actions"
Since `RemoteAuthenticatorView.Action` is just a string, it's not clear what the supported set of actions are. It would be useful to document these in the API refs for this type.

[2020-04-03 17:35] mkArtakMSFT commented on #20509
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-04-03 17:37] #19298 closed

[2020-04-03 17:39] vsfeedback opened #20511 "blazor successful authentication causes browser crash in VS 16.6.0 Preview 2"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/975717/blazor-successful-authentication-causes-browser-cr.html)._

---
[regression] [worked-in:16.5.2]
I have a blazor webassembly application (preview 3), using AAD authentication.  In VS 16.6.2 Preview 2, if I authenticate successfully, the browser crashes.  I am using th

[2020-04-03 17:39] mkArtakMSFT commented on #20511
@javier, can you please look into this? Thanks!

[2020-04-03 17:44] vsfeedback opened #20512 "Blazor Webassembly Hosted App with Individual Accounts Authentication throws error on debuging if Solution has spaces in Name"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/971270/blazor-webassembly-hosted-app-with-individual-acco.html)._

---
I created a Blazor Webassembly app with hosted checked and changed authentication to Individual accounts. The name for the Solution was "Blazor Webassembly Hosted Test". When I first run the app I got an

[2020-04-03 17:53] captainsafia commented on #20504
At the moment, blazor-wasm-3.2-preview3 does not support the same configuration options for logging that exist in ASP.NET. Some questions to drill down on the issue:

- What version of blazor-wasm where you using previously?
- What LogLevel are the logs that you are expecting to be displayed?

[2020-04-03 18:09] halter73 commented on #13651
I know in the past, MVC has had similar issues with JsonResults. Do we have a supported way to buffer those other than using the Microsoft.AspNetCore.Buffering 0.2.2 NuGet package?

The big difference is that in MVC's case, serialization failures mean not being able to write a 500 response or diagnostic error page, while in SignalR, serialization failures cause entire connections to close.

I thin

[2020-04-03 18:14] vsfeedback opened #20515 "Error when trying to rename a property used in a blazor component"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/975482/error-when-trying-to-rename-a-property-used-in-a-b.html)._

---
If I try to rename a property used in a blazor component (.razor), the following exception occured.

System.NotSupportedException: Changing document 'Z:\GIT\neptune-ac\src\Neptune.AC.Web\Pages\Administra

[2020-04-03 18:14] NTaylorMullen commented on #20515
This will be fixed by LSPification of Razor. Throwing this in the Razor.Tooling backlog for now.

[2020-04-03 18:24] adamsitnik opened #20518 "Is it possible to tune request parsing any further?"
I am currently working on improving our results in the JSON TechEmpower benchmark.

We got to the point, where everything was already tuned at least once and even 1% matters.

The majority of time is spent on necessary work like sending & receiving messages, epoll & thread pool scheduling that are hard or impossible to optimize any further.

For the JSON Platform benchmark, we spent 5% of the time

[2020-04-03 18:26] njannink commented on #20504
I think it used to work in **Microsoft.AspNetCore.Blazor** Version=**3.2.0-preview1.20073.1** and there I also only used the AddLogging() option

[2020-04-03 18:26] pranavkm opened #20519 "Move Blazor to .NET 5"
## Runtime and tools story

The .NET WebAssembly team is driving the work for a build pipeline for a WASM. Once we have designs for it available, we'll have to figure out how blazor fits in to it. Partner work is TBD at this point

## Detecting a blazor-wasm project

The SDK will need some way of knowing if a project is a Blazor WASM application to enable BlazorWASM specific targets of the build p

[2020-04-03 18:28] #20475 closed

[2020-04-03 18:47] rynowak opened #20520 "BlazorServerTemplateWorks_IndividualAuth is hanging in CI builds"
BlazorServerTemplateWorks_IndividualAuth is already quarantined, but it's also being explicitly skipped because it's causing hangs in the CI.

Ex: https://dev.azure.com/dnceng/internal/_build/results?buildId=587056&view=results

[2020-04-03 19:02] ajaybhargavb opened #20522 "Expose Razor LSP specific options in VS UI"
We currently have no way for the user to customize Razor options in VS LSP world. This is necessary for things like enable/disable Razor formatting.

[2020-04-03 19:21] abbatepabloo opened #20524 "File blazor.boot.json contains different hashes after recompile project in Release Mode"
### Describe the bug
I'm investigating how Blazor handles assembly caching and I'm not sure if there is a bug or not.

Every time I recompile an Assembly Blazor project  (in **RELEASE** mode) all hashes contained in **\bin\Release\netstandard2.1\wwwroot_framework\blazor.boot.json** file are updated with new values, no matter if I modified the source code or not.
This modification forces **WebAssem

[2020-04-03 19:22] Joelius300 opened #20525 "Circular references are not supported, take two"
As correctly mentioned in #18628, blazor currently doesn't support circular references to be serialized. But I'm very confused as to what happened to that issue. It's clear from the sources that the current implementation uses [`JSON.stringify`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify) before actually invoking the C# code and that function th

[2020-04-03 19:36] captainsafia commented on #19737
I'm going to go ahead and close this now since most of this was implemented in #20432.

The configuration aspect of this can certainly be a little bit more polished. We don't currently support `builder.Logging.AddConfiguration` but the work I will be doing in #20231.

[2020-04-03 19:36] #19737 closed

[2020-04-03 19:59] IIStevowII commented on #20467
Thanks for the reply, didn't know that was standard behavior for MSAL.js
Found documentation about it after your advice: https://docs.microsoft.com/bs-latn-ba/azure/active-directory/develop/msal-js-sso

Tried to change the cache location in the settings, and that indeed solved the problem. Thanks!
For anyone curious how that can be done, in the Program.cs of your client project:
[code]

[2020-04-03 19:59] #20467 closed

[2020-04-03 20:00] #20419 closed

[2020-04-03 20:02] javiercn commented on #20510
https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Components/WebAssembly/WebAssembly.Authentication/src/Models/RemoteAuthenticationActions.cs

https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs#L23-L26

It's pointed out in the xml comments, do we need something else? If so, can you file a doc bug an

[2020-04-03 20:09] shirhatti commented on #20500
Triage: In the old SignalR client, we waited for a message to be received before disabling transport fallback. However, this is low priority

[2020-04-03 20:11] javiercn commented on #20524
@abbatepabloo thanks for contacting us.

That is expected. If you switch from debug to release, you are switching from debug assemblies to release assemblies. The contents of the assemblies change and that causes the manifest to change.

Does that make sense?

[2020-04-03 20:12] javiercn commented on #20524
Nevermind, I misunderstood what you were talking about.

The reason the hashes change is that the linker produces new outputs in release with a slightly different content and that makes the hashes different.

[2020-04-03 20:14] javiercn commented on #20512
@vsfeedback thanks for contacting us. We'll take a look at this issue and get back to you.

[2020-04-03 20:14] danroth27 commented on #20510
The XML comment looks good to me. Any idea why this content isn't showing up in IntelliSense in VS?

![image](https://user-images.githubusercontent.com/1874516/78401175-001e5000-75ad-11ea-825a-6cdc7ef496e4.png)

I don't see the XML doc files in the NuGet package contents.

[2020-04-03 20:18] shirhatti commented on #20460
Triage: Backlogging until we see this happen again

[2020-04-03 20:21] bhrugen opened #20528 "Area scaffolding is not working in .net core 5 preview 2"
### Describe the bug
Cannot scaffold area in .net core 5 preview 2

### To Reproduce
Create new project with individual user account and try to scaffold a new area.

### Further technical details
- ASP.NET Core version .NET 5 preview 2

[2020-04-03 20:25] abbatepabloo commented on #20524
Hi Javier,

Thanks for your fast response. I understand what you are saying.
One thing I did was to calculate the hash of both assemblies (before and after building) and, according to my test, they have the same hash. I'm only taking into account the file content (not any attribute)

Please, take a look of this:

[code]

The potencial problem I see here is that the cache is not going to work effec

[2020-04-03 20:28] Tratcher commented on #20426
Can you create a github repo with a repro app?

Where did you measure the response latency? From the client? In the server logs?

Was the latency difference on Kestrel, IIS, or both?

AuthZ policies are probably a more efficient solution to this anyways as it doesn't require modifying the principal.

[2020-04-03 20:37] danroth27 commented on #20510
Looks like all of our packages are missing XML doc files. I chatted with @mkArtakMSFT and we'll track fixing this with https://github.com/dotnet/aspnetcore/issues/18427.

[2020-04-03 20:37] #20510 closed

[2020-04-03 20:41] kim3ds commented on #20502
How to accept and validate JWT tokens from two different authorities using the same schema Bearer?

Requests with headers like:
Authorization: Bearer <jwt token with aud = client1>
Authorization: Bearer <jwt token with aud = client2>

I want to validate and accept both.

If I setup them like that:

var authBuilder = services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme);
authBuilder.Ad

[2020-04-03 21:07] dreddy-work commented on #19536
I do not see that node under: Computer\HKEY_CLASSES_ROOT\Installer\Products\

[2020-04-03 21:24] halter73 commented on #20518
HTTP/1.x parsing has already been pretty heavily optimized by people like @benaadams.

We don't really do text operations at the [HttpParser](https://github.com/dotnet/aspnetcore/blob/2883a475425bd288fde13bb576cc2d8a4394d68a/src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs)-level. We treat everything as bytes. Instead we use ReadOnlySpan.IndexOf (or ReadOnlySequence.PositionOf for headers

[2020-04-03 23:07] jkotalik commented on #17516
Let's bump the priority of this issue; more people are hitting it than we originally believed. Depending on severity as well, we may backport.

[2020-04-03 23:40] GrabYourPitchforks commented on #20518
When https://github.com/dotnet/runtime/issues/28230 comes online we'll probably be able to plumb it through some of the network protocol parsers. That might give a small perf boost for "text" processing. But IMO the biggest benefits would come from more efficient data structure management.

Some of the other recent gains are from introducing unsafe code in previously-safe code paths. That continue

[2020-04-04 00:47] davidfowl commented on #20231
That’s not right, calling BuidServiceProvider is wrong as it will result in another set of service instances

[2020-04-04 00:52] davidfowl commented on #20518
No more unsafe code in the HttpParser, that’s hard no from me. We should be moving to a place with less unsafe code

[2020-04-04 01:05] wjvii opened #20534 "Correlation failed for Blazor App with Multiple Organization Authentication via ngrok"
### Is your feature request related to a problem? Please describe.
I start a new Blazor App that says Source: .NET Core 3.1.4 and select Work or School Accounts and in my case picked Multiple Organizations for Authentication. I let Visual Studio provision the app for authentication.

I then run the application in Visual Studio and get the local Url

I then run ngrok with something like:

ngrok htt

[2020-04-04 01:14] iUnknwn commented on #20426
Was seen on Kestrel, measured via the server Hosting.Diagnostics log entries.

However, I just checked out the commit that was still working on claims transformation, right before the switch, and page response times are reasonable (65ms, not the 350ms I was seeing previously). I suspect something else might have been causing this issue that just happened coincided with the change.

[2020-04-04 01:14] #20426 closed

[2020-04-04 02:22] benaadams commented on #20518
There's some gains still to get if can change the api. I assume that's ok as its "internal"?

[2020-04-04 03:21] mihaimyh commented on #20436
@javiercn @SteveSandersonMS @danroth27

I don't know if this is the correct way of creating a policy in Wasm but I've added the following in `Program.cs`:

            builder.Services.AddApiAuthorization();
            builder.Services.AddAuthorizationCore(config =>
            {
                config.AddPolicy("IsAdmin", policyBuilder =>
                {
                    policyBuilder.Requi

[2020-04-04 04:19] mihaimyh commented on #20436
So it seems I was not building the policy properly on the client side. I should be using `RequireClaim` instead of `RequireRole`:

            builder.Services.AddAuthorizationCore(config =>
            {
                config.AddPolicy("IsAdmin", policyBuilder =>
                {
                    policyBuilder.RequireClaim("role","Admin");

                });
            });

[2020-04-04 04:36] Lupusa87 opened #20535 "Blazor - Static asserts from Razor Class Library can't be loaded when library project isn't in same solution"
### Describe the bug

I am trying to consume Razor Class Library in blazor app but static assets (e.g. js files) can't be loaded at run-time, library is separated project, not in same solution.
If I add library to same solution it is working.
I want library to be separated because it will be consumed by several apps.

### To Reproduce
1. Create Blazor webassembly standalone app;
2. Create Razor Cl

[2020-04-04 06:17] MichaelSpranger commented on #20231
@davidfowl Agree, this is not how it should be done, and lacking a proper solution this is what a lot of people will end up doing.

[2020-04-04 06:38] HanJunJun opened #20536 "Problem with manually fetching objects from ioc container"
### Describe the bug
I found that when the registered life cycle is AddScoped, the object manually obtained from the container and the object injected by the constructor are not the same.

### To Reproduce
public void Configure(IApplicationBuilder app, IHostingEnvironment env, IServiceProvider svp)
        {
            EnginContext.Initialize(new GeneralEngine(app.ApplicationServices));

[2020-04-04 07:50] jotway opened #20565 "Cannot connect to http://localhost:5000"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

I'm running Windows 10 and VS 2019 - both current versions.

When I try to browse to http://localhost:5000 I get the following.

![image](https://user-images.githubusercontent.com/20447364/78421615-a04aa680-768b-11ea-9d16-d5b89ab977ab.png)

I've followed the procedure for "Checking

[2020-04-04 08:04] wenz commented on #20406
Verified that the .gitattributes modifications indeed work (test repo: https://github.com/wenz/crlf-test - my client had core.autocrlf set to true); created a pull request for your consideration.

[2020-04-04 09:16] boukenka commented on #20436
If this helps, you can read great Chris Sainty's articles (4) on "_Securing your Blazor applications_" from here: https://chrissainty.com/securing-your-blazor-apps-introduction-to-authentication-with-blazor/. The last 2 posts are about roles and policy.

[2020-04-04 09:38] bouyeijiang commented on #20303
[test.txt](https://github.com/dotnet/aspnetcore/files/4431091/test.txt)

[2020-04-04 10:39] robertjak opened #20538 "MVC like Html Helpers using RenderFragment?"
How can I use RenderFragment in a method to generate a component dynamically in MVC  Html Helpers style (Blazor)? There was a hint here #16112 by @SteveSandersonMS but unfortunately without example.

What I do is:

    public static RenderFragment RenderName(string name)
    {
        return __builder => {
             <p>Name: <strong>@name</strong></p>
         };
    }
and then calling it

[2020-04-04 10:39] javiercn commented on #20536
@HanJunJun thanks for contacting us.

@davidfowl thoughts?

[2020-04-04 10:41] javiercn commented on #20535
@Lupusa87 thanks for contacting us.

Visual studio has no way to know about the project if it is not part of the solution I believe. You can add your project to multiple different solutions. That's the way to do it.

[2020-04-04 10:45] javiercn commented on #20534
Thanks for contacting us @wjvii.

It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow using the asp.net-core-blazor tag.

[2020-04-04 10:46] javiercn commented on #20528
@bhrugen thanks for contacting us.

@vijayrkn this is a tooling issue, can you have someone take a look?

[2020-04-04 10:56] javiercn commented on #20525
@Joelius300 thanks for contacting us.

When you invoke a JS function and there's an error it gets marshalled back to C# and rethrown there. That behavior is by design. If you put a try..catch you can catch the exception and react to it, otherwise your .NET code would just hang, which is not acceptable.

[2020-04-04 12:24] javiercn commented on #20491
@frankabbruzzese thanks for the details. I don't think that type of transformation is something we plan to support in the near future. We ourselves considered things like ILMerge in the past but the reality of it is that it has significant drawbacks like for example breaking assembly identity.

As I said, we don't plan to support these types of things within the build pipeline, as it comes as a no

[2020-04-04 12:45] Joelius300 commented on #20525
I'm sorry but I don't understand how that's relevant. I'm invoking a C# method from JavaScript, not the other way around. I understand the behaviour you explained but that's for C# code calling JavaScript code right?

I'll try to create a minimal example which shows what I mean; the project I used until now is not suitable to showcase this.

[2020-04-04 13:16] vijayrkn commented on #20528
We haven’t added support for any scaffolders in Net 5.0 preview2. All scaffolders will be available in Net 5.0 preview3.

/cc @deepchoudhery

[2020-04-04 13:17] SomeProgrammerGuy commented on #20403
My apologies for the late reply.

I'm currently tied up with some emergency development relating to this pandemic in the UK.

I'll try and test this if I get a moment this weekend.

Be safe all. It's starting to get a little crazy over here...

[2020-04-04 14:00] #20358 closed

[2020-04-04 15:15] rellis-of-rhindleton commented on #19339
Looks like this was my misunderstanding about how the ApiController attribute works.

[2020-04-04 15:15] #19339 closed

[2020-04-04 16:34] benaadams commented on #20518
e.g. current `OnStartLine` handler is
[code]
Which is very heavy on stack usage as well as parameter ABI stack passing.

Changing to something like the following would mean that only the `Span<byte>` is passed on stack, whereas the other parameters are passed via register:
[code]
Then use C#8's range operator to get the sub Spans from the `startLine` in the handler.

[2020-04-04 17:04] davidfowl commented on #20536
Are you calling BuildServiceProvider anywhere in your code? Can you provide a sample that reproduces the problem?

[2020-04-04 17:12] Yustos commented on #20100
I see this problem too.
Tried to prepare example in branch: https://github.com/Yustos/AspNetCoreSubdomain/commits/auth_trouble
Reproduce steps:

- Compile AspNetCoreSubdomain.Samples.csproj
- Place bin folder to remote server (example.com)
- Run on remote server AspNetCoreSubdomain.Samples.exe in console
- On local computer open http://example.com:5000 in chrome browser

You can see error 404 in b

[2020-04-04 17:26] Smicius commented on #17707
I had an `Exception` with completely the same stack trace. The problem was that my test project is in additional subfolder "Tests":
`SolutionFolder\**Tests**\MyTestProject\MyTestProject.csproj` (actual content root)
`SolutionFolder\MyTestProject\MyTestProject.csproj` (WebApplicationFactory expected content root)

I tried to change that content root with the following code:
`protected override IHos

[2020-04-04 17:29] snapfisher opened #20539 "Blazor Authentication Additional Access Tokens cannot be retrieved"
### Describe the bug
Following the documentation in

https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/additional-scenarios?view=aspnetcore-3.1

Additional AAD tokens cannot be retrieved using Blazor Preview 3.2.0 3

### To Reproduce

I my main:

builder.Services.AddMsalAuthentication(options =>
            {
                var authentication = options.ProviderOptions.Authe

[2020-04-04 18:28] Yustos opened #20540 "Windows Authentication Error using Kestrel for .NET Core Web API, when accessed remotely."
Error in Windows Authentication using Kestrel still reproduce (package  Microsoft.AspNetCore.Authentication.Negotiate, guide https://docs.microsoft.com/ru-ru/aspnet/core/security/authentication/windowsauth?view=aspnetcore-3.1&tabs=visual-studio#kestrel).
Same error in related issue. But i collected logs and prepare example to reproduce bug.

Example in branch: https://github.com/Yustos/AspNetCoreS

[2020-04-04 18:44] BrunoBlanes opened #20541 "[HttpGet] Attribute doesn't work as expected on Blazor WebAssembly api controller"
### The bug
I have a Blazor WebAssembly app with a controller as follows:

[code]

I expect to reach the `GetReportsAsync()` method through [http://localhost:5001/api/Report](http://localhost:5001/api/Report) and reach the `GetLatestReportAsync()` method through [http://localhost:5001/api/Report/Latest](http://localhost:5001/api/Report/Latest).
However, that only works if I change the attribute of

[2020-04-04 18:57] nadjibus commented on #20541
It's not an issue. You need to read more about routing in ASP.NET Core. Your action needs to be named Index or Get, or you need to specify an empty route (via `[HttpGet("")]` or `[Route("")]`)

[2020-04-04 19:05] nadjibus commented on #20322
This would be awesome!

[2020-04-04 19:06] chuckgiddens commented on #20243
I have the same issue.  The Blazor CLIENT will not debug but the Blazor SERVER project will hit the break points.

[2020-04-04 19:15] chuckgiddens commented on #20243
I cannot get break points to hit on the CLIENT project but it works on the SERVER project.  How do I fix this?  I have updated all PREVIEW Nuget Packages

[2020-04-04 19:20] urza opened #20542 "AddRazorRuntimeCompilation suddenly stopped working in asp.net core 3.1 and Visual Studio 16.5.2"
I have asp.net core 3.0 mvc app, with this in Startup.cs:
[code]
 It was working fine until I updated Visual Studio to lastest version:

Microsoft Visual Studio Community 2019
Version 16.5.2
VisualStudio.16.Release/16.5.2+29926.136
Microsoft .NET Framework
Version 4.8.03752

Now when building the solution I got this exception:

**Error	CS1061	'IMvcBuilder' does not contain a definition for 'AddRaz

[2020-04-04 19:27] BrunoBlanes commented on #20541
Ok, thanks, I will. I thought that `[HttpGet]` and `[HttpGet("")]` were supposed to do the same thing.

[2020-04-04 20:34] ahsteele commented on #2688
Any chance of this getting worked on anytime soon?

[2020-04-04 20:47] barahonajm commented on #20361
There are a bunch of strange things around the type="date":

1.- The `onchange` event is fired every time the date changes and not when the input loses focus
2.- As stated here https://html.spec.whatwg.org/multipage/input.html#date-state-(type%3Ddate)

for that reason `e.target.value` return an empty string, that is the reason because `EventCallbackFactoryBinderExtensions:525`  thinks the user cle

[2020-04-04 20:49] snapfisher commented on #20539
I realized I had a typo in the above description.  The scope is "user_impersonation", not "user_impression", but you still get the same behavior as described.

[2020-04-04 20:56] benaadams commented on #20518
Looks like it might be worth a go
Change in method start to `ParseRequestLine`
[code]
Change in calling `OnStartLine` in  `ParseRequestLine`
[code]

[2020-04-04 21:00] orkunweb commented on #20542
I also have the same problem. It suddenly stopped working in .net core 3.1. There isn't any error in my application. When I request the updated page, browser doesn't response.

I tried many things but it doesn't improve.

(I use Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation package 3.1.3 version)

[2020-04-04 21:14] Joelius300 commented on #20525
I've created a simple example you can use to reproduce the issue. I just modified the client side blazor template (latest preview).

Index.razor
[code]

script.js (reference it in index.html)
[code]

ExampleInterop.cs
[code]

As you can see, pressing any of the two buttons causes an error which is displayed in the textarea. It's the same error and it says something along the lines of `TypeError: c

[2020-04-04 21:55] snapfisher commented on #20539
This should possibly be a separate issue, but in trying to work around the problem, I noticed that this will not work either.

            string keyVaultName = "https://xxx.vault.azure.net";
            var client = new SecretClient(new Uri(keyVaultName), new ClientSecretCredential("72f988bf-86f1-41af-91ab-2d7cd011dxxx", "93d053a6-718a-4219-9674-cc5c5adfaxxx", "xxx"));
            KeyVaultSecret

[2020-04-04 23:22] rynowak commented on #20489
The answer from @javiercn is correct. The best thing for now is to revert to the old routing system. We'll be adding a feature in 5 that allows you to have more control over how ambient values behave.

[2020-04-04 23:33] davidfowl commented on #20460
[code]

[2020-04-04 23:34] davidfowl commented on #20460
https://github.com/dotnet/aspnetcore/pull/20533/checks?check_run_id=559654567

[2020-04-05 01:47] Tratcher commented on #20534
It looks like ngrok is a diagnostics tool? Can you export a trace of the network traffic to share? These kinds of tools sometimes don't fully support cookies the same way that a browser would.

[2020-04-05 01:53] zeeshanejaz commented on #19552
**Software name**: Avast Antivirus
**Version**: 20.1.2397 (build 20.1.5069.562)
**Website**: https://avast.com
**Context**: Blazor webassembly apps are blocked with an error message "We have safely aborted connected with https://website.com because it was infected with DRep". Investigating this error has lead to a "domain reputation" issue. Since my domain is new and is not used by many people, it

[2020-04-05 02:21] Tratcher commented on #20540
The 404 is the exception handler trying to redirect to `/Home/Error` which doesn't seem to exist in this app.

The actual exception reported in the logs is:
[code]
Which matches https://github.com/dotnet/aspnetcore/issues/20100 (closed as stale). There wasn't enough information before to debug it, but it looks like we have more now...

When you're doing this authentication are you using the machin

[2020-04-05 05:03] jan-johansson-mr commented on #20288
Hi, I've done the same observation as you guys.

[2020-04-05 06:37] valeriob commented on #20489
Hi @rynowak ,
by "more control" can we imply that we'll be able to specify a global ambient parameter in routing with this pattern like before "/CustomValue/{globalAmbientValue}/{controller}/{action}" ?
Thanks for sharing the roadmap, i'll keep a close eye to net5 :D

[2020-04-05 06:53] Yustos commented on #20540
Hi, Chris!
"When you're doing this authentication are you using the machine's fully qualified active directory name?" - yes. In client browser i used full server name http://example.com:5000/ and have auth error.
When i use browser on server - all urls variants works fine: http://localhost:5000, http://example:5000 and http://example.com:5000.

For clear - 404 is strange, but not a root trouble. P

[2020-04-05 07:34] MarkusRodler commented on #17036
@SteveSandersonMS But it would be nice that you don't have to download all assets on pwa update if you only changed one css file for example.
I think the best way to save the most of the bandwith would be to generate hashed Urls (I mean the hash inside the path of the url or in the query string) and serving the "immutable" files with a long Cache-Control: max-age. With this approach only the modif

[2020-04-05 08:08] eunminlee opened #20549 "error Microsoft.AspNetCore.Blazor.HttpClient"
### Describe the bug
A clear and concise description of what the bug is.
I'm using docker:
FROM mcr.microsoft.com/dotnet/core/sdk:3.1 AS build
WORKDIR /work
COPY . .

FROM build AS publish
WORKDIR /work/Server
RUN dotnet publish -c Debug -o /app

my app is the default template of blazor webassembly with hosted and auth Individual

| Error:
|   An assembly specified in the application dependencies

[2020-04-05 08:18] Yustos commented on #20540
Okay, i am collected fiddler logs for powershell with UseDefaultCredentials calls (HTTP-bodies excluded, tokens shortened).
Success with HTTP.SYS:
[success_http_sys.txt](https://github.com/dotnet/aspnetcore/files/4433140/success_http_sys.txt)

Fail with Kestrel negotiate:
[fail_kestrel_negotiate.txt](https://github.com/dotnet/aspnetcore/files/4433143/fail_kestrel_negotiate.txt)

I am not an Active

[2020-04-05 09:47] MarkusRodler opened #20550 "Add additional file-types into service-worker for offline caching"
https://github.com/dotnet/aspnetcore/blob/fd9c7861655f368848ede4661b183098690aabad/src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/service-worker.published.js#L11

At the moment I think some important types are missing that should be cached by default.
.svg
.webp
Various font types. Maybe .woff2 is sufficient.

[2020-04-05 09:49] MarkusRodler commented on #20550
I can make an PR if this feature is helpful for everyone.

[2020-04-05 11:00] #20535 closed

[2020-04-05 11:13] Jasdo opened #20551 "IFeatureCollection has been disposed when trying to access HttpContext.Request.Headers"
### Steps to reprodce

1. Create a simple **API** ASP.NET Core 3.1 Web Application using Visual Studio 2019 template.
2. In the handler method, add access to _HttpContext.Request.Headers_.
3. Create a REST client that sends many requests simultaneously.

The result is that eventually, a System.ObjectDisposedException will be thrown upon accessing _HttpContext.Request.Headers_.

### Startup code

[

[2020-04-05 11:19] javiercn commented on #20550
@MarkusRodler thanks for contacting us.

The service worker is provided in the template so that you can customize these things. We will take your request into consideration, but our aim is not to try and cover every possible file and instead recommend people that they modify the service worker. That's the main reason it is a file on the template.

[2020-04-05 12:12] wjvii commented on #20534
@Tratcher, yes ngrok is tool to create public Urls for your development machine. My app needed a webhook and so I was trying that and found that despite thinking I had it all setup up correctly I could not authenticate through the public Url.

https://ngrok.com/ for more information on the tool.

I feel sure you are on the right path and some articles I read talked about the same site cookies, etc

[2020-04-05 12:14] NikolayIT opened #20552 "Removing Microsoft.AspNetCore.Blazor.HttpClient package causes fatal error in Mono IL Linker"
### Describe the bug

I am writing a demo project using _Blazor WebAssembly 3.2.0 Preview 3_ (The source code is located on https://github.com/NikolayIT/MusicX)

When I remove the `Microsoft.AspNetCore.Blazor.HttpClient` reference from my Blazor WebAssembly project and try to **publish** I get the following error (when I build and run locally the application everything is OK):

[code]

### Further

[2020-04-05 12:22] thomasclaudiushuber opened #20553 "Blazor Question: Order/Index of ChildComponents rendered via ChildContent/RenderFragment"
This is not an issue, but a question. (Repro is at the end of this post)
I came across this when I tried to wrap a few JavaScript components in Blazor.

Let's say I've created a component like this:

[code]

The ListItem has no UI, it's just a subclass of ComponentBase that get's the parent List via CascadingParameter.

Now I tried to do something like this:

[code]

This works. I only have the pr

[2020-04-05 12:42] Franklin89 commented on #19796
Just in case for anyone hosting their App behind **Cloudflare** this issue can also be because you have Auto Minify enabled. By default Cloudflare will Auto Minify JavaScript files when caching them, which also means to remove all the comments etc. Since MS is code signing their JS files, that leaves a Signature Block at the bottom of the JS file, which will be stripped in the Auto Minification pr

[2020-04-05 12:47] SteffenMangold commented on #18387
Please @HaoK , I think this issue needs to be reopened.
The extension 'Microsoft.AspNetCore.DataProtection.EntityFrameworkCore` creates exactly the same problem!
![image](https://user-images.githubusercontent.com/20702171/78498595-8c667980-774b-11ea-8a5a-0add3dc70332.png)
First, there is no replacement for
`Microsoft.AspNetCore.DataProtection.EntityFrameworkCore`
or the dependency of it
`Microsoft

[2020-04-05 14:28] KamranShahid commented on #19859
Not using this for new things. There were some old existing items whose keys were with underscore.  But what i remember with default json parser as newtonsoft i never experience this.

[2020-04-05 15:46] Tratcher commented on #20534
Fiddler is a good trace too. Make sure to set the decryption option.

[2020-04-05 16:38] xuanyuan5005 opened #20554 "Can learn form dotnetty? (Handles protocols and TCP long connections)"
Can learn form dotnetty? (Handles protocols and TCP long connections)
eg:
     1,Receiving data processing
     2, protocol processing,like dotnetty
        https://github.com/Azure/DotNetty/blob/dev/src/DotNetty.Codecs/LengthFieldPrepender.cs
     3,ping message when there is no outbound traffic
        https://github.com/Azure/DotNetty/blob/dev/src/DotNetty.Handlers/Timeout/IdleStateHandler.cs

[2020-04-05 16:50] fabianschurz opened #20555 "Blazor file input click not working in firefox"
### Describe the bug
Trigger a click event via Javascript on an input element of type file is not working.
When searching the web for my problem i found [this](https://stackoverflow.com/questions/59838150/blazor-file-input-click-not-working-in-firefox) stackoverflow thread. I already opened an issue here #20228 but it was closed with the reason: "Firefox security issue" which is not right.

### To

[2020-04-05 17:09] davidfowl commented on #20554
This isn't really relevant for ASP.NET Core itself. See https://github.com/dotnet/runtime/issues/1793 and https://github.com/davidfowl/bedrockframework

[2020-04-05 17:50] mrpmorris commented on #19796
How about using the DLL hash for embedded JS rather than the JS itself?

[2020-04-05 17:57] Franklin89 commented on #19796
@mrpmorris In my opinion that would not really make sense. The 'integrity' hash checks the integrity of the js file. So you cant just take the dll hash. You need to hash the content of the file to make sure nothing has "changed".

[2020-04-05 18:28] DianaMounir opened #20618 "changing id in the edit form modifies also the path variable with the invalid id"
# changing id in the edit form modifies also the path variable with the invalid id

# General

when using default scaffolding for a model with the CRUB operations
it generates the following code for the edit operation
[code]
and we modify manually from the inspect element the id from 1 to 2 eg
[code]

it sees the following request

Request URL: https://localhost:44388/Movies/Edit/1
Request Method:

[2020-04-05 19:15] hultqvist commented on #17036
Will the current solution work when hosting the app on a CDN?

How does the blazor boot handle the case where the CDN still delivers the old content for some of the paths?
If the service worker does hash validation it can only note that the files are wrong, it can't recover until all files are updated in the cache which could be 15 minutes.

If a third-party tool would generate hashes for the file

[2020-04-05 19:15] clintnetwork opened #20556 "[Blazor] Give password reset token as query string"
Hi,

I try to make a page named `/reset` and pass the reset token as a query string, by this way:
[code]

Because there are some slashes in the token the route is not recognized, I had to replace slashes by underscores.

Kind regards

[2020-04-05 20:18] GrabYourPitchforks commented on #20556
Is it the slash (`'/'`) or the plus sign (`'+'`) that's causing problems? The plus sign has special meaning in query strings, as most frameworks interpret it as a space character rather than a literal plus sign.

Usually the way people work around this is by using _base64url_ encoding rather than standard base64 encoding when generating tokens that will end up in URLs.

[2020-04-05 21:15] rpedretti opened #20560 "Cannot use @on{EVENT}:stopPropagation with @on{Event} on custom component"
### Is your feature request related to a problem? Please describe.
This feature relates to https://github.com/dotnet/aspnetcore/issues/18460 where I'm building a custom styled component and want to keep all features for a simple tag, eg:
[code]
where, `@boxClass` is generated somewhere else. All attributes works except the `@on{EVENT}` in combination with `@on{EVENT}:stopPropagation` and/or `@on{E

[2020-04-05 21:48] javiercn commented on #20556
@clintnetwork thanks for contacting us.

@GrabYourPitchforks answer is correct

[2020-04-05 22:23] clintnetwork commented on #20556
Oh yeah it's maybe space

[2020-04-05 22:39] SomeProgrammerGuy commented on #20403
I've had a spare hour this evening to try the code @Tratcher posted and it works great.

As to the intercepting the 404's I created a simple custom middleware that though I havn't exactly tested in anger seems to do the job.

As below:

[code]

Although I think these should be an easy config option I must admit the fixes where very clean and well within the spirit of ASP.NET Core, nor did they req

[2020-04-05 22:40] Lupusa87 commented on #20535
@javiercn Thank you, it helped.

[2020-04-05 22:43] eunminlee commented on #20549
My bad. It was just a IdentityServer setting issue.
Solved.

[2020-04-05 22:43] #20549 closed

[2020-04-06 01:39] benhysell commented on #20483
I was able to get access to the configuration while setting up https://github.com/sounj142/HLSoft.BlazorWebAssembly.Authentication.OpenIdConnect

in Program.cs

[code]

[2020-04-06 05:00] alexfdezsauco opened #20563 "Blazor is recycling component instead create new one in a loop with "Lazy" rendering"
### Describe the bug

I have a particular an implementation of a Table and Tab components. https://github.com/WildGums/Blorc.PatternFly. That works well so far but when I mixed to work together something strange happened.
I have a kind of lazy rendering approach, to actually render the content of the tab. But in the specific case of the Table usage, Blazor started to recycling component instead cr

[2020-04-06 06:39] FlySpray316 commented on #20232
Found this worked for me to fix this issue...

Go to startup project (usually 'Server' for Web Assembly projects).
Right Click -> Properties -> un-tick 'Launch Browser'.
Start the Web Browser and navigate to your LocalHost url.

all done.

[2020-04-06 08:03] TecumStricto commented on #17516
I can just confirm it.
After upgrade to VS to 16.5.2, during debug using IIS Express, Using .net core 3.1.3. and Blazor.
I see this error a lot.
Sometimes debug starts, but sometimes not, let's say it on 5 starts there is 1 exception.
It's quite anoyoing.

[2020-04-06 08:06] deanmccrae commented on #11584
@mkArtakMSFT How is a bug this fundamental taking 10 months to be scheduled for a fix (and as of now, not yet fixed)?

[2020-04-06 08:07] KamranShahid opened #20566 "IHostBuilder not working while IWebHostBuilder in Linux in aspnet core 3.1 web api application"
I have .net core web api project. I am running my application in both Windows and Linux

Problem is My application get starts and works in both linux and windows with IWebHostBuilder while equivalent(what i think so) code for using IHostBuilder didn't start my application in linux.

Please somebody give idea what wrong i am doing

Following currently works

[code]
Following doesn't works in linux

[2020-04-06 08:12] dazinator opened #20567 "Blazor Wasm hosted, ReferenceOutputAssembly false and AuthenticationService.js"
Accroding to this blog:

https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-2-release-now-available/

Its now possible for the blazor host, to set the project reference to the blazor client to not reference the output assembly e.g here is the project reference in my host csproj file:

[code]
Because the client is just a "bunch of static files".

However the client wasm (when us

[2020-04-06 08:27] alsami commented on #11584
You know you can use that custom model-binder provided by @DamianEdwards above and register it globally, right? Pretty easy work around and has been working solid for me for the past ~8 months.

[2020-04-06 08:30] Githamza opened #20568 "Azure function CORS configuration with SignalR Service not working"
I'm trying to connect to SignalR Service Azure function from a react front end.

In front

[code]

In Azure function I allow `CORS` in `local.setting.json`

[code]
But when I run my app a request is triggered to `http://localhost:7071/api/negotiate?negotiateVersion=1` ( I don't know why `HubConnectionBuilder()` is adding `negotiateVersion=1`

The problem is that I'm getting `Cors` error even after

[2020-04-06 08:35] deanmccrae commented on #11584
@alsami Yes, the work around is fine, thank you. But my questions still stands.

[2020-04-06 08:47] burakakca commented on #20550
How can I edit the service worker, I couldn't find it. Will it be available with the next update?

[2020-04-06 08:49] MarkusRodler commented on #20550
You can find it in the service-worker.published.js file inside the wwwroot. But only if you installed the PWA Template via the --pwa command-line option

[2020-04-06 09:35] Ian1971 commented on #18387
I got around it by decompiling the classes and hosting a copy of them with the bug addressed. It wasn't too bad. I can share if you want.

[2020-04-06 09:45] SteveSandersonMS commented on #20430
Thanks for reporting this, @IIStevowII!

This was fixed in https://github.com/mono/mono/pull/19420.

[2020-04-06 09:45] #20430 closed

[2020-04-06 09:53] #20276 closed

[2020-04-06 09:55] javiercn commented on #20567
@dazinator thanks for contacting us.

I think that adding the dependency directly on the host and marking it to `ReferenceOutputAssembly=false` should do the trick. I imagine that what's going on is that the transitive references are not being picked up by the host project when `ReferenceOutputAssembly=false` and they need to be added explicitly.

[2020-04-06 10:01] javiercn commented on #20563
@alexfdezsauco thanks for contacting us.

It is not a bug, "recycling" components is the default behavior by design to avoid excessive garbage collection. In your use case, I think you are looking for something like [key](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#use-key-to-control-the-preservation-of-elements-and-components) to make it work.

Blazor will d

[2020-04-06 10:10] guardrex opened #20569 "Copy target required to provide custom Blazor WASM web.config"
### Is your feature request related to a problem? Please describe.

Replace the *web.config* that Blazor WebAssembly publish produces in order to supply a custom file.

### Describe the solution you'd like

Use the normal approach:

1. Place a custom *web.config* at the root of the project.
1. Use the `<IsWebConfigTransformDisabled>` property in the project file.

It works for the *web.config* pla

[2020-04-06 10:50] javiercn commented on #20569
Thanks luke,

I don't think we do anything in the hosted case. That is likely something VS/Publishing is doing already.

For the standalone case we do unconditionally generate a web.config file, we should change this to detect if you have one in your project root folder and avoid doing anything.

[2020-04-06 10:53] guardrex commented on #20569
Should we accept the current behavior as it is for hosted/Server (i.e., don't open an SDK issue and keep documentation to cover it), or should I open an SDK issue for that aspect?

[2020-04-06 10:55] guardrex commented on #20569
I better double-check the Server scenario. I have a feeling that I didn't copy over the tranform disable. I'll double-check that.

[2020-04-06 11:09] TPIvan opened #20570 "Rendering a component: An injected scopeded instance differs from the one from RequestServices"
### Describe the bug
When I configure a service for being injected with scoped lifetime (`.AddScoped`), the instance which is injected to a component field is different from the instance which can be obtained by calling `HttpContext.RequestServices.GetService`. The problem occurs in _blazor-server_ (`services.AddServerSideBlazor();`) when rendering a component (`render-mode="Server"` or second pas

[2020-04-06 11:20] benhysell commented on #20483
Looks like this is also being tracked over here: https://github.com/dotnet/aspnetcore/issues/20231

[2020-04-06 11:55] javiercn commented on #20570
@TPIvan thanks for contacting us.

That's by design. Circuits create their own scope when they are initialized and that scope is not shared with the request scope.

[2020-04-06 11:57] javiercn commented on #20569
https://github.com/dotnet/aspnetcore/issues/20490

We already got a report for this, so I'm closing this issue in favor of the one I just referenced. Feel free to add details on that one.

[2020-04-06 11:57] #20569 closed

[2020-04-06 11:58] javiercn commented on #20560
`@on{EVENT}:stopPropagation` are not attributes, they are directives, so it is impossible for us to make that work (afaik).

@SteveSandersonMS can correct me if I'm wrong or suggest alternative approaches.

[2020-04-06 12:01] javiercn commented on #20555
@xFirestorm thanks for contacting us.

we'll take another look at this and get back to you.

[2020-04-06 12:02] javiercn commented on #20556
Closing for now since this is not blazor specific

[2020-04-06 12:02] #20556 closed

[2020-04-06 12:03] adamsitnik commented on #20518
I am adding some details about where the time is spent exactly:

![obraz](https://user-images.githubusercontent.com/6011991/78556234-e54b1600-780e-11ea-82ed-1bbbb4155441.png)

[2020-04-06 12:04] javiercn commented on #20534
@Tratcher I'm passing this to security since there's nothing Blazor specific here. (Authentication always happens before server-side Blazor apps start and uses the regular auth middleware).

[2020-04-06 12:05] guardrex commented on #20490
Recommend adopting the same behavior [i.e., honor the dev's `<IsWebConfigTransformDisabled>` (or passed value via CLI)].

For those needing a workaround, use ...

[code]

[2020-04-06 12:12] blowdart commented on #20565
OK, we'll start from the beginning.

- When you run your app a console window should open, does that happen?

If it does not there are a couple of things to look for
- Can you look at the Visual Studio toolbar, and look beside the run button; does it say IIS Express or does it say your project name?

![Annotation 2020-04-06 050736](https://user-images.githubusercontent.com/796298/78556849-937d9e00

[2020-04-06 12:27] TPIvan commented on #20570
Is that mentioned somewhere in documentation? If not it should be because it is at least a bit surprising.

**Is there a singleton service which allows to obtain instances in the circuit scope?**  The scenario is a need to obtain scoped instance in a singleton class (like in [Using Scoped dependencies in Singletons in ASP.NET Core](http://morgwai.pl/articles/aspdi.html)). The instance obtained thr

[2020-04-06 12:33] benaadams commented on #20518
Think I can drop the `Contains` call from `ParseHeaders`

[2020-04-06 12:34] kim3ds commented on #20502
@Tratcher
I have this code:

[code]
But I get the error: "No authenticationScheme was specified, and there was no DefaultChallengeScheme found. The default schemes can be set using either AddAuthentication(string defaultScheme) or AddAuthentication(Action configureOptions)." What I need to do yet?

[2020-04-06 12:56] dazinator commented on #20567
@javiercn - thanks, that worked.

[2020-04-06 12:56] #20567 closed

[2020-04-06 12:58] adamsitnik commented on #20518
I just looked at the current implementation and my first thought is: why do we iterate over a parser line so many times? And why do we use vectorized methods? Vectorization has an overhead and for small inputs, it very often means even worse performance. Are typical HTTP header names and values long? (sorry I am a web n00b).

First, we look for the line end which means iterating N elements:

https

[2020-04-06 13:00] AlexTeixeira opened #20572 "How to use letencrypt with blazor in Linux Web App"
Hello,

I'm trying to create enable SSL for my domain in Blazor Server App that is hosted in an azure Web App.

My issue is, that I'm not able to serve **/.well-known/** directory and subdirectories with my blazor app.

**Web App Information**

- B1 Linux web app
- Using .net core 3.1.0

**Static File Configuration**

Here my sample of code that should create and serve the folder.

[code]

**Other

[2020-04-06 13:09] hultqvist opened #20573 "Passing System.Drawing.Size as JSInterop return value in release mode"
### Describe the bug
A return value of a JSInterop call that is parsed as System.Drawing.Size is not correctly serialized in Release mode.

### To Reproduce

[code]

[code]

### Debug mode

[code]

### Release mode

[code]

### Further technical details
- ASP.NET Core version: 3.2.0-preview2.20160.5
- The IDE: Visual Studio 16.5.2

[code]

[2020-04-06 13:13] benaadams commented on #20518
`Cookie` is often 1Kb+; `User-agent` is 200+ bytes; `authorization` is 100+ bytes etc

Looking to do that in https://github.com/dotnet/aspnetcore/pull/20562 while also moving to safe code e.g. https://github.com/dotnet/aspnetcore/blob/ca806df85fac30201fdc793502c5e8149e6d5e07/src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs#L308-L365

Currently working on dropping the `headerLine.Contains(B

[2020-04-06 13:31] Joelius300 commented on #20525
My initial write up was rather confusing, I'm sorry. I should've included samples etc. I have now edited the original issue and also added code to reproduce in a separate comment.

@javiercn could you take a look at it again?
If anything is still unclear, just let me know :)

[2020-04-06 13:49] alexfdezsauco commented on #20563
Sorry, my mistake. I noticed the behavior and tried with component "id", but exactly @key is the solution. Great!

[2020-04-06 13:49] #20563 closed

[2020-04-06 13:50] mkArtakMSFT commented on #20572
Thanks for contacting us, @AlexTeixeira.
@javiercn I think this is somehow related to static assets, isn't it? Can you please take a look Thanks!

[2020-04-06 14:17] javiercn commented on #20572
@AlexTeixeira thanks for contacting us.

There's nothing specific about Blazor here. I would suggest you start with making a regular web application work and then add Blazor.

You should be able to use your middleware provided you put it before `UseStaticFiles` and that your code is correct.

[2020-04-06 14:49] javiercn commented on #20573
@hultqvist thanks for contacting us.

You probably need to configure the linker appropriately. See [here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/configure-linker?view=aspnetcore-3.1#control-linking-with-a-configuration-file) for details.

If that doesn't fix your issue, I would suggest you file an issue in the [mono/mono](https://github.com/mono/mono) repository as the

[2020-04-06 15:00] AshTappin commented on #20002
I am trying to get my app working with AzureADB2C using Auth Code flow but I get the same error as Paul: ` Microsoft.IdentityModel.Protocols.OpenIdConnect.OpenIdConnectProtocolException: IDX21336: Both 'id_token' and 'access_token' should be present in OpenIdConnectProtocolValidationContext.ProtocolMessage received from Token Endpoint. Cannot process the message.`

Please could this issue be re-op

[2020-04-06 15:03] javiercn commented on #20514
This is just the names clashing. The generated code should refer to types using `global::` to be more precise.

[2020-04-06 15:04] #20491 closed

[2020-04-06 15:29] #19644 closed

[2020-04-06 15:36] StPaulis opened #20574 "[Blazor][Wasm] Set oidc Authentication Options in local storage"
### Packages Version="3.2.0-preview3.20168.3"
I have just implemented the oidc authentication in a Client Side Blazor application according to the  [documentation](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/?view=aspnetcore-3.1).

#### Problem
The problem is that the oidc response is saved in the session storage by default and I haven't find a way to configure it.

##

[2020-04-06 15:43] blowdart commented on #20574
Why do think it's a problem to have it in session? Putting tokens in local storage can expose your token to more risk.

[2020-04-06 15:43] klanglie commented on #17516
This happens to me as well. context becomes null for some reason.

at Microsoft.AspNetCore.Server.IIS.Core.IISHttpServer.OnDisconnect

![image](https://user-images.githubusercontent.com/13773413/78577252-cd1dcb80-77fb-11ea-9b2e-3d1046cff8d0.png)

[2020-04-06 15:45] benaadams commented on #20518
@adamsitnik your suggestions on header parsing are looking good; this is with converting it to be "safe"
[code]

[2020-04-06 15:45] StPaulis commented on #20574
Because while in session, I have to authenticate every time I open a new tab, and I would like to have the option to keep it in local storage for some applications

[2020-04-06 15:58] pranavkm commented on #20542
Would you mind sharing a minimal repo app? I just tried this out and it seemed to be working fine.

[2020-04-06 16:04] #20492 closed

[2020-04-06 16:09] captainsafia commented on #20504
Thanks for the additional info, @njannink.

There have been a few changes to logging code between the preview2 and preview3 release and there's some more changes that will be shipped in preview4.

I'd suggest that we keep this open and see if this issue reproduces in preview4. I don't believe it should as we've got a end-to-end test that adds a logger and sets the minimum logging level [in master

[2020-04-06 16:11] #18951 closed

[2020-04-06 16:22] javiercn opened #20575 "[Blazor] API review follow ups"
* Provide an additional parameter to automatically redirect, default to false, pass true on template
* Rename UserFactory -> AccountClaimsPrincipalFactory
* Explore using a message handler for HttpClient to get and attach the token to outgoing requests.

[2020-04-06 16:22] mkArtakMSFT commented on #20553
Thanks for contacting us. This should help: https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#use-key-to-control-the-preservation-of-elements-and-components

[2020-04-06 16:22] #20553 closed

[2020-04-06 16:23] yudielcurbelo commented on #20231
This is working for me in the meantime.

[2020-04-06 16:33] Tratcher commented on #20002
That error message is very strange. I'm going to re-open this until we at least understand it.

[2020-04-06 16:36] mkArtakMSFT opened #20576 "Document that circular references are not supported in JS"

[2020-04-06 16:39] davidfowl opened #20577 "Flakiness caused by lack of retries"
Seems like we don't retry downloads which can load to flakyness when they fail (and they do quite often see https://github.com/dotnet/aspnetcore/pull/20561#issuecomment-609841197).

@dougbu also thinks this is a general problem with the scripts that we have under eng/*.

[2020-04-06 16:40] njannink commented on #20504
For the moment as workaround I added my own logging provider + logger inspired on the https://github.com/BlazorExtensions/Logging project:

[code]

[code]

[code]

[2020-04-06 16:45] mkArtakMSFT commented on #20504
Closing this as we believe this is fixed. If you see any other issues after trying out 3.2-preview4, please file a new issue.

[2020-04-06 16:45] #20504 closed

[2020-04-06 16:53] njannink commented on #20504
Ok thanks. I don't see the preview4 in the nuget packages so I can't verify yet if it's resolved. When is the preview4 scheduled for release?

[2020-04-06 16:53] mkArtakMSFT commented on #20483
Thanks @benhysell, this is indeed a dupe of the referenced issue.

[2020-04-06 16:53] #20483 closed

[2020-04-06 16:59] Tratcher commented on #20540
Can you share the server logs for the 400 scenario?

Yes, SPNs are a strong requirement for Negotiate/Kerberos. When you run on the same machine it always defaults to NTLM which does not have the same SPN requirements. When it runs with HttpSys from a separate machine it's using kernel mode auth and the machine account which already has SPNs configured by default. When it's using Kestrel and user-

[2020-04-06 17:00] #20241 closed

[2020-04-06 17:01] Tratcher commented on #20540
The 404 is likely the same redirect to `/home/error` as before. The server logs would show that.

[2020-04-06 17:02] mkArtakMSFT commented on #20576
@guardrex can you please handle this? Need to make sure that this is documented in the JSInterop section.

[2020-04-06 17:03] xrkolovos commented on #20574
Maybe, it would also be nice if we can store it in a cookie, there are some scenarios(with files access) that is useful.

[2020-04-06 17:04] BrennanConroy commented on #20568
See https://docs.microsoft.com/aspnet/core/signalr/security?view=aspnetcore-3.1#cross-origin-resource-sharing

Specifically about "Credentials must be allowed". Also, according to the CORS spec, you can't use "*" for the origin if "Credentials" is true. So if Functions implements CORS correctly, you'll need to put "http://localhost:7071" instead of "*".

[2020-04-06 17:07] pranavkm commented on #20488
`reloadOnChange: true` creates a file system watcher. Having it off should disable the watcher. Runtime compilation doesn't have a way to turn off the file system watching.

[2020-04-06 17:31] dougbu commented on #20577
It's not just tests that are hurt here. A couple of the Windows jobs in https://dev.azure.com/dnceng/public/_build/results?buildId=590331 failed almost immediately due to https://nodejs.org flakiness.

[2020-04-06 17:34] pplavetzki opened #20583 "Error Compiling .proto file"
When using ```//``` for comments in the proto files, which is valid proto v3 syntax, code does not get generated or produces errors.  When using ```/* */``` syntax proto compiles correctly.

Using Grpc.Tools v2.28.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7223e694-85ba-4b95-96c8-68ae14753e7c
* Version Independen

[2020-04-06 17:37] AshTappin commented on #20002
Huzzah I figured out what it was. I wasn't providing a client ID in the `scopes` parameter so an access token wasn't being returned hence the message. Had tested this with Keycloak as well but I think keycloak adds the client Id to the scope by default.

[2020-04-06 17:51] Tratcher commented on #20002
Good to know, thanks.

[2020-04-06 17:51] #20002 closed

[2020-04-06 17:58] dazinator opened #20580 "Blazor static assets - conflicting assets with the same path"
Scenario is to do with hosting two (multiple) different blazor wasm client applications, from a single .net core host project, and serving the correct one up on the root "/" url.

Prior to Blazor 3.2 preview 2, a single host could chose to serve up different front end client wasm projects on the root path, based on some logic like this:

[code]

In this scenario, there are two blazor client wasm p

[2020-04-06 18:00] MichelJansson opened #20581 "[blazor-server] JsonException in custom JsonConverter fatal to circuit even if handled"
### Describe the bug
Throwing a `System.Text.Json.JsonException` inside a custom `JsonConverter<T>` as described in [the docs](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to?view=netcore-3.1#error-handling), breaks the circuit with the below browser error, even though the exception was catched by the method calling `JSRuntime.InvokeAsync<T>`, that

[2020-04-06 18:10] joeloff commented on #19536
@dreddy-work Does the HKCR\Installer\Products show anything for ASP.NET Core?

[2020-04-06 18:14] dreddy-work commented on #19536
No key with that string. but some guids has the product name for ASP.NET core. see following snapshot.
![image](https://user-images.githubusercontent.com/36968667/78591080-bd9c8380-77f7-11ea-9d3e-091977f87d89.png)

[2020-04-06 18:17] joeloff commented on #19536
And you don't see an InstallProperties listed for it when you expand it on the left. Below is an example from another install on my machine

![image](https://user-images.githubusercontent.com/7409981/78591414-3f8cac80-77f8-11ea-9f88-4080bc746e7b.png)

[2020-04-06 18:19] Yustos commented on #20540
I did test again and this was my false - 400/404 problem is valid when i use fiddler as proxy to client-side requests sniffing.
This command will produce 400/404 errors:
[code]

But this is stable 401:
[code]

Here is server log for 401 without proxy (single call):
[server.txt](https://github.com/dotnet/aspnetcore/files/4440081/server.txt)

Anyway, i can not use Kestrel negotiate with SPN's. I wan

[2020-04-06 18:21] dreddy-work commented on #19536
I was searching on string "ASP.NET Core" and it matched under multiple GUIDs. All of them has "SourceList" but not the "InstallProperties".

[2020-04-06 18:45] GisliSig commented on #17516
I have been having this issue all day, driving me nuts.

This started to happen after I updated Visual Studio to  version 16.5.2.
Project: Angular 9 SPA project with .net core 3.1
donet --version outputs 3.1.201

What eventually fixed it for me was installing .net core 3.1.3 runtime on my machine. Now I can't reproduce the error (was quite constant befure installing it)

[2020-04-06 18:56] thomasclaudiushuber commented on #20553
Hi @mkArtakMSFT, thanks. I know the @key attribute, but don't know how this should work in this case.

[2020-04-06 19:01] scottaddie commented on #20583
@JamesNK Is this a bug? According to https://developers.google.com/protocol-buffers/docs/proto3#adding-comments, `//` is supported.

[2020-04-06 19:18] pablofrommars commented on #18271
CultureInfo can interfere with SVG rendering, specifically which decimal separator is used. Probably quite tricky to handle, how to feed SVG properties (or CSS for that matter) with the expected number formatting while retaining Blazor ability to localize content? Important feature for full SVG support.

[2020-04-06 19:25] TanayParikh opened #20584 "Virtual C# file variable automatically added within @code block"
1. `dotnet new mvc`
1. Open `index.cshtml`
1. Type out:

[code]

**Expected:**
[code]

**Actual:**
[code]

the `__o` was automatically added after the `<` char was typed. This `__o` is a variable in the razor C# virtual file:

[code]

which shouldn't be showing up for the suggestions / autoreplacements.

[2020-04-06 19:47] jkotalik commented on #17516
Project: Angular 9 SPA project with .net core 3.1
donet --version outputs 3.1.201

This seems to be getting a huge uptick in hits over the past few days, specifically around 16.5.2.

I don't know necessarily know how the 3.1.3 runtime had a fix for this issue. There weren't any issues fixed in ANCM/IIS in 3.1.3. Can you continue to monitor to see if you rehit this issue?

[2020-04-06 19:57] Tratcher commented on #20488
So you'd have to disable runtime compilation?

[2020-04-06 20:00] #20229 closed

[2020-04-06 20:00] #18763 closed

[2020-04-06 20:54] JamesNK commented on #20583
`//` is definitely supported. That is the syntax I use for comments in proto files.

You should log issues about code generation at https://github.com/grpc/grpc. Grpc.Tools is maintained in that repository.

[2020-04-06 20:54] #20583 closed

[2020-04-06 20:56] Tratcher commented on #20551
Do you have the full stacktrace for the exception?

Is this on IIS or Kestrel? Seems like IIS.

If you observe and categorize the failures as shown by HttpClient, what's the breakdown that timeout, receive 500s, etc.? This may be related to the client timing out and disconnecting. Are there any more interesting failures reported by the client?

Also, how does it behave if you switch to HTTP/2?

[2020-04-06 21:06] pranavkm commented on #20488
@Tratcher it's an optional component in 3.x, not on by default. Having runtime compilation indicates you're interested in watching for file changes at runtime so it doesn't make sense for it have a feature that effectively makes it useless.

It's not clear that runtime compilation is at fault here. If it was, what might have been useful is if the file system entirely turned off watcher if it was c

[2020-04-06 21:13] anurse commented on #17516
Hey, can any folks on this thread check the file version of `iisexpress.exe` your app is using? It should be possible to find the path via Task Manager, when looking at the process that is running your app, then you can view the Properties for the exe itself in File Explorer to get the File Version Info. We have a suspicion that this may have actually been a change to IIS Express, rather than ASP.

[2020-04-06 21:14] anurse commented on #17516
@shirhatti did IIS Express update in VS 16.5?

[2020-04-06 21:15] GisliSig commented on #17516
I tried to reproduce this and sure enough, it came up again. I uninstalled "Microsoft ASP.NET Core 3.1.3 -  Shared Framework" that I installed today and when it was way easier to reproduce almost constantly.

[2020-04-06 21:15] anurse commented on #20518
Sounds like @benaadams is on the case ;).

[2020-04-06 21:17] anurse commented on #20551
Does it work if you remove this? I'm not sure Controllers are supposed to be singletons. (cc @rynowak)

[2020-04-06 21:18] #19449 closed

[2020-04-06 21:20] anurse commented on #20350
Moving this to runtime for now to help investigate a load issue with a runtime assembly (System.Net.Security).

[2020-04-06 21:21] TanayParikh commented on #18173
Note, per discussion, the `uri` provided into the current `tryApplyCodeActions` (https://github.com/dotnet/aspnetcore-tooling/commit/584aafdd321c34af17171806d9aff30b71b62b4c#diff-6c27f33b4510169ba1e1fc7bbc6c70f9R73) is not the correct URI for these purposes. We'll need to overhaul how we handle code actions / formatting to facilitate situations like these.

[2020-04-06 21:21] lxman opened #20585 "What's up with blazor.server.js"
### Describe the bug
I'm trying to develop with netcore3.1. In a fresh boilerplate blazor server app, there is a reference in ```_Host.cshtml``` to ```_framework/blazor.server.js```. Visual Studio highlights this reference and says that it cannot find it. Sure enough, ```_framework``` is not present under ```wwwroot``` in the project.
I did some digging on my system and found that under ```C:\User

[2020-04-06 21:21] jkotalik commented on #17516
It looks like IISExpress updated in VS 16.5.

To confirm, if you are running VS 16.4, this doesn't repro?

[2020-04-06 21:22] sgabler-solytic commented on #20457
We need to be able to build efficient queries according to our business logic, so running everything via the "user claims" table seems a bit messy and inefficient, whereas having separate tables seems a bit clearer. But maybe I'm missing something?

In any case, thank you for you answer. It seems that my question is probably a bit too broad, so I'll close this issue for now.

[2020-04-06 21:22] #20457 closed

[2020-04-06 21:31] #18772 closed

[2020-04-06 21:34] Tratcher commented on #6946
FYI this is much improved by https://github.com/dotnet/aspnetcore/pull/19268.
`.AddCookie<MemoryCacheTicketStore>((o, ticketStore) => o.SessionStore = ticketStore);`

[2020-04-06 21:43] Tratcher commented on #11208
This has been done thanks to @cado1982, bit I still need to write up a breaking change announcement for it.

[2020-04-06 21:51] SomeProgrammerGuy commented on #20403
Thankyou for the feedback @Tratcher. I havn't used .NET Core in anger yet but before I go and do some reading on the above this evening can I just verify what you are saying with the following code.

Core 3.1x

Razor Pages and API (probably).

Cookie authentication (as built in) (Custom database *stuff* not shown).

Everything from the root \ up Authenticated (Authorised) except the sign in page i

[2020-04-06 21:52] kevinchalet commented on #6946
@Tratcher it only works with singleton services, right?

[2020-04-06 22:00] #20209 closed

[2020-04-06 22:24] Tratcher commented on #6946
Correct, but a singleton can inject the IServiceProvider and create its own scope.

[2020-04-06 22:30] carlin-q-scott opened #20588 "generate minlength attribute for input tag-helper"
### Describe the solution you'd like
I want the input tag-helper to use the browser built-in constraint attribute `minlength` when I set the MinLengthAttribute, or StringLength(Minimum) on a model property.

### Additional context
The MaxLengthAttribute and StringLength data model attributes generate the corresponding `maxlength` constraint attribute.

[2020-04-06 22:33] kevinchalet commented on #6946
Interesting. Why not adding a `SessionStoreType` property like what we did for `EventsType`? It works amazingly well.

[2020-04-06 22:44] #20550 closed

[2020-04-06 22:47] javiercn commented on #20574
@StPaulis thanks for contacting us. As @blowdart mentions it, we chose session storage because it limits the exposure of the token.

In preview4 we will authenticate the user when the app starts, so you won't have to actively authenticate every time, since after you've done it the first time, it will happen silently and automatically for the rest of the apps when you open a new tab.

[2020-04-06 22:51] Tratcher commented on #6946
We can, but it's never become a priority. The new extensions are a general feature for a general problem.

[2020-04-06 22:53] javiercn commented on #20288
Hi, in general it is recommended that you pass in all the scopes during the initial sign in (which is what DefaultAccessToken scopes is for) as otherwise you are going to need to handle redirects and so on in your app, which is not a great experience.

The main reason `public virtual async ValueTask<AccessTokenResult> RequestAccessToken(AccessTokenRequestOptions options)` is for AAD scenarios, bec

[2020-04-06 22:54] javiercn commented on #20511
@SteveSandersonMS closing this since it is the known debugger issue. Can you link that issue here? I'm not able to find it.

[2020-04-06 22:54] #20511 closed

[2020-04-06 22:57] javiercn commented on #20539
@snapfisher blazor webassembly runs in the context of the browser, so i don't think `        var client = new SecretClient(new Uri(keyVaultName), new ClientSecretCredential("72f988bf-86f1-41af-91ab-2d7cd011dxxx", "93d053a6-718a-4219-9674-cc5c5adfaxxx", "xxx"));` and so on is going to work.

[2020-04-06 22:59] javiercn commented on #20539
@snapfisher

I'm not sure this is supported by msal.js even if it just happens to work. What I can say is that this is not an scenario we currently support, you need an app that is properly registered to use our package, as that's the scenario we are targetting.

[2020-04-06 23:00] #19966 closed

[2020-04-06 23:01] #19292 closed

[2020-04-06 23:03] javiercn commented on #19053
Closing since I did this as part of the auth improvements

[2020-04-06 23:03] #19053 closed

[2020-04-06 23:06] #17015 closed

[2020-04-06 23:22] ajaybhargavb opened #20590 "<text> tag intellisense doesn't show up in the middle of typing text tag"
Open Counter.cs and try typing,

![Screen-Recording-2020-04-06-at-4](https://user-images.githubusercontent.com/1579269/78614146-9909d100-7822-11ea-8d88-6305698b26dd.gif)

Note it doesn't work correctly at the first block whereas it works as expected in the second block.

[2020-04-06 23:22] ajaybhargavb commented on #20157
Filed https://github.com/dotnet/aspnetcore/issues/20590

[2020-04-06 23:26] ryanbrandenburg opened #20592 "VSCode TextMate Grammar edge case"
While doing my verification I ran into a case where textmate seems to have gone off the rails:
![textmate](https://user-images.githubusercontent.com/14987221/78614270-f9007780-7822-11ea-8231-3da459420e47.PNG)

Repo steps:
1. dotnet new blazorserver
1. Open NavMenu.razor
1. Edit until it looks like:
[code]
Note that `class Bar: Foo{}` is miscolored.

[2020-04-06 23:28] ryanbrandenburg commented on #20592
@NTaylorMullen FYI for textmate.

[2020-04-06 23:28] ryanbrandenburg commented on #20155
https://github.com/dotnet/aspnetcore/issues/20592.

[2020-04-06 23:28] ryanbrandenburg commented on #20155
@TanayParikh is investigating an issue with `<text>`

[2020-04-06 23:29] DanielRoberts21 commented on #17516
@anurse IIS version I am running is 10.0.18362.1

[2020-04-06 23:30] GisliSig commented on #17516
@jkotalik I tried on my home station to reproduce this bug, Had installed Visual Studio version 16.4.4. Did not manage to reproduce this bug with the same project as on my work station.
Upgraded to 16.5.2 and managed to reproduce it once.

Went back on my work station, I uninstalled and did a fresh install.
I did notice in the debug window that there were a lot of TaskCanceledException appearing.

[2020-04-06 23:36] #20157 closed

[2020-04-06 23:40] NTaylorMullen commented on #20592
Duplicate of https://github.com/dotnet/aspnetcore/issues/18864

[2020-04-06 23:40] #20592 closed

[2020-04-06 23:45] #20159 closed

[2020-04-06 23:48] #20155 closed

[2020-04-06 23:54] TanayParikh commented on #20156
LGTM.

No network share available so I've skipped https://github.com/dotnet/aspnetcore/issues/14317.

[2020-04-06 23:54] #20156 closed

[2020-04-07 00:09] ajaybhargavb opened #20594 "Razor code commenting VS LSP"
VSCode automatically surrounds Razor code with `@* *@` when pressing Ctrl K + Ctrl C but this currently doesn't happen in VS LSP world.

[2020-04-07 00:09] ajaybhargavb commented on #20594
@NTaylorMullen I think we should do this as part of our polish. The experience is not that great without this.

[2020-04-07 00:10] ajaybhargavb commented on #19913
This is now being tracked [here](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1093999).

[2020-04-07 00:10] #19913 closed

[2020-04-07 00:45] GrabYourPitchforks commented on #20518
The `if (ch == ByteTab || ch == ByteSpace || ch == ByteCR)` check could be gated via `if (ch <= 0x20 && (ch == ByteTab || ch == ByteSpace || ch == ByteCR /* rearrange these in order of likelihood */))`. That way you only have one jump in the common case of A-Za-z.

[2020-04-07 00:59] snapfisher commented on #20539
I understand.  These were just two things I tried to work around the issue.

Although, I don't actually understand why the browser can't generate a ClientSecretCredential given all the pieces, but if it can't, it can't.  Once the main issue is resolved, resolving this would not be important.  Thx.

[2020-04-07 01:34] snapfisher commented on #20539
You got me curious.  SO I went into the Azure portal and created a scope, and then changed the call to be this:

options.ProviderOptions.DefaultAccessTokenScopes.Add("api://93d053a6-718a-4219-9674-cc5c5adfaac5/Profile.Read");

I really think these are the same thing, I just put a V2 scope name on the same SP -- but ignoring that, I was able to log in like this, identical as before.  Unfortunately,

[2020-04-07 02:19] michaelbpalmer opened #20597 "Unbound breakpoint in VS Code when debugging Blazor WASM app on WSL 2"
### Describe the bug

I cannot set a breakpoint when debugging a WASM app on VS Code (WSL 2) following the instructions here: https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.1

### To Reproduce

1. Create a new WASM project: dotnet new blazorwasm -o Foo
2. Follow VS Code debugging instructions here: https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetco

[2020-04-07 03:27] Toemsel opened #20599 "JavaScript interop calls cannot be issued at this time."
Can't read the client's session storage in every state of the application. I do receive an exception "JavaScript interop calls cannot be issued at this time. This is because the component is being statically rendererd"

Looking for answer, I came across [this post](https://github.com/dotnet/aspnetcore/issues/9613). However, the suggested solution (injecting IComponentContext and check whether the

[2020-04-07 04:35] HaoK commented on #7534
@blowdart is this just a docs issue, or is this just a discussion (that's been resolved)?

[2020-04-07 05:23] danroth27 opened #20601 "Running dotnet clean on a Blazor WebAssembly does not clean the obj folder"
Repro steps:

- `dotnet new blazorwasm -ho -o BlazorApp1`
- `cd Blazor App1`
- `dotnet build`
- `dotnet clean`

Expected results:

- Both bin and obj folders cleaned of content

Actual result:

- The bin folder is clean, but the obj folder is not.

[2020-04-07 05:34] danroth27 commented on #20585
Hi @lxman. The blazor.server.js file is an embedded resource on the Microsoft.AspNetCore.Components.Server.dll assembly, which ships as part of the ASP.NET Core shared framework. While VS does typically try to validate that your script references are actually on disk at the specified path, VS should ignore blazor.server.js, which is included as part of the ASP.NET Core shared framework (it does on

[2020-04-07 05:46] Jasdo commented on #20551
Yes, it works.
The problem is that it creates a new instance of the controller for each REST call, and I'm trying to avoid that. Of course I can move the part that I want to be a "singleton" to another class, but everything worked fine before we migrated to 3.1 from 2.1.
I assume it is related to [this change](https://github.com/dotnet/aspnetcore/commit/65ca72c4206cd73a14b3c202713ce700139896d8?dif

[2020-04-07 05:47] MartinZikmund commented on #20055
In my case I can't avoid this error:

[code]

I get a compile-time error that `NextStepsAsync` contains a `TagHelper` and must be async and return a `Task` - which is the case. The code compiled fine before updating to ASP.NET Core 3.1.

[2020-04-07 06:23] drauch opened #20602 "Enable a mode in which FormFiles are backed by files with the uploaded file name"
We receive an IFormFile in some of our actions and we need the file on disk to have the original name. At the moment we need to copy the whole file like so:

[code]

We have to do this because there is no way to get the underlying path from IFormFile and move the form file to have the correct file name OR to instruct FormFile to immediately use the original file name.

We haven't found a way to do

[2020-04-07 06:41] rsilvanet opened #20603 "Missing field CalculateMd5ForResponseStream for DataProtection"
Hello,

We are upgrading one of our web apps from .Net Core 2.2 to 3.1 and with that all the packages. Right now we are having problems with our configuration of DataProtection using Azure blob storage. We are using the following version of the package and configuration code:

Microsoft.AspNetCore.DataProtection.AzureStorage 3.1.3

[code]

Which throws the following error in the requests pipeline:

[2020-04-07 06:42] davidfowl commented on #20602
I'm a bit confused. When you say you need the original path, do you mean the file name? Or the full path on the source machine?

var filePath = Path.Combine(path, Path.GetFileName(formFile.FileName));
Directory.CreateDirectory(path);

I assume you mean the path because formFile is an IFormFile and the FileName is exposed there. Why do you need the original path? Can you give an example of the uplo

[2020-04-07 06:43] davidfowl commented on #20603
cc @pakrym

[2020-04-07 06:51] KamranShahid commented on #20566
I have tried above option. But what i see is My application starts in IIS (windows) but not on linux.
Trying to found out error

[2020-04-07 06:59] isc30 commented on #19926
Hi, when is this shipping out?

[2020-04-07 07:00] jotway commented on #20565
Barry,

Thank you for your helpful reply.

I’ll annotate your solution in green below.

From: Barry Dorrans <notifications@github.com>
Sent: Monday, 6 April 2020 8:13 PM
To: dotnet/aspnetcore <aspnetcore@noreply.github.com>
Cc: jotway <jotway@megaprime.com.au>; Author <author@noreply.github.com>
Subject: Re: [dotnet/aspnetcore] Cannot connect to http://localhost:5000 (#20565)

OK, we'll start from

[2020-04-07 07:07] drauch commented on #20602
No, I don't need the path on the source machine. I need the temporary file, the one ASP.NET Core creates on the disk, to have the same name as the file originally had on the client. Yes, the client can send us bogus data, but then it's his own fault that the request will ultimately fail.

The file is going into Windows Authenticode signing which embeds the "original file name" for some file types

[2020-04-07 07:16] jotway commented on #20565
Thank you for your work around.  I've pasted my answers to your questions in gree below.

![image](https://user-images.githubusercontent.com/20447364/78640689-c027d780-78e2-11ea-9d3c-a86df1174a7f.png)

[2020-04-07 07:16] #20565 closed

[2020-04-07 08:00] #18728 closed

[2020-04-07 08:07] ajbozdar commented on #19590
The issue persists in Ubuntu 18.04 while using dotnet-sdk-3.1.201.

[2020-04-07 08:13] davidfowl commented on #20602
I see. So you need the file to be on disk and you need it to have the "right" file name and if ASP.NET Core creates a temporary file, you'd like to avoid copying it to another file with the right file name because that's wasteful (even worse because you need to copy it back in user mode instead of file a File.Copy). Did I get that right?

Assuming I did, here are a few pieces of info:
- ASP.NET Co

[2020-04-07 08:24] TechWatching commented on #19570
What will happened to Microsoft.AspNetCore.AzureKeyVault.HostingStartup that is automatically added to a csproj when using "Connected Services" in Visual Studio 2019 ?

[2020-04-07 08:35] dazinator opened #20605 "Blazor Static Assets - don't serve directories prefixed with ".""
### Describe the bug

The `StaticWebAssetsLoader` assumes all paths in the manifest are valid for serving up:

https://github.com/dotnet/aspnetcore/blob/1480b998660d2f77d0605376eefab6a83474ce07/src/Hosting/Hosting/src/StaticWebAssets/StaticWebAssetsLoader.cs#L43

So for example, it will serve from a base path like ".apps/foo"

However the standard `PhysicalFileProvider` (which comes into play afte

[2020-04-07 08:37] hultqvist commented on #20573
Thanks it worked with any of the following two tags in LinkerConfig.xml.

[code]

I'm not sure why it worked though, I would have believed that since the Size class and its properties was directly referenced in my code it would be enough for the linker to preserve it.

[2020-04-07 08:37] #20573 closed

[2020-04-07 08:43] Gchkh16 opened #20606 "[Blazor] Run Arbitrary Javascript code with JsRuntime"
It seems currently JsRuntime only supports calling already defined javascript functions by function name. It will be much better if JsRuntime could execute arbitrary javascript code passed as string.

[2020-04-07 08:50] dazinator commented on #20580
I'm now thinking of this idea #20605

Set each clients `StaticWebAssetBasePath` to a path that should be hidden by the FileProvider by prefixing the path with a "."

[code]
[code]

This should result in the SPA static files being hidden by default, then I can add my own IFileProvider to the WebRootFileProvider that will serve up the correct SPA static files based on the tenant (I'll create a Physi

[2020-04-07 08:51] cornem opened #20607 "Silent renew with Oidc and Blazor WebAssembly"
### Is your feature request related to a problem? Please describe.
Typically access tokens provided by the identity provider have a limited lifetime. When the access token expires, the client obtains a new token on behalf of the user.
In browser scenarios it is not recommended to use refresh tokens, which usually have a much longer lifetime, but would need to be stored securely to prevent leaking.

[2020-04-07 09:28] kennyfowler commented on #17516
VS Enterprise 2019 16.5.1
IIS Express 10.0.18362.1
Dotnet core 3.1.2

[2020-04-07 09:48] javiercn commented on #20607
@cornem we don't do automatic silent renew, but our API will silently renew the token when you call `provider.RequestAccessToken` the reason we don't do automatic silent renew is because it has some problems, like when people leave the window open for the night (after they leave work) and the token keeps getting renewed overnight.

This is something that is also easy to implement yourself in c#, s

[2020-04-07 09:49] javiercn commented on #20606
@Gchkh16 thanks for contacting us.

This is already possible, you can call `eval` and pass in whatever string you want. Although I don't recommend using that for the same reasons it is discouraged in other places. If you do it carelessly and using user input, you are opening yourself to XSS

[2020-04-07 09:52] cornem commented on #20607
OK, great. Thanks for the suggestion. Using a timer with `RequestAccessToken` should be fine for the app I'm working on.

[2020-04-07 09:52] #20607 closed

[2020-04-07 10:05] javiercn commented on #20605
@dazinator thanks for contacting us.

Thanks for the detailed explanation. I don't think this as a bug but as an enhancement. As you mention, this only happens in development, and it is not something we cared/considered supporting at the time, the main reason being because we are more worried when we are not able to serve files that should be served than the other way around.

Once thing that you

[2020-04-07 10:07] javiercn commented on #20599
@Toemsel thanks for contacting us.

Can you provide more details about your scenario so that we can better understand what the issue is and what you are trying to accomplish?

[2020-04-07 10:09] javiercn commented on #20601
@danroth27 can you add the list of files that are not cleaned out?

[2020-04-07 10:15] javiercn commented on #20570
I'm not sure about the details on that article you reference, but in general trying to get a scoped instance within a singleton is wrong.

I'm not sure what you are trying to accomplish, if you provide more details maybe we can help.

[2020-04-07 10:42] SteveSandersonMS commented on #20560
@javiercn is correct - there isn't currently a way to pass through arbitrary directive attributes.

That's because although it would seem to make sense in this case, there are plenty of other cases where it certainly wouldn't. For example, if someone was to use `@key` or `@ref` on your component, should that apply to the component itself, or to some other component or element that gets rendered by

[2020-04-07 10:53] javiercn opened #20608 "[Validation] Validate auth updates"
* Validate the improvements that we did to the auth packages.

[2020-04-07 10:54] javiercn opened #20609 "[Validation] Validate brotli compression"

[2020-04-07 11:21] guardrex commented on #20576
Covered by https://github.com/dotnet/AspNetCore.Docs/pull/17652.

[2020-04-07 11:44] orkunweb commented on #20542
I created a new project for the problem (.net core 3.1). Installed Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation package 3.1.3 version. After I updated "welcome" text in Index.cshtml, I saved this file. But when I request this route in browser (/home/index), no any response. Browser just say "waiting for localhost". I share repo :

https://github.com/orkunweb/exampleForRuntimeUpdateViewsProble

[2020-04-07 11:57] blowdart commented on #20565
@Rick-Anderson One for docs perhaps?

[2020-04-07 12:06] dush-a commented on #14503
So, then what should we need to do? Change the lengths to 225 or 256?
This issue is there for a long time, even in 2017 you guys have closed the issue telling that it will be fixed in next preview. Now you are closing this again without fixing it.

Why don't you change it in the template or the migration script (at least in 5.0.0-preview2) so that people who use this template will not want to sear

[2020-04-07 12:33] #20606 closed

[2020-04-07 12:49] dazinator commented on #20605
Thanks @javiercn

The only thing I'll add is that it's possible this will lead to that precise worry being realised, but in non development environments..A developer could set a StaticWebAssetBasePath  in their project to be dot prefixed, without being aware of the PhysicalFileProvider behaviour in production. For example ".MyApps". During development they will be under the illusion that everythin

[2020-04-07 12:50] dazinator commented on #20605
I would love to know what MSBuild property I need to add to change the path of the published assets - do you know what that is of the top of your head?

[2020-04-07 12:51] javiercn commented on #20605
@dazinator there is no property for that, you would need to write your own target.

[2020-04-07 13:04] rpedretti commented on #20560
Ok, I found a way using RenderFragment

[code]

so the user can use like this

[code]

And I agree about `@key` and `@ref` but they are standalone attributes while the `@on{EVENT}:stopPropagation` is not. Maybe there are some middle ground where we can capture these events directives the same way we capture unmatched parameters. But my way works fine for now.

[2020-04-07 13:13] dazinator commented on #20605
@javiercn

Minor suggestion for a tweak - when I go down this route, I can then add my own StaticFilesMiddleware to the current tenants fork of the Middleware pipeline, configured with their own `IFileProvider` pointing to the SPA I want to serve them - this can be physically looking at the project wwwroot mapped from the manifest in Development mode, or the published location mapped to the privat

[2020-04-07 13:35] kieronlanning opened #20649 "In a Directory.Build.props file, determine the Sdk value"
In a `Directory.Build.props` file how can I determine if the project has the `Microsoft.NET.Sdk.Web` or the `Microsoft.NET.Sdk` referenced?

Aside from opening the entire file and using some Regex to pull the `Sdk` attribute value out from either the Project element, or an Import element and setting a property, I'm not sure of the best direction to take...

Currently I'm doing this, which isn't an

[2020-04-07 14:16] glararan opened #20610 "[Blazor server-side] JS to Server crash on passing large HTML"
### Describe the bug
Browser gets disconnected after calling dotnetref to invokeMethodAsync. Setting large HTML like base64 image or large href results into disconnection.

### To Reproduce
1) Create component with JS Invokable function like mine
[code]
2) Call from Javascript via dotnetref
`dotnet.invokeMethodAsync("SetHtml", large_senseful_html_from_wysiwyg_it_doesnt_like_eg_base64_or_large_href

[2020-04-07 14:20] javiercn commented on #20610
@glararan thanks for contacting us. It is likely you are reaching the message limit, which by default is 32KB on SignalR, so realistically it is about 30-31KB for the app to use.

[2020-04-07 14:22] glararan commented on #20610
@javiercn length was about 47kB. Can I change limit or its not possible?

[2020-04-07 15:00] #20572 closed

[2020-04-07 15:01] lxman commented on #20585
Hmm, OK, that makes sense. Unfortunately the validation for VS has been a trouble spot for quite some time by my experience. Working with Blazor I constantly get validation errors (red squigglies) yet the program compiles and runs. Annoying, but I'm used to it by now.

Thanks for the info. I'll close this.

[2020-04-07 15:01] #20585 closed

[2020-04-07 15:01] javiercn commented on #20610
It is possible although discouraged as there are security trade-offs from changing it. You can do so in the SignalR hub options. See [here](https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-3.1&tabs=dotnet) for details.

I would suggest that instead you break the message into multiple chunks and perform multiple JS interop calls until you've received the full messa

[2020-04-07 15:01] javiercn commented on #20610
I'm closing this issue as the original question has been answered.

[2020-04-07 15:01] #20610 closed

[2020-04-07 15:04] contractorwolf commented on #12705
We are using Vue.js with .net core and originally used @shand-obs solution, which worked until we upgraded to the .net core version 3.1.3 runtime.  Then it started throwing the same error as before.
We knew if we created a copy of Index and named it something else we wouldnt hit the issue, but then we would have to track any changes to the main page of our SPA in 2 different files, which would be

[2020-04-07 15:13] dazinator opened #20611 "CreateDefaultHost method doc not updated to mention static web assets."
## Describe the bug
Very minor nitpick:
I see that you have gone to lengths to keep this methods doc comment up to date historically:-

https://github.com/dotnet/aspnetcore/blob/1480b998660d2f77d0605376eefab6a83474ce07/src/DefaultBuilder/src/WebHost.cs#L148

However it appears with the new StaticWebAssets stuff that was added, the comment could use updating to mention that.

[2020-04-07 15:15] contractorwolf commented on #12705
also, we added authorization to both routes:
[code]

[2020-04-07 15:27] pranavkm commented on #20542
@orkunweb your repo worked fine for me. Usually the first compile takes a bit longer, but further compilations should be quicker.

* Are you able to consistently reproduce this problem on a clean machine?
* If you are, it would help to grab debug logs from the application and attach it here. It might help diagnose  the issue.

[2020-04-07 15:43] danroth27 commented on #20585
For Razor files this is a known issue that we are working on addressing with a total revamp of the Razor tooling system. It will take some time to address, but once it's done it should enable a much better, more consistent, and more feature rich experience.

[2020-04-07 15:45] danroth27 commented on #19926
@isc30 This has been addressed for the upcoming [3.2 Preview 4 release](https://github.com/dotnet/aspnetcore/milestone/82), which we expect to release on April 16th.

[2020-04-07 15:47] anurse commented on #19570
@TechWatching yep, we're working with that team to get a plan in place. For now it continues to use the legacy packages (which are still fully supported in .NET Core 2.1 and 3.1).

[2020-04-07 15:49] anurse commented on #20551
Why are you trying to avoid that? If you need a singleton, it should be a service consumed by the controller, not the controller itself.

[2020-04-07 15:54] Tratcher commented on #20551
I checked with MVC and controllers are not supported as singletons. They have request state, so even if you didn't hit issues like this, you'd still have concurrency problems.

[2020-04-07 15:59] Tratcher commented on #20566
You'll need to check the server logs.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#configuration

[2020-04-07 16:00] #20541 closed

[2020-04-07 16:12] sayedihashimi commented on #20259
@pranavkm any update?

[2020-04-07 16:20] Jasdo commented on #20551
Yes, this is how it is implemented now in our code, the thing is that using the controller as a singleton worked until we migrated from ASP .NET Core 2.1 to 3.1.

[2020-04-07 16:20] GF-Huang opened #20613 "Blazor WebAssembly ASP.NET Core hosted project does not copy the wwwroot to output"
Blazor WebAssembly ASP.NET Core hosted project does not copy the client project `wwwroot` to the output folder of server project when configuration is `Debug` or `Release`, except I use `Publish`.

if I run the docker or compose project, then access http://localhost I will get 404 not found. But if I access http://localhost/controller it works well.

This means it can not work properly for `docker

[2020-04-07 16:22] Jasdo commented on #20551
@Tratcher, @anurse
Thank you for your help!

[2020-04-07 16:22] #20551 closed

[2020-04-07 16:32] Tratcher commented on #20611
Would also want to update ConfigureWebHostDefaults https://github.com/dotnet/aspnetcore/blob/1480b998660d2f77d0605376eefab6a83474ce07/src/DefaultBuilder/src/GenericHostBuilderExtensions.cs#L25

[2020-04-07 16:36] xrkolovos commented on #20574
@javiercn can you explain how this will happen?
By sharing the session storage across tabs?
By redirecting the user to the Identity Server and back?
Something else?

Is this tracked in an other issue, since it is for preview4?

Why don't give the user the option to choose? All the oidc javacript libs let you choose your storage type.

@blowdart  What is that more risk? (XSS applies for both of the

[2020-04-07 16:40] danroth27 commented on #20601
[code]

[2020-04-07 16:40] Tratcher commented on #20602
If your goal is to skip a file copy and get the name you want, they @davidfowl is right, you should switch to the streaming upload pattern:
https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-2.1#upload-large-files-with-streaming-1

[2020-04-07 16:42] Tratcher commented on #20602
Have you actually measured the impact of this extra copy? How large are the files and how long does that extra copy take now?

[2020-04-07 16:44] mkArtakMSFT commented on #20588
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-07 16:45] mkArtakMSFT commented on #20584
@NTaylorMullen all yours to tackle :)

[2020-04-07 16:46] mkArtakMSFT commented on #20474
@NTaylorMullen can you please do the needful here? Thanks!

[2020-04-07 16:50] mkArtakMSFT commented on #20303
The repro you've provided is not ASP.NET specific. If there is anything ASP.NET Core specific you're having problem with, please provide relevant repro, so that we can move forward with the investigation. It would be great to have that project as a GitHub repo, and it should be buidlable and runnable.

[2020-04-07 16:53] pranavkm commented on #20259
@sayedihashimi I haven't looked as this as yet.

[2020-04-07 16:56] mkArtakMSFT commented on #20517
Thanks for contacting us, @catlan.
That setting is actually used only by the linker. When linker is disabled, the effect is similar as having the setting set to `all` for linker-enabled scenario.
Is this not what you're observing?

[2020-04-07 17:05] jan-johansson-mr commented on #20288
Thanks!

[2020-04-07 17:08] Tratcher opened #20614 "Announcement: BadHttpRequestException's obsolete and replaced"
## BadHttpRequestException's obsolete and replaced

`Microsoft.AspNetCore.Server.Kestrel.BadHttpRequestException` and `Microsoft.AspNetCore.Server.IIS.BadHttpRequestException` have been marked as Obsolete and have been changed to derive from the new `Microsoft.AspNetCore.Http.BadHttpRequestException`. The servers still throw their old exception types for for backwards compatibility, but the obsole

[2020-04-07 17:16] rynowak commented on #20489
Yes. That's the plan

[2020-04-07 17:22] Tratcher commented on #20403
Try this:
[code]

[code]

[2020-04-07 17:31] NTaylorMullen opened #20616 "If you type @DateTime out of @{} and re-invoke it (Ctrl + space), the HTML Intellisense is not shown."
Close the original issue on completion: https://github.com/aspnet/AspNetCore-ManualTests/issues/87

**Repro Configuration**: Win Server 2019 ENU x64  + Dev16.6 Preview 3  (Preview channel : pre-release-build) VSE
**.NET Core SDK Version**: 3.1.300-preview-015048
**.NET Core runtime Version**: 3.1.2

**Regression Info**:
It doesn't repro with **C# extension-v1.21.16**

**Install Steps**
1. Clean ma

[2020-04-07 17:36] TanayParikh commented on #20590
Related issue that @ryanbrandenburg found:

1. `dotnet new blazorserver`
2. Open `NavMenu.razor`
3. Paste in:

[code]

The `<text>` tag completion is available in `ToggleNavMenu` but not in `SomeOtherMethod`.

There seems to be a context (C# vs HTML) recognition issue with text tag availability. Will be looking into this.

[2020-04-07 17:37] pranavkm commented on #20259
Speaking to @rodrmoya, VS4Mac uses `mono` as the runtime to invoke msbuild. Our task uses DataContractJsonSerializer to serialize JSON content and the error that @rainersigwald discovered  here - https://github.com/dotnet/aspnetcore/issues/20259#issuecomment-607214332 - suggests that the error is thrown from Mono's implementation of the serializer.

@rodrmoya could you follow up with the Mono team

[2020-04-07 17:39] TanayParikh commented on #20590
Note, the similar:

[code]

does not exhibit the same issue (`<text>` completions available for `SomeOtherMethod`).

[2020-04-07 17:40] catlan commented on #20517
No, what I'm observing is similar as having the setting set to `none`.

Is there any debug information I can provide?

[2020-04-07 17:46] davidfowl commented on #13651
Today we write directly to the connection which can result in partial messages that corrupt the payload. Buffering would fail before messages are written to the connection resulting in a server side failure without breaking the connection.

[2020-04-07 17:47] Rick-Anderson commented on #20565
@blowdart  I'll take care of it and see if I can have these issues go to the docs repo, not your repo.

[2020-04-07 17:48] davidfowl commented on #20611
@javiercn do the needful

[2020-04-07 17:49] blowdart commented on #20565
Honestly it was nice to have a starter issue I can solve :)

[2020-04-07 18:13] anurse commented on #13651
Or even fail the connection properly, with a message (properly sanitized for security). What happens now is an ungraceful disconnect since we can’t write a close frame.

[2020-04-07 18:20] javiercn commented on #20574
By performing a silent sign-in when the app starts, which happens inside a hidden iframe.
This is tracked on a separate issue. This was done [here](https://github.com/dotnet/aspnetcore/pull/20192)

The token is persisted across browser sessions which gives makes it much easier to be leaked.

Because it adds more concepts that we need to explain users and increases the complexity of the package as

[2020-04-07 18:21] jbagley-iona opened #20617 "ASP.NET Core Logging Integration extension does not log after upgrade to 3.0/3.1"
### Describe the bug
Since upgrading to .NET core 3, the ASP.NET Core Logging Integration extension no longer seems to work.  Before upgrading, logs (to storage on Azure) were correctly produced.  After upgrading, logs are no longer produced.

I was able to work around this by directly calling UseAzureAppServices in Program.cs (as mentioned in #15381).  Upgrading the extension to the latest versio

[2020-04-07 18:22] javiercn commented on #20601
We don't control any of these files ourselves I think, so we don't have to do anything.

[2020-04-07 18:24] drauch commented on #20602
Yes, exactly right.

This would be unfortunate for us. We have lots of form data too, model binding should still work. Can we use the "normal" way with model binding for all the other parameters and go for the streaming solution only for the form file? Maybe we can adjust the (pre-?) model binding somehow with a decorator or configuration hook to do that?

The impact is a few seconds for each requ

[2020-04-07 18:35] Kahbazi commented on #19823
I have a proposal for this feature and I can send a PR if t get approved.

[code]

[2020-04-07 18:37] Tratcher commented on #20602
That's pretty good considering. What's the total request time for these?

Not with the documented pattern. The problem is that form fields and files can be intermixed in the request, you have to read the whole body to know that you've found all of the form fields.

To replace only how the buffering happens you'd likely need a middleware or filter that replaced the [IFormFeature](https://github.com

[2020-04-07 18:54] dazinator commented on #20605
I managed to achieve my end to end story in the end, by copying a lot of code from internal extension methods etc, and refactoring it mainly to allow me to specify my own IFileProvider in various places.

However to stay focused on this specific issue, I had to change `StaticWebAssetsLoader` to ignore "." prefixed directories so it doesn't serve those up by default. This has multiple benefits:

1.

[2020-04-07 19:02] ajaybhargavb opened #20619 "Auto-close Razor comments in VS LSP"
`@*` => `@* | *@`

[2020-04-07 19:09] vasont opened #20620 "MVC SimpleType Binder Should Handle Empty String to Guid binding Gracefully"
Do forgive me if there's a documented way to get the desired behavior. There were no good results using keywords I've added into this title. Looking at code, I don't see logic immediately that would afford the desired behavior.

### Is your feature request related to a problem? Please describe.

There exists a need to be able to pass a strongly-typed Guid parameter via a query, form, etc. using th

[2020-04-07 19:11] davidfowl commented on #20602
No javascript doesn't matter here.

But you would also need to re-implement the file reading since you can't really turn off the implicit buffering that happens without turning off the memory threshold (which would result in more virtual memory usage 😄 ). Memory efficient file uploads really should be using the streaming pattern regardless.

It might make sense to write a custom model binder for I

[2020-04-07 19:17] willdean commented on #13651
As someone who suffered through debugging one of these "SignalR connection occasionally drops because the new serializer doesn't like something I said" problems, I'd ask that the API (at least in debug mode or Development environment) follows the principle of least surprise.  i.e. if you pass some data into an API which it can't cope with, it throws an exception at that point.

I do get it that, i

[2020-04-07 19:21] vasont commented on #20620
Below is a workaround to the issue and requires a custom binding provider and binder be implemented to override Guid bindings.

Create a file `GuidModelBinderProvider.cs`
[code]

Create a file `GuidModelBuilder.cs`
[code]

In your application `Startup.cs`

[code]

[2020-04-07 19:22] Tratcher commented on #20602
You can copy and tweak FormFeature. Mainly this section:
https://github.com/dotnet/aspnetcore/blob/7946b91a65ce0ff717bdcf528f6342edc5bfd92d/src/Http/Http/src/Features/FormFeature.cs#L160-L187

Not needed.

[2020-04-07 19:24] davidfowl commented on #13651
That's the same as buffering.

Reopening this for re-consideration as a "mode".

[2020-04-07 19:25] orkunweb commented on #20542
There was no problem until three days ago. It was working great. I have no idea what it is. I will try on another machine. thanks for your answers.

[2020-04-07 19:57] dkonyayev commented on #4727
We are having issues with this now. Our SSO provider inserts LDAP data into a header, and the LDAP data contains non-ASCII characters that are user's name (ex. Görkem)

It's hard to get resolution on this since only applications on Kestrel are having issues with these headers. All other applications are either processing it successfully or ignoring it.

[2020-04-07 20:04] halter73 commented on #13651
I'm fine with it, as long as the error closes the connection with a clear error message. I don't want some VBesque "On Error Resume Next" behavior.

[2020-04-07 20:28] TPIvan commented on #20570
I am in early stage of planning a step by step migration strategy for a webforms project. The webforms application uses a session singleton (session variable encapsulated in static property), which is accessed from a custom validation attribute. So I was looking for an equivalent of this a static encapsulation for data dependent on request content.
So I have a static property in a standard library

[2020-04-07 20:48] loganmarshall1 opened #20622 "Example of <ValidationMessage /> Inside Component"
Hi Team,

Hope you're all safe, well and avoiding crazy chaos! :)

Need a blazor example of the following
Trying to place    ValidationMessage For="@(() => SomeModel.SomeValue)"
Inside another Component.

Call this one MyInput, its a child inside a EditForm Model=SomeModel on Page1

on Page1 I want to call MyInput param1, 2, etc but not sure how to **pass a @(() => SomeModel.SomeValue) as a parame

[2020-04-07 20:56] andyedinborough opened #20623 "AssemblyPart.Types throws ReflectionTypeLoadException"
### Describe the bug
When adding a reference to `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation`, an exception is thrown from `AssemblyPart.Types` for projects with references containing types that cannot necessarily be loaded in the given context.

For example, we have projects that reference netstandard2 assemblies which reference AspNetCore v2 packages. The conflicting classes are not export

[2020-04-07 21:17] HaoK opened #20624 "[Helix] convert app runtime and ref pack to testrunner methods"

[2020-04-07 21:17] vsfeedback opened #20625 "Nuget update of several packages from 3.1.2 to 3.1.3 causes failure running ASP.NET MVC Core Self Contained on IIS"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/978138/nuget-update-of-several-packages-from-312-to-313-c.html)._

---
Did an update of seven packages in NuGet and the site no longer functioned.

Reverted back to 3.1.2 and the problem went away.

---
### Original Comments

#### Visual Studio Feedback System on 4/7/2020,

[2020-04-07 21:18] Pilchie commented on #20625
Tagging @wtgodbe and @joperezr.

[2020-04-07 21:18] pranavkm commented on #20449
@lostatredrock the behavior you're seeing is by design. It's [documented](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-3.1#complex-types) in passing, but perhaps could do with a more elaborate explanation.

Consider the following:

[code]

Model binding will allow binding `person.Name` as well as `Name`. However, if both are present, only the prefixed value

[2020-04-07 21:20] m-duran commented on #19098
How can you deprecate something and replace it with something that isn't documented? That is insane.

[2020-04-07 21:21] SomeProgrammerGuy commented on #20403
@Tratcher

I now find this doesn't work if

[code]

is removed though it does work if it's still there at the beginning of the Invoke method..

[2020-04-07 21:26] JunTaoLuo opened #20626 "Roslyn dependencies out of date"
We are 22 days out of date on our ingestion of Roslyn dependencies. Currently under investigation.

[2020-04-07 21:27] Tratcher commented on #20403
You moved UseCustomMiddlewareIntercept404 to the end of Configure as shown?

[2020-04-07 21:29] SomeProgrammerGuy commented on #20403
See Above.

[2020-04-07 21:40] wtgodbe commented on #20625
From the VS issue:

   at System.Reflection.Metadata.Ecma335.CustomAttributeTableReader.GetConstructor(System.Reflection.Metadata.CustomAttributeHandle)
   at Microsoft.CodeAnalysis.PEModule.GetTypeAndConstructor(System.Reflection.Metadata.MetadataReader, System.Reflection.Metadata.CustomAttributeHandle, System.Reflection.Metadata.EntityHandle ByRef, System.Reflection.Metadata.EntityHandle ByRef)

[2020-04-07 21:40] mkArtakMSFT opened #20628 "Test failures in OpenAPI"
The following tests have failed: Microsoft.DotNet.OpenApi.Add.Tests.OpenApiAddURLTests.OpenApi_Add_URL_ActualResponse() in this build: https://dev.azure.com/dnceng/public/_build/results?buildId=586021&view=results

[2020-04-07 21:42] mkArtakMSFT commented on #20628
@ryanbrandenburg can you please take care of this? This one failed again 5 days ago.

Here are some more details:

### Error message

Threw error: The given url returned 'InternalServerError', indicating failure. The url might be wrong, or there might be a networking issue.

Expected: True

Actual: False

### Stack trace
   at Microsoft.DotNet.OpenApi.Tests.OpenApiTestBase.AssertNoErrors(Int32 app

[2020-04-07 21:45] ryanbrandenburg commented on #20628
That test has been removed entirely: https://github.com/dotnet/aspnetcore/commit/cb523d73e27ce68113eeb26fd1c8b0cd5cc0c21c

[2020-04-07 21:46] ryanbrandenburg commented on #20628
The failure was on master, so this must just predate the change. Closing.

[2020-04-07 21:46] #20628 closed

[2020-04-07 21:58] JunTaoLuo commented on #20626
Looks like this could be due to our incorrect CPDs in aspnetcore which was set to Extensions.Logging. This may be fixed by https://github.com/dotnet/aspnetcore/pull/20627. Ops should monitor this to ensure the dependency is updated.

[2020-04-07 22:31] NTaylorMullen opened #20629 "Closing than opening solution can result in LSPDocumentManager exceptions on tracking same document twice"
In a local scenario I tried closing/reopening a document and I got:
![image](https://user-images.githubusercontent.com/2008729/78725602-cae36c00-78e4-11ea-8ff0-80b977cfe3db.png)

[2020-04-07 22:36] rynowak commented on #20623
Referencing old version of ASP.NET Core assemblies and types that can't be loaded is something we explicitly don't support.

Allowing these exceptions to bubble up is extremely intentional on our part. If we catch type load failures, then functionality like controller discovery will start to silently fail for those cases. Having a clear error is best.

[2020-04-07 22:45] douglasg14b commented on #14503
@ajcvickers  @HaoK

If this problem, that still exists, will not be fixed. Why is it not documented as a common "gotcha"?

[2020-04-07 23:07] andyedinborough commented on #20623
I understand that, but in this case, the AssemblyPart class is attempting to load types that it shouldn’t—private, non-exported classes.

Further, this would be a blocker to anyone looking to update to migrate to netcoreapp3 if they have a vendor with a dependency targeting netstandard. Thankfully, this is our own internal assembly and I was able to spend all day (!!) working on making it multitar

[2020-04-07 23:15] andyedinborough commented on #20623
Also note from the repro that the code doesn’t even need to be in use. If the assembly is referenced, the runtime compilation and ControllersAsServices cause the error.

[2020-04-07 23:22] BrennanConroy commented on #8715
This was done in https://github.com/aspnet/SignalR-Client-Cpp/pull/14

[2020-04-07 23:22] #8715 closed

[2020-04-07 23:37] JunTaoLuo commented on #20479
We are still seeing these errors:
[code]

The decision in quarantine review is that we'll be quarantining all project template tests for now due to this issue. We'll use this issue to track the investigation. I'm also putting this issue in the DOI board due to the broad impact of quarantining all project template tests.

[2020-04-07 23:39] mmichtch opened #20630 "Define Json serialization settings per controller."
# Issue Title
Setup Json serialization per controller in the ASPNET Core applicaiton.

# General

Asp net core has a mechanism to define json serialization options per application using:

            services
                .AddControllers(options => {})
                .AddJsonOptions(options => { /* json options */})
            ;

however there is no way to define json serialization settings p

[2020-04-07 23:44] xdrie commented on #19404
I am very confused on which the default behavior is supposed to be. I am using ASP.NET Core 3.1 and am using

[code]

in a `TestWebApplicationFactory`.

The documentation says that my `ConfigureServices` should be called _after_ `Startup.ConfigureServices`, but when I actually set breakpoints, my `TestWebApplicationFactory` runs first.

[2020-04-07 23:49] rynowak commented on #20623
Those are features that rely on the ability to enumerate all types. If they are causing an exception in your scenario, then it means that they would silently fail in someone else's case.

We try to avoid writing features that enumerate all types for reasons like this (and perf). If there's a way we could rejigger those features to avoid `AssemblyPart.Types` then that sounds good. I don't think put

[2020-04-07 23:51] rynowak commented on #20623
Are you certain that this would be working without `AddControllersAsServices()`? By my recollection that calls through the **same code path** as normal controller discovery - which accesses [.Types](https://github.com/dotnet/aspnetcore/blob/5ff9ed68d1cf6c89d72d27a69b00ed0ecd34daed/src/Mvc/Mvc.Core/src/Controllers/ControllerFeatureProvider.cs#L20)

[2020-04-08 00:06] ryanbrandenburg opened #20632 "VS project.razor.json serialization race conditions"
Because of the size of the project.razor.json files we create when they are written to disk its handled as two different operations, so the FileSystemWatcher triggers twice. The first time it triggers theres a good chance that the json has not finished writing out to the file, so it will fail to deserialize and cause lots of trouble.

The solution we (Taylor) came up with is to write our project.r

[2020-04-08 00:49] VBAndCs opened #20633 "Build ASP.NET Core apps with VB.Net now"
I think we can say that VB.Net finally made it to ASP.NET Core
I published [eShopOnWeb_VB.NET](https://github.com/VBAndCs/eShopOnWeb_VB.NET) which is the VB.NET version of the Microsoft full web sample [eShopOnWeb](https://github.com/dotnet-architecture/eShopOnWeb)
[eShopOnWeb](https://github.com/dotnet-architecture/eShopOnWeb) is a sample ASP.NET Core reference application, powered by Microsoft,

[2020-04-08 01:40] mariocatch opened #20635 "There's no (intuitive?) way to render a component in a loop"
I must be missing something very obvious with blazor... I want to simply render a list containing a component, yet there's no (obvious?) way to reference the iterator (which is a component) for rendering?

TodoList.razor
[code]

TodoItem.razor
[code]

[2020-04-08 02:03] AzizAK opened #20636 "SignalR (Websockets) with azure linux app service .NET 3.1"
### Describe the bug
I'm using .NET 3.1 with SignalR (Websockets) working locally is fine on my Mac, but when I deployed to azure linux it stopped working for websockets. long-polling still working. but websockets return with ( failed to start connection error there was an error with transport) from the client.

I already turned on websockets from app service configuration.

### To Reproduce
[code

[2020-04-08 02:14] gsaggu opened #20811 "CertificateAuthenticationFailedContext doesn't terminate the HTTP request"
[EDIT by guardrex to add the metadata. @gsaggu, use the **This page** feedback button and form at the bottom of any topic to have the metadata automatically added, which also automatically pings the author.]

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/certauth?view=aspnetcore-3.1

i did followed this documentation and certificate authentication works as expected. The issu

[2020-04-08 02:17] captainsafia commented on #20601
During triage, we discovered that this behavior is consistent across other types of template-generated applications so this is a no-op for us.

I'm going to go ahead and close this based on that discussion.

[2020-04-08 02:17] #20601 closed

[2020-04-08 02:26] BrennanConroy commented on #20636
Can you look at the server side logs to see if it's receiving the websockets request?
https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1#server-side-logging

[2020-04-08 02:50] GF-Huang commented on #20613
When I comment the `<PackageReference Include="Microsoft.AspNetCore.Components.WebAssembly.DevServer" Version="3.2.0-preview3.20168.3" PrivateAssets="all" />` of `xxx.Client.csproj`, it works fine.

[2020-04-08 03:50] TravisKool commented on #20408
I am also interested in something like this.

Client's browser session is caching and not cleared when a new version is available..

[2020-04-08 04:48] benaadams commented on #20518
Safe and fast header parsing is ready for review #20562

[2020-04-08 04:49] benaadams commented on #20518
Alas Span doesn't allow this, saw some conversions in the asm due to it
[code]

[2020-04-08 05:16] wocar commented on #5456
The experience developing for blazor as of now is very painful. Edit, rebuild, refresh, debug...
Would gladly pay 9$ per month until this gets fixed, would boost productivity at least 5x.

When designing this please take into account that not all of us use visual studio. Thanks

[2020-04-08 05:42] ionoy commented on #5456
@wocar LiveSharp is already cross-platform and doesn't depend on any IDE. So you could theoretically use it with notepad.exe

[2020-04-08 05:55] kempcalalo commented on #17025
Experiencing the exact same issue if both windows and anonymous authentication are enabled.

[2020-04-08 06:10] mkArtakMSFT commented on #17025
Thanks for sharing a repro, @audacity76. Bringing this up for triage tomorrow.

[2020-04-08 06:12] mkArtakMSFT commented on #20479
@javiercn can you please investigate these? Thanks!

[2020-04-08 06:15] mkArtakMSFT commented on #20517
We will need a repro project, unless you experience this with a newly created project.

[2020-04-08 06:17] #20576 closed

[2020-04-08 06:40] HaoK commented on #7939
Resolved by https://github.com/dotnet/aspnetcore/pull/19975

[2020-04-08 06:40] #7939 closed

[2020-04-08 06:49] catlan commented on #20517
A newly created project adding these lines should do the trick:

[code]

Results in System.NotSupportedException: Encoding 1252 data could not be found. Make sure you have correct international codeset assembly installed and enabled.

[2020-04-08 06:52] Charnock opened #20637 "[Blazor] Cascading RouteData in Layout causes OnInitializedAsync to be called twice when navigating to another Layout"
### Describe the bug
When navigating between pages with two different layouts, if the page you're navigating from has a CascadingParameter for RouteData, OnInitializedAsync will be called twice on the page you're navigating to.

### To Reproduce
I've included a minimal repro [here](https://github.com/Charnock/BlazorWasmDoubleInitialize).  I've added logging to OnInitializedAsync of the Index, Coun

[2020-04-08 07:07] AlexTeixeira commented on #20572
Hi @javiercn,

Thanks for the answer.  So I should create a basic asp.net core app and then add blazor ? Am I right ?

I used the Blazor Server App template to create my app but I'm not able to serve some extra static folder from wwwroot or using staticFile middleware, is quite dissapointing...

And I can create a new webapp, but if I add blazor after all I should have the same issue because of th

[2020-04-08 07:32] ikkman commented on #20112
Any temporary solution?

[2020-04-08 07:57] yotkoKanchev opened #20639 "AccessFailedCount on Identity doesn't work"
### Further technical details
- ASP.NET Core 3.1, 3.0

[2020-04-08 07:59] javiercn commented on #20635
@mariocatch thanks for contacting us.

You can't create components directly since the framework manages their lifecycle for efficiency. Instead of your code, you do something like this:

TodoList.razor
[code]

TodoItem.razor
[code]

[2020-04-08 08:04] javiercn commented on #20570
@TPIvan accessing the HttpContext in server-side blazor applications is wrong, since "circuits" are not attached to a specific httpcontext.

I think you should be able to achieve what you want (per-scope "static" data) using an AsyncLocal field instead of a static. If you have anything that is tied to the session and don't need to access it statically, the recommendation is to declare a scoped ser

[2020-04-08 08:05] hishamco commented on #20633
@VBAndCs great work, I already start to build a Razor version for VB long time back, after awhile I saw your contribution for Vazor

Can we chat together will all the devs interested in VB.NET to see the best of the both approaches: Razor & XML literals and create an OSS suited for all VB developers

[2020-04-08 08:09] NTaylorMullen opened #20641 "Fix Razor LSP Editor document synchronization in cloud scenarios"
In Cloud scenarios we aren't guarunteed for all of our TextBuffer edits to happen as atomicly as we want. Basically, there's a whole bunch of pieces that attach to TextBuffers changed events and then "do something" based on those events whether it be notifying language servers or updating state. We need to wait until all changes have been completed in some fashion before delegating sub-document ev

[2020-04-08 09:12] simonziegler commented on #19050
Hi, is this still on your radar? I think the issue seems less problematic now. I tested a Blazor server app of mine built with your latest release and using a fresh firefox installation and didn't suffer any undue issue. I do notice however that when I click a button that redirects to Azure B2C for login there is a brief flash of SignalR's disconnected state, however subsequent functionality is co

[2020-04-08 09:23] dazinator commented on #20580
I'll close this - setting <StaticWebAssetBasePath> in each project to a unique directory resolves the immediate build issue. However that leads to #20605

[2020-04-08 09:23] #20580 closed

[2020-04-08 09:44] javiercn commented on #19050
@simonziegler we didn't have a chance to look into this issue yet since we are busy with other work. I'm not sure about the "disconected" flash that you mention, but when redirecting to an external page it is expected for the Blazor session to end and for a new session to be started after the user has authenticated. I'm not sure if that is what you are referring to or if there's anything else.

[2020-04-08 09:46] javiercn commented on #20112
This seems to come from your rendering process, so I believe you have a null ref in the code on the UI.

[2020-04-08 09:47] dazinator opened #20642 "Blazor UseBlazorFrameworkFiles and IFileProvider"
### Is your feature request related to a problem? Please describe.
I have multiple blazor SPA's referenced from the aspnet core host. I need to conditionally serve up the correct blazor SPA on the root request path "/" based on who the tenant is (determined by the URL).

I could do this in 3.2 preview 1 by configuring the tenant specific fork of the middleware pipeline to serve that tenants blazor

[2020-04-08 09:49] javiercn commented on #20572
Routing in Blazor is very low priority, so you shouldn't be affected by it. One way to be sure is to plug in your own static files middleware in front of the static files middleware and before app.UseRouting() and that should guarantee that you get to serve whatever file on disk you have.

That's the reason I asked you to start with an MVC app, so that you can troubleshoot your issue in a simplifi

[2020-04-08 09:50] javiercn commented on #20479
This was done already.

[2020-04-08 09:50] #20479 closed

[2020-04-08 09:54] javiercn commented on #20613
@GF-Huang thanks for contacting us.

This is by design. If you are using docker you either need to publish the application or manually map the static web assets paths that appear on the static web assets manifest when you boot up the container if you are trying to run the app without publishing.

[2020-04-08 09:54] #20613 closed

[2020-04-08 09:56] ikkman commented on #20112
This is strange. When I debug the code-behind (EmployeeDetails), this exception is always raised when I make the asynchronous call to the Web API.

[2020-04-08 09:58] adamsitnik commented on #20518
@benaadams updated breakdown for your PR:

![obraz](https://user-images.githubusercontent.com/6011991/78771297-3df5ec80-7990-11ea-92cc-6b1c30976bbf.png)

[2020-04-08 09:59] VladimirKhil commented on #20488
I have disabled all "reloadOnChange: true" options in my code and still sometimes get some high FSW activity in PerfView:

![3](https://user-images.githubusercontent.com/12496778/78771325-acd74380-7998-11ea-90ac-bc57836305eb.PNG)
![2](https://user-images.githubusercontent.com/12496778/78771330-ae087080-7998-11ea-9ea2-9ae7805b0733.PNG)
![1](https://user-images.githubusercontent.com/12496778/7877133

[2020-04-08 11:01] ice19942335 commented on #17277
This helped me!

[2020-04-08 11:01] AzizAK commented on #20636
Hello Bennan, Thanks for the fast response.
When i try to connect from the client using web socket as transport with skipping negotiation. nothing logs comes to the server. (locally works fine)
[code]

but when switching to long polling here is the logs:

Microsoft.AspNetCore.SignalR.Internal.DefaultHubDispatcher[1]
2020-04-08T10:59:47.723953947Z       Received hub invocation: InvocationMessage {

[2020-04-08 11:06] VBAndCs commented on #20633
@hishamco
Thanks. Maybe we can discuss this here https://gitter.im/VB-NET/community?source=orgpage

[2020-04-08 11:10] qkhanhpro opened #20643 "IDX20803 error with multiple authentication schemes"
### Describe the bug
Following this documentation https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-2.1 , I would like to enable multiple authority for a single controller so I added 2 Jwt bearer schemes and follow the document

    services.AddAuthorization(options =>
    {
        var defaultAuthorizationPolicyBuilder = new Authorization

[2020-04-08 12:54] GF-Huang commented on #20613
Could you tell me how do `manually map`? Thank you. 🌹

[2020-04-08 13:42] javiercn commented on #20642
Sorry, I'm failing to understand why we need all the plumbing that you are asking for. I've created a sample on how to do this that you can check here with a couple of options on how to do this.
Multiple apps:
https://github.com/javiercn/BlazorMultipleApps/blob/05a66d42c024baec7b9701b3eebf5ca8dd6f93b4/BlazorMultipleApps/Server/Startup.cs#L47-L58
Multiple apps using MapWhen
https://github.com/javie

[2020-04-08 14:17] SteveSandersonMS commented on #5456
@wocar If you're not using VS, then also consider `dotnet watch`: https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch

[2020-04-08 14:30] dbulic commented on #5456
@SteveSandersonMS - `dotnet watch` kills the state, as you undoubtedly know. LiveSharp actually pushes the changes without forcing a reload and so allows fine-tuning of the UI with instant feedback loop. I really wish you guys would implement something equivalent soon, it's sorely needed.

[2020-04-08 14:31] dazinator commented on #20642
@javiercn
Unless I am missing something, neither of those samples address serving the apps on the root path "/".

We use subdomain to distinguish tenants, so tenant A might be "foo.domain:80" and tenant B might be "bar.domain:80".

Is there a way currently to Map SPA1 to "/" for tenant A and SPA2 to "/" for tenant B?

I don't think there is becuase the assumption is that the static assets path, an

[2020-04-08 14:31] SteveSandersonMS commented on #5456
Yes of course. I wasn’t suggesting it’s the same as LiveSharp. Just making sure that @wocar was aware of the option.

[2020-04-08 14:45] smashedapples20 commented on #19254
Where is the announcement? Do you have a link?

[2020-04-08 14:57] javiercn commented on #20642
@dazinator I understand now. You can also do host based maching by updating the path after the match. See https://github.com/javiercn/BlazorMultipleApps/blob/master/BlazorMultipleApps/Server/Startup.cs#L48-L64

[2020-04-08 15:00] #20635 closed

[2020-04-08 15:08] danroth27 commented on #20633
@VBAndCs Thanks for sharing this with the community! Since there isn't any product work being tracked by this issue I'm going to go ahead and close it, but feel free to continue the discussion on Gitter.

[2020-04-08 15:08] #20633 closed

[2020-04-08 15:10] wmmihaa opened #20644 "WS-Federation not working with .Net Core 3.1"
### Describe the bug
We're migrating a ASP.net Framework (4.8) MVC app to .Net Core 3.1. The application is using WsFederation configured to use ADFS or AAD to route back the user to /account/ExternalLoginCallback. In the callback claims are fetched to populate a model and lastly redirected to /account/ExternalLoginConfirmation after which the user is created in our database (which we need).

We a

[2020-04-08 15:28] danobri commented on #8737
I agree with others - this does not feel like a backlog item, but something that should be given priority.  I just spent a bunch of time creating custom authorization attributes only to discover I can't apply them to the Razor page methods I designed them for.  I'll inject IAuthorizationService as a workaround, but really think this should be prioritized.

I don't see any reason this feature makes

[2020-04-08 15:47] dazinator commented on #20642
Thanks @javiercn - I'll investigate that approach further!
How do I restore your project though as it seems to require preview4 packages which aren't available on my nuget feeds - assume I need to add a nuget feed source?

I think the path re-writing has the potential to uncover other issues - our middleware pipeline is not so straight forward so I am slightly hesitant, hopefully as the duration o

[2020-04-08 15:49] guardrex commented on #20539
@snapfisher ... I'm working on that doc node almost daily, and there are some very rough spots right now during preview. For example, https://github.com/dotnet/AspNetCore.Docs/issues/17304 ...  **TL;DR** ... our portals are different, our portal scope configs are different, and our app `DefaultAccessTokenScopes` configs are different.

The reason that you see the `{SERVER API APP CLIENT ID}` in th

[2020-04-08 16:00] snapfisher commented on #20539
Originally, I just used the SP appID with the .default scope, which “should be used for any MSAL v1 endpoint, which is also supported by MSAL in v2”.  This is documented a bit.  You can find it here:

https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-v1-app-scopes

Specifically:

[cid:image001.png@01D60D9C.907479A0]

However, for what I did for the V2 segment.  I went to the “Ex

[2020-04-08 16:01] javiercn commented on #20642
It should work with preview3 stuff.

I didn't update the base paths of the apps. Those should be "/" on their respectives "index.html" files.

The path rewriting should be fine, if you just undo it after the static files middleware. Routing, controllers, etc would use the original path from "/". I haven't tried E2E the host version, since I don't want to mess with my host files, but I'm pretty con

[2020-04-08 16:08] #20512 closed

[2020-04-08 16:10] #20288 closed

[2020-04-08 16:10] ardacetinkaya opened #20645 "RemoteAttribute and submit button don't work together in first time"
I have a strange issue that I could not understand the reason.

I have an MVC application with some models. One of my view model has Remote data attribute in one property to do remote validation

[code]
In my controller, there is suitable post action;

[code]

Also I have a form which posts the view model, when I first click the button, just Remote validation post works with Valid state. But my ex

[2020-04-08 16:11] #20608 closed

[2020-04-08 16:11] #20609 closed

[2020-04-08 16:15] pranavkm opened #20646 "Update blazor-wasm templates to store auth config in appSettings.json"

[2020-04-08 16:24] BrennanConroy commented on #20636
If you aren't getting any logs when trying to connect with WebSockets, that likely means there is a proxy in the way preventing the WebSockets connection from getting to your app.

Are you on a corporate network?
How exactly are you hosting your app?
Can you go to https://breconwebsocket.azurewebsites.net/ and see if you connect with websockets there?

[2020-04-08 16:27] BrennanConroy commented on #20636
Do you happen to be hosting on a free plan?
Looks like WebSockets is not supported for free plans currently.
https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-faq#web-sockets

[2020-04-08 16:28] mkArtakMSFT commented on #20630
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-08 16:28] AzizAK commented on #20636
Yes im using free plan. i will try to switch to B1,

https://breconwebsocket.azurewebsites.net/ , is here a hub i can connect to?

[2020-04-08 16:29] mkArtakMSFT commented on #20620
Thanks for contacting us. This is the way we would recommend people to do it so closing this as resolved.

[2020-04-08 16:29] #20620 closed

[2020-04-08 16:30] BrennanConroy commented on #20636
The javascript will connect to the hub automatically when you go to the site.

[2020-04-08 16:31] mkArtakMSFT commented on #20618
Thanks for contacting us.
It's not clear what is the issue you're facing. Can you share a minimal repro project and point out what is the unexpected behavior you're observing?

Thanks!

[2020-04-08 16:32] AzizAK commented on #20636
Yes the site is working correctly (Signalr Connected). Also switch to B1 still same issue, maybe it take time to switch?

[2020-04-08 16:32] mmichtch commented on #20630
I see,in this case additional suggestion: it would be nice if mechanism will allow to define settings based on URL mask: something like api/* , odata/*  etc

[2020-04-08 16:36] mkArtakMSFT commented on #20618
We thought some more about this and we assume the existence of the `id` parameter on the `Edit` action is the confusing part. Is this it?

[2020-04-08 16:37] AzizAK commented on #20636
I tried to connect to Azure Signalr Service. still facing the same issue also.

[2020-04-08 16:40] anurse commented on #19254
Oops! Thanks for the reminder @smashedapples20 :). We posted the announcement but didn't link it in here. It's here: https://github.com/aspnet/Announcements/issues/411

[2020-04-08 16:57] clintnetwork commented on #20556
No final it's slash for sure, I replace slash with underscore and it works

[2020-04-08 16:59] BrennanConroy commented on #20636
What do the browser logs say? And what does the network tab show for the websocket request?

[2020-04-08 17:10] glararan opened #20648 "[Blazor server-side] OwningComponentBase disposed inside OnParametersSetAsync during Login/Logout"
### Describe the bug
I have custom authentication provider to provide refresh-less login/logout. If I login/logout on page inheriting **OwningComponentBase** then I get **System.ObjectDisposedException**

### To Reproduce
Not so sure about reproducing steps but mine steps are:
1) Going to page with child component having **OwningComponentBase**
2) Login/Logout
3) Receive **System.ObjectDisposedExc

[2020-04-08 17:11] vasont commented on #20620
The work around seems like an excessive amount of code regarding something that could be a simple addition to the binder 🤷‍♂ :(

[2020-04-08 17:15] christiannagel commented on #20002
@blowdart, implicit flow is no longer by default enabled in the new App registrations (preview) in Azure AD B2C. I just came across this, that the code generated from the templates no longer works with Azure AD B2C using the preview app registrations, without changing the authentication configuration to **implicit grant**.

With Azure AD B2C there's also a comment about this: "Recommended only if

[2020-04-08 17:17] blowdart commented on #20644
@Tratcher

[2020-04-08 17:18] blowdart commented on #20002
Going forward with 5.0 Azure will own the middleware and UI for this, so it's all in their hands now.

[2020-04-08 17:22] christiannagel commented on #20002
@blowdart - Thanks for the information. Is there a GitHub repo for this?

[2020-04-08 17:27] AzizAK commented on #20636
No the network tab does not show anything. only show on console error says (Error: Failed to start the connection: Error: There an error with the transport

[2020-04-08 17:36] BrennanConroy commented on #20636
There's not really much info here to go off of.

Can you collect a [network trace](https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1#network-traces) and share it? If you don't want to share it publicly you can email me at 'brecon at microsoft.com'

[2020-04-08 17:36] dazinator commented on #20642
Just a note to say that i[n my enhancements branch](https://github.com/dazinator/blazor-sample-multi-spa/tree/enhancements) I've made some more changes and now all that is required is this:

[code]

That's it... that lets you serve any blazor spa (static asset path), on any request path, and optionally enforces the fallback file route in one go. If you don't want the fallback file to be enforced t

[2020-04-08 17:46] blowdart commented on #20002
Indeed there is! https://github.com/AzureAD/microsoft-identity-web

[2020-04-08 17:59] AzizAK commented on #20636
When using Websockets i don't receive anything at fiddler :\, But this is the full error im getting

er:testingsignalr er$ node app.js
[2020-04-08T17:58:40.741Z] Debug: Starting HubConnection.
[2020-04-08T17:58:40.743Z] Debug: Starting connection with transfer format 'Text'.
Server running at http://127.0.0.1:3000/
[2020-04-08T17:58:41.877Z] Error: Failed to start the connection: Error: There was

[2020-04-08 18:04] BrennanConroy commented on #20636
Fiddler doesn't capture WebSockets traffic without you doing some work to enable it (I don't know how).

Wireshark should capture WebSockets though

[2020-04-08 18:05] Tratcher commented on #20644
Wreply should not refer to a controller, it should refer to a unique path handled by the auth middleware like "https://localhost:44390/signin-wsfed". You'll be redirected to the ExternalLoginCallback after the auth middleware has processed the wsfed response and generated the IdentityConstants.ExternalScheme cookie.

ASP.NET Core's implementation is stricter about this than the ASP.NET one was.

[2020-04-08 18:39] peterMaclean commented on #11975
I know this is a pretty old issue, but since it's still open and as someone who's just come across this problem myself, I just thought I'd point out that this likely due to the fact that you're using `RenderMode.ServerPrerendered` to render your component.

[code]

If my understanding is correct, due to the way `ServerPrerendered` works, you're effectively rendering the component twice, which woul

[2020-04-08 18:46] dumaisf opened #20650 "ASP.NET Identity Login does not work after implementing ASP.NET Core 3.1 Razor Pages SameSite cookie"
### Describe the bug
This project was working well until I Integrated **Work with SameSite cookies in ASP.NET Core** following this sample project:
[AspNetCore31RazorPages](https://github.com/blowdart/AspNetSameSiteSamples/tree/master/AspNetCore31RazorPages)
After that, the login does not work anymore.

### To Reproduce
I have a minimalistic GitHub Repo  of my ASP.NET Core 3.1 web application:
[AS

[2020-04-08 19:00] #20574 closed

[2020-04-08 19:14] TanayParikh commented on #20158
Task to track updates on VSLanguageServer for supporting sending hover events to multiple language server clients: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1095170

[2020-04-08 19:29] capesean commented on #17516
No idea how to find this in Task Manager, sorry. Can you provide more detail on how to find the process in question?

[2020-04-08 19:33] wmmihaa commented on #20644
So what tells the middleware to redirect to ExternalLoginCallback?

BTW...I cannot tell you how thankful I am for your reply... I've been banging my head for days!

[2020-04-08 19:36] Pilchie commented on #20649
This issue was moved to microsoft/msbuild#5255

[2020-04-08 19:36] #20649 closed

[2020-04-08 19:38] anurse commented on #17516
If your site is running in IIS Express, there *should* be an item in the Details tab of Task Manager for `iisexpress.exe`. Right click it and choose "Properties". Then share the "File version" entry from the "Details" tab (I was wrong about File Explorer, there's no need to look there; the Task Manager properties page has all the info):

If you can't find `iisexpress.exe` there, make sure your app

[2020-04-08 19:43] anurse commented on #13382
There was some confusion here between hot-reload of the server-side code for IIS-hosted apps and the Hot Module Replacement feature of the SPA Services package, which is what caused us to believe this issue was "fixed" earlier.

The latter (HMR in SPA Services) is deprecated in 3.0 as per https://github.com/aspnet/Announcements/issues/379 and no longer supported. The discussion thread (https://git

[2020-04-08 19:43] #13382 closed

[2020-04-08 19:44] NTaylorMullen opened #20651 "Auto-closing HTML elements in cloud scenarios doesn't modify guests cursor position to be inbetween tags."
Our initial design for auto-closing tags doesn't work on LiveShare guests because all of our client / middlelayer logic only controls the host's cursor and the guest has one of their own. I talked to the LiveShare folks on ways to control the guest cursor but there's nothing officially supported without running logic on the client.

I was thinking we could detect cloud scenarios, attach to TextBuf

[2020-04-08 19:45] capesean commented on #17516
Sorry, didn't know it was on the Details tab.

10.0.18362.1

[2020-04-08 19:45] wmmihaa commented on #20644
Never mind the last comment

[2020-04-08 19:47] Pilchie commented on #18994
Yes, closing.

[2020-04-08 19:47] #18994 closed

[2020-04-08 19:47] wmmihaa commented on #20644
I have progress now...
good news is my AuthenticateResult now comes back successfully, however the *GetExternalLoginInfoAsync* still results null :(

[2020-04-08 19:55] anurse commented on #17516
No problem! I wasn't clear before :).

[2020-04-08 20:13] Tratcher commented on #20644
Can you give us a more complete view of your Startup class and Account controller?

@HaoK

[2020-04-08 20:14] anurse commented on #19536
@joeloff any further thoughts here? It sounds like the install has been corrupted somehow.

[2020-04-08 20:15] anurse commented on #20611
@javiercn are you able to make this update? Trying to triage this :).

[2020-04-08 20:17] javiercn commented on #20611
It is marked as good first issue/help wanted. Can we leave it like that?

[2020-04-08 20:28] anurse commented on #20602
Triage notes: Moving to discussions for now. We don't plan to change the existing feature to support this at this time given the relatively low impact of the extra copy and the high cost of exposing these internals. Happy to keep discussing how an alternate FormFeature could be used here, but it's not something we plan on changing in the product at this time.

[2020-04-08 20:29] anurse commented on #20617
@BrennanConroy can you take a quick look at the package and see if you can repro this? I am having trouble locating the 3.0/3.1 bits in the site extension so there may be a packaging issue going on here :).

[2020-04-08 20:40] intech-paul commented on #20482
I've uploaded a sample to
https://github.com/intech-paul/BlazorAzureCosmosTest
(its the first time ive done this).

dependencies now...

![image](https://user-images.githubusercontent.com/56703036/78831348-959e6180-7a3d-11ea-94fb-e0e4c4c5e2b4.png)

I'm also seeing a similar sort of thing with influxdb clientapi library too, but it that case it goes into and endless loop in blazor executing the sam

[2020-04-08 20:41] anurse commented on #17516
Some updates here, after triaging.

We believe we have some thoughts on how this can occur. In general, the `_bodyOutput` value shouldn't be `null` when the disconnect handler runs, but there may be a race caused by a client quickly disconnecting which means the disconnect handler runs before the connect handler finishes all it's work. We're going to look in to making that logic more defensive to

[2020-04-08 20:47] DanielRoberts21 commented on #17516
As far as I've seen the issue, it's just an issue when debugging as it pauses the execution of the application, from a user perspective, nothing goes wrong.

[2020-04-08 20:51] ajaybhargavb commented on #20651
Interesting. What happens in the guest when the host starts typing after auto-closing happens?
`<div>host types here|</div>`

Does the guest now show this?
`<div></div>host types here|`

[2020-04-08 20:53] davidfowl commented on #20611
If you fill in what the comment is supposed to have. We shouldn’t leave the community to document our features

[2020-04-08 21:00] anurse commented on #17516
I'm curious, do you have the debugger configured to break on first-chance exceptions? This exception *should* be being caught further up the call stack, unless you have configured the debugger to break on first-chance exceptions I'd expect the debugger **not** to break.

[2020-04-08 21:03] DanielRoberts21 commented on #17516
I haven't changed the debuggers configuration at all so it will be whatever the default settings for it are. I'm not really sure where the configuration for it is

[2020-04-08 21:04] anurse commented on #20611
I'll just knock out a quick comment.

[2020-04-08 21:05] javiercn commented on #20611
https://github.com/dotnet/aspnetcore/pull/20653

[2020-04-08 21:05] javiercn commented on #20611
@anurse too late :)

[2020-04-08 21:06] anurse commented on #20611
![A young man looks dejected and walks across a ridge overlooking a city](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FoXB0K4oFw3fck%2Fgiphy.gif&f=1&nofb=1)

[2020-04-08 21:06] capesean commented on #17516
Maybe that's what happened in VS16.5.2, the debugger settings changed?

Because I've also noticed now when I hit an error in debug, then if I press F5, it stops a number of times thereafter, I have to F5 about 5-10 times before I get to the point where it would return a 500 error (or whatever).

I haven't looked into what changed or how to revert a setting(?) to go back to my previous debugging ex

[2020-04-08 21:06] BrannonKing opened #20654 "memory leak of BufferSegment in AspNetCore.SignalR.Client"
Minimal example:
[SignalRPerformance.zip](https://github.com/dotnet/aspnetcore/files/4452750/SignalRPerformance.zip)

### Describe the bug
The attached file demonstrates an issue where the client code continually slows and leaks large amounts of memory. The memory leak is not slow. This is using .NET Core 3.1 out-of-the-box SignalR for the server. There's no leak on the server. The client is using

[2020-04-08 21:09] anurse commented on #17516
Maybe. What do you all have showing in the "Exception Settings" tool window? Any exception checked in that list will break into the debugger as soon as it's thrown. If the exception isn't checked, it shouldn't cause the debugger to break unless it goes uncaught. You can filter this list using a search box in the top-right of the tool window. For example, I see the following for exceptions with "nu

[2020-04-08 21:15] capesean commented on #17516
I guess I should take off the NullReferenceException ?

![image](https://user-images.githubusercontent.com/642609/78834410-d1f6a100-79ee-11ea-931a-2d4e79a99a29.png)

[2020-04-08 21:17] capesean commented on #17516
Just hit it again

![image](https://user-images.githubusercontent.com/642609/78834595-200ba480-79ef-11ea-9f36-b3773a015ade.png)

[2020-04-08 21:33] davidfowl commented on #20654
This leak is client side?

[2020-04-08 22:00] anurse commented on #17516
Well, that is what's causing you to break into the debugger on this exception. You could also check that box in your second screenshot that says "Except when thrown from Microsoft.AspNetCore.Server.IIS" if you still want the debugger to break when a NullRef is thrown (as opposed to being uncaught) but not in this specific case.

[2020-04-08 22:00] #20403 closed

[2020-04-08 22:07] dazinator commented on #20645
Im no expert, not used Remote validation, but just a guess as I can't see your routing setup, but could it be that your [HttpPost] attribute needs a route template e.g.
`[HttpPost("AgeControl")]` ?

[2020-04-08 22:16] capesean commented on #17516
Thanks! I really need to brush up on my debugger understanding....

[2020-04-08 22:19] JunTaoLuo commented on #20626
Up to @pranavkm to close.

[2020-04-08 22:21] javiercn commented on #20648
@glararan thanks for contacting us.

It is likely this is caused by the call to `StateHasChanged()` after the async work you are doing. You should pass in a cancellation token to your `GetCategoryFiltersAsync` and to `GetCategoryFiltersAsync` and trigger cancellation if the component gets disposed.

[2020-04-08 22:29] dazinator commented on #20642
@javiercn I'll close this for now as I have two possible resolutions for now. Thanks you.

[2020-04-08 22:29] #20642 closed

[2020-04-08 22:31] andyedinborough commented on #20623
I'm sorry, I thought I had tested that.  I do get the exception after removing the call to `AddControllersAsServices()`, just in a different spot.

I absolutely agree. In all the time I've worked on project that required loading types from unknown assemblies, I've always had to use a try/catch around it due to all the reasons why some types could potentially not load.

[2020-04-08 22:32] glararan commented on #20648
@javiercn thanks for reply. Could you please provide link to docs how to prevent it? Im not so much familiar with cancellation token.

However wouldnt be simple put Products = await... into condition if Service is not disposed? Shouldnt OnParametersSetAsync be cancelled when OwningComponentBase<myservice> is disposed?

[2020-04-08 22:41] dazinator commented on #20648
@glararan
I think from your stack trace the call to StateHasChanged looks to be causing one of your services to be disposed - presumably because its calling Dispose on the component that inherits OwningConponentBase? Maybe try putting in some logging in your Dispose methods to see when this happens. If your OwningComponentBase us being disposed, it will dispose any services that it resolved from i

[2020-04-08 22:45] #19164 closed

[2020-04-08 22:46] javiercn opened #20656 "[Blazor][Wasm] MessageHandler APIs"
External piece tracking this workitem

We want to provide a message handler for use with our auth package that handled attaching the tokens directly to the outgoing requests.

[2020-04-08 22:48] #20575 closed

[2020-04-08 22:53] javiercn commented on #20436
@mihaimyh It is likely that the role claim in `RemoteAuthenticationOptions.UserOptions.RoleClaim` is not configured. If you set that to "role" you should be able to use RequireRole.

[2020-04-08 22:53] #20436 closed

[2020-04-08 23:07] wmmihaa commented on #20644
Everything works beautifully now. Again thank you @Tratcher.

[2020-04-08 23:10] BrennanConroy commented on #5353
Please let us know if this proposal will work with your scenarios or not.

# HubFilter

## User Scenarios

These are the core scenarios that users have asked for in GitHub issues:

* Logging before and after Hub method invocation
* Parameter validation before Hub method invocation
* Conditionally skip invoking Hub methods
* Handle exceptions from Hub method

Example of someones usage in ASP.NET Si

[2020-04-08 23:21] wocar commented on #5456
Thanks. Already downloaded Livesharp and works very well, would like to see something like that implemented.

Don’t get me wrong you guys have done an amazing work, however if you want honest feedback debugging blazor is a pain. I’ve used dotnet watch and it kinda works (it is slow) and I can’t debug (at least not with Rider) so as much as I would like to use blazor I can’t because of productivity

[2020-04-09 00:04] giggio opened #20661 "Web API Analyzers don't take web api conventions into consideration"
### Describe the bug
If you enable [web api analyzers](https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/analyzers?view=aspnetcore-3.1&tabs=visual-studio) and then [use web api conventions](https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/conventions?view=aspnetcore-3.1) you get incorrect diagnostics if you don't use the default conventions and add extra arguments to the a

[2020-04-09 00:08] pranavkm commented on #8737
Thank you for all your feedback. We appreciate that this is a particularly problematic pain point with Razor Pages. Unfortunately adding support for this feature would require fundamental changes to how Razor Pages works under the hoods<sup>[1]</sup>, as well as breaking API changes<sup>[2]</sup>. This needs a fairly detailed design and discussion before we can proceed, which we are unable to comm

[2020-04-09 00:10] giggio opened #20662 "Class level `ProducesResponseTypeAttribute` ignored by web api analyzers"
### Describe the bug
If you enable [web api analyzers](https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/analyzers?view=aspnetcore-3.1&tabs=visual-studio) and use `ProducesResponseTypeAttribute` at the class level it is ignored and you get incorrect diagnostics.

Diagnostic message:

[code]

### To Reproduce

Create a controller (notice the extra `apiVersion` argument):

[code]

### Fu

[2020-04-09 00:27] AzizAK commented on #20636
Thank you Brennan for your time. I really appreciate it.
i turned skip negotiation to false. then its working using azure signalr service I really don't know what is the issue. but now its fine by me. if you want to dig more see find the issue let me know.

[2020-04-09 00:33] BrennanConroy commented on #20636
That makes sense. I think it's in the Azure SignalR Service docs somewhere.

I'm still concerned about why your original scenario wasn't connecting with WebSockets. Since the request wasn't making it into the Apps logs, that means something before the App was stopping the WebSocket. Which usually means a proxy, either on your side or Azure's side.

[2020-04-09 00:34] AzizAK commented on #20636
Okay,
I will check if there is WebSockets traffic using Wireshark and get back with the details

[2020-04-09 00:45] #20644 closed

[2020-04-09 01:41] KirillOsenkov opened #20663 "[Razor] DefaultVisualStudioMacDocumentInfoProvider must set DocumentInfo.Folders to non-null"
VSMac is seeing a nullref here:
http://sourceroslyn.io/#Microsoft.CodeAnalysis.Workspaces/Workspace/Solution/DocumentInfo.cs,254

The problem is here:
https://github.com/dotnet/aspnetcore-tooling/blob/3d5f76c18eca38a56ad16611f7768b81a1617789/src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultVisualStudioMacDocumentInfoFactory.cs#L41

The temporary fix is here:
https://github.com/KirillOsenko

[2020-04-09 01:54] clintnetwork opened #20664 "[Blazor] Parameter and refresh problem"
Hi,

I do this simple page, it works but after a refresh the page is blank!

Any idea guys?

[code]

Edit: I'm actually in this mode.
[code]

Kind regards

[2020-04-09 01:54] clintnetwork commented on #20664
And also have a problem with `EditForm`!

[2020-04-09 01:54] KirillOsenkov opened #20665 "[Razor] Build for VSMac: embed .pdbs and generate better .mpack name"
When building the .mpack for VSMac two things would be really nice:

1. set the DebugType to `embedded` so we can exclude the .pdb files from the .mpack
2. Generate the name for the .mpack file using the following pattern:

`Razor-20200408.1-3d5f76c1-master.zip`

[2020-04-09 01:56] KirillOsenkov commented on #20665
The problem is we generate the .mpack from the same binaries we build Release on Windows, and those are portable. Not sure what's the best thing to do here - move the .mpack generation to the Mac leg? or have a separate build just for the .mpack and the .dlls that go into it?

Not sure what is Windows' side position on embedded .pdbs...

[2020-04-09 02:03] clintnetwork opened #20666 "[Blazor] EditForm and Parameters"
Hi,

I create an `EditForm` in a page with a `[Parameter]` and I get an error `400` when I submit the form.

The problem seems to happen when the route contains a slash, by example `/support/submit" the form submission does not works.

Kind regards

[2020-04-09 02:04] KirillOsenkov commented on #20665
For .mpack file name here's what we usually do:
https://github.com/KirillOsenkov/AspNetCore-Tooling/commit/cdfd68489900e1910dfc1f743a2c912172d10346

[2020-04-09 02:17] guylando opened #20668 "Kestrel behind iis is killed after 2 minutes on startup timeout, KeepAliveTimeout and requestTimeout don't work"
Hey,
I want the aspnet core process not to timeout on initialization after 2 minutes and I failed to do it because it seems that KeepAliveTimeout and requestTimeout don't work.
I added:

`
.UseKestrel(opts =>
                            {
                                opts.Limits.KeepAliveTimeout = TimeSpan.FromMinutes(30);
                            })
`
in startup.cs
and also web.config has:

[2020-04-09 02:39] guylando commented on #20668
found the solution at #18824

[2020-04-09 02:39] #20668 closed

[2020-04-09 02:59] yudielcurbelo commented on #20137
This has not been resolved. If you declare a string variable in the code behind (.razor.cs) and assign it in the .razor file you will get the warning.

[2020-04-09 03:05] dluc opened #20670 "OpenIdConnectHandler using unsecure cookies, and fix throws exception"
### Describe the bug

I'm running my service through a security review and I noticed that the cookies generated by ASP.NET are not safe, e.g. the `Secure` cookie flag is `false`.

I've been trying to force cookies to have the `Secure` flag turned on, but when I add the following code to the `Configure` method in Startup.cs, before `app.UseAuthentication()`:

[code]

my web application fails just a

[2020-04-09 03:23] clintnetwork opened #20671 "QueryHelpers"
Hi,

I use ParseQuery to get queries from the query string.
[code]

And I get this, I think it's a problem if this library does not parse correctly

[code]

Best regards

[2020-04-09 04:13] BrannonKing commented on #20654
Trying to capture the allocation stack from the profiler:
![image](https://user-images.githubusercontent.com/1509322/78857283-3103e800-79e6-11ea-8d0e-25411e989221.png)

[2020-04-09 04:16] BrannonKing commented on #20654
One more:
![image](https://user-images.githubusercontent.com/1509322/78857434-a1ab0480-79e6-11ea-83f2-7b43088f9466.png)

[2020-04-09 04:23] dougbu commented on #11128
@HaoK can this issue be closed now❔

[2020-04-09 05:08] BrannonKing commented on #20654
It still looks like it's the self-referential BufferSegment::Next that is the problem. Somehow we get a buffer loop.

While you're working on BufferSegment, here's some commentary on that: there's no need for the `_next` field nor is there any need for the `NextSegment` property. Just use the property on the base class. The public setter on `NextSegment` is a violation of the encapsulation princip

[2020-04-09 05:24] weichch opened #20672 "Object references are cached in NewtonsoftJsonOutputFormatter"
### Describe the bug
I guess this is more of a question than a bug or a feature request. The [original SO post](https://stackoverflow.com/questions/59832635/is-there-a-way-to-reset-id-in-json-response-for-each-http-request-jsonserializ) for cross reference.

I am using output formatters from `Newtonsoft.Json` with serializer settings:

[code]

When I use `StatusCode` method in controller actions t

[2020-04-09 05:28] HaoK commented on #11128
That depends since we don't match the appropriate RIDs for the appropriate helix machine yet.  But that doesn't really matter since our tests currently only use the managed code