[2021-09-21 06:09] #29645 closed

[2021-09-21 06:42] NTaylorMullen opened #36788 "Language server ProjectSnapshotManagerDispatcher doesn't teardown dedicated thread when parent server is disposed."
@davidwengier found that when you  close / reopen Razor solution a few times you end up with:

![image](https://user-images.githubusercontent.com/2008729/134118642-d0c6aaaf-c5e2-4ffc-8e81-88a5570d3486.png)

[2021-09-21 07:04] pr-benchmarks[bot] opened #36789 "Perf regression: json"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json [Fixed] | Json aspnet-citrine-lin | 09/19/2021 20:06:41 | 981,873 | 973,200 | -1.38 % (-13,595)  :thumbsdown:  | -4.05 σ | 3,356.84 | <details>    <summary>Changes</summary>     <table><th>Name</th

[2021-09-21 07:04] #36531 closed

[2021-09-21 07:04] pr-benchmarks[bot] opened #36790 "Startup regression: mvc"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| mvc [Fixed] | Plaintext Mvc aspnet-citrine-amd | 09/19/2021 20:14:57 | 212 | 224 | 5.00 % (11)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th></table></details> |

@sebastienro

[2021-09-21 08:41] voidMike opened #36793 "JS SignalR - HubConnection - Ability to unregister callbacks for connection states."
I was writing an internal plugin when I realized that there is no way to remove a callback added via `onreconnected`, save for creating a whole new hub connection. It could be useful to be able to add and remove temporary callbacks. For example inside a certain page, do some extra work if the connection is reestablished, unregister it before leaving the page.

The only workaround for now would be

[2021-09-21 09:51] noamyogev84 commented on #36198
hey, i'll be happy to tackle this one 🎉

[2021-09-21 10:08] vsfeedback opened #36795 "Component script not being copied to _content folder"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Component-script-not-being-copied-to-_co/1521632)._

---
Required JavaScript files are not copied to the _content folder for Blazor WASM applications when debugging.  Included are 3 screenshots: 2 for VS 2022 preview showing the error message and the missing file in the _content folder;

[2021-09-21 10:09] javiercn commented on #36795
Thanks for contacting us.

Could you provide more info about your environment. What version of dotnet you are using as well as a minimal repro project in the form of a publicly accessible github repository that demonstrates the issue.

[2021-09-21 10:19] thilap-web commented on #16965
any workarounds on this ?

[2021-09-21 10:29] Sigve84 opened #36797 "Blazor - Safari Ipad - RangeError: Maximum call stack size exceeded"
I am getting an RangeError: Maximum call stack size exceeded in my blazor WASM. I am not using server component. error on Ipad. It works fine on Safari Mac, other ios devices, and Android.

Device
ModelNumber: MR7F2KN/A
Model Name: Ipad(6th Generation)
Os: 13.2.3

Blazor:

5.0.3 and 5.0.10, both have this issue:

<PackageReference Include="BlazorApplicationInsights" Version="1.2.0" /> <PackageRefe

[2021-09-21 11:00] #36741 closed

[2021-09-21 11:00] #36704 closed

[2021-09-21 11:00] #36693 closed

[2021-09-21 11:07] DanielStout5 commented on #36761
Ahh, perfect! That's simpler than the workaround I had found of adding:

[code]

As for my use case: This particular project is a NuGet package that contains an area of the application for administrators.

Since it is not for public users, a slightly slower response time for those assets is acceptable - and for backwards compatibility we have many sites using this NuGet package that request assets

[2021-09-21 12:00] #36604 closed

[2021-09-21 12:11] Mike-E-angelo opened #36799 "Task.Delay/Task.Yield Results in Unresponsive Blazor Application on Callback (`@onclick`)"
### Describe the bug
Blazor will successfully execute an asynchronous method containing `Task.Delay` or `Task.Yield` on pre-render and render, but silently fails when executed on a event callback such as one invoked via an `@onclick` attribute.

When failing, the application becomes unresponsive without any exception thrown, and a page refresh is required.

### To Reproduce

I have been spending t

[2021-09-21 12:57] javiercn commented on #36799
@Mike-E-angelo thanks for contacting us.

I've looked a bit at what you are doing on the repo and there seems to be a lot of code involving your own task management.

If you remove all your code and do a `Task.Yield`, does it break?

[2021-09-21 13:30] thomasclaudiushuber opened #36800 "New Project Dialog in VS2022: Language filter dropdown should NOT contain Angular/React/Vue"
In the latest Version of VS2022, the language filter dropdown contains the web frameworks Angular/React/Vue, which is wrong imo:

![image](https://user-images.githubusercontent.com/7116546/134179436-b67cad74-f765-4448-a5c0-9e340d3d4417.png)

I think there is something wrong with the SPA templates or with the filter of VS. This issue was also reported here as VS feedback: https://developercommunity

[2021-09-21 13:41] n1developer-ubt opened #36801 "Chrome (93) Disconnect SignalR Connection Exactly After 5 Minutes"
I have seen that this bug is already fixed in new updates but unfortunately I still have this issue, the chrome browser disconnects the SignalR connection exactly after 5 minutes, it does not matter if the tab is active or not, the connection will be closed exactly after 5 minutes. The error I get on the client-side (Browser console is: Error: **Websocket closed with status code: 1006**)
SignalR J

[2021-09-21 14:08] YakupIpek commented on #36661
I hope there will be a fix for it soon. I am in waiting state :(

[2021-09-21 14:43] Mike-E-angelo commented on #36799
Thank you for your quick reply and valuable feedback @javiercn.

I took your feedback and investigated further.

If I reduce everything to a `Func<Task<string>>`, then it works as expected on a callback.  However, if I [utilize a simple wrapper around this delegate](https://github.com/Mike-E-angelo/Stash/blob/60b89f862a1b13d55be0ed183c6208489c96af85/Blazor.DelayYield.Unresponsive/RazorClassLibrary

[2021-09-21 14:58] Xyncgas opened #36804 "parallel.For in blazor"
Is blazor single threaded and can it use parallel.For?
And if blazor is single threaded, can we get multi-threaded support, in .net 6/7

[2021-09-21 15:00] javiercn commented on #36804
@Xyncgas thanks for contacting us.

Blazor webassembly is single threaded as threads are not supported in all browsers wasm runtimes. We have a tracking issue for it already [here](https://github.com/dotnet/aspnetcore/issues/17730)

[2021-09-21 15:00] #36804 closed

[2021-09-21 15:15] GearTheWorld commented on #36552
Hi,

Is there a solution right now or we have to wait?

[2021-09-21 15:37] TanayParikh opened #36805 "Explore removing inline module script for Blazor Wasm"
https://github.com/dotnet/aspnetcore/blob/57501251222b199597b9ac16888f362a69eb13c1/src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts#L201-L215

[2021-09-21 15:48] TanayParikh commented on #34428
Okay having https://github.com/dotnet/aspnetcore/pull/36771 close out this issue. With that PR, `unsafe-inline` should no longer be required.

Created https://github.com/dotnet/aspnetcore/issues/36805 to investigate remove the inline module script in Blazor Wasm, in the interim the `sha256-v8v3RKRPmN4odZ1CWM5gw80QKPCCWMcpNeOmimNL2AA=` hash can be used in the CSP.

Lastly, created https://github.co

[2021-09-21 15:55] javiercn commented on #36799
@Mike-E-angelo there's a lot of code in your sample and it's not clear what you are trying to accomplish nor that its a framework bug.

For us to make progress in this issue, we need a truly minimal repro that doesn't involve all the machinery you are adding on your sample, otherwise we don't know if we are debugging an issue in the framework or in your application's code.

I would suggest you add

[2021-09-21 16:18] mdmoura opened #36806 "Asp.Net Core Identity - request canceled when getting back to `signin-google` ... Only sometimes"
I have 3 applications. (Authority, Resource and Client) using Google to login:

    Authority - ASP.NET Core 5 with ASP.NET Identity and OpenIdDict - Runs on https://localhost:5000
    Resource API - ASP.NET Core 5 - Runs on https://localhost:5001
    Client - ASP.NET Core 5 with Angular 12 SPA - Runs on https://localhost:5002

When I start the process, in the Authority application, to login with

[2021-09-21 16:22] BhavanaMSFT opened #36807 "signalr::websocket_transport’s start()'s lambda captures the transport as a shared_ptr"
If a caller provides their own networking stack, they may inadvertently hang on to a reference to signalr's transport object if they happen to cache the functor (which in turn captures transport as a shared_ptr)  in websocket_client::start(). This creates a circular dependency and signalr's transport never gets cleaned up.

[2021-09-21 16:28] #36780 closed

[2021-09-21 16:29] BhavanaMSFT opened #36808 "Access violation in cleaning up transport in connection_impl::stop_connection()"
Opening this tracking item as an ongoing investigation. Please feel free to close this if the outcome of the investigation suggests that the issue can be mitigated without changing signalr code.

The websocket_client->stop() finds itself accessing dead memory and crashes. The crash seems to stem from setting the connection_impl's m_transport to nullptr in connection_impl::stop_connection() method.

[2021-09-21 16:30] SteveSandersonMS opened #36809 "SignalR Karma test issues warning about deprecated API"
As of the change at https://github.com/dotnet/aspnetcore/pull/36802, the `run-tests.ts` code logs the following warning:

[code]

This refers to the code at https://github.com/dotnet/aspnetcore/blob/302cfd93d8ff643662c0f8f4690b09cd7408d1d3/src/SignalR/clients/ts/FunctionalTests/scripts/run-tests.ts#L212

Although this doesn't cause any build or test failures, it suggests that at some point, Karma

[2021-09-21 16:30] vinaykapoor commented on #36652
I was able to replicate the issue. I am using a Kestrel to listen via web socket using the following `web builder.UseKestrel(opts=>opts.ListenAnyIp())`. When I try to connect to the server from the client using the IP it works . But when I try to connect using machine name, the client does not connect. It was a change that was affected in .NET 6. If you change the platform target to .net5 it conne

[2021-09-21 16:32] vinaykapoor commented on #36652
I don't think the issue is with signalr , its with Kestrel on .NET 6. Please have a look at this. On the client front I receive a target principle name is incorrect.

[2021-09-21 16:33] mkArtakMSFT commented on #36767
Thanks for contacting us. We're unable to reproduce the issue. Please share a minimal repro project hosted in GitHub, so that we can investigate this.
Also, please clarify what are you referring to by "unable to input"? What are the specific actions that you're taking in the browser that do not work as expected?

[2021-09-21 16:33] vinaykapoor commented on #36652
If there has to be additional steps that need to be implemented I will appreciate if there could be a write up explaining this change to .net 6, considering it works fine on .NET 5.

[2021-09-21 16:35] mkArtakMSFT commented on #36755
@SireMartin can you try to add the `type=button` attribute to the `<button>` tag? This is most probably caused by pure HTML behavior.

[2021-09-21 16:37] drma-dev commented on #36714
@javiercn  can I make a demo and send it to you, to see if you can see an alternative way to solve this? :)

[2021-09-21 16:37] mkArtakMSFT commented on #36723
Thanks @sergiojrdotnet . Did you by any chance try this from VS and/or know whether that will work?

[2021-09-21 16:44] Mike-E-angelo commented on #36799
I am super appreciative of your patience here, @javiercn.  It's been a long 48 hours for me.  I found the problem and it was hidden away in a pattern match.  At one point I had that set to `IsCompleted` but sometime during my extensive editing (and re-editing) [I moved that to the `Result` property ](https://github.com/Mike-E-angelo/Stash/blob/master/Blazor.DelayYield.Unresponsive/RazorClassLibrar

[2021-09-21 16:44] #36799 closed

[2021-09-21 16:46] mkArtakMSFT commented on #36689
@NTaylorMullen can you share info about what is the impact and severity of this?
Moving this to .NET 7 planning milestone for future consideration. In the meantime, if you believe there is a critical factor here that I'm missing, please clear the milestone so that we can see this again.

[2021-09-21 16:53] ssarin3194 commented on #36686
I was able to compile my application using zipdeploy by building the app using

msbuild "<>.csproj" /p:configuration="release";platform="x64";DeployOnBuild=true and zipping the publish package generated using this command.

[2021-09-21 16:53] #36686 closed

[2021-09-21 17:19] andrew-tevent commented on #29303
@SQL-MisterMagoo Did you figure out which part of the web.config was making the difference? i.e. what was it that was causing the client to perform so badly?

[2021-09-21 17:22] mkArtakMSFT commented on #33636
Thanks  for contacting us, @phillipmunn.
We've changed a lot in this area. Can you please try out the latest RC1 release and let us know if you still face this issue? Thanks!

[2021-09-21 17:40] #34428 closed

[2021-09-21 17:44] mkArtakMSFT commented on #34607
@NCarlsonMSFT unfortunately we are unable to prioritize this fix for the upcoming 6.0 release. Given that there is a relatively easy workaround that you can take on your side, we're moving this issue further to consider for .NET 7 release.

[2021-09-21 17:47] mkArtakMSFT commented on #32733
Closing as the underlying roslyn issue has been fixed.

[2021-09-21 17:47] #32733 closed

[2021-09-21 17:49] BrennanConroy opened #36810 "[Discussion] Announcement: TryParse and BindAsync discovery on Map* parameters will throw for invalid methods"
Discussion for announcement: https://github.com/aspnet/Announcements/issues/472

### Description

Starting in RC2, when we look for `TryParse` or `BindAsync` methods on your parameter types if we don't find a valid one we will also look for invalid ones and throw at startup to let you know that you might have written your method signature incorrectly to avoid unexpected behavior.

### Version

.NE

[2021-09-21 17:51] omuleanu opened #36811 "Blazor, methods not called after moving to another page, no errors in console also"
I have a custom Popup component, which I call like this:
[code]
and I set the buttons in the constructor like this:
[code]
if I open the popup and after move to another page ( i.e. from https://localhost:44356/ to https://localhost:44356/todo )
the popup will remain open, but If I click the buttons they won't do anything anymore because we're on a different page which doesn't have `popupRef` and `

[2021-09-21 19:04] #36670 closed

[2021-09-21 19:05] HaoK opened #36812 "BlazorWasm IdentityServer fetch rejects clients in Production"
Found via https://github.com/aspnet/AspNetCore-ManualTests/issues/913

Simplified repro:

[code]

Go to fetch (expect redirect to login, instead get 500/error with the following server error:

[code]

@javiercn is this also potentially related to the customization of identity server not being what we expect anymore?

I did verify that things look fine in the startup of the app, i.e.:

[code]

The

[2021-09-21 19:08] drma-dev commented on #36714
[https://github.com/drma-dev/HtmlFragment](https://github.com/drma-dev/HtmlFragment)

[2021-09-21 19:42] HaoK opened #36814 "404 when running blazorwasm -ho not in Development"
Ran into this while investigating https://github.com/dotnet/aspnetcore/issues/36812

Repro steps (using `6.0.100-rc.2.21471.6` [C:\Program Files\dotnet\sdk]):

[code]

- edit launchsettings to change ASPNETCORE_ENVIRONMENT to Staging, or otherwise change hosting environment to not development)
- Hit the server and see a 404
- Things work fine in development

I verified that doing this against `dot

[2021-09-21 19:52] malylemire1 opened #36815 "Add a CaptureStartupErrors overload with RequestDelegate."
## Background and Motivation

Allow to return Json or a custom error page on startup errors.

## Proposed API

.CaptureStartupErrors(context =>
{
    context.Response.StatusCode = StatusCodes.Status500InternalServerError;
    return context.ExecuteObjectResultAsync(exception);
})

[2021-09-21 20:20] GearTheWorld commented on #36552
Where do you put that code?

[2021-09-21 20:22] pranavkm commented on #36552
@GearTheWorld this would go in the project file (.csproj) that you're seeing this error in.

[2021-09-21 20:24] TanayParikh commented on #36471
Should we move to validating the GA bits rather than RC? It may have additional patches (and better reflect the final release).

https://aka.ms/dotnet/6.0.1xx/daily/dotnet-sdk-win-x64.exe

[code]

[2021-09-21 20:41] TanayParikh opened #36817 "Improve Blazor Server Logging for the Long Polling Transport"
We reverted enforcing WebSocket based transports via #36656.

We need to add improved logging to ensure developers are aware that Long Polling is being utilized rather than WebSockets.

[2021-09-21 20:44] #36787 closed

[2021-09-21 21:00] #36749 closed

[2021-09-21 21:10] martincostello commented on #36815
This would be good to be able to customise the response in code like that, but it might be tricky to implement if startup fails as the app probably won't have gotten far enough for the services needed to run a request delegate to be available.

[2021-09-21 21:17] GearTheWorld commented on #36552
Great it works, thanx!

[2021-09-21 21:35] halter73 commented on #36763
This looks like this is a dupe of https://github.com/mono/mono/issues/20805. Does [this workaround](https://github.com/mono/mono/issues/20805#issuecomment-791440473) solve your issue?

[2021-09-21 21:40] halter73 commented on #36801
We think you might be referring to a timer throttling issue that doesn't appear to be related to an ungraceful websocket close. Is there any firewall/proxy/load-balancer/... between the server and client?

Can you enable (preferably trace-level) [SignalR Core Logging](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-5.0) on the [client](https://docs.microsoft.com/

[2021-09-21 21:41] DamianEdwards opened #36819 "Both flavors of webapi project should use Swashbuckle defaults"
Right now, the controllers flavor of the webapi project template includes code to configure Swashbuckle (Swagger/OpenAPI) explicitly rather than relying on library defaults. The minimal flavor of the template does not.

Both flavors should be consistent with how they use Swashbuckle, relying on the library defaults and include a comment pointing to our official docs on how to configure it further.

[2021-09-21 21:46] dougbu commented on #22723
We may be able to do something here but I defer to @mkArtakMSFT and his team on whether the larger org ever gets to it. @dotnet/aspnet-build likely will not have time to do more than review the good work @mkArtakMSFT's team does.

[2021-09-21 21:49] dougbu commented on #24687
This may be a good idea but isn't something we should handle on a per-repo basis. Suggest moving this issue to dotnet/core-eng or dotnet/arcade. @markwilkie should this be something on your radar e.g. part of the M1 telemetry you're working on❔

If I don't hear back, I'll move this to Core-Eng tomorrow.

[2021-09-21 21:51] TanayParikh opened #36821 "Razor VSCode `?` commit char conflicts with `??` Null Coalescing Operator"
I was trying to write `??` but after the first `?`, it interpreted the second `?` as a completion commit char, yielding `?{COMPLETION_ITEM}?`

O# in a C# file seems to exclude `?` from being a completion trigger char, perhaps razor may want to do the same?

https://user-images.githubusercontent.com/14852843/134252469-93a5f96c-9740-4b05-bf16-e75c153c28d3.mov

[2021-09-21 21:52] dougbu commented on #22951
Likely this was a VS installation problem that we've avoided for quite some time.

[2021-09-21 21:52] #22951 closed

[2021-09-21 21:52] halter73 commented on #36650
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the 'asp.net-core' tag.

[2021-09-21 21:53] dougbu commented on #30760
Errors are definitely annoying but we can wade through them forever more, just as we have been.

[2021-09-21 21:53] #30760 closed

[2021-09-21 21:55] pranavkm commented on #36814
That's probably because the StaticWebAssets middleware is not configured in non-Dev environments. You're expected to configure it manually using `UseStaticWebAssets()` or publish the app.

[2021-09-21 22:01] dougbu commented on #33534
@alexperovich can we use `enableSourceIndex` at a lower level e.g. in a single job that already produces a source index❔

Separately (kinda) we build multiple times to handle native assets and avoid desktop `msbuild` otherwise. Our builds therefore produce a minimum of three binary logs where binlogs are enabled (and we don't enable them often -- too big). Does the source index need just the binar

[2021-09-21 22:13] dougbu commented on #13586
This tracks work we have incentive to handle anytime soon. Let's deal w/ the partner ecosystem if and when the exact guidance becomes clear at the .NET level.

[2021-09-21 22:13] #13586 closed

[2021-09-21 22:20] dougbu commented on #18931
@Anipik are there any plans to have the package validation SDK help everyone out in the areas mentioned above❔ Should we have such plans to address this centrally❔

[2021-09-21 22:21] dougbu commented on #18931
Marking as blocked because this isn't something we (the ASP.NET team) should handle alone

[2021-09-21 22:22] alexperovich commented on #33534
it only needs to be in one job, and that job can only build C#, or whatever you need. The only requirement is that it produce a binlog in the normal place that contains all the csc commands for the code that should show up on source.dot.net

[2021-09-21 22:22] dougbu commented on #22788
Not a huge deal and will likely mean creation of more images for us or Core-Eng to manage

[2021-09-21 22:22] #22788 closed

[2021-09-21 22:23] alexperovich commented on #33534
it will actually read all the binlogs, so if it produces multiple that is fine, but one is faster.

[2021-09-21 22:26] dougbu commented on #35430
This should be complete. Please reopen if we're forgetting something.

[2021-09-21 22:26] #35430 closed

[2021-09-21 22:29] dougbu commented on #26821
What are the queue names and can you handle our load for (say) daily runs❔

I'm also forgetting which branches (versions) this is important for. Please remind us.

[2021-09-21 22:30] dougbu commented on #26821
Separately, what action should(s) we take in dotnet/aspnetcore on unchecked items aside from testing❔

[2021-09-21 22:32] HaoK commented on #36814
Ok cool, so this is expected

[2021-09-21 22:32] #36814 closed

[2021-09-21 22:32] TanayParikh opened #36822 "VSCode: Razor implicit/explicit expressions in HTML attributes are not colored properly"
This was originally fixed by updating the textmate grammar to account for implicit/explicit expressions in HTML attributes. If my memory serves me correctly, the textmate grammar was removed at some point due to semantic colorization. As a result, we don't have colorization in attributes again. Didn't see another issue for this already, so created this.

![image](https://user-images.githubusercont

[2021-09-21 23:01] #36692 closed

[2021-09-21 23:01] #36788 closed

[2021-09-21 23:05] pranavkm commented on #33325
@doggy8088, thanks for trying this out with the newest builds. We'll use https://github.com/dotnet/roslyn/issues/56592 to track addressing this as it's not specific to MVC. In the meanwhile, you could consider using `ViewData` instead to pass contents to your views. We generally recommend it over `ViewBag` anyway since it's ever so slightly better performing.

[2021-09-21 23:35] sergiojrdotnet commented on #36723
@mkArtakMSFT It didn't work either

https://user-images.githubusercontent.com/72770006/134261171-b9158ad0-d098-4637-a972-1a54cb87f1b6.mp4

[2021-09-21 23:48] NTaylorMullen commented on #36689
Ya this is pretty critical it means that there are "holes" in the SyntaxTree that can't be reasoned about. The end-user impact is either some Razor features entirely breaking down in those areas (could result in documents getting trashed) or simply features not lighting up when expected.

[2021-09-22 00:24] MisinformedDNA commented on #36723
I'm seeing the same issue. Neither VS nor `dotnet watch` are working.

[2021-09-22 00:49] Anipik commented on #18931
we are locked in for net6.0, we have not currently started making a list of features we are planning for 7.0 but certainly we can discuss about adding these validations.

cc @safern @ericstj @joperezr

[2021-09-22 03:14] TanayParikh opened #36825 "[Hot Reload] Source Generator Based Error Breaks Hot Reload"
https://user-images.githubusercontent.com/14852843/134277357-c850c2ab-e02f-41f9-8eaa-d7926c670b96.mov

Repro:

Start with:

[code]

This doesn't give any error in VSCode, but it does give the source generator error:
[code]

However, even after removing the offending `<input>` tag entirely the source generator error persists (perhaps it should've been marked as a rude edit?). Must exit `dotnet watc

[2021-09-22 03:16] TanayParikh commented on #36825
Is this a known issue @NTaylorMullen or should I create a separate issue for the missing VSCode diagnostic?

[2021-09-22 03:20] TanayParikh commented on #36821
https://github.com/dotnet/aspnetcore-tooling/blob/ddaa8903e03538fbffcda72169c29df1e18cf74f/src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/CompletionHandler.cs#L25

Hmm looks like it's already excluded.

[2021-09-22 04:17] NTaylorMullen commented on #36825
Not a known issue that I know of at least. Sounds like SourceGenerator errors aren't being propagated to the IDE in VSCode? Probably an omnisharp-roslyn thing if I had to guess

[2021-09-22 05:14] marcuslindblom opened #36829 "After migrating to .NET 6 RC 1 No service for type Microsoft.Extensions.Configuration.IConfiguration can be found"
In my `IServiceCollection` extension I have this code.

[code]

This breaks ofter migrating to .NET 6 using the `Program.cs` only and no `Startup` class.
Do I need to register this in my extension as well? How can I make this work for .NET 5 and .NET 6?

[2021-09-22 05:17] davidfowl commented on #36829
Why is extension method building the `IServiceProvider`?

[2021-09-22 05:33] IvanJosipovic opened #36830 ".Net 6 rc1 trimmer breaks WASM Azure AD Auth"
### Describe the bug
Trimming breaks Blazor Wasm with Azure AD Auth with .Net 6 rc1

### To Reproduce
- Create a Blazor Wasm SingleOrg app
  - dotnet new blazorwasm -au SingleOrg --client-id "{guid}" -o auth_bug --tenant-id "{guid}"
- Publish App
  - dotnet publish
- Navigate to "bin\Debug\net6.0\publish\wwwroot"
- Run http server
  - dotnet tool install --global dotnet-serve
  - dotnet-serve --po

[2021-09-22 05:46] marcuslindblom commented on #36829
@davidfowl In .NET 5, I thought I needed to?

[2021-09-22 05:48] IvanJosipovic commented on #36830
Also reproduced with the nightly rc2
.NET SDK (reflecting any global.json):
 Version:   6.0.100-rc.2.21471.56
 Commit:    3d8501fba2

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.22000
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\6.0.100-rc.2.21471.56\

Host (useful for support):
  Version: 6.0.0-rc.2.21470.23
  Commit:  826f81a11a
![imag

[2021-09-22 05:52] marcuslindblom commented on #36829
So to be clear, this extension method is in a library I use both in .NET 5 and 6

[2021-09-22 05:53] davidfowl commented on #36829
Typically extension methods on IServiceCollection that need `IConfiguration` take in the user provided configuration via an argument. Building the service provider, builds a temporary throw away service provider and can results in a couple of problems:
- Multiple singleton instances
- Not disposing `IDisposable` services resolved when trying to resolve services from this temporary container.

Call

[2021-09-22 06:00] marcuslindblom commented on #36829
Ok, so it's ok to do this but it's an anti-pattern, right?

This is how I use the configuration and the arguments. From a best practice stand point, is it possible to make this code compliant with both .NET 5 and 6?

[code]

[2021-09-22 06:03] IvanJosipovic commented on #36830
Same with current rtm build
![image](https://user-images.githubusercontent.com/9521987/134290906-37320f5d-2aac-4cc2-a1b6-b9ef5fdc293e.png)

[2021-09-22 06:10] davidfowl commented on #36829
Like so.

[code]

cc @IEvangelist we have a doc for guidance on how to build these sorts of libraries now right?

[2021-09-22 06:26] foximoxi opened #36831 "HTML input limited functionality in BlazorWebView"
### Describe the bug
BlazorWebView (WinForms) .NET 6 RC1 does not support any operations on input box (copy, paste, cursor navigation).

### To Reproduce
I can provide a code but you can see this in any your test app with input box.
I use https://github.com/edandersen/blazor-desktop-crossplatform-sample repo.
Simply add `<input type="text">` to any page to see the results.

### Further technical d

[2021-09-22 06:36] IvanJosipovic commented on #36830
duplicate of #33312

[2021-09-22 06:36] #36830 closed

[2021-09-22 06:43] SireMartin commented on #36755
adding type=button to the button fixes the problem.
I am curious about this html issue. Do you have any information about the reason of this behaviour?

[2021-09-22 06:47] marcuslindblom commented on #36829
Ok, thanks. Changed my configuration to your proposed solution.

[2021-09-22 06:57] davidfowl commented on #36829
No problem. I'm gonna fix this anyway since it's a compatibility break.

[2021-09-22 07:04] #36789 closed

[2021-09-22 07:04] #36737 closed

[2021-09-22 07:04] #36722 closed

[2021-09-22 07:31] SQL-MisterMagoo commented on #29303
@andrew-tevent The web.config that had been created by Visual Studio/Azure Publish did not have Brotli compression support I think - this is an example of the default it was producing

[code]

And the example from Microsoft Docs, which improved things:
[code]

[2021-09-22 07:34] YarekTyshchenko opened #36833 "`Microsoft.Extensions.Logging`'s `ILogger` should support providing a message in a function"
### Is your feature request related to a problem? Please describe.
Some log messages require computation to generate that is wasted if the log level is turned off. Example: Trace logging that serialises large objects to display in logs, those serialisations still run when the trace logging is turned off

### Describe the solution you'd like
Allow wrapping the message in a closure / lambda:

`this.

[2021-09-22 07:34] Webreaper commented on #36535
Just to close the loop - confirmed that Blazor works fine without `UseRazorSourceGenerator=false` within VS2022 for Mac build 3569.

[2021-09-22 07:41] kapilbhudhia commented on #28547
I too am facing the exact same issue, had been breaking my head over what s wrong with my application. The application behaves as expected when using chrome/Edge.

[2021-09-22 08:19] andrew-tevent commented on #29303
@SQL-MisterMagoo Thanks! So you think client was much slower because it was using gzip instead of brotli?

I saw the differences in the web.config - I was wondering if you knew specifically which bits fixed it?

I thought compression was enabled in IIS using the default web.config that Blazor creates? Certainly I see gzip encoding in the HTTP requests in the browser.

I wanted to understand which

[2021-09-22 08:26] gfoidl commented on #36833
Just check
[code]
before the computation and/or the call to the logger?

For .NET 6 onwards you could use `LoggerMessage.Define` or the (new) Logging-Sourcegenerator, as they provide the possibility to `skipEnabledCheck` to get another perf-boost. See https://github.com/dotnet/runtime/issues/45290 for more context for this, and [Microsoft.Extensions.Logging compile-time source generator](https://d

[2021-09-22 08:46] phillipmunn commented on #33636
I can no longer reproduce this issue in the latest RC1 release. So I believe this issue can be closed.

[2021-09-22 08:46] #33636 closed

[2021-09-22 09:14] ta264 opened #36834 "Building tag 5.0.10 fails installing dotnet"
### Describe the bug
Trying to build aspnetcore from the 5.0.10 tag fails with the following error:

[code]

### To Reproduce
- Checkout `v5.0.10` from the repository
- Run `./build.sh -c Release -ci -pack -nobl /p:CrossgenOutput=false /p:OfficialBuildId=$(date +%Y%m%d)-99`

### Further technical details
Perhaps related to https://github.com/dotnet/runtime/issues/59250 If the release tag process f

[2021-09-22 09:18] javiercn commented on #36833
@YarekTyshchenko thanks for contacting us.

Moving this issue to the runtime repo so that they can give you a final answer.

However, @gfoidl answer is correct here. You should check using `IsEnabled` if you are doing something expensive.

[2021-09-22 09:18] javiercn commented on #36834
@ta264 thanks for contacting us.

@dotnet/aspnet-build can you take a look?

[2021-09-22 09:35] andrew-tevent commented on #29303
I tried the sample web.config and it broke my app.  First because I was renaming the .dll to .bin files to get around firewall issues - which I fixed by removing the incorrect blazor.boot.json.gz/br files - but then I was getting errors with .js and .css;   Felt like server was serving up compressed versions but not setting the Content Encoding header in the response?

[2021-09-22 09:56] javiercn commented on #36812
@HaoK it can be.

It doesn't explain why we don't see this on a regular published app though.

Looking at the code, we don't do anything with `IClientStore`

[2021-09-22 10:38] SQL-MisterMagoo commented on #29303
@andrew-tevent Sorry, no I haven't analysed any further - I just updated and it worked, so I was happy.

[2021-09-22 10:51] Knarzi opened #36835 "Hot Reload in Blazor not working with Authorization-Middleware"
In my Blazor Backend I use the Authorization-Middleware in combination with JwtBearer. Without this two lines
[code]
hot reload works like it schould. The browser reloads directly and I get the following output from dotnet watch
[code]

But when I add hte two lines from above to use the authorization middleware, I only get the option to restart the application with following output
[code]

Is that

[2021-09-22 11:40] CraigComeOnThisNameCantBeTaken commented on #4892
Sorry Im just dumping code but this is what I am using:

[code]

It will not surprise me if this could be cleaned up or if I have misunderstood , but it does work for me using .Net 5 for both integration and end-to-end via the createExternalTestServer boolean. I am able to replace services, and the app's server and testing code are also using the same service provider by assigning the service prov

[2021-09-22 11:41] xrkolovos commented on #36745
Hello

Do you need any help with this one? Any suggestions how to investigate it?

Thank you

[2021-09-22 11:49] Knarzi commented on #36835
Okay, it doesn't seem to be the middleware. After the page is loaded, i call the following functions in the wasm client:
In Mainlayout:
[code]

AccountService.IsAuthorizedAsync

[code]

And in the Backend AccountController I call

[code]

When I don't call AccountService.IsAuthorizedAsync() Hot Reload works, but when I call it, then i get this on the browser console:

![image](https://user-images.

[2021-09-22 11:56] omuleanu commented on #36811
when I was opening the popup I would move the popup div just before `</body>` (js interop), without this move it actually disappears on its own when going to another page

[2021-09-22 12:00] #36761 closed

[2021-09-22 12:12] malylemire1 commented on #36815
I want to serve Json for all exceptions to clients. Even startup ones. Some people may also need to serve a custom error page.

@martincostello : Seems like https://github.com/dotnet/aspnetcore/blob/main/src/Hosting/Hosting/src/Internal/WebHost.cs
already validate that the server can serve a request delegate. All that is needed is to store the custom request delegate and use it if set instead of `

[2021-09-22 12:34] davidfowl commented on #36815
Why do you care about serving JSON for a startup error? I'm not pushing back, just trying to understand the motivation? It seems like such an edge case...

[2021-09-22 12:38] IEvangelist commented on #36829
Yes sir, here you are @davidfowl

[Options pattern guidance for .NET library authors](https://docs.microsoft.com/dotnet/core/extensions/options-library-authors)

[2021-09-22 12:40] malylemire1 commented on #36815
I have clients that test if the Web API is available with a simple get request. When the server has startup errors I get a de-serialization exception since the client assume a Json response and receive html. I want the client to be able to know why the server is down. I manage myself if the exception contains the stack trace or not (development and production).

[2021-09-22 12:44] MojtabaAzarani opened #36837 "Check your `.csproj` file. I had the exact same problem, when I had the following in my `.csproj`:"
Check your `.csproj` file. I had the exact same problem, when I had the following in my `.csproj`:

[code]

This somehow got in there when I added the page (I create Razor pages as Text fioles and rename them because the "New Razor Page" still creates old cshtmls).

When I removed these lines, the page started to work.

_Originally posted by @rabejens in https://github.com/dotnet/aspnetcore/issues

[2021-09-22 13:07] SireMartin commented on #35162
the workaround in #33312 also worked for my slightly different error
![afbeelding](https://user-images.githubusercontent.com/5307283/134349118-c2e40f3d-2771-45bc-bac7-29026b47387d.png)

[2021-09-22 13:44] pranavkm commented on #36825
That's a regular compiler error, no? Does it appear when you do `dotnet build`?

[2021-09-22 13:46] pranavkm commented on #36835
/cc @lambdageek

[2021-09-22 14:00] #36800 closed

[2021-09-22 14:25] pranavkm commented on #36755
It's this: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#attr-type

It's likely submitting the form and causing the page to refresh on click.

[2021-09-22 14:43] Tragen commented on #28938
After 2 hours of debugging why my ulong constraint isn't working, I stumbled upon this bug.
For me it looks like a very basic feature. Please fix this soon.
Also ulong and uint should be added to the default constraints.

[2021-09-22 14:44] davidfowl commented on #36815
I also ask because there are cases where you won't be able to control the response, for example when managed code fails to start and you're running on IIS, this won't work.

[2021-09-22 14:45] davidfowl commented on #36815
The client should look at the status code before parsing the response.

[2021-09-22 14:53] lambdageek commented on #36835
@pranavkm unless I'm misunderstanding the scenario I don't think there's a wasm hot reload here, right?  But there was a refresh on the client?

The `memory access out of bounds` and `table index out of bounds` errors coming from `mono_wasm_set_timeout_exec` and from `pump_message` look like... maybe we restarted the wasm app but some previously queued JS events from before the restart fired after

[2021-09-22 15:01] marcuslindblom opened #36840 "HealthCheck fails when using MapDynamicControllerRoute and DynamicRouteValueTransformer"
I'm using `6.0.100-rc.1.21458.32` with these endpoints registered.

[code]

`DefaultRouteResolver` inherits `DynamicRouteValueTransformer` and in `public override async ValueTask<RouteValueDictionary> TransformAsync(HttpContext httpContext, RouteValueDictionary values)` I will return `null` if the route does not resolves.

With this line `endpoints.MapDynamicControllerRoute<DefaultRouteResolver>("

[2021-09-22 15:03] WeihanLi opened #36841 "Add support for configurable log level support"
### Is your feature request related to a problem? Please describe.

I'd like to log the request with the `Error` log level when the response status is 4xx or 5xx, for others log as `Information`.

### Describe the solution you'd like

Currently, the log level is `Information` as I could see, maybe we could add a delegate to decide the logLevel in the `HttpLoggingOptions`, and keep it as `Informati

[2021-09-22 15:09] Knarzi commented on #36835
@lambdageek

I started the project with dotnet watch run, made a change on a Razor page and saved it. Dotnet watch then showed the message "Unable to handle changes using hot reload" and in the browser console all the messages popped up without loading the changes.

I'll try to reproduce the error tomorrow in a sample project. It is unfortunately a private DevOps repo. Or, if it can't be reproduce

[2021-09-22 15:43] ThaRaven403 commented on #35967
We're also experimenting this issue on our project that we just migrated from preview 5 to RC1, but we're not in a subdirectory. The thing is though, on my computer everything's fine, but on my colleague's computer he's getting this error.

[2021-09-22 15:58] ericstj commented on #18931
@terrajobst
In my opinion we should keep the rules enforced by the package validation tooling confined to compatibility / validity.  We want to help folks find things that could cause compatibility or usability problems for their users.

The set of rules I see linked above are all largely policy/style and would require configuration by the repo.  I'm not sure those belong in package validation.  I

[2021-09-22 16:02] malylemire1 commented on #36815
I know I also handle a SocketException for that case. But when I receive a 500 status code I expect it to be of the requested Accept header media type.

[2021-09-22 16:06] malylemire1 commented on #36815
Sorry you meant the default IIS error page. Yes that would be the last case unhandled.

[2021-09-22 16:19] mkArtakMSFT commented on #36837
Thanks for contacting us. This is not part of the runtime feature-set. Please use the [VS Feedback](https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019) to report this issue, so the team who owns the area can track the ask.

[2021-09-22 16:19] #36837 closed

[2021-09-22 16:21] mkArtakMSFT commented on #36831
Thanks for contacting us.
@Eilon FYI

[2021-09-22 16:28] mkArtakMSFT commented on #36811
Thanks for contacting us.
The behavior you're observing is due to your code modifying the DOM. You can learn more about this from https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-5.0#javascript-libraries-that-render-ui-1

[2021-09-22 16:28] #36811 closed

[2021-09-22 16:28] davidfowl commented on #36815
Right, what would your clients do in that case?

[2021-09-22 16:30] mkArtakMSFT commented on #22723
There isn't anything specific here to act on now, instead we should brainstorm and come up with ways to speed this up, which we can do any time in the future too. Closing for now, as we have no plans to do such investigation now.

[2021-09-22 16:30] #22723 closed

[2021-09-22 16:55] dougbu commented on #36834
The `v5.0.10` tag can't build for us either; the `5.0.10-servicing.21403.8` runtime version was never made publicly available.

Fix is in the 51a999890f85 commit. The other option is to checkout the 'release/5.0' branch instead.

/cc @mmitche

[2021-09-22 16:55] dougbu commented on #36834
Thank you for your feedback. We're closing this issue as the questions asked here have been answered.

[2021-09-22 16:55] #36834 closed

[2021-09-22 16:57] BrennanConroy commented on #36652
Any updates?

[2021-09-22 16:58] #36725 closed

[2021-09-22 16:59] stsrki opened #36847 "Static web assets not being included with NuGet package"
The original issue is reported here https://github.com/Megabit/Blazorise/issues/2958

Basically, we are targeting both .Net 5 and .Net 6 with the Blazorise library. The problem occurs after we upgraded to the latest version of VS2022 and .Net 6 RC1. When we run `dotnet pack` command on any project it will not include `staticwebassets` in the final NuGet package. After further investigation, I have

[2021-09-22 17:12] captainsafia opened #36848 "Results.Problem does not support configuring Extensions"
The `ProblemDetails` class defines an `Extensions` property that allows the user to configure the `ProblemDetails` object with additional metadata.

The `Results.Problem` extension method does not accept an `extensions` parameter for setting this leaving the user with no options to return a `ProblemDetails` with a custom `Extensions`.

Note: this change will require an API change.

https://github.

[2021-09-22 17:14] #35565 closed

[2021-09-22 17:16] davidfowl commented on #36840
Does it work locally?

[2021-09-22 17:26] marcuslindblom commented on #36840
Yes it does, I can see the result in the browser but something is not working properly when the health check runs in Kubernetes. Maybe it's something wrong the response when the request runs through the transformer? I tried to remove all code from `TransformAsync` and just return `null` but it's still the same issue.

[2021-09-22 17:30] javiercn commented on #22723
I think we should consider this as part of infrastructure improvements and move away from Yarn in favor of going back to plain old npm.

[2021-09-22 17:30] davidfowl commented on #36840
Maybe try to reduce the code to the minimal repro?

[2021-09-22 18:00] marcuslindblom commented on #36840
Sure.

Is it possible to add `MapHealthChecks` as the first route so it's always evaluated first? Now `DefaultRouteResolver` is always the first route to be evaluated and that's make the thing blow up.

[2021-09-22 18:03] malylemire1 commented on #36815
I could serve a static .json file from iis for that case.

[2021-09-22 18:04] Pilchie commented on #36847
@javiercn ?

[2021-09-22 18:11] BrennanConroy commented on #30322
All 7 scenarios validated against RTM build and before/after for each shown below.

### Scenario 1:
[code]
**Before:**
`System.InvalidOperationException: 'Action cannot have more than one FromBody attribute.'`

**After:**
[code]

### Scenario 2:
`app.MapPost("/createUser", ([FromQuery] string userName, [FromBody] User user,) => $"user created- {userName} - {user.LastName} ");`
Query on POST might

[2021-09-22 18:11] #30322 closed

[2021-09-22 18:55] marcuslindblom commented on #36840
It seems to be caused by either the `readinessProbe` or `livenessProbe` configuration. Maybe the app takes longer to start when I use my `DynamicRouteValueTransformer`? I'll make some tests and I think we can close this one.

[2021-09-22 19:03] nssidhu opened #36851 "Hot Reload is not working at in Blazor wasm hosted app"
I am using .NET 6 RC1 and VS2022 Preview 4. I start the app with CTL + F5(Start without Debugging) and than make change to one of the .razor pages <h3> title</h3> and save it, nothing happens. I even tried clicking the hot reload (red circle button) to see if that would apply the changes but even that does not do anything.
Are there any more setting to be done elsewhere ?

![image](https://user-im

[2021-09-22 19:19] mkArtakMSFT commented on #36851
Thanks for contacting us. This is a known issue which we've released a fix for already. Please update to the latest VS 17 Preview 4.1 patch to get the fix.

[2021-09-22 19:19] #36851 closed

[2021-09-22 19:41] joeloff opened #36854 "Update WiX package dependency"
**Description**: Some customers have strict CI policies around Device Guard. Even though WiX binaries are signed with the .NET Foundation authenticode certificates, the root certificate may not be in the allow list. Some customers do not want to add custom exclusions or install additional certificates on their machines.

To mitigate this, we've dual signed the WiX binaries with the Microsoft 3rd P

[2021-09-22 19:43] nssidhu commented on #36851
Downloaded and tried that, still same issue.

[2021-09-22 20:00] #36714 closed

[2021-09-22 20:09] drma-dev commented on #36714
@javiercn

[2021-09-22 20:13] HaoK commented on #36812
Okay I think this might have been a redherring where my browser was caching the incorrect client page due to reusing ports or something so it was sending the wrong wasm.Client id, instead of the wasmIIS.Client id, so the error was correct, closing this bug as its different from the IIS issue

[2021-09-22 20:13] #36812 closed

[2021-09-22 20:15] adityamandaleeka commented on #36815
Triage: this is worth considering. We should be careful about making it clear that it's not going to help in every startup failure case (e.g. if managed code can't even run as mentioned above).

FWIW CaptureStartupErrors is off in production by default (only enabled in development).

[2021-09-22 20:19] HaoK commented on #36734
Awesome, I'm going to assign this bug over to you @deepchoudhery for tracking, feel free to close if you want to track this in the scaffolding repro instead

[2021-09-22 20:21] adityamandaleeka commented on #36841
Triage: the exact thing you're proposing would be difficult for us to do today. That said, if you're looking for a way to filter messages better, you could do this by writing your own logging middleware.

[2021-09-22 20:34] StefanOssendorf commented on #36729
I don't get localization working at all in .Net 6 RC1. When I follow the [globalization doc](https://docs.microsoft.com/en-us/aspnet/core/blazor/globalization-localization?view=aspnetcore-6.0&pivots=webassembly#globalization) no localization takes place at all.
Heres an MWE from me: https://github.com/StefanOssendorf/MWE-CSB-Net6RC1-LocalizationBroken

[2021-09-22 21:10] NTaylorMullen commented on #36124
Fixed as part of CSS remapping: https://github.com/dotnet/aspnetcore/issues/36556

[2021-09-22 21:10] #36124 closed

[2021-09-22 21:13] JoeRobich commented on #35601
@ryanbrandenburg Starting to see reports of this.

[2021-09-22 21:21] #36763 closed

[2021-09-22 21:36] NTaylorMullen commented on #34009
The file path completion items removing double quotes is being tracked internally here: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1338934

As for the ~/ being added to the completion output in Blazor scenarios is consistent with the older Razor editor; however, totally understand that's incorrect Blazor behavior. @ToddGrun / @jimmylewis Do you all have a work item for not providing `~

[2021-09-22 21:42] TanayParikh commented on #36825
![image](https://user-images.githubusercontent.com/14852843/134425944-54a119c1-0ec0-4d0e-82a0-f6894ac8ecac.png)

Error shows up in the error pane (under generated C# file), which explains why the squiggle isn't there for the .razor file. Do we need to remap?

[2021-09-22 21:53] mrtluke commented on #36291
having the same issue myself, and i could be wrong, but for my case it seems to be `Microsoft.WebTools.BrowserLink.Net.BrowserLinkMiddleWareUtil.RemoveETagAndTimeStamp` that is removing it, and I don't have browser link enabled in the aspnetcore website or in VS.

[2021-09-22 21:55] pranavkm commented on #36825
@chsienki this looks like a source generator caching bug. We were able to workaround this by configuring the `disable-generator-cache` feature.  @TanayParikh was using an RTM labeled installer / SDK, so it's possible that the versions there might by out-of-date.

Do you happen to know if there was any recent changes made here that might have regressed this?

[2021-09-22 22:06] dougbu commented on #36854
@joeloff could you clarify where (which branches) and when (deadline) this issue should be addressed❔

Separately, I _think_ this is more than an infrastructure change because the new WiX contains both additional signing of installers we ship to customers and @ericstj's ARM64 updates. If we need to do this in servicing, I lean toward `ask-mode`. Thoughts @dotnet/aspnet-build❔

[2021-09-22 22:09] captainsafia opened #36859 "Type mismatches between parameter and route constraints not caught"
In .NET 6, we added support for an analyzer that would detect the incompat between optionality annotations on the route constraint and parameter optionality in a minimal endpoint. See https://github.com/dotnet/aspnetcore/issues/34553 for more info.

We don't currently do anything about mismatches in the type constraints between a route and parameter, so having an endpoint like:

[code]

Will compi

[2021-09-22 22:20] wtgodbe commented on #36854
I'm fine with doing it through ask-mode - like @joeloff mentioned, this is on tactics' radar so they shouldn't have an issue with it

[2021-09-22 22:33] Ogglas opened #36861 "Calling ASP.NET Core Blazor WebAssembly app lifecycle event in MainLayout or App never gets called"
I want to run a lifecycle event during Blazor WebAssembly app initial load. I therefore tried to place a code block in `MainLayout.razor` and `App.razor` but the method is never called. If I place the exact same method in `Index.razor` it works fine when I load the page `/`. Why can't I call a lifecycle event in `MainLayout.razor` or `App.razor`?

    @code{
        protected override async Task O

[2021-09-22 22:47] joeloff commented on #36854
No, it doesn't have Eric's changes in WiX yet. This is only a rebuild of WiX 3.14.0-dotnet that we've been using with additional authenticode certs. There will be a new WiX 3.14.x build and at that time, we'll take that and produce an updated version of Microsoft.Signed.Wix.

For now this is only for RC2. I'd hope to have the packages last week, but we had some CELA concerns to address, but I've b

[2021-09-22 22:56] dougbu commented on #36854
So, this is really really urgent for realz. Right❔

[2021-09-22 22:57] #36776 closed

[2021-09-22 23:14] joeloff commented on #36854
For realz. This is blocking some customers from installing .NET I can share more details offline

[2021-09-22 23:16] dougbu commented on #36854
Taking&hellip;

[2021-09-22 23:42] dougbu commented on #36854
Created #36865. Please see my questions there.

That PR will automatically merge forward into 'release/6.0'. But, should I do the same thing in 'main'❔

[2021-09-23 00:03] captainsafia opened #36867 "swagger tofile does not generate definitions from paths in controllers in minimal app"
For the following project: https://github.com/captainsafia/MinimalWithControllers

Running the following Swagger CLI command:

[code]

Will produce the following OpenAPI scheme, which does not include the controller endpoints:

[code]

But the endpoint exists in the generated swagger UI and in the generated doc.

![Screen Shot 2021-09-22 at 5 02 03 PM](https://user-images.githubusercontent.com/185

[2021-09-23 00:15] TanayParikh commented on #36599
Hello @Venkat4655, I tried reproducing this issue but it's working as expected for me.

I'm assuming this issue was on Blazor Server, **please confirm**.

I added the following to `index.html`:

[code]

And my `Index.razor` is as follows:
[code]

This is producing an output of `Server Executed` (ie, the `Console.WriteLine` is executed after `RunServerMethod` & `InvokeVoidAsync`). Is this the issue

[2021-09-23 00:18] TanayParikh commented on #36599
Hello @Venkat4655, I tried reproducing this issue but it's working as expected for me.

I added the following to `index.html`:

[code]

And my `Index.razor` is as follows:
[code]

This is producing an output of `Server Executed` (ie, the `Console.WriteLine` is executed after `RunServerMethod` & `InvokeVoidAsync`). Is this the issue you were facing, or was it something else? If you're still having

[2021-09-23 00:56] joeloff commented on #36854
I think once we've have a coherent build to evaluate fully and RC2 is out we can move on main.

[2021-09-23 01:00] #36455 closed

[2021-09-23 01:00] #36345 closed

[2021-09-23 01:00] #36053 closed

[2021-09-23 01:33] npeeples opened #36870 "ANCM restarts on any applicationHost.config change"
It's stated in #8775 and #4808 that by design the aspnetcore module will restart if applicationHost.config changes. In a couple other places, there's strong suggestion that blue/green be used to deploy apps and avoid this. But if you are running blue/green ARR/webfarms on the same machine as the application (2 websites, 1 server farm) it's impossible to achieve this goal. The minute you disable th

[2021-09-23 01:46] carlossanlop commented on #11377
@anurse @davidfowl It sounds like there's a missing feature we need to add to dotnet/runtime first. Can someone please add a bug in that repo with the details/requirements? I can help champion it if there's the need to propose new APIs.

[2021-09-23 02:22] WeihanLi commented on #36841
Thansk @adityamandaleeka

[2021-09-23 02:54] #36829 closed

[2021-09-23 03:39] captainsafia commented on #36867
@davidfowl I was running with RC1 so I didn't get the duplicate endpoint warning. But hey, at least we know the feature works!

I fixed the issue with the duplicate endpoint names in https://github.com/captainsafia/MinimalWithControllers/commit/e98a78fe9f2c5831289e1e624b992c20831988f2.

I'm still seeing an incomplete generated file when I run the CLI though:

https://github.com/captainsafia/Minima

[2021-09-23 04:15] #36650 closed

[2021-09-23 04:33] davidfowl commented on #36650
@ylr-research can you show more of your code? You have a chicken and egg problem where you need to resolve something from DI to put in configuration. Does that thing need to be in the container?

[2021-09-23 05:00] #36475 closed

[2021-09-23 05:22] KirillOsenkov commented on #33534
How do we get this in? I'm getting complaints that these assemblies aren't on https://source.dot.net

[2021-09-23 06:04] ylr-research commented on #36650
Hi @davidfowl. Basically all those options live in another server which I need to call to get them before I can configure authentication. If you have a better suggestion, I'm all ears. Thanks for following up.

[2021-09-23 06:44] ylr-research opened #36872 "Blazor Hosted - Memory out of bounds"
This is a continuation of #36135. I followed @SteveSandersonMS suggestion on using `DotNetStreamReference` and somehow I still manage to get the same error.

I checked the Network tab and it looks good to me

<img width="580" alt="response" src="https://user-images.githubusercontent.com/63487874/134464485-b8f6bda2-4bfe-4f28-8f7c-6bea6afb5918.png">

See the error here

<img width="632" alt="memory_

[2021-09-23 07:05] pr-benchmarks[bot] opened #36874 "Perf improvement: endpoint, fortunes_nodejs, fortunes_nodejs, json_nodejs"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| endpoint [Fixed] | Plaintext Endpoint aspnet-citrine-amd | 09/21/2021 20:16:29 | 6,294,696 | 6,698,573 | 7.01 % (441,023)  :thumbsup:  | 2.35 σ | 187,486.69 | <details>    <summary>Changes</summary>

[2021-09-23 07:17] ajeckmans commented on #25857
Just want to add another use case. Our application does not migrate the database (this is deferred onto a different application that is guaranteed to run before any other in kubernetes). However in our tests we do want this to run and we want a separate database for all tests as they run in parallel. To that end we inject a startup filter that is ran before all others. This startup filter ties int

[2021-09-23 07:19] lg2de commented on #36734
How about the other two issues:
1. package dependency inconsistency
2. difference in LogOut.cshtml between project template and scaffolding repo

[2021-09-23 07:19] #36773 closed

[2021-09-23 07:20] allisonchou commented on #36772
Tracking issues:
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1408466
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1408465

[2021-09-23 07:57] javiercn commented on #36714
@drma-dev thanks for the clarification.

We don't support turning strings into render fragments at runtime, that's something you would need to build yourself (as you are trying to do). That said, I don't recommend going this route, since at that point you are pretty much writing a compiler.

[2021-09-23 08:04] javiercn commented on #36740
@Valks Thanks for the binlog you provided. It does seem to be for a "vanilla" app and not your app, I can't find `Components/Svg.razor.js" on it.

[2021-09-23 08:23] LuohuaRain commented on #25058
I have the same question

[2021-09-23 08:27] Valks commented on #36740
The binlog was from the demo repo I setup:
https://github.com/Valks/RCLStaticResourceTest

It should have a Component1.razor.js
https://github.com/Valks/RCLStaticResourceTest/tree/master/RCLStaticResourceTest/Components

[2021-09-23 08:29] javiercn commented on #36740
@Valks nevermind, I think I repro it now

[2021-09-23 08:30] GeeWee commented on #25857
Maybe also a little extra information for when this would be useful.

I've been developing [BetterHostedServices](https://github.com/GeeWee/BetterHostedServices) which relies on being able to understand when the application is being shut down to do some of its magic. Currently I have to jump through a few hoops because it's not easily possible to integration-test anything that relies on shutting d

[2021-09-23 08:37] #36740 closed

[2021-09-23 08:43] javiercn commented on #36847
@stsrki thanks for contacting us.

This was fixed in RC2

[code]

[2021-09-23 08:44] javiercn commented on #36847
@stsrki can you try the latest RC2 build and let us know if you still run into problems?

[2021-09-23 08:45] stsrki commented on #36847
@javiercn This was tested with RC2 night build installed.

[2021-09-23 08:46] stsrki commented on #36847
Version 6.0.100-rc.2.21471.21

[2021-09-23 08:52] marwalsch commented on #36030
@mkArtakMSFT I am a little confused on what is being backlogged here. Is the behaviour described below a bug that might have to be fixed or is the `BlazorHub` completely incapable to handle this behaviour at the moment? After all, this is something that should be able to work at the point the user reaches the middleware pipeline prior to `_Host.cshtml` (i.,e. before the WebSocket connection is est

[2021-09-23 08:53] fowl2 commented on #36810
This is technically both source and binary breaking, not just binary, right?

[2021-09-23 09:04] dodyg opened #36876 "Unhandled exception. System.NotSupportedException: The environment changed. Changing the host configuration is not supported"
### Describe the bug

Changing development environment in Minimal API throw exception in `6.0.100-rc.1.21463.6`.

[code]

### To Reproduce

[code]

### Further technical details

[code]

[2021-09-23 09:26] dodyg commented on #36876
In contrast the following code works just fine

[code]

[2021-09-23 09:41] ajcvickers opened #36877 "Database error page fails when multiple DbContext types and some types can't be initialized"
Originally filed by @slavanap at https://github.com/dotnet/efcore/issues/22341#issuecomment-914812831

I investigated this and talked to @bricelam. It seems a pretty corner case, so I'm not sure it's worth doing anything. If we did want to support it, then we could capture errors but not fail immediately, and then only fail later if we haven't found a working context type.

----

Original issue:

[2021-09-23 09:51] lbalusek opened #36878 "Single sign on with Kerberos does not work on Firefox"
Hello,

We have ASP.NET Core Web API - its just example weather app from VS templates, running on CentOS 7 added to Windows domain and configured according to [these instructions](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-5.0&tabs=visual-studio#kestrel), so we are using Kerberos.
Everything works great on chromium based browsers, when i go to

[2021-09-23 10:17] javiercn commented on #36847
@stsrki I literally cloned your repo and run `dotnet pack` with 6.0.100-rc.2.21472.55

[2021-09-23 10:22] javiercn commented on #36847
@stsrki for us to make progress we need a binlog of the build producing the wrong package (use an SDK with the version I provided or higher) since I'm not able to reproduce the issue locally

[2021-09-23 10:29] stsrki commented on #36847
I have now installed `6.0.100-rc.2.21472.55` and tried again. and it is still not working for me. It only works if I clean `bin/obj` prior to running `dotnet pack`.

**My clean.bat**

[code]

[2021-09-23 10:33] stsrki commented on #36847
Can this help you?

[code]

[2021-09-23 10:33] martincostello opened #36879 "Minimal Action with optional route parameter incorrectly reported as required in API Explorer"
### Describe the bug

_I'm not 100% sure if this is a bug, or if it's me just using it weirdly (or if it's a Swashbuckle issue), but thought it best to report anyway._

If a route parameter has a constraint that makes it optional and the parameter is nullable, it is reported as a required parameter instead of optional in the API Explorer metadata used to generate the Swagger JSON document with Swa

[2021-09-23 10:34] javiercn commented on #36847
@stsrki `dotnet pack /bl` is what we need

[2021-09-23 10:40] stsrki commented on #36847
@javiercn sorry, never used binlog :)

Is this OK now?

[msbuild.binlog.zip](https://github.com/dotnet/aspnetcore/files/7216922/msbuild.binlog.zip)

[2021-09-23 10:51] javiercn commented on #36847
@stsrki thanks for the additional details.

This seems to be some sort of incrementalism issue we are running into with multi-targeting package. It seems we still have some issues after the fixes we applied in this area.

I'll file a separate issue and see if this meets the bar for 6.0. In the meantime, I would suggest you clean the folder before packing if that works around it.

![image](https://

[2021-09-23 10:55] stsrki commented on #36847
Yes, cleaning folders before packing works and I can use it as a workaround. But I think other people would have a similar problem and they would have to figure it for themself. So if you could make it work that would be great.

Also, thanks for the tip regarding the https://msbuildlog.com/

[2021-09-23 11:01] drma-dev commented on #36714
@javiercn
I can't think of any other way at the moment.  is it possible to call C# function only with HTML?  maybe using javascript to help

[2021-09-23 11:02] javiercn opened #36880 "[SDK] Static web assets pack improvements"
Pack is the only area we haven't "properly" fixed in 6.0. There are several aspects of it that are "problematic" since V1, that I believe we want to address:
* Multitargeting: We don't attach ourselves to the proper Nuget msbuild targets
  * Currently we attach to TargetsForTfmSpecificContentInPackage as described [here](https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#pack-scenari

[2021-09-23 11:07] javiercn commented on #36714
@drma-dev no, its not possible.

You are replicating what the razor compiler does, but at runtime. You want to convert a string containing "razor" into the equivalent "compiled code", and that's something we do at compile time.

As I mentioned before, what you are trying to achieve is the equivalent of implementing the razor compiler at runtime.

[2021-09-23 11:08] WeihanLi commented on #36841
Hi @adityamandaleeka , I try to draft a prototype PR for this at <https://github.com/dotnet/aspnetcore/pull/36873>

[2021-09-23 11:27] drma-dev commented on #36714
what do you mean it's not possible?  and the support that the blazor gives in the interaction between c# and javascript?

[2021-09-23 11:34] javiercn commented on #36714
@drma-dev My understanding is that you want `    public string html { get; set; } = "<p class='ql-align-justify'>{@button01} <span style='color: rgb(230, 0, 0);'>123 </span><strong style='color: rgb(255, 153, 0); background-color: rgb(0, 138, 0);'>abc</strong> xyz</p>";` to turn into code where `button01` is some sort of render fragment that can gets rendered inside the other component by razor.

[2021-09-23 11:46] drma-dev commented on #36714
This string will be done by the user, so it can be anything.

If, instead of using fragment, i write the link code where i call a JavaScript that call a c# code. So, when the MarkupsString build the html body, it will make my link works ?

[2021-09-23 12:17] blowdart commented on #36878
As you said it works in Chrome, it seems like Firefox is being fussy.

Could you try the "NTLM" instructions they give [here](https://support.mozilla.org/en-US/kb/Firefox%20asks%20for%20user%20name%20and%20password%20on%20internal%20sites)? I know it says NTLM, but I'm hoping that just adding the site to the equivalent of their intranet zone might kick it off.

[2021-09-23 12:58] Kurti123 commented on #25152
I've been running into the same bug on my Blazor server app. Everything worked fine when I had set ASPNETCORE_ENVIRONMENT=Development but as soon as i changed to Production, I got this 404 error.

I looked at the documentation of environment set up and noticed that they didn't even addressed the appsettings-based way of setting the environment:

https://docs.microsoft.com/en-us/aspnet/core/blazor/

[2021-09-23 13:07] lbalusek commented on #36878
Yes, but i was hoping for server side solution, so i wouldn't have to force our users to change settings of their browsers.
With `network.automatic-ntlm-auth.trusted-uris` i have got the same result - `401 Unauthorized`, no credentials prompt.

[2021-09-23 13:35] YakupIpek commented on #36661
@javiercn Is there any update on this. There may be a quick fix or workaround?

[2021-09-23 13:47] AgentFire opened #36882 "Using IHostEnvironment.ApplicationName as an assembly name for some hot load?"
https://github.com/dotnet/aspnetcore/blob/24dacc25357988dbe699e72580a8ea569a33b4c4/src/Mvc/Mvc.Core/src/DependencyInjection/MvcCoreServiceCollectionExtensions.cs#L85

That's quite bold, that is.

I'm using `ApplicationName` as, you know, an application's real name, and VS-projects (aka assemblies in the end) can (and most certainly will) have different names.

The issue that I'm having is one asse

[2021-09-23 13:47] AgentFire opened #36883 "Treating IHostEnvironment.ApplicationName as an assembly name for some reason?"
https://github.com/dotnet/aspnetcore/blob/24dacc25357988dbe699e72580a8ea569a33b4c4/src/Mvc/Mvc.Core/src/DependencyInjection/MvcCoreServiceCollectionExtensions.cs#L85

That's quite bold to assume, that is.

I'm using `ApplicationName` as, you know, an application's real name, and VS-projects (aka assemblies in the end) can (and most certainly will) have different names.

The issue that I'm having i

[2021-09-23 13:48] javiercn commented on #36661
Things work with the appropriate config without issue

[code]

![image](https://user-images.githubusercontent.com/6995051/134518947-01a3fa2f-73f8-40a4-81aa-5faa788dcc47.png)

[2021-09-23 13:49] javiercn commented on #36661
Here is my entire config for reference
[code]

[2021-09-23 13:52] javiercn commented on #36661
It's not clear to me what you are trying to do with signalr here, but I do believe there is no websocket/proxy/spa issue involved after the suggested configuration changes.

If you clarify what you are trying to accomplish, someone on the signalr side of things will help you.

[2021-09-23 13:59] javiercn commented on #36882
@AgentFire thanks for contacting us.

We haven't seen this to be the case.

This has been a convention MVC uses since the early days and hasn't proven to be generally problematic. It's not something we plan to change either in the near future. The reason it uses that is because there is no other way to find the composition root for the app without being explicit about it.

[2021-09-23 14:00] javiercn commented on #36882
Moving this issue to runtime in case they want to deal with it.

[2021-09-23 14:53] davidfowl commented on #36876
This is by design. See https://gist.github.com/davidfowl/0e0372c3c1d895c3ce195ba983b1e03d#differences-in-the-hosting-model

[2021-09-23 14:57] davidfowl commented on #36876
Maybe we can improve the error message here to say what the resolution is. To specify hosting options using `WebApplicaitonOptions`. Though, if you're calling into a library that tries to change these settings, it won't be possible to do so anymore.

[2021-09-23 15:04] davidfowl commented on #36882
Historical reasons and it's hard to change because other components treat it like an assembly name. So you can't use it as anything other than an assembly, which is unfortunate but that's the reality.

[2021-09-23 15:27] davidfowl commented on #36883
You have 2 options:
1. Manually change the application name to point to where the controllers are.
[code]

2. Add an application part in MVC that points to the assembly where your controllers are.
[code]

[2021-09-23 15:38] #34011 closed

[2021-09-23 15:54] #36817 closed

[2021-09-23 15:57] n1developer-ubt commented on #36801
Yes, That's true, I deployed the application on the Kubernetes engine with LoadBalanacer and Ingress, is there any special configuration for SignalR on Kubernetes?

[2021-09-23 15:58] Xyncgas commented on #36714
I don't understand what you are saying personally and it's hard for me to help.
that said, I want to answer your question by saying, you can achieve turning user input to (HtmlMarkupString), if that's what you need, but it has to be html, which correct me if I am want, if you are trying to turn a plain text from user input into renderFragment as if you are building an online blazor compiler, then

[2021-09-23 16:07] AgentFire commented on #36883
I thank you all for your answers.

[2021-09-23 16:10] ThaRaven403 commented on #35550
I'd also like to know @pranavkm if there is a workaround for this.
I'm currently having the same issue with RC1, but only when deployed on Azure (it doesn't give me any error locally).

I can try installing a nightly build if there's one that solves the issue, but if there's a workaround I'd rather use this.

@Stamo-Gochev have you found a way around this on your end?

[2021-09-23 16:11] davidfowl commented on #36879
This is by design. OpenAPI says that everything in the path is required https://github.com/domaindrivendev/Swashbuckle.AspNetCore/pull/2183#issuecomment-896541489.

[2021-09-23 16:14] AgentFire commented on #36883
Both your code examples didn't do anything, the exception is still being thrown about how the MVC framework couldn't load an assembly, which name it has read from `ApplicationName` storage.

My workaround, which did work:

[code]

[2021-09-23 16:15] BrennanConroy opened #36887 "Flaky test - ShadowCopyCleansUpOlderFolders"
## Failing Test(s)

- Microsoft.AspNetCore.Server.IIS.FunctionalTests.ShadowCopyTests.ShadowCopyCleansUpOlderFolders

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[code]
</details>

## Build

https://dev.azure.com/dnceng/public/_build/results?buildId=1379078&view=ms.vss-test-web.build-test-results-tab&runId=40206842&resultId=121967&paneView=debug

[2021-09-23 16:16] davidfowl commented on #36883
I didn't see anything about an exception in your original issue. Can you provide a repro? I'm not sure how it could throw other someone setting a non-assembly as the application name.

[2021-09-23 16:20] BrennanConroy opened #36888 "Flaky test - RouteTableFactoryTests.CanCacheRouteTable"
## Failing Test(s)

- Microsoft.AspNetCore.Components.Routing.RouteTableFactoryTests.CanCacheRouteTable

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

None.

## Build

https://dev.azure.com/dnceng/public/_build/results?buildId=1377733&view=ms.vss-test-web.build-test-results-tab&runId=40173528&resultId=102307&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-

[2021-09-23 16:21] Keerthi-Mettu commented on #35550
I did have the same problem until I was publishing the server project and hosting it in the server IIS (mine is an asp.net Core hosted Blazor web assembly). When I overwrite this published build from the server project with the client project, it actually worked for me. Usually, if we are publishing to a target folder, to overwrite the server build, add this server build path as a new target locat

[2021-09-23 16:23] martincostello commented on #36879
Cool, EBCAK 👍

[2021-09-23 16:23] #36879 closed

[2021-09-23 16:26] rsudbdg commented on #33868
:)
I had the same issue until I found a component which has 2 routes, 1 route pointed to root "/";

Profile.razor
@page "/"
@page "/account/profile"

... fixed
@page "/account"
@page "/account/profile"

[2021-09-23 16:31] Xyncgas commented on #17730
I am just a no body but I kinda want to see your list of 'important features' and I think it can leave a note to the developers

[2021-09-23 16:31] dougbu commented on #36854
a96feda78a39 though I forgot to fix the link to this issue in the commit description ☹️

[2021-09-23 16:31] #36854 closed

[2021-09-23 16:34] AgentFire commented on #36883
@davidfowl [There](https://github.com/AgentFire/web-host-exception-repro) you go.

[2021-09-23 16:38] davidfowl commented on #36883
So this is the problem https://github.com/AgentFire/web-host-exception-repro/blob/02e4627f5c6ca8f7f7339b4181293646aac0db9a/Web%20Host%20Repro/Program.cs#L26. Don't do this.

[2021-09-23 16:42] SteveSandersonMS commented on #36880
@javiercn Please split into two issues and make sure we re-triage the "compile-time assets" one in time for 6.0.

[2021-09-23 16:43] SteveSandersonMS commented on #36872
Thanks for contacting us. Since we don't open .zip files, would you be able to make your repro project available as a GitHub repo? Thanks!

[2021-09-23 16:45] SteveSandersonMS commented on #36861
We are confident that the lifecycle methods in `App.razor` do get called, otherwise your application wouldn't start up at all. It seems like there is something else wrong in your application.

Our recommendation is that you continue trying to debug, and consider posting more details on StackOverflow. If you get really stuck and need us to investigate, could you please post a minimal repro project

[2021-09-23 16:45] ylr-research commented on #36872
sure Steve

[2021-09-23 16:47] SteveSandersonMS commented on #36847
@javiercn Should we close this issue in favour of the other one about multitargeting that you are going to file?

[2021-09-23 16:47] YakupIpek commented on #36661
Thanks for quick response

On controller side, i push `SendMessage` event when get method is called.
[code]

I listen `SendMessage` event on client side in store-hub.ts and FetchDataComponent

[code]

Onfortunately this event `SendMessage` is never triggerred.

I updated [SingnalR Test App](https://github.com/YakupIpek/SignalRTestApp).

I need help :(

[2021-09-23 16:50] ThaRaven403 commented on #35550
@Keerthi-Mettu Not sure to understand what you mean by "overwrite this published build from the server project with the client project". On my end the deployment is managed through a DevOps pipeline (Azure App Service deploy task) so it's basically sending the zip file over and letting Azure handle the rest. Also had to make the build as self-contained since RC1 is currently not available for Azur

[2021-09-23 16:54] BrennanConroy commented on #36661
Your controller is using `IHubContext<StoreClientHub, IStoreClientHub>` but your client is connecting to `StoreHub`
https://github.com/YakupIpek/SignalRTestApp/blob/9a78caa2c520412d5b5edf47b12edf2e3f0a14d9/Project20/Program.cs#L27

[2021-09-23 16:58] AgentFire commented on #36883
I know. But the `ApplicationName` property shouldn't be that brazenly captured by some "another service" of the Host. This is the Hosts's property, the Host sets, controls and maintains it.

Many other components of my application use this very property. Metrics, health checks, logs, you name it. it was designed specifically for the purpose of carrying the name of the entire application, not some

[2021-09-23 17:07] YakupIpek commented on #36661
Sorry something made me confused on docs that i read. Ok Thank you it worked now :(

[2021-09-23 17:07] #36661 closed

[2021-09-23 17:12] ryanbrandenburg commented on #18990
@NTaylorMullen does this track removing it in the legacy editor? If not "no background" is already the default experience.

[2021-09-23 17:37] mkArtakMSFT commented on #36760
Thanks for contacting us, @Owenll66.
@thaystg has validated the same scenario in a pure html page and the behavior is the same, so debugger changes nothing here. Going forward, this is a good way to validate things :) We're closing this issue as the behavior is expected and there is no more action pending here.

Thanks for your help, @thaystg !

[2021-09-23 17:37] #36760 closed

[2021-09-23 17:44] LordBenjamin opened #36892 ""'WebViewNavigationManager' has not been initialized" when using BaseAddressAuthorizationMessageHandler"
### Describe the bug
Unable to use `BaseAddressAuthorizationMessageHandler` within MAUI WPF BlazorWebView. Adding this handler causes an exception to be thrown - "'WebViewNavigationManager' has not been initialized."

The same code is working in a browser-based Blazor WebAssembly application.

N.B. This is a simplified reproduction that still exhibits the same exception.

Appreciate that the answe

[2021-09-23 17:48] SommerEngineering commented on #36729
Alright: I have continued trying to analyze the process of localization. I discovered the following issues:

- The naming of the resource file seems to be relevant for Blazor using .NET 6 RC1. Although this is not documented in my opinion. The Blazer app is named `App`. A resource file `App.resx` (`App.fr.resx`, `App.en.resx` etc.) gets loaded, and `I18N.resx` (`I18N.fr.resx`, `I18N.en.resx` etc.)

[2021-09-23 17:53] pantoast commented on #35550
Having the same problem on .NET 6 RC1 here. Blazor WebAssembly project hosted on an Azure VM in IIS.

[2021-09-23 17:53] javiercn commented on #36892
@LordBenjamin thanks for contacting us.

That component is for use with webassembly, we don't guarantee it works outside of it. In general, you shouldn't be using this package to do auth in Blazor desktop and instead you should leverage the existing platform auth libraries for it.

[2021-09-23 17:57] SteveSandersonMS commented on #36729
@SommerEngineering Thanks for the detailed investigation.

I'm trying to work out whether at least some, maybe all of these issues are the same as https://github.com/dotnet/aspnetcore/issues/35459#issuecomment-915221650, or whether it's a new and different issue. In your repro code I don't see any files or classes called `I18N` so I can't tell. Could you show in your repro code an example of a res

[2021-09-23 18:07] blowdart commented on #36878
We can't influence the browser unfortunately - we send the right headers to request it, but Firefox seems to require extra work for it to understand certain sites are ok.

[2021-09-23 18:09] BrennanConroy commented on #36801
What Ingress controller are you using? You might need to configure it for websockets so it doesn't close them after 5 minutes.

[2021-09-23 18:22] SommerEngineering commented on #36729
@SteveSandersonMS Thanks for the response.

- `I18N`: I tested it two times:
  - First time, I removed all files from `Resources` and re-created it using `I18N` as name. It failed.
  - Second time, I manually renamed all these files (and I had to apply the re-naming inside the `*.Designer.cs` as well; e.g. class name, reflection etc.) It failed again.
  - Because it does not work, I have not check

[2021-09-23 18:28] NTaylorMullen commented on #18990
I think this was encompassed by FCOP, we could probably close this out

[2021-09-23 18:32] #18990 closed

[2021-09-23 18:35] davidfowl commented on #36883
Got it. Other parts of the stack will break but I guess you can workaround it when you hit those scenarios.

[2021-09-23 18:50] LordBenjamin commented on #36892
Thanks for the quick reply - much appreciated!

My understanding of the WPF MSAL package is that the API surface is quite different to the WASM package. We're aiming to target browser and desktop with as little code difference as possible. Is there any plan to unify the authentication experience? Or at least some of the API primitives etc?

[2021-09-23 18:57] ylr-research commented on #36872
Here it is the [repo](https://github.com/ylr-research/demo-file-manager) @SteveSandersonMS

[2021-09-23 19:22] javiercn commented on #27634
We already think that we've solved this with the work we've done to enabel devcontainers

[2021-09-23 19:22] #27634 closed

[2021-09-23 19:29] #27606 closed

[2021-09-23 19:35] drma-dev commented on #36714
Hi @Xyncgas , did you see the demo I left available here? I think it's clearer there what I'm waiting for.

[2021-09-23 20:10] MichaelSimons opened #36900 "blazorwasm project fails to build when project name contains a '#'"
**Steps to Reproduce**
0. Using .NET sdk 6.0.100-rc.2.21471.7
1. mkdir C#_blazorwasm
2. cd C#_blazorwasm
3. dotnet new blazorwasm
4. dotnet build

**Actual Results**
Project fails to build

[code]

**Excepted Results**
Project builds cleanly with no errors.

[2021-09-23 20:25] ryanbrandenburg commented on #29647
@davidwengier given the spookiness of changing things in this very important and perf-conscious area I think you may be right (though I feel sorry for the person (if any) who has to figure out their weird behavior is caused by a hash collision).

[2021-09-23 20:51] radekdoulik opened #36903 "Consider to add more details to message about linking"
Blazor app prints message about linking when run in Debug configuration. I think the second part of the message might be a bit more specific and explain that the published app will be linked and thus be smaller.

Example of the current message:
`blazor.webassembly.js:1 blazor Loaded 8.86 MB resources   This application was built with linking (tree shaking) disabled. Published applications will be

[2021-09-23 21:07] ryanbrandenburg commented on #36822
Dupe of https://github.com/dotnet/aspnetcore/issues/26479.

[2021-09-23 21:07] #36822 closed

[2021-09-23 21:07] NTaylorMullen commented on #36821
@TanayParikh looks like this is an O# roslyn thing. They shoiuld not be providing a `?` commit character at that location. Would you mind moving?

[2021-09-23 21:08] NTaylorMullen commented on #36573
@pranavkm is there a good way we can detect this scenario at tooling to do the right thing?

[2021-09-23 21:15] BrennanConroy commented on #34563
Timeout was changed from 1 second to 30 seconds in https://github.com/dotnet/aspnetcore/pull/35687, marking as test-fixed.

[2021-09-23 21:20] pranavkm commented on #36573
@TanayParikh said that the fact that `OnChange` shows when there is an `@` prefix is the problem. It's a vanilla property and should be filtered out since it has an `@`. I was originally cribbing about the fact that there are two confusingly similar named handlers on a type and we missed it in API review.

[2021-09-23 21:21] NTaylorMullen commented on #34780
Similarly if you have build + intellisense diagnostics they will be duplicated

[2021-09-23 21:26] Ogglas commented on #36861
@SteveSandersonMS You are of course correct. The code is indeed executed but for some reason I can't get a break point to stick until I navigate to `/`. Why is this?

I have a breakpoint in every method but it does not get hit until i navigate to `/`.

[![enter image description here][1]][1]

The only break point that hits:

[![enter image description here][2]][2]

Minimal repo:

https://github.co

[2021-09-23 21:27] noamyogev84 commented on #14172
Hey @BrennanConroy i'll try to grab that
Can you get me started with some pin points?

[2021-09-23 21:28] #36821 closed

[2021-09-23 21:28] pranavkm commented on #36825
FYI @jaredpar since @chsienki is OOF

[2021-09-23 21:29] pranavkm commented on #35967
Thanks @Hawxy for bringing this to our attention. I'd missed porting the original change back to rc1. We have this addressed for the rc2 release.

[2021-09-23 21:29] #35967 closed

[2021-09-23 21:34] pranavkm commented on #36723
@sergiojrdotnet for your VS issue, unfortunately we haven't made hot reload for Blazor WebAssembly work with the debugger as yet. We're looking at addressing it, but it's unlikely to be solved prior to VS 2022 GA. However, if you run the app without the debugger attached (`Ctrl+F5`) it should work with VS 17.0 Preview 4.1. Do you mind giving that a try?

@MisinformedDNA could I bother you to file

[2021-09-23 21:37] jaredpar commented on #36825
This definitively means you're using a pre-RC1 version of the compiler. As a part of fixing the caching bug we ripped that option out of the compiler entirely. It was flipped into an opt-in option. Hence if that is fixing the behavior then you're using a compiler that does not have the fix.

[2021-09-23 21:37] pranavkm commented on #36745
Is there a minimal app that reproduces this issue consistently? That might be helpful. Also, are you able to try this using VS 17.0 Preview 4.1? It supports hot reload for blazor-webassembly apps when you run without the debugger attached (Ctrl+F5)?

[2021-09-23 21:43] vsfeedback opened #36905 "Intellisence feature for .razor page parameter."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Intellisence-feature-for-razor-page-par/1533757)._

---
I would like to suggest the ability to comment `.razor` page `[Parameter]`'s. In a normal C# class when you comment the properties etc. Intellisence will display these comments to the programmer when hovering the properties etc.

Th

[2021-09-23 22:00] vsfeedback opened #36906 "Intellisense in editor window introduces unwanted tag between tags for razor component"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Intellisense-in-editor-window-introduces/1534815)._

---
[severity:It bothers me. A fix would be nice]
When edtiting a Blazor component and attempting to prefix an existing HTML tag with a new tag, for example wrapping a button tag in another tag, a closing tag of the tag being wrapped i

[2021-09-23 22:01] sergiojrdotnet commented on #36723
@pranavkm Yeah! It works on VS without debugger attached. Excelent!

[2021-09-23 22:04] pranavkm commented on #36723
For watch, we made a fix for a timing issue in the RC2 SDK that I think might address the issue you are seeing. You could try a [nightly build of the installer](https://github.com/dotnet/installer#installers-and-binaries) to see if it helps with the odd behavior you were seeing.

[2021-09-23 22:26] sergiojrdotnet commented on #36723
@pranavkm, unfortunately, the watch issue still the same here with version `6.0.100-rc.2.21473.35`.

[2021-09-23 22:28] NTaylorMullen commented on #36573
Should we always remove `@onchange`?

[2021-09-23 22:39] pranavkm commented on #36573
`@onchange` is valid for most things, including `InputFile` since it maps the [HTML `change` event](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/change_event). However, it's not polymorphic in that the `change` event for files includes additional data when coming from the browser, but Blazor's `ChangeEventArgs` does not have a way to expose that.

tl;dr: Don't remove it, it's still

[2021-09-23 22:45] sergiojrdotnet commented on #36723
@pranavkm It looks weird. With version `6.0.100-rc.2.21473.35` didn't work in the first attempt, worked after some time and does not work anymore. I'm trying to figure out what could possibly be interfering.

[2021-09-23 22:46] pranavkm commented on #36723
If you run `dotnet watch --verbose`, it should print some logs about that might help.

[2021-09-23 22:58] dougbu commented on #33534
We (a) missed the urgency in this issue -- everything was quiet since June and (b) only just learned the simple approach.

----

The next question is which Eng channels contain Arcade bit containing `enableSourceIndex`. The corresponding dotnet/aspnetcore branches are where we'd fix things in the next few days.

Separately, is this also an issue for dotnet/efcore code❔

[2021-09-23 22:59] NTaylorMullen commented on #36573
Hmmm, so I'd hate to start adding special cases, is there a way to detect via the `TagHelperDescriptor`s to "not include" it?

[2021-09-23 23:03] alexperovich commented on #33534
Its just a part of the arcade sdk, the source index bits are delivered with the eng/common folder and the sdk.

[2021-09-23 23:12] sergiojrdotnet commented on #36723
I really can't find what is happening. Sometimes it works, sometimes not, like a flip of a coin.

https://user-images.githubusercontent.com/72770006/134595593-58de8ec2-2388-4d70-8b68-b1bc559a26a9.mp4

[2021-09-23 23:27] dougbu commented on #33534
@alexperovich I understand that part. What I'm not sure is whether, say, the '.NET 3 Eng' bits include the feature.

[2021-09-23 23:31] alexperovich commented on #33534
I doubt they do, I added the code to arcade/main, and there is only one source-index so it should be done on main. Release branches don't need anything.

[2021-09-23 23:37] pranavkm commented on #36723
It's a result of not being to infer the hot reload capabilities. The 2nd time around it print an empty string instead of "Hot reload capabilities: Baseline". I thought I'd fixed it, but perhaps didn't fix it hard enough

[2021-09-24 01:12] davidfowl commented on #5280
Hey all we're looking at this for .NET 7, can you post interesting scenarios that you doing today that would made easy with client acks/results?

[2021-09-24 03:05] davidfowl commented on #36661
@javiercn this should be documented

[2021-09-24 04:23] davidfowl commented on #36848
@captainsafia this is fixed right?

[2021-09-24 04:24] captainsafia commented on #36848
Yep -- the fix was merged to RC2 today. Keeping this open to validate in published bits.

[2021-09-24 05:43] n1developer-ubt commented on #36801
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
   name: ingress
   annotations:
      networking.gke.io/managed-certificates: kakoa-cert
      kubernetes.io/ingress.class: "gce"
spec:
   rules:
      - host: ********
        http:
           paths:
              - path: /*
                backend:
                   serviceName: web-app-service
                   servicePort: 80

He

[2021-09-24 05:49] mcguu opened #36910 "support partial class or can use on endpoint to two or more class?"
If I want to write back service which hold 20 functions then there will be a lot of functions  in one class.

there is very large code.

how to separate them into different classes? with one parttern?

[2021-09-24 06:22] Tanmaybhujade commented on #36157
.

[2021-09-24 06:24] Tanmaybhujade commented on #36157
Add Data Protection Race condition.

[2021-09-24 07:05] pr-benchmarks[bot] opened #36911 "Perf improvement: caching"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| caching  | Caching Platform aspnet-citrine-win | 09/17/2021 21:07:37 | 277,057 | 400,358 | 44.32 % (122,788)  :thumbsup:  | 65.12 σ | 1,885.61 | <details>    <summary>Changes</summary>     <table><th>Na

[2021-09-24 07:05] #36790 closed

[2021-09-24 09:00] vgmello commented on #36291
@mrtluke this is very interesting, the browser link is also disabled on my VS2022. However, disabling the "Hot Reload CSS Changes" fixed the issue with etag.

![image](https://user-images.githubusercontent.com/4777793/134648109-ba8f807a-d729-4ef7-97af-31d564b084f4.png)

[2021-09-24 09:00] #36883 closed

[2021-09-24 09:10] javiercn commented on #36661
@Rick-Anderson can we add something to the docs here?

[2021-09-24 10:03] SteveSandersonMS opened #36913 "Existing hot reload deltas aren't applied until after the application starts"
I'm sure this is known and by design, but it warrants a bit more discussion to be sure this is absolutely what we want and whether this is something we might enhance either before or after 6.0 ships.

With Blazor WebAssembly, you can make some changes that get hot reloaded, and things are good. But when you reload the page in the browser, a quirky thing happens: first you see a stale version of yo

[2021-09-24 10:16] SteveSandersonMS opened #36914 "VS Hot reload "Restart Application" VS gesture behaves badly"
There are some cases (with WebAssembly at least) where you have to restart the application to make your code changes really take effect, e.g., #36913. When you're in this situation you'll have to click "Restart Application", but the behavior is suboptimal:

 * Instead of refreshing your existing browser tab(s), it opens a whole new one.
   * It's not even on the URL you were on before, but instead

[2021-09-24 10:45] mrpmorris opened #36915 "[Blazor] Include a checkbox for WebAssemblyPrerendered in the New Project Wizard"
Changing a WASM app to WebAssemblyPrerendered is not a straightforward process.

Could we please have a checkbox on the New Project wizard for this?

[2021-09-24 11:29] guardrex commented on #36915
Side-note on the coverage for it: It just went into the docs for 6.0 ...

* PR: https://github.com/dotnet/AspNetCore.Docs/pull/23364
* Live: https://docs.microsoft.com/aspnet/core/blazor/components/prerendering-and-integration?view=aspnetcore-6.0&pivots=webassembly

The paint isn't quite dry on that 🚧👷, and we'll review and update it prior to 6.0 GA. Feedback is appreciated. Use the **This page**

[2021-09-24 13:09] SteveSandersonMS commented on #36915
@mrpmorris Funny you should raise this today. We just decided during a team standup yesterday to do this.

[2021-09-24 13:15] guardrex commented on #36915
Will it be for 6.0 GA or a future release?

[2021-09-24 13:25] YakupIpek opened #36918 "SignalR can not get user identifier from ClaimsPrincipal"
I use ASP.NET 6 RC1 Angular template.

I try to send message to specific user by user identifier and it doesn't push message to client.

`await storeHub.Clients.User(userId).SendMessage(message);`

I realized UserIdentifier is null on user's connection and i wanted to set via my custom provider. The weird thing is below provider return null as identifier.

[code]

But the code on controller side i

[2021-09-24 13:47] imb590 opened #36919 "MVC model validation in default configuration is very slow if models contain delegate properties"
If a MVC model contains a delegate-typed field, then by default `Microsoft.AspNetCore.Mvc.ModelBinding.Validation.ObjectModelValidator` tries to validate every field of the delegate, eventually retrieving all assembly types and going on to validate properties of those `Type` objects.

The following code demonstrates the problem:
[code]

The request is quite slow even for this small assembly (about

[2021-09-24 14:31] davidfowl commented on #36918
What does your setup code look like?

[2021-09-24 14:35] imb590 commented on #36919
Looks like the following fixes the problem:

[code]

It would be nice to have that out of the box though.

[2021-09-24 14:47] YakupIpek commented on #36918
I will try it on clean project and link it here

[2021-09-24 14:58] WeihanLi opened #36920 "HttpLoggingMiddleware does not log response headers when response body is empty"
### Describe the bug

When I use the `HttpLoggingMiddleware` to log the response body, the response header would not be logged as expected, don't know if this is by design

### To Reproduce

Just create a api project with `dotnet new webapi -n HttpLoggingMiddlewareSample --no-openapi --no-https`, then add `UseHttpLogging()` to the request pipeline, and customize the logging option, modified the sa

[2021-09-24 15:00] YakupIpek commented on #36918
This is my program.cs and i set it up OpenId login via AddOpenIdConnect  and i am not sure it is right place to configuration external provider but i see that provider in login page and able to logged in.
[code]

[2021-09-24 15:07] omajid opened #36921 "SignalR tests fail against OpenSSL 3.0"
### Describe the bug

I am trying to build and run ASP.NET Core tests with OpenSSL 3.0. The test fail with OpenSSL errors.

This is https://github.com/dotnet/aspnetcore sha 277e42f4dcf1ee41c8a1b61a6aaa3e17ef15a1d9.

[code]

Is this a bug in nodejs, in an (external) node module or in SignalR itself? this a known issue? Is OpenSSL 3.0 supported?

### To Reproduce

Here's a Dockerfile to reproduce th

[2021-09-24 15:13] YakupIpek commented on #36918
@davidfowl It is enough knowledge for you ? It may difficult for me to provide full repro project.

[2021-09-24 15:15] davidfowl commented on #36918
I don't see anything obvious from the above configuration. What does the authorize attribute look like in your controllers and your hub?

[2021-09-24 15:18] YakupIpek commented on #36918
It is default implementation [Authorize] attribute located on my controller and my hub doesn't have any Authorize attribute. Even my hub doesn't have any methods.

[2021-09-24 15:24] davidfowl commented on #36918
Add the [Authorize] attribute to your hub.

[2021-09-24 15:43] DamianEdwards commented on #36819
Fixed in 7700810487ef0cba4bbc64ed73fce5c6bb1e05f6

[2021-09-24 15:43] #36819 closed

[2021-09-24 15:45] DamianEdwards commented on #33687
@davidfowl this can be closed now yes?

[2021-09-24 15:57] topbbober1 opened #36927 "Can't add new Identity Scaffolded item to project"
Issue #25898 has been closed down.

I'm running Microsoft Visual Studio Professional 2019 Version 16.11.3 and I am getting the same error outlined in #25898.

Issue #25898 indicates issue resolved in latest version of Visual Studio.  Is this latest version still to be released?

@abbasghomi

[2021-09-24 16:06] SteveSandersonMS opened #36928 "Support all nonbubbling events"
Today, Blazor has a fixed list of nonbubbling DOM events in `EventDelegator.ts`. It covers maybe 95% of what anyone will ever want to use. However there are some more obscure nonbubbling DOM events, so we should check the complete list at https://developer.mozilla.org/en-US/docs/Web/Events and consider adding all the rest.

Alternatively if one day we didn't do event delegation, we wouldn't need a

[2021-09-24 16:10] davidfowl commented on #33687
Yep. Closing.

[2021-09-24 16:10] #33687 closed

[2021-09-24 16:23] BrennanConroy commented on #36921
Looks like a webpack issue https://github.com/webpack/webpack/issues/13572#issuecomment-923653464

[2021-09-24 16:34] BrennanConroy opened #36931 "Flaky test - WriteAfterConnectionCloseNoops-http_127.0.0.1_0"
## Failing Test(s)

- Microsoft.AspNetCore.Server.Kestrel.Libuv.FunctionalTests.ResponseTests.WriteAfterConnectionCloseNoops

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[code]
</details>

## Build

https://dev.azure.com/dnceng/public/_build/results?buildId=1383371&view=ms.vss-test-web.build-test-results-tab&runId=40310620&resultId=119125&paneView=deb

[2021-09-24 16:52] pranavkm commented on #36913
My intent was to apply these deltas before components began to render, but clearly it didn't and I hadn't followed up on it as yet. Perhaps you could help me figure out what's up:

* The host performs hot-reload initialization prior to components being rendered: https://github.com/dotnet/aspnetcore/blob/main/src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs#L138-L141
* This in

[2021-09-24 17:02] #24323 closed

[2021-09-24 17:08] SteveSandersonMS commented on #36913
The logic looks like it *should* work. It's a bit unusual to use unmarshalled interop for async, but based on what `BINDING.js_to_mono_object` supposedly does, it looks like it should work.

Basically as long as `Blazor._internal.applyHotReload` completes synchronously, I don't know why it wouldn't work. I guess it needs some debugging.

[2021-09-24 17:09] safern opened #36934 "Signout doesn't redirect to redirect uri specified in authentication properties."
### Describe the bug
While creating a website using OAuth configured as follows:

[code]

I have a Signout endpoint defined  as follows:

[code]

The logout button is defined as:
[code]

The site successfully signs out after the signout is made, however after the signout is completed, the site is not redirected to `"/"` which is the `RedirectUri`, I specified on the `SignOut` action.

### Further

[2021-09-24 17:14] HaoK commented on #36806
It looks like something is timing out, this code hasn't changed in many years so its unlikely that its an issue with the oauth flow, have you double checked your settings.

[2021-09-24 17:17] mkArtakMSFT commented on #36927
Thanks for contacting us.

@vijayrkn , @deepchoudhery can you guys please take a look at this? Thanks!

[2021-09-24 17:22] YakupIpek commented on #36918
Is there an full project example for Angular SPA RC1 + Identity Server + Signalr ?

[2021-09-24 17:28] brockallen commented on #36918
Try the "sub" claim and see if that gives you a user id:

             return connection.User.FindFirstValue("sub");

[2021-09-24 17:29] kevinchalet commented on #36934
`AuthenticationProperties.RedirectUri` is only honored if the current request path matches the configured `CookieAuthenticationOptions.LogoutPath`: if you call `SignOut` for a different request path, the value is simply ignored.

It works the same way for sign-in operations.

I've never understood this restriction but it's always been a source of annoyance, for sure 😄

[2021-09-24 17:35] safern commented on #36934
Interesting, I haven't configured a `CookieAuthenticationOptions.LoginPath` either and it is working for signing, maybe it works because I'm using the `Challenge` operation for signing in with a specific provider rather than the `SignIn` operation?

[2021-09-24 17:37] YakupIpek commented on #36918
@brockallen It is also null.

One thing is quite weird. When user logged in Open Id Provider (AddOpenIdConnect) the claims obtained from external provider was exist in ClaimsPrincipal User in older version but in this ASP.NET 6 + Identity Server, none of claims exist from external provider in User. I am not sure this is bug or not.

[2021-09-24 17:39] kevinchalet commented on #36934
Yes: in this case, `RemoteAuthenticationHandler` flows a null `RedirectUri` to the "sign-in handler" (typically an instance of the cookies authentication handler) and does the "redirect to redirect URL" dance itself, without the restriction enforced by the cookies handler.

[2021-09-24 17:40] kevinchalet commented on #36934
If you're interested in the gnarly details, it happens right here:
  - https://github.com/dotnet/aspnetcore/blob/b507fc27d9f15747596c564f27c336a695b32f72/src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs#L140-L145
  - https://github.com/dotnet/aspnetcore/blob/b507fc27d9f15747596c564f27c336a695b32f72/src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs#L166-L175

[2021-09-24 17:45] DamianEdwards opened #36935 "Support finding & calling static TryParse/BindAsync methods for parameter binding of RequestDelegateFactory parameters from interfaces implemented by the target parameter type"
In #36663 we made the change to support finding `TryParse` and `BindAsync` methods from types inherited by the parameter type. We also support finding these methods on interfaces that the parameter type implements (either directly or inherited). This allows for the bind logic to be easily shared between different type hierarchies, without having to have it in the actual hierarchy itself, or implem

[2021-09-24 17:47] #20983 closed

[2021-09-24 17:49] brockallen commented on #36918
Ok, then not sure. Put a break point in your code and look at the list of claims.

[2021-09-24 17:51] BrennanConroy commented on #36918
Also have you looked at the docs for using Identity Server and SignalR?
https://docs.microsoft.com/aspnet/core/signalr/authn-and-authz?view=aspnetcore-5.0#identity-server-jwt-authentication

[2021-09-24 18:00] YakupIpek commented on #36918
@brockallen

This is what i see on claims

![7df612caf50b1769f184666343f108d8](https://user-images.githubusercontent.com/335426/134719934-6052cdc9-4dc6-4ce4-8a55-3b95988b4ff2.png)
4666343f108d8.png

[2021-09-24 18:03] YakupIpek commented on #36918
I am not sure i really need authorization for hub because only authorized client will be connected and our hub has not any methods so client cant invoke any methods. SignalR push events on server side to client only.

But i read those docs and implement it. I will update you  @BrennanConroy

[2021-09-24 18:03] dougbu commented on #33534
Turns out we **cannot** just use `enableSourceIndex` because we instead use the eng/common/templates/job/job.yml template and e.g. use the eng/common/templates/post-build/post-build.yml template directly in our main pipeline.

That said, the eng/common/templates/job/source-index-stage1.yml looks easy enough to use.

 No, it doesn't. I'll need to change the `binlogPath` to pick up our .binlog becau

[2021-09-24 18:06] YakupIpek commented on #36918
Now after reading article and providing access token and authorizing fixed the issue. @BrennanConroy

But do i really need authorization for hub in my use case really ?

[2021-09-24 18:07] safern commented on #36934
Thanks for sharing the code. That is an unfortunate behavior... I don't know if it is documented, I couldn't find anything about it. Let's see what aspnetcore folks have to share/say about this behavior.

[2021-09-24 18:14] tanveerbadar commented on #9039
This was properly answered by @andrew-vdb in [this](https://github.com/dotnet/aspnetcore/issues/18013#issuecomment-568703715).

[2021-09-24 18:43] vsfeedback opened #36937 "Tag Helper enum attribute produces false IntelliCode CS0103 in a razor page in Visual Studio 2022 Preview 3.1"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Tag-Helper-enum-attribute-produces-false/1517895)._

---
[regression] [worked-in:VS 2019]
I have a custom tag helper ("MyTagHelper") with an enum property ("Theme"). It is used in Page1.cshtml as follows:

[code]

"Apple" is the name of an enum field. This works fine in VS2019.

In Visua

[2021-09-24 18:46] mkArtakMSFT commented on #36937
Thanks for contacting us. Looks like we have two bugs here:
1. The razor design-time build didn't fully qualify the name `Apple` and hence IntelliSense complains
2. The type name and the namespace are swapped in order in the error message: `CS0117: "MyTheme' does not contain a definition for 'TagHelperEnumAttributeBug'"`

[2021-09-24 18:47] NTaylorMullen opened #36940 "Closing / deleting a Razor file does not clear diagnostics."
Backing VSTS issue: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1405431

[2021-09-24 19:04] #36644 closed

[2021-09-24 19:04] pr-benchmarks[bot] opened #36942 "Startup regression: https"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| https [Fixed] | Json Https aspnet-citrine-amd | 09/23/2021 08:20:28 | 249 | 262 | 5.00 % (13)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>System.Runtime.

[2021-09-24 19:04] pr-benchmarks[bot] opened #36943 "Startup improvement: endpoint, json"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| endpoint [Fixed] | Plaintext Endpoint aspnet-citrine-amd | 09/23/2021 08:17:00 | 178 | 165 | -9.00 % (-16)  :thumbsup: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>Syst

[2021-09-24 19:15] CashPJ commented on #36371
Thanks. I'll try it in official 6.0 release

[2021-09-24 19:20] gdar91 commented on #36892
Try registering the IAccessTokenProvider as a scoped dependency.

[2021-09-24 19:29] LordBenjamin commented on #36892
@gdar91 you mean like this?

[code]

I have tried this and it doesn't seem to make any difference. Am I missing something?

[2021-09-24 19:32] gdar91 commented on #36892
@LordBenjamin Normally the razor rendering engine should initialize the WebViewNavigationManager. If I remember correctly, I also had to go to the main App.razor file, add an inject statement for the WebViewNavigationManager and make sure to start using this dependency only after the App.razor is done with initialization steps.

[2021-09-24 19:35] BrennanConroy commented on #34072
I believe this test failed because another test running in parallel was listening to all activities. https://github.com/dotnet/aspnetcore/pull/36908 changed the test to listen to a specific activity so it wont interfere with other tests.
Marking as `test-fixed`

[2021-09-24 19:35] alexperovich commented on #33534
O yes, thats right. The actual source-indexer exe will read all the binlogs when the repo is built as part of the index build. This method will only read the specified one.

[2021-09-24 20:00] vsfeedback opened #36944 "Increased Build Times in net6.0 RC2 over RC1 (`rc.1.21416.1`)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Increased-Build-Times-in-net60-RC2-over/1517237)._

---
[severity:It bothers me. A fix would be nice]
Please see the attached SLN.  In a previous version of RC1 my build times seem faster:

[code]

While with the latest RC2 they seem slower (although close in one run).

[code]

I have no

[2021-09-24 20:06] NTaylorMullen opened #36945 "Update to stable LanguageSErver.Client.Implementation assembly"
There's a push by the platform to normalize on a single LSP platform assembly to reduce assembly loads/jit times.

Backing VSTS issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1398534

[2021-09-24 20:10] BrennanConroy commented on #36918
Yes, if you want to use Users in a Signalr context: `storeHub.Clients.User(userId)` then you need to have an authenticated SignalR connection.

[2021-09-24 20:11] adityamandaleeka commented on #36921
Thanks for reporting this.

cc: @karelz

[2021-09-24 20:15] pranavkm commented on #36944
The VS feedback issue has some ETL traces that were helpful in narrowing down a possible source for the regression. It looks like the regression is a result of us spending more time discovering tag helpers from references: https://github.com/dotnet/sdk/blob/release/6.0.1xx-rc2/src/RazorSdk/SourceGenerators/RazorSourceGenerator.cs#L141-L202.

Our current implementation caches tag helpers from all r

[2021-09-24 20:18] pranavkm opened #36946 "Investigate optimizations to tag helper discovery"
Related to https://github.com/dotnet/aspnetcore/issues/36944. Some of the largest perf impact in our source generator comes from time spent in tag helper discovery particularly from references. We haven't done any work in earnest to figure out where this time is spent and if we can do something to improve this. Filing a tracking issue to investigate this.

[2021-09-24 20:21] adityamandaleeka commented on #36801
Triage: this is likely an issue with how the ingress controller is configured.

If you could collect the logs that @halter73 mentioned above, they'll likely show that the connection was terminated unexpectedly on the server side, which would give us further evidence of this.

[2021-09-24 20:23] adityamandaleeka commented on #36934
@Tratcher

[2021-09-24 20:26] adityamandaleeka commented on #36931
Triage: we can disable the libuv testing (since the transport has been deprecated since .NET 5) on macOS, where it's flaky.

[2021-09-24 20:27] allisonchou opened #36947 "Refactor OnTypeFormatting code into C# formatting pass"
See https://github.com/dotnet/aspnetcore-tooling/pull/4242/files#r714533641. We should consider refactoring the on-type formatting logic in `FormattingEndpoint` to C#'s on-type formatting pass to avoid exposing language-specific bits.

[2021-09-24 20:29] adityamandaleeka commented on #36920
Thanks for reporting this, we will investigate. It's interesting that we only log the headers if the body is empty.

[2021-09-24 20:32] adityamandaleeka commented on #36870
Triage: we could investigate whether this is a class of config change that we choose not to restart on.

[2021-09-24 20:33] adityamandaleeka commented on #36887
@HaoK

[2021-09-24 20:38] LordBenjamin commented on #36892
@gdar91 - Thanks for the suggestion. I have also tested delaying the instantiation of the `HttpClient` by moving it to a button click event handler - this is only possible to click once the WebView is visible and displaying content. This still throws the same exception.

[code]

I believe it may be _possible_ to make this work as-is, but it feels like it will always be a bit of a brittle solution

[2021-09-24 20:52] adityamandaleeka commented on #36857
@wtgodbe Can you please investigate?

[2021-09-24 21:05] mrpmorris commented on #36915
Yay!

[2021-09-24 21:07] #30255 closed

[2021-09-24 21:07] #35848 closed

[2021-09-24 21:20] innominate227 opened #36952 "Blazor Publish Issue When Referencing Net Framework 4.8 Library"
### Describe the bug
When a Blazer webassembly app references a .net framework 4.8 library with nuget references the nuget references are not included when the project gets published (they do get included when debugging)

### To Reproduce
1. clone repo: https://github.com/innominate227/BlazorPublishIissue
2. publish the BlazorTest.Server and note that the blazor.boot.json is missing NLog.dll under

[2021-09-24 21:26] MichelJansson commented on #36266
@pranavkm I'm having the same issue.
This started happening recently. Before installing VS 2022 preview 4, when I was using a little bit older daily build of RC1, it would say along the lines of it not being a hot-reloadable change etc. and ask me if i would like to rebuild.

Installing 6.0.0-rc.2.21470.23 did not solve the problem, and I'm still getting the below, with a brief flash of "Updating

[2021-09-24 21:28] NTaylorMullen commented on #36347
@mkArtakMSFT I investigated and this is a compiler issue. Here's the gist given this example (trying to get completion after `this.`:
![image](https://user-images.githubusercontent.com/2008729/134741421-8216afb9-6f13-4355-9b28-721a00457d03.png)

- Compiler marks `this.` as "Code" in the syntax tree (we then rightfully think it's C#)
- Compiler does **not** generate C# source mappings for this loca

[2021-09-24 21:35] ryanbrandenburg opened #36953 "Update darc subscription after Preview5 release"
We needed to move to a different darc subscription for aspnetcore coherency, but after Preview5 we should return it to "lastest", whatever that means at that point.

[2021-09-24 21:38] BrennanConroy commented on #14172
Sure, the general idea is that we want to first get the negotiate response from the server which can include multiple transports, then we'll loop over all of the transports the client can use and check that the server supports them too and see if the client connects with that transport. If it throws we log and try the next one, repeat until all transports are tried and either we stop on a successf

[2021-09-24 21:41] NTaylorMullen commented on #36125
@musictopia2 thanks for the report! I'm re-purposing this issue to handle your first issue about tags auto-closing in unexpected scenarios. As for your second issue that's being tracked here: https://github.com/dotnet/aspnetcore/issues/30747

[2021-09-24 21:58] pranavkm commented on #35985
This was resolved in the VS issue. The app was being built using VS 2019 which does not support Razor.

[2021-09-24 22:37] BrennanConroy commented on #32219
There are plenty more than this, this is just a few of the "cannot access the file" issues from the past couple days.

[Tests: Helix x64, Build shared fx](https://dev.azure.com/dnceng/public/_build/results?buildId=1379247&view=logs&j=3f6d4e0f-1b71-56b5-361e-d95b6e6da15a&t=9605d305-57d3-55b8-ba79-e50442d32137)
[code]

[Tests: Helix x64, Build shared fx](https://dev.azure.com/dnceng/public/_build/re

[2021-09-24 22:40] richlander opened #37113 "`dotnet watch run` throws AFTER CTRL-C"
This is just the `webapp` template. I don't see this with Arm64, just x64 (reliably).

[code]

Yes, the operation *was* cancelled. Can we keep that on the DL?

[2021-09-24 22:44] NTaylorMullen commented on #36121
@musictopia2 thanks for some of the examples!

1. Would you mind providing some examples / repro steps when smart indentation does not work for you?
2. Do you still see this in Preview4? Here's what I'm seeing:  ![image](https://i.imgur.com/aDRHOA4.gif)
3. This should be fixed in Preview5
4. Unfortunately this is one that might take a while to bring back but is definitely one of the most requested

[2021-09-24 23:00] #36878 closed

[2021-09-24 23:09] geetmenon commented on #36583
Is there any update on this?  My requirement is that I want to do explicit includes of each file in my views and wwwroot. What do I need to do to have the views and area views and wwwroot folders to be published without having to specify CopyToPublishDirectory="PreserveNewest" against each file. Surely there must be a better way to do this.

Also what is the use of setting CopyRazorGenerateFilesTo

[2021-09-24 23:22] halter73 opened #36957 "Fallback logic for TryParse and BindAsync is inconsistent"
Minimal route handlers do not have consistent behavior between `TryParse` and `BindAsync` if the most-preferred overload has the wrong return type but there is a valid less-preferred overload.

`TryParse` will fall back to the less-preferred overload and will not throw or log that the more-preferred overload (taking an `IFormatProvider`) has the wrong return type.

`BindAsync` on the other hand wi

[2021-09-24 23:30] #36940 closed

[2021-09-25 00:20] musictopia2 commented on #36121
I was going to wait for preview 5 to be released then test at that point.  Meanwhile, I am currently using the old editor since this part is so important that I can't use the new editor without that feature.

[2021-09-25 00:37] #36319 closed

[2021-09-25 00:38] allisonchou commented on #31542
Closing via https://github.com/dotnet/aspnetcore-tooling/pull/4242.

[2021-09-25 00:38] #31542 closed

[2021-09-25 01:24] Tratcher commented on #36920
The response headers are logged in your first example just not all of them.
[code]
The missing headers are all ones added dynamically by the server when finalizing the response.
[code]

The difference you observe between the scenarios is because of when the headers are logged. When body logging is enabled the header logging happens during the first body write, before the server generates those aut

[2021-09-25 02:45] WeihanLi commented on #36920
@Tratcher thanks for your investigation, currently, we may log before the request is handled, not sure if it's a good idea to log only when the request had been handled, and I think maybe it's better to add a try-finally clause to ensure the logs would be logged even when there's an exception

[2021-09-25 05:14] jander-msft opened #36960 "Brotli compression + disable response buffering for plain text yields incorrect response body"
### Describe the bug

If using Brotli compression in combination with disabling response buffering, plain text written to the response stream seems to not be encoded correctly.

### To Reproduce

Project demonstrating problem:
https://github.com/jander-msft/repros/tree/main/CompressedUnbufferedResponse

Run net6.0 web project and navigate to /test route. It should return "Hello", but it returns a

[2021-09-25 06:19] jing8956 commented on #35277
I may have found a tentative alternatives.
[code]
.NET SDK version is 5.0.401

[2021-09-25 06:44] dpozimski commented on #33731
In my case - enabling `Tools/Options/Debugging/’Enable JavaScript debugging for ASP.NET (Chrome, Edge and IE)` fixed the problem

[2021-09-25 07:05] pr-benchmarks[bot] opened #36961 "Perf improvement: mapaction, single_query"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| mapaction  | Json MapAction aspnet-citrine-amd | 08/24/2021 20:26:29 | 1,021,515 | 1,030,945 | 2.39 % (24,364)  :thumbsup:  | 3.01 σ | 8,104.53 | <details>    <summary>Changes</summary>     <table><th>N

[2021-09-25 07:05] pr-benchmarks[bot] opened #36962 "Perf regression: plaintext_actix, updates"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext_actix [Fixed] | Actix Plaintext aspnet-citrine-amd | 09/22/2021 22:48:18 | 12,090,917 | 12,068,129 | -0.68 % (-81,756)  :thumbsdown:  | -2.55 σ | 32,032.58 | <details>    <summary>Changes</sum

[2021-09-25 07:05] pr-benchmarks[bot] opened #36963 "Startup regression: https"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| https  | Json Https aspnet-citrine-amd | 09/23/2021 20:24:44 | 262 | 264 | 5.00 % (14)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>Benchmarks.dll</td>

[2021-09-25 07:05] pr-benchmarks[bot] opened #36964 "Single file build time regression: plaintext"
| Scenario | Environment | Date | Old Build (ms) | New Build (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------------- | -------------- | ------ | ------------ |
| plaintext  | Plaintext Self-contained aspnet-citrine-lin | 09/23/2021 01:59:28 | 23,479 | 25,353 | 6.00 % (1,567)  :thumbsdown:  | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th

[2021-09-25 07:39] boukenka commented on #33731
Hello. In the Options dialogue box, enabling Javascript debugging does not solve the problem.

![image](https://user-images.githubusercontent.com/16502423/134763358-1853f062-81b7-4801-b805-17048d8cafc7.png)

[2021-09-25 08:00] #32483 closed

[2021-09-25 08:03] bbhxwl opened #36965 "The type initializer for 'Microsoft.AspNetCore.SignalR.Protocol.JsonHubProtocol' threw an exception."
xamarin.forms ios  error
The type initializer for 'Microsoft.AspNetCore.SignalR.Protocol.JsonHubProtocol' threw an exception.
Visual Studio Professional 2019 for Mac
Version 8.10.9 (build 3)
Installation UUID: d6992803-fd76-4737-ac3a-329c56a55aca
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 6.18.0.23 (d16-6 / 088c73638)

	Package version: 612000140

Mono Framework MDK
Runtime:
	Mono 6.12.0.140 (2020

[2021-09-25 09:37] chrissainty opened #36966 "SupplyParameterFromQuery doesn't work in non-routable components"
### Describe the bug
I was expecting parameters marked with the `SupplyParameterFromQuery` attribute would work regardless of whether they were routable components or not. However, if I add the attribute to a component and add that to a page that receives the query string, the parameters on the child component are not set.

### To Reproduce
Using the stardard Blazor WebAssembly template, update th

[2021-09-25 10:06] chrissainty opened #36967 "The PageTitle component doesn't update the title when navigating directly to a page"
### Describe the bug
When applying the `PageTitle` component to pages, the title is only updated when navigating from another page in the application, not when loading a page directly.

### To Reproduce
Using the standard Blazor WebAssembly template, load the application as normal and navigate from the Index page to the Counter page. Observe that the title is updated from the application name to "

[2021-09-25 10:50] ChristianWeyer commented on #26270
Just a quick check @captainsafia @javiercn: do you know when we can see a viable solution for the issue at hand?
(Including https://github.com/dotnet/aspnetcore/issues/27592)

Thanks a lot.

[2021-09-25 11:06] eknkc opened #37023 "[dotnet-watch] Hot Reload - Provide a way to suppress rude edit dialog"
I've been testing the new hot reload feature and currently, if there is a rude edit detected, the watcher prompts for action:

[code]

My problem is, I do not run this watch directly attached to my terminal. It is buried under a task runner, redirecting stdin to somewhere else and so I can not send the a keypress.

I tried `yes a | dotnet watch...` but that also does not seem to work.

Can we have

[2021-09-25 12:53] GioviQ opened #36969 "Blazor - support variable height container in Virtualize component"
I know only at runtime the height of Virtualize container with the following style.

                        <div style="flex-grow: 1; flex-basis: 0; min-height: 0; overflow-y: auto; overflow-x: hidden; margin: 0 -15px ">
                                      <Virtualize @ref="asyncVirtualize" Context="item" ItemsProvider="LoadToDos" ItemSize="50">
                                          <ItemCo

[2021-09-25 15:41] Qos-xin commented on #33866
I have the same problem.

[2021-09-25 16:00] huunab commented on #35733
I will try to get this implemented.

[2021-09-25 16:46] BrennanConroy commented on #36965
This looks like this is a dupe of https://github.com/mono/mono/issues/20805. Does [this workaround](https://github.com/mono/mono/issues/20805#issuecomment-791440473) solve your issue?

[2021-09-25 16:46] #36965 closed

[2021-09-25 16:48] noamyogev84 commented on #14172
Thanks @BrennanConroy!
Starting to work on this ✨

[2021-09-25 17:08] MDerrickGlass opened #36970 "How to reference ProblemDetails in Blazor "shared" project?"
We've built a _Blazor_ app using the standard "hosted" framework, which creates a "shared" project for reusing objects between the _Blazor_ and host apps. This "shared" project can contain any _C#_ code, so we've found it convenient for shared helper functions to reduce our development and maintenance costs.

One thing we've standardized on is `ProblemDetails` for error handling. This goes very de

[2021-09-25 17:17] giuliohome opened #39274 "Use Date Pipe for Angular Client"
You should be using a [date pipe](https://angular.io/api/common/DatePipe) in fetch-data.component.html at [line 18](https://github.com/dotnet/spa-templates/blob/main/src/content/Angular-CSharp/ClientApp/src/app/fetch-data/fetch-data.component.html#L18), the fix is shown below

[code]
or complete with time part
[code]

It looks quite better - either just a date

![image](https://user-images.githubu

[2021-09-25 17:23] MDerrickGlass commented on #36970
Specifically, if we use `Microsoft.AspNetCore.Mvc` 2.2.0 in the "shared" project, we lose our `.Extensions` when deserializing in a host or test project. If we use version 5.5.0, the _Blazor_ project fails to build with:
[code]

[2021-09-25 17:48] AlbertoPa opened #36971 "User's secrets are not used in the new templates in Net 6 RC1"
### Describe the bug
New web apps, apis and Blazor hosted applications created with the new templates do not use user's secrets set in secrets.json without manually adding:

[code]

after ``var builder = WebApplication.CreateBuilder(args);``.

### To Reproduce

Create a new web application, web api or Blazor hosted application which uses EF Core, so it requires a connection string, as an example p

[2021-09-25 19:04] #36961 closed

[2021-09-25 19:04] pr-benchmarks[bot] opened #36973 "Perf regression: connectionclose"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclose  | Plaintext Connection Close aspnet-citrine-win | 09/24/2021 08:08:30 | 16,486 | 12,727 | -21.58 % (-3,557)  :thumbsdown:  | -3.60 σ | 988.94 | <details>    <summary>Changes</summary>

[2021-09-25 19:04] #36963 closed

[2021-09-25 19:04] #36942 closed

[2021-09-25 19:04] pr-benchmarks[bot] opened #36974 "Startup regression: updates"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| updates [Fixed] | Updates Platform aspnet-citrine-arm | 09/24/2021 09:37:59 | 5,425 | 6,017 | 10.00 % (576)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>P

[2021-09-25 19:04] pr-benchmarks[bot] opened #36975 "Startup improvement: caching, json"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| caching  | Caching Platform aspnet-citrine-arm | 09/24/2021 09:39:11 | 6,215 | 5,476 | -9.00 % (-544)  :thumbsup: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>PlatformB

[2021-09-25 19:18] davidfowl commented on #36971
I can't reproduce this on rc1. Can you provide us with a runnable sample?

[2021-09-25 19:21] GioviQ commented on #36969
In fact it would be better if it can scroll like Twitter

[2021-09-25 19:59] grbd opened #36976 "Overwriting RenderTreeFrame within RenderTreeBuilder for a Markdown blazor component"
Hi,
I've recently been looking at using blazor to render Markdown content as part of a blog.
Using the ChildContent which contains the markdown syntax and at the same time render any sub components inside the markdown.

It turns out this is possible (and pretty awesome)
But the code is a little sketchy in certain places

The question I've got is, is there a better way to do this in so far as the R

[2021-09-25 20:04] gabynevada opened #36977 ".Net 6 RC1 - Cannot set reponse headers in ExceptionMiddleware returning IAsyncEnumerable in controller"
### Describe the bug
This is probably related to the prior issue: #35364

In .Net 6 RC1 when IAsyncEnumerable is cancelled or fails, I have an exception middleware that transforms the error into a ProblemDetails json object to send to the client. When trying to set the response headers I'm having an exception "System.InvalidOperationException: Headers are read-only, response has already started.".

[2021-09-25 20:08] davidfowl commented on #36977
This is by design, you can change the response if it's already started.

[2021-09-25 20:42] AlbertoPa commented on #36971
Hi @davidfowl,

thanks for your prompt response. The default template shows the problem if you issue, for example Update-Database or Drop-Database in the package manager console after setting two different connection strings in secrets.json and appsettings.json. After investigating more, this seems limited to database operations in the package manager console (should it be reported to the EF team?

[2021-09-25 21:13] davidfowl commented on #36971
I see this is specially about the migration tools. I know what the problem is here.

[2021-09-25 21:19] #35515 closed

[2021-09-25 21:25] davidfowl commented on #34838
We might have made the wrong tradeoff removing this and making everything pass in the name from the outside. It's lead to a slow trickle of edge casey bugs that break tools and other things that load the application as a library...

[2021-09-25 21:30] davidfowl commented on #36971
Another workaround looks like this:

[code]

[2021-09-25 22:33] davidfowl commented on #36970
There's no best solution here other than re-defining the type in your assembly. We'll take this as a note to push this into a place that can be shared between client and server in the future. There's no short term solution to this without referencing the ASP.NET Core shared framework.

[2021-09-25 23:47] danroth27 opened #36978 "Enhance Microsoft.AspNetCore.Components.WebAssembly.MultipartBundle package to define a custom bundle format"
We've built [Microsoft.AspNetCore.Components.WebAssembly.MultipartBundle](https://www.nuget.org/packages/Microsoft.AspNetCore.Components.WebAssembly.MultipartBundle) as an experimental way to alter the packaging of Blazor WebAssembly apps so they work in environments that block the download of DLLs. We should consider if we want to release a stable and supported version of this package. Before we

[2021-09-26 01:24] grbd commented on #17200
I recently ran into this problem with - https://github.com/dotnet/aspnetcore/issues/36976
One question is if there is a way to add an existing frame to a builder, since I didn't see an API for that
with the above this would be the part within ```RenderFrames```

The way I've fudged it myself so far is to
[code]

I'm sure this isn't right but for now it does work. Ideally we need an API for copying

[2021-09-26 01:32] grbd commented on #36976
One suggestion would be an api function on the RenderTreeBuilder to Add in a existing RenderTreeFrame from a different collection, alongside all the other Add function calls.

[2021-09-26 01:36] bbhxwl commented on #36965
The article discusses a lot. My English is not good. Is the following code the solution?

<ItemGroup>
    <PackageReference Include="System.Memory" Version="4.5.4">
      <IncludeAssets>none</IncludeAssets>
    </PackageReference>
    <PackageReference Include="System.Buffers" Version="4.5.1">
      <IncludeAssets>none</IncludeAssets>
    </PackageReference>
  </ItemGroup>

[2021-09-26 02:00] #34759 closed

[2021-09-26 02:04] BrennanConroy commented on #36965
That's what a lot of people have been saying.

[2021-09-26 05:29] robertmclaws commented on #14962
I'm honestly surprised this feature isn't making the cut for 6.0. It's badly needed.

[2021-09-26 05:41] Serena01 commented on #35601
The issue could reproduce on windows and linux with .NET 6.0 RC2(6.0.100-rc..21473.26)

[2021-09-26 05:48] bbhxwl commented on #36965
iOS.csproj Is this the file?

[2021-09-26 05:51] v-cazhang commented on #29675
The issue could reproduce on windows and linux with .NET 6.0 RC2(6.0.100-rc..21473.26)

[2021-09-26 06:11] v-cazhang commented on #20616
The issue could reproduce on windows and linux with .NET 6.0 RC2(6.0.100-rc..21473.26)

[2021-09-26 06:28] quan0zhou opened #36979 "An asp.net core web api application, using "UseWindowsService", reports an error “System.NotSupportedException: The content root changed. Changing the host configuration is not supported ” when starting the service"
- System

  - Provider

   [ Name]  .NET Runtime

  - EventID 1026

   [ Qualifiers]  0

   Version 0

   Level 2

   Task 0

   Opcode 0

   Keywords 0x80000000000000

  - TimeCreated

   [ SystemTime]  2021-09-26T05:59:39.0432975Z

   EventRecordID 14008

   Correlation

  - Execution

   [ ProcessID]  0
   [ ThreadID]  0

   Channel Application

   Computer USER-20210710BJ

   Security

- Event

[2021-09-26 07:04] pr-benchmarks[bot] opened #36980 "Perf regression: connectionclosehttps"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclosehttps [Fixed] | Plaintext Connection Close Https aspnet-citrine-win | 09/24/2021 20:11:10 | 12,268 | 11,089 | -7.65 % (-938)  :thumbsdown:  | -4.21 σ | 222.99 | <details>    <summary>Chan

[2021-09-26 07:04] #36943 closed

[2021-09-26 07:04] pr-benchmarks[bot] opened #36981 "Startup regression: mapaction"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| mapaction  | Plaintext MapAction aspnet-citrine-amd | 09/24/2021 20:27:01 | 165 | 187 | 10.00 % (17)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>System.R

[2021-09-26 07:04] pr-benchmarks[bot] opened #36982 "Single file build time improvement: proxy-yarp"
| Scenario | Environment | Date | Old Build (ms) | New Build (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------------- | -------------- | ------ | ------------ |
| proxy-yarp  | Yarp Single-file aspnet-citrine-win | 09/24/2021 01:31:45 | 6,721 | 6,447 | -9.00 % (-564)  :thumbsup:  | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><

[2021-09-26 07:54] quan0zhou commented on #36979
Find the relevant code through the source code
![image](https://user-images.githubusercontent.com/27860834/134798825-020bcf57-904a-4e3b-845c-5de4348900bf.png)
After decompiling the source code from Microsoft.Extensions.Hosting.WindowsServices.dll, I found the solution
![image](https://user-images.githubusercontent.com/27860834/134798941-fe5bb5e1-366f-4199-9b93-b7f0b6654231.png)

[2021-09-26 07:56] quan0zhou commented on #36979
`builder.Configuration.AddJsonFile(Path.Combine(AppContext.BaseDirectory, "appsettings.json"));

builder.Host
       //.UseWindowsService()//error: The content root changed. Changing the host configuration is not supported
       .ConfigureLogging(logging =>
       {
           logging.AddEventLog();

       }).ConfigureServices((hostContext, services)=>
       {
           services.AddSingleton<I

[2021-09-26 08:24] xrkolovos commented on #36745
The basic blazor startup template from visual studio now has the same issue. I get 204 in this call.

It never get's inside here because of 204.

![image](https://user-images.githubusercontent.com/517802/134799719-e42b0dbf-8bff-4a69-a189-3e7d0a72231d.png)

Yes I tried it and I have the same issue

Is there any logs from the Hot Reload system?

[2021-09-26 08:39] xrkolovos commented on #36745
I tried reinstalling net 6 rc1 sdk and also deleting .nuget cache folder. I still have this issue.

[2021-09-26 08:56] xrkolovos commented on #36745
more info with all LogLevels in Trace

![image](https://user-images.githubusercontent.com/517802/134800929-1fb6fc24-2efb-4cd5-9103-653a2d39f981.png)

logs
[code]

[2021-09-26 09:47] n1developer-ubt commented on #36801
The issue was in the ingress controller and is now fixed! Thankyou.

[2021-09-26 09:47] #36801 closed

[2021-09-26 09:54] dodyg commented on #36876
That would help because this message `The environment changed. Changing the host configuration is not supported` isn't helpful. My first reaction was if changing host configuration isn't supported, why is the method there?

[2021-09-26 14:45] davidfowl commented on #36979
Yes this is unfortunate and one of the gotchas listed here (https://gist.github.com/davidfowl/0e0372c3c1d895c3ce195ba983b1e03d#differences-in-the-hosting-model).

@quan0zhou Can you tell me what the content root is when you host as a windows service?

Also can you try this workaround:

[code]

[2021-09-26 14:56] ibocon opened #36985 "fail `dotnet watch run` CS0246 The type or namespace name 'App' could not be found"
### Describe the bug

![image](https://user-images.githubusercontent.com/9730869/134812816-4d4c5aa6-e6c5-4ede-a98a-4f1a470ac04f.png)

### To Reproduce

1. Create Blazor WebAssembly project
2. run `dotnet watch run`

[Project](https://github.com/ibocon/StackOverflow/tree/dotnet/aspnetcore%2336985)

[code]

### Exceptions (if any)

### Further technical details
- ASP.NET Core version

SDK 6.0.100-rc

[2021-09-26 15:06] davidfowl commented on #36979
Don't worry, I have a repro with this. I think there might be an easy fix that makes this work by default.

[2021-09-26 15:36] davidfowl commented on #36979
@halter73 @Tratcher This is where we set the default content root to be the CWD https://github.com/dotnet/runtime/blob/dff742a06bb19fbb1a0ccfdefb14eb5379da3742/src/libraries/Microsoft.Extensions.Hosting/src/HostingHostBuilderExtensions.cs#L190, which is why the windows service logic needs to change it back to `AppContext.BaseDirectory`. If we could be a bit more clever about this default then it w

[2021-09-26 17:31] martincostello opened #36987 "Reading form with invalid content throws NullReferenceException"
### Describe the bug

While working on some error handling cases for a PR, I needed to make `HttpRequest.ReadFormAsync()` throw an `InvalidDataException`. In the process of creating a test case that did that, I found that posting an invalid form to the web application would cause a `NullReferenceException` to be thrown on the server when the form was read.

I can't replicate this with `5.0.10`, `6

[2021-09-26 17:37] davidfowl commented on #36876
Right. Because extension methods....

[2021-09-26 18:20] hellfirehd commented on #33787
Are you seriously putting this off until .NET 7?  This is a complete showstopper for me. I at least need a workaround!

[2021-09-26 18:29] hellfirehd commented on #33787
Looks like this:
[code]
Where `_entryFactory` is this:
[code]

What is the point of using `Lazy<T>` if you immediately call `.Value` on it after adding it to the `_activeHandlers` collection?  Can this issue be avoided entirely by not using `Lazy<T>`?

[2021-09-26 18:34] #36918 closed

[2021-09-26 18:41] davidfowl commented on #36979
I have another idea that doesn't require changing to much code. We update the documentation to pass the correct content root via command line args when creating the service:

[code]

We should update the docs to reflect this.

We also need to make a change to the host so that the content root comparison is on normalized paths. If you specify $pwd without the trailing slash, it fails because we com

[2021-09-26 19:04] #36980 closed

[2021-09-26 19:04] #36974 closed

[2021-09-26 20:31] davidfowl commented on #36979
This should be a CTI scenario that we cover.

cc @captainsafia

[2021-09-26 21:00] Nelson9991 opened #36991 "Document usage of `InputFile` when displaying images"
Bug Description.
I have an `<InputFile class="form-control" OnChange="@LoadAlbumCover" />`  and when I try to load an Image the method LoadAlbumCover get call normally, but there is something wrong happening, the following errors occurs.
1 - The application freeze (Navigation to other pages doesn't work  until I restart the app or refresh the browser)
2 - The image is presented badly like the byte

[2021-09-26 21:26] peacecwz opened #36992 "Response.Cookies.Append cannot set cookie value without encoding"
### Describe the bug
I cannot append cookie value without encoding. We are migrating old legacy systems (.NET Framework) to .NET 5 but Response.Cookies.Append function is encoding cookie value. I can set cookie as header but I need to build cookie header value manually (I cannot use CookieOptions feature. SameSite, Expires, Domain or Path ...)

### Idea suggestion
NodeJS Express can do this like t

[2021-09-26 22:05] dougbu commented on #33534
I have been running internal builds to validate my work. Not done yet but last run (https://dev.azure.com/dnceng/internal/_build/results?buildId=1386785&view=results) was successful; https://source.dot.net contains ASP.NET Core sources 🎉

[2021-09-26 22:43] vsfeedback opened #36993 "Unknown error occurred while trying to verify Failed to find a valid digest in the 'integrity' attribute for resource wth computed SHA-256 integrity"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Unknown-error-occurred-while-trying-to-v/1502096)._

---
[severity:I'm unable to use this version] [regression] [worked-in:16.10.4]
When publishing a Blazor server project, I get these errors

Unknown error occurred while trying to verify integrity.
<domain>l/:1 Failed to find a valid di

[2021-09-26 22:47] vsfeedback opened #36994 "Blazor Webassembly Integrity Check Fails - Publish"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Blazor-Webassembly-Integrity-Check-Fails/1490800)._

---
With VS2022, when you publish Blazor Webassembly application, the hashes generated in blazor.boot.json are incorrect. On app startup the integrity checks fail.

Same project published using VS2019, the hashes are correct, and the p

[2021-09-26 22:50] vsfeedback opened #36995 "Razor page call "component.razor" causes a problem in VS2022"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Razor-page-call-componentrazor-causes/1485964)._

---
Microsoft Visual Studio Community 2022 Preview (64-bit)
Version 17.0.0 Preview 2.1

Blazor Server Side project

In the Pages folder create a Razor component called "component.razor" with a lower case c.
This triggers the RZ10011 error

[2021-09-26 23:14] davidfowl commented on #33534
It's missing some still. https://source.dot.net/#q=WebApplicationBuilder

[2021-09-26 23:28] dougbu commented on #33534
I agree and suspect problems in the indexing infrastructure somewhere though not in my draft PR. See https://dev.azure.com/dnceng/internal/_build/results?buildId=1386785&view=logs&j=316d5c15-0c50-544e-8051-e6b14a1ab674&t=89d21b4d-9e97-5d1e-92db-12e44f8ee3f8&l=3972:

[code]

@alexperovich❔

[2021-09-26 23:29] dougbu commented on #33534
Oops, next line:

[code]

[2021-09-27 00:57] moehoward opened #36996 "Blazor Server and Css Isolation using .Net 6 + VS Community 2022"
I have two projects:

    Sdk="Microsoft.NET.Sdk.Web"
    Sdk="Microsoft.NET.Sdk.Razor"

The Blazor Server app (#1) references the Razor library (#2)
and it uses the following markup in its \<head\> section.

    <link href="BlazorApp1.styles.css" rel="stylesheet" />

The Razor library utilizes Css Isolation.
I am getting this error message in the browser's console.

    browserLink:77 Uncaught (i

[2021-09-27 01:27] quan0zhou commented on #36979
@davidfowl  This is a great solution, thanks!

[2021-09-27 02:52] #36198 closed

[2021-09-27 03:20] #36935 closed

[2021-09-27 03:22] mkArtakMSFT opened #36998 "Automate localization for resources in templates using Arcade infrastructure"
Details on how to onboard can be found at: https://github.com/dotnet/arcade/blob/main/Documentation/OneLocBuild.md

Specific things we'll need to tackle as part of this issue:
- [x] [Bug 1352722](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1352722): [Loc] "Enable Razor runtime compilation" and tooltips are not translated in ASP.NET Core Web Application Additional Information wizard
- [x] [

[2021-09-27 04:12] jander-msft commented on #36960
FYI, we're looking at .NET 6 support for [dotnet-monitor](https://github.com/dotnet/dotnet-monitor), but it uses response buffering disablement in order to start streaming diagnostic artifact content to the client as soon as it is made available. This issue _may_ prevent the project from adopting .NET 6 until it is fixed.

cc @shirhatti, @dotnet/dotnet-monitor

[2021-09-27 05:03] DamianEdwards commented on #35733
Actually I think we might just throw for this case now, yes @BrennanConroy @halter73?

[2021-09-27 05:18] huunab commented on #35733
There is indeed a throw

https://github.com/dotnet/aspnetcore/blob/6a172e3080877c506aedc325d03c25df28218afa/src/Shared/ParameterBindingMethodCache.cs#L241

will that be enough?

[2021-09-27 05:29] DamianEdwards commented on #35733
The analyzer would still be nice so you find out at design/build time before it throws at runtime.

[2021-09-27 06:48] dodyg opened #36999 "WebApplicationBuilder.WebHost.UseWebRoot(string) does not work witih UseStaticFiles();"
### Describe the bug

Changing the name of web root using `WebApplicationBuilder.WebHost.UseWebRoot(string) ` doesn't work with `UseStaticFiles();`

### To Reproduce

The image at `/wwwroot2/cute-kitty.jpg` won't appear on the browser although the same exact html produces the image on the old hosting configuration code.

[code]

The full code is here https://github.com/dodyg/practical-aspnetcore/t

[2021-09-27 07:04] pr-benchmarks[bot] opened #37000 "Startup regression: endpoint"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| endpoint [Fixed] | Plaintext Endpoint aspnet-citrine-amd | 09/25/2021 20:22:20 | 163 | 179 | 11.00 % (18)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th></table></details> |

@

[2021-09-27 07:05] pr-benchmarks[bot] opened #37001 "Single file build time regression: plaintext, plaintext, plaintext, plaintext"
| Scenario | Environment | Date | Old Build (ms) | New Build (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------------- | -------------- | ------ | ------------ |
| plaintext  | Plaintext Trimmed aspnet-citrine-win | 09/25/2021 01:57:30 | 111,594 | 121,358 | 9.00 % (10,773)  :thumbsdown:  | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Dif

[2021-09-27 07:28] CocoDico78 commented on #35345
Here is a minimal repo to reproduce the error. `dotnet publish` fails after a partial build. https://github.com/CocoDico78/StaticWebAssetsBug

[2021-09-27 08:27] benmccallum commented on #8321
This might be an interesting one for you to tackle @SimonCropp (if you wanted to ofc). See my comment above as to why it's a natural fit with Verify.

[2021-09-27 08:43] Junjun-zhao commented on #35267
@pranavkm Is there any update for this bug? Could you please confirm whether it is a blocker for RC2? Thanks

[2021-09-27 09:00] #36639 closed

[2021-09-27 09:06] SimonCropp commented on #8321
@benmccallum given i am not actively using aspnetcore, i am unlikely to get to work on this

[2021-09-27 10:51] MarvinKlein1508 opened #37003 "Reminder for #33785"
This issue is just a reminder for #33785 which got closed due to inactivtiy.

[2021-09-27 11:07] benmccallum commented on #8321
Ah no worries, @SimonCropp.

[2021-09-27 11:22] Joren-Thijs commented on #14133
Any updates on native support for OnPaste event in Blazor?

[2021-09-27 12:12] senj commented on #23949
How can I filter this exception in logs, without ignoring other error messages from kestrel ?

[2021-09-27 12:25] nssidhu opened #37008 "How to get Physical Path for virtual path in .NET 6 RC1?"
I am using .NET 6 RC1 Blazor Wasm Hosted App.

 I am running into issue where i don't get correct value for the virtual director's physical path.
 My app generates QR code which I need to temporarily store in images folder of virtual directory.

In the constructor of API controller i am resolving

`_webHostingEnvironment = serviceProvider.GetRequiredService<IWebHostEnvironment>();`

[code]

**Firs

[2021-09-27 12:40] rmencia-isv commented on #31048
I don't think this is only an issue for Blazor. WebAssembly is a standard and may more companies are creating WebAssembly libraries and they all should have the same problem, unless they are doing something different...

If JS is not being blocked, maybe WebAssembly should be converted into a JS file that loads the Webassembly from an Base64 encoded string using **eval(webassemblyLibrary)** or sim

[2021-09-27 12:49] eguardiola commented on #31048
@rmencia-isv The problem described here is not with the webassembly files instead with the DLL files Blazor uses.

[2021-09-27 13:27] rmencia-isv commented on #31048
But the DLL files Blazor uses are webassembly files, right? So the problem should be the same for all of them. If all the webassembly files followed the same standard approved for WebAssembly file transfers it should work the same as it happens for JS files (if there was such a standard).

Also, if Blazor WebAssembly was being used by MS in Bing, they would have noticed the problem first day. If B

[2021-09-27 13:31] thaystg commented on #33731
This was fixed in this PR https://github.com/microsoft/vscode-js-debug/commit/aed1287598f581c7d8ae24ef8cabeff74761a3a2, I'm checking when it will be on VS and will let you know when I have this information.

[2021-09-27 13:43] WeihanLi commented on #23949
I add a custom exception handler to ignore the `BadHttpRequestException`

[2021-09-27 13:52] chrdlx commented on #31048
@rmencia-isv

AFAIK No, .DLL files are normal windows DLL... that's why they're blocked...  webassembly files have the .wasm extension.
Regards

[2021-09-27 14:14] jabak commented on #18204
This should definitely be fixed ASAP.

[2021-09-27 14:25] yashizuko commented on #26698
Im having this issue, not sure where to hit my head, in my case is blazor server, but the oddity of the situation is the same, Deployed on Azure windows app service

[2021-09-27 14:46] davidfowl commented on #36999
Can repro, looks like a bug.

[2021-09-27 15:34] Mike-E-angelo commented on #36944
Thank you so much for looking into this.  With VS2022 Preview 3 my typical build times were anywhere from 40-70 seconds.  Now with Preview 4 in addition to this issue and others such as [this one](https://developercommunity.visualstudio.com/t/ServiceHubRoslynCodeAnalysisServiceex/1482376) and [this one](https://developercommunity.visualstudio.com/t/LoggerMessageGenerator-Consumes-Lots-of/1539145),

[2021-09-27 15:52] msbasanth opened #37012 "Register custom event handlers in DOM and handle those in .NET is not working in .NET 6.0"
### Describe the bug

I followed the writeup @https://github.com/dotnet/AspNetCore.Docs/issues/21763 for checking custom event args feature in Blazor - "Register custom event handlers in DOM and handle those in .NET".

But unable to get the custom events triggered from custom elements handled in .NET.

### To Reproduce
#### Environment:
.NET 6.0 RC
Microsoft Visual Studio Community 2022 Preview (6

[2021-09-27 15:54] mdmoura commented on #36806
Yes, I have been double checking all settings and until now couldn't find the problem,.

Meanwhile I found outage following error on the browser's console when it hangs out:

    [Error] Invalid 'X-Frame-Options' header encountered when loading 'https://accounts.youtube.com/accounts/CheckConnection?pmpo=https%3A%2F%2Faccounts.google.com&v=272967130&timestamp=1632757851398':
    'ALLOW-FROM https:/

[2021-09-27 16:05] #36457 closed

[2021-09-27 16:07] irobinson commented on #36720
Spent all last week getting back up and running from the outage this issue caused. Being "forced" to upgrade a complex and important app while production is inexplicably down due to the framework support being broken by the hosting provider? I honestly didn't ever expect that to happen. I mean bad on me for running something important on 2.1 in 2021 I guess, but I'd really like to know what happen

[2021-09-27 16:10] DanielStout5 commented on #36720
Likewise for us, @irobinson - we are considering moving away from Azure as a result of this.

The Azure support team repeatedly blamed us for using an "out of support" run-time (technically true, but only by a couple weeks..) and it took ~5 days for them to admit this was due to a mistake on their part - all the while our sites were going down. Pretty bad look for Azure!

[2021-09-27 16:13] #36614 closed

[2021-09-27 16:15] DamianEdwards commented on #36957
I think we should fix this for GA

[2021-09-27 16:15] TanayParikh opened #37014 "Add Docs For Blazor Server SignalR Usage"
https://aka.ms/blazor-server-using-fallback-long-polling will point to a new docs page which discusses common pitfalls and troubleshooting steps to ensure WebSockets are utilized (ie. enabled on IIS, enabled on azure portal, etc.). May just end up extending https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/server?view=aspnetcore-6.0#signalr-configuration.

_Originally posted by @

[2021-09-27 16:27] mkArtakMSFT commented on #37012
Thanks for contacting us. Please share a minimal sample project hosted on GitHub as it's easy to miss details otherwise.

[2021-09-27 16:29] Xyncgas opened #37015 "Huge Optimization Idea For Blazor Wasm"
since microsoft has its own browser microsoft edge chromium, can we put dot.net framework inside the browsers, so blazor apps can now have two releases when published in visual studio, one for the other browsers which doesn't have the dotnet framework available which will continues to use the self-contained mode, one for microsoft edge which uses the framework-independent release, so now blazor ap

[2021-09-27 16:29] mkArtakMSFT commented on #33785
Thanks for the reminder, @MarvinKlein1508.
We're busy wrapping up .NET 6 and it's hard to find time to do anything else but  very critical work. So we missed this one. We'll try to get to this this time around.

[2021-09-27 16:30] #37003 closed

[2021-09-27 16:31] mkArtakMSFT commented on #36996
Thanks for contacting us. This is not part of the runtime feature-set. Please use the [VS Feedback](https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019) to report this issue, so the team who owns the area can track the ask.

[2021-09-27 16:31] #36996 closed

[2021-09-27 16:31] mkArtakMSFT commented on #36996
@jodavis  FYI

[2021-09-27 16:31] Xyncgas commented on #37015
Say "New Performance Improvement! Microsoft's Edge is continuing to evolve and bringing you new features. This time we've reduced the load time on websites that uses certain technologies to be 300% faster, and these websites are about 5% of the internet..." etc and everyone is going to be happy after hearing this. I think microsoft should start integrating common runtimes into the browser and we a

[2021-09-27 16:34] mkArtakMSFT commented on #36995
Thanks for contacting us.
Component names can't start with lower case because that's how we differentiate them from HTML elements.

[2021-09-27 16:34] #36995 closed

[2021-09-27 16:37] mkArtakMSFT commented on #36994
Thanks for contacting us. We recommend removing `bin` and `obj` folders for your project and that should resolve your issue.
For some other cases where you may face similar issue, we've written a small doc article on how to diagnose integrity check issues in Blazor.

[2021-09-27 16:39] mkArtakMSFT commented on #36993
Thanks for contacting us. This is a dupe of https://github.com/dotnet/aspnetcore/issues/36994

[2021-09-27 16:39] #36993 closed

[2021-09-27 16:40] mkArtakMSFT commented on #36994
Looks like this is happening for .NET 5 projects

[2021-09-27 16:40] #36380 closed

[2021-09-27 16:53] danroth27 opened #37016 "ImageDisplay component sample"
Create an ImageDisplay component sample that efficiently displays a byte[]/stream as an image via streaming it to the browser.

[2021-09-27 16:55] mkArtakMSFT commented on #36976
Thanks for contacting us. RenderTreeBuilder APIs are not meant to be consumed by public. You can use these APIs at your own risk, but we don't plan to add new features / APIs to those based on external asks for this area.

[2021-09-27 16:55] #36976 closed

[2021-09-27 16:57] mkArtakMSFT commented on #36969
Thanks for contacting us. This is a dupe of #25058

[2021-09-27 16:57] #36969 closed

[2021-09-27 16:57] TanayParikh commented on #37016
Part of: https://github.com/dotnet/aspnetcore/issues/36991

[2021-09-27 16:59] HaoK commented on #36806
This looks to be something specific to your end, good luck but this doesn't look to be a product issue, feel free to reopen this if you discover something specific in the product was causing this

[2021-09-27 16:59] #36806 closed

[2021-09-27 17:06] Tratcher commented on #36960
I was only able to reproduce this when the response did not have a compressible content-type. Setting the content-type to "text/plain" makes the compression work normally.

[code]

The StreamWriter isn't necessary to the repro, I see similar behavior writing directly to the response without it. `await context.Response.WriteAsync("Hello");`

The issue is not specific to brotli, it also happens with

[2021-09-27 17:13] captainsafia commented on #33463
This issue here is external to ASP.NET Core and will likely need to be fixed in the NSwag code generator Particularly, here:

https://github.com/RicoSuter/NSwag/blob/4f345e1adc9c49d8498d4018250760aa69dd8dd2/src/NSwag.Commands/Commands/OutputCommandBase.cs#L45-L54

The reason being is that this issue occurs when the `GenerateNSwagCSharp` task is executed via MSBuild. The task passes the `FullPath`

[2021-09-27 17:17] YakupIpek opened #37018 "How to obtain external login claims in Controller ?"
I am trying to access external login claims via `await signInManager.GetExternalLoginInfoAsync()` and it returns null.

What is proper way of doing it ?

I am on ASP.NET 6 RC1 + Identity  + angular template.

[2021-09-27 17:39] captainsafia commented on #31996
Yep, this is a bug in the MSBuild condition here. It's valid to avoid multiple invocations for multiple targets but this disables it all together. I think a condition like:

[code]

Get us a little closer to doing the invocation for only the TFM That appears first. We might have to tweak it a bit to account for projects that target more than 2 TFMs.

[2021-09-27 18:05] ryanbrandenburg opened #37021 "aspnetcore-tooling-ci builds often fail due to transient versioning issues."
Builds of aspnetcore-tooling-ci have been failing quite frequently lately due to "random" versioning issues. Currently that pipeline only has a pass rate of 52.53%.

[Here's an example build](https://dev.azure.com/dnceng/public/_build/results?buildId=1388007&view=logs&j=7c8326b9-0a5f-532a-e6de-db8515c72d9a&t=2f0f1e20-badc-52e7-dbc6-29a52429fc6c) and the text reads something like:
[code]

We had pr

[2021-09-27 18:29] alexperovich commented on #33534
I need to update the main source index build to use the output of this step. Is it running currently? I can update things now if the stuff has been uploaded to storage.

[2021-09-27 18:33] TYoungSL opened #37024 "HttpResponse.OnCompleted does not fire always fire for HTTP/1.1"
### Describe the bug
When trying to test real-world functionality in a unit test, noticed OnCompleted handler was not hitting breakpoint when protocol is HTTP/1.1, but works for HTTP/2 and HTTP/3. This appears to be related to streaming content / chunked encoding?

We have a custom `HttpContent` (here moniker changed to `CustomHttpContent`) handler that is a somewhat normal implementation, other t

[2021-09-27 18:39] alexperovich commented on #33534
okay, I see the stuff in storage. Build running now.

[2021-09-27 18:50] davidfowl commented on #37024
Can you provide a runnable sample?

[2021-09-27 19:03] GioviQ commented on #36969
It is not a duplicate of #25058 where it regards variable item height, this regard height of container not fixed.

[2021-09-27 19:04] pr-benchmarks[bot] opened #37025 "Perf regression: plaintext"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext [Fixed] | Plaintext Platform Inline aspnet-citrine-amd | 09/26/2021 08:22:09 | 12,014,585 | 11,954,883 | -1.70 % (-204,276)  :thumbsdown:  | -2.52 σ | 81,184.93 | <details>    <summary>Changes

[2021-09-27 19:05] #37000 closed

[2021-09-27 19:05] pr-benchmarks[bot] opened #37026 "Startup regression: fortunes, fortunes_dapper"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| fortunes [Fixed] | Fortunes aspnet-citrine-amd | 09/26/2021 09:23:45 | 204 | 222 | 9.00 % (19)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>Microsoft.AspN

[2021-09-27 19:05] pr-benchmarks[bot] opened #37027 "Startup improvement: fortunes_ef, mapaction"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| fortunes_ef [Fixed] | Fortunes Platform EF aspnet-citrine-amd | 09/25/2021 21:13:57 | 1,819 | 1,765 | -7.00 % (-116)  :thumbsup: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th></table></deta

[2021-09-27 19:54] vsfeedback opened #37031 "Visual Studio 2022 Preview 4.1 -- Blazor Code Snippets inside Razor file not working"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Visual-Studio-2022-Preview-41----Blazor/1540532)._

---
[severity:It bothers me. A fix would be nice]
Steps to reproduce:
- Open Visual Studio Preview 4.1
- Create a new Blazor WebAssembly project using the default template
- Open the Counter.razor page
- In the markup section (not the c

[2021-09-27 20:18] HaoK opened #37032 "Examine password hashing best practices and update as needed"

[2021-09-27 20:19] adityamandaleeka commented on #37008
@nssidhu Can you please share a repro for this?

[2021-09-27 20:19] HaoK commented on #37032
Moving to preview1 so we do this at the start of 7.0

[2021-09-27 20:20] MaxMartST commented on #7246
Good day! I am trying to run your script. I got the message: ./scripts/ubuntu-create-dotnet-devcert.sh: 2:.: Can't open ./common.sh. Please tell me how to solve the problem.
I am using VSL 2 debug application in Linux as described here https://docs.microsoft.com/ru-ru/visualstudio/debugger/debug-dotnet-core-in-wsl-2?view=vs-2019

[2021-09-27 20:25] grbd commented on #36976
I think part of the question was if there will be a supported api some place else at some point to do this sort of thing? (or the equivalent) even if it's not within RenderTreeBuilder

[2021-09-27 20:33] Eilon commented on #37030
Thank you @halter73 . Please tag me in those for review!

[2021-09-27 20:36] adityamandaleeka commented on #36987
Triage: this update looks suspicious: https://github.com/dotnet/aspnetcore/commit/8bb128185b58a26065d0f29e695a2410cf0a3c68#diff-4a901400441403949ef2fe3565a0947b65049427fcc40936dddbc8d85a8a290b

@dougbu

[2021-09-27 20:41] dougbu commented on #36987
@adityamandaleeka yes, I agree. I'm on build ops at the moment and haven't prioritized undoing the damage I caused in #35547. I'm taking this bug and will get to it later this week.

[2021-09-27 20:42] dougbu commented on #36987
/fyi @Tratcher @sebastienros

[2021-09-27 20:45] brockallen commented on #37032
Anything of interest here?

[2021-09-27 20:53] dougbu commented on #33534
Excellent @alexperovich. Just need to get #37028 working&hellip;

[2021-09-27 20:53] pranavkm commented on #36977
We discussed this in triage today. The issue is that `SerializeAsync` begins writing to the Stream before the first element has been iterated over. Here's a minimal repro for this:

[code]

It's writing the `[` char before it iterates. Interestingly nothing is written if the exception is thrown without an await e.g. if the `AsyncEnumerable` looks like so:

[code]

@eiriktsarpalis are we able to de

[2021-09-27 21:12] halter73 commented on #36841
Some thoughts on the current design:

1. Would `LogLevelSelector` be a better name than `LogLevelFactory`?
2. Is the `HttpContext` enough information? What about the `EventId` and the original `LogLevel`?
3. Should we create a new sealed "Context" class so we can add new parameters in the future without breaks?
4. How many times will the `LogLevelFactory` be called per request and when?
  a) In ht

[2021-09-27 21:22] TYoungSL commented on #37024
Yeah, I'm extracting a MVE, will update issue.

[2021-09-27 21:22] halter73 commented on #36841
Strawman proposal:

[code]

[2021-09-27 21:43] Ogglas opened #37034 "ReadyToRun Compilation with runtime win-x64 gives error - NETSDK1095: Optimizing assemblies for performance is not supported for the selected target platform or architecture."
### Describe the bug

Running the example command from ReadyToRun Compilation docs gives the error below.

https://docs.microsoft.com/en-us/dotnet/core/deploying/ready-to-run

### To Reproduce

Create a new Blazor WASM project targeting .NET 5 and run the following command:

`dotnet publish -c Release -r win-x64 -p:PublishReadyToRun=true`

Tried with ` linux-x64` with the same result and I have tr

[2021-09-27 21:58] Tratcher commented on #36992
Duplicate of https://github.com/dotnet/aspnetcore/issues/2906. See the workaround there.

[2021-09-27 22:08] #36450 closed

[2021-09-27 22:13] blowdart commented on #37032
Lol define interest 😀

This will end up being re-examining identity's hashing and upping the hash count or maybe swapping out the function if we have something more modern.

[2021-09-27 22:26] rogerfar commented on #5280
In our particular case we use our server as a C&C server with multiple clients, all non web related.

We developed a .NET 4.8 client (due to API's that it consumes) that run in DC's of our customers. The app knows how to communicate with certain API's to get data from a system on demand (think ERPs and accounting systems). This app is a SignalR client and connects to the C&C server. It keeps a con

[2021-09-27 22:35] TYoungSL commented on #37024
OnCompleted is currently working in this MVE, but switching the HTTP version execution order around breaks it?

Breaks:
[code]

Works:
[code]
https://github.com/TYoungSL/MVE-37024

Trying to isolate what in our code is causing `OnCompleted` not to fire still to determine if incomplete MVE or if our code is broken.

[2021-09-27 22:36] HaoK commented on #37018
The external cookie is only around during the one request that exchanges the external auth cookie for the main identity/application cookie, so you would need to do something similar to this sample https://github.com/dotnet/aspnetcore/tree/main/src/Security/samples/Identity.ExternalClaims

[2021-09-27 22:36] #37018 closed

[2021-09-27 23:38] pranavkm commented on #37034
@Ogglas ReadyToRun is specific to the platforms that you listed there. Blazor WebAssembly in .NET 6 supports AOT thru a different toolchain that is documented here: https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnetcore-6.0#ahead-of-time-aot-compilation.

[2021-09-27 23:50] gabynevada commented on #36977
@pranavkm That would be great, the issue now is that we're getting a 200 OK response with the '[' character in the payload. This makes it difficult to handle the errors on the client.

It would also be useful if we could write to the headers before iterating the first element.

[2021-09-27 23:57] #35267 closed

[2021-09-28 00:17] rafikiassumani-msft opened #37045 "DateOnly and TimeOnly are displayed as complex objects in open-api schemas rather simple string"
### Describe the bug

`DateOnly` and `TimeOnly` are being displayed as complex objects in open api schemas for Minimal API endpoints rather than being treated as simple strings.  It will make sense for open api to treat them as `string -$date-only` and  `string -$time-only`

`app.MapGet("/events", (DateOnly dateOnly, TimeOnly timeonly) => $" date and time values ... ")`

### Exceptions (if any)

[

[2021-09-28 00:23] rafikiassumani-msft commented on #37045
This may need a change in Swashbuckle and N-Swag for these new primitives.

[2021-09-28 00:33] halter73 opened #37046 "WebApplication does not react to appsettings.json changes"
### Describe the bug

Starting in rc2, WebApplicationBuilder indirectly disposes IConfigurationProviders that are still in use by WebApplication. For FileConfigurationProviders, this prevents IConfigurationProvider.GetReloadToken() from firing. This means changes to configuration sources like appsettings.json are not observed after the WebApplication is built.

### To Reproduce

Run the following

[2021-09-28 00:54] lambdageek opened #37047 "dotnet watch: Ctrl-C doesn't reset the terminal echo on Mac"
### Describe the bug

Hitting ctrl-C to quit a `dotnet watch` session leaves the terminal echo off if `watch` is waiting for the browser to report back the ApplyUpdate capabilities

### To Reproduce

1. Install .NET 6 RC 2
1. Open an iterm2 terminal or a Terminal.app terminal.
1. `dotnet new blazorwasm`
2. `dotnet watch run` and wait for browser to open; (optional) interact with the app
3. Hit Ctr

[2021-09-28 00:54] lambdageek commented on #37047
/cc @pranavkm

[2021-09-28 01:17] lambdageek commented on #37047
This might be related to something going on with Chrome and the ASP.NET Core dev certificate.  If I open the http watch URL instead of https, `dotnet watch` doesn't hit that exception.

[2021-09-28 02:20] ssarin3194 opened #37048 "Unable to compile my .net core app using build"
Hi

I am running build retail -amd64 on my repo and I want to compile a .net core app and mention this logic in a dirs.proj file.

Here is my current logic but I don't see this target being touched when I run the above command
<Target Name="BuildWindowsAuditSetting">
         <ItemGroup>
            <Compile Include="WindowsAuditSetting\Program.cs" />
            <Compile Include="WindowsAuditSett

[2021-09-28 02:23] #36554 closed

[2021-09-28 02:24] #35780 closed

[2021-09-28 02:25] #36906 closed

[2021-09-28 02:26] Junjun-zhao commented on #35985
Thanks @pranavkm . Closing it as app can be launched well when retargeting with VS 2022.

[2021-09-28 02:27] #36125 closed

[2021-09-28 02:28] WeihanLi commented on #36841
Hi @halter73 , great thanks for your valuable feedback.

For now, I think `HttpContext` is enough, `DefaultLogLevel` can be ignored since all the default log level is `Information`, agreed with creating a new `HttpLogLevelSelectorContext`, that's great and has better compatibility.

I think all the http logging logs for the same request should be logged with the same log level, they should be a wh

[2021-09-28 02:54] phil-scott-78 opened #37049 "Removal of DefaultViewCompilerProvider in RC1 breaks AddRazorRuntimeCompilation in previous version libraries"
With .NET 6 RC1, this [commit](https://github.com/dotnet/aspnetcore/pull/35017/files#diff-940b7b75940c08518ebeb80c4d993d5972765f34ceba07f6158384fff8332160L17) drops `DefaultViewCompilerProvider ` and combines it into `DefaultViewCompiler`. This causes issues when you have a previous framework version calling `AddRazorRuntimeCompilation` when running on .NET 6 RC1. The hardcoded name [DefaultViewCo

[2021-09-28 03:23] contactkiran1899 opened #37050 "Issue with HttpClient using it on PUT/POST verbs on aspnet core 2.1"
### Describe the bug
when we try to POST/PUT verb using aspnet core 2.1 we are seeing an I/O exception coming up
ERROR: 'System.IO.IOException: Unable to read data from the transport connection: The I/O operation has been aborted because of either a thread exit or an application request. ---> System.Net.Sockets.SocketException: The I/O operation has been aborted because of either a thread exit or

[2021-09-28 05:11] davidwengier commented on #33697
Updated description and putting this back for triage as I'm not sure this is something we even want to do, let alone with any priority.

[2021-09-28 05:11] davidfowl commented on #36919
I took a look at this behavior and you can disable this option to fix the performance:

[code]

[2021-09-28 06:50] Tratcher commented on #37024
RegisterForDispose is implemented using OnCompleted, they should behave the same.

[2021-09-28 07:06] #37025 closed

[2021-09-28 07:06] pr-benchmarks[bot] opened #37052 "Perf improvement: fortunes, plaintext"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes [Fixed] | Fortunes Platform aspnet-citrine-amd | 09/26/2021 21:13:13 | 368,081 | 428,105 | 16.15 % (59,450)  :thumbsup:  | 2.17 σ | 27,454.27 | <details>    <summary>Changes</summary>     <tabl

[2021-09-28 07:06] pr-benchmarks[bot] opened #37053 "Perf regression: fortunes_actix"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes_actix  | Actix fortunes aspnet-citrine-lin | 09/26/2021 00:32:45 | 593,417 | 542,972 | -8.04 % (-47,691)  :thumbsdown:  | -6.08 σ | 7,837.88 | <details>    <summary>Changes</summary>     <table

[2021-09-28 07:06] pr-benchmarks[bot] opened #37054 "Startup improvement: mvc"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| mvc  | Json Mvc aspnet-citrine-amd | 09/26/2021 20:29:35 | 225 | 208 | -12.00 % (-26)  :thumbsup: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th></table></details> |

@sebastienros
@mangod9

[2021-09-28 07:06] pr-benchmarks[bot] opened #37055 "Single file build time improvement: plaintext"
| Scenario | Environment | Date | Old Build (ms) | New Build (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------------- | -------------- | ------ | ------------ |
| plaintext  | Plaintext Self-contained aspnet-citrine-win | 09/26/2021 02:08:25 | 29,133 | 27,136 | -6.00 % (-1,539)  :thumbsup:  | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th

[2021-09-28 07:22] allisonchou commented on #33532
This doesn't repro for me in the latest preview version (31726.67.main). Closing out for now, will re-open if reported again.

[2021-09-28 07:22] #33532 closed

[2021-09-28 07:33] allisonchou commented on #35306
I looked at the LogHub logs in the original issue and it looks to be the same exception as above. I think we should consider catching IOExceptions as Taylor mentioned above + logging them. @ryanbrandenburg thoughts?

[2021-09-28 07:57] msbasanth commented on #37012
@mkArtakMSFT

I created a sample @https://github.com/msbasanth/BlazorFeatureTester using Blazor WebAssembly template.
`lit-button` is the custom element name and `closed` is the event name,
[code]
Modified files,
- BlazorFeatureTester/BlazorTesterApp/Client/wwwroot/index.html
- BlazorFeatureTester/BlazorTesterApp/Client/Pages/Index.razor

[2021-09-28 08:17] stefannikolei opened #37058 "Usage of IViewLocalizer with Html.PartialAsync"
Consider having two views

Main.cshtml

[code]

and

_TestPartial.cshtml

[code]

So when this is executed only the first Localization in Main is working. The second one is not working. The problem is, that the Localizer is pointing to the Partial view.

The problem vanishs when you use the partial Tag-Helper

Tested on 5.0.10

[2021-09-28 08:57] Riff451 opened #37059 "OpenIdConnectHandler and PAR (Pushed Authorization Requests)"
Hello,
I'm investigating the use of the openid connect middleware with a flow that makes use of the Pushed Authorization Requests ([PAR](https://datatracker.ietf.org/doc/html/rfc9126)).

What I was trying to do is implementing the `RedirectToIdentityProvider` event to call the PAR endpoint of the authorization server and build a custom authorization request with the `request_uri` returned from the

[2021-09-28 09:46] mrward opened #37060 ".NET 6 gRPC project templates use gRPC.Tools NuGet package which does not work on Big Sur"
Related to https://github.com/dotnet/aspnetcore/issues/28538

The change below where the grpc NuGet packages in the project template were updated to a later version that work on Big Sur was not ported to the .NET 6 SDK.

https://github.com/dotnet/aspnetcore/pull/28549

.NET 5 SDK uses:

    <PackageReference Include="Grpc.AspNetCore" Version="2.34.0" />

.NET 6 SDK uses:

    <PackageReference Inc

[2021-09-28 10:13] Timonney opened #37061 "Blazor virtualize handle drag and drop event on deleted item"
If you drag an item and scroll far enough while dragging it, the item will be deleted by the serialization and the event that are linked with the item will no longer be available (event like ondragend).

It would be nice to somehow keep the dragged element alive so the event and the data won't be loss.

[2021-09-28 10:22] Lesterdor opened #37062 "Blazor input type datetime-local doesn't trigger @onchange in Firefox"
### Describe the bug
If an input of the type "datetime-local" is used, the `@onchange `event is not triggered under Firefox.

### To Reproduce
**Index.razor**
`<input type="datetime-local" value="@datetimeLocal.ToString("yyyy-MM-ddTHH:mm")" @onchange="args => DateTimeChanged(args.Value)"/>`

**Index.razor.cs**
[code]

If the input's value is changed, method `DateTimeChanged` will not be executed u

[2021-09-28 10:29] brice-fromentin commented on #33731
Thanks you
________________________________
De : Thays Grazia ***@***.***>
Envoyé : Monday, September 27, 2021 3:31:38 PM
À : dotnet/aspnetcore ***@***.***>
Cc : brice-fromentin ***@***.***>; Mention ***@***.***>
Objet : Re: [dotnet/aspnetcore] Blazor Debugging not working (#33731)

This was fixed in this PR ***@***.***<https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%

[2021-09-28 11:15] javiercn commented on #35345
I'm not able to repro this behavior with the latest 6.0 RC2 builds.

[2021-09-28 11:24] blowdart commented on #37059
It's not a flow we've looked at, and won't until it's much further along the draft process. When you start to dip into things like "custom authorization request" we start geting a little concerned that what we might right now we'll have to change when the rfc makes it out of draft.

[2021-09-28 12:07] #37034 closed

[2021-09-28 12:29] nssidhu opened #37063 "Using Speech with Blazor Wasm hosted App (.NET 6 RC1)"
[code]

The code above works in .NET 6 RC1 console app, but does not work in Blazor Wasm.
Is Azure Speech supported in Blazor Wasm ?

[code]

[2021-09-28 12:52] johan-v-r commented on #33463
Thanks Safia - Actually looks like it's already solved in the latest version of [NSwag.ApiDescription.Client](https://www.nuget.org/packages/NSwag.ApiDescription.Client/)

[2021-09-28 12:52] #33463 closed

[2021-09-28 13:02] davidfowl commented on #33534
Clicking on the "open in GitHub link" doesn't work

[2021-09-28 13:03] davidfowl commented on #33534
It took me here https://github.com/dotnet/aspnetcore/tree/a579e0a3d717d1916c1b3ac43a20998dcdb465bc/src/DefaultBuilder/src/WebApplicationBuilder.cs

[2021-09-28 13:19] #28577 closed

[2021-09-28 13:32] Riff451 commented on #37059
@blowdart Thanks for the quick response. Ok, it makes sense, I think it was promoted to RFC just a few days ago. Given the necessity to integrate with a (very custom) flow of the AS that requires PAR, what would you recommend? Just re-implementing the whole integration manually rather than trying to use of the  existing openid connect middleware?

[2021-09-28 13:44] stefannikolei commented on #37058
Ok, I tested it further. It makes no difference between using Html.PartialAsync and the tag-helper. After using an Partial View the ViewLocalizer is set to the PartialView

[2021-09-28 13:48] Meertman opened #37064 "ConsumesAttribute on operation (with AllowAnonymousAttribute) returns 401 instead of 415 (due to default/fallback authorization policy)"
### Describe the bug
When applying the ConsumesAttribute on an operation, the documentation specifies that when the provided content-type does not match the list of content-types, a 415 will be returned.

However, when specifying an authorization policy as both the default and the fallback, a 401 is returned instead, even though the operation of the controller is marked with [AllowAnonymous].

The

[2021-09-28 13:55] blowdart commented on #37059
For now I'd think so yes unless @Tratcher has any good ideas.

I've added support to the list of things for 7 we should consider but obviously no promises.

[2021-09-28 14:40] fanyang-mono opened #37065 "[App-building][rc1]Error message is confusing, when there is a syntax error in razor file"
When I have this code in my razor file
`@code {
    Car car = new Car();
    async Task Create()
    {
        await http.PostAsJsonAsync("api/car", car);
    }
}`

I hit an error like this
![issue_to_file](https://user-images.githubusercontent.com/52458914/135106782-26b887ea-1f77-42a3-9050-673e7d5b29ff.PNG)

This is not very helpful for me to figure out where my mistake was. Ideally, I'd like to

[2021-09-28 14:50] javiercn commented on #37063
@nssidhu thanks for contacting us.

It's not clear what's going on here. Maybe file an issue in the azure sdk repo as they might be able to provide an answer faster? I suspect that if what you are trying to accomplish is for audio to play, it is unlikely that the .NET SDK will work in Blazor webassembly since it's very probable that it uses native APIs to accomplish that which are not available in

[2021-09-28 14:56] YakupIpek commented on #37018
@HaoK I use `AddOpenIdConnect` method and there is no `OnCreatingTicket`  on the context parameter but i tried `OnTicketReceived`, `OnTokenValidated`, `OnTokenResponseReceived` events and i still couldn't see what i added in `User.Claims` on controller.

That example project is .NET 6 RC1 ? I am not able fetch repository and test that project right now.

[2021-09-28 15:02] Tratcher commented on #37059
RedirectToIdentityProvider allows you to call `RedirectContext.HandleResponse()` to skip the remaining logic.
https://github.com/dotnet/aspnetcore/blob/59baa0d6f93022e87cc82faaf0433fe3513a38a9/src/Security/Authentication/OpenIdConnect/src/Events/RedirectContext.cs#L37-L40
https://github.com/dotnet/aspnetcore/blob/59baa0d6f93022e87cc82faaf0433fe3513a38a9/src/Security/Authentication/OpenIdConnect/sr

[2021-09-28 15:04] Kahbazi commented on #36841
@halter73 @WeihanLi `HttpLogLevelSelectorContext` is created per request, right? Can this be a `sealed struct` instead of `class` to avoid allocation?

[2021-09-28 15:14] MarvinKlein1508 opened #37066 "Blazor does not free up memory"
This issue is related to #30210

As @javiercn mentioned there ASP.NET Core does not call garbage collection by default unless it runs out of memory. Now I have the following razor code:

[code]

The class Example1Model is defined as:
[code]

As you can see I'm creating 30 instances of this model and add it to a list in my component. Now I repeat reloading until I hit 200MB of RAM usage. I switch t

[2021-09-28 15:32] Gopigovin opened #37067 "Blazor - The input is flickered while typing speedy into the input in azure hosted"
I have rendered blazor input component and updated the value into the **Input event** and hosted the application in azure. The input is flickered in the azure hosted link and the issue did not occur in the local machine.

Note: This issue occurred azure hosted application with the different regions (different time zone). I have hosted the application in the US region and checked the hosted sample

[2021-09-28 15:39] drma-dev opened #37068 "Blazor - Binding / ValueExpression (Method as Binding)"
`Error: System.InvalidOperationException: MatBlazor.MatCheckbox`1[System.Boolean] requires a value for the 'ValueExpression' parameter. Normally this is provided automatically when using 'bind-Value'`

I have the following scenario: I'm dynamically binding the component because I want to add or remove items from a list, but blazor is demanding ValueExpression, which I can't provide because it does

[2021-09-28 16:13] Riff451 commented on #37059
Thank you very much both!
For considering adding it in a future version and for a possible solution with the current one. I'll try it.

[2021-09-28 16:13] #37059 closed

[2021-09-28 16:14] javiercn commented on #37066
@MarvinKlein1508 thanks for contacting us.

In general we require more specific data for us to start a memory leak investigation. The reason is that often the methodology used is not appropriate or the issue is in the way the app is setup.

For us to continue making progress we need to see evidence that the framework is holding on to objects when it shouldn't and preventing the memory from being f

[2021-09-28 16:30] #35306 closed

[2021-09-28 16:43] brentschmaltz commented on #36175
@leastprivilege (been on vacation :-)
"lax on receive" can be simply we accept "BEArer", "beaRer" for the protocol name. Or more complicated, if a SAML id is not a UUID but still matches the reference id, we will use it.

"management but-in" management is bought into respecting standards.
We cannot remove features, such as what we have in telemetry. When we need special feature such as when we add

[2021-09-28 16:49] BrennanConroy commented on #36887
Don't close these issues until the test is unquarantined

[2021-09-28 17:00] dougbu commented on #33534
I bet this happened because my commit was only in the internal AzDO repo. That is, links shouldn't be busted once an official build of 'main' happens after I get #37028 in. Agreed @alexperovich❔

[2021-09-28 17:06] MarvinKlein1508 commented on #37066
@javiercn check out the repo above. It is a default blazor template in .NET 6 just with an added page and model. You can reload the page as many times as you want. Every reload adds ~ 3MB memory. According to VS 2022 the memory keeps growing and will not shrink at any time. Even if I trigger a GC.Collect(2, Force); after 3 and 10 minutes.

When will the memory usage of the app shrink again, when t

[2021-09-28 17:19] HaoK commented on #36887
Yeah, github did that via the PR getting merged, thanks for reopening

[2021-09-28 17:53] TanayParikh commented on #37067
Hi @Gopigovin can you please confirm you're using SignalR WebSockets as your HTTP transport (you should be able to see this in the browser console logs).

Also, can you please confirm which version of .NET you're using (ex. .NET 6 RC1).

[2021-09-28 18:00] TanayParikh commented on #37065
Looks like it may be a stale diagnostic (notice too how it's `razor.g.cs`). Does rebuilding the solution resolve the diagnostic?

[2021-09-28 18:04] fanyang-mono commented on #37065
I tried rebuilding and cleaning/building the solution, but still hit this exact error message.

[2021-09-28 18:09] TanayParikh commented on #37065
Also just out of curiosity, if you do dotnet clean, dotnet build in the command line, does that resolve your issue. Would be helpful in isolating this from being a VS issue vs compiler issue (we shouldn't have any `razor.g.cs` diagnostics and I'm not seeing any obvious error in your sample).

[2021-09-28 18:20] javiercn commented on #37066
@MarvinKlein1508 I understand your frustration, at the same time, I would hope you understand that we don't have the resources to investigate every claim that a user makes in these kind of issues.

We've done rigorous performance and stress testing on these areas as part of the release and we haven't found issues like the one you describe.

It's very hard and time consuming for us to be explaining

[2021-09-28 18:58] javiercn commented on #31048
Hi folks,

We have an update on this topic [here](https://devblogs.microsoft.com/aspnet/custom-deployment-layout-for-blazor-webassembly-apps/)

We added a feature on RC1 that allows people to create their own "packaging format" for blazor applications and have created an experimental package that packages the dlls in a different way as described in the blog post above.
You should be able to use ou

[2021-09-28 18:59] javiercn commented on #31048
@guardrex can you use the blog post as a base to document how to do this?

[2021-09-28 19:00] #31048 closed

[2021-09-28 19:05] #37026 closed

[2021-09-28 19:05] pr-benchmarks[bot] opened #37070 "Startup regression: fortunes_ef"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| fortunes_ef [Fixed] | Fortunes Platform EF aspnet-citrine-arm | 09/27/2021 09:25:48 | 5,444 | 6,222 | 13.00 % (723)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th></table></det

[2021-09-28 19:06] tedd commented on #31048
Just note that if packaging specifically for these firewalls is an extra step, an opt-in, then most Blazor wasm deployments will be inaccessible from these locations (i.e. large corporations with content inspection in proxy). As a developer you need to be aware of the problem and fix it. This means every developer has to learn this (often the hard way) and figure out how to solve it.

In terms of

[2021-09-28 19:24] MarvinKlein1508 commented on #37066
Hi @javiercn

yes I totally understand that it is really time consuming to figure this kind of stuff out.

I allresdy spent a few days trying to understand what‘s going on. I also believe this isn‘t an issue within the Framework. But I see many posts on either StackOverFlow or on the AspNetCore repo from people who are wondering the same thing.

My main question is why I never see the memory shrin

[2021-09-28 19:34] TYoungSL commented on #37024
Alright, I'm narrowing down the case where the issue occurs but still not complete with the MVE yet.

`throw new InvalidOperationException("Reading is already in progress.");` at Http1ContentLengthMessageBody.cs:68 is getting thrown on the server.

It looks like the scenario happens when the previous request completed, the previous response is continuing and a new request comes in and a new respon

[2021-09-28 19:45] Tratcher commented on #37024
Kestrel will not start processing the next request until the current one finishes. It recycles a lot of objects between requests on the same connection. It sounds like you're holding onto a request/response after it's already finished, which is bad. That can happen if you have un-awaited or background Tasks.

[2021-09-28 19:51] TYoungSL commented on #37024
I'll try to track that down. I _am_ dealing with multiple concurrent streams here...

So I can't do concurrent streams, or it should block but I'm breaking it somehow?

Does Kestrel not take advantage of HTTP/2+ multiplexing?

[2021-09-28 20:03] jhermsen opened #37071 "Question, is it possible to override Identity DefaultUI in a Razor class library"
I have been trying to get it to work, but either it doesn't work or I'm missing something.

In startup I used the services.AddDefaultIdentity<User>() to enable the DefaultUI and that works.

Now I'm trying to use a Razor class library to override the UI so I added the Areas\Identity\Pages\Account\Login.cs and cshtml.
Also added a Test.cs and cshtml in the folder Areas\Identity\Pages\Account to tes

[2021-09-28 20:14] Andrzej-W commented on #36978
I think there are a lot of people who would like to develop applications in Blazor. At the same time many of them do not know that Blazor application can be blocked by a firewall and this can be an unpleasant surprise for them. In my opinion a solution like MultipartBoundle have to be supported by ASP.NET team and included in default Blazor templates.

[2021-09-28 20:23] javiercn commented on #37066
@MarvinKlein1508 You need to run under Release mode and without the debugger attached as a starting point. Those things will affect what you are observing.

[2021-09-28 20:28] Tratcher commented on #37024
I was describing HTTP/1 where you said you were having issues. HTTP/1 doesn't support any multiplexing on a connection.

HTTP/2+ are fully multiplexed.

[2021-09-28 20:31] #36960 closed

[2021-09-28 20:32] user72356 opened #37072 "Question: Blazor WebAssembly project template in .Net 6, no more main method?"
I just got into .Net 6 RC1 via the preview of VS 2022. I'm shocked to see that there is no longer a main method in Program.cs and the content of the main is just flatly present in the file. What is this voodoo? Is this part of a new C# feature somehow? I must have missed which version of C# introduced the main-less programs. IMO it removes consistency and self-descriptiveness to the code base. For

[2021-09-28 20:48] TYoungSL commented on #37024
![image](https://user-images.githubusercontent.com/70316188/135161410-9475b858-376b-48d9-83f3-1d44583fc387.png)

Sometimes this works without any issues, but it's the same connection (trace identifier) all the way through, different request/response objects per request.

[code]
The client is in a Task.Yield() ReadAsync() loop on HttpClient's content stream when this exception is thrown, the server