[2020-03-21 03:55] talldaniel commented on #17660
I have this problem too.  Sometimes only one or two errors, but today there are 117 prompting me to look for a solution.
It still compiles and runs, but when I get a real error, it makes it more difficult to find.

[2020-03-21 05:58] julienGrd commented on #19148
@bdnts as i understand we have to connect identity to the signal-r circuit ? did you achieve this or its just in theory ?
I check this page https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-3.1 but i don't really understand how to connect the authorization to the existing signal-r connection

It can be niece to have a github project which validate and demonstrate

[2020-03-21 08:19] brux88 commented on #19561
i am using blazor webassembly, with the template  3.2.0-preview2.20160.5, but now the build in azure pipline is in error, before i had done a project blazor serves and everything worked. but I can't understand the mistake (I'm new to this world)
this is my log error:

`2020-03-21T07:30:30.8905801Z ##[section]Starting: Build
2020-03-21T07:30:30.9010361Z =============================================

[2020-03-21 08:46] ThomasArdal opened #20049 "Getting 403 (Forbidden) when create a Twitter challenge"
I have implemented Twitter login on my ASP.NET Core site and it works. I have also configured Microsoft.Extensions.Logging. I'm seeing occasional errors in the log like this one:

[code]

I'm not using Identity but the `Microsoft.AspNetCore.Authentication.Twitter` package directly by implementing an action for twitter login looking like this:

[code]

As mentioned, the code seems to work in most c

[2020-03-21 09:23] omatrot opened #20050 "Microsoft.AspNetCore.Identity.EntityFrameworkCore 3.1.2 nuget missing target?"
### Describe the bug
The Microsoft EntityFrameworkCore 3.1.2 nuget targets .NET Standard 2.0
The Microsoft.AspNetCore.Identity.EntityFrameworkCore 3.1.2 nuget targets .NET Standard 2.1 and .NET Core App 3.1.
Is that right?

At this time I'm unable to use shared code in both a .NET Standard 2.0 library and a .NET 4.7.x library.

[2020-03-21 10:01] bdnts commented on #19148
Hi JulienGrd, No, I haven't been completely successful.  I'll summarize my findings:

1. Blazor does work with MS Identity scaffold during project creation.
  1.1 https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.1&tabs=visual-studio
  1.2 But you don't get access to the pages.
2. You can scaffold after creation and override the pages you want (e.g. Login, Logout, Reg

[2020-03-21 10:02] clement911 commented on #19994
I'm 99% sure the app service runs on windows but I went to the azure portal to double check and I can't even find where to check the OS?

I could spend some time build a minimal repro but I don't see the point given I fully expect some errors since the process is shutting down.
Here is a stack trace if that helps:
[code]

I should precise that we are running some background jobs in the asp.net cor

[2020-03-21 11:53] brux88 commented on #17733
i have the same problem, moving the file fixed it! great

[2020-03-21 12:07] JulienM28 commented on #20028
My bad NavigationManager is abstract effectively.

For HttpClient we usually make an HttpClientService and mock it. But it's his only pupose ans if we were able to mock th HttpClient directly it could be nice.

Thanks.

[2020-03-21 12:25] JulienM28 opened #20051 "Blazor WASM wrong error message"
I get this error message with my EditForm:

blazor.webassembly.js:1 WASM: System.InvalidOperationException: EditForm requires a Model parameter, or an EditContext parameter, but not both.

The problem is I not defined a model neither a context.

[2020-03-21 13:40] otaskiran commented on #15222
Hi,
How can resolve this issue?
020-03-21T13:17:23.190991431Z   An assembly specified in the application dependencies manifest (XXXXX.deps.json) was not found:
2020-03-21T13:17:23.190997031Z     package: 'Blazored.LocalStorage', version: '2.1.1'

[2020-03-21 13:47] blowdart commented on #20049
Are you sure this login actually completed? Did someone cancel or otherwise get their twitter login incorrect?

[2020-03-21 13:48] blowdart commented on #20045
Yes it's be design. If you want to limit evaluation to a single policy then you limit it within the policy itself.

[2020-03-21 14:27] webebox commented on #18340
Exactly. I tried to change DbContext to Transient but it doesn't work by no reason. Then I tried to use new Context in each call the solution works But then we lose the Unit Of Work! It's not a perfect solution but it works.

[2020-03-21 14:36] pranavkm commented on #20028
As of 3.2-preview2, `HttpClient` is no longer injected by default. It's part of the application template. You can consider using `IHttpClientFactory` in your application since that's easy to mock.

[2020-03-21 14:38] pranavkm commented on #20038
Do your properties have `RequiredAttribute`? Most data annotations validations do not execute if the value is null:

https://github.com/dotnet/runtime/blob/master/src/libraries/System.ComponentModel.Annotations/src/System/ComponentModel/DataAnnotations/StringLengthAttribute.cs#L51-L56

[2020-03-21 14:42] ThomasArdal commented on #20049
I cannot see what happened since this happens while other users try to log into the site. I was thinking that it could be caused by the user not approving the sign in on Twitter. But when looking at the error I see in the log, the current URL is `/account/logintwitter`. That's my own URL that does nothing else than return the Twitter challenge (code pasted).

When looking through the code in `Twit

[2020-03-21 15:05] MiroKov opened #20052 "Angular app - individual accounts authentication doesn't work in IIS when uri with capital letters"
Hi all,
this is a continuation of a long battle that started with #19852. The problems described there (part of them, were because of the Uri, that had a capital letter. Took awhile to figure it out.

### Describe the bug
When deploying an app in IIS (IIS EXPRESS has no problems), and using an individual accounts authentification, following error appears when trying to login:

![image](https://use

[2020-03-21 15:51] andrii-litvinov commented on #19510
I have same issue. For now I have resolved it by creating a derived ProducesAttribute with special handling for `ProblemDetail`:
[code]

Though I still haven't found a way how to configure different content type for 4xx and 5xx responses for Swagger.

[2020-03-21 16:38] NTaylorMullen commented on #17660
If anyone is able to provide a repro project that will enable us to investigate further.

[2020-03-21 17:22] wichur opened #20054 "Blazor WASM 3.2.0 Preview2 IAccessTokenProvider.RequestAccessToken fails for Auth0 and Okta"
### Description
I was trying to use Blazor WASM to autheticate with external provider to get a token that I could use with my API.

### To Reproduce
Simplest set of steps
1. Create free account on Auth0 or Okta or maybe other
2. Create new application and configure it for https://localhost:5000/*
3. Create client-side project giving provider parameters in folder AuthTest
[code]
4. Change build pro

[2020-03-21 17:37] talldaniel commented on #17660
@NTaylorMullen I checked to see if it was something I was doing by downloading an app that I had seen on Pluralsite that is on github called, "BethanysPieshopHRM"  It demonstrates the problem on my machine.
I also dont have a clean install, I have been installing Visual Studio on this computer for about five years and a lot of different versions show up in my programs list.
Also, I had BethanysPie

[2020-03-21 17:54] talldaniel commented on #17660
@NTaylorMullen
I was able to duplicate this problem by opening BethanysPieShopHRM and then
1.  Copy paste the file "AddEmployeeDialog.razor to the Components folder.  (from pages)
2. Copy the entire EditForm on this page and paste it below.
3.  Attempt to compile and wait for error.
4.  Restore the content of AddEmployeeDialog.razor (but leave it where it was moved to.)
5.  Build and it fails.

![

[2020-03-21 17:58] skype007 commented on #19608
@halter73 I also tried this but no success :( (there are no logs provided after Postman call) But what's weird is when I'm calling the host with a non-existing endpoint such as "https://my.azurewebsites.net/api/valuesDoesNotExist" => we should have a 404 Not Found but I got instead the same result : Sending request...for ever !

I'm beginning to think it's an issue related to Azure on our side, bu

[2020-03-21 18:29] Pilchie commented on #11064
Reverted the change, so re-opening.

[2020-03-21 18:57] bdnts commented on #19148
Found another interesting Tutorial - Enable your Web Apps to sign-in users and call APIs with the Microsoft identity platform for developers:
https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-aspnetcore-webapp-openidconnect-v2/enable-webapp-signin/
It appears to be comprehensive tutorial on Authentication for all MS platforms.

[2020-03-21 19:18] moxplod commented on #17890
Yes. that is what was missing.

[2020-03-21 20:09] SoftCircuits opened #20055 "Errors and warnings using @functions block in Razor Pages"
Because the `@helper` directive is no longer supported in ASP.NET Core Razor Pages, I've been using the `@functions` directive instead.

    @functions
    {
        void RenderTask(Models.Task task)
        {
            <tr>
                <td class="@Model.CssClass">
                    <p class="compact">
                        <span class="font-weight-bold">@task.Title</span>

[2020-03-22 02:52] Tratcher commented on #20049
Your best bet is to hook the Bachchannel property on the options and log the full response from Twitter.

[2020-03-22 07:53] danroth27 opened #20056 "`bind` vs `bind-Value` Diagnostics Experience"
_From @geeForceOne on Sunday, October 13, 2019 2:41:47 PM_

Hi

First of all, thanks for this workshop. It's really great go get into the basics of blazor.

So I'm working on chapter 5 (validations) and I did a mistake when adapting the code. I had

`<InputText @bind="Address.Name" />`

instead of
`<InputText @bind-Value="Address.Name" />`

and then when i was trying to navigate to /checkout the p

[2020-03-22 08:02] danroth27 opened #20057 "Support for nullable references (C# 8) in the workshop"
_From @MiKom on Friday, June 21, 2019 11:38:34 AM_

Hello,

Since .net core 3.0 is going to introduce first stable Blazor release *and* C# 8 I think that it would be a good idea to make Blazor samples already use latest incarnation of the language.

This would nicely go in tandem I think, and would already provide best practices.

All Blazor code is going to be new code and using nullable referenc

[2020-03-22 10:39] #18476 closed

[2020-03-22 11:05] blowdart commented on #20050
ASP.NET Core 3 only targets Net Core App 3, which in turn only targets the .NET Core Runtime, so yes, this is correct, you cannot target .NET 4,7 or 4.8.

[2020-03-22 11:05] #20050 closed

[2020-03-22 11:16] jjonescz opened #20060 "NotImplementedException inside IsEmptyOrWhiteSpace"
### Bug description
Property implementation `DefaultTagHelperContent.IsWhiteSpaceOrEmpty` throws `NotImplementedException`.

### How to reproduce
See [mimimum viable example](https://github.com/jjonescz/WhiteSpaceWriter-bug). The exception is thrown on [line 24 in `Pages/Index.cshtml`](https://github.com/jjonescz/WhiteSpaceWriter-bug/blob/master/Pages/Index.cshtml#L23-L25).

### Further technical

[2020-03-22 13:59] omatrot commented on #20050
I'm confused because I thought that the version numbers would allow me to select compatible nugets. In this case it is not.

[2020-03-22 15:22] HeroSpha commented on #19561
`C:\Users\appsu\.nuget\packages\microsoft.aspnetcore.blazor.build\3.2.0-preview1.20073.1\targets\Blazor.MonoRuntime.targets(258,5): Error : Unhandled exception. Mono.Linker.Steps.XmlResolutionException: Failed to process XML description: <unspecified>
 ---> Mono.Cecil.AssemblyResolutionException: Failed to resolve assembly: 'Skclusive.Blazor.Dashboard.App.View, Version=1.0.0.0, Culture=neutral, Pu

[2020-03-22 15:41] pablofrommars commented on #18271
SVG support has nicely been working for me until I started experimenting with foreignObject.

A possible workaround until "full support" is to render your problematic content as [raw html](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#raw-html]) using MarkupString:

[code]

Hope it helps prevent a few headaches!

[2020-03-22 17:33] talldaniel commented on #17660
Also there is another similar problem that i am experiencing today.
I was having the above problem on two folders where there was a file by the same name as the folder in each.  I renamed the folder and restarted.
The Intellisense now shows the old folder name, which it previously said was not there, and was not on intellisense and does not show the new folder name.
If a restart doesn't fix it, th

[2020-03-22 19:03] marcuslindblom opened #20062 "Include authorization cookie when using IHttpClientFactory to create an HttpClient"
I use Identity with cookie authentication but when I use `IHttpClientFactory` to create request no cookies are included in the request. Is there something similar to `credentials: 'include'` when using JS with the `fetch` api for `HttpClient`?

[2020-03-22 20:56] Marusyk commented on #19962
@Tratcher Do you mean catch `InvalidOperationException` in
https://github.com/dotnet/aspnetcore/blob/715ed24382b7f9621bc0b48a8202705c5cf8870d/src/Mvc/Mvc.ViewFeatures/src/Filters/ValidateAntiforgeryTokenAuthorizationFilter.cs#L45-L50

and rethrow `InvalidDataException`?

[2020-03-22 21:35] omuleanu opened #20065 "using AutoValidateAntiforgeryTokenAttribute with options.Cookie.Path set post requests fail when Action is not Index ( aspnetcore 3.1)"
I've noticed strange behaviour in my app, so having this in Startup.cs:
[code]
If I launch the app in a new Tab/browser with Private Browsing and the Url is not from an Index action, for example:
[code]
then all the post actions (with the token present) will fail,
and I can make them to work by going to the root `/` (Home/Index) and returning back (without closing the private browsing session)

bu

[2020-03-22 23:17] Tratcher commented on #19962
No, lower. Somewhere around Microsoft.AspNetCore.WebUtilities.FormPipeReader.GetDecodedString.

[2020-03-23 03:00] brentschmaltz opened #20066 "Security Authentication handlers should not reference JwtSecurityToken"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]

### Describe the solution you'd like

Asp.net uses ISecurityTokenValidator.ValidateToken which has an out parameter of type SecurityToken. asp.net assumes a JwtSecurityToken.
If a user plugs in a different ISecurityTokenValidator tha

[2020-03-23 04:06] aktxyz opened #20067 "<input> oddness when intercepting oninput events"
https://blazorfiddle.com/s/p0pkrmtm

This sample textbox changes the letter "a" to a period "." as you type (successfully).
This sample also tries to prevent the letter "x" from registering (fails).
To reproduce, type abxa in the text field, the result should be

[code]

This is similar to an issue I used to have with react.

In addition, the midstream text editing has a problem when trying to "ge

[2020-03-23 04:28] vertonghenb opened #20068 "[Blazor] Implicit Operator for RenderFragment from String"
Coming from `TypeScript` we have `Union` types, where a parameter can be of multiple types. Which is quite handy because sometimes I want a `[Parameter]` in my Blazor component to be a `string` or a `RenderFragment`. I'm wondering if an implicit operator would make sense to make it possible to set a `parameter` as a `string` or as a `RenderFragment`

### MyComponent.razor
[code]
### Using the comp

[2020-03-23 05:17] mkArtakMSFT commented on #9035
@ar0311 debugging from VS Code will also be possible when 3.2-Preview 3 will release As @chucker mentioned, it'll be closer to the end of the month.

[2020-03-23 05:25] ar0311 commented on #9035
Great, thanks!

[2020-03-23 06:11] mkArtakMSFT commented on #20068
Thank you for your feature request. We'll consider this feature during the next sprint planning period and update the status of this issue accordingly. To help us prioritize this feature correctly, please make sure you provide as much information as possible about the scenarios and their importance.

[2020-03-23 06:17] mkArtakMSFT commented on #20060
Thanks for contacting us.
@NTaylorMullen can you please look into this? Thanks!

[2020-03-23 06:20] mkArtakMSFT commented on #20037
Thanks for contacting us.
@javiercn can you please look into this? Thanks!

[2020-03-23 06:41] mkArtakMSFT commented on #20062
Thanks for contacting us.
@rynowak can you please look into this? Thanks!

[2020-03-23 07:33] marcuslindblom commented on #20062
I think I'm looking for something like this but for the default handler.

[code]

[2020-03-23 07:46] Tewr commented on #17730
I've created a [small library called BlazorWorker](https://github.com/Tewr/BlazorWorker) which creates a new dotnet process using web workers. It's is very similar to multithreading, main difference being no shared memory, only message passing @BlenderMender @Marcin-Perz I would appreciate your feedback on the API, to see if it's a path worth pursuing in the meantime.

[2020-03-23 08:48] chassq opened #20070 "Blazor - Connection (Client/Server) Timeout configuration"
![Timeout1006](https://user-images.githubusercontent.com/4785384/77297033-154ad300-6cbf-11ea-8436-ea6302521881.jpg)

We are seeing in Server Side Blazor issues with connection timeouts (see attached pic). It seems to be transient (e.g.. if the azure side services (app or signalr) are restarted or, for example, if we lock a computer and walk away for a period of time). When we come back the default

[2020-03-23 10:13] MarkusRodler opened #20071 "Changing wwwroot directory does not work"
I tried several ways to change the default wwwroot directory to another directory with Blazor Webassembly.
My folder structure is like that:
src/
- csproj file
Web/
- index.html
- Css
- Images

My plan is to move the wwwroot directory to ../Web

I tried this solutions:
1. Add project.json file with this content:
[code]

2. Add hosting.json file with this content:
[code]

3. Add UseWebRoot to Progr

[2020-03-23 10:16] MarkusRodler commented on #20071
Using  `<ServiceWorkerAssetsManifestItem Include="MyDirectory\AnotherFile.json"
    RelativePath="MyDirectory\AnotherFile.json" AssetUrl="files/AnotherFile.json" />` is no option for me because the web root is big and I don't want to specify each file. That would be prone to error.

[2020-03-23 11:27] SteveSandersonMS commented on #19561
The `Failed to resolve assembly` errors will occur if you're running the wrong version of the SDK. You need 3.1.102 or later.

[2020-03-23 11:28] SteveSandersonMS commented on #19561
I'm going to mark this issue as closed because the things people are reporting now are completely different from the original issue first posted here.

For anyone who's still having trouble, could you please: (1) check you're using SDK 3.1.102+, including on your CI system if that's where the error occurs, and (2) if you're still hitting a problem, file a new issue giving repro steps? Thanks!

[2020-03-23 11:28] #19561 closed

[2020-03-23 11:30] javiercn commented on #20037
@mkArtakMSFT we don't own this and the docker build file is a multi-stage build file which means you can build different stages of it, so I think this is by design.

[2020-03-23 11:37] javiercn commented on #20071
@MarkusRodler thanks for contacting us.

We don't support project.json (that was from the beginning of dotnet core I believe). You can't configure the webroot with a hosting.json, that's not something that ever existed AFAIK.

There is also no "host.UseWebRoot" in Blazor either.

The best you can do, is to use MSBuild to copy the output to the final destination you are expecting on disk.

From wha

[2020-03-23 11:41] javiercn commented on #20067
@aktxyz thanks for contacting us.

This is because you are using OnInputChange instead of "bind" we have special logic to handle these types of things on bind.

@SteveSandersonMS can add details here.

[2020-03-23 11:46] javiercn commented on #20054
@wichur thanks for contacting us.

I'm not sure why there would be an issue here, but the best I can think of is that the expires value is not being sent correctly by the providers (which they should) or the underlying oidc-client.js library not reflecting it correctly.

From our-side, we could avoid trying to return the data if its not present, but it should be there either from the library or th

[2020-03-23 11:52] javiercn commented on #20051
@JulienM28 thanks for contacting us.

Can you provide a minimal repro project that showcases the issue so that we can investigate?

[2020-03-23 11:54] AndreNecker commented on #19986
I could reproduce it in this solution:

[WpfApp1.zip](https://github.com/dotnet/aspnetcore/files/4369057/WpfApp1.zip)

I start "Client" and "WpfApp1", press two times enter in the console and wait.

After 5-20 calls the "WpfApp1" process crashes with a SEHException.

It works, when I delete the CancellationToken in ChatHub.cs

[2020-03-23 11:55] javiercn commented on #20027
@Discovery-support thanks for contacting us.

We'll take a look at you issue and get back to you

[2020-03-23 11:57] SteveSandersonMS commented on #20067
@javiercn is correct. You need to use `@bind` for a two-way binding if you're using Blazor Server.

With Blazor WebAssembly it makes no difference either way, since all the logic runs locally and synchronously. But with Blazor Server, there are events happening possibly simultaneously at both ends of a wire - on the client side, and on the server side - and the framework has to reconcile these eve

[2020-03-23 12:00] javiercn commented on #20067
@SteveSandersonMS I believe this is wasm, the examples are in a js fiddle

[2020-03-23 12:03] EngineerTryingToCode commented on #19969
U:\>netsh interface ipv4 show excludedportrange protocol=tcp

Protocol tcp Port Exclusion Ranges

Start Port    End Port
----------    --------
        80          80
      5357        5357
      7779        7779
      8028        8028
      8029        8029
     54235       54235
     54236       54236

* - Administered port exclusions.

[2020-03-23 12:07] SteveSandersonMS commented on #20067
Ah yes good point! I realise now, having inspected the scenario in more detail, that this is one of the cases where `@bind` also is required in Blazor WebAssembly. Again, without `@bind` the framework can't track how the `value` output and the `@oninput` handler are associated.

Here's an updated implementation of the repro that works using `@bind`: https://blazorfiddle.com/s/4n332etu

[2020-03-23 12:21] SteveSandersonMS commented on #19812
@MitchellNZ Did you try the following? https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.1&tabs=visual-studio#procedural-logic

[2020-03-23 12:24] javiercn commented on #19812
@SteveSandersonMS I think the remainder here might be related to https://github.com/dotnet/aspnetcore/issues/20027

[2020-03-23 12:31] Jessicaward commented on #4707
I'm having the same problem

[2020-03-23 12:39] SteveSandersonMS commented on #20071
@MarkusRodler You can also use MSBuild features to include a whole directory:

[code]

[2020-03-23 12:45] sykesjd commented on #19924
Okay... that did indeed fix the issue. I don't suppose something could be added to `ConfigureWebJobs` not to do the reconfiguration of the config if it's already been configured? It's rather unintuitive to have to remember this quirk otherwise.

[2020-03-23 12:47] aktxyz commented on #20067
should have been wasm i the subject !

fantastic, thanks for that bind example ... the cursor still warps to the end when trying to add an "a" or "x" midstream in the text ... any thoughts on that part?

[2020-03-23 13:02] SteveSandersonMS commented on #19919
I'm afraid I've not been able to reproduce this. I did the following:

[code]

Then:

 * Opened https://localhost:5001/ in a browser
 * Verified that, while online, no error occurs (because the connection to the SignalR hub succeeds)
 * Switched the tab into "offline" mode using the dev tools
 * Reloaded https://localhost:5001/
 * Verified that, while offline, the SignalR connection fails and the

[2020-03-23 13:07] SteveSandersonMS commented on #19919
Note that I also tried:

 * Once the PWA is cached so the app can be loaded offline, leave the browser tab in "online" mode but turn off the underlying web server
 * Reloaded https://localhost:5001/
 * Verified that the connection error message appears in the UI

Note that in this case, there can be a delay before showing the error UI, because the attempt to make a request to https://localhost:500

[2020-03-23 13:17] aktxyz commented on #20067
This version is using requestAnimationFrame and jsinterop to "fix" the jumping cursor (when typing an "x" midstream)

https://blazorfiddle.com/s/tbusf92m

any thoughts on if this approach has potential problems ...

inspiration from here ...
https://stackoverflow.com/questions/35535688/stop-cursor-jumping-when-formatting-number-in-react/49648061#49648061

[2020-03-23 13:19] SteveSandersonMS opened #20072 "Consider preserving cursor position and selection when writing to value on an input"
Currently, if you use `@bind` with a property whose setter mutates the property value to something other than the incoming `value`, then Blazor's diffing algorithm will see that it has to update the `value` on the `<input>`. That's good, but as a side effect, any selection and cursor position info will be discarded, and the cursor will move to the end of the textbox.

Sometimes this may be desirab

[2020-03-23 13:20] SteveSandersonMS commented on #20067
@aktxyz Yes, in the cases where your code mutates the textbox value though code, Blazor has to update the `.textContent` property of the corresponding `<input>` element. When the `.textContent` property is written, browsers automatically move the cursor to the end.

As for whether this is the right default behavior, it's subjective. I know in your case it's undesirable, but consider cases where yo

[2020-03-23 13:32] CodedBeard commented on #19919
Hi @SteveSandersonMS. Yes that is how I had it setup. The catch was not working for me resulting in the listed exception stack trace in the browser, and the standard "an unhadled error has occured" bar being displayed at the foot of the page.
One thing I forgot to mention, is that the PWA was running on a raspberry Pi in chromium, in case that makes a difference.
Another thing I just thought of, i

[2020-03-23 13:47] CodedBeard commented on #19919
Just managed to grab a screenshot of the same error happening in firefox, so don't think the chromium part is relevant:
![pwaerror](https://user-images.githubusercontent.com/4446559/77323145-b1e79200-6d0c-11ea-958b-deb262e7bfb4.png)

[2020-03-23 13:49] CodedBeard commented on #19919
is preview 3 out now, or use nightly? either way I shall give it a go when my shift finishes.

[2020-03-23 14:27] javiercn commented on #20065
@omuleanu thanks for contacting us.

We are not sure what you are trying to convey here, but from what we understand you are complaining that antiforgery doesn't work when you set a path for the cookie.

I would expect that to be the case since it seems your configuration is not correct and should only work for routes that start with the cookie path ** and that have the same casing as the cookie p

[2020-03-23 14:38] BrennanConroy commented on #19986
This has nothing to do with SignalR.

You can reproduce the error by just running:
[code]

I don't think CancellationToken is meant to ever be run through a serializer/deserializer. If you look at the produced Json, there is a value for the `WaitHandle` object that is really a reference to a native object handle. Json uses reflection to modify values on objects when deserializing to produce the "c

[2020-03-23 14:38] #19986 closed

[2020-03-23 14:51] omuleanu commented on #20065
@javiercn I was using similar code in MVC5 without problems,  and after moving to aspnetcore 3.1 I noticed the problem, I'm not sure why `options.Cookie.Path` was being set, so I don't know the proper this should be done.
I thought it's either a bug or I'm doing something wrong, but I couldn't find docs related to `AddAntiforgery` and `Cookie.Path`.

btw, how did you determined that my configurati

[2020-03-23 14:59] javiercn commented on #20065
@omuleanu I'm guessing because you are setting the path to "abc" so the most logical thing is that any action that is not under "abc" will fail antiforgery validation as the cookie is not there.

That's why we need a repro in case you think this is a bug, because it is not clear to us what you are trying to do, and we can't investigate based on the current information.

For us to move forward with

[2020-03-23 15:05] MarkusRodler commented on #20071
Thanks for your answers @javiercn and @SteveSandersonMS
The solution from @SteveSandersonMS is ok for me because I am running it within a docker container and can mount the paths like I wanted in development and copy it in production.

Generally it would be nice to specify the web root directory but that seems to be a feature request.

Thanks for your help!

[2020-03-23 15:05] #20071 closed

[2020-03-23 15:28] ajcvickers commented on #19997
@shahedurrahman Use `ToEnumerable` to force evaluation on the client. This is what was happening in 2.2 anyway.

[2020-03-23 15:34] BrennanConroy commented on #18290
Thanks @tebeco 😄

[2020-03-23 15:34] #18290 closed

[2020-03-23 15:52] omuleanu commented on #20065
ok, I was looking at the Cookie.Path as if it was name or domain

[2020-03-23 15:52] #20065 closed

[2020-03-23 16:24] shahedurrahman commented on #19997
That doesn't work either. My understanding is that using separate int property for primary key and ignoring existing 'id' column (which I'm doing in my case) breaks LINQ translation in 3.0/3.1.

[code]
Basically this breaks external sign in using Facebook or Google in 3.0/3.1 and preventing me from upgrading. Both of these method are not working because of this issue.

[code]

Please let me know i

[2020-03-23 16:24] #19802 closed

[2020-03-23 16:25] Tewr commented on #5475
@cician, @vibeeshan025 would you mind giving some feedback on [this library](https://github.com/Tewr/BlazorWorker), it partially fit the usecase. It's without shared memory, just using messages.

[2020-03-23 16:33] Tratcher commented on #20062
See the new header propagation middleware
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.1#header-propagation-middleware

[2020-03-23 16:33] BrennanConroy commented on #10400
Fixed via https://github.com/dotnet/aspnetcore/pull/19832

[2020-03-23 16:33] #10400 closed

[2020-03-23 16:34] mkArtakMSFT commented on #20014
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2020-03-23 16:34] #20014 closed

[2020-03-23 16:35] mkArtakMSFT commented on #20055
Thanks for contacting us.
@NTaylorMullen can you please look into this? Thanks!

[2020-03-23 16:36] ajcvickers commented on #19997
@shahedurrahman All this should work with the default EF model in ASP.NET Core Identity. Since you have modified the model in a way that the queries cannot be evaluated on the server the only options are:
* Revert your model changes or do them in a way that doesn't involve use of un-mapped properties in queries
* Explicitly use client evaluation in all the places where your modified model requires

[2020-03-23 16:38] mkArtakMSFT commented on #20025
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2020-03-23 16:38] #20025 closed

[2020-03-23 16:38] NTaylorMullen commented on #17660
Sadly renaming Blazor files/folders does not always yield a great experience today (requires close/re-open of file) and in some cases the older file name will persist along side the newer one. If you want to work around this bug you can delete your bin/obj directories and re-compile.

[2020-03-23 16:39] mkArtakMSFT commented on #20024
Closing per @Tratcher 's response.

[2020-03-23 16:39] #20024 closed

[2020-03-23 16:45] TanvirArjel commented on #20025
@mkArtakMSFT  This is not a question! This is an issue as I said that ASP.NET Core default Model binder can bind string representation of DateTime to DateTime property while its not binding string representation of TimeSpan value to TimeSpan property. That's it.

Note: I know how the workaround of this issue. But I have posted here so that ASP.NET Core Team can think about this.

Thank you.

[2020-03-23 16:50] NTaylorMullen commented on #20055
Ah nice report @SoftCircuits. I was able to reproduce this.

Reason that this is causing issues is because we treat the img tag in the above example as a TagHelper because it has a `~/` attribute however everything in the `@functions` block doesn't get treated the same as something in the body. For instance in the body of the Razor page we have these nice little pragma warning disable/restores:

[

[2020-03-23 17:10] SoftCircuits commented on #20055
Thanks.

So when you say *we*, are you referring to the programmer who writes the `@functions` block, or is this something that can be done by the compiler on Microsoft's end?

[2020-03-23 17:11] SoftCircuits commented on #20055
Thanks @NTaylorMullen . Glad to know it wasn't just me.

[2020-03-23 17:15] SidShetye commented on #20037
@javiercn I can understand a distinct restore stage in a multi-stage Dockerfile (already present) but why does a multi-stage docker file imply distinct build + publish stages?

[2020-03-23 17:17] shahedurrahman commented on #19997
@ajcvickers Thanks for the quick reply and suggestions. I'm afraid that, I have different situation. Let me try to recap in short.

- I'm using Microsoft.AspNetCore.Identity.EntityFrameworkCore v3.1.2
- I'm using 'UserId' int property in my custom User model to map 'id' database column in 'AspNetUsers', which I believe is a supported scenario.
- I'm using following identity library/package method

[2020-03-23 17:19] MarkusRodler commented on #14976
I tested this with the current 3.1-alpine version and it works without issue.

[2020-03-23 17:24] mkArtakMSFT opened #20074 "Update Identity package references in Blazor WASM project to the latest 3.1.2 release"
When creating an Blazor WASM project with Individual Auth option, the referenced identity packages are 3.1.0. They should instead be the latest 3.1.2 version.
This indicates an issue with the `MicrosoftAspNetCoreIdentityEntityFrameworkCorePackageVersion` variable value in here: https://github.com/dotnet/aspnetcore/blob/a700aa92fec0c3554eb3f450a17037761b069363/src/ProjectTemplates/ComponentsWebAsse

[2020-03-23 17:36] Carl-Hugo commented on #19931
Sounds like a plan for Blazor.

In case you plan on doing the same that you do with Asp.Net Core, I think that it would be more flexible to have access to that list of "known mime-types" externally (like config file, machine-wide config file, something) without the need for you to recompile everything to add the mime-type of the "newest cool file type" each time there is one.

I still think that `

[2020-03-23 17:54] bdnts opened #20075 "Callback method as a parameter"
### Is your feature request related to a problem? Please describe.
A Blazor component can be passed callback methods as parameters.  This is not possible when an Aspnetcore View calls a component https://github.com/dotnet/AspNetCore.Docs/issues/17411

A clear and concise description of what the problem is.
Example: Aspnetcore View calling a Blazor component that is a modal dialog.  The dialog allo

[2020-03-23 18:24] #19628 closed

[2020-03-23 18:25] anurse commented on #19994
Are you doing anything off the default path for logging? The fact that the logger is being disposed to early often indicates you've set up some custom logging, or weird background service lifetimes, and the lifecycle isn't quite lining up.

Correct, 5 seconds is the default, though it is [configurable](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/web-host?view=aspnetcore-3.1#shut

[2020-03-23 18:26] NTaylorMullen commented on #19628
🥂

[2020-03-23 18:26] ajaybhargavb commented on #19851
https://github.com/dotnet/aspnetcore-tooling/pull/1703

[2020-03-23 18:26] #19851 closed

[2020-03-23 18:28] anurse opened #20076 "Consider upgrading reference to StackExchange.Redis"
On [the advice of the StackExchange.Redis maintainers](https://github.com/dotnet/aspnetcore/pull/20042#issuecomment-602029515), we have held off on upgrading our version of StackExchange.Redis. We should revisit this later in the 5.0 release.

This applies to SignalR, but also to the Caching Redis extension. We can address them both together (and likely we'll be driving both) so I'll label `area-s

[2020-03-23 18:28] anurse commented on #20076
Suggest revisiting in preview4 milestone.

[2020-03-23 18:38] Qorxi opened #20077 "Asp.Net Core Blazor in EditForm InValid model but Valid operation set"
Hello. The problem is that, on the basis of the model given EditForm, there are validation errors in including invalid model internal propositions, but the OnValidSubmit operation is performed regardless of the model being invalid.

The codes in the problem part are as follows. The application was made with ASP.NET Core 3.2 version.

[code]

[code]

[2020-03-23 18:41] marcuslindblom commented on #20062
That’s exactly what I was looking for. Thanks!

[2020-03-23 18:41] #20062 closed

[2020-03-23 18:47] #19441 closed

[2020-03-23 18:49] julienGrd commented on #18709
@sylvainonweb sorry for the late response !
i check the code https://github.com/Blazored/Modal and it seem more clean than i have to propose so i think you can stay on this library or inspire to make you own system

for the problem if i understood of the modals depending of each other, me i centralized the place the modals was opened, for example in a ModalContainerComponent which suscribe to moda

[2020-03-23 18:56] manideep418 opened #20079 "Not able to serialize enum to string"
using the below config in startup.cs
`services.AddControllers()
                .AddNewtonsoftJson(opt =>
                opt.SerializerSettings.Converters.Add(new Newtonsoft.Json.Converters.StringEnumConverter()))`

but not able to serialize the enum to string values. Only integer values are displayed in the swagger page. Could some please help me how to fix this?.

[2020-03-23 19:02] mkArtakMSFT commented on #20025
Thanks for the additional details, @TanvirArjel.
Glad that you have a workaround. This is not a bug in the framework, rather you code should use `DateTime` model properties instead.

[2020-03-23 19:03] wbalzer opened #20078 "Error in Register link perhaps in RemoteAuthenticatorView Action="@Action" tag."
I don’t know if this is just me, but on two machines running VS 2019 v16.4.6, I create a Blazor WebAssembly project with Individual User Accounts option, ASP.Net Core Hosted, and PWA options checked. I’m using ASP.Net Core 3.1.200. Doing nothing more than just running the application (IIS Express), when I click the Register Link at the top of the page, the page says… Checking login state…. with an

[2020-03-23 19:38] ajcvickers commented on #19997
@shahedurrahman

Modifying the EF model in this way is supported so long as the model created still works with ASP.NET Core Identity. This was the case with your model for 2.2, but because EF Core 3.0 made a breaking change to stop doing client eval your model is no longer compatible.

Making modifications to the model as [described in the documentation](https://docs.microsoft.com/en-us/aspnet/cor

[2020-03-23 20:01] dreddy-work commented on #19536
[Microsoft_.NET_Core_SDK_3.1.200_(x64)_20200323124834_012_AspNetCoreSharedFramework_x64.log](https://github.com/dotnet/aspnetcore/files/4371664/Microsoft_.NET_Core_SDK_3.1.200_.x64._20200323124834_012_AspNetCoreSharedFramework_x64.log)

[2020-03-23 20:02] dreddy-work commented on #19536
@anurse , added the log you were looking. I just got into same issue.

[2020-03-23 20:26] #10756 closed

[2020-03-23 20:27] Garios opened #20080 "Blazor Webassembly Hosted: BlazorApp.Server fails loading referenced projects"
### Describe the bug
adding a project library to "BlazorApp.Server"-Project results in a "System.IO.FileNotFoundException".

### To Reproduce
create a simple new Blazor project:
- Blazor WebAssembly
- ASP.NET Core hosted

add class library .net standard "classlibrary1"

project server: add reference to classlibrary1

add a simple line of code on server-main-method: "ClassLibrary1.Class1 c;"
[code]

[2020-03-23 20:28] mkArtakMSFT commented on #20079
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2020-03-23 20:31] anurse commented on #19836
@dotbirdman can you provide a runnable sample that reproduces the case-sensitivity issue? I'm seeing case properly ignored when overriding properties between files. If you can show a full runnable example I'll have the full context on what isn't working in your scenario.

[2020-03-23 20:48] mwhouser opened #20081 "ASP.NET Core 3.1 Identity: Lockout not triggering"
### Describe the bug

ASP.NET Core 3.1 projects using the build-in Identity do not trigger a user Lockout when too many incorrect passwords are attempted.

### To Reproduce

1. Create a new ASP.NET Core 3.1 project
    * Web Application (Model-View-Controller)
    * Authentication: Individual User Accounts
2. Run the out-of-the-box generated project
3. Create a user in your application
4. Click to

[2020-03-23 20:57] Tratcher commented on #19924
You'll need to take that up with https://github.com/Azure/azure-webjobs-sdk/issues. It's not clear why they think they need to add those config files at all.

[2020-03-23 20:59] anurse opened #20082 "[Discussion] Removed `UseSignalR`, `UseConnections` and related methods"
*This is the discussion issue for https://github.com/aspnet/Announcements/issues/412*

## Removed `UseSignalR`, `UseConnections` and related methods

In ASP.NET Core 3.0, we converted SignalR to use Endpoint Routing. As part of that we marked `UseSignalR`, `UseConnections` and some related methods (full list below) as obsolete. In ASP.NET Core 5.0 we will remove those methods entirely.

### Versio

[2020-03-23 21:05] shirhatti commented on #20076
Triage note: StackExchange.Redis asked us to hold out for a bit. WE'll revisit in the 5.0 timeframe

[2020-03-23 21:07] Tratcher commented on #19969
And what happens when you try it with a few other ports?

[2020-03-23 21:08] Suchiman commented on #20082
Removed `UseEndpoints`? that's not correct, that's what we're supposed to be using.

[2020-03-23 21:09] BrennanConroy commented on #20082
Typo, thanks 😄

[2020-03-23 21:13] anurse commented on #19536
@joeloff does that log give you more information to look at?

[2020-03-23 21:14] huysentruitw commented on #5252
Isn't this already implemented with https://github.com/dotnet/aspnetcore/pull/16599 ?

[2020-03-23 21:14] #19924 closed

[2020-03-23 21:19] blowdart commented on #20066
@Tratcher for your consideration.

However as we only support JWT (and WSFED) I don't know if I'm too concerned right now.

@brentschmaltz What other tokens are you expecting? JWE?

[2020-03-23 21:21] #20067 closed

[2020-03-23 21:26] brentschmaltz commented on #20066
@blowdart We have invested in JsonWebToken / JsonWebTokenHandler where we have the following improvements.
1. Performance ~10%
2. No mapping of claimtypes
3. No reference to Newtonsoft

We are thinking an abstraction for JWT's, so that a JwtTokenHandler will return an IJwtToken or JwtToken (abstract).
Right now we are linked to a specific implementation that we are not investing in anymore.

In ad

[2020-03-23 21:29] anurse commented on #19608
This seems suspicious to me. I'd expect at least some logs if the request is actually reaching ASP.NET Core. It might be best to engage Azure Support here to dig deeper.

[2020-03-23 21:30] HaoK commented on #20081
Yes this is by design, we don't lockout on password failures by default, you have to scaffold the login page https://github.com/dotnet/aspnetcore/blob/master/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Login.cshtml.cs#L132 and set true for the flag

[2020-03-23 21:30] #20081 closed

[2020-03-23 21:31] blowdart commented on #20066
You know we're adding CBOR to the framework right?

[2020-03-23 21:34] brentschmaltz commented on #20066
@blowdart I did not know that, we have started a handler similar to JsonWebTokenHandler.
Where is this work taking place, we probably don't need two.

[2020-03-23 21:34] blowdart commented on #20066
Now, @bartonjs is doing it.

[2020-03-23 21:37] brentschmaltz commented on #20066
@bartonjs @blowdart cbor is essentially an encoded json token.
Where are you planning on shipping it?

[2020-03-23 21:39] huysentruitw opened #20084 "Do we still need ReceiveBufferSize in the WebSocketOptions?"
The ReceiveBufferSize property of WebSocketOptions seems unused, do we still need it?

https://github.com/dotnet/aspnetcore/blob/6912dda560f52f761d9528dba786a7872ad1739f/src/Middleware/WebSockets/src/WebSocketMiddleware.cs#L134

cc @davidfowl

[2020-03-23 21:44] anurse commented on #7341
We should do a fresh round of reliability testing with IIS when we have the new gRPC-supporting improvements.

[2020-03-23 21:49] anurse commented on #9020
We don't have any ETA updates. We will update this thread when we **do** have an ETA. This requires Windows changes and we're working with that team to try and get them in place as soon as possible, but their schedule isn't in our direct control.

[2020-03-23 21:49] blowdart commented on #20066
In 5. We need it for passwordless/FIDO2 support

[2020-03-23 21:59] arivera12 commented on #18675
How to set the host configuration?

host.Configuration = ?

Configuration is only a get property there is not set method inside the WebAssemblyHost.

My app is entirely broken by this change.

How to set up the configuration?

[2020-03-23 22:02] brentschmaltz commented on #20066
@blowdart I guess we will have two then, we need it to seamlessly plug into our authz/authn model.

[2020-03-23 22:07] mwhouser commented on #20081
Thanks @HaoK .

Is this documented somewhere to be known before scaffolding out the Login page?

[2020-03-23 22:09] wichur commented on #20054
@javiercn Thanks for a quick reply. I am no subject matter expert here so it might be my fault somehow. But I was expecting some kind of wrong token/token type exception or additional AccessTokenResultStatus

After some digging I've found a solution/workaround which is adding following line to Program.cs. That worked ok for both providers.
[code]

[2020-03-23 22:12] mwhouser opened #20085 "Identity: Add Layout Scaffolding"
### Is your feature request related to a problem? Please describe.

I want my login, registration, etc. pages to use a different `_Layout.cshtml` than my "authenticated" layout.

As such, I need to scaffold out **every single page in Identity** to signify a different `Layout` property value.

### Describe the solution you'd like

In the current Identity scaffolding, I can scaffold `Manage\Layout`,

[2020-03-23 22:25] HaoK opened #20086 "Missing .versions file & Third-Party-Notices.txt in shared fx"
See https://github.com/dotnet/aspnetcore/pull/19975#issuecomment-601954393 for more context

We appear to be missing some files in our shared framework artifacts.

When this issue is resolved, we should remove the SkipOnHelix attribute for ItContainsVersionFile() in src/Framework/test/SharedFxTests.cs

[2020-03-23 22:30] jaredpar opened #20087 "Flaky test RequestHeaders_MultipleFrames_Accepted"
### Console Log Summary

[code]

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#566004](https://dev.azure.com/dnceng/public/_build/results?buildId=566004)|Rolling|3|
|[#566083](https://dev.azure.com/dnceng/public/_build/results?buildId=566083)|#20005|2|
|[#566091](https://dev.azure.com/dnceng/public/_build/results?buildId=566091)|#19975|3|
|[#566095](https://dev.azure.

[2020-03-23 22:31] jaredpar commented on #20087
First failing build was  https://dev.azure.com/dnceng/public/_build/results?buildId=569782

[2020-03-23 22:33] jaredpar opened #20088 "Flaky test FlowControl_ParallelStreams_FirstInFirstOutOrder"
### Console Log Summary

[code]

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#565950](https://dev.azure.com/dnceng/public/_build/results?buildId=565950)|#19981|1|
|[#566091](https://dev.azure.com/dnceng/public/_build/results?buildId=566091)|#19975|1|
|[#566095](https://dev.azure.com/dnceng/public/_build/results?buildId=566095)|#19989|1|
|[#566117](https://dev.azure.c

[2020-03-23 22:35] joeloff commented on #19536
A little, it's SECREPAIR that failed:

[code]

[2020-03-23 22:35] jaredpar opened #20089 "Flaky test ProcessAsync_AwaitersUseTheResultOfExecutor"
### Console Log Summary

[code]

### Builds
|Build|Pull Request | Test Failure Count|
| --- | --- | --- |
|[#566091](https://dev.azure.com/dnceng/public/_build/results?buildId=566091)|#19975|1|
|[#566117](https://dev.azure.com/dnceng/public/_build/results?buildId=566117)|#20013|1|
|[#566119](https://dev.azure.com/dnceng/public/_build/results?buildId=566119)|#17040|1|
|[#566153](https://dev.azure.c

[2020-03-23 22:47] Kasper888 opened #20090 "Blazor server error 400 fails to negotiate to server when using routing"
![Blazor Routing Error](https://user-images.githubusercontent.com/10082735/77368614-4978cf00-6d65-11ea-80d6-3553ac683149.png)

### Describe the bug
As shown in the attached screenshot I'm using routing:

@page "/addbrand/{BrandId:guid}"

When I refresh the url https://localhost:44379/addBrand/1abc52f3-c371-4566-847d-1a986f093396 this lead to error 400 Failed to load resource as the url of balzor n

[2020-03-23 22:49] captainsafia commented on #19910
Closed via #20019.

[2020-03-23 22:49] #19910 closed

[2020-03-23 22:53] Pilchie commented on #20089
Note, already `QuarantinedTest`

[2020-03-23 22:54] Pilchie commented on #20088
Note, already `QuarantinedTest`

[2020-03-23 22:54] Pilchie commented on #20087
Note, already `QuarantinedTest`

[2020-03-23 22:57] bartonjs commented on #20066
@brentschmaltz I'm expecting that we'll ship it as a netstandard2.0 NuGet package, though there are a few political hurdles (that are easier if you would be a consumer of that package).

[2020-03-23 23:26] pranavkm commented on #18675
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2020-03-23 23:41] #20089 closed

[2020-03-23 23:42] #20088 closed

[2020-03-23 23:42] #20087 closed

[2020-03-23 23:51] arivera12 commented on #18675
I just resolved the issue.

There are other people asking for this and there is no example or documentation on this.

I will left here the solution after 2 wasted days crashing on all errors and working around with this.

This
`WebAssemblyHostBuilder builder = WebAssemblyHostBuilder.CreateDefault(args);`

Holds the configuration builder which enables to insert a configuration file.

`//Example`
`b

[2020-03-23 23:51] BrennanConroy commented on #19750
It's the same code. Stop will wait for the receive loop to complete, but the receive loop waits on the .On handlers
https://github.com/dotnet/aspnetcore/blob/6912dda560f52f761d9528dba786a7872ad1739f/src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs#L1223
which is where Stop is being called from.

I can see two changes:
1. We don't wait for user methods and just `_ = StartProcessingInvoca

[2020-03-23 23:59] #18028 closed

[2020-03-24 00:32] BrunoZell commented on #13829
Another workaround is to call `TryValidateModel(..)` for all instances in the model you know have polymorphic characteristics and use the short-circuit response `ValidationProblem(ModelState)` in case the validation failed (returned `false`). All validation errors will be added to `ModelState`.

[2020-03-24 01:48] blowdart commented on #20085
Backlogging until we have an identity sprint again

[2020-03-24 01:50] MitchellNZ commented on #19812
@SteveSandersonMS @javiercn yes, #20027 appears to be the same issue I am trying to address.
Sorry for any confusion with my wording of the issue!

[2020-03-24 02:19] slewis74 opened #20091 "HttpSys windows authentication not working across trusted domains"
### Describe the bug
When hosting a web site in HttpSys that uses Ntlm authentication, the authentication works correctly for users on the same domain as the host server but fails for users on a trusted domain.

Users on the trusted domain get a popup requesting credentials

![image](https://user-images.githubusercontent.com/4229735/77380395-ace71900-6dc6-11ea-8a94-16741bad2905.png)

### To Reprod

[2020-03-24 02:51] isaacrlevin opened #20092 "IOptionsMonitor Not Working with DataAnnotationsValidator"
### Describe the bug
Trying to wire up DataAnnotationsValidator that validates a value from IOptionsMonitor renders always valid state, regardless if the Annotations are met. My app is Server-Side Blazor 3.1

### To Reproduce
[code]

### Further technical details
- ASP.NET Core version - 3.1
- Include the output of `dotnet --info`

[code]
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it'

[2020-03-24 03:06] KevinTupper commented on #19188
I had the same issue.  Closing the component file that I was referencing made the error go away.

[2020-03-24 03:51] Tratcher commented on #20091
@blowdart?

This isn't anything that AspNetCore has control over, the auth is happening in kernel mode down inside Http.Sys.

Variations to test:
- Can users from the other domain access file shares on the web server?
- Does this work in IIS using kernel mode or user mode auth?
- Does it work in [Kestrel](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetc

[2020-03-24 04:04] uzabumuhire commented on #20007
Hello,

I am using Visual Studio 2019  16.6.0 Preview 1 on Windows 10 and I have installed .NET 5.0 preview 1 and then ran dotnet new -i Microsoft.AspNetCore.Components.WebAssembly.Templates::3.2.0-preview2.20160.5, and restarted VS, but still don’t have the WebAssembly template.

Here are the print screens

![creating-new-blazor-app-project-net-core-3-1-2020-03-24-045253](https://user-images.gith

[2020-03-24 04:15] kmuthukumar23 opened #20093 "Is .net sdk 5 preview 1 supports blazor?"
Hi guys,

Thanks in advance.

I have one doubt reg latest sdk 5.0 preview 1. Is this supports our blazor?

I have migrate the exsisting blazor server app to 5.0. but i have faced the following error.

![image](https://user-images.githubusercontent.com/31958591/77387611-e3676880-6db3-11ea-8ff4-6fe43da72120.png)

Can any one please help me on this if i am any thing missed on my side.

I have used VS

[2020-03-24 04:35] talldaniel commented on #17660
@NTaylorMullen Thanks you!
This fixed the issue.  I had a couple of errors that either were being drowned with noise, or else weren't showing at all.
For people who have my specific problem, of actual errors being masked, I would call this a fix (so far) as I haven't had this problem again since doing this.
I won't try renaming anything though(smile)

[2020-03-24 05:02] #20028 closed

[2020-03-24 05:02] #19995 closed

[2020-03-24 05:02] #19988 closed

[2020-03-24 05:02] #19920 closed

[2020-03-24 05:03] #19876 closed

[2020-03-24 05:03] #19834 closed

[2020-03-24 05:03] #19759 closed

[2020-03-24 05:03] #19734 closed

[2020-03-24 05:03] #19679 closed

[2020-03-24 05:03] #19646 closed

[2020-03-24 05:03] #19605 closed

[2020-03-24 05:03] #19439 closed

[2020-03-24 05:03] #19419 closed

[2020-03-24 05:03] #19395 closed

[2020-03-24 05:03] #19380 closed

[2020-03-24 05:03] #19284 closed

[2020-03-24 05:03] #19269 closed

[2020-03-24 05:03] #19220 closed

[2020-03-24 05:03] #19084 closed

[2020-03-24 05:03] #18849 closed

[2020-03-24 05:03] #18684 closed

[2020-03-24 05:03] #18304 closed

[2020-03-24 05:08] yunwei00q opened #20094 "With .Net 5, "dotnet restore" for F# mvc succeeded with warning NU1603."
**Steps to reproduce**
Install SDK 5.0.100-preview.2.20169.1(runtime-5.0.0-preview.2.20160.6)
Run "dotnet new mvc -o fsmvc02 -lang f#"

**Expected behavior**
Dotnet restore works fine.

**Actual behavior**
dotnet restore succeeded with warning NU1603: fsmvc depends on Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation (>= 5.0.0-preview.2.318.dev) but Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilatio

[2020-03-24 06:25] leastprivilege commented on #20066
* I have never seen anyone use the OIDC handler with an alternative JWT validator
* If you want to decouple them, then the OIDC handler should own the validation parameters type as well as the interface - the validator would return `ClaimsPrincipal`.

I never thought this "abstraction" with the interface was useful.

[2020-03-24 06:38] ElderJames commented on #11229
I have created an Ant Design Components for Blazor:
https://github.com/ElderJames/ant-design-blazor [![Github Stars](https://img.shields.io/github/stars/ElderJames/ant-design-blazor?style=social)](https://github.com/ElderJames/ant-design-blazor)

[2020-03-24 06:43] rChavz commented on #12685
some temporally solution

[code]

[2020-03-24 07:48] tebeco opened #20095 "Analyzer not kicking from "dotnet build" if IDE not open"
### Describe the bug
`StartupAnalyzer` not showing `Warning` unless i opened `Vs2019` in the background

### To Reproduce

EDIT: When i close VSCode i got no more warning
EDIT 2: Having `Vs2019` open change nothing => no warn in the console, Vs does generate a warning "only for itself in the "error panel"
EDIT 3: The warning shows up in the console ONLY is `VsCode + Omnisharp` are running on this

[2020-03-24 07:57] jeffreyrivor commented on #10542
.NET Core 2.1 introduced `SocketsHttpHandler` as the default handler, which is designed to be used in a long-lived singleton-like way and can be made to work. In the [documentation for alternatives to IHttpClientFactory](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.1#alternatives-to-ihttpclientfactory), it says that setting a finite `SocketsHttpHandler.

[2020-03-24 08:01] #18475 closed

[2020-03-24 08:02] #18465 closed

[2020-03-24 08:02] #18309 closed

[2020-03-24 08:02] #18293 closed

[2020-03-24 08:02] #18263 closed

[2020-03-24 08:02] #18061 closed

[2020-03-24 08:11] boukenka commented on #20093
The answer is no, if I'm not mistaken. Please refer to the chapter "_Version updated to 3.2_" for more details on the official ASP.NET blog : [Blazor WebAssembly 3.2.0 Preview 1 release now available](https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-1-release-now-available/)

[2020-03-24 08:16] Kasper888 commented on #20090
Solved by set
<head>
...
    <base href="~/" />
...
</head>

[2020-03-24 08:16] #20090 closed

[2020-03-24 08:32] clement911 commented on #19994
Yes we do have a custom logger to log to our database.
At the time I couldn't find much docs on how to do that. Here is the implementation of the `ILoggerProvider`.

[code]

[code]

`NcLogger` is registered with transient lifetime.

So just to confirm, you're saying that ApplicationStopped will fire regardless of the reason (auto scale down, manual stop, other shutdowns by Azure, etc...)? Is it no

[2020-03-24 08:34] jeffreyrivor opened #20096 "Allow use of HTTP/2 for OIDC Backchannel"
### Is your feature request related to a problem? Please describe.
I'm trying to configure the `HttpClient.DefaultRequestVersion` to HTTP/2 and set that as the `OpenIdConnectOptions.Backchannel`, but `OpenIdConnectHandler.RedeemAuthorizationCodeAsync` and `OpenIdConnectHandler.GetUserInformationAsync` use `HttpClient.SendAsync(HttpRequestMessage)` so the `DefaultRequestVersion` is ignored in favor

[2020-03-24 08:53] dotbirdman commented on #19836
I encountered this issue on ASP.NET Core 2.2; it does not seem to be an issue on ASP.NET Core 3.1

This can be replicated using the default template `dotnet new web`.  Add the following to `appsettings.json`:

[code]
Then setting the environment variables:
`ASPNETCORE_KESTREL__ENDPOINTS__HTTPS__CERTIFICATE__PATH="localhost.pfx"` and
`ASPNETCORE_KESTREL__ENDPOINTS__HTTPS__CERTIFICATE__PASSWORD="pas

[2020-03-24 09:39] Cybrosys commented on #7756
Hello,

I just migrated one of our projects over to .NET Core 3.1 and was working through the warnings. I then noticed that IStringLocalizer.WithCulture had been marked as Obsolete; with vague references to CurrentCulture and CurrentUICulture.

Are we expected to change the current thread's culture at runtime when requesting a specific localization?

We are in several places reading the default lo

[2020-03-24 09:48] mujgancihan opened #20097 ".NET Core 3.1 WCF Web Service Reference Provider error"
Hi,
I have an application created in NET Core 3.1 and I am trying to add a web service by
WCF Web Service Reference Provider.
But it fails and shows the error below;

Importing web service metadata ...
Number of service endpoints found: 2
Scaffolding service reference code ...
Error:Unable to generate deps.json, it may have been already generated.  You can specify the "-d" option before the tool n

[2020-03-24 10:05] Cybrosys commented on #7756
Hello,

I just migrated one of our projects over to .NET Core 3.1 and was working through the warnings. I then noticed that IStringLocalizer.WithCulture had been marked as Obsolete; with vague references to CurrentCulture and CurrentUICulture.

Are we expected to change the current thread's culture at runtime when requesting a specific localization?

We are in several scenarios reading the default

[2020-03-24 10:20] javiercn commented on #20097
@mujgancihan thanks for contacting us.

@Pilchie do you know if this is us, VS or dotnet/runtime?

[2020-03-24 10:22] javiercn commented on #20093
@kmuthukumar23 thanks for contacting us.

@boukenka is correct, we haven't done any work yet to support 5.0 specifically.

[2020-03-24 10:24] javiercn commented on #20092
@isaacrlevin thanks for contacting us.

@haok can you follow up here?

[2020-03-24 10:30] javiercn commented on #20080
@Garios thanks for contacting us.

A few questions:
* Is this happening on Visual Studio?
* Can you build from the command line without errors?
* Does it get fixed if you close and open Visual Studio?
* What version of Visual Studio are you using?

[2020-03-24 10:33] javiercn commented on #20078
@wbalzer thanks for contacting us.

We'll take a look at this issue and get back to you.

[2020-03-24 10:35] javiercn commented on #20077
@Qorxi thanks for contacting us.

@SteveSandersonMS you are the expert here.

[2020-03-24 10:40] javiercn commented on #20075
@bdnts thanks for contacting us.

The support for components within ASP.NET Core is limited to generating the initial output for a component and this is not something we have plans to change.

[2020-03-24 10:57] Garios commented on #20080
Hello Javier,
thanks, restarting Visual Studio and additional compile-process solves the problem. (So easy... why didn't I come up with this myself.) I also restarted my computer, but I still have to restart Visual Studio when adding the library.

Version:
Microsoft Visual Studio Professional 2019 Preview
Version 16.6.0 Preview 1.0

Do you still need the information, if it works by command line? I

[2020-03-24 11:04] javiercn commented on #20080
@Garios thanks for the details.

No. Just the fact that restarting VS fixes it gives us a good idea where the issue might lie.

[2020-03-24 11:55] aramean commented on #14134
You could cleanup the socket like this:

[code]

[2020-03-24 12:37] blowdart commented on #20097
Neither, it's https://github.com/dotnet/wcf

I don't have permissions to move it. @mujgancihan could you post your issue there and close this one?

[2020-03-24 12:39] MarkStega commented on #20093
@javiercn  This was my response to @kmuthukumar23 on the gitter channel:

 I had a rocky upgrade from 3.2P2 to 5.0P1; I first installed the sdk & then opened my existing solution in VS 16.6P1 and none of the projects would open. I backed out the SDK and reopened my solution. I then used NuGet to update packages to 5.0P1. Then I reinstalled the SDK & runtime. After all of that I could build and run

[2020-03-24 12:39] EngineerTryingToCode commented on #19969
By default it wants to connect to 5001 so i changed it to 5000 and 5002 with the same results.  I am not very well versed in ports though so if you have a better port to try i'm open.  However when making a ASP.Net Core version 2 web application, it uses port 5001 and works fine with kestrel.  It's only when i make a version 3 application and enable HTTPS that it gives me troubles.

[2020-03-24 13:36] Stamo-Gochev commented on #5674
@SteveSandersonMS any updates on that?

[2020-03-24 13:56] #20097 closed

[2020-03-24 14:24] SteveSandersonMS commented on #20077
[code]

This button triggers `HandleSave` regardless of validation.

Instead, remove the `@onclick` handler from here, so it is just a `<button type="submit">` with no click handler. Your `<EditForm>` will then receive the "submit" event and trigger either `OnValidSubmit` on `OnInvalidSubmit`.

[2020-03-24 14:27] brentschmaltz commented on #20066
@bartonjs for IdentityModel to use any token type it must fit into our model of Token / TokenHandler / ClaimsIdentity trio. We have SecurityToken and TokenHandler are the base class for those.

@leastprivilege OIDC is special in that the specification defines that a JWT is the token type. I am exactly sure what "abstraction" you are referring to, but there are multiple options.

Moving to a Securi

[2020-03-24 14:40] pranavkm commented on #20095
@tebeco it might be the result of build incrementalism - the compiler, and consequently, might not run if everything is up to date from a previous build. Could you try running `dotnet msbuild /t:Rebuild` or `dotnet build -force` when VS is closed?

[2020-03-24 14:46] tebeco commented on #20095
`dotnet build --force` does not show any warning
also it's `VsCode` that make it work in the console

`Vs2019` only raise a warn for himself

NOK
* only console `dotnet build` => no warn
* only console `dotnet build --force` => no warn
* Vs2019 + console `dotnet build` => no warn

OK :
* VsCode + console `dotnet build` => warn

[2020-03-24 14:50] vasont commented on #17069
Having the same issue, but indirectly. In an ASP.net Core app, I need to find all bindings for the application, and I don't know what host it's running in. Old framework code I had to do this would retrieve System.Web.Hosting.HostingEnvironment.SiteName and then search IIS using Microsoft.Web.Administration.WebConfigurationManager.GetSection(null, null, "system.applicationHost/sites");, find the s

[2020-03-24 14:50] pranavkm commented on #20095
What about `dotnet msbuild /t:Rebuild`?

[2020-03-24 14:52] sharwell commented on #20095
This analyzer package has a dependency on Microsoft.CodeAnalysis.Workspaces:

https://github.com/dotnet/aspnetcore/blob/49f23649918407f72acce29f143e3c402e040c59/src/Analyzers/Analyzers/src/Microsoft.AspNetCore.Analyzers.csproj#L22

This dependency is not available during command line builds, but is available inside the IDE. Some runtime scenarios allow the package to still work with this dependenc

[2020-03-24 15:01] tebeco commented on #20095
@sharwell
oO i was not aware that this extensions meant "only from IDE", thx a lot ^^

As i''m trying to write an analyzer, i was looking for an existing analyzer that would
* give a warning
* make the CI raise Warn/Error
* be intrusing in the IDE on purpose
* not be using MsBuild 14 project still ;) (because some templates create `net4xx` project :s)

As i'm very very interesting about the PR (be

[2020-03-24 15:08] vasont commented on #17069
I actually JUST stumbled across [CorsPolicyBuilder.SetIsOriginAllowedToAllowWildcardSubdomains Method](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.cors.infrastructure.corspolicybuilder.setisoriginallowedtoallowwildcardsubdomains?view=aspnetcore-3.1) which will suite my needs, but dang, this needs more attention for **real-world** _multi-tenant_ microservice developers.

[2020-03-24 15:13] candreouTrade opened #20100 "Windows Authentication Error using Kestrel for .NET Core Web API, when accessed remotely."
I have created a simple Web Service using Web Api with .NET core.

When I run the service on my development machine and try to access it from the chrome browser on my development machine, the service behaves as expected.  When I ask another developer to try to access my service from the chrome browser on their machine, I get the below error in the service logs:

Any idea how i can allow remote mac

[2020-03-24 15:19] JonasJasas commented on #19987
Proxy count can vary. Let's say I am using `App <=> Nginx <=> CloudFlare` but internal requests from other apps goes through Nginx. So external requests will be with different amount of IPs inside x-forwarded-for comparing to internal requests. What I need is just IP from the left side of x-forwarded-for header. It is standard feature in the other frameworks.

[2020-03-24 15:29] blowdart commented on #20100
Are they on your internet network? Are they using an internal name on the network?

[2020-03-24 15:38] Javaman2 commented on #19581
Maybe this is why no matter what I try with ASP.NET core 3.1 I cannot get Azure AD to work (been trying for weeks now)

[2020-03-24 15:40] danroth27 commented on #20007
@uzabumuhire To check that everything is correctly installed, could you please provide the output of the following two commands?:

- `dotnet --info`
- `dotnet new -u`

[2020-03-24 15:43] bartonjs commented on #20066
All we're providing is a CBOR reader/writer.  Understanding what a token means is at too high a level for us :smile:.

[2020-03-24 15:52] leastprivilege commented on #20066
I am saying - I see no value in the OIDC handler using `ISecurityTokenValidator.ValidateToken`.

[2020-03-24 15:52] mselinger75 opened #20101 "Singleton Services in Blazor wasm project"
I implemented Counter service like

public class CounterService
	{
		public int Counter { get; set; }
	}

Then Register it as

builder.Services.AddSingleton<CounterService>();

and then Counter page looks like:

@page "/counter"
@inject CounterService CounterService

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

[2020-03-24 16:05] Javaman2 opened #20102 "Please provide Asp.NET Core 3.1 / Angular solution that uses Active Directory on Azure"
Currently there are no working examples of Azure AD working on .NET 3.1 Core/Angular solution.

If we can get an example, we would be able to (keep our jobs).

We have tried to convert the 2.2 and MVC examples to use the new Endpoints logic, but no luck.  Additionally we are thinking that there are CORS issues as well.  The example will remedy all of this.

[2020-03-24 16:07] brentschmaltz commented on #20066
@leastprivilege oh I agree, in fact ISecurityTokenValidator.ValidateToken is broken for asnyc as it has an out param. We want to move away from that model.

That's not what we are thinking. We are thinking more of adding to the current abstractions SecurityToken, SecurityTokenHandler and have asp.net use those instead of a specific implementation such as JwtSecurityToken or JsonWebToken.

@bartonj

[2020-03-24 16:16] Qorxi commented on #20077
@javiercn  You are welcome, I applied due to the problem I faced.

[2020-03-24 16:19] uzabumuhire commented on #20007
@danroth27 thanks for your quick reply here are the content of dotnet --info

PS C:\Program Files\PowerShell\7> dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   5.0.100-preview.1.20155.7
 Commit:    1c44853056

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.100-prev

[2020-03-24 16:21] anurse commented on #19836
@dotbirdman Ok, good to know. Based on that I'm going to close this issue. 2.2 is out-of-support so we wouldn't backport a patch. Let us know either in this issue or via a new issue if this problem reoccurs.

[2020-03-24 16:21] #19836 closed

[2020-03-24 16:22] uzabumuhire commented on #20007
Here is the content of dotnet new -u

PS C:\Program Files\PowerShell\7> dotnet new -u
Template Instantiation Commands for .NET Core CLI

Currently installed items:
  Microsoft.DotNet.Common.ProjectTemplates.3.1
    Details:
      NuGetPackageId: Microsoft.DotNet.Common.ProjectTemplates.3.1
      Version: 3.1.2
      Author: Microsoft
    Templates:
      Class library (classlib) C#
      Class lib

[2020-03-24 16:31] anurse commented on #19994
It should fire for any shutdown situation we can hook. If the process is killed by the OS ("End Task" in the Task Manager, for example), then there's no stopping it and we can't give you any warning. When IIS shuts down gracefully though (which is what Azure App Service does when "Stop" is used) it should signal this token.

Registering using `ILoggerFactory` isn't recommended anymore if you can a

[2020-03-24 16:34] Qorxi commented on #20077
Thanks, the problem has been resolved but I think there is a problem in this part because any event triggered within the edit form should be checked with this logic because it is within the edirform, otherwise it can cause such incomprehensibility.

[2020-03-24 16:34] JohnGalt1717 commented on #19581
We're having no problems with Azure AD, it's just a matter that you have to have a redirect of the entire browser....

[2020-03-24 16:35] Qorxi opened #20103 "InputNumber razor component short(Int16) type provided."
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen. Include any alternative solutions you've considered.

### Additional context
Add any other context or screenshots about the feature requ

[2020-03-24 16:36] mkArtakMSFT commented on #20080
Thanks for contacting us. We believe this is fixed already and will be available in the next VS preview update.

[2020-03-24 16:36] #20080 closed

[2020-03-24 16:39] Qorxi commented on #20103
Hello again, there was a problem with a related issue for the InputSelect component, but the problem disappeared by finding sample code from github. Since the InputNumber component does not support the short type, the problem disappears when it is converted to an int type, so it can work in the database model table on the database side, so it works, but it is not the solution. Due to unnecessary d

[2020-03-24 16:40] #20075 closed

[2020-03-24 16:42] TropicalThunder commented on #20102
Is your angular application setting the "withCredentials: true" flag?

[2020-03-24 16:42] mkArtakMSFT commented on #20057
Reopening the original issue.

[2020-03-24 16:42] #20057 closed

[2020-03-24 16:45] mkArtakMSFT commented on #20054
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-03-24 16:45] #20054 closed

[2020-03-24 16:48] Tratcher commented on #19987
This implementation is pretty paranoid because too many people trust those IPs for authentication, georestrictions, etc.. Without some check on who set that value then it can be easily spoofed.

There are two trust checks here. One is ForwardLimit, how many proxies you are sitting behind. In the above example you could set this to 2 since you're less concerned about spoofing from internal requests

[2020-03-24 16:50] mkArtakMSFT commented on #20093
@kmuthukumar23 please make sure that you haven't pinned the SDK. The Blazor Server projects should be working with .NET 5.0 preview SDKs.  If you're still seeing issues after installed the latest .NET 5.0 SDK, consider filing a new issue in the `dotnet/runtime` repo.

[2020-03-24 16:50] #20093 closed

[2020-03-24 16:53] Javaman2 commented on #20102
In the startup config?

[2020-03-24 16:54] mkArtakMSFT commented on #20094
Thanks for contacting us. We have a separate issue tracking this, which will be fixed soon.

[2020-03-24 16:54] #20094 closed

[2020-03-24 16:55] TropicalThunder commented on #20102
No, this is in the actual angular code. Any HTTP requests to make against the Azure AD Web Api must have the "withCredentials: true" flag set, otherwise it will reject your request as 401.

[2020-03-24 16:58] Tratcher commented on #19969
5000 wouldn't work because that's already in use by HTTP. You can always try a random port like 46874.

Yes, it's odd that 2.0 works and 3.1 doesn't.

The one thing we havn't done yet is ask you to post the full app code and config. You can do this as a github repo. That way we can see if there have been any unexpected changes to how the server is set up like adding two bindings with the same port

[2020-03-24 17:04] Tratcher commented on #17069
@vasont getting binding information is a separate issue. These are available for IIS InProc via IServerAddressesFeature, but unfortunately not until the first request. You can see how the HttpsRedirectionMiddleware gets these values during the first request.

https://github.com/dotnet/aspnetcore/blob/master/src/Middleware/HttpsPolicy/src/HttpsRedirectionBuilderExtensions.cs
https://github.com/dotn

[2020-03-24 17:07] mkArtakMSFT commented on #19812
Closing this as a dupe of https://github.com/dotnet/aspnetcore/issues/20027

[2020-03-24 17:07] #19812 closed

[2020-03-24 17:14] mkArtakMSFT commented on #19779
We'll rename the site.css in the Blazor project to avoid conflicts.

[2020-03-24 17:21] mkArtakMSFT commented on #19656
This should already fixed in the 3.2-preview2 release and you should be able to debug the server code.

[2020-03-24 17:21] #19656 closed

[2020-03-24 17:24] wtgodbe commented on #20086
Do we know if there's a strong reason why this file needs to be named `.version`? I don't see such a file in Microsoft.Netcore.App (they have `Microsoft.Netcore.App.versions.txt`), and trying to include the file explicitly gives:

CC @dougbu @JunTaoLuo

[2020-03-24 17:45] CodedBeard commented on #19919
Hi @SteveSandersonMS,
So, I've made sure everything was on the latest preview and run a reinstall just to be on the safe side, which seems to have resolved the issue. While i can still see an error in the console for the fetch failing, it is no longer uncaught and the PWA loads fine in all browsers.
![pwacaught](https://user-images.githubusercontent.com/4446559/77458996-ef284e80-6df6-11ea-987d-3c2

[2020-03-24 17:47] wtgodbe commented on #20086
But basically the reason that this is happening is that we don't do something like the following for `.version` or `Third-Party-Notices.txt`

https://github.com/dotnet/aspnetcore/blob/ce0886c6dc48b3dd4b3a716810068ffde3871fab/src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj#L498-L502

So those files don't get included in _packageFiles. That's the same reason why the platform manifest isn't

[2020-03-24 17:50] mkArtakMSFT commented on #17017
This is being resolved as part of the localization work.

[2020-03-24 17:50] #17017 closed

[2020-03-24 17:53] TanvirArjel opened #20105 "Suddenly ASP.NET Core Identity not working for any of my applications in my machine."
Strangely! Suddenly ASP.NET Core Identity is not working for any of my applications in my machine. Whenever I am trying to login with right credential, `SignInResult` is Succeed but not setting Identity Cookie to the browser and showing the following error in browser:

**ASP.NET Core Version: 3.1.2**
**Visual Studio Version: 16.4.5**

**Note: This is neither a bug nor a feature request. I just nee

[2020-03-24 18:02] jkotalik commented on #19996
I don't think we flush based on time now, however, time wise it should still be quick to flush and shouldn't wait to flush for 5 KB.

However, we probably should do timing based flushes as well.

[2020-03-24 18:26] danroth27 commented on #20007
Thanks @uzabumuhire! It looks like everything is installed correctly, so there must be some other issue here that is preventing the Blazor WebAssembly template from showing up. @phenning Any ideas?

To try to workaround this issue, could you please try clearing out the VS template hive and then restarting VS? VS will then recreate the hive. To clear out the hive, delete the contents of the *C:\Use

[2020-03-24 18:27] SoftCircuits opened #20106 "AJAX calls using POST requires several steps"
I can make an AJAX call like this:

**CSHTML**

    $.ajax({
        url: '?handler=Delete',
        data: {
            id: $(this).data('id')
        },
    });

**CS**

    public void OnGetDelete(int id)
    {
    }

But the following fails with a 400 error:

**CSHTML**

    $.ajax({
        type: 'POST',
        url: '?handler=Delete',
        data: {
            id: $(this).data('id')

[2020-03-24 18:46] gislikonrad commented on #19996
My main problem is that it's flushing incomplete log lines. Anything that might be parsing the file might break because of incomplete log lines.

Also, services that might not get a lot of traffic might not flush until a while after an error happened, for example.

[2020-03-24 18:54] JunTaoLuo commented on #20086
I think we should just follow the convention for Microsoft.NETCore.App. We should probably also check with the runtime team in case there are any requirements for naming.

[2020-03-24 19:04] tebeco commented on #20095
@sharwell if you got any example some how about that, i would be very very curious ;)

[2020-03-24 19:05] uzabumuhire commented on #20007
I have just cleared out the VS template hive and restarted VS but I still don't have the Blazor WebAssembly template.

[2020-03-24 19:07] NTaylorMullen commented on #17660
@talldaniel does this fix all of your issues? As in did deleting bin/obj fix the closed/open issues you were seeing?

[2020-03-24 19:09] dougbu commented on #20086
May also need to check w/ the SDK team because they may also read the file (and expect a specific name).

[2020-03-24 19:26] talldaniel commented on #17660
@NTaylorMullen
The short answer is "Yes".

1. I did a clean and then cleared the obj folder, and then when I started VS again it showed legit errors without listing 50 to 100 other errors that were bogus along with it.
(an empty folder was referenced in _imports and the name of a Templated Component was accidentally used as the name of one of the components to show, inside the Template Component.)

[2020-03-24 19:27] phenning commented on #20007
We had a bug in Visual Studio 2019 Preview 1 where the Visual Studio hive would not sync up with the 5.0 CLI Hive. This has been fixed in Preview 2

In preview 1, you can work around the bug by forcing the template to be installed to highest non 5.0 CLI installed.

From a command prompt, create a temporary folder, then run:
`dotnet new globaljson`
Then
`'dotnet --list-sdks`

Take the highest non 5

[2020-03-24 19:29] pratishthap commented on #14160
Hello, I am getting User Identity properties all null for .net core 3.1. I am using jwt token. The token does contains the claims properly , Authentication is being performed properly, but User does not have any claims. Please help.I have checked several times for configuring the jwtbearer token on startup also

[2020-03-24 20:03] HaoK commented on #20016
Should be fixed via https://github.com/aspnet/Scaffolding/pull/1284 in scaffolding

[2020-03-24 20:03] #20016 closed

[2020-03-24 20:07] HaoK commented on #11881
@blowdart can we move this issue to the scaffolding repo since the changes for this aren't in aspnetcore

[2020-03-24 20:38] danroth27 commented on #20007
Thanks @phenning! Since this has been addressed for the upcoming 16.6 Preview 2 release, I'm going to go ahead and close this issue.

[2020-03-24 20:38] #20007 closed

[2020-03-24 20:58] TanayParikh commented on #18862
### Update:

Code snippet used for testing:
[code]

**For `@functions`:**
Both `Apple()` and `Foo` go the the start of the subsequent implementation lines, instead of right before `Apple()` & `Bar` on the lines, respectively.

**For `Program.cs`:**
Correct behavior is observed.

Additionally, for Go to Declaration, both `@functions` and `Program.cs` exhibit the correct behavior.

 Focussing on the

[2020-03-24 21:12] mthalman commented on #18792
@wtgodbe - Is this going to be integrated into 2.1 as well?

[2020-03-24 21:15] wtgodbe commented on #18792
Yes, I'm aiming to get this resolved for the next servicing release (3.1.4 in May)

[2020-03-24 21:19] ikkman opened #20112 "Blazor-server HttpClient (external code) DI + Request Issue"
### Describe the bug
I tried to provide HttpClient through DI for Blazor (server) app using the following:

`            services.AddHttpClient<EmployeeService>(client =>
                    {
                        client.BaseAddress = new Uri("https://localhost:5003/");
                    });
`
But it looks everything is freezing when I try to access the dedicated page that require HttpClient

[2020-03-24 21:22] mkArtakMSFT commented on #20105
Hi. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2020-03-24 21:22] mkArtakMSFT commented on #20105
@blowdart, @anurse does this error seems familiar? Any hints?

[2020-03-24 21:24] mkArtakMSFT commented on #20103
Thanks for contacting us. This looks like a dupe of https://github.com/dotnet/aspnetcore/issues/8203

[2020-03-24 21:24] #20103 closed

[2020-03-24 21:38] mkArtakMSFT commented on #20101
Thanks for contacting us.
I assume this is because Blazor WASM stores the state in memory at the moment. When you're opening a new browser window, you essentially are starting a new process, which doesn't share the memory with the other one.
To make sure the state maintained, you should implement some state-management for your application, to store the data in browser local storage.
@pranavkm am I

[2020-03-24 21:47] mselinger75 commented on #20101
@mkArtakMSFT in this case the whole idea behind Singleton doesn't make sense for WASM. Because for Server Side Blazor it works perfectly. So Basically this means i can not write a code shared between Blazor Server Side and WASM, i should always keep in mind that they handle DI differently. Thanks.

[2020-03-24 22:00] blowdart commented on #20105
No, nor is it identity. We don't do anything to make a protocol error occur.

[2020-03-24 22:06] blowdart commented on #11881
Sure, but it still falls to you.

[2020-03-24 22:09] pranavkm commented on #20101
Singetons have the lifetime of an application. Each browser tab is a separate application (just as with any SPA application).

If you aren't already familiar with how Blazor works, have a look at https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1. Blazor WASM runs inside the browser sandbox, so your application is constrained in different ways than a Blazor serv

[2020-03-24 22:09] anurse commented on #20105
Yep, this looks like an HTTP/2 protocol failure of some kind. It's not related to Identity as far as I can tell. cc @Tratcher @halter73

@TanvirArjel can you provide a runnable sample to reproduce the problem? If not, can you share more details about the environment you're running in? What OS are you on? What browser are you using? How are you hosting the application (in IIS or stand-alone)?

[2020-03-24 22:16] Andrzej-W commented on #14836
I think it is not simple at all. Let's start from default Blazor template. We can copy FetchData.razor to Weather.razor and in Weather.razor we can remove `@page "/fetchdata"` line. Now FetchData.razor can be simplified to something like this:
[code]
Now let's assume that we have some logic in FetchData.razor to assign classes to div elements and the first div is visible in prerendered output and

[2020-03-24 22:20] softwaremills commented on #14877
Figured I'd add that we ran into this issue when upgrading from 2.2 to 3.1. UrlHelper.RouteUrl, when called with a named attribute route, did not apply ambient values correctly, so a call to `url.RouteUrl(name)` returned null while a call to `url.RouteUrl(name, new { ambientValue = "valueFromCallingUrl" })` worked.

This was not consistent; some URLs worked, and some didn't, and we couldn't find w

[2020-03-24 22:32] Andrzej-W commented on #14836
We can have relatively long pages in our applications and users can have slow internet connections. It is possible that user will scroll down the page before our application is fully loaded. In a perfect solution the scroll position should not change when we enable rendering.

[2020-03-24 22:51] Tratcher commented on #20096
I see two instances of HttpRequestMessage in the OIDC code.

This one could easily be switched to use PostAsync:
https://github.com/dotnet/aspnetcore/blob/543e73b6b857bf5c6b9744bd3c01b3b4d56db42e/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs#L807-L810

This one however can't because it needs to add the header:
https://github.com/dotnet/aspnetcore/blob/543e73b6b857bf5c6b9744

[2020-03-24 22:54] Tratcher commented on #20096
While we're at it, OAuthHandler has the same issue:
https://github.com/dotnet/aspnetcore/blob/543e73b6b857bf5c6b9744bd3c01b3b4d56db42e/src/Security/Authentication/OAuth/src/OAuthHandler.cs#L196-L199

[2020-03-24 23:04] halter73 commented on #20105
In addition to what @anurse asked for, [debug level logs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#log-filtering) might also be helpful.

[2020-03-24 23:06] Tratcher commented on #20100
It's not supposed to do that...

Negotiate/NTLM/Kerberos don't allow any other requests on a connection while the authentication is in progress. If the auth gets interrupted then it's supposed to close the connection. It sounds like their browser sent a request it wasn't supposed to.

Can you turn the server logs up to Trace level to get the full details? Turning on Kestrel connection logging can

[2020-03-24 23:08] ericstj commented on #10268
@anurse is this only for the hosting Shutdown tests or are you using this to track other tests in aspnetcore?  /cc @maryamariyan

[2020-03-24 23:11] Tratcher commented on #10268
@ericstj this tracks the deployers used in the server functional tests.
https://github.com/dotnet/aspnetcore/tree/master/src/Servers/test/FunctionalTests

At one point we made a simplified copy of those deployers for the hosting shutdown tests in the extensions repo.

[2020-03-24 23:16] ericstj commented on #10268
OK, we'll make a separate issue to track the extensions project.

[2020-03-24 23:27] TanayParikh commented on #18862
After discussing with @ajaybhargavb, it seems we have a [dotnet/roslyn](https://github.com/dotnet/roslyn) bug on our hands.

I've filed an issue with a repro-repo as well as demo videos:
https://github.com/dotnet/roslyn/issues/42743

https://github.com/TanayParikh/line-pragma-implementation-repro

Expected Behavior:
Demo without Line Pragma: https://github.com/TanayParikh/line-pragma-implementatio

[2020-03-24 23:28] stephtr commented on #5252
Thanks, that's true.

[2020-03-24 23:28] #5252 closed

[2020-03-24 23:33] TanayParikh commented on #18862
Updated cost due to account for time required to investigate the issue thoroughly (razor tooling -> omnisharp-vscode -> omnisharp server -> roslyn) (per discussion). Closing.

[2020-03-24 23:33] #18862 closed

[2020-03-25 00:29] jkotalik commented on #18019
3.1.3 is now available: https://dotnet.microsoft.com/download/dotnet-core/3.1. This issue should now be resolved in 3.1.3

[2020-03-25 00:29] #18019 closed

[2020-03-25 00:47] danroth27 opened #20118 "Unable to hit breakpoint in JS in a Blazor WebAssembly app"
Repro:
- Create a Blazor WebAssembly app
- Add a Razor Class Library to the solution and reference it
- Update *Index.razor* to call the `Prompt` method:

[code]

- Reference *exampleJsInterop.js* from *index.html*

[code]

- Set a breakpoint in *exampleJsInterop.js*
- F5 to debug the app and hit the Prompt button

Expected result:
- Breakpoint hit in *exampleJsInterop.js*

Actual result:
- Breakp

[2020-03-25 01:05] kimx commented on #14160
https://stackoverflow.com/questions/58473739/what-is-the-way-in-asp-net-core-3-0-to-get-current-authenticated-user-username

[2020-03-25 01:24] sabrigo opened #20119 "Testclient getasync not returning right statuscode."
When making a call to a non-existent url, the getasync should return 404 not found error, however it is always returning response status as ok, even though there is no catch all situation I have implemented.

Further, when enabled verbose logging (screenshot below), I get the following information but the response status was sent as 200.

![image](https://user-images.githubusercontent.com/34493700

[2020-03-25 01:31] sabrigo commented on #20119
![image](https://user-images.githubusercontent.com/34493700/77492392-94ddcb00-6e94-11ea-89c2-eec87e23ff06.png)

[2020-03-25 02:46] talldaniel commented on #17660
Just had the problem again.
I had a legit error and I fixed it, and then  two false errors were being reported having to do with namespaces.  (Cannot find ...)
I closed all windows, re-opened and that fixed it this time.

[2020-03-25 03:09] danports commented on #18400
Alright, I dug through the code until I found [the bits that do ambient value invalidation](https://github.com/dotnet/aspnetcore/blob/1c126ab773059d6a5899fc29547cb86ed49c46bf/src/Http/Routing/src/Template/TemplateBinder.cs#L163) and I think the code is behaving as designed, though the documentation for ambient value invalidation is a bit confusing. I think the intent of the algorithm is to keep th

[2020-03-25 04:16] shawnwildermuth opened #20122 "IdentityConstants aren't Constants"
### Describe the bug
The Authentication Scheme strings in IdentityConstants aren't constant so they can't be used to differentiate the schemes in controllers.

### To Reproduce
Find the example in the repo:

https://github.com/shawnwildermuth/ReproIdentityConstants

Essentially, try and add more than one Identity Provider (I used Jwt + Identity). But when I use the authorize attribute to specify t

[2020-03-25 05:07] TanvirArjel commented on #20105
@anurse Its happening for all application so you can create a brand new ASP.NET Core 3.1 application with Visual Studio 2019 16.4.5 with `Individual Account Authentication` selected!

**Here is the necessary info**:
Visual Studio Version: 2019 (16.5.4)
ASP.NET Core Version: 3.1.2
Os: Windows 10
Server: IIS Express
Browser: Latest Chromium Microsoft Edge (80.0.361.69),Latest Google Chrome

[2020-03-25 05:49] JamesNK commented on #4729
I'm doing this with https://github.com/dotnet/aspnetcore/issues/4715

[2020-03-25 05:55] Tratcher commented on #20105
ASP.NET Core shouldn't be able to cause any HTTP/2 protocol violations on IIS/Express, that's all managed at a much deeper layer in the OS. This is most likely to be affected by the OS version. What specific windows 10 version?

I'm using:
Win10 2004 (19041.153)
ASP.NET Core Version 3.1.3 (shouldn't affect this)
VS 16.5.1 (shouldn't affect this)

Kestrel also works fine, but it uses a very differe

[2020-03-25 05:59] TanvirArjel commented on #20105
@Tratcher  My Version is: Windows 10 2004 (19587.1000)! Same problem is also happening in other PC's too.

[2020-03-25 06:17] uzabumuhire commented on #20007
Thanks @phenning. I have followed the procedure but I still don't have WebAssembly template.

[2020-03-25 06:19] uzabumuhire commented on #20007
I will wait  for the  16.6 Preview 2 to try to migrate my WebAssembly projects to .NET  5.0

[2020-03-25 06:28] BrennanConroy commented on #20009
Will likely be fixed by https://github.com/dotnet/aspnetcore/pull/20121

[2020-03-25 06:45] candreouTrade commented on #20100
This is an intranet application.  I am using the name of the remote machine hosting the web service, in the browser URL.  eg http://MachineHostingWebApiService:50011/GetData

[2020-03-25 09:00] markhobson commented on #4128
May I suggest updating the [Azure documentation](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization) with the following points:

* Azure App Service authentication is also known as 'Easy Auth'
* ASP.NET Core does not currently support populating the current user when using Easy Auth

It took me a lot searching and reading to find this issue! Thanks.

[2020-03-25 11:12] BenShapira commented on #19939
Hey guys, would love some help.
Storing a cookie with the Secure and SameSite.None flags still cause problems on some computers.
Meaning - same chrome version will sometimes treat the cookie as `Same-site connections only` instead of `Any kind of connections` as it should.
Elaborated with code samples here -
https://stackoverflow.com/questions/60832416/storing-cookie-with-samesite-option-as-any-ki

[2020-03-25 11:26] rhyek opened #20152 "dotnet watch run does not forward SIGTERM to child process"
I am running an Orleans silo inside a local kubernetes cluster (using KinD). This is meant for local development. At the same time, I am using [tilt](https://tilt.dev/) and its "live update" functionality which essentially copies any modified files on my local filesystem to the container running my app. Doing so, I can run my program with `dotnet watch run` inside the kubernetes-hosted container r

[2020-03-25 11:48] javiercn commented on #17926
I tried this and couldn't reproduce it with the latest blazor webassembly version.Update to the latest version and if you still run into this issue, comment and we'll re-evaluate it.

[2020-03-25 11:48] #17926 closed

[2020-03-25 11:50] javiercn commented on #17926
@pranavkm since you mentioned you would take care of this.

[2020-03-25 11:51] am11 opened #20127 "System.Net.Http.HttpMethod vs. Microsoft.AspNetCore.Http.HttpMethods"
Since both provide same support except [`System.Net.Http.HttpMethod.Connect` is `internal`](https://github.com/dotnet/runtime/blob/7302fa490d4da1b2b806dfeb3d778636f9cd0121/src/libraries/System.Net.Http/src/System/Net/Http/HttpMethod.cs#L80-L86), is there a general guideline which one the devs should use?
Or can the (plural) one in this repo deprecated?

[2020-03-25 12:52] javiercn commented on #20127
@am11 thanks for contacting us.

Those two classes serve different purposes. If you are using ASP.NET Core APIs you should use `Microsoft.AspNetCore.Http.HttpMethods` and if you are using HttpClient APIs you should use `System.Net.Http.HttpMethod`

@Tratcher in case he wants to add something more.

[2020-03-25 12:55] javiercn commented on #20112
@ikkman thanks for contacting us.

@rynowak what's the guidance here?

[2020-03-25 12:56] andrii-litvinov commented on #19510
@ralphhendriks with latest Swashbuckle 5.2.1 I was able to configure `application/problem+json` for problem details with `IOperationFilter`. I guess it will work with earlier 5.x versions too, though I haven't checked.

[code]

[2020-03-25 12:56] #20101 closed

[2020-03-25 13:02] Cito commented on #17277
Four months now and still no proper solution for this?

[2020-03-25 13:12] LyonBlecher opened #20128 "Update ProducesResponseTypeAttribute to Inherited = false"
I would like the ProducesResponseTypeAttribute  to not be inherited.

### Is your feature request related to a problem? Please describe.
I would like to be able to have a base controller virtual Get method that returns IActionResult (not ActionResult<>) of a generic type, and I would like to be able inherit that base controller, override the method and the ProducesResponseTypeAttribute type value.

[2020-03-25 13:29] TanvirArjel commented on #20105
Okay! @Tratcher guessed it correctly! The problem actually lies in the Operating System. I was using the latest preview of Windows 10 which **Windows 10 2004 (Os build: 19587.1000)**.

Now I have downgraded to **Windows 10 1909 (Os build: 18363.720)** and everything is working fine.
So anyone of you can report this fatal issue to the Windows 10 Team.

**Before finishing! Thank you so much everybod

[2020-03-25 13:53] bxjg1987 opened #20130 "How to identify which authenticationprovider a claim belongs to?"
The default “aspnetuserclaims” data table does not recognize the authentication provier

![微信图片_20200325215246](https://user-images.githubusercontent.com/39435771/77543851-3a1f9000-6ee3-11ea-803d-8f211e0543d6.png)

[2020-03-25 14:11] hosseinnassiri commented on #19933
@mkArtakMSFT Any idea why this is happening?

[2020-03-25 14:21] shahedurrahman commented on #19997
@ajcvickers Thank you for your time and following up so far. The documentation link did help. As for solution to the problem, I might modify the model/properties in my project according to the documentation. Thanks again!

[2020-03-25 14:21] #19997 closed

[2020-03-25 14:57] FranklinWhale commented on #7945
@Tratcher A code sample is as follows:

[code]

[2020-03-25 15:13] ebattulga opened #20132 "How to deploy update without stop Blazor server website on IIS"
I was deployed blazor server on IIS through FTP. When user accessing the web, i cannot deploy file because it accessed (550 can't access file). Every update, I'm trying to stop web and deploy updated files and start web site. That's very annoying.

How to deploy update without stop web site?

[2020-03-25 15:16] juliushuck commented on #20038
No they are custom attributes. The standard ones are working. But I'm checking for null and the required type

[2020-03-25 15:23] ishak91 commented on #12890
This means form .Net Core 3.0 onwards support for Server Side Rendering is removed from .Net Core ?

[2020-03-25 15:50] javiercn commented on #20113
@SandeepRCH thanks for contacting us.

Can you clarify for us what you think is not working?

Is the authorization not being applied?

[2020-03-25 15:53] javiercn commented on #20106
@SoftCircuits thanks for contacting us.

MVC didn't autovalidate antiforgery tokens, so it was only simpler because you were missing [ValidateAntiforgeryToken] in your action (which made it safe to CSRF attacks).

There's no better way to do this (in the web in general) if you want to protect against CSRF (which you should).

[2020-03-25 15:57] Tratcher commented on #20105
Thanks, I've passed that along to the Windows team.

[2020-03-25 15:57] #20105 closed

[2020-03-25 15:58] javitosanchez opened #20134 "Support for Authorization Flow with PKCE"
I cannot find a way to configure `CodeChallenge` or `UsePkce` parameter for PKCE auth flow in `Microsoft.AspNetCore.Components.WebAssembly.Authentication.OidcProviderOptions`. Is it possible?
If not, do you have plans to implement it?

Thanks!
Great work!

[2020-03-25 16:04] SoftCircuits commented on #20106
Understood. But so many things are easier in Razor Pages. It would be nice if there was some type of helper that made this as easy as MVC. Also, given the variety of ways people have worked around this, it might at least be nice to have the steps documented somewhere.

[2020-03-25 16:08] johnrom commented on #12890
@ishak91 it's removed from the .net core framework, but you can still install the nuget package discussed above to continue with SSR.

https://github.com/JeringTech/Javascript.NodeJS

[2020-03-25 16:08] pranavkm commented on #20038
If it works with regular validation attributes, do you think there's an issue with how you've authored the attributes. If you don't think this is an issue with your code, could you share a minimal app that reproduces this issue?

[2020-03-25 16:12] javiercn commented on #20134
@javitosanchez thanks for contacting us.

The client does this automatically when you set the response type to code.

[2020-03-25 16:12] #20134 closed

[2020-03-25 16:12] Tratcher commented on #4128
@markhobson you can leave feedback directly on that linked doc.

[2020-03-25 16:13] mkArtakMSFT commented on #20132
Thanks for contacting us. Blazor has no specific instructions for deployment.
We recommend following the instructions provided at https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.1#app_offlinehtm

[2020-03-25 16:13] #20132 closed

[2020-03-25 16:19] davidfowl commented on #4128
We may also want to link to 3rd party implementations https://blog.maximerouiller.com/post/using-easyauth-appservice-authentication-with-aspnet-core/.

We should really have something here.

cc @blowdart

[2020-03-25 16:20] mkArtakMSFT commented on #20112
@ikkman based on the exception stack trace this looks like an error in your component. Can you please review that one more time and if you believe there is still an issue on our end, share a small repro app with us to investigate.

[2020-03-25 16:20] blowdart commented on #20130
No it doesn't, because once you copy the claims out of a third party login and into your user claims they don't belong to the third party any more, they're yours, the claim owner is you, identity.

[2020-03-25 16:21] blowdart commented on #4128
Yes, and we've been talking to azure about owning that. Don't reinvent the wheel *again*. Azure says they want to do it, let them. That way they can keep it up to date with their plans.

[2020-03-25 16:22] mkArtakMSFT commented on #20128
Thanks for contacting us. Seems you have a workaround which is similar to how we would do this.
We won't change the attribute though.

[2020-03-25 16:22] #20128 closed

[2020-03-25 16:24] Tratcher commented on #20127
Their types are different. HttpMethod is a class instance containing a string, where HttpMethods is static list of strings that can be used directly.

HttpMethod is required when working with HttpClient. HttpMethods can be used almost anywhere else.

Don't expect either to be deprecated any time soon.

[2020-03-25 16:27] denisbredikhin commented on #19349
@vidir-svanberg can you please tell me how you was able to call it? For me browser just hangs on call channelFactory.CreateChannel

[2020-03-25 16:28] Tratcher commented on #4128
Demand has been surprisingly low.

[2020-03-25 16:29] Tornhoof opened #20136 "Microsoft.AspNetCore.Authentication.AzureAD.UI throws OptionsValidationException: The 'Instance' option must be provided, if there is another OpenId Connect Authentication"
### Describe the bug
Adding Azure AD Authentication fails if there is are more than one openid connect schemes registered.

This is the same bug as fixed in #13480 just in a different configuration type, this was fixed for the other types by @Tratcher  but unfortunately the same lines exist in:
https://github.com/dotnet/aspnetcore/blob/76add623c9d64c26e5cb847004903bc658a4f7df/src/Azure/AzureAD/Aut

[2020-03-25 16:34] Tratcher commented on #20119
Please share the code for Startup in this example.

[2020-03-25 16:34] blogcraft commented on #17277
I guess no contributor has looked at this yet. Still, that's a bad thing. 😕

[2020-03-25 16:35] Tratcher commented on #20119
Also, what exception are you expecting here? GetAsync doesn't throw for 404 responses.

[2020-03-25 16:36] vsfeedback opened #20137 "Field used in blazor component shown as "value assigned but never used""
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/945690/field-used-in-blazor-component-shown-as-value-assi.html)._

---
I have a blazor project with nullable enabled. Here I get loads of warnings for fields who VS thinks are assigned but never used. But when I search for references (see attachement) you can see that they

[2020-03-25 16:43] NTaylorMullen commented on #20137
Repro steps:
1. Create a new Blazor project (doesn't matter what type)
1. Set nullability
1. Create a counter partial class:
[code]
4. Add the following to `Counter.razor`:
[code]
5. Build the project. You'll get:
[code]

---------------------

This looks to be an issue with how we generate the skeletons of our Blazor files in our pre-build step because that pre-build step removes all Razor conten

[2020-03-25 16:59] wtgodbe commented on #20086
@Pilchie @anurse looks like our packages are missing a `.version` file, a `Third-Party-Notices.txt` file, a `License.txt` file, and a `UseSharedDesignerContext.txt` file at least as compared to dotnet/runtime packages - do we have a stated strategy/requirement somewhere for what we intend to include in our packages? If not I can just work on including the first 3 (I don't see a `useSharedDesignerC

[2020-03-25 17:00] #20079 closed

[2020-03-25 17:00] #20077 closed

[2020-03-25 17:02] wtgodbe commented on #20086
For what it's worth, Extensions, EFCore, and AspNetCore-Tooling are also missing the files I mentioned above

[2020-03-25 17:35] NTaylorMullen opened #20140 "Razor implicit/explicit expressions in HTML attributes are not colored properly"
Our TextMate grammar doesn't look like it properly supports Razor expressions in HTML attributes.

Easiest way to repro is to create a new Blazor project and then open `NavMenu.razor`. There's this line that doesn't colorize correctly:

[code]

[2020-03-25 17:48] vsfeedback opened #20141 "Intellisense reports missing types and namespace that are available and built correctly"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/635256/intellisense-reports-missing-types-and-namespace-t.html)._

---
on a broken build Intellisense generates 332 errors. My c# files show all external references as invalid, same thing for blazor/razor files.
If I look at the actual build errors there are only 2 errors.

[2020-03-25 17:51] blowdart commented on #19961
The user ID and the email field can be different, but our templates by default make them the same. However that's up to you, and you can change it.

[2020-03-25 17:53] blowdart commented on #20122
@HaoK Can we address this, or should it be using the cookie scheme which is a constant?

[2020-03-25 17:54] blowdart commented on #20052
@HaoK is this identity, or routing?

[2020-03-25 17:56] HaoK commented on #20122
I guess at this point this isn't something we are ever going to change the values of, so we could switch these to const's, @ajcvickers any issue with that?

[2020-03-25 17:57] vsfeedback opened #20143 "Unselecting pages in the ASP.NET Core Identity scaffolder after selecting "Select all" doesn't work"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/625722/unselecting-pages-in-the-aspnet-core-identity-scaf.html)._

---
Unselecting pages in the ASP.NET Core Identity scaffolder doesn't work when "Override all files" is selected.

Repro steps:
- Install .NET Core 3.0 Preview 6 SDK
- Create a new Blazor (server-side) app w

[2020-03-25 18:02] HaoK commented on #20052
routing i would think

[2020-03-25 18:18] chucker opened #20145 "Blazor WASM: Mono.Linker.Steps.XmlResolutionException after upgrade to 3.2p2"
### Describe the bug
The package changes in 3.2p2 (e.g. Microsoft.AspNetCore.Blazor -> Microsoft.AspNetCore.Components.WebAssembly) can cause the MSBuild/NuGet/Mono ILLinker infrastructure to get confused about references.

In my particular situation, a CI server (Azure DevOps Server) kept trying to link `Microsoft.AspNetCore.Blazor` because a previous revision of the code (before 3.2p2) had refer

[2020-03-25 18:27] JulienM28 opened #20147 "Blazor WASM EditForm Validation on custom input"
I created this form:

[code]
The InputTextOnInput  component is an override of input text to bind event oninput instead onchange.
This works fine.

InputSiret  Component is like that:

[code]

The value is correctly binded oninput, but the validation is not.
I have to send the form to have the validation performed.

How can I make it work ?

Thanks.

[2020-03-25 18:48] FranklinWhale commented on #7945
I have updated the code sample to provide a solution that works in the current release of .NET Core. I think the `ToQueryString` extension method may be useful in other scenario too.

[2020-03-25 18:56] ChristianWeyer commented on #10558
@jsandv Are you still seeing this behavior with latest bits?

[2020-03-25 18:59] blowdart commented on #19165
We're closing this issue as the behaviour discussed seems to be by design.

[2020-03-25 18:59] #19165 closed

[2020-03-25 18:59] blowdart commented on #19983
Only if you want to experiment with 5 :)

[2020-03-25 19:04] #17594 closed

[2020-03-25 19:07] #14391 closed

[2020-03-25 19:11] Tratcher commented on #7945
We don't want to add scenario specific extension methods like this to general types like IEnumerable. Yes it's constrained by generics, but it would still show up in unexpected places like request and response header collections.
https://github.com/dotnet/aspnetcore/blob/bea08d997a9a8201d0edf1f4a73de8c38c2830fa/src/Http/Http.Features/src/IHeaderDictionary.cs#L12

[2020-03-25 19:17] Tratcher commented on #4762
Depends on SslStream https://github.com/dotnet/runtime/issues/33377

[2020-03-25 19:20] tmelent opened #20908 "NullReferenceException in IISHTTPServer.OnDisconnect()"
Sometimes when I start my app, I get a NullReferenceException:
[code]
Why does it happen? What should I do or where can I find some info about it?

[2020-03-25 19:30] FranklinWhale commented on #7945
Although not strictly related to this issue, I think there should be a new constructor for [`QueryBuilder`](https://github.com/dotnet/aspnetcore/blob/master/src/Http/Http.Extensions/src/QueryBuilder.cs) that accepts `IEnumerable<KeyValuePair<string, StringValues>>`. Currently, it is not easy to utilize the output of `ParseQuery` because of `StringValues`.

[2020-03-25 19:45] ikkman commented on #20112
You can find the project repo here: [source](https://github.com/ikkman/blazorintro)

[2020-03-25 19:56] NTaylorMullen commented on #18214
This seems fixed now

[2020-03-25 19:56] #18214 closed

[2020-03-25 20:07] wmmihaa opened #20151 "SignalR keep-alive options is not working"
### Describe the bug
I'd like to extend the keep-alive settings to every three minutes, but event thought I follow the recommended configuration on both server and client, the client will disconnect and reconnect every 30 seconds.

### To Reproduce
#### Middleware
[code]
#### Client (JavaScript)
[code]
#### Client output
[code]
### Further technical details
- ASP.NET Core version: **3.1**
- Includ

[2020-03-25 20:12] Pilchie commented on #20143
@vijayrkn - should this be in the scaffolding repo instead of here?

[2020-03-25 20:15] shirhatti commented on #20084
Triage: The action here is to obsolete it.

[2020-03-25 20:16] BrennanConroy commented on #20084
And maybe in https://github.com/dotnet/aspnetcore/blob/master/src/Middleware/WebSockets/src/ExtendedWebSocketAcceptContext.cs too

[2020-03-25 20:21] rhyek commented on #20152
Hm. Why was this transferred to aspnetcore? I believe this is a general issue and in fact the sample code is for a console app.

[2020-03-25 20:23] shirhatti commented on #14134
Triage decision: The workaround is good enough, and we won't be making a product change here.

[2020-03-25 20:38] jkotalik commented on #17055
We have tests which check Server Variables with IISExpress here: https://github.com/dotnet/aspnetcore/blob/4a7bf75e89e3dfe7264a641ed041f50788d28d20/src/Servers/IIS/IIS/test/Common.FunctionalTests/Inprocess/ServerVariablesTest.cs

I think we need more information here to figure out why the server variables are null. I'm going to close for now and reopen if you are still hitting the issue.

[2020-03-25 20:38] #17055 closed

[2020-03-25 20:41] Tratcher commented on #16811
Environment.OSVersion was fixed for 5.0 https://github.com/dotnet/runtime/pull/33651

[2020-03-25 20:45] vijayrkn commented on #20143
This is an issue on the VS side. @deepchoudhery - is this the issue that is already fixed? else, can you create a bug on the VS side with the above information?

[2020-03-25 20:45] BrennanConroy commented on #20151
Tried reproing with a simple app and couldn't, the keepalive worked at the 3 minute interval.

Could you verify that the browser didn't cache a previous version of the code when you didn't have the 3 minute interval?

And if it still repros we might need a repro app.

[2020-03-25 20:49] Tratcher commented on #7945
Sure, if you want to give it a try.

[2020-03-25 21:02] deepchoudhery commented on #20143
Yes it is already fixed on the VS side.

[2020-03-25 21:11] deepchoudhery commented on #20143
Yes I'll create a bug and investigate on the VS side.

[2020-03-25 21:12] anurse commented on #20086
I don't know what `.version` and `UseSharedDesignerContext.txt` are for. We should have some kind of third-party notices file though. The license should be covered by the `<license>` element in the nuspec.

[2020-03-25 21:14] anurse commented on #19939
@BenShapira please file a new issue for that. It seems to be a different issue.

[2020-03-25 21:20] ajaybhargavb opened #20153 "Reenable skipped IIS tests"
More context here, https://github.com/dotnet/aspnetcore/pull/20053#issuecomment-603661041

Blocked on https://github.com/dotnet/runtime/issues/34093

[2020-03-25 21:25] Pilchie commented on #20143
This was already migrated from a feedback ticket (linked above).  Maybe just reactivate that and provide details?

[2020-03-25 21:27] pranavkm opened #20154 "[Flaky test]: Microsoft.AspNetCore.Components.E2ETest.Tests.BootResourceCachingTest.IncrementallyUpdatesCache"
[code]

[2020-03-25 21:28] deepchoudhery commented on #20143
I reactivated it and moved it to the WebTools/Scaffolding path.

[2020-03-25 21:29] Pilchie commented on #20143
Closing this as external.  Sorry for the noise here.

[2020-03-25 21:29] #20143 closed

[2020-03-25 21:30] NTaylorMullen opened #20155 "LSP Preview 3 - Validate Razor tooling on Windows"
## Instructions
It's up to you to validate all features, if applicable, done in the [Razor LSP Preview 3 milestone](https://github.com/dotnet/aspnetcore/milestone/97?closed=1) (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure something works.

As part of this process don't be af

[2020-03-25 21:31] NTaylorMullen opened #20156 "LSP Preview 3 - Validate Razor tooling on Linux"
## Instructions
It's up to you to validate all features, if applicable, done in the [Razor LSP Preview 3 milestone](https://github.com/dotnet/aspnetcore/milestone/97?closed=1) (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure something works.

As part of this process don't be af

[2020-03-25 21:32] NTaylorMullen opened #20157 "LSP Preview 3 - Validate Razor tooling on Mac"
## Instructions
It's up to you to validate all features, if applicable, done in the [Razor LSP Preview 3 milestone](https://github.com/dotnet/aspnetcore/milestone/97?closed=1) (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure something works.

As part of this process don't be af

[2020-03-25 21:35] #17713 closed

[2020-03-25 21:36] #17832 closed

[2020-03-25 21:36] Pilchie commented on #20086
I agree with what @anurse said.

[2020-03-25 21:42] wtgodbe commented on #20086
Roger that, I'll get going on it

[2020-03-25 21:42] NTaylorMullen commented on #14291
We can cover the C# side of this issue by making changes to O#; therefore the primary portion of this issue is meant to make HTML diagnostics remappable

[2020-03-25 21:44] NTaylorMullen commented on #20140
This impacts the immediate colorization experience of the Razor editor in default templates. Pulling into our alpha release.

[2020-03-25 22:01] #19983 closed

[2020-03-25 22:08] wtgodbe commented on #20086
Looks like this isn't exactly how I described it above - some of our packages with custom .nuspecs (e.g. `Microsoft.AspNetCore.Identity.UI` & packages in the `components` dir) _do_ include `Third-Party-Notices.txt`, because they do so explicitly. The rest of our packages do not include the file. In fact, I see nine different `Third-Party-Notices.txt` files checked in to the repo. I guess what's ri

[2020-03-25 22:10] NTaylorMullen opened #20158 "Add C# hover support to VS"
Similar to VSCode when you hover over a C# element we should be getting proper descriptions for these situations

[2020-03-25 22:11] NTaylorMullen opened #20159 "Add v1 formatting support to VS"
We added our v1 formatting support to VSCode which enabled `@code` / `@functions` formatting. We should also add this to Visual Studio.

[2020-03-25 22:13] NTaylorMullen opened #20160 "Investigate Razor LSP Editor Debugging in VS"
With our new editor we need to have the ability to debug our Razor files in cloud environments. This issue represents understanding what that entails.

[2020-03-25 22:15] wmmihaa commented on #20151
I get the same behavior from both a browser client and a node.js client. **Are you sure you used my exact same settings? I'm just concerned I've used the wrong ones.**

As soon as I publish the app to Azure, I'll ping you again so that you can try it out.
Cheers

[2020-03-25 22:45] BrennanConroy commented on #20151
Yep, copy pasted the settings you set.

[2020-03-25 22:48] ajaybhargavb opened #20162 "Test failure: EmptyWebTemplateCSharp"
https://dev.azure.com/dnceng/public/_build/results?buildId=573012&view=ms.vss-test-web.build-test-results-tab&runId=17967354&resultId=120456&paneView=debug

<details>
<summary>Error</summary>

[code]

</details>

<details>
<summary>Stacktrace</summary>

[code]

</details>

[2020-03-25 22:53] ajaybhargavb opened #20163 "Test failure: ConnectionClosedTokenFiresOnClientFIN"
https://dev.azure.com/dnceng/internal/_build/results?buildId=572454&view=ms.vss-test-web.build-test-results-tab&runId=17951640&resultId=109104&paneView=debug

<details>
<summary>Error</summary>

[code]

</details>

<details>
<summary>Stacktrace</summary>

[code]

</details>

[2020-03-25 22:54] shawnwildermuth commented on #20122
The way I registered Identity didn't have the Cookie type as an option. I am sure I could have added it. That's the way I used to do it in 2.x. But I think the changes in Identity in 3.x caused this to change.

[2020-03-25 22:55] ajaybhargavb opened #20164 "Test failure: ClientStreaming_ResponseCompletesWithoutResponseBodyWrite"
https://dev.azure.com/dnceng/internal/_build/results?buildId=572377&view=ms.vss-test-web.build-test-results-tab&runId=17948326&resultId=100548&paneView=debug

<details>
<summary>Error</summary>

[code]

</details>

<details>
<summary>Stacktrace</summary>

[code]

</details>

[2020-03-25 22:55] HaoK commented on #20030
@MiroKov I'm unable to isolate what steps you did to see this behavior, can you outline exactly what steps you did (preferably against a brand new angular template with individual auth) to demonstrate the problematic behavior?

[2020-03-25 23:13] pranavkm commented on #19166
Fixed as part of https://github.com/dotnet/aspnetcore/pull/20148

[2020-03-25 23:13] #19166 closed

[2020-03-25 23:14] pranavkm commented on #18841
Fixed as part of https://github.com/dotnet/aspnetcore/pull/20148

[2020-03-25 23:14] #18841 closed

[2020-03-25 23:14] pranavkm commented on #20074
Fixed as part of https://github.com/dotnet/aspnetcore/pull/20148

[2020-03-25 23:14] #20074 closed

[2020-03-25 23:27] vidir-svanberg commented on #19349
Look at https://github.com/dotnet/wcf/compare/master...vidir-svanberg:Blazor-WebAssembly-fixes?expand=1

[2020-03-25 23:36] JunTaoLuo opened #20168 "Plan for dotnet/aspnetcore-tooling consolidation"
I have some meeting notes to convert to a POR

[2020-03-25 23:40] JamesNK opened #20169 "Test failure: FlowControl_ParallelStreams_FirstInFirstOutOrder"
Filaure: https://dev.azure.com/dnceng/public/_build/results?buildId=573505&view=ms.vss-test-web.build-test-results-tab

Test: https://github.com/dotnet/aspnetcore/blob/8531e2e83fedf212d51270ba43f00ad85505f329/src/Servers/Kestrel/test/InMemory.FunctionalTests/Http2/Http2ConnectionTests.cs#L30-L110

[2020-03-26 00:26] wmmihaa commented on #20151
I apologize for wasting your time @BrennanConroy . I went on to create a new project and as I couldn't reproduce it, I went back to my original project now it seems to work...I don't know what I must have done wrong, but I've spent hours on this today :(

[2020-03-26 00:26] #20151 closed

[2020-03-26 00:27] wmmihaa commented on #20151
btw...can I ask you if it's possible to catpture configureLogging to a custom logger with js as I can do with c#?

[2020-03-26 00:28] ajaybhargavb opened #20172 "Test failure: BlazorServerTemplateWorks_NoAuth"
https://dev.azure.com/dnceng/public/_build/results?buildId=573684&view=ms.vss-test-web.build-test-results-tab&runId=17989716&resultId=100011&paneView=debug

<details>
<summary>Error</summary>

[code]

</details>

<details>
<summary>Stacktrace</summary>

[code]

</details>

[2020-03-26 00:30] ajaybhargavb commented on #20172
@pranavkm @SteveSandersonMS @javiercn can you take a look?

[2020-03-26 01:14] bxjg1987 commented on #20130
thanks

[2020-03-26 01:14] #20130 closed

[2020-03-26 02:39] NMSAzulX opened #20173 "About <PreserveCompilationReferences>true</PreserveCompilationReferences>"
This is my .props file. But it doesn't work. https://github.com/dotnet/roslyn/issues/42439

[code]

[2020-03-26 03:26] #18769 closed

[2020-03-26 03:51] xboxeer opened #20174 "Add sort options for UseDirectoryBrowser"
### Is your feature request related to a problem? Please describe.
Our customer in Stackoverflow is using UseDirectoryBrowser to list the files on his server, he'd like to sort the listed files by created date and modified date, but there is not any places that we can config this, seems UseDirectoryBrowser does not have an option for that

### Describe the solution you'd like
DirectoryBrowserOptio

[2020-03-26 03:58] #19522 closed

[2020-03-26 05:53] davidfowl commented on #13295
We might have a clean design for this and it looks like an `IConnectionListener` implementation that wraps the transport is the way to go here. It would look like any other connection middleware:

[code]

This works by exposing a new method on `ListenOptions`:

[code]

This would allow you to wrap the previous `IConnectionListener` in order to handle the calls to accept. That's where this logic ca

[2020-03-26 07:24] denisbredikhin commented on #19349
@vidir-svanberg thanks a lot, I will try!

[2020-03-26 07:27] wmmihaa opened #20181 "SignalR Loghandler for JavaScript client"
### Is your feature request related to a problem? Please describe.
Are there any plans to make it possible to handle log output through a custom handler for JavaScript?
### Describe the solution you'd like
I'd like to be able to capture the information and submit it to the Hub.

[2020-03-26 07:41] athinboy opened #20182 "what about transaction-declarative-annotations?"
### Is your feature request related to a problem? Please describe.

 It is  inefficiency and bothersome  to begin/commit/rollback transaction manually!
Is there any plan to support transaction-declarative-annotations? Just like spring for java:

https://docs.spring.io/spring/docs/5.2.5.RELEASE/spring-framework-reference/data-access.html#transaction-declarative-annotations

### Describe the solutio

[2020-03-26 07:45] wmmihaa commented on #20181
Never mind...found it: https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1

[2020-03-26 07:45] #20181 closed

[2020-03-26 07:53] MiroKov commented on #20030
@HaoK Hi,
That was a brand new app, that I created just for the purpose of proving:

After creating the app, I just changed the appsettings' connection string to use the SqlServer.
I created one user.
Then I wanted to log in, in order to test logout function on a brand new app. However, I was unable to log in, although the user was created.

[2020-03-26 08:03] JulienM28 commented on #20051
Here it is:

[code]

In this case, instead of saying that I need a context or a model, th error message is saying :
System.InvalidOperationException: EditForm requires a Model parameter, or an EditContext parameter, but not both.

It's not a big problem, but it may be confusing.

Thanks.

[2020-03-26 08:38] dazinator opened #20183 "Binary incompatible changes - and nuspec versioning"
### Is your feature request related to a problem? Please describe.
Suppose I want to produce a nuget package that can be used in all LTS applications (let's focus on netcoreapp2.1 and 3.1).

My best bet right now is to target `netstandard2.0`. However suppose my library is compiled against an MS `2.1.0` dependency.
If a consumer adds my package to their `asp.net core 3.1.0` application, then the v

[2020-03-26 08:44] leastprivilege opened #20184 "OIDC Handler always uses token endpoint address from configuration"
the OIDC handler allows setting the address of the token endpoint dynamically in the `AuthorizationCodeReceived` event (on the `TokenEndpointRequest` class).

This information is then passed internally to the `RedeemAuthorizationCodeAsync` method - but inside there, the actual HTTP request is made using the static `_configuration.TokenEndpoint`

https://github.com/dotnet/aspnetcore/blob/4fa5a228cf

[2020-03-26 09:31] jaragones commented on #18925
I'm getting a "similar issue" reported to firebase. Android app is using signalR 5.0.0-preview (installed using gradle: implementation 'com.microsoft.signalr:signalr:+'). I couldn't reproduce this issue on my own.

On the library, is there a way to detect broken pipe or when a connection had dropped?

Error's stack is:

[code]

[code]

[code]

[2020-03-26 09:43] ArneD commented on #19510
@ralphhendriks with inspiration of @andrii-litvinov answer we fixed our issue by doing this:

[code]

Our controller has an `[Produces]` attribute with all possible content-types.
Change at your convenience.

[2020-03-26 09:54] javiercn commented on #20184
Thanks for reporting this Dominic.

@blowdart @Tratcher can you take a look?

[2020-03-26 09:56] javiercn commented on #20183
@dazinator thanks for contacting us.

@davidfowl @Pilchie @DamianEdwards @JamesNK  any thoughts on this?

[2020-03-26 10:00] javiercn commented on #20182
@athinboy thanks for contacting us.

This is more of a question for the Entity Framework folks as they are the subject matter experts on the different database usage patterns and are better suited to comment on this issue. If you want a better and faster response I would suggest you file this issue on the [dotnet/efcore](https://github.com/dotnet/efcore) repository.

/cc: @ajcvickers any thoughts

[2020-03-26 10:03] javiercn commented on #20173
@NMSAzulX thanks for contacting us.

@pranavkm is this us? Can you comment on it?

@NMSAzulX can you provide details about the version of asp.net core you are using so that we can investigate this?

[2020-03-26 10:04] javiercn commented on #20153
@ajaybhargavb I believe this is MVC, isn't it? Moved to next sprint planning. Label this issue as needed please.

[2020-03-26 10:08] clement911 commented on #19994
Thanks, I made the change. Hopefully that will fix the issue.

Speaking of DI, I wonder if it could also be related to the following code that we use to get a transient instance of our DbContext.

[code]

We need to create db context instances on the fly in our methods, sometimes multiple at a time.
But we resolve it with DI so that dependencies are injected.
Is that a good way of doing it?

[2020-03-26 10:19] leastprivilege commented on #20184
There are multiple ways to work around that

* redeem the code yourself inside the event handler (thanks for that flexibility)
* provide a custom configuration manager. Unfortunately the default one does not have virtual methods - so this was more work than necessary

[2020-03-26 10:23] lukasroberts commented on #18925
@BrennanConroy sorry for the late response.

This issue for me has now been solved, the main problem was that I was creating my SignalR hub on the main thread, as opposed to a background thread.

If anyone has this issue, it's worth ensuring that when you start and stop your hub, it's done on a background thread.

@jaragones your issue looks to be something different, and I'd recommend opening a s

[2020-03-26 10:23] #18925 closed

[2020-03-26 10:24] lukasroberts commented on #18925
Additionally @jaragones there is a way to detect the connection has dropped via `addOnClosedListener `for the hub object itself

[2020-03-26 10:32] Blackleones opened #20185 "DI can not resolve dipendencies required by AuthorizationHandler"
### Describe the bug
During the project startup, ASP.NET Core can not resolve AuthorizationHandler's dependencies which require other dependencies.

### To Reproduce

[Sample repository](https://github.com/Blackleones/Authorizationhandler-DI-Problem)

Startup.cs

[code]

Definition/implementation of TestRequirement, TestRequirementHandler, ICurrentUser, CurrentUser

[code]

Error message:
[code]

[2020-03-26 10:55] tom171296 opened #20186 "AddNewtonsoftJson options should configure newtonsoft settings for entire project and not just the controllers"
I am trying to configure the options for Json serialization settings via AddNewtonsoftJson but this only configures the settings for data retrieved via a controller. I thought that this functionality would set the settings default settings of newtonsoft.

I would like to see that the AddNewtonsoftJson function should configure the default settings for newtonsoft, so I can use it to configure my js

[2020-03-26 12:06] NMSAzulX commented on #20173
@javiercn  Thanks.  It is about asp.net core3.1.

When I use Roslyn for dynamic compilation in Asp.net core3.1,  I need to use this node(`<PreserveCompilationReferences>true</PreserveCompilationReferences>`),

The complete code
[code]
and I need to use (`<PreserveCompilationContext>true</PreserveCompilationContext>`) node in the Console Project.
I have carried out a comparative experiment on this.

[2020-03-26 12:16] SteveHindmarsh commented on #5579
Any news on this yet? I can't get Blazor  radio buttons to work with enums and the docs example given does not work?  https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.1

[2020-03-26 12:21] jaragones opened #20187 "Signal R Core Java Client Crashing"
**Describe the bug**
When using the Java client SDK for Signal R Core, it crashes  when the socket pipe had broken. I attach a log through Firebase and this issue couldn't been reproduce on my own device.

**To Reproduce**
I couldn't reproduce/replicate this issue. Only information available is stack trace.

**Stack trace is...**

[code]

[code]

[code]

**Further technical details**
+ signalR 5.0

[2020-03-26 12:36] EngineerTryingToCode commented on #19969
Alright so this is throwing me through a loop.  I went to create a new project in 3.1 using HTTPS to upload as a repository and I test it to ensure it still fails...and then it decides to work for me.  Not sure what the heck could be going on here to be honest...Could it be that trying to use it at work with so much IT going on in the background that it could be giving issues one day and not anoth

[2020-03-26 12:42] EngineerTryingToCode commented on #19969
Tried to upload to a repository but it limits to 100 files and the solution folder is much larger.

[2020-03-26 13:06] SteveSandersonMS commented on #19919
Thanks for confirming, @CodedBeard!

[2020-03-26 13:06] #19919 closed

[2020-03-26 13:18] ionoy commented on #5456
@dazinator LiveSharp Server serializes updated code and sends it to the application. Then, the application deserializes it into Expression Tree and injects it into updated methods. There is much more going on inside, but that is the gist of it.

By the way, LiveSharp Server needs to be only started once. After that, you just start the app as you usually do.

Here is a demo of stateful Blazor hot-r

[2020-03-26 13:18] aprilmaraat commented on #17277
Mine works by editing `"start":  "ng serve --port 4200"`

[2020-03-26 13:29] sijakret opened #20188 "Transfer raw data between c# and js context"
Hi,

I need to pass a raw buffer (ArrayBuffer) from the js context to the a static method in the blazor(wasm) context and preferable modify that buffer in place (or at least return a modified copy).
The way web assembly works i think it might be tricky to modify the buffer in place unless it was allocated in the wasm memory object/the wasm heapin the first place.
I cannot find any documentation, i

[2020-03-26 13:57] javiercn commented on #20078
@wbalzer You need to be using the 3.1.102 sdk. You can do so with `dotnet new globaljson --sdk-version 3.1.102` on your solution root.

[2020-03-26 14:13] ADustyOldMuffin commented on #20084
Can I look into working on this? I'd like to get into contributing.

[2020-03-26 14:17] BrennanConroy commented on #20187
Do you have a java app that you're willing to share that the issue has happened in?

[2020-03-26 14:23] huysentruitw commented on #20084
@ADustyOldMuffin sorry, I've already started working on this. Still need to update the reference assemblies, but I'm having some trouble with the build ATM.

[2020-03-26 14:24] javiercn commented on #20188
@sijakret thanks for contacting us.

We don't support this type of interop in Blazor. Data needs to be serialized back and forth from .NET to WebAssembly.

@SteveSandersonMS might have some idea on how this might be achievable?

[2020-03-26 14:28] javiercn commented on #20186
@tom171296 thanks for contacting us.

`AddNewtonsoftJson` only configures the settings for MVC and I don't think it's possible (nor desirable) to globally configure the settings in one place.

The main reasons are that:
1. We can't predict in advance what frameworks are going to be using newtonsoft.json and they would need to opt in to read the "common" options (hence by default options would not

[2020-03-26 14:30] javiercn commented on #20145
@chucker thanks for contacting us.

You need to force the 3.1.102 SDK that is required with preview2. You can do so by invoking `dotnet new globaljson --sdk-version 3.1.102` in the root of your solution.

[2020-03-26 14:31] #19773 closed

[2020-03-26 14:34] #19852 closed

[2020-03-26 14:36] javiercn commented on #20052
@MiroKov thanks for contacting us.

Not sure what the underlying causes of this can be. It might have to do with the paths on the cookies.

[2020-03-26 14:37] denisbredikhin commented on #19349
@vidir-svanberg it is very strange that you had an exception, but in my case browser just hangs...

[2020-03-26 14:37] ADustyOldMuffin commented on #18463
Could I maybe take a whack at this if it's still available? Is the idea to set the header `content-length` from the `ContentLength` property if it's valid/set?

[2020-03-26 14:38] chucker commented on #5579
@SteveHindmarsh while binding directly may not work yet, writing a component that generates all the radio buttons from an enum isn't that hard.

[2020-03-26 14:39] sijakret commented on #20188
@javiercn thanks for the reply

I think it is not just an issue of .NET <-> WebAssembly but also one of WebAssembly <-> js.

Somehow I was under the impression Blazor was using Mono under the hood, so I am a bit surprised the marshalling support of blazor is more limited than the one of Mono.
Is there a reason for this?

[2020-03-26 14:40] javiercn commented on #20106
@SoftCircuits there are already docs for this. See https://docs.microsoft.com/en-us/aspnet/core/security/anti-request-forgery?view=aspnetcore-3.1#javascript-ajax-and-spas for details.

We don't plan to do anything specific about this for the time being, so I'm closing this issue.

[2020-03-26 14:40] #20106 closed

[2020-03-26 14:44] chucker commented on #20145
@javiercn it does, in fact, have a `global.json` that forces that SDK version. (And it does use the version, as confirmed by `dotnet --info` from within the dir.)

As I said, it works if I manually clean `bin` and `obj`, but it doesn't seem to properly invalidate the old packages.

[2020-03-26 14:51] EduVencovsky commented on #18742
This means that for now, you can't use generic type cascading values? That explains why somethings isn't working on my project...

[2020-03-26 14:54] wbalzer commented on #20078
@javiercn For clarification, Do I need to downgrade my sdk to 3.1.102 because Preview 2 is targeting 3.1.102 sdk, and I have a mismatch, or is this a workaround to get my project working until Preview 3 or Preview 4 where the issue will be fixed using a later sdk (v3.1.200)...?

[2020-03-26 14:56] sharwell commented on #20095
I looked into this some more, and found that even though the project references Microsoft.CodeAnalysis.CSharp.Workspaces, it is not using it. The reference should still be corrected, but it wouldn't be the cause of failing to run during command line builds.

[2020-03-26 15:42] nvmkpk opened #20193 "OnAfterRender being called after every scrolling via javascript"
I am initiating a scroll to a specific element from `OnAfterRender` override. I am scrolling in multiple steps to animate the scroll but I am noticing that after each step of scrolling is complete, `OnAfterRender` is getting called. Is this expected?

[2020-03-26 15:50] JamesIrish opened #20194 "500.37 - ANCM Failed to Start Within Startup Time Limit -> NativeMethods.HttpGetApplicationProperties COM Exception"
### Describe the bug
Our deployed ASP.Net Core website (hosted behind IIS) sporadically stops, appears to restart and then cannot do so resulting in the browser showing

Our logging solution (SeriLog) output looks like the following:

[code]

### To Reproduce
Unable to do so on demand. :(  Once this issue occurs on one of our web servers it eventually springs back into life but can require multipl

[2020-03-26 16:08] #19877 closed

[2020-03-26 16:08] #19855 closed

[2020-03-26 16:09] #19854 closed

[2020-03-26 16:09] #19998 closed

[2020-03-26 16:10] anurse commented on #19994
It depends if you are using that NcDbContextFactory **after** the DI container is disposed. If you are, then you’ll get an ODE (`ObjectDisposedException`). Are you capturing references to that type anywhere? Shoving them in static fields, etc.?

[2020-03-26 16:12] javiercn commented on #19928
Fixed as part of https://github.com/dotnet/aspnetcore/pull/20191

There was an issue in the way the middleware was ordered that was causing the issuer URI to be computed incorrectly, causing the tokens to be rejected.

[2020-03-26 16:12] #19928 closed

[2020-03-26 16:14] ajcvickers commented on #20182
@athinboy Can you explain more what you mean by, "I think this is not belong to EntityFramework, but to aspnetcore or dotnet?"

[2020-03-26 16:14] jDover01 commented on #19928
Ahh. Nice! Thank you for this!! =) When can I expect a new release to update to?

[2020-03-26 16:16] tebeco commented on #20095
@sharwell

all the unit test tests are KO for me on the solution
i found 2 different things to change to make them pass but i'm not sure how it will impact the CI and/or Helix

do i make a PR for the discussion about these changes ?

or do i make 2 commit and link them here ?

also the source might not use `Microsoft.CodeAnalysis.CSharp` directly but the `GetCompilationAsync(....)` during the`Feat

[2020-03-26 16:19] Tratcher commented on #18463
Yeah, when copying request headers from HttpContent the Content-Length header needs to be checked separately. Give it a try.

[2020-03-26 16:21] Tratcher commented on #19969
Tried to upload how? If you use a Git client it shouldn't matter how many files there are.

The main files of interest are Program.cs, Startup.cs, appsettings.json, appsettings.Development.json, and launchsettings.json.

[2020-03-26 16:28] n777ty commented on #19969
This is a bit of a long shot but -- that U: drive shown above.. is that a mapped network drive?  if yes, is that where you're running your failing project?  Is the working one running off of same drive (or maybe from a local drive)..  An exception like the one you are seeing can happen when exe is run from a network drive (though I would have thought all sockets would fail in such scenario and not

[2020-03-26 16:34] Tratcher commented on #20184
Oh. AuthorizationCodeReceivedContext.TokenEndpointRequest is a generic OpenIdConnectMessage and not every field is used for every action. That said, there's nothing preventing us from using the custom token endpoint if it's available. Looks like it would be a one line change here:
https://github.com/dotnet/aspnetcore/blob/4fa5a228cfeb52926b30a2741b99112a64454b36/src/Security/Authentication/OpenIdC

[2020-03-26 16:37] LaughingJohn commented on #19561
Sorry I forgot to come back, The next release sorted it for me! Thank you for all your work and stay safe!

[2020-03-26 16:39] Tratcher commented on #19969
The secure socket is exactly the same as the other sockets when it's first created. The encryption is layered on later. The port seems to be the main concern.

[2020-03-26 16:39] mkArtakMSFT commented on #20145
We don't support incremental builds between previews. Consider cleaning your agents between builds.

[2020-03-26 16:42] mkArtakMSFT commented on #20137
@NTaylorMullen why is step #2 (set Nullability) required here?

[2020-03-26 16:45] #19962 closed

[2020-03-26 16:46] #19991 closed

[2020-03-26 16:46] mkArtakMSFT commented on #20051
Thanks for the details.
The error message is actually correct. If you're interested in sending a PR to add the `parameter` word after `model`, feel free to send us a PR.

[2020-03-26 16:48] mkArtakMSFT commented on #20141
@NTaylorMullen can you please look into this? Thanks!

[2020-03-26 16:50] wbalzer commented on #20078
@javiercn  Never mind...  I see the difference in sdk's targeting VS 2019 v16.4 vs v16.5.  I have both on one machine, but the other, just v16.4.

[2020-03-26 16:52] mkArtakMSFT commented on #20193
Thanks for contacting us.
Blazor doesn't automatically re-render on scroll events. This means that you have code which has registered for that event and then this is expected.
We plan to add an ability to throttle these in the future, as part of this issue: https://github.com/dotnet/aspnetcore/issues/10522

[2020-03-26 16:52] davidfowl commented on #19962
I don't believe this issue is complete. The original request was to go to the places that throw today and return a 400 instead.

[2020-03-26 16:53] mkArtakMSFT commented on #20051
Thanks for sharing the details.
We think the error message represents the problem correctly and we don't want to change that at the moment.
If we hear similar confusion from other community members in the future, we will reconsider tweaking it then.

[2020-03-26 16:53] #20051 closed

[2020-03-26 16:57] Tratcher commented on #20185
That error message says it all, but could use some interpretation.

Error while validating the service descriptor 'ServiceType:
Microsoft.AspNetCore.Authorization.IAuthorizationService Lifetime:
Transient ImplementationType:
Microsoft.AspNetCore.Authorization.DefaultAuthorizationService':
 Cannot consume scoped service 'Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider' fro

[2020-03-26 16:57] pranavkm commented on #20173
@NMSAzulX projects targeting the Web or Razor SDK set `PreserveCompilationContext = true` by default. However, they intentionally avoid copying ref assemblies to the publish directory to minimize the publish size. Setting `PreserveCompilationReferences = true` would be to way to go if you need to perform runtime compilation. In general, you should be fine setting both those properties in your proj

[2020-03-26 16:59] clement911 commented on #19994
Yes we do use the `NcDbContextFactory` in background jobs that run forever.
We figured it was ok since it is registered as a singleton.
Should our background job also hook into `IApplicationLifetime.ApplicationStopping`

[2020-03-26 17:01] NTaylorMullen commented on #20137
Copy and paste error. It isn't.

[2020-03-26 17:02] NTaylorMullen commented on #20141
erik could you please provide a repro app so we can investigate further?

[2020-03-26 17:05] Blackleones commented on #20185
@Tratcher Thank you! it is my fault. I've changed the TestRequirementHandler service's scope from Singleton to Transient and now it works.

[2020-03-26 17:07] Tratcher commented on #20174
If we were to add such an option to DirectoryBrowserOptions  then the sort would have to happen right before passing the data to the formatter here since there's no way to pass in options to the formatter:
https://github.com/dotnet/aspnetcore/blob/19d2f6124f5d04859e350d1f5a01e994e14ef1ce/src/Middleware/StaticFiles/src/DirectoryBrowserMiddleware.cs#L96

Or maybe add it as an option directly on the

[2020-03-26 17:09] Tratcher commented on #19962
@davidfowl #19862 covers catching InvalidDataException at higher layers and turning it into a 400 response.

[2020-03-26 17:25] NMSAzulX commented on #20173
@pranavkm  Thanks. How to automatically add this attribute to the user's project file when I download the library from nuget？ The answer from others is to publish the library using the {packageId} .props file. I've already tried it, and it's not successful.

[2020-03-26 17:29] pranavkm commented on #20173
@NMSAzulX have a look at the layouts and contents of the [Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation package](https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Razor.Runtimecompilation). It uses a `${PackageId}.targets` file to set these two properties:
https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.Razor.RuntimeCompilation/src/targets/Microsoft.AspNetCore.Mvc.Razor.Runt

[2020-03-26 17:31] NMSAzulX commented on #20173
@pranavkm Thank you. I'll try this way. :)

[2020-03-26 17:35] ajaybhargavb commented on #20153
This is area-servers. I've modified it.

[2020-03-26 17:44] NMSAzulX commented on #20173
Wow, it works. @pranavkm @javiercn  Thank you.   Do I need to close this issue?

[2020-03-26 17:46] Marusyk commented on #19862
Seems, it's not blocked anymore.  I'll try to prepare a PR

[2020-03-26 17:48] pranavkm commented on #20173
Sure, we could do that

[2020-03-26 17:48] #20173 closed

[2020-03-26 17:53] javiercn commented on #15253
These are the steps you need to follow if you are using our current auth support.

## Steps for supporting auth + prerendering on Blazor applications.
* The app will prerender paths for which  authorization is not required.
* Paths for which authorization is required will not be prerendered.

1. On your Client/Program.cs factor common service registrations into a separate method.
2. On your Server

[2020-03-26 17:56] #15253 closed

[2020-03-26 17:59] SteveSandersonMS commented on #20147
Your component doesn't appear to write the updated value to the `CurrentValue` property. That's what triggers the underlying `InputBase` to issue a notification to the validation system.

Examples of working code:

 * https://github.com/dotnet/aspnetcore/issues/8386#issuecomment-473622549
 * https://chrissainty.com/building-custom-input-components-for-blazor-using-inputbase/

[2020-03-26 18:10] Javaman2 commented on #20102
But maybe I'm on wrong path, I thought that the HTTP request could go to the back-end to be authenticated and not directly to AD.  I've already proved the back-end has no problems authenticating. The webAPI code is not using that authentication scheme, rather it's using the AD authentication scheme as shown in all the examples.  I think you are saying I need to change the scheme too, plus adding t

[2020-03-26 18:18] leastprivilege commented on #20184
yep. thanks!

[2020-03-26 18:18] brux88 commented on #19561
but i have the sdk version 3.1.102 and show me the error

[2020-03-26 18:21] JulienM28 commented on #20147
Thank you very much, it's working fine now.

[2020-03-26 18:21] #20147 closed

[2020-03-26 18:37] catlan opened #20517 "Is setting BlazorWebAssemblyEnableLinking to 'true' required?"
[EDIT by @guardrex to fix the character encoding]

Is it possible that `<MonoLinkerI18NAssemblies>all</MonoLinkerI18NAssemblies>` is not taking into account when the linker is disabled? For development builds this seems to be the default since 3.2.0 Preview 2.

This is working for me:

[code]

See also https://github.com/dotnet/AspNetCore.Docs/issues/15679

---
#### Document Details

⚠ *Do not edi

[2020-03-26 18:40] PatPat1567 commented on #13624
If anyone else looks into this for a work around. You can easily take the .cs file from https://github.com/dotnet/aspnetcore/blob/master/src/Components/Web/src/Forms/InputSelect.cs and convert it to a razor component. It takes a little bit to understand how blazor can render the syntax, but can be generate yourself.

[2020-03-26 18:43] SweetJV opened #20198 "Blazor WebAssembly: Javascript getElementById fails. Blazor rendering bug?"
### Describe the bug

There is one element in my component where, using Javascript interop, calling getElementById fails, even though the element exists and the id is correct. Calling getElementById on any other element, including children of that element, works fine. This makes me suspect something weird is going on with Blazor's manipulation of the DOM.

### To Reproduce

Here is a simplified pr

[2020-03-26 19:03] dazinator commented on #5456
@ionoy kudos that's some nice work there!

[2020-03-26 19:09] mkArtakMSFT opened #20200 "Breakpoints in `.razor` files, which are not in the `@code` block won't bind"
Using the latest VS preview (16.6 Preview 3) release with the latest Blazor bits (3.2-preview3):

![image](https://user-images.githubusercontent.com/34246760/77686707-983b8a00-6f5a-11ea-9d7b-13366a4d46d6.png)

[2020-03-26 19:18] HaoK commented on #20030
So you created the user on one app and created a different app and are trying to login pointing at the same sql database but with a different app?

[2020-03-26 19:20] HaoK commented on #20030
Can you try this without sql server, just point both apps at the same localdb using the same connection string

[2020-03-26 19:22] HaoK commented on #17485
Closing this out, because this is something we have fixed in 3.0, and should be already fixed in 5.0 as well, feel free to reopen this if you run into issues still on 3.0/5.0 @SamWhitby

[2020-03-26 19:22] #17485 closed

[2020-03-26 19:23] #17780 closed

[2020-03-26 19:30] HaoK commented on #18730
Closing this out because this should be fixed in 3.1.2 and 5.0, feel free to reopen or file a new issue if you still see any issues in the new versions that should have the fix @DanJ210

[2020-03-26 19:30] #18730 closed

[2020-03-26 19:41] #18954 closed

[2020-03-26 19:42] tezine opened #20204 "WebApi 404 error with HttpClient"
Hello,
I'm receiving error 404 when attempting to access a REST API in the same project from a Blazor Server app. The REST API works fine if I try to access it from the browser, but I get error 404 when trying to access from a Blazor Page.
Here is my Startup.cs
[code]
Here is my Controller (TestController.cs):
[code]
Here is my Page:
[code]
It works whenever I type https://localhost:44390/api/Test

[2020-03-26 19:47] Tratcher commented on #20002
This issue is a duplicate with https://github.com/dotnet/aspnetcore/issues/18932 were we're considering how to change the default to Code.

[2020-03-26 19:50] MarekPokornyOva opened #20205 "Blazor WASM extendibility"
Hello,
I've tried to make few extensions to bring support of the features not supported OOTB. During that I found out Blazor WASM design is not well extendable - basically because it doesn't use dependency.

C# area example:
	https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Components/WebAssembly/WebAssembly/src/Hosting/WebAssemblyHost.cs#L126 - `_renderer = new WebAssemblyRenderer(Servic

[2020-03-26 20:00] chucker commented on #20145
That's fair. However, the equivalent issue will occur (albeit less likely) in non-previews, as soon as a subsequent incremental build has fewer assembly references.

[2020-03-26 20:03] mkArtakMSFT commented on #20145
We have taken that point for consideration for sure. Reopening this to make sure we don't loose track of making sure that works.

[2020-03-26 20:24] Pilchie commented on #20183
Addressing your questions as best I can:

That is our goal.

That's not actually possible for things in the shared framework - we can't have a hotfix version have different API surface area, because we don't have hotfix versions in Target Frameworks Monikers.  They aren't uniquely identifiable.  I.e. you can't put `netcoreapp3.1.4` in a `<TargetFramework>` element, and there is no reference assemb

[2020-03-26 20:53] bradygaster commented on #19994
Unless the reason for the shutdown appears in the logs I don't know for sure if there's another App Servcie-specific way of ascertaining why a site shut down. cc @btardif - could you let us know if there's a special App Service-specific shutdown interrogation ability?

[2020-03-26 20:54] mihaimyh opened #20207 "Wasm 3.2.0 Preview 3 won't build"
I've upgraded my Blazor Wasm project to latest 3.2.0 Preview 3 and I can't make it compile:

[code]

[code]

You can check this repo https://github.com/mihaimyh/LaurKyt/tree/preview3 (preview 3 branch) to reproduce it.

Thanks.

[2020-03-26 20:58] #17016 closed

[2020-03-26 21:00] #20127 closed

[2020-03-26 21:00] #17572 closed

[2020-03-26 21:02] #20185 closed

[2020-03-26 21:03] pranavkm commented on #20207
That error message makes it sound like you're using an older version of the MSBuild task. Can you try cleaning your repo and rebuilding?

[2020-03-26 21:06] blowdart commented on #20045
We're closing this issue as the behaviour discussed seems to be by design.

[2020-03-26 21:06] #20045 closed

[2020-03-26 21:06] mihaimyh commented on #20207
I tried deleting both bin and obj folders and still got the same issue but after few build retries it suddenly build.

[2020-03-26 21:07] blowdart commented on #20002
Closing as duplicate

[2020-03-26 21:09] blowdart commented on #19821
We don't provide identity provider code, that's simply not in our feature set,

[2020-03-26 21:09] #19821 closed

[2020-03-26 21:10] pranavkm commented on #20207
Closing since the issue's been resolved.

[2020-03-26 21:10] #20207 closed

[2020-03-26 21:12] wbalzer commented on #20078
@javiercn I am still having issues after upgrading to v16.5.1, sdk 3.1.201, and Preview 3.  I did follow your recommendation, which didn't help, neither on an old project, nor new project.

[2020-03-26 21:15] #20009 closed

[2020-03-26 21:18] stevebond007 commented on #17660
I am also having this issue with all 7 components in my Blazor Server Side project.
I've tried all of the above fixes (clean & delete obj/bin folders). Problem persists.
All dependencies are latest preview versions, as is VS2019.

[2020-03-26 21:29] danroth27 commented on #20078
Reopening since the SDK version looks right.

[2020-03-26 21:37] dazinator commented on #20183
Thanks for the feedback on this.

I'm not sure I follow this bit:

I'd like to use a concrete example just to make sure things are as clear as they can be,

I produce the following nuget package:
- `foo` version `1.0.0`
    - targets `netcoreapp2.1.0`
        - deps: `microsoft.extensions.dependencyinjection` version `2.1.0`

The following consumer project adopts the package
- `bar`
    - targets

[2020-03-26 21:48] mihaimyh commented on #20200
Neither those in a "code-behind" class, like FetchData.razor.cs.

[2020-03-26 22:19] SteveHindmarsh commented on #5579
Yes the Blazor paradigm makes things blisteringly simple once you start getting familiar however, if I hadn't wasted time with the incorrect documentation I may have now had exactly that. Anyhow it's allowed me to get familiar with EditContext.OnFieldChanged and the EditContext.NotifyFieldChanged event which has allowed me to program a solution. Blazor rocks!

[2020-03-26 22:42] talldaniel commented on #17660
@stevebond007
 Make sure you don't have any empty folders listed in the imports file.
95% of the time there is a actual "error" though I wouldn't think simply having an empty folder referenced should count as an error (for example) but it does.
When it is not an actual error, it should only list a few errors, in my experience.

[2020-03-26 23:34] cmyers commented on #20078
I'm also experiencing this behavior with both the authentication/register and authentication/profile paths. However, this only seems to occur when using a custom OIDC configuration with AddOidcAuthentication in Program.cs of Blazor WebAssembly (3.2.0-preview2.20160.5).

[2020-03-26 23:51] Tratcher commented on #20105
Confirmed, they were able to repro this in 19587 but it's already fixed in 19595. Let us know if you see otherwise.

[2020-03-26 23:58] mirroj opened #20216 "Health check tags are not passed to the HealthReportEntry"
### Describe the bug
When an exception is thrown in an health check (for example when the database context health check cannot reach the database), the resulting `HealthReportEntry.Tags` property is empty. Everything works fine until an exception is thrown.  If it does, it's not possible to read the `Tags` property in a custom `ResponseWriter`.

### To Reproduce
A minimal application
[code]
The pa

[2020-03-27 00:25] ajaybhargavb opened #20219 "Exit code 139 as part of RunTests.TestRunner.InstallAspNetAppIfNeededAsync"
[code]

---------------------------------
There test `Template_Produces_The_Right_Set_Of_FilesAsync(arguments: "new mvc -au MultiOrg --aad-instance https://login."..., expectedFiles: ["appsettings.Dev)` failed due to a 139 exit code.

https://dev.azure.com/dnceng/internal/_build/results?buildId=574320&view=ms.vss-test-web.build-test-results-tab&runId=18013826&resultId=120446&paneView=debug

Need t

[2020-03-27 00:26] BrennanConroy commented on #20219
Core dump available at https://dev.azure.com/dnceng/internal/_build/results?buildId=574320&view=ms.vss-test-web.build-test-results-tab&runId=18013826&resultId=120463&paneView=attachments

Also, a previous failure of the same type: https://github.com/dotnet/aspnetcore/pull/19976

[2020-03-27 01:34] mkArtakMSFT commented on #20216
Thanks for contacting us, @mirroj.
@rynowak can you have a look at this please? Thanks!

[2020-03-27 01:44] Javaman2 commented on #19581
We can get backend to Authenticate no problem. But not front end using backend to do it.

[2020-03-27 01:51] dominiclapointe opened #20220 "Blazor WASM 3.2.0-preview3 Auto-rebuild not working"
### Describe the bug
When running a new Balzor WASM core hosted the auto-rebuild function doesnt work.
Basically when changing the content of the H1 in for ex: Counter.razor then saving, absolutely nothing happen. Refreshing the browser doesn't bring the changes. I have to stop VS and restart it to see the change, like in previous version

### To Reproduce
- Create a new Blazor WebAssembly App pro

[2020-03-27 02:06] dominiclapointe opened #20221 "Blazor WASM 3.2.0-preview3 PWA regression"
### Describe the bug
When running a new Blazor WASM core hosted and PWA enabled the browser crash before the app can be fully loaded. This occur 100% of the time. Doing the exact same project without PWA enable does work.

### To Reproduce
- Create a new Blazor WebAssembly App project from VSTS choosing 'ASP.NET Core Hosted' ,'Configure HTTPS' and 'PWA'
- Press F5
- IIS start, browser open and the

[2020-03-27 02:37] nullpainter commented on #17442
I presume this is intended to be `AddScoped`, @sven5? When I naively copied and pasted this registration, I ended up with one user's session receiving the other session's user details.

[2020-03-27 02:42] slaneyrw commented on #2729
This is a mandatory part of the server side infrastructure, and we've set this header when using fetch.  The server absolutely needs to distinguish between a client-side AJAX request ( whether jQuery, XmlHttpRequest, or fetch ) and a window navigation.  We can't send back AuthN redirects on an AJAX request and the fetch API's opaque redirect system is fundamentally broken ( you can't read the redi

[2020-03-27 02:44] slewis74 commented on #20091
Users from the other domain can access file shares without troubles.

We're hitting this issue as part of moving our product from .NETFramework to .NETCore. The product is installed by our customers, and AD authentication is one of the options we've always supported. Crossing the domain boundary worked when we were using HttpListener, and in the same test environment now we're seeing HttpSys drop

[2020-03-27 03:31] ar0311 opened #20223 "Debugging Blazor WASM in VS Code leaves process behind when finished"
### Describe the bug
When debugging Blazor WASM 3.2 preview 3 in VS Code and Chrome there is a process left behind after you stop debugging that prevents a subsequent debugging run as it still has ports 5000 and 5001 reserved.

### To Reproduce

Create a new Blazor WASM project. Debug it following the instructions on the blog here:

https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-pr

[2020-03-27 04:09] Tratcher commented on #20091
The main difference between HttpSys and HttpListener is that HttpListener used user-mode authentication, where HttpSys uses kernel mode auth. That means the auth now happens under the machine account rather than the process's user account. I've seen that mean you needed to change where SPNs were configured, but I don't know what the impact would be across domains.

I suggested IIS only because it

[2020-03-27 04:28] mkArtakMSFT commented on #20200
This issue was moved to mono/mono#19339

[2020-03-27 04:28] #20200 closed

[2020-03-27 05:16] link05 opened #20224 "CS8103: combined length of user strings used by the program exceeds allowed limit"
### Describe the bug
I have 3 for each loop in cshtml that i wanted to nest all 3 loops inside  single jquery tabs and i got this issue. *sorry i updated explanation but now the code looks unstructured here.

### To Reproduce

initally:
[code]
after adding code for tabs:
[code]
I ran the app. when the cshtml code was just 3 for loops(look above at initally) and then added jquery tabs and refreshed

[2020-03-27 06:00] #19965 closed

[2020-03-27 06:00] #19845 closed

[2020-03-27 06:00] #19705 closed

[2020-03-27 06:00] #19700 closed

[2020-03-27 06:00] #19577 closed

[2020-03-27 06:01] #19556 closed

[2020-03-27 06:01] #19427 closed

[2020-03-27 06:01] #19153 closed

[2020-03-27 06:01] #18812 closed

[2020-03-27 07:05] sven5 commented on #17442
@nullpainter
Oh yes you could be right about this.
However, it seems that this is no longer needed. I'm currently working on a new Blazor project using .NET Core 3.1.2 - I didn't explicitly register the `AuthenticationStateProvider` and it's working.

[2020-03-27 07:11] davidfowl commented on #20183
What API broke you?

This will always be the case. We try to avoid breaking changes but sometimes they happen in majors. Also you're only discussing binary breaking changes, what about behavior changes? Those count here too right?

You can't, with netstandard you basically have one level, to rename the package. There's no way within the same package to multi-target or make breaking changes without

[2020-03-27 08:03] kimbell commented on #19493
I just discovered something that most likely explains why it was failing for us. We have multiple projects in a sln. Two of the projects were using different versions of Microsoft.Extensions.ApiDescription.Client.

It's still a mystery why it succeeded sometimes and never failed when building locally with VS.

[2020-03-27 08:30] AltairCA opened #20225 "AuthenticationBuilder AddScheme not registering passed options"
### Describe the bug

This is a reproduce of the bug [Issue 17539](https://github.com/dotnet/aspnetcore/issues/17539)

I think the problem is in the [Link to the source code](https://github.com/dotnet/aspnetcore/blob/release/3.1/src/Security/Authentication/Core/src/AuthenticationBuilder.cs) at line 41

### To Reproduce

I have registered a custom scheme using this
[code]
but In the Handler It won'

[2020-03-27 08:43] sabrigo commented on #20119
[code]

[2020-03-27 08:44] sabrigo commented on #20119
As you can see from the earlier screen shot, that the response does return even the status set 404, if so where/how do I find it

[2020-03-27 08:57] dazinator commented on #20183
A consumer getting errors at nuget restore time instead of potentially more exotic errors later on (binary or behavioural breakages) would help protect the consumers, ms, and package authors from debugging and issue triage exercises so I think that could be a worthy goal. I havent analysed the github issue data (or data elsewhere on the interwebs) to work out how many issues are reported for runti

[2020-03-27 08:57] aksoftware98 opened #20226 "Microsoft Office Fabric UI for Blazor"
Hello

I'm starting using Blazor WebAssembly in my projects but I actually I like the Fabric UI too much
Will it be available sometime for Blazor WASM?

[2020-03-27 09:19] davidfowl commented on #20183
This is where we can improve the overall story. I'm not convinced upper bounds should be put in place until there is a break. I wouldn't do it preemptively, it causes more pain without truly understanding if there's a breaking change that will affect the library. Breaking changes are always in the eye of the beholder.

There are 2 kinds of package and they require different techniques when dealing

[2020-03-27 10:03] dazinator commented on #20183
The type of effort that you have to expend when pre-emptively dealing with this, versus having to react to a breaking change "after the fact" is more of a known quantity in the pre-emptive case. In the pre-emptive case its easier for package authors to safeguard their time, by adding support for new LTS (or current) releases at a time they chose, and its less likely they will have to be reactive t

[2020-03-27 10:05] fileman opened #20227 "debug webassembly breake Google auth"
There are known issue with authentication?
When I try to debug webassembly Azure B2C Google auth return: "https://accounts.google.com/signin/oauth/deniedsigninrejected?client_id=........apps.googleusercontent.com&amp;as=........&amp;destination=https%3A%2F%2F.......b2clogin.com&amp;approval_state=!................&amp;oauthgdpr=....&amp;xsrfsig=.........................&amp;flowName=GeneralOAuthFl

[2020-03-27 10:20] davidfowl commented on #20183
I'm 100% against preemptive upper bounds but it's really up to you and your package consumers. We're not going to hotfix a breaking change if it was intentional. As much as we don't want to make them, we will deprecate APIs and delete them in new major versions. That alone should be enough to tell you that it will never be 100% binary compatible. On top of that we expect to make behavior changes t

[2020-03-27 10:32] xFirestorm opened #20228 "Blazor file input click not working in firefox"
### Describe the bug
Trigger a click event via Javascript on an input element of type file is not working.
When searching the web for my problem i found [this](https://stackoverflow.com/questions/59838150/blazor-file-input-click-not-working-in-firefox) stackoverflow thread.

### To Reproduce
Create an input file element in a razor component. Then create a button on the component. On the button cli

[2020-03-27 10:55] javiercn commented on #20227
@fileman thanks for contacting us.

Are you saying that it works without debug and it doesn't with debugging on?

Can you describe your scenario in detail so that we can try and help you out?

[2020-03-27 10:56] javiercn commented on #20226
@aksoftware98 thanks for contacting us.

We'll look into this issue and get back to you.

[2020-03-27 10:56] javiercn commented on #20226
/cc @danroth27

[2020-03-27 10:58] javiercn commented on #20224
@link05 thanks for contacting us.

We'll look into this issue and get back to you.

[2020-03-27 10:58] javiercn commented on #20223
@ar0311 thanks for contacting us.

@SteveSandersonMS any ideas?

[2020-03-27 11:02] SteveSandersonMS commented on #20223
Let's check with @NTaylorMullen whether the VS Code "stop debugging" gesture is meant to terminate the application process.

[2020-03-27 11:15] pawod opened #20229 "Cancellationtoken not Triggering when using IIS"
I'm working on a ASP.NET Core web application running on regular `net461` (also tried `net48`), where I defined an HTTP endpoint like this:

[code]
As the title already states, I can't make the `cancellationToken` trigger a `TaskCanceledException` upon initiating a refresh on browser side, while the initial request is still being processed (Chrome devtools displays these events as cancelled reques

[2020-03-27 11:17] dazinator commented on #20183
Ok - yep understood!

I don't think anyone (certainly not me) is suggesting that things should always be 100% binary compatible even between new major versions that would be insane nonsense, preventing the evolution of software!! :-)

Breaking changes I think are welcomed when its done in a controller manor, and this is where semver spec has been really fundamental to the point were many developer

[2020-03-27 11:18] fileman commented on #20227
It's ok with Ctrl+F5, but when I use F5 to Debug from VS:
"Couldn't sign you in
This browser or app may not be secure.
Try using a different browser. If you’re already using a supported browser, you can refresh your screen and try again to sign in."

Microsoft Visual Studio Enterprise 2019 Preview
Version 16.6.0 Preview 2.0

[2020-03-27 11:27] Tratcher commented on #20119
Remove `   app.Run(context => Task.CompletedTask);`
This causes every request to be considered handled with the default 200 status rather than reach the default end of the pipeline that changes the status to 404.

[2020-03-27 11:51] JohnGalt1717 commented on #19581
Here's the only way that I've gotten CORS to Accept Credentials with V3.1:

[code]

Then on your controllers add:
[EnableCors("ControllerPolicy")]

At the top.

And no setting as the default policy doesn't work, especially with SignalR. You have to have the annotation in my experience.

Anything else just doesn't work and the old ways in .NET Core 2.2 don't at all.

[2020-03-27 11:57] mihaimyh commented on #20220
I've also noticed this issue.

[2020-03-27 12:22] unaizorrilla opened #20231 "Configure OidcProviderOptions using IConfiguration on Blazor Wasm"
## IConfiguration can't be used when configuring the host builder

There is no way to configure  AddOidcAuthentication using the IConfiguration of blazor wasm

[code]

Ideally we need the IConfiguration information to put this configuration values on appsettings.json or appsettings.development.json etc but right now the only way is hardcoded this parameters on the Program.cs

### Further technical

[2020-03-27 13:05] mihaimyh opened #20232 "[Blazor WASM PWA] Javascript debugger root session' has exited with code -1"
I am trying to test the new debugging experience with WebAssembly 3.2.0 Preview 3, but for some reason a fresh File > New Blazor WASM project is not even starting.

When I press F5 I get the following output in VS output window:

[code]

[code]

[2020-03-27 13:06] dlr1 opened #20233 "Debugging Blazor WASM visual studio"
After upgrading VisualStudio to latest preview version and installing latest sdk, creating new project , debugging works fine.

for existing project followed instructions in the blog and added
 "useWebAssemblyDebugging": true,
"inspectUri": "{wsProtocol}://{url.hostname}:{url.port}/_framework/debug/ws-proxy?browser={browserInspectUri}"

Can't get debugging to work. Attached is the log file.

[vsco

[2020-03-27 13:08] MiroKov commented on #20030
1. Created a new [repo](https://github.com/MiroKov/WebAppRepo/commits/master). Here in commits you can see all the changes to the files. First commit has the original files.
2. Register new user:
![image](https://user-images.githubusercontent.com/18582187/77758623-95f92e80-7033-11ea-96f9-5ddbb088606d.png)
3. Apply Migrations
![image](https://user-images.githubusercontent.com/18582187/77758681-b0cb

[2020-03-27 13:18] breggles commented on #18954
Um... how was this answered? I took your point that specifying roles means you shouldn't rely on the default policy. However, my original point remains that there is no way to specify multiple authentication schemes when also using AuthorizeAttributes with Roles.

[2020-03-27 13:21] mihaimyh commented on #20232
Investigating it further it seems that only PWAs got this issue, if PWA is not checked when creating a new project, debugging  works.

[2020-03-27 13:21] dominiclapointe commented on #20232
That seem like the same issue than mine #20221 . It seem like that issue is caused by PWA.

[2020-03-27 13:22] Julien-Marpault opened #20234 "Asp Net Core Validation Summary"
Validation Summary offers three choices:
All
ModelOnly
None
Like shown here
![image](https://user-images.githubusercontent.com/23618436/77759775-95619780-7035-11ea-838d-fc1072029eb9.png)

What about a fourth choise like "AllButModel"

If I choose Model I don't have errors not related to Model, and If I use asp-validation-for Error messages a double.

If I choose All I have messages not related to

[2020-03-27 13:24] MarkStega opened #20235 "Can somebody please inform the Visual Studio Team of these issues?"
### Describe the bug
* On VS16.6P2 can you add a razor component to a project you get to a window "Waiting for Intellisense to finish initializing...You can continue working." which does not go away. If you close that window, do a rebuild, then you can open the new file.

* Trying to log into VS to give feedback results in "We could not refresh the credentials for the account. The method or operat

[2020-03-27 13:29] javiercn commented on #20235
@MarkStega thanks for contacting us.

The best way for you to report this issue is through the visual studio report an issue dialog. See [instructions](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019) here.

[2020-03-27 13:30] javiercn commented on #20233
@dlr1 thanks for contacting us.

@SteveSandersonMS any thoughts?

[2020-03-27 13:31] javiercn commented on #20231
@unaizorrilla thanks for filing the issue.

We'll discuss it within the team and update it accordingly.

[2020-03-27 13:31] mihaimyh commented on #20233
I can confirm this, existing projects cannot hit break points after following instructions provided in @danroth27 blog post.

[2020-03-27 13:32] mihaimyh commented on #20232
@dominiclapointe Yes, this seems the same behavior.

[2020-03-27 13:36] jeanpoulin commented on #19443
Got the same issue on March 27 and resolved it by updating my visual studio 2019 to the latest version.

[2020-03-27 13:46] MarkStega commented on #20235
@javiercn Normally I would do that, but please look at the second bullet point again. They apparently broken the logon needed to get to the issue dialog.

[2020-03-27 14:05] MichaelPeter opened #20236 "Blazor Visual Studio Debugging PWA Crashes Browser"
### Describe the bug
After installing the Latest Visual Studio 16.6 Preview 2 and trying blazor debugging with a freshly
created aspnetcore hosted Blazor wasm app I tried Debugging:

In My First Project I created a Blazor App Project, AspNet Core hosted and Progressive web App.

After starting the Debugger for Chrome or Edge, the Browser crashes when loading the page.

I tried this again without t

[2020-03-27 14:10] dominiclapointe commented on #20232
What is weird i did create a project enabling PWA, remove the link in index for the manifest file and the service-worker.js and its still fail. maybe an issue in the template?

[2020-03-27 14:51] mkArtakMSFT commented on #20236
Thanks for contacting us.
This is a known limitation which we have listed in the `Known limitations` list of the `Blazor 3.2 Preview 3 Release announcement` [blog post](https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-3-release-now-available/#known-limitations).

We track the fix for this as part of https://github.com/mono/mono/issues/19218

[2020-03-27 14:51] #20236 closed

[2020-03-27 14:53] mkArtakMSFT commented on #20232
Thanks for contacting us.
This is a known limitation which we have listed in the `Known limitations` list of the `Blazor 3.2 Preview 3 Release announcement` [blog post](https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-3-release-now-available/#known-limitations).

We track the fix for this as part of https://github.com/mono/mono/issues/19218

[2020-03-27 14:53] #20232 closed

[2020-03-27 14:53] mkArtakMSFT commented on #20221
Thanks for contacting us.
This is a known limitation which we have listed in the `Known limitations` list of the `Blazor 3.2 Preview 3 Release announcement` [blog post](https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-3-release-now-available/#known-limitations).

We track the fix for this as part of https://github.com/mono/mono/issues/19218

[2020-03-27 14:53] #20221 closed

[2020-03-27 15:00] scolapicchioni opened #20237 "Debugging a Blazor app with an implicit flow causes a browser crash"
Hello,

I'm following the instructions on https://docs.microsoft.com/en-gb/aspnet/core/security/blazor/webassembly/standalone-with-authentication-library?view=aspnetcore-3.1

In my Program.cs I configure the options as following:

[code]

When I click on the Login button, I get redirected to the demo server of IdentityServer4. I insert alice / alice.
I can see for a millisecond that the page of my

[2020-03-27 15:00] #20188 closed

[2020-03-27 15:00] #20186 closed

[2020-03-27 15:15] miroslavp opened #20238 "Regex.IsMatch(String input) throws ArgumentNullException inside DebugProxyLauncher"
### Describe the bug
I've upgraded my **Blazor Webassembly** project from **3.2 Preview 2** to **Preview 3** and if I put
`"inspectUri": "{wsProtocol}://{url.hostname}:{url.port}/_framework/debug/ws-proxy?browser={browserInspectUri}"`
 inside **launchSettings.json** file I get this exception from my **Visual Studio Community 2019 Preview Version 16.6.0 Preview 2.0** when I run the app

`System.Arg

[2020-03-27 15:17] mrmartan opened #20239 "Authentication.AzureAD.UI Options for Microsoft identity platform OIDC "/v2.0""
### Is your feature request related to a problem? Please describe.

I am trying to use AddAzureAD and AddAzureADBearer with `login.microsoftonline.com/{tenant}/v2.0/` and while I know I have to use it with `/v2.0/` I have expected the library to handle that. I have found out it does not so went looking for an option for it and I failed. [Samples](https://github.com/dotnet/aspnetcore/tree/master/sr

[2020-03-27 15:31] PurdueGuy531 opened #20241 "Unit testing a Razor Page Method with a return Partial in it blows up test"
**Something's broken in the Razor Page Model's 'Partial' helper method.**
Using ASP.NET Core 3.1.1 RazorPages.

PROBLEM:
I have a razor page method I'm unit testing with xunit. The method has this signature:
public async Task< IActionResult > OnPostAsync()

And it ultimately ends with:
**return Partial("ViewName",myModelClass);**

This unit test fails at the partial call. I also attempted to recre

[2020-03-27 15:38] SteveSandersonMS opened #20242 "Blazor WebAssembly debugging "not enabled" issue in preview 4 builds"
In our latest `blazor-wasm` sources, debugging no longer works.

On investigation, I see that `blazor.boot.json` files now always specify `"pdb": null` instead of listing the PDBs. This means if you press shift+alt+d, instead of opening a debugger tab, it now logs a message saying that the application was not built with debugging enabled.

Repro:

 * `cd src\Components\WebAssembly\testassets\Stand

[2020-03-27 16:00] #18687 closed

[2020-03-27 16:04] zbecknell opened #20243 "Blazor Wasm: VS debugging does not work for Razor Class Library"
My project uses a UI Razor Class Library that contains all of our `.razor` files.  I haven't been able to debug our project in Visual Studio, so I recreated the scenario starting with the default template.

I first set a breakpoint in `FetchData.razor`.

**Before moving into the RCL:**

The breakpoint hits as expected.

**After moving into the RCL:**

The breakpoint is not hit.

---

I've created

[2020-03-27 16:28] cado1982 commented on #11208
I can take a look at this one if you still need it. I have some questions.

- Should the `BadHttpRequestException` be moved from Kestral to the `Microsoft.AspNetCore.Http.Abstractions` project in the `Microsoft.AspNetCore.Http` namespace?
- The Kestral version of the existing exception has some dependencies that aren't present in `Microsoft.AspNetCore.Http.Abstractions`. Should they be moved also

[2020-03-27 16:31] NTaylorMullen commented on #20223
Yup it should. @ar0311 could you provide your `launch.json` contents?

[2020-03-27 16:32] HaoK commented on #18954
There's nothing preventing you from specifying multiple schemes and requiring a specific role on the default policy, just pass the schemes to the constructor and call RequireRole on the policy builder.

[2020-03-27 16:33] blowdart commented on #20239
AAD has not been updated to V2 as yet, this will be part of 5.0.

v1 is sufficient for most people right now, and it does still work.

[2020-03-27 16:40] link05 commented on #20224
I worked around the issue by making my model as lean as possible (i got rid of extra objects i did not need). So i think it was b/c i was passing too much info into the view. But this was indeed the case, then it still does not explain why the compiler would be ok with outputting 3 massive list but not okay with putting them inside 1 tab.

[2020-03-27 16:53] Carl-Hugo opened #20246 "[Blazor wasm] Convert string to Raw HTML"
### Is your feature request related to a problem? Please describe.

It would be great to have a built-in way to convert a string to raw HTML in Blazor components.

### Describe the solution you'd like

This could be as simple as this (well that's my workaround):

[code]

Then I feel the usage to be elegant enough, like:

[code]

[2020-03-27 16:58] DouglasRiddle commented on #17467
I stumbled across a work-around by adding .RequireAuthorization() to both endpoints.

[code]
Inspired by https://github.com/dotnet/aspnetcore/issues/4656#issuecomment-605012014

[2020-03-27 17:00] #20182 closed

[2020-03-27 17:00] #20052 closed

[2020-03-27 17:11] chucker opened #20247 "[blazor][wasm] VS debug timeout is too low or counted too early"
### Is your feature request related to a problem? Please describe.
There appears to be a timeout of 30s before the Web Sockets debug proxy gives up:

![](https://files.gitter.im/aspnet/Blazor/VrGR/image.png)

That sounds like a lot, but the way this seems to work currently is that those 30s count the following aspects:

1. building the solution
1. launching the regular VS debugger
1. launching the

[2020-03-27 17:14] ahazelwood opened #20248 "Identity Server Profile Types of API, IdentityServerJwt not supported even though defined."
### Describe the bug
The documentation: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.1  and code for: Identity/ApiAuthorization.IdentityServer/src/Configuration/ApplicationProfiles.cs
specifies that a Profile Type of:  API is supported when configured through appsettings.json.  However this throws a exception of:
[code]
### To Re

[2020-03-27 17:14] bidianqing opened #20249 "Can not get expectation JsonSerializerOptions"
[code]
![image](https://user-images.githubusercontent.com/12196280/77781912-55c89900-7091-11ea-957b-307d462c1855.png)

[2020-03-27 17:19] bidianqing commented on #20249
oh, Sorry! I solved the problem

[2020-03-27 17:19] #20249 closed

[2020-03-27 17:19] gmnenad commented on #8241
This is definitely needed.

We usually need location relative to element where we put 'onmouse' event , to determine at what part of that element user actually clicked.

Currently we either need to call JSinterop on every click ( element.getBoundingClientRect() or similar), or we need to try and track whenever that BoundingClientRect would change, which is hard ... it can change on resizes or scro

[2020-03-27 17:27] MiroKov commented on #20030
I am closing this issue, since it was an error on my part.
I failed to realize that there was a link that I needed to click, namely, to confirm my account.
Thought it was some general info.

[2020-03-27 17:27] #20030 closed

[2020-03-27 17:41] breggles commented on #18954
Yes, but I want to be able to specify different roles for different actions/controllers, and the easiest way to do that is via the AuthorizeAttribute; not having to create lots of boilerplate policies.

[2020-03-27 18:01] JunTaoLuo commented on #11064
This was re-added by https://github.com/dotnet/aspnetcore/pull/20069

[2020-03-27 18:01] #11064 closed

[2020-03-27 18:23] HaoK commented on #14503
@ajcvickers so I looked into this, and when we added the MaxLengthForKeys, we applied them to most of the strings, but not the primary keys themselves, so they still have the default lengths.  We could apply the max key length to the primary keys too, is there any downside to doing that (UserId and RoleId)?

[2020-03-27 18:26] ajcvickers commented on #14503
@HaoK Only that is is a schema change.

[2020-03-27 18:32] HaoK commented on #14503
So basically not worth at this point?  They can always hand edit the migration to change all the lengths  to 256 as a workaround right?

[2020-03-27 18:37] anurse commented on #14427
Pre-triage notes: This doesn't feel like something we can fit in 5.0 now. Suggest backlog and `help wanted`?

[2020-03-27 18:37] ajcvickers commented on #14503
@HaoK Yes, it's probably better for people to change the column length themselves, either directly in the migration, or by changing the EF model and scaffolding a new migration.

[2020-03-27 18:37] anurse commented on #13443
Pre-triage notes: This also feels like it falls in the bucket of things we proposed for 5.0 but don't have capacity for now.

[2020-03-27 18:38] anurse commented on #11821
Pre-triage notes: Yeah, backlog this, we aren't going to get to it in 5.0. It was explicitly cut in the costing docs I had earlier.

[2020-03-27 18:39] halter73 commented on #11208
Yes

@cado1982 The internal methods and properties on Kestrel's BadHttpRequestException does not merging these types any easier. I would not keep any of the internal Throw or GetException methods on the shared type. Those should be moved to a new internal static class in Kestrel.

The merged BadHttpRequestException should be really simple. It should be sealed, have a single StatusCode property, an

[2020-03-27 18:40] HaoK commented on #14503
Sounds good, closing this as won't fix

[2020-03-27 18:40] #14503 closed

[2020-03-27 18:42] davidfowl commented on #13443
@anurse Can we push it to a later preview? The cost is trivial and we can potentially get @vicancy to make the change.

[2020-03-27 18:44] anurse commented on #20229
@pawod FYI .NET Core 2.2 is [end-of-life and no longer supported](https://devblogs.microsoft.com/dotnet/net-core-2-2-will-reach-end-of-life-on-december-23-2019/). We recommend upgrading to 3.1, which is a long-term servicing release. Or if you are still on .NET Framework, you should remain on 2.1 (the previous long-term servicing release). See the full [.NET Core support policy](https://dotnet.mic

[2020-03-27 19:05] ajaybhargavb opened #20253 "Make VSCode invoke the language server for <text> tag auto completion"
After https://github.com/dotnet/aspnetcore/issues/19808 is done, we'll have onTypeFormatting support for text tag completion on the server. VSCode needs to switch to using that.

[2020-03-27 19:50] cado1982 commented on #11208
@halter73 Thanks for guidance. I'll get a PR prepared for review.

[2020-03-27 19:50] halter73 commented on #20163
This was in the Libuv.FunctionalTests project. It appears to have timed out waiting for the app func to start. I'm not sure what we can really do other than expand the timeout or stop running libuv functional tests.

https://github.com/dotnet/aspnetcore/blob/e65408a36c2fdbcf1b82eda0afc18828396c2426/src/Servers/Kestrel/test/FunctionalTests/RequestTests.cs#L509-L527

[2020-03-27 19:54] captainsafia commented on #18875
@RemiBou Thanks for taking the time to craft this detailed bug report. I was able to reproduce the issue that you mentioned on both server-side Blazor and on Blazor WebAssembly.

I'm updating the issue title to reflect the real problem (exception not thrown when JSInterop call times out).

I'll start digging into this now.

[2020-03-27 19:59] halter73 commented on #20163
Maybe we can skip on macOS. I cannot get the server side logs for this failure, but libuv has long been flaky on macOS. Timeout on connect without libuv logs ever showing a new connection arriving is how the flakiness usually exhibits itself.

[2020-03-27 20:05] shirhatti commented on #20174
Triage decision: The directory browser middleware is primarily intended for diagnostic scenarios. Unfortunately, we don't plan to do this. This is a great option to author a good third-party Directory Browser.

[2020-03-27 20:05] #20174 closed

[2020-03-27 20:11] #20119 closed

[2020-03-27 20:12] anurse commented on #20119
Closing this as we believe the question has been answered. Let us know if you have further questions!

[2020-03-27 20:15] vidir-svanberg commented on #19349
Did you set BlazorLinkOnBuild to false in the project file ,<BlazorLinkOnBuild>false</BlazorLinkOnBuild> ?

I used Add Service Reference ..., Connected Services ... to generate the client side code.

var client = new  XClient( XClient.EndpointConfiguration.X );
// call OpenAsync() not Open(), Open() hangs
await client.OpenAsync().ConfigureAwait( false );
return await client.???( ... );

[2020-03-27 20:15] anurse commented on #20091
@Tratcher Sounds like we don't believe there's actionable work on our side here right (since it's in the OS)? I'm going to put this in Discussions for now. If something actionable comes up, we can engage the necessary teams or track some work on our side.

[2020-03-27 20:16] shirhatti commented on #20164
@JamesNK This seems related to a test you just added. Mind taking a look?

[2020-03-27 20:16] shirhatti commented on #20164
https://github.com/dotnet/aspnetcore/pull/17158/files

[2020-03-27 20:18] shirhatti commented on #20169
@JamesNK Do you have time to take a look at this?

[2020-03-27 20:22] shirhatti commented on #19969
@EngineerTryingToCode Any luck sharing a repro?

[2020-03-27 20:23] anurse commented on #20194
Can you share you Program.Main code? I think the COMException is happening just because of the timeout elapsing, it's not the cause of the elapse. If your app takes longer than 120 seconds to start, ANCM will consider it as failing and abandon it (and attempt to restart). That would cause the `UseIIS` call to fail (since IIS has abandoned the app).

[2020-03-27 20:26] shirhatti commented on #17370
It seems like there is workaround when using NLog in the linked thread.

As for the benign error from Application Insights, AI has been updated such that this is no longer an issue.

Please feel free to open a new issue if any problems persists

[2020-03-27 20:26] #17370 closed

[2020-03-27 20:30] shirhatti commented on #15104
@JamesNK @jtattermusch How do you folks feel about this? Do we need this in Kestrel?

[2020-03-27 20:33] shirhatti commented on #15279
Triage decision: This would require a new Server Feature or a breaking change to an existing feature. Probably not happening in 5.0

[2020-03-27 20:37] JamesNK commented on #15104
Maybe. I looked at pings a few weeks ago and had some questions for Jan that have been answered. I'll look at it again.

[2020-03-27 20:40] halter73 commented on #15019
We have static helpers to create IOptions and ILogger factory so adding new constructors isn't critical. The other stuff like possibly exposing a public memory pool factory option, and supporting other EndPoint types can be done later.

[2020-03-27 20:40] #15019 closed

[2020-03-27 20:42] shirhatti commented on #14919
We'll leave this issue open to solicit feedback. If nobody really wants this, we won't do it.

[2020-03-27 20:46] shirhatti commented on #14997
@blowdart We're considering this for 5.0. Thoughts?

[2020-03-27 20:46] shirhatti commented on #14997
On older OSes this change would allow TLS 1.0

[2020-03-27 20:47] blowdart commented on #14997
Hurrah :)

And yes, I know, we don't have an exclusionary api in windows unfortunately, but hopefully the older OSes are configured correctly ... we'd provide instructions in release notes etc.

[2020-03-27 20:49] jhudsoncedaron commented on #14997
@shirhatti : Yeah it would. There should have been an OS patch out to change that already but that's water under the bridge at this point.

If you don't want to do it, you could just give an API to tell us what protocols are actually enabled, but I found this has its own ugliness because the code should be able to pick up TLS 1.4 from the SSL provider with no changes to .NET Core at all. Right now

[2020-03-27 21:05] JamesIrish commented on #20194
Ah thanks Andrew, I hadn't looked at it that way around at all and that seems very possible!  Our Program.cs doesn't do much besides setup Serilog and call CreateHostBuilder however our Startup.cs is a different story with data protection, session, etc. depending on MongoDb - I'll add more logging for the startup process as I'm sure that will highlight something.  Thanks for the input, will close

[2020-03-27 21:05] #20194 closed

[2020-03-27 21:15] miroslavp commented on #20238
So, the exception above is copied from VisualStudio error dialog box. I also found another exception that is logged in the EventLog. Here it is:

Application: dotnet.exe
CoreCLR Version: 4.700.20.11803
.NET Core Version: 3.1.3
Description: The process was terminated due to an unhandled exception.
Exception Info: Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException: The filename, d

[2020-03-27 21:23] miroslavp commented on #20233
Not sure if my [issue #20238 ](https://github.com/dotnet/aspnetcore/issues/20238) is related to this one, but the vscode-chrome-debug.txt looks very similar

[2020-03-27 21:25] blowdart commented on #20248
@javiercn this is in your extensions, any idea?