[2022-11-25 11:44] nkast commented on #45274
added TestStructInt2(), TestStructFloat1() and TestStructFloat2().

In TestStructFloat1, instead of a reference to the Float1 struct
we are getting the value 0x4228 0000.  0x4228 is the binary form of 42.0 in f32bit.
The system is passing down the raw DWORD value of Float1.Begin.

@kg, All the issues you mention make sense. Hopefully I can future prof the library before wasm64 and threading is add

[2022-11-25 12:03] Blackclaws opened #45279 "Blazor Webassembly Dev Host returns 404 on URL with dot in it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using a path parameter, the blazor wasm dev host returns 404 not found when the path parameter is an urlencoded url.

Example:

Create a blazor wasm project which is hosted on port 9443 and navigate to the page:
[code]

### Expected Behavior

Blazor Wasm application loads and parses the

[2022-11-25 12:04] kg commented on #45274
This sounds like it could be a calling convention issue, then. Because it's a struct and not a class, it may be permissible to pass the struct by-value in a 4-byte or 8-byte value argument instead of passing it by-reference as an address, though it is certainly surprising for it to happen in this scenario.

Are you running these tests with AOT enabled? It would be good to know whether it reproduce

[2022-11-25 13:13] Fabster1993 commented on #39104
I have the exact same issue. Flow is stuck on "CompletingLogOut". This seems related to [this](https://github.com/dotnet/aspnetcore/issues/43293). For me a fix was, to disable trimming for the app or just disable trimming for the auth assembly:

`    <ItemGroup>

        <TrimmerRootAssembly Include="Microsoft.AspNetCore.Components.WebAssembly.Authentication" />
    </ItemGroup>`

[2022-11-25 13:32] MarcelDevG commented on #8393
It's not just the scrolling to the html element, handling of the routing, but also synchronisation with the navigation.
When the user hit back, it returns where it came from on the same page.
But indeed : "How has this still not been addressed?"

[2022-11-25 13:34] fardarter commented on #8393
@MarcelDevG I take the point but every JS framework has figured this out. That's who Blazor is competing with.

[2022-11-25 13:36] MarcelDevG commented on #8393
Why do I have to pull in (yet another JS framework) to fix this...

[2022-11-25 13:59] ziaulhasanhamim opened #45281 "Package not found error Blazor hosted wasm app while docker build"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Dockerizing a wasm app leads to a weird error.

[code]
This problem only happens with an asp.net core app when it is hosting blazor wasm app.

The docker file I used for containerizing -
[code]

### Expected Behavior

If I remove `--no-restore` from publish command then it works fine. But It'

[2022-11-25 14:03] AMUCOMO opened #45282 "Sould I catch OperationCanceledException in OnParametersSetAsync/LifeCycle methods when cancelling Tasks inside it?"
## Summary
I have a question:
[Sould I catch OperationCanceledException in OnParametersSetAsync/LifeCycle methods when cancelling Tasks inside it?](https://stackoverflow.com/questions/74573855/sould-i-catch-operationcanceledexception-in-onparameterssetasync-lifecycle-metho)

## Motivation and goals
The [docu](https://learn.microsoft.com/en-us/aspnet/core/blazor/components/lifecycle?view=aspnetcore

[2022-11-25 14:15] Fabster1993 commented on #44974
Totally agree. It will be possible to see Null Reference Exception without any compiler warning. IMHO, it should generate at least a warning if one uses required keyword on a blazor component parameter.

[2022-11-25 15:31] javiercn commented on #45281
@ziaulhasanhamim thanks for contacting us.

Can you try release with a capital `R`? I believe configurations are case sensitive.

[2022-11-25 15:44] javiercn commented on #45281
@ziaulhasanhamim thanks for the additional details.

On a second look, it might be due to how you are copying the files. I fired up a container instance, created a new project, restored and published without problem, so I suspect something in your docker instructions is causing the issue.

Maybe you can try and run your container, attach to it and see if you are missing files from your copy from o

[2022-11-25 15:54] ziaulhasanhamim commented on #45281
@javiercn are you using the exact same docker file of above with 'dotnet new blazorwasm --hosted' template? Because simple changes in docker make it work fine.

For doing dotnet restore after coping all the files just work fine for me.
[code]

If it is not a framework issue then why it only happens with blazor wasm projects? Everything else works fine without even changing the docker file.

[2022-11-25 15:59] eduherminio opened #45283 "`Microsoft.AspNetCore.RateLimiting` latest package is `7.0.0-rc.2.22476.2`"
### Describe the bug

Latest `Microsoft.AspNetCore.RateLimiting` package [in NuGet](https://www.nuget.org/packages/Microsoft.AspNetCore.RateLimiting) is `7.0.0-rc.2.22476.2`.

### Expected Behavior

I was expecting Microsoft.AspNetCore.RateLimiting v7.0.0 to exist.

Are there plans to release a stable version for it?

[2022-11-25 16:05] ziaulhasanhamim commented on #45281
This is the exact wasm and asp.net core project that is producing this issue https://github.com/ziaulhasanhamim/BlazorWasmContainerApp

[2022-11-25 16:18] EricEzaM commented on #39321
I added `@attribute [AllowAnonymous]` to my `_Host.cshtml`, which stopped the redirect but now the connection is broken between the server and the client due to this JS error:
![image](https://user-images.githubusercontent.com/41730826/204023598-8c7132e4-8e35-414d-aa5d-4406ce490090.png)

[2022-11-25 16:27] davidfowl commented on #45277
@EikeSchwass Can you share your configuration here to help future developers 😄 ?

[2022-11-25 16:31] davidfowl commented on #45283
@eduherminio No, it's part of the shared framework in ASP.NET Core. There's no longer a package for it.

[2022-11-25 16:50] eduherminio commented on #45283
Understood, thanks @davidfowl !

[2022-11-25 16:50] #45283 closed

[2022-11-25 16:55] vargaz commented on #45274
The calling convention used by the runtime was changed in 7.0 to conform to the wasm calling convention spec:
https://github.com/WebAssembly/tool-conventions/blob/main/BasicCABI.md
According to the spec, small structs which fit in one integer are passed by value.

[2022-11-25 17:32] JonAnders opened #45285 "Recognize FromQuery.Name when generating URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Consider the following action method:
[code]

A call to `Url.Action("Index", new QueryParams { Foo = "baz" });` returns `/example?Foo=baz`. This is a URL that doesn't work, as the correct query parameter name is `bar`.

### Describe th

[2022-11-25 17:33] EikeSchwass commented on #45277
@davidfowl sure!

We used [Microsoft.AspNetCore.ConcurrencyLimiter](https://www.nuget.org/packages/Microsoft.AspNetCore.ConcurrencyLimiter/6.0.11)

In our Startup.cs:
[code]
and our appsettings.config:
[code]
However, this value will most likely change as we do more testing. Nevertheless is did fix the issue for our TEST environment.
Notice that the value does get multiplied by `Environment.Proces

[2022-11-25 17:58] shaynevanasperen commented on #45215
I've just managed to capture it failing immediately upon startup. I'm not sure if this is the same issue but it smells like it could be related. This was with a version of the code where all the background services are disabled, but still using `Serilog` and `LettuceEncrypt`.

The log output is as follows:
[code]

Here is a screenshot of my Parallel Stacks when opening the `.dmp` file:
![image](ht

[2022-11-25 18:11] davidfowl commented on #45215
Nothing there looks inherently bad.  When you get into this state, do new requests get stuck? Do requests to specific URLs get stuck?
You mentioned this

Can you pinpoint the requests that are failing? If it's only the https requests, then that might be a clue that its lettuce encrypt.

[2022-11-25 18:12] javiercn commented on #44542
I looked at the Dump and it does not contain any circuit. The dump needs to be captured at the time the exception is happening. Otherwise, we are not able to infer what might be going on.

[2022-11-25 20:00] #43752 closed

[2022-11-25 20:00] #42058 closed

[2022-11-25 20:29] davidfowl commented on #45277
I want to turn this into guidance.

[2022-11-25 20:30] davidfowl commented on #45277
@BrennanConroy this is a great use of the new rate limiting APIs

[2022-11-25 20:47] shaynevanasperen commented on #45215
No requests seem to be able to make it into my app from "outside", meaning by using the public DNS name. But requests from "inside" seem to work fine.

To be clear: "outside" means Browser requests to ANY application URLs starting with `https://my.domain.net/`. The same goes for HTTP, where the URL starts with `http://my.domain.net/`. If the HTTP requessts _did_ make it to my application, then it

[2022-11-25 21:27] kg commented on #45274
I'm not sure we can make this work how it used to given the calling convention change. As a workaround, you can put padding at the end of your structs I think. It's still unclear to me why GetElementById would have worked before given that it's not passing a struct. Let us know if padding doesn't work.

[2022-11-25 21:55] martincostello commented on #45278
Using 7.0.x packages isn't supported with .NET 6: https://github.com/dotnet/aspnetcore/issues/45149#issuecomment-1320517662

[2022-11-25 22:00] #45136 closed

[2022-11-25 22:08] ericbrunner commented on #44981
Got it working but, had to add the nuget package `Microsoft.AspNetCore.Components.WebAssembly.Authentication` only to overcome that issue.

[code]

[2022-11-25 22:12] davidfowl commented on #45215
Disable https completely and see if you can reproduce the issue

[2022-11-25 23:37] brianmed commented on #35077
@MartyIX You could compile your own Kestrel from aspnetcore. The IsPackable .csproj PropertyGroup Element will need adjusting on a few of the packages.  I also commented out hostBuilder.UseQuic in WebHostBuilderKestrelExtensions.cs and removed Libuv and Transport.Libuv and Transport.Quic from Kestrel.slnf.

If you want a full patch and Maui example (tested in maccatalyst) please let me know.

[2022-11-26 01:09] adityamandaleeka commented on #45017
@RichardD2 I just removed the tag that was causing that.

[2022-11-26 05:59] VenkateshSrini opened #45287 "gRpc transcoding is not working- unable to find annotation.proto and http.proto are thrown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm trying to do gRpc Transcoding with .NET 7. I'm following the article [here](https://learn.microsoft.com/en-us/aspnet/core/grpc/json-transcoding?view=aspnetcore-7.0). I'm also referring to the sample implementation [here](https://github.com/grpc/grpc-dotnet/tree/master/examples/Transcoder)

[2022-11-26 07:09] #45276 closed

[2022-11-26 09:02] arthurdeletter opened #45288 "Owning a non Entity type in an entity configuration gives unclear error message."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

### Owning the Email property (is a string) gives following error:
<img width="725" alt="image" src="https://user-images.githubusercontent.com/64066660/204080780-ee2210d5-03cc-400f-80bb-3ea46066533b.png">

System.InvalidOperationException: "No suitable constructor was found for entity type 's

[2022-11-26 09:19] EricEzaM commented on #39321
So I removed `options.FallbackPolicy = options.DefaultPolicy;` and then it all worked OK. 🤷

[2022-11-26 09:36] MetaHex commented on #39321
@EricEzaM
If you removed fallback policy, of course it will work.

The ask is for the use case that most site requires login, but we also needs some pages that allows anonymous...

[2022-11-26 09:51] EricEzaM commented on #39321
Ah, my apologies, I misunderstood the usage of the Fallback policy.

I agree the problem is frustrating as you do expect the allow anonymous attribute to work with the template as is.

[2022-11-26 10:25] darena-pjindal opened #45289 "Blazor WASM InteractiveRequestOptions is ignored when deployed to Azure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have created a default blazor wasm project in .net7 with authentication. I added the InteractiveRequestOptions with a returnURL to counter page. This works with no issues locally. However, if I deploy this to Azure web app (hosted or not hosted), the interactiverequestoptions are being comp

[2022-11-26 11:10] javiercn commented on #45289
@darena-pjindal thanks for contacting us.

This is a known issue with regards to trimming in .NET 7.0. We have addressed the issue in 7.0.1 which will be available in a few weeks. In the mean time, you can disable trimming for the assembly. See https://github.com/dotnet/aspnetcore/issues/44973#issuecomment-1312058110 for details.

Dupe of https://github.com/dotnet/aspnetcore/issues/44973

[2022-11-26 11:10] #45289 closed

[2022-11-26 12:01] ketilbrunequinor opened #45290 "dotnet-dotcover ... dotnet run in a blazor wasm project does not cover clientside code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

command run
dotnet-coverage collect -o "D:\output-dotnet-coverage.xml" --output-format xml dotnet run

Building...
info: Microsoft.Hosting.Lifetime[14]
      Now listening on: https://localhost:7052
info: Microsoft.Hosting.Lifetime[14]
      Now listening on: http://localhost:5052
info: Micro

[2022-11-26 12:01] #45290 closed

[2022-11-26 12:06] PlatypusK opened #45291 "dotnet-dotcover ... dotnet run in a blazor wasm project does not cover clientside code"
command run
dotnet-coverage collect -o "D:\output-dotnet-coverage.xml" --output-format xml dotnet run

Building...
info: Microsoft.Hosting.Lifetime[14]
Now listening on: https://localhost:7052/
info: Microsoft.Hosting.Lifetime[14]
Now listening on: http://localhost:5052/
info: Microsoft.Hosting.Lifetime[0]
Application started. Press Ctrl+C to shut down.
info: Microsoft.Hosting.Lifetime[0]
Hosting

[2022-11-26 12:07] PlatypusK commented on #45291
Expected Behavior
Collecting coverage on a locally hosted clientside wasm blazor app when using dotnet run with the dotnet-coverage tool

Steps To Reproduce
Create dotnet wasm hosted project
run "dotnet-coverage collect -o "D:\output-dotnet-coverage.xml" --output-format xml dotnet run"
Do anything in the clientside on the browser
Check in the generated coverage xml file if it contains clientside c

[2022-11-26 12:15] Duke4848 opened #45292 "DisplayNameFor doesn't lookup resx file despite IStringLocalizer and IHtmlLocalizer working correctly in the Razor page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I've got my `Login.cshtml` page

    @page
    @using Microsoft.AspNetCore.Mvc.Localization
    @using Microsoft.Extensions.Localization
    @inject IStringLocalizer<LoginModel> localizer
    @inject IHtmlLocalizer<LoginModel> htmlLocalizer
    @model LoginModel

    <h1>@htmlLocalizer["Title

[2022-11-26 13:35] Duke4848 commented on #45292
So at least of the reasons is the bug I reported: https://developercommunity.visualstudio.com/t/Custom-tool-cant-generate-designer-file/10213747?
The other one is that for some reason I need to provide ResourcesFileType in the attributes despite conforming to the naming conventions.

[2022-11-26 15:41] MarcoMedrano commented on #38576
Does anyone find a solution?
I moved to .NET 7 November release , still happening. `dotnet watch` or `dotnet watch run` they work well when first editing a file, after that:
[code]

[2022-11-26 16:31] alex47 commented on #45271
@javiercn
Yes, it happens with a new project as well.
After I upgraded these two nuget packages the problem went away.
Thanks for pointing me to the right direction.

![image](https://user-images.githubusercontent.com/10761683/204098938-ca3be09e-cb94-4a55-be4b-2d050ed7ffcb.png)

[2022-11-26 16:31] #45271 closed

[2022-11-26 17:12] DamianEdwards commented on #35733
@mitchdenny right, but this issue is about creating an analyzer that only warns when an argument type has a `BindAsync` or `TryParse` method but its signature is incorrect (which will lead to a runtime error).

[2022-11-26 17:54] bahar-1396 opened #45294 "blazor wasm publish IIS with error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

hi
im using .NET 7 and blazor wasm hosted,
in Development environment working perfectly but when publish to IIS throw an exception
There is no problem in .Net 6 version and this error is related to .NET 7
I do not use PublishTrimmed
How can the problem be solved?
`<CascadingAuthenticationStat

[2022-11-26 18:15] Krangth commented on #28344
https://github.com/dotnet/aspnetcore/pull/28454

[2022-11-26 19:07] pr-benchmarks[bot] opened #45295 "Perf improvement: fortunes_actix, fortunes_ef, plaintext"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes_actix [Fixed] | Actix fortunes 17- Frameworks Database Arm 80 Linux | 11/25/2022 08:54:08 | 616,432 | 625,467 | 1.47 % (9,035)  :thumbsup:  | 2.71 σ | 3,331.67 | <details>    <summary>Changes</

[2022-11-26 23:19] Eirenarch opened #45296 "Change ASP.NET Core Identity incorrect password logging level"
## Summary

Currently ASP.NET Core Identity produces a warning every time a user enters a wrong password. As it stands this log item is not only useless but problematic. I propose that this log item is either removed or its log level is reduced to Debug

## Motivation and goals

ASP.NET Core Identity on a wrong password which fills the log with useless events. The log event is of a relatively high

[2022-11-27 01:40] replaysMike commented on #7568
I just hit this when trying to add a IDesignTimeDbContextFactory for when I moved my migrations to another project.

All I did was the following:

[code]

[2022-11-27 04:44] commonsensesoftware commented on #43493
@captainsafia,

An interesting issue came up in dotnet/aspnet-api-versioning#920 that is relevant to this issue and I would be relevant to share.

Since deprecation isn't directly supported, there needs to be a bridge in Swashbuckle (or somewhere):

[code]

Now that we have grouping, consider:

[code]

No surprise, if you run this in the Swagger UI, things work as expected, which is to say:

1. `/

[2022-11-27 07:06] pr-benchmarks[bot] opened #45297 "Perf improvement: multiple_queries"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| multiple_queries [Fixed] | Multiple Queries Platform 1- Trends Database Intel Linux | 11/25/2022 09:06:33 | 41,255 | 42,079 | 2.00 % (825)  :thumbsup:  | 2.34 σ | 351.76 | <details>    <summary>Changes<

[2022-11-27 10:27] pedoc opened #45298 "Is it possible to limit file upload speed?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

In some scenarios, we need to limit the file upload speed so as not to affect other services, and reduce the overall load of the machine (cpu, network disk, etc.), is there currently an out-of-the-box function or support for custom imp

[2022-11-27 13:26] hiyelbaz opened #45299 "Cannot debug Blazor Webassembly on Chromium."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Cannot debug Blazor Webassembly on Chromium.
![image](https://user-images.githubusercontent.com/1831733/204137289-45b2f596-a423-46ad-b697-e7e629185cb1.png)

### Expected Behavior

Debugging on Chromium should work just like on Chrome.

### Steps To Reproduce

On Visual Studio debug any Blazor

[2022-11-27 13:35] MichelJansson commented on #44990
Having the same issue.

My scenario (that might help others find this), and reason for not being able to stay on "latest patch" of identity server (6.0.4):
1. Automapper 12 is "required" for .NET7 due to new APIs.
  https://github.com/AutoMapper/AutoMapper/issues/3988,
  https://github.com/dotnet/runtime/issues/69119).

2. Identity Server < 6.2 requires AutoMapper < 12.

3. Referencing Identity Se

[2022-11-27 15:55] boukisge commented on #44765
We are experiencing the same issue with your docker image. Please provide assistance

[2022-11-27 18:15] vbjay commented on #38336
AMEN!!!!

[2022-11-27 19:00] shaynevanasperen commented on #45215
Unfortunately, this is not possible without ALSO disabling authentication completely. See screenshot below:
![image](https://user-images.githubusercontent.com/1126129/204154168-fe8cb30d-107f-4054-8ba0-a542318f4259.png)

Nevertheless, I have now deployed a version of my application that has no capability for modifying any data via the UI, so that I can test it out with HTTPS and Authentication disa

[2022-11-27 19:08] pr-benchmarks[bot] opened #45301 "Perf improvement: multiple_queries"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| multiple_queries  | Multiple Queries Platform 2- Trends Database Arm 28 Windows | 11/26/2022 10:08:17 | 33,077 | 52,830 | 59.72 % (19,752)  :thumbsup:  | 3.36 σ | 5,885.85 | <details>    <summary>Change

[2022-11-27 22:36] shaynevanasperen commented on #45215
This test ran for about 2 hours before it started exhibiting the timeout issue. At least that's how much time passed before I checked it and noticed. It may have lasted far less than 2 hours. This further proves that my theory regarding the HTTP KeepAlive is probably correct.

I've now re-launched it in this cut-down mode with HTTPS and Authentication disabled completely, but now also with all my

[2022-11-27 22:50] mitchdenny commented on #35733
I'm picking up on the nuance of what you are saying ;)

My PR #45286 achieves this for the parsing scenario because it checks the signature on the ```TryParse``` method (or that it implements ```IParsable<TSelf)```.

One thing I only just realized is that we get a runtime exception even for arguments on the handler delegate that exposes a ```BindAsync``` method that is incorrect but is not marked

[2022-11-27 23:49] davidfowl commented on #45298
@BrennanConroy seems like a job for a rate limiting stream implementation?

[2022-11-28 00:36] shaynevanasperen commented on #45215
Yep, less than 2 hours passed before the timeout issue occurred again. This is with no HTTPS, no Authentication, and just the following code for building the `WebApplication` instance:

[code]

## This HTTP connection timeout problem does NOT occur under .NET 6.0 and it does NOT occur under .NET 7.0 on condition that I keep refreshing the web page frequently

Surely this is enough for you guys to

[2022-11-28 00:45] eyalalonn commented on #44957
I'm getting this error too when using `@bind:get="@Value" @bind:set="@ValueChanged"` and I'm using the latest SDK `7.0.200` as suggested above. Is there any ETA?

[2022-11-28 03:28] jesselawson commented on #44991
Using `net6.0`, I was running into the following issue, even after restarting, `dotnet clean`, etc:

[code]

Using `dotnet watch run .` solved by issue. (including the `.` in the command seems to matter).

[2022-11-28 04:30] davidfowl commented on #44991
That error looks like a startup hook compiled against .NET 7 but running in a .NET 6 application...

[2022-11-28 06:07] anuraj opened #45302 "Rate limiting middleware not working with app.UseRouting()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Recently I migrated a .NET 6.0 Web API to .NET 7.0 - in the .NET 6.0 code, there was an `app.UseRouting()` method. When I integrated the Fixed Window Rate Limiting implementation. Rate Limiting was not working.  I can keep sending requests it always returns the data. If I remove the `app.UseR

[2022-11-28 06:31] Kahbazi commented on #45302
@anuraj The problem is with the middleware order. You need to have `app.UseRateLimiter()` after `app.UseRouting()`.

[2022-11-28 06:46] anuraj commented on #45302
@Kahbazi Thank you. That was the issue. But in that case, I think it should mention somewhere in the rate-limiting middleware documentation. I don't think it was mentioned anywhere. In the documentation, it is after the `var app = builder.Build();` statement, so kept it like that. Thanks for the update.

[2022-11-28 06:46] #45302 closed

[2022-11-28 07:07] #45297 closed

[2022-11-28 07:07] pr-benchmarks[bot] opened #45303 "Perf improvement: mapaction, mapaction, plaintext_actix, plainTextSansFilter"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| mapaction [Fixed] | Json MapAction 19- Trends Arm 80 Linux | 11/26/2022 20:36:17 | 1,010,071 | 1,024,423 | 1.42 % (14,352)  :thumbsup:  | 1.27 σ | 11,321.79 | <details>    <summary>Changes</summary>

[2022-11-28 07:07] pr-benchmarks[bot] opened #45304 "Perf regression: caching, connectionclose"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| caching  | Caching Platform 1- Trends Database Azure Linux | 11/15/2022 21:08:24 | 39,168 | 38,312 | -2.19 % (-857)  :thumbsdown:  | -1.60 σ | 535.45 | <details>    <summary>Changes</summary>     <table

[2022-11-28 07:58] AndrewP-GH commented on #45270
Cool!
When is this update going to be released?

[2022-11-28 08:12] JamesNK commented on #45270
It might take a couple of months before it makes it onto NuGet.org in an update.

[2022-11-28 09:34] javiercn commented on #45294
@bahar-1396 thanks for contacting us.

If you are updating to .NET 7.0. Could you do a couple of things?
* Make sure that you have also updated all your packages to .NET 7.0 versions.
* Clean the bin and obj folders of your projects (perform a clean build).

[2022-11-28 09:45] marcominerva opened #45305 "Incorrect swagger.json causing application hang in Minimal API when using WithOpenApi extension method with DateTime query parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm using .NET 7.0. I have created a Minimal API with the following endpoint:

[code]

The corresponding **swagger.json** contains the following definition:

[code]

If, however, I add a call to `WithOpenApi` extension method after the `MapPost`:

[code]

Then the **swagger.json** changes in

[2022-11-28 09:47] iqmeta opened #45306 "Relative paths with Microsoft.AspNetCore.Rewrite not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I expect the Rewriter to redirect exactly to the String in the Options, but it
adds a leading slash, which makes it impossible to have realtive redirects.

This are the Options of Microsoft.AspNetCore.Rewrite

![image](https://user-images.githubusercontent.com/7533842/

This is the Redirect i

[2022-11-28 09:48] iqmeta commented on #45306
![image](https://user-images.githubusercontent.com/7533842/204246496-0b34b9e2-5409-4293-b182-015492ed362a.png)

Did not take settings ;-)

[code]

[2022-11-28 10:30] marcominerva opened #45307 "Parameter filters not invoked in Minimal API when using WithOpenApi extension method"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm using .NET 7.0. Following the workaround suggested here: https://github.com/dotnet/aspnetcore/issues/39886#issuecomment-1274102669, I have created the following `ParameterFilter` to correcly handle **Guid** constraint:

[code]

This solves the issue and produce the correct schema for **Gu

[2022-11-28 12:10] guragan-bh opened #45311 "Microsoft.AspNetCore.Mvc.NewtonsoftJson printing errors more than once."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We are using Microsoft.AspNetCore.Mvc.NewtonsoftJson in our project. In an edge case scenario if user passes invalid request then the parser returns error multiple times instead of once.

![image](https://user-images.githubusercontent.com/106742457/204273322-5d54a67d-45a1-4882-8a75-eb08fcac20

[2022-11-28 13:00] NXTwoThou commented on #28537
The behavior hasn't changed for me(.NET 7 now).  I have 3 servers to update and there hasn't been a single time when all three updated file where I didn't have to uninstall and reinstall.  It's literally run the updater, try to load site, if it's good, move to the next server.  If it it fails to load the site, uninstall the components, reinstall, and try the site again.   It's pretty horrible and

[2022-11-28 13:14] amoszheng commented on #41589
@Tratcher we wanted to use the OpenIdConnect client to implement external login integration for an identity provider that is not yet supported neither by Microsoft out of the box nor [aspnet-contrib](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers). Since every supported provider changes the issuer of the claims to the name of the external provider (e.g. "Google", "Facebook", "Li

[2022-11-28 13:45] vanillajonathan commented on #45143
Good proposal!
If not more than one resolver is needed, then maybe it could be added like:
[code]

Since there is no WebFinger implementation yet, here is one if anyone needs one:
<details>
    <summary>Click here to expand code</summary>

File `WebfingerController.cs`:

[code]

File `ApplicationOptions`:
[code]

You also need a CORS policy and `app.UseCors();`.
[code]
</details>

[2022-11-28 14:22] RanoshTarek opened #45315 "Exception java.lang.NullPointerException: Attempt to invoke virtual method 'void"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Exception java.lang.NullPointerException: Attempt to invoke virtual method 'void com.microsoft.signalr.HubConnection$ConnectionState.cancelOutstandingInvocations(java.lang.Exception)' on a null object reference
  at com.microsoft.signalr.HubConnection.stopConnection (HubConnection.java:431)

[2022-11-28 15:14] digitalsigi opened #45316 "NavigationLock not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am testing new component NavigationLock following this video https://www.youtube.com/watch?v=akffcwNpJiY and built my own Component around NavigationLock:
[code]
and
[code]
IsModified ist set the following way:
[code]
Now I enter only one char in input field which is recognised in OnFieldCh

[2022-11-28 15:50] mprather commented on #38078
@BrennanConroy thanks for the link. The timeout issue is something we'll keep an eye on. We'll need to spend some time researching why this timeout occurs only on a small set of containers.

Closing this issue.

[2022-11-28 16:01] #45163 closed

[2022-11-28 16:11] Tratcher commented on #41589
The claims issuer is still set to a unique provider ID like "https://myprovider.com", right? Is your concern about the format?

[2022-11-28 16:11] mprather opened #45318 "SignalR-Client-Cpp should consider using a different json library"
## Summary
The alpha4 release has incorporated the use of the jsoncpp library.  The team should consider switching to the nlohmann json library. The nlohmann library is a header-only library (https://github.com/nlohmann/json).

## Motivation and goals
There are a few reasons why a header-only json library might fit better with signalR.

1) Less to build - every library that signalr depends upon ne

[2022-11-28 16:27] mehdihadeli opened #45319 "Custom WebApplicationFactory doesn't work correctly for overriding Configure Method in ConfigureWebHost"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi,
I've created a custom [WebApplicationFactory](https://github.com/mehdihadeli/WebApplicationFactoryWithHost-Sample/blob/master/src/Test/WebApplicationFactoryWithHost.cs) and in this factory I override [ConfigureWebHost](https://github.com/mehdihadeli/WebApplicationFactoryWithHost-Sample/bl

[2022-11-28 16:30] surayya-MS commented on #44742
@BrennanConroy , any updates on this API proposal? Do you think this is worth implementing or should we implement the alternative design (https://github.com/dotnet/aspnetcore/pull/44623)?

[2022-11-28 16:39] digitalsigi commented on #45316
One more thing:

When modifying properties belonging to EditContext it looks like that they not triggering NavigationLock as well. For example I implemented a ToggleButton Component based on Radio Buttons.  This code does not trigger NavigationLock but toggles the Button:

[code]

[2022-11-28 16:45] surayya-MS opened #45320 "Validate the changes: SPA Proxy enhancements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Manually validate the changes for SPA Proxy enhancements (1 and 2) https://github.com/dotnet/aspnetcore/issues/44638
before the changes make it to SDK.

[2022-11-28 16:58] andref15 opened #45322 "JSON Serializer creates null item in collection when using IgnoreCycles"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have an ASP.net core Web API, that uses the standard system text json serializer and I configured the reference handling as IgnoreCycles.
The issue is that now when a Cycle is detected inside a collection, the resulting json looks like this:

    {
      "MyCollection": [
        null

[2022-11-28 17:24] njannink commented on #43317
It's actually this issue: #44981

[2022-11-28 17:26] mehdihadeli opened #45325 "Exporting generated docker file with .Net 7 publish command"
Hi,
Is there any way to exporting `generated docker file` with publish command .Net 7?

[code]

[2022-11-28 17:28] seekingtheoptimal commented on #22189
@javiercn regarding the question of @Shayan-To , can you please provide the reasoning behind JWT vs Cookie for SPA from the .net team's perspective? There are a few pros and cons from both sides, but actually very few resources I have found tackle them one by one. The same is true for .net docs where this topic is mentioned, other than _"we encourage to use X over Y"_ or _"discourage to use Z"_ I

[2022-11-28 17:29] wtgodbe commented on #38336
@vbjay please thumbs-up https://github.com/NuGet/Home/issues/12254 if you agree this should be fixed, the more engagement we get there the more likely we are to get an improved experience for this in .Net 8

[2022-11-28 17:34] mkArtakMSFT commented on #45281
Thanks for contacting us. We don't usually investigate customer apps. Looking at this a bit more this looks more like an issue with your custom steps. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **blazor** tag.

[2022-11-28 17:34] #45281 closed

[2022-11-28 17:38] MackinnonBuck commented on #45316
Thanks for reaching out, @digitalsigi.

In order for us to investigate this issue, would you please provide a minimal repro project hosted in a public GitHub repository?

[2022-11-28 17:41] amoszheng commented on #41589
@Tratcher yes, we tried to set it to "MyProvider" but could not do it like it is for the other login providers.

[2022-11-28 17:41] #45262 closed

[2022-11-28 17:44] javiercn commented on #45321
@tbone95 thanks for contacting us.

This is a known change we did as part of .NET 7.0.

See https://github.com/aspnet/Announcements/issues/497 for details. Please let us know if this solves your problem.

[2022-11-28 17:47] blowdart commented on #45228
What would you expect to happen if the delayed load fails?

[2022-11-28 17:54] Tratcher commented on #45266
This is usually an external networking issue. Your best option is to add some retry handling for resilience.

[2022-11-28 17:56] Tratcher commented on #45268
Microsoft.Extensions.Caching.StackExchangeRedis implementes the IDistributedCache abstraction. If you need redis specific features you should use the base stackexchangeredis package directly.

[2022-11-28 17:58] #44715 closed

[2022-11-28 18:00] Tratcher commented on #45278
Team: Remind me why this package cross targets .NET 7, Netstandard 2.0, and .NET 4.6.x? If it only targeted .NET 7 then you wouldn't even be able to install it on .NET 6.

[2022-11-28 18:04] Tratcher commented on #45298
The way networking works there are limits to how much you can enforce this on the server side. Even if you're not consuming the data the client can keep sending until it fills up ever network buffer between you and them. If you control the client application, then you can implement far more consistent handling from that end.

[2022-11-28 18:08] Tratcher commented on #41589
Can you clarify why you _need_ it to be formatted as "MyProvider" instead of the current value "https://myprovider.com/"?

[2022-11-28 18:15] BrennanConroy commented on #44742
We need to put what the API will look like in the issue. Example: https://github.com/dotnet/aspnetcore/issues/43355#issue-1342386431

Also, we probably want to do this across all the clients, not just the Typescript one.

[2022-11-28 18:16] brockallen commented on #41589
I'm guessing because it matches the scheme name, not the issuer. I was always confused by the discrepancy between the social providers and how the OIDC one is done.

[2022-11-28 18:21] amoszheng commented on #41589
@brockallen you are right, for all other social login providers the issuer matches the scheme name, e.g. for Google the issuer of the claims is "Google", for Facebook it is "Facebook", for LinkedIn it is "LinkedIn", and so forth.

[2022-11-28 18:22] SteveSandersonMS commented on #45279
I think the issue here is that you have a `.` character (not encoded) in the URL. That makes it try to look for a file on disk, because it looks like it has a filename extension. We use this heuristic ("if it has a filename extension, only look for files on disk") because people get confused otherwise if a request for `/images/some-file-that-does-not-exist.png` returns some HTML instead of a 404.

[2022-11-28 18:22] Tratcher commented on #41589
@brockallen mainly because IdentityModel doesn't provide an API to set the claims issuer independently, and this is the first request I'm aware of to do so. We can file an issue over there to add such an API.

[2022-11-28 18:23] EmilAlipiev opened #45326 "Quickgrid Virtualize=true using Memory data not displaying entire data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using Virtualize=true with  more than 100 rows as AsQuerable, so the data in the memory, Quickgrid is not displaying often all the available data. Same ui with same data is displaying fine setting Virtualize=false.

### Expected Behavior

that all data is displayed on scrolling to the bu

[2022-11-28 18:28] EmilAlipiev opened #45327 "Extend Quickgrid with Id and Style Properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

yes, id property is important to set for automated-testing like bunit test or cypress/playwright/seleniu, etc.

### Describe the solution you'd like

it is not possible to set id and style for quickgrid table from outside. I would like

[2022-11-28 18:30] Tratcher commented on #41589
Filed https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1972.

[2022-11-28 18:41] digitalsigi commented on #45316
Ok, the issue is within large project. I will try to extract the necessary parts. Please give me some time to do that.

L.G.
Josef Bogad
Von meinem iPhone gesendet

Am 28.11.2022 um 18:39 schrieb msftbot[bot] ***@***.***>:

﻿

Hi @digitalsigi<https://github.com/digitalsigi>. We have added the "Needs: Author Feedback" label to this issue, which indicates that we have an open question for you before

[2022-11-28 18:52] halter73 commented on #45218
API Review Notes:

1. Usage and error makes sense. We're confident these endpoints will be completely broken when hit at runtime.
2. This only fires for routes that have constraints already.
3. Given that this "[s]hould also work on MVC actions and Razor pages." How do you read from a slug in a razor page? What would be invalid? A `datetime` constraint?
4. `app.MapGet("/{id:int}", (long id) => ...

[2022-11-28 18:58] javiercn commented on #44600
@Rick-Anderson can you add this to the docs?

[2022-11-28 18:58] Tratcher commented on #41589
Workaround:
[code]

[2022-11-28 19:08] halter73 commented on #45159
API Review Notes

1. Where is this options used? When writing problem details via the new service for MVC, the error handler middleware, status page result, the developer exception page.
2. Is there another name for `UseContentNegotiation` that can default for false? `IgnoreAcceptHeader`?
3. Can we change the default and make a breaking change announcement? The developer exception page will try to

[2022-11-28 19:11] amoszheng commented on #41589
Thanks for the workaround! Will try it while we wait for the permanent fix. Keep up the awesome work you guys do in the .NET team!

[2022-11-28 19:15] #45295 closed

[2022-11-28 19:15] pr-benchmarks[bot] opened #45328 "Perf improvement: connectionclose"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclose [Fixed] | Plaintext Connection Close HttpSys 1- Trends Intel Windows | 11/27/2022 09:47:34 | 107,653 | 108,557 | 0.84 % (904)  :thumbsup:  | 0.77 σ | 1,179.01 | <details>    <summary>Cha

[2022-11-28 19:15] pr-benchmarks[bot] opened #45329 "Perf regression: connectionclosehttps"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclosehttps [Fixed] | Plaintext Connection Close Https 1- Trends Intel Windows | 11/27/2022 09:45:05 | 11,628 | 11,417 | -1.81 % (-211)  :thumbsdown:  | -0.14 σ | 1,460.00 | <details>    <summa

[2022-11-28 19:21] halter73 commented on #45219
API Review Notes:

1. Is the message to passive? Starting with "Recommend using" seems wrong.
2. Can you use `AddAuthorization` and `AddAuthorizationBuilder` together? Do the policies just merge?

[2022-11-28 19:47] sebastienros opened #45330 "Understand allocations discrepancies in Json benchmarks"
Middleware vs. Minimal APIs vs. Platform

![image](https://user-images.githubusercontent.com/1165805/204367285-3189edfc-27e1-41d5-8918-5d4ddfca9ba3.png)

[2022-11-28 19:52] RanoshTarek commented on #45315
I am using version 11
[code]
   android dependencies
`    implementation 'com.microsoft.signalr:signalr:1.0.0'
`

[2022-11-28 20:01] BrennanConroy commented on #45315
Ok, stop using that version, use a newer one.

[2022-11-28 20:13] DamianEdwards commented on #45330
We should [try updating the benchmark JSON middleware to use synchronous serialization](https://github.com/aspnet/Benchmarks/blob/7f6dfe116e8cc5e3545cdac5110d3bc3e2a6f247/src/Benchmarks/Middleware/JsonMiddleware.cs#L42-L57) to ensure the underlying `Utf8JsonWriter` of `JsonSerializer.SerializeAsync` is pooled by the runtime (the async paths aren't pooled today).

[2022-11-28 20:17] DamianEdwards commented on #45330
Also this highlights that our `HttpResponse` JSON extension methods and things like JSON serialization in Minimal APIs aren't benefiting from any pooling of the underlying infrastructure in their calls to `JsonSerializer.SerializeAsync` so we should investigate options for mitigating that too.

[2022-11-28 20:23] DamianEdwards opened #45332 "Investigate options to allow pooling of JSON serialization infrastructure"
Related:
- dotnet/runtime#69889
- dotnet/runtime#78646
- #45330

Our JSON-related extension methods on `HttpResponse` today and the inherent JSON serialization implemented by Minimal APIs (either directly from route handler returned objects or the JSON `IResult` types) call through the JSON serializers async code paths. These paths don't implement any pooling for the underlying infrastructure like

[2022-11-28 20:36] wtgodbe commented on #44662
@dougbu anything left to do from your perspective?

[2022-11-28 20:40] wtgodbe commented on #39317
There's a PR for this which could be iterated on/abandoned: https://github.com/dotnet/aspnetcore/pull/39989

[2022-11-28 20:46] dougbu commented on #44662
Nope 😁

[2022-11-28 20:46] #44662 closed

[2022-11-28 20:51] pharring commented on #45022
@BrennanConroy,

No, I don't think so. It's not an App Insights SDK issue. The DiagnosticServices component isn't open sourced, but we're tracking this internally.

@ChristophHornung,

There are two consequences:
1. An annoying exception in the startup logs.
2. The Snapshot Debugger feature is broken.

As you say, the app is otherwise unharmed.

[2022-11-28 21:05] ray440 commented on #45034
FYI: I also get the same error if Javascript calls
[code]

[2022-11-28 21:09] commonsensesoftware commented on #45159
Great questions.

This _should_ be useful in any scenario where `ProblemDetails` or `ProblemDetailsOptions` would be used to make a decision, which includes all of the scenarios you outlined.

I was specifically thinking in `DefaultProblemDetailsWriter` like this:

[code]

However, this could just as easily be used for the `ProblemDetailsFactory` too.

- `SkipContentNegotiation`
- `DisableContentN

[2022-11-28 21:13] MackinnonBuck commented on #44669
@Alerinos, `Blazor.reconnect()` will return a promise that either:
* Rejects if the server could not be reached
* Resolves to `false` if the circuit ID was invalid
* Resolves to `true` if the reconnection was successful

See [this example]( https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/blazor/fundamentals/signalr.md#automatically-refresh-the-page-when-reconnection-fails-blazor-ser

[2022-11-28 21:13] #44669 closed

[2022-11-28 21:50] tbone95 commented on #45321
Thanks @javiercn, problem has been solved.

[2022-11-28 22:03] brunolins16 commented on #44258
Added as part of WebApplication documentations:

https://learn.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis/webapplication?view=aspnetcore-7.0#access-the-dependency-injection-di-container

https://learn.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis/webapplication?view=aspnetcore-7.0#configuration

We can decide in the future if a dedicated page will be needed.

[2022-11-28 22:03] #44258 closed

[2022-11-28 22:50] timheuer commented on #45141
@rafikiassumani-msft -- any reason why we have to wait for 8 for this?

[2022-11-28 23:01] brunolins16 commented on #45322
@andref15 thanks for contacting us.

I am not 100% sure what issues you are talking about, maybe if you can share your repro I can provide a more specific suggestion, however, I believe you might have been receiving `validation` issues, eg.:

[code]

If that is the case, it is happening probably because your model does not accept nullable type and change it might workaround the issue you are facin

[2022-11-28 23:07] Owenll66 commented on #45272
@javiercn Thanks for your comment. I did find it can be reproduced just by html below without the `RenderFragment` in chrome - Version 107.0.5304.122 (Official Build) (64-bit) and Edge - Version 107.0.1418.56 (Official build) (64-bit). But not in Firefox. I believe it is an issue in Chrome and Edge. Happy to have this issue closed. Thanks.

[code]

[2022-11-28 23:07] #45272 closed

[2022-11-28 23:08] adityamandaleeka commented on #45298
Triage: this would make an interesting sample that we could add to our docs (showing both upload speed limiting and download speed limiting)

If we got enough demand for this we may consider adding an in-box feature to support this.

[2022-11-28 23:20] adityamandaleeka commented on #45278
Triage: Consider dropping .NET 4.6.x and netstandard from this package in the 8.0 version.

[2022-11-28 23:28] adityamandaleeka commented on #45306
Triage: we need to check if this was done for consistency with IIS's rewriting rules.

We could make this an option on the middleware if needed.

[2022-11-28 23:37] brunolins16 commented on #45311
@guragan-bh Thanks for contacting us.

MVC model binding will report the errors reported by the serializer, in this case `NewtonsoftJson`. I was able to reproduce the same issue without ASP.NET Core.

[code]

I believe the better approach is open an issue in this repo: https://github.com/JamesNK/Newtonsoft.Json

[2022-11-28 23:39] mitchdenny commented on #45143
Thanks for sharing your controller code. Curious, are you using WebFinger already in your scenarios?

[2022-11-28 23:44] adityamandaleeka commented on #45258
Is this affecting any use cases for you? If you'd like, you could configure your health check endpoint like this:

[code]

which will only allow GETs.

[2022-11-28 23:52] adityamandaleeka commented on #45252
@abatishchev Can you update the Microsoft.AspNetCore.Mvc.Testing package reference to use the latest 6.0.x version?

[2022-11-28 23:55] abatishchev commented on #45252
I've updated to the latest 7.x (the migration was blocked for internal reasons at the time of opening the issue) which made the issue to go away.

[2022-11-28 23:57] adityamandaleeka commented on #45214
@vadrsa Would https://github.com/dotnet/runtime/issues/77060 address your needs?

[2022-11-28 23:58] adityamandaleeka commented on #45154
Thanks @joslb. Good luck finding the issue 😄

Closing this for now, please feel to reopen (or make a new issue) if you run into anything else.

[2022-11-28 23:58] #45154 closed

[2022-11-29 00:09] adityamandaleeka commented on #45318
Triage: This isn't for 1.0 of the C++ client, but we could consider this in the future (especially if there's more demand).

[2022-11-29 00:29] websolut commented on #45266
Yes, this is a bit tricky part to explain since it is an azure service fabric app trying (windows) to upload a blob to the azure storage account in the same region.

[2022-11-29 00:32] #45239 closed

[2022-11-29 00:48] pedoc commented on #45298
This is unlikely, we can't control every browser client and make them upload at 10KB/s, as far as I know it can't be done. Furthermore, even if all clients can be controlled, their cumulative bandwidth may still exceed the limit, and it is difficult to calculate the limit for each client when the number of clients is uncertain.
So throttling from the server side is the only option.

[2022-11-29 00:58] pedoc commented on #45298
As far as I know, uploading or downloading can be speed-limited (Qos) by adjusting the "TCP windowing". Of course, this requires the framework to expose the Socket used in the underlying communication in order to control it. Is this currently possible?

The following scenarios will require speed limit support
1. To deploy multiple API services on a single machine, we need to limit the upload and d

[2022-11-29 02:10] lemon0213 opened #45336 "Create 7.0 project using terminal and run the project using https, the url can't opened."
**REPRO MACHINE**: MacOS Monterey (12.6.1)
**REPRO Configuration**:

+ SDK 7.0.101

**.NET Core SDK:** 7.0.101

**.NET Core Runtime:** 7.0.1

**INSTALL STEPS**

1. Install .NET 7.0.101 from [Pipelines - Run 20221122.3-7.0.101-servicing.22572.4-157743 artifacts (azure.com)](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdev.azure.com%2Fdnceng%2Finternal%2F_build%2Fresults%3Fbuild

[2022-11-29 02:34] captainsafia commented on #45141
We discussed backporting this. Our standard approach at the moment is to add a feature in 8.0 and backport to 7.0 when servicing branches open.

[2022-11-29 02:34] mkArtakMSFT commented on #45336
I'm reposting my comment here from the linked issue:

@javiercn do you have any thoughts about what can cause this?

[2022-11-29 02:44] captainsafia commented on #45307
So, the `WithOpenApi` extension method works by generating an OpenAPI operation and storing it in metadata. Swashbuckle will favor that OpenApiOperation over the one it generates by default (see [here](https://github.com/domaindrivendev/Swashbuckle.AspNetCore/blob/0fa9723dd40172ad6743e299bf4995da1924e142/src/Swashbuckle.AspNetCore.SwaggerGen/SwaggerGenerator/SwaggerGenerator.cs#L235)) but do some

[2022-11-29 02:53] mitchdenny commented on #37651
We've just noticed some unit test failures related to framework/packaging in the aspnetcore:

![image](https://user-images.githubusercontent.com/513398/204426956-007679c5-3705-44ca-acaf-4cbcc805792e.png)

We are wondering if it related to this. Here is an example of a test failure:

[code]

There are more with a similar kind of flavor.

[2022-11-29 03:31] timheuer commented on #45141
Excellent. I had thought we already had branch for SDK for 7.0.200 (I assume this doesn’t need runtime servicing)

[2022-11-29 03:48] #45321 closed

[2022-11-29 05:22] VenkateshSrini commented on #45287
Any help on this issue please

[2022-11-29 05:38] lensouko opened #45337 "Publish Error In Using Japanese Char Account"
lang:Eng(cnv:DeepL jp => en)
{
Create a local Windows account with a Japanese (Kanji, Hiragana, Katakana) account name (e.g. brick =utf-8"\u7149").
2. Install Visual Studio 2022 under that account, specifying a workload that can use ASP.NET Blazor WebAssembly.
Start Visual Studio 2022 and create a project with the non-empty Blazor WebAssembly template.
Build the project and confirm that no errors

[2022-11-29 06:16] singh733 commented on #45180
@davidfowl  @Tratcher  I dig into the code.  Below is the proposal. Please share your views:

[code]

[2022-11-29 06:17] #43376 closed

[2022-11-29 07:07] #45329 closed

[2022-11-29 07:07] #45328 closed

[2022-11-29 07:16] davidfowl commented on #45214
I think that's the right issue to track for this one.

[2022-11-29 07:42] andref15 commented on #45322
Hi, thank you for your reply.
I don't have any issues deserializing the object.
The Issue is that I have an Object with a Reference Cycle in a collection. When the API then serializes this object, the Collection in the json string contains null, which is what I would like to change.
Sadly I cannot use ReferenceHandler.Preserve because this seems to cause some problems in the Angular HttpClient.

[2022-11-29 09:14] javiercn commented on #45336
@mkArtakMSFT nope.

Any errors on the console or anywhere? Any logs captured?

[2022-11-29 10:25] vanillajonathan commented on #45143
No, nothing deployed. Just something I wrote a few months ago out of curiosity.

[2022-11-29 10:34] eyalalonn commented on #44957
@javiercn Is there any workaround for this?

[2022-11-29 10:51] yannicsmeets opened #45338 "DateTimeOffset modelbinding from form is always set to utc in net7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hello,

I have the following model that is used as input of a controller method:

[code]

When I sent the string '2022-11-29 10:00' in NET6, the local timezone offset (+1 in my case) is used for the DateTimeOffset. However, in NET7, the offset is always 0.

### Expected Behavior

I expect the

[2022-11-29 11:03] marcominerva opened #45339 "Unable to remove Output Cache defaults"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm reading the article at: https://learn.microsoft.com/en-us/aspnet/core/performance/caching/output?view=aspnetcore-7.0#default-output-caching-policy. In particular, I'm doing some tests about the default caching policy. According to it, by default:

And then:

However, even with the above c

[2022-11-29 11:05] javiercn commented on #44957
@eyalalonn Unfortunately, this is a mismatch between the code generated by the compiler and the runtime APIs available.

We are working to get the compiler updated in the SDK, but a fix will not be available officially in until 7.0.102.
We will however update this thread when we have a nightly build of the SDK available with the fix to unblock folks.

In a previous post I incorrectly pointed out t

[2022-11-29 11:20] eyalalonn commented on #44957
@javiercn Thank you.

[2022-11-29 11:29] marcominerva commented on #45307
Thank you @captainsafia, using an OperationFilter is a good workaround.

[2022-11-29 11:32] ruslanfedoseenko opened #45340 "Unable to read request body after request.EnableBuffering"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When accessing http request of a POST request and enabling buffring request body is empty

### Expected Behavior

I expect to be able to read body of a POST reques

### Steps To Reproduce

https://github.com/ruslanfedoseenko/dotnet-bug-repo

### Exceptions (if any)

_No response_

### .NET Ve

[2022-11-29 11:35] RanoshTarek commented on #45315
this the newest version exists according to this [document](https://learn.microsoft.com/en-us/aspnet/core/signalr/java-client?view=aspnetcore-7.0)
can you specify what you mean by the newest?

[2022-11-29 13:29] jkone27 commented on #40161
looking forward to this one!

maybe a separate idea, but would be also nice to have more "functional" versions so that also pipe operator can be adopted?
etc probably it would be useful to generate this adapter functions for F# with source generators if that would be possible or some similar approach, so the "api" keeps itself up to date with the C# api while evolving but also exposing the "functi

[2022-11-29 13:59] wolfgangschneider commented on #45182
@SteveSandersonMS

I want to create a derived QuickGrid  that supports single row selection.

My solution:
crate an inhereted class EBQuickGrid  razor and cs file.

EBQuickGrid.razor

`base.BuildRenderTree(__builder);
`

EBQuickGrid.cs
[code]
to do this, the _renderNonVirtualizedRows  Access Modifier has to change

*  I create my own _renderNonVirtualizedRows  function

[code]
To do this, the curr

[2022-11-29 15:23] javiercn commented on #45336
@mkArtakMSFT I am following up over email, but I can't repro this bug on the MacOS version they mention.

[2022-11-29 16:24] madhub commented on #45258
Our internal security testing raised this has issue and also it strange to see **POST/PUT/DELETE** on the health check API.

Yes, that is what I did , I would have expected this to be default behavior.

[2022-11-29 16:42] Tratcher commented on #45180
Wouldn't that end up logging ExecutedEndpoint twice? Once for the finally and once inside AwaitRequestTask?

@davidfowl I think it needs to be more like:
[code]

[2022-11-29 16:53] captainsafia commented on #45219
I tried this out. You can use them together and the policies end up being merged with a last-in wins strategy for policies with the same name.

[code]

That being said, I'm not sure how likely this is to occur in user code. Considering the merge strategy, calling both is equivalent to calling one with the policies registered in the same order. It would be helpful to provide another analyzer that r

[2022-11-29 16:59] captainsafia commented on #45219
With regard to this, it seems like the general convention is to start with "Use ..." so I've updated the description to mimick this.

[2022-11-29 16:59] BrennanConroy commented on #45330
https://github.com/aspnet/Benchmarks/pull/1772 changes the Json-middleware benchmark to use source-genned code for `JsonMessage` as well as caching the `Utf8JsonWriter` manually since only the string returning Serialize methods cache the writer. This brings it down to 3m bytes/sec.

The JsonMapAction benchmark allocations are:
![image](https://user-images.githubusercontent.com/7574801/204591068-a5

[2022-11-29 17:13] wtgodbe commented on #37651
@mitchdenny where are you seeing these failures?

[2022-11-29 17:16] Tratcher commented on #45340
You're enabling buffering too late.

You enable it here:
https://github.com/ruslanfedoseenko/dotnet-bug-repo/blob/803ac4119a2e642c895c4562f26334b35bbe0510/WebApplication2/Controllers/WeatherForecastController.cs#L28

But the body was already consumed by model binding to create the WeatherForecast parameter.
https://github.com/ruslanfedoseenko/dotnet-bug-repo/blob/803ac4119a2e642c895c4562f26334b35b

[2022-11-29 17:35] mkArtakMSFT commented on #45326
Thanks for contacting us. This is not something we've experienced even though we've used the QuickGrid many times before. So most probably this is due to your custom code. Here is a working example of it. You can see how it's done and what's different about your application logic, that results in such a behavior: https://aspnet.github.io/quickgridsamples/virtualizing/

[2022-11-29 17:38] mkArtakMSFT commented on #45294
Thank you for filing this issue. In order for us to investigate this issue, please provide [a minimalistic repro project](https://github.com/dotnet/aspnetcore/blob/main/docs/repro.md) that illustrates the problem.

[2022-11-29 17:54] DamianEdwards commented on #45330
@BrennanConroy I'm curious, how does the benchmark look if we just serialize direct to a string and return that?

[2022-11-29 17:55] MarkStega opened #45343 "Razor pages in a Blazor application not rendering conditionally displayed components in DN7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a number of razor pages in my blazor application that follow this pattern:

[code]
Essentially user input from the select component determines which additional components are shown

This works in my deployed Net 6.0 application.

In my development system using Net 7.0 I can set a break

[2022-11-29 18:19] EmilAlipiev commented on #45326
@mkArtakMSFT your example is based on GridItemsProvider, but what i report here is[ In-memory IQueryable data](https://aspnet.github.io/quickgridsamples/datasources/). I do an api call and fetch all data into memory and try to bind as `AsQueryable `
In the docu was mentioned as "with small amounts of data, up to a few hundred items."  even I have 90 rows with 7 columns, it only renders like 70 row

[2022-11-29 18:31] EmilAlipiev commented on #28776
this only helps for Server side but not Wasm

[2022-11-29 18:46] MarkStega commented on #45343
Resolved, not a Blazor/Razor issue

[2022-11-29 18:47] #45343 closed

[2022-11-29 19:01] #45268 closed

[2022-11-29 19:05] RChrisCoble opened #45347 ".NET 8 Feature Request: Ability to scope CSS styles to a specific instance of a component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Hello @danroth27,

Quick background refresher on our software and the relevant UC's we're looking to support with Blazor.

Our software has a "Design Time" build environment and a "Runtime" environment which is presenting what was buil

[2022-11-29 19:14] mkArtakMSFT commented on #45078
@javiercn are there any specific actions on us here (including infrastructure related)?

[2022-11-29 19:16] pr-benchmarks[bot] opened #45348 "Perf regression: json_nodejs, plaintext, plaintext, plaintext_nodejs"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json_nodejs  | NodeJS Json 8- Frameworks Intel Linux | 11/28/2022 07:59:44 | 487,570 | 471,435 | -3.31 % (-16,135)  :thumbsdown:  | -10.79 σ | 1,495.87 | <details>    <summary>Changes</summary>     <tab

[2022-11-29 19:22] mkArtakMSFT commented on #44618
Closing as a dupe https://github.com/dotnet/aspnetcore/issues/44582

[2022-11-29 19:22] #44618 closed

[2022-11-29 19:27] mkArtakMSFT commented on #44613
Ping @cristianosuzuki77

[2022-11-29 19:28] brunolins16 commented on #45322
Probably @dotnet/area-system-text-json are the best group to help you.

[2022-11-29 19:34] davidfowl commented on #45330
Discussed with @BrennanConroy how we can avoid the DI overhead for JSON with minimal API until you directly inject services. Hopefully after that, we should be able to make the JSON benchmark near 0 alloc even for full stack ASP.NET Core (well with the diagnostics stack turned off...)

[2022-11-29 19:36] kevinchalet commented on #45278
Please don't do that: this package is very useful on .NET Framework to bring some health checks love to good old Katana applications (see https://github.com/ritterim/RimDev.AspNet.Diagnostics.HealthChecks for a community project that uses the health checks stack).

It's worth noting this rule is no longer strictly enforced by some of the .NET teams: EF Core 7.0 targets `net6.0` and references `Mic

[2022-11-29 19:55] Tratcher commented on #45278
@kevinchalet is there a reason that the .NET 8 version of this package is needed on .NET 4.x? Can't any of the prior versions be used?

[2022-11-29 19:58] eiriktsarpalis commented on #45322
This behavior is by design, cyclical reference types will be replaced with a null literal in the JSON -- which also holds for collection elements.

[2022-11-29 19:59] kevinchalet commented on #45278
Sure: the health checks stack was only introduced in ASP.NET Core 2.2 so there's no "super-long-term" 2.1 version available. If you stop shipping this package, .NET Framework users will be left in an unsupported state when .NET 6.0/7.0 reach end of life.

[2022-11-29 20:11] Tratcher commented on #45278
Sounds like we should just move the package to the 2.1 branch then 😁.

[2022-11-29 20:15] kevinchalet commented on #45278
That would be one (great) way to solve that, but AFAIK, "no new API in patches" has always been the rule here. Shipping whole new packages in a 2.1 patch would be a hard sell 🤣

[2022-11-29 20:16] Tratcher commented on #45278
I've done it before with WsFed :-). New packages are actually easier than APIs.

[2022-11-29 20:19] kevinchalet commented on #45278
Ah! In this case... 👍🏻  (it's Christmas in less than a month... 🤣)

[2022-11-29 20:27] #44853 closed

[2022-11-29 20:39] Luizfelipefm opened #45350 "Add option to RedisCache to pass which field to save data in redis."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

_No response_

### Describe the solution you'd like

Currently, RedisCache saves the data in the "data" field inside redis, I would like to be able to change that field.

### Additional context

I work in the transcription of a legacy

[2022-11-29 20:48] laura-rodriguez opened #45351 "How should I handle OIDC callbacks when responseType=none?"
Hi,

I'm currently implementing step-up authentication, and I'm unclear on the recommended practice to handle an OIDC challenge when ResponseType=none. The /authorization-code/callback doesn't work in this case since there's no code involved, and my understanding is that CallbackPath is handled by the OIDC middleware itself, so I can't control the logic by creating a new controller/action.

Consid

[2022-11-29 21:29] #44627 closed

[2022-11-29 21:40] cjbush commented on #37680
So I was able to get this to work with a kind-of-hacky workaround. My Program.cs looks something like this:

[code]

and I have the following extension methods defined:

[code]

then in my test fixture I have:

[code]

So the downside obviously is you're setting a test flag and checking for it in production code, but it does seem to work for overriding the config with minimal APIs until a real fix

[2022-11-29 21:41] halter73 commented on #45219
Given that combining multiple calls of `AddAuthorization` and `AddAuthorizationBuilder` allows merging policies, it sounds like the fixer would be very unlikely to break people. So, I think the fixer makes sense. I agree this is probably pretty rare to do both too, so doubt there's much value in a refactoring that unifies multiple calls, but maybe.

[2022-11-29 21:50] javiercn commented on #45351
@laura-rodriguez thanks for contacting us.

I'll let other folks chime in, but there are events you can subscribe to handle the interactions. `JwtBearerEvents.OnMessageReceived` is potentially a good candidate.

You can likely call `Success()` on the context parameter to indicate that you have completed the request.

[2022-11-29 22:03] Tratcher commented on #40452
YARP needs this too: https://github.com/microsoft/reverse-proxy/issues/640

[2022-11-29 22:07] BrennanConroy commented on #45330
Avoiding DI overhead gets us from 307m bytes/sec to 160m bytes/sec
RPS from 845k to 894k
Now there are only 3 large allocations left, the Utf8Writer, PooledBufferWriter, and anonymous object/box for struct

[2022-11-29 22:07] yangzhongke opened #45353 "There is a performance issue with WeatherForecastController.cs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

In the templates of ASP.NET Core Web API, the Get() method of 'aspnetcore/src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/WeatherForecastController.cs ' is as follows:

[code]
The return value of Get() metho

[2022-11-29 22:11] mitchdenny commented on #37651
When you run the test cases in ```src\Framework\test\Microsoft.AspNetCore.App.UnitTests.csproj```.

[2022-11-29 22:34] davidfowl commented on #45353
This isn't even using a database. It's the least real example you could imagine. This is just a sample to get people started. Hopefully, they run the app and delete the endpoint and don't try to return 150,000 random weather forecasts unpaged from their endpoints 😁

[2022-11-29 22:41] yangzhongke commented on #45353
Thanks for your reply. The official templates should set up a good example for developers, and the redundant 'ToArray()' should be removed. Redundant is redundant. Any misleading usage from officials is intolerable.

[2022-11-29 22:44] davidfowl commented on #45353
I think the `ToArray()` is used here (with a reasonable page size) because typically, you want to materialize the entire payload before serializing it to the response. In the case where there's errors, you want the whole request to fail instead of failing midway during serialization.

Now I don't think that matters as much when all of the is data in memory, but calling this a performance issue is

[2022-11-29 22:47] DamianEdwards commented on #45353
FTR it's 5, not 150000: https://github.com/dotnet/aspnetcore/blob/main/src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/WeatherForecastController.cs#L115

As @davidfowl points out, this is a statically defined sample endpoint and the `.ToArray()` can be rationalized and thus isn't redundant.

[2022-11-29 23:00] yangzhongke commented on #45353
Sorry, I posted the code for the stress test, and I have edited it.
But if I change 5 to 150,000, the GC problem happens.

Does it matter if an exception occurs while serializing a model to JSON?
An error in serializing the model to JSON is occasional; it is normal that the error does not occur. IMHO, our code should provide better performance for code that runs normally.

Competitors may use this

[2022-11-29 23:03] danmoseley commented on #43503
We can use this analyzer https://github.com/dotnet/roslyn-analyzers/pull/6293

[2022-11-29 23:03] danmoseley commented on #43482
We can use this analyzer https://github.com/dotnet/roslyn-analyzers/pull/6293

[2022-11-29 23:19] yaakov-h opened #45355 "Remove IISAuthenticationHandler as suggested by existing comments"
## Background and Motivation

I was digging through the IIS code and came across this:

https://github.com/dotnet/aspnetcore/blob/bc4fd75e5ff4d51fbc5f7cf1452164a03573adab/src/Servers/IIS/IIS/src/Core/IISServerAuthenticationHandler.cs#L14

Since it is now after .NET 6, should this be removed?

## Proposed API

[code]

## Usage Examples

N/A

## Alternative Designs

N/A

## Risks

Somebody might sti

[2022-11-29 23:23] Tratcher commented on #45351
https://openid.net/specs/oauth-v2-multiple-response-types-1_0.html#none

Huh, never heard of that one.

Try OpenIdConnectEvents.OnMessageReceived.
https://github.com/dotnet/aspnetcore/blob/bc4fd75e5ff4d51fbc5f7cf1452164a03573adab/src/Security/Authentication/OpenIdConnect/src/Events/OpenIdConnectEvents.cs#L24

It's not clear that there's anything you can do with this request other than prevent a 40

[2022-11-29 23:25] Nick-Stanton commented on #45294
Thanks for reaching out @bahar-1396. It is hard to troubleshoot this issue without full repro, but if this is all you're doing fresh out of the template then there are a few things missing to get authentication working on your Blazor WASM app. If you have not already checked it out already, please consult the doc page on Blazor authentication below:

https://learn.microsoft.com/aspnet/core/blazor/

[2022-11-30 00:00] captainsafia commented on #45260
Triage: @alienwareone Would you be interested in filling out an API proposal for the the addition of a new property to to the `ApiBehaviorOptions` for this feature?

We can implement runtime behavior that would add the SkipStatusCodePageAttribute by default if the option was enabled.

You can view the API proposal template [here](https://github.com/dotnet/aspnetcore/issues/new?assignees=&labels=ap

[2022-11-30 00:10] davidfowl commented on #45353
The best performing sample would be one that didn't return any data at all, but that's not as useful. The default controller is 5, if you change it to a large number in any language, you'd get similarly bad results (even in C). There's no performance issue with the template, but there is one with the changes that you made to the template.

Like anything else in computer science, when you change th

[2022-11-30 00:23] captainsafia commented on #45265
Triage: This behavior occurs because the moment schema generation for types in OpenAPI is facilitated by Swashbuckle. Even if you set a schema specifically using `WithOpenApi`, it gets overridden in Swashbuckle's schema generator. See https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/2521 for more info. By default, the correct scheme isn't set here.

For now, you might want to consi

[2022-11-30 00:23] davidfowl commented on #45330
PR please 😄 that change looks promising.

[2022-11-30 00:24] davidfowl commented on #45330
@BrennanConroy any working set reduction?

[2022-11-30 00:28] BrennanConroy commented on #45330
Nope, Server GC OP

[2022-11-30 00:30] yangzhongke commented on #45353
Removing 'ToArray()'  is no harm but good. You didn't convince me, but I don't want to insist.
Good day!

[2022-11-30 00:30] #45353 closed

[2022-11-30 00:31] dkokotov opened #45357 "Typed results (such as Created<T>) do not emit type discriminator from attribute-based polymorphic serialization introduced in .NET 7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If I have a type hierarchy with two classes `A` and `B`, where `B` is derived from `A` and `A` contains `JsonPolymorphic` and `JsonDerivedType` annotations, and I then have a request delegate that returned `Created<A>`, the serialized response does not contain the type discriminator property.

[2022-11-30 00:41] vflame opened #45358 "Remove/replace virtual method in UserManager.cs constructor"
## Background and Motivation

Developer found that mocking ```UserManager``` using their mocking framework was problematic because a virtual method (```RegisterTokenProvider(...)```) is called in the constructor. This results in token providers not being registered due to how mocking proxies work. Generally speaking its a bad idea to call virtual methods in constructors ([CA2214](https://learn.mic

[2022-11-30 01:00] #45266 closed

[2022-11-30 02:16] davidfowl commented on #37680
OK seeing the responses here urged me to come up with something in the meantime while we build a cleaner solution to this. The solution has 2 parts to it. A line of code you have to add to the application when you want to override configuration before:

**Application**

[code]

**Test project**

[code]

Here's the magic that makes this work:

[code]

**NOTE: This in the unit test, the call to Crea

[2022-11-30 02:18] dougbu commented on #37651
@mitchdenny try `git clean -dfx` before your build. Something seems confused at the moment in your local repo

[2022-11-30 02:36] captainsafia opened #45360 "Add support for `Finally`-like API to WebApplicationBuilder"
## Summary

This proposal outlines functionality to add support for a `Finally`-like API in the WebApplicationBuilder. This API would support deferring certain actions (like registering services or config) to WebApplication construction.

## Motivation and goals

Support deffering certain aspects of WebApplication-construction until build.

## In scope

## Out of scope

## Risks / unknowns

## Exa

[2022-11-30 02:59] captainsafia commented on #39802
@brunolins16 What do you think about the proposed solution here?

[2022-11-30 03:02] #41362 closed

[2022-11-30 03:56] dantesg commented on #41074
I want to point out that I've just experience the same issue with a legacy app trying to connect to a minimal api .net 7.0
Server code using HttpClient to return Content accordingly.
HTTP/1.1

[code]

Client code on .net 4.6.2
[code]

[2022-11-30 04:41] davidfowl commented on #45330
It's also worth noting that `Results.**` always resolve services from `HttpContext.RequestServices` (which is slightly unfortunate 😢).

[2022-11-30 07:06] pr-benchmarks[bot] opened #45361 "Perf improvement: fortunes_nodejs"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes_nodejs  | NodeJS Fortunes 10- Frameworks Database Amd Linux | 11/29/2022 01:38:01 | 145,449 | 149,280 | 2.63 % (3,831)  :thumbsup:  | 3.48 σ | 1,101.19 | <details>    <summary>Changes</summary>

[2022-11-30 07:37] andref15 commented on #45322
@eiriktsarpalis Is there any way to change this? A null entry in a collection can be pretty annoying, for example the EntityFramework throws an exception in that case.

[2022-11-30 09:08] hexback opened #45363 "[signalr-client-c++] Client send access_token in Qtcreator"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using
[code]
 to set permissions in Qt, compile with debug can be used smoothly, compile with release will crash

### Expected Behavior

get the correct reply when ues siganlr  send access_token in Qtcreator

### Steps To Reproduce

1.using debug to compile can get correct reply（Sometime

[2022-11-30 09:13] SteveSandersonMS commented on #45347
Thanks for the info. I might be missing something, but it sounds like this would be achievable using normal CSS patterns. If not, perhaps it would help to clarify why not.

As long as the components you render can have a CSS class name, or ID, or a parent element with a class/ID, this can indicate which subset of CSS rules should apply to that specific instance. If that's not viable, could you cla

[2022-11-30 09:49] domagojmedo commented on #38112
Being able to just drop in wasm component in MVC/Razor page would 🔥
I know it's possible right now, but it would be great if it would be much simpler

[2022-11-30 09:55] AdamJonsson opened #45364 "Using angular template project. Running "ng serve" independently fails when trying to proxy request to dotnet."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It seems that the template angular project does not work with serving independently.

If one is running `npm start` from `ClientApp` and dotnet separately, angular can not communicate with dotnet.

Angular outputs the following when trying to call weatherforecast.
`[webpack-dev-server] [HPM]

[2022-11-30 10:06] marcominerva opened #45365 "[Minimal API] Incorrect OpenAPI definition of path, query and header parameters when there is a body and we're using WithOpenApi extension method"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

This problem is related to https://github.com/dotnet/aspnetcore/issues/45305, but I have opened a new issue because I have identified a more generic scenario that involves it.

Let's consider the following endpoint:

[code]

This produces a **swagger.json** definition that contains, among the

[2022-11-30 10:14] eiriktsarpalis commented on #45322
I don't believe there is -- generally speaking the library doesn't provide an option for skipping nulls (independent of reference handling).

Is it just collections? What about null properties in an object?

Why would throwing be preferable in this case? Is avoiding cycles in your object graph feasible in your use case?

[2022-11-30 10:25] andref15 commented on #45322
Oh, too bad.

Yes, it's just about collections. Null for properties is fine.

Sorry for the confusion, I don't mean that throwing an exception would be preferable, I mean one of the cases where null entries in a collection are problematic is when using the EntityFramework because this causes an exception to be thrown.

Avoiding the object cycle might be an option for some of these cases, in others

[2022-11-30 10:36] eiriktsarpalis commented on #45322
I mean that's kind of arbitrary. Assuming we implemented a null skipping logic (like Json.NET does) it would skip all nulls, not just in collection elements.

[2022-11-30 10:49] Ghyath-Serhal opened #45366 "SIGTERM signal in .NET 6 app deployed in azure Kubernetes service is not triggered"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the bug

1

I have a .NET 6 application. This application contains a BackgroundService that is used to handler background jobs. These jobs are fired on a certain time based on different schedules.

I need to implement graceful shutdown when the application is stopping, because there might be some runn

[2022-11-30 10:51] andref15 commented on #45322
Well skipping all nulls would be fine as well, I would have expected the DefaultIgnoreCondition WhenWritingNull to include the object cycle handling.
However I don't see what's so arbitrary about skipping null entries in a collection. I would appreciate if you could explain this a little further

[2022-11-30 11:53] AdamJonsson commented on #45364
Thanks for the fast response! Missed that there exist environment variable for the port and URL. Perhaps that info can be added in the official documentation when creating an angular project with dotnet?

[Angular project template with Asp.net](https://learn.microsoft.com/en-us/aspnet/core/client-side/spa/angular?view=aspnetcore-7.0&tabs=visual-studio)

[2022-11-30 12:02] andref15 commented on #45322
Hm, the change of the collection count is true, however I'm also not sure how useful the count is when the items in the array are unusable. IMO it would still be nice to have the option to choose between either of these behaviors

[2022-11-30 12:22] gvreddy04 commented on #38552
I had a similar issue. In the local machine, it is working fine. But when it is deployed through GitHub Actions, I get integrity checks error. I got this issue for Blazor WebAssembly ASP.NET Core Hosted (WebAssemblyPrerender) project. Here is the fix I followed.

- Added the `.gitattributes` file to the solution root folder
- Added the below code at the end of the file:

[code]

[2022-11-30 12:52] fdonnet commented on #44957
just installed 17.4.2 Visual Studio (not working). Waiting this feature for a long time (ability to trigger some JS after binding compared to explicitly call the function from the parent compo OnAfterRenderAsync func)...
Do you have any date for the release on the normal branch (not preview). If it is too long, I will go with my good old dirty way that triggers bad dependencies between my compo (d

[2022-11-30 13:45] alienwareone opened #45369 "Add SkipStatusCodePages property to ApiBehaviorOptions"
## Background and Motivation

When mixing MVC Controllers with Api Controllers in an application, there should be a global setting in [ApiBehaviorOptions](https://github.com/dotnet/aspnetcore/blob/44d89fa215aac65329c71038754063ea8c396e11/src/Mvc/Mvc.Core/src/ApiBehaviorOptions.cs) to turn off the [IStatusCodePagesFeature](https://github.com/dotnet/aspnetcore/blob/44d89fa215aac65329c71038754063ea8c

[2022-11-30 13:47] alienwareone commented on #45260
[[API Proposal]: Add SkipStatusCodePages property to ApiBehaviorOptions](https://github.com/dotnet/aspnetcore/issues/45369#top)

[2022-11-30 14:05] LH-EA opened #45371 "SignalR Client Windows Authentication returning 401Unautorized (update 6.0.11 -> 7.0.0)"
### Description

After updating the version of Microsoft.AspNetCore.SignalR.Client from 6.0.11 to 7.0.0 I receive a 401 (Unauthorized) when trying to start the connection using default credentials. I couldn't find any information about potential breaking changes.

[code]

### Configuration
VS2022
.NET 7
Windows 10
x64
All Browsers

[2022-11-30 14:24] #44226 closed

[2022-11-30 14:26] kulogix commented on #35897
I’ve previously attempted (didn’t get very far) creating a Python library for socket-level load testing of Blazor server apps for use with Locust. As far as I know there is no public solution (FOSS or commercial) that appropriately handles persistent WebSockets, is easily able to establish and manage the Blazor session, and appropriately decode and encode blazorpack (msgpack with the payload lengt

[2022-11-30 14:49] ibe-SAG opened #45370 "OpenIdConnect in version 7.0.0 is targeting only .net core 7.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.OpenIdConnect/7.0.0/
has dependency only on net7.0.
Is it on purpose?
This leads to the fact that if we require to use LTS net6.0 we are unable to upgrade the component.

### Expected Behavior

_No response_

### Steps To Repr

[2022-11-30 15:25] javiercn commented on #45364
@AdamJonsson feel free to send a PR on the docs to add this if you want to contribute.

Otherwise, @Rick-Anderson or @guardrex will add a small comment on the section about launching NPM standalone.

[2022-11-30 15:28] guardrex commented on #45364
I'll take care of it.

[2022-11-30 15:37] javiercn commented on #45351
Did I understand correctly that you want to be able to override the response type dynamically and you are not being able to do so?

Changing the openidconnectmessage inside `BeforeRedirectToIdentityProvider` should allow you to change the prompt parameter.

As for returning the user back, using the MessageReceivedEvent should likely work. For the relevant pieces of code:

https://github.com/dotnet

[2022-11-30 15:53] websolut commented on #45266
I am not sure why it was closed since I am sure there was no connectivity issues between 2 azure services.

[2022-11-30 16:23] BrennanConroy commented on #45363
Capture a network trace and look at what the negotiate response to the client is.
https://learn.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-7.0#network-traces

[2022-11-30 16:27] BrennanConroy commented on #45371
We didn't change much on the client side from 6.0 to 7.0, did you update the server at the same time? Can you try only updating one side at a time and seeing what combo creates the issue?

[2022-11-30 17:12] dlukyanov commented on #10773
Having the following issue:
endpoint returns int
when the return value between `0` and `9` and `content-type=application/json`
iis returning this one byte with `content-encoding: chunked` but actually content is not well formatted because the only chunk contains just one byte returned by api when there should be a length+content.

for response `10+` i see the header `content-length: ...` in respon

[2022-11-30 17:12] mkArtakMSFT commented on #44600
Thanks @Rick-Anderson.
Closing this now, as you have a follow-up issue files.

Thanks @javiercn !

[2022-11-30 17:12] #44600 closed

[2022-11-30 17:13] mehdihadeli opened #45372 "WebApplicationFactory Client returns NotFound for all requests with Overriding Configure method"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi,
I create bellow custom factory for E2E test:

CustomWebApplicationFactory.cs
[code]
Also, this is my Program file:

Program.cs

[code]

When I want to call `WeatherForecast` GET endpoint, with WebApplicationFactory `Client` I get `NotFound` response from client in my test instead of `OK`

[2022-11-30 17:34] captainsafia commented on #45260
Thanks! Closing this one and we'll track the other issue in our API review process.

[2022-11-30 17:34] #45260 closed

[2022-11-30 17:35] michaelrp commented on #45025
We seem to have a similar issue in that a connection string is defined in _appsettings.Development.json_ but not in _appsettings.json_. Version 6.0.7 works fine, but 7.0.0 fails when running `dotnet build`.

[2022-11-30 17:38] affableashish commented on #45174
Also, the documentation misses talking about `RevalidatingServerAuthenticationStateProvider`.

So let me document that here as well:
Basically `RevalidatingServerAuthenticationStateProvider` helps with revalidating the AuthenticationState without having to refresh the page which is especially useful for Single Page Apps.
For eg: You open 2 browser windows of the app and you log out from one browse

[2022-11-30 17:39] Tratcher commented on #45351
FYI do not modify Options after the app starts, those are shared across all requests.

[2022-11-30 17:40] laura-rodriguez commented on #45351
Good call! Thanks 👍

[2022-11-30 17:42] davidfowl commented on #45372
You can't extend the application when you override configure. We should probably throw here.

[2022-11-30 17:44] mehdihadeli commented on #45372
@davidfowl  Why do we have this method on WebHostBuilder? Because on internal hosting process of aspnetcore?

[2022-11-30 17:50] davidfowl commented on #45372
It's been around since ASP.NET Core 1.0 and it's the way the application was configured we built the new hosting API.

[2022-11-30 17:52] mehdihadeli commented on #45372
Ok thanks :)

[2022-11-30 17:56] davidfowl commented on #45370
This is by design. All of the ASP.NET Core packages follow the .NET version and only target a single version. You're supposed to use the version of the package that aligns with your .NET version. So 6.0.x if you're using the current LTS.

[2022-11-30 18:00] davidfowl commented on #45366
Can you make a full minimal repro and provide instructions for how we can see the issue in k8s? I haven't seen the same behavior so its hard to know if it's something in your setup or something in the framework.

[2022-11-30 18:11] Tratcher commented on #45366
cc @bradygaster who is tracking several reports like this.

[2022-11-30 18:35] gurustron opened #45373 "[Minimal APIs] Single `HttpContext` parameter handlers are not workings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It seems that issue described in https://github.com/dotnet/aspnetcore/issues/39956 was not fixed but even got worse -  Minimal APIs handler with single param of type `HttpContext` results in empty response.

[code]

Endpoints suffixed `fails` return empty result while others return "VERB resp

[2022-11-30 19:00] #45340 closed

[2022-11-30 19:00] #45326 closed

[2022-11-30 19:13] tag5 commented on #35897
@kulogix I have also tried to put some hooks inside blazor server source code (dotnet core)
My goal was to understand the reason of this big amount of data in blazorpack messages.
But i am running out of time...

[2022-11-30 19:21] EdSF opened #45374 "Force HTTPS Redirect URIs for all Oauth flows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The redirect uri created for External login flows _can_ have `http` as its protocol/scheme instead of (required) `https`. This will always fail...

### Expected Behavior

Ideally, the redirect uri for OAuth flows should _always_ be `https` . I haven't seen the source code of how this is evalu

[2022-11-30 19:33] Tratcher commented on #45374
See our guidance for dealing with these kinds of issues when behind a reverse proxy:
https://learn.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-7.0

[2022-11-30 20:04] Tratcher commented on #44697
@singh733 we'd also want to ensure that the OperationCancelledException was caused by the request aborting and not something else. See the discussion starting at https://github.com/dotnet/aspnetcore/issues/44697#issuecomment-1289621220

`_logger.UnhandledException(ex);` could be conditional based on RequestAborted, and instead log a message that an unhandled exception was caught for an aborted req

[2022-11-30 20:10] halter73 commented on #8717
API Review Notes:

1. We love the template demo that builds on `signalr_value`.
2. Use `*.hpp` instead of `*.h` for all header files since we're using C++ even if it is header-only with no code.
3. Use `<` instead of `"` for includes.
4. Let's stick with `unique_ptr` for `with_websocket_factory ` and `with_http_client_factory`. We're convinced we can make the tests work somehow.
5. Friend classes

[2022-11-30 21:09] Nick-Stanton opened #45376 "Model Binding Support for TimeOnly and DateOnly"
## Background and Motivation

This is a proposal to add `DateOnly` and `TimeOnly` to the [list of supported simple types](https://learn.microsoft.com/aspnet/core/mvc/models/model-binding?view=aspnetcore-7.0#simple-types) for MVC model binding. Adding this functionality will allow ASP.NET Core and Blazor developers a clean and safe way to convert form/string data into the `DateOnly` and `TimeOnly`

[2022-11-30 22:57] TanayParikh opened #45378 "Quarantine ServerComparison.FunctionalTests.HelloWorldTests.HelloWorld"
## Failing Test(s)

- ServerComparison.FunctionalTests.HelloWorldTests.HelloWorld

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[code]
</details>

## Build

https://dev.azure.com/dnceng-public/public/_build/results?buildId=98033&view=ms.vss-test-web.build-test-results-tab&runId=2091228&resultId=100028&paneView=attachments

[2022-11-30 22:57] TanayParikh commented on #45378
cc/ @Tratcher

[2022-11-30 23:06] adityamandaleeka commented on #45378
Triage: this fails 100% of the time locally and about a third of the time on CI. Let's investigate.

[2022-11-30 23:14] adityamandaleeka commented on #45258
@madhub Is there a security concern or was it just found during the security testing? If you're using a public tool, can you let us know which one it is that flagged this issue?

And just to confirm, after you set the Metadata to only allow GETs you're no longer seeing the other types of requests accepted right?

[2022-11-30 23:17] adityamandaleeka commented on #45350
cc: @mgravell

[2022-11-30 23:17] bradygaster commented on #45366
these seem related: #22272 and #39139

[2022-11-30 23:22] davidfowl commented on #45366
Similar but app service is different to AKS.

[2022-11-30 23:28] #45252 closed

[2022-11-30 23:33] mgravell commented on #45350
Interesting. I guess what gives me pause here is that if you're using some other library historically (or concurrently?), how confident can we be that the meaning (or presence / absence) of the other fields: is compatible with the meanings here. If they're not: the behaviour could be unpredictable. Is this coming from an alternative public/commercial library that I could validate for compatibility