[2018-12-07 20:23] danroth27 commented on #4166
The default identity UI has support for bootstrap 4. You just have to configure it like we do in the templates for you:

[code]

[2018-12-07 20:23] #4166 closed

[2018-12-07 22:03] BrennanConroy commented on #4401
We talked about this in a design meeting and think this is a good approach.

[2018-12-07 22:49] chanan opened #5670 "Exposing the inner ref of an element via BlazorComponent returns an emtpy(?) ref"
I have a component that inherits from BlazorComponent with this code:

[code]

It's used like so:

[code]

Which ultimately prints out to the console what the ref is. Like so:

[code]
One the javascript console I get:
[code]

[2018-12-07 23:12] pagex commented on #3221
switched in project properties from Target from AnyCPU to x64, clean, rebuild, no error this time.

[2018-12-07 23:29] rynowak opened #4521 "Automate AspNetCore-Tooling dependency flow with DARC"
- [x] Get updates from dotnet/arcade
- [x] Get updates from dotnetcore-dev
- [ ] List packages that should be updated
- [x] Add subscription in dotnet/sdk
- [x] Add subscription in aspnet/AspNetCore

[2018-12-07 23:33] rynowak opened #4522 "Automate VS PR Creation from pipelines"

[2018-12-07 23:46] jkotalik commented on #4398
We didn't explicitly test OPTIONS, but the fix works for both HTTP/1.1 and 2.0.   I'll go ahead and test OPTIONS just to be sure.

[2018-12-07 23:57] shirhatti commented on #4151
@nedimsahin It isn't possible to do what you're asking. The `childSource` element is only supported for sites. Global rules must be authored in the applicationHost.config

[2018-12-07 23:57] #4151 closed

[2018-12-08 00:10] shirhatti commented on #4132
@Eilon Can you transfer this issue to the docs repo?

[2018-12-08 00:15] BrennanConroy commented on #4389
cc @shirhatti

[2018-12-08 00:15] shirhatti commented on #4132
@ggirard07 The ASP.NET Core site extensions adds support Azure App Service diagnostics logs and streaming logs- https://docs.microsoft.com/en-us/azure/app-service/web-sites-enable-diagnostic-log#how-to-view-logs-in-application-insights

[2018-12-08 00:16] shirhatti commented on #4132
The post you linked to references the runtime extension which is a mechanism to install preview versions of the ASP.NET Core runtime.

[2018-12-08 01:34] akaylh opened #4690 "How to get the current total number of requests？"

[2018-12-08 01:43] jkotalik opened #4526 "Readd 2.1 CORS functional tests"
We lost CORS FunctionalTests when changing 2.1 to ProjectRef.

[2018-12-08 01:44] #4526 closed

[2018-12-08 01:45] jkotalik commented on #4526
Nvrm, realized project structure changed.

[2018-12-08 01:49] vivmishra commented on #4510
This is fixed.

[2018-12-08 01:49] #4510 closed

[2018-12-08 02:31] whizkidwwe1217 opened #4527 "ASP.NET Core 2.2 Always returns 404 due to "The CORS protocol does not allow specifying a wildcard (any) origin and credentials at the same time." error"
### Describe the bug
Before I upgraded to ASP.NET Core 2.2, everything works fine. But after the upgrade, all requests are returning 404 and always producing CORS related warnings. I didn't change anything except for the asp.net versions.

![image](https://user-images.githubusercontent.com/1977391/49681205-b288f480-fad8-11e8-9b26-d363d74c789c.png)

![image](https://user-images.githubusercontent.co

[2018-12-08 02:38] Tratcher commented on #4507
Duplicate of https://github.com/aspnet/AspNetCore/issues/4206

[2018-12-08 02:38] #4507 closed

[2018-12-08 02:46] Tratcher commented on #4389
This sounds like the HTTP/2 regression we fixed in RTM. Maybe it didn't make it in?

[2018-12-08 04:42] rswetnam opened #4529 "Order of properties when dragging style reference onto editor"
For years, I have dragged style sheets onto the template _LayoutPages in.Net with the resulting line of code something like:
```<link href="~/css/custom.css" rel="stylesheet" /``` which start with the href property.

This is usually placed under the line of code in _Layout that starts with the rel property and looks like this:
```<link rel="stylesheet" href="~/css/site.css" />```

Like a little tr

[2018-12-08 05:39] hez2010 opened #4530 "Doesn't redirect Environment.CurrentDirectory and causes problems"
### Describe the bug
After enabling In-Process hosting, the web app's Environment.CurrentDirectory becomes "C:\Program Files\IIS".

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2.0
2.
[code]
and then add a line in Program.cs above CreateWebHostBuilder:
[code]
3. Run this web app under IIS.
4. You will find it output "C:\Program Files\IIS", but not the a

[2018-12-08 07:38] pranavkm commented on #4527
The CORS warning message was an intentional change in 2.2 to address #3106. I'm not entirely sure about the 404 though, the server response code shouldn't have changed. Any chance you could get a small repro app for this? Maybe your controller action \ endpoint isn't being discovered.

[2018-12-08 08:48] ncthbrt commented on #4387
It appears that the package information still hasn't updated

[2018-12-08 09:26] mrahhal opened #4951 "Api analyzer does't recognize `ApiConventionType` on a base controller"
#### Is this a Bug or Feature request?:
Bug.

#### Steps to reproduce:
[code]

[code]

#### Description of the problem:

In child controllers, the analyzer doesn't realize that there is an api convention being applied and it produces warnings. A workaround is to apply the convention on assembly level.

#### Version of `Microsoft.AspNetCore.Mvc` or `Microsoft.AspNetCore.App` or `Microsoft.AspNetCor

[2018-12-08 09:32] ravi-ku opened #5846 "Registration Page with Mobile Number (OTP) & Name Asp.Net Identity"
Hi,

I am using Asp.Net Identity. But as per my business requirement, I want change my Registration page with below fields:
                  ----------------------------------
1. NAME    |                                                |
                  ----------------------------------
                                                   --------------------------
2. Mobile Number (with OTP)

[2018-12-08 10:49] enetstudio commented on #4527
@whizkidwwe1217,
First off, remove the call to AllowCredentials()...
Well, we don't expect the server to return a message telling the user that the request url was found, but you shouldn't use AllowAnyOrigin and AllowCredentials together, do we ?
Read more here  https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-2.2

[2018-12-08 11:19] seesharper opened #4531 "StackOverflowException when using a DI container that supports variance."
### Describe the bug
I am the author and maintainer of the LightInject DI library and we discovered something strange when upgrading one of our AspNetCore projects to netcoreapp2.2 and setting the compabilitylevel to `2_2`.

Then we started to see a `StackoverflowException` at startup and as fun it is to debug these kind of exceptions, we still managed to track it down to `Microsoft.Extensions.Opt

[2018-12-08 14:37] blowdart commented on #4464
@HaoK

[2018-12-08 15:22] idealser opened #4532 "Microsoft.Aspnetcore.Authorization namespace is missing with .NET Core 2.2"
Microsoft.Aspnetcore.Authorization namespace is missing when using .NET Core 2.2

**To Reproduce**
1. Set TargetFramework of .csproj file to "netcoreapp2.2"
2. Set RuntimeFrameworkVersion to "2.2.0"
2. Include PackageReference "Microsoft.AspNetCore.App"
3. Try to use Authorize attribute or to Microsoft.AspNetCore.Authorization namespace in any controller.
4. Namespace is not found.

[code]

**Expe

[2018-12-08 16:13] pakrym commented on #4531
This is almost certainly connected to using InProcess mode by default in 2.2. CLR inherits stack size of w3wp.exe which is 512K in 64 bit version and 256K in 32bit one.

Seems like LightInject create much deeper stacks when variance is enabled and hits the limit.

[2018-12-08 17:38] #4470 closed

[2018-12-08 17:38] #4471 closed

[2018-12-08 17:40] rynowak commented on #4522
Currently running into issues using the supported build task to actually create the VS PR. Will follow up with the MicroBuild team on Monday.

[2018-12-08 18:12] kieronlanning commented on #4532
I've the same series of issues - with that namespace, and more.

I've postponed our update for now. We really wanted to the supposed HTTP performance improvements in Linux, but it'll have to wait.

[2018-12-08 18:58] shibayan commented on #4128
We already have similar codes written and handled by each:

https://stackoverflow.com/questions/41501612/trouble-getting-claimsprincipal-populated-when-using-easyauth-to-authenticate-ag

I have any idea. Use HostingStartup to injection New EasyAuth middleware. Install from siteextension

Since easyauth implementation should be similar to cookie implementation, it should be relatively easy.

This i

[2018-12-08 19:05] seesharper commented on #4531
@pakrym I am not so sure we are hitting the stack size limit here because of a deep graph.

In my repro project I see this before we die

https://github.com/seesharper/lightinject_aspnetcore2_2

[code]
It looks like it is recursively trying to resolve that service.

Disable variance here and everything is fine.

https://github.com/seesharper/lightinject_aspnetcore2_2/blob/54c2c9dc59e4a87e073558c30

[2018-12-08 19:20] jkotalik commented on #4531
@rynowak @JamesNK thoughts?

[2018-12-08 20:02] pakrym commented on #4531
@seesharper I would like to avoid forcing container authors to actively disable features to pass our spec test.

So first I want to figure out how exactly enabling variance is turning `Microsoft.Extensions.Options.IOptions`1[Microsoft.AspNetCore.Routing.EndpointOptions]` into circular reference. Is it possible to dump which type is being activated to satisfy `Microsoft.Extensions.Options.IOptions`

[2018-12-08 20:11] seesharper commented on #4531
Yeah, I'll have a look at this tomorrow 👍

[2018-12-08 20:13] seesharper commented on #4531
On the top of my head I think it was the OptionsFactory

[2018-12-08 20:14] seesharper commented on #4531
There is some IEnumerable's being injected there

[2018-12-08 21:53] dlandi commented on #3774
@blowdart @davidfowl
<<While there's no technical reason not to, data protection was meant for asp.net core use, and for ephemeral data at that. Moving it out would encourage uses outside of what we'd be willing to support, and when that use can end in data loss it seems to me to be a bad idea to encourage it.>>

Too Late!!! I am already using the DataProtection API in this library:
https://github

[2018-12-08 23:23] UrielMhezzek opened #5671 "How to get self referenz from events?"
Hello,
how can i get the self referenz by blazor/c# events like javascript?

[code]

[2018-12-08 23:29] seesharper commented on #4531
The trouble starts at OptionsFactory

https://github.com/aspnet/Extensions/blob/release/2.2/src/Options/Options/src/OptionsFactory.cs

The type being requested is `OptionsFactory<Microsoft.AspNetCore.Routing.EndpointOptions>`

Injection the following dependencies.

`System.Collections.Generic.IEnumerable<Microsoft.Extensions.Options.IConfigureOptions<Microsoft.AspNetCore.Routing.EndpointOptions>>`

[2018-12-09 01:09] pranavkm commented on #4527
That's a mystery to me as well. A repro app would certainly help. The most significant change in 2.2 that might affect you was the introduction of Endpoint Routing - you could try eliminating it as a possible source of the issue by trying to turn it off: `services.AddMvc(options => options.EnableEndpointRouting = false)` assuming you're running with 2.2 `CompatibilityVersion`

[2018-12-09 07:40] vivekkingston opened #5398 "How to properly reconnect signalr without memory leak"
In  angular6 website  with ASP.NET server application ,
I want the singnalR client should always stay connected with Hub(Server). For that purpose started the connection on disconnected event with below code snap.

        this.connection.start().done((data: any) => {
            console.log('Now connected');
            this.connectionId = this.connection.id;
            this.connectionEstablishe

[2018-12-09 08:47] #4527 closed

[2018-12-09 09:20] MasHero7 opened #4536 "Loading failed for the <script> with source “https://localhost:44374/Content/MetronicRTL/assets/global/plugins/jquery-1.11.0.min.js"
I've included the MetronicRTL template to my asp.net core 2.1 web application in a folder I created and called Content.
Then I updated the _layout file as the layout_blank_page from the metronic like this:

`
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Metronic | Page Layouts - Blank Page</title>
    <meta http-equiv="X-UA-

[2018-12-09 09:53] mac-bhaird commented on #4206
Used @danjohnso solution above, early tests are promising.

It seems to me that reading local files for configurations that can be updated via CD tooling is a pretty common use case.

[2018-12-09 09:55] mac-bhaird commented on #4530
This is covered here also: https://github.com/aspnet/AspNetCore/issues/4206

[2018-12-09 12:11] pksorensen commented on #4150
From a user that dont already read the docs i did use some time here to find out that the enviromentname is defaulted to production ( also causing some pain to find out it altered production environment).

I think it would have been a good idea to add environment variables as default to hostconfiguration :)
and use a fallback on aspnetcore_environment.

I just added to my solution
[code]

[2018-12-09 12:43] psmyrdek opened #4537 "[Razor] Named section is being rendered in a wrong place"
### Describe the bug
Based on my knowledge, setup I've shown you on a screenshot below should help me render given part of my page in `<head></head>`, and the rest in `<body></body>`. Unfortunately, section named `Head` gets rendered as a first line in body. Am I doing something wrong here?

### Expected behavior
Section should be rendered in `head` tag.

### Screenshots
![image](https://user-imag

[2018-12-09 12:56] psmyrdek commented on #4537
Ok got it. It's browser behavior - https://stackoverflow.com/questions/47209770/mvc-section-not-rendered-in-head-but-in-body

[2018-12-09 12:56] #4537 closed

[2018-12-09 13:16] thuannguy commented on #3774
DP has become my favorite tool whenever I have a need to protect data, regardless of what environment it is used for 😟 As Murphy's law said: "whatever can happen will happen" 😈

[2018-12-09 13:52] onovotny commented on #3774
We've encountered use of DP API in desktop applications from different clients. In that context, it's generally been used to secure credentials or other secrets entered by the user in the application settings.

I'd suggest that DP API has a lot of uses in the interactive desktop scenarios as is in scope for .NET Core 3.

[2018-12-09 13:59] kishanAnem opened #4538 "Upgrading to dotnet version 3.0.100-preview1-009017 not able to run MVCSandBox app"
After rebase to Aspnet.MVC
ran build.cmd it got

[code]

[2018-12-09 15:34] kishanAnem commented on #4538
Setting DOTNET_ROOT environment variable. The problem got fixed.

[2018-12-09 15:34] #4538 closed

[2018-12-09 16:12] Microshaoft commented on #3729
Is HTTP/2 multiplexing feature in preview yet in ASP.NET CORE 2.2?
@Eilon

[2018-12-09 16:18] Tratcher commented on #3729
@Microshaoft yes, it has released.

[2018-12-09 16:39] jsheetzati commented on #4483
We are also using `.AllowAnyOrigin()` + `.AllowCredentials()` and do not have a known list of origins because we are publishing a Cordova application to mobile devices. Any suggestions?

[2018-12-09 18:58] pavsavov opened #4539 "ASP.NET Core 2.2 after scaffolding Identity Autogenerated Login.cshtml.cs file provides _signInManager.PasswordSignInAsync with wrong parameters!"
Using this version of ASP.NET Core '2.2'

Here is my configuration for using Identity.

            services.AddIdentity<SuperCharactersUser, IdentityRole>(options =>
               {
                   options.Password.RequireDigit = false;
                   options.Password.RequiredLength = 3;
                   options.Password.RequiredUniqueChars = 0;
                   options.Password.Requi

[2018-12-09 19:06] davidfowl commented on #3774
Maybe worth making a proper System.* API for it.

[2018-12-09 19:41] PinpointTownes commented on #3774
@davidfowl it's certainly an option, but it also means you won't be able to make breaking changes to DP if it's part of CoreFX, even in major releases (and the review process will be fairly complicated, as the API surface is quite large).

I'm not sure it's worth going that far: moving DP to `Microsoft.Extensions.*`, removing the hosting dependency and keeping it .NET Standard-compatible would be

[2018-12-09 21:10] Tratcher commented on #3774
The bar for breaking changes isn't as different as you imply. You can also expect the APIs to get heavily reviewed if we're going to expand the supported scenarios.

[2018-12-09 21:17] PinpointTownes commented on #3774
Each major version of ASP.NET Core was released with many breaking changes (in 2.0, the most important one was authentication, in 3.0, it will be the hosting stuff). I'm not aware of any API removal in .NET Core/CoreFX itself. Have I missed something?

Correct me if I'm wrong, but the reviewing process you use for ASP.NET Core seems way different (much simpler) than the one used for .NET Core (eac

[2018-12-09 21:36] PinpointTownes commented on #3774
Using DP outside of ASP.NET Core doesn't mean using it for long-lived data (in my specific case, I want to use it for access tokens, that typically expire after a few hours max).

Anyway the documentation clearly states that you can already use DP to protect long-lived data, tho' it's not the best option for that:

https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/introduction?

[2018-12-10 01:51] VAchris commented on #1961
I thought it was important to highlight a couple of things for those who use IIS as your web server.

1. You can run ASP.NET Core using the .NET Framework
1. You run Web Forms using the .NET Framework
1. You can deploy a single site that contains an ASP.NET Core and Web Forms stack together
1. Important detail! Out of the box the ASP.NET Core and Web Forms do not share internal processes. To illus

[2018-12-10 03:09] TKharaishvili commented on #3670
@Tratcher sent a PR for this - https://github.com/aspnet/AspNetCore/pull/4542 but some of the CI tasks were unsuccessful, however this is only just a comment update and it doesn't require a build to check whether everything's fine.

I'm not sure how to rerun CI or what else to do from this point forward so I'd appreciate some advice.

Thanks.

[2018-12-10 04:30] #3670 closed

[2018-12-10 05:52] HuUncle opened #4543 "Microsoft.Aspnetcore ModelBinding throw Cannot access a closed Stream with .NET Core 2.1"
[code]

When I using under code , modelbinding throw System.ObjectDisposedException: Cannot access a closed Stream exception。

[code]

[2018-12-10 07:15] davidfowl commented on #4543
What does the server side code look like?

PS: Why are you using .Result here:

[code]

Change this to await:

[code]

[2018-12-10 07:41] HuUncle commented on #4543
@davidfowl
I was using this code
`var response = await _fixture.Client.SendAsync(postRequest);`
but it's throw same exception , this is my full code。
The exception occur only in when I use xunit integrate tests

[code]

[code]

[2018-12-10 08:11] valeriob commented on #4253
I was able to mitigate the issue in production by increasing the threadpool min value.
What i do not yet understand is that the same business logic and load was fine with mvc5.
Thanks for the support.

[2018-12-10 08:11] #4253 closed

[2018-12-10 08:14] davidfowl commented on #4253
@valeriob I'd be interested in 2 things:
- What do the performance counters for the request queue look like under this load on .NET Framework
- What are the min threads set to on .NET Framework.

[2018-12-10 08:31] valeriob commented on #4253
hi David,
1) they pile up, and then suddenly they all get served, in the meanwhile the thread count rises with speed 1 thread per second.
2) never had to mess up with them, so the default. It's a 4 core vm.

[2018-12-10 09:10] HuUncle commented on #4543
I find this exception caused by  I create custom LoggingProvider :
` loggerFactory.AddMicroLog(app, "Supplier.API");`

the custom logger seems like and the default log level  is Debug  :

[code]

[2018-12-10 09:29] davidfowl commented on #4253
Do you have access? What does the queue look like?

Sure but your hoster might. Azure App service for example changes the defaults.

[2018-12-10 13:15] flo8 commented on #1976
Any news on this side? We also have the same behavior in ASP.Net Core v2.1. From what I can see in the commit https://github.com/aspnet/AspNetCore/commit/659fa967a1900653f7a82f02624c7c7995a3b786 it seems there was a memory management problem that is going to be fixed in v3.0?

[2018-12-10 14:13] leem2714 commented on #3748
Sorry for very late reply.

let's have a look at this - I need to work with HttpClient and for that I had to install System.Net.Http Nuget package from Nuget package manager,
once I installed this package now it is showing me error saying that:-

[code]

Although I do have dotnet version 2.1 installed in my machine(before this nuget package the build and everyother was working fine)
![image](https

[2018-12-10 14:21] blowdart commented on #4539
This isn't the wrong parameter.

Username is the unique key in ASP.NET Identity, but in order to make things "easier" when a user is created the username and email address are identical. Emails can be duplicated, by default, unless you set the option to require emails to be unique,

[2018-12-10 14:21] CarlosLanderas opened #4544 "Healthchecks middleware authentication"
Hello, I would like to know if you have plans to add any kind of authentication in the healthchecks middleware. Some people migrating from [BeatPulse](https://github.com/Xabaril/BeatPulse) to [AspNetCore.Diagnostics.HealthChecks](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks) is [missing this feature](https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/21#issueco

[2018-12-10 14:31] carlowahlstedt commented on #3849
@jkotalik now that 2.2 is released, did the documentation get completed?

[2018-12-10 14:36] BrennanConroy commented on #4389
Nupkg has the change so it's not that.

[2018-12-10 14:57] jaydeept opened #4545 "Microsoft.AspNetCore.Mvc, Version=2.2.0.0 is giving an error "System.IO.FileNotFoundException""
I have started using .Net Core 2.2 recently and I got one WebApp related test cases there, where I am using

 from

. While executing the test cases I am seeing below error:

[code]

My Visual studio version is: Professional 2017 15.9.3. The same piece of code used to work with .Net Core 2.0. Is it kind of regression?

[2018-12-10 14:58] pavsavov commented on #4539
If I am correct, by default you can not register unless you provide email. That is the [Email] attribute doing, right?

[2018-12-10 15:08] ggirard07 commented on #4132
@shirhatti thanks for your link but this one only describe how to integrate ASP.Net Core logs to Application Insights. It does not explain what is the purpose of the extension neither why nor how to use it...

Later in the page you referred, I found this note:

- Do I need to understand that the site extension `ASP.NET Core Logging Extensions` actually contains the `Microsoft.Extensions.Logging.Az

[2018-12-10 15:09] Abarbz opened #4546 "Basic UTF-8 encoded html pages served through UseStaticFiles don't have their ContentType charset correctly set"
### Description
When serving static utf-8 encoded html pages with Asp.Net Core's UseStaticFiles, the response ContentType is set to `text/html` and not `text/html; charset=utf-8`

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NET Core v2.1.0, create a new Web API project, and disable IIS integration.
2. Add `.UseDefaultFiles().UseStaticFiles()` to `Startup.Configure()`
3. Create a

[2018-12-10 15:10] emilmuller opened #5399 "How does DI work in regard to DbContext and hubs?"
According to the documentation at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.2:

And the definition for a scoped lifetime:

What does that mean when injecting scoped instances into hubs, e.g. DbContexts? Are they disposed of at the end of the request - i.e. when the websocket gets closed? Or when a method call ends?

[2018-12-10 15:47] ststeiger commented on #1961
@VAchris: I have ReportViewer working on .NET Core on Windows, and partially on Linux.
Note: still some trouble with custom code. Nothing that can't be worked out...
https://github.com/aspnet/AspNetCore/issues/1528

[2018-12-10 15:51] TanvirArjel opened #4547 "Why `Directory.GetCurrentDirectory()` doesn't work in `InProcess` hosting model"
I am trying to accessing the `appsettings.json` file in the `Main` method of the `Program` class as follows:

[code]

It works fine without `InProcess` hosting model but does not work in `InProcess` model and throws the following error:

Now my questions are:

1) Why `Directory.GetCurrentDirectory()` doesn't work in `InProcess` hosting model?
2) What is the alternative solution to this to access t

[2018-12-10 15:53] benaadams commented on #1976
@flo8 have you tried upgrading to 2.2 and checked the behaviour? https://dotnet.microsoft.com/download

[2018-12-10 16:59] rynowak opened #4548 "[RPS] Roslyn Completion Provider is now also loading Razor.Language"
## The hits keep coming!

Our (old) completion provider is now loading Razor.Language when it loads. This is failing RPS and blocking us doing an insertion.

I'm not sure why this is suddenly happening - but we're inserting about 5-6 weeks worth of open development in this PR.

![image](https://user-images.githubusercontent.com/1430011/49747884-3bc73500-fc59-11e8-9cb0-73050b8b9743.png)

/cc @NTayl

[2018-12-10 17:00] Eilon opened #4549 "IUrlHelper behave strange for new version of .net core 2.2"
_From @benzhi2011 on Wednesday, 05 December 2018 15:00:37_

IUrlHelper behave strange for new version of .net core 2.2

Helper method that is working for all early version
[code]
about one line of code return the Url of the executing MVC controller, in my case here it should return DNS + /Login/SSO and this code has been working for .core 1.1 and 2.1

After I updated to 2.2 this  serviceUrl return

[2018-12-10 17:00] Eilon commented on #4549
_From @benzhi2011 on Thursday, 06 December 2018 08:29:24_

I forgot to mention that my Project is asp.net core 2.2 **>.NET Framework**
I can reproduce this error by creating new project with version 2.2
Create a new controller and ContactController
Create UrlHelperExtensions class with method AbsoluteRouteUrl.
Then use code
    `string serviceUrl = Url.AbsoluteRouteUrl("default");`
in WhateverCont

[2018-12-10 18:13] mikaelm12 commented on #4393
This was approved for the 2.2.2 patch

[2018-12-10 18:24] mikaelm12 commented on #4387
I'll take a look

[2018-12-10 18:31] mkArtakMSFT commented on #4549
Thanks for contacting us, @benzhi2011.
@JamesNK, can you please provide info regarding what has changed in this area and whether the changes were intentional or not? Thanks!

[2018-12-10 18:58] JunTaoLuo commented on #3652
@livarcocc FYI all aspnetcore shared frameworks are now crossgen'ed. I'm not sure if there is any reactionary work required on your side for this.

[2018-12-10 18:58] #3652 closed

[2018-12-10 19:43] natemcmaster commented on #2706
Removing from Backlog and assigning to @muratg for re-triage.

Per our last discussion w.r.t. shared frameworks and packages, we do not plan to ship this as a standalone NuGet package anymore. We are interested in either (A) making this API part of corefx or (B) making the API entirely internal:

- (A) Consider moving this into corefx
  * Need to work with the corefx team to de-dup our APIs and me

[2018-12-10 19:54] #4219 closed

[2018-12-10 20:01] christiannagel opened #4551 "Use ILogger without dependency injection"
Without using a dependency injection, it was possible to create a logger using the LoggerFactory, such as

[code]

https://github.com/ProfessionalCSharp/ProfessionalCSharp7/blob/master/Diagnostics/LoggingSample/LoggingWithoutDI/Program.cs

As the extension methods for ILoggerFactory are now obsolete, how can a logger created without a DI container?

[2018-12-10 20:17] campersau commented on #4547
@TanvirArjel see https://github.com/aspnet/AspNetCore/issues/4206. workaround https://github.com/aspnet/AspNetCore/issues/4206#issuecomment-443859337

[2018-12-10 20:21] Tratcher commented on #2706
How would internal work in this case? They types are used in several other packages.

[2018-12-10 20:37] natemcmaster commented on #2706
This is part of the "more investigation required". We need more data on just how many public APIs would be affected.

[2018-12-10 21:05] muratg commented on #2706
@Tratcher could you please take the helm on this one?

[2018-12-10 22:14] rynowak opened #4556 "Investigate reported change in link generation behaviour"
See: https://github.com/aspnet/Docs/issues/9886#issuecomment-445507613

https://github.com/nimeshdhruve/WebAPIRoutingDemo

[2018-12-10 23:35] NTaylorMullen commented on #4548
Verified offline.

[2018-12-10 23:35] #4548 closed

[2018-12-10 23:38] natemcmaster commented on #4370
I manually fixed the list, but we should still consider adding better tooling to ensure we don't regress this.

[2018-12-11 01:05] TanvirArjel commented on #4547
@campersau I have seen issue #4206 before posting this issue. Unfortunately no logical solution found from the answers of that issue.

[2018-12-11 01:10] natemcmaster opened #4561 "Remove duplicate copies of Microsoft.Web.Xdt.Extensions"
We have two copies of this code. Let's condense to one.

https://github.com/aspnet/AspNetCore/blob/master/src/SiteExtensions/src/Microsoft.Web.Xdt.Extensions/Microsoft.Web.Xdt.Extensions.csproj
https://github.com/aspnet/AspNetCore/blob/master/src/AzureIntegration/src/Microsoft.Web.Xdt.Extensions/Microsoft.Web.Xdt.Extensions.csproj

Let's also clarify whether or not this needs to produce a NuGet pa

[2018-12-11 03:51] jkotalik commented on #4547
Our recommendation to work around this is to use the following: https://github.com/aspnet/Docs/blob/master/aspnetcore/host-and-deploy/aspnet-core-module/samples_snapshot/2.x/CurrentDirectoryHelpers.cs. We will be fixing this behavior in an eventual patch.

[2018-12-11 04:32] Nness commented on #3106
@pranavkm @blowdart

Isn't this a breaking change? I understand it is security change, but as it returns * instead of convert to request's origin value, it breaks client side code.

From version number, it is cors 2.2 package. If it is breaking change, it should be in 3.0 not 2.2 right? How come this got passed and deployed to 2.2 package?

Personally I can get around this, since it happened on no

[2018-12-11 04:38] pranavkm commented on #3106
Yup, I'll get this added to the migration notes.

[2018-12-11 04:58] JamesNK commented on #4396
@Eilon Fixed in 3.0 here https://github.com/aspnet/AspNetCore/pull/4459

I think it is a candidate for a 2.2 service release.

[2018-12-11 04:59] nolisj opened #5672 "Missing VSIXAssemblyInfo.cs in BlazorExtension output"
Hi! After removing all errors during the build of the Components solution, I have one pending error that I do not understand how to fix. I keep getting this error:

---
CS2001	Source file '[myrootfolderhere]\src\Components\artifacts\obj\Microsoft.VisualStudio.BlazorExtension\\Debug\Microsoft.VisualStudio.BlazorExtension.VSIXAssemblyInfo.cs' could not be found.
---

(fyi, note that there's a double

[2018-12-11 05:08] TanvirArjel commented on #4547
@jkotalik  Please tell me how shall I use this in place of `Directory.GetCurrentDirectory()` in the above code. Thank you.

[2018-12-11 09:03] dillenmeister commented on #4545
We're experiencing the same issue:

[code]

[2018-12-11 09:30] leung85 opened #4562 "Microsoft.AspNetCore.Signalr 1.1.0 cannot be install via NuGet"
### Describe the bug
Microsoft.AspNetCore.Signalr 1.1.0 cannot be installed with a simple web api project
because of version not compatible vserion of Microsoft.AspNetCore.App 2.1.1

### To Reproduce
Steps to reproduce the behavior:
1. Create new WebAPI project with vs2017
2. Open NuGet Manager
3. Search Microsoft.AspNetCore.Signalr
4. Install Microsoft.AspNetCore.Signalr
5. Error

### Expected be

[2018-12-11 09:33] gfoidl commented on #4547
Copy the linked class to your project and see https://github.com/aspnet/AspNetCore/issues/4206#issuecomment-445612167

[2018-12-11 09:48] Muchiachio commented on #4549
May be related to #4418.

[2018-12-11 10:15] DM2489 commented on #2019
We've moved over to using `<EnvironmentName>` in our publish profiles now. It would be nice to have som UI on top of this so that it is visible. I presume this will come at a later date?

[2018-12-11 10:32] DM2489 commented on #3793
I'm stilll seeing this issue too. My project files are referencing `Microsoft.NET.Sdk.Web`, but it is not dropping an `app_offline.htm` file automatically, as stated it should in the docs.

[2018-12-11 10:51] MasHero7 commented on #4536
because no intelligent one answered me I'll answer my self and close this issue!
simply I should put all css and js files in wwwroot folder in the application folder
Thanks for every one saw the issue and know the answer and doesn't write any reply!

[2018-12-11 10:51] #4536 closed

[2018-12-11 11:48] kameleon71 opened #4564 "ASP.NET Core 2.2 memory leak"
Hello all,
I found memory leak when I sent files to API using IFormFile interface.
With version 2.1 everything is ok.

Simple example:
Content-type: multipart/form-data

# controller
[code]
# viewmodel
[code]

# process dotnet.exe
![image](https://user-images.githubusercontent.com/45788355/49796161-3ee72180-fd3c-11e8-8128-18d81b9b8ad6.png)

[2018-12-11 12:02] holajan commented on #1528
Hi, I'm interesting about LocalReport on .NET Core to export rdlc report to PDF.
For me Windows only version is fine for now.

I came across NuGet package AspNetCore.ReportingServices by @amh1979 which is exactly what i need.
Problem is that InternalLocalReport class in this package is internal and I need to access whole API (like in original MS LocalReport implementation) for eq. to use Subreport

[2018-12-11 13:45] leandro-almeida opened #4566 "Duplicate ASPNETCORE_Environment present for InProcess hosting causes ASPNET CORE 2.2 fails to load appsettings"
After 2 days trying to figure out, i think i discovered a bug:

1) I already had set manually the ASPNETCORE_ENVIRONMENT on Windows Server 2016 environment variables.
2) After 2.2 release, i decided to update the publish profile .pubxml to include the desired environment, for instance:

`<EnvironmentName>Development</EnvironmentName>`

**This generates the web.config:**
[code]

3) When i published

[2018-12-11 13:58] leandro-almeida commented on #4547
I changed to:
[code]

[2018-12-11 14:03] NinjaSciurus opened #5673 "Mono.Cecil.AssemblyResolutionException because of typo in assembly name"
I am trying to build (Ctrl + F5) on Windows 7 with VS2017 using the following Blazor Nuget Packages:

[code]

The `BlazorLinkOnBuild` property in the csproj file is set to `true`:

[code]

The build fails with
[code]
Note the typo in the assembly folder name: it says "configration" instead of "config**u**ration" in the path (missing 'u'). The strange thing is, I've seen the same message with anoth

[2018-12-11 14:23] TanvirArjel commented on #4547
@leandro-almeida Not working as expected! Throwing the following exception:

[2018-12-11 14:46] gfoidl commented on #4547
@TanvirArjel have you looked if `appsettings.json` is in the path from the exception-message?
It won't be there, because nobody copied it there :wink:

You can copy it to this location (CopyToOutputDirectoy in properties) or step in the path two level upwards, or use the "official workaround" linked from above.

[2018-12-11 14:50] TanvirArjel commented on #4547
@gfoidl I have understood the error message. but my question is why isn't not automatically copied to bin folder accurate directory on build?

[2018-12-11 15:19] gfoidl commented on #4547
Because nothing tells MsBuild to do so. `appsettings.json` has "Copy to Output Directory" set to "Do not copy" by default. You can change this if you want to "Copy if newer", the it will be copied to the build-outputpath.

During publishing the paths are fixed up as expected. But you are running from inside VS (F5)?

[2018-12-11 16:00] danjohnso opened #4567 "Razor Content Change not Picked Up in 2.2"
### Describe the bug
When debugging, if I make a change to a razor file and refresh my browser page, the changes are not reflected.

### To Reproduce
1. Start debugging
2. Load page
3. Change razor content
4. Refresh page in browser

### Expected behavior
Content should be updated to match changes in razor file

### Additional context
If I set compatibility mode to 2_1, it works as expected where

[2018-12-11 16:44] BrennanConroy commented on #4562
If you update SignalR you need to update the runtime too, so Microsoft.AspNetCore.App 2.2.0

[2018-12-11 16:47] rynowak commented on #4567
We made an intentional change in 2.2 - we now only listen to file changes for view recompilation when the environment is set to development. The file watcher was causing significant problems in containers, and other deployment environments where the file system isn't expected to change.

https://github.com/aspnet/AspNetCore/blob/release/2.2/src/Mvc/src/Microsoft.AspNetCore.Mvc.Razor/RazorViewEngin

[2018-12-11 16:53] danjohnso commented on #4567
Hmmm, we use "Local" when debugging locally from VS.  "Development" is a deployed environment name to us.  Didn't see any mention of this in any of the 2.2 posts, was there an issue in the release mentioning this change?  Looks like I can just change that conditional to use Local for our use case

[2018-12-11 16:55] rynowak commented on #4567
@danjohnso - you're right, I can't find an announcement of this. We'll get that fixed.

[2018-12-11 17:03] leung85 commented on #4562
@BrennanConroy
Yes, i know that . i have a lot experience to due with the update problem loop :(
I am not update the package. i am create a new project and search signalr then install. i think it should block the version signalr 1.1.0. if i am use 2.1 SDK.

Why i report this as bug, because i have an 2.1 SDK project, when i check update, NuGet tell me you have an update, so i go to update , after

[2018-12-11 17:07] kenso23 opened #4568 "AspNetCoreModuleV2 - web.config - but no module in publish"
Hi

I have an asp.net core 2.2.1 application, that i upgraded from 2.0, using the full framework. When i deploy the application to Azure It writes this to the web.config file:
[code]

But the AspNetCoreModuleV2 module is not publish to Azure App Service. I can not find it in Nuget or as a part of the All package.

Hope somebody can clarify this.

[2018-12-11 17:11] #4567 closed

[2018-12-11 17:20] mkArtakMSFT commented on #4556
@JamesNK, can you please look into this? Thanks!

[2018-12-11 17:45] pakrym opened #4570 "Change logging site extension package name/description"
as noted by @guardrex

I think he is correct about all of them, we should fix it before 3.0

[2018-12-11 17:57] sander1095 opened #4571 "BackgroundService on a timer: TimedBackgroundService"
### Is your feature request related to a problem? Please describe.
I discovered ASP.NET Core 2.1 has a `BackgroundService` that can be easily used for long running async tasks. It sadly does not have the option to run it on a timer which could be very handy since we are creating an abstraction for `IHostedService` anyway.

I _could_ remember the last time the method ran and then, if x time passed,

[2018-12-11 18:23] AndriySvyryd opened #5400 "signalr-protocol-msgpack 1.1.0 TS definitions are incompatible with signalr 1.1.0"
Types of property 'parseMessages' are incompatible.
    Type '(input: ArrayBuffer | Buffer, logger: ILogger) => HubMessage[]' is not assignable to type '(input: string | ArrayBuffer, logger: ILogger) => HubMessage[]'.
      Types of parameters 'input' and 'input' are incompatible.
        Type 'string | ArrayBuffer' is not assignable to type 'ArrayBuffer | Buffer'.
          Type 'string' is not a

[2018-12-11 18:34] Code-DJ commented on #4568
@kenso23 did you see the "Availability in Azure App Service" section in the announcement blog: https://blogs.msdn.microsoft.com/webdev/2018/12/04/asp-net-core-2-2-available-today/

[2018-12-11 18:38] kenso23 commented on #4568
Ahh, no I didn’t- sorry I should have noted it.

Thank you for quick answer!

[2018-12-11 18:38] #4568 closed

[2018-12-11 18:39] pierslawson opened #4573 "OAuth does not play well with Web Application Firewall"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '...'
2. Run this code '....'
3. With these arguments '....'
4. See error

### Expected behavior
A clear and concise description of what you expected to happen.

### Screenshots
If applicable, add screenshots to help explain your problem.

[2018-12-11 18:41] #4573 closed

[2018-12-11 18:47] Eilon commented on #4396
Can we come up with an easy-to-use workaround for people affected by this? Like, "here, add these 5 lines of magic code to your startup to get the old behavior"? I'm not entirely opposed to an actual patch, but patches have their own risks.

[2018-12-11 19:04] JamesNK commented on #4396
The only workaround is going through your app, finding affected controllers, and moving the `ConsumesAttribute` like here: https://github.com/aspnet/AspNetCore/issues/4396#issuecomment-444359491

[2018-12-11 19:06] JamesNK commented on #4396
Another person with this issue: https://github.com/dotnet/core/issues/2098#issuecomment-444985993

[2018-12-11 19:15] pakrym commented on #4531
Looks like you are right. Resolution path that breaks is `ConfigureEndpointOptions` -> `IEnumerable<EndpointDataSource>` --> `CompositeEndpointDataSource` -> `IOptions<EndpointOptions>` -> `ConfigureEndpointOptions`.

Worth noting that in 3.0 things work again because registration pattern changed.

Nevertheless, we don't expect or plan for the behaviour of variance resolution so this might happen

[2018-12-11 19:39] JamesNK commented on #4531
Some kind of test that attempts to resolve every registered service with a DI framework that supports variance would be ideal.

[2018-12-11 19:40] JamesNK commented on #4556
I'm having trouble compiling the routing solution. When that is solved then I'll look at link generation behaviour.

[2018-12-11 19:42] pakrym commented on #4531
Where are we going to put such a test?

[2018-12-11 20:14] Tratcher commented on #4546
StaticFiles sets the Content-Type based on file extension, it has no knowledge of the file encoding. Where would you get that information?

[2018-12-11 20:32] JamesNK commented on #4531
I don't know. It is kind of a framework level functional test.

My point of view is it is better to put a fence at the top of the cliff, and have test that checks all registered services and prevents this before we release, than wait until something blows up and add fixes and tests as bugs come in. Right now there is zero test coverage of resolving ASP.NET registered services when using variance,

[2018-12-11 21:12] cccuscott opened #4574 "ModelState cannot be added to TempData (cannot be serialized)"
Was this ticket brought over when the github changed?

https://github.com/aspnet/Mvc/issues/4190

[2018-12-11 22:19] BrightSoul opened #4578 "Outbound route parameter transformer not working on ASP.NET Core MVC unless I use attribute routing"
### Describe the bug
An outbound route parameter transformer works only when I use attribute routing. Instead, I think it makes more sense if it worked even with the default route.

### To Reproduce
Register an outbound route parameter transformer like this.
[code]
Where `MyParameterTransformer` is an implementation of ` IOutboundParameterTransformer`.
[code]
Now, when I visit the path `/Welcome`

[2018-12-11 22:28] BrightSoul opened #4579 "Outbound route parameter transformer should support dependency injection"
### Is your feature request related to a problem? Please describe.
When I register an outbound route parameter transformer, I should be able to register it as a type and not an implementation. This way, I could leverage ASP.NET Core dependency injection. Infact, I might need to read configuration or the database to decide how to do transformations.

### Describe the solution you'd like
I register

[2018-12-11 22:32] natemcmaster commented on #4246
FYI - here is the script I've been using to convert Project/Package refs to just `<Reference>`

https://gist.github.com/natemcmaster/40556be8f8d821a225f48afbd743bbeb

Usage:
[code]

[2018-12-11 23:03] muratg commented on #4382
Related: https://github.com/aspnet/AspNetCore/issues/4388

[2018-12-11 23:05] BrightSoul commented on #4578
Thanks for the quick reply, however I still cannot make it work. The documentation you provided states:

But... how exactly? A detailed example would be nice since this is somewhat confusing... Basically it's asking me to add a class that's not implementing `IRouteConstraint` to the constraint map? Like so?
[code]

[2018-12-11 23:10] cgrady17 commented on #4566
I've also encountered this issue (ironically, also due to an environment-specific Hangfire DB connection string) when trying the InProcess hosting model. It appears that, when InProcess, the `System.Environment.GetEnvironmentVariable(string)` call will return multiple environment variable values, delimited by a `;`. I assume this is the result of defining the environment variable name in multiple

[2018-12-11 23:10] JamesNK commented on #4578
Correct

[2018-12-11 23:49] Tratcher opened #4582 "Refactor Microsoft.Extensions.Identity.Core and Identity.Stores as netstandard2 packages"
@blowdart @PinpointTownes
https://github.com/aspnet/AspNetCore/pull/4523#issuecomment-446323776

There's some desire for these as standalone packages. Unfortunately they were never properly factored for that.
- The packages depended on AspNetCore DataProtection
- The namespaces inside the packages are all AspNetCore, not Extensions

[2018-12-11 23:54] PinpointTownes commented on #4582
Yes, please :+1:

[2018-12-12 00:00] PinpointTownes commented on #4582
Don't forget the EF Core stores package that should be renamed and whose dependency on [`Microsoft.AspNetCore.Identity` should be removed](https://github.com/aspnet/Identity/pull/1188#issuecomment-304474562).

[2018-12-12 00:37] muratg commented on #4370
@mikaelm12 feel free to sync-up with me to clarify this.

[2018-12-12 00:42] natemcmaster commented on #4183
_Build triage:_ we are going to workaround this by adding projects to our .sln files. Whenever we get NU1105, the solution should be edited to add the missing project.

[2018-12-12 00:44] natemcmaster commented on #4183
@JamesNK @JunTaoLuo can you take care of doing this for the solutions that your respective teams work on? Some of this is already done in release/2.2. If you find other places this needs to happen, feel free to edit the .sln and make a PR.

[2018-12-12 01:44] NTaylorMullen opened #4584 "Latest Razor tooling source link not working in VS"
### Describe the bug
We did a VS insertion yesterday (12/10) which had new Razor tooling bits from our AspNetCore-Tooling repo. I tried debugging those bits and found that I could download symbols for the binary and upon doing so would be prompted to download the source file. In VS after clickign "Download source and continue" it attempts to do it multiple times and then fails.

### To Reproduce
S

[2018-12-12 01:47] pranavkm commented on #4483
@jsheetzati I'm not entirely familiar with how Cordova works - is each client assigned an arbitrary host? Allowing a wildcard origin with credentials has a known XSRF vulnerability and there aren't guidelines for securing this outside of listing individual allowed hosts.

[2018-12-12 02:06] NTaylorMullen opened #4585 "Razor Extension version is incorrect in latest insertion"
### Describe the bug
The latest RazorExtension insertion has a version of 3.0.0.1860703+COMMITHASh when it should be 16.0.XYZ. This indirectly causes issues when attempting to run the VSIX locally

### To Reproduce
Steps to reproduce the behavior:
1. Get d16.0stg
2. Open the About dialog

### Expected behavior
Razor extension version 16.0.XYZ

### Screenshots
![image](https://user-images.githubuse

[2018-12-12 04:43] JamesNK commented on #4223
Done https://github.com/aspnet/AspNetCore/pull/4500

[2018-12-12 04:43] #4223 closed

[2018-12-12 04:58] TanvirArjel commented on #4547
@gfoidl Thanks for your explanation.

[2018-12-12 05:52] livarcocc opened #4587 "No webpage was found for the web address: https://localhost:5001/"
_From @donhuvy on December 12, 2018 1:11_

## Steps to reproduce
Use Windows 10 Pro, Visual studio 2019 Preview
[code]

## Expected  behavior
https://localhost:5001/ Show webpage

## Actual behavior
https://localhost:5001/ Error

## Environment data
`dotnet --info` output:
[code]
<img width="960" alt="dotnet1" src="https://user-images.githubusercontent.com/1328316/49840337-8d9cc600-fde5-11e8-9969-

[2018-12-12 05:52] livarcocc commented on #4587
_From @donhuvy on December 12, 2018 1:13_

[code]

[2018-12-12 06:53] UweKeim commented on #3794
So did it actually ship in [2.2](https://dotnet.microsoft.com/download/dotnet-core/2.2)?

[2018-12-12 08:13] Abarbz commented on #4546
Maybe I was misled by the [Asp.Net core Integration test documentation](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.2#disposal-of-objects) that actually shows the following:
[code]
In this case though, pages are not plain html. Maybe this is the reason why my results differ?
Would it be possible to parse the charset from the `<meta charset="utf-8" />` attr

[2018-12-12 10:10] GrilleGustav opened #4588 "Razor Class Library dynamic loading as ApplicationParts. Views can't use models"
### Describe the bug
Can not use dynamic loading RCL. because the views can't find the models.

### To Reproduce
Steps to reproduce the behavior:
1. netcore2.2
2. https://aqua-wirbellose.visualstudio.com/HostingPanel
Open Branche: 33_Implementierung_Plugin_System
3. Start Project and open: https://localhost:44397/Wiki/Wiki/Create
4. System.IO.FileNotFoundException: Could not load file or assembly

[2018-12-12 10:29] pierslawson opened #4589 "Open Id Connect implementation does not play well with Web Application Firewall"
The default implementation of Open Id Connect uses a Data Protection Provider that generates strings that fall foul of a Web Application Firewall implementing the OWASP rule set's SQL Injection checking. For example, a Nonce cookie is created where the name of the cookie has `Options.StringDataFormat.Protect(nonce)` appended. This means the cookie often has the string "--" somewhere within it. Thi

[2018-12-12 11:56] Meir017 opened #4590 "Move the AuthSamples to aspnet/samples"
The directory `src/AuthSamples/` contains samples that should be in the https://github.com/aspnet/samples repository

[2018-12-12 13:02] searus commented on #4206
I have just spent a long time trying to identify why my application wasn't running in Azure.
I deployed a second application into a new directory in my App Service and it was failing.  Presumably because the application in the new folder was resolving to the default application folder in the app service.
The solution is to update to use out of process and redeploy.
I don't know if this is document

[2018-12-12 13:09] joeaudette opened #4591 "custom route constraint not called unless endpoint routing is disabled"
this is possibly related to #4414

I'm having a similar problem where my custom route constraint is not being called unless I disable endpoint routing.
My constraint is for multi-tenancy based on the first folder segment of the url. If the first segment maps to a tenant then that tenant is resolved otherwise the default tenant is resolved. The route constaint is intended to keep the folder segment

[2018-12-12 13:42] wanton7 opened #4593 "Razor Components hitting F12 key in Razor markup doesn't take you to other components"
### Describe the bug
F12 key doesn't take you to other components in Razor markup. Also hitting F12 over a component's type in `.cs` only component doesn't take me to Razor markup but to components generated `.cs` file. For `BasicField` component it took me to `BasicField.g.i.cs`.

### To Reproduce
Let's say you have two components `Component1` and `Component2` and you have `<Component2></Componen

[2018-12-12 14:58] jarrettv opened #4631 "InvalidOperationException: Cannot resolve scoped service 'Microsoft.AspNetCore.Authentication.Cookies.ITicketStore' from root provider."
Is it possible to resolve a scoped service for use with ITicketStore? For example, if I want to use a DbContext to load the ticket data upon renew.

If not, does that mean I need a singleton DbContext?

[2018-12-12 15:05] mgolois opened #4597 ".net Core 2.2 - Generate RouteData from Url path"
Hello,

I'm looking for documentation on the new endpoint routing system. I'm upgrading from .net core 2.1 to 2.2. I have a scenario where I need to generate the RouteData object from a url path.
I could not get it to work with IUrlHelper.

Thanks!

[2018-12-12 15:23] timgabrhel opened #4598 "Replacing a service from IHostedService"
I have a service registered in a WebAPI project startup. This service is registered with an implementation factory, and reads off of `IHttpContextAccessor`, returning an object that implements this interface. This gives me a way to inject some information about the current user and request into other registered services.

This works well, however, there's no HttpContext to read from when executing

[2018-12-12 15:44] jsheetzati commented on #4483
We will have to investigate further and try some things out, but I think we will be okay. Based on what I read, the origin will be set to null in this case, and we should be able to accept a null origin on the API side.

[2018-12-12 15:47] AndreaCuneo commented on #4396
This issue is blocking any upgrate to aspnetcore 2.2 and forcing us to wait for 3.0, skipping 2.2 version and its improvements.

In our APIs we enforced correct Produces and Consumes attributes as is a strict REST API. We setup them on AddMvcOptions(). Since controllers usually includes both GETs and POSTs, this is breaking all controllers. We're forced to edit *every* controller and put the attri

[2018-12-12 16:01] pakrym opened #4599 "Backport the current directory fix to 2.2.x"

[2018-12-12 16:12] Tratcher commented on #4546
Right, those tests cover dynamic content where ASP.NET generates the HTML and does the encoding.

Is your client having any trouble consuming the response without the charset specified? If it's not broken then don't fix it.

Parsing static files is a non-starter, hundreds of file types are supported. The same goes for assuming utf-8, we don't know the contents are HTML5.

In your app you may be ab

[2018-12-12 16:30] AndreaCuneo commented on #4396
I've got a possible solution, which I'm not proud of.
Do you any pitfalls? I'm not expert on ApplicationModels and fiddling with them.
Do you have any better way of filtering Action with those Verbs?

[code]

[code]

[2018-12-12 16:33] rynowak commented on #4585
There are two issues here - and surprisingly the VSIX actually **does** have the correct version 😆

1. The 'dev build' version number is *lower* than the version number of our official builds since it was generated like: `16.0.4242424.0`. See the bug? It's missing a digit.
2. The assembly information version (used by the about dialog) is wrong

The `.vsman` and `.vsixmanifest` both have the correc

[2018-12-12 18:40] 0xced opened #4605 "Error (time out) when building the project on macOS"
I can't get the AspNetCore project to build. Here is the output of running `./build.sh --verbose` on master (macOS Sierra 10.12.6):
[code]

<details>
 <summary> And here is my  ~/.dotnet/dotnet --info</summary>

[code]
</details>

What's that timeout? Is there a way I could enable even more verbose output to understand what's going on?

[2018-12-12 19:12] jkotalik commented on #4587
It's saying `Failed to authenticate HTTPS connection.`

Try: https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-2.2&tabs=visual-studio#trust-the-aspnet-core-https-development-certificate-on-windows-and-macos

[2018-12-12 19:20] natemcmaster commented on #4605
The logs indicate that the issue was a timeout downloading https://dotnetcli.blob.core.windows.net/dotnet/Runtime/3.0.0-preview-27122-01/dotnet-runtime-3.0.0-preview-27122-01-osx-x64.tar.gz.
[code]

Try running again. Sometimes Azure storage is flaky.

Side note: what's your internet speed? Most of us are on relatively fast internet, so our timeouts are often tuned to what we perceive as 'slow.'

[2018-12-12 19:40] BrightSoul commented on #4578
Ok, thanks for your reply. I made it work but I think the route template your provided is not right. The constraint and default value should be in reversed orded, e.g.
[code]
Otherwise you'd get some weird behavior (i.e. `TransformOutbound` not invoked at all and default values ignored altogether).

Also... I don't know what the original intent with the outbound transformers was but I think the  `

[2018-12-12 20:09] JamesNK commented on #4578
The purpose of a transformer is to apply a consistent pattern to a parameter. For example, making the controller and action parameters use camel case.

Thanks for the feedback on the documentation. I've made changes here - https://github.com/aspnet/Docs/pull/9987

[2018-12-12 20:23] dagood opened #4613 "In 2.2 tools packages, multitarget 2.2 and 2.1 so latest version is usable with LTS SDK"
### Problem
Summary from https://github.com/dotnet/source-build/issues/926:

The source-build SDK product used by Red Hat doesn't include ASP.NET Core cli tools (e.g. `dotnet-dev-certs`). When the user tries to use the tool, they're prompted to run `dotnet tool install --global dotnet-dev-certs`. That works when the SDK they're using is the latest stable SDK available, like 2.2.101. However, it do

[2018-12-12 20:45] BrightSoul commented on #4578
Ok, cool, I'm closing this issue.

[2018-12-12 20:45] #4578 closed

[2018-12-12 21:32] JamesNK commented on #4224
PR is not merged but this is done.

[2018-12-12 21:32] #4224 closed

[2018-12-12 21:36] JamesNK opened #4617 "Healthchecks with endpoint routing"
Make healthchecks usable via endpoint routing.

Create a clean startup experience with builder extension methods invoking the existing middleware.

[2018-12-12 22:35] ranouf opened #4620 "SignalR WWW-Authenticate: Bearer error="invalid_token""
Hi,

The authentication process works perfectly with controller, I can use `[Authorize]` without any problem.
Signal worked perfectly before I added the authentication.
What I know is:
- the token is correctly send by Angular (I can it in the server in the authorization header)
- the signing key validation works, because controllers works
- signalR without authentication works

What I dont know is

[2018-12-12 22:36] Tratcher opened #4621 "StreamPipeReader/Writer Cancellation failures in netcoreapp3.0"
These CancelPendingRead/Write/Flush tests are all failing after moving to netcoreapp3.0.
[code]
Skipping until this can be debugged.

[2018-12-12 22:42] BrennanConroy commented on #4620
Try turning on Server logs to see what it says about auth.

[2018-12-12 22:56] ranouf commented on #4620
I use Serilog to redirect the log in a file. There is no error about SignalR Authentication.

In ApplicationInsight, I can see the request which has failed:
![image](https://user-images.githubusercontent.com/1764519/49903994-daf55380-fe36-11e8-9306-e3615e67cbb6.png)

Here are the detail for one request
![image](https://user-images.githubusercontent.com/1764519/49904024-f2ccd780-fe36-11e8-9b94-af90

[2018-12-12 23:01] Tratcher commented on #3754
@rynowak Passing this off to you for HTML and Razor.

[2018-12-12 23:06] 0xced commented on #4605
I already tried about ten times and it always fail with the timeout. Indeed, the download is **very** slow, I can see `curl` downloading between 50 and 100 KB/s which is way under my usual download speed.

So here is what I did: I looked at `~/.dotnet/buildtools/korebuild/3.0.0-build-20181206.3/modules/KoreBuild.Tasks/module.targets(44,5)` and saw that it calls `~/.dotnet/buildtools/korebuild/3.0.

[2018-12-12 23:22] BrennanConroy commented on #4620
One thing I noticed is that you use https for MVC and http for SignalR, not sure if that affects anything.

There should be some sort of logs from Auth saying what happened. Try turning up the log level to Debug

[2018-12-12 23:33] BrennanConroy commented on #4620
Ok, don't do ```context.HttpContext.Request.Headers.TryGetValue("Authorization", out var accessToken)```, that probably breaks the token by including "bearer" and only in signalr because you're only doing it on a "/hubs" request. The docs you linked to, show we only grab the "access_token" query string value, I'm guessing the auth system will automatically grab the "Authorization" header and corre

[2018-12-12 23:40] mshindal opened #4629 "Unable to add OpenID Connect authentication scheme dynamically"
### Describe the bug
I am unable to add an OpenID Connect authentication scheme "dynamically" (outside of `Startup.cs`). Based on the discussion [here](https://github.com/aspnet/Security/issues/1132), it sounds like it should be doable by following the `DynamicSchemes` sample, however that is not the case. I found [this discussion](https://github.com/aspnet/Security/issues/1179#issuecomment-445342

[2018-12-12 23:45] dougbu commented on #3754
Many thanks for all your work on this @Tratcher!

[2018-12-12 23:46] ranouf commented on #4620
The documentation is not really up to date.
In Angular, when I want to connect to signalR Server I use this:
 this._hubConnection = builder.withUrl(
      environment.apiUrl + '/hubs/sample',
      { accessTokenFactory: () => `${myToken}` }
    )

The package is "@aspnet/signalr": "1.1.0", (https://www.npmjs.com/package/@aspnet/signalr).

When I do that, 'Bearer' is automatically added to myToken

[2018-12-12 23:50] BrennanConroy commented on #4620
What isn't up to date in it?

[2018-12-12 23:55] ranouf commented on #4620
In the documentation it s written:
angular:
[code]

server:
`var accessToken = context.Request.Query["access_token"];`

But when I test it, I have no value:
![image](https://user-images.githubusercontent.com/1764519/49906271-2b70af00-fe3f-11e8-87d5-36e8df46a383.png)

but when I do :
`context.HttpContext.Request.Headers.TryGetValue("Authorization", out var accessToken)`

I have a value:
![image](ht

[2018-12-12 23:59] BrennanConroy commented on #4620
That's because during the /negotiate request the "Authorization" header is used, if you look at `context.Token` it probably already has the token set so there is no need to modify it. However, after /negotiate we have to use the "access_token" query string because browser APIs don't allow setting headers in some situations.

[2018-12-13 00:01] natemcmaster commented on #4605
Does it run faster if you remove `--no-cdn`?

[2018-12-13 00:10] ranouf commented on #4620
Sorry to answer no again :(
![image](https://user-images.githubusercontent.com/1764519/49906519-41cb3a80-fe40-11e8-9fe0-df56690b86b2.png)

the context.Token is null before I set it.

But you were true about the header authorization :). I updated the angular part to:
[code]

and the backend part to:
[code]

and now it works!

So I will contact https://github.com/aspnet/SignalR about their npm packa

[2018-12-13 00:11] BrennanConroy commented on #4620
Don't file an issue there, use this one

[2018-12-13 00:12] BrennanConroy commented on #4620
Did you actually try the **exact** code from the sample? And did it not work?

[2018-12-13 00:16] BrennanConroy commented on #4620
Ok, I was guessing the `context.Token` value would be set, but turns out it will be null and is only used if the user sets it. Otherwise it will do the correct thing with the "Authorization" header, see https://github.com/aspnet/AspNetCore/blob/02ca469ea1ee06be2769ebbb0252bc88847d6378/src/Security/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L61-L65

[2018-12-13 00:16] ranouf commented on #4620
How to do that? I thought created an issue on their github and put a link to this issue.

I didnt take the example but I took some piece on it like this one which failed:
{ accessTokenFactory: () => `${myToken}` }

[2018-12-13 00:17] WayneCBarker opened #4634 "/signin-wsfed slow under load"
Hi, we are load testing our application and the call to https://domain/signin-wsfed is a bit slow coming in at  2.7 sec avg with 100 concurrent users.

As I understand this requests is a virtual request and there is no actual resource with that name. What code executes on this request? Is there any custom user code that gets executed as part of this code that we can look at optimizing?

Thanks

Wa

[2018-12-13 00:18] NTaylorMullen commented on #4332
Marking as blocked until https://github.com/dotnet/sdk/issues/2729 is completed.

[2018-12-13 00:22] Jehoel opened #4646 "Documentation issue: clarify JwtBearerOptions.Audience's behaviour in its <summary>"
The current XML documentation for `JwtBearerOptions.Audience` does not explain why this property exists when `JwtBearerOptions.TokenValidationParameters.ValidAudience` is also an Audience property.

I had to look into the source code to find `JwtBearerPostConfigureOptions` and I see that it simply copies `JwtBearerOptions.Audience` into `JwtBearerOptions.TokenValidationParameters.ValidAudience` -

[2018-12-13 00:30] bgever opened #4672 "Support for token revocation on SignOut in OAuthMiddleware"
To invalidate refresh tokens when the user signs out, it would be great if the OAuthMiddleware could support OAuth 2.0 Token Revocation ([RFC 7005](https://tools.ietf.org/html/rfc7009)).

Related to #1236, I'm interested to consider a PR to add this support.

[2018-12-13 00:30] leastprivilege opened #4674 "Certify OIDC middleware?"
Wouldn't that be useful??

https://openid.net/certification/

[2018-12-13 00:31] brockallen opened #4677 "OIDC MW: add HandleRemoteSignOutAsync event"
Should emit cache control headers:

[code]

https://openid.net/specs/openid-connect-frontchannel-1_0-01.html#RPLogout

[2018-12-13 00:31] brockallen opened #4678 "OpenIdConnectEvents event for RemoteSignOut complete"
A useful event to have would be one that fires after the sid checking is complete and the authentication cookie has been removed.

[2018-12-13 00:32] PinpointTownes opened #4683 "Offer a built-in JWKS endpoint to support encrypted tokens"
Wilson doesn't support JWE yet, but at this moment, we'll probably want to offer a JWKS endpoint directly in the OIDC middleware (to allow the identity provider to retrieve the public key(s) used to encrypt the identity tokens) and in the JWT bearer middleware (for the access tokens)

Related specs:
- JWK/JWKS: http://tools.ietf.org/html/draft-ietf-jose-json-web-key-31
- OIDC dynamic registration

[2018-12-13 00:32] Tratcher opened #4684 "Verify external providers are using latest APIs"
RTM milestone.

External login providers routinely update their APIs and deprecate the old ones. Before we ship RTM we need to verify that each of our implementations is targeting the latest provider API versions to ensure our packages have the longest useful lifespan.

Example: #85

[2018-12-13 01:02] BrennanConroy commented on #4620
Try something real quick for me, replace your `OnMessageReceived` handler with:
[code]

and use your original client code:
[code]

[2018-12-13 01:18] ranouf commented on #4620
I feel stupid :( You were true, it works like this. It probably didn t work the first time I tried because the order in the instruction was not the good one (always put AddSignalR after AddAuthentication).

thanks for your help, we can close the issue. I hope it will help other people :).

[2018-12-13 01:18] #4620 closed

[2018-12-13 01:36] #2401 closed

[2018-12-13 01:38] JunTaoLuo commented on #2401
@Tratcher do you think this needs an announcement? We already made one for deprecating it: https://github.com/aspnet/Announcements/issues/257.

[2018-12-13 01:42] Tratcher commented on #2401
How about a added comment on that announcement that 3.0 is the version they're being removed in?

[2018-12-13 01:44] JunTaoLuo commented on #2401
That's not really useful, the discoverability of that comment is negligible. Might as well create a new announcement if we were to bother at all.

[2018-12-13 01:50] Tratcher commented on #2401
Anybody subscribed to announcements would be notified the same way for a comment as for a new issue.

[2018-12-13 04:13] #4631 closed

[2018-12-13 04:20] halter73 opened #4703 "Wait for client FIN during server-initiated socket close"
Sometimes clients in the LargeUpload tests observe empty responses (#3022). I believe this happens because Kestrel behaves badly when it initiates the FIN which happens for "Connection: close" or HTTP/1.0 requests. Kestrel should send a FIN, *wait for a client FIN with some timeout*, and then dispose the socket. Today, we skip the second step in both the Socket and libuv transport which could be t

[2018-12-13 04:21] Tratcher opened #4704 "Response Headers are blocked by flow control"
They get written into the buffer, but they wait for the first data frame to flush. If the data frames are blocked due to the flow control window then the headers do not get sent until the next window update is received.

[2018-12-13 04:30] JunTaoLuo opened #4725 "Add timeout for settings ack"
Meta issue: #2627

See settings ack

[2018-12-13 04:32] Tratcher opened #4734 "Tune Window Update batching algorithm"
Http2 request data flow control needs to periodically send window updates for both the stream and connection to inform the client they're allowed to send more data. The current algorithm uses a minWindowSizeIncrement to prevent sending updates too frequently. The default for this value is 32kb, half of the total window size of 64kb. That seems too large when most of HTTP/2 is over TLS and TLS fram

[2018-12-13 04:33] halter73 opened #4736 "Stop using InvalidOperationExceptions to signal invalid ASCII during parsing"
GetAsciiStringNonNullCharacters() currently throws an InvalidOperationException fo invalid or chacters, and the parsing logic catches these InvalidOperationExceptions at [various](https://github.com/aspnet/KestrelHttpServer/blob/6551eae321cd6306b485906ea47e8d41e932d65b/src/Kestrel.Core/Internal/Http/Http1Connection.cs#L469) [layers](https://github.com/aspnet/KestrelHttpServer/blob/6551eae321cd6306

[2018-12-13 04:37] joshmackey opened #4747 "Misleading TaskCanceledException"
I have a WebApi endpoint that parses out the Request.Body itself rather than using Model binding due to performance reasons.

During some requests, I was getting a TaskCanceledException from a TextReader that I never gave any CancellationTokens too. After investigation, I found out that any read operations on the Request.Body after the Request was aborted will throw TaskCanceledExceptions. The sta

[2018-12-13 04:41] natemcmaster opened #4759 "Log HTTPs cert info on startup"
Kestrel logs endpoint when the server starts, but doesn't log which certificates were used. Now that Kestrel endpoints and certs can be configured from a file https://github.com/aspnet/KestrelHttpServer/pull/2186, it would be nice to show console info to help users identify if their config was correctly used.

Some ideas:

From store, show friendly name

    Now listening on: https://localhost:500

[2018-12-13 04:43] Tratcher opened #4765 "Read additional KestrelServerOptions from config"
The new configuration APIs will read endpoints with their certificates and the default certificate. https://github.com/aspnet/KestrelHttpServer/pull/2186

Here are other KestrelServerOptions to consider reading from config (Unsorted):
- bool AddServerHeader
- SchedulingMode ApplicationSchedulingMode
- KestrelServerLimits Limits
  - long? MaxResponseBufferSize
  - long? MaxRequestBufferSize
  - int

[2018-12-13 04:47] MarxITSolutions commented on #4597
I am having the same issue after scaffolding the Identity. The callbackUrl always returns null. Page: Register.cshtml.cs
var callbackUrl = Url.Page(
                        "/Account/ConfirmEmail",
                        pageHandler: null,
                        values: new { userId = user.Id, code = code },
                        protocol: Request.Scheme);

[2018-12-13 08:46] ankitmori14 commented on #4691
@muratg  Please find below attachment for dotnet version information

![coreversion](https://user-images.githubusercontent.com/28730774/49926481-a5f20b00-fee1-11e8-9f95-b22ba4b79ded.JPG)

[2018-12-13 08:51] Abarbz commented on #4546
No issue per say, my tests were just expecting UTF-8 as my html was declaring it as charset.
I'll look into your suggestions, thanks!

[2018-12-13 08:51] #4546 closed

[2018-12-13 08:53] wanton7 opened #4784 "Razor Components Throttling support for development"
### Is your feature request related to a problem? Please describe.
No browser currently supports throttling for WebSockets to emulate slow network.

### Describe the solution you'd like
Add support for throttling directly to Razor Components so that developer can emulate slow network during development.

### Describe alternatives you've considered
No alternatives.

[2018-12-13 11:32] elciopa opened #4787 "The name "WebHost" does not exist"
### Describe the bug
I get the following error:
The name 'WebHost' does not exist in the current context. As I can see the WebHost

### To Reproduce
I would like to create a WebApi project using .Net Core 2.2.0.
I'm using the scaffolded solution proposed from Visual Studio.

Program.cs (which I see is the same as the doc):

[code]
Throws the following error

![image](https://user-images.githubuser

[2018-12-13 12:06] martincostello opened #4789 "Regression in CPU utilisation with ASP.NET Core 2.2.0 web application"
### Describe the bug

We have an ASP.NET Core web application that uses MVC to render Razor views that was recently updated from `2.1.6` to `2.2.0` which is showing semi-regular spikes in CPU utilisation where usage can increase by up to 4x for a short period before returning to baseline.

These spikes appear to occur semi-regularly, but inconsistently in time and across instances in a load-balanc

[2018-12-13 12:16] grahamehorner opened #4791 "breaking change preventing OData"
https://github.com/OData/WebApi/issues/1707

[2018-12-13 12:30] davidfowl commented on #4787
Looks like it might be a resharper issue. Try updating reaharper

[2018-12-13 12:33] grahamehorner opened #5674 "making StateHasChanged virtual"
https://github.com/aspnet/Blazor/pull/1716

[2018-12-13 12:37] davidfowl commented on #4774
@halter73 @muratg @Tratcher we should do this earlier rather than later.

[2018-12-13 13:12] philmcmillan commented on #3774
Yes - but I have a scenario in which we exchange messages internally in our systems via queuing and APIs. These messages have the holy trinity of PII at times. While we can protect the transport - we also want to protect the payload when at rest in a queue or serialized to a file system drop for pickup by another endpoint. The various apps/services that participate are a set of full framework .NET

[2018-12-13 13:24] bragma opened #4792 "SuppressUseValidationProblemDetailsForInvalidModelStateResponses not working"
### Describe the bug
I am unsure if defaulting to Problem Details is a safe choice right now. After upgrading to 2.2, some of my tests failed because my http client was unable to handle "application/problem+json" (it works fine with "application/json" responses). It is trivial to fix my client, but this made me think if it's wise to change this behavior now since it may cause troubles to existing

[2018-12-13 13:45] elciopa commented on #4787
thanks for your tip, you're right.
After disabling it the error disappears.

[2018-12-13 13:51] yberstad opened #4793 "Using AspNetCoreModuleV2 and hostingModel="InProcess" gives 200 OK, but no content in response"
Hi!

Trying to run my self-contained web api with .NET Core 2.2 on IIS as InProcess. I doing a GET request to the server, I get an 200 OK, but with no content / payload. Only switching the hostingModel to "OutOfProcess", the web api starts returning content again.

I have done the following:

1. Added this in the project file:
[code]

2. Installed .NET Core Runtime 2.2.0 on Windows Server 2008 R2

[2018-12-13 14:02] Matthew-Bonner commented on #3598
Sorry, but I'm unclear of how it is more compelling to have unrelated commits, issues and discussions all under repository. Could you elaborate a little more on how you came to this decision and whether you are open to any influence in the change or not? I personally think this is a bad idea, but it is no different to downloading something like SilverStripe, which is a mess, but if that is the dir

[2018-12-13 14:25] k-vekos opened #5272 "Angular Template - WebSocket connection failed: Error during WebSocket handshake with Windows 7"
Using the latest `dotnet new angular` template, I get this error message in my browser console:

[code]

I'm aware WebSockets isn't supported on Windows 7, however, if I just host the SPA using `npm start` from the `ClientApp` directory then I don't get this error. What is the reason for this, and is there a way to stop this error when hosting via Visual Studio's debug launch?

[2018-12-13 15:38] quentingarlan commented on #4787
I had the same issue without resharper, could not find any solution but going back to .Net core 2.1.0. It seems that I am not the only one : https://stackoverflow.com/questions/53623730/webhost-doesnt-exist-in-the-current-context-in-asp-net-core-2-2-default-api-tem

[2018-12-13 15:39] poke commented on #3598
@Matthew-Bonner See [above](https://github.com/aspnet/AspNetCore/issues/3598#issuecomment-427974782):

Basically, in ASP.NET Core everything always releases at once, so having separations is making the release process difficult. Even more so in the future, when you can only consume ASP.NET Core as a single unit, it makes sense to have everything united.

While this makes consuming the repository (

[2018-12-13 15:54] Tratcher commented on #4774
I just fixed response compression so this is unblocked.

[2018-12-13 15:59] Matthew-Bonner commented on #3598
Releases and the code are two separate concerns, why does one have to impact the other?

Why are we changing the process, instead of fixing the build tools?

Why has this only landed on the community plate now, after it is too late for us to have our say on the matter?

[2018-12-13 16:01] Matthew-Bonner commented on #3598
Also, what happens to those who use one repo, and not everything else, do you have stats on how many projects will be affected by this change?

[2018-12-13 16:03] poke commented on #3598
Original announcement, before anything changed, was aspnet/Announcements#320 on October 8th.

What do you mean, use one repo? ASP.NET Core packages cannot be used (anymore) individually.

[2018-12-13 16:07] Matthew-Bonner commented on #3598
Visibility of this has just appeared in a closely monitored inbox, maybe I need to subscribe to more alerts then I guess.

Your last statement isn't true, what stops someone downloading a repo and using it in their project, the answer is nothing, people do and are doing this.

[2018-12-13 16:13] Matthew-Bonner commented on #3598
The following is a list of repositories that are tracked on github in projects we work on:
Hosting
Mvc
Razor
FileSystem
Logging
Options
Session

In our build system, which works, we pull in only the code we need in order to build a project, the time it takes to pull down our code, restore nuget packages, and then build everything is already slow, without having to download even more. These surface

[2018-12-13 16:15] twurm opened #4795 "2.2 IIS InProcess Hosting Question"
### Describe the bug
We aren't quite the bug phase yet, is there any way to tell once the app starts if its being run InProcess vs OutOfProcess in IIS?  Does changing the setting in web.config override setting the value in the csproj?

[2018-12-13 16:44] Eilon commented on #3598
You can still clone the AspNetCore repo (this repo) and build just sub-folders that interest you. But, as others have noted, the key here is that ASP.NET Core is essentially one product, that starting in 3.0, will ship in just 1 package really, so building it in 1 repo makes more sense for that. As with nearly anything, it's a trade-off, and the engineering team gave this many months of thought an

[2018-12-13 17:31] jonnale commented on #4532
I am having this same issue.

Relevant parts of `.csproj`:
[code]

Here is the error I am seeing when I try to include the namespace in a Controller:
![image](https://user-images.githubusercontent.com/5216293/49956370-03329000-fed3-11e8-9a7b-64a585e4b84a.png)

[2018-12-13 17:36] Eilon commented on #4529
Hi @rswetnam ,

To report issues with Visual Studio, use the [Report a Problem](https://developercommunity.visualstudio.com/) tool.

If you encounter a problem with Visual Studio, we want to know about it so that we can diagnose and fix it. By using the Report a Problem tool, you can collect detailed information about the problem, and send it to Microsoft with just a few button clicks. See [here](

[2018-12-13 17:36] #4529 closed

[2018-12-13 17:38] muratg commented on #4691
@ankitmori14 is that the full output? It seems to be missing the runtime information. Please share the full output.

[2018-12-13 18:34] grahamehorner opened #4799 "Cloning this repo creates files that exceed MAX_PATH on Windows"

[2018-12-13 19:03] pakrym commented on #4795
Is it locally or in Azure? The main difference is that there would be no `dotnet.exe/Application.exe` process running in InProcess case.

[2018-12-13 19:08] twurm commented on #4795
This would be locally but on a server we we won’t have access to.  So I was hoping there was a way programmatically we could get access to the info. Thanks for the quick response @pakrym.

[2018-12-13 19:08] #4795 closed

[2018-12-13 19:10] pakrym commented on #4547
Seems like questions are resolved here. Closing.

[2018-12-13 19:10] #4547 closed

[2018-12-13 19:13] pakrym commented on #4793
Can you please share the list of headers (from chrome networking tab) that is returned in InProcess and OutOfProcess modes.

Does WebAPI call in question do anything special?

[2018-12-13 19:13] Eilon commented on #3598
@Matthew-Bonner the things you point out are definitely some of the downsides of having a lot of projects in one repo, so I won't try to convince anyone otherwise 😄 It's very much a problem for anyone, including the ASP.NET team, working on the project. But it makes many other things easier, such as making sweeping changes or large refactoring among many inter-related projects.

[2018-12-13 19:44] grahamehorner opened #4800 "Components Build - error : rzc generate exited with code -2147450730"

[2018-12-13 20:03] megafetis opened #4802 "IFormFile bind error when using in sub collection"
### Describe the bug
When i trying to post form with sublist of images models with IFormFile properties, the program starts to hang!
see the screen

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2'
2. Run this code

[code]
No errors thrown, but frease executing:
operative memory encreases from 100 megabytes to 3-4 gigabytes!!!
### Screenshots when I sub

[2018-12-13 20:04] natemcmaster commented on #4799
@ajaybhargavb @pranavkm can we shorten folder names inside MVC's analyzer tests?

@grahamehorner most of us use a shorter prefix, like `C:\src\AspNetCore\` to workaround MAX_PATH limitations, but I still think we should try to avoid this problem.

[2018-12-13 20:09] dmitryshunkov commented on #2019
I think it is a breaking change to enable by default web.config transforms on dotnet publish. After installing .NET Core SDK 2.2.101 it broke our CI/CD scenario. Our pipeline configured to create published artifact using `dotnet publish` only once for any release ([build once rule](https://octopus.com/blog/build-your-binaries-once)), transformation applied automatically on real deployment (perform

[2018-12-13 20:17] NTaylorMullen opened #14307 "Move Preview C# and Preview Html commands to use https://code.visualstudio.com/docs/extensions/webview"
The previews today run on a deprecated system (previewHtml). Webview is the new system.

[2018-12-13 20:20] rynowak opened #4804 "Razor SDK build errors with MVC-3.0 configuration"
**Repro:**

Open MVC.sln in VS
Edit https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/test/WebSites/RazorPagesClassLibrary/RazorPagesClassLibrary.csproj#L4 to use **MVC-3.0** instead of **MVC2-1**
Build in VS

You will see an error like:
[code]

[2018-12-13 20:32] yberstad commented on #4793
Thanks for your quick reply!

OutOfProcess, response headers:
[code]

InProcess response headers:
[code]

No, the WebAPI just serve some configuration data as json, nothing special.

[2018-12-13 20:59] Eilon commented on #3748
@leem2714 can you show what the CSPROJ looks like?

[2018-12-13 21:51] mkArtakMSFT commented on #4799
Thanks for contacting us, @grahamehorner.
This is indeed something we need to find a good solution for. We'll see what we can do about this during 3.0 timeline. As for now, @natemcmaster's suggestion regarding using a shorter root path would do it.

[2018-12-13 22:03] grahamehorner commented on #4799
@mkArtakMSFT if you clone from within vs then the default will be the users folder\source\repos it would IMHO good if this was a symbolic link with a short alias and/or have some global tool that allows the user to change the location that a symbolic link referenced.

[2018-12-13 22:07] Eilon commented on #4638
Closing because no further action is planned on this issue.

[2018-12-13 22:07] #4638 closed

[2018-12-13 22:10] rockerinthelocker opened #4808 "ANCM 2.2 In-Process Restart Issue"
Adding/Removing an application to/from ```<fastCgi>``` (applicationHost.config) restarts ASP.NET Core applications.

[2018-12-13 22:10] Eilon commented on #4637
We are not currently planning to do more to change the state of things. We generally recommend OIDC, so if that isn't an option, we aren't planning any alternatives.

[2018-12-13 22:10] #4637 closed

[2018-12-13 22:11] #4636 closed

[2018-12-13 22:11] Eilon commented on #4635
@javiercn - any thoughts on this?

[2018-12-13 22:15] Eilon commented on #4633
Unfortunately there is no direct support for this scenario and we are not planning to make any changes in that area. So, this is left as an operation for developers to solve within their own apps. If you do come up with a good solution to this please let us know.

[2018-12-13 22:15] #4633 closed

[2018-12-13 22:16] #4632 closed

[2018-12-13 22:18] Eilon commented on #4080
Closing because there are no plans to add any direct support for this. There are a few suggestions in this thread that you could use to implement logic like this. Just make sure it doesn't run in production!

[2018-12-13 22:18] #4080 closed

[2018-12-13 22:18] #4079 closed

[2018-12-13 22:20] Eilon commented on #4680
Moving to backlog because it is unclear when we would bring this in.

[2018-12-13 22:30] Eilon commented on #4669
Closing because this change doesn't seem worth it.

[2018-12-13 22:30] #4669 closed

[2018-12-13 22:32] mkArtakMSFT opened #4809 "Empty project template in VS 2019 preview shows an informational message about unused parameter in Startup.ConfigureServices"
Filing this just to track this. There is no clear plan about what the templates in 3.0 will look like.

[2018-12-13 22:33] Eilon commented on #4661
@blowdart - let's discuss when you're back whether we can lower the default to None.

[2018-12-13 22:36] Eilon commented on #4644
Closing because we have no plans to implement this but if anyone comes up with a good solution to this, please let us know.

[2018-12-13 22:36] #4644 closed

[2018-12-13 22:38] Eilon commented on #4655
Putting in Backlog while we wait for the state of common browsers to settle. In the meantime apps can set the policy themselves.

[2018-12-13 22:41] Eilon commented on #4675
@rynowak - at this point we should either do something or close the issue. Given what we've done with APIs, what seems worthwhile?

[2018-12-13 22:42] Eilon commented on #4640
@JamesNK - in the wonderful world of Endpoint Routing, do you have any thoughts on this?

[2018-12-13 22:44] Eilon commented on #4654
Closing because there doesn't seem to be much demand for this.

[2018-12-13 22:44] #4654 closed

[2018-12-13 22:47] JamesNK commented on #4640
That's related to this issue about using LinkGenerator to build paths: https://github.com/aspnet/AspNetCore/issues/4277

I think it falls into a nice to have category, and it hasn't been looked at closely yet.

[2018-12-13 22:50] Eilon commented on #4640
Cool. We'll leave it assign to you and you can do with it as you please.

[2018-12-13 22:52] Eilon commented on #4663
@blowdart - do you already have a sample of this somewhere? We're concerned this might be a big cost to bring up to production, including testing. We can discuss more when you're back.

[2018-12-13 22:58] mkArtakMSFT commented on #4792
Thanks for contacting us, @bragma.
@pranavkm, can you please look into this when you'll get time? Thanks!

[2018-12-13 23:00] NTaylorMullen opened #4810 "Razor: Typing directive tokens can occasionally fail to auto-complete"
### Describe the bug
Racey Bug

### To Reproduce
Steps to reproduce the behavior:
1. Open a Razor file
2. Type `@inject Date`
3. Hit enter to auto-complete `DateTime`
4. You see that you just have `@inject Date`

**Note:** This bug is racey so it may take a few times for it to happen.

### Expected behavior
Auto-completion works as expected and you get `@inject DateTime`.

### Screenshots
Actual:

[2018-12-13 23:15] Bartmax opened #4812 "TagHelpers `<label>`: Should support nested `<input>` elements"
as of tag helper label, when there is not content, the displayname is shown while if there's content the content is used.

This is good because we can use

[code]

and

[code]

but there is a 'case' when we may want both, having content and providing the displayname from metadata/modelstate like this

[code]

This will display a checkbox with empty text inside.
I can do

[code]

This works but I n

[2018-12-13 23:17] gdoron opened #4820 "Make an option for SelectListGroup to be matched by name instead of reference"
Hi,

I'm aware that there're scenarios where you need to have multiple `<optgroup>` with the same name.
But usually you don't.

Since currently SelectListItem are grouped by reference type instead of the string property, we have all over our code stuff like this:

[code]

...

[code]

That's quite annoying and repetitive, can we have an option, to group by the `Name` instead of the reference?

Tha

[2018-12-13 23:18] javiercn opened #4822 "Improve the implementation on MediaType.cs"
In general, consumers of this type should use methods provided by the type like "IsSubsetOf" and these methods should be able to correctly handle incorrect input. Having an instance of MediaType doesn't mean you have a valid MediaType, it can be default(MediaType) or it might be a media type with valid type but invalid subtype, valid type and subtype and invalid parameter.

Go through the algorith

[2018-12-13 23:18] rynowak opened #4825 "We need a solution for API Explorer + Custom ModelBinder"
see: https://github.com/aspnet/Mvc/issues/5673#issuecomment-281738074 and https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/309

The complaint here is that we 'expand' a parameter in the API definition that's being bound by a custom model binder. API explorer has no interaction with model binders/providers, and so no way to know that this isn't being handled by the default binder.

[2018-12-13 23:22] ericwj opened #4840 "Improve validation for non-interactive consumption"
Please improve validation to support consumption by code.

This would in my opinion
* allow supporting error codes or error tokens instead of just strings meant for human interpretation to communicate the type of error,
* allow custom formatting of the resulting errors,
* maintain and make available validation metadata (e.g. min/max, list of valid values or reference to a resource that allows obta

[2018-12-13 23:23] davidfowl opened #4844 "Detect AntiforgeryValidationException without throwing"
Seems like a first chance exception here. Can we avoid it by adding a new API to the `IAntiforgery` interface (or another interface)?

https://github.com/aspnet/Mvc/blob/760c8f38678118734399c58c2dac981ea6e47046/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/ValidateAntiforgeryTokenAuthorizationFilter.cs#L43

[2018-12-13 23:23] grahamehorner commented on #4799
FYI, while not ideal I have avoided the issue by using group policy to enable log paths and doing the same with `**git config --system core.longpaths true**
`
![ljkov](https://user-images.githubusercontent.com/3924941/49973701-0eff7000-ff2e-11e8-9610-e0ce23d13e13.png)

[2018-12-13 23:30] danroth27 opened #4878 "Error information for deserialization failures should be at the appropriate level in the model state"
In 2.1 preview1 with this web api controller:

[code]

If I send this request with invalid JSON:

[code]

I get this response:

[code]

Notice that the error for the deserialization failure is associated with the count property. I think in this case it should be a top level error instead.

[2018-12-13 23:54] blowdart commented on #4663
Who is "we" in this case? Damian allowed approved it.

It's be a matter of moving https://github.com/blowdart/idunno.Authentication/tree/master/src/idunno.Authentication.Certificate and testing some more

[2018-12-14 00:11] ckbeatty opened #5675 "Referenced Component can not be used in a cascading value"
When using a combination of both a component reference and cascading value, that value is not sent to child elements

Example
[code]
When accessing the modal in the following component, I am always getting a null reference exception
[code]

The only thing that would not make this throw an error was to define the modal in the following way in the layout `Modal modalTest = new Modal`

[2018-12-14 00:48] Eilon commented on #4663
Thanks for the link. When you're back let's discuss exactly what needs to be done in terms of test coverage.

[2018-12-14 00:54] javiercn opened #4898 "Add additional configuration sources for the WebHostBuilder in the WebApplicationFactory"
#### Is this a Bug or Feature request?:
Feature request.

#### Description of the problem:
There are some situations where users have manifested the desire to configure some aspects of the app for testing purposes through environment variables and other mechanisms.

We normally recommend overriding ConfigureWebHostBuilder to do these types of changes, but there are a couple of opinions that the We

[2018-12-14 00:55] danroth27 opened #4904 "Support Bootstrap 4 based validation"
Bootstrap 4 has it's own [validation](https://getbootstrap.com/docs/4.1/components/forms/#validation) that requires the use of specific classes. We need to make flexible enough to support this.

[2018-12-14 00:57] dougbu opened #4913 "GetDocumentInsider code should not overwrite up-to-date API descriptions"
#### Is this a Bug or Feature request?
Enhancement that's part of #7947

#### Steps to reproduce (preferably a link to a GitHub repo with a repro project)
1. Create a test project with a `<ServiceProjectReference/>` to an (experimental) web site providing an `IDocumentProvider` service
2. Build the project
3. Notice build creates the expected API description file (aka Swagger or OpenAPI document)

[2018-12-14 00:58] miloush opened #4919 "Redirect should encode URLs if it needs to"
All these issues are result of people trying to redirect to a URL that is not all ASCII. Resolution seems to be "you should have encoded your URL".

https://github.com/aspnet/Home/issues/2678
https://github.com/aspnet/Mvc/issues/7701
https://github.com/aspnet/KestrelHttpServer/issues/2508
https://github.com/aspnet/KestrelHttpServer/issues/2296
https://github.com/aspnet/Security/issues/1646
https:/

[2018-12-14 00:59] rynowak opened #4922 "TypeLoadException: The generic type 'System.Func`2' was used with an invalid instantiation in assembly 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e'."
_From @RemarkLima on August 24, 2018 22:40_

I have a webapp that works in Core 2.0 without issue.

I've attempted to upgrade to 2.1 without success. Most of the application works, except for certain pages and only when posting data. The issue appears to be in the model-binder but I can't diagnose any further as there's no more info other than the stack trace.

I've updated all version, I've unins

[2018-12-14 01:01] mkArtakMSFT opened #4930 "Create an Analyzer to prevent usage of reserved keywords in code"
People are hitting these type of issues more and more: https://github.com/aspnet/Mvc/issues/7876
The idea is to have an Analyzer which will be aware of all the reserved words we have in different places and will warn users about their name choices.

@rynowak what are your thoughts about this?

[2018-12-14 01:13] kofifus opened #4952 "Cannot build SignalR since 3.0.0-preview-18579-0056"
I have a console app with SignalR which compiled before updating packages

I now get:

[code]
As far as I can tell I have everything updated to the latest version:

[code]

Any help here please ?

[2018-12-14 01:15] BrennanConroy commented on #4952
What are you trying to use? The latest nightlies, the latest 3.0.0 preview, or the latest released bits?

[2018-12-14 01:17] kofifus commented on #4952
I just opened Nuget package manager and selected all updates (with 'Include prerelease') and clicked update

[2018-12-14 01:21] BrennanConroy commented on #4952
Ok, so you want latest nightlies. Remove `<PackageReference Include="Microsoft.AspNetCore.All" Version="2.2.0" />` as that is going away in 3.0.0. And add "Microsoft.AspNetCore.App"

[2018-12-14 01:21] PureKrome opened #4953 "ProblemDetails is not returned for 404NotFound and 500Exception"
### Describe the bug
Given a new ASPNET Core 2.2 "API" Website, `ProblemDetails` are not returned when:
- the route _doesn't exist_ (404 Not found)
- an exception is thrown from _inside_ an `ActionMethod`.

I understand that _currently_ `ProblemDetails` are provided when a `Controller` is decorated with `ApiController`. So the first scenario (route doesn't exist/match) can't currently be handled.

[2018-12-14 01:30] kofifus commented on #4952
Thx I ger:

[code]

[2018-12-14 01:37] JamesNK commented on #4921
@rynowak I think we should close this. Yay/nay?

[2018-12-14 01:37] #4921 closed

[2018-12-14 01:59] kofifus commented on #4952
Ok I installed .NET Core 3.0, removed Microsoft.AspNetCore.All and added Microsoft.AspNetCore.App

[code]

I now again try but still get:

[code]

[2018-12-14 02:04] kofifus commented on #4952
ok needed to remove Microsoft.Extensions.DependencyModel
all good now thx

[2018-12-14 02:04] #4952 closed

[2018-12-14 04:30] johnmelodyme opened #4956 "Crit: Microsoft.AspNetCore.Server.Kestrel.Unable to start Kestrel."
First when I deploy the API to the localhost:5001, all work fine until I put everything together in the server. I did dotnet publish the project. before this I sudo scp - r the (all files) relevant project to the server's /home . dotnet build && dotnet run, and all work fine. I came to mind that that wasn't a good idea for uploading all files without compounding it. Then I did only upload the 'Pub

[2018-12-14 04:52] mrtristan opened #4957 "AspNetCoreModuleV2 and hostingModel="InProcess" in IIS sub application failing to start"
IIS configuration is:

Root SPA static file application
-> /api folder is an `application` in IIS

root app web config:
[code]

sub app (api) web config:
[code]

yields api responses of `HTTP Error 500.30 - Internal Server Error`. changing the process model allows it to work.

event viewer shows messages along the lines of `... application ... hit unexpected managed exception, exception code = '0x

[2018-12-14 05:35] ngohungphuc commented on #4902
Hi @danroth27 I have below code so how can I change it accordingly to AddApplicationPart because AddApplicationPart require assembly to be pass in
![devenv_mqw62b3mzz](https://user-images.githubusercontent.com/13591213/49984778-15c4cc00-ff9c-11e8-83cf-c8a9dd3d9ee6.png)

[2018-12-14 05:50] mkArtakMSFT commented on #4574
The issue was transferred to this repo. Closing this as we still track the referenced issue.

[2018-12-14 05:50] #4574 closed

[2018-12-14 06:46] pranavkm commented on #4902
What do you use to create the passed in instance of `MetadataReference`?

[2018-12-14 06:50] ngohungphuc commented on #4902
@pranavkm I just added my code please check it.
Thank you

[2018-12-14 06:55] pranavkm commented on #4902
Looks like you're already adding the assembly as an application part on line 115. Removing the `foreach` loop that adds compilation references should suffice.

[2018-12-14 07:01] jaydeept opened #4958 "Microsoft.AspNetCore.Mvc.Filters.ActionFilterAttribute isn't working properly with .Net Core 2.2"
I am not sure if this is a correct repository to report the issue related to `Microsoft.AspNetCore.Mvc`, but can you please redirect to correct one if found this one as incorrect? Here is the issue:
I am using `Microsoft.AspNetCore.Mvc.Filters.ActionFilterAttribute` for my .Net Core 2.2 project. Below is the type of my controller:

[code]

With that I am using following API from ActionFilterAttrib

[2018-12-14 07:33] vlapenkov opened #4959 "Asp Core custom Modelbinder DateTime not working in post"
### Describe the bug
My custom DateTimeModelBinder is working on HttpGet but not binding on HttpPost (DateTime value is always null ). How can i fix this?

[code]

[2018-12-14 08:30] 0xced opened #4961 "Consider "Health Check Response RFC Draft for HTTP APIs""
Just letting you know that there's a current effort to define a standard for health checks: [Health Check Response RFC Draft for HTTP APIs](https://inadarei.github.io/rfc-healthcheck/).

See also [Support ASP.NET Core healthchecks #29](https://github.com/inadarei/rfc-healthcheck/issues/29) on their GitHub repository.

[2018-12-14 08:35] TKharaishvili commented on #4890
@mkArtakMSFT
Sent a new PR - https://github.com/aspnet/AspNetCore/pull/4960, but one of the CI jobs failed. Not sure how to proceed from here.

[2018-12-14 09:16] #4958 closed

[2018-12-14 09:17] jaydeept commented on #4958
It was mistake from my side where I didn't set SerializerSettings

[2018-12-14 10:37] SteveSandersonMS opened #4964 "ComponentBase needs proper async error reporting"
Currently, `ComponentBase` is hard-coded to deal with async lifecycle exceptions just by logging them to the console. This is understandable (albeit limited) in the WebAssembly case, since the developer console is the only place people are going to look for errors anyway, but it's no good for the server-side execution case.

We might want to have an `event` on `ComponentBase` that reports async li

[2018-12-14 10:41] martincostello commented on #4789
We're still investigating, but a preliminary look into things suggests that `dotnet.exe` is terminating/crashing and being recycled by IIS, which is the source of the CPU spikes and temporary slowdown in requests.

We're seeing warnings in the Windows Event Log that appear to correlate with the spikes:

[code]

[2018-12-14 10:42] SteveSandersonMS commented on #4964
Note: when implementing this, be sure to update the unit tests in `ComponentBaseTest` so that they explicitly check whether any unexpected exceptions are reported and fail if they are. For example, in the tests about cancellation, we need to observe that cancellation of `OnInitAsync`/`OnSetParametersAsync` tasks does *not* get reported as an exception, whereas actual failure of those tasks does ge

[2018-12-14 13:05] martincostello commented on #4789
Further investigation into our logs suggest a 1:1 correlation between CPU spikes and the above message being logged to the Windows Event Log.

It appears that `dotnet.exe` is terminating when used inside IIS with OutOfProcess hosting at seemingly random intervals. When it is terminated, IIS re-launches `dotnet.exe`, which causes the CPU spike due to all the process startup code running.

The pause

[2018-12-14 13:45] schneiderpat opened #4965 "How to setup Http.Sys with SSL"
I created a new Project with `dotnet new webapi`.
I want to use Http.Sys with Windows Authentication.
My setup looks like this
[code]

And the launchsettings.json like this
[code]

I´m getting redirected to https://localhost:5101/api/values when trying with http://...:5100 but all i get is this:
![image](https://user-images.githubusercontent.com/25080162/50006641-b02e0b00-ffae-11e8-8f0c-40ba7105ce

[2018-12-14 14:14] dallancarr commented on #4965
There are quite a few hoops to jump through go get this setup on windows.

https://stackoverflow.com/questions/51823878/how-to-https-ssl-with-self-hosted-asp-net-core-2-app-httpsys

[2018-12-14 15:07] blowdart commented on #4965
Yea, as @dallancarr says it's complicated. HTTP.SYS requires you to register an SSL certificate against the ports you want to listen on, but a VS install should be doing this for you (assuming you installed VS)

What version of the SDK are you using?
What does `dotnet dev-certs https -c -v` say?
Finally what does `netsh http show sslcert` show? (You'll probably want to pipe that output to a text f

[2018-12-14 15:52] juniormayhe opened #4966 "Easier validation for Controller ModelState for unit tests"
### Could model validation be improved for unit tests?

We could get model automatically validated for any verb: GET POST when triggering a validate method.

Now you have to call [controller.ModelState.AddError](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/testing?view=aspnetcore-2.1) when you just could call controller.Validate():

[code]

### Describe the solution you'd like

Why

[2018-12-14 16:00] kant2002 opened #5676 "ILLink does not work in Azure DevOps pipeline"
I hope I select correct repository for this one issue.

Something is wrong with either Azure pre-populated nuget cache, or ILLink task should better select assemblies.

[code]

This happens when publish Blazor client side app on Azure devops. I think this is could be an issue even when Razor components go live

[2018-12-14 16:20] Boglen opened #4967 "Error compiling Razor Components project from Templates"
### Describe the bug
Error compiling Components sample project from Microsoft.DotNet.Web.ProjectTemplates.RazorComponentsWeb in Visual Studio 2019 Preview and dotnet

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.100-preview-009812'
2.

![oldblazorbuild](https://user-images.githubusercontent.com/10594440/50014311-6c0a2d00-ffe5-11e8-9bc5-67d4776e9384.J

[2018-12-14 16:45] rynowak commented on #3754
Done for Html and Razor. @Tratcher - is this totally done now?

[2018-12-14 16:53] Tratcher commented on #3754
Still waiting for a final review on https://github.com/aspnet/AspNetCore/issues/3754, but otherwise I think so.

Doug, want to do a final verification on the package artifacts to see if all the TFMs are what we expect them to be?

[2018-12-14 17:05] khellang commented on #4953
Y NO USE MY Middleware? 🤔 😢

[2018-12-14 17:16] johnavery opened #4970 "ActionDescriptor - Operations that change non-concurrent collections must have exclusive access"
I've run into this issue when invoking a custom middleware component used for extracting the user identity from a REST API call. This is happening in our ASP.NET Core 2.1.6 API. This is a similar issue to [IdentityServer/IdentityServer4 #2453](https://github.com/IdentityServer/IdentityServer4/issues/2453). The culprit seems to be Microsoft.AspNetCore.Mvc.Abstractions.ActionDescriptor.Properties. I

[2018-12-14 17:19] johnavery commented on #4970
One more thing: I worked around this issue by recycling the app pool.  But I imagine this could happen again at any time.

[2018-12-14 17:36] SteveSandersonMS opened #4971 "Consider changing WebAssemblyHostBuilder to use IHostBuilder"
See comments at https://github.com/aspnet/AspNetCore/pull/4785#issuecomment-447389248

[2018-12-14 18:13] Eilon commented on #4396
@JamesNK yeah I was thinking using some app model convention to apply logic globally, like that ^^^

[2018-12-14 18:30] NTaylorMullen opened #5007 "Generated class for Razor Pages shows up in VS Solution Explorer when the CSHTML file is open in the editor"
_From @DamianEdwards on March 13, 2017 20:28_

![image](https://cloud.githubusercontent.com/assets/249088/23873906/f624e348-07f0-11e7-8a02-a712a8b76692.png)

_Copied from original issue: aspnet/Mvc#5957_

[2018-12-14 18:35] NTaylorMullen opened #5028 "Make directive completions snippet-complete."
After completing a directive you are placed at the end of the directive name. We should extract token information and translate that into a snippet-based completion. For example, if you were to auto-complete `@model` it'd write out `@model <type>` and then have `<type>` highlighted to be replaced.

[2018-12-14 18:35] drauch opened #5030 "Feature request: mandatory tag helper properties"
Is there a way to mark tag helper properties as "required", i.e., mandatory? Optimally, the user would run into a compile-time problem when omitting required properties. An alternative would be to run into a view compilation problem at runtime.

[2018-12-14 18:36] rynowak opened #5032 "Bug with wrapping in div inside code block"
Original posted at https://github.com/aspnet/Razor/issues/1628#issuecomment-336562669 by @tomeks666

---------------------------------

I do not know if this is related to Razor Tooling or something else. I noticed that Wrap in Div (Alt-Shift-W) appears to have a bug. The opening div tag has 2 additional spaces

`< div > <input/> </div>`

This does not happen always. It happens when the wrapping i

[2018-12-14 18:36] NTaylorMullen opened #5033 "DocumentTrackers need to be refreshed when their impacted document is moved."
The documents configuration, project, basically everything needs to be recomputed when a cshtml file is moved.

[2018-12-14 18:36] rynowak opened #5034 "Investigate Pre-Loading Roslyn"
Measuring process cold startup for an MVC starter site, we've found that tag helpers and Roslyn JITting take a really significant amount of time. We're wondering if queueing up a Tag Helper discovery or 'empty' compilation to parallelize the startup cost will make a difference.

[2018-12-14 18:37] NTaylorMullen opened #5037 "Re-discover TagHelpers when dependent project builds"
In Tooling if you have the following structure:

[code]

And `WebApp` depends on `TestLib`. When you build TestLib after changing `TestTagHelper` the available TagHelpers in `Index.cshtml` aren't refreshed.

In order to get refreshed TagHelpers you must build `WebApp` directly.

[2018-12-14 18:37] NTaylorMullen opened #5038 "Change BackgroundParser to not be stateful and not spin up threads."
I imagine this being a way for a user to await a parse. Aka `await FooBGParser.DoAParseOrSomething()`

[2018-12-14 18:37] NTaylorMullen opened #5040 "Add API to RazorSourceLineCollection to enable better understanding of lines in a RazorSourceDocument"
Today the `RazorSourceLineCollection` has too minimal of an API to get enough information about a source document. For instance, you can't go from line Index => line content; this is primarily driven by not being able to get the start position of a given line index.

Tried using this API to improve on our indentation facts service but it didn't have enough information.

[2018-12-14 18:38] mkArtakMSFT opened #5041 "seal the RestrictChildrenAttribute attribute"
This results in a lot of non-supported scenario requests, so we should close the gap by marking the class as sealed.

[2018-12-14 18:38] robertboeckel opened #5044 "Consider adding special tag directives for If and ForEach in Razor"
Kindly consider adding special directives for If and ForEach in Razor directly within tags.

Consider the following contrived example:

`var items = new[] { "Item1", "Item2", "Item3" };`
`var showItems = items.Length > 0;`

[code]

Using special directives within the tags, the markup could be simplified to something like this:
[code]
For simple cases like shown above this could greatly reduce the

[2018-12-14 18:39] NTaylorMullen opened #5046 "Can't use @(...) in asp-for"
_From @taylorjandrew on October 31, 2017 11:12_

The asp-for casting shown below used to work in core 1.0 and core 1.1 but now doesn't in core 2.0?
`<input asp-for="@(Model as ServiceOperative).JobTitleClient" class="form-control" />`
It now gives the following error -
**InvalidOperationException: Templates can be used only with field access, property access, single-dimension array index, or singl

[2018-12-14 18:39] miloush opened #5047 "Automatic quote marks insertion inserts extra letters"
Version 15.6 Preview 5

In a Razor view/page, type:
```http://microsoft.com```

Put cursor at the beginning and type `<a href=`

Expected: `<a href=""http://microsoft.com`

Actual: `<a hhref=""http://microsoft.com`

[2018-12-14 18:39] rynowak opened #5050 "Tag Helper discovery ignores some case of property shadowing"
referring to : https://github.com/aspnet/Razor/blob/dev/src/Microsoft.CodeAnalysis.Razor/DefaultTagHelperDescriptorFactory.cs#L387

Found this by inspection while working on similar code in Blazor. When walking up the inheritance chain, we use a dictionary to track property shadowing, but we also ignore any properties that don't meet our conditions for binding - **without** creating an entry in th

[2018-12-14 18:40] ajaybhargavb opened #5054 "Consider not showing Html intellisense after the semicolon following a directive"
Follow up to https://github.com/aspnet/Razor/pull/2196.
[code]
Ideally we don't want to show any intellisense at the end of a directive line. But the fix for this could be complicated as discussed in the PR.
IMO we should probably keep this in the back burner and do it if more people are sad about this.

Note: We already do the right thing (Not show intellisense) in the most common scenario below,

[2018-12-14 19:00] sebastienros commented on #3409
Sharing the link to the blog post

https://blogs.msdn.microsoft.com/maoni/2018/11/16/running-with-server-gc-in-a-small-container-scenario-part-0/

[2018-12-14 19:04] #3412 closed

[2018-12-14 19:04] #3410 closed

[2018-12-14 19:04] #3408 closed

[2018-12-14 19:04] #3406 closed

[2018-12-14 19:05] #3407 closed

[2018-12-14 19:05] #3411 closed

[2018-12-14 19:06] poke opened #5055 "Generating URL with page parameter fails with new endpoint routing (regression from 2.1)"
This appears to be a regression due to the new endpoint routing system in 2.2. As per aspnet/Mvc#7876, using parameter names `action` and `page` is somewhat difficult, however using a `page` parameter inside an MVC action or using an `action` parameter inside of a Razor page does work fine. At least it did.

With endpoint routing activated (through the MVC compatibility switch `CompatibilityVersio

[2018-12-14 19:06] natemcmaster opened #6508 "Nginx tests fail in PR checks on macOS/Linux fail on AzDO"
PR checks on AzDO for aspnet/AspNetCore are always failing because nginx is not installed.

It should be possible to just download nginx when the build agent initializes.

[2018-12-14 19:13] nickalbrecht commented on #5055
I ran into this yesterday/today. Thanks for taking the time to flesh out the details and submit the bug @poke. My short term solution was to rename my action parameters to something like `pageNum` instead of `page`, But I'd prefer to see this get fixed so it wasn't so aggressive with regards to preventing the use of `page` as an action parameter when trying to generate URLs.

[2018-12-14 19:16] dougbu commented on #3754
@Tratcher sure, I'll have a look-see.

But, #3754 is this issue. What PR hasn't been reviewed?

[2018-12-14 19:19] Tratcher commented on #3754
Woops, I meant #4625. It just went in this morning.

[2018-12-14 19:49] rynowak commented on #4970
This is a bug in the API Versioning library. Action Descriptors provide a way to be modified during startup and should be treated as immutable once that completes. We've worked with the author in the past to provide another solution, so this might already be fixed.

/cc @commonsensesoftware

[2018-12-14 19:50] rynowak opened #5057 "Explicit expressions in tag helper attributes are ignored by the parser, lowered to IR incorrectly"
Consider these two usages of a tag helper....

[code]

These two expressions will be lowered differently in the IR, which results in different codegen, and is visible to extensibility.

[code]

This is bad because in other places where explicit expressions occur the parenthesis are just delimiters and are considered metacode, not C#. Explicit expressions have the same syntactic form as an implicit

[2018-12-14 19:51] mkArtakMSFT opened #5060 "Feature Request/Question: Ability to easily author/inject new directives for Razor?"
_From @fir3pho3nixx on March 24, 2018 18:58_

Currently, I cannot find an easy way to author/inject custom directives into Razor whilst using ASPNET Core Mvc(Kestrel).

I can see that the `@Inject` directive gets registered within razor [here](https://github.com/aspnet/Razor/blob/2f79b90af5cbd9499f012c204f5bf4bb413ae61b/src/Microsoft.AspNetCore.Mvc.Razor.Extensions/RazorExtensions.cs#L20). Now if

[2018-12-14 19:52] NTaylorMullen opened #5063 "Include the new Razor directive icon glyph in the RazorExtension."
https://devdiv-design.visualstudio.com/DevDiv%20Design/_workitems/edit/2540

[2018-12-14 19:52] rynowak opened #5064 "ExtensionDependencyChecker/Loader incorrectly recognizes different version of assemblies as same"
We see errors like the following in the Razor build server when upgrading packages
[code]

There are a few issues with this.

It would firstly be great to know which other assembly is loaded and where it was loaded from - my guess is that this happened when updating the packages used by our templates, or by mixing our templates with a repo-local build.

Secondly, I think this is just a bug. The as

[2018-12-14 19:52] ajaybhargavb opened #5065 "IR Lowering tests should pass the design time options properly"
Follow up to #2273. Now that we have switched over to using RazorProjectEngine in tests which doesn't differentiate Runtime and designtime engine, we should update our test infrastructure to be consistent with that. Example, https://github.com/aspnet/Razor/blob/b732f8013e377b0bca976e392cc687ba5927d4cc/test/Microsoft.AspNetCore.Mvc.Razor.Extensions.Test/ModelDirectiveTest.cs#L319.

[2018-12-14 19:53] kichalla opened #5069 "Referenced RCL project is built even though there are no recent changes to it"
Repro:
- Create a RP web application
- Add a RCL project to the solution | reference this RCL project from the RP application
- Build RP application
- Update the RCL project's Page1.cshtml's title to something else
- Build RP application (this is expected)
- Build RP application again (you see that the RCL project is being built again even though there aren't any changes)

**Build output (in seque

[2018-12-14 19:55] reima opened #5076 "Generated code references MVC's HelperResult"
**Description:**

I want to use Razor as a standalone templating component (outside of ASP.NET Core). This is working really well so far, with one minor problem: when an HTML attribute contains Razor code, the generated code references `Microsoft.AspNetCore.Mvc.Razor.HelperResult` by default. The source of this reference is in the default value of `Microsoft.AspNetCore.Razor.Language.CodeGeneratio

[2018-12-14 19:55] metoule opened #5077 "Token replacement in @page directive?"
I'm trying to create a custom route for my Razor page, via the `@page` directive.
When using the `RouteAttribute` on a controller, we have access to the following [token replacements](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-2.1#token-replacement-in-route-templates-controller-action-area):

However, such replacement doesn't seem to occur with the `@page`

[2018-12-14 19:55] NTaylorMullen opened #5079 "Remove unused/legacy types for 3.0"
This is a tracking issue to cover all the types I'd like to consider for removal. Lets update this list

- [ ] RazorTemplateEngine

[2018-12-14 19:57] dougbu commented on #3754
A few projects aren't mentioned above as hold-outs and haven't been touched:. @Tratcher I haven't checked the PRs for comments on these. Do you recall if any can now be updated?

**All** please check off those that are fine as-is and please add resoning:
- [ ] src\AzureIntegration\src\Microsoft.Web.Xdt.Extensions\Microsoft.Web.Xdt.Extensions.csproj (and its test project)
- [ ] most (all?) of src\C

[2018-12-14 19:57] NTaylorMullen commented on #4810
https://github.com/aspnet/AspNetCore-Tooling/commit/ca593c80f750495d0b215a7fc5671706747348e0

[2018-12-14 19:57] #4810 closed

[2018-12-14 20:01] Tratcher commented on #3754
Microsoft.Web.Xdt.Extensions isn't changing. It's part of the Azure deployment infrastructure and only runs on net461.

[2018-12-14 20:03] Tratcher commented on #3754
Microsoft.Owin.Security.Interop.Test is disabled for now and needs to be re-written.  It's tests a bridge scenario between core and katana.

[2018-12-14 20:04] Tratcher commented on #3754
@pakrym to comment on site extension infrastructure and ANCM packages.

[2018-12-14 20:07] WistfulWolf commented on #5055
Just encountered this issue in .NET Core 2.1. UrlHelper.Link when adding a parameter with name "page" completely ignores it. Tested on clean MVC project with an API controller.

Api Controller class:
[code]
Page class:
[code]

The result is **url = "http://localhost/api/Test"**
Expected result is **url = "http://localhost/api/Test?page=1"**

[2018-12-14 20:07] pakrym commented on #3754
TFM shouldn't matter in site extension projects, but I would prefer keeping them as is because Nuget version used by AppServices is very old and I don't want surprises.

[2018-12-14 20:09] dougbu commented on #3754
@natemcmaster can src\PackageArchive\ZipManifestGenerator be updated?

[2018-12-14 20:12] dougbu commented on #3754
@joeloff @jkotalik what are your thoughts on the src/Installers/Windows/** projects?

[2018-12-14 20:14] joeloff commented on #3754
Don't think it matters for setup projects. These build using WiX - they just consume other build outputs

[2018-12-14 20:14] Tratcher opened #5113 "OIDC should verify response_mode"
"Only if supported_response_modes is present in the discovery doc and form_post is listed there, should the RP ever try to use it.  If our RP code is sending response_mode=form_post when the IdP doesn’t support that, that’s a bug in our RP code, and needs to be fixed." ~Mike Jones, OIDC spec master

Warn or fail if the OIDCOptions.ResponseMode value isn't listed in the discovery doc. Note we defau

[2018-12-14 20:15] dougbu commented on #3754
@rynowak I seem to remember you commenting on JsonPatch recently. Is it intentionally _not_ targeting `netcoreapp3.0`?

[2018-12-14 20:17] SteveSandersonMS commented on #3754
Anything that needs to run on WebAssembly has to be netstandard. Hence the particular subset of Components projects that target netstandard2.0.

________________________________
From: Doug Bunting <notifications@github.com>
Sent: Friday, December 14, 2018 8:15:29 PM
To: aspnet/AspNetCore
Cc: Steve Sanderson; Mention
Subject: Re: [aspnet/AspNetCore] Change projects to target netcoreapp3.0 (#3754)

[2018-12-14 20:18] commonsensesoftware commented on #4970
Correct. This was reported and fixed as one of a few possible symptoms related to microsoft/aspnet-api-versioning#306. The fix was published in [2.3.0](https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Versioning/2.3.0) back in June. Updating the package version should fix the problem for good. Thanks.

[2018-12-14 20:20] dougbu commented on #3754
@SteveSandersonMS your email responded to a message about JsonPatch. Is that used in projects that target WebAssembly too?

[2018-12-14 20:20] natemcmaster commented on #3754
Btw, I'm updating Doug's check list above. Yes, ZipManifestGenerator  could be updated, but it doesn't really matter. It's a developer tool for this repo only. We don't re-distribute.

[2018-12-14 20:33] halter73 opened #5114 "Configure Azure Pipelines to run SignalR daily tests on PRs that opt in"
See #5056 for context

[2018-12-14 20:33] dougbu commented on #3754
@Tratcher was Microsoft.AspNetCore.Connections.Abstractions.csproj left out of #4405 on purpose?

[2018-12-14 20:42] rynowak commented on #3754
JsonPatch should change to netcoreapp3.0.

Components stuff can be left alone. We'll be doing more surgery there soon, and much of it will be ns2.0 forever

[2018-12-14 20:43] rynowak commented on #3754
Precompilation can be deleted.

[2018-12-14 20:44] rynowak commented on #4970
Great, I'm going to close this since we can't change how the API works, and the real cause is fixed in api-versioning. Thanks @commonsensesoftware !

[2018-12-14 20:44] #4970 closed

[2018-12-14 20:52] Tratcher commented on #3754
@natemcmaster wasn't SignalR client going to need Microsoft.AspNetCore.Connections.Abstractions.csproj transitively?

[2018-12-14 21:16] dougbu commented on #3754
Actions so far:
- convert to `netcoreapp3.0`:
  - [ ] src\Features\JsonPatch\src\Microsoft.AspNetCore.JsonPatch.csproj
  - [ ] src\PackageArchive\ZipManifestGenerator\ZipManifestGenerator.csproj
- delete
  - [ ] src/MvcPrecompilation/**

[2018-12-14 22:09] rynowak opened #5116 "Removing Support for loading precompiled views from MVC 2.0"
Discussed offline with @DamianEdwards

We want to remove support for loading precompiled view that were created using MVC 2.0 and the precompilation tool from that era. The compiler of that era used the `RazorViewAttribute` and `RazorPageAttribute` to denote views and pages.  In 2.1 along with the release of the Razor SDK we added a new set of attributes for views/pages that are used by the 2.1+ c

[2018-12-14 22:55] #5103 closed

[2018-12-14 22:55] rynowak commented on #5103
Fixed https://github.com/aspnet/AspNetCore-Tooling/pull/42

[2018-12-14 22:55] rynowak commented on #5094
Fixed: https://github.com/aspnet/AspNetCore-Tooling/pull/42

[2018-12-14 22:55] #5094 closed

[2018-12-14 22:56] rynowak commented on #4429
Fixed aspnet/AspNetCore-Tooling@d370cdb7bc4229ae759e2e28d91520f386ddc289

[2018-12-14 22:56] #4429 closed

[2018-12-14 23:08] granthoff1107 opened #5118 "Are hosted services guaranteed to run"
I've created a hosted service that executes a recurring task in .Net-Core.
(I'm using shared hosting so I don't have control over iis)

    public class SchedulerService : IHostedService
    {
        private readonly ILogger _logger;
        private Timer _timer;

        public SchedulerService(ILogger<SchedulerService> logger)
        {
            this._logger = logger;
        }

        publ

[2018-12-14 23:32] dougbu commented on #3754
@pranavkm that leaves just Microsoft.AspNetCore.Mvc.Analyzers.csproj and Microsoft.AspNetCore.Mvc.Api.Analyzers.csproj. Must the analyzers target `netstandard1.3`?

[2018-12-14 23:45] dougbu commented on #3754
FYI I'll take the remaining few actions

[2018-12-14 23:46] Tratcher commented on #4774
So System.IO.StreamReader.EndOfStream calls sync Stream.Read...
[code]

[2018-12-15 00:23] john-luke-laue opened #5847 "Why is there a generic parameter definition TUser for PasswordHasher when it is not used?"
Not sure if this is the place for this type of question, but I'm curious as to why TUser generic type parameter is used in PasswordHasher<TUser> class when TUser is not used internally in the class anywhere.

https://github.com/aspnet/Identity/blob/master/src/Core/PasswordHasher.cs#L17

TUser is used to define a parameter [here](https://github.com/aspnet/Identity/blob/master/src/Core/PasswordHashe

[2018-12-15 00:40] halter73 commented on #4774
Do we need a StreamReader.EndOfStreamAsync()? Or can we just avoid using this API and recommend other's do the same like with the other sync Stream(Reader) APIs?

[2018-12-15 01:11] JamesNK commented on #4591
I've tracked this down to how MVC uses endpoint routing in 2.2. When the MVC endpoint datasource denormalizes conventional routes it won't use constraints that are not associated with a parameter.

For example, the constraint "name" does not have a matching route parameter and the constraint is not used by endpoint routing:
[code]

This issue is already fixed in 3.0. The MVC endpoint datasource wa

[2018-12-15 01:14] PureKrome commented on #4953
@khellang but I am :) and it's great! Just seeing if the feature could be further expanded/completed or ... not (which means we all stick with yours). It just feels incomplete, right now. Sure, this 'might be as designed' but I thought .. when comparing _your_ middleware to the one in MVC .. there's a heap of gaps.

I also understand that this can be compared to the MS IoC/DI vs structuremap, etc.

[2018-12-15 01:41] Tratcher commented on #4774
It looks easy enough to just keep reading and check for null.

[2018-12-15 02:33] natemcmaster commented on #4264
We implemented dependency flow on Extensions in https://github.com/aspnet/Extensions/pull/626. We'll probably be able to copy this approach on this repo while we make progress on converting to the Arcade SDK.

[2018-12-15 02:35] natemcmaster commented on #4264
To be clear, Arcade SDK conversion will come later and likely require big changes to aspnetcore. We'll do dependency flow first to unblock our partner teams.

[2018-12-15 03:35] danroth27 commented on #5085
I don't think we can realistically make this work. Razor files (cshtml) compile to C# files, which then get built with the project. As far as I know you can't add arbitrary C# files to an F# project and expect them to compile (nor can you add F# files to a C# project). If this ever worked in the past it was because the Razor files were being compiled at runtime, but we have been moving away from r

[2018-12-15 06:04] techiebuddhas opened #5126 "converting asp.net to asp.net core issue on onredirecttoidentityprovider"
recently we have migrated our project from asp.net to asp.net core, the project was working fine in asp.net, We have followed the migration document of Microsoft for migrating "asp.net to asp.net core" and modified accordingly, unfortunately, OnRedirectToIdentityProvider method in startup class is not working on challenge call (from the controller). It would be great if someone helps me to figure

[2018-12-15 06:05] gulando commented on #3368
I have the same problem.
I am trying to run standart asp.net core mvc application on my Ubuntu 18.04 machine and but I can't do it because browser gives me "Your connection is not private" (certificate is not valid), but when I am typing in terminal  "dotnet dev-certs https" it returns me "A valid HTTPS certificate is already present."

[2018-12-15 10:31] davidfowl commented on #4598
You have 2 options:
- Change the implementation of this service to be aware of being run inside and outside of a request
- Use a factory to switch implementation based on the IHttpContextAccessor.HttpContext (though there's an issue with null checking the HttpContext in 2.2).

[2018-12-15 10:32] davidfowl commented on #4564
@kameleon71 Can you provide a full repro? (Client included).

[2018-12-15 10:34] davidfowl commented on #4544
cc @rynowak @glennc

[2018-12-15 10:36] #4421 closed

[2018-12-15 10:39] #4530 closed

[2018-12-15 12:46] PinpointTownes commented on #5113
It's worth noting that the OIDC middleware uses `response_type=id_token` by default, which **forces** using `response_type=form_post` as neither `query` (forbidden) nor `fragment` (not applicable to server-side components) are usable in this case.

This kind of check would only make sense with the authorization code flow (`response_type=code`), not with implicit or hybrid.

[2018-12-15 13:04] joeaudette commented on #4591
Update on this based on what @JamesNK posted, I got the idea to make my route constraint name match the route parameter by changing my foldertenant default route like this:

    routes.MapRoute(
                    name: "folderdefault",
                    template: "{sitefolder}/{controller}/{action}/{id?}",
                    defaults: new { controller = "Home", action = "Index" },

[2018-12-15 13:10] HassanHashemi commented on #4731
![untitled](https://user-images.githubusercontent.com/6805984/50043370-09b63880-0088-11e9-9b4c-e5e5b28a2be5.png)

@benaadams I believe this thing is still there.

[2018-12-15 13:52] NanaseRuri opened #5130 "How could I use multiple UserManager<T> in a project?"
### Is your feature request related to a problem? Please describe.
I created two IdentityDbContext<T>, one is AdminIdentityDbContext:IdentityDbContext<Admin>, and another is StudentIdentityDbContext:IdentityDbContext<Student>.

And I created two controllers, one is:
[code]

Another is:
[code]

My Startup.cs is as below:

[code]

But when I got the site "/AdminAccount/Login", I got an error:

### D

[2018-12-15 16:08] atljoseph opened #5131 "Creating new app on MAC with dotnet cli with Core3 Preview SDK - CRITICAL PackageReference not added"
MAC
dotnet SDK Core 3 Preview (3.0.100-preview-009812)

After doing this:
dotnet new webapi -o CupcakeApi

Project does not compile: Fail, Microsoft.

Works after manually adding this line to the .csproj file:
[code]

Two words. More Testing.

Thanks

[2018-12-15 16:52] PingPongSet opened #5132 "Integration Test: API controller failed to call another controller via ASP.NET Core API"
I have a problem getting an API controller to call another API controller within the same project.

Specifically, the integration project is able to call a controller in the production project, and the controller will make another call to a dummy controller within the same project, but the first controller failed with internal server error.

However, the first controller can call google.com.

Plea

[2018-12-15 17:13] Tratcher commented on #5113
That's why the suggested behavior is to warn or fail, not to downgrade.  This came up when we found a server that didn't support form_post and resulted in some very odd behavior.

[2018-12-15 17:32] PinpointTownes commented on #5113
Out of curiosity, what did it do? If an OAuth2/OIDC server doesn't support the `response_mode` specified by the client, it should very likely return an explicit error stating a parameter is invalid or not supported.

[2018-12-15 17:55] atljoseph commented on #5131
Actually that didn't fix it. Still broken. Sad. You give us something to look at it. First time I look at it, the thing doesn't work. Fail. Super Fail for a company like MS

[2018-12-15 20:01] timgabrhel commented on #4598
Thanks David.

The interface in question already takes a custom service that is created off of a factory. In the Web Api case, it's just grabbing info off of HttpContext. In the IHostedService, the details of this object will need to change during processing. Perhaps I can store the current info somewhere that will be accessible by the service factory, otherwise I will need to scope down my servic

[2018-12-15 21:33] #4701 closed

[2018-12-16 00:03] jerejones commented on #4356
@halter73 Interesting and thank you very much

[2018-12-16 00:03] #4356 closed

[2018-12-16 01:03] kofifus opened #5134 "SignalR console client runtime exception in Core 3.0"
I have a .NET Core console app using SignalR to connect to an ASP.NET Core SignalR client

Everything was working fine in Core 2.2

I now converted both server and console client to Core 3.0 and updated all packages to latest release

Everything build fine and the server start fine.

When the client starts, I get a runtime error when the hub tries to connect:

`System.IO.FileNotFoundException: 'Co

[2018-12-16 01:13] WueF opened #5135 "ActionContext.RouteData.Routers empty causes ArgumentOutOfRangeException in UrlHelper (Regression from 2.1)"
### Describe the bug
1. ActionContext.RouteData.Routers is empty collection with CompabilityVersion.Version_2_2
1. UrlHelper uses direct access to zero-element, instead calling .First() or .FirstOrDefault() with emergency return of ie. NullRouter
`protected IRouter Router => ActionContext.RouteData.Routers[0];`
1. This causes ArgumentOutOfRangeException while using UrlHelper

### To Reproduce
Step

[2018-12-16 03:22] kofifus opened #5136 "Microsoft.AspNetCore.SignalR.Client vs Microsoft.AspNetCore.SignalR.Client.Core"
What is the difference between:

Microsoft.AspNetCore.SignalR.Client (https://www.nuget.org/packages/Microsoft.AspNetCore.SignalR.Client/3.0.0-preview-18579-0056)

and

Microsoft.AspNetCore.SignalR.Client.Core (https://www.nuget.org/packages/Microsoft.AspNetCore.SignalR.Client.Core/3.0.0-preview-18579-0056)

?

Which one should a console SignalR client use ?

[2018-12-16 04:16] kofifus opened #5137 "Unable to use WithUrl and Action<HttpConnectionOptions> in Core 3.0"
Using latest Core 3.0

I'm trying:

        hubConnection = new HubConnectionBuilder().WithUrl("http://localhost:5000/hubs/agenthub", options => options.Cookies.Add(myCookie)).Build();

I get:

`Error	CS0012	The type 'HttpTransportType' is defined in an assembly that is not referenced. You must add a reference to assembly 'Microsoft.AspNetCore.Http.Connections.Common, Version=3.0.0.0, Culture=neut

[2018-12-16 09:09] #5136 closed

[2018-12-16 12:02] dobrinsky opened #5138 "Model binding should use TryParse instead of Parse"
### Describe the bug

I have found root cause of a bug that was being reported by clients and could not replicate it.

An Angular object is not being binded to the C# Object in the Controller. This throws Null Exception when this object is being used if the object that the user sends has a null value in a non-nullable C# property.

I am developing an ASP.NET Core application with Angular as the us

[2018-12-16 13:20] jdebarochez opened #5139 "WebpackDevMiddleware and Nodejs version compatibility"
### Describe the bug
Serving static files and HMR using WebpackDevMiddleware results in 400 Bad request error using Node.js LTS 10.14.2.

Using Node.js LTS 8.12.0 works fine though.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.1 or 2.2 and Node.js LTS version 10.14.2 or higher
2. Run this code [https://github.com/jdebarochez/dotnet-webpack-hotreload-is

[2018-12-16 13:57] davidfowl commented on #4774
cc @stephentoub FYI

[2018-12-16 14:02] josejmoran opened #5140 "Dependency injection Annotation"
### Is your feature request related to a problem? Please describe.
It will be great to have a feature that automatically register classes into the Dependency Injection container, so I just have to use an annotation on top of the class I want to be registered. For example:

[Singleton]
class EmailSend() {
  .....
}

This way I just write my class and put the annotation and that's all I need to do.

[2018-12-16 14:09] davidfowl commented on #5140
Dupe of https://github.com/aspnet/Extensions/issues/680

[2018-12-16 14:09] #5140 closed

[2018-12-16 14:17] josejmoran opened #5141 "Incremental Build"
I noticed that the build process in ASP.NET Core takes a lot of time. I think too much for a small application. Even when I just changed a razor page. Which is supposed to just works if I change just a razor page, there is no compilation needed(I have seen it work sometimes, but not always). That situation got me thinking about: is this compiling the whole project every time?

Is is possible that

[2018-12-16 14:21] josejmoran opened #5142 "Dependency Injection Annotation"
It will be great to have a feature that automatically register classes into the Dependency Injection container, so I just have to use an annotation on top of the class I want to be registered. For example:

[Singleton]
class EmailSend() {
.....
}

This way I just write my class and put the annotation and that's all I need to do.

[2018-12-16 16:13] davidfowl commented on #5138
Why not just make the model property nullable?

[2018-12-16 17:04] RemiBou commented on #5130
There is no "AddIdentity<Admin, IdentityRole>" in your ConfigureServices. You need one per user type I guess

[2018-12-16 19:52] cosmin-ciuc opened #5144 "HttpContext property of HttpContextAccessor is null"
![httpcontextaccessor_problem](https://user-images.githubusercontent.com/22634221/50058414-a1974d80-0180-11e9-9ca5-ccd675d6aca5.png)
I have a REST API web application which worked perfectly with ASP.Net Core 2.1. Now the constructor injected IHttpContextAccessor returns a null value for HttpContext property.

In Startup.cs class, in ConfigureServices method I have:
[code]

This is the WorklistPage

[2018-12-16 20:37] johnkwaters opened #5145 "Can't host 2.2 in Azure App Service"
I upgraded from 2.1.6 to 2.2.0, works nicely locally on IIS or Kestrel, but when deployed to Azure App Service, the API (it's an aspnetcore webapi app) won't start. I get

HTTP Error 500.21 - Internal Server Error
Handler "aspNetCore" has a bad module "AspNetCoreModuleV2" in its module list

Is this not supported yet? I can see the SDK is available on the machine.

[2018-12-16 21:17] Tornhoof commented on #5145
The new ANCM is not yet on Azure App Service.
See Damian Edwards' comment in https://blogs.msdn.microsoft.com/webdev/2018/12/04/asp-net-core-2-2-available-today/

[2018-12-16 22:27] UrielMhezzek opened #5677 "MouseEvent does not adopt the properties"
The Javascript function returns normal values like:

The C# function only returns default values.

JavaScript Interop
[code]

JavaScriptInteropClass
[code]
Is this an error? This is Blazor ServerSide

[2018-12-16 22:32] lsvhome opened #5678 "TypeLoadException"
Type load error in deep library code of well known library.
I attached project which demonstrates this bug.
Also I added code (in Program.cs) which fixes bug, but it is hack.
[BlazorExceptionExample.zip](https://github.com/aspnet/Blazor/files/2684016/BlazorExceptionExample.zip)

Newtonsoft.Json.JsonSerializer serializer = new Newtonsoft.Json.JsonSerializer();
serializer.Serialize(new StringWriter(

[2018-12-17 00:04] NanaseRuri commented on #5130
In fact, I added AddIdentity<Admin, IdentityRole> and there is another error.

[2018-12-17 00:14] NanaseRuri commented on #5130
In fact, I have already tried it but another error occured.

[2018-12-17 00:50] ryancole opened #5402 "change log for javascript signalr core client?"
I see a version  1.1.0 is available but I cannot find any information what has changed since that release. Are there some change log information about this release somewhere?

[2018-12-17 01:52] PingPongSet commented on #5132
**Update**

I upgraded to 2.2, issue still exists

[2018-12-17 02:11] pranavkm commented on #5132
What's the exception that results in the internal server error?

[2018-12-17 02:30] dougbu commented on #3754
#5124 closed with 826f950530

[2018-12-17 03:34] dougbu commented on #4866
Part two of three: 708dc5cb5a

[2018-12-17 05:01] PejmanNik opened #5148 "ASP.NET Core 2.2 Signature validation failed in JwtBearer Authentication (just in Linux/MacOS)"
### Describe the bug
After updating to 2.2 RSA signature cant' be verify in Linux and MacOS ( in windows it is ok).
I use this code in the startup to set authentication:
[code]
After update in any endpoint with `[Authorize]` attribute in Linux or MacOS authentication middleware throw can't verify signature error.
**in Older version or in windows it works just fine.**

### To Reproduce
Steps to rep

[2018-12-17 05:38] #4218 closed

[2018-12-17 05:42] davidfowl commented on #5144
Can you show your controller method? The one that calls this convert method?

[2018-12-17 06:00] #5134 closed

[2018-12-17 06:04] davidfowl opened #5149 "UseStartup on GenericWebHostBuilder should fail when Startup.ConfigureServices returns an IServiceProvider"
Right now it's being ignored and it should throw instead.

Program.cs

[code]

Startup.cs

[code]

Here's the code that supposed to do that check.

https://github.com/aspnet/AspNetCore/blob/cc899e2be729364589ba7f4392bce9942e4faca4/src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs#L245-L249

[2018-12-17 06:04] davidfowl commented on #5149
cc @Tratcher

[2018-12-17 06:14] JamesNK commented on #5135
`UrlHelper` relies on `IRouter` and will not work when endpoint routing is enabled. There is an `EndpointRoutingUrlHelper` that is used for backwards compatibility reasons but is internal.

Instead of injecting `UrlHelper`, you should change your code to use `LinkGenerator`. It is designed to be resolved from DI and is registered by default in 2.2

Use `LinkGenerator.GetPathByAction`: https://docs

[2018-12-17 06:51] uokitomer opened #5151 "Run MVC filter before authorization"
### Is your feature request related to a problem? Please describe.
At the moment I am authorizing my api by using policies. To call my authorized endpoints I need to be able to verify that some headers are present in the request, otherwise, I cannot authorize the user.

I need to be able to return status code 400 if these headers are not present and tell the user they are required.

I have a Servi

[2018-12-17 06:52] Ali-Doustkani opened #5152 "Global Filters Order"
Filters of the same type (like `IResourceFilter`), with the same `IOrderedFilter.Order` are supposed to be ordered by their scope, which is working just fine. But when I add Global filters using the `Add<T>()` or `Add(Type)` method, it's not working correctly!
Version: 2.1

### To Reproduce
1. Create some filters:
[code]

2. Decorate an Action and a Controller with the appropriate filters:
[code]

[2018-12-17 06:56] davidfowl opened #5153 "ANCM In process: Managed exceptions before full initialization are too hard to look at"
Epic https://github.com/aspnet/AspNetCore/issues/8833

While testing out the generic host with the new ValidateOnBuild feature (which fails to build the host if there's an issue with services), I noticed that its really hard (even in development) to just get access to the managed exception when using ANCM in proc. If there's an exception in Program.cs, this is what you see:

![image](https://user-

[2018-12-17 06:57] uokitomer opened #5154 "Enforce multiple authentication schemes"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Hi team,

My issue is about authentication. I am trying to enforce two authentication schemes, My assumption is that the current behavior is that if you have more than one authentication scheme setup the framework will execute both and if any passes then the user will be authe

[2018-12-17 07:03] mkArtak commented on #4967
Thanks for contacting us, @Boglen.
@ryanbrandenburg, can you please look into this? Thanks!

[2018-12-17 08:19] JiangJiaqi90 opened #5155 ".net core 2.2 Downward compatibility problem（about cross domain）"
The code which developmented on .net core 2.1 SDK , when it  runs on the .net core 2.2 runtime, the signalr does not support cross-domain.
When I switch back to 2.1 runtime,the cross-domain problem solving.
In the same way, only signalr does not support cross-domain on Windows , and even common API on ubuntu do not support cross-domain .The solution is the same as above.

[2018-12-17 08:22] Joelbear5 commented on #3849
How is this implemented when running Kestrel in Linux (without IIS as the reverse proxy server)?

[2018-12-17 08:40] McMlok opened #5156 "NullReferenceException in Microsoft.AspNetCore.Http.DefaultHttpContext.get_User()"
Hello,

We randomly experience exception System.NullReferenceException: Object reference not set to an instance of an object at Microsoft.AspNetCore.Http.DefaultHttpContext.get_User(), full stack below.

Two custom middleware’s are only read header data and store them in HttpContext Items.

I'm not able to reproduce this issue in testing or dev environment.

We have two servers deployment in "farm

[2018-12-17 08:44] cosmin-ciuc commented on #5144
Sure I can post the controller method calling the Convert method but it is a little bit more complicated than just that since I'm using Automapper Nuget package to convert from one type instance to another and the Automapper is the one that is actually calling the Convert method.

I was planning to create a simplified project that could be used to replicate this issue.

You need to have the follow

[2018-12-17 08:50] techgeek03 opened #5157 "Model Validation: FromQueryAttribute has different behavior then FromBodyAttribute when used with BindRequiredAttribute or RequiredAttribute"
### Describe the bug
When `[BindRequiredAttribute]` or `[RequiredAttribute]` is used on the entire model, for a model marked with `[FromBodyAttribute]`, when the model is null, then `BadRequest` is returned which is the expected behavior.

[code]

When `[BindRequiredAttribute]` or `[RequiredAttribute]` is used on the entire model for a model marked with `[FromQueryAttribute]`, when the model is nu

[2018-12-17 11:11] AlexPiksel opened #5159 "Microsoft.AspNetCore.Mvc.ControllerBase.Content method does not set StatusCode of returned ContentResult object"
### Describe the bug

When using the `Microsoft.AspNetCore.Mvc.ControllerBase.Content(string content)` method to create a `ContentResult` object in a WebApi project, the object returned has a `null` value for the `int? StatusCode` property. This contradicts the description of the method, which states that the method:

Note that this seems to be turned into a 200 somewhere in the pipeline between t

[2018-12-17 11:11] samisil opened #5160 "Double compression when response returns ContentEncoding header"
When the back-end returns a compressed response, Microsoft.AspNetCore.ResponseCompression is double-compressing the response unnecessarily.

My sugestion is to check the response header ContentEncoding before begin to write and compress the content.

Here how I fix the problem locally:
[code]
Please consider those changes.

Regards

[2018-12-17 12:15] RemiBou commented on #5130
I don't think it's a bug or a missing feature maybe you can ask for help on stackoverflow.com about how to setup multiple UserManager in a single app.

[2018-12-17 12:39] tomkerkhove opened #5161 "Health Check - Provide support for OpenAPI"
The built-in support for health checks are great, but when you are using OpenAPI specifications this will not surface.

Are there plans to provide this capability/integration for 3rd party libraries?

This is currently holding me off of using it.

### Additional context
OpenAPI are a great way to describe your APIs, bot internally as externally. Health checks are a great example of an internal end

[2018-12-17 12:49] cosmin-ciuc commented on #5144
I've done some more tests. It seems that if you alter the value of HttpContext.TraceIdentifier property in a middleware, the HttpContextAccessor.HttpContext property will become null.

I'm attaching a sample web application which can be used to reproduce the error. If you'll make the following HTTP request:

[code]
you'll reproduce the error.

[WebApplication1.zip](https://github.com/aspnet/AspNet

[2018-12-17 13:05] NanaseRuri commented on #5130
Well, I have search for the solution for whole day but make no sense. It seems that if I use Identity in my project I could never use cookie for authorization.

[2018-12-17 13:08] quentingarlan opened #5162 "Name 'WebHost' does not exist"
### Describe the bug
When using netcoreapp2.2 and Asp net Core 2.2.0 I get the error 'WebHost' does not exist in my buildWebHost function, going back to net Core 2.1 fix the issue.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2
2. Run this code
[code]
3. With these arguments '....'
4. See error

### Expected behavior
A clear and concise description of

[2018-12-17 13:09] quentingarlan commented on #5162
[Itga.Saam.WebApi.csproj.zip](https://github.com/aspnet/AspNetCore/files/2686126/Itga.Saam.WebApi.csproj.zip)

[2018-12-17 13:10] quentingarlan commented on #5162
For information a SO thread exists about this issue:

https://stackoverflow.com/questions/53623730/webhost-doesnt-exist-in-the-current-context-in-asp-net-core-2-2-default-api-tem

[2018-12-17 13:48] nimeshdhruve commented on #4556
@JamesNK, I have added [readme](https://github.com/nimeshdhruve/WebAPIRoutingDemo) explaining the issue, please let me know if you need more details.

[2018-12-17 13:50] PingPongSet commented on #5132
please see exception updated on the opening ticket

[2018-12-17 13:52] yngndrw-sage commented on #2746
Should this issue be re-opened now that Security has come back to this repository ?

[2018-12-17 14:06] cosmin-ciuc commented on #5144
@davidfowl: I have made another web application project, even simpler, that can be used to reproduce the problem. I am 100% convinced that if you alter the HttpContext.TraceIdentifier from the middleware code you force HttpContextAccessor instance to set its HttpContext property to null.

Please see the attached sample application.
[WebApplication2.zip](https://github.com/aspnet/AspNetCore/files/2

[2018-12-17 14:18] kieronlanning commented on #5144
@cosmin-ciuc Thanks for investigating that - I've had exactly the same problem, but haven't had a chance to figure out why it's happening.

I've delayed out updated to 2.2 because of this exact problem.

[2018-12-17 15:31] mkArtakMSFT commented on #5055
Thanks for contacting us, @poke.
@JamesNK, can you please look into this? Thanks!

[2018-12-17 15:37] mkArtakMSFT commented on #4966
Thanks for contacting us, @juniormayhe.
Could you please provide us with a repro project (ideally as a repo in GitHub)?
@javiercn, can you please look into this? Thanks!

[2018-12-17 15:38] mkArtakMSFT commented on #4967
@Boglen, can you please share with us the output of `dotnet --info`? Thanks!

[2018-12-17 15:41] Boglen commented on #4967
C:\Users\Boglen>dotnet --info
Пакет SDK для .NET Core (отражающий любой global.json):
 Version:   3.0.100-preview-009812
 Commit:    e3abf6e935

Среда выполнения:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview-009812\

Host (useful for support):
  Version: 3.0.0-preview-27122-01
  Commit:  00c5c

[2018-12-17 15:45] mkArtakMSFT commented on #4959
Thanks for contacting us, @vlapenkov.
Can you please share the code where you configure the model binding and the action?

[2018-12-17 15:46] Boglen commented on #4967
I think Microsoft.AspNetCore.Blazor.Build assembly wants a Microsoft.NETCore.App 2.2.0-rtm-27105-02.
I found this is in SDK 2.2.100-rtm-009578, but I can't find this SDK to download.

[2018-12-17 15:48] mkArtakMSFT commented on #4953
Thanks for contacting us, @PureKrome.
@pranavkm, any suggestions? Thanks!

[2018-12-17 15:59] mkArtakMSFT commented on #4802
Thanks for contacting us, @megafetis.
This is actually a dupe of https://github.com/aspnet/Mvc/issues/8782, which for the fix is tracked as part of https://github.com/aspnet/AspNetCore/issues/4939

[2018-12-17 16:03] Boglen commented on #4967
I searched in nuget package "Microsoft.AspNetCore.Components.Build" 3.0.0-preview-18614-0151 and found the Microsoft.AspNetCore.Components.Build.runtimeconfig.json
`{
  "runtimeOptions": {
    "tfm": "netcoreapp3.0",
    "framework": {
      "name": "Microsoft.NETCore.App",
      "version": "2.2.0-rtm-27105-02"
    }
  }
}`

[2018-12-17 16:08] Boglen commented on #4967
.. changed the version to 2.2.0 and I see "Hello world!"
Hope this help you.
![image](https://user-images.githubusercontent.com/10594440/50099372-cacae300-023f-11e9-9559-1404cedb0fc6.png)
![image](https://user-images.githubusercontent.com/10594440/50099387-d7e7d200-023f-11e9-9056-d9133f9b42ef.png)

[2018-12-17 16:09] Apollo3zehn opened #5163 "Blazor: Error: Cannot write embedded resource from assembly 'Blazor.Extensions.SignalR.JS'"
I am just setting up a project with ASP.NET as server and Blazor as client. I also use a `Directory.Build.props` file to load another .props file whose purpose is to redirect `bin` and `obj` folders into artifacts folder. This redirection causes the following error:

Cannot write embedded resource from assembly 'Blazor.Extensions.SignalR.JS' to
C:\Users\wilvin\Desktop\IBOW\artifacts\obj\xx\Debug\n

[2018-12-17 16:14] davidfowl commented on #5144
Yes this is a change made in 2.2. It’s fixed in 3.0, maybe we should backport that’s change to 2.2.x.

cc @muratg

[2018-12-17 16:14] mkArtakMSFT commented on #4800
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2018-12-17 16:20] srburton opened #5679 "2019 Launch?"
When will be released a version for use in production?

[2018-12-17 16:31] mthalman-msft commented on #2271
@pranavkm - According to that issue, there's a [comment](https://github.com/dotnet/standard/issues/567#issuecomment-341615176) stating that package authors can workaround the issue by adding net461 as an additional target framework.  Indeed, this is currently the official recommended [guidance](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cross-platform-targeting#multi-targeti

[2018-12-17 16:40] zdenek-jelinek opened #5164 "[Blazor] Blazor client-side BrowserHttpMessageHandler uses Uri.ToString() which unescapes characters"
### Symptoms
Sending a HTTP Request with URI containing escaped ``{``, ``:`` or ``}`` characters (``%7B``, ``%3A``, ``%7D``) through HttpClient in Blazor client-side causes the browser to request a resource on the URI with those characters unescaped.

### Reproduction
Using Blazor 0.7.0 client-side, execute the following:
[code]
**Actual behavior**
The browser sends `GET https://contoso.com?parame

[2018-12-17 16:48] muratg commented on #5144
@davidfowl where's the fix in master?

[2018-12-17 16:52] jkotalik commented on #4793
Can you show the code for the MVC controller that is returning the JSON result?

[2018-12-17 17:08] Matthew-Bonner opened #5165 "Clarify browser support for Blazor"
I don't see much information on browser support, although I get the impression this is supposed to work on any browser thanks to the JavaScript fallback, but when I google about Blazor I read up that support for Internet Explorer 11 is not a priority.

I also found the following snippet of text:

But this again doesn't explicitly mention about Internet Explorer 11, in which support seems contrary

[2018-12-17 17:08] Matthew-Bonner commented on #5165
Source for my quote:
https://github.com/aspnet/Blazor/wiki/FAQ

[2018-12-17 17:19] kieronlanning commented on #5144
@davidfowl / @muratg We 100% need this fix back ported, please!

[2018-12-17 17:31] muratg commented on #5144
@davidfowl Are you able to send a 2.2.2 PR?

[2018-12-17 17:32] jkotalik commented on #4957
The error code you are getting means the app has reached Program.Main, but your application is throwing an exception. This doesn't look like an issue with subapplications. Can you try adding the following to your application:

[code]

The most common issue people have been running into is the CurrentDirectory() being set to `C:\Windows\System32\inetsrv` rather than the app directory. Our current r

[2018-12-17 17:38] davidfowl commented on #5144
No I’m on vacation, have somebody backport the PR 😬

[2018-12-17 17:40] natemcmaster commented on #4246
Once https://github.com/aspnet/AspNetCore/pull/4954 is merged and makes its way up to master, I think we should be unblocked to convert Components and Mvc.

FYI @SteveSandersonMS @javiercn - the refactoring on Components is likely to be fairly disruptive. Do you have any big changes that need to go in this week?

[2018-12-17 17:42] muratg commented on #5144
@davidfowl Since 2.2.1 is done, earliest this can go in is 2.2.2. Plenty of time in January to do it. Please make sure to fill out the shiproom template.

[2018-12-17 17:52] ryanbrandenburg commented on #4967
@Boglen it's hard to tell because the error messages are partially in Russian but as images so I can't copy to a translation service, but it seems like you've got a 3.0.0 preview version of the templates that you're trying to run against 2.2? If I had to guess I'd say this was due to the contents of your global.json. Make sure your global.json references all 3.0.0 stuff and if you're still having

[2018-12-17 17:52] andreymir opened #5180 ""npm run build" fails with "Cannot find type definition file for 'node'""
### Environment:
Windows 10 x64
Node JS v8.11.1
NPM 5.6.0

### Steps:
1. `git checkout https://github.com/aspnet/JavaScriptServices.git`
2. `cd JavaScriptServices\src\Microsoft.AspNetCore.NodeServices`
3. `npm install`
4. `npm run build`

### Actual result
Build fails with the error:

[code]

### Expected result:
Build completes without errors

[2018-12-17 17:52] groogiam opened #5181 "New Angular Spa Template Typescript Errors in Definitions"
The latest version of the ASP.NET SPA template seems to cause un-resolvable typescript errors with the latest version of visual studio. This template flags multiple definition files. See attached screen shot.

![image](https://user-images.githubusercontent.com/1992395/39476726-fd6cf48a-4d2a-11e8-98f7-217c8214cd55.png)

[2018-12-17 17:55] AnanthJanakiram opened #5194 "What version of node is used in Microsoft.AspNetCore.NodeServices?"
I was trying code-splitting + SSR with packages like react-loadable, react-async-component etc. For dynamic import to work as expected, module="esnext" was supposed to be added to the tsconfig.json file.
Post adding this, when SSR happens via the main-server.js file which is generated, I get the below shown error.

**Exception: Call to Node module failed with error: Prerendering failed because of

[2018-12-17 17:56] SteveSandersonMS commented on #4246
Thanks for the heads-up, @natemcmaster! I’d definitely like to merge #5166 before any other disruptive change goes in. Should be ready to merge as soon as it’s reviewed.

[2018-12-17 17:56] onionhammer opened #5198 "Overload should inherit from previously configured DI options"
Shouldnt the linked overload be retrieving the static file options from DI rather than "newing" an instance?

https://github.com/aspnet/JavaScriptServices/blob/15d2f5a898da584433e38c82d5b09c375d9f87b7/src/Microsoft.AspNetCore.SpaServices.Extensions/StaticFiles/SpaStaticFilesExtensions.cs#L54

[2018-12-17 17:59] buldo opened #5208 "Base class for ReactDevelopmentServerMiddleware and AngularCliMiddleware"
Some time ago I created `VueDevelopmentServerMiddleware` based on `ReactDevelopmentServerMiddleware`.
Actually difference between my vue middleware and react middleware is regexp to find out "is dev server started". But I copied to many util classes in my project.

I think that this is a good idea to provide public abstract base classes for creating own middlewares that based on running npm script

[2018-12-17 18:03] jkotalik commented on #3849
@Looooooka with the release of 2.2, the module AspNetCoreModuleV2 should make startMode="AlwaysRunning" work. Please give it a try.

@carlowahlstedt we now have documentation on ANCM Inprocess in our docs. See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.2#iis-options and https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=asp

[2018-12-17 18:05] jdmallen opened #5234 "Error is vague when supplying empty string to AddSpaStaticFiles"
### Functional impact
This one's pretty minor, but annoying.

When one's static files start at the root of a project, one's first instinct is to set the RootPath configuration variable to an empty string, much like one would with the `app.UseStaticFiles("")` method call.

Unfortunately, setting the RootPath to an empty string in the service collection call `services.AddSpaStaticFiles(config => con

[2018-12-17 18:06] anurse opened #5242 "ConditionalProxyMiddleware attempts to proxy incoming WebSocket upgrade requests"
Moved from https://github.com/aspnet/SignalR/issues/2990

It looks like the ConditionalProxyMiddleware just tries to forward any incoming HTTP request to it's target, but because it doesn't check the `Connection` header, it causes errors if a WebSocket request arrives. The middleware attempts to send a matching request using HttpClient, but that means it sets the `Connection` header and the `Upgra

[2018-12-17 18:08] hewenyang opened #5249 "Default SPA handler proxies arbitrary requests"
The default SPA application created from template proxies arbitrary requests.
For example, create a react based SPA application using `dotnet new react`
Then do `curl http://localhost:5000//example.com` (note the double slash here; I disabled https redirection for simplicity)
I get HTML code from `example.com`

This seems to be caused by:
https://github.com/aspnet/JavaScriptServices/blob/15884cbad

[2018-12-17 18:10] chrisckc opened #5259 "Behaviour of UseProxyToSpaDevelopmentServer when attempting to proxy to host/path"
I am not sure if SpaProxy was designed to allow proxying to a sub path such as "http://localhost:8080/app" as the documentation does not really say anything about it's behaviour, just that the parameter is the 'target base URI'.

In testing i found some odd results. To check the proxied request i just started up the node http server pointing to the 'dist' dir like this: `http-server dist --cors` a

[2018-12-17 18:11] chrisckc opened #5262 "Consider a restructure of the Spa middleware"
In my opinion, the structure of the various bits of Spa middleware is not very flexible.

For example the UseAngularCliServer and UseProxyToSpaDevelopmentServer is not available on IApplicationBuilder, as it is tied to the ISpaBuilder. This means that the use the SpaProxy we must write this:

[code]

UseSpaStaticFiles is just a wrapper around UseStaticFiles to allow 2 sets of static files to be se

[2018-12-17 18:11] pakrym commented on #5153
https://github.com/dotnet/core-setup/issues/4836

[2018-12-17 18:11] ryanbrandenburg opened #5264 "Hide port of SPA server in console output"
[Multiple](https://github.com/aspnet/Templating/issues/820) [people](https://github.com/aspnet/Templating/issues/666) [have been confused](https://github.com/aspnet/Templating/issues/821) about which port they should go to and end up going to the port for the SPA server directly instead of going to the AspNetCore server and letting it proxy them in, which can lead to problems with scenarios like t

[2018-12-17 18:17] jkotalik commented on #5145
We will make an announcement when ANCMV2 is publicly available on Azure App Services. There isn't an easy way to get module information from IIS via command line.

[2018-12-17 18:35] davidfowl commented on #5153
That doesn’t solve all of the issues with the experience but it’s a start 😬.

[2018-12-17 18:36] jkotalik commented on #5263
Same issue as https://github.com/aspnet/AspNetCore/issues/4206. See https://github.com/aspnet/Docs/blob/master/aspnetcore/host-and-deploy/aspnet-core-module/samples_snapshot/2.x/CurrentDirectoryHelpers.cs for our recommended work around. This behavior will be eventually patched.

Closing for now, please reopen if you still have the same issue, or a separate issue if you are experiencing different

[2018-12-17 18:36] #5263 closed

[2018-12-17 18:36] davidfowl opened #5286 "Support testing with the TestServer"
Right now it's not possible to use the SignalR client with the test server for websockets. We should make it possible (other transports work though).

[2018-12-17 18:39] BrennanConroy opened #5296 "C# client Stop can take a while if it spams Sends then tries to Stop"
[code]

The `SendAsync`'s are all waiting on a lock and when `StopAsync/DisposeAsync` tries to run it waits on the same lock. And I've observed it taking over a minute for the Stop/Dispose to finish

[2018-12-17 18:39] anurse opened #5297 "Call Access Token Factory once and cache the result until a 401 occurs"
To improve the ability to "refresh" expired tokens, we should consider caching the access token provided by the factory. Then, when an HTTP request gets a `401`, we call the factory again before re-issuing the request. That way the user can configure a process to "refresh" the token without forcing the connection to be reestablished

* For the WebSockets transport, this has no effect. There is onl

[2018-12-17 18:42] anurse opened #5309 "Get Java client integrated into build process"
* [x] Integrate into `build.cmd` with **automatic skipping when Java is not present** (#2678)
  * I think we should try to **fail** the build if Java is not present when on the CI though to avoid accidentally forgetting to build it because we spun up a new agent and didn't install Java.
  * Stretch goal: Acquire Java as part of the build (only on CI)
* [x] Make sure VSTS and Jenkins agents have th

[2018-12-17 18:43] Boglen commented on #4967
There is no global.json in my project.
I'm trying to create a project from this source (https://github.com/aspnet/AspNetCore/tree/master/src/Templating/src/Microsoft.DotNet.Web.ProjectTemplates)
RazorComponentsWeb (former Blazor)

@SteveSandersonMS can you please look?

[2018-12-17 18:44] DylanDmitri opened #5316 "Additional streaming parameter types"
Currently the user can pass in `ChannelReader<T>`.

Want to expand this to accept the `Stream` class, possible the new `Pipeline` class, etc. Make a common pattern for adding on additional types, maybe somehow tied to `IEnumerableAsync`.

[2018-12-17 18:48] MathiasKowoll commented on #4902
I have the same issue, just adding the aplicación part assembly does not register views and models from those compilations.

[2018-12-17 18:51] grahamehorner commented on #4800
If you clone the aspnet/aspnetcore repo and try to component solutions using the build script then you’ll get these issues.

[2018-12-17 18:57] michauzo opened #5321 "Add possibility to inject json reviver function in Typescript client"
Currently there is no possibility to customize in any way the behavior of JsonHubProtocol. It could pass a reviver function to the JSON.parse method. If a user could inject such function to the JsonHubProtocol it would be much easier to perform any data transformation (like converting date strings to Date objects).

[2018-12-17 19:00] valeriob opened #5336 "Allow signalr-protocol-msgpack to be use with UMD"
Could you pls export this module as namespace as well ?
(same treatment given to the signalr npm package https://github.com/aspnet/SignalR/issues/951 )

![image](https://user-images.githubusercontent.com/1522516/45550546-6573ea00-b82b-11e8-909a-df94a2fb3390.png)

Thanks

[2018-12-17 19:02] johnkwaters commented on #5145
Thanks. With previous updates I would just wait until I saw the SDK available on the machine, by going to the console on Azure App Services and doing dotnet --list-sdks. So this time I was surprised when I saw 2.2.0 was on the machine but it still didn't work. I guess this one went deeper! As far as feedback goes, though, it's quite hard to know when things that are released as nuget packages actu

[2018-12-17 19:02] Eilon opened #5343 "javadoc warnings for Java client"
Two warnings:
1. Need to set some HTML setting (presumably set to HTML5)
2. Some bad doc on an API

[code]

Full log here: http://aspnetci/viewLog.html?buildId=565722&buildTypeId=Coherence_UpdateRepos&tab=buildLog

[2018-12-17 19:03] mkArtakMSFT commented on #5346
@muratg, is this still planned to be done? If not, I'd just close it. Though I see the value.

[2018-12-17 19:06] anurse opened #5362 "Remove Jenkins builds"
Two tasks (can be completed independently):

* [x] Remove Jenkins builds
* [ ] Consider adding a Spanish-language AzDO agent build

[2018-12-17 19:06] muratg commented on #5346
@jkotalik do we have test coverage now?

[2018-12-17 19:07] anurse opened #5367 "Java Testing improvements"
* [ ] Automated Functional Tests against the a real server
* [ ] Test expected log messages

[2018-12-17 19:07] Boglen commented on #4967
Steps to reproduce

1. > dotnet new -i Microsoft.AspNetCore.Blazor.Templates::0.8.0-preview-18614-0151 --nuget-source https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json
2. > dotnet new razorcomponents -n TestProject
3. > dotnet build
![image](https://user-images.githubusercontent.com/10594440/50108851-15f0f000-0258-11e9-8dcf-5ef9e40d47d5.png)

How to fix:
Go to nuget packages, open Micros

[2018-12-17 19:08] mikaelm12 commented on #5365
Closing this as we haven't heard from you in a little while. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue if we're able to identify the problem.

[2018-12-17 19:08] #5365 closed

[2018-12-17 19:13] cgyqu opened #5393 "Redis reconnect problem"
In our web application,when there is a problem with the redis cluster.The configcenter will automatically issue new cluster connections,and  old connections will be cleared.In this case, redis needs to reconnect.But there is no way to do this now, I have to restart the application.

Therefore, I modified the following code  to solve this problem
[code]
Any Suggestions for this situation?

[2018-12-17 19:14] SteveSandersonMS commented on #4967
Sorry, we don’t support running that on the 3.0 SDK yet. You’ll need to wait until that is implemented, or use a 2.0 SDK.

[2018-12-17 19:14] #4967 closed

[2018-12-17 19:14] Ktirumalsetty opened #5401 "Does android have Signal R Android client library with sample"
I like to have android version for SignalR

[2018-12-17 19:49] JamesNK commented on #4556
Thanks. I'm looking into this now. I'll post an update with what I find.

[2018-12-17 19:55] #4278 closed

[2018-12-17 20:01] mlorbetske opened #5404 "Suggestion: Use SQL Server security for connection strings on Linux"
_From @livarcocc on July 16, 2017 18:20_

_From @badersur on July 13, 2017 21:3_

## Steps to reproduce

1. `dotnet new mvc -au Individual -uld true`

2. `dotnet restore`

3. `ASPNETCORE_ENVIRONMENT=Development dotnet run`

4. visit http://localhost:5000/Account/Register, enter data & press register

## Expected  behavior
The site should register the user & work without any issue

## Actual behavi

[2018-12-17 20:05] fdcastel opened #5406 "Localization?"
Any plans to bring localization to the templates?

Using `@Localizer` as show [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) seems a good option IMO. Particularly for templates like _Web Application with Authentication_ which have a nice set of pages and code ready to use. But only if your target audience understands English 😉.

[2018-12-17 20:07] peterblazejewicz opened #5412 "Some UI love to error pages"
Can the error pages be redesigned?
At least can the white space be added to clearly separate the content (important information to the developer) from the viewport edge? (the readability is being hurt IMO)

Thanks!

![20180202224338](https://user-images.githubusercontent.com/14539/35756273-eee0c78e-086a-11e8-8566-4e21ae02f017.jpg)
![20180202223845](https://user-images.githubusercontent.com/14539/3

[2018-12-17 20:08] DamianEdwards opened #5415 "Update project templates to use LibMan"
LibMan now ships in VS 15.7. It will soon be followed by a CLI tool that will enable it for cmd line scenarios. When that happens, we need to update the templates to use LibMan for managing client dependencies. This will involve including a `libman.json` file in the root of the projects, configured to bring in the required client libs (jQuery, jQuery Validate, jQuery Validation Unobtrusive, and Bo

[2018-12-17 20:10] ryanbrandenburg opened #5424 "Add checks of JS dependencies as part of the build"
We should write a quick script to test our JS dependencies for vulnerabilities and add it to the build for templating. Checking for vulnerabilities is as simple as running "npm audit", but sometimes there are packages without a fix available, or the vulnerability is the dependency of say, Angular. Where possible we should remove dependencies that aren't patching in a timely manner, but that's not

[2018-12-17 20:11] omerlh opened #5429 "Dockerfile support in webapi template?"
Adding sample docker file the can be used to deploy the app (based on one of the [official samples](https://github.com/dotnet/dotnet-docker/tree/master/samples/aspnetapp)) could make it a lot easier for people who start with .NET and want to run their code on Docker.
I find myself many times just copy an existing dockerfile from another project, or from the official samples.
If that makes sense, I

[2018-12-17 20:13] ryanbrandenburg opened #5436 "Consider moving SPA template packages to number post-fix naming scheme"
The "Regular" project templates have a 2.2 post-fix, but SPA packages do not. Let's see what the costs and benefits of making these two the same are.

[2018-12-17 20:30] dougbu commented on #3754
Last bit done in e717a8443e

[2018-12-17 20:30] #3754 closed

[2018-12-17 20:32] dougbu commented on #3754
Actually, @pranavkm should the analysers be converted to target `netcoreapp3.0`?

[2018-12-17 20:48] Tratcher commented on #4774
@halter73 @davidfowl why didn't Kestrel block sync response Flush()? It can cause all of the same issues, no?

I tried blocking it but found that StreamWriter.Dispose always calls Flush.

[2018-12-17 21:04] #4925 closed

[2018-12-17 21:07] natemcmaster commented on #5447
This was done already in TeamCity and Azure Pipelines.

[2018-12-17 21:07] #5447 closed

[2018-12-17 21:17] natemcmaster commented on #3754
I believe analyzers should target netstandard2.0, since csc runs on both framework (in VS) and core (everywhere else).

[2018-12-17 21:18] JamesNK commented on #4933
I'm not sure exactly what change fix this but sandbox now correctly writes link as `/PagesHome`.

[2018-12-17 21:18] #4933 closed

[2018-12-17 21:37] JamesNK commented on #4591
That initial call to the constraint with a null `HttpContext` happens when the application starts up. Endpoint routing needs to check whether a route is valid for a controller, part of which is checking the route constraints. Because it happens outside the context of an HTTP request the constraints are called with a null `HttpContext`.

Your solution of passing when the context is null is fine. Mu

[2018-12-17 21:39] kameleon71 commented on #4564
Here you are: https://github.com/kameleon71/asp.net.core.2.2.memory.leak
This example is based on standard asp.net.core web app in VS2017 (angular client)
Just run, click fetch data and watch memory usage.

[2018-12-17 21:41] dlr1 opened #5503 "Can't set custom 'value' attribute for a checkbox"
The following code in .html file works but not in a page (.cshtml)
[code]

[2018-12-17 21:42] javiercn opened #5508 "Generate definition files for blazor.js"
We should generate d.ts files for our javascript component and publish them to typings or somewhere similar. @SteveSandersonMS am I missing something here?

I want to be able to reference blazor.d.ts from a ts file and access to everything in a strongly typed way.

[2018-12-17 21:43] JamesNK commented on #4591
@rynowak Idea: what do you think of limiting the constraints run against routes at startup to those that ship with ASP.NET? We know they are ok with a null context. Additional user created routes can still run at runtime and filter down the result to one endpoint.

[2018-12-17 21:44] danroth27 opened #5517 "Blazor dev tools browser extension"
Other frameworks like [Vue](https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd) and [Redux](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd) have some pretty nice dev tools browser extensions.

We should consider having a Blazor dev tools browser extension. Potential scenarios:
- Inspect components
- Update components

[2018-12-17 22:07] brockallen commented on #5407
We showed how to do this back in January 2018: https://vimeo.com/254635632

[2018-12-17 22:09] galvesribeiro opened #5560 "Allow internal types to be invoked by JavaScript interop"
We should be able to mark `public` methods on `internal` types as `[JSInvokable]` since most of the lib developer, like myself, don't want to expose internal types to the end user.

I know that there is the idea that `JSInvokable` is inherently `public` and that mislead the idea that the types using it should be as well. I also know that you can hide a member with `EditorBrowseableAttribute(false)

[2018-12-17 22:14] mshindal commented on #4629
That got me a bit further. I added the changes to my fork [in this commit](https://github.com/mshindal/AspNetCore/commit/6a03a38e9226b1b06d92cf65f18f605b13d02f59).

However, it's still broken. When the OIDC provider redirects back to my app at `https://localhost:44383/signin-oidc`, I get a 404. I did some Googling and found [this thread](https://github.com/aspnet/Security/issues/1512) which sugges

[2018-12-17 22:22] SteveSandersonMS opened #5617 "Apply default memory limit in Mono env"
Recommendation from @kumpera is to set it at 128MB initially, allowing the developer to change that setting for their app if they want.

If we don't do this, and the app exceeds the amount of memory the browser wishes to give, then it fails with an obscure error instead of an OutOfMemoryException.

Note to self: to set env vars for the Mono wasm runtime, call something like the following from JS b

[2018-12-17 22:25] omuleanu opened #5630 "after intensive use, requests take very long time to execute"
My application has many pages which can do many ajax requests, after a while of going from page to page (or just spam click my home link) the requests start to take a very long time 30s ~ 45s, all requests not just ajax,
I see the requests as pending in chrome network tab
(it can be just 1 request, it's not the browser limit, also I try FF after hit the slow moment and same problem)
I tried to put

[2018-12-17 22:30] montyclt opened #5654 "Don't build if used any of not supported API"
The Blazor FAQs says:

There are any list with unsopported APIs of the .NET Standard? Can a MSBuild task used to interrumpt the build and mark as error if any of this APIs are used instead of detect the error in execution time when the exception is thrown?

[2018-12-17 22:31] JamesNK commented on #4414
Hi @mscrivo

I believe this issues is the same as #4591. There is detail in that issue about potential workarounds. I'm closing this one as a duplicate.

[2018-12-17 22:31] #4414 closed

[2018-12-17 22:48] dougbu commented on #4866
Work completed in f113a20dfd

[2018-12-17 22:48] #4866 closed

[2018-12-17 22:51] JamesNK opened #5680 "Update ASP.NET Core to use C# 8's nullable reference types"
Updating ASP.NET Core to use C# 8's nullable reference types would:

1. Help ASP.NET Core libraries avoid null reference exceptions internally. It will help us find and prevent our bugs and increase our developer productivity
2. Provide guidance to developers who are using ASP.NET Core about which APIs can accept and return a null reference and which APIs can't. This would improve the developer ex

[2018-12-17 23:15] rynowak commented on #5680
I hereby certify this idea as good.

[2018-12-17 23:20] rynowak commented on #5151
I'd suggest implementing `IAuthorizationFilter` and `IOrderedFilter` on your filter class, and setting the `Order` to a low value so you run first.

[2018-12-17 23:44] Eilon opened #5681 "Parent ViewModel is not bound (null) when error occurs in child VM"
_From @montella1507 on Monday, 17 December 2018 22:24:34_

# General
When error occurs in binding of child viewmodel, parent ViewModel is NULL.

#Desired behavior
Parent ViewModel should not be NULL, only Child VM.

How to simulate:
[code]

Result in controller is, VM is NULL:
![image](https://user-images.githubusercontent.com/10418323/50119343-c9ef7c80-0252-11e9-86c6-356a32326bad.png)

Version in

[2018-12-18 00:35] Eilon commented on #5680
Assigning to @JamesNK to give this some more thought on what can concretely be done in ASP.NET Core and what value it would provide.

[2018-12-18 00:49] w8w8w8 opened #5683 "Blazor, How to Invoke .NET methods from JavaScript functions use js timer"
blazor : How to Invoke .NET methods and get values from JavaScript functions use js timer.
and It goes on and on.

and How to Invokeand JavaScript functions and delivery Mass data from .NET methods  use C# timer.

when I do it, chrome run 1 hour later , crash.

https://github.com/aspnet/AspNetCore/issues/4365

[2018-12-18 00:56] JamesNK commented on #5680
Over Christmas I'm going to play around with C# 8.0 and update Newtonsoft.Json to use nullable reference types. Will be able to give some more feedback then about how much work it will be. I suspect it will be large.

Some random thoughts:
1. It will probably require VS2019. VS2017 won't understand the syntax and will no longer compile
2. Lower level libraries should be updated first, e.g. Http sh

[2018-12-18 01:39] steveoh opened #5684 "Health Checks middleware route execution order"
### Describe the bug
Health check middleware related to https://github.com/aspnet/Diagnostics/issues/512 and https://github.com/aspnet/Diagnostics/issues/511 does not appear to be fixed in 2.2 or possibly I need to update the order of which i supplied my routes. Can you clarify the specificity order? cc @rynowak

### To Reproduce
I would refer to the original issue

### Expected behavior
Ordering

[2018-12-18 02:30] s952787097 opened #5685 "JSON object string problem in cookie storage"
asp.net core version 2.1

Why is the JSON object string stored in cookie encoded by URLEncode by default? Can I change it?

this is under asp.net core
![_20181218095906](https://user-images.githubusercontent.com/26595017/50127543-8f1a3280-02ac-11e9-89ff-5889346af2db.png)

this is under asp.net MVC
![_20181218100046](https://user-images.githubusercontent.com/26595017/50127546-93465000-02ac-11e9-979

[2018-12-18 02:41] donhuvy commented on #4587
This is dotNET Core preview version `2.1.600-preview-009426`, not release version. I close this issue.

[2018-12-18 03:48] dstarosta commented on #4957
Calling the SetCurrentDirectory() method in the provided class fixed the problem.

We do have a try/catch block around the Main method that uses Serilog to log the exception and nothing had been logged.

[2018-12-18 06:47] UweKeim opened #5689 "IIS in-process mode still has "conhost.exe" as child process"
On Windows Server 2012 R2, we just switched to .NET Core 2.2 and switched from IIS out-of-process mode to IIS in-process mode.

While this removed our own .EXE as a w3wp.exe child process, we still see "conhost.exe" as a w3wp.exe child process:

![image](https://user-images.githubusercontent.com/415439/50136679-d4346980-0298-11e9-9b1a-8cf6ed865634.png)

I would have expected that in-process comple

[2018-12-18 07:37] JamesNK commented on #5680
If you had certified it spicy then you would have this label to use

🙃

[2018-12-18 08:47] Hantse opened #5691 "[Blazor ^"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example. I'm am trying to do [...] but [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considere

[2018-12-18 08:48] #5691 closed

[2018-12-18 08:52] Hantse opened #5692 "[Blazor] Call on application startup"
### Is your feature request related to a problem? Please describe.
I'm am trying to do a HttpClient call during app init but the result is load after the app is load or the blocking call stop and crash browser.

### Describe the solution you'd like
A posibility to call async during app loading and app wait the call is over to continuous the process.
For example in Angular :
https://hackernoon.com/

[2018-12-18 08:54] kusey commented on #2520
@verydarkmagic Hi, I meet the same error when I deployed my application in a linux docker container, do you have any workaround on this issue?

[2018-12-18 09:26] maxence51 opened #5693 "Is InProcess hosting mode supported with .net framework aspnetcore apps"
Hello,

I try to figure out if aspnetcore on .Net Framework can be hosted on IIS with in-process mode.
It's not seems to be the case but It's not clear in the documentation.

Thank you.

[2018-12-18 09:31] leastprivilege commented on #5148
Sounds like

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1067

We had to roll back to 5.2.4 - 5.3.0 seems to have issues.

[2018-12-18 09:38] enetstudio commented on #5692
This issue might be related to yours: https://github.com/aspnet/AspNetCore/issues/5664#issuecomment-446448872

[2018-12-18 09:48] yberstad commented on #4793
Hi @jkotas!

Thanks for helping me out.

This is the code for the MVC/WebApi Controller returning the JSON result.

[code]

Unable to reproduce the error running locally on Windows 10, and in on our dev server running Windows Server 2012 R2. But in our stage environment running Windows Server 2008 R2 I have issues. But I do not know if it has anything to do with windows version...

[2018-12-18 10:10] Tornhoof commented on #5693
No it's not supported.
It was stated a few times in the old iisintegration repository, e.g https://github.com/aspnet/IISIntegration/issues/1531

[2018-12-18 11:03] MarkDixonTech commented on #4183
I am getting a series of NU1602 errors when opening in Visual Studio. Is this releated?

[2018-12-18 11:28] fabercs opened #5694 "Combine multiple shared localization resources into one"
In our project, we have multiple shared localization resources which we classified them logically.
Like; EnumResource, MessageResource etc.

This is the helper object which we inject as singleton on startup.
[code]
This is how we call them from views as an example
[code]
So what we want is to be able to combine multiple shared resource into one resource in this helper object, so call just one shar

[2018-12-18 11:50] SteveSandersonMS commented on #4051
Closing - this was done a while ago.

[2018-12-18 11:50] #4051 closed

[2018-12-18 11:59] SteveSandersonMS commented on #4045
My expectation is that we create some way to define a server-side endpoint that prerenders a single specific component within a **server-side** (MVC-style) layout.

The server-side layout may choose to include a `<script src="[...]blazor.server.js">` tag, in which case the client will open a circuit back to the server to commence interactivity, overwriting the prerendered content with live content

[2018-12-18 12:02] SteveSandersonMS commented on #4045
Note: #4044 has to be done before this.

[2018-12-18 12:11] SteveSandersonMS commented on #4054
I'm not sure there's anything to change about this in the preview 2 timeframe. So I question whether the `PRI:0` label is correct. Reasoning:

 * For preview 2, Razor Components apps will still be required to be two projects. @rynowak's work on the Razor compiler will eventually make it possible to do it all in one project, but not for preview 2 (correct, Ryan?).
 * If we're having two projects, w

[2018-12-18 12:16] SteveSandersonMS commented on #4050
* Rename `UseServerSideBlazor<TStartup>` to `UseComponents<TStartup>` (or maybe `UseInteractiveComponents<TStartup>`, if we want to emphasize that you don't need this if you're doing pure prerendering only)
 * Equivalent for `AddServerSideBlazor`

What else?

[2018-12-18 12:43] SteveSandersonMS commented on #4246
@natemcmaster #5166 is merged now, so you should be OK to do changes to Components to use `<Reference>` etc. When doing so, please be sure to run the E2E tests (`Microsoft.AspNetCore.Components.E2ETest`) manually to verify that it hasn't broken aspects of how we bundle stuff for both server and client-side execution. We're going to run those E2E tests automatically in CI soon (#5158) but for now i

[2018-12-18 12:52] SteveSandersonMS commented on #5491
This was fixed a few days ago.

[2018-12-18 12:52] #5491 closed

[2018-12-18 12:55] SteveSandersonMS commented on #5535
This was implemented and merged a few days ago.

[2018-12-18 12:55] #5535 closed

[2018-12-18 12:56] SteveSandersonMS commented on #5536
This was fixed a while ago.

[2018-12-18 12:56] #5536 closed

[2018-12-18 12:58] SteveSandersonMS commented on #5538
Closing because we're no longer supporting asm.js (because the execution speed was inadequate). People who need to support pre-WASM browsers will get better results with running the Blazor app server-side (e.g., using the server-side Blazor template).

[2018-12-18 12:58] #5538 closed

[2018-12-18 13:02] SteveSandersonMS commented on #5556
Since this is a discussion rather than an bug report or proposed enhancement, and the discussion stopped months ago, I'll mark it closed now to keep things tidy.

[2018-12-18 13:02] #5556 closed

[2018-12-18 13:03] SteveSandersonMS commented on #5558
This was fixed when we changed all the package names (to Components.*, etc.).

[2018-12-18 13:03] #5558 closed

[2018-12-18 13:04] SteveSandersonMS commented on #5561
This was fixed thanks to @uazo's PR recently.

[2018-12-18 13:04] #5561 closed

[2018-12-18 13:05] SteveSandersonMS commented on #5566
Was fixed in 15.9.

[2018-12-18 13:05] #5566 closed

[2018-12-18 13:08] SteveSandersonMS commented on #5574
With the update startup model, this should no longer be applicable so I'll mark it closed.

[2018-12-18 13:08] #5574 closed

[2018-12-18 13:09] SteveSandersonMS commented on #5576
As far as I can see, this is working as expected. You do need to call `StateHasChanged` after each `await` (except for the last one), because Blazor has no way to know about your "awaits" except for your last one.

[2018-12-18 13:09] #5576 closed

[2018-12-18 13:11] SteveSandersonMS commented on #5580
We already implemented strategies 1 and 2, which as far as we have plans to go with this at present.

[2018-12-18 13:11] #5580 closed

[2018-12-18 13:12] SteveSandersonMS commented on #5583
Note: only repros in Firefox.

[2018-12-18 13:15] SteveSandersonMS commented on #5587
I'll close this as it's not something we plan to do specific work for. It's a report about a VS behavior that Blazor doesn't control, and nobody else has yet reported it as an issue, so this would be such a low priority item that realistically there's always going to be other things we need to prioritise above it. Hope that's OK.

[2018-12-18 13:15] #5587 closed

[2018-12-18 13:19] SteveSandersonMS commented on #5601
This was fixed in a merge a few days ago.

[2018-12-18 13:19] #5601 closed

[2018-12-18 13:22] SteveSandersonMS commented on #5625
Duplicate of #5616

[2018-12-18 13:22] #5625 closed

[2018-12-18 13:31] SteveSandersonMS commented on #5646
Implemented in https://github.com/aspnet/AspNetCore/pull/4785

[2018-12-18 13:31] #5646 closed

[2018-12-18 13:35] SteveSandersonMS commented on #5165
Only server-side execution is supported for IE11, because IE11 doesn't support WebAssembly.

No, we removed the asm.js fallback because it isn't fast enough. For pre-WebAssembly browsers, you should use server-side execution.

Use server-side execution. You may also need to add polyfills such as https://polyfill.io/v2/docs/

[2018-12-18 13:35] #5165 closed

[2018-12-18 13:47] GammaFour opened #5696 "Microsoft.AspNetCore.App 2.1.1 Won't work with latest Microsoft.AspNetCore.Razor.Design (and other packages)"
### Describe the bug
Microsoft.AspNetCore.App 2.1.1 Won't work with latest Microsoft.AspNetCore.Razor.Design (and other packages)

### To Reproduce
Steps to reproduce the behavior:
1. Start an instance of Visual Studio.
2. Create a new ASP.NET Core Web Application from the Visual Studio templates.  Take all the defaults.
3. Open up NuGet Package Manager for Solution (Tools/Nuget Package Manager/Nu

[2018-12-18 14:32] stijnherreman commented on #4726
We're also experiencing this occasionally with apps hosted as Virtual Applications in an App Service. When it happens, it's always after a deploy. Even a GET to the root returns a 400.
Enabling logging causes the app to restart, after which the issue disappears. Stopping and starting the App Service also makes the issue disappear.

[code]

I'll configure our apps to have logging enabled by default

[2018-12-18 14:52] cores-system opened #5697 "[Blazor] Poor component flexibility."
### Is your feature request related to a problem? Please describe.
I have a component **modal.cshtml**
[code]

**BtnModal.cshtml**
[code]

**main.cshtml**
[code]

### Describe the solution you'd like
I want to use typed variables.

**BtnDefault.cshtml**
[code]

**modal.cshtml**
[code]

**main.cshtml**
[code]

### Describe alternatives you've considered
**BtnDefault.cshtml**
[code]

**modal.cshtml*

[2018-12-18 15:41] GammaFour commented on #5696
I'm going to leave this here for anyone else who just hit the 'Update' button in Visual Studio and don't read the fine print.  There's no warning when your Microsoft.AspNetCore.App is out-of-rev.  So Visual Studio pulled in all the other 2.2.0 packages, but didn't warn you about or suggest upgrading Microsoft.AspNetCore.App.  To solve this problem, it's not enough to just try and install the 2.2.0

[2018-12-18 15:41] #5696 closed

[2018-12-18 15:56] cores-system opened #5698 "[Blazor] Improve the heritability of components"
### Is your feature request related to a problem? Please describe.
**BtnDefault.cshtml**
[code]

**BtnForm.cshtml**
[code]

**Main.cshtml**
[code]

### Describe the solution you'd like
**BtnDefault.cshtml**
[code]

**BtnForm.cshtml**
[code]

**Main.cshtml**
[code]

### Describe alternatives you've considered
**Main.cshtml**
[code]

### Additional context
I want to inherit components and also use t

[2018-12-18 16:01] joeaudette commented on #4591
@JamesNK I'm finding the null httpcontext is not just during application startup it is at runtime, every time I refresh the page for my folder tenant home page https://localhost:44399/two my route constraint is called once with routeDirection IncomingRequest and httpcontext is not null, then it gets called a number of times with routeDirection UrlGeneration but httpContext is null every time and t

[2018-12-18 16:09] joeaudette commented on #4591
in fact my route constraint does not seem to be called at all during application startup.

[2018-12-18 16:25] stijnherreman opened #5699 "Occasional 'address already in use' error when starting an app hosted in an Azure App Service"
### Describe the bug
We have a number of ASP.NET Core apps hosted inside a single Azure App Service, as Virtual Applications. Occasionally after a restart (e.g. due to deploying), one or more apps will fail to start correctly and return HTTP 400 Bad Request to all requests. This appears to be due to a socket binding error.

### To Reproduce
1. Create one or more ASP.NET Core 2.1.1 applications. I