[2020-05-27 05:14] davidfowl commented on #22059
Do you need this background service at all? What happens if you don't have it? What logic relies on the heartbeat in the database? There might be another more efficient way to do this...

[2020-05-27 05:28] andyschick opened #22265 "Blazor: Listing data in separate components breaks on deletion"
### Describe the bug
Based on the WeatherForecast demo page, I have packed the individual forecast data into separate components. I also added a Delete action parameter, so the forecast entries can be deleted.
After the deletion the line count decreases but the displayed data is not correct.

**Example**: The forecast displays the weather from May 1st to May 5th.

**Expected behaviour:**
1. I dele

[2020-05-27 05:51] pielegacy commented on #22059
We use this pattern to basically provide a visual indication in the UI as to when the last time the agent was successfully connected to the service.

When the request for a heartbeat is sent out over the service, the agents respond back with a SignalR method invocation on the API which stores the current UTC time against the record for the connected agent in the DB.

We do this so that we can ensu

[2020-05-27 05:57] sps014 opened #22266 "Blazor RenderFragment to String"
I have Blazor Component as
[code]
now i am using component as

[code]

I want to show RenderFragment as String, not as evaluated Dom Element.

### Actual Output

![current output](https://user-images.githubusercontent.com/45932883/82982357-a87bee00-a00b-11ea-85f8-036c1f6b8356.JPG)

### Expected Output

![expected](https://user-images.githubusercontent.com/45932883/82982367-afa2fc00-a00b-11ea-871c-

[2020-05-27 06:03] JunTaoLuo commented on #17460
Oh I never got a chance to investigate this. There also doesn't seem to be any binlogs available to investigate so I'm not sure what further action we can take. Curious if this issue is still active given it has been half a year.

[2020-05-27 06:21] Semos5245 commented on #21326
@nzmangan Nope not yet.. My whole idea of doing this is to authenticate the user using one of the famous authentication providers (Google, Facebook, Twitter) and make my WebApi's have the capability to create new users (Basically sign in, if user doesn't exist, then create one) and give the client side app a JWT token in coordination of the provider he used to sign in.. Still working on it and i t

[2020-05-27 06:33] MortenMeisler commented on #21383
Have you tried @SteveSandersonMS  suggestions from this issue: #19796 or as per comment above https://github.com/dotnet/aspnetcore/issues/21383#issuecomment-627904962 ?

[2020-05-27 06:36] mwaleedr commented on #21528
@BrennanConroy  I have installed processmonitor but the result is now looking like this
![processMoniter](https://user-images.githubusercontent.com/43959790/82985200-0957f600-a00d-11ea-8c98-bbaee67350f7.png)

[2020-05-27 06:40] for7raid commented on #17395
@mkArtakMSFT @Pilchie  I believe that this issue does not relevant to aspnetcore, but this is coreclr issue. I have posted additional info there. You should close this item and reopen original issue, I think.

[2020-05-27 06:45] carlblanchard commented on #22232
Okay thanks, that clears that up. When they converge, do you think TimeZoneInfo.GetSystemTimeZones(Type) will have parameters to specify which database/DateTime format to use? i.e. IANA, UTC etc?

[2020-05-27 06:45] #22232 closed

[2020-05-27 08:29] mrpmorris commented on #22221
If you have 3 classes you want to work on (for example) then follow these steps

1. Create a view model class that has a property for each
[code]

2. Create an instance of `MyViewModel` in your page component
3. Create an instance of EditContext in your page component, passing in the object from #2
4. In every one of your `<EditForm>` components you can pass an explicit EditContext like so

[code]

[2020-05-27 08:32] TomiLahtinen commented on #19590
FWIW. I had this issue too, along with another unrelated issue. I had € sign in my password and after changing my password to only contain, lets say more us ascii friendly characters, both of my problems were solved.

[2020-05-27 08:45] mrpmorris commented on #22265
Use `@key` when creating UI in a list

`<ForecastEntry @key=forecast.Date ForecastDate="forecast.Date" OnDelete="DeleteForecastEntry" />`

That'll fix your problem for now, but the behaviour is still unexpected.

[2020-05-27 08:50] davidfowl commented on #22059
Sounds like a presence implementation, here's generally how you would do this with SignalR:

- Track all connections for each server in a concurrent dictionary, in OnConnectedAsync and in OnDisconnectedAsync remove the connection (you can use the connection id as the key). We'll call these "local connections".
- Next you need to do 2 things:
    1. On some interval, loop over all local connections

[2020-05-27 09:10] EntityFX commented on #21514
Will Blazor (Server Side) be available in future Mono implementations not only for net core runtime?

[2020-05-27 09:34] andyschick commented on #22265
Thank you for this hint, it works fine for me.
Nevertheless, I would appreciate a sustainable solution out of the box.

[2020-05-27 09:43] damienbod commented on #22189
@blowdart Would the anti forgery token not be enough for the old browsers? The modern browser have both, this and same site. The question is "Which is less evil, refresh tokens in the browser, or only anti-forgery tokens for old browsers" Then the user has a choice. But I understand supporting only tokens, supporting 2 security architechtures is double the effort.

[2020-05-27 10:00] #22141 closed

[2020-05-27 10:06] javiercn commented on #21326
Here is a sample of how to make google auth work https://github.com/javiercn/BlazorGoogleAuthSample/blob/master/GoogleAuth/Program.cs.

If you want an access token switch to id_token token and add the scope for the resource you want to access.

[2020-05-27 10:12] javiercn commented on #22266
@sps014 thanks for contacting us.

There is no way to do this today within Blazor. We have support for this in the form of prerendering, but not anywhere else. It is unlikely we add something like this, since we haven't receive similar asks for it yet.

[2020-05-27 10:13] javiercn commented on #22259
@sowsan thanks for contacting us.

If the APIs are accessible to JavaScript when the app is installed as a PWA. They should be available for Blazor too through JS interop.

[2020-05-27 10:23] javiercn commented on #22237
@rafaelguinho thanks for contacting us.

Are you using the iOS simulator? Webassembly has never been supported in the emulator.

I just tried this in real Safari using IOS 13.5 and it works fine.

[2020-05-27 10:26] netbitshift commented on #22206
Closing this, as I have shown by starting a new project from scratch and adding a handler,  its not a problem in the framework, but in  my code somewhere.

[2020-05-27 10:26] #22206 closed

[2020-05-27 10:44] javiercn commented on #22234
@Henkolicious thanks for contacting us.

that docker file is missing context. You need to map all the projects in the solution into the container. From what I can tell, you are just mapping the server project and as a result the client project can't be found and the linker fails.

[2020-05-27 11:00] #22213 closed

[2020-05-27 11:08] YordanYanakiev opened #22268 "Visual Studio 2019 v 16.7.0 preview 1.0 + Blazor - removing the code on oncomplete"
### Describe the bug
If I try to use code completion - the source inside "code" is been removed.
before:
![1s](https://user-images.githubusercontent.com/6534199/83011983-75455900-a023-11ea-8f9c-4f5dee9d8a3c.jpg)
after pressing enter:
![2s](https://user-images.githubusercontent.com/6534199/83011995-78404980-a023-11ea-97ec-afca76eb253a.jpg)

### To Reproduce
Start new Blazor webasm project.
In NavMe

[2020-05-27 11:15] mrpmorris commented on #22265
I agree that it appears to be unexpected behaviour.

Always do use `@key` for loop created UI though, it makes delate updates to your HTML more efficient. See https://blazor-university.com/components/render-trees/optimising-using-key/

[2020-05-27 11:15] dmitry-pavlov commented on #18271
@MikaBerglund has shared in our [ASP.NET Core community](https://www.facebook.com/groups/about.asp.net.core/permalink/1584960758348572/) the blog [Configure Offline Assets for Blazor PWA Applications] (https://mikaberglund.com/2020/05/26/configure-offline-assets-for-blazor-pwa-applications) which explains how to add `SVG` support .

What would adding "SVG support in Blazor" mean in scope of this i

[2020-05-27 11:39] IanKemp opened #22269 "Add various HttpContent helper methods from Microsoft.AspNet.WebApi.Client"
References:

https://github.com/aspnet/Mvc/issues/1639
https://github.com/dotnet/runtime/issues/16538

There is a NuGet package Microsoft.AspNet.WebApi.Client that provides a whole bunch of useful extension methods to allow you to perform various useful operations on HttpClient and HttpContent instances (HttpContent.ReadAsAsync<T>() was my personal favourite). However that package is targeted at y

[2020-05-27 11:50] mrhuo opened #22270 "Some ideas for blazor"
### Package all .dll files to one

So many .dll files now

### Just pick the reference class and method only in dlls

This maybe greatly reduce DLL file size, now is too large, download too slow

**_I know it's very difficult to implement these functions. sad for this._**

[2020-05-27 12:01] endeffects commented on #10558
I have the same issue with a diagram component i'm working on.
How more shapes i'm adding to it how more traffic is generated
by dragging and dropping a single element.

The structure of my page is similar to the sample above,
i have an outer svg to handle the drag and drop events:

`<svg @onmousemove="this.OnMouseMove" @onmouseup="this.OnMouseUp" />`

And multiple child rectangles where i'm captu

[2020-05-27 12:20] arviedelgado commented on #22270
Have you tried the publishing options?
- Produce single file
- Trim unused assemblies

![image](https://user-images.githubusercontent.com/11804514/83018034-392beb80-a057-11ea-9619-378cc9bd8e13.png)

[2020-05-27 12:25] mrhuo commented on #22270
Thx very much, Trim unused assemblies this options in witch version?

[2020-05-27 12:50] Feroks commented on #21326
@javiercn thank you for the repo. It seems that my problem was that i was using `token` instead of `id_token` 🤦

[2020-05-27 12:58] sroy2020 commented on #21383
Hi,

I tried the suggestion (although I consider this one as a weird one) regarding the .gitattributes in the _framework folder. Unfortunately I get the following compilation errors.

[code]

FYI, I tried to access from another machine a deployment done with a Visual Studio publish (where the DLLs are never under Git control) and the issue is the same.

I'm pretty sure someone found the root cause

[2020-05-27 13:08] SteveSandersonMS commented on #21383
@sroy2020 It looks like maybe you put your `.gitattributes` file in an incorrect place, though it's hard to be sure.

As a bigger workaround, consider adding `<BlazorCacheBootResources>false</BlazorCacheBootResources>` into a propertygroup in your client project's `.csproj`. This will disable caching and integrity checking.

[2020-05-27 13:15] SteveSandersonMS commented on #21383
@sroy2020 Actually if you look closely at your screenshot above, you can see the server is responding 403 Forbidden. That's the real issue here, nothing to do with `.gitattributes` or integrity. You'll have to sort out your hosting server to actually return the files and not give these 403 responses.

[2020-05-27 13:24] michuny25 commented on #17951
That is correct. However, you have to look at context. Who types text in textarea in rate of 1 character/second? The delay obviously stacks, so when you type quickly you get delay of seconds before you see the word in the textarea.

Please use the multiple reproductions posted above to try the real UI experience in context.

[2020-05-27 13:37] rangav opened #22272 "Worker Service StopAsync func never called"
### Describe the bug
I published a worker service to azure app service. when I stop the web job the worker service StopAsync is not called.

Also When we publish an update to Worker Service the StopAync not called either.

So my question is when will StopAsync will called?

### To Reproduce
1. Publish a worker service to azure to app service.
2. From Azure web app > webjobs section - > stop the we

[2020-05-27 14:20] reedptaylor commented on #21448
Having the same issue in the GA version. Have only seen it happen on an iOS device, however.

[2020-05-27 14:27] acpt commented on #5519
Still not working ?
Well, I'm trying to use it and its not working as intended...

[2020-05-27 14:34] aspnetde commented on #19590
This is still broken. What helps for me is to remove all sdks until i am back on 3.1.100. Which obviously breaks with every update run made by VS.

**Does anyone mind fixing this?!**

[2020-05-27 14:42] mrpmorris commented on #17951
You could also havr the element change event go to solve javascript and control how often it calls blazor. Say, immediately, but not again for another 50 or 100ms, the typing experience might be better that way.

[2020-05-27 14:43] javiercn commented on #19590
@aspnetde we are working on a solution to this problem.

The latest SDK 5.0-preview4 SDK contains an updated version of the tool that fixes this issue. We have plans to patch the current LTS SDK once we have enough confidence that the new approach doesn't introduce additional issues.

[2020-05-27 14:48] timcromarty opened #22273 "Blazor -Blazor Web Assembly- Unable to Launch debug adapter following Windows password change"
### Describe the bug
Following a change to my Windows password, attempting to run Blazor WebAssembly in Debug fails with the message "Unable to Launch debug adapter. Failed to connect..."

Visual Studio 16.6
Blazor 3.2

### To Reproduce
Build and run a Blazor web assembly application in debug.  Change the Windows password, Build and tun the application again.

### Workaround
Exit from Visual studi

[2020-05-27 15:00] #21987 closed

[2020-05-27 15:11] BrennanConroy commented on #22132
This is not an issue with SignalR.

Work is being done in System.Text.Json https://github.com/dotnet/runtime/pull/36936

[2020-05-27 15:11] #22132 closed

[2020-05-27 15:14] pranavkm opened #22274 "Figure out single file exe + use of Assembly.Location"
A few places in the framework rely on the assembly's location on disk. Figure out how this work with single file exe in .NET 5

[2020-05-27 15:14] pranavkm commented on #22274
/cc @javiercn

[2020-05-27 15:38] javiercn commented on #22197
@guardrex any thoughts on this, since you wrote the original doc article?

[2020-05-27 15:39] nvmkpk commented on #18088
`InjectAttribute` cannot be set on non-properties. There is already `ActivatorUtilitiesConstructorAttribute` available for decorating a constructor to be used by DI.

[2020-05-27 15:41] GioviQ commented on #10450
@walterlv I think you're right, so what is the solution?

[2020-05-27 15:47] HKBoy commented on #22012
I encountered the same issue just today and it's a Blazor app debugging as well.

Error: unable to attach to the browser

VS version: Version 16.6.0 Preview 6.0
Chrome version: Version 83.0.4103.61 (Official Build) (64-bit)
Microsoft.AspNetCore.Components.WebAssembly.*: 3.2.0-preview3.20168.3

vs-code-debug.txt in attachment
[vscode-chrome-debug.txt](https://github.com/dotnet/aspnetcore/files/4689

[2020-05-27 15:51] guardrex commented on #22197
This is something that Azure docs call out. At 6 or more groups, they send `hasGroups`. They suggest making a Graph API call to `https://graph.microsoft.com/v1.0/users/{userID}/getMemberObjects`.

Reference: https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#payload-claims

Graph API is going to send them all, then one would filter the ones they want to keep for a user o

[2020-05-27 15:51] sroy2020 commented on #21383
Hi,

Oh boy! I completely overlooked the 403... Thanks a lot for pointing that out, this seems to be the real issue, the integrity one might just be a side-effects.

I'll look at this.

Again thanks a lot!

[2020-05-27 15:55] hheexx commented on #12477
@mkArtakMSFT  no guidance?

[2020-05-27 15:58] delebru commented on #17081
@sbrudenell I was having a similar issue where my original nginx config had `proxy_set_header Connection keep-alive;` which caused web sockets errors with blazor. Changing it to `proxy_set_header Connection "upgrade";` fixed those WS errors but broke the app's api endpoints which all returned 400 errors.
Setting the connection header as specified on the blazor docs fixed the issue for me, now both

[2020-05-27 16:25] TanayParikh commented on #22111
Closing out again. @captainsafia feel free to re-open if there's anything left.

[2020-05-27 16:25] #22111 closed

[2020-05-27 16:25] mkArtakMSFT commented on #22260
@lewing should we use the `isDeterministic` flag when calling the linker going forward and why?

[2020-05-27 16:26] mkArtakMSFT commented on #22236
Thanks for contacting us.
This is a dupe of #18919

[2020-05-27 16:26] #22236 closed

[2020-05-27 16:28] mkArtakMSFT commented on #22230
Thanks for contacting us.
The linker is only linking the framework binaries at the moment. We will be changing that in the future to trim also application binaries in the future.

[2020-05-27 16:28] #22230 closed

[2020-05-27 16:31] mkArtakMSFT commented on #22178
@mysteryx93 we don't need a private app for this - just a minimal repro app hosted in GitHub is what we're looking for.

[2020-05-27 16:31] mkArtakMSFT commented on #22273
@digeff can you please look into this? Thanks

[2020-05-27 16:32] alexandresilvadev commented on #20374
I got here exactly looking for a solution for the popup login, and as I see in this conversation, other people also need it as a redirect, the popup has many problems with our users and customers as well.
I'm currently trying to make a change to the MSAL code to force the use by redirection, avoiding the popup, I do this in the hope of leaving a version with the configurable login option. I would

[2020-05-27 16:32] fitdev opened #22276 "Razor Tooling: VS is very slow when changes are made to .razor-based components"
### Describe the bug

Whenever I make type-structure-related changes to Blazor components inside .razor files VS becomes very unresponsive, CPU usage goes up and this continues for ~30 seconds.

The changes that trigger this behavior are the following:

- Adding a new property with `[Parameter]` attribute to the `@code {}` section inside of `*.razor` file.
- Changing the name or return type of suc

[2020-05-27 16:39] HKBoy commented on #21615
Hi @dominiclapointe . I faced the same issue in VS 2019 Preview. Would you be kind enough to show me how to set the Env Var? Thank you

[2020-05-27 16:40] mkArtakMSFT commented on #22084
We shouldn't try unofficial supported ways of doing this. We'll wait for an official support before doing this.

[2020-05-27 16:42] mysteryx93 commented on #22178
I have a minimal repro but won't put it on GitHub

[2020-05-27 16:43] mkArtakMSFT commented on #22032
Thanks for contacting us. This doesn't seem to be something ASP.NET Core MVC specific.
Consider reaching out to the Azure AppService support for this.

[2020-05-27 16:43] #22032 closed

[2020-05-27 16:43] mkArtakMSFT commented on #22020
We've moved this issue to the Backlog milestone. This means that it is not going to be worked on for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-27 16:44] mkArtakMSFT commented on #21865
@vijayrkn I'm moving this to the `discussions` milestone. Feel free to open an internal AzDO issue to track it.

[2020-05-27 16:54] ryanbrandenburg commented on #22109
Confirmed the following scenarios for mac on the new O# build:
- Rename in razor file
- completion characters give `<div @onclick=` instead of `<div @onclick="="`
- Hosted Blazor apps create a correct debug launch script when Javascript nightly is installed and preview switch is set.

[2020-05-27 16:55] #22109 closed

[2020-05-27 16:59] TanayParikh opened #22277 "WorkspaceState Updates on Change"
We have the en-queue 3000ms delay, however the way it's currently setup we could accidentally drop events.

Ex.
1 - Project Update
2 - Project Update (silenced as previous project is already being updated)
7 - Project Update

From timestamp (1+3)->7  our workspace failed to represent the correct workspace state. This could result in failed completions and other issues.

Additionally, This results

[2020-05-27 17:00] #22216 closed

[2020-05-27 17:00] #22212 closed

[2020-05-27 17:10] Henkolicious commented on #22234
The context of the Dockerfile is

<pre>
├── Client
├── deleteme.sln
├── Dockerfile
├── Server
└── Shared

directory: 3 file: 2
</pre>

[2020-05-27 17:16] nssidhu opened #22278 "How to handle No Internet Connection in Blazor WebAssembly"
I am developing Blazor WebAssembly Hosted App.
How do i detect that error is due to no internet connection and retry it automatically as soon as internet become available?

[2020-05-27 17:28] bancroftway commented on #22197
The resolution is not clear. While I know how to make the graph api call, it's not clear where in the lifecycle to make the call to graph api call, and secondly, once we do get the list of groups back, to have that information be reflected in the token. Please provide a clearer guidance/sample.

[2020-05-27 17:36] TanayParikh opened #22280 "FileSystemWatcher Discarding Files to MISC Project"
The FileSystemWatcher returns with paths of the form
- "workspaceDirectory/\\Pages\\Counter.razor"
which are normalized to
- "workspaceDirectory//Pages/Counter.razor" (Invalid `//`)

This format doesn't match the directoryFilePaths we store as part of the Project Snapshot ->
- "workspaceDirectory/Pages/Counter.razor"

https://github.com/dotnet/aspnetcore-tooling/blob/488cf6e/src/Razor/src/Microsof

[2020-05-27 17:37] mo-esmp opened #22281 "CORS header not being set for internal server error response"
For internal server error, there are no access-control-* headers in the response. As far as I know
[this issue](https://github.com/dotnet/aspnetcore/issues/2378) should be fixed since ASP.NET Core 2.2.

Here is my CORS configuration:
[code]
And in `Configure` method :

[code]
### Further technical details
[code]

[2020-05-27 17:38] guardrex commented on #22197
I suspect in the custom user factory, but @javiercn will let us know.

https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/additional-scenarios?view=aspnetcore-3.1#customize-the-user

[2020-05-27 17:46] javiercn commented on #22197
You can't put data in tokens as that would break the signature.

You can put claims in the user, but that is it. The UserClaimsPrincipalFactory is

[2020-05-27 18:00] #22142 closed

[2020-05-27 18:00] #22095 closed

[2020-05-27 18:00] #22045 closed

[2020-05-27 18:02] ryanbrandenburg opened #22282 "Razor tooling move breaks helix runs"
https://dev.azure.com/dnceng/public/_build/results?buildId=661189&view=logs&j=3f6d4e0f-1b71-56b5-361e-d95b6e6da15a&t=9605d305-57d3-55b8-ba79-e50442d32137&l=1838

[code]

[2020-05-27 18:22] MarkusRodler commented on #18271
@dmitry-pavlov All of those issues that are referenced in this issue. For example this one:
https://github.com/dotnet/aspnetcore/issues/13280

[2020-05-27 18:43] blowdart commented on #22161
You want to take a database hit on every request? Setting aside the performance implications yes, there's a better way.

You should be able to change the SecurityStampValidator period to run every second

[code]

This would run the validator on every request, which will refresh the entire cookie, including roles and claims.

[2020-05-27 18:51] blowdart commented on #22170
@javiercn Thoughts please :)

[2020-05-27 18:52] Tratcher commented on #22272
That depends on how app service shuts down the app. You can check the app logs to see if there's any notice of a graceful shutdown.

StopAsync is typically called when the application is closed gracefully like with CTL+C.

The code you have in Program.cs can also affect this. Did you change the default template? If so can you share it?

[2020-05-27 18:53] digeff commented on #22273
@timcromarty Can you please upload %TEMP%\vscode-chrome-debug.txt right after this happens? (The log gets overwritten each time you launch the debugger)

[2020-05-27 19:01] #14827 closed

[2020-05-27 19:06] blowdart commented on #21985
OK, after some discussion this is "By Design"

SecurityStamps roll for lots of reasons, like role changes or email address changes. So if, for example, you assigned a user a new role they'd now be logged out and have to go through MFA again, which is, to our mind, a little excessive.

If a laptop is stolen the thief is still going to need the account password to get anyway, that cookie does get in

[2020-05-27 19:10] HaoK commented on #22044
I guess you might need to remove the existing Rolevalidator from DI in ConfigureServices.  TryAddRoleValidator I would think should have prevented it from registering, you can inspect the services collection in ConfigureServices and ensure only your RoleValidator is registered

[2020-05-27 19:11] pranavkm opened #22283 "Remove WebAssembly.HttpHandler package and reference from the WebAssembly package"
This package was meant as a stop-gap until .NET Wasm shipped an API surface.

[2020-05-27 19:17] mobotpsmocko opened #22284 "ASP.net Core 3.1 Web API request property array is null on post"
### Describe the bug
I have an asp.net core 3.1 web api project with an http post method accepting a model which contains an array as a property. No matter what I do, the array is always null from post. I have done this same type of request object in ASP.net  ASP.net core 2.1 with no problems, however cannot get the array to map in 3.1.

### To Reproduce
C# API Method
[code]
Got Exceptions? Includ

[2020-05-27 19:19] #22134 closed

[2020-05-27 19:19] #21716 closed

[2020-05-27 19:20] DenVys commented on #22125
So, you actually were right. There is no need for `services.AddRazorPages();` . I'm sorry, my bad.
Anyway, the problem was that I'd misunderstood what is `options.CallbackPath` from ConfigureServices method in the first place. Thanks for your help.

For anyone who is searching here for answers working code is below (some lines are ommited).

#### startup.cs
[code]
[code]

#### authcontroller.cs
[c

[2020-05-27 19:20] #22125 closed

[2020-05-27 19:21] Dean-NC opened #22285 "Model binding: property with custom setter won't set value"
### Describe the bug
Model binding to a property that has a custom public setter doesn't work; the value isn't assigned. If the setter is automatic/has default implementation, it works.
I set a breakpoint on the setter, and it was never hit.
I'm using Razor Pages, but I'm guessing it's the same issue for MVC.

### To Reproduce
[code]

### Further technical details
- ASP.NET Core version
Version:

[2020-05-27 19:22] mrpmorris commented on #18919
I would like to be able to specify this conditionally. Something like the following would be great.

[code]

[2020-05-27 19:23] mrpmorris commented on #22210
I don't think this is resolved.

[2020-05-27 20:00] maykoestevez commented on #22044
I`m trying to add TryAddRoleValidator under AddIdentity, but it said IdentityBuilder' does not contain a definition for 'TryAddRoleValidator.

[code]

Do I have to install something to use TryAddRoleValidator? I saw that tryAdd feature is available for dotnet 2.2 which is the version I`m using.

[2020-05-27 20:00] #21372 closed

[2020-05-27 20:01] HaoK commented on #22044
No what you had before should already work, I meant add the validator like normal before AddIdentity and that should prevent identity from adding the default one.  If that doesn't work, then try removing any service descriptors from the service collection that aren't your role validator

[2020-05-27 20:07] maykoestevez commented on #22044
How do I remove those service descriptors? if there are any.

[2020-05-27 20:09] panesofglass opened #22286 "Blazor Server-Side does not always refresh when StateHasChanged within an async method"
### Describe the bug
I want to update the UI from an async method while calling an expensive database query. If I have the following code:

[code]

I only see my UI update after the second `StateHasChanged`. If I don't have a long-running database query but instead an in-memory cache of values from which I'm doing a simple LINQ query, both calls refresh the UI.

### To Reproduce
See above. I unfor

[2020-05-27 20:11] pranavkm commented on #22285
@Dean-NC see https://github.com/dotnet/aspnetcore/wiki/MVC-Reserved-Keywords. The term `page` is special when you're using Razor Pages. Renaming the property would be the easiest way to fix this.

[2020-05-27 20:12] BrennanConroy commented on #21881
Sadly we can't repro this and don't know why it is happening. Having a repro app would significantly help here :)

[2020-05-27 20:15] pranavkm commented on #22284
@mobotpsmocko MVC in .NET Core 3.1 uses System.Text.Json for it's serialization. S.T.Json does not currently support deserializing fields. Changing this to a property should fix your issue:

[code]

[2020-05-27 20:15] wtgodbe commented on #21810
@hristijankiko do you have a strong reason for using 1.7? In general our recommendation here is to upgrade to 1.8 if possible

[2020-05-27 20:16] pranavkm commented on #22284
The alternative would be to continue using Newtonsoft.Json for JSON formatting: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#newtonsoftjson-jsonnet-support

[2020-05-27 20:17] BrennanConroy commented on #21528
Could you save the filtered output to a file and provide that and take a look at the file generated event to see who created it?

[2020-05-27 20:28] captainsafia commented on #18271
Correct: I'll update the issue title to reflect this but this particular issue is really about addressing the known gaps in our existing SVG support.

[2020-05-27 20:28] halter73 commented on #22186
Is there any chance that HttpContext.Abort() was called or a CancellationToken passed to Request.Body.ReadAsync/Response.Body.WriteAsync fired during any of the previous requests on the connection? I would expect some sort of log if that was the case though...

I wonder if the "SocketException (125): Operation canceled" is really a connection reset. If that's the case, it would make sense to class

[2020-05-27 20:29] captainsafia commented on #21716
We've got the flexibility to support both, it's largely a matter of how simple we want to keep the configuration to the end user.

The debugging adapter we're releasing this week supports the `launchBrowser=true` scenario. We can see how users react to this and make updates accordingly.

[2020-05-27 20:30] rangav commented on #22272
Its a default template

When i publish a new version the service is aborted without calling stop, is there an event when new version of app is published so we can stop a long running service.

[code]

[2020-05-27 20:37] BrennanConroy commented on #22114
libuv.dll currently goes into win-arm folder of the nuget pkg. Might need to be in win-arm64 folder or make a new dll for win-arm64.

[2020-05-27 20:37] maykoestevez commented on #22044
Thanks, @HaoK!!

Like you mention I remove the default one just to keep my implementation.
[code]
 It looks like a work around but is working.

[2020-05-27 20:38] #22044 closed

[2020-05-27 20:48] BrennanConroy commented on #22272
Can you grab the logs from Azure App Service? We're looking for logs related to shutting down the app.

[2020-05-27 20:50] pielegacy commented on #22059
Thank you for the recommendation, I'll log something internally to use this pattern only as I can see the benefit in checking the heartbeat this way as opposed to the old way

[2020-05-27 20:50] BrennanConroy commented on #21789
You don't. Please follow the sample I linked you to. This is a doc issue that we need to clean up.

[2020-05-27 20:51] mobotpsmocko commented on #22284
Not sure how I missed that. Although Newtonsoft did also fix this....so

[2020-05-27 20:51] #22284 closed

[2020-05-27 21:00] #21946 closed

[2020-05-27 21:00] #20248 closed

[2020-05-27 21:03] BrennanConroy commented on #22079
You can get settings from config on the builder with the `GetSetting` method. Then apply your conditional services to the builder.

[code]

[2020-05-27 21:07] ajaybhargavb opened #22287 "VS LSP: Check for CancellationToken cancellation after async methods"
We need to check for cancellation where applicable so we don't do extra unnecessary work during LSP requests.

[2020-05-27 21:10] ajaybhargavb opened #22288 "VS LSP: Merge LSPProjectionProvider and LSPDocumentMappingProvider APIs"
Details https://github.com/dotnet/aspnetcore-tooling/pull/1935#discussion_r431355683

[2020-05-27 21:11] Tratcher commented on #22242
It's copied because authorizationParts is still needed after computing the signature.
https://github.com/dotnet/aspnetcore/blob/94274d889714213c613b375407d19d3912340b8c/src/Security/Authentication/Twitter/src/TwitterHandler.cs#L206

[2020-05-27 21:13] ajaybhargavb opened #22289 "VS LSP: LSPDocumentMappingProvider should support mapping multiple locations at once"
There are a lot of places where we invoke this API multiple times on individual locations. We could instead batch them up and save some roundtrip time.

[2020-05-27 21:22] legistek commented on #5617
This doesn't seem to have been addressed (at least not fully) in the official release of Blazor WASM. I still get a lot of instances of the below, accompanied by very noticeable freezes in the browser:

![image](https://user-images.githubusercontent.com/13384523/83073468-1c32f080-a036-11ea-9654-562525f3b00b.png)

Granted I am trying to build a complex DOM but nothing that a native JS framework cou

[2020-05-27 21:33] Rickinio commented on #22242
Thanks @Tratcher for your answer, please excuse my tunnel vision.

[2020-05-27 21:42] mrpmorris commented on #22266
In your component have a `<div style="display: none" @ref=MyContentRef`>@ChildContent</div>`

In `OnAfterRenderAsync` you can call some JavaScript to get the `innerHtml` of `MyContentRef` and then display that string in your `<code>`.

[2020-05-27 21:45] rangav commented on #22272
Shutdown -> You mean stop the service from webjobs UI in the Azure app service and get logs? Or you are referring to something else.

[2020-05-27 21:50] BrennanConroy commented on #22272
However you are stopping the job, do that again.

And yes, logs from Azure App Service. We generally prefer debug when investigating issues.

[2020-05-27 21:52] rangav commented on #22272
[code]

You can see the last log -> Error       Thread was being aborted.
This was recorded when i stop the service or publish a new version of app.

[2020-05-27 21:55] rangav commented on #22272
There are logs when I re-start the service - as you see StopAync is not called.

[code]

[2020-05-27 22:00] TanayParikh commented on #22229
If we go about reverting these changes, the following also needs to be reverted:
- https://github.com/OmniSharp/omnisharp-vscode/pull/3810

[2020-05-27 22:00] #22030 closed

[2020-05-27 22:20] ryanbrandenburg opened #22291 "Announcement: Removing PubTernal Localization APIs"
This is a discussion issue for https://github.com/aspnet/Announcements/issues/417.

### Summary
In order to better maintain the public API surface of ASP.NET Core we're removing some "PubTernal" (having the type be public, but in a namespace that implies an internal intent) APIs from Localization.

### Version introduced
5.0.0-preview6

### Old behavior
- `Microsoft.Extensions.Localization.Interna

[2020-05-27 22:20] JunTaoLuo opened #22292 "Consolidate razor sdk import logic"
Address feedback item at https://github.com/dotnet/aspnetcore/pull/21581#discussion_r428851705

[2020-05-27 22:33] pableess commented on #22079
Getting settings from within the ConfigureWebHostDefaults configuration callback doesn't help to determine if https services should be added based on host configuration settings.  At this point the WebHost has already been added.

[2020-05-27 23:03] JasonDWilson opened #22293 "Terminating GenericHost without Control-C"
I've looked had no luck in finding an answer, but is there a way to use the generic host in a console app and have it run and terminate automatically.  RunConsoleAsync waits for Control-C to terminate.

[2020-05-27 23:24] hristijankiko commented on #21810
Due to policies which are outside of our control we are not able to use a Java version later than 1.7. To make this work for us we will have to make modifications to the client ourselves. Since 1.7's end of life has passed long time ago I don't expect you guys to do major refactoring just to meet this requirement but thanks for letting me know.

[2020-05-27 23:51] #22257 closed

[2020-05-28 00:06] lgaspari commented on #21924
Hey @javiercn I tried to create a repro project but It won't work because I think I'm trying to do something impossible.

I'm trying to create a **Logout** partial view, that has a Model in the back (to call the `OnPost()` method to sign out) but it does not work since I have to send the model from the `_Layout.cshtml` through the `Logout.cshtml` partial view.

Is it reasonable? Should I take anot

[2020-05-28 00:15] danroth27 commented on #22210
@mrpmorris `WebAssemblyHostBuilder` is Blazor WebAssembly specific, which has only had one supported release. This behavior may have changed to enable JS interop calls during app startup.

[2020-05-28 00:54] j4587698 commented on #22186
@halter73
 it looks like nginx keep-alive timeout?
the Challenge will keep a persistent connection If the user is not logged in?
Because it is normal for a certain period of time after startup

[2020-05-28 01:08] BrennanConroy commented on #22272
@bradygaster @shirhatti Who can we ping about Azure WebJobs? I don't think they close .NET Core apps gracefully.

[2020-05-28 01:13] Tratcher commented on #22293
You have two choices.
1. IHostLifetime: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-3.1#ihostlifetime
2. Instead of calling Run on the Host, you call StartAsync and StopAsync yourself. That way you can choose when it stops.

[2020-05-28 02:01] SQL-MisterMagoo opened #22297 "Blazor WebAssembly PWA not updating"
### Describe the bug
I am adding razor components to my Blazor WebAssembly project that uses the new PWA functionality.
However, when I publish the new version of my application, the version number in the file service-worker-assets.js does not change, and so the service-worker.js that gets published does not change and therefore the web browser does not register that there is an update for my inst

[2020-05-28 02:26] panesofglass commented on #22286
I've found a work-around:

[code]

[2020-05-28 03:00] #22021 closed

[2020-05-28 03:19] nssidhu opened #22298 "Default constructor not found for type Microsoft.AspNetCore.Components.Authorization.AuthorizeRouteView"
I am creating Blazor WebAssembly Hosted app with PWA using the RTM release.

Getting this error when runing the Azure App service published version.
**Works without error on my local Machine.**
[code]

MyApp.razor looks like this

[code]

Interesting finding is that if i remove the following code from my **index.razor** it works fine even in the published version of Azure App Service.
What is wron

[2020-05-28 03:38] John0King commented on #22021
can this issues leave open ?

[2020-05-28 04:31] DenisKudelin commented on #22012
The same issue, debugging is not working anymore..

[2020-05-28 04:35] nssidhu commented on #22298
The following links helped in fixing the above problem

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/configure-linker?view=aspnetcore-3.1

https://stackoverflow.com/questions/60571958/blazor-default-constructor-not-found-for-type-microsoft-aspnetcore-components-au

[2020-05-28 04:35] #22298 closed

[2020-05-28 04:38] sps014 commented on #22266
That's worked ... Thanks..

[2020-05-28 04:50] andyschick commented on #22265
Thanks for that learning. I will always do that from now on.

[2020-05-28 05:05] HKBoy commented on #22012
Not sure if related, but there's another thread with similar issue.
https://github.com/dotnet/aspnetcore/issues/21615

Author solved by adding environment variable. Doesn't work for me though.

[2020-05-28 05:10] mwaleedr commented on #21528
ok i can try it

[2020-05-28 05:27] SIkebe commented on #22012
@HKBoy Wow thanks! `NO_PROXY: localhost` worked for me 😄
My machine is in a corporate proxy environment which requires authentication.

@digeff @captainsafia Is this an expected behavior? If so, documented somewhere?

[2020-05-28 05:29] SIkebe commented on #22012
It would be great if the dialog message is a bit clearer.

[2020-05-28 05:46] mwaleedr commented on #21528
@BrennanConroy could you suggest an other way to solve this problem as i had told you that i observed the time gap between two requests is also causing the  application to terminate, how can i handle this.

[2020-05-28 05:48] davidfowl commented on #22059
- It handles the case where the app crashes and there are orphaned connections in the database that never triggered OnDisconnected.
- It does the heartbeat update in batches (single DbContext operation) instead of one per connection.
- It removes a bunch of codez

[2020-05-28 06:12] #22218 closed

[2020-05-28 07:42] mrpmorris commented on #22286
Your experiment suggests GetSearchResults has no asynchronous code in and is therefore executing synchronously.

[2020-05-28 07:49] sean-mcleish commented on #12685
Hi,

i'm currently also implementing a blazor wrapper and also need the functionality to prevent the serialization of null values.
I also suspect that we won't be the only ones who want to convert JavaScript libraries to .NET. Unfortunately this is just another obstacle.

Is anything planned regarding this problem or is there an efficient official workaround?

Best regards
Sean

[2020-05-28 08:04] Henkolicious commented on #22234
To be clear, `dotnet publish -c release -o out` from the Server folder works just fine with the dotnet CLI on a windows machine.

[2020-05-28 08:18] StevenTCramer commented on #22210
I am trying to determine where it was broken and then to see if possible to restore.

Building ASPNet core locally is far from trivial.   I can't get the current master to build #21941 nor the wasm-branch.

And determining which code was used for the last known working sdk version `3.1.200-preview-014883`, given no tag, is not easy for me either. (guessing somewhere around e24f73e14b17de75bfc9eded

[2020-05-28 08:39] bugzyUK commented on #17962
Hey, I am also experiencing the same issue.

Stupidly I didn't think this would be a big problem to solve (on my end) and my site has already gone live and in use. After struggling to resolve it I found this thread and now realised the issue is much bigger than me. Would love to hear where this is at.

[2020-05-28 09:24] Xeevis opened #22300 "Linker forces framework dependency tree redownload with tiniest of changes in a component"
When **Blazor WebAssembly** project is compiled in **Release** configuration, linker produces new set of framework optimized assemblies. This process is however **not deterministic** and small change to one static letter in one component eg. `<h1>Hello, world!</h1>` to `<h1>Hello, world.</h1>` will see the entire tree rebuilt, forcing all clients to redownload the whole app's framework dependency

[2020-05-28 09:37] ChayimFriedman2 opened #22301 "Question: Can We Contribute Code Relying On Source Generator?"
C# 9 will introduce the concept of source generators. ASP.NET makes heavy use of reflection currently (for example to find a controller), and migrating to source generator will mean faster startup & runtime (in expense of compile time).

So we ask: does the team have plans to start rewriting the framework slowly to adopt this new feature? And if not, is this something by design or because lack of

[2020-05-28 09:49] water1st opened #22302 "Blazor binding wrong value in for loop"
### Describe the bug
Using variables of for loop to bind a value in for loop body, such as i, will bind all binding values to the values of termination conditions of for loop (step count +1)

### To Reproduce
step1：create the webassembly blazor default demo
step2：modify the FetchData.razor just like this

[code]
step3: register HttpClientFactory to ServiceCollection
setp4: run server
step5: run bl

[2020-05-28 10:10] jan-johansson-mr commented on #12685
Hi @sean-mcleish,

You have the option to send a dictionary to the serializer, and pretty much send _any_ kind of object you want to JavaScript library. We're not bound to send an object as input to the serializer. Following this thread, I was exploring the path of creating dynamic object as input to the serializer. That path turned out to have its drawbacks. The other option is the path I'm now u

[2020-05-28 10:13] javiercn commented on #22302
@water1st thanks for contacting us.

This is a known limitation on the Razor compiler. When using the `i` variable inside the for loop, the code in the event handler closes over the loop variable which is what is causing the issue.

There are a couple of things you can do to avoid this:
* Use a foreach loop instead of a for loop as that will give you the correct semantics
* Declare a temporary var

[2020-05-28 10:14] javiercn commented on #22301
@ChayimFriedman2 thanks for contacting us.

It is too early to tell. We will likely look into this in the future, but we don't have anything specific yet.

[2020-05-28 10:17] #22302 closed

[2020-05-28 10:18] montyclt commented on #11815
@MarkusRodler The idea of required parameters is that should throw an error when building the project if some component is called without its required parameter.

[2020-05-28 10:30] javiercn commented on #22210
As @danroth27 mentions here, this is not something we ever supported on an official release. From looking at the current code, there is no easy way around to allow changing the JS runtime.

If we see more demand for this I'm happy to take a look at what we can do to improve the situation here, but I would like to get more information on what are the types of things that this enables it and see if

[2020-05-28 10:35] javiercn commented on #22170
@blowdart We only redirect apps that are defined through our APIs and have a profile. That's deliberate to allow composing with IS if the user decides to add extra apps.

We can take a look at what IS does in this case and do the same for apps defined without a profile.

[2020-05-28 11:00] #22259 closed

[2020-05-28 11:00] #22237 closed

[2020-05-28 11:57] Budsy opened #22303 "RedirectToAction in Core 3.1 MVC route values don't pass through if param has default"
This action won't load the parameter with a passed route value from a redirection because it has a default.
public IActionResult HelloWorld(string message="")
{
    ViewData["Message"] = message;  // If sent 'Howdy' from SendMsg() message will be empty
    return View();
}
public IActionResult() SendMsg()
{
    return RedirectToAction("HelloWorld", new{ message="Howdy" });
}
/*********************

[2020-05-28 12:06] chrisdot commented on #15104
Now that we have a nice proposal [for HttpClient](https://github.com/dotnet/runtime/issues/31198#issuecomment-635273974), wouldn't it be relevant to have the equivalent on the server side? @JamesNK ?

[2020-05-28 12:21] tauheedul opened #22304 "Develop a ReportViewer for ASP.NET Core"
Please develop a Report Viewer in ASP.NET Core to generate SSRS, RDL and RDLC reports (or at the minimum RDLC).
It will reduce one upgrade barrier for those of us still using the .NET Framework

[2020-05-28 12:25] nssidhu commented on #22128
I was able to resolve the issue. In summary i ran into multiple problems after upgrade.

1) The main problem was due  to linker and Authorization used together, which broke my code when compiled in Release mode. That is the reason that it would work perfectly on my local machine, but failed when published to Azure App, becuase when publishing it would compile in release mode.
2) Secondly since i w

[2020-05-28 12:25] #22128 closed

[2020-05-28 12:30] andreasinpb opened #22305 "Blazor Webassembly: JSON exception when trying to attach a token to an outgoing http request"
Hi,
I am trying to call an external api from a blazor webassembly app. The api needs an access token which is issued by an open ID provider (keycloak). However, when I try to attach an access token to an outgoing request, a JsonException is thrown (invalid Json, Stacktrace attached at the end). It looks like it cannot parse a token on the path $.token.expires, which is somehow null.

I set up Prog

[2020-05-28 12:35] SteveSandersonMS commented on #22159
That is true, but there's a subtlety about what exactly "from the same call" really means, and that's the root of the matter here. We should probably update our docs to clarify this.

What `StateHasChanged` really does is:

 1. If the component isn't already queued to be rendered, adds it to the render queue
 2. If the queue isn't already being processed, starts processing the queue

When calling

[2020-05-28 12:53] Joelius300 commented on #12685
@jan-johansson-mr

As I've already said, that approach only works for simple objects but causes trouble for custom converters since the object won't be of the original type but `Dictionary<string, object>` or whatever. There are also performance issues if you have to convert all your objects to dictionaries.

However, I'm also using a similar solution using dictionaries and `ExpandoObject` since t

[2020-05-28 12:59] Dean-NC commented on #22285
@pranavkm Thanks for the link and clarification. I knew "Page" was a built-in Razor class, but I didn't know you couldn't use it as a property name. Yes, I've already renamed and it's working fine. I haven't seen the info you linked to, in the actual asp.net docs site...I didn't even know you had a wiki on this repository. Please put this info in the docs pages, so normal people who don't hang-out

[2020-05-28 13:02] JasonDWilson commented on #22293
Thanks Thatcher,

I tried but instead of a console app that runs and terminates, it now cannot be terminated except by ending the process.

            //if (isService)
            //    await builder.RunAsServiceAsync();
            //else
            //await builder.RunConsoleAsync();
            var host = builder.Build();
            await host.StartAsync();
            await host.StopAsync();

[2020-05-28 13:05] isc30 commented on #22230
Can we at least get an `ItemGroup` to be able to exclude some assemblies (and subassemblies) from the `blazor.boot.json`?
Disabling the linker seems useless in this situation

[2020-05-28 13:27] sps014 commented on #22266
@javiercn any plan to override ToString Method of RenderFragment in Future?

[2020-05-28 13:48] PepeMtzCampos commented on #21718
Hello,

I have the exact same problem. The only way to make it work besides switching hosting model to Out of process was to copy the 'host' folder and its contents from 'C:\Program Files\dotnet\' to the root folder of my project.

[2020-05-28 13:52] javiercn commented on #22266
@sps014 no. RenderFragment is also a delegate type, so I don't think that's even possible.

[2020-05-28 13:59] sps014 commented on #22266
Oops didn't know that..  i am closing this issue for now as i have other workarounds to deal with current problem.

[2020-05-28 13:59] #22266 closed

[2020-05-28 14:03] blowdart commented on #22170
@HaoK can you work with Javier to figure out what identity server does here and match it in our helpers?

[2020-05-28 14:05] JerryBian commented on #17081
Just want to add for @delebru post, in my case in order to make `$http_connection` work, I have to declare it first. Otherwise, nginx will fail:

[code]
My full nginx configuration is something like:

[code]

[2020-05-28 14:09] blowdart commented on #22135
@Tratcher Is this to avoid session fixation?

[2020-05-28 14:16] benm-eras commented on #19578
I just tried adding another call to `app.UseStaticFiles()` and it now works! That is `blazor.server.js` is served, as is my `site.webmanifest` file. To be clear this is what I now have in `Startup.Configure(...)`:

[code]
Not keen on this, but at least it works!

[2020-05-28 14:30] nlz242 commented on #21992
Trying to do my first "Production" deployment today and i am facing the same issue. If i make sure i don't have the ASPNETCORE_ENVIRONMENT variable set, so that it defaults to Production, my app doesn't work and the root 404, like reported by others.

[2020-05-28 14:31] sean-mcleish commented on #12685
I have now tried a little bit around and I think I have a pre-working solution to do the following things:
- serialize simple types
- serialize nullable types
- serialize IEnumerables with exactly one generic argument (nesting, complex types, interfaces are allowed!)
- serialize all properties of an object, even if it has an interface as type
- serialize recursively complex objects
- for the prope

[2020-05-28 14:48] sroy2020 commented on #21383
Hi,

After investigation we have found the root cause. Our IT dept has set up special rules in the anti-virus. It's blocking all DLL downloads.

Thanks

[2020-05-28 15:00] #21991 closed

[2020-05-28 15:01] jsabrooke commented on #18688
Closing as I've just discovered that it's a duplicate of #18677, which was created about half a day before mine was, and looks like it's going to be fixed in 3.1.5:

https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-3.1#conventional-routing-order

[2020-05-28 15:01] #18688 closed

[2020-05-28 15:06] arivoir commented on #22159
@SteveSandersonMS Firstly, let me explain this is a problem that must be fixed by the framework, neither component developers nor app developers can make this work fine.

Imagine there is a grid control with a public collection of rows. When an app developer using the component writes the following code

`grid.Rows.Add(...);`

The grid component needs to call the StateHasChanged of the panel of ce

[2020-05-28 15:23] SteveSandersonMS commented on #21383
@secana I tried publishing a Blazor WebAssembly PWA (directly from the 3.2.0 project template) to Azure blob storage using the same AzDO pipeline steps as you've shown above, and it worked absolutely fine.

I also enabled Azure CDN for the static site, and that worked too.

So it seems like there is some other problem affecting your deployment. I'd suggest checking the *Network* tab in your browse

[2020-05-28 15:25] bessobesso opened #22306 "Identity override error in Blazor WebAssembly"
In Blazor WebAssembly there is an issue when overriding Identity UI. After you add Identity as scaffolded item, you get the exception when running the application:

InvalidOperationException: The following sections have been defined but have not been rendered by the page at '/Pages/Shared/_Layout.cshtml': 'Scripts'. To ignore an unrendered section call IgnoreSection("sectionName").

[2020-05-28 15:39] SteveSandersonMS commented on #22159
@arivoir Thanks for the additional information.

I see this is inconvenient in your case.

Overall I think there's a mismatch of expectations here. You want `StateHasChanged` to do something different from what it does in current releases. For back-compatibility reasons, I don't think we would change the meaning of `StateHasChanged`.

Would it be fair to say that you are looking for some new API w

[2020-05-28 15:55] jrcunningham21 commented on #17277
I have tried all of the workarounds, but another thing that worked for me was running Visual Studio as an admin which seemed to fix the issue without any code changes. Does this work for anyone else?

The workarounds that have worked for me are:

- echo something && ngserve
- ng serve --verbose
- https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/angular?view=aspnetcore-3.1&tabs=visual-s

[2020-05-28 16:00] mkArtakMSFT opened #22307 "Create component from unknown component looking tag. (Wouldn’t generate parameters)"

[2020-05-28 16:02] mkArtakMSFT opened #22308 "Add using for component"

[2020-05-28 16:03] mkArtakMSFT opened #22309 "Fully qualify component"

[2020-05-28 16:04] jan-johansson-mr commented on #12685
Thanks @sean-mcleish,

It looks like a solution, and if it works for your use case, then I guess it's good. As @Joelius300 pointed out, we have to be careful about performance. But from my point of view it's good to do the job and learn from the experience, and not be afraid to iterate and try different approaches.

.NET does a good job of introspection, but it's always expensive in terms of perfo

[2020-05-28 16:05] mkArtakMSFT opened #22310 "Directive attribute EventHandler generation"

[2020-05-28 16:10] netbitshift opened #22311 "Policy based requirement handler HandleRequirementAsync not being called"
Ok, Im throwing my hands up.  This should work.  I have already got a simple blazor server app working using this same auth code, and the HandleRequirementAsync method breakpoint gets hit when the page that uses the corresponding policy is requested.  Not so in my app that im having the issue with.  All the plumbing (startup/config) values look the same, but only the breakpoint in the constructor

[2020-05-28 16:13] mkArtakMSFT opened #22312 "Rename component"

[2020-05-28 16:14] NTaylorMullen commented on #22239
One piece which will make everything feel more complete is on extraction have the resultant code be indented correctly.

[2020-05-28 16:14] mkArtakMSFT opened #22313 "File rename inferred rename component"

[2020-05-28 16:15] mkArtakMSFT opened #22314 "Rename parameter from `@code` nested C#"

[2020-05-28 16:16] mkArtakMSFT opened #22315 "Rename attribute parameter from markup"

[2020-05-28 16:26] #21935 closed

[2020-05-28 16:27] #21931 closed

[2020-05-28 16:32] Krangth commented on #21837
Okay, I will email you shortly.

[2020-05-28 16:33] JessyParis commented on #17277
I use VS in admin mode too and I got the issue sometimes.
Echo something workaround works for me

[2020-05-28 16:38] akonyer commented on #17962
I am using cash-cash's workaround for now. It's not perfect, but it does work.

[2020-05-28 16:42] blowdart commented on #22306
Closing as dupe of https://github.com/dotnet/aspnetcore/issues/22058

[2020-05-28 16:42] #22306 closed

[2020-05-28 16:43] njannink opened #22316 "Feature request: Blazor attached properties"
It would be great if Blazor would support something similar that Wpf has for attached properties to be able to modify existing html or razor components.

Eg
[code]

The `RichTextEdit.Action` extended property in this case would write an additional value to the `class` list of the html button and the `RichTextEdit.Key` would build some keyboard event handler.

The extension properties should be abl

[2020-05-28 16:44] secana commented on #21383
@SteveSandersonMS with 3.2.0 it works. Just breaks for the preview version, so for me the it's fixed. But it seems other still have problems. Thx for being so responsive!

[2020-05-28 16:46] Tratcher commented on #22135
Just calling renew could cause a session fixation issue. We'd also want to ignore the _sesssionKey for a request if there wasn't an associated ticket available in the store. That way you'd get a new key if you had previously signed out but somehow recycled an old cookie.
https://github.com/dotnet/aspnetcore/blob/2b7e994b8a304700a09617ffc5052f0d943bbcba/src/Security/Authentication/Cookies/src/Cooki

[2020-05-28 16:48] SteveSandersonMS commented on #21383
Thanks. Closing as answered then.

If others do have problems:

 1. Please first check in the browser's *Network* tab that your hosting server is actually returning the content correctly. In particular, be sure that all the requests for `.js`/`.html`/`.dll`/`.wasm`/etc are actually returning the status code 200. If that's not the case, your real problem is with the hosting server.
 2. If the serve

[2020-05-28 16:48] #21383 closed

[2020-05-28 16:50] Krangth commented on #21837
Email sent.

[2020-05-28 17:00] #22080 closed

[2020-05-28 17:12] yugabe commented on #21514
Go team! Great job already, hope it's gonna get even better with time!

[2020-05-28 17:14] Thaina commented on #18271
Is this issue also include autocomplete for svg in razor file?

[2020-05-28 17:15] Justin-Smith commented on #12052
Having this same exact issue as well.

[2020-05-28 17:18] hoksource opened #22318 "routing additionalassemblies not sure if working"
additionalassemblies not loading pages from external libraries

### To Reproduce
I created a hosted blazorwasm

created a Test.razor with @page="/test" at Shared/Pages

i added the following in the app.razor
[code]
and tried

[code]

I was not able to view /test page

I tried the following and it gives a compiler error

[code]
[code]

 error CS0234: The type or namespace name 'Test' does not exist

[2020-05-28 17:23] netbitshift commented on #22311
Im going to just start from a blank slate and start pulling in things a bit at a time to see when the auth handler quits working.  One thing to note, is that the project in question didnt start from one using windows auth, but was added later.

[2020-05-28 17:24] ryanbrandenburg opened #22319 "Test failure: HttpsClientCert_GetCertInformation"
https://dev.azure.com/dnceng/internal/_build/results?buildId=661928&view=ms.vss-test-web.build-test-results-tab&runId=20521988&resultId=121088&paneView=debug

<details>
<summary>Error</summary>

[code]

</details>

<details>
<summary>Stacktrace</summary>

[code]

</details>

[2020-05-28 17:29] mkArtakMSFT commented on #22304
Thanks for contacting us. This is not something we plan to do.

[2020-05-28 17:29] #22304 closed

[2020-05-28 17:42] Tratcher commented on #21837
Got it, thanks.

Oh, your id_token is being returned as a fragment. That should only happen in a SPA app when you're using a client side SDK, that flow doesn't work with AspNetCore's auth handler.
[code]

The AspNetCore does not support OIDC logins initiated outside the app. All logins must start with a challenge issued from the auth handler in the application. This establishes some state, makes s

[2020-05-28 17:56] IanKemp opened #22322 "WebApplicationFactory: how to specify a proxy for all created HttpClient instances?"
ASP.NET Core 3.1

Specifying a proxy on a `HttpClient` instance is done by creating a `HttpMessageHandler`, but there is no way to provide a `HttpMessageHandler` to `WebApplicationFactory`. `WebApplicationFactory` does expose a `CreateDefaultClient(params DelegatingHandler[] handlers)` method but:

* `DelegatingHandler.SendAsync` can only modify responses, not requests
* creating a subclass of `De

[2020-05-28 17:59] Tratcher commented on #21837
Something like this?
https://github.com/dotnet/aspnetcore/blob/bfec2c14be1e65f7dd361a43950d4c848ad0cd35/src/Azure/AzureAD/Authentication.AzureADB2C.UI/src/Areas/AzureADB2C/Controllers/AccountController.cs#L36-L45

Where the policy gets set to GET B2C_1_Just_Sign_Up

[2020-05-28 18:00] #22197 closed

[2020-05-28 18:01] #22110 closed

[2020-05-28 18:07] panesofglass commented on #22286
@mrpmorris, it's opening a database connection and calling `ExecuteNonQueryAsync` on several `OdbcCommand` instances, so it's definitely making async calls. My in-memory test store did not have an async call until I added an `await Task.Delay(3000)` to simulate loading data, and it worked both ways.

[2020-05-28 18:17] mkArtakMSFT commented on #19081
This is going to be addressed as part of https://github.com/dotnet/aspnetcore/pull/22290

[2020-05-28 18:17] #19081 closed

[2020-05-28 18:21] BrennanConroy commented on #21528
That seems unlikely unless there is a bug in the app that is terminating the process when the requests come in too quickly.

As of right now there isn't enough information for us to diagnose the problem further. Having a repro app would significantly help here. Also, figuring out who is writing the app_offline file and why will help.

If you think the "time gap between two requests" is the issue,

[2020-05-28 18:24] mkArtakMSFT commented on #22028
@digeff can you please investigate this? Thanks!

[2020-05-28 18:25] sharwell opened #22325 "Opening Microsoft.AspNetCore.Razor.Language for editing"
I checked out commit 2787157 (current master), but am not able to figure out which solution contains the project Microsoft.AspNetCore.Razor.Language. How can I open this for editing?

[2020-05-28 18:41] StevenTCramer commented on #22210
@javiercn
In my Blazor Template I have been using WebAssemblyHostBuilder in my [Integration Tests.](https://github.com/TimeWarpEngineering/timewarp-templates/blob/master/Source/TimeWarp.Blazor.Template/content/TimeWarp.Blazor/Tests/Client.Integration.Tests/Infrastructure/TestingConvention.cs#L77)

In Blazor-State In particular these [JsonRequestHandlerTests](https://github.com/TimeWarpEngineering/

[2020-05-28 18:43] Tratcher commented on #22293
Splitting Run into Start and Stop lets you control when stop gets called (don't call stop immediately). Under what condition do you want the application to exit?

Here are two implementations of IHostLifeitme you can look at for examples:
https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Extensions.Hosting/src/Internal/ConsoleLifetime.cs
https://github.com/dotnet/extensions/blo

[2020-05-28 18:50] Joelius300 commented on #12685
I'm a bit less concerned about performance (don't get me wrong, it's still an important factor) but for many scenarios with js-libraries (not so much for casual use-cases) it's important to be able to use custom converters. The method provided by @sean-mcleish doesn't work for custom converters.

See [this fiddle](https://dotnetfiddle.net/k4VFn7);

<details>
<summary>Code</summary>
<p>

[code]

</

[2020-05-28 18:56] tsproesser opened #22328 "Controller QueryParameters not getting UrlDecoded"
I'm not pretty sure if the behavior just changed with the latest release - almost can't believe it. But right now queryparameters aren't automatically url decoded anymore:

[code]

Can be tested with any DotNet Core 3.1.3 version

[2020-05-28 19:04] Krangth commented on #21837
Thanks for the information and suggestion. I'll have time to try tomorrow.

[2020-05-28 19:05] ryanbrandenburg opened #22329 "Test failure: HttpsHelloWorld"
https://dev.azure.com/dnceng/internal/_build/results?buildId=661928&view=ms.vss-test-web.build-test-results-tab&runId=20521988&resultId=121091&paneView=debug

<details>
<summary>Error</summary>

[code]
</details>

<details>
<summary>Stacktrace</summary>

[code]
</details>

[2020-05-28 19:12] captainsafia commented on #18271
@Thaina Not explicitly. I'd recommend opening an issue with a clear description of what you'd like to see that we can dupe against this one.

[2020-05-28 19:13] netbitshift commented on #22311
Ok, I just finished starting from a blank slate, then slowing pulling in the other services/component libraries Im using, checking at each point whether the handler methods get called.  Yes at each stage.  The handlers HandleREquirementAsync is getting hit at a breakpoint.
Now Im left with the assumption that there is something non-obvious with that project or I am just overlooking something in it

[2020-05-28 19:13] #22311 closed

[2020-05-28 19:16] arivoir commented on #22159
@SteveSandersonMS The StateHasChangedAsync workaround looks working, for some cases at least. Thanks for it.

How? The StateHasChanged is not reliable to perform a render synchronously. Is there more api to reliably perform a render?

IMO, the current StateHasChanged implementation is a bug. It's inconceivable one method does one thing if you execute it either before or after an await call. I don'

[2020-05-28 19:37] NTaylorMullen opened #22330 "[Razor tooling LSP VS] try/catch/finally does not have proper coloring"
We probably missed adding a theme definition for try/catch statements.

![image](https://user-images.githubusercontent.com/2008729/83185414-ce72c280-a0df-11ea-83eb-fcbd38d1fa65.png)

[2020-05-28 19:38] NTaylorMullen commented on #21977
@TanayParikh as an FYI I know that Roslyn was planning to move to an IProgress<T> model for FAR. There's a good chance we'll need to ensure our FAR delegation can support that.

/cc @dibarbet

[2020-05-28 19:52] mrpmorris commented on #22159
Hi @SteveSandersonMS

I too consider it a bug, simply because it is inconsistent. I think it should work the same whether it's before or after an await, regardless of which approach is decided upon (multiple renders or a single render).

At the moment it is inconsistent and unexpected. It's taken a long time for people to notice, and it will definitely trip people up.

I like the idea of having an

[2020-05-28 20:00] timcromarty commented on #22273
Will do, just give me a couple of days.
Thanks

On Wed, 27 May 2020 at 19:53, digeff <notifications@github.com> wrote:

[2020-05-28 20:02] mkArtakMSFT commented on #21996
Thanks for reaching out to us. We plan to follow up with the `Sophos` antivirus vendor on this and see how this can be addressed. To set expectations, we don't have a clear ETA for this, so it'll take some time.

[2020-05-28 20:05] Thaina commented on #18271
@captainsafia Thanks, but I think it should be include in the term "improve svg support"

It was nothing much, just that I wish that while html element could be shown in vscode autocomplete in `.razor` file like this

[2020-05-28 20:17] rono1 commented on #13452
A bit confused here...  If global exception handling isn't doable, then why is there a product out there
 for blazor that claims that "All uncaught exceptions are automatically logged"?:
https://docs.elmah.io/logging-to-elmah-io-from-blazor/

[2020-05-28 20:47] ajaybhargavb opened #22331 "VS LSP: Revert revert of pre-booting language servers"
We need to revert this PR https://github.com/dotnet/aspnetcore-tooling/pull/1940 after [this](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1132146) external issue is fixed.

[2020-05-28 20:50] sackri10 commented on #22281
Code fix done as part of Issue #2378 is not merged or considered for latest version of asp.net core 3.1.

[2020-05-28 21:01] brgrz opened #22332 "Directory not found exception when using UseStaticFiles() with non-existant folder"
### Describe the bug
This might also be how you wanted to design the behaviour of UseStaticFiles() but to me is counterintuitive and dangerous.

The issue lies with using UseStaticFiles() and setting the exclusion to directory that might not exist.

### To Reproduce

Use this is your Startup.cs

			app.UseStaticFiles(new StaticFileOptions
			{
				FileProvider = new PhysicalFileProvider(
					Path

[2020-05-28 21:15] ryanbrandenburg opened #22333 "Test Failure: Publish_WithBuildReferencesDisabled_CopiesStaticWebAssetsToDestinationFolder"
https://dev.azure.com/dnceng/public/_build/results?buildId=662226&view=ms.vss-test-web.build-test-results-tab&runId=20531226&resultId=100126&paneView=debug

<details>
<summary>Error</summary>

[code]
</details>

<details>
<summary>Stacktrace</summary>

[code]
</details>

Also of note here is that the test grouping seems to be broken since it reports that test as belonging to `$(AgentOsName)-$(Buil

[2020-05-28 21:19] Pilchie commented on #22114
Is the version in `win-arm` arm64 or arm32 though?

[2020-05-28 21:25] Pilchie commented on #22114
Based on the fact that there are both `linux-arm` and `linux-arm64`, I'm guessing that 32-bit is assumed and we need a new dll.

[2020-05-28 21:35] NTaylorMullen opened #22334 "Update CTI vendor tests to validate Razor editor in VS Windows Codespaces"
We don't currently have any CTI vendor tests to validate the Razor editor experience in VS windows codespaces. Given the level of integration points we should be having our own CTI vendors do this testing instead of relying other teams vendors.

[2020-05-28 22:01] #22242 closed

[2020-05-28 22:01] #21993 closed

[2020-05-28 22:14] zbecknell commented on #13452
@rono1 You can now hook into the logging pipeline and log exceptions -- that doesn't mean you've "handled" the exception, though, just that you can globally log them.  I'm thankful for the logging, though!

[2020-05-28 22:41] mkArtakMSFT commented on #17730
Given the current limitations around browser support we’ve decided to push this work out of .NET 5.
We will reevaluate the state of threading support in browsers during .NET 6 planning phase.

[2020-05-28 22:52] dibarbet commented on #21977
Yep, we previously used IProgress for FAR, but it was temporarily reverted due to an issue with IProgress ordering in liveshare.  We expect that to be fixed soon and we'll go back to using IProgress

[2020-05-28 22:56] TanayParikh commented on #21977
That would be https://github.com/dotnet/roslyn/pull/44283, correct?

[2020-05-28 23:22] #22277 closed

[2020-05-28 23:50] halter73 commented on #22114
There's no (w|l)in-arm32 RID either, so I'd say that's a very safe guess. We concluded the same thing in triage yesterday.

https://docs.microsoft.com/en-us/dotnet/core/rid-catalog

[2020-05-28 23:51] danroth27 commented on #21514
@EntityFX We don't have any plans to support Blazor Server except on .NET Core. Blazor Server is based on ASP.NET Core, which is part of .NET Core. If there are architectures where you'd like to see .NET Core supported, please let them know by opening an issue in the https://github.com/dotnet/runtime/issues repo.

[2020-05-28 23:55] waelkdouh commented on #22095
But promises are not supported by IE 11. Its an es2015 feature.

[2020-05-28 23:58] smartprogrammer93 commented on #21489
I believe this should get more love since https://github.com/dotnet/AspNetCore.Docs/issues/18551
and cases like https://github.com/dotnet/aspnetcore/issues/21996 might happen more often with dll file ending

[2020-05-29 00:00] TanayParikh commented on #21346
The fix for this was merged in and inserted. Will verify once the new build propagates.

[2020-05-29 00:26] guardrex commented on #21489
@smartprogrammer93 asked about guidance for compression. Today, we just say that it's up to the dev to deal with recompressing *blazor.boot.json*. Should I seek to expand the doc scripts to handle compression? I'd rather **_not_** if the framework is going to get something built in. I'm 🏃 on a lot of high priority work for the next few months.

[2020-05-29 00:40] carlospence opened #22340 "Override ModelBindingProvider @Controller Action level"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen. Include any alternative solutions you've considered.

### Additional context
Add any other context or screenshots about the feature requ

[2020-05-29 01:04] guardrex commented on #21728
@Lupusa87 I just put the update in on https://github.com/dotnet/AspNetCore.Docs/pull/18555.

[2020-05-29 01:06] Lupusa87 commented on #21728
@guardrex Thank you.

[2020-05-29 01:07] NikolaStamenov commented on #17730
Good lords. But this is the most expected thing.
The blazor boilerplate and the way the .NET works, and the whole ideology of client side .NET project requires multithreading and real async to work correctly.
I vote to back off a bunch of other features and push for multithreading than vice-versa..

[2020-05-29 01:26] JinShil opened #22341 "Razor Components are not disposed in reverse order of their initialization"
### Describe the bug
For a list of razor components instantiated in one order, I suggest they should be disposed in the opposite order.  Currently, they are disposed in the same order as they were instantiated.  This poses a problem in more involved scenarios where external entities (in my case, sprites in a scene) should be destroyed in the reverse order from which they were created.

### To Repr

[2020-05-29 01:40] rwkarg opened #22342 "Temporary File Leak in NewtonsoftJsonInputFormatter"
### Describe the bug
NewtonsoftJsonInputFormatter may not close/delete temporary files created by `FileBufferingReadStream` when an error occurs.

### To Reproduce
- Create a controller with a method that takes a JSON payload as a `[FromBody]` parameter.
- Configure NewtonsoftJson for JSON serialization.
- Submit a request to the endpoint that provides > 30k of payload in the body but don't yet se

[2020-05-29 02:07] rwkarg commented on #22342
I don't see a direct way to get at either the FileBufferingReadStream or to get the specific file created to check the file system for setting up a failing unit test.

[2020-05-29 02:34] marshallr12 opened #22343 "Blazor webassembly b2c login fails with some identity providers"
### Describe the bug
A number of identity providers won't work with the iFrame-based b2c login. For example, Google and Amazon produce these client side browser errors (in the console output):

Refused to display 'https://accounts.google.com/signin/oauth?client_id=....&redirect_uri=https://wickedbyteapps.b2clogin.com/wickedbyteapps.onmicrosoft.com/oauth2/authresp&response_type=code&scope=email+pro

[2020-05-29 02:55] Tratcher commented on #22322
Why do you want to set a proxy? This HttpClient only sends requests to the server in-memory, it never aceeses the network and can't send requests anywhere else.

[2020-05-29 03:00] Tratcher commented on #22332
This behavior was intentional in order to highlight misconfigured paths.

Overriding it would require a change to PhysicalFileProvider which lives in the runtime repo now.

[2020-05-29 03:49] robertmclaws opened #22345 "[Blazor WASM] HttpClient ignoring headers added from 3rd party REST client library."
I have a REST client library called PortableRest that makes it easy to write API client libraries. I'm trying to build out a new library for a really great API. The problem is, it uses a non-injected internal HttpClient instance, and the requests that are going over the pipeline work just fine in .NET Core, but when I drop it in a Blazor WASM app, it's not sending the Authorization headers in the

[2020-05-29 04:24] XomegaNet commented on #7962
I agree with @jspuij.

Is there any reason why [ComponentFactory.InstantiateComponent](https://github.com/dotnet/aspnetcore/blob/2e4274cb67c049055e321c18cc9e64562da52dcf/src/Components/Components/src/ComponentFactory.cs#L28) method does not use the supplied `serviceProvider` to create Blazor components, and uses `Activator.CreateInstance` instead?

The use case we have is where a developer needs t

[2020-05-29 05:31] bradygaster commented on #22272
myself and @btardif, and we'll figure it out from there. @btardif we've inadvertently talked about WebJobs 3 times this week, I think we should figure this out so customers have a graceful path. I'd actually like to make this one of our e2e items if you agree this has enough questions on it.

[2020-05-29 05:51] TanayParikh commented on #21346
Tried out the latest insertion, however the issue seems to persist.

Investigated into the VS LSP codebase, and identified a potential issue. Following up with them on the existing [VSTS issue](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1117086).

[2020-05-29 06:19] brgrz commented on #22332
I don't treat this as misconfiguration. It is common directories get removed/renamed during the lifetime of application. The way it is now requires recompilation.

[2020-05-29 07:10] JunTaoLuo commented on #22282
This seems to have been fixed by https://github.com/dotnet/aspnetcore/commit/297c82f7a428816dc5529e3802e231765d60c7e2. I haven't see a failure of this type since that change has been merged.

[2020-05-29 07:10] #22282 closed

[2020-05-29 07:12] JunTaoLuo opened #22348 "Mvc.Razor.Extensions file contention causes build failure"
I'm seeing a build failure at https://dnceng.visualstudio.com/internal/_build/results?buildId=663483&view=logs&j=1b89928a-2219-5ef9-602f-f95beb3da4dc&t=1c817b4a-09bb-50b1-4e28-0ca26186c59a&l=320:
[code]

Have you seen this before @pranavkm? Should this be ignored via NoWarn?

[2020-05-29 07:38] Vaccano opened #22349 "ClaimsIdentity.Label not preserved in CookieAuth"
### Describe the bug
When setting up OpenID Connect in a new ASP.Net Core 3.1 application you can call

[code]

In there, you can wire up to events like this:

[code]

When setting the label on the `ClaimsIdentity` object in the `OnTokenValidated` event, the label does not stay changed.  (It is set to null on the `User.Identities` object in the Controller.)

### To Reproduce
1. Create a new ASP.Ne

[2020-05-29 07:51] IanKemp commented on #22322
My test is calling `WebApplicationFactory<T>.CreateClient().GetAsync(url)` which is failing with a 404 when I know it should not be, so I'm trying to use Fiddler to see the actual URL that the `HttpClient` is hitting. I already tried setting the `http_proxy` and `https_proxy` environment variables, which also don't work.

But I figured it out: I had to subclass `DelegatingHandler` and override `Se

[2020-05-29 07:51] #22322 closed

[2020-05-29 08:01] drauch opened #22350 "Is a HostedService guaranteed to be started *after* the Startup.Configure method has run?"
The docs state, that a hosted service (I'm using ASP.NET Core 2.1) is started when:

I don't know if ApplicationStarted is executed _strictly_ after Startup.Configure has finished running. Is this guaranteed?

Best regards,
D.R.

[2020-05-29 08:11] RickStrahl opened #22351 "HTTP Cookie Header returned with commas instead of Semi-colons on HTTPS Requests"
I have an ASP.NET Core application that's forwarding some of the raw request headers information to another backend server for processing. So I collect all server variables, client headers form data etc and pass them forward. It's critical that in this scenario the raw headers sent from the browser stay intact as there's internal logic to process the request data to do for example cookie processin

[2020-05-29 08:23] Sridhar-Narasimhan opened #22352 "Blazor WASM 3.2.0 PWA hosting in Azure"
### Describe the bug
When hosting a new Blazor WASM and PWA enabled project in Azure, I am getting the below console error and it is not behaving as PWA because of service-worker issues. Not able to install the application as APP

**Browser console error**
Failed to find a valid digest in the 'integrity' attribute for resource 'https://blazor.syncfusion.com/staging/pwacheck/index.html' with comput

[2020-05-29 08:48] fourquant commented on #14877
Any update on this? I am on core 3.1 and neither Url.Page nor Url.RouteUrl is working.

[2020-05-29 09:00] #22234 closed

[2020-05-29 09:08] mrhuo commented on #22270
This publish optional may not be publish Blazor WebAssembly App,

[2020-05-29 09:48] javiercn commented on #22270
@mrhuo thanks for contacting us.

We've already investigated these directions:

This doesn't impact size significantly and has an impact in caching since a change in a single assembly invalidates the entire bundle

Not sure what you mean by this. We already do IL linking on the published build output.

[2020-05-29 10:03] endeffects commented on #13610
I run into the same issue today. I tried to prevent useless re-rendings within my child control,
but due the reason that the OnParametersSet Event does not provide any information
about the source of the change nor the modified parameters i'm unable to fix this in a smart way.

Maybe most issues with the behaviour of the OnParameterSet event could be solved
if you provide the type of the source co

[2020-05-29 10:09] sven5 commented on #22031
There are really issues with Blazor and UserManager, e.g. UserManager tracks user objects and that's not desired.
I will workaround this by creating my own pieces from UserManager for my needs.

However, I think there _should_ be a way that UserManager and Blazor can work together.

[2020-05-29 10:24] RickStrahl commented on #22351
So here's a simple repro:

* Create a new Empty Web Project
* Add the following Configure()

[code]

Then start the app and go to:

https://localhost:5001

http://localhost:5000

You'll see the following:

![image](https://user-images.githubusercontent.com/1374013/83249715-b4b69700-a142-11ea-8d98-e3de184a501a.png)

Note top (https) has commas, bottom (http) has proper semi-colons.

[2020-05-29 11:05] mrhuo commented on #22270
My IDE version is Microsoft Visual Studio Professional 2019  16.6.0，I can't found the publish options your say. I don't know which version will provide this options?

[2020-05-29 11:06] mrhuo commented on #22270
@javiercn thanks for your comment

[2020-05-29 11:57] sean-mcleish commented on #12685
Hey @Joelius300,

thanks for the hint and your feedback.

I have now revised the extension so that almost everything should be possible.
I have updated my post above.

Here is the extension:

<details>
  <summary>Code</summary>

[code]

</details>

If you want to serialize interfaces or abstract classes, you can use the following converter:

<details>
  <summary>Converter</summary>

[code]
</detai

[2020-05-29 12:08] SteveSandersonMS opened #22353 "Regression - PWA manifest version no longer varies"
A while ago, we fixed https://github.com/dotnet/aspnetcore/issues/19882 by adding a hash to `service-worker.js`, computed by combining the hashes of all the files listed in the assets manifest, during publish.

Unfortunately it looks like our logic for this has regressed. During one of the refactorings related to precompression just before we released, we changed the metadata name from `%(FileHash

[2020-05-29 12:51] joebiker commented on #17516
VS 16.6.0 Preview 6.0
IIS 10.0.18362.1
Net Core 3.1.3

For me it just started happening. I'm not sure if it was I added Areas to my project, maybe external authentication. or upgraded to the latest Preview 6.0.  But you already have a good list if cases here, seems you are hot on the trail.

[2020-05-29 12:59] SteveSandersonMS commented on #22352
Your `service-worker-assets.json` manifest specifies that `index.html` must have the hash `giUiNJlgVATak9INpTux+S07Po7KtIfCDhBlN4PSn4k=`, but your server is returning a response whose hash is `chA9vyVFdxRQ16fU2feTVTwD0fjmqhwlZ93UwzLoOVo=`.

So, something is modifying that file as part of how you're deploying or serving the file. Are you perhaps editing or transforming that file deliberately in som

[2020-05-29 12:59] Tratcher commented on #22351
Kestrel does not remove `;` or insert `,`, and it doesn't processes headers any differently for https vs http (unless HTTP/2 gets involved). There are several other things going on here.

I'm suspicious of that Fiddler trace, use [Connection Logging](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.1#connection-logging) to capture the raw request that Kes

[2020-05-29 13:01] WoodyJ007 commented on #20285
I have the same problem using the latest builds. Internet has been telling me it's a cors issue and I've been going around in circles. The above basic code works fine on console and other apps. Tried it on a blazor server side and works fine so something is up with WebAssembly? Tried it on two from scratch projects on two different PCs and same result.  Any ideas?  Known issue still?

[2020-05-29 13:02] SteveSandersonMS commented on #22345
If I understand correctly what you're asking, the behavior you're seeing is required by the CORS spec: https://stackoverflow.com/questions/52072001/the-authorization-header-is-not-sent-in-options-call-by-the-browser

If that is the case then the server-side logic is incorrect if it requires an authentication header on a CORS preflight, since no browser-based application would be able to do that.

[2020-05-29 13:08] SteveSandersonMS commented on #22341
We've never specified any guarantees about disposal order, so I'd recommend not taking a dependency on this.

You could modify your disposal logic so that it executes in a particular order. For example, instead of `Dispose` actually doing the disposal immediately, change it to notify some service that tracks creation/disposal order and actually disposes everything that is flagged for disposal in t

[2020-05-29 13:11] SteveSandersonMS commented on #22297
Thanks for reporting this, @SQL-MisterMagoo!

Coincidentally I also hit this same problem today and diagnosed the issue, so I'll close this as a duplicate of #22353

[2020-05-29 13:11] #22297 closed

[2020-05-29 13:12] SteveSandersonMS commented on #22300
Thanks for reporting it, @Xeevis! I believe this is a duplicate of #22260. Please let us know if you don't think that's right.

[2020-05-29 13:12] #22300 closed

[2020-05-29 13:15] Tratcher commented on #22349
What's the Label property used for? This is the first time I've seen anyone ask for it.

The reason this isn't preserved is because OIDC's ClaimsIdentity's are serialized into the auth cookie  since OnTokenValidated and HomeController.Index happen on different requests. That serializer doesn't preserve the Label property. I don't think this was intentional, just an oversite.
https://github.com/dot

[2020-05-29 13:19] SteveSandersonMS commented on #22278
In general, it's a bad idea to try to detect "no internet connection" because reality is more complicated than that.

 * Maybe they really do have no internet connection
 * Maybe they have an internet connection, but are stuck behind a captive portal, so the server responses will be incorrect (e.g., 302 to some kind of wifi provider login screen)
 * Maybe they have an internet connection, but it's

[2020-05-29 13:28] Tratcher commented on #22350
Yes, Configure is always run before triggering ApplicationStarted (see BuildApplication).
2.1:
https://github.com/dotnet/aspnetcore/blob/9e38dcf1fc0335862e1ba6f19fc6a1f30e82ebb0/src/Hosting/Hosting/src/Internal/WebHost.cs#L140-L155
3.1:
https://github.com/dotnet/aspnetcore/blob/a9449cd20c2150917355d8ba7a30fa19b47569f7/src/Hosting/Hosting/src/Internal/WebHost.cs#L148-L166

What has changes is the o

[2020-05-29 13:43] justincolangelo opened #22354 "Blazor WASM template Release build ILLink fails Client project DLL not found"
### Describe the bug
The Client DLL is not produced when building the project in Release mode. Debug works well. Added the basic project repo for testing.

### To Reproduce
https://github.com/justincolangelo/BlazorWASM

Build in VS in release mode (AnyCPU or x64)

### Further technical details
- ASP.NET Core version 3.1.3
- Include the output of `dotnet --info`

[code]

- The IDE (VS / VS Code/ VS

[2020-05-29 13:55] aguacongas opened #22355 "Blazor EditContext.OnFieldChanged notify wrong item when a list is filter or sorted"
### Describe the bug
When the an `EditForm`'s model contains a list of stuff and we have an UI allowing the user to filter or sort this list. The event `EditContext.OnFieldChanged` will contains the item at index of the not filtered nor sorted list modified and not the good one.

### To Reproduce
[code]

![image](https://user-images.githubusercontent.com/3294829/83267529-a610c400-a1c4-11ea-88b0-8b

[2020-05-29 14:27] fitdev commented on #22276
UPDATE:

Slowdowns seem to be particularly severe and long lasting when editing anything inside the `@code {...}` section in .razor files, including when editing XML Doc comments for parameter properties.

Below are the 2 sample code stacks I managed to take during VS freezes (both on the main UI thread):

[code]

[code]

Both of the above were happening while I was editting XML Doc comment for th

[2020-05-29 14:33] adrianwright109 commented on #22355
Hi,

Check out this link: [https://blazor-university.com/components/render-trees/optimising-using-key/](https://blazor-university.com/components/render-trees/optimising-using-key/)

When using a collection/loop and you want to identify each item correctly in the collection you need to use the `@key` attribute.

Modify your code to include the `@key` attribute on the `<InputText />` component.  Thi

[2020-05-29 14:34] robertmclaws commented on #22345
Ah that makes sense then. We have not experienced this problem in PortableRest before because server-side calls do not require an CORS preflight request. The fact that PortableRest is not presently adding the headers on those calls means no changes are necessary, and I'll follow up with the service we're calling to see if they can make the changes inside AWS to allow unauthenticated preflight requ

[2020-05-29 14:34] #22345 closed

[2020-05-29 15:19] gregpawlowski commented on #14392
I just spent a whole day attempting to get an angular project running. There are many options I tried and with angualr timing out this was very hard to pin down. Almost resorted back to running ngserve and dontet API as separate projects. Thank you for the workaround, I was surprised to learn that a proxy would affect a development environment like this. Hope this is fixed quickly or documented be

[2020-05-29 15:29] IanKemp opened #22357 "Add ControllerBase method overloads for enriching ProblemDetails reponse with "detail" property"
Currently, `ControllerBase` has two overloads of `NotFound`:

* `NotFound()`
* `NotFound(Object)`

The first produces a `NotFoundObjectResult` that ultimately generates a `ProblemDetails` object that looks like this:

[code]

The second serializes whatever's passed to it and dumps the result to the response. If what's passed to it is a `string`, you get just a string out, no `ProblemDetails`.

How

[2020-05-29 15:34] aguacongas commented on #22355
That fix the issue

[2020-05-29 15:40] WoodyJ007 commented on #20285
FYI. it's when connecting to a webapi on HTTP and project was set to configure for HTTPS.

`
 public async Task<string> GetSomeDataAsync()
    {
        var _client = new HttpClient();

        var response = await _client.GetStringAsync(@"http://dummy.restapiexample.com/api/v1/employees");

        return response;
    }
`

Create Blazor server project with "Configure HTTPS" NOT ticked.  Works
Cr

[2020-05-29 15:46] htram opened #22358 "Blazor Wasm with Microsoft.ML works in Release mode but not Debug mode"
### Describe the bug
Standalone Blazor Wasm app using the Microsoft.ML package produces this error when running in Debug mode:

System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.IO.FileNotFoundException: Could not load the file

[2020-05-29 16:02] Mathew-Kochekkan commented on #19476
I have an application in which a source is writing data continuously into the writer side of a pipe and the reader side is reading and processing the data, and I am getting a similar error to the one being discussed.

Basically what is being done is to read a chunk of data from the reader and then process it.
After processing, depending on the information in the chunk, a certain length of data has

[2020-05-29 16:15] davidfowl commented on #19476
Does it have anything to do with reading the request body in an ASP.NET Core application or just using pipelines? If it's the latter then it's unrelated to this issue.

PS: If you're using pipelines though you should read this guide https://docs.microsoft.com/en-us/dotnet/standard/io/pipelines

[2020-05-29 16:29] mwaleedr commented on #21528
Do you mean to share those logs which i had already shared with you once. Or do you mean logs which we create manually by implementing logging in our application.

[2020-05-29 16:31] kiapanahi commented on #22351
This issue caught my eye on Twitter, and although I'm not in any way an expert I thought I'd share my test results:

So far I have been able to reproduce the issue using the Edge (Chromium based) browser with the code sample you've shared.

But...

When I try to do the same thing as near to the protocol bare metals as possible, i.e. using `curl`, I am not able to create the problem.

CURL + set co

[2020-05-29 16:37] Mathew-Kochekkan commented on #19476
I have been using Pipelines for sometime now and am familiar with the link. Thanks anyway. I am pretty impressed with Pipelines and it is very useful in my line of work where I am developing DICOM protocols for an imaging application and also protocols to interface Clinical Analyzers.

No, I am not reading a request body in ASP.NET Core.

I am running my application as a .net core 3.1 console appl

[2020-05-29 16:41] Joelius300 commented on #12685
Looks promising. I did some perf tests with BenchmarkDotNet.

## Tl;dr:
Seems to work fine.
Performance is definitely impacted but how important that is, you have to decide for yourself. In a complex ChartJs.Blazor scenario (which is probably about five times the complexity of case 2), it might actually be a bit too much but I can't test it easily because there's too much other stuff involved (lik

[2020-05-29 16:45] vsfeedback opened #22359 "When publishing a web application using AddRazorRuntimeCompilation I get old Sdk files"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1040835/when-publishing-a-web-application-using-addrazorru.html)._

---
[regression] [worked-in:16.5.5]
I use VS 2019 with the latest update (ver 16.6.0) and publish a web application to a folder.

When I checked the "refs"-folder files they suddenly are of an older version

[2020-05-29 16:47] Pilchie commented on #22359
Also tagging @perandersson.

[2020-05-29 16:47] davidfowl commented on #19476
`donet/runtime` for general pipelines issues.

[2020-05-29 16:59] Mathew-Kochekkan commented on #19476
Thank you. Will try to make a repo application and discuss it there.

[2020-05-29 17:10] mwaleedr commented on #21528
@BrennanConroy Do you mean to share those logs which i had already shared with you last time. Or do you mean logs which we create manually by implementing logging in our application.

[2020-05-29 17:14] BrennanConroy commented on #21528
Yeah your application logs https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#configure-logging

[2020-05-29 17:17] legistek commented on #21085
I don't want to suggest anyone close this issue, but it's almost the same as this:
https://github.com/dotnet/aspnetcore/issues/5617

Overly aggressive GC, which also appears to block the WASM thread (please correct me if I'm wrong), is a huge problem right now. I'm not sure that AOT would solve this. GC really has to happen in a background thread I think. I believe WASM threads are now enabled by

[2020-05-29 17:21] nssidhu commented on #22278
@SteveSandersonMS  Thanks for the guidance on gracefully handling no connectivity, but unless i know(or can detect) what has gone wrong how do i handle it ?  May be some more clarity like an example might help better understand what you are sugesting.
I am still lost on it.

[2020-05-29 17:28] nssidhu opened #22361 "Blazor Web Assembly Force Refresh Programtically."
I developed Blazor Web Assembly PWA App.

When i publish updated version to Azure App Service, the browser still continues to display the Cached Version.

Now as a developer i can do F12 on Desktop/laptop and then do "Empty cache and Hard Reload". But what about users, i can't expect each user of the site to know this trick, which again i dependent on the browser used.

Now for Mobile scenario,I b

[2020-05-29 17:30] SteveSandersonMS commented on #22278
When performing an HttpClient request, wrap it in a `try/catch`. In the `catch`, set some flag that causes the UI to display a message like "There was a problem submitting the request" and offer a button to retry.

[2020-05-29 17:37] #17018 closed

[2020-05-29 17:42] kierepka commented on #5466
hmm AOT is in [UNO](https://platform.uno/blog/profile-guided-aot-in-uno-platform-reduces-package-size-by-50/). Can you C&P this solution?

[2020-05-29 17:49] #21288 closed

[2020-05-29 17:50] vsfeedback opened #22363 "Visual studio crash during writing a code in blazor"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1046377/visual-studio-crash-during-writing-a-code-in-blazo.html)._

---
When I change some mark up text of html to blazor mark then visual studio automatically closed. I think due to auto intelli and auto formating of code it is occuring. Right now I am changing <a> to <Nav

[2020-05-29 17:51] vsfeedback opened #22364 "Default Blazor App causes Browser error "crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100] Unhandled exception rendering component""
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1047003/default-blazor-app-causes-browser-error-crit-micro.html)._

---
<p>I created a fresh Blazor App with the checked options Progressive Web Application and <a href="https://ASP.NET">ASP.NET</a> Core as Backend. Then I started the created Client project and I see the wo

[2020-05-29 17:52] vsfeedback opened #22365 "Code section turns black font color after Publish"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1046146/code-section-turns-black-font-color-after-publish.html)._

---
Whenever I do a publish from a Blazor Server project the entire Code section of the razor page turns to black font color afterwards. All of the opened razor pages will have its code section turn to black

[2020-05-29 17:55] pranavkm commented on #21288
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2020-05-29 17:55] vsfeedback opened #22366 "Azure AD B2C with .net core 3.1"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1034008/azure-ad-b2c-with-net-core-31.html)._

---
<p>Hi,</p><p>I'm developing an Asp.net Core 3.1 application, where I have tried setting up Azure AD B2C-authentication.</p> <p>I have followed one of the official tutorials, and the B2C Tennant and application seems to be O

[2020-05-29 18:07] BrennanConroy commented on #22319
[code]

[2020-05-29 18:22] daniel-p-tech commented on #22207
Unfortunately the proposed solution is not feasible as I mentioned in the original post.

I have created a rough proof-of-concept of how I think this could work. Our enterprise application will have a large number of pages/components, some of which need to be accessed from other pages/components and users need to be able to go back while preserving the entire state of the original component (scrol

[2020-05-29 18:24] Pilchie commented on #22325
@JunTaoLuo for the question, as he did the migration of this code.

Note that in general, not all projects here are in solutions.  Solutions aren't the official source of truth, we use build.cmd.  Sln files are created for convenience.

[2020-05-29 18:26] perason commented on #22359
Thanks...that did the trick

[2020-05-29 18:40] justincolangelo commented on #22354
This seems to have been an issue with environment. After modifying my VS install, I was able to build in release mode. Did anyone see anything wrong with my `dotnet --info`?

[2020-05-29 18:40] #22354 closed

[2020-05-29 19:03] NickAcPT commented on #20729
I'm having the same issue on Visual Studio Community 2019 Preview 16.7.0 Preview 1.0.
Doesn't work with any browser.

[2020-05-29 19:15] mwaleedr commented on #21528
@BrennanConroy i have already implemented logging in my application. But i am unable to get help through this because nothing is logged when application terminates. The below are the log settings which i am using.
Log.Logger = new LoggerConfiguration()
                .MinimumLevel.Debug()
                .MinimumLevel.Override("Microsoft", LogEventLevel.Warning)
                .MinimumLevel.Over

[2020-05-29 19:18] mwaleedr commented on #21528
This file i have recently copied after getting error.
[identityserver4_log.txt](https://github.com/dotnet/aspnetcore/files/4703840/identityserver4_log.txt)

[2020-05-29 19:36] BrennanConroy opened #22368 "Tooling repo build flakiness"
There were a couple build failures recently in the tooling repo related to uploading the `RazorLanguageServer-[os].zip` files.
https://dev.azure.com/dnceng/public/_build/results?buildId=663296&view=logs&j=7c8326b9-0a5f-532a-e6de-db8515c72d9a&t=2f0f1e20-badc-52e7-dbc6-29a52429fc6c

The public builds have both a Windows release and Windows debug leg, and during the failures I've observed so far both

[2020-05-29 19:44] #22280 closed

[2020-05-29 19:47] dougbu commented on #22368
Agreed. We should _not_ push anything to BlobArtifacts unless it either has a unique name (including the build configuration if doing a matrix) or the upload only happens for Release builds. I have no idea why we need anything but test results from Debug builds. @NTaylorMullen any idea?

I also doubt this is a big task. No real reason to push it into a future sprint if I'm right.

[2020-05-29 19:57] pranavkm commented on #22342
Thanks @rwkarg for the detailed explanation. We'll look in to this.

In the meanwhile, you could consider manually buffering the request either in a middleware that executes before MVC or in a filter. `EnableBuffering` should dispose the buffer at the end of a request. MVC won't separately buffer if it sees that the request has been previously buffered.

[code]

[2020-05-29 20:00] #17211 closed

[2020-05-29 20:00] #12830 closed

[2020-05-29 20:05] mrpmorris commented on #22159
Should this still be closed?

[2020-05-29 20:12] #21158 closed

[2020-05-29 20:38] RickStrahl commented on #22351
@Tratcher,  not sure why you would question Fiddler for not displaying the raw data correctly? All Fiddler does is capture the raw request and forwards it. AFAIK the Raw view only fixes up the URL - the rest is the actual headers from the request.

I'm pretty sure the comma delimited list is not coming from the browser (i can dupe this in Edge, Chrome and Firefox) and the fact that the results are

[2020-05-29 21:07] BrennanConroy commented on #21528
Rename the extension to .txt and share it

[2020-05-29 21:19] BrennanConroy commented on #22186
Could you enable timestamps in the app logs:
Use `TimestampFormat` in either your app.settings.json file or in code when setting up the console logger. `"TimestampFormat": "[HH:mm:ss] "`

[2020-05-29 21:28] marshallr12 commented on #22343
@guardrex fyi

[2020-05-29 21:30] clawton commented on #22012
Adding my voice, same issue here.  Started with the upgrade to vs 16.6.0

[2020-05-29 21:32] BrennanConroy commented on #22079
That's the expected behavior in this scenario.

[2020-05-29 21:45] captainsafia opened #22374 "[2.1] Publish failure in React-based templates on macOS"
**Steps to reproduce**

1. Checkout and build `release/2.1`
2. Create a new React template: `dotnet new react -o TestReact`
3. `dotnet run` should work.
4. `dotnet publish` fails with the following stacktrace.

<details>
 <summary>Expand for stack trace</summary>
<pre>
 node-pre-gyp ERR! Pre-built binaries not found for fsevents@1.1.2 and node@14.3.0 (node-v83 ABI) (falling back to source compile

[2020-05-29 21:51] digeff opened #22375 "Blazor DebugProxy returns undefined in Debugger.evaluateOnCallFrame or Runtime.evaluate"
### Describe the bug
We got stack traces in telemetry (see https://github.com/microsoft/vscode-js-debug/issues/485) which indicates that Blazor is returning undefined in the result field of Debugger.evaluateOnCallFrame or Runtime.evaluate. In the CDP protocol that field is not marked as optional, so it should never be undefined.

### To Reproduce
We got this stack trace from telemetry, so we don't

[2020-05-29 21:57] pranavkm commented on #21597
Fixed as part of https://github.com/dotnet/aspnetcore/pull/22296

[2020-05-29 21:57] #21597 closed

[2020-05-29 22:26] NTaylorMullen commented on #22368
We don't. Just an oversight 😄

I pushed it to the next sprint for now purely because we're already overloaded and I'm less familiar with how to wire everything together

[2020-05-29 22:28] #21757 closed

[2020-05-29 22:28] #22120 closed

[2020-05-29 22:28] #22121 closed

[2020-05-29 22:28] #22122 closed

[2020-05-29 22:32] Tragetaschen commented on #12830
I disagree with the bot's decision. ASP.NET Core could use the asynchronous APIs to write files and avoid one possible issue.

[2020-05-29 23:31] mkArtakMSFT commented on #22374
Is Node 10 what the 2.1 SPA templates work on now?

[2020-05-29 23:45] ajaybhargavb opened #22377 "Rename from Razor files in VS LSP"
Details https://github.com/dotnet/aspnetcore/issues/21978

[2020-05-29 23:52] JunTaoLuo commented on #22325
I did not add the migrated coded to any solution files yet. But it should be trivial, so I'll send a PR. I guess the most logical sln file to add these projects to would be src/Razor/Razor.sln

[2020-05-30 00:00] #21166 closed

[2020-05-30 00:06] berrat commented on #21514
Will there be backwards compatibility for QBasic? 🤪

Let's go Blazor 5.0 ! 🚀

#RIPjs

[2020-05-30 00:55] captainsafia commented on #22374
Yep. `dotnet publish` works fine on Node v10.20.0.

[2020-05-30 01:04] daniel-p-tech commented on #22141
I have just tried to publish a different project using VS Coummunity 16.6.0 (link to a GitHub repo is below) with the same problem.

https://github.com/daniel-p-tech/BlazorTabs

I have published the project using imported publish file that I downloaded from Azure portal and also using the VS Publish Azure Web App wizard.

![image](https://user-images.githubusercontent.com/29497049/83315680-3365100

[2020-05-30 01:19] captainsafia commented on #21171
Unfortunately, I'm still not able to repro. I don't think there's anything actionable to do on the Blazor side here.

I'll move this to discussions for the time being to allow space to dig into this issue but I don't think there's enough here to convert this to a formal bug/feature.

[2020-05-30 01:19] #21171 closed

[2020-05-30 01:21] emersonp commented on #22012
Fresh install of .Net Core 3.1.300, VSCode 1.45.1. Same issue.

[2020-05-30 01:22] captainsafia commented on #21849
I've been spending the past few days working on shipping the new `blazorwasm` debug type so I haven't had the chance to look at this.

We've been tracking down a few issues that come up related to our DebugProxy so it might be worthwhile to investigate if the issue occurs there.

Does this by chance work in VS? There's some subtle distinctions between the debugging setup in both IDEs that might he

[2020-05-30 01:24] captainsafia commented on #22012
Thanks for adding your comments, everyone. It would also be helpful if you included any logs and outputs from your debugging session to help us track this down.

We're currently investigating this issue.

[2020-05-30 03:01] pr-benchmarks[bot] opened #22381 "Performance regression: GrpcJsonInput2k"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| GrpcJsonInput2k | Linux, https, KestrelSockets | 2020-05-30 02:10:13Z | 55,046 | 51,534 | -6.38 % | -2.42 σ |

Before versions:
ASP.NET Core __5.0.0-preview.6.20278.1__
.NET C

[2020-05-30 03:02] nssidhu commented on #22278
Thanks for the explnation.

I prefer, that if we could let the user know that there is a problem, it gives him an opportunity to take corrective action rather than waiting for things to resolve on its own.

Say for example user is coming out of the flight and has turned on flight mode and if it is detectable and we let user know that give him opportunity to disable the flight mode, or simply letti

[2020-05-30 03:06] arno0826 opened #22382 "TypeLoadException: Could not load type 'Microsoft.AspNetCore.Http.Internal.BufferingHelper' from assembly 'Microsoft.AspNetCore.Http, Version=3.1.2.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'."
Microsoft.AspNetCore.Hosting.Diagnostics: Information: Request starting HTTP/1.1 GET http://localhost:65029/swagger/index.html
“iisexpress.exe”(CoreCLR: clrhost): 已加载“C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App\3.1.2\Microsoft.AspNetCore.WebUtilities.dll”。
“iisexpress.exe”(CoreCLR: clrhost): 已加载“C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App\3.1.2\Microsoft.AspNetCore.Http.Ext

[2020-05-30 03:12] TheMagnificent11 opened #22383 "How do you set the `Microsoft.Extensions.Hosting.IHostEnvironment.ApplicationName` used by the "Identity" area for Blazor WebAssembly?"
I have created a new project using the Blazor WebAssembly template in Visual Studio 2019 (version 16.6), using "Individual User Accounts" for authentication.

It created an "Identity" scaffolded application area, which is a separate seems to be a standard ASP.Net Core MVC app.

I've set an environment variable called `DEVELOPMENT_APPLICATIONNAME` to my desired application name (as documented [here

[2020-05-30 04:33] AmarjeetBanwait commented on #5465
@danroth27  Will issue ([11212](https://github.com/dotnet/aspnetcore/issues/11212)) **Nested Routing In Blazor** be fixed as part of this ?

[2020-05-30 04:41] davidfowl commented on #22382
This was an intentional braking change that was made. This method is internal and the new API is EnableBuffering https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.httprequestrewindextensions.enablebuffering?view=aspnetcore-3.1

[2020-05-30 06:07] hoksource commented on #22318
It turns out you need to use newly created razorclasslib projects to make this work. The default shared one might be missing some tags at the .csproj file

[2020-05-30 06:07] #22318 closed

[2020-05-30 06:24] mwaleedr commented on #21528
[Logfile.txt](https://github.com/dotnet/aspnetcore/files/4705178/Logfile.txt)
Orignal name is Logfile.PML
@BrennanConroy

[2020-05-30 07:04] hoksource commented on #21085
Any news on the aot performance. The template wasm loads 1-1.5 secs in my laptop the 2nd time around (some parts cached). and loads 4 secs in my phone the 2nd time around (some parts cached).

[2020-05-30 07:34] SIkebe commented on #22012
@captainsafia How can I help? Is there any way to collect more useful logs?

[2020-05-30 07:40] j4587698 commented on #22186
@BrennanConroy
How can I add timestamp in default console log?
I try add it in appsettings.json > Logging.
But it doesn't seem to work
My appsettings.json is
[code]

console log is
[code]

[2020-05-30 07:59] BrennanConroy commented on #22186
Sorry, you need to put it in the "Console" section in "Logging":
[code]

[2020-05-30 08:03] mrpmorris commented on #22361
Is this a duplicate of this other ticket https://github.com/dotnet/aspnetcore/issues/22353

[2020-05-30 08:59] j4587698 commented on #22186
@BrennanConroy
new log
[code]

[2020-05-30 09:06] sean-mcleish commented on #12685
Hey @Joelius300 ,

Thanks again for your feedback and for the detailed performance tests!

I have just updated the code and made some optimizations and bug fixes.

Have a nice weekend!

[2020-05-30 09:08] javiercn commented on #22383
@TheMagnificent11 thanks for contacting us.

I'm not really sure where you are trying to access the ApplicationName, if it is within Blazor WebAssembly or within ASP.NET Core Identity.

Within ASP.NET Core Identity the value is present and usable.
Blazor Webassembly doesn't have that concept and it is not flowed from the server to the client automatically.

[2020-05-30 09:13] mrpmorris commented on #22355
@aguacongas Please re-open this ticket. `@key` should be for optimising updates to make the deltas smaller, not for making the UI work correctly. This is a bug.

PS: I've simplified the example to eliminate the possibility of coder error.

[code]

[2020-05-30 10:03] TheMagnificent11 commented on #22383
Well, it's not the Blazor app that needs to access the `ApplicationName` property.  The pages scaffolded for the Identity application area uses it to display the name of the application at the top of the navbar (in the Bootstrap "branding" section) and also in the HTML title-tag.

This issue may not have anything to do with Blazor; it may be an issue with Identity UI application area that is scaff

[2020-05-30 10:07] TheMagnificent11 commented on #22383
It's an easy issue to replicate.
1. Create a Blazor app from the Visual Studio template, selecting "Individual Accounts" for authentication.
2. Add a `DEVELOPMENT_APPLICATIONNAME` environment variable to change the name of the application to something different to the c-sharp project name.
3. Run the application and click the "Register" link in the top-right of the page.
4. The application name di

[2020-05-30 11:45] John0King opened #22385 "Razor compiler bug or runtime bug"
and force more area where people do `Assembly.Load()` or `AssemblyLoadContext.Default.LoadFromAssemblyPath()`

### Describe the bug

as my goal is  to load a  whole `asp.net core app` as  `subapp`  in asp.net core (it's in very earlier stage) ,  after I successfull to "side host" it,  there is error that cause the "subapp"  outof the `PluginAssemblyLoadContext`, after debugging, I found that it ca

[2020-05-30 12:16] matteoumili opened #22386 "Possible unexpected behaviors caused by RequestLocalizationMiddleware"
https://github.com/dotnet/aspnetcore/blob/5c155d41477d0e79819fcba5af498fbee92fbe97/src/Middleware/Localization/src/RequestLocalizationMiddleware.cs#L147

In this line, the RequestLocalizationMiddleware sets the current thread culture to be the same as the one specified by the request.
Due to the fact that with async/await a thread can process simultaneously two different requests, can't this lead

[2020-05-30 12:28] kevinchalet commented on #10317
@mkArtakMSFT is there a chance this bug could be fixed in 5.0? It sadly makes `[SkipStatusCodePages]` hard to use in mixed API/views applications using token authentication.

[2020-05-30 12:35] Thaina opened #22388 "Enhance QueryString in blazor"
I would like blazor to provide better management and handler for querystring of current page url

### [FromQuery] attribute for two way binding

It should allow binding to a field and/or property, so that it would always binded with query string with the same name as the property

[code]

### NavigationManager

Should provide API for URI manipulation and history

[code]

Underlyingly should just c

[2020-05-30 13:21] #21653 closed

[2020-05-30 14:00] #22350 closed

[2020-05-30 14:00] #22341 closed

[2020-05-30 14:00] #22270 closed

[2020-05-30 18:20] mkArtakMSFT commented on #22374
Ok, that's it then. In 2.1 we did support only Node 10. Given the major version bump we never upgrade down-level templates, as that's a riskier change. So it looks like nothing has actually changed here and the templates are in fine state.
This conversation has came up multiple times. And every time we concluded that we will keep things as is. @danroth27 can you please confirm that we should keep

[2020-05-30 19:43] dougbu opened #22389 "Fix warning: "CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.""
There are at least 28 new warnings of this type. See https://dev.azure.com/dnceng/internal/_build/results?buildId=664608&view=logs&j=1b89928a-2219-5ef9-602f-f95beb3da4dc&t=bcce746a-741e-59b7-adec-a4a82d8c5e52&l=1736 for example.

Looks like these came in with #21581.

[2020-05-30 19:45] dougbu commented on #22389
Part of #22240.

[2020-05-30 19:55] dougbu opened #22390 "Fix warning: "in asset size limit: The following asset(s) exceed the recommended size limit (244 KiB).""
There are at least a dozen of these new warnings or the related "in entrypoint size limit: The following entrypoint(s) combined asset size exceeds the recommended limit (244 KiB).". See https://dev.azure.com/dnceng/internal/_build/results?buildId=664792&view=logs&j=1b89928a-2219-5ef9-602f-f95beb3da4dc&t=bcce746a-741e-59b7-adec-a4a82d8c5e52&l=2262 for example.

Looks like these warnings started wit

[2020-05-30 19:57] dougbu commented on #22240
We're getting worse instead of better. Now have ~930 warnings.

[2020-05-30 20:07] dougbu commented on #22390
Also linked to "in webpack performance recommendations:" warnings, bringing the total new warnings up to at least 18.

[2020-05-30 20:58] MorganR opened #22392 "Can't serve valid blazor.webassembly.js from Docker after upgrading to 3.2.0"
### Describe the bug
After upgrading from Blazor Wasm 3.2.0-preview3.20168.3 to the 3.2.0 release, my docker container is sending invalid data when requesting blazor.webassembly.js. The browser says: `Uncaught SyntaxError: Invalid or unexpected token`. The contents look like garbage, eg. `RÍåH…zZ¬™¿¶ìÖæ'M—√`. This prevents any of my Blazor WASM code from running.

With the preview 3 release, I h

[2020-05-30 21:23] KrazyTako commented on #21514
Will there be any enhancements to the user management? It feels a little cumbersome having to create and redirect users to .razor pages in order to handle user logging in/out and user creation. Would be great if all of this could just be managed in Blazor components instead.

[2020-05-30 22:00] #22079 closed

[2020-05-30 22:51] danroth27 commented on #21514
@KrazyTako We don't have any immediate work planned around user management, but we do our best to prioritize work based on user and community feedback, so please file an issue for any feedback you have in this area and we'll consider it.

[2020-05-30 23:37] andrevlins commented on #20374
For me it is also an obstacle for our customers. I would very much like it to be an option.

Thank you for the excellent work!

[2020-05-30 23:39] MorganR commented on #22392
Ah turns out this is a Google Cloud Run issue with Brotli compression, which seems to be enabled by default after updating from the preview. Root issue with Cloud Run is here: https://issuetracker.google.com/issues/147185337

How can I disable Brotli compression? I've tried a few things based on https://docs.microsoft.com/en-us/aspnet/core/performance/response-compression?view=aspnetcore-3.1#compr

[2020-05-31 01:08] shaggygi commented on #15005
Some of these might be able to check off or update?  For example, "Introduce new Server API"?

[2020-05-31 01:47] NateKomodo commented on #22138
For whatever reason, github did not send me an email about this. I will test this tomorrow.

[2020-05-31 02:07] JvanderStad opened #22394 "[Blazor] @bind async"
https://docs.microsoft.com/en-us/aspnet/core/blazor/data-binding?view=aspnetcore-3.1

Data-binding takes place with the following syntax:
[code]
this is equivalent of
[code]
I can use the `setter` of the bound property to handle some extra logic

[code]

I find myself starting with this pattern and then getting stuck because I need to call something async. I rewrite the thing to handle the events

[2020-05-31 02:31] JvanderStad commented on #22394
Idea similar to the `Changed` postfix.

[code]
You start out with a normal property and add `async` methods if required

[2020-05-31 04:00] #22278 closed

[2020-05-31 04:45] Coscotex101 commented on #8737
Hi, just reminding everyone that comes across this, that it's been over a year that this was posted and we are still waiting for this feature to be returned, especially since there are lots of devs clamoring for it. Well me and my team will keep on using Core 2.1 where this function works fine until the "SMALL TEAM" gets around this. @mkArtakMSFT @pranavkm @Rick-Anderson

[2020-05-31 05:15] ostart commented on #21984
Both platform, but Windows is more preferable

[2020-05-31 06:07] dougbu commented on #22243
@mkArtakMSFT one complete warning text is
[code]

Questions:
1. Why do we ship a package-lock.json file and not a package.json file?
2. Is anything other than the "missing" package.json file an issue for the component governance system?
    - E.g. does the package-lock.json file contain comments the system can't parse?
3. Should we exclude artficacts/tmp/ from component governance checks?

[2020-05-31 06:40] kramffud opened #22422 "Support Runtime Compilation of Razor Code Streams"
Take Razor runtime compilation to the Nth degree.  Allow us to dynamically generate Razor code at runtime, feed that Razor stream to Razor.RuntimeCompilation and let it deliver HTML to the client.

Let us leverage the power of Razor model binding, tag-helper interpretation, partial views, RCL and its infusion of anti-forgery tokens and other security, but let us generate that Razor code at runtime

[2020-05-31 06:45] ordinaryorange commented on #7077
My 2c since landing here. (my comments are from the viewpoint of v3.1, I've not explored whether they are relevant to other versions)

1. `IApplicationLifetime` appears to obselete with the recommended alternative `IHostApplicationLifetime`
2. Whist one cannot get a `IHostApplicationLifetime` in the Startup constructor it is available in the `Configure()` method simply by adding to the signature.

[2020-05-31 07:10] scottkuhl commented on #11082
https://github.com/dotnet/aspnetcore/issues/11082#issuecomment-505223600

@jzabroski Do you have any examples or can you point me in the direction of getting Blazor working on Cordova?

[2020-05-31 07:12] czioutas opened #22396 "Tracked Entity remains allocated until new request"
### Describe the bug
I did not really want to create this as a bug, because I am not sure if this is expected functionality or actually a bug.
Nevertheless my issue in short is that EF keeps the objects created (tracked) even after the request has been completed.
I register my Dbcontext with default scoped lifetime cycle and similarly the Repository that has an instance of the Dbcontext.
As I unde

[2020-05-31 07:17] scottkuhl commented on #18670
I've seen the Blazor mobile bindings, but this approach seems like it would be much faster to implement.  I would love to see an experimental project start to support mobile like you did for desktop with Electron and WebWindow.  Its and easier path from server side, to Wasm, to hybrid for web developers.

[2020-05-31 07:44] John0King commented on #22020
@mkArtakMSFT  I think this will be pretty easy to migrate,  is just switch from the  **wrap** of `UseStaticFile` to `UseStaticFile`

[2020-05-31 08:43] fredyfx commented on #17516
This may sound silly, something that worked nicely for me was using `dotnet run` instead of using the IIS Project from the debugger

[2020-05-31 10:10] srpeirce commented on #22392
Have you tried setting the options to NoCompression?

[code]

[2020-05-31 10:30] javiercn commented on #22394
@JvanderStad thanks for contacting us.

We'll take a look at this issue and get back to you.

[2020-05-31 10:41] sencagri opened #22398 "Blazor server not handling Http POST requests"
Hello,

I am trying to make a payment page with blazor server side. The payment service makes a Http POST request to a URL I gave them when making request. But I could not find a way to handle their callback request. I added a Razor Page like below :

[code]

I thought OnPost will handle the POST requests but it is not working. Is there any way to handle not GET requests in blazor app.

Thanks.

[2020-05-31 10:42] javiercn commented on #22396
@czioutas thanks for contacting us.

The DI container will call Dispose on IDisposable services once a scope is released, but that doesn't "free" the memory for those objects. Only the GC is responsible for that. The object will remain allocated and in memory until the GC feels pressure and triggers a collection. It is only at that point when the object will be deemed collectible and deallocated t

[2020-05-31 10:43] mrpmorris commented on #22159
Actually, what would be really nice would be if there were two options in the parameters
1: Queue or RenderImmediately
2: Ignore or honour ShouldRender (Default / Forced)

That way when using something like Reactive patterns we could have a base component that always returns false from `ShouldRender` but then when a reactive subscription fires the base component does a Queue + Forced render. That

[2020-05-31 10:45] javiercn commented on #22398
@sencagri thanks for contacting us.

* Did you create a .cshtml (Razor page?) inside the pages directory?
* Did you call MapRazorPages() within app.UseEndpoints?
* Did you try to post to the page directly from within fiddler?

[2020-05-31 10:53] sencagri commented on #22398
Yes. I created .cshtml page. MapRazorPages called. I both use payment service sandbox and POSTMAN app to send POST requests.

![1](https://user-images.githubusercontent.com/7950917/83350607-e481bc80-a345-11ea-9f67-a747f5a49fc3.png)
![Ek Açıklama 2020-05-31 135108](https://user-images.githubusercontent.com/7950917/83350608-e5b2e980-a345-11ea-9c75-5fc1bf4af090.png)

I am getting **400 Bad Request**

[2020-05-31 10:56] javiercn commented on #22398
@sencagri thanks for the details.

It is very likely that you are missing an antiforgery token.

Are you making a POST request from a server-side Blazor app into a razor page on the same app? Why not instead handle the form submission from within server-side Blazor?

[2020-05-31 10:59] roji commented on #22396
If I understand correctly, @czioutas you are indeed seeing the memory getting released - just *later* than you expect - can you please confirm that this is the case? If so, than I agree with @javiercn that garbage collection may simply not have happened as soon as you expected, which is expected behavior. Assuming your DbContext is registered with scoped lifecycle, in a regular ASP.NET application

[2020-05-31 11:22] sencagri commented on #22398
No. Payment service call my URL. I am not making POST request inside my application.

1-) I am making a request to payment service. They give me a special URL to go. And also, I give them a URL(which is my razor page) to return to my app.
2-) I navigate to the URL for process payment which is not my application.
3-) After they process the payment. They call my URL with POST request. If it were a G

[2020-05-31 11:25] javiercn commented on #22398
@sencagri Razor pages has automatic CSRF protection, so what's likely happening is that in the postback to your response the page is checking for an antiforgery token in the request that doesn't exist.

You can put `@attribute [IgnoreAntiforgeryToken]` in your page and the request should go through

[2020-05-31 11:29] sencagri commented on #22398
This is great! It worked.

Thank you very much Javier for fast responses.

[2020-05-31 11:29] #22398 closed

[2020-05-31 12:08] burakakca opened #22399 "Is it possible to invoke components to the project by including the library in the blazor runtime"

[2020-05-31 12:23] czioutas commented on #22396
hey all thanks a lot for the response! @roji @javiercn

So the problem originated from a webapi that uses background task queues however the same case appears even in a simple webapi as the only linked in the github repo  https://github.com/czioutas/efcorememorytest

@roji yes this is the case. But very very later, and I would expect the memory to be released right after the request ends and not w

[2020-05-31 12:25] czioutas commented on #22396
Some more data:

These are the stats on app start:
![image](https://user-images.githubusercontent.com/2229298/83352218-53611480-a34a-11ea-8906-61a2454ab090.png)

These are the stats after data generation:
![image](https://user-images.githubusercontent.com/2229298/83352226-6542b780-a34a-11ea-8294-b5666a333817.png)

These are the stats after save and return Ok() of the request
![image](https://user-

[2020-05-31 12:28] javiercn commented on #22396
@czioutas You would have to take a snapshot of the memory when the OOM happens and take a look at the root of the different object graphs to determine what is holding on to the context related objects to determine why they are not being claimed.

[2020-05-31 12:38] czioutas commented on #22396
@javiercn will try to do. Will get back to this later because it needs some time to prepare to run locally.

[2020-05-31 12:51] jan-johansson-mr opened #22400 "Blazor-wasm runtime issue: "Cannot wait on monitors on this runtime""
### Describe the bug
Using async/await under certain conditions causes a runtime failure with Blazor, with the exception "Cannot wait on monitors on this runtime".

### To Reproduce
Please look at [the following repo](https://github.com/jan-johansson-mr/BlazorTaskIssue) that have a slight modification to the Blazor-wasm template to provoke the runtime exception.

The repo also show a work-around f

[2020-05-31 12:56] mrdnote commented on #19578
This issue is causing me real problems too.
It's important for a website to specify cache control to their assets files, but this is now no longer possible! The following simple caching rule mod breaks Blazor:

    app.UseStaticFiles(new StaticFileOptions()
    {
        OnPrepareResponse = ctx =>
        {
            ctx.Context.Response.Headers.Append("Cache-Control", $"public, max-age=6000;

[2020-05-31 13:06] javiercn commented on #22400
@jan-johansson-mr thanks for contacting us.

Is the usage of `.Result` https://github.com/jan-johansson-mr/BlazorTaskIssue/blob/master/BlazorApp2/Pages/FetchData.razor#L65 that causes this issue.

The mono runtime is single threaded, so I would suggest you file an issue in the [mono repo](https://github.com/mono/mono).

[2020-05-31 13:07] javiercn commented on #22399
@burakakca thanks for contacting us.

Can you please clarify what you are trying to achieve?

[2020-05-31 13:26] arivoir commented on #22159
Another important point the method that updates the ui synchronously, whatever name, to do nothing if the layout didn’t need any update, otherwise calling this method could also end up causing performance problems.

[2020-05-31 13:33] jan-johansson-mr commented on #22400
Thanks,

I'll do that!

[2020-05-31 13:33] #22400 closed

[2020-05-31 13:50] roji commented on #22396
@czioutas it sounds like you may be trying to insert 300000 rows with the same DbContext instance. If that's the case, it's definitely recommend you not do this - DbContext was not designed to handle these numbers via a single instance. Try splitting your import into many small, fixed-length batches, i.e. instantiating a new DbContext instance for each 1000 entities.

An even better option for imp

[2020-05-31 13:55] JeremyLikness commented on #22396
One other thing for you to try @czioutas... I think you'll see more relief and better performance if you implement IDisposable to explicitly dispose of resources earlier. I also noticed you are using synchronous access to the dbcontext in the controller. I haven't had time to configure the database and run tests but I'm curious if you merge [this pull request](https://github.com/czioutas/efcoremem

[2020-05-31 14:01] legistek commented on #21492
Is there any documentation for how to use it properly? In particular on the Javascript side - such as `BINDING.conv_string`?

And this is probably a noob question, but when we use `InvokeUnmarshalled` and give it, say, an `int[]` or `float[]`, is the Mono runtime still making a copy for JS or is JS getting a direct memory pointer at that point? In other words can we not only avoid JSON serializati

[2020-05-31 15:00] #22382 closed

[2020-05-31 15:53] czioutas commented on #22396
So the process has been running more or less since my last comment ~2 hours. I did 3 requests and although the app did not crash (thats good) the memory usage did not go lower than 14gigs. So it is freeing memory if it find a tough situation but still doesnt remove the old entity elements.

I uploaded on gdrive 2 gcdumps. 1 at application start prior to any requests and 2 from 10 minutes ago after

[2020-05-31 15:57] roji commented on #22396
Yeah, that definitely will not scale. Since the DbContext tracks all added entity instances until it is disposed, all instances of a given import exist in memory at the same time. Either batch or switch to Npgsql COPY, which should dramatically speed up your imports in addition to eliminating memory pressure.

[2020-05-31 16:16] lgulliver commented on #20256
I'm getting this too since updating Visual Studio to 16.6. I was previously working in VSCode with no issues, but needed to switch to run multiple function apps alongside it more easily, but now I'm hitting the same issues as above.

[2020-05-31 16:40] MorganR commented on #22392
No, unfortunately I've tried that but it's still serving compressed Brotli data. It does seem to fix things locally when running with `ASPNETCORE_ENVIRONMENT` set to `Development`, but doesn't work when running in `Production` mode and deployed on Cloud Run. For some reason trying to run in `Production` mode locally is leading to completely different problems where no static files are serving at a

[2020-05-31 17:22] captainsafia commented on #22374
That makes sense. According to the Node docs, Node v10 is currently under "Maintenance LTS" through April 2021 ([ref](https://nodejs.org/en/about/releases/)), so there's some runaway on this.

[2020-05-31 17:23] captainsafia commented on #5465
@AmarjeetBanwait Not really. I'd recommend adding any scenarios/thumbs-up you have on the original issue for nested routes.

[2020-05-31 17:26] captainsafia commented on #22012
@SIkebe Screencaps of the bug you are running into and any content that shows up in the browser console would be helpful.

We discovered a bug in some of the debugging codepaths that prevented logs from being generated. We've resolved that bug and are working on getting the fix out in a public feed so that you and others will be able to provide more detailed logs then.

[2020-05-31 18:05] MorganR commented on #22392
Yup, looks like `app.UseBlazorFrameworkFiles()` [sets up compression options here](https://github.com/dotnet/aspnetcore/blob/78d6ce201ff955bac07899bdc7c54abe6bd57125/src/Components/WebAssembly/Server/src/ComponentsWebAssemblyApplicationBuilderExtensions.cs#L53) using a custom [ContentEncodingNegotiator](https://github.com/dotnet/aspnetcore/blob/78d6ce201ff955bac07899bdc7c54abe6bd57125/src/Componen

[2020-05-31 19:45] bancroftway opened #22402 "Dependency Injection of IConfiguration is not working as expected in Blazor Webassembly project"
1. Create a hosted Blazor wasm project
2. Create a new .Net Standard 2.1 library project. Set reference to this library project from the "Client" project
3. In the Library project, create a new class AppState, and inject IConfiguration in its constructor
4. Register AppState in Client's Program.cs like so:
`builder.Services.AddScoped<AppState>();`
5.  Notice that any of the configuration values ca

[2020-05-31 20:00] #20306 closed

[2020-05-31 21:09] mkArtakMSFT commented on #22374
Sounds like we have no issues here then 👍 Thanks For double-checking, @captainsafia!
Please follow up with the CTI folks to make sure they use the correct version of Node during validation.

[2020-05-31 21:09] mkArtakMSFT commented on #22374
And close this issue as an `ACK` that you're following up with them, please.

[2020-05-31 22:42] mrpmorris commented on #18743
I too now need this.

I want to write a base component that can be inherited by a page, and I need that base component to set some cascading values. The problem is, there is no way in a page to wrap CascadingValue around `@ChildContent`, because a page simply overrides BuildRenderTree.

So, without making ICascadingValueComponent public, there is currently no way to create a base page component th

[2020-05-31 23:34] mkArtakMSFT commented on #22178
@mysteryx93 to clarify, by minimal repro we refer to the minimum required changes on top of a new project, which will reproduce the issue. We are not interested nor we have enough resources to look into customer projects.
If you can provide such a repro project hosted in a GitHub public repo, we will try the scenario out.

[2020-05-31 23:40] Sherweeen commented on #21514
I am a fan of Blazor WASM, and recently implemented an enterprise application with Blazor. There was tremendous functionality in component-based features, full C# and .Net code usage, a great experience! However, after loading the app with data, I'm having some issues, mostly in performance; that I'm now hesitating if to continue or to wait till a performance boost in the upcoming versions:
1. In

[2020-06-01 00:02] JvanderStad commented on #22178
@mysteryx93 You can roll your own localizer. I'm using Json files and custom attributes to make it work in Blazor. I'm using translation over multiple projects.

You can design your own strategy. I use one translation file (per language) per 'Area'.

Same here, design your own strategy. If you don't change your keys, create an 'override' mechanism

You can share translations by using the same type

[2020-06-01 00:16] JvanderStad commented on #21514
_Offtopic_

You can submit a pull-request for https://github.com/microsoft/GW-BASIC

[2020-06-01 01:17] JvanderStad commented on #22394
What is the current recommended pattern to use when using two way binding with async calls?

[2020-06-01 01:56] JvanderStad commented on #22394
Reference https://github.com/dotnet/aspnetcore/issues/17099#issuecomment-556882628

[2020-06-01 03:00] erwan-joly commented on #22216
@pranavkm is the second method still working ?
if i use that it works perfectly (my understanding is that it use newtonsoftjson for everything)
[code]

but when i use this
[code]
json patch is deserialized as null.

i did a quick repo to reproduce:

https://github.com/erwan-joly/jsonpatchbugexample/blob/master/JSonPatchExample/Program.cs#L58

[2020-06-01 04:28] Lupusa87 opened #22405 "[blazor] HtmlRenderer is slow"
[htmlrenderer](https://github.com/dotnet/aspnetcore/blob/057ec9cfae1831f91f1a0e01397059b20431db7b/src/Mvc/Mvc.ViewFeatures/src/RazorComponents/HtmlRenderer.cs) is now working too slow when there is bit complex and large renderfragment or component.

I know it is going to change, just wanted to report that htmlRenderer, RenderFragment frames and all this model seems bit overheat and causes long pro

[2020-06-01 06:51] lucasmpr opened #22408 "WebApplicationFactory and TransactionScopes upgrading to distributed transaction."
I'm having a totaly weird interaction in WebApplicationFactory and TransactionScopes while doing integration testing and entity framework.  I'm not sure if I should report here or in EntityFrameworkCore repo.

The idea was simple:

Create a new WebApplicationFactory -> CreateDatabase -> Run Test -> Delete Database

I've done that 200 times, one by one.  But when running two http calls that have Tr

[2020-06-01 07:22] davidfowl commented on #22187
@Pilchie @anurse Can we make sure the bots doesn't count weekends? Is that even a thing? Business day bot?

[2020-06-01 07:48] Postlagerkarte commented on #22405
I don't know if this is related but a major showstopper for us adapting Blazor is the lack of a fast DataGrid component.  We currently run AG Grid + Angular and it is blazing fast. Currently available commercial Blazor Grids are slow  (with larger dataset) - it really hurts! Same issue is pointed out from others: https://github.com/dotnet/aspnetcore/issues/21514#issuecomment-636548453

[2020-06-01 08:07] fitdev commented on #18743
@mrpmorris That's exactly the problem I have too. Glad somebody else came across the need for such a scenario!

[2020-06-01 08:36] SayusiAndo commented on #22408
Just to see if the database itself the problem I'd like to suggest that try out with SQLite or Postgres.

[2020-06-01 08:37] mrpmorris opened #22411 "[Blazor] Allow inheriting of base pages"
There is currently no way to create a base page with any kind of content.

For example, it is possible to create a component that can be used within a page

[code]

But descending a page from `Card` will only display "Some content" and not the content from `Card`

[code]

My aim is to have a component that uses IScopeFactory to create its own `IServiceProvider` (like `OwningComponentBase`) that al

[2020-06-01 08:37] fitdev commented on #22276
UPDATE2: The slowdown also happens whenever edits inside of a `*.razor` file result in erroneous code, i.e. unclosed quotes, braces, parenthesis, or tags. This, of course, is very common thing while editing, since the code is incomplete while you are typing. So currently I have to be very careful when editing so as not to cause such slow downs by writing my code first in another editor and then pa

[2020-06-01 09:00] pr-benchmarks[bot] opened #22412 "Bad responses: HttpClient"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| HttpClient | Linux, Cloud, http, KestrelSockets | 2020-06-01 08:42:39Z | 74174 |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-06-01 09:46] javiercn commented on #22305
@andreasinpb thanks for contacting us.

That looks like an error in the underlying JS interop service sending the data back to the .NET runtime. It can be caused by your provider not being fully OIDC compliant.
Can you check that the scopes as well as the expiration date are populated correctly within JavaScript? (Open AuthenticationService.js in the browser devtools and put a breakpoint before th

[2020-06-01 10:01] pr-benchmarks[bot] opened #22413 "Performance regression: MvcDbFortunesDapper"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| MvcDbFortunesDapper | Windows, http, KestrelSockets | 2020-05-29 21:31:31Z | 144,845 | 142,206 | -1.82 % | -2.05 σ |

Before versions:
ASP.NET Core __5.0.0-preview.6.20278.1__

[2020-06-01 10:14] SteveSandersonMS commented on #22405
@Lupusa87 If you could provide a fairly minimal example of the kind of component structure you're trying to render where prerendering is slow, we could try to focus our investigations and optimization efforts around that kind of scenario.

It's possible also that something in your scenario is triggering unusually bad perf behavior and we might be able to help suggest an alternative.

[2020-06-01 10:15] chucker commented on #22411
This seems to overlap with the purpose of layouts.

In what order would the inherited content appear? There would probably have to be a special `@InheritedContent` property that’s placed somewhere in the markup?

[2020-06-01 10:18] mrpmorris commented on #22411
A layout would be shared across multiple pages. If I want to (for example) create a CascadingValue in the base page (which I do, a `IServiceProvider`) then using layouts isn't an option because the IServiceProvider from the layout would be shared across multiple pages.

[2020-06-01 10:20] SQL-MisterMagoo commented on #22353
Just a note for anyone experiencing this issue - a workaround for now is simply to manually add a line to the end of the file `service-worker.published.js` and update it before you publish.
e.g. `/* updated 2020-05-01 11:19 */`
This will be enough to trigger an update in the browser for now.

[2020-06-01 10:25] chucker commented on #22411
Ah yes. Makes sense to me.

[2020-06-01 10:37] ergwun commented on #22012
Same problem here: cannot being to debug Blazor Web Asssembly app using:

Microsoft Visual Studio Community 2019 Preview
Version 16.6.0 Preview 2.1

Pretty sure it was working fine a couple of weeks ago.

![image](https://user-images.githubusercontent.com/1226883/83400735-b46e1280-a446-11ea-8439-3cfa1a2f3d07.png)

Here is the log, and content from the output window:

[vscode-chrome-debug.txt](http

[2020-06-01 11:51] DENMODSupport opened #22414 "Usage of app.UseAuthorization()"
Hi,
I want to know what is the use of app.UseAuthorization() in asp.net core application. what will happen if we didnt add it in startup.cs file

[2020-06-01 12:20] machinewrapped opened #22416 "Calling AddIdentity().AddDefaultUI() causes custom endpoints to stop working (.NET Core 3.1.4)"
### Describe the bug
I'm rebuilding a site in ASP.NET Core (3.1.4, was MVC before). I set up a number of custom endpoints which all route to the same controller action but with different optional parameters. This was working fine until I added scaffolded identity. After investigating, it is specifically the call to `AddDefaultUI()` which breaks the endpoints.

Building links to these endpoints wit

[2020-06-01 12:33] joacar commented on #22196
@pranavkm @javiercn Can you please point me to some documentation how to deserialize to XML nicely?

Current code doesn't look appealing. Although it's just one extra line of code, this introduces much more complexity and leaks implementation details I think that the caller of an API should be aware of.
[code]

of course it's possible to construct the `XmlReader` and call `ProblemDetails.ReadXml(X

[2020-06-01 13:43] huazhenhz opened #22417 "An Issue of Blazor WebAssembly Localization"
![ExceptionCausedBy blazorCulture get](https://user-images.githubusercontent.com/8695237/83414808-47f41300-a448-11ea-9642-08e2e0cee41b.png)

![ExceptionCausedBy blazorCulture get -Program](https://user-images.githubusercontent.com/8695237/83414853-5c381000-a448-11ea-9afb-10dd9c849aff.png)

Hello, Sir,
Blazor WebAssembly 3.2 GA, when we executed the code as below, the exception was caused.

[code]

[2020-06-01 14:08] lucasmpr commented on #22408
I've just tested Postgres without error.

SQLite doesn't support TransactionScope, so I dont think the test is relevant.

I've created a workaround for my use case by dropping the database with DROP DATABASE. No errors then.

[2020-06-01 14:26] mgx0612 commented on #5333
really need a way to disconnect Clients/Users from the server side, API like below:
Clients.Users( [userIds] ).Disconnect();
Clients.Clients( [connectionIds] ).Disconnect();

to manually bookkeeping the connectionId and intercept the call to Hub then call Context.Abort() if Context.connectionId match the saved connectionId,

there is too much work to do out of the lib and hardly do it right by the

[2020-06-01 14:34] javiercn commented on #22408
@lucasmpr thanks for contacting us.

I think this is an issue with the way you are writing the test in the context of the database. I'm not sure what EF does internally, but I would suggest that if you want to create/delete the database on a per test basis, use different databases all-together.

For the specific mechanics you'll have to ask the Entity Framework team, but I imagine their guidance w

[2020-06-01 14:38] javiercn commented on #22364
The server project needs to be setup as the startup project, otherwise the Server API fetchdata calls is not available and an error is returned from the developer server, which is not json and causes the error described here to happen.

[2020-06-01 14:38] #22364 closed

[2020-06-01 14:39] javiercn commented on #22358
@htram thanks for contacting us.

We'll look into this issue and get back to you.

[2020-06-01 14:52] benm-eras commented on #22266
For what it's worth I would like to be able to access the the content of a tag/component as a string rather than a render fragment. In my case I am trying to make a component that simply passes markdown content to HTML. My desired `Markdown.razor` component:

[code]

How I would use it:
[code]

Passing that as a parameter just feels dirty and I think I would prefer to just write the HTML at that p

[2020-06-01 14:57] lucasmpr commented on #22408
@javiercn Thanks for the response.

For my real use case I'm not dropping the database for every test. I have a ClassFixture that after all tests run drops the database so I dont have to keep cleaning them manually. Every test class with multiple tests creates a WebApplicationFactory and a database.

The objective here is really to test the database calls, so I dont think I can change the database

[2020-06-01 15:00] #22177 closed

[2020-06-01 15:13] pranavkm commented on #22196
That looks like the code you would need to write when using `XmlSerializer`. If you're using the data contract serializer, you might be able to use https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.iextensibledataobject?view=netcore-3.1 to deserialize `ProblemDetails`.

Btw, if this feature is problematic, you could consider disabling it:

* https://docs.microsoft.com/en-us/

[2020-06-01 15:20] makemefeelgr8 opened #22420 "Fields get missing after the CreateAsync call"
### Describe the bug
Custom fields are missing after calling one of CreateAsync variants.

### To Reproduce
1. Use the latest version of identity service in .NET Core 3.1 project.
2. Create DB context, add a custom ApplicationUser class like this:
[code]
3. Inject a user manager like you normally would:
[code]
4. Create a variable of ApplicationUser type, fill it with your data.
[code]
5. Create a

[2020-06-01 15:29] pranavkm commented on #22216
The media type in your application isn't configured correctly: https://github.com/erwan-joly/jsonpatchbugexample/blob/master/JSonPatchExample/Program.cs#L77. It needs to be `application/json-patch+json`: https://tools.ietf.org/html/rfc6902#section-1.

[2020-06-01 15:31] mkArtakMSFT commented on #22243
@dougbu ,answering your questions here:
1. @javiercn do you know why we ship package-lock.json? If we ship only package.json, wouldn't the build automatically generate the lock file, correct?
2. According to that error, it seems that we have to have package.json as that's what the CG is looking for. So the above answer should resolve this too, I hope.
3. What is in the `artifacts/tmp/` ? We should

[2020-06-01 15:38] javiercn commented on #22243
@mkArtakMSFT we want to keep the set of bits we ship stable and deterministic over time with what we've verified. Otherwise we run the risk of an updated version silently installing after we've shipped and that causing issues.

[2020-06-01 15:39] mkArtakMSFT commented on #10317
@kevinchalet, as much as I wish we could, I don't think we will get to this.

[2020-06-01 15:39] zbecknell commented on #21849
This does not work in Visual Studio either.  The behavior is the same:  I CAN hit a breakpoint in a regular library with no Razor files but just cannot hit any breakpoints in Razor files.

In the sample project, for example, I can hit breakpoints in my Client project but not in my UI project.  I actually tried moving my UI files back to Client at one point and debugging actually broke in that proj

[2020-06-01 15:42] mkArtakMSFT commented on #22243
Thanks, yes, I remember now! Exactly this!
@dougbu, because of this, if ignoring the `artifacts/tmp` is the way to avoid this error, given that we won't add package.json instead of the package-lock.json, we should do it.

[2020-06-01 16:17] mkArtakMSFT commented on #22394
We've moved this issue to the Backlog milestone. This means that it is not going to be worked on for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-06-01 16:20] mkArtakMSFT commented on #22392
Thanks for contacting us.
You should disable compression as you're trying to compress already compressed assets.

[2020-06-01 16:22] mkArtakMSFT commented on #22392
@javiercn can you add some info regarding how to do that? Thanks!

[2020-06-01 16:25] alirezasejdeii commented on #22177
I add a starter project in this [link](https://github.com/alirezasejdeii/BlazorTest3).
my coworker say you must re install windows and visual studio , dose it true?

[2020-06-01 16:27] mkArtakMSFT commented on #22383
@TheMagnificent11 if you scaffold the identity pages, you have full control over each scaffolded page.
We don't plan to change this at the moment. If this turns out to be a common pain point, we'll reconsider this for the future releases.

[2020-06-01 16:27] #22383 closed

[2020-06-01 16:28] mertkokusen commented on #17730
Does this mean we will have to wait 2021 november for threading support?

[2020-06-01 16:28] mkArtakMSFT commented on #22375
This issue was moved to mono/mono#19890

[2020-06-01 16:28] #22375 closed

[2020-06-01 16:28] javiercn commented on #22392
You can use `BlazorEnableCompression` in your MSBuild file to disable static file compression if you want.

[2020-06-01 16:29] mkArtakMSFT commented on #22361
Thanks! This is indeed a dupe, so closing this one.

[2020-06-01 16:36] #22392 closed

[2020-06-01 16:39] mkArtakMSFT commented on #22316
We've moved this issue to the Backlog milestone. This means that it is not going to be worked on for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-06-01 16:39] davidfowl commented on #5333
Not gonna happen for the reasons I mentioned above

[2020-06-01 16:40] blowdart commented on #22414
Authorization won't happen. Simple as that.

[2020-06-01 16:42] mkArtakMSFT commented on #22286
We've not been able to reproduce this. please provide a small repro project to help repro this, so we can move forward here.

[2020-06-01 16:51] #22408 closed

[2020-06-01 16:53] mkArtakMSFT commented on #22385
We've moved this issue to the Backlog milestone. This means that it is not going to be worked on for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-06-01 16:54] mkArtakMSFT commented on #22357
Thanks for contacting us. This is not something we plan to add to the framework.
You can do this in your application if you wish.

[2020-06-01 16:54] #22357 closed

[2020-06-01 16:55] mkArtakMSFT commented on #22340
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2020-06-01 16:55] #22340 closed

[2020-06-01 16:56] pranavkm commented on #22386
`Thread.CurrentCulture` and `CultureInfo.CurrentCulture` is backed by an `AsyncLocal`, so this should be fine

[2020-06-01 16:58] mkArtakMSFT commented on #22333
@ryanbrandenburg did you intend to quarantine this test instead?

[2020-06-01 17:00] ryanbrandenburg commented on #22333
For whatever reason the Quarantine attribute is not available in any of the tooling projects as far as I I tell. Quarantine would certainly have been preferable if available.

[2020-06-01 17:01] mkArtakMSFT commented on #22328
Thanks for contacting us. This is a dupe of https://github.com/dotnet/aspnetcore/issues/11544

[2020-06-01 17:01] #22328 closed

[2020-06-01 17:03] Tommigun1980 commented on #5333
Hi @davidfowl! I'm reaching out regarding "Abort works fine on the Azure signalr service and that’s the way to do it" -- could you please specify that Abort works fine also at scale with the Azure SignalR service. In other words, if I use the Azure SignalR service and multiple servers are involved, will it just work out of the box?
Thanks so much.

[2020-06-01 17:03] mkArtakMSFT commented on #22417
Thanks for contacting us. It seems you're missing a configuration step.
The doc article here will help you with that: https://docs.microsoft.com/en-us/aspnet/core/blazor/globalization-localization?view=aspnetcore-3.1

[2020-06-01 17:03] #22417 closed

[2020-06-01 17:12] NTaylorMullen commented on #22333
This test now exists in aspnetcore actually 😄

/cc @javiercn

[2020-06-01 17:20] huazhenhz commented on #22417
![image](https://user-images.githubusercontent.com/8695237/83435625-c19af980-a466-11ea-9767-a22caf1830f9.png)
Can you help tell me about the relevant details?

[2020-06-01 17:28] JunTaoLuo commented on #21145
We are done with phase1 of the tooling consolidation. @NTaylorMullen @ajaybhargavb I'll let you guys drive the phase 2 of the tooling consolidation. This might also warrant DOI discussion if you feel there's a need to a wider discussion.

[2020-06-01 17:28] #21145 closed

[2020-06-01 17:28] Pilchie commented on #22187
I've tweaked it so that the bot won't *run* to mark issues stale or to close them on weekends, but once it starts up again on Monday I don't see a way to have it not count that time :(

[2020-06-01 17:30] huazhenhz commented on #22417
I saw the website you provided in the past.
But I haven't found the important information on it.

[2020-06-01 17:31] dougbu commented on #22246
Taking this because #22395 works and is less hacky than #22256

[2020-06-01 17:36] dougbu commented on #22241
Working on this in #22406. That's not quite ready because I need to play a bit more to get an unquarantined test running in the Blazor templates test assembly. That one has `[assembly: QuarantinedTest(...)]` and trait discovery looks at _all_ applied traits, not just the one(s) closest to the test method.

[2020-06-01 17:36] #21973 closed

[2020-06-01 17:37] bancroftway opened #22425 "Integrity checks failing on Asp.Net Core hosted Blazor Web assembly PWA deployed to Azure"
I deployed an asp.net core hosted Blazor webassembly PWA project to Azure, and I am getting integrity check failures, after which the service worker does not work correctly.

The integrity check is likely failing because Azure is inserting AppInsights javascript code in the head section of index.html. Please see below screenshot.

Is there a suggested workaround for this issue?

![image](https://u

[2020-06-01 17:47] mysteryx93 commented on #22178
@JvanderStad, it doesn't seem your solution has any reference to DataAnnotations to use and localize them

[2020-06-01 17:48] captainsafia commented on #22374
Done!

[2020-06-01 17:48] #22374 closed

[2020-06-01 17:55] SteveSandersonMS commented on #22411
Generally we wouldn't recommend inheritance for cases where component composition is the intended mechanism.

The scenario you're describing appears to be a shared component that wraps something around its content. There is a built-in mechanism for that - `ChildContent`, from the normal component composition mechanism.

Strictly speaking, you *can* call `@{ base.BuildRenderTree(__builder); }` from

[2020-06-01 17:59] SteveSandersonMS commented on #22210
It's not intended that `WebAssemblyHostBuilder.CreateDefault` should run outside the context of the browser runtime. That method is coupled to the browser because that's exactly the scenario it represents.

For unit tests, I'd recommend factoring out any startup logic that you want to call in unit tests into some new static method. Then you can call it both from your `Program::Main` as well as in

[2020-06-01 18:05] dougbu commented on #22243
`artifacts/tmp` is the folder on the CI where `$env:Temp` points. Removing it from the governance check shouldn't break anything because the package-lock.json file in the `src/` directory should already have been checked.

@wtgodbe where's the document describing how to add exclusions to the component governance checks?

[2020-06-01 18:09] danroth27 commented on #21514
@Sherweeen We are working on various runtime performance improvements for Blazor WebAssembly in .NET 5. Blazor WebAssembly currently runs on an interpreter based runtime, which has known performance limitations that we are working to address. We are also working with various component vendor to help improve the efficiency of their component implementations.

[2020-06-01 18:22] #20162 closed

[2020-06-01 18:39] mysteryx93 commented on #22178
ok here's a minimal repro
[BlazorApp1.zip](https://github.com/dotnet/aspnetcore/files/4712891/BlazorApp1.zip)

[2020-06-01 18:49] dougbu commented on #22246
d2b3eecedb63

[2020-06-01 18:49] #22246 closed

[2020-06-01 18:53] achmstein commented on #20256
I'm experiencing the same issue!

[2020-06-01 19:17] digeff commented on #22012
@ergwun Have you tried setting NO_PROXY environment variable to localhost or 127.0.0.1 ?

[2020-06-01 19:20] wtgodbe commented on #22243
@dougbu it's an internal doc, I just sent you the .pdf on teams

[2020-06-01 19:42] HaoK commented on #22420
Need a full repro to see what's going on, @makemefeelgr8 can you upload a minimal app demonstrating this to a git repo?

[2020-06-01 19:43] HaoK commented on #22420
Or if you list your startup and the exact lines of code you are running to get the error

[2020-06-01 19:51] lewing commented on #22028
Do you see the same delay if you hit reload in the browser after the app has loaded once?

[2020-06-01 20:18] #22325 closed

[2020-06-01 20:19] Tratcher commented on #21677
Closed via new docs.

[2020-06-01 20:23] clawton commented on #22012
While we're all sorta stuck at the moment, this workaround works for me:

Remove the line:
`"launchBrowser": true`
from the profile you use in your launchSettings.json file for your server.

You should be able to start the profile with the debugger and then run your browser independently.
Breakpoints and such in the server code should now work.

[2020-06-01 20:25] mrpmorris commented on #22411
@SteveSandersonMS My goal is to write an `OwningComponent` type component that can be inherited by a page, but adds a `CascadingValue Value=ServiceProvider TValue=IServiceProvider`

How would you recommend achieving this?

[2020-06-01 20:25] floreseken commented on #22028
Well, sort off..

If I reload the browser window the breakpoint directly indicates that it is going to be hit.

But.. if I reload the window and immediately after click the button which has the breakpoint behind hit.. it still takes 4 seconds for the breakpoint to actually hit the first time.. second time is instantly.

[2020-06-01 20:34] digeff commented on #22012
@clawton Did you try the NO_PROXY workaround? Can you share with me your C:\Users\<username>\AppData\Local\Temp\vscode-chrome-debug.txt log just after hitting this issue so I can confirm whether you are running into the same issue or a different issue?

[2020-06-01 20:35] roysurles opened #22431 "BlazorServer does not finish loading / rendering a page"
### Describe the bug
BlazorServer 3.1 application. One of the pages has a HTML Table of 9 columns... 1 column has up to 50 characters; 2 columns are dropdowns with less than 15 items in each and the rest of the columns have less than 10 characters.

Running on our onpremise TEST IIS VM, the page loads ~500 records and finishes rendering within 2 seconds, which is plenty acceptable for us.

Running

[2020-06-01 20:40] clawton commented on #22012
@digeff Yes,  Tried the NO_PROXY with both "localhost" and "127.0.0.1"  No joy.
(BTW, I'm assuming you set this variable in the Blazor SERVER project's Properties->Debug->Environment Variables (when using VS2019))

File is attached.

[vscode-chrome-debug.txt](https://github.com/dotnet/aspnetcore/files/4713307/vscode-chrome-debug.txt)

[2020-06-01 20:53] digeff commented on #22012
@clawton It does look like the same issue. If you can, I'd try setting the environment variable as a system wide environment variable and restarting VS to see if that works.

[2020-06-01 20:58] Tratcher commented on #21709
Sorry for the delay, those packages moved here: https://github.com/Azure/azure-sdk-for-net
https://github.com/aspnet/Announcements/issues/408

Please follow up with the SDK team.

[2020-06-01 21:02] clawton commented on #22012
@digeff Tried setting NO_PROXY as a system environment variable with values of localhost and 127.0.0.1.  Neither worked.

Also upgraded VS today, still occurring with 16.6.1.

I work from home full time and use my personal ISP (comcast) so my PC is not in any sort of corporate environment, if that makes a difference.

Also, I'm more than willing to work with you personally if you'd like to look at

[2020-06-01 21:07] HaoK commented on #21495
I tried this on Windows10 Enterprise 18362.19h1_release.190318-1202, with VS2019 Version 16.7.0 Preview 1.0 and it doesn't repro

[2020-06-01 21:08] HaoK commented on #21495
The test button works and sends back a cookie on IISExpress Https

[2020-06-01 21:08] #21495 closed

[2020-06-01 21:11] #20734 closed

[2020-06-01 21:12] BrennanConroy commented on #14997
Lets get this into preview6

[2020-06-01 21:12] mrpmorris commented on #18340
Try changing your `IQueryable<IdentityUser> Users` to `IdentityUser[]` and add `.ToArray()` at the end of your users query in `OnInitialized`

[2020-06-01 21:14] digeff commented on #22012
@clawton Just to help us rule-out some possible causes, can you try the following:

1. Create a new standard ASP.NET project: ASP.NET Core Web Application -> Web Application
2. In the project, in the file wwwroot/js/site.js add: console.log("Test"), set a breakpoing on that line
3. Enable the new JavaScript debugger that we use for debugging Blazor also for standard ASP.NET projects by going to To

[2020-06-01 21:21] clawton commented on #22012
@digeff Debugging the new standard ASP.NET project works.  Hit the breakpoint.

[2020-06-01 21:26] mkArtakMSFT opened #22432 "Blazor performance optimizations"
Battle plan:

 - [x] Quantify 3.2.0 perf
   - ... for selected scenarios:
     - [x] 3rd-party unoptimized code (ComplexTable)
     - [x] 3rd-party optimized code (PlainTable)
     - [x] 1st-party optimized code (FastGrid)
   - [x] ... providing useful breakdowns of:
     - [x] ... time in .NET rendering logic (BuildRenderTree calls, diffing, etc.)
     - [x] ... time in the JS DOM-updating logic

[2020-06-01 21:26] SteveSandersonMS commented on #22411
It sounds like you just want to make available an `IServiceProvider` to other components. In that case I'd do it through DI. Components can either:

[code]

[2020-06-01 21:26] jkotalik commented on #21291
I don't think this critical for Tye, we wouldn't be able to utilize an API change here as we are primarily targeting 3.1.

[2020-06-01 21:31] digeff commented on #22012
@clawton Can you please follow these steps so the Blazor Debug Proxy generates additional logs, to see if they give us any actionable information:

1. Create a nuget.config file with the following contents next to the project's root:
    <?xml version="1.0" encoding="utf-8"?>
    <configuration>
     <packageSources>

     <clear />
     <add key="nuget" value="https://pkgs.dev.azure.com/dnceng/pu

[2020-06-01 21:35] HaoK commented on #18164
@blowdart @ajcvickers so if we want to add UI options, this prob would end up looking like the following:

- new UIOptions subproperty in Identity/Extensions.Core which we would add all identity UI specific properties
- accessed via IdentityOptions.UI.* or something similar to configure it along side

so for this specific issue, we could do something like:

[code]

This would result in the UI page

[2020-06-01 21:36] HaoK commented on #18164
Alternatively, this does just work via the normal, scaffold, and delete the elements from the layout, which is the general idea...

[2020-06-01 21:38] BrennanConroy commented on #18488
Closing as the work is on the runtime side.

[2020-06-01 21:39] erwan-joly commented on #22216
Thanks @pranavkm it definitely was the issue.
got it wrong as AddNewtonsoftJson make it works with just application/json and i was not aware of the other mime type.

[2020-06-01 21:43] blowdart commented on #18164
Folks don't want to scaffold and who can blame them?

I like the idea of UI properties, it's more future proof. If you're going to set that to true, but also configure logins I'd assume you were doing something yourself in your UI elsewhere.

[2020-06-01 21:47] clawton commented on #22012
@digeff Here is the output from the - ASP.NET Core Web Server section:

[debug.txt](https://github.com/dotnet/aspnetcore/files/4713602/debug.txt)

[2020-06-01 21:51] clawton commented on #22012
@digeff Just to clarify, my solution has both a Blazor server and Blazor client. The startup project is the server project (as it has been for months now).  Just wanted to make sure we're not going down different paths.

[2020-06-01 21:54] BrennanConroy commented on #21118
I have the dump in onenote if you need it

[2020-06-01 21:57] karelz commented on #18488
What is the runtime side work and how is it tracked?

[2020-06-01 22:11] mkArtakMSFT commented on #22268
Thanks for contacting us. Given that this is happening in the C# portion of the document we believe this is an issue with Roslyn. Please use the [VS Feedback](https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019) to report this issue, so the team who owns the area can track the ask.

[2020-06-01 22:11] #22268 closed

[2020-06-01 22:11] TanayParikh opened #22433 "C# Code Navigation Commands Shouldn't Be Available in HTML"
Not entirely sure if this is immediately feasible, but ideally, we shouldn't have these C# commands when right clicking on an HTML area.

![image](https://user-images.githubusercontent.com/14852843/83459747-d8ffc580-a419-11ea-8dda-8025b6bf9b45.png)

[2020-06-01 22:16] mkArtakMSFT commented on #22169
Thanks for contacting us. This should be addressed as part of https://github.com/dotnet/aspnetcore-tooling/pull/1945

[2020-06-01 22:21] mkArtakMSFT commented on #22149
This will be resolved when this will be addressed: https://github.com/dotnet/aspnetcore/issues/11013

The behavior here, however, is by-design.

[2020-06-01 22:21] #22149 closed

[2020-06-01 22:22] daniel-p-tech opened #22434 "[Blazor] Navigate through multiple components and back while retaining the exact state"
Hi,

I opened an issue which was then quickly closed before I could prepare more detailed explanation.

https://github.com/dotnet/aspnetcore/issues/22207

@danroth27 can you please reopen the issue and take a look?

Thank you so much!

[2020-06-01 22:26] fabiano-ferreira commented on #21881
Hello @BrennanConroy !

I have a scenario very similar to @belenos12345 . And unfortunatelly I'm having  constant Websock disconnections...

The issue happens excactly when we don't have user activity for at last 2 minutes, then when I try to access a page that does not exist, I have the default response: "Sorry, page not found."

Then, when I click on the browser Back button it generates the foll

[2020-06-01 22:27] mkArtakMSFT commented on #21983
We've moved this issue to the Backlog milestone. This means that it is not going to be worked on for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-06-01 22:27] digeff commented on #22012
@clawton It doesn't seem like enabling the logs worked. I've just updated the instruction to fix some formatting issues, and change some "projects" to "solution" to make it work better for hosted projects. Can you take another run at enabling the logs to see if these updated instructions work?
Thanks!

[2020-06-01 22:32] halter73 commented on #18488
I don't think there's a specific runtime issue tracking this, but this scenario is captured in the "https" variation of our "ConnectionClose" benchmark which we [record in PowerBI](https://msit.powerbi.com/view?r=eyJrIjoiYTZjMTk3YjEtMzQ3Yi00NTI5LTg5ZDItNmUyMGRlOTkwMGRlIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9&pageName=ReportSection30725cd056a647733762). You have to selec

[2020-06-01 22:40] fabiano-ferreira commented on #21881
I juste tested with pages completely blank (without database objects or Telerik components) and I still have the same error if I follow the same test scenario:

- Open a page and wait for 2/4 minutes with no activity
- Try to access an invalid link in my application (redirected to default not found content);
- Click on browser back button

Same error occurs:

Error: The list of component records i

[2020-06-01 22:43] karelz commented on #18488
Maybe a dumb question, but how is TLS session resumption on Linux related here? I thought we were digging into Windows perf degradation.
If there is any work left (incl. perf investigations), I'd like to understand the scenario, impact and make sure it is tracked somewhere, otherwise it has high risk of being forgotten.

[2020-06-01 22:45] Tratcher commented on #18488
Re-opening until we identify the specific runtime work items.

[2020-06-01 22:46] TanayParikh opened #22436 "FAR IProgress<T> Support"
Implement support for IProgress<T>. ~~Currently blocked on VS LSP / Roslyn implementations.~~

Part of big rock #21977

[2020-06-01 22:59] clawton commented on #22012
@digeff  No changes.  I placed the nuget.config file in the same folder as my solution file and the blazor-debugproxysettings.json file in the same folder as my Blazor Server's project file.

The output in the " - ASP.NET Core Web Server" section is exactly the same as previously uploaded.

 Chris

[2020-06-01 23:00] vsfeedback opened #22438 "Code disappears on override"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1050332/code-disappears-on-override.html)._

---
When I try to override the OnInitializedAsync method on a Blazor component, the whole @code block gets removed

---
### Original Comments

#### Visual Studio Feedback System on 5/26/2020, 11:16 PM:

<p>We have directed your f

[2020-06-01 23:01] vsfeedback opened #22439 "Visual Studio version 16.6.0 Editor is Very Slow"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1049548/visual-studio-version-1660-editor-is-very-slow.html)._

---
I'm developing Blazor project, and Editor is very slow to respond ... especially when working with razor files.

---
### Original Comments

#### Marty Pomeroy on 5/26/2020, 03:35 PM:

<p>It's not just the E

[2020-06-01 23:01] NTaylorMullen commented on #22439
Duplicate of: https://github.com/dotnet/aspnetcore/issues/22276

[2020-06-01 23:01] #22439 closed

[2020-06-01 23:04] NTaylorMullen commented on #22438
Didn't mean to move this.

[2020-06-01 23:04] #22438 closed

[2020-06-01 23:05] NTaylorMullen commented on #19761
Closing in favor of https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/1130980

[2020-06-01 23:05] #19761 closed

[2020-06-01 23:09] BrennanConroy commented on #21881
@fabiano-ferreira You are having a different problem please file a new issue.

Also note that you're not using WebSockets

[2020-06-01 23:14] fabiano-ferreira commented on #21881
Hi @BrennanConroy ! Sorry! I meant LongPolling. Should I open a new thread in this case?

[2020-06-01 23:17] wfurt commented on #18488
We should re-test once https://github.com/dotnet/runtime/issues/1720 lands (again)
The difference in TLS protocol was obvious but there can be more to it.
I added some more tests to perf repo so we should see runtime independently.

[2020-06-01 23:26] captainsafia commented on #22012
@clawton Do you see anything in the console window launched for your session? E.g. the one with the `Listening on....` output.

[2020-06-01 23:31] clawton commented on #22012
@captainsafia Just this:

info: Microsoft.Hosting.Lifetime[0]
      Now listening on: https://localhost:5001
info: Microsoft.Hosting.Lifetime[0]
      Now listening on: http://localhost:5000
info: Microsoft.Hosting.Lifetime[0]
      Application started. Press Ctrl+C to shut down.
info: Microsoft.Hosting.Lifetime[0]
      Hosting environment: Development
info: Microsoft.Hosting.Lifetime[0]
      Co

[2020-06-01 23:34] njannink commented on #22316
That is fine, I wouldn't expect it to be implemented pronto, But as I stated I think it would be a great addition to Blazor like in Wpf.

[2020-06-02 00:00] BrennanConroy opened #22440 "Flaky test PublicExposureOfPubternalTypeProducesPUB0001"
https://dev.azure.com/dnceng/public/_build/results?buildId=663272&view=results
PublicExposureOfPubternalTypeProducesPUB0001
[code]

[2020-06-02 00:00] fabianus76 opened #22441 "debugging of Blazor webassembly does not hit breakpoints"
### Describe the bug
 I created a fresh
dotnet new blazorwasm -o WebApplication1

with .net Core version 3.1.300

then in vs code (with C# extension 1.22.0 and JavaScript Debugger (Nightly) 2020.5.2917)
I mark a breakpoint in the IncrementCount() method. But when hitting the button fire the incrementation, the breakpoint is not hit.

### To Reproduce

my .vscode/launch.json content:

[code]

my Pr

[2020-06-02 00:01] BrennanConroy opened #22442 "Flaky test CanRenderTextOnlyComponent"
https://dnceng.visualstudio.com/internal/_build/results?buildId=664692&view=ms.vss-test-web.build-test-results-tab&runId=20610968&paneView=debug&resultId=100295
[code]

[2020-06-02 00:03] #22377 closed

[2020-06-02 00:04] halter73 commented on #18488
The Linux TLS session resumption is only tangentially related. Given that the performance of this scenario is already better on Linux than on Windows, I can understand it still not being a big priority.

The reason for closing this was because it comes up in every Server triage, but any work to improve this scenario will need to be done in the runtime. We are already tracking this scenario in our

[2020-06-02 00:04] fabiano-ferreira opened #22443 "Server-side Blazor: Frequent LongPolling disconnects after I click on back browser button"
Hello! I am developing a Blazor Server application.

In this project I'm currently using:
 - Telerik Components;
 - EF Core with Microsoft SQL Server (version 12.0.6329.1)
 - Microsoft Identity Core
- Windows Server 6.2 (Build 9200) as the Web Server
- IIS Version 8.5.9600.16384

I just created a completely blank page.

I also have a default not found page template.

<NotFound>
        <LayoutView

[2020-06-02 00:07] karelz commented on #18488
@halter73 I would like to see something filed -- I just don't understand what we are trying to track with that work.
Is that a benchmark that needs investigation?
Is there a specific work needed to be done?

Maybe offline chat could help?

[2020-06-02 00:37] huazhenhz commented on #22417
![image](https://user-images.githubusercontent.com/8695237/83467087-270cdb80-a4a3-11ea-853b-9adabbf94daa.png)
In the "index.html", I added the code for "blazorCulture" as below:
[code]
The program can run without errors.

[2020-06-02 00:41] huazhenhz commented on #22417
But the when we switch the current language from "en-US" to "zh-TW", we couldn't get the expected result.
![image](https://user-images.githubusercontent.com/8695237/83467528-5ec85300-a4a4-11ea-924b-c1333d521326.png)

[2020-06-02 00:45] pranavkm commented on #21492
@legistek there's a small bit of documentation available as part of https://docs.microsoft.com/en-us/aspnet/core/performance/blazor/webassembly-best-practices?view=aspnetcore-3.1#use-synchronous-and-unmarshalled-js-interop-apis-where-appropriate. Unfortunately, .NET WebAssembly's JS APIs to consume it aren't fully baked in for this release. You may use it (Blazor does so internally for it's implem

[2020-06-02 00:55] #21631 closed

[2020-06-02 01:02] pranavkm commented on #22390
@javiercn do you want to look? You are likely more familiar with this than I am:

[code]

[2020-06-02 01:02] pr-benchmarks[bot] opened #22447 "Bad responses: DbMultiUpdateRaw"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| DbMultiUpdateRaw | Linux, Cloud, http, KestrelSockets | 2020-06-02 00:06:22Z | 42 |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-06-02 01:12] TanayParikh commented on #22169
Thanks for reaching out.

https://github.com/dotnet/aspnetcore-tooling/pull/1945 and https://github.com/dotnet/aspnetcore-tooling/pull/1946 should resolve this issue. They will be part of the next release.

[2020-06-02 01:47] halter73 commented on #18488
@karelz and I talked offline and he asked if our benchmarks confirm the slower HTTPS "Connection: close" performance on Linux. It turns out, they don't:

### Linux (~7.3K RPS)

![Capture-Linux](https://user-images.githubusercontent.com/54385/83467548-14f15580-a42f-11ea-9cbc-1e5d91add326.PNG)

### Windows (13.7K RPS)

![Capture-Windows](https://user-images.githubusercontent.com/54385/83467552-1753a

[2020-06-02 01:58] Lupusa87 commented on #22405
@Postlagerkarte you can check my [VirtualGrid comp](https://github.com/Lupusa87/BlazorVirtualGrid)  used in [virtual grid demo](https://github.com/Lupusa87/LupusaBlazorDemos/blob/master/LupusaBlazorDemos/Demos/PageVirtualGrid.razor), live [here](https://lupblazordemos.z13.web.core.windows.net/PageVirtualGrid).
This was POC having both rows and columns virtualization, I was actively working on it y

[2020-06-02 02:04] MorganR commented on #22392
Can confirm that solved my problem. Thanks folks! I added this to the WASM client project and to the ASPNET core server project:

[code]

[2020-06-02 02:12] wfurt commented on #18488
What version of OpenSSL do you have @halter73? 16.04 is pretty old and when I run the benchmarks on Linux & Node on Windows it used TLS 1.3. I probed @sebastienros while back and it seems like we did not have any good setup to benchmark it.

[2020-06-02 02:13] Lupusa87 commented on #22405
@SteveSandersonMS Thank you, I will prepare separate repo and link here very soon.

One thing to double check, is htmlrenderer used only for prerender or for regular blazor routine?

If only prerender than does not really makes sense to continue talking about htmlrenderer because I have not issues with prerender.

My problem is that blazor comp is working slow when it updates frequently.
e.g. scro

[2020-06-02 02:15] ajaybhargavb opened #22449 "VS Code: Batch MapToDocumentRange LSP requests to the server"
After https://github.com/dotnet/aspnetcore-tooling/pull/1955, we now have support for mapping multiple ranges at once. But in VSCode's RazorCodeLensProvider, RazorCSharpLanguageMiddleware etc, we still make individual map requests.

[2020-06-02 02:21] huazhenhz commented on #22417
Solved, thanks!

[2020-06-02 02:22] BrennanConroy commented on #20163
Failed recently on OSX
[code]

[2020-06-02 02:25] BrennanConroy opened #22451 "Flaky test: Publish_WithBuildReferencesDisabled_CopiesStaticWebAssetsToDestinationFolder"
[code]

[2020-06-02 02:30] halter73 commented on #18488
The server is running OpenSSL 1.0.2g, so no TLS 1.3 support.

The thing is, Kestrel uses `SslProtocols.Tls12 | SslProtocols.Tls12` by default on both Windows and Linux, so that shouldn't be the difference between the two. I opened https://github.com/dotnet/aspnetcore/pull/22437 to change Kestrel to use the platform's default SslProtocols in .NET 5, but that's not in yet.

I should probably get aro

[2020-06-02 02:34] huazhenhz commented on #22417
But we are disappointed that the Blazor WebAssembly still needs to depend on the JavaScript Block.

[2020-06-02 03:07] panesofglass commented on #22286
As I noted previously, I don't know how to reproduce it. This only happened to me after loading a lot of data into a DB2 for iSeries database table that caused the query to take longer to return. I've not been able to re-create a similar incident. It's seems like it is an edge case.

[2020-06-02 03:10] wfurt commented on #18488
That would be great @halter73. I can resurrect my old setup if needed. I had two old desktop machines and I saw significant drop. Maybe not as big as the number above but still quite visible. And Node significantly faster on the same machine.

[2020-06-02 04:38] char8cter opened #22454 "Upgrade to 3.2.0 results in ArgumentNullException at NavigationManager.Initialize uri parameter"
- Describe the bug

I followed all the steps published on the blog to upgrade my existing projects to use Microsoft.AspNetCore.Components.WebAssembly 3.2.0. When I try to run the new project I get an ArgumentNullException in the NavigationManager.Initialize. Seems that the uri parameter is null for some reason. I am not sure what I need to configure for this to work as this happens immediately aft

[2020-06-02 04:52] NTaylorMullen opened #22455 "Committing completion items removes surrounding brackets."
In Codespaces typing `[Para]` and completing the `Parameter` removes surrounding brackets
![nOWjmmHue2](https://user-images.githubusercontent.com/2008729/83481168-f05aa500-a451-11ea-9cc9-4ade4e660d8c.gif)

/cc @AmadeusW

[2020-06-02 05:37] DENMODSupport commented on #22414
is it mandatory to add this middleware for ASP.net core 2.1 app? Also in my app, user.identity.name is not working for some of the new users alone. Also we are using authorize attribute in our action methods but app.useauthorization middleware was not added in startup.cs file. do you have nay idea on that?

[2020-06-02 06:05] buster95 opened #22456 "Performance `dotnet watch run`"
I'm trying to use blazor in vscode but `dotnet watch run` runs very slow

[2020-06-02 06:44] iozcelik commented on #7756
I think ".WithCulture" is usefull. Changing culture everytime is not the good solution and it is untestable.

[2020-06-02 06:45] shirhatti commented on #21214
@gurry Couple of questions for you:

1. How are you measuring/observing the ramp up for Kestrel? Given that we don't have perfmon I wonder if the comparisons are indeed fair?

2. If I understood correctly, your hypothesis is that these requests are so incredibly naive that's is cheaper to serve than do a cache retrieval? If so, can you share the configuration you used to disable caching? (You may

[2020-06-02 06:56] NMSAzulX opened #22457 "Who can tell me how to create Razor Complie Enviroment?"
Now I am using roslyn for dyamic compliation.  But  It must use a node `<PreserveCompilationReferences>true</PreserveCompilationReferences>`  in .csproj.
Then I make a library " A" like this: https://github.com/dotnetcore/Compile.Environment/blob/master/DotNetCore.Compile.Environment/build/DotNetCore.Compile.Environment.targets

Not works:
- I push it on nuget and named "A".
- Create a  library B

[2020-06-02 07:03] AmadeusW commented on #22455
Is this 16.7-preview.2?
LSP code guesses the completion span. The short fix is to exclude braces from the span. The long term fix is to update VS completion to use LSP pattern of lazy & per-item span

[2020-06-02 07:23] joacar commented on #22196
@pranavkm I wrote this small class

[code]
Would you be open for a PR simply adding an implicit operator to `ProblemDetailsWrapper` that converts it to `ProblemDetails` just by calling `Unwrap`? Then one can just write

[code]

Thanks

[2020-06-02 07:25] stefanloerwald commented on #21213
I see internal components as quite useful. I have a few things that don't make sense for the user to see or even know about, thus internal would be a great way to hide them. The alternative is to stick them in another namespace, but that either requires me to separate the files (which is awkward) or use the `@namespace` directive, which I dislike (as it breaks the mental model of "namespace = Root

[2020-06-02 07:38] SPWwj commented on #10450
need a way for server to render prerender component base on first time request url. this will help seo to fetch necessary info, meanwhile allow user to serve the seamlessly

[2020-06-02 07:43] makemefeelgr8 commented on #22420
My bad, I can't reproduce it anymore. I guess it is already fixed.

[2020-06-02 07:43] #22420 closed

[2020-06-02 07:43] mrpmorris commented on #22411
@SteveSandersonMS yes, I am trying to implement a system of a component that creates an SP, and consuming components that receive the same SP.

Without using a CascadingValue then I see no way of passing the SP down to all components within the content, and I can't automatically add a CascadingValue if my user is creating a page.

What would you suggest?

[2020-06-02 07:46] zxyao145 opened #22458 "Cannot create MemoryStream in blazor (wasm)"
### Describe the bug
I'm trying to read a file in blazor (wasm), but I get an error result. All MemoryStream bytes are 0. The code is as follows, and I'm sure the bytes have data (I printed them in the console).

### To Reproduce

[code]

### Exceptions (if any)

### Further technical details
- ASP.NET Core version: 3.1
- blazor WebAssembly 3.2.0
- VS 16.6.0

[2020-06-02 07:49] odin88 commented on #21838
+1 I face the same issue.

[2020-06-02 07:57] javiercn commented on #22458
@zxyao145 thanks for contacting us.

I'm not sure what's going on in your snippet, but that would be a runtime issue, which is better suited for the mono folks. I suggest you file an issue on the [mono repo](https://github.com/mono/mono) instead as they can give you a faster and better answer.

[2020-06-02 07:57] #22458 closed

[2020-06-02 07:59] javiercn commented on #22457
@NMSAzulX thanks for contacting us.

I don't think this is an area we expose for users to consume.

/cc: @NTaylorMullen

[2020-06-02 08:03] javiercn commented on #22434
Reopened the old issue, closing this one

[2020-06-02 08:03] #22434 closed

[2020-06-02 08:04] NMSAzulX commented on #22457
@javiercn Thank you for your reply. I hope there is a library that can transfer the environment to other class libraries, Razor can reuse it, and developers can reuse it. :)

[2020-06-02 08:10] NMSAzulX commented on #22457
So far, only Razor has achieved this function perfectly. @javiercn @NTaylorMullen

[2020-06-02 08:19] javiercn commented on #22207
@daniel-p-tech Thanks for providing more details.

I looked through your code a bit and I'm still not 100% sure what you are trying to accomplish, but I'll give you a few pointers:
* Routing will always "Destroy" your component when rendering a different component type (A different page)
* The best way to achieve what I think you are trying to achieve, is to externalize all the state for the UI fl

[2020-06-02 08:23] javiercn commented on #22431
@roysurles thanks for contacting us.

I would turn on debug logging on production on the server and the client and would turn on detailed errors in the project as a starting point, and then monitor what happens when I try to render the page.

Add this to your _Host.cshtml
[code]

Replace the logging section with this in your appSettings.json
[code]

Add `"detailedErrors": true` to your appsettings

[2020-06-02 08:27] javiercn opened #22459 "[Blazor] Disable caching when rendering server-side Blazor components"
We had several issues reported over time about this, we should simply add a cache response header when we try to render a server-side component to prevent issues with the back button and other scenarios like it.

[2020-06-02 08:30] andreasinpb commented on #22305
@javiercn Thanks for looking into the issue.

After debugging AuthenticationService.js it seems as if the expiry date is indeed not set correctly:
<img width="768" alt="AuthenticationState2 1" src="https://user-images.githubusercontent.com/64250736/83488644-78ba6380-a4ad-11ea-9061-1957102990bd.PNG">

<img width="515" alt="AuthenticationService2" src="https://user-images.githubusercontent.com/64250

[2020-06-02 08:30] javiercn commented on #22443
@fabiano-ferreira thanks for contacting us.

Try applying `@Attribute [ResponseCache(NoStore=true)]` to `_Host.cshtml` and see if that fixes the issue

[2020-06-02 08:35] javiercn commented on #22305
@andreasinpb You can use implicit flow ("token" or "id_token token") or you can use code + PKCE, but we only support public clients since secrets can't be kept safe (so no clientsecret).

[2020-06-02 08:37] mrpmorris commented on #22286
I downloaded your sample and was able to reproduce your problem. The problem is caused because Blazor will re-render the component as soon as you `await` in code called from `EventCallback` (i.e. your `Add` method).

[code]

If you add a `System.Diagnostics.WriteLine` to the start of `Add` and to the end of `Add`, and then also add one at the top of your Razor page and one at the bottom, you will

[2020-06-02 08:37] javiercn commented on #22305
If you want to take Blazor out of the picture, I would try to make it work with oidc-client.js and then transfer the config to the Blazor app. If for some reason you can't make it work there, I would file an issue with either the Keycloak folks or the oidc-client.js folks once you determine what's going on.

[2020-06-02 08:39] javiercn commented on #22459
https://github.com/dotnet/aspnetcore/issues/22443

[2020-06-02 08:43] javiercn commented on #22416
@machinewrapped thanks for contacting us.

Can you produce an actual minimal repro project that illustrates the issue? That greatly helps us avoid any missing detail that might be relevant.

[2020-06-02 08:52] mrpmorris commented on #18340
I downloaded your sample and was able to reproduce your problem. The problem is caused because Blazor will re-render the component as soon as you `await` in code called from `EventCallback` (i.e. your `Add` method).

[code]

If you add a `System.Diagnostics.WriteLine` to the start of `Add` and to the end of `Add`, and then also add one at the top of your Razor page and one at the bottom, you will

[2020-06-02 08:53] punjabier commented on #21514
@danroth27
Looking forward [5607])(https://github.com/dotnet/aspnetcore/issues/5607) **Directive support** to be included

[2020-06-02 09:05] bastinoboy opened #22460 "Browserlink Crashes when debugging with IIS Express - ASP.net Core 3.1"
I have installed `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` and have 'services.AddRazorPages().AddRazorRuntimeCompilation();' in 'ConfigureServices()' and 'app.UseBrowserLink()' in 'Configure()'.  When I enable Browserlink then launch debugging with IIS Express, the browser opens and the page loads but the process crashes (without fail) with an unexpected dvenv.exe error.

If it helps, my

[2020-06-02 09:24] andreasinpb commented on #22305
This might be a stupid question, but how do I set up implicit flow vs. code + PKCE on the client side (the Blazor app)? I am using a public client (keycloak side), so a secret should not be a problem.

I will also have a look at oidc-client.js, thanks for the tip.

[2020-06-02 09:48] javiercn commented on #22460
@bastinoboy thanks for contacting us.

This looks like an issue in Browserlink. Please report this issue through the [Report a problem](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019) Visual Studio dialog

[2020-06-02 09:52] rangav opened #22461 "Changing AppSettings in Azure restarting the Worker Service"
### Describe the bug
When I change the app settings in azure, the worker service is re-started. Its working fine in Local

### To Reproduce
1. Create a worker service (default template) and create appsettings section and a value
2. Inject iOptions<AppSettings> in the worker constructor.
3. Publish to azure app service.
4. override the app settings value in azure with a new value
5. The worker serv

[2020-06-02 09:53] javiercn commented on #22305
@andreasinpb just set the `ResponseType` to code in the provider options, PKCE is enabled automatically when using code.