[2022-04-01 17:48] #37032 closed

[2022-04-01 17:56] aterbo opened #41011 "Nesting AuthorizeView and Authorized components with various roles"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I would like to have a section of a NavBar component wrapped in an `<AuthorizeView>` tag to limit access to only authorized users, but then use nested `<AuthorizeView Roles="admin, user, etc">` within to show/hide various options withi

[2022-04-01 17:59] nssidhu commented on #41003
Is there a command to get the check the MAUI Version ?
I tried maui-check, but it is not recognized as valid command
C:\WINDOWS\system32>maui-check
'maui-check' is not recognized as an internal or external command,
operable program or batch file.

[2022-04-01 18:09] DamianEdwards commented on #39840
@HaoK I'm actually not entirely sure what's next here, but it seems like that PR is probably it?

[2022-04-01 18:44] MariovanZeist commented on #41011
Hi @aterbo
You can nest ``<AuthorizeView>``  tags if you want, but you will have to rename the Context

Like in this example:

[code]

This is because the ``ChildContent``  of an ``<AuthorizeView>`` component is of type ``RenderFragment<AuthenticationState>``
For these generic Renderfragments, Blazor will generate a  variable named ``context`` that you can use to access that ``AuthenticationState`

[2022-04-01 18:49] aterbo opened #41012 "ExcludedRoles parameter in Authorize and AuthorizeView"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Is it possible to make a parameter for `<AuthorizeView>` that is basically the opposite or `Roles`, such as `ExcludedRoles`, where if a user is in a specific role group they will see the `<NotAuthorized>` section?

For a lot of my comp

[2022-04-01 18:52] Tratcher commented on #40981
Prior request: https://github.com/dotnet/aspnetcore/issues/32246

[2022-04-01 18:52] #40977 closed

[2022-04-01 19:06] halter73 commented on #40883
Should we close this issue then?

[2022-04-01 19:13] aterbo commented on #41011
Well, that's simple..... Thank you for your help, @MariovanZeist that worked perfectly.

This may be room for improvement on the docs. They discuss accessing `context` for various reasons, but not nesting components. Although, that may be repetitive, because had I thought through the `ChildContent` aspect more, it should be treated like any other component where you need to rename context.

I'm ha

[2022-04-01 19:28] Tornhoof commented on #41005
Problem Details is specified in RFC 7807
https://datatracker.ietf.org/doc/html/rfc7807
It is very specific about the spelling/casing of the individual properties.
So you can't really remove the fixed values.

[2022-04-01 20:05] #40883 closed

[2022-04-01 20:05] adityamandaleeka commented on #40989
@DaveInAus Let us know if swapping them does in fact make the other approach faster.

[2022-04-01 20:08] adityamandaleeka commented on #39897
Triage: we think this might add confusion, since there will be docs/guidance talking about user-secrets.

[2022-04-01 20:12] adityamandaleeka commented on #19590
This should be considered as part of looking at making the dev experience of certs better.

cc @ldillonel

[2022-04-01 20:15] adityamandaleeka commented on #26536
@ldillonel

[2022-04-01 20:25] adityamandaleeka commented on #40981
Triage: we like the approach in https://github.com/dotnet/aspnetcore/issues/39200 better for this sort of thing.

[2022-04-01 20:26] MariovanZeist commented on #41012
Hi @aterbo
Might I suggest a different approach.
You could use profiles.
For example I set up 3 profiles in ``ConfigureServices`` for invoices like this:

[code]
and you can use it like this:

[code]

This way if you add roles, you will only have to change the policies, and not every ``<AuthorizeView>``

I am scratching the surface here of what you can do with policies but take a look [here](https

[2022-04-01 20:26] #40981 closed

[2022-04-01 20:30] #40882 closed

[2022-04-01 20:32] liguori commented on #40981
Thank you @Tratcher for pointing to the # 33346, your suggestion about expose a boolean switch would fit the example scenarios that I have mentioned in the first message and that I would like to be covered (not only debugging).

I agree with @blowdart as well about the responsibility of security decisions of the ASP.NET team but I think that currently are already shipped with the logging middlewar

[2022-04-01 20:39] TanayParikh commented on #41003
Upgrade instructions should be part of the release post (ex. https://devblogs.microsoft.com/dotnet/dotnet-maui-preview-14/#get-started-today). Though it looks like you're already on VS 17.2 Preview 2.

I believe the RC1 release should be going out soon(?), so you may have to wait for that to be available before this is resolved for you.

[2022-04-01 20:53] DamianEdwards commented on #41009
Another possibility regarding the naming of the new typed results and the factory methods to create them:
- Create the new result types in a namespace `Microsoft.AspNetCore.Http.TypedResults`
- Give the new result types short names based on their response type, e.g. `Ok<TValue>`, `NotFound`, etc.
- Implement the factory methods on a new nested static class `Microsoft.AspNetCore.Http.Results.Typed`

[2022-04-01 20:58] JoshClose commented on #40875
The fix is to change
[code]
to
[code]

[2022-04-01 21:02] anreton commented on #41005
@Tornhoof, thank you for your response.

Looked through the specification Problem Details. But nowhere did I find a specific requirement about casing of the properties.

[2022-04-01 21:19] dosper7 commented on #40676
I'm sold 🤑 really like this one.

[2022-04-01 21:31] Tornhoof commented on #41005
The RFC contains the literal spelling of the individual properties, they even quote each occurrence.

I don't think your goal of configuration is bad, just your suggested method, as it will break conformance with the RFC.

[2022-04-01 21:50] ekomsctr commented on #40068
I have the same problem, there are no other versions available on NuGet. This only happens if i try to extend SignInManager<TUser> and .AddSignInManager<TSignInManager>() it.

[2022-04-01 21:59] brunolins16 opened #41014 "[Discussion] [Breaking change]: Updated empty body detection in MVC Model Binding"
### Description

The mechanism to detect an empty request `body` during the MVC Model Binding now uses the [`IHttpRequestBodyDetectionFeature.CanHaveBody`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.features.ihttprequestbodydetectionfeature.canhavebody?view=aspnetcore-6.0#microsoft-aspnetcore-http-features-ihttprequestbodydetectionfeature-canhavebody), that is currently

[2022-04-01 23:02] monterolebronhg commented on #41005
@anreton you can also create a new JsonConverter only for ProblemDetails

[2022-04-01 23:58] JamesNK opened #41015 "[Trimming] Microsoft.AspNetCore.Http.Results"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Microsoft.AspNetCore.Http.Results is not yet trimmed.

### Describe the solution you'd like

Trim Microsoft.AspNetCore.Http.Results. All dependencies have been trimmed.

### Additional context

_No response_

[2022-04-02 00:10] HaoK commented on #40961
https://github.com/dotnet/AspNetCore.Docs/issues/25499 is the doc issue to track what content we want to put in the official docs

[2022-04-02 01:29] JamesNK opened #41016 "[Trimming] Consider using standard <IsTrimmable> property"
Currently ASP.NET Core has a `Trimmable` property to indicate trimming. Custom MSBuild configuration then adds the `[AssemblyMetadata("IsTrimmable", "True")]` attribute to assemblies.

Consider moving to the standard `IsTrimmable` property that is built into .NET 6+ - https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming/prepare-libraries-for-trimming#set-istrimmable.

`IsTrimmable` shou

[2022-04-02 03:40] Ximik87 commented on #40968
@MariovanZeist this is what I need, thanks!

[2022-04-02 03:40] #40968 closed

[2022-04-02 09:58] linkdotnet opened #41017 "Renderer flags components as disposed even though they are not (for IAsyncDisposable) in Blazor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If we are handling with an `IAsyncDisposable` the Blazor `Renderer` flags an `IAsyncDisposable` as  disposed as soon as it exists the `await` boundary of the  `DisposeAsync` method. Imagine the following simplistic component:

Sample-Component with the component Id 2:
[code]

The observed beh

[2022-04-02 11:27] anreton commented on #41005
@monterolebronhg, indeed, thanks for the replies.

Perhaps I should close the issue.

[2022-04-02 11:27] #41005 closed

[2022-04-02 11:45] sgalcheung opened #41018 "Suggest to add npm client package management template"
Create the default template lib contains some client packages. It seems a bit awkward to submit these in git version management. Can you provide an NPM version template

[2022-04-02 12:26] mcguu commented on #29979
@georgehemmings  can the inputfile be click in the cs code?

like the documentByElementId('file‘).click();

[2022-04-02 16:00] #40959 closed

[2022-04-02 21:50] 0djek opened #41020 "Published app can't be accesed"
Hello, I created asp.net + React app and when debugging, I can access it with no problems. But when I publish it and launch it with dotnet <name>.dll, I can't access it. I get this error:
fail: Microsoft.AspNetCore.Server.Kestrel[13]
      Connection id "0HMGKU86UO80S", Request id "0HMGKU86UO80S:00000037": An unhandled exception was thrown by the application.
      System.InvalidOperationException

[2022-04-03 02:44] mcguu opened #41022 "How to display a image in local?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I want to displa a image in local

`<img src="which from my device.png" />`

but I do not have to upload it to server

but It is not supported to read the image.

### Describe the solution you'd like

pick  an image then auto in` <img

[2022-04-03 04:15] ShreyasJejurkar commented on #41015
Can we have new label for trimming related issues, just like we have linker-friendlyness!?

[2022-04-03 08:00] #39854 closed

[2022-04-03 08:33] gordon-matt commented on #39854
@javiercn Commenting so the bot doesn't close this issue. It's been a while.. I'm busy with other things, but this is still an issue and something I'll be coming back to as soon as I can. Would be nice to have an example.. perhaps a link to some documentation or demo project on how to do what you say is currently possible.

[2022-04-03 08:48] Timmoth commented on #40317
What worked for me was to remove

`<GeneratePackageOnBuild>true</GeneratePackageOnBuild>`

 from the csproj as well as `--no-restore --no-build`  from the `dotnet pack` as suggested by @BasBakker91

[2022-04-03 12:59] musictopia2 commented on #40317
The only problem with adding the extra generatepackageonbuild is everytime i build the project, it will generate a nuget package.  However, sometimes i need an extra process to do it so it can increment the version number and even post to nuget.  For now, the temporary solution is i had to take out the nobuild.  which means i have to do that project by itself, otherwise, the autoupdate system will

[2022-04-03 15:24] MariovanZeist commented on #40985
@rogihee I can't seem to reproduce it. I am running 17.1.3 though so maybe it's fixed in that version?

[2022-04-03 15:36] tarwn commented on #39147
This will likely get closed out as "won't do", since SpaServices has been deprecated.

The underlying issue is that WebPack is outputting infrastructure messages to stderr by default, which the SpaServices code picks up and logs as errors (there are no options we can change to alter this and a lot of the code is marked as internal, which is a shame because it would also be nice to change the "loca

[2022-04-03 16:24] MrYossu opened #41023 "Blazor app fails to run with JS error "Failed to invoke 'StartCircuit' due to an error on the server""
Hello,

I have a server-side Blazor app that I've been developing, and runs fine locally. I have just deployed it to a test server for the first time, but none of the Blazor bits work, meaning that pages are pre-rendered, but none of the Blazor interaction works.

Looking in the browser console, I see the following...

This is a brand-new .NET6 app, not an upgrade from .NET5. I have tried republis

[2022-04-03 18:37] TanayParikh commented on #41023
Hi @MrYossu, thanks for contacting us. Can you please try to create a new blazor server project (`dotnet new blazorserver`) and deploy that to your remote environment. Does the issue still persist?

[2022-04-03 18:39] TanayParikh commented on #41022
Hi @mcguu, thanks for reaching out. It's not immediately clear what you're attempting here. Is this for a Blazor Hybrid / MAUI application? Or are you trying to embed the image as part of your blazor webassembly assets?

[2022-04-03 19:19] wrkntwrkn commented on #25058
Hi, this is a very important feature for reasons mentioned above among others. Hopefully this will be prioritized.

[2022-04-03 19:41] MrYossu commented on #41023
@TanayParikh Thanks for the reply. Yes, a new Blazor server-side project works fine.

What do I do now? Thanks again.

[2022-04-03 20:00] MrYossu commented on #41023
@TanayParikh Hmm, this is more weird than a really weird thing.

I deleted all the out-of-the-box Blazor app files and uploaded my own again, and got all sorts of different problems. I then republished, and now it's working fine.

I have no idea what is/was going on here, but I wasted hours trying to get this site deployed, only to have the original code work. I haven't changed anything, not on th

[2022-04-03 22:28] RoroTiti commented on #38448
I'm seconding the issue, I have it too.

[2022-04-03 23:45] JamesNK commented on #41015
They're the same thing.

[2022-04-04 00:17] mcguu commented on #41022
@TanayParikh  thank you. what I want to do is to display an image which is in my computer to the website but do not upload to server.

I am trying to embed the image as part of my blazor webassembly assets but the image is in my computer and I can change it.
with a `<input type="file" />`

which means I only have a static website of blazor webassembly but want to embed the image which is in a user

[2022-04-04 02:54] reinux commented on #38448
Just wanted to point out that using `UseRouting` in the correct order solves the problem, at least for us.

From: Romaric Thibault ***@***.***>
Sent: April 3, 2022 3:29 PM
To: dotnet/aspnetcore ***@***.***>
Cc: reinux ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/aspnetcore] UsePathBase being ignored (Issue #38448)

I'm seconding the issue, I have it too.

-
Reply to this email directly,

[2022-04-04 03:42] aussieklutz opened #41024 "SymmetricSecurityKey used in JwtBearer TokenValidationParameters does not implement RFC2104 key padding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Setting a key, with a length less than the block size of a HMACSHA256 or 512, in a SymmetricSecurityKey, and then providing it to a JwtBearer TokenValidationParameters results in failed validation of JWT's. RFC2104 states that the key should be padded by \0 null bytes out to the block length,

[2022-04-04 03:44] aussieklutz commented on #41024
I am unsure where exactly this should be rectified. Probably in the JwtBearerHandler somewhere...

[2022-04-04 04:21] WeihanLi commented on #40748
Hi @adityamandaleeka , from the info from <https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1827#issuecomment-1084852912>, the `ValidateToken`  could not be replaced by `ValidateTokenAsync` for now, so I'm going to close this issue

[2022-04-04 04:21] #40748 closed

[2022-04-04 10:22] blowdart commented on #41024
We don't actually do any of the crypto work, that falls to [identity model](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet) so an issue should be filed there. Having said that I wouldn't be surprised if they said "No", because encouraging the use of short keys would be an odd security decision, and as you already have a work around 🤷‍♂️

[2022-04-04 10:56] paulguz-datapa commented on #36978
Works for us with G Data & Sophos, but doesn't address G Data's flagging of cached files (G Data now goes haywire, picking up tmp files too, but that may be unrelated)

[2022-04-04 11:41] javiercn commented on #41018
@sgalcheung thanks for contacting us.

It's not clear what you are asking for here. Could you clarify what your ask is?

[2022-04-04 11:45] javiercn commented on #41023
@MrYossu We can't tell what might have gone wrong with the information available to us. I would recommend if this happened again you turn the logging level up to Debug or Trace and capture the logs when you try to connect to the deployed app.

[2022-04-04 11:47] javiercn commented on #41022
@mcguu thanks for contacting us.

This is not specific to Blazor. You can achieve this by creating an object url for the file as described [here](https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL) via JS interop and assign the result to the src attribute of the img element.

If you still run into issues, I would suggest you check some other resources like stackoverflow in order

[2022-04-04 11:52] javiercn commented on #41017
@linkdotnet thanks for contacting us.

The component is disposed as part of the batch, whether it does synchronously or asynchronously doesn't affect that fact. Is there a concrete scenario where you are having an issue with this behavior?

[2022-04-04 11:53] blowdart commented on #41012
Security uses allowed lists over disallowed lists as it's less risky. Taking an exclusionary approach means you'd end up reviewing everything when you add a new role, because that new role would have access to everything by default if all you did was exclude. In your example it's strange that managers aren't considered system users, in a typical design managers are users, just with extra rights.

[2022-04-04 11:54] javiercn commented on #41011
@aterbo thanks for contacting us.

@MariovanZeist answer is correct here.

[2022-04-04 11:54] #41011 closed

[2022-04-04 12:00] javiercn commented on #41020
@0djek thanks for contacting us.

You need to configure the signing key to use in production. Check [here](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-6.0#example-deploy-to-azure-app-service) for details

[2022-04-04 12:02] #40996 closed

[2022-04-04 12:03] linkdotnet commented on #41017
Hey @javiercn thanks for the swift response.

Yes I have a concrete use case, even though it's very special. Anyway: for [bUnit](https://github.com/bUnit-dev/bUnit/) (unit test library for Blazor) we introduced a feature where we basically detach the component under test from the render tree, so that the component (plus its children) get disposed. For a synchronous `IDisposable` that is no issue,

[2022-04-04 12:03] javiercn commented on #40928
@primozcerar do you happen to have any `@FlushAsync()` call on your page?

It's very strange, as MVC will buffer all the response by default.

[2022-04-04 12:14] javiercn commented on #41017
@linkdotnet thanks for the additional details.

Unfortunately, I'm not sure if this is something we can easily change or want to. The way we think about it is that as part of the render process the components get disposed, and that can happen synchronously or asynchronously. However, we don't want to wait for a component to be disposed to inform/finish processing the render batch for several reaso

[2022-04-04 12:24] #41022 closed

[2022-04-04 12:26] sgalcheung commented on #41018
When I created an MVC project, it was not the NPM management mode I wanted, but used lib's package directly, which made it impossible for me to continue working directly on the default template

[2022-04-04 12:40] primozcerar commented on #40928
No @FlushAsync() in the project.

[2022-04-04 12:47] primozcerar commented on #40928
All I can add is that I use Devexpress controls extensively in the project and possibly there is something in their code that would lead to this issue, but the root problem seen in the call stack still remains. I also did not see any reports in their support ticket system about this problem.

[2022-04-04 13:19] BrayanRZ commented on #40800
Hello everyone, is there any workaround we can apply to solve this issue? I can reproduce it intermittently and it's so frustrating.

[2022-04-04 13:19] javiercn commented on #40928
@primozcerar thanks for the additional details.

It might help if you can figure out what specific ViewComponent causes the issue to begin with (what VC creates that content). That said, unfortunately, without a minimal repro is impossible for us to make progress on this issue.

[2022-04-04 13:24] eli191 opened #41028 "[BLAZOR] WASM 404 when deployed to IIS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Blazor was app give the following errors when deployed to IIS. The IIS contains the .Net hosting bundle. Works fine locally.

It is a brand new app, just created with Visual Studio and deployed to IIS, no code added.

<img width="547" alt="Screenshot 2022-04-04 at 15 10 42" src="https://user-

[2022-04-04 13:37] javiercn commented on #41028
@eli191 thanks for contacting us.

* Is this a standalone project or a hosted project?
* Are the files present on the wwwroot folder of the application?
* On the network tab in the browser developer tools, are there 404 responses?

[2022-04-04 13:56] eli191 commented on #41028
@javiercn

Standalone

Yes

Only those 2 files ending with .dat and .blat respond 404, but they are present on the server inside the _framework folder.

[2022-04-04 14:00] eli191 commented on #41028
WORKING NOW!!

I have added the [URL Rewrite Module 2.1](https://www.iis.net/downloads/microsoft/url-rewrite) as suggested by @Sharaf-Mansour .
And I have added MIME mappings in IIS for the extensions .dat and .blat with the value application/octet-stream.
The answer by @javiercn put me on the right track because in the network tab in the browser developer tools, it was written that maybe a MIME m

[2022-04-04 14:00] #41028 closed

[2022-04-04 14:40] Sharaf-Mansour commented on #41028
@eli191 I am glad the issue is fixed 😄
@javiercn  I wish this gets clarified in the docs because it is a common issue

[2022-04-04 14:41] kant2002 opened #41029 "DataProtection aka.ms link go to the repo"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I receive exception about data protection. In the message there link http://aka.ms/dataprotectionwarning That link redirect to GitHub instead of docs webstite

### Expected Behavior

I assume that aka.ms link should point to the article which can help troubleshoot the issue.

### Steps To Rep

[2022-04-04 14:45] blowdart commented on #41029
There is, I just haven't had the time.

Dupe of https://github.com/dotnet/aspnetcore/issues/22029

[2022-04-04 14:45] #41029 closed

[2022-04-04 14:57] MrYossu commented on #41023
@javiercn Where would I see the logs? Bear in mind this is on a third-party server, not my local machine, so I don't have a console. Where would the logging be shown?

Thanks

[2022-04-04 15:09] MrYossu commented on #41023
@javiercn OK, thanks. I don't (yet) have logging in this app, as it's still in the early stages. I just wondered if there was anywhere that logging might show up by default, like it does in the console when you're running in VS.

Thanks again.

[2022-04-04 15:24] welshronaldo commented on #40928
Hi!  Hopefully I'm not hijacking this issue, but I ran into what looks like the same thing this morning on a project that was recently upgraded from .NET 5.0 to 6.0.

The original code is something we inherited so it may very well be doing something ill-advised, but it was working before and isn't now, so here I am! 😃

A very basic repro should be visible in this repo: https://github.com/welshrona

[2022-04-04 15:48] christopheblin opened #41030 "ASP0001 warning when used inside app.MapWhen"
I try to create a webapp with a port dedicated to grpc and another port dedicated to openapi with dotnet6

[code]

When executing `dotnet run`

[code]

If I  comment the grpcApp part, the warning disappear

If I swap openapiApp before grpcApp, the warning is triggered in the grpc part

=> how can I avoid the warning in the second app.MapWhen ?

[2022-04-04 16:44] SteveSandersonMS commented on #41018
Thanks for the suggestion, @sgalcheung! We don't currently plan to do this because it leads to a lot of open-ended problems that we can't necessarily make work for all projects. However if your requirements are limited to the use of Bootstrap, you can probably add your own `package.json` and set up something that copies the relevant `.css` files to your `wwwroot` during the build.

[2022-04-04 16:44] #41018 closed

[2022-04-04 17:29] ekomsctr commented on #40068
Found the trick: for some reason, Visual Studio was using the packages in the NugetFallbackFolder, which contained the Microsoft.AspNetCore.Identity library with the 6 parameters SignInManager constructor.

Closing Visual Studio, deleting the NugetFallbackFolder contents (only the content, the actual folder is required to be existing) and then rebuilding the project restores the correct version of

[2022-04-04 17:43] vijayrkn commented on #38668
Can someone please confirm if the issue is specific to FTP & IIS Deploy scenarios from VS?

Is publishing to a folder from VS generating the correct artifacts?

If this is the case, can someone please share a binary log/ verbose msbuild log where the deployment fails to help with the investigation? Please remember to remove any sensitive content from the logs before uploading. Thanks!

[2022-04-04 18:00] #40861 closed

[2022-04-04 18:19] halter73 commented on #40646
API Review:

- Do we only look for this in minimal route handler parameters and return values? What about attributes?
  - Just parameter and return types.
- Do we need an analyzer to tell people to return the specific type with `GetMetadata` instead of a plain `IResult`?
  - Yes, as a follow up.
- We will require the interface is implemented rather than just looking for the right static method sig

[2022-04-04 19:04] vrassouli opened #41033 "Debugging Blazor WASM after publish"
Hello every body
I've build a Hosted Blazor WASM project, and I'm able to debug blazor code inside the browser using Alt+Shift+D. Starting the app both without debugging or with debugging, using the visual studio. It works just as expected...

But the problem is that, when I publish it (both with Release or Debug configuration), and when I launch the output executable, Alt+Shift+D throws an error

[2022-04-04 19:22] tlaemmlein commented on #6566
@AndreasAmMueller
I'm working only with RazorPages. How can I use your Workaroung/Fix with RazorPages technique?
My project is using .NET 6 where only on Program.cs is available (no StartUp.cs). I see there aren't 'ModelBinderProviders' with 'AddRazorPages'
![image](https://user-images.githubusercontent.com/3143027/161616597-5232f64a-64fa-4a7d-be90-2812a50d153f.png)

Or is it possible to mix 'MVC'

[2022-04-04 19:23] Acerby commented on #40712
I suspect its fairly common for a number of API method to support a common set/subset of options/properties. Being able to do something akin to:
app.MapGet("/chairs/{cid}", (int cid, [Parameters]CommonProps) => {...}
app.MapGet("/seats/{sid}", (int sid, [Parameters]CommonProps) => {...}
would seem to provide a nice way to allow these to be declared/managed/used in a consistent way.
Additionally co

[2022-04-04 19:23] Acerby commented on #40712
It feels like there is an overlap between this functionality and that supported by the IModelBinder interface. The primary difference being the class is based declarative automatic generation of the fields based as opposed to being generated via bespoke code. I guess one potential approach to implementation would be to use the [Properties] attribute on the class as a trigger to the complier to aut

[2022-04-04 19:29] RacerDelux commented on #40719
Ran into the same issue, downgrading to 6.0.1 fixed it.

[2022-04-04 20:01] #33403 closed

[2022-04-04 20:48] ArturDorochowicz commented on #40579
Found this comment in #14455:

Seems similar on the surface. Also may explain why the issue is visible on HttpSys, but not Kestrel, and only remotely, not locally.

[2022-04-04 20:55] alphons commented on #40929
Sorry to disappoint you ;-)  The `null` values added to the BindSimpleCollection actally, as proposed, do work! So this has to be fixed a.s.a.p.

But thats half of the story. After doing some days of intensive debugging there is a far greater problem using the CollectionModelBinder. When using complex structures like arrays of objects, having objects which are null, the array is truncated.

[code]

[2022-04-04 21:27] allisonchou commented on #41036
This appears to be a runtime issue.

[2022-04-04 22:09] #39897 closed

[2022-04-04 22:23] #40608 closed

[2022-04-04 22:39] Programmer3591 commented on #40800
@BrayanRZ As seen in the previous post, the issue was solved by making sure important <div> or elements have unique identifications. That seemed to completely solve mine. For example, I had two IFrames with no ID set, and by setting <iframe id="frame1"> and <iframe id="frame2"> the issue was never encountered again. Hope this helps!

[2022-04-04 23:31] Serg046 opened #41039 "No way to pass build arguments to WebApplicationFactory as is"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am try to pass build arguments like ["--flag", "2"] to my test host but the only result I can get is `--flag=2`. The reason is this [line](https://github.com/Serg046/aspnetcore/commit/ed1fd81b8956c27c04a2d752cbaf7f71a531d3e5).

### D

[2022-04-05 00:35] dougbu commented on #40929
Other than removing a number of layers of abstraction, it seems you're proposing something like an [`IInputFormatter`](https://github.com/dotnet/aspnetcore/blob/e001dc01a152806a457eb9da15dc102107451dee/src/Mvc/Mvc.Abstractions/src/Formatters/IInputFormatter.cs#L9). Let's go back to using an [`IValueProvider`](https://github.com/dotnet/aspnetcore/blob/e001dc01a152806a457eb9da15dc102107451dee/src/Mv

[2022-04-05 03:29] aussieklutz commented on #41024
Thanks for the response. I half wanted to raise this, to enable the work around to be findable.

[2022-04-05 06:18] primozcerar commented on #40928
@welshronaldo Thank you for this. I appreciate it since I couldn't reproduce the issue in a simple project. Hopefully this helps solve it.

[2022-04-05 06:44] Schaeri commented on #36978
Our applications running with blazor wasm. Many of our customer complains about issue with blocking dll.

But there is another problem with blazor wasm and firewalls. Now two times our domain was blocked due to false positives of firewall/antivirus producer. Our customer could not access our applications for several hours. This issue getting worse and we hope that there will be soon a solution fro

[2022-04-05 06:51] paulguz-datapa commented on #36978
@Schaeri is right, and I should have pointed this out sooner myself.  G Data entirely blocked our domain for a day because it had recorded an "infected file" from our domain.

[2022-04-05 07:35] JamesNK opened #41042 "HTTP/3: Remove try/catch around IsSupported property"
Steve added try/catch here https://github.com/dotnet/aspnetcore/pull/40376

IsSupported no longer throws: https://github.com/dotnet/runtime/pull/67036

Try/catch can be removed.

[2022-04-05 08:32] alphons commented on #40929
Can you build me the example of my 'fun part' where your approach works?

[2022-04-05 09:41] javiercn commented on #41033
@vrassouli thanks for contacting us.

You need to make sure you enable `DebuggerSupport` as well as `CopyOutputSymbolsToPublishDirectory` when you publish

[2022-04-05 09:41] javiercn commented on #41033
@guardrex do we have docs on how to publish and debug blazor webassembly apps? Could we add a section if not?

[2022-04-05 11:02] legistek commented on #36978
This is WITH the xor obfuscation???

[2022-04-05 11:08] paulguz-datapa commented on #36978
@legistek No, the obfuscation does its job.  The point I and @Schaeri are making is that _if_ Blazor iles are at all flagged, it might result in an entire domain being blocked.

[2022-04-05 11:30] primozcerar commented on #40928
I don't understand how you can say that it is not immediately obvious that this is a bug in asp.net core? The project welshronaldo provided uses nothing but asp.net core framework so the bug can not be from somewhere else. All calls are made async yet the exception is thrown. I understand the need to prioritize but this is quite obviously a bug.

[2022-04-05 11:31] SpiritBob opened #41043 "PassThroughAuthorizationHandler does not respect AuthorizationOptions.InvokeHandlersAfterFailure"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If `AuthorizationOptions.InvokeHandlersAfterFailure` is set to false, it is expected that other handlers are short-circuited when `AuthorizationHandlerContext.HasFailed` is true.

Microsoft has given consumers the option that an `AuthorizationHandler` and `IAuthorizationRequirement` be define

[2022-04-05 11:38] javiercn commented on #40928
@primozcerar the comment our bot made might not be completely accurate in this case. This is simply part of our planning process, we are acknowledging that there is very likely an issue here. However an engineer from our team needs to spend time looking at it to understand the details and produce a detailed explanation of what's going on before we decide whether this is a bug, a bad design or a te

[2022-04-05 11:48] legistek commented on #36978
Curious has anyone tried signing the dlls with an EV certificate? I wonder if that would make any difference to some of these security or AV systems. Just like EV gets you past Windows smart screen (which is worth every penny despite feeling a little like a racket given how freaking expensive they are).

[2022-04-05 13:00] #41020 closed

[2022-04-05 13:00] #41012 closed

[2022-04-05 16:00] #41023 closed

[2022-04-05 16:02] #40876 closed

[2022-04-05 16:10] alphons commented on #40929
Another milestone. Just added more GetModelProviders to the concept, as if it is the real world ;-)
[code]
Now this also works:
[code]
Caller:
[code]

[2022-04-05 16:37] stonstad commented on #32767
I can confirm this is an active issue with the browser 'ERR_CONTENT_DECODING_FAILED' error manifest.

I have a CSHTML view that fails to load unless I add a large meaningless HTML comments within the file to alter its compressed length.  I can also resolve the behavior by removing app.UseResponseCompression OR adding hotReloadEnabled:false to launch settings OR  by adding the following bs comment

[2022-04-05 16:53] Eilon commented on #35077
@AigioL yup, this pattern may very well have worked in older versions of ASP.NET Core because back then a lot of the code was in regular NuGet packages and didn't use a "runtime". In the "runtime" model many NuGet packages contain just API definitions (if at all), but all the implementation is in a "runtime" that is platform-specific. But in more recent versions of ASP.NET Core, the "runtime" is u

[2022-04-05 17:25] TanayParikh commented on #40929
Hi all, thanks for the discussion here! We've currently assigned this to the `.NET 7 Planning` milestone. This means we may investigate this issue in the .NET 7 timeframe based on where it stands in priority with other issues, as well as overall time constraints. In the meanwhile, we'll await further feedback from members in the community.

[2022-04-05 17:55] mrlife commented on #39073
Could someone comment whether hot reload is supposed to work in a Blazor Server app?

[2022-04-05 18:04] TanayParikh commented on #39311
Hi @kbeaugrand, could you please confirm the Repo is still available and is **public**? I'm getting a 404 when I try to access that URL.

[2022-04-05 18:06] kbeaugrand commented on #39311
My bad, it was private. Now it should be ok

[2022-04-05 18:14] TanayParikh commented on #39311
Thanks. Looks like it's an issue with the deserialization of the `DateTimeOffset` of the `AccessToken` here:

https://github.com/dotnet/aspnetcore/blob/ce10dcaa31b254bda5dcf854f5578f78418d412c/src/Components/WebAssembly/WebAssembly.Authentication/src/Models/AccessToken.cs#L16-L19

which is a part of

https://github.com/dotnet/aspnetcore/blob/ce10dcaa31b254bda5dcf854f5578f78418d412c/src/Components/

[2022-04-05 18:16] TanayParikh commented on #39311
Related: https://stackoverflow.com/a/68565455/17995448

[2022-04-05 18:35] TanayParikh commented on #39311
Based on https://docs.microsoft.com/dotnet/standard/datetime/system-text-json-support we may be dealing with non compliant `DateTimeOffset` values.

@kbeaugrand can you please confirm what needs to be done to trigger the exception you're seeing, using the repro you provided? I just end up with an Okta 404 when I try to run your project.

[2022-04-05 18:42] hwoodiwiss commented on #40753
I'd interested in picking this up if that's alright?

[2022-04-05 19:09] mprather opened #41045 "Tag a new version of the SignalR C++ client project, push out to vcpkg"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

The current port of the SignalR-Client-Cpp project is set to 0.1.0-alpha3#1. The alpha3 tag was released on Aug 6, 2021.  It would be nice to be able to use a later version of the signalr client via vcpkg.

### Describe the solution yo

[2022-04-05 19:44] omuleanu opened #41046 "Blazor wasm: Cannot wait on monitors on this runtime, when calling odata in OnInitializedAsync"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm getting "Cannot wait on monitors on this runtime" error when trying to get odata inside `OnInitializedAsync`

### Steps To Reproduce

this is my page:
[code]
and my odata context:
[code]

### .NET Version

6

[2022-04-05 19:53] kbeaugrand commented on #39311
@TanayParikh,

After configuring the OIDC settings for your tenant, and launching the project with Visual Studio, go to [https://localhost:7002/fetchdata](https://localhost:7002/fetchdata), you will have the issue present on log from the broswser developper console.

[2022-04-05 20:04] mrlife commented on #40527
@SteveSandersonMS please see https://github.com/dotnet/aspnetcore/issues/39073#issuecomment-1044702453 for issue with Blazor Server, console, and potentially other project types.

[2022-04-05 20:12] mrlife opened #41050 "Blazor project template - lower left nav can be inaccessible in short browser window"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The left navigation doesn't scroll when some of it is cut off by a short browser window. When more items are in the left navigation, the issue is more likely to be experienced.

### Expected Behavior

The left navigation should scroll when some of it is cut off by a short browser window

###

[2022-04-05 21:01] Arclight3 commented on #39766
A valid situation to define an endpoint that is affected by this issue is for health checking (which I have in all APIs).

[code]

Since this practice is common I think many applications are affected.

[2022-04-05 21:29] aterbo commented on #41012
@MariovanZeist  @blowdart  Thank you for the responses. They are definitely good approaches that make sense.

[2022-04-05 21:32] TanayParikh commented on #41046
Hi @omuleanu, thanks for reaching out. Are you calling `Task.Result` anywhere? Mono & JS are single threaded. Blocking calls can cause this issue.

Related:
- https://github.com/dotnet/aspnetcore/issues/40096
- https://github.com/dotnet/aspnetcore/issues/26314

[2022-04-05 21:42] TanayParikh commented on #41050
The default blazor server app is a basic sample, and fully customizable to meet user needs. It would have to be a (very?) small window if the vertical height doesn't even allow the 3 nav items along with the header.

cc/ @danroth27 is this something we want to change?

[2022-04-05 22:14] larthallor opened #41056 "Blazor Server MainLayout not always disposed with long polling"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using Long Polling with Blazor Server on .NET 6, MainLayout components that implement IDisposable do not always get disposed under load.

### Expected Behavior

MainLayout components that implement IDisposable should always get disposed when no longer in use.

### Steps To Reproduce

1.

[2022-04-05 22:35] JKamsker commented on #27213
@Tratcher did you find a way to solve this issue?

[2022-04-05 22:41] thalaeg commented on #28770
I think your examples are mixing up the two. The second one using the `ItemsProvider` wouldn't have `Data` before querying. So that is why the `EmptyTemplate` is better inside.

If instead you meant for it to say `Items` (and therefore comparable examples) I think the `EmptyTemplate` (aka the first example) way looks cleaner.

The Virtualization component should have everything it needs to tell if

[2022-04-05 22:50] allisonchou commented on #41032
This may be a dupe of https://github.com/dotnet/aspnetcore/issues/38189

[2022-04-05 23:46] #40036 closed

[2022-04-05 23:53] danroth27 commented on #41050
The user notes that if you add more items to the nav then you are more likely to hit this. But this doesn't seem critical to fix. I think we'd happily accept a community contribution for this.

[2022-04-05 23:55] DamianEdwards commented on #40646
API changes since API review based on implementation details and [PR feedback](https://github.com/dotnet/aspnetcore/pull/40926):
[code]

[2022-04-06 00:41] captainsafia commented on #40753
@hwoodiwiss Absolutely! The changes will need to happen in the Swashbuckle repo but happy to provide guidance here.

[2022-04-06 01:00] #40989 closed

[2022-04-06 01:45] sinfulcapacity commented on #38892
I have the stil the same problem.
@ChadBurggraf fix does work but it's not a solution to the real problem.
Any update on this?

[2022-04-06 02:26] doddgu commented on #36007
Minimal apis can also have a lot of apis?  If so, how to simplify `program.cs` ?

[2022-04-06 04:00] #40822 closed

[2022-04-06 05:12] psychomonkey9 opened #41058 "System.Text.Json.Serialization not Deserialize inheritance class"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

i have class:

[code]

and this is example json:

[code]

When deserializing the whole class, I have a problem with property parameter 1. I see only default values.

i use ParameterConverter:

[code]

but this Converter does not work. Why does the converter not see anything?

i expect to see

[2022-04-06 05:32] omuleanu commented on #41046
Hi @TanayParikh,
The code that I posted is basically the whole app,
I'm only calling `await` inside `OnInitializedAsync`, as you can see in the code above.
I would assume there's something that `DataServiceContext` does, that is not compatible with blazor wasm.

[2022-04-06 07:04] TanayParikh commented on #40929
Let's keep this issue open for now.

[2022-04-06 08:41] javiercn commented on #41056
@larthallor thanks for contacting us.

Blazor keeps the circuit alive for a predefined (and configurable) amount of time after a client has disconnected in case the client reconnects back to the application. You won't see components dispose until after 2 (or 3) minutes after the server considers the circuit to be disconnected.

Blazor server considers the client disconnected when SignalR deems the

[2022-04-06 08:47] javiercn commented on #41058
@psychomonkey9 thanks for contacting us.

This question is about how to use System.Text.Json and not related to ASP.NET Core. We are transferring the issue to the appropriate repo so that you can get a better and faster answer. In the meantime, we would suggest you check the following [docs](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-polymorphism) that cover th

[2022-04-06 08:50] #41046 closed

[2022-04-06 08:51] javiercn commented on #41046
I've moved the issue to the OData repo

[2022-04-06 10:00] #41033 closed

[2022-04-06 10:29] kevinharing opened #41059 "Add header `Request-Context` to class Microsoft.Net.Http.Headers.HeaderNames"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

_No response_

### Describe the solution you'd like

Add header `Request-Context` to class Microsoft.Net.Http.Headers.HeaderNames

### Additional context

It's missing currently

[2022-04-06 10:29] kevinharing opened #41084 "Add header `Request-Context` to class Microsoft.Net.Http.Headers.HeaderNames"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

It's used by Application Insights.

### Describe the solution you'd like

Add header `Request-Context` to class Microsoft.Net.Http.Headers.HeaderNames

### Additional context

It's missing currently

[2022-04-06 12:51] Brainman643 opened #41060 "MapFallback catch all requests to API controller when ConsumeAttribute added"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hello.
In .net 6 behavior of MapFallback broke when ConsumesAttribute was added. MapFallback catch all requests to API controller.
In .net 6 index.html file always returns on requests to API controller but if I remove endpoints.MapFallbackToFile or delete ConsumesAttribute filter then everyth

[2022-04-06 13:45] vrassouli commented on #41033
Thank you for your guidance
Adding <DebuggerSupport>true</DebuggerSupport> resolved the issue.

[2022-04-06 13:48] TehWardy opened #41061 "Dependency Injection woes."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

dependency Injection returning null / exceptions / failing to resolve a configured scoped service.

### Expected Behavior

As you might expect I just want my controller lines to return an instance of AppService which is configured as the implementation of IAppService in the DI container.

How

[2022-04-06 14:03] mrlife commented on #41050
Thanks @danroth27, added the PR here: https://github.com/dotnet/aspnetcore/pull/41062.

[2022-04-06 14:22] gfr-g commented on #14191
@Tratcher here's one possible solution I'd like to discuss before submitting a pull request because I'd like to know if the trade offs are acceptable. The loop we were talking about would be something like this

[code]

If we could make assumptions on the segments size (or easily slice to segment's borders) it would be much easier to only apply this logic whenever the buffer is bigger than a certa

[2022-04-06 14:31] chintanbug opened #41063 "Bitdefender Total Security detects a Trojan when viewing published Blazor WebAssembly as well as while publishing too"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Bitdefender Total Security detects a Trojan in the Microsoft.JSInterop.WebAssembly.dll of Blazor WebAssembly which is published in DEBUG/RELEASE.

_framework/Microsoft.JSInterop.WebAssembly.dll
Threat name: Trojan.GenericKD.39437478_

### Expected Behavior

_No response_

### Steps To Reprodu

[2022-04-06 15:07] egvijayanand opened #41064 "Accessing hosted Blazor WebAssembly solution in Chrome Android browser resulted in error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Accessing hosted Blazor WebAssembly solution in the Chrome Android browser resulted in an error.

Refer to the attached screenshot that details the error: Failed to execute 'arrayBuffer' on 'Response': body stream already read

This issue is faced only in the Chrome browser whereas the same h

[2022-04-06 15:39] wessleym opened #41065 "In ASP.NET Core, why are Session and User not accessible from services instead of members of HttpContext?"
## Summary

In ASP.NET Core, why are Session and User not accessible from services instead of members of HttpContext?

## Motivation and goals

In ASP.NET Core, not all sites use sessions, user authentication, or WebSockets.  So why are `Session`, `User`, and `WebSockets` members of `HttpContext`?  Why wouldn't these have been made available through some kind of per-request `ServiceLifetime.Transi

[2022-04-06 15:56] larthallor commented on #41056
Thank you for responding.

2 or 3 minutes is the kind of timeout value one might expect to allow for reconnection. However, these objects appear to remain undisposed indefinitely.

Below is output from a slightly modified version of the code I submitted. The code has been updated to show how long each object has gone undisposed. This output shows that spamming refresh on a single tab for 8-10 seco

[2022-04-06 16:40] #41061 closed

[2022-04-06 17:03] TanayParikh commented on #41064
Hello @egvijayanand, thanks for contacting us. This is a duplicate of https://github.com/dotnet/aspnetcore/issues/40547 & https://github.com/dotnet/aspnetcore/issues/40548. Fixes will be tracked there, feel free to leave a 👍 on the issue so we can better gauge community impact.

[2022-04-06 17:03] #41064 closed

[2022-04-06 17:12] egvijayanand commented on #41064
Atleast a workaround needs to made available at the earliest, the hosted solution is completely unusable in Chrome browser on Android devices. We can't go and ask the user to install another browser for this.

[2022-04-06 17:13] halter73 commented on #40802
API Review:

On second thought, we think the `Results.Typed` methods described in https://github.com/dotnet/aspnetcore/issues/41009 will be sufficient. We can always add the constructors later.

[2022-04-06 17:13] #40802 closed

[2022-04-06 17:25] TanayParikh commented on #41064
This is the workaround: https://github.com/dotnet/runtime/issues/58569#issuecomment-914372294

[2022-04-06 17:28] kbeaugrand commented on #39311
I think this doesn't comes from the deserialization of the ``access_token``.
In my configuration I only get the ID Token from the IDP. The issue occurs while getting the access token. at that time I have no network requests from the browser...

[2022-04-06 17:31] egvijayanand commented on #41064
Thanks for sharing the link. Let me try the workaround.

[2022-04-06 17:50] allisonchou commented on #41032
Another report: https://developercommunity.visualstudio.com/t/Tag-Autocomplete-is-Not-Occurring/1703313

[2022-04-06 17:53] halter73 commented on #40672
API Review:

Approved.

[code]

For the first iteration, we will have `Results<T1..TN>` where N is between 2 and 6. If we need more type args or a common interface for all the Results types to access the `Result` property, we can add it later.

[2022-04-06 18:03] adams85 commented on #40866
I can confirm that the issue exists in the latest .NET release (6.0.3). I also ran into this when I was upgrading a project from .NET Core 3.1 to .NET 6.

It works fine when runtime compilation is off but I get the same error when I turn it on. In my project `TreatWarningsAsErrors` is enabled too. When I disable that, the compilation error goes away.

So it's clear that the issue is related to `Tr

[2022-04-06 18:41] rummelsworth commented on #25756
This seems pretty severe to me. The current situation seems to be this: it's impossible to cleanly and idiomatically access a JS object's properties through the lens of `IJSObjectReference`. That seems like a weirdly *huge* gap in functionality.

I don't control the definition of the object whose [property](https://developer.mozilla.org/en-US/docs/Web/API/FileSystemHandle/name) I need, so unless I

[2022-04-06 18:46] larthallor commented on #41056
Publishing to a folder and running from a command line did fix this. It did not matter whether I published under a Release or Debug profile: both versions eventually disposed all but the one, running instance as expected with 2 or 3 minutes.

Do you have any insight or links to share as to why this is an issue within VS?

[2022-04-06 19:11] linkdotnet opened #41067 "BL0007: Component parameters should be auto property ignores .editoronfig on linux"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Having a component which violates the new BL0007 rule will lead to an build on linux machine (github action) even though the analyzers severity is set to `None` in a `.editorconfig`.
This seems only to happen on a linux machine.

Also in the latest nightly builds we can reproduce this issue.

[2022-04-06 19:24] ghostinside opened #41068 "Blazor WASM: PostAsJsonAsync missing response header content-disposition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

client:
`var response = await ApiCall(async () => await _httpService.ApiClient.PostAsJsonAsync(apiUrl, request));
            await response.EnsureSuccessAsync();

            var stream = await response.Content.ReadAsStreamAsync();

            return new DownloadFileStream
            {

[2022-04-06 19:36] sWozzAres opened #41069 "Blazor Http client doesn't timeout"
Blazor WASM HttpClient doesn't seem to ever timeout. I have tried 5 methods and none of them have any effect.

Demo project at [BlazorApp1](https://github.com/sWozzAres/BlazorApp1)

Using a named client...

[code]
also
[code]
then on the server, setting a delay of 10 seconds
[code]
Interestingly, just setting this delay on the server to 5 seconds or more stops the client from ever receiving the da

[2022-04-06 20:31] Ekus commented on #37230
+1 this, a workaround would be useful. I am trying to include legacy angularjs (not angular) app/component in a Blazor app and with angularjs it's common to have inline templates that are using a script tag like this
<script type="text/ng-template" id="myDirectivesCustomTemplate.html">...</script>   (yes the .html is part of the ID but not a separate file)

We were able to start a new LOB Blazor a

[2022-04-06 21:02] syska commented on #39311
From the Blazor WASM when calling `var tokenRequest = await TokenProvider.RequestAccessToken();` i get the following error:

[code]

![image](https://user-images.githubusercontent.com/317770/162069553-6cc18cf5-562f-4e30-a04c-688a7fbee315.png)

This is the response returned from Azure B2C ...

[2022-04-06 21:12] MarvinKlein1508 commented on #40660
BTW. this issue is related to #34163. The other issue should be closed because this thread here is more clear than the other and expands the issue with 3 examples instead of two.

[2022-04-06 21:26] #40944 closed

[2022-04-06 21:56] halter73 opened #41071 "Kestrel should throw BadHttpRequestException instead of InvalidOperationExceptions for absolute-form targets with non-ASCII characters"
[code]

Making a request like the above to Kestrel with latin1 encoding would result in the following error:

[code]

The absolute-form version of this request results in an InvalidOperationException which is a lot harder to diagnose.

[code]

[code]

This happens because Kestrel doesn't catch the exception thrown from GetAsciiStringNonNullCharacters like we do in the more common origin-form case

[2022-04-06 22:12] adityamandaleeka commented on #41043
@HaoK PTAL

[2022-04-06 22:12] #41024 closed

[2022-04-06 22:13] curt-w opened #41072 "Derived InputBase<T>, overridden methods not triggered"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Implementing a custom text input to handle types of Guid, overridden methods "FormatValueAsString(Guid value)" and "TryParseValueFromString(string? value, out Guid result, out string validationErrorMessage)" are not being triggered during component initialization. However, I am observing the

[2022-04-06 22:13] halter73 commented on #41065
HttpContext isn't thread safe and don't have a SynchronizationConext in ASP.NET Core so exposing the HttpContext via an async local or similar is dangerous. It is possible with [IHttpContextAccessor](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.ihttpcontextaccessor), but you have to be careful not to reference it from parallel operations. Your better bet in most cases is t

[2022-04-06 22:13] #41065 closed

[2022-04-06 22:18] wessleym commented on #41065
@halter73, thank you.  Are you saying this lack of thread-safe-ness is the reason why `User`, `Session`, and `WebSockets` couldn't be split into services?  They had to be part of `HttpContext` since they rely on the data of the `HttpContext` and would have to use `IHttpContextAccessor` to get the `HttpContext`?

[2022-04-06 22:25] darraghjones opened #41073 "Add request duration to HostingEventSource"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

`dotnet counters`  and `dotnet monitor` do not report asp.net request duration metrics

### Describe the solution you'd like

Running `dotnet counters monitor` would include some sort of  `Request Duration` metric(s)  as part of the Mi

[2022-04-06 22:38] argarcia-ottersoft commented on #35077
Any update on this? I would like to run a Kestrel server on an iOS device using MAUI, I was able to do this on Xamarin.

[2022-04-06 22:45] sWozzAres commented on #41069
It seems I can detect a timeout, but I have to install a continuation function and trap an AggregateException that holds a TaskCanceledException!

[code]
So when the HttpClient timeout activates, it sends a cancellation token to the server and then generates an AggregateException. Surely there is a way for it to simply generate a HttpRequestException?

[2022-04-06 22:55] #40774 closed

[2022-04-06 23:14] HaoK commented on #40964
So @blowdart are we okay just normalizing the default data protection application discriminator to always trim trailing slashes?  I think that will get us out of this business of content root changes breaking data protection

[2022-04-06 23:19] HaoK commented on #40964
Alternatively we could clean it up here: which seems less ideal

https://github.com/dotnet/aspnetcore/blob/a450cb69b5e4549f5515cdb057a68771f56cefd7/src/DataProtection/DataProtection/src/DataProtectionUtilityExtensions.cs#L45

[2022-04-07 00:05] JamesNK commented on #41016
`TrimmingAnalyzers` is automatically enabled with `IsTrimmable`. Unfortunately, there are errors when it runs on the aspnetcore code base. Analyzers have been disabled as a workaround

Rename trimming analyzers once https://github.com/dotnet/linker/issues/2718 is fixed and the changes have flowed to the aspnetcore repo.

[2022-04-07 00:44] JamesNK opened #41074 "Quarantine GET_RequestReturnsLargeData_GracefulShutdownDuringRequest_RequestGracefullyCompletes"
## Failing Test(s)

- Http2RequestTests.GET_RequestReturnsLargeData_GracefulShutdownDuringRequest_RequestGracefullyCompletes

## Error Message

## Logs

<details>

[code]
</details>

## Build

https://dev.azure.com/dnceng/public/_build/results?buildId=1701748&view=results

[2022-04-07 00:45] JamesNK commented on #41074
It's quite possible this is an issue in `SocketsHttpHandler`. I've updated the test to capture client logging. Should pass those logs onto the networking team when available.

[2022-04-07 00:54] JamesNK commented on #41074
Failure logs with client logging enabled:

[code]

[2022-04-07 01:00] #40939 closed

[2022-04-07 01:00] #40895 closed

[2022-04-07 01:00] #40870 closed

[2022-04-07 01:00] #40854 closed

[2022-04-07 01:00] #40154 closed

[2022-04-07 02:32] ziaulhasanhamim commented on #36007
Create more files for different http route handler

[2022-04-07 06:32] mitkins opened #41080 "Svg <title /> tag affects page title!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm in the process of migrating our Blazor Server app from .net 5 to .net 6 when I noticed a little quirk with the page title. On pages where I haven't used the `<PageTitle />` component, it would show the word "Menu".

After some investigation, it appears that Blazor is picking up the `<titl

[2022-04-07 07:11] #40975 closed

[2022-04-07 08:35] zackliu opened #41081 "SignalR client should send keepalive ping immediately when connected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Currently, SignalR client will send a keepalive ping 15s after connected. In some cases, the client connection terminates unexpectedly and the TCP become half-open before the first ping and the hub server will think the client won't send ping as it's an old version client. Thus, the server wi

[2022-04-07 08:35] ManickaP commented on #41074
In server logs I see 31 outgoing DATA frames and then GO_AWAY, on client I see only 22 of them before it blows up. It's like client cannot keep up with processing the incoming data.
Have you already done any perf improvements for H/2? Is it possible that you're now so fast that before we even have a chance to consume all the data you've already closed connection?

[2022-04-07 09:06] javiercn commented on #41068
@ghostinside thanks for contacting us.

It is very likely that this has to do with how you might be configuring the request. We would suggest you send the same request with `fetch` directly from within JavaScript and check if the header is available in the response.

If that's not the case, it likely means that you need to configure some settings, maybe related to CORS. If you can access the heade

[2022-04-07 09:51] javiercn commented on #41069
@sWozzAres thanks for contacting us.

I'm not sure I can reproduce what you are experiencing. From what I can tell everything is working as expected. When you run that, I get to see the exception in the browser. The other part that I changed was the Thread.Sleep.

If you use Task.ContinueWith is expected that you see an AgregateException. `await` unwraps the inner exception (among other things) wh

[2022-04-07 10:32] WeihanLi opened #41082 "Unexpected behavior when using Results method as delegate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

[code]

When I try to access this API, I would get an exception, the exception message likes follows:

### Expected Behavior

Return Ok result

### Steps To Reproduce

[code]

### Exceptions (if any)

[code]

### .NET Version

6.0.200

### Anything else?

ASP.NET Core 6.0

It's Ok to use `app

[2022-04-07 11:25] khallouf commented on #40609
I can confirm that 6.0.201 SDK fixes the issue, but it seems that They didn't update to this SDK on Azure yet, so what does that mean? shouldn't they be up to date ?

[2022-04-07 11:33] Junjun-zhao opened #41091 "[ 7.0.100-preview.3.22179.4] error CS1660 when trying to build a project that is using Telerik.UI.for.Blazor(2.22.0)"

[2022-04-07 13:09] MuscleBy opened #41085 "There is no file with ID 1. The file list may have changed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a ASP.NET Core WebAssembly project and I want to upload some files on azure using `<InputFile>` component. When I'm trying to upload the files all at once everything works fine. If I upload the files one by one I receive an exception:

The issue is also described here: [https://github.

[2022-04-07 13:23] weinzii commented on #39391
I have the same issue. Have you found a solution for it? @andronachev

[2022-04-07 14:23] MuscleBy commented on #41085
Yeah, it seems like what you described is also my scenario. But I still don't understand why the exception is raised when I want to upload the files to azure, and not in any other case. Anyway, I attached the solution, if you want to take a look.
[BlazorFilesUploadBUG.zip](https://github.com/dotnet/aspnetcore/files/8443790/BlazorFilesUploadBUG.zip)

[2022-04-07 14:30] MuscleBy commented on #41085
What I did in my solution is to add the files in a list of files and upload them  later on when the user clicks the submit button but still, I have the same isssue, as you described in #40574 it does not seems to bu cumulative. Any way I will probably just add a new component for each file to be uploaded, this way I think I should overcome the issue.

[2022-04-07 15:04] Neutrino-Sunset opened #41088 "There is no documented way to reuse interactive markup in a Razor page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

How are you supposed to reuse UI markup in Razor pages?

After completing the Hello World tutorial for Razor pages, the first thing that you will notice is that you have view files full of duplicated markup like this.

    <form method="post">
       <div asp-validation-summary="ModelOnly" cl

[2022-04-07 15:04] Neutrino-Sunset opened #41107 "There is no documented way to reuse interactive markup in a Razor page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

How are you supposed to reuse UI markup in Razor pages?

After completing the Hello World tutorial for Razor pages, the first thing that you will notice is that you have view files full of duplicated markup like this.

    <form method="post">
       <div asp-validation-summary="ModelOnly" cl

[2022-04-07 15:06] AlexKeene opened #41089 "ASP.NET Core IIS hosting failure (In-Process) if a file called "dotnet" is present in the project root."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Same as https://github.com/dotnet/aspnetcore/issues/17393 presumably.

Creating a file named "dotnet" in the project root directory an ASP.Net Core (net6.0) project causes the application to fail to start & an error page to appear:

Two application error events are logged:

Deleting the file

[2022-04-07 15:23] jchannon commented on #40676
![giphy](https://user-images.githubusercontent.com/105126/162234876-59c0e3f0-b069-4e06-a4ab-542f46c1839d.gif)

[2022-04-07 15:35] sWozzAres commented on #41069
When a timeout occurs, nothing appears in the log and Blazor doesn't pick it up. This leaves you thinking that no timeout has happened. You just see the Http client send the message and then nothing.

Having to trap a TaskCanceledException is non-intuitive but it seems that this has been discussed at length before. Unless I missed it in the hours I searched the documentation, perhaps it would be h

[2022-04-07 15:35] #41069 closed

[2022-04-07 16:06] blowdart commented on #40964
Works for me. And obviously documentation in release notes

[2022-04-07 16:45] wtgodbe commented on #40730
This should be fixed in the May release of 17.1/17.2.

[2022-04-07 16:45] #40730 closed

[2022-04-07 16:51] javiercn commented on #41091
@Pilchie I'll give this a try. We fixed a very similar a couple of weeks ago.

[2022-04-07 16:57] MichaelSimons commented on #40395
@wtgodbe - do you have an ETA on this?

[2022-04-07 17:00] wtgodbe commented on #40395
Sure, I can take a look tomorrow or Monday

[2022-04-07 17:14] blowdart commented on #41084
Ah sorry @MihaZupan

@[evinharing you could ask AppInsights if they wanted to add an extension method to Microsoft.Net.Http.Headers.HeaderNames, that way if you were importing AppInsights you'd get it.

[2022-04-07 17:35] hwoodiwiss opened #41092 "Root level `.vsconfig` does not provide all the necessary prerequisites"
Sorry for the lack of template, I couldn't find a template that matched "dev experience" issues.

The `.vsconfig` at the root of the project does not contain all of the prerequisites required to build to build everything using the build scripts in  .\eng

Should this be updated to match the add block of the `vs.17.json` file used by the `InstallVisualStudio.ps1` script?

If so I think it would als

[2022-04-07 17:38] JoshClose opened #41093 "Can't debug SpaProxy on Linux Docker container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I followed the instructions here. https://docs.microsoft.com/en-us/visualstudio/containers/edit-and-refresh?view=vs-2022

I'm using a Linux Docker container.

When debugging the app, I get this error.

[code]

I found that there is a `spa.proxy.json` file that is generated that contains the w

[2022-04-07 18:00] #40962 closed

[2022-04-07 18:14] curt-w commented on #41072
@javiercn, thank you for the clarification and example; I can't believe I overlooked this, I was reviewing existing implementations prior to ticket (facepalms).

Not sure if this should be highlighted in documentation or not; I'll leave that up in the air, you've definitely solved my issue. Thank you.

[2022-04-07 18:14] #41072 closed

[2022-04-07 18:28] captainsafia commented on #40836
@mu88 Thanks for reporting this issue!

At the moment, we're not planning on making any changes related to OpenAPI in the response type attributes. A lot of future work in this area is centered around what we are pursuing in #40676.

Now, specifically as it relates to the XML comment, I would recommend filing an issue on the Swashbuckle repo. The logic for XML-based documentation lives in Swashbuc

[2022-04-07 18:28] #40836 closed

[2022-04-07 18:39] halter73 commented on #41082
The problem is that [Results.Ok](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.results.ok?view=aspnetcore-6.0) is effectively a `Func<object, IResult>` but the `object` is inferred to be a `[FromBody]` parameter to be deserialized as JSON. If it was just a `Func<IResult>`, it probably would have worked. The idiomatic way to right this would be to write a lambda that really

[2022-04-07 18:44] TanayParikh commented on #41085
Without getting too deep into your particular implementation details, I suspect this may be the point where you actually try to _read_ the stream, and thus that's where the exception is thrown.

Yep, that won't work unless you actually cache the file data (which has its own security ramifications as you're storing arbitrary user data on disk/memory).

👍

[2022-04-07 19:00] #41056 closed

[2022-04-07 20:46] gurdev-r commented on #40719
removing the call to `AddRazorRuntimeCompilation()` avoids the exception. But this is just a temporary solution until this is fixed.

[2022-04-07 21:05] brunolins16 commented on #41009
Is not better have all result types under the same namespace instead of duplicating them under a new namespace? Maybe we could consider move the current types to under something else. That was one of the alternative designs proposed in #40656 or we can decide something completely different.

I am thinking something like this:

[code]

[2022-04-07 21:08] brunolins16 commented on #41009
I love the idea of have short names but will not it get confusing with other framework types (from different namespaces) that probably will be used?

Eg.: If we rename the `FileStreamHttpResult` to `FileStream` that will probably conflict with `System.IO.FileStream` that usually will be imported since the dev is work with a FileStream.

[2022-04-07 21:14] DamianEdwards commented on #41009
We could potentially mitigate that by only using short names for the result types that actually implement `IEndpointMetadataProvider` and thus describe the API result types. Something like `FileStreamHttpResult` cant' do that accurately because it accepts a content type at runtime. This was also one of the motivations behind putting these results in their own namespace to help denote that they're

[2022-04-07 21:20] brunolins16 commented on #41009
After a quick look, might missed something, in addition to the example I mentioned we will only have conflict with:

VirtualFileHttpResult -> https://docs.microsoft.com/en-us/dotnet/api/system.web.hosting.virtualfile?view=netframework-4.8 *Not in .NET Core
JsonHttpResult -> https://docs.microsoft.com/en-us/dotnet/api/system.web.helpers.json?view=aspnet-webpages-3.2
* Don't know if is possible to u

[2022-04-07 21:34] DamianEdwards opened #41097 "Results<T1, TN> union types should implement IEndpointMetadataProvider"
The new `Results<TResult1, TResultN>` union types should implement the also new `IEndpointMetadataProvider`. As the union type is essentially just a wrapper for the concrete `IResult` types used as its type args, it would just delegate the call to `IEndpointMetadataProvider.Populate()` on to `TResultN` types that implement `IEndpointMetadataProvider`.

[code]

[2022-04-07 21:35] brunolins16 commented on #41009
Got your point but my concern is the `TypedResults` part of the namespace. All results are "typed" why we will have a namespace with results that are "more typed" than others. I don't have a better option 😂, but that is the reason I feel all result types should be under the same namespace.

Maybe the `*.TypedResults` could be the namespace where all results are.

[2022-04-07 21:40] DamianEdwards commented on #41009
`Microsoft.AspNetCore.Http.HttpResults` would be an fine namespace, assuming we also add `Results.Typed.*` methods to create the results while preserving the concrete types. Then one would simply need to add the using **or** qualify the type names when using them in the signature, e.g.

[code]
or
[code]

[2022-04-07 21:54] brunolins16 commented on #41009
Do you think we should keep results with the current `object Value` or change them to not have a value at all?

Eg.:
[code]

become
[code]
I prefer to change them but that probably mean the current `Results.*` methods will need to be changed to return `Result` or `Result<object>` based on the input value. Something like this:

[code]
or

[code]

I hope my question is clear? 😂

[2022-04-07 22:27] DamianEdwards commented on #41009
Yep change them I think, and update the `IResult` returning methods like you say.

[2022-04-07 23:01] #40672 closed

[2022-04-07 23:16] DamianEdwards opened #41099 "Update to latest stable version of Microsoft.CodeAnalysis.PublicApiAnalyzers (3.3.3) to fix Roslyn crashing issue"
The repo currently uses version [3.3.0](https://www.nuget.org/packages/Microsoft.CodeAnalysis.PublicApiAnalyzers/3.3.0) of the [Microsoft.CodeAnalysis.PublicApiAnalyzers](https://www.nuget.org/packages/Microsoft.CodeAnalysis.PublicApiAnalyzers/) package, which is causing a stack overflow exception in the compiler if an generic interface is added with a generic `static abstract` method, e.g.:

[cod

[2022-04-07 23:24] mitkins commented on #41080
Sure thing! I dumped out the page source and loaded the following in a `.html` file. The title in that case was the name of the file:

[code]

[2022-04-07 23:33] #40646 closed

[2022-04-08 00:58] captainsafia opened #41102 "Augment performance scenarios for minimal APIs"
In .NET 6, we added some basic test scenarios for minimal APIs around returning plaintext responses and JSON-based responses.

In .NET 7, we introduced newer scenarios to asses the impact of route handler filters.

This issue captures improving our current set of scenarios and adding new ones to reflect key scenarios.

[2022-04-08 01:10] #39951 closed

[2022-04-08 04:03] yangbocheng opened #41103 "dotnet D:/d1/d2/...xx/web1.dll will cause Confusing webroot-path if the command-path is different with web1.dll real path"
## Summary

When use dotnet D:/d1/d2/...xx/web1.dll and the CD comand-base-path is different with web1.dll-real-path.  then the web will start port 5000 and ignore the real appsettings.json and wwwroot.

## Motivation and goals
When i use  dotnet D:/d1/d2/...xx/web1.dll, the web allways get 404 for those resources like xx/js/site.js , xx/css/site.css.
So i have to always CD to  the web1.dll's path

[2022-04-08 05:22] koo9 opened #41104 "RedisHubLifetimeManager OnDisconnectedAsync Exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Running redis backplane for signalR, the app works fine in .net core 5 but failed when upgrade to .net 6.
code for setting up signalR and redis connection:

[code]

### Expected Behavior

should be able to connect to redis successfully.

### Steps To Reproduce

1. set up redis on kubenetes
he

[2022-04-08 06:40] aloksharma1 commented on #40377
@gyankov i have the same issue as you from version 3.1 till now, its not fixed.

[2022-04-08 07:31] WeihanLi commented on #41082
@halter73 thanks for your reply, it's ok for me to use `() => Results.Ok()`

[2022-04-08 07:31] #41082 closed

[2022-04-08 07:35] ssteiner commented on #40822
@adityamandaleeka : Why is this closed? Do you not get the duplicate start, once when you start the app pool, and once when you start the web site?

[2022-04-08 08:21] javiercn commented on #41091
@Pilchie Looked into it, I can reproduce it.

It's an issue with how we do type inference in some scenarios. I thought we fixed this issue, so I'm going to take a look at this scenario to see if the fix was not propagated yet or if this is a different issue.

There is an "easy" fix that can be done here, which is to pass in the type parameter explicitly with TItem="MyClass". That makes the code co

[2022-04-08 08:32] #41085 closed

[2022-04-08 12:48] maikebing opened #41105 "SPA Hot Reload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Microsoft.AspNetCore.SpaServices.AngularCli.AngularCliMiddleware.StartAngularCliServerAsync starts an npm at each debug and shuts down when it stops debugging, which causes the front end to start for a very long time and the front end

[2022-04-08 13:55] notemac commented on #28089
**Having the same problem!**

Environment: .NET 6, ASP.NET Core Web API project, IIS (10.0.19041.320), Windows 21H2 (OS Build 19044.1586).

IIS Configuration:
* ApplicationInitializationModule installed
* preloadEnabled = True,
* startMode = AlwaysRunning
* idleTimeout = 0
* time = 0

Web.config:
[code]

## Test case
1) Start **Application Pool** and 4 files created:
* 23828 2022-04-08 16_38_14.64

[2022-04-08 14:24] jhudler opened #41106 "Provide a component instance capture in RouteView (aka new RouteView.Instance property)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

_No response_

### Describe the solution you'd like

`DynamicComponent` already has the `Instance` property, enabling access to the rendered component instance.

Is there anything against having such feature in `RazorView` component as

[2022-04-08 15:00] javiercn commented on #41105
@maikebing thanks for contacting us.

We've changed the approach we use with the SPA templates on 6.0 and we directly leverage the SPA proxy in front of the .NET backend. Our recommendation is that you switch to that approach that doesn't involve `Microsoft.AspNetCore.SpaServices.AngularCli.AngularCliMiddleware.StartAngularCliServerAsync` and that allows you to use hot reload both on the server an

[2022-04-08 15:31] Pilchie commented on #41091
Thanks @javiercn.

[2022-04-08 15:49] petavalentin commented on #23949
We were also seeing this issue intermittently in .NET5 and .NET6 (didn't try in previous versions). Tweaking the thread pool seems to have "fixed" it:
ThreadPool.SetMaxThreads(32_767, 2_000);
ThreadPool.SetMinThreads(1_000, 1_000);

[2022-04-08 16:12] nvmkpk commented on #36978
In order to bypass default caching of blazor we can set `BlazorCacheBootResources` property to false and implement our own caching in `beforeStart` method and use it to serve the resources through `wasmOptions.loadBootResource`.

[2022-04-08 17:00] #40995 closed

[2022-04-08 17:12] BrennanConroy commented on #41104
Nothing really changed in SignalR in this area between 5 and 6. But I'm guessing what's happening is something in your ConnectionFactory func is throwing and results in a NRE in the RedisHubLifetimeManager code.

Looks like there is some minor fixes we should do in RedisHubLifetimeManager to handle errors a bit nicer.

For now I would wrap your method in a try catch and try to see what the origina

[2022-04-08 17:23] maikebing commented on #41105
Thank you, my problem was solved.

[2022-04-08 17:23] #41105 closed

[2022-04-08 17:35] halter73 commented on #16690
Proposed API update to make this work:

[code]

[2022-04-08 18:02] koo9 commented on #41104
wouldn't that exception cause the same error in .net 5?

[2022-04-08 18:13] BrennanConroy commented on #41104
Maybe, but it would be nice if you could confirm that you're getting an exception from your method. Otherwise it's something completely different.

[2022-04-08 18:31] TanayParikh commented on #41080
I believe this may be a compiler issue. We have a similar problem with `<text>` tags within SVG conflicting with the Blazor `<text>` tag.

https://social.msdn.microsoft.com/Forums/en-US/b7941c81-56e6-4223-84e8-c4bc1a31c636/svg-text-tag-in-foreach-loop?forum=aspmvc&prof=required

[requires permissions to access] https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1509964

[2022-04-08 18:33] TanayParikh commented on #41080
@mitkins can you please try the following as a workaround?

[code]

or:

[code]

[2022-04-08 18:46] TanayParikh opened #41110 "After changing some code in Counter.razor, then click "Hot Reload" button, the Counter button on the home page will disappear."
REPRO STEPS

1. File > New project > Blazor Server App > .NET 7.0 (Preview)  > Create.
2. Build and run the project.
3. Add <Counter /> to Index.razor and click Hot Reload button.
4. Open Counter.razor, update the method IncrementCount(): change "currentCount++;" to "currentCount+=5;".
5. Click "Hot Reload" button, the Counter on the home page will disappear.

ACTUAL:
![52d78d49-8a30-4532-948b-11f

[2022-04-08 18:49] vsfeedback opened #41111 "When doing hot reload, if it must rebuild, add an option to have it start on the page it was last."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/When-doing-hot-reload-if-it-must-rebuil/1688020)._

---
This would speed up development of pages by not having you navigate back to where you were previously. Using Blazor Server.

---
### Original Comments

#### Feedback Bot on 3/10/2022, 03:26 AM:

(private comment, text removed)

[2022-04-08 18:50] hwoodiwiss commented on #41092
I'm happy to pick this up myself if this is something that is wanted.

[2022-04-08 18:51] vsfeedback opened #41112 "Hot Reload still not working in VS2022 v17.2 in aspnet core web app"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Hot-Reload-still-not-working-in-VS2022-v/1670852)._

---
Hot reload is not working in this scenario in VS 2022 v17.2 :

aspnet core web app - css updates do not trigger an update.
aspnet core web app - html updates do not trigger an update.
aspnet core web app - forced manual start butto

[2022-04-08 18:52] vsfeedback opened #41113 "Blazor app.razor NotFound not authorizing"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Blazor-apprazor-NotFound-not-authorizin/1700826)._

---
Within Blazor, the NotFound-routing is not authorized. This allows an unauthorized attacker to detect existing and non-existing items from a rest-based Blazor instance by the HTTP return values 403 and 404.

I would expect that a Bl

[2022-04-08 19:02] TanayParikh opened #41114 "Template 'ASP.NET Core Web App' adds unnecessary usings to Startup.cs"
Impact:
New users can be overwhelmed by having extra information.

Steps to reproduce:

1. Open VS 2022
2. Create a ASP.NET Core Web App
3. Open Startup.cs

Unnecessary usings:
Microsoft.AspNetCore.HttpsPolicy;
System;
System.Collections.Generic;
System.Linq;
System.Threading.Tasks;

![image](https://user-images.githubusercontent.com/14852843/162507753-49ae4789-394e-4715-87dd-70aee2dcaaf6.png)

ht

[2022-04-08 20:04] mqudsi commented on #40719
@mkArtakMSFT this is a regression and should be fast-tracked for a fix, no?

[2022-04-08 20:09] Tratcher commented on #41096
This looks like a usage question rather than a product issue. Such questions are better directed to forums like [Stackoverflow.com](Stackoverflow.com).

[2022-04-08 20:16] Tratcher commented on #41089
While we've addressed some common issues here, the core feature that checks for dotnet is used to find the runtime. Renaming the file should avoid this.

[2022-04-08 20:35] halter73 commented on #41081
Kestrel and IIS don't support half-open TCP connections, so I don't see how that could come into play. It's hard to imagine a proxy or frontend timing out a request backing a SignalR connection just because the client didn't send more data immediately after completing a SignalR handshake.

If this is happening for some strange reason in your case, you could invoke a no-op server hub method right a

[2022-04-08 21:09] TanayParikh commented on #40719
@mqudsi can you please provide a minimal, public, github repro?

---

Stack trace:

https://github.com/dotnet/aspnetcore/blob/29e093cf1b89e2b43b4dc752ff52c50cf8ec4996/src/Mvc/Mvc.Core/src/Builder/ControllerEndpointRouteBuilderExtensions.cs#L594

...

Exception occurs here:

https://github.com/dotnet/aspnetcore/blob/29e093cf1b89e2b43b4dc752ff52c50cf8ec4996/src/Mvc/Mvc.RazorPages/src/Infrastructure/

[2022-04-08 21:16] brunolins16 commented on #41009
Here is my proposal:

### Typed Results static methods

They are almost the same available at  https://github.com/dotnet/aspnetcore/blob/main/src/Http/Http.Results/src/Results.cs

[code]

### New IResult types with type parameter

[code]

Also, the proposal is to change the current types to have a shorter name, move to a new namespace and remove the `object Value` properties:

[code]

[2022-04-08 21:21] captainsafia commented on #39985
This issue still persists. Are we sure the test is not asserting for the wrong types?

[code]

[code]

It seems to me like something is returning the exception using runtime types instead of our wrappers around them.

Recently failure happened in [this run](https://dev.azure.com/dnceng/public/_build/results?buildId=1707103&view=ms.vss-test-web.build-test-results-tab&runId=46471618&resultId=120025&

[2022-04-08 21:38] yepeekai opened #41149 "dotnet publish --no-build on ubuntu fails with error: Manifest file at '/someFolder/staticwebassets.build.json' not found."
I am trying to optimize the build on azure devops.  I build all projects in a previous task with dotnet build --configuration release.
I force the use of dotnet 6.0.x which is 6.0.201 at the moment.

I then execute the following command:
/opt/hostedtoolcache/dotnet/dotnet publish /home/vsts/work/1/s/mywebproject /mywebproject .csproj --configuration release --output /home/vsts/work/1/a/mywebprojec

[2022-04-08 21:44] TheXenocide commented on #27457
Hi there! We use the Ignitor tool for stress testing internally and I can't help but notice that the project has been deleted in the main branch. Does this mean this ticket is being abandoned? How will we stress test our Blazor-server app in the future?

[2022-04-08 22:40] mitkins commented on #41080
I tried the first option, adding the `<text>` element didn't help. When I try the second option, I get a red squiggly line on the `:`

![image](https://user-images.githubusercontent.com/1645205/162542843-58d8a875-6db5-4cf1-96f6-15ffab2869c1.png)

This is the error:

[2022-04-08 22:44] davidfowl commented on #41103
The content root defaults to cwd because in development we don’t want to have to copy files to the output folder to see static file changes. You can easily set the content root via an env variable or command line argument to change this.

[2022-04-08 23:43] DamianEdwards opened #41117 "Change EndpointMetadataContext/EndpointParameterMetadataContext classes to use constructors to set property values"
[code]

[2022-04-08 23:57] Alerinos opened #41119 "Error when using components in if blazor server side"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

is if:
![image](https://user-images.githubusercontent.com/42449535/162547339-61ced044-e261-48c2-969a-df215d2de09d.png)
not if, work:
![image](https://user-images.githubusercontent.com/42449535/162547356-ab9dcacf-9d31-45e4-9b97-566230f7b921.png)

Code:
[code]

Row.razor
[code]

Col.razor
[code

[2022-04-09 00:17] BrunoBlanes opened #41120 "Allow property navigation for `ChildComponent` rendering when using `CascadingTypeParameter`"
### Is your feature request related to a problem? Please describe the problem.

I am trying to simplify my `Table` component design for the consumer of my library. Currently it is implemented as follows:

### Table.razor
[code]

### TableColumn.cs
[code]

### Usage
[code]

### Describe the solution you'd like

I'd like for the end user to be able to define the table as follows:

[code]

I've tried

[2022-04-09 04:12] icnocop opened #41121 "Small grammar mistake in ./wiki/Engineering-guidelines#coding-guidelines"
Hi.

I noticed a small grammar mistake in https://github.com/dotnet/aspnetcore/wiki/Engineering-guidelines#coding-guidelines

Should read:

Thank you.

[2022-04-09 05:17] janakiramangara opened #41122 "Dontnet core 3.1 --->6.0 both the cases Error: rzc generate exited with code -2147450730"
Severity	Code	Description	Project	File	Line	Suppression State
Error		rzc generate exited with code -2147450730.	WebApplication3	C:\Program Files\dotnet\sdk\6.0.103\Sdks\Microsoft.NET.Sdk.Razor\targets\Microsoft.NET.Sdk.Razor.CodeGeneration.targets	150

Unable to build any MVC project in VS2019, VS2022 also. OS: Win11.

[2022-04-09 05:43] commonsensesoftware commented on #39604
@halter73 API Versioning has an official Preview release with this support. As expected, the community is immediately champing at the bit for parity with the [OpenApiRouteHandlerBuilderExtensions](https://github.com/dotnet/aspnetcore/blob/main/src/Http/Routing/src/Builder/OpenApiRouteHandlerBuilderExtensions.cs). In my attempt to appease the masses, I realized that the current state of the union i

[2022-04-09 05:48] koo9 commented on #41104
here's what I did. downgrade to .net 5 build, deploy to kubenetes, works fine. upgrade to .net 6 build, deploy. got exceptions. The thing is I dont' see any exceptions when running .net 5.

[2022-04-09 07:47] CommonLoon102 commented on #27457
@TheXenocide Hi! Can you point me to that Ignitor tool? Is it publicly available for everyone?

[2022-04-09 14:25] ziaulhasanhamim opened #41125 "Asp.Net Core identity with source generators"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Almost every web app needs some kind of authentication. And it requires quite a lot of code if we want to do it from scratch. Asp.Net Core Identity Simplifies this process a lot. But the main disadvantage is that authentication is very

[2022-04-09 15:56] HybridSolutions opened #41126 "Blazor Server RuntimeCompilation like in Razor pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I'm using a Blazor component as a template for a page. I'm using Razor pages and Blazor Server on the same project. This .razor file only has HTML and 2 or 3 Blazor components in it. Everything works fine except that if this .razor fil

[2022-04-09 16:36] TanayParikh commented on #41122
Unfortunately we don't think we have enough information to help. Could you report this through the visual studio report a problem dialog? (Details [here](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio))

That will capture more information about the environment and will help in the troubleshooting process.

In the meantime you can also try cleaning the

[2022-04-09 16:37] TanayParikh commented on #41121
Thanks, updated!

[2022-04-09 16:37] #41121 closed

[2022-04-09 18:20] davidfowl commented on #41125
Can you elaborate? What would the source generator do and how would it work?

[2022-04-09 19:44] Haraldi-Coding commented on #25000
Thank you so much, that did the trick!

[2022-04-09 20:00] #40071 closed

[2022-04-09 20:00] #39795 closed

[2022-04-09 20:58] commonsensesoftware commented on #36007
@halter73

This is a pretty good start. I'm not sure if there is a lot of benefit to a separate interface, but `GroupRouteBuilder` **must** not be `sealed` and have a `public` constructor if it doesn't not implement it. Even if it does, there should be a really good reason to make it inextensible. As an extender that has bitten me many, many times.

Since the design will be an extension method on

[2022-04-09 22:00] #41089 closed

[2022-04-09 22:00] #41096 closed

[2022-04-09 22:13] HybridSolutions commented on #6348
How is this progressing? We're using .NET 6 and still the following will not work in a View Component (Razor Pages):

[code]

[2022-04-10 01:31] ziaulhasanhamim commented on #41125
Services, Db Provider, Entity Validation, etc will be generated according to needs.
[code]
[code]
[code]
[code]
So it becomes very very customizable without writing much code. And this example wasn't that great. But the source generators for authentication can be extended in many ways.

[2022-04-10 02:07] HybridSolutions opened #41127 "Razor Pages UserControl replacement"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Razor pages do indeed support components, but they are for rendering views only. Developing modular applications and promoting reuse of UI blocks is very hard with Razor Pages.

### Describe the solution you'd like

Please consider imp

[2022-04-10 02:31] HybridSolutions commented on #40563
+1 from me. Could be a solution to what I'm asking [here](https://github.com/dotnet/aspnetcore/issues/41127) as long as these custom tag helpers could be compiled into a class library and reused on other projects.

[2022-04-10 06:27] davidfowl commented on #41125
If you can detail a design (even if it's a proof of concept) it would have a better chance at happening. Ideally there would be before and after to understand what was being saved here and a list of pros and cons.

[2022-04-10 06:43] davidfowl commented on #41104
That might be the case, but other things might have changed so we're trying to get more information to narrow down the issue.

[2022-04-10 08:57] ziaulhasanhamim commented on #41125
Yeah [that's](https://github.com/dotnet/aspnetcore/issues/41125#issuecomment-1094155159 ) a proof of concept. The basic idea here is that authentication varies a lot from application to application so the identity library will provide a bunch of attributes using which people customize according to their needs. People will only get what they need. Authentication code will be optimized for their spe

[2022-04-10 09:10] javiercn commented on #41126
@HybridSolutions thanks for contacting us.

There is already a feature for it called Hot Reload in .NET 6.0. We don't have plans to implement the equivalent of Runtime compilation for Razor Components as they work in a very different way compared to razor pages.

The way to see changes in Blazor Server applications while the app is running is to do so using Hot Reload.

[2022-04-10 09:14] javiercn commented on #41120
@BrunoBlanes thanks for contacting us.

You can already do this by passing a RenderFragment<T> instead of a RenderFragment. It's not clear that we are missing anything here.

Your child content in Table.razor as well as in TableColum.razor need to be `RenderFragment<T>`, but afterwards, it should work.

[2022-04-10 09:15] javiercn commented on #41119
@Alerinos thanks for contacting us.

Can you provide a minimal repro project as a public github repository so that we can make progress on this issue?

[2022-04-10 09:17] javiercn commented on #41114
@TanayParikh that's a good catch.

I'm surprised to see those there. @DamianEdwards do you know about this?

Also @TanayParikh what version are you using? That seems to be 5.0 or 3.1 based on the fact that there is a startup class. Not sure if we care a lot about 3.1 and 5.0 templates at this point.

[2022-04-10 09:33] HybridSolutions commented on #41126
Hot reload dies not work in production server. It's only valid while you are developing. How do you have a designer update a minor html piece of a already deployed website without having to ask a developer to recompile the whole thing?!

It's a real problem and I'm not the only one complaining about this.

This also prevents the usage of templates because you can't tweak the html or even change an

[2022-04-10 09:33] javiercn commented on #41113
Thanks for contacting us.

It's not super clear what the issue you are mentioning seems to be. You shouldn't base the security of your app on your client-side rules. It's imperative there is always server validation and if you are lacking that on the server the issue is there.

However, I would like to point out that there is a way to report potential security issues confidentially and that we off

[2022-04-10 09:52] Alerinos commented on #41119
@javiercn
https://github.com/Alerinos/ErrorComponent

[2022-04-10 10:08] javiercn commented on #41127
@HybridSolutions thanks for contacting us.

We believe that Blazor Server is the natural replacement for the event-based web forms model and that's what we recommend people to switch to. We don't have plans to add features to MVC or Razor Pages to support this paradigm.

[2022-04-10 10:19] javiercn commented on #41093
@JoshClose thanks for contacting us.

For docker scenarios it is recommended that you run the .NET app separately from the SPA frontend during development.

You can disable the automatic SPA launch from the .NET app and run it inside the container and then start the SPA frontend manually with `npm run start` in the host during development.

[2022-04-10 10:49] HybridSolutions commented on #41127
I think Blazor is great but as I said, not being able to have a designer make even subtle changes to html code, and I mean not even touching any c# code, without having to be forced to manually recompile an entire project is just insane. Try that with a team and it just doesn't work. Really hope someday. NET team realizes this and finds a way of solving this problem. Thank you.

[2022-04-10 11:58] blowdart commented on #41125
While you're right when you state "_authentication varies a lot from application to application_" I'm unconvinced that attributes and source generators would solve the problem. The problem itself is the variation.

If I can take your examples as a starting point

- A single true or false in CanSignIn() isn't enough. One variation could be based on time, or IP address. That can't be indicated with

[2022-04-10 12:42] Skulblaka opened #41128 "Add support for using "Label Templates" (like Display Templates and Editor Templates)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I work on a project with many custom `DisplayTemplates` and `EditorTemplates`. So far, the default label generated by using `LabelFor` has been sufficient for, but now I'd like to implement custom labels.

### Describe the solution you

[2022-04-10 14:43] BrunoBlanes commented on #41120
Thanks, with your help and the help of [this article](https://docs.microsoft.com/en-us/aspnet/core/blazor/components/templated-components?view=aspnetcore-6.0) I got it working. I'm gonna go dig myself a hole to cry on in fetal position for all the hours I spent on trial and error now...

[2022-04-10 14:43] #41120 closed

[2022-04-10 15:34] davidfowl commented on #41125
@ziaulhasanhamim I'd encourage you to implement something (preferable OSS on github) and publish a nuget package. That will help gauge interest and feasibility.

[2022-04-10 16:09] davidfowl commented on #41127
@HybridSolutions Is it to make quick fixes to HTML or something more permanent?

[2022-04-10 16:30] HybridSolutions commented on #41127
Don't quite understand your question. Are you asking about changes in a Razor Component? If yes, then it's any kind of changes. Change the class btn-primary to btn-danger on a button inside a component and there you go, call the development guy because we need to recompile the whole website and deploy it again to the web server.

[2022-04-10 16:41] davidfowl commented on #41127
Those fixes are made to the deployed assets. I'm assuming its about making quick fixes to the site that a developer will eventually also make in the main source (which will be redeployed eventually).

So the idea here is that there are non developers making changes to the HTML only in production right? Not the original source (or maybe they do that as well).

I'm trying to get an understanding of

[2022-04-10 17:56] HybridSolutions commented on #41127
First of all thank you for your interest. I'm going do describe exactly the workflow we have. We have our own CMS built on webforms and we are starting to prepare the transition to .NET 6 by using Razor Pages + Blazor.

Currently, our solution is deployed to each client host, and our designers create custom HTML templates (usercontrols - *.ascx) that have a couple server controls in it that define

[2022-04-10 19:00] #41122 closed

[2022-04-10 19:57] CodeFontana commented on #38212
Had the same issue with VS 17.1.3, and this resolved it:

[code]

Documented in the answers here:
https://stackoverflow.com/questions/64833632/blazor-css-isolation-not-working-and-not-adding-scope-identifiers-after-migratin

Found these issues on the same subject:
https://github.com/dotnet/aspnetcore/issues/28911
https://github.com/dotnet/aspnetcore/issues/28174

#28174, references this article, w

[2022-04-10 20:19] TanayParikh commented on #41114
This was a user reported issue (https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1422801), I just copied over the contents so we can better track it via GitHub (transfer via Migration bot wasn't an option). The user did not specify the version they're using, and we do not have any logs to determine that directly. I've reached out to the user and will reply back here should we get more info.

[2022-04-10 20:52] davidfowl commented on #41127
Ah hah! CMS! That's what I was looking for! Thanks for the details.

[2022-04-10 22:24] Marusyk commented on #40895
@Tratcher
Could you please explain how it will work because the problem is in that the Base and Derived logger will be the same.
Look:

[code]

Then the log will be:

and the logger name for both is `MyAuthenticationHandler`. How to disable logs from `AuthenticationHandler` (AuthenticationScheme: MyAuthenticationScheme was challenged.)?

[2022-04-10 23:20] captainsafia commented on #40753
We've generally gone for the approach of adding individual support for each of the new types that were added (see [here](https://github.com/domaindrivendev/Swashbuckle.AspNetCore/pull/2210) and [here](https://github.com/domaindrivendev/Swashbuckle.AspNetCore/pull/2173)).

Moving forward, we'll be relying on the Micorosft.OpenAPI stuff for annotating this stuff directly (see [this](https://github.c

[2022-04-11 00:11] Marusyk opened #41130 "Multiple Authentication Schemes Validation chain behavior"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have multiple custom Authentication Schemes like BasicAuth and ApiKey.
For BasicAuth and ApiKey there are AuthenticationHandlers
[code]
I need to allow access to any of the schema. So there is the action:
[code]

- When I use Basic credentials in the `Authorization` attribute - it fails val

[2022-04-11 00:28] captainsafia opened #41131 "Quarantine ClientCertificate_NoOrDelayed_Available_Ignored"
## Failing Test(s)

- Interop.FunctionalTests.Http3.Http3TlsTests.ClientCertificate_NoOrDelayed_Available_Ignored(mode: NoCertificate)
- Interop.FunctionalTests.Http3.Http3TlsTests.ClientCertificate_NoOrDelayed_Available_Ignored(mode: DelayCertificate)

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[code]
</details>

## Build

- https://dev.azure.com/dn

[2022-04-11 00:32] HybridSolutions commented on #41127
Is that a good thing? I'm not crazy? 😃

[2022-04-11 00:39] ziaulhasanhamim commented on #41125
@davidfowl yeah I got your point.

[2022-04-11 00:56] ziaulhasanhamim commented on #41125
@blowdart I can understand that even source generation can't even fully solve the problem of customizable authentication. But it can surely improve the customizability.

CanSignin will consider all the factors to give a result on whether the user is eligible for login or not. And don't forget about the configuration we do in DI containers for identity. That will also be available for configuring t

[2022-04-11 01:08] yangbocheng commented on #41103
thanks~, I understand this is designed to facilitate the use of the dotnet run command.? However, maybe that instructions such as dotnet /xx/x/web.dll are usually used to start the real program. At this time, it will reduce the configuration(like set env variable or command argument) and reduce that start-up errors if the contentroot path is set to the assembly path

[2022-04-11 01:48] captainsafia commented on #40514
We've added performance tests for some basic scenarios with minimal APIs and route handler filters.

- A route handler with no parameters and no filter
- A route handler with no parameters and a "pass through filter"
- A route handler with parameters and a "pass through filter"
- A route handler with parameters and a filter

All the route handlers above tested on a string input/output for the rout

[2022-04-11 02:22] v-yuwzh opened #41133 "Add the code in Counter.razor, press Ctrl + F5 then delete this code, error "ENC0033 Deleting auto-property 'IncrementAmount' requires restarting the application" pop up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

INSTALL STEPS
1. Clean machine: Win10 x64 ENU 20H1 (2004)
2. Install Dev17.2 Preview 3 [[main-32330.462](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5961044&view=ms.vss-build-web.run-extensions-tab)] VSP
Select Web + Azure workload
Check .NET Core 5.0/3.1/2.1 runtime under I

[2022-04-11 02:55] davidfowl commented on #41130
This is by design. See https://github.com/dotnet/aspnetcore/issues/40820 for an example of how or chain auth schemes.

[2022-04-11 03:09] davidfowl commented on #41127
No but it’s not a typical server side application. Dynamic compilation has been relegated to advanced scenarios where you may opt in and a CMS is one of them. We generally don’t feel the need to provide first class features optimized for CMS scenarios but are open to extensibility points to make building these sorts of scenarios easier.

Also there are some CMS platforms that were migrated to ASP.

[2022-04-11 03:31] davidfowl commented on #41127
Also blazor components can have code behind instead of code inside of them. The compilation model (making changes to files outside of source) and the separation of code and html are different concerns.

[2022-04-11 03:51] davidfowl commented on #41103
That's not a change we're going to make (and it's a major breaking change) but you can change it for your application.

[2022-04-11 04:56] davidfowl commented on #41073
We contemplated this but it wasn't clear what the duration would be? Mean request time? Is that helpful? It would be better if we had individual metrics with the request path and method as dimensions then it would be possible to look at durations for specific requests.

[2022-04-11 04:57] davidfowl commented on #41039
Can you clarify what build arguments means? Can you show some code on what you're trying to accomplish?

[2022-04-11 05:17] davidfowl commented on #41126
There's a directional change here that has been made intentionally that moves away from runtime compilation and back to compilation at build time. That's the journey ASP.NET Core has taken and it simplifies pretty much everything about the application and improves performance.

The runtime compilation has been slowly moved out of the mainline scenario (and is now completely external package in .NE

[2022-04-11 07:02] HybridSolutions commented on #41127
I'm sure you know Oqtane. Well, it  suffers exactly from what I described. You can't update template html without recompiling. I must say that I first found this issue while playing a bit with that platform and I started to become nervous. When you say CMS platforms already tackled this, I'm not so sure about that. At least Oqtane, one of the best examples out there did not and suffers from the is

[2022-04-11 07:15] zackliu commented on #41081
The ping from client is the key to start checking timeout in Server side. If client dies before the first ping, the server side never knows whether the client has dead or use a version without ping.

https://github.com/dotnet/aspnetcore/blob/70d7f5f9e02c84084daec2f6666decd343e56b46/src/SignalR/server/Core/src/Internal/DefaultHubDispatcher.cs#L162

[2022-04-11 08:00] #39873 closed

[2022-04-11 08:53] lonix1 commented on #39873
This shouldn't be locked - it hasn't been addressed.

[2022-04-11 09:26] yangbocheng commented on #41103
That's all right for me. But it's better to give some tips in dotnet docs to avoid this usage,
I'm guessing that many people have tried the usage of dotnet /x/x/web.dll, they may find the same error, or the css.file miss, or the appsettings.json file seems to be invalid after a lot of time

[2022-04-11 09:49] sergiuciudin commented on #23949
For us is happening in high load for all services that are using following code:

`var reader = new StreamReader(Request.Body, Encoding.UTF8);
        string payload = await reader.ReadToEndAsync();`

Note: timeout is long enough, so connection is not closed.

[2022-04-11 10:00] #41113 closed

[2022-04-11 10:27] petavalentin commented on #23949
Seems similar with our code. For us the timeout was not reached too. If I were you, I would try tweaking the ThreadPool as mentioned in the previous comment. Even if it was not obvious from the exception message, we were actually having a thread starvation issue.

[2022-04-11 10:39] glenn-kallidus commented on #18042
Any update on this?

[2022-04-11 11:05] HybridSolutions commented on #41127
Hi,

after researching a bit and thinking this over, we've found a way to overcome this issue but since we're just getting started with this approach I'm not sure of which problemas may arise when introducing some other required features. Fingers crossed!

So, here's a video of how using Razor Pages for the page (Runtime Compilation Package installed), View Components for the Zone component, Parti

[2022-04-11 14:47] TheXenocide commented on #27457
@CommonLoon102 it wasn't officially supported and is no longer in the main branch, but you can still find it in the 6.x tags:

https://github.com/dotnet/aspnetcore/tree/v6.0.4/src/Components/Ignitor

Unfortunately without it I'm not aware of any efficiently scalable option for generating significant load on the Blazor server circuit without using thousands of actual browsers (not feasible in our e

[2022-04-11 14:52] blowdart commented on #41125
We'll disagree on the default option here :)

I'd agree with David here, try it yourself as a proof of concept and lets were where it goes.

[2022-04-11 15:05] davidfowl commented on #41127
No need to apologize, but there's no quick fix for this that will happen on our side and we haven't even decided to tackle the problem for Blazor. Supporting the runtime compilation model is ALOT of work and isn't even planned so I'd expect anything you want to work from a Blazor POV will be incompatible with that runtime compilations model, so I would avoid it for now if that's a hard requirement

[2022-04-11 15:07] Xriuk commented on #8857
No updates?

[2022-04-11 15:46] BrunoBlanes commented on #41120
Quick question, is it possible to know when `@ChildContent(T)` will return `string.Empty` or `null`?

[2022-04-11 17:19] #41114 closed

[2022-04-11 17:37] mkArtakMSFT commented on #41119
Thanks @Alerinos.
@jaredpar this looks like a compiler issue. I think it's worth validating the repro provided to confirm that this indeed behaves as stated and take from there.

[2022-04-11 17:45] mkArtakMSFT commented on #39938
@Gambero81 did you try the suggestion provided by @Xaeco?

[2022-04-11 17:52] mkArtakMSFT commented on #41112
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2022-04-11 17:54] mkArtakMSFT commented on #41093
Thanks for clarification, @JoshClose.
@javiercn parking this on our backlog to update the docs with your suggestion above.

[2022-04-11 17:56] #40637 closed

[2022-04-11 18:09] halter73 commented on #36007
API Review:

- Let's rework on `OfBuilder<BuilderType>(builder => ...)` so it doesn't require a callback
- Let's remove `IGroupEndpointDataSource` since that just supports `OfBuilder`.

[code]

We do not expect methods to target `GroupRouteBuilder` but instead `IEndpointRouteBuilder`, `IEndpointConventionBuilder` or `IApplicationBuilder` directly, so hopefully it won't be too important to construc

[2022-04-11 18:16] halter73 commented on #41097
API review:

This is filling a gap. Approved.

[2022-04-11 18:23] halter73 commented on #41117
Approved. Constructors seem like the best way to avoid uninitialized properties for context types.

[2022-04-11 18:39] commonsensesoftware commented on #36007
Fair enough. I can't say for sure until I have code in hands to play with. I'm definitely concerned about having to duplicate or fork code for API Versioning to maintain feature parity and still keep the _Minimal_ in Minimal APIs (as is the case with `6.0`). I totally agree that extension methods should only target the interfaces, but with `GroupRouteBuilder` inextensible, it may not be possible t

[2022-04-11 18:59] #41097 closed

[2022-04-11 19:04] wtgodbe commented on #40395
Should be fixed by https://github.com/dotnet/sdk/pull/24794 https://github.com/dotnet/sdk/pull/24795 https://github.com/dotnet/sdk/pull/24796

[2022-04-11 20:19] Marusyk commented on #41130
Thanks, however, there is not enough information about the behavior. I didn't find the answer to why this is by design.

[2022-04-11 20:26] jormenjanssen commented on #35077
Exposing a http listener / tcp listener is no problem at all we're doing this currently with our Xamarin solution. Mobile os'es like Android and IOS are working out of the box with the solution below. For your third party concern it's easy to fix this by simply adding an authentication header on a custom Webview renderer. I think the solution with JS interop is a lot hackier way to run a real worl

[2022-04-11 20:29] BrunoBlanes opened #41138 "Allow knowing before render if `RenderFragment<T>` will return null or empty"
### Is your feature request related to a problem? Please describe the problem.

I am trying to set a placeholder value for when the component's `Value` parameter is `default(TItem)`, `new()` or `null`.

I've tried the following but it does not catch `new()`:
[code]

### Describe the solution you'd like

I'd like to be able to check if `@ChildContent(Value)` will return an empty value or not, maybe

[2022-04-11 20:42] alex-jitbit opened #41139 "SignalR: AllowAnonymous and Authorize don't play well together under Windows authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I need to authenticate users in SignalR, **but allow anonymous users too**. So I added both `[Authorize]` and `[AllowAnonymous]` attributes like this StackOverflow answer suggests: https://stackoverflow.com/questions/63844687/signalr-hub-authenticate-users-but-allow-anonymous-users-too

[code

[2022-04-11 22:07] halter73 commented on #41103
@davidfowl @yangbocheng What docs should be updated and what should they say?

[2022-04-11 22:13] halter73 commented on #40255
Triage: It doesn't look like there's anything left for us to do here.

[2022-04-11 22:13] #40255 closed

[2022-04-11 22:15] halter73 commented on #41084
Triage: Agreed with the above. We like the idea of an extension method for HeaderNames, but it wouldn't work today on a static class. We could consider an extension point like `Microsoft.AspNetCore.HttpResults.Extensions`, but I doubt we'd do it.

[2022-04-11 22:15] #41084 closed

[2022-04-11 22:29] halter73 commented on #41081
I see. It's SignalR itself timing out the connection too slowly. I thought it was some proxy timing out the connection for a lack of keep alive. It does make sense to expect some payload over the transport from newer clients to start the connection. We're tracking this with #23794.

[2022-04-11 22:29] #41081 closed

[2022-04-11 22:30] halter73 commented on #23794
We should make this automatic for newer clients, so they can opt-in to this. Not for security, but to notice issues like those described in #41081 sooner.

[2022-04-11 23:26] wtgodbe commented on #37406
@janvorli @mthalman @NikolaMilosavljevic do we have images we can use for this?

[2022-04-11 23:28] dougbu commented on #37473
Let's close this since the last report is old enough the build no longer exists. We should investigate these failures more quickly to avoid losing the information necessary to figure out what's wrong.

[2022-04-11 23:28] #37473 closed

[2022-04-11 23:29] dougbu commented on #37620
Let's close this since the last report is old enough the build no longer exists. We should investigate these failures more quickly to avoid losing the information necessary to figure out what's wrong.

[2022-04-11 23:29] #37620 closed

[2022-04-11 23:35] mthalman commented on #37406
Not that I know of. The https://github.com/dotnet/dotnet-buildtools-prereqs-docker repo is a self-service repo where product teams can make PRs to define/update Dockerfiles that meet the needs of their repos. That's the process that should be followed for this.

[2022-04-11 23:38] halter73 commented on #38212
What's wrong with just the following @CodeFontana?

[code]

[2022-04-11 23:39] #41117 closed

[2022-04-11 23:53] CodeFontana commented on #38212
@halter73
![image](https://user-images.githubusercontent.com/41308769/162851370-e2dcf009-38d2-4550-907a-7c2e85bec0c4.png)

[2022-04-11 23:58] captainsafia commented on #38212
I outlined the reason the exception happens [here](https://github.com/dotnet/aspnetcore/issues/38212#issuecomment-967756669).

Using `UseWebRoot` before `UseStaticWebAssets` replicates the behavior that the underlying bug fix would do here (setting `wwwroot` as the default in the host context).

[2022-04-12 02:55] CDEngineer opened #41142 "MetadataTypeAttribute (still) does NOT work for Blazor WASM (.NET 6)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The MetadataTypeAttribute class is (still) not working for Blazor WASM.

I am following the instructions found in the official documentation.
https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.metadatatypeattribute?view=net-6.0

This was supposed to be fixed for

[2022-04-12 03:31] TanayParikh commented on #41142
Hello @CDEngineer, thanks for reaching out. This appears to be a duplicate of https://github.com/dotnet/aspnetcore/issues/39938, so I'm closing out this issue. Have you tried out https://github.com/dotnet/aspnetcore/issues/39938#issuecomment-1006945517?

[2022-04-12 04:26] JamesNK opened #41143 "Order KestrelTrace by event ID"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

During a refactor some Kestrel trace log methods were reordered to group them together by logic. This makes it difficult to understand what event IDs (an incrementing number) are used, and what the next event ID should be.
 https://github.com/dotnet/aspnetcore/blob/c00e0e775208cb7cb377f9bd0c8

[2022-04-12 04:40] JamesNK commented on #41143
An alternative suggestion is:

* Split KestrelTrace into multiple files, based on category (i.e. general, connection, HTTP/2, HTTP/3).
* Each partial type file has its own private static type. Log generation happens on this type.
* Each category starts using independent event IDs

e.g.

KestrelTrace.Connections.cs:
[code]

[2022-04-12 06:57] darcome opened #41145 "Request Body as a string."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am trying to log every request in the database and I am interested in the body too since my project is a Minimal API. As it stands, reading the body in a middleware involves opening it as a buffered stream so that it can then be read

[2022-04-12 07:00] #41126 closed

[2022-04-12 07:22] Zqasim132 opened #41146 "Getting the event Notification on Sql Server Disconnection in ADO.Net"
I want to get a SQL Server disconnection event notification in my Database Service which is built in .NET 6 with ADO.net.
Actually for now we are detecting the connections health or state by continuously executing a select query in a separate Thread after a specific time intervals.
I want a behaviour like SignalR when server is shut down or if any network error occurs it gives an event notificatio

[2022-04-12 10:37] NameIsShubham opened #41147 "The front end text boxes width is minimized after running them this is happening for next 2 weeks"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Describe the bug

In our dot net project we have used bootstrap for styling the front end but now when we open it the width of text boxes are shorter and the whole front end has been looking strange this is happening 2nd time in a week . We even try to run it on older version but the same problem is seen their

[2022-04-12 12:34] CDEngineer commented on #39938
Hello @Xaeco, I am learning Blazor, could you please take a quick look at my demo (is very, very simple code, I promise) and show me where I have to use that line of code? I tried several places with no success. Thanks in advance!

[2022-04-12 13:58] drauch commented on #40866
As far as I can see I do not have runtime compilation turned on in my sample above. Is it on by default?

[2022-04-12 15:10] adams85 commented on #40866
No, it's not on by default either in the `dotnet new` templates or in your repro project. [Here](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-6.0&tabs=visual-studio) it is how you enable it.

What's even more puzzling is that I tested the repro project you submitted and it works for me without errors, although I'm on SDK v6.0.201 too... I needed to make t

[2022-04-12 15:14] drauch commented on #40866
That's very weird. I'm also on Win10 for what it's worth. I think we will have to wait for officials...

[2022-04-12 15:37] aterbo commented on #39938
I never managed to make this work satisfactorily either. It seems like something that either should be addressed or clearly added to the documentation where to make the `.AddProviderTransparent` call suggested by @Xaeco.

[2022-04-12 15:39] HansGuckInDieLuft commented on #41113
This request has sadly been closed too early. It is *not* resolved, and the response to prefer server-sided authorization is *not* correct: this is simply not working: Even though restricting access to a user group in a Blazor server app, an unauthorized user may still call inro the app with a query string, bypassing the authorization, when not found. So, it is an issue. Please try out yourself be

[2022-04-12 15:40] javiercn commented on #41147
Thanks for contacting us @NameIsShubham .

It looks like this is a question about how to use Bootstrap. We can't tell there is any framework specific issue with ASP.NET Core here. We would suggest you post on Stackoverflow or a similar site to get a better and faster answer to your problem.

If you still think this is an issue with ASP.NET Core, provide a minimal repro project with detailed steps

[2022-04-12 15:45] BrunoBlanes commented on #41138
So how can you check if the templated property is null since you don't have access to it from within the container? You can check if `Value` is null, but not `Value`'s property, which is what we are displaying here.

[2022-04-12 15:52] javiercn commented on #41113
@HansGuckInDieLuft thanks for the additional details.

From the information provided, we don't have enough information to determine there is a security issue in the framework.

If you think you've found a security issue, please report it through the mechanism provided above with a minimal repro project as well as clear repro steps and a detailed description on the issue found so that we can evalua

[2022-04-12 16:01] javiercn commented on #41138
@BrunoBlanes I'm missing something.

`@ChildContent` is a `RenderFragment<T>`. It doesn't return anything. It calls methods on a `RenderTreeBuilder`. It's not clear to me what you mean by `new()` as in a just created object? There's nothing in C# that will tell you that.

[2022-04-12 16:21] BrunoBlanes commented on #41138
I'm sorry, I might not have provided enough information. I am trying to display a placeholder value for when the bind property is equal to `null`, `default` or `new()`. Take a look at the following example:
[code]

And the model looks like:
[code]

In this example, I have initialized `newDogColour`, but `ColourName` is `null` and I am using the `ColourName` property of the model to display the dro

[2022-04-12 16:38] mkArtakMSFT commented on #41106
Thanks for contacting us and your willingness to send a PR.
For now we're not sure whether this will be a useful feature for a large number of customers.
Hence we would like to keep this issue on our backlog to accumulate more feedback. Depending on the feedback we receive here in the future we'll choose either to do something here or will close this.

[2022-04-12 16:46] mkArtakMSFT commented on #40454
Thanks for contacting us. This is a dupe of https://github.com/dotnet/sdk/issues/23972

[2022-04-12 16:46] #40454 closed

[2022-04-12 16:49] mkArtakMSFT commented on #41149
Thanks for contacting us, @yepeekai.
@javiercn can you please look into this? Thanks!

[2022-04-12 16:52] navidmatin opened #41150 ".NET SignalR client getting stuck sending messages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Since updating to v5.0.10 or newer of the .NET SignalR client (from v3.1.5) we have noticed that some of the clients get into a state that causes connections to lock up. This causes the client to go offline without closing the connection or triggering our client reconnect logic.
The initial o

[2022-04-12 16:56] navidmatin commented on #41150
For the `StopAsync` method not respecting the `CancellationToken` I was thinking to put up a PR and update [`StopAsyncCore(bool disposing)`](https://github.com/dotnet/aspnetcore/blob/main/src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs#L475) to accept a cancellation token and pass this cancellation token to https://github.com/dotnet/aspnetcore/blob/main/src/SignalR/clients/csharp/Clien

[2022-04-12 18:08] TheWayTC opened #41152 "Length client side validation of HTML Select isn't working properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Data Annotations StringLength for client side validation of HTML Select isn't working properly. After some testing, it looks like the client side validation thinks the length of an HTML select value is always 1 (assuming something is actually selected). All server side validation is working f

[2022-04-12 18:09] IssaSaman commented on #40609
It's the same issue for me also.
the last update has too many issues !!!

`services.AddRazorPages().AddRazorRuntimeCompilation();`

this line will solve the issue until Microsoft fix this

[2022-04-12 18:15] BrennanConroy commented on #40614
Patch is out, original issue should be resolved.

[2022-04-12 19:35] #40395 closed

[2022-04-12 20:53] halter73 commented on #41009
https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/nested-types

I think this case might be the exception to the rule, but I'm not sure if there's any precedent for this which has me a little bit worried.

An alternative might be a static property, but I'm not convinced that's really better. It seems like it would just increase the surface area of the API by requiring us to add a n

[2022-04-12 20:59] DamianEdwards commented on #41009
Yeah I originally wrote it as a new type and a static property like you said, but it just adds more type surface. The other alternative would be to just introduce a new `static class TypedResults` that's the typed-equivalent of `Results` and have people access methods on that directly, e.g. `return TypedResults.Ok()`

[2022-04-12 22:23] TanayParikh commented on #41147
Hello @NameIsShubham, thanks for contacting us. It appears you're using .NET Framework 4.7. Please note, this repo is specifically for ASP.NET Core. If you believe this is an issue with .NET Framework, please report it within the Visual Studio `Report a Problem` dialogue so it may be directed to the appropriate team.

[2022-04-12 22:23] #41147 closed

[2022-04-12 22:41] alex-kuhl opened #41159 "[signalr-client-c++] Client does not send access_token for calls after negotiate."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

During the call to negotiate, the client receives a jwt "access token" that is used to complete it. However, this data is not included in future calls for auth purposes. This does not match the behaviour of the javascript signalr client.

### Expected Behavior

When the server receives a call

[2022-04-12 22:45] BrennanConroy commented on #41159
Look at the headers, you should be getting an Authorization header. Also, there should never be an "access_token" in the query for any http requests from the client.

[2022-04-12 22:49] Marusyk commented on #41130
But the problem was not solved

[2022-04-12 22:50] Marusyk commented on #41130
/unresolve

[2022-04-12 23:12] alex-kuhl commented on #41159
Hey again Brennan, thanks for the quick response.

I may be using the wrong terminology as I am not familiar with the server side of things. There is no authorization header received by the server in regular invokes after the successful negotiate. The list of headers I get are:
Host
Request-Id
X-ASRS-Connection_Id
X-ASRS-Hub
X-ASRS-Category
X-ASRS-Event
X-ASRS-User-Id
X-ASRS-User-Claims
X-ASRS-Cli

[2022-04-12 23:23] BrennanConroy commented on #41159
I'm not familiar with any of those X-ASRS-* headers, looks like Azure SignalR Service though. If you remove ASRS does the Authorization header work as expected?

[2022-04-12 23:37] Xaeco commented on #39938
Here is a very basic example in C# not using Blazor.

Create a new .NET 6 C# console app and replace the contents with the following
[code]

[2022-04-12 23:42] BrennanConroy commented on #41159
Ok, you're using something I've never used before so I may say things that don't make sense in that context. But, are you actually seeing issues with your scenario or are you just saying that the "access_token" is included with javascript and not with c++ but doesn't cause problems?

Have you configured auth for your endpoint? https://docs.microsoft.com/azure/azure-signalr/concept-upstream#authent

[2022-04-12 23:45] Xaeco commented on #39938
You can use the same approach in Blazor to associate the metadata type

[2022-04-12 23:50] alex-kuhl commented on #41159
Right, the issue I am encountering is not that a signalr call is directly failing, it's that the javascript and C++ versions of the signalr client are being configured and used the same way as best I can tell, yet are not sending the same data, which is causing compliance validation failures on our server side.

So to me it looks like either the javascript side is sending non-standard extra data t

[2022-04-12 23:52] captainsafia commented on #38212
Hm, interesting. I feel like I reproed this in 7.0 as well but perhaps that was before the above PR got merged.

@CodeFontana Do you repro this in 7.0-preview3?

[2022-04-12 23:55] BrennanConroy commented on #41159
You've pointed to the SignalR/SignalR repo a couple times now, so I have to ask, what C++ client are you using?

[2022-04-13 00:01] halter73 commented on #41009
API review notes:

- What about linker friendliness?
  - This will be addressed separately along with the existing `Results` methods.
- Do we prefer `Results.Typed` or `TypedResults`?
  - We prefer `TypedResults` in the `Microsoft.AspNetCore.Http` namespace alongside `Results`. This avoids a nested type or static property.
- We should use longer names for non-verb results.
  - `Ok` is okay
  - `Pr

[2022-04-13 00:05] alex-kuhl commented on #41159
We are using both the the [C++ client](https://github.com/aspnet/SignalR-Client-Cpp) (recently updated to latest to see if it would resolve this issue) for win32 buidls, and [microsoft/signalr.js](https://docs.microsoft.com/en-us/aspnet/core/signalr/javascript-client?view=aspnetcore-6.0&tabs=visual-studio) client for web builds.

For the C++ client, we are using the cpprestSDK backend.

Both clien

[2022-04-13 00:39] #41092 closed

[2022-04-13 01:00] #41103 closed

[2022-04-13 01:50] davidfowl commented on #41130
cc @HaoK

[2022-04-13 01:52] davidfowl commented on #41039
@Sergey-Grudskiy can you send a pull request with your change and a unit test for this scenario? I'd love to see what code you wrote.

[2022-04-13 01:53] asprna commented on #11544
For me, this only happens when the controller inherits from ControllerBase class. The workaround for me is that instead of ControllerBase, I inherit the controller from the Controller class.

[2022-04-13 02:42] itn3000 opened #41162 "Client Certificate is discarded on TLS 1.3+IIS hosting"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I hosted ASP.NET Core app on IIS(Windows Server 2022).
I found client certificate in HttpContext is null from some clients.

I found some clients used TLS 1.3.
Requests from other clients which used TLS 1.2 can pass client certificate without any problems.
I want to use client certificate on

[2022-04-13 02:45] HaoK commented on #41130
@Marusyk you need to pick between the schemes based on the presence of the header, as API key as opposed to challenging both, you do this via ForwardDefaultSelector, something like

[code]

Which will pick ApiKey if the header exists, otherwise it will try basic auth.  Resolving this as dupe of the other issue which tracks adding this to the docs as an example

[2022-04-13 02:45] #41130 closed

[2022-04-13 04:00] #41142 closed

[2022-04-13 04:09] uecasm opened #41163 "EditForm bindable validation state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

In [this example](https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-6.0#enable-the-submit-button-based-on-form-validation), the goal is to make a submit button enabled or disabled based on the current

[2022-04-13 05:53] brunolins16 commented on #41009
I was not in the review meeting, so, I am sorry if I am commenting without the discussed context but in my opinion we need to be consistent with the types naming, and, if what was discussed is to have the suffix for some types I feel we should keep the suffix for all of them.

[2022-04-13 06:57] Marusyk commented on #41130
What if I have 2 different providers of Bearer tokens?
There is one Bearer token from Azure B2C and another Bearer token from the custom Identity Server.
Both of them come in the Authorization header and with Bearer schema.
Could you please advise how to handle this case?

[2022-04-13 06:59] davidfowl commented on #41130
How would you write logic to handle this case?

[2022-04-13 07:20] davidfowl commented on #41130
We should clarify how the auth system works so you can reason about the behavior you are seeing.

When you put multiple auth attributes on an endpoint, you're asking the system to build a single policy that runs all of the authentication handlers with the specified schemes. It runs each of the handlers specified, in the above example, it'll call into your `HandleAuthenticateAsync` on both `Custom1

[2022-04-13 08:05] HaoK commented on #41130
Right, you would have to write basically a composite bearer handler, and register that as your Bearer auth that is responsible for attempting to validate the bearer tokens.  The implementation of this CompositeAuthHandler's Authenticate would just be to call Authenticate against "Custom1" first, and return that if it succeeds, otherwise return the result of "Custom2" authenticate.

[2022-04-13 09:14] Marusyk commented on #41130
Thank you all

because there is one more case, in some handlers I need to go to a database (to get the API KEY for example) and it will make useless calls to DB in second-third-... handler in case of success in the first 🙃

[2022-04-13 09:47] vanillajonathan opened #41164 "AddDatabaseDeveloperPageExceptionFilter is added in all environments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The `AddDatabaseDeveloperPageExceptionFilter` method has the remark "This should only be enabled in the Development environment." but is included without any environment check.

### Expected Behavior

The developer exception filter should be called conditionally inside a if clause that checks

[2022-04-13 10:01] petursig commented on #37963
A workaround for this would be to check if the user has 2fa enabled before calling IsTwoFactorClientRemebered, like so:

            Is2faEnabled = await _userManager.GetTwoFactorEnabledAsync(user);
            if(Is2faEnabled)
                IsMachineRemembered = await _signInManager.IsTwoFactorClientRememberedAsync(user);

This should be updated in the scaffolded Identity pages.

[2022-04-13 10:13] ttosello opened #41165 "Call to builder.WebHost.UseUrls breaks Blazor Server app in VS17.1.4"
After updating to VS17.1.4 from 17.1.3, my Blazor Server app no longer launched the browser or ran any razor components.  When I comment out the call to builder.WebHost.UseUrls the app runs fine.

[2022-04-13 10:39] Nils-Berghs commented on #11544
@asprna I can not confirm this, for me it happens both with Controller and ControllerBase as base class. (Maybe this depends on the .net core version, after all this bug could have been fixed in 3.1)

[2022-04-13 12:21] abbasl7 commented on #39311
Do we have any known workaround to handle this issue till it is officially fixed?

[2022-04-13 13:50] Hoffs opened #41167 "appsettings Urls takes precedence over ASPNETCORE_URLS in 6.0.4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Using aspnet 6.0.4 runtime, precedence of appsettings.json `Urls` and `ASPNETCORE_URLS` seems to be different compared to previous versions. Specifying `ASPNETCORE_URLS` environment variable does not override the url provided in appsettings.json `Urls` property. Before 6.0.4, `ASPNETCORE_URLS

[2022-04-13 13:58] MarvinKlein1508 commented on #32832
I would do it the other way around.
- Blazor Server
- Blazor WASM
- .NET MAUI Blazor

When you have created a few demo projects, you will most likely don't need any of the template data anymore.

So keep the three templates and add an option to create a full demo. Doing it this way keeps the templates clean and makes it more convienient for everyone to create a new project.

BTW. I really think th

[2022-04-13 14:01] mus65 opened #41168 "IIS: % in URL is double-unescaped"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We have a method with the template "api/{id}" where id is a string. So when we want to pass the literal "%abc", the encoded url is api/%25abc .

By default, IIS will reject this with status 404.11 due to security reasons. We have to set the following in web.config for IIS to allow this:

[cod

[2022-04-13 15:25] alex-kuhl commented on #41159
Digging into this more this morning, it looks like the access_token field is a fallback for browser-based implementations of SignalR, and our server probably shouldn't be relying on it like it is right now.

https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-6.0

Would love to hear if you have anymore thoughts you might have though. Is the JWT sent for every invok

[2022-04-13 15:27] CDEngineer commented on #39938
Hello @Xaeco,
Thanks for the code.
For Blazor, this did the trick:

[code]

Thank you!

[2022-04-13 16:02] ScottKane opened #41171 "Kestrel ignores HostFilteringOptions on first run"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When creating a server with WebHost.CreateDefaultBuilder() and configuring `AllowedHosts` outside of `appsettings.json` with `services.Configure<HostFilteringOptions>(options => options.AllowedHosts = new[] { "*" })`, the first run after a build causes connections to be actively refused. Rest

[2022-04-13 16:03] meronz commented on #39269
Same here. In some scenarios it is useful to differentiate between multiple development environments.

[2022-04-13 16:32] BrunoBlanes commented on #41138
@javiercn I'm sorry to ping you, but is this even remotely possible? Did the example above clarify what I am trying to achieve?

Right now what I had to do was add an extra parameter `PropertyName` so then I can use reflection to check the value. Somehow I think this could be optimized.

[2022-04-13 16:47] DamianEdwards commented on #41009
@brunolins16 that was where it landed in that meeting. I understand your concern and myself have wondered whether we'd be better separating the types into their own namespaces, using the guidelines outlined in the review, which effectively come down to "does the type implement `IEndpointResponseProvider`" in most cases.

Taking a step back for a moment, the last outcome I want is for all the types

[2022-04-13 16:53] mkArtakMSFT commented on #40033
@yangzhongke can you try out the latest .NET 6.0 SDK release and see whether you can still hit this issue? Thanks

[2022-04-13 16:57] mkArtakMSFT commented on #39992
@vijayrkn do you know whether this was fixed already or not?

[2022-04-13 16:58] BrennanConroy commented on #41159
If there is an access token configured for the client then it should be sent with every HTTP request. In the browser we try to send the token in the Authorization header, but have to fall back to query string in some cases, like when using WebSockets.

The C++ client should only be using the Authorization header as it doesn't have the same limitations that the browser does.

[2022-04-13 17:09] wtgodbe opened #41172 "Quarantine AcceptNewStreamsDuringClosingConnection"
## Failing Test(s)

- Microsoft.AspNetCore.Server.Kestrel.Core.Tests.Http2ConnectionTests.AcceptNewStreamsDuringClosingConnection

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[code]
</details>

## Build

https://dev.azure.com/dnceng/public/_build/results?buildId=1715003&view=results

[2022-04-13 17:15] alex-kuhl commented on #41159
Okay, thanks for the clarification!

To confirm, is this done differently from adding the auth header as my code snippet above? I don't see anything else in the configuration api that looks like a good match.

[2022-04-13 17:20] BrennanConroy commented on #41150
It is intentional, canceling Stop doesn't really make sense in the traditional sense of cancellation. It might be ok to flow it through to do an ungraceful disconnect, but that's not something we've really looked into. https://github.com/dotnet/aspnetcore/issues/5294#issuecomment-476344927

Are you able to get logs and/or a dump from the hanging clients? It would be nice to root cause the issue in

[2022-04-13 17:22] alex-kuhl commented on #41159
Okay great, thanks for your help Brennan.

[2022-04-13 17:22] #41159 closed

[2022-04-13 17:32] omajid commented on #37400
I have been trying to build `main` branch on Alpine x64 (musl), and running into issues because Grpc.Tools isn't available for `linux-musl-x64`: https://github.com/grpc/grpc/issues/18428, https://github.com/grpc/grpc/issues/24188.

[code]

@ayakael did you run into this? How did you work around it?

[2022-04-13 17:48] javiercn commented on #41138
@BrunoBlanes There's no way you can detect if an object was just initialized, if that's what you mean. You can check for default (which is equal to null in the case of reference types) but you can't check for `new()` if that means (as I interpreted it) that the object/struct was just initialized.

[2022-04-13 17:56] wessleym commented on #41065
@davidfowl and @Pilchie, I noticed you're participants on this issue.  Do you have anything to add?  I would like an answer to my original question in light of halter73's answer.  Thank you for your time.

[2022-04-13 18:04] BrunoBlanes commented on #41138
Yes, I my point is that I need to check if the object's property is `null` and not the object itself. I currently can't do that with `RenderFragment<T>`.

[2022-04-13 18:15] yepeekai commented on #41149
Workaround, if I do a dotnet build for the web project specifically, it works.
It doesn't work if I do a dotnet build without specifying the web project.  It doesn't work also if I specify the sln file which is probably the same thing as without specifying anything.

[2022-04-13 18:35] sayedihashimi commented on #40264
@BillHiebert is there a workaround that can be applied until we can fix this?

[2022-04-13 18:57] alons1 opened #41175 "Can't configure SSL certificate when TLS1.2 is enabled"
Hello

I get in Chrome: ERR_HTTP2_INADEQUATE_TRANSPORT_SECURITY
Unless I specifically set in my program.cs file:
`
serverOptions.Listen(IPAddress.Any, 5001, listenOptions =>
{
       listenOptions.UseHttps(System.Security.Cryptography.X509Certificates.StoreName.Root, "IS02LTB18SLH2.domain.local", true);
        listenOptions.Protocols = Microsoft.AspNetCore.Server.Kestrel.Core.HttpProtocols.Http1;

[2022-04-13 19:08] fmashozhera commented on #38486
I am also getting the same error as your second issue
'The added or subtracted value results in an un-representable DateTime.'
Have you find a solution yet?

[2022-04-13 19:12] pago93 opened #41176 "Resource indicators are missing in access token request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The Resource-property set in the OpenIdConnectOptions does not flow through the whole process.

When configuring OpenIdConnect authentication with a resource indication, the resource value is only added to the initial authorization request but not to the subsequent access token request.

###

[2022-04-13 20:13] blowdart commented on #41175
The problem lies in Windows, while it supports HTTP/2 it doesn't exclude the weak ciphers that it shouldn't offer up.

On Windows10 you can disable HTTP2 for serving

[code]

or tell kestrel just to use http 1.* in app settings

[code]

If you really want you can start disabling the insecure ciphers, which involves messing with the registry or group policy or [using powershell](https://docs.micros

[2022-04-13 20:25] oconnor0 opened #41177 "Hot reloading seems to mess up endpoint routing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Modifying a controller while `dotnet watch` is running attempts to hot reload the code, but in doing so maps the controller multiple times leading to ambiguous patching and requiring a restart (Ctrl-R).

### Expected Behavior

I expect either the hot reload to accurately update the endpoint r

[2022-04-13 20:41] alons1 commented on #41175
TLS1.2 is required by our organization's security department.
As long as non-weak ciphers are enabled on my machine, why is there a problem? Who is trying to use the weak onces?

[2022-04-13 20:46] blowdart commented on #41175
Windows 10 is, unfortunately. Does it work on a server OS?

[2022-04-13 20:51] blowdart commented on #41175
`Get-TlsCipherSuite | ft name` in powershell will give you a list of currently enabled ciphers. On my Win10 client machine it includes a bunch of things no-one would want in a server. Problem is are you sure nothing on your machine is using them?

You can pick things off one by one, and aim to get to just the following, which should then work with Chrome.

TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
T

[2022-04-13 21:08] #40957 closed

[2022-04-13 22:11] JamesNK commented on #41162
Thanks for the detailed report. I think we'll need to investigate what is going on and find where the issue is. TLS 1.3 is quite new and we may not validate this particular combination (IIS + TLS 1.3 + client certificates)

[2022-04-13 22:15] JamesNK commented on #41171
Hi

Could you provide logging of what is happening the first two times your app is run? That will help us locate where the problem is.

You can find instructions for setting up logging at https://docs.microsoft.com/en-us/aspnet/core/grpc/diagnostics?view=aspnetcore-6.0. Set the log level to Trace to provide the most amount of information possible.

[2022-04-13 22:21] JamesNK commented on #41168
@Tratcher Could you look into this? It lines up with the other work we're doing to improve URL escaping.

[2022-04-13 22:26] JamesNK commented on #41145
Reading the request body will always have a performance cost. I'm afraid that if you want to read the request body for logging you'll always have some performance cost.

There are some things you can do to detect the request body size, such as check for a content-length header, but that isn't always present. Quite often the server doesn't know how long the request body is until it reads it. Also,

[2022-04-13 22:32] ScottKane commented on #41171
First run:

[code]

Second run:
[code]

Nothing of interest in the trace logs for Grpc, had a look at setting `Default` to `Trace` too but the output was the same.

[2022-04-13 22:33] JamesNK commented on #41143
Decision: second proposal (split files out, start using independent IDs) is preferred.

[2022-04-13 22:35] JamesNK commented on #41171
Thanks for the prompt reply. Could you make **all** log categories log at the trace level and retry. The logging from ASP.NET Core itself is the most useful here and it isn't in the logging you provided.

Sorry I wasn't more specific.

[2022-04-13 22:52] ScottKane commented on #41171
Sorry I probably could have guessed that, a bit late here :)

[code]

[code]

[2022-04-13 22:52] JamesNK commented on #41139
This is a complex scenario. Mixing auth like this with Windows authentication is difficult.

A workaround is to have one hub and map it twice to create endpoints. One mapping has `RequireAuthorization`, and the other doesn't have any auth required. This can be used for anonymous access.

[2022-04-13 22:53] ScottKane commented on #41171
That's with the following:

[code]

[2022-04-13 22:56] ScottKane commented on #41171
Strangely after a successful run, even commenting out `services.Configure<HostFilteringOptions>(options => options.AllowedHosts = new[] { "*" })` doesn't cause a refusal on the next run. Almost as if it's being cached somewhere.

[2022-04-13 23:38] CodeFontana commented on #38212
@captainsafia works absolutely fine with 7.0-preview3:

[code]

I'm fine with this workaround for 6.0:
[code]

The info in this issue should help others find this workaround.  A backport to the next 6.0 servicing might be nice to save others time from bumping into this.  It was sort of unexpected, something as mundane as creating a launchSettings.json entry for a production profile-- and suddenly

[2022-04-13 23:58] NguyenNguyen1995 commented on #38486
Still waiting to fix this

[2022-04-14 00:03] itn3000 commented on #41162
In my additional investigation, same result(TLS 1.3 is always null, TLS 1.2 is ok) in ASP.NET Web Forms(.NET Framework 4.8).
so this issue could be IIS issue.

[2022-04-14 00:20] brentminder commented on #38668
@TanayParikh What further feedback do you need from me? You didn't ask me anything.

[2022-04-14 00:22] halter73 commented on #41167
If you want an environment variable to override `"Urls":` in appsettings.json, it's still possible you just have to use `export URLS="http://*:5200/"` instead of export ASPNETCORE_URLS="http://*:5200/".

#39836 is a bugfix and it aligns `WebApplicationBuilder` behavior with `Host.CreateDefaultBuilder(args).ConfigureWebHostDefaults(...`.

---

The order of default config in .NET 6 for all hosts aft

[2022-04-14 00:44] TanayParikh commented on #38668
@brentminder @EquiAvia @alex-oswald would you be able to answer @vijayrkn's question above?

[2022-04-14 00:45] TanayParikh commented on #38668
Just to clarify, after you still facing this issue?

[2022-04-14 01:09] Assassinbeast opened #41183 "How do we console.log to the Browser developer tools for NET MAUI Blazor?"
I read this doc https://docs.microsoft.com/en-us/aspnet/core/blazor/hybrid/developer-tools?view=aspnetcore-6.0&pivots=windows that we can open the Developer tools with Ctrl+Shift+I and see the Console logs.

But how do we write to the logs?

I have tried to add the `builder.Logging.AddConsole();` and `builder.Logging.AddDebug();`, to MauiProgram, but it didn't work.
Below code is what i tried:

[c

[2022-04-14 01:09] Assassinbeast commented on #41183
cc: @guardrex https://github.com/dotnet/AspNetCore.Docs/issues/25625

[2022-04-14 01:24] yangzhongke commented on #40033
Thanks for your reply. However, it still doesn't work.
SDK version: 6.0.4
![image](https://user-images.githubusercontent.com/13821363/163295647-692335e9-b830-4abe-a949-ade75ffc7ba1.png)

![image](https://user-images.githubusercontent.com/13821363/163295579-5ed48261-11e3-4ec9-a348-c887574a435f.png)

[2022-04-14 01:33] halter73 commented on #41065
@wessleym Sorry I didn't see your earlier reply until now. I think you understood my answer pretty well.

The lack of thread-safety is one reason we don't want to expose request state via "ambient state" (i.e. [AsyncLocal](https://docs.microsoft.com/en-us/dotnet/api/system.threading.asynclocal-1?view=net-6.0)) which is what `IHttpContextAccessor` does. You're right that `User`, `Session`, and `Web

[2022-04-14 01:39] #40475 closed

[2022-04-14 01:57] VBAndCs opened #41184 "Blazor Forms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

_No response_

### Describe the solution you'd like

Razor Pages + Blazor components can bring back web forms!
We can have a toolbox to drag and drop html and Balzor controls on a designer, and a properties window to manage properties

[2022-04-14 02:11] brentminder commented on #38668
As I stated, I can verify the FTP path which I originally posted about, but I cannot state anything about the IIS path since I'm not using it, and someone else posted about it. You can close the issue as far as I'm concerned. Thanks.

[2022-04-14 02:38] vijayrkn commented on #38668
Thanks @brentminder . If any one else is running into this issue with IIS please share a binlog and I will be happy to take a look.

We will go ahead and close this issue since you were the original poster and the issue is addressed for you. Thanks for the confirmation.

[2022-04-14 02:38] #38668 closed

[2022-04-14 04:18] brockallen commented on #41176
Just for context, the `Resource` setting in the current OIDC plumbing was added pre-RFC8707 and was for an AAD-specific feature, IIRC.

[2022-04-14 04:42] TanayParikh commented on #41183
@Assassinbeast, thanks for reaching out. Can you just try the trusty `Console.WriteLine`, I believe that should do the trick 😄

[2022-04-14 07:17] ppekrol opened #41186 "Headers are accepting non-ASCII characters after moving to .NET 6"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi,

our .NET Core 3.1 code is testing a scenario where we are trying to put non-ASCII characters into the headers. Code looks like follows:

[code]

This is working fine on our 3.1 branch, but after moving to .NET 6 (and ASP.NET Core 6) we are not getting any exception and our Client API is

[2022-04-14 07:39] IvanFeric commented on #33312
I ran into the same problem myself and wanted to create a bug with my temporary solution. And it was only now that I found that it has already been reported.

The temporary solution that I made is similar to the one reported here but a bit different. I also noticed that publish operation is trimming some of the MSIL-related classes. However, I didn't want to fully prevent the trimming for the enti

[2022-04-14 07:47] #41139 closed

[2022-04-14 07:56] davidfowl commented on #41186
Turns out tabs are allowed.

https://github.com/dotnet/aspnetcore/issues/40599

[2022-04-14 07:58] houserrob opened #41187 "Diagnosing production performance issues - missing PUT requests"
Our service exposes a REST API which uses a AspNetCore.Kestrel 5.2 based web front end which in turn is hosted in a Service Fabric application.  We've been in production without any significant code changes for a couple of years and other than keeping the AspNet version relatively up to date we've rarely updated this part of the code.  In the last few weeks we've been seeing a much higher failure

[2022-04-14 08:03] ppekrol commented on #41186
Wow, that is new to me. Thanks for quick response!

[2022-04-14 08:03] #41186 closed

[2022-04-14 09:51] axzxs2001 opened #41188 "Support for route handler filters in minimal APIs issue"
.net version is 7.0.100-preview.3.22179.4

The following code will work：
[code]

But the following code doesn't work：
[code]
System.NullReferenceException:“Object reference not set to an instance of an object.”

[2022-04-14 11:37] sevinul commented on #40786
I have to reopen this issue.
I installed the latest versions from this week:
- NET 7.0.0.preview.3,
-  Visual Studio 2022 Version 17.2.0 Preview 3.0.
I also updated the sample project to NET 7.0.0.preview.3.

The effect ist the same, the project will not compile. The error message is still: "Type or namespace name 'Blazor1' was not found".

[2022-04-14 11:46] Nickman87 commented on #40875
Fixed all the issues, strange that this script does not give any error output anywhere!
Thanks a lot @JoshClose

[2022-04-14 12:04] Tragetaschen opened #41189 "Inheriting a Razor component from a generic class with a nullable type parameter results in CS8669"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I feel like this is #32733 but this has been fixed some time ago.

When I derive a Razor component from a generic base and use a nullable reference type as the type parameter, there is a CS8669 warning (or error when warnings are treated as errors)

### Expected Behavior

CS8669 should not be

[2022-04-14 12:07] Tragetaschen commented on #41189
As a workaround, I have introduced an additional class between Test and TestBase

[code]

That way the nullable reference type isn't in the generated code

[2022-04-14 12:21] mihaimyh opened #41190 "Blazor cookie authentication OpenShift"
I am building a Blazor server application with cookie authentication. My issue started when I tried to deploy the application on a OpenShift cluster, for some reason after I am sending a post request to the LoginController I am getting a 502 for which I am unable to find the root cause.

From what I can figure the problem comes from this part of the LoginController code:
[code]

After the `SignInA

[2022-04-14 14:30] Gareth064 commented on #40177
I know the title of this says AD B2C but I am having the same issue with normal AAD Authentication and OnLoginSucceded, except for me it fires constantly, forever, over and over again.

I am using Blazor WASM Hosted and OnLoginSucceded (on the Client) I am simply calling an API on the Server.

This is the Authentication.razor file
[code]

This is the code behind. Authentication.razor.cs file
[code

[2022-04-14 16:33] mkArtakMSFT commented on #41190
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2022-04-14 16:33] #41190 closed

[2022-04-14 16:34] mkArtakMSFT commented on #41184
Thanks for contacting us. This is not part of the runtime feature-set. Please use the [VS Feedback](https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019) to report this issue, so the team who owns the area can track the ask.

[2022-04-14 16:34] #41184 closed

[2022-04-14 16:36] mkArtakMSFT commented on #41165
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2022-04-14 16:37] Eilon commented on #41184
We do have a few resources that help Web Forms developers use Blazor, which you might be interested in:

* [.NET Conf 2020 Talk: From Web Forms to Blazor - Introducing the Blazor Web Forms Components](https://docs.microsoft.com/en-us/events/dotnetconf-2020/from-web-forms-to-blazor-introducing-the-blazor-web-forms-components)
* [BlazorWebFormsComponents: A collection of Blazor components that emula

[2022-04-14 16:40] mkArtakMSFT commented on #41164
@ajcvickers can you please look into this and suggest what needs to happen, if anything? Thanks!

[2022-04-14 16:43] mkArtakMSFT commented on #41163
Thanks for contacting us.
While this may be a great idea, it is not aligned with our long-term vision to make it part of the framework. For many other ideas which don't belong to the framework we encourage the community to build and ship on their own, contributing to the expanding .NET Ecosystem.

You can learn more about our triage process and how we handle issues by reading our [Triage Process](

[2022-04-14 16:43] #41163 closed

[2022-04-14 16:57] ttosello commented on #41165
Repro here:  GitHub - ttosello/1714<https://github.com/ttosello/1714>

Line 34 in Program.cs prevents the browser from launching in v17.1.4 (and beyond).  Worked fine in 17.1.3 and below.

Trevor Tosello
Senior Software Architect

T: 1.416-706-7340
E: ***@***.******@***.***>
U: http://www.blackriversc.com

From: Artak ***@***.***>
Sent: Thursday, April 14, 2022 12:36 PM
To: dotnet/aspnetcore ***@*

[2022-04-14 16:59] izzyjere opened #41191 "Issue reading two querystrings from HttpContext.Request.Query"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a function that generate an email confirmation link as shown below:
[code]

### Expected Behavior

Here is the full url I am getting:

"......../user/confirm-email?userId=1018&amp;code=Q2ZESjhCYW5VeGFEWlNOT2hBNklVLzNvM1N4ajg3THl3QUpxWlZLdUZlenFGODZqTmFvUTVQaklIbFIxTWlJUXI3WDExS3dqZ0J4S

[2022-04-14 17:12] mrm7697 opened #41192 "LLVM Error When publishing blazor wasm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

when i want to Compile blazor wasm project as AOT i get this error in Console :
clang version 13.0.0 (C:swircachegitchromium.googlesource.com-external-github.com-llvm-llvm--project 5852582532b3eb3ea8da51a1e272d8d017bd36c9)
Target: wasm32-unknown-emscripten
Thread model: posix
InstalledDir: C

[2022-04-14 17:24] bachratyg commented on #20312
Please at least provide a better error message! Even if I know what to look for (because it already happened 137 times today) I'm still clueless which component/property is the culprit.

[code]

[2022-04-14 17:32] hwoodiwiss commented on #40753
Oh interesting, yeah, I can see that rendering any changes I make obsolete fairly quickly.

I've made a "first-pass" implementation over here: https://github.com/hwoodiwiss/Swashbuckle.AspNetCore/tree/hwoodiwiss/asp7-endpointsummarymetadata however this doesn't inlcude the changes for CI that would bee necessary for a PR.

What's the plan with the `WithX` style functions?
It seems to me that it wo

[2022-04-14 17:39] Tratcher commented on #41168
This looks like a regression in 6.0 caused by the following change: https://github.com/dotnet/aspnetcore/commit/56d0f2ac95e70742ea93a3b4e944a526ea31dc49

`remainingPath` was a PathString, but now it's using the implicit converters to become a string, and the converters encode/decode. Flowing the value as a PathString should fix this.

Recommended for servicing.

[2022-04-14 17:44] Tratcher commented on #41162
TLS 1.3 handles client certificates quite differently. The prior mechanism used to renegotiate the connection security and request a client certificate mid HTTP request was removed for security reasons. It was replaced by a new extension designed specifically for client certs, but that has not been implemented by some clients. Delayed client certificate negotiation causes many other problems and s

[2022-04-14 18:20] TanayParikh opened #41193 "Home page of 6.0 is not displayed correctly after adding .AddRazorRuntimeCompilation() in Program.cs."
**Repro Steps**
1. File > New project > ASP.NET Core Web App > .NET 6.0 > None
2. Install the package Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation in Manage NuGet Packages
3. Open Program.cs, add .AddRazorRuntimeCompilation() to the 4 line
      builder.Services.AddRazorPages().AddRazorRuntimeCompilation();
4. Run the project (F5) and verify you get the default page shows up in the browser

*

[2022-04-14 18:21] TanayParikh commented on #41193
Moving CTI issue to GitHub: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1436357

[2022-04-14 18:39] BrennanConroy commented on #41030
Looks like there might be a bug in the analyzer, you can suppress that warning in this case, or you could use the alternative method for host matching:
https://docs.microsoft.com/aspnet/core/fundamentals/routing?view=aspnetcore-6.0#host-matching-in-routes-with-requirehost

[2022-04-14 18:41] BrennanConroy commented on #41045
We are planning on doing this once we update some logs on shutdown. Should be in a week or so.

[2022-04-14 18:42] BrennanConroy commented on #40874
SocketException is probably coming from the OkHttpClient so not directly related to SignalR. This could be because you need to change the configuration of the HttpClient or the Android config. SignalR doesn't do anything different between Android 11 and 12 so this likely isn't a SignalR specific issue.

[2022-04-14 18:52] dougbu commented on #37406
@mthalman should we update the `centos-7-rpmpkg-*` tag going forward or create something new (perhaps using RHEL)❔

[2022-04-14 19:00] mthalman commented on #37406
I have no knowledge on how product teams are using the container images produced by that repo so I can't really offer any guidance here. I do know that it doesn't support building RHEL because of the licensing requirements.

[2022-04-14 19:00] #41138 closed

[2022-04-14 19:01] christopheblin commented on #41030
@BrennanConroy From my testing, the RequireHost does not work with grpc code first ...

So I'm going to suppress the warning in the csproj and I hope this will be fixed some day :)

[2022-04-14 19:23] johnifegwu commented on #40874
Hi @BrennanConroy ,

I got it, thanks. But do you have a clue on what should be done to fix this? Any thing that can help me solve this will be really appreciated. Many thanks in advance.

[2022-04-14 20:05] NikolaMilosavljevic commented on #37406
Can you use the same image that is used by dotnet/runtime to build RPMs today? Do you need to create a new one?

https://github.com/dotnet/runtime/blob/73665cc31f47264b70b4c9755ee2be1712b4f532/eng/pipelines/installer/jobs/base-job.yml#L29

[2022-04-14 20:09] wtgodbe commented on #37406
Let's find out: https://github.com/dotnet/aspnetcore/pull/41194

[2022-04-14 20:33] TanayParikh commented on #41192
Hi @mrm7697, thanks for contacting us. Can you please confirm what command you're using to build the Blazor WASM project with AOT? Are you using `dotnet build` or something else? If you're using `dotnet`, can you please provide a minimal, public GitHub project that reproduces this issue? Also if you could kindly confirm what OS and version you're using (I assume Windows based on the `C:/` but just

[2022-04-14 20:34] Tratcher commented on #40895
Yes, that's what I was thinking.

What do you mean? You can name that category anything you want.

[2022-04-14 21:15] srpeirce opened #41195 "Breaking Change in .Net 6 - WebApplicationFactory Bug with MVC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

There is a bug when running WebApplicationFactory tests that it looks for the `wwwroot` directory in the directory where the application was built.

This means that tests pass when running via an IDE.

## Why is this a problem?

We have some tests which run against Azure resources. The tests

[2022-04-14 21:44] dougbu commented on #37406
We used to use another version of the same image -- mcr.microsoft.com/dotnet-buildtools/prereqs:rhel-7-rpmpkg-e1b4a89-20175311035359 and it stopped working. dotnet/runtime may use `rpm` directly while we use the `fpm` wrapper.

[2022-04-14 22:01] Tratcher commented on #14191
That seams ok, and should be easy to test. Feel free to submit a PR.

[2022-04-14 22:48] NikolaMilosavljevic commented on #37406
Runtime build uses FPM tool, as well: https://github.com/dotnet/arcade/blob/5ef2983363df5e0d85181b2948e2a5b0c16aa41a/src/Microsoft.DotNet.Build.Tasks.Installers/build/installer.singlerid.targets#L314

[2022-04-15 00:04] dougbu commented on #37406
According to comments in #37192, our original issue w/ mcr.microsoft.com/dotnet-buildtools/prereqs:rhel-7-rpmpkg-e1b4a89-20175311035359 was related to SSL issues. @wtgodbe used the slightly older mcr.microsoft.com/dotnet-buildtools/prereqs:rhel-7-rpmpkg-c982313-20174116044113 in #41194 and instead hit a missing `sudo` file. Updating the prereqs image to get a CentOS 7 w/ a working `fpm` seems like

[2022-04-15 00:08] dougbu commented on #37406
&hellip; unless of course it works to simply delete our `RUN chown root:root /usr/bin/sudo && chmod 4755 /usr/bin/sudo` in the Dockerfile updated in #41194 @wtgodbe

[2022-04-15 00:33] Zhiyuan-Amos commented on #39825
@SteveSandersonMS the issue has been resolved following https://github.com/dotnet/runtime/issues/67290#issuecomment-1098865533, fyi :)

[2022-04-15 01:00] #41175 closed

[2022-04-15 01:00] #41145 closed

[2022-04-15 02:13] captainsafia commented on #40753
Yep, the existing `WithX` methods will remain but in the future we'll be adopting the `WithApiDescription` for modifying any parts of the API.

[2022-04-15 03:32] captainsafia commented on #40676
## Proposed API

[code]

[code]

[code]

## Usage Examples

[code]

[2022-04-15 05:34] Atulin opened #41200 "OnInitializedAsync runs on every page load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I made a Razor component

[code]

that gets embedded inside of a `.cshtml` Razor page with

[code]

From what I read, `OnInitializedAsync()` runs only once, on first render, and render mode being `Static` should generate static HTML.

And yet, every time I refresh the page, I see the message

[2022-04-15 05:45] HZ1357 opened #41201 "We"

[2022-04-15 05:46] HZ1357 opened #41202 "Re"
## Background and Motivation

## Proposed API

## Usage Examples

## Alternative Designs

## Risks

[2022-04-15 06:05] davidfowl commented on #41187
What is this? ASP.NET Core 5.0?

Are you collecting counters in production? I would start with this suite of tools here https://docs.microsoft.com/en-us/dotnet/core/diagnostics/

[2022-04-15 06:45] vamshimupparaju opened #41203 "MutualTLS authentication in C# for httpclient"
Hi Friends,

Can you please help me in this from past few days I am trying to resolve the below scenario.

I have private key and certificate key using this I have to do the mutual authentication and send request to one of my end point.

below is the code I am trying to work on but some how I am getting 401 unauthorized issue.

        ****string keyPem = privateKeyString;
        byte[] keyDer =

[2022-04-15 07:19] paulguz-datapa commented on #36978
@nvmkpk Please could you share some example code?

[2022-04-15 07:40] #41202 closed

[2022-04-15 07:41] houserrob commented on #41187
5.2 is the version of the nuget package we use to include Kestrel - Microsoft.ServiceFabric.AspNetCore.Kestrel.

Thanks for the link, I'd not run across this one yet and will see what we can apply in our case.

We do have a large set of counters already being logged.  Nothing in terms of CPU, memory, disk read/write stands out.  Memory never exceeds 70%, CPU never exceeds 12%, disk read/write does

[2022-04-15 07:41] #41201 closed

[2022-04-15 07:45] davidfowl commented on #41187
https://docs.microsoft.com/en-us/dotnet/core/diagnostics/available-counters

[2022-04-15 10:12] kbeaugrand commented on #39311
Unfortunatly not at this time... ;(

[2022-04-15 10:12] kbeaugrand commented on #39311
Unfortunatly not at this time... ;(

[2022-04-15 11:38] UnAnalogFG opened #41217 "Double setting of Bound Variable when using EventCallback Async Await with HttpClient call"
### Description

I was trying to fetch some data via HttpClient on a Button Click and setting a bound Variable.
when I realised that using the HttpClient leads to setting the a bound variable twice.
Once with the old object, once with the new one.
I was suspecting the await to wait for the result of the Http-Call before the framework fires the 'StateHasChanged' Event for the 'OnClick' EventCallbac

[2022-04-15 12:12] younussenn opened #41204 "Asp.Net Core Web App + Background Service + Web Api In Same Project?"
Hello,

I am developing a web application with **Asp.Net Core 5.0**. I want to run a background service on this application. I will open the TCP Server connection on the background service and the background service should stay open in the background until the host is stopped. I also need to add an API controller. We will receive API requests from other applications.
What kind of structure should

[2022-04-15 13:26] davidfowl commented on #41204
You can host your TCP services on kestrel, alongside your HTTP services:

https://github.com/davidfowl/MultiProtocolAspNetCore

This sample is hold and you can adapt it to newer versions of .NET Core with minimal changes. Let me know if you need assistance getting it running.

The one thing I don't get about your diagram is why you're making requests to the controller when that runs in the same pr

[2022-04-15 13:44] lambdageek opened #41205 "No platform compatability analyzer warnings in Razor @code sections"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

C# code in .razor files (in `@code` sections or elsewhere) should be analyzed by the platform compatibility analyzer in order to spot uses of APIs that are unsupported on the browser.

Currently, in a blazorwasm project, only .cs files (which may be partial classes for Razor components) are a

[2022-04-15 14:10] martincostello commented on #41188
I've just come across this too, but with `.AddFilter<T>()`. You can repro using the unit tests of the [`aspnetcore-41188` branch of this repo](https://github.com/martincostello/polly-rate-limiting/tree/aspnetcore-41188).

For example, the filter is added [here](https://github.com/martincostello/polly-rate-limiting/blob/a10ccf2b1d8b7eb2b23f5a12e69854b202fae495/src/TodoApp/ApiEndpoints.cs#L68-L77):

[2022-04-15 14:30] kmjungersen commented on #25273
+1 for addressing this.  When running .NET core in a Docker container, ENV variable for URLs are completely ignored and the default `http://localhost:5000` is always used.  Seemingly the only way to change this behavior is by setting `Kestrel:Endpoints:Http:Url` value in `appsettings.json`.

[2022-04-15 14:58] BrennanConroy commented on #41188
Right, because the issue is with the generated code and how we handle inline delegates vs. methods. So the workaround until preivew4 is to move your handler code into a method.

[2022-04-15 16:01] Tomius opened #41206 "Kestrel uses exception for control flow when handling the `"Connection": "close"` header."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When Kestrel receives an http request with the `"Connection": "close"` header, then during the process of handling it a `SocketException` or `ObjectDisposedException` will be thrown and then caught. While the request will be handled correctly (at least I believe so), the exception in the hot

[2022-04-15 16:05] DamianEdwards commented on #40676
Some alternatives for `AddOpenApiGenerator`:
- `AddOpenApiEndpoints`
- `AddOpenApiEndpointMetadata`
- `AddOpenApi`

[2022-04-15 16:25] Tratcher commented on #41206
Related? https://github.com/dotnet/aspnetcore/pull/38094 @sebastienros

[2022-04-15 16:28] Tratcher commented on #41191
`"amp;code"` that implies the url is being html encoded but then not decoded before used. Can you share a Fiddler trace for this scenario?

[2022-04-15 16:47] Tratcher opened #41207 "Quarantine ConfigurationChangeCanBeIgnoredInProcess"
## Failing Test(s)

- Microsoft.AspNetCore.Server.IIS.NewHandler.FunctionalTests.ShutdownTests.ConfigurationChangeCanBeIgnoredInProcess

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[code]
[ShutdownTests_ConfigurationChangeCanBeIgnoredInProcess.log](https://github.com/dotnet/aspnetcore/files/8497012/ShutdownTests_ConfigurationChangeCanBeIgnoredInProces

[2022-04-15 16:51] Tratcher commented on #41207
Two additional failures in Windows.Amd64.Server2022.Open and Windows.10.Amd64.Server20H2.Open:
https://dev.azure.com/dnceng/public/_build/results?buildId=1719780&view=ms.vss-test-web.build-test-results-tab&runId=46701768&paneView=debug&resultId=121809

[2022-04-15 17:33] knight1219 commented on #25152
I like @gilm0079 use of the `UseStaticFiles` middleware. I might even modify my code to do that to help not expose that in every API call i make to my backend. I'm not fond of using a URL or hostname to try and figure out what environment is being used (qa/staging/test are all urls used in my environments for the same stage of deployment).

I did see this was added to the .NET 7 preview milestone

[2022-04-15 17:34] vsfeedback opened #41209 "Blazor Constructor Dependency Injection Stopped Working"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Blazor-Constructor-Dependency-Injection-/10013082)._

---
I had a working project which was using Blazor and dependency injection. At some point the dependency injection stopped working and I am unable to get it to work in any project. The main page just fails and shows that there was an

[2022-04-15 17:36] vsfeedback opened #41210 "Cannot build the project which reference to another project"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Cannot-build-the-project-which-reference/10013045)._

---
[severity:I'm unable to use this version] [regression] [worked-in:Visual Studio 2022 17.2.0 Preview 3.0]
I am working with Visual Studio 2022 17.2.0 Preview 3.0.
I have created Blazor library in one solution and then open the seco

[2022-04-15 17:37] mkArtakMSFT commented on #41210
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2022-04-15 17:43] vsfeedback opened #41211 "POST 405 (Method Not Allowed) error on Azure using Blazor, but everything works on localhost"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/POST-405-Method-Not-Allowed-error-on-A/10011593)._

---
Hello, I just finished my little project with **.NET 6, Blazor** on **Visual Studio 2022**, and everything works just fine on **localhost**, but when I published it on **Azure**, and I try to register again on my app, I'm receiving

[2022-04-15 17:44] mkArtakMSFT commented on #41211
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2022-04-15 17:44] #41211 closed

[2022-04-15 17:46] Tratcher commented on #31404
Still failing 100%

[code]

Is that just a chunked terminator? Was it not expecting chunking?

[2022-04-15 18:05] sebastienros commented on #41206
@Tratcher exactly that, merge the PR ;)

[2022-04-15 18:09] javiercn commented on #41209
This a dupe of https://github.com/dotnet/aspnetcore/issues/18088#issuecomment-1058373609

[2022-04-15 18:10] #41209 closed

[2022-04-15 18:21] gregoryagu opened #41212 "Spurious Error Message: No Suitable Method found to override after upgrade from 6 - 7 Preview 3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a Blazor Server app which I just upgraded to 7 Preview 3.

After upgrading, every component file which overrides the OnInitializedAsync methods generates an exception:

[code]

If I update the file to add the base class, the error is resolved.  This was not required in .net 6. Note tha

[2022-04-15 18:25] gregoryagu commented on #41212
I reverted the project back to .net 6, but i am still getting the same error as above.  It seems after I installed the .net 7 SDK that this issue started.

I have tried creating a Test Blazor Server App and it runs fine, so not sure what is up with this.

[2022-04-15 18:25] gregoryagu commented on #41212
I have also tried rebooting the machine.

[2022-04-15 18:33] Tratcher commented on #31404
On further investigation this is a product bug that can cause unreported response truncation of chunked responses.

Here's the flow:
https://github.com/dotnet/aspnetcore/blob/b9fcd82fe9d0883e9828864a8e8b2231f469254f/src/Servers/IIS/IIS/src/Core/IISHttpContext.IO.cs#L277-L284
IISHttpContext.Abort ->
OuputProducer.Abort ->
_pipe.Writer.Complete() (without an error)

https://github.com/dotnet/aspnetc

[2022-04-15 18:36] gregoryagu commented on #41212
After uninstalling .net 7 Preview 3 SDK, the .net 6 version correctly builds and runs again, so it seems to be something with the .net 7 SDK Install.

[2022-04-15 18:43] BrennanConroy opened #41213 "Route handler filters don't handle all return types"
Filters currently wrap the user delegate in a `ValueTask<object?>` before handing off the function to the normal route handling logic. This causes issues with any non object returning methods like `void`, `Task`, `Task<T>`, etc. returning methods.

### Void returning method with no-op filter:
[code]
Output:

### Task returning method with no-op filter:
[code]
Output:

[2022-04-15 18:55] Tratcher commented on #41131
This is a product bug / feature gap. Tracked by https://github.com/dotnet/runtime/issues/57308.

[2022-04-15 19:17] javiercn commented on #41164
@mkArtakMSFT no need for @ajcvickers to do anything here.

The service is always added, but the middleware is only added during development.

See the following code for reference:
https://cs.github.com/dotnet/aspnetcore/blob/d4e09edefac2978b114030d55eefde22361accfd/src/DefaultBuilder/src/WebApplicationBuilder.cs#L141

[2022-04-15 19:17] #41164 closed

[2022-04-15 19:21] javiercn commented on #41200
@Atulin thanks for contacting us.

render-mode="Static" means that the content will not be made interactive afterwards either via Blazor Server or Blazor Webassembly. It doesn't mean that the content only gets generated once.

The content will be generated on each request, but the result will just be static markup.

[2022-04-15 19:22] javiercn commented on #41204
@younussenn thanks for contacting us.

@davidfowl answer is on point here. Let us know if you have issues after following the guidance he provided.

[2022-04-15 19:26] javiercn commented on #41149
@yepeekai thanks for contacting us.

Could you capture an MSBuild binary log (append /bl) and share it with us to help us determine exactly what's going on? It would also help us to understand the build steps you are taking and if you are customizing anything in the build process.

We do have tests for `dotnet publish --no-build` so I want to see if there is a concrete thing that is triggering thi

[2022-04-15 19:28] javiercn commented on #41193
I might be missing something, what's the issue here?

[2022-04-15 19:33] TanayParikh commented on #41193
Footer is in the middle of the page instead of the bottom.

[2022-04-15 20:04] Atulin commented on #41200
I'm assuming, similarly, `OnInitializedAsync()` doesn't actually run only once either?

[2022-04-15 20:05] msschl commented on #40186
@javiercn is this issue still considered in the backlog even though it is closed?

[2022-04-15 20:06] Tratcher commented on #41176
@jennyf19 Is the Resource supposed to be used in the access token request?

[2022-04-15 20:27] HaoK commented on #41191
There's no product issue here, as you do need to be careful when generating your email links, here's the relevant code in how we do it to generate an url:

[code]

https://github.com/dotnet/aspnetcore/blob/main/src/Identity/UI/src/Areas/Identity/Pages/V5/Account/RegisterConfirmation.cshtml.cs#L79

[2022-04-15 20:27] #41191 closed

[2022-04-15 20:28] #32331 closed

[2022-04-15 20:42] Tratcher commented on #41168
The same PR introduced the same regression in MapPath.
https://github.com/dotnet/aspnetcore/commit/56d0f2ac95e70742ea93a3b4e944a526ea31dc49#diff-65457624537493466dc6a9609fb01fcb49e5f17e687b04827aa4231daf44c5d6R67

[2022-04-15 21:19] Tratcher commented on #41171
`.UseKestrel(options => options.Listen(new IPEndPoint(IPAddress.Loopback, 5000), o => o.UseConnectionHandler<GrpcTcpHandler>()))`

You're intercepting all incoming connections at the transport layer, the requests never reach Kestrel, HostFiltering, or the rest of AspNetCore. That's why the logs aren't showing anything either. That `LiteServer` is an external component and you'll need to contact it

[2022-04-15 21:42] captainsafia commented on #40676
Note: `WithApiDescription` should change naming and input parameter.

[code]

Remove:

[code]

Make this type internal:

[code]

[2022-04-15 22:02] jennyf19 commented on #41176
@Tratcher No, on the Azure AD v2 endpoint scopes are used, not resource. Resource was an AAD v1 concept which was not standard compliant.

[2022-04-15 22:23] chappleg opened #41216 "SNI configuration doesn't allow multiple hostnames of same length"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I try to specify multiple wildcard hostnames in the SNI configuration following [these instructions](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel/endpoints?view=aspnetcore-6.0#sni-in-configuration), an exception is thrown if two hostnames have the same number

[2022-04-15 22:30] ashraqat-sheta commented on #21787
i got this error in vs 2022 and .net core6.
the project was working well with vs 2019 .net core 3 but after i upgraded my project to .net6 it broke .
i faced this error many times before but the problem now is bigger.  i really need to know what causes this bug and how to fix it . any help?

[2022-04-15 22:40] chappleg commented on #41216
I think a proper solution would be to compare by length, and then if they are the same length, then compare the strings to see if they are really the same. Something like this:

[code]

[2022-04-15 22:55] noahfalk commented on #41187
In terms of finding instrumentation when you don't know what exists in .NET I usually employ a couple strategies.
1. Some key libraries have documented what diagnostics are available such as: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel/diagnostics, https://docs.microsoft.com/en-us/dotnet/core/diagnostics/available-counters, and https://docs.microsoft.com/en-us/dotnet/

[2022-04-15 23:05] Tratcher commented on #41216
Interesting find. Do you want to submit a PR for this?

[2022-04-15 23:23] srpeirce commented on #41195
Additionally, here is simple .Net5 repo showing that it works in Net5.
[https://github.com/srpeirce/Net6_Net5WebApplicationFactoryBug](https://github.com/srpeirce/Net6_Net5WebApplicationFactoryBug)

## Steps to show .Net 5 works

1. Clone this repo: [https://github.com/srpeirce/Net6_Net5WebApplicationFactoryBug](https://github.com/srpeirce/Net6_Net5WebApplicationFactoryBug)
2. Build the solution.

[2022-04-15 23:33] DamianEdwards commented on #40186
I've re-opened this and will try to take a look at this scenario in the next few weeks.

[2022-04-16 00:30] smadgerano commented on #38552
I'm not able to give much technical advice as I'm still learning, but I can say that I'm getting the same errors on deployed material no matter what I try. Anything in the _framework folder seems to fail integrity checks in the browser console. Works everywhere else, will deploy to Azure Static Web Apps just fine, but whem I go to publish on my alternative server, all I get is errors,

I've tried

[2022-04-16 00:48] ScottKane commented on #41171
It wasn't an issue with the `LiteServer`, It was that the client was trying to connect before the server had fully started. This explains the intermittent behaviour because on the second build the server was starting up fast enough for the client to connect without issue.

[2022-04-16 00:48] #41171 closed

[2022-04-16 01:38] fyziktom commented on #41210
Hello.
[The repository](https://github.com/fyziktom/VirtualEconomyFramework/tree/101-feature-nftxray)

I have been working in branch 101. The [BDP App](https://github.com/fyziktom/VirtualEconomyFramework/tree/101-feature-nftxray/VirtualEconomyFramework/BDP-WASM) was possible to build without trouble

I [had this project] (https://github.com/fyziktom/VirtualEconomyFramework/tree/101-feature-nftxray

[2022-04-16 01:41] brockallen commented on #41176
And in RFC8707 referenced above, multiple resource params are possible (and expected) on the authorize endpoint. And not a single param with multiple values mind you, but multiple instances of the same param each with one value. IIRC the current OIDC plumbing can't handle this as specified by the RFC.

[2022-04-16 05:47] lohithgn commented on #41213
@BrennanConroy @danroth27
I cant event compile the code snippet provided in Preview 3 blog post:
[code]
It throws up error: cannot convert type IResult to ValueTask<Object?>
![image](https://user-images.githubusercontent.com/2450336/163663307-f9d5aff2-7b51-4e2b-acf2-43fd3a2cc2a0.png)

I found @captainsafia example here: https://github.com/captainsafia/MinimalFiltersExample/blob/main/Program.cs

Co

[2022-04-16 06:33] msynk commented on #28821
I think it's a useful feature as other frameworks have it working seamlessly like the list components in the Microsoft Fluent UI library:

https://developer.microsoft.com/en-us/fluentui#/controls/web/list

[2022-04-16 06:46] asprna commented on #11544
@Nils-Berghs I am currently using .net core 3.1

[2022-04-16 06:54] wwarby commented on #28821
This is still the blocking issue for me that makes switching to Blazor impossible. My current setup is an Angular app running in Chromely in a native window, which is just cumbersome to maintain. I'd love to replace it with Blazor on MAUI but for my use case  performance is unacceptable without wrapping virtualisation panels.

[2022-04-16 07:02] davidfowl commented on #41216
Seems patch worthy

[2022-04-16 10:35] smadgerano commented on #38552
OK, quick update. After reading a little about how CloudFlare was altering files over their CDN and affecting things in other threads I thought I'd see if there were any compression settings or similar on my server.

I am using a hosting provider that runs the Plesk control panel. I could not see anything regarding compression, but in the "Virtual Directory" page, then clicking on "ASP.NET Configu

[2022-04-16 12:01] asprna commented on #11544
@Nils-Berghs Actually you are right. The actual workaround is to get the value from the query string.

 `[ApiController]
  [Route("api/v1/[controller]")]
  public class TestController : ControllerBase
	{
		[HttpGet("Successful")]
		public async Task<IActionResult> Successful([FromQuery] string token)
		{
			return Ok(token);
		}
	}`

[2022-04-16 12:22] KristofferStrube opened #41219 "In .NET 7 Preview 2 builds fail when using tuples as params in Blazor components."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If we have a tuple as a parameter for a Blazor component then the project will not build. Like this ExampleComponent:
[code]
The problem only occurs when we actually use the Component. Which can be done like this:
[code]
or this:
[code]

I get an error referencing some of the Source Generated

[2022-04-16 15:07] ShreyasJejurkar opened #41220 "Hotreload does not show updated value from ViewBag"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

As the title hints, let's say I am setting a `ViewBag` value in controller action and returning it to the user in JSON form, while debugging in VS, if I change the value, then when calling the action again, it doesn't return the updated value instead I get an exception like the below.

![imag

[2022-04-16 15:15] kzhui125 opened #41221 "Please use net50 target dll instead of .NETStandard dll in .net runtime shared dlls"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I use Visual Studio 2022 and C++ clr and .net 5. (I want to use .net 6, but the latest .net version that C++ clr support is .Net 5).

Because C++ clr doesn't support mixed dll type, and it can't use .NET Standard dlls.

I find that there are many  .NET Standard dlls in runtime shared dlls, su

[2022-04-16 15:21] kzhui125 commented on #41221
At least the shared library should be all .net 5 dlls.

Other dlls I can download source and rebuild(target net50).

[2022-04-16 15:33] zoran-petrovic-87 opened #41222 "Blazor InputSelect sets wrong selected Option"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Let's say that we have a really simple class with 2 properties, one is an integer and the other one is a string. I want to use EditForm with 2 InputSelect elements that are bind to these properties. The code looks like this:

[code]

Here is how it looks like in a web browser:

![image](https

[2022-04-16 15:39] BrennanConroy commented on #41213
The null ref is issue https://github.com/dotnet/aspnetcore/issues/41188, you can workaround it by using a method instead of an inline delegate.

[2022-04-16 16:18] davidfowl commented on #30235
Closing this as fixed.

[2022-04-16 16:18] #30235 closed

[2022-04-16 18:08] nssidhu opened #41223 "Adding swagger to Blazor Server app break the Blazor Server App."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Adding swagger to Blazor Server break the Blazor Server App.
Here is the program.cs file

[code]

### Expected Behavior

Should load the Blazor App along with the swagger

### Steps To Reproduce

Add Swagger to new Blazor server Template

### Exceptions (if any)

This localhost page can’t be

[2022-04-16 18:34] nvmkpk commented on #36978
For `BlazorCacheBootResources`, just add it to the blazor project's csproj file. For adding caching in `beforeStart`, there are several examples online. Sorry, I don't have any code as I haven't tried it myself.

[2022-04-16 18:42] davidfowl opened #41224 "Follow up HTTP/2 items"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

There were a couple of follow up items as a result of changing how HTTP/2 output writing works https://github.com/dotnet/aspnetcore/issues/30235.

### Describe the solution you'd like

- [ ] - We need to follow up on how this affects l

[2022-04-16 22:00] #41200 closed

[2022-04-16 23:36] JamesNK commented on #41224
FYI gRPC only uses CompleteAsync when a deadline (i.e. timeout) happens. Perf isn't important there.

[2022-04-17 00:03] jessegood commented on #41222
In your second example, the reason nothing is displayed is because `0` is not an available option.
The moment you add `0` as an option, then `0` will be displayed.
`<option value="0">0</option>`

So in order for Blazor to show nothing when you specify `null`, it would have to choose a value that is not one of the available options. For example, it could use the empty string `""`, but then what if

[2022-04-17 01:03] ayakael commented on #37400
I have not encoutnered this issue, investigating why you have it but source-build runtime doesn't.