[2020-03-27 21:26] blowdart commented on #20235
@timheuer do you know who to direct this to?

[2020-03-27 21:31] aaronhudon commented on #14962
If anyone can post suggestions on how best to implement this in SSB without waiting for Microsoft, please do so here.

[2020-03-27 21:40] anurse commented on #20194
Yep, that could do it. As a general rule of thumb, as long as you get from the start of `Program.Main` to the end of `Startup.Configure` within that 120 seconds window you should be OK (obviously there **is** some additional work going on after `Configure` but it's pretty minimal).

It's also possible to increase the startup time limit if you need to. There's an option on the `<aspNetCore>` elemen

[2020-03-27 21:48] anurse commented on #19994
It's OK to use singletons in background jobs, as long as either:

1. You stop the background job when `IApplicationLifetime.ApplicationStopping` is triggered. Or,
1. You're OK with the ODEs being thrown (you can catch them and shutdown the background job, for example; maybe also checking that `IApplicationLifetime.ApplicationStopped` is set to make sure you know why the ODE was thrown)

When the H

[2020-03-27 21:57] mrpmorris opened #20256 "[Blazor] DOMException: Entry already exists"
### Describe the bug
When running a simple Blazor WASM app I am seeing errors in the console saying "DOMException: Entry already exists".

For me, this only happens in Chrome.

### To Reproduce
Run this app. https://drive.google.com/open?id=1MnWAzjHcMT60wbBlUhh_haIkTLM88vbo

### Error details
[code]

### Further technical details
- ASP.NET Core version 3.1.2
- The IDE (VS / VS Code/ VS4Mac) you're

[2020-03-27 22:08] #14588 closed

[2020-03-27 22:12] ar0311 commented on #20223
Sure, it's just what was auto-generated by VS Code when opening the folder.

[code]

[2020-03-27 22:12] miroslavp commented on #20238
Ok, fixed my issue.
I commented out the urls line in appsettings.json (in the Server project)
`// "Urls": "http://localhost:60422;http://192.168.0.107:60422"`

The second exception was because of wrongly configured ssl in Kestrel section (which I don't use for now anyway).

After commenting out both the Urls and Kestrel sections, the errors disappeared and I was able successfully to run and debug

[2020-03-27 22:27] #19750 closed

[2020-03-27 22:29] chucker opened #20259 "Blazor: macOS quarantine may cause "Specified cast is not valid." error in GenerateBlazorBootJson target"
### Describe the bug
The `GenerateBlazorBootJson` target may show a "Specified cast is no valid." error, causing Blazor builds to fail. It's not clear where the actual error occurs, but it's also not very actionable to the user.

In my particular case, the problem was solved by removing the `com.apple.quarantine` file attribute.

### To Reproduce
1. on a Mac, download a zip archive of a Blazor app

[2020-03-27 22:29] chucker commented on #20259
(This may be more of a general issue in MSBuild?)

[2020-03-27 22:34] BrennanConroy commented on #20163
Turns out copying test logs on mac wasn't working. Should be fixed with https://github.com/dotnet/aspnetcore/pull/20258

[2020-03-28 02:11] BrennanConroy commented on #20219
Yet another one https://dev.azure.com/dnceng/public/_build/results?buildId=577215&view=ms.vss-test-web.build-test-results-tab&runId=18127966&resultId=120453&paneView=debug

[2020-03-28 03:19] BrennanConroy commented on #20219
Was bored (nerd sniped?) and filed https://github.com/dotnet/runtime/issues/34231 for this.

[2020-03-28 03:24] bouyeijiang opened #20262 "install the .net core 3.0 has a error on win server 2012"
install the .net core 3.0 has a error is not found a file api-ms-win-crt-filesystem-l1-1-0.dll  on win server 2012

[2020-03-28 03:28] nhonlvsoict commented on #17277
this worked for me, thankss

[2020-03-28 03:44] vulcanlee opened #20263 "Blazor WASM 3.2.0-preview3 VS2019 Debugging not working on Edge"
### Describe the bug
I have upgrade to Visual Studio 2019 16.6 Preview 2 and confirm .NET Core 3.1 SDK is Version 3.1.201 and the Blazor WebAssembly template also upgrade.

If I create a Blazor WebAssembly project and run on Edge Browser and set breakpoint on Visual Studio , the debug function not working.

But if I run the same project on Chrome Browser, it is working fine and the break point als

[2020-03-28 04:15] vulcanlee commented on #20220
I have same problem.

[2020-03-28 04:43] timheuer commented on #20235
@vijayrkn do we know about these ones?  I think the IntelliSense initializing one could be VS core related.

/cc @madskristensen for comment about not being able to create a devcomm issue and no way to achieve that on the web interface

[2020-03-28 04:55] vijayrkn commented on #20235
@NTaylorMullen has fixed the first issue and should be available in the next preview. It was a last minute fix and we couldn’t get the fix into preview 2. Sorry about that.

[2020-03-28 06:00] nvmkpk commented on #20193
What event are you talking about? I did not register for any event. I am just invoking `element.scrollTo` from `OnAfterRender` override of my component via JS interop. And `OnAfterRender` is getting called after that scrolling is complete.nI don't think blazor is re-rendering. I will see if I can provide a simple project to reproduce the issue.

[2020-03-28 09:15] Omen90 opened #20267 "Net Core 3.1, single file - unable to start application as windows service"
dotnet sdk: 3.1.201
Microsoft Windows 10 Pro
OS Version: 10.0.18362 Build 1836

Couldn't start app as windows service if it is publish as single file (no matter it is trimmed or not).

Repro:

[code]

csproj:
[code]

Compile:
`dotnet publish -c Release -r win-x64 /p:PublishSingleFile=true`

[2020-03-28 12:13] babula38 opened #20269 "dynamic type as Action method parameter in webapi post method does not give expected result"
### Issue
Trying to use **dynamic** type as request parameter in Aspnetcore web api 3.1. post action method.

### To Reproduce

- Create a webapi project using framework version 3.1.

- Create a Post action method with dynamic type as post parameter. see the code below.

[code]
**Expected:-** Should get the value from the request.Foo.
**Actual:-**  It throws an exception & in the local windows the

[2020-03-28 13:30] DanielFawcett opened #20270 "Automatic reload not working when updating existing project to preview 3"
### blazor webassembly.
Automatic reload does not work on refresh
I’ve updated from preview 2 to preview 3 and I’ve tried testing the automatic refresh and it does not work. Also load times seem to be a lot longer, is this because it’s linking the debugger with the front end?

### To Reproduce
Upgrade existing project following steps given in blazor preview 3

### Further technical details
- visua

[2020-03-28 13:57] sungam3r opened #20271 "Question about scopes and providers"
I have been working with DI for quite some time but still don’t understand some things.

Given that example:
[code]
I get this result:
[code]

What is the reason for this behavior?

[2020-03-28 13:59] javiercn commented on #20271
@sungam3r thanks for contacting us.

@anurse is platform the right area for these types of things?

[2020-03-28 14:28] msschl opened #20272 "Support refactoring for the controllerName parameter in ControllerBase.RedirectToAction method"
### Is your feature request related to a problem? Please describe.

I am trying to do some refactoring work that includes renaming some controllers. But unfortunately this involves searching for all hard-coded references of the controller name for example used in `RedirectToAction(actionName, controllerName, ...)` calls.

Current workaround:
[code]

### Describe the solution you'd like

It would b

[2020-03-28 15:39] kemsky commented on #17277
@mkArtakMSFT, `EventedStreamReader` is already fixed in master, related issues #6306, #6146.

[2020-03-28 16:21] daltskin commented on #19795
Same problem here.

[2020-03-28 16:50] tebeco commented on #20095
@sharwell
Do you think you could you take a look at https://github.com/dotnet/aspnetcore/pull/20274 ?

it has no direct relation ship with this issue, but this is what i had to do to be able to make the tests pass successfully on VS locally.
My only question on that PR is that i'm not sure if it can break `Helix` or not

[2020-03-28 16:59] javiercn commented on #20237
I checked this out, the crash only happens during debugging if you have blazor wasm debugging enabled.

[2020-03-28 16:59] tebeco commented on #20095
also you said :

Would this work in both IDE + only console scenario ?
I'm trying to create an analyzer that will `warn / error` in the CI, but still be intrusive on the IDE of developer
I don't understand yet why removing a dependency would enable "reporting" :D

so if i do remove it from my fork from `dotnet/aspnetcore` i could try to use the generated `nupkg` to see if that does have an impact

[2020-03-28 17:00] javiercn commented on #20237
I've updated the title for clarity.

[2020-03-28 17:04] javiercn commented on #20205
@MarekPokornyOva thanks for contacting us.

We don't currently plan to allow users to extend the renderer, but like everything our decisions are influenced by user feedback. If you give us ideas on specific things you are trying to accomplish maybe we can suggest different approaches that might be better suited or take that input into consideration for future changes in this area.

[2020-03-28 17:27] tebeco commented on #20095
@pranavkm the `dotnet msbuild /t:Rebuild` seems to generate the proper warning from the console yes

@sharwell
I changed both `src` and `test` Reference
from `<Reference Include="Microsoft.CodeAnalysis.CSharp.Workspace" />`
to `<Reference Include="Microsoft.CodeAnalysis.CSharp" />`

Created a new project and added a `RestoreSource` location by doing (in a `Directory.Build.props`):

[code]
here is

[2020-03-28 18:05] BrennanConroy commented on #19979
Also some skipped in https://github.com/dotnet/aspnetcore/pull/20261

[2020-03-28 18:50] noahc66260 opened #20404 "ERR_SSL_PROTOCOL_ERROR"
Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

When running the project (dotnet run) I cannot access the site on localhost:5000. Chrome complains that the site canno

[2020-03-28 20:17] axanth opened #20276 "SignalR problem when published as IIS Application."
I have an Asp Core 3.0 web app that user signalR for notification from server to client. It works fine but when the app is published in IIS as an application signalR stop working with error : POST https://localhost:4433/ProgressHub/negotiate?negotiateVersion=1 404. I think that the problem has to do with the relative path of the Virtual Directory. It does not get included in the Hub path. Searched

[2020-03-28 20:31] BrennanConroy commented on #20276
Can you share your app configuration? Or even better just provide a github repo of your app.

[2020-03-28 20:52] JamesNK commented on #19540
Sorry for the delay replying.

System.Text.Json has no relation to gRPC. Neither should effect the other.

`Grpc.Net.Client.Web` was fixed a few weeks ago. 2.27.0-pre2 fixes the issue - https://www.nuget.org/packages/Grpc.Net.Client.Web/2.28.0-pre2

[2020-03-28 20:52] #19540 closed

[2020-03-28 21:50] #20242 closed

[2020-03-29 00:28] danroth27 opened #20280 "Copying exceptions from the browser console is hard"
If an unhandled exception occurs in a Blazor WebAssembly app it shows up in the browser console:

![image](https://user-images.githubusercontent.com/1874516/77837051-5a389480-7119-11ea-9699-fe3bc5d69b08.png)

But copying this error information is pretty messy. If I try to just select and do a copy & paste I get something like this:

[code]

Is there anyway we can make it easier and cleaner to repo

[2020-03-29 01:50] praeliorz opened #20282 "SignalR awaiting SendAsync for a Group is prolonged when one client's connection drops unexpectedly"
I have a Hosted Service that collects changes that clients need to know about in a BufferBlock to send them out one at a time, using an IHubContext. If one client's connection drops (i.e. VPN disconnected), then awaiting one small message can take 7.4 to 16 seconds. I've seen longer in log files but have reliably duplicated the issue in the seconds time frame.

In order to prevent one connection f

[2020-03-29 06:00] mkArtakMSFT commented on #19795
Hi.

**It looks like you are posting on a closed issue!**
We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2020-03-29 06:23] mkArtakMSFT commented on #17016
@pranavkm should this be marked as `Done` ?

[2020-03-29 08:28] hultqvist opened #20284 "3.2.0-preview3 Chrome crash at start when the page contains an <iframe>"
### Describe the bug

Chrome crashes when there is an iframe in the content.

### To Reproduce
Blazor Webassembly switching from 3.2.0 preview 2 to preview 3.

1. Start a new Blazor webassembly project
2. Paste the following HTML into the index page (or any other iframe code)
`<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; aut

[2020-03-29 08:28] hultqvist commented on #20284
Visual Studio Debug Output:

[code]

[2020-03-29 08:29] hultqvist commented on #20284
vscode-chrome-debug.txt

[code]

[2020-03-29 09:56] eskensberg opened #21372 "login is broken for new mvc -au individual (revised: email confirmation error message not displaying)"
## Steps to reproduce:
dotnet new mvc -au individual

## Expected behavior:
afte registering a user, to be able to login using user credentials

## Actual behavior:
when attempting to login, I receive "Invalid login attempt."
tried it multiple times using sql database and new registered users. I checked the db, new users were registered succesfully, just login is broken.

## Additional information

[2020-03-29 10:38] MarekPokornyOva commented on #20205
Hi @javiercn and thanks for you comment.

In my initial post, I meant general extensibility, not only in the partilar mentioned examples. I can see more places where users can't extend/overwrite core functionality. I think, that is very different from .NET Core / ASP.NET Core's design.

The ideas:
1) Lazy loading
This is highly requested feature by Blazor users - there's quite long issue discussio

[2020-03-29 12:36] dibble-james commented on #20231
I've tried getting around this by building the configuration before configuring the OIDC provider like this:
[code]
but that results in the

[2020-03-29 13:50] sukeshchand opened #20285 "Blazor WebAssembly exception while calling REST API calls - WebAssembly.JSException: TypeError: Failed to fetch at WebAssembly.Net.Http.HttpClient.WasmHttpMessageHandler.doFetch"
I am trying to call REST API call from web Blazor WebAssembly using the following code

[code]

The CORS is enabled in the API.

But when running the application, I got the following error.

[code]

Is this can be fixed anyway?

[2020-03-29 13:59] DanielRoberts21 commented on #17516
I am also getting this error on core 3.1 - I have my code on a repo if needed to be seen. Happens once and then if I continue my program it does not happen again.

[2020-03-29 14:49] hannespreishuber opened #20287 "Blazor Webassembly & gRPC"
running a Grpc Service consuming northwind customers.
Works with blazor Server and crashes with  Blazor Webassembly - same code (northwind.razor)

blazor.webassembly.js:1 Grpc.Core.RpcException: Status(StatusCode=Internal, Detail="Bad gRPC response. Response protocol downgraded to HTTP/1.1.")

project https://github.com/hannespreishuber/BlazorWebAssemblyNorthwind

latest builds..

[2020-03-29 15:02] cradle77 opened #20288 "Blazor Wasm 3.2.0 Preview 3 - RequestAccessToken doesn't pass additional scopes with Oidc provider"
Hello, there seems to be a bug in the implementation of `ITokenProvider.RequestAccessToken` when used with the generic Oidc provider.

**Issue summary**: RequestAccessToken doesn't pass the requested scopes to oidc-client.js

I've created a repo in GitHub that reproduces the issue:
https://github.com/cradle77/RequestAccessToken

There are 3 projects:
1) IdentityServer, which defines an API resourc

[2020-03-29 15:16] sukeshchand commented on #20285
I have upgraded the version to 3.2.0-preview2.20160.5 and the issue got fixed.

For more info about new upgrade
https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-2-release-now-available/

[2020-03-29 15:17] #20285 closed

[2020-03-29 15:39] ElderJames opened #20290 "CultureInfo.CurrentCulture cannot be changed in Blazor Wasm."
### Describe the bug
I tried to click on the button to modify `CultureInfo.CurrentCulture`, but it doesn't work.

### To Reproduce

[code]

Got Exceptions? Include both the message and the stack trace
-->

### Further technical details
- ASP.NET Core version: 3.1.201
- Microsoft.AspNetCore.Components.WebAssembly.*: 3.2.0-preview3.20168.3

[2020-03-29 15:49] KonradMasalski commented on #12784
Hi, Isn't it already fixed at https://github.com/dotnet/corefx/pull/40040/files? If It is just a matter of moving the code, I can tackle that one.

[2020-03-29 16:03] RobertoPrimo opened #20292 "How can HTTP request be sent on application startup?"
Hi,

I was reading the documentation (.net core 3.1) about HttpClient and HttpClientFactory and while it makes perfect sense to use the DI from various classes, I am not quite sure how can then an HTTP request be made on application startup?

Concretely, I need to read configuration data from an external API before my application can be used. Could you please tell me how I can achieve this?

[2020-03-29 16:03] BrunoBlanes opened #20293 "System.ArgumentException when trying to invoke .NET method from JavaScript."
### The Bug
Whenever I try to invoke a .NET method from JavaScript, in Blazor WebAssembly, an exception si thrown indicating that the method or assembly was not found.

### To Reproduce
If needed I can provide the full solution, but what I can say is that with Blazor Server I didn't find this issue, only with Blazor WebAssembly.

### Index.razor
[code]

### functions.js
[code]

### BrowserService.

[2020-03-29 17:01] davidfowl commented on #20292
I would just use another HttpClient instead and do that in Main. Then flow that configuration into the builder.

[code]

[2020-03-29 17:02] ncarandini opened #20294 "Using multiple policies inside <AuthorizeView> Blazor component"
Actually we can specify the policy inside the `<AuthorizeView>`, like this:
[code]
and this works well with only one policy.

### Problem

But if I try to use two or more `<AuthorizeView>` components on the same page, to handle different policies, then I do have to set different context for each `<AuthorizeView>`, to prevent indetermination, because each of them implicity define a context with the

[2020-03-29 17:11] davidfowl commented on #20271
@javiercn it belongs in extensions and eventually runtime.

It's an internal implementation detail of the service provider. The top level service provider instance isn't the same instance given to you when you resolve singleton services but it is backed by the same data.

We hand the call back an `ServiceProviderEngineScope` vs the top level `ServiceProvider` instance.

[2020-03-29 17:11] FWest98 commented on #17412
I would really like this feature as well. I found a temporary work-around, by making a custom `HtmlGenerator` and let the DI system inject that class instead of the `DefaultHtmlGenerator`. This way, you can replace the "incorrect" classes by your own custom ones.
For an example, I created a gist: https://gist.github.com/FWest98/9141b3c2f260bee0e46058897d2017d2

[2020-03-29 17:19] sungam3r commented on #20271
Do you mean that both instances share the same set of resolved services?

[2020-03-29 17:30] davidfowl commented on #20271
Yes

[2020-03-29 17:58] mkArtakMSFT commented on #20293
Thanks for contacting us.
The one thing which seems wrong to me without much investigation is the usage of the `JSInvokable` attribute in the `BrowserService` class.
The identifier should be unique per class hierarchy, whereas you're passing in same `Covid19Tracker` value.

[2020-03-29 18:02] pranavkm commented on #20293
[code]

The first argument to `DotNet.invokeMethodAsync` is the assembly name. Have a look at the docs: https://docs.microsoft.com/en-us/aspnet/core/blazor/call-dotnet-from-javascript?view=aspnetcore-3.1#static-net-method-call

[2020-03-29 18:58] BrunoBlanes commented on #20293
Hi, thanks for the quick reply.
I added `<AssemblyName>Covid19Tracker</AssemblyName>` to my client csproj file and it works fine now. How is it that with Blazor Server it works even without specifying the assembly name on the project file?

About the `JSInvokable` attribute, I had it not set to anything before, but changed to that in a useless try to make it work. I have reverted it now. Shouldn't

[2020-03-29 19:04] Daniel15 commented on #14134
@shirhatti  That's unfortunate because this is very clearly a bug. An app should clean up its allocated resources when they're no longer required. This would be similar to not fixing a memory leak because a workaround exists.

[2020-03-29 19:14] huysentruitw commented on #20096
I want to work on this. Do we also have to copy the `DefaultRequestHeaders` from the `Backchannel`'s `HttpClient`?

[2020-03-29 19:20] fcbogle commented on #19590
I am also having serious troubles with this. I had the problem 2 weeks ago and fixed it based on the comments from @frozenfroze I added docker support which was not successful, so I smashed the project, cloned from github and now the problem is back again.

I am unable to even created the dev certificate. Any progress?

dotnet dev-certs https --check
No valid certificate found.

dotnet dev-certs h

[2020-03-29 20:02] nvmkpk commented on #20193
While reproducing in a new project, I realized this only happens when I have an event handler registered for 'onscroll'. But this event handler does nothing until the scrolling actually completes. I would like to know how to prevent this re-render from happening. I attached the repro project.
[RenderIssue.zip](https://github.com/dotnet/aspnetcore/files/4399696/RenderIssue.zip)

[2020-03-29 20:10] huysentruitw commented on #19859
The reason why no one has faced this issue is probably because not much developers use underscores in property-names and thus also not in their appsettings.json. Is that a certain convention you're using?

[2020-03-29 20:31] jeffreyrivor commented on #20096
@huysentruitw, that's a good question. I was mostly concerned with `DefaultRequestVersion` but the user can configure a bunch of other default headers as well that should be arguably respected as well. It may make sense to copy all headers then overwrite the ones that need to be specific values (like `Cache-Control` to no-cache, no-store, max-age 0).

[2020-03-29 21:48] mihaimyh opened #20297 "[Blazor WASM] Protected API endpoint returns HTML instead of JSON"
On a blazor WASM AspNet hosted I have an endpoint protected by a policy but when using `HttpClient` from WASM with a user which does not meet the policy requirements I still get response `200 OK` but the `HttpContent` is the `Areas/Identity/Pages/Account/AccessDenied.cshtml` page.

Of course on the client side it throws below exception, which can be seen in the browser console, due to the fact tha

[2020-03-29 22:05] mkArtakMSFT commented on #17012
@pranavkm I think this is already `Done`, isn't it?

[2020-03-29 22:21] rynowak opened #20298 "Create an analyzer that warns about using `app` instead a nested pipeline or endpoint delegate"
See: #20113 for an example.

This case is security-related, but it's easy to have all kinds of non-security bugs when using delegates in startup code. Any place that we have callbacks (`app.Map(...)`, `endpoints.Map(...)`) it's easy to make a mistake and refer to the wrong application builder.

We could prevent this with an analyzer pretty easily if we look at delegates passed to these methods. We

[2020-03-29 22:28] rynowak commented on #20113
@SandeepRCH - I suspect this isn't working because you're adding the middleware to the main pipeline instead of creating a new pipeline for routing to call.

Try it like this:

[code]

This creates a new middleware pipeline, attaches the swagger middleware to it, and then hooks it up to routing with the URL and policy you wanted.

[2020-03-29 22:30] davidfowl commented on #14134
Yea I agree this shouldn’t be closed.  @Daniel15 can you submit a PR here?

[2020-03-29 22:45] mihaimyh commented on #20297
I guess it is the same issue as here https://github.com/dotnet/aspnetcore/issues/9039 and I fixed it by adding:

[code]

Is this the recommended way of doing it?

[2020-03-29 22:46] rynowak commented on #20231
One of the ideas here (that @davidfowl tried in FeatherHttp) is to make the configuration builder object an `IConfiguration` itself. That way the "current state" of configuration is readable, but the configuration itself is still mutable.

This change would result in making a new public type in BlazorWASM's hosting later that implements this functionality.

[2020-03-30 00:18] IIStevowII commented on #18697
To add to this, if you're using Azure SignalR Service you will get a seperate access token from your hub when initializing the connection, which you will need to use to connect with Azure SignalR Service.

This also means the proposed work-around for placing the access_token in the URL will not work because it is a different token.

I hope this scenario will also be taken into account when address

[2020-03-30 00:52] DonFrazier opened #20302 "TestServer returns body when StatusCode is 204/NoContent which differs from asp.net core server"
### Describe the bug
I have been updating functional tests for an asp.net core web API service to use TestServer instead of  a separate running service instance as outlined here:
https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1

I have one method which returns 204/NoContent but also includes a response body with JSON result.  I realize this is not a standard

[2020-03-30 01:32] wfurt commented on #19590
make sure your KeyChain is unlocked @fcbogle. I would also recommend to use KeyChain and look for any localhost certificates.

[2020-03-30 02:00] #18624 closed

[2020-03-30 06:50] ar0311 commented on #20223
Doesn't seem to happen on Windows. Happens every time on MacOS though.

[2020-03-30 07:36] fcbogle commented on #19590
Hi @wfurt thanks for your comments.
I have done what  you suggest (spent hours trying to debug this). Here is the output from my machine. I upgraded my macos to catalina last night. System details and key management output below:

dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.1.201
 Commit:    b1768b4ae7

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.15
 OS

[2020-03-30 07:45] vstribrny commented on #20288
I have run into the same problem - as a workaround, I added the scope for API resources into the default scopes and it works then:

`options.ProviderOptions.DefaultScopes = new List<string>(new[] { "openid", "profile", "myApi" });`

[2020-03-30 08:05] NPadrutt commented on #20232
I actually have the same issue when I create a new project with just ASP.NET Core Hosting activated.

[2020-03-30 08:15] #19808 closed

[2020-03-30 08:57] bouyeijiang opened #20303 "MemoryStream is closed"
for example below the code throw a error message is  "Cannot access a closed Stream";

                  using (MemoryStream ms = new MemoryStream())
                    {
                        bool isOk = client.Download(ms, actfile);
                        if (isOk) return File(ms, "application/oct-stream", orcfile);
                    }

or

           MemoryStream ms = new MemoryStream();

[2020-03-30 08:59] davidfowl commented on #20303
Don't put the memory stream in a using.

for example below the code throw a error message is  "Cannot access a closed Stream";

[code]

The framework is responsible for disposing the stream.

[2020-03-30 09:01] bouyeijiang commented on #20303
not put the memory stream in a using

[2020-03-30 09:04] davidfowl commented on #20303
Is it possible something else is disposing the stream?

[2020-03-30 09:08] jaragones commented on #20187
For contract, I cannot share app, there is something that you are specifically interested with? I tried to debug it and reproduce the issue for few days, and I couldn't reproduce it.

[2020-03-30 09:11] sylvainonweb commented on #19791
When do you think it could be added?
This morning, I had the same kind of matter removing a property in a component used in probably one hundred pages, I had to search for each instead of let the compiler tells me where the matters are.

[2020-03-30 09:13] sylvainonweb commented on #19952
Any news about this issue ?

[2020-03-30 09:18] bouyeijiang commented on #20303
i don't known why has error

public class helper
{
public MemoryStream GetStream()
{
           MemoryStream ms = new MemoryStream();
            workbook.Write(ms);//写入文件
            ms.Flush();
            ms.Position = 0;//throw error stream is closed
            return ms;
}
}

public class ToHelper
{
 public ToHelper(){}
 public void To(){
  helper h=new helper();
  h.GetStream();//
}
}

[2020-03-30 10:06] MarkusRodler opened #20305 "CORS problem with subresource integrity"
I am trying to load the webassembly version of blazor into an existing javascript app.
But I have problems with the subresource integrity. It throws this error message:
[code]

I included the script within the head with this snippet:
[code]

[2020-03-30 10:16] MathiasViggo opened #20306 "From 3.1 map routing"
Hello we got an issue that out folders looks like this:
* Areas
  * Basic
   * * Controllers
   * * * Message
   * * * * MessageController.cs
   * * * * AutoReplyController.cs

To access autoreply our routing in MVC looks like:
`routes.MapRoute(
                  name: "areas",
                  template: "{area=Basic}/{controller=Home}/{action=Index}/{id?}/{subid?}"
                );`

And in th

[2020-03-30 10:17] javiercn commented on #20305
@MarkusRodler thanks for contacting us.

@SteveSandersonMS thoughts?

[2020-03-30 10:17] hudecekd opened #20307 "WebApplicationFactory creates two instances of Startup class"
### Description
I have ASP.NET Core 3.1 web application and xunit test project.
I use `WebApplicationFactory` with `WithWebHostBuilder`.
If `CreateClient` is called instance of environment specific startup class is created:
- **twice** if `webBuilder.UseStartup(typeof(Startup).Assembly.FullName);` is used which means that `ConfigureServices` is also called twice.
- **once** if `webBuilder.UseStart

[2020-03-30 10:20] javiercn commented on #20297
@mihaimyh thanks for contacting us.

Can you provide a minimal repro project and detailed steps to trigger this issue so that we can help you determine what's going on here?

[2020-03-30 10:23] mihaimyh commented on #20297
Hi Javier,

There is a repo here https://github.com/mihaimyh/laurkyt but, please note that I've already added code mentioned above to the Startup.cs.

Mihai

[2020-03-30 10:25] javiercn commented on #20307
@hudecekd thanks for contacting us.

This is due to changes in hosting that happened in 3.1. The startup callback will be queued immediately when calling UseStartup.

So the recommendation is to call ConfigureServices and replace the services you need to mock for testing purposes.

[2020-03-30 10:26] javiercn commented on #20303
@bouyeijiang thanks for contacting us.

Can you provide a minimal repro project with instructions on how to trigger this issue?

[2020-03-30 10:27] MarkusRodler commented on #20305
Additional info: If I remove the adding of the integrity attribute in blazor.webassembly.js it will work as expected.
If I remove this command in particular:
[code]
And I have to refactor the urls within this file to be absolute instead of relative because I download it from another domain. For example: fetch("http://test.local/_framework/blazor.boot.json" [...]

[2020-03-30 10:31] hudecekd commented on #20307
@javiercn

This example shows that if I just want to test application without any mocking it can cause problem because behavior of `UseStartup` methods is not same. So it is not related to any mocking but actual usage of `UseStartup` method in Program.cs.

[2020-03-30 10:41] javiercn commented on #20297
Not sure what's going on with your repro, but I tried on a simplified project that we have and I get back a 403 as espected.

![image](https://user-images.githubusercontent.com/6995051/77903688-1e482100-7238-11ea-99ba-9a4e6e9572bb.png)

For context, the project I used is setup to use roles and I simply went to an action and changed a role name for a non existing one. That's should trigger the same

[2020-03-30 10:42] javiercn commented on #20297
@HaoK  can you help here? Seems like AddIdentity is behaving differently than AddDefaultIdentity

[2020-03-30 10:47] SteveSandersonMS opened #20308 "Environment variables still affect DebugProxy"
I was getting some errors when trying to launch the debugger on my machine - Kestrel couldn't start because it said something was already listening on the same port. It appears to be because the debug proxy is still trying to inherit environment variables from the parent process.

By putting a breakpoint on the following line in `DebugProxyHost.cs`, it's possible to confirm that the `EnvironmentVa

[2020-03-30 10:48] javiercn commented on #20294
@ncarandini thanks for contacting us.

I'm not sure we can do anything in this area. We'll discuss within the team and update this issue accordingly.

[2020-03-30 10:49] javiercn commented on #20290
@ElderJames thanks for contacting us.

I believe this is not something specific to Blazor and that you will get a faster and better answer if you file an issue in the [mono/mono](https://github.com/mono/mono) repository.

[2020-03-30 10:54] javiercn commented on #20246
@Carl-Hugo thanks for contacting us.

This is something that we want to discourage due to security implications. We don't plan to do any change in this area, and you can build such helper if you want to, but we discourage you from doing so as you are opening yourself to XSS.

[2020-03-30 10:54] #20246 closed

[2020-03-30 10:55] javiercn commented on #20204
@tezine thanks for contacting us.

Can you provide a minimal repro project so that we can help you determine what's going on here?

[2020-03-30 11:31] mihaimyh commented on #20297
@javiercn With AddDefaultIdentity I don't have this issue anymore.

[2020-03-30 12:31] benmccallum commented on #8321
+1 for this.

I've got a pretty sweet workflow setup with [Verify](https://github.com/SimonCropp/Verify), allowing me just iterate on tests, approve outputs and have the tests re-run. The only part lacking is when I want to expand my test suite with new files.

A workaround is to keep adding test classes into the same file and then split them out later, but it's a bit painful.

[2020-03-30 12:35] SteveSandersonMS commented on #20305
If you want to disable integrity checking, you can do so by adding this to your project file:

[code]

Otherwise, integrity checking will be enabled and is behaving as expected. The restriction that CORS is required is a restriction controlled by the browser, not Blazor.

[2020-03-30 13:34] Delaire opened #20309 "[Blazor WASM] Support HLS media audio/video"
### Support HLS m3u8 file format for audio & video
Blazor WASM  supports mp4 videos but does not support hls/m3u8 video format, am I missing something?

url : https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8

### Further technical details

- VS 2019 pro PREVIEW 16.6.0 Preview 2.0
- Windows 10 Pro build 18363.720
- MS Edge Version 80.0.361.69 (

[2020-03-30 13:43] TPIvan commented on #5605
Is threre any intention to correct this bug in near future?

[2020-03-30 13:51] SteveTarango commented on #19880
Hi Chris,

sorry for the late answer. The virus is slowing down everything.
Fiddler trace is attached. Screenshot as well.

It might be, that the body is corrupt, but (according to my team members) using the framework we should expect a 400 Error (Bad Request) and not a 500 error.

[cid:image002.png@01D606AB.16F2E640]

Best Regards
Stefan Cernohuby

From: Chris Ross <notifications@github.com>
Sent

[2020-03-30 13:56] MarkusRodler commented on #20305
@SteveSandersonMS Thanks for your answer. This is an option but I think it would be better to not disable this flag. I have read more about this topic and I think it is a bug in the generation of the link tag.

I think it is a crossorigin="anonymous" attribute missing. If I add it, then everything works:
[code]
Output:
<script src="http://test.local/_framework/wasm/dotnet.3.2.0-preview2.20159.2.js

[2020-03-30 14:04] SteveSandersonMS commented on #20305
@MarkusRodler That sounds good! If you're interested in making a PR that does this, I think we'd be pleased to accept it.

[2020-03-30 14:06] SteveTarango commented on #19880
Hi Chris,

sorry for the late answer. The virus is slowing down everything.
Fiddler trace is attached.

It might be, that the body is corrupt, but (according to my team members) using the framework we should expect a 400 Error (Bad Request) and not a 500 error.

Best Regards
Stefan aka Steve
[RawFile.txt](https://github.com/dotnet/aspnetcore/files/4403307/RawFile.txt)

[2020-03-30 14:24] TPIvan opened #20310 "Blazor: Single-Quoted Attribute is rendered as Double-Quoted"
### Describe the bug
When an attribute is enclosed in single quotes in razor markup (`onclick='alert("hello")`') it is rendered with double quotes to HTML output (`onclick="alert("hello")"`). The resulting syntax is invalid (`Uncaught SyntaxError: Unexpected end of input`). The issue can be connected with [Compiler error with mixed content in onclick attribute #5605](https://github.com/dotnet/aspn

[2020-03-30 14:41] pawod commented on #20229
@anurse thanks for the response, I just tried the 2.1 packages with no success. On SO I got following comment regarding this issue ([link](https://stackoverflow.com/questions/60883918/cancellationtoken-not-triggering-when-using-iis))

**Can you or anyone else confirm this?** I guess I will need to migrate the entire project to `netcoreapp3.1` in order to be able to use the latest ASP.NET Core pack

[2020-03-30 14:42] Javaman2 commented on #20102
Still would like to see an example of how to authenticate an ASP.NET Core 3.1/Angular app, with Azure AD.

[2020-03-30 14:44] Javaman2 commented on #19581
Thanks John, I'll give it a try.

[2020-03-30 14:48] MarkusRodler commented on #20305
@SteveSandersonMS I searched throughout the project, but actually I have no idea where the blazor.webassembly.js file is generated. 😄 I can fix it in the generated file but that does not help.
Can you point me to the file where the integrity is set?

[2020-03-30 14:55] MarkStega opened #20312 "Blazor: Bind-Value fails at runtime rather than at compile time if the bound property doesn't exist"
### Describe the bug
If you have a component (Component1) that has a property defined as a parameter called 'Value' you can use that property in a page or component referencing Component1 as
[code]
and if you type the name of the parameter, the color changes in VS and an error is generated.
If, on the other hand, you try to use the parameter in a bind, and type the name incorrectly as 'Valeu'
[cod

[2020-03-30 14:56] SteveSandersonMS commented on #20305
For that specific script tag, it's here: https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts#L135

If you're changing this, can you please also change other places where `integrity` is set?

 * https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Components/Web.JS/src/Platform/WebAssemblyResourceLoader.ts#L30
 * https://github.com/dotn

[2020-03-30 14:57] javiercn commented on #20309
@Delaire thanks for contacting us.

I'm not sure there's anything specific blazor needs to do to support that. I imagine those things get rendered on a `video` tag and at that point there's nothing blazor specific there?

Can you make it work in plain HTML? Does it give any error message?

[2020-03-30 14:59] javiercn commented on #20312
@MarkStega thanks for contacting us.

I believe the compiler is simply not smart enough to detect this situation and colors anything that goes after `bind-` expecting that there is a matching property there.

Keep in mind that `bind-` can't in the general case know the set of properties/attributes that are applicable to a given component.

[2020-03-30 15:03] javiercn commented on #20272
@msschl thanks for contacting us.

You could achieve a similar result if you used a string for the controller and selected to also replace strings when performing the rename.

I don't think it is possible for us to tie into the rename functionality of the editor to implement what you suggest, so the alternative that I'm suggesting might be your better choice.

[2020-03-30 15:04] MarkStega commented on #20312
@javiercn
I understand that the compiler is not 'smart' enough at the current time. My point is that letting something invalid through a compiler is just wrong and needs to be addressed.

[2020-03-30 15:06] javiercn commented on #20241
@PurdueGuy531 thanks for contacting us.

If you are trying to execute the view, we don't recommend you go that way and instead we recommend you write an integration test for it. In general, integration tests are a better choice for controllers and pages, but if you want to unit test them, it should be possible (although more involved) to do so.

If you produce a minimal repro with your test code w

[2020-03-30 15:10] javiercn commented on #20269
@babula38 thanks for contacting us.

I'm not sure `System.Text.Json` supports dynamic. From what I understand from the sample it is getting deserialized into a JsonElement.

This is not an ASP.NET Core specific issue but a System.Text.Json limitation, you can try using newtonsoft.json for this scenario (not sure if it will work) or file an issue in [dotnet/runtime](https://github.com/dotnet/runtim

[2020-03-30 15:10] #20269 closed

[2020-03-30 15:11] javiercn commented on #20234
@JulienM28 thanks for contacting us.

We're putting this issue in the backlog until we receive more feedback about it. We will reconsider it for future releases.

[2020-03-30 15:16] javiercn commented on #20228
@xFirestorm thanks for contacting us.

A few questions:
* Are you able to pause the debugger inside `elementClick`?
* Can you reproduce this issue in plain HTML?

[2020-03-30 15:19] Carl-Hugo commented on #20246
## Feature request/Follow-up

@javiercn So anyone who has any kind of data-driven markup to display will have to implement their own helper because you don't want people to do that?

Knowing that people will do it anyway, I think that if you want to help make the internet a more secure place, you should provide a helper that optionally remove `<script>` tags and whatnot? I understand that its clea

[2020-03-30 15:22] n777ty opened #20313 "ANCM symbols not on symbol server"
Per our internal discussion on Friday - it appears that ANCM symbols are not uploaded to internal symbol server.  Can we also ensure that Preview builds are included (in case those are omitted).

@shirhatti @anurse @jkotalik

[2020-03-30 15:26] nvmkpk opened #20314 "No StackOverflowException is thrown when calling recursively too many times in blazor"
I had a method calling itself (indirectly) and I was running into the below error:
[code]
It took long time for me to figure out the real cause. Is there something blazor/webassembly runtime can do to throw StackOverflowException to make debugging easier?

[2020-03-30 15:27] os1r1s110 commented on #12412
Just faced the same issue as @Mah3, which is partially fixed by removing the `{ options.ResourcesPath = "Resources"; }` part, but in this case, it's the rest of localization that is broken...

Has there been any fix found for this issue?

[2020-03-30 15:47] os1r1s110 commented on #12412
Seems like this issue is related to #17960, in which @pranavkm has mentioned it's a change in the SDK that causes this issue and was supposedly working on a statement (which I hadn't find yet).

Would it be possible to have more details (here or in the other issue) about the changes? As in my case, I can't make both work (data annotations localization and view localization/string localizer) and I'

[2020-03-30 15:51] os1r1s110 commented on #12412
After searching more, I also found a link with issue #17269, which seems to point to a problem with VS and not necessarily with asp.net core.

[2020-03-30 16:01] javiercn commented on #20078
I can't repro this with the latest template from VS and the 3.1.3 SDK. My version is `Version="3.2.0-preview3.20168.3"`

[2020-03-30 16:01] javiercn commented on #20078
Closing since I can't reproduce it.

[2020-03-30 16:01] #20078 closed

[2020-03-30 16:02] #19882 closed

[2020-03-30 16:04] pranavkm commented on #19624
Fixed in https://github.com/dotnet/aspnetcore/commit/cb6858fe31b9784e02ccee1d92e9e27d115d8d06

[2020-03-30 16:04] #19624 closed

[2020-03-30 16:16] mkArtakMSFT commented on #20314
This issue was moved to mono/mono#19369

[2020-03-30 16:16] #20314 closed

[2020-03-30 16:18] mkArtakMSFT commented on #20312
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-03-30 16:29] mkArtakMSFT commented on #20287
Thanks for contacting us. gRPC is not supported in browsers. You should use gRPC-web instead.
You can learn more about this at https://docs.microsoft.com/en-us/aspnet/core/grpc/browser?view=aspnetcore-3.1

[2020-03-30 16:29] #20287 closed

[2020-03-30 16:31] mkArtakMSFT commented on #20284
Thanks for contacting us. This is a Mono issue, which is already being tracked in https://github.com/mono/mono/issues/19218

[2020-03-30 16:31] #20284 closed

[2020-03-30 16:32] mkArtakMSFT commented on #20284
The app will work, if you run it without Debugging.

[2020-03-30 16:32] mg1357 opened #20316 "Nested object Debug problem in Blazor Webassembly"
I use Visual Studio 2019 preview (16.6.0 preview 2) and Blazor Webassembly 3.2 preview 3.
I have problem debugging deeply nested objects.
Steps to reproduce:
Model:
[code]
Controller:

[code]
FetchData:
[code]
With these codes the Fetch data forecasts show correctly but during debug I can't see forecasts collection.
The following screenshots shows:

![Git1](https://user-images.githubusercontent.co

[2020-03-30 16:36] pranavkm commented on #20290
@ElderJames, `CultureInfo.CurrentCulture` is async-scoped. You need to use https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.defaultthreadcurrentculture?view=netstandard-2.1 to configure it.

We're adding additional support for localization as part of 3.2-preview4 part of which involves loading satellite assemblies. Satellite assemblies are only downloaded as part of the

[2020-03-30 16:36] BrennanConroy commented on #20187
We've been unable to repro the problem in a simple Java app, so any info you can give about an app that has this issue would be helpful.

[2020-03-30 16:37] mkArtakMSFT commented on #20270
Thanks for contacting us.
There are few requirements for VS Auto-Rebuild to work:
- you should not have debugger attach. Use Ctrl+F5
- you have to run under IIS Express

[2020-03-30 16:37] #20270 closed

[2020-03-30 16:40] mkArtakMSFT commented on #20263
Thanks for contacting us.
Unfortunately, we are unable to reproduce this behavior to be able to investigate this.
Can you please reinstall Edge browser (in case there are some settings which got messed up).
And second option, try to repair the VS installation.

This is experimentation, as we couldn't reproduce this.

[2020-03-30 16:42] hannespreishuber commented on #20287
ah ok, would be helpfull to add some console message for that

[2020-03-30 16:43] mkArtakMSFT commented on #20259
Thanks for contacting us.
Can you please share the full exception details (including the stack trace)?

[2020-03-30 16:43] mkArtakMSFT commented on #20259
Can you also confirm, whether this works when you run it from the command line?

[2020-03-30 16:51] mkArtakMSFT commented on #20238
Thanks for contacting us. Glad that you've figured this out!

[2020-03-30 16:51] #20238 closed

[2020-03-30 16:53] mkArtakMSFT commented on #20237
Thanks for contacting us. This is a dupe of https://github.com/mono/mono/issues/19218

[2020-03-30 16:53] #20237 closed

[2020-03-30 16:58] mkArtakMSFT commented on #20233
Thanks for contacting us. It looks like you may have missed some steps from the migration guidance. Please have a look at: https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-3-release-now-available/

Please note, that if your project is updating from an older preview than 3.2-preview2, then you will have to also go through every release migrating guide in between.

[2020-03-30 16:59] Tratcher commented on #20308
I see what you mean.
https://github.com/dotnet/aspnetcore/blob/f990751f549417bade35e4c98d3d6ca07ecba43f/src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs#L34-L40

Could you remove that provider in ConfigureHostConfiguration?

[2020-03-30 17:00] Tratcher commented on #20308
Also, I suggest switching from ConfigureWebHostDefaults to ConfigureWebHost. It won't completely remove this issue, but it will give you the lowest level of control.

[2020-03-30 17:02] SteveSandersonMS commented on #20308
I tried, but it didn't seem feasible because by the time `ConfigureHostConfiguration` runs, that provider is already nested several levels deep in `ChainedConfigurationSource` instances. These instances don't have any API to tell you about their underlying sources, and even if they did, they don't expose any APIs for mutating those sets.

[2020-03-30 17:05] tezine commented on #20204
Hi @javiercn , I created a project on github. You can get it here:  https://github.com/tezine/TestBlazor

[2020-03-30 17:08] pranavkm commented on #20231
I can look at fixing the issue @dibble-james ran in to where building the `IConfigurationBuilder` twice fails. Do we want to do anything specific for blazor-wasm to allow reading config without having to construct it? For instance, we could expose a `FooConfigurationBuilder : IConfigurationBuilder, IConfiguration` off of the host builder.

[2020-03-30 17:09] JunTaoLuo commented on #20168
FYI doc at https://github.com/aspnet/specs/blob/master/notes/5_0/tooling-consolidation.md

[2020-03-30 17:11] msschl commented on #20272
Thanks @javiercn

This would still require a second search and replace for some editors.

My suggestion would be something like this:
[code]

I'll close the issue because this is nothing mandatory.

[2020-03-30 17:11] #20272 closed

[2020-03-30 17:26] HaoK commented on #3773
@blowdart this is really old, safe to close out?

[2020-03-30 17:26] skype007 commented on #19608
All right someone in the team is going to submit a "Support request" in Azure so they can investigate deeper ;)

If we found a solution, i'll share it with you so it can help others ;) In the meantime take care of you guys and your loved ones (about the situation with the Coronavirus) !

[2020-03-30 17:28] #3370 closed

[2020-03-30 17:36] dibble-james commented on #20231
FYI if anyone wants a real dirty way around this while this filters through you can do something like this:
[code]
Then register it like so: `builder.Services.AddSingleton<AuthenticationStateProvider, ConfigurableRemoteAuthenticationService>();`

[2020-03-30 17:46] os1r1s110 commented on #12412
Finally after finding [this issue](https://github.com/microsoft/msbuild/issues/4996#issuecomment-581647925), it seems like this is expected behavior (following a desired breaking change, but does not seem documented in the [breaking changes list](https://docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.0)).

Hence as recommended in the issue above, I will link the related docs issue here [

[2020-03-30 17:51] NTaylorMullen opened #20320 "Upgrade to latest O# LangaugeServer Extension"
https://www.nuget.org/packages/OmniSharp.Extensions.LanguageServer/

- Will be able to remove our [AutoFlushingStream](https://github.com/dotnet/aspnetcore-tooling/blob/c1c501215e8be5830090a41fd4bd87135ce35923/src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/RazorLanguageServerClient.cs#L100) impl

- [x] Make sure that hovers/completions/whatnot work on HTMLY files.
- [x] Try removi

[2020-03-30 17:52] Pilchie commented on #20168
:eyes:

[2020-03-30 17:53] Pilchie commented on #20168
Nothing private in those notes, consider just putting here instead of internal?

[2020-03-30 17:56] NTaylorMullen opened #20321 "Fix completion resolve data in VS LSP editor scenarios"
Right now when we gather completion items from C#/HTML they aren't always correct

![image](https://user-images.githubusercontent.com/2008729/77945028-d1367000-7274-11ea-8b7f-421c502a00eb.png)

![image](https://user-images.githubusercontent.com/2008729/77945099-f3c88900-7274-11ea-920e-7e6b91e2f160.png)

This is most likely due to the platforms non-support for LSP's markup content. We should look a

[2020-03-30 17:59] SteveSandersonMS commented on #20308
Update: @Tratcher and I discussed this on a call and after some debugging, came to the conclusion that since we want to eliminate *all* inheritance of ASP.NET-related env vars from parent to child, it's not desirable to work around this using `ConfigureWebHost` (not that we could make this work anyway, since IISExpress injects itself into the child via the same inheritance of env vars).

Suggested

[2020-03-30 18:07] HaoK commented on #9447
Feel free to reopen this if you see this issue happen reliably again

[2020-03-30 18:07] #9447 closed

[2020-03-30 18:09] mnbeer opened #20322 "Blazor/Razor: shorthand if and for"
For more concise markup and to mimic templating practices developers are used to in JavaScript frameworks, support in-tag "if" and "for" statements.

### So, in addition to this construction
[code]

### support this one-liner
`
    <button @if="ICanEdit" @onclick="DeleteMe"><i class="ms-Icon ms-Icon--Delete"></i></button>
`

[2020-03-30 18:11] HaoK commented on #13000
@blowdart ok closing this?  Phone having future time seems like reasonable failure behavior

[2020-03-30 18:12] wfurt commented on #19590
Any chance you do this via SSH or on system where you are no logged in in the GUI?

I was able to reproduce similar failure when I `ssh  127.0.0.1` first and then run same command as same user. Now, when Keychain is locked and app needs access, OS will prompt password dialog to unlock it. That is not possible via SSH (or without GUI session) and the crypto operation will fail.
If this is the case,

[2020-03-30 18:13] blowdart commented on #3773
Closing as no repo

[2020-03-30 18:13] #3773 closed

[2020-03-30 18:14] anurse commented on #18697
@IIStevowII Yep, that's something the client already handles, it just tries to use a header instead of the URL. Our current fix works in the Azure SignalR scenario as well. Thanks for the heads-up though!

[2020-03-30 18:14] blowdart commented on #13000
Closing as by design, as the window on TOTP is 15 minutes

[2020-03-30 18:14] doogdeb commented on #13000
As I mentioned, that was the only time we could replicate it ourselves. But we're seeing at least 1-1500 of these errors a day.

[2020-03-30 18:14] blowdart commented on #13000
Oh hmm

[2020-03-30 18:15] blowdart commented on #13000
Is it only on phones? Or browsers as well? Are the times all synced on the servers?

[2020-03-30 18:16] doogdeb commented on #13000
The logs show that it's from all types of device and browser.

[2020-03-30 18:16] NTaylorMullen opened #20324 "Fix VS completion icons"
All of our completion items (directives, components, TagHelpers, HTML) have the same "T" completion icon. We need to look into how the LSP client platform handles the icons we're returning and make this experience better.

![image](https://user-images.githubusercontent.com/2008729/77945668-d9db7600-7275-11ea-9243-c192d30d0452.png)

![image](https://user-images.githubusercontent.com/2008729/7805638

[2020-03-30 18:17] doogdeb commented on #13000
Were wondering if bots would cause this?

[2020-03-30 18:17] captainsafia commented on #20308
Yes, I'll prep a PR for this.

[2020-03-30 18:17] anurse commented on #19608
Given that, I'll move this over to the Discussions milestone to take it out of our triage queue. Please do let us know if something comes from the support request!

And you! Stay safe!

[2020-03-30 18:17] HaoK commented on #3514
@blowdart are we ok with the 5 minute fix long term, or is there some more work that we want to consider here?

[2020-03-30 18:18] blowdart commented on #3514
More I think. We need to have a major rethink for parts of data protection anyway, which will happen in 6, so leave for now

[2020-03-30 18:19] anurse commented on #20229
I can't speak to that, but it could be possible.

Can you share your sample application and exactly how you tested it so we can try to reproduce this?

[2020-03-30 18:20] HaoK commented on #18572
Closing since you've found a workaround as well

[2020-03-30 18:20] #18572 closed

[2020-03-30 18:24] #8866 closed

[2020-03-30 18:26] blowdart commented on #17366
Closing as done

[2020-03-30 18:26] #17366 closed

[2020-03-30 18:29] #9459 closed

[2020-03-30 18:32] HaoK commented on #11742
@blowdart should we close since Azure is owning these going forward? https://github.com/aspnet/Announcements/issues/409

[2020-03-30 18:33] HaoK commented on #6095
We are no longer owning the Azure integration packages going forward, feel free to file this issue over in their repo, see https://github.com/aspnet/Announcements/issues/409

[2020-03-30 18:33] #6095 closed

[2020-03-30 18:33] Tratcher commented on #19880
Oh my. The request content-type is application/x-www-form-urlencoded, but the body format is actually multipart/form-data. That's not going to work... What is generating this request? You need to fix the content-type.

Yes, we have identified a number of places in MVC where new and novel exceptions like this are being thrown and need to be converted to 400 responses. That's the change I would expe

[2020-03-30 18:34] blowdart commented on #11742
Yup :)

[2020-03-30 18:34] #11742 closed

[2020-03-30 18:36] HaoK commented on #18387
We no longer are maintaining the Azure integration packages starting in 5.0, please file a new issue in the Azure repro if this is still an issue see https://github.com/aspnet/Announcements/issues/409

[2020-03-30 18:36] wfurt commented on #19590
I missed ` keychain could not be found.` from your post @fcbogle when I wrote my previous response. Can you run `security list-keychains` and `security default-keychain` ?
Did you run the `KeyChain Access` app? You should see at least `System` and `Login` keychains there.

[2020-03-30 18:42] Tragetaschen commented on #12830
Apparently, using the synchronous file system APIs (in this case [`element.Save`](https://github.com/dotnet/aspnetcore/blob/v3.1.1/src/DataProtection/DataProtection/src/Repositories/FileSystemXmlRepository.cs#L139)) does not call `fsync` and is prone to leaving behind empty files on crash / power loss.

I have moved that file to a tmpfs to avoid this:

[code]

https://github.com/dotnet/runtime/iss

[2020-03-30 18:46] chucker commented on #20259
There is no stacktrace (or I wouldn't know how to get to it), because the exception is raised by MSBuild. With MSBuild set to detailed, here's the output for that particular target:

[code]

And [here's](https://gist.github.com/chucker/9507cde414c05d893dc3a4613467ae5f) the entire output.

Looks like it does work, _if_ I explicitly clean first. Iif I don't and simply `dotnet run`, it seems to assum

[2020-03-30 18:52] #20084 closed

[2020-03-30 18:57] MarekPokornyOva opened #20327 "Error evaluating DynamicObject value in Blazor WASM"
### Describe the bug
I get error while evaluating DynamicObject descendant's value in Blazor WASM. I can't recognize if this is Blazor or Mono issue, pardon me if I reported this in incorrect repo.

### To Reproduce
Pages\Index.razor
[code]

Displaying the page in browser I see in browser's console output:
WASM: ﻿Log value:dynamic value blazor.webassembly.js
WASM: ﻿Unhandled exception rendering co

[2020-03-30 18:58] DanielFawcett commented on #20270
Ahhh okay, wonderful thank you!!

[2020-03-30 18:58] Tratcher commented on #12784
@kmasalski yeah, looks like they addressed this in a separate copy.

[2020-03-30 19:00] #16862 closed

[2020-03-30 19:00] #20293 closed

[2020-03-30 19:02] #17464 closed

[2020-03-30 19:02] #17912 closed

[2020-03-30 19:02] laroygreen commented on #20228
I am experiencing a similar issue with Firefox 74.0 (64-bit) but not in Chrome 80.0.3987.149 (64-bit). Additionally, I get this error with Firefox that I do not get with Chrome "**Error: Found malformed component comment at Blazor**". I am able to pause the debugger inside Chrome but not in Firefox. Additionally, Firefox does not show any event listeners when inspecting while Chrome does.

**Envir

[2020-03-30 19:09] HaoK commented on #16775
Seems like this might be the same issue as https://github.com/dotnet/aspnetcore/issues/16866 @ajcvickers is this a dupe?

[2020-03-30 19:09] Tratcher opened #20328 "Need the ability to suppress the environment variable config source"
https://github.com/dotnet/aspnetcore/issues/20308

### Describe the bug

Blazor's debug proxy runs as a separate process launched from the web app. When running behind IIS out-of-proc it inherits all of the environment variables from IIS/ANCM which causes it to think it is the one responsible for handling requests proxied from IIS. It also ends up with the wrong content root and other such config.

[2020-03-30 19:09] Tratcher commented on #20308
Filed https://github.com/dotnet/aspnetcore/issues/20328 for 5.0

[2020-03-30 19:13] HaoK commented on #20297
@mihaimyh so everything works properly when you use AddDefaultIdentity but not if you call AddIdentity?

[2020-03-30 19:13] Tratcher commented on #20096
No, DefaultRequestHeaders are automatically copied to every request.
https://github.com/dotnet/runtime/blob/b80554c56a4c38695518283ef91be5ad5a407a49/src/libraries/System.Net.Http/src/System/Net/Http/HttpClient.cs#L775-L778

[2020-03-30 19:15] #16764 closed

[2020-03-30 19:15] mihaimyh commented on #20297
@Haok Yes, with default identity is working fine.

[2020-03-30 19:16] HaoK commented on #20297
So everything is working fine for you now?

[2020-03-30 19:20] mihaimyh commented on #20297
Yes, thanks.

[2020-03-30 19:21] #20297 closed

[2020-03-30 19:41] captainsafia commented on #20308
Thanks, @Tratcher!

Closing this as it has been resolved in #20326.

[2020-03-30 19:41] #20308 closed

[2020-03-30 19:56] kmasalski commented on #12784
@Tratcher it is already moved to master https://github.com/dotnet/aspnetcore/blob/master/src/Shared/runtime/Http2/Hpack/DynamicTable.cs. It seems that the issue can be closed

[2020-03-30 19:56] danroth27 commented on #20233
Some things to confirm when debugging Blazor WebAssembly in VS Code:

- Is the project fully upgraded to Blazor WebAssembly 3.2 Preview 3?
- Is the project being run in the Development environment with the debug proxy enabled?
- Do you have both the C# and JS Debugger (Nightly) extensions installed with preview JS debugging enabled?
- Did the launch.json file get correctly generated into the proje

[2020-03-30 20:00] fcbogle commented on #19590
Hi @wfurt here is the output of those commands. Thank you for taking a look!
security list-keychains
    "/Library/Keychains/System.keychain"
security default-keychain
security: SecKeychainCopyDefault: A default keychain could not be found.

[2020-03-30 20:00] #18665 closed

[2020-03-30 20:01] BrennanConroy commented on #19716
Likely fixed by https://github.com/dotnet/aspnetcore/pull/20315

[2020-03-30 20:01] fcbogle commented on #19590
Here is my Keychain:
![image](https://user-images.githubusercontent.com/15067498/77956364-a75b6880-72c9-11ea-8a39-66df961b71ab.png)

[2020-03-30 20:33] wfurt commented on #19590
I think the we are on right track. The list command does not show your login keychain  and default is not set. When I run this on my system I get:
[code]

now, it is curious that the app is showing Login keychain while the command line tool does not.
If you right click on the `Login` keychain is there option "Make Default"? And if it is, would that change output of the commands? I did not figure o

[2020-03-30 20:44] barahonajm commented on #12238
I would like to take a look at this if nobody worked or is working on this yet

[2020-03-30 20:46] #20096 closed

[2020-03-30 20:48] #20184 closed

[2020-03-30 20:51] Tratcher commented on #12784
Should make sure we have some tests before closing this.

[2020-03-30 20:52] anurse commented on #20187
The crash generally occurs if you have not registered an `onError` callback on any of the Rx primitives returned by SignalR's async operations (like `.start`, `.invoke`, etc.). As a first step, it would be good to review your usage of those and make sure you've registered `onError` callbacks (using either `.subscribe` or something like [`.doOnError`](https://javadoc.io/doc/io.reactivex/rxjava/1.2.

[2020-03-30 20:54] anurse commented on #20328
![The character "Chandler Bing" from the TV show "Friends" yells "I knew it" and gestures wildly at a character who is walking off camera.](https://31.media.tumblr.com/d3a36badad4ab1b6ca89b5b6e9da1d31/tumblr_inline_n1ojj6zKaC1qknuzb.gif)

[2020-03-30 20:56] anurse commented on #20209
Looks like this is a pretty stale issue, referencing .NET Core 2.0 which is end-of-life. Is this issue still occurring on a supported release of .NET Core (currently 2.1 or 3.1)?

[2020-03-30 20:58] Tratcher commented on #20267
What errors do you get? Anything in the event logs or application logs?

[2020-03-30 20:59] fcbogle commented on #19590
Thank you! Ok, I had to fix my $HOME environment variable which is done.
Here is the output now from the previous commands including the $HOME variable
`Franks-iMac:~ frankbogle$ echo $HOME
/Users/frankbogle
Franks-iMac:~ frankbogle$ security list-keychain
    ""
    "/Users/frankbogle/Library/Keychains/login.keychain-db"
    "/Library/Keychains/System.keychain"
Franks-iMac:~ frankbogle$ security

[2020-03-30 21:00] fcbogle commented on #19590
I seem to have a empty string: `""` in the keychain. I can't see that in the UI

[2020-03-30 21:04] anurse commented on #20187
Triage Notes: While the information requested by the above comment is still useful, we do think there's one place we might have a missing `onError` callback in our own code which we'll take a look at.

[2020-03-30 21:07] anurse commented on #20282
@praeliorz Can you provide a runnable sample that demonstrates how you're writing to the groups?

In *general*, a slow client should not affect when the `SendAsync` completes. However, if there's a long backlog of messages waiting for a single client and the client has disconnected (and is thus not recieving them), then you can end up blocked.

[2020-03-30 21:08] danielchalmers opened #20331 "IIS Load Failure when targeting x86 platform"
### Describe the bug
Changing `PlatformTarget` to `x86` will result in a `HTTP Error 500.0 - ANCM In-Process Handler Load Failure` on run using IIS Express.

![image](https://user-images.githubusercontent.com/7112040/77961944-479c9780-72a0-11ea-8b38-2e10778041c2.png)

### To Reproduce
1.     dotnet new web -o repro
1. Open `repro/repro.csproj` in Visual Studio
1. In `Build` properties, change `Pla

[2020-03-30 21:10] EricCornelson commented on #20247
This makes sense. Normally we're connecting the debugger to the browser which _should_ launch within a second or two. With Blazor-wasm, we're connecting to the Blazor CDP proxy, which is tied to the server application start-up (and thus, build).

We can certainly increase the timeout more as a quick fix, but I do worry that we'll always have some extremely large Blazor project that could take long

[2020-03-30 21:10] wfurt commented on #19590
I would backup your existing keychain and you can try to delete it with `security  delete-keychain`. However, it should be ok to have more KeyChains so you may not bother. Is the `dotnet dev-certs https --trust` working now for you?
Note that the HOME is used for other things as well - like package cache and other .NET files.

[2020-03-30 21:18] anurse commented on #20313
@n777ty can you provide the file version information for the ANCM DLLs you're trying to get symbols from?

[2020-03-30 21:23] anurse commented on #20302
It's not uncommon for TestServer and a "live" server to have different behavior. Even the server behaviors are sometimes inconsistent.

It actually seems useful that TestServer would not filter out content to allow an application's tests to properly assert that there is no body in a 204 response (since a body is not allowed by the spec).

My sense is that this behavior is by design.

[2020-03-30 21:26] anurse commented on #20262
.NET Core 3.0 is [end-of-life](https://devblogs.microsoft.com/dotnet/net-core-3-0-end-of-life/) and no longer supported, we strongly recommend upgrading to 3.1.

In general, this error indicates that you are missing the Visual C++ Runtime. Can you try installing that and see if it resolves your issue?

[2020-03-30 21:26] n777ty commented on #20313
aspnetcorev2.dll and aspnetcorev2_outofprocess.dll with file version:  13.0.19218.0
aspnetcore.dll with file version: 12.2.18346.1

[2020-03-30 21:26] wocar opened #20332 "Blazor components do not work in partial views."
### Describe the bug
Blazor components do not work in partial views.

### To Reproduce
I have `Index.cshtml` that Invokes a partial view called `_details.cshtml`
Within that partial view I'm trying to invoke `Details.razon` Razor component like this:

    @(await Html.RenderComponentAsync<Details>(RenderMode.ServerPrerendered))

Events don't get fired but content does get rendered.
If I use

    @

[2020-03-30 21:29] thelgevold opened #20333 "SignalR with Messagepack: JavaScript Number to C# Double Precision Loss"
### Describe the bug
When serializing and deserializing values between JavaScript and C# using SignalR with MessagePack I am seeing a bit of precision loss in C# on the receiving end.

As an example I am sending the value 0.005 from JavaScript to C#. When the deserialized value appears on the C# side I am getting the value 0.004999999888241291, which is close, but not 0.005 exactly. The value on t

[2020-03-30 21:59] SteveSandersonMS commented on #20247
Thanks for looking into it.

@BillHiebert would be best placed to know if we can do that.

[2020-03-30 22:00] #20049 closed

[2020-03-30 22:01] Omen90 commented on #20267
Unfortunately nothing. No exception. I tried to attach it to the process in VS but without success.

Also no luck with this:

    public class BridgeWebHostService : WebHostService
    {
        public BridgeWebHostService(IWebHost host) : base(host)
        {

        }

        protected override void OnStarting(string[] args)
        {
            System.Diagnostics.Debugger.Launch();

[2020-03-30 22:13] DonFrazier commented on #20302
Everything else worked 100% except the PUT response.  I understand there is no test like PRODUCTION.  This test was the only one that had any issue when I switched from hitting a running service to using TestServer.  If it's supposed to be different in the one small area, I would be surprised.

https://github.com/dotnet/aspnetcore/issues/4398
implies the server code was updated specifically for th

[2020-03-30 22:16] Tratcher commented on #20267
Windows event viewer should show any crashes. Also, it's a good idea for a windows service to use a direct file logger like  Serilog.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#create-logs-in-the-program-class

[2020-03-30 22:20] jeremysimmons commented on #18204
Move `ApiException` and `ApiException<TResult>` to their own namespace

[code]

Modify your csproj file OpenApiReference elements to include `      <Options>/AdditionalNamespaceUsages:Ent.Api.Exceptions /GenerateExceptionClasses:false</Options>`

[code]

[2020-03-30 22:26] anurse commented on #20302
@DonFrazier can you share the test code, to give some more context? I'm certainly not opposed to making a change if it seems valuable here.

[2020-03-30 22:30] BillHiebert commented on #20247
@EricCornelson - we don't launch the browser until after the server has started and we can connect to the port. i.e. the webserver has opened the socket.  So the build will have completed before we started the web server. If there is a subsequent delay before the CDP proxy is available that would introduce another race condition. Rather than put a hardcoded delay could you add a retry loop instead

[2020-03-30 22:32] fcbogle commented on #19590
Hi @wfurt - success. Thank you for your help resolving this! I really appreciate your help!
`dotnet dev-certs https -t -v
Trusting the HTTPS development certificate was requested. If the certificate is not already trusted we will run the following command:
'sudo security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain <<certificate>>'
This command might prompt you for your p

[2020-03-30 22:39] wfurt commented on #19590
I'm glad it worked out. I know it is not always obvious what it is going on and Catalina did not make it easier.

[2020-03-30 22:53] Tratcher opened #20336 "Process crash in gRPC interop tests"
https://dev.azure.com/dnceng/internal/_build/results?buildId=580057&view=ms.vss-test-web.build-test-results-tab&runId=18238376&resultId=120468&paneView=attachments

[code]

@JunTaoLuo previously tried to fix this with https://github.com/dotnet/aspnetcore/pull/20254 but it's still happeing in main.

This seems like a race between disposing the process and receiving data from it. Microsoft.AspNetCor

[2020-03-30 23:33] anurse commented on #14840
It looks like the default is [already `AllowRenegotiation`](https://github.com/dotnet/aspnetcore/blob/cc2f5497e86a4c029e2928f315f65a01edc20254/src/Servers/HttpSys/src/HttpSysOptions.cs#L62), so is the proposal to change it to `AllowCertificate`?

[2020-03-30 23:34] aarondcoleman commented on #18884
want to echo @ryanelian on the `is-invalid` / `is-valid` for css. Just traced this down why my bootstrap theme doesn't work with blazor and ugh, it's just a missing `is-*` 😫

[2020-03-30 23:35] EricCornelson commented on #20247
@BillHiebert We do retry in a loop, the timeout value is for when to give up on that loop. It also needn't be hardcoded (we set it through the launch configuration), but it looks like we are currently hard-coding it for Blazor to 30s

[2020-03-31 00:19] ElderJames commented on #20290
Thank you, I have implement that with a service to hold the current culture and use a event to notify the StateHasChanged without force reload.

https://ant-design-blazor.gitee.io

[2020-03-31 00:38] praeliorz commented on #20282
@anurse Absolutely. Here's an ASP.NET Core 3.1 test website:
[https://github.com/praeliorz/TestSignalR](https://github.com/praeliorz/TestSignalR)

**Couple notes on the code:**
- Web/Services/TestService.cs has the test code that is sending out messages.
- Web/Views/Portal/Index.cshtml, the UI, is merely incrementing a counter for every message it receives. This helps visualize when messages stop

[2020-03-31 00:43] DonFrazier commented on #20302
[code]

[2020-03-31 03:24] bouyeijiang commented on #20262
yeah，i has resolves issue

[2020-03-31 04:52] NTaylorMullen opened #20345 "Add VSCode Completion Resolution support for HTML/C#"
We don't delegate C#/HTML completion item resolution requests and therefore don't get proper results when selecting a completion item.

[2020-03-31 04:59] barahonajm commented on #12238
So the fix looks very easy but I would like to discuss more about it, basically we have:

We change the EditContext property to something like this
[code]

[2020-03-31 05:00] #19188 closed

[2020-03-31 05:10] csillagd commented on #20220
As Daniel said in the blog, you need run your code with ctrl-F5, not just F5.

https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-3-release-now-available/#comment-1748

[2020-03-31 06:00] taoyouh opened #20346 "QueryStringRequestCultureProvider Does Not Work With Blazor Server"
### Describe the bug
When using QueryStringRequestCultureProvider on Blazor Server, the culture immediately changes from the one given in query string to the one set in HTTP headers.

### To Reproduce
[code]

[code]

Launch the app with URL http://localhost:xxx/?culture=zh-CN. The page displays "zh-CN" for less than 1 second and changes to "en"

### Further technical details
Version of .NET Core S

[2020-03-31 06:10] vulcanlee commented on #20220
@csillagd

I have followed Daniel suggestion, but the Auto Rebuild is also not work.

[2020-03-31 06:19] drauch commented on #19880
The request is actually a customer calling an API of us. We already told him how to overcome his problem, but we still don't want our operations team to get involved thinking that our application is somehow failing because of 5xx results.

Best regards,
D.R.

[2020-03-31 07:06] MarkusRodler commented on #20305
Ah my mistake was that I did not switched the branch to blazor-wasm 💡

[2020-03-31 07:14] athinboy commented on #20182
@javiercn @ajcvickers

First, apologize for my English , I hope  I can express myself clearly and exactly, and thanks for your time!
As a Application programmer,I know the transaction manage(called TM) in program work  is complex and prone to error. The Java Spring will manager transaction, rather than by person, and It is not only One of Spring's advantage.
But,when I want to develop the TM middl

[2020-03-31 07:20] TestO2015 opened #20347 "Challenge Request does not redirect to the specified RedirectUri"
### Describe the bug
I have a Rest API whose task is to authenticate the user to Azure AD. It uses a ChallengeRequest to login in as follows:
[code]

There are 2 terms to delineate here:

- **CallbackPath**: a parameter of the OpenIdConnect config. This URL must be authenticated in the list of 'Reply Urls' of the Identity Provider.
- **RedirectUri**: a property passed into the Challenge Request.

[2020-03-31 07:29] MarkusRodler commented on #20305
I created a pull request for the problematic file but not for all possible files

[2020-03-31 07:32] athinboy commented on #20182
@ajcvickers
I had program in c# for 10 years, But,four years ago , my company turn to Java. Because All the internet companies choose Java, and almose new project choose Java.
there is spring.net and mybatis.net，but all of them is dead. It's very sad. The .net ecosystem is a little rigid.

Sorry!

[2020-03-31 08:02] Reds369 opened #20349 "HTTP Error 500.31 - ANCM Failed to Find Native Dependencies"
Hi Guys,

I'm new to .net core and created a web application using verions 3.1.

I created a new IIS website to host this one but once the site is created and I click browse I receive the following error.

I checked on the server the .net core Runtime version is 3.1.3 and the SDK version is 3.1.201.

I ran the following commands on the server in Powershell.

Runtime
`(dir (Get-Command dotnet).Path

[2020-03-31 08:58] thepill opened #20350 "System.Net.Security not found as system-account"
### Describe the bug
We are running a windows service using dotnet core 3.1 and kestrel. Sometimes we encounter TLS-errors on specific systems which we can not recover from. The service is deployed as self-contained on windows server 2012-2019. The error occurs from time to time on a small number of systems (2-3 of about 800, not always the same systems)

[code]

We tracked the error down to somet

[2020-03-31 09:10] thepill commented on #20350
Minor Update:

It also seems to work (on a not working system) if `NT Authority\NetworkService` is used instead of `System`

[2020-03-31 09:21] Omen90 commented on #20267
I am using NLog.

Attach to process in VS result:

[code]
**_C:\WINDOWS\system32_**
After fixing this, the service started. But still i have some troubles with wwwroot, other files paths. I need some time to test it more.

[2020-03-31 10:06] robbiescholz opened #20351 "Is it possible to read data from appsetting.json without the use of DI?"
Hi,

For the project I am currently working on (.net core 3.1 webAPI) I need to read a settings data in the Main method. However, I cannot find a way to read data from setting.json files (custom or the default appsettings file) when there is no constructor provided (as is the case for the main method).

Could you please tell me how can reading the data from settings.json files be achieved without

[2020-03-31 10:28] jawn commented on #19133
Is still still an issue with .NET Core 3.1.3?

[2020-03-31 10:34] Omen90 commented on #20267
#3704

[2020-03-31 10:34] #20267 closed

[2020-03-31 10:40] stevejgordon commented on #19133
I've upgraded and it seems to be fixed.

[2020-03-31 10:42] johnkors commented on #19133
Same here, 3.1.3 resolved the issues with referencing `System.Data.SqlClient/4.8.0`.

[2020-03-31 10:46] denisbredikhin commented on #19349
@vidir-svanberg Thanks, using this way it is not hanging anymore. But now I'm getting CORS error is my client. How did you get CORS enabled for WCF Service? I've tried some ways I've found in interned and nothing helped.

[2020-03-31 11:07] javiercn commented on #20351
@robbiescholz thanks for contacting us.

I'm not sure what you are trying to accomplish, but you should be able to create a configuration instance without using DI and use it to read the underlying config. For example:
[code]

[2020-03-31 11:11] javiercn commented on #20332
@wocar thanks for contacting us.

We'll take a look at this issue and get back to you.

@pranavkm we had issues in this area in the past, do you remember?

[2020-03-31 11:12] javiercn commented on #20327
@MarekPokornyOva thanks for contacting us.

I believe this must likely be a mono issue since "dynamic" is a runtime feature. I'm moving this issue to the mono repository.

[2020-03-31 11:14] javiercn commented on #20327
This issue was moved to mono/mono#19388

[2020-03-31 11:14] #20327 closed

[2020-03-31 11:20] wenz opened #20354 "Update outdated libraries in starter templates"
### Is your feature request related to a problem? Please describe.
The starter templates use outdated versions of some libraries, Bootstrap and jQuery.validate. These should be updated to the latest versions.

### Describe the solution you'd like
Update the following libraries:
* jquery-validation (1.17.0 -> 1.19.1)
* Bootstrap (4.3.1 -> 4.4.1)

### Additional context
I am excluding jQuery from th

[2020-03-31 11:21] javiercn commented on #20259
@chucker thanks for the details.

@pranavkm this seems like something VS 4 Mac specific. I can think of two things:
* VS 4 Mac running MSBuild in a way we don't expect.
* The build running on VS 4 Mac is using mono instead of .NET Core MSBuild?

[2020-03-31 11:22] wenz commented on #20001
Other templates also use the old jQuery version. I'm creating a PR which updates them all to 3.4.1.

[2020-03-31 11:32] SteveSandersonMS commented on #19670
Done in https://github.com/dotnet/aspnetcore/pull/20352

[2020-03-31 11:32] #19670 closed

[2020-03-31 11:32] SteveSandersonMS commented on #19779
Done in https://github.com/dotnet/aspnetcore/pull/20352

[2020-03-31 11:32] #19779 closed

[2020-03-31 11:49] robbiescholz commented on #20351
Hi @javiercn ,

Thank you very much for your fast response.

The thing I do not understand is how to read the data from the added JSON file. In my Startup.cs I create the configuration with the path like this:

[code]

However, in order to read the data from the added json file I need to have an the Configuration instance. In the case of the proper class it is clear that I can inject it using the

[2020-03-31 11:56] OfficerHalf commented on #12890
I just upgraded our project from .NET Core 2.2 to 3.1 but am still using NodeServices. I spent all day yesterday trying in vain to migrate away from using UseWebpackDevMiddleware, but couldn't get anything working. I tried the various solutions in this thread, but my project just doesn't fit the cases they would fix. It looks like it's going to require a major re-architecture or an undue burden on

[2020-03-31 12:02] add1ct3dd commented on #12890
Did you manage to get SpaServices on >3.x working?

My UseWebpackDevMiddleware seems to return no events on the EventStream in the webpack_hmr call (no hearts, no updates on code updates) - it provides 200 responses but never any event responses and at current I can't figure out what's broken with it! I've tried all teh various versions of Spa & Node services, none of them work for me on .NET Core

[2020-03-31 12:02] Delaire commented on #20309
Hello @javiercn yes you are correct I completely got side tracked... it works as expected.

[2020-03-31 12:02] #20309 closed

[2020-03-31 12:05] poganytamastsys commented on #12890
That is why I am still stuck with 2.2. Can't live without HMR.

[2020-03-31 12:19] wenz commented on #20001
Update: I found jQuery 2.2.0 - it's in the ClaimsTransformation and Cookies samples under src/Security/samples.

[2020-03-31 12:24] javiercn commented on #20228
I just gave this a quick try on Firefox.

I'm not able to see any error in the browser console as you are reporting, but I suspect it is unrelated.

I can't get the select file dialog to show, but I believe that is a firefox specific issue and not a Blazor issue since I am able to hit the JavaScript handler without problems.

I suggest you find an alternative approach to do this, since it is likel

[2020-03-31 12:24] #20228 closed

[2020-03-31 12:30] add1ct3dd commented on #12890
Ok thats good to know thanks - so it looks like even if we do 'update' to the new standalone package, it doesn't currently work compared to the old version anyway!

[2020-03-31 12:34] yasz commented on #20259
same issue occurs

[2020-03-31 12:38] OfficerHalf commented on #12890
I guess your mileage may vary. It was a seamless update for me, including HMR, once I worked out the few other breaking changes like using Newtonsoft for json. It could be that my webpack config is pretty simple as I'm not using a CLI or template for my project.

[2020-03-31 12:42] javiercn commented on #20145
@chucker as an aside from this, I would recommend you run git clean -xdff on your CI prior to build.

[2020-03-31 12:51] add1ct3dd commented on #12890
Interesting, I don't suppose you could share your web.config? Or equally I can, just to see if there are any obvious difference etc! The bundle is there and served, and HMR says connected, there's just never any events in the hmr eventstream (the heartbeat heart, or any recompilation events). It also looks like if I go to the url via a browser the stream never finishes printing the json return.

[2020-03-31 13:01] javiercn commented on #20346
@taoyouh thanks for contacting us.

This is likely due to the url used to establish the connection with server-side Blazor.

@rynowak do you have any thoughts around this?

@SteveSandersonMS We could consider tackling query string parameters when we setup the connection to the hub so that things like this would possibly work. Do you have any opinions?

[2020-03-31 13:05] davidfowl commented on #20351
You need to pass the configuration around explicitly in that case

[2020-03-31 13:06] javiercn commented on #20306
@MathiasViggo can you clarify what you are asking?

Are you asking about how to achieve the same results with attribute routing? You can declare multiple routes in your action, but I'm not sure what you are trying to achieve here.

[2020-03-31 13:12] javiercn commented on #20224
@link05 It's hard to tell what's going on here, but in essence there are too many things being compiled to literal strings in your views assembly and that's hitting a compiler limit.

I'm not sure we can do anything about it, since this is the compiler. I would recommend you move long strings into resources as that's what the roslyn team suggests.

[2020-03-31 13:13] tiwj opened #20357 "[blazor-server] In a Blazor App with Authentication, the static files from ~/Identity/... are not resolvable in Production environment (404), which crashes layout and validation (css, js, ...)"
### Description
When creating a new Blazor App with Authentication, the browser fails to resolve the ressources below the path ~/Identity/ when running in Production mode (works fine in Development mode).

It seems that something is wrong with the static file mappings for /Identity/ outside Development environment.

### To Reproduce
1. Create new BlazorApp with Authentication > Individual User Acc

[2020-03-31 13:14] javiercn commented on #20113
Closing as @rynowak anwered with a solution. If the solution doesn't work, feel free to comment and we'll reopen the issue.

[2020-03-31 13:14] #20113 closed

[2020-03-31 13:22] OfficerHalf commented on #12890
I had to scrub a couple things, but you can see my Startup.cs Configure() and my webpack config here: https://gist.github.com/OfficerHalf/33e0a80bf546fe28698abfbd497e7d51

[2020-03-31 13:28] tiwj commented on #20357
@danroth27  any Idea on this? I saw you focused on similar cases related to Blazor and identity

[2020-03-31 13:33] javiercn commented on #20205
@MarekPokornyOva thanks for the details.

Seems like you are focused on trying to implement two things:
* Lazy loading of routes/assemblies
* "Automatic" JS interop.

For the first one I wouldn't recommend using the existing system. I would create my own router from scratch + relevant JS code to support it. The current router is not designed with those scenarios in mind and we don't know if we wou

[2020-03-31 13:37] javiercn commented on #20305
@SteveSandersonMS asigning this to you to confirm the merge

[2020-03-31 13:37] xXBuilderBXx opened #20358 "Blazor server-side Cloudflare support"
Hey i can't seem to get blazor server-side to work fully with Cloudflare, i have tried some options in the docs such as https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-3.1

I can get the websocket connection to actually connect but it does not trigger any events even when clicking on the sample counter button.

I am using Cloudflare with full https enabled

[2020-03-31 13:43] javiercn commented on #20357
@tiwj thanks for contacting us.

Static web assets is only enabled in development scenarios by default. You can call host.UseStaticWebassets() on your webhost builder unconditionally to enable them. That said, my recommendation is that if you want to run in "Production" you do so against the published output of the app.

[2020-03-31 13:48] javiercn commented on #20227
@fileman thanks for contacting us.

@SteveSandersonMS this doesn't sound like the regular debugging issue. Does the debug proxy change the urls in any way?

[2020-03-31 13:49] #20357 closed

[2020-03-31 13:58] javiercn commented on #20204
@tezine both things work for me without issue.

![image](https://user-images.githubusercontent.com/6995051/78034703-ecf55100-731c-11ea-83be-6f06b8a1d6b8.png)

I would check your network configuration (host file, proxies, etc) to figure out what is different on your machine.

[2020-03-31 14:05] SteveSandersonMS commented on #20227
@javiercn No, it doesn't.

We didn't have VS debugging in preview 2, so if this was already an issue in preview 2, it can't be related to VS debugging.

[2020-03-31 14:06] javiercn commented on #20198
@SweetJV thanks for contacting us.

I took a look at your repro project. It is likely that the cause of the issue is that you are trying to do JS interop with an element reference as part of an event handler.

That makes the event handler async and that will trigger a re-render that might invalidate your element reference.

I would suggest that you change your code to update your component state a

[2020-03-31 14:08] SteveSandersonMS commented on #20305
@javiercn I don't think this is ready to go, as per comment on the PR. I'll take myself back off this and move it out of the preview 4 milestone.

[2020-03-31 14:15] MarkusRodler commented on #20305
@SteveSandersonMS What should be set on the other three places? Your first link points to the generation of an html tag. This is the only one I found in that project with an integrity attribute.
The other three links points to fetch-API calls. I didnt't found a `crossOrigin` attribute there but an `mode` attribute to set. But these links are not problematic in my case. Everything works to download

[2020-03-31 14:15] KristianMariyanov opened #20359 "ArgumentException when setting focus on disposing element"
### Describe the bug
When you try to focus element from the JS, this element has `@onfocus` handler and meanwhile the element was disposed, the blazer throws an exception

Exception text:
[code]

I think the problem didn't occur in the previous versions

### To Reproduce

[BlazorWASMFocusBug.zip](https://github.com/dotnet/aspnetcore/files/4409593/BlazorWASMForusBug.zip)

Here is a simple project w

[2020-03-31 14:19] fabianschurz opened #20360 "[Blazor] Download attribute in anchor tags not respected"
### Describe the bug
In firefox download anchors are not working.

### To Reproduce
`<a href="fileInWwwroot.extension" download>Download</a>`
Then start the application and click the anchor. Try in firefox and edge.

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

IDE is VS.

dotnet -

[2020-03-31 14:36] tiwj commented on #20357
Thank you for the quick reply and shame on my confusion. Both mentioned methods solved the issue. I found out that the actual problem was that **wwwroot/Identity** was not included in the publish output before I updated Visual Studio to the latest version today.

This led to the issue in my Production environment which then led me to test arround with it inside VS. This seems to be fixed in latest

[2020-03-31 14:37] xFirestorm commented on #20228
It's not a firefox security feature. Plain html is working. See here: https://jsfiddle.net/chxnbmqt/

There are many other way's to achieve custom styling of a file input element (already implemented another way). Still i think this may be a bug related to blazor, correct me if wrong.

[2020-03-31 14:37] LaughingJohn opened #20361 "Odd UI behaviour with Date Binding on input type="date""
Hi,

Hope you're all keeping safe and well!

I have noticed some odd UI behaviour when using an input of type "date".

I'm in the UK so the date is displaying as dd/mm/yyyy. When you start typing a date in, if on the month you type a "0" parts of the date reset themselves. I suspect it's to do with the fact that Blazor is trying to parse the date from a string and as soon as you type "0" in the mo

[2020-03-31 14:38] xFirestorm commented on #20228
I cannot reproduce the issue in plain HTML.

I am hitting the debugger debugger inside `elementClick`

[2020-03-31 14:43] javiercn commented on #20361
@LaughingJohn thanks for contacting us.

@SteveSandersonMS do you have any ideas of what's going on here?

[2020-03-31 14:45] javiercn commented on #20360
@xFirestorm thanks for contacting us.

* Does this work in other browsers?
* Does this work if you have a plain HTML document served from the host where blazor is not involved at all?

[2020-03-31 14:52] javiercn commented on #20358
@xXBuilderBXx thanks for contacting us.

I would suggest you turn on debugging to the maximum level as described below and try to capture the logs after you've clicked an element to see if the event is reaching the server.

One possible cause of this issue is that you haven't turned on session affinity (which server-side blazor needs to work) on Cloudflare. They have some docs on how to do it [her

[2020-03-31 14:59] DarkoPecnik opened #20362 "Add multiple Identity UI scaffolding"
Im developing an MVC app with custom routing to accommodate a multi tenant scenario
localhost/tenant/controller/action/

I've tried to wrestle with the current hybrid Identity UI implementation as much as possible but im hitting limitations, mostly with razor pages routing.

I've now completely switched off defaultUI (razor pages) and gone to reconstruct MVC Identity from the source samples.
I've

[2020-03-31 15:03] blowdart commented on #20362
While this is a common issue, it's not common enough for us to divert work from other features I'm afraid.

Only having razor pages for identity is by design.

[2020-03-31 15:03] #20362 closed

[2020-03-31 15:05] xFirestorm commented on #20360
It works in edge while it's not in firefox.

Plain HTML is working.

[2020-03-31 15:06] xFirestorm commented on #20228
@javiercn Maybe we should reopen this issue for some deeper investigation

[2020-03-31 15:08] SteveSandersonMS commented on #19931
Done in https://github.com/dotnet/aspnetcore/pull/20355

[2020-03-31 15:08] #19931 closed

[2020-03-31 15:19] Pilchie commented on #19133
Yes, @wtgodbe fixed this for 3.1.3.  I'll close it.  Note that System.Data.SqlClient was actually a unique issue in the `dotnet/corefx` repo that was also fixed for 3.1.3.

[2020-03-31 15:19] javiercn commented on #20359
@KristianMariyanov thanks for the repro.

I looked at it and I'm not sure what exactly you are trying to accomplish. But it seems that the issue is caused by the JSInterop call that is done during the event handling. I believe that with that JS interop call you are getting in the middle of the Blazor rendering pipeline, while Blazor has produced a new render tree but the old render tree hasn't yet

[2020-03-31 15:19] #19133 closed

[2020-03-31 15:22] fileman commented on #20227
in preview 2 I followed the "[debug in browser](https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.1#debug-in-the-browser)" docs

[2020-03-31 15:55] anurse commented on #20262
Ok, closing this as resolved then. Feel free to file new issues if you have further problems!

[2020-03-31 15:55] #20262 closed

[2020-03-31 15:56] Grandizer commented on #12890
For those who "Have" gotten it to work in 3.x with HMR, could you create a template for us slackers who keep reading there are hurdles trying to upgrade?

[2020-03-31 16:12] Tratcher commented on #20225
Can you give a bit more context around this code like the definition for `options`?

[2020-03-31 16:22] Tratcher commented on #20347
RedirectUri does not replace CallbackPath, they serve different purposes.
AzureAd returns to the CallbackPath, finishes authenticating, and then if auth was successful it redirects to the RedirectUri.

CallbackPath must be set to a unique path for authentication such as `/signin-oidc`. https://github.com/TestO2015/Repo1/blob/b8f00c67b05d46d470984389af96e8d8e062a452/WebApplication1/WebApplication1/

[2020-03-31 16:22] sergiolindolfoferreira commented on #20223
I have the same problem.

[2020-03-31 16:24] gustavnavar commented on #19647
I think I have the same issue than https://github.com/AlexCorona55.

I work with the https://github.com/gustavnavar/Grid.Blazor component and the WA demo project is the one getting these exceptions (https://github.com/gustavnavar/Grid.Blazor/tree/master/GridBlazorClientSide.Client)

The project was working with no exceptions with  3.2.0-preview2 (commit https://github.com/gustavnavar/Grid.Blazor/c

[2020-03-31 16:30] JulienM28 opened #20364 "Blazor WASM InputNumber Override"
I'm going crazy:

I try to inherit InputBase to make my own InputNumber with a diffrent binding event.

When I write in InputNumber everything is going great.
I can use coma and point as decimal separator.

So I made My own component:
[code]

Component code
[code]

as you can see it's a perfect copy of InputNumber, but if I type a point as a decimal separator
the whole value disappear.

If I use c

[2020-03-31 16:38] ColinM9991 opened #20365 "ConsumesMatcherPolicy logic conflicts with ConsumesAttribute on 415 behavior"
### Describe the bug
Reading the code of `ConsumesAttribute` I can see that it implements `IResourceFilter` and returns `UnsupportedMediaTypeResult` when the media type is not supported for the requested action; this in turn gets converted to a `ProblemDetails` response as per the ProblemJson IETF spec.

The problem I'm flagging today is that `ConsumesMatcherPolicy` seems to execute first which cr

[2020-03-31 16:43] mkArtakMSFT commented on #20259
@sayedihashimi can you help us out with the above investigation? This seems to be VS 4 Mac specific and we don't know what's the reason. let me know if you want me to move this to some other repo.

[2020-03-31 16:47] mkArtakMSFT commented on #20227
@fileman there has been many updates. Please try out the latest preview release of Blazor and let us know if that helps: https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-3-release-now-available/

[2020-03-31 16:49] mkArtakMSFT commented on #20220
@BillHiebert can you please look into this?

[2020-03-31 16:51] MarekPokornyOva commented on #20205
That perfectly answers my initial question!
Also, your comments/suggestions are valuable.
Thanks, that will help me to design/write applications in the future.

[2020-03-31 16:51] #20205 closed

[2020-03-31 16:54] danroth27 commented on #20220
Hi @vulcanlee. What auto-rebuild enables is not having to rebuild and restart the app, but you still need to refresh the browser. Are you refreshing the browser after making the code change? The browser won't refresh automatically - you still need to refresh it manually.

[2020-03-31 16:58] vulcanlee commented on #20220
@danroth27

Yes, when I make the code change and refresh manually, but it not work

[2020-03-31 17:01] mkArtakMSFT commented on #20316
This issue was moved to mono/mono#19392

[2020-03-31 17:01] #20316 closed

[2020-03-31 17:15] FunkMonkey33 commented on #5223
I can confirm that this still happens in 3.1 with the default settings.

To fix this, I simply build my Angular project (I'm on Angular) in aot mode, then copy the **contents** of ClientApp\dist\ClientApp to the target's ClientApp\dist folder.

Lame, but that' where we are.

[2020-03-31 17:28] #7945 closed

[2020-03-31 17:32] fileman commented on #20227
@mkArtakMSFT I'm at 3.2.0-preview3.20168.3

[2020-03-31 17:37] CuriousDrive opened #20368 "External logins like Facebook, Google, Twitter... are not working"
External logins like Facebook, Google, Twitter do not work when autentication support added while creating blazor web assembly project.

After adding Twitter authentication in _Startp.cs_. and this is how it is looking. I think it is not working because of `AddIdentityServerJwt`

[code]

[2020-03-31 17:37] TanvirArjel opened #20369 "BadHttpRequestException: Request body too large."
Suddenly I am receiving the following error while uploading file size more than 30 MB:

Here is the Stack Trace:

My web.config file as follows:

[code]

My Application is running on IIS Express with `In Process` Hosting Model.

I have also tried everything descried here: [New default 30 MB (~28.6 MiB) max request body size limit](https://github.com/aspnet/Announcements/issues/267) but no luck. Re

[2020-03-31 17:55] LaughingJohn commented on #20361
Thanks for looking. I've tried to create a simplest case, just to make sure it wasn't me. The razor page has this:

`<input class="form-control"
       type="date"
       @bind-value="@DateValue" />`

And the code behind has this:

`        public DateTime DateValue { get; set; }`

I've attached a small video. I'm typing "31032020" into the control. When I press "0" on the month you'll see that th

[2020-03-31 18:06] ThijsBoudrez commented on #20256
I got those errors also in Edge (Chromium).

[2020-03-31 18:07] ryanbrandenburg commented on #17799
Fixed by https://github.com/dotnet/aspnetcore-tooling/pull/1711.

[2020-03-31 18:07] #17799 closed

[2020-03-31 18:14] javiercn commented on #20368
@CuriousDrive thanks for contacting us.

[code]
You are configuring the app incorrectly, by setting up the default authentication above you are breaking the existing configuration.

@blowdart can you point to the docs for doing this? I can't find how to configure external logins in identity.

[2020-03-31 18:16] blowdart commented on #20368
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/facebook-logins?view=aspnetcore-3.1

You'll also need to read up on samesite, http://aka.ms/samesitecore

[2020-03-31 18:25] fgheysels commented on #9020
Can we build a gRPC service which is packaged as a container and runs in a Web App for Containers in Azure ?

[2020-03-31 18:29] NTaylorMullen commented on #20345
Looks like this is handled via documentation

[2020-03-31 18:29] #20345 closed

[2020-03-31 18:32] ArthurHNL commented on #11544
Can we get an update on this? I just spent half an hour debugging my API before I found out that Route parameters are not URL decoded by default.

[2020-03-31 18:33] SteveSandersonMS commented on #20247
@mkArtakMSFT Blazor doesn't control this, so there's nothing for us to investigate.

If our only option is to extend the timeout, perhaps 60s is the next one to try.

Longer term maybe some other UX is applicable, for example a dialog showing a "waiting to connect..." spinner with a "cancel" button so the user can click cancel whenever they get bored of waiting, but besides that never time out (or

[2020-03-31 18:36] ajcvickers commented on #16775
@HaoK Yes, I think so.

[2020-03-31 18:37] HaoK commented on #6720
Unskipped these tests except on OSX, which still has a cert failure

[code]

[2020-03-31 18:46] IvanJosipovic commented on #20220
I am also having trouble getting this to work.

VS Ent Version 16.6.0 Preview 2.0
Windows 10 Build 2004

1. New Blazor Wasm Project
2. IIS Express
3. Ctrl + F5
4. Make changes to Index.razor, Save
5. Wait a few seconds
6. Refresh browser, no changes

[2020-03-31 18:49] anurse commented on #17804
We’re going to look at this separately from merging the exceptions. Reopening.

[2020-03-31 18:50] Lonli-Lokli commented on #6000
For us Batch is a way how we can process long requests which might fail otherwise with Url too long exception, caused by spec limitation for GET requests.

[2020-03-31 18:57] danroth27 commented on #20220
@ivanbasov Did you create a standalone or ASP.NET Core hosted project?

[2020-03-31 19:04] IvanJosipovic commented on #20220
Standalone

[2020-03-31 19:04] JohnGalt1717 commented on #9020
@fgheysels Nope. It's still behind IIS as a proxy which can't handle the required HTTP/2 functionality.

There are 3 ways of doing this right now:

1. Expose a public IP and use a VM.
2. Use Kubernetes with Azure Application Gateway Ingress (which the instructions fail because the helm script is out of date thus can't be used right now) or use nginx ingress (You lose the firewall and DoS Mitigatio

[2020-03-31 19:07] danroth27 commented on #20220
@ivanbasov Got it, thx! I've confirmed that auto-rebuild isn't working with standalone projects, but it should work with ASP.NET Core hosted projects. Can you try that out and see if it works for you?

[2020-03-31 19:12] rjgotten commented on #12890
The key is probably to put `UseWebpackDevMiddleware` as early into the pipeline as possible; preferably the first thing so nothing else has even a ghost of a chance to interfere with it.

[2020-03-31 19:14] sayedihashimi commented on #20259
Thanks, I was able to reproduce. I have created an [internal ticket](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1090918) to track this on our side.

@mkArtakMSFT please assign this to @rodrmoya (I don't have permission to change it myself).

[2020-03-31 19:31] Tratcher commented on #6000
A batch implementation should enforce similar restrictions as a server or risk introducing exploits. Batching should not be used to bypass server restrictions.

[2020-03-31 19:32] IvanJosipovic commented on #20220
I can confirm that it works in ASP.NET Core hosted project.

Is this expected to work in Standalone projects by RTM?

[2020-03-31 19:38] #20216 closed

[2020-03-31 19:38] rynowak commented on #20216
Thanks @mirroj !

[2020-03-31 19:39] MortenMeisler opened #20374 "MSAL login modes options: redirect / pop-up"
Is there any way right now or could there be options to make it easy to choose redirect login-mode instead of pop-up which seems to be default right now (and have the danger of being blocked)

Inspiration: [https://github.com/cradle77/Blazor.Msal/blob/master/src/Des.Blazor.Authorization.Msal/LoginModes.cs](https://github.com/cradle77/Blazor.Msal/blob/master/src/Des.Blazor.Authorization.Msal/LoginM

[2020-03-31 19:51] Lonli-Lokli commented on #6000
@Tratcher not sure I get your point. It's similar to the way how OData Batch supposed to be used by official spec.

[2020-03-31 19:58] EngineerTryingToCode commented on #19969
You solved it, thanks so much!  The U: drive is due to a mapped network drive.  It never occured to me but when I ran the 3.1 version test, i just saved a quick one to my desktop and it worked fine.  Thanks so much, i'm quite impressed you're knowledgable to that level that you could figure that one out.  Appreciated and thank you again!

[2020-03-31 19:58] #19969 closed

[2020-03-31 20:00] #18673 closed

[2020-03-31 20:16] Tratcher commented on #6000
@Lonli-Lokli restrictions on fields like url lengths are implemented to ensure that components in the stack don't spend an arbitrary amount of time and resources processing the url. Data structures and algorithms designed for 1kb urls, or for 0-100 query key-value pairs are not going to hold up if the url is suddenly 32kb or there are 1000 query key-value pairs. This can result in performance, rel

[2020-03-31 20:26] shirhatti commented on #9020
@JohnGalt1717

Azure Application Gateway will currently not work. It has the same limitation

[2020-03-31 20:26] mkArtakMSFT commented on #20354
This is a dupe of https://github.com/dotnet/aspnetcore/issues/20001

[2020-03-31 20:26] #20354 closed

[2020-03-31 20:32] acrigney commented on #9020
i guesd we could runit on gpogle cloud with our .net code?

On Wed, 1 Apr. 2020, 7:26 am Sourabh Shirhatti, <notifications@github.com>
wrote:

[2020-03-31 20:32] wenz commented on #20354
I respectfully disagree. #20001 is about an insecure, old version of jQuery being used; this here is about non-insecure, outdated versions of other JavaScript libraries being used. I'd recommend to keep them separate, since #20001 is IMVHO more critical than this one here.

[2020-03-31 20:39] JohnGalt1717 commented on #9020
@shirhatti Ok, so this just keeps getting worse. Microsoft effectively made it so .NET with gRPC can't be run on Microsoft Azure. If it wasn't so sad it would be FUNNY AS HELL.

So here's the updated list:

1. Expose a public IP and use a VM (put haproxy, nginx or something on the VM to Reverse proxy it)
2. Use Kubernetes (AKS) with nginx ingress.

I don't believe ACS will work because it still pu

[2020-03-31 21:15] rodrmoya commented on #20259
Indeed, was looking at this same issue (see [this internal ticket](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1081244)) but I have no idea what the issue is really. According to @mrward it's not a good idea to run xattr.

Indeed, vsmac uses Mono's msbuild, so I guess the issue is there. @lewing @rainersigwald any hint as to where to start looking? (@lewing this is the same exact issue

[2020-03-31 21:29] spmoran-blazor commented on #19768
I have this same issue with Preview 3.

[2020-03-31 21:42] SomeProgrammerGuy opened #20403 "Simple way to remove ReturnUrl From Custom (Cookie and maybe other types of) Authentication."
Asp.Net Core 3.1xxxx custom cookie authentication.

I answered a question on StackOverflow

[https://stackoverflow.com/questions/3716153/how-to-remove-returnurl-from-url/9796693#9796693](https://stackoverflow.com/questions/3716153/how-to-remove-returnurl-from-url/)

asked over **nine years ago** and yet you still don't seem to have implemented a simple way to do this without "going around the hous

[2020-03-31 22:18] antjazldev opened #20381 "error NU1102"
### Describe the bug
Hello I following the get started guide provided by https://nbarbettini.gitbooks.io/little-asp-net-core-book/content/chapters/your-first-application/create-aspnetcore-project.html
When i type
` dotnet new mvc --auth Individual -o AspNetCoreTodo`
I get:
![image](https://user-images.githubusercontent.com/62674300/78080126-31134080-7373-11ea-85a9-77a77d8ba16c.png)

When i try to

[2020-03-31 22:23] vidir-svanberg commented on #19349
I used the IIS CORS Module

[2020-03-31 22:26] antjazldev commented on #20381
dotnet --info:
[code]

[2020-03-31 22:40] #12882 closed

[2020-03-31 22:43] MarcL-Botron opened #20386 "SignalR Connection start returns status code 415 unsupported media type"
# Issue description

When I initiate a connection to the server using "connection.start" one of the requests is responding with a 415 Unsupported media type.

On closer inspection of the message, it appears to be sending:
* "Content-Type: text/plain;charset=UTF-8"
* Request Body: {"protocol":"json","version":1}

# Software versions

Check the .NET target framework(s) being used, and include the ve

[2020-03-31 22:49] Tratcher commented on #9020
There's nothing here that's specific to .NET, the limitation is in the Windows and Azure infrastructure related to HTTP/2. You'd have the same issue with other webstacks in Azure. Windows and Azure are working to unblock us but it requires changes to fundamental components which take long time to redeploy.

[2020-03-31 22:56] JohnGalt1717 commented on #9020
This is all directly related to .net.  it literally says on the azure and .net websites that .net is the language of azure.

But you can't use that language with Azure but can use it on AWS and Google cloud easily.

It's an embarrassment as with so many massive screw ups from the .net team lately, yet their arrogance is at an all time high without reason.

And they haven't even given us work aroun

[2020-03-31 22:58] danroth27 commented on #20220
After digging into this a bit, the reason auto-rebuild doesn't work for standalone projects is because Blazor explicitly turns it off by setting `<NoRestartServerOnBuild>True</ NoRestartServerOnBuild>`. And there's a good reason for this: it doesn't make sense to restart the server for a standalone project because all it's doing is hosting static files. You should be able to rebuild the project an

[2020-03-31 23:08] acrigney commented on #9020
Yes but we can run all of out .net stack on google cloud, .net supports
gRPC all fine. So I don't mind running on GPC until they can get this fixed
on Azure.
I develop app services or serverless apps, I am not interested in any
container solutions as they are too costly for the large scale deployments
I have.

On Wed, Apr 1, 2020 at 9:57 AM James Hancock <notifications@github.com>
wrote:

[2020-03-31 23:12] scottaddie commented on #20386
Any ideas, @BrennanConroy or @anurse?

[2020-03-31 23:12] JohnGalt1717 commented on #9020
First Microsoft should be terrified by what you just said.

Second, I just got our web stuff switched to azure kubernetes using virtual nodes and it costs us about half of what app services was costing us and has double the performance.

Aks is a mess of stuff that doesn't work right and out of date documentation but once you get managed identities, and a public IP in place the rest is straight fo

[2020-03-31 23:16] anurse commented on #20386
@MarcL-Botron Can you put your app up in a GitHub repo or something so we can see the full context? I realize you were following a doc but there could be something quirky going on and seeing the full context gives us the best chance of figuring this out.

Be aware that .NET Core 3.0 is [end-of-life](https://devblogs.microsoft.com/dotnet/net-core-3-0-end-of-life/) and no longer supported. We strong

[2020-03-31 23:16] jkotalik commented on #20369
Can you add a call to `UseIIS()` like the following:

[code]
I thought we would read the maxAllowedContentLength field from IIS for the default, but potentially not.

[2020-03-31 23:18] xXBuilderBXx commented on #20358
Enabled debug logging but no events or logs are being sent when i click the button but the websocket definetely connects in the browser and server-side so not sure why it won't work, also do i really need to use load balancing for this it would require me to pay extra which i could do.

[2020-03-31 23:18] BrennanConroy commented on #20386
No idea where the 415 is coming from (and we don't set that anywhere in SignalR)

Also, you can enable WebSockets in IIS by enabling the windows feature https://docs.microsoft.com/aspnet/core/fundamentals/websockets?view=aspnetcore-3.1#enabling-websockets-on-iis

[2020-03-31 23:39] MarcL-Botron commented on #20386
@BrennanConroy Yeah, I was thinking about enabling the WebSocket protocol in IIS, but unfortunately, I do not have access to set that feature.

@anurse, I did think about that, so I updated to netcore3.1 after posting this issue, but I still got the same thing. I'll try to get it into a repo for you guys. I think it's related specifically to the "**Content-Type: text/plain;charset=UTF-8**" being s

[2020-03-31 23:46] anurse commented on #20386
@MarcL-Botron If you can post the full app so we can reproduce the issue that would be helpful. We definitely [use `text/plain` intentionally](https://github.com/dotnet/aspnetcore/blob/14032eae0196914cbc3efcf2dc65cf46b81efe5b/src/SignalR/clients/ts/signalr/src/XhrHttpClient.ts#L36) and haven't seen this issue in our own testing, so understanding your application would help here.

Is this on a diff

[2020-03-31 23:46] MarcL-Botron commented on #20386
@BrennanConroy, @anurse, BTW guys, do you know how to disable the web sockets protocol from the ASP Core service? I looked into it but all I found were older posts about using SignalR with the .NET framework.

I think the issue itself may be related to the other protocols that SignalR falls back to if WebSockets aren't available?

[2020-03-31 23:48] mkArtakMSFT opened #20387 "Setup Stress Testing infrastructure for Blazor Server"

[2020-03-31 23:51] jimnkey opened #20388 "HTTP.SYS returns 400 - BadRequest with certain Accept-Encoding values."
Given a web app (netcoreapp3.0 hosted in IIS) -- any requests with certain (IMO, acceptable) values for Accept-Encoding header never gets to the application. http.sys parses and spits out a 400 - BadRequest.

i.e., A request with a header:
`Accept-Encoding: application/gzip, gzip, deflate`
Results in a 400 - BadRequest.

The issue seems to be the '/' character.

Although the [spec](https://www.w3.

[2020-03-31 23:51] MarcL-Botron commented on #20386
@anurse I'm just using the IIS on my host machine. My windows version is:
* OS Name	Microsoft Windows 10 Pro
* Version	10.0.18362 Build 18362

[2020-03-31 23:52] anurse commented on #20386
@MarcL-Botron great. Can you share the app though please? There may be something different about your app that is making this break in your environment but not ours.

[2020-03-31 23:56] acrigney commented on #9020
Yes but this is a really big change for microsoft! and I like the
simplicity of gRPC although I might switch to http Rx. I could not get my
websocket to solution to work as it seemed to have SSL/TLS issues.
Looks like I can get azure kubs at the same cost as my S1 app services,
have to check the performance.

On Wed, Apr 1, 2020 at 10:13 AM James Hancock <notifications@github.com>
wrote:

[2020-04-01 00:02] MarcL-Botron commented on #20386
@anurse Here's the repo link: https://github.com/MarcL-Botron/signalr-server

Sorry about the wait.

[2020-04-01 00:08] anurse commented on #20386
Yep, I see the problem now :). You have an MVC controller at `/Notification` and you've mapped the SignalR Hub to `/Notification`. This causes a conflict and the first one registered wins (the controller in this case), so the message is going to the MVC controller.

[2020-04-01 00:19] MarcL-Botron commented on #20386
@anurse oh man, looks like I made a boo boo there. Just tried switching the SignalR Hub to a different endpoint and the error is gone! Thanks for the help.

[2020-04-01 00:20] anurse commented on #20386
No problem! It’s a bit of a tricky one to find ;)

[2020-04-01 00:22] MarcL-Botron commented on #20386
@anurse Yeah, it makes sense that it didn't show up during debugging since it was using the websocket protocol, but when websockets weren't available, it hit the rest endpoint instead.

Thanks a bunch for the help guys! I'm closing this issue

[2020-04-01 00:22] #20386 closed

[2020-04-01 01:00] #20290 closed

[2020-04-01 01:23] TestO2015 commented on #20347
@Tratcher That's what I expect to happen. But it doesn't redirect to the RedirectUri, it just ends up at the CallbackPath. Could this indicate something went wrong in the authentication process? I checked the Fiddler request (the last one that lands on the Callback path) and it did contain an Auth Token.

I have one API authenticating against Windows but it doesn't look like I need that default, t

[2020-04-01 01:56] tn-5 opened #20391 "WebAssembly configuration appsettings vs appSettings"
With the latest Blazor WebAssembly preview configuration is supported by providing the appropriate `appsettings.{environment}.json` file.

With a standard net core project the same files are used but the case is different: **appsettings** vs **appSettings**. With a dual project where you can switch between server side or client side execution this means a pre build step is required in VS to not on

[2020-04-01 02:08] vulcanlee commented on #20263
@mkArtakMSFT

I have reinstall Edge browser and repair the VS installation, but the problem is not solve.

When I run by Edge browser, the breakpoint of Visual Studio show following message:

**The breakpoint will not currently be hit. No symbols have been loaded for this document.**

But I run by Chrome browser, the breakpoint will work fine.

![](https://vulcanfiles.blob.core.windows.net/$web/Sh

[2020-04-01 02:43] fmpfmp opened #20395 "属性注入"
有很多基于aspnetcore的应用框架，都用Autofac替换了ASP.NET Core 自带的IOC，目的仅仅是为了实现属性注入；
ASP.NET Core 自带的IOC，是否应该实现属性注入？
怕滥用的话，可以加一个option开关，默认关闭；

[2020-04-01 02:55] weichch commented on #20333
I'm giving a bit more information here:

msgpack5 by default doesn't force `Number` to be serialized as double floating point.
[code]
There's an option to force that to happen, but **@microsoft/signalr-protocol-msgpack** doesn't allow access to it.

In browser console:
[code]

This works:
[code]

[2020-04-01 03:14] naveedahmed1 commented on #4249
Does. Net core 3.1 supports HTTP/2 Server push?

[2020-04-01 03:48] TanayParikh opened #20397 "FullyQualifyNamespace light bulb does not appear in certain contexts"
This issue is a branch off of the work in #19449 however it addresses a seperate underlying issue highlighted by @ajaybhargavb ([link](https://github.com/dotnet/aspnetcore/issues/19449#issuecomment-592751414)).

Reproduce:
1. `dotnet new blazorserver`
2. Open `Counter.razor`
3. In the IncrementCount() method add the following below the currentCount++; line: `RenderTree`.

Invoke the FullyQualifyNa

[2020-04-01 03:52] TanayParikh commented on #20397
I've isolated this issue and have been able to reproduce it in a vanilla MVC project. Inspecting the `omnisharp-vscode` codebase, we don't seem to manipulate the `context.diagnostics` which contain the compiler errors.

https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/features/codeActionProvider.ts#L29

This indicates dotnet/roslyn itself isn't providing the underlying `CS0246` compil

[2020-04-01 03:53] TanayParikh commented on #19449
@ajaybhargavb your example has been handled separately here as it has a unique root cause.
https://github.com/dotnet/aspnetcore/issues/20397

[2020-04-01 04:02] SweetJV commented on #20198
@javiercn thanks for the reply.

That's an interesting theory, but I'm not sure how I could refactor my code to use OnAfterRenderAsync. My event handler is what triggers my DOM changes and I want to unregister my JS event before the component goes away, not after.

I would like to understand better what triggers a re-render. Are you saying that the JS event handler document.body.addEventListener("

[2020-04-01 04:03] HelvioBlazor opened #20398 "Blazor Input Telephone Mask"
### Describe the bug
The Mask for phone number does not work, please someone can send a example.
I am try use EDITFORM and INPUT Type="Telephone".

Thanks,
Helvio

[2020-04-01 04:17] ScottyBlazor commented on #17724
I also get this issues, if I open the code window for the component the squiggles go away, but reappear when I close the component code window.

trying to add a using statement to the .razor code using my component, won't even list the folder my component is in until I open the component code window.
and also has the same issue in code for the page.
![VsError](https://user-images.githubusercontent

[2020-04-01 04:20] TanvirArjel commented on #20369
@jkotalik I am getting:

[2020-04-01 04:20] davidfowl commented on #4249
No it does not

[2020-04-01 05:21] athinboy commented on #20395
@fmpfmp 你是看了这个？https://www.cnblogs.com/stulzq/p/12610026.html
直接发中文不行吧，那些开发者大都是英文的。

[2020-04-01 05:26] Bit-Shifts commented on #4707
Having the same issue as well.

[2020-04-01 05:31] athinboy commented on #20395
https://github.com/dotnet/aspnetcore/issues/2131
https://github.com/dotnet/aspnetcore/issues/2331
https://github.com/dotnet/aspnetcore/issues/2346

[2020-04-01 05:32] KristianMariyanov commented on #20359
Hello, @javiercn

I made some changes in the `OnClickHandler` and I added `ShouldRender` override.
[code]

Now we can be sure that we didn't start building the new Render tree before finishing the JS call.
The use-case when you are trying to interact with an element from the HTML and meanwhile this element is disposed IMO is a common scenario. Also, the same code didn't throw with the previous ver

[2020-04-01 05:42] qazq commented on #19996
I got the same issue.

My old project developed on ASP.Net Core 2.2, all the console log write to file imminently. After I upgrade my project to 3.1.3, the console log intermittently writes to file.

[code]

[2020-04-01 05:58] mihaimyh commented on #20220
Including PWAs?

[2020-04-01 06:18] TanvirArjel commented on #20369
Okay! Here I have come to the solution with following three steps:

## 1. IIS content length limit
The default request limit (maxAllowedContentLength) is **30,000,000** bytes, which is approximately **28.6MB**. Customize the limit in the web.config file:

[code]

**Note: Without this application running on IIS would not work.**

## 2. ASP.NET Core Request length limit:
### For application running

[2020-04-01 06:18] #20369 closed

[2020-04-01 06:19] fmpfmp commented on #20395
@athinboy    就是看了了这篇博文，并在下面做了回复，所以才想到到这里来提个issues

也是突发奇想，发了个中文

[2020-04-01 06:23] mattgenious commented on #19768
Agreed.
If you don't already know, you should be able to mitigate it by publishing to release with linker enabled.

[2020-04-01 06:24] #20395 closed

[2020-04-01 06:24] AltairCA commented on #20225
@Tratcher I have extended the RemoteAuthenticationOptions and added GoogleAuthenticationOptions with some custom properties

Options getting registered when I use AddRemoteScheme but not AddScheme

[2020-04-01 06:36] athinboy opened #20400 "Feature request: Property Injection"
https://github.com/dotnet/aspnetcore/issues/2331
https://github.com/dotnet/aspnetcore/issues/2131

 @khellang @davidfowl
 I do not understand ,why should we to use Autofac or Scrutor ? why do aspnetcore not support Property Injection?  just like :https://docs.spring.io/spring/docs/5.2.5.RELEASE/spring-framework-reference/core.html#beans

We are business application developer, the develop efficienc

[2020-04-01 06:38] athinboy commented on #20395
@fmpfmp 唉，对这些人真失望，重要的特性不支持，不知道天天干啥呢！

[2020-04-01 08:05] rafalone commented on #18340
Curiously, this error does not occur if we run the application under **linux**. Tested on CentOS 7 with .NET Core 3.1.3.

[2020-04-01 08:11] TobiasKoller opened #20401 "Blazor: contenteditable and onblur throws InvalidOperationException"
I want to use a editable div in Blazor to mix plain text and some html-elements like <button>.
I know that value-binding is not supported right now for editable divs so I want to use the onblur-event to read and parse the text.

But when I change the content and leave the div I get an InvalidOperationException.

This only occurs when I use a custom Tag like <Test MyParam...
When I put the content

[2020-04-01 08:30] bollhals opened #20402 "ControllerBase / CreateApplicationModel question"
Hey

I was investigating whether I can improve the startup time of my application and I saw that I spend a large amount of my time in the MapControllers function.

In my project I have 41 Controllers inheriting from ControllerBase.
Now during the MapControllers call, a lot of time is spent on CreateApplicationModel.
Each of my Controller has a few methods (1-8) which it should take care of.

The C

[2020-04-01 08:34] 0xced commented on #2867
I just lost so much time because I tried to configure the urls with an array instead of a semicolon-separated string in my appsettings.json file.

❌ Don't use an array for the `urls` key:
[code]
✔️ Use a (semicolon-separated) string for the `urls` key:
[code]

A json schema would certainly have prevented this error!

(Also, no error and not even a warning log for using the wrong type, the server j

[2020-04-01 08:59] jawn commented on #18519
As 3.1.3 has been released, should this be moved to a later milestone?

[2020-04-01 09:00] jawn commented on #18994
Should this be closed as 3.1.3 has been released?

[2020-04-01 09:06] MathiasViggo commented on #20306
At the moment we have this:
`                endpoints.MapControllerRoute(
                        name: "default",
                       pattern: "{area=Basic}/{controller=Home}/{action=Index}/{id?}/{subid?}"
                        );`

But when i try to access the page:
Basic/Message/Autoreply
It never reaches the Autoreply controller

[2020-04-01 09:16] javiercn commented on #20374
@MortenMeisler thanks for contacting us.

We do pop-up by default and fallback to a redirect flow.  This is not a behavior we plan to change at the moment, but we'll take it into consideration if we hear more feedback about it.

[2020-04-01 09:20] shapeh commented on #14877
As stated earlier, this is a problem with ambient values not being passed on unless specified explicitly like so:

[code]
For us, this is a major problem as we have 500+ URLs generated with either Url.RouteUrl or <a asp-controller="SomeController" asp-action="SomeAction">link</a>. Decorating every single link with ambient values seems the wrong design pattern.

Someone here https://stackoverflow.c

[2020-04-01 09:53] JvanderStad opened #20405 "Blazor re-render parent component reset child values"
### Describe the bug
I've been having a problem with a Blazor component wrapped in a parent resetting values due to the parent component redrawing and using 'old' values.

### To Reproduce
- Clone repo: https://github.com/JvanderStad/blazor-rerender-bug
- Run
- ![image](https://user-images.githubusercontent.com/5426370/78121208-d521e800-7456-11ea-9cc6-861eeefa425e.png)
- There are 2 controls, one

[2020-04-01 10:45] DanielBryars commented on #11544
Yeah, this behaviour is pretty _weird_.

If you can't fix it then this FromRouteAttribute option would be a good compromise for me. Or perhaps provide an example implementation of the middleware suggested by  https://github.com/Eilon in https://github.com/aspnet/Mvc/issues/6388

[2020-04-01 11:12] wenz opened #20406 "Consider JavaScript files as binary in .gitattributes"
### Is your feature request related to a problem? Please describe.
Very often in this repository, the jQuery JavaScript library is referenced in HTML files with SRI (Subresource Integrity), meaning that a hash of the file is provided as an attribute. Therefore it is crucial that JavaScript files are not modified when pushed to the repository. Git settings like `core.autocrlf` (defaults to `true` u

[2020-04-01 11:28] leung85 opened #20407 "Could not load type 'System.IO.Compression.ZipFile' from assembly on docker raspberry pi when publish with Trimmed"
### Describe the bug

Below code can be run on window
But on docker with raspberry pi publish with /p:PublishTrimmed=true, have error:

### To Reproduce
Create a WebProject and Use below code then publish with /p:PublishTrimmed=true
[code]

Got Exceptions? Include both the message and the stack trace

### Further technical details
version 3.1.3
Docker on raspberry pi

[2020-04-01 11:36] javiercn commented on #20227
@fileman in which way does it break, does the browser crash?

Can you provide a minimal repro project so that we can investigate?

[2020-04-01 11:43] rodrmoya commented on #20259
And yes, the `xattr` has nothing to do here, it's just because that project was downloaded through a browser, just creating a new project shows the same issue with msbuild:

[code]

[2020-04-01 11:49] mihaimyh opened #20408 "[Blazor Wasm] Clearing cache after new deploy"
I was searching for a way to force the browser to refresh/clear it's cache whenever I am deploying a new version of a Blazor Wasm app.

Currently, when a new deploy is made the browser still shows the old version of the app until I force reload it using `CTRL+F5`, but on mobile this process can only be done by accessing browser's settings and manually clearing cache there.

You can imagine that al

[2020-04-01 11:51] TimBo93 commented on #20406
I would like to note that autogenerated *.map files should also be considered as binary files.

[2020-04-01 11:55] chucker commented on #20259
@rodrmoya ah. My original assumption was that the quarantine attributes (which I know come from the downloading) would prevent certain required permissions. Turns out that was a red herring.

Instead, the issue seems to be, as @javiercn says, Mono's MSBuild — if I run your commands, clean again, then run `dotnet build`, the correct `blazor.boot.json` gets produced.

[2020-04-01 12:05] blowdart commented on #20403
To summarise this do you want into actual results do you want

- No authentication to happen when someone browses to a URL that requires authentication, you just want a 404 to be returned?
- Authentication to happen, but no returnURL parameter appended to the login page URL so when someone logins in they're just returned to a fixed URL you decide?

Or something else entirely?

[2020-04-01 12:16] rainersigwald commented on #20259
I have no idea what's up here. MSBuild should log much more information than that if a task throws an unhandled exception. And that task doesn't appear to do its own try/catch swallowing.

But I do repro the problem on a command line build with Mono 6.8.0.123.

With a hacked up MSBuild that annotates all errors with the stack that generated them I get:

[code]

And then I notice that this task isn

[2020-04-01 12:26] javiercn commented on #20407
@leung85 thanks for contacting us.

We believe this issue is not specific to ASP.NET Core. You'll get a better and faster answer if you file an issue in [dotnet/sdk](https://github.com/dotnet/sdk).

/cc: @Pilchie

[2020-04-01 12:27] idlemind opened #20409 "Razor Class Library static files inaccessible in any ASPNETCORE_ENVIRONMENT other than Development"
Hi,

I have a Razor Class Library in .NET Core 3.1.0. The RCL has static assets located in wwwroot folder such as js frameworks, css, etc.

I have a .NET Core 3.1 Web application that references the RCL. When i run the web application the static files within the RCL can be accessed using the path /_content/AreaName/js/...

This works fine when then  ASPNETCORE_ENVIRONMENT is Development. If i chan

[2020-04-01 12:30] javiercn commented on #20406
@wenz thanks for contacting us.

If I'm not wrong, that will cause the JS files to not display correctly in things like `git diff` and so on. So it is unlikely that we do this by default, but you can add it to the project yourself.

@SteveSandersonMS do you have any thoughts?

[2020-04-01 12:32] javiercn commented on #20409
@idlemind thanks for contacting us.

The current behavior is by design. RCL is a development time feature, and doesn't exist when the application is published, hence it's only plugged in by default during development.

If you want to enable it for a different environment you can call `webHostBuilder.UseStaticWebAssets()` to turn it on unconditionally.

[2020-04-01 12:33] #20409 closed

[2020-04-01 12:33] #20204 closed

[2020-04-01 12:43] idlemind commented on #20409
Thank you for the prompt response and workaround.

[2020-04-01 12:44] javiercn commented on #20198
@SweetJV any time an event is handled, one or more re-renders can happen.
* When an event handler is asynchronous, a re-render is triggered after the sync code finishes executing and another re-render is triggered after all async code has finished executing.

To update your code, I would change
[code]

To avoid calling `UpdateColorSwatch()` as part of the event handler and instead, simply register

[2020-04-01 12:46] javiercn commented on #20198
In the Blazor programming model the right time to interact with elements is during `OnAfterRenderAsync` I can't talk about the details of your specific use case, but in general renders happen once when the handler/work is synchronous and twice when the handler is asynchronous.

[2020-04-01 13:01] SomeProgrammerGuy commented on #20403
My apologies if I've made the question confusing.

I have created a web app (CORE 3.1 / Razor Pages)  using the built in (Identity parts) custom Cookie Authentication / Authorisation.

All working.

Lets say configured like so:

[code]

I haven't yet signed in.

Firstly if I attempt to go to the page: [SITE]/Secure/I-Exist  **WHICH EXISTS**

Which will fail (as I havn't signed in) and return me to

[2020-04-01 13:12] SteveSandersonMS commented on #20406
@wenz Can you give a specific set of repro steps showing what set of actions lead to a problem? I'm not sure how Git's CRLF conversion is affecting your workflow within this repo.

It sounds like you're implying that you compute a JS file's hash locally for some reason, and insert that hash into a PR into this repo, then the hash turns out to be wrong because CRLF conversion means that other peopl

[2020-04-01 13:23] #20407 closed

[2020-04-01 13:27] chucker commented on #20259
My guess would've been that it's trying to cast an empty (or null) object in order to serialize it into the `resources` field in the JSON, or one of its subfields.

What it winds up producing:

[code]

What it should actually have looked like:

[code]

(So `resources` winds up having none of the three properties `assembly`, `pdb`, `runtime`, and maybe the serializer is trying to access them.)

[2020-04-01 13:30] add1ct3dd commented on #12890
Thanks, I compared and adjusted where possible but still nothing. Interestingly the project works fine on the .NET Core 2.1/2, still just getting malformed responses on .NET Core 3.1 with Microsoft.AspNetCore.SpaServices.Webpack and I've tried all the 3.0+ versions! :(

[2020-04-01 13:33] TimBo93 commented on #20406
@SteveSandersonMS it belongs to SRI please have a look at #20356

[2020-04-01 13:38] blowdart commented on #20403
Ok got it. This are rather specialist requests. Honestly if you're worried about a scanning tool discovering URIs I tend to lean on you're aiming for security by obscurity here, which isn't security at all.

However:

The first, not sure, @Tratcher any ideas? Is there an event?
The second is a routing issue, @pranavkm any ideas?

[2020-04-01 14:00] #20351 closed

[2020-04-01 14:01] ahmetsekmen commented on #20232
I have found some work around;
Open VS Admin mode;
1- start project
This page will come;
![image](https://user-images.githubusercontent.com/10855574/78145798-0213d200-743a-11ea-9282-8abf53af1abf.png)

press F12 (inspect window)
Then don't touch any thing!

Restart project while i,ts running
![image](https://user-images.githubusercontent.com/10855574/78145913-240d5480-743a-11ea-9b7d-121d1690432c.pn

[2020-04-01 14:01] rainersigwald commented on #20259
@pranavkm, can you take a gander at this? Repro project in OP and details on failure in https://github.com/dotnet/aspnetcore/issues/20259#issuecomment-607214332

[2020-04-01 14:05] pranavkm commented on #20403
You might be able to get away with putting adding a `Secure/Index.cshtml` with a catch-all parameter. It will end up handling routes that do not match, but start with `/Secure`:

[code]

[2020-04-01 14:15] vulcanlee commented on #20263
@mkArtakMSFT

I tried to build the Blazor WebAssembly App with or without ASP.NET Core hosted mode, and both of them executed the project under IIS.

The test result is that when the browser used is Edge, the breakpoint set by Visual Studio is invalid.

[2020-04-01 14:17] tezine commented on #20204
Hi @javiercn , are you running the exact sample from github? Are you running blazor server side? I got this error on two computers, both running without proxy configuration.

[2020-04-01 14:19] codyja commented on #4706
Any ideas on when a solution would happen here? PEM cert reads would be ideal. Thank you!

[2020-04-01 14:23] xrkolovos opened #20411 "Load Configuration On Application Startup from Backed (Blazor WebAssembly)"
We want to load Configuration from the server api and based on this configuration we want to configure our DI. So, we probably need to make a http call. In order to do this http call we need the DI configured so we can get a HttpClient. But DI is not configured, so we can't use HttpClient.

It would be nice to use the javascript to make this call, but we can't use IJSRuntime because it is also cre

[2020-04-01 14:29] SomeProgrammerGuy commented on #20403
"I tend to lean on you're aiming for security by obscurity here, which isn't security at all"

I really hate it when folk pull this nonsensical statement up.

"security by obscurity" is a large topic but it is important.

Cutting that topic very short.

Things like algorithms (encryption etc.) it should certainly never be used for.

Attempting to keep a **GOOD* security professional at bay then it

[2020-04-01 14:34] pranavkm commented on #20402
They're public for [binding properties](https://github.com/dotnet/aspnetcore/blob/6ce8a879ae10e9f27798ec6e1c577092413f813d/src/Mvc/Mvc.Core/src/ControllerBase.cs#L68), ease of unit testing, and compatibility with MVC 5. Changing the visibility of these properties at this point would be a breaking change, so it's not something we would consider. If there are specific perf improvements you'd like to

[2020-04-01 14:39] pranavkm commented on #20391
The file name in ASP.NET Core server project is also named `appsettings.*.json` - https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1. On a case sensitive operating system, a file named `appSettings.json` would not get picked up by the server project. We think using the lower cased form is consistent with how the rest of ASP.NET Core's configuration works.

[2020-04-01 15:13] philippdolder opened #20412 "Expression bodied method with `@` prefixed variable usage in .razor files produces build errors"
### Describe the bug
The compiler produces build failures when expression body methods inside a `.razor` file access a variable with an `@` prefix as the first thing.

When I have this code inside of my `MyComponent.razor` file:

[code]
I get the following build errors:
[code]

I don't get them when using a different name for the `@event` variable:
[code]
I don't get them when I reverse the expres

[2020-04-01 15:21] SteveSandersonMS opened #20413 "Rationalize BlazorILLink incrementalism in hosted+VS+RID+publishing case"
If all the following are true:

 * You have a Blazor WebAssembly "hosted in ASP.NET Core" application
 * You're performing a publish of the server project from inside VS (this doesn't repro with command-line publish)
 * You are publishing with a specific RID (e.g., `win-x64`)

... then our `_LinkBlazorApplication` target tries to run more than once: first when VS builds the client project, then a

[2020-04-01 15:22] CreepyGnome opened #20414 "Microsoft.AspNetCore.Authentication.JwtBearer 3.x is not compatible with netstandard2.1"
This is a breaking change for people who were using Microsoft.AspNetCore.Authentication.JwtBearer 2.2.0 which was netsteadard2.0.

I know people have complained about and you just said change the library to stop being .NET Standard, and I find that unacceptable as you never explain why you made this breaking change,  As .NET Standard should be where we try to make as many of our supporting librari

[2020-04-01 15:23] boindiil commented on #17926
We can still reproduce the problem in version 3.2.0-preview3.20168.3. Here is a minimal example:

[code]

[2020-04-01 15:26] CreepyGnome opened #20415 "Microsoft.AspNetCore.Mvc.Versioning.* 4.x is not compatible with netstandard2.1"
This is a breaking change for people who were using Microsoft.AspNetCore.Mvc.Versioning.* 3.* which was netsteadard2.0.

Telling people to change their .NET Standard to a .NET Core library is not really acceptable without a really good reason why. None has been given.

Was this breaking change made by accident and you could just as easily build and deploy Microsoft.AspNetCore.Mvc.Versioning.* as .

[2020-04-01 15:29] javiercn commented on #20415
@CreepyGnome thanks for contacting us.

I don't think you have the right repository. According to the nuget.org package the source repo is [here](https://github.com/Microsoft/aspnet-api-versioning). I suggest you file an issue with them if you want to get a faster and better answer.

[2020-04-01 15:30] javiercn commented on #20415
@danroth27 @rynowak can you folks route this appropriately? This is not a package we own.

[2020-04-01 15:31] javiercn commented on #20412
@philippdolder thanks for contacting us.

@NTaylorMullen do you have thoughts?

[2020-04-01 15:32] javiercn commented on #20412
@philippdolder you can try using `@@` to escape it, it might work

[2020-04-01 15:33] javiercn commented on #20411
@xrkolovos thanks for contacting us.

You can new-up an instance of HttpClient and the base url is available on the WebassemblyHostBuilder as part of preview3.

[2020-04-01 15:34] javiercn commented on #20411
@captainsafia Can you confirm here?

[2020-04-01 15:34] #20411 closed

[2020-04-01 15:35] SteveSandersonMS commented on #20406
I see, thanks for clarifying. So we **do** hard-code hashes in our sources :) In that case I agree it's problematic to allow CRLF conversion for those files.

However like @javiercn points out, we wouldn't want to set `.gitattributes` to treat every single `.js` file in the repo as binary, since that would break our normal workflows for seeing diffs for `.js` files that we do actually edit. Instea

[2020-04-01 15:35] wenz commented on #20406
@javiercn good point with git diff, didn't think about that. Maybe `*.js eol=lf` might work?

@SteveSandersonMS here is what happened: while working on https://github.com/dotnet/aspnetcore/pull/20356, I had a relatively new dev machine with the Windows Git tools installed with default settings, which include `core.autocrlf=true`. As part of the PR, I updated the jQuery versions that were part of t

[2020-04-01 15:37] SteveSandersonMS commented on #20406
I'm fine either way with `*.js eol=lf` (assuming that works; I haven't done that before) or having a rule that matches the jQuery files specifically, if those are the only ones likely to trigger this.

[2020-04-01 15:37] wenz commented on #20406
ah, our replies overlapped ;-) Yes, just "hardcoding" `jquery.js` and `jquery.min.js` into `.gitattributes` might be even better since it only affects those libraries where we are actually using SRI currently. Probably `*.js eol=lf` is good enough?

[2020-04-01 15:38] naveedahmed1 commented on #4249
Should we expect its support in .Net Core any time soon?

[2020-04-01 15:39] javiercn commented on #20358
@xXBuilderBXx you do, otherwise your app won't work between reconnections.

[2020-04-01 15:41] pranavkm commented on #20381
This is likely because you've disabled NuGet.org as a package source. Could you ensure it is enabled:

[code]

[2020-04-01 15:44] CreepyGnome commented on #20415
Moved to https://github.com/microsoft/aspnet-api-versioning/issues/617

[2020-04-01 15:45] #20415 closed

[2020-04-01 15:45] davidfowl commented on #4249
No, we're not working on this feature. The cost is high and it isn't a priority a priority for the current release.

[2020-04-01 16:18] mkArtakMSFT commented on #20412
Thanks for contacting us. Given that this is not a blocker as you can simply rename your variables, we are moving this issue to the Backlog to focus on more important issues for now.

/cc @NTaylorMullen would be great to know what your thoughts are why this isn't working. But don't spend time on investigation, if it's lengthy

[2020-04-01 16:23] naveedahmed1 commented on #4249
How about .Net 5, any plans to consider it for next major release?

[2020-04-01 16:23] mkArtakMSFT commented on #20398
Have you tried to use `<input type="tel">` instead?

[2020-04-01 16:26] mkArtakMSFT commented on #20364
Thanks for contacting us.
This StackOverflow answer should help: https://stackoverflow.com/questions/57234446/how-to-make-an-editform-input-that-binds-using-oninput-rather-than-onchange/57326353#57326353

[2020-04-01 16:26] #20364 closed

[2020-04-01 16:28] wtgodbe commented on #18519
The issue was resolved in 3.1.3, so should be fine to keep that as its milestone - I guess I just forgot to close it 🤦‍♂

[2020-04-01 16:28] #18519 closed

[2020-04-01 16:29] antjazldev commented on #20381
the problem stopped once i added a Nuget.config file in the root of my project
![image](https://user-images.githubusercontent.com/62674300/78161932-ca8e3100-740b-11ea-8499-f861d9e0ca7f.png)

wheni type dotnet nuget list source i get :
![image](https://user-images.githubusercontent.com/62674300/78162065-f1e4fe00-740b-11ea-8659-ad8d4badae6d.png)

There is any configuration Im missing ?
Do i Need to

[2020-04-01 16:30] mkArtakMSFT commented on #20263
Thanks for the details, @vulcanlee.
Unfortunately we are unable to reproduce this issue to help you out.
If you can come up with some instructions on how to get to the same state, we will happily investigate.
For now, however, given that we are unable to move forward here, I'm going to close this issue.

**Call to others**": If you happen to face the same issue and have some more information to ad

[2020-04-01 16:31] #20263 closed

[2020-04-01 16:41] Tratcher commented on #20414
All of AspNetCore moved from netsteadard2.0 to netcoreapp3.x, not just this package.
https://github.com/aspnet/Announcements/issues/324
https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#migrate-libraries-via-multi-targeting

So I have to ask, how are you using just the JwtBearer package from a library? This package depends on the rest of AspNetC

[2020-04-01 16:45] mkArtakMSFT commented on #20402
Thanks for reporting this, @bollhals.
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-01 16:46] Tratcher commented on #20404
You're trying to send an HTTPS request to an HTTP endpoint. The logs say the server is bound to `http://localhost:5000` but you likely typed `https://localhost:5000` into the browser. You either need to add an https configuration to the server or have the browser request the http site.

[2020-04-01 16:48] CreepyGnome commented on #20414
That generic statement about ASP.NET Core is general, not specific to the libraries that were not multi-targeted and didn't list the libraries impacted either. As we search by the name of a class, method, package name to find what is broken in a migration doc.

We had to support .NET Standard projects there were shared across all the ASP.NET Core projects... they just where "infrastructure" stuff

[2020-04-01 16:48] #20414 closed

[2020-04-01 16:50] mkArtakMSFT commented on #20365
Thanks for contacting us.
@rynowak do you have any thoughts you want to share here?

[2020-04-01 16:51] davidfowl commented on #4249
.NET 5 is the currrent release, so do you mean .NET 6? Sure nothing has been planned for that as yet.

[2020-04-01 16:55] mkArtakMSFT commented on #20305
Thanks for your PR, @MarkusRodler!

[2020-04-01 16:55] #20305 closed

[2020-04-01 16:55] Tratcher commented on #20404
Filed https://github.com/dotnet/core/issues/4495, the tutorial should not be recommending the use of the `--no-https` flag.

[2020-04-01 17:08] TanayParikh commented on #20397
https://github.com/dotnet/roslyn/issues/42974#issuecomment-607031161

Given this, we can either keep the behavior as is, or remove the filtering we do for the code actions shown to the user:

https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.VSCode/src/CodeActions/RazorFullyQualifiedCodeActionTranslator.ts#L29-L32

Are there any preferences for this?

[2020-04-01 17:10] philippdolder commented on #20412
I just went to use statement body style for this method as a work around. I guess the `@` somehow interfered with the parsing of `@` blocks in the razor file

[2020-04-01 17:12] naveedahmed1 commented on #4249
Thanks @davidfowl, I thought .Net Core 3.x is considered as current release.

HTTP/2 server push can have major effect on the performance of web applications since it can improve page load time by pushing the required resources in a single request. And now most of the browsers support this feature, don't you think its support should be added to the one of  most popular web development platforms?

[2020-04-01 17:13] Tratcher commented on #20414
If there's a specific section in the doc you think could be clarified, please comment directly on the doc.

[2020-04-01 17:15] NTaylorMullen commented on #20397
Really thorough investigation, nice job Tanay! We need to keep the filtering as-is because we don't support every light bulb diagnostic. Given this is "by design" from [Roslyn's perspective](https://github.com/dotnet/roslyn/issues/42974#issuecomment-607031161) we want to treat it the same as well. I'd close this issue as by-design.

[2020-04-01 17:16] pranavkm commented on #20381
Have a look at https://docs.microsoft.com/en-us/nuget/consume-packages/install-use-packages-visual-studio#package-sources to configure NuGet sources globally.

[2020-04-01 17:17] Tratcher commented on #4249
These benefits are largely theoretical and come with a lot of issues of their own (e.g. cache busting). The various standards groups are still trying to make it work in practice.

[2020-04-01 17:22] JulienM28 commented on #20364
InputText isn't a problem.
I already done it.

The problem is InputNumber with point as decimal separator.
Coma separator is working ( my browser is in french maybe it may have an influence )

[2020-04-01 17:24] davidfowl commented on #4249
Sorry current release as in the one we are currently working on. We already have planned and have started working on .NET 5 for a few months now.

[2020-04-01 17:24] HaoK commented on #6720
See https://github.com/dotnet/aspnetcore/pull/20319#issuecomment-606824891 for context and suggested workarounds

[2020-04-01 17:30] Tratcher commented on #20388
No, token does not allow slashes, only alpha-numeric characters. `application/gzip` is the format for a content-type, not an encoding. `application/gzip` belongs in the [Accept](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.1) header, not the Accept-Encoding header.

I'll have to verify, but I expect this is happening at the Windows (Http.Sys) or IIS layer and is not something ASP.

[2020-04-01 17:41] ThaRaven403 opened #20418 "An iframe causes the Blazor WebAssembly site to quit unexpectedly on 3.2.0 preview 3"
### Describe the bug
Adding an iframe to a Razor component causes the program to exit when you reach that component/page when in debug. The exact same iframe was previously used when running on preview 1 with no issue.

### To Reproduce
1. Start a new Blazor App project using Visual Studio 2019 16.6.0 Preview 2.
2. Select the Blazor WebAssembly App template and check the ASP.NET Core hosted (altho

[2020-04-01 18:01] #20100 closed

[2020-04-01 18:01] #20038 closed

[2020-04-01 18:09] Tratcher commented on #20403
Those redirects are generated by CookieAuth and can be customized in the [events](https://github.com/dotnet/aspnetcore/blob/85b1a73f65f728a4c3ea989b1d40bf73ff40053b/src/Security/Authentication/Cookies/src/CookieAuthenticationEvents.cs#L41-L53). Here's an example that removes the query from the redirect to the login page.
[code]

[2020-04-01 18:11] captainsafia commented on #20411
Unfortunately, this change is not available in preview3, but it will ship in preview4. The change will allow you to access the `BaseAdress` property from the builder to instantiate an HTTP client (`builders.HostEnvironment.BaseAddress`).

[2020-04-01 18:13] SomeProgrammerGuy commented on #20403
Hi Tratcher,

That looks pretty good is it possible to add some basic explanation for myself and any future users reading this post.

[2020-04-01 18:20] Tratcher commented on #20403
https://github.com/dotnet/aspnetcore/blob/71327c03ca8b661d2aa371c73fee4d6eaa474412/src/Security/Authentication/Cookies/src/CookieAuthenticationHandler.cs#L432-L443
Challenge is called when an anonymous users hits a page requiring auth. ReturnUrl is generated based on the current request so you can come back after logging in. It's then appended to the query string of the login page. OnRedirectToLog

[2020-04-01 18:22] SomeProgrammerGuy commented on #20403
I do still think this should be a simple config change but thank you, that amount of additional code isn't terrible on the scale of things.

[2020-04-01 18:27] Tratcher commented on #20403
Perhaps, the trouble is that removing this value breaks the end-to-end scenario. The login page can't return you to the original resource.

[2020-04-01 18:28] SomeProgrammerGuy commented on #20403
I would just like some sort of (include the return url / dont return the return url) type of setting. I understand why both groups of people require one of each.

[2020-04-01 18:46] ahwm opened #20419 "API Endpoint Request.Body Stream Always Disposed"
### Describe the bug
When receiving POST requests from Amazon's Simple Notification Service, it's unreliable. Sometimes it will work and other times I get an "object disposed" exception (below). I've tried variations but none have been reliable. Once I downgraded to .NET Core 2.1 (or even 2.2) everything worked as expected.

On .NET Core 2 I could do this and have it work 100% of the time:
[code]

[2020-04-01 18:47] spmoran-blazor commented on #20285
I'm still running into this is Preview 3.

[2020-04-01 18:50] xXBuilderBXx commented on #20358
Has anyone actually tested this before so that i can be sure it works without paying first or would there be a way to route the websocket connection to it's own subdomain like ws.google.com that bypasses cloudflare but have the main site google.com behind cloudflare.

[2020-04-01 19:30] TimBo93 commented on #20406
@SteveSandersonMS i would recommend that the (jquery) **map** files are treated as binary since they are autogenerated and do not add any value to the diff. Like here https://github.com/dotnet/aspnetcore/pull/20356/commits/880bd19270b240a166921b86b90cf0800e7061ff. These files can also be addressed by rule or hardcoded

[2020-04-01 19:35] rxelizondo opened #20422 "Blazor Webassembly Identity Scaffolding Not Working"
Create a new Blazor app using the `Blazor WebAssembly App` template with `ASP.NET Core Hosted` selected and `Individual User Accounts` authentication.

After the project is loaded add the identity scaffolding by right clicking the server project and selecting Add `New Scaffolding Item…` and select all files.

If you try to run the project, you will get a compile error due to missing using `Microso

[2020-04-01 19:43] oising commented on #9020
This is plainly not true. The underlying TCP and HTTP stacks are not written using .NET. Microsoft are working to adapt their foundation for gRPC. This is a complex delivery that has knock-on effects for everything that runs on Windows servers, including Azure itself.

This manner of unproductive, childish nonsensical whining is completely unnecessary. This has nothing to do with the .NET team. Th

[2020-04-01 19:46] bollhals commented on #20402
Thank you for providing the answer.

The POCO type certainly helps cutting down these costs 👍

[2020-04-01 20:02] #20164 closed

[2020-04-01 20:06] anurse commented on #20333
This sounds like something that can't really be avoided to some degree. Serializing floating point numbers is a tricky thing and JavaScript and C# don't necessary have the same encoding rules. You could serialize it as a `Uint8Array` directly, or even (though it's a bit ugly) a string and parse it back later. It depends on the kind of accuracy you're looking for.

This seems like the relevant thin

[2020-04-01 20:09] PlattevilleWS commented on #20422
Funny, I was just doing this same thing for my project. I ended up not doing anything from the read-me, because it was incorrect as you say. Just leaving the Startup.cs in it's original state seemed to work just fine (and fixing the missing Microsoft.AspNetCore.Identity using statement in RegisterConfirmation.cshtml.cs, as you mentioned).

That being said, the next issue I had was due to the Scaff

[2020-04-01 20:13] anurse commented on #20388
Kestrel and ASP.NET Core shouldn't reject this, and we're not in direct control over Http.sys behavior here. The best next step would be to engage Microsoft Support and/or file Windows Feedback on this.

If this reproduces in Kestrel, we could investigate further. Moving this to discussions since we don't have actionable work we can take here.

[2020-04-01 20:13] MichaelSpranger commented on #20231
The problem @dibble-james ran into is that a stream in general can only be read once, so when the framework is building the configuration again reading the stream fails. This is also the cause of the bug [Using MemoryStream on JsonConfigurationExtensions.AddJsonStream throws StreamNotReadable due to casting #1979](https://github.com/dotnet/extensions/issues/1979) which unfortunately was closed.
A

[2020-04-01 20:15] anurse commented on #20404
#14884 would make the error message better. We've talked about doing it for a while.

[2020-04-01 20:15] #20404 closed

[2020-04-01 20:17] anurse commented on #20331
Did you follow the more information link in the error page? It should go to our [IIS troubleshooting guide](https://aka.ms/aspnet/iis/troubleshoot) which will provide more information on how to get the exact error information. Can you go to that guide and follow the instructions to get more information from the Windows Event Log? That way we can see what might be going wrong.

[2020-04-01 20:19] anurse commented on #20349
Can you take a look at the [IIS troubleshooting guide](https://aka.ms/aspnet/iis/troubleshoot)? There's more information there on how to diagnose these issues. If that doesn't help, let us know.

By the way, 2.2 is end-of-life and no longer supported, you should either upgrade to 3.1 or downgrade to 2.1 (both are long-term servicing releases) to get support.

[2020-04-01 20:21] anurse commented on #20350
@bartonjs does this error seem familiar to you? Looks like an error loading System.Net.Security but only when running in a certain user account.

@thepill to confirm: this only happens when running as `System`?

[2020-04-01 20:22] anurse commented on #20302
Triage: I think we're OK with this difference between TestServer and the real server. Testing with a live Kestrel instance (even in-process) is generally a better way to get 1:1 behavior between tests and production.

[2020-04-01 20:22] #20302 closed

[2020-04-01 20:23] anurse commented on #20169
A fix has been made, so we'll close this. We're watching this in the quarantined test tracking.

[2020-04-01 20:26] JohnGalt1717 commented on #9020
@oising

.NET is the language of Azure. Microsoft Markets it as such. .NET gRPC can't be understood by Azure.  It's 100% true. It's a complete fail that it wasn't available at release and even worse a year later.  It's irrelevant that the stacks aren't writing by the .NET team inside **Microsoft**. **Microsoft** is **Microsoft**. I don't care about their little fiefdoms and artificial boundaries a

[2020-04-01 20:34] danielchalmers commented on #20331
From Event Viewer:

**Event 1031, IIS Express AspNetCore Module V2**

Could not find dotnet.exe at 'C:\Users\user\repro\dotnet' or using the system PATH environment variable. Check that a valid path to dotnet is on the PATH and the bitness of dotnet matches the bitness of the IIS worker process.

**Event 1010, IIS Express AspNetCore Module V2**

[2020-04-01 20:36] anurse commented on #20331
Have you installed the 32-bit version of the .NET Runtime? I saw you referenced `C:\Program Files\dotnet` above, but that's the 64-bit version. The 32-bit version needs to be installed separately (and I believe it doesn't come with VS). You can find it here: https://dotnet.microsoft.com/download/dotnet-core/3.1

[2020-04-01 20:42] danielchalmers commented on #20331
you're completely right. I installed the 32-bit version and it's all working now. thank you!

[2020-04-01 20:42] #20331 closed

[2020-04-01 20:49] Andrzej-W opened #20425 "[Blazor WASM] Conver all DLL names to lowercase - discussion"
Let's look at some files loaded by Blazor application:
- blazor.webassembly.js
- blazor.boot.json
- dotnet.wasm
- mscorlib.dll
- netstandard.dll

These are "good" names. Now a few "bad" names:
- MyProjectName.Client.dll
- MyProjectName.Shared.dll
- WebAssembly.Net.WebSockets.dll
- System.ComponentModel.DataAnnotations.dll
- Microsoft.AspNetCore.Components.Forms.dll

I think you should convert all

[2020-04-01 20:50] iUnknwn opened #20426 "Basic ClaimsTransformation Adding 50-100ms to Requests"
### Describe the bug
When using a very basic IClaimsTransformation, response times are significantly increased.

### To Reproduce
Running .NET Core 3.1, hosting with Kestrel and Windows Auth. I was writing a simple check that, if the authenticated username was in a hashset, they would be allowed to access specific pages.

My first attempt used the onAuthenticated event from AddNegotiate, but I wan

[2020-04-01 20:52] thepill commented on #20350
@anurse yes - until now the error only happens when ran as the user `system` - the strange thing is, that the error will eventually go away if i redeploy the app several times - until the next system fails after some period of time

[2020-04-01 20:52] jimnkey commented on #20388
@Tratcher, @anurse , thanks for the reponses... I have tested and I'm pretty sure it's http.sys and it never gets to IIS.  I believe the client is an old java client that we have no control over.  There are more than several client systems that reach our service with the offending java library.  I've tried using Kestrel with an nginx reverse proxy and on the surface seems to be ok; although there'

[2020-04-01 21:00] barahonajm commented on #16739
This also happens every time you hit "F5" on "Firefox", it does not happen on edge and chrome
![image](https://user-images.githubusercontent.com/15148088/78186114-2ec7e980-743a-11ea-8286-64ccbc6df71f.png)

[2020-04-01 21:07] Tratcher commented on #20388
Yes, kestrel is supported on its own, but again you need to manage things like lifetime.

On the contrary, the client is clearly violating the spec. You're going to have a tough time convincing Windows that this is appropriate to patch (but you're welcome to try). I expect you'd have more luck fixing the client no matter how painful that may be.

[2020-04-01 21:08] captainsafia commented on #10759
Closing this as it has been implemented in #19733.

[2020-04-01 21:08] #10759 closed

[2020-04-01 21:12] javiercn commented on #20418
@ThaRaven403 thanks for contacting us.

This is a known issue where the debugger proxy that we use crashes when mono is not found in one of the browsing contexts.

Closing as this issue is a duplicate.

/cc: @SteveSandersonMS

[2020-04-01 21:12] #20418 closed

[2020-04-01 21:14] javiercn commented on #20422
@rxelizondo thanks for contacting us.

We are aware of these issues and I believe we are working on smoothing out the experience.

/cc: @danroth27

[2020-04-01 21:16] javiercn commented on #20425
@Andrzej-W thanks for contacting us.

I don't think this is something that we plan to do out of the box, as it has the potential to cause issues in many places on the stack.

This is also something that you can do yourself in a post-build step following a similar approach as the one @SteveSandersonMS demonstrated for changing assembly extensions.

[2020-04-01 21:25] Arrowana opened #20427 ".NET Core Debug Blazor Web Assembly in Chrome leads to forever spinning chrome page with about:blank in address bar"
### Describe the bug
In VS Code after starting ".NET Core Launch (Blazor Standalone)" then starting
".NET Core Debug Blazor Web Assembly in Chrome" leads to forever loading chrome page with about:blank in the address bar.

### To Reproduce
I followed the tutorial to get started with the template Microsoft.AspNetCore.Components.WebAssembly.Templates::3.2.0-preview3.20168.3
https://docs.microsoft.co

[2020-04-01 21:40] jimnkey commented on #20388
I was thinking more that 'application/gzip' would be considered as two tokens because '/' is a delimiter just as ',' is.
But I do agree, those clients should be fixed...
Thanks.

[2020-04-01 21:42] SteveSandersonMS commented on #20425
Thanks for the suggestion! However, I agree with @javiercn.

The casing of resources loaded by your site should not affect SEO.

.NET assembly file names conventionally involve upper and lower case characters, and we have no reason to change that.

[2020-04-01 21:42] #20425 closed

[2020-04-01 21:43] Tratcher commented on #20419
The relevant code from your sample:
[code]

What happens if you remove `Request.EnableBuffering();` and `Request.Body.Position = 0;`? You don't seem to be using that buffer for anything.

[2020-04-01 21:45] Tratcher commented on #20388
',' is the standard delimiter used between all HTTP header values. '/' is only allowed in complex values like media types, and there it's meaning is quite different from ','.

[2020-04-01 21:46] wtgodbe commented on #20086
This is fixed in 3.1 & master now

[2020-04-01 21:47] IIStevowII opened #20430 "[Blazor] [WASM] SharedArrayBuffer is not defined"
After upgrading packages to the latest preview version I got the following error when trying to run the application in Firefox:

ReferenceError: SharedArrayBuffer is not defined        dotnet.3.2.0-preview4.20181.1.js:1:123642

Tried removing cache, local files etc. but that didn't matter.
When opening the application in Edge or Chrome it works fine.

I am developing on Windows 10 using Visual Stu

[2020-04-01 21:47] ahwm commented on #20419
Pretty much the same behavior. This the code I ended up with from a number of suggestions I found on sites like stackoverflow. Initially, I just had:

[code]

But I ended up with some unreliable results. What I finally ended up with (the sample you pointed out) was more reliable but still wasn't the winning solution.

[2020-04-01 21:53] Tratcher commented on #20419
I'd expect different errors at least. The error given above is specific to the buffering code.

The main issue to expect when consuming the request body is that the client can disconnect and cause an IOException.

[2020-04-01 21:54] blowdart commented on #20403
Kind of. It's about a reasonable solution to the scenario we're trying to solve, and that scenario and ease of use is based on ReturnURL, and returning the user to the page they requested before having to login. Bumping a user to a fixed page, or indeed returning 403 against pages that don't exist aren't in our scenarios, and thus require work.

For Javascript clients, well, login should probably

[2020-04-01 22:00] Tratcher commented on #20347
Did you fix the CallbackPath so it was a unique value like "/signin-oidc" rather than pointing to the site root "/"? What do the server debug logs say for that request?

[2020-04-01 22:04] Tratcher commented on #14840
Right, AllowCertificate. Also:

[2020-04-01 22:09] jimnkey commented on #20388
Sure, I agree with that's for complex values ... it's just that I don't believe that should be the job of http.sys to distinguish.  From how I read the spec, `Accept-Encoding` should allow similar content as `Accept`, maybe it's the part that says "but restricts the content-codings" part that is confusing me - cause I don't see how that should matter if '/' is there (for http.sys).

[2020-04-01 22:16] Andrzej-W commented on #20405
I think your example is a little to complicated. I have not enough time to analyse it thoroughly but I believe there is no error in Blazor. Here is your markup:
[code]
You have two way data binding in `InputControlDate`, but this value is not updated if incorrect date is entered. On the other hand you have some events which are used to communicate between both components. Each time you enter valid

[2020-04-01 22:20] ahwm commented on #20419
I just set it back to that and ran it again. It worked several times but then failed with this:

[code]

[2020-04-01 22:24] isaacrlevin commented on #20092
@HaoK any update here?

[2020-04-01 22:31] Tratcher commented on #20388
The server is free to enforce validation on any field it's going to use to process the request.

The format for Accept-Encoding is more restrictive than Accept. The updated spec is a bit easier to read. https://tools.ietf.org/html/rfc7231#section-5.3.4

     Accept-Encoding  = #( codings [ weight ] )
     codings          = content-coding / "identity" / "*"
     content-coding   = token
     token

[2020-04-01 22:33] Tratcher commented on #20419
Ah, I see it:
https://github.com/ahwm/aspnet3-closed-stream/blob/4ff9100b7b1d2adfd8043d97efb74efc576fbe79/SnsApiTest/SnsApiTest/Controllers/EmailController.cs#L30

NEVER use `async void`, it doesn't wait for your code to run and it starts cleaning up the request.

[2020-04-01 22:33] jimnkey commented on #20388
I think I understand now... I think you're correct in that it would be difficult to ask for such a patch.
I did read it incorrectly -- it's not 'similar content', it's just 'similar' and like you said only token.
Why are they putting 'application/gzip'? ... sigh.

Thanks for the discussion!

[2020-04-01 22:41] ahwm commented on #20419
Ohhh. I see. The `async` "requirement" was new-ish with .NET Core 3, I think. In the .NET Core 2 version of this it was always just `void`. I'll give that a whirl.

Thanks.

[2020-04-01 22:41] thelgevold commented on #20333
As an experiment I hacked `{forceFloat64:true}` into the distributed  `@microsoft/signalr-protocol-msgpack` and things were looking much better. Seems like it's would a very helpful fix unless it has other side effects that I can't see at the moment.

[2020-04-01 22:42] Tratcher commented on #20225
Can you show that code in context? All of these APIs should be taking `Action<TOptionsType>`, not `GoogleAuthenticationOptions`.

[2020-04-01 22:46] jimnkey commented on #20388
That updated spec confused me, too... because both should allow token delimiter token, and I thought '/' is a delimiter.  I guess i'm just going in circles.  It is what it is.  And I don't think I would be able to convince to get http.sys patched.
Thanks again.

[2020-04-01 22:48] dbrennan commented on #18987
Is the only workaround to restart at this point?

[2020-04-01 23:01] BrennanConroy commented on #20282
I'm seeing 100's of messages per second, and if you include the fact that they're batched in groups of 100 normally, that's really 10's of thousands of messages per second.

Is that the expected traffic for your app?

I wasn't able to repro a large delay, the highest I saw was ~450ms. Maybe it's because I wasn't closing the second connection improperly.

[2020-04-01 23:22] #4715 closed

[2020-04-01 23:34] ryanbrandenburg commented on #20397
Secret option number 3 might be to just add this new CS-code that we've verified to the list of allowable codes on that Translator. That way this scenario works as expected but we also aren't allowing untested CodeActions through.

[2020-04-01 23:52] JordanMunroe commented on #11584
@DamianEdwards Thanks for this workaround! Upgrading my dotnet core from 2.x to 3.x broke all the dates and this fixed everything.

[2020-04-01 23:52] mihaimyh opened #20436 "[Blazor Wasm] Use of roles or policies for authorization"
I am trying to figure out how to secure pages in Blazor Wasm using roles or policies but I am not sure what I am missing.

What I have done is to add in `Startup.cs` of the server project the following code to map claims and roles from database:

[code]

    public class ProfileService : IProfileService
    {
        protected UserManager<ApplicationUser> _userManager;
        private readonly IUs

[2020-04-02 01:12] barahonajm commented on #20360
I tried to reproduce this with both latest preview and 3.1 but I was unable to, unless Blazor team has already reproduce it, could you please provide more details? A minimal project would be great

[2020-04-02 02:50] JvanderStad commented on #20405
The sample is a distillation from a much larger project with even more complexity involving generics and inheritance. I'll try to make it as simple as I can, but with the problem intact. I have added logging and I refactored and cleaned it a little bit more.
repo https://github.com/JvanderStad/blazor-rerender-bug

# Concepts
There are 3 working components in this sample
- `Date`; a input=text, bou

[2020-04-02 03:41] SweetJV commented on #20198
@javiercn Thanks for the advice. I'll try to develop a more deferred mentality in dealing with changes.

That said, after a little more exploration I don't think that's the problem here. I think there's a bug here where the DOM becomes corrupt. I added some more debug logging, including adding an override for ShouldRender, and I reverted to the code that calls getElementById. Here's what happens:

[2020-04-02 03:45] thelgevold commented on #20333
I have created a PR here with a proposed solution for exposing the underlying msgpack configuration options: https://github.com/dotnet/aspnetcore/pull/20438

[2020-04-02 03:45] scottsauber opened #20439 "GetFromJsonAsync is ~20% slower than GetJsonAsync in Blazor WASM"
### Describe the bug
Not really a bug per say, but the new `GetFromJsonAsync` method is ~20% slower than the `GetJsonAsync` method in Blazor WASM in my ([admittedly _extremely_ primitive](https://github.com/scottsauber/blazor-json-speed-test/blob/master/BlazorApp9/Client/Pages/FetchData.razor)) perf testing.  I was gonna write up a blog post on the perf improvements after 3.2 Preview 3 dropped, bu

[2020-04-02 04:22] JvanderStad commented on #20405
I have cleaned it a little bit more; commit: https://github.com/JvanderStad/blazor-rerender-bug/tree/09ad3f985a77967d8c62f5df0b9fef0e99b060c9

Less code, same problem.

![image](https://user-images.githubusercontent.com/5426370/78210004-7e6aeb80-74f4-11ea-923b-fe6963754b30.png)

----
**Container.razor** is a `CascadingValue` with `RenderFragment`
[code]
---

**Label.razor** has a `Container` with

[2020-04-02 04:37] BrunoBlanes opened #20440 "[DataMember] and [IgnoreDataMember] not being respected on Blazor WebAssembly"
I saw this issue #15698 about, but since it was old, I wonder what happened to it.
I am using `Blazor WebAssembly 3.2.0-preview3.20168.3` with `System.Text.Json 5.0.0-preview.1.20120.5` and noticed that `[DataMember]` and `[IgnoreDataMember]` aren't being respected. Is there a specific reason for that?
I saw on the old issue that a workaround was to not use the built-in serializer, is it still val

[2020-04-02 05:21] dougbu commented on #4259
dotnet/arcade@d6dd7a000fe9 is now in. Next steps are
1. wait for change to be verified as repos take new Arcade dependencies in their 'master' branch
2. port change to Arcade's 'release/3.x' branch
3. pick up the new Arcade packages in our 'release/3.1' branch
4. take advantage of new Arcade features❕

This may not be 💯% complete in time for 3.1.4 and isn't really part of a 5.0.x release. Moved to

[2020-04-02 05:40] TestO2015 commented on #20347
I followed your advice, however unfortunately it didn't have any impact on this issue.

I've got a new information:
It now works fine when I run it under **IIS Express** from the Visual Studio IDE. When I try to run it through **IIS** which I'm running in In-Process mode from an EXE file it works in the Edge browser and not in the Chrome browser. This was the original problem I was trying to repro

[2020-04-02 06:01] #20359 closed

[2020-04-02 06:03] Stamo-Gochev commented on #20359
@javiercn @danroth27 As the issue is automatically closed, can you provide more details on the updated scenario from https://github.com/dotnet/aspnetcore/issues/20359#issuecomment-607042152. Is this considered as a regression as it used to work in a previous version?

[2020-04-02 07:57] xFirestorm commented on #20360
If blazor team has not already reproduce it i can set up a project and provide more details about firefox version etc.

@javiercn Please let me know if this is needed

[2020-04-02 07:58] fileman commented on #20227
@javiercn repro is simple -> `dotnet new blazorwasm -au IndividualB2C --aad-b2c-instance "{AAD B2C INSTANCE}" --client-id "{CLIENT ID}" --domain "{DOMAIN}" -ssp "{SIGN UP OR SIGN IN POLICY}" --force` with your AzureAD B2C with google provider app settings.

If I run F5 the auth flow return error:
![image](https://user-images.githubusercontent.com/17230763/78223380-105bff80-74c7-11ea-9b8c-3bdfc856a

[2020-04-02 08:47] highfield commented on #4707
For those who are still experiencing the issue, did you read my post? https://github.com/dotnet/aspnetcore/issues/4707#issuecomment-557538742

As today, I had ***NO*** issues since over one year on two different servers.

[2020-04-02 08:50] JeepNL opened #20442 "[Question] Using appsettings.{environment}.json in Program.cs (Blazor WASM gRPC example)"
I'm using Blazor WebAssembly 3.2.0 Preview 3

 - Blazor .gRPC example: https://github.com/grpc/grpc-dotnet/tree/master/examples/Blazor
 - Microsoft Docs page: https://docs.microsoft.com/en-us/aspnet/core/blazor/dependency-injection?view=aspnetcore-3.1#blazor-webassembly

I'm now using `#if DEBUG #else #endif` for the string variable "`backendUrl`". I'd like to load that setting from appsettings.{e

[2020-04-02 09:02] javiercn commented on #20442
@JeepNL thanks for contacting us.

We added support for config in preview3. You should be able to leverage it to configure your services in the latest preview. See https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-3-release-now-available/ for details

[2020-04-02 09:04] javiercn commented on #20436
* Configure Identity to use roles by calling AddRoles
[code]
* Configure identity server to put the role claim into the id token and the access token and prevent the default mapping for roles in the JwtSecurityTokenHandler.
[code]
* On your blazor application use `[Authorize(Roles = "admin")]` or any other role your app defines.
* On your protected resource APIs use `[Authorize(Roles = "admin")]`

[2020-04-02 09:06] javiercn commented on #20427
@Arrowana thanks for contacting us.

We'll look into your issue and get back to you.

[2020-04-02 09:08] JeepNL commented on #20442
@javiercn Thank you for your reply. And yes, I'm using appsettings everywhere else in my Blazor Wasm 3.2.0 Preview 3 app (.Razor pages) . But my question is about "Propgram.cs".

I can load the settings from appsettings in Program.cs, but my problem is that the gRPC service is called before that,

[2020-04-02 09:15] mihaimyh commented on #20436
@javiercn Thanks for guiding, I will try it and revert, can you also, please, let me know, where in Blazor Wasm can I create a policy?

[2020-04-02 09:16] javiercn commented on #20430
@IIStevowII thanks for contacting us.

I'm not sure how you are getting a preview4 version since we haven't released it. Are you manually updating to the nightly builds?

[2020-04-02 09:18] javiercn commented on #20198
@SweetJV we'll take another more in depth look and get back to you.

[2020-04-02 09:20] javiercn commented on #20227
@fileman thanks for providing the details.

It is a bit strange that debugging is causing any issue here, since I imagine the flow goes as Your Site -> AAD B2C Login -> Google login and it's failing on that last leg at which point there was no auth code involved at all.

[2020-04-02 09:43] SweetJV commented on #20198
@javiercn Sounds good, thanks!

[2020-04-02 10:26] tn-5 commented on #20391
I think the capitalised version must have been from some old project template. This is a non-issue, will close.

[2020-04-02 10:26] #20391 closed

[2020-04-02 10:39] javiercn commented on #20358
@xXBuilderBXx unfortunately we don't have specifics about cloudflare or any other third party software like that, the best we can do is to point you to the deployment [docs]( https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/server?view=aspnetcore-3.1).

I believe other people have got it working with cloudflare on the past, so I would check for docs on their side on how to speci

[2020-04-02 10:42] SteveSandersonMS opened #20443 "Adding linker config to an application is unnecessarily inconvenient"
We have docs explaining how to customize the linker config for a Blazor WebAssembly application: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/configure-linker?view=aspnetcore-3.1

The instructions given are useful if you're building a library. However, if you're building an application, there's an unfortunate gotcha: if you specify any nonempty set of `<BlazorLinkerDescripto

[2020-04-02 11:13] tsproesser opened #20444 "FromServicesAttribute not optional"
In constructors I can make arguments optional by settings it's default value to null - this is not working for this attribute.

[2020-04-02 12:42] SteveSandersonMS commented on #19822
Fixed in https://github.com/dotnet/aspnetcore/pull/20410

[2020-04-02 12:42] #19822 closed

[2020-04-02 12:55] gustavnavar opened #20448 "Unhandled exception rendering component: Microsoft.JSInterop.JSException: Cannot read property 'ownerDocument' of null"
I posted a comment in the issue [#19647](https://github.com/dotnet/aspnetcore/issues/19647#issuecomment-606732583), but it's a closed one. So I open a new issue.

I think I have the same issue than @AlexCorona55.

I work with the [GridBlazor](https://github.com/gustavnavar/Grid.Blazor) component. The WA demo project [GridBlazorClientSide.Client](https://github.com/gustavnavar/Grid.Blazor/tree/mast

[2020-04-02 13:00] lostatredrock opened #20449 "Query String overriding Form Values in Posted Form"
### Issue
We are observing an issue with how model binding is handling scenarios where data exists in both the query string and form in an .Net Core 3.1.3 MVC action.

According to the [documentation](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-3.1#sources) model binding should look for data in the following placers in order:

1. Form fields
2. The request

[2020-04-02 13:05] davidikin45 opened #20450 "Catch all route precedence incorrect"
[code]

Always returns 404 even for valid controller action route

[2020-04-02 13:35] nbarbettini commented on #6001
NWebSec is solid, but as @joeaudette said it's under-maintained right now. I would love to see something like @jrestall's approach built-in. NWebSec puts everything into `Configure`, but it would be easier to compose with things like the Options pattern if it were possible to configure in `ConfigureServices` and set up policies like in his example.

[2020-04-02 13:42] IIStevowII commented on #20430
Yeah, should have mentioned that. I'm doing a hobby project and added the nightly feeds in order to get the latest builds.

[2020-04-02 13:42] javiercn commented on #20450
@davidikin45 thanks for contacting us.

I believe that's going on here is that attribute routes have a lower order than conventional routes, hence the order wins over the precedence.

/cc: @rynowak to confirm.

[2020-04-02 13:42] bachratyg commented on #12409
Not sure if this is completed for Kestrel/IIS because I see the proper 413 for both. However it is still present in the HttpSys server. On the client side we show a generic error for 500 like "sorry for your inconvenience, the error has been logged, please try again later" etc, but in this case trying again later would just waste both bandwidth and user/support time.

Ideally the server should ret

[2020-04-02 13:47] javiercn commented on #20368
These are the associated docs

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/additional-claims?view=aspnetcore-3.1

[2020-04-02 13:47] #20368 closed

[2020-04-02 14:16] Tratcher commented on #20347
Do you have IIS set up using HTTPS?

[2020-04-02 14:24] chrisrharris opened #20451 "GetJsonAsync fails to deserialize Guid public field"
### Describe the bug
HttpClientJsonExtensions.GetJsonAsync<t> fails to deserialize public member *fields* of type Guid.  but works for Guid *properties*.

### To Reproduce
Modify weather.json to include a field with Guid string.
[code]
Modify WeatherForcast Model to include Guid field
[code]
Modify Fetch Data to display forecast.Test
[code]

![image](https://user-images.githubusercontent.com/27289

[2020-04-02 14:26] ferguson-eric opened #20452 "Client Secret in AddOidcAuthentication"
### Is your feature request related to a problem? Please describe.
I have a Blazor WASM SPA. It calls an IdP running IdentityServer4 to authenticate interactive users. The SPA can then use the bearer token to call a seperate API.

How do we pass the client secret with the AddOidcAuthentication extension method? The client secret is required for 'authorization_code'.

I can turn off the requirement

[2020-04-02 14:29] sjbthfc2 opened #20454 "Auto-rebuild not working"
In Blazor preview 3, the auto-rebuild feature is not working according to the following:

Auto-rebuild in Visual Studio
Visual Studio 2019 16.6 will watch for file changes in .cs and .razor files across the solution and automatically rebuild and restart the app so that the changes can be seen by simply refreshing the browser. This enables auto-rebuild support for Blazor WebAssembly projects and Ra

[2020-04-02 14:40] #20381 closed

[2020-04-02 14:52] #19784 closed

[2020-04-02 14:57] XxAndres1012xX opened #20453 "Controller in a .dll"
Hi.
I am developing a project in ASP.net Core and I would like to know if I can put the Controller in a dll.

[2020-04-02 14:59] scottaddie commented on #20454
@pranavkm Any ideas on this one?

[2020-04-02 14:59] pranavkm commented on #20451
Dup of https://github.com/dotnet/runtime/issues/876. You can use public properties or author a custom converter: https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to#public-and-non-public-fields

[2020-04-02 14:59] #20451 closed

[2020-04-02 15:10] SteveSandersonMS commented on #19086
Done in https://github.com/dotnet/aspnetcore/pull/20446

[2020-04-02 15:10] #19086 closed

[2020-04-02 15:11] SteveSandersonMS commented on #19086
BTW thanks very much @Regenhardt for the report and repro steps.

The way you wrote up the minimal instructions for recreating the problem, rather than linking to an entire repo, is perfect and the way I wish all bug reports were done. This made it so much easier to understand and fix. Great job!

[2020-04-02 15:14] chrisrharris commented on #20451
I am also noticing this issue with Guid properties when accessing from API instead of a file.  Should I create a new issue?

[2020-04-02 15:23] ColinM9991 commented on #20365
I have just discovered that setting `UseEndpointRouting` of `MvcOptions` to false allows the `ConsumesAttribute` to return an `UnsupportedMediaTypeResult` and as such the API returns a ProblemJSON compliant payload.

I believe it would still be desirable to have this behavior with endpoint routing enabled to ensure that there is a consistent response format that is returned in the event of server

[2020-04-02 15:39] pranavkm commented on #20454
Dup of https://github.com/dotnet/aspnetcore/issues/20220. We'll use the other issue to track work here.

[2020-04-02 15:39] #20454 closed

[2020-04-02 15:43] jaragones commented on #20187
At the moment of the crash, I didn't have any implementation "hubConnection.onClosed", now I added:

[code]

@anurse, you meant this call, right?

[2020-04-02 15:52] javiercn commented on #20453
@XxAndres1012xX thanks for contacting us.

Do you mean putting a controller in a class library and have the app pick it up automatically?

That's supported out of the box.

[2020-04-02 15:54] BrennanConroy commented on #20187
I'd love to know the structure of the app, specifically around threading and what environment it runs in.

Also, we think we know what a fix would look like, but since we don't have any app that repros the issue, would you be willing to test a custom jar for us? Or build the repo yourself with the small change?

[2020-04-02 15:57] javiercn commented on #20452
@ferguson-eric thanks for contacting us.

Blazor webassembly applications are what is called a 'public application' in oAuth/openid terms. You should not use a client secret with it as the app has no way to securely hold on to that secret and you are not improving the security in any means by having it.

The right thing to do here is to actually disable the requirement for the client secret on the

[2020-04-02 15:57] #20452 closed

[2020-04-02 16:03] roysurles opened #20455 "In Blazor Server 3.1, is it possible to move _Host.cshtml?"
### Is your feature request related to a problem? Please describe.
We would like to organize code by Feature / Page.  Is it possible to move "\Pages\\_Host.cshtml" to "\Features\Host\\_Host.cshtml" ?

### Describe the solution you'd like
We would like to move "\Pages\\_Host.cshtml" to "\Features\Host\\_Host.cshtml"

### Additional context
Because we host our Blazor Server apps a sub sites in IIS o

[2020-04-02 16:06] XxAndres1012xX commented on #20453
Yes.

[2020-04-02 16:16] javiercn commented on #20455
@roysurles thanks for contacting us.

It is doable I believe, `_Host.cshtml` is a plain razor page used as the entry point for the server-side blazor app.

@pranavkm can you answer this since you are more familiar with the area.

[2020-04-02 16:18] XxAndres1012xX commented on #20453
I think I already solved my problem, I installed the necessary NuGgets in the dll.
Same thanks for the help.

[2020-04-02 16:19] #19805 closed

[2020-04-02 16:27] sgabler-solytic opened #20457 "Global roles vs context specific roles - is this the right approach?"
I am trying to implement the following with Identity:
- a user must have exactly one "global role"
- a user can additionally have one role per Site (of which there are many)

Example:
User Frank's global role is "Regular User", but he is also the "Site Admin" for Sites with ID 5 and 6

This is somewhat incompatible with the table definitions provided by Identity, so I was thinking of introducing f

[2020-04-02 16:39] mkArtakMSFT commented on #20448
Thanks for contacting us.
We don't look into complete projects as that involves too many moving parts. Can you please provide a minimal repro project for us to investigate?

On a side note, this particular component seems to be doing something weird. We haven't modified the code related to this for quite a while now. We recommend bringing this up with the component owners as a starting point.

[2020-04-02 16:45] mkArtakMSFT commented on #20427
@NTaylorMullen can you please have a look at this? Thanks!

[2020-04-02 16:50] chrisrharris commented on #20451
Correct, the issue I'm noticing is with the debugger.  For some reason it shows Guid as null, even though it has an underlying value.

[2020-04-02 16:57] mkArtakMSFT commented on #20444
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-02 16:59] NTaylorMullen opened #20459 "[TextMate] Razor incorrect syntax when inside <script> tag"
## Issue Description ##
Razor incorrect syntax when inside <script> tag

**This occurs inside the Page.cshtml__virtual.html**

## Steps to Reproduce ##
1. Add <script type="text/javascript"></script> tag to .cshtml file.
2. Add Razor code inside that tag (ex.: printscreen below)

Here is a copy of the original file: [Page.zip](https://github.com/OmniSharp/omnisharp-vscode/files/4421699/Page.zip)

[2020-04-02 17:04] SteveSandersonMS commented on #20455
Yes, in your `Startup.cs`, change the call to `AddRazorPages` to pass a different root directory. Example:

[code]

[2020-04-02 17:16] dougbu commented on #18792
@wtgodbe can this issue now be closed? If not, what work remains?

[2020-04-02 17:18] codeus-de commented on #17926
Same problem here. Also using 3.2.0-preview3.20168.3.

Navigating away from a component that contains a simple input with registered @basoundr

This problem is not fixed :(

[2020-04-02 17:19] TanayParikh commented on #20397
@ryanbrandenburg we'd have to allow either:

`CS0103 "The name 'RenderTree' does not exist in the current context [blazorserver]"`
OR
`CS1002 ; expected [blazorserver]"

in addition to the existing `CS0246 missing namespace` compiler error. In my opinion both `CS0103, CS1002` may be a bit too general and we could end up with code actions in unanticipated situations. This is under the assumption th

[2020-04-02 17:21] rynowak opened #20460 "SignalR Java Tests failed due to network issues"
The SignalR Java tests failed in this build: https://dev.azure.com/dnceng/internal/_build/results?buildId=584577&view=results

It looks like this was due to unreachability of `https://jcenter.bintray.com`. Can we make changes to make this more resiliant?

- Do retries when a build failure occurs?
- Can we pull dependency restore into a separate step and put retries around that?
- Can we build thes