[2020-04-09 05:30] BrannonKing commented on #20654
One other thing to look at here: I can get the client-to-server calls in sub-millisecond times. However, the response from the server takes much longer than that. It shouldn't take that long; it shouldn't be so asymmetrical. (That's what the DIFF output in the attached test project was attempting to measure.)

[2020-04-09 06:00] davidfowl commented on #20654
There’s no issue with buffersegment it’s a linked list node. It’s designed in that strange way for performance reasons. It’s likely there’s an issue with a lack of back pressure being applied on the client side

[2020-04-09 06:01] BrennanConroy commented on #20654
https://github.com/dotnet/aspnetcore/issues/17797

[2020-04-09 06:33] ardacetinkaya commented on #20645
My validation action works fine, all my actions work fine.
The problem is when [Remote] attribute is added to a property of the model, my POST actions does not work in first click of the action button. I have to click second time to post the form.
And this happens when just [Remote] attribute is there else everything works fine as it should be...

[2020-04-09 06:41] ardacetinkaya commented on #20645
And this is the simplest information output when I first click the submit button of my form. My form's submit does not fire in first, just the remote validation post.

[code]

[2020-04-09 06:55] dazinator commented on #20645
I'm guessing still, but maybe something to do with the form edit context starting invalid, on first click the validation attribute has to run to check validity of the form before it can be posted - so it posts to validation endpoint. On second click, form has been validated, so it bypasses another remote validation check, and now posts to the actual form data.

Are you able to share the markup of

[2020-04-09 07:05] ardacetinkaya commented on #20645
It is just a simple form.

[code]

And also my form's main POST action as follows;

[code]

[2020-04-09 07:12] javiercn commented on #20665
@NTaylorMullen thoughts?

[2020-04-09 07:13] javiercn commented on #20663
/cc: @NTaylorMullen

[2020-04-09 07:54] glararan commented on #20648
So I traced it.

Little bit more code about my component
calling
GetCategoryFiltersAsync runs
[code]

Blazor component Dispose
[code]
From this point Visual Studio returns to Method above to condition

However after I return into component OnParametersSetAsync
[code]

I am still missing how my GetCategoryFilterAsync jumps into Dispose or rather how to detect Dispose calling to cancel task inside G

[2020-04-09 08:26] javiercn commented on #20648
@glararan here is an example on how to do this.
https://github.com/javiercn/CancellableWorkBlazor

[2020-04-09 08:28] #20611 closed

[2020-04-09 08:36] glararan commented on #20648
Works like charm! Thank you for example.

[2020-04-09 08:36] #20648 closed

[2020-04-09 09:00] #20570 closed

[2020-04-09 09:43] Deutschi opened #20673 "IViewLocalizer and IHtmlLocalizer not working as expected when used with RazorPage in a RazorClassLibrary"
### Describe the bug
Using a RazorPage and trying to localize values with resource files using IViewLocalizer or IHtmlLocalizer results in an unexpected behaviour based on the scenario:

**Scenario A:** RazorPage in RazorClassLibrary, Resources in RazorClassLibrary
-> IViewLocalizer doesn't work
-> IHtmlLocalizer works

**Scenario B:** RazorPage in RazorClassLibrary, Resources in WebApplication
->

[2020-04-09 10:20] cubed-it opened #20674 "[Blazor] HttpTransportType.LongPolling vs IHttpContextAccessor"
### Describe the bug
I have a simple component like this:
[code]
and now I force
[code]

Then the result is a NullReferenceException for ContextAccessor.HttpContext.

First of all, is this behavior meant to be?

If so, then: How can I access the copied values? https://github.com/aspnet/SignalR/pull/1684 https://github.com/dotnet/aspnetcore/issues/14167

Or: What would be an alternative approach to

[2020-04-09 10:28] javiercn commented on #20674
@cubed-it thanks for contacting us.

This is more of a signalr question than a Blazor question, so I can't really go into the details. What I can tell you is that we actively discourage you from using IHttpContextAccessor in your server-side Blazor applications since it is not reliable.

Depending on what you are trying to do, we recommend passing all the data you need from the request/context dur

[2020-04-09 10:46] vitidev opened #20675 "[QUESTION] Memory Usage"
Memory usage of 'hello world' application. Empty asp.net application with minimal startup and stub controller (Sdk="Microsoft.NET.Sdk.Web)

![Image 2](https://user-images.githubusercontent.com/2243958/78886857-8e8c4900-7a67-11ea-876b-63eeefc50f59.png)

But if we replace csproj with this content

    <Project Sdk="Microsoft.NET.Sdk">
        <PropertyGroup>
          <OutputType>Exe</OutputType>

[2020-04-09 11:12] win32nipuh opened #20676 "Blazor ASP.NET Server: how to listen all IPs?"
I build a Blazor Web app server, run it on machine but it responds on localhost only, i.e. http://localhost:5000 but does not respond when I query it from an exrternal host http://myhostIP:5000

This myhostIP pinged ok. FW is off. In VS2019 in the project settings: App URL: https://localhost:5001;http://localhost:5000

But how to configure Blazor Web server to listen (all) hosts IP addresses using

[2020-04-09 11:22] javiercn commented on #20676
@win32nipuh thanks for contacting us.

You can use `https://+:5001;http//+:5000` in launchSettings.json to make it listen on any host, or alternatively you can do the same thing by putting `"urls": `https://+:5001;http//+:5000` in appsettings.json (this last one I'm not so sure).

If this doesn't work for you, I'll let some other team member with more expertise on this area answer.

[2020-04-09 11:22] mihaimyh commented on #20408
Any news on this?

[2020-04-09 11:24] javiercn commented on #20675
@vitidev thanks for contacting us.

In the first case you are referencing the asp.net core shared framework, while in the second you are referencing probably the bare minimum set of things that make the app work.

[2020-04-09 11:24] javiercn commented on #20675
@halter73 or @Tratcher in case they want to add anything.

[2020-04-09 11:53] vitidev commented on #20675
@javiercn I do not see the difference. everything is available
![изображение](https://user-images.githubusercontent.com/2243958/78891611-92709900-7a70-11ea-9e47-ac25101d38de.png)

also if check  AppDomain.CurrentDomain.GetAssemblies(); - is almost identical (in owin varian +1 additional package "Microsoft.AspNetCore.Server.Kestrel")

[2020-04-09 11:56] Raja-Ashutosh opened #20677 "Analyer issue ."
we are building one new application in aspnetcore3.1.
We are facing .net Analyer . object reference not set the instance of object along with some other warning message.  Which causes the pipeline failed . And i have verified the code where showing the warning.
Anyway for work around we suppress the Analyzer .

 <DisableImplicitAspNetCoreAnalyzers>true</DisableImplicitAspNetCoreAnalyzers>
    <Cod

[2020-04-09 12:23] javiercn commented on #20677
@Raja-Ashutosh Thanks for contacting us.

can you share the stack trace of the analyzer in question? Is this an asp.net core specific analyzer?

[2020-04-09 12:37] javiercn commented on #20656
## Calling protected resources from Blazor applications
04/09/2020

We want to provide an easy way to make authenticated calls to protected resources from Blazor webassembly applications. We have a couple of scenarios for this in mind:
* Call a single "default" protected resource for the application: This is the main scenario and accounts for 80% of the scenarios.
* Call one or more "additional" p

[2020-04-09 12:38] win32nipuh commented on #20676
I use as you wrote (https://+:5001;http//+:5000 in launchSettings.json) it but when I run the VS with  the server it writes me:  "Invalid URI: the hostname could not be parsed".

[2020-04-09 12:56] Blackleones commented on #17442
I've noticed that if I change `services.AddScoped<AuthenticationStateProvider, RevalidatingIdentityAuthenticationStateProvider<IdentityUser>>();` to `services.AddSingleton<AuthenticationStateProvider, RevalidatingIdentityAuthenticationStateProvider<IdentityUser>>();` then it works, but I don't think this is a good solution. Are there other solutions?

[2020-04-09 13:28] Raja-Ashutosh commented on #20677
1>------ Build started: Project: Web, Configuration: Debug Any CPU ------
1>Features\Components\ProductStacks\ProductStacks.cs(14,7,14,29): warning CS0105: The using directive for 'System.Threading.Tasks' appeared previously in this namespace
1>CSC : warning AD0001: Analyzer 'Microsoft.AspNetCore.Mvc.Analyzers.TopLevelParameterNameAnalyzer' threw an exception of type 'System.NullReferenceException

[2020-04-09 13:30] Raja-Ashutosh commented on #20677
1>------ Build started: Project: Web, Configuration: Debug Any CPU ------
1>CSC : warning AD0001: Analyzer 'Microsoft.AspNetCore.Mvc.Analyzers.TopLevelParameterNameAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.
1>Web -> C:\Git\deals\src\Applications\Web\bin\Debug\netcoreapp3.1\Dell.Deals.Web.dll
1>Web -> C:

[2020-04-09 13:31] BrannonKing commented on #20654
If it was a backpressure issue than calling `GC.Collect` on the client should make the symptoms disappear. Doing so does not correct the leak although it does slow the leak from 20MB/s down to 10MB/s. (It could be that it just slows the entire process down.)

If it was an issue with the number of items in the cache, then the memory profiler data would show that the BufferSegment root was the cache

[2020-04-09 13:45] javiercn commented on #20677
@pranavkm can you take a look?

[2020-04-09 13:48] Oblomoff commented on #19148
@javiercn

That makes me a sad panda :(

Nothing, except we don't know how to do this and the default solution is ugly and hackish.

[2020-04-09 13:50] cubed-it commented on #20674
@javiercn thanks for the quick help. I think this should work. I also just found another answer from you on pretty much the same subject ;)
https://github.com/dotnet/aspnetcore/issues/18183

Maybe the documentation should be extended in this aspect? At least I can't remember seeing a dont use IHttpContextAccessor warning anywhere. :/

[2020-04-09 13:50] #20674 closed

[2020-04-09 14:05] SteveSandersonMS commented on #20408
This is a matter of how your web server is configured, not about Blazor WebAssembly.

As long as your web server returns correct HTTP cache control headers, browsers will know not to re-use cached resources.

For example, if you use the "ASP.NET Core hosted" version of the Blazor WebAssembly template, the server will return `Cache-Control: no-cache` headers which means the browser will always chec

[2020-04-09 14:05] #20408 closed

[2020-04-09 14:08] cubed-it commented on #20674
@javiercn If I use @inject abc inside a razor child component, is it somehow possible to inject/get the cascading parameter from that injected abc class?

[2020-04-09 14:08] blowdart commented on #20650
Same Site changes should not affect this, as your login is contained within the same application (until you add things like facebook auth), so the same site attribute doesn't come into play,.

Is there anything in the browser console window referring to cookies?
What happens if you remove the OnAppendCookie and OnDeleteCookie events from your CookiePolicy?

[2020-04-09 14:27] burakakca commented on #9854
will this problem be addressed?

[2020-04-09 14:30] CXuesong opened #20679 "[5.0.0-preview.3] x86 MSBuild is failing due to x64 targeted Microsoft.NET.Sdk.Razor.Tasks.dll"
### Describe the bug
After upgrading to .NET SDK 5.0.100-preview.4.20202.8, I found my ASP.NET Core application failed to build in VS 2019. I saw error messages like this

Basically it's caused by `System.BadImageFormatException` when loading `Microsoft.NET.Sdk.Razor.Tasks.dll`.

However, the compilation passes if I use `dotnet build` in with .NET CLI.

After checking the following file with corfl

[2020-04-09 14:34] dazinator commented on #11682
Since the change to StaticWebAssets things have moved on slightly, but there is still no easily provided method to get a file provider given a StaticAssetBase path other than copying a bunch of internal files and classes and rolling it yourself - i.e in Development mode look for a project directory vs non development looking relative to WebRoot dir for the published folder and setting up a physica

[2020-04-09 14:34] #11682 closed

[2020-04-09 14:34] kanadaj opened #20680 "Multiple dataprotection providers for migration"
### Is your feature request related to a problem? Please describe.
I'm not sure if this is possible at all since the documentation feels rather scarce when it comes to changes to the data protection stores, but we have 2 different migration issues here with changing Data Protection providers:

1. We want to migrate our existing DataProtection keys from one data store to another, relying on the imp

[2020-04-09 14:35] dazinator commented on #20183
Closing this as it doesn't appear to be moving anywhere constructive.

[2020-04-09 14:35] #20183 closed

[2020-04-09 14:42] davidfowl commented on #20676
That's really up to you. You can read custom configuration and set the appropriate URLs or hard code a URL into the application itself.

[2020-04-09 14:47] davidfowl commented on #20675
It's nothing to do with the shared framework, but everything to do with how the garbage collector is configured by default for Server vs Non-Server projects. When you pick the Web SDK it turns on ServerGC, which will use more memory by default but has much better performance characteristics.

You can read more it here https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/fundamentals

[2020-04-09 14:48] SteveSandersonMS commented on #5456
Thanks for the feedback, @wocar! I know that hot reload is important. It's something we strongly want to add, and are looking into ways it can be brought to .NET 5 in general.

You might already be aware, but just in case not, it is possible to debug in an IDE-independent way by using the browser as the .NET debugger: https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.1#de

[2020-04-09 14:49] davidfowl commented on #20671
QueryHelpers.ParseQuery taks a query string, not a path an a querystring:

[code]

See the doc comment (as small as it is):

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webutilities.queryhelpers.parsequery?view=aspnetcore-3.1

[2020-04-09 14:50] davidfowl commented on #20672
cc @JamesNK

[2020-04-09 14:50] CXuesong commented on #20679
Just installed `Microsoft.NET.Sdk.Razor 5.0.0-preview.3.20170.2` from the [daily build](https://github.com/dotnet/aspnetcore/blob/master/docs/DailyBuilds.md) and the build succeeded in Visual Studio.

I think there might be something wrong with the ASP.NET SDK contained in .NET 5 SDK installer:
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/5.0.100-preview.4.20202.8/dotnet-sdk-5.0.100-preview.

[2020-04-09 14:51] dazinator commented on #19807
@davidfowl
This is a quick summary from my perspective, given everything i've read above:

- Configuration of ring 0 logging needs to be done before the Host starts, so that the host has something to use during initialisation.
- The Host is also able to configure logging (logger factory) to register into ApplicationServices - as it does today - let's call that "Ring 1" logging - to follow the ring

[2020-04-09 15:00] mkArtakMSFT commented on #20679
Thanks for contacting us, @CXuesong.
@ajaybhargavb do you know what have changed here? i don't exclude this being caused by some underlying change in the SDK.
/cc @pranavkm

[2020-04-09 15:00] davidfowl commented on #20654
It wouldn't. My guess is (and I haven't looked closely enough as yet) that the client just has all the memory backed up trying to process messages as fast as it can and the server is overwhelming it. Your code is doing a tight loop on the server side blasting out 4000 integers . The client can't keep up but we're allocating data and accepting more data from the server side and as a result the memo

[2020-04-09 15:02] dazinator commented on #19807
@davidfowl
.. and just a thought on how you might prevent (or validate and throw an early exception) for the duplicate sink issue:

If AddLogging builder was changed so that providers could be registered with a lifetime:

[code]

Then it would become possible to check the ring 1 logger factory instances providers, get all those with a singleton lifetime, and if any of the same providers appear in

[2020-04-09 15:03] Oleg26Dev commented on #20676
Ok, I can read the config, but how to set urls in an app?

[2020-04-09 15:07] #20554 closed

[2020-04-09 15:09] carlin-q-scott opened #20681 "tag-helper should add "pattern" attribute when bound to a RegularExpression property"
### Describe the solution you'd like
When I add a RegularExpression attribute to a model property, I'd like the tag-helper that is bound to that property to have the pattern attribute set to the regular expression.

[2020-04-09 15:15] davidfowl commented on #20676
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/web-host?view=aspnetcore-3.1#override-configuration

- https://andrewlock.net/5-ways-to-set-the-urls-for-an-aspnetcore-app/
- https://josephwoodward.co.uk/2017/02/many-different-ways-specifying-host-port-asp-net-core

[2020-04-09 15:18] davidfowl commented on #20183
As a library author, how would you want to be notified of breaking changes?

Nope. It's mostly because we don't change *any* APIs in patches and we've pretty much stopped shipping minor versions (this is the only place it could happen). We now have yearly release cycles.

I think it's a reasonable fear to have as a package author but unlike .NET Framework we're going to break and change things thi

[2020-04-09 15:28] davidfowl commented on #20462
We need to measure before we remove.

[2020-04-09 15:41] BrannonKing commented on #20654
Thanks for the response; now we're making some progress! I like this theory that the client can't keep up.

My real server load is 200 of those large messages per second. The company has given me a goal to get it up to 1000. That gives me an opening for ~1ms of sleep. Amazingly enough, adding the 1ms of sleep after the SendAsync on the server allows this test client to keep up.

To reach my goal o

[2020-04-09 16:17] pranavkm commented on #20677
@Raja-Ashutosh can you share your project file? This could very well be a dup of https://github.com/dotnet/aspnetcore/issues/14723 which appears when you reference 2.x MVC in a 3.1 application.

[2020-04-09 16:24] dazinator opened #20683 "Blazor 3.2 preview 3 - debugging connectivity issue+"
## Describe the bug
Upgraded my blazor host project from preview 2 to preview 3, and have configured it for web assembly debugging following this:

https://docs.microsoft.com/en-gb/aspnet/core/blazor/debug?tabs=visual-studio-code&view=aspnetcore-3.1#vscode

Howeber upon starting my project I see this error repeat over and over:

[code]

I don't see this error in a simple sample application created

[2020-04-09 16:26] TanayParikh opened #20684 "TryResolveDocument Fails When File Temporarily Relocated to MISC Project"
Document Resolution Process:
1. When trying to resolve document using `DefaultDocumentResolver.TryResolveDocument`.
2. And it's possible to match the document with a potential project.
3. But the document file path isn't contained in the potential project file paths

Current Behavior:
4. An error is returned

Expected Behavior:
4. The MISC project's file paths must be checked to see if the documen

[2020-04-09 16:26] NTaylorMullen commented on #20665
@KirillOsenkov embedding might not be something we're willing to do because that'd impact all of our other ship mechanisms (we bundle the same Razor core binaries into VS4Mac). As for generating the mpack filename under a different pattern. We could probably do that. If we could just do 2 would that be sufficient?

[2020-04-09 16:32] nlz242 commented on #20427
Same here.
Stuck on "about:blank" spinning. If i look at VS Code's call stack window, i can see ".NET Core Debug Blazor Web Assembly in Chrome" with "blank" under it.
After a while (i'm guessing debug timeout), the page does load but the call stack in vs code still says "blank" and breakpoint are obviously not being hit.

I also tried with an hosted app created using this : dotnet new blazorwasm -

[2020-04-09 16:35] mkArtakMSFT commented on #20683
Unfortunately, it looks like you have indeed missed some step/configuration during the migration.
We can't debug your application, but try to check the package versions your project is referencing.

[2020-04-09 16:35] mkArtakMSFT commented on #20666
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-04-09 16:37] mkArtakMSFT commented on #20482
This issue was moved to mono/mono#19497

[2020-04-09 16:37] #20482 closed

[2020-04-09 16:39] mkArtakMSFT commented on #20664
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-04-09 16:40] mkArtakMSFT commented on #20681
Thanks for contacting us. This is not something we plan to bake into the framework.
You can instead create a new tag helper with such functionality.

[2020-04-09 16:40] #20681 closed

[2020-04-09 16:40] dazinator commented on #20183
A major version bump of the nuget package version that contains the breaking change, with some link to release notes documenting the breaking change/s. In a risk-averse scenario I'd then scope my dependencies to a particular major version range that I know is currently compatible, and this would prevent downstream consumers updating their application dependencies to a newer potentially incompatibl

[2020-04-09 16:45] mkArtakMSFT commented on #20662
@pranavkm can you please look into this? Thanks!

[2020-04-09 16:49] mkArtakMSFT commented on #20672
Thanks for contacting us, @weichch.
We will look into this soon and get back to you with our findings.

[2020-04-09 16:58] bachratyg commented on #20614
Please don't forget HttpSys! It still throws plain IOExceptions where the other two already throw their own BadHttpRequest.

[2020-04-09 16:59] pranavkm commented on #20679
I'll take over this issue.

[2020-04-09 17:01] dazinator commented on #20683
Hmm nope can't see an issue with that:

Directory.Build.props:

[code]

And in my server csproj:

[code]

And

[code]

I've checked the working example, and indeed in the Debug\netcoreapp3.1\ output folder after building the project is the folder: "BlazorDebugProxy" containing the "Microsoft.AspNetCore.Components.WebAssembly.DebugProxy.dll'"

In my non-working project that folder is no where to be

[2020-04-09 17:07] dazinator commented on #20683
Oh wow...

So VS builds the solution fine:

![image](https://user-images.githubusercontent.com/3176632/78921377-b7730500-7a8c-11ea-8088-8cf3f78f92d8.png)

but if I drop to the command line and do a `dotnet build`:

![image](https://user-images.githubusercontent.com/3176632/78921551-facd7380-7a8c-11ea-814b-75c1bf0f15ac.png)

[2020-04-09 17:11] blowdart commented on #20670
This is more than security, its also the same site cookie changes google made to the standard.

Please see https://aka.ms/samesitecore

[2020-04-09 17:12] dazinator commented on #20683
- looks like the true bug is that even though I made a mistake here - check out the curly braces instead of parenthesis..

[code]

VS still built absolutely fine, yet dotnet build reported a build error. I typically build in VS so wasn't aware of the problem and spent the best part of an hour chasing red-herrings.

[2020-04-09 17:14] wtgodbe opened #20687 "Mysterious type/namespace errors in release/3.1"
Errors like the following started popping up in release/3.1 on April 6:

The last green build was on https://github.com/dotnet/aspnetcore/commit/50190886942becbbd0cc7ea60426bfd102a3a2f1

The first red build was on https://github.com/dotnet/aspnetcore/commit/31203f0a99aaa99458dab83327f35b8f47e7fee2

As the failures started on a no-op merge PR, this is very confusing. It may be related to a recent u

[2020-04-09 17:15] wtgodbe commented on #20687
Full error messages:

FormPipeReader.cs(42,31): error CS0246: The type or namespace name 'PipeReader' could not be found (are you missing a using directive or an assembly reference?) [F:\workspace\_work\1\s\src\Http\WebUtilities\src\Microsoft.AspNetCore.WebUtilities.csproj]
FormPipeReader.cs(47,31): error CS0246: The type or namespace name 'PipeReader' could not be found (are you missing a using d

[2020-04-09 17:19] KamranShahid commented on #20566
My application is using log4net logging separately. My application is running as sytem service in linux .We have set logging as
"Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "None",
      "System": "None",
      "Microsoft": "None"
    }
  },
to avoid logging there. But looks like needed to set it on to see what happened there.
Checking log in system service is bit he

[2020-04-09 17:19] TecumStricto commented on #17516
Even after VS 2019 update to latest one16.5.3, error is still there.

![image](https://user-images.githubusercontent.com/43401050/78922328-a3340580-7a96-11ea-9f75-fdfdbccaa9fa.png)
IIS Express is version, 10.0.18362.1, 17.01.2020 16:02

[2020-04-09 17:21] Tratcher opened #20688 "Have HttpSys throw BadHttpRequestException when request body limit is hit"
### Describe the bug
Today HttpSys throws an IOException from request body read/async operations when the request body size limit is reached.

https://github.com/dotnet/aspnetcore/blob/43c2c9ea97dfacce87f6bd578c1863ee0bf677c4/src/Servers/HttpSys/test/FunctionalTests/RequestBodyLimitTests.cs#L157-L163

In 5.0 a new unified BadHttpRequestException : IOException was introduced for scenarios like this

[2020-04-09 17:22] Tratcher commented on #20614
@bachratyg indeed, now that we have a unified type HttpSys can take advantage of it. Filed https://github.com/dotnet/aspnetcore/issues/20688. Not sure when we'll get to it though.

[2020-04-09 17:23] wtgodbe commented on #20687
Oh, wait a minute - the `pipelines` issue makes it seem like it's related to that ref pack issue in 3.1.2. Maybe 16.5.1 uses the 3.1.2 runtime, and we got bit by our own bug 😆. Will investigate.

[2020-04-09 17:27] NTaylorMullen commented on #20427
@Arrowana / @nlz242 how are you running the VSCode bits? Aka, which launch configurations are you invoking and in what order?

@danroth27 the debugging instructions on the get started page for Blazor WASM VSCode aren't great. Could we get those updated?

[2020-04-09 17:28] Raja-Ashutosh commented on #20677
I am going through  the issue link you shared with me.looks like our infrastructure project still in 2.2 and the new project is 3.1. This might be the rca

[2020-04-09 17:35] webczat opened #20689 "GCM encryption not available on linux when using DataProtection"
It seems that DataProtection does not support gcm on linux, I get System.PlatformNotSupportedException stating that gcm is windows only.
That happens both in aspnetcore 3.1, and according to my code reading, also in current master.
I discovered that the AuthenticatedEncryptorFactory checks if the os is windows in the gcm case and throws, but https://github.com/dotnet/runtime/blob/master/docs/desig

[2020-04-09 17:51] GrabYourPitchforks commented on #20689
For context, there didn't exist managed GCM classes when this code was first written. So the DataProtection implementation necessarily had to p/invoke into Windows to perform the operation. Looks like the DataProtection layer never got the OS check removed once the managed classes came online.

[2020-04-09 17:53] pranavkm opened #20690 "Re-enable SDL validation once timeout and failure issues are resolved"
* https://github.com/dotnet/arcade/issues/5219
* https://github.com/dotnet/arcade/issues/5220

[2020-04-09 17:56] NTaylorMullen commented on #20427
@connor4312 do you have any idea why opening chrome dev tools would then allow the Debug Enabled chrome instance to load? Is there something @Arrowana can do to capture more log information to diagnose further?

[2020-04-09 17:56] GrabYourPitchforks commented on #20680
You shouldn't need to go to the trouble of creating new managers or repositorites. A strawman way of implementing this:

 1. Create an `IDataProtectionProvider` which corresponds to the "old" setup. Configure it such that the key store is in read-only mode.
 2. Create an `IDataProtectionProvider` which corresponds to the "new" setup. Configure it for auto-rotation of keys.
 3. Create a wrapper `ID

[2020-04-09 17:57] urza commented on #20542
The project started working without any code or config change. I didn't even restarted my computer. I was just working on another project and today I opened this one and it builds without any errors. I don't know how to explain this.

[2020-04-09 17:58] pranavkm commented on #20542
@urza perhaps cached artifacts in VS or cached restore artifacts. If things are working fine, I'll go ahead and mark this issue as resolved.

[2020-04-09 18:00] pranavkm commented on #20677
Upgrading the project would be the way to go. If you unable to upgrade it, skipping the analyzer would be appropriate. We'll use the linked issue to track resolving this.

[2020-04-09 18:06] #20684 closed

[2020-04-09 18:06] dumaisf commented on #20650
There is nothing at all in the browser console window.
Nothing in the VS Output Debug window also.
When I remove the OnAppendCookie and OnDeleteCookie events from the CookiePolicyOptions:
[code]
The login still does not work.

[2020-04-09 18:07] davidfowl commented on #20654
Client are using one "thread of execution" but it isn't single threaded. On handlers are processed sequentially. You can think of it like a queue of operations that fire one after the other. This it to prevent unintentional overlapping, you can obviously opt into that behavior yourself by using Task.Run within your handler.

I'd rather not add that level of control, you never had it in the old Sig

[2020-04-09 18:23] danroth27 commented on #9854
Hi @burakakca. Currently this issue is on our backlog with no committed time frame to address it. So I wouldn't expect it to be addressed any time soon. In the meantime you can use the various workaround described in the earlier comments.

[2020-04-09 18:26] dumaisf commented on #20650
After researching, this code is causing the problem:
[code]

[2020-04-09 18:41] kanadaj commented on #20680
`IDataProtectionProvider` isn't responsible for storing and retrieving the key data though, and overriding only `IDataProtector` isn't sufficient for this either. It's probably `IKeyManager` that could do it, and even then it doesn't seem clean for something that shouldn't be that rare when an app is moved for example from Redis to Azure KeyVault, or if the ApplicationName has to be changed to sha

[2020-04-09 18:42] connor4312 commented on #20427
Yep: setting `trace: true` in the launch.json will cause the extension to capture verbose logs. The file location will be printed to the debug console, sharing that should shed some light.

[2020-04-09 18:57] tncbbthositg commented on #20028
I don't have much to add, but, I'm currently having good luck with [Richard Szalay's MockHttp](https://www.nuget.org/packages/RichardSzalay.MockHttp/).

I have a convenience extension method:
[code]

I can use it in my tests like this (pseudocode) with [Bunit](https://www.nuget.org/packages/bunit/1.0.0-beta-6):

[code]

[2020-04-09 18:59] webczat commented on #20689
I believe the gcm is openssl... although not sure what the DataProtection will use.

[2020-04-09 19:00] JasOcher commented on #19443
Updating VS fixed this error, but the Blazor Server project is now throwing a 500.0 Module "AspNetCoreModule" could not be found error.

[2020-04-09 19:09] anurse commented on #17516
Yep, we haven't made a fix yet, so that would make sense :). Your exception settings also seem to be configured to break when this exception is thrown. I have the same suggestion for you as I described above. You should check the box in the Exception Thrown popup that says "Except when thrown from Microsoft.AspNetCore.Server.IIS". When we make a fix, you won't need that, but it's relatively safe t

[2020-04-09 19:10] orkunweb commented on #20542
Started compile mine today. I think it can't be a coincidence.

[2020-04-09 19:37] NTaylorMullen commented on #20651
Talked offline. The gist is that LiveShare diffs host/guest buffers and synchronizes them to allow the host/guest to simultaneously edit the same doc. Now in our language server client code we have special handling of OnTypeFormatting where we return 0 text edits and Apply our own and then move the cursor. The issue is that the "move the cursor" part only moves the hosts cursor so the guests is le

[2020-04-09 19:52] wtgodbe commented on #20687
Ok, here's what I think is happening: The build machines just updated to VS 16.5.1, which contains SDK 3.1.200, which contains runtime 3.1.2, which has this bug: https://github.com/dotnet/aspnetcore/issues/19133. That would explain why building a project locally doesn't fail the build, but building a solution does - our global.json lists the `3.1.103` SDK, which doesn't have the bug - but when bui

[2020-04-09 19:57] Pilchie commented on #20687
Can we look at a binlog and see what's happening to the `PackageReference`?  It's clearly not making it through into the set of references passed to csc, so something is presumably knocking it out of the dependency graph.

[2020-04-09 19:59] scottaddie opened #20696 "SignalR JS client library: unpkg bare URL resolves to CommonJS file"
Navigating to the unpkg bare URL (one without a file name) *https://unpkg.com/@microsoft/signalr* in your browser causes a redirect to *https://unpkg.com/@microsoft/signalr@3.1.3/dist/cjs/index.js*. Similarly, navigating to the unpkg bare URL *https://unpkg.com/@microsoft/signalr@next* redirects to *https://unpkg.com/@microsoft/signalr@5.0.0-preview.2.20167.3/dist/cjs/index.js*. A JavaScript file

[2020-04-09 20:05] wtgodbe commented on #20687
I'm grabbing one from a build now. Sadly I haven't been able to repro locally since I can't install a specific version of VS, and the latest 16.5 already has an SDK with the bug patched

[2020-04-09 20:09] Tratcher commented on #20670
Note: 2.2 is out of support, please update to 3.1.

The best tool to diagnose issues like this is Fiddler. Please capture and share a decrypted trace.

[2020-04-09 20:15] Tratcher commented on #20670
These should be placed before UseCookiePolicy.
[code]

[2020-04-09 20:18] otaskiran opened #20700 "Blazor WebAssembly Hosted Template Can not authorize Authenticated User on Azure LinuxAppService"
Blazor WebAssembly Hosted Template Can not authorize Authenticated User on Azure LinuxAppService

I am using latest Blazor WebAssembly Hosted with Individual Authentication template. (Preview 3)
This template and server api authorization works on developer machine and Azure Windows AppService.
But same solution can not authorize user on Azure Linux App Service.
It returns 401 error.

[2020-04-09 20:19] wtgodbe commented on #20687
Good call, the only reference to pipes passed to CSC is `reference:F:\workspace\_work\1\s\.dotnet\packs\Microsoft.NETCore.App.Ref\3.1.0\ref\netcoreapp3.1\System.IO.Pipes.dll`. So we must be resolving that reference to a framework reference. I'll try adding an explicit package ref there, and try to figure out what refs are missing in our other projects.

[2020-04-09 20:21] FWest98 opened #20701 "Unclear behaviour for imperative policy authorization"
Throughout various spots on GitHub and the official documentation, it is semi-clear that the imperative evaluation of an authorization policy (using IAuthorizationService.AuthorizeAsync) does not perform the actual authentication itself, in the [documentation for resource-based AuthZ](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/resourcebased?view=aspnetcore-3.1#security-aut

[2020-04-09 20:22] nvmkpk commented on #18088
This is a must have. Property based injection prevents us from consuming them within the constructor there by preventing us from making some (other) fields read only.

[2020-04-09 20:46] Ogglas opened #20702 "Visual Studio Community 2019 16.5.3 with Blazor App -> Add -> New Item -> Razor Component -> Route or component is not rendered"
### Describe the bug
Creating a new Razor Component via Visual Studio GUI -> Route or component is not rendered

### To Reproduce
Visual Studio Community 2019 16.5.3 -> Blazor App -> Add -> New Item -> Razor Component try to either navigate to the component or render it directly.

I'm following the official Blazor tutorial from Microsoft:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/bui

[2020-04-09 20:47] Tratcher commented on #20650
When using Identity you shouldn't be adding any cookie providers or calling `services.AddAuthentication(CookieAuthenticationDefaults.AuthenticationScheme)`, that's already taken care of for you.

You shouldn't need to set any of those SameSite or SecurePolicy options in this scenario anyways.

[2020-04-09 21:00] #20225 closed

[2020-04-09 21:11] anurse commented on #20701
The [doc on imperative auth](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/resourcebased?view=aspnetcore-3.1#use-imperative-authorization) does show that if you want to do any Authentication actions (Forbid, Challenge, etc.) you need to do that explicitly:

[code]

In general, imperative authorization cannot trigger re-authentication since the two systems are not connected (T

[2020-04-09 21:13] pranavkm commented on #20626
Spoke to @JunTaoLuo offline. We've picked up the pre-reqs as part of https://github.com/dotnet/aspnetcore/pull/20634, waiting for an official build to succeed before this issue can be closed.

[2020-04-09 21:14] mihaimyh commented on #20436
@javiercn I've tried your suggestion by adding in Blazor Client on `Program.cs` the following:

` builder.Services.AddApiAuthorization(opt => opt.UserOptions.RoleClaim = "role");
`

and to create the claim:

        public static AuthorizationPolicy IsAdminPolicy()
        {
            return new AuthorizationPolicyBuilder().RequireAuthenticatedUser()

[2020-04-09 21:19] anurse commented on #19418
@kishorpise No problem, get back to us when you can. If the bot auto-closes this issue, feel free to re-open, or open a new one when you do have a repo!

[2020-04-09 21:19] anurse commented on #19865
Closing as duplicate (see above comment).

[2020-04-09 21:19] #19865 closed

[2020-04-09 21:25] dumaisf commented on #20650
Okay thanks.
Maybe it should not be in this sample code also:
[AspNetSameSiteSamples/AspNetCore31RazorPages/Startup.cs](https://github.com/blowdart/AspNetSameSiteSamples/blob/master/AspNetCore31RazorPages/Startup.cs)

[2020-04-09 21:26] Tratcher commented on #20650
That sample doesn't use Identity. @blowdart is there an Identity specific sample?

[2020-04-09 21:31] Tratcher commented on #20643
You're right, we assume the identity providers are stable resources. You should be able to suppress the failure by hooking into the event JwtBearerOptions.Events.OnAuthenticationFailed and returning NoResult.
https://github.com/dotnet/aspnetcore/blob/200f2c49be19b16e205b6744ae6791d11739fe7f/src/Security/Authentication/test/JwtBearerTests.cs#L602-L612

[2020-04-09 21:32] blowdart commented on #20650
No, because that would muddy an already complicated topic.

[2020-04-09 21:34] BrannonKing commented on #20654
Thank you for the great explanation and examples. I agree with your sentiment that a client should not be able to stall the server (with the out-of-the-box experience).

I do think that it would be useful for the data handlers to know how many messages are queued up somehow. I think that's true for both the server and client. It could be done as optional extra parameters on the client or as a fiel

[2020-04-09 21:34] Pilchie commented on #20626
:eyes:

[2020-04-09 21:34] bachratyg commented on #20614
Sorry, didn't have time in the last post to find and link the original issue: https://github.com/dotnet/aspnetcore/issues/12409

[2020-04-09 21:35] bachratyg commented on #20688
Related: https://github.com/dotnet/aspnetcore/issues/12409
Maybe close it in favor of this?

[2020-04-09 21:36] shirhatti opened #20705 "Improve default Error page in the templates"
Today, the default Error page in the templates includes the Activity.Current.Id in the rendered HTML. However, if the user has changed `Activity.DefaultIdFormat` to `ActivityIdFormat.W3C` it not a great experience.

The new W3C format encodes multiple pieces of information in a single string. The format is `version`-`trace-id`-`span-id`-`traceflags`.

The original intent was the user could copy th

[2020-04-09 21:37] adamasmar opened #20706 "Blazor WASM crashes with certain Azure B2C configuration"
### Describe the bug
Blazor WASM hard crashes when attempting to login using Federated Azure Active Directory account. The application's B2C integration was set up using [this](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/hosted-with-azure-active-directory-b2c?view=aspnetcore-3.1) guide. It seems as if it may be related to issues reported [here](https://github.com/dotne

[2020-04-09 21:42] Tratcher commented on #20614
The form size limits are a bit different. That's validating individual sections of the form rather than the whole body. I could see still wanting a 413 for some of those, but that's a bit more involved break unrelated to the servers.

[2020-04-09 21:43] Tratcher commented on #20688
No, changing the form parser exceptions would be in addition to this.

[2020-04-09 21:46] FWest98 commented on #20701
Thanks for the quick feedback! Indeed, the imperative AuthZ page says that you "the following code samples assume authentication has run and set the User property", however in my case that was the case. Except for the fact that the authentication didn't run with the criteria set in the authorization policy.

So concrete improvements I would suggest:
For the docs: at [Limit identity by scheme / Sel

[2020-04-09 21:46] Tratcher commented on #20650
We should at least clarify that Identity is largely unaffected by SameSite until you try to add advanced scenarios like IFrames or OpenIdConnect integration.

[2020-04-09 21:47] blowdart commented on #20650
That would be a docs issue now; because they took that unofficial repo and integrated it :)

[2020-04-09 21:50] blowdart commented on #20689
Is there a specific reason why you want it, data protection already does both encryption and authentication anyway. Is it just for speed?

[2020-04-09 21:58] webczat commented on #20689
Well, I am just playing with aspnetcore stuff quite randomly, and noticed that this configuration does not work even though it is supported by api and is supported on linux in System.Security.Cryptography. So that comes a bit unexpected. Just came at this by accident.
I am not sure if the aes/gcm isn't considered more secure than aes/cbc+hmac...?

[2020-04-09 22:01] javiercn commented on #20436
@mihaimyh that looks like a completely unrelated problem.

The value being sent to the OidcConfigurationController (in your project template) doesn't match the value in the clients section of appsettings.json. Not sure why that's the reason in your case.

[2020-04-09 22:05] javiercn commented on #20706
@adamasmar thanks for contacting us. This is an issue in the mono debugger proxy. I believe it is fixed already or will be soon.

[2020-04-09 22:07] javiercn commented on #20706
If you run the app without debugging (CTRL+F5) it should work properly.

[2020-04-09 22:13] pwen090 commented on #19217
Just wanted to echo that we had the same issue and this behavior was unexpected. We were implementing unit tests to generically validate that our asp.net core app was giving detailed exception errors in Developer mode and not in Production. We were surprised that SendAsync returned directly the Exception generated by our asp.net core web api and not the 500 error response that you would get if you

[2020-04-09 22:19] BrennanConroy opened #20707 "Consider adding configurable timeout for transport sends"
Currently hardcoded to 10 seconds
https://github.com/dotnet/aspnetcore/blob/200f2c49be19b16e205b6744ae6791d11739fe7f/src/SignalR/common/Http.Connections/src/Internal/HttpConnectionContext.cs#L548

cc @davidfowl

[2020-04-09 22:35] Rick-Anderson opened #20709 "CORS with endpoint routing and RequireCors does not support automatic preflight requests"
This was first reported in #18665
See [Enable Cors with endpoint routing](https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-3.1#enable-cors-with-endpoint-routing) which explains it and has deployed code to reproduce the behavior. Given this is documented you may want to close this issue by design and I'll update the docs to say ***By Design**.

cc @pranavkm  @apacurariu

[2020-04-09 22:35] adamasmar commented on #20706
@javiercn, thanks. I am now able to run the application without a hard crash. However, I am still encountering a null reference exception for what I assume is ``AuthenticationService.RequestAccessToken()``.

[2020-04-09 23:09] wtgodbe commented on #20690
Should do this in 3.1 & master

[2020-04-09 23:30] pranavkm commented on #20690
master -> https://github.com/dotnet/aspnetcore/pull/20691
3.1 -> https://github.com/dotnet/aspnetcore/pull/20711

[2020-04-09 23:34] danroth27 commented on #20700
Hi @otaskiran. Can you show us how your signing key is configured for the app (presumably in *appsettings.json*)?

[2020-04-10 00:30] captainsafia opened #20712 "[Validation] Validate changes to logging API"
Validate changes made to resolve https://github.com/dotnet/aspnetcore/issues/19737.

[2020-04-10 00:31] captainsafia opened #20713 "[Validation] Validate new properties exposed in WebAssemblyHostBuilder"
Validate changes made to resolve https://github.com/dotnet/aspnetcore/issues/19910 and https://github.com/dotnet/aspnetcore/issues/19900.

[2020-04-10 01:24] KirillOsenkov commented on #20665
@NTaylorMullen I suspected the `<DebugType>embedded</DebugType>` won't be easy. I looked at how your build is done in yaml and you do only build once and then ship those same binaries everywhere.

I was hoping there'd be a separate leg that builds the binaries exclusive to Mac (maybe in the future we'll need it anyway if we have to `#ifdef` things out based on the platform). This way the debug typ

[2020-04-10 02:33] mandalorianbob opened #20714 "Blazor WASM Server Hosted with Azure Signal R errors on WSS connection"
I tried to follow the guidelines for switching from a basic SignalR connection for testing to an actual Azure Signal R Service in a Blazor WASM Hosted app using the Preview 3 bits. This app is just a single page where my users put in results, and these results are sent to a SignalR hub. Whenever I start up the app, it immediately tries to connect to a hub, and all of this works in the normal Signa

[2020-04-10 02:38] BrennanConroy commented on #20714
This is a dupe of https://github.com/dotnet/aspnetcore/issues/18697

Auth is needed when connecting to the Azure SignalR Service. The client gets it during negotiate and handles that automatically for you. (Except for this bug where it doesn't). As a "workaround" you can use LongPolling until the issue is fixed.

[2020-04-10 03:09] nlz242 commented on #20427
I'm following the instructions found at https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-3-release-now-available/

So i'm starting .NET Core Launch (Blazor Standalone) first, then once that's running, i'm starting .NET Core Debug Blazor Web Assembly in Chrome

Here's the verbose log i grabbed by adding "trace": true, hopefully it is what you need.
[verbose log.txt](https://gi

[2020-04-10 03:23] davidfowl commented on #20654
@BrennanConroy lets get this fixed as part of .NET 5 and potentially backproted to 3.1 (maybe with a default for the threshold)

[2020-04-10 03:23] #20654 closed

[2020-04-10 03:23] davidfowl commented on #20654
Oops, its being tracked

[2020-04-10 03:37] BrennanConroy commented on #17797
Removing milestone to bring back to triage.

We've had another customer report about this.

[2020-04-10 04:14] connor4312 commented on #20427
The normal process is that we get a target for about:blank, attach to it, and issue a Page.navigate, and then when it loads we're ready to go. We try to do this in the log that nlz sent, but notice that there's never a response to the Page.navigate CDP call. The request/response pair should look like:

![](https://memes.peet.io/img/20-04-dd799e6c-6ffb-4ad4-aed3-e7753b24fc14.png)

Looking at the lo

[2020-04-10 04:29] davidfowl commented on #17797
There’s 2 work items. Set a default. Make it configurable

[2020-04-10 04:32] BrennanConroy commented on #17797
Right, and if we backport, we can only backport the default value

[2020-04-10 04:34] davidfowl commented on #17797
I may take stab at this. We should make sure we have a way to very the memory behavior on our performance lab.

[2020-04-10 05:31] Oleg26Dev commented on #20676
Thank you David

[2020-04-10 05:41] NRKirby commented on #20688
@Tratcher I'd like to have a go at picking this up

[2020-04-10 05:55] NRKirby commented on #20688
@Tratcher I'd like to have a go at picking this up.

Not really contributed on here for a while so I'm just figuring out how to run the tests...

[2020-04-10 06:19] nblumhardt commented on #19807
Following this thread and giving staged initialization in Serilog some thought; https://github.com/nblumhardt/serilog-reload is a proof-of-concept wrapper for Serilog that switches between a synchronization-heavy mutable state and a leaner immutable state once initialization is complete.

Loggers handed out in the initial phase are lazy, caching wrappers that reload a "real" logger if the pipeline

[2020-04-10 06:30] Therzok commented on #20665
Can't we just build twice, on Windows, once with embedded, once with portable?

[2020-04-10 06:38] otaskiran commented on #20700
Hi Daniel,
I am using "Development" type identity server key.
It works on Windows appservice, but it does not work on Linux App Service.
I am not using special key.

`"IdentityServer": {
    "Clients": {
      "BlazorApp5.Client": {
        "Profile": "IdentityServerSPA"
      },
      "Key": {
        "Type": "Development"
      }
    }`

[2020-04-10 06:56] reduckted commented on #5353
Thanks for following up on this! 😁

Looks good. I think that proposal will be good for what I want to do. In MVC, I use middleware to setup services for the lifetime of the request with things like the client's address, the details of the user, the culture to use, and so on. A rough example is this:

[code]

The `IAddressManager` can then be used by any other services during that request to get th

[2020-04-10 06:59] davidfowl commented on #5353
@reduckted Funny, this is what we plan to do with IHttpContextAccessor to make it work properly for SignalR 😄

[2020-04-10 07:10] qkhanhpro commented on #20643
Thanks, @Tratcher It works nicely.
In my case, as I used options.JwtBearerEvents as I have been using AddIdentityServerAuthentication

[2020-04-10 07:48] robertjak opened #20715 "Blazor: Attached properties (behaviors)"
A feature request: Attached properties like in WPF framework - for cross cutting functionality among components (logic reuse). Or something like Knockout bindings or AngularJS attribute directives.

For instance, logic reuse among components in React can be a nightmare, there are some standard workarounds using higher order components, render props etc. but none of them is elegant and maintainable

[2020-04-10 08:00] #18583 closed

[2020-04-10 08:12] Forestbrook opened #20716 "Blazor WASM jsRuntime.InvokeAsync<System.Drawing.Rectangle> not working in RELEASE build"
I have a strange issue.

I created a JavaScript function getElementPosition which returns { Width, Height, X, Y }, all converted to integers.

I call this function with:
var result = await _jsRuntime.InvokeAsync<System.Drawing.Rectangle>("MyFuncts.getElementPosition", elementReference);

In my debug build I get the correct results.
But in the release build I get an empty Rectangle!

Is there any i

[2020-04-10 08:15] atlemagnussen commented on #20603
I also get this error, I'm trying to store the keys for the first time.
`.PersistKeysToAzureBlobStorage(container, "keys.xml")`

I even tried uploading the keys.xml created before turning on this feature

[2020-04-10 09:08] hmheng commented on #17277
seems like issue still persists in 3.1.3 spa extension, even with "echo"

[2020-04-10 09:10] javiercn commented on #20716
@Forestbrook thanks for contacting us.

The linker is likely stripping away those fields since it can't tell they are being used. I would suggest you create a custom descriptor to keep the fields. See [this](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/configure-linker?view=aspnetcore-3.1#control-linking-with-a-configuration-file) for details

[2020-04-10 09:53] pekspro opened #20717 "Is HTML5-validation supported?"
In the documentation  it says for the [input tag helper](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-3.1#the-input-tag-helper):

But if I have an property like this:

    [Required]
    [StringLength(10, MinimumLength = 5)]
    [Display(Name = "Computer name")]
    public string ComputerName { get; set; }

And then uses the input tag like this:

    <i

[2020-04-10 10:10] mkrishna2025 commented on #14174
Only option is to update from 3.0 to 3.1.. it works for me.

[2020-04-10 10:21] levdimov opened #20719 "Generating URLs to an action doesn't use a correct route template"
### Describe the bug
Anything that requires generating a URL (e.g. `@Html.ActionLink` in razor view) to an action of a differrent controller doesn't bind to correct route template if route template contains route values.

Routes are registered via passing `Action<IRouteBuilder>` into `app.UseMvc(...)`

[code]

ProductSettingsController.OptionList renders a razor view which renders an `ActionLink`

[2020-04-10 10:53] levdimov commented on #20719
Made another attempt to find a solution to the problem and came across [another part of documentation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-2.2#differences-from-earlier-versions-of-routing), that states that I should enable 2.1 compatibility.

[2020-04-10 10:53] #20719 closed

[2020-04-10 11:12] chA0s-Chris opened #20720 "JsonStringEnumConverter missing in Blazor WASM release build"
### Describe the bug
When using the `JsonConverterAttribute` with `JsonStringEnumConverter` on an enum property to serialize the enum value to string, everything works fine in **debug builds**. When I switch to **release** for deployment this exception will appear when using `HttpClient.GetJsonAsync<T>`:

[code]

### To Reproduce

Create an enum and a test model like this:

[code]

Use any extensi

[2020-04-10 11:20] javiercn commented on #20720
@chA0s-Chris thanks for contacting us.

This is a known issue and I believe we've fixed it recently. I'm closing this as a dupe of #20446

[2020-04-10 11:20] #20720 closed

[2020-04-10 13:51] NRKirby commented on #20688
Ok I got a failing test now. I can't find where the exception is thrown from - could someone point me in the right direction?

[2020-04-10 14:46] yerroju1984 opened #20721 "XslCompiledTransform in .NET Core does not support the Load(type)"
The XslCompiledTransform in .NET Core  does not support the Load(type) method?

I would assume that the method would throw a PlatformNotSupportedException instead of the FileNotFoundException: Could not load file or assembly 'System.Data.SqlXml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' .

Can this issue will be fixed ?

[2020-04-10 14:50] brockallen opened #20722 "JsonSerializer should round trip AuthenticationProperties"
`JsonSerializer` doesn't seem to seralize/deseralize the `AuthenticationProperties` class properly.

This test:

[code]

Fails with:

[code]

Using ASP.NET Core 3.1.3.

Please advise.

[2020-04-10 15:00] #20675 closed

[2020-04-10 15:27] NVentimiglia commented on #10389
This is my number one blocker for adopting blazor. I need to know that I can keep my application beautiful with intro, outro, update, and list-move transition animations. I really enjoy the solution that Vue.JS came up with. It solves all my perceived use cases in a very non-obtrusive way. The solution is much like Blazor.Animate in that we wrap the html in a <Animate> component.

https://vuejs.or

[2020-04-10 15:34] danroth27 commented on #20700
@otaskiran Is this just for testing purposes then? We can take a look at why the "Development" key isn't working on App Service on Linux, but I just want to make sure you're aware that this setup is not intended for a production environment. For a production environment you need to setup a property signing certificate: https://docs.microsoft.com/aspnet/core/security/authentication/identity-api-aut

[2020-04-10 15:37] otaskiran commented on #20700
Hi @danroth27,
Yes, it is for testing purpose. But it works on Windows app service.
I know, this will not usable on prod environment.
But, I want to sure that identity server should be work on linux app service environment.
I want to see the webassembly works on linuxappservice with identity server.

[2020-04-10 15:42] Tratcher commented on #20688
Should be here:
https://github.com/dotnet/aspnetcore/blob/dd7f7d4e499e3cd9f2cda8a06873fe028803da5c/src/Servers/HttpSys/src/RequestProcessing/RequestStream.cs#L427-L458

[2020-04-10 16:14] pranavkm commented on #20722
The properties do not have [public setters](https://github.com/dotnet/aspnetcore/blob/master/src/Http/Authentication.Abstractions/src/AuthenticationProperties.cs#L51-L57). System.Text.Json currently does not have the ability to update a collection property.

[2020-04-10 16:14] brockallen commented on #20722
For what it's worth, prior to ASP.NET Core 3.1, we used JSON.NET and it worked correctly.

[2020-04-10 16:17] mbrierst commented on #9240
So, overall, SignalR guarantees message ordering unless you are using a backplane, in which case the order is only guaranteed if the backplane guarantees the order, which is true of the officially supported backplanes.  So in practice, ordering is guaranteed and it would be a waste of time to build my own message ordering system.

[2020-04-10 16:20] adamasmar commented on #20706
So I am thoroughly confused. Loaded it this morning and it is working. Did not change anything in the code. The only thing was that the server (my dev computer) was restarted overnight. Looks like someone had a similar mysterious event [here](https://github.com/dotnet/AspNetCore.Docs/issues/17319#issuecomment-599209648). I guess I will keep an eye on this?

[2020-04-10 16:21] pitasoft commented on #12685
Hello everyone, I understand that the use of serialization with System.Text.Json is faster and you want to impose yourself. But there are quite a few things to improve about this library. After several days wasted trying to make a component that can interact with Google Maps using JsRuntime and trying to pass a class with parameters that I need only the parameters that contain data to be serialize

[2020-04-10 16:22] Forestbrook commented on #20716
Thanks @javiercn! Problem solved by adding LinkerConfig.xml with content:

<?xml version="1.0" encoding="utf-8" ?>
<linker>
  <assembly fullname="netstandard">
    <type fullname="System.Drawing.Rectangle" />
  </assembly>
</linker>

[2020-04-10 16:22] #20716 closed

[2020-04-10 16:22] javiercn commented on #20706
it's debug/vs non debug.

WRT to your exception, that is a known issue that was addressed recently, update to the latest preview and try again.

[2020-04-10 16:26] Tratcher commented on #20488
It should be possible to look at a memory dump and figure out what component is listening for file watcher callbacks.

[2020-04-10 16:40] rezalas commented on #17467
I'm having the same problem when deployed to a server but changing the transport type between websockets and long polling both have the same result with an immediate refresh after load and the role disappearing. When testing in debug mode locally it doesn't have this problem and roles appear to work properly, though the refresh does occur. I've only tested with IIS on the server and IIS Express/VS

[2020-04-10 16:41] VladimirKhil commented on #20488
I have a dump. It has some cyrillic letters but they are not really bothering :)

It seems that NLog and JsonConfigurationProvider do have FileSystemWatchers.

![1](https://user-images.githubusercontent.com/12496778/79007060-0db27780-7b63-11ea-8119-9f10a0c45054.PNG)
![2](https://user-images.githubusercontent.com/12496778/79007061-0e4b0e00-7b63-11ea-8a82-d8bf5645405b.PNG)
![3](https://user-images.g

[2020-04-10 16:58] rynowak commented on #20488
In case anyone was wondering btw, the `IFileProvider` implementation watches *everything* within its scope even if you're just interesting a single file or two (`appsettings.json`).

The implementation kinda assumes that you are using globs or will use globs, which is why it watches everything rather than just the files you asked for.

On linux this sometimes results in exhausting the handles avai

[2020-04-10 17:18] VladimirKhil commented on #20488
I had such activity earlier. Yes, there was a great count of files creation and deletion. Now I move that logic outside of `wwwroot` folder. I dont see high CPU activity now. I just only don't know why dotnet-trace catch FileSystemWatcher operations so often.

[2020-04-10 17:22] javiercn opened #20726 "[Blazor][Wasm] Consider making AuthorizationMessageHandler thread safe"
**Edit made by @captainsafia**

This issue is a result of PR feedback in the PR below. Per Steve's comment (below):

This will need to be addressed if we support multiple threads in the WASM scenario.

[2020-04-10 17:26] SteveSandersonMS commented on #20726
For reference: https://github.com/dotnet/aspnetcore/pull/20682#discussion_r406839705

[2020-04-10 17:31] vsfeedback opened #20727 "Blazor WebAssembly 3.2.0-preview3.20168.3, code behind does not work when @page directive has a parameter"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/984782/blazor-webassembly-320-preview3201683-code-behind.html)._

---
I am migrating code that works in Blazor Server App on Visual Studio 16.5.2.

The project has 7 Components with code behind classes all but one works,.

Document.razor component:-
@page "/documents/{key}"

[2020-04-10 17:31] mkArtakMSFT commented on #20727
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-04-10 17:39] vsfeedback opened #20729 "Unable to Debug Blazor WebAssembly 3.2.0 Preview 3 App"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/983111/unable-to-debug-blazor-webassembly-320-preview-3-a.html)._

---
The Visual Studio Debugger does not appear to work. I have no problem running apps just not able to debug in VS.
I have created a project using the template, pressed F5, set a breakpoint on the Increment

[2020-04-10 17:40] mkArtakMSFT commented on #20729
Thanks for contacting us.
Can you share some more details about your environment? This is not a feedback we've heard from others so would like to understand what's going wrong.

[2020-04-10 17:40] vsfeedback opened #20730 "Cannot Access Database When ConnectionString is Retrieved from secrets.json"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/983096/cannot-access-database-when-connectionstring-is-re.html)._

---
<p>I am writing an ASP.NET Core 3.1 application using Entity Framework for database access.  I moved the connection string from appsettings.json to secrets.json via the Secret Manager.  I can retrieve ot

[2020-04-10 17:41] mkArtakMSFT commented on #20730
Thanks for contacting us.
@anurse can you please look into this? Thanks!

[2020-04-10 17:53] vsfeedback opened #20731 "Blazor using high CPU running background tasks that never finish"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/976276/blazor-using-high-cpu-running-background-task-that.html)._

---
<p>in a blazor server project I am working on I was finding there were some .razor code files that made the CPU run high and slowed down my computer signifiantly.<br>
when i close the particular code fil

[2020-04-10 17:59] vsfeedback opened #20732 "rename enum ignores cshtml files"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/475042/rename-enum-ignores-cshtml-files.html)._

---
I have:

A cs class with an enum.
CS code that references that enum
CSHTML code that references the enum.

If I rename a member of the enum, the rename refactoring tool happily updates all occurrences of it in the CS file

[2020-04-10 18:00] mkArtakMSFT commented on #20732
@NTaylorMullen putting this on your radar!

[2020-04-10 18:00] rynowak opened #20733 "Using FileWatcher on non-windows has a very large impact on startup time"
Related to #20488

I did some investigation about some startup cost of the filewatching we set up by default. What I found may shock you. In the case that I'm measuring on macOS - the impact of first call to `IFileProvider.Watch()` is 100ms in wall clock time.

## Background

Some background...

One of the features of `IFileProvider` is that it implements globbing in a non-OS-native way. So `IFile

[2020-04-10 18:04] NTaylorMullen commented on #20663
Temporary fix for this is in. Waiting for a Roslyn build to get the "proper" fix for this.

[2020-04-10 18:14] dgroh commented on #15105
This also seem to be an issue with `SignalR` client applications connection to remote servers with SSL certificates.

I have a WPF client with which subscribes to a SignalR endpoint (.net core api) and when I try to connect I get the following error:

 ---> System.Security.Authentication.AuthenticationException: The remote certificate is invalid according to the validation procedure.
   at System.

[2020-04-10 18:32] lxman opened #20734 "Attempting to change UserName and Password results in invalid credentials - can change either but not both"
### Describe the bug
I am working on a new blazor server application using Identity. If I change either UserName or Password this works as I expect. But when I try to change BOTH, it results in invalid login attempts.

### To Reproduce
See Github repo here: https://github.com/lxman/BlazorPasswordReset

Reference in particular ```ResetPassword.razor```. If I register my user, then proceed to this p

[2020-04-10 18:49] NTaylorMullen commented on #20732
This has definitely been a pain point of Razor development for a while. Thankfully we'll be addressing this in the .NET 5 wave as part of LSPification!

[2020-04-10 18:49] captainsafia commented on #20231
Closing this as it was resolved in #20647.

We'll be making changes to the Blazor WASM template to read from the new configuration property in the startup logic. This is tracked in #20646

[2020-04-10 18:49] #20231 closed

[2020-04-10 19:08] adamasmar commented on #20706
@javiercn, just clarify -- the latest Blazor Preview or the latest Visual Studio preview?

[2020-04-10 19:23] javiercn commented on #20706
Latest blazor preview, but I'm not sure if it made it into preview3.

[2020-04-10 20:00] #20542 closed

[2020-04-10 20:26] NTaylorMullen commented on #20632
This completed?

[2020-04-10 20:57] TanayParikh commented on #20158
Added in support for multiple hover handlers in VS.

Now blocked on dotnet/roslyn accepting the `textDocument/hover` request: https://github.com/dotnet/roslyn/issues/43274 (Thanks @ajaybhargavb!)

[2020-04-10 20:59] TanayParikh commented on #20158
Updated to medium to account for the background work required to investigate and add in VS hover support + dotnet/roslyn acceptance of the `textDocument/hover` request.

[2020-04-10 21:25] bancroftway opened #20738 "Workaround for debugging issue with Blazor Webassembly 3.2.0 preview 3 PWA"
I understand that Visual Studio debugging is not yet supported for blazor webassembly applications that have a service worker. However, I unregistered my service worker from the browser, cleared cache, and in Client's index.html, commented out the code that registers the service worker, as well as the manifest. However, I still cannot get debugging to work.

``

On the other hand, I created a new

[2020-04-10 22:00] #20503 closed

[2020-04-10 22:05] 3GDXC opened #20740 "VisualStudio - RazorComponents - IntelliSense"
### Describe the bug
VisualStudio Preview version 16.6.0 Preview 2.1 opening a new RazorComponent sits waiting with 'Waiting for IntelliSence to finish initializing...'
prompt
### To Reproduce
### Further technical details

[2020-04-10 22:13] clintnetwork commented on #20671
Oh yeah my bad, however maybe it could be great to parse the complete URI if it's passed?

[2020-04-10 22:30] davidfowl commented on #20671
That would be a different API,  you can use URI to parse the url then get the query part and pass it in here

[2020-04-10 22:54] doug62 commented on #8241
+1 - Without knowing where a click occurs within an element - why bother with ClientX/Y - ScreenX/Y?  Locations are worthless at this point.  And ElementReference should have a clientrect so we can take it from there.

[2020-04-10 23:12] claudiogodoy99 commented on #20671
you can use [FromQuery] in your endpoint controller, like this:
[code]

https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-3.1

[2020-04-10 23:27] sismino commented on #17277
hi,
waiting for fix, this works under win os;
edit package.json like this:

"start": "@echo open your browser on http://localhost:4200 & ng serve & rem",

[2020-04-10 23:29] DamianEdwards commented on #10450
Another use case to document that the lack of this feature is impacting right now is web analytics solutions. Today, in systems like Application Insights, page views are tracked via the JavaScript SDK which can be configured to auto-track route changes and report those as page views (no problem there). The issue is the document title is used as the page view name, so looking at page views in your

[2020-04-10 23:33] VBAndCs commented on #20633
I told the whole Vazor story here: https://github.com/VBAndCs/Vazor/blob/master/A-Vazor-story.md
And here is a short version in an article in Visual Studio Magazine:
https://visualstudiomagazine.com/articles/2020/04/10/vbnet-aspnetcore.aspx

[2020-04-11 00:27] classifieds-dev commented on #9522
I originally built my project using MassTransit which provides a backplane for broadcasting events distributed across multiples servers/nodes.

https://masstransit-project.com/advanced/signalr/

I began migrating to api gateway using the web socket integration with little luck. From what I'm reading in this thread it seems to me a better option would be to use the standard http api gateway alongsi

[2020-04-11 01:24] pr-benchmarks[bot] opened #20744 "Performance regression: GrpcUnary-GrpcNetClient"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| GrpcUnary-GrpcNetClient | Linux, h2c, CCore | 2020-04-06 15:48:58Z | 110,662 | 47,141 | -57.4 % | -2.27 σ |

Before versions:
ASP.NET Core __5.0.0-preview.4.20203.11__
.NET Co

[2020-04-11 01:24] pr-benchmarks[bot] opened #20745 "Scenarios are not running: DbFortunesRaw-Mono, DbFortunesRaw-Mono, Json-Mono, Json-Mono, JsonPlatform-Mono ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| DbFortunesRaw-Mono | Linux, Physical, http, KestrelSockets | 2020-04-09 07:32:07Z |
| DbFortunesRaw-Mono | Linux, Cloud, http, KestrelSockets | 2020-04-09 12:55:52Z |
| Json-Mono | Linux, Physical, http, KestrelSockets | 2020-04-09 07:30:43Z |
| Json-Mono | Linux, Cloud, http, Kestre

[2020-04-11 01:24] pr-benchmarks[bot] opened #20746 "Bad responses: DbFortunesRaw-Mono, DbFortunesRaw-Mono, DbMultiUpdateDapper, DbMultiUpdateEf, DbMultiUpdateRaw ..."
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| DbFortunesRaw-Mono | Linux, Physical, http, KestrelSockets | 2020-04-09 07:32:07Z | 7117764 |
| DbFortunesRaw-Mono | Linux, Cloud, http, KestrelSockets | 2020-04-09 12:55:52Z | 1333266 |
| DbMultiUpdateDapper | Linux, Cloud, http, KestrelSockets | 2020-04-10 20:37:24Z | 19

[2020-04-11 01:30] yudielcurbelo opened #20747 "Blazor Web Assembly crashing on debugging mode in Visual Studio"
### Describe the bug
I'm having an odd behavior where debugging a Blazor Web Assembly application crash Visual Studio 16.6.0 Preview 2.1 when you start typing into the textboxes

### To Reproduce
Create a component with the following markup

[code]

The block above crash Visual Studio in debugging mode, but if you remove these two lines everything works.

[code]

Also, adding ``` type="password" `

[2020-04-11 01:30] sebastienros commented on #20744
@JamesNK I fixed the regression bot, so issues like this might appear now and then. If you can, would you mind checking the chart for this benchmark and either close it if you think it was a glitch, or file triage this issue if you think there is an actual regression?

[2020-04-11 01:44] sebastienros commented on #20744
If we look at the RPS, the linux runs are varying by 100%, compared to windows where it's flat.

![image](https://user-images.githubusercontent.com/1165805/79032415-0edfa680-7b5b-11ea-9428-46af691bee12.png)

Also there are no bad responses. This could be that the benchmark is unstable, and might need to be fixed, that there is an issue in the framework, or that there are actually two different sce

[2020-04-11 02:00] sebastienros commented on #20745
the mono runtime is not being built since 04/05/2020 https://dotnetfeed.blob.core.windows.net/dotnet-core/flatcontainer/runtime.linux-x64.microsoft.netcore.runtime.mono/index.json

[2020-04-11 05:23] brifly opened #20750 "NpmScriptRunner.LaunchNodeProcess can't locate npm, but it exists"
This ticket was already raised here:
https://github.com/dotnet/aspnetcore/issues/5246

Its closed with a solution that didnt work for me. I did find a working solution however -
It wont find npm if you are using node version manager (nvm) - npm must be explicitly installed.

[2020-04-11 07:14] tony-xia commented on #20603
I got the same issue with the following packages.
[code]

[2020-04-11 08:01] pr-benchmarks[bot] opened #20751 "Performance regression: Plaintext-Mono"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| Plaintext-Mono | Linux, https, KestrelSockets | 2020-04-06 12:54:37Z | 1,130,046 | 1,103,644 | -2.34 % | -4.37 σ |

Before versions:
ASP.NET Core __5.0.0-preview.4.20203.11__

[2020-04-11 09:55] DimitrisRousis commented on #20729
The same happens to me too. When i hover on the breakpoint (the breakpoint is in the IncrementCount method) i see this message: "The breakpoint will not currenlty be hit No symbols have been loaded for this document."

[2020-04-11 11:12] KishorNaik opened #20753 "Blazor : Not able to import layout using layout directive in Razor Class Library(RCL)"
### Describe the bug
In razor class library(RCL), layout not applied by specifying **layout directive** in the **_Import.razor** file inside the RCL solution but if we specify layout using layout directive at component level then it will work.

I tested the above-said issue on the main blazor solution(server side) and it's working properly (Different  solution not added on this repository) but don

[2020-04-11 12:43] Oleg26Dev opened #20754 "Blazor server: why it does not start?"
I have tried to configure host:port without hardcoding, but the Blazor server-side app does not start in this case?

[code]

If I remove the call .UseUrls(urls: new String[] { "http://*:6000", "https://localhost:6001" }); it starts . What is wrong? I see a console only with output but browser does not start

Microsoft.Hosting.Lifetime: Information: Now listening on: http://[::]:6000 Microsoft.Host

[2020-04-11 12:50] DanJBower opened #20755 "Disposing disposable transient services in Blazor"
Apologies if this is the wrong place to post this.

### Describe the bug
Disposable transient / scoped services are not disposed when there are no more references to the object in Blazor. A simple example of this can be seen from having 2 disposable pages and 2 disposable transient services.

The pages are created and destroyed at the correct time and the services are created when the page is crea

[2020-04-11 14:18] sbondo1234 opened #20756 "Triggering EventCallback in component re-sends other component params"
### Description

When triggering/invoking an EventCallback in a component, the other params seem to be re-sent.

### To Reproduce

#### Component

[code]

#### Parent Page

[code]

You will see that when you run the function **ChangePlaceholder()**, everything works fine (the UI updated to show Placeholders new value of "hello"), but if you run the other function **ChangePlaceholderEvent()**, it r

[2020-04-11 14:22] yopez83 opened #20757 "Getting reference to component"
### Goal
To be able to get a reference to a component or something to that effect, so I can later modify its state.

### Scenario
[code]

[2020-04-11 15:22] Pete-PlaytimeSolutions commented on #5833
I have a project, configured using IdentityServerSPA, where everything works fine on a local dev machine, but there seems to be issues when validating tokens, when deployed to a Linux based App service on aspnet core 3.1.

It looks like when hosted on Linux, the internal IdentityServerJwtBearerOptionsConfiguration.ResolveAuthorityAndKeysAsync method, sets the Authority and ValidIssuer to the inter

[2020-04-11 15:42] chrissainty commented on #20757
You can capture a reference to a component using the `AddComponentReferenceCapture` method on `RenderTreeBuilder`. Here an example.

[code]

[2020-04-11 15:59] JeepNL opened #20758 "[UPDATE] Static Blazor Wasm Auth0 authentication with 'Authentication library' takes 10 seconds."
[UPDATE April 12]
I'm closing this issue. I've changed some Nginx config files, and suddenly everything works as expected. I don't know yet which setting specifically made it work, I'll try to figure that out.

Config:

- Static Blazor WebAssembly 3.2.0 Preview 3 website
- Webserver: Nginx 1.17.9
- Hosted on an Ubuntu 18.04 VPS

I used this article from Microsoft Docs as a guide: [Secure an ASP.NE

[2020-04-11 16:11] LeeActon commented on #20729
I was having exactly the same issue, then I thought "maybe it's because I'm using **Firefox** as my browser"... so I switched to the latest **Microsoft Edge** and still had the same problem. Then I switched to **Chrome** and it works fine.

[2020-04-11 17:47] #20624 closed

[2020-04-11 18:58] sebastienros commented on #20751
False positive

[2020-04-11 18:59] danielloganking opened #20759 "Allow `dotnet restore` to also invoke `dotnet tool restore`"
### Issue

Currently, we are in the process of upgrading our application from Core 2.2 to Core 3.1. One of the functionalities we depend on in 2.2 is the ability to reference a tool as a project dependency for guaranteed availability during build. Specifically we reference [`Swashbuckle.AspNetCore.Cli`](https://github.com/domaindrivendev/Swashbuckle.AspNetCore/tree/v5.0.0-rc3#swashbuckleaspnetcore

[2020-04-11 19:02] davidfowl commented on #20751
I have to ask, why do we care about ASP.NET Core on Mono? Is this more for the mono team to improve things or something else?

[2020-04-11 19:08] sebastienros commented on #20751
We care as much as anything related to the runtime as they are part of it. However these scenarios don't matter for our perf. Unless they were related to Blazor. I will update the bot such that we can ignore some scenarios.

[2020-04-11 19:08] #20751 closed

[2020-04-11 19:38] groogiam opened #20794 "dotnet publish leaving out local package dependencies"
I'm running into an issue after installing SDK 3.1.201 where dotnet publish is not publishing local package dependencies.  The project I am using references the blazor web assembly preview which I'm not sure if it is related to the issue. Adding the local package dependence directly to the published csproj does not seem to help either.

See csproj below. The reference AppPotion.Sandbox is dependen

[2020-04-11 20:00] #18592 closed

[2020-04-11 20:40] javiercn commented on #5833
@Pete-PlaytimeSolutions thanks for contacting us. This is a general discussion issue not meant for specific problems.

I would check if you are forwarding the headers to the host appropriately or check how to configure that.

If you still have issues afterwards, please file a separate issue (if you haven’t done so) so that we can follow up there.

We won’t be updating this thread further for this

[2020-04-11 21:00] #20676 closed

[2020-04-11 21:23] ShaunCurtis opened #20761 "Change Current Value in InputBase<TValue> to Virtual?"
Currently the CurrentValue property in InputBase<TValue> is set to protected.  This means that it can't be inherited, and thus customized.  Can it be changed to Virtual?

To get round the current implementation I have created a new class called RecordInputBase<TValue> that directly mimics InputBase<TValue>, but declares CurrentValue as Virtual.  Not the best solution for several reasons, but the o

[2020-04-11 21:30] NTaylorMullen commented on #20663
Actually I worked around the "proper" fix here: https://github.com/dotnet/aspnetcore-tooling/pull/1655. Closing this out.

[2020-04-11 21:30] #20663 closed

[2020-04-11 22:26] razfriman commented on #18675
@danroth27 Are there any plans to support loading a Configuration from the server project hosting the Blazor WASM?

Use Case: Passing in the API-url to the project.

This tends to happen via environment variables in that get passed in through Docker and are not known at the time of writing the application.

[2020-04-11 23:03] danroth27 commented on #18675
Hi @razfriman. We now have support in Blazor WebAssembly for loading environment specific configuration from the server: https://docs.microsoft.com/aspnet/core/blazor/hosting-model-configuration#configuration

[2020-04-11 23:06] razfriman commented on #18675
This

Thank you!!

That is exactly what I needed to unblock the switch over to Blazor WebAssembly branch for my app.

Thank you x a million to the whole team

[2020-04-11 23:14] gmnenad commented on #8241
That is good, but it would be much better if **BoundingClientRect** is included , instead of OffsetX/Y.  Two reasons:
1) just OffsetX/Y do not allow to determine position of click on resizable item - and BoundingClientRect does
2) if OffsetX/Y are obtained on JS side by calling getBoundingClientRect, returning BoundingClientRect instead is no additional performance hit

[2020-04-11 23:32] doug62 commented on #8241
I "have to" work around it by:

    public class BoundingClientRect
    {
        public double X { get; set; }
        public double Y { get; set; }
        public double Width { get; set; }
        public double Height { get; set; }
        public double Top { get; set; }
        public double Right { get; set; }
        public double Bottom { get; set; }
        public double Left { get; set; }

[2020-04-11 23:52] gmnenad commented on #8241
Yes, I use similar, it is actually possible to just use RectangleF as return type, without declaring your BoundingClientRect, although it can have strange bug in Safari - but that bug is possible with your class also.  namely, safari does not have X,Y in their getBoundingClientRect(), and current JSON serializer used by Blazor has bug where it fills default(0) for not present fields, so Safari Rec

[2020-04-12 00:02] MagicPelikan commented on #17977
HI everyone. I'm using asp net core 3.1 but I can't inject a service into a class that inherits from Hub.
I have something like:
[code]
Then in my Startup.cs I have something like:
[code]

I'm getting this error:
**System.InvalidOperationException: A suitable constructor for type 'BlazorSignalRApp.Server.Hubs' could not be located. Ensure the type is concrete and services are registered for all pa

[2020-04-12 00:08] aluzme opened #20762 "AutomaticReconnect on Java"
When method withAutomaticReconnect implement on java or android client

[2020-04-12 00:32] BrennanConroy commented on #20762
Dupe of https://github.com/dotnet/aspnetcore/issues/8711

[2020-04-12 01:47] Arrowana commented on #20427
I went back to the exact same project and after deleting obj and bin it works. I can now debug blazor webassembly from visual studio code. This is weird...

[2020-04-12 02:20] nvmkpk opened #20763 "Setting ReferenceOutputAssembly to false for the blazor project in hosted asp.net core project issue"
### Describe the bug
I have a blazor application hosted in asp.net core application. The blazor application references a razor component library containing static files. If I set ReferenceOutputAssembly to false for the blazor project reference in the hosted asp.net core project, the static files from the library are not served when run from visual studio. Sounds similar to #20567. Creating a new

[2020-04-12 03:08] orobert91 opened #20764 "Resource file naming"
The documentation here (https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1) suggest that we use the same file name as the class name for our resource files however this contradicts with how the C# compiler works with resource files. Naming a resource file this way prevents us from linking our resource statically in our code.

For example, let's say I have a

[2020-04-12 03:13] vertonghenb opened #20765 "[Blazor] Nested Components with inner partial classes (not child components)"
### The Idea
In C# we can use inner or nested classes for example:
[code]
More information about nested classes can be found [here](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/partial-classes-and-methods).

However it would be nice to see the same approach in Blazor for components, which can make the usage much cleaner and clearer, an example component (min

[2020-04-12 03:39] orobert91 commented on #20764
As an after thought it is not an aspnetcore issue.

[2020-04-12 03:39] #20764 closed

[2020-04-12 05:53] yopez83 commented on #20757
It worked. Thanks for answering.

[2020-04-12 05:53] #20757 closed

[2020-04-12 06:10] JeepNL commented on #20758
[UPDATE April 12]
I'm closing this issue. I've changed some Nginx config files, and suddenly everything works as expected. I don't know yet which setting specifically made it work, I'll try to figure that out.

[2020-04-12 06:10] #20758 closed

[2020-04-12 06:32] BrennanConroy commented on #20187
Haven't heard back from you, if you're interested, could you check out https://github.com/dotnet/aspnetcore/tree/brecon/javaerror and go to the "src/SignalR/clients/java/signalr" folder and run `gradlew createPackage`. Then try out your scenario with the jar created.

One way that might help to reproduce the issue is to pull the ethernet cord from the computer the client is on when connected to a

[2020-04-12 07:49] marcuslindblom opened #20766 "Authentication error: The remote certificate is invalid according to the validation procedure"
I run my application in a Linux container using Kubernetes behind an ingress load balancer. The container is based on `mcr.microsoft.com/dotnet/core-nightly/aspnet:5.0`. I use GitHub for authentication and this is my headers when using curl.

[code]
The error occurs when the `/signin-github` endpoint is hit and this is the stack trace.

      Performing unprotect operation to key {42a05523-0ddb-40

[2020-04-12 09:03] JamesNK commented on #20744
I don't know what is up with that test. The GrpcUnary-h2load test is steady so I don't think it is an issue in the server framework.

Perhaps it is two different scenarios running. The high and low results are consistent across time.

[2020-04-12 10:06] Oleg26Dev commented on #20676
I have tried to configure host:port without hardcoding, but the Blazor server-side app does not start in this case?

[code]
If I remove the call .UseUrls(urls: new String[] { "http://*:6000", "https://localhost:6001" }); it starts . What is wrong? I see a console only with output but browser does not start

Microsoft.Hosting.Lifetime: Information: Now listening on: http://[::]:6000 Microsoft.Hosti

[2020-04-12 10:35] DPShillcock opened #20767 "GetExternalLoginInfoAsync null"
I find that it's really easy to run into the ground when using identities from providers. I have the following issue.

I have the following authentication handler for Strava

[code]

I want to add the claims to my user identity, using something like the following

[code]

However, `GetExternalLoginInfoAsync()` always returns null. Why is this?

[2020-04-12 10:36] DimitrisRousis commented on #20729
I tried with Chrome but the problem still remain.

[2020-04-12 11:20] wocar commented on #5456
Thank you wasn't aware.

If I use razor pages (.cshtml) and modify the HTML and press F5 at least I can see the changes. Why this is not possible with Razor Components (.razor)

[2020-04-12 11:28] gmnenad commented on #12685
I also think that ability to customize serialization would be useful.
Recently I had deserialization problem with Blazor calling JavaScript: InvokeAsync<RectangleF>("getBoundingClientRect"...) - it worked as expected for Chrome/Edge, but had exotic bug on Safari. Reason was that Safari's rectangle returned by getBoundingClientRect() does not have "x" and "y" fields, just {left:10, top:20, width:20

[2020-04-12 11:30] blowdart commented on #20767
@DPShillcock you posted your client ID and secret, you need to change the secret as soon as you can.

[2020-04-12 11:40] Oleg26Dev commented on #20754
What is interesting, if I run this way:
1. launchSettings.json:
"applicationUrl": "https://localhost:5001;http://localhost:5000",
2.  webBuilder.UseStartup<Startup>()
        .UseUrls(urls: new String[] { "http://*:5000", "https://localhost:5001" });

then it starts ok and writes in the log:

[2020-04-12 11:46] DPShillcock commented on #20767
Thank you!

[2020-04-12 12:00] colotoon opened #20768 "After migrate from .Net to >net Core Self Host not working"
Hello all!

At Net Core 2 i using this easy sample Self-Host:
https://docs.microsoft.com/en-us/aspnet/signalr/overview/deployment/tutorial-signalr-self-host

Aaaand, all working, thats great!

Ok.

BUT.

Now i`m want to use .Net Core 3.1

Question #1 is: where i can found easy sample like at help topic upper?

And yes, i`m reading documentation, and cant found for topic with name "Self-Host".

Que

[2020-04-12 12:30] hmheng commented on #17277
it seems like

thanks for the help. it works for a while. very soon it will hang again.

[2020-04-12 14:25] davidfowl commented on #20768
Asp.net core is always self hosted unless you’re running in IIS. Can you explain what problems you’re having?

[2020-04-12 14:30] davidfowl commented on #20676
I believe 6000 is a reserved port. Try another one

[2020-04-12 15:25] shahidroofi opened #20770 "Blazer WebAssembly and support for Android"
since webassembly uses mono and shows to be supported on Andriod. While .net core official support does not list Andriod as OS. So how well the blazer client side code on c# will run on andriod phones: https://stackoverflow.com/questions/61173399/webassembly-blazor-andriod-support.

just a question actually i raised on stackoverflow. Please don't mind if i am raising the same on wrong forum.

[2020-04-12 15:26] VR-Architect opened #20771 "Blazor Bug Propagation with navbar and dropdown"
Using Core 3.1

When clicking a multi-level dropdown inside a navbar, the goal is to not close the dropdown popup if the user clicks on the parent item( like "Dropdown Item 2"). This code does not seem to prevent the closing of the dropdown.

[code]

[2020-04-12 15:58] #20766 closed

[2020-04-12 15:58] vanbukin commented on #17962
@azydevelopment  Pure SPA's are dead now https://webkit.org/blog/10218/full-third-party-cookie-blocking-and-more

I think you should build BFF application and use Cookies instead issuing tokens via front-channel communication (check Developer Guidance, Option 1 at link).

This is the new reality. Chrome will also implement that privacy enhancements in 2022.

[2020-04-12 16:02] talldaniel opened #20772 "StateHasChanged does nothing"
I am using the dynamic ability of Blazor to set the style for divs, buttons etc instead of css files.  This is handy because it allows my site designer to set the style for the major properties that determine look and feel such as  color from the gui.

The issue is that after a change of the values, it doesn't refresh in the Templates.

My project is about 30,000 lines of code so I don't want to i

[2020-04-12 16:16] prince272 opened #20773 "How to Get Route Data from URL"
I need to get the route values for any URL in ASP.NET MVC Core 3.1. https://github.com/aspnet/Routing/issues/350

protected RouteValueDictionary GetRouteValuesFromUrlOrReferer(string url = null)
{
    if (url == null)
    {
        if (!this.HttpContext.Request.Headers.ContainsKey("Referer"))
            throw new Exception("url parameter not delivered and Referer header is empty");
        url =

[2020-04-12 16:57] prince272 commented on #20773
Hello again. I think I've found what i want. it's right here https://github.com/dotnet/aspnetcore/pull/9728 But please if there is anything to tell me you can let me know. Thank you so much for your support.

[2020-04-12 17:06] vlkumarster opened #20774 ".Net Core app throughput degrades over the time and increases latency in VS Load Test"
### Describe the bug
Created .NET app which writes to Storage and keeps the reference of it in a Service Bus. We have enabled Request and Response logging into AppSights. The app works without issues and return result in <250ms normally, but if we run the perf test for 30 min with 10 users with gradual increase in load, the latency increases and throughput decreases. Can you let us know what could

[2020-04-12 17:37] #20772 closed

[2020-04-12 17:41] BrennanConroy commented on #20768
The is sample code in https://docs.microsoft.com/aspnet/core/signalr/dotnet-client?view=aspnetcore-3.1&tabs=visual-studio for the .NET Client

[2020-04-12 18:01] colotoon commented on #20768
thanks!
But where i can get server simple example code without IIS?
At github all examples only with IIS =(

[2020-04-12 18:05] BrennanConroy commented on #20768
What do you mean all examples are only IIS?
If you `dotnet run` the app or publish and `dotnet app.dll` then you can run the server without IIS.

[2020-04-12 18:13] colotoon commented on #20768
I mean, i need server example code, how to create hub as standalone console app, like at this topic:
https://docs.microsoft.com/en-us/aspnet/signalr/overview/deployment/tutorial-signalr-self-host
Because, code from this topic not working in .Net Core Project =(

[2020-04-12 18:30] BrennanConroy commented on #20768
You can follow one of the tutorials and just ignore all the parts about JavaScript and html pages
https://docs.microsoft.com/aspnet/core/tutorials/signalr?view=aspnetcore-3.1&tabs=visual-studio

[2020-04-12 18:31] BrennanConroy commented on #20768
Also, the docs you're looking at for ASP.NET SignalR which do not apply to ASP.NET Core SignalR.

[2020-04-12 18:43] Morhpeuss opened #20775 "[Blazor] Slick carousel error"
Hi,

I have a slick carousel on my page:

[code]
I have a function in a javascript file:

[code]

I call this javascript method in server-side method "OnAfterRenderAsync(bool firstRender)":

[code]
I got an error:

    at s (blazor.server.js:8)
    at Object.t.createAndInsertLogicalContainer (blazor.server.js:8)
    at e.insertMarkup (blazor.server.js:8)
    at e.insertFrame (blazor.server.js:8)

[2020-04-12 19:17] sebolio commented on #14519
@mkArtakMSFT this is a really needed and expected behavior, we really need this to make working in Blazor a comfortable day to day experiene, please add it soon ❤

[2020-04-12 19:26] colotoon commented on #20768
I trying..... But, cant make this working, so many errors at the Startup class =\

https://drive.google.com/open?id=1B-mxe7VGP862XTx_2M7TXkvrN5NBcR2v

Can u make it working, plz, i dont know how to create working app... :'''(

[2020-04-12 19:41] weitzhandler opened #20776 "Enable Razor Components constructor injection"
Hi,

The current method of DI in Razor Components is by decorating the target properties with `TargetAttribute`.

This is not the traditional method of injection using the constructor, and in addition, makes it uncertain for the compiler whether these fields are gonna be null.

When using null reference types of C# 8, the compiler will issue a warning for all those fields, marking them nullable (`

[2020-04-12 20:00] #18960 closed

[2020-04-12 20:15] JanithaKalshan opened #20777 "SignalR library throws error when it application run without debug points and work fine while debugging"
I have created a .net core chat application using SignalR and I need move to next user by clicking next button. When I click the next button it will trigger the method "getRemoteClientNext" inside the Hub class

public async Task getRemoteClientNext(string RemoteUserId)
        {

          var name = Context.User.Identity.Name;
            var CurrentAppUser = _userManager.FindByNameAsync(name);

[2020-04-12 20:39] JanithaKalshan commented on #20777
Again I commented the foreach loop inside the method "getRemoteClientNext" and delete the comment on "selectedRemoteUser.ForEach(c => c.RemoteConnected = true)"

this work one time fine and now it is giving the error

signalr.js:2088 Uncaught (in promise) Error: An unexpected error occurred invoking 'getRemoteClientNext' on the server.
    at _this.callbacks.<computed> (signalr.js:2088)
    at Hub

[2020-04-12 21:57] ssougnez commented on #12890
I just migrated my application from 2.2 to 3.1 and I'm surprised to see these deprecation warnings.
I read this thread but I still think that it's a shame that Microsoft is dropping support for this NodeServices package.
As the others, I'm using this package to call a JS script that generate PDF.
I've been searching over Google a long time and there is just no easy way to do so with .NET Core. All

[2020-04-12 21:58] BrennanConroy commented on #20777
You're not observing the return value on the client from `connection.invoke(...)` so you're getting an uncaught error.

Take a look at the [docs](https://docs.microsoft.com/aspnet/core/signalr/javascript-client?view=aspnetcore-3.1#call-hub-methods-from-client) for details about calling invoke vs. send and also what you should be doing about the return value.

The actual issue is most likely that y

[2020-04-12 22:25] prince272 commented on #20773
Hello again. I've found an issues from here. Why not consider passing the HttpContext value instead.

https://github.com/dotnet/aspnetcore/blob/master/src/Http/Routing/src/DefaultLinkParser.cs
![null](https://user-images.githubusercontent.com/32231909/79081353-2a3de380-7d0c-11ea-971c-79717a79bf06.PNG)

HttpContext is null when matching

[2020-04-12 23:38] hosseinRezaei188 opened #20778 "Handle concurrent request in SignalR.Core"
I'm developing a game and use SignalR.Core Version 3.1.0.0 for real-time events.my issue about handle concurrent request to same void. in one void i have a condition that this condition Affect on game sessions. when first person join to play a game, is checked if not exist ready players for game must set this person state to ready for play game. but in my code when two person join to game in same

[2020-04-13 00:34] BrennanConroy commented on #20778
You can't assume that. You'll have to write your application logic to be more robust.

[2020-04-13 01:24] lucianotres commented on #14962
And would be nice to have a way to handle history stack or just a simple "location.replace(url);"
Only way I found to do this currently, was with JS interop.
js like this:
[code]
then call:
`await JSRuntime.InvokeVoidAsync("controles_interop.location_replace", $"/protocolo/{_id.Value}");`

I mean something like this, so more practical:
`_nav.NavigateTo($"/protocolo/{_id.Value}", replace: true);`

[2020-04-13 02:22] mkArtakMSFT commented on #12685
Moving this to the `Next sprint planning` for reevaluation

[2020-04-13 05:36] JeremyTCD commented on #12890
@ssougnez Have you considered [Jering.Javascript.NodeJS](https://github.com/JeringTech/Javascript.NodeJS)?

[2020-04-13 05:49] ssougnez commented on #12890
I'll have a look at it.

It's just that it's always more reassuring to use an official Microsoft package for such crucial tasks as it ensures that it keeps being maintained. Except when it suddenly gets deprecated of course ^^

Anyway, if that package works, I guess it will be my replacement option :-)

Thanks

[2020-04-13 06:04] JeremyTCD commented on #12890
@ssougnez Fair enough! If you do encounter problems with Jering.Javascript.NodeJS feel free to open an issue over there :).

[2020-04-13 06:17] mkArtakMSFT commented on #20774
Hi. It looks like you are looking for support for your application, which this forum is not intended for.
If I have misunderstood you and you believe this is caused by an issue in the ASP.NET Core framework, please share a sample app with the minimum additions, which can reliably reproduce the unexpected behavior.
If, however, you are indeed looking for support, we recommend using [StackOverflow](

[2020-04-13 06:23] mkArtakMSFT commented on #20740
Thanks for contacting us. This issue has already been fixed and will be release in the upcoming VS preview release.
@NTaylorMullen do you have any more specific details about the fix? Would be great if you could dupe this with the original issue.

[2020-04-13 06:25] mkArtakMSFT commented on #20747
Thanks for contacting us.
@SteveSandersonMS can you please look into this? Should this move to the Mono team?

[2020-04-13 06:58] colotoon commented on #20768
Or can u upload working example here:
https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/signalr/hubs

Like it was at .Net:

`
using Microsoft.AspNet.SignalR;
using Microsoft.Owin.Hosting;
using Owin;
using Microsoft.Owin.Cors;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNet.SignalR.Hubs;
using Newtonsoft.Json;

[2020-04-13 06:59] davidfowl commented on #20768
Example https://github.com/aspnet/SignalR-samples/tree/master/ChatSample

[2020-04-13 07:11] colotoon commented on #20768
Its for IIS server sample, i need standalone console app, look at my code upper plz...
[code]

How make same at the Net Core???
How can I assign an application the port I need? (without using IIS server)

[2020-04-13 07:19] davidfowl commented on #20768
Like I said earlier, all ASP.NET Core applications are self hosted. That code runs both on IIS and outside of IIS (This might explain more https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/?view=aspnetcore-3.1&tabs=windows#hosting-models).

[2020-04-13 07:21] davidfowl commented on #20768
As for assigning the port you can look here:

[code]

[2020-04-13 07:59] colotoon commented on #20768
I did some working pair from ChatServer example + Net Client
Finally!
Will working with this...
Great Thank U!

[2020-04-13 08:00] #20768 closed

[2020-04-13 08:10] dewanymca commented on #20774
Thanks @mkArtakMSFT . Actually we are facing issue with scaling of app, everything works fine under normal load and even with 10 user load app works fine. We are seeing whenever we are increasing load on app by increasing user or start test with 50 user itself. Below are couple of things we tried but cou;dn't resolve it:

1) Disable the middleware which logs request and response to AI
2) Disable t

[2020-04-13 08:18] davidfowl commented on #20774
Maybe capture profiles of your application. Get dotnet-trace and dotnet-counters. The counters should give you a high level view of your application stats. If you’re using app insights it should have those same counters in the portal metrics blade

[2020-04-13 08:22] maxbl4 commented on #14160
There is an issue even with default angular template. Steps to reproduce:
1. dotnet new angular -au individual
2. Modify Weatherforecast controller to return UserManager<ApplicationUser>.GetUserId(User)
Observe, that userId is always null. And no other methods of UserManager can return the authenticated user.
The reason is how JwtSecurityTokenHandler works. It will remap the sub claim to be ClaimT

[2020-04-13 08:30] julienGrd opened #20779 "[Blazor] input type time - really strange behavior when included in a component"
hello guys, i met problem with using input time in my blazor project.

I will not speak about the binding timespan/DateTime/string wich is already discuss in other issues, and i have workaround solution for this.

So the workaround for me was to make a component wich take all the iput time parameter, and which take care to only update the hour and minute part of the date binded by the caller.
But

[2020-04-13 08:35] maxbl4 opened #20780 "UserManager return null for authenticated user in angular template"
### Describe the bug
Can't use UserManager.GetUser(HttpContent.User) to get the currently authenticated user. It returns null

### To Reproduce
1. Create new project from template: dotnet new angular -au individual
2. Add UserManager<ApplicationUser> to the WeatherForecastController and call await userManager.GetUserAsync(User)
3. Observe, that it always returns null. While the user is authenticat

[2020-04-13 08:41] maxbl4 commented on #20780
Some investigation shows, that IdentityServer is overriding the default UserIdClaimType
https://github.com/IdentityServer/IdentityServer4/blob/c87a5e9f77a4ea724748505d2c6431c20edd5b0b/src/AspNetIdentity/src/IdentityServerBuilderExtensions.cs#L37

[2020-04-13 08:43] julienGrd commented on #20779
UPDATE

im able to reproduce this without a component. it seem is the format the problem, as long the datetime is rendered as hh:mm:ss, everything works fine. But if i remove the second part of the input (clic on it and suppr), the bug begin (if the step attribute is present).
so
 - example 1 : bug directly because the second part is not render (0)
[code]

 - example 2 : bug if we remove manually

[2020-04-13 08:46] maxbl4 commented on #20780
So the issue can be worked around by setting UserIdClaimType back to the default value. This can be done by adding the next line anywhere after AddIdentityServer

   services.Configure<IdentityOptions>(x => x.ClaimsIdentity.UserIdClaimType = ClaimTypes.NameIdentifier);

[2020-04-13 09:08] javiercn commented on #14962
@lucianotres We are adding that in a future update I think, but you don't need anything special to do that today, you can simply call `JSRuntime.InvokeAsync("location.replace", url)` and that will work

[2020-04-13 09:09] ssougnez commented on #12890
Just for information, I switched from NodeServices to Jering.Javascript.NodeJS. I had to do small adjustments (nothing complicated) and it seems to be working like a charm.

The ability to debug the script in Chrome is really awesome.

Anyway, this solves the issue for me...
Let's hope this package doesn't get abandoned now :-)

[2020-04-13 09:12] enetstudio commented on #19643
@mrlife, you should do as mrpmorris has suggested...

@mkArtakMSFT, this is not a bug.  YearChanged  is a component parameter  property defined in the child component. Coding like this: `ChildComponent1.YearChanged += ChildFiredEvent;` is actually trying to change the property outside of its component, which currently only illicit a warning not to do so, but still working. I don't see any bug here

[2020-04-13 09:25] KamranShahid commented on #20566
I am getting Error
**No listening endpoints were configured. Binding to http://localhost:5000 by default.**
My service is being run with different port configured in service file like

My service file have a line like

ExecStart=/usr/bin/dotnet /MyApp/MyApp.Interfaces.dll --server.urls "http://0.0.0.0:8080;"

[2020-04-13 09:28] TehWardy opened #20781 "HttpRequest.Path property appears to be wrong"
I'm running the following code under .Net Core 3.1 in a WebApi application that loads this during startup ...

**In Startup.cs**

[code]

**In MyMiddleware.cs**

[code]

For some odd reason i'm getting back the entire URL but "https://" has become "https:/".
According to the docs (https://docs.microsoft.com/en-us/dotnet/api/system.web.httprequest.path?view=netframework-4.8&viewFallbackFrom=netcore

[2020-04-13 09:51] TehWardy commented on #20781
My bad ... bug in an ajax call resulting in duplication of the domain in the path.

[2020-04-13 09:51] #20781 closed

[2020-04-13 09:53] SteveSandersonMS commented on #20747
I'm afraid I wasn't able to reproduce this when using VS 16.6 preview 3 and Blazor 3.2.0-preview4.

Perhaps something has been fixed by these newer builds, or perhaps there are some other steps (besides using the code posted above) to reproduce it.

@yudielcurbelo If you have any other information that might reproduce the problem when using these newer builds please let us know. Otherwise it seems

[2020-04-13 09:57] javiercn commented on #20780
@maxbl4 thanks for contacting us.

I believe UserManager is only meant to work with the identity from ASP.NET Identity or a compatible one. An alternative way of achieving what you want is to get the id and call the find method, but what you did also works.

[2020-04-13 09:57] #20780 closed

[2020-04-13 10:15] maxbl4 commented on #20780
Why do you close this? I use the default ASP.NET Identity for user management and authentication. IdentityServer is used to provide JWT tokens. And I describe the behavior from default asp.net core template. So any developer, who want to simply create a new project will face this issue.

[2020-04-13 10:19] yudielcurbelo commented on #20747
Hello Steve I could try to reproduce this issue with the newest versions but unfortunately Visual Studio preview 3 or blazor preview 4 is not out yet.

[2020-04-13 10:21] javiercn commented on #20755
@DanJBower thanks for contacting us.

The general rule is that you should be disposing the things that you inject unless they are singletons. If you have scoped services, there is an OwningComponentBase class you can use to scope the service to your component.

The only thing that Blazor will do is to call Dispose on your component when it gets rid of it if it implements IDisposable, but other tha

[2020-04-13 10:24] javiercn commented on #20756
@sbondo1234 thanks for contacting us.

Event callbacks will trigger a re-render of the parent component and you are unconditionally passing down "something" which is what is causing "something" to be re-rendered.

The problem here is that you are using a parameter as state for your component, which you should avoid.

[2020-04-13 10:26] javiercn commented on #20763
@nvmkpk thanks for contacting us.

The answer for this is the same as for the other issue. We don't have a way to know about your transitive dependencies if you set reference output assembly to false. This is how MSBuild works and not something we can workaround.

You need to reference the transitive libraries from the host project if you use referenceoutputassembly=false.

[2020-04-13 10:30] javiercn commented on #20770
@shahidroofi thanks for contacting us.

Blazor uses WebAssembly which runs inside the browser. As a result of that, it runs on Android when you run it inside Edge/Chrome.

[2020-04-13 10:33] javiercn commented on #20775
Thanks for contacting us @Morhpeuss

It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow using the asp.net-core-blazor tag.

[2020-04-13 10:40] avivnaaman opened #20782 "Cookie Localization doesn't work"
I set up cookie localization (and only it, for debugging):
[code]

while I was using query string or accept-language header everything worked fine, but cookies didn't work, so I am using only cookies in the above code for debugging.

I added the `.AspNetCore.Culture` cookie in  browser & refreshed the page (here is the request screenshot from dev tools of firefox, same was from chrome):
![image](h

[2020-04-13 10:56] marcusturewicz commented on #19710
I added PWA functionality recently to my [Blazor Wasm website](https://github.com/marcusturewicz/jsonvalidate.net/pull/93/files) by copying relevant files from a dummy project generated from the new PWA template, so I'd be happy to write a doc on how to do this in the meantime in leu of a package being developed?

[2020-04-13 11:13] ngoquoc opened #20783 "Configuration binding in ApiAuthorization.IdentityServer package is very limited"
The option class structure defined in `ApiAuthorization.IdentityServer` package is very limited, which does not enable the full power of IdentityServer. AFAIK, this package eventually turns its specific configurations into `IdentityServer` configurations so IdentityServer can work. So I'm wondering why [this package "invents" a new configuration class](https://github.com/dotnet/aspnetcore/blob/mas

[2020-04-13 11:16] shahidroofi commented on #20770
makes good sense. thanks @javiercn
i assume that .net core support documentation now now need to include Andriod as supported OS in that case. (currently not the case)

[2020-04-13 11:39] #20656 closed

[2020-04-13 11:47] mrpmorris commented on #19643
There's a tutorial here - https://blazor-university.com/components/two-way-binding/

[2020-04-13 12:02] avivnaaman commented on #20782
Apparently the cookie value should be in the format of c={culture||uic={culture}. Done that change to the cookie and issue fixed.

[2020-04-13 12:02] #20782 closed

[2020-04-13 12:02] richardhz commented on #20727
Totally embarrassed!
While migrating I commented out some code, so the  code behind was actually
public class DocumentBase : ComponentBase
{
   [Inject]
   //protected ICacheService CacheService { get; set; }
   [Parameter]
   public string Key { get; set; }
   public string Text { get; set; }
   protected override async Task OnInitializedAsync()
   {
      Text = GetDocument(Key); //Code removed

[2020-04-13 12:32] javiercn commented on #20783
@ngoquoc thanks for contacting us.

All those things are still available for you to configure, our goal is to streamline the configuration for the scenarios while still allowing you to harness the full power of IdentityServer.

For example, you can not setup user claims through configuration, but you can do so within code without problems by simply accessing the configured resource within the opti

[2020-04-13 12:33] #20783 closed

[2020-04-13 13:22] nvmkpk commented on #20763
That means you don't fully support setting ReferenceOutputAssembly to false. I don't know how this works but I can think of a way to fix this issue. I will see if I can fix this by adding a custom target to the MSBuild. Can you tell me if this is entirely handled by static web assets generation process?

[2020-04-13 13:40] javiercn commented on #20700
@otaskiran have you checked that you are forwarding the headers correctly? I would check that the request host is correct.

[2020-04-13 13:41] #20714 closed

[2020-04-13 13:42] #20727 closed

[2020-04-13 13:46] javiercn commented on #20754
@Oleg26Dev thanks for contacting us.

This question is not specific to Blazor. From what I understand from similar issues, port 6000 is reserved for another app, I would suggest you try a different port. See [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.1#configureiconfiguration) for details

[2020-04-13 13:47] #20754 closed

[2020-04-13 14:05] drauch opened #20784 "SignalR sometimes calls JQuery ready handlers again"
I'm using SignalR on a ASP.NET Core 3.1 page for a little game.

Sometimes though, SignalR performs some kind of synchronous AJAX request and afterwards my JQuery ready handlers are called again. That has some serious implications, because all the event handlers I register in ready events are now registered twice (and it can even get worse, I already experienced up to 6 re-registrations).

Here is

[2020-04-13 14:30] SteveSandersonMS opened #20785 "Verification of preview 4 items"
- [x] https://github.com/dotnet/aspnetcore/issues/20430
- [x] https://github.com/dotnet/aspnetcore/issues/19086
- [x] https://github.com/dotnet/aspnetcore/issues/19822 (note: currently broken by https://github.com/dotnet/aspnetcore/issues/20789 but after applying a manual workaround, I was able to verify the hashes are correct)
- [x] https://github.com/dotnet/aspnetcore/issues/19931
- [x] https://

[2020-04-13 14:38] javiercn commented on #20776
@weitzhandler thanks for contacting us.

Closing this issue as it is a dupe of #18088. we'll be using that issue to track it.

[2020-04-13 14:38] #20776 closed

[2020-04-13 14:39] nssidhu opened #20786 "Blazor Router not working"
what i noticed is that on click of donation, it refresh loads the entire page again, whereas on click of other link it simply switches to component without causing the refresh load.

[2020-04-13 14:41] nfplee opened #20787 "Allow nested editor templates of the same type"
When you call an editor template inside another editor template the inner editor template won't render (providing they both have the same model type).

For example say I have a string against my model to select an image URL. Now say I have an editor template called "SelectImage" with the following content:

[code]

This is called by feeding in the template name, e.g.:

`@Html.EditorFor(m => m.Imag

[2020-04-13 14:46] DanielFawcett opened #20788 "Blazor refreshing or navigating to a sub page gives HttpStatusCode: 404"
### Describe the bug
When refreshing or navigating to a sub page of a hosted website it will give a 404 error.

This is a Single page application with no server and is hosted on azure static sites and is also using a CSN.

### To Reproduce
Publish a site with multiple pages to azure static sites.
Try to navigate a sub page www.domain.co.uk/about
you will get the below error.

The requested content

[2020-04-13 14:48] nssidhu commented on #20786
No matter what i do the new pages that i add always run into error **"Sorry, there's nothing at this address."**
I even copied everything from counter component and renamed it to differently and updated Navigate menu to this new name. it still resulted in routing error **"Sorry, there's nothing at this address."**

**My new page Donation**
[code]

**My routerPage**
[code]

**I am using Visual Stud

[2020-04-13 14:53] DanielFawcett commented on #20788
I can leave the site if you want a live example

[2020-04-13 15:02] SteveSandersonMS opened #20789 "Publish hosted PWA from VS is broken"
Found during verification. Repro:

 * Create a new Blazor WebAssembly hosted + PWA project
 * Using the VS user interface, publish the "Server" project

Result:

[code]

I'm pretty sure the issue was introduced here: https://github.com/dotnet/aspnetcore/commit/8232c6a4d86872ca2641c2b7379409240056aaef#diff-2d7c5407183e4a97df7698f63cd8a945L92-R181 (link seems not to work correctly, so search for `_O

[2020-04-13 15:18] javiercn commented on #20788
@DanielFawcett thanks for contacting us.

This is likely an issue in the "host" in the set that you need to configure it to serve a default document for any route that doesn't match. I believe there is a way to do that with azure static sites.

/cc @danroth27 who has been doing some work in this area.

[2020-04-13 15:20] #20788 closed

[2020-04-13 15:22] javiercn commented on #20786
@nssidhu thanks for contacting us.

Are your pages in a separate assembly? If that is the case you need to add the assembly to the list of things for the router to scan. It can be done by passing the assembly into the "AdditionalAssemblies" for the router in the App.razor component (if you are using the default template).

[2020-04-13 15:22] mbrierst commented on #9240
So, overall, SignalR guarantees message ordering unless you are using a backplane, in which case the order is only guaranteed if the backplane guarantees the order, which is true of the officially supported backplanes.  So in practice, ordering is guaranteed and it would be a waste of time to build my own message ordering system.

[2020-04-13 15:25] rclarkezaner commented on #19476
I am getting this too.

Microsoft.NETCore.App 3.1.3 [/usr/share/dotnet/shared/Microsoft.NETCore.App]
Ubuntu 18.04.2
Apache/2.4.29

I had wondered if this error was related to the size of the request.

**It is not**. The crash here the content-length is 1694976

I have had successful requests more than 3x that size

 Here is some data captured by my UseExceptionHandler(), in case it helps someone

[2020-04-13 15:26] adamasmar commented on #20706
Gotcha. I'm on Blazor version 3.2.0-preview3.20168.3 for what it is worth.

And in a further plot twist, when I debug the same server application within Visual Studio 16.4.3, I don't have any issues. It seems to only be occurring when I debug the server application on Version 16.6.0 Preview 2.1.

[2020-04-13 15:27] SteveSandersonMS opened #20791 "Fix for #19670 (error page in hosted template) is incomplete"
Although the error page is now in the template, it doesn't take effect because we are still missing:

 * `services.AddRazorPages();` in `ConfigureServices`
 * `endpoints.MapRazorPages();` in `Configure`

It's a bit unfortunate that we have to end up bringing in all the Razor Pages stuff in addition to Controllers in the Blazor WebAssembly hosted template. However the only alternative would be to i

[2020-04-13 15:41] SteveSandersonMS commented on #13549
I've heard this is being treated as a bug on the VS side, since it affects not just Blazor but various other tech stacks and 3rd-party build customizations too.

When VS 16.7 ships, we should re-verify this. The problem might be gone.

[2020-04-13 15:42] Oleg26Dev commented on #20754
Yes, it is not Blazor specific but ASP.NET Core specific.

It is not resolved.
The port 6000 is not reserved for other app. The question is if I use these settings:
launchSettings.json:
"applicationUrl": "https://localhost:6001;http://localhost:6000",
webBuilder.UseStartup()
.UseUrls(urls: new String[] { "http://*:5000", "https://localhost:5001" });

the server does not start.

[2020-04-13 15:49] davidfowl commented on #19476
@rclarkezaner Can you reproduce this after a single request? Can you reproduce it reliably? Does it happen with form posts only? (I see the error is caused by a post request here).

[2020-04-13 15:52] #20713 closed

[2020-04-13 15:57] rclarkezaner commented on #19476
@davidfowl Unfortunately I cannot reproduce it. I only see it happen on form posts. It's an online application form where customers enter biodata and upload a selfie. Sometimes it will happen several times in a row to the same customer making me think it's caused by something in the request body.

[2020-04-13 15:59] DanielFawcett commented on #20788
But the problem is that that page does exist and it is still giving the does not exist document. Does that make sense.

So you can access the page from the nav menu but then if you Refresh you get the error, is this still a host problem??

[2020-04-13 15:59] davidfowl commented on #19476
It's definitely a bug. Sounds like we need to stress form parsing some more to flesh it out (that component was re-written in 3.x)

cc @jkotalik @Tratcher

[2020-04-13 15:59] DanielFawcett commented on #20788
@javiercn

[2020-04-13 15:59] weitzhandler commented on #20776
Self reference: another alternative is to set the property to `default!` or `null!`.

[2020-04-13 16:07] Tratcher commented on #19476
@rclarkezaner can you share the body? That's the relevant part here.

[2020-04-13 16:13] rclarkezaner commented on #19476
@Tratcher  I would like to share the body but cannot figure out how to access it in my  error handler.

[I have an open SO question on this](https://stackoverflow.com/questions/61175471/unable-to-access-http-request-body-content-in-asp-net-core-3-1-exception-handler)

This error occurs pretty frequently, so once I have the capture part solved it won't take long to get some samples.

[2020-04-13 16:19] mkArtakMSFT commented on #20771
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-04-13 16:22] mkArtakMSFT commented on #20765
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-13 16:23] Tratcher commented on #19476
This stack trace implies there's an issue in Kestrel rather than the form reader.
[code]

The `BadHttpRequestException: Unexpected end of request content` from the original post points to possibly the same place, though the BadHttpRequestException wouldn't have been thrown if you hit the other exception given above.
https://github.com/dotnet/aspnetcore/blob/e3d3da3546aa2085aa39520f3c302d0672e5bab8

[2020-04-13 16:24] BrennanConroy commented on #20784
Yes, you have 2 connections open, you should take a look at your connection startup logic, you might be calling it multiple times accidentally.

[2020-04-13 16:27] mkArtakMSFT commented on #20761
Thanks for contacting us. Can you please share what the scenario is you're trying to accomplish. What are you trying to do that you can't with current implementation.

[2020-04-13 16:32] mkArtakMSFT commented on #20747
Let's wait till VS release and then give it a try, @yudielcurbelo. Please get back to you with your results.

[2020-04-13 16:33] mkArtakMSFT commented on #20738
Make sure you also unregister and remove the service worker from the browser dev-tools.

[2020-04-13 16:33] Tratcher commented on #20566
"server.urls" is considered obsolete and replaced by "urls". We transitioned to "urls" quite a while ago, but I don't see the associated annoucement.
WebHost checked both for backcompat.
https://github.com/dotnet/aspnetcore/blob/d4a2fa1ceb3b9c10054da8a7c6a4bd61801aea18/src/Hosting/Hosting/src/Internal/WebHost.cs#L303
GenericHost does not.
https://github.com/dotnet/aspnetcore/blob/e3d3da3546aa2085a

[2020-04-13 16:34] mkArtakMSFT commented on #20715
Thanks for contacting us. This is not a good fit for Blazor app-model at this time.

[2020-04-13 16:34] #20715 closed

[2020-04-13 16:37] mkArtakMSFT commented on #20702
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-04-13 16:41] mkArtakMSFT commented on #20700
@shirhatti do you know whether there are any additional settings to be set with Linux app service, to ensure headers are properly forwarded?

[2020-04-13 16:44] mkArtakMSFT commented on #20729
Glad that it worked out, @DimitrisRousis.
Can you share the version number of the Edge browser, when it opens up when you start the debugging session?

[2020-04-13 16:45] nssidhu commented on #20786
No. its in the same assembly right next to counter.razor and fetchdata.razor under the pages folder

[2020-04-13 16:47] nssidhu commented on #20786
![blazorRoutingerror1](https://user-images.githubusercontent.com/3267605/79139779-8b9d9b00-7d7c-11ea-8005-04b807ec0955.png)
![BlazorRoutingError3](https://user-images.githubusercontent.com/3267605/79139821-9c4e1100-7d7c-11ea-91c2-14c6c4915200.png)

[2020-04-13 16:49] mkArtakMSFT commented on #20787
Thanks for contacting us. This is not something we will invest in.

[2020-04-13 16:49] #20787 closed

[2020-04-13 16:49] Essaadani commented on #19590
For me, the problem is resolved by running the following commands:
`dotnet dev-certs https --clean` this will clean HTTPS development certificates from the machine, it may ask you to enter your password.
Then, I run the following command:
`dotnet dev-certs https --trust`
And finally, the HTTPS developer certificate was generated successfully

[2020-04-13 16:50] nssidhu commented on #20786
![blazorRoutingerror1](https://user-images.githubusercontent.com/3267605/79140020-f51da980-7d7c-11ea-936e-4e9146031da5.png)
![BlazorRoutingError3](https://user-images.githubusercontent.com/3267605/79140035-fc44b780-7d7c-11ea-9d89-900c3b5316bc.png)

[2020-04-13 16:52] mkArtakMSFT commented on #20750
Thanks for contacting us.
The actual installation mechanism doesn't matter. As long as the node is available on the PATH, it'll work. Seems like that installation mechanism doesn't set the PATH properly.

[2020-04-13 16:52] #20750 closed

[2020-04-13 16:52] nssidhu commented on #20786
![blazorRoutingerror1](https://user-images.githubusercontent.com/3267605/79140151-25654800-7d7d-11ea-80a2-41dbf964f03f.png)
![BlazorRoutingError3](https://user-images.githubusercontent.com/3267605/79140169-2c8c5600-7d7d-11ea-89d5-1a5bed011500.png)

[2020-04-13 16:54] szalapski commented on #5456
I would love to get a faster development cycle too.  Once we had hot-reload working for Vue, it was so nice to make a change and see it 1.0-2.0 seconds later in the browser.  Now I see the need for something like that here.

`dotnet watch run` gets us part of the way here--would there be a simpler answer, perhaps some way to speed up the build so that it is faster when nothing but a .razor file ha

[2020-04-13 16:54] SteveSandersonMS commented on #20791
Fixed in https://github.com/dotnet/aspnetcore/pull/20792

[2020-04-13 16:54] #20791 closed

[2020-04-13 16:54] mkArtakMSFT commented on #20717
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-13 16:54] #20785 closed

[2020-04-13 16:55] KamranShahid commented on #20566
I will try to update this in my service. problem is i already have deployed this service at multiple places. Will see how can i update My script regarding this.
Any way thanks for this precious information

[2020-04-13 16:59] mkArtakMSFT commented on #20679
This is now fixed.

[2020-04-13 16:59] #20679 closed

[2020-04-13 17:01] NTaylorMullen commented on #20626
This looks to be fixed 5 days ago by https://github.com/dotnet/aspnetcore/commit/b29f1fa5eafb25dd6cf3947cc645b2e1c375f3fc

We also more recently took an update 2 hours ago: https://github.com/dotnet/aspnetcore/commit/ce85f28672f40ea5a69e509f3d9fc83cf90f5b5e

Closing this out.

[2020-04-13 17:01] #20626 closed

[2020-04-13 17:36] ryanbrandenburg commented on #20632
https://github.com/dotnet/aspnetcore-tooling/pull/1777

[2020-04-13 17:36] #20632 closed

[2020-04-13 17:43] LeeActon commented on #20729
@mkArtakMSFT.

For me, debugging does not work in **Microsoft Edge Version 80.0.361.111 (Official build) (64-bit)** nor **Firefox 75.0 (64-bit).**

Everything works great in **Google Chrome Version 81.0.4044.92 (Official Build) (64-bit)**.

[2020-04-13 17:57] danroth27 commented on #20788
Hi @Danielfawcett. Blazor does client-side routing, where it intercepts browser navigations and then renders the correct component based on the route. Obviously this can only work after the Blazor app has been loaded and started from the root of the app. If you navigate the browser directly to a page other than the root, then you need to have something on the server that redirects to the root of t

[2020-04-13 18:00] #20509 closed

[2020-04-13 18:02] DanielFawcett commented on #20788
Wonderful, that makes a lot more sense as with my wasam with asp.net server it works fine!! Thank you for you’re help! Keep up the good work all of you, absolutely love blazor.

[2020-04-13 18:38] ericstj commented on #20794
@Pilchie @danroth27 in case this is web or blazer  specific.  @dsplaisted in case it is sdk.

[2020-04-13 18:43] drauch commented on #20784
As you can see from the console log output: I have 2 connections open only AFTER SignalR performs this mysterious synchronous AJAX call. Just like any other of my document ready handlers, the one initializing the SignalR connection is also called twice in that scenario which is why I have two connection after the reload.

But why is SignalR performing this synchronous AJAX request + then re-callin

[2020-04-13 18:47] drauch commented on #20602
@davidfowl & @Tratcher Thank you for your contributions. It looks like this is no "low-hanging fruit" and needs a bit of effort on our side, which is why we've decided to not follow through with implementing this in the next few weeks.

When it is scheduled on our side, I'll come back and update this thread with more information about whether your advice has helped me to achieve my goal and what k

[2020-04-13 18:51] anurse commented on #20730
@mkArtakMSFT per this comment is sounds like the issue is resolved. Was there something else to look in to here?

[2020-04-13 18:51] #20730 closed

[2020-04-13 18:54] BrennanConroy commented on #20784
SignalR doesn't do any synchronous AJAX requests, and we definitely don't do anything with calling document ready event handlers.

Do you have an app you can share that repros the issue?

[2020-04-13 18:57] anurse commented on #20762
Closing as duplicate

[2020-04-13 18:57] #20762 closed

[2020-04-13 18:58] davidfowl commented on #20784
Old signalr does, but new signalr does not.

[2020-04-13 18:59] Tratcher opened #20796 "AccessViolationException in IIS in-proc request cleanup"
ASP.NET 5.0 Blazor Server app with ApplicationInsights frequently crashes while accessing request data from `HostingApplication.DisposeContext`. @DamianEdwards

[code]

The IIS call is here:
https://github.com/dotnet/aspnetcore/blob/b463e049b6aed02f94edcac8855b8b5c87d0989b/src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs#L100-L109

It looks like it needs to re-order PostCompletion and DisposeCont

[2020-04-13 19:02] NTaylorMullen commented on #20740
@mkArtakMSFT most other dups are in VSTS. This might be the first in AspNetCore. @3GDXC stay tuned for the 16.6-preview3 release where it's fixed.

[2020-04-13 19:02] #20740 closed

[2020-04-13 19:04] aluzme commented on #20762
When library which support automaticereconnect on java release?

[2020-04-13 19:06] NTaylorMullen commented on #20427
Sadly I'm not familiar with the proxy side of things. @SteveSandersonMS could you assist?

[2020-04-13 19:08] danroth27 commented on #20770
Hi @shahidroofi. Blazor WebAssembly apps use a WebAssembly implementation of the Mono IL interpreter instead of .NET Core, so the .NET Core docs are still technically correct. It's a bit confusing right now, because there are multiple different .NET implementations that make up the .NET ecosystem currently. In .NET 5 this should all get cleaned up and unified.

[2020-04-13 19:08] #20770 closed

[2020-04-13 19:17] BrennanConroy commented on #20169
Test is a lot more stable, but still fails occasionally

https://dev.azure.com/dnceng/internal/_build/results?buildId=597791

[2020-04-13 19:39] shirhatti commented on #20700
See https://devblogs.microsoft.com/aspnet/forwarded-headers-middleware-updates-in-net-core-3-0-preview-6/

If you're using AppService for Linux, we're wiring up the forwarded headers middleware for you. If you're using AppService for Containers where you bring your own base image, you'll need to configure it manually.

cc @bradygaster

[2020-04-13 19:39] javiercn commented on #20794
We'll take a look.

[2020-04-13 19:48] anurse commented on #20762
We have no committed date to ship this feature, it will be considered for a future release. The issue I linked is in the backlog meaning it isn't planned for the next release.

[2020-04-13 20:00] #18963 closed

[2020-04-13 20:13] drauch commented on #20784
OK, thanks guys. If there is no hidden page reload on connection losses or something like that, I need to dig deeper into the application. Probably a red herring that it occurs in situations in which the SignalR client loses the connection to the hub.

I'm using the new SignalR, so the sync AJAX can't be from you and it must come from something else. I will debug into it.

[2020-04-13 20:13] #20784 closed

[2020-04-13 20:15] nfplee commented on #20787
I would like you to reconsider. I understand your reasoning is that this is using HTML helpers and nowadays the preferred way of doing things is using tag helpers. However there is no built in tag helper for the editor/display templates.

I use @DamianEdwards [tag helper pack](https://github.com/DamianEdwards/TagHelperPack/tree/master/src/TagHelperPack), but I didn't want to over complicate my ori

[2020-04-13 20:30] TanayParikh opened #20797 "Razor Syntax Tree MarkupTextLiteral Capturing Content Out of Context"
Code Snippet:
![image](https://user-images.githubusercontent.com/14852843/79156128-33b86180-7d87-11ea-90ca-d5cda4b8af4f.png)

Issue: At the cursor position (line 4), the syntax tree interprets being at a `MarkupElement` node with 2 children.

1. MarkupStartTag (logical)
2. MarkupTextLiteral based on the (unrelated) "closing" > on line 11

![image](https://user-images.githubusercontent.com/14852843

[2020-04-13 21:00] #20568 closed

[2020-04-13 21:00] #20534 closed

[2020-04-13 21:06] anurse commented on #20169
Are you able to take another look at this @JamesNK?

[2020-04-13 21:07] jvallejoa commented on #20256
Hello, this is a tremendous bug and I think is high priority. It **ALWAYS** happens when after creating a WebAssembly Client project with individual authentication the user scaffolds "Accounts" defaults razor pages for editing pages, like Register, Login, etc. Please, we developers do need this error be resolved asap. Thanks!!

[2020-04-13 21:10] anurse commented on #20796
Triage: We think that accessing the request in `DisposeContext` is invalid behavior here, App Insights should try to avoid doing that. We'll look at doing some hardening to prevent an AV, but may still throw an exception.

[2020-04-13 21:15] #19202 closed

[2020-04-13 21:17] yopez83 opened #20798 "When to use ChildContent and Why?"
Usually I see this approach to create a Parent containing a Child. Valid to say Foo must have a parameter named `ChildContent`.
[code]
But, at the same time, I can also achieve the same result not having the `ChildContent` parameter and just doing this.
[code]
Then, When should I have a ChildContent? Why? Is there any benefit?

[2020-04-13 21:21] nssidhu commented on #20786
Is there a way to check whats in the Route Table ?

[2020-04-13 21:23] jvallejoa commented on #20422
Yes, this is the same bug open in several threads. No way to scaffold accounts items, it corrupts all the entire page, I share the windows result. the message in console is DOMException-EntryAlreadyExists

@danroth27

Thanks

<img width="960" alt="error" src="https://user-images.githubusercontent.com/8346875/79162468-f06bec00-7da2-11ea-9b3e-b0582b35af64.png">
@danroth27

[2020-04-13 21:32] clintnetwork commented on #20666
Yes, I will try to do that!

[2020-04-13 21:34] EdCharbeneau commented on #20798
If I understand the question correctly. ChildContent is needed explicitly when there are other RenderFragments and the ChildContent can't be implicitly assigned.

[2020-04-13 21:48] yopez83 commented on #20798
Then, `EditForm` defines a ChildContent since implicitly doesn't know what its content will be. Instead delegate the responsibility of defining the content to the developer. However, if you have the control over what the content is (like in my second snippet above), there is no need for having a ChildContent, right?

[2020-04-13 21:53] EdCharbeneau commented on #20798
ChildContent is specifically intended to let a component act as a generic container or template. If you're not intending someone to set the inner content then ChildContent is not useful to you.

[2020-04-13 21:56] ajaybhargavb commented on #20797
This is by design. See [here](https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.Language/Legacy/HtmlMarkupParser.cs#L975). We parse the start tag until we see another `>` or `<`. Given that our attribute area can have C# in there, we can't really have other characters be part of the `IsEndOfTag()` condition unless we want to break a lot of other assu

[2020-04-13 22:01] halter73 commented on #19476
Before `Http1ContentLengthMessageBody.ReadAsync()` throws, it calls `AdvanceTo(readResult.Buffer.Start)` on the underlying connection PipeReader (a DefaultPipeReader) to put it back in a usable state.

This usually works, but an InvalidOperationException is thrown if the last time the PipeReader was advanced, more data was examined than consumed. Since Http1ContentLengthMessageBody only passes the

[2020-04-13 22:07] yopez83 commented on #20798
Fair enough. Thanks

[2020-04-13 22:07] #20798 closed

[2020-04-13 22:14] Vaccano opened #20799 "An Async `AddJwtBearer` Lambda does not Complete for First Call"
### Describe the bug
The call pipeline does not await the `AddJwtBearer` lambda when it is called via `async` with an `await` in it.

See this stack overflow answer for more details: https://stackoverflow.com/a/61196214/16241

### To Reproduce
1. Create a new .Net Core Web Application
2. Select that you are making an API from the wizard
3. Add the `Microsoft.AspNetCore.Authentication.JwtBearer` Nu

[2020-04-13 22:15] rynowak commented on #20450
@davidikin45 - do you have an example of another route you expect this to match?

If you turn logging of `Microsoft` up to `Debug` what kind of log output do you see? Are the 404s coming from your code or from a failure to match anything?

[2020-04-13 22:24] captainsafia commented on #20524
Thanks for reporting this issue. I attempted to repro this with the latest developments bits of Blazor and was not able to do so.

I created a new blazorwasm project.

[code]

I ran the build step in a release configuration twice in a row.

[code]

The SHAs generated for the DLLs in both these builds were the same. See [this](https://gist.githubusercontent.com/captainsafia/1e16804a923ba8cd1fe44ab4

[2020-04-13 22:24] #20524 closed

[2020-04-13 23:06] Timka654 commented on #17926
Have problem too, 3.2.0-preview3.20168.3
Chrome 80.0.3987.163
i'm dont not having permissions for publish original code, but write this sample
`
<button @onclick="Activate">Click me</button>

@if (IsActive())
{
<input type="text" @oninput="ProcessContent" @onfocusout="Deactivate" />
}

@code {

    bool active = false;
    [Inject] System.Net.Http.HttpClient c { get; set; }

    async void Process

[2020-04-13 23:08] dazinator commented on #5456
Are there any plans to address this by having a kind of "runtime compilation" for .razor files running in the browser, analogous to the runtime compilation of .cshtml files that runs on the server? E.g so that .razor files themselves are directly loaded into the browser (instead of the precompiled assemblies) and then compiled there, and then if they are edited on the server, the changed .razor fi

[2020-04-13 23:31] ScottyBlazor commented on #20731
I found a workaround to the issue of the "IntelliSense loading" in background tasks that never stops from another post.
If you go to "Tools -> Options" "Environment -> preview features" and turn off the "Load projects faster" setting then the issue does not occur after reloading the solution

[2020-04-14 00:23] cacodev commented on #19987
I tried to use the forwarded middleware today to get the IP address of my client that is calling my web app and I ran into issues with the right to left parsing. Trying to get the client's IP address with at least one proxy. My company uses Pivotal Cloud Foundry (or VMWare Tanzu now I guess) and every time I push, my app gets proxied by a different GO router.  We have a large number of these and f

[2020-04-14 01:59] Tratcher commented on #19987
You can do that with the KnownNetworks option. That would be `new IPNetwork(IPAddress.Parse("10.11.12.0"), 24)`.

[2020-04-14 02:19] TheDruidsKeeper commented on #18463
I'm running into this same issue, which unfortunately causes ServiceStack framework to not hydrate request dto's. In case it's useful to anyone else, I managed to work around the issue by doing the following on the WebHostBuilder:
[code]

It's not ideal but works to get the content length set, which gets everything else working properly downstream.

[2020-04-14 02:49] Tratcher commented on #18463
@TheDruidsKeeper that assumes the entire request body is read in one read. A better workaround would be to set the content length on the client.

[2020-04-14 02:56] ScholliYT commented on #18169
Just had the same Problem with `asp.net core mvc 3.1`. Seems really weird 😒

[2020-04-14 03:42] ngoquoc commented on #20783
This is what I have in my `ConfigureServices()` as a work around just in case someone needs it:
[code]

[2020-04-14 04:31] ryanelian commented on #18979
Would this feature only limited in Blazor WASM?

I made a past issue where this feature is also crucial in server-side Blazor using OpenID Connect: (it is marked as Discussion unfortunately)

https://github.com/dotnet/aspnetcore/issues/13709

There are numerous other people in that thread who also requested such feature to be implemented.

[2020-04-14 04:58] BrennanConroy commented on #20333
Done via https://github.com/dotnet/aspnetcore/pull/20438

[2020-04-14 04:58] #20333 closed

[2020-04-14 05:54] bilalmalik777 opened #20814 "unable to ge controller name and method type in AuthorizationHandler in dotnet core 3.1"
Hello, we updated our application from 2.2 to 3.1. we were using AuthorizationFilterContext to get the controller name in custom authorization. Now it is showing null. Actually our custom authorization needs controller name and method type to evaluate the requirements. but in dot net core 3.1 AuthorizationFilterContext is coming null. so please help me how can i get controller name and method type

[2020-04-14 06:46] #20566 closed

[2020-04-14 08:29] RichardBr opened #20805 "Blazor validation doesnt work when using MetadataType attribute on classs"
### Describe the bug
When I use the MetadataType attribute (from System.ComponentModel.DataAnnotations) on the class for the purpose of validation I get the following error in the console window
`WASM: System.TypeLoadException: Could not resolve type with token 01000027 from typeref (expected class 'System.ComponentModel.DataAnnotations.MetadataTypeAttribute' in assembly 'System.ComponentModel.Ann

[2020-04-14 09:07] valeriob commented on #16637
Hi, is this work tracked in another repo since it's marked as External ?
Thanks

[2020-04-14 09:14] gklittlejohn opened #20806 "API Analysers don't support expression body methods"
### Describe the bug
I have enable IncludeOpenAPIAnalyzers on my project, these work in most cases however methods using an expression body do not show warnings.

### To Reproduce

Create add IncludeOpenAPIAnalyzers to the csproj file:

[code]

Create a minimal API Controller as so:

[code]
The first action shows a warning, the second action does not.

### Further technical details
- ASP.NET Core

[2020-04-14 09:18] javiercn commented on #20805
@RichardBr thanks for contacting us.

This is not a feature that we currently support AFAIK.

/cc: @SteveSandersonMS @pranavkm

[2020-04-14 09:21] javiercn commented on #20786
@nssidhu can you share a minimal repro project that showcases this issue?

[2020-04-14 09:30] geoffappleford commented on #20055
This problem is affecting me too.

I can reproduce in a brand new Asp.net core app (eg File, New Aspnet Core in VS) and enabling nullable reference types. eg csproj looks like:

[code]

Without enabling nullable, everything works as expected.

It also compiles fine (using `dotnet build`) when using sdk version `3.1.100` but fails in `3.1.200`.

Visual Studio always compiles just fine but I don't k

[2020-04-14 09:39] Mercally commented on #19590
The solution proposed by @javiercn in its [batch file](https://gist.github.com/javiercn/d04855b7a3581bf97d1ab9597935413f#file-generate-sh) worked for me, just replace the password where it belonged and that worked wonderfully! Thank you.

[2020-04-14 10:20] qkhanhpro commented on #20643
@Tratcher I have a question on how to intercept only the IDX20803 error
Currently I am throwing the exception in the "else". Do you think that is safe for the normal flow?"

`OnAuthenticationFailed = (context) =>
                        {
                            if (context?.Exception?.Message != null && context.Exception.Message.StartsWith("IDX20803"))
                            {

[2020-04-14 11:00] #20756 closed

[2020-04-14 11:00] #20755 closed

[2020-04-14 12:00] #20599 closed

[2020-04-14 12:12] Freeesia opened #20807 "Warning about UseAuthorisation in Map"
### Describe the bug
If I implement `.UseRouting()` and `.UseEndpoints()` in and out of `app.Map()`, respectively, and `.UseAuthorization()` in `app.Map()`, I will get `ASP0001` warning.

### To Reproduce
[code]

See `warning ASP0001: The call to UseAuthorization should appear between app.UseRouting() and app.UseEndpoints(..) for authorization to be correctly evaluated.`

### Expected

No warnings

[2020-04-14 12:30] blowdart commented on #20807
@pranavkm this is your analyzer isn't it?

[2020-04-14 13:15] markerikson commented on #16907
Hi, wanted to follow up on this.

I'd still really like to see any template code converted to use Redux Toolkit by default, as we now do in our official Redux templates for Create-React-App:

https://github.com/reduxjs/cra-template-redux

In fact, is there maybe some way to actually have ASP.net project setup use the CRA template automatically?

[2020-04-14 13:17] SteveSandersonMS commented on #16907
cc @danroth27

[2020-04-14 13:55] nlz242 commented on #20427
For the record, i tried deleting the obj/bin folders as suggested by @Arrowana and this did NOT fix it for me.
I'll be happy to help with whatever is needed (logs, troubleshooting, etc).

[2020-04-14 14:27] boniyustin commented on #19590
The scripts from @javiercn work smoothly for me as well. Thank you. It took a day for me to solve this.

[2020-04-14 14:33] elvince opened #20809 "Net Core 3.1 - Angular Project - err 111 Connection refused - Status 503"
### Describe the bug
after launch:
Issue: The web page show a Squid Page with ::1 connexion failed. error 111 connection refused.
In output log:
Failed to load resource: the server responded with a status of 503 () [https://localhost:44343/]
### To Reproduce
Create a blank Net core Web project with angular.
Run npm install
Build and run.

### Further technical details
dotnet info:
SDK .NET Core (r

[2020-04-14 14:36] Morhpeuss commented on #20775
Hello,

@javiercn  I don't think that the problem is "how to use ASP.NET Core". I have 19 years of experience with .NET from WebForms /ASP.NET MVC to ASP.NET Core (and other technologies on .NET platform), so I think I know how to use ASP.NET Core. Stackoverflow was the first place where I was looking for a solution.

This could be a general problem. If I call the script where I initialize the sli

[2020-04-14 14:43] njannink opened #20810 "Blazor WASM hosted with IdentityServer4 can't connect to authorized SignalR hubs and <img> sources not working"
Hello I updated my Blazor WASM application to use IdentityServer4 based on the following documentation:

https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/hosted-with-identity-server?view=aspnetcore-3.1

This works fine for the http API requests.

The problem I run into is that I also have a `[Authorize]` SignalR hub and I have API controllers that provide  img sources. When

[2020-04-14 15:05] javiercn commented on #20810
@njannink thanks for contacting us.

If you are able to get a token and call an API I think the issue might be either on the signalr side client configuration or in the way the hub is secured?

I believe SignalR sends the access token in a query parameter during the connect/negotiate phase. If that's the case, it's likely that the default auth middleware won't pick it up, as it expects it to be on

[2020-04-14 15:06] Kahbazi commented on #20807
@Freeesia What I'm about to say has nothing to do with the warning but it seems you would like to have two separate pipeline for your application. One for controllers and one for health check and spa, and you are using `UseRouting` and `UseEndpoints` middleware twice. As far as I know `UseEndpoints` middleware is bind to one source and it doesn't matter if you are using it in separate middleware.

[2020-04-14 15:16] njannink commented on #20810
In the browser console log you see the following error:

When using Fiddler I see the following events:
200	HTTPS	localhost:5001	/hubs/test/negotiate?negotiateVersion=1
200	HTTP	Tunnel to	localhost:5001
401	HTTPS	localhost:5001	/hubs/test?id=swZ6XmBUxYtjAVbnOodkTg

So it looks like the initial connection to SignalR succeeds but the websocket connection seems to fail

[2020-04-14 15:38] nvmkpk commented on #20763
I have a hacky fix for this that works for my case but I think the real fix should be in core msbuild task that generates or reads the assembly reference cache file. Currently msbuild appears to ignore the dependencies of a reference that has `ReferenceOutputAssembly` set to false. It should instead add all the references of it with `ReferenceOutputAssembly` set to false unless they are also refer

[2020-04-14 15:47] Morhpeuss commented on #20775
@javiercn  I did a small test, After render, I call very simple javascript:

`	$('.slick-el').empty();
	$('.slick-el').append($('<div>Hi this my div</div>'));`
As you can see, the script cleans my element and then add an new element. I get exactly same error:

    at s (blazor.server.js:8)
    at Object.t.createAndInsertLogicalContainer (blazor.server.js:8)
    at e.insertMarkup (blazor.server.js:

[2020-04-14 15:53] blowdart commented on #20811
Moved as this is not a docs issue.

This is expected, we cannot drop the connection due to how the interplay between connection and app code, nor would we expect to anyway, as the user may continue to a valid request.

[2020-04-14 16:01] elvince commented on #20809
Just in case I'm with VS0219 16.5.3

[2020-04-14 16:16] Tratcher commented on #20643
No need for the else block, that's the default behavior if you don't call NoResult.

[2020-04-14 16:32] Joelius300 commented on #12685
Just because it hasn't been mentioned yet.

The temporary solution provided by @rChavz only works on client-side blazor because there the injected `IJSRuntime` is a singleton (which imo is an implementation detail and shouldn't be counted on). For server-side (and libraries of course) you'd have to do this modification for every injected `IJSRuntime`.

[2020-04-14 16:32] danroth27 commented on #16907
Hi @markerikson. We are having various discussions about how to maintain the various ASP.NET Core SPA templates going forward. We certainly would like them to stay up to date with the latest best practices. We'll be digging deeper into how to achieve that for .NET 5. We're focused on other priorities right now, but we should be in a better place to engage on this issue in about a month (basically

[2020-04-14 16:38] ahlurien opened #20812 "Intellisense for partial class not working"
When placing the code for a blazor component in a code behind file using a partial class the code runs ok, but Intellisense underlines the class members in red and says "the name x does not exist in the current context"

[2020-04-14 16:38] mkArtakMSFT commented on #20729
@LeeActon thanks for the info. The Edge version is the same as one of our team member has, and they are debugging just fine. we will look into this in our next sprint planning, as we're wrapping up Blazor WASM release.

[2020-04-14 16:46] mkArtakMSFT commented on #20809
Thanks for contacting us. The `Squid Page` you're referring to is not enabled by-default, so we assume that somehow impacts your experience.

We recommend you to follow up with their community to get help on how to set it up properly with ASP.NET Core Angular app.

[2020-04-14 16:46] #20809 closed

[2020-04-14 16:48] ghost opened #20813 "Supporting customizing query params in redirect URL for OpenID auth"
It is a question!

I have a Blazor WASM SPA. It calls an external IdP authenticate interactive users. The SPA can then use the bearer token to call a seperate API.

How do we pass an additional parameter(option) with the AddOidcAuthentication extension method? The parameter should be added as a query string parameter to the login call of the IdP before redirect.
My code looks like:

builder.Servic

[2020-04-14 16:49] mkArtakMSFT commented on #20806
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-14 16:55] DimitrisRousis commented on #20729
@mkArtakMSFT
I tried on:

- Microsoft Edge Version 81.0.416.53 (Official build) (64-bit)
- Google Chrome Version 81.0.4044.92 (Official build) (64-bit)

With both browsers the debugger works.

[2020-04-14 16:59] elvince commented on #20809
Thanks for the feedback. I will go on the ASP.Net to check what's wrong. I didn't activate anything other installation default Core tools for VS2019.
I will check this.

[2020-04-14 17:00] #20738 closed

[2020-04-14 17:01] firstdivision commented on #14503
@ajcvickers @HaoK

How do I modify the model classes of the Identity objects like `AspNetUserLogins`, `AspNetUserTokens`, etc?  They're buried inside the NuGet package, right?

[2020-04-14 17:02] captainsafia commented on #8241
I'll go ahead and mark this as done since https://github.com/dotnet/aspnetcore/pull/20478 was merged.

Can you open an another issue for this?

[2020-04-14 17:02] #8241 closed

[2020-04-14 17:07] BrennanConroy commented on #20810
This is a dupe of https://github.com/dotnet/aspnetcore/issues/18697 which will be fixed in an upcoming release.

[2020-04-14 17:08] #20810 closed

[2020-04-14 17:25] douglasg14b commented on #14503
@firstdivision

This is what I did

[code]

[2020-04-14 17:28] njannink commented on #18697
I tried the workaround:
`.WithUrl(NavigationManager.ToAbsoluteUri("/chatHub?access_token=XXXX"))`

But that doesn't work for me. I still get a 401 for Bearer header

[2020-04-14 17:29] njannink commented on #20810
I tried the workaround:
.WithUrl(NavigationManager.ToAbsoluteUri("/chatHub?access_token=XXXX"))

But that doesn't work for me. I still get a 401 for Bearer header

[2020-04-14 17:37] BrennanConroy commented on #18697
Are you aware of the server changes needed to read the access_token?
https://docs.microsoft.com/aspnet/core/signalr/authn-and-authz?view=aspnetcore-3.1#bearer-token-authentication

[2020-04-14 17:41] Serg046 opened #20816 "SignalR client disconnects"
I guess I experience similar to https://github.com/dotnet/aspnetcore/issues/5324 issue. The client disconnects from time to time due to `server timeout (30000.00ms) elapsed without receiving a message from the server`. However the server itself is up as well as my SignalR hub as it works fine with typescript client at the same time. Also I see that the server responds to the ping requests. This is

[2020-04-14 17:48] TanayParikh commented on #20797
So to confirm, we aren't able to add the newline character to `IsEndOfTag()` because of the following (valid?) case?

[code]

While the parser recognizes the above case as valid, the following doesn't seem to be allowed:
[code]

The following isn't a valid HTML `<textarea>` tag either.
[code]

[2020-04-14 17:58] mmitche opened #20817 "Microsoft.AspNetCore.AzureAppServices.SiteExtension has dependency on non-shipping Microsoft.Web.Xdt.Extensions"
In the latest 5.0 preview3 build, the Microsoft.AspNetCore.AzureAppServices.SiteExtension package, which is marked as shipping, has a dependency on a non-shipping package Microsoft.Web.Xdt.Extensions.

Should this package be marked as shipping at all? There are no other 5.0 versions listed on nuget.org

[2020-04-14 18:00] mmitche opened #20818 "Microsoft.Web.Xdt.Extensions shows up as a package dependency in Microsoft.AspNetCore.AzureAppServices.SiteExtension"
Microsoft.AspNetCore.AzureAppServices.SiteExtension has a package dependency on Microsoft.Web.Xdt.Extensions, even though the reference is listed as PrivateAssets="all"

[2020-04-14 18:00] #20303 closed

[2020-04-14 18:05] VBAndCs opened #20820 "Blazor FileProviders"
Does Blazer support using File Providers?
If yes, how to configure them to add my file provider? her to call this:
`AddRazorRuntimeCompilation(options => options.FileProviders.Add(myFp));`
If no, why not?

[2020-04-14 18:05] Pilchie commented on #20818
@BrennanConroy  - do you know what's up here?

[2020-04-14 18:06] Pilchie commented on #20818
Also @anurse since this is related to #20817 20817

[2020-04-14 18:10] dougbu commented on #20818
This is likely a problem in eng/targets/ResolveReferences.targets in particular `PrivateAssets="all"` metadata seems to be lost, producing a package with an unintended ref to an internal project that isn't even packable. Putting this on our build board&hellip;

[2020-04-14 18:23] SteveSandersonMS commented on #20820
Could you clarify what your scenario is? Where are you trying to use a file provider, and for what purpose? And are you talking about Blazor Server or Blazor WebAssembly?

[2020-04-14 18:30] ajaybhargavb commented on #20797
Even without C# being involved, we can't use newline as a terminating char because we could have cases like,
[code]

With C# things get even more complicated. I'm sure there could be some cases where we could add some complex logic to detect this doesn't make sense to be a multiline tag but that would add unnecessary complication and make it more bug prone. I am usually wary of touching the parser

[2020-04-14 18:35] #20797 closed

[2020-04-14 18:52] Tratcher commented on #20799
`AddJwtBearer` isn't an async API, nothing in Startup is async.
https://github.com/dotnet/aspnetcore/blob/e7df020906731156268adffa9c7c19fd8ba25747/src/Security/Authentication/JwtBearer/src/JwtBearerExtensions.cs#L17

Adding 'async' in this context makes the lambda `async void`, which is a fire-and-forget pattern, it doesn't return a Task so the caller has no way of knowing when it's complete or wa

[2020-04-14 19:10] anurse commented on #20810
Did you see [this comment](https://github.com/dotnet/aspnetcore/issues/18697#issuecomment-613580421) in the other issue thread?

[2020-04-14 19:11] Devnsyde opened #20821 "Requesting to see FirstName and LastName - User.FindFirstValue(ClaimTypes.GivenName)"
My request is similar to the following post that has already been closed:
https://github.com/dotnet/aspnetcore/issues/18348

I'd like to see the users's first name and last name. I think you would usually get that through ClaimTypes.GivenName

[2020-04-14 19:22] Sm1le291 commented on #20016
HI! Does this fix already available or it will be fixed in the next release?
I am using 3.2.0-preview3.20168.3

[2020-04-14 19:34] danroth27 commented on #20016
@Sm1le291 The fix should have been made in the latest scaffolding packages. Try updating the ASP.NET code generator packages in your project and running scaffolding with the latest generator.

[2020-04-14 19:40] VBAndCs commented on #20820
I am trying to virtually provide the contents of the .razor file to the Blazor WebAssembly, so can I do this using a virtual file provider, like we can do with MVC views and Razor Pages?

[2020-04-14 19:45] #13778 closed

[2020-04-14 19:48] bradlis7 opened #20822 "Validation Summary Not Rendering When Empty Causes Frontend Problems"
It looks like something recently changed with Validation Summary, and it's not rendering when there are no errors to show.

[code]

Results in nothing.

Note that MS [documentation](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-3.1#the-validation-summary-tag-helper) is wrong, as it says this is the expected output:

[code]

When I attempt to add an error

[2020-04-14 19:58] nfplee commented on #20787
I have come up with a temporary solution, that is to set a default value in the view data with the same name as the nested template.

[2020-04-14 20:12] Uzume commented on #12890
Microsoft seems determined to kill off any of their support for ECMAScript in .NET despite there being no major portability issues with it (it is already supported on all major platforms by other implementations at least) and having been introduced by them (via JScript .NET and Managed JScript):
- dotnet/runtime#27155
- dotnet/core#1882
- microsoft/ClearScript#9
- dotnet/AspNetCore#12890

If they

[2020-04-14 20:20] RobinHSanner commented on #20677
Which issue is this a duplicate of?

[2020-04-14 20:23] pranavkm commented on #20677
@RobinHSanner  - https://github.com/dotnet/aspnetcore/issues/14723

[2020-04-14 20:34] njannink commented on #18697
I do this in my startup routine and that seems to work, because a cookie will be issues that is used for authentication in the SignalR hub and also my authorized controllers that provide images.

Do you see any issues with this solution?

[code]

[2020-04-14 20:44] Vaccano commented on #20799
@Tratcher I think that if the lambda was invoked at startup then having it be fire and forget would not be an issue.

The fact that it is invoked in the pipeline of the first call makes it not being async a bit of a problem.

One way to deal with this could be dealt with by updating the documentation to be clear that the lambda can't work with `async `.   So people don't fall in the trap of thinki

[2020-04-14 20:48] rynowak commented on #13778
Thanks @alefranz

[2020-04-14 20:48] pranavkm commented on #13778
Fixed as part of https://github.com/dotnet/aspnetcore/commit/970c9244c7503849d1c9de6e739cbb5ed616e98c.

[2020-04-14 21:22] enetstudio opened #20823 "Need help in understanding why host.Configuration["WeatherServiceUrl"] returns null"
I'm referring to the  [sample code](https://docs.microsoft.com/en-us/aspnet/core/blazor/dependency-injection?view=aspnetcore-3.1#blazor-webassembly) which purportedly demonstrates how to read a value from a default configuration source; I've added an appsettings.json file to my WebAssembly app with settings like: "WeatherServiceUrl": "http://worldweather.wmo.int/en/home.html", but host.Configurati

[2020-04-14 21:30] ShaunCurtis commented on #20761
Hi,
Only a suggestion, I have a perfectly good solution  -build a parallel copy of Inputbase<TValue>, and copies of the Input Controls as I can't override CurrentValue.

It would have been nice to base them on the original InputBase<TValue>.  I think the code above demonstrates what I'm trying to achieve - linking the control to the saved database value and setting the Edit Context modified flag b

[2020-04-14 21:34] pranavkm opened #20824 "Verify 3.1 changes are merged in to master"

[2020-04-14 21:35] Tratcher commented on #20799
The contract is `Action<JwtBearerOptions>`, Action is never async, an async contract would be `Func<JwtBearerOptions, Task>`. That's a C# language level pattern, a doc comment on a specific API does not seem like the appropriate place to explain that.

@stephentoub any thoughts on making a runtime analyzer for "Don't use async/await with Action lambdas."? Is this a common mistake you've seen?

Tha

[2020-04-14 21:39] mkArtakMSFT opened #20825 "Test failed: Microsoft.AspNetCore.Mvc.TagHelpers.CacheTagHelperTest.ProcessAsync_AwaitersUseTheResultOfExecutor"
This test is flaky and is currently quarantined.

[2020-04-14 21:39] mkArtakMSFT commented on #20825
@NTaylorMullen can you please get this resolved soon? Thanks!

[2020-04-14 21:40] pranavkm commented on #20823
Is your appsettings file located under `wwwroot`: https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-model-configuration?view=aspnetcore-3.1#configuration?

[2020-04-14 21:42] mkArtakMSFT opened #20826 "Flaky test: Microsoft.AspNetCore.Components.RevalidatingServerAuthenticationStateProviderTest.IfValidateAuthenticationStateAsyncReturnsUnrelatedCancelledTask_TreatAsFailure"
This test has been failing recently and needs to be stabilized.

[2020-04-14 21:44] captainsafia commented on #20826
Closing this a dupe of https://github.com/dotnet/aspnetcore/issues/19940.

[2020-04-14 21:44] #20826 closed

[2020-04-14 21:47] Suchiman commented on #13992
Well it seems that mono supports it now for client side https://github.com/mono/mono/pull/17760, shouldn't we have parity for server side?
Also this is pretty much a very fundamental feature, being able to show a localized DateTime for anything that wants to be called production ready.

[2020-04-14 22:04] #20641 closed

[2020-04-14 22:05] alfkonee commented on #20427
Same issue here but with Visual Studio Preview Version shown below
![image](https://user-images.githubusercontent.com/3909521/79278188-c1d13c80-7e9a-11ea-847d-461361c46d71.png)
With the following launchSettings Profile
![image](https://user-images.githubusercontent.com/3909521/79278362-15438a80-7e9b-11ea-965c-17e1b305850f.png)
With this Exceptions after 30 s wait
[code]
With this popup
![image](ht

[2020-04-14 22:08] danroth27 commented on #20427
@alfkonee It looks like the debugging proxy may be crashing. Is this by any chance a PWA?

[2020-04-14 22:15] enetstudio commented on #20823
Got it...problem solved...many thanks.

[2020-04-14 22:15] #20823 closed

[2020-04-14 22:21] NTaylorMullen opened #20827 "Investigate if Razor can use full type names in VS' LSP completion descriptions and hovers"
In VSCode tooltips for completion items and hovers are of a limited size so to work around this our language server went through the trouble of minimizing typenames for TagHelpers. Aka for a property `Microsoft.AspNetCore.Razor.TagHelpers.EnvironmentTagHelper.Name` => `EnvironmentTagHelper.Name`.

If VS can handle longer tooltips (it should be able to) we should have a language server platform spe

[2020-04-14 22:26] ryanbrandenburg commented on #20827
Just so I'm clear, you're saying we should add a custom capability for "HandlesLongNames" to `CompletionCapabilities` and `HoverCapabilities`?

[2020-04-14 22:30] captainsafia commented on #20646
Marking as done since https://github.com/dotnet/aspnetcore/pull/20790 is merged.

[2020-04-14 22:30] #20646 closed

[2020-04-14 22:32] captainsafia commented on #20490
Marking as done since https://github.com/dotnet/aspnetcore/pull/20800 is merged.

[2020-04-14 22:32] #20490 closed

[2020-04-14 22:32] NTaylorMullen commented on #20827
I'd go a little simpler. I'd add a command line arg to the language server to indicate the platform (we'll need this anyways for telemetry) and based on the value update our own option type (not yet created) `RazorLanguageServerOptions` that had something like `GenerateMinimalDescriptions: true` for VSCode.

[2020-04-14 22:38] stephentoub commented on #20799
Yup

Yes, the vs-threading analyzers already contains such an analyzer:
https://github.com/microsoft/vs-threading/blob/master/doc/analyzers/VSTHRD101.md
and it's one of the ones we're looking at bringing over to dotnet/roslyn-analyzers and having available for all projects in .NET 5.

[2020-04-14 22:45] pranavkm commented on #17018
I had a look at this. One way to do this is to manipulate the path that items would get published to and let the actual publishing targets do the work, and the other is to do something after the fact. While the first option is doable with vanilla msbuild, it's gnarly to do path manipulation as strings, especially if we want to avoid normalizing the kind of slashes that gets used. I'm not sure if i

[2020-04-14 22:59] NTaylorMullen opened #20828 "Local Razor LSP Editor completion always shows "Starting IntelliSense...""
Performing any completion HTML or C# result in:
![image](https://user-images.githubusercontent.com/2008729/79281944-bb29d180-7e68-11ea-9e86-1d001f53d772.png)

Can reproduce by:
- Download VSMaster
- Enable LSP Powered Razor Editor in the preview features
- Create a new Razor project
- Open a Razor file and type `@` or `<` to get C# or HTML completion respectively.

@AmadeusW is this an LSP client

[2020-04-14 23:08] AmadeusW commented on #20828
This is controlled by "Partial Load Mode". @varunguptacode was the PM IIRC
Roslyn is [also investigating this issue](https://github.com/dotnet/roslyn/issues/43096)

[2020-04-14 23:18] mkArtakMSFT commented on #20729
Thanks for confirmation, @DimitrisRousis. Glad that you've got debugging working for both browsers.
@LeeActon can you try to update to the version listed by @DimitrisRousis above (81.0.416.53) and see whether that fixes it?

[2020-04-14 23:41] #19551 closed

[2020-04-14 23:41] #19660 closed

[2020-04-14 23:44] NTaylorMullen commented on #20160
C# blocks in Razor/Blazor are now debuggable in cloud scenarios:
![image](https://user-images.githubusercontent.com/2008729/79284295-12cb3b80-7e6f-11ea-85b9-a5c7db676df7.png)

Implicit expressions are not. Working with debugger folks to see what we can do.

FYI @mkArtakMSFT @danroth27

[2020-04-14 23:59] blowdart commented on #20821
Identity does not have first names, or last names, or anything other than username and password and email by default. So there's nowhere to get it from in this case, unlike the linked issue. If you have a custom schema you can do it yourself by scaffolding and overriding login, or via claims transformation.

[2020-04-15 00:04] Devnsyde commented on #20821
Ok. Nevermind then. I guess I assumed it was there when I type ClaimsType.GivenName its available just returns null.

[2020-04-15 00:06] pranavkm commented on #18169
Sorry, I missed your earlier response @KieranDevvs. The value from the ModelState is likely being used. https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-3.1#expression-names has some explanation about how model expressions (the value in `TextBoxFor`) is evaluated.

[2020-04-15 00:07] pranavkm commented on #18169
See previous discussions here: https://github.com/aspnet/Mvc/issues/7260, including https://github.com/aspnet/Mvc/issues/7260#issuecomment-360527445 which has a way to clear ModelState to change this behavior.

[2020-04-15 01:08] Freeesia commented on #20807
@Kahbazi

Yes.`UseSpa()` has a fallback feature that returns `index.html` for unknown paths, but I want to return a 404 error when a non-existent controller is called.
I was bothered to include health check in `/api`, but this time the problem came up when I decided not to include them in `/api`.

Unfortunately, I don't understand the above, what does `one source` refer to?

[2020-04-15 01:42] markerikson commented on #16907
Sure.  Just ping me when you've got time to discuss this further.

[2020-04-15 02:15] volodymyr-karpenko opened #20833 "ESLint Configuration Issue"
Per ESLint documentation (https://eslint.org/docs/user-guide/configuring), it is possible to either use a .eslintrc.json to define the configuration structure or create an eslintConfig property in your package.json file and define your configuration there.

If there are multiple configuration files in the same directory, ESLint will only use one. In the priority order, a .eslintrc.json is higher t

[2020-04-15 02:17] mkArtakMSFT opened #20834 "Remove automated SPA project template tests"
These tests have been flaky and the flakiness have been caused by many factors.
To reduce the impact on the build and reduce the maintenance cost, we've decided to move these tests to be manual.

This issue tracks the work to remove the automated tests for Angular, React and ReactRedux project templates.

[2020-04-15 02:33] blowdart commented on #20821
Nope, that's actually from LDAP and WS-Fed, because history. Some external identity providers will have it too, but standard core identity does not.

[2020-04-15 04:10] TheDruidsKeeper commented on #18463
@Tratcher Apparently I had gone way off the deep end... I had found that on the client side the StringContent.Headers.ContentLength did actually have a value, so spent all my time looking server side. I did a bit more testing now and found that the easiest solution is to simply _read the ContentLength property_:
[code]
This solution works perfectly (and is much better than my previous suggestion).

[2020-04-15 04:21] Valks opened #20838 "Using multiple typeparam types in a Tuple passes in the typeparam name instead of the type"
### Describe the bug
When using a Tuple the builder uses the typeparam name instead of the type.

### To Reproduce
Index.razor
[code]

Test.razor
[code]

Generated output Index.razor.g.cs
[code]

Expected Code
[code]

### Further technical details

After manually changing the generated output it compiles and runs successfully.

Note: There are edge cases around this problem, i.e. if you pass in ot

[2020-04-15 04:27] Tratcher commented on #18463
@TheDruidsKeeper yeah, that's a known annoyance with HttpContent https://github.com/dotnet/runtime/issues/16162. I contributed to that design flaw about 10 years ago so it's only fair that it comes back to haunt me now.

[2020-04-15 06:33] shuba-developer opened #20840 "IFeatureCollection has been disposed in ActionFilterAttribute"
I'm using Net Core 3.1 for my web application. It's `sometimes` getting error in  `ActionFilterAttribute` when accessing `HttpContext`.
Startup.cs Configure

   `config.Filters.Add(typeof(RequestAuthorizationAttribute ));`

Class Implementing ActionFilterAttribute

    [AttributeUsage(AttributeTargets.Class)]
    public class RequestAuthorizationAttribute : ActionFilterAttribute
    {
        priv

[2020-04-15 06:58] davidfowl commented on #20840
Are you using the IHttpContextAccessor anywhere?

[2020-04-15 06:58] LeeActon commented on #20729
@mkArtakMSFT, I updated to Microsoft Edge Version 81.0.416.53 (Official build) (64-bit), and the debugger still fails to work. Specifically, breakpoints say "This breakpoiint will not currently be hit. No symbols have been loaded for this document."

[2020-04-15 07:06] danroth27 opened #20841 "Add more using directives in Program.cs in Blazor WebAssembly projects"
We should consider adding using directives in Program.cs for Blazor WebAssembly projects that we currently have in Program.cs for ASP.NET Core projects.

Namespaces we should consider adding

- `Microsoft.Extensions.Configuration`
- `Microsoft.Extensions.Logging`

[2020-04-15 07:07] shuba-developer commented on #20840
Yes, in the my service as shown below

[code]

[2020-04-15 07:08] davidfowl opened #20842 "Implement UseSystemd with the SocketTransport"
The BCL recently added support for creating a socket from a handle https://github.com/dotnet/runtime/pull/34727. This enables us to implement Systemd socket activation without libuv.

cc @halter73 @shirhatti

[2020-04-15 07:13] davidfowl commented on #20840
Do you have any logic that's storing the HttpContext in a field or maybe holding on to it longer than the request itself?

[2020-04-15 07:20] shuba-developer commented on #20840
No, I don't

[2020-04-15 07:22] davidfowl commented on #20840
- Can you show me usage of the IHttpContextAccessor in EmployeeService ?
- Are you using application insights?

[2020-04-15 07:36] shuba-developer commented on #20840
I don't use application insights.

	public class DataContext : DbContext
    {
        readonly IConfiguration configuration;
        readonly IHttpContextAccessor accessor;

        public HttpContext HttpContext => accessor.HttpContext;

        public DataContext()
        {
        }

        public DataContext(DbContextOptions<DataContext> option, IConfiguration configuration, IHttpContextAcc

[2020-04-15 07:42] davidfowl commented on #20840
Can you share the stack trace for the exception?

[2020-04-15 07:43] davidfowl commented on #20840
Who accesses DataContext.HttpContext?

[2020-04-15 07:44] shapeh commented on #10773
Hi, I was wondering if there are any news on this one?

[2020-04-15 07:47] shuba-developer commented on #20840
`EmployeeService  `accesses it. I inject `DataContext` to the `EmployeeService` constructor where the `DataContext` contains `HttpContext` property and the property of `HttpContext` is accessed everywhere in the service

[2020-04-15 07:49] hez2010 commented on #13020
Since BCL already support listening handle now (https://github.com/dotnet/runtime/pull/34727), will this  be supported in .NET 5?

[2020-04-15 07:49] HrenuS opened #20843 "High processor load in long running loops on linux server"
[code]
Linux server:
   await Task.Delay(1, cancellationToken); - CPU 100%
  await Task.Delay(100, cancellationToken); - CPU 3-5%
Windows server 2012:
 await Task.Delay(1, cancellationToken); - CPU ~0%

[2020-04-15 07:51] shuba-developer commented on #20840
I'll post here if it's getting error

[2020-04-15 08:03] davidfowl commented on #20840
I need to see more code where the HttpContext is being accessed.

In theory this shouldn't happen at this state in the pipeline so it would be great if we had a stack trace and a repro of the issue.

[2020-04-15 08:03] davidfowl commented on #13020
See https://github.com/dotnet/aspnetcore/issues/20842

[2020-04-15 08:09] davidfowl commented on #20816
Are you using the HubConnection itself anywhere in your On callback? I wonder if you're blocking the message loop on the client side in your callbacks and that's whats causing the client to miss messages. You cannot block in those handlers.

[2020-04-15 08:10] davidfowl commented on #5324
Are you using the HubConnection itself anywhere in your On callback? I wonder if you're blocking the message loop on the client side in your callbacks and that's what's causing the client to miss messages. You cannot block in those handlers.

[2020-04-15 08:15] alexb5dh commented on #5283
Any up-to-date workarounds at the moment?

I'm thinking about implementing custom `TimedPrincipal` that will throw on all methods after token expires and assigning it to `HttpContext.User`. Exception handler in that case will force a client to disconnect.

Global handling is limited until #5353 is done but that can be fixed by temporarily adding try/catch in all methods involved.

Would be great i

[2020-04-15 08:19] GusBeare opened #20845 "cookie consent stops working when setting SameSiteMode."
In startup.cs if I have this:

 app.UseCookiePolicy();

Then cookie consent works.  I am using the _cookieConsentPartial method outline in the official docs.

However, if I add this:

app.UseCookiePolicy(new CookiePolicyOptions
{
   MinimumSameSitePolicy = SameSiteMode.Unspecified
});

Cookie consent stops working. i.e. the alert does not show.  This returns false:

  var showBanner = !consentFeat

[2020-04-15 08:26] davidfowl opened #20846 "Make RequestServices work for cloned longpolling HttpContext"
Today we return an empty IServiceProvider, instead, we should create a new scope and stash it on the connection https://github.com/dotnet/aspnetcore/blob/162817d3f05f62b54589af553396525e03986679/src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs#L666.

[2020-04-15 08:43] davidfowl commented on #5283
The core idea here is solid https://github.com/dotnet/aspnetcore/issues/5283#issuecomment-368864944. The only change would be to stash the AuthenticationResult in HttpContext.Items after the authentication middleware runs then write the same logic in OnConnectedAsync but instead of calling AuthenticateAsync just grab the AuthenticationResult and use it to implement the same logic (aborts the conne

[2020-04-15 08:46] davidfowl opened #20847 "Set the AuthenticationResult via a new feature on the HttpContext"
Today the authentication middleware resolved the `AuthenticateResult` for the current request/endpoint and stores the Principal on the HttpContext but doesn't store the other properties (Ticket, or AuthenticationProperties). Getting at these requires another call to AuthenticateAsync with the right scheme which can be a pain to get at. We should make this available via a feature on the HttpContext

[2020-04-15 09:05] hmurt opened #20848 "Visual Studio 2019 Test Explorer doesn't work in react project"
### Describe the bug
After creating a project with `dotnet new react`, Visual Studio 2019 Test Explorer can't find the Javascript unit tests. After following [the official guide](https://docs.microsoft.com/en-us/visualstudio/javascript/unit-testing-javascript-with-visual-studio?view=vs-2019#unit-tests-in-other-project-types) on how to make it work, there is still an error:

[code]

### To Reproduc

[2020-04-15 09:06] shahidroofi commented on #20770
thanks @danroth27
thing is clear now.

[2020-04-15 09:06] GioviQ opened #20849 "blazor-wasm publishing missing satellite dll"
Please clone https://github.com/GioviQ/blazorboilerplate/tree/restructure

Publish using profile Release_CSB-win-x64

in \src\Server\BlazorBoilerplate.Server\bin\Release_CSB\netcoreapp3.1\publish\it-IT you find
BlazorBoilerplate.Localization.resources.dll

but in \src\Server\BlazorBoilerplate.Server\bin\Release_CSB\netcoreapp3.1\publish\wwwroot\\_framework\\_bin is missing \it-IT\BlazorBoilerplate

[2020-04-15 09:08] glararan opened #20850 "Controller doesn't respect HttpClient cookies - custom Blazor auth"
### Describe the bug
I just discovered a bug in my application. I implemented custom refreshless authentication few weeks ago. Now while I am testing it I discovered bug - Web API Controller doesn not respect cookies from HttpClient "occasionally". Let me describe my actions

There are two browsers, browser A, browser B. Both cookies cleared.
Browser A
- Login action
- Sending post via **HttpClien

[2020-04-15 09:22] VBAndCs commented on #20820
In the Blazor project crated by the webasm project template,
I added a breakpoint on the first line of `Program.Main`, but execution never stops at it. Why?

[2020-04-15 09:22] VBAndCs commented on #20820
In the Blazor project crated by the webasm project template,
I added a breakpoint on the first line of `Program.Main`, but execution never stops at it. Why?

[2020-04-15 09:26] shahidroofi opened #20851 "Blazer Client Side"
Blazer Webassembly version will allow running c# on the client browser. As of now all the code that you put in @code or inline @ code will be exeucuting in that case on browser. But how to mix up with some server code or server side mark up??

As per hosting models its either server hosted or webassembly(client side). Realistically both server side and client side code will be required in same pro

[2020-04-15 09:47] javiercn commented on #20851
@shahidroofi thanks for contacting us.

I'm not sure what your specific question is, but to provide a short answer, we currently don't support client-side and server-side blazor apps in the same document/page.

[2020-04-15 09:51] javiercn commented on #20850
@glararan thanks for contacting us.

I don't think there's anything Blazor specific about this issue, so I'll let the security folks handle it. In general, if you are using client-side blazor we don't recommend you use cookies. if you are using server-side Blazor we recommend you use our authentication support and avoid implementing your own auth.

[2020-04-15 09:53] javiercn commented on #20848
@hmurt thanks for contacting us.

We believe this is a Visual Studio issue and has nothing to do with the ASP.NET Core templates support for react. I recommend you file this issue through the [Report a problem dialog](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019) in Visual Studio to get a better and faster answer.

[2020-04-15 09:54] #20848 closed

[2020-04-15 09:55] Morhpeuss commented on #20775
I found where is the problem.

I called all data services in method OnInitializedAsync, and then  I call the script in method OnAfterRenderAsync. But the method OnAfterRenderAsync doesn't wait for the method OnInitializedAsync.

The problem is, that the script modifies the DOM and after the method OnInitializedAsync is finished, Blazor wants to re-render the DOM, the DOM was changed and it throws

[2020-04-15 09:56] javiercn commented on #20840
@shuba-developer thanks for contacting us.

In order for us to help you, we need you to provide a minimal repro project that demonstrates this issue.

[2020-04-15 09:57] glararan commented on #20850
I agree.. its not blazor specific however I forgot to mention its server-side. Official authentication is not refreshless right now :( Waiting for support.

[2020-04-15 09:59] javiercn commented on #20833
@volodymyr-karpenko thanks for contacting us.

We'll discuss this within the team and update the issue accordingly.

[2020-04-15 10:07] MintPlayer opened #20852 "AddExternalScheme without configureOptions delegate"
### Goal configuration for external providers

Microsoft.AspNetCore.Authentication.MicrosoftAccount etc @ 3.1.3

In startup.cs, I have the following services configuration

	services
		.AddDbContext<MintPlayerContext>(options =>
		{
			options.UseSqlServer(opt.ConnectionString);
		})
		.AddAuthentication()
		.AddJwtBearer();
		.AddFacebook()
		.AddMicrosoftAccount()
		.AddGoogle()
		.AddTwitter();

[2020-04-15 10:18] gihanwijesinghe commented on #18954
@breggles @HaoK I am also experiencing similar kind of problem. I think what @breggles is saying correct. Rather than specifying schemes in every Authorization, it is better to use all configured schemes if no scheme if defined.

[2020-04-15 10:26] shuba-developer commented on #20840
OK. I'll provide it soon

[2020-04-15 10:28] hmheng commented on #17277
While waiting to proper fix, i think this is best hack that seems working fine.
thank you @benelliott

[2020-04-15 10:52] glararan commented on #20850
Workaround: dont use HttpClientFactory. Create it without factory. After Login/Register ask with same client instance for UserInfo, pass it to browser for writing down cookies for next requests with new instance :)

[2020-04-15 11:25] Serg046 commented on #20816
Yes, I have there buffered StreamWriter operation. But anyway, I put Thread.Sleep(40000) there for testing and it doesn't get timeouts. However, the issue could be on IIS side. I re-host the app using self-host approach and it seems working - no timeouts during 10 hours. My IIS configuration was with AlwaysRunning, preload enabled, zero idle timeout and out of process hosting.

[2020-04-15 11:27] shahidroofi commented on #20851
@javiercn thanks. That's exactly what i wanted to know and realized from implementation currently.
Will there any future plan for such? just incase..

[2020-04-15 11:49] ashokghoghari opened #20853 "Html.Kendo().Grid() throwing error on group by action .net 3.1 upgrade"
I have used Html.Kendo().Grid() and was working fine with .net core 2.1.

It is stop working when i upgraded to .net core 3.1. If i use to drag a field to group by records with that specific field, it throws an error. It works well when i do

dr = iqueryableData.**ToList()**.ToDataSourceResult(request);

It does not work when i use
dr = iqueryableData.ToDataSourceResult(request);

The problem here

[2020-04-15 11:51] shuba-developer commented on #20840
[code]

[2020-04-15 12:01] javiercn commented on #20853
@ashokghoghari thanks for contacting us.

It looks like this is a question about how to use ASP.NET Core with a third-party component. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow using the asp.net-core tag or file an issue with the component vendor to get support from them.

At the very least we would n

[2020-04-15 12:09] hubert-wojtowicz opened #20854 "Filter records by collection of parameter sets"
### Is your feature request related to a problem? Please describe.
I was looking for solution described in more detail here [here](https://stackoverflow.com/questions/61226542/how-to-write-linq-query-retrieving-records-having-parameters-out-of-defined-coll).

What I want to acheive is to generate query like:
[code]
using LINQ extension methods over `IQuerable<Entity>` interface, for `Entity` havin

[2020-04-15 12:18] javiercn commented on #20854
Thanks for contacting us @hubert-wojtowicz

It looks like this is not a question about how to use ASP.NET Core. You will get a better and faster answer if you file an issue directly in the [ef repo](https://github.com/dotnet/efcore).

[2020-04-15 12:18] SteveSandersonMS commented on #20820
@VBAndCs I'm afraid there is no concept of runtime compilation for `.razor` files, because unlike `.cshtml` files, they are always referenced in a strongly typed way. They are part of the same compilation process that builds your `.cs` files and cannot be compiled at runtime.

So I'm afraid what you're trying to do won't work.

However if you could describe more broadly what your goals are then I

[2020-04-15 12:18] #20854 closed

[2020-04-15 12:25] hubert-wojtowicz commented on #20854
ups sorry.., it was by mistake

[2020-04-15 12:45] VBAndCs commented on #20820
A different approach is to generate the c# razor classes myself from the blazor code. Could you please giveme the link to the class that generates the app.g.cs file from the app.razor file?

[2020-04-15 13:00] njannink commented on #20810
Yes I found a workaround that works for me can you have a look at it? It's in the other thread

[2020-04-15 13:05] SteveSandersonMS commented on #20820
The Razor compiler is built as a tool called `rzc.dll` which is provided with `Microsoft.NET.Sdk.Razor`.

The sources for the Razor compiler are at https://github.com/dotnet/aspnetcore-tooling/tree/master/src/Razor

[2020-04-15 13:28] Ecroyd opened #20855 "Unable to use RootComponents twice on same page (Using Blazor Wasm for multiple / distinct areas of page)"
### Describe the bug
It does not seem possible to instantiate the root components twice. Registering a component with:
[code]
and then using two SurveyPrompt tags in the html results in only one getting rendered.

### Use Case
I would like to initially use Blazor Wasm for the few interactive elements of my site, rather than letting Blazor handle the full website. This will allow my existing websit

[2020-04-15 13:53] slishnevsky opened #20857 "error : rzc discover exited with code -2147450730"
I have a .NET Core Angular project created with `dotnet new angular` long time ago.
It was fully working until today when I tried to run in VSCode with `dotnet run`, after installing .NET Core SDK 3.1.201, no code changes have been made. The app is working fine on Azure.

[code]

[2020-04-15 14:02] blowdart commented on #20845
You need to merge the policies into one;

For example,

[code]

Please note that Unspecified is probably a bad idea here, you really do want None for external auth, then add the browser checks as [documented](http://aka.ms/samesitecore).

[2020-04-15 14:19] captainsafia opened #20858 "Regression in build incrementalism for Blazor"
Moving this issue over from email thread.

### Describe the bug
Changes made to a Blazor project are not reflected when running the project using:

[code]

### To Reproduce

1. Create a new Blazor WASM project.

[code]

2. Build and run the project using either VS or the CLI.

[code]

3. Make a modification to the project sources. For example, add a `Console.WriteLine` statement.

5. Build and run

[2020-04-15 14:24] captainsafia commented on #20712
Closing as validation is complete. Hit an unrelated snag due to https://github.com/dotnet/aspnetcore/issues/20858 but otherwise looks good.

[2020-04-15 14:24] #20712 closed

[2020-04-15 14:31] leonardder opened #20859 "Blazor: add support for toggle event"
### Is your feature request related to a problem? Please describe.
With Blazor, I'm trying to use the [Ontoggle](https://www.w3schools.com/jsref/event_ontoggle.asp) event of a html5 details element to render its content as soon as the element is toggled. However, when adding @ontoggle to the details element, the component fails to render.

### Describe the solution you'd like
Support the ontoggle

[2020-04-15 14:36] javiercn commented on #20858
Looking into it.

[2020-04-15 15:05] davidfowl commented on #20840
Where’s the rest of the stack trace? Is that all?

[2020-04-15 15:25] genifycom opened #20860 "Razor pages and Console apps"
Where are we at with DotNet Core 3.1 and being able to run razor pages in a console app.

Why would we want to do this? Simple. Serverless apps need to be able to spin up instances to meet demand. For example say the index page is going to be hit hard, then separating this into a serverless instance makes perfect sense. The infrastructure can spin up multiple containers to address this page needs.

[2020-04-15 15:31] alfkonee commented on #20427
No please it's not a PWA

[2020-04-15 15:34] drauch commented on #20784
I found the time to debug the problem in depth, for anybody ever running into the same issue:

An AJAX call in my application used a wrong ASP.NET pages handler, i.e., it called "./MyPage?handler=NotExistingHandler". To my surprise this doesn't return 404 or something similar but instead simply calls the OnGet default handler (why? I don't know yet, haven't found anything in the docs about it yet)

[2020-04-15 15:35] SteveSandersonMS commented on #20427
@alfkonee Could you try following the steps for "[debug in the browser](https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.1#debug-in-the-browser)" and let us know whether that works in your environment? If not, is there any error message? This might help us pinpoint whether the problem is to do with VS connecting, or whether it's to do with launching the debug proxy.

[2020-04-15 15:36] SteveSandersonMS commented on #20427
@nlz242 Could you also try my suggestion above and let us know the result?