[2019-06-13 17:40] davidfowl commented on #3774
Did some more thinking and I don't like 2 anymore, I think it's wrong to have data protection as part of hosting. Can we have the components that use it call the shared method that adds the startup filter (cookies etc).

[2019-06-13 17:41] pranavkm commented on #11172
Hmm, we did a bunch of SDK work in preview6. Maybe one of these is affect the build.

[2019-06-13 17:44] antonGritsenko commented on #11069
@davidfowl the link is just brilliant! Thank you!

[2019-06-13 17:50] halter73 commented on #10886
`IHttp2ResetFeature.Reset(int errorCode)`

What the `int errorCode` parameter means is specified by the HTTP/2 spec. I much prefer keeping "Http2" in the feature name.

[2019-06-13 17:53] Tratcher commented on #3774
Let's get a room for 15 minutes and deal with this.

[2019-06-13 17:55] Tratcher commented on #10886
@halter73 except it's an open set, you could send custom error codes, or quick error codes. It's only HTTP/2 specific if we provide an enum with the spec values.

[2019-06-13 18:00] NTaylorMullen commented on #10895
@mkArtakMSFT this doesn't meet the bar for preview7. Heck this could come in post-3.0 😄

[2019-06-13 18:01] NTaylorMullen commented on #10472
The ignitor client is checked in to enable perf and security testing.

/cc @pranavkm @javiercn

[2019-06-13 18:02] toddlang opened #11188 "[Blazor Preview 6] Null Forgiveness Operator prevents proper binding"
When binding a value in a razor page with nullable reference types enabled, there can exist situations where something is not-null but not provably so, so we need to add the null forgiveness operator.   `!.`

For example:
[code]

However, when this is run, you instead get the typename emitted.

`Model.Shared.User!.Name`

If instead we use `?.`, then the value appears as expected.

[2019-06-13 18:03] halter73 commented on #10886
I guess the question is then do we expect to use this feature for any other protocol that happens to support integer error codes in some sort of reset frame/message. I don't find this super likely, and I like the somewhat self-documenting nature of including "Http2" in the feature interface name.

Just removing it from the HTTP/1 feature collection doesn't really help. It doesn't affect the discov

[2019-06-13 18:15] rynowak commented on #11178
This is specifically not supported, as the error message indicates. We don't currently have the plumbing to attach multiple event handlers to a single event. For now I'd suggest just not using bind for this use case.

[code]

[2019-06-13 18:18] rynowak commented on #11111
I believe `<script ...>` tag helper uses inline scripts.

[2019-06-13 18:25] rynowak commented on #11188
Would it be possible for you to share the generated code for this case? You can find it in `obj/Debug/<framework_name>/Razor`. Look for a file the same name as your component but a different file extension.

[2019-06-13 18:25] kevinjpetersen opened #11189 "Coding in @code block acts completely random"
### Describe the bug
After replacing the old ``@functions`` block with the new ``@code`` block, coding in this has somehow ruined the development experience when it comes to indenting, unindenting, lists with initial values etc. Whenever you enter a new line in say a method, it defaults the cursor to the very start of the left side, instead of where the next code line should usually begin.

Switch

[2019-06-13 18:30] rynowak commented on #11172
Does this reproduce at the command-line? Could either of you capture a binary log? `/bl` at the command line or using https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.ProjectSystemTools in VS

[2019-06-13 18:35] toddlang commented on #11188
Relevant area:

[code]

Complete file also attached.
[NavBar.razor.g.cs.zip](https://github.com/aspnet/AspNetCore/files/3287611/NavBar.razor.g.cs.zip)

[2019-06-13 18:40] rynowak commented on #11188
Thanks @toddlang , that narrows it down.

@NTaylorMullen @ajaybhargavb - this is a C# syntax change we need to react to. I would expect null-forgiveness in implicit expressions to be common.

[2019-06-13 18:44] rynowak commented on #11183
@brettsam - thanks for the thorough bug report. This is indeed a bug.

@mkArtakMSFT - we should consider a backport of this, it's a low risk fix for a functional bug.

[2019-06-13 18:53] rynowak commented on #11035
TLDR, this wouldn't add value because whether its an event or a delegate it will behave the same way.

Because your use case is the same as a normal delegate. The `EventHandler<>` delegate type isn't fundamentally different from using `Action<object, GridAutoGeneratingColumnEventArgs>`. Invoking a .NET event is the same as invoking a delegate.

The semantic difference between and event and a deleg

[2019-06-13 19:08] lccarvalho commented on #6140
Hi, I see that the issue is closed and to be honest I couldn't conclude if you are still thinking about this or the feature will be let as is. If I can vote here the append solution seems absurd to me. Why couldn't I have a server where most apps are for staging and certain ones are for production?

[2019-06-13 19:09] robcube commented on #11089
That's odd since I only have one server here. Tried creating it in VS code. Works locally (Windows 7, IISExpress v10+), but not on the server. Is it because IIS is old with it being v7.5?

[2019-06-13 19:15] dluc commented on #11163
Thanks, I'll move the request to that repo, with a link here

[2019-06-13 19:15] #11163 closed

[2019-06-13 19:19] jrilheu commented on #8469
Hi everyone, I'm having the same issue, the msgpack formatter doesn't respect the accept header
### Describe the bug
In our case we need test the capabilities about .Net Core Web API and multiple formatters, precisely `application/json`, `application/xml` and `application/x-msgpack`.  The OuputFormatters works as expected when is omitted  the  MessagePack OutputFormatter.

### To Reproduce
1. Scaf

[2019-06-13 19:29] Tratcher commented on #10886
CompleteAsync is turning out much easier than I was expecting. I should have a PR by the end of the day. One side effect that we did not discuss: RequestAborted will no longer fire after calling CompleteAsync.

This logic was already in place for things like ContentLength responses so you wouldn't get aborted for graceful disconnects after you've sent the full response. CompleteAsync is another wa

[2019-06-13 19:30] rynowak commented on #8469
This is the bug in the message pack serializer library. https://github.com/neuecc/MessagePack-CSharp/blob/master/src/MessagePack.AspNetCoreMvcFormatter/MessagePackOutputFormatter.cs#L26

Each formatter on its own decides what criteria it wants to use to determine whether it will write the response. In the case of the messagepack formatter, it is only looking at the request's content type.

I would

[2019-06-13 19:57] JunTaoLuo commented on #10567
@vitek-karas This is completed. How can we test this end to end?

[2019-06-13 19:57] #10567 closed

[2019-06-13 20:38] efsandino commented on #9151
@anurse Thanks... but this happened just one time ! Amazing... just restart and worked ! :)

[2019-06-13 20:46] halter73 commented on #10886
I also think I prefer option A. After all, from Kestrel's perspective, if you call CompleteAsync() was the request really aborted? I agree this shouldn't be treated differently than writing out the full content-length response.

[2019-06-13 20:55] JamesNK commented on #10886
With option A there will be a performance penalty in gRPC because we'll have to create our own CTS rather than reusing Kestrel's.

I don't think this is a big deal. It is pay-for-play: it will only affect perf when using a deadline.

[2019-06-13 20:59] Tratcher commented on #10886
You already have the overhead of a timer, you could replace that with the CTS and likely not add any additional overhead.

[2019-06-13 21:09] antonGritsenko commented on #11069
One last question: how can we troubleshoot cases like this one? Is any inner tools or something?

[2019-06-13 21:18] JamesNK commented on #10886
Maybe. We need to be able to distinguish between the request being aborted and deadline being exceeded. Might be able to do that with a single CTS - I'll investigate when switching to use CompleteAsync.

[2019-06-13 21:36] Bartmax commented on #3891
Got this and I also think is a bug with Consumes.
[code]

Ideally I would want to match the action based on `Accept` header. Currently return ambiguous view error.

[2019-06-13 21:36] davidfowl commented on #11069
There are no tools today

[2019-06-13 21:44] Tratcher opened #11194 "Implement IHttpResponseCompletionFeature.CompleteAsync for response compression"
https://github.com/aspnet/AspNetCore/pull/11193 added IHttpResponseCompletionFeature.CompleteAsync for gRPC scenarios, allowing the response to be completed without waiting for the request delegate to unwind.

ResponseCompression needs to wrap this feature in order to close and flush the compression buffer. Otherwise the response will be corrupt and an exception will be thrown when the compression

[2019-06-13 21:45] benaadams commented on #11069
It should throw `ObjectDisposedException("Request has finished and HttpContext disposed.")` after https://github.com/aspnet/AspNetCore/pull/10319 rather than null ref

[2019-06-13 21:56] pranavkm commented on #4953
/cc @davidfowl who spent some time looking at this.

a) With 500s, you could use the error handler to point to an MVC action and have that return `ProblemDetails`. That works fairly well for most parts. You could also [incorporate the check](https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddleware.cs#L138-L153) from `De

[2019-06-13 22:28] halter73 commented on #10701
I will add that in 3.0, you will only get throttled if you don't advance the "examined" position. If you "examine" untrusted data that arrives without bounds (maybe you're scanning for a separator token before parsing a message for example), you've just opened yourself up to a big memory leak.

[2019-06-13 22:29] Tratcher opened #11195 "Implement IHttpResponseCompletionFeature.CompleteAsync for Kestrel HTTP/1.x"
#11193 added IHttpResponseCompletionFeature.CompleteAsync for HTTP/2 gRPC scenarios, allowing the response to be completed without waiting for the request delegate to unwind.

There have been multiple asks for the same behavior for HTTP/1.1 chunked responses. Content-Length checks could also be done.

[2019-06-13 22:43] davidfowl commented on #10701
That’s not exposed to SignalR users. We also have a max message limit in SignalR itself

[2019-06-13 22:43] #11061 closed

[2019-06-13 22:48] natemcmaster commented on #3752
With #11122 , we have eliminated most of the prebuilds in our build-time dependencies. The last remaining one is the 'GenerateFileFromTemplate' MSBuild task which comes from https://github.com/aspnet/BuildTools/blob/master/src/Internal.AspNetCore.BuildTasks/GenerateFileFromTemplate.cs.

There was a request a long time ago for a feature in arcade which, if resolved, would mean we don't need Interna

[2019-06-13 23:05] Dreamescaper opened #11196 "JsonSerializer does not support Uri's"
### Describe the bug
After update to Preview 6 JsonSerializer fails to handle Uri's properly. It worked fine with P5.

### To Reproduce

[code]

### Expected behavior
`requestJson == {"uri": "https://someserver.co/"}`

### Actual behavior
`requestJson == {"Uri":{"AbsolutePath":"\u002f","AbsoluteUri":"https:\u002f\u002fsomeserver.co\u002f","LocalPath":"\u002f","Authority":"someserver.co","HostNameT

[2019-06-13 23:23] mkArtakMSFT commented on #11196
Thanks for contacting us, @Dreamescaper.
@pranavkm can you please look into this? Thanks!

[2019-06-13 23:33] SteveSandersonMS opened #11197 "Blazor @ref should codegen a backing field"
We already discussed and agreed we wanted to do this, but I don’t remember there being an issue for it.

To keep it simple, we could do this for 3.0, then separately add @ref:assign as a future enhancement.

[2019-06-13 23:53] pranavkm commented on #11196
Could you move this to https://github.com/dotnet/corefx/issues?

[2019-06-13 23:58] chanan commented on #11090
Using preview6

The nullable type is not needed and everything works even when not method is supplied. Closing this. Thanks @egil and @vertonghenb

[2019-06-13 23:58] #11090 closed

[2019-06-14 00:11] Andrzej-W commented on #11106
I have just checked in Preview6 - works correctly - status 404, no exception.

[2019-06-14 00:19] Andrzej-W commented on #10750
Thanks @danroth27  - works perfectly, even better than in Preview5. Missing resource, for example
[code]
returns status code 404 and there is no exception.

[2019-06-14 01:13] mkArtakMSFT commented on #11183
@rynowak is this fixed in 3.0 already? Or are you referring to whatever that fix would be we should backport it?

[2019-06-14 01:33] maheshkumarjadhav commented on #11156
**To create and run Blazor (ASP.NET Core hosted) App**

Please follow below steps as per Get started with Blazor | Microsoft Docs

1. Install the latest .NET Core 3.0 Preview SDK release.
2. Install the Blazor templates by running the following command in a command shell:
      dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview6.19307.2
3. Install the latest Blazor extension from t

[2019-06-14 01:41] PureKrome commented on #4953
Yep - there are enough building blocks to do this. As a case in point, [I did this nearly a year ago](https://github.com/Homely/Homely.AspNetCore.Mvc.Helpers#problemdetails-for-all-4xx5xx-http-errors) and have been using this in various .NET apps.

I guess my main request was to try and bake this more into the common template stuff. Part of the issue here was that having a webapi only handle _some

[2019-06-14 01:46] AbhiAgarwal192 commented on #10573
Submitted a PR for this. This will get fixed in the next release.

[2019-06-14 02:38] HaoK commented on #3774
Fowler is out for NDC for a while.

So are we closing in on 3, where we have a new `DataProtectionStartupFilter` package that targets netcoreapp3.0, and consumers of data protection would call `AddDataProtectionStartup` as part of their `AddXyz`?  That doesn't sound too bad to do.

[2019-06-14 02:39] kg opened #11203 "Following getting started steps to make a Blazor app silently fails if .NET Core 3 did not install or is not being used"
### Describe the bug
I followed the get started steps here to use Blazor with VS2019 preview and NET Core:
https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio
Installed SDK, Installed VS2019 Preview, Installed Extension, then made an app using the template.

It fails:
[code]

I eventually realized that .NET Core 3's SDK install had failed or I had

[2019-06-14 03:03] mkArtakMSFT commented on #11203
Thanks for contacting us, @kg.
Down-level SDKs don't have knowledge about what's available in the future versions, so the exception you're getting about an unknown type is actually valid.
There is nothing we plan to do in this area.

[2019-06-14 03:03] #11203 closed

[2019-06-14 03:06] Tratcher commented on #3774
If DataProtectionStartupFilter is the only outlier then you might as well move everything else first. It doesn't even look like required functionality, it only moves latency from first request to startup.

[2019-06-14 03:09] mkArtakMSFT commented on #11196
@Dreamescaper this is an issue with the `System.Text.Json.Serialization.JsonSerializer`, which belongs to the `https://github.com/dotnet/corefx` repo. We're closing this issue, please file a new on in that repo instead.

[2019-06-14 03:12] mkArtakMSFT commented on #11189
Thanks for contacting us, @kevinjpetersen.
@ajaybhargavb can you please look into this? Thanks!

[2019-06-14 03:14] mkArtakMSFT commented on #11173
@ryanbrandenburg please look for a PR to review.

[2019-06-14 03:14] Tratcher commented on #3774
And yes it does look like it could be converted to an IHostedService, IHostedService.StartAsync is called about the same time as IStartupFilter.Configure. If converted then it could still be moved to Extensions.

[2019-06-14 03:15] mkArtakMSFT commented on #11170
@rynowak I assume there is nothing else for us to do here, is there?

[2019-06-14 03:41] kg commented on #11203
Just to be clear, there's no way for the extension to sense missing dependencies or for the template to sense missing dependencies?

[2019-06-14 03:45] HaoK opened #11205 "[Helix] Figure out why functional tests aren't publishing properly on arm/linux builds"
Disabled:
`Microsoft.AspNetCore.Authentication.AzureAD.FunctionalTests.csproj`
`src/Security/test/AuthSamples.FunctionalTests/AuthSamples.FunctionalTests.csproj`
`src/Identity/test/Identity.FunctionalTests/Microsoft.AspNetCore.Identity.FunctionalTests.csproj`

on arm64 helix runs until issues around publishing their test assets for these queues are resolved

[2019-06-14 04:21] AmarjeetBanwait commented on #11178
Thanks @rynowak  for reply. Do we have plans to support this in future?

[2019-06-14 04:39] natemcmaster opened #11206 "System.IO.Pipelines.dll in the targeting pack is not a reference assembly"
The versions of `System.IO.Pipelines.dll` and `System.Threading.Channels.dll` in Microsoft.AspNetCore.App.Ref aren't the actual reference assembly -- they're the implementation. This can cause problems later if there were to be a security issue with one of these since we don't plan to service the targeting pack. It also means the .dlls include unnecessary bloat.

This is happening because these pa

[2019-06-14 04:53] natemcmaster commented on #3774
It's required. See https://github.com/aspnet/DataProtection/issues/233. Key ring initialization needs to happen before the server begins accepting requires. It doesn't matter if this is implemented as an IStartFilter or a service or something else because the API is internal. I would strongly favor not creating a new assembly just for one internal-only API. If Microsoft.Extensions.Hosting.IHostedS

[2019-06-14 05:05] ajaybhargavb commented on #11189
This is a known issue. A partner team is working on fixing this. Duplicate of https://github.com/aspnet/AspNetCore/issues/10942.

[2019-06-14 05:05] #11189 closed

[2019-06-14 05:24] iron9light commented on #11170
I think @rynowak 's solution is a tradeoff.
It only supports case2 and I need to remove subfix of `path` by myself.

It's really useful if this feature can be implemented.
In my project, we use `{controller}/{**path}/{action}` for all our API.
The path is kinda resource id and it's hierarchy.
In the previous version, the path has only one level. So routing looks like this:
`{controller}/{path}/{ac

[2019-06-14 05:39] davidfowl opened #11208 "Move BadHttpRequestException to Http.Abstractions"
Kestrel and IIS both expose public BadHttpRequestException types, if there's no good reason for those 2 types to be different, lets unify and push it further down the stack.

cc @halter73 @jkotalik

[2019-06-14 05:41] davidfowl opened #11209 "[API Review]: ListenOptions exposes both Endpoint and IPEndPoint"
Do we need both? IPEndPoint just casts EndPoint as IPEndPoint (it's a shortcut).

cc @anurse @halter73 @jkotalik

[2019-06-14 06:50] davidfowl commented on #11175
See https://github.com/aspnet/AspNetCore/pull/11202 for an example.

[2019-06-14 06:57] #4499 closed

[2019-06-14 06:59] conficient commented on #11185
Perhaps this is the same as/related to  #10878 and #11088 ?

[2019-06-14 07:23] Mercurial commented on #11159
same problem for me server side razor

[2019-06-14 07:34] ZergZe commented on #10897
Hi,

I'm happy to say that the issue does not reproduce on the Blazor Preview 6.

Thank you for the fix!

[2019-06-14 07:34] #10897 closed

[2019-06-14 07:47] JinShil commented on #5545
That makes me sad 😢

[2019-06-14 07:51] yan0lovesha opened #11210 "HttpClient.PostJsonAsync deserialize json failed"
### Describe the bug
When I use below code in razor page to post a http request. The deserialized object is not correct. There is no exception happened.
[code]

I then changed to use Http.PostAsync to get the response string, then deserialize it by using Newtonsoft library. It works fine.
[code]
The response json string in my problem is:
[code]

The corresponding class is:
[code]
### To Reproduce

[2019-06-14 08:02] AmarjeetBanwait opened #11212 "Feature Request: Nested Routing"
@SteveSandersonMS As [5489](https://github.com/aspnet/AspNetCore/issues/5489) is closed now.
Can we put nested routing on the roadmap as it is necessary feature for routing
Ref. [Angular Router Outlet](https://angular.io/api/router/RouterOutlet)

[2019-06-14 08:37] chrgraefe opened #11214 "Blazor addin can't updated"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
The update of the Blazor addin in Visual Studio 2019 16.2 Preview

[2019-06-14 08:42] thomaslevesque commented on #8537
I was looking for something like this today.

Currently, there's no convenient way to return a problem details response with the ability to specify the title/detail/instance/etc. Methods like `NotFound()`, ` BadRequest()`, etc produce a `ProblemDetails` with a default title and no detail.

A `Problem()` method would indeed be very useful. I think an overload that accepts the status code would be u

[2019-06-14 08:43] Mercurial commented on #6912
im using blazor jsinterop to pass ArrayUint8 to byte[] but it gives me json error :(

[2019-06-14 08:44] thomaslevesque commented on #8537
BTW, I'm interested in implementing this, if there isn't someone already working on it.

[2019-06-14 08:45] ahmed-abdelrazek opened #11216 "the ASPNetCore original API template project is missing the 'Store user accounts in-app' Authentication"
the ASP Net Core 3 preview 6 original API template project in Visual Studio 2019 Community 16.1.3 is missing the 'Store user accounts in-app' authentication option for `Individual User Accounts`.

Just open visual studio and start creating a new ASP Core API project with `Individual User Accounts` authentication
There is will be only one option and that is `Connect to an existing user store in the

[2019-06-14 08:49] julienGrd commented on #10877
Hello, since the preview 6, i'm unable to reproduce the problem on my app.

so I close this issue

[2019-06-14 08:49] #10877 closed

[2019-06-14 08:55] ctrl-alt-d commented on #11210
Same problem here, post is done, response is received, problem is than json is not deserialized.

Running on preview5 and not running on preview6:

[code]

@yan0lovesha 's workaround runs fine:

[code]

The dto objects (classes to deserialize):

[code]

[2019-06-14 09:03] egil commented on #11182
An additional improvement would be to move the matching logic into `IUriHelper`, so it could be used in other contexts than `NavLink` easily. E.g.

[code]

`CurrentUriMatches` should be able handle both relative and absolute URLs being passed to it.

[2019-06-14 09:21] UltWolf commented on #10338
@NovichikhinAlexey , Yeah, thanks, it`s resolve my issue.)

[2019-06-14 09:22] andriysavin commented on #5045
Hello folks, so was this ever really implemented?

[2019-06-14 09:26] vitek-karas commented on #10567
I usually "mock" this": xcopy install the version with the changes (the whole runtime, so NETCoreApp and ASPNetCore) into some folder. Then go to the shared folder and copy the NETCoreApp and make it a 3.1 version. Then write an app (ASP.NET) which prints out the location of corelib (to verify where the framework came from).
On its own it should report the lower 3.0 version.
Now manually edit the

[2019-06-14 10:43] keesdewit82 opened #11219 ""Writing is not allowed after writer was completed" SignalR 1.1.0"
### Describe the bug
Our logging shows many error (Error level) messages that we think are bugs in SignalR. The following log events appear:

### To Reproduce
We cannot reproduce the issue, but the log files on our production servers are filled with the above messages.

### Expected behavior
We would not expect this to happen

### Screenshots
![image](https://user-images.githubusercontent.com/1498

[2019-06-14 10:50] ddweber opened #11220 "[SignalR][JavaClient] HubConnection.invoke() without return value"
### Is your feature request related to a problem? Please describe.
I´m using the .NET Client and Java Client for SignalR.
I implemented some of my **server** methods without a explicit returnvalue like so:
[code]

The **.NET Client** calls these methods like so:
[code]

The **Java Client** does not offer such a function to call a hubmethod without expecting an return value (but wait for the comple

[2019-06-14 10:55] flyrev opened #11221 "npm package documentation for aspnet-prerendering outdated"
https://www.npmjs.com/package/aspnet-prerendering links to an repository.

The page also states that "You should not use this package directly in your own applications, because it is not supported, and there are no guarantees about how its APIs will change in the future.".

It also states that "This NPM package is an internal implementation detail of the Microsoft.AspNetCore.SpaServices NuGet pack

[2019-06-14 10:57] mihaimyh commented on #11179
Microsoft.VisualStudio.Web.CodeGeneration.Design nuget package must be updated to 3.0.0-preview6 also.

[2019-06-14 11:03] rolnikrolnik commented on #10689
Hi, as I am working on the same project with @CodingKobold, I'll be probably able to provide you with some details. Unfortunately we can't share a repo for various reasons, however I don't think we are doing anything fancy.

One application (let's call it admin panel) calls Web API that is exposed by another app (let's call it account app) in order to get a link for email confirmation. The admin a

[2019-06-14 12:17] blowdart commented on #11216
This is expected. You can create an API project with Identity Server as an in app store at the command line, not within the UI

[2019-06-14 12:40] ahmedflix25 commented on #11216
i don't know how is this expected i should be able to do so from within visual studio the old one let me and the other new templates still do like mvc angular reactjs etc but even so the command line doesn't offer an option to do it when creating a new webapi project

for the WebAPI
![image](https://user-images.githubusercontent.com/7858946/59509054-3ff63880-8eb0-11e9-8c88-f6807871cf30.png)

for A

[2019-06-14 13:20] Css-IanM opened #11222 "Razor Generate Failed"
Environment
Windows 10 Enterprise N 1809    17763.503
3.0.100-preview6-012264

### To Reproduce

1. `dotnet new blazorhosted -n projectname -o ./src`
2. `cd src`
3. `dotnet build`
4. See error

### Expected behavior
Default project template should build.

In VSCode Omnisharp cannot load the client project.
Output is as follows from rzc
[code]

[2019-06-14 13:23] blowdart commented on #11216
It's only in .NET Core 3 previews. Have you installed that?

And there's always a lag before things appear in a VS UI as we, hopefully, get feedback from the community on how things are implemented. There's no point in going through the pain of adjusting the VS UI until the templates are set

[2019-06-14 13:25] javiercn commented on #11216
Individual user accounts is only available through the SPA templates. We don't have support in the API template at this time.

[2019-06-14 13:25] blowdart commented on #11216
Oh heck yes, my bad.

[2019-06-14 13:28] FatClientHub commented on #1961
There is really no excuse not providing WebForms on Core, given that Mono has WebForms support.

So there is nothing Windows specific in WebForms that can't be made cross-plattform. Mono is proof of this. And it was made by a far smaller team than the .NET team at MS.

It's really preposterous that MS is asking everyone to port their WebForms applications to core (causing MASSIVE work for everyone

[2019-06-14 13:30] ahmedflix25 commented on #11216
yes, you can check the net core version being used from the right bottom corner of the screenshot of visual studio

[2019-06-14 13:32] ahmedflix25 commented on #11216
seems about right i checked all the dot net core template project from version 1 to 3 preview 6 and the webapi doesn't support it.

any plans adding it for the dot net core 3.0 release or 3.1?

[2019-06-14 13:41] mikes-gh commented on #10521
I can see quite a few components where this might be the only bit of JSinterop as it is very common.
Is the reason its delayed to 3.1.0 because it is difficult or part of some wider issue?

[2019-06-14 13:46] ststeiger commented on #1961
@FatClientHub: In defense of Microsoft - that really makes no sense.
However, porting over > 1'200 ascx and > 700 aspx is out of the question as well.
We'd need some form of interop, so that WebForms pages could be ported over incrementally.
At least so that new stuff wouldn't need to be created in WebForms.
I don't see that right now, not with VB.NET anyway.

[2019-06-14 13:47] Css-IanM commented on #11057
#11222 could possibly be a duplicate of this. Though `rzc` is throwing a different error code and also a different sdk version but has the same outcome.

[2019-06-14 14:18] blowdart commented on #11216
Sorry for leading you astray, I should stop triaging issues before coffee :)

We've been thinking about it, but getting it into spa templates was the big push for 3.0.

It might make it, but right now it's not a high priority because it's a bit of an oddity, because if you create it and hit f5, well, there's nothing, you'll get a 401 which won't see in the browser. The template, if working as expe

[2019-06-14 14:28] ahmedflix25 commented on #11216
no problem, but first you should take a look at the dot net framework web api project with individual user accounts because that how everyone from asp.net 5 expect it to be at least that what i think.

[2019-06-14 14:30] blowdart commented on #11216
Yes, that gap has been a long standing problem. The solution is, frankly, Identity Server, it's what we've recommended for Core, and we didn't want to start reinventing the wheel. Our integration will probably be a slightly simpler configuration were we hide the complications for very simple, streamlined scenarios to get folks started.

So if you need it now, use the templates Identity Server prov

[2019-06-14 14:33] stsrki opened #11223 "Published application is not working for preview 6"
I have published an app to **IIS** on my VPS server and I get the following error:

[code]

I have installed **Runtime 3.0.0-preview6-27804-01** from [this link](https://dotnet.microsoft.com/download/dotnet-core/3.0) but it is not working.

![image](https://user-images.githubusercontent.com/900302/59516485-bd767480-8ec1-11e9-984c-21a534b8cdeb.png)

It seems the **Runtime & Hosting Bundle** is miss

[2019-06-14 14:35] ahmedflix25 commented on #11216
no i was just trying wpf core and core webapi for the first time making a simple project and was just surprised it wasn't there by default so i came to report it

[2019-06-14 14:38] ansongoldade commented on #7607
I solved this by adding `XForwardedHost` to the forwarded headers.

[code]

We don't have a need for the `X-Forwarded-For` value and there seemed to be an issue when that was included and we were integrating with an OIDC provider. Didn't dig into that issue. Anyway, just wanted to share in case it's of assistance to anyone else.

[2019-06-14 15:00] kevinjpetersen commented on #11223
Hey! I had the exact same issue. Turns out Microsoft haven't updated their download page with the latest Preview 6 links.

You can find them on this page: https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview6.md#notable-changes-in-300-preview-6

And a direct download link to Preview 6 Runtime & Hosting Bundle (ASP.NET Core) can be found here: https://download.visualst

[2019-06-14 15:04] blowdart commented on #11216
And thanks for reminding me. I need to find a way to write up why it's not there right now, so it's not a surprise. It will come at some point, but just not now. So I'll pop this into backlog as a reminder.

[2019-06-14 15:07] kevinjpetersen commented on #11172
@rynowak

Since no one else have attached a binary log, I'll do it :) This is a completely new project and I simply hit Build after making a small change. It took about 5 seconds. However on my actual project it takes around 8 seconds aswell.

[msbuild.zip](https://github.com/aspnet/AspNetCore/files/3291172/msbuild.zip)

[2019-06-14 15:12] rynowak commented on #11183
Not fix yet, but it should be very easy.

[2019-06-14 15:14] willdean opened #11224 "Server-Side Blazor Preview 6 breaks onpointerdown event handlers"
### Describe the bug
SDK Preview 6 has broken onpointerdown handlers in server-side Blazor

### To Reproduce
Steps to reproduce the behavior:
1. Using SDK preview 6, create the default server-side Blazor project.
2. In Counter.razor, change `@onclick` to `@onpointerdown` in the button element
3. Run the project and open the debug console in the browser (Chrome, here)
4. Click on the "Click Me" but

[2019-06-14 15:17] BrennanConroy commented on #11219
You can hit this error if the client sends large messages (over 32KB by default). If you want to allow larger messages you can configure your own limits using the options in `MapHub`. See https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-2.2&tabs=dotnet#advanced-http-configuration-options for how to set options. You're looking for `ApplicationMaxBufferSize` specifi

[2019-06-14 15:18] javiercn commented on #11183
I do have a PR for this out already.

[2019-06-14 15:21] anurse commented on #11183
FYI, after conversations with the Functions team, this is a **very rare** occurrence and they do not feel they need a backport. If it's something we still want to backport, that's fine.

[2019-06-14 15:33] anurse commented on #11223
@leecow @rowanmiller What's the situation with the preview6 hosting bundle on the download page? Looks like it's missing (https://dotnet.microsoft.com/download/dotnet-core/3.0).

@kevinjpetersen Thanks for posting that workaround link! We'll see if we can get the page fixed :).

[2019-06-14 15:39] anurse commented on #11210
Seems like it might be a difference with how System.Text.Json deserializes. cc @ahsonkhan

@yan0lovesha thanks for the sample JSON and classes, we can use that to see if we can repro the issue.

[2019-06-14 15:40] anurse commented on #11209
Nah, I don't think we need both. Especially with the pattern matching stuff:

[code]

[2019-06-14 16:09] rynowak opened #11225 "Blazor compile-time HTML encoding breaks £"
Do the blazor workshop up to https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/02-customize-a-pizza.md#add-additional-toppings - should take like 10 min

using 16.2p2 (public preview) and .NET Core 3.0 preview 6

You'll notice that the pound-sign (£) has been replaced in the generated code with a `65533` character - the replacement character. This means that instead of £ we

[2019-06-14 16:09] rynowak commented on #11225
@ajaybhargavb

[2019-06-14 16:12] mkArtakMSFT commented on #10497
Thanks for contacting us, @ChristopherHaws.
The repro here is quite complicated. Please provide something very minimal, reduced to something self-contained, so there are no dependencies. If, however, you feel that this is no really a code issue on our end, but something related to Azure DevOps or some other external system, consider filing an issue through the respective feedback channel.

[2019-06-14 16:18] pranavkm opened #11226 "Print a warning if FindAssembliesWithReferencesTo cannot find file"
Missing assemblies will fail the build, but since FindAssemblyWithReferencesTo gets first dibs, it throws the exception rather than csc. We should instead consider printing a warning and letting later parts in the build fail.

[2019-06-14 16:18] danroth27 commented on #11224
@pranavkm @rynowak Looks like a potential System.Text.Json issue

[2019-06-14 16:20] danroth27 commented on #11222
@Css-IanM It looks like you are still using Blazor 0.7.0. Please update your project to 3.0.0-preview6. If this doesn't resolve your issue let us know and we'll take another look.

[2019-06-14 16:20] #11222 closed

[2019-06-14 16:24] danroth27 commented on #11214
Blazor and .NET Core 3.0 require the latest release from the Visual Studio Preview channel: https://visualstudio.com/preview. Once you've installed that you should be able to install the Blazor VSIX.

[2019-06-14 16:24] #11214 closed

[2019-06-14 16:26] danroth27 commented on #11210
@pranavkm @rynowak System.Text.Json issue

[2019-06-14 16:32] paulirwin commented on #8847
The XML comment for `Ok(object value)` clearly states that 200 OK is expected:

Worse, if you inspect the code for OkObjectResult, it appears like it should be using a 200 status code no matter what. That this behavior happens in the pipeline makes it difficult to diagnose. It also makes testing GET requests in the browser via the address bar difficult, as when 204 is returned, it doesn't change p

[2019-06-14 16:33] davidfowl commented on #8176
@mkArtakMSFT @pranavkm Isn't this done?

[2019-06-14 16:34] BrennanConroy commented on #11219
Apologies I misread this.

You're hitting the same issue as https://github.com/aspnet/AspNetCore/issues/6701

This is an error you can ignore when `TryWritePingSlowAsync` is in the stack trace. We've fixed this in 3.0 to no longer throw this error unless there is actually an issue.

[2019-06-14 16:40] danroth27 commented on #11185
@mkArtakMSFT Please assign

[2019-06-14 16:41] davidfowl commented on #1961
Making an incompatible webforms port isn't nearly as hard (like mono has) as making a compatible one.

[2019-06-14 16:44] davidfowl commented on #5068
Yes, please, put it on preview8 or 7 if there's time in 7.

[2019-06-14 16:44] danroth27 commented on #11182
Thanks for this suggestion! We don't have any plans at this point to add these features to the built-in `NavLink` component, but it would be great if you could build your new NavLink into a package and share it so that other folks can use it if they'd like.

[2019-06-14 16:44] #11182 closed

[2019-06-14 16:46] sidebarpronto opened #11228 "[Preview 6] Blazor (Server Side) overriding identity via scaffolding - Internal Server Error"
### Description
I tried extending the user registration with custom attributes to a sample project by using the Scaffold Identity steps (https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-3.0&tabs=visual-studio) - the end result is a mess; I ended up discarding the project.

 Could you please streamline this to work with new Blazor libraries. Tha

[2019-06-14 16:46] pranavkm commented on #8176
Yup.

[2019-06-14 16:46] #8176 closed

[2019-06-14 16:46] danroth27 commented on #11181
Thanks for reporting this issue! We think this is a duplicate of #9716.

[2019-06-14 16:46] #11181 closed

[2019-06-14 16:46] sidebarpronto commented on #11179
This error occurs when the page layout field is left blank. You can get around it by creating a dummy layout page and using that as your layout file. But the bigger problem is once the scaffolding templates are generated your Blazor project wont run. I created #11228.

[2019-06-14 16:47] danroth27 commented on #9716
When we fix this, we should verify the fix also resolves #11181

[2019-06-14 16:53] yehia2amer opened #11229 "Official Microsoft Fluent Design components for Blazor"
### Is your feature request related to a problem? Please describe.
One of the Things that can make Blazor even more promising, is to have Open source, Enterprise ready, Native C#, Blazor UI components for things like (Layout, Navigation, Data Entry, Grids, Forms, Data Visualization, etc..). So that developers don't have to reinvent the wheel.

Also Microsoft Now do have a complete and really Great

[2019-06-14 17:01] danroth27 commented on #11178
Not at this time.

[2019-06-14 17:01] #11178 closed

[2019-06-14 17:09] yan0lovesha commented on #11210
@danroth27 Yes you're right. It was too late last night. I went a little bit deeper this morning. Below code statements on LinqPad6 can prove it:
[code]

Seems that we need to wait for next preview release on this.

[2019-06-14 17:15] rowanmiller commented on #11223
Looks like an issue in the metadata that drives the download page. I will get it fixed.

[2019-06-14 17:15] mkArtakMSFT commented on #6912
Hi.

**It looks like you are posting on a closed issue!**
We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2019-06-14 17:18] mkArtakMSFT commented on #10521
@mikes-gh, we're quite a small team and we try to focus effort only on the most-critical issues/improvements for the upcoming release (3.0). In other words, this is not as important as the work we do for the 3.0 release.

[2019-06-14 17:22] rowanmiller commented on #11223
Looks like there are a few other downloads missing from the page too. I'm working on getting it resolved now.

[2019-06-14 17:23] brunoalreis commented on #9151
In my case, this happened to me because i updated the .net framework of the project and didn't installed it on production server. Hope it helps someone.

[2019-06-14 17:28] danroth27 commented on #11210
@yan0lovesha I believe the issue here is that System.Text.Json doesn't support doing serialization with public fields. Can you try using public properties instead?

[2019-06-14 17:31] pranavkm commented on #11210
Here's what I tried with the settings `PostAsJsonAsync` currently uses and it works fine:

[code]

I'd recommend filing an issue in https://github.com/dotnet/corefx/issues to consider adding support for public fields in a future release.

[2019-06-14 17:44] yan0lovesha commented on #11210
@pranavkm Thanks for your test. Yes it is working fine for properties with the CamelCase option specified.

The interesting thing is:
When I change the json string to use camel case field names, it can deserialize it without CamelCase option, but cannot deserialize it with CamelCase. I don't understand how CamelCase option broke the work when json field name is exactly same to class property name.

[2019-06-14 18:02] anurse commented on #7745
Agreed, it seems like since it's already done for generic host (which is the new regular) I think we can consider this done.

[2019-06-14 18:02] #7745 closed

[2019-06-14 18:11] kevinjpetersen commented on #11223
It would be cool if the Download Page was a GitHub Document so when it's changed one place, it will be changed there aswell :) Just like Documentation works. Not sure if that's how it works already, but at an error was just discovered :)

[2019-06-14 18:28] halter73 commented on #11209
I agree, but if we're removing the IPEndpoint property we should remove SocketPath and FileHandle properties as well since they also do little more than cast the EndPoint to a well-known derived type.

[2019-06-14 18:44] LaterStart opened #11232 "Dependency injection of custom IdentityUser class"
Hi,

I need help understanding how this could be done.
What I am trying to achieve is dependency injection of UserManager<ApplicationUser> service in unreferenced assembly from main project. Everything is working if built in IdentityUser is used as type, but when trying to do the same with custom one, it can't build the service, no mater what I try.

**Here is the execution chain with the built in

[2019-06-14 18:45] steveisok commented on #1961
I'd argue it's more of a grind porting a compatible one to mono, but nonetheless difficult.

[2019-06-14 18:45] nrcventura opened #11233 "Controller Action that throws an exception is invoked twice"
### Describe the bug
A controller action that throws an exception is invoked twice.

### To Reproduce
Steps to reproduce the behavior:
1. Using version 3.0 preview 6 of ASP.NET Core and .NET Core
2. Create a new MVC project using the default template
3. Update the HomeController to add a method that throws an exception like the following `public IActionResult ThrowException() { throw new Exception

[2019-06-14 18:46] Css-IanM commented on #11222
@danroth27 So the templates for blazor [here](https://github.com/dotnet/templating/wiki/Available-templates-for-dotnet-new) are no longer valid or required with preview 6? I installed the `Microsoft.AspNetCore.Blazor.Templates::*` templates to get the `blazorhosted` project template of which i was want to work with. I am already running `3.0.100-preview6-012264` which only provides `blazorserversi

[2019-06-14 18:48] #10680 closed

[2019-06-14 18:52] keesdewit82 commented on #11219
Hi @BrennanConroy Thank you very much for your reply. I will close the issue.

[2019-06-14 18:52] #11219 closed

[2019-06-14 18:53] davidfowl commented on #1961
WebForms is part of the issue but there's all the infrastructure to make a compatible system web. Mono works based on the old non-integrated pipeline model (IIS 6) and that's where a bulk of the incompatibility comes from.

[2019-06-14 18:55] rowanmiller commented on #11223
It is centrally managed as json files in https://github.com/dotnet/core. Those json files are consumed by the website and a bunch of other things.

[2019-06-14 19:06] willdean commented on #11224
I've backed-out back to to Pre5 for now so that we can make progress, but if this is a System.Text.Json issue, is it likely that an `AddNewtonsoftJson` could be made somewhere that would help avoid this?

[2019-06-14 19:11] stsrki commented on #11223
@kevinjpetersen I have installed Hosting Bundle but now I have another problem. It seems it is the same problem as in #11185. The client-side applications are not working, but server-side is working

**Client-side not working**: [link](https://bootstrapdemo.blazorise.com/)
**Server-side working**: [link](https://rcbootstrapdemo.blazorise.com/)

**Logs**:

[code]

[2019-06-14 19:14] ahsonkhan commented on #11210
Yes, the reason for missing info is that fields are not supported (only public properties).

We have an issue open for this already: https://github.com/dotnet/corefx/issues/36505

[2019-06-14 19:17] steveisok commented on #1961
I hear what you're saying.  Guess a webforms port means potentially a bunch of different things to different people and that would be part of the problem.

[2019-06-14 19:18] davidfowl commented on #11209
Do we make EndPoint internal then? When I made the change I didn't add support for listening on arbitrary endpoints either.

[2019-06-14 19:21] FeodorFitsner opened #11234 "SignalR Core 3.0 - TypeError: Cannot read property 'subscribe' of null"
After migrating the app from .NET Core 2.2 to .NET Core 3.0 Preview 6 every call to SignalR hub produces JS error:

[code]

While checking different `3.0.0-*` versions of SignalR JavaScript library (https://www.npmjs.com/package/@aspnet/signalr) we determined that the error starts from `3.0.0-preview-19075-0444`. Previous version `3.0.0-preview-18579-0056` works fine. Looks like something related

[2019-06-14 19:26] davidfowl commented on #1961
Right, so if your application can work on WebForms on mono then there's a good chance it might run without IIS on a hypothetical NET Core port. There's much more than the runtime pieces though:
- The deployment tech to make it work (webdeploy, shadow copying?)
- There's no more app domains, do you need to run multiple apps in the same process still?
- Do controls need to be compatible? The 3rd par

[2019-06-14 19:35] rowanmiller commented on #11223
FYI the issue with the files not being surfaced on the downloads page is now fixed.

[2019-06-14 19:39] Css-IanM commented on #11222
I found the issue. The command `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::*` installs 0.7.0 still. I had to specifically target the version `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview6.19307.2` This was a product of assumption and not entirely apparent. If you leave off the version and dont supply `*` for the version it will tell you the latest version and you ca

[2019-06-14 19:49] StingyJack commented on #1961
I would like to understand what their actual reason/defense is for why its OK to throw these giant piles of tech debt on us. It feels like most of the time the reasons I get are more about "i dont wanna" and any stats that are provided are for "back-in justification".

[2019-06-14 19:49] stsrki commented on #11223
Everything is working now. After installing the Bundle I also had to manually copy files from **wwwroot**, including **index.html**. For some reason they were not published.

Closing now because that is another issue. tnx

[2019-06-14 19:49] #11223 closed

[2019-06-14 19:51] stsrki commented on #11185
I can confirm the same problem has happened to me. To fix the error I had to manually copy all of the files in the **wwwroot** to my production server.

[2019-06-14 20:22] mkArtakMSFT commented on #11221
Thanks for contacting us, @flyrev.
We're in process of prioritizing our efforts and identifying focus areas for the upcoming releases.
I'll get back to you in about a week.

[2019-06-14 20:24] mikaelm12 commented on #11220
That's a good observation. Thanks.
A current work around would be to have your hub method return a bool indicating the if the hub method ran successfully but yeah, this is definitely a gap between the clients that we should look at.

[2019-06-14 20:28] BrennanConroy commented on #11234
This has been fixed in preview7 with https://github.com/aspnet/AspNetCore/pull/10780

[2019-06-14 20:37] #11234 closed

[2019-06-14 20:44] mkArtakMSFT commented on #11233
Thanks for contacting us, @nrcventura.
@pranavkm can you please look into this? Thanks!

[2019-06-14 20:48] #11114 closed

[2019-06-14 20:51] mkArtakMSFT commented on #11233
@nrcventura, I am not able to repro this issue. Please provide a small repro project so we can investigate this further.

[2019-06-14 20:59] ckuetbach commented on #3891
@Bartmax : Consumes seems to work correctly it selects the correct Action by negotiating the `Content-Type`-Header, Produces ignores the `Accept`-Header. If you encountered a problem, it could be the combination of `HttpGet` and `Consumes`. There is no request-body in a GET-request. and a ConsumesAttribute cannot negitate the `Content-Type` of the body.

I think you may confuse Consumes and Provid

[2019-06-14 21:00] mkArtakMSFT commented on #11229
Thanks for contacting us, @yehia2amer.
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

//cc @danroth27, @rynowak

[2019-06-14 21:01] halter73 commented on #11209
I'm saying we should remove all the EndPoint-derived properties on ListenOptions if we're going to remove IPEndPoint. If we were to make EndPoint internal in addition to that, we would break every IConnectionListenerFactory not in Kestrel.Core which is all of them.

Of course the problem with only using EndPoint derived classes is that it's not very discoverable. Anyone can add a new EndPoint type

[2019-06-14 21:23] HaoK commented on #8186
Fixes should be in now via this PR which was merged https://github.com/aspnet/Scaffolding/pull/977

[2019-06-14 21:23] #8186 closed

[2019-06-14 21:33] pranavkm commented on #11233
Looks like you've configured the action to be your error handler ::

[code]

That would explain the second error.

[2019-06-14 21:40] danroth27 commented on #11222
@Css-IanM Correct, the `*` means "use the latest *stable* version", where stable means the version doesn't have a preview moniker, like "-preview6".  Since we started versioning Blazor with preview monikers you now need to explicitly specify the version. You can find the exact command you need to run in the Blazor docs: https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started.

[2019-06-14 21:43] kthayer424 commented on #6077
Did y'all ever find out what object has the property `traceId` since it isn't on `ProblemDetails`? I'd like to use the automatic 400 handling, keep `traceId` as it is on the result, and also have the correct type identified for the Swagger documentation if possible.

[2019-06-14 21:46] halter73 commented on #11208
Unfortunately, especially for reviewing the removal of pubternal APIs, just seeing the diff is insufficient for review because you cannot see what *wasn't* removed from the namespace.

I think it would be far better to have two commits, one with the 2.2 API, and a second commit on top of it replacing the 2.2 API with the 3.0 API.

You could then push both commits to separate branches, e.g. davidfo

[2019-06-14 21:48] khellang commented on #6077
It's part of the extension data. See `ProblemDetailsClientErrorFactory.SetTraceId` 😉

[2019-06-14 22:13] nrcventura commented on #11233
Here's the sample project that I used to trigger the problem. The `ThrowException` method is not configured as the error handler. The error handler is configured to be `app.UseExceptionHandler("/Home/Error")` which is the default setting created by the new project template.

[AspNetCoreWebApp.zip](https://github.com/aspnet/AspNetCore/files/3292375/AspNetCoreWebApp.zip)

[2019-06-14 22:28] pranavkm opened #11239 "Null ref in HubConnection if parameter is null"
[code]

I did `connection.SendAsync("foo", 1, null);`

[2019-06-14 22:28] halter73 commented on #11208
I was going to suggest that IIS just use Kestrel.Core version for max compat, but I'd be shocked if anything on our tests actually depend on this. I think we should just "break" in 3.0 and pick a shared namespace.

[2019-06-14 22:32] pranavkm commented on #11239
cc @BrennanConroy

[2019-06-14 22:36] jkotalik commented on #11208
IMO this is a nice to have, but I doubt we will have time 😄

[2019-06-14 22:42] halter73 commented on #9327
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [x] Relevant XML documentation comments for new public APIs are present.
    * [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-06-14 22:44] aybelanov opened #11240 "Namespace of PageDisplay.cs"
### Describe the bug
The PageDisplay.cs is situated in Layouts Folder (Microsoft\AspNetCore\Components\Layouts ) but its namespace is Microsoft.AspNetCore.Components (without Layouts). I create a custom router. If I point Microsoft.AspNetCore.Components.Layouts namespace then I have the compile error "error CS0103: The name 'PageDisplay' does not exist in the current context". When I point  Micros

[2019-06-14 22:54] #11183 closed

[2019-06-14 22:54] javiercn commented on #11183
Fixed in 3.0

[2019-06-14 23:04] javiercn commented on #7738
Took care of this as part of https://github.com/aspnet/AspNetCore/pull/11227. Will close when it gets merged.

[2019-06-14 23:12] dazinator opened #11242 "Resource Filter Order not working as expected"
### Describe the bug
I have created a pair of `IResoureFilter`'s. My idea was, I want to register the first globally, and then I want to use the second on specific controllers in order to "disable" the global one. I thought this should be possible, by implementing `IOrderedFilter` on both, and making the sure the global one runs after the one I intend to use to disable it on specific controller cl

[2019-06-14 23:24] pranavkm commented on #11233
@nrcventura I'm sorry for closing the issue earlier. This does look like a particularly nasty bug.

@rynowak here's what's happening:

1) Endpoint routing executes and sets the endpoint to an action
2) The action throws
3) Request unwinds to the error handler which updates the request path and re-executes: https://github.com/aspnet/AspNetCore/blob/f45250ce5e423dad083fe99967a4d65782c5301e/src/Middl

[2019-06-15 00:03] FeodorFitsner commented on #11234
Thank you, looking forward to work with Preview 7!

[2019-06-15 00:37] rodrigorrl commented on #1528
@ststeiger could you add me please?
rodrigorrl

[2019-06-15 03:48] danroth27 opened #11243 "In the server-side Blazor template the exception handler points to a endpoint that is not defined"
In the server-side Blazor template the exception handler points to a endpoint that is not defined. There is no endpoint for `/Home/Error`.

[code]

[2019-06-15 04:03] yan0lovesha commented on #11210
I tried to make the server side api returns camel cased json string by adding following two statements in Startup.cs. They both don't work.
1. This one seems to set the System.Text.Json options.
[code]
2. This one seems to set the NewtonSoft json options.
[code]
Above two both don't work. Seems that the only way to implement this is to explicitly serialize object with customized options?

[2019-06-15 04:31] halter73 commented on #11208
I feel most of the time spent on this will be deciding whether or not to do it.

[2019-06-15 05:18] dazinator commented on #11242
Possibly related #5152

[2019-06-15 05:58] davidfowl commented on #11208
Agree with Stephen, we should do it now.

[2019-06-15 06:01] davidfowl commented on #11209
I’m not arguing that. I asked if we should remove the EndPoint property given that we cannot instantiate a ListenOptions with arbitrary endpoints.

[2019-06-15 06:47] Mercurial commented on #11229
hopefully, it will be considered as high as this is one of the selling points of a UI Library, actually, have beautiful components <3

[2019-06-15 06:56] Mercurial opened #11244 "[Server Side Blazor] Trying to pass Uint8Array from JS to C# with JSInterop"
### Describe the bug
Basically, in the javascript world, I am invoking a [JSInvokable] C# Method and passing a Uint8Array as the parameter.

[code]
then in the C# world you would have something like this
[code]

### To Reproduce
Steps to reproduce the behavior:
To Reproduce simply create a C# Class with [JSInvokable] method and a javascript function that takes a componentRef and invoke the C# meth

[2019-06-15 06:59] Mercurial commented on #11244
To work around this at the moment what I am doing is basically passing a number[] from the javascript side and receiving it as an int[] in the C# side and converting it to a byte[] instead. Which might be very bad for performance

[code]

[2019-06-15 07:05] Mercurial commented on #6912
thanks!

[2019-06-15 07:07] Mercurial commented on #11224
I think its also related to my problem #11244 11224

[2019-06-15 09:36] aybelanov commented on #11240
I've figured out the issue. It was a value of the targetframework (aspnetcore instead netstandard).

[2019-06-15 10:06] marcussacana commented on #7032
Same problem here... strange....

[2019-06-15 12:06] martincostello opened #11246 "JsonResult and Controller.Json() do not work without calling AddNewtonsoftJson() in 3.0 preview 6"
### Describe the bug

If `AddNewtonsoftJson()` from `Microsoft.AspNetCore.Mvc.NewtonsoftJson` is not called while configuring MVC in ASP.NET Core 3.0 preview 6, then rendering the result of a call to the `Controller.Json()` method fails with an `InvalidOperationException` and an HTTP 500 status.

[code]

[Searching for `SystemTextJsonResultExecutor`](https://github.com/aspnet/AspNetCore/search?q=S

[2019-06-15 13:10] captmomo commented on #5385
Hi,
I'm experience the same problem and this is my startup.cs code:

under ConfigureServices()
[code]

Configure
[code]
Is the issue because I didn't provide specific origins?
The error:

[code]

[2019-06-15 13:15] shahabganji commented on #5385
Yes, you should `explicitly` add the list of allowed origins, `*` is no longer acceptable.

[2019-06-15 13:21] captmomo commented on #5385
@shahabganji , I have tried that and I still get the error. Am I implementing it wrongly?

[2019-06-15 13:27] StingyJack commented on #1961
Lest ye forget, the choice to make **everything** anyone has ever done with netfx require porting was not made by the existing customers.

[2019-06-15 13:34] shahabganji commented on #5385
The name of policy in your  app.UseCores do not Mach the name of the policy you have defined, in this case “AllowAll”

[2019-06-15 14:41] amrmoneem32 commented on #11229
I totally agree with @yehia2amer`s suggestions, it would help alot of developers and facilitate their job!!

[2019-06-15 16:04] Dotneteer opened #11248 "Blazor change detection fires for a property that does not change"
### Bug description:

In the following example (created from the default Blazor project), the `Index` component passes an input parameter, `Initial`, to `Counter`, and gets a notification whenever the counter value changes:

[code]

`Counter` sets its starting value in the `OnParametersSet` lifecycle method. Whenever the counter's value changes, it sends a notification:

[code]

Every time `Counte

[2019-06-15 16:25] HurricanKai opened #11249 "Let It crash option"
### Is your feature request related to a problem? Please describe.
I'm deploying a Blazor Project to Kubernetes, and noticed that there is no way to let an instance fail if an error occures, this would be benefical, because then Kubernetes (or another tool) can handle the failure, instead of the instance staying in an unusable state.
In my case the underlying Redis connection was closed due to the

[2019-06-15 16:43] martincostello commented on #11246
Users can work around the issue with the following snippet:

[code]

[2019-06-15 16:52] UrielMhezzek commented on #11105
Yeah. That gave me the right clue. I actually installed (multiple) 32bit version. Shame on my head. Thank you.

[2019-06-15 16:52] #11105 closed

[2019-06-15 16:57] anurse commented on #11105
No problem! Happy to help and glad you found the solutioN!

[2019-06-15 17:08] anurse opened #11250 "[SignalR] Add some connection failure management options to Redis backplane"
Right now, if the Redis connection fails we simply log and continue as-is, meaning the SignalR connections are active but non-functional. We do provide [a workaround to allow users to hook `ConnectionFailed` and perform custom logic](https://docs.microsoft.com/en-us/aspnet/core/signalr/redis-backplane?view=aspnetcore-2.2#custom-behavior-for-connection-failures) but this is a bit hacky.

We should

[2019-06-15 17:09] anurse commented on #11249
Redis failures can be transient so SignalR intentionally doesn't fail the application when a connection error occurs. It is currently possible to detect when Redis fails and perform your own logic (terminating the application or otherwise signalling to other components that the connection is non-functional). We have some docs on how to do this here: https://docs.microsoft.com/en-us/aspnet/core/sig

[2019-06-15 17:19] anurse commented on #11244
SignalR can't send binary data through the JSON protocol, but Blazor uses the binary MessagePack format so this *could* work. Having said that, it's very likely it doesn't work right now as it hasn't been implemented.

What happens if you try sending the underlying `ArrayBuffer` using the following code?

[code]

[2019-06-15 18:11] sbuchok opened #11251 "No matching start tag"
The following code gives an error of "Encountered end tag 'div' with no matching start tag. Are your start/end tags properly balanced?" on "</div>

[code]

This also then causes issues with the } brackets for the rest of the page, almost like it's missing the brackets aftert </div>. I'm sure there is a better way I can be doing this. I don't really like the way I did this anyways, so I'm going to

[2019-06-15 18:47] HurricanKai commented on #11249
I did actually not know that SignalR can manage Redis, I was using it separatly, injecting

[2019-06-15 18:52] dazinator commented on #11242
As per #5152, the cause was the fact that when registering a filter as per below, it actually gets wrapped in a `TypeFilter` which has it's own `Order` defaulting to `0` which will override any Order property you actually implemented in your filter. So you have to use the overload to pass in the order. This is not obvious and a bit nasty but atleast I found the solution:

[code]

[2019-06-15 18:52] #11242 closed

[2019-06-15 21:04] BrightSoul opened #11252 "Get HttpContext features via dependency injection"
Hi,
every now and then I need to get a HttpContext feature with code like this:
[code]
While it's indeed working, it feels like I'm using the service locator pattern. Why can't I just leverage dependency injection and do the following?
[code]
I am aware I could let a component depend upon `IHttpContextAccessor` and then proceed from there. But why can't features be considered services? At least...

[2019-06-15 21:58] ststeiger commented on #1528
@rodrigorrl: added.

[2019-06-15 22:37] ststeiger commented on #1961
truer words have never been spoken.

We have exactly one 3rd party control, to which we have the source code, and it is an utterly superfluous[ grouped RadioButton](https://www.codeproject.com/Articles/7960/How-to-group-RadioButtons). Exactly the same can be achived with plain HTML.
Also, ILSpy has become pretty good, so decompiling and recompiling 3rd party controls is possible in case of doubt,

[2019-06-15 22:58] pranavkm commented on #10882
Fixed in https://github.com/aspnet/Extensions/pull/1802

[2019-06-15 22:58] #10882 closed

[2019-06-15 23:06] ChristopherHaws commented on #10497
@mkArtakMSFT Thanks for the reply. I took our solution and removed everything from it except the necessary code to repro this issue. Once piece of information that I missed in the inital report is that you need to create two test classes in order to repro the issue. I created a AzDo repository and yaml pipeline that reproduces the issue.

Repo: https://dev.azure.com/chaws/_git/webpack-issue
Build:

[2019-06-15 23:53] anurse commented on #11249
So you have your own Redis components in place? It's up to you how you handle errors in that. If you want to stop the application when Redis goes down, you can do so already with [`IApplicationLifetime.StopApplication`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.iapplicationlifetime?view=aspnetcore-2.2).

[2019-06-16 02:15] anurse commented on #11252
Features are very different from services. They represent functionality provided by the server, _or other middleware_, related specifically to the processing of **this** request. Most importantly, the feature collection for a given request is *mutable*.

For example, take WebSockets. Kestrel does not natively support WebSockets but it does support "HTTP Upgrade" (which is a functionality that WebS

[2019-06-16 02:22] anurse commented on #11251
You can't split open/close tags between Razor code blocks like `@if`. Razor needs to be able to understand where the markup ends and the code begins and it does that by balancing markup tags.

Consider the markup in a Razor page just like any other C# block construct. You couldn't write code like this for example:

[code]

Razor is the same, but the tags are **part** of the code and have the same

[2019-06-16 02:34] sbuchok commented on #11251
I hate logging a bug only to find out that you didn't read the documentation ;)

Thanks, that makes sense.

[2019-06-16 02:34] #11251 closed

[2019-06-16 02:48] bchavez opened #11255 "Blazor: Visual Studio "Add New Item..." dialog box suggests wrong .cshtml extension."
Not a major issue, but sometimes it's the small things.

### Describe the bug
When selecting **Razor Component** in the **Add New Item** dialog box in Visual Studio, VS suggests a new filename with the `.cshtml` extension for a Blazor server-side project. This should be the new `.razor` extension.

### To Reproduce
Steps to reproduce the behavior:
* Open any new Blazor project, right on `Shared` o

[2019-06-16 03:45] iAmBipinPaul commented on #11142
@chrissainty After registering HttpClinet on Server project also, Injecting client on index page also works.
but it does not work when calling another URL than root URL which also injects HttpClinet directly.
`(curl localhost:[pror]:fetchdata)` does not work.

[code]

[2019-06-16 04:46] Tratcher commented on #11252
That said, there are relatively few features you need to access directly. Most of their functionality is accessible through HttpContext properties, extension methods, or MVC attributes / filters. Anywhere you need direct access to a feature interface tells me there's a gap in the higher level APIs. Was IRequestCultureFeature a real example for you? Do you have others?

[2019-06-16 05:12] captmomo commented on #5385
Thank you Saeed!
Yes I realised that. Using the right name and specifying the origin address
in the CORS policy rectified the error.
Thanks again.

On Sat, 15 Jun 2019 at 9:35 PM, Saeed Ganji <notifications@github.com>
wrote:

[2019-06-16 05:26] davidfowl opened #11258 "[API Review]: HubConnectionContext should take an options object"
We already have 2 constructors and this release adds a 3rd:

https://github.com/aspnet/AspNetCore/blob/9662a5bf542654b1ed1f8007efe068bb7063afcf/api-diffs/api-diffs_Microsoft.AspNetCore.SignalR.md

Might make sense to pass an options object through.

[2019-06-16 05:36] Mike-EEE commented on #10348
I would like to recommend having "WebSockets" prominently displayed somewhere for server-side mode, if not in the name itself, then in the description (if it's not already).  Having this in the name would certainly help alleviate confusion with the different modes and provide a clearer description of how the state is updated in the application.  At least, it would for me. 😁

It would also be great

[2019-06-16 07:08] pamedasa commented on #11039
I have explored and implemented IActionSelector provided by asp.net core through which added fallback support. Closing the issue

[2019-06-16 07:08] #11039 closed

[2019-06-16 07:27] Rody66 commented on #6415
Hi @pakrym ! This is actually our issue that we met just now with a large body (client has a timeout of 5.000 ms, obviously it was not enough). Is there any way to prevent this server exception? It's not good that it's throwing.
Here is a stack trace (.net core 2.2.5):
[code]

[2019-06-16 08:49] khteh commented on #10873
Switch to use IPAddress.Any works.

[2019-06-16 09:44] leonmills opened #11259 "Validation not showing inline for string[] value - Showing in Summary only"
While trying to validate a select list with multiple items ( asp-for is bound to string[] ) I was unable to get the inline validation to work - it would only appear in the validation summary

Using 2.2

**Example of Issue**: [select-list-issue.zip](https://github.com/aspnet/AspNetCore/files/3293998/select-list-issue.zip)

Press submit in this working razor page project to see issue in action - tex

[2019-06-16 10:05] SetTrend opened #11260 ""405: Method not allowed" = Misleading error message → Replace with better HTTP status code"
### Is your feature request related to a problem? Please describe.
If `HttpPost`/`HttpDelete` attributes won't precisely reflect the Web API endpoint, HTTP status **`405 Method not allowed`** is returned to the client.

I believe this status message to be inappropriate, confusing and misleading.

### Describe the solution you'd like
I suggest to, instead, return one of the following status codes i

[2019-06-16 10:13] HurricanKai commented on #11249
I see, I'll try implement it using that. Thanks for the help 😄

[2019-06-16 10:13] #11249 closed

[2019-06-16 10:22] aiqoo opened #11261 "Blazor - control of repeated component"
I may be asking a dumb question but i need to make sure i'm not missing something here.

In a certain list I have a component that is required to repeat itself in a foreach loop.

I need to control the component in each row seperately, when an operation occurs outside that specific component but in that row.

It can obviously achieved by creating a templated row component but I am trying to determ

[2019-06-16 12:09] BrightSoul commented on #11252
Yes, and here's another example with `IExceptionHandlerPathFeature`, a feature added by the `ExceptionHandlerMiddleware`. I use it to determine which exception type was thrown and then produce an appropriate and helpful error message.
[code]

Thank you so much @anurse for the detailed explanation. The question still stands though: if I can get a feature via the `IHttpContextAccessor`, why can't I

[2019-06-16 12:28] yehia2amer commented on #11229
Thanks @mkArtakMSFT , Great to hear that there is an interest for this idea to be implemented.
Very Excited to see this in [Blazor Roadmap](https://github.com/aspnet/AspNetCore/issues/8177) soon. and hopefully in production with .Net 5 !

[2019-06-16 13:15] jmk92 opened #11262 "Form key length limit 2048 exceeded."
After switching to preview 5、6, you often encounter the following error logs

[code]

Tracking access logs found that the parameters of the web API requested by the client were normal and did not exceed the limit. Strangely, from 2.2, the code of the interface did not change, just upgraded to preview 5, and from that day on, there were constant error logs, sometimes several minutes, sometimes doze

[2019-06-16 13:22] davidfowl commented on #11262
cc @jkotalik

[2019-06-16 13:32] goenning opened #11263 "Never ending request when there are two razor components with same name"
### Describe the bug
Never ending request when there are two razor components with same name.

### To Reproduce
1. Create a new Blazor Server Side app.
2. Copy Counter.razor to Components/Counter.razor and remove `@page`
3. On Pages/Counter.razor, remove it's content and add `<Counter />`
4. Start the app and try loading it, the request will never complete

[code]

### Expected behavior
I'd expect

[2019-06-16 13:33] jmk92 commented on #9278
Preview 6 will still be like this

[2019-06-16 14:24] rynowak commented on #11225
It might be the case here that the item-template is missing a BOM. If I create a new component using the item template and save, it doesn't have one.

[2019-06-16 14:30] dazinator opened #11264 "[Question] - Modifying Attribute routing routes for application part assemblies"
Suppose I want to allow people to create plugins for my ASP.NET Core Web API application.

The plugins can include endpoints using attribute routing:

[code]

I can load these plugins and add AssemblyPart's to the Parts Manager in Asp.net core, and stuff will work - no problem so far. In the case above, I can send a request to `/SomePlugin` and it's routed to the plugin in question - cool stuff.

[2019-06-16 15:23] yan0lovesha commented on #11210
As [this blog](https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-apis/) mentioned. I tried to use services.AddMvc().AddJsonOptions(...) in Startup class. The default WeatherForecast api works fine. It can respond a correct json string. But for my own api controller, it just output an empty json object "{}". With the same api controller code, AddNewtonsoftJson works fine. This mayb

[2019-06-16 15:40] Tratcher commented on #11252
Indeed, features are meant to be the underlying infrastructure, not direct consumption.

An IFeatureAccessor service couldn't be implemented without IHttpContextAccessor, so it doesn't add much value.

[2019-06-16 17:03] anurse commented on #11252
Also, I'd view `IHttpContextAccessor` as more of an anti-pattern than the "service lookup" you're doing with features :). As much as possible, you should avoid relying on an ambient `HttpContext`.

[2019-06-16 17:06] anurse commented on #11249
@HurricanKai that's probably your best option. ASP.NET Core already puts an `IApplicationLifetime` implementation in DI, so you just need to inject it into the constructor of your service/controller/etc. and you can call `StopApplication` on it to stop the app.

[2019-06-16 17:08] anurse commented on #11251
Hey, it also means our docs may not be as easy-to-find as we want :). Let us know if there are places you looked for docs about this and didn't find them!

[2019-06-16 17:18] anurse commented on #11260
To clarify, do you mean you have a situation where you specify `HttpPost` but the user sends a `GET` or `DELETE` or other non-`POST` method?

I'm not sure I understand why you think this is an inappropriate response assuming I understand your scenario correctly. The server is making clear (via the attributes) which HTTP Method is allowed (`POST`, `DELETE`, etc.) and if the client uses a different

[2019-06-16 17:30] anurse commented on #11255
We'll take a look at this issue, but I'd also recommend you file it using the VS Feedback tool (in the top-right corner of VS). That helps ensure it gets tracked by the relevant Visual Studio team. It also automatically collects a lot of the data you provided (VS versions, etc.). We'll also route this feedback appropriately but in general if you see an issue in VS, the VS Feedback tool is the quic

[2019-06-16 17:39] Andrzej-W commented on #11248
In the doc we can read

It looks that it works as designed and documented. You can add a private bool variable `firstParameterSet` and change your method to something like this:
[code]

[2019-06-16 17:44] rynowak commented on #4221
I've created a PR for this here: https://github.com/aspnet/AspNetCore/pull/8955

It works roughly the way @joshua-mng  suggested. If you're interested in this area, please take a look at [this](https://github.com/aspnet/AspNetCore/pull/8955/files#diff-5a433b2664ee6b8ae7b9717bc51d3518R35) and let me know if this works for your needs.

[2019-06-16 18:01] Dotneteer commented on #11248
@Andrzej-W, I know that your suggestion is a good work-around, and I'm also aware of the fact you have cited from the documentation :-).

In the sample I attached, it is not clear why Blazor re-renders the `Counter` component when its `Changed` event is fired and processed by its parent, but not when either the event is not fired or the parent does not process it. This is why I suspect it is a bug

[2019-06-16 19:32] Tratcher commented on #11262
This class of issue is very difficult to debug without a trace of the user input that triggered it.

[2019-06-16 19:32] Tratcher commented on #11252
Ok. I don't know the localization area very well, but there's several pages of docs and they only mention the feature once. https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-2.2#dataannotations-localization. Do you have a more specific example of what you were trying to do and why the higher level mechanics weren't appropriate?

For IExceptionHandlerPathFeature

[2019-06-16 19:34] Tratcher commented on #11252
@anurse bumping out of discussion for triage, https://github.com/aspnet/AspNetCore/issues/11252#issuecomment-502479394 is actionable.

[2019-06-16 19:41] alefranz commented on #9920
Hello,

I toyed with this idea and I'm working on the ability to:
- Add the ability on the `ResponseCacheAttribute` to specify a list of status codes it applies to:
[code]
- Move the ResponseCacheFilter logic to `OnActionExecuted`
  This will be a breaking change, the most important difference I believe will be that it will override headers eventually set in the controller, however the documentati

[2019-06-16 19:49] GoranHalvarsson opened #11266 "Blazor - Add JsonSerializerOptions as parameter to HttpClient.GetJsonAsync<T>"
I suggest you add JsonSerializerOptions as a parameter(could be optional) to the HttpClient.GetJsonAsync<T> method. For the deserialization of json you are using `JsonSerializer.Parse<T>(await httpClient.GetStringAsync(requestUri), JsonSerializerOptionsProvider.Options)`.

The  parameter `JsonSerializerOptionsProvider.Options`  should be accessible.

This should probably be added to all extension

[2019-06-16 19:54] Andrzej-W commented on #11248
Sorry @Dotneteer - now I think that I understand what you are asking for.

Blazor re-renders component after each event. Here `Counter` component handles `onclick` and is automatically re-rendered after each mouse click. This is expected because internal state of the component changes and you want to see a new counter value on the screen. Parent component (`Index` in this case) doesn't have to be

[2019-06-16 19:59] BrightSoul commented on #11252
I agree with you, that's why I opened the issue. Relying on the `IHttpContextAccessor` violates the interface segregation principle. And I don't want to rely on the `HttpContext` property either since I just need to get these two references, not just in a Controller but in any POCO dependency-injectable service.
- A reference to the current exception;
- A reference to the current culture.

If you

[2019-06-16 20:09] Dotneteer commented on #11248
@Andrzej-W, thanks for your explanation, it sounds absolutely logical. According to it, I would not call this phenomenon a bug, rather sub-optimal behavior. I guess, before re-rendering the parent, it can be checked if there's real change (and not just _potential_) in the state. Probably this check is cheaper than re-rendering :-).

[2019-06-16 20:14] wis3guy commented on #6640
@Tratcher I'm sorry, but i'm no longer working on that particular (client) project, that was 6(!) months ago. My workaround, described above, is still working like a charm though. Did my sample project not help?

[2019-06-16 20:47] BrightSoul commented on #11252
Also, I need some confirmation about `CultureInfo.CurrentCulture`: since [it's marked as ThreadStatic](https://github.com/dotnet/corefx/blob/b86783ef9525f22b0576278939264897464f9bbd/src/Common/src/CoreLib/System/Globalization/CultureInfo.cs#L120), what happens when I use it in an async method?
Does ASP.NET Core update the thread culture correctly when it resumes execution after an await?

[2019-06-16 20:48] willdean commented on #10496
We are using server-side Blazor to run a front-panel (touch-only) on a bit of equipment.   If we upgrade the server-side code (we can do this behind the scenes) we'd like the client to reconnect by whatever means possible - we don't find the 'retry' button ever does anything useful/visible in any situation we've seen (neither VS background compile, nor 'real system' upgrade), and without connectin

[2019-06-16 22:13] alefranz commented on #10583
I will give it a go

[2019-06-16 22:13] xJonathanLEI opened #11267 "Blazor Template Site CSS Breaks Bootstrap Tabs"
### Describe the bug
The following lines from `site.css` breaks Bootstrap tabs:

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

Bootstrap tabs are broken as shown in the following screenshot:

<img width="235" alt="BootstrapTabBug" src="https://user-images.githubusercontent.com/19556359/59570139-22022100-90c6-11e9-9

[2019-06-16 23:02] SetTrend commented on #11260
At this time I'm in a critical project phase at my customers'. So, I currently don't have time/resources to create a sample project.

Let me give you a brief example:

[code]
-or-
[code]

Both return "405 Method not allowed" on a request like

[code]

[2019-06-16 23:15] Andrzej-W commented on #11248
This is not necessarily true. You can pass complex objects as parameters, for example List<T> where T is complex class with references to other classes. Component can be relatively simple - it displays only the number of elements in the list. In that case it is easier and cheaper to re-render the component than keep copy of this list somewhere and compare all (maybe thousands) elements recursively

[2019-06-16 23:53] enetstudio opened #11269 "ASP.NET Core and Blazor updates in .NET Core 3.0 Preview 6"
The following code-snippet is from the article by Daniel Roth:

LoginDisplay.razor

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <a href="Identity/Account/LogOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>

[2019-06-17 00:07] #11269 closed

[2019-06-17 00:08] JamesNK opened #11270 "HTTP2: Send trailers with data"
Kestrel is sending HEADERS and DATA together in a TCP packet, followed by HEADERS (trailers) in the next TCP packet.

![image](https://user-images.githubusercontent.com/303201/59571328-9f925500-90f7-11e9-921e-1b4f3bd889b9.png)

The C-Core gRPC server sends HEADERS, DATA and HEADERS (trailers) in a single TCP packet.

![image](https://user-images.githubusercontent.com/303201/59571418-7f16ca80-90f8-

[2019-06-17 00:10] enetstudio opened #11271 "ASP.NET Core and Blazor updates in .NET Core 3.0 Preview 6"
The following code-snippet is from the article by Daniel Roth:

LoginDisplay.razor

[code]

Hello, @context.User.Identity.Name! Log out Register Log in
Can somebody here tell me what is going on when I click on the Log in link.
Is this the way to authenticate, sending the user out of the SPA app ? Don't I have to create a Log In Component, let the user provide credentials, and then post it to the

[2019-06-17 00:29] Andrzej-W commented on #10452
Hopefully you will be able to resolve this issue #9128 which was closed as "problematic".

[2019-06-17 00:55] JamesNK commented on #11270
Relevant code?

https://github.com/aspnet/AspNetCore/blob/b528fd0a46422d2625ef690e89bf04557bbd7286/src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs#L318-L326

[2019-06-17 03:17] mikaelm12 commented on #11239
There actually is a Java component to this issue. I found it as I was adding a test. I'll explain more in the coming PR

[2019-06-17 03:37] guardrex commented on #11271
@enetstudio We have some docs on the way. It's a work-in-progress right now, but you can inspect the PR in the docs repo to get some additional info. https://github.com/aspnet/AspNetCore.Docs/pull/12853

[2019-06-17 03:48] rsuzumura opened #11273 "IFormFile on List property never ends the request"
When I upload a complex type with a list of IFormFile using .NET Core 2.1, the request works. But when I use .NET Core 2.2, the request never ends.

### To Reproduce
Steps to reproduce the behavior:
1. Using any version of ASP.NET Core 2.2
2. Run this code:
[code]
3. Test with Postman:
![image](https://user-images.githubusercontent.com/7788548/59577032-519a3480-9098-11e9-8ea1-f5aa517ef617.png)

##

[2019-06-17 04:15] Tratcher commented on #11270
Theory: It's likely this is the result of two passes through the loop. The first pass picks up the data before the pipe is complete [here](https://github.com/aspnet/AspNetCore/blob/b528fd0a46422d2625ef690e89bf04557bbd7286/src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs#L337). The second pass picks up the complete status and sends the trailers.

In most cases there's going to be

[2019-06-17 04:21] akousmata opened #11274 "Unexpected character encountered while parsing value: <. when authenticating using AzureAD"
### Describe
I am seeing the error in the title on the .Net Client when it tries to connect and send a message but only after I have published it to our Azure App Service.  The App Service contains both an MVC app which acts as a .Net Client and the Hub itself.  In the .Net Client's HubConnection call I am using `options.UseDefaultCredentials = true;` which I'm not sure if that works using AzureAD

[2019-06-17 04:29] JamesNK commented on #11270
Yes, gRPC does that for calls with a single message response. I expect that FlushAsync would always result in separate packets.

That's what I thought. There would be a new version of `WriteDataAsync` that didn't flush which would be called in the code above (line 322).

[2019-06-17 04:53] Dotneteer commented on #11248
Agree with you, this check can be very expensive in many cases, especially for complex object graphs. Nonetheless, there are very simple cases, especially when you need to compare intrinsic .NET value types.

I can accept Blazor works as it is, however, I'm happy to mention where I see some opportunity for performance optimization :-).

Thanks for your explanation and reporting the documentation i

[2019-06-17 05:46] jkotalik commented on #11262
We made a change to the underlying form reader in preview4, which could have introduced unintended breaking changes. As a work around, @jmk92 can you increase the FormKey size limit to a larger value via the FormOptions: https://github.com/aspnet/AspNetCore/blob/master/src/Http/Http/src/Features/FormOptions.cs#L47.

@davidfowl @Tratcher
After rereading the code, I think I may see the underlying di

[2019-06-17 06:07] jmk92 commented on #11262
@jkotalik @Tratcher
I've set up FormKey manually, which seems to solve the problem, but the request was initiated by my C # program (user use). The form sent is fixed. The length of the key can't exceed 2048, so it's strange.

[code]

That's the rule, and after UrlEncode, the key with the name T0 will exceed 2048?

I think there may be hidden bugs. Post data is not well documented online, so it is

[2019-06-17 06:11] davidfowl commented on #11209
Removed Endpoint

[2019-06-17 06:11] #11209 closed

[2019-06-17 07:41] vertonghenb commented on #10878
Will there be a hot fix for this?

[2019-06-17 07:58] AdamRiddick commented on #10515
Hi Andrew,

I can confirm this was the route cause of the high CPU on startup & the **OutOfMemoryException**'s we were seeing throughout the day when the application was starting up again.

We are now averaging a slightly higher CPU usage, but thankfully it's nothing Drastic.

We'll keep an eye on [#2737](https://github.com/aspnet/AspNetCore/issues/2737) relating to this - Thanks.

[2019-06-17 08:00] mikes-gh commented on #10521
@mkArtakMSFT  appreciate your efforts :+1:

[2019-06-17 08:01] YunWeiaa opened #11278 "For a ASP .NET Core (.net core 3.0 preview7) Web API project via CLI, get the error "HTTP 404 error That’s odd... Microsoft Edge can’t find this page"."
### Describe the bug
For a ASP .NET Core (.net core 3.0 preview7)  Web API project via CLI, get the error "HTTP 404 error That’s odd... Microsoft Edge can’t find this page".

### To Reproduce
Steps to reproduce the behavior:
1. Install .NET core sdk 3.0.100-preview7-012424
2.  Create a new .net core ASP .NET Core Web App API project via CLI, dotnet restore and build succeeded.
3. Dotnet run succee

[2019-06-17 08:20] jekawo opened #11279 "Preview 6 Site Extension can't be installed in Azure App Service"
I was just wondering when the preview 6 Azure SiteExtension will be available?

[2019-06-17 08:43] basslagter opened #11280 "Value is invalid for target location when working with abstract classes"
I have a structure like:

[code]

Now I want to add a filter and use :

[code]

Now I get "The value is invalid for the target location". When I remove the abstract keysword on the BaseFilter, evything works fine.

So that seems to be an issue to begin with. But to make it somewhat more complex I actually want to add a specific filter, like:

[code]

Is this even possible?

[2019-06-17 09:01] basslagter commented on #11280
Looking any further I guess the error is because one cannot create an instance of an abstract class of course. Maybe a more descriptive error message would be nice here.

But still...how can I get this to work? I guess I need to create an adapter or such?

[2019-06-17 09:08] samtax01 opened #11281 "Please can we have Javascript callback with parameter ?"
Is there a way to add callback to Javascript and get the result in Blazor? Apart from JS Promises.

for example, let say i want to load a file

Javascript Code

[code]

Can i have something like this in Blazor C#
[code]

Or Maybe something like this
[code]

[2019-06-17 09:09] Fax3D commented on #11278
Same issue here (with preview 6): I need to perform a clean before launch debug, otherwise i got a 404.

[2019-06-17 09:13] neman opened #11282 "ValidationProblemDetails issue with inheritance and xml response"
### Describe the bug

When using inherited ValidationProblemDetails object, validation errors does not show for xml serialization (SuppressModelStateInvalidFilter is set to true).

Default ValidationProblemDetails and xml serialization works fine.

### To Reproduce
Steps to reproduce the behavior:
1. Using VS 2019 and SDK 2.2.203 of .NET Core
2. Create new web api project
3. This is ConfigureServi

[2019-06-17 09:15] nphmuller commented on #8952
Just installed preview 6 (without having any other preview installed before) and this still happend.
Chrome reports `ERR_SPDY_INADEQUATE_TRANSPORT_SECURITY`.

SDK/Runtime version: `3.0.100-preview6-012264`.

[2019-06-17 09:18] karthickthangasamy commented on #11174
I am also facing this issue with `dot` library application. The `wwwroot` assets are not loaded in server-side Blazor application.

![image](https://user-images.githubusercontent.com/5012353/59593064-e8093d00-910e-11e9-9cae-1c963a3e1b6a.png)

The application is working as expected while renaming the library app into `RazorLib1`. Could you please provide some quick fix for this issue.?

[2019-06-17 09:21] nphmuller opened #11283 "Error when clean dev-certs: Sequence contains more than one matching element"
### Describe the bug
When I run `dotnet dev-certs https --clean` on `3.0.100-preview6-012264` I get the following error:
[code]

### To Reproduce
`dotnet dev-certs https --clean`

I think it might be because of my current certificate state.
If I have to share more info (for example duplicate dev certs), please share info about which store I have to check, etc.

### Expected behavior
Https dev cert

[2019-06-17 09:22] nphmuller commented on #8952
Might be related to https://github.com/aspnet/AspNetCore/issues/11283 for me.

[2019-06-17 09:24] Stamo-Gochev commented on #6349
@javiercn Is it expected for a class library, whose package id contains dots to be generated without the dots? If there is a library called `MyCustomLib` and a js file called `script.js` in the `wwwroot` folder and its `PackagedId` is specified as:
[code]
then the path to the file is `_content/mycustomlib/script.js` instead of `_content/my.custom.lib/script.js`. Is there a way to actually generate

[2019-06-17 09:25] AlseinX commented on #11174
You can access by replacing the  `Test.RazorLib1` to `testrazorlib1` from the url and it should work on server side hosting, but it stops working on client side hosting. :-<

[2019-06-17 09:29] nphmuller commented on #11283
I have multiple `localhost` certs in my `Current User\Personal` store. Only a single one with a friendly name of `ASP.NET Core HTTPS development` though.

The same certificate (same thumbprint) also exists in my `Current User\Trusted Root Certification Authorities` store.

The certificate doesn't exist in my `Local Computer\Personal` and `Local Computer\Trusted Root Certification` store.

[2019-06-17 09:29] karthickthangasamy commented on #11174
@AlseinX : Yes, it will work, but we need generic solution all the hosting models of Blazor.

[2019-06-17 09:31] AlseinX commented on #11174
@karthickthangasamy Me too.

[2019-06-17 09:41] #11069 closed

[2019-06-17 10:37] molidestroyer commented on #9285
Hi guys, any update on this?

Error I getting
Severity	Code	Description	Project	File	Line	Suppression State
Error	NETSDK1005	Assets file 'XXXXX\obj\project.assets.json' doesn't have a target for '.NETStandard,Version=v2.0'. Ensure that restore has run and that you have included 'netstandard2.0' in the TargetFrameworks for your project.	XXXXX.AdminUI	C:\Program Files\dotnet\sdk\3.0.100-preview5-011

[2019-06-17 10:47] javiercn commented on #8952
@nphmuller

Did you try running the following commands with a preview6 dotnet environment?
[code]

Its likely that you have an old cert. We added logic to upgrade the certificate, but I'm not sure if it made it into preview6 or will be available on preview7.

[2019-06-17 10:50] nphmuller commented on #8952
@javiercn
I tried, as a workaround, but `--clean` fails. I've created https://github.com/aspnet/AspNetCore/issues/11283 for this issue.

[2019-06-17 11:01] javiercn commented on #6349
@Stamo-Gochev Yes. We do some work to sanitize the url by removing dots and lower-casing everything (to minimize differences across OSs).

Is there a reason for you to want dots in the url? They can be problematic when combined with other things like redirect rules, file system providers, etc.

Did you take that into account?

[2019-06-17 11:06] javiercn commented on #8952
@nphmuller What OS are you using?

You can open the cert manager and clean the certs yourself (I get this is not ideal)
On windows (Win+R) -> mmc -> enter -> (Ctrl+M (add snap-in) -> Certificates -> My user account -> Certificates -> Personal -> Certificates -> Find the ones with 'localhost' -> Remove the ones that have `ASP.NET Core HTTPS ...`.
Repeat with the certificates on Trusted Root Certifi

[2019-06-17 11:13] nphmuller commented on #8952
@javiercn
That work. Thanks!
I'm on Win 10 1903 (18362.175) (Also in the `dotnet --info` output, I've written in my initial comment)

My guess would be that the upgrade logic hadn't made it to preview 6, but will be in preview 7.

[2019-06-17 11:15] nphmuller commented on #11283
As commented by @javiercn in https://github.com/aspnet/AspNetCore/issues/8952#issuecomment-502632652 this is probably due to old certificates not being upgraded yet to new ones in preview 6.

According to the comment, it will be in preview 7.

[2019-06-17 11:44] Stamo-Gochev commented on #6349
The main concern is that the name of the class library consists of several words and combining them without the dots results in a long word that is harder to read. I cannot replaces the dots with dashes as it will be a breaking change. Can there be an option that can control if the dots will be stripped?

[2019-06-17 11:49] javiercn commented on #9920
@alefranz Thanks for reaching out.

I'm not a huge expert on this area. Your idea sounds doable, but I'm not sure is something we would want out of  the box, as I feel there are a couple of problematic points.

I think this would be a problem, as it might lead to security issues by overriding some of the cache related headers with less secure values. For example, when we apply antiforgery, this wo

[2019-06-17 11:54] ddweber commented on #10766
Ok then my initial idea:

will not work.

[2019-06-17 12:04] RemiBou commented on #10729
@danroth27 I think the error is gone with preview6, did you change anything between 5 and 6 that could have impacted this ?

[2019-06-17 12:07] javiercn commented on #6349
@Stamo-Gochev We do have some guidance coming up on how to properly author razor class libraries with static web assets. I don't remember if we have a switch for it, but I'll make sure it gets included in the docs if there is one.

If we were to replace the dots with something else (like `_`) would that ease your concerns?

I wouldn't be too concerned about this for a few reasons.
* We expect libr

[2019-06-17 12:35] amewsaj opened #11285 "Blazor: Debugging broken if project folder path contains spaces"
### Describe the bug
When attempting to add breakpoints in the browser debug tools, the breakpoint immediately disappears if the project folder path contains spaces (like the Users folder).

### To Reproduce
Create a Blazor project in a folder with a path containing spaces.
Enable Blazor debugging
Start debugging in the browser (Alt+Shift+D)
Go to Blazor code in the browser debugging tools
Attempt

[2019-06-17 13:01] Stamo-Gochev commented on #6349
@javiercn Yes, the class library provides instructions on how to consume its static assets. The `PackageId` can also be changed to include dashes instead of dots, but this will be a breaking change for us as this is connected with the name of the package at nuger.org. In addition, as most nuget packages use dots for delimiters instead of dashed, this might affect other vendors as well. If a new cl

[2019-06-17 13:37] anilchaulagain25 opened #11287 "Covert IFormFile to MultipartFormDataContent"
We are trying to implement Microservices in our project. Where we have to post IFormFile from ASP.NET core (2.2) MVC to ASP.NET core Web API (2.2).
So, we have to prepare MultipartFormDataContent from IFormFile, to push the file from MVC app to
API.
So, extensions methods that converts IFormFile to MultipartFormDataContent will be helpful.
Form data may contain any type.
Or, are there any already

[2019-06-17 13:44] willseward commented on #4802
Just chiming in here because this just bit us, too. I would also consider this to be a vulnerability, since it has the implication of facilitating a DoS attack. I would assume that a backport of the mitigation should be considered heavily.

[2019-06-17 14:06] mohankumar91 opened #11288 "Blazor component property binding not working in NET Core 3.0 Preview 6?"
I have bind value, click property to button element. And try to change the value when click the button to check "Property Binding". But it is not working as expected due to **OnAfterRender()** which is not triggered when click the button.

![propertyBinding](https://user-images.githubusercontent.com/18420823/59610693-7b566880-9137-11e9-9509-9851cda0921c.png)

` <input type="button" value="@buttonC

[2019-06-17 14:16] mmayr-at commented on #5925
@davidfowl Here the issue with the question from @discostu105  I was mentioning today during our conversation in the NDC workshop.

[2019-06-17 14:29] astecenko commented on #11159
same problem to

[2019-06-17 14:51] anurse commented on #10515
Using the `Dynamic` mode was the root cause? Do you have a large number of DI services? I believe you can query the count of the `IServiceCollection` at the end of your `ConfigureServices` to check this.

The fact that switching dramatically reduces CPU/Memory load indicates a very large number of DI services, all of which are used at startup, meaning we have to compile a lot of these dynamic meth

[2019-06-17 14:57] danroth27 commented on #10729
@RemiBou It's certainly sounds like we did :smile:. @SteveSandersonMS?

[2019-06-17 15:00] guidevnet commented on #11288
The error says that you have `something.ownerDocument` in somewhere (in the markup, probably), and `something` is null.

[2019-06-17 15:01] danroth27 commented on #10496
@willdean I'd be interested to hear more details about what you're building. Shoot me an email (daroth@microsoft.com) if you have a moment!

[2019-06-17 15:04] Tratcher commented on #11262
2048 is a hard limit to hit in chars or bytes, I'm suspect that the encoded length difference is the explanation here.

@jmk92 are "T0" your real key names? If not, can you give an example of your longest?

[2019-06-17 15:08] dougkuchna commented on #11156
@maheshkumarjadhav, followed your instructions and when navigating to http://localhost:5000 receive the following:
fail: Microsoft.AspNetCore.Server.Kestrel[13]                                                                                                                                                                           Connection id "0HLNJ6GDI37UA", Request id "0HLNJ6GDI37UA:00000001": A

[2019-06-17 15:10] guidevnet commented on #11281
Yes, it is possible. It is covered on the [documentation.](https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interop?view=aspnetcore-3.0#invoke-net-methods-from-javascript-functions)

In your example, you are trying to send a file. Please be careful to not send something huge, because this communication will happen through SignalR.

[2019-06-17 15:14] anurse commented on #11260
Ah, I see. So you *are* using an HTTP method allowed by the request. Thanks for the extra context! Someone from MVC would need to look at this further. Getting a runnable sample project would certainly help diagnose the issue.

[2019-06-17 15:22] anurse commented on #11252
My concern is _not_ about interface segregation, it's about ambient state. `IHttpContextAccessor` depends on `AsyncLocal` which is "magic ambient state" managed by the runtime. It makes testing more complicated since there are effectively global variables in play (global variables that are scoped to the current async execution context, but they are still global). A better approach is to pass the `

[2019-06-17 15:32] buckstephenh opened #11290 "CS1061: 'IApplicationBuilder' does not contain a definition for 'UseAuthorization'"
### Describe the bug
Source/Web/Startup.cs(169,17): error CS1061: 'IApplicationBuilder' does not contain a definition for 'UseAuthorization' and no accessible extension method 'UseAuthorization' accepting a first argument of type 'IApplicationBuilder' could be found (are you missing a using directive or an assembly reference?)

### To Reproduce
Steps to reproduce the behavior:
1. Using this versio

[2019-06-17 15:46] BrennanConroy commented on #11089
Could you provide the server logs? It would be useful to see what they say and if they match what the client is observing.

Another thing you could try is using the LongPolling transport instead of ServerSentEvents and see if you get a similar issue.

[2019-06-17 15:47] davidfowl commented on #11290
I can't reproduce this. Can you provide a solution that reproduces the issue and the specific environment you're running in with version information? (VS version, VS code version etc)

[2019-06-17 15:59] pranavkm commented on #11282
For XML serializers, you'd have to perform custom serialization to do this. It's how `ProblemDetails` or `ValidationProblemDetails` work. Here's the relevant pieces of code:

* https://github.com/aspnet/AspNetCore/blob/b47b3e5ac6a6ef75f5bd5965d2db2fd49110ebf1/src/Mvc/Mvc.Formatters.Xml/src/ValidationProblemDetailsWrapper.cs

* https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Formatters

[2019-06-17 16:09] campersau commented on #11288
.NET event listeners now have to be prefixed with `@`.
[code]
See https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/

[2019-06-17 16:18] buckstephenh commented on #11290
It occurs on command line "dotnet build" OSX.    If the build output would raise the issue that Microsoft.AspNetCore assets (x) are newer than the specified dotnet Core SDK (y) specified in global.json then my eye would have been directed to the real problem instead of the IApplicationBuilder follow-on problem.  I will try to put together a test case.

[2019-06-17 16:22] mkArtakMSFT commented on #11280
Thanks for contacting us, @basslagter.
It's not clear what you're trying to do and what is the context here. If it's a general question about how to use ASP.NET Core, please

[2019-06-17 16:25] mkArtakMSFT commented on #11288
Thanks for contacting us, @mohankumar91.
In preview 6 we've updated the way you register event handlers. Can you please confirm @campersau's suggestion solves your issues?

[2019-06-17 16:26] mkArtakMSFT commented on #11285
Thanks for contacting us, @amewsaj.
We're going to handle this issue post 3.0 release as we're focused on most critical issues for that release only.

[2019-06-17 16:29] mkArtakMSFT commented on #11271
Thanks for contacting us, @enetstudio.
This navigates the user to the login form, which is part of the `Default IdentityUI`. The user logs in there, and then gets redirected back to the app. You can read more about the Default Identity UI at: https://docs.microsoft.com/aspnet/core/security/authentication/scaffold-identity

[2019-06-17 16:29] #11271 closed

[2019-06-17 16:30] mkArtakMSFT commented on #11267
Thanks for contacting us, @xJonathanLEI.
Would you like to send us a PR with your proposed fix? We'd happily consider it.

[2019-06-17 16:35] pranavkm commented on #11278
@YunWeiaa does doing a clean either `git clean` or `dotnet clean` help?

[2019-06-17 16:35] mkArtakMSFT commented on #11266
Thanks for contacting us, @GoranHalvarsson.
This is something we've been thinking about for quite some time. Parking in the next milestone for now to discuss what we're going to do here.

[2019-06-17 16:38] mkArtakMSFT commented on #11263
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-06-17 16:41] mkArtakMSFT commented on #11261
Thanks for contacting us, @aiqoo.
It's not really clear what your'e trying to do? Please describe the scenario and the problem you're facing in more details.

[2019-06-17 16:42] mkArtakMSFT commented on #11255
This will be fixed in the next VS Preview release.

[2019-06-17 16:42] #11255 closed

[2019-06-17 16:48] mkArtakMSFT commented on #11248
Thanks for contacting us, @Dotneteer.
And glad to see community (@Andrzej-W in this case :) ) help!

If this comes up in our performance testing (#10449) we'll look into it as needed.

[2019-06-17 16:48] #11248 closed

[2019-06-17 16:48] blowdart commented on #11232
@HaoK thoughts?

[2019-06-17 16:50] mkArtakMSFT commented on #11244
@pranavkm is there something for us to do here, or should this move to the `System.Text.Json` owners?

[2019-06-17 16:53] mkArtakMSFT commented on #11244
@pranavkm parking this in preview7 assuming this will require no much work from us and will turn our to be System.Text.Json issue.
If, however, that's not the case, let's sync up - we may need to push this out.

[2019-06-17 16:54] mkArtakMSFT commented on #11177
Thanks for contacting us, @egil.
@SteveSandersonMS any recommendations? Thanks!

[2019-06-17 16:58] mkArtakMSFT commented on #11176
Thanks for contacting us folks.
We've actually left the support for `onclick` without the `@` prefix for back compatibility for now. We don't plan to support it long term, so the prefix will be required long term.

[2019-06-17 16:58] #11176 closed

[2019-06-17 17:03] mkArtakMSFT commented on #11174
Thanks for contacting us, @AlseinX.
@javiercn can you please look into this? Seems like something we'll need to normalize on.

[2019-06-17 17:07] egil commented on #11261
I don't think `@code` is supposed to be nested inside other things on a page or component, is it?

[2019-06-17 17:09] Tratcher commented on #6640
No problem, we'll take a look at the repro. I just didn't have a mac handy at the time.

[2019-06-17 17:12] Tratcher commented on #9466
We're slowly trying to replace any APIs in the Internal namespace with fully internal or fully public types. It it's needed by MVC and others then it needs to be in a public namespace.

[2019-06-17 17:14] mkArtakMSFT commented on #11273
Thanks for contacting us, @rsuzumura.
We know about this issue and we track the resolution as part of https://github.com/aspnet/AspNetCore/issues/4802

[2019-06-17 17:14] #11273 closed

[2019-06-17 17:15] mkArtakMSFT commented on #11287
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-06-17 17:15] #11287 closed

[2019-06-17 17:20] mkArtakMSFT commented on #11278
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem. We can't repro this issue.

[2019-06-17 17:21] egil commented on #10977
It isn't possible to use array initialize directly in as a param to an array parameter. E.g. if we have a `[Parameter] public int[] Values {get; set;}` and when assigning to it, this should be possible: `Values="{1,2,3}"`.

[2019-06-17 17:22] mkArtakMSFT commented on #11264
Thanks for contacting us, @dazinator.
@pranavkm do you have any suggestions?

[2019-06-17 17:23] ibasin opened #11291 "Mechanism to create an Inner HtmlHelper in MVC Core 3.0"
This is not necessarily a bug.

I need to create an inner HtmlHelper for processing a property of my model such that the property is a root model under the new HtmlHelper.

In the old MVC (pre .Net Core) I used the following code (_html in the code below is the current (outer) HtmlHelper):

        public HtmlHelper MakeInnerHtmlHelper(ModelMetadata metadata, string htmlFieldName)
        {

[2019-06-17 17:24] ibasin commented on #11291
I think it would be helpful to expose a public API to easily and correctly create an inner HtmlHelper.

[2019-06-17 17:25] mkArtakMSFT commented on #11260
Thanks for contacting us, @SetTrend.
Please share the full controller code.

[2019-06-17 17:28] mkArtakMSFT commented on #11259
Thanks for contacting us, @leonmills.
We'll get to this after 3.0 release as we're focused on critical issues only.

[2019-06-17 17:31] mkArtakMSFT commented on #10497
@javiercn can you please look into this? Thanks!

[2019-06-17 17:31] Tratcher commented on #11279
We're tracking a versioning issue here: https://github.com/projectkudu/kudu/issues/2993

[2019-06-17 17:33] mkArtakMSFT commented on #10145
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-06-17 17:34] mkArtakMSFT commented on #10145
@wryba what are you really trying to do? What is your scenario?
If cleaning up your projects (bin , obj folders) fixes this, then I don't think there is worth for us to spend time on this, as this is then very minor issue.

[2019-06-17 17:36] gregowahoo commented on #9822
Why is this closed it still is happening.

[2019-06-17 17:36] mkArtakMSFT commented on #9828
Thanks for all the details, @ajruckman.
This is not really something we'll add support for.

[2019-06-17 17:36] #9828 closed

[2019-06-17 17:37] mkArtakMSFT commented on #9675
/ping @javiercn

[2019-06-17 17:44] mkArtakMSFT commented on #7051
Thanks for contacting us, @Zenexer.
The `page` name is actually reserved and you can't use it here. Please see https://github.com/aspnet/AspNetCore/wiki/MVC-Reserved-Keywords for more details.

[2019-06-17 17:44] #7051 closed

[2019-06-17 17:47] #6933 closed

[2019-06-17 17:52] mkArtakMSFT commented on #6914
Thanks for contacting us, @shravan2x.
You can initialize `query` to the default `String.Empty` value and that would do it.

[2019-06-17 17:52] #6914 closed

[2019-06-17 17:55] rsuzumura commented on #11273
Ok, sorry, I cannot found that issue. Thanks, @mkArtakMSFT.

[2019-06-17 17:55] mkArtakMSFT commented on #6906
Thanks for contacting us, @MikaelUmaN.
We do not plan to provide customization for query string parameter separation.

[2019-06-17 17:55] #6906 closed

[2019-06-17 17:57] javiercn commented on #10497
There must be something here between test server and the webpack dev middleware that doesn't play well. @Tratcher might know more.

I don't think there is anything specific to Microsoft.AspNetCore.Mvc.Testing here.

[2019-06-17 18:03] mkArtakMSFT commented on #6873
Thanks for contacting us, @farhadibehnam.
For the controllers to be in areas you have to apply `{area:exists}` route constraint in your attribute route, as described https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/areas?view=aspnetcore-2.2.

[2019-06-17 18:03] #6873 closed

[2019-06-17 18:04] Tratcher commented on #10886
Picking up from https://github.com/aspnet/AspNetCore/issues/10886#issuecomment-501811008

Looking closer at QUIC, it defines the RST_STREAM frame, but not the individual error code values.

The actual error codes are defined in the HTTP/3 spec.
https://tools.ietf.org/html/draft-ietf-quic-http-20#section-8.1

In this case a more generic reset makes sense, the values are disconnected from the functi

[2019-06-17 18:05] xJonathanLEI commented on #11267
Sure. Just did ;)

[2019-06-17 18:15] dougbu commented on #10495
4f67ff921673 and a slight change in the release pipeline

[2019-06-17 18:15] #10495 closed

[2019-06-17 18:17] vijayrkn commented on #9285
@molidestroyer - You are running into this issue when publishing as self contained right?

As a work-around you can remove this line from the pubxml (under Properties\Publish Profiles\<profilename>.pubxml) and that should fix the issue.

`    <TargetFramework>netcoreapp3.0</TargetFramework>`

[2019-06-17 18:18] jmk92 commented on #11262
@Tratcher
 Yes, "T0" is one of the real keys. The keys above are fixed.

This may be wrong once in thousands of requests, but the source of the request is initiated by the program, the program will not make mistakes, written "T0" can not become other.

I wondered if key and value were confused because of the lack of URL encoding, but the code found that URL encoding had been added before, which wo

[2019-06-17 19:03] Tratcher commented on #11262
A client encoding bug seems possible, but you wouldn't only hit that on 3.0. More likely we have a parsing boundary condition we need to debug.

[2019-06-17 19:11] isaac2004 commented on #10346
@ryanbrandenburg @mkArtakMSFT the doc has been updated
https://github.com/aspnet/AspNetCore.Docs/issues/12720

[2019-06-17 19:11] halter73 commented on #10886
If you think it's generic enough, I'm fine with `IHttpResetFeature` instead of `IHttp2ResetFeature`

[2019-06-17 19:25] aiqoo commented on #11261
Thanks for the help

i want to initialize the callAttemptComponent
when status change inside statusSelectComponent

It is a simple and trivial thing when two components are present on a page using an event I change their state,,
But when I have a pair of components that should affect each other
When they are repeated in a loop I can not get control and change their state,

@code
The reason I put t

[2019-06-17 19:26] GoranHalvarsson commented on #11266
Im glad you will do this 😄

[2019-06-17 19:40] javiercn commented on #11174
It is expected that blazor client-side will also move to use _content/<<lowercasepackageidwithoutdots>> we just have been focusing on other work.

[2019-06-17 19:44] javiercn commented on #11267
@mkArtakMSFT I'm giving this to @SteveSandersonMS as he did the layout for those templates and has a better handle than me regarding how they are supposed to work, and potentially the only work here is to validate and merge the PR.

[2019-06-17 19:45] anurse commented on #11274
This usually indicates that the server responded with HTML, such as perhaps a login page

I don't believe this works by default. Instead you'll need to use the Azure AD client libraries to get an authentication token and then pass that token in via SignalR's support for [Bearer tokens](https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-2.2&tabs=dotnet#configure-bear

[2019-06-17 19:46] anurse commented on #11258
Meh, I'm not that worried but I guess we could. We can talk in triage.

[2019-06-17 19:48] anurse commented on #11220
Yeah, we should just have an overload that doesn't take a return type. We can confirm in triage but I suspect this meets the bar for preview7.

[2019-06-17 20:06] #11246 closed

[2019-06-17 20:09] #11160 closed

[2019-06-17 20:10] rynowak commented on #11233
Yeah, it sounds like we missed this. @davidfowl - should this be part of `Reset()`?

[2019-06-17 20:14] pranavkm opened #11296 "Combine attributes specified on a Razor Page with attributes on model"
3.0 adds supports for attributes being specified on Razor Page using `@attribute`. But if a model's present, these get ignored. We should instead consider combining attributes.

[2019-06-17 20:14] pranavkm commented on #11296
cc @mkArtakMSFT \ @rynowak

[2019-06-17 20:14] pranavkm commented on #11296
We should consider doing this prior to 3.0

[2019-06-17 20:15] #9893 closed

[2019-06-17 20:23] ajaybhargavb commented on #10893
I started working on this but I realized supporting this goes against our current design,
Consider,
[code]
`<div @bind-value=""ParentValue"" />`
This gets resolved as follows,
valueAttributeName = `myvalue`
changeAttributeName = `myevent`

Now if we add a `@bind:event` attribute,

`<div @bind-value=""ParentValue"" @bind-value:event=""anothervalue"" />`
Should it now resolve to,
valueAttributeName

[2019-06-17 20:36] grahamehorner opened #11298 "BackgroundService TaskStatus"
### Is your feature request related to a problem? Please describe.
As a developer I'm unable able to determine if a registered BackgroundService is running and/or has ran to competition or faulted.

### Describe the solution you'd like
The based abstract class should have a TaskStatus property added which shows the status of the ExecuteAsync task.

[2019-06-17 20:49] kakins commented on #11156
I receive this error too, but I downloaded the SDK and am running the app in VS Code, using `dotnet run`.  The app builds and runs, however, whenever I access localhost I get the above error.

[2019-06-17 20:58] pranavkm commented on #11244
Need to investigate it a bit. The worrying part is the `EndOfStreamException`. Just want to make sure there aren't any latent bugs in BlazorPack.

[2019-06-17 21:02] slavanap commented on #8601
How to make SignalR ignore specific method in a Hub (not expose it to JS)? Is there any attribute supported for that purpose?

[2019-06-17 21:07] mkArtakMSFT commented on #11296
parking in preview8 to check the bar during our planning meeting.

[2019-06-17 21:17] JunTaoLuo opened #11301 "Remove TestMatrix workaround"
Tracking the removal of the workaround for https://github.com/dotnet/arcade/issues/3070.  The code is in https://github.com/aspnet/AspNetCore/blob/0a2db133137134b4c81c9a21c5b76c73e235c412/src/Hosting/Server.IntegrationTesting/src/TestMatrix.cs.

[2019-06-17 21:17] JunTaoLuo commented on #11301
cc @Tratcher

[2019-06-17 21:18] mkArtakMSFT commented on #10346
Thanks @isaac2004!

@ryanbrandenburg looks like nothing else left in here to do. If so, please move this back to `Preview7` and close as `Done`.

[2019-06-17 21:32] #11239 closed

[2019-06-17 21:42] Mercurial commented on #11244
that's weird because this worked on preview-5

[2019-06-17 22:05] jkotalik opened #11303 "build.cmd -all -pack fails locally with an error in blazor"
cc @pranavkm
[code]

[2019-06-17 22:08] davidfowl commented on #11258
I am, and we should do it. I'm super concerned about constructor explosion on public types. Especially when there's no sign of that explosion getting smaller.

[2019-06-17 22:17] #9491 closed

[2019-06-17 22:21] bcisnero commented on #10351
So I'm reviewing this and if I understand correctly the change is to give the option to the developer to use or not certificates, am I right? Or is it to give the capability to pass an specific certificate for Kestrel to use?

[2019-06-17 22:35] anurse commented on #10351
This is about **client** certificates and is just a simplification. We already have [`HttpsConnectionAdaptorOptions.ClientCertificateValidation`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.server.kestrel.https.httpsconnectionadapteroptions.clientcertificatevalidation?view=aspnetcore-2.2) which gives you the ability to provide a function to validate the client certificate. All

[2019-06-17 22:35] anurse commented on #8601
I don't believe there is an attribute for that at this point, you can use a `private` or `internal` method though, which won't be exposed. Is there a scenario you have in which you want to have a `public` Hub method that **is not** exposed to the client?

[2019-06-17 22:38] bcisnero commented on #10351
Ok, I think I understand

[2019-06-17 22:43] mvr-devs commented on #11156
@maheshkumarjadhav followed your instructions... Had done all of them EXCEPT the newer extension from the marketplace once I did that the type load exception went away.

[2019-06-17 22:54] Tratcher opened #11305 "BodyWriter polyfill doesn't flush, causes truncation"
https://github.com/aspnet/AspNetCore/pull/11268 identified a truncation issue with the HttpContext.Response.BodyWriter polyfill logic.

The BodyWriter [polyfill](https://github.com/aspnet/AspNetCore/blob/f7a2d3c26cfd821d0740fdf5f5ac26845fcd33d0/src/Http/Http/src/Features/ResponseBodyPipeFeature.cs) automatically creates a pipe wrapped around the stream. If you use this pipe to call GetMemory and A

[2019-06-17 23:00] davidfowl commented on #11305
No way, that's extremely disruptive and shouldn't have to be a middleware, one thing we need to do to a work around problems like this (having a middleware) is to add a new event to the pipeline (IHttpResponse.OnCompleting) that fires before everything is torn down so that we can perform flushes like this without requiring a middleware as part of the pipeline. It's so much cleaner and is localized

[2019-06-17 23:07] davidfowl commented on #11233
Which reset?

So it needs like we have conflicting behaviors:
- We want having an end point set to mean, noop for most middleware (like the matcher or static files)
- Anything that re-executes the pipeline really wants to clear the selected endpoint or route matching won't work.

Seems like we need to find the places that re-execute the pipeline to clear the endpoint.

[2019-06-17 23:10] Tratcher commented on #11305
OnCompleting would be an ordering mess vs middleware already in the pipeline. It only works if everybody uses it, and in order.

E.g. You have the response compression middleware that replaces the response Body. The application writes to the BodyPipe via the polyfill. Then the response compression middleware completes and closes out the compression state. Then OnCompleting fires and the polfyfill

[2019-06-17 23:13] Tratcher commented on #11305
Note the long term solution here is the merger of pipes and streams so the polyfill is built in at a lower level.

[2019-06-17 23:15] davidfowl commented on #11305
I don't agree. Having to add a middleware to the pipeline to use a property on HttpContext is a mistake (it's why I hate having session on the HttpContext!). We would make everyone use the event, I don't see what the problem is with that, it's just like OnStarting, an established pattern in our stack (everyone has to use it an chain it to make "the right thing happen"). I don't see why we don't ha

[2019-06-17 23:30] Tratcher commented on #11305
OnStarting has been such a pain that we abandon most uses of it. It doesn't shim, chain, or fail well. Instead, we end up intercepting the response body in almost all cases.

Would this adapter be implemented any differently if it were a polyfill built into the Stream class? Maybe it would auto-flush, maybe not. But it would lower the bar for implementing BodyWriter in each server, e.g. if all the

[2019-06-17 23:35] davidfowl commented on #11305
It's the pain we have today and because we don't buffering everything by default, we'll *always* need something like this. We need an event that fires at the end of the pipeline so things like this can be implemented without middleware.

It would not help, Streams have the exact same issue, anything that buffers has the exact same issue, it's the problem of the call site not calling DisposeAsync/C

[2019-06-17 23:55] SetTrend commented on #11260
Thanks, @anurse  and @mkArtakMSFT, for your kind help.

At this time my controller works as expected because I found the reason for this issue after a while and corrected the code.

I may be able to get some spare time in 2-3 weeks to create a sample project. If that'd be sufficient for you?

[2019-06-18 00:19] Tratcher commented on #11305
* On hold until you get back *

[2019-06-18 02:21] srowan opened #11308 "Cascading Parameter breaks two way binding"
### Describe the bug
The usage of CascadingValue / CascadingParameter seems to break two-way binding patterns that work fine otherwise.

### To Reproduce
First, an example of code that works perfectly fine (staring from the default Server Side blazor template):

Index.razor:
[code]
BooleanEditor.razor:
[code]

Now let's modify the example so that we use a cascading value.  Note that the type of th

[2019-06-18 02:46] srowan commented on #11308
It seems that having the`ValueChanged.InvokeAsync` inside the setter is ultimately what is confusing the component binding system?   If I change the BooleanEditor to work like the following, it works just fine:

[code]

[2019-06-18 02:50] xiangzhai opened #11309 "[X86/Linux] Build AspNetCore-2.1 Failed at the functionaltests@1.0.0 build:webpack"
### Describe the bug
npm ERR! Failed at the functionaltests@1.0.0 build script 'npm run clean && npm run build:lint && npm run build:webpack'.

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NET Core 'origin/release/2.1' branch:

[code]

2. Run './build.sh'
3. See error:

[code]

### Expected behavior
Successfully build AspNetCore-2.1 for X86/Linux.

### Additional context

[code]

[2019-06-18 04:20] hasithaAlex commented on #9847
ALPN is not supported on:

.NET Framework 4.x on Windows
.NET Core on Linux with OpenSSL older than 1.0.2
.NET Core on OS X

[2019-06-18 04:28] mkArtakMSFT commented on #11260
Sure, that will be fine. I hope, though, that we may be able to find time and try to repro this on our own before then.

/cc @rynowak , @pranavkm

[2019-06-18 04:29] mkArtakMSFT commented on #11260
@ryanbrandenburg please work with @pranavkm and try to repro this.

[2019-06-18 04:36] mihaimyh opened #11310 "Blazor publish single exe"
### Describe the bug
Trying to publish a single executable blazor application doesn't work correctly.

### To Reproduce
Steps to reproduce the behavior:
1. Use dotnet core 3.0.100-preview6-012264
2. Create a new blazor app: `dotnet new blazorserverside -au Individual`
3. Try to publish it as a single exe file: `dotnet publish -r win-x64 -c Release /p:PublishSingleFile=true /p:PublishTrimmed=true`

[2019-06-18 04:58] lovelangy opened #11311 "[unit test request]WSFederation set Configuration programmatically without metadata."
https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/WsFederation/src/WsFederationOptions.cs#L62

In above code,  it says:

However, I cannot find any doc or sample talking about it .  Can you pelase add a unit test in WsFederationTest.cs to cover this senario ?

[2019-06-18 05:06] davidfowl opened #11312 "Remaining pubternal APIs in the shared framework"
We still have to look at packages but I haven't done that yet: I want to make sure these were intentional and not forgotten. If they were intentional I'd like to understand why they weren't made public APIs

- [x] - [Microsoft.AspNetCore.Authentication.Internal](https://github.com/aspnet/AspNetCore/blob/9662a5bf542654b1ed1f8007efe068bb7063afcf/api-diffs/api-diffs_Microsoft.AspNetCore.Authenticatio

[2019-06-18 05:29] natemcmaster commented on #11312
For DataProtection, see https://github.com/aspnet/AspNetCore/issues/6975#issuecomment-457280598. It's the only context I have on that one.

[2019-06-18 05:56] pranavkm commented on #11312
- All of the Razor.Internal ones are runtime compilation specific. We made specific announcements for it.
- The Mvc.Core.Infrastructure is rather unfortunate. It's still there in 3.0: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/Infrastructure/IAntiforgeryValidationFailedResult.cs

[2019-06-18 06:06] HaoK commented on #11312
For auth, it looks like we only have one RequestPathBaseCookieBuilder which seems harmless enough to make public and with the rest of the Authentication Core code, its shared between Cookies, OpenIdConnect and the base RemoteAuthentication classes.

@Tratcher any opposition to just making this regular public?  This class hasn't been touched since @natemcmaster added this 2 years ago when he introd

[2019-06-18 06:27] davidfowl commented on #11312
@pranavkm Why not move it out of the internal namespace?

[2019-06-18 07:21] YunWeiaa commented on #11278
Here is the repro project - [cs30webapi.zip](https://github.com/aspnet/AspNetCore/files/3300242/cs30webapi.zip)， hope to help you.

[2019-06-18 07:26] ctrl-alt-d commented on #11210
Works for me changing public fields to public properties.

Doesn't run:

[code]

Runs fine:

[code]

[2019-06-18 08:01] samtax01 commented on #11281
@guidevnet Please check my question very well. It is not in the documentation. I wanted a callback

[2019-06-18 08:01] furqansafdar opened #11313 "Blazor one-way binding do not work on click event of li"
It's a strange one, the event 'ListItemClick' gets triggered from li element (in debug mode) but one-way binding do not work but when triggered from the button everything works as normal.

[code]

[2019-06-18 08:21] NoraBo commented on #9608
I am still having the same issue when running a serverless .net core 3.0 web API with AWS Lambda that uses Amazon.Lambda.RuntimeSupport as shown below:

Unhandled Exception: System.MissingMethodException: Method not found: 'Microsoft.AspNetCore.Hosting.IHostingEnvironment Microsoft.AspNetCore.Hosting.WebHostBuilderContext.get_HostingEnvironment()'.
at Amazon.Lambda.AspNetCoreServer.AbstractAspNetC

[2019-06-18 08:49] eevahr opened #14324 "'StartWorkTimer' must be called on the foreground thread."
#### Is this a Bug or Feature request?:

Bug

#### Steps to reproduce

Have razor file open, possibly also be in debugging mode.

#### Description of the problem:

Razor language server stops unexpectedly and without any real indication of what triggers the stop.

Expected behavior:
Razor language server to not stop unexpectedly.

Actual behavior:
Razor language server stops unexpectedly.

razor f

[2019-06-18 09:02] davidfowl commented on #11312
@blowdart besides "leave DataProtection alone", do you know if we can make this type internal now or make it properly public? There are 2 types:

[code]

This could be public or internal.

[code]

This should be internal.

[2019-06-18 09:16] jmk92 commented on #11262
@Tratcher
Sorry, my description is a bit absolute. The program may make mistakes, but this small part of the code is unlikely to make mistakes. The string is written, the key is prescribed, he either fails to send the problem, once sent out, T0 is T0, Vaule I also used the URL encoding. As you said, it is impossible that 2.2 will be all right. After 3.0, errors will happen every day.

I think the

[2019-06-18 09:35] smartprogrammer93 commented on #10643
@mkArtakMSFT Can you please remove the question Label so the issue will be considered later for Backlog

[2019-06-18 09:36] blue-hedgehog opened #11314 "Script Tag Helper no longer working"
Using ASP.NET Core 3.0 Preview 6

The tag helper **asp-src-include** no longer works as with previous versions

This is implemented as follows:

**<script asp-src-include="~/dist/**/*.js"></script>**

This should return a list of script tags for all js files in the wwwroot/dist/ folder and its child folders

Instead the following error results:

ArgumentException: The path in 'value' must start wi

[2019-06-18 09:37] SonicGD opened #11315 "Views from RCL not found after app rebuild in preview 6"
### Describe the bug
Hello. After update to preview6 views from RCL works only for clean app build. After app rebuild views can't be found.

### To Reproduce
Steps to reproduce the behavior:
1. Clone this example - https://github.com/SonicGD/rclbug30p6
2. do `dotnet run` in `src/app`
3. Open `https://localhost:5001/test` in browser
4. See `Hello, world!`
5. Stop app
6. Change anything in app, for

[2019-06-18 09:41] smartprogrammer93 commented on #11281
@samtax01 you can pass the instance of the object that you want the javascript to calllback and the method name to call through parameters as workaround. but no there is no support for passing an action to javascript to callback in the moment.

[2019-06-18 09:48] davidfowl commented on #11262
If you can provide us with some data then we can verify what the issue is.

[2019-06-18 09:56] JayaC19 commented on #6111
Is there any permanent solution for this issue? Modifying the web.config is a workaround.

[2019-06-18 09:59] rik-smeets commented on #10521
I was also struggling with basic keyboard accessibility in an `EditForm`, with components like `InputText`. Right now, it requires a lot of JS Interop, so I'm glad to see this is recognized.

However, the issue describes adding a `Focus` method to an `ElementRef`. Right now, `EditForm` components can't be bound to an `ElementRef` field. You'll get an error like:
`CS0029: Cannot implicitly convert

[2019-06-18 10:05] Tragetaschen opened #11316 "In Razor, conditional SVG <text> element doesn't contain content"
The following code is running as a server-side Blazor component in 3.0 Preview 6
[code]
I have added the `@:` before the text element, so it's not handled as Razor's own `<text>` syntax.
However, the web browser doesn't show the second @&#8203;text content. According to its DOM in Edge Dev, the text string is outside the text element.

I can see from the generated C# code, that the first text is r

[2019-06-18 10:15] tridexanders opened #11317 "Installing on Vs studio 2019 preview Enterprise 16.13"
18/06/2019 11:12:12 - Microsoft VSIX Installer
18/06/2019 11:12:12 - -------------------------------------------
18/06/2019 11:12:12 - vsixinstaller.exe version:
18/06/2019 11:12:12 - 16.1.3132
18/06/2019 11:12:12 - -------------------------------------------
18/06/2019 11:12:12 - Command line parameters:
18/06/2019 11:12:12 - C:\Program Files (x86)\Microsoft Visual Studio\Installer\resources\app\

[2019-06-18 10:28] mateusconrad commented on #6111
i have noticed the same thing. When i fixed it, in a few days the error was happening again. I wish i have a permanent solution as well.

[2019-06-18 10:36] CornedBee opened #11319 "Architecture Documentation"
I wonder, is there any documentation for contributors on the architecture of ASP.Net Core? The docs folder only contains help on technical issues (how to build, how to deal with the tools, etc.) but no explanation of how the project is structured and how various mechanisms work.

For example, is there a document that explains how and where routing works? What part of the code dispatches requests?

[2019-06-18 10:38] WouterHD opened #11320 "Url.Action does not build expected link using Route Attribute in 2.2"
### Describe the bug
After updating to Microsoft.AspNetCore.(Mvc) packages from version 2.1.2 to 2.2.0 some of the urls produced with HtmlHelper ActionLink no longer build the correct link using Route attribute

### To Reproduce
Steps to reproduce the behavior:
1. Create an AspNetCore.Mvc project with the following code

Controller
[code]

View
[code]

Package versions with the expected behaviour

[2019-06-18 10:47] Tragetaschen opened #11321 "Blazor Component RuntimeBinderException with dynamic and null"
The following two Blazor Components
[code]
Result in immediate `RuntimeBinderException`:
[code]

[2019-06-18 10:55] GerFVersteegGitHub commented on #8980
The ANCM error is after I have installed the "Key Vault" for my web app. with ASP.Net Core 2.2
When I remove this function everything goo fine now.

[2019-06-18 12:13] blowdart commented on #11312
Why should it be internal?

@GrabYourPitchforks can you remember why this was written in this way?

[2019-06-18 12:15] MaherJendoubi commented on #6882
I am facing the following regression after using this updated template https://github.com/ElectronNET/Electron.NET/issues/277

[2019-06-18 12:16] blowdart commented on #11311
@Tratcher

[2019-06-18 12:21] glitch100 opened #11322 "ViewImports don't work in Razor precompiled views across projects"
### Describe the bug
I am having issues with a solution that comprises of a library and a web application. The library defines the `_Layout.cshtml`, and the `_ViewImports.cshtml`. I have it add the content files to the nuget package, so when the web application consumes the package it creates a `link` for the files. I can also see them in the `obj` directory once built, however none of the `@injec

[2019-06-18 12:25] ChristianWeyer commented on #11212
Yep, this is essential for larger applications - and enables something like 'feature modules' (as we have in Angular).

[2019-06-18 12:33] MaherJendoubi opened #11323 "Blank Page with Electron.NET using Blazor (ASP.NET Core) Preview 6"
**Description**
I created a vanilla Blazor (ASP.NET Core hosted) Preview 6. Then, I tried to transform it into a Desktop App using Electron.NET (version 5.22.12). But, I got a blank page.

### To Reproduce
Steps to reproduce the behavior:
1. Created a vanilla Blazor (ASP.NET Core hosted)
2. Added ElectronNET.API to the Server project
3. Setup Electron.NET stuff as described here https://maherjendo

[2019-06-18 12:43] JosephGarrone opened #11324 "Blazor BuildRenderTree with nested components throwing exception"
The following `BuildRenderTree` method (in a class-only Blazor component deriving from `LayoutComponentBase` with no other methods or properties).
[code]
Throws
[code]
`SomeControl` is:
[code]

With an inner `SomeControl` component, only the top level is rendered in the DOM. If I remove the inner `SomeControl` component, then it renders fine. Note, this is a much cut-down version of the initial co

[2019-06-18 12:49] niemyjski commented on #4483
Any work arounds for asp.net core 3.0 when you have a public api?

[2019-06-18 12:58] glitch100 commented on #11322
Here is a test repo with the same setup, bar the `<RazorGenerate>` additions

https://github.com/glitch100/TestRazorViews

[2019-06-18 13:01] kevinjpetersen commented on #11172
@rynowak Any updates? :)

[2019-06-18 13:04] dylanvdmerwe commented on #4483
This issue really shouldn't be closed, it causes a huge amount of chaos and needs to be looked at.

[2019-06-18 13:07] akousmata commented on #11274
Yes, the server is returning a 302  so I'm assuming it is redirecting to a login page which can be seen in the logs I provided here:
[code]
which explains the error, but I still don't understand why this works for me locally, but not when deployed to Azure.  Perhaps this is a better question for the Azure AD team, was just hoping I wouldn't have to write up the code that retrieves the access token

[2019-06-18 13:16] VR-Architect opened #11325 "Blazor - Inject script via C# during build"
Please consider adding a feature where we can use C# in a razor page to inject javascript code when the user is on the page, then it removes the javascript code when they leave the page. Ideally, this inject would create the required code to handle this during the build.

Currently, I am putting all of my custom javascript on the index.html page so it can get quite long and I lose track of why a m

[2019-06-18 13:34] gingters commented on #9435
Please reconsider "This means that it is not going to happen for the coming release. ". This is an essential required feature for displaying data to the user and would repell a lot of users from using Blazor for real-world applications.

[2019-06-18 13:48] maftieu commented on #4848
Is there any NuGet package that provides default texts translated in any other languages? I can't find any...

I have an app, hosted in Azure, that can be in FR or EN. I only receive english data annotation messages when deployed on Azure. But I would like to have a NuGet providing FR translations for "The field {0} is required" that could be deployed with my app.

[2019-06-18 14:17] vdandrade opened #11326 "Post not working in Razor Pages in a Blazor Server Side Project"
### Describe the bug
A post does not work in a Razor Page inside a Blazor project! Is that by design?

### To Reproduce
Simply create a Razor page inside Blazor server side project:
[code]

[2019-06-18 14:48] limefrogyank opened #11327 "Update Azure Extension"
The version of ASP.NET Core 3.0 (x86) Runtime extension on Azure is still 3.0.0-preview5-19227-01 when it should be at 3.0.0-preview6-19307-02 (or something like it).

[2019-06-18 14:52] anurse commented on #11274
I believe this is because the Azure AD provider is dropping a local cookie that works.

Using `UseDefaultCredentials` works locally? I'm not familiar enough with how that auth works to know why it would be different unfortunately. That setting is designed to enable the more traditional "Windows Authentication" mode (where Windows negotiates auth credentials for you automatically) which generally o

[2019-06-18 14:52] limefrogyank commented on #11324
If you do it this way, it should work.  Maybe this could be made better, but adding content to a component is not the same as adding content to an HTMLElement.

[code]

[2019-06-18 14:52] Mercurial commented on #11325
Couldn't you do it yourself in each page / component?

[2019-06-18 14:55] Tratcher commented on #11311
Here's one:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/1995f2c72911734a4ba08c6da1709c6e3e08a47b/test/Microsoft.IdentityModel.TestUtils/ReferenceMetadata.cs#L145-L180

[2019-06-18 14:57] anurse commented on #6111
@JayaC19 @mateusconrad This is an error that can have many causes. One of the things we've improved in 3.0 is that we now produce more detailed error codes and messages in the Windows Event Log (in Production) or an error page (in Development). We are evaluating backporting this to 2.1/2.2 as well, but haven't done so yet. Current 3.0 previews have this new functionality so if upgrading is possibl

[2019-06-18 15:00] Tragetaschen commented on #11139
I was curious about what Roslyn provides in terms of LangVersion helpers. At worst, this is old news :)

https://github.com/gafter/roslyn/blob/master/src/Compilers/CSharp/Portable/LanguageVersion.cs#L352

[2019-06-18 15:00] limefrogyank commented on #11327
Oops, just found a similar issue:
https://github.com/aspnet/AspNetCore/issues/11279

[2019-06-18 15:00] #11327 closed

[2019-06-18 15:12] julienGrd opened #11328 "[Blasor preview 6] any way to bind primitive parameter with ref ?"
Hello Guys, i don't find any way to bind a primitive type to a child component and make the property updatable. My goal is to create a kind of toogle button bind to a bool property

Actually, it seem my only way to do this is something like that
[code]
and call manually the OnChange on my toogleButton component

If I dont put the onchange, MyBoolProperty is never updated on the parent

I think it'

[2019-06-18 15:14] Tratcher opened #11329 "Write an analyzer for TaskCompletionSource(TaskContinuationOptions.RunContinuationsAsynchronously)"
We have a recurring bug that would make good practice for an analyzer.
https://github.com/aspnet/AspNetCore/pull/11294/files
[code]

[2019-06-18 15:24] Tratcher commented on #11312
@HaoK Yes, RequestPathBaseCookieBuilder can be public.

[2019-06-18 15:27] Tratcher commented on #11312
For sanity sake, let there only be one breaking change announcement that we add a few comments to.

[2019-06-18 15:37] isaac2004 commented on #10348
@danroth27 @DamianEdwards @mkArtakMSFT Is this official? I will take this one but want to confirm these are the names. Should we update the description in VS as well?

[2019-06-18 15:50] isaac2004 commented on #8531
@DamianEdwards there are a few open issues about updating the templates (some are closed and will be in a future preview). Can you provide the idioms that need to be available in the templates? Might make sense to update the #9937

[2019-06-18 16:00] isaac2004 commented on #9226
@danroth27 there was an earlier issue to modify the default controller to be WeatherController, and it is already [merged](https://github.com/isaac2004/AspNetCore/blob/14f590829cd1c0204a8945d546ddb4d5fc4d5d9c/src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/WeatherController.cs). Should we have all the WeatherController templates be the same?

[2019-06-18 16:09] Tewr commented on #10035
I have upgraded to preview6.
As the syntax has changed slightly, here's my new code:

[code]

Still doesnt work but the behaviour is very different:
Edge crashes on application startup. Chrome still works as expected.

Edge console output:

[code]

donet --info
[code]

[2019-06-18 16:21] rickus123 opened #11331 "InvalidOperationException on EditForm when Model set to local variable that is null"
The exception text seen in the browser debug window is "EditForm requires a Model parameter, or an EditContext parameter, but not both".

This is a result of when EditForm.OnParametersSet() checks the values of EditContext and Model for null and will thrown an InvalidOperationException, even when (as in my case) the 'Model' on EditForm is set to a local variable that is  still null when the Parame

[2019-06-18 16:36] mkArtakMSFT commented on #11331
Thanks for contacting us, @rickus123.
@javiercn can you please look into this? Thanks!

[2019-06-18 16:37] mkArtakMSFT commented on #11331
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-06-18 16:41] rbonomo commented on #6111
Got this error on fresh box with fresh IIS and fresh Windows Server deploying ASP.NET Core 2.2. I'm confident that this problem will be in the past once .Net 3.0 LTS is released. Targeting .Net Core 2.1 for now has been my solution to this problem.

[2019-06-18 16:42] kiyote opened #11333 "[Blazor Preview 6] Possibly leaking memory during intensive javascript interop?"
While exploring animating a canvas object using Blazor, I noticed that the mono runtime is spitting out updates, even when there should be no allocation happening.

I've tried to strip the problem down minimally here:
https://github.com/kiyote/Station

Every 10 seconds or so I'm seeing these sorts of things being posted:
WASM: GC_MINOR: (Nursery full) time 0.35ms, stw 0.38ms promoted 0K major size

[2019-06-18 16:43] mkArtakMSFT commented on #11328
Thanks for contacting us, @julienGrd.
Your component (`ToggleButton`) should define a `ValueChanged` handler, as described in the `Component Parameter` section at https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#data-binding

[2019-06-18 16:43] #11328 closed

[2019-06-18 16:43] pranavkm commented on #11172
@kevinjpetersen could you edit your project file:

[code]

and see if it helps? We added a couple of new analyzers recently and I think it's adding to the bulk of the compilation time.

[2019-06-18 16:46] kevinjpetersen commented on #11172
@pranavkm Yes that helped significantly!

[2019-06-18 16:47] kevinjpetersen commented on #11172
Is there any downside of disabling it? @pranavkm

[2019-06-18 16:49] mkArtakMSFT commented on #11326
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-06-18 16:51] pranavkm commented on #11172
We use analyzers as a way to provide build time guidance for correctness of code, so I'd certainly not recommend turning it off on a long term basis. *But* it should be perfectly fine to disable it until we get to the bottom of this

[2019-06-18 16:54] mkArtakMSFT commented on #11325
Thanks for contacting us, @VR-Architect.
@SteveSandersonMS what do you think about this? Do you think [Sections](https://github.com/aspnet/AspNetCore/issues/10452) work would cover this?

[2019-06-18 16:54] pranavkm commented on #11172
@NTaylorMullen perhaps this is the analyzer you wrote recently?

[2019-06-18 16:57] pranavkm opened #11334 "Add a way to test analyzer impact on build times"
We ship a bunch of analyzers in the box, but don't have a very good way to track what the impact is on build \ csc times. We should add a test that tracks this.

[2019-06-18 17:00] NTaylorMullen commented on #11139
Ooo @Tragetaschen that's awesome! Thank you for the code link, we'll definitely use that.

[2019-06-18 17:00] mkArtakMSFT commented on #11324
Thanks for contacting us, @JosephGarrone.
@limefrogyank's suggestion is what you should do.

[2019-06-18 17:00] #11324 closed

[2019-06-18 17:02] danroth27 commented on #10348
@isaac2004 Yes, these are the final template names. If you'd like to help out with the updates, that would be great, although it's a bit more work than just changing the names.

### ASP.NET Core hosted parameter

We need to decide on the parameter name for the Blazor WebAssembly App template to indicate that it should be ASP.NET Core hosted. I propose we go with `--hosted`. It should be false by d

[2019-06-18 17:05] karthickthangasamy commented on #11288
It's working as expected while creating application with `Preview 6` package references and using `@` prefix with events.

[2019-06-18 17:05] Eilon commented on #4848
I'm not aware of one. The Orchard CMS project has translations for many common .NET concepts (because it's built on .NET!). I did a search on their translation repo and found several matches for `The field {0} is required`:

https://github.com/OrchardCMS/OrchardCore.Translations/search?q=the+field+required&unscoped_q=the+field+required

However, I don't see license info on their site.

@sebastienr

[2019-06-18 17:10] isaac2004 commented on #10348
@danroth27 I assumed it was more work :). I can still start on it.

[2019-06-18 17:11] pranavkm opened #11335 "[SignalR] Disgraceful disconnects result in failure logs"
[code]

There's not much a server could do if a client doesn't want to be friends. It should be logged as a debug or at best an info message, but not a error.

[2019-06-18 17:11] pranavkm commented on #11335
cc @anurse

[2019-06-18 17:12] pranavkm commented on #11322
`_ViewImports` are a Razor parse time feature. The parser has to discover these files at the time they're being parsed \ code generated.
With the setup you've described, using `RazorGenerate` to map would well if you specifically care about build time compilation. To additionally make it work with runtime compilation you would need to add an `IFileProvider` to `RazorViewEngineOptions` pointing to

[2019-06-18 17:14] anurse commented on #11335
Hrm, this is actually a little different than I thought when we first talked. The actual error being reported is `Failed connection handshake`. There are definitely cases where we do want to log this. We'll have to inspect the exception to determine that this is an unexpected close.

[2019-06-18 17:24] phenning commented on #10348
@danroth27 I'll work on getting the resource strings updated in the WebTools resx so we can get updated localization to push back into the aspnet repo. I also just noticed that we never had the resources for the Blazor WebAssembly template, so the name and description were never localized.

[2019-06-18 17:24] NTaylorMullen commented on #11172
It's possible but we're not doing anything crazy in that analyzer. I'd definitely be surprised. I'll take a look quickly

[2019-06-18 17:25] pranavkm commented on #11315
@mkArtakMSFT picking this up since it's kinda bad.

[2019-06-18 17:29] danroth27 commented on #9226
@glennc Could you please take a look at the new [WeatherController](https://github.com/isaac2004/AspNetCore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/WeatherController.cs) and let us know if it's ready to take to our other templates?

[2019-06-18 17:29] sebastienros commented on #4848
@Eilon The project you are pointing to is one that contains all the translations strings for Orchard Core, in order to be able to generate nuget packages out of it. These files are automatically pushed by Crowdin which is a collaborative website to edit translation files.

But I will look at how we handle the localization for these default strings and follow up here.

[2019-06-18 17:32] davidfowl commented on #11312
It's a utility interface that's an internal implementation detail that doesn't need to be exposed to external users. We're doing mass clean up of pubternal types in ASP.NET Core 3.0, data protection is part of that clean up.

[2019-06-18 17:34] danroth27 commented on #10348
@phenning That's probably because the Blazor WebAssembly templates don't ship in VS yet - they ship out of band in a VSIX.

[2019-06-18 17:37] phenning commented on #10348
@danroth27 It did have resource ids in it that were unused though, so we could have added the resources in VS earlier. In any event, I'll add it now so we can get some seed localization for it.

[2019-06-18 17:49] abhisheksiddhu commented on #11288
@mkArtakMSFT

I was earlier creating a new issue, but stumbled on this and this seems pretty close to the issue i am facing.

VS seems to not recognize the new bind syntax.

![2019-06-18](https://user-images.githubusercontent.com/17928903/59706831-f3e42480-921e-11e9-9542-681cdcfaa4c9.png)

I am running VS 2019 v16.1.3 on Windows 10 Enterprise 1903 Build 18362.175

Also it seems to not recognize th

[2019-06-18 17:59] Eilon commented on #4848
@sebastienros - if there's a license on the repo it would make it easier for people to grab some arbitrary translations if they wanted. Right now there's no license so it's not clear what is allowed.

[2019-06-18 17:59] #10169 closed

[2019-06-18 18:00] mkArtakMSFT commented on #11333
Thanks for contacting us, @kiyote.
@rynowak, @SteveSandersonMS can one of you look into this? Thanks!

[2019-06-18 18:02] chanan opened #11337 "Blazor preview6 onclick issue"
I have been trying for the longest time to reproduce this in a sample project, but sadly, it seems to happen only inside of my bigger project (I continue to try to reproduce this). I hope someone sees the error and maybe knows why this happen even without a reproduction...

I have a razor component that forwards a CS base component that has an onclick event, it render on the DOM as:

[code]

Note

[2019-06-18 18:04] phenning commented on #10348
@danroth27 regarding the Blazor Web Assembly template, did you want to expose the hosted option in Visual Studio via the new options panel features we are adding in 16.3? I can give guidance on the required authoring to the vs-2017.3.host.json file if you want to do that.

[2019-06-18 18:12] HaoK commented on #3774
Okay I was able to move everything over to netstandard2.0 except the the EF based DP provider which requires netstandard 2.1 from EF (cc @ajcvickers)
There is one failure as a result which seems problematic, hosted service doesn't start early enough?

[code]

[2019-06-18 18:16] chanan commented on #11337
Ah, just found the issue!

If I pass in `@OnClick` to my cs class instead of `@onclick` it causes the above problem!

[2019-06-18 18:16] #11337 closed

[2019-06-18 18:17] Stamo-Gochev opened #11338 "Awaiting RenderFragment to render"
The issue is about server-side blazor.

I am trying to follow the [Manual RenderTreeBuilder logic](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#manual-rendertreebuilder-logic) topic in order to initialize a child component from a parent component.

[code]
The basic idea is: when the button in the `ParentComponent` is clicked, the `ChildComponent` is dynamicall

[2019-06-18 18:19] #10703 closed

[2019-06-18 18:19] DylanDmitri commented on #10703
https://github.com/aspnet/AspNetCore/pull/10907

[2019-06-18 18:30] ajaybhargavb commented on #10893
I have a [PR](https://github.com/aspnet/AspNetCore-Tooling/pull/687) with changes that make sense to me.

[2019-06-18 18:37] anurse opened #11339 "Add benchmark scenarios to illustrate where Request Queuing benefits"
Epic https://github.com/aspnet/AspNetCore/issues/10702

In general, we need scenarios that trigger thread-pool starvation (blocking thread-pool threads is the most common trigger). We suspect that I/O bound work won't necessarily improve RPS, but would improve memory usage. CPU bound work would likely improve RPS by reducing thread context switches.

We should evaluate both kinds of scenarios (I/O

[2019-06-18 18:39] NTaylorMullen commented on #11172
So profiled this a bit and on a semi-slow VM for preview6 Blazor app running `dotnet build --no-incremental`

- All MVC analyzers disabled: ~3.25s
- All MVC analyzers enabled: ~7.75s

Disabled the new analyzer I added and there was 0 difference in performances. That being said, analyzers running almost doubling the build time doesn't seem great. @pranavkm is that expected?

[2019-06-18 18:46] #10707 closed

[2019-06-18 18:46] anurse commented on #10707
Done in https://github.com/aspnet/AspNetCore/pull/10817 !

[2019-06-18 18:48] benaadams commented on #11339
Would simulate sync blocking; though if you wanted sync-over-async starvation (double speed) `Task.Delay(nnn).Wait()` would be better

[2019-06-18 18:49] ajaybhargavb opened #11340 "Remove `on` prefix from blazor events"
Follow up to @SteveSandersonMS's comment [here](https://github.com/aspnet/AspNetCore/issues/10893#issue-452468712).

Current,
[code]
Proposed,
[code]

@danroth27 @SteveSandersonMS @rynowak

[2019-06-18 19:07] danroth27 commented on #10348
@phenning Yes! Your guidance would be much appreciated.

[2019-06-18 19:36] Tewr commented on #10035
I have upgraded to preview 6.
After having modified my example above to use the latest syntax, this now works as expected.

[2019-06-18 19:36] #10035 closed

[2019-06-18 19:47] anurse commented on #10886
Is this done now that #11193 and #11300 are merged?

[2019-06-18 19:51] anurse commented on #8843
We think this is done (again) right @halter73 ?

[2019-06-18 19:51] SteveSandersonMS opened #11342 "Selenium tests no longer run locally in VS"
Maybe I missed a memo about something we're meant to do differently now, but I think this problem was introduced here: https://github.com/aspnet/AspNetCore/commit/f76be64e5db2e7a3cc8d41b9055a7aa63c5f52b5#diff-d25609f62dd6bb91ad82d484d1f32bfc

Since that commit, local builds in VS no longer write the necessary assembly metadata to enable the Selenium tests, so you can't run and debug them from the

[2019-06-18 19:52] anurse commented on #4763
This issue is now tracking adding tests that use Trailers to the HttpClient interop test suite.

[2019-06-18 19:55] anurse commented on #11329
This isn't servers, it's infrastructure. Updating.

[2019-06-18 19:57] anurse commented on #10679
I doubt we'll be able to do this in the very limited 3.0 time left. (cc @Tratcher)

[2019-06-18 19:58] BrightSoul commented on #11252
Yes @anurse, that would be easy to put into practice. However, I think I had a change of mind since @Tratcher pointed out features should not be directly used in application code. In the end, I'd rather not create a generic `IFeatureAccessor<T>` service but smaller specialized services, such as `IExceptionAccessor` and `ICultureAccessor` in order to hide features from higher level code.

Thanks fo

[2019-06-18 19:58] anurse commented on #10720
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-06-18 19:58] #10720 closed

[2019-06-18 20:10] anurse commented on #10826
Does this repro on the latest patch version of the 2.2 installer? i.e. the 2.2.5 version listed on the download page: https://dotnet.microsoft.com/download/dotnet-core/2.2

We have fixed a few issues in the AspNetCoreModule installer since 2.2.0 was released, so I'd suggest using the latest version. If the issue still reproduces in that version, let us know and we can investigate further.

cc @joe

[2019-06-18 20:11] anurse commented on #10978
Pretty unlikely to be done in 3.0 at this point... The default is sockets now, right?

[2019-06-18 20:12] anurse commented on #11195
My feeling is this won't make 3.0.

[2019-06-18 20:15] ddabrahim opened #11344 "Blazor client side template is missing."
Hi.

I have installed dotnet-sdk 3.0.100-preview6-012264 on Linux and there is no Blazor (client-side) template in the list when I try to create a new project.

![template-list](https://user-images.githubusercontent.com/24738433/59716377-cfcc1780-920d-11e9-83a9-f9575eaeaef1.png)

Could anyone help please how to create a Blazor client-side project on Linux or confirm if it a bug or known limitation

[2019-06-18 20:15] isaac2004 commented on #10348
@phenning I am working on this issue now. When I am at the point to bring in the VS stuff, I will reach out.

[2019-06-18 20:19] Tratcher commented on #10886
I want to add the same features to TestServer quick.

[2019-06-18 20:24] anurse commented on #11339
Ah yeah, because of ye olde "need a thread to wake the thread". Good point.

[2019-06-18 20:29] davidfowl commented on #10978
Yep, we can punt for 3.0

[2019-06-18 20:30] bradygaster commented on #8802
After discussing this with @halter73 @davidfowl and more, we should scrap this. One suggestion was an OOB template set that would satisfy some of the use-case scenarios Zhidi and the others in the Azure SignalR Service team have struggled to satisfy. Suggestion was to try this out as an experiment to see if the community responds to having "starting points" for some of the canonical scenarios (cha

[2019-06-18 20:31] anurse commented on #10363
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-06-18 20:31] #10363 closed

[2019-06-18 20:31] anurse commented on #11025
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-06-18 20:31] #11025 closed

[2019-06-18 20:33] michaeldaw opened #11347 "Blazor component: The name 'page' does not exist in the current context"
Visual Studio 2019 16.2.0 Preview 2.0
.net core 3.0.100-preview6-012264

I have a Blazor client-side project in which I've created a number of components. The most recent component (a .razor file, like the others) I've added will not recognize the @page and @code directives. I'm not sure what the difference is between this component and the previous ones I've added. I've only used the original Sha

[2019-06-18 20:35] #8802 closed

[2019-06-18 20:42] ghidello commented on #11344
The blazor client-side templates are not added with the sdk. You should be able to install them with the command `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview6.19307.2`

[2019-06-18 20:58] Tratcher commented on #3774
@HaoK See https://github.com/aspnet/AspNetCore/pull/11008#issuecomment-503308798

[2019-06-18 20:59] ddabrahim commented on #11344
Thanks, it worked.

[2019-06-18 20:59] #11344 closed

[2019-06-18 21:01] blowdart commented on #11335
This could be indicative of naughtiness, so now, disgraceful might be the correct term. Not logging this might mean hiding fingerprints of an attack.

[2019-06-18 21:06] michaeldaw commented on #11347
It seems this is a similar problem to issue number 316 in the original aspnet/Blazor repository (https://github.com/aspnet/Blazor/issues/316). However, the issue only happens if a Watch Include directive is present in the .csproj file:
[code]
I've been using this to automatically build with `dotnet watch run`. If the Watch Include directive is in the csproj file, the following items are generated

[2019-06-18 21:06] #11347 closed

[2019-06-18 21:07] anurse commented on #11258
Ok, let's just do this.

[2019-06-18 21:09] anurse commented on #11335
We definitely will continue to log, this is about what level we do so at.

This feels like it will take more investigation than we can do in preview 7, and is a bit too user-facing for preview 8 IMO. Putting on the backlog for now. I feel OK over-reporting this error. We have users asking about it sometimes, so we could make this better in 3.1.

[2019-06-18 21:09] GoranHalvarsson opened #11349 "System.Text.Json can not deserialize/serialize ValueTuple"
When trying to serialize ValueTuple to Json gives an empty object "{}"
Works with Tuple but not ValueTuple

[2019-06-18 21:16] anurse commented on #5342
This is done in Java and JS. The .NET work is blocked on #10872 because we'll be refactoring that logic.

[2019-06-18 21:16] mkArtakMSFT commented on #11317
Hi. Looks like you were trying to install Blazor extension on VS 16.13!
The minimum required version for the latest Blazor extension is VS 16.2 Preview: https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio

[2019-06-18 21:16] #11317 closed

[2019-06-18 21:21] #10346 closed

[2019-06-18 21:22] mkArtakMSFT commented on #5431
Moving this to preview 8, as we're blocked on security review.

[2019-06-18 21:22] SteveSandersonMS commented on #11333
It doesn't mean a memory leak. It just mean the GC ran.

If you can observe the browser's memory use growing in an unbounded way (like, can you get it to grow by hundreds of MB?) then you have a memory leak. In that case please let us know, with repro steps. Thanks!

[2019-06-18 21:22] #11333 closed

[2019-06-18 21:24] mkArtakMSFT commented on #10573
@ryanbrandenburg please validate this and close, when we get new dependencies.

[2019-06-18 21:26] mkArtakMSFT commented on #7330
Moving this out to preview 8 as we're still blocked here.

[2019-06-18 21:31] anurse commented on #10351
Are you asking because you're interested in a PR @bcisnero ? We're probably actually going to get this done ourselves now because we want to land this preview 7

[2019-06-18 21:32] anurse commented on #8843
Let's close this after the IIS PR is merged.

[2019-06-18 21:36] bcisnero commented on #10351
Yeah, that was my intention but still having trouble understanding the whole flow of this but I'll be very interested in seeing the solution so I can understand better all this and be able to contribute in the future,

[2019-06-18 21:37] anurse commented on #11279
For preview 7 we should revert this to a semver 1 version. Retroactively fixing this in preview 6 may be tricky. One workaround for preview 6 for now is to do a self-contained deployment.

[2019-06-18 21:39] mkArtakMSFT commented on #11278
Thanks @YunWeiaa.
Looks like this was an intentional change on our end and the `ValuesController` is not there any more. We're going to fix this in the next update for the templates, which we hopefully squeeze into preview7 milestone (tracked elsewhere).

[2019-06-18 21:39] anurse commented on #6575
Is anyone able to provide a runnable sample and/or wireshark trace? We don't have much to go on here unfortunately.

[2019-06-18 21:41] mkArtakMSFT commented on #10878
@vijayrkn what's the status here? Is this being tracked somewhere else?

[2019-06-18 21:42] anurse commented on #7816
We should look at these.

[2019-06-18 21:44] anurse commented on #7743
Hey, apologies for the delay. Are you still seeing this issue? Would you be able to collect a process memory dump and share it with us? (I can provide a contact email)

[2019-06-18 21:45] mkArtakMSFT commented on #8418
This can happen after Preview7 code complete date, before we actually ship.

[2019-06-18 21:48] anurse commented on #7498
There's a bunch of API needed here and I don't think we're prepared to add that at this time. The multipart reader allows you to access this data.

[2019-06-18 21:48] #7498 closed

[2019-06-18 21:49] anurse commented on #7053
Cookies don't support spaces in cookie values, thus the parsing fails. Quoting doesn't work either, you'll have to escape it some how.

Closing as this is expected behavior, since the cookie invalid.

[2019-06-18 21:49] #7053 closed

[2019-06-18 21:49] #7483 closed

[2019-06-18 21:49] anurse commented on #7483
We have this in Helix now.

[2019-06-18 21:52] anurse commented on #7054
@JamesNK is this still relevant given some of the other issues you filed?

We think we're as done as we can be for this in 3.0. Moving to backlog.

[2019-06-18 21:53] anurse commented on #8081
We've improved a lot of the error reporting 3.0 and are considering backporting. Closing this for now as the information here isn't very useful since the stack traces are missing or misleading.

Please feel free to open a new issue with any logs from the Windows Event Log.

[2019-06-18 21:53] #8081 closed

[2019-06-18 21:56] anurse commented on #11208
Doesn't feel valuable for 3.0 and we don't have time for it in preview7

[2019-06-18 21:57] pranavkm commented on #11349
Dup of https://github.com/dotnet/corefx/issues/36240, https://github.com/dotnet/corefx/issues/36505

[2019-06-18 21:57] #11349 closed

[2019-06-18 22:00] anurse commented on #11305
Requring `FlushAsync` will break https://github.com/aspnet/AspNetCore/issues/11270

[2019-06-18 22:07] NTaylorMullen opened #11352 "Rename Razor's NullableContextOptions parameter to Nullable"
Need to get this in: https://github.com/aspnet/AspNetCore-Tooling/pull/594

Currently it's plagued by build failures. I need to investigate why.

[2019-06-18 22:08] anurse commented on #8775
We don't expect to change this. When changing server global config (`applicationHost.config`), we can't easily identify if we can avoid the restart so we restart to be safe.

[2019-06-18 22:08] #8775 closed

[2019-06-18 22:09] #10668 closed

[2019-06-18 22:09] #10714 closed

[2019-06-18 22:12] mkArtakMSFT commented on #11288
@abhisheksiddhu make sure you use the latest VS preview (16.2) with the latest Blazor Extensions and .Net Core 3.0 preivew (preview 6).

[2019-06-18 22:12] anurse commented on #8565
Yeah, we should probably clean this up. Won't have time to fix it in 3.0 since our focus is generally HTTP right now but I like it.

[2019-06-18 22:16] anurse commented on #8278
We don't support the clientCertificateMapping feature right now. We do have native client certificate auth coming in 3.0 (see our [preview6 announcement](https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/))

[2019-06-18 22:16] #8278 closed

[2019-06-18 22:17] vijayrkn commented on #10878
I replied to another issue yesterday - https://github.com/aspnet/AspNetCore/issues/9285. This is a dupe.

This is the work-around.
https://github.com/aspnet/AspNetCore/issues/9285#issuecomment-502794472
Still working on the root cause.

[2019-06-18 22:18] anurse commented on #4159
This is controlled in the CLI and VS, so it should be filed against dotnet/cli and the VS feedback tool. We don't control this behavior in ASP.NET Core, it's the CLI/VS launcher that is overriding the variable.

[2019-06-18 22:18] #4159 closed

[2019-06-18 22:21] anurse commented on #8077
Overlapped recycle is not a supported scenario right now. We generally recommend something like [blue-green deployments](https://searchitoperations.techtarget.com/definition/blue-green-deployment) here.

[2019-06-18 22:21] #8077 closed

[2019-06-18 22:27] kleinkauff commented on #11159
Same problem here
`@inject IJSRuntime JsRuntime;`
`
        var obj = JsRuntime.InvokeAsync<string>(
            "MySetFocus", DotNetObjectRef.Create(this));
`

[2019-06-18 22:37] mkArtakMSFT commented on #9435
We're closing this issue as a dupe of https://github.com/aspnet/AspNetCore/issues/5523, which we plan to handle during 3.1 timeframe.

[2019-06-18 22:37] #9435 closed

[2019-06-18 22:38] anurse commented on #10927
This should be verified on a fresh machine running **Windows 10 1903** (check the "About" screen in Windows Settings) and **Google Chrome** with a process like the following

1. Install 2.2 SDK
1. Create a 2.2 app. **Do not include a global.json file**
1. `dotnet run` the app
1. You should get an `ERR_SPDY_INADEQUATE_TRANSPORT_SECURITY` error. If you don't, stop here, the issue isn't reproing prop

[2019-06-18 22:42] anurse commented on #7019
We're limited by what .NET Core supports here. For .NET Framework, we could use AppDomains to launch multiple applications in the same process. That's not support in .NET Core. Only a single application is supported per process.

[2019-06-18 22:42] #7019 closed

[2019-06-18 22:43] jkotalik opened #11354 "Reenable CORS tests after removing hanging builds."
We made a fix to the CORS tests to not hardcode ports (as that was causing test flakiness). However, the commit I made caused builds to hang.  https://github.com/aspnet/AspNetCore/commit/213f6efd30f59edb864008e1f0235119ed9a45ba
https://github.com/aspnet/AspNetCore/commit/a4bd1308ca32fb735a895c9e834de3bb844c3e66 for the two commits. There is something that is causing jest not to exit (timeouts).

[2019-06-18 22:46] anurse commented on #8057
@cannehag Can you try a self-contained deployment of 3.0? Also, I might suggest checking and logging the user agent in the app itself, rather than using App Insights, just to make sure you know if it's coming in. We have tests that seem to indicate this is working, so I want to make sure we know for sure what could be different in your environment :).

[2019-06-18 22:47] anurse commented on #10351
Ok, no problem! Just checking before we went ahead and did it :).

[2019-06-18 23:17] gregpakes commented on #10515
@anurse

I’m going to reply on behalf of @adamriddick.

No we do not have a large number of DI services. The application is quite small. It is a custom version of Identity Server 4.

The more we look at it it looks like a bug/issue with the dynamic mode.

Did you manage to look at the dump Adam sent? That shows the issue quite well.

[2019-06-18 23:21] anurse commented on #10515
Interesting. I did look at the dump and responded indicating that it seemed to be missing data. I can try to take another look.

[2019-06-18 23:29] lovelangy commented on #11311
@Tratcher  thanks, that is exactly what i am looking for.

[2019-06-18 23:31] #11311 closed

[2019-06-18 23:48] pranavkm commented on #10878
@vijayrkn the other issue is marked closed (as also the the WebSDK that it further links to). Do we need an issue to track the resolution here?

[2019-06-18 23:55] dorlandode commented on #3514
This is definitely an issue using the file system provider.  I attempted using a network share, and experienced several keys being generated with multiple app instances.

If the Ef core provider implemented a table lock, that would solve the problem for me.

[2019-06-18 23:56] anurse commented on #10515
Yeah, I double checked the dump and it looks like it may be after the memory spike is cleaned up. For example, I see the total GC heap size reported as only about ~130MB:

[code]

I do see 4GB of Private Bytes recorded in the dump (the `MEM_PRIVATE` category in your results above), but it appears the dump occurred after a garbage collection but before the memory was returned to the OS so I'm not r

[2019-06-19 00:00] gregpakes commented on #10515
@anurse

Ah ok - I'll go through the dump again and try and locate what I found interesting.  But we saw 15000 items in a collection that I believe was related to the container and dynamic mode.  I will dig it up.

If we connect privately, we can share application code.

I am in Sydney, Adam is in UK.  So hopefully there should be crossover where we can jump on a call or something.

[2019-06-19 00:02] vijayrkn commented on #10878
Ya, we should re-open the websdk issue. That issue is not completely fixed.

[2019-06-19 00:09] Andrzej-W commented on #11308
I have modified the `Index.razor` a little, and with this modification program works correctly:
[code]
[code]
As you can see now `CascadingValue` is not changed each time it is evaluated.

I have added some logging to the original program and now I see this interesting sequence of events after clicking the button:
[code]

Blazor client side doesn't work either and I it has exactly the same sequenc

[2019-06-19 00:21] Andrzej-W commented on #11313
Are you using Preview6? If so change every instance of `onclick` to `@onclick` and try again. If I remember correctly for buttons old syntax (without @) works but it will be removed soon.

[2019-06-19 00:36] gregpakes commented on #10515
@anurse

Here is what I found in the dump file.  To be honest, now that I look at it, I really don't know whether this is normal or not, but I thought I would enclose it anyway.

![image](https://user-images.githubusercontent.com/102243/59728579-06417b00-927e-11e9-9861-d9596b384032.png)

[2019-06-19 00:44] srowan commented on #11308
@Andrzej-W Thanks, good catch.   It looks like setting  `IsFixed="true"` on the `CascadingValue` also fixes the problem.

In my *actual* use case I was doing something like `<CascadingValue Value="@(PermissionSet.ForUser(CurrentUser))">` which of course was also generating a new 'value' (in the form of a new object) each time it was evaluated.

It seems to me that there is probably still a bug her

[2019-06-19 00:52] JamesNK commented on #7054
I think this is the same as https://github.com/aspnet/AspNetCore/issues/11270

Now I understand HTTP/2 and Kestrel a lot more I can be more specific in my issues 😄

[2019-06-19 00:52] #7054 closed

[2019-06-19 00:54] JamesNK commented on #11305
If you really want to require FlushAsync, perhaps CompleteAsync could be the way to send data and trailers together?

[2019-06-19 01:37] thanhnntq opened #11357 "ASP.NET Core Modular"
I'm trying to make a modular platform with .NET Core 3.0 like .NET Core 2.2 version with both Razor MVC and Razor Page but can't.

I would like to have a section to load the Assembly and other functions that work (MVC, Razor Page ...) and for Razor Page, there are more configurable root directories.

A sample folder struct i made with .NET Core version 2.2
[code]

It's working but at .NET Core 3.0

[2019-06-19 01:49] srowan commented on #11308
Actually, that doesn't seem to be the only cause.  It seems to break on any reference type as well...  Even when it's not changing.

[code]
[code]

[2019-06-19 02:05] MichelArendt commented on #9716
Don't think I can add much to the issue since It's already known. Anyways, it appears I'm experiencing the same issue with LONG data type:

[code]

I'm just very inexperienced on Github, but should I try a workaround until Preview 8 due to this?
**_mkArtakMSFT modified the milestones: 3.0.0-preview7, 3.0.0-preview8 on May 17_**

Thanks in advance!

[2019-06-19 02:37] mkArtakMSFT commented on #10878
I've reopened the issue #9285 and am closing this one.

[2019-06-19 02:37] #10878 closed

[2019-06-19 03:54] OzBob commented on #10307
npm i @aspnet/signalr-protocol-msgpack@next

//still has similar warning about compatibility:

//"npm WARN @aspnet/signalr-protocol-msgpack@3.0.0-preview6.19307.2 requires a peer of @aspnet/signalr@^1.0.0-preview3 but none is installed. You must install peer dependencies yourself."

Ignoring for now - but I will test whether this MessagePack is compatible with:
https://github.com/aspnet/AspNetCore

[2019-06-19 04:44] BrennanConroy commented on #10307
This is fixed in the preview7 build

[2019-06-19 04:57] davidfowl commented on #8565
It can be done as part of this PR https://github.com/aspnet/AspNetCore/pull/11109

[2019-06-19 05:04] anurse commented on #10515
Feel free to send me an email at `[my github username]@microsoft.com`. I'm happy to do what I can to help. We've got quite a bit going on with the upcoming 3.0 release, but I'll take a look where I can. If you have a time-sensitive need for support, [Microsoft Support](https://dotnet.microsoft.com/platform/support) might be more appropriate.

Feel free to share additional data with me there. Proba

[2019-06-19 05:43] JunTaoLuo opened #11359 "Implement SignCheck in Arcade"
Tracking https://github.com/dotnet/arcade/issues/2888

[2019-06-19 05:45] JunTaoLuo opened #11360 "Re-enable SignalR npm functional tests in Arcade."
These tests were disabled in https://github.com/aspnet/AspNetCore/pull/11122 due to test failures. Need to investigate how to re-enable these again.

[2019-06-19 05:47] JunTaoLuo opened #11361 "Investigate no restore options for build steps on AzDO"
Address the feedback at https://github.com/aspnet/AspNetCore/pull/11122#discussion_r295097538

[2019-06-19 05:52] JunTaoLuo commented on #11206
@DamianEdwards @Pilchie We should discuss who can take a look at this soon.

[2019-06-19 06:07] prince272 opened #11362 "UseExceptionHandler doesn't work in asp core preview 6"
UseExceptionHandler doesn't show the Error page.

[2019-06-19 06:16] manpreet11sep commented on #1982
Uncheck EnableSSL, shows up the website with broken CSS, atleast something better then nothing. I will go from here.

[2019-06-19 06:24] rbluethl commented on #8952
@javiercn @nphmuller I had the same proble, tried removing certificates manually and re-creating them using `dotnet dev-certs https --trust`. That worked, but now I get a ERR_CERT_AUTHORITY_INVALID error. It looks like Kestrel is still using the old certificate. Any ideas?

[2019-06-19 06:30] julienGrd commented on #11328
Ok I finally understand it.

I did not understand I have to call explicitely my ValueChanged Callback in my child component,
if i add it everything work.
`await this.ValueChanged.InvokeAsync(this.Value);`

I think it can be nice to add this on documentation because was not really clear (for me and certainly others)

thanks !

[2019-06-19 06:30] #9671 closed

[2019-06-19 06:30] furqansafdar commented on #11313
Perfect, yes i am using Preview6 and it works now as per your suggestion after changing onclick to @onclick.

[2019-06-19 06:30] #11313 closed

[2019-06-19 06:34] HaoK commented on #9556
Merged thanks wenz!

[2019-06-19 06:34] #9556 closed

[2019-06-19 06:48] javiercn commented on #8952
Did you close and reopen your browser windows? Browsers cache certs in memory, so you need to close and open a new browser for the changes to show up.

[2019-06-19 06:50] rbluethl commented on #8952
Yep, I did. I also restarted my computer just now. Doesn't seem to work (tried in Chrome, Firefox, Edge). Is there any place where the certificate might be cached? It looks like the certificate is indeed the previous one.

[2019-06-19 06:51] davidfowl commented on #11362
@prince272 Can you fill out the issue template? We need more informtation before investigating the problem.

[2019-06-19 06:59] javiercn commented on #8952
Did you use the 3.0 SDK to generate the certificate?

[2019-06-19 07:04] davidfowl commented on #11312
Can we move the code gen helpers to a CompilerServices namespace?

[2019-06-19 07:06] rbluethl commented on #8952
Yes, I think so. `dotnet --info` output looks similar to @nphmuller 's:

[code]

[2019-06-19 07:12] javiercn commented on #8952
On windows too?

[2019-06-19 07:17] tebeco commented on #8952
`dotnet --info` just list the sdks
you could have been affected by a global.json in that folder or any parent folder
that would result in regenerating the same old certificate

try a clean up
check `dotnet --version`
then use the `--trust` command

[2019-06-19 07:18] rbluethl commented on #8952
@javiercn What do you mean? I am on Windows. 🙂

@tebeco `dotnet --version` prints `3.0.100-preview6-012264` as well.

[2019-06-19 07:45] tebeco commented on #8952
the issue is that you need to be sure of that when you actually ran that command at that moment

[2019-06-19 07:47] aiqoo commented on #11261
I solved this by add an instance of component object to the list and then I assigned to each component a reference of its own.

**The question is whether it has a price in terms of performance and speed.
And is there another way to make a connection between two components that are repeated in foreach?**

[2019-06-19 07:51] rbluethl commented on #8952
I can't really follow along. What am I supposed to do? 😕

[2019-06-19 08:02] jfcaldeira opened #11363 "Redirect to different login page on logout , unauthorize etc..."
I can't figure out how to work with 2 login pages in Asp .Net Core 2.2 RazorPages

I have 2 Areas, each has their own custom pages

{area}/Index (Login page)
{area}/AcessDenied

However with this code this does not work

I tried this before

[code]
and it only works for the Default Scheme only which is ProductionAuth.

If I use AdministrationAuth configuring the cookie authentication, it wont dete

[2019-06-19 08:13] tebeco commented on #8952
do a [full cleanup](https://github.com/aspnet/AspNetCore/issues/8952#issuecomment-502637997)
no idea if reboot required
then check the `dotnet version` before re-running the `--trust` one

[2019-06-19 08:20] glitch100 commented on #11322
@pranavkm So I use the `RazorGenerate` to map, however the parser doesn't seem to take notice of them. Is the `IFileProvider` component necessary to ensure the `*.Views.dll` get's pulled in?

Using that repository as an example, can you confirm specifically what `RazorGenerate` settings would be required? The documentation _seems_ sparse, but I might be wrong

[2019-06-19 08:25] rbluethl commented on #8952
That's what I already did (a few times) 🙂 -- still no success.

[2019-06-19 08:52] SeppPenner opened #11364 "Question-How to customize the Identity UI library in .NET Core 3.0 Preview 6?"
Just a small question: How is it possible to customize the `Identity UI` library in the .Net Core 3.0 Preview 6 Blazor template?

I followed @danroth27's introduction on Blazor from https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/ and was wondering how the customization would work?

Maybe there is already some tutorial I have missed?

By the way, gre

[2019-06-19 09:02] prince272 commented on #11362
this method is the problem. app.UseExceptionHandler("/Home/Error");
It don't call the view (Error.cshtml).

ok. To produce the same problem simply create a new asp core preview 3 from the templates with authentication checked. Just throw an Exception like

        public IActionResult TestError()
        {
            throw new NotImplementedException();
        }

[2019-06-19 09:05] mnemcik opened #11365 "Error handling in default implementation of Azure B2C authentication"
### Describe the bug
If any error occurs during the authentication process, e.g. error described in #9196, there is no way of how to catch and identify such error. The exception is being captured internally and just a redirection is made to `/AzureADB2C/Account/Error`. There is no way of identifying possible errors on remote environments such as Azure App Service, errors do not appear within Appli

[2019-06-19 09:34] aherrick opened #11366 "Blazor Template Similar to JavaScriptServices"
I'm looking to convert an Angular/JavaScriptServices App to Blazor.

When I look at the template structure, is it possible to do Server Side Blazor with MVC endpoints?

My current App is a single App Service with Angular calling into MVC endpoints. All within a single App Service.

What would be the equivalent Blazor setup? I understand "Blazor (ASP.NET Core hosted)" but isn't that just a client s

[2019-06-19 09:46] Stamo-Gochev commented on #10986
@SteveSandersonMS I am not able to fix the problem in a client-side Blazor app using the hosted-on-ASP.NET-Core template even after the call to `app.UseStaticFiles()`. Here is a repo with the project: https://github.com/Stamo-Gochev/blazor-wasm-static-assets
Am I missing something here? The same test works with a server-side Blazor app that contains the call to `app.UseStaticFiles()`.

[2019-06-19 10:00] JosephGarrone commented on #11324
For anyone else coming across this in the future. Anything deriving from `LayoutComponentBase` requires `"Body"` as the attribute, anything deriving from `ComponentBase` requires `"ChildContent"` (Or possibly better, `RenderTreeBuilder.ChildContent`).

[2019-06-19 10:11] matthewblott commented on #11168
I'm having this problem with a standard MVC project. If I include the ```AddRazorRuntimeCompilation``` extension method when adding the MVC components the project fails at runtime.

[2019-06-19 10:11] xJonathanLEI opened #11367 "Client-side Blazor local time zone is always UTC"
### Describe the bug
In client-side Blazor, the local TimeZoneInfo is always set to UTC, rending methods like `.ToLocalTime()` in `DateTime` useless.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core `3.0.0-preview6-27804-01`
2. Create a client-side Blazor project
3. Run the following code:

        Console.WriteLine(TimeZoneInfo.Local.BaseUtcOffset);

4. The

[2019-06-19 10:11] tridexanders commented on #11317
1. thanks for that update... so i guess for now just wait a bit?

2. or is there a way around it at the moment ..

thanks for your help. ----> mkArtakMSFT

[2019-06-19 10:12] xJonathanLEI commented on #11367
Is this a Mono issue? I'm not sure. Submitting anyways.

[2019-06-19 10:14] diego81b commented on #11156
My problem was that Blazor server-side and Blazor client-side template are scaffolded with preview6 but Blazor (ASP.NET Core hosted) is scaffolded with preview5 (using Visual Studio 2019 16.1.3.

I suppose it's related to Visual Studio 2019 version that is not a preview

[2019-06-19 10:19] javiercn commented on #10986
@Stamo-Gochev I'm investigating. I'll keep this issue posted.

[2019-06-19 11:56] vasicvuk opened #11368 "Cannot handle error if host is not reachable for JwtBearer"
### Describe the bug

if you have more then one authentication server (JWT or OpenID) that you trust if one of them is down we are getting error:

[code]

We should have a way to make this check optional

### To Reproduce
Steps to reproduce the behavior:
1. Add two authentication schemas with two Authority URLs
2. Turn off one of the authorities
3. See error when try to navigate to endpoint suppor

[2019-06-19 12:12] a-kaplan commented on #7737
Did you find a solution?

[2019-06-19 12:28] prince272 commented on #11362
Hello again,

I think i have found a solution though i don't know why the template code doesn't work. Take a look.

just configure these in your Setup.Configure.

                app.UseWhen(context => !context.Request.Path.StartsWithSegments("/api"),
                    a =>
                    {
                        a.UseExceptionHandler("/home/error");
                        a.UseStatusCode

[2019-06-19 12:36] potudopotudo commented on #11178
Hi, I had this code that worked before:

 `    <div>
            <input type="password" id="exampleInputPassword1"
                   class="password-input"
                   bind-value-oninput="@User.Password" @onkeyup="@CheckLoginButtonEnabled"
                   placeholder="Password" />
        </div>
`

But since I updated to the latest version of Blazor it the `bin-value-oninput` has stoped

[2019-06-19 12:36] jjxtra commented on #3227
I had the same problem. Why is Kestrel unable to accept a bunch of connections at the same time? Surely it can put some in the queue instead of just rejecting them...?

[2019-06-19 12:44] blowdart commented on #11364
You would do it as you would in any non-blazor project, you [scaffold](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio) it into your project and then make adjustments as you see fit,

[2019-06-19 13:02] AmarjeetBanwait commented on #10452
It will be good if we implement similer to @code{ } directive
eg.
`@style{ }`
`@code{ }`
`@script{ }`

and for external files
`@styleUrl` and `@scriptUrl`

[2019-06-19 13:17] sbwalker opened #11369 "Blazor Preview6 - Client-side Routing Broken When Not Using Default Router"
### Describe the bug
 In ASP.NET Core 3 Preview6 the Blazor client-side routing is broken when you are not using the default router. Oqtane ( https://github.com/oqtane/oqtane.framework ) is a modular Blazor application which does not use the default Blazor router - it uses its own custom router so that it can resolve routes to components dynamically at run-time. The custom router being referenced

[2019-06-19 13:27] SeppPenner commented on #11364
That was the reference I was searching for. Thanks.

[2019-06-19 13:27] #11364 closed

[2019-06-19 13:30] isaac2004 commented on #10935
@rynowak does it make sense to wrap these extensions in an (Auth) check?

[2019-06-19 13:32] xclud opened #11370 "[Blazor] @name attribute ?"
### Is your feature request related to a problem? Please describe.
Currently we can access a component like this:

[code]

### Describe the solution you'd like
My suggestion is to use `@name` attribute. Just like id/name attributes used by Javascript/DOM (or even WinForms and WPF). So it will be:

`<SomeComponent @name="myComp" />`

And there is be no need to define `myComp` in `@code` section.

[2019-06-19 13:36] rickus123 commented on #11331
[EditFormIssue.zip](https://github.com/aspnet/AspNetCore/files/3306312/EditFormIssue.zip)

The attached zip file contains the complete project/solution to illustrate this error.  Run the app and with the (Chrome) dev tools open, navigate to the Counter page to see the InvalidOpEx encountered in EditForm.OnParametersSet().

Note that this exception did _not_ occur when I put the same code (EditForm

[2019-06-19 14:02] matheusjulio96 opened #11371 "Client-Side Blazor OrderByDescending"
The bug: Execute an OrderByDescending query throw the error 'Unhandled exception rendering component: System.NullReferenceException: Object reference not set to an instance of an object.'

Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0.0-preview6.19307.2 with Client-Side project
2. Run this code:
[code]
3. See error Screenshot
![image](https://user-images.githubusercont

[2019-06-19 14:23] edimarmartins commented on #8980
Please, check the Database Connection string at appsettings.json and assure the path, user and password is correct

[2019-06-19 14:28] smaglio81 commented on #10826
Thanks for looking at this!

The issue continues to reproduce with the 2.2.5 installer.

dotnet-hosting-2.2.5-win.exe-install.log:
[dotnet-hosting-2.2.5-win.exe-install.log](https://github.com/aspnet/AspNetCore/files/3306537/dotnet-hosting-2.2.5-win.exe-install.log)

dotnet-hosting-2.2.5-win.exe-install_000_AspNetCoreModule_x64.log:
[dotnet-hosting-2.2.5-win.exe-install_000_AspNetCoreModule_x64.lo

[2019-06-19 15:03] anurse commented on #10826
I see a possibly-relevant error code in the log:

[code]

Error code `1603` [appears to be](https://docs.microsoft.com/en-us/windows/desktop/Msi/windows-installer-error-messages): `The file [2][3] is being held in use by the following process: Name: [4], Id: [5], Window Title: '[6]'.`. It doesn't look like there's any information in the log to fill in the placeholders in that message so we don't k

[2019-06-19 15:05] mamatamathapati commented on #6930
I have the same issue, using dotnetcore SignalR and angular. locally it works fine. but when i deploy it to Pivotal Cloud Foundry, we start seeing this issue intermittently.

[2019-06-19 15:09] joeloff commented on #10826
Hmmm, looks like InstallValidate failed in the latest log file. That action checks disk volumes.

It's reporting OutOfDiskSpace=0, which would indicate sufficient space, however it's also setting PrimaryVolumeSpaceAvailable=0 which means there is no space available.

I do also see MsiSystemRebootPending being set to 1, which indicates that there's a pending rename though I can't think that this is

[2019-06-19 15:14] captmomo opened #11372 "Question: Multiple hubs on 1 server"
Hi,
I plan on mapping two hubs to two different routes on my server.  For example:
[code]

Is this ideal and are there any drawbacks to this method? I plan on allowing a page to connect to only 1 hub at a time.
The only documentation I could find was for the ASP.NET version
https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-server#multiplehubs

Thank you.

[2019-06-19 15:28] mattferderer commented on #7663
I would be willing to give this a shot if no one has started work on it yet.

[2019-06-19 15:31] Tratcher commented on #11363
When using two cookies you can't rely on the default scheme, you must declare in your pages which scheme to use. You do that by setting the parameter on the Authorize attribute.
https://docs.microsoft.com/en-us/aspnet/core/razor-pages/filter?view=aspnetcore-2.1#authorize-filter-attribute