[2022-08-23 18:23] davidfowl commented on #43392
W00t excellent! This will make the client more reliable than before 😄

[2022-08-23 18:23] pinkfloydx33 commented on #43236
Early morning coffee-less code interpreters

[2022-08-23 18:31] singh733 commented on #39454
@halter73  would you please provide any update on this.

[2022-08-23 18:56] guardrex commented on #43367
@javiercn ... The following doesn't match your description exactly, but I was seeing if there's an list item scenario similar to the topic's current example but without the helper class and that crudely follows your concept. The following seems to work ...

[code]

`Shared/ListItem2.razor`:

[code]

`Pages/Example.razor`:

[code]

That doesn't match the "**_JSObjectReference_**" part, as I'm passi

[2022-08-23 18:57] human705 opened #43492 "Blazor Server - NotAuthorized content is shown before Authorization is finished"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When loading Blazor Server with an authenticated user, the contents of NotAuthorized is briefly shown before the content switches over to Authorized. I've tested that with both <AuthorizeView> and @attribute [Authorize].

### Expected Behavior

The contents of Authorizing should be shown befo

[2022-08-23 19:01] #43393 closed

[2022-08-23 19:02] human705 commented on #43492
It appears that some info is missing from the test2 menu steps to reproduce the issue. In this case, i'm using AuthorizeView and the contents of NotAuthorized are briefly shown when a page is reloaded before the contents of Authorized are shown.

[2022-08-23 19:19] RChrisCoble commented on #17730
I believe @danroth27 answered that question in his post, which is "no".  Even getting this in as a preview is too risky for the .NET 7 release train.

This particular feature is not isolated to the ASP.NET code base, it requires surgery lower in the .NET stack for WASM threading support.  So, the ASP.NET team has a dependency on certain code getting into the build down at the .NET level, which it

[2022-08-23 19:26] commonsensesoftware opened #43493 "Support Deprecation Metadata in the API Explorer"
## Background and Motivation

The API Explorer has been the pinnacle of sharing API metadata across different ASP.NET Core libraries. The concept of a _deprecated_ API exists in a number of different libraries such as ASP.NET API Versioning, Swashbuckle, NSwag, and OpenAPI .NET to name a few. Each library has its own method of describing a deprecated API, without any shared metadata, developers ar

[2022-08-23 19:59] dkboon01 commented on #43471
One more question both of these errors seem to be on an event callback  where the parameter being passed is a tuple.  We have the method defined like this "public async Task OnCardOrderEdit((DispatchOrderDetail orddtl, bool refresh) args)"  is there anything about an event callback in .net 7 where the argument passed as tuple wont' work?

[2022-08-23 20:04] halter73 commented on #43149
The point is that we could start binding to all interfaces instead of loopback by default. Based on the journey you described in https://github.com/dotnet/dotnet-docker/issues/3968#issuecomment-1207480187, I think that binding to loopback instead of all interfaces was the most confusing problematic thing. You identified binding to loopback as one of the "three distinct choices here that led to thi

[2022-08-23 20:05] halter73 commented on #43215
No. And I highly doubt there are any regressions in reassigning ports.

I think this might have to do with how ASP.NET Core binds to "localhost" by default which prevents Kestrel from accepting external connections. There's some more discussion about this in https://github.com/dotnet/aspnetcore/issues/43149 @richlander  @davidfowl

[2022-08-23 20:21] lorddev opened #43495 "FileStreamResult results in sensitive data being logged"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

[code]
This log ends up in our log sink with a filename that could potentially be user-entered data.

### Describe the solution you'd like

Perhaps the log could be set to debug?

### Additional context

_No response_

[2022-08-23 20:28] lorddev commented on #43495
It's also curious that it's called "FileResultWithNoFileName" when it's actually logging the filename.

[2022-08-23 20:54] TanayParikh commented on #43471
I'm not currently aware of a known issue in that specific area, but it _could_ be an issue. Does it work if you don't use a tuple?

[2022-08-23 20:56] mthalman commented on #43149
Is there any more information necessary here to be able to make a decision? I'm happy to help provide anything that's still needed.

[2022-08-23 21:58] davidbuckleyni opened #43499 "[Feature] Blazor QuickGrid add the ability to be able to export all data or filtered data to a pdf , csv, html"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

In Many of our front-line mvc apps  in blazor quick grid would be awesome to have the ability to export the data contained within the grid to a csv or pdf.  The issue is most grids don't do filtered data. So if you search for DB1234 an

[2022-08-23 22:08] TanayParikh commented on #43499
Please note, quick grid is not an official part of the Blazor framework. It has currently been released under ASPNET Labs as an experimental feature.

cc/ @danroth27

[2022-08-23 22:17] halter73 commented on #43376
Triage decision:

This looks like something we should consider for .NET 8.

[2022-08-23 22:24] halter73 commented on #43326
Can you show the output of `dotnet list package --include-transitive`? It's not advised to mix package versions, and that command should clue us into why there's a mix of dependency versions.

[2022-08-23 22:30] JamesNK commented on #31840
gRPC uses response trailers. Important information - grpc-status (i.e. did the RPC succeed) - is sent via trailers.

[2022-08-23 22:31] halter73 commented on #41835
https://github.com/dotnet/runtime/issues/74292 is another issue dealing with TLS problems on Android.

[2022-08-23 22:33] JamesNK commented on #31840
(I think it should be left here for .NET 8)

[2022-08-23 22:40] JamesNK commented on #42040
Is pooling a potential problem? We can set a flag on the context or underlying types to indicate the request is complete, and then check for it to throw a nice error message. But eventually, the request can be reset to a usable state from the pool, and interacting with it will interact with the new request.

[2022-08-23 22:46] halter73 commented on #43460
`MvcCoreServiceCollectionExtensions.GetApplicationPartManager` should probably log a warning if the `ApplicationName`/`entryAssemblyName` is null instead of just no-opping.

[2022-08-23 22:56] halter73 commented on #43466
@jkotas Could this be a dupe of https://github.com/dotnet/runtime/issues/67802?

[2022-08-23 23:02] halter73 commented on #43495
Then how are you serving this user-entered data? Does the filename end up showing up in the path? What filename is sensitive? If it is sensitive, can you rename the file before serving so the sensitive name doesn't get logged? @blowdart what are your thoughts?

[2022-08-23 23:26] halter73 commented on #43236
Triage question: Is there anything we can or should do to help with `(HttpValidation)ProblemDetails` serialization with the source generator in aspnetcore for .NET 7?

Are you suggesting that we add a new public `ValidationContext.Default`? So we have to define our own `IJsonTypeInfoResolver`? How complicated is that? Should we add it by default Does this affect more than just `(HttpValidation)Pro

[2022-08-23 23:27] blowdart commented on #43495
What a weird function

So it is [this](https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.Core/src/Infrastructure/FileContentResultExecutor.cs) right?

And `fileDownloadName` comes from the name property of the FileResult that's passed into `ExecutingFileResult(ILogger logger, FileResult fileResult)`?

How is FileResult getting a name from user-controlled data? That's not an MVC permission

[2022-08-23 23:48] wocar commented on #31365
bump

[2022-08-23 23:51] lorddev commented on #43495
Issue is PII. Consider a legal document where the file is called "So-and-so v. You-know-who.pdf". Someone looking at the logs might be able to infer certain things from the file name. As far as renaming, re @halter73 when an authorized user downloads the file, we want them to be able to view the file with the original name on their file system without having to rename it manually.

[2022-08-24 00:06] BrennanConroy opened #43501 "Add HttpConnectAttribute"
## Background and Motivation

We recently added WebSockets over HTTP/2 support to Kestrel. By default this lights up automatically if your app supports HTTP/2 and you use the browser. One potential problem is that using WebSockets with controllers could potentially stop working because WebSockets over HTTP/2 now uses a CONNECT request instead of a GET request.

[Our docs](https://docs.microsoft.co

[2022-08-24 00:24] danroth27 commented on #25274
While we have made progress on this feature, at this point we think the risk is too high to include this in the .NET 7 release. Moving to .NET 8.

[2022-08-24 00:28] adityamandaleeka commented on #31840
Done.

[2022-08-24 00:41] davidfowl commented on #42040
No it’s not a pooling problem (we don’t reuse the HttpContext instance when you have the accessor in use). Though fundamentally putting something that is isn’t immutable or something disposable or something reusable or something that isn’t thread safe as an async local is a fundamental problem.

We’re going to have to do something drastic here because this problem won’t go away. All of the changes

[2022-08-24 00:44] JamesNK commented on #42040
Ah, I see, this issue is about accessing HttpContext concurrently. I was thinking about the problem of using it after the request is complete, which is a different problem.

[2022-08-24 01:54] JamesNK commented on #43482
@stephentoub Do you know what happened to the fixer when `!!` was removed?

A fixer that converts from `if (x == null) throw new ArgumentNullException(nameof(x))` to `ArgumentNullException.ThrowIfNull` seems like it would still be valuable.

[2022-08-24 01:56] stephentoub commented on #43482
It would be. https://github.com/dotnet/runtime/issues/68326 tracks it. @RikkiGibson wrote the initial analyzer/fixer and I believe was looking into revamping it for ThrowIfNull.

[2022-08-24 01:57] JamesNK opened #43503 "Change disposed exceptions to use ObjectDisposedException.ThrowIf"
Similar to https://github.com/dotnet/aspnetcore/issues/43482

APIs are available to simplify throwing `ObjectDisposedException`:
https://github.com/dotnet/runtime/blob/a54a823ece1094dd05b7380614bd43566834a8f9/src/libraries/System.Private.CoreLib/src/System/ObjectDisposedException.cs#L49-L73

Consider updating code to use `ObjectDisposedException.ThrowIf`.

[2022-08-24 03:06] JamesNK commented on #43482
Ok!

FYI @rafikiassumani-msft @mkArtakMSFT @adityamandaleeka This has the area-runtime label, but changes apply in web frameworks and blazor areas as well.

Could delay doing anything here until an updated analyzer+fixer is ready and then change all null tests automatically.

[2022-08-24 03:42] muchirajunior opened #43504 "jwt authentication not working on .net 6"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

i tried adding jwt authentication on ASP.NET 6 and the code is not even resolving the namespace
`using Microsoft.AspNetCore.Authentication.JwtBearer;`
on .csproj file i added
`<PackageReference Include="Swashbuckle.AspNetCore" Version="6.1.2"/>`
and on the project.cs
`builder. Services.AddAut

[2022-08-24 04:01] #36857 closed

[2022-08-24 04:09] adityamandaleeka commented on #43482
You mean I wrote a sweet regex for nothing? 😄

[2022-08-24 04:25] davidfowl commented on #43504
Did you add a reference to this package https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.JwtBearer/?

[2022-08-24 04:33] adityamandaleeka commented on #39335
@Tratcher Let's follow up on this one and close it if it's not needed on > 6.

[2022-08-24 04:39] adityamandaleeka commented on #32030
@wtgodbe I'm closing this since I don't think this is tracking anything meaningful at this point.

[2022-08-24 04:39] #32030 closed

[2022-08-24 05:40] davidfowl commented on #43501
Oh very interesting. We should do this for rc2.

[2022-08-24 05:51] mayur-ekbote commented on #43367
While it covers these two aspects, it does not cover the case where JavaScript is initiates the call to a Blazor function.
In all the examples given in that section:
1. A Blazor event is triggered (in this case a button click)
2. The Blazor event handler calls the the JS function. Since the event handler is within Blazor boundaries, it has access to the `DotNetObjectReference`  instance. This `Dot

[2022-08-24 06:09] davidfowl commented on #43339
Yes this looks like an OK usage. Do you have any code that runs before this in middleware that might be logging telemetry? Are you using entity framework or SQL before this?

[2022-08-24 06:10] jtheisen opened #43508 "Suggestion for mixing Blazor Webassembly and Server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

In Blazor Webassembly components are rendered on the client, in Blazor Server they are rendered on the server.

In NextJS, React components can be rendered on the server and but then also re-rendered on the client.

I'm relatively new

[2022-08-24 07:28] MarvinKlein1508 opened #43509 "[Question] Wrapping Blazor Input components in a custom component"
I could not find the forum section any more to ask a question, so I'm doing it with this blank issue.

I want to remove many duplicated code from my forms within a Blazor server app. For example: every Input consists of a label, a few divs and a validation message. Multiple this code by n properties and your file gets really large pretty quickly. So I thought to create a custom component which can

[2022-08-24 08:52] eiriktsarpalis commented on #43236
JsonSerializerContext already implements that interface via the source generator, so it really just boils down to defining your own source generated context for the required types.

[2022-08-24 09:18] kaleidocore commented on #5674
We absolutely need OnBeforeRender/OnBeforeRenderAsync.
We're building control libraries and currently there is NO GOOD PLACE to hook in and do pre-render work in our base classes.

- `SetParametersAsync`/`OnParametersSetAsync` aren't called from `StateHasChanged`, so these are useless for pre-render work.
- `OnInitialized`/`OnInitializedAsync` are cursed and useless for pre-render work.
- `ShouldR

[2022-08-24 09:48] guardrex commented on #43367
Thanks @mayur-ekbote. I'll see if @javiercn has remarks on my ☝️ **_hacks_** 🙈 relative to his concept approach, especially to resolve the "**JSObjectReference**" delta, and then work up a new section for the doc. I'll ping u on the docs PR later for a look.

[2022-08-24 10:13] albi005 opened #43510 "HubClientProxyGenerator doesn't run when using inferred generic type arguments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

SignalR client proxy code isn't generated when using the extension method with auto-inferred type arguments (as suggested by Visual Studio).

### Expected Behavior

The proxy code is generated.

### Steps To Reproduce

Add [`Microsoft.AspNetCore.SignalR.Client.SourceGenerator`](https://www.nu

[2022-08-24 10:52] ComptonAlvaro commented on #43393
@sebastienros I have try to open the port that is used for the https connection of grpc for all protocols (instead of only for TCP) and still I don't have access.

[2022-08-24 11:02] muchirajunior commented on #43504
no i didn't add that was it required since on earlier version of dotnet it
was not required

On Wed, 24 Aug 2022 at 07:25, David Fowler ***@***.***> wrote:

[2022-08-24 11:25] muchirajunior commented on #43504
I added the ` <PackageReference Include="Microsoft.AspNetCore.Authentication.JwtBearer" Version="6.0.3"/>` to my project file and it worked thank you

[2022-08-24 11:25] #43504 closed

[2022-08-24 11:31] javiercn commented on #43499
@davidbuckleyni thanks for contacting us.

We do not have plans to extend the grid with functionality such as the one you described. It is up to you to extend it for your needs or find a community package or third-party library that offers you this functionality.

Our goal with the component grid is to demonstrate how to author a high performant grid implementation within Blazor that can support c

[2022-08-24 11:39] javiercn commented on #43508
This is a dupe of https://github.com/dotnet/aspnetcore/issues/38128 please upvote that issue instead.

[2022-08-24 11:39] #43508 closed

[2022-08-24 12:21] javiercn commented on #43492
@human705 thanks for contacting us.

That's happening because you are prerendering and your custom AuthenticationStateProvider does not handle it correctly.
https://github.com/human705/BlazorServerIssues/blob/master/BlazorServerAuthIssue/Pages/_Host.cshtml#L8

[2022-08-24 12:27] javiercn commented on #43509
@MarvinKlein1508 your binding implementation is not correct.

Check https://docs.microsoft.com/en-us/aspnet/core/blazor/components/data-binding?view=aspnetcore-6.0#bind-across-more-than-two-components for details on how to do this.

In general, you should not modify component parameter values as that produces in issues when diffing the component to determine if it needs to re-render.

[2022-08-24 12:38] Terricide commented on #43370
Is there an easy way to get an unminified version of _framework/blazor.webassembly.js?

When I host a blazor app inside Wisej I can get a simple control like counter to work, however any control using DotNetObjectReference.Create(this); to pass the object back isn't working correctly.

The object returned to javascript is different only inside Wisej. Outside it is working fine and I can't seem to

[2022-08-24 12:43] #43509 closed

[2022-08-24 13:28] davidbuckleyni commented on #43499
@javiercn is their any examples of how I could hook into the grid to do a export libary nuget possibly ??

[2022-08-24 14:05] m4rt1nd commented on #43221
I've sent an email to @davidfowl
I'm working on the virtualization, but so far it doesn't seem to work with the data table component I'm using, it just doesn't display any thing at all

[2022-08-24 14:06] javiercn opened #43513 "[Blazor] Better diagnostics for Blazor server"
We get a lot of questions/issues opened about Blazor Server memory management. It is clear that this is a confusing aspect for customers and that they run into issues when they inadvertently introduce problematic patterns in their apps, like components rendering a large set of elements which can cause the memory to grow significantly.

When a customer finds itself in this situation, they generally

[2022-08-24 14:09] moskalenco-a opened #43514 "Can't build docker image for ASP.NET Core + React"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am using Fedora 35, dotnet 6.0.107,  Node js 16.13.1, npm 8.13.1, VS Code 1.70.2
I created new project with React using command
dotnet new react
It works

Then in VS Code I created Dockerfile(extension made it automatically).
When I ran ```sudo docker build .``` from terminal error occurs.

[2022-08-24 14:16] astynax777 commented on #43491
I double-checked today with a brand new project and it still occurs.  The ports have not been changed.  It appears that this issue is isolated to enabling HTTPS.  When I use the same template to create a project without https it works.

[2022-08-24 14:34] javiercn commented on #43514
@moskalenco-a thanks for contacting us.

You need to install node and npm in the container image in order to build the dependencies. You can modify your docker image as follows:

[code]

Note the:
[code]

Alternatively, you can remove the code in the csproj file that deals with publishing and use a multi-stage build to separately build the NPM dependencies and copy them to the output folder yourse

[2022-08-24 14:36] javiercn commented on #43491
@astynax777 thanks for contacting us.

Can you turn the logging all the way to debug and see what messages are shown in the console? There should be debug logs indicating what is happening.

[2022-08-24 14:44] astynax777 commented on #43491
When you say to turn the logging all the way to debug, I assume you mean in the appsettings.json file, correct?
[code]

Here is the output in the console:

[code]

[2022-08-24 14:45] Phoenixkaze opened #43516 "Blazor WASM web app doesn't work properly in Firefox"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Building a simple Blazor WASM web app. I added a css lib in wwwroot's css folder and wanted to see how it looks like.

Then I found the style had not been applied on the elements. Some errors appeared in the console.

![image](https://user-images.githubusercontent.com/28686529/186446765-43d45

[2022-08-24 14:48] javiercn commented on #43491
`Microsoft.AspNetCore.SpaProxy.SpaProxyMiddleware` are the ones we care about.

Does it keep looping over those?

[2022-08-24 14:49] astynax777 commented on #43491
Yes.  Eventually it'll pop open another `ng serve` window and attempt to restart the angular server again but fails because the port is in use (from the first window).

[2022-08-24 14:50] javiercn commented on #43491
@astynax777 actually, change the logging settings in `appSettings.development.json` too, you should be seeing more messages.

[2022-08-24 14:56] eusebiu opened #43517 "Migrating from asp.net core 3.1 LTS to 6.0 does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

After I migrate a WebApi from 3.1 LTS to 6.0, I get this exception when running the app in Visual Studio 2022 (17.3).

System.TypeLoadException: Could not load type 'Microsoft.AspNetCore.Http.Features.IHttpBufferingFeature' from assembly 'Microsoft.AspNetCore.Http.Features, Version=6.0.0.0, C

[2022-08-24 14:58] astynax777 commented on #43491
Eureka!  That's what I was missing... thanks!  This shows the underlying error: it's trying to go through our proxy and failing.  Perhaps our company didn't add localhost to the local bypass.  Let me investigate further.  Out of curiosity - are there any proxy settings for this?

[code]

[2022-08-24 15:04] javiercn commented on #43491
Logging, the gift that keeps on giving 😄.

I do not think that we added settings for the HttpClient instance, the default is to pick the system proxy settings. We would be open to take a PR for this if you were willing to contribute it.

[2022-08-24 15:04] #43137 closed

[2022-08-24 15:19] eusebiu commented on #43517
Yes. All are using 6.0 ones or .NET Standard 2.1 (some dependencies).

[2022-08-24 15:28] javiercn commented on #43517
I suggest if you haven't done so yet to clean the bin and obj folders on all the projects and perform a clean build

[2022-08-24 15:30] javiercn commented on #43516
@Phoenixkaze thanks for contacting us.

It seems that Firefox is blocking some script loading in localhost, so hot reload is not working.

[2022-08-24 15:36] eusebiu commented on #43517
Did that... same result.

[2022-08-24 15:39] eusebiu commented on #43517
I think I found some that are still using .net 3 libs as dependencies...

// Microsoft.EntityFrameworkCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60
	// Error: Could not find reference: Microsoft.EntityFrameworkCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60

// Microsoft.EntityFrameworkCore.Relational, Version=3.0.0.0, Culture=neutral, PublicKeyTok

[2022-08-24 15:39] #43517 closed

[2022-08-24 15:56] Jimmys20 opened #43519 "Blazor onmousedown get event target"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Is there a way to obtain the event target element when handling an event from razor? I want to get a reference to the object onto which the event was dispatched. Let's say I have a razor component with the following code:

[code]

In j

[2022-08-24 16:01] #43486 closed

[2022-08-24 16:11] brunolins16 commented on #43095
@tdjastrzebski Can you share the updated source code? Thanks

[2022-08-24 16:22] QuinnDamerell commented on #43424
Well, good and bad news.

The good news is that if I revert all of my changes to the original code but then add a copy to a MemoryStream before I call Image.FromStream(), there are no more server crashes. Some images fail to decode (and there always have been), but it's unclear if the files that would have crashed it previously are now showing up as decode errors. (The images I'm classifying are u

[2022-08-24 16:41] brunolins16 commented on #43261
@TanvirArjel I have very happy that you have tried the new ProblemDetailsService 😁.

If you take a look at the same release notes ([Diagnostics middleware updates](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-7/#diagnostics-middleware-updates)) we mentioned about updates in the middleware to make the response consistent and there we have mentioned a key important

[2022-08-24 16:45] TanvirArjel commented on #43261
Yes! That's why this behavior is inconsistent and error-prone and the response for the bad requests always should be the same.

[2022-08-24 16:45] brunolins16 commented on #43261
With all that said, that is the current expected behavior. However, I can understand your expectation once the service is registered and I think since now we have a service that allow a consistent generation might be an interesting change to generate PD in these scenarios as well,

[2022-08-24 16:47] astynax777 commented on #43491
@javiercn  Haha.  Amen.

So, I'm not sure how to proceed yet.  Another coworker on the same network has no issues.  We both use the same proxy setup script but his does not appear to be routing through the proxy (on both localhost and 127.0.0.1 addresses) but mine does.  I'm currently trying to figure out why mine appears to be using the proxy regardless.  I'm currently suspecting I might have set

[2022-08-24 16:47] TanvirArjel commented on #43261
@brunolins16

Yes! otherwise, the Client App calling the ASP.NET Core API will be broken while handling the bad request error response.

[2022-08-24 16:48] brunolins16 commented on #43261
Totally agree! I think we have commented at same time. In my opinion, adding the new service was a start point to make the Problem Details generation consistent, but we still need to make additional changes to allow it to be customizable and consistent in scenarios as you mentioned.

[2022-08-24 16:51] brunolins16 commented on #43261
For now, to make it consistent I recommend you keep using `return ValidationProblem(ModelState);`

[2022-08-24 16:51] TanvirArjel commented on #43261
@brunolins16 This is a very crucial bug. I am surprised that this very basic requirement is not noticed by ASP.NET Core Team while they are going to release version 7.0 soon.

[2022-08-24 16:53] TanvirArjel commented on #43261
@brunolins16

Thanks! I am aware of this. But writing it everywhere will be ugly.

[2022-08-24 16:54] astynax777 commented on #43491
Ok - that was it.  I had an environment set for NPM (HTTPS_PROXY).  Apparently it was using that here.

[2022-08-24 16:55] danroth27 commented on #39554
Closing as we believe this is addressed.

[2022-08-24 16:55] #39554 closed

[2022-08-24 17:03] brunolins16 commented on #43261
I understand you, but I don't see, in your specific example, how uglier it is since it is basically a validation problem already,

I was the team member who worked on this and to be honest probably I missed because the main scenario was the `auto generation` (when a body was not defined already) that we used to have no control and, in your case, you do have control what you want to generate (calli

[2022-08-24 17:04] danroth27 commented on #34591
At this point we don't believe this will make it into .NET 7. Moving to .NET 8.

[2022-08-24 17:05] TanvirArjel commented on #43261
@brunolins16 Wish you all the very best for dotNET 8.0 :) But please don't miss this.

[2022-08-24 17:08] lorddev commented on #43495
(We will workaround by leaving out the `fileName` param since it's optional; the front-end will use the response from a separate API call to set the file name when it saves the blob.)

[2022-08-24 17:16] SamGuoMsft opened #43522 "Can we make HttpClientFactory as purely configuration API?"
Starts with Dot Net Core 2.1, the team introduced SocketsHttpHandler which included a connection pooling system and the ability to set maximum lifetimes for those connections. This is redundant with one of the features of IHttpClientFactory is the lifetime management of HttpMessageHandler chains and as a result, also of the underlying connections.

Based on the [post ](https://github.com/dotnet/as

[2022-08-24 17:31] captainsafia commented on #34544
For a given endpoint, we need to be able describe the following attributes via OpenAPI:

Deriving **request parameters** (route params, query params, header params) is already done, given that these parameter types are easy to infer since they are all parseable from strings. We run into some issues with representing things like DateOnly and new primitive types from time to time, but there's no fou

[2022-08-24 17:39] ComptonAlvaro opened #43527 "How to host an ASP Core .NET 6 application in a windows service?"

[2022-08-24 17:43] Tratcher opened #43523 "Content-Length and Transfer-Encoding conflicts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.2

   that contains a Transfer-Encoding header field.

https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.3

       Content-Length header field, the Transfer-Encoding overrides the
       Content-Length.  Such a message might in

[2022-08-24 17:48] TanvirArjel commented on #43261
@brunolins16

I see! It's a good workaround. Thanks again.

[2022-08-24 17:56] RomBrz commented on #41377
@joeloff
Seems like the 3.1.x is solved (both Hosting Bundle and DotNet been updated).
The bug with the 6.0 persists: If the IIS is running an DotNet 6 application the Windows Update crashes and not install. The fix is:
1) change IIS to manual;
2) reboot the server;
3) apply the patches (windows + dotnet);
4) reboot to check if there's some update not installed;
5) change IIS to automatic;
6) rebo

[2022-08-24 18:05] TanvirArjel opened #43524 "ASP.NET Core 7.0 SystemTextJsonValidationMetadataProvider is inconsistent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have configured it as follows:

[code]

My Endpoint is as follows:
[code]

Now if I don't provide value for the Summary, the validation response shows as follows:

[code]

**That's fine! `summary` in camelCase.**

Now if I provide a summary of fewer than 100 characters then the validation r

[2022-08-24 18:31] #43519 closed

[2022-08-24 18:50] Tratcher commented on #43424
The decode errors are suspicious. If you're reading files that contain invalid offsets this this error would be expected. Copying to a memory stream likely only results in a different kind of exception being thrown for the same condition, reading past the end.

Can you save some of the images that fail to decode and use them to reproduce this issue locally? Then you can look at it in the debugger

[2022-08-24 19:10] #43491 closed

[2022-08-24 19:39] pinkfloydx33 commented on #43261
`DefaultApiProblemDetailsWriter` also doesn't support the `CustomizeProblemDetails` callback which seems somewhat inconsistent--though I suppose you could just customize it at creation time.

But would that writer even be invoked? It seems like the `DefaultProblemDetailsWriter` would always return `true` from `CanWrite` for the cases that one would.... so I guess it depends on the order you add th

[2022-08-24 19:48] brunolins16 commented on #43261
@pinkfloydx33 it does, let me double check and share with you where it is called.

[2022-08-24 19:50] brunolins16 commented on #43261
It is called here https://github.com/dotnet/aspnetcore/blob/0eaabe0fe5d714753f58ba84c9880403977a7f82/src/Mvc/Mvc.Core/src/Infrastructure/DefaultProblemDetailsFactory.cs#L101

[2022-08-24 19:53] brunolins16 commented on #43261
Any writer registered before the call to the `AddProblemDetails` will be evaluated before the `DefaultProblemDetailsWrapper`

[2022-08-24 20:11] pinkfloydx33 commented on #43261
Ahh my mistake... It's tucked away in the factory; I was looking for it in the Writer like the Default one. Good to know it's there.

Ok...so if using MVC Controllers (and not minimal API) you'd have to be sure to call `AddMvc`/`AddControllers` before `AddProblemDetails` if you want it to use the code in `DefaultApiProblemDetailsWriter`.

FWIW the outputs from the two are *mostly* the same anyways

[2022-08-24 20:14] pinkfloydx33 commented on #43236
The problem (at least in my case) is that I'm using source-gen with my MVC API. By default `HttpValidation/Validation/ProblemDetails` all cause serialization to fail since they've not been defined on the `JsonSerializerContext` I've bound to Mvc's `JsonOptions`.

The work-around is to enable the reflection-fallback but that seems like it defeats the purpose. If aspnet exposed a `JsonSerializerCont

[2022-08-24 20:23] krispenner opened #43526 "CORS policy per request"
I am trying to set the allowed origins to be based on the tenant of the request. Since the `CorsPolicy` does not have scoped access to the `HttpContext`, I'm looking at injecting my own custom [CorsPolicyProvider](https://github.com/dotnet/aspnetcore/blob/main/src/Middleware/CORS/src/Infrastructure/DefaultCorsPolicyProvider.cs) which is given the `HttpContext` and can then return a custom built `C

[2022-08-24 20:28] brunolins16 commented on #43261
Exactly.

The biggest difference between them is the MVC implementation supports content-negotiation, so, we can produce XML Problem Details.

[2022-08-24 20:32] BrennanConroy commented on #43526
The CORS middleware does use the provided `ICorsPolicyProvider` https://github.com/dotnet/aspnetcore/blob/c85baf8db0c72ae8e68643029d514b2e737c9fae/src/Middleware/CORS/src/Infrastructure/CorsMiddleware.cs#L176
And it calls the other overload of `EvaluatePolicy` that uses the `CorsPolicy` instead of options.
https://github.com/dotnet/aspnetcore/blob/0eaabe0fe5d714753f58ba84c9880403977a7f82/src/Middl

[2022-08-24 20:44] brunolins16 commented on #42212
@pinkfloydx33 Exactly, and you can do this on the `CustomizeProblemDetails` callback (**simplest way**) or create a Custom Writer that handle when the feature is available.

[code]

Just to let you know, I am planning to create a new issue to propose changes, in .NET 8, to the `ExceptionHandler middleware` to support something similar to what we have in @khellang middleware.

[2022-08-24 21:10] davidfowl commented on #43236
Are you using source generators for performance reasons?

[2022-08-24 21:40] adityamandaleeka commented on #43482
src/Servers was done in https://github.com/dotnet/aspnetcore/pull/43502

[2022-08-24 21:42] adityamandaleeka commented on #43401
We looked at this and it appeared not to be a product issue. Assigning to @BrennanConroy to respond on the public ticket.

[2022-08-24 22:10] adityamandaleeka commented on #43339
Once this is understood, I think we can treat this as a duplicate of https://github.com/dotnet/aspnetcore/issues/42040

[2022-08-24 22:12] krispenner commented on #43526
Thanks @BrennanConroy, do you happen to know what calls the Evaluate() method on the `ICorsService` that accesses the options internally. It still concerns me as I don't know what may be calling that elsewhere and would be ignoring my `ICorsPolicyProvider` if that was to happen. Obviously the method was added for a reason, and why would it not just use the registered `ICorsPolicyProvider` instead?

[2022-08-24 22:14] pinkfloydx33 commented on #42212
Cool, thanks for the example. That's pretty much what I was thinking. The trick with the writers however will be ensuring you add them in the correct order since it's the first `CanWrite` that wins. Not a big deal of course

[2022-08-24 22:17] adityamandaleeka commented on #43215
Triage: unfortunately we can't reproduce this and there's not much we can do without more information/clues.

[2022-08-24 22:24] adityamandaleeka commented on #43272
@ronniebarker We'd love it if you could try out OutputCaching in .NET 7 (RC 1 should ship in September) and let us know how this workflow works for you, or if you have any other feedback about it.

[2022-08-24 22:25] adityamandaleeka commented on #43272
Leaving open to collect feedback once you've tried it :smile:

[2022-08-24 22:28] pinkfloydx33 commented on #43236
Sort of. Prior to source-gen we had custom converters for all of our types after a couple of my colleagues did some extensive profiling and saw enough improvement that it was felt to be warranted. From there we saw minor improvements with fast-path source-gen serialization, not enough to justify it on its own, but the cost of not needing to maintain custom converters is what caused the switch.

Go

[2022-08-24 22:57] mmitche opened #43530 "Specify all source-built dependencies and ensure they are regularly updated"
### Overview

Source-build works today by building a repository, gathering the versions of the outputs, and creating a property file with those versions. This property file is then fed to downstream repositories, which import it after their `eng/Versions.props`. The resulting behavior is that the downstream repo overrides all dependency versions specified in `eng/Versions.props` with the versions

[2022-08-24 22:57] mmitche commented on #43530
Note that this is .NET 8 not .NET 7 work

[2022-08-24 22:58] captainsafia opened #43531 "`launchUrl` and `launchBrowser` settings not respected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Invoking `dotnet run` on an application with `launchBrowser` set to true and the `launchUrl` provided doesn't automatically open the desired route.

### Expected Behavior

Invoking `dotnet run` on an application with the following launch profile will open the browser to the `/swagger` path on

[2022-08-24 23:12] BrennanConroy commented on #43526
That would happen if you called `UseCors` with a specific policy
https://github.com/dotnet/aspnetcore/blob/0eaabe0fe5d714753f58ba84c9880403977a7f82/src/Middleware/CORS/src/Infrastructure/CorsMiddlewareExtensions.cs#L50-L52

[2022-08-24 23:43] BrennanConroy commented on #43401
You can use `UseFileServer` to serve different pages for different routes.
[code]

https://docs.microsoft.com/aspnet/core/fundamentals/static-files?view=aspnetcore-6.0#usefileserver-for-default-documents

[2022-08-24 23:57] #43227 closed

[2022-08-25 01:07] Phoenixkaze commented on #43516
It seems related to my proxy settings which somehow made Firefox failed to do that. I just closed the proxy client and it works.

[2022-08-25 01:07] #43516 closed

[2022-08-25 04:54] chrdlx commented on #40033
This still happens in .NET 7 Preview 7.

[2022-08-25 07:05] pr-benchmarks[bot] opened #43538 "Perf improvement: fortunes_dapper"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes_dapper [Fixed] | Fortunes Dapper 1- Trends Database Intel Linux | 08/22/2022 20:11:05 | 295,944 | 300,198 | 1.44 % (4,254)  :thumbsup:  | 1.53 σ | 2,785.11 | <details>    <summary>Changes</summ

[2022-08-25 07:39] achselschweisz commented on #33846
Slightly off-topic but I need to mention this here anyway:
Thanks to this solution I finally managed to get integration tests running using Kestrel + uds (unix domain sockets). Cheers!

[2022-08-25 08:43] FatTigerWang commented on #43523
I want to try this, can you assign me?

[2022-08-25 09:38] ComptonAlvaro commented on #43527
I oculd solve it. It is needed this piece of code:

[code]

And also

`builder.Host.UseWindowsService();`

Although this I have used it, but it wasn't enough, it is needed the first piece to configure it.

[2022-08-25 11:44] Valdeminas commented on #43339
While typing this out, I started to get the suspicion that most likely this will have something to do with SQL.

Still, I can't pinpoint the exact problem, so I'm leaving my full message and waiting for your comments.

Thanks again for your help @davidfowl

---------------------------------------------

Regarding telemetry - we have 2 different scenarios. Not sure which one is relevant, so I'll me

[2022-08-25 11:44] Junjun-zhao commented on #43316
Verified and the above affected apps can work with dotnet-sdk-7.0.100-rc.1.22423.18. Thanks.

[2022-08-25 12:57] sadanand opened #43567 "Deploy to Azure steps"
Problem encountered on https://dotnet.microsoft.com/en-us/learn/aspnet/deploy-microservice-tutorial/deploy
Operating System: windows

I have followed all the mentioned steps but i don't see anything when i tried the last step, I'm getting some error related to firewall.

![image](https://user-images.githubusercontent.com/1636706/186670398-74bee372-0bfc-4295-9e20-7cf2b5f4ef15.png)
![image](https://

[2022-08-25 13:01] #43492 closed

[2022-08-25 13:01] #43370 closed

[2022-08-25 13:09] mvandoff opened #43540 "Hot reload no longer works in dotnet CLI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When running `dotnet watch --verbose`  the first messaged returned is:

`dotnet watch ⌚ Did not find a HotReloadProfile or running a non-default command. Watching with legacy behavior.`

As you can see, I am not using any non-default commands.

My launchSettings.json file:

[code]

### Expect

[2022-08-25 13:23] Tratcher commented on #28526
Reconsidering for 8. We've had multiple first party requests.

[2022-08-25 13:27] javiercn commented on #43540
@mvandoff thanks for contacting us.

Could you compare your `launchSettings.json` file with the launchSettings.json from a new project to see if there are any significant differences?

If not, here are some things to try and some info to collect to help us troubleshoot the issue

* Use the `--verbose` flag watch provides and capture the output.
* Turn `Microsoft.AspNetCore.Watch.BrowserRefresh` lo

[2022-08-25 13:47] omuleanu opened #43541 "Blazor: get currently focused element"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Is there a way to get currently focused element in Blazor ?

### Describe the solution you'd like

So we could do something like this:
[code]

### Additional context

_No response_

[2022-08-25 13:50] dev-jlb commented on #40177
I agree with the above comments.  At the least, some guidance on how to avoid this issue would be helpful.

[2022-08-25 14:00] ComptonAlvaro opened #43547 "When I install the ASP Core as windows service I can't connect to my gRPC service"
Well, I have a gRPC service that is hosted in a ASP Core .NET 6 application.

When I debug the ASP project or run the .exe directly, I can connect with the gRPC service, but if I install the ASP Core as a windows service, i get a error: connection refused. SocketException: connection refused. DebugException: System.Net.Http.HttpRequest exception.

This error is when I have disabled the firewall in

[2022-08-25 14:12] eerhardt commented on #43527
We have fixed this in 7.0. See https://docs.microsoft.com/en-us/dotnet/core/compatibility/extensions/7.0/contentrootpath-hosted-app

[2022-08-25 14:40] mvandoff commented on #43540
@javiercn

Here is the default `launchSettings.json` when I run `dotnet new webapp`

[code]

The differences are:
- Different `applicationUrl`
- `hotReloadProfile` is missing (I never used to have to use this, I added it for debugging)
- `launchBrowser` set to true
- `dotnetRunMessages`

My `dotnet watch --verbose` output:
[code]

I did update that log setting and didn't notice anything in the bro

[2022-08-25 14:52] eerhardt commented on #43527
Closing as this has been fixed.

[2022-08-25 14:57] javiercn commented on #43540
@mvandoff does the problem reproduce if you update launchSettings.json to more clearly align with the default version? The applicationUrl does not matter, but the `"hotReloadProfile": "aspnetcore"` might be interfering.

Also, are you able to get hot reload to work with an out of the box project?

[2022-08-25 15:22] msschl commented on #40186
maybe this is something for .NET 8 planning?

[2022-08-25 15:55] javiercn commented on #43541
@omuleanu thanks for contacting us.

There is no such thing in Blazor, however you can do this with some JS interop by passing an ElementReference to the element and comparing against `document.activeElement`. For example `await JS.InvokeAsync<boo>("hasFocus", txtSearch)` where hasFocus is just `return txtSearch === document.activeElement`

[2022-08-25 15:56] mvandoff commented on #43540
@javiercn I tried to run the project with that default launchSettings.json and it didn't work. Tried with and without the `"hotReloadProfile"` setting and no luck.

Yes, when launching the out of the box `dotnet new webapp` project I get the success message when running `dotnet watch`:

[code]

[2022-08-25 16:01] #43514 closed

[2022-08-25 16:01] #43499 closed

[2022-08-25 16:03] mvandoff commented on #43540
Aha, so the TargetFramework for our app is net5.0. When I change it to 6.0 I get the Hot reload enabled message.

[2022-08-25 16:13] javiercn commented on #43540
@mvandoff thanks for the additional details.

I did not realize you had a 5.0 app. Unfortunately, .NET 5.0 is out of support so as per our support policy we ask that you update to .NET 6.0 as a first step.

[2022-08-25 17:08] brunolins16 commented on #43524
@TanvirArjel thanks for contact us. The `SystemTextJsonValidationMetadataProvider` provides a `ValidationMetadataName` that is used during the validation process and not during the `ProblemDetails` serialization.

Since you are adding the error to the `ModelStateDictionary` manually you need to control the key. An easy workaround for your scenario is to use the `MinLength` attribute and remove the

[2022-08-25 17:20] QuinnDamerell commented on #43424
Yeah, I agree. I think the error is wrong with the image, but the fact that the Form File stream throws a global exception that kills the process while the MemoryStream doesn't is what I'm mostly concerned about.

I will try to capture some images and see if I can repo it. I will re-open the issue if I can.

[2022-08-25 17:20] #43424 closed

[2022-08-25 17:31] khalidabuhakmeh commented on #43237
I agree with @andrewlock in the sense that `Conventions` doesn't make a lot of sense here. I would consider it as part of the request pipeline, so possibly `Pipeline` or `Filters` (to stay in line with Razor Pages and MVC) would make the most sense.

The thing I like about ASP.NET Core is the shared model, and that includes the shared mental model across all the approaches. Trying to be too differ

[2022-08-25 17:46] halter73 opened #43544 "EndpointBuilder.ApplicationServices should use `init` instead of `set`"
## Background and Motivation

When doing more work with `EndpointBuilder` as part of #43543, I noticed that it was odd and unnecessary that `ApplicationServices` could be modified after construction. Using `init` doesn't completely prevent this, but it makes it clear it's unintended.

I also think that IEndpointMetadataProvider and IEndpointMetadataProvider belong in Http.Abstractions instead of H

[2022-08-25 17:54] halter73 opened #43546 "TryParse parameter binding breaks if IParsable is explicitly implemented"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Example class:

[code]

### Expected Behavior

ParameterBindingMethodCache should find the implicitly defined TryParse method and use it in RequestDelegateFactory and MVC's ModelMetadata.

### Steps To Reproduce

It throws an exception that no matching method is found (despite finding it when

[2022-08-25 18:01] #43075 closed

[2022-08-25 18:07] Cpt-Falcon commented on #17730
It's understandable but still disappointing. I mean .NET 8 isn't going to be released fully until the end of 2023 so it's going to be a very long time before it can be used in production.

[2022-08-25 18:12] HaoK commented on #43467
This behavior is by design, you can certainly change the authenticationScheme, but JwtBearer only looks for the "Bearer" header, does that make sense?  authenticationSchemes are just logical names, it has no influence on what the authorization header is...that is still required to be Bearer

[2022-08-25 18:12] Cpt-Falcon commented on #17730
I'm curious as to why it requires such surgery. I figured WASM threads would have been able to be integrated with the task pool relatively easily. When available and appropriate, determined by the scheduler, the task pool would just utilize a new WASM thread for a task. It sounds like you guys are going full 100% threading support though with all Thread. library functions being enabled. But then a

[2022-08-25 18:14] wtgodbe opened #43548 "Quarantine Http3.Http3TlsTests.OnAuthenticate_Available_Throws"
## Failing Test(s)

Interop.FunctionalTests.Http3.Http3TlsTests.OnAuthenticate_Available_Throws

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[code]
</details>

## Build

[2022-08-25 18:24] halter73 commented on #39454
Given the workarounds like `StatusCodeResult` or just setting the location even though it's unnecessary, this hasn't been my biggest priority. We are nearing code complete for .NET 7. I'm sorry. I still do plan to merge the PR, but it probably won't make it until .NET 8.

[2022-08-25 18:24] captainsafia commented on #43330
Triage: we'll want to get more feedback on what the appropriate defaults to set for different HTTP methods are here. For now, 200 seems like a safe fallback.

[2022-08-25 18:24] andersson09 commented on #17730
The mono runtime (C) is being compiled to WASM, not C# code. And if browsers support multithreading directly with WASM, there is no need to bind into JavaScript.

[2022-08-25 18:30] captainsafia commented on #43363
Triage: @rjgotten At the moment, there's no compelling reason to add a per-type opt-out for automatic inference of services. Is using `[FromBody]` on the target parameters in your action sufficient for opting out?

[2022-08-25 18:33] captainsafia commented on #43386
Triage: @JTKAcies Is there a reason that you're not doing the following?

[code]

[2022-08-25 18:36] captainsafia commented on #43391
Triage: marking as a candidate for a bug fix in rc2.

[2022-08-25 18:45] captainsafia commented on #43464
Triage: ApiExplorer will use the `ParameterInfo.Name` by default as the name that is generated for API descriptions (regardless of what is in on the attribute). We should probably update the implementation to respect name's explicitly provided in the attribute as they likely have higher precedence than the name we would infer from the parameter list.

[2022-08-25 18:48] captainsafia commented on #43489
Triage: this work would depend on adding support for Stream parameters in MVC actions, see https://github.com/dotnet/aspnetcore/issues/41540.

[2022-08-25 18:57] awillSoftwares commented on #42284
@danroth27 Doens't solve. The page become unresponsive until the client completely load the big bloated binaries.
Prerendering works well when the client load fast enough.
Prerendering doesn't work well when system render some content that depends on authentication.
Server-side render is good only for search index crowlers, or maybe not even that.

[2022-08-25 18:59] captainsafia commented on #43493
Is there a reason that the `OpenApiOperation` metadata with the `Deprecated` property is not a sufficient "shared" metadata to use here consider that NSwag/Swashbuckle/Microsoft.AspNetCore.OpenApi leverage it for minimal APIs?

For MVC controllers, is it possible to check for the `Obsolete` attribute on the action descriptor directly?

[code]

[2022-08-25 19:01] adityamandaleeka commented on #43548
@JamesNK Looks like https://github.com/dotnet/aspnetcore/pull/43423 didn't help in this case... seems weird that 10 retries would all hit the "address in use" issue. Maybe something else is going wrong?

[2022-08-25 19:03] captainsafia commented on #43501
Triage: at minimum, we'll try to document the workaround. We'll also do the additive API change for RC2.

Note: we'll also need to file a breaking change announcement with this.

[2022-08-25 19:07] RomBrz commented on #41377
I have a server with just "Hosting Bundle" installed (not the runtimes), this month patch updates the actual Hosting Bundle for both DotNet (3.1.x and 6.0.x) but install the runtimes.
In my opinion, the update should only update what is already installed, not install the full pack and update everything else..

[2022-08-25 19:08] pr-benchmarks[bot] opened #43549 "Perf improvement: fortunes"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes [Fixed] | Fortunes Platform 2- Trends Database Intel Windows | 08/24/2022 08:21:06 | 405,995 | 423,876 | 4.40 % (17,881)  :thumbsup:  | 7.36 σ | 2,428.42 | <details>    <summary>Changes</summar

[2022-08-25 19:13] danroth27 commented on #42284
@awillSoftwares You're correct that prerendering only improves the perceived load time of the page. We are discussing how we might in the future enable a combined model where the app starts off with Blazor Server and then transitions to Blazor WebAssembly after the app has been downloaded. Prerendering with authentication is also something we're working on for .NET 7: https://github.com/dotnet/asp

[2022-08-25 19:17] wtgodbe commented on #41377
Do you have the update logs? The hosting bundle is designed to only update what is already installed, if it updated everything that sounds like a bug.

[2022-08-25 19:28] commonsensesoftware commented on #43493
Yes - there is a reason. Not every library needs or uses OpenAPI. API Versioning does not directly reference or otherwise specifically care about OpenAPI. OpenAPI document generators like Swashbuckle and NSwag use the metadata provided by the API Explorer. API Versioning exposes this metadata to them (and anyone else) without any direct knowledge or dependency on OpenAPI.

Is an attribute is _poss

[2022-08-25 19:58] johnwc opened #43550 "Authorize attribute with AllowAnonymous attribute always anonymous."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Having a method as such, the User property of the controller is never assigned the user from the bearer token from the header when `AllowAnonymous` is added. Docs states that if you add `AllowAnonymous` along with `Authorize`, it will allow anonymous when no authentication is present, and aut

[2022-08-25 20:08] davidfowl commented on #43550
Where is the rest of your code? Where is the middleware pipeline and setup?

[2022-08-25 20:20] commonsensesoftware commented on #43493
Honestly, I thought this would be easy win.

Since we're on the topic of _deprecation_, there are other, related pieces of metadata that are not exposed either. _Deprecation_ typically implies that an API will sunset (e.g. go away) at some point, but not necessarily. `IsDeprecated` doesn't indicate if the API will sunset or when. At best, it simply says _"You shouldn't use this anymore."_

API Ver

[2022-08-25 20:43] johnwc commented on #43550
Using the out of the box standard Microsoft identity code to add it to the startup, literally single line of code with b2c client settings in app settings. I'm out to dinner at the moment, if you need exact copy of code I can share it when I get back home in about 30 minutes.

[2022-08-25 22:13] RajaSomu783 commented on #43452
Hi @HaoK,
Could you please provide any help  on this? I have been  disscusing with Duende  identity  server as well in the following  link, [Github issue ](https://github.com/DuendeSoftware/Support/issues/169) . It is  working in .net 3.1 but not in .net6. Am I missing  anything in .net6 middleware pipelines?

[2022-08-26 00:00] johnwc commented on #43550
@davidfowl I updated the original question with more code

[2022-08-26 00:26] johnbaro commented on #40177
If it helps anyone, personally, using fluxor I just fire off an action when OnLoginSucceeded fires and when handling that action, I check current state to see if I've already fired it (it triggers a logged in bool) and ignore subsequent events.
Could be done using a static variable or local storage or some such as well.
Pretty simple but it works.

[2022-08-26 01:52] commonsensesoftware commented on #35489
Was there some compelling reason this was bumped? I was really looking forward to this for API Versioning.

To @davidfowl earlier comments:

I think I'm missing something. First, when would someone really want a composite binder for any parameter `T`? I'll assume there is some valid scenario that hasn't be articulated. Assuming there are composite binders, in what scenario are all the binders not

[2022-08-26 03:53] cmeyertons commented on #43489
@captainsafia im sure there’s aspects I’m not considering, but we did get this working inserting a new InputFormatter into the pipeline.

Would it be helpful to post the approach here?

[2022-08-26 04:01] feiyun0112 commented on #43531
please try to use `dotnet watch run`

more details in https://github.com/dotnet/sdk/issues/9038

[2022-08-26 04:03] TanvirArjel commented on #43524
@brunolins16 Got it! Thanks!

[2022-08-26 04:03] #43524 closed

[2022-08-26 05:50] danielbecroft commented on #42740
Hi @Tratcher , I think the core of the problem is that we are expiring the _authentication ticket_ portion of the cookie, but not removing the cookie itself. This leaves the (now invalid) cookie in the browser and sends it on the second `GET /signin-oidc` request. We're solving this by setting `CookieOptions.MaxAge` and `CookieAuthenticationOptions.ExpireTimeSpan` like so:

[code]

This ensures th

[2022-08-26 06:17] Wasenshi123 opened #43560 "[SignalR-Client-Cpp] cmake build for MSYS/Mingw64 on windows failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I follow the instruction on github, modifying cmake command as followed:
`cmake -G Ninja .. -DCMAKE_TOOLCHAIN_FILE="../submodules/vcpkg/scripts/buildsystems/vcpkg.cmake" -DCMAKE_BUILD_TYPE=Release -DUSE_CPPRESTSDK=false`

Then, when I build with `cmake --build . --config Release` the error oc

[2022-08-26 06:33] lskyum commented on #29826
This would also be helpful for interfaces like IJSInProcessObjectReference

[2022-08-26 07:29] JTKAcies commented on #43386
Delegate subSubDelegate= (string parentParentId, string parentId, string id) =>
{
    return id;
};

Delegate subDelegate= (string parentId, string id) =>
{
    return id;
};

Delegate userDelegate = (string id) =>
{
    return id;
};

app.MapGet("/pets/{parentParentId}/keys/{parentId}/otherOwners/{ownerId}", subSubDelegate);
app.MapGet("/pets/{parentId}/keys/{id}", subDelegate);
app.MapGet("/user

[2022-08-26 07:50] davidfowl commented on #43386
I feel like I'm missing something. Is the logic all the same in these methods?

[2022-08-26 08:48] omuleanu commented on #43541
@javiercn you can, except you have to call this after Render and either handle (show/hide div) it in js or call another render (StateHasChanged)

[2022-08-26 09:17] Ogglas opened #43562 "Microsoft.AspNetCore.Identity UserManager - Delete user AuthenticatorKey and RecoveryCodes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I miss a method for deleting `AuthenticatorKey `and `RecoveryCodes `for a user in `Microsoft.AspNetCore.Identity UserManager`. I can control nearly everything else but for some reason there is no method to remove these values.

### Des

[2022-08-26 09:23] nicks219 commented on #42407
Hello. I suggested a fix idea for the grpc swagger query parameters resolver (for all methods), link above. Thx.

[2022-08-26 10:23] paulguz-datapa opened #43563 "Blazor Webassembly Authentication with OpenIDConnect endsession missing id_token_hint"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Please see the issue #29586, which was closed a year ago due to inactivity, without being fixed.

At the time, @javiercn 's suggestion was to upgrade to 5.0.  I am running .Net 7 Preview 3 and it is still an issue.

We are using IdentityServer4, but it may still affect the latest Duende Ident

[2022-08-26 10:33] Ruud-cb commented on #43467
Hi @HaoK , I was perhaps lost there a bit after using `Bearer ` as Request Header when that didn't work as desired, which made me try to be more specific in what scheme to use. Unfortunately I can't reproduce it in the test project I've sent, but eventually the fix in my own application was to change from this:

[code]

to this:
[code]

Very strange. `ApplicationUser` and `ApplicationRole` are jus

[2022-08-26 11:01] #43377 closed

[2022-08-26 11:36] ComptonAlvaro opened #43564 "Is it possible to log to a text file with ASP Core .Net 6?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am doing some test with ASP Core .NET 6 and now I am trying to log into a file text.

I have read that now ASP has built-in some log options, but when I read about how to log to a file, normally I find example with a third party pack

[2022-08-26 11:54] 835718973 opened #43565 "using the blazorwebview control to load a local and external plugin of blazor webassembly program in the Maui blazor program does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I want to use the blazorwebview control to load a local and external plugin of blazor webassembly program in the Maui blazor program. When I run on the windows platform, everything is normal. When I switch to the Android platform,i got an error "[chromium] [INFO:CONSOLE(1)] "Streaming compila

[2022-08-26 13:17] javiercn commented on #43541
@omuleanu You can't know during rendering because rendering is synchronous the best you can do is compute the value ahead of time either inside OnAfterRender or within SetParametersAsync or HandleEvent (or any external way in which you might trigger a render for the component)

The alternative can also be to just render both elements and use CSS to display the appropriate element.

[2022-08-26 13:20] javiercn commented on #43565
@835718973 thanks for contacting us.

This is not a scenario that we support, the Blazor Webview is designed (for the time being) to only run Blazor Desktop applications, you can't mix and match with Webassembly.

If you want to host a Blazor webassembly app inside a regular webview, that is not something we support nor plan to provide guidance for.

[2022-08-26 13:22] RomBrz commented on #41377
I'm sending 3 logs:
1) WindowsUpdate-DotNet6Failed.txt = Server Failed to install DotNet 6.0.x while IIS is running.
[WindowsUpdate-DotNet6Failed.txt](https://github.com/dotnet/aspnetcore/files/9433436/WindowsUpdate-DotNet6Failed.txt)

2) WindowsUpdate-DotNet3Runtime.txt = Server has only Hosting Bundle for 3.1.x, after the update, has Runtime too.
[WindowsUpdate-DotNet3Runtime.txt](https://github

[2022-08-26 13:22] javiercn commented on #43564
@ComptonAlvaro thanks for contacting us.

There is nothing that we ship out of the box, however you could run your program with the console logger and tee the console output to a file. There are other third-party solutions that offer this functionality

[2022-08-26 13:35] omuleanu commented on #43541
@javiercn In my case I did it with a js func called on `firstRender` in `OnAfterRender`

[2022-08-26 13:58] Ducki commented on #43450
I have investigated a litte further.
It seems that it is unrelated to the tilde/UrlResolutionTagHelper. Rather, the issue always appears when modifying the _Layout.cshtml file. Also, (in a bigger project of mine) I am facing the issue when editing normal razor pages (meaning no _Layout.cshtml).

There is another [report of this issue on Stackoverflow](https://stackoverflow.com/questions/73464052/a

[2022-08-26 14:01] javiercn commented on #43450
@Ducki could you turn on `EmitCompilerGeneratedFiles` in your csproj and capture the generated code before and after the change?

[2022-08-26 14:11] ComptonAlvaro commented on #43564
@javiercn Thanks for you suggestion, it could be an option.

There is some place or example that I could see to know how to do it?

[2022-08-26 14:16] javiercn commented on #43564
@ComptonAlvaro it depends on many things, but assuming you are using something like dotnet run and powershell you could do something like `dotnet run | Tee-Object -FilePath log.txt`. You can obviously adapt the command to whatever you need to run or use a similar technique with other shell.

[2022-08-26 14:17] Ducki commented on #43450
I tried.
When starting `dotnet watch`, the first batch of the generated razor files gets compiled.
But it when making a change in the file, the generated files don't get updated – neither in a successful reload nor a faulty. Not sure if that's by design, that hot reload only alters those generated results in memory?

[2022-08-26 14:22] javiercn commented on #43450
@Ducki taking a second look, I think this is a regression that we fixed recently. @tmat this looks familiar to the issue we investigated recently, doesn't it?

[2022-08-26 15:28] Tratcher commented on #42740
A cookie containing an expired auth ticket should be harmless, context.User will be populated with an anonymous user.

[2022-08-26 15:32] ComptonAlvaro commented on #43564
@javiercn Thanks, it is good start point. I will see.

[2022-08-26 15:39] tdjastrzebski commented on #43095
Updated code attached.
[TestWebAPI-2.zip](https://github.com/dotnet/aspnetcore/files/9434505/TestWebAPI-2.zip)

[2022-08-26 15:56] captainsafia commented on #43531
Closing in favor of referenced issue.

[2022-08-26 15:56] #43531 closed

[2022-08-26 16:05] BrennanConroy commented on #43560
`%F` and `%T` are standard format specifiers: https://en.cppreference.com/w/cpp/chrono/c/strftime
Are you using an old or unusual compiler? You need one that supports C++11 at a minimum.

[2022-08-26 16:12] Wasenshi123 commented on #43560
This is what I used
[code]

[2022-08-26 16:24] BrennanConroy commented on #43560
I'm not familiar with MSYS2, but looking at the docs, they do mention some issues with format specifiers: https://www.msys2.org/wiki/Porting/#c-printf-format-specifier-issues

[2022-08-26 16:27] brunolins16 commented on #43095
@tdjastrzebski  I just tested your code and you need to:

* Remove the ModelBinder attribute, since your are using the IModelBinderProvider.

[code]

* Since your binder logic decided which type to bind based on the `Kind` i think make sense if you add the `Kind` route parameter or querystring in your action.

[code]

* To make the JSON object simpler when submitting the payload, maybe you could i

[2022-08-26 16:29] wtgodbe commented on #41377
@RomBrz we would need the MSI logs to determine what went wrong - they'd be in your %temp% folder (of the user that ran the installation), search for %temp%\dd*hosting.log, they should look similar to dd_dd_DotNetCoreWinSvrHosting__20220819002058.log

[2022-08-26 16:29] Wasenshi123 commented on #43560
Perhaps that is the case.

The doc (from your link) says to pass this flag to compiler
`-D__USE_MINGW_ANSI_STDIO=1`

[code]
Could you guide me to how can I do this? (what or where should I modify in the source code before I try building it again?)

[2022-08-26 16:32] BrennanConroy commented on #43560
Just pass that flag when you build
`cmake -G Ninja .. -DCMAKE_TOOLCHAIN_FILE=... -D__USE_MINGW_ANSI_STDIO=1`
You might need to clear the cmake cache first

[2022-08-26 16:35] krispenner commented on #43526
Well in that case it seems to call
https://github.com/dotnet/aspnetcore/blob/0eaabe0fe5d714753f58ba84c9880403977a7f82/src/Middleware/CORS/src/Infrastructure/CorsService.cs#L68
with the single configured policy, but I'm referring to
https://github.com/dotnet/aspnetcore/blob/0eaabe0fe5d714753f58ba84c9880403977a7f82/src/Middleware/CORS/src/Infrastructure/CorsService.cs#L51
which takes a policyName an

[2022-08-26 16:36] Wasenshi123 commented on #43560
Well, doing that I get this

[code]
(and still not success)

[2022-08-26 16:40] BrennanConroy commented on #43560
Hmm, don't know how to fix it.

You should be able to workaround the issue by passing `-DWERROR=false`. Or even modifying the logger.cpp code to use `%Y-%m-%d` for `%F` and `%H:%M:%S` for `%T`

[2022-08-26 16:47] Wasenshi123 commented on #43560
I tried adding `-DWERROR=false` and the build went through 100% but got error at the end

[code]

[2022-08-26 16:48] Tratcher commented on #43564
There are many 3rd party providers that enable this:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-6.0#third-party-logging-providers

[2022-08-26 16:48] BrennanConroy commented on #43560
You can also skip building the test project `-DBUILD_TESTING=false`.

[2022-08-26 16:50] BrennanConroy commented on #43526
Great, so the middleware doesn't call that function which means you won't have any issues with your `ICorsPolicyProvider` not being called.

[2022-08-26 16:56] sajjadarashhh opened #43569 "IDBFS is Not defined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

i've been use IDBFS File system module to use sqlite in blazor wasm .net 7 preview 7
but IDBFS is not defined in release mode.
also i've add : `<EmccExtraLDFlags>-lidbfs.js</EmccExtraLDFlags>`
to my .csproject file

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

[2022-08-26 16:59] Wasenshi123 commented on #43560
Ok. Thank you for you help. Now I can have the `libmicrosoft-signalr.dll` lib built successfully (at least haha).

If I have further question from here, where should I get help though?

[2022-08-26 17:13] Wasenshi123 commented on #43560
I will close this now and will open new issue if I stuck somewhere.

Thank you again for your help. May you have great days for the whole next month :)

[2022-08-26 17:14] #43560 closed

[2022-08-26 17:27] krispenner commented on #43526
Right, but I don't know how the CORS system works, does anything other than middleware access the policies which may call the wrong method then?

I'd really like to know why that method was added and maybe it should be marked it as deprecated if no longer needed, or if needed, it could be converted it to async and call the `ICorsPolicyProvider` from within it instead? But maybe that is asking too

[2022-08-26 17:27] #43526 closed

[2022-08-26 17:38] vsfeedback opened #43571 "Browser Link Errors after Disconnect"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Browser-Link-Errors-after-Disconnect/10132431)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:Not sure]
1.  Start a Blazor Web Assembly Project with most recent template.
2.  Hit Start Debugging.
3.  Copy the URL into another browser and start the page.

[2022-08-26 17:39] TanayParikh commented on #43571
Note this is VS specific, however moved to GitHub given the error message in aspnetcore code:

[2022-08-26 18:36] mariusz96 opened #43572 "[Feature Request]: Make LinkGenerator support complex objects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Since at least couple versions it is possible to model bind GET requests' query parameters to complex objects, however `LinkGenerator` does not support destructuring them and requires passing each complex object's property separately.

[2022-08-26 19:01] #43540 closed

[2022-08-26 19:01] #43421 closed

[2022-08-26 19:09] #43549 closed

[2022-08-26 19:09] #43425 closed

[2022-08-26 19:09] #43350 closed

[2022-08-26 19:09] pr-benchmarks[bot] opened #43574 "Perf improvement: https, json_actix"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| https  | Json Https 19- Trends Arm 80 Linux | 08/19/2022 19:46:10 | 986,350 | 1,036,907 | 5.13 % (50,557)  :thumbsup:  | 1.44 σ | 35,027.84 | <details>    <summary>Changes</summary>     <table><th>Name<

[2022-08-26 19:39] blowdart commented on #43550
[Authorize] checks if the resource is marked by [AllowAnonymous] and skips authorization in this case.

Where do the docs say otherwise? If I look at the [main authorization doc](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/simple?view=aspnetcore-6.0) page it has a nice warning,

[2022-08-26 19:42] blowdart commented on #43495
In general, while we try to sanitize logs for PII there are always going to be things that is PII for one application, that another application considers vital information for logs. There's a balance here that's a tightrope for us to walk.

The securing of logs, and servers, and everything else falls to the application/infrastructure admin. Depending on your logging system you may be able to filte

[2022-08-26 20:05] adityamandaleeka commented on #43567
@sadanand Can you try the steps @wfurt mentioned above?

[2022-08-26 20:06] wtgodbe commented on #43564
Starting w/ dotnet 6, you can use our W3CLogger to log to a text file: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/w3c-logger/?view=aspnetcore-6.0

[2022-08-26 20:09] adityamandaleeka commented on #43547
@ComptonAlvaro Can you enable logging for the server and see if anything appears there?

[2022-08-26 20:14] blowdart commented on #43562
What is your use case for this? You can disable MFA and it'll all get ignored anyway. What does deletion accomplish for you that disabling doesn't?

[2022-08-26 20:29] brunolins16 commented on #43236
@eiriktsarpalis So basically, what you are saying is we could make something like this public (probably including `(Http)ValidationProblemDetails` as well), right?

https://github.com/dotnet/aspnetcore/blob/846f0fd3cc4217582c00da10ad590704288190af/src/Http/Http.Extensions/src/DefaultProblemDetailsWriter.cs#L69-L70

As I mentioned before, the `ProblemDetails.Extensions` is a `Dictionary<string, obj

[2022-08-26 20:37] eiriktsarpalis commented on #43236
Unfortunately, no. Relevant issue: https://github.com/dotnet/runtime/issues/58134. Even if we do address it for common primitives, fundamentally the experience won't change: any runtime types will need to be explicitly opted in.

[2022-08-26 20:40] RomBrz commented on #41377
1. The log from the server with IIS running that crashed trying to install DotNet 6.
[dd_dd_DotNetCoreWinSvrHosting__20220818090804.log](https://github.com/dotnet/aspnetcore/files/9436289/dd_dd_DotNetCoreWinSvrHosting__20220818090804.log)

2. The server that have only the Hosting Bundle installed. It doesn't have the "dd_dd_*" files, only 4 types of files (3.1.x both x86/x64 and 6.0.x both x86/x64

[2022-08-26 20:45] davidfowl commented on #43550
The user should still be available for authorized users.

[2022-08-26 20:53] brunolins16 commented on #43236
😟 So, since MVC adds the `traceId` we'll probably need to add, at least, `string` to the public context (to make the user experience a little bit smoother).

https://github.com/dotnet/aspnetcore/blob/f6362e06e8228588fe3d82bd03b7e16a7bd91bf0/src/Mvc/Mvc.Core/src/Infrastructure/DefaultProblemDetailsFactory.cs#L95-L99

[2022-08-26 21:07] wtgodbe commented on #41377
For the first, you're hitting Error 0x80070643, which is often caused by a corrupted .Net Framework on the machine - you could try repairing .Net Framework before re-running the install.

For the second, is there a log with DotNetCoreWinSvrHosting in the name on the machine? That'd have what we need to figure out the problem

[2022-08-26 21:08] #36417 closed

[2022-08-26 21:38] RomBrz commented on #41377
As i told before, i can reproduce this error if i click on "Install Windows Updates" while IIS is running; the DotNet 3.1 installs OK while IIS running, DotNet 6 gives this crash and corrupt the installation. In this case: Tried to install, gives this bug; i have to manually uninstall everything related to 6.0.8 AND 6.0.7 (some packages keeps both versions), on this server, change IIS startup to m

[2022-08-26 21:50] datalims opened #43577 "asp.net core identity two factor remember me cookie being overwritten"
I have an asp.net core standard 6 MVC application that utilizes Identity for Authentication. For 2fa I am using sms or email for verification - I don't want to use authenticator apps.  I am able to go through the login process and verify a user with two factor authentication. A 2fa cookie is saved in the users browser for the next login. However, when the next person signs in with two factor the p

[2022-08-26 22:01] #43399 closed

[2022-08-26 22:38] rwkarg commented on #36486
If HTTP/3 were "Enabled by default" then would that mean a client connecting would get upgraded to HTTP/3 without a specific opt-in?
I think that would mean that services behind a TCP load balancer (not UDP) would have clients told to upgrade to HTTP/3, fail to connect over UDP, then need to come back on HTTP/2 over TCP. Not sure what the performance impact would be on connections in that scenario

[2022-08-26 23:32] Korporal opened #43579 "CookieOptions - Domain property not leading to expected behavior"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Executing

[code]
Does not _reliably_ lead to a cookie being saved in user's browser.

The documentation strongly implies that if we set `Domain` to say `domain.com` (or `.domain.com`) then any requests to any subdomain like `services.domain.com` or `applications.domain.com` and so on, will,

[2022-08-26 23:58] johnwc commented on #43550
@blowdart authorized and authenticated are two different things. In this case, we don't need anyone to be "authorized" to use this api method, but they should be able to authenticate if they do have valid credentials. The api method has different flows depending if they are authenticated.

@davidfowl any idea where I need to look to find out why it's not working?

[2022-08-27 00:10] JamesNK opened #43581 "Remove temporary workaround to not use msbuild server"
https://github.com/dotnet/aspnetcore/pull/43028 is adding `DOTNET_CLI_DO_NOT_USE_MSBUILD_SERVER` to build YAML to workaround SDK update issue.

This is a temporary fix and should be removed when no longer needed.

Example,

[code]

[2022-08-27 00:12] NUlliiON opened #43580 "[Blazor] Simplify passing enum values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Clone of https://github.com/dotnet/aspnetcore/issues/12154
This is a clone of an existing issue. I saw the comment https://github.com/dotnet/aspnetcore/issues/12154#issuecomment-511898079. Is it possible to implement this functionality

[2022-08-27 05:11] davidfowl commented on #43339
@Valdeminas Can you reproduce the issue locally?

[2022-08-27 07:04] ComptonAlvaro commented on #43547
@ComptonAlvaro Well, really it is what I was trying, to enalbe logging to can write in a text file to see what is happening, but I don't know how to write to a file the log of ASP.

I can't see the log of ASP when it is running as the same way than when I run it directly.

When I have the log, I will share.

[2022-08-27 07:06] pr-benchmarks[bot] opened #43592 "Perf regression: json, plaintext_nodejs"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json  | Json 3- Trends Arm 28 Windows | 08/15/2022 20:55:55 | 743,617 | 644,112 | -13.38 % (-99,505)  :thumbsdown:  | -1.37 σ | 72,468.81 | <details>    <summary>Changes</summary>     <table><th>Name</t

[2022-08-27 10:44] javiercn commented on #43571
@TanayParikh the exception is likely caused by something manipulating the DOM.

This is likely something for @BillHiebert to look at.

[2022-08-27 10:50] dstockhammer opened #43593 "Tag helpers break dotnet watch hot reload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Using **any** custom tag helper breaks dotnet watch hot reload in Razor Pages with `System.TypeLoadException`:

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

The issue is very easy to reproduce:
1. create a fresh Razor Pages project with `dotnet new razor` -> [commit#3

[2022-08-27 11:03] dstockhammer commented on #43450
Looks like the same or a very similar thing happens with any custom tag helper: https://github.com/dotnet/aspnetcore/issues/43593. From what I can tell, the issue is unrelated to tilde or any specific file.

[2022-08-27 11:21] javiercn commented on #43593
@dstockhammer thanks for contacting us.

This is a known regression that was fixed recently, I am not sure if the fix is available already. @tmat

[2022-08-27 11:25] javiercn commented on #43572
@mariusz96 thanks for contacting us.

Model binding works at a different layer than LinkGenerator. LinkGenerator only understands about route-values and we do not have plans to build more complex functionality like the one you are describing into it.

You can build this yourself as an extension method, but this is an opinion that we do not think we want to bake into routing.

[2022-08-27 12:45] mariusz96 commented on #43572
Thank you for your answer, I understand where you're coming from.

However reverse engineering framework's internal model binding (that is subject to change) in the external code does not seem like a viable option either.

I see that for manual model binding there is `TryUpdateModelAsync` method on a controller - is s there a counterpart in the framework that would allow me to do `bool TryGetRoute

[2022-08-27 15:02] lorddev commented on #43495
Got it, thank you Barry.

[2022-08-27 16:01] #43565 closed

[2022-08-27 16:01] #43541 closed

[2022-08-27 18:07] ekuhlmann23 commented on #39311
@kbeaugrand Could you provide more details on the workaround, please?

[2022-08-27 18:12] johnwc commented on #43550
@blowdart Here is where it states it. Not in the docs maybe, but documented within the code itself.
[AuthorizationMiddleware.cs](https://github.com/dotnet/aspnetcore/blob/main/src/Security/Authorization/Policy/src/AuthorizationMiddleware.cs#L126)

[2022-08-27 18:20] kbeaugrand commented on #39311
@ekuhlmann23,

I simply moved the settings to specify the authentication response type to ``code```.

e.g:
[code]

[2022-08-27 19:06] #43574 closed

[2022-08-27 19:06] #43361 closed

[2022-08-27 19:06] #43438 closed

[2022-08-27 19:06] pr-benchmarks[bot] opened #43600 "Perf improvement: multiple_queries"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| multiple_queries  | Multiple Queries Platform 2- Trends Database Intel Windows | 08/26/2022 08:35:15 | 29,033 | 31,243 | 7.61 % (2,210)  :thumbsup:  | 2.13 σ | 1,035.74 | <details>    <summary>Changes</

[2022-08-27 19:06] pr-benchmarks[bot] opened #43601 "Perf regression: fortunes, fortunes_actix, fortunes_dapper"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes [Fixed] | Fortunes Platform 2- Trends Database Intel Windows | 08/26/2022 08:27:17 | 415,286 | 411,777 | -0.85 % (-3,509)  :thumbsdown:  | -0.36 σ | 9,853.11 | <details>    <summary>Changes</su

[2022-08-27 20:01] johnwc commented on #43550
@davidfowl I was able to get this to work today. I had to add a default scheme policy or assign a policy to the Authorize attribute. Just adding schemes was not enough.

[2022-08-27 22:22] TehGM opened #43602 "Blazor WASM - TypeError: Window.fetch: HEAD or GET Request cannot have a body."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When trying to send a GET request with included body from Blazor WASM client (using a `HttpClient` instance), the request doesn't get sent and `System.Net.Http.HttpRequestException` exception is output in browser console instead.

This seems to be caused by JS fetch polyfill not supporting th

[2022-08-28 00:51] Yashuaa commented on #43295
@MackinnonBuck - That's simply just not true, and never has been. If that is the case, then these [docs  ](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/async#:~:text=Use%20the%20async%20modifier%20to%20specify%20that%20a%20method%2C%20lambda%20expression%2C%20or%20anonymous%20method%20is%20asynchronous.%20If%20you%20use%20this%20modifier%20on%20a%20method%20or%20expre

[2022-08-28 01:23] Yashuaa commented on #43295
I talked to some people on this discord who helped expand on your answer a bit more.. It makes sense but I think you all should clarify this in the docs.

[2022-08-28 02:17] RNONGFU001 opened #43603 "AppContext.BasedDirectory can not return a valid file directory info"
Hi,

I am trying to migrate a winform app to a new blazor wasm app. In my winform app, the project referenced a dll lib.  Inside of dll lib, it would call AppContext.BasedDirectory method to get current app directory, in order to location some other files.

the problem is the new blazor app hits a runtime error, coz AppContext.BasedDirectory returns a virtual path as "/", instead of a real file di

[2022-08-28 06:59] stsrki opened #43604 "Unable to use tuple as component parameter in .NET 7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm trying to add support for .NET 7 into the Blazorise component library. One last thing that gives me an error is that I cannot define tuple values as a component library. Note that this is working perfectly fine in .NET 6.

**Errors**

![image](https://user-images.githubusercontent.com/900

[2022-08-28 07:06] #43538 closed

[2022-08-28 07:06] pr-benchmarks[bot] opened #43605 "Perf improvement: plaintext"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext [Fixed] | Plaintext Platform 2- Trends Intel Linux | 08/26/2022 20:25:13 | 10,692,941 | 10,931,495 | 2.23 % (238,554)  :thumbsup:  | 2.83 σ | 84,160.34 | <details>    <summary>Changes</summary

[2022-08-28 07:06] pr-benchmarks[bot] opened #43606 "Perf regression: plaintext"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext [Fixed] | Plaintext Platform 4- Trends Amd Linux | 08/26/2022 21:14:04 | 11,952,302 | 11,782,101 | -1.42 % (-170,201)  :thumbsdown:  | -4.27 σ | 39,893.02 | <details>    <summary>Changes</summ

[2022-08-28 09:29] VEGAXS opened #43607 "MSBuild c++ error link1112"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am making a blueprint compiler, I am going to try to use MSBUILD to compile and test, running the compilation in the default x64 output folder of vs is 100% working, but when I migrate to the desktop, the error of Link1112 appears, I don't understand, why Migrating to other places will not

[2022-08-28 09:36] dstockhammer commented on #43593
Thanks! Can you estimate when a fix will be available, and is there a workaround for now? Not being able to use `dotnet watch` effectively completely breaks my development flow. Having to restart the app manually every time I change a line of markup is completely unacceptable... 😞

[2022-08-28 10:49] javiercn commented on #43602
@TehGM thanks for contacting us.

We do not use a fetch polyfill. The browser does not allow you to send GET requests with a body in them. The behavior here is correct and by design, its a browser limitation that we can't lift.

[2022-08-28 11:02] javiercn commented on #43572
@mariusz96 no, there is not.

In general, what you are asking for is not a routing feature, it's a "something else" feature. Routing does not understand about the query string, it understands "route values" only.

Modelbinding is highly customizable, and the process is in general not something that roundtrips (can be reversed). If you want some syntactic sugar, I suggest that you create a tag help

[2022-08-28 11:20] indieza opened #43626 "Custom SignInManager"
Hello,
I got a problem with my application on start-up. I created a custom SingInManager class and I also registered it in the Start-up file of the application and when I run the app, I got the following error.

[code]
Here is my custom SingInManager class. I do not have any additional logic implemented for now.

[code]
And also the registration of it into the start-up file

[code]
May you give me

[2022-08-28 13:27] TanvirArjel opened #43608 "HttpClient.GetFromJsonAsync<T> does not handle 204 returned by ASP.NET Core."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Here is the API method:

[code]

When the product is `null`, ASP.NET Core API returns 204 NotConent. That's fine.

But the problem is when trying to deserialize by  `HttpClient.GetFromJsonAsync<T>` as follows:

[code]
It throws the exception as follows instead of returning `null`

I submitted

[2022-08-28 14:35] gfr-g commented on #4382
I started working on this issue, doing some preliminary research.

The problem seems to be related to the fact that setting the `HttpProtocol.StatusCode` property when the flag `HasResponseStarted` is `true` is considered invalid.
`HasResponseStarted` is true when the request processing is at the stage `RequestProcessingStatus.HeadersCommitted`.
The request processing status is set in the `HttpPro

[2022-08-28 15:47] davidfowl commented on #43547
Check the event log.

[2022-08-28 17:24] ComptonAlvaro commented on #43547
Then system event log show this:

[code]

[2022-08-28 17:53] davidfowl commented on #43547
Are those the only logs? That doesn't look like the right category. If there were any errors it would show up under application e.g.:
<img width="709" alt="image" src="https://user-images.githubusercontent.com/95136/187087905-d3fbed52-6d71-45c6-9309-4c75a072d737.png">

[2022-08-28 18:28] zHaytam commented on #26850
Any news about this?

[2022-08-28 19:07] #43605 closed

[2022-08-28 19:07] pr-benchmarks[bot] opened #43609 "Perf improvement: json, json"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json  | Json IIS OutOfProc 1- Trends Intel Windows | 08/27/2022 08:36:35 | 869,745 | 883,688 | 1.60 % (13,944)  :thumbsup:  | 1.53 σ | 9,112.30 | <details>    <summary>Changes</summary>     <table><th>N

[2022-08-28 22:10] danroth27 commented on #17730
As @sps014 mentioned previously, it's worth noting that because enabling .NET multithreading relies on `SharedArrayBuffer` support, to use multithreading will require running the app with cross-origin isolation, which requires setting certain headers from the server. Cross-origin isolation may impact other functionality in apps (like cross-origin authentication flows) and enabling it may not be po

[2022-08-29 00:39] mconnew commented on #42040
Isn't there a requirement to allow a limited set of concurrent access? For example, a timer could fire (via a CancellationToken registration with a cancellation timer set) which has a callback which aborts the current request while the main functional code is accessing the HttpContext at the same time.

[2022-08-29 03:04] davidfowl commented on #42040
The only thing that’s thread safe on the HttpContext is Abort.

[2022-08-29 06:07] ajaypathak opened #43612 "DateTime.Now.ToString("yyyy/MM/dd") is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When i am trying to use DateTime.Now.ToString("yyyy/MM/dd"), it is always returning the response in "2022-08-29" format

following are examples

?DateTime.Now.ToString("yyyy/MM/dd")
"2022-08-29"
?DateTime.Now.ToString("yyyy%MM%dd")
"2022882929"
?DateTime.Now.ToString("yyyyMMdd")
"20220829"
?D

[2022-08-29 06:18] zanyar3 opened #43613 "Render image for static files logged in console browser 404"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I want work with **Blazor** with **ASP.NET MVC Core**.
I want to display an **image** on the site using **StaticFiles**. Everything is fine, and the image doesn't read first, but the background of the `OnInitializedAsync `section runs and displays the image

### Component.razor
`<img src="ima

[2022-08-29 06:23] mariusz96 commented on #43572
Ok, thank you for your answers.

[2022-08-29 06:23] #43572 closed

[2022-08-29 07:04] JTKAcies commented on #43386
[code]

Each delegate has unique logic and every parameter is used. However i can't reuse the same delegate since you have to use attributes to bind route name and parameter name.

[2022-08-29 07:07] #43601 closed

[2022-08-29 07:13] msschl commented on #42924
The goal is to create an asp net core server with razor pages. At a specific path (in my case `/admin`) the wasm client application should be served. This client app also includes some razor class libs with static content. This content should be for my understanding also be served from `/admin`. Also, the wasm app is only for authorized users.

[2022-08-29 07:18] davidfowl commented on #43386
Got it, so you have delegates with the same number of arguments but different names of parameters and they happen to be treated the exact same way. To help me visualize this a bit more, I'd love to understand what the logic looks like and how you are sharing it across those calls (I'm having a hard time understanding how the logic is sharable). How do you query for both a userId and a petId with t

[2022-08-29 07:29] JTKAcies commented on #43386
[code]

Using generics but i guess it can also be done through inheritance

[2022-08-29 07:38] ManickaP opened #43614 "Quic stream completion races with `Abort`"
Discovered in https://github.com/dotnet/runtime/issues/72619

If I'm reading the code of `AbortCore` right:
https://github.com/dotnet/aspnetcore/blob/51ccce6d743dddf995b3661f07b0e1990b68dc7d/src/Servers/Kestrel/Core/src/Internal/Http3/Http3Stream.cs#L145-L184
It first completes the `PipeWriter` before calling `QuicStream.Abort`:
https://github.com/dotnet/aspnetcore/blob/51ccce6d743dddf995b3661f07b

[2022-08-29 07:53] davidfowl commented on #43386
There's currently no way to do this with minimal APIs. The parameter name can't be overridden from the outside. In the above example, you'd need to use the same name for the key id as a workaround.

[code]

[2022-08-29 07:59] JTKAcies commented on #43386
Exactly which is why i suggest a way to bind parameter&route name through other means than attribute

[code]

[2022-08-29 08:09] ComptonAlvaro commented on #43547
@davidfowl In the application section I don't have any event related with the application. Just I have a system event with the error 1067.

I have try to write in a text file in the first line of program.cs, and it doesn't start, so I guess it is a problem about the way I create the service, the code, perhaps UseWindwService() or perhaps that I have to implement something related with some interfa

[2022-08-29 08:19] jessegood opened #43616 "React template should use UTF-8"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

The "Asp.net Core with React.js" template generates javascript files in the local encoding (SHIFT-JIS in my case).
When I tried to change the English to Japanese it resulted in garbled characters in the browser.

### Describe the solut

[2022-08-29 08:19] jessegood opened #43636 "React template should use UTF-8"

[2022-08-29 09:01] msschl commented on #42924
I've also tried without modifing the base to `/core`
See the [no_base example](https://github.com/msschl/repo_blazor_wasm_razor_classlib_static_assets_bug/tree/no_base)

[2022-08-29 11:55] ChrisHawkridge opened #43617 "SignalR C++ Client read access violation from signalr_client_config destructor"
Hi there,

I am getting a read access violation as soon as an instance of signalr_client_config goes out of scope.
I pulled the microsoft-signalr package from vcpkg and I am using Visual Studio 2022.

### To Reproduce
I created a blank windows console app with the following code.
[code]

[2022-08-29 12:10] javiercn commented on #43616
@jessegood thanks for contacting us.

Are you creating the template from the command line or from Visual Studio?

Is it all the files or is there a concrete set of files that is problematic. AFAIK all our template files are UTF-8 encoded without BOM, but I am not sure if there is any post-processing happening at other points in the template creation process

[2022-08-29 12:13] javiercn commented on #43613
@zanyar3 thanks for contacting us.

It is not clear to us what is going on here, but it is very likely a problem specific to your app. We would suggest you try several things:
* Request the image on the browser directly to see if it is being served.
* Temporarily comment out the blazor script in _Host.cshtml to prevent Blazor from starting and check that you are generating the correct markup.
* Ch

[2022-08-29 12:53] avl opened #43621 "Possible race condition in RemoteRenderer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We have a Blazor Server application where we have intermittent crashes in the blazor javascript.

We're suspecting a possible race condition bug somewhere in the server side Blazor-rendering code.

The error message in the browser console is this:

[code]

Whenever this happens, we observe th

[2022-08-29 13:01] #43602 closed

[2022-08-29 13:02] zanyar3 commented on #43613
@javiercn Thanks for response.

I want to be clear, when you want to work with images before the page loaded, that is, before the `OnInitializedAsync `or `OnInitialized ` run, images determine that there is a problem so it does not find, but after the `OnInitializedAsync `or `OnInitialized `images read.

Actually this is not a problem because it reads the pictures but I wonder why !!!?

 If use be

[2022-08-29 14:06] javiercn commented on #43613
@zanyar3 is this blazor server or webassembly, are you prerendering?

[2022-08-29 14:25] javiercn commented on #43621
Potential context:
* https://github.com/dotnet/aspnetcore/issues/5592
* https://github.com/dotnet/blazor/pull/1666

[2022-08-29 14:36] seangwright commented on #43593
This has been causing my app to crash with every `.cshtml` file save (which triggers a hot reload instead of a restart of the app). As someone that works on server-rendered HTML applications, you can imagine that hot reload becomes pretty useless in this case.

I thought it was something I broke on my end. Glad to hear it's just a regression.

I'd love to know when a fix is expected to land!

[2022-08-29 14:47] zanyar3 commented on #43613
I am work with **ServerSideBlazor**.

[2022-08-29 14:57] javiercn commented on #43621
@avl thanks for contacting us.

* Are you able to reproduce the issue "consistently"?
* Could you collect the debug logs to see if that helps shed some clarity on what might be going on?
* Does this happen when the app launches, after a few minutes, or at any point?
* Could you capture the call stack at the time you think the segment is corrupted?

Looking at the relevant code I do not see anythin

[2022-08-29 15:03] javiercn commented on #43613
@zanyar3 Are you using `render-mode="Sever" or "ServerPrerendered"

[2022-08-29 15:09] zanyar3 commented on #43613
I was used `RenderMode.ServerPrerendered`

For render component use below code

[code]

[2022-08-29 15:13] sebastienros commented on #39250
Can close this issue? It's been almost a year since the last feedback and we couldn't reproduce the problem by replicating the description.

[2022-08-29 15:43] javiercn commented on #43613
@zanyar3 comment out the `blazor.server.js` script and check if the problem happens. Look at the network tab in the dev tools and check the request for the image.

[2022-08-29 16:23] avl commented on #43621
Hello!

Thanks for your response!

Working in Europe, so ending my work day very soon now. Will provide more information tomorrow!

I can reproduce the issue sort of consistently. It requires clicking in our app for approximately 2 minutes. It's intermittent and random, but there are some views which seem to provoke it more oftenly. It only happens on some computers. One of them is a 16 core Ryzen

[2022-08-29 16:40] TanayParikh commented on #43571
Re-opened VSTS issue, closing this out.

[2022-08-29 16:40] #43571 closed

[2022-08-29 16:40] samuelbarrionuevo opened #43622 "join the organization"

[2022-08-29 16:41] TanayParikh commented on #43221
@m4rt1nd @davidfowl did you happen to come to a resolution for this issue? Should this be kept open?

[2022-08-29 17:03] BrennanConroy commented on #43617
These kinds of issues can occur if you use different compilers/compiler versions for different parts of your application.

What compiler did you use via vcpkg to build microsoft-signalr? And what compiler are you using with VS 2022?

[2022-08-29 17:22] Tratcher commented on #43579
If you look in the developer tools at the response headers, do you see the Set-Cookie header created with the expected field? Then compare to the browser tools that list cookies for the current page/app. If the Set-Cookie header is present, then everything else is about correctly understanding the browser rules. That is out of scope for this repo.

[2022-08-29 17:29] brendonparker opened #43624 "Support for custom authentication scheme without adding data protection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I'd like to revisit this issue: https://github.com/dotnet/aspnetcore/issues/33779

If you are building a custom authentication scheme that doesn't need data protection, there is currently no way to add authentication without adding dat

[2022-08-29 17:32] Korporal commented on #43579
@Tratcher - Thanks, give me some time and I'll try to get this info.

[2022-08-29 17:41] ComptonAlvaro commented on #43547
I oculd solve it if in the first line of my pogram.cs I set the CurrentDirectory of the enviroment:

Environment.CurrentDirectory = Path.GetDirectoryName(Assembly.GetExecutingAssembly().Location);

It is because the user that run the service, System, doesn't have permissions to write in c:\windows\system32, that is the default directory of the services.

[2022-08-29 17:46] javiercn commented on #39412
We did add logging support on the JS libraries which covers this

[2022-08-29 17:46] #39412 closed

[2022-08-29 17:50] sdb-dev opened #43625 "Kestrel TimingPipeFlusher calling WriteAsync when another write is pending, causing an exception (SSL)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have recently tried switching over one of our applications from IIS to Kestrel using SSL, and it seems that kestrel is having random issues when flushing data to the SSL stream.

Here is the error message
[code]

Another error that occurs randomly, and possibly related:
[code]

We are using

[2022-08-29 17:59] javiercn commented on #43621
@avl the ASP.NET Core logs. At least `Microsoft.AspNetCore.Components` and `Microsoft.AspNetCore.SignalR`. You can set the options in appSettings.json (beware that appsettings.development.json might override the log levels).

If you did things correctly, you should see a ton more log messages (with dbug) in them, for example, every time an event or a render happens on the server.

This is my theor

[2022-08-29 18:00] jeffputz commented on #38445
I want to reiterate the desire from #40572 about how there is a production need as well as a development need. Even the nomenclature of "asset" implies that Typescript is not code. If I were to simplify the need it looks like this:
* Typescript gets compiled and _triggers a browser refresh_ when I save a Typescript file in a web project, and it also builds in the output locally or in pipelines or

[2022-08-29 18:09] Pilchie commented on #43622
Can you please provide more detail about your issue?

[2022-08-29 18:09] #43622 closed

[2022-08-29 18:33] twsouthwick commented on #42092
With some of the changes we've done, it makes sense to continue the API review on the single issue #42091

[2022-08-29 18:33] #42092 closed

[2022-08-29 19:05] merriemcgaw commented on #42371
Ping @HaoK, can you check out what the problem might be? This is an RC2 build and it seems to still repro.

[2022-08-29 19:06] #43606 closed

[2022-08-29 19:21] alexanderfedin commented on #17730
Platform.uno made threading supported with their WASM target

[2022-08-29 19:32] dombott commented on #38486
I had the same problem with `The added or subtracted value results in an un-representable DateTime.`.
My `IAccessTokenProvider` returned an `AccessToken` with the `Expiry` set to the date 01.01.0001, which led to the exception above.
Setting the `Expiry` manually to the DateTime stored in the token made it work.
Hope this helps anyone.

[2022-08-29 19:38] danroth27 commented on #17730
Correct. It's based on the .NET WebAssembly multithreading work and has the same limitations.

[2022-08-29 20:08] alexanderfedin commented on #26676
Let's say, the item is transient and the client got it through DI.
That means that there are just two references to that item: one is strong (by client) and the other is weak (by DI container).
After the client is done using the item, it is free to lose the strong reference to that item.
When GC gets invoked, it can dispose of the item if it is referenced only by the weak reference.
If the DI cont

[2022-08-29 20:53] jessegood commented on #43616
@javiercn
I've tried both, using `dotnet new react -o myapp` and the Visual Studio template `ASP.NET CORE with React.js` with the same results.
All the files have the same encoding.

[2022-08-29 21:01] #43378 closed

[2022-08-29 21:23] Tratcher commented on #43624
Auth isn't the only component that requires data protection, it's also used by session, anti-forgery, and other components. Rather than tweaking each of these components to avoid adding the service, how about configuring data protection itself to turn off?

[2022-08-29 22:39] davidfowl commented on #43625
Is your application doing overlapping writes to the response?

[2022-08-29 23:06] tmat opened #51805 "Creating an app named "App" breaks _Imports.razor"
Seems like the generator needs to disambiguate the `App` identifier.

[code]

[code]

[code]

[2022-08-29 23:24] dennisrahmen commented on #31922
@mkArtakMSFT  Is this still planned for .NET 7?

[2022-08-30 00:18] DamianEdwards commented on #43125
@halter73 seems this should this be moved to rc.2?

[2022-08-30 00:18] DamianEdwards commented on #43000
@halter73 seems this one should go in rc.2 as well?

[2022-08-30 00:31] brendonparker commented on #43624
I’m only using JWT bearer. Not using session or anti-forgery. Not sure what the “other components” are.

I’m open to any more specifics on how to go about this.

[2022-08-30 01:40] sdb-dev commented on #43625
We are doing many async sends in SignalR without await (legacy app I took over), so yes. I suppose prior to this, it was running with IIS integration instead of Kestrel, so we never noticed the issue

[2022-08-30 02:39] JamesNK commented on #43614
I've investigated this and `_http3Output.Stop()` shouldn't have an impact on this. It stops the HTTP/3 output from writing HTTP/3, but it doesn't stop the transport.

As far as I can tell, `HttpContext.Abort()` will:
1. Call `QuicStream.Abort(QuicAbortDirection.Read, resolvedErrorCode)`
2. Call `QuicStream.Abort(QuicAbortDirection.Write, resolvedErrorCode)`
3. Call `QuicStream.CompleteWrites()`

T

[2022-08-30 04:20] yaakov-h opened #43631 "Add equivalent of HttpRuntime.AppDomainAppId available at all times when hosted in IIS"
## Summary

When an ASP.NET Core application is hosted in IIS, IIS gives it an application ID, the same way it gives every other application an application ID. This contains the site ID (numeric) and virtual directory path, and is already used in ASP.NET Core.

In .NET Framework / ASP.NET applications, this value is available via `HttpRuntime.AppDomainAppId` which reads it from the current AppDoma

[2022-08-30 04:29] davidfowl commented on #43631
Can you change this to an [API proposal?](https://github.com/dotnet/aspnetcore/issues/new?assignees=&labels=api-suggestion&template=30_api_proposal.md&title=)

[2022-08-30 04:31] davidfowl commented on #43625
I mean are you writing to the same response without awaiting the previous write? If so, its not supported and you just need to await for this to work.

[2022-08-30 04:55] yaakov-h commented on #43631
@davidfowl I'm not sure exactly what the API should look like, specifically for the first example I posted where there's no IServiceProvider yet. Can I start an API proposal without a proposed API shape yet?

[2022-08-30 05:32] HaoK commented on #42371
Well I'm a little confused because this bug is talking about blazor server, not angular which is what the attachment is showing with the command prompt.

I see the fix in the site.css for a build I installed from last week (`7.0.100-rc.2.22417.1 [C:\Program Files\dotnet\sdk])`:
[code]

[2022-08-30 05:33] HaoK commented on #42371
That said there is a blocking bug preventing actually hitting the forgot password page in these builds, so its likely whatever build the testers are using is not actually the correct one, but the fix is now in the css

[2022-08-30 05:34] #43467 closed

[2022-08-30 05:35] gtejeda commented on #43487
Greetings @DanielViberg I have a very similar code to yours, but i still can't get it to work.
would you be so kind as to post your new nginx working code please?

thanks man, would really help me out.
Geo

[2022-08-30 05:45] davidfowl commented on #43631
Looking at this a bit more, how about we make this a hosting configuration variable that is set here https://github.com/dotnet/aspnetcore/blob/318e16b6ac3a9644b266a463c8db47d6a24cad0d/src/Servers/IIS/IIS/src/WebHostBuilderIISExtensions.cs#L30.

We can give it a well known name with a prefix that won't collide with typical configuration keys:
- iis:siteid
- iis:virtualpath

[code]

[2022-08-30 05:47] yaakov-h commented on #43631
haha, I just came to the same conclusion and was literally just writing that up now, though with a slightly different value (I was thinking of a new WebHostDefaults string constant).

I'll open a new Issue and link them.

[2022-08-30 05:47] #43631 closed

[2022-08-30 05:49] davidfowl commented on #43631
Don't want anything IIS specific on there, so it would need to be an IISWebHostDefaults* type.

[2022-08-30 05:59] yaakov-h opened #43632 "Add equivalent of HttpRuntime.AppDomainAppId available at all times when hosted in IIS"
Moved from #43631.

## Background and Motivation

When an ASP.NET Core application is hosted in IIS, IIS gives it an application ID, the same way it gives every other application an application ID. This contains the site ID (numeric) and virtual directory path, and is already used in ASP.NET Core to initialize ANCM and I believe to determine the value of `HttpRequest.PathBase`.

The particular sce

[2022-08-30 06:04] yaakov-h commented on #43632
@davidfowl I've re-filed here.

[2022-08-30 06:24] zanyar3 commented on #43613
@javiercn I am sure problem with render **Blazor**,

Because when I adding condition for `OnInitialized `not happened.

### Request
[code]
### Response
This request has not response data available

[2022-08-30 06:25] singh733 commented on #43460
@halter73  please see the proposal below:

a) We can add the following lines in [MvcCoreServiceCollectionExtensions](https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.Core/src/DependencyInjection/MvcCoreServiceCollectionExtensions.cs)  GetApplicationPartManager method.  Compiler didn't accept  MvcCoreServiceCollectionExtensions in logger so i have written object.
[code]
b) Full method
[co

[2022-08-30 06:36] davidfowl commented on #43460
No we can't build the service provider, but we can maybe set a boolean on the `ApplicationPartManager` so that it can log later when the ILogger is available.

[2022-08-30 06:59] singh733 commented on #43460
@davidfowl  Thank you for your reply. Below is the new proposal. Please share your views.

a) Add the Boolean property

[code]

b) Make it false

[code]

c) Would you please let me know in which file we need to log warning ?

[2022-08-30 07:07] pr-benchmarks[bot] opened #43633 "Perf improvement: single_query"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| single_query [Fixed] | Single Query Platform 3- Trends Database Amd Linux | 08/28/2022 20:45:13 | 431,039 | 481,200 | 11.64 % (50,161)  :thumbsup:  | 2.45 σ | 20,513.36 | <details>    <summary>Changes</

[2022-08-30 08:07] ManickaP commented on #43614
Doesn't it complete the pipewriter: https://source.dot.net/#Microsoft.AspNetCore.Server.Kestrel.Core/Internal/Http3/Http3OutputProducer.cs,288
which in turn completes the Output in `DoSendAsync`: https://source.dot.net/#Microsoft.AspNetCore.Server.Kestrel.Transport.Quic/Internal/QuicStreamContext.cs,536faecd1ca0eee4,references eventually calling `ShutdownWrite`: https://source.dot.net/#Microsoft.A

[2022-08-30 08:27] DanielViberg commented on #43487
When you publish (dotnet publish -c Release) your wasm >app< with a basepath it will land under bin/Release/net6.0/publish/wwwroot/>app<. This wwwroot folder is your nginx root:
`        root /var/www/html/itrera/wwwroot;
        try_files $uri $uri/ /index.html =404;
`
My >app< folder is in wwwroot on my server.
This will load the wasm app, but I've yet to solve opening the app with other directo

[2022-08-30 08:30] avl commented on #43621
Thanks for your feedback.

I've enabled logging, and reproduced the issue. I've had to redact the log files slightly, to be allowed to release them. I don't think this takes away anything from the ability to debug them.

I've tried to determine if we use ArrayPool in our own app. From what I can tell it is only used from within protobuf-net, which we use. A bug there might cause this issue. Howeve

[2022-08-30 08:50] DanielViberg commented on #43487
An update on this. Using alias instead of root seems to work better:
`location /platform
    {
        alias /var/www/html/wwwroot/>app<;
        try_files $uri $uri/ /index.html =404;
    }
`

[2022-08-30 10:10] javiercn commented on #26676
The GC doesn't call dispose on IDisposable elements. DI containers do not operate on the way you describe and they can't.

Finalizers are a last resort measure, no something that should be your first pick when you need to release resources. We are not talking about objects with a finalizer here, we are talking about IDisposable implementations, which require the runtime/app to participate in the r

[2022-08-30 10:15] javiercn commented on #43613
@zanyar3 can you provide a minimal repro project as a public github repository so that we can take a look?

[2022-08-30 10:22] javiercn commented on #43621
@avl if you are up for it, you could capture a memory dump when this happens (I believe it is possible with procdump to break on the exception and capture a dump).

That would allow you to see if something else is holding on to that buffer. It might happen that something is holding on to the buffer elsewhere, but returning it to the shared pool, then Blazor receives it and uses it, and the other c

[2022-08-30 10:28] javiercn commented on #43621
@avl another way to investigate this will be to look at the trace log from the app after enabling the ArrayPoolEventSource (you can capture a trace with dotnet trace)

[code]

I think that `--providers 0866B2B8-5CEF-5DB9-2612-0C0FFD814A44` or `--providers System.Buffers.ArrayPoolEventSource` will do the trick.

[2022-08-30 10:32] javiercn commented on #43621
https://docs.microsoft.com/en-us/dotnet/core/diagnostics/well-known-event-providers#systembuffersarraypooleventsource-provider

[2022-08-30 10:38] JamesNK commented on #43614
That's a different pipe. They're all over the place in Kestrel.

The pipe stopped by `Http3OutputProducer.Stop()` is read here in [`Http3OutputProducer.ProcessDataWrites()`](https://github.com/dotnet/aspnetcore/blob/3ea008c80d5cc63de7f90ddfd6823b7b006251ff/src/Servers/Kestrel/Core/src/Internal/Http3/Http3OutputProducer.cs#L405)

[2022-08-30 10:40] cirrusone commented on #42284
@danroth27 Can you also consider what happens if user device/browser does not support WebAssembly. Currently the User-Agent header appears to be the only way to detect device details which is pretty 'wild'. It would be nice to have some property such as `.IsWebAssemblySupported()` which could test if WebAssembly will actually run on device but without freezing or crashing the application. This wou

[2022-08-30 10:44] paviad opened #43634 "Log instead of just crashing when `PostLogoutRedirectUris` in client definition is empty"
https://github.com/dotnet/aspnetcore/blob/6f4860eaa8f5281eb4fbabbe830f0c28254d3087/src/Identity/ApiAuthorization.IdentityServer/src/Extensions/DefaultClientRequestParametersProvider.cs#L49-L57

When the client definition has no post logout redirect uris defined, line 54 simply throws without any indication in the log of what the issue was.

It would be beneficial to developers if a log message wou

[2022-08-30 10:59] Valdeminas commented on #43339
@davidfowl Not yet. We only see it in production and only sometimes. Therefore it does seem like it is some sort of a concurrency issue. The trouble is finding out, which part of the code is causing it.

Any ideas or tips for further investigation from the code provided above?

[2022-08-30 11:23] oatsoda commented on #39412
@javiercn Is there an example anywhere as to what we can configure?

[2022-08-30 12:05] javiercn commented on #39412
@oatsoda not yet, it was added in RC1 which has not been released yet.

[2022-08-30 12:09] vlada-shubina commented on #43636
Transferred to dotnet/aspnetcore as the templates are managed in this repo.
Encoding of original file in template definition is preserved.

[2022-08-30 12:13] javiercn commented on #43636
Thanks for confirming @vlada-shubina.

@MackinnonBuck can you take a look to make sure that the files are Utf-8 encoded?

@jessegood It might be something on your development environment that is causing this.

[2022-08-30 12:21] zanyar3 commented on #43613
Sorry can't shared my repo because include our business  logic and pattern, but I can explain you by below codes.

### Index.cshtml

`@(await Html.RenderComponentAsync<Components.MyComponent>(RenderMode.ServerPrerendered))`

### MyComponent.razor

[code]

I hope I was able to explain it to you in a good way

Regards

[2022-08-30 12:25] javiercn commented on #43613
@zanyar3 we are not asking you to share your project, but to create a new from the template and put code in that project that reproduces your issues.

Unfortunately, we do not have enough information to make progress here. With the data that we currently have, we believe it is unlikely that this is a framework problem, so unless we get more information, we won't be able to help here.

[2022-08-30 13:22] jessegood commented on #43636
@javiercn
I think I figured out the issue, basically the issue is with Visual Studio. It defaults to the local code page when there is no BOM, and since a valid UTF-8 (no BOM) in English is also a valid shift-JIS file... So when I updated the file to Japanese in Visual Studio it saved it as shift-JIS.
I confirmed using Visual Studio Code there is no issue because it already defaults to UTF-8 (no B

[2022-08-30 13:26] javiercn commented on #43636
@jessegood feel free to file an issue through the report a problem dialog inside Visual Studio as described [here](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2022) maybe they will consider adding a setting for this behavior or there might already be a setting for it.

[2022-08-30 14:24] hri123phapale commented on #38842
I think I do have same issue with .Net6 when migrated from .Net5.

Below mention code was perfectly working with .Net5 but recently we have migrated to .Net6 and file uploading stop working with the files having size more that 400-500 KB.
Its working fine with small size files.
If we uncomment the commented lines(2 lines) from below code , its start working again.

protected async Task OnChangeHan

[2022-08-30 15:51] mmitche opened #43637 "Unified Build control update"
### Description

**This issue is dependent on https://github.com/dotnet/source-build/issues/2974 and is a placeholder for .NET 8 required work in product repositories.**

Instructions for implementation will be updated once https://github.com/dotnet/source-build/issues/2974 but will likely be a mechanical shift of properties in this repo. In a general sense, this is scaffolding work for expanding

[2022-08-30 15:51] mmitche commented on #43637
This is .NET 8 work

[2022-08-30 16:15] BrennanConroy commented on #43617
Ah, the issue is that your application needs to define USE_CPPRESTSDK, that requirement will go away in the future.

[2022-08-30 16:48] TanayParikh commented on #43593
This should land on the next SDK release. You can try the nightlies available at https://github.com/dotnet/installer, the patch should be available soon if it isn't already in the nightly.

[2022-08-30 17:08] TanayParikh commented on #38842
@hri123phapale please see https://github.com/dotnet/aspnetcore/issues/38842#issuecomment-1151415351 above. I believe this is likely the same thing happening here.

[2022-08-30 17:19] blowdart commented on #43577
Yes. That's by design. The "Don't prompt again" cookie is for the machine, not the user.

[2022-08-30 17:35] captainsafia commented on #43493
Yep, the metadata pattern is what motivated us to pursue the more OpenAPI-based approach in the first place. As we examined some of the feedback on features that were missing in ApiExplorer, we realized a lot of them were addressed by more complete OpenApi support. Essentially, switching from a model where an adhoc-ish collection of metadata that we maintain is the contract, to more formally using

[2022-08-30 17:43] MackinnonBuck commented on #43094
These warnings are caused by `react-scripts`, and there are a few open issues/PRs in [create-react-app](https://github.com/facebook/create-react-app) regarding them. So, this should get "automatically" resolved in a dependency update in the future.

[2022-08-30 18:04] brunolins16 commented on #27221
Since I am interested in it, I did a very quick look at the MVCJson scenario profile, and I found interesting that the usage of the `RequestAborted` in the STJOutputFormatter seems to have a performance impact (not sure why yet)

![image](https://user-images.githubusercontent.com/12376385/187510503-0787f35c-6d32-4022-809f-4578335b77b1.png)

[2022-08-30 18:32] Ogglas commented on #43562
@blowdart If a user chooses to disable two-factor authentication I think there should be an alternative to also delete Two-factor authentication keys.

Current functionality:

![image](https://user-images.githubusercontent.com/4015237/187513898-363133ca-6264-4d37-9561-5d1c30ca9538.png)

Proposed extra button if a user has keys but not 2FA enabled:

![image](https://user-images.githubusercontent.co

[2022-08-30 18:33] BrennanConroy commented on #43625
SignalR can't have overlapped writes. We synchronize the writes ourselves.

The ODE part could probably still happen if application code isn't awaiting the sends and the connection closes. Unless Kestrel handles that gracefully.

[2022-08-30 18:48] halter73 commented on #43501
I don't see this as critical for .NET 7 considering that it is quite easy to work around this issue by accepting all HTTP methods and checking `HttpContext.Request.Method` in the action. But if we do this, I think we also need to make sure we've finished the last checkbox on https://github.com/dotnet/aspnetcore/issues/42101#issuecomment-1161982675. Thankfully, it looks like that's also slated for

[2022-08-30 18:51] tmat opened #43640 "dotnet watch tests fail when run locally"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

dotnet watch tests fail when run locally from command line or VS Test Explorer

### Expected Behavior

Tests pass.

### Steps To Reproduce

[code]

### Exceptions (if any)

_No response_

### .NET Version

7.0.100-preview.7.22377.5

### Anything else?

_No response_

[2022-08-30 19:00] commonsensesoftware commented on #43493
I _understand_ the motivation, but I'll have to agree to disagree. The foundation of all OpenAPI support in ASP.NET Core, even with _Minimal APIs_, still relies on API Explorer and I don't see that changing anytime soon. For things that are _truly_ OpenAPI-specific, I think the extension paths that have been added make complete sense. There are several other areas, however, that will feel are disj

[2022-08-30 19:17] DamianEdwards commented on #40186
@msschl you're right in that there is no support for view location expanders (and thus localized versions of Razor Pages .cshtml files) in Razor Pages today. This is due to the fact that Razor Pages registers a route for every .cshtml file with a `@page` directive based on the file name or value passed to the `@page` directive and having multiple pages on the same route pattern is not supported.

[2022-08-30 20:04] DamianEdwards commented on #34544
Worth noting that we added `TypedResults` and union results via `Results<TResult1, TResultN, ...>` in .NET 7 to enable automatic setting of OpenAPI related metadata for response codes/bodies which at least partially addresses this issue (albeit with a required app code change).

[2022-08-30 20:13] rubenprins commented on #43632
We've run into similar problems (IIS site name in our case), and the way we managed to work around this limitation, was to introduce a well-known environment variable via system.webServer/aspNetCore/environmentVariables in applicationHost.config for each site manually.

Getting the application virtual path during startup can currently be done by reading the ASPNETCORE_APPL_PATH environment variabl

[2022-08-30 20:26] MackinnonBuck commented on #42182
I was able to reproduce this, but fixed it by using the following package versions:

Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation: 6.0.8
Microsoft.CodeAnalysis.Common: 4.2.0
Microsoft.CodeAnalysis.CSharp: 4.2.0

@dwgray it seems the issue may have been caused by the package version mismatch between Microsoft.CodeAnalysis.Common and Microsoft.CodeAnalysis.CSharp. Could you try the package vers

[2022-08-30 20:36] blowdart commented on #43562
Fair enough. We'll think about it for 8.

(But there are a lot of edge case scenarios where usermanager doesn't do it)

[2022-08-30 20:42] jaredpar commented on #42182
This error can only realistically happen when `Microsoft.CodeAnalysis` and `Microsoft.CodeAnalysis.CSharp` are loaded with different versions. This is an `internal abstract` contract between the two assemblies and they are required to be loaded with the same version. Most likely cause is someone is pinning a version in the NuGet restore which leads to this assembly mismatch.

[2022-08-30 21:00] careless6666 commented on #42407
I think it looks good, but my opinion does not matter much, what matters is what says @JamesNK , who wrote almost all of this part related to the grps

[2022-08-30 21:39] BrennanConroy commented on #43392
Fixed in 7.0, will be backported to 6.0, likely released in October.

[2022-08-30 21:39] #43392 closed

[2022-08-30 21:48] DamianEdwards opened #43642 "Add support for metadata-only endpoints to support path-based authorization, output caching, etc."
Related #43352

There are scenarios where it is desirable to affect the behavior of endpoint-aware middleware that runs in a request pipeline that will be handled by a non-endpoint-aware middleware (rather than an actual endpoint) such that the endpoint-aware middleware performs its operations as if the request-handling middleware were actually an endpoint.

For example, the static files middlewar

[2022-08-30 22:29] rynowak commented on #43642
I worry about examples like these, and user not understand the blast radius of making a change:

[code]

If my mental model is correct this does define an endpoint, and that endpoint would be a candidate for path matching along with all the other endpoints, including the ability to cause ambiguities (HTTP 500).

Basically these features will only work the way you when they don't overlap with other

[2022-08-30 22:37] Korporal commented on #43579
@Tratcher - I haven't had the time to explore this yet, but wanted to ask, is my interpretation of the documentation reasonable? Would you regard my expectation as reasonable? (browser issues aside).

[2022-08-30 22:40] Tratcher commented on #43579
Honestly I don't know the browser handling details well. CookieOptions is a very simple component, it puts the value you give it into the Set-Cookie header. Understanding which value to give it is a different matter.

[2022-08-30 22:50] captainsafia commented on #43608
`GetFromJsonAsync` is designed to be a very thing layer connecting JSON deserialization and the HTTP response. If you want to add status code checking, you can implement your own extension method for this.

The source of the behavior that you are seeing is a result of the `HttpNoContentOutputFormatter` ([ref](https://github.com/dotnet/aspnetcore/blob/bcf7319eb38de9aa360af163400cc6821762a3f2/src/Mv

[2022-08-30 23:01] Tratcher commented on #40745
We do have some of this already:
https://github.com/dotnet/aspnetcore/blob/bcf7319eb38de9aa360af163400cc6821762a3f2/src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs#L530-L534
https://github.com/dotnet/aspnetcore/blob/bcf7319eb38de9aa360af163400cc6821762a3f2/src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs#L549-L551
Note _showErrorDetails is set based on the log level.
https://githu

[2022-08-30 23:36] DamianEdwards commented on #43642
@rynowak the ambiguities are resolved via a [custom `IEndpointSelectorPolicy`](https://github.com/DamianEdwards/AspNetCorePathAuthorization/blob/main/src/AspNetCore.Authorization.PathBased/EndpointMetadataDecoratorMatcherPolicy.cs) to avoid the issues you refer to. In other words, metadata-only endpoints will never be selected as matches during routing. Ideally this would happen during the buildin

[2022-08-31 00:25] halter73 commented on #25109
[Remove_Is_Case_Insensitive](https://github.com/dotnet/aspnetcore/blob/a450cb69b5e4549f5515cdb057a68771f56cefd7/src/Tools/dotnet-user-secrets/test/SecretManagerTests.cs#L196-L197) is still skipped because of this issue. I'm not sure if it should be unskipped. @BrennanConroy

[2022-08-31 03:38] dwgray commented on #42182
Thanks @jaredpar and @MackinnonBuck - This was (partially) a user error on my part.  I was for no apparent reason explicitly including Microsoft.CodeAnalysis.Common: 4.2.0 (which even includes a warning not to ever explicitly include it message, as it was being pulled in via dependencies).  Explicitly including Microsoft.CodeAnalysis.CSharp: 4.2.0 fixed the problem  But more cleanly, just removing

[2022-08-31 03:46] davidfowl commented on #43193
This is what we want to solve, this exact problem https://stackoverflow.com/questions/65926215/kestrel-fails-tls-handshake-after-attempt-to-download-intermediate-certificate-f

@bartonjs Can you help with the exact code we need to load the full chain from a pfx file?

[2022-08-31 04:06] TanvirArjel commented on #43608
@captainsafia The solution you provided is totally out of the context and does not in no way related to what I am wanting. I want to return 204 when the return value is null.

I am very much aware of the code snippet you shared here.

Yes! Status 204 is part of HttpResponse which is a success status code. So `GetFromJsonAsync` should handle the every success status state properly.

Note: Please do

[2022-08-31 04:13] TanvirArjel commented on #43608
Actually, problem lies in the following line:

https://github.com/dotnet/runtime/blob/main/src/libraries/System.Net.Http.Json/src/System/Net/Http/Json/HttpClientJsonExtensions.Get.cs#L187

[code]

It should have as follows:
[code]

[2022-08-31 04:33] Alby-o opened #43650 "Add support for custom handling of Android back button in Blazor Hybrid apps"
## Background and Motivation

Currently the Android back button will navigate Blazor app back to the previous page, however, this is not always desirable. In some cases I'd like to manually handle the android back button, such as for:

1. Closing a modal or popup window, or
2. Preventing the user from navigating back after authenticating, and instead closing the app.

There is the `Page.OnBackButt

[2022-08-31 04:37] #43650 closed

[2022-08-31 05:50] yaakov-h opened #43651 "ANCM native module hanging in early initialisation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We've recently converted one of our web applications to ASP.NET Core on .NET 6 (from ASP.NET MVC/WebAPI on .NET Framework 4.8) and the new version is slowly rolling out to our customer base. This is hosted in IIS. We've had this running in production for several weeks now with no problems...

[2022-08-31 06:55] davidfowl commented on #30387
Moving this into .NET 8 planning. We can make some small changes here to make this work a bit better than it does today in k8s (it can even be opt in).

[2022-08-31 07:04] davidfowl commented on #30387
Graceful shutdown here is a bit of a misnomer because we shutdown gracefully today already. This is about dealing with the lack of coordination between signaling that the pod should be shutdown and spinning up a new pod. In a different reality, the new pod would be spun up before sending SIGTERM but it happens in parallel leading to this mess 😄

[2022-08-31 07:27] Liero commented on #38842
@hri123phapale: Also make sure, websockets are enabled, see

[2022-08-31 07:36] hri123phapale commented on #38842
@Liero Yes, it connected
![image](https://user-images.githubusercontent.com/98818733/187620277-8a19de92-628f-4b7a-9e9f-3a755282d4ca.png)

[2022-08-31 08:32] omid-ahmadpour opened #43653 "User.Identity.IsAuthenticated.IsAuthenticated returns true when action method is decorated with [AllowAnonymous] attribute"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In .Net core web api, action method which decorated with [AllowAnonymous] attribute, when you pass the jwt token to these api, the property User.Identity.IsAuthenticated.IsAuthenticated, returns true, since it is a free authentication action method, but when call action method without jwt tok

[2022-08-31 08:37] Liero commented on #38842
hey, I see that you open the stream without reading it:

[code]
and pass it to evencallback:

[code]

[2022-08-31 08:46] hri123phapale commented on #38842
@Liero , Same code was perfectly working in .NET5. We have migrated to .NET6. But same code is not working with .NET6.

[2022-08-31 08:50] sskieller opened #43654 "Add auxiliary routes to Router"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I have a situation where I would really like to be able to open a dialog without having to go to a specific page.

So for example,
if I opened the link /calendar/view(jobedit:{id}) it would open the modal for the createJob even though

[2022-08-31 09:44] dobrinsky opened #43656 "Machine to machine communication does not work as a client in appsettings.json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We have a SPA application with Angular that we have been developing since dotnet core 2.1.

We recently migrated the code to the new asp.net core 6 template with Angular in order to use the new IdentityServer (Duende).

In the version before the migration we had in the solution a windows serv

[2022-08-31 09:55] Liero commented on #38842
I'm not saying otherwise. I'm saying you should follow the guidelines.

[2022-08-31 10:06] javiercn commented on #43656
@dobrinsky thanks for contacting us.

Unfortunately, this problem seems to be specific to your concrete scenario. The scenario that you describe is not something in the scope of what our integration package supports. I would recommend you use Identity Server directly in this case to achieve this instead of relying on our integration package.

[2022-08-31 10:07] Liero commented on #38842
@TanayParikh:
maybe it would be worth updating the [blazor upload guideline](https://docs.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-6.0&pivots=server) with https://github.com/dotnet/aspnetcore/issues/38842#issuecomment-1151415351 - the warning about ReadBytes() and  about websockets.

BTW, using Long polling, there is probably no way to upload larger file, it is?

[2022-08-31 10:08] javiercn commented on #43654
Duplicate of https://github.com/dotnet/aspnetcore/issues/11212

[2022-08-31 10:08] #43654 closed

[2022-08-31 10:10] javiercn commented on #43653
That's not how it works. AllowAnonymous means let the user go in whether it has credentials or not. Authenticating the user is different than authorizing the user, and the principal reflects that. You might want to display information specific to the user even if you allow guest users to get in.

[2022-08-31 10:26] omid-ahmadpour commented on #43653
I'm talking about authentication, not authorization. when we decorate an action method, it means that doesn't need any authentication, but the User.Identity.context.User.Identity.IsAuthenticated return true is some cases (if we pass jwt token to apis that work with any authentication), my idea is, this property ( User.Identity.IsAuthenticated.IsAuthenticated  ) should return false in any cases whe

[2022-08-31 10:30] javiercn commented on #43653
That's not the case. `AllowAnonymous` means let this user in even if it is not authenticated, it does not mean "do not authenticate this user".

[2022-08-31 10:41] dobrinsky commented on #43656
I gave a lot of information just to be sure that the scenario is understood.

I just need to understand if the documentation supports API integration (https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.apiauthorization.identityserver.applicationprofiles?view=aspnetcore-6.0), how can that be achieved with aspnetcore package integration?

As I understand, it cannot be done with the cur

[2022-08-31 11:29] javiercn commented on #43656
@dobrinsky this won't work.

Within `AddApiAuthorization` you have access to the clients that we read from config. The profile determines the security constraints and we only support a few configuration properties like the scopes, but we do not have support for client secrets or anything like that. The scenarios involving client secrets are outside of the scope of our integration package. With eno

[2022-08-31 11:47] dobrinsky commented on #43656
@javiercn,

Thank you very much for your response. I truly understand your point of view. I did asked on Stackoverflow, I came here as the las resort measure, not the first:

https://stackoverflow.com/questions/73501729/how-to-add-duende-clients-for-m2m-communication-with-default-asp-net-core-with-a

I will update the question there with what I have learned from you and the Duende GitHub:

https:/

[2022-08-31 12:53] omid-ahmadpour commented on #43653
Ok, could you tell me what is the meaning of User.Identity.context.User.Identity.IsAuthenticated? What does it show?

[2022-08-31 12:56] javiercn commented on #43653
@omid-ahmadpour it shows if the user is authenticated according to the authentication scheme for the endpoint, which in your case is JWT (since the request contains a token)

[2022-08-31 14:09] igotinfected commented on #26284
For anyone else with a similar issue retrieving error messages, I was having a hard time grabbing the error message to pass it to a child component.

Happened across a repo that had a good looking workaround, and adapted it a little:

[code]

Just use `_reason` within the `RenderFragment` or pass it to a child component:

[code]

[2022-08-31 14:14] Jeanot-Zubler opened #43659 "Default Templates with scoped css are not actually applied"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When generating a new ASP.NET Core Web App, the styles defined in `Pages/Shared/_Layout.cshtml.css` are for the most part not actually applied to the corresponding elements, because the default Layout uses Taghelpers for the navigation links.

For example, the following styles are not applied

[2022-08-31 14:40] tdjastrzebski commented on #43095
@brunolins16 Thank you but **the entire payload** (must be posted as json document, no extra query params. It is a hard requirement. If non-standard hybrid (body/query) payload is required for this solution to work with complex object, I think someone should revisit the current concept/architecture/implementation since using it already seems more complicated that simply accepting JsonElement as a

[2022-08-31 14:59] javiercn commented on #43659
@Jeanot-Zubler thanks for contacting us.

Dupe of https://github.com/dotnet/aspnetcore/issues/30213 this is currently by design, as scoped CSS applies to HTML in the file, not to the tag helpers or components.

[2022-08-31 14:59] #43659 closed

[2022-08-31 15:39] BrennanConroy commented on #25109
I think they should be unskipped, they were 100% failing before I believe, so if they pass when unskipped then we should be good.

[2022-08-31 15:55] Tratcher commented on #43653
This likely happens because you have enabled JWT as your default auth scheme for all requests. It reads the JWT and sets the user before it looks at the endpoint to decide if authorization is needed.

[2022-08-31 16:13] captainsafia commented on #41195
@srpeirce The WebApplicationFactory has different rules of precedence the content root to use when testing. The precedence in .NET 5 was as follows:

- Evaluate the `ASPNETCORE_TEST_CONTENTROOT_APPNAME` environment variable
- Evaluate the content root embedded in the assembly metadata of the app under test
- Sets the content root relative to the solution file it finds in the execution directory (w

[2022-08-31 16:32] bartonjs commented on #43193
Loading a PFX as a collection is easy:

[code]

(instead of `new X509Certificate2(pfx, pwd, flags)`).

But that's just an arbitrary collection.  The cert that the single-cert constructor would pick is either the first or last one that has cert.HasPrivateKey:true (there's a stack/reversal somewhere, so I don't remember off the top of my head if it's first or last in the collection ordering).  If th

[2022-08-31 16:34] mk185147 opened #43661 "Certificate authentication fails validation when intermediate certificate isn't in store against TLS specification"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When you configure Kestler to use certificate authentication and a client sends certificate including an intermediate certificate to a server then server will fail the chain validation if it has the root CA in certificate store but doesn't have the intermediate certificate in the certificate

[2022-08-31 16:49] jez9999 opened #43662 "SPA proxying breaks with double-slash at beginning of path"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When running an ASP.NET SPA site which uses `.UseProxyToSpaDevelopmentServer()`, the following kind of URL breaks the proxying:

[code]

This is because internally, `SpaProxy` is constructing a `Uri` like this:

[code]

If the second argument begins `//`, `Uri` treats it as an absolute path a

[2022-08-31 16:51] danroth27 commented on #17281
@SteveSandersonMS Do we still need this now that we have get/set/after?

[2022-08-31 16:52] brunolins16 commented on #43095
@tdjastrzebski The problem is your custom binder gets the `Kind` to decided which model should be used. If this value is coming from the JSON payload you will need to read the entire payload before serializing, that does not seem to be a good option.

I am not sure if it is an option for you, but .NET 7 introduces [System.Text.Json Polymorphism](https://devblogs.microsoft.com/dotnet/announcing-dot

[2022-08-31 16:53] javiercn commented on #17281
@SteveSandersonMS I believe this is handled, if not, feel free to reopen

[2022-08-31 16:53] #17281 closed

[2022-08-31 17:08] brunolins16 commented on #43095
Short answer: YES.
Long answer: The `ModelBinderAttribute` is evaluated by `BinderTypeModelBinderProvider` that will create an instead of `BinderTypeModelBinder` that will call the `binder` provided. This provider is the first one registered by default, however, usually when registering a custom `IModelBinderProvider` we insert it at the index `0`, in order to have it executed first avoiding any b

[2022-08-31 17:14] brunolins16 commented on #43095
Another option is a custom JSON Converter as described here: [Support polymorphic deserialization](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to?pivots=dotnet-6-0#support-polymorphic-deserialization)

[2022-08-31 17:15] danroth27 commented on #18449
@SteveSandersonMS @javiercn Is this something we think we can still address for .NET 7? Or is the risk too high at this point?

[2022-08-31 17:32] MackinnonBuck commented on #40149
Closing, since this was handled in https://github.com/dotnet/aspnetcore/issues/42877

[2022-08-31 17:32] #40149 closed

[2022-08-31 18:53] rido-min opened #44362 "dotnet dev-certs https --export-path fails with UnauthorizedAccessException"
### Describe the bug

`dotnet dev-certs https --export-path . --password 1234 -v`

fails with
[code]

I tried in Windows and WSL with similar results

[code]

[2022-08-31 19:01] #43625 closed

[2022-08-31 19:08] #43633 closed

[2022-08-31 19:14] #40239 closed

[2022-08-31 19:15] #40434 closed

[2022-08-31 19:15] #41292 closed

[2022-08-31 19:18] #41437 closed

[2022-08-31 19:18] #41902 closed

[2022-08-31 19:19] #41903 closed

[2022-08-31 19:19] #42912 closed

[2022-08-31 19:19] #42984 closed

[2022-08-31 19:23] sebastienros commented on #43005
Maybe https://github.com/dotnet/runtime/pull/73092

[2022-08-31 19:23] #43005 closed

[2022-08-31 19:23] #43197 closed

[2022-08-31 19:25] #43266 closed

[2022-08-31 19:27] sebastienros commented on #43609
https://github.com/dotnet/aspnetcore/pull/43449

[2022-08-31 19:27] #43609 closed

[2022-08-31 19:28] #43600 closed

[2022-08-31 19:32] #43592 closed

[2022-08-31 20:00] Tratcher opened #43664 "Kestrel doesn't reject some invalid Transfer-Encoding headers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

[Offline report]

`chunked` is supposed to be the last value in the Transfer-Encoding header and servers are supposed to reject requests that have another value at the end.

https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.3

   3.  If a Transfer-Encoding header field is present and

[2022-08-31 20:00] davidfowl commented on #43661
Not follow it the TLS specification? I think it’s fair to say you’d prefer it if there was an easier way to get the full cert chain without writing code but this doesn’t have anything to do with “the specification” AFAIK (happy yo be proven wrong).

Downloading the chain per request is a performance concern (and security concern) that’s why we don’t want to do it by default.

[2022-08-31 21:20] MackinnonBuck commented on #42182
Thanks @dwgray, glad your issue has been resolved. Closing this out.

[2022-08-31 21:20] #42182 closed

[2022-08-31 21:31] captainsafia commented on #34544
Ah, good point! I had captured the metadata provider strategy above but not this one.

And this thread has made me realize that we have quite a few different ways to annotate responses. I've captured an item to make sure we document these in https://github.com/dotnet/aspnetcore/issues/43145.

[2022-08-31 21:35] captainsafia commented on #43501
During triage, we had discussed that we would need to document this at a minimum. And if we're going to document the issue and provide a workaround, we might as well make the workaround something a little more bullet-proof/accessible.

It's fair to say this isn't critical but I wanted to provide some context into why this was the case.

How is that item related to this?

[2022-08-31 21:39] BrennanConroy commented on #43501
Documentation is already occurring in https://github.com/dotnet/AspNetCore.Docs/pull/26768. We also need to make a breaking change announcement regardless of the outcome of this issue.

I don't think it changes anything. Maybe just the priority for that item is higher in Stephen's mind?

[2022-08-31 21:40] #43094 closed

[2022-08-31 22:01] #39250 closed

[2022-08-31 22:04] TonyHenrique opened #43668 "Is it possible to use PKCE - Proof Key for Code Exchange on Azure AD App Registration + Blazor Server ? How to do it?"
I configured my Azure App registration and configured Web Redirect URI for Blazor Server App published on Azure and it runs as expected.

But I would like to use Proof Key for Code Exchange on this App, then I put the Redirect URI under Single-page application, but then this error appears:

`AADSTS9002325: Proof Key for Code Exchange is required for cross-origin authorization code redemption.`

Is

[2022-08-31 22:16] Tratcher commented on #43501
That item is also H2 WebSocket related, but not directly connected to this ask. He just wants to make sure we tie up loose ends before making the feature broadly available.

[2022-08-31 23:23] BrennanConroy commented on #43664
I think you meant likely regressed by https://github.com/dotnet/aspnetcore/pull/21202/files

[2022-08-31 23:38] TanayParikh commented on #42336
Hey @shujamughal, thanks for reaching out and providing the repro. I took a look, and as the error message suggests:

(emphasis added).

I removed the unused references from the lazy loading:

[code]

[here](https://github.com/shujamughal/Sukhdari/blob/a5c8c50d55b50dd503a2e7ea1b59273d53cdbf15/Sukhdari_Client/Sukhdari_Client.csproj#L25-L39)

and things are now building as expected.

Also note, you

[2022-08-31 23:39] #42336 closed

[2022-08-31 23:40] HaoK commented on #43193
So just to make sure I understand, we think the code is fine as is, I just need to add a test that loads the PFX into ServerCertificateChain using the above:

[code]

[2022-09-01 00:01] #43401 closed

[2022-09-01 00:43] yanghuawen opened #43673 "ASP.NET Core v6.0.8 source build sucessed and installed ,but enter f11 can't view source code"
1, installed " aspnetcore-runtime-6.0.8-dev-win-x64.msi "   package

**2, already add nuget.config  to the project**

`<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		`<clear` />
		<add key="MyBuildOfAspNetCore" value="E:\core3\AspNetCore\artifacts\packages\Debug\Shipping\" />
		<add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
`</con

[2022-09-01 00:46] HaoK commented on #43193
Note, it looks like the test already is testing this format where clientCertificate which has the privateKey is not part of the clientChain.  So should I add a test in the other direction where clientChain is included in the clientChain as well and verify thing s?

[code]

[2022-09-01 01:01] #43495 closed

[2022-09-01 01:25] halter73 opened #43675 "RequestDelegateFactory should infer IProducesResponseTypeMetadata"
### Is your feature request related to a problem? Please describe the problem.

RequestDelegateFactory already infers [IAcceptsMetadata](https://github.com/dotnet/aspnetcore/blob/8f0d440d4251ae479966b65c7b331841adb70aa6/src/Http/Http.Extensions/src/RequestDelegateFactory.cs#L1725) when it's reading JSON request bodies or multipart form data, so it's peculiar that it does not infer [IProducesRespon

[2022-09-01 01:53] garrettlondon1 commented on #42877
Is there a roadmap or plan for this feature? Forgive me if I'm new to the process. Thanks

[2022-09-01 01:58] anurse opened #43682 "On upgrade to .NET 7, Data Protection throws "Payload was invalid" error when unprotecting values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We use Data Protection to encrypt sensitive values in long-term storage. While testing .NET 7.0, we found that our app was unable to decrypt payloads encrypted by .NET 6.0, even when the same keys were available and the same purpose was used. This means that upgrading to .NET 7 causes users t

[2022-09-01 02:12] davidfowl commented on #43193
@HaoK it seems like we need to always import the collection when we get a pfx. We don’t do this today do we?

[2022-09-01 06:35] Jeanot-Zubler commented on #43659
I know that this is by design. But then please change the templates, so that they don't contain css, that by design can never be applied.

[2022-09-01 07:07] pr-benchmarks[bot] opened #43684 "Perf improvement: fortunes_ef"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes_ef [Fixed] | Fortunes EF 3- Trends Database Amd Linux | 08/29/2022 20:56:41 | 340,261 | 346,666 | 1.88 % (6,405)  :thumbsup:  | 1.13 σ | 5,673.50 | <details>    <summary>Changes</summary>     <

[2022-09-01 07:07] pr-benchmarks[bot] opened #43685 "Perf regression: https, json"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| https  | Json Https 1- Trends Intel Windows | 08/27/2022 08:37:33 | 644,916 | 639,060 | -0.91 % (-5,856)  :thumbsdown:  | -2.01 σ | 2,914.31 | <details>    <summary>Changes</summary>     <table><th>Name

[2022-09-01 07:10] ChrisHawkridge commented on #43617
Thanks, all looks good now.

[2022-09-01 07:10] #43617 closed

[2022-09-01 07:15] avl commented on #43621
Thanks for your suggestions! Sorry for the delay, was away on an internal meeting all day yesterday.

By tracing ArrayPoolEventSource I've found something!

Look at this:

<HTML>
<TABLE><TR><TD>Event Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nb

[2022-09-01 08:01] dannyhaak commented on #43392
Awesome. Thanks a lot for the support and quick turn-around. Much better than I could hope for; continue the great work on dotnet!

[2022-09-01 08:01] #42488 closed

[2022-09-01 08:22] avl commented on #43621
Ok, we have found the problem.

Aspnetcore is not to blame! :-)

It turns out that one of our dependencies, ZstdSharp, had a bug where disposing a stream twice caused it to insert the same byte-array multiple times into ArrayPool<byte>.Shared . The reason why it only happened on two computers, is because they were the only ones actually using the feature which depends on ZstdSharp. But no one real

[2022-09-01 08:22] #43621 closed

[2022-09-01 08:42] sandrolivajaenv opened #43686 "System.IO Binary Reader ReadChars method behaves differently on net6"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If I run this code on net 3.1 I reader.ReadChars(2) will return a empty char array which will then become an emptry string and that is the expected behavior in our project.

But if I run it on .net6 I will get an exception: 'System.ArgumentOutOfRangeException': ' Specified argument was out of

[2022-09-01 09:00] KurtP20 opened #43687 "Concurrency issue with UserManager"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi, I ran into a concurrency issue with `UserManager` in a Blazor server side app, and after some discussions with Luke at [#26874](https://github.com/dotnet/AspNetCore.Docs/pull/26874#issuecomment-1233040627), he recommended to raise this issue here. As described in detail [here](https://sta

[2022-09-01 09:32] SteveSandersonMS commented on #42877
@garrettlondon1 Yes, this feature will ship in .NET 7.

[2022-09-01 09:48] tdjastrzebski commented on #43095
That's right, but only if top performance, rather than code readability/maintainability is your priority.
Thanks, for now I use `JsonElement` param and will look into `[JsonDerivedType]` when .Net 7 is GA.

[2022-09-01 09:48] #43095 closed

[2022-09-01 09:49] javiercn commented on #43621
@avl great to hear that you were able to find the root cause and address the problem. It is valuable for us too that this is something we need to be on the lookout for when we encounter these reports

[2022-09-01 09:53] SteveSandersonMS commented on #18449
@danroth27 Let's discuss it with the team. I don't think the risk is particularly high though if we implemented a fix we'd have a more precise sense of how disruptive the change is.

[2022-09-01 10:06] javiercn commented on #43662
@jez9999 thanks for contacting us.

.NET 5.0 is out of support, as per our support policy we will recommend that as a first step you update to .NET 6.0. We have changed the approach we use for SPAs in .NET 6.0 to use the SPA proxy in front of the ASP.NET backend as that's the canonical approach SPA frontends recommend.

[2022-09-01 10:13] javiercn commented on #43687
It is not trivial to state this. It is very context dependent, hence why we tell you not to use it, because while you **can** inject it, it is not going to work well in that context.

The problem here is that you initiate multiple queries on the underlying db context, which is not supported. Unlike in ASP.NET Core, in Blazor components can render at the same time, meaning not that they literally a

[2022-09-01 10:14] javiercn commented on #43687
I'll let the folks on identity comment on whether they would be willing to change to `DbContextFactory` but I believe it will be a breaking change

[2022-09-01 10:15] javiercn commented on #43687
If you want a solution that works better with Blazor, you can try to create your own DI scope and resolve the UserManager from that scope. It might make it work for your use case

[2022-09-01 10:19] jez9999 commented on #43662
@javiercn Is having the ASP.NET app in front of the SPA app now a completely unsupported use-case?  That's really quite annoying if so.

[2022-09-01 10:20] javiercn commented on #43668
@TonyHenrique thanks for contacting us.

You should configure Blazor Server as a Web Application registration, not a SPA, as Blazor Server apps typically use OAuth+Cookie to set the auth context on the server before the Blazor Server app starts.

You should be able to configure the openid connect handler to use PKCE, you shouldn't need to configure that on the portal.

[2022-09-01 11:23] Gebov opened #43688 "Using Blazor server components without ending whitespace in wrapping container places the last component first"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am using a standard razor pages application and using Blazor Server rendering to it. There are lots of articles on how to do this. [This](https://www.syncfusion.com/faq/blazor/general/how-do-you-use-blazor-in-an-existing-asp-net-mvc-application) is just one.

If you render the same componen

[2022-09-01 12:02] KurtP20 commented on #43687
Thanks for looking into this. I hope it's not a breaking change.

Instantiating a UserManager myself is scary 😨 , so many parameters to pass to the constructor means long hours figuring out how to do that properly. My solution would have been to wrap UserManager in a DI scope and use a semaphore to exclude concurrent DB access. I use a simpler version with a semaphore now and it seems to work.

[2022-09-01 13:01] #43656 closed

[2022-09-01 13:02] davidfowl opened #43693 "Endpoint routing failures are cached"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When an EndpointDataSources throws an exception while building endpoints the exception is observed once on the first request and subsequent requests end up 404-ing.

### Expected Behavior

The exception should be thrown every time.

### Steps To Reproduce

[code]

### Exceptions (if any)

An

[2022-09-01 13:55] AlessandroMartinelli opened #43694 "Microsoft.AspNetCore.Identity.UserManager.FindByIdAsync is nullable but doc says it is not"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm not sure where I should be reporting this, however I noticed that method
`Microsoft.AspNetCore.Identity.UserManager.FindByIdAsync()` returns null if no such user is found, and this is coeherent with the return type being `Task<TUser?>` as shown [here](https://github.com/dotnet/aspnetcore/

[2022-09-01 14:59] blowdart commented on #43661
_Downloading the chain per request is a performance concern (and security concern) that’s why we don’t want to do it by default._

This isn't downloading the chain though; the client sends the leaf cert _*and optionally*_ any intermediate CAs (but not the root CA that everything chains off).

I wonder what http.sys does in this regard. It'd be a bit of a rearchitecting, assuming we can get the lea

[2022-09-01 15:25] blowdart commented on #43682
@adityamandaleeka this should get triaged asap. If upgrading breaks data protection with an existing keyring that's bad.

[2022-09-01 15:34] captainsafia commented on #41243
If we take the strategy outlined in https://github.com/dotnet/aspnetcore/issues/43675, we should see about removing the inference logic in the generator and relying on setting the metadata directly.

[2022-09-01 15:40] DamianEdwards commented on #43675
I'm a little confused. I thought RDF already inferred this in .NET 6.0? If I create a new .NET 6 web API project using Minimal APIs (weather forecast) and run it, the Swagger info correctly shows the API as returning `WeatherForecast`. Or is that because we populate those details in `ApiExplorer` even though the endpoint metadata is not added?

[2022-09-01 15:52] DamianEdwards commented on #43675
I seem to recall we talked about this in .NET 6 and the desire was always to have RDF add the appropriate metadata and then have the `ApiExplorer` provider simply use the metadata to populate the API details but that we never quite got there. Is there anything more than `IProducesResponseTypeMetadata` that we should be adding?

[2022-09-01 16:01] #43653 closed

[2022-09-01 16:38] TanayParikh commented on #43693
Hey @davidfowl where does the exception come from in this case, is it the UTF8 string?

[2022-09-01 16:41] danroth27 commented on #43693
System.InvalidProgramException: Common Language Runtime detected an invalid program.
   at System.Reflection.Emit.DynamicMethod.CreateDelegate(Type delegateType, Object target)
   at System.Linq.Expressions.Compiler.LambdaCompiler.Compile(LambdaExpression lambda)
   at System.Linq.Expressions.Expression`1.Compile()
   at Microsoft.AspNetCore.Http.RequestDelegateFactory.CreateTargetableRequestDeleg

[2022-09-01 16:57] djgalvan commented on #32842
Tried running the script above on Redhat 9 with no success for firefox, I can confirm it works with chromium.

[2022-09-01 17:12] djgalvan commented on #32842
add `sudo trust anchor localhost.crt` to the script for webkit-engine testing with gnome-web

[2022-09-01 17:51] HaoK commented on #43193
I'm not sure I understand since the `HttpsConnectionAdapterOptions.ServerCertificateChain` property is a  `X509Certificate2Collection`, so if they need to import something from a pfx, they can just do this code themselves right?

Or am I misunderstanding the ask, are we supposed to detect if the cert file is a pfx chain and do stuff automatically to load it into the SslStreamCertificateContext?

[2022-09-01 18:13] MackinnonBuck commented on #41772
Done in https://github.com/dotnet/sdk/pull/27537

[2022-09-01 18:13] #41772 closed

[2022-09-01 18:14] halter73 commented on #43675
I think that's what's happening.

[2022-09-01 18:33] mmitche opened #43696 "TFM trimming, and elimination of net4* targeting in Linux source-build"
### Description

Trim away unneeded TFMs, and conditionalize away non-applicable TFMs for Linux source build.

**Requires** https://github.com/dotnet/source-build/issues/3013. source-build net4* targeting elimination required https://github.com/dotnet/source-build/issues/2974

The purpose of this operation is twofold:
- [ ] Reduce the number of TFMs present overall in .NET's build, potentially imp

[2022-09-01 18:33] mmitche commented on #43696
This is .NET 8 work

[2022-09-01 18:54] captainsafia commented on #34544
As I've been playing around with the static analysis for OpenAPI generation strategy here, I'm noting the challenge of converging schema that can be deduced by static analysis and schema that must be derived by examining metadata.

Currently, we can derive annotation responses in the following ways (from lowest precedence to highest precedence):

- Annotations derived by default when examining the

[2022-09-01 19:00] Tratcher opened #43697 "HTTP/2 WebSockets should not allow using the body streams"
Forking from https://github.com/dotnet/aspnetcore/issues/42101

### Describe the bug

It should not be possible to use `Response.Body.WriteAsync()` to accidently write responses to extended CONNECT requests. Unlike with an HTTP/1.1 upgrade where a normal 200 response would not be treated as a WebSocket by the client, now it will be! The framing would likely be wrong, but it's a bad experience.

We

[2022-09-01 19:06] pr-benchmarks[bot] opened #43698 "Perf improvement: mvc"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| mvc [Fixed] | Json Mvc 2- Trends Azure Linux | 08/31/2022 08:41:19 | 48,151 | 51,085 | 6.10 % (2,935)  :thumbsup:  | 6.19 σ | 473.78 | <details>    <summary>Changes</summary>     <table><th>Name</th><th

[2022-09-01 19:06] pr-benchmarks[bot] opened #43699 "Perf regression: single_query"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| single_query [Fixed] | Single Query Platform 3- Trends Database Amd Linux | 08/31/2022 08:48:27 | 475,181 | 414,072 | -12.86 % (-61,109)  :thumbsdown:  | -3.30 σ | 18,514.17 | <details>    <summary>Chan

[2022-09-01 19:50] romansp opened #43700 "Blazor WASM loading of appsettings.json config doesn't use provided `loadBootResource` function"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We use CDN to serve Blazor WASM application. [Per documentation](https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnetcore-6.0#customize-how-boot-resources-are-loaded) `loadBootResource` function can be used to override default behavior of boot resources

[2022-09-01 20:04] Pilchie commented on #43673
Hi - take a look at https://docs.microsoft.com/aspnet/core/test/debug-aspnetcore-source for some instructions on how to debug aspnetcore source code.

[2022-09-01 20:14] jez9999 opened #43702 "Continue to support UseProxyToSpaDevelopmentServer"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

It looks like with .NET 6, the `UseProxyToSpaDevelopmentServer` style of proxying through to a SPA server behind the ASP.NET development server has been deprecated.

### Describe the solution you'd like

I would like to see this method

[2022-09-01 20:18] AHComp commented on #43304
No entry in logcat on error

[2022-09-01 20:20] Tratcher commented on #43702
Related: https://github.com/dotnet/aspnetcore/issues/43662

[2022-09-01 20:34] Magik3a commented on #39311
So, using new Blazor project with default B2C configuration is still erroring on the profile page.
So lets wait as the other guys on this :@
![image](https://user-images.githubusercontent.com/10474555/188006980-dddb4922-b584-4e77-9c5e-afb0d9ec7769.png)
![image](https://user-images.githubusercontent.com/10474555/188007050-e2ab3cc6-6d84-4135-8e7f-40053c72285a.png)

[2022-09-01 20:54] Webreaper opened #43703 "Using app.Urls.Add in a hosted Blazor WASM project breaks WebAssembly debugging"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I converted my project from Blazor Server to Blazor Wasm, but couldn't get WASM debugging to work - it would never hit a breakpoint. I read Khalid's [blog post](https://khalidabuhakmeh.com/troubleshooting-dotnet-blazor-wasm-debugging) on troubleshooting debugging issues, but to no avail.

He

[2022-09-01 21:07] bartonjs commented on #43193
If no keypath value is specified then you load certinfo.Path/certinfo.Password at

https://github.com/dotnet/aspnetcore/blob/main/src/Servers/Kestrel/Core/src/Internal/Certificates/CertificateConfigLoader.cs#L74

The target scenario there is, presumably, that certinfo.Path is specifying a PFX.  My understanding of David's comments are that he would like that PFX to be loaded as a collection, so so

[2022-09-01 21:16] rafikiassumani-msft commented on #37386
We might need to come up with better scenarios for rate limiting in the BCL.

[2022-09-01 21:20] #37383 closed

[2022-09-01 21:41] merriemcgaw commented on #42399
@Swati1700 - latest builds should now have it. There was a small issue with flowing into the installers, but it should be addressed now.

[2022-09-01 21:42] merriemcgaw commented on #42401
@Swati1700 - latest builds should now have it. There was a small issue with flowing into the installers, but it should be addressed now.

[2022-09-01 21:42] merriemcgaw commented on #42398
@Swati1700 - latest builds should now have it. There was a small issue with flowing into the installers, but it should be addressed now.

[2022-09-01 21:43] merriemcgaw commented on #42397
@Swati1700 - latest builds should now have it. There was a small issue with flowing into the installers, but it should be addressed now.

[2022-09-01 21:43] merriemcgaw commented on #42395
@Swati1700 - latest builds should now have it. There was a small issue with flowing into the installers, but it should be addressed now.

[2022-09-01 21:45] merriemcgaw commented on #42372
@HaoK do you think the bug you referenced is now fixed and @Truptik12 can download the latest?

[2022-09-01 21:46] merriemcgaw commented on #42335
@HaoK can you verify that #43375 has made it to the installers at this point (I _think_ it should have) so that @Truptik12 can validate?

[2022-09-01 21:49] DamianEdwards commented on #34544
Crazy thought, although not sure how valuable, perhaps annotations from `IEndpointMetadataProvider` could actually be captured at compile/build-time, similar to how the EF Core and scaffolding CLIs captures app/CI details. Not sure it gains anything in this scenario but .NET has a history of this style of extensibility in the past.

[2022-09-01 21:51] merriemcgaw commented on #42369
@Truptik12 can you try again with the latest installers, and make sure you do uninstall all older versions of .NET 7 previews from your system?

[2022-09-01 22:11] Tratcher opened #43705 "Kestrel doesn't allow extra spaces between the http url and version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

E.g. "GET(sp)/(sp)(sp)HTTP/1.1\r\n". The spec only allows one space, but some clients send more than one and IIS/Http.Sys allow it.

### Expected Behavior

The request should be allowed and the extra spaces ignored.

### Steps To Reproduce

_No response_

### Exceptions (if any)

400 Bad Requ

[2022-09-01 22:28] davidfowl commented on #43693
@halter73 can you take a look at this one? It’s from the composite data source changes

[2022-09-01 22:52] BrennanConroy commented on #43510
Looks like the issue is with how we initially filter nodes in the parser:
https://github.com/dotnet/aspnetcore/blob/3ea008c80d5cc63de7f90ddfd6823b7b006251ff/src/SignalR/clients/csharp/Client.SourceGenerator/src/HubClientProxyGenerator.Parser.cs#L137-L143
We're checking if the Generic type is specified which it isn't when you let the inference figure it out.

This case is handled later on, but it's

[2022-09-01 22:53] captainsafia commented on #43642
It seems like this feature lends itself nicely to the design of "route-based endpoint conventions" given that "metadata-only endpoints" doesn't apply exclusively to routes that do not map to an endpoint handler.

Looking through this particular example:

[code]

I wonder how this feature would intersect with route groups. When and why would a user use the syntax above when they could also do:

[co

[2022-09-01 23:19] HaoK commented on #42372
Yes should be fixed by the css fix

[2022-09-01 23:19] DamianEdwards commented on #43642
One would use `app.RequireAuthorization("/users");` when it is known that there will be requests served under that path that *aren't* implemented as endpoints *or* they wish not to use route groups for some reason, e.g. there are files served by the static files middleware under that path.

Ultimately, the metadata on metadata-only endpoints (MOE) applies to any request that matches the route patt

[2022-09-01 23:36] halter73 commented on #43693
Yeah. I'll definitely look into this tomorrow.

[2022-09-01 23:45] wtgodbe commented on #42698
Done

[2022-09-01 23:45] #42698 closed

[2022-09-02 00:17] halter73 commented on #43544
This was approved over email.

@BrennanConroy points out "The set vs init part was likely an oversight during the API review. I don’t see any references in the PR/issue about why it was made settable, and no one is using the setter today." And that "the dll move also makes sense, those were the only interfaces in that assembly, which is probably a sign that this is a good move.

[2022-09-02 00:20] #43000 closed

[2022-09-02 00:21] #43125 closed

[2022-09-02 00:21] #43544 closed

[2022-09-02 01:00] #42388 closed

[2022-09-02 01:05] DamianEdwards opened #43707 "API response details are not shown in swagger when using WithOpenApi() method with OpenApiOperation copy constructor"
Issue to track external bug with Microsoft.OpenApi: https://github.com/microsoft/OpenAPI.NET/issues/995

Due to this issue, calling the `WithOpenApi()` extension method currently results in the endpoint's responses information not being shown in Swagger:

[code]

[2022-09-02 01:15] uabarahona opened #43708 "Minimal api allows to describe response types"
### Description

Right now, it is possible to add description to response types by using `WithOpenApi`:

[code]

though I think a more concise way of doing it seems to be missing here, like on MVC:
![image](https://user-images.githubusercontent.com/15148088/188038296-133532bb-6f42-4006-a659-8506a53602b8.png)

✏️ Minimal APIs are looking awesome!!

[2022-09-02 02:37] HaoK commented on #43193
Ah okay, that makes sense, thanks for the clarification @bartonjs I'll start on the PR now

[2022-09-02 02:59] #42389 closed

[2022-09-02 03:02] #38954 closed

[2022-09-02 04:47] danroth27 opened #43710 "Blazor custom elements shouldn't require explicit script reference to BlazorCustomElements.js"
It looks like I still have to add an explicit script reference to BlazorCustomElements.js to use Blazor custom elements. But I believe we said we wanted to use a JS initializer to remove this additional manual step.

@MackinnonBuck @javiercn

[2022-09-02 05:42] MackinnonBuck commented on #43710
We decided to keep it as an external script to not bloat the blazor.*.js files.

cc @SteveSandersonMS

[2022-09-02 06:25] Truptik12 commented on #42369
@merriemcgaw

Verified by uninstalling all older versions of .NET 7 previews and tried again with the latest installers, but still getting the same issue.

[2022-09-02 07:05] yugabe commented on #42284
@cirrusone most current browsers support WebAssembly, but you won't be able to detect it reliably on the server side. On the client, it's basically as easy as testing for the existence of the window global variable `WebAssembly`. Related: [How can I check if a browser supports WebAssembly? (StackOverflow)](https://stackoverflow.com/questions/47879864/how-can-i-check-if-a-browser-supports-webassemb

[2022-09-02 07:06] pr-benchmarks[bot] opened #43712 "Perf regression: fortunes_ef"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes_ef  | Fortunes EF 1- Trends Database Azure Linux | 08/31/2022 20:09:46 | 28,628 | 25,585 | -10.63 % (-3,043)  :thumbsdown:  | -2.43 σ | 1,251.59 | <details>    <summary>Changes</summary>     <t

[2022-09-02 07:07] yugabe commented on #27592
Hey all! It's been a while since this issue first surfaced, and it seems it's still on the way for .NET 7. Can someone please confirm?

I also don't quite understand _how_ this is supposed to work when:
- **Not using cookies**: on a full postback, only the cookies are a native solution for the server to identify the user by as the Blazor WASM app hasn't started that sends AJAX requests with additi

[2022-09-02 07:51] singh733 commented on #43230
@Tratcher  Please see the proposal below:

**_Code from HttpSysServer_**

[code]

**_Code from Kestral_**

[code]
**_Solution:_**
### Make logic same as kestral
1.  We can remove _Connection.Count  in HttpSysServer_
2.  If Property is not read then make it StringValues.Empty and return true , otherwise return false

Note: This change should be in the .tt files .

[2022-09-02 08:58] AlexZeitler opened #43713 "Allow sections to be defined inside Views and Partial Views and let them have Models or have multiple partial views in one file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

If you're creating a View which itself consists of multiple partial views you can add more structure to your views.

However, splitting the view into multiple (small) files can become difficult to manage and to reason about.

### Descr

[2022-09-02 09:13] marcindruzgala commented on #31365
Is there any workaround for this issue?

[2022-09-02 09:27] SteveSandersonMS commented on #43710
Yes, having it as an external file does sound right to me, but it might be that we can auto-load it using a JS initializer like Dan suggests (so it's not necessary to add any `<script>` tag manually except for the `blazor.*.js` one).

We didn't do that in the original custom elements prototype because I think our JS initializers feature either didn't exist then, or was too new for us to integrate

[2022-09-02 10:29] kiwiant opened #43714 "Validation Summary Tag Helper renders style attribute which conflicts with Content Security Policy (CSP)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The Validation Summary Tag Helper renders CSS in the style attribute and this is incompatible with Content Security Policy (CSP) unless the 'unsafe-inline' source is used. We all want to be good developers with a security first mindset.

https://github.com/dotnet/aspnetcore/blob/d97ff686a281b

[2022-09-02 10:53] SteveSandersonMS opened #43715 "Restore CI validation that blazor.server/webview.js are up-to-date"
In the past we definitely used to have CI-time checking that blazor.server.js and blazor.webview.js are up-to-date in source control, i.e., that the committed versions of these files are byte-for-byte identical to what the CI gets if it builds `src/Components/Web.JS`. This checking is important because:

 * We're still required to put these "binaries" in source control as a requirement of source b

[2022-09-02 12:24] pkwieci1 commented on #43593
Same bug here....

[2022-09-02 13:34] BieleckiLtd commented on #9974
how does one use your js?

[2022-09-02 13:41] Swati1700 commented on #42398
We have installed latest build dotnet-sdk-7.0.100-rc.2.22452.3-win-x64 but getting a below error.
![image](https://user-images.githubusercontent.com/86710888/188158892-fb79e52e-6a2e-4969-a39a-4da55be572b4.png)

[2022-09-02 13:43] Swati1700 commented on #42401
We have installed latest build dotnet-sdk-7.0.100-rc.2.22452.3-win-x64 but getting a below error.
![image](https://user-images.githubusercontent.com/86710888/188159269-87a3fd04-9fa8-4522-a319-7263dc9fc878.png)

[2022-09-02 13:44] Truptik12 commented on #42369
We have installed latest build dotnet-sdk-7.0.100-rc.2.22452.3-win-x64 but getting a below error.
![image](https://user-images.githubusercontent.com/86710491/188159331-203c3202-5536-4600-8e58-1a4fb9cf3e3a.png)

[2022-09-02 13:44] Swati1700 commented on #42397
We have installed latest build dotnet-sdk-7.0.100-rc.2.22452.3-win-x64 but getting a below error.
![image](https://user-images.githubusercontent.com/86710888/188159407-8a9f1c8b-5ccc-4f59-8a6e-b78c4abf29c2.png)

[2022-09-02 13:45] Swati1700 commented on #42395
We have installed latest build dotnet-sdk-7.0.100-rc.2.22452.3-win-x64 but getting a below error.
![image](https://user-images.githubusercontent.com/86710888/188159657-095b5474-426e-4874-b607-971bc2620ad4.png)

[2022-09-02 13:45] Swati1700 commented on #42399
We have installed latest build dotnet-sdk-7.0.100-rc.2.22452.3-win-x64 but getting a below error.
![image](https://user-images.githubusercontent.com/86710888/188159654-561f67fb-085a-4d28-a6ea-7f2934816362.png)

[2022-09-02 13:45] Swati1700 commented on #42372
We have installed latest build dotnet-sdk-7.0.100-rc.2.22452.3-win-x64 but getting a below error.
![image](https://user-images.githubusercontent.com/86710888/188159638-6fef50ac-0ef6-40cf-8efa-119c908fe4d7.png)

[2022-09-02 13:46] Truptik12 commented on #42335
We have installed latest build dotnet-sdk-7.0.100-rc.2.22452.3-win-x64 but getting a below error.

![image](https://user-images.githubusercontent.com/86710491/188159743-6b2e9020-ad70-4304-8289-b3bd3e33c2d6.png)

[2022-09-02 13:46] Swati1700 commented on #42362
We have installed latest build dotnet-sdk-7.0.100-rc.2.22452.3-win-x64 but getting a below error.
![image](https://user-images.githubusercontent.com/86710888/188159777-7ae97691-cab5-4069-8d3b-2dc0be67146d.png)

[2022-09-02 13:46] Truptik12 commented on #42372
We have installed latest build dotnet-sdk-7.0.100-rc.2.22452.3-win-x64 but getting a below error.

![image](https://user-images.githubusercontent.com/86710491/188159828-df6c8ebb-2f2a-4ba3-a933-99626a876495.png)

[2022-09-02 13:48] Truptik12 commented on #42371
We have installed latest build dotnet-sdk-7.0.100-rc.2.22452.3-win-x64 but getting a below error.

![image](https://user-images.githubusercontent.com/86710491/188160138-8199ba31-68a8-4283-bb2a-9e15f9d307dc.png)

[2022-09-02 13:48] Truptik12 commented on #42370
We have installed latest build dotnet-sdk-7.0.100-rc.2.22452.3-win-x64 but getting a below error.

![image](https://user-images.githubusercontent.com/86710491/188160201-ca088e8c-0aae-442e-8e3d-e1d1636397eb.png)

[2022-09-02 14:37] raffaeler commented on #4659
I would really love to see this. The ability to forcibly logout a user is mandatory in many enterprise apps and a requirement in certain GDPR-related scenarios.

BTW the current documentation is missing some details on what is exactly supported or not for the back-channel.

[2022-09-02 15:18] Tratcher commented on #43662
@blowdart says we need to fix this regardless of UseProxyToSpaDevelopmentServer's future status.

[2022-09-02 15:27] Tratcher commented on #43230
_flag0 might also need updating. Feel free to try it.

[2022-09-02 15:30] SteveSandersonMS commented on #43129
Fixed in https://github.com/dotnet/aspnetcore/pull/43542

[2022-09-02 15:30] #43129 closed

[2022-09-02 15:33] blowdart commented on #43662
Thank you :)

[2022-09-02 15:36] BrennanConroy commented on #43708
Possible dupe of https://github.com/dotnet/aspnetcore/issues/39927

[2022-09-02 15:44] kaylumah commented on #37680
Inside `protected override void ConfigureWebHost(IWebHostBuilder builder)`
[code]

Appears to work as an alternative for the `ConfigureAppConfiguration` but not sure if that Is desired.

Guidance on this would be appreciated especially if it would be delayed to .NET8
Thanks
Max

[2022-09-02 16:00] BrennanConroy commented on #43715
The CI builds the js binary and uses the one it built for shipping.

I think the main reason is that a build version is burnt into the file, which will change for every build so the CI will always have a different version than what is checked in. e.g. current file has 0.0.0-DEV_BUILD, but because the CI builds projects in parallel, it's possible for it to grab the SignalR files before they're modi

[2022-09-02 16:21] SteveSandersonMS commented on #43715
@BrennanConroy Interesting. Could you clarify a bit further to make sure we're all in sync?

Main reason for what - that it should be checked for consistency, or that it should not be checked for consistency, or that this should or should not be regarded as a bug? Or main reason that "the CI builds the js binary and uses the one it built for shipping"?

Things I still don't understand:

 * If the

[2022-09-02 16:26] BrennanConroy commented on #43715
The main reason it's being skipped for consistency.

Right, that's why it's checked in. This whole thing is a hack to workaround source-build not having the ability to build the js file (at least not at the time, idk if things have changed).

Yeah, that is a downside. I assume source-build runs tests? So it would find a problem if the js file wasn't updated?

No idea what that file is. If it isn't

[2022-09-02 16:29] Korporal commented on #18840
@JinShil - Where exactly is one expected to put that code?

[2022-09-02 16:39] dougbu commented on #43715
No, source-build doesn't even build test projects.

----

A bit more is coming back to me: Source build placed restrictions on what / how we can build the repo and TS ➡️ JS was disallowed. @crummel @MichaelSimons is it possible these days to use the `typescript` compiler / `yarn` and so on in source-build❔

[2022-09-02 16:42] Korporal commented on #18840
The above code is placed inside `_Layout.cshtml `between the `<environment include="Development">` tags.

[2022-09-02 16:43] SteveSandersonMS commented on #43715
OK, thanks. It sounds like we just don't have a good solution here, in that:

1. We *can't* enforce that the file contents are consistent with sources, because the build inherently varies each time, because it embeds a build version in the SignalR .js output
2. But failing to enforce consistency puts us at risk of shipping an inconsistently-versioned file, or worse, shipping intentionally backdoor

[2022-09-02 17:11] ShaunCurtis commented on #9974
The examples I see above are "Happy Path" examples.  I started to look at question on SO about this: again a nice simple happy path example given.

I can see using `contenteditable` in an `InputBase` or similar controlled environment.  But as an attribute?

Here's some examples going from happy path to very edge conditions.     There's the `RenderFragment` problem - code between a `<div>` and `</d

[2022-09-02 17:31] HaoK commented on #42967
@BrennanConroy is this actually fixed now so I should remove the tests from retry?

[2022-09-02 17:33] BrennanConroy commented on #42967
I assume so, you would know the query to run to see if it's needed the retries or not.

[2022-09-02 18:28] merriemcgaw commented on #42362
@HaoK is this the blocking bug we thought was fixed? Let's track where that might be, I really hope it makes it into the RC2 SDK

[2022-09-02 18:29] merriemcgaw commented on #42335
Thanks @Truptik12. @HaoK can we find out when this fix is going to make it to installers/SDK for RC2? We are cutting it very close.

[2022-09-02 18:34] HaoK commented on #42362
This just looks like some kind of nuget restore issue that isn't really related, I don't know if the packages aren't on the feed or if they are missing some nuget sources

[2022-09-02 18:47] HaoK commented on #42362
They probably need this feed:
[code]

[2022-09-02 19:07] #43698 closed

[2022-09-02 19:07] #43684 closed

[2022-09-02 19:07] pr-benchmarks[bot] opened #43720 "Perf improvement: plaintext_netty"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext_netty [Fixed] | Netty Plaintext 20- Frameworks Arm 28 Linux | 08/31/2022 18:38:13 | 30,754 | 7,723,769 | 25,014.45 % (7,693,015)  :thumbsup:  | 2.09 σ | 3,673,331.29 | <details>    <summary>Ch

[2022-09-02 20:09] adityamandaleeka commented on #43651
@yaakov-h We don't do anything particularly interesting in our code that loads this binary, so it's unlikely that this is an issue in ASP.NET Core itself.

One thing to look into would be whether anything changed on the machine when this started happening, such as anti-virus software getting updated or reconfigured in a way that may affect loading DLLs.

[2022-09-02 20:12] merriemcgaw commented on #42362
@HaoK would you be so kind as to confirm that will resolve the situation and provide exact repro steps for the testers?

[2022-09-02 20:21] adityamandaleeka commented on #43632
Triage: we can consider adding something like this, though we'd need to think about the API design more. Once we've agreed on the design, we would take a PR to add this.

[2022-09-02 20:21] adityamandaleeka commented on #43632
Marking ready for review so we remember to discuss it.

[2022-09-02 20:25] adityamandaleeka commented on #43614
@JamesNK Assigning this to you since you're already looking at it.

[2022-09-02 20:31] adityamandaleeka commented on #43547
@ComptonAlvaro Glad you were able to figure this out.

We've improved this behavior in 7, and there's a comment about this in the docs here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?view=aspnetcore-6.0&tabs=visual-studio#current-directory-and-content-root-1

[2022-09-02 20:36] HaoK commented on #43193
We discussed this in triage, and given that this is no longer a test only change, and is an incremental improvement, we felt like this is a better fit for 8.0 rather than trying to get this in for rc2.

[2022-09-02 20:36] adityamandaleeka commented on #43694
@AlessandroMartinelli I think you were looking at the docs for 6.0. The 7.0 version of that page shows the `TUser?` as expected: https://docs.microsoft.com/dotnet/api/microsoft.aspnetcore.identity.usermanager-1.findbyidasync?view=aspnetcore-7.0#microsoft-aspnetcore-identity-usermanager-1-findbyidasync(system-string)

[2022-09-02 20:45] adityamandaleeka commented on #43626
@indieza Can you share the minimal app that demonstrates this issue in a github repo so we can help investigate?

[2022-09-02 20:46] davidfowl commented on #43193
Why? Isn’t it a simple change? I consider it part of the overall fix to support full certificate  chains

[2022-09-02 20:51] adityamandaleeka commented on #43624
Triage: we should have a way to make data protection no-op safely (and anything that needed the data protection keys would throw).

This could be a sample.

[2022-09-02 21:11] HaoK commented on #43193
Well, the current proposal for a change from @bartonjs is not what I could consider simple in the PR and we have no test coverage for the code (the tests mock this interface to supply the certs directly to the tests), which means we'd be have to rely on manual testing code or build a reasonable set of tests as part of this PR at the same time.  It seems a bit of a stretch to say this meets the rc2

[2022-09-02 21:22] HaoK commented on #42362
Its hard for me to provide exact repro steps as I only have a dev machine, so all I do is install the sdk open a powershell and dotnet new angular.  But I'm not sure what ambient settings/configuration I have setup due to day to day work/etc.

If they want to give me remote access to a machine to install the builds and verify things on their machine before having them try, I'm happy to do that, bu

[2022-09-02 21:24] hrvoje-grabusic commented on #38842
@Liero Also in those docs Pages/FileUpload2.razor example code causes exactly this issue when uploading more then one file.
When uploading two files it doesn't read the stream right away and it freezes.

[2022-09-02 21:24] merriemcgaw commented on #42362
I can try to build a clean VM and give you both access to it if it works properly.

[2022-09-02 22:02] Moosemorals commented on #43383
Oops:
[code]
[OpenIdConnectHandler](https://github.com/dotnet/aspnetcore/blob/main/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs#L231), through an extension, calls something like:
[code]
(`context` here is the `RedirectContext` passed to `OnRedirectToIdentityProviderForSignOut` that I've been playing with)
`OpenIdConnectOptions.SignOutScheme` defaults (through a short chain

[2022-09-02 22:13] ryancole commented on #43383
I've not tried just that one one scheme, instead of both. I will give it a try and let you know what happens.

For some reason the bug only happens after I've published to Azure. It doesn't happen for me when debugging in Visual Studio locally. Both my IdentityServer4 and the ASPNET Core app are both debugged locally where it does not happen.

[2022-09-02 22:23] halter73 opened #43723 "Incoming connections can stop HTTP/3 accept loop"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It appears that authentication failures during the quic connection handshake can cause `QuicListener.AcceptConnectionAsync` and subsequently `QuicConnectionListener.AcceptAsync` to throw an `AuthenticationException` which can "hang" the http/3 connection accept loop similarly to #41556. @Jame

[2022-09-02 22:28] halter73 commented on #41556
@adityamandaleeka Do you still want this for rc2? It seems a little more relevant considering #43723.

[2022-09-02 22:46] HaoK commented on #42967
Fixed by https://github.com/dotnet/aspnetcore/pull/43718

[2022-09-02 22:46] #42967 closed

[2022-09-02 22:56] danroth27 opened #43724 "NavigationLock with ConfirmExternalNavigation throws exception when prerendering"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If I add a NavigationLock component with ConfirmExternalNavigations to a BlazorServer app I get an exception during prerendering.

### Expected Behavior

Prerendering works when using NavigationLock with ConfirmExternalNavigations.

### Steps To Reproduce

- Create a new Blazor Server app
- A

[2022-09-02 23:27] danroth27 opened #43725 "NavigationLock with ConfirmExternalNavigations doesn't show confirm dialog when changing address bar after initial app load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Using NavigationLock with ConfirmExternalNavigations doesn't show confirm dialog when changing address bar after the initial app load.

### Expected Behavior

Confirm dialog is shown after changing the address bar even on first load.

### Steps To Reproduce

- Create a Blazor WebAssembly app

[2022-09-02 23:53] DamianEdwards opened #43726 "`dotnet user-jwts create` throws exception in rc.1 builds"
Can't get `dotnet user-jwts create` to work on latest rc.1 builds.

SDK build: ` 7.0.100-rc.1.22425.9`
Platform: Windows 11 x64

[code]

The tools install directory indeed doesn't contain the assembly the error message is complaining about:
<img width="690" alt="image" src="https://user-images.githubusercontent.com/249088/188247318-ab3627e0-7481-4f75-8f3b-7f0a9ac924d9.png">

[2022-09-02 23:57] DamianEdwards commented on #43726
Updated to latest public rc.1 build (`7.0.100-rc.1.22431.11`) and it still repros.

[2022-09-03 00:56] halter73 opened #43727 "Assert failure in QuicConnectionContext.AcceptAsync"
I was making basic GET requests using HttpClient to Kestrel's [Http3SampleApp](https://github.com/dotnet/aspnetcore/blob/e971d938793f2d0b8bc96e5f839e61066d19ecea/src/Servers/Kestrel/samples/Http3SampleApp/Program.cs) when I saw the following debug assert failure in QuicConnectionContext.AcceptAsync:

https://github.com/dotnet/aspnetcore/blob/e971d938793f2d0b8bc96e5f839e61066d19ecea/src/Servers/Kes