[2019-07-01 03:44] rynowak commented on #9386
Super rudimentary sample of the culture propagation part of this here: https://github.com/rynowak/ServerSideBlazorLocalization

This uses the localization middleware (as well as some other custom middleware) to set a cookie on the client. I also created a custom thing to treat the locale as part of the path+pathbase. I don't generally feel positively about using routing to track the culture - it's

[2019-07-01 04:33] dougbu commented on #4164
I'm unable to reproduce a problem debugging pretty anything I tried to to see the source. `AuthorizeAttribute` is a little problematic because it has so little executable code. Nonetheless, breakpoints I set on properties and constructors were hit and the code was loaded correctly.

I tested with both `netcoreapp2.1` and `netcoreapp2.2`.

[2019-07-01 04:33] #4164 closed

[2019-07-01 07:10] SchroterQuentin commented on #11544
The problem exist on [HttpGet] [HttpPost] [HttpPut] etc. Is there a way to handle all this problems in one area ? Or do we have to add this options on all this attributes ?

I'm actually not understanding how would work this option ?

[2019-07-01 07:35] BenHayat opened #11734 "Guideline - How should a large app be broken into?"
I have an app, that should logically be broken into 4 modules, depending on the role of logged in user. If anonymous, the website module and it's related should be available. If Admin is logged in, then all the pages related to Admin. Same with Vendor and Consumer.

Overall, the app might have over 100 pages. What is the guideline of setting up such application that they all share the same DB (inc

[2019-07-01 07:36] sujayvsarma opened #11735 "[Question] - Owin Authentication Middleware for ASP.NET Core 3.0"
This is a multi-part question/request.

1. Where is all the Owin authentication middleware (stuff that used to live in `Microsoft.Owin.Security.*` packages) for ASP.NET Core 3.0 ? The `Microsoft.Owin.Security` stuff seems to be targeted at Framework -- multiple packages fly down targeted to Framework !

2. When is the documentation going to be updated to use the (hopefully updated) ASP.NET Core 3.

[2019-07-01 08:51] SteveSandersonMS commented on #11687
Currently we're not using conditionals in `.razor` files due to a tooling limitation, so for now at least this will be added unconditionally. There isn't really any drawback to doing this, considering what other stuff is also there unconditionally.

[2019-07-01 09:03] lanwin commented on #5896
I would also love to have such an option.

We also haven an existing bootstrapping project where we already create an IServiceCollection and currently its pretty hard to use the WebHostBuilder in that scenario. I made some hacks with IProviderFactory and stuff and it works. But it feels kinda hacky and official support for such a scenario would be very helpful.

[2019-07-01 09:29] SteveSandersonMS commented on #11586
Verified exactly as described above.

[2019-07-01 09:29] #11586 closed

[2019-07-01 09:30] SteveSandersonMS commented on #11586
Also, verified the fast-typing scenario both with WebSockets disabled (the Azure App Service default) and enabled. It works correctly in both cases, and like you'd expect, is far less laggy with WebSockets enabled.

[2019-07-01 09:53] butterngo opened #11737 "The host does not match an allowed host with signalRCore 1.1.0"
### I am getting the problem with SignalRCore 1.1.0 I try many ways configuration "cross-domain" but it's not working with me. The server always the response  "Access to "XMLHttpRequest at 'http://localhost:7500/hub/chat/negotiate' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' h

[2019-07-01 10:03] jpseini opened #11738 "Attribute 'processPath' is required. IIS InProcess SCD hosting"
### Describe the bug
When trying to host an aspnet core web api in ISS (tried both 2.2 and 3.0), I am following the steps as per here: [Host in IIS](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-3.0#create-the-iis-site). When I try browse to the URL, I get a HTTP 500 error, and in my EventViewer I see the following message:
_Could not load configuration. Excepti

[2019-07-01 10:08] martavoi opened #11739 "Kestrel extremely slow performance on POST large JSON"
We are expiriencing extremely slow performance while doing a POST images as BASE64 encoded json data.
![Kestrel Performance on POST](https://user-images.githubusercontent.com/23035689/60428374-5d8e0680-9c01-11e9-91c2-87b0e7855692.png)
Verbose logs above shows **Ketrel takes ~80sec!** to read request body.
![Kestrel Performance on POST NewRelic Trace](https://user-images.githubusercontent.com/23035

[2019-07-01 10:12] mashahbazi opened #11740 "Release Jar file for new versions or adding to Maven"
Hi,
why after releasing 4 preview version for signalR (3,4,5,6) but any new version for as jar file or update in maven.
please add it.

[2019-07-01 10:15] #11740 closed

[2019-07-01 10:24] SteveSandersonMS commented on #11687
Done inhttps://github.com/aspnet/AspNetCore/pull/11736

[2019-07-01 10:24] #11687 closed

[2019-07-01 10:32] egil opened #11741 "Blazor: Ability for services to detect when JSRuntime is available and safe to invoke"
### Services that depend on JavaScript should be able to detect when it is available
When creating a Blazor service that depend on JavaScript via `IJSRuntime`, it would be great to be able to detect when the JavaScript runtime is available to interact with.

Otherwise users (components) of my services will have to remember to always wait to call functionality on the service in their `OnAfterRender

[2019-07-01 11:00] SteveSandersonMS commented on #11726
Your problem is here:

[code]

You're configuring two different instances of `CustomAuthStateProvider`. You're toggling the state on the second instance, but your components are receiving the first instance.

Solution: register it like this: https://github.com/SteveSandersonMS/presentation-2019-06-NDCOslo/blob/master/demos/MissionControl/MissionControl.Client/Util/ServiceExtensions.cs#L17

[2019-07-01 11:00] #11726 closed

[2019-07-01 11:05] SteveSandersonMS commented on #11714
The server-side Blazor template has never supported the old-style static content feature you're using here (i.e., the default static content mechanism in `blazorlib`).

The server-side Blazor template supports only the new-style static content feature: see "Static assets in Razor class libraries" in [this blog post](https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-

[2019-07-01 11:05] #11714 closed

[2019-07-01 11:10] ApocDev commented on #11741
Possibly pull in IComponentContext and check IsConnected?

This is the fix that was suggested in Gitter to another (unrelated) issue.

[2019-07-01 11:10] SteveSandersonMS commented on #11708
Thanks for the suggestion. It's great to see you were able to implement and publish this!

That's not something we can do in the short term, as we're far too close to shipping 3.0 to replace such a fundamental piece of infrastructure entirely with something that's not API-compatible and hasn't been battle-tested in thousands of projects already.

What we can do is suggest your package as an option

[2019-07-01 11:10] #11708 closed

[2019-07-01 11:13] rezres opened #11742 "Data Protection - Azure Key Vault - Bug"
### Describe the bug
The bug happens when I use azure blob to persist keys and key vault to protect the keys,
Note I tried to use the same config for key vault but instead of using blob storage I use file directory and it was fine,
I also used the same config for my azure blob but without key vault protection and it worked,
when I use both of them, it doesn't work for some reason, upon generating

[2019-07-01 11:25] egil commented on #11741
@ApocDev can you provide a little more info on the work-around you are suggesting?

[2019-07-01 11:55] SteveSandersonMS opened #11743 "Blazor VSIX regression - now contains no project templates"
The current `Microsoft.VisualStudio.BlazorExtension.vsix` coming out of CI no longer contains any project templates, so it's not very useful!

I *think* this regression was introduced in this PR: https://github.com/aspnet/AspNetCore/pull/11116. Apparently, that PR was a step towards migrating to Arcade.

I found that it can be fixed by removing the newly-introduced `'$(IsPackable)' == 'true'` cond

[2019-07-01 11:56] SteveSandersonMS commented on #11743
Also cc @danroth27 @mkArtakMSFT since this is likely to impact pre7 verification work this week.

[2019-07-01 12:03] haavamoa commented on #11714
That guide worked perfectly. The only issue I have with this option is that the users of my package has to include the JavaScript file in their `index.cshtml`. This is not needed if I follow the guide and use my package in a client-side blazor project. So if you are migrating this style, I would appreciate the latter style for both scenarios.

[2019-07-01 12:11] SteveSandersonMS commented on #11714
Auto-adding `<script>` tags (etc) is something we've made a deliberate decision to exclude from the newer mechanism, because there are so many cases where this can't possibly work (e.g., if the developer needs to control the inclusion order, or if they have to select 1 out of N possible files (e.g., for localisation), or because they are going to do a custom Webpack build over all the files).

Pac

[2019-07-01 12:35] SteveSandersonMS commented on #9643
`onclick` should now be `@onclick`. We made this syntax change in preview 6 - it's the final event-handler syntax for the 3.0 release.

[2019-07-01 12:40] SteveSandersonMS commented on #11639
@netyam Since these are general usage questions (and now are about MVC and EF, not Blazor), I'd recommend posting on StackOverflow to get a faster response. Hope that's OK!

[2019-07-01 12:44] haavamoa commented on #11714
Thank you so much for clarifying.

[2019-07-01 12:44] rabberbock commented on #11726
@SteveSandersonMS Thanks so much for the solution! Works Perfectly!

[2019-07-01 12:51] Andrzej-W commented on #11197
Which code is used for intellisense? I'm afraid that without field in `@code` section we will not have intellisense.

[2019-07-01 13:06] Andrzej-W commented on #11197
There some more questions:
- Hopefully intellisense will be smart enough but if not, we will have errors in every place we use our "automatic" field. I think about errors displayed by intellisense in VS, not compilation errors.
- Will it somehow work with current "code behind" method which is based on inheritance?
- Will it work in the future when you implement partial classes for "code behind" ex

[2019-07-01 13:12] SteveSandersonMS commented on #11197
Intellisense is driven by the generated code, so this will work properly.

If you want the backing field to be in your base class, you'll need to use `@ref:suppressField` and put the field in your base class manually like you do today.

Yes, once these are partial classes, it will just work without needing `@ref:suppressField` or any other extra steps.

[2019-07-01 13:20] dazinator opened #11745 "[Question] - Blazor - How to auto recompile on save to .razor file"
For a Blazor client project (served up to the browser from an asp.net core host) opened in Visual Studio 2019 Preview, how do I make it so that when I save changes to a `razor` file in the client project, it automatically builds an updated `dll` - so that all I have to do is then reload the page to see the change?

Thank you.

[2019-07-01 13:24] k00ksta commented on #11690
By adding that what URL would we use to connect via web sockets /client?hub= with the hub name  Also  can we not invoke hub methods? I was under the impression that ASP.NET Core SignalR uses websockets by default and downgrades to long polling or server sent events.

[2019-07-01 13:32] RemiBou commented on #11745
I do it using "dotnet watch build" for this and I added razor extension to the watch list like here :

https://github.com/RemiBou/Toss.Blazor/blob/master/Toss.Client/Toss.Client.csproj

[code]

[2019-07-01 13:40] SteveSandersonMS commented on #11745
Thanks for answering, @RemiBou!

Also, I think `.razor` might be in the default list of watched extensions these days.

[2019-07-01 13:40] #11745 closed

[2019-07-01 14:05] blowdart commented on #11742
@anurse Who is looking after data protection in Nate's absence?

[2019-07-01 14:07] blowdart commented on #11735
There is _nothing_ Owin for Core. There never has been. They're all in `Microsoft.AspNetCore.Authentication`

There's no functional or namespace changes to any authentication middleware in 3.0, so the [2.x documentation](https://docs.microsoft.com/en-us/aspnet/core/security/?view=aspnetcore-2.2) should work as is.

[2019-07-01 14:15] sujayvsarma commented on #11735
Ah, thank you. Closing the issue!

[2019-07-01 14:15] #11735 closed

[2019-07-01 14:17] lailaDev opened #11746 "IdentityUser could not be found"
I installed
 <PackageReference Include="Microsoft.AspNetCore.Identity.EntityFrameworkCore" Version="3.0.0-preview6.19307.2" /> to use IdentityUser, but i get the following error: IdentityUser could not be found, is it normal in this version?

[2019-07-01 14:24] jkotalik commented on #8952
@simonmurdock can you try manually regenerating the certificate on the command line with `dotnet dev-certs https --clean` and `dotnet dev-certs https --trust`. There were a few issues resolved regarding user experience but the certificate should be fixed in preview6.

[2019-07-01 14:25] dougbu commented on #11743
How exactly is the resulting package broken? Feel free to open a PR and confirm it fixes the problem you're seeing.

FYI one of the comments in #11116 mentions removing a "dummy" Microsoft.AspNetCore.Blazor.Templates.dll file from the VSIX.

[2019-07-01 14:25] SteveSandersonMS commented on #10472
OK, after some further consideration, discussions, and research, here's what I'm proposing should **actually** be considered or attempted during preview 8, in priority order:

* Ensure clients can't cause a global unhandled exception that would terminate the process (either accidentally or deliberately)
    * e.g., today they can by making a JSInterop call and passing an unknown object ID

* Expan

[2019-07-01 14:28] SteveSandersonMS commented on #11743
It's broken in that it contains no project templates.

As described above, I've made a suggested change that does indeed fix the problem, while also causing a different build problem. So now I need the build team to determine what the right fix is.

I don't think that removing `Microsoft.AspNetCore.Blazor.Templates.dll` from the VSIX affects this either way.

[2019-07-01 14:33] javiercn commented on #10472
This overlaps with some of the security stuff. I was compiling the same list to get ready to file issues for them. I guess we can add the individual items to the uber issues and just mark them as complete in both places? (Even if it involves a bit of duplication that way we ensure everything we want for a given aspect is covered).

[2019-07-01 14:34] dougbu commented on #11743
Probably need to add `Condition=" '$(TargetOsName)' == 'win' AND '$(TargetArchitecture)' != 'arm' "`. Haven't looked deep enough to see if the first part of the condition is needed; suspect the project is already built only on Windows.

[2019-07-01 14:34] SteveSandersonMS commented on #10472
@javiercn OK, that's good to know. Let's discuss in the sync this morning. Maybe we can break out that particular deliverable into its own issue, assign to you if you're already working on it, and then yes mark it complete in both places when done.

[2019-07-01 14:41] SteveSandersonMS commented on #11743
OK thanks. Trying that out in https://github.com/aspnet/AspNetCore/pull/11748

[2019-07-01 14:44] rodrigocaldas commented on #3624
tnx, it helped a lot :)

[2019-07-01 14:45] blowdart commented on #11746
Where do you get this error? Can you show us some code?

[2019-07-01 15:01] danroth27 commented on #11743
@phenning Could this have been broken by the removal of the package GUIDs from the templates?: https://github.com/aspnet/AspNetCore/pull/11707

[2019-07-01 15:01] KevinCathcart opened #11749 "[Identity] Profile page fails to maintain model on validation failure"
### Describe the bug
Identity DefaultUI's (and also the scaffold template's) Profile page fails to part of the (output) model on  (input) Model validation failure.

Bug is present in 2.2, and still present in trunk.

### To Reproduce
1. `dotnet new mvc -au individual`
2. `dotnet run`
3. Register a new user, and sign in.
4. Disable javascript (assume for the sake of argument that the user is runnin

[2019-07-01 15:06] blowdart commented on #11749
@HaoK

[2019-07-01 15:09] jkotalik opened #11750 "Launch url in webapi incorrect"
### Describe the bug
The new API template now serves WeatherForcasts, which doesn't seem intentional. Also, the launch URL when F5'ing on the project serves the incorrect URL instead of the API.
### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0.0-preview7.19351.2
2. File...new...webapi

### Expected behavior
The api launches and we receive a 404.

### Scre

[2019-07-01 15:13] aherrick opened #11751 "Method not found: 'Microsoft.EntityFrameworkCore.Metadata.Builders.IndexBuilder Microsoft.EntityFrameworkCore.Metadata.Builders.EntityTypeBuilder`1.HasIndex"
.NET Core 3.0 Preview 6

[code]
[code]

The EF Core data model is living in a `netcoreapp2.2` project being referenced by a `netcoreapp3.0` API project.

Could this be an issue? What work around is there?

Referencing the following packages in `netcoreapp3.0` project.

[code]

[2019-07-01 15:29] jkotalik commented on #11738
Hm, I've never seen this issue before. The error you are getting occurs when ANCM tries to get the processPath value and is empty. So your hypothesis about IIS not finding the config is correct.

My gut says there may be another declaration of the aspNetCore element, potentially somewhere in the global applicationhost.config in `C:\Windows\System32\inetsrv\config`. Look inside of that file for asp

[2019-07-01 15:33] isaac2004 commented on #11687
@SteveSandersonMS what do you mean there is a tooling limitation? Using this approach works just fine

[code]

[2019-07-01 15:36] mkArtakMSFT commented on #11750
Thanks @jkotalik.
The change to have `WeatherForecast` in this template was intentional. As for the start url is incorrect, that's a valid issue.

[2019-07-01 15:36] phenning commented on #11743
No, that removal should have nothing to do with your build system.

[2019-07-01 15:41] mkArtakMSFT commented on #11750
So looks like we have already an issue for the launchSettings part https://github.com/aspnet/AspNetCore/issues/11699, which will be addressed during preview9.

Thanks!

[2019-07-01 15:41] #11750 closed

[2019-07-01 15:43] SteveSandersonMS commented on #11687
It didn't used to work when the template was executed inside VS (though it did on the command line). Whether that's fixed or not yet in VS I don't know, and so it's safer to proceed assuming it hasn't been fixed, considering how close we are to the deadline for including this change. Also, it's done and merged now :)

[2019-07-01 15:43] BrennanConroy commented on #10080
Can you capture a network trace to see what the negotiate response is? It looks like the server is returning something wrong.

[2019-07-01 15:44] jkotalik commented on #11750
@DamianEdwards @davidfowl are we cool with changing the webapi in 3.0?

[2019-07-01 15:49] BrennanConroy commented on #11737
Where is `services.UseCors(...)` in relation to the other middleware? It should be before things like `services.UseSignalR(...)`.

Also, just to be sure could you try `.WithOrigins("http://localhost:3000")` (without the trailing slash) to see if that works?

[2019-07-01 15:49] jkotalik commented on #11719
This potentially could be the same issue as https://github.com/aspnet/AspNetCore/issues/8952. Can you try regenerating the https development cert by running:
`dotnet dev-certs https --clean` and `dotnet dev-certs https --trust`

[2019-07-01 15:52] dazinator commented on #11745
Thanks - this may work, but it completely bypasses VS in terms of how one would typically launch a project. So coming back to VS 2019 - how would one launch a solution, containing 2 projects (one for the asp.net core host, and the other for the blazor client), where the host is the startup project, but as you make changes to the client `.razor` files the client project is rebuilding?

[2019-07-01 15:52] BrennanConroy commented on #11690
Dupe of https://github.com/aspnet/AspNetCore/issues/6565
If you can provide any additional information to what is on that issue that would be helpful 😃

[2019-07-01 15:52] #11690 closed

[2019-07-01 15:54] BenHayat commented on #11734
In further details, when we build a server-side Blazor app with pages, and a user launches that app, Does the entire app with all the pages get transferred to the browser, just like a SPA app written in Angular or Vue?
Or does each page get transferred to browser like MVC app, as the user tries to use the page?
In a small test I did last night and watched the network, seems like once the initial a

[2019-07-01 15:55] SteveSandersonMS commented on #11745
I agree it would be a good feature.

However, it's not a feature that currently exists when launching from VS. It's something we're considering for the future.

[2019-07-01 15:57] Tratcher commented on #10497
Any way to capture a dump of the hung process and see the active call stacks?

[2019-07-01 15:58] mkArtakMSFT commented on #11549
Here is the docs article about PartialViews: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/partial?view=aspnetcore-2.2
It does contain an example too

[2019-07-01 16:01] jkotalik commented on #9600
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [ ] Relevant XML documentation comments for new public APIs are present.
    * [ ] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-07-01 16:01] jkotalik commented on #10216
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [ ] Relevant XML documentation comments for new public APIs are present.
    * [ ] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-07-01 16:01] jkotalik commented on #10215
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [ ] Relevant XML documentation comments for new public APIs are present.
    * [ ] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-07-01 16:02] k00ksta commented on #11690
It is really not a Dupe of #6565 because he could not even get a web socket to initialize for some reason .. The issues I have is that if you import the @aspnet/signalr javascript sdk into a react native project when it tries to connect to the hub it will kick back an error negotiating with the server. The same code works fine in a javascript webpage so I am unsure what is missing under the hood o

[2019-07-01 16:03] jkotalik commented on #9520
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [ ] Relevant XML documentation comments for new public APIs are present.
    * [ ] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-07-01 16:14] jkotalik commented on #10167
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [ ] Relevant XML documentation comments for new public APIs are present.
    * [ ] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-07-01 16:15] Tratcher commented on #11462
Even once per scheme would still hit the issue with forwarders I posted above.

[2019-07-01 16:27] BrennanConroy commented on #11690
Ok sure, "dupe" is the wrong word.

Tracked by https://github.com/aspnet/AspNetCore/issues/6565 is more correct.

We haven't officially supported the client working on React Native yet, but we would like it to work there.

[2019-07-01 16:31] HaoK commented on #11462
Right, I guess we don't really need to run the same transformation multiple times ever, so that flag could be implemented as something we store in the AuthenticationResult so its only ever run once (on the inner most handler, which is likely the ideal behavior most of the time)

https://github.com/aspnet/AspNetCore/blob/master/src/Http/Authentication.Core/src/AuthenticationService.cs#L77
[code]

[2019-07-01 16:35] jkotalik commented on #10768
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [ ] Relevant XML documentation comments for new public APIs are present.
    * [ ] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-07-01 16:35] pranavkm commented on #7647
@janleon https://github.com/aspnet/AspNetCore/issues/3757#issuecomment-434178759 has details on what library authors need to do to reference parts of AspNetCore. Referencing ASP.NET Core or it's libraries requires targeting `netcoreapp3.0`, so you have to cross-compile to your library.

[2019-07-01 16:54] mkArtakMSFT commented on #11366
Check out the `WebApplicaitonFactory` - that should help: https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.2

[2019-07-01 16:56] butterngo commented on #11737
Hi, @BrennanConroy  I did but it still not work with me, My Repository https://github.com/butterngo/CSharpMessageQueue, Please help me review that.
Thank you

[2019-07-01 16:59] Tratcher commented on #11739
"Application code (in Middleware Pipeline)" likely includes the MVC JSON deserializer that runs prior to UploadDocumentsController.Upload. I don't see anything else in your middleware pipeline that touches the request prior to MVC. We're going to need a profile that breaks that time down more granularly.

[2019-07-01 17:04] BrennanConroy commented on #11737
Take a look at https://docs.microsoft.com/en-us/aspnet/core/signalr/security?view=aspnetcore-2.2#cross-origin-resource-sharing

I noticed you're missing `.AllowCredentials()` which is required

[2019-07-01 17:04] mkArtakMSFT commented on #6566
Looks like I misread this. Reopening for further investigation.

[2019-07-01 17:05] Tratcher commented on #11462
That sounds promising.

[2019-07-01 17:08] mkArtakMSFT commented on #11698
@JunTaoLuo can you please handle this as soon as possible, as this has been a pain point for us.

[2019-07-01 17:09] dazinator commented on #11745
Ok thanks.

I've created a sample that you can run in VS [here](https://github.com/dazinator/NetPack.Samples/tree/blazor-reload/src) which has hot reload of a hosted blazor client application.

It reloads almost instantly when changes to static files are made (i.e in the client projects wwwroot folder). If you change `.razor` files though, it takes a bit longer for the page to reload as it must wa

[2019-07-01 17:12] butterngo commented on #11737
Hi @BrennanConroy This old code and I tried with it before that, but it's not working.
public void Configure(IApplicationBuilder app, IHostingEnvironment env)
        {

            app.UseCors(builder =>
            {
                builder.WithOrigins("http://localhost:3000")
                    .AllowAnyHeader()
                    .WithMethods("GET", "POST")
                    .AllowCredenti

[2019-07-01 17:16] mkArtakMSFT commented on #11725
Thanks for contacting us, @BenjaminCharlton.
@rynowak can you please have a look at this? Thanks!

[2019-07-01 17:18] jpseini commented on #11738
Thanks for the feedback @jkotalik. Unfortunately I don't see any duplicates. I searched the file for "aspnetcore" and only found the following results (only showing relevent nodes below, but obviously the file contains a lot of other info):

[code]

[code]

[code]

Does that look right? Any other ideas? Otherwise, my next step is to investigate and see if there is any logging I can turn on which w

[2019-07-01 17:19] mkArtakMSFT commented on #11724
@yhvicey, can you please share a repro project for this particular scenario:

As for the main issue, please use the [referenced issue](https://github.com/dotnet/corefx/issues/38641) you've found as it's external to this repo.

[2019-07-01 17:20] BenjaminCharlton commented on #11725
Thanks for looking into it! I just had a related idea... It should probably also be able to catch errors when serialising the JSON for the *HttpRequest* as well as when deserialising it from the HttpResponse, and pass them to a handler too. Does that make sense?

[2019-07-01 17:20] mkArtakMSFT commented on #11720
Thanks @ToddGrun.

@NTaylorMullen this is your to handle.

[2019-07-01 17:21] mkArtakMSFT commented on #11694
Thanks for contacting us, @satbirbaidwan.
This is fixed, as per @Eilon 's response above.

We won't be patching this for ASP.NET Core 2.2 release.

[2019-07-01 17:21] #11694 closed

[2019-07-01 17:24] mkArtakMSFT commented on #11693
This is the sad reality we're in and there's nothing worth to be done about this.

[2019-07-01 17:24] #11693 closed

[2019-07-01 17:27] mkArtakMSFT commented on #11557
Seems this didn't happen, so punting to the future to be handled during Preview 8 validation period

[2019-07-01 17:36] mkArtakMSFT commented on #6439
Thanks for contacting us, @NCC1701M.
This behavior is coming from the JSON.NET which we consume for parsing DateTime objects from the Body of the request. If you need to customize that logic, feel free to customize it.
In #11584 we are going to try to respect the current DateTime kind passed in to the Model Binding.

[2019-07-01 17:36] #6439 closed

[2019-07-01 17:36] #6422 closed

[2019-07-01 17:38] mkArtakMSFT commented on #6417
Thanks for contacting us, @jacobslusser.
We have no plans about doing this as this is not as straight forward as well as doesn't provide enough value.

[2019-07-01 17:38] #6417 closed

[2019-07-01 17:42] mkArtakMSFT commented on #6410
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-07-01 17:42] #6410 closed

[2019-07-01 17:45] benaadams commented on #11739
What size is the data? Is this in a synthetic test or from external user (i.e. is their bandwidth slow?)

[2019-07-01 17:49] mkArtakMSFT commented on #6335
Thanks for contacting us, @oferns.
This is not a supported scenario.
You can achieve this with a custom middleware, which can retry the request as necessary.

[2019-07-01 17:49] #6335 closed

[2019-07-01 17:52] mikaelm12 commented on #10575
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [ ] This is a Docs issue.
* [x] The fix contains product changes (**check all items below**).
	* [x] Relevant XML documentation comments for new public APIs are present. - Not needed
	* [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
    	* [ ] The change

[2019-07-01 17:53] mkArtakMSFT commented on #6326
Thanks for contacting us, @AlbertoPa.
We think this is a limitation with `jQueryValidation` library we rely on for Client validation. If you think this can be addressed in our library, we'll happily consider a PR.

[2019-07-01 17:57] mkArtakMSFT commented on #6306
@ryanbrandenburg have a look and see whether this still makes sense. If yes, review the PR and merge as necessary.

[2019-07-01 18:00] Tratcher commented on #10530
Verified with SDK 3.0.100-preview7-012742 for in-proc, out-of-proc, and kestrel.

[2019-07-01 18:00] jkotalik commented on #11738
The only other thing I can think of is if the schema file got corrupted. Can you confirm that the schema file `C:\Windows\System32\inetsrv\config\schema\aspnetcore_schema_v2.xml` looks like https://github.com/aspnet/AspNetCore/blob/master/src/Servers/IIS/AspNetCoreModuleV2/AspNetCore/aspnetcore_schema_v2.xml

[2019-07-01 18:01] mkArtakMSFT commented on #6200
Thanks for contacting us, @gregoryagu.
Looks like we need to update the IdentityUI to include the `area` parameter.

[2019-07-01 18:02] mkArtakMSFT commented on #6200
@HaoK can you please handle this? Thanks!

[2019-07-01 18:04] rynowak opened #11756 "Blazor API Review: HttpClient functionality"
# Blazor API Review: HttpClient functionality

Blazor currently has extension methods on `HttpClient` for using the new System.Text.Json serializer. Ultimately we want this functionality to be part of CoreFx, and not something that the Blazor team control.

As part of 3.0 we should move this functionality to another package that will keep its *preview* branding until similar convenience APIs are a

[2019-07-01 18:06] rynowak commented on #11756
@danroth27 @SteveSandersonMS - this is somewhat pressing to figure out. My main concern is:

[2019-07-01 18:16] SteveSandersonMS commented on #11756
Having it be a dependency of the template seems safer given we explicitly plan to not have it as a dependency of M.A.Blazor forever.

Also when people build a library, I don’t want them to think the right way to get these APIs is by referencing M.A.Blazor simply because doing so makes their compiler errors go away. That’s a time bomb if they do. It’s better if they have no choice but to reference

[2019-07-01 18:22] rynowak commented on #11756
This is a good point that I hadn't considered.

Dan and I were discussing in person and hadn't come up with a strong reason to choose between these - Dan has a slight preference for *dependency of M.A.Blazor* and I had a slight preference for *in the template*. Now I have a strong preference *for in the template*.

[2019-07-01 18:28] jpseini commented on #11738
Thanks again for the suggestion @jkotalik - compared the file in github with the one on my PC and they both exactly the same. Will carry on poking around my side to see if I can find anything.

[2019-07-01 18:35] jfcaldeira commented on #11549
I don't think partial views will help me in this situation because i need to write content inside, html razor etc...

something i can use in every page as a container for my content

[2019-07-01 18:44] enetstudio commented on #11741
@egil, I'm almost sure that I've seen such code in Blazor framework. But I do not remember where. My guess is that it was in a bootstrapping code; perhaps in code used in services.AddServerSideBlazor() or related...

[2019-07-01 18:45] Tratcher commented on #7750
Verified using SDK 3.0.100-preview7-012742

[2019-07-01 19:14] danroth27 commented on #11756
In the template is fine.

[2019-07-01 19:31] Stamo-Gochev opened #11760 "Control when StateHasChanged has finished"
### Is your feature request related to a problem? Please describe.
In blazor, in scenarios like [dynamically initializing components](https://github.com/aspnet/AspNetCore/issues/11338#issuecomment-505557151), it will be handy to have an option to pass a "callback" to `StateHasChanged` instead of putting the logic in a life-cycle method like `OnAfterRender`. This is somewhat more convenient and eas

[2019-07-01 19:38] KirillOsenkov opened #11761 "Razor .mpack version generation for VSMac"
Currently it seems that the .mpack for VSMac addin is produced with version 42424242. There used to be an MSBuild property `DotNetUseShippingVersions` which would generate a proper version such as `3.0.0.0`.

Also we need the Razor assemblies inside the .mpack to have proper versions and not 42.42.42.42 otherwise they fail to load because we reference the wrong version.

cc @davidkarlas

[2019-07-01 19:40] rynowak commented on #11761
Are you looking at local builds or the official build?

[2019-07-01 19:41] Tratcher commented on #10886
@JamesNK https://github.com/aspnet/AspNetCore/issues/11598

I'm marking this as Accepted based on gRPC's consumption.

[2019-07-01 19:41] voltagex commented on #11719
@jkotalik yes, that worked - I was presented with the normal Firefox self-signed cert warning and was able to proceed.

[2019-07-01 19:42] KirillOsenkov commented on #11761
The CI that produces the .mpack, but it would be nice to know what to pass on the command line to emulate the official build locally as well. We need to be able to produce the right versions as 42 is useless to us.

[2019-07-01 19:44] Tratcher commented on #11061
@JunTaoLuo for verification.

[2019-07-01 19:46] JunTaoLuo commented on #11061
Partly verified in https://github.com/aspnet/AspNetCore/pull/11473#issuecomment-505287505. I'll try it out on a preview 7 SDK.

[2019-07-01 19:50] JunTaoLuo commented on #11698
This will require expertise from the product area. Will you be able to help @javiercn ? I'm not sure if I can prioritize this above source build work in the short term.

[2019-07-01 19:51] KirillOsenkov commented on #11761
I'm guessing the logic somewhere here is relevant:
https://github.com/dotnet/arcade/blob/d71c43c7efee344c50724e8a94251f56b2a71194/src/Microsoft.DotNet.Arcade.Sdk/tools/Version.BeforeCommonTargets.targets#L18-L25

We probably need to somehow tie AddinVersion to this generated build number.

[2019-07-01 19:54] rynowak commented on #11761
Here's what I see from a recent build: https://dev.azure.com/dnceng/internal/_build/results?buildId=245555&view=results

![image](https://user-images.githubusercontent.com/1430011/60462810-2ae30e80-9bff-11e9-88c9-ca0333bb7c7e.png)

[code]

![image](https://user-images.githubusercontent.com/1430011/60462866-5239db80-9bff-11e9-8626-5fe8d6fe06f5.png)

[2019-07-01 19:59] KirillOsenkov commented on #11761
Oh interesting! That's what I need. I was looking here: https://github.com/aspnet/AspNetCore-Tooling/pull/697/checks?check_run_id=155788066

[2019-07-01 20:08] KirillOsenkov commented on #11761
Now the question is: what did your build do right and what did my build do wrong? :)

[2019-07-01 20:12] dazinator commented on #11745
One thing I have noticed - which can be seen with `dotnet watch build` - if you change a .razor file, the subsequent build takes approx 10 seconds to complete. This seems a long time to wait to see some categories of changes- for example a purely static html tweak.

[2019-07-01 20:13] KirillOsenkov commented on #11761
In other words, I need to produce an .mpack with the correct versions (as in your screenshots above) for this PR: https://github.com/aspnet/AspNetCore-Tooling/pull/697

and in the future in all other places of course.

[2019-07-01 20:14] mkArtakMSFT commented on #11549
Think about PartialViews as reusable views, which can contain both html and razor content. You can then use the [Partial Tag Helper](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/partial-tag-helper?view=aspnetcore-2.2) to reference them from different pages/views.

[2019-07-01 20:29] isaac2004 commented on #11700
@mkArtakMSFT fix is in one of my PR

[2019-07-01 20:31] rynowak commented on #8214
@danroth - is there anything we're tracking by leaving this issue open? I thought we did this.

[2019-07-01 20:31] Puthranps opened #11762 "Possible Bug with Razor Compiler regarding the RenderTreeBuilder"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
Error relating to the generated .razor.g.cs file where the Render

[2019-07-01 20:36] Andrzej-W commented on #9386
@rynowak Unfortunately we cannot ignore the fact that any web site have to be properly indexed by search engines. Otherwise this site simply "does not exists". Recently I have read the study and it looks that people who want to open `google.com` search for `google`! It is interesting that they prefer to hit Enter and then use mouse to click on the link in the search results than simply write addit

[2019-07-01 20:40] alexandrereyes opened #11763 "Razor class library and assembly name with points"
Since preview 6, static assets are supported in Razor Class library, but it doesn't work if you have point in assembly name, for example:
MyCompanyName.Components
In the browser, 404 is show f you try to referenced in the main page:
`<script src="_content/MyCompanyName.Components/hello.js"></script>`

[2019-07-01 20:44] mkArtakMSFT commented on #4802
Hi folks.
We had a long conversation about this change and evaluating risks associated with potential fixes.
The conclusion is that we won't be able to patch this for the 2.2 release. Given that 3.0 will ship in just couple of months, we recommend customers switch to 3.0 instead, as the scenario is fundamentally fixed in it.

We understand that this is not ideal, but it's much better than shipping

[2019-07-01 20:44] #4802 closed

[2019-07-01 20:52] danroth27 commented on #11763
This should now be fixed by https://github.com/aspnet/aspnetcore-tooling/pull/700.

[2019-07-01 20:52] #11763 closed

[2019-07-01 20:52] michaelschmit opened #11764 "401 on OPTIONS xhr call when Windows Authenication is Enabled"
I've been battling through this issue for a few days now, and I seem to be running into various road blocks. First, it seems as though with windows authentication enabled OPTIONS http requests get 401'ed by the browser and negotiation doesn't kick in which results in the CORS request failing (not SignalR's fault in anyway).  I've validated this fact by enabling anonymous authentication which resul

[2019-07-01 20:53] BenHayat opened #11765 "VS Suggestion"
Hello Team;

Within Visual Studio for Blazor apps, I'd like to suggest two different folders:
Pages
Components

Components would hold the individual blocks or components to represent an individual component.

Pages however represent the full size view or page that is made up of many components.

This separation and guideline helps organizing large number of components and pages.
Taking it one step

[2019-07-01 20:53] mkArtakMSFT commented on #5068
Moving this to 3.1 as the validation of this change is much bigger than the actual change. Also bumping up the cost to account for validation too.

[2019-07-01 20:59] Andrzej-W commented on #11197
Thank you @SteveSandersonMS for explanation.

[2019-07-01 21:11] rynowak commented on #11312
https://github.com/aspnet/AspNetCore/pull/11752

[2019-07-01 21:13] BrennanConroy commented on #11764
CORS has to run before Windows Auth if you don't allow anonymous access.

In order to make this work with IIS you'll need to install and configure the [cors module](https://www.iis.net/downloads/microsoft/iis-cors-module).

[2019-07-01 21:17] Andrzej-W commented on #11726
@rabberbock `@` sign before `onclick` was not required in earlier versions of Blazor but it should be used in preview6 and newer. Currently Blazor supports both syntaxes but the old one without `@` will be removed soon.

[2019-07-01 21:24] Tratcher commented on #6845
@dougbu `clean.cmd` deleted the ts client again. Seems like the exclusion didn't work?

[2019-07-01 21:30] HaoK commented on #8325
Didn't notice this one since it wasn't assigned to me, will fix it in preview 8

[2019-07-01 21:30] #11619 closed

[2019-07-01 21:33] vmandic commented on #8952
Hi. Same issue for me `3.0.100-preview6-012264`  (OS Win 8.1), have installed VS2019 16.1.1. Verified out with `dotnet new blazorhosted`. I tried cleaning the certs (closing chrome) with the dotnet tool and trusting again but no help.

[2019-07-01 21:42] dougbu commented on #6845
@Tratcher I don't understand what's happening here. Directly running the `git` command causes something similar and `git reset --hard` only restores exactly that `node_modules` folder. Worse, the behaviour isn't 💯% consistent.

My only thoughts are:
1. Try a more general exclusion e.g. `-e node_modules/` and combine that with specific `Remove-Item` commands
2. Remove the exclusion entirely but add

[2019-07-01 21:42] BrennanConroy commented on #11737
@butterngo I downloaded your app and changed the CORS snippet to:
[code]

And fixed the "AllowedHosts" configuration in "appsettings.Development.json" and the app now works.

[2019-07-01 21:43] Tratcher commented on #8952
@vmandic HTTP/2 isn't supported on Win8.1, you'll need to turn it off.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.2#http2-support

[2019-07-01 21:48] Tratcher commented on #6845
The exclusion is relative to the current directory. Is the redirect to ps1 messing with that? Or does this repro running the ps1 directly?

[2019-07-01 21:52] jkotalik commented on #8952
@Tratcher we should probably disable HTTP2 by default if running on Win7 or Win8

[2019-07-01 21:57] Tratcher commented on #8952
@jkotalik open a new issue for triage please. In theory it can work on Win8.1, there's just an issue with the cypher ordering and getting a cert that supports some of the alternate cyphers.

[2019-07-01 22:00] #10573 closed

[2019-07-01 22:03] dougbu commented on #6845
The redirect to the .ps1 file doesn't make any difference. I've seen issues when running the script or the `git` command in the repo root. And, only users make any use of this script -- it's not part of any automation.

[2019-07-01 22:11] mikaelm12 commented on #10309
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [ ] This is a Docs issue.
* [x] The fix contains product changes (**check all items below**).
	* [x] Relevant XML documentation comments for new public APIs are present. - Not needed
	* [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
    	* [ ] The change

[2019-07-01 22:30] Andrzej-W commented on #11734
Blazor server side uses WebSockets for communication. In short it works like this:
1. Browser sends request to the server and loads first page. This page can be prerendered so it looks like normal Blazor page but it is not interactive.
2. Page includes link to blazor.server.js file. Browser loads this file and code in this file makes WebSocket connection. In Chrome you can see it here:
![obraz](ht

[2019-07-01 23:15] mkArtakMSFT commented on #11765
Thanks for contacting us, @BenHayat.
This is not something we plan to do in the near future. We would like rather to observe the community feedback on the existing templates when they ship, to get a better idea how people are using it and what are the pain points. Then only we will be able to identify areas for future improvements in templates.
As for the areas, could you please file a separate is

[2019-07-01 23:15] #11765 closed

[2019-07-01 23:21] mkArtakMSFT commented on #11762
Thanks for contacting us, @Puthranps.
Can you please provide a small repro, as it's not really clear the exact steps to get to this issue. Is it any component from BlazorStrap or a specific one?
It would be ideal, if you could share a project hosted as a repository in GitHub.

[2019-07-01 23:33] danroth27 commented on #11762
@Puthranps shared the problematic code with me. It looks like this is an issue with HTML comments in `@functions` blocks.

[code]

Results in this broken code gen:

[code]

[2019-07-01 23:43] Puthranps commented on #11762
@mkArtakMSFT If you want I can email or message you on teams for a zip file

[2019-07-02 00:04] genifycom opened #11776 "mvc routing"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.

### To Repro

[2019-07-02 00:14] #11756 closed

[2019-07-02 00:14] #10505 closed

[2019-07-02 00:16] benaadams opened #11778 "10% Regression in Plaintext Pipelined"
![image](https://user-images.githubusercontent.com/1142958/60473871-0ae73580-9c67-11e9-89fd-ce121188b641.png)

[2019-07-02 00:56] rynowak commented on #11610
There's a little subtle wierdness here.

Usually if we provide sync and async methods the async one calls the sync one. However, we call both, so if you override `OnFooAsync` and `OnFoo`, you'll see `OnFooAsync` called first and then `OnFoo`. This is a little surprising but you'd only notice if you override both methods.

However, this is also necessary because we expect inheritance to work with c

[2019-07-02 01:15] Andrzej-W commented on #11726
@SteveSandersonMS I'm impressed by this line of code https://github.com/SteveSandersonMS/presentation-2019-06-NDCOslo/blob/7169cf82755cee0ae6922c6344f33f33743513c2/demos/MissionControl/MissionControl.Server/Controllers/AgentsController.cs#L21

You have Hans Kloss but no James Bond! Have you ever seen this film? From Wikipedia:

I saw it when I was a few years old. It is oficialy available online b

[2019-07-02 01:54] NickCraver opened #11780 "@addTagHelper should give better user feedback for failures"
I've lost a lot of time to tag helpers _after_ reading the docs. While they have been improved by clarifying the include is the assembly and not the namespace, there's still more that should be relayed to the user.

For example, I have a tag helper that works fine in 2.x, but breaks in 3.0. I have no idea why it's not registering, but it's not. My includes are:
[code]

Importantly, that looks like

[2019-07-02 02:14] vincentparrett commented on #11780
I had issues with taghelpers in v3 #9766 with smidge, and it had to do with the references... they moved the cheese in v3 (moving stuff to sdk rather than packages) and referencing the v2 assemblies did not work. [Smidge issue](https://github.com/Shazwazza/Smidge/issues/89) - the only way I could get past this was to create a netcoreapp3.0 package, netstandard 2.0 taghelpers don't just work with p

[2019-07-02 02:21] #11776 closed

[2019-07-02 02:22] davidfowl commented on #11776
Please file an issue with the template filled out.

[2019-07-02 02:33] NickCraver commented on #11780
@vincentparrett Thanks a ton for that. Indeed it was my issue! I think this will trip a lot of people up in the upgrade (after all, we were advised to target `netstandard2.0`...). I'm in the same boat of being at a complete loss as to why this was failing.

[2019-07-02 02:54] yhvicey commented on #11724
Ok I know what happend. I forget to add `Microsoft.AspNetCore.Mvc.NewtonsoftJson` package to my API project, but it's introduced by `Swashbuckle.AspNetCore.SwaggerGen` with version `3.0.0-preview3-19153-02`. With this specific version, `.AddNewtonsoftJson()` call won't change anything and it will still use the `System.Text.Json`. The issue is fixed for me by install the latest version of this pack

[2019-07-02 02:54] #11724 closed

[2019-07-02 03:14] bluedog13 opened #11783 "Core 2.2 - Integration tests - Bearer Token length restriction (756 chars)"
Integration test fails when I have to supply a bearer token and the token length is greater that 756 characters.

    _client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer",
            _token.Text));

results in
System.FormatException : The format of value 'Bearer S0.....  is invalid exception.

However, the below works (but the token is invalid at this point)

    _

[2019-07-02 03:48] JamesNK opened #11785 "Endpoint diagnostics metadata"
We've just added an endpoint matched event to diagnostic listeners with https://github.com/aspnet/AspNetCore/pull/11685

From this event AppInsights/OpenTelemetry can get the HttpContext, and the matched endpoint via `HttpContext.GetEndpoint()` and then look at endpoint metadata. Endpoints produced by app frameworks are adding typed metadata about the endpoint to `Endpoint.Metadata`. For example,

[2019-07-02 03:52] weitzhandler commented on #4539
Hi folks,

I'm setting up the identity as follows:

[code]

Then in the `OnModelCreating` I'm initializing a user like this:
[code]

When I go to the login page and try to login with the provided email/password, I get an error "Invalid login attempt".
Why is that?

[2019-07-02 04:06] JamesNK commented on #11785
Thinking about this more, it does kind of serve the same purpose as the hosting activity and its tags collection. Tags are already untyped string name/values.

Maybe the contents of `EndpointDiagnosticsMetadata.Diagnostics` would automatically be set onto the hosting activity by `EndpointRoutingMiddleware` if diagnostics is enabled.

The benefit is telemetry frameworks can get this info when an en

[2019-07-02 04:39] karthickthangasamy commented on #11174
@minhhieugma : I hope, for SSR we have to refer it manually like the below. Let's wait for others thoughts about including the assets automatically as like client-side application.

[code]

[2019-07-02 04:48] weitzhandler opened #11786 "ASP.NET Core identity UI requests email but uses username"
### Describe the bug
Hi folks,

I'm setting up the identity as follows:

[code]

Then in the `OnModelCreating` I'm initializing a user like this:
[code]

When I go to the login page and try to login with the provided email/password, I get an error "Invalid login attempt".
Why is that?

I tried using a custom sign-in manager, and I see that the `public override Task<SignInResult> PasswordSignInAsyn

[2019-07-02 05:12] butterngo commented on #11737
@BrennanConroy Thank you, it's working with me.

[2019-07-02 05:13] #11737 closed

[2019-07-02 05:20] BenHayat commented on #11734
@Andrzej-W
I appreciate your time but it didn't address my core question.

As a server-Side Blazor:

A) should all pages go into a single Blazor app, just like we would do in MVC?
B) Or create 4 projects (Website be the default when app starts) and when user logs in, then the related project gets called?
C) Or other ideas?

[2019-07-02 05:37] Swellenator opened #11787 "[Blazor-Identity-AzureADB2C] The required antiforgery cookie ".AspNetCore.Antiforgery.pzoWNwSwICA" is not present"
### Describe the bug
Using Blazor Server Side template with Azure AD B2C, get an antiforgery cookie exception:

`Microsoft.AspNetCore.Antiforgery.AntiforgeryValidationException
  HResult=0x80131500
  Message=The required antiforgery cookie ".AspNetCore.Antiforgery.pzoWNwSwICA" is not present.
  Source=Microsoft.AspNetCore.Antiforgery
  StackTrace:
   at Microsoft.AspNetCore.Antiforgery.DefaultAnti

[2019-07-02 05:38] weitzhandler commented on #11786
I notice something weird:"

    public override async Task<SignInResult> PasswordSignInAsync(string userName, string password, bool isPersistent, bool lockoutOnFailure)
    {
      userName = userName.Split("@")[0];
      // val is assigned to the user I'm after
      var val = await UserManager.Users.SingleOrDefaultAsync(u => u.UserName == userName);
      // remains null!
      var val2 = await

[2019-07-02 05:43] vishwas-trivedi opened #11788 "ASP.NET 2.2 In-MemoryDB does not free memory even when records are deleted."
### Describe the bug
I tried creating a sample application to test the feature of InMemoryDatabase in asp.net core 2.2, What I found out was that even when you delete a record from in-memory database, the it does not release the memory(confirmed from task manager).

I have created following API to add and delete records from in-memory DB :

[code]

My Startup.cs file looks like following :

[code]

[2019-07-02 05:57] clauzf opened #11789 "[JWT] TokenValidationParameters RoleClaimType Not Fully Respected"
### Describe the bug
After passing value to RoleClaimType. It can no longer pass `Authorize(Roles="")`.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2'
2. Run this code

Startup.cs
[code]

TokenService.cs
[code]

AuthController.cs
[code]

3. With these arguments '....'
N/A

4. See error
Fail to authorize. User.Claims contains incorrect claim type.
[co

[2019-07-02 06:26] HaoK commented on #11232
Including the working code isn't as helpful as including the code that is causing the error, can you include that as well?

[2019-07-02 06:29] HaoK commented on #11749
Dupe of https://github.com/aspnet/AspNetCore/issues/11519

[2019-07-02 06:32] HaoK commented on #11146
Dupe of https://github.com/aspnet/AspNetCore/issues/7155 which was fixed in preview7

[2019-07-02 06:32] #11146 closed

[2019-07-02 07:17] lukepuplett commented on #11563
Coincidently, David Fowler posted a Gist showing how few lines of code are needed to create a working microservice on ASP.NET Core 3.0.

https://gist.github.com/davidfowl/1fdbc02ef9511e2729a914a8c9f3ab27#gistcomment-2959243

I pushed back on this as I think it celebrates the wrong metric. If you had somehow had metrics on the number of people getting stuck using auth, that might be more to celebra

[2019-07-02 07:27] jpseini commented on #11738
An update on this for reference @jkotalik  - I installed the exact same app, using the exact same steps on one of our dev servers (as opposed to my local DEV machine), and it seems to be working without issue.

So the issues appears to be environment related. I compared the two "IIS features" installed, and brought my DEV box in sync with the server, but still the same error.

For reference:
Dev m

[2019-07-02 07:31] KevinDockx opened #11790 "Invalid JSON throws exception on deserialization when used in API controller action"
### Describe the bug

The new JSON parser throws an exception when you input invalid JSON and try to deserialize it.  That might be expected behavior, but it results in a problem when using the parser as an input formatter: a 500 internal server error.

### To Reproduce
I'm using ASP.NET Core 3 preview 6.

Take this controller & dummy class code:

[code]

Use a tool like Postman to POST something

[2019-07-02 08:08] conficient commented on #11679
Thanks @rynowak  - yes I wanted to get rid of boilerplate `<div class="form-group"><label>....` around each input control so my forms are simpler. I'll try what you suggest.

[2019-07-02 08:28] serpent5 commented on #6304
I landed here because [Build ASP.NET Core from Source](https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md) explains how I need to run the installers and configure NuGet to look at the packages folder in order to be able to "use the result of your build", but there are no runnable installers and the packages folder is almost empty. The earlier sections in the instructions don'

[2019-07-02 08:44] poke commented on #11780
Except that pretty much nothing about ASP.NET Core 3 is available on netstandard2.0 (the few bits that are on standard are on 2.1).

And if you happen to use any MVC-related stuff in your library, you *will have* to move to netcoreapp3.0. That is the effect of ASP.NET Core moving to .NET Core only.

But I agree that this should be communicated more clearly, especially to library authors. There sho

[2019-07-02 08:50] lailaDev commented on #11746
![Capture](https://user-images.githubusercontent.com/50982899/60498473-efa41680-9cb6-11e9-92e5-428203ad9a22.PNG)

You can see my attached file.

[2019-07-02 09:04] SteveSandersonMS commented on #11760
I see. Yes, that would be convenient in some cases.

The drawback is that then the framework would have to do some extra internal tracking, so it could remember all the callbacks and their associations with different rendering requests. We'd need some new internal data structures which would involve extra heap allocations during the render cycle.

Since this is an unusual case and handling it come

[2019-07-02 09:04] #11760 closed

[2019-07-02 09:10] SteveSandersonMS commented on #11743
Fixed in https://github.com/aspnet/AspNetCore/pull/11748

[2019-07-02 09:10] #11743 closed

[2019-07-02 09:16] Stamo-Gochev commented on #11760
Thanks @SteveSandersonMS, the suggested approaches are viable. The idea was about providing an additional convenient way of handling the same, but as this comes at a cost, then `OnAfterRenderAsync` will be used instead.

Out of curiosity:

are there any ideas for a general improvement that will probably make the extra heap allocations not that critical according to performance? I suppose that this

[2019-07-02 09:22] SteveSandersonMS opened #11791 "Ensure server-side Blazor failure modes are correct (e.g., clients can't cause a global unhandled exception)"
This is part of https://github.com/aspnet/AspNetCore/issues/10472

Clients shouldn't be able to make the process terminate, whether accidentally or deliberately.

Currently there may be cases where they can (e.g., with JSInterop, sending a call with an unknown object ID).

We need to check:

- [x] All places where we receive input from the client. Ensure there's no way that accidentally or deliber

[2019-07-02 09:24] SteveSandersonMS commented on #11791
@javiercn I've assigned this to myself because this is part of #10472, but I understand you're already doing some work in this area. Can we coordinate to figure out which parts of this you're doing?

[2019-07-02 09:26] SteveSandersonMS opened #11792 "Expand Blazor logging and diagnostics"
This is part of https://github.com/aspnet/AspNetCore/issues/10472

Ensure developers can trace all the major things that happen in a server-side Blazor application (e.g., circuits starting/ending) with a special focus on all incoming calls from the client (event notifications, JSInterop calls, renderbatch ACKs).

- [x] Outbound JS interop calls (.NET to JS)
  - [x] Call sent
  - [x] Reply received

[2019-07-02 09:28] SteveSandersonMS opened #11793 "Guidance for cross-server state management in Blazor"
This is part of https://github.com/aspnet/AspNetCore/issues/10472

Provide examples/guidance around state management when reconnecting to a different server.

This can include patterns like storing state in localStorage or a database, and addressing the question of whether/how to restore some level of UI state. For server-side state storage, how do we associate the state with the circuit, and how

[2019-07-02 09:30] SteveSandersonMS opened #11794 "Guidance for error handling in Blazor"
This is part of https://github.com/aspnet/AspNetCore/issues/10472

Enumerate all the places we'd expect a developer to write some manual error handling code so we can document and explain them.

With respect to the different boundaries between framework and application code (lifecycle
methods, event handlers, dispose, DI services, rendering, etc.), which of them will terminate the circuit if there

[2019-07-02 09:36] SteveSandersonMS commented on #11760
GC is always a major consideration for perf on .NET. We've done a lot of work in ASP.NET Core generally, and Blazor specifically, to minimize GC costs, and I expect that to continue indefinitely. Our goal is to make the framework as GC-light as possible so that application developers have more headroom to do what they want that might stress the GC more.

There's probably no magic bullet to fix thi

[2019-07-02 09:40] javiercn commented on #11791
Yep. Here is a list of stuff

* Invoke .NET interop with malformed JSON data
* Invoke JSInterop completion with malformed JSON data
* Invoke .NET interop with invalid .NET object ref
* Invoke .NET interop with empty string assembly.
* Invoke .NET interop with empty string method identifier.
* Invoke .NET interop non invokable method.
* Invoke .NET interop non existing method.
* Invoke .NET interop

[2019-07-02 10:01] SteveSandersonMS commented on #11791
OK, @javiercn and I discussed: he's going to deal with resilience of JS interop cases (ensuring we fail in sensible ways and that clients can't cause a global unhandled exception in any case).

I'll deal with the prevention of global exceptions in other places.

[2019-07-02 10:02] SteveSandersonMS commented on #11792
@javiercn and I have discussed this. Similar to https://github.com/aspnet/AspNetCore/issues/11791, he's going to deal with logging for JS interop. I'm going to deal with it for other areas.

[2019-07-02 10:12] javiercn commented on #11791
@SteveSandersonMS can we also have bullet points for other areas? Even just to confirm that those are handled. I will have to look at other areas no matter what for completeness from the security point of view, I just want the list to be common and in one place, does that make sense?

[2019-07-02 11:14] EnricoMassoneDeltatre opened #11795 "Asp.NET core 2.2: guidelines for registering classes derived from CookieAuthenticationEvents and AuthenticationHandler<TOptions> on Microsoft DI container"
Hi,

I would like to know if there are some guidelines related to the registration of classes derived from `CookieAuthenticationEvents` and `AuthenticationHandler<TOptions>` on the ASP.NET core DI container (I'm using ASP.NET core 2.2 with the built in DI container).

In the example available [here](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-2.2#rea

[2019-07-02 11:39] EnricoMassoneDeltatre commented on #11678
Hi,

I tried out the solution of skipping negotiation from the JS client and I confirm that it works fine, event when the web application is scaled out to multiple instances.

Just as a reference for the readers, the connection options required are the followings:

[code]

So, by using only web sockets we are able to use signal-r core on an horizontally scaled web application **without** enabling

[2019-07-02 12:16] Yeganloo opened #11796 "[JWT] [AudienceValidator] Needs Request details during token validation!"
### The "AudienceValidator" delegate need to pass the url referrer of current request!

In my case, there is no such a thing as trusted audience! all of them can be valid but no one may use the token that is generated for someone else! so plan to implement the AudienceValidator delegate and compare the token audience with current url referrer, but there is no official way to access current request

[2019-07-02 12:17] ririlele commented on #10971
Still issues with intermediate certs here! lovelangy is referring to a user permissions issue in Microsoft OS environment whilst I am referring to Kestrel on Linux issue to do with how the certs are /are not being picked up during handshake request (same issue as scott-a-allard).

[2019-07-02 12:39] enetstudio commented on #11786
The identity UI should ask for username instead of email

As far as I know, username and email are interchangeable. In other words, username is the email. The field username in the database is filled with the email data.

[2019-07-02 12:48] blowdart commented on #11796
Referrer is not a security mechanism, nor is it part of any standard JWT validation mechanism.

[2019-07-02 12:49] enetstudio commented on #11790
Note ThowJsonException in at System.Text.Json.ThrowHelper.ThowJsonException(String message

This should be corrected...

[2019-07-02 12:49] blowdart commented on #11795
There are no guidelines, we haven't expected anyone to inherit from it.

What are you trying to solve that needs a new cookie handler?

[2019-07-02 12:53] blowdart commented on #11789
Validation is provided by the AAD JWT Handler. I can't move your issue, but you should [open an issue with them](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues).

[2019-07-02 12:53] #11789 closed

[2019-07-02 12:54] blowdart commented on #11786
By default in the templates username and password are synchronized. If you want to move away from this expectation you need to adjust the UI according to your needs.

[2019-07-02 13:03] blowdart commented on #11413
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-07-02 13:03] #11413 closed

[2019-07-02 13:03] blowdart commented on #10891
Closing as we feel a community effort would be best

[2019-07-02 13:03] #10891 closed

[2019-07-02 13:04] blowdart commented on #10388
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-07-02 13:04] #10388 closed

[2019-07-02 13:13] EnricoMassoneDeltatre commented on #11795
Hi,

I apologize because probably my question was not clear.

I have two classes that are **not** related in any way.

One it's a class deriving from `CookieAuthenticationEvents` that I am using with the **built in** cookie authentication, there is **not** a custom `CookieAuthenticationHandler` in my code. I'm doing exactly the same thing [documented here](https://docs.microsoft.com/en-us/aspnet/c

[2019-07-02 13:15] Yeganloo commented on #11796
It's not about standards, and i'm not talking about Token structure. You can look it as a user defined claim, instead of header part one!
There is a usage scenario and as i told, it's a restriction defined by project business. This time it is Url referrer for me but it seems to be useful if request details be accessible during all steps of Token validation process!

[2019-07-02 13:28] Stamo-Gochev commented on #11760
Seems like there is a way to await `StateHasChanged` by using [ComponentBase.Invoke](https://github.com/aspnet/AspNetCore/blob/5502cf46706a25c39ce78a57b9191714c0eb40c2/src/Components/Components/src/ComponentBase.cs#L146), which makes the callback or async version ideas redundant. The idea with `Task.Run(() => StateHasChanged())` fails, but `Invoke` uses the correct synchronization context.

[2019-07-02 13:31] blowdart commented on #11796
This isn't something we're set up for, nor is [identity model](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet), which provides the validation functions. They'd have to provide a way to pass extra, random parameters before we could implement anything like this.

[2019-07-02 13:35] blowdart commented on #11795
Thanks for the explanation :)

@HaoK  @Tratcher for educated opinions

[2019-07-02 13:57] EnricoMassoneDeltatre commented on #11795
Thanks !

[2019-07-02 14:15] RyanHill-MSFT commented on #11678
@EnricoMassoneDeltatre you're right, the cookie is at the app service level. So if the traffic manager happens to route the client to a different endpoint (i.e. *-east.cloudapp.net vs *-west.cloudapp.net), AAR affinity gets a new cookie because the prior cookie becomes invalid. Therefore, sticky sessions wouldn't be possible in the scenario you mentioned.

[2019-07-02 14:26] SteveSandersonMS commented on #11787
Could you please compare what you're doing with what the project template does? The template supports Azure ADB2C out of the box when you choose "Individual" authentication then choose the ADB2C sub-option.

What does your code do that's different from the default template output?

[2019-07-02 14:28] DAllanCarr commented on #11788
It will not reclaim memory during normal usage. I would question whether it will release memory even under high gc pressure. The database is rooted as a dependency tied to the the service provider so it will be held across contexts.

[2019-07-02 15:00] aherrick commented on #11366
Hey @mkArtakMSFT thanks for the help. What exactly is your solution here? do you have an example with Blazor showing this off? thanks

[2019-07-02 15:01] SHAGGAR commented on #11793
It would be cool if in addition to this kind of cross-server state management there could also be a way for the application to do cross-browser state management.  I'm mostly thinking of scenarios where the user's browser is closed and then they reopen the application.  This could be because the browser crashed or the user went to lunch or maybe they just closed the browser cause that's what users

[2019-07-02 15:03] tsmccartan commented on #11144
How do I get this fix for all my calls?  Do I need to wait till preview 7?

[2019-07-02 15:31] SteveSandersonMS commented on #11791
Here are a list of all the statics in `Microsoft.AspNetCore.Components`:

**Still to do**: similar investigation for .Server and .Browser

---

## Action needed

- Make readonly
  - EventCallbackFactoryBinderExtensions.ConvertToBool/ConvertToNullableBool
  - InputNumber<T>._parser
  - InputNumber<T>._stepAttributeValue
- UIEventArgs.Empty
  - This may get passed to application code then mutated (y

[2019-07-02 15:34] mkArtakMSFT commented on #11762
Thanks @Puthranps. I have it now 👍

[2019-07-02 15:42] vsfeedback opened #11797 "Angular SPA Template App served from dist in Dev mode"
<p>I was wondering why my code changes weren't showing up when I modified the ClientApp code. Usually it refreshes the page. <br><br>No matter what change I made I was still getting old code.<br><br>After looking at the code, I determined it was serving the client app from the ClientApp/dist folder. This is while I was running in Development mode. I deleted the dist folder and everything started w

[2019-07-02 15:44] mkArtakMSFT commented on #11797
Hi Bob. We'll review the issue one more time and get back to you soon.

[2019-07-02 15:58] aday12345 opened #11798 "Signalr Question"
Is it possible to store a value or list of values that can be shared between all connections to the Signalr server or at least within the group . We initiate a process for a group and do not want to allow another one to be started until the first one it complete.

Also when a client joins a group i want to be able to detected that a process is in progress and send that back to the client that a pr

[2019-07-02 16:00] mkArtakMSFT commented on #11144
Yes @tsmccartan. this will be part of preview 7 release.

[2019-07-02 16:05] mkArtakMSFT commented on #11366
Actually, I take that back. The WebApplicationFactory won't help here. For Blazor specifically, we don't have a good solution at the moment. However, we do have something in development, which we hope will turn into something similar to WebApplicationFactory but for Blazor.

[2019-07-02 16:07] michaelschmit commented on #11764
I wasn't aware of this IIS module.  With some fiddling I was able to make this work.  I appreciate the assistance.

[2019-07-02 16:07] #11764 closed

[2019-07-02 16:26] pranavkm commented on #11790
This should be fixed as part of https://github.com/aspnet/AspNetCore/issues/8474. We were missing APIs to return a meaningful 400 prior to this release.

@enetstudio looks like the typo was fixed - https://github.com/dotnet/corefx/blob/8e2f9a765f6533d17e711365ce2a3064b8d1dfc6/src/System.Text.Json/src/System/Text/Json/ThrowHelper.Serialization.cs#L65

[2019-07-02 16:27] rynowak commented on #11791
Also think about whether these cases have good unit tests. Many of these could easily be covered.

[2019-07-02 16:30] rynowak commented on #11791
This is a good list 👍

[2019-07-02 16:36] mkArtakMSFT commented on #11716
Thanks for contacting us, @ApocDev.
We're heads down working on finalizing the 3.0 release and will be able to get to this only after that.

[2019-07-02 16:37] mkArtakMSFT commented on #11711
This is essentially the same ask: https://github.com/aspnet/AspNetCore/issues/11716

[2019-07-02 16:37] #11711 closed

[2019-07-02 16:38] mkArtakMSFT commented on #11710
Thanks for contacting us, @DumboJetEngine.
This is not something we plan to do.

[2019-07-02 16:38] #11710 closed

[2019-07-02 16:38] mkArtakMSFT commented on #11483
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-07-02 16:38] #11483 closed

[2019-07-02 16:39] pranavkm opened #11799 "Using RenderStaticComponentAsync in default template results in exception"
Steps

* Create a new blazor template `dotnet new blazorserverside`
* Edit `_Host.cshtml` and replace `RenderComponentAsync` with `RenderStaticComponentAsync`
* `dotnet run`

This results in an exception:

[code]

[2019-07-02 16:39] Eilon commented on #11788
@ajcvickers / @divega / @smitpatel - should this move to the EF repo? (Even if by-design.)

[2019-07-02 16:40] Eilon commented on #11783
@Tratcher - is this Security, HttpClientFactory, or something in CoreFX?

[2019-07-02 16:43] #11798 closed

[2019-07-02 16:44] Tratcher commented on #11783
Can you give the full stack trace?

[2019-07-02 16:46] SteveSandersonMS commented on #11791
Statics in `.Server`, all of which are OK:

### Consts

- BlazorPackHubProtocol.ProtocolVersion
- Sequence<T>.DefaultLengthFromArrayPool
- SequenceSegment.IsValueTypeElement
- CircuitHost.Log.*
- CircuitPrerenderer.CircuitHostKey
- CircuitPrerenderer.NavigationStatusKey
- CircuitRegistry.Log.*
- RemoteRenderer.CanceledTask
- RemoteRenderer.Log.*
- ComponentHub.CircuitKey
- ComponentHub.DefaultPath

[2019-07-02 16:49] SteveSandersonMS commented on #11791
And for .Browser:

### Const-likes

- BrowserUriHelperInterop.*

### Async-local

- RendererRegistry._current

### Action needed

- RendererRegistry._globalRegistry
  - This is only intended for use when running on WASM. AFAIK, there's no way it could be used in server-side code. *However*, there's not any super-explicit mechanism to guarantee we don't introduce any future bug whereby it does get

[2019-07-02 16:53] joetherod opened #11800 "Clear Unused Runtime Compiled Views"
My app reads its razor views from the database. The database of these razor views are managed via a tenant based cms application. This is accomplished using the IFileProvider, IViewLocationExpander, IDirectoryContents when I configure the RazorViewEngineOptions at Startup.

Is there a way to clear these runtime compiled views on demand or if the virtual file view is not used after a certain amount

[2019-07-02 16:59] NTaylorMullen commented on #8070
@aodl this was fixed in our preview7 release by @pranavkm (pranav feel free to edit this comment to reflect the proper time frame if i'm wrong).

[2019-07-02 17:07] ReubenBond opened #11802 "Unable to build repo: Unable to find package Microsoft.DotNet.Arcade.Sdk"
### Describe the bug

I am attempting to build this repo, following the instructions from [BuildFromSource.md](https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md).

I'm trying to build master, which is at commit `8a7508d8183968d1b96d259cf8bcc5bbb85981b5` at the time of writing

When I execute `restore.cmd`, it errors out with this output:
[code]

### To Reproduce

Here are al

[2019-07-02 17:15] NTaylorMullen commented on #11761
O_o I must be missing something. Why do you need to produce the mpack separately? 😄

[2019-07-02 17:17] #11188 closed

[2019-07-02 17:17] ReubenBond commented on #11802
Solved - the problem was that I had disabled the `dotnet-core` source in my user-level NuGet.config. I fixed it by removing this override.

[2019-07-02 17:17] #11802 closed

[2019-07-02 17:18] Tratcher commented on #11783
Are you sure it's a length issue and not a format issue? E.g. is the character at index 756 invalid? It's pretty strange a truncated token would be considered valid. Can you give a sample token without any personal information? Or send it to the e-mail in my profile?

AuthenticationHeaderValue doesn't verify the length or format of the token.
https://github.com/dotnet/corefx/blob/86ef1c507faa24ca4

[2019-07-02 17:30] rjvdboon commented on #5342
It seems #10872 is done now

[2019-07-02 17:30] weitzhandler commented on #11786
But it can't retrieve the user by neither email or username:

![image](https://user-images.githubusercontent.com/2716316/60533343-1179b980-9d08-11e9-87ca-594b0836a983.png)
 In the code example above, except for `val`, `byEmail` `val2` and `val3` are all null.

[2019-07-02 17:32] #5431 closed

[2019-07-02 17:33] mikaelm12 commented on #5342
Yeah, #10872 came in right at the end of preview 7 so this will now go into the preview 8 milestone. I can go ahead and finish this up.

[2019-07-02 17:48] BrennanConroy commented on #11778
Caused by https://github.com/aspnet/AspNetCore/commit/bcb59fa5c9082de1a53234edfecd3b918c5340e6

Can verify by using
**Before:**
aspnet: 3.0.0-preview7.19328.3
net: 3.0.0-preview7-27825-08

**After:**
aspnet: 3.0.0-preview7.19328.5
net: 3.0.0-preview7-27825-08

[2019-07-02 18:11] stephentoub opened #11804 "Pipeline exceptions while stressing HTTP/2"
While running the simple HttpClient stress tests in , as described in https://github.com/dotnet/corefx/issues/38911#issuecomment-507722749, I'm seeing a variety of pipeline-related exceptions on the server.

[code]

It also sometimes shows up like this:
[code]

and sometimes like this:
[code]

[2019-07-02 18:17] Tratcher commented on #11795
AuthenticationHandlers must be scoped or transient, they contain per-request information. Events will be resolved per request and may be singleton, transient, or scoped depending on your implementation.

[2019-07-02 18:23] lesscodetxm commented on #6140
We're having the same issue. We had a system-level environment variable defined on our server as `Development`, but our app wasn't seeing it so we added `/p:EnvironmentName=Development` to our `dotnet publish ...` command. After we restarted our server we now got `Development;Development` at app startup. Now we can't get `dotnet publish` to _stop_ writing the environment variable to `web.config`.

[2019-07-02 18:25] stephentoub commented on #11804
Just got a NullReferenceException, too:
[code]

[2019-07-02 18:28] stephentoub commented on #11804
And an error about reading already being in progress:
[code]

[2019-07-02 18:28] guardrex commented on #6140
@lesscodetxm It's a known scenario to engineering, and we provided coverage in the topic. You'd need to open an issue with them on the engineering repo to discuss it further; but since they've already responded that the behavior is by-design, I don't think they'll address it further.

See the **WARNING** note at :point_right: https://docs.microsoft.com/aspnet/core/host-and-deploy/aspnet-core-modul

[2019-07-02 18:42] DamianEdwards commented on #11750
@jkotalik changing to weather controller was the plan, yes.

[2019-07-02 18:46] lmolkova commented on #11785
Can you help me understand how we can tell the difference between endpoint today? By looking into the type of `HttpContext.GetEndpoint()` or some properties on it?

From the telemetry framework standpoint Activity.Tags is the best place for any metadata.

Historically, there are two kinds of instrumentation approaches with Activity
1. ASP.NET Core/HttpClient - telemetry system is well aware of DS

[2019-07-02 18:53] Puthranps commented on #11762
The bug seems to do with html comments being in the @functions block because now my project builds fine @mkArtakMSFT @danroth27

[2019-07-02 18:57] rynowak commented on #11785
@lmolkova @davidfowl

I think we have to made a decision about whether we want things like the controller/action name (and the equivalent for SignalR/gRPC/etc) to be part of the activity or not.

I kinda expect that if we attach a loosely-typed property bag of "info" to endpoints, it's not going to be good enough for some of our scenarios.

[2019-07-02 19:00] lesscodetxm opened #11807 "dotnet publish /p:EnvironmentName=xyz is permanent in web.config"
After doing
`dotnet publish /p:EnvironmentName=<somename>`

The `ASPNETCORE_ENVIRONMENT` variable gets defined in the generated web.config as expected.

However, subsequently running `dotnet publish` without specifying an `EnvironmentName` does not produce a `web.config` without an `ASPNETCORE_ENVIRONMENT` defined -- it still has the environment defined earlier.

There doesn't seem to be any way t

[2019-07-02 19:24] benaadams commented on #11804
Apps https://github.com/dotnet/corefx/issues/38911#issuecomment-507810676

[2019-07-02 19:33] DumboJetEngine commented on #11710
Oh!
So, many down-votes and no explanation for them!
Was it such a bad idea, really?!?!
OK.
I have no idea who are the people that down-voted this (if they are experts, 100% C#-dedicated people or just passers-by), but I really had the impression that many people dealing with this on an every-day basis would like to see this part of the framework and tooling change.
A bad estimation on my part may

[2019-07-02 19:37] KirillOsenkov commented on #11761
For debugging purposes when making local changes :) It's not just for this PR.

From trial and error we've found that `build.cmd /p:OfficialBuildId=20190702.01 /p:VersionSuffix=` seems to do what we want, but it fails the build after producing the .mpack, so it feels like it's not the right solution.

There's an e-mail thread with @tmat going on, I'll update the issue when we have a good solution.

[2019-07-02 19:51] EnricoMassoneDeltatre commented on #11795
Thank you, that's exactly the information I needed.

[2019-07-02 19:51] #11795 closed

[2019-07-02 19:52] KirillOsenkov commented on #11761
I've tried again and `build -binaryLog /p:DotNetUseShippingVersions=true` seems to be working fine. Not sure why it wasn't working before.

Apologies for the noise.

[2019-07-02 19:52] #11761 closed

[2019-07-02 19:53] KirillOsenkov opened #11808 "Ship .pdbs in Razor .mpack addin"
We should ship the .pdbs next to the Razor .dlls inside the Razor .mpack.

@DavidKarlas wanna PR this if you have the change handy?

[2019-07-02 20:31] Tratcher commented on #11598
Note to self, Abort was only half implemented. It would fire RequestAborted, but not surface any errors to the client.

[2019-07-02 20:39] RyanHill-MSFT commented on #11678
@EnricoMassoneDeltatre as far as I know, bouncing between multi data center installations will have traffic routed only at the traffic manager level. And since that routing as you noted earlier is purely DNS based, there won't be any knowledge of any session state. In cases where your product can't make use of web sockets, I think you'll have to enable AARAffinity.

Hope that helps even though I k

[2019-07-02 20:43] mkArtakMSFT opened #11811 "Update Offline support page for the templates"
We've made a lot of changes to the templates during last several milestones.
It's time to update the https://github.com/aspnet/AspNetCore/wiki/Offline-execution-support-for-Web-templates page to reflect the up to date state of the templates and their dependencies.

[2019-07-02 20:43] mkArtakMSFT commented on #11811
This can happen after Preview8 Code Complete date.

[2019-07-02 21:00] pranavkm opened #11813 "Revert tests skipped due to Nullable changes"
The C# compiler has changed the metadata format used to represent nullability information in preview 7. Since this has changed, we don't detect any of the new patterns, and so our features for inferring required attribute don't work.

Tests skipped due to changes in preview7.

* KeyValuePairModelBinder_BindsKeyValuePairOfComplexType_NoData
* KeyValuePairModelBinder_BindsKeyValuePairOfSimpleType_No

[2019-07-02 21:10] NTaylorMullen commented on #11761
Ah, just so you know we publish all of the symbols to symweb with source link so unless you need debug optimized bits that should definitely get you 90% of the way.

[2019-07-02 21:26] ryanbrandenburg opened #11814 "Flag for templates which uses an existing shared framework build"
One of the things that makes developing the ProjectTemplates such a huge pain is that you must first produce every package that goes in the shared framework so that the generated project can reference it. It would speed things up considerable if I could set a flag when running the templates which instead just used the latest nightly build. We would only want to use this flag when building locally,

[2019-07-02 21:42] montyclt opened #11815 "Required parameters to blazor components"
### Is your feature request related to a problem? Please describe.
I'm building a component where optional parameter doesn't make sense.

### Describe the solution you'd like
Add required parameter to `Parameter` attribute

[code]

[2019-07-02 21:46] shanselman commented on #2302
Might be worth doing this (reopen) so that we don't need to do this https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.2#deal-with-path-base-and-proxies-that-change-the-request-path given the existence of Azure Front Door? @rynowak

[2019-07-02 21:52] NTaylorMullen opened #11816 "VS: Significant lag time on adding a new component file to an already loaded project."
### Describe the bug
Trying to add a new Razor component results in a significant amount of time waiting for `@code` to highlight/the file to be recognized as a component file. This would be expected when the project is opened for the first time in the IDE but not on subsequent adds of a Razor component. It happens every time.

### To Reproduce
PreReqs:
1. Use latest internal VS (master branch)
2.

[2019-07-02 21:55] montyclt opened #11817 "AddClass method to RenderTreeBuilder"
### Is your feature request related to a problem? Please describe.
I'm creating a component that need to add one or two classes depending on condition.

### Describe the solution you'd like
Add new method to `RenderTreeBuilder` that check if class exist in element, and if exists, add it next to the existing classes.

[code]

[2019-07-02 21:55] #10734 closed

[2019-07-02 21:57] Tratcher commented on #2302
Re-opening but keeping in backlog. We'll re-triage this for a future release.

Triage note: This is related to but opposite of https://github.com/aspnet/AspNetCore/issues/2302.

[2019-07-02 21:59] Tratcher commented on #2302
I take that back, https://github.com/aspnet/AspNetCore/issues/5898#issuecomment-375893218 already accounts for this.

[2019-07-02 21:59] #2302 closed

[2019-07-02 22:01] DamianEdwards commented on #11172
Just confirming that I've reproduced this too and we definitely need to look into this. It's a massive difference (even more so in VS compared to the CLI).

@mkArtakMSFT I don't think this is anything specific to Blazor, it affects anything using the Web SDK it seems.

[2019-07-02 22:18] Tratcher commented on #4763
HttpClient interop to verify:
- [ ] ALPN handshake
- [ ] H2C (via app context switch `AppContext.SetSwitch("System.Net.Http.SocketsHttpHandler.Http2UnencryptedSupport", true);`)
- [ ] Response Trailers
- [ ] Reset
  - [ ] Reset after CompleteAsync (kill the request body)
- [ ] Multi-frame request & response headers
- [ ] Settings
  - [ ] Concurrent request limits
  - [ ] Frame size limits
  - [ ]

[2019-07-02 22:30] danroth27 opened #11820 "Update default project names for ASP.NET Core related project templates"
Update the "defaultName" value in *template.json* for the ASP.NET Core templates as follows:

- “gRPC Service” -> GrpcService
- “Worker Service” -> WorkerService
- “Blazor Server App” -> WebApplication
- "Blazor WebAssembly App" -> WebApplication
- “Razor Class Library” -> RazorClassLibrary
- "Razor Pages" -> WebApplication
- "MVC" -> WebApplication
- "Empty" -> WebApplication
- "Web API" -> WebAp

[2019-07-02 22:37] anurse opened #11821 "Consider redesigning our "breadth" test coverage in SignalR"
We have a daily test run that uses Sauce Labs for browser breadth coverage. This is good but we also need Xamarin coverage and Android coverage (for the Java Client). This would be a good opportunity to review all that and improve the reporting of issues. Right now, for example, intermittent Sauce Labs issues cause RaaS to open bugs. That seems overkill.

[2019-07-02 22:40] anurse opened #11822 "Stabilize Kestrel's AddressRegistrationTests"
These tests are inherently flaky because they try to bind to a specific port and we know that behavior to be flaky in test environments (because of all the different components running, including sample apps, etc.). Let's stabilize these tests. A few alternatives:

1. Containerize the tests. This gives us automated Windows and Linux testing (which are the production environments), but not macOS co

[2019-07-02 22:52] shanselman commented on #2302
I'm pretty sure this is the inverse of PathBase. I'm having to add it back in order to get ~ to work.

I'm taking staging.hanselman.com/blog and pointing it to http://hanselmanblog.azurewebsites.net so I need to add it BACK not strip it. Per https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.2#deal-with-path-base-and-proxies-that-change-the-request-p

[2019-07-02 22:56] anurse opened #11823 "Can no longer run net48 web application after installing .Net Core 3 SDK"
_From @Almenit on Friday, June 28, 2019 1:38:23 PM_

We have a Web application using .net 48 and ASP.Net Core. I tried to update to .Net Core 3 using the  3.0.100-preview6-012264 SDK. I manage to get that to work. When a later change back to the old branch (using net48). I can build the application but when I run it I get an  System.Reflection.ReflectionTypeLoadException with loader exceptions: Co

[2019-07-02 22:56] anurse commented on #11823
_From @livarcocc on Friday, June 28, 2019 3:51:34 PM_

Can you share your csproj? Have you tried to clean/restore/build/run?

[2019-07-02 22:56] anurse commented on #11823
_From @Almenit on Friday, June 28, 2019 5:35:03 PM_

Yes I have tried to clean/restore/build/run (even a hard reset from git)

[code]

[2019-07-02 22:56] anurse commented on #11823
_From @livarcocc on Friday, June 28, 2019 10:20:13 PM_

@anurse can you take a first stab at this?

[2019-07-02 22:58] anurse commented on #11823
@Almenit can you share a runnable sample application that reproduces the issue? If that's not feasible, would it be possible for you to privately share the build/publish outputs so we can see the specific assemblies?

[2019-07-02 23:00] shanselman commented on #5898
ya this is annoyign we need to support the INVERSE

[2019-07-02 23:01] shanselman commented on #5898
I'm pretty sure this is the inverse of PathBase. I'm having to add it back in order to get ~ to work.

I'm taking http://staging.hanselman.com/blog and pointing it to http://hanselmanblog.azurewebsites.net so I need to add it BACK not strip it. Per https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.2#deal-with-path-base-and-proxies-that-change-the-re

[2019-07-02 23:03] anurse commented on #10971
@ririlele So to be clear, you are loading a PFX file containing **two** certificates (the leaf, and the intermediate) into an `X509Certificate2` object, passing it to Kestrel, and only one certificate (the leaf) is being transmitted? I'd like to be extremely clear about how this is working so that I understand things.

As far as I know, the `X509Certificate2` class represents a **single** certific

[2019-07-02 23:03] anurse commented on #10971
Perhaps the easiest thing to do here would be if you can provide a runnable sample that illustrates the issue?

[2019-07-02 23:05] anurse commented on #6845
One thing we could consider doing is not using a link at all and actually directly packing a `.tgz` and installing it in the dependent projects. The junction point just creates all kind of problems it seems...

[2019-07-02 23:06] danroth27 commented on #9403
We should at least do something to fix the broken privacy link.

Also don't we add a *_ViewImports.cshtml* to other web templates to have the identity UI pick up the layout from the app?

[2019-07-02 23:09] anurse commented on #10080
That doesn't look like the same cause to me. Especially not if you're using JSON (since the original question was regarding MessagePack). I'd suggest filing a new issue and capturing a network trace as @BrennanConroy suggested (see [our SignalR diagnostics docs](https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2) for guidance on how to do this) rather than forking

[2019-07-02 23:10] anurse commented on #11742
I suppose me? (cc @Pilchie)

[2019-07-02 23:11] anurse commented on #11731
cc @aspnet/build

If we already have logic that correctly skips the Java stuff when there is no `JAVA_HOME` it feels like the build script should just treat the "`JAVA_HOME` is set but `$JAVA_HOME\bin\javac` doesn't exist" case the same as when `JAVA_HOME` isn't set.

[2019-07-02 23:12] anurse commented on #8631
I'm not sure off the top of my head how the ordering works here. Thoughts @Tratcher @davidfowl ?

[2019-07-02 23:24] Tratcher commented on #8631
You should look at the new layering in 3.0 for generic host.
https://github.com/aspnet/AspNetCore/blob/36351647dba78e154dc033feee670ebe12ae4fe0/src/Hosting/Hosting/src/GenericHost/GenericWebHostBuilder.cs#L38-L45

You'll have access to the IHostBuilder before you add the web host on top.

[2019-07-02 23:28] Swellenator commented on #11787
I have done a folder comparison. The only change I have made is detailed in 4. above - added a `BackchannelHttpHandler` so that I can set `UseDefaultCredentials = true` for my corporate proxy. Otherwise I get a 407 Proxy Auth Required on fetching the well known openid configuration URL.

Do you think that adding a `BackchannelHttpHandler` would interfere with the cookies? Should there be an anti f

[2019-07-02 23:30] anurse commented on #11688
This is great perspective! I'm mostly happy to defer to the JS community experts here, but I do want to make sure I have clarity on things here.

Unfortunately this isn't true since _none of our existing published versions are considered deprecated_. They remain fully supported and will be patched in accordance with the [.NET Core Support Policy](https://dotnet.microsoft.com/platform/support/polic

[2019-07-02 23:33] danroth27 opened #11824 "Creating a new component using `dotnet new razorcomponent` uses the directory name as the default file name"
Creating a new component using `dotnet new razorcomponent` uses the directory name as the default file name.

Repro steps:
- `mkdir foo`
- `cd foo`
- `dotnet new razorcomponent`

Expected result:
- *Component1.razor* generated

Actual result:
- *foo.razor* generated

[2019-07-02 23:35] SteveSandersonMS commented on #11787
There's nothing in Blazor that's looking for antiforgery cookies. Some other middleware must be doing that, but I'm not sure what.

[2019-07-02 23:44] Swellenator commented on #11787
I've got the breakpoint on the exception. The stack trace is:

`>	Microsoft.AspNetCore.Antiforgery.dll!Microsoft.AspNetCore.Antiforgery.DefaultAntiforgery.ValidateRequestAsync(Microsoft.AspNetCore.Http.HttpContext httpContext) Line 167	C#
 	Microsoft.AspNetCore.Mvc.ViewFeatures.dll!Microsoft.AspNetCore.Mvc.ViewFeatures.Filters.ValidateAntiforgeryTokenAuthorizationFilter.OnAuthorizationAsync(Micros

[2019-07-02 23:59] mkArtakMSFT commented on #11172
@NTaylorMullen I've moved this back to preview 8. Can you please prioritize this over the rest of Preview 8 work, as it seems this impacts the build performance - including our builds.

[2019-07-03 00:06] Eilon commented on #2302
@shanselman / @Tratcher - if this isn't resolved, would it make sense for the two of you to discuss this on a call briefly? Just suggesting 😄

[2019-07-03 00:08] Eilon commented on #11807
@vijayrkn - is this in your team?

[2019-07-03 00:15] vijayrkn commented on #11807
Yes this should go to websdk.

The reason the value is not getting reset is because dotnet publish does not recreate the folder or the files. The value in the file is from the previous run. You can pass empty to set it to nothing.

https://github.com/aspnet/websdk/blob/46e9d345661397b7931e88798a12532ca38cc7fa/src/Publish/Tasks/WebConfigTransform.cs#L208

`dotnet publish /p:EnvironmentName=''`

[2019-07-03 00:23] mkArtakMSFT commented on #11710
@DumboJetEngine, we don't want to come along as harsh at all. It's just our triage process is quite time constrained, and we sometimes leave comments and move on, not being too much verbose.
The reason we don't want to make this change is that this is completely different from where Razor is at the moment and that would mean introducing a breaking change. There are existing patterns for doing this

[2019-07-03 00:28] ajaybhargavb opened #11826 "Delegates in directive attribute values still require @() for proper C# intellisense"
Notice the difference in coloring between `@onclick` and `@onblur`. This code compiles and runs fine but the design time experience isn't good without the `@(...)`

![image](https://user-images.githubusercontent.com/1579269/60554835-36f9c980-9cee-11e9-86c8-586346036c10.png)

@NTaylorMullen and I investigated this a little bit. It is because of how Razor splits the delegate expression into multiple

[2019-07-03 01:23] Tratcher commented on #2302
We've chatted and I've redirected him to #5898. There's several related scenarios we can address together.

[2019-07-03 01:25] wtgodbe opened #11828 "Disabled Nullability tests"
https://github.com/aspnet/AspNetCore/pull/11818 disables the following tests due to ingesting the new Roslyn compiler, which changes some nullability metadata:

CanUseNonNullableReferenceType_WithController_OmitData_ValidationErrors
BindProperty_WithNonNullableReferenceType_NoData_ValidationError
BindProperty_WithNonNullableReferenceType_NoData_ValidationError_CustomMessage
BindParameter_WithNonNu

[2019-07-03 02:04] JamesNK commented on #11785
Brief overview of endpoints and metadata:
1. Application starts up. [Endpoints](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.endpoint?view=aspnetcore-2.2) are registered:
[code]
    Each of these different framework calls could register multiple endpoints. For example, an endpoint is created for each gRPC method on `ExampleService` type. Each gRPC endpoint will have its ow

[2019-07-03 02:14] weitzhandler commented on #5830
In my scenario, security stamps are enabled, but I'm checking the DB and there is a security stamp for the user, however, `GetSecurityStampAsync` returns null, why is that?

[2019-07-03 03:25] bluedog13 commented on #11783
The 756th character is  "," and hence the error and not due to the length of the token.

@Tratcher, thanks for your comment in regards to 756th character that made me look into it.

Is there a way  to have this command ignored while running the integration test server WebApplicationFactory<T> ignore the comma?

Below is the stack trace

----- Inner Stack Trace -----
   at System.Net.Http.Headers.H

[2019-07-03 04:13] Tratcher commented on #11783
This is unrelated to WebApplicationFactory, it's an HttpClient error. Are you sure that token is valid?

You can bypass that check by calling TryAddWithoutValidation
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.headers.httpheaders.tryaddwithoutvalidation?view=netframework-4.8#System_Net_Http_Headers_HttpHeaders_TryAddWithoutValidation_System_String_System_String_

[2019-07-03 04:34] Eilon commented on #2302
Great!

[2019-07-03 05:02] marc-mueller commented on #3479
We are currently also facing this error. Any idea what is causing this?

[code]

Thanks
Marc

[2019-07-03 05:12] weitzhandler commented on #11786
Something ain't right, that's for sure. Either display username field, or use email for user retrieval.
You can't ask for an *email* and check the *username*  field for it, that makes no sense.

[2019-07-03 05:32] Swellenator commented on #11787
Ok I can work around the issue by disabling Antiforgery:

Before:
[code]
After:
[code]

This seems a little risky. Can someone detail what the CSRF security model is for Server Side Blazor, and whether we need to use anti forgery tokens or not?

Thanks

[2019-07-03 05:55] bluedog13 commented on #11783
The token is valid because it's a customized token as per our internal requirements.  I tried "TryAddWithoutValidation" but it does not seem to make the call to the controller and fails.

Strange part is, when the request is made via POSTMAN or Swagger, the token works.  I suppose Integration test Http Client has extra checks for the token format.

[2019-07-03 06:53] Meai1 opened #11833 "API call order matters but it shouldnt"
dotnet 2.2

This is a hellish API, I have to experiment with the order of statements for options:

works:

[code]

does not work:

[code]

does not work:

[code]

[2019-07-03 07:33] EnricoMassoneDeltatre commented on #11678
Hi @RyanHill-MSFT thanks for replying.

We will go with the web sockets only options (avoiding protocol negotiation), because we need to support the multi data center scenario. The best compromise seems to be requiring the web sockets support as a prerequisite to install our product.

Unfortunately this change in the behavior of signal-r from the old version to the .net core version (the old one w

[2019-07-03 07:33] #11678 closed

[2019-07-03 07:44] damienbod opened #11834 "Feature request: Make it possible to add a X509Certificate2 to a HttpClient instance using the IHttpClientFactory"
When using the IHttpClientFactory , it is not possible to add a X509Certificate2 to the returned HttpClient. At present, I can only do this by using the ConfigurePrimaryHttpMessageHandler or creating a new HttpRequestMessage and adding the certificate as a header.

[2019-07-03 07:52] devWaleed opened #11835 "SignalR core CORS issue"
### Describe the bug
I am using SignalR in a mobile application. It will connect to my server. Since there is no specific origin as far as I understand from which request will be originated, I can't allow any specific origin and allow all origins gives problem since credentials mode is on in the library when sending negotiation request.

You can further check my stackoverflow issue here:
https://s

[2019-07-03 08:19] cqkisyouq opened #11836 ""*.views.dll" need to recompile"
### Describe the bug
"*.views.dll" Added to the program as a module, Program works. When I made changes to the view in the program while I was developing, I was told that I couldn't compile the module.

"TestModule1"  It's my view module:

      Connection id "0HLNVHL8KMNU3", Request id "0HLNVHL8KMNU3:00000001": An unhandled exception was thrown by the application.
System.InvalidOperationException

[2019-07-03 08:22] cqkisyouq commented on #11836
Add modules to your program:

foreach (var item in moduleManager.GetModules())
            {
                if (item.Assembly != null) mvcBuilder.AddApplicationPart(item.Assembly);
                if (item.ViewAssembly != null)
                {
                    foreach (var view in CompiledRazorAssemblyApplicationPartFactory.GetDefaultApplicationParts(item.ViewAssembly))
                    {

[2019-07-03 08:44] SteveSandersonMS commented on #11787
CSRF tokens aren't involved in a server-side Blazor circuit, since CSRF is about protecting from unexpected third-party HTTP requests, whereas a server-side Blazor circuit exists within a Websocket connection.

As for the issue being reported here, I'm afraid I was unable to reproduce it. I followed the supplied repro steps, including configuring `BackchannelHttpHandler` and pointing that to an HT

[2019-07-03 08:53] Andrzej-W commented on #11815
This is an old idea. It was moved from original Blazor repository to this #5455. Unfortunately it is now closed.

[2019-07-03 08:58] montyclt commented on #11815
Thank you @Andrzej-W. I close it as duplicate.

[2019-07-03 09:20] Almenit commented on #11823
Sure I will try to do that. But it will take same time since I'm on holiday.

[2019-07-03 09:23] Yeganloo commented on #11796
## A new Scenario that needs Request detail, during Token validation

In a SPA application with comment functionality (or something like that), worst place to store a refresh toke is local storage! so you will store it in a http-only secure cookie. Now during the token validation, you find-out that token is expired! you already have the refresh-token in request but you force the client-app to rese

[2019-07-03 09:46] John0King opened #11837 "Model Binding build in support for Trim or something like value transform"
### Is your feature request related to a problem? Please describe.
The  model binding feature of MVC is great , but not friendly for `string.Trim()`.
for example : we should trim the username when user input(paste) the username.
There are solution's on stackoverflow,  Create a custom Model Binder for `string`, but nomally this became a global configration.

### Describe the solution you'd like

I'

[2019-07-03 09:57] hez2010 opened #11838 "MVC: ViewBag, ViewData and Model cannot store Anonymous object"
### Describe the bug
ViewBag, ViewData and Model cannot store Anonymous object

### To Reproduce
Steps to reproduce the behavior:
1. create a mvc project
2. create an anonymous object in ViewData/ViewBag or pass data via Model which has a dynamic type of property.
3. Access members in the object in Views
4. RuntimeBinderException: 'object' does not contain a definition for 'A'

For example:
In con

[2019-07-03 10:06] thorgeirk11 commented on #10080
I will file a new Issue with a trace!
Thanks @anurse and @BrennanConroy

[2019-07-03 10:07] NichUK opened #11839 "Upgrading Microsoft.AspNetCore.Authentication.AzureAD.UI to Preview 6 breaks IOptions<AzureADOptions>"
### Describe the bug
Upgrading a Microsoft.AspNetCore.Authentication.AzureAD.UI on a working system to 3.0.0-preview6.19307.2 2 causes

`var optionsMonitor = factory.GetRequiredService<IOptionsMonitor<AzureADOptions>>();`
'var current = optionsMonitor.CurrentValue'

to throw an exception of type 'Microsoft.Extensions.Options.OptionsValidationException'.

Looking inside, there is one failure "The '

[2019-07-03 10:15] damianh commented on #4666
Glad to see this happening :)

[2019-07-03 11:07] DAllanCarr commented on #11835
Should be able to use the override for all origins.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.cors.infrastructure.corspolicy.isoriginallowed?view=aspnetcore-2.2

I think it would be preferable to hold a whitelist.

[2019-07-03 11:16] ichensky opened #11840 "[Proposal]: use C# for configs instead of json/xml"
Json format was created for serialization data, but not for the creating configuration files for the applications(the same and for the xml). And when json used for the configuration files it has many disadvantages:
- it is not possible to write comments;
- hard C# code refactoring, when key or sub-sub-object-key in json changed/deleted/renamed/moved to another location;
- needed to use schema for

[2019-07-03 11:21] SteveSandersonMS opened #11841 "In ComponentHub.StartCircuit, prevent creating multiple circuits"
From https://github.com/aspnet/AspNetCore/issues/11791

Currently, a badly-behaved client could call the `ComponentHub.StartCircuit` hub method and create as many circuits as they want from within a single connection. We should check whether the hub instance already has an associated circuit host, and if so, reject this.

Similarly, check the `ConnectCircuit` to verify we're doing the right thing

[2019-07-03 11:25] SteveSandersonMS opened #11842 "Validate uriAbsolute/baseUriAbsolute"
From https://github.com/aspnet/AspNetCore/issues/11791

Currently, `ComponentHub.StartCircuit` and `RemoteUriHelper.NotifyLocationChanged` both just trust the client to supply valid, non-null values for `uriAbsolute`/`baseUriAbsolute`.

Although I don't know specifically how this could be exploited by a bad client, we should at least validate in those two places that the values are non-null and pa

[2019-07-03 11:28] SteveSandersonMS opened #11843 "Clarify that ComponentHub.OnRenderCompleted's errorMessage is untrusted"
From https://github.com/aspnet/AspNetCore/issues/11791

Currently, `ComponentHub.OnRenderCompleted` accepts an `errorMessage` from the client, and logs it.

We should clarify this by changing the string that gets logged to something like `Error message reported by untrusted client code: {errorMessage}` instead of just `{errorMessage}`.

[2019-07-03 11:29] dazinator opened #11844 "Blazor - Improve incremental build times for pure html changes."
### Is your feature request related to a problem? Please describe.
I am running a blazor client application in the browser.
It has an index.razor file containing purely html:

[code]

If I make a modification to this one file by changing the html to:

[code]

and then run a `dotnet build --no-restore` within the project directory.. the build takes longer than 7 seconds to complete and does a whole

[2019-07-03 11:29] Tratcher commented on #3479
That usually means the client disconnected, causing the session commit to be aborted.

@anurse we do need to address this, it's causing a lot of unnecessary noise.

[2019-07-03 11:32] devWaleed commented on #11835
@DAllanCarr How do you maintain a whitelist if you're working with mobile apps?

[2019-07-03 11:33] SteveSandersonMS opened #11845 "Enforce circuit termination on unhandled exception"
From https://github.com/aspnet/AspNetCore/issues/11791

Currently we have many code paths that catch exceptions and then pass them to `Renderer.HandleException` but otherwise swallow the exception. From there, `Renderer.HandleException` logs the exception on the server, and sends a (redacted) exception message to the client, which then terminates the connection.

It's not good enough to trust that

[2019-07-03 11:35] SteveSandersonMS opened #11846 "Remove temporary logic from BindMethods.DispatchEventAsync"
From https://github.com/aspnet/AspNetCore/issues/11791

BindMethods.DispatchEventAsync has a comment saying "this is a temporary polyfill that doesn't do proper error handling and will be removed".

Are we able to remove this now?

[2019-07-03 11:37] SteveSandersonMS opened #11847 "Renderer.DispatchEventAsync throws null reference exception if event handler throws synchronously"
From https://github.com/aspnet/AspNetCore/issues/11791

If an event handler throws synchronously, there's a bug in Renderer.DispatchEventAsync. The `task` variable is left with a `null` value, which then throws a nullref exception in `GetErrorHandledTask`.

The correct behavior would be to still treat this as a circuit-terminating exception, but report the real exception and don't have the nullref

[2019-07-03 11:41] SteveSandersonMS opened #11848 "Blazor doesn't always dispose the circuit's DI scope"
From https://github.com/aspnet/AspNetCore/issues/11791

  - In CircuitHost.DisposeAsync, use try/finally to guarantee _scope.Dispose still happens even if any of OnConnectionDownAsync/OnCircuitDownAsync/Renderer.Dispose throws
  - In CircuitPrerenderer.PrerenderComponentAsync, use try/finally to call CleanupCircuitState if prerendering throws

[2019-07-03 11:44] SteveSandersonMS opened #11849 "Blazor: minor tweaks to ensure shared state doesn't cross circuits"
From https://github.com/aspnet/AspNetCore/issues/11791

The following static fields should be made `readonly` (assuming it's possible to do so):

  - EventCallbackFactoryBinderExtensions.ConvertToBool/ConvertToNullableBool
  - InputNumber._parser
  - InputNumber._stepAttributeValue

Also, `UIEventArgs.Empty` is a static shared thing. See if we can ensure it's immutable. If not, consider whether we

[2019-07-03 11:48] RealTadango commented on #9704
There is an issue with Preview6 now:

Unhandled Exception: System.ArgumentException: The path must be absolute.
Parameter name: root
   at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root, ExclusionFilters filters)
   at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root)
   at Microsoft.AspNetCore.Builder.BlazorHostingEndpointRouteBuilderExtensions.

[2019-07-03 11:52] SteveSandersonMS commented on #11791
OK, I've gone through all the investigations and split out all the action items into separate linked issues. So I'm now unassigning myself from this, leaving the remaining JSInterop bits to be looked at by @javiercn.

[2019-07-03 11:52] Tratcher commented on #11783
Nevermind, I didn't read that stack trace correctly. `Microsoft.AspNetCore.Mvc.Testing.Handlers.RedirectHandler.CopyRequestHeaders` should not be calling Add, it should be calling TryAddWithoutValidation. That's an MVC bug we'll need to address.

The trouble with comma is that it's the reserved separator between header values. Many header parsing libraries will split your token into two headers. Y

[2019-07-03 12:14] javiercn commented on #11841
My PR for connection Id tweaks already addressed this. Feel free to give this to me and I’ll take out the cookie part if necessary.

[2019-07-03 12:31] NichUK commented on #11835
If you don't mind feeling dirty, then you can do this... but I really don't recommend it unless it's absolutely necessary, and you have some additional security and checks in place. It basically just breaks CORS. Use at your own risk!

[code]

[2019-07-03 12:42] blowdart commented on #11839
@Tratcher

[2019-07-03 12:43] DownGoat opened #11850 "Multiple tracked instances of TUser when PasswordHasher returns PasswordVerificationResult.SuccessRehashNeeded"
### Describe the bug
A clear and concise description of what the bug is.

We have a custom `PasswordHasher`, the database will be a mix of passwords with different formats, so we use this custom `PasswordHasher` to verify password, and return `PasswordVerificationResult.SuccessRehashNeeded` for passwords that needs updating.

The error occurs when calling `SignInManager.CheckPasswordSignInAsync`,

[2019-07-03 12:53] photomoose opened #11851 "Compiled Views are not found when path contains %3A (URL Encoded colon)"
### Describe the bug
This has been noticed in a self-contained project, compiled to be executed as a Windows Service:

[code]

### To Reproduce
Steps to reproduce the behavior:
1. Create a new ASP.NET Core MVC Project
2. Follow the instructions here to make the project hostable in a Windows Service: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?view=aspnetcore-2.2&ta

[2019-07-03 13:02] sbwalker commented on #11446
If you are interested in seeing a parallel alternative in action, please see https://github.com/oqtane/oqtane.framework - it has a custom router which does not rely on route table, route template, etc... Obviously this approach is not appropriate for all scenarios but it does provide a working example.

[2019-07-03 13:07] Tratcher commented on #11839
That was an intentional change.
https://github.com/aspnet/AspNetCore/pull/9967/files

How is the instance being set?

Is this an ordering problem with validation? @HaoK

[2019-07-03 13:26] devWaleed commented on #11835
@NichUK Its working but some issues. First it gave me this error:

"Error during WebSocket handshake: Incorrect 'Sec-WebSocket-Accept' header value"

So I enabled websockets with this:        app.UseWebSockets();

Now its giving me this error: Error: Failed to start the transport 'WebSockets': null

Its falling back to Server Sent Events, I am receiving updates from server now but not through webs

[2019-07-03 13:32] DAllanCarr commented on #11835
@devWaleed With difficulty I imagine 😞.  Looks like you got over the CORS issue. Nice going.

[2019-07-03 13:33] cjaliaga commented on #9838
We can do this change as part of https://github.com/aspnet/AspNetCore/pull/11569 or create a quick one here with the change to have it isolated.

[2019-07-03 13:35] ADefWebserver opened #11852 "Cannot use EditForm inside of AuthorizeView component"
### Describe the bug
When I try to put an EditForm in an Authorize view I get build errors

### To Reproduce
Create a new Server Side Blazor project with preview 6.
Put an EditForm in an Authorize view like this:
[code]

### Expected behavior
That it would build.

### Screenshots
![image](https://user-images.githubusercontent.com/1857799/60595906-bfaf4e80-9d5c-11e9-9a20-60ad14eabcc8.png)

[2019-07-03 13:50] DAllanCarr commented on #11835
I actually thought this would work for your exact reason rather than resorting to custom code.

[code]

[2019-07-03 13:57] devWaleed commented on #11835
@DAllanCarr @NichUK

I have been searching for answer for about 2 days to be honest. This is not exactly an answer. A right way would be to allow specific origin. But then again my question is, how do you set static origin values for mobile apps?

Further more on ASP.NET website they clearly say that CORS is not a security feature but a standard and response can still be processed using FIddler or

[2019-07-03 14:12] campersau commented on #11852
That's because `AuthorizeView` and `EditForm` both use the same `Context` variable.
To avoid this you can change the variable name on them like this:
[code]

[2019-07-03 14:16] SteveSandersonMS commented on #11817
Thanks for the suggestion.

This is not something we want to do in the forseeable future, because for performance, the `RenderTreeBuilder` tries not to have expensive operations like this where we can avoid it (doing this would involve scanning backwards to find other attribute nodes and mutating them). Also, we try to minimize coupling to HTML-specific concepts such as CSS classes.

I would recom

[2019-07-03 14:16] #11817 closed

[2019-07-03 14:18] SimantoR commented on #5670
I believe this should be added to the official Input[*] components that are meant to be used with EditForm. I recently wanted to build a word processor for a complicated form and took me a whole day to find and form a working solution

[2019-07-03 14:21] DAllanCarr commented on #11835
CORS is not a security feature and should not be considered such. Its actually an opt in and relaxes incoming requests for same site policy restrictions enforced on the client.

The fact you need to opt in will vary depending on what clients you are wanting to support.

[2019-07-03 14:23] ADefWebserver commented on #11852
@campersau Thanks that works!

[2019-07-03 14:23] #11852 closed

[2019-07-03 14:31] DAllanCarr commented on #11835
If you can disable CORS and it works for your scenario then do it.

If you have no way of knowing who is connecting to your service then you are at a slight disadvantage anyway.  And CORS is not going to help you as the restriction only makes sense if the domain is known from which you want to relax restrictions.

[2019-07-03 14:33] robcube commented on #11089
Finally back on this --- here are the relevant pieces of the IIS logs. Let me know if you need anything else. (IPs changed to protect the innocent)

2019-07-02 12:23:17 10.10.10.10 GET /Recent - 443 - 50.50.50.50 Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/75.0.3770.100+Safari/537.36 200 0 0 8913
2019-07-02 12:23:17 10.10.10.10 GET /js/recent.js - 443 -

[2019-07-03 14:41] ebekker commented on #4332
Please note, in my experience using **`3.0.0-Preview6`**, I'm still experiencing this issue.

The workaround described [here](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview-known-issues.md#preview-3) to use the sample `Add30AssemblyWorkaround` does fix the issue for me.

[2019-07-03 14:53] tiwj commented on #11595
I can confirm the same issue.

Seems like navigating with either F5 or via address issues a new instance of JSRuntime, whilst simple back/forward/link navigation does not (HashCode of JSRuntime stays the same).

Anyways, the whole blazor connection seems to be resetted. This is probably intended, but something is messed up with subsequent connections from the same browser window (latest Chrome for

[2019-07-03 14:56] rynowak commented on #11838
Your complaint is actually about the default behavior of `dynamic` in C# when applied to a normal .NET type. You could have this problem using dynamic even if MVC is not involved. See: https://stackoverflow.com/questions/16173378/complex-anonymous-objects-to-dynamic-public-properties

dynamic and anonymous types don't really work well together.

[2019-07-03 14:56] #11838 closed

[2019-07-03 14:57] Tratcher commented on #11833
What is TlsFilterAdapter doing?

The ordering issue between Protocols and UseHttps is because UseHttps captures the protocols in order to do ALPN. We could address that by making it a lazy capture (e.g. Func).
https://github.com/aspnet/AspNetCore/blob/3c0fb1a3f8609aae3165d43cb61fed10d9e1bf4f/src/Servers/Kestrel/Core/src/ListenOptionsHttpsExtensions.cs#L220

[2019-07-03 14:58] rynowak commented on #11846
Yes, this can be removed along with all of the overloads of `SetValueHandler`

[2019-07-03 14:59] anurse commented on #11089
Sorry, IIS logs weren't actually what we were looking for. We need the SignalR server logs, see our [diagnostics guide](https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2) for more information on collecting this information.

Do you have multiple app pools or multiple instances of an app pool? If you have multiple processes on the server running the same applicati

[2019-07-03 15:03] blowdart commented on #11851
: is a reserved character in Windows file systems, so this isn't unexpected. Do you have an actual need to have a colon in the directory name?

[2019-07-03 15:06] sbuchok commented on #11681
You actually don't need to set the style at all.

`
@if(IsOpen)
{
<div id="fmmodal-dialog" class="fmmodal" @onclick="@CloseDialogAsync">

    <div class="fmmodal-content" onclick="event.stopPropagation();" >
        <div class="fmmodal-header" onclick="">
            <div class="fmmodal-close" @onclick="@CloseDialogAsync">&times;</div>
            @HeaderContent
        </div>
        <div class="

[2019-07-03 15:12] Meai1 commented on #11833
TlsFilterAdapter is the copy pasted thing floating around, I added another null check and check for Rc4 which dont seem to be doing anything btw (still getting Rc4 ciphers shown as accepted in ssllabs scan so I dont know what the point is then)
Also no idea what the IsHttps thing is doing, doesn't seem to be doing anything whether it's true or false. No docs on it exist.

[code]

I mean I'm trying

[2019-07-03 15:13] anurse opened #11853 "Stabilize HttpSys tests"
Specifically:
* Server_MultipleStopAsyncCallsWaitForRequestsToDrain_Success
* Server_SetConnectionLimit_Success
* Server_ShutdownDuringRequest_Success

These tests have flaked out [frequently](https://github.com/aspnet/AspNetCore-Internal/issues/2489) with errors like:

[code]

We have quarantined them all but need to find a plan to stabilize them.

[2019-07-03 15:20] devWaleed commented on #11835
Alright, thank you so much.

[2019-07-03 15:20] #11835 closed

[2019-07-03 15:31] Eilon commented on #11851
The funny thing is, there isn't an *actual* colon in the directory name. But presumably something in ASP.NET Core is "decoding" that into a colon, and then it fails. That's just a guess, though.

[2019-07-03 15:33] Tratcher commented on #11833
The list of available ciphers is controlled by the OS, all you're doing here is rejecting connections after the fact.
https://docs.microsoft.com/en-us/windows-server/security/tls/manage-tls#configuring-tls-cipher-suite-order

Yes there's a 3.0 feature for managing this in the application, but it only works on Linux.

[2019-07-03 15:40] holterandreasb opened #11855 "Kestrel: add support for big endian systems"
### Is your feature request related to a problem? Please describe.
I am trying to run .NET Core on an IBM i system (formerly known as AS/400). Installing Mono and running C# HelloWorld works like a charm. But when I try to get a .NET Core Web API application up and running, it fails with the message that Kestrel does not support big endian systems, which is quite disappointing, since I couldn't fi

[2019-07-03 15:41] Meai1 commented on #11833
I only use Linux for this stuff anyway but I cant switch to 3.0 now. On other C servers I remember that I was able to set the ciphers that I wanted to use directly through openssl calls.

[2019-07-03 15:48] SteveSandersonMS commented on #11799
This is because `StaticComponentRenderer` doesn't use the same circuit initializing logic that `RemoteRenderer` does (via `DefaultCircuitFactory`). In turn, this is because static prerendering doesn't involve creating a circuit at all.

Suggested fix:

To avoid having to keep remembering to duplicate initialization logic across the two types of server-side execution environments, I suggest we have

[2019-07-03 15:50] mkArtakMSFT commented on #11387
Talked to @isaac2004 on this and he is going to try to repro one more time. Seems like he also feels like this is not an issue any more, but waiting for confrirmation.

[2019-07-03 15:57] mkArtakMSFT commented on #4332
Hi @ebekker. The was fixed in a way, which doesn't require the parts discovery workaround any more. There were some follow-up issues we had to address during Preview 7 release, specific to the new model. Can you please be more specific what is the exact problem you're having?

[2019-07-03 16:03] photomoose commented on #11851
Yeah, the problem is how @Eilon describes. Octopus Deploy creates folders on the Windows servers; it would appear that someone has placed a colon in the deployment/application package which results in a folder being created with a URL Encoded name (i.e. the colon becomes "%3A" in the Windows file system). On the face of it, every looks fine until a view is rendered - I imagine the view engine URL

[2019-07-03 16:08] mrtristan commented on #4422
i'm finding that this example causes the exception on 2.2.3

https://docs.microsoft.com/en-us/dotnet/standard/parallel-programming/how-to-cancel-a-parallel-for-or-foreach-loop

[2019-07-03 16:13] ygoe commented on #6566
@mkArtakMSFT Did you want to reopen this issue?

[2019-07-03 16:14] mkArtakMSFT commented on #11844
Thanks for contacting us, @dazinator.
We will try to do something about this as part of https://github.com/aspnet/AspNetCore/issues/5483

[2019-07-03 16:14] #11844 closed

[2019-07-03 16:16] mkArtakMSFT commented on #11826
Let's see whether there is a simple solution we can come up with. If so, and it's trivial - we'll consider it as part of preview 9.

[2019-07-03 16:18] mkArtakMSFT commented on #11816
If this will take a day to fix, we probably will take it. Otherwise - will do it later.

[2019-07-03 16:23] mkArtakMSFT commented on #11851
Thanks for contacting us, @photomoose.
Are you interested in sending us a PR? We'll happily consider it.

[2019-07-03 16:25] mkArtakMSFT commented on #11837
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-07-03 16:25] Eilon commented on #11851
BTW in my personal opinion, even though this is likely a bug somewhere in ASP.NET Core, is that you should avoid any "special-ish" characters in folder names, including colons, percents, etc. So if it's possible to avoid a colon (encoded or otherwise), I would recommend doing that.

[2019-07-03 16:26] mkArtakMSFT commented on #11836
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-07-03 16:31] mkArtakMSFT commented on #11800
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-07-03 16:31] #11790 closed

[2019-07-03 16:34] danroth27 opened #11856 "System.Collections.Generic namespace not being picked up in .razor files"
It looks like we add a using statement for the System.Collections.Generic namespace in the generated code from a .razor file, but it's not getting picked up in intellisense. If you manually type an `IList<T>` it works, but intellisense will fight you.

![2a2FLhT8tF](https://user-images.githubusercontent.com/1874516/60609047-a5ce3580-9d75-11e9-99b7-5035bf9ad29b.gif)

[2019-07-03 16:34] chrisaliotta opened #11857 "Using 'app' as a sub domain breaks authentication cookie persistence"
# Using 'app' as a sub domain breaks authentication  cookie persistence

We found in both our production and test environments that using 'app.yourdomain.com' breaks authentication cookie persistence (especially when the application pool resets). When testing with other sub domain names like 'test.youdomain.com' authentication cookie persistence worked even after application pool reset.

# General

[2019-07-03 16:37] mkArtakMSFT commented on #11780
Thanks for contacting us, @NickCraver.
What we can do here is to warn users when the `addTagHelper` doesn't discover any tag helpers.

[2019-07-03 16:37] NTaylorMullen commented on #11856
This is most likely a combination of a projection buffer issue along side the innability to ctrl . add usings.

[2019-07-03 16:37] chrisaliotta commented on #11857
Side note: I moved this issue from the dotnet/core project issues. Don't be confused by the reference above, this issue is still _very much_ open.

[2019-07-03 16:38] mkArtakMSFT commented on #11604
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-07-03 16:38] #11604 closed

[2019-07-03 16:41] danroth27 opened #11859 "Typing @inject followed by a space completes to @injectInjectAttribute"
Typing @inject followed by a space completes to @injectInjectAttribute.

![QN98rH5un7](https://user-images.githubusercontent.com/1874516/60609508-af0bd200-9d76-11e9-9335-909fc9e73c52.gif)

[2019-07-03 16:41] mkArtakMSFT commented on #6160
Thanks for contacting us, @JCFruit.
We will try to find time to repro this issue and hopefully try to fix it in the near future. However, given that we haven't heard many reports of this issue, we won't handle it immediately.

[2019-07-03 16:43] mkArtakMSFT commented on #6146
Thanks for contacting us, @dgaspar.
Would you be interested in sending us a PR for this? We'll happily consider it.

[2019-07-03 16:44] mkArtakMSFT commented on #6134
Closing, as there were no actual reports of this.

[2019-07-03 16:44] #6134 closed

[2019-07-03 16:44] mkArtakMSFT commented on #6126
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-07-03 16:46] mkArtakMSFT commented on #6103
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-07-03 16:46] #6103 closed

[2019-07-03 16:46] #6099 closed

[2019-07-03 16:47] #6094 closed

[2019-07-03 16:48] danroth27 commented on #11856
Please note that the generated code already has a using statement for System.Collections.Generic. Intellisense just doesn't seem to know about it.

[2019-07-03 16:49] mkArtakMSFT commented on #6109
Thanks for contacting us, @Stoyan-Bukovich.
If this is still an issue, please reopen this issue with a repro project.

[2019-07-03 16:49] #6109 closed

[2019-07-03 16:50] #6077 closed

[2019-07-03 16:50] mkArtakMSFT commented on #6070
This is not an issue any more.

[2019-07-03 16:50] #6070 closed

[2019-07-03 16:53] photomoose commented on #11851
@Eilon I agree with you. The problem was, we didn't know we were using special characters - it took us the past day to realise the folder name was the reason for the views not being found.

@mkArtakMSFT I'll take a look at the source and see if I can find anything obvious to fix.

[2019-07-03 16:55] mkArtakMSFT commented on #5707
Closing as fixed, per @shessane 's response.

[2019-07-03 16:55] #5707 closed

[2019-07-03 16:56] #5702 closed

[2019-07-03 16:57] blowdart commented on #11857
That's odd. What errors are you seeing in the server side logs?

[2019-07-03 16:59] blowdart commented on #11851
%3A is encoded :

Both browsers and servers tend to decode that before submission because it's valid in a URL

I wouldn't consider this an actual bug, but paranoid good design trying to avoid various file system attacks :)

[2019-07-03 17:05] mkArtakMSFT commented on #5385
@sebastienricher did your original issue got resolved?

[2019-07-03 17:11] chrisaliotta commented on #11857
That's whats perplexing, is that we're not seeing anything abnormal. I've hunted through the Event Viewer and even looked at IIS text based log files -- nothing unusual or any errors. Are there any specific areas or events you would like us to hunt for?

[2019-07-03 17:15] blowdart commented on #11857
The asp.net core [logs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.2). You have to add Windows Event log as an option (persisting to text might be easier to use)

Does this happen only under IIS? Rather than kestrel directly? A failed auth should have log entries.

[2019-07-03 17:21] chrisaliotta commented on #11857
Sounds good -- we're going to recompile with the logging features enabled and replicate the tests. I'll post the log files once we've completed the test work 👍

Currently, we've only been able to test this with IIS so I am not sure if this affect Kestrel.

[2019-07-03 17:29] HaoK commented on #11839
Can you include the full startup and relevant code for any configuration of the AzureADOptions in your app?

[2019-07-03 17:30] joetherod commented on #11800
I tried implementing the ChangeToken, but it doesnt seem to get firedvia the Watch in the Custom FileProvider.
How do I get the Watch to fire?

[2019-07-03 17:36] Tratcher commented on #11857
Side note: do not use `options.Cookie.Expiration = TimeSpan.FromDays(150);`, use `options.ExpireTimeSpan = TimeSpan.FromDays(150);` instead.
https://github.com/aspnet/AspNetCore/blob/33eb8ba552c7452f441e2a223457d39f271d01b7/src/Security/Authentication/Cookies/src/CookieAuthenticationOptions.cs#L62
Using options.Cookie.Expiration will throw in 3.0.

[2019-07-03 17:45] Tratcher commented on #11857
This smells like https://github.com/aspnet/DataProtection/issues/102. The app name wouldn't be special in that case, except if that app previously existed?

[2019-07-03 17:51] blowdart commented on #11857
Well, I had thought that, but the issue says IIS has been started in both the working, and the not working cases, which would rule out ephemeral keys. But that's why I want logs :)

[2019-07-03 17:52] Eilon commented on #11851
I agree in general, but this isn't part of a URL. It's a server side path on disk used as an implementation detail of a controller. Nothing to do with clients, browsers, HTTP, HTML, or anything else like that.

I certainly think that this is a fairly low priority bug, but I'm quite certain it's a legitimate bug.

[2019-07-03 18:00] chrisaliotta commented on #11857
Hey guys, based on our tests these were the log events we found:

[code]

[2019-07-03 18:06] Tratcher commented on #11857
Ah, check https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/index?view=aspnetcore-2.2#create-a-data-protection-registry-hive

[2019-07-03 18:16] anurse commented on #11673
To be clear, you're trying to connect to a `TestServer` instance and it's failing? That would be expected since SignalR doesn't currently support `TestServer`. The `HttpMessageHandlerFactory` on `HubConnectionOptions` isn't used for WebSockets (since WebSockets don't use the `HttpClient` API). So unfortunately this is expected behavior for now.

The recommended approach for testing a SignalR servi

[2019-07-03 18:18] chrisaliotta commented on #11857
@Tratcher Thanks! That worked! We fixed the problem by configuring the IIS Application Pool to load the user profile as recommended in the link you posted. It's just strange that this issue manifested itself when we used "app" in the sub-domain name. I guess that's the only thing that bothers me about this issue :)

@blowdart Thank you for taking this issue seriously and helping us! We really appr

[2019-07-03 18:20] anurse commented on #11719
Closing as we believe this will be resolved in the next SDK release (preview 7) and the dev cert should be automatically updated. If anyone comes across this when running preview 7, let us know by filing a new issue!

[2019-07-03 18:20] #11719 closed

[2019-07-03 18:20] chrisaliotta commented on #11857
I'm going to close this issue since the problem has been resolved.

[2019-07-03 18:20] #11857 closed

[2019-07-03 18:25] NickCraver commented on #11780
That sounds great - any warning of *that something is wrong* would be a great first step over today. If we could long-term warn "hey, we aren't loading due to `netstandard2.0`" or such later that'd be an awesome next step, if possible. I think out-of-date builds for tag helpers will be an ongoing issue as long as versions have to be bumped by *all* MVC dependencies to move forward, effectively.

[2019-07-03 18:28] HelvioBlazor opened #11861 "DataAnnotation issues to Scaffold-Dbcontext"
I am using data base first, then I run multiple time the Scaffold-DbContext to re-sync the database to EFcore every time I modify the database.

I was using Scaffold-DbContext "Connection String" Microsoft.EntityFrameworkCore.SqlServer -o Model -DataAnnotation -Force, but after update to the preview 6 it cause problem and I had to remove the "-DataAnnotation". When I use DataAnnotation it briging

[2019-07-03 18:31] smjltd opened #11862 "Blazor Client Side : iOS (Preview 6)"
### Describe the bug
Unable to browse same Blazor Client Side app on iOS 13.0

### To Reproduce
Steps to reproduce the behavior:
1. Open Safari/Chrome
2. browse the app
3. See error stuck starting animation

### Screenshots
![IMG_2048](https://user-images.githubusercontent.com/8701960/60616347-e65f9a80-9dd9-11e9-8858-57ccb5dfd41c.PNG)
![Screenshot 2019-07-03 21 29 32](https://user-images.githubuse

[2019-07-03 18:32] aodl commented on #8631
^ this looks nice, but it doesn't appear to provide a means of hooking into the builder before **each** hosting startup is executed. This would make it difficult to inspect exactly how hosting startups are augmenting your application (and exactly which one is doing what).

The `HostingStartupWebHostBuilder` wrapper around `GenericWebHostBuilder` looks like it mostly delegates to `GenericWebHostBui

[2019-07-03 18:42] bderveni opened #11863 "Current Microsoft.AspNetCore.Authentication.MicrosoftAccounts does not support setting **prompt** query parameter"
### Is your feature request related to a problem? Please describe.
I am trying to add the **prompt** query parameter to the AuthenticationProperties when making an authentication request to Microsoft Accounts. Version 2.2.0 - the current non-preview version of the package - does not parse this parameter when it is added to the AuthenticationProperties.Parameters dictionary.

We need to set this pa

[2019-07-03 19:04] sbwalker opened #11867 "Blazor: Exception 'RemoteUriHelper' has not been initialized when using AuthenticationStateProvider server-side"
### Describe the bug
After declaring the AuthenticationStateProvider in Startup.cs in a server-side Blazor project which registers HttpClient in the recommended manner, an exception is thrown "System.InvalidOperationException: 'RemoteUriHelper' has not been initialized."

### To Reproduce
ASP.NET Core 3 Preview 6

        public void ConfigureServices(IServiceCollection services)
        {

[2019-07-03 19:09] Andrzej-W commented on #11815
@montyclt Maybe you shouldn't close. As I wrote above issue #5455 was closed a few months ago but I'm afraid `[Parameter(required = true)]` hasn't been implemented yet and I cannot find any other tracking item for this.

[2019-07-03 19:10] rynowak commented on #11815
Reopening this. We do plan to do a feature like this but it won't happen in 3.0.

[2019-07-03 19:41] blowdart commented on #11863
We generally don't back port new features, only bug or security fixes, unless there's a great demand.

[2019-07-03 19:49] stephentoub commented on #11804
I can repro this at will.  On my machine it happens within a second or so of running:
[code]
so I'm not sure it can even be considered "stress" :wink:

cc: @davidfowl, @halter73

[2019-07-03 19:58] rchande commented on #9704
We're also hitting this in dotnet/try:
[code]

[2019-07-03 19:58] #3479 closed

[2019-07-03 20:00] bzd3y opened #11868 "ViewComponents with parameters that collide with keywords"
When creating a ViewComponent with a parameter that collides with a keyword the argument to Invoke/InvokeAsync can be prefixed with the @ glyph to resolve the collision and the ViewComponent tag in Razor maps to the parameter correctly and doesn't complain. But when the code builds, a number of syntax errors are generated with only one of them vaguely indicating what is causing the build to fail.

[2019-07-03 20:04] HaoK commented on #11523
Thanks for the suggestion @aureole82 we are removing the other glyphicon warnings from the other pages

[2019-07-03 20:10] bderveni commented on #11863
I am assuming this was the only request for this feature and that we have to wait until September.

Thanks for the quick reply.

[2019-07-03 20:13] blowdart commented on #11863
I'm afraid so.

[2019-07-03 20:17] bderveni commented on #11863
@blowdart do you want me to close this, or do you guys do it?

[2019-07-03 20:20] blowdart commented on #11863
it always seems mean to have someone close their own issue :)

[2019-07-03 20:20] #11863 closed

[2019-07-03 20:20] Andrzej-W commented on #11710
@DumboJetEngine You have to take into account that it is very popular project with plenty of messages every day. It is simply impossible to write long answers to every suggestion, especially if something has already been discussed earlier. For your reference here is a similar issue: https://github.com/aspnet/Blazor/issues/960 with 14 down-votes.

[2019-07-03 20:46] danroth27 opened #11882 "Update readme generated by the identity scaffolder for .NET Core 3.0"
The readme for the identity scaffolder has some outdated content. It currently says:

[code]

In .NET Core 3.0 we've switched to the new endpoint routing system, so instead of adding `app.UseMvc()` you need to add a call to `endpoints.MapRazorPages()` (and maybe also `endpoints.MapControllers()`?) in the call to `app.UseEndpoints()`.

[2019-07-03 20:57] NTaylorMullen commented on #11172
Investigated this and it looks to be an issue with Roslyn. When Analyzers are included in a users project their build server fails to fulfill compilation requests at which point they fallback and start a new Csc process.

Logged an issue on their end with more details: https://github.com/dotnet/roslyn/issues/36963

[2019-07-03 21:08] davidfowl commented on #11804
This is stressing me out so it's definitely stress.

[2019-07-03 21:25] halter73 commented on #11804
@davidfowl Do you want me to investigate the "Reading is already in progress" failure?

[2019-07-03 21:30] davidfowl commented on #11804
Yes please.

[2019-07-03 21:35] pranavkm opened #11873 "Changes to cshtml files do not cause applications to reload in VS"
3.0.0-preview6

[2019-07-03 21:49] mkArtakMSFT commented on #11278
https://github.com/aspnet/AspNetCore/issues/11699

[2019-07-03 21:49] #11278 closed

[2019-07-03 22:02] halter73 commented on #11804
@stephentoub I'm trying to reproduce the issue by running the following for [your comment on the other thread](https://github.com/dotnet/corefx/issues/38911#issuecomment-508257058), but I'm not seeing the "Reading is already in progress.". This is on Win 10 using the [current corefx master](https://github.com/dotnet/corefx/commit/b00b4a5110c209b522fc711e48cd5243b3fb34ec) branch.

[code]

Searching

[2019-07-03 22:17] rchande commented on #9704
@RealTadango In my case, this was happening because we were calling "UseContentRoot" in a way that could cause it to be something other than the location of our assembly. Changing it to:
[code]

seems to help.

[2019-07-03 22:30] stephentoub commented on #11804
7 wasn't supposed to be in that list; copy/paste error on my part.  That's going to issue a bunch of cancellations, cause connections to be torn down, and likely shadow any other issues.

Can you try it again without the 7?

[2019-07-03 22:33] halter73 commented on #11804
That did the trick. I'm taking a look right now.

[2019-07-03 22:47] NTaylorMullen commented on #11859
Seems like a variant of https://github.com/aspnet/AspNetCore/issues/10940

[2019-07-03 22:55] phinett opened #11876 "Blazor - OnRenderAsync being fired twice with PreRendering enabled"
When i have PreRendering enabled on my blazor app, i am getting 2 calls to OnAfterRenderAsync for my page.

I am trying to call some JS interop in this event to initialise a javascript plugin, but its getting called twice causing some issues.

I have tried creating a bool flag and doing a if(alreadyPreRendered) around my JsInterop call but the bool is always reset on the second time around.

Disab

[2019-07-03 23:01] bnb commented on #11688
If this is the path that ends up being chosen, my suggestion is to publish a patch version that includes a new message in the README.md file – effectively, for display only on npmjs.com.

My only concern with this is that you're publishing something that end-users would expect to be code/improvement, but it's actually a misdirection of how to use the real thing. Not a massive deal if it's a few li

[2019-07-03 23:02] #11699 closed

[2019-07-03 23:20] halter73 commented on #11804
This is a regression caused by replacing the DefaultPipeReader with the StreamPipeReader.

@Tratcher pointed out this is likely caused by Kestrel's Http2Connection calling PipeReader.CancelPendingRead() [every second](
https://github.com/aspnet/AspNetCore/blob/56e8271e24fbbb71560db50225212703bfc34fbd/src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs#L964) in order to update some state

[2019-07-03 23:27] pranavkm opened #11879 "Avoid throwing an exception if CircuitHost is not set up in the Hub"
If a client isn't set up correctly, we get an exception logged in the server as so:

[code]

We should instead just log these as low level Debug statements. Regular clients should nearly never run in to this error.

[2019-07-03 23:30] danroth27 opened #11880 "Identity scaffolder generates code that doesn't compile or is malformed"
The Identity scaffolder generates code that doesn't compile.

Repro steps:

- Install .NET Core 3.0 Preview 7 and VS d16.3 Preview 1
- Create a new ASP.NET Core Web App using the Empty template
- Right click on the project and run the Identity scaffolder
- Build the project with the generated identity code

Expected result:

- Project builds successfully

Actual result:

- The generate *_Layout.cs

[2019-07-03 23:35] danroth27 commented on #11880
@HaoK

[2019-07-03 23:37] danroth27 opened #11881 "Identity scaffolder some times generates an IdentityHostingStartup that doesn't do anything"
It looks like in some cases the identity scaffolder will generate an `IdentityHostingStartup` that doesn't do anything:

Repro steps:

- Install .NET Core 3.0 Preview 7 and VS d16.3 Preview 1
- Create a new Blazor Server App with Individual User Accounts enabled
- Run the Identity scaffolder overriding everything in the project

Actual result:

- IdentityHostingStartup generated without any meanin

[2019-07-03 23:37] danroth27 commented on #11881
@HaoK

[2019-07-03 23:37] danroth27 commented on #11882
@HaoK

[2019-07-04 00:33] khteh commented on #11673
Any reference for doing that? I mean launching the Kerstrel in-process to test Signalr with websocket transport.

[2019-07-04 00:46] HaoK commented on #11880
The two missing using issues are a razor bug: https://github.com/aspnet/AspNetCore/issues/10811 according to @seancpeters

[2019-07-04 01:03] rynowak commented on #11879
For clarity's sake, we don't want to turn these into exceptions because it allows a misbehaving client to flood logs.

[2019-07-04 01:04] #11846 closed

[2019-07-04 01:16] cqkisyouq commented on #11836
I load "*.views. DLL "into the current program in a dynamic way. When I run the debugging of the current program and do not change the views in the current program, everything is normal when visiting the page.
When I make a change to "*.cshtml" in the current program and save it, and then access the changed view without restarting the debugging, I will report the above error.
By looking at the abo

[2019-07-04 01:18] danroth27 opened #11883 "Layout generated by Identity scaffolder conflicts with the layout in Blazor Server Apps"
The Identity scaffolder generates a layout if it doesn't detect one in the project. Blazor Server Apps have a layout, but it's implemented using components so the Identity scaffolder doesn't detect it. The layout added by the Identity scaffolder gets applied to the *_Host.cshtml* file used by the Blazor app:

![image](https://user-images.githubusercontent.com/1874516/60633263-ac34cf80-9dbe-11e9-82

[2019-07-04 01:18] danroth27 commented on #11883
@HaoK

[2019-07-04 01:18] ruicraveiro commented on #10170
I use CSS grids to define my pages' layouts. Each page or component will have a different css grid layout, which will also be responsive. CSS isolation is important for this use case to prevent me from having to guarantee each style has an application-wide unique name.

[2019-07-04 01:25] johncrim opened #11884 "Support re-using GenericWebHostBuilder and GenericWebHostService"
### Problem statement
I'm trying to help on this issue: https://github.com/microsoft/service-fabric-aspnetcore/issues/48
in addition to private integration of ASP.NET Core 3.0 + kestrel hosting within Service Fabric. Consider a basic kestrel web server, exposing http and https endpoints, within a SF node.

We'd like to add support for using a generic host within Service Fabric ASP.NET Core 3.0 app

[2019-07-04 02:16] ElementZ-Zareth commented on #10376
@mohankumar91 your colorValue might need to be = "#c10e0e"
1.) The HTML5 color picker doesn't support alpha values.
2.) The HTML5 color picker value included the # symbol, so the initial string should contain it as well.

I'm working on a Sudoku game that allows the user to choose colors to associate to each number.  I've bound the values of each number to a list of strings.  When you choose a new

[2019-07-04 02:44] sebastienricher commented on #5385
I'm unfortunately busy with other parts of the project, but I do intend to
revisit, as I will need to tackle this sooner or later, from what I read
here, I'm thinking this should work. I'll head back into this probably in
august after vacations.

On Wed, Jul 3, 2019 at 1:07 PM Artak <notifications@github.com> wrote:

--
----------------------------------------------------------
 Sébastien Richer

[2019-07-04 03:02] mattferderer commented on #7663
@mkArtakMSFT or @NTaylorMullen does it make sense for the tag helper to generate both the input & the datalist?

I feel it does. If that assumption is correct, the datalist element requires an id attribute and the input element requires a list attribute that matches. Is there a pattern established for defining how to name that matching attribute?

[2019-07-04 03:25] danroth27 commented on #10811
@mkArtakMSFT This issue is impacting the Identity scaffolder and resulting in code that doesn't compile when using the Identity scaffolder with the Empty and Blazor Server App templates. Can we pull this back into 3.0 and get this fixed? Or is there a recommended workaround?

[2019-07-04 03:30] jo-asakura opened #11885 "HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure"
### Describe the bug

When I publish my website to the remote IIS server (using a publishing profile setup) I'm getting the following error: `HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure`. When I try to use CLI to see what the error might be using `dotnet .\<app>.dll` I'm getting nothing at all, it's just no console output what so ever.

When I do same thing locally, running the app usin

[2019-07-04 03:38] danroth27 opened #11886 "Web app templates now require account confirmation but Blazor Server App template doesn't"
It looks like the web app templates have been updated to require account confirmation:

[code]

This results in a different UI flow when registering a new user:

![image](https://user-images.githubusercontent.com/1874516/60637979-74835300-9dd1-11e9-9fbd-f304f415ca03.png)

The Blazor Server App template doesn't have this option set, so when you register a new user you are immediately logged in:

![

[2019-07-04 04:50] StevenTCramer opened #11887 "Use new file to supply a long list of assemblies to linker"
The Mono team has resolved https://github.com/mono/linker/issues/379
Yet in preview 6 we still get https://github.com/aspnet/AspNetCore/issues/5673

I just want to track that this gets resolved as I have a fellow developer that continues to see this issue on brand new projects.

https://github.com/aspnet/AspNetCore/blob/de911255936905b01e8accc43c426688150c63fd/src/Components/Blazor/Build/src/targe

[2019-07-04 05:06] anurse opened #11888 "[SignalR] Better integration with TestServer"
Right now, it's only possible to use TestServer with the non-WebSockets transports because we only provide a way to replace the `HttpMessageHandler`. We should consider providing a way to provide a `WebSocket` "factory" so that we can integrate properly with TestServer.

It might be most appropriate here to add an alternative to `WithUrl` on `HubConnectionBuilder`. Consider this possible test code

[2019-07-04 05:07] anurse commented on #11673
Because the actual .NET Core APIs are different. `HttpClient` is used for everything except WebSockets. To use WebSockets, the [`ClientWebSocket`](https://docs.microsoft.com/en-us/dotnet/api/system.net.websockets.clientwebsocket?view=netframework-4.8) API must be used (`HttpClient` cannot perform the WebSocket handshake).

We do it in our own tests, here: https://github.com/aspnet/AspNetCore/blob/

[2019-07-04 05:29] #11673 closed

[2019-07-04 07:00] RealTadango commented on #9704
@rchande I don't use UseContentRoot

[2019-07-04 07:05] Tratcher commented on #11884
@davidfowl

[2019-07-04 07:29] Hoshani opened #11889 "Unable to determine the desired template from the input template name: blazorserverside"
I am trying to setup blazor server side but I keep getting this problem when trying to install it

following [this tutorial](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio-code) from Microsoft and I get this error in powershell window

[code]

[2019-07-04 07:38] Hoshani commented on #11889
when installing I did write
dotnet new -i Microsoft.AspNetCore.Blazor.Templates
instead of writing
dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview6.19307.2

[here is how to fix it](https://stackoverflow.com/a/56882762/10422932)

[2019-07-04 07:38] #11889 closed

[2019-07-04 07:47] keeed opened #11890 "Cannot connect to Blazor after a few refresh on OSX"
### Describe the bug
After a few refresh, for some weird reasons, I cannot connect to blazor anymore. Basically browsers are saying that the site cannot be reached.

### To Reproduce
Steps to reproduce the behavior:
1. Create a component where a data is periodically being sent to a javascript via JsInterop.
2. Refresh the browser several times. Hard to know when this is exactly happening but after

[2019-07-04 08:14] ddweber opened #11891 "[SignalR] Possibility to catch custom (hub)exceptions in client"
I´ve read in aspnet/SignalR#3009 that it is possible to throw custom exceptions on the hub which inherit from `HubException ` so that they will be propagated to the clients.
I want to catch this custom exceptions on the clients so that i can react accordingly. Is there any possible way to do that? I would like to do some kind of:

[code]

At the moment im doing it as the follwing because only the

[2019-07-04 08:49] jhawkesworth commented on #11885
I have a very similar issue.  I can get the application to run locally, or in on premise virtual machines (S2012R2).  However, it will not run at all on S2012R2 virtual machines in Azure US East 2 region, either at the command line or from IIS.
Its clear the application is getting stuck in an endless loop of some sort as it immediately monopolizes a single core of a 2 core virtual machine.  When r

[2019-07-04 09:14] SteveSandersonMS commented on #11867
This happens because `DefaultCircuitFactory` first gets the `AuthenticationStateProvider` and initializes it, then it gets the `IUriHelper` and initializes it. If we did that in the opposite order, this would work OK.

However, doing it in the opposite order would then lead to an opposite problem, which is that if someone configures a custom `IUriHelper` whose service provider works by fetching an

[2019-07-04 09:17] SteveSandersonMS commented on #11653
Fixed in https://github.com/aspnet/AspNetCore/pull/11854

[2019-07-04 09:17] #11653 closed

[2019-07-04 09:26] ZergZe opened #11892 "Blazor app crashes in use null as @key="@...""
### Describe the bug
Data sources may contain null as item.
@key feature in this case crashes application.

### To Reproduce
[code]

### Actual Result

[code]

### Expected behavior
null value can't be used as key (since several null item would be indistinguishable), so, key may be ignored for this li elemen. It should not crash app. It should not require workaround.

### Possible workaround

[cod

[2019-07-04 09:30] gurunathancs1991 opened #11893 "How to return data from Blazor JSInvokable method to triggered JS method as synchronous action"
Am wrapping some existing JS plugins to blazor components. when doing so, i faced below issue.
i have a callback method, which has triggered from JS to blazor using dotnet reference -> `invokeMethodAsync`

`  this.dotnet.invokeMethodAsync("Trigger", this.eventName, '');`

it's perfectly triggers the `JSinvokable ` method. but here, i need to return the data from blazor source to JS function handle

[2019-07-04 10:10] robbaman commented on #3849
I've noticed that when you setup AlwaysRunning with a AspNet Core application (2.2) and I recycle the application (by clicking recycle in the IIS Manager) it correctly starts a new instance including the actual Kestrel-based application. This is also visible in the Windows Event Log with two events:

4-7-2019 12:04:24: Application 'D:\Sites\ShippingService\' started the coreclr in-process successf

[2019-07-04 10:20] keeed commented on #11890
Additional info:

This is happening even on the default application template. Just do a lot of actions and eventually it will stop working.

[2019-07-04 10:20] knoxi commented on #3479
@Tratcher : we have the same exception as Marc has.
In our service we are using [Distributed SQL Server Cache](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-2.2) and there the entry in the cache table is missing because of this exception.
Correct me if I'm wrong but as I interpreted you answer, I looks we could ignore this exception. Does this now hav

[2019-07-04 10:24] MRT-77 commented on #5390
I received 502 error after upgrading the "Hosting Bundle"

[2019-07-04 10:38] keeed commented on #11890
More Update:

It looks like that this is just an OSX issue. I tried it on Windows but got no problem at all :(

[2019-07-04 11:02] SteveSandersonMS commented on #11893
If you're using server-side Blazor (and it sounds like you are), then all JS-.NET calls have to be async, because they are carried out over the network. That's why it tells you that you must use `invokeMethodAsync` instead of `invokeMethod`. If you use client-side Blazor, you can use `invokeMethod`.

[2019-07-04 11:02] #11893 closed

[2019-07-04 11:06] SteveSandersonMS commented on #11892
This is as expected. If you want to use `key`, you really should find something distinct for each of your items, otherwise it's not meaningful. We throw if you pass `null` because otherwise developers wouldn't realise if they were in a situation where `key` couldn't work.

If you want to, you can do something like `@key="@(someValue ?? new object())"` or `@key="@(someValue ?? "fixed value")"`, dep

[2019-07-04 11:06] #11892 closed

[2019-07-04 11:14] karthickthangasamy commented on #11893
@SteveSandersonMS : Is there any way to distinguish between `server-side` and `client-side` razor application from `interop.js`.? So, that we can invoke the method accordingly.

[2019-07-04 11:22] SteveSandersonMS commented on #11893
Mostly people know which environment their application runs in, but if you're unsure, you should always use async interop only, since that's the only kind that's available in all environments.

[2019-07-04 11:34] UndyingJellyfish opened #11895 "ASP.NET Core Web API authorization through On-prem ADFS"
I found an old issue (#1920) where it was stated that it was not possible (then) to authorize requests via on-prem ADFS, is this still the case? If not, where would I find the doc for achieving this?

[2019-07-04 11:39] Stamo-Gochev commented on #6349
@nfplee Seems like this will be updated with https://github.com/aspnet/AspNetCore/issues/11763

[2019-07-04 12:20] SteveSandersonMS commented on #11792
@rynowak Do you have a view on which parts of this should be handled using `ILogger` versus `DiagnosticSource` or `System.Diagnostics.Trace`? It's not something I have a lot of history with.

It would be convenient to use `ILogger` only, since it's unclear `DiagnosticSource` is a recommended pattern (looks like SignalR doesn't use it at all), and `System.Diagnostics.DiagnosticSource` can't immedia

[2019-07-04 12:24] javiercn commented on #11792
diagnostics source is a lower level construct I believe, for way lower level tracing. ILogger afaik is good enough.

[2019-07-04 12:51] UndyingJellyfish commented on #11895
Managed to find something related: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/ws-federation?view=aspnetcore-2.2.

[2019-07-04 12:51] #11895 closed

[2019-07-04 13:19] blowdart commented on #11886
Yes, be consistent

[2019-07-04 13:31] benaadams commented on #11804
Does that mean for Http2 its throwing a new exception every second per connection? 😢

[2019-07-04 13:34] benaadams commented on #11804
Does that mean for Http2 its throwing a new exception every second per connection? 😢

By design? 😕

[2019-07-04 14:08] LaughingJohn commented on #11681
Thanks @sbuchok that worked fine as far as showing/hiding is concerned but I still couldn't get it so that the dialog would close when the close "button" is pressed or when the overlay is clicked. Your example seems to have lost the overlay part.
I can get it to close only when the close "button" is clicked or when you click anywhere inside or outside the fmmodel-content bit.
Adding event.stopProp

[2019-07-04 14:14] mathiassiig opened #11898 "SignalR: No websocket availability in supported transports during negotiation"
**Server-side**
I'm using ASP.NET Core 2.2 and SignalR 1.1.4
I followed this tutorial: https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?view=aspnetcore-2.2&tabs=visual-studio

**Client-side**
I'm using Unity 2017.3.2f1 and BestHTTP Pro which comes with a SignalRCore client.

When attempting to establish a connection, the `NegotiationResult` comes with two `Supported Transports`: Serv

[2019-07-04 14:27] xgenvn opened #11899 "Docker runtime is not able to binding gRPC service"
### Describe the bug
- It's able to build and run gRPC using default template under Windows, but cannot work using docker image build.

### Logs
[code]

### Additional Information

Dockerfile
[code]

I have tried several different versions but not been able to make it work.
The normal build in Windows works fine.

[2019-07-04 14:34] Tratcher commented on #3479
Correct, if the user disconnects before their session is saved then it will not be saved. I've changed this in 3.0.0-preview8 to not check for user disconnects here.

One workaround is to call Session.CommitAsync in app code without RequestAborted.

[2019-07-04 14:36] #11480 closed

[2019-07-04 14:41] iniside opened #11900 "SignalR - Send custom complex object from Custom client."
I have working custom client for SignalR.
I can send simple messages (using primitive types), but now I want to send complex object.

On The server side I have object like this:

[code]

[code]

And on client the sample message I send look like this:

[code]

The message is correctly received on server side, but the object fields are all null.

Is  there something special I need to do, to correctl

[2019-07-04 14:45] sven5 opened #11901 "Blazor with WindowsIdentity error: Safe handle has been closed"
### Describe the bug
When using a custom AuthorizationHandler<T> the following Exception will be thrown when navigating through Blazor's router to a secured Page (using `@attribute [Authorize(Policy = "customPolicy")]`)
When directly entering the URL in the browser and hitting Enter this error does not occur.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core:

[2019-07-04 14:46] ajruckman commented on #11159
For those looking to make SamProf's solution a little more portable, here is what I figured out:

Define this helper class somewhere:
[code]

In your Razor component, where you want to make a new DotNetObjectRef, you can do this:
[code]

[2019-07-04 15:25] valeriob opened #11902 "Question : How to delete a file after download ?"
Hi,
we would like to generate a file on the fly on the file system Path.GetTempFileName(), then return  PhysicalFile(filePath) in the action controller and delete the file right after to avoid filling up the disk.
We created a custom Result to delete the file after it has been executed, look like it's working, but is this approach correct ?

   public class PhysicalFileDeleteFileResult : PhysicalF

[2019-07-04 15:36] jhawkesworth commented on #11885
Also, like the opener of this issue, I am not running from the C:\ drive, could that be significant?

[2019-07-04 15:36] xgenvn commented on #11899
#### Updated:
- My working version under Windows is built using netcore3-preview5. Upgrading to preview6 throws the same issue.

[2019-07-04 15:47] xgenvn commented on #11899
Closed.
Fixed by updating packages to:
[code]

[2019-07-04 15:47] #11899 closed

[2019-07-04 15:55] davidfowl commented on #11884
I'd need to understand the proposed solution before we expose anything.

[2019-07-04 16:12] DumboJetEngine commented on #11710
Thank you all. :)
I didn't expect any extensive reply initially, but the account of down-votes socked me a bit and made me wonder.

[2019-07-04 18:04] Emzi0767 opened #11904 "Response.Body streams do not get flushed"
### Describe the bug
It appears that streams under `Context.Response.Body` do not get flushed, at least if they are replaced. I tested this with `GZipStream`, unsure whether that's the case for other stream types.

### To Reproduce
I am using ASP.NET Core 2.2 in this example, I am unsure whether this still applies to 3.0 as I am unable to test at this time.

Steps:
1. Create an empty ASP.NET Core

[2019-07-04 18:11] dudekj commented on #7270
Hi Lucas,
I was battling this issue unsuccessfully for a while until I have stumbled upon your post.
Thank you for sharing the solution. Could you please satisfy my curiosity and tell me how you have figured it out? With views, controllers, front pages and code-behind I can debug and see the path where the resource file is expected, but with the data annotations it seems to be a black box.
Thank y

[2019-07-04 18:41] duaneking opened #11905 "F# MVC Does not even support authentication out of the box."
### Describe the bug
The F# Language is not treated as a first class citizen at all.  Testing, I can't even add authentication to a new projects created by the command line, and on Mac, I don't even get a UI.  If you try to look up why, you end up at a templating bug post in an archived github account that seems to suggest this issue just slipped through the cracks.

This is not just a feature req

[2019-07-04 19:26] lucasNewhsarp commented on #7270
Hi,

I put an IStringLocalizer<InputModel> on RegistrerModel controller constructor.
Since I can have an ILocalizer<...> of any type, the framework take care of create an instance for me and debuggin we can see the "_resourceBaseName" for this type wich have this name.
![001](https://user-images.githubusercontent.com/47319965/60685268-7f44f300-9e78-11e9-9cd1-5fbda5a6b437.png)

[2019-07-04 19:44] davidfowl commented on #11904
It’s your job to act on the stream and revert it if you replace it. How you’re replacing the stream also isn’t idiomatic in MVC. Either you do it all in a middleware and handle before calling next and after or you can write a custom action result to handle that in mvc itself.

I either situation it’s your job to perform the operation.

[2019-07-04 19:52] Emzi0767 commented on #11904
This raises a question about response stream, however. Are the flush and/or dispose methods called on them at any point?

[2019-07-04 19:58] davidfowl commented on #11904
Depends on the server implementation. The golden rule is, you are responsible for the objects you create. A middleware that's being a good citizen looks like this:

https://github.com/aspnet/AspNetCore/blob/1b6f721648a500f59eda475564238e787a1967d8/src/Middleware/ResponseCompression/src/ResponseCompressionMiddleware.cs#L46-L96

PS: You should just use the response compression middleware, it does wh

[2019-07-04 20:03] rynowak commented on #11792
Let's just do `ILogger` for now. `ILogger` is always useful because it doesn't require any special tools to see the output. `DiagnosticSource` is only useful when someone is writing a tool to process the data.

[2019-07-04 20:13] Emzi0767 commented on #11904
Fair enough, I'll have to keep that in mind for the future.

Unfortunately, it does not. Compression middleware, the way I see it, only wraps into a compression stream based on `Accept-Encoding` header, and does so globally.

In my use case, the client does not send such a header, it's mandated by a route (or route argument, depending on implementation), and only on 3 specific endpoints (i.e. the

[2019-07-04 20:14] rynowak commented on #11890
Do you see an error in the browser console?

[2019-07-04 20:17] rynowak commented on #10811
Add an empty line.

[2019-07-04 20:20] rynowak commented on #11867
Is this something that's actually important that we account for?

It's valuable to build good abstractions and code our components to those abstractions. But, I don't put a lot of stock in making primitives like this replaceable *within* a hosting model.

[2019-07-04 20:30] benaadams commented on #11904
I assume you can do something better with endpoint routing in 3.0; but you can use .MapWhen to only attach compression when a condition is matched
[code]

[2019-07-04 20:35] Emzi0767 commented on #11904
Good to know, but it still won't cut it (route data is not yet available at this point). I'll have to look into endpoint routing in the future, I guess.

[2019-07-04 20:50] kewinbrand opened #11906 "Converting DateTime to localtime w/ ToLocalTime() always returns UTC"
Not sure if this issue belongs here.

I created a simple console app in docker with the following code:

[code]
The output is:
07/04/2019 13:13:50
GMT

Even tough my system local time is GMT-3 (with timedatectl):

Local time: Thu 2019-07-04 10:22:50 -03
  Universal time: Thu 2019-07-04 13:22:50 UTC
        RTC time: Thu 2019-07-04 15:22:45
       Time zone: America/Sao_Paulo (-03, -0300)
     NTP

[2019-07-04 21:55] jo-asakura commented on #11885
More logs to help troubleshoot the issue, this time they're from `ancm.log` using [`handlerSettings` setup](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/troubleshoot?view=aspnetcore-2.2#enable-the-aspnet-core-module-debug-log):
[code]

[2019-07-04 22:09] rynowak opened #11907 "Blazor API Review: Compiler Services"
# Summary

These are APIs that are used *mostly* by the compiler - some are used *exclusively* by the compiler. I'm err-ing on the side of safety here by including things that the compiler touches so that we look at them.

At a high-level I plan on parking compiler-specific things in `Microsoft.AspNetCore.Components.CompilerServices` - similar to what the [BCL does](https://docs.microsoft.com/en-u

[2019-07-04 22:21] rynowak commented on #11907
@SteveSandersonMS @javiercn @pranavkm @ajaybhargavb @NTaylorMullen

[2019-07-04 22:56] Andrzej-W opened #11908 "Blazor should throw when there are duplicate @key values in components"
### Describe the bug
Currently it is possible to create components with duplicate @key values. It is even documented:

### Expected behavior
Blazor should throw exception, because it is potentially serious bug with catastrophic consequences.

### Additional context
People who use @key expect that it works. If it doesn't some serious bugs are possible, usually related to unexpected lifecycle method

[2019-07-04 23:21] WHumphreys opened #11909 "SignalR issue with '@' in path"
Visual Studio 2019

When using 'Add Client-Side Library' within Visual Studio to add the SignalR JS Library's the following path is created by default:

"~/lib/@aspnet/signalr/dist/browser/signalr.js"

When this is used in a Razor Page (I guess all of them but I have not tested) Visual Studio will not compile.

Error: 'The name 'aspnet' does not exist in the current context'

It is the '@' that is

[2019-07-04 23:44] jbomhold3 opened #11910 "Blazor OnAfterRender Recursive Warning"
It would be nice to have a warning in the tooling about recursion when using StateHasChanged() in OnAfterRender event.  Should warn only if with the top level of the method not if used in a conditional statement. Not a pressing issue but it would be a nice, oops I didn't mean to have that their anyways notice. Even better for newer users that have no idea that would happen.

[2019-07-05 00:02] rynowak commented on #11910
Want to send a PR for this?

[2019-07-05 01:14] jbomhold3 commented on #11910
I have never looked at the tool repo to even know where to start to do a PR for it

[2019-07-05 01:30] keeed commented on #11890
@rynowak no error in the browser console as well.

[2019-07-05 03:05] robertlestak commented on #5898
I don't have a solution for the underlying AspNetCore issue, however I found a viable server-side workaround until a DotNet Core solution is found.

If a unique proxy_pass location block is created in the proxy server for every single DotNet Route, DotNet will be able to respond as expected.

This of course requires close coordination between server admins and app devs, or a script which dynamical

[2019-07-05 03:34] #11197 closed

[2019-07-05 04:50] jorgearana commented on #10509
Hi, please let us know how you did it.

[2019-07-05 04:55] jorgearana commented on #10509
Hi, please let us know how you did it. I follow several times the steps and continues the error HTTP Error 500.0 - ANCM In-Process Handler Load Failure. And I do not know anyone who has been able to do it

[2019-07-05 05:37] #10713 closed

[2019-07-05 05:41] brcaswell opened #11912 "Connected Services workflow in VS2017 overrides entire 'StartUp.cs' file generated from React Redux SPA Template"
Greetings, I wanted to relay an issue I observed and experienced; Though, I don't think it's necessarily a bug; it's something worth triaging on and potentially a grooming consideration.

When creating a new .NET Core 2.1 ASP.NET Application Project using React Redux SPA Template **and** utilizing the 'Connected Services' to add 'Authentication with Azure Active Directory' (Configuring SSO using A

[2019-07-05 05:42] brcaswell commented on #11912
note that I initially posted this issue in [facebook/create-react-app](https://github.com/facebook/create-react-app) by mistake.

[2019-07-05 06:24] damienbod commented on #11834
@rynowak

At possible it is not possible to add a certificate to the HttpClient when creating this using the IHttpClientFactory.

I can do it like this:

[code]

or like this which is not ideal for all solutions as the certificate is added for all HttpClient instances.

[code]

It would be nice to have something like this:

[code]

[2019-07-05 06:31] damienbod commented on #11834
@rynowak just released this makes no sense, using a named HttpClient with ConfigurePrimaryHttpMessageHandler can do exactly this.

[2019-07-05 06:31] #11834 closed

[2019-07-05 06:33] SQL-MisterMagoo commented on #11907
I notice there are some thoughts on removing code that is not used since the introduction of EventCallback. Can I just check that removing those methods will not prevent the use of Action for ValueChanged in component binding?

[2019-07-05 08:06] grahamehorner opened #11913 "git clone issues"
issues when cloning repo - other repo's work fine; also tried multiple clients and internet connections

git.exe clone --progress --recursive -v "https://github.com/aspnet/AspNetCore.git" "C:\DEV\github.com\aspnet\AspNetCore"

Cloning into 'C:\DEV\github.com\aspnet\AspNetCore'...
POST git-upload-pack (gzip 11775 to 5727 bytes)
remote: Enumerating objects: 218, done.
remote: Counting objects: 100%

[2019-07-05 08:41] #11848 closed

[2019-07-05 09:10] AndrewGriffithsFG opened #11914 "Async validation is not updating the field class of inputs after a delay on Blazor"
### Describe the bug
When using async validation, the field class of inputs is not updated if the validation returns after a delay.
Using .Net Core 3.0 Preview 6

### To Reproduce
1. Clone the repo at https://github.com/AndrewGriffithsFG/FluentValidation/tree/master
2. Run one of the sample projects (both exhibit the same behaviour)
3. Click the Save button without filling in any information
4. Th

[2019-07-05 09:43] SteveSandersonMS commented on #11908
Can you clarify what catastrophic consequences you anticipate?

This means that we may produce a suboptimal diff (e.g., re-rendering more descendants than you'd expect), but it's rare that it would result in an observable difference to the end user.

The design intent was to handle key clashes gracefully, because there may be cases where developers find them hard to avoid, or worse, don't encounte

[2019-07-05 10:05] ismcagdas commented on #8653
Hi @pranavkm sorry for writing to a closed issue but we have a similar problem. We are using HttpMethodActionConstraint in two places of our custom IApplicationModelConvention implementation to prevent usage of http verbs for some auto generated controllers, see below lines:

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/Mvc/Conventions/AbpAppService

[2019-07-05 10:35] ichensky commented on #11144
@tsmccartan  You, can also add  `[JsonPropertyName("Id")] to all properties in serializable class, this can help with solving issue now.

[2019-07-05 10:42] CenturionYun opened #11915 "SignalR Self-Host does not support Console Application?"
I built a console signalr server based on .net 4.5 before, now i'm trying to move to .net core, but i found that i cannot find a way to add latest signalr 3.0 preview-6 into console application.

[2019-07-05 12:00] Joe4evr commented on #11595
I have the same issue but even on initial page load.

[2019-07-05 12:06] lukos opened #11916 "Integration tests always use development environment"
### Describe the bug
I want to refer back to issue https://github.com/aspnet/Mvc/issues/7976 which was closed with imho a somewhat dismissive manner for the original reported issue. Basically, the behaviour of `WebApplicationFactory` is not instinctive when used on other environments.

### To Reproduce
1) Create a dnc project with more than one appsettings.Env.json file
2) Put different database c

[2019-07-05 12:14] wstaelens commented on #2126
I get it is obsolete: https://github.com/aspnet/Announcements/issues/312

[2019-07-05 12:21] guardrex commented on #11916
We have a cross-issue in docs for this, too, given that devs are asking for help on how to do it. https://github.com/aspnet/AspNetCore.Docs/issues/12303

[2019-07-05 12:39] dudekj commented on #7270
Brilliant!
Thank you, Lucas.
Joanna

From: lucasNewhsarp [mailto:notifications@github.com]
Sent: July 4, 2019 3:28 PM
To: aspnet/AspNetCore <AspNetCore@noreply.github.com>
Cc: Joanna Dudek <Joanna.Dudek@tpsgc-pwgsc.gc.ca>; Comment <comment@noreply.github.com>
Subject: Re: [aspnet/AspNetCore] RegisterModel.InputModel Localize (#7270)

Hi,

I put an IStringLocalizer on RegistrerModel controller cons

[2019-07-05 12:52] Avrohom opened #11917 "Determine when .NET call dispatcher is initialised."
### Is your feature request related to a problem? Please describe.
Yes, indeed. When calling a .Net method from javascript immediately after page load, the .Net call dispatcher seems to not yet been initialised. The web console shows following error:

![image](https://user-images.githubusercontent.com/6719297/60723636-1323c700-9f2c-11e9-9f80-7943f48eb56a.png)

### Describe the solution you'd like

[2019-07-05 13:17] Avrohom commented on #11917
Found better solution.

In the razor page I am calling in the OnInit method the foolwing:
`    JsRuntime.InvokeAsync<object>("dotNetSetIsReady");
`

In the js file I declare following function:
`window.dotNetSetIsReady = function () {
    dotNetInitialised = true;
};
`
this is where and how I indicate a flag that DotNet is ready.

[2019-07-05 13:18] kmkrish007 opened #11918 "How to get FileStreamResult in blazor project with netstandard2.0 ?"
### Describe the bug
I have developed blazor project with netstandard2.0, i want to use FileStreamResult in my project, and not able to install this packages, Microsoft.AspNetCore.Mvc.NewtonsoftJson version=3.0.0-preview6.19307.2. is there any way to use FileStreamResult in my project.

### Expected behavior
blazor project with netstandard2.0 and need to use FileStreamResult.

[2019-07-05 13:42] ugookoro opened #11920 "HubContext User Claims and Identity is empty (null)"
I have a self hosted signalr server (hub) in a windows service. This hub can only be accessed by Authenticated users or clients with a JWT token.
here's the setup for my Startup and Program class

[code]
Here's the rest of the startup class
[code]
The challenge that I have is when I deploy and install this service on my Staging server

This line where I try to get the current user's claim from the

[2019-07-05 14:05] Joe4evr commented on #11159
Same issue here, thanks for the workaround.

[2019-07-05 14:41] sven5 commented on #11901
Hi folks,

I was able to create a small [test case](https://github.com/sven5/Blazor/tree/master/Issue11901/WebApp1) to reproduce this issue.

Regards
Sven

[2019-07-05 14:53] davidfowl commented on #11901
cc @BrennanConroy

[2019-07-05 14:59] Tratcher commented on #11804
CancelPendingRead doesn't cause a normal pipe to throw, it returns a cancelled result. However it may be causing SslStream to throw. Fowler's idea to fix this was for the pipe-stream adapter to not cancel the underlying stream read, just unblock the caller. The next pipe read would pick up where it left off.

[2019-07-05 15:11] rynowak commented on #11907
It will not prevent this.

If you have some sample code that you're interested in, I'm happy to try it out with this change while it's still in PR.

[2019-07-05 15:13] rynowak commented on #8653
We've heard enough feedback about this particular issue that we're going to make this public.

[2019-07-05 15:13] rynowak commented on #8653
Along with `AmbiguousActionException`

[2019-07-05 15:29] TheMightyMat opened #11921 "Blazor Startup class does not find _Host or pages when mocked from different project"
### Description
If the `Startup` class is inherited by a `TestStartup` class in an integration test project, and used to launch the server, the following error is given, despite the content root being set to the main project:
[code]
It appears that the page routing is still performed relative to the TestStartup class, instead of to the content root set.

### To Reproduce
Steps to reproduce the beh

[2019-07-05 15:31] mkArtakMSFT commented on #11906
Thanks for contacting us, @kewinbrand.
Folks at the `https://github.com/dotnet/corefx` repo are better positioned to answer this question.
Please file a new issue in there.

[2019-07-05 15:31] #11906 closed

[2019-07-05 15:32] mkArtakMSFT commented on #11902
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-07-05 15:38] ebekker commented on #4332
If my ASP.NET Core web project just references an RCL library that contains a Razor Page, if I try to reference the page using the path that is either "implied" by the Page's directory path (e.g. `/MyFeature/Page1` in the default project created by `dotnet new razorclasslib`) or explicitly specified in the `@page` directive (e.g. `@page "/testpage"), I get a 404 error.

If however, I also add the

[2019-07-05 15:38] valeriob commented on #11902
Ok sorry i will.

[2019-07-05 15:38] #11902 closed

[2019-07-05 15:39] zanate4019 commented on #8548
Can we use signalr core 3.0 in a asp.net core 2.2 project?

[2019-07-05 15:39] SQL-MisterMagoo commented on #11907
Thanks I'm just thinking of this sort of thing [https://github.com/SQL-MisterMagoo/BlazorEventsDemo/blob/master/BlazorEvents/Comps/ActionValue.cs
](ActionValue.cs)

That file is in is a preview6 Blazor project to compare the use of Action vs EventCallback , so could be used as a sample if you wanted.

[2019-07-05 15:44] anurse commented on #8548
No, the SignalR server components are _part of_ ASP.NET Core and you cannot cross versions like this.

If you are using the SignalR .NET **Client** you can mix versions like this.

[2019-07-05 15:50] iantoalms opened #11922 "ASP.Net Core 2.1 SPA Node Based Project Templates have out of date dependencies which cause build/publish failures on macOS with latest versions of node (e.g. 10.16 LTS)"
### Describe the bug
The 2.1.x React and Angular templates have indirect dependencies on the (Mac specific) fsevents package.  There are no binary packages available for version 1.1.2 of the fsevents package when used with node 10.x and above, so npm tries to build the package from source using node-gyp.  The node-gyp build process requires the xcode tools to be installed, so this will frequently

[2019-07-05 15:56] mkArtakMSFT commented on #11916
Thanks for contacting us, @lukos.
We'll use the issue @guardrex has pointed out above to track the work to improve documentation and include a section about how to configure environment on the WebApplicationFactory.

[2019-07-05 15:56] #11916 closed

[2019-07-05 16:08] pfeigl commented on #4110
@smerrell Did you make any further progress on this after natemcmaster's feedback? This feature would be so nice to have natively without starting multiple projects at once.

Common usecases are probably situations where an API and a MVC application are hosted next to each other, or also when i.e. IdentityServer is hosted as it's own project.

[2019-07-05 16:11] Bartmax opened #11923 "Matching Content-Language with Culture"
Does make sense for Content-Language be set (optionally) when using RequestLocalization middleware ?

When doing I18N and G11N, I'm using the request localization middleware.
[code]

This set the culture properly on the http context correctly, in a way that requesting in a language not supported fallbacks to the default culture and culture variants fallback to languages, etc.

I find it that I nee

[2019-07-05 16:30] mkArtakMSFT commented on #11918
Thanks for contacting us, @kmkrish007.
What are you trying to do? Please provide more details about your scenario.

[2019-07-05 16:32] mkArtakMSFT commented on #11917
Thanks for contacting us, @Avrohom.
What you've found is exactly what we'd suggest!

[2019-07-05 16:32] #11917 closed

[2019-07-05 16:33] mkArtakMSFT commented on #11914
Thanks for contacting us, @AndrewGriffithsFG.
We'll try to get to this before 3.0 release, but can't commit, given all the other critical work on our plate.

[2019-07-05 16:35] mkArtakMSFT commented on #11908
Thank you for your feedback.
We're closing this issue as the behavior discussed is by design.

/cc @rynowak, in case you have any thoughts, please comment.

[2019-07-05 16:38] mkArtakMSFT commented on #11901
@javiercn do you have thoughts regarding this?

[2019-07-05 16:38] T3charmy commented on #8843
This is still occurring for me on the latest preview of ASPNet Core( on Ubuntu 18.04. is this something I'm doing wrong, or is this an issue related to this?

`
Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/3.0.100-preview6-012264/

Host (useful for support):
  Version: 3.0.0-preview6-27804-01

[2019-07-05 16:40] mkArtakMSFT commented on #11890
Thanks for contacting us, @keeed.
@ajaybhargavb can you please try this out and see whether you can repro this? Thanks!

[2019-07-05 16:40] BrennanConroy commented on #11901
I'll take a deeper look at this in a bit, but my initial investigation found https://github.com/aspnet/AspNetCore/blob/6f6d0991132cb269bbbc3ac9e8493e7b0de2724d/src/Components/Server/src/Circuits/FixedAuthenticationStateProvider.cs#L26

Which doesn't look quite right. If the underlying SignalR connection closes and then comes back so it uses the same component ID then the `User` being referenced no

[2019-07-05 16:41] mkArtakMSFT commented on #11887
Thanks for contacting us, @StevenTCramer.
We're working hard on the most critical issues we have to deliver for 3.0 release and we'll be able to look into this only after that.

[2019-07-05 16:45] mkArtakMSFT commented on #11876
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-07-05 16:47] mkArtakMSFT commented on #11862
This issue was moved to mono/mono#15588

[2019-07-05 16:47] #11862 closed

[2019-07-05 16:50] anurse commented on #8843
Correct, the fix is in preview7 which has not yet been released. Daily builds are available but are not fully tested and have some quirks to using them: https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md

[2019-07-05 17:06] javiercn commented on #11876
@phinett do you have a minimal repro project we can use to further investigate this?

[2019-07-05 17:07] javiercn commented on #11901
@SteveSandersonMS Wouldn't re-validation work here?

[2019-07-05 17:19] JunTaoLuo opened #11924 "Convert to arcade YAML templates"
Follow up to https://github.com/aspnet/AspNetCore/pull/11122 for the work item to use the Arcade YAML templates for CI definition.

Converting to the stages templates should also help with maestro publishing.

[2019-07-05 17:24] pranavkm opened #11925 "Consider printing out some logs around locating appsettings.json"
`appettings.*.json` is read relative to the working directory. If you happen to launch a build or published app from a different directory as I did today, the built or published file are not used. Editing them has no use.

1) When the settings file are found, consider including it as part of the startup log:

2) When a file is found in the AppBasePath and not in PWD, consider printing a warning:

[2019-07-05 17:25] pranavkm commented on #4332
Could you please file a new issue and share a repro app?

[2019-07-05 17:35] JunTaoLuo commented on #11701
Also consider removing this build from PR checks if it takes too long and only run it in the official build.

[2019-07-05 18:03] mkArtakMSFT opened #11926 "Move `JSInterop` to `AspNetCore` repo from `Extensions`"

[2019-07-05 18:05] Bartmax opened #11927 "DateTimeOffset is bind from Query when using [Header] Attribute."
### Describe the bug
`DateTimeOffset` (nullabe or not) does not bind from header but from query when using `FromHeader` attribute.

_**Note: `DateTime` works fine**_

### To Reproduce
Steps to reproduce the behavior:
1. Create an action with:
[code]
2. Create a request with header and/or query key dt with value of `2019-01-01`
4. The value from header is never used.

### Expected behavior
dt shoul

[2019-07-05 18:10] kewinbrand commented on #11906
Ok thank you.

[2019-07-05 18:12] Tratcher opened #11928 "Automate Kestrel HTTP/2 stress scenarios"
Kestrel's HTTP/2 code path has benchmark coverage, but we haven't automated the stress tests yet.

@sebastienros

[2019-07-05 18:14] mkArtakMSFT commented on #11927
Thanks for contacting us, @Bartmax.
@pranavkm can you please look into this? Thanks!

[2019-07-05 18:25] anurse commented on #11920
This **only** occurs in certain environments (i.e. your Staging server), correct?

Can you check out our [Logging and Diagnostics](https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2) guide and provide client and server-side logs as well as a network trace?

**NOTE**: The network trace will include the JWT token. If you're concerned about sharing that publicly on G

[2019-07-05 18:26] anurse commented on #11915
Are you trying to host a server in a console application? ASP.NET Core applications **are just console applications**, unlike in ASP.NET 4.x.

[2019-07-05 18:27] anurse commented on #11915
You can configure ASP.NET Core hosting in **any application** using the `WebHost` class. See our documentation for details: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/web-host?view=aspnetcore-2.2

[2019-07-05 18:27] BrennanConroy commented on #11909
@mkArtakMSFT This looks like a razor issue.

[2019-07-05 18:29] anurse commented on #11909
This is an NPM standard pattern, so SignalR is not unique here. For example, [all the Angular packages would have the same problem](https://www.npmjs.com/search?q=%40angular). Sounds like this is actually an issue in the "Add Client-Side Library" logic in VS, can you file a VS Feedback item about it (using the feedback button in the top-right corner of Visual Studio)

[2019-07-05 18:31] BrennanConroy commented on #11900
The payload looks fine. Can you try this out with an official supported client to see if it works?

[2019-07-05 18:32] halter73 commented on #11804
In preview7, Kestrel does use a token for cancellation which eventually causes the raw PipeReader to throw and bubble up through SslStream. We'll change the logic to not involve throwing as part of fixing this issue.