[2019-01-17 15:49] vtortola opened #6803 "ASP.NET Core hoarding memory"
This issue is following up on https://github.com/aspnet/AspNetCore/issues/1976

### The problem

We have a websocket server that hoards memory during days, till the point that Kubernetes eventually kills it. We monitor it using [prometheous-net](https://github.com/prometheus-net/prometheus-net).

I can see in the graphs, that GC is collecting regularly in all generations.

GC Server is disabled us

[2019-01-17 15:49] vtortola commented on #1976
@sebastienros absolutely, I created https://github.com/aspnet/AspNetCore/issues/6803

Let me know if you need more information.

[2019-01-17 16:16] sebastienros commented on #6803
Thanks for all these details.

I notice you are not using 2.2. Would it be possible for you to upgrade your base image, there was a bug that was fixed that was the cause of many performance issues in it. In the meantime I will setup a service similar to yours and let it run for a few days.

[2019-01-17 16:34] muratg commented on #6482
@nenadvicentic The docs do mention that in-process model is not supported for .NET Framework. It seems implicit in the docs to me that if you need to use .NET Framework, you'll need to use out-of-proc, and if you're on .NET Core, you can use either model. Do we need to clear the wording a bit?

@yringler .NET Framework  works with ASP.NET Core 2.2. Nothing changed there. In-proc hosting model is a

[2019-01-17 16:38] muratg commented on #4691
@ankitmori14 can you paste the full exception you get on your 2.2 app first?

@halter73 could you take a look please?

[2019-01-17 16:39] muratg commented on #6020
@Tratcher :+1:  Let's triage this in the meeting today. cc @Eilon

[2019-01-17 16:45] vtortola commented on #6803
I will update it tomorrow, but we will have to wait at least for a week to see something relevant :+1:

[2019-01-17 16:46] JipingWang commented on #6669
@Tratcher , I've fixed it. Could you review the PR? It's just one word change.

[2019-01-17 16:47] blowdart commented on #6799
Do you have an example of a request that is causing this?

[2019-01-17 16:48] blowdart commented on #6795
Version 2.0 is out of support. You should, at a minimum, upgrade to 2.1 and see if the issue reoccurs. If it does then please open a new issue.

[2019-01-17 16:48] #6795 closed

[2019-01-17 16:59] javiercn commented on #5833
@gingters I've been able to build and run the app without problems. There was a small issue due to us not updating the sample after some MVC change, but that's it.

https://github.com/aspnet/AspNetCore/pull/6805

I recommend you run .\build.cmd /t:Restore from the repo root and then dotnet build from the project folder and that should get you on your way.

[2019-01-17 17:02] msschl commented on #6799
It's a normal HTTPS GET to the main entrypoint with firefox:

[code]

[2019-01-17 17:18] godrose commented on #5700
@Eilon

The only DI provider that is being used is the default one - `IServiceCollection`. The only difference is the way the registrations are added - in the modular way. Yet eventually it's the same Dependency Injection engine under the hood.

it's running when the app is starting. Not before, not after. The very moment the `Initialize()` method is called. There's no `async` code there, no race

[2019-01-17 17:42] RemiBou commented on #6800
Multiple inheritance does not exists in C#, and Blazor template generates c# class, so it's not possible.

- You can make you MyMenuFunction inherit from BlazorLayoutComponent
- Inject your MyMenuFunction if you are not using any lifecyle method

If you post a repo containing your code maybe I can help a bit further

[2019-01-17 17:46] mkArtakMSFT commented on #5178
Closing as this seems to be resolved now.

[2019-01-17 17:46] #5178 closed

[2019-01-17 17:48] natemcmaster commented on #6768
I won't because I don't have bandwidth for this. cc @muratg

Instead of skipping, can you have @mkArtakMSFT or @Eilon override the required PR check to get your changes merged? I suspect there is a real product issue with file watching and don't want to totally suppress these failures.

[2019-01-17 17:49] davidfowl commented on #6783
Yes we plan to offer an iOS client.

[2019-01-17 17:53] #2356 closed

[2019-01-17 17:53] natemcmaster commented on #2356
Yeah, were not going to do this. Not sure why it ended up in mvc, but no real need for this anymore.

[2019-01-17 17:53] javiercn commented on #6768
@natemcmaster Yeah, I ended up doing that as when I tried to skip it, another one in the same area started causing issues

[2019-01-17 17:57] mkArtakMSFT commented on #5179
Closing this issue as there was no community involvement for quite a while now.

[2019-01-17 17:57] #5179 closed

[2019-01-17 17:59] #5159 closed

[2019-01-17 18:08] mikebridge commented on #2051
"Disable local Application Insights for Asp.Net Core web projects" doesn't seem to have any effect on AI in VS 15.9.5, nor does setting `TelemetryConfiguration.Active.DisableTelemetry` nor does setting the environment variable `ASPNETCORE_preventHostingStartup` (and restarting VS).  I can still see the logs in the output.

[2019-01-17 18:11] Matthew-Bonner commented on #6800
I've asked my colleague to post the code he is having a problem with and he will be in touch on here to discuss the problem he is having. Thanks.

[2019-01-17 18:33] pranavkm commented on #4320
Blocked on #4947

[2019-01-17 18:51] Tratcher commented on #6449
Current state:

Provider: Microsoft.Extensions.Hosting.Host
Info: "Application started. Press Ctrl+C to shut down."
Info: "Hosting environment: {envName}"
Info: "Content root path: {contentRoot}"

Provider: Microsoft.AspNetCore.Hosting.Internal.GenericWebHostService
 Info: "Now listening on: {address}"

appsettings.json:
[code]
appsettings.Development.json
[code]

Proposals:
Microsoft.Extensions.H

[2019-01-17 18:56] Rick-Anderson commented on #6744
@shadinamrouti 	thanks for your report. I thought it was probably a local problem.

@ryanbrandenburg 	please advise on how to handle date/edit.

[2019-01-17 18:57] Tratcher commented on #6449
On a related note, [this shutdown message](https://github.com/aspnet/AspNetCore/blob/cc892071b20d350ebdafa63d108d949f547711eb/src/Hosting/Hosting/src/WebHostExtensions.cs#L87) is missing from generic host.

[2019-01-17 19:01] #3503 closed

[2019-01-17 19:02] Tratcher commented on #6449
Preview2 mitigation proposal:
appsettings.json:
[code]

This gets you the "Application started." logs so you know the site is working, but not the "Now listening on" logs for the address.

[2019-01-17 19:16] yringler commented on #6482
👍
Got it.
Thank you for clarifying things for me.

[The docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/?view=aspnetcore-2.2&tabs=windows#in-process-hosting-model) describe performance, referring to

Someone reading this now might worry about the implied high cost of reverse-proxy in out-of-proc hosting. This could discourage adoption of MVC Core in a shop which requires ta

[2019-01-17 19:21] halter73 commented on #4691
This indicates a request body rate timeout. The exceptions improved around this in 2.2, so getting the full details of the new exception could be helpful. We'll also need to verify the rate at which the client is actually uploading the request body. It could be a client issue.

[2019-01-17 19:34] guardrex commented on #6482
Sure ... I'll open and issue and take care of that.

btw -- There's an open issue for adding a plaintext in-proc benchmark: https://github.com/aspnet/Benchmarks/issues/504 ... it might be to compare in-proc ANCM vs. Kestrel tho and not to compare in-proc vs. out-of-proc.

[2019-01-17 19:41] Eilon commented on #5700
Thanks for the clarification, but we suspect the root cause is that something is being registered twice (by mistake). What isn't clear to us is how to diagnose this because we're not familiar with that DI's registration mechanism.

[2019-01-17 19:45] #6444 closed

[2019-01-17 19:45] danroth27 commented on #4057
Roslyn tracking issue: https://github.com/dotnet/roslyn/issues/32570

[2019-01-17 19:49] danroth27 commented on #4057
VS Code Razor support: https://github.com/aspnet/Razor.VSCode/issues/278

[2019-01-17 19:57] syndicatedshannon opened #6813 "Unclear source of truth / rules for ClaimsIssuer"
ISSUE: I believe it is currently very difficult to understand the source of ClaimsIssuer in most RemoteAuthentication scenarios. Further, I believe that has significant security consequences, and deserves clarification, despite the lack of a quick fix or even a clear symptom.

I apologize for this non-standard and non-trivial defect presentation. I've been digging through Identity source code for

[2019-01-17 19:58] mikaelm12 commented on #6565
This doesn't really give much more information. More detailed logging would be helpful

[2019-01-17 20:02] blowdart commented on #6712
We'd be more than happy to accept a PR to fix this

[2019-01-17 20:06] blowdart commented on #6561
If you want to change the primary key you need to also change the store implementation, because our implementation can't react to primary key changes.

[2019-01-17 20:06] #6561 closed

[2019-01-17 20:07] blowdart commented on #6413
Can we get a minimal repro in code? Your code snippets look fine, but NotSupported isn't one we'd throw.

[2019-01-17 20:10] blowdart commented on #6377
As you have an answer I'm closing this. I assume your source repo is working, so we can't look at what any problem might have been

[2019-01-17 20:10] #6377 closed

[2019-01-17 20:18] ffMathy commented on #4765
I could really use this. Currently on Azure App Service with ASP .NET Core 2.2, you will get a `500.30` error on startup if you try to modify `AddServerHeader` to `false`.

Quite critical in my opinion.

[2019-01-17 20:18] christoph68 opened #6815 "Blazor JSRuntime should have <JavascriptRef>"
It would be great to have something like JavascriptRef.

Often interop code is awkward because no references to JS classes are possible. There needs to be a static function that does then identify the instance to be used/called.

a reference could be obtained like:
JavascriptRef jsRef =JSRuntime.Current.GetReference("JSFuncGet", args);

and then re-used:
JSRuntime.Current.InvokeAsync(jsRef , "JSFu

[2019-01-17 20:25] #6602 closed

[2019-01-17 20:28] syndicatedshannon commented on #6813
I'd like to explain a little why I think this is important.
 - ASP.NET Core Identity is designed to be highly extensible, and even simple examples include extending authentication schemes in ASP.NET Core. It concerns me when I need / my team needs to write security code against APIs I don't / my team doesn't understand.
 - I use extension libraries that plug into these extension points. It concern

[2019-01-17 20:31] aspnet-hello opened #6942 "Test failure: EmailFactorFailsAfterSecurityStampChangeTest"
This issue was made automatically. If there is a problem contact ryanbrandenburg.

This test [failed](http://aspnetci/viewLog.html?buildId=614714&buildTypeId=XPlat_Windows_Win2008r2_Universe) with the following error:

[code]

Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @ajc

[2019-01-17 20:40] Tratcher commented on #5924
Triage: We've decided not to inherit these.

[2019-01-17 20:40] #5924 closed

[2019-01-17 20:43] Andrey-Pavlov commented on #6561
Can we expect changes to the store implementation related to the issue?

[2019-01-17 20:48] RoboBurned commented on #6561
@blowdart I see no issues with approach I suggested. It will make FindUserRoleAsync work consistently with FindUserAsync. Can you please explain?

[2019-01-17 20:49] blowdart commented on #6561
No you won't see changes. Our stores are optimized for our models, changing a primary key like this requires code changes in the store, so it's up to you to make those changes.

As for your change Robo it slows search apparently.

[2019-01-17 20:52] Tratcher opened #6817 "Background Worker template"
A new template for generic host without web host.

No websdk.

Include a Hello World IHostedService

Include health checks (non-http)?

@glennc 's POC https://github.com/glennc/worker

[2019-01-17 20:56] Tratcher commented on #6817
Deployment environments:
- Kubernetties
- Windows service (+installer)
- Daemon

[2019-01-17 20:59] pakrym commented on #2512
Ping @blowdart @muratg @Tratcher

Let's decide on the direction here.

[2019-01-17 21:02] Lupusa87 commented on #6707
You can open this issue here https://github.com/aspnet/Blazor.Docs

[2019-01-17 21:29] RodDaSilva opened #6818 "Blazor has case sensitive URLs when hosted in a Child Directory"
(NOTE:  this report is in the context of "server-side" Blazor app hosting)

It is possible to host Blazor in a child directory by:

1)  Adding an app.Map() in the Startup.Configure() method of the host:

  **app.Map("/dashboard", child => { child.UseServerSideBlazor<DiskBounty.Dashboard.Startup>(); });**

and

2) Changing the base href in the index.html of the Blazor App:

   **base hef="/dashboar

[2019-01-17 21:31] muratg commented on #2512
@blowdart  please call it as the PM. :)

[2019-01-17 21:31] mkArtakMSFT commented on #5182
Thanks for contacting us, @elanderson.
This is not something we plan to do in the near future.

[2019-01-17 21:32] mkArtakMSFT commented on #5183
Closing this issue as there was no community involvement for quite a while now.

[2019-01-17 21:32] #5183 closed

[2019-01-17 21:34] mkArtakMSFT commented on #5184
Closing this issue as there was no community involvement for quite a while now.

[2019-01-17 21:34] #5184 closed

[2019-01-17 21:36] mkArtakMSFT commented on #5185
We're closing this issue as it seems the issue has been resolved. Thanks @mattvperry!

[2019-01-17 21:36] #5185 closed

[2019-01-17 21:39] syndicatedshannon commented on #6712
Would a change to store User's DisplayName (instead of ProviderDisplayName) be approved, or would it be rejected as breaking?

[2019-01-17 21:42] #5449 closed

[2019-01-17 21:56] awulkan commented on #6762
I think the are a lot of people that would help maintaining it. I could probably dedicate some of my time to it as well.

[2019-01-17 22:31] Tratcher commented on #6745
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#1097

[2019-01-17 22:31] #6745 closed

[2019-01-17 22:32] syndicatedshannon commented on #6712
It looks like the field didn't exist in 2015. Then was added by HAOK in 2016:
https://github.com/aspnet/Identity/commit/c80ec3f326a0709dae53105c7f876ffae4804599

But there were no notes about its intent. It was still left null in storage as of this issue in 2016:
https://github.com/aspnet/Identity/issues/862

It was recently flagged as a schematic issue, in 2018:
https://github.com/aspnet/Identity

[2019-01-17 22:33] #6733 closed

[2019-01-17 22:36] Tratcher commented on #6641
@HaoK

[2019-01-17 22:38] syndicatedshannon commented on #6712
I found the original notes on design intent:
https://github.com/aspnet/Identity/issues/97

[2019-01-17 22:39] Tratcher commented on #6621
Both providers can't have AutomaticChallenge enabled. Cookies has it enabled by default.

What do your Authroize attributes look like? They should be specifying one auth scheme.

[2019-01-17 22:40] #6431 closed

[2019-01-17 22:46] Tratcher commented on #6021
Same issue as https://github.com/aspnet/AspNetCore/pull/6790 ?

[2019-01-17 22:48] Tratcher commented on #6019
@jmprieur

[2019-01-17 22:49] #6018 closed

[2019-01-17 22:49] NTaylorMullen opened #6822 "C# errors in TagHelpers on Views without models (or @page) result in invalid error line numbers"
### Describe the bug
Having some sort of invalid C# error in a TagHelper results in bad line numbers when done in views with a dynamic model (the default).

This was initially filed over at https://devdiv.visualstudio.com/DevDiv/_workitems/edit/770277.

### To Reproduce
1.  File > New Project > Web>ASP.NET Core Web Application > .Net Core~ASP.NET Core 2.2~MVC with No Authentication>OK.
2. Open Vie

[2019-01-17 22:50] blowdart commented on #2512
UserSecrets is a crap prior art because that shouldn't go into production :)

Does deleting AssemblyGuid cause compilation to stop?

Honestly why not combine the two;

<PropertyGroup>
  <AspNetCoreApplicationId>{RANDOMGUIDSETONPROJECTCREATION}</AspNetCoreApplicationId>
</PropertyGroup>

in the csproj?

[2019-01-17 22:51] Tratcher commented on #5148
Closing as IdentityModel is fixing the issue.

[2019-01-17 22:51] #5148 closed

[2019-01-17 22:54] Tratcher commented on #4125
@jmprieur has a few samples that may help

[2019-01-17 22:59] pakrym commented on #2512
It shouldn't. Some people just don't care so we should use a sensible default.

That's what UserSecrets is supposed to be doing (https://github.com/aspnet/Templating/blob/master/src/Microsoft.DotNet.Web.ProjectTemplates/StarterWeb-CSharp.csproj.in#L5) except I'm not sure if it actually gets initialized with a random value on creation.

[2019-01-17 23:10] blowdart commented on #2512
I think something more specifically named would be better that reusing a COM attribute :)

[2019-01-17 23:12] pakrym commented on #2512
Oh, sure, I missed that we are talking about actual COM attribute. I was thinking about `DataProtectionApplicationDescriminatorAttribute`

[2019-01-17 23:19] blowdart commented on #2512
That works :) And fall back to current default if it's not present.

[2019-01-17 23:33] #6449 closed

[2019-01-17 23:44] Tratcher commented on #4765
@ffMathy do you have more information on that? It's not clear why setting AddServerHeader would be a problem or how this feature would address that.

[2019-01-18 00:15] HaoK commented on #6712
The xml comments are wrong, the property is for storing the friendly name of the external provider (not the user), i.e. "Google", "Facebook".  Since this is the property that is used by the templates for the text of the buttons shown on the external login

[2019-01-18 00:42] nattthebear opened #6825 "TagHelpers don't work in 2.2 runtime with 3.0 preview sdk"
### Describe the bug
Depending on what dotnet sdk I build with, my taghelpers fail to be picked up.

### To Reproduce
Steps to reproduce the behavior:
1. Using sdk `3.0.100-preview-009812` and with runtime `Microsoft.AspNetCore.App 2.2.1` installed
2. Build and run this project https://github.com/adelikat/tasvideos (I can try to make a smaller reproducing test case if it will help) (Note: project

[2019-01-18 01:00] danroth27 opened #6826 "Update Razor Components template to use quotes around all attributes in markup"
Razor Component template review feedback - required for Preview 2.

[2019-01-18 01:02] oliverjanik commented on #6733
All I did was added early exit from the foreach loop here: https://github.com/aspnet/AspNetCore/blob/62351067ff4c1401556725b401478e648b66acdc/src/Security/Authorization/Policy/src/PolicyEvaluator.cs#L41

I had to, however, copy paste the entire method from original and some internal helper methods too, though.

In my case the schemes were HttpBasic + TLS Client Cert. I can't image this is super ra

[2019-01-18 01:02] danroth27 opened #6827 "Add line feeds between each class member in the Razor Components templates"
Ex `WeatherForecast` class.

[2019-01-18 01:09] jkotalik commented on #6615
@pakrym thoughts?

[2019-01-18 01:10] syndicatedshannon commented on #6712
Are there any remaining scenarios where you would expect this provider DisplayName value will not originate from an IAuthenticationSchemeProvider lookup, i.e.
`(await GetExternalAuthenticationSchemesAsync()).FirstOrDefault(p => p.Name == provider)?.DisplayName ?? provider`

[2019-01-18 01:11] syndicatedshannon commented on #6712
Does the original WsFed intent still apply? I'm trying to understand under what circumstances an external authenticator would be trusted to name itself.

[2019-01-18 01:20] pakrym commented on #6615
This happens to different tests. Feels like iis express is not getting our shutdown request

[2019-01-18 01:26] SteveSandersonMS opened #6828 "Reconsider static JSRuntime.Current"
`JSRuntime.Current` is misleading. People commonly write code like this:

[code]

This is fine for client-side code, but when executing on the server, which user's browser is it sending the `handleTickerChanged` call to? The developer probably thinks it's the user whose browser is rendering the component that contains this call, but that's not true. In fact, it depends on the async context in whic

[2019-01-18 01:31] ajaybhargavb commented on #6470
Keeping this open until I complete the follow-up

[2019-01-18 01:31] pranavkm commented on #6353
# Meeting notes:

### What is a circuit?

* Ciruit is tied to an individual user (including anonymous users).
* Has it's own sync context including it's own state such as `Renderer`. A circuit may have more than one rendered (multi-windows in a browser?)

## Features

* Tomb stoning based on some criteria e.g inactivity
* Expose events for disconnects
* Some effort to be made for reconnect. This m

[2019-01-18 04:44] davidfowl commented on #6828
I support this 😬

[2019-01-18 04:56] wadebaird commented on #6616
Thanks Doug, sent in an email, might be in your junk mail as its coming from a hotmail

[2019-01-18 06:15] ankitmori14 opened #6831 "High Memory utilization in Asp.net core 2.2"
Hi,

I have created just simple default application still i have't add any piece of code still it is utilizing 167 MB of memory.

Version : Asp.net Core 2.2

I am using Hosting Model : Default.

![core2 2_blank_sol](https://user-images.githubusercontent.com/28730774/51368575-034b2e80-1b16-11e9-92bf-508ee522f916.PNG)

My blank application is also using 167 MB of memory .

As you can see in screen s

[2019-01-18 06:34] jkotalik commented on #4351
Yep!

[2019-01-18 06:34] bilpor commented on #6800
This is what I was trying to do:

[code]

[2019-01-18 08:18] nenadvicentic commented on #6482
@muratg

The sentence you are referring to was not in the documentation when I started this thread. Not even a hint about it. Now, with sentence included, I think it is clear and sufficient.

[2019-01-18 08:58] Giorgi opened #6834 "w3wp.exe crashes with Exception code 0xc0000409"
### Describe the bug
Application pool (w3wp.exe) crashes periodically with Exception code 0xc0000409.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2.0 targeting **Full Framework 4.7.1**
2. Server: Windows Server 2016 (OS Build 14393.2670)
3. ANCM version:  12.2.18316.0

I see this error in event log:

[2019-01-18 09:38] Giorgi commented on #6834
Data from Report.wer:

[2019-01-18 09:44] simonziegler opened #6835 "Question: using Material Design Lite with Blazor"
Hi, I'm looking to start building a Blazor Server Side app in preparation for the release of Razor Components, and from a UX design standpoint want to use Material Design Lite.

When I place (purely as a test!) an MDL button before the `<app>...</app>` block I find that the MDL ripple effects work well. When I place the same code inside a Blazor page (e.g. Index.cshtml in the demonstration app), t

[2019-01-18 09:58] wis3guy commented on #6640
As a workaround, i now pass the path to the web root directory as a command line argument. This allows me to determine the correct path, inside the electron startup code.

For my use case, this is an elegant workaround. People who do not use some sort of shell application to launch the dotnet SCD and those that do not want to start the SCD from the command line, will still suffer from this problem

[2019-01-18 10:03] wis3guy commented on #6640
The fact that i can pass in the path to the web root, and have the application function as expected, leads me to conclude that the root cause is either:

* a problem the way that aspnet resolves the current executing directory
* a problem with the way the static file middleware determines the web root directory

[2019-01-18 10:03] HockeyJustin opened #6836 "Stronger Prevention of Brute Force Login Attempts"
### Is your feature request related to a problem? Please describe.

As a developer, I would like a stronger inbuilt way to protect my website from brute force login attacks in  order to help meet requirements of the [OWasp Security checksheet](https://www.owasp.org/index.php/.NET_Security_Cheat_Sheet).

This microsoft document details how to use [lockouts to prevent brute force attacks](https://do

[2019-01-18 10:16] msschl commented on #6799
When I change the binding for the site `blue.site.local` to
[code]

and execute the request (see comment above), everything works normally.

[2019-01-18 10:49] hishamco opened #21889 "Support dynamic cultures"
AFAIK ASP.NET Core since the 1st version localization APIs don't support adding cultures at runtime, while there 're many requests and scenarios that require this feature, so it would be nice to add such feature, although the `resx` files require compilation, but there 're other provider such as: Portable Objects, Json .. etc doesn't require compilation at all

/cc @pranavkm @ryanbrandenburg @ryno

[2019-01-18 11:46] gingters commented on #5833
I updated the repo again, followed your steps, and I still have the issue that the build can't find the project info for the `Microsoft.AspNetCore.Antiforgery` project and errors out. Another clean checkout ran into the very same issue.
Did you try it on a clean checkout too, or in an already working copy, where you maybe have some old artifacts around?

[2019-01-18 12:31] pavsavov commented on #4539
I believe it is part of the v2.2 .net core startup template, provided within ASP.

[2019-01-18 13:15] brockallen commented on #5833
It's working for me on the rel/2.2 branch. Clean checkout, run the build.cmd, then I run `startvs.cmd identity.sln` to open the solution.

[2019-01-18 14:09] bilpor commented on #6800
I have also Tried using an interface against the function

 `public class MenuFunctions : BlazorComponet, IMenuFunctions`

 and instead of using @inherits using @inject on the cshtml pages. This results in the pages not loading. If I remove the interface declaration on the method leave the @inject declaration on the page and then in startup add the following:

 `services.AddSingleton<MenuFunctions

[2019-01-18 14:13] gingters commented on #5833
Then there must be some undocumented dependencies, or something else I can't find out. 🤔

Also on the `rel/2.2` branch, the build of the sample project fails with the same error.
When I open the `Identity.sln`, VS shows me about 280 build errors, all related to project information for referenced projects that somehow can't be found.

I have the .NET Core SDK 3.0.100-preview-009812 installed, VS 20

[2019-01-18 14:23] RoboBurned opened #6837 "NodeInvocationException: Extra line break is added in exception message"
### Describe the bug
I am trying to play with Microsoft.AspNetCore.NodeServices.
When JS script ends executing with an error by passing error message as a first argument to callback function then NodeInvocationException  is raised on NET side with a message that have extra line break added to the end of the message.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NE

[2019-01-18 14:43] bilpor commented on #6800
Here is the full code so far:

[code]
**The main button on NavMenuToggleComponent.cshtml:**
[code]

my **NavMenu.cshtml** file:
[code]
putting it all together in my **MainLayout.cshtml**
[code]
so when I click the button in NavMenuToggleComponent.cshtml I want the CollapseNavMenu to react in the NavMenu.cshtml file.

[2019-01-18 16:31] muratg commented on #6482
@nenadvicentic thanks, just wanted to make sure!

[2019-01-18 16:33] syndicatedshannon commented on #6712
what I'm suggesting is that now that the code copies const values into storage, that storage column may no longer be of value. we could perform that assignment on read instead of write.

[2019-01-18 17:01] Eilon commented on #6836
@blowdart

[2019-01-18 17:04] pakrym opened #6838 "ANCM InProcess doesn't perform ungracefull shutdown"
If managed request gets blocked we would never complete IIS pipeline.

Is mitigated by `shutdownTimeLimit` setting in IIS (https://docs.microsoft.com/en-us/iis/configuration/system.applicationHost/applicationPools/add/processModel)

[2019-01-18 17:09] pakrym opened #6839 "Consider obsoleting startup/shutdown time limits on InProcess"
We should be covered by applicationPools limits for InProcess case.

https://docs.microsoft.com/en-us/iis/configuration/system.applicationHost/applicationPools/add/processModel

@shirhatti

[2019-01-18 17:12] msschl opened #6840 "Data protection throws `Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException: Keyset does not exist`"
### Describe the bug
I have an ASP.NET Core App configured to use `DataProtection`, with an official certificate issued by a trusted cert authority, installed in the `LocalMachine` store. This is the code of the ASP NET Core APP:

[code]

On startup the App throws an exception:

      Creating key {44ec152a-e5b6-431e-9080-df814b3afdc2} with creation date 2019-01-17 15:19:50Z, activation date 2019-

[2019-01-18 17:22] #4890 closed

[2019-01-18 17:27] blowdart commented on #6836
AllowXRequestsEveryXSecondsAttribute is not built into MVC, OWASP has worded that wrong, instead its from the [3rd party](https://github.com/johnstaveley/SecurityEssentials/blob/master/SecurityEssentials/Core/Attributes/AllowXRequestsEveryXSeconds.cs) they link to. That should be transferable to Core.

I'm going to fall back to saying identity is meant as a simple starting point. For very strong s

[2019-01-18 17:46] jkotalik commented on #4068
This is resolved.

[2019-01-18 17:46] #4068 closed

[2019-01-18 17:50] Tratcher opened #6845 "git clean deletes ts client"
`git clean -xdf` keeps deleting `src\SignalR\clients\ts\signalr` and `src\SignalR\clients\ts\signalr-protocol-msgpack`

Repro steps:
- `build /t:restore` (runs npm install)
- `dir /al /s` (shows those folders as hard junctions from `\src\SignalR\clients\ts\FunctionalTests\node_modules\@aspnet`)
- `git clean -xdf` (those folders get deleted)
- `git status` (git shows those folders as deleted)

This

[2019-01-18 17:56] davidfowl opened #6846 "Failing test: Microsoft.AspNetCore.Server.IISIntegration.FunctionalTests.StartupTests.InvalidProcessPath_ExpectServerError"
[code]

Logs:

[code]

[2019-01-18 17:59] davidfowl commented on #6846
@jkotalik @pakrym

[2019-01-18 18:00] blowdart commented on #6840
Does the user account the app is running under have access to the private key in the cert in the machine store?

[2019-01-18 18:04] pakrym opened #6847 "Consider removing AspNetCoreModuleV1 from 3.0 source"
We should ship 2.2 ANCM V1 in 3.0 hosting bundle.

@jkotalik @shirhatti

[2019-01-18 18:05] BrennanConroy commented on #6845
Oh nice! Thanks for getting a repro, we have occasionally seen this but never knew how it happened. I don't think the tsconfig has anything to do with creating a junction, it's supposed to tell the typescript compiler where to grab certain imports from.
________________________________
From: Chris Ross <notifications@github.com>
Sent: Friday, January 18, 2019 9:50:46 AM
To: aspnet/AspNetCore
Cc: B

[2019-01-18 18:08] pakrym commented on #6847
Or maybe stop shipping it in 3.0 bundle at all.

[2019-01-18 18:19] ajaybhargavb commented on #6470
Here is a checklist of all `ParseBlockTest` references,
- [ ] CSharpBlockTest (71)
- [ ] CSharpErrorTest (36)
- [ ] CSharpExplicitExpressionTest (10)
- [ ] CSharpImplicitExpressionTest (55)
- [ ] CSharpNestedStatementsTest (6)
- [ ] CSharpReservedWordsTest (2)
- [ ] CSharpSpecialBlockTest (7)
- [ ] CSharpStatementTest (31)
- [ ] CSharpTemplateTest (13)
- [ ] CSharpToMarkupSwitchTest (17)
- [ ] CSh

[2019-01-18 18:35] muratg commented on #6847
I support removing it. @DamianEdwards?

[2019-01-18 18:35] mkArtakMSFT commented on #5186
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-01-18 18:35] #5186 closed

[2019-01-18 18:38] mkArtakMSFT commented on #5187
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-01-18 18:38] #5187 closed

[2019-01-18 18:40] mkArtakMSFT commented on #5188
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-01-18 18:40] #5188 closed

[2019-01-18 18:42] mkArtakMSFT commented on #5189
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-01-18 18:42] #5189 closed

[2019-01-18 18:46] mkArtakMSFT commented on #5190
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-01-18 18:46] #5190 closed

[2019-01-18 18:48] mkArtakMSFT commented on #5191
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-01-18 18:48] #5191 closed

[2019-01-18 19:13] natemcmaster commented on #6845
https://github.com/aspnet/AspNetCore/blob/c2a0f894482895aa5af6e80dafa1e22724d5bd8f/src/SignalR/clients/ts/FunctionalTests/package.json#L7-L9

[2019-01-18 19:18] Arash-Sabet commented on #6448
@muratg @BrennanConroy
Meanwhile, please see the attached screenshot. It's captured when our signalR hub is leveraging the paid tier of Azure's SignalR Services.

![type7 error](https://user-images.githubusercontent.com/26050123/51408089-a8bccd00-1b2b-11e9-8822-ca7dc97b8160.png)

[2019-01-18 19:21] mkArtakMSFT commented on #5193
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-01-18 19:21] #5193 closed

[2019-01-18 19:31] churstz commented on #4629
I agree with John, the dynamically added scheme for OIDC independent of multi-tenant does not work in the sample provided (even for a single scheme at runtime).  I'm working with IdentityServer4 which will resolve the idp through the arc_values if present.  When removing the (working) AddOpenIdConnect from Startup and into a LoginController using the IAuthenicationSchemeProvider and even the IPost

[2019-01-18 19:40] pakrym commented on #2512
After talking offline with @blowdart and @Tratcher we concluded that having the discriminator to be content root is a more secure default.

There is an easy and documented workaround https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-2.2#setapplicationname for customers that want the more relaxed behaviour.

[2019-01-18 19:40] #2512 closed

[2019-01-18 19:50] johnjbateman commented on #4699
I am getting the SocketException (13): Permission denied as well.  Here is my dockerfile:

`FROM microsoft/dotnet:2.2-aspnetcore-runtime AS base
WORKDIR /app
EXPOSE 8080

FROM base AS final
WORKDIR /app
COPY ${source:-obj/docker/publish} .

RUN groupadd -r appusers && useradd -r -g appusers appuser

USER appuser
ENTRYPOINT ["dotnet", "The.dll"]`

I believe this is running on port 8080, correct?

[2019-01-18 19:51] muratg commented on #6448
@Arash-Sabet thanks, we'll need to get the client logs though. Also, please share your `OnConnectedAsync` method. Thank you.

[2019-01-18 19:57] johnjbateman commented on #4699
Thanks @jozefizso .  Adding `ENV ASPNETCORE_URLS=http://*:8080` did the trick for kubernetes as well.

[2019-01-18 19:58] Arash-Sabet commented on #6448
@muratg I cannot share the source code of OnConnectedAsync.

[2019-01-18 20:31] ammritt commented on #6448
Here are the client side logs:
Debug: Starting HubConnection.
Debug: Starting connection with transfer format 'Text'.
Debug: Sending negotiation request: https://.............................................
Debug: Selecting transport 'WebSockets'.
Information: WebSocket connected to wss://*************************.service.signalr.net/client/?....................
Debug: Sending handshake request.

[2019-01-18 21:13] pranavkm opened #6853 "Consider adding an analyzer to Mvc.Api.Analyzers that recommends not using From* attributes"
Mvc.Api.Analyzers ships an analyzer \ codefix that recommends removing checks for `ModelState.IsValid`. We could consider another set of analyzers that suggests removing `From*` attributes from parameters

[2019-01-18 21:16] rynowak commented on #6853
eh

[2019-01-18 21:33] mkArtakMSFT commented on #5195
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-01-18 21:33] #5195 closed

[2019-01-18 22:20] RodDaSilva opened #6855 "Can't detect when an Authentication Cookie expires in Blazor (server-side)"
I have an ASPNetCore MVC + AspNetIdentity + EF web app which I can login into as an authenticated user (i.e.; standard AspNetIdentity demo).  The app also hosts a Blazor SPA app (server side) as a child page.  I use this SPA app as the applications "Dashboard".  Everything is working great in that I can Log in to the MVC app using the **default** **AspNetIdentity Login UI**, and then navigate from

[2019-01-18 22:22] #6826 closed

[2019-01-18 22:43] HaoK opened #6857 "[Helix] Enable Components.E2E tests"
Need to install selenium on helix machines?

[code]

[2019-01-18 23:16] pakrym commented on #6846
Added more logging to the suspicious spot: https://github.com/aspnet/AspNetCore/pull/6854

[2019-01-18 23:17] muratg commented on #6845
@BrennanConroy I think we should look into removing symbolic link usage :(

[2019-01-18 23:18] danroth27 opened #6859 "Updates to Razor Components do not trigger design time builds"
The `Generator` attribute for `Content` is no longer updated since changes to how components are defined was hacked. The correct fix is in the DesignTime targets, but for preview2, we should do in the CurrentVersion.targets:

[code]

[2019-01-18 23:18] muratg commented on #6839
Would this be usable in App Service?

[2019-01-18 23:21] danroth27 opened #6860 "RazorComponentGenerate should not be called from the design time build"

[2019-01-18 23:23] muratg commented on #6834
How often does it crash? Does it work fine without ANCM/IIS (Kestrel only)?

[2019-01-18 23:49] pakrym commented on #6839
I'll have to verify if there is an interest in dropping these but I'm pretty sure it does.

[2019-01-18 23:54] pakrym commented on #6834
Do you see any event log messages? The same failure was observed in https://github.com/aspnet/AspNetCore/issues/4413 do you have a bitness mismatch between the app and IIS application pool?

[2019-01-19 00:02] mikaelm12 commented on #6797
Can you give us some more information about your configuration? Are you using a free tier of the SignalR service, or the standard level with multiple units? You're not seeing this issue with Websockets or SSE? I also wasn't able to repro your issue with the jsbin link you sent.

[2019-01-19 00:03] mikaelm12 commented on #6797
My first thought since you're saying you get the issue seemingly randomly is that for whatever reason your cookies aren't being respected and that means stick sessions which are required aren't working on the Azure SignalR Service. This could cause seemingly random failures. But I can't be sure without more information.

[2019-01-19 00:20] danroth27 opened #6864 "Default values for component parameters get overwritten"
- Create a new Razor Components app
- Add a parameter to the `Counter` component with a default value of 1

[code]

- Run the app and try the Counter on the Counter page

Expected result:
- Counter increments

Actual result:
- Counter doesn't increment - stays at zero
- The IncrementAmount parameter was overwritten to zero

[2019-01-19 00:57] pranavkm commented on #6864
@danroth27, I tried this out with a blazor application, and I see the same outcome. Moving this out to preview3 so we can figure out what the right behavior needs to be.

@SteveSandersonMS, thoughts on what the behavior should be here? ParameterCollection [goes out of it's way](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/ParameterCollectionExtensions.cs#L77-L92)

[2019-01-19 01:48] nielheo commented on #6434
- server-side : NuGet v 1.1.0
- client-side: NPM "@aspnet/signalr": "^1.1.0", "react": "^16.7.0",
- IIS Express
- OS: Windows 10 (client & Server)
- Browser: Chrome / Edge

[server-side.txt](https://github.com/aspnet/AspNetCore/files/2775010/server-side.txt)
[client-side.txt](https://github.com/aspnet/AspNetCore/files/2775011/client-side.txt)

After my PC idle for long time, it will try to re-esta

[2019-01-19 03:04] PedroQ commented on #6021
Yep. My pull request was still in the old repo. #6790 fixes this.

[2019-01-19 04:04] davidfowl opened #6870 "[CI Failure]: Microsoft.AspNetCore.Server.Kestrel.Core.Tests.Http2TimeoutTests.DATA_Sent_TooSlowlyDueToOutputFlowControlOnLargeWrite_AbortsConnectionAfterRateTimeout"
[code]

[code]

[2019-01-19 05:15] JamesNK opened #6871 "Unit testing HttpContext with HTTP2 features"
Is there a simple way to create a HttpContext with HTTP2 features?

[code]

This throws an error because there is no `IHttpResponseTrailersFeature`.

Is there a simple way to make the context HTTP2-erized. If not, consider adding one.

[2019-01-19 05:40] Tratcher commented on #6871
Yeah, making and setting your own IHttpResponseTrailersFeature ought to be trivial. There's also a IHeadersDictionary implementation in Http you can re-use.

This isn't a feature that DefaultHttpContext should provide by default, you need to know it's going to work before calling it. We could make a dummy implementation of the feature though so you just have to new it up and set it.

[2019-01-19 07:43] johnkors commented on #2512
Will affect all customers/users of Octopus,  @paulstovell.

[2019-01-19 07:59] Giorgi commented on #6834
@pakrym  [#4413](https://github.com/aspnet/AspNetCore/issues/4413)  used `InProcess` hosting model but we are using `OutOfProcess` because we target full .Net Framework and can't use InProcess so I don't think it's the same issue.

[2019-01-19 08:16] farhadibehnam opened #6873 "Can I use Areas in Asp.net core web API projects?"
I'm working on a project that is an Asp.net core web API project.most of my projects I did by Asp.net MVC and Core MVC, but I would do a new project based on Core Web API. in Core MVC we have Areas concept that we can create an Areas for Admin part, etc.... But I want to know Can we use Areas in Asp.net core Web API Projects? If yes how can I do it? If you're thinking about there is a better way t

[2019-01-19 08:36] vankampenp opened #6874 "What are the limitations on background tasks with hosted services?"
The IHostedService interface is described here:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-2.2

I was told here by @Tratcher  that a background task should not access HttpContext.

When implementing a QueuedHostedService I assume this is also true. Also disposable objects should not be passed to the queue, including anything that comes through DI

[2019-01-19 14:43] mkArtakMSFT commented on #5192
Thanks for contacting us, @JohnGalt1717.
@SteveSandersonMS, @ryanbrandenburg any suggestions regarding what's causing this behavior?

[2019-01-19 14:59] Stamo-Gochev commented on #6797
1. The service is not hosted on Azure. More information about the deployment environment can be found in the result of the `dotnet --info` command from my post - https://pastebin.com/PTriewcL
2. The problem can be reproduced with Long polling, but **not** with Server-sent events.
3. In order to reproduce the issue, navigate to the link https://jsbin.com/suqabipiyi/1/edit?html,output and wait till

[2019-01-19 16:27] MartinF opened #6875 "[Blazor] CSS inside style tags gets HTML encoded"
### Describe the bug
Running Blazor 0.7.0.
CSS inside a <style> tag in a Component gets HTML encoded.
For example, when using the direct child selector (.myClass > img etc.) the output ends up being `&gt;` rather than ">"

### To Reproduce
Steps to reproduce the behavior:
1. Create a new Blazor project with the default template.
2. Open one of the existing components and add a <style> tag and a CS

[2019-01-19 16:48] cizirgan commented on #6111
@patricka2  This worked in my case too.

[2019-01-19 16:59] HockeyJustin commented on #6836
@blowdart - thanks for the response.

In these days where clients are (rightly) getting more security conscious, pen tests are becoming increasingly common. Brute force attacks are fairly simple to attempt.

I'll look into the options mentioned.

Thanks again. J

[2019-01-19 16:59] #6836 closed

[2019-01-19 17:49] davidfowl commented on #4707
@highfield you should avoid using Request.Form and instead use ReadFormAsync

[2019-01-19 21:04] syndicatedshannon commented on #6729
I, too, had to discard the ActionResult<T> implementation because it was sealed.
I ended up re-implementing in AspNetCore the same solution I'd previously used in AspNet.
I didn't duplicate all functionality of ActionResult<T>, as I didn't implement IConvertible<T> or IConvertToActionResults.
However, I recall understanding why it had been sealed when I investigated. I feel like perhaps it was jus

[2019-01-19 21:17] syndicatedshannon commented on #6729
I should probably also mention why I found `ActionResult<T>` insufficient.
One issue I had is that any `ActionResult<T>` can be implicitly converted to `ActionResult` and any `ActionResult` can be used to construct any `ActionResult<T>`. That leaves a lot of room to defeat useful compiler checks.
Additionally, other useful `IActionResult` implementations can return a specific type, such as `Create

[2019-01-19 21:19] syndicatedshannon commented on #6729
My personal thinking at the time was that `ActionResult<T>` would probably get a pretty significant redesign in v3 due to the above, and I would just not worry about it until then.

[2019-01-19 23:09] davidfowl commented on #6729
Can you elaborate?

[2019-01-20 00:23] douglasg14b opened #6878 "Optional [FromBody] Model Binding"
### Is your feature request related to a problem? Please describe.

I am trying to use optional `[FromBody]` model binding on a per-endpoint basis.
Example:
[code]

An empty request body results in the following being returned:

[code]

### Describe the solution you'd like

For properties that have default value ie `[FromBody] bool expandRelations = true` to not be required in the body of the requ

[2019-01-20 00:36] JechoJekov commented on #4396
Until the bug fix is released it is possible to just override the affected methods of `ConsumesAttribute` with the fixed code and use the new attribute as a quick-and-easy replacement of the built-in attribute (or even create an entirely new attribute from `ConsumesAttribute`'s code:

https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ConsumesAttribute.cs

[

[2019-01-20 00:42] JamesNK commented on #4396
Yes that will work, but you will need to disable endpoint routing (and/or have compat mode be 2.1 or less)

[2019-01-20 04:13] syndicatedshannon commented on #6729
Hey David, sure. A crude example to start. If we are generating proxies or documentation from our return types, of course we'd like the compiler to ensure our proxy/client doesn't throw RT (de)serialization errors. Otherwise attribute-based documentation performs the same function.

However, the following compiles:

[code]

[2019-01-20 04:21] JamesNK opened #6880 "TestHost with HTTP2 features"
Related: https://github.com/aspnet/AspNetCore/issues/6871

Attempting to use HTTP2 features in the test website with TestHost...

[code]

...results in an error: `Message: System.InvalidOperationException : Trailers are not supported for this response.`

This is the first error I encountered when using HTTP2 - I'm going to see if I can work around it in the test website - but I suspect there is ot

[2019-01-20 04:47] TanvirArjel opened #6881 "Add meta package for both Entity Framework Core and Identity"
As **Entity Framework Core** and **Identity** related packages have been removed from `Microsoft.AspNetCore.App` meta package in ASP.NET Core 3.0 then please also create meta package for **Entity Framework Core** and **Identity** like `Microsoft.EntityFrameworkCore.App` and `Microsoft.AspNetCoreIdentity.App` which will contain all the **Entity Framework Core** and **Identity** related packages res

[2019-01-20 05:08] danroth27 commented on #6864
@pranavkm This works in Blazor 0.7.0 and and has worked from pretty much the first release of Blazor. This is one of the first scenarios that Blazor users try out when [getting started with Blazor](https://blazor.net/docs/tutorials/build-your-first-blazor-app.html#component-parameters). If this was regressed in the latest update to Blazor it needs to be addressed.

[2019-01-20 06:08] danroth27 opened #6882 "Update Blazor (ASP.NET Core Hosted) project template so that it is easy to toggle between client-side and server-side Blazor"
The work that remains here is to break up `UseBlazor` into more parts so that it looks similar to the patterns for server-side.

[2019-01-20 06:09] danroth27 opened #6883 "Make Razor Components project template a single project and update to use .razor"
Update the Razor Components template to be a single project, so that it is a simpler starting point for a Razor Components app.

We will also update the Blazor (ASP.NET Core Hosted) template to be easily toggled between client-side and server-side Blazor, for folks that want to be able to switch between the two: https://github.com/aspnet/AspNetCore/issues/6882

As part of this work, we also need t

[2019-01-20 06:11] danroth27 opened #6884 "Razor Components namespace cleanup"
The Razor Component template currently pulls in the following two namespaces in `_ViewImports.cshtml`:

[code]

We should clean up these namespaces so that these `@usings` are not required by default.

[2019-01-20 06:13] danroth27 opened #6885 "Update Index.html in Razor Component template to be a Razor Page (Index.cshtml)"

[2019-01-20 06:16] danroth27 opened #6886 "In the Razor Components project template consider bringing scripts & styles in using the environment specific helpers"

[2019-01-20 06:30] danroth27 opened #6887 "Figure out a way to allow configuring SignalR settings on the client."
The current SignalR connection on the client is set up to print info logs, but this isn't required in the general case. However it would be useful to retain the ability to configure the log level among other things, in the event the user's attempting to debug connection issues on the client.

---------------------------------------
## Original issue report

When running a Razor Components app you

[2019-01-20 06:31] danroth27 opened #6888 "Update Razor Components template to use C# 8 language features"
Ex ranges for the weather forecast data.

[2019-01-20 06:34] danroth27 opened #6889 "Tooling support for navigate to component implementation"
I.e. F12 on component tag to navigate to component implementation.

@rynowak

[2019-01-20 06:49] Tratcher commented on #6880
https://github.com/aspnet/AspNetCore/blob/425c196cba530b161b120a57af8f1dd513b96f67/src/Http/Http.Abstractions/src/Extensions/ResponseTrailerExtensions.cs#L44-L47

This is a more interesting problem for TestServer than it was for just DefaultHttpContext. What client API are you using to send requests? HttpClient I assume. That doesn't have an object model to represent trailers yet. You'd have to us

[2019-01-20 06:58] davidfowl commented on #6887
It’s coming from SignalR @BrennanConroy

[2019-01-20 07:05] davidfowl commented on #6888
I don’t think we should do this. We want to use language features in other templates as well but the plan was to wait on c# 8 to be the default

[2019-01-20 08:38] YurasNazar commented on #6413
Here is repository:  [https://github.com/ss-ita/gtd-timer-server](url)

[2019-01-20 08:41] YurasNazar commented on #6413
Here is repository: https://github.com/ss-ita/gtd-timer-server

[2019-01-20 08:41] netnr opened #6890 "IHostingEnvironment object gets a difference in path"
![1628552182](https://gs.zme.ink/2019/01/20/1628552182.png)

![1630334e4b](https://gs.zme.ink/2019/01/20/1630334e4b.png)

In the Linux system, the dotnet is started in different paths. The WebRootPath attribute of the IHostingEnvironment object is different from the ContentRootPath attribute. The dotnet startup path is obtained. Shouldn't it always be the path of the site directory?

CentOS7
dotne

[2019-01-20 09:09] Giorgi commented on #6834
I configured WER to take full dump on process crash and I have crash dumps of IIS. How can I share it with you?

[2019-01-20 09:17] PtrStruct commented on #5793
I had the same issue.
However the solution for me was that I was trying to sign in right after signing up using
`SignInAsync(..)` and I passed in the entire `User` model rather than using `PasswordSignInAsync(User.UserName, User.Password, false, false)`.

Iirc in ASP.NET Core 1.0 you would use `SignInAsync(...)` but I am now using 3.0.

[2019-01-20 09:20] DudnykOleksandr opened #6891 "The behavior of UrlHelper depends on the action context."
### Describe the bug
The behavior of UrlHelper depends on the action context.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.0.9
2. Put this code as your controller.
`[Route("api/[controller]")]
    public class ValuesController : Controller
    {
        private IUrlHelper urlHelper;

        public ValuesController(IUrlHelper urlHelper)
        {

[2019-01-20 11:48] RainingNight commented on #2303
+1

[2019-01-20 11:53] rafsanulhasan commented on #2303
+1

[2019-01-20 13:12] tactical-drone commented on #4733
I am also getting these errors now out of nowhere.
[code]

[2019-01-20 16:43] bastrou commented on #2738
![image](https://user-images.githubusercontent.com/32610582/51442208-2d058080-1ce3-11e9-895c-c186cffd045a.png)
What is the meaning of this if they say that you cannot use VB.NET

[2019-01-20 16:57] doominator42 commented on #6106
@Jimmys20 As a workaround before the PR is merged, you can manually add the `JQueryQueryStringValueProviderFactory` in your `Startup.cs`

[code]

[2019-01-20 17:57] FiveStar0909 commented on #6565
import { HubConnectionBuilder,HubConnection  } from '@aspnet/signalr'
...
initiateConnection = () => {
    connection = new HubConnectionBuilder()
      .withUrl(config.baseHubURL)
      .build();

      connection.on("update", (message) => {
      this.update(message);
    });
}
The issue that failed to start the transport is happening in new  HubConnectionBuilder().withURl().build().

[2019-01-20 20:07] wojanator commented on #6729
In my case, I just don't want to write this over and over in conrollers:
`        public async Task<ActionResult<List<InventoryBookingsGetModel>>> GetAvailabilityAsync(DateTime date)
`

Task<ActionResult<List<InventoryBookingsGetModel>>>  that is a ton of noise that I was hoping to simplify as :
Task<ActionListResult<InventoryBookingsGetModel>>
or even
ActionListResultTask<InventoryBookingsGetMode

[2019-01-20 21:11] pdavis68 opened #6894 "DateTime.Parse() doesn't work properly on arm processors (Raspberry Pi)"
### Describe the bug
DateTime.Parse() on Raspberry Pi doesn't parse dates that will parse in an x86/64 environment.

Unhandled Exception: System.FormatException: String '01/20/2019 13:41' was not recognized as a valid DateTime.
   at System.DateTimeParse.Parse(ReadOnlySpan`1 s, DateTimeFormatInfo dtfi, DateTimeStyles styles)
   at System.DateTime.Parse(String s)
   at DetaineeScraper.Program.Main(

[2019-01-20 21:14] pdavis68 commented on #6894
Sorry, wrong repo

[2019-01-20 21:14] #6894 closed

[2019-01-20 21:49] JechoJekov commented on #4396
@JamesNK Thanks for the comment. Does this mean that endpoint routing ignores the logic of `ConsumesAttribute` and just uses the values from the `ContentTypes` property ? Is there any alternative to disabling endpoint routing (e.g. by configuring it in some way)?

[2019-01-20 23:47] JamesNK opened #6895 "Caching per-request objects on reused HttpContexts"
ASP.NET Core 3 adds HttpContext reuse - [Reuse HttpContext object per HTTP/1 connection and HTTP/2 stream](https://github.com/aspnet/AspNetCore/pull/6424)

App frameworks and middleware often have their own objects that are allocated every request. Instead of app frameworks/middleware caching with a shared object pool (creating thread contention), what opportunities are there for to cache lightwei

[2019-01-20 23:48] JamesNK commented on #6895
@davidfowl

[2019-01-20 23:53] Noobville opened #6896 "Getting started with Blazor - documentation incorrect"
url:
https://blazor.net/docs/get-started.html
Following instructions 1 - 4.
1 - ok , 2 ok (though I did in reverse order)
3 (Blazor languages Services extension) is a link to another page, which mirrors original get started page.
4 - dotnet new install templates - nuget error: NU1101 Unable to find package ...Blazor.Templates ( in offline packages)

Link in 3 is : https://marketplace.visualstudio.

[2019-01-20 23:59] syndicatedshannon commented on #6729
I hear you and appreciate your intuitive desire to reduce repetition. Of course reducing code shouldn't be the only goal. Readability is important too, and not *always* correlated with fewer characters. e.g. if we just want to reduce code we could simply state the return type as IActionResult in all cases.

By merging the content type with the platform type, we make it harder for consumers (both h

[2019-01-21 00:00] syndicatedshannon commented on #6729
I don't know how `ActionListResultTask` would affect Swagger and client proxy generation tools, but I wouldn't be surprised if it broke them.

[2019-01-21 00:02] davidfowl commented on #6895
I think resettable features is the feature here. A feature can opt into controlling creation and reset.

[2019-01-21 00:16] JamesNK commented on #6895
That's a clever idea. It could be something a feature could track, e.g. each time it is reset it could increment an "unused" counter by 1, when it is "used" then it goes back to zero, and if it is reset and the counter exceeds a number then heavy objects are culled (or could a feature remove itself from its HttpContext?).

What happens to features currently when the HttpContext is reused?

I don't

[2019-01-21 00:53] sketchau commented on #5277
@legistek , it would be great to see your results, if you were willing to share. Using SignalR as a backplane for SignalR seems sensible.

[2019-01-21 07:04] ankitmori14 commented on #6831
we have 32 GB of memory.

[2019-01-21 07:29] davidfowl opened #6897 "Using RequireAuthorization results in an ambiguous method compilation error"
### Describe the bug

Trying to require authorization on an endpoint route without passing authorize data or a policy name results in a compilation error.

### To Reproduce

[code]

### Expected behavior
It shouldn't result in a compilation error.

### Screenshots
![image](https://user-images.githubusercontent.com/95136/51458737-18d57980-1d0b-11e9-9fd9-ea022eb1a547.png)

cc @JamesNK @rynowak

[2019-01-21 07:45] AlexejTimonin commented on #6105
@JamesNK Can I take a stab at this?

[2019-01-21 07:47] JMaroz opened #6898 "[SignalR] Java Client NullPointerException"
### Describe the bug
When start the connection the SignalR HubConnection class throw an Exception

`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.microsoft.signalr.HubConnection$ConnectionState.cancelOutstandingInvocations(java.lang.Exception)' on a null object reference
       at com.microsoft.signalr.HubConnection.stopConnection(HubConnection.java:6)

[2019-01-21 07:50] davidfowl opened #6899 "AuthorizationMiddleware should throw friendly error when AddAuthorization and AddAuthorizationPolicyEvaluator() isn't called"
I tried using endpoint routing with authorization and it was a bit un-intuitive. This is the minimum required to use authorization. Nothing told me to add those services btw, I just got errors and had to read the source code to figure it out. Is there any reason AddAuthorization doesn't call AddAuthorizationPolicyEvaluator?

[code]

cc @HaoK @JamesNK

[2019-01-21 08:02] HaoK commented on #6899
AddAuthorization is from the core authorization package. The Policy stuff is in a separate package since it ties AuthZ with AuthN

[2019-01-21 08:11] davidfowl commented on #6899
@HaoK should we merge them?

[2019-01-21 08:17] glatzert opened #6900 "Link Documentation to Source Code"
Sometimes during browsing the API-Reference on docs.microsoft.com (like this: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.internal.formfile.-ctor?view=aspnetcore-2.2), I'd like to know the _actual_ implementation of the method.

Please provide a link into the GitHub source code - or for namespaces at least the GitHub repository.

[2019-01-21 08:17] RemiBou commented on #6864
@pranavkm the code you are seing was made to handle when navigating in the same page  : on a page with this route "/index/{id}" when going from "/index/123" to "/index" the parameter "id" should be set to its default value, just like it would when accessing directly to "/index"

Maybe we could apply this only to parameters from url, but there is no way, yet, to make a difference between route para

[2019-01-21 08:31] HaoK commented on #6899
That works too

[2019-01-21 08:33] JamesNK commented on #6105
Sure thing.

As a starting point you could use this parsing logic over type names the has to handle nested containers:
https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/Serialization/DefaultSerializationBinder.cs#L130-L174

`System.Collections.Generic.Dictionary`2[System.String,System.Collections.Generic.List`1[System.String]]`

[2019-01-21 10:25] zdila opened #6902 "SignalR connection.invoke should reject promise in case of error"
### Describe the bug
We are using NodeJS library `@aspnet/signalr`. If server throws exception on `connection.invoke` then we see uncaught exception in JS console instead fo rejecting the promise with error.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '...' - `"@aspnet/signalr": "1.1.0"`
2. Run this code '....'
    `connection.invoke('Foo').then(console

[2019-01-21 10:54] sven5 commented on #5624
@danroth27
Looking forward for this feature. In the meantime, is there any way I can manually enable client-side logging?

Thanks
Sven

[2019-01-21 10:57] sven5 commented on #6887
How to change the log level?

[2019-01-21 11:32] yetanotherchris opened #6903 "Publish InMemoryUserStore as part of the Identity namespace"
### Is your feature request related to a problem? Please describe.
Mocking a `UserManager` is unwieldy, or with NSubstitute impossible. Opening up `Microsoft.AspNetCore.Identity.InMemory.InMemoryUserStore` and related classes will making mocking and testing services, controllers and so on with a dependency on a `UserManager` a lot easier.

https://raw.githubusercontent.com/aspnet/AspNetCore/master

[2019-01-21 12:37] synckarthik opened #6905 "Response.HttpContext.Features.Get<IHttpResponseFeature>().ReasonPhrase is not working in .net core 2.0 above versions"
# Issue Title

Response.HttpContext.Features.Get<IHttpResponseFeature>().ReasonPhrase is not working in .net core 2.0 above versions

# General

We used the html upload box in our project. While upload fails, we will pass the custom message through httprequest to client side.  Our server side section is in .net core project (2.0).  So we have used the below code to send custom message

**Response.

[2019-01-21 13:14] ststeiger commented on #1528
@holajan, @skivsoft:
Sorry, was on holidays.
Access granted, you should have gotten an email to the address provided to gitlab.

[2019-01-21 13:41] RemiBou commented on #6864
@SteveSandersonMS maybe splitting Parameter in two concept : the parameter from routing and the parameter from attribute ? I think  it'll be easier to understand as it unusual to have both of them behind the same concept (angular uses ActivatedRoute and @Input() for instance, react uses props and match). So we could ignore the setting of default parameter for the attribute.

This would mean splitt

[2019-01-21 13:46] legistek commented on #5277
@sketchau, @GeXiaoguo I'm not opposed to sharing generally but my particular implementation right now is: a) not tested very much, since we decided to stick with SQL backplaning and ASP.NET Framework for now; and b) not necessarily a general purpose solution as it is built into the main code and assumes our user ID system, etc., so it would be a bit of effort to make it publishable. I was waiting

[2019-01-21 14:35] RemiBou commented on #6864
Yes indeed it difficult (There is some odd solution on SO https://stackoverflow.com/a/48190076/277067 but I don't think it's a good idea).

But the code that reset the parameter to the default value (the code @pranavkm found) would not be called for attribute parameters, only for route parameters. For route we can use the DefaultValueAttribute if someone want to set a different value than default(

[2019-01-21 14:53] MikaelUmaN opened #6906 "Support all styles of Open API/swagger parameter serialization"
### Is your feature request related to a problem? Please describe.
I would like to be able to choose what style to use for array parameters (and complex parameters in general) in Web Api methods.

https://swagger.io/docs/specification/serialization/

I want to be able to have comma-separated values, rather than ampersand concatenated. This prevents some APIs from becoming way to verbose and not us

[2019-01-21 15:43] khellang commented on #6905
Which server are you using? Can you show a dump of the response?

[2019-01-21 15:46] WahidBitar commented on #4802
another solution different than @avanveelen [workaround](https://github.com/aspnet/AspNetCore/issues/4802#issuecomment-449628162)

you can just wrap the `IFormFile` in another class and it will work

[code]
then you don have to add the index in your html

[code]

[2019-01-21 16:24] stradigy opened #6907 "OnTextChanged in Repeater triggered for every textbox with value within the repeater on first call"
### Describe the bug
On the first call of an OnTextChanged event of a TextBox in a Repeater, all textboxes with a value in the repeater are calling the OnTextChanged function (not only the concerned textbox control)

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '4.5.2'
2. Run this code:

ASPX Page:
------------

<%@ Page Language="C#" AutoEventWireup="tru

[2019-01-21 16:39] stradigy commented on #6907
ASPX page should contain an:
- asp:LinkButton ID="lbt_Label" runat="server"
- asp:Repeater ID="rpt_Data"  runat="server"
In the repeater (ItemTemplate):
asp:TextBox ID="uic_MyData" Value='<%# DataBinder.Eval(Container.DataItem, "MyData")%>' runat="server"  OnTextChanged="TextBox1_TextChanged"

(sorry those got deleted from editing to publishing on this thread)

[2019-01-21 17:13] davidfowl opened #6908 "[CI Failure]: Microsoft.AspNetCore.Server.IISIntegration.FunctionalTests.ErrorPagesTests.IncludesAdditionalErrorPageTextInProcessHandlerLoadFailure_CorrectString"
https://dev.azure.com/dnceng/public/_build/results?buildId=77321

Logs

[code]

[2019-01-21 17:15] BrennanConroy commented on #6902
I believe the error is coming through the `onclose` callback and since you haven't added a callback it will be an uncaught exception.
________________________________
From: Martin Ždila <notifications@github.com>
Sent: Monday, January 21, 2019 2:25:48 AM
To: aspnet/AspNetCore
Cc: Subscribed
Subject: [aspnet/AspNetCore] SignalR connection.invoke should reject promise in case of error (#6902)

Descr

[2019-01-21 18:37] pratishthap opened #6909 "How to setup a fallback resource file for Views"
I have a requirement where i need to use shared resource file as a fallback if the key does not exist in the local resx file. How do i configure it in the startup so that i can use local file and the shared file as a fallback for Localization

[2019-01-21 20:41] DeanRoddey commented on #5592
You know, thinking about this just now as it was happening to me again... I wonder if it's as simple as just not reliably getting rid of element/component references when the things referenced go away. Given that, for us, it always happens after we invoke a modal, and then render those bits away when the modal is dismissed. The stuff is obviously gone, because it doesn't get drawn anymore and Stat

[2019-01-21 20:47] los93sol commented on #4370
I understand this is corrected now, but when can we expect it to be publicly available?  Just pushing the correct version of Microsoft.AspNetCore.Connections.Abstractions to nuget would at least allow me to manually pull it in now so I can continue testing without waiting for preview2

[2019-01-21 20:53] TheFanatr opened #6910 "How to Use Razor Components in .NET Core 3 Preview 1"
# Using Razor Components in .NET Core 3 Preview 1
After wondering why there have not been any new Blazor release announcements nor any news on a Razor Components preview, I did some browsing in this repository and others and found that significant progress was being made, but also that no one on the open internet was posting about how to check it out. I promptly dug out my experimental machine and

[2019-01-21 21:11] Lupusa87 opened #6912 "Blazor Get binary data from js?"
Js interop function can receive byte[] from dotnet as parameter.
Vice versa is not working, I can't call dotnet function passing arraybuffer (Uint8Array) as parameter and receive byte[] in dotnet, giving error.

I am forced to do extra job, in js convert received binary to base64string and pass to dotnet function, then convert back it to byte array.

Is it possible to get binary data from js?

[2019-01-21 21:49] davidfowl commented on #6910
Wait for preview2, you can use daily builds by downloading the latest from https://github.com/dotnet/core-sdk#installers-and-binaries. The razor components templates should be in there now. Also you may need to wait for the next preview of vs2019 to get proper tooling support.

cc @rynowak @SteveSandersonMS

[2019-01-21 21:51] davidfowl commented on #6907
This is not the repository for WebForms issues. Try reporting this on https://developercommunity.visualstudio.com/spaces/61/index.html

[2019-01-21 21:51] #6907 closed

[2019-01-21 23:47] CreativeHouseDotOrg opened #6913 "dotnet command line argument to terminate remaining build processes that are finished but dont exit"
### Is your feature request related to a problem? Please describe.
I'm am trying to `build` and `publish`... but unfortunately there are hanging processes in Task Manager .NET Core Host that lead to a publish error if i try to `dotnet publish`

### Describe the solution you'd like
I want the Remaining Tasks to close after the build OR publish process has ended.

### Describe alternatives you've co

[2019-01-22 01:44] Lupusa87 commented on #6912
I figured this out [here](https://github.com/Lupusa87/BlazorWebSocketHelper/blob/master/content/BwsJsInterop.js) after advise from gitter to follow links below but it was hard and suffering.

Can we make this simpler somehow?

https://github.com/aspnet/AspNetCore/blob/master/src/Components/Blazor/Blazor/src/Http/WebAssemblyHttpMessageHandler.cs

https://github.com/aspnet/AspNetCore/blob/master/src

[2019-01-22 02:00] John0King commented on #6890
This is not a bug, It designed like this ,
the `dotnet ***.dll` start the app in the Terminal‘s current workDirectory (this will be the `ContentRootPath`)
and the `WebRootPath` is equal to `ContentRootPath + '/wwwroot'`

So in your first picture,  the `ContentRootPath` is your workingDirectory and it can not find `/wwwroot` folder in it ,So `WebRootPath` is not point to `wwwroot`

[2019-01-22 02:06] shravan2x opened #6914 "MVC action string param null when empty"
### Describe the bug
I have an action in my MVC project which works with URLS like `search?q=xxx`. The action definition is:

[code]

This works well in general, but causes an error when the URL is called with an empty `q` parameter like `search?q=`. In this case, q is `null` instead of an empty string causing the `.Contains` method to fail.

### To Reproduce
Steps to reproduce the behavior:
1. Us

[2019-01-22 05:51] netnr commented on #6890
If I want to upload an image to wwwroot/upload/image, how do I locate it? WebRootPath should be fixed to the wwwroot directory.

[2019-01-22 06:30] davidfowl commented on #6914
Would you expect it to be null if q wasn't in the querystring at all?

[2019-01-22 06:31] davidfowl commented on #6913
This issue should be moved to https://github.com/dotnet/cli

[2019-01-22 06:35] davidfowl commented on #6890
The WebRootPath ends up being null when it doesn't physically exist. If you create the wwwroot folder then it'll show up.

[2019-01-22 06:46] shravan2x commented on #6914
Yeah, I would.

[2019-01-22 06:51] netnr commented on #6890
Thank you very much, I already understand; but I still think that the WebRootPath property should always point to wwwroot

[2019-01-22 06:56] DaleCam commented on #5592
For me - I can replicate this AS SOON AS I inject a HttpClient in my page:
`[Inject] private HttpClient Http { get; set; }`
And as soon as I take it out, the page works again. I hope that helps narrow it down!

[2019-01-22 06:58] davidfowl commented on #6890
And the WebRootFileProvider will remain null?

[2019-01-22 07:09] vertonghenb commented on #5592
Sometines this can also be caused if your App is throwing a null ref. exception and you're not catching it.

[2019-01-22 07:18] mgubis opened #6919 "Add a service that allows constructing parts of an ApplicationModel instance"
[code]

BTW the compat expectations of an API like this are:

1. This API will respect things like compat switches, so if we make behaviour change it's backed by a compat switch
2. We're allowed to make new overloads and call those instead if requirements change. The existing APIs will work the same and might be obsoleted over time.

--------------------------------------------------

We've been u

[2019-01-22 07:30] spaolo1969 opened #6920 "Server Side Blazor support fallback to other protocols"
It would be very nice to have Server Side Blazor implement fallback to other SignalR protocols (SSE, lp...) when a websockets connection cannot be established.

This is actually almost always the case when deploying in Enterprise environment, websockets connection are very seldom established because of the proxies and firewalls implemented.

[2019-01-22 07:43] DaleCam commented on #5592
Further to this its actually when i simply Inject ANYTHING on the page. I created a skeleton class, injected it into my page, and I got the "No element is currently associated with component {id}" error. I remove the inject, it loads again.

[2019-01-22 08:46] DaleCam commented on #5592
I was just able to solve this (for my project anyway) by following the fantastic idea in this git:
https://github.com/Suchiman/BlazorDualMode

[2019-01-22 08:56] ststeiger commented on #1528
@azharuddinsayed:

I managed to reproduce that error.
The following changes are required:

[code]

and

[code]

In addition to that, the following correction in
AnyWebReporting\ReportingServices\Microsoft.VisualBasic1\VBCodeGenerator.cs

[code]

Then the custom code works, at least in my case.

[2019-01-22 09:05] SteveSandersonMS opened #6921 "Scaffolding for Razor Components"
It should be possible to scaffold a CRUD UI in much the same way as for MVC.

[2019-01-22 10:18] AlexKeySmith commented on #4547
Hi @jkotalik

Is
`hostingContext.HostingEnvironment.ContentRootPath` more appropriate here rather than: `Directory.GetCurrentDirectory()`?

Or is this a new feature in the patch which you are referring to?

[2019-01-22 10:50] martincostello commented on #6415
Regarding the 405 responses, these are still being served instead of 404s (and then hitting the bug fixed by #6416) when endpoint routing is enabled. The clients are unchanged and the code change is purely enabling endpoint routing. _Something_ somewhere is changing the behaviour in MVC so that a 405 is being served instead of running our custom error handler that produces a 404.

The only thing f

[2019-01-22 14:21] LindaLawton commented on #6914
in the instance you send `search?q=` i would expect to see `string.empty`.  What would you expect to see if you just send `search`?  I think i would expect it to fail.

Things start to get even more confusing if you say change the type to `Int`.   There is a difference between a nullable type and a non nullable type as especially with strings.

    public IActionResult ThreadsJson([FromQuery(Name

[2019-01-22 14:22] Stamo-Gochev commented on #6797
@mikaelm12 I've done some more testing and the issue can be reproduced with SSE and WebSockets transports but less frequently. Can you think of any other reason apart from load/latency? Any ideas how to further investigate the reason will also be helpful.

[2019-01-22 14:46] ststeiger commented on #1528
@skivsoft: There isn't any, yet.
You'll need to replace all the pinvokes with a freetype equivalent, which is a lot of work.

If you just need to create a PDF on Linux, you can tryp PdfSharpCore or PdfSharpNetStandard:
https://github.com/ststeiger/PdfSharpCore
https://github.com/ststeiger/PdfSharpNetStandard

[2019-01-22 14:48] Giorgi commented on #6834
@muratg @jkotalik Is there anything else I can do to help in diagnosing the issue ?

[2019-01-22 15:10] mbashov opened #6922 "Set operations on SignalR groups in IHubContext"
It is currently possible to call a method on SignalR clients belonging to a group with exception of specific connections using [this method](https://github.com/aspnet/AspNetCore/blob/release/2.2/src/SignalR/server/Core/src/IHubClients%60T.cs#L61) on `IHubClients`. It would be great if set operations on groups were also provided, with methods, for example, to access connections belonging to one gro

[2019-01-22 15:12] FiveStar0909 commented on #6565
@mikaelm12  what exactly do you need?

[2019-01-22 16:03] muratg commented on #4570
@DamianEdwards FYI

[2019-01-22 16:08] muratg commented on #6834
@pakrym @jkotalik any more thoughts to help diagnose this?

[2019-01-22 16:10] muratg opened #6923 "SignalR Subscriber client(.NET Core/Angular 4) connected but not received message after few minutes"
_From @meerajoy4 on Friday, 28 December 2018 05:54:15_

Any idea?

_Copied from original issue: SignalR/SignalR#4283_

[2019-01-22 16:10] muratg commented on #6923
_From @mikaelm12 on Thursday, 03 January 2019 20:00:41_

Sorry it's a bit unclear to me. Are you saying that you're trying to mix using classic asp.net and asp.net core on the server and client, because that will not work.
Or are you just saying that in the past you have used SignalR on asp.net?

[2019-01-22 16:10] muratg commented on #6923
_From @meerajoy4 on Friday, 04 January 2019 04:27:28_

@mikaelm12 ,am using asp.net core on the server side. Issue is almost similar https://github.com/SignalR/SignalR/issues/4048. In this issue ,its saying about asp.net signalR , but am using asp.net core signalR.

[2019-01-22 16:10] muratg commented on #6923
_From @muratg on Friday, 18 January 2019 19:35:44_

@meerajoy4 Are you using a backplane? Or the Signalr service? Or neither?

[2019-01-22 16:10] muratg commented on #6923
_From @nikunj231991 on Saturday, 19 January 2019 08:51:51_

I am using signalR with websockets and facing same issue. In local its works fine but when i will deploy in Azure and also enabling websockets there after some time not receiving signals client side. Also traced all logs server is sending signals but client not receiving. If i restart azure webapp then it will work for 2-3 minute then sam

[2019-01-22 16:19] jkotalik commented on #6898
@mikaelm12 @BrennanConroy

[2019-01-22 16:30] hez2010 opened #6924 "Performance issues with logging component"
### Describe the bug
If I enable logging, the server performance will drop dramatically even if the logging level was set to 'error'.
You can set the logging level to "none" or other values separately and do request benchmark on each of them, and you will find that the QPS down dramatically if the logging is enabled.

Please improve the performance of the logger, thanks!

The benchmark source can

[2019-01-22 16:36] vtortola commented on #6803
Unfortunatelly moving to 2.2 does not help. Memory keeps growing.

![image](https://user-images.githubusercontent.com/704420/51550158-19d1ec80-1e6c-11e9-9f52-8b11e09eba30.png)

[2019-01-22 16:53] Tratcher opened #6925 "Support conditional compression"
Split from https://github.com/aspnet/AspNetCore/issues/2458#issuecomment-406318653

Background:
Response compression is disabled by default for HTTPS requests due to BEAST and CRIME attacks. These attacks are primarily a concern for dynamic content that the user can influence. Since this is not the case for static assets we should have some way for those assets to opt into compression. This is esp

[2019-01-22 16:57] vertonghenb commented on #5621
Seems to be a tooling issue, maybe close this one in favor of this: https://github.com/aspnet/AspNetCore/issues/5017

[2019-01-22 16:59] yberstad commented on #5472
Hi @grahamehorner or @robertmclaws, have you gotten time to publish a blog post regarding this issue? It would have been much appreciated! 😃 Thanks in advance!

[2019-01-22 17:14] darrenlewis1985 opened #6926 "Microsoft.AspNetCore.Mvc, .NetStandard and .NetCore versions"
I understand how .Net Standard and .Net Core relate. However, can you please clarify the relationships between versions of packages like Microsoft.AspNetCore.Mvc and .Net Standard and .Net Core. It would appear that the version numbers for Microsoft.AspNetCore.Mvc seems to track against .Net Core but does that mean there are any dependencies between them or not because Microsoft.AspNetCore.Mvc lis

[2019-01-22 17:24] Matthew-Bonner commented on #6800
I think the main problem here is that the state is not being updated across the components, so if I've correctly understood the problem, @bilpor could you take a look at https://github.com/aspnet/AspNetCore/issues/5467 and see if the information contained in that issue allows us to progress?

[2019-01-22 17:25] muratg commented on #6925
cc @danroth27 @shirhatti

[2019-01-22 17:37] #6859 closed

[2019-01-22 17:37] #6860 closed

[2019-01-22 17:40] pranavkm commented on #6864
We could use this approach and use the analyzer to flag initialization of parameters.

[2019-01-22 17:40] rynowak commented on #6910
We haven't made any announcements because the bits in 3.0.0-preview1 aren't really in a state that anyone can use 😆 - we'll provide instructions for 3.0.0-preview2 and VS 2019 when those things are available.

[2019-01-22 17:42] mikaelm12 commented on #6898
I'll investigate. Thanks!

[2019-01-22 17:51] pranavkm commented on #6919
Unfortunately the type was in the `.Internal` namespace and inheriting from it was never a supported scenario. We have a longer discussion about this here - https://github.com/aspnet/AspNetCore/issues/4932

In MVC, provider types, including `IPageApplicationModel` provider instances are invoked in their declared order. The expected approach is to register a custom application model provider after

[2019-01-22 17:52] pranavkm commented on #6909
cc @ryanbrandenburg

[2019-01-22 18:01] redowl3 commented on #6910
Any idea when we can expect preview 2?

[2019-01-22 18:05] pranavkm commented on #6906
I don't think either of the two OpenAPI toolchains we document and test against - NSwag or Swashbuckle - support the OpenAPI v3 spec. The [v2 spec](https://swagger.io/docs/specification/2-0/describing-parameters) does not have a way to represent query string serialization format. Even if AspNetCore \ MVC added support for specifying the serialization format, your Swagger document wouldn't have a w

[2019-01-22 18:12] danroth27 opened #6928 "Enable HTTPS in the Razor Components template"
Note: enabling HTTPS for the Blazor templates is tracked separately due to the dependency on response compression: #5554

[2019-01-22 18:13] pranavkm commented on #6878
Setting [MvcOptions.AllowEmptyInputInBodyModelBinding](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.mvcoptions.allowemptyinputinbodymodelbinding?view=aspnetcore-2.1#Microsoft_AspNetCore_Mvc_MvcOptions_AllowEmptyInputInBodyModelBinding) should continue to work for this scenario. Are you seeing otherwise?

[2019-01-22 18:18] Tratcher commented on #6874
A hosted service would have no direct access to any HttpContext instances. You could technically schedule request related work to such a queued hosted service, but you'd have to take great care to ensure that work was linear and nothing else operated on the request in the meantime.

The disposables question is similar, it's all about lifetime and concurrency. You shouldn't pass objects off to back

[2019-01-22 18:39] danroth27 commented on #6864
@SteveSandersonMS  and I discussed this and we agreed to revert to the old behavior for default parameter values for preview2. We'll need to revisit the client routing scenario in preview3.

[2019-01-22 18:42] davidfowl commented on #6874
Here's some guidance that we;re going to move to the documentation this year:

https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AspNetCoreGuidance.md#do-not-capture-the-httpcontext-in-background-threads

[2019-01-22 18:46] CreativeHouseDotOrg commented on #6913
@davidfowl Hi!
Do i have to move the issue myself?

[2019-01-22 18:49] CreativeHouseDotOrg commented on #6913
Nevermind i created a new issue here:
[https://github.com/dotnet/cli/issues/10642](https://github.com/dotnet/cli/issues/10642)

This topic can be closed! Thank you for your time

Kind Regards

[2019-01-22 18:49] #6913 closed

[2019-01-22 19:01] anushprabhu commented on #2708
Any update on this?

[2019-01-22 19:03] bradygaster commented on #6898
@JMaroz are you connecting to a traditional server-side Hub or are you connecting through the SignalR Service? Just curious.

[2019-01-22 19:06] mlorbetske opened #6929 "Generic Host Template"
_From @r734 on December 26, 2018 20:21_

I'd really like to see a template for the [.NET Generic Host](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-2.2) project type. The closest templates right now are `web` and `webapi`, but they're both focused on HTTP-based applications.

Ideally, I would just do `dotnet new generichost`, and I'd have a ready-to-g

[2019-01-22 19:20] marvel420 opened #6930 "SignalR Websocket handshake error"
Hello .NETCore Community,

We have a weird situation on hand with SignalR.  We are currently using npm @aspnet/signlr version 1.0.4 on our client solution.  We are using .NETCore SignalR nuget package 1.0.4 for our API.  The client connects to the api hub using the code below:

`
var connection = new signalR.HubConnectionBuilder()
      .withUrl(apiSettings.url + "/generichub")
      .withHubProto

[2019-01-22 19:43] mikaelm12 commented on #6898
So I believe that I was running into this bug during my work on the LongPolling transport and I fixed it in that pr which is still under review https://github.com/aspnet/AspNetCore/pull/6856. The issue I believe was
the connection state wasn't being set until we received the Handshake response so if the connection is stopped before it has been fully set up you could null ref in stop. This should b

[2019-01-22 20:10] shravan2x commented on #6914
I agree that matching querystrings to ASP actions can be a tricky business. But I think a more intuitive approach would be to use something akin to style _specificity_ in CSS. The framework picks the most specific action that meets the given arguments and 404s if none are found.

IMO, when you send `search?q=`
1. If a `search` action exists that specifically expects q, you call it with q=null.
2.

[2019-01-22 20:23] MikaelUmaN commented on #6906
Under Array and Multi-Value Parameters you can see the v2 alternative of ”collection” style. Csv is the default but aspnet uses ”multi” with ampersands.

Why?

[2019-01-22 20:25] Tratcher commented on #4150
There's a PR updating the docs around this:
https://github.com/aspnet/Docs/pull/10531

In 3.0 we've added Host.CreateDefaultBuilder that adds unprefixed environment variable support, so generic host apps are expected to use ENVIRONMENT=Development.

The 3.0 web host integration for generic host adds ASPNETCORE_ prefixed environment variables so web apps can use either the generic ENVIRONMENT or th

[2019-01-22 20:45] danroth27 opened #6933 "Web templates should not require HTTPS by default on Linux"
On Linux there isn't a good consistent way to establish trust of the dev certificate like there is on Windows and macOS. To avoid confusing new users on Linux we should not require HTTPS by default on Linux. On Linux you should be able to create a new web project, run it, and browse to the HTTP endpoint for the app (no forced redirect to HTTPS).

[2019-01-22 20:49] danroth27 commented on #5468
Closed in favor of #6921

[2019-01-22 20:49] #5468 closed

[2019-01-22 20:49] natemcmaster commented on #4321
The primary challenges for this right now are

1. the templates tests depend on the aspnetcore shared framework
2. the templates tests depend on product .nupkg files existing in the artifacts/ folder.

I believe #4257 will help with part 1. But for now, running the tests locally is a huge pain.

[2019-01-22 20:51] danroth27 commented on #6921
Maybe something like: https://api-platform.com/docs/client-generator/react/

[2019-01-22 20:54] danroth27 commented on #5624
@sven5 There are a few [community projects](https://blazor.net/community) out there that you can take a look at:
- https://github.com/BlazorExtensions/Logging
- https://github.com/elmahio/Elmah.Io.Blazor

[2019-01-22 21:02] danroth27 commented on #6888
@davidfowl Agreed, is that not happening for .NET Core 3.0?

[2019-01-22 21:54] mj1856 commented on #6029
@Eilon - It is still useful without the UI views for WebAPI projects.  In ours, I have:

[code]

How would I do the equivalent without the `Microsoft.AspNetCore.Authentication.AzureAD.UI` package?

To unblock my team, I've temporarily copied the source locally and removed the UI components.  It works well, but now this code is out-of-band for future maintenance.  It would be good if it was built t

[2019-01-22 22:12] NotMyself commented on #5417
Looks like I ran into this today. Using `dotnet new react` and attempting to use the following Dockerfile fails with no support for NPM.

[code]

[2019-01-22 22:12] blowdart commented on #6933
No Dan. We should emulate the actual operating environment we expect people to use, even if it does create an extra initial step we can't automate.

[2019-01-22 22:28] dotNETSanta opened #6937 "[Blazor] Direct DOM Manipulation with C#"
### Is your feature request related to a problem? Please describe.

Will it be possible to manipulate DOM from C# code directly without invoking javascript functions?

I thought about basics like that

	var elem = document.getElementById("123");

	elem.AddOrUpdateStyle("background-color", "red");
	elem.AddOrUpdateStyle("height", "150px");
	elem.Remove("height");

	var boxes = document.getElementsB

[2019-01-22 22:31] mgubis commented on #6919
Thank you for quick answer - I really appreciate it.

I'll try to explain our use case:

We have a in-house developed framework, which generates JavaScript code for available postbacks of the Page. That code does lot of additional stuff (i.e. blocks UI, prevents duplicate postbacks ...). This framework takes all methods of the Page decorated with attribute PostbackHandler, assumes name of the post

[2019-01-22 22:50] tuxy42 opened #6938 "UseAngularCliServer fail on .net core 3.0"
### Describe the bug
On net core 3.0 preview, Angular template execution fails on exception :
System.AggregateException: One or more errors occurred. (One or more errors occurred. (Failed to start 'npm'. To resolve this:.
...
See the InnerException for further details of the cause. ---> System.ComponentModel.Win32Exception: Invalid path name

### To Reproduce
Steps to reproduce the behavior:
- All

[2019-01-22 23:04] #5884 closed

[2019-01-22 23:04] #6020 closed

[2019-01-22 23:41] natemcmaster opened #6940 "Switch symbols output to snupkg format"
The .snupgk format is more efficient than the .symbols.nupkg format because it only includes .pdbs. It doesn't also include the .dll files and source code, which are unnecessary in most usages due to source-link and the way .symbols.nupkg files are actually handled by our CI.

Changing formats should be a matter adding `<SymbolPackageFormat>snupkg</SymbolPackageFormat>` to Directory.Build.props an

[2019-01-22 23:59] Tratcher commented on #4149
@muratg please transfer this issue to Extensions

[2019-01-23 00:01] danroth27 opened #6941 "Completion for bind attribute value fails to commit"
![vlylbszjne](https://user-images.githubusercontent.com/1874516/51573598-e3da3b80-1e5e-11e9-8d2b-5ddac6af7bd6.gif)

Selecting the completion doesn't get committed to the editor

@rynowak

[2019-01-23 00:10] danroth27 commented on #6941
It seems to only repro when the completion list comes up automatically while typing. If I force the completion list to come up by hitting ctrl-space then the completion commits just fine.

[2019-01-23 00:16] #6864 closed

[2019-01-23 00:40] natemcmaster commented on #3656
Triage team: @Eilon can you provide more direction here for what should be done? e.g. should we enforce this via tooling and PR checks?

[2019-01-23 00:41] natemcmaster commented on #3651
@Eilon is this basically a duplicate of https://github.com/aspnet/AspNetCore-Internal/issues/1648?

[2019-01-23 00:46] natemcmaster commented on #4067
@dougbu let's chat about this one. The code change should be minimal, but requires context to know _which_ line to change.

[2019-01-23 00:47] natemcmaster commented on #4521
This is done.

[2019-01-23 00:55] natemcmaster commented on #6327
@rynowak these are the versions of xUnit we are currently using. Are we missing tests as a result of this combination of versions?

https://github.com/aspnet/AspNetCore/blob/a1d49e19b52d457f2bf582339cc68f4975b1ebbf/eng/Versions.props#L174-L180

[2019-01-23 01:02] natemcmaster commented on #6327
Triage team: let's investigate this first to see if we are impacted by this breaking change in xunit. Try downgrading back to 2.3 to see if we suddenly get more tests running. If we are impacted by this bug, we need to figure out what to do next.

[2019-01-23 01:08] natemcmaster commented on #6940
_Triage team:_ let's discuss first with Arcade about how we should handle symbols.

[2019-01-23 01:09] natemcmaster commented on #6509
Triage team: let's remove this table from the README altogether. Now that we have dependency flow enabled, we recommend users try the SDK nightlies from https://github.com/dotnet/core-sdk.

[2019-01-23 01:18] Spaceman1861 commented on #5322
Not sure if this is the correct thread but seems pretty close im trying to track down the release notes from 1.0.1 onwards for signalr where can these be found? Those release pages dont seem to have any release notes.

[2019-01-23 02:21] davidfowl commented on #6888
It is but I believe it'll just be the default and templates won't have to explicitly specify it.

[2019-01-23 04:39] CollapsedMetal commented on #2882
If it's worth something, iv'e been facing this issue since ASP.NET MVC 5.
As it is described it happens 1 on 1000 times apparently randomly. No matter how hard I try, I still cannot reproduce this behaviour

[2019-01-23 06:17] bilpor commented on #6800
Hi Matt,

Looking at this link, the closest we have with this is the ChangeDetectionBLazorWebApplication example all the others are using React, redux etc.

This example falls down for us because we are extracting the functions from the page and placing them in our own components. The Index.cshtml page in the pages folder of the example implements the changedetection, but because we cannot use imp

[2019-01-23 06:19] ankitmori14 commented on #6831
Yes i have go though this article. Can i share anything which can help you to troubleshoot the issue.

[2019-01-23 06:51] bilpor commented on #6800
When I receive the 'blank' page there is no HTML in the page.

[2019-01-23 07:04] LindaLawton commented on #6914
I just wonder how your issue / suggestion will be effected by [What's Coming in C# 8.0? Nullable Reference Types](https://blog.cdemi.io/whats-coming-in-c-8-0-nullable-reference-types/)

    public IActionResult ThreadsJson([FromQuery(Name = "q")] string? query)

vs

    public IActionResult ThreadsJson([FromQuery(Name = "q")] string query)

I am concerned that changing how things currently work wi

[2019-01-23 07:12] davidfowl commented on #6929
Dupe of https://github.com/aspnet/AspNetCore/issues/6817

[2019-01-23 07:12] #6929 closed

[2019-01-23 07:15] davidfowl commented on #6926
In 2.1 and 2.2 the Microsoft.AspNetCore.* packages target .NET Standard and also ship in a the Microsoft.AspNetCore.App share framework as part of 2.1 and 2.2. When you're using .NET Core there's no need to reference individual packages, it's redundant and they are basically ignored and the shared framework is used instead.

[2019-01-23 07:39] imperugo commented on #6898
@bradygaster let me share some information about server side. The problem explained by @JMaroz happens with this configuration:

- ASP.NET Core 2.2.0
- SignalR 1.1.0
- Hosting on Docker over ECS on AWS Cloud Platform (no reverse proxy, just kestrel behind the balancer)

The client connects to simple Hub service that looks like this (more or less)

[code]

Let me know if you need more info.
Thanks

[2019-01-23 07:51] syedqutub commented on #6875
For me the style tag does work in the Components,but when using the @syntax ,css intellisense of the editer breaks

[2019-01-23 07:58] Max-Eriksson commented on #4707
Hi All,

We have the same issue in production. In our environment it seems to be related to bursts in connections/requests, see attached diagram.

![image](https://user-images.githubusercontent.com/10500964/51591276-e08d9100-1eec-11e9-810f-04a33ebb9c9a.png)

[2019-01-23 08:10] davidfowl commented on #5944
Yes the dependencies listed are the ones that are problematic/unnecessary. The other dependencies are pretty much required to function.

[2019-01-23 08:10] davidfowl commented on #5944
I'm not sure we can easily remove the diagnostic source. I need to think about that one more.

[2019-01-23 08:15] davidfowl commented on #4148
This issue has become irrelevant in 3.0 with the move to generic host. I'm closing this issue because we won't be back porting it. Most of the other issues here don't have much to do with this particular change.

[2019-01-23 08:15] #4148 closed

[2019-01-23 08:47] darrenlewis1985 commented on #6926
Thanks for confirming. I knew System.Net.Http was in the the metapackage but wasn't sure about Microsoft.AspNetCore.* references. It's on our to-do list to switch over to using the metapackage.

[2019-01-23 09:01] synckarthik commented on #6905
Hi Guys,

I have attached the sample for HTML 5 uploader with xmlHttpRequest to send the form data.

Steps to reproduce:

Run the sample and select any file. Then click on uploadFile button,. Your file will be uploaded in to wwwroot folder now.
Upload the same file again, you will receive the custom message which we sent from server end 'File Already Exists' in load event.

But message jot receive

[2019-01-23 09:01] Eilon commented on #6896
@danroth27

[2019-01-23 09:03] davidfowl commented on #4623
I'm going to take another stab at this.

[2019-01-23 09:11] Eilon commented on #4605
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-01-23 09:11] #4605 closed

[2019-01-23 09:12] #4587 closed

[2019-01-23 09:12] Eilon commented on #4362
@SteveSandersonMS - any idea on this? Is this something we would try to support?

[2019-01-23 09:13] #3739 closed

[2019-01-23 09:15] vankampenp commented on #6874
@Tratcher blocking the request from completing while a background task is running would result in having parallel work done, which is a scenario that could be useful if the foreground task still has a lot to do as well. I think the more general scenario is where you try to reduce the UI response time by not waiting on completion, at least that is what I am doing. I think your remarks would be real

[2019-01-23 09:15] #6874 closed

[2019-01-23 09:38] RSuter commented on #6906
NSwag already supports most of the OpenAPI 3 features, see https://github.com/RSuter/NSwag/issues/945

[2019-01-23 09:53] chrischu opened #6944 "DefaultAntiforgery should not log user errors as ERROR"
### Describe the bug
In DefaultAntiforgery.GetCookieTokenDoesNotThrow when an exception occurs it is logged as ERROR. This is problematic since that means user-triggered errors are logged as ERROR, which is problematic for us since normally ERROR logs mean that we have an application error that we need to investigate.

As far as we know in other cases user-generated errorrs are not logged as ERROR

[2019-01-23 10:20] MattJeanes opened #6945 "MVC1004 warning is unclear on what it is and how to resolve it"
### Describe the bug
As of AspNetCore 2.2 a MVC1004 warning appears when using a parameter in a `Controller` when naming the parameter a property of the complex type it is, for example `[FromQuery]DateTime date`, `[FromQuery(Name = "date")]DateTime dts` or even just `DateTime date`:

[code]

At runtime the program still binds correctly using the following web call:
`https://localhost:44396/api/v1/

[2019-01-23 11:09] SteveSandersonMS commented on #4362
@Ethan0007 [VueCliMiddleware](https://www.nuget.org/packages/VueCliMiddleware) is a 3rd-party library, so I'd recommend following up with the developer of that library if there's an issue with it. If you have reason to believe there's a bug in ASP.NET Core itself, could you provide more details about what part of ASP.NET Core you think has a bug, ideally with a repro case?

I'll close this as exte

[2019-01-23 11:09] #4362 closed

[2019-01-23 11:57] leastprivilege opened #6946 "ITicketStore from DI"
Wouldn't it make sense to resolve the ITicketStore for the cookie handler from DI in the future?

[2019-01-23 11:58] leastprivilege opened #6947 "DataProtection storage from DI"
Wouldn't it make sense to resolve the storage provider for data protection keys from DI in the future?

[2019-01-23 12:01] jftsaraiva commented on #6799
I have a very similar issue.

In my case it works fine with IIS 8, 9, ... but doesn't work with IIS 7.5 and one specific SSL certificate.

That SSL certificate has a subject with an accented character:

![image](https://user-images.githubusercontent.com/2278476/51603855-e5f5d600-1f02-11e9-86aa-e78fe48fe667.png)

When URL Rewrite rewrites to http://localhost... in the log generated by `Failed Reque

[2019-01-23 12:16] #6926 closed

[2019-01-23 12:19] JorgenLindell opened #6948 "Make Update-Database able to update any database"
I am working in an environment where I have multiple versions of the database in parallell, i.e Development, Migration and Production.

I have a problem when I have made changes via migrations in my Development database and is going to deploy to my Mig and Prod environments, as there doesn't seem to be any simple way through "update-database" to point it to any other database than my development o

[2019-01-23 13:53] marvel420 commented on #6930
it might be related but seems like there has been no suggestion as far as where to start to look into.  As far as we know it seems to be related to network based settings per client but that is just a wild guess.  Would appreciate any insight into any other thing to look into.

[2019-01-23 14:07] LindaLawton commented on #6613
It would be nice if it would at least warn of duplicate emails or UserNames not equal to email.     Someone sets this by mistake and they are going to be pulling out their hair before they figure out the issue.

[2019-01-23 14:12] PinpointTownes commented on #6946
FYI, it's been discussed here: https://github.com/aspnet/Security/pull/1719.

[2019-01-23 14:43] Nagalakshmiii commented on #6575
We do face the same error, failed to find a solution for that. Could anyone suggest why that occurs and anything can be done in the code to resolve that?

[2019-01-23 14:57] Nagalakshhmi commented on #6575
We are facing the same issue and failed in trials to find out a solution. Some one is saying that this is an expected error and some one is saying that this is a kestrel issue and it is resolved.

But still we are facing it. Could you please suggest to resolve it in the code part?

Thanks in advance!!

[2019-01-23 16:18] HelloKitty opened #6949 "Generic Methods on SignalR Hubs Cause Poorly Worded Exceptions"
### Describe the bug

When a SignalR hub contains generic public method members it will fail on SignalR registration. This itself is alright but the resulting exception is nonsense. It does not indicate the actual problem which leads to a goose chase for some people I'd imagine.

### To Reproduce

Register a SignalR hub with a generic public method.

### Expected behavior

A better exception messa

[2019-01-23 17:02] RSuter commented on #6906
It would make sense to add this so that the model binder acts on it and the spec generators can read it via api explorer

[2019-01-23 17:03] RSuter commented on #6906
At the moment I think you have to customize the model binder and implement a custom nswag operation processor which correctly transforms the parameters...

[2019-01-23 17:06] mkArtakMSFT commented on #2647
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-01-23 17:06] #2647 closed

[2019-01-23 17:13] divinebovine opened #6951 "WSL case sensitivity not executing Global.asax.cs"
### Describe the bug
When a repository is cloned via Windows Subsystem for Linux, and run through Visual Studio, code within the Global.asax.cs is not executed. Renaming the Global.asax, Global.asax.cs to global.asax, global.asax.cs respectively will work around this issue.

When a repository is cloned via gitbash, the code in the Global.asax.cs is executed as expected.

This [repository ](https:/

[2019-01-23 17:26] pranavkm commented on #6906
You're right about the multi-value parameters, I missed that section of the spec. I've added it to our Swagger improvement tracking issue - https://github.com/aspnet/AspNetCore/issues/4854.

@Tratcher does AspNetCore support using commas as separator in query string?

[2019-01-23 17:40] mkArtakMSFT commented on #5196
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-01-23 17:40] mkArtakMSFT commented on #5196
@ryanbrandenburg, can you please have a look at this when there'll be a repro? Thanks!

[2019-01-23 17:41] pranavkm commented on #6919
A convention like this should work. Could you give it a try?

[code]

[2019-01-23 17:45] pakrym opened #6953 "[Test failure] RendererTest.CanRenderAsyncComponentsWithMultipleAsyncChildren"
https://dev.azure.com/dnceng/public/_build/results?buildId=78506

[code]

/cc @SteveSandersonMS

[2019-01-23 17:45] mkArtakMSFT commented on #5197
Thanks for contacting us, @tachyon77.
@ryanbrandenburg, can you please look into this? Thanks!
Ping @SteveSandersonMS, in case you know what's going on here.

[2019-01-23 17:46] mkArtakMSFT commented on #5197
Seems related: https://github.com/aspnet/AspNetCore/issues/5196

[2019-01-23 17:47] pranavkm commented on #6945
@MattJeanes thanks for the report. There's a very specific class of issues that this analyzer warning is meant to address (the PR has a description of the problem - https://github.com/aspnet/Mvc/issues/7753), but it shouldn't apply to types like `DateTime` which do get bound like so. This is clearly a bug. Suppressing the analyzer warning would be the way to go here until we address the issue.

[2019-01-23 17:52] pranavkm commented on #2271
cc @muratg, do you know if there's any remaining work here?

[2019-01-23 17:53] jkotalik opened #6954 "Add SendFileAsync Pipe fallback"
If the SendFile feature isn't implemented, it falls back to Streams today. We would like this to first fall back to pipes first if present. This isn't much of a problem for HttpSys because it implements the SendFile feature already.

[2019-01-23 18:00] muratg commented on #2271
@davidfowl @halter73 do we need to workaround this for 2.2?

Is there a workaround for the app developers that we can recommend instead?

[2019-01-23 18:11] mkArtakMSFT commented on #5199
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-01-23 18:11] #5199 closed

[2019-01-23 18:14] mkArtakMSFT commented on #5200
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-01-23 18:14] #5200 closed

[2019-01-23 18:15] mkArtakMSFT commented on #5201
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-01-23 18:15] #5201 closed

[2019-01-23 18:16] mkArtakMSFT commented on #5203
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-01-23 18:16] #5203 closed

[2019-01-23 18:19] MattJeanes commented on #6945
Ah alright, thanks!

[2019-01-23 18:22] Tratcher commented on #6906
No, just `&`
https://github.com/aspnet/AspNetCore/blob/ad8975001ae3eb5c63553e321c4069a190952f0b/src/Http/WebUtilities/src/QueryHelpers.cs#L151

[2019-01-23 18:23] divinebovine commented on #6951
I believe this is the cause:
https://github.com/Microsoft/referencesource/blob/master/System.Web/HttpApplicationFactory.cs#L41

[2019-01-23 18:36] pakrym commented on #5204
You can use job objects. We do this for IIS Express tests  (https://github.com/aspnet/AspNetCore/blob/3477daf3c4f530dff80f197e0642cb39a26fb07b/src/Servers/IIS/IntegrationTesting.IIS/src/ProcessTracker.cs)

[2019-01-23 18:47] mkArtakMSFT commented on #5205
Thanks for contacting us, @AdamWillden.
@ryanbrandenburg, sounds reasonable to me. Is there any reason we won't include `.js` by default?

[2019-01-23 18:48] mkArtakMSFT commented on #5138
Thanks for contacting us, @dobrinsky.
@pranavkm thoughts?

[2019-01-23 18:52] mkArtakMSFT commented on #5152
Thanks for contacting us, @Ali-Doustkani.
@pranavkm, can you please look into this? Thanks!

[2019-01-23 19:01] Zenexer commented on #4787
@Eilon, could you reopen this?  The instructions on the Microsoft website [explicitly state](https://aka.ms/sdkimplicitrefs) that the target framework shouldn't be referenced with a PackageReference, and you'll see a warning in the console pointing to https://aka.ms/sdkimplicitrefs if you attempt to add it.  Additionally, NuGet package updates will fail once a new framework is released.

[2019-01-23 19:08] Zenexer commented on #4787
I believe this is caused by issues such as https://github.com/dotnet/core-setup/issues/4350.  The underlying problem is that the correct version of the target framework is unavailable.  This may be caused by a target architecture mismatch, for example.

[2019-01-23 19:16] Mercurial commented on #2303
can we have graphql as a first class middleware for asp core please?

[2019-01-23 19:18] muratg commented on #5114
@bradygaster has some ideas around using Logic Apps to accomplish this.

[2019-01-23 19:31] vertonghenb commented on #2303
You can use https://github.com/JuergenGutsch/graphql-aspnetcore
or ODATA (which is similar) https://blogs.msdn.microsoft.com/odatateam/2018/07/03/asp-net-core-odata-now-available/

[2019-01-23 19:38] Tratcher commented on #6704
@BrennanConroy was investigating this with me last week and had made some progress. Let's get his report.

[2019-01-23 19:42] #6902 closed

[2019-01-23 19:48] muratg commented on #6923
@nikunj231991 There are known limitations with WebSockets and Azure App Service. I recommend using Azure SignalR Service instead for your app.

[2019-01-23 19:51] muratg commented on #6930
403 is Forbidden. Do you possibly have some auth issues?

Also, can you get some logs for us? https://github.com/aspnet/SignalR/wiki/Diagnostics-Guide

[2019-01-23 19:54] muratg commented on #6949
The current error message seems to be
[code]

We can make this better.

[2019-01-23 20:11] mikaelm12 commented on #6922
Adding the ability to to perform arbitrary filters across users, essentially allowing you to do set operations, has been something that has been discussed since the inception of SignalR. Unfortunately this is something that we haven't seen enough of a demonstrated need for considering the amount of work that would be required to implement it.

[2019-01-23 20:20] halter73 commented on #2271
It looks like the workarounds for app developers are either directly referencing the System.ValueType package or upgrading to .NET Framework 4.7.2.

My understanding is that @mthalman-msft is asking for us to update our Microsoft.AspNetCore.SignalR.Protocols.MessagePack package to target net461 in addition to netstandard2.0 so app developers aren't force to use a workaround.

I'm not sure why Sign

[2019-01-23 20:49] pranavkm commented on #5152
Using `FilterCollection.Add` wraps the filter type in an instance of `TypeFilter` which has a default order of 0. There are overloads to `FilterCollection.Add` that let you specify the intended order of the filter:

* https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.filters.filtercollection.add?view=aspnetcore-2.1#Microsoft_AspNetCore_Mvc_Filters_FilterCollection_Add_System_Typ

[2019-01-23 21:02] vertonghenb opened #6956 "Razor Components - Parameter Overloading"
Currently there is no way to overload `[Parameter]`'s in Razor Components. For example if you have an `OnClick` parameter, it has to be an `Action<UIMouseEvent>` or `Func<Task>`. This creates 2 parameters on a `<MyButton/>` component, if you want a async delegate and a sync delegate. Else you'll have to write stuff like
[code]

## The issue
If you look at the Child Component `MyButton` we have 2 p

[2019-01-23 21:22] tuxy42 commented on #6938
Just additional information, npm is correctly installed and executable correctly referenced in path. With same project if I go back to target framework 2.2 everything is ok.

[2019-01-23 21:39] mkArtakMSFT commented on #4935
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-01-23 21:39] #4935 closed

[2019-01-23 21:51] mkArtakMSFT commented on #5207
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-01-23 21:51] #5207 closed

[2019-01-23 22:07] #5152 closed

[2019-01-23 22:19] mkArtakMSFT commented on #5492
@SteveSandersonMS, is there any action from our side here or should this go to the Mono repo?

[2019-01-23 22:20] mkArtakMSFT commented on #4800
@grahamehorner, are you still facing this issue?

[2019-01-23 22:22] mkArtakMSFT commented on #5493
@SteveSandersonMS is there any action pending here?

[2019-01-23 22:23] mkArtakMSFT commented on #5495
Thanks for contacting us, @JimLynn.
@javiercn, can you please look into this? Thanks!

[2019-01-23 22:30] mkArtakMSFT commented on #5497
Thanks for contacting us, @scabana.
@rynowak, can you please look at this? Thanks.

[2019-01-23 22:32] guardrex commented on #5493
@mkArtakMSFT Because I ❤️ this concept so much, I'd like to make a final pitch for it:

If a flat publish directory structure option doesn't become an option, there's no opportunity to host a client-side Blazor (Razor Components) app on the Azure Storage CDN (at the root). `$root` doesn't permit slashes (pseudo folders), and current published output has plenty of folders (e.g., `_bin`, `wasm`, `_f

[2019-01-23 22:42] danroth27 commented on #5498
Hi @rockfordlhotka

We don't have a TFM for mono.wasm. We currently just use .NET Standard to target mono.wasm. So you could build your component library to target both .NET Standard and .NET Core. Is that what you're currently doing?

As for the build failure your seeing, it sounds like that happens because your are using two different builds of the same assembly in the same app. Why would you ne

[2019-01-23 22:45] mkArtakMSFT commented on #5499
This issue was moved to mono/mono#12586

[2019-01-23 22:45] #5499 closed

[2019-01-23 22:46] FritzHajek opened #6962 "IClaimsTransformation not triggerd in asp.net core 2.2 if inprocess is configured"
### Describe the bug
In asp.net core inprocess is the standard configuration using this tag
    <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>
If this is configured, IClaimsTransformation is not invoked. If I remove the tag, everything is working fine.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2
2. Run this code
csproj:
[code]
[code]
3.

[2019-01-23 22:53] rockfordlhotka commented on #5498
At the time I created this issue it was impossible to get all the same behaviors without using compiler directives - hence a different assembly for Blazor from the .NET Standard one on the server.

Subsequently I figured out a way to refactor the code to live within the Blazor limitations, and implemented that code for .NET Standard as well.

As long as the mono-wasm implementation of .NET Standar

[2019-01-23 23:04] Tratcher commented on #4260
Partially unblocked by https://github.com/dotnet/corefx/pull/34485

[2019-01-23 23:06] SteveSandersonMS commented on #5492
For anything that fails specifically due to the linker (i.e., works OK if you use `<BlazorLinkOnBuild>false</BlazorLinkOnBuild>`), then it should be reported to Mono and isn't something we can address in this repo.

[2019-01-23 23:10] javiercn commented on #4137
As @pranavkm mentions. MVC handles the Options request. The CORS support for MVC is separate from the support provided by the middle-ware. You should avoid having both on the pipeline.

[2019-01-23 23:10] #4137 closed

[2019-01-23 23:10] #5206 closed

[2019-01-23 23:12] SteveSandersonMS commented on #5493
It's good feedback, but not something we have plans to handle currently. Realistic apps just aren't going to be a flat list of files, because the moment you bring in 3rd-party JS libraries or nontrivial amounts of static content, it's going to be in a directory hierarchy for certain, and that hierarchy must be reflected in the deployment otherwise it will fail at runtime. We can't somehow rewrite

[2019-01-23 23:12] #5493 closed

[2019-01-23 23:15] javiercn commented on #4966
If you are unit testing the controller, the right approach is to set the modelstate to match your expectations on the test by using AddModelError, and pass a model in whatever state you expect.

If you are trying to validate the model state based on the input, the right approach to follow is to perform an integration test as described in https://docs.microsoft.com/es-es/aspnet/core/test/integratio

[2019-01-23 23:16] #4966 closed

[2019-01-23 23:18] mgubis commented on #6919
Thanks - I tried it out and it works. I came across two problems, which I had to resolve and it would be great if you could confirm, that it is the only way (no other solution (more elegant) exists):

1. CreatePostbackHandlerMethod has to also create CreateParameterModel for parameters of the postback handler. The old code was using CreateParameterModel of the DefaultPageApplicationModelProvider.

[2019-01-23 23:24] joshfree commented on #4260
/cc @ahsonkhan and @steveharter who will have a porting-guide.md (soon) to assist with this

[2019-01-23 23:38] guardrex commented on #5493
Doesn't have to be that way tho in many cases. The obvious problem is file name conflicts. I don't understand how any other problems with 3rd party JS or static assets could be an issue.

I don't have your knowledge and experience with that, so I'll take your word for that. If you say that's a problem, I believe you.

Client-side Blazor (Razor Components) on Azure CDN (at the root) is a gorgeous h

[2019-01-23 23:53] mikaelm12 commented on #6797
Do you have sticky sessions enabled in your cloud provider?

[2019-01-23 23:54] mikaelm12 commented on #6797
That's assuming you have multiple machines. Not having sticky sessions enabled could explain the 404

[2019-01-23 23:54] #4246 closed

[2019-01-23 23:55] danroth27 commented on #5498
Cool, sounds like we can close this one then. Thanks!

[2019-01-23 23:55] #5498 closed

[2019-01-24 00:00] muratg commented on #4260
Adding @BrennanConroy for `Microsoft.AspNetCore.SignalR.Protocols.Json`

[2019-01-24 00:02] natemcmaster opened #6966 "2.x: backport src/Templating to build with ProjectRef"
Backport https://github.com/aspnet/AspNetCore/pull/6935 to 2.1 and 2.2.
Depends on https://github.com/aspnet/AspNetCore-Internal/issues/1341 and https://github.com/aspnet/AspNetCore-Internal/issues/1338.

The primary benefit of backporting this change is to simplify the build. The src/Templating/ subfolder is built as if it were a separate git submodule. This means it builds with is own unique bui

[2019-01-24 00:07] BrennanConroy commented on #4260
`JsonDocument` doesn't help us, we need the serializer and deserializer :)

[2019-01-24 00:37] CBaud opened #6968 "Kestrel support for an asynchronous server certificate selector."
### What is the problem?
The HttpsConnectionAdapterOptions class provides a callback to dynamically select a server certificate that runs synchronously. This fails to accommodate callback implementations that wish to retrieve certificates asynchronously from secure storage (e.g. Azure Key Vault).

### What is the proposed solution?
This can be solved by updating the HttpsConnectionAdapterOptions c

[2019-01-24 00:44] blowdart commented on #6944
An anti-forgery error can be an indicator of an attack on your web site and should, to my mind, be triaged as such, or a data protection configuration error which needs fixing for your site to work properly.

This isn't something that needs fixing I'm afraid.

[2019-01-24 00:44] #6944 closed

[2019-01-24 00:54] BrennanConroy commented on #4260
Also, was there ever a discussion/decision for the netstandard issue?

[2019-01-24 01:25] shirhatti opened #6972 "Suspend loading the application in ANCM until a global event is fired"
Suspend loading of the application (contingent on the presence of some configuration) until a global event is fired.
We plan to use this to allow us to re-build the application while holding the current request.

@jkotalik @pakrym

[2019-01-24 01:34] muratg commented on #4260
@joshfree @ahsonkhan @steveharter?

[2019-01-24 01:41] davidfowl commented on #4260
Yea there’s a source version of the reader and writer for ns2.0

[2019-01-24 01:45] ahsonkhan commented on #4260
https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.Bcl.Json.Sources

[2019-01-24 01:52] txgz999 opened #6973 "[Blazor] Mysterious phenomenon of using Math.Truncate in Blazor"
### Describe the bug
When I use Math.Truncate in the definition of a property used in data binding, a print window pops up

### To Reproduce
Steps to reproduce the behavior:
Create a Blazor project in VS2017, add a page with the following content:

[code]

### Expected behavior
Browse to that page, you would see just content, which is value 1

### Screenshots
![mathtruncate](https://user-images.gi

[2019-01-24 01:57] JamesNK opened #6974 "Kestrel HTTP/2 errors with multiple gRPC connections"
Kestrel starts to error when receiving requests over multiple gRPC connections. 99.9% of requests complete successfully. 0.1% cause an error to be reported in the .NET gRPC client library.

Requests over a single gRPC connection to Kestrel are always successful.
Requests over multiple gRPC connections to the native gRPC server are always successful.

### To Reproduce
1. Get source from https://git

[2019-01-24 04:06] muratg commented on #6845
@anurse I was thinking that we could do dependencies differently. Perhaps not possible, but I thought there could be a way. Multiple people keep hitting this on Windows unfortunately. It's easy to revert but it's definitely a nuisance.

[2019-01-24 04:11] natemcmaster commented on #6845
Does `yarn` have a solution for this?

[2019-01-24 04:34] natemcmaster opened #6975 "Resolve public API that exposes on 'pubternal' API"
I tried enabling the 'pubternal' analyzer on this entire project and found 12 cases of public API which depends on pubternal. What should we do about these?

Options:
* Remove the API (breaking change)
* Suppress the analyzer error
* Rename API to be public (breaking change)

area-mvc: @mkArtakMSFT @JamesNK
[code]

area-servers: @muratg @Tratcher
[code]

area-dataprotection: @muratg @blowdart
[cod

[2019-01-24 04:49] davidfowl commented on #6968
Are you hitting key vault per connection?

[2019-01-24 05:05] muratg commented on #6975
I think for each of these, we'll need to assess if making a breaking change is acceptable.

(Also, a third option, we can consider making pubternal type public.)

[2019-01-24 05:29] CreativeHouseDotOrg opened #6976 "Setting port of .netcore webapp doesn't seem to work right"
I recently began to create a console app that would launch my apis through a process command line. I have 2 apis (1 web api and 1 signalr socket api).

Unfortunately when I try to set the Port of the api in the Program Main Method through the `UseUrls(urls)` things get wonky.

It seems that the webApi server is started and I can reach the page by browsing to the desired location : `https://localho

[2019-01-24 06:45] Tratcher commented on #6975
ConventionBasedStartup should have been pubternal as well. It's not a type anyone is likely to use directly, it could be changed with minimal risk.

[2019-01-24 07:03] asafgo opened #6978 "How to get ASP.NET 2.2 Web Application (Model-View-Controller) template with Identity to have AccountController and ManageController instead of Razor Pages?"
Choosing "Web Application (Model-View-Controller) with Individual User Accounts for ASP.NET Core 2.2 Generates Identity in Razor Pages.
If I choose ASP.NET 2.2 Web Application (Model-View-Controller) template I expect to have AccountController and ManageController and not Razor Pages "Combine" with MVC!
So my question is how do I make new ASP.NET 2.2 with AccountController and ManageController whe

[2019-01-24 07:26] dukhanov opened #6979 "[SignalR JS | Question] Proper webworker detection"
According to the JS code the type of platform which runs client connection is detected by global window object: `const isNode = typeof window === "undefined";`

In case the client is initialized inside of WebWorker (I use `dist/browser/signalr.min.js`) the script execution is failed with an error `Uncaught ReferenceError: window is not defined`

The solution which I made is to add a fake global wi

[2019-01-24 07:44] vchirikov commented on #5669
@rynowak VS 2019 preview 2 has been released. But even https://dotnet.myget.org/F/blazor-dev/vsix/ still contain vs 2017 version only.

[2019-01-24 07:56] stukselbax opened #6980 "Support for SignalR C++ client: "aren't currently supported and may never be"."
### What to do with old C++ clients that used ASP.NET SignalR client?
We have a C++ application which communicates with ASP.NET SignalR server. We are in phase of migrating our server solutions to AspNetCore, and one of issue is that the state of  C++ client isn't clear.

[On docs:](https://docs.microsoft.com/en-us/aspnet/core/signalr/supported-platforms?view=aspnetcore-2.1#unsupported-clients)

[

[2019-01-24 08:00] Danielku15 opened #6981 "Kestrel in LAN + IIS in DMZ via reusable reverse/duplex connections"
### Is your feature request related to a problem? Please describe.
I am trying to expose one or more applications running in the LAN on Kestrel, via an IIS running in the DMZ to the internet without opening any manual firewall holes from the DMZ machine to the LAN machine.
Currently you need to operate Kestrel and IIS on the same machine.

### Describe the solution you'd like
**Basic approach**
It

[2019-01-24 08:12] Themodem opened #6982 "TagHelper only works when edited live"
### Describe the bug
I have some tag helpers

[code]

They only seem to work when the file "_ViewImports.cshtml" is edited once the application is running.

Its difficult to explain so ive made a video of the issue.
[https://youtu.be/wS0By1q_eeU](https://youtu.be/wS0By1q_eeU)

I run the application and refresh it a few times.
Then tab to the editor (Rider. But the same happens with Visual Studio a

[2019-01-24 08:19] LindaLawton opened #6983 "New clone of repo Identity solution wont load in visual studio"
### Describe the bug
Clone this repo

### To Reproduce

Steps to reproduce the behavior:
1. go to AspNetCore\src\Identity
2. open identity.sln
3. see error pop up in visual studio

### Expected behavior

I would expect the solution to load.

### Screenshots

![image](https://user-images.githubusercontent.com/6592543/51664093-dcc74080-1fb8-11e9-80ff-4501a3038bea.png)

### Additional context

Visual

[2019-01-24 08:45] Mercurial commented on #2303
the third party solution are still incomplete and not yet fully documented, I think anyone competent already knows that there are graphql libraries, what we are saying is that make it first class citizen and fully supported/document and with tooling from Microsoft and so all community effort and just be directed towards that instead

[2019-01-24 09:06] milkshakeuk commented on #6741
This is also the same for windows server 2019 with IIS 10.0.17763.1

[2019-01-24 09:06] aropb opened #6984 "Memory Leak!"
Hello all,

I found a memory leak in a simple project (.NET Core 2.2.1, OS Windows 10 Pro 1803, Build 17134.523).
Screenshots and project attached.

The problem is very serious, because the production project takes all the memory and falls.
The size of Heap Generation 2 is constantly growing!

gcserver=off kestrel
![webservertest gcserver off kestrel](https://user-images.githubusercontent.com/2377

[2019-01-24 09:32] LindaLawton commented on #6983
Ok never mind it got it working Note need to grab the submodules.

[code]

[2019-01-24 09:45] tLXvGt commented on #4364
I have the same issue, it started after updating Visual Studio 2017 from I don't know what version (I think something around 15.5.x) to 15.9.2.

I have also noticed that this is not happening on Build (Rebuild Solution), but only on Run Debug or Run without Debug, if that helps.

[2019-01-24 10:09] Stamo-Gochev commented on #6797
I am testing on a setup with a load balancer, but with one machine only in order to isolate the case. Sticky sessions are enabled. Can you reproduce the problem by locally deploying the service?

[2019-01-24 10:51] ankitgupta2k19 commented on #6669
In my project, the AccessDeniedPath redirects to http instead of https. How do I set it to redirect to https.

[2019-01-24 12:02] vnikopol opened #6986 "Kestrel timeots problem with large requests"
Azure VM
ASP.NET Core 2.2
IIS, Kestrel
RequestBody - json, about 10mb

We are getting a problem with Kestrel timeouts when making large requests to a .NET Core API. We use IAuthorizationFilter before controller, after filter we have automatic redirect to AccessDenied page. But if request body is large , we get a 502 error instead 'ForbitResult'. As I understand it, if the request body is not handl

[2019-01-24 13:21] Tratcher commented on #6669
@ankitgupta2k19 that's usually caused by an incorrect proxy configuration. See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer.

[2019-01-24 13:23] Nagalakshhmi opened #6987 "Socket Exception: Connection reset by peer"
In our application, we are using docker container to run the web services.

When I am trying to connect to web services, sometimes I am getting the following error.

**An error occurred while sending the request. Unable to read data from the transport connection: Connection reset by peer.**

**Stack Trace**

Exception: at System.Net.Http.HttpConnection.SendAsyncCore(HttpRequestMessage request, Can

[2019-01-24 13:39] Tratcher commented on #6974
Anything interesting in the server logs?

[2019-01-24 14:13] solojuve1897 commented on #4457
@rr222cy What did you write in your CORS middleware? I haven't been able to solve this issue.

[2019-01-24 14:25] joshfriend opened #6988 "SpaServices can't host multiple apps"
### Is your feature request related to a problem? Please describe.
I am trying to localize an Angular app served by ASP.NET but SpaServices is not capable of hosting more than one SPA at a time.

### Describe the solution you'd like
* Enable SpaServices to serve any number of js packages from a given base path. For example, serve the compiled english app from `/en` and the compiled spanish app fro

[2019-01-24 15:05] EddyP23 commented on #3269
We have recently upgraded to 2.2 and we are still hitting this issue very often.

This is extremely troubling and a real blocker for any production application. How does this not receive much more attention?

[2019-01-24 15:45] CBaud commented on #6968
This proposal would enable the host to retrieve the desired certificate from key vault as often or as little as needed. Accessing key vault for every connection is one end of the spectrum for a service that does not want its certificate(s) to be persisted on the host machine. Accessing key vault only when the certificate is missing or expired is the other end of the spectrum for a service that wou

[2019-01-24 16:12] davidfowl commented on #6968
Why not do it on startup then? Not saying it isn't useful to make this callback async (or add an async version) but I'd like to understand how it would be used. The other pattern for something like this is to trigger an update in the background and replace the old value with the new one once it's ready.

[2019-01-24 16:37] jkotalik commented on #6760
Failure: https://github.com/aspnet/AspNetCore/runs/50871258

[2019-01-24 16:40] DrakeLambert opened #6989 "Dotnet-Watch Restart On Enter Pressed"
### Describe the solution you'd like
I do a lot of razor pages development. When razor runs into a compilation error, dotnet-watch will wait for a file change to restart, but it doesn't watch razor files. I understand that this is desired behavior, but I would like to be able to just press enter to trigger a restart instead of having to restart the watch.

### Describe alternatives you've consider

[2019-01-24 17:13] pakrym commented on #6075
I talked to AppServices folks and this is not how "Always On" works. It's implemented using load balancer sending requests to the app.

[2019-01-24 17:18] pakrym commented on #6975
For `XmlKeyManager.cs` I think we should just suppress the error. We can neither remove `IActivator` argument or make it public.

[2019-01-24 17:20] BrennanConroy commented on #4370
@mikaelm12 Have we manually verified that this works in preview2 now?

[2019-01-24 17:22] SteveSandersonMS opened #6991 "Razor Components: VS 2019 Preview 2 build hangs if trying to build with unsaved changes"
Steps to reproduce the behavior:
1. Install VS2019 Preview 2 and .NET Core SDK 3.0.100-preview-010154
2. Create a Razor Components project
3. In `Index.cshtml`, make any edit, then save change, then build app. Confirm it builds OK.
4. Make any further edit, but *don't* save the change, then build app. Observe the build hangs indefinitely.

[2019-01-24 17:41] vijayrkn commented on #4364
@stijnherreman @tLXvGt - It looks like both of you are running into this issue with source web.config in the project. For this IsWebConfigTransformDisabled property wont help since this is only used at publish time.

Adding @BillHiebert - Is there a scenario where environmentVariables  would get added to the source web.config during Run?

[2019-01-24 17:50] sebastienros commented on #6984
More questions:

- How much load should I send to start seeing this behavior? Is running you sample "auto refresh" page enough?
- Can you try to take a dump at some point, and another one later on, ideally when you think it's running out of memory?

[2019-01-24 17:55] pranavkm commented on #6978
Likely a dup of https://github.com/aspnet/AspNetCore/issues/6978

cc @blowdart

[2019-01-24 17:57] pranavkm commented on #6982
@Themodem do you perhaps have the 3.0 preview SDK installed? Trying to see if you're running in to the same issue as https://github.com/aspnet/AspNetCore/issues/6825

[2019-01-24 17:58] blowdart commented on #6978
A dupe of itself?

You mean https://github.com/aspnet/Scaffolding/issues/864 :)

[2019-01-24 17:58] #6978 closed

[2019-01-24 18:03] mikaelm12 commented on #6980
We currently have the ASP.NET Core SignalR C++ client as  part of our 3.0 milestone https://github.com/aspnet/AspNetCore/issues/5301. 👍

[2019-01-24 18:08] mikaelm12 commented on #4370
I haven't tested this yet. But I verified that the missing packages are now being included in TeamCity in our list of shipping packages

[2019-01-24 18:17] blowdart commented on #6981
nginx is designed for this and there is a version that runs on Windows. Windows has a Reverse Application Proxy as a feature in a server SKU. IIS is not designed for this.

[2019-01-24 18:20] mkArtakMSFT commented on #5492
This issue was moved to mono/mono#12604

[2019-01-24 18:20] #5492 closed

[2019-01-24 18:21] aropb commented on #6984
Hi,

Yes, I open 3 browser tabs and see how memory grows.

How best to make a dump? This is a simple example that shows the strange behavior of the server. Production is certainly a more complex project. There's a large dotMemory dump.

Regards,

Pavel.

From: Sébastien Ros <notifications@github.com>
Sent: Thursday, January 24, 2019 8:51 PM
To: aspnet/AspNetCore <AspNetCore@noreply.github.com>
Cc:

[2019-01-24 18:21] blowdart commented on #6975
Yup, leave data protection as is.

[2019-01-24 18:31] danroth27 commented on #5837
I'm fine with that, but it's really @blowdart's call.

[2019-01-24 18:41] BrennanConroy commented on #6434
Few things:
- Why are you spamming the server with hundreds of connections?
- There are a ton of unrelated issues in your server side logs which make it very difficult to parse what's going on, could you remove all the InfluxDB stuff from the server so there is a clean environment to see the issue in? Or maybe this could be causing the issue.
- Could you show the code you're using for reconnect?

[2019-01-24 18:42] blowdart commented on #5837
I already said a comment would do.

[2019-01-24 18:45] blowdart commented on #5837
Comment should read as

/// .addDefaultUI embeds web pages to support login, logout and other identity functions without having to create pages in your project.
/// For more details see https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity
/// To create pages and code in your project rather than use the library see https://docs.microsoft.com/en-us/aspnet/core/security/authe

[2019-01-24 18:46] rynowak commented on #5669
Yes, we have some enabling features in preview2. Expect to see some new stuff when .NET Core 3.0.0 preview2 (soon). We'll make an announcment when stuff is ready to use.

[2019-01-24 18:49] rynowak commented on #6991
Logged: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/777136 - unfortunately this is not something we control.

[2019-01-24 18:51] rynowak commented on #6973
Wow! This is an amazing bug. Can you file this at https://github.com/mono/mono - this is probably an issue in the underlying runtime.

[2019-01-24 18:54] natemcmaster commented on #4521
Psych! it's not done. It looks like the repo is building against some rando-versions of System.* packages from MyGet. We need to update the eng/Versions.props and eng/Versions.Details.xml files to properly flow dependencies.

[2019-01-24 18:54] rynowak opened #6993 "Consider using Endpoint Name for auth-related URL-things"
Consider adding support via stitching up endpoints to [these things](https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/Cookies/src/CookieAuthenticationOptions.cs#L83-L99) based on endpoint name.

/cc @khellang

[2019-01-24 19:07] bradygaster commented on #6980
Reiterating what @mikaelm12 said - it is our goal to ship this soon. if you need more info let us know, for now i will close this as we've discussed our plans.

[2019-01-24 19:07] #6980 closed

[2019-01-24 19:09] bradygaster commented on #6979
This is something we'd have to try out, as the web worker is something we've not experimented with in this context.

[2019-01-24 19:10] bradygaster commented on #6930
Which browser are you using when you see the longpolling error above?

[2019-01-24 19:12] bradygaster commented on #6898
@mikaelm12 and @muratg would this be ready (or is it already in) for 2.2.3?

[2019-01-24 19:15] bradygaster commented on #6845
@natemcmaster do you think a mitigation possibility could be that we move the TS client out of the mondo repo and begin the process of separating the non-.NET SignalR clients into their own repositories somewhere else? If that would mitigate here, we could start talking about doing it soon.

[2019-01-24 19:17] bradygaster commented on #6797
When we look at your log, we noticed that the payload is **large**. Is this screen shot a good indicator of the size of the payload you're sending on the connections that are intermittently closing?

![image](https://user-images.githubusercontent.com/41929050/51702830-aba33c00-1fc9-11e9-9ee6-24d68d90aa88.png)

[2019-01-24 19:18] ajaybhargavb commented on #6470
There is still some cleanup to be done. Keeping it open till then.

[2019-01-24 19:22] muratg commented on #4370
Let's make sure we test this ASAP as preview2 window is closing pretty quickly.

[2019-01-24 19:24] muratg commented on #6975
OK, @Tratcher @pakrym could you prep the necessary PRs? Thanks!

[2019-01-24 19:25] muratg commented on #6898
@bradygaster To get this in 2.2.3, we'll need a PR with the fix with the label `servicing-consider`. It'll show up in the next shiproom then.

[2019-01-24 19:31] pakrym commented on #6975
@natemcmaster do you have a PR for this? We can push out fixed directly to it.

[2019-01-24 19:34] TheJayMann commented on #5085
This is the conclusion I had come to.  It works well for large projects (as it could be said they need to be structured this way to add necessary separation), but tends to be a bit much for smaller applications, as this would require a minimum of three projects; one for the web application logic, one for the razor views, and one for the domain shared by the web application logic and the razor view

[2019-01-24 19:57] natemcmaster commented on #6845
The same problem would apply in a new repo too. The problem is a combination of the way npm on windows does “File:/” dependencies and a bug in git-for-windows. Moving to a new repo doesn’t solve either of those problems.

[2019-01-24 19:57] HaoK commented on #6857
This also appears to be an issue with ProjectTemplates.Test

[2019-01-24 19:59] Tratcher commented on #6845
@natemcmaster but it does reduce the number of people affected by it, and if you're planning to separate the clients anyways...

[2019-01-24 19:59] BrennanConroy commented on #6845
Moving to a new repo solves the problem of everyone complaining. Only a couple people will hit the issue if we move it, and we can ignore it.

[2019-01-24 20:04] pakrym commented on #6097
This issue was cause by a combination of https://github.com/dotnet/coreclr/issues/21450 and https://github.com/dotnet/roslyn/issues/26567. Closing as external.

[2019-01-24 20:05] blowdart commented on #6903
If we make things public we have to support them. This is not something we have time to design properly and support. So no, I'm afraid this is a not right now.

[2019-01-24 20:05] #6903 closed

[2019-01-24 20:07] pakrym commented on #6097
Reopening, my previous comment applies to @samcic issue only.

[2019-01-24 20:08] JamesNK commented on #6975
[code]

Those are older routing APIs that I'm not familiar with. TreeRouter and TreeRouteBuilder are unlikely to be used by users. TemplateBinder might be used by users. Thoughts @rynowak?

[2019-01-24 20:09] blowdart commented on #5801
We've having a hard time understanding what you want to do here. Is it moving the scaffolding to a different area to the default?

[2019-01-24 20:12] blowdart commented on #5781
Done. At least in this example.

[2019-01-24 20:12] #5781 closed

[2019-01-24 20:15] #5770 closed

[2019-01-24 20:17] blowdart commented on #5769
@haok please look and decide which is easy fit and finish and do them, and we'll discuss the rest once that's done.

[2019-01-24 20:18] blowdart commented on #5768
As we're not planning to do this I'm going to close. Mark if you want to PR go for it and link.

[2019-01-24 20:18] #5768 closed

[2019-01-24 20:19] #5764 closed

[2019-01-24 20:42] #6470 closed

[2019-01-24 20:43] ajaybhargavb commented on #6470
Thanks for helping out with this, @NTaylorMullen!

[2019-01-24 21:00] mwoffenden commented on #5725
Just wondering, has this been implemented?

[2019-01-24 21:05] muratg commented on #6845
IMO, let's not jump to a "new repo" solution just yet. I'd rather have simplified build infra with less repos. Even if it means we can't solve this fully.

[2019-01-24 21:07] pranavkm commented on #6825
@nattthebear thanks for the issue report. The fix for this should most likely be available as part of the 3.0-preview3 release. In the meanwhile, I'd recommend staying on the 2.2 SDK (using a global.json to specify an exact version) until we get a resolution for this.

[2019-01-24 21:08] mikaelm12 commented on #6898
I don't think that that would be critical to get into 2.2.3. It's an error that happens in a failure in the close logic of the Java client. Happy to discuss it more though if people have other opinions.

[2019-01-24 21:12] natelaff commented on #5801
@blowdart I don't quite remember this exact flow, but the problem was I scaffolded identity pages to customize them, but I didn't want them in the /Identity area. When you do this, you have to grab all that identity "sugar" for config. The problem was this filter was not accessible to use, so I had to go into GitHub grab the source for it and duplicate it in my own code. However, it didn't appear

[2019-01-24 21:13] Eternal21 opened #6998 "How can client detect server disconnection faster?"
I'm upgrading a project from SignalR to SignalR Core, and ran into the following issue.  I don't see a way for the .NET client to quickly detect that it has been disconnected from the server.  This happens when the web service recycles its application pool.  It takes 90 seconds for the .NET Core client to detect that, via `HubConnection.Closed` event.

In the original SignalR, this was instantaneo

[2019-01-24 21:15] JoshClose commented on #5200
This is still a feature that I would very much like.

[2019-01-24 21:16] rynowak commented on #5577
This can also be removed once we have this feature: https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.Language/Components/ComponentImportProjectFeature.cs#L50

Currently we generate an `addTagHelper` for our best guess at the project's root namespace. I'm doing the work to separately flow the root namespace, but I can't clean up this part as part of

[2019-01-24 21:19] BrennanConroy commented on #6448
You guys are showing two different issues. If you are seeing an unexpected failure with: `'Error: Server returned an error on close: Internal server error.` then please open a separate issue with details about that.

Lets keep this issue to the lack of `OnConnectedAsync` being called even though the connection was connected.

@Arash-Sabet In https://github.com/aspnet/AspNetCore/issues/6448#issueco

[2019-01-24 21:31] muratg commented on #6984
@aropb could you please answer @sebastienros's first two questions as well?

[2019-01-24 21:32] muratg commented on #6986
How large is the request here?

[2019-01-24 21:33] mkArtakMSFT commented on #6342
Seems related: https://github.com/aspnet/AspNetCore/issues/6938

[2019-01-24 21:39] maxisam opened #6999 "SignalR throwing error after stop"
### Describe the bug
Someone reports this on stackoverflow as well at https://stackoverflow.com/questions/53944572/signalr-core-error-websocket-closed-with-status-code-1006/54355355#54355355.

The whole thing is like
when the client invoke close connection call to server. The sever receives that and return a message to client to close. The client received and call `stop` to close the connection.

[2019-01-24 21:40] BrennanConroy commented on #6792
Concurrent connection limits are very dependent on your machine, setup, and workload so it's hard to say "You can have up to X connections" for anyone specifically unless you test on your setup. We do have an issue tracking getting some general numbers in different environments here https://github.com/aspnet/AspNetCore/issues/5311

As for disconnecting clients, you can call `Context.Abort` inside

[2019-01-24 21:41] muratg commented on #6987
Sorry, not enough information on the bug to help reproduce this issue. Are you able to share on GitHub an app that showcases the problem?

[2019-01-24 21:51] BrennanConroy commented on #6999
There can be a race between the server sending an invocation response and sending a close message. If the close message wins (which you're seeing in your example) then the connection will close with the error you're seeing.

The only issue I can see is that `processIncomingData` keeps processing messages if they're in the same payload as the close message when it should stop if the close message w

[2019-01-24 21:54] JamesNK commented on #6974
Various failures among the successful requests:

[code]

[code]

[code]

[code]

[2019-01-24 22:02] ryanbrandenburg commented on #6342
This is fixed by https://github.com/aspnet/AspNetCore/issues/4206.

[2019-01-24 22:02] #6342 closed

[2019-01-24 22:06] muratg commented on #6962
@FritzHajek Are you using Windows auth?

[2019-01-24 22:08] FritzHajek commented on #6962
@muratg Yes!

[2019-01-24 22:11] muratg commented on #6669
cc @Eilon. We'll need to see if this matches patch bar.

[2019-01-24 22:12] #6621 closed

[2019-01-24 22:18] BrennanConroy commented on #6448
When you see this and the connection is receiving pings, can you send an invocation from the client?

[2019-01-24 22:19] TheCloudlessSky commented on #2882
We've been experiencing this problem for several years in a production application on ASP.NET MVC 5 (though similar anti-forgery mechanism to ASP.NET Core). Our application has a few components that are mini-single-page-applications. So, there's a lot of requests via JavaScript that we do that include anti-forgery protection. We've been able to prevent anti-forgery errors by introducing a couple o

[2019-01-24 22:19] maxisam commented on #6999
@BrennanConroy I see. but why they can be in one payload sometime?

[2019-01-24 22:32] BrennanConroy commented on #6797
I was able to repro the issue with your jsbin.com example. The reason the connection fails is that it takes longer than 5 seconds for your longpolling connection to re-poll and so the server closes the connection. This could be caused by your server being overloaded and taking too long to accept new requests or the internet connection being slow. I reproed it by opening 100 connections in the brow

[2019-01-24 22:34] FritzHajek commented on #6962
@Tratcher: Correct. I upgraded my real project from 2.1 to 2.2. Then to dig into the issue I created a new 2.2 project and experience the same behaviour. Yes you are right, the code shown is for demo only. In my real project, I'm using the ClaimsTransformer to query a webservice for additional claims.

[2019-01-24 22:34] Arash-Sabet commented on #6448
@BrennanConroy Let me get back to you on this later on after having some tests executed. Our setup is a bit different and the server is supposed to send objects back to the client.

[2019-01-24 22:39] HaoK opened #7000 "[Helix] 2 failing kestrel tests"
OSX InMemory.FunctionalTests are failing:

[code]

Ubuntu Interop.FunctionalTest fails:
[code]

[2019-01-24 22:46] ajaybhargavb commented on #5577
We still want to dynamically generate `@using` statements right?

[2019-01-24 22:51] ryanbrandenburg commented on #4321
As part of this we also need to make it easy/possible to run tests locally. That probably means a `runtests[-setup].ps1` script.

[2019-01-24 23:10] Tratcher commented on #6486
Update:

[Microsoft.Owin.Security.Google](https://www.nuget.org/packages/Microsoft.Owin.Security.Google/) 4.0.1 has been published to nuget.org with this fix.

The fix will be available soon in ASP.NET Core 3.0.0-preview2.

The ASP.NET Core 2.1 and 2.2 patches are expected as part of the normal February patch release.

[2019-01-24 23:11] khellang commented on #6968
This would enable the Let's Encrypt scenario as well 👍

[2019-01-24 23:14] maxisam commented on #6999
Actually I just realized that I don't need to send a close message. I can just use the invocation response to trigger that.

[2019-01-24 23:32] HaoK commented on #4003
This issue has already been fixed in the UI code, but looks like its just an issue where the scaffolded code is out of sync (needs to be updated)
 In Logout.cshtml.cs:

[code]

The return Page should be a RedirectToPage():
[code]

See https://github.com/aspnet/AspNetCore/blob/master/src/Identity/UI/src/Areas/Identity/Pages/V3/Account/Logout.cshtml.cs#L60

@ajcvickers @blowdart how do we route this

[2019-01-24 23:42] nattthebear commented on #6825
Thanks for the prompt response and resolution!

[2019-01-24 23:49] HaoK commented on #5766
@ajcvickers @blowdart here's what the current change looks like, basically just copied over the login div and changed the text to register instead of login, I can submit a PR if this is good enough

![image](https://user-images.githubusercontent.com/6537861/51715944-a2c56100-1fef-11e9-8867-a3254874eb0c.png)

[2019-01-25 00:01] JeremyKuhne commented on #4693
@davidfowl I just put up the PR to consume the CoreFX type without changing the parser. I'll port the change on top of that.

[2019-01-25 00:46] Themodem commented on #6982
@pranavkm You are indeed correct.

This is a dupe of that issue. `global.json` is a working work around for now.

Thanks for the assist.

[2019-01-25 00:46] #6982 closed

[2019-01-25 00:49] rynowak commented on #6734
Donezo

[2019-01-25 00:49] #6734 closed

[2019-01-25 01:33] pkapare opened #7006 "Missing symbols package for Microsoft.AspNetCore.App"
### Describe the bug
Missing Microsoft.AspNetCore.App.3.0.0-preview-t000.symbols.nupkg package.

### To Reproduce
Steps to reproduce the behavior:
Build source code using  build.cmd -all  command.

### Expected behavior
artifacts/packages/debug/shipping folder should have Microsoft.AspNetCore.App.3.0.0-preview-t000.nupkg and Microsoft.AspNetCore.App.3.0.0-preview-t000.symbols.nupkg packages post b

[2019-01-25 01:55] anushprabhu opened #7007 "option to get CSC vs GCM mode using Sslstream"
We are currently using TLS 1.2 and logging the cipher suite from SslStream in our service but there is no option to log the mode used.

Is it possible to expose this in SslStream or how we can get this information?

[2019-01-25 01:56] ajcvickers commented on #5766
I defer to @blowdart

[2019-01-25 01:59] ajcvickers commented on #4003
Good question. Is this owned by the tools team? If so, I can bring it up in the sync next Thursday when I intend to talk about the need to improve the scaffolding U.I.

[2019-01-25 02:17] HaoK commented on #4003
i think so, I think its a manual process for them to pick up changes that we make from the UI, so that's why its out of sync

[2019-01-25 02:25] liguobao opened #7008 "the connection was closed because the response was not read by the client at the specified minimum data rate"
We found the dotnet core app  not work sometimes, the request always timeout.

At the same time,the app out many "the connection was closed because the response was not read by the client at the specified minimum data rate" log, like:
[code]

We can not 100% reproduce the error, but it really exist.

we found the issues on [KestrelHttpServer](https://github.com/aspnet/KestrelHttpServer) repo.

[Th

[2019-01-25 02:32] jbomhold3 opened #7009 "Add Tests and Docs: Razor Components Server Routes"
I'm working on porting a project over to Razor Components. However, I have noticed something that could easily be fixed if we had the option to pick the route the Components boot on, on the server.  Would look something like this in a idea world.

app.UseRazorComponents<App.Startup>(o => o.route "/app1");

What my end goal is to be able to boot app1 and app2, ext on the same server. Without having

[2019-01-25 03:10] JipingWang commented on #6669
different issues. #6669 fixing a  clear wrong coding variable name, which always causes 404 for a common condition. @muratg

[2019-01-25 05:15] anurse commented on #6845
Maybe. Worth a shot. The biggest place this is used is in the Functional Tests and they use WebPack. We should probably use a standard version reference instead of a path reference and then use the WebPack config to redirect to the local path.

[2019-01-25 05:45] aropb commented on #6984
Hi,

The server becomes unavailable to clients. The Service must be restarted. On the server 6GB is available, the server is virtual.

Production server:

OS Name:                   Microsoft Windows Server 2012 R2 Standard
OS Version:                6.3.9600 N/A Build 9600
System Manufacturer:       VMware, Inc.
Processor(s):              2 Processor(s) Installed.
                           [01]:

[2019-01-25 05:46] stukselbax commented on #5301
Will this client be compatible with aspnetcore signalr 2.1-2.2 server?

Probably the [SignalR/clients/cpp/README.md](https://github.com/aspnet/AspNetCore/blob/master/src/SignalR/clients/cpp/README.md) and [docs](https://docs.microsoft.com/en-us/aspnet/core/signalr/supported-platforms?view=aspnetcore-3.0#unsupported-clients) should be updated to point out your plans about the C++ client.

[2019-01-25 05:56] aropb commented on #6984
![jetbrains dotmemory 2019-01-25 08 52 54](https://user-images.githubusercontent.com/2377913/51727853-fa5edd80-207e-11e9-94fe-eab8e5532b9a.png)
![jetbrains dotmemory 2019-01-25 08 54 13](https://user-images.githubusercontent.com/2377913/51727851-f9c64700-207e-11e9-907d-c3b8aff39ac3.png)
![jetbrains dotmemory 2019-01-25 08 53 32](https://user-images.githubusercontent.com/2377913/51727852-f9c64700-2

[2019-01-25 06:18] nazirsj opened #7010 "After successful login redirects back to login page"
I updated my visual studio 2017 to the latest 15.9.5.
I have created an out the box asp.net core 2.2 web mvc project with individual user accounts. I set the db up (update-database from package manager console) and ran the site in IIS Express. All good to this point. Registered a user and could sign in.

Deployed the app to IIS - running as an application under the default site and its stuck redir

[2019-01-25 06:43] Nagalakshhmi commented on #6987
@muratg, Thanks for looking at this. We cannot reproduce this issue consistently. We are using docker containers to host web services and we can connect to them.

We are using Kubernetes with the Horizontal Pod Autoscaler feature turned on. So, pods will go up and down based on the usage.

Almost everything works good. But, intermittently we are facing issues like this.

Unfortunately we cannot sh

[2019-01-25 07:06] davidfowl opened #7011 "Authorization broken in Razor Pages"
### Describe the bug
The Authorize attribute no longer works in Razor Pages applications.

### To Reproduce
1. Make a new Razor Pages project with individual auth
2. Add an `[Authorize]` attribute on the Index page
3. Running the application doesn't redirect to the login page.

### Expected behavior
The page should redirect to the Login page.

### Additional context
This is using build `3.0.0-prev

[2019-01-25 07:07] vnikopol commented on #6986
About 10mb json, but user doesn't have good Internet.

[2019-01-25 07:11] jaydeept opened #7012 "Is it possible to customize the result file generated by dotnet vstest?"
I am using .Net Core 2.2 where to execute the test cases through command line, I am using `dotnet vstest` and generating output file in `XML` format, However I really didn't like the generated XML file, it's bit complex to understand and parse.
Is it possible to customize the generated result file?
I really liked the **NUnit Console** generated result file for .Net Framework but that doesn't suppo

[2019-01-25 07:45] coroiu commented on #3106
Well if sending credentials from any origin is dangerous, then we should at least be able to turn them off. But in the javascript SignalR client, credentials are hardcoded to true in [XhrHttpClient.ts](https://github.com/aspnet/AspNetCore/blob/321327f84b2b22dcff2e9beb06a9a64236c5cced/src/SignalR/clients/ts/signalr/src/XhrHttpClient.ts#L34). Am I missing some sort of workaround? I don't know the or

[2019-01-25 07:46] javiercn commented on #2882
@TheCloudlessSky The analysis you made is very accurate and have lots of good points. As you point out, there are some failures produced by antiforgery that are systemic due to the limitaitons of the technology.

I would only suggest that you don't tie the antiforgery token cookie to any date and instead leave it as session as it's meant to be deleted when the user closes the browser.

[2019-01-25 08:32] Eilon commented on #7010
@nazirsj can you share more info about the project? Can you point us at the repo so that we can take a look? And maybe you can share a network trace of the redirects as well (e.g. using Fiddler)?

[2019-01-25 08:34] Eilon commented on #7012
This issue was moved to Microsoft/testfx#556

[2019-01-25 08:34] #7012 closed

[2019-01-25 08:35] Eilon commented on #7007
@Tratcher / @blowdart - any idea on this? Is this an ASP.NET Core issue?

[2019-01-25 08:43] Eilon commented on #3393
Closing because this is ancient.

[2019-01-25 08:43] #3393 closed

[2019-01-25 08:47] Eilon opened #7013 "Html Doesn't change on reload"
_From @irpg7 on Thursday, 24 January 2019 08:57:24_

Hello,
With the .net core 3.0 preview which was released as first preview following daily builds also having this problem as i tried. When i am doing somechanges on cshtml files it was working fine and after i reload the page changes i was able to get on my running website when i was using .net core 2 version. but with the 3.0 prew. this feature

[2019-01-25 08:47] Eilon commented on #7013
_From @karelz on Thursday, 24 January 2019 16:21:17_

@muratg can you please help route the report?

[2019-01-25 08:47] Eilon commented on #7013
_From @muratg on Thursday, 24 January 2019 18:50:44_

@mkArtakMSFT @rynowak  Could you guys take a look

[2019-01-25 08:57] wstaelens opened #7014 "Installing SDK 2.2.1 but no way to update SDK Dependencies from 2.2.0 to 2.2.1"
I have SDK 2.2.0, and installed SDK 2.2.103

Now I expected to see or find a way to update the SDK dependencies from version 2.2.0 to 2.2.1, but can't find a way to make this happen.

bug?

![image](https://user-images.githubusercontent.com/7447285/51735360-896ff380-2087-11e9-973a-afbcfa5016ad.png)

[2019-01-25 09:22] wstaelens commented on #7014
I have to manually edit the csproj file to change this:

`    <PackageReference Include="Microsoft.AspNetCore.App" />`

to

`    <PackageReference Include="Microsoft.AspNetCore.App" Version="2.2.1" />`

[2019-01-25 09:55] Danielku15 commented on #6981
Even though it is likely possible, an additional proprietary/paid software might not be a good solution for most of the people. We are developing software that is shipped to customers for installation on their own environments. We're in a bad position "against" customers to say they need to buy and manually setup an additional nginx for their installation of our software.

Haven't heard of this, b

[2019-01-25 10:24] Muchiachio opened #7015 "Property marked as [Editable(false)] not being bound in controller"
Currently if you add `[Editable(false)]` on a posted property, model binder [sets that property as readonly in binding context](https://github.com/aspnet/AspNetCore/blob/v2.2.1/src/Mvc/src/Microsoft.AspNetCore.Mvc.DataAnnotations/Internal/DataAnnotationsMetadataProvider.cs#L50-L54), resulting in that property not being [bound on post](https://github.com/aspnet/AspNetCore/blob/v2.2.1/src/Mvc/src/Mi

[2019-01-25 12:08] omuleanu opened #7016 "get controller and action name from RewriteContext or HttpContext"
I'm trying to create a redirect for canonical urls, so that requests for
/Contr1/action1
/contr1
will redirect to
/Contr1/Action1
/Contr1
and for now I've created this rule:
[code]
but I can't find how to get the controller and action name

[2019-01-25 13:04] masterjs commented on #7014
@wstaelens this is no longer a recommended approach to set the version to the `Microsoft.AspNetCore.App`. On my side, I control everything using the global.json. This is the one enforcing the proper SDK.
Hope this helps!
JS

[2019-01-25 13:11] wstaelens commented on #7014
@masterjs I cannot find a "global.json" in my solution or folder?

[2019-01-25 13:16] masterjs commented on #7014
@wstaelens you should read up on it a little bit, its very useful. (https://docs.microsoft.com/en-us/dotnet/core/tools/global-json)
Its not there by default. Add it to the level you desire (I usually put it at the solution level to affect all my aspnetcore projects). It basically enforce that you project will ONLY work with a specific version. Mine has for instance the following:
`
{
  "sdk": { "v

[2019-01-25 13:31] Looooooka commented on #4389
Same problem here. Luckily I came upon this thread and stopped worrying so much.
Debugging straight from net core(commandName: "project") it doesn't work even after adding any possible combination of urls in the WithOrigins command.
Debugging from IIS(commandName: "IIS")...it works as before.

[2019-01-25 13:32] wstaelens commented on #7014
ok I can follow, but when not using a global.json. How can I ensure the latest version of Microsoft.AspNetCore.App is used from the latest installed SDK?

Like in my case I had SDK 2.2.0, downloaded and installed SDK 2.2.1 but the Microsoft.AspNetCore.App stayed at 2.2.0. Only thing I could do is add a specific version.

Without adding a global.json, is this a bug or is there another solution to n

[2019-01-25 13:42] ilatypov commented on #4647
It's sad that the Microsoft-blames-Safari issue has no link to a test.  Just trying to reverse analyze the issue from the text "security advisory" makes me think that either the failures in authentication may occur due to different reasons:

- the browser cached the original `GET /resource` request and therefore entered a loop (I see a work-around by Nicolás Sabena of Auth0 in Safari's bug's [comm

[2019-01-25 13:47] masterjs commented on #7014
Open a dev command line and run `dotnet --info` . This will tell you the current version of the you're using for real. If you dont have a `global.json`, your project will usually use the latest SDK version installed on your machine for the 2.2.x version.

[2019-01-25 13:53] SolidSoft-Lda opened #7019 "In-Process support for multiple applications on the same application pool"
I finally be able to convert, compile and run my ASP.NET WebApi (.NET 4.7) to ASP.NET Core WebApi (.NET Core) and run both version exactly with the same performance thanks to In-Process finally added on the latest .NET Core 2.2,

However as soon I add a second application to the application pool, I got the following error:
HTTP Error 500.0 – ANCM In-Process Handler Load Failure

I know by now that

[2019-01-25 13:53] masterjs commented on #7014
@wstaelens I also just found this documentation on the MS site that exactly explain how its is "implicitly" getting the right version: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage-app?view=aspnetcore-2.2

this should answer all your questions!
JS

[2019-01-25 14:01] wstaelens commented on #7014
@masterjs thanks for the info.

... so after installing the latest SDK, I would expected that version 2.2.1 of the Microsoft.AspNetCore.App package would be used (by looking at the SDK Dependencies in the Solution Explorer) if I read that last link. This was not the case. Version 2.2.0 was still being used after installing 2.2.1 and restarting Visual Studio. That is why I've unloaded my project an

[2019-01-25 14:12] Arash-Sabet opened #7020 "Type 7 error message was seen when signalR client was connected to the hub in the presence of Azure SignalR Service"
### Describe the bug
When the connection between the signalR client application and the server is established, we saw the following client logs in the network tab of Chrome browser:

### To Reproduce
Steps to reproduce the behavior:
1. SignalR Server using ASP.NET Core 2.2.
2. Leverage the paid tier of Azure SignalR Services in the signalR server code.
3. Implement an angular signalR client app to

[2019-01-25 14:18] Suchiman opened #7021 "InProcess: Sporadic 502 Bad Gateway responses to OPTION requests"
### Describe the bug
We're hosting an .NET Core framework-dependent ASP.NET Core 2.2 on App Services in Azure Germany with AspNetCoreModuleV2 as InProcess (which got recently enabled there). Sporadically we now notice that even in very low traffic situations, OPTION requests (from CORS) fail with 502 Bad Gateway. We did a load test of OPTION and POST requests to the same endpoint and while the OPT

[2019-01-25 14:19] txgz999 commented on #6973
Thanks a lot, Ryan, for verifying the issue. I agree to your speculation. Regarding your suggestion, I am not sure if i have enough knowledge to explain the issue well. If you want, please go ahead to create a ticket there.

    On Thursday, January 24, 2019, 1:52:20 PM EST, Ryan Nowak <notifications@github.com> wrote:

Wow! This is an amazing bug. Can you file this at https://github.com/mono/mono

[2019-01-25 14:45] blowdart commented on #7007
No, it's an SslStream issue. So .NET Core.

[2019-01-25 14:47] blowdart commented on #5766
That's good enough

[2019-01-25 14:48] jmprieur commented on #6019
@fileman
To request a token for B2C, you need to use MSAL.NET as described in https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapp/blob/5a500ab294717395afe467672149b4bf23da82d0/WebApp-OpenIDConnect-DotNet/Controllers/HomeController.cs#L44-L57

We have plan to simplify the developer experience. We are currently working on the Azure AD aspect (See [this sample](https://github.com/

[2019-01-25 16:03] Tratcher commented on #6069
@lostllama see https://github.com/aspnet/AspNetCore/issues/6486.

It's unclear what they meant by "intermittent failures", but in the worst case there are workarounds included in that link as well.

[2019-01-25 16:17] nethereum-ci opened #7022 "[Blazor] UriHelper.NavigateTo with Parameters from a layout, requires the current page to have the same parameter"
### Describe the bug
Attempting to trigger a navigation from the Layout Page using the UriHelper.NavigateTo containing parameters will cause an error if the current page does not contain a Parameter name the same one as the navigated to.

### To Reproduce
Steps to reproduce the behavior:
1. Using Blazor latest nuget (release and preview)
2. On the layout page, put a text box and button to trigger

[2019-01-25 16:17] #5149 closed

[2019-01-25 16:18] nethereum-ci commented on #7022
Closing, wrong user.

[2019-01-25 16:18] #7022 closed

[2019-01-25 16:18] juanfranblanco opened #7023 "[Blazor] UriHelper.NavigateTo with Parameters from a layout, requires the current page to have the same parameter"
### Describe the bug
Attempting to trigger a navigation from the Layout Page using the UriHelper.NavigateTo containing parameters will cause an error if the current page does not contain a Parameter name the same one as the navigated to.

### To Reproduce
Steps to reproduce the behavior:
1. Using Blazor latest nuget (release and preview)
2. On the layout page, put a text box and button to trigger

[2019-01-25 16:22] muratg commented on #6987
@Nagalakshhmi Looks like your server stops responding when this happens. You'll need to debug and test further to find out. Could be bad app code, could be bad config, could be bad autoscaler setup or any number of things. Good luck.

[2019-01-25 16:23] bgiftge commented on #6075
I am seeing this error also localhost. Is it possibly related to the IIS Application Pool setting `AlwaysRunning"`?

[2019-01-25 16:23] #6509 closed

[2019-01-25 16:24] pakrym commented on #6075
@bgiftge possibly, which variation of the error do you see? InitializeRemoteEndpoint or GetOriginalPath ?

[2019-01-25 16:39] Suchiman commented on #7021
@jkotalik yes this is Azure App Service (see first sentence).
I'm using a Framework dependent deployment so i have to check on Azure App Service, right?

`dotnet --info` on Kudu gives
[code]
which means they haven't patched to 2.2.1 yet it seems.

[2019-01-25 16:46] bgiftge commented on #6075
hmm.. maybe I spoke too early. I was convinced that I saw the GetOriginalPath error a couple of times, but I am not finding it in my logs.

[2019-01-25 16:49] muratg commented on #6986
@Tratcher @halter73 Is there a setting to increase in this case?

[2019-01-25 16:51] jkotalik commented on #7021
Try to do a standalone deployment with the ASP.NET 2.2.1: https://dotnet.microsoft.com/download/dotnet-core/2.2. That should resolve your issue.

[2019-01-25 16:55] BrennanConroy commented on #5301
Yes this will be compatible with AspNetCore SignalR

[2019-01-25 16:58] bgiftge commented on #6075
in case this helps, here some of our server logs. The error appears to happen before the first request:
[code]

[2019-01-25 17:03] pranavkm commented on #3106
Sending credentials from arbitrary origins is the source of the vulnerability. Limiting it to a well-known list of origins should work. I haven't gotten around to diving in to this further, but I don't have a recommendation for allowing credentials from arbitrary origins as yet.

[2019-01-25 17:16] BrennanConroy commented on #6998
I assume you're using LongPolling because 90 seconds is how long each poll takes. If you use WebSockets or SSE then the client will timeout in a more reasonable time ~30 seconds. If you want it to be faster you can change the keep alive and timeout values, see https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-2.1#configure-timeout-and-keep-alive-options

[2019-01-25 17:18] Suchiman commented on #7021
@jkotalik indeed, that does fix it, thank you

[2019-01-25 17:18] #7021 closed

[2019-01-25 17:20] Suchiman commented on #7021
@jkotalik just out of curiosity:

That was my thought exactly, is there any reason why this still happened?

[2019-01-25 17:31] jkotalik commented on #7021
Azure web apps runs a load balancer in front of your application (see https://www.iis.net/downloads/microsoft/application-request-routing), so all failed requests to your app on Azure will result in 502s.

[2019-01-25 17:31] pakrym opened #7025 "Allow IIS tests to run with pre-published test assets"

[2019-01-25 17:32] danroth27 commented on #4048
Some thoughts from the community here: https://brockallen.com/2019/01/11/using-oauth-and-oidc-with-blazor/

[2019-01-25 17:34] jkotalik commented on #6846
Same failure: https://dev.azure.com/dnceng/public/_build/results?buildId=79852.

[2019-01-25 17:39] khellang commented on #6993
Are you saying you'd like to configure the endpoint name as opposed to the path?

I'd like to take it even further and find the correct route based on some metadata, if that's possible.

[2019-01-25 18:06] HaoK opened #7026 "Remove obsolete UseIdentity/Auth/Google APIs"
Was obsoleted as part of the 2.0 auth changes

[2019-01-25 18:10] pakrym commented on #3950
There are tests skipped that reference this issue.

[2019-01-25 18:35] mkArtakMSFT commented on #7013
Thanks for contacting us, @irpg7.
This is because in 3.0 -preview1 we've removed the runtime compilation. You can read more details about it here https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-2.2
We plan to bring back the runtime-compilation as part of https://github.com/aspnet/AspNetCore/issues/4947

[2019-01-25 18:35] #7013 closed

[2019-01-25 18:50] benaadams opened #7029 "AspNetCoreModule should constrain its JobObject's memory to IIS settings"
i.e. Private Memory Limit so the GC can operate within those constraints

![image](https://user-images.githubusercontent.com/1142958/51766279-1049be00-20d2-11e9-9052-768ef76b39ab.png)

[2019-01-25 18:54] mkArtakMSFT commented on #7009
Thanks for your suggestion, @jbomhold3.
@danroth27 any thoughts?

[2019-01-25 18:58] rynowak commented on #7011
I think the right fix for this is that we need to introduce the concept of a *dynamic* endpoint. This would allow you to run code to replace the `Endpoint` in between the DFA phase and the `EndpointSelectorPolicy` phase.

This is also really useful for some of the other scenarios that have blocked users from using endpoint routing when they had a custom `IRouter`.

The Razor pages infrastructure w

[2019-01-25 18:58] rynowak commented on #7011
I've written about this idea before here: https://github.com/aspnet/AspNetCore/issues/4221 and I think it would solve many of this class of problems.

[2019-01-25 19:32] mkArtakMSFT commented on #6953
@javiercn, can you please look into this? Thanks!

[2019-01-25 19:33] rynowak commented on #7011
Yes absolutely.

[2019-01-25 19:40] pranavkm commented on #6919
That's true. @rynowak what do you think about having a factory method for application model pieces? e.g. `var parameterModel = PageParameterModel.CreateDefault(...);`?

Your code looks fine. There's some syntactical sugar for Options which might work too:

[code]

[2019-01-25 19:56] k-vekos commented on #5139
Having similar issues but with `Microsoft.AspNetCore.SpaServices.AngularCli`, when I try to view my app in a browser no response goes out and the browser request times out. Then _one time_ I was able to see this error message:

`20    14:35:05.107 Microsoft.AspNetC E:         An unhandled exception has occurred while executing the request. System.Net.Http.HttpRequestException: Failed to proxy the

[2019-01-25 19:57] bunceg opened #7030 "AddJwtBearer not configured properly when using custom DI causing socket IO errors"
On request of @Tratcher copied from https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1078

For .net core 2.1.x and 2.2.x

When using the AddJwtBearer extension with custom DI such as Unity, the "options" lambda is called on every request instead of just startup.. According to @Tratcher this is not the expected behaviour. Eventually, in my web app, this ca

[2019-01-25 20:04] omuleanu commented on #7016
seems that you can't get action and controller name in a rewrite rule, so I ended up using an Auth Filter:

[code]

[2019-01-25 20:04] Tratcher commented on #6986
See [MinRequestBodyDataRate](https://github.com/aspnet/AspNetCore/blob/592f20b84ee0ed02864dc668acb97c1fd5bff3db/src/Servers/Kestrel/Core/src/KestrelServerLimits.cs#L261-L272) on KestrelServerOptions.Limits.  5 seconds is the grace period, not the limit. After that the request must upload at least 240 bytes per second or else the connection will be closed. The size of the body should not matter up

[2019-01-25 20:55] ColinSchmale opened #7032 "Blazor Streaming GetAsync() wants to read whole content"
I want to receive an endless stream from a web api with this code

`HttpClient httpClient = new HttpClient {
    Timeout = TimeSpan.FromMilliseconds(Timeout.Infinite)
};
var request = await httpClient.GetAsync("https://this.is.my.url", HttpCompletionOption.ResponseHeadersRead);
var stream = await request.Content.ReadAsStreamAsync();
var bufferedStream = new BufferedStream(stream);`

and then read

[2019-01-25 21:03] davidfowl commented on #7011
I’m unclear on why a new feature is required but I’ll talk to @rynowak about it later

[2019-01-25 21:15] shapeh commented on #6097
Just an update - I am still waiting for the app pool to crash. IIS has been running fine for 10-11 days now (still counting) - several Windows Updates have been installed in that time-frame.
Will send debug once I have it.

[2019-01-25 21:23] pakrym commented on #6075
This is caused by IIS ApplicationInitialization module that doesn't set pRawUrl on Win2012

[2019-01-25 21:49] martincostello commented on #6075
App Service runs on 2016 these days though, right?

[2019-01-25 21:54] rynowak commented on #7011
Because we do routing without having compiled the pages. MVC later swaps in the compiled AD for the routable one.

[2019-01-25 21:56] rynowak commented on #6919
I would generally really prefer to not expose our guts as an API. I need to know more about the scenario.

[2019-01-25 22:18] Tratcher commented on #6974
`System.IO.IOException: The client reset the request stream.` makes me suspicious that the server did something the client didn't like and was aborted. I'd love to see what the reset code was but doesn't look like we log that. You could try adding a trace log here: https://github.com/aspnet/AspNetCore/blob/c61639b4a452fc5c7bd01435634ca89dfb8c49ec/src/Servers/Kestrel/Core/src/Internal/Http2/Http2Co

[2019-01-25 22:30] Tratcher commented on #7030
@HaoK can you try this? It seems to be an issue with options caching.

[2019-01-25 22:33] #6508 closed

[2019-01-25 22:44] maxisam commented on #6999
nope, but I feel like stop should close the connection without checking if there is any callback left. Or there should be a way to let it wait until all callback is remove and call stop internally.

[2019-01-25 22:49] pakrym commented on #6075
Sorry, I was wrong, this bug was fixed in RS2 update of win 10, AppService is on RS1

[2019-01-25 22:50] kshyju opened #7033 "HttpContext.Request.Browser in asp.net core"
Is there an alternative in the asp . net core world for `HttpContext.Request.Browser` ?  .net framework 4.7.2 [has this](https://docs.microsoft.com/en-us/dotnet/api/system.web.httprequest.browser?view=netframework-4.7.2).

If no plans, to add, would you mind sharing the rationale behind that ? recommended alternate solutions ?

[2019-01-25 22:54] HaoK commented on #7030
Shouldn't someone in the DI area look at this?  Its not going to be something in the options code if it only doesn't work in unity

[2019-01-25 22:58] HaoK commented on #7030
Moving the relevant call stack from the Unity issue to here:
[code]

[2019-01-25 23:00] HaoK commented on #7030
Here's the lifetimes that options registers
[code]

[2019-01-25 23:06] HaoK commented on #7026
We should also remove all the other UseAuth apis, i.e. https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/JwtBearer/src/JwtBearerAppBuilderExtensions.cs

[2019-01-25 23:11] HaoK commented on #7030
For jwtbearer specifically there's also:
[code]

[2019-01-25 23:11] jkotalik opened #7034 "Abort connection instead of flushing committed response data when throwing an Application Exception in Kestrel"
After introducing `HttpResponse.StartAsync()`, if someone does the following:
[code]

This shouldn't write any data to the client. However, today it does because we call PipeWriter.Complete() if we are either Aborting or Disposing the OutputProducer, rather than PipeWriter.Complete(exception).

I tried to do this as part of https://github.com/aspnet/AspNetCore/pull/6967, but it was a much larger c

[2019-01-25 23:13] mgubis commented on #6919
@pranavkm - Thanks for the assistance

@rynowak - I will try to summarize:

1. We need to customize the way the handlers of the page are discovered (we need to discover them by the custom attribute, which is then used in other parts of our in-house framework). All other properties of the handlers should be created in default way (including PageParameterModel).
2. It was no problem to implement 1)

[2019-01-25 23:13] HaoK commented on #7030
If I were to guess what the potential issue would be, it might be something in how generics are resolved that changed since options relies heavily on that

[2019-01-25 23:19] HaoK commented on #7030
In terms of the expected default lifetime behavior, IOptionsMonitor(singleton), gets a transient IOptionsFactory which it hangs onto, and uses to create new options instances as needed (which is only when the IOptionsMonitorCache is a miss).  IOptionsFactory by design will rerun all of the lambdas each time it creates a new options instance.  So for JwtBearer, there's no invalidations by default,

[2019-01-25 23:34] BrennanConroy commented on #6704
I can reproduce this with your app on 2.2 but switching to 2.1 stops it from happening.

This issue https://github.com/dotnet/corefx/issues/31841 looks like the exact same issue, and there are a few changes that went into the WindowsIdentity source between 2.1 and 2.2.

Someone made a workaround https://github.com/Cyberboss/tgstation-server/commit/4d4b6a0606cbde5f26392faa601e6bec0dfc34ec which I c

[2019-01-25 23:37] ajaybhargavb commented on #5577
**Current State:**
All the components are already implemented as tag helpers and is associated with a `TagHelperDescriptor`.
`DefaultRazorTagHelperBinderPhase` filters these `TagHelperDescriptor`s by visiting all the `@addTagHelper` and `@removeTagHelper` in the document and imports and binds accordingly.

**Proposed implementation:**
- Make `DefaultRazorTagHelperBinderPhase` visit `@using` direct

[2019-01-25 23:40] rynowak commented on #5577
What about the *special* things that components have:
- `bind`
- `ref`
- `onclick`

Also there will be a change in the completion provider. The completion provider interacts with tag helpers.

This seems like a good start.

[2019-01-25 23:40] rynowak commented on #5577
/cc @NTaylorMullen

[2019-01-25 23:41] rynowak commented on #5577
/cc @SteveSandersonMS @danroth27 any other comments or concerns?

[2019-01-25 23:53] pranavkm commented on #6919
We use IMMP to produce the `ModelMetadata` enhanced `BindingInfo` for parameters. Making it a service sounds reasonable.

[2019-01-25 23:54] ajaybhargavb commented on #5577
bind
ref
onclick

They are have catch all rules which means we don't need to include any special fully qualified name rules. They will continue to work the same way without any changes,

I assume you mean the `TagHelperCompletionService` and `TagHelperFactsService`. They still call into the same `TagHelperBinder`. That should still continue to work as long as we restrict weird tag helper/component

[2019-01-25 23:56] pranavkm commented on #6919
Updated the title and description for the issue with the suggested API. @mgubis  we'd be happy to accept a PR for this change 👍

[2019-01-26 00:06] pranavkm commented on #5157
@techgeek03 I'm not able to reproduce the issue. Can you share a sample app where the problem reproduces?

[2019-01-26 00:07] pranavkm commented on #7011
@JamesNK assigning to you to fix the issue for preview3.

[2019-01-26 00:19] halter73 commented on #4700
Implemented by https://github.com/aspnet/AspNetCore/pull/4601.

[2019-01-26 00:19] #4700 closed

[2019-01-26 00:39] NTaylorMullen commented on #5577
Given my current context of how components work, nope. As long as the same criteria for associating a `Components` html element => `TagHelperDescriptor` is the same or a subset of the existing system, we can ensure the descriptors we create for `Components` fulfill `Components` tag targeting requirements. At that point we can the filter which `TagHelperDescriptors` are available (by `@using`) for

[2019-01-26 00:43] rynowak commented on #5577
https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.VisualStudio.Editor.Razor/DefaultTagHelperFactsService.cs#L111 (get on my level)

I only know about this because I already started to do this work: https://github.com/aspnet/AspNetCore-Tooling/tree/rynowak/lets-blow-it-up

----

So I think we largely agree on the implementation plan so there's no reason to delay start

[2019-01-26 00:44] rynowak commented on #5577
I'm going to start filling up the top post with experience notes. Just because I wrote it there shouldnt' be taken as gospel, this is just a starting point.

[2019-01-26 01:04] rynowak commented on #5577
@danroth27 @SteveSandersonMS please have a look at the top post

[2019-01-26 01:08] SteveSandersonMS commented on #5577
My main question is about this:

Is the idea that you can *always* bind with the short name, even if you haven't done the necessary `@using` directives to bring it into scope? If so that seems pretty odd; I'd hope to be able to disambiguate between same-named components using namespaces, like you do with C# classes. Without disambiguation, component libraries are going to be hazardous to combine.

[2019-01-26 02:16] Eilon commented on #7033
Hi, the browser caps feature in ASP.NET 4.x was a server-based way of doing client feature detection. This approach is generally frowned upon in the "modern" era, where runtime client-side feature detection is preferred, using techniques such as progressive enhancement. For that reason, in addition to being a huge maintenance cost to keep the list even reasonably up-to-date, the feature was not br

[2019-01-26 02:16] #7033 closed

[2019-01-26 02:18] Eilon commented on #7014
@natemcmaster - any further thoughts on this?

[2019-01-26 02:19] Eilon commented on #7007
This issue was moved to dotnet/core#2254

[2019-01-26 02:19] #7007 closed

[2019-01-26 03:42] rynowak commented on #5577
No. The intention is that this is based on the C# name binding rules. I think the checklist format is making it unclear.

[2019-01-26 04:57] moeinifar commented on #5724
this is for dear Farsi(Persian) speakers

[CustomIdentityErrorDescriber.txt](https://github.com/aspnet/AspNetCore/files/2798619/CustomIdentityErrorDescriber.txt)

[2019-01-26 04:59] moeinifar commented on #5724
this is for dear Farsi(Persian) speakers

namespace WebApplication.Admin.Helpers
{
    public class CustomIdentityErrorDescriber : IdentityErrorDescriber
    {
        public override IdentityError DefaultError() { return new IdentityError { Code = nameof(DefaultError), Description = $"یک خطای ناشناخته رخ داده است." }; }
        public override IdentityError ConcurrencyFailure() { return new Ident

[2019-01-26 05:00] moeinifar commented on #5724
this is for dear Farsi(Persian) speakers

[code]

[2019-01-26 05:06] pakrym commented on #6908
Should be fixed by https://github.com/aspnet/AspNetCore/pull/7004

[2019-01-26 05:06] #6908 closed

[2019-01-26 05:07] pakrym commented on #6846
Should be fixed by https://github.com/aspnet/AspNetCore/pull/7004

[2019-01-26 05:07] pakrym commented on #6615
Should be fixed by https://github.com/aspnet/AspNetCore/pull/7004

[2019-01-26 05:07] #6615 closed

[2019-01-26 05:09] #6111 closed

[2019-01-26 06:42] FiveStar0909 commented on #6565
![screenshot_123](https://user-images.githubusercontent.com/41168694/51783688-76ded400-20f2-11e9-88a6-588338d9c35a.png)

These logs will help you

[2019-01-26 07:09] natemcmaster commented on #7014
...only that this further justifies why we're refactoring this experience in 3.0. cref https://github.com/aspnet/AspNetCore/issues/3612

The previous commenters are correct - you do not need to add the version attribute to the PackageReference. Just installing the latest .NET Core SDK or Runtime installers is enough to get 2.2.1. See https://natemcmaster.com/blog/2018/08/29/netcore-primitives-2/ i

[2019-01-26 07:09] #7014 closed

[2019-01-26 08:14] leastprivilege commented on #6946
I am glad you have the time to search the archives ;)

[2019-01-26 08:16] leastprivilege commented on #4674
You should do this. My general advice is only use certified OIDC servers/clients. It looks bad it's not on the list. From a feature point of view you should be complete.

[2019-01-26 08:59] irpg7 commented on #7013
@mkArtakMSFT when will we able to use it ? as i saw from milestones of #4947 it says preview3 is it true ?

[2019-01-26 10:56] mkArtakMSFT commented on #7013
We are doing our best to have it done in `preview3`. The work has already started, as you can see in the related issue.

[2019-01-26 11:04] mkArtakMSFT commented on #4221
@davidfowl, please share your thoughts after you'll sync up with @rynowak regarding this. We need to lock down on the approach here, to solve #7011 the right way.

[2019-01-26 14:28] yzhoholiev opened #7037 "NullReferenceException at Microsoft.AspNetCore.Http.DefaultHttpContext.set_User"
### Describe the bug
We randomly experience exception System.NullReferenceException  at Microsoft.AspNetCore.Http.DefaultHttpContext.set_User, full stack below.

The service is deployed to the Azure Service Fabric service.
We are using the ApplicationInsights for logging.
We are using several ways to authenticate (tokens, headers etc). For this purpose we are registering our own handlers and using

[2019-01-26 14:36] AndreasAmMueller commented on #6566
Ran into the same bug and helped me out with a custom TagHelper that recognizes the `For.ModelExplorer.ModelType` as decimal or nullable decimal and then modifies the value attribute.
[code]
You also might want to set the "step" attrbute to "any".

For the .NET Core MVC Team:
I found some lines that are part of the bug, but I was not able to solve the wohle problem.

Lines found:
- The type should

[2019-01-26 14:57] travisjs commented on #4564
@davidfowl any status on this; we have this issue too...

[2019-01-26 17:52] captain-keystone opened #7038 "[FromRoute] binding fails in 2.2 (but not 2.1) when parameter name and property name are the same. Additionally, [ApiController] attributes hides MVC1004 warning."
### Describe the bug
Based on aspnet/Mvc#7753 it appears that this type of binding working in 2.1 may have not been intended (as it looks like it would not have worked with other types of complex binding), but 'correcting' it is a very insidious breaking change-  particularly given that the analyzer warning appears to be suppressed when the controller is decorated with the `[ApiController]` attrib

[2019-01-26 18:55] travisjs commented on #4564
@davidfowl

This seams to be cause by the following method being called when an array of IFormFiles has to be parsed by the ModelBinder. It does a loop with an upper range of int.MaxValue

`        // Internal for testing.
        internal async Task<CollectionResult> BindComplexCollectionFromIndexes(ModelBindingContext bindingContext, IEnumerable<string> indexNames)
        {
            bool ind

[2019-01-26 19:14] roboriaan commented on #5479
For those who might be interested in a Blazor starter template that is cached for an offline scenario using 'Service Workers' :
[https://github.com/roboriaan/BlazorServiceWorker](url)

[2019-01-26 19:41] LJ9999 opened #7039 "MVC is too complex to be usable?"
### Is your feature request related to a problem? Please describe.
I am evaluating MVC. The problem appears to be that MVC is convoluted rocket science but I must be missing something. Please explain why anyone would use MVC over ASP.NET webforms and Entity FrameWork's SqlCommand class.

### Describe the solution you'd like
I want to easily join several tables and be able to debug the result. But

[2019-01-26 19:53] mkArtakMSFT commented on #7032
Thanks for contacting us, @ColinSchmale.
@davidfowl, isn't this scenario something Pipe streams are designed for?
/cc @rynowak

[2019-01-26 20:06] mkArtakMSFT commented on #7015
Thanks for contacting us, @Muchiachio.
@pranavkm, can you please look into this? Thanks!

[2019-01-26 21:04] danroth27 commented on #5479
@roboriaan Nice! Have you considered making this template available as a NuGet package so it can be installed and used from the .NET Core CLI?

[2019-01-26 21:31] mikeandersun opened #7040 "Move View method out of controller context."
I would like to have `View `method of the `Controller `move to an separated service .
In the architecture the Controller is just response to the http request ,and it be more consistency that use a Controller as an Api controller or MVC controller.
In an  MVC Controller developer can get the model from any source and get View Template from any source and render those via an external service .

[2019-01-26 21:42] roboriaan commented on #5479
@danroth27 Sure thing. I'll get cracking on it. Keep you guys posted.

[2019-01-26 21:45] danroth27 opened #7041 "Blazor standalone project fails to run"
I installed the Blazor 0.8.0 VSIX (16.0.19075.444) on VS2019 Preview 2. I have the latest .NET Core 3.0 SDK installed (3.0.100-preview-010184).

When I create a new standalone Blazor project I see the following package restore failures:

[code]

Building the template from the command line fails:

[code]

However, surprisingly, VS says building the template succeeded:

![image](https://user-images.

[2019-01-26 21:57] davidfowl commented on #4564
cc @pranavkm

[2019-01-26 22:06] davidfowl commented on #7039
If you're no a fan of ORMs (Object Relation Mappers) like EntityFramework, you can write the SQL by hand using ADO.NET. You can also use a light weight ORM like [Dapper](https://github.com/StackExchange/Dapper) that doesn't generate queries (you get to write them by hand). EntityFramework also has an ExecuteSQL method to give you more control when necessary (https://docs.microsoft.com/en-us/ef/cor

[2019-01-26 22:22] alexeyzimarev commented on #5214
I believe the `ReactDevelopmentServerMiddleware` is a good start. It waits for npm to output `Starting the development server` and for Vue I needed to change it to `Starting development server`. Ideally, it would be `App running at`, otherwise the middleware tries to proxy the first request to the server that hasn't started yet. Everything else is the same.

[2019-01-26 22:36] davidfowl commented on #7039
Also, if MVC looks too complex for simple pages, try out [Razor Pages](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/?view=aspnetcore-2.2)

[2019-01-26 23:50] borland commented on #7039
I highly suggest you follow one of the many MVC tutorials; one cannot expect to understand something as if by magic just from 5 minutes looking at the new project template.

As for the simplicity relative to webforms, might I remind you of the misfortune of viewstate, runat=server and god save us all from the page lifecycle.
Kind regards

[2019-01-27 00:02] rpokrovskij opened #7042 "Conventional area routing doesn't work for web api controllers located in root area folder."
Conventional area routing doesn't work for web api controllers  located in root area folder.

### To Reproduce
ASP.NET Core '2.2'

Add Areas and Areas/MyArea folder (add Pages folder and some razor pages to it)

[code]

Add `MyApiController.cs` to it but without [Area] and [Route] attreibutes, e.g. - we are going to test conventional routing

MyApiController.cs content:
[code]

configure conventio