[2019-05-15 23:48] anurse commented on #8660
@JamesNK does your PR satisfy this need? Are we ready to close this?

[2019-05-16 00:05] gliljas commented on #10055
I understand that it's not something that will be fixed tomorrow, but it's certainly something that should be discussed. If not here, where?

[2019-05-16 00:10] JamesNK commented on #8660
My PR satisfies my need to have StartAsync work correctly.

TestServer still needs to be refactored to use pipes.

[2019-05-16 00:31] anurse commented on #8660
Ok, we'll keep this around. There may be capacity later when the unknown unknowns become known knowns.

[2019-05-16 01:04] blowdart commented on #10281
Are you sure you need to logout of OIDC?

`await context.HttpContext.SignOutAsync("cookie");` makes sense, because the cookie is what contains the saved identity. However asking the OIDC server to signout really needs more interactivity than you have at this point. Normally when logging out it'd from your app, not from the OIDC server as well.

[2019-05-16 01:26] kevinlo commented on #10281
@blowdart If I don't logout from the OIDC server, the challenge will redirect to the OIDC server and sign in back to the App.  That's not what I want.  If the user close the tab and leave the session idle time out, it should logout completely.

[2019-05-16 01:46] blowdart commented on #10281
I'm not sure you can do it from here unfortunately.

@Tratcher any ideas?

[2019-05-16 01:53] clement911 commented on #4707
We finally found a fix!
As we had suspected, it had to do with the thread pool not ramping up threads quickly enough.
We added the following two lines and this fixed the problem entirely and immediately:

[code]

The thread pool ramp up algorithm is very conservative, and so are the default minimum threads.
I'm not actually sure if we needed to ramp up the worker threads. Possibly the io threads w

[2019-05-16 02:23] zirain commented on #10199
@Tratcher thanks!

[2019-05-16 02:23] #10199 closed

[2019-05-16 04:35] davidfowl commented on #9904
I’m going to do a prototype for this, no timeline yet but we discussed a strawman

[2019-05-16 05:45] davidfowl commented on #4707
cc @stephentoub @kouvel

[2019-05-16 06:22] vankampenp commented on #4707
This is an excellent article describing what is causing this and why interesting the minimum should only be a stopgap measure
https://blogs.msdn.microsoft.com/vancem/2018/10/16/diagnosing-net-core-threadpool-starvation-with-perfview-why-my-service-is-not-saturating-all-cores-or-seems-to-stall/

[2019-05-16 06:27] itcancle opened #10284 "EPERM: operation not permitted, mkdir 'C:\Windows\system32\config\systemprofile\AppData\Roaming\npm'"
### Describe the bug
Angular SPA project, when I add environment variables in web.config report an error. when I remove environment variables is ok.

### To Reproduce

1. dotnet new angular -n test-angular
1. cd test-angular
1. dotnet run
1. dotnet publish -c Release
1. edit `web.config`,add environment variables
1. cd publish dir
1. dotnet run
---------------------------------------------

[code]

[2019-05-16 06:33] kevinlo commented on #10281
One correction, I get the infinite loop only when I call the context.HttpContext.SignOutAsync("oidc") synchronously.  It does not happen when it is called async as I think because the HandleAuthenticateOnceAsync works.

However, it occurs a few times that the signout does not work and the app automatically signin because I think it has racing condition between the challenge and oidc signout.   If

[2019-05-16 06:47] clement911 commented on #4707
Yes thank you, I had read that one and it is indeed a great article.
It says that increasing the minimum of threads is a stopgap measure **if the thread starvation is caused by blocking calls**.
But in our case, we don't ever block. We only use async IO APIs.
So, as far as I can tell, the only way to handle sudden burst is to increase the minimum of threads.
We have now scaled down to a cheaper az

[2019-05-16 07:25] jm6041 opened #10285 "Base32.ToBase32 function, it always ends with "A", not "=""
Base32.ToBase32 function, it always ends with "A", not "=".

Right Code:
switch (input.Length - offset)
            {
                case 1: retVal = 2; break;
                case 2: retVal = 4; break;
                case 3: retVal = 5; break;
                case 4: retVal = 7; break;
                default: retVal = 8; break;
            }

[2019-05-16 07:46] #10285 closed

[2019-05-16 07:50] lonix1 commented on #10260
I realise they are separate concepts - but my point is that in many systems they are the same concept, so it would be nice to have support.

Doing this directly in EF with change tokens, authentication, authorization, and all that machinery is a pain.

Anyways, thanks for your reply, and I hope you'll reconsider if enough devs ask for this.

[2019-05-16 08:24] PrefabPanda commented on #10200
@sebastienros - I originally was trying preview 5, but was getting an error when it attempted to start debugging. It looks like the default images VS2019 wants to use aren't preview 5 compatible:

mcr.microsoft.com/dotnet/core/aspnet:3.0-stretch-slim
mcr.microsoft.com/dotnet/core/sdk:3.0-stretch

(they give me an error saying they can only find preview 4).

So I dropped -stretch-slim and -stretch

[2019-05-16 08:37] simonziegler opened #10286 "Azure Dev Spaces debugging exception"
### Describe the bug
After starting VS 2019 with an ASP.NET Core 3.0 (must be Core 3.0) project, the first time you debug a project on Azure Dev Spaces, everything is fine. Then stop the debug session and debug again. You now get this:

![image](https://user-images.githubusercontent.com/11708435/57839021-c1797e80-77bd-11e9-85df-5377316be3f3.png)

### To Reproduce
Steps to reproduce the behavior:
1

[2019-05-16 08:57] javiercn commented on #9810
So good to close? We already did the cert update, so clean machines are good and 2.2 machines will get automatically fixed as soon as their cert expires or can be preemptively fixed by running the two commands above.

(VS just runs the tool, so it gets updates automatically)

[2019-05-16 09:42] ASKemp commented on #5011
Came here to say same thing after finding this issue and spending some time tracking down why on of my tag helper called VC's wasn't presenting any output.

[2019-05-16 10:03] Mastermindzh opened #10288 "Defining a route with [HttpPut] and {action} url parameter doesn't work."
### Describe the bug
When defining a route to a method using the `[HttpPut]` attribute it will return a 404 if I try to bind the `action` parameter.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.3'
2. Run this code

[code]

3. With these arguments 'valid string values, doesn't even find the method'
4. See error -> produces 404 not found, not an actual

[2019-05-16 10:03] simonziegler opened #10289 "Kubernetes Orchestration auto generated Dockerfile has errors"
### Describe the bug
The Dockerfile fails to copy the csproj file during Continuous Deployment on Azure Devops

### To Reproduce
Steps to reproduce the behavior:
1. Create a new ASP.NET Core web app (any type), suggest not Core 3,0 due to other issues that get in your way
2. Add Kubernetes Orchestration support and connect to an AKS cluster
3. Add the project to Git locally and Azure Devops, and c

[2019-05-16 10:12] javiercn commented on #10246
I think per our discussion on the other thread, we don't need to do this anymore?

[2019-05-16 10:26] stevejgordon opened #10290 "ResponseCachingKeyProvider Performance Optimisations"
I've recently been playing around with String.Create for an upcoming blog post and I remembered a discussion with @rynowak about ObjectPool being used to pool StringBuilder instances for some of the ASP.NET Core middleware.

One example I found is in [ResponseCachingKeyProvider](https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/ResponseCaching/src/Internal/ResponseCachingKeyProvider.

[2019-05-16 10:44] HansMusterWhatElse commented on #10266
I like the idea with renaming the cookie and will definitely consider that an option if I can't see any progress soon. Thank you very much.

[2019-05-16 10:54] rosieks opened #10291 "No handling for bad request when sent multipart form data request"
### Describe the bug
If I send multipart/form-data request which has invalid headers then I receive 500 error. I would rather expect 400 as the request is invalid. In my case if content type doesn't have boundary or if there is no content disposition header

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2.0'
2. Run this code: https://gist.github.com/ros

[2019-05-16 11:23] solalem commented on #10254
Yes that also did the trick, thank you. But I would expect the project template add that file in the first place. I think, sometimes, people may have the need to share form based pages in UI libraries as well.

[2019-05-16 11:44] pavelveselev commented on #9862
I've fixed the problem in my project (commit [7e4180af83e8af03ba3b798b6641620f55d20e5b):](https://github.com/pavelveselev/SignalRSample/commit/7e4180af83e8af03ba3b798b6641620f55d20e5b)
added to build.gradle:
[code]
Please add it to [docs](https://docs.microsoft.com/en-us/aspnet/core/signalr/java-client)

[2019-05-16 12:23] bluetianx commented on #10232
I change redisConnectStr of node and restared it one by one  today,The problem comes up again

[2019-05-16 12:44] kmuthukumar23 commented on #10262
Hi @danroth27

We have attached the issue repro sample for your reference. In that sample we can see the blink during the component is rendered.

https://muthukumar3032.azurewebsites.net/syncfusion-sample/

[blazorPreRender.zip](https://github.com/aspnet/AspNetCore/files/3187075/blazorPreRender.zip)

Please suggest us how we prevent this.

[2019-05-16 12:55] Tratcher commented on #9810
@javiercn no. The cert is good for a year, so 2.2 customers that upgrade to 3.0 would be broken for up to a year. VS wouldn't update them because its validity checks would still pass. This issue is about adding an additional validity check so VS can automatically update a non-expired cert based on other criteria.

Having customers run those two commands is a mitigation, not a solution. We'd rather

[2019-05-16 13:26] davidfowl commented on #4707
I'm *extremely* surprised that you're seeing starvation without blocking, even for bursts.

[2019-05-16 13:37] fs86 commented on #10262
I would like to know that too.

[2019-05-16 14:41] rynowak commented on #10290
Generally perf improvments are something we want, especially if it's something that runs during request processing 👍

@Tratcher @anurse - who can help steve figure out if this is a good approach?

[2019-05-16 14:59] rynowak commented on #10270
You can actually do it, it's just a little awkward. You have to define it inside a code block `@{ }`

[code]

[2019-05-16 15:09] Tratcher commented on #10290
@JunTaoLuo

[2019-05-16 15:24] #6022 closed

[2019-05-16 15:28] Tratcher commented on #10281
Not sure if this is related, but you can't do `await context.HttpContext.SignOutAsync("oidc");` from ValidatePrincipal, it generates a external redirect and you don't have control of the request lifetime. The request will execute normally (anonymously) and produce some other response.

[2019-05-16 15:36] Eilon commented on #9904
@davidfowl would you say this is more of a 'hosting' thing or more of a 'servers' thing? Where would the integration happen?

[2019-05-16 15:36] olkuziv commented on #10176
Yes, You are right. I should pass cookies in HttpClient headers

[2019-05-16 15:53] anurse commented on #10246
Yep, closing.

[2019-05-16 15:53] #10246 closed

[2019-05-16 15:55] Tratcher commented on #10281
Ok, having read the full issue here I see where the mis-understanding is happening. You cannot call `SignOutAsync("oidc")` from ValidatePrincipal for the reasons I described, but it's also not appropriate to do so regardless.

As a rule, your application controls it's own login state, it does not control the login state of the OIDC server. The ability to request a sign-out on the OIDC server is fo

[2019-05-16 15:55] anurse commented on #10232
Are you seeing nodes write to the old database **after** all of them have been restarted? If you're restarting *one by one* I would definitely expect some messages to be written to the old database, until those nodes restart.

[2019-05-16 15:56] anurse commented on #9810
This is still an active issue in 3.0. @DamianEdwards hit it and had no clue how to fix it.

[2019-05-16 15:59] gfoidl commented on #10261
`Ctrl + C` or `SIGTERM`.

`dotnet myapp.dll` should print `Application started. Press Ctrl+C to shut down.` to the command window.
_SIGTERM_ is for use in services (linux, daemon like systemd).

[2019-05-16 16:02] Tratcher commented on #10286
@simonziegler this appears to be a tooling bug where it fails to stop the prior instance of the application. Can you please provide this tooling feedback through the feedback tool in Visual Studio?

[2019-05-16 16:24] guylando commented on #4707
@clement911 maybe try to use https://github.com/benaadams/Ben.BlockingDetector to see which framework code is blocking

[2019-05-16 16:42] JeremyButts commented on #5720
Don't know if this is the correct area, but could you guys add skip and take to the GetUsersInRoleAsync method in the IUserRoleStore interface?

[2019-05-16 16:53] davidfowl commented on #9904
Hosting.

[2019-05-16 16:53] ray440 commented on #10270
Currently, writing code like that makes VS crash... a lot :(

It's a better solution but it feels somewhat unnatural.  My first instinct was to try the code below, which doesn't work.  Would it be difficult to implement this?

[code]

[2019-05-16 16:58] blowdart commented on #9498
Closing due to age, and its discussion based nature.

[2019-05-16 16:58] #9498 closed

[2019-05-16 16:58] pranavkm commented on #10288
`action` is a reserved keyword for routing and cannot be re-used by user code. See https://github.com/aspnet/Mvc/issues/7876 for past discussions on this. We're tracking adding an analyzer to produce a build warning as part of https://github.com/aspnet/AspNetCore/issues/4930

[2019-05-16 16:58] #10288 closed

[2019-05-16 17:00] kevinlo commented on #10281
@Tratcher Thanks for letting me know about the MaxAge.  That make sense, I will try that.    Another question, if the user ir prompted to logon because the max_age is exceeded and the logon failed, does it clear up that OIDC server cookie too or that logon failure is just for this app?

[2019-05-16 17:13] anurse commented on #10290
@rynowak is right, perf gains are generally awesome as long as they don't introduce large amounts of complexity. Switching from pooled StringBuilders to String.Create seems reasonable to me. I think the next step would be a PR to show the code change. If you don't want to iterate fully and produce a "production-ready" PR but could hack something together that shows the approach you could throw a D

[2019-05-16 17:14] mkArtakMSFT commented on #10291
@pranavkm do we return `500` in 3.0 too?

[2019-05-16 17:14] davidfowl commented on #10290
This looks pretty nice! We should avoid object pooling at all costs if we can find a simple alternative like this.

[2019-05-16 17:19] stevejgordon commented on #10290
Thanks, @anurse and co! I'm happy to take a look at this over the next week or so and get a PR pushed with some changes. I grabbed the code to a local solution just for this hack. I'll try to get the repo building properly if possible.

[2019-05-16 17:23] anurse commented on #10290
If you get stuck, feel free to open a draft PR and mention that you're stuck on some issue. As long as you don't need to add new projects it should be simple, adding new projects is [non-trivial but not too hard](https://github.com/aspnet/AspNetCore/blob/master/docs/ReferenceResolution.md).

[2019-05-16 17:29] ricardoasilva92 commented on #5417
any news on this?

[2019-05-16 17:31] anurse commented on #10261
Yep, @gfoidl is correct. If you need to "remotely" shut down the app (i.e. when you don't have access to the console) it's up to you to build logic in to your app to do that. You can use the [`IApplicationLifetime`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.iapplicationlifetime?view=aspnetcore-2.2) service in DI to stop the application in response to some event you d

[2019-05-16 17:32] JunTaoLuo commented on #10290
Looks good, I can review the PR when it's ready.

[2019-05-16 17:33] mkArtakMSFT commented on #10278
@ryanbrandenburg can you please look into this? Thanks!

[2019-05-16 17:36] mkArtakMSFT commented on #10278
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-05-16 17:47] pranavkm opened #10298 "Remove public setter on DotNetObjectRef.Value"
Currently blocked on

* https://github.com/dotnet/corefx/issues/37536
* https://github.com/dotnet/corefx/issues/37567

[2019-05-16 17:53] span opened #10299 "Configuring Data Protection in Blob storage with encryption fails"
Using dot net core 2.2.

The initialisation of data protection and encryption of key files in Azure Blob Storage is not behaving as expected.

I have created a proof of concept project with logs and more details here:
https://github.com/span/azure-dp-conf

## Setup

I expect the data protection service to be configured like this.

[code]

This fails however since no key file is generated in
`Persi

[2019-05-16 18:02] mkArtakMSFT commented on #10284
Thanks for contacting us, @itcancle.
@ryanbrandenburg can you please look into this? Thanks!

[2019-05-16 18:11] blowdart commented on #10299
@natemcmaster could you take a look please?

[2019-05-16 18:13] Tratcher commented on #9904
Are you talking about exceptions that happen on the request thread and are caught by middleware and/or the server? Or exceptions on background threads? If it's the former you can implement this in middleware. If the latter, what's catching those?

[2019-05-16 18:14] pranavkm commented on #10291
Most likely if the FormReader throws as it did before.

[2019-05-16 18:21] natemcmaster commented on #4339
Now that we include preview numbers, we could consider doing this. Re-opening for consideration.

[2019-05-16 18:23] kevinlo commented on #10281
Just try the max_age, it works exactly what I want.   In fact, the max_age is from the [openid spec](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest):

Moreover, it does not affect the OIDC server cookie.  I can see the cookie is still there even the login fails.

Thanks all for you help.  That is a better solution than what I had done.

Maybe you can document the usage of the Ma

[2019-05-16 18:23] #10281 closed

[2019-05-16 18:24] jaceks2106 commented on #10291
@pranavkm I investigated this issue deeper and actually it is thrown at FormFeature.GetBoundary().

[2019-05-16 19:01] Tratcher opened #10302 "Have ForwardedHeaders send 400 responses for bad/missing forwarders"
Today the ForwardedHeadersMiddleware no-ops if the expected headers are missing or invalid. For our common use cases though, we expect the headers to always be there or else the proxy is misconfigured (or the request is coming from a potentially malicious side-channel?). In these scenarios it makes sense to reject the request as invalid (400).

This would be optional and only enabled for our known

[2019-05-16 19:04] #9115 closed

[2019-05-16 19:05] Tratcher commented on #8212
SameSite has now also been disabled for the AzureAd and AzureAdB2C cookies.
https://github.com/aspnet/AspNetCore/issues/9115

[2019-05-16 20:08] hannespreishuber opened #10303 "asp.net core 3 empty layout kestrel"
get a ERR_EMPTY_RESPONSE  Error message in Chrome running in Kestrel (iis express works)

[code]

looking with fiddler- missing everything  like HTML Body ect

[2019-05-16 20:19] stevejgordon commented on #10290
@anurse, with regards to including benchmarks. Is there a standard preferred approach? Or would just including a console app for now be fine? Presumably can remove before merging.

[2019-05-16 20:27] leftmostlane opened #10305 "Blazor: Azure Microsoft CDN needs support for HTTP to HTTPS forwarding"
Title:
Azure Microsoft CDN needs support for HTTP to HTTPS forwarding in order to support Blazor Client-Side Applications

Example:
Created a Blazor client-side application.  Deployed to Azure Static Websites and setup Azure Microsoft CDN in front of the static website in order to link a custom domain (domain CNAME points to Microsoft CDN address) and generate a free SSL certificate.  The domain i

[2019-05-16 21:16] Kossx2 commented on #10078
Having stdoutLogEnabled enable doesn't affect performance in a big way.

[2019-05-16 21:17] Kossx2 commented on #10078
Sure! There you are: [https://github.com/Kossx2/PerformaceTest](url)

[2019-05-16 21:25] anurse commented on #10303
Can you provide a full sample project that reproduces the issue? Your sample page doesn't have an HTML body and has a `<!DOCTYPE html>` so it seems entirely expected that you wouldn't be seeing a body tag...

[2019-05-16 21:27] JamesNK commented on #9994
I can repo your issue. I think the problem here is `JsonRequestCultureProvider` is setting the thread culture, but the JsonTextReader isn't using it. JsonTextReader has a Culture property that is used to parse strings to values, such as a date string. It defaults to InvariantCulture.

https://www.newtonsoft.com/json/help/html/P_Newtonsoft_Json_JsonReader_Culture.htm

Parsing "15/5/2019" with invar

[2019-05-16 21:32] anurse commented on #10078
Thanks! We can take a look at this. We've got some high priority work going on right now (for 3.0 preview 6) but I've put this in the preview 7 milestone to revisit.

[2019-05-16 21:41] Eilon commented on #10305
@blowdart

[2019-05-16 21:42] ryanbrandenburg commented on #10284
This didn't reproduce for me using our latest templating bits. Are you sure you didn't make any other changes before running it? Also, `dotnet run` from within the publish directory doesn't actually work, did you mean `dotnet test-angular.dll`? I also notice that the `aspNetCore` tag in your web.config points to the exe instead of the dll, which leads me to believe that there were changes to this

[2019-05-16 21:43] blowdart commented on #10305
Why would I be responsible for Azure CDN features? If they don't support this, then it's an issue for thenm, not us.

Closing as this is not our area of responsibility, it's Azure's.

[2019-05-16 21:43] #10305 closed

[2019-05-16 21:44] anurse commented on #10257
Going to close this since it is "expected" in the current implementation and we have #5351 tracking an improvement that should resolve this issue.

In general, I would recommend **not** having such a long-running non-streaming Hub method and using the background service behavior I suggested above. Your `Task.Run` isn't really doing anything here since you're returning the task to us to await, so y

[2019-05-16 21:44] #10257 closed

[2019-05-16 21:47] anurse opened #10307 "Fix MessagePack JS package peer dependency"
The `@aspnet/signalr-protocol-msgpack` package has a peer dependency on `@aspnet/signalr`. This is good, but the value is static and [hasn't been updated since `1.0.0-preview3`](https://unpkg.com/@aspnet/signalr-protocol-msgpack@1.1.0/package.json). We should either add automation to update the peer dependency on every build, or just remove it, or maybe make it a real dependency.

[2019-05-16 21:48] anurse commented on #10307
It should almost definitely just be a real dependency, in which case we can use a path link and I think the build output will be correct.

[2019-05-16 21:50] ReubenBond opened #10308 "Client/server networking abstractions"
Epic https://github.com/aspnet/AspNetCore/issues/10869

The goal of this issue is to specify abstractions which the .NET community can use to build robust, correct, high-performance client & server applications. This is a follow-up to #4772 (Project Bedrock) and is largely a summary of a discussion with @davidfowl, @anurse, @halter73, @shirhatti, & @jkotalik.

## Initiating & accepting connections

[2019-05-16 21:51] anurse commented on #10210
We'll look in to this in preview 7. Since it doesn't actually cause a functional error, it's not a super-high priority for us, but it's a ugly thing to have to ignore in that event handler so we want to clean that up. We need to make sure we fully understand why that exception is rethrown before suppressing it :).

[2019-05-16 21:57] anurse opened #10309 "Lazy-initialize MessagePackHubProtocolOptions"
We should lazy-init the formatter resolvers in MessagePackHubProtocolOptions. The default set of resolvers trigger a static constructor that throws on AOT environments (IL2CPP for Unity for example). If we lazy init it, an AOT-based app can call the setter to replace the list of formatters with an AOT-friendly set without risking an exception due to trying to initialize the non-AOT-friendly ones.

[2019-05-16 21:58] anurse commented on #10080
Filed https://github.com/aspnet/AspNetCore/issues/10309 for the work on our end identified here. Moving the conversation to discussions now since we don't have any other actionable work.

I haven't had a chance to look in depth at what you posted but we can try to take a look at help where we can.

[2019-05-16 22:00] pranavkm commented on #9994
Set it here along with the other properties: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs#L155-L157? That seems reasonable.

[2019-05-16 22:01] anurse commented on #10290
We use [BenchmarkDotNet](https://github.com/dotnet/BenchmarkDotNet). A microbenchmark would probably be sufficient here. If there isn't already a project near the response caching project that's a bit unfortunate. Here's an example of one: https://github.com/aspnet/AspNetCore/tree/master/src/Http/perf/Microbenchmarks

[2019-05-16 22:17] kouvel commented on #4707
The only things that I'm aware of that would cause thread starvation are blocking, or long-running CPU/memory-bound work items in the thread pool. @clement911 since you mentioned that CPU utilization is low, without more information I would guess that blocking is occurring.

Blocking doesn't necessarily have to occur from synchronous IO. It could be a lock that is held for longer than expected, fo

[2019-05-16 22:18] ajaybhargavb commented on #8312
This is currently blocked on https://github.com/dotnet/roslyn/pull/34860.

[2019-05-16 23:19] rynowak commented on #9994
This seems like something we should offer as an option.

This is a totally reasonable thing for us to have, but this is the first time it's come up. I think changing the default has the potential to make more people sad than happy.

[2019-05-16 23:20] JamesNK commented on #9994
Changing the culture the reader uses will be be a breaking change.

For example, if you were previously assuming invariant culture when parsing number text to double/float then "1,000.23" on your server with a European culture will fail because the new culture expects "1.000,23".

Are we ok with this? Do we want a feature flag for this?

[2019-05-16 23:24] rynowak commented on #9994
The bar for changing a default behaviour is *really* high.  We should consider adding this as a non-default option.

[2019-05-16 23:28] JamesNK commented on #9994
I think the default should stay as it is, and `MvcNewtonsoftJsonOptions` can get `public bool ReadJsonWithCurrentCulture { get; set; }`. When true the `CultureInfo.CurrentCulture` onto the reader.

Thoughts?

[2019-05-16 23:29] rynowak commented on #9994
Like 👍

[2019-05-16 23:31] rynowak commented on #10270
We don't have anything like that on the roadmap, so it's not going to happen as part of this release.

[2019-05-16 23:31] rynowak commented on #10270
BTW, I am interested in your crash if you can point at which example caused it. We fixed something like that recently (pending release).

[2019-05-16 23:39] natemcmaster opened #10463 "Add a clean.cmd command"
Request from @Tratcher

Add a script to clean the repo.

Open questions to resolve first:
* What should the behavior of this script be? Is this simple `git clean -xfd`? Or should it behave more like like "Clean Solution" in VS?
* Interactive? Or just blow everything away?

[2019-05-16 23:41] ray440 commented on #10270
The crash was related to setting multi-line fragments (I think). Like this

[code]

If I edited it slightly (or sneezed) VS would crash. It also completely messed up auto-formatting.

[2019-05-16 23:43] Eilon commented on #10305
Tagged you because it involved HTTPS redirect, which can have security implications.

[2019-05-16 23:56] rynowak commented on #10270
@ajaybhargavb - can you try this out on latest bits? Something like:

[code]

[2019-05-17 00:10] markti opened #10313 "Microsoft.AspNetCore.Authentication.AzureAD.UI Broken"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-openidconnect-a

[2019-05-17 00:21] ajaybhargavb commented on #10270
I tried this out and also tried a bunch of related things but couldn't get it to crash.
Also note, the `<div>...more stuff..</div>` in the above example will be parsed as C#. This is by design.

[2019-05-17 00:29] ray440 commented on #10270
I'm using VS 16.1.0 Preview 3.0.  Is that the latest?

Your sample seems to be working a little better.

But this sample is painful.  It might be related to `<OutcomeIcon>` . If I replace it with a `div` or a non-existant `<AComponent>`, it's better.

[code]

[2019-05-17 00:32] ajaybhargavb commented on #10270
I tried this on pre-release bits. Preview 3 doesn't have this fix yet. It will be available in the next preview release.

[2019-05-17 00:33] blowdart commented on #10305
Ah, fair enough, still, not us, and nothing we can do here.

[2019-05-17 00:42] halter73 commented on #10308
Thanks!

@davidfowl and I discussed this. We think `IConnectionListener.DisposeAsync()` should either wait for all active connections to close naturally, or abort all the connections.

If we go the abort route, we'll probably need something similar to `IConnectionListener.StopListening()` to tell transports to close the listen socket. If we let the connections close naturally, we can probably just

[2019-05-17 01:29] bluetianx commented on #10232
yes,I see.
PS: I run my app with IIS ,I restart my app by using a way that as shown in figure
![image](https://user-images.githubusercontent.com/29353661/57897043-357f5980-7886-11e9-8173-f330cd258977.png)

[2019-05-17 01:33] Lupusa87 commented on #10262
#7708

[2019-05-17 01:39] Lupusa87 commented on #7708
If we do not want to add new lifecycle method then we can do @SteveSandersonMS suggested second option.

[2019-05-17 01:42] divega commented on #10013
FWIW, the SqlClient team has committed to make Microsoft.Data.SqlClient source code available in https://github.com/dotnet/sqlclient in coming weeks, but it will depend on stable releases and not be integrated into our dependency update mechanisms, so source-build maybe off the table, so the outcome is the same.

I created https://github.com/aspnet/Extensions/issues/1723 for Microsoft.Extensions.C

[2019-05-17 01:56] Lupusa87 commented on #10170
I am sure it will be good what you offer but for now I build dynamic css and load it as part of blazor component so I don't need any isolation because css is constructed for particular component and loaded/unloaded with component.

Here is POC repo which is not updated to latest version I use in one my blazor app.
https://github.com/Lupusa87/BlazorCssHelper

[2019-05-17 03:11] huan086 opened #10317 "SkipStatusCodePagesAttribute should run before AuthorizeAttribute"
### Is your feature request related to a problem? Please describe.
`[SkipStatusCodePages]` is meant to be used in actions that are API calls, so that the StatusCodePagesMiddleware does not interfere with the response status code and body.

API actions are almost always decorated with `[Authorize]`. When user is not authorized, AuthorizeFilter short circuits and returns 401. Due to the short circui

[2019-05-17 03:24] clement911 commented on #4707
Thanks I appreciate the comments.

A while back we didn't know what to do with this issue but we knew it was related to our webhook receiver controller action receiving a lot of requests.
So we deployed another separate azure app service instance, specifically to receive webhooks.
So, what we have is an asp.net core service with a single controller and a single action being called.
(We left the re

[2019-05-17 03:46] huan086 opened #10318 "OpenIdConnectHandler should also return no-store"
### Is your feature request related to a problem? Please describe.
The OpenIdConnectHandler currently returns no-cache only. This does not prevent caching by the back-button cache. Thus, after switching to `OpenIdConnectOptions.AuthenticationMethod = OpenIdConnectRedirectBehavior.FormPost;`, it would still be possible for an attacker to retrieve the id_token containing first/last name etc by press

[2019-05-17 04:16] hannespreishuber commented on #10303
ist just simple page. Confusing works with iis express and not with kestrel command line hosted (started from Visual Studio 2019 )
`@page
@model perf3.Pages.demoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>speed</title>
</head>
<body>
</body>
</html>`

[2019-05-17 04:28] davidfowl commented on #4707
When running on IIS there’s a request queue deep in the kernel (http.sys) but there’s no request queuing happening in ASP.NET core. The only queue is the thread pool queue. The exception you’re seeing is coming from kestrel (so I’m assuming you’re using the out of process IIS module). If you can still reproduce the issue, a trace would be great. We’re just adding counters in .NET Core 3.0 which is

[2019-05-17 04:42] clement911 commented on #4707
btw, I was referring to the thread pool queue.

[2019-05-17 05:43] davidfowl commented on #10308
cc @tmds

[2019-05-17 05:47] damienbod commented on #10037
I made some docs for this, and how I could fix this for me, maybe it will help others.

https://damienbod.com/2019/05/17/updating-microsoft-account-logins-in-asp-net-core-with-openid-connect-and-azure-active-directory/

[2019-05-17 06:13] henrihietala commented on #3269
I'm having the same issue in Azure DevOps release pipeline while deploying a Function App.

`2019-05-17T05:52:32.9082281Z Error: Failed to change file that is currently being used "D:\home\site\wwwroot\bin\MyFunctionApp.pdb"\r\nD:\Program Files (x86)\SiteExtensions\Kudu\81.10329.3844\bin\Scripts\starter.cmd "D:\home\site\deployments\tools\deploy.cmd"
2019-05-17T05:52:32.9136091Z ##[error]Failed to

[2019-05-17 06:16] Mastermindzh commented on #10288
Thanks, @pranavkm, I didn't check the archived repo for similar issues :)

Glad it's going to be resolved!

[2019-05-17 06:27] javiercn commented on #7708
We don’t want to add new lifecycle methods, the recommended way to do this is to add it to OnAfterRender and use a Boolean flag to prevent executing it multiple times.

We expect this not to be very common unless you are implementing a component library, in which case you can create a base class library for your components extending component base and do it yourself there.

[2019-05-17 06:36] vankampenp commented on #4707
Perhaps you could put the requests from Shopify in your own background  queue and process them one by one. That way, you never have the spike.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-2.2

I have done that in a similar scenario where the user uploads a spreadsheet and then lots of work has to be done per row. Happy to share the code somewhere.

[2019-05-17 06:41] itcancle commented on #10284
thank you for your reply~

Now I upgraded my SDK to `3.0.0-preview5-27626-15`.
My description may be wrong, just reappeared, there is a problem with deploying to IIS.
Found still can reproduce this problem:

1. dotnet new angular -n recurrent
1. cd recurrent
1. dotnet run //ps: it's ok.
1. dotnet publish -c Release
1. cd bin/Release/netcoreapp3.0/publish
1. dotnet recurrent.dll //ps: it's ok.
1. e

[2019-05-17 06:45] clement911 commented on #4707
@vankampenp
The issue is that we must be sure that the webhook requests are persisted before we can respond HTTP 200 to Shopify.
If we just put it in a memory queue and the app restarts for any reason, then we would lose the requests.

[2019-05-17 06:49] tmds commented on #10308
Great stuff!

Perhaps it makes sense to add a CancellationToken to these methods.
ConnectAsync can take a long time.
AcceptAsync, maybe not needed, IAsyncDisposable kind of acts as the CancellationToken.

Maybe this can be moved to the server implementation. It simplifies the IConnectionListener implementation because it no longer needs to track the ConnectionContexts.

[2019-05-17 06:56] mgravell commented on #10308
Sounds promising (the goal; I haven't studied the specific API in depth), and it'll be a pleasure to be able to mark large chunks of Pipelines.Sockets.Unofficial as `[Obsolete]`. One big question I would raise early is: what is the assembly/namespace/package story here? since this issue is under aspnet not corefx, I have a sinking feeling... Basically, it is just *really really weird* if a client

[2019-05-17 07:00] benaadams commented on #10308
***A***sync***S***ocket***P***ower .NET ?

[2019-05-17 07:02] hez2010 opened #10320 "On-demand blazor server-side connection"
Blazor server-side rendering requires in-time communication between clients and servers.

Currently if connection drops, the client will try to re-connect to server immediately. I think it will be better if it can rebuild the connection when the next request starts.

Also, communicating with SignalR Core will cause a problem that once a client connect to a server, the connection will stick to a sp

[2019-05-17 07:11] davidfowl commented on #10308
TL;DR, this design basically introduces a transport abstraction and makes it a bit more decoupled so it can be used standalone (without kestrel or the pipeline). Kestrel and SignalR become a consumer of this new API (like a pluggable TcpListener and TcpClient).

I see a couple of options around naming:
- We keep the ASP.NET Core naming for both client and server and keep the connection abstraction

[2019-05-17 08:02] owaits opened #10322 "Styled File Upload buttons not working as expected"
I am not entirely sure if this is a blazor issue or not but I am using client side blazor and trying to create a styled file upload button using the code bellow. When you click on the aperture image it opens the file upload dialog and my C# code correctly puts the image data in the EditItem.EncodedPicture property. To all respects it works and when you click save the image data is pushed to the se

[2019-05-17 08:10] vankampenp commented on #4707
@clement911 I don't know your particular situation. In our scenario we persist a key, then push it on the queue, which sets a flag once it is done. We run a daily catch all to see if there are any key's without flag.
This only makes sense if the work that has to be done takes a long time, in our case about 1s per row.

[2019-05-17 08:35] clement911 commented on #4707
even if it is just a key, the point is you need to persist at least something so IO is needed.

[2019-05-17 08:35] OculiViridi opened #10323 "Array or List in query string does not get parsed"
Referring to this previous [issue 7712](https://github.com/aspnet/Mvc/issues/7712), I'm still facing this problem when using complex objects as parameters of GET method in ApiController.
So, values inside my comlpex object with `List<>` parameter are not parsed.

I've also read #8881 but I'm not on POST.

I'm running .NET Core:
[code]

**Note:** I cannot update now to .NET Core v2.2 or newer.

###

[2019-05-17 08:37] mgravell commented on #10308
maybe it is neither aspnet nor corefx?

corefx <=== (some comms naming thing) <=== aspnet

but: I appreciate that this may be impossible at this point. It is just... a bit messy. But coupling too tightly to aspnet also has impact re transitive dependency graph explosion, etc.

[2019-05-17 08:45] HansMusterWhatElse opened #10324 "Create a IStringLocalizer in IStringLocalizerFactory which has access to scoped services from the HTTP request"
### Problem Description

Hi guys,

I currently face the following issue for which I am looking for a solution and maybe some best practices how this could be solved.

With our current setup **Localization** is implemented without any factories and we solely use the non-generic `IStringLocalizer`, `IHtmlLocalizer `and `IViewLocalizer` interfaces to provide our own implementation.

The scoped lifecy

[2019-05-17 08:57] Enngage commented on #8686
I'm getting the same on Preview 5, but as **warning** and it does not prevent me from building the app:

` warning AD0001: Analyzer 'Microsoft.AspNetCore.Mvc.Analyzers.TopLevelParameterNameAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an instance of an object.'.`

[2019-05-17 09:06] ruchanb commented on #9994
Having this as an option feels the best method for me too.

Anyway guys, for now how do I implement this? Or I should be sending ISO dates?

[2019-05-17 09:33] #7708 closed

[2019-05-17 09:51] Stamo-Gochev opened #10325 "(blazor) Failed to reconnect to the server"
### Describe the bug
When running a server-side blazor project, after some time, the SignalR connection is lost and the following overlay is displayed ("Failed to reconnect to the server"):
![image](https://user-images.githubusercontent.com/1857705/57919520-a1bb8680-78a1-11e9-8c08-8b1fb8219c4e.png)
However, clicking the retry button does not work - the overlay is still present although the followi

[2019-05-17 09:56] MattiaDurli opened #10326 "BadHttpRequestException: Invalid request line: '\x0D\x0A', only on Kestrel, works with IISExpres/IIS"
I have an IOT device (black box, can't reprogram it) that sends http POST requests (136 bytes of JSON, a string) to my .NET core 2.2 very simple server console application (created with webapi console template).
I added the following lines and just output the string to the console.

[code]

The strings gets always printed but to the first request I get a 200 and no exceptions, to the following I g

[2019-05-17 09:59] BlueBird67 commented on #4848
Still no simple solution for this huge problem?

[2019-05-17 10:17] stevejgordon commented on #10290
I'll add a perf folder and a BenchmarkDotNet project for this.

[2019-05-17 10:50] wrkettlitz opened #10327 "var is not local. (Blazor)"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.
` @for (var i

[2019-05-17 11:17] campersau commented on #10327
https://github.com/aspnet/Blazor/issues/275#issuecomment-373686979

This is documented here (at the end) https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#event-handling

Other issues:
https://github.com/aspnet/AspNetCore/issues/10138
https://github.com/aspnet/AspNetCore/issues/7134
https://github.com/aspnet/Blazor/issues/1562
https://github.com/aspnet/Blazor/issue

[2019-05-17 11:18] simonziegler commented on #10286
Thanks, I have reported this in VS feedback as requested.

[2019-05-17 11:30] TanvirArjel opened #10328 "Custom claims is not persisting with ASP.NET Core Identity default claims"
I have added two custom claims in the following login code:

         if (model.ApplicationUser != null)
         {
                    SignInResult signInResult = await _signInManager.CheckPasswordSignInAsync(model.ApplicationUser, model.Password, lockoutOnFailure: false);

                    if (signInResult.Succeeded)
                    {
                        User userInfo = await _userSer

[2019-05-17 11:31] EnricoMassoneDeltatre commented on #9242
Hi,

we tried to implement your suggestions in our code and we verified that the authentication challenge forward mechanism works.

So, using the authentication schemes of my example, we can decide that the authentication scheme called "Foo" forwards its authentication challenge to the  authentication scheme called "Bar".
This means that, given an action method decorated with the attribute `[Autho

[2019-05-17 11:49] AdmiralSnyder opened #10329 "Microsoft.AspNetCore.Blazor.Http.WebAssemblyHttpMessageHandler.SendAsync throws on Server Side Blazor"
### Describe the bug
On Server-Side Blazor, calling Microsoft.AspNetCore.Blazor.Http.WebAssemblyHttpMessageHandler.SendAsync
throws an exception, because
"Blazor._internal.http.sendAsync" is being invoked with Mono.WebAssembly.Interop.MonoWebAssemblyJSRuntime.InvokeUnmarshalled
giving the error "Generic method or method in generic class is internal call, PInvoke, or is defined in a COM Import clas

[2019-05-17 12:04] liamdawson commented on #8952
There's a typo in https://github.com/aspnet/AspNetCore/issues/8952#issuecomment-482499042, but when corrected, this worked:

[code]

[2019-05-17 12:09] Megasware128 commented on #10313
That is not really a lot of information. For me the package just works.

[2019-05-17 12:22] Apollo3zehn commented on #10257
Thank @anurse for investigation. I switched now to a background service which handles the request to not block the hub for a long time. I no longer run into timeouts.

[2019-05-17 13:14] blowdart commented on #10313
As this is the bug template, rather than a bug, there's not a lot to go on here?

@markti do you mean to point us at the linked issue in Azure Samples? Are you saying this is what your bug is?

[2019-05-17 13:20] blowdart commented on #10328
Every 15-20 minutes makes sense, because that's when we refresh the cookie from the back end database, and as your changes don't come from there, your additional claims won't get refreshed.

So there are a couple of ways to approach this;

1. Put the claims in your identity database so they come out in the ApplicationUser
2. Use [claims transformation](https://brockallen.com/2017/08/30/beware-in-a

[2019-05-17 13:24] blowdart commented on #9242
@Tratcher in case I guide you astray.

Basically don't have both schemes in the authorize attribute. Your virtual scheme is what's supposed to be doing the picking of the real scheme, that should be the automatic scheme for everything, and your code inside that should be doing the right thing.

[2019-05-17 13:35] EnricoMassoneDeltatre commented on #9242
Hi and thanks for replying.

So, you are basically suggesting to specify only one scheme inside the `Authorize` attribute and avoid the ambiguity of having two different authorization schemes from the beginning ?

Referring to my example, I should use `[Authorize(AuthenticationSchemes = "Bar")]` and then decide how to authenticate the incoming request inside the code of `BarAuthenticationHandler.A

[2019-05-17 14:04] jeffwlandry commented on #10265
Links to onedrive files which were too large to attach
https://1drv.ms/u/s!Aq_4W1bjkBTqhPBAyZnsdneYjGZoSA
https://1drv.ms/u/s!Aq_4W1bjkBTqhPBBNV8HUhG7M76zYQ
https://1drv.ms/u/s!Aq_4W1bjkBTqhPBCuMpX83vWyp8UEQ

Attached is the entire project which demonstrates issue.  Also attached is a steps recorder recording of the problem occurring.  Finally attached is the project used in the recording after th

[2019-05-17 15:02] mysteryx93 opened #10330 "Page Binding to Class With Parameters Throws Exception"
Using ASP.NET Core 2.2 Razor Pages. My page binds to the object InputModel. If I add a parameter to that class, and initialize the class in the constructor, I get this error:

It clearly states that it should work if the field is set in the constructor, yet it doesn't.

Here's the code.

    public class SoulAlignmentReadingFormModel : PageModel
    {
        private ConstantDataProvider _constant

[2019-05-17 15:16] Tratcher commented on #9242
On `Bar` set AuthenticationSchemeOptions.ForwardDefaultSelector and have it exhamine the request to determine if `Foo` or `Bar` should be used.

[2019-05-17 15:18] Tratcher commented on #10313
Can you please provide a complete project that reproduces the issue?

[2019-05-17 15:25] ghstahl opened #10331 "TestServer HttpClient SendAsync returns NOT_FOUND when api is in classLibrary"
### Describe the bug
The exact same controller works when it is in the main application OR in a class library.
i.e.
https://localhost:5001/api/SomeThing2/dog

However, when called from TestServer's HttpClient it returns a 404 when the SomeThing2 controller is in a class library.  Cut and paste the controller back to the main application results in TestServer's HttpClient returning a 200.

### To R

[2019-05-17 16:01] pranavkm commented on #10323
What is the value of the query string that's being bound?

[2019-05-17 16:02] #7316 closed

[2019-05-17 16:08] OculiViridi commented on #10323
Everything is parsed, except for the `List` type values, so: `AppliedFilters` (that then contains a `List<object>`).

[2019-05-17 16:18] Tratcher commented on #10326
Yes, the request is invalid. It specifies `Content-Length: 136`, sends the 136 byte body, and then includes `0D 0A` (CRLF) at the end. That extra CRLF exceeds the content-length. Some servers are tolerant of extra CRLFs but Kestrel is not.

Can the IOT device send Chunked requests instead?

[2019-05-17 16:27] davidfowl commented on #10308
Updated the proposal based on the prototype:
- Added CancellationToken to ConnectAsync (we can discuss AcceptAsync as well)
- Added EndPoint to IConnectionListener

[2019-05-17 16:30] chucker commented on #9851
A clean and rebuild should suffice. If not, try deleting the `obj` folder and then building again.

And if even that fails, you may have to close and re-open the solution.

[2019-05-17 16:41] mkArtakMSFT commented on #5616
Please make sure this works https://github.com/aspnet/AspNetCore/issues/9694 as part of the fix, as closing the reference as a dupe.

[2019-05-17 16:41] mkArtakMSFT commented on #9694
Closing as a dupe.

[2019-05-17 16:41] #9694 closed

[2019-05-17 16:43] mkArtakMSFT commented on #9125
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-05-17 16:43] #9125 closed

[2019-05-17 16:46] mkArtakMSFT commented on #10228
Thanks for contacting us, @fs86.
We're closing this issue as it seems the issue you're facing is caused by your application logic.

[2019-05-17 16:46] #10228 closed

[2019-05-17 16:48] mkArtakMSFT commented on #10183
Thanks for contacting us, @honkmother.
This is not a supported scenario. Can you tell us why do you want to change the `BaseBlazorDistPath`?

[2019-05-17 16:50] #8834 closed

[2019-05-17 16:50] #8924 closed

[2019-05-17 16:54] mkArtakMSFT commented on #9588
Thanks for contacting us, @glent1.
We do plan to fix this as part of #6349. Leaving this issue open to verify this scenario.

[2019-05-17 16:55] ReubenBond commented on #10308
@halter73

Either way, this suggests that `IConnectionListener` owns the connections returned from `AcceptAsync`. There's nothing to stop a framework from tracking connections or even associating them with the `IConnectionListener` which they came from (if any). The requirement seems onerous, though.

Currently `LibuvTransport` owns the `LibuvThread`. Each `LibuvConnection` gets a reference to one

[2019-05-17 16:56] mkArtakMSFT commented on #8766
@ajaybhargavb  can you please confirm this is fixed already? Thanks

[2019-05-17 16:59] mkArtakMSFT commented on #8388
Thanks for contacting us, @AceTheWiz. This is a dupe of https://github.com/aspnet/AspNetCore/issues/9322 and have is now fixed.

[2019-05-17 16:59] #8388 closed

[2019-05-17 17:00] mkArtakMSFT commented on #6158
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-05-17 17:00] #6158 closed

[2019-05-17 17:11] chucker commented on #8385
Possibly related: #8336

[2019-05-17 17:13] BrennanConroy commented on #8369
Thank you for the issue, we've resolved this in preview6.

[2019-05-17 17:13] #8369 closed

[2019-05-17 17:21] mkArtakMSFT commented on #7785
We looked at potentially changing how strings and parameters work and have decided the user impact in that case would be unacceptable.

[2019-05-17 17:21] #7785 closed

[2019-05-17 17:30] mkArtakMSFT commented on #5514
This is a dupe of #5487

[2019-05-17 17:30] #5514 closed

[2019-05-17 17:36] tmds commented on #10308
It's possible. It is probably simpler to keep them around, and then use them again when needed.

[2019-05-17 17:44] mkArtakMSFT opened #10332 "Update all our activated types to take ILogger<T> in Templates"
e.g. Controllers, Pages, Hubs, etc.
Inject in constructor and place on a property

[2019-05-17 17:53] mkArtakMSFT opened #10333 "Change `ValuesController` to `WeatherController` in templates"
GET only (scaffolding covers the POST/PUT/DELETE scenarios)
Overload one, accepts two parameters: string location (returns Celsius)
Overload two, accepts two parameters: string location, TemperatureUnit unit
Enum TemperatureUnit defined in project: public enum { Celsius, Fahrenheit }
Returns: new WeatherResult { Location = location, Temperature = randomTemp, TemperatureUnit = unit }
If Swashbuckle

[2019-05-17 17:58] mkArtakMSFT commented on #10333
Make sure the changes from #9226 are also applied as part of this work.

[2019-05-17 17:58] mkArtakMSFT opened #10334 "API Conventions & Analyzers should always be on"
Talked to @pranavkm  and @glennc about this. The work here is to make sure as soon as you reference a package (NSwag, Swashbuckle) which produces swagger documents, the analyzer is automatically enabled.

[2019-05-17 17:59] anurse commented on #10326
It looks like there isn't actionable work for Kestrel here, since the request is invalid (as @Tratcher indicated). Moving this to discussions so that conversation can continue. If something actionable does come up, we can re-evaluate then.

[2019-05-17 17:59] halter73 commented on #10308
I do wan't the LibuvThreads to get cleaned up before IConnectionListener.DisposeAsync/StopAsync completes. I think we can do this through a combination of reference counting the active connections and closing the listen socket.

[2019-05-17 18:01] mkArtakMSFT opened #10335 "API Auth via IdentityServer"
details TBD but likely just adds IdentityServer & JWT middleware then

[2019-05-17 18:07] mkArtakMSFT opened #10336 "Enable Certificate authentication option in API template"
This is listed in the Templating epic with questionmark, so not sure what exactly needs to happen here or how important it is to get it done in 3.0.

[2019-05-17 18:07] mkArtakMSFT commented on #10336
This depends on https://github.com/aspnet/AspNetCore/issues/4663

[2019-05-17 18:11] mkArtakMSFT opened #10337 "Enable Kerberos authentication option in API template"
This is listed in the Templating epic with questionmark, so not sure what exactly needs to happen here or how important it is to get it done in 3.0.

There is also tooling impact here. There is no such option in the New Project Dialog UI

This work depends on https://github.com/aspnet/AspNetCore/issues/8897

[2019-05-17 18:38] UltWolf opened #10338 "Wrong creating project"
Get error, when run project after creating. (i`m trying creating by VS2019, and dotnet cli)
The error:
[code]
Where this error:
[code]
Versions : ASP.NET CORE 3.0.100
Blazor version: 3.0.0-preview5-19227-01
OS: Windows 10.

[2019-05-17 18:43] rynowak commented on #9994
Sending ISO date is a good idea and will work. It's a little bit more standard.

If you're interested in adding support for this setting (as described [here](https://github.com/aspnet/AspNetCore/issues/9994#issuecomment-493264872)) we'd accept a PR for that.

[2019-05-17 18:47] blowdart commented on #10336
Given the desire to drive templates to be smaller, this is probably a rare enough want that it doesn't need template integration, but documentation will suffice.

[2019-05-17 18:52] cyberjaws commented on #5616
I see this is getting pushed down the road. Is there a workaround for the time being? I attempted to use a standard select with enumerations as per @VR-Architect and it wouldn't work for me. My example code is a part of #9694.

[2019-05-17 19:03] markti commented on #10313
@blowdart when i take the Azure Sample and replace the hacky AddAzureADBearer extension method with the official one provided by Microsoft.AspNetCore.Authentication.AzureAD.UI, it doesnt work. @Tratcher all you have to do is clone https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-openidconnect-aspnetcore upgrade to .net core 2.1 and asp.net core 2.1.1 add the Microsoft.AspNetC

[2019-05-17 19:04] markti commented on #10313
it doesnt work with the Azure Sample i referenced. I'm trying to replicate an Azure AD protected WebAPI and have a Azure AD authenticated WebApp / Postman talk to it.

[2019-05-17 19:32] schrose commented on #10338
I am having the same issue. Any input would be helpful.

[2019-05-17 19:47] TanvirArjel commented on #10328
@blowdart Thank you so much! First approach has worked for me! I have question- Does second approach also use `AspNetUserClaims` table too?

[2019-05-17 20:08] GerritBergen opened #10342 "Blazor: Commenting lines in the @functions area crashes Visual Studio"
### Describe the bug
Using the shortcut for commenting/uncommenting multiple lines of code crashes Visual Studio

### To Reproduce
Steps to reproduce the behavior:
1. Create any function in the functions area.
2. Create a few lines of code.
3. Comment them out with the multi line comment shortcut. (Set in Tools/Options/Environment/Keyboard/Edit.CommentSelection)
4. See error

### Expected behavior

[2019-05-17 20:15] rynowak commented on #5071
This would be possible to do, but could be tricky. I think this would require parser changes since we do shenanigans with `.`.

Originally I was thinking about something like `<someelem normal-attribute="something" @splat="myAttributes" />` or `<someelem normal-attribute="something" @attrs="myAttributes" />`

[2019-05-17 20:15] salarzobir opened #10343 "Webassembly-multithreading has to be high priority"
I want to do projection transformation for thousends of features in map using blazor webassembly, but because it is single-threaded i have to do this in backend server.

I want to send this .dll to the browser and do the heavy work their using multithreading.
Multithreading is already works in Rust-Webassembly and C++.
If Blazor will not have multithreading then there is no much difference between

[2019-05-17 20:17] Tratcher commented on #4135
@bradygaster let's sync up about the 2.x blog post.

[2019-05-17 20:20] shirhatti opened #10344 "Identify known issues with single-file publish"
We're scoping the work in 3.0, to identify all the known gaps with single-file publish.

[2019-05-17 20:21] shirhatti commented on #10344
https://github.com/dotnet/designs/blob/master/accepted/single-file/design.md

[2019-05-17 20:29] mkArtakMSFT commented on #10338
Thanks for contacting us, @UltWolf.
What exact project is failing for you? Which project have you created?

[2019-05-17 20:32] rynowak commented on #5071
There's a bit of a tricky thing to figure out here, because the behaviour of HTML is different from what's described here.

If you write the following:
[code]

The result (in the DOM) is `<div class="test1">Peasy Cheese</div>`. That's right, static HTML does the opposite of what we've specced out here.

If you try the above example in Blazor right now, the result will be the same as static HTML be

[2019-05-17 20:32] anurse commented on #10336
Agreed. I don't think we should overload the template with samples. We just finished scaling it back :)

[2019-05-17 20:34] blowdart commented on #10328
No, the second approach has no implementation at all, you'd source the claims from wherever you want and do everything manually

[2019-05-17 20:34] Tratcher commented on #9349
`Action<SslThingyOptions>` change merged.

Need to experiment with the new CipherSuitesPolicy on SslServerAuthenticationOptions to see how to use it to meet the HTTP/2 spec requirements. It's unclear yet if that will be a sample, kestrel change, etc..

[2019-05-17 20:37] anurse commented on #10257
Definitely agree. #5351 will make that work better since we won't be blocking the message loop on running the Hub.

Another *super hacky* way you could do this is with the streaming support, since we don't block the message loop on those requests. You can just stream only a single item back :). It's a big hack though and a breaking change to your Client if you switch back and forth between streami

[2019-05-17 20:38] Tratcher commented on #4135
Recommended 2.x mitigation that cleanly upgrades to 3.0:
[code]

[2019-05-17 20:39] anurse commented on #10286
Closing this since Dev Spaces is outside of our scope. If their investigation yields an issue in our logic, they'll reach out to us.

[2019-05-17 20:39] #10286 closed

[2019-05-17 20:40] mkArtakMSFT opened #10345 "Single project template for Razor Pages and MVC apps"
- Single project template
- Option to select view engine: Razor Pages or Razor Views (MVC)
- Alias existing "mvc" template to this and make it pre-select "Razor Views" for option above:
  - Razor Pages: `dotnet new webapp` or `dotnet new razor`
  - MVC: `dotnet new webapp --mvc `

[2019-05-17 20:44] mkArtakMSFT opened #10346 "Remove Cookie Consent UI from all templates and move into docs"
The Cookie Consent UI should not be part of templates any more. We should, instead, turn the current state into docs for customers to enable, if you wish.

[2019-05-17 20:46] mkArtakMSFT opened #10347 "Simplify web project templates"
We should remove the CDN config as well as environment-based CSS/javascript references from web templates

[2019-05-17 20:48] anurse commented on #6845
I just had a crazy idea. This occurs because `git clean` cleans the `node_modules` folder in SignalR, including things like `node_modules/@aspnet/signalr`, which is just a junction to the actual source directory. Git cleans through the link and that wipes everything out.

Given that, the solution is actually super simple. Add `node_modules/@aspnet/signalr` (and `node_modules/@aspnet/signalr-protoc

[2019-05-17 20:49] mkArtakMSFT opened #10348 "Rename Blazor project templates"
In-box is called "Blazor Server App" / blazorserver
OOB is called "Blazor WebAssembly App" / blazorwasm
With an option to add a hosting ASP.NET Core project

[2019-05-17 20:51] anurse commented on #10303
Yes, that is what's causing your issue. The page is rendered **after** the `OnGetAsync` method completes, so what the browser is getting is this:

[code]

This is not valid HTML so browsers may have problems with it.

[2019-05-17 20:54] anurse commented on #10232
So there are absolutely no instances of the old server with the old configuration running? Can you provide more detail on how you are changing the config? If you are setting the database number, the new servers should be picking that up. If any requests are still being processed by the old processes you'll see this.

Does this only happen shortly after the restart? Do the servers eventually stop w

[2019-05-17 20:58] BrennanConroy commented on #6845
We would need to commit the symlink folders otherwise they would probably appear in `git status`

[2019-05-17 21:01] SimantoR opened #10349 "Razor Language Server fails to autocomplete on Razor-specific html tag"
### Describe the bug
A clear and concise description of what the bug is.
Intellisense from Razor Language Server fails when using EditForm. Not sure if its for any other type or just custom types like EditForms.

### To Reproduce
Steps to reproduce the behavior:
1. Using .NET Core SDK 3.0.100-preview5-011568 on MacOS 10.14.4 (18E227)
2. Create a `<EditForm></EditForm>` tag.
3. With cursor at ${cur

[2019-05-17 21:01] SimantoR opened #14322 "Razor Language Server fails to autocomplete on Razor-specific html tag"
### Describe the bug
A clear and concise description of what the bug is.
Intellisense from Razor Language Server fails when using EditForm. Not sure if its for any other type or just custom types like EditForms.

### To Reproduce
Steps to reproduce the behavior:
1. Using .NET Core SDK 3.0.100-preview5-011568 on MacOS 10.14.4 (18E227)
2. Create a `<EditForm></EditForm>` tag.
3. With cursor at ${cur

[2019-05-17 21:03] NTaylorMullen commented on #10349
@SimantoR thanks for the detailed description and bug report. This is definitely something we want to fix!

@mkArtakMSFT do you have a good way to move this issue to aspnet/Razor.VSCode or should I just manually do it? Not sure how we're moving these issues these days.

[2019-05-17 21:05] brockallen commented on #10346
will this mean it's gone from all asp.net core templates? mvc, etc?

[2019-05-17 21:06] schrose commented on #10338
The above error was appearing for me on a project but I realized that I didn't have the correct .Net Core SDK preview version installed. Once that was done I was able to get passed the errors to proceed forward Thank you for your attention on this comment.

[2019-05-17 21:12] JamesNK commented on #9994
An ISO date is a good idea because it does not use the culture.

[2019-05-17 21:13] isaac2004 commented on #10333
@mkArtakMSFT @ryanbrandenburg if this hasn't been started, I can take this, been wanting to contribute to Core for a bit.

[2019-05-17 21:28] danroth27 commented on #10262
@kmuthukumar23 With server-side Blazor apps the .NET based components are prerendered on the server. You see a delay before your JS based components render because the JS code is executed after the connection with the server is established.

You could potentially reduce this delay by running any required JS code client-side after the prerendered response loads.

Hypothetically you could also try t

[2019-05-17 21:32] dougbu commented on #6845
either way, I likes it 😃

[2019-05-17 21:35] anurse commented on #6845
@BrennanConroy true, but the files themselves are already committed anyway so it might just work? There could be a recursion issue though since I think the `node_modules` folder is still under there... Beware when trying this out @BrennanConroy, you might hang git ;).

[2019-05-17 21:53] sebastienros commented on #9868
ResponseCachingResponseNoCache and ResponseCachingRequestNoCache have also regressed (10%) at the same time, so probably related too.

[2019-05-17 21:56] sebastienros opened #10350 "ConnectionClose Perf regression on Linux"
![image](https://user-images.githubusercontent.com/1165805/57958214-e9e3a480-78b3-11e9-9147-a802675bf537.png)

[2019-05-17 21:58] sebastienros commented on #9868
@janvorli any chance you could take a look at this or assign it to someone who could understand the changes? It's one of the most visible scenarios in the TE benchmarks.

[2019-05-17 21:59] HaoK opened #10351 "Add ability to disable client cert validation for Kestrel"
As discussed in https://github.com/aspnet/AspNetCore/pull/9756 would be useful for Cert Auth.

[2019-05-17 22:05] SimantoR commented on #10349
Thank you for the quick response @NTaylorMullen. I started building few internal tools with Blazor and would like this bug rooted out as best as possible. I will try to help with my limited abilities. Blazor is amazing and managing states with it is so much easier and better than the previous webapp with razor approach.

One thing I do wanna ask is, is there any plans to support browser APIs throu

[2019-05-17 22:15] mkArtakMSFT commented on #10333
We will happily consider your PR, @isaac2004!

[2019-05-17 22:29] mkArtakMSFT commented on #10152
Closing this in favor of https://github.com/aspnet/AspNetCore/issues/9901 (dupe)

[2019-05-17 22:29] #10152 closed

[2019-05-17 22:29] janvorli commented on #9868
To make sure I understand - do you mean that my fix to the previous regression has introduced the other regression?

[2019-05-17 22:33] #9834 closed

[2019-05-17 22:33] SteveSandersonMS commented on #5071
Absolutely. I didn't know about the HTML behavior for duplicate attributes (and have been writing HTML for a while...), and have never heard of anyone making use of that behavior deliberately. I see no reason to favour that weirdness over the intuitive convention that's been established in useful cases with JSX etc.

Sure, having it be an explicit named directive attribute is fine.

I can't yet th

[2019-05-17 22:33] sebastienros commented on #9868
Exactly

[2019-05-17 22:35] ryanbrandenburg commented on #7639
From Glen:

[2019-05-17 22:41] isaac2004 commented on #10333
Sweet, is there a particular branch this needs to go in since it is preview 7?

[2019-05-17 22:42] ryanbrandenburg commented on #10346
Clarified the title. Thanks for the eagle eye @brockallen.

[2019-05-17 22:44] SteveSandersonMS commented on #10343
Thanks for the suggestion. I'd recommend following up with https://github.com/mono/mono, since that's the runtime we're using, and support for multithreading is entirely determined by what that runtime supports.

AFAIK, only Chrome has so far shipped support for the WebAssembly threading proposal.

Closing as external.

[2019-05-17 22:44] #10343 closed

[2019-05-17 22:45] danroth27 commented on #10264
Hi @tomRedox,

I'm sorry to hear your hitting issues!

A couple of things that will hopefully help you out:
- The issue you are seeing is due to the IL Linker complaining about a native dependency in your dependency graph (probably from microsoft.entityframeworkcore.sqlserver in this case). Native dependencies won't work when running on WebAssembly (for obvious reasons), so if you want to run clie

[2019-05-17 22:46] #10264 closed

[2019-05-17 22:46] ryanbrandenburg commented on #10333
You should be fine to just put it into master. The milestone just tells our team-members when they should target working on an item, but for something like this which is self-contained work there's no reason it couldn't go in earlier (ie preview 6) if it happened to be finished. We'll just change the milestone once it's merged.

[2019-05-17 22:47] danroth27 commented on #10237
@mkArtakMSFT Could you please move this issue to the https://github.com/aspnet/docs repo?

[2019-05-17 22:57] rynowak commented on #5071
Do you explicitly prefer the directive attribute to `<div @myAttributes>`? We already started work on the parsing for directive attributes assuming that we were going to use that form (just an expression).

If we do end up with a directive attribute for splatting this will simplify Ajay's work, but we should pick the design we think is best.

[2019-05-17 22:59] jkotalik commented on #8838
@anurse as we discussed today, I think we want to do some exploratory work here at a minimum to see if it works.

[2019-05-17 23:20] MattiaDurli commented on #10326
Thanks, I'll contact the manufacturer of the device and ask to correct the error or if is possible to configure it for Chunked requests.
In the meantime, isn't there a way to preprocess the raw httprequest before it gets processed by Kestrel?
I mean, in my selfhosted app, not using IIS or a proxy.

Thanks

[2019-05-17 23:27] danroth27 commented on #9824
Thanks for this suggestion @RyotaMurohoshi! To avoid breaking links to the existing Blazor FAQ we prefer to leave it where it is. However, all of the relevant content from the original Blazor FAQ should now be covered by the [Blazor docs](https://blazor.net/docs).

[2019-05-17 23:27] #9824 closed

[2019-05-17 23:31] #10005 closed

[2019-05-17 23:32] Kaelum commented on #7644
This change breaks the usage of `XmlSerializer.Deserialize(Stream)`.  Do we now need to change `AllowSynchronousIO` to `true`?  Or should we be performing serialization differently?  As stated by others, this is a significant break change over all previous versions of ASP.NET.

[2019-05-17 23:49] brockallen commented on #10346
So that's fuckin' awesome -- I can't tell you how many web apps I create from File->New Project and that's the first thing I have to delete. Wahoo!

[2019-05-18 00:00] danroth27 commented on #9133
Assigning to Taylor as he still believe this is under our control.

[2019-05-18 00:01] leftmostlane commented on #10305
@jeffhollan

[2019-05-18 00:06] danroth27 commented on #10349
@SimantoR We provide integration with browser APIs (through Mono) when they overlap with core .NET APIs, like HttpClient. The community has implement a bunch of JS interop libraries for some browser APIs that you can find on NuGet (see https://github.com/AdrienTorris/awesome-blazor#libraries--extensions for a listing). For other browser APIs you will need to write the JS interop code yourself. Mon

[2019-05-18 00:17] BrennanConroy commented on #6845
Tried various incantations of the above but couldn't get it working

[2019-05-18 00:19] Tratcher commented on #10326
It's possible but not easy. I see you're already using the LoggingConnectionAdapter to debug this. You can take that as a template for making your own connection adapter that pre-parses requests and filters out the bad CRLF.
https://github.com/aspnet/AspNetCore/blob/master/src/Servers/Kestrel/Core/src/Adapter/Internal/LoggingConnectionAdapter.cs
https://github.com/aspnet/AspNetCore/blob/a3c8bd16f7

[2019-05-18 00:21] Tratcher commented on #7644
@Kaelum you should asynchronously pre-buffer the request body in this case. That's how MVC handles it:
https://github.com/aspnet/AspNetCore/blob/093df67c06297c20edb422fe6d3a555008e152a9/src/Mvc/Mvc.Formatters.Xml/src/XmlSerializerInputFormatter.cs#L102-L117

[2019-05-18 00:29] janvorli commented on #9868
Ok, since the only thing the change did was to fix setting the affinity and the respective function is used only for GC threads, it seems that that benchmark dislikes affinitized GC threads for some reason.
Can you please try to run the test with COMPlus_GCNoAffinitize set to 1?

[2019-05-18 00:41] anurse commented on #6845
Back to the drawing board I guess :(.

[2019-05-18 00:44] anurse commented on #6845
There is an issue tracking this in git for windows and it seems like there's a possibility it will be fixed https://github.com/git-for-windows/git/issues/607

[2019-05-18 01:25] #7635 closed

[2019-05-18 01:38] dazinator commented on #5786
This confused me. When looking at the cookie in chrome dev tools, it shows an expirtation date for two years time. Yet I set an expiration for 1 minute for authentication tickets. I am just wondering - does the cookie still need to be submitted for some reason when the auth ticket expires, or should these two dates be the same!?

[2019-05-18 02:22] LuohuaRain opened #10360 "(blazor, razor) Chinese encoding is not supported by the latest preview version"
### Describe the bug
the latest Blazor version:3.0.100-preview5-011568 doesn't support Chinese encoding in .razor file.

I replace English word "Home" in file NavMenu.razor to Chinese word "首页", and dotnet run, it shows garbled words.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core:3.0.100-preview5-011568
2. Run this code

    <ul class="nav flex-column">

[2019-05-18 02:23] rceraline commented on #7823
Is this fixed? After updating to package 1.1.4, the Cannot find module './NodeHttpClient' but now I have this error:

`
NodeInvocationException: Prerendering failed because of error: Error: Cannot find module 'request'
at Function.Module._resolveFilename (internal/modules/cjs/loader.js:580:15)
at Function.Module._load (internal/modules/cjs/loader.js:506:25)
at Module.require (internal/modules/cjs/

[2019-05-18 06:20] #10251 closed

[2019-05-18 06:21] BrennanConroy commented on #10251
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [X] The fix is tests-only.
* [ ] The fix contains product changes (**check all items below**).
	* [ ] Relevant XML documentation comments for new public APIs are present.
	* [ ] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
    	* [ ] The change requires a new article. An issue with an

[2019-05-18 06:30] Knudel commented on #10262
Or you could introduce an OnPrerenderInit() and OnPrerendeInitAsync and the current OnInit and OnInitAsync are javascript save (how it was).

[2019-05-18 09:30] UltWolf commented on #10338
![изображение](https://user-images.githubusercontent.com/18503527/57967496-56b87680-7968-11e9-8e66-fbcda3a87747.png)
Just creating Blazor on ASP. NET CORE Hosted, and without ANY change, just build project, and i get this error in the Server side application.

[2019-05-18 09:37] ztytotoro opened #10363 "Cannot access configuration in docker"
### Describe the bug
The program can't access configuration inside a docker container

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2'
2. Write some code to read the configuration in appSettings.json
3. Publish the source code to a folder
4. Run it with docker compose file
[code]

### Expected behavior
The code works fine without docker

### Screenshot

[2019-05-18 10:55] honkmother commented on #10183
A lot of systems (most notably Android) will choke if you have an underscore as the prefix for a folder name.

[2019-05-18 11:06] opinionmachine opened #10364 "Make EndpointRouting produce verbose logging"
### Is your feature request related to a problem? Please describe.
I am trying to return RedirectToAction() but there something I've misconfigured, so it doesn't work. All information I am getting however is "InvalidOperationException: No route matches the supplied values." I would beg to differ, but looking in the logs, I have no way of knowing what routes ASP.NET Core thinks it has, versus what

[2019-05-18 12:42] wcswanson opened #10365 "How to get the sample code to work with Firefox?"

[2019-05-18 12:48] wcswanson commented on #10365
Contact Manager sample:
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data?view=aspnetcore-2.2
I was able to get the code to run but I had no access to the management pages. I found out that Firefox would not allow @if (SignInManager.IsSignedIn(User)) (_LoginPartial.cshtml) to return turn. Several cookie settings were tried. Finally I tried the Microsoft Edge browser a

[2019-05-18 13:04] wcswanson commented on #10365
After a long break, I found the answer:
Clearing cookies in Firefox:
https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences
To enable all cookies, do one of the following:
    • Select Custom and clear the Cookies check mark.
    • Alternatively, select Standard to restore the default settings.
To learn more about these settings, see the Content blocking article.

[2019-05-18 14:38] chrdlx commented on #9834
Just curious, when an issue like this is CLOSED, does it mean that if I download the latest master, should it be fixed?  Thanks

[2019-05-18 15:03] AlexTeixeira opened #10366 "dotnet watch - Run modified tests instead of all tests"
Hi,

### Current Behavior

Currenlty **dotnet watch** works good, but I think some improvements can be done.

When you save a file and watch is active, all project tests are runned.

But dotnet watch have the filter option to watch only specific **class** or **test method** :
`
--filter "FullyQualifiedName~Project.Namespace.UserService_Test"`

### Expected Behavior

**Scenario:** Developer was upd

[2019-05-18 15:05] hannespreishuber commented on #10303
makes sense, but why not with iisexpress?

[2019-05-18 16:07] ysris commented on #2520
I fixed these exceptions by following the @jrad87 advice. Thanks !

[2019-05-18 16:08] cheng93 opened #10367 "SignalR: IHubClients GroupExcept"
### Is your feature request related to a problem? Please describe.
I require the equivalent to `IHubClients.GroupExcept()` except instead of `excludedConnectionIds` I want to use a userId

### Describe the solution you'd like
a method I can use?
`GroupExceptUserId(string groupName, IReadOnlyList<string> excludedUserId)`

### Describe alternatives you've considered
Attempted to get connectionId via

[2019-05-18 18:47] prajaybasu opened #10370 "Server Side Blazor breaks on Azure App Service on Linux"
Everything (docker images, sdk, etc.) is 3.0 preview 5.

Server Side Blazor breaks on App Service on Linux (Preview) for me due to the following errors in blazor.server.js:

`WebSocket connection to 'ws://<redacted>.azurewebsites.net/_blazor?id=<redacted>' failed: Error during WebSocket handshake: Unexpected response code: 503`

`Error: Failed to start the transport 'WebSockets': null`

The applic

[2019-05-18 19:19] isaac2004 commented on #10333
So is this dependent on #7639?

[2019-05-18 21:43] BrennanConroy commented on #7823
File a new issue with the details of the problem you're seeing. We don't track closed issues.

[2019-05-18 22:28] mprattinger opened #10372 "German float number is not transformed correct"
I have an asp.net core 3 mvc app with an form, where a decimal number 38,5 for example is entered. When submitting the form, the controller gets the value in the model as 385.

### To Reproduce
asp.ne core 3.0 mvc app, german localization, model with a decimal property

### Expected behavior
The value should be transformed to 38.5

Thank you in advance
r Michael

[2019-05-18 22:51] ghstahl commented on #10331
The only clue I have so far from stepping symbols is EndpointDataSource contains only endpoints from the host app and not the referenced projects.

[2019-05-18 23:41] dsuryd opened #10373 "SignalR 3.0-preview5 throws InvalidDataException"
After upgrading to 3.0-preview5, my SignalR server starts throwing `InvalidDataException` when invoking a hub method from a Javascript client (@aspnet/signalr v1.1.0):
[code]

This is the websocket message sent by the browser:
[code]

And this is that hub method definition:
[code]

## Workaround
Changing the hub protocol back to `NewtonsoftJsonProtocol` fixes the issue.

[2019-05-19 00:05] BrennanConroy commented on #10373
In preview 5 only simple types are supported for Dictionary<string, T>. You can try out the daily builds which have more types supported.
________________________________
From: Dicky Suryadi <notifications@github.com>
Sent: Saturday, May 18, 2019 4:41:52 PM
To: aspnet/AspNetCore
Cc: Subscribed
Subject: [aspnet/AspNetCore] SignalR 3.0-preview5 throws InvalidDataException (#10373)

After upgrading t

[2019-05-19 00:45] jvargasvillegas commented on #2202
The same bug that @ancor1369 mentioned.

Once I decorated with the attribute "api/[controller]" it performs.

![image](https://user-images.githubusercontent.com/38851967/57976419-d8c29280-799c-11e9-9f79-33c314eb653d.png)

I almost get crazy!

[2019-05-19 02:35] tastyeggs commented on #3019
I had a similar issue, in my second application, then realized I had forgotten `app.UseAuthentication()` in the `Startup.Configure(..) ` method.

[2019-05-19 03:05] danroth27 commented on #10183
@honkmother Are you then trying to embed Blazor into a native Android app somehow? Would it be sufficient if we changed the default paths to not use leading underscores?

[2019-05-19 04:17] davidfowl commented on #10308
I played with shutdown for a little and it seems like the simplest thing to do would be to scrap `IAsyncDisposable` on the `IConnectionListener` and instead implement graceful shutdown in the transports.

[code]

The token is the signal for how long StopAsync waits before to tearing all of the connections and state down.

[2019-05-19 07:32] davidfowl commented on #10308
An alternative design is to pass a CancellationToken to AcceptAsync, this would be the signal to stop accepting new connections and graceful shutdown would be up to the caller. I think we should try to push that logic into the transports since it's so common.

[2019-05-19 10:17] liguobao commented on #7008
@halter73 We set "options.Limits.MinResponseDataRate = null; ", the  "the connection was closed because the response was not read by the client at the specified minimum data rate" log is miss , but  the app still no work.
The request log still to out and no other log.

[2019-05-19 10:35] EnricoMassoneDeltatre commented on #9242
@Tratcher thanks for helping.

So, the general pattern is **choose a default scheme and then set up forwarding logic for specific cases**.
Indeed, the example that you provide [here](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/policyschemes?view=aspnetcore-2.2) where the cookie authentication is the default and all requests starting by "/api" are forwarded to another schem

[2019-05-19 12:02] MoienTajik commented on #5763
Are there any plans to support this?

Another problem that could happen when there's no `CancellationToken` parameter exists for `Manager` methods is when using **Background Jobs**.

In that scenario, there's no `CancellationToken` explicitly defined to pass to Manager methods and the Job will never cancel. ( There's no `HttpContext` in Jobs, So along with it, there's no `HttpRequest` to call `Htt

[2019-05-19 13:02] darylib commented on #9546
I have the same problem in VS2019 stable version 16.0.4.
But in preview 3.0 version 16.1.0 it's not an issue.

[2019-05-19 13:20] xrkolovos commented on #8149
For the first one, I will provide a project explaining why you can end up having this issue. The main reason is, doing things with generics and inheritance so you can reduce code.
For the second one, I don't thing the alternatives are good code examples. There are ways of hacking the mvc framework. Especially the IAllowAnonymous implementation.

[2019-05-19 13:50] alefranz commented on #9920
Hello!

I had a look at how this could be implemented and I believe this would require some fundamental changes:
- The logic in the `ResponseCacheFilter` is executed in `OnActionExecuting` so the status code is not yet available.
- Adding a conditional in the Response Cache (e.g. only if 200) could probably be counter intuitive without the ability to cascade to the next rule that match, but that w

[2019-05-19 13:55] Tratcher commented on #9242
There is a set of auth schemes that are not mutually exclusive: Basic, Bearer, Windows (Negotiate, NTLM), Digest, etc.. All of their challenges can be issued on the same response without conflicting.

[2019-05-19 14:29] varghesep commented on #5431
I manually upgraded the angular app that runs under ```asp.net core 2.2``` to 8.0 Preview. One major problem that I came across was Angular generates an error related to ```https``` quite often in Chrome, but not on edge. I posted a [question ](https://stackoverflow.com/questions/55892546/how-to-remove-the-sockjs-node-error-for-a-asp-net-core-angular-application)in stackoverflow regarding this.

[2019-05-19 14:52] mohankumar91 opened #10376 "two way binding does not yet handle color picker in blazor"
I have the the following in my index.razor

[code]

[code]

I have updated the color value with this format(#RRGGBBAA) in text value not updated the color  field

[2019-05-19 15:29] akash3456 opened #10377 "Static Html Helper Not Working"
Hi,
Can someone please tell me how the HtmlHelper class in Net Core MVC can be extended?
What I have tried is the following :-
Create HtmlHelper Static Class.
method :- public static string CreateDate(this HtmlHelper,String Message){}

method is not accessible from within the Razor view when i do:

Html.

the ViewImports does have the helper namespace in as well.

Kind Regards

[2019-05-19 16:22] mohankumar91 opened #10378 "Add some way to specify indeterminate checkboxes in blazor"
Add some way to specify indeterminate checkboxes in blazor

Need this output (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox#Indeterminate_state_checkboxes)

[2019-05-19 17:10] SQL-MisterMagoo commented on #9061
FYI - for a workaround, I have found that using a child component to handle the JS Interop works, then I just wired up some Action parameters so the child can notify the Generic parent when something happens.

[2019-05-19 19:06] redradist opened #10379 "[Blazor] System.MissingMethodException: Constructor on type 'System.ComponentModel.ReferenceConverter' not found"
### Describe the bug
During parsing the Json using custom JsonConverter I have got the exception:
`System.MissingMethodException: Constructor on type 'System.ComponentModel.ReferenceConverter' not found`

### To Reproduce
ASP.NET Core 3.0.0-preview5-19227-01
Use deserializer like in this question on stackoverflow https://stackoverflow.com/questions/20995865/deserializing-json-to-abstract-class

##

[2019-05-19 19:37] asp-entwickler commented on #6648
I have the same issue

![image](https://user-images.githubusercontent.com/19171449/57987173-3b3f8f80-7a7e-11e9-8a7b-74796b3f927d.png)

![image](https://user-images.githubusercontent.com/19171449/57987179-4c889c00-7a7e-11e9-8ae2-270fe5856664.png)

[2019-05-19 20:04] codemonkey85 commented on #9562
I'm seeing the same issue following along with the workshop. According to the docs in https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/03-show-order-status.md#polling-for-order-details I'm supposed to use:

`orderWithStatus = await HttpClient.GetJsonAsync<OrderWithStatus>($"/orders/{OrderId}");`

Turns out, removing the first '/' on the route fixes the issue:

`orderWithSta

[2019-05-19 20:04] rosenbjerg opened #10380 "SendFileAsync: bufferSize parameter"
### Is your feature request related to a problem? Please describe.
I am trying to stream large mediafiles using the `SendFileResponseExtensions` and encounter quite high CPU usage

### Describe the solution you'd like
I would like to be able to set the buffer size to use, instead of the hardcoded 1024 * 16.
So I could set it to something like 1MB, to reduce CPU usage (and perhaps improve streaming

[2019-05-19 21:13] umar-ulabs commented on #3167
It is due to Microsoft Visual C++ redistributable 2015(not installed) in the case of .net core hosting bundle 2.0.5

[2019-05-19 22:14] dazinator opened #10381 "[Question] - Blazor - setting up HttpClient default request headers"
Blazor registers a singleton `httpclient` instance.

I'd like to ensure that instance has some default request headers added on application startup. What is the recommended way to achieve that?

1. Should I re-register my own singleton instance (overriding the one blazor registers)
2. Should I run some code on application startup to resolve the singleton instance and add my request headers?
3. Thi

[2019-05-19 23:07] rynowak opened #10382 "Rationalize Razor Compiler diagnostic IDs"
When we merged the components prototype code into the Razor Compiler codebase we basically kept it as-is, but our choices of diagnostic ids are kinda wacky. We picked unusual or large numbers to try and avoid collisions with the mainline compiler, resulting in some unpredictable numbers. We should do a pass and make sure what we have is sane.

Also we should look at the components analyzer that us

[2019-05-20 01:59] #10373 closed

[2019-05-20 02:01] sunnydaleDoby commented on #2315
I am having the same problem.  Was it ever resolved?

[2019-05-20 03:42] briman0094 commented on #4895
I'd have to agree with @JohannSig. I shouldn't need another model class inside my PageModel simply to use the `[Compare]` attribute functionality. One of the benefits of Razor Pages is combining the model and the controller for simple pages to reduce code size, but if I have to create another model for my PageModel to use, it negates this benefit and makes me wondering if I should just go back to

[2019-05-20 06:01] uniqueumang opened #10383 ""HTTP Error 500.30 - ANCM In-Process Start Failure" in Azure when CPU and Memory are maxed out"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
When CPU (100%) & memory (90%) are maxed out in Azure App Service

[2019-05-20 06:28] cremor commented on #8855
@mkArtakMSFT @glennc @pranavkm Can someone please reopen this issue?

[2019-05-20 06:58] tester346 opened #10384 "Global IgnoreAntiforgeryTokenAttribute doesn't disable ValidateAntiForgeryToken"
Tech: ASP.NET Core 2.1

I have an endpoint with those attributes:

	[HttpPost]
	[ValidateAntiForgeryToken]
	[Route("[controller]/[action]")]

When I applied ``IgnoreAntiforgeryTokenAttribute`` globally

	.AddMvc(opts =>
	{
        opts.Filters.Add(new IgnoreAntiforgeryTokenAttribute());
         // or
        opts.Filters.Add(typeof(IgnoreAntiforgeryTokenAttribute));
	})

The result is: It didn't

[2019-05-20 08:19] ivanchev commented on #10325
Some more info:

Testing the same website on our staging server, I receive the following log when failed to reconnect:
[code]

[2019-05-20 08:22] pavelveselev commented on #9862
@anurse please close the issue

[2019-05-20 09:54] SteveSandersonMS commented on #5071
I certainly prefer `<div @myAttributes>` **except** for the potential to clash with future directive attributes.  I also prefer `<div @...myAttributes>` as a best-of-both-worlds solution, except if the implementation involves too much extra expense (and I think you're saying it does).

That said, I don't feel bad about making it a named directive attribute. The only issue is that we haven't settle

[2019-05-20 10:21] LindaLawton opened #10386 "Should we be resetting [SecurityStamp] on removal of external login provider?"
### Describe the bug / Question

Currently if a user has an external login provider (Google / Facebook) set up to their account and you want to remove it you fire.

     var result = await _userManager.RemoveLoginAsync(user, account.LoginProvider, account.ProviderKey);

All good right?  Well I was digging around in the source and i noticed this line [#L993](https://github.com/aspnet/AspNetCore/blo

[2019-05-20 10:29] EnricoMassoneDeltatre commented on #9242
@Tratcher thanks for the explanation.

[2019-05-20 10:29] #9242 closed

[2019-05-20 10:30] AlseinX opened #10387 "Hosting client-side and server-side within the same host and switch dynamically"
Client-side and server-side blazor have both their benefits, and it would be better if we can host them together and determining what hosting model to use during the request.

The client-side javascript should have the ability to determine whether the browser supports wasm (maybe even whether the download speed is enough for downloading the big size of wasm mono within acceptable time cost, or any

[2019-05-20 11:27] ianrathbone commented on #8855
Is this something that is definitely not going to get implemented as I've also come across this issue today while writing an API.

We were expecting to be returning a 204 for a DELETE as there is no content to return...

[2019-05-20 11:51] tungphuong opened #10388 "How to apply .Net core claim-base authorization when using Istio end-user authentication"
Currently, I am using Istio end-user authentication; it is fine, don't need to use any authentication middleware from code but we can still authenticate JWT token from request and reject that request if the token is invalid (return 401).

However, it is out side of the service (implemented by .Net core). So User.Identity will be null and authorization step (by role base or claim base) always be fa

[2019-05-20 11:51] tomRedox opened #10389 "Introduce the concept of state transitions in Blazor to allow for e.g. animations"
### Is your feature request related to a problem? Please describe.
Following on from [my StackOverflow question](https://stackoverflow.com/questions/56219984/how-to-animate-state-transitions-in-blazor)...

In my Blazor components I often render components based on either a conditional statement, e.g.

[code]

Or from a loop, e.g.

[code]

When I change the state I'd like to animate the state trans

[2019-05-20 12:20] sotoabraham commented on #3279
I’m experiencing this issue right now and have not found a solution. See question my post on stack overflow: https://stackoverflow.com/questions/56190165/iloggingbuilder-logging-loglevel-in-appsettings-json-doesnt-seem-to-be-acknowle

[2019-05-20 12:22] tmds commented on #10308
Multiple listeners should be able to use the same LibuvThreads.
Those LibuvThreads could get cleaned up when there are no more listeners and connections, but such a cleanup isn't functionally needed

The complexity is the same whether it is implemented in the transport or the server: track the connections and dispose them.

My feeling is this is making the transport more complex. It needs to track

[2019-05-20 12:49] davidfowl commented on #10308
There’ll be an order of magnitude less transport implementors than consumers of the API. Ideally it should be possible to use the transport APIs directly and still implement graceful shutdown somewhat trivially. That means, gracefully waiting for connections to close (for some threshold), then aborting them if that fails. Do we want that to be in everyone’s logic instead of providing helpers that

[2019-05-20 12:56] davidfowl commented on #10383
I’m not sure we can easily attribute the 100% or 90% CPU usage to the reason why ANCM fails to start. Even though it could be the cause, it’s not necessarily correct to assume it is.

How did you end up in this situation? What was causing the 100% CPU? We’re you just at capacity?

[2019-05-20 13:16] tmds commented on #10308
Wanting to provide this as a re-usable piece of logic doesn't mean it has to be part of the listener.

It seems better separation of responsibility. The listener stays close to a listen socket. Tracking and disposing connections is responsibility of component calling Accept. There is no functional reason the listener needs to take this responsibility.

[2019-05-20 13:24] TheReaLee opened #10390 "Question (OpenIdConnect): On Successful SignUp / Register event?"
Is it possible to subscribe to an event when a user has successfully signed up/registered?

`

            options.Events = new OpenIdConnectEvents()
            {
                OnRedirectToIdentityProvider = OnRedirectToIdentityProvider,
                OnRemoteFailure = OnRemoteFailure,
                OnAuthorizationCodeReceived = OnAuthorizationCodeReceived,
                OnAuthenticationF

[2019-05-20 13:26] SteveSandersonMS commented on #8204
This issue was assigned to me so I would write up some thoughts on resolution, not with the expectation of a fix in preview 6. So here are my thoughts.

@javiercn has already written up some thoughts on the general issue, but in this post I want summarise it from the point of view of typing, since that's probably the worst case.

### The problem

This is a general problem affecting any case where

[2019-05-20 13:29] SteveSandersonMS commented on #8204
Unassigning myself to send this back to triage.

[2019-05-20 13:29] andresrsanchez commented on #5947
This would be awesome for the little problem i have now :)

[2019-05-20 13:33] SteveSandersonMS commented on #5545
@mkArtakMSFT @danroth27 Realistically I'm not going to be in a position to do this during preview 6.

It's been waiting for the new directive attributes feature so it could build on that, but since that isn't in yet so I couldn't start, and I'm unavailable next week, and I will still need the last bits of this week for auth, it just won't fit.

We can either punt the whole thing, or try to identif

[2019-05-20 13:35] pranavkm commented on #10384
Similar discussions about this: https://github.com/aspnet/Mvc/issues/5863, https://github.com/aspnet/Mvc/issues/7795. You could specify an explicit order value when adding the ignore attribute to make this scenario work.

[2019-05-20 13:36] pranavkm commented on #10377
The injected `HtmlHelper` is an `IHtmlHelper<T>` instance. You should update the extension method to target this type: `public static string CreateDate<TValue>(this IHtmlHelper<TValue,String Message){}`

[2019-05-20 13:36] #10377 closed

[2019-05-20 13:37] pranavkm commented on #10184
Feel free to reopen once you've an application to share with us.

[2019-05-20 13:37] #10184 closed

[2019-05-20 13:38] pranavkm commented on #10109
Feel free to reopen once you have an application to share with us.

[2019-05-20 13:38] #10109 closed

[2019-05-20 14:02] krystofzacek opened #10391 "Blazor - bind and EventHandler are exclusive. We should be able to use both."
For no obvious reason I cannot use bind-value-valuechanged and ValueChanged handler  at the same time.

Example:

<ListBox bind-selectedindex="@selectedIndex" SelectedIndexChanged="@OnSelectionChanged" />

This is currently impossible i Blazor. I can only have either bind or EventHandler. It should be possible to have both.

Regards.

[2019-05-20 14:04] mkArtakMSFT commented on #9644
@ajaybhargavb handing this off to you to help out @pranavkm with his load.

[2019-05-20 14:10] arivera12 opened #10392 "Updated to latest Blazor version 3.0.0-preview4-19216-03 and everything is broken."
I followed the instructions of this blog [https://devblogs.microsoft.com/aspnet/blazor-now-in-official-preview/](https://devblogs.microsoft.com/aspnet/blazor-now-in-official-preview/)

My solution was runnning and clean of errors on version 0.0.9 of blazor client side but when I upgraded to version 3.0.0-preview4-19216-03 I had about 230 errors I fixed them 1 by 1 then when I compiled the code aga

[2019-05-20 14:35] davidfowl commented on #10308
While that's completely reasonable, it makes the listener extremely hard to use standalone. In order to properly shutdown, the owner of the accept loop has to know when all of the accepted connections have completed before calling DisposeAsync on the listener. Remember our transports currently manages their own memory and it would be nice if the caller didn't have to do that to avoid ugly unexpect

[2019-05-20 14:35] arivera12 commented on #9863
Every time a blazor event is fired StateHasChanged gets called. I know this is not the way like angular or vuejs does. Angular and Vuejs watch properties to change to then call the re render process, but blazor doesn't seem to work that way.

[2019-05-20 14:41] arivera12 commented on #9851
Why this is closed with no solution provided? I am having all this errors mentioned above.

[2019-05-20 14:41] danrald commented on #10392
You should update to  Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview5-19227-01 but even with that. I am still getting the error, The type of namespace name 'App' cold not be found.  The last stable release was done in November. I think it is all around broke and they are just pulling our leg.

[2019-05-20 14:50] mkArtakMSFT opened #10393 "Add support for `@attribute` directive"
This will enable a syntax for using existing attributes in `.razor` files

[2019-05-20 14:56] SteveSandersonMS commented on #10393
Example usage:

[code]

[2019-05-20 14:57] arivera12 commented on #10392
This have been very frustrating my vs studio doesn't even recognize components, @typeparam, throws errors on every event like onclick, oninput, everything is broken. HttpClient doesnt seem to recognize it at all. I have wasted 1 week trying to fix everything but seems to be something else I can't just even think I had to fix 580 errors for migration when I already fixed 230 of them and after that

[2019-05-20 14:57] mvr-devs commented on #9851
Where can I find preview 5 ?  The latest I see today is Preview 3 ?
![screenshot-docs microsoft com-2019 05 20-09-56-03](https://user-images.githubusercontent.com/36079591/58031241-a2dcf580-7ae5-11e9-8c92-7770c12813f9.png)

[2019-05-20 14:58] arivera12 commented on #10392
I was using version 0.0.9 and everything was running fine and smooth and after upgrade BOOM nothing works.

[2019-05-20 14:59] rynowak commented on #9851
16.1 preview 3 is the correct VS version
3.0.0 preview 5 is the .NET SDK version

[2019-05-20 15:01] rynowak commented on #10393
@ajaybhargavb @NTaylorMullen this is a new kind of token for directives. Keep in mind we will need to support all of the things that the attribute syntax in C# supports.

[2019-05-20 15:11] mvr-devs commented on #9851
Ok..  I see...  I have both of those installed and still getting errors like these ?

![image](https://user-images.githubusercontent.com/36079591/58031995-3fec5e00-7ae7-11e9-9373-7a3ebbf23eaa.png)

But the errors listed in the Error List window are complaining about not being able to find local code

![image](https://user-images.githubusercontent.com/36079591/58032122-85109000-7ae7-11e9-90ec-99397

[2019-05-20 15:33] rynowak commented on #7639
note: that adding an external dependency like this requires a security review, even if we don't expect to find anything.

[2019-05-20 15:34] arivera12 commented on #9851
@mvr-devs I am expecting same errors as well.

[2019-05-20 15:44] rynowak commented on #9851
Take a look at the "Upgrade" section from preview 4 https://devblogs.microsoft.com/aspnet/blazor-now-in-official-preview/

I expect based on these errors that what's missing is `<RazorLangVersion>3.0</RazorLangVersion`

[2019-05-20 15:47] arivera12 commented on #9851
@rynowak I already did that and still having errors
![image](https://user-images.githubusercontent.com/5600102/58034651-0d496200-7af5-11e9-8a87-f80957c8f728.png)

[2019-05-20 15:52] danroth27 commented on #9851
@arivera12 Could you please confirm that you have installed both .NET Core 3.0 Preview 5 and the latest Visual Studio *Preview* (https://visualstudio.com/preview)?

@mvr-devs Could you please also share the contents of your project file?

@arivera12 @mvr-devs When you build from the command-line (`dotnet build`) do your projects build cleanly?

[2019-05-20 15:53] arivera12 commented on #9851
@danroth27 I installed preview 5 at first try but falled back to preview 4 trying to make it work. I will update again. brb.

[2019-05-20 15:59] mvr-devs commented on #9851
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <LangVersion>7.3</LangVersion>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.Authentication.JwtBearer" Version="3.0.0-preview3-19153-02" />
    <PackageReference Include="Microsoft.AspNetCore.Blazor.Server" Version="0.9.0-preview3-19154-02" />

[2019-05-20 16:00] mvr-devs commented on #9851
![image](https://user-images.githubusercontent.com/36079591/58035485-7ed1e200-7aee-11e9-84e7-4daf0267f3a2.png)

[2019-05-20 16:05] danroth27 commented on #9851
@mvr-devs To migrate this project to Preview 5 you need to follow the "Upgrade an existing project" steps in both these blog posts:
- https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-0-preview-4/
- https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-0-preview-5/

[2019-05-20 16:05] arivera12 commented on #9851
@danroth27 `dotnet build` throws 588 errors...

[2019-05-20 16:06] mvr-devs commented on #9851
Ok Thanks !!

[2019-05-20 16:06] danroth27 commented on #9851
@mvr-devs Once you've done that if you're still hitting issues share your upgraded project file here and we'll take another look.

[2019-05-20 16:08] JustinCouto commented on #10170
@Lupusa87 unfortunately, that doesn;t provide CSS Isolation.  That means you still get CSS bleed and all the other issues of Global Scoped CSS.

[2019-05-20 16:08] danroth27 commented on #9851
@arivera12 Could you please share the output of `dotnet --version` and the full contents of your project file?

[2019-05-20 16:08] pranavkm commented on #3755
Added `Microsoft.Extensions.DependencyModel` to the list. Changed as part of https://github.com/aspnet/AspNetCore/pull/10271

[2019-05-20 16:10] #4332 closed

[2019-05-20 16:17] mkArtakMSFT commented on #10391
Thanks for contacting us, @krystofzacek.
This is not supported at the moment. If you want to set event-handler directly, you can't use `bind-`.

[2019-05-20 16:17] #10391 closed

[2019-05-20 16:18] mkArtakMSFT commented on #10389
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-05-20 16:18] arivera12 commented on #9851
@danroth27
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview5-011568
 Commit:    b487ff10aa

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview5-011568\

Host (useful for support):
  Version: 3.0.0-preview5-27626-15
  Commit:  61f30f5a23

.NET Core SDKs ins

[2019-05-20 16:20] arivera12 commented on #9851
@danroth27  u want a copy of my solution?

[2019-05-20 16:20] mkArtakMSFT commented on #10387
Thanks for contacting us, @AlseinX.
This is not something we plan to do in the near future.

[2019-05-20 16:20] #10387 closed

[2019-05-20 16:24] mkArtakMSFT commented on #10381
Thanks for contacting us, @dazinator.
You can go with both options you've suggested above. As for where is the best place for initialization logic - DI system has comprehensive docs https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.2 showing how to do that.

[2019-05-20 16:24] #10381 closed

[2019-05-20 16:28] mkArtakMSFT commented on #10379
Thanks for contacting us, @redradist.
What's most probably happening here is that your custom converter is being wiped by the linker. You can make sure that doesn't happen by configuring it manually as described here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/configure-linker?view=aspnetcore-3.0

[2019-05-20 16:28] #10379 closed

[2019-05-20 16:28] kmuthukumar23 commented on #9851
Hi @arivera12

1. Make ensure if your project files contains .cshtml...if it exist, need to change as .razor.

2. Or else please share your proj structure and .csproj file

[2019-05-20 16:29] mkArtakMSFT commented on #10378
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-05-20 16:29] ReubenBond commented on #10308
In systems containing both clients and servers (or nodes which are both, eg Orleans silos), there's going to be some kind of connection tracking anyway.

Eg, Orleans actively closes connections to nodes which are declared dead (voted out by the cluster because they are not functioning). In that case the listener continues operating but some subset of connections are terminated. Clients and servers

[2019-05-20 16:30] mkArtakMSFT commented on #10376
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-05-20 16:35] arivera12 commented on #9851
My solutions exceeds 10 MB cant attach it here. Cant share my project alone cause it has dependencies on other projects.

[2019-05-20 16:35] danroth27 opened #10397 "Making HTTP requests from Blazor apps"
There are a number of rough edges with the current support in Blazor for making HTTP requests:
- How to configure the HttpClient provided from DI? To add custom headers, etc. (https://github.com/aspnet/AspNetCore/issues/10381)
- Should we be using IHttpClientFactory?
- HttpClient is provided as a service for client-side Blazor but not server-side Blazor. Lots of folks are jumping through hoops to

[2019-05-20 16:39] danroth27 commented on #9851
@arivera12 I just want to see your updated project file (.csproj) for the project that fails to compile.

[2019-05-20 16:47] arivera12 commented on #9851
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
    <RestoreAdditionalProjectSources>
      https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json;
      https://dotnet.myget.org/F/blazor-dev/api/v3/index.json;
    </RestoreAdditionalProjectSources>
    <LangVersion>7.3</LangVersion>
    <RazorLangVersion>3.0</RazorLangVersion>

[2019-05-20 16:53] danroth27 commented on #10325
@mkArtakMSFT Please assign for investigation.

[2019-05-20 17:01] uniqueumang commented on #10383
We have 61 apps deployed on small single instance.

[2019-05-20 17:03] mkArtakMSFT commented on #10384
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-05-20 17:03] #10384 closed

[2019-05-20 17:04] mkArtakMSFT commented on #10372
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-05-20 17:05] arivera12 commented on #9851
This is one simple custom component I created and throws a lot of errors.
[code]

![image](https://user-images.githubusercontent.com/5600102/58039140-da589b80-7aff-11e9-846d-0e0f0459fe0c.png)
![image](https://user-images.githubusercontent.com/5600102/58039079-b5fcbf00-7aff-11e9-884d-fee201387314.png)

[2019-05-20 17:06] mkArtakMSFT commented on #10364
Please share with us the logs you see so we can try to help you out.

[2019-05-20 17:08] mkArtakMSFT commented on #10338
Please make sure you have both the latest SDK as well as the latest VS 2019 preview installed on your machines.

[2019-05-20 17:09] mkArtakMSFT commented on #10338
Also, if you're having the issue still, please share the output from `dotnet --info` in here.

[2019-05-20 17:09] jkotalik commented on #10383
Do you have the autoStart feature enabled? Can you try increasing the startupTimeoutLimit? See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.2#attributes-of-the-aspnetcore-element

[2019-05-20 17:10] danroth27 commented on #9851
@arivera12 Try removing the item group in your project file with all the .razor files listed in it.

[2019-05-20 17:11] mkArtakMSFT commented on #10331
Thanks for contacting us, @ghstahl.
This got fixed today: https://github.com/aspnet/AspNetCore/issues/4332
Closing this issue as a dupe.

[2019-05-20 17:11] #10331 closed

[2019-05-20 17:12] mkArtakMSFT commented on #10330
Thanks for contacting us, @mysteryx93.
This is not something we support at the moment but we will consider it in a future release.

[2019-05-20 17:13] danroth27 commented on #10325
@Stamo-Gochev This should only happen if the server gets shutdown or recycled. For example, in VS this can happen if you edit a C# file. VS will detect the file change and then restart the app.

[2019-05-20 17:14] uniqueumang commented on #10383
We ran few experiments & it feels like it is high CPU usage which is causing application not to start. For example, when our application doesn't start, by simply stopping an existing app in 'Application Service plan'  then our application starts.

Again this might be symptoms not actual problem.

[2019-05-20 17:16] arivera12 commented on #9851
@danroth27  then?

[2019-05-20 17:18] mkArtakMSFT commented on #10324
Thanks for contacting us, @HansMusterWhatElse.
You can register your implementations as `singleton` and refer to the `HttpContext` accessor to resolve it.
Other than that the current implementation of the framework for `IStringLocalizer` expects it to be `singleton` and when that changes, things don't work the way they should.

[2019-05-20 17:18] #10324 closed

[2019-05-20 17:19] mkArtakMSFT commented on #10323
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-05-20 17:20] mkArtakMSFT commented on #10317
Thanks for contacting us, @huan086. Would you like to send a PR for this? We'd happily consider it!

[2019-05-20 17:22] mkArtakMSFT commented on #10291
@rosieks, would you be interested in sending us a PR for this? we'd happily consider it.

[2019-05-20 17:22] kmuthukumar23 opened #10398 "Native events for custom components return null in the HTML DOM"
### Describe the bug
When create native events to the custom components and doesn’t use it in the sample side, it will bind null value in the HTML DOM.

I have created two native events to the FormInput (custom UI component).

![Annotation](https://user-images.githubusercontent.com/31958591/58039914-ba51c800-7b51-11e9-896c-050316830d31.png)

The onclick event alone bound in the sample side, but th

[2019-05-20 17:22] #10278 closed

[2019-05-20 17:25] mkArtakMSFT commented on #10277
Thanks for contacting us, @asbjornu.
Given that we've heard this ask several times now, we're going to try to squeeze this in to 3.1 release.

[2019-05-20 17:25] mkArtakMSFT commented on #10277
@asbjornu feel free to send us a PR, if you'd like, and we'll consider it.

[2019-05-20 17:25] Stamo-Gochev commented on #10325
When testing using IIS Express (running from Visual Studio) I am not changing any of the code. The case is similar when hosting using IIS/Kestrel - what might cause the server to shutdown? Is there a way to handle the reconnection from the server?

[2019-05-20 17:25] mkArtakMSFT commented on #10254
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-05-20 17:25] #10254 closed

[2019-05-20 17:26] ehouarn-perret opened #10399 "Identity: the token cannot be unprotected after a certain time / duration"
We have an ASP.NET Core application using identity to deal with user identification. There is something wrong that happens when the user wants to confirm his /her email.

In the `Startup.ConfigureServices(IServiceCollection services)`, the setup is achieved following this configuration:

[code]

When sending the email with the link to confirm the user email, the token is fetched this way:

[code]

[2019-05-20 17:28] mkArtakMSFT commented on #10233
Thanks for contacting us, @atotalnoob.
You've actually came up with the right way to handle this.

[2019-05-20 17:31] uniqueumang commented on #10383
How do I make sure autoStart is enabled?
Also, the default timeout is 120s (which I think is high enough). what are we trying to achieve by increasing it?

[2019-05-20 17:31] mkArtakMSFT commented on #10224
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-05-20 17:34] mkArtakMSFT commented on #10196
Thanks for contacting us, @mammadkoma. We're closing this issue in favor of tracking the work in the issue referenced above.

[2019-05-20 17:34] #10196 closed

[2019-05-20 17:38] mkArtakMSFT commented on #9990
Thanks for contacting us, @ioer2008. You can customize view discovery following this article: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/overview?view=aspnetcore-2.2#view-discovery

[2019-05-20 17:38] #9990 closed

[2019-05-20 17:39] mkArtakMSFT commented on #9983
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-05-20 17:39] #9983 closed

[2019-05-20 17:48] ivanchev commented on #10325
We're hosting this on IIS as well on the staging server, with the same results. Using the default app pool, without any specific configuration.

[2019-05-20 17:50] mkArtakMSFT commented on #9729
Thank you for your feedback.
`Index` page is considered the default and is part of the default convention. If you'd like to change it you should provide your custom convention: https://docs.microsoft.com/en-us/aspnet/core/razor-pages/razor-pages-conventions?view=aspnetcore-2.2

[2019-05-20 17:50] #9729 closed

[2019-05-20 17:51] mkArtakMSFT commented on #9695
@davidfowl was this revoled? Is there any pending work here?

[2019-05-20 17:53] mkArtakMSFT commented on #9675
Thanks for contacting us, @jingliancui.
@javiercn  can you please answer this question? Thanks!

[2019-05-20 17:54] danroth27 commented on #10325
Is there any chance that the app was recycled in the staging environment when this happened?

[2019-05-20 17:54] mkArtakMSFT commented on #9645
Thanks @KirillOsenkov.
@NTaylorMullen this is your to tackle.

[2019-05-20 17:56] rceraline opened #10400 "Signalr with Angular SSR: Cannot find module 'request'"
### Describe the bug
When using SignalR with Angular in SSR it throws an error. It used to be the error describe in this issue https://github.com/aspnet/AspNetCore/issues/7823 but after updating to version 1.1.4, the error is now the following:

NodeInvocationException: Prerendering failed because of error: Error: Cannot find module 'request' at Function.Module._resolveFilename (internal/modules/c

[2019-05-20 17:57] Tratcher commented on #9695
@mkArtakMSFT the only proposed changes are in Swashbuckle.

[2019-05-20 18:04] rynowak opened #10401 "value handling for checkbox initial state is dependent on the attribute ordering"
It looks like this logic: https://github.com/aspnet/Blazor/blob/dev/src/Microsoft.AspNetCore.Blazor.Browser.JS/src/Rendering/BrowserRenderer.ts#L227

Depends on the order in which attributes are applied to an element.

On the initial render pass if you end up with C# code like:
[code]

The `type` attribute will be set after the value attribute, which will prevent it from being remapped to 'checked

[2019-05-20 18:04] #10401 closed

[2019-05-20 18:18] natemcmaster commented on #10299
ACK. Will take a look in the next milestone.

[2019-05-20 18:22] Tratcher commented on #4666
Re-opening based on offline discussion:

Extra small. It would be one new overload of this method that doesn’t throw:
https://github.com/aspnet/HttpAbstractions/blob/bc7092a32b1943c7f17439e419d3f66cd94ce9bd/src/Microsoft.AspNetCore.Authentication.Core/AuthenticationSchemeProvider.cs#L136-L156

We might want to wait for C# 8 default interface implementations though (later in 3.0).

[2019-05-20 18:28] arivera12 commented on #9851
@danroth27 I upgraded my visual studio enterprise to latest preview and now components are working. What I am seeing as an errors now its that components can be called within their namespace in the app like <mynamespace.components.mycomponent /> or place  @using mynamespace.components at the top of the component file so component can be called without their namespace. I will fixing this issues I w

[2019-05-20 18:57] halter73 commented on #7008
If Kestrel was logging "the connection was closed because the response was not read by the client at the specified minimum data rate" before and you disabled the MinResponseDataRate it's very unlikely you fixed the root issue which is that the client isn't ACKing the response.

By setting the min rate to null, Kestrel will no longer kill the TCP connection for this reason, but Kestrel cannot force

[2019-05-20 19:10] halter73 commented on #10308
There should be a convenient way to close the listener in a way that tells it to stop accepting new connection and at least tries to wait for all the already-accepted connections to be closed gracefully (perhaps with some timeout). This wouldn't only mean waiting for the sockets to close, but it would also mean waiting for DisposeAsync to be called on all the accepted ConnectionContexts as a means

[2019-05-20 19:29] javiercn opened #10402 "Support linked files for static web assets coming from libraries"
We don't have support for linked files
[code]

We might want to add this in the future based on demand.
We are not sure this even works today with regular content. (Might work at publish, but definitely not at build).

[2019-05-20 19:34] darrenfurr opened #10403 "Question: Will signalR support gRPC?"
My understanding is that SignalR supports TCP binding, but is it in the roadmap to for signalR to implement gRPC?

I'd like to continue to use signalR interfaces, hubs, etc, but have it use gRPC under the covers. IE: Instead of WebSockets it uses HTTP/2.

Thanks.

[2019-05-20 19:51] danroth27 commented on #9851
@arivera12 Cool, it sounds like things are working as expected now. Just to summarize for folks hitting similar issues, the following are required to work with the latest Blazor preview in Visual Studio:
- The latest Visual Studio Preview (https://visualstudio.com/preview)
- .NET Core 3.0 Preview 5 (https://dot.net/get-core3)
- Migrated any existing projects as per the instructions in the release

[2019-05-20 20:00] redradist opened #10404 "[Question] How to add Custom JsonConverter to Blazor Client application"
I have created my own custom JsonConverter for custom data structure ... But I can use it only with JsonConvert.DeserializeObject directly
It would be nice somehow to register in Blazor Client Application Custom JsonConverter
But using services.AddMvc() it is not possible because is not found anywhere in assembly as extension method

How to add custom JsonConverter ?

[2019-05-20 20:05] ghstahl commented on #4332
Lots of 3.0 talk going on here.  Is this also going to get fixed in 2.2 or is that a dead branch?  My problem #10331 happened on 2.2.

[2019-05-20 20:07] arivera12 commented on #9851
@danroth27 I migrate the entire project we are back running smoothly Thank you so much!

[2019-05-20 20:11] arivera12 commented on #10392
Ok here is the solution. You need to download the last available net core SDK. Upgrade you visual studio to the last available preview version. Then upgrade you blazor nuget dependencies. Then migrate the components namespace as required. Please follow this links below for more details.
[https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-0-preview-4/](https://devblogs.microso

[2019-05-20 20:11] #10392 closed

[2019-05-20 20:25] ivanchev commented on #10325
We will check if we can monitor the logs, and cross reference them with any dropped connections. Will write back as soon as we have a clear answer to this.

[2019-05-20 20:33] pranavkm commented on #4332
@ghstahl we will usually consider targeted fixes for 2.1 \ 2.2. Unfortunately the approach we took to fix this issue incurred a fairly substantial change so porting it the change as-is wouldn't be an option.

[2019-05-20 20:43] mprattinger commented on #10372
Hi,

i have created a similar project and published it to github:

https://github.com/mprattinger/WebApplication8

Thanks for checking,
r Michael

[2019-05-20 20:46] BrennanConroy commented on #10250
The warning is a really annoying "feature" when someone writes an `IAsyncEnumerable<T>` hub method that accepts a `CancellationToken` (which means SignalR will create a CTS internally for the hub method and cancel it appropriately).

So now customers will be forced to add the attribute or ignore the warning.

[2019-05-20 20:53] halter73 commented on #8843
Reopening since the attempted fix was reverted by #10315

[2019-05-20 21:06] RemiBou commented on #7023
I have this bug as well, you can find my layout here : https://github.com/RemiBou/Toss.Blazor/blob/pure-css-no-bootstrap/Toss.Client/Shared/Layouts/MainLayout.razor.

It seems like the rendering is called with the new url but without loading the good page component.

[2019-05-20 21:20] sapatelbaps commented on #9991
I have latest Visual Studio 2019 and .NET Core Preview 3 latest as well as of today.
But still I am unable to compile my first Blazor project as it says unable to find "App".
Did "Update-Package –reinstall" and restart VS but nothing worked for me.

[2019-05-20 21:33] bradygaster opened #10407 "Muxed connections design"
Design a way to allow “muxed” connections so the Server would still need to make an outbound connection to itself or the service, but it would be one connection and all the actual virtual connections would be tunneled through it (like how the Service connects to the Server today). cc @anurse @danroth27

During 3.0, we're currently committing to an implementation design, but not to the implementati

[2019-05-20 21:40] sunnydaleDoby commented on #2315
The problem was solved (for me) by this post:
https://forums.xamarin.com/discussion/146467/reference-to-type-assembly-claims-it-is-defined-in-system-runtime-but-it-could-not-be-found

[2019-05-20 21:42] enetstudio opened #10408 "DO NOT DELETE OLD ISSUES..."
A couple of months ago, seeing that as a reslut of moving from Blazor to AspNetCore, some issues were removed, I've asked you guys NOT TO DELETE Blazor old issues, and was told that you do not intend to do so... If so, where in the world are these issues:
https://github.com/aspnet/Blazor/issues/236
https://github.com/aspnet/Blazor/issues/1355
https://github.com/aspnet/Blazor/issues/1088
https://gi

[2019-05-20 21:46] shirhatti commented on #10403
Assuming I understood correctly, it sounds like you want an HTTP/2 transport for SignalR and your request doesn't really involve gRPC. As such I'm deferring to SignalR folks to take a stab at answering that.

[2019-05-20 21:56] RemiBou commented on #7023
Event with the error message, the page is well displayed with the good component.

Here is the error stacktrace from the console

It seems that in RenderTreeDiffBuilder line 614 newFrame.ComponentType is still equal to Index instead of Tag.
I have no idea how I can debug through this source code, I can provide more information for running the project if needed.

[2019-05-20 22:07] danroth27 commented on #5071
I actually like `@splat="myStuff" 😃. It's the same terminology used by [Powershell](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_splatting?view=powershell-6) (for better or worse).

[2019-05-20 22:12] galvesribeiro commented on #5071
I think `@...myAttributes` would be better as it works "similar" to what the deconstruction is on plain ES6...

[2019-05-20 22:19] RemiBou commented on #7023
I found a workaround : do the navigateto after a task.Delay.
[code]

[2019-05-20 22:29] asbjornu commented on #10277
I would like to provide a PR, but some guidance on how this should work would be nice. I'm also unable to build `Mvc.sln` on macOS 10.14.4:

[2019-05-20 22:39] danroth27 commented on #10408
We recently turned off the issue tracker on the https://github.com/aspnet/blazor repo to try to reduce the amount of traffic that we were getting there now that we've migrated Blazor into this repo. This means you now get a 404 for issues that weren't moved to this repo, which I assume is only issues that were already closed at the time we did the migration.

@enetstudio Just so we understand the

[2019-05-20 22:48] danroth27 commented on #10237
| Browser | Version |
| :--- | :--- |
| Microsoft Edge | current |
| Mozilla Firefox | current |
| Google Chrome; includes Android | current |
| Safari; includes iOS | current |
| Microsoft Internet Explorer | 11 |

[2019-05-20 22:49] danroth27 commented on #10226
Since we can't reproduce this, I'm going to go ahead and close this issue.

[2019-05-20 22:49] #10226 closed

[2019-05-20 22:54] Eilon commented on #10408
Yeah turning off an issue tracker is usually a big no-no... but it's a trade-off, of course.

[2019-05-20 22:55] danroth27 commented on #9071
This is covered today: https://github.com/aspnet/Tooling-ManualTests/blob/rel/16.1/E2EWalkthroughs/VS/AspNetCore30/30_SimpleWebAppWithServerSideBlazor.md. We'll need to update this test once the SignalR detection logic is available with d16.2.

[2019-05-20 22:55] #9071 closed

[2019-05-20 23:14] guardrex commented on #10397
I took a stab at this (admittedly more client-side than server-side at this time) ... but it's 50-50 .... 50% chance I did some good work there and a 50% chance that *a lightening bolt from the gods is going to hit me any second!* :zap:

[Blazor call web API topic with sample (aspnet/AspNetCore.Docs #12477)](https://github.com/aspnet/AspNetCore.Docs/pull/12477)

[2019-05-20 23:15] anurse commented on #10407
Clearing the milestone. We'll milestone it in Triage. I'd like to keep things out of the 3.0.0 milestone unless they are epics.

[2019-05-20 23:17] anurse commented on #10250
Yep, that's more of a question on how the C# compiler wants to handle this though. I think our best way forward is to react and see how customers feel about it.

[2019-05-20 23:23] #9862 closed

[2019-05-20 23:57] guardrex commented on #10397
With the invalid cert allowance (which might be bad to even show in a preview topic) ...

[code]

[code]

[code]

[2019-05-21 00:51] BrennanConroy commented on #10250
Done via https://github.com/aspnet/AspNetCore/pull/10411

[2019-05-21 00:51] #10250 closed

[2019-05-21 01:20] blowdart commented on #10399
- What is your hosting environment?
- Has the app restarted when the failures start to happen?
- How is data protection configured? (If you aren't configuring it then your startup logs will show some information from data protection about the configuration it's using)

[2019-05-21 01:21] blowdart commented on #10390
That is not something OIDC exposes, presumably for privacy reasons, because it shouldn't be your apps concern if a user is new to the identity provider or not,, so it's not something we can support.

[2019-05-21 01:23] blowdart commented on #10386
Yes. We make the assumption that removing an external login may be because that login is no longer under your control, so we want to logout everywhere to force cookies issued through that login flow are no longer valid.

[2019-05-21 02:16] blowdart commented on #10388
You can't.

You need some sort of middleware to construct the User object for it to be usable by authorization. If Istio passes information along in headers you'd be able to write middleware to use those, but it's going to be very custom.

[2019-05-21 02:18] blowdart commented on #10365
That's odd. The only thing I can think of here is that you were running the sample over HTTP, and there had already been a cookie dropped when on HTTPS, at which point browsers can get confused.

[2019-05-21 02:27] blowdart commented on #10328
As you have a working solution, I'm going to close this for now. If you have questions on the same topic please reopen the issue.

[2019-05-21 02:27] #10328 closed

[2019-05-21 03:42] tmds commented on #10308
Do you want to make the lifetime of the memorypool match the lifetime of the listener?
Even without listeners you need a memorypool to make out-bound connections.

[2019-05-21 04:05] Eilon opened #10414 "Wrong capitalization of 'JavaScript' in some site.js template files"
For example:
* https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-FSharp/wwwroot/js/site.js#L4

But there might be others.

It should be `JavaScript`, not `Javascript`.

[2019-05-21 04:11] rxelizondo commented on #10389
Perhaps this is implied in the original post, but another thing that would be really nice to have animated would be page transitions.

Essentially, it would be nice that as you navigate from page to page, the new pages would swoop in and out from the left, right, up or down depending on some setting. I am very new to Blazor so I am not sure if this is possible to do right now but I have a feeling

[2019-05-21 05:19] #10390 closed

[2019-05-21 05:55] mkArtak commented on #10408
Thanks for contacting us, @enetstudio.
It was an intentional decision to do so. If there are specific set of issues you're passionate about and have a good reason behind asking these to be available again, please list those, and we'll manually transfer those to `AspNetCore` repo.

[2019-05-21 05:59] chucker commented on #5071
And:

Yup.

“Splat” seems weird to me (I guess those familiar with the name will feel right at home, though?). “Combine” explains the function better, but the similarity in purpose to C# `params` arrays makes that one a great contender.

[2019-05-21 06:00] davidfowl commented on #10308
Yes.

Not sure what you mean here. Listeners don't have outbound connections. You might be referring to the PR where we I currently implement the `IClientFactory` on the `SocketTransportFactory` as well?

In theory, you can ref count connections to avoid disposing the memory pool too early (but then why not implement the entire connection tracking to simplify the logic).

I think we want to be in

[2019-05-21 06:07] danroth27 commented on #8904
@rynowak I think the experience we have with the `para` snippet in the Blazor VSIX is fine. There are plenty of other snippets that show up that are project type specific already (like all the WPF related ones: propa, propdp, etc.), so I don't see any issue with adding another one more.

@mkArtakMSFT Please assign

[2019-05-21 06:33] bastienlemaitre opened #10416 "Question - How to update Login form and other page from Angular SPA Auth Individual"
Hi,
How to update Login form and other page from Angular SPA Auth Individual ?
I've tried to recreate same page in same folder  Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal.LoginModel but it doesn't override it.

Any idea ?
Thanks

[2019-05-21 06:50] tmds commented on #10308
IConnectionFactory connections are not tied to a listener lifetime.

Another possibility is that the memory pool stays around (and maybe reduces size based on memory pressure).

[2019-05-21 06:54] davidfowl commented on #10308
See what I posted, the listener and IConnectionFactory are decoupled. They happened to be implemented on the same PR but it's a draft so that's completely unrelated. Pretend they are different objects, the IConnectionFactory could

Yeah but that's complicated and we don't need to complicated things here. Reference counting would be a much easier solution to implement (track connection ConnectAsync

[2019-05-21 07:04] danroth27 commented on #7851
The original issue described by this bug appears to now provide a much better error:

![image](https://user-images.githubusercontent.com/1874516/58075150-ce9ac280-7b5b-11e9-803f-dc25f5354aa1.png)

As for the design question, you are correct that there is no point in calling into an API hosted on the server when running a server-side Blazor app. Instead you can inject services into your components

[2019-05-21 07:04] #7851 closed

[2019-05-21 07:05] imtrobin opened #10417 "Flurl not working, HttpClient working"
Hi , I added Flurl as a library dependency in a new hello world project. Httpclient works, but flurl does not. There is no error warning.

        public static async Task <string>   TestGetString ()
        {
            // This does not work Flurl
            // return await "https://www.mocky.io/v2/5185415ba171ea3a00704eed".GetStringAsync ();

          // this works fine.
            string UR

[2019-05-21 07:18] danroth27 commented on #7536
Related VS tracking issue: https://developercommunity.visualstudio.com/idea/575690/show-checkbox-option-for-aspnet-core-razor-class-l.html

[2019-05-21 07:24] HansMusterWhatElse commented on #10266
This issue can be closed, renaming the cookie has shown a drastic decrease of exceptions.

[2019-05-21 07:24] #5629 closed

[2019-05-21 07:24] #10266 closed

[2019-05-21 07:32] danroth27 commented on #5085
At this point we have no plans to support tooling for Razor files in anything but C# based projects. Since we don't have any plans to try to support Razor in other projects, I'm going to go ahead and close this issue.

[2019-05-21 07:32] #5085 closed

[2019-05-21 07:35] danroth27 commented on #5717
We now have support for using IdentityServer with ASP.NET Core 3.0 which I believe covers this scenario: https://docs.microsoft.com/aspnet/core/security/authentication/identity-api-authorization

[2019-05-21 07:35] #5717 closed

[2019-05-21 07:51] tomRedox commented on #3215
I had this with an IIS deployment on a Windows Server 2016 VM after installing .NET Core 3 Preview and running my first Core 3 web app.  After lots of IIS restarts and a huge amount of faffing with code (because I thought the issue was there) it finally occurred to me to restart the server, which then magically fixed it.

I could here the words "have you tried turning it off and on again" ringing

[2019-05-21 07:57] rosieks commented on #10291
Yes, I can send you a PR for that

[2019-05-21 08:07] ivanchev commented on #10325
The Log doesn't show any useful info. Here's a crash error:
`[2019-05-21T06:53:45.046Z] Error: Connection disconnected with error 'Error: WebSocket closed with status code: 1006 ().'.`

And here's the log from the staging server at that time:
[code]

I had several tabs loaded, and they all crashed at the same time.

Could you also clarify what do you mean by recycling the app - the pool or the app

[2019-05-21 08:29] #10386 closed

[2019-05-21 08:30] tungphuong commented on #10388
Thanks @blowdart, currently, do we have any available middleware to analyze JWT token and construct the User object in .Net Core without validate back IDP? Or could you please share me the source code to build it?

[2019-05-21 08:37] CornedBee commented on #5489
Router should be more flexible in determining what components it looks at. Currently it simply takes a single assembly and searches that and its dependencies. I think it would be nice if the line `var types = ComponentResolver.ResolveComponents(AppAssembly);` would be turned into an overridable function. Then I could, for example, determine the set of types to look at based on configuration files

[2019-05-21 09:18] Stamo-Gochev commented on #10325
The findings so far show that the problem is caused by an (unexpected) restarting of the w3wp.exe process on our end (on the staging environment) and I am not able to reproduce the problem when the app is hosted on my IIS (by making sure nothing is modified, restarted, etc.). We will further investigate, but the issue seems caused by our environment.

[2019-05-21 09:23] ehouarn-perret commented on #10399
@blowdart

The issue happens when hosted on Windows 2016 Server with IIS + ASP.NET Core Bundle Module

No, it has not.

Didn't configure it and seems that nothing shows up in our logs on Kibana... nor does it show anything if I am trying to run our solution locally.

[2019-05-21 10:10] enetstudio commented on #10408
@danroth27, @Eilon, @mkArtak
The Issues constitute an important source of learning and reference for thousands of developers. They are referenced by other issues in github as well as by external sites, such as stackoverflow. I'm a very active user in stack overflow,  and often, in order to back my answers or clarify something, provide a link to an issue in github. But this is not only me... Many a

[2019-05-21 10:37] strich commented on #9983
I don't think this is really acceptable. It is a potentially serious issue and what if the root cause is some local config rather than something specific to the repro project? I feel you need to make SOME effort to help me debug the problem rather than simply sweep it under the rug.

Whilst I am on the subject - I tried the same project on another PC I own and the problem does not present itself.

[2019-05-21 10:43] alexiordan opened #10418 "Not enough memory error on HubConnection.StartAsync()"
On a Windows 10 Iot Core, in UWP BackgroundTask app, using Microsoft.AspNetCore.SignalR.Client v.1.1.0

When trying to connect (` await HubConnection.StartAsync()`) I encounter following error.
It doesn't happen every time and I do not know how to reproduce it.
However when it happens, it makes the entire system useless.

Maybe some of you know about this... Is this a known issue or something?

 

[2019-05-21 12:55] grahamehorner opened #10419 "JwtBearerHandler IssuerSigningKeys"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
The JwtBearerHandler seems to attempt to validate issuer signing

[2019-05-21 13:18] blowdart commented on #10388
If the [jwt middleware](https://github.com/aspnet/AspNetCore/tree/master/src/Security/Authentication/JwtBearer) doesn't allow you to disable the metadata retrieval for signing keys, and I don't think it does, then it's probably the best place to start.

[2019-05-21 13:20] blowdart commented on #10399
Lack of logs is interesting, because the startup logs definitely contain config information.

Did you configure IIS for dataprotection, as detailed in the [hosting documentation](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/index?view=aspnetcore-2.2#data-protection)?

[2019-05-21 13:22] blowdart commented on #10419
@brentschmaltz is this expected? It seems off, considering the disabling of validateissuersigningkey

[2019-05-21 13:23] blowdart commented on #10416
@javiercn this should be overridable shouldn't it?

[2019-05-21 13:29] tungphuong commented on #10388
Thanks, let me try; maybe this is what I want to find.

[2019-05-21 13:42] pranavkm commented on #5068
Now that we [changed](https://github.com/aspnet/AspNetCore/pull/10271) the discovery model, this is unblocked and can be changed. Do we want to consider this for a milestone?

[2019-05-21 13:57] javiercn commented on #10173
No repro

[2019-05-21 13:57] #10173 closed

[2019-05-21 13:59] javiercn commented on #9577
Fixed as part of
https://github.com/aspnet/AspNetCore-Tooling/commit/8e70013b70a5392519aebfcf417c95e7c6bb8dfd#diff-95bef683fe9f3425f979df61c894d65bR485

[2019-05-21 13:59] #9577 closed

[2019-05-21 14:05] javiercn commented on #10416
Yep, you need to put the page on the same physical path as the view.
/Areas/Identity/Account/Login.cshtml for example.

[2019-05-21 14:07] javiercn commented on #10416
https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-2.2&tabs=visual-studio#override-views-partial-views-and-pages

[2019-05-21 14:32] bastienlemaitre commented on #10416
![image](https://user-images.githubusercontent.com/11610748/58104838-c1c2b100-7be5-11e9-84c1-916c8c48e1bb.png)

It does not seem to work...
I've to had V4, or anything else ?
Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal.LoginModel

[2019-05-21 14:40] javiercn commented on #10416
Just to make sure, you are trying to override the view on `/Identity/Account/Login`, are you?

[2019-05-21 14:41] ehouarn-perret commented on #10399
@blowdart I am actually taking over a pre-existing legacy app, it seems there is not much logging done through the app. I am adding some.

In the meantime I kinda managed to fix the issue by adding a dataprotection storage (following the documentation [here](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/implementation/key-storage-providers?view=aspnetcore-2.2&tabs=visual-st

[2019-05-21 14:46] bastienlemaitre commented on #10416
Yes, this one
![image](https://user-images.githubusercontent.com/11610748/58106177-f6d00300-7be7-11e9-9686-68972ccb240a.png)

[2019-05-21 14:48] javiercn commented on #10416
@bastienlemaitre Just to discard human error (this is tricky to do by hand) have you tried using the scaffolder to scaffold the specific view?

[2019-05-21 14:53] bastienlemaitre commented on #10416
![image](https://user-images.githubusercontent.com/11610748/58106756-e8361b80-7be8-11e9-8c5e-e6ad5fb7f02b.png)

Yes, and strangely I do not see my word in French ;)

[2019-05-21 14:58] mkArtakMSFT commented on #10408
Good point,, @enetstudio. We'll see how to transfer all these issues to `AspNetCore` repo, so all those issues are accessible. For now, I've re-opened the Issue-tracker again, so all the issues are available.

[2019-05-21 15:00] cores-system commented on #9683
I have the same error when I try to transfer a html page with a weight of 23,000 characters (no pictures, just html), the application crashes as described in the first post.

[2019-05-21 15:03] bastienlemaitre commented on #10416
How can I do that ?

[2019-05-21 15:21] blowdart commented on #10399
Ah there's some config to save to disk so you don't need the IIS config.

OK, that's the basics out of the way, so @HaoK can you take a look? Data Protection seems to be ok.

[2019-05-21 15:36] javiercn commented on #10416
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.2&tabs=visual-studio

[2019-05-21 15:38] Eilon commented on #10408
@mkArtakMSFT even if we transfer issues I think the permalinks will be broken. An alternative would be to take everything important out of the Blazor repo, move it somewhere else, and "Archive" the Blazor repo, which will make it read-only (all URLs will work).

[2019-05-21 15:39] mkArtakMSFT commented on #10408
I've verified that already, @Eilon. If I transfer an issue and close the `Issue tracker` - the transferred issues are accessible through the old urls.

[2019-05-21 15:41] danrald commented on #10392
Sounds good, I'll give it a try when I get a chance. Funny thing is that I just downloaded the new version of VS2019 the other week. Nothing that involved core 3.0 was installed, actually nothing revolving around vs2019 at all. Everything was fresh. Doesn't work. Thanks!

[2019-05-21 16:11] anurse commented on #10418
I'm not familiar with a specific issue like this.

Do you have any data about the memory usage of the process at the time this error occurs? If you are running low on memory this would occur and anything that allocates could throw. It could just be that SignalR is what happens to be allocating when you are in a low-memory situation.

[2019-05-21 16:32] alexiordan commented on #10418
Currently I don't have such information. I have some memory usage logging
for some scenarios but I didn't expect it here. I will log memory usage for
this scenario also and come back when it will happen again. Given memory
usage querying will not fail on exception handling.

mar., 21 mai 2019, 19:12 Andrew Stanton-Nurse <notifications@github.com> a
scris:

[2019-05-21 16:36] Eilon commented on #10408
I can automate transferring issues if it's a lot of issues (say, more than 10). The built-in GitHub transfer doesn't preserve assignments/labels/milestones (but maybe you don't care about that).

[2019-05-21 16:40] mkArtakMSFT commented on #10417
Thanks for contacting us, @imtrobin.
As pointed out in the referenced issue, there's a solution provided in `StackOverflow` already: https://stackoverflow.com/questions/52522004/blazor-0-6-0-wipes-flurl-compatibility/52526415#52526415

There is, unfortunately, nothing we can do at the moment to change this.

[2019-05-21 16:40] #10417 closed

[2019-05-21 16:44] svrooij commented on #4150
In a generic host in dotnet core 2.2 you can just use
[code]
to set the environment the same way as you would with the aspnet core app.

[2019-05-21 16:49] mkArtakMSFT commented on #10370
Thanks for contacting us, @prajaybasu.
In order to use AzureApp service with server-side Blazor, we strongly recommend to use Azure SignalR service, which should automatically take care of this issue.

[2019-05-21 16:52] mkArtakMSFT opened #10420 "Add manual test-coverage to cover publishing Blazor server-hosted app on Linux App Service"

[2019-05-21 16:52] mkArtakMSFT commented on #10370
https://github.com/aspnet/AspNetCore/issues/new?template=bug_report.md

[2019-05-21 16:54] #10353 closed

[2019-05-21 16:54] mkArtakMSFT commented on #10353
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-05-21 16:55] mkArtakMSFT commented on #10342
Thanks for contacting us, @GerritBergen.
@NTaylorMullen what's the state of this issue?

[2019-05-21 16:58] mkArtakMSFT commented on #10329
Thanks for contacting us, @AdmiralSnyder.
Feel free to send us a PR, and we'd happily consider it.
In the meantime this area is going to improve pretty soon as we move to the built-in Mono provided message handler.

[2019-05-21 16:58] #10329 closed

[2019-05-21 16:59] mkArtakMSFT commented on #10327
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-05-21 16:59] #10327 closed

[2019-05-21 17:04] mkArtakMSFT commented on #10408
We need the official `Transfer` mechanism so the old links will be working even if the Issue-tracker is disabled. I've contacted GitHub to see how this can be done.

[2019-05-21 17:20] danroth27 commented on #10392
@danrald The latest stable release of VS2019 is not sufficient to get Blazor tooling working. You need the latest Visual Studio Preview (https://visualstudio.com/preview).

[2019-05-21 17:27] danroth27 opened #10421 "Update Blazor VSIX to only install on d16.2 (preview) or later"
We are getting a lot of issues where customers are trying to work with Blazor in the release version of VS2019, which is not supported. The latest Visual Studio Preview (https://visualstudio.com/preview) is *required*. We should update the Blazor VSIX so that it can only be installed on d16.2 (preview) or later.

[2019-05-21 17:27] danroth27 commented on #10421
@mkArtakMSFT We should do this for Preview 6.

[2019-05-21 17:35] enetstudio commented on #10408
Many thanks, guys !

[2019-05-21 17:35] #10408 closed

[2019-05-21 17:40] mkArtakMSFT commented on #5424
We can't do this early, as this can result in failing builds periodically. We'll rather do this with the `Automatic dependency update` work to avoid the failures: https://github.com/aspnet/AspNetCore/issues/8390

[2019-05-21 17:58] GerritBergen commented on #10342
Just found issue: #9723
This may be a duplicate, my bad

[2019-05-21 18:03] arivera12 commented on #10392
@danrald the problem is that you gotta watch carefully the visual studio installer. It has 2 versions for downloading and installing **(stable and preview)**. **The stable version has bugs** and doesn't work at all. **You need to download the latest preview available**. In my case I am using enterprise version but community or developer version should look like this as well.
![image](https://user-

[2019-05-21 18:46] javiercn commented on #9675
Thanks for reaching out @jingliancui

I'm not sure I understand your issue. Could you provide a repro project showcasing the issue?

[2019-05-21 19:03] halter73 commented on #10308
After considering this more, I do not think making the listener's dispose method wait for all its accepted connections to be disposed first is really necessary to avoid use-after-free bugs. After all, whoever rents memory from the pool has to explicitly return or dereference the memory for the memory to go back to the pool. However, I do think this would help developers avoid ODEs that could arise

[2019-05-21 19:13] M-Yankov commented on #4892
The idea of the `IWebHostBuilder.UseStartup<>` is to simplify the code. But for me it was not enough: after applying the `UseStartup<TestStartup>()`, ChromeWEbDriver cannot open the home page. I didn't mention that the `TestStartup` class inherits the real startup class with overriding two custom methods (_if it matters_).
That's why I've used the `.ConfigureServices(services => ...` approach.
Abo

[2019-05-21 20:07] natemcmaster opened #10422 "[Helix] enable Microsoft.AspNetCore.Analyzers.Test"
src/Analyzers/Analyzers/test/Microsoft.AspNetCore.Analyzers.Test.csproj

This test project does not work in Helix and is currently disabled because it has a dependency on the layout of the source code in this repo.

Recommendation for updating: see https://github.com/aspnet/Extensions/issues/1697

[2019-05-21 20:16] natemcmaster opened #10423 "[Helix] enable Microsoft.AspNetCore.Mvc.FunctionalTests"
src/Mvc/test/Mvc.FunctionalTests/Microsoft.AspNetCore.Mvc.FunctionalTests.csproj

This test project does not work in Helix and is currently disabled because it has a dependency on the layout of the source code in this repo.

Recommendation for updating: see aspnet/Extensions#1697

[2019-05-21 20:20] natemcmaster commented on #7990
Looks like this test project is one of many which require refactoring to work on Helix. cref https://github.com/aspnet/AspNetCore/issues/10268

[2019-05-21 20:22] natemcmaster commented on #8247
Looks like this is one of many tests which will need to be refactored to work in Helix. cref https://github.com/aspnet/AspNetCore/issues/10268

[2019-05-21 20:24] natemcmaster commented on #8343
These tests are also affected by #10268

[2019-05-21 20:32] natemcmaster opened #10424 "[Helix] enable Microsoft.AspNetCore.FunctionalTests"
src/DefaultBuilder/test/Microsoft.AspNetCore.FunctionalTests/Microsoft.AspNetCore.FunctionalTests.csproj

This test project does not work in Helix and is currently disabled because it has a dependency on the layout of the source code in this repo.

Recommendation for updating: see aspnet/Extensions#1697 and #10268

[2019-05-21 20:41] natemcmaster opened #10426 "[Helix] enable Microsoft.AspNetCore.Blazor.Build.Test.FindsReferenceAssemblyGraph_ForStandaloneApp"
src/Components/Blazor/Build/test/RuntimeDependenciesResolverTest.cs

Microsoft.AspNetCore.Blazor.Build.Test.FindsReferenceAssemblyGraph_ForStandaloneApp is currently disabled in Helix because it has a dependency on the organization of source code.

See https://github.com/aspnet/Extensions/issues/1697 for the recommended fix.

[2019-05-21 20:51] #9540 closed

[2019-05-21 21:01] natemcmaster opened #10428 "[Test utils] create more granular skip conditions for Linux"
As the matrix of Linux test platforms expands, is has become necessary to skip tests on specific versions of Linux which do not meet system requirements for certain features of ASP.NET Core.

For example, HTTP/2 does not work on Debian 8 because the version of OpenSSL it uses is too old.

Desired usage:
[code]

[2019-05-21 21:02] NTaylorMullen commented on #10342
This was fixed by Roslyn for 16.1-Preview4.

[2019-05-21 21:02] #10342 closed

[2019-05-21 21:03] NTaylorMullen commented on #9723
This was fixed by Roslyn in VS 16.1-Preview4. https://github.com/dotnet/roslyn/issues/35285

[2019-05-21 21:03] #9723 closed

[2019-05-21 21:05] anurse commented on #10407
We'll do some spiking and design work where we can in 3.0. Putting in preview 7 with low priority.

[2019-05-21 21:06] anurse commented on #10403
No, we don't have plans to integrate gRPC and SignalR tightly like this. We may develop an HTTP/2 transport in the future, but it's not a high priority right now.

[2019-05-21 21:06] #10403 closed

[2019-05-21 21:08] anurse commented on #10400
Can you post a sample project that reproduces the issue? The app we used when testing #7823 works when targeting 1.1.4 so something must be different here. Even if it's just a matter of creating a project with the default template, having a project we can directly run lets us compare with our test code.

[2019-05-21 21:09] anurse commented on #10367
Adding new "addresses" (i.e. methods you can use to target specific sets of clients) like this has a high cost since it has to be implemented by each backplane. We don't have plans to add this right now.

[2019-05-21 21:09] #10367 closed

[2019-05-21 21:10] 3x0dv5 commented on #9035
Is anyone else also having issue debugging on Chrome? I keep getting this error "Debugging connection was closed. Reason: WebSocket disconnected"
I followed the steps "https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.0" but no luck, keep getting the error. I have no extensions in Chrome.

![image](https://user-images.githubusercontent.com/250271/58130880-16315500-7c15-11

[2019-05-21 21:11] anurse commented on #6845
Pushing this out since we still couldn't get it to work... Maybe we should just switch to Subversion :trollface:

[2019-05-21 21:16] anurse commented on #9683
We're continuing to dig through this. Moving out to preview7 because we aren't confident we can have a fix for preview6.

[2019-05-21 21:18] anurse commented on #8916
We've got engagement from Mono folks on the linked issue. Closing this since the issue lives in the Mono CoreFX implementation.

[2019-05-21 21:18] #8916 closed

[2019-05-21 21:23] anurse commented on #4389
Closing as this appears to be an issue with the polyfill that was provided in a comment above. If we can get more context on this polyfill as requested above we can see if there's something we can do to fix it.

[2019-05-21 21:23] #4389 closed

[2019-05-21 21:26] anurse commented on #9362
Closing as this is an external issue (the issue is in the Xamarin networking stack)

[2019-05-21 21:26] #9362 closed

[2019-05-21 21:32] arkiaconsulting commented on #8122
For my part, the problem had nothing to do with the host configuration. It was a startup configuration method that was trying to access an Azure resource without the required permissions. I found out what the problem was by running `dotnet xxxx.dll` from the Kudu console. That way you get the full exception.

[2019-05-21 21:34] sebastienros commented on #9868
I tried with this value and even though it's better (+5%) it's still not up to the results we had before the change (1M RPS).

[code]

I also tried on the `ConnectionClose` scenario which saw a regression as the exact same time, and the results are similar, with some good improvement, but not as much as before the change.

|              Description |    RPS | CPU (%) | Memory (MB) | Avg. Latency

[2019-05-21 21:36] anurse commented on #9917
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-05-21 21:36] #9917 closed

[2019-05-21 21:39] natemcmaster commented on #10013
We made dotnet-sql-cache OOB in https://github.com/aspnet/AspNetCore/pull/10272, which resolves the concern about its dependency on SQL Client and its impact on source-build and the SDK. We could switch its dependency to Microsoft.Data.SqlClient, but as this is a console tool, not a class library, it doesn't really matter what it is using under the hood unless there is some feature of Microsoft.Da

[2019-05-21 21:54] #8519 closed

[2019-05-21 21:55] mkArtakMSFT commented on #8519
Thanks for your contribution, @bordecal!

[2019-05-21 22:08] anurse commented on #9873
The 3.0 work is finished with #10053. Filing a new thing for backporting.

[2019-05-21 22:08] #9873 closed

[2019-05-21 22:09] cheng93 commented on #10367
Any workaround I can do?

Is it possible to keep a map of userId and connectionId?

[2019-05-21 22:12] anurse commented on #9394
Apparently we're behind on deps here, waiting on a new coreclr. BAR says we're 7 days old from coreclr and the commit referenced above is 7 days old.

[2019-05-21 22:17] anurse commented on #4135
Closing. Let's make getting the blog post written part of "accepting" the issue.

[2019-05-21 22:17] #4135 closed

[2019-05-21 22:25] anurse commented on #9985
Closing in lieu of https://github.com/aspnet/AspNetCore-Internal/issues/2481 which is tracking this work. We have some plans to deflake here in preview 7.

[2019-05-21 22:25] #9985 closed

[2019-05-21 22:30] elgunhuseynli opened #10430 "Why we need layouts if we have partials?"
Layout and partial mechanism of Razor is very difficult to understand. As far as I can understand, layout is seems like reverse of the partial. For example, in the below we put `@ViewData["Title"]` before the `@RenderBody`. But value of the Title is set inside body.

[code]

And here is the `Index.cshtml`.
[code]

How is that possible to use Title before it's value set? Is order of code reversed?

[2019-05-21 22:33] anurse commented on #10383
It sounds like this is timing out (as per the event log) this is a likely situation if you have a lot of apps starting on a machine with a lot of CPU load. Moving to discussions for now as there isn't an actionable work item for us right now. We can't expose the detailed error in the error page and the event log is pretty clear about what's happening (we don't know that the timeout is due to CPU u

[2019-05-21 22:39] davidfowl commented on #10308
An alternative to 2 APIs is a cancellation token as input accept

[2019-05-21 22:39] anurse commented on #10380
The wrapper is pretty simple and designed to cover a core case. You can always re-implement this yourself if you have more specific needs.

Closing as we don't have plans to add this parameter to the method.

[2019-05-21 22:39] #10380 closed

[2019-05-21 22:42] #10393 closed

[2019-05-21 22:43] anurse commented on #10351
All we need to do here is add a top-level option or extension method to Kestrel options to say `AllowAnyClientCert`. Some docs may need to be updated.

[2019-05-21 22:43] halter73 commented on #10308
Yeah. I saw that. I think it's OK, but I also think it's is a little weird to pass in a canceled token to AcceptAsync() as the only way to gracefully tell the listener to stop listening.

[2019-05-21 22:46] anurse commented on #9838
So you're basically saying that [this code](https://github.com/aspnet/AspNetCore/blob/e925df6a85ee6a1bb0b35a393107717fbf748278/src/Http/WebUtilities/src/FileBufferingReadStream.cs#L74) should be a `<=` instead of a `<`? Seems reasonable. Interested in sending a quick PR?

[2019-05-21 22:46] halter73 commented on #10308
I think it makes sense to have AcceptAsync() accept a CancellationToken anyway, but only cancel the current call to accept. I don't think it's obvious that cancelling a single call to accept tells the listener to stop accepting new connections permanently.

[2019-05-21 22:47] anurse commented on #9858
@vRITHNER are you still encountering this issue?

[2019-05-21 22:52] anurse commented on #9466
This seems reasonable but we don't have resources to address this in 3.0. The basic idea would be to resolve `IOptions<HttpBufferingOptions>` (where `HttpBufferingOptions` is a new type) in the `EnableRewind` method and use it to read this path instead of a global static.

This would be breaking since we'd be deleting (or even just not using) the existing static.

We could take a PR. It's not supe

[2019-05-21 22:53] anurse commented on #9495
Closing as we don't have plans to do this right now as @blowdart indicated.

[2019-05-21 22:53] #9495 closed

[2019-05-21 22:56] anurse commented on #3835
We don't believe this is an active problem. It can be re-opened or a new one can be filed if necessary.

[2019-05-21 22:56] #3835 closed

[2019-05-21 22:57] anurse commented on #2324
🤷‍♂

[2019-05-21 22:57] #2324 closed

[2019-05-21 23:00] anurse commented on #9592
@KANekT are you still seeing this issue?

[2019-05-21 23:00] ryanbrandenburg commented on #10333
I would say it's not dependent, was there a particular reason you thought it might be? Perhaps I missed something.

[2019-05-21 23:03] vRITHNER commented on #9858
@anurse Yes. As I wrote before, my web site works on Azure only with `Microsoft.AspNetCore.All `.
The issue here is I don't know which dependency is missing when I set `'Microsoft.AspNetCore.App'`.
My site is working on my local machine but not on Azure.

[2019-05-21 23:03] anurse commented on #10367
Sort of, you can look at `Context.UserIdentifier` in the `OnConnectedAsync` method to get the UserID for a particular connection.

[2019-05-21 23:03] vRITHNER commented on #9858
And it's nothing to do with x86 or x64 because it's working with Microsoft.AspNetCore.All

[2019-05-21 23:09] davidfowl commented on #10308
Agreed it was kinda weird when I prototyped it as well.

[2019-05-21 23:12] Tratcher commented on #9466
Note we'd want to update MVC's XmlDataContractSerializerOutputFormatter, XmlSerializerOutputFormatter, and (Newtonsoft) JsonResultExecutor to read these options.

[2019-05-21 23:18] pranavkm commented on #8686
Thanks @Enngage. I think I sorted out of the last null refs from this analyzer.

[2019-05-21 23:35] halter73 opened #10432 "Test cancellation of SignalR .NET Client startup"
Prior to https://github.com/aspnet/AspNetCore/pull/10140, cancelling the token passed into SignalR's HubConnection.StartAsync() would cancel the hub handshake, but it would not cancel negotiate requests or calls to ITransport.StartAsync() which previously didn't even take a CancellationToken as a parameter.

We should add tests to verify that HubConnection.StartAsync() cancels both long-running ne

[2019-05-21 23:36] sebastienros commented on #10350
Possible duplicate of https://github.com/aspnet/AspNetCore/issues/9868

[2019-05-22 00:06] isaac2004 commented on #10333
The mention of swashbuckle made me think that

[2019-05-22 01:01] sebastienros commented on #10200
I reproduced the same docker image, and set it to `-m 128m --cpu=1`.
I ran it on a 12 logical cores machine, hence the CPU% to 8-9% as we set `cpu=1`
The load was originating from a separate machine, with 256 concurrent connections, during 10 minutes, and each measure is a summary of 10s.

There results are the following:

|   RPS | CPU (%) | Memory (MB) | Avg. Latency (ms) |
| ----- | ------- | -

[2019-05-22 01:11] sebastienros commented on #10200
Here is the full source of the application I ran.

[webtemplate.zip](https://github.com/aspnet/AspNetCore/files/3205110/webtemplate.zip)

For my own notes, the command line used to benchmarks:
[code]

[2019-05-22 01:48] janvorli commented on #9868
It seems the regression is likely due to a bug that we've discovered today: https://github.com/dotnet/coreclr/pull/24706

[2019-05-22 01:49] honkmother commented on #10183
@danroth27 Right on the money. I have Blazor running inside of PhoneGap on Android and iOS, but the underscores are throwing it off for Android unless I manually edit the paths post-build.

Yes, removing the leading underscores would fix it.

[2019-05-22 02:27] GiorgioG commented on #9983
Closing this is a piss-poor response @mkArtakMSFT.

[2019-05-22 03:13] danroth27 commented on #10183
Nice! 👍

@SteveSandersonMS @mkArtakMSFT I think we should do something to address this. Can we simply remove the leading underscores?

[2019-05-22 03:29] uniqueumang commented on #10383
I disagree that event log is clear. All Event log is mentioning is that the process failed to start after 120s. No mention of why it failed.

Also, as a developer I have no control over the error page (Http error 500.30 - ANCM In-process Start Failure). I don't want to show that to my customer/end-users.

[2019-05-22 03:52] brentschmaltz commented on #10419
@blowdart we fixed this issue in 5.5.0
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/972
However, the error message seems a bit off.

[2019-05-22 04:38] sebastienros commented on #9868
Would you mind giving me some binaries so I can test this change in isolation?

[2019-05-22 05:07] davidfowl commented on #9683
We've identified the issue and @rynowak is working on a fix

[2019-05-22 06:05] mysteryx93 commented on #10430
Layout and Partial serve completely different purpose. Layout contains shared layout code "around" a page, while Partials contain shared code "within" the content.

Note that the @page (or @view) attribute is on the page itself, not on the layout. Thus the page gets executed first, then it find the Layout property and calls the layout and by that time the Title is already set.

If you didn't have

[2019-05-22 06:13] mysteryx93 opened #10436 "View Components Search Path"
I'm looking into View Components and am a bit confused as to where to put the files in my project.

For now, I have Pages\Shared containing partials starting with underscore, and ViewComponents without underscore, and decided to put the model they use next to it. So I have

- _PartialView1.cshtml
- Component1.cs
- Component1Model.cs
- Components\Component\Default.cshtml

I'm also hesitating about

[2019-05-22 06:27] freever commented on #9362
Thanks for the update @anurse

Are you aware of there being an issue tracked somewhere else that I can follow for a resolution?

[2019-05-22 06:32] TheReaLee commented on #10390
@blowdart FYI managed to get this working. Posted answer on stack overflow:
https://stackoverflow.com/questions/36097669/sign-up-event-from-azure-b2c/56250604#56250604

[2019-05-22 06:48] itcancle commented on #10284
@ryanbrandenburg sorry,excuse me~ are you still concerned about this issue?

[2019-05-22 07:10] jingliancui commented on #9675
ok I will upload sample code later.thanks

[2019-05-22 07:49] kogratte opened #10437 "Q - How to make the DefaultCredentials = true work again using SocketsMessageHandler?"
Hello!

I'm currently facing an issue using aspnetcore 2.2 and IIS

I'm working on a software A using aspnetcore 2.2, running on PoolA authenticated as PoolAIdentity, wich is trying to call api B, running on PoolB authenticated as PoolBIdentity.

What I want is that app B receive the call from A with the A pool identity's, wich does not seems to be working.

Using .Net Fwk 4.x, my code would look

[2019-05-22 08:17] PrefabPanda commented on #10200
Thank you @sebastienros  - I will try your sample project and report back. I notice you are using a different SDK image, so I'll be trying that too.

[2019-05-22 08:26] bastienlemaitre commented on #10416
It works, thanks !

[2019-05-22 08:38] EdiWang commented on #10430
In ancient time, when we were using ASP (not even .NET was invented), there was no layout page. We usually do it by using server side Include like , very much like what you suggested for partials. Then, ASP.NET WebForms came up, with a notion of "MasterPage", which evolved to Layout page in MVC.

The purpose of Layout over partial I can think of is:

1. When you have open HTML tags and close HTML

[2019-05-22 08:45] avalon1610 opened #10438 "Partial(string viewName, object model) not working when use in Razor Page"
### Describe the bug
Razor Page Code like below (reference to: [https://www.learnrazorpages.com/razor-pages/ajax/partial-update](https://www.learnrazorpages.com/razor-pages/ajax/partial-update))
[code]
will not work. method `Partial` will throw an exception like:

so I checked the Partial's source code, found:
[code]
maybe this method should change to:
[code]
I had not check this implementation in

[2019-05-22 09:31] ehouarn-perret commented on #10399
@blowdart well, there was nothing until I brought the config to save to the disk (just to make this clear, there was not data protection before my last post).
That may explain the behaviour we experienced =/
I guess we can close the thread now.

[2019-05-22 09:49] SteveSandersonMS commented on #9179
We decided this is no longer required, since the splatting feature will allow developers to put `type="password"` on a regular `<InputText>`.

[2019-05-22 09:49] #9179 closed

[2019-05-22 09:55] ArkadiuszNET opened #10440 "SignalR on docker issue"
Hi guys, I have a problem with signalR on docker containers placed at Kubernetes Rancher.
My configuration working well on local environment and also when I build up my containers locally, but when I push my containers to further environments, I get "Error during WebSocket handshake: Unexpected response code: 500" and "Error: Failed to start the connection: null".

My client is angular app and usi

[2019-05-22 10:07] KANekT commented on #9592
@anurse I will check this as soon as possible

[2019-05-22 10:26] elgunhuseynli commented on #10430
I think this problem can be solved with the help of delegates.

[2019-05-22 10:37] Misiu commented on #9020
@davidfowl will this be possible when .NET Core 3 is released?
Ability to host GRPC in App Services is a blocker for me.

[2019-05-22 10:39] dazinator opened #10441 "[Question] - Problem with Mvc and Routing"
I want my application to force a user to go through some initial setup wizard (MVC), before the system is operational. I'll deploy it with a setting, `SetupComplete = false` and once they complete the setup wizard, i'll set that setting to true. Once setup is complete, the rest of the system should become operational - by which I mean the other MVC controllers that I have within the application, c

[2019-05-22 11:08] tmds commented on #10308
There is currently no API to cancel an on-going Accept: https://github.com/dotnet/corefx/issues/37118.

[2019-05-22 11:18] RemiBou commented on #9179
You can use this https://github.com/RemiBou/Toss.Blazor/blob/master/Toss.Client/Shared/Forms/MyInput.razor

[2019-05-22 11:19] grahamehorner commented on #10419
@blowdart @brentschmaltz just to verify we have a requirement where the WebAPI will be receiving request with a JwtBearer token that has been signed, but **we don't wish to validate the issuers signing signature**, so in terms of the options I would expect the following behaviour : -

**1. ValidateIssuerSigningKey = false, RequiresSignedTokens = true**
A token must have been signed, however we **d

[2019-05-22 12:01] vertonghenb opened #10442 "Blazor in combination with Microsoft's Fluent Design"
[Fluent Design](https://www.microsoft.com/design/fluent/#/web) was all over the place at Build 2019. I'm wondering if Microsoft will port the Fabric Library to Blazor, to create a universal design system / component library for the web in C#. In a later stage we can wrap our Blazor clients in an elektron shell and have a universal way to create web AND native apps using a common design language an

[2019-05-22 12:18] blowdart commented on #10399
Ah :) So when the app restarts, or the app pool recycles, unless it was persisting to disk, or IIS was configured to use disk and registry the keys used get thrown away, which would have explained your behaviour.

I'm glad you have it working.

[2019-05-22 12:18] #10399 closed

[2019-05-22 12:37] tmds opened #10461 "Mvc Application throws on startup due to nr of inotify instances"
UseMvc throws because the max nr of inotify instances has been reached (see stacktrace below).

Perhaps this can change to respect "DOTNET_USE_POLLING_FILE_WATCHER"?
And/Or, maybe the exception can be caught (with a warning) and the application can continue starting.

Related issue: https://github.com/aspnet/Extensions/issues/1731.

cc @natemcmaster

[code]

[2019-05-22 12:43] #10416 closed

[2019-05-22 12:50] javiercn commented on #10183
@danroth27 Maybe we could do this as part of the static assets support we are building?

[2019-05-22 12:51] PureKrome commented on #10137
Ok - appologies for the late reply .. life/family/kids/kids/kids/kids/kids/kids/kids/life/kids have been pulling at me.

So i sat down tonight and tried to give this a crack and I did come up with something ... but not 100%.

=> [Experimental Repo up on GitHub](https://github.com/PureKrome/AspNetCore3-P5-DataSeeding-Experiment).

So I [created a new `IHostingService`](https://github.com/PureKrome/

[2019-05-22 13:14] konradsikorski opened #10443 "Authorize from controller is used instead from method"
### Descriprion

We use two kind of authentications:

- Bearer
- Custom: ApiKey (we check in header some value)

We want to be able to mark action as following:

- Allow only users authenticated with Bearer
- Allow only users authenticated with ApiKey
- Allow users authenticated with Bearer or ApiKey

In general it works but if we mark Controller (like in the exampe below) with [Authorize(Policy=B

[2019-05-22 13:15] #4662 closed

[2019-05-22 13:29] rceraline commented on #10400
Hi @anurse, I did what you suggested and was actually able to make it work in a sample project. I still don't understand why it is not working on my initial project. I need more time to figure out why this is happening. Thanks.

[2019-05-22 13:38] SteveSandersonMS commented on #10183
@javiercn If you think it's straightforwards to make `_framework`/`_content` configurable, that's something we'd want at least eventually. It would need to work in all cases, including publishing standalone apps, so I'm guessing there's quite a lot of code paths to go through.

I'm not convinced we should just drop the leading underscores by default, as it's far more likely to clash with the devel

[2019-05-22 13:52] javiercn commented on #10183
@SteveSandersonMS I think it won't be very problematic. It might need some minimal MSBuild tweaks, but that's it. We can try and tackle this as part of preview7/8 once we have the static asset work in place.

I'm gonna park this for now, until I can give what I have in mind a try.

[2019-05-22 14:22] SteveSandersonMS opened #10445 "Router displays NotFoundContent without any layout"
Since we changed `Router` to have a `NotFoundContent` fragment instead of referencing a "fallback page" type, we've lost the convenience of having the content rendered inside a layout. It just renders very plainly (typically, black Times New Roman on a white screen).

This might not seem super important for the "not found" message, but we're also about to add "authorizing..." and "not authorized"

[2019-05-22 14:38] ukod commented on #4953
I agree with @PureKrome, the main reason, because I have enabled ProblemDetails, was one fine data structure to resolve problems with error handling. That's really important. Please, consider how to include other status codes into ProblemDetails as default.

[2019-05-22 14:47] vanillajonathan opened #10446 "Add response transformer to SPA middleware"
I am trying to inject data at runtime into the response body of the request that serves the `index.html` file as my SPA.

### Describe the solution you'd like
A callback function that the SpaServices middleware calls that allows processing/transformation of the response body **before** it has been written to the `HttpResponse` object.

[code]

### Describe alternatives you've considered
Using a `a

[2019-05-22 14:53] janvorli commented on #9868
Sure. Would build of coreclr from master work for you or would you prefer if I built it from an older commit and applied my fix to that? It would be easy to do both ways.

[2019-05-22 14:57] poke commented on #10137
The problem here is that the cancellation token that gets passed to the hosted service is the same [that gets passed to `Host.StartAsync()`](https://github.com/aspnet/Extensions/blob/v3.0.0-preview5.19227.9/src/Hosting/Hosting/src/Internal/Host.cs#L50) which is [`default` by default](https://github.com/aspnet/Extensions/blob/v3.0.0-preview5.19227.9/src/Hosting/Abstractions/src/HostingAbstractionsH

[2019-05-22 15:13] Tratcher opened #10447 "AspNetCore authorization scopes policies helper"
_From @baywet on Friday, 17 May 2019 14:53:25_

**Is your feature request related to a problem? Please describe.**
If you're building an aspnetcore mvc application [Microsoft.AspNetCore.Authentication.AzureAD.UI](https://github.com/aspnet/AspNetCore/tree/master/src/Azure/AzureAD) does a fantastic job at seemlessly integrating your application with AAD from an authN standpoint.

Now let's assume yo

[2019-05-22 15:13] Tratcher commented on #10447
_From @Tratcher on Friday, 17 May 2019 15:02:13_

@haok for Authorization

[2019-05-22 15:13] Tratcher commented on #10447
_From @jmprieur on Wednesday, 22 May 2019 05:28:25_

@Tratcher : do we want to move this issue to the ASP.NET Core repo? Unless I'm missing something, it's not related to MSAL.NET ?
cc;   @baywet

[2019-05-22 15:13] Tratcher commented on #10447
_From @jmprieur on Wednesday, 22 May 2019 05:30:44_

cc: @MarkZuber and @kalyankrishna1 FYI

[2019-05-22 15:13] Tratcher commented on #10447
_From @baywet on Wednesday, 22 May 2019 12:17:29_

@jmprieur the reason I started the conversation here is because the way of AAD of representing the scopes in a token is not "standard" (although the way to represent scopes doesn't seem to be part of the original JWT spec). IMHO the end library would belong to the aspnet core repo but I thought people here might be interested in having a conversat

[2019-05-22 15:15] Tratcher commented on #10447
@baywet An alternate design would be to fix up the scopes claim during authentication so it was in the expected format afterwards. I expect this could be done today with a custom ClaimsAction.

[2019-05-22 15:19] danrald commented on #10392
@danroth27 @arivera12  Thanks fellas, I'll check it out.

[2019-05-22 15:22] danroth27 opened #10448 "Using Entity Framework Core with Blazor"
We need to consider how EntityFramework Core should be used with Blazor:
- DbContexts are typically setup as scoped services in ASP.NET Core, which means they live for a single request. With server-side Blazor apps the scope is the lifetime of the connection. What impact does this have on EF Core?
- Blazor is a client-side UI framework. With other client-side UI frameworks, like WPF/WinForms, the

[2019-05-22 15:22] SteveSandersonMS commented on #4050
Figure out how to ship helpers like `HttpClient.GetJsonAsync<T>` that will work in components that run on both server and client (so we need it to be the same method in both places, not just similar-looking extension methods or such)

So it needs to be in CoreFX or `Microsoft.AspNetCore.Metadata`, if not in a Components package directly.

[2019-05-22 15:24] BrennanConroy commented on #10440
500 is an internal server error. You should figure out if its the server returning the 500 (meaning its not running correctly), or if ocelot is returning the 500.

[2019-05-22 15:26] SteveSandersonMS commented on #10404
It depends what you're trying to do. In what way do you want the framework to make use of your converter?

Is it when you call HTTP methods like `Http.GetJsonAsync`? If so, that's never going to use Json.NET converters since it doesn't use Json.NET internally. It uses SimpleJSON (which is something we're in process of changing currently - we're moving to the new System.Text.Json library everywhere

[2019-05-22 15:26] #10404 closed

[2019-05-22 15:27] danroth27 opened #10449 "Server-side Blazor E2E performance and capacity testing"
Initial perf infrastructure setup is tracked by https://github.com/aspnet/AspNetCore/issues/4052, but we need to test beyond hello world scenarios to understand how well server-side Blazor will perform and scale in production scenarios

[2019-05-22 15:38] davidfowl commented on #10440
Assuming logging is configured, do you have server logs?

[2019-05-22 15:42] pranavkm commented on #10443
cc @HaoK \ @blowdart

[2019-05-22 15:44] danroth27 opened #10450 "Influencing HTML Head from a Blazor component"
In Blazor apps the root of the HTML document is typically controlled by the layout component. If other components need to influence the contents of the HTML Head tag (e.g. to add or change Meta or Title tags) there isn't really an established patterns to do that today.

[2019-05-22 15:45] rceraline commented on #10400
Hi @anurse, after some testing, I was able to reproduce the error in a sample project. https://github.com/rceraline/signalrapp

It happens when we activate SSR and bundle all dependencies. See angular.json file bundleDependencies all. I use that feature to not have to publish the node_modules folder in production.
[code]

To reproduce the issue:

- run these commands
[code]
- rename or delete node

[2019-05-22 15:53] HaoK commented on #10443
This is most likely related to this https://github.com/aspnet/AspNetCore/issues/9779

[2019-05-22 15:55] danroth27 opened #10452 "Sections"
In Blazor we don't currently have an equivalent to sections in MVC/Razor Pages. We should discuss what if anything we need to handle the relevant scenarios, like enabling a component to add scripts  to the bottom of the page.

[2019-05-22 15:59] danroth27 commented on #4050
I think we need to do some work on the shape of the HttpClient JSON helpers as well. As they stand, you don't have any reasonable way of handling responses other than a 200. I think what we want is closer to the Web API Client model, but tied specifically to JSON (no support for additional formatters or content negotiation).

[2019-05-22 16:08] anurse commented on #9362
https://github.com/xamarin/xamarin-android/issues/2159 (linked above) is the issue in Xamarin Android's repo.

[2019-05-22 16:12] anurse commented on #10383
Because we **don't know why** it failed. It could be because your startup logic has long-running code, or it could be because the CPU is so busy it caused the startup logic to take too long. We don't know which it is, _all we know_ is that the startup logic didn't complete in the expected time which is exactly what we report. If you think the error message could be rephrased to make that clearer,

[2019-05-22 16:26] danroth27 opened #10454 "Extensibility for parsing/converting input fields"
Some related issues:
- https://github.com/aspnet/AspNetCore/issues/9598
- https://github.com/aspnet/AspNetCore/issues/9435
- https://github.com/aspnet/AspNetCore/issues/5523

[2019-05-22 16:35] mkArtakMSFT commented on #10322
Thanks for contacting us, @owaits.
This doesn't sound like a Blazor issue so we recommend to post this question to `StackOverflow`, as that way you'd probably get faster answer to your question.

[2019-05-22 16:35] #10322 closed

[2019-05-22 16:38] mkArtakMSFT commented on #10320
Thanks for contacting us, @hez2010.
This wont' work for Blazor, as the model Blazor uses allows the server to push data to clients, whenever necessary, which requires active connection all the time.

[2019-05-22 16:38] #10320 closed

[2019-05-22 16:40] mkArtakMSFT commented on #10274
Thanks for contacting us. We couldn't reproduce this issue on our end. We recommend you to reinstall your VS and .Net SDK to make sure you're in a good state.

[2019-05-22 16:40] #10274 closed

[2019-05-22 16:41] mkArtakMSFT commented on #10270
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-05-22 16:41] #10270 closed

[2019-05-22 16:45] mkArtakMSFT commented on #10223
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-05-22 16:45] #10223 closed

[2019-05-22 16:46] mkArtakMSFT commented on #10197
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-05-22 16:46] #10197 closed

[2019-05-22 16:48] anurse commented on #9858
To clarify, you're still using 2.2, just switching to `Microsoft.AspNetCore.App`? (Your `dotnet --info` output indicated you had 3.0 installed, which is *fine* just clarifying that you aren't doing two changes at once here ;)). I ask because .NET Core 3.0 isn't pre-installed on Azure Web Apps right now so you'd have to do a self-contained deployment to publish 3.0 apps to Azure.

Can you check the

[2019-05-22 16:49] mkArtakMSFT commented on #10162
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-05-22 16:53] brockallen commented on #10447
IdentityServer issues "scope" claim types, FWIW.

[code]

[2019-05-22 16:56] mkArtakMSFT commented on #10150
Thanks for contacting us, @aliveli186.
You can't use `bind-value` and `ValueChanged` at the same time. We've made a fix in `Preview6` to error out in this scenario with more clear message.

[2019-05-22 16:56] #10150 closed

[2019-05-22 16:56] mkArtakMSFT commented on #10161
Thanks for contacting us, @olkuziv. Please make sure you're using latest .Net Core 3.0 Preview 5 with VS 2019 Preview (16.1 Preview 3) and Blazor VS extension installed. Also, please follow the migration guide https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-0-preview-4/

[2019-05-22 16:56] #10161 closed

[2019-05-22 16:58] mkArtakMSFT commented on #5495
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now. If you're still facing this issue with the latest Blazor bits, please reopen a new issue.

[2019-05-22 16:58] #5495 closed

[2019-05-22 16:58] ajamrozek commented on #7531
I get this with increasing consistency when deploying new Linux hosts to my on-prem enterprise k8s cluster.

I've assigned the configs/jsons to not refresh, supposedly disabling the file watch.
`config.AddJsonFile("appsettings.json",true, false);`

I've set an env var in my dockerfile
`ENV DOTNET_USE_POLLING_FILE_WATCHER true`

And I still usually, not always, get a fatal startup failing my pods.

[2019-05-22 16:58] mkArtakMSFT commented on #5500
@SteveSandersonMS is this still an issue?

[2019-05-22 17:21] detachmode commented on #10448
yes, had this problem already and was wondering the same. Current solution for me was to create a new DB Context with the using statement inside every DataAccess method.

[2019-05-22 17:22] #9812 closed

[2019-05-22 17:36] detachmode opened #10459 "Server-Side Blazor loses connection randomly without visible errors"
I am currently trying out Blazor Server-Side with 3.0.100-preview5 and I love the newly introduced reconnection feature, if it loses the connection. It always recovers the state perfectly, which is great. But some things could be improved.

The app will be in an unresponding state (where a button click has no effect) for too long, without any visual feedback for the user (about 20-30 seconds). The

[2019-05-22 17:45] baywet commented on #10447
Yep not only aad uses scp they also use an appended string containing all the scopes separated by space. I like your solution better, requires less work to build and then less work to use.

[2019-05-22 17:48] jkotalik opened #10504 "Components shouldn't be building any java/node dependencies when build.cmd doesn't require java/node"
Repro steps:
1. build.cmd from repo root
2. Java is a requirement in Components that isn't ignored, which makes it build, even though build.cmd doesn't build java.

[2019-05-22 17:49] sotoabraham commented on #5017
This still lives huh? Been a couple years I think.  Well if it helps, I have this issue whenever I include namespaces and/or add a "addTagHelper" to the _ViewImports.cshtml file in a project.

When I leave only the "@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers" line in there, I have no issues when I place a breakpoint in a razor file or if I have Exception settings set to "Break When Throw

[2019-05-22 17:56] sebastienros commented on #9868
Any baseline is fine as long as you give me both versions, before and after the change. With only the files that actually changed.

[2019-05-22 17:58] SteveSandersonMS commented on #5500
As far as I know, yes.

[2019-05-22 18:13] neil-119 commented on #9560
Noticed that this was closed. Was this fixed? I still see this issue with the latest preview.

[2019-05-22 18:18] vertonghenb commented on #10448
Current solution is to make it `Transient` for Server Side Blazor.

[2019-05-22 18:19] kalyankrishna1 commented on #10447
Making sure we refer the corresponding spec. Ours for AAD V2 end point are

**For request**
https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims

**For the claim in token**

https://tools.ietf.org/html/rfc7662#section-3.3
    scope

[2019-05-22 18:45] halter73 commented on #10308
Yeah. I think disposing the listen socket is currently the only way to cancel an on-going accept using managed sockets. That would probably make it impossible to support a non-terminal cancellation of accepts in an IConnectionListener based on managed socket until we get a new API.

[2019-05-22 18:45] brockallen commented on #10447
That's not a token. That's the JSON being returned from introspection.

[2019-05-22 18:52] natemcmaster opened #10462 "Add a .vsconfig file to the repo root"
See https://devblogs.microsoft.com/setup/configure-visual-studio-across-your-organization-with-vsconfig/

Work required:
- [ ] convert https://github.com/aspnet/AspNetCore/blob/master/eng/scripts/vs.json into the proper format and ensure InstallVisualStudio.ps1 still works.
- [ ] review the list of required workloads and see if we can remove any. Candidates:
  * Microsoft.VisualStudio.Workload.Vis

[2019-05-22 18:55] natemcmaster commented on #10463
Another issue with `-xfd`: it force deletes all your files. Maybe the interactive version would be better? `-ixd`

[2019-05-22 18:58] natemcmaster opened #10464 "Replace .sln files with .slnf and add one repo-wide .sln file"
Managing individual .sln files has been error prone and problematic (see #7740 ).

VS2019 has a new feature, filtered solutions, which are meant to address some of the reasons why we created many smaller .sln files in the first place. Let's investigate adding one .sln to the repo root which points to everything, and then use .slnf to create "scopes".

https://docs.microsoft.com/en-us/visualstudio/

[2019-05-22 19:00] Tratcher commented on #10463
Hmm
[code]

[2019-05-22 19:05] BarnyardTech commented on #10459
Yes, this is happening to me as well.  It is quite frequent and makes my app appear very unreliable to the user.  Why are connections dropping so frequently?  And why is it taking so long to detect and recover?

[2019-05-22 19:11] natemcmaster commented on #10463
Yeah. Then you type <kbd>c</kbd> + <kbd>ENTER</kbd>

[2019-05-22 19:14] natemcmaster commented on #10464
cref https://github.com/Microsoft/msbuild/issues/4097 - these files can't be used for build.cmd yet :-/

[2019-05-22 19:19] divega commented on #10448
Agreed. My read is that the first thing we need is a pattern for creating `DbContext` instances in which the lifetime of the `DbContext` is decoupled from the request scope, but you still get all the `DbContext` configuration from DI.

(Note: I am not familiar with Blazor yet, but I am making a few assumptions, like that request scopes still exist, and that in the same application you can mix Blaz

[2019-05-22 19:27] divega commented on #10448
If we identify a pattern equivalent to associating the lifetime of the context with a "window" that works in 80% of Blazor scenarios and we find a way to automate it, we can do that too.