[2020-04-26 19:11] rynowak commented on #21183
Does this get better if we use `.pem` instead of `.pfx`? That's something that's possible today with a workaround, and should become easy in .NET 5.

[2020-04-26 19:33] davidfowl commented on #21183
I don't know but I don't think so, i's PEM just a different way to encode the same cert information? It's this super jank logic that exists in building the cert chain where the API uses HttpClient (via reflection) to download the revocation list. I'm not even sure you can disable it looking at the code...

[2020-04-26 19:47] rynowak commented on #21183
*note: I am super not an expert on any of these things...* My understanding is that `.pem` as a format can contain the entire cert chain.

https://www.digicert.com/kb/ssl-support/pem-ssl-creation.htm

[2020-04-26 19:51] dv00d00 commented on #21183
This is what certbot downloads for nginx

[code]

[2020-04-26 19:53] davidfowl commented on #21183
Good to know 😄 .I also am not an expert in certificates.

[2020-04-26 19:54] Tratcher commented on #21218
We have already addressed this in 3.0+ by moving to IHostBuilder.
https://github.com/dotnet/aspnetcore/blob/54722a52b6b609124f94d8c7f5801b8bc7cd447e/src/Hosting/TestHost/test/TestServerTests.cs#L67-L79

[2020-04-26 19:55] dv00d00 commented on #21183
nginx setup which I've copied from some article also uses fullchain.pem in its config

[code]

will definitely try it tomorrow

[2020-04-26 20:02] davidfowl commented on #21183
We should look into making ASP.NET Core work with certbot, or at least understand how to connect the two and document it.

[2020-04-26 20:04] dv00d00 commented on #21183
btw the lib I am using for LetsEncrypt is storing the key in PEM, and by looking at the certificate acquisition code it attempts to get the full chain one.

https://github.com/ffMathy/FluffySpoon.AspNet.LetsEncrypt/blob/65eb855c6ee36290d4f31cb6ac6d3c9508abd966/src/FluffySpoon.AspNet.LetsEncrypt/Certes/LetsEncryptClient.cs#L80

[2020-04-26 21:08] fgiuliani commented on #20496
@blowdart can I take a look to this?

[2020-04-26 21:09] Kurt17P opened #21222 "The name 'code' does not exist in the current context"
I was working on a Blazor server app, when 'suddenly' the error `CS0103 The name 'code' does not exist in the current context` occured after adding a new Razor page to an existing project via `Add / Razor page`. In VisualStudio the `@code` directive is not recognized and the build fails with the above error. The other pages in the project containing `@code` still compile without error and IntelliS

[2020-04-26 23:38] davidfowl commented on #21171
The OS owns pre-emption, not the framework.

CPU bound work you mean? How many concurrent users before this happens? How many CPUs does your machine have?

[2020-04-27 00:02] mkArtakMSFT commented on #21222
Thanks for contacting us. This is not part of the runtime feature-set. Please use the VS Feedback to report this issue, so the team who owns the area can track the ask.

[2020-04-27 00:03] mkArtakMSFT commented on #21219
@NTaylorMullen can you please look into this? Thanks!

[2020-04-27 00:38] davidfowl commented on #21183
Does that include the CRL? That’s the thing being downloaded

[2020-04-27 00:51] kanadaj commented on #21194
So, if we assume that domain-sharing is a non-concern, and we're not a company handling money (if we were, I would probably add even more security, not try to reduce UX impact of the existing security), would something like this work?
[code]
with the only potential attack vector opened in this case being a browser somehow not protecting the Origin and Referer headers, correct?

The reason I'm even

[2020-04-27 00:54] mkArtakMSFT commented on #19058
@javiercn I believe this has been resolved already. Can you please confirm?

[2020-04-27 01:19] rynowak commented on #21079
Did you test the graph-node code path? That's the main code that that gets used.

It might be simpler to test this using one of our existing benchmarks: https://github.com/dotnet/aspnetcore/blob/master/src/Http/Routing/perf/Matching/MatcherGithubBenchmark.cs

[2020-04-27 04:38] Webreaper commented on #21171
Of course. But my point is that I've been writing multi-threaded C# UI apps for decades, and never seen a case where marshaling a but of work onto the background thread massively degrades the UI in the same way as is happening with blazor server. So it feels like something odd is happening with the .Net dispatcher.

My machine is a brand new i5 2020 Macbook air, so 4 cores. The app has a single us

[2020-04-27 05:35] davidfowl commented on #21171
I can't reproduce this, how many threads did you spin up?

PS: I have 8 CPUs

[2020-04-27 06:03] Webreaper commented on #21171
The app I'm actually writing spins up 2-3 additional background threads (it's an image management app and it's generating thumbnails and scanning metadata in the background). But it's reproducible with just a single thread in the sample I posted above.

That'll probably explain why you can't repro it though - I guess each thread is getting its own CPU, so there's no contention? Perhaps the behavio

[2020-04-27 06:21] PylotLight commented on #21210
I also have this problem. To try allow unprotected pages/api access.

[2020-04-27 06:26] webebox opened #21226 "Checkbox keep checked, after List Updated and StateHasChanged() method is called"
Hi, I have this code in Blazor :

[code]
if I check a checkbox it calls the HandleCheckChanged and the checkbox is checked
But if I change the list items the previews checked checkbox is still checked and is not updated based on the new list items.

for example suppose that I have a list of ordered numbers {1-20} I follow these steps :
1 : list = GetAll().Where(c => c.Id < 10);
2 : I check the fir

[2020-04-27 06:33] maxcherednik commented on #21218
@Tratcher hm, I did not quite get how it was solved. The blocking call is still in the constructor of the `TestServer` and the `UseTestServer` extension is just a container registration:

https://github.com/dotnet/aspnetcore/blob/f3f9a1cdbcd06b298035b523732b9f45b1408461/src/Hosting/TestHost/src/WebHostBuilderExtensions.cs#L16

Hence, it will still be invoked the same way it is invoked now.

[2020-04-27 07:09] leonardder commented on #20859
What would be the best starting point to try this myself and possibly
create a pull request?

[2020-04-27 07:28] ramax495 commented on #20248
In configuration section "Clients" only three values of "Profile" are acceptable - IdentityServerSPA, SPA, NativeApp: https://github.com/dotnet/aspnetcore/blob/7bf660947baf8966cd65ae6a3708cf283576dc25/src/Identity/ApiAuthorization.IdentityServer/src/Extensions/DefaultClientRequestParametersProvider.cs#L37

And profiles "IdentityServerJwt" and "API" should be used in "Resource" configuration sectio

[2020-04-27 08:05] JulienM28 commented on #21174
I found the issue.
It wasn't a Blazor bug.
Our API have an action filter and there is a bug inside it.
It returns a strange HTTP error but nothing to do with Blazor.

[2020-04-27 08:05] #21174 closed

[2020-04-27 08:08] levdimov opened #21228 "Html.EditorFor(m => m.Form) won't find a correct EditorTemplate view if m.Form is property of abstract type"
### Describe the bug
`Html.EditorFor(m => m.Model)` won't find a correct EditorTemplate view if `m.Model` is property of abstract type.

### To Reproduce
Let's have a view model which have a property of abstract type.
[code]

There are several classes that inherit from `FormModelBase` (`FormModelA`, `FormModelB`). Also there are EditorTemplate views named after those classes (`EditorTemplates/Form

[2020-04-27 08:44] Bronzato1 opened #21229 "Navigation bug when @page directive contains subfolder(s) and parameter(s)"
### Describe the bug

I'm working on a Blazor WebAssembly project in Visual Studio Professional Preview Version 16.6.0 Preview 4.0.

It seems that when a @page directive contains both subfolder(s) and parameter(s) there is a bug when navigating to another page with @page directive containing a subfolder.

### To Reproduce

Let's create 2 pages:

####  \Pages\Firstpage.razor

@page "/myfolder/first

[2020-04-27 08:56] dv00d00 commented on #21183
2 days passed since the migration to Nginx. Got some fresh graphs

CPU/RPS
![image](https://user-images.githubusercontent.com/1162823/80352732-04bce800-887d-11ea-9b82-028f77258b9e.png)

VM cpu
![image](https://user-images.githubusercontent.com/1162823/80353041-7137e700-887d-11ea-9eb1-ecb6a7833131.png)

Lock contention
![image](https://user-images.githubusercontent.com/1162823/80352834-261dd400-887

[2020-04-27 09:19] DibyodyutiMondal opened #21230 "Persisting DataProtection keys to Azure Blob storage not possible from local IIS even when authenticated properly"
I am trying to persist keys to azure blob storage and protect them with azure key vault. On my **local** setup, I am using IIS (not express). To allow the IIS AppPool to use azure services, i have configured the app pool identity to use my azure login, and in the applcationHost.config, I have used `setProfileEnvironment="true"`. Also, in my app, the first thing I do in ConfigureServices is set def

[2020-04-27 09:23] kostasxagoraris commented on #20947
Any news? Because the problem is very persistent,,
Thank you

[2020-04-27 09:28] jfheins opened #21231 "Misleading Error message in ts client .withURL()"
When creating a signalR hub with an empty URL, the error message is misleading.

Repro case:

[code]

I get this error message:

Although it was called. The reason for this is that Arg.isRequired only checks for null and undefined (src/SignalR/clients/ts/signalr/src/Utils.ts) but the error is raised on any falsy value:
[code]
(src/SignalR/clients/ts/signalr/src/HubConnectionBuilder.ts)

For backwa

[2020-04-27 10:11] SebChy commented on #20789
The problem still exists in preview 5.

[2020-04-27 10:14] Kahbazi commented on #21079
Thanks for pointing me to the benchmark. I've run `MatcherGithubBenchmark` once before my changes and once after. Here's my changes https://github.com/Kahbazi/AspNetCore/commit/4dea55751d393dba0aff15cdb1d0deb234b3573da and here are the result.

**Before :**

   Method |     Mean |     Error |    StdDev | Scaled | ScaledSD |
--------- |---------:|----------:|----------:|-------:|---------:|
 Baseli

[2020-04-27 10:24] levdimov commented on #21228
Ok, workaround is pretty simple: just use EditorFor overload with `templateName` property which equals to `Model.Form.GetType().Name`.

It worked in ASP.NET MVC 4 thus increasing migration difficulty.

[2020-04-27 11:31] michalczerwinski opened #21232 "OwningComponentBase and RevalidatingServerAuthenticationStateProvider [Blazor Server]"
Currently the default RevalidatingServerAuthenticationStateProvider registration makes it imposible to use it in any scenario with OwningComponentBase for Blazor Server.

Facts:
* OwningComponentBase creates new scope.
* RevalidatingServerAuthenticationStateProvider is registered as scoped

Due to this in any service resolved by OwningComponentBase you cannot rely on RevalidatingServerAuthenticati

[2020-04-27 11:40] blowdart commented on #21230
OK, you said

"To allow the IIS AppPool to use azure services, i have configured the app pool identity to use my azure login, and in the applcationHost.config"

What do you mean by this? Is your machine Azure AD joined? What permissions on the storage container do you have set? Where is the exception coming from? (Full stack trace please)

What happens if you remove your culture setting?

[2020-04-27 11:49] Tratcher commented on #21218
When using IHostBuilder and the container registration, that affected IWebHostBuilder constructor is not used anymore.

[2020-04-27 11:59] sanyam142mittal opened #21233 "MvcSandbox (src\Mvc\samples\MvcSandbox) asking for dotnet core '5.0.0-preview.5.20223.1'"
### Describe the bug
I am trying to run the MvcSandbox using Visual Studio 2019 Version 16.5.4.

source code in src\Mvc is getting built successfully but getting issue in running the sandbox.

Below is the error detail which I got while trying to run the sandbox:

It was not possible to find any compatible framework version
The framework 'Microsoft.NETCore.App', version '5.0.0-preview.5.20223.1' w

[2020-04-27 12:25] Daendel opened #21235 "Blazor - creating empty component constructor at runtime and call parameterized constructor"
Why doesn't Blazor create empty an empty constructor at runtime (so it can render the component) and later calls the parameterized (implemented) constructor using the parameters that are supplied in the HTML-attributes?

This way, no [Parameter]-attribute is needed on properties, they can become get-only and therefore don't have a state anymore.

It makes the whole component implementation way mor

[2020-04-27 12:39] maxcherednik commented on #21218
Ah, I see. Ok, another question then.
Is it a short term solution or? Cause the [documentation](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1#basic-tests-with-the-default-webapplicationfactory) for the integration tests writing is still old and the constructor of the `TestServer` does still have blocking call. Are you going to remove this blocking call or

[2020-04-27 13:00] #20957 closed

[2020-04-27 13:06] spottedmahn commented on #19552
Hi @mrpmorris - I know 😉 but the thread is super long.  Very tedious to find the comment(s) w/ the workarounds.  Not very stackoverflow-ish if you will 😊

[2020-04-27 13:06] blowdart commented on #20496
@fgiuliani You certainly can :)

[2020-04-27 13:41] DibyodyutiMondal commented on #21230
This exception is happening during App Startup, during the ConfigureServices() function call

Removing the culture setting, did not change anything,
Changing the time zone of my PC to GMT made the mismatch go away, but the error still happened, so this also does not change anything,

 Further reading and a deeper dive into azure active directory is increasingly pointing me in the direction of acce

[2020-04-27 14:17] rodrmoya commented on #20259
This is now fixed in vsmac with mono being bumped to the above mentioned fix, so will be available in the next 8.6 preview

[2020-04-27 14:24] javiercn commented on #21235
@Daendel thanks for contacting us.

Blazor (Razor) just compiles to C#. As such, it can only call a constructor once to initialize a given object (that's how C#/.NET works) and having to call a constructor with a random parameter set makes the implementation way more complex.

Also, parameters in a component can change multiple times, so a constructor is not the right place for them. A component c

[2020-04-27 14:24] #21235 closed

[2020-04-27 14:25] javiercn commented on #21233
You need to call `activate.cmd/sh` on the root of the aspnetcore repo and open the solution with the command line. Otherwise VS is not able to find the local .NET version we use.

[2020-04-27 14:25] #21233 closed

[2020-04-27 14:26] linusbrolin commented on #12890
I have Google-searched for two days on how to enable Angular server-side prerendering on .Net Core 3.1, that doesn't require any of these deprecated modules, but I cannot find any up-to-date documentation whatsoever on that topic.

If I'm to `"refer to the documentation for the corresponding SPA framework"`, then that would be this page:
https://angular.io/guide/universal
That page refers to using

[2020-04-27 14:27] javiercn commented on #21232
@michalczerwinski thanks for contacting us.

OwningComponentBase will create a scope, but you can still get things from the global scope through the `@inject` or `[Inject] attributes`.

Only the services resolved from `ServiceProvider` or from `TService` (in case you are using OwningComponentBase<TService>` will have that scope.

[2020-04-27 14:30] javiercn commented on #21217
@educielo thanks for contacting us.

That's by design. The only place where it is safe to make JS Interop calls is from within OnAfterRender async. OnInitializedAsync can not be able to make JS calls when the app is for example pre-rendered. I suggest you move whatever call you need to OnAfterRenderAsync or change the way the component is rendered to avoid using JS interop during OnInitializedAsyn

[2020-04-27 14:30] #21217 closed

[2020-04-27 14:33] educielo commented on #21217
Thanks for the feedback absolutely right. But how would be the proper way to do the authorization since it also needs to check for local storage

[2020-04-27 14:37] javiercn commented on #21211
I think the discussion here is about public vs non-public.

I personally fail to see the value in allowing this, specially considering the drawbacks this has in terms of performance and complexity. Most/all of the primitives that we have in ASP.NET Core for doing things like this are required to be public (controllers and so on) and forcing to search through all the non-exported types has serious

[2020-04-27 14:40] javiercn commented on #21226
@webebox thanks for contacting us.

Several things here, I don't think you need to be calling `StateHasChanged` in your handler. The framework will do that for you automatically. You likely need to use `@key` to have the behavior you want, since otherwise Blazor tries to find the minimal change needed to update the UI and that might not have the effect you expect.

[2020-04-27 14:40] #21164 closed

[2020-04-27 14:43] javiercn commented on #21217
@educielo consider skipping pre-rendering for paths that require authorization? Otherwise you need to implement it in a different way for pre-rendering paths. You can't send JS interop calls before connected to the browser, there's no way around it.

[2020-04-27 14:48] michalczerwinski commented on #21232
Hi @javiercn

This is exactly what I consider to be a bug. Currently using OwningComponentBase for resolving any service via ScopedServices makes it impossible to use RevalidatingServerAuthenticationStateProvider as it's dependecy.

In other words, no way of checking current user or permissions for any service resolved as OwningComponentBase ScopedService dependency.

I think what needs to be done

[2020-04-27 14:51] fgiuliani commented on #20496
@blowdart done!
https://github.com/dotnet/aspnetcore/pull/21237

[2020-04-27 14:52] javiercn commented on #20992
@pranavkm I took a look at @Kim-SSi output and this feels like a potential bug on the MSBuild evaluation? I looked at the binlog, (saw the error) and then looked at the targets in the project imports, and the target was there?

[2020-04-27 14:54] javiercn commented on #21232
@michalczerwinski I'm failing to understand what you are asking for. If you want a completely independent instance you use `ScopedServices` to resolve whatever service you want. Otherwise you simply use `[Inject]`.

What am I missing here?

[2020-04-27 15:08] javiercn commented on #21199
@bdnts thanks for contacting us.

Identity uses cookies and cookies require an HTTP response to be set. That makes this impossible to use with Blazor by definition. We don't recommend you implement your authentication UI using Blazor. For the pieces that require setting up a context the recommendation is to use MVC/Razor pages.

This is not something Blazor can/will solve. Identity is simply desig

[2020-04-27 15:17] javiercn commented on #19390
@dougbu @mkArtakMSFT We don't own these tests. They seem to be CLI tests, so I suggest you follow up with someone else. My recommendation is that they remove these tests, since we already removed them from 5.0 and so on as we plan to rely on CTI runs

[2020-04-27 15:24] hultqvist opened #21239 "Sync"
### Describe the bug

Change in `<input value="">` that triggers `@onchange` is not reflected in the virtual DOM.
Value in virtual DOM is not sent to DOM unless the value is different from previous in virtual DOM.

When the user changes the value in an input field there is no simple way to restore the value with a simple operation.

We need som way to tell the virtual dom that this value has chang

[2020-04-27 15:28] badamsdev commented on #20496
@fgiuliani  and @blowdart
I already submitted a fix: [https://github.com/dotnet/aspnetcore/pull/20497](https://github.com/dotnet/aspnetcore/pull/20497)
Review required...

[2020-04-27 15:28] parys commented on #21059
@BrennanConroy looks like yes, 5.0.0-preview.3.20215.14 works without manual manipulations. When I used 3.1.3 It failed in the same way, as author's.

[2020-04-27 15:34] webebox commented on #21226
Thank you. using @key solved the problem.

[2020-04-27 15:34] #21226 closed

[2020-04-27 15:37] davidfowl commented on #21218
@Tratcher we should fix the blocking code in the constructor *and* update the docs..

[2020-04-27 15:38] alfkonee opened #21240 "Role Based Authorization not Working in Blazor webassembly"
### Describe the bug
The RoleClaim Property on  RemoteAuthenticationUserOptions  is not working for Oidc Login with Identity Server

### To Reproduce

Program.cs Sippet
[code]
[code]
[code]

### Further technical details
- ASP.NET Core version :
Asp.net Core 3.1.3
Microsoft.AspNetCore.Components.WebAssembly.Authentication 3.2.0-preview5.20216.8

- Include the output of `dotnet --info`
[code]
- The

[2020-04-27 15:49] SteveSandersonMS opened #21241 "Blur event inside form can cause "no event handler associated with this event" exception"
Scenario:

[code]

Pressing "enter" inside the `input` causes:

[code]

Looks like the "navigate away" gets processed before the "blur", so the component has been disposed by the time we process its "blur" event handler.

[2020-04-27 15:57] MattGal commented on #21185
When you see an error like "500 (Operation could not be completed within the specified time.)" while it's confusing this is a 500, from reading around I suspect this is actually just a way of surfacing internal throttling limits of a storage account that is handling 40+M transactions a week... i.e. I think this is just the symptom of a peak load moment.

[2020-04-27 16:17] jsalichos commented on #20676
Same excact problem here!

[2020-04-27 16:19] davidfowl commented on #20676
@jsalichos what's that, the port? Change it...

[2020-04-27 16:23] LaughingJohn opened #21242 ""Downgrade" Blazor framework debug messages from Log Level Debug to Trace"
Hi,

This is a minor request/suggestion specifically around Blazor Webassembly, although it may also apply to server.

By default the standard console logger in Blazor appears to only write messages to the console with a log level of warning or above. If a developer wants to include debug logging then you have to set the minimum trace level to debug in Program.cs:

`builder.Logging.SetMinimumLevel

[2020-04-27 16:25] mkArtakMSFT commented on #21239
Thanks for contacting us. This is a dupe of #17281

[2020-04-27 16:25] #21239 closed

[2020-04-27 16:32] mkArtakMSFT commented on #21212
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-04-27 16:34] #21211 closed

[2020-04-27 16:36] ryanbrandenburg commented on #21185
@MattGal, while I'm sure that's true, the Department of Infrastructure and @rynowak have been talking about our need for reliability here in terms of needing something like "6 nines". I think that's likely to be difficult to hit with a single point of failure, even for high reliability stores like the dotnetfeed and GitHub because momentary downtime will always be a possibility.

[2020-04-27 16:36] Tratcher commented on #21218
How? And why bother when WebHostBuilder is scheduled for obsoletion in 5.0 (https://github.com/dotnet/aspnetcore/issues/20964)? People need to move to IHostBuilder regardless.

@maxcherednik can you give a specific example from the docs that's out of date? That doc primarily covers WebApplicationFactory and barely mentions TestServer. The doc for TestServer is still in progress. https://github.com

[2020-04-27 16:45] davidfowl commented on #21218
Start initialization in the constructor and finish it when the first incoming request is made.

That issue is reasonable until the related issues are fixed.

Most of our own test code still uses WebHostBuilder, so we haven't even fixed the issue for our own tests...

[2020-04-27 16:48] javiercn commented on #21240
@alfkonee thanks for contacting us.

You need to make sure of two things:
* The roles are part of the id token.
* The values in your "roles" array end up as individual claims in the generated principal. You can control that by implementing your own AccountClaimsPrincipalFactory.

[2020-04-27 16:55] mkArtakMSFT commented on #21166
Thanks for contacting us.
Can you please try to debug in browser and see whether that works?

[2020-04-27 16:56] SteveSandersonMS commented on #21166
Instructions for debugging in the browser are here: https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.1#debug-in-the-browser

[2020-04-27 16:58] jsalichos commented on #20676
My mistake thank you. Actually I though it didn't work becouse I watched the console logging were I was expecting a task to give information about the background work it does.
As soon as I hit the page, everything went as expected!

[2020-04-27 17:17] blowdart commented on #20496
Oops I missed that

[2020-04-27 17:19] ryanbrandenburg commented on #19390
Unless I missed a hand-off somewhere I believe we DO own these tests. They were originally written by Mike Harder as a possible alternative to the "normal" functional tests, and I don't believe they were ever passed off to another team.

That said, @javiercn is still correct that we deleted them from master and that it's just as reasonable (and reliable) to rely on CTI for coverage here.

[2020-04-27 17:23] pranavkm opened #21243 "Replace MVC's homebrew transcoding stream with System.Text.Encoding.CreateTranscodingStream"
Once https://github.com/dotnet/runtime/issues/30260 is resolved

[2020-04-27 17:28] pranavkm commented on #21242
@LaughingJohn you can use filters to configure log levels for specific categories: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#log-filtering:

[code]

[2020-04-27 17:31] pranavkm commented on #21219
Can you elaborate on why you would need to do this?

[2020-04-27 17:32] pranavkm commented on #21219
As for your original question, adding an API to an interface is a breaking change. We intentionally chose not to break it when we added additional features to `ModelExpressionProvider`. We could consider making methods on it virtual, but it's a fairly low level type that we do not expect users to replace.

[2020-04-27 17:38] blowdart commented on #21230
From your description it's highly unlikely you can get your application running under azure credentials. You'll have to authenticate another way. There's some samples around using certificates in the documentation.

[2020-04-27 17:39] dougbu commented on #19390
These tests haven't executed since 26 February and should not run anymore. @mmitche removed their execution from ProdCon builds and I disabled the pipeline.

Time to close this issue&hellip;

[2020-04-27 17:39] #19390 closed

[2020-04-27 17:44] halter73 opened #21244 "Support adding and removing Kestrel endpoints with code"
### Is your feature request related to a problem? Please describe.

This is a followup to #19376. Kestrel should support a programmatic API for adding and removing endpoints with code in addition to config.

For reference, here's how it looks with HttpSys:

https://github.com/dotnet/aspnetcore/blob/f6c89c2dc776060a5988f56f50c138220eaa129d/src/Servers/HttpSys/samples/HotAddSample/Startup.cs#L24-L41

[2020-04-27 17:49] pranavkm opened #21245 "NewtonsoftJsonOutputFormatter buffering improvements"
Mvc's Newtonsoft.Json based serializer buffers contents to disk to avoid sync writes to the response stream. This was introduced in 3.0. We've received a few reports of people running in to issues with this. This issue tracks improvements to the buffering scheme:

* [ ] Allow configuring the size of the in-memory buffer
* [ ] Add benchmarks - https://github.com/aspnet/Benchmarks/issues/1498
* [ ]

[2020-04-27 17:49] pranavkm commented on #21245
FYI @Tratcher \ @davidfowl \ @rynowak

[2020-04-27 17:50] halter73 opened #21246 "Add an IChangeToken to IServerAddressesFeature"
### Is your feature request related to a problem? Please describe.

This is a followup to #19376. HttpSys and now Kestrel both support reconfiguring endpoints at runtime. When an endpoint is added or removed, the IServerAddressesFeature is updated to reflect this changes. Unfortunately there is no way to observe when the IServerAddressesFeature changes today.

### Describe the solution you'd like

[2020-04-27 17:54] NTaylorMullen opened #21247 "Publish Razor VSCode error telemetry events with the "right" call path."
We need to update the two telemetry error events that we currently publish to publish them in a way that will result in the "correct" telemetry endpoint being used.

Given this requires work on O#'s end i'm marking this as blocked.

[2020-04-27 18:00] #20961 closed

[2020-04-27 18:09] Tratcher commented on #21245
- [ ] Fix the sync/async issues: https://github.com/dotnet/aspnetcore/pull/21223

[2020-04-27 18:14] MaddoxDevelopment opened #21248 "[Blazor WASM] Loading route with parameters causes webassembly bundle to be loaded from the wrong url, causing 404."
### Describe the bug
When I go directly to a url that has parameters, it loads the bundle from the wrong url, resulting in a 404 when loading blazor.webassembly.js.

### To Reproduce

1. Clone Repo
2. dotnet Run
3. Visit: https://localhost:5001/test/hello

**Barebones Repo with the bug** - https://github.com/MaddoxDevelopment/BlazorBug
Repo was made from the blazorwasm aspnet core template.

<img

[2020-04-27 18:21] #20794 closed

[2020-04-27 18:25] MaddoxDevelopment commented on #21248
Just figured it out, it requires this tag in headers in the index.html. Somehow it got deleted when I was adding stuff.

[code]

[2020-04-27 18:25] #21248 closed

[2020-04-27 18:33] #20496 closed

[2020-04-27 18:37] ryanbrandenburg opened #21249 "Flaky test: StreamAsyncTest"
https://dev.azure.com/dnceng/public/_build/results?buildId=618367&view=ms.vss-test-web.build-test-results-tab&runId=19368302&resultId=120247&paneView=debug:
[code]

[2020-04-27 18:37] javiercn opened #21250 "[Https] Figure out a story for WSL"
The current story with WSL is not great. You get a different certificate on the WSL partition and you get to trust the dev-cert again.

We could add an "--import" command to the dev-certs tool that imports an existing dev-cert certificate into the machine (will clear any other dev-cert certificate to ensure the imported one is used) so that WSL can use the certificate from the host machine.

[2020-04-27 18:48] alekkowalczyk commented on #12890
@linusbrolin Because there is no officially supported way to do SSR with .NET 5, and that's why on .NET Core 3.1 services needed to make it run are marked obsolete, although for so many people it works like a charm since .NET Core 2.0 on production :/

Alternatives:
 - Hope that the community will fork NodeServices and maintain it further down the road
 - Use one of the available open source optio

[2020-04-27 18:55] mkArtakMSFT commented on #21169
@mariohik, I'm using your repro project (BlazorApp4.zip) you've provided and am able to navigate to and from (while debugging) the FetchData page.
Everything works fine:

![image](https://user-images.githubusercontent.com/34246760/80408913-d6d7a380-887c-11ea-8c11-7788e6f607e7.png)

![image](https://user-images.githubusercontent.com/34246760/80408708-7fd1ce80-887c-11ea-9d2e-e1eca262e7ba.png)

Based

[2020-04-27 18:56] #20140 closed

[2020-04-27 18:57] mkArtakMSFT commented on #21169
I've just realized that you may have missed to actually add code for the WeatherClient in BlazorApp4 sample you planned to.
So I tried the original BlazorApp3.zip sample you've provided and I am successful with that app to:
![image](https://user-images.githubusercontent.com/34246760/80409716-35515180-887e-11ea-914b-9ea878434c6f.png)

[2020-04-27 18:58] mkArtakMSFT commented on #21169
Given this, make sure you have the latest .NET Core 3.1 SDK installed and the latest VS 2019 VS preview release.

[2020-04-27 18:58] #21169 closed

[2020-04-27 19:00] #20956 closed

[2020-04-27 19:07] alfkonee commented on #21240
Ok will look into thats on another note are there any plans to bring a feature where we can read the Claims of the User from the UserProfile request or something along those lines
as it'll make it very easier to populate any Custom Claims from the Profile Payload

[2020-04-27 19:07] NTaylorMullen opened #21253 "Use ExternalAccess.Razor for ServiceHub Razor components."
Context: https://github.com/dotnet/roslyn/pull/43668

[2020-04-27 19:12] #20962 closed

[2020-04-27 19:14] javiercn commented on #21240
We don't plan to add any custom feature like that, but you can implement your own AccountClaimsPrincipalFactory and collect any information you need there to collect the data. If you are using OIDC and IS, I believe the data will be available out of the box in the list of claims, but things like arrays/objects and so on won't be broken into individual claims. (But you can do this mapping yourself

[2020-04-27 19:21] stephentoub commented on #21187
On Windows, when you open a file you have choose whether to open it for overlapped I/O or not, and then all operations on the file need to follow-suit.  So if you open the file for async, all operations need to be async, and so FileStream implements the sync APIs on top of the async ones.  The reverse is also true: if you open the file for non-overlapped I/O, then you can't use overlapped, so File

[2020-04-27 19:25] mariohik commented on #21169
@mkArtakMSFT Yes, I have the latest version 3.1 of the SDK and reinstalled Visual Studio, but the error still occurs.
I have .NET 5 installed on the computer.
I will try to uninstall it and test again.

[2020-04-27 19:26] davidfowl commented on #21187
Yea, that seems fine, I've made a change to adjust our behavior.

[2020-04-27 19:29] NTaylorMullen commented on #19952
I investigated this and it is due to an inconsistency in designtime/runtime tooling.

@sylvainonweb would you mind providing a repro project?

[2020-04-27 19:30] alfkonee commented on #21240
Ok understood Will look into that further

PS For someone who might stumble across this issue If you are using IdSvr you have to enable AlwaysIncludeUserClaimsInIdToken on your client to get the Roles and Any other User Claims to be sent along with the Token

[2020-04-27 19:38] petterek opened #21256 "There is something strange with async/await within blazor"
### Describe the bug

This might not be a bug, and there was an issue in my code that made the 'bug' appear.

But..  when you are in an async contex e.g the onInitializeAsync and as in my case does a
[code]

The system gets 'out of bounds' or something. I can understand why, and yes it was something wrong in my code, but it took me like a week to debug..

Biggest issue is that there was no excepti

[2020-04-27 19:52] captainsafia commented on #20994
It's likely that the fix will land as part of the .NET 5 releases with Blazor WASM. Unless more people report running into the issue at which point it'll be patched into Blazor WASm.

[2020-04-27 20:06] NTaylorMullen opened #21258 "Completing the @... completion item in VS results in a yellow bar"
Looks like the second you commit the `@...` completion item in VS everything falls over and things start getting wacky. My bet is that this is due to us returning a VSCode based completion item command to re-trigger completion.

Repro:
1. Open a Blazor app
1. Type `<input |` where your cursor is at the pipe (|)
1. Hit "Enter" on the `@...` completion item

[2020-04-27 20:07] NTaylorMullen commented on #21195
Does this also happen in VS?

[2020-04-27 20:21] maxcherednik commented on #21218
@Tratcher in the documentation I mentioned:

https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1#basic-tests-with-the-default-webapplicationfactory

`WebApplicationFactory` is used. Not much happening during the the construction of the factory. The actual thing is delayed till the first call to the `CreateClient` method, where through the chain of invocations it

[2020-04-27 20:22] mkArtakMSFT commented on #16968
Thanks for filing this issue, @RehanSaeed.
We're closing this issue as we don't plan to make the proposed change in 5.0. The main reason is that this will require a huge investment from us, with not a very high value-add for majority of our customers.

[2020-04-27 20:22] #16968 closed

[2020-04-27 20:35] ryanbrandenburg opened #21259 "XmlSerializerOutputFormatterDoesntFlushOutputStream Flaky"
https://helix.dot.net/api/2019-06-17/jobs/738a4beb-b7cc-4cb4-9f9a-2ddf8f336f53/workitems/Microsoft.AspNetCore.Mvc.Formatters.Xml.Test--netcoreapp5.0/console
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=618468&view=logs&j=3f6d4e0f-1b71-56b5-361e-d95b6e6da15a&t=d5bf30bc-9e5a-596c-d1c8-39e2dfa42d49&l=799

[2020-04-27 20:41] Tratcher commented on #21218
@maxcherednik that doesn't follow. The stack trace should look like this:
https://github.com/dotnet/aspnetcore/blob/c7a2c0648a0fad7dc1f98c18702d1a4c1d72bcc2/src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs#L412
https://github.com/dotnet/aspnetcore/blob/c7a2c0648a0fad7dc1f98c18702d1a4c1d72bcc2/src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs#L157
https://github.com/dotnet/aspnetcore/blob/9cecd089e4

[2020-04-27 20:44] TanayParikh commented on #21258
This is possibly related to https://github.com/dotnet/aspnetcore/issues/21066

where I'm seeing:

[code]

aka, the code document doesn't have any tag helper descriptors and the `RazorCompletionEndpoint` isn't returning any values (only values are from the `CompletionHandler` for HTML based completions).

[2020-04-27 20:44] hikalkan commented on #21219
What I was trying to is that: AspNet Core Razor Page input tag helper doesn't support unobtrusive validation attributes when I use like `asp-for="MyCustomProperties["Prop1"]"`. MyCustomProperties is a `Dictionary<string,object>` here, so it can not get data annotation validation attributes for the Prop1 since it is not a typical class property, but only a value in a dictionary. However, I have a c

[2020-04-27 20:49] ryanbrandenburg commented on #21185
* https://dev.azure.com/dnceng/public/_build/results?buildId=617667&view=logs&j=efda9e5f-cf98-536e-4181-9b6c13ac35b3&t=dca754b7-8b76-5f52-60ef-6b0e8f7eb325&l=1349

[2020-04-27 21:00] #20816 closed

[2020-04-27 21:04] maxcherednik commented on #21218
I don't know what I am doing wrong, but here I am:
![image](https://user-images.githubusercontent.com/4208513/80420647-63b14a00-88db-11ea-8689-c5d9bfcd1037.png)

[2020-04-27 21:09] GiffenGood commented on #20890
Plunker or some other runner that would allow you to "try it" in the browser.

[2020-04-27 21:20] TanayParikh commented on #21192
With the LSP preview switch off, the document gets treated as C#. As such we get rich C# hover support.

With the LSP preview switch on, we use the WTE hover support which provides us with the hover string as seen due to some other limitations with how VS processes markdown (we can't seem to be passing in markdown for the moment).

[2020-04-27 21:23] ryanbrandenburg opened #21262 "Upload reliability"
Similar to dotnet/aspnetcore#21185, but in the other direction.

Examples:
* https://dev.azure.com/dnceng/internal/_build/results?buildId=615542&view=logs&j=0b850c37-f3ae-5bb9-a9fb-4f1e0fce2747&t=50d41e72-ce5e-50a3-efc7-c28c030be91c&l=425
* https://dev.azure.com/dnceng/internal/_build/results?buildId=618541&view=logs&j=1b89928a-2219-5ef9-602f-f95beb3da4dc&t=b8e57a46-4a1c-5752-600e-7a395fe90fb9&l=1

[2020-04-27 21:23] TanayParikh commented on #21192
@NTaylorMullen should this be moved to the backlog?

[2020-04-27 21:28] pranavkm commented on #21259
This appears to be the result of @davidfowl trying to change the implementation of the buffering. The test failure is in the PR build so the error is expected. Please don't quarantine this.

[2020-04-27 21:35] Tratcher commented on #21218
Right, we fixed this in 3.0. I don't think we can fix it in 2.1 without breaking a lot of people.

[2020-04-27 21:38] ryanbrandenburg commented on #21259
You are correct @pranavkm. I apparently missed checked PR builds as well, which I should not have. Closing.

[2020-04-27 21:38] #21259 closed

[2020-04-27 21:46] dougbu commented on #21185
@ryanbrandenburg I very much doubt this issue is actionable. Even if we could cache things without blowing up our disk space usage, it's a lot of infrastructure for a rare and transient issue. Suggest we close this.

[2020-04-27 21:50] dougbu commented on #21262
Have you contacted the First Responders about this issue? None of our code is involved in the problems seen in those builds. Basically, things go bad in build stages the Arcade team owns.

/cc @mattgal @riarenas @ilyas1974 @JohnTortugo

[2020-04-27 21:53] DrXSsive opened #21264 "Dependency Injection is not working in Asp.Net Core Blazor"
Hi Guys,

I have a very strange problem in my Blazor project. I am using Dependency Inject to user my "CompanyService" service. Here is how I am registering my service

    // Servies Injection
    services.AddSingleton<UserService, UserService>();
    services.AddSingleton<CompanyService, CompanyService>();

And I am injecting that service in my razor component as

    @inject CompanyService Comp

[2020-04-27 22:14] ilyas1974 commented on #21262
I have opened https://github.com/dotnet/core-eng/issues/9677 to have our first responder team take a look at the issue.

[2020-04-27 22:15] ajaybhargavb commented on #21154
This is possibly because the completion box opened when `@` was typed and it stayed there while we typed `(` and `Date`. I think this is because they don't consider `(` as a dismiss character https://devdiv.visualstudio.com/DevDiv/_git/VSLanguageServerClient?path=%2Fsrc%2Fproduct%2FRemoteLanguage%2FImpl%2FFeatures%2FCompletion%2FAsyncCompletionCommitManager.cs&version=GBdevelop&line=180&lineEnd=18

[2020-04-27 22:16] davidni opened #21265 "New overload of MediaTypeHeaderValue.IsSubsetOf with zero allocations"
Suggested by @Tratcher in https://github.com/microsoft/reverse-proxy/pull/80#discussion_r414696103

### Is your feature request related to a problem? Please describe.
Code duplication. The gRPC server stack, and now YARP, are doing this by hand.

### Additional context
Code locations that would benefit from this:
* YARP: [GRpcProtocolHelper.IsGRpcContentType](https://github.com/microsoft/reverse-p

[2020-04-27 22:17] javiercn opened #21266 "[Https] Certificate trust on linux"
Figure out the required steps to make this work (at least for Ubuntu) and remove any potential existing issues.

[2020-04-27 22:18] NTaylorMullen opened #21267 "Directive attribute completions are provided after colon"
![image](https://user-images.githubusercontent.com/2008729/80426157-02b55200-889a-11ea-8da4-71b6a512b6c3.png)

We should only be providing these attribute completions if there's whitespace prior to the cursor location and some sort of delimiter after it. i.e. `>` any sort of whitespace etc.

/cc @ToddGrun

[2020-04-27 22:32] mkArtak commented on #18852
I tried this out, and it's not freezing / hanging for me. Instead, I get `System.Threading.SynchronizationLockException: Cannot wait on monitors on this runtime.` exception. Here is the full stack trace:
![image](https://user-images.githubusercontent.com/7347708/80427043-cd116880-889b-11ea-874e-bd1f7f75de9c.png)

Seems this is the underlying exception:
![image](https://user-images.githubuserconten

[2020-04-27 22:33] NTaylorMullen opened #21268 "Change Razor directive icon to be non-C# type"
We got a new icon that we can use for Razor directives (just a preview don't use this): ![image](https://user-images.githubusercontent.com/2008729/80427235-21b4e380-889c-11ea-888b-6a6a346b5248.png)

We should try and use this. Although I have no idea what it takes to get a new icon into Visual Studio (@ToddGrun you ever have to do this?). All actual icon assets (svg etc.) are in the associated wor

[2020-04-27 22:36] ToddGrun commented on #21268
We're trying to switch over to imagemanifests for our custom images instead of modifying the global VS manifest. @jimmylewis who is working on this.

[2020-04-27 22:40] NTaylorMullen commented on #21192
I'm not sure quite yet. We're the ones who provide the hover info for the `EventCallback<Microsoft.AspNetCore.Components.Web.MouseEventArgs> EventHandlers.onclick`. That's typically derived from associated TagHelpers which harvest C# documentation.

Aka, when you hover over `@onclick` you should see this return data: https://github.com/dotnet/aspnetcore-tooling/blob/d6ab71d1973b98ff29c8cf9e4d0021a

[2020-04-27 22:44] pranavkm commented on #18852
https://github.com/Azure/azure-sdk-for-net/blob/29fd2754c3830a43feaa04784030a37bc6121621/sdk/core/Azure.Core/src/Pipeline/HttpClientTransport.cs#L478

[2020-04-27 22:46] kodiex opened #21269 "Blazor Server, OwningComponentBase with AuthenticationStateProvider"
In Blazor Server a OwningComponentBase based Component that requires AuthenticationStateProvider via DI gets an error: "getauthentication state async was called before setauthentication state"

[code]

[code]

Standard blazor server project .net Core 3.1 with Individual User Accounts authentication

[BlazorSSAuthTest.zip](https://github.com/dotnet/aspnetcore/files/4542352/BlazorSSAuthTest.zip)

[2020-04-27 22:47] mkArtakMSFT commented on #18852
I'm going to move this issue into the `Azure/azure-sdk-for-net` repository as the fix is on their side.

[2020-04-27 22:54] NTaylorMullen commented on #21154
Oh super interesting. That's a tough one because technically C# wants to have `(` as a commit character so you can commit method items. Sooo having it as a dismiss character isn't entirely correct either. This is an interesting example where you almost want to programatically decide when `(` should commit or dismiss completion.

In VSCode today this mostly works because C# takes a little bit of ti

[2020-04-27 22:56] #16775 closed

[2020-04-27 22:57] kodiex commented on #21264
Hi There,
Injected services are not available in the CTOR of the component yet, use OnInitialized instead:

[code]

[2020-04-27 22:58] HaoK commented on #14696
@blowdart this behavior is expected the scaffolding won't know how to find connection strings if they are doing something non standard

[2020-04-27 23:01] pranavkm commented on #20154
@SteveSandersonMS I'm not sure what's up with this test. Building it locally works fine both when run in isolation as well as part of `dotnet test`. I tried a few draft runs with this, but they seemed to pass. Any suggestions on how to proceed with this?

[2020-04-27 23:01] HaoK commented on #5745
this doesn't seem relevant anymore

[2020-04-27 23:01] #5745 closed

[2020-04-27 23:04] NTaylorMullen opened #21270 "On solution open, obey LSP Razor editor feature switch"
Currently if you check the "Enable LSP powered Razor editor" and then open a solution. The solution has saved state on which editor factory was used to previously open the document and our editor factory is therefore not used.

To fix this we'll probably need to work with the CoreEditor to understand the "right" fix for this.

[2020-04-27 23:05] HaoK commented on #5779
Compat package no longer exists even so closing

[2020-04-27 23:05] #5779 closed

[2020-04-27 23:06] DrXSsive commented on #21264
Hi,

I worked, Thank you for the help.

[2020-04-27 23:06] #21264 closed

[2020-04-27 23:11] pranavkm commented on #21219
Thanks for the explanation @hikalkan. MVC has a few places where an interface is substituted by an abstract class, It's a much easier sell to add APIs to the class versus make a breaking to an interface. If you think you still need to override the behavior of `ModelExpressionProvider`, we would consider a PR to make methods on it `virtual`. However, looks like you have a working solution (that loo

[2020-04-27 23:14] mkArtakMSFT commented on #18852
Ok, filed a separate issue in the Azure SDK repo to track this: https://github.com/Azure/azure-sdk-for-net/issues/11626

[2020-04-27 23:35] captainsafia commented on #21229
Thanks for opening this issue, @Bronzato1.

I attempted to reproduce this issue on preview5 and was not able to. Can you verify if you are able to reproduce this on the latest preview version?

Also, it would be helpful to share a project as a repro, in case there is something else impacting this that is not included in the bug report above.

[2020-04-27 23:42] halter73 commented on #16730
@mahabirsingh-kis can you try out 5.0.0-preview.2.20167.3? If so, does it fix your issue?

[2020-04-27 23:53] #18852 closed

[2020-04-27 23:59] NTaylorMullen opened #21273 "On feature switch change re-open Razor documents"
When a user changes their "Enable LSP powered Razor editor" we should be re-opening any active Razor documents so they're opened with the new LSP editor.

Not quite sure how to do this. Will have to work with some CoreEditor folks to find the right way to accomplish this.

[2020-04-28 00:30] hikalkan commented on #21219
Thank you for your time @pranavkm you can close this :)

[2020-04-28 00:40] blowdart commented on #14696
We're closing this issue as the behaviour discussed seems to be by design.

[2020-04-28 00:56] NullEntity commented on #19254
@JunTaoLuo I was looking for source for Config.Binder. It's at extensions/src/Configuration/Config.Binder/ in the last released tag, then extensions/src/Configuration only has Config.NewtonsoftJson on master. It doesn't look like it got migrated going through the aspnetcore commits. It looks like some stuff may have been removed from the extensions repo that shouldn't have been.

[2020-04-28 01:00] #21222 closed

[2020-04-28 01:32] #21189 closed

[2020-04-28 02:29] rynowak commented on #21079
That's pretty good then. Feel free to turn this into a PR 👍

[2020-04-28 04:00] NTaylorMullen commented on #20825
@pranavkm thank you so much for this. It means a ton to me. This has been top of my todo list for a while now but things kept getting in the way.

❤️ ❤️ ❤️ ❤️ ❤️ ❤️

[2020-04-28 04:28] DibyodyutiMondal commented on #21230
First and foremost, the issue of not being able to log in despite 'authentication' was caused by role-based access policies and firewall issues, ie, because I was not 'authorized' even if I was 'authenticated'. So, this is definitely not a bug.

That mismatch with the time made me think it was a bug, but it really wasn't. Thread culture played no part in this. System timezone did, however.

Someho

[2020-04-28 04:39] DibyodyutiMondal commented on #21230
Basically, I learnt that Azure is not Windows. You may be an owner, but that does not necessarily mean you can read or write to that resource!
Some resources like Azure SQL Database has extra hoops to jump through, while some resources (like KeyVault) have a different way to configure authorization than others. It's all documented, though, can't complain about that.

The thing is, the quickstarts/

[2020-04-28 05:25] DrXSsive opened #21276 "@bind-Value two-way binding is not working"
Hi,

Hope you all doing great. So, I created a form with some details and bound "MatTextField" to variable defined in VM with "@bind-Value" but when I change value in text box and try to get value in function, the value of bound variable is not updated. Here is my code:

        <EditForm Model="Context" OnValidSubmit="() => Context.UpdateCompany(companyid)">

            <DataAnnotationsValidator

[2020-04-28 06:11] zequential commented on #20890
**Answer challenges on speed by documenting best practice for setting up dual mode**

Many of the critics point to the large download times for WASM.  You are doing great work in reducing the size.  Launching Blazor Server and downloading Blazor Client in the background (dual mode) would appear to be a low-tech way to immediately improve UX while getting the WASM experience, PWAs, etc.  For that r

[2020-04-28 07:34] celalergun commented on #20137
For those who suffers from this strange phenomenon will please take a look at: https://stackoverflow.com/questions/61427520/separate-code-file-in-blazor-gives-bogus-warning-messages

[2020-04-28 08:18] mkArtakMSFT commented on #19552
Here is the comment: https://github.com/dotnet/aspnetcore/issues/5477#issuecomment-599148931

[2020-04-28 08:19] mkArtakMSFT commented on #20859
@SteveSandersonMS any suggestions here?

[2020-04-28 09:22] Tornhoof opened #21281 "HttpSys does not set DisplayName for Authentication Scheme Options"
### Describe the bug
``IISOptions``, ``IISServerOptions`` both have a property to set the Displayname. This is commonly used (e.g. IdentityServer) to show/hide buttons for the respective login protocols. If it is null, you hide the button.
Unfortunately HttpSys (which is kinda useful for integration testing of automatic (Negotiate) logins) never sets the DisplayName.
https://github.com/dotnet/aspn

[2020-04-28 10:00] javiercn commented on #21256
@petterek thanks for contacting us.

I'm not sure about the exact error you are getting, but I can tell already that the snippet is wrong. Blazor model uses a single-threaded context, so you shouldn't be calling .Result since that will block the thread and the app will not be able to resume the work.

[2020-04-28 10:07] LaughingJohn commented on #21242
Thanks @pranavkm, that did the trick. Just in case anyone else stumbles across the same problem, I did this:
`            builder.Logging.SetMinimumLevel(LogLevel.Debug)
                .AddFilter("Microsoft", LogLevel.Warning);
`
The filter sets the minimum log level for a source, so  for"Microsoft" (I think it's anything beginning "Microsoft" ) only display warnings and errors.

Feel free to clo

[2020-04-28 10:09] javiercn commented on #21269
@kodiex thanks for contacting us.

You shouldn't resolve anything that requires the AuthenticationStateProvider within a custom scope, since that will cause a new instance of the AuthenticationStateProvider to be created (which is not correctly initialized).

If you need access to the AuthenticationStateProvider within a service "scoped to a component" I recommend you use [Inject] to get the Authe

[2020-04-28 10:13] petterek commented on #21256
That was my guess as well, but finding the issue was not easy 😄
Just wanted to shout out about it, in case there is something that can be done with the documentation or to code to avoid others to coming in the same situation 😃

[2020-04-28 10:15] javiercn commented on #21256
Got you covered :). Filed an issue for it https://github.com/dotnet/AspNetCore.Docs/issues/18036

[2020-04-28 10:15] javiercn commented on #21256
I'm closing this issue since the remainder of the work here is to improve the docs

[2020-04-28 10:15] #21256 closed

[2020-04-28 10:47] kodiex commented on #21269
Hi, many thanks for answer. I get it, so is unfeasible to take advantage of DI automatic resolution of dependencies if AuthenticationStateProvider  is one of them, Isn't it?

[2020-04-28 11:04] hultqvist commented on #17281
Could you also look into a scenario where the value is modified elsewhere, for example in a form submit method. The change in MyValue won't be related to the `@onchange` event.

[2020-04-28 11:14] hultqvist commented on #17281
I'm looking for a workaround.
This one appears to work though there's some magic in there.

    async Task MyHandler(ChangeEventArgs args)
    {
        var old = Text;
        Text = args.Value as string;
        await Task.Delay(1); //Magic!
        Text = old;

[2020-04-28 11:18] Debbus72 opened #21282 "Parsing header in MultipartReader does not support folding headers"
### Describe the bug
When parsing headers in the `Microsoft.AspNetCore.WebUtilities.MultipartReader` (src/Http/WebUtilities/src/MultipartReader.cs) the reader will incorrectly throw an InvalidDataException when the header is folded.

### To Reproduce
We have the following message-body that we want to read:
[code]
Notice that the Content-Type has a folding header (which is allowed in HTTP/1.1 for h

[2020-04-28 11:20] Bartmax opened #21283 "Cannot set user secret starting with - in the CLI"
running:
[code]
error:
[code]

I found no way to set a secret when it's start with the `-` key. I had to update the .json file manually.

I would expected that if the value is within quotes " it should have worked.

<details>
<summary>Click to see dotnet --info output :</summary>
<blockquote>
.NET Core SDK (reflecting any global.json):
 Version:   3.1.300-preview-015095
 Commit:    85c45057dc

Run

[2020-04-28 11:34] blowdart commented on #21230
Hah, yes, I've been through that myself last week, when I was exploring MSIs. Doc updates will come.

You might want to look at the new, preview libraries from https://github.com/Azure/azure-sdk-for-net - the config code is cleaner and its easier to use MSIs (and as I go through everything their dev is updating the temporary preview instructions to mention permissions).

I also ended up writing an

[2020-04-28 12:07] spottedmahn commented on #19552
thanks @mkArtakMSFT! 🤝

[2020-04-28 12:19] TehWardy opened #21284 "Email addresses as account primary keys (question)"
This may not be the right place to ask but I figured if I wanted experts in this type of infrastructure this might be the sort of place that would have some.

I've hit a wall with the CTO.

Essentially I have a back end which uses a SSO model and I'm being told that "email addresses are basically a primary key reference to a user" since multiple accounts cannot share an email address.

The example

[2020-04-28 12:37] Bronzato1 commented on #21229
Ok, my apologies. I finally found the problem. Unfortunately I removed the instruction **base href** inside the **head** section of my **index.html** file.

`<base href="/" />`

So the problem was on my side. Please can you please close this issue.

[2020-04-28 12:45] Bartmax commented on #21284
Unique constraints are not the same as Primary Keys and as you already figure out, email is a very bad Primary Key.

You are also right this is not the place to this question, I suggest stackoverflow or gitter/slack aspnet core channels as a more appropriate medium for this kind of questions, specially because while I'm answering, I'm not even near as an expert 😉

[2020-04-28 12:53] TehWardy commented on #21284
Yeh totally agree, not even sure we can put a unique constraint on the field though ...
unless we force all emails to be globally unique.

Yeh I figured this is something that might have been figured out as part of the development of the framework here so was hoping to gain some insight from one of the team.

I have also posted this on Stack overflow though ...
   https://stackoverflow.com/questio

[2020-04-28 12:54] javiercn commented on #21284
Thanks for contacting us @TehWardy

It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow using the asp.net-core tag.

This issue tracker is for tracking product defects and not a general support forum. I'm closing this issue as the recommended place

[2020-04-28 12:54] #21284 closed

[2020-04-28 12:56] javiercn commented on #21283
@Bartmax thanks for contacting us.

The OS takes out the quotes I believe so dotnet user-secrets is likely thinking that's a parameter. I don't know if there's a way to escape that sequence.

[2020-04-28 12:57] #21269 closed

[2020-04-28 12:58] #21199 closed

[2020-04-28 12:59] Bartmax commented on #21283
tried `\` and `@` with no luck.

[2020-04-28 13:00] javiercn commented on #21283
@anurse or someone on his team might know. Otherwise, I would check the source code for the tool, it should be relatively straightforward to figure out from there if there's a way.

[2020-04-28 13:41] linusbrolin commented on #12890
@alekkowalczyk yes, my main point was that it seemed like the modules were marked obsolete because the SPA frameworks had all the needed functionality themselves, so obsolete=duplicated/unneccesary functionality.
And in fact, they even refer to the SPA frameworks own documentation for those very specific features, suggesting that it should work just fine.
But even though Angular **does** have offi

[2020-04-28 14:15] Peter-Optiway commented on #14453
I'm also getting the `A second operation started on this context before a previous operation completed. This is usually caused by different threads using the same instance of DbContext. For more information on how to avoid threading issues with DbContext, see https://go.microsoft.com/fwlink/?linkid=2097913.` error.

We have `HealthChecks` that take the `DbContext` as a constructor parameter.

How

[2020-04-28 14:28] johnrom commented on #12890
After comparing three projects, two with SSR in via SpaServices/NodeServices and one using Gatsby w/ an API, I have to say that separating concerns with Gatsby has been worlds apart the better development experience. It also results in needing a waaay smaller instance to run, due to not having to SSR on the fly, and because the only APIs the user needs to hit are ones that require user input or th

[2020-04-28 14:32] anurse commented on #21283
Pretty sure this is a known bug and has been fixed in 5.0 (though I don’t have the bug number handy)

[2020-04-28 15:00] #21232 closed

[2020-04-28 15:06] davidfowl commented on #21282
We don't support folding headers anywhere right now.

[2020-04-28 15:10] davidfowl commented on #21231
@jfheins Would you like to contribute a fix?

[2020-04-28 15:15] captainsafia commented on #21229
Glad you resolved the issue. Happy coding!

[2020-04-28 15:15] #21229 closed

[2020-04-28 15:35] #21242 closed

[2020-04-28 15:36] pranavkm commented on #21216
@TheBlueSky see https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#async-suffix-removal-from-controller-action-names, https://github.com/dotnet/docs/issues/14716

[2020-04-28 15:40] pranavkm commented on #21176
@andyedinborough per [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#Directives):

The response may not be stored in any cache. Although other directives may be set, this alone is the only directive you need in preventing cached responses on modern browsers. max-age=0 is already implied. Setting must-revalidate does not make sense because in order to go through revali

[2020-04-28 15:48] andyedinborough commented on #21176
I will retest. In practice, we had to add `must-revalidate` to force the browser to reissue the request when clicking the back button.

[2020-04-28 15:48] pranavkm commented on #20219
Thanks for the investigation @BrennanConroy. Marking this as blocked until we can get a resolution from runtime.

[2020-04-28 15:57] pranavkm commented on #21228
@levdimov changing the implementation might be a difficult now especially given that we haven't had a lot of feedback in this area. In addition, you found one workaround to this. The other alternative would be to use the [UIHintAttribute](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.uihintattribute.-ctor?view=netcore-3.1#System_ComponentModel_DataAnnotations_UI

[2020-04-28 16:37] mkArtakMSFT commented on #21276
Thanks for contacting us. This seems to be an issue with the referenced component: `MatTextField`.
Also dropping the link to the Blazor Data Binding  docs: https://docs.microsoft.com/en-us/aspnet/core/blazor/data-binding?view=aspnetcore-3.1

[2020-04-28 16:37] #21276 closed

[2020-04-28 16:40] rjgotten commented on #12890
@johnrom
Sure, that works well. But it's a bit of comparing apples with oranges though. A static site generator vs SSR running as part of a larger dynamic site?

[2020-04-28 16:43] isc30 opened #21285 "Blazor posibility to wait for OnInitAsync before initial rendering"
This is somehow related to #9190.

When using prerendering, the full page is rendered (with all the components rendered **after *OnInitAsync***). When the client side loads, it will **not** wait for *OnInitAsync* before the initial render, making the page "pop-in" for some content that was already there.

Rendering before *OnInitAsync* has finished is a great idea for implementing "loading" screen

[2020-04-28 16:54] mkArtakMSFT commented on #20990
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-04-28 17:17] johnrom commented on #12890
It depends on your use case, for sure. It all depends on your definition of "part of a larger dynamic site". Some dynamic sites are perfectly suited to static content hydrated by React with client API supplementation. The part I care about SSRing will generally be static content. If it is user data, it's not useful for SEO and I won't bother to SSR it if it can be hydrated with acceptable UX. It a

[2020-04-28 17:19] samsosa commented on #21282
See: [https://tools.ietf.org/html/rfc7230#section-3.2.4](https://tools.ietf.org/html/rfc7230#section-3.2.4)

... what a mess.

[2020-04-28 17:24] NTaylorMullen commented on #21270
By design, only thing we can do is update our description of our feature flag.

[2020-04-28 17:34] jr01 commented on #14907
Here is a workaround for Autofac that will call any `ConfigureTestContainer(...)` method, also in `.WithWebHostBuilder(...)` calls.

It builds on @ssunkari's [workaround](https://github.com/dotnet/aspnetcore/issues/14907#issuecomment-573068400)

[code]

Usage

[code]

[2020-04-28 17:42] jadarnel27 commented on #5823
I still think this would be a useful change - the framework and templates should be setting users up for success, and part of that is putting appropriate constraints on columns.

I [spent a little time](https://www.joshthecoder.com/2020/04/28/max-data-types-in-aspnet-core-identity-schema.html) looking into the current state of the code, and I think that these would be very reasonable settings:

[c

[2020-04-28 17:44] markm77 opened #21287 "Use local secrets created by PowerShell Secrets Management"
Currently we can use local secrets created in a secrets.json for local dev. But PowerShell is currently previewing a cross-platform Secrets Management feature which will allow creating local secrets in CredMan (Windows), keychain (macOS) and keyring (Linux). Remote secrets can also be created with the same interface allowing creation of scripts that work in either situation.

See https://devblogs.

[2020-04-28 17:46] ygoe commented on #4249
I'd like to see push support to be able to send messages to a REST API client from the server. I've just started playing with HTTP2 but failed immediately and can't recover. So I went on and checked push support. Now that I see it's not there and not coming in the foreseeable future, I can give up on HTTP2 altogether. This means I need to find another solution to send events through a REST API (or

[2020-04-28 17:48] javiercn commented on #21285
@isc30 thanks for contacting us.

You can cache the data during the prerendering phase and load it synchronously after that. If you do it that way there is no async code path and you don't get the "pop-in"

[2020-04-28 17:53] isc30 commented on #21285
Hi @javiercn, in this specific case I need to fetch some json from an endpoint, but I don't want to "ruin" the prerendered page by having a "loading" message for 100ms. There is no way to just "keep" what's in the page until I got every component fully initialized.

I can't find any way of doing this nicely at the moment, that's why i was suggesting introducing a method/flag in the WebAssemblyHost

[2020-04-28 17:56] markm77 commented on #21287
Hi @javiercn,
Just to clarify that this is a request for a way to access PowerShell local secrets in C#. The secrets can be created and managed in PowerShell but currently there is no way to access them in C#. I am mentioning this as I noticed you applied a "area-commandlinetools" label which possibly is not correct?
BR,
Mark

[2020-04-28 17:59] markm77 commented on #21287
I guess what I am requesting is an update to AddUserSecrets?

https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.usersecretsconfigurationextensions.addusersecrets?view=dotnet-plat-ext-3.1

[2020-04-28 18:02] ajaybhargavb commented on #20594
Moving this to the backlog until partner teams build support for this.

[2020-04-28 18:03] javiercn commented on #21287
@markm77 thanks for the clarification.

Then I believe the right place to file the issue is in the [dotnet/runtime](https://github.com/dotnet/runtime)

[2020-04-28 18:03] #21287 closed

[2020-04-28 18:05] rleath82 opened #21288 "Blazor 3.2 Preview 5 - API call ContentType not supported"
<!--

With the new preview, I am no longer able to retrieve data from an API as I was before.
I'm getting the following error:

Unhandled exception rendering component: The provided ContentType is not supported; the supported types are 'application/json' and the structured syntax suffix 'application/+json'

My API is returning a serialized JSON string and I'm using the current HttpClient.GetFromJs

[2020-04-28 18:11] rleath82 commented on #21288
With the new preview, I am not able to retrieve data from my API as I was before this current preview.
I'm getting the following error:

Unhandled exception rendering component: The provided ContentType is not supported; the supported types are 'application/json' and the structured syntax suffix 'application/+json'

I did not have this issue before and was wondering what the issue may be? My API i

[2020-04-28 18:16] markm77 commented on #21287
Thanks @javiercn , have re-posted. Just for my understanding is AddUserSecrets now independent of ASP.NET Core and available to any C# library? Is that why you asked me to re-post?

[2020-04-28 18:22] javiercn commented on #21287
I believe that has always been the case, since it was in "Microsoft.Extensions". Nothing there depends on ASP.NET Core specific bits.

[2020-04-28 18:25] markm77 commented on #21287
Okay, got it. Cheers!

[2020-04-28 18:26] pranavkm commented on #21288
@rleath82 what's the content-type on your API response?

@Jozkee, filed https://github.com/dotnet/runtime/issues/35580 to consider improving the error message.

[2020-04-28 18:29] rleath82 commented on #21288
It is returning a JSON string

[2020-04-28 18:30] rleath82 commented on #21288
string jsonstr= JsonConvert.SerializeObject(items, Formatting.Indented);
return jsonstr;

[2020-04-28 18:31] jmprieur commented on #21188
@jlinstrum : did you look at this sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C or https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C

[2020-04-28 18:54] layomia commented on #21187
@timgabrhel FWIW, we've added support for preserving object references in .NET 5 https://github.com/dotnet/runtime/pull/655.

[2020-04-28 18:57] Tratcher commented on #4249
@ygoe HTTP/2 PUSH is not an event API, the client still has to request the resource from the HTTP stack. You should look at WebSockets, SignalR, etc..

[2020-04-28 19:03] Daniel15 commented on #12890
If it works for your use case, static site generation (SSG) is better than server-side rendering (SSR) as you can precompute everything ahead of time as part of deployment rather than having to execute the JavaScript server-side at runtime.

That's what I'm doing for https://dnstools.ws/ to pre-render the home page and static pages. To handle this, I'm running `react-snap` as part of the build pro

[2020-04-28 19:11] evert commented on #4249
To pile on on to @tracychms , HTTP/2 Push is really a mechanism to 'warm the cache' and send responses to GET requests that the client will need to make  soon anyway. It removes a potential round-trip. Still useful for speeding up APIs

[2020-04-28 19:15] jfheins commented on #21231
Yes, I'll give it a try shortly :-)

[2020-04-28 19:23] ygoe commented on #4249
OK, must have misunderstood this. But hasn't there been such a message send thing somewhere around HTTP a few years ago? Or was that WebSocket only?

[2020-04-28 19:28] #20825 closed

[2020-04-28 19:32] NTaylorMullen opened #21290 "Add support for declarative code commenting"
I've heard that the CoreEditor has completed support for declarative code commenting. We should consume these changes and allow for some level of code commenting in Razor files.

Should reach out to  Hemchander Sanniidhanam.

[2020-04-28 19:33] pranavkm commented on #21288
Can you look at the HTTP request in the browser developer console and look at what it says for the Content-Type in the network tab:

![image](https://user-images.githubusercontent.com/174281/80529455-57190a00-894c-11ea-857b-3ab6405228b9.png)

`GetFromJsonAsync` requires the content-type to be `application/json` or `application/{media-type}+json`

[2020-04-28 19:37] NTaylorMullen commented on #20594
Created a "declarative" code commenting issue since supposedly the work there is done: https://github.com/dotnet/aspnetcore/issues/21290

[2020-04-28 19:40] rynowak opened #21291 "Enhance HTTPS redirect middleware for multi-hostname scenarios"
See: https://github.com/dotnet/tye/issues/354

The HTTPS redirect middleware allows you to configure (via config) a single port to use for HTTPS redirects. There are cases where this isn't sophisticated enough because each hostname you're listening on has a different HTTPS port value.

[2020-04-28 19:43] aL3891 opened #21292 "[Question] Asp.net behavior for unhandled requests"
Hello,
We had a discussion here today regarding what happens if you make a post to a non existent url in a Asp.net core site.

The question is, will the server read the entire request, including the body, even if it's not able to find a handler for the request? My assumption would have been "no", i thought it would just read the request method and url, discover that it can't handle the request, wr

[2020-04-28 19:43] evert commented on #4249
Websocket enables server-initiated messaging to a browser, and it piggybacks on HTTP/1.1 to initiate the connection. Websocket over HTTP/2 will use HTTP/2 frames.

I think there was a lot of misunderstanding over what HTTP/2 Push meant. If it's helpful I wrote something about the use-case of HTTP/2 push in the context of APIs: https://evertpot.com/h2-parallelism/

[2020-04-28 19:45] alekkowalczyk commented on #12890
Prerendered static pages are not an replacement for SSR, just an alternative for some use cases. Also setup of it, in the MS Stack with ASP.NET Core providing the data and Azure doing the hosting with rerender of static pages on demand seems non-trivial, or are there some resources on such approach?

[2020-04-28 19:47] jlinstrum commented on #21188
Thanks for the links. I was not aware of these samples. They definitely look like they will give me a better feel for the subject. I will try to have a look in the next few days and see if they help. I notice they use a different service to get to the Microsoft identity platform endpoint. Maybe that's what the webasm template should be using? Anyway, I'll give it a look.

Sent from Outlook<http://

[2020-04-28 19:47] rleath82 commented on #21288
Ok, yeah it's returning text/plain; charset=utf-8

So that must be something new with the update then. So I need to return the JSON object instead?

[2020-04-28 19:54] julienGrd commented on #21187
great news, is this something working now on .net 5 preview ? (im a bit confused because im on .net 5 preview but the webassembly dll are still in 3.2)

[2020-04-28 19:58] captainsafia opened #21293 "Move Blazor Server template tests into separate project"
The Blazor Server template tests currently rely on Selenium, and as a result cannot be run on Helix. They are currently skipped using the `SkipOnHelix` trait.

Moving these tests into a separate project would allow us to:
- Configure template tests that can run on Helix to only run on Helix and not AzDO
- Isolate the non-Helix tests into a separate project

cc: @HaoK @rynowak

[2020-04-28 19:59] TheBlueSky commented on #21216
Thanks, Pranav; I should have completed the document until the end I guess :p

[2020-04-28 19:59] #21216 closed

[2020-04-28 20:00] jmprieur commented on #21188
what is the webasm template, @jlinstrum ?

[2020-04-28 20:09] HaoK commented on #21293
Note: this is sort of a point in time thing too, since I think in the medium term, it's still worth get selenium running properly on helix, I dusted off my old PR and rebased it against master.  See https://github.com/dotnet/aspnetcore/pull/21280 as I don't think its too far away, if you had some cycles to help with the selenium side of things after these have been split off

[2020-04-28 20:14] andyedinborough commented on #21176
I've confirmed that without `must-revalidate`, Safari 13.1 and Firefox 75 (though seemingly fixed in 76), will serve the previous page when clicking back, without reissuing the request.  Chromium based browsers (specifically Edge, Brave, and Chrome itself) do reissue the request.

Fundamentally though, if there were some new keyword introduced for that header, developers would not be able to use i

[2020-04-28 20:20] anurse commented on #15144
As per some discussions in YARP, it might be a good idea to have an option to scan the Windows cert store for candidate certs an automatically select one. That's not suitable to completely solve this issue since it only applies on Windows, but it could be a convenient approach since it means the only thing you need to do to install/rotate/etc. a cert is make sure it's in the store and valid.

This

[2020-04-28 20:20] guardrex commented on #21188
@jmprieur He's referring to the Blazor WASM ASP.NET Core template at ...

https://github.com/dotnet/aspnetcore/tree/blazor-wasm/src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp

... and covered in our Blazor WASM topics here ...

* https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/standalone-with-azure-active-directory-b2c?view

[2020-04-28 20:24] Tratcher commented on #15144
@anurse that seems like a pretty different feature from this one, we should track it separately.

[2020-04-28 20:25] mkArtakMSFT commented on #19607
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-28 20:26] mkArtakMSFT commented on #20346
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-28 20:28] mkArtakMSFT commented on #19598
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-28 20:29] mkArtakMSFT commented on #19578
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-28 20:30] mkArtakMSFT commented on #19060
@javiercn can you please clarify what is the pending work here? Just add the description please.

[2020-04-28 20:32] jlinstrum commented on #21188
Sorry, I meant blazorwasm template with the  -au IndividualB2C option from the https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/hosted-with-azure-active-directory-b2c?view=aspnetcore-3.1 document. That template uses

services.AddAuthentication(AzureADB2CDefaults.BearerAuthenticationScheme) .AddAzureADB2CBearer...

under the Startup.ConfigureServices, whereas the example app

[2020-04-28 20:32] mkArtakMSFT commented on #17312
@javiercn putting this in 3.1.x to handle post 5.0-preview4 work.

[2020-04-28 20:34] wbalzer opened #21296 "Publish hosted PWA from VS is still broken"
### Describe the bug
Publishing a Core Hosted PWA WASM project gives an error:

Conflicting assets with the same path ‘/service-worker.js’ for content root paths ‘C:\Users\wade\Source\Repos\Apps\BlazorApp5\BlazorApp5\Client\obj\Release\netstandard2.1\blazor\serviceworkers\wwwroot\service-worker.js’ and ‘C:\Users\wade\Source\Repos\Apps\BlazorApp5\BlazorApp5\Client\wwwroot\service-worker.js’. Blazor

[2020-04-28 20:42] mkArtakMSFT commented on #20223
This is going to be handled as part of https://github.com/dotnet/aspnetcore/issues/19246

[2020-04-28 20:42] #20223 closed

[2020-04-28 20:43] JamesNK opened #21297 "Testable AppContext switches"
**Problem:**

In servicing releases we sometimes add AppContext switches to opt-in or out of fixes. Unit testing switches is difficult because AppContext is static, and the shared state from one test will break another.

At the moment we have to manually verify that a switch works.

**Proposal:**

[code]

One issue with this that I'm not sure about is visibility. Is there is a central place to add

[2020-04-28 20:46] mkArtakMSFT commented on #20220
Duping this with the above referenced issue: #5456

[2020-04-28 20:46] #20220 closed

[2020-04-28 20:56] mkArtakMSFT commented on #21178
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-28 20:57] mkArtakMSFT commented on #20056
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-04-28 21:05] mkArtakMSFT commented on #18980
@javiercn what will happen if we keep this as is? If nothing, let's move this to either `Backlog` or even close it.

[2020-04-28 21:05] NTaylorMullen opened #21298 "Selecting local Blazor components in Razor LSP editor results in silent InvalidOperationException"
- Disable Just My Code
- Turn on all `Common Language Runtime Exceptions`
![image](https://user-images.githubusercontent.com/2008729/80537636-3c00c700-8959-11ea-94d5-383ec502c202.png)
- Attach to another VS

In the "another VS"
- Open a Blazor app.
- Open Index.razor
- Type `<`
- Select the `App` completion item (don't have to commit it)
- See an InvalidOperationException get thrown:
![image](http

[2020-04-28 21:12] mkArtakMSFT commented on #18834
@NTaylorMullen the issue here is this and below:

[2020-04-28 21:17] mkArtakMSFT commented on #18537
We believe all the aspects here have already been covered. If there is something left, please file a new issue with individual issues please.

[2020-04-28 21:17] #18537 closed

[2020-04-28 21:18] anurse opened #21300 "Consider support for SNI certificate selection from X509Store"
This is something that came up in YARP (https://github.com/microsoft/reverse-proxy/issues/86).

We should consider an "automatic" certificate selection option in Kestrel to select certificates from `X509Store` based on the server name in the SNI store.

The design proposed by @davidni in the YARP issue is something like this:

1. A background task periodically scans all _reasonable_ certs from a g

[2020-04-28 21:21] mkArtakMSFT commented on #18242
@pranavkm is there anything to be done in 5.0 here?

[2020-04-28 21:22] javiercn commented on #21296
The fix didn't make it to preview5, but is already fixed in RC1

[2020-04-28 21:22] #21296 closed

[2020-04-28 21:24] mkArtakMSFT commented on #17730
This is blocked on https://github.com/mono/mono/issues/12453

[2020-04-28 21:27] mkArtakMSFT commented on #10521
Closing this as a dupe of https://github.com/dotnet/aspnetcore/issues/17472

[2020-04-28 21:27] #10521 closed

[2020-04-28 21:28] javiercn commented on #18707
Did some improvements in this area as part of https://github.com/dotnet/aspnetcore-tooling/commit/0d03b576172b447b356c9559073b6f3911717520 closing for now.

[2020-04-28 21:28] #18707 closed

[2020-04-28 21:30] javiercn commented on #18561
Did improvements as part of https://github.com/dotnet/aspnetcore-tooling/commit/0d03b576172b447b356c9559073b6f3911717520 closing for now.

[2020-04-28 21:30] #18561 closed

[2020-04-28 21:30] javiercn commented on #18543
Did improvements as part of https://github.com/dotnet/aspnetcore-tooling/commit/0d03b576172b447b356c9559073b6f3911717520

[2020-04-28 21:37] mkArtakMSFT commented on #15224
@JeremyLikness is this something you're working on? Do you track it somewhere else?

[2020-04-28 21:37] mpp opened #21301 "Experiencing #7419 in latest preview release 3.2.0-preview5.20216.8"
Hi, I'm experiencing the bug shown in issue #7419 with the latest preview release (3.2.0-preview5.20216.8).

I have a page that respond to 2 URIs:
[code]

When I navigate from `/foos/{fooId}/bars` to `/foos/{fooId}/bars/{barId}/show` the `barId` property is not set.
When, from the browser, I navigate directly to `/foos/{fooId}/bars/{barId}/show`, then the `barId` property is properly set.

Is ther

[2020-04-28 21:49] pranavkm commented on #18242
It's a bug, we should fix it. The one data point I have for this, is that we've only had one report of this so far.

[2020-04-28 21:53] #21249 closed

[2020-04-28 22:00] blowdart commented on #21300
I'd make this a service or interface based, so it can be swapped out for things that may be more suitable for, say, linux or a background task that supports Let's Encrypt

[2020-04-28 22:02] blowdart commented on #21297
I'd be careful here. As long as this doesn't enable runtime opt-outs, and preferably isn't in a shipped product it would be ok. AppContexts can be used to control vulnerability updates, and we don't want the ability to change that decision at runtime.

[2020-04-28 22:03] pranavkm commented on #21186
Would you mind including your binary logs from VS? While the detailed logs are useful, they're not really human readable. Here's how you capture the binary logs: https://github.com/dotnet/aspnetcore/wiki/MSBuild-logging

By the way, your logs suggest that the build took a lot less than the time you listed:

[code]

[2020-04-28 22:11] JamesNK commented on #21297
Any APIs added would be internal. The implementation would only change in unit tests.

[2020-04-28 22:14] NTaylorMullen opened #21302 "Transiently removed documents corrupts document version cache resulting in ambiguous C# errors"
We remove documents for many reasons whether it be moving a document to/from a misc project, saving a document on disk or updating a documents state via a project.razor.json update. I found that LSP clients don't have a concept of "deleted" and will continue incrementing a documents version until the document is closed despite whether a version of it exists on disk. Because our document version ca

[2020-04-28 22:17] JeremyLikness commented on #15224
@mkArtakMSFT the answer isn't simple. We are working on guidance for Blazor Server. Right now there aren't any EF-compatible databases directly accessible from Wasm (this may change with SQLite and Cosmos DB, but I'm not aware of those working in general cases right now), so it doesn't make sense to have EF in the browser. Any EF-interaction would be a classic case of standing up Web APIs with EF

[2020-04-28 22:28] rynowak commented on #21297
What I don't like about this is that I don't like it it introduces an abstraction, and requires new code to consume it - I think that has the same or higher risk level with more work than just ... not. I was trying to state this objection on my PR, but perhaps I wasn't super clear.

**note:** I'm making the assumption that we manually test our patch fixes with the real build that is going to custo

[2020-04-28 23:21] #21302 closed

[2020-04-28 23:36] snapfisher opened #21305 "Blazor wasm asking for admin consent improperly"
### Describe the bug
In Blazor Wasm Preview 5, adding the authentication scope option:

options.ProviderOptions.AdditionalScopesToConsent.Add("https://management.azure.com/user_impersonation");

Causes the application to require admin consent.  However, in the Azure portal, when this permission is assigned to the service principal, it specifically states that admin consent is not required for this

[2020-04-29 00:02] ryanbrandenburg opened #21306 "TagHelper Description newlines"
It both gives double lines and has an extra newline at the end.
![TagHelperDescriptionExtraLines](https://user-images.githubusercontent.com/14987221/80549119-3a42fd80-8971-11ea-8f30-2d0263d1c575.png)
Look at those extra newlines. They make me sad. Let's make me happy.

Why though? Because the documentation/description for most tagHelpers usually comes from Doc comments, meaning it's written someth

[2020-04-29 00:03] TanayParikh commented on #21195
Look's like it still thinks it's in C# context. In which case, it seems related to https://github.com/dotnet/aspnetcore/issues/20584

[2020-04-29 00:41] Kahbazi opened #21308 "API Proposal : Getting stored reference to http methods"
Based on #21079 and #21277 routing performance could be improved by comparing http methods by reference first.

These two methods are needed. `bool Equals(string x, string y)` to check the equality of http methods and `string GetHttpMethod(string httpMethod)` for getting the stored reference of the http method.

[code]

/cc @rynowak @Tratcher

[2020-04-29 00:45] TanayParikh opened #21309 "Razor Language Server Drops Connection When Writing Directive Attribute"
![Apr-28-2020 17-44-36](https://user-images.githubusercontent.com/14852843/80551326-f69fc200-8977-11ea-9a27-89fce69307ba.gif)

[code]

Able to break on this: https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/OOPTagHelperResolver.cs#L110

[2020-04-29 01:14] layomia commented on #21187
@julienGrd yes, this is included in preview 3. You should be able to try it by setting `JsonSerializerOptions.ReferenceHandling` to `ReferenceHandling.Preserve`.

[2020-04-29 01:20] sam-wheat opened #21310 "EnvironmentName is not propagated from publish file to WebHostEnvironment"
Based on [answers in this question](https://stackoverflow.com/questions/39238850/how-to-set-aspnetcore-environment-in-publish-file)
and [this one](https://stackoverflow.com/questions/32548948/how-to-get-the-development-staging-production-hosting-environment-in-configurese) I am trying to propagate the current environment setting from my .pubxml file to my app when it runs.  Why is it ignored?

Her

[2020-04-29 01:37] JamesNK commented on #21297
This is the part I wasn't sure about. We don't have one central assembly to do these things.

A lot of types are internal, but yeah, if the type is public then this idea won't work.

A small amount of manual testing is simpler that overcoming all these problems. Closing.

[2020-04-29 01:37] #21297 closed

[2020-04-29 02:21] rynowak commented on #21297
FYI @blowdart - this is already a thing. `AppContext.SetSwitch`. I'd wager most customers already interact with app context through code vs other means.

[2020-04-29 02:32] halter73 commented on #21308
Do we need the Equals method? It looks like StringComparer.OrdingalIgnoreCase.Equals already short circuits immediately given reference equality.

https://github.com/dotnet/runtime/blob/d10a78217f61a1113624eff3747a17cf2907297a/src/libraries/System.Private.CoreLib/src/System/StringComparer.cs#L325

[2020-04-29 02:34] halter73 commented on #21308
It also probably make sense to verify reference equality fails for at least GET and POST before doing full string comparisons in GetHttpMethod.

[2020-04-29 02:46] webprofusion-chrisc commented on #21300
The usual convention is to put the administrator in charge of assigning TLS certs to a service. They also need to be able to dynamically re-apply the latest cert to any service that needs it (for expired, revoked or differently-scoped certs).

Having the service auto decide for itself sounds open to problems, for instance a matching cert may also include other SAN names, for other domains/subdomai

[2020-04-29 03:24] Anduin2017 commented on #16730
Hi, I have tried another way to test it.

![image](https://user-images.githubusercontent.com/19531547/80558149-dc172880-8a0b-11ea-8601-ebd4e3246475.png)

The previous test was based on disabling the network adaptor. And it reconnects fine.

But I tried to wait for 2 hours, just open the page and do nothing, it seems that I can't receive a message now. And the signalr seems just didn't detect it.

[2020-04-29 03:52] mkArtakMSFT commented on #21305
@javiercn, can you please look into this? Thanks!

[2020-04-29 04:46] hieuluong1989 commented on #21166
It worked with debugging in the browser. This is my dotnet info:
![image](https://user-images.githubusercontent.com/52130197/80561565-df1c1400-8a1f-11ea-99bf-0ba19ad39fb0.png)

[2020-04-29 05:28] idscom commented on #20729
Having the same issue on:
![image](https://user-images.githubusercontent.com/31682573/80563225-480f7780-899f-11ea-9991-b48775e17cb1.png)

![image](https://user-images.githubusercontent.com/31682573/80563318-93298a80-899f-11ea-9d36-9965e7143c69.png)

[2020-04-29 06:04] CrahunGit opened #21312 "Blazor Webassembly access appsettings from browser url"
### Describe the bug
In blazor WebAsembly appsettings is located in wwwroot folder allowing everybody to see it just typing its addres on url bar

### To Reproduce
Just type /appsettings.json on url bar.

![imagen](https://user-images.githubusercontent.com/12015993/80565062-db709900-89ef-11ea-9621-b4b8b4ae97bf.png)

### Further technical details
- Blazor WebAssembly Preview 5.
- Visual Studio 2019

[2020-04-29 06:22] #21187 closed

[2020-04-29 06:27] HLSS-Hen opened #21313 "Disponse FileStream not at time in Action"
### Describe the bug
When I return `ControllerBase.File(fileStream,contentType,downloadName) `in `Action`, it warning me **CA2000**. If I use `Using` reserved word, whatever I use `try finally` or let it auto disponse, it throw exception of file has been closed.

### To Reproduce

[code]

### Further technical details
- ASP.NET Core version: .NET Core 3.1
- Include the output of `dotnet --info`:

[2020-04-29 07:45] levdimov opened #21314 "Html.HiddenFor will never use htmlAttributes value for value attribute"
### Describe the bug

`Html.HiddenFor(m => m.Property)` won't use `htmlAttributes` value for value attribute even if `m.Property` is null and/or there are no such key in ModelState.

### To Reproduce

Model:
[code]

View:
[code]

FormId is not initialized, so it is null.

Actual result:
[code]

Expected result:
[code]

Documentation for HiddenFor clearly states:

### Further technical details
- AS

[2020-04-29 08:16] aL3891 commented on #21292
I've done some more testing using a custom client where I can change the way the request is sent as well as some custom middleware and I can see that

* The 404 response is sent right away
* The client is still sending at least some data (a few megabytes) after the response has been written
* I sometimes get a connection reset as i expect, and sometimes is able to send the entire request,

After t

[2020-04-29 08:48] javiercn commented on #21305
@snapfisher thanks for contacting us.

AddtionalScopesToConsent only reflects the underlying msal.js settings. I believe this is an issue with your app configuration, since that's what drives the UI. I believe that the issue might be in how you are configuring your app + how you are configuring the msal.js settings.

If you don't need consent for a scope you might not need to add it to `Additional

[2020-04-29 08:52] javiercn commented on #21312
@CrahunGit thanks for contacting us.

That's by design, the file needs to be accessible by the browser, like the dlls and everything else on your app. There should be no issue with that as you shouldn't be storing any sort of secret in there (since single page applications can't hold on to secrets safely).

[2020-04-29 08:53] #21312 closed

[2020-04-29 09:02] dlyz opened #21315 "SignalR server hub: an exception thrown during result serialization will not appear in Hub.OnDisconnectedAsync"
### Describe the bug

If an exception occurs during serialization of the invocation result (in custom converter or result property getter), the connection will be closed without this exception, and witout any exception at all (`Hub.OnDisconnectedAsync(null)`). The only information of this exception can be found in logs, but with Debug level for category Microsoft.AspNetCore.SignalR.HubConnectionCo

[2020-04-29 09:07] BenLampson opened #21316 "Blazor Code format in VS2019 16.6.0 Preview4"
I write the code like this:
![image](https://user-images.githubusercontent.com/15414750/80578664-67f47900-8a3b-11ea-944b-5c8b70c44aaf.png)

If I press the ctrl+e+d.
The code style change to:
![image](https://user-images.githubusercontent.com/15414750/80578712-8195c080-8a3b-11ea-948e-d2cb369bf64a.png)

Currently, I close the code format feature. :cold_sweat:

[2020-04-29 09:08] javiercn commented on #21301
@mpp thanks for contacting us.

I don't think we ever implemented this behavior (despite what the referenced issue says)

[2020-04-29 09:10] javiercn commented on #21313
@HLSS-Hen thanks for contacting us.

You should not use `using` within your stream there, and you should simply ignore/supress the warning. If you pass a stream to File, the framework will take care of the disposal after is done with it.

[2020-04-29 09:10] #21313 closed

[2020-04-29 09:12] javiercn commented on #21314
@levdimov thanks for contacting us.

The value comes from the property and can't be overriden by passing custom attributes. To achieve what you want, simply assign the value to the property in your model.

[2020-04-29 09:16] levdimov commented on #21314
Hey, @javiercn! Thank you for a quick response.

Could you plase explain how this correlates to what is written I docs for this method?

[2020-04-29 09:18] lowi commented on #15440
I have used `JSRuntime.InvokeAsync` to transform the clientX and clientY points to correct SVG points (working with 3.2.0-preview5.20216.8):

In `index.html`:
[code]
In the component:
[code]

[2020-04-29 09:20] javiercn commented on #21314
@levdimov can you point the specific doc you are referring to?

[2020-04-29 09:40] levdimov commented on #21314
@javiercn I did reference it in the end.

Here is the link: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.rendering.ihtmlhelper-1.hiddenfor?view=aspnetcore-2.1

In my scenario htmlAtributes' `value` is first non-null value so it should be written in input tag.

[2020-04-29 09:57] enetstudio opened #21317 "components that write to their own parameter properties"
I'm referring to [Don't create components that write to their own parameter properties](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#dont-create-components-that-write-to-their-own-parameter-properties), where we're told that

My question is how do you account to the resetting of the Count parameter in a child component in the following code snippet:

     @pag

[2020-04-29 11:20] EuanKirkhope commented on #17025
+1 for this issue,  a major blocker for me, Ive had to go to to a plain old user/ passwords file temporarily. :(

(also) how does one sign in and out of windows authentication say if the user has finished editing a page marked with [authorize], or where the code behind requires login?  This app is more of a industrial visualization app and so is always has a client running, with screens available

[2020-04-29 11:27] javiercn commented on #21317
@enetstudio thanks for contacting us.

You override `OnParameterSetAsync` and reset the internal state for your component. You should not be doing Count++ but have a separate _count field to track the state, that's precisely why we have the guidance that you shouldn't write the parameters.

[2020-04-29 11:27] abhiphirke opened #21318 "Error while using Microsoft.AspNetCore.SignalR.Client. Works from Console but not from MSTest"
I am using `SignalR` as a mechanism to exchange some simple notifications in our product suite.

I am facing an issue with the `.Net Framework 4.7.2` and `AspeNetCore.SignalR.Client`.
Attached is the sample code which has projects.

Solution `NotificationHub` includes a simple `ASP.Net Core 3.1` SignalR Hub that broadcasts received message.

Solution `NotificationTestProj` includes following Signa

[2020-04-29 11:35] #21014 closed

[2020-04-29 11:37] javiercn commented on #19716
Closing as per @BrennanConroy comment.

[2020-04-29 11:37] #19716 closed

[2020-04-29 12:15] javiercn commented on #16831
There is a separate issue somewhere where I showcased how to do this for Azure AD with server-side blazor. Closing this issue since it's the same content.

[2020-04-29 12:15] #16831 closed

[2020-04-29 12:32] jonathanmadeley commented on #18087
I just ran into this problem and the solution above did get most of the way there, however you have to also  add:
[code]

This has taken me a couple of hours to resolve and has been the only way to get the application working as expected.

Hope this helps anyone with the same issue.

[2020-04-29 13:11] DibyodyutiMondal commented on #21230
I did not use the #defines approach, but when I was taking Azure Keyvault out on a joyride as a configuration store, I remember having to instatiante an `AzureServiceTokenProvider` and then do some more stuff involving some callback. Compared to that, this `config.AddAzureKeyVault()` is so much more.... intuitive...

I will definitely look into the `Azure` SDK.

[2020-04-29 13:13] #21230 closed

[2020-04-29 13:23] DibyodyutiMondal commented on #21230
Also, If anyone from the docs team needs help to make a quickstart for
1. an azure app service, that
2. talks to a static frontend on another domain (like netlify)
3. uses azure sql database to store data
4. uses azure storage to persist keys
5. uses azure keyvault to encrypt said keys at rest
6. would like to use local IIS or development.

I would be happy to provide steps on how I
1. configured

[2020-04-29 13:24] enetstudio commented on #21317
@javiercn, I thank you for your response.

Yes, I understand that.  And even before I've discovered this section in the docs I knew that I must not manipulate the parameter itself, and should assign it to a local variable. However, this issue is written because the docs speak of two factors or conditions: Child content in child component and StateHasChanged call in parent component. In my case, th

[2020-04-29 13:27] javiercn commented on #21317
@enetstudio yep, that is correct. It has nothing to do with ChildContent, it's because the parameter is being manipulated.

Closing since the behavior is expected and the question has been answered.

[2020-04-29 13:27] LaughingJohn commented on #17926
I'm also seeing this error, or something similar.
In my case it seems to only happen when I type into a text input field and resize the screen (there is code which adjusts the screen based on size). It does seem to specifically be something to do with the input field because if I don't type anything in I can resize the screen without issue.

[2020-04-29 13:39] mpp commented on #21301
Ok, thanks for letting me know.
I'll manage it in a different way.

[2020-04-29 13:51] shadow-cs opened #21320 "LocationChangedEventArgs.IsNavigationIntercepted is always false (WASM)"
No matter how I change the location (I'm changing hash) the `IsNavigationIntercepted`  property is always `false`.

### Describe the bug

I expected that manual navigation or calling JS would set `IsNavigationIntercepted` to `true` but I always got `false`.

Maybe the problem is, I'm changing the hash and not the path (btw if I change the path the page reloads without any notification). Or maybe I

[2020-04-29 13:58] pranavkm commented on #20992
@Kim-SSi Blazor.Extensions.Logging.Js is missing `<RazorLangVersion>3.0</RazorLangVersion>`. You'll need this to be present in your project file for the component model and static web assets support to be enabled.

Note that we only expect `Microsoft.AspNetCore.Components.WebAssembly.Build` to be referenced by the blazor app that is meant to run, not by libraries or associated projects.
Blazor.Ext

[2020-04-29 14:00] pranavkm commented on #17926
We're tracking fixing this issue as part of https://github.com/dotnet/aspnetcore/issues/21241.

[2020-04-29 14:01] pranavkm commented on #19300
Moving this out to the next sprint (after wasm is merged upstream).

[2020-04-29 14:19] ZhangGaoxing opened #21321 "[Blazor WASM]Request has been blocked by CORS policy"
### Describe the bug
I have a ASP.NET Core 3.1 WebAPI project and a Blazor WASM project. CORS works well when WebAPI is deployed locally. But when I deployed the web API on the Cloud Server, there was a CORS error.
![1](https://user-images.githubusercontent.com/15957347/80605598-dfd79900-8a65-11ea-8b5d-42782daaa9b6.jpg)

### To Reproduce
CORS configuration of WebAPI
[code]
What puzzles me is that

[2020-04-29 14:25] julienGrd opened #21322 "[Blazor Webassembly] Give JsonSerializerOptions to HttpClient Make result "empty""
Hello Guys,

It seem the new System.Text.Json Api can now handle ReferenceLoopHandling as suggest this issue (https://github.com/dotnet/aspnetcore/issues/21187#issuecomment-620936091).

So i try implement this in my app to replace Newtonsoft.Json.

I precise i have this version of System.Net.Http.Json : 5.0.0-preview.3.20214.6

I configure my server project to activate this
[code]

And my client p

[2020-04-29 14:28] ZhangGaoxing commented on #21321
If I add the code to my `HttpJwtHandler`, there are other errors
[code]

![2](https://user-images.githubusercontent.com/15957347/80607782-7b6a0900-8a68-11ea-9b4f-380baad46a29.jpg)

[2020-04-29 14:50] santosh-kh opened #21323 "@microsoft/signalr - Unable to receive a message in the client side."
I'm not able to receive message from server to client when sending to specific client.
[code]
I'm passing connectionId as part of request header.
This is how i'm getting the connectionId in the client before making api call
[code]
Message sent form OnConnectedAsync is received by client.
[code]
### My observation
``` Context.ConnectionId``` is not matching  ```connectionUrl.split('id=')[1] ```
Thi

[2020-04-29 14:54] javiercn commented on #21322
@julienGrd thanks for contacting us.

I don't think this is Blazor webassembly now since `GetFromJsonAsync` is coming from the new JSON extensions for HttpClient. That said, can you post more details about your model, make sure you have linking turned off (to ensure the linker is not removing things an causing the serialization to fail)

@pranavkm do you have any thoughts on this?

[2020-04-29 14:54] Kim-SSi commented on #20992
@pranavkm You are correct about the project not being a blazor app. It is a web project that is used to webpack the js files.
I swapped the `Microsoft.AspNetCore.Components.WebAssembly.Build` to
`<PackageReference Include="Microsoft.AspNetCore.Components" Version="3.1.2" />` and
`<PackageReference Include="Microsoft.AspNetCore.Components.Web" Version="3.1.2" />`
Adding the missing `<RazorLangVersi

[2020-04-29 14:59] pranavkm commented on #21322
MVC 3.x's output formatter does not support features introduced in System.Text.Json 5.0. This includes the `ReferenceHandling` property. You're also missing the casing behavior configured by default by `GetFromJsonAsync`:

[code]

[2020-04-29 14:59] javiercn commented on #21321
@ZhangGaoxing thanks for contacting us.

I'm not sure what HttpJwtHandler does since that's not something that we ship. I would suggest a couple of things:
* Capture the outgoing network request from the browser and ensure it has all the bells ans whistles.
* Check the CORS response to make sure the appropriate headers are present.

I think that if you are doing a cross-origin request the request

[2020-04-29 15:02] javiercn commented on #21320
@shadow-cs thanks for contacting us.

In all the cases you are describing the navigation is not intercepted. Navigation is intercepted when a user clicks an `a` link and so on. In the 2 first cases you described, Blazor doesn't have any chance to intercept the navigation at all, and in the 3rd case you are triggering it programmatically, so it is not intercepted.

[2020-04-29 15:03] javiercn commented on #20992
Closing since the underlying problem has been solved.

[2020-04-29 15:03] #20992 closed

[2020-04-29 15:05] pranavkm commented on #11592
@mkArtakMSFT parking this back on your plate to figure out how to do this. This needs to go thru DOI and I don't have any workable solutions to this.

[2020-04-29 15:19] pranavkm commented on #13189
You should be able to control this using `ResponseCacheLocation.None`: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.responsecachelocation?view=aspnetcore-3.1

[2020-04-29 15:21] pranavkm commented on #18143
@gaffkins do you have a minimal app that reproduces this error? I tried following your steps but did not see the error. In the meanwhile, one thing to try might be to configure the ResponseCache filter to disable caching on `_Host.cshtml`.

[2020-04-29 15:23] pranavkm commented on #20849
@GioviQ can you share a minimal app that reproduces the problem?

[2020-04-29 15:24] pranavkm commented on #20154
Dropping this on your plate Steve.

[2020-04-29 15:26] mwinkler commented on #12238
I ran in this issue today, when I try to validate the from without a submit button.
Please fix this.

[2020-04-29 15:26] jods4 commented on #13189
@pranavkm Thanks for the tip, I assume you mean
`[ResponseCache(NoStore = true, Location = ResponseCacheLocation.None)]`
would work fine with the antiforgery middleware.

I'll try and update this issue accordingly.
Unfortunately due to the current covid situation I probably won't be able to do so before 3 weeks, so please be bear with me.

[2020-04-29 15:42] pranavkm commented on #19979
Do we know what caused the tests to hang (i.e. build logs \ dumps etc)? These tests aren't fundamentally different from some of the other template tests that are currently running just fine. I don't mind looking at why the tests don't time out more readily, but that's possibly a lot more work than root causing this.

[2020-04-29 15:57] BrennanConroy commented on #19979
Might need to give up on root causing this for now as it's been over a month so the builds are gone.

These will be unquarantined soon anyways probably because they've been passing for a month.

[2020-04-29 16:02] ylr-research opened #21326 "Blazor WebAssembly Google authentication"
I'm trying to add a third-party API (Google) to authenticate users in a Blazor WebAssembly app. When looking at the [Secure ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/?view=aspnetcore-3.1#feedback) @javiercn mentioned to use this `builder.services.AddOidcAuthentication(options => { ... })`, but I can't find how to add the Client Secret

[2020-04-29 16:03] pranavkm commented on #19979
These ones have the double whammy of being skipped and quarantined 😕

[2020-04-29 16:04] javiercn commented on #21326
@ylr-research thanks for contacting us.

Blazor WebAssembly is for single page applications. As such, you shouldn't use client secrets with it and as a result we don't expose it.

[2020-04-29 16:04] #21326 closed

[2020-04-29 16:07] ylr-research commented on #21326
@javiercn Thanks, so there is not way to authenticate with Google or any other OIDC provider, then?

[2020-04-29 16:17] javiercn commented on #21326
@javiercn yes, but you need to use a public client and you can do implict flow or code + PKCE. I've personally done this with google without problems.

[2020-04-29 16:23] BrennanConroy commented on #19979
Oh, that's unfortunate.

[2020-04-29 16:25] danroth27 opened #21327 "Could not load settings from '_configuration/BlazorApp1.Client'"
Repro steps:

- Create a Blazor WebAssembly app that is ASP.NET Core hosted and with auth
- Set the *Client* project as the startup project (yes, I know this isn't the normal thing to do, but the failure case looks weird)
- Run the app

Actual result:

[code]

[2020-04-29 16:33] mkArtakMSFT commented on #21166
@NTaylorMullen what can we collect to be able to investigate this issue?

[2020-04-29 16:34] davidfowl commented on #13451
What's the error?

[2020-04-29 16:42] Tratcher commented on #21310
How and where are you running the app.

[2020-04-29 16:42] blowdart commented on #21300
Autoselection isn't that weird, after all that's what lets encrypt solutions end up doing, or they replace the file that holds the cert, which is arguably the same, but basing it on SAN is a little hookey.

However for a proxy I can see it, just not for a web server.

[2020-04-29 16:44] pranavkm commented on #21176
@rynowak \ @JunTaoLuo here's to reviving old memories: https://github.com/aspnet/Antiforgery/pull/117. We could append to the header, or toss in `must-revalidate` to the mix by default.

/cc @blowdart \ @javiercn in case they have any thoughts on this.

[2020-04-29 16:45] sam-wheat commented on #21310
Visual Studio 2019 latest, Publish option in solution explorer context menu.

[2020-04-29 16:47] captainsafia commented on #19638
Thanks for reporting this issue and taking the time to make this repro, @szmalec!

I'm labelling this as a bug. Although the `ChildComponent` will still support two-way binding, the user will have to know that they need to include a changed handler on the component. Our `CaptureUnmatchedValues` handlers usurps this logic and makes the DX for this super meh.

We might be able to improve the way we

[2020-04-29 16:49] captainsafia commented on #13280
Thanks for reporting this issue, @MarkusRodler.

I've been looking into SVG issues in general, of which not supporting external SVGs is a big one. For now, I'll ref this issue into #18271 as we'd like to tackle all the SVG-related issues in one go.

[2020-04-29 16:53] Tratcher commented on #21310
Publishing to where? And then run how?

[2020-04-29 16:57] StevenRasmussen opened #21328 "Unable to remove breakpoint with Blazor WASM while debugging"
When debugging a Blazor WASM project, if I set a breakpoint and then try to remove it while debugging, the breakpoint is still hit and execution stops even though the breakpoint has been "removed".

Environment:
Visual Studio 2019 Version 16.6.0 Preview 4.0
Blazor: v3.2.0-preview5.20216.8
Browser: MS Edge Version 81.0.416.64 (Official build) (64-bit)

[2020-04-29 17:01] #21228 closed

[2020-04-29 17:02] sam-wheat commented on #21310
Publishing to Azure to a running app service.
I can also repro this when publishing to a folder and running MyApp.exe.

[2020-04-29 17:03] Tratcher commented on #21292
At the end of any request where the request body has not been fully consumed kestrel will attempt to drain the body for a non-configurable 5 seconds.
https://github.com/dotnet/aspnetcore/blob/b463e049b6aed02f94edcac8855b8b5c87d0989b/src/Servers/Kestrel/Core/src/Internal/Http/Http1MessageBody.cs#L81
https://github.com/dotnet/aspnetcore/blob/b463e049b6aed02f94edcac8855b8b5c87d0989b/src/Servers/Kestr

[2020-04-29 17:04] Tratcher commented on #21291
Can you clarify why each host has a different port? Hosts can share ports. using host headers and SNI.

[2020-04-29 17:06] javiercn commented on #21327
@danroth27 ¯\_(ツ)_/¯

[2020-04-29 17:09] udlose opened #21331 "Does Microsoft.AspNetCore.Identity.PasswordHasher<TUser> use ASP.NET Core Data Protection under the covers?"
**Background:**
I have a ASP.NET Core 3.1 application that is running in an AWS FARGATE container (on Linux).

**What I need to do:**
I need to hash passwords using a built-in .NET Core solution. I'd prefer to use a solution where I don't have to manage key rotation; but will do so if there's no other option.

I'd like to use the `Microsoft.AspNetCore.Identity.PasswordHasher<TUser>` to hash the pa

[2020-04-29 17:10] Tratcher commented on #21282
Multipart headers are a different beast from HTTP headers. They may look similar but they are governed by different specs and conventions. Multipart was developed for e-mails, and the folding was there because SMTP has line length limits. That's not relevant in HTTP.

What client is generating this format?

[2020-04-29 17:12] blowdart commented on #21331
It does not. Data Protection encrypts, not hashes. You don't need key rotation when hashing, you need a unique salt.

[2020-04-29 17:15] Tratcher commented on #21310
The web.config does not apply when running the exe directly, only when running in IIS. It should work in Azure app service (Windows).

[2020-04-29 17:17] tankbob opened #21332 "Inject Custom Route Builder into Router"
### Is your feature request related to a problem? Please describe.
I'm trying to use my own routing attributes to provide customized routing templates, this would also help with nested routing or any other convention based routing algorithm

### Describe the solution you'd like
Can we make ```Microsoft.AspNetCore.Components.Routing.Router``` able to take an injected service (or collection of injec

[2020-04-29 17:20] pranavkm commented on #17898
Support for TimeSpan is missing in `BindConverter`. It attempts to do an implicit cast to `DateTime` which results in the spooky error. We would need add support for this as part of 5.0. @SteveSandersonMS \ @javiercn isn't there a way users could author a BindConverter \ EventCallback factories to workaround this in the meanwhile?

[2020-04-29 17:21] udlose commented on #21331
Thank you so much for your prompt response!

[2020-04-29 17:21] #21331 closed

[2020-04-29 17:23] captainsafia commented on #18875
Bringing some analysis that @javiercn shared over email into GitHub as to why we handle task cancelled exceptions this way.

So for handling cancellation of running tasks, you can:
- Catch the `TaskCanceledException` exception as is done in the tests
- Use the sample Javier produced at https://github.com/javiercn/CancellableWorkBlazor

[2020-04-29 17:23] #18875 closed

[2020-04-29 17:32] TanayParikh commented on #21309
I've been able to replicate this on a vanilla VS Master instance. Just type:
[code]
in a new `*.razor` file. If the `ConnectionLostException` isn't encountered just erase the `@` and retype. It should occur within a couple of attemps.

@NTaylorMullen  I'm pulling this into current vNext because of direct impact on usability (entire extension crashes).

[2020-04-29 17:33] #21320 closed

[2020-04-29 17:39] enetstudio commented on #21317
Many thanks to you...

[2020-04-29 17:41] ahmetsekmen opened #21333 "Blazor Proj. TargetFramework 2.1 Publish is not giving exe file"
I am publishing my cool blazor WASM app. Its not asp.net core service hosted. (Just WASM proj)
Using Visaul Studio 2019 (16.5.4)

Project Publishing output is not giving exe file.
I want to execute my app(self hosting / kestrel)
But i couldn't

[2020-04-29 18:07] mathisloge commented on #17898
@pranavkm Just as a side question:
What have changed between 3.0 and 3.1? Because in 3.0 the example given above was functional.

[2020-04-29 18:11] NTaylorMullen opened #21335 "Rename the "Enable LSP Razor editor" feature flag to "Enable experimental Razor editor""
@danroth27 / @mkArtakMSFT is "experimental" a good substitute for "LSP"?

[2020-04-29 18:13] javiercn commented on #19666
The issue is still there.

[2020-04-29 18:18] #21154 closed

[2020-04-29 18:20] jan-johansson-mr commented on #12685
Hi there,

Thanks for input! I walked the road of dynamic object. I took to heart from @Carl-Hugo about decoupling stuff, but even further. I've got a working prototype with all the properties needed (our thread with `null`, `undefined`, `instance`) and it works like a charm. So until there is some other option, this will do more than fine.

In short, by weekend I'll be ready to continue my integr

[2020-04-29 18:26] GioviQ commented on #20849
@pakrym Please clone https://github.com/enkodellc/blazorboilerplate/tree/development then read the instructions in my first post.

[2020-04-29 18:30] s3anmorrow opened #21337 "dotnet watch run - crashes with https and chrome"
### Describe the bug
The "dotnet watch run" process crashes (exited with error code 132) when using chrome through https://localhost:5001.

### To Reproduce

It takes a few code changes and thus, restarts of the kestrel server for the crash to occur - and the crash seems to only happen when the browser sends a request. I can also recreate the error by repeatedly making code changes and running the

[2020-04-29 18:33] sam-wheat commented on #21310
It is now working in stage but not prod in Azure.  Presumably my error but I still don't know what.

![image](https://user-images.githubusercontent.com/16885210/80633197-3a90d680-8a0d-11ea-9d8f-b11cd3ab5e23.png)

[2020-04-29 18:38] s3anmorrow commented on #21337
The "dotnet watch run" process crashes (exited with error code 132) when using chrome through https://localhost:5001. It takes a few code changes and thus, restarts of the kestrel server for the crash to occur - and the crash seems to only happen when the browser sends a request. I can also recreate the error by repeatedly making code changes and running the web app with "dotnet run" as well (non-

[2020-04-29 18:56] blowdart commented on #21221
The helper classes here are for our very opinionated identity server configuration, with all the assumptions it makes. You can of course abandon that and configure identity server yourself.

@javiercn do you see any harm in making this parameterized or might it break stuff?

[2020-04-29 18:57] blowdart commented on #20650
@Rick-Anderson one for you?

[2020-04-29 18:57] blowdart commented on #20122
@HaoK go ahead and do this please :)

[2020-04-29 18:59] blowdart commented on #20248
Right now we do only support SPAs, Native apps are in the pipeline but it will be 6.0 before we look at it.

If this is a docs issue please file an issue on the docs repo

[2020-04-29 19:07] snapfisher commented on #21305
If you try and pull the token without adding it as a scope to consent, it just fails, and you get nothing.  I will submit the question to the msal.js folks.

[2020-04-29 19:36] anurse commented on #21246
Or just a `CancellationToken`. As part of the extensions migration we had a discussion about change tokens and while we can't justify removing them, it's probably not necessary to keep them. Unless we need to compose with one from config (which I guess we might have to)

[2020-04-29 19:41] anurse commented on #21323
The `id` query string value is not actually used for Clients.Client(...) in 3.1. We made a change to split the ID into two separate values in order to better protect against client-side forgery.

Parsing the ID out of the querystring is definitely not a supported way of getting the ID. There's a public `connectionId` property on `HubConnection` now which should provide the correct value. What happ

[2020-04-29 19:44] Debbus72 commented on #21282
[SmartBear ReadyAPI](https://smartbear.com/product/ready-api/overview/).
It is the tool that our testers use for automated testing of our Apis. We just started with testing the POST of attachments and this surfaced when uploading Excel-files with larger content-types and larger attachment-names.

[2020-04-29 19:45] wtgodbe commented on #21107
The official Java implementation looks promising: https://github.com/msgpack/msgpack-java

- License is Apache 2.0
- [Core class](https://www.javadoc.io/doc/org.msgpack/msgpack-core/latest/org/msgpack/core/MessagePack.html) provides an API for deserializing objects from binary, [MessageUnpacker](https://www.javadoc.io/static/org.msgpack/msgpack-core/0.8.20/org/msgpack/core/MessageUnpacker.html)
-

[2020-04-29 19:47] rynowak commented on #21308
@benaadams - the question I was actually trying to ask you was about this ^^^

If we create:

[code]

Do we wipe out the perf-gain from writing for the single-comparison case:

[code]

I'm suspect this because `StringComparer.OrdinalIgnoreCase.Equals()` also calls `object.ReferenceEquals` inside it's implementation. So I assume the reason why we use this pattern is because `StringComparer.OrdinalI

[2020-04-29 20:02] Tratcher commented on #21246
CancellationTokens don't have convetions for firing multiple times, which we would need here.

[2020-04-29 20:08] benaadams commented on #21308
Is `GetHttpMethod` acting like an intern(ish) method? Or translating user supplied strings into the `HttpMethods` string for later use?

The big advantage comes from when you are checking against multiple strings e.g. `GET`, `POST`, `HEAD` etc; then check them all with reference equality before moving to string.equals; generally you can then bypass the string.equals tests.

Kestrel always returns

[2020-04-29 20:08] NTaylorMullen commented on #21166
@hieuluong1989 Could you set the setting `trace: true` in the `launch.json`  pwa-chrome configuration. It'll cause the extension to capture verbose logs. The file location will be printed to the debug console, sharing that should shed some light.

[2020-04-29 20:10] anurse commented on #21300
We'll build the feature in YARP if we don't think the layering is appropriate to have in ASP.NET Core itself. The presence of a background task does make me a little wary.

[2020-04-29 20:10] NTaylorMullen commented on #21309
Awesome, thanks @TanayParikh this is definitely a p0!

[2020-04-29 20:12] Rick-Anderson commented on #20650
@blowdart  @Tratcher can you transfer this to https://github.com/dotnet/AspNetCore.Docs/issues and  I'll take care of it.

[2020-04-29 20:14] anurse commented on #21214
I expect it is indeed the reason your RPS increases. The lower RPS values are probably the more accurate uncached values. Kestrel doesn't do any built-in caching, so it won't exhibit the same behavior.

I don't have a specific answer for you. It depends on the needs of your app.

[2020-04-29 20:15] anurse commented on #21265
Triage: Seems legit ;). Let's do it.

[2020-04-29 20:20] anurse commented on #21310
We very specifically use Production as the default value because we want to default to the most secure production-by-default configuration of various components (such as exception details pages, etc.)

I'm not quite sure how this correlates to your screenshot. Are you showing a screenshot from your production environment? It seems to show "Production" there.

[2020-04-29 20:21] anurse commented on #21218
I would agree. Backporting to 2.1 is a very high bar and if it's even remotely breaking it's going to be a non-starter. Are there workarounds?

[2020-04-29 20:24] anurse commented on #21246
I seem to remember we had discussed ways to handle that. Adding @stephentoub and @davidfowl

Regardless of that, I'm supportive of the general idea (signalling changes to addresses). We just need to figure out the right primitive to use.

[2020-04-29 20:26] davidfowl commented on #21246
I wouldn’t stop using IChangeToken as yet. I’d hate to bring inconsistency here especially since the config system already exposes it. Either we expose an event or an IChangeToken

[2020-04-29 20:27] anurse commented on #21193
Requiring a certificate for a specific path is not likely to work since certificates are negotiated _per-connection_, so the first request on a connection will negotiate the cert and further requests generally won't be able to change it.

Adding @Tratcher for thoughts.

That surprises me. Can you provide a runnable sample that reproduces the problem?

[2020-04-29 20:28] anurse commented on #21291
@Tratcher well, if they're different ASP.NET Core apps, we still have the port sharing problem right? Regardless of feasibility, only one process can bind to the port.

[2020-04-29 20:31] guardrex commented on #20002
@AshTappin ...

Could you add the exact (code) fix that you used? I hit the same problem here.

[2020-04-29 20:36] sam-wheat commented on #21310
This is not the tao of dotnet.   If it is not working I don't want it to lie to me.  I want it to fail in dev, not in prod.

Sure looks like it's working doesn't it?  See also comment above.

[2020-04-29 20:53] anurse commented on #21246
Fair enough. Just wanted to raise the issue.

[2020-04-29 21:00] Tratcher commented on #21291
Nevermind, I just read the linked issue and it's a very different scenario. The app only has one local port. The app accepts requests directly and through a proxy. The host name is the same in both cases, but the public and internal ports are different.

In this example it needs to be able to redirect myhost:80 -> 443 and myhost:4567 -> 4568.

[2020-04-29 21:02] Tratcher commented on #21291
Why isn't the front end enforcing its own https?

[2020-04-29 21:30] masoudafar commented on #20789
The problem still exists in preview 5.

[2020-04-29 21:37] ltropin opened #21342 "Error connecting WebSocket 1006 on upload file in <input type="file" /> in YandexBrowser"
I created a regular Server-side project with render-mode=Server on Blazor. When trying to upload a file via `<input type= "file" />`, it throws the error "' WebSocket closed with status code 1006 input type file``.
I tried to track it in every possible way, but I just noticed that it works on Yandex Browser, tested input on MicrosftEdge-OK.

### Further technical details
I also updated all [Net Co

[2020-04-29 21:45] dylanvdmerwe opened #21344 "w3wp process consumes all memory on server with InProcess Hosting Model"
### Describe the bug
I honestly am at a complete loss and not sure where to go to log this issue I am having, but I will try my best to provide information and I hope someone can help guide me.

We published a Net Core 3.1 API on an internal Windows Server 2019 machine. We setup a new machine (fresh install). The exact API ran previously on Windows Server 2016.

However we noticed that there was s

[2020-04-29 22:16] aL3891 commented on #21292
aha, very interesting, thanks!

In this specific case i would like to close the connection as soon as possible. we had a bug in our mobile app where it would upload a ton of data to a kestrel endpoint, this caused us to use up alot of our users mobile data. We tried to just remove the endpoint temporarily but found that data was still uploaded.

I suppose there is also a general case of trying to

[2020-04-29 22:25] rynowak commented on #21291
As in, have the proxy responsible for the redirect? The proxy in this case is docker I think, not a dedicated proxy server.

[2020-04-29 22:39] artar94 commented on #17277
@mkArtakMSFT Still, this is not fixed in master.
Here is added a line with a large number of trailing zeros, which sometimes leads to a hang of the thread.
https://github.com/dotnet/aspnetcore/blob/1815d37d752ec1066726c1be7c52e808b11145f1/src/Middleware/SpaServices.Extensions/src/Util/EventedStreamReader.cs#L114
Only the significant portion of the buffer needs to be added:
[code]
Perhaps the probl

[2020-04-29 22:39] IvanJosipovic commented on #20789
I just hit this issue on Preview 5.

[2020-04-29 23:00] ShockwaverReal commented on #20789
Same here, darn!
PWA 3.2.0-preview5.20216.8
VS 16.6.0 Preview 3.0

ETA? Workarounds?

[2020-04-29 23:00] #21046 closed

[2020-04-29 23:00] #17334 closed

[2020-04-29 23:15] TanayParikh opened #21346 "CompletionOptions from Multiple Language Servers Aren't Respected"
If I add:

[code]

to the `Razor.LanguageServer CompletionOptions` [here](https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/RazorCompletionEndpoint.cs#L155-L160) these characters aren't accepted to commit completions proposed by this language server.

I have to add the commit char (`:`) to the `LanguageServerClient Completio

[2020-04-29 23:17] TanayParikh commented on #21346
Once this issue is resolved, https://github.com/dotnet/aspnetcore-tooling/pull/1825/files#diff-dddd024b99ebbf567eea61e984e7a9f6R21 needs to be updated to remove the `:` commit char.

[code]

also needs to be added to the `Razor.LanguageServer CompletionOptions` [here](https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Completion/RazorCo

[2020-04-29 23:24] BrennanConroy commented on #21318
I'm not super familiar with how binding redirects, but it looks like your test project doesn't have any. If you copy the binding redirects from the SpokeNet project to the SpokeNet.Test project then the assembly load issue will go away.

[2020-04-29 23:28] NTaylorMullen commented on #21346
Should file a vsts issue to track this and make sure the LSP platform team knows about it

[2020-04-29 23:33] pranavkm commented on #17898
@mathisloge not entirely sure. The API at the callsite hasn't changed since before 3.0 RTMed.

[2020-04-30 02:19] nullpainter opened #21348 "[Blazor] OnParametersSetAsync being invoked multiple times with guid route argument"
The following Blazor component results in `OnParametersSetAsync()` being called three times:

[code]

If the `guid` parameter is changed to a string, `OnParametersSetAsync()` is called a single time, as expected:

[code]

I am using ASP.NET Core 3.1.2.

[2020-04-30 02:54] Rick-Anderson commented on #18791
How to use Static Files with CatchAll Routing? #18038
Yet another issue that could have been detected.

[2020-04-30 03:24] davidfowl commented on #21344
How did you end up using Workstation GC? That would be hard to do unless you set it that way.

It would make sense to capture a memory dump when things are headed south. You can take a look at the dotnet diagnostics tools to get more information as well:

https://docs.microsoft.com/en-us/dotnet/core/diagnostics/#net-core-dotnet-diagnostic-global-tools

- I recommend running dotnet counters to get

[2020-04-30 04:30] halter73 opened #21350 "[Helix] Unable to find Node.js in PATH (OSX.1014.Amd64.Open)"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=623874&view=ms.vss-test-web.build-test-results-tab&runId=19502522&paneView=debug&resultId=107607

[2020-04-30 05:03] Tratcher commented on #21350
Note the root error is a download issue:
[code]

[2020-04-30 05:05] Tratcher commented on #21350
We had a bunch of these a week or two ago. Some were caused by the node CDN (though I can access that URL), and some were caused by the mac agents having poor connectivity.

[2020-04-30 05:37] davidfowl commented on #21342
I'm not sure there's much we can do here. It's a browser behavior that I'm not sure there's a way to work around.

[2020-04-30 05:40] santosh-kh commented on #21323
Thanks for the quick response.
```HubConnection.connectionId``` solved the issue.
I know only this [SignalR documentation](https://docs.microsoft.com/en-us/aspnet/core/signalr/javascript-client?view=aspnetcore-3.1) for asp.net core.
Let me know if any other place to refer.

[2020-04-30 05:52] gurry commented on #21214
Hi @anurse.

Kestrel RPS jumps immediately to a high level as compared to IIS where it starts much lower and only slowly grows to the same level as Kestrel. So IIS's URI caching behaviour is not helping performance but hurting it. Sorry for not stating this explicitly.

I also want to add that this issue is not limited to GET requests, it also occurs with write requests like PATCH as long as you k

[2020-04-30 06:48] javiercn commented on #20789
This is fixed in RC. Didn’t make the cut to preview5

[2020-04-30 07:09] ShockwaverReal commented on #20789
Suggestions on how your typical NuGet guy can work this around then?

[2020-04-30 07:27] JulienM28 opened #21352 "Blazor WASM 3.2 preview 5 Timezone file not found"
After a release through Azure Devops on our staging environment we get this error:
[code]

[2020-04-30 07:40] sgf opened #21353 "some bug about http get url url parsing on .net core 3.1 ?"
### Describe the bug
The reason is:I think the design of webapi is terrible and relies too much on attributes. therefore I wanted to use my own ActionFilter instead of the built-in object(Action Paramaters) parsing.
I want to use url to pass json, because I like to use http get pass parameter. Everything had been smooth on the old code.
**but the bug stoped me.**
when i test old code New asp.net c

[2020-04-30 07:45] FDonald commented on #21193
Thanks for your answer.
This is my POC with two project, SampleMVC  target aspnetcore3.1 and SampleMVC2.2, target aspnetcore2.2.
Both of them have a "protected path " with location path security setting in Web.config.
If you navigate at https://localhost:port/home/privacy can check that  SampleMVC2.2 work perfectly and SampleMVC return a 404.
It seem that new IISExpress with netcore3.1 not recogni

[2020-04-30 07:57] Tobias-Gr opened #21354 "AddOpenIdConnect in ASP.NET Core WebAPI in context auf Angular-SPA ->WebAPI (single domain)"
All samples regarding AddOpenIdConnect-middleware seem to target ASP.NET Core MVC. In contrast we have an SPA that accesses a WebAPI. Both are hosted on the same domain. Is it OK to use AddOpenIdConnect-backed cookie authentication on the WebAPI-level in this scenario or what (negative) implications does this have?

Thanks!

[2020-04-30 08:36] julienGrd commented on #21322
It work by adding the PropertyNameCaseInsensitive  property, thanks !

What do you mean by "MVC 3.x's output formatter does not support features introduced in System.Text.Json 5.0" ?

Im actually in .net 5 preview in my server, so its OK for me ?

There is any way to achieve this (use System.Text.Json completely) or im stuck with NewtonSoft ?

Other question : is it possible to use both system on

[2020-04-30 10:00] #21314 closed

[2020-04-30 10:02] damianh commented on #5978
Just to mention that I've shipped a package that supports this https://github.com/ProxyKit/HttpOverrides

[2020-04-30 10:04] levdimov commented on #21314
@javiercn could this be a mistake either in docs or in the code? Docs sound quite misleading then.

[2020-04-30 10:15] SteveSandersonMS opened #21355 "VS publishing is broken if you have resx files"
The is the most severe of the loc-related publishing issues I found yesterday, since it breaks the most mainstream localization scenario.

**Repro setup:**

- Create Blazor WebAssembly "hosted" app
- At the root of the Client project, add a folder called "Resources"
- On that new folder, rightclick -> Add -> New Item -> "Resources file" named App.es.resx
- In the resx, add an entry named "MyString

[2020-04-30 10:48] nguyenlamlll commented on #17724
I got (somewhat) the same problem as well. References to Blazor components are really buggy. It just worked a few min ago, then it was gone.

In Visual Studio 2019 v16.5.1:

I have a component in a folder `Components`, specifying `@namespace RandomEnglishExercises.Components` at the top:
![image](https://user-images.githubusercontent.com/20963684/80701852-47472480-8b0a-11ea-80f3-e00f4d519cba.png)

[2020-04-30 10:51] Discovery-support opened #21356 "Http.DefaultHttpClientFactory could not be located: Blazor WebAssembly 3.2.0 Preview 5"
Blazor WebAssembly: Client

As per Preview 5 Asp.Net blog I changed the file: **Program.cs**
    from:
`    builder.Services.AddSingleton(new HttpClient { BaseAddress = new Uri(baseAddress) });`

to the new code:
 `
builder.Services.AddHttpClient("TaskTrackIT.ServerAPI",
    client => client.BaseAddress = new Uri(baseAddress))
    .AddHttpMessageHandler<BaseAddressAuthorizationMessageHandler>();`

[2020-04-30 10:55] 1Jesper1 opened #21357 "Microsoft.AspNetCore.Identity.EntityFramework EF >= 6.3"
Please provide a package for Microsoft.AspNetCore.Identity.EntityFramework with Entity Framework version >= 6.3 Entity Framework 6.3 supports .NET Core. We don't want to use Entity Framework Core in our .NET Core application.

[2020-04-30 10:56] ShockwaverReal commented on #21296
Is there any ETA for the RC1 to be available?

[2020-04-30 10:58] SteveSandersonMS commented on #21355
As a sidenote, some good news :) Yesterday I thought I had **also** found two other bugs with loc+publishing:

 * Linker strips some localization APIs required
 * When having a default-culture resx file in addition to other cultures, blazor.boot.json's satelliteAssemblies collection is 'null'

However I've been trying to write up repro steps and in fact I can no longer repro either of those. My gu

[2020-04-30 11:09] SteveSandersonMS commented on #20789
@ShockwaverReal Easiest workaround is to publish from the command-line instead (`dotnet publish -c Release`).

Or if your goal is to deploy to Azure App Service, consider deploying via Git (i.e., Kudu). This is much more useful than deploying from VS anyway. In your App Service, go to *Deployment Center*:

![image](https://user-images.githubusercontent.com/1101362/80703499-ce7ca400-8ada-11ea-9eb0-

[2020-04-30 11:25] Sdynest opened #21358 "The provided payload cannot be decrypted because it was not protected with this protection provider."
### Describe the bug
I tried using CSRF protection with cookie generation. When I create a request post on a client with the name of the X-CSRF-TOKEN header and its value taken from the incoming cookie.
he following JS code is used to generate the request:
[code]
How did I know that to decrypt a CSRF token it is necessary to use DataProtection to do this I created the following date context in my

[2020-04-30 11:27] FDonald commented on #21193
P.S. You need a valid certificate installed in certificate personal store to try it!

[2020-04-30 11:37] premchandpl76 opened #21359 "Facing deep link issue with our app after migrating to asp.net core 3.1 and Angular 8."
We have migrated our portal from (Angular 5 + Asp.Net Core 2.2 with MVC) to (Asp.Net Core 3.1 with MVC + Angular 8) . We used VS 2019 Angular template for the same.

Our application is working fine with default route (https://localhost:44332). Request goes to the startup.cs and since user is unauthenticated, user is redirected to default route to HomeController where user gets challenged and once

[2020-04-30 11:48] tebeco commented on #21292
@guardrex
Do you know if there are page on current documentation about these behaviors ?
If not, I'm not sure if it would make sense to document this or not either, just curious about thoughts on that matter

[2020-04-30 11:56] nfplee opened #21360 "Integration Testing Scoped Service?"
I'm trying to add some integration tests to an ASP.NET Core 3.1 application which uses NHibernate instead of Entity Framework.

I've been following the [documentation](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1) and it was all pretty clear. But instead of AddDbContext, instead I said the following:

[code]

Then before my call to client.GetAsync(url) in

[2020-04-30 11:58] guardrex commented on #21292
It would be opened for the Kestrel topic at ...

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.1#feedback

... and it would be helpful if the middleware was provided 🏃‍♂️😅. If so, I think the update would go in quickly. If not, I think such an issue would sit for several months behind high-priority work.

[2020-04-30 12:08] saadsaeed01 commented on #20897
Hello @mkArtakMSFT

First of all I want to apologize that I mistakenly closed the issue. The issue is still **opened** and **valid**.

As it has been added to the backlog, we are now taking down the example Web App Service link provided above. Thanks

[2020-04-30 12:21] nfplee commented on #21360
I think I've figured out why this happens. Since I create a new scope to populate the initial data then that is why the factory is called multiple times. Please correct me if I'm wrong.

However this creates a problem since we can't retrieve the scoped service without creating a scope.

[2020-04-30 12:27] blowdart commented on #21357
Why don't you want to use EF Core?

[2020-04-30 12:29] blowdart commented on #21357
Possible dupe of https://github.com/dotnet/aspnetcore/issues/18102

[2020-04-30 12:30] 1Jesper1 commented on #21357
We are migrating an ASP .NET 4.6 MVC application to .NET Core, we thought about moving to Entity Framework Core, but EF 6.3 was released and added compatibility for .NET Core. It was suggested to not move to Entity Framework Core if there is no need.

[2020-04-30 12:33] blowdart commented on #21354
If you have a SPA generally we'd recommend JWT tokens rather than cookies, to allow for flexibility and other client types.

However if you know you're never going to write a mobile or desktop app, and you can be sure that all browsers you are going to support have support for SameSite cookies, then yea, you could use cookies if you want, as long as you ensure the cookies are secure (i.e. HTTPS on

[2020-04-30 12:47] TheFanatr opened #21361 "Allow Global Razor Methods Via Global RenderTreeBuilder And Add Region Syntax"
Currently, the Razor Components syntax engine recognizes the following syntax as valid in `@code` blocks, but the generated source references a `RenderTreeBuilder` instance that does not exist.

[code]

The code generated is as follows.

[code]

This is technically a bug, but I am filing a feature request instead as I believe the solution to this could involve allowing such "templated" methods in

[2020-04-30 12:54] blowdart commented on #21357
Definitely a dupe then. From #18102,

It doesn't applies to aspnet core migrations as, you still have to port your aspnet application to asp.net core, and at that point, as you're migrating you should migrate to EF Core as well.

Closing as By Design.

[2020-04-30 12:54] #21357 closed

[2020-04-30 13:08] 1Jesper1 commented on #21357
@blowdart Thanks for the fast reply. So the only option here is to migrate to EF Core?
So EF6 for Core was introduced to first migrate the aspnet application to core and at last migrate EF6 to EF Core?

[2020-04-30 13:12] blowdart commented on #21357
Yes, that's your only option. Whilst I can't speak for EF (@ajcvickers can) my understanding was EF6 for Core was targeted at non-ASP.NET applications (WPF, WinForms etc.) so they can do a staged migration.

As moving to ASP.NET Core involves updating many moving parts, we don't target it for identity as you're already migrating anyway, so at that point the EF Core migration should happen, EF6 on

[2020-04-30 13:59] MarkStega opened #21364 "Exception in Razor Component is ignored during wasm execution"
### Describe the bug
I have some parameter validation in a razor component used in my Blazor app. If the validation fails I throw an exception. In Blazor server side the error is detected and the error ui is activated. In Blazor client side the exception can be seen in the browser developer tools console but execution of the application continues.

### To Reproduce

Code the following component in

[2020-04-30 14:01] maxcherednik commented on #21218
I was not specifically asking to fix this in 2.1, but thank you for the validation.

Btw, for the ones who are facing similar issue we came up with a workaround - reduce the number of concurrently blocking things to 1.

[code]

[2020-04-30 14:20] valeriob commented on #16637
Hi,
what does External mean, is there another issue i can track somewhere else ? 😄
Thanks

[2020-04-30 14:22] SteveSandersonMS commented on #21355
Hopefully the fix for this is https://github.com/dotnet/aspnetcore/pull/21347, but I thought I should write the issue up anyway.

[2020-04-30 14:32] benaadams commented on #21214
Is this IIS on a dev machine or on a Window Server?

[2020-04-30 14:55] SteveSandersonMS commented on #20227
Problem no longer occurs with 3.2.0-rc builds.

[2020-04-30 14:55] #20227 closed

[2020-04-30 15:05] SteveSandersonMS commented on #21301
Sorry, I wasn't able to reproduce a problem. Here's the full repro code I tried:

[code]

When navigating from the second link to the first one, I found that the `FooId` parameter was correctly cleared.

[2020-04-30 15:13] SteveSandersonMS commented on #17025
Users don't sign in or out with Windows Authentication - they are inherently signed in all the time. If you need the ability to sign out without actually logging out from Windows, then you would need to use a different authentication mechanism.

[2020-04-30 15:22] Grizor1911 opened #21366 "Blazor wasm any event + @onfocusout event produces System.ArgumentException error only in Chrome"
<input id="EditBox" type="text" @onkeydown="KeyWasPressed" @onfocusout="() => anymethod()" value="@anyValue" />

    @code{
        int RowId;

        private void KeyWasPressed(KeyboardEventArgs e)
        {
           RowId = 0; // needed to set some variable or anything for the error to appear
        }

        private void anymethod()
        {
           RowId = 0;
        }
    }

When any

[2020-04-30 15:30] anurse commented on #21214
Well, IIS and Kestrel are completely different servers. It’s certainly possible that in your scenario IIS has a lower baseline RPS and the caching is what’s bringing it up to similar performance.

Having said that, the fact that non-GET requests experience the same curve **does** give us more to go on there. Those shouldn’t be cacheable.

If the issue is with IIS’s caching module though we’ll like

[2020-04-30 15:46] pranavkm commented on #20849
@GioviQ is this specifically when publishing from VS? We're aware of an issue there that we're looking at addressing for rtm.

[2020-04-30 15:50] pranavkm commented on #21332
@tankbob we think creating a custom routing component that suites your needs would be the way to go here. You're free to copy the implementation of the `Router` component and ancillary types to your own project.

[2020-04-30 16:01] #13189 closed

[2020-04-30 16:06] egil opened #21368 "Blazor: Getting the location (line number) of specific components in a .razor files"
For [bUnit](https://github.com/egil/bunit), I want to enable the "click to go to test" feature in Visual Studio Test Explorer for razor-based tests (i.e. where tests are defined in razor components).

This is an example of a razor-based test component, named `ComponentWithTwoTests`, with two test cases inside:

[code]

These are shown in the like this in the Test Explorer:

![image](https://user-i

[2020-04-30 16:07] SteveSandersonMS commented on #20859
@leonardder You'd want to do a PR against the `master` branch. Search inside the `src\Components` directory for the name of some other event handler to get a sense of how each event type is defined and what tests we implement for each one.

[2020-04-30 16:11] SteveSandersonMS commented on #20890
Because it adds quite a few extra complications (needing to think about how things like auth and data access would work in two entirely different runtime scenarios), and it's not totally clear that there's enough customer demand for it, or whose specific problems it solves.

Long term I think we'll be guided by customer demand here. Usually if something like this is compelling enough, we see commu

[2020-04-30 16:17] #21301 closed

[2020-04-30 16:20] meh-uk commented on #20603
We ran into this and unfortunately didn't find the mitigation's worked.

[2020-04-30 16:31] mkArtakMSFT commented on #21368
Thanks for contacting us.
@NTaylorMullen can you please look into this? Thanks!

[2020-04-30 16:32] MarcusBullock opened #21369 "[Blazor] Server Side - Frequent 504 errors in AWS environment"
### Describe the bug
After deploying a blazor server side project to an Amazon Web Services environment via AWS Elastic Beanstalk, the website experiences frequent disconnects.

These disconnects do not happen locally when testing.

### To Reproduce

Deploy server side app via AWS Elastic Beanstalk, start the app, and leave it running after fetching some data.

After a minute or so, I get the foll

[2020-04-30 16:33] mkArtakMSFT commented on #21366
Thanks for contacting us. This is a dupe of #21240 1

[2020-04-30 16:33] #21366 closed

[2020-04-30 16:35] mkArtakMSFT commented on #21364
Thanks for contacting us.
We already show a UI in an error situation, which we allow developers to customize as they wish. If you want to prevent any further interaction with the application, you can use that UI to do so. To learn more about this please have a look at https://docs.microsoft.com/en-us/aspnet/core/blazor/handle-errors?view=aspnetcore-3.1

[2020-04-30 16:35] #21364 closed

[2020-04-30 16:37] mkArtakMSFT commented on #21361
Thanks for contacting us. We will revisit support of `@:` in a later milestone. For now this is not supported.

[2020-04-30 16:38] mkArtakMSFT commented on #21356
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-04-30 16:40] Tratcher opened #21370 "Add server timings"
Http.Sys has a feature for recording timestamps for major checkpoints in the lifecycle of a request. Partners like @bkatms use this to profile individual request latency issues. We've already exposed the Http.Sys data, but they want more checkpoints.

HttpSys:
- basline: https://github.com/dotnet/aspnetcore/issues/13482
- When dequeued from Http.Sys: https://github.com/dotnet/aspnetcore/blob/1d561

[2020-04-30 16:41] mkArtakMSFT commented on #21348
Thanks for contacting us. This is a dupe of #13610

[2020-04-30 16:41] #21348 closed

[2020-04-30 16:43] #21290 closed

[2020-04-30 16:44] mkArtakMSFT commented on #21342
Thanks for contacting us.
Here is a working example. Hopefully this helps: https://blog.stevensanderson.com/2019/09/13/blazor-inputfile/

[2020-04-30 16:44] #21342 closed

[2020-04-30 16:45] mkArtakMSFT commented on #21333
Thanks for contacting us. Blazor WebAssembly apps don't produce `.exe` files. This is by design.
You can use the `Hosted` project template to get an exe from the server project.

[2020-04-30 16:45] #21333 closed

[2020-04-30 16:50] BrennanConroy commented on #16730
@Anduin2017 Could you file a new issue with details of the problem you are seeing?

[2020-04-30 16:51] mkArtakMSFT commented on #21352
Thanks for contacting us.
The issue here is that the resource being looked for wasn't found. We will be adjusting the error message to avoid future confusion.

As for the 404, are you saying you are able to publish successfully locally but not when published through Azure DevOps?

Also, can you verify that the timezone file (http://saas-rc.qualite..xxxxxx.xxxxx/_framework/wasm/dotnet.timezones.dat

[2020-04-30 17:01] mkArtakMSFT commented on #21353
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2020-04-30 17:08] Tratcher commented on #21292
The only way to prevent the draining logic is to forcefully close the connection via `HttpContext.Abort()`. The trouble is that there's no guarantee the client will get your response before they notice the connection was closed. You can try calling `HttpResponse.CompleteAsync()` before Abort to make sure the response is sent out, but that still doesn't guarantee client behavior.

Doing this for ev

[2020-04-30 17:09] mkArtakMSFT commented on #21328
This issue was moved to mono/mono#19682

[2020-04-30 17:09] #21328 closed

[2020-04-30 17:10] ahmetsekmen commented on #21333
Thanks for informing.
Is it possible to host webassembly app with "cmd" ?

[2020-04-30 17:12] #21306 closed

[2020-04-30 17:12] pranavkm commented on #21369
/cc @BrennanConroy  \ @anurse

[2020-04-30 17:21] Tratcher commented on #21193
`<location path="certificate/login">` is setting up a separate virtual directory that's not part of the main application, so the 404 makes sense there. Not sure how 2.2 would behave differently, we'll have to investigate that.

There's a long related discussion on scoping client certs here: https://github.com/dotnet/aspnetcore/issues/18064

[2020-04-30 17:21] BrennanConroy commented on #21369
Can you check if your connection is using websockets or longpolling?

If it's using WebSockets, can you verify that you've configured WebSockets correctly with AWS.

If it's using LongPolling, you probably need to set the timeout in the Elastic Load Balancer to be greater than the default of 60 seconds. 110 seconds is probably safe. LongPolling issues requests and waits 100 seconds before cancelin

[2020-04-30 17:21] guardrex commented on #21292
Recommend transferring this to the docs repo. I'll add the metadata so that at least until the docs team can get to it the approach will be visible via the open issues at the bottom of the Kestrel topic.

... which implies that a cross-link to the new content should appear in the *Additional resources* of the [File Uploads topic](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads

[2020-04-30 17:22] jscarle commented on #17516
I am also hitting this issue. I have been able to reproduce this exact issue on a fairly consistent basis. I [wrote about it on StackOverflow](https://stackoverflow.com/questions/61527648/iishttpserver-ondisconnect-nullreferenceexception). Basicallly, executing a RequestDelegate from an Endpoint which calls Response.Redirect seems to hit this on a someone random frequency which makes it appear as

[2020-04-30 17:35] Tratcher commented on #21300
Use an IHostedService to populate and refresh an in-memory SNI table?

[2020-04-30 17:38] Tratcher commented on #21282
Honestly I'd file a bug with SmartBear. That format is rarely used in HTTP requests and we're unlikely to prioritize support for it

[2020-04-30 17:46] ryanbrandenburg commented on #21309
Possibly this is the same thing as https://github.com/dotnet/aspnetcore/issues/21258?

[2020-04-30 17:54] TanayParikh commented on #21309
Possibly related but https://github.com/dotnet/aspnetcore/issues/21258 happens after committing a completion, and this happens while querying for available completions. After resolving this, will retest https://github.com/dotnet/aspnetcore/issues/21258 to see if that issue has also been resolved.

[2020-04-30 17:54] Debbus72 commented on #21282
Yes, we already did. The reply we got was that they just follow the RFC... :-(

[2020-04-30 17:54] TanayParikh commented on #21258
Just marking this as blocked on https://github.com/dotnet/aspnetcore/issues/21258 as they may share the same root cause.

[2020-04-30 17:59] HaoK commented on #20122
This is too big of a breaking change at this point for not much value, especially since IdentityServer depends on us now

[2020-04-30 18:00] HaoK commented on #20122
See https://github.com/dotnet/aspnetcore/pull/21343#issuecomment-622006329 for more context

[2020-04-30 18:12] ltropin commented on #21342
I used 2 libraries:
[BlazorInputFile](https://blog.stevensanderson.com/2019/09/13/blazor-inputfile/)
[BlazorFileReader](https://github.com/Tewr/BlazorFileReader/)

It doesn't matter what library you use. Even without libraries, YandexBrowser stops execution on simple loading <input type= "file" />

[2020-04-30 18:19] GioviQ commented on #20849
@pranavkm Yes

[2020-04-30 18:33] rynowak commented on #21114
The decision from ship room was to make this opt-in with an AppContext switch. So the fix looks like:

[code]

Put this in Program.Main as the first statement.

[2020-04-30 18:34] geraldons opened #21374 "Blazor App Erros ao Usar Tradutor do Chrome"
Execute qualquer APP de Demonstração do Blazer com o Chrome Tradutor e o mesmo apresentará erros.

blazor.server.js:15 [2020-04-30T18:16:35.125Z] Error: There was an error applying batch 14.
e.log @ blazor.server.js:15
(anonymous) @ blazor.server.js:15
(anonymous) @ blazor.server.js:15
(anonymous) @ blazor.server.js:15
(anonymous) @ blazor.server.js:15
r @ blazor.server.js:15
e.processBatch @ blaz

[2020-04-30 18:58] jimmylewis commented on #21268
I found docs about the [Image Catalog and Service](https://docs.microsoft.com/en-us/visualstudio/extensibility/image-service-and-catalog?view=vs-2019) and [a VSSDK tool to generate imagemanifest from resources](https://docs.microsoft.com/en-us/visualstudio/extensibility/internals/manifest-from-resources?view=vs-2019)
There's also a [VS extension](https://marketplace.visualstudio.com/items?itemName

[2020-04-30 19:00] vd3d opened #21375 "JSRuntime freeze on long calls"
# Describe the bug

In a blazor application, I upload an image from a HTML page, then navigate to the next page a wich to send the image to this razor page.

The problem is that the application freeze (sometimes it work, let say 10% of the cases)

### To Reproduce

In a Blazor page, I have 2 pages:
- uploadimage.html
- saveimage.razor

In the "uploadimage" I load an image and save it into the loca

[2020-04-30 19:04] aL3891 commented on #21292
Sure, yeah i agree it should not be the default, just having it the docs is fine imo :)

Thank you for the info @Tratcher!
I'll see about opening a docs pr for the page you linked @guardrex

[2020-04-30 19:04] #21292 closed

[2020-04-30 19:04] #21358 closed

[2020-04-30 19:11] pranavkm commented on #21322
https://github.com/dotnet/runtime/issues/30445 has some more context. MVC's output formatter currently only supports configuring the subset of features supported of S.T.Json 3.x. This should be resolved as part of the preview4 release.

You can tell MVC what set of formatters to use to format an object:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.objectresult.formatters?vi

[2020-04-30 19:19] pranavkm commented on #20849
Tracking issue: https://github.com/dotnet/aspnetcore/issues/21355

[2020-04-30 19:19] #20849 closed

[2020-04-30 19:22] jbomhold3 opened #21376 "Blazor WASM Auth Iframe rendering full page"
Version preview 5

The iframe for silent refresh is doing a full render of the website. Including components.

Also, the iframe sometimes randomly appears twice

![](https://i.gyazo.com/ea26ea77b665ecad93d2aaa9c5b4ca4c.png)

[2020-04-30 19:46] BrennanConroy commented on #21231
Fixed via https://github.com/dotnet/aspnetcore/pull/21295

[2020-04-30 19:46] #21231 closed

[2020-04-30 19:47] vd3d commented on #18875
Hi @captainsafia ,

I have read the whole post and my problem is related, a call to JSRuntime is never ending and then canceled ! Sometimes it works... it is really random !

when doing this in pure Javascript, it works perfectly... but not using JSRuntime.

PS: here is my bug https://github.com/dotnet/aspnetcore/issues/21375

[2020-04-30 19:50] anurse commented on #21323
In the sidebar of that page is a "JavaScript API Reference" link which leads you to API documentation on the types which might help out in the future. In particular, there's a doc on [HubConnection](https://docs.microsoft.com/en-us/javascript/api/@microsoft/signalr/hubconnection?view=signalr-js-latest) which includes the `connectionId` property.

Closing as the question has been answered.

[2020-04-30 19:50] #21323 closed

[2020-04-30 20:00] anurse commented on #21300
I'm not worried implementation-wise, more about the impact of having the framework start a time-based background worker. I guess we do similar things in plenty of places (heartbeats, etc.)

[2020-04-30 20:00] #20988 closed

[2020-04-30 20:00] #20980 closed

[2020-04-30 20:00] #21305 closed

[2020-04-30 20:22] mrpmorris opened #21377 "[Blazor] IServiceCollection does not contain a definition for AddBaseAddressHttpClient"
I upgraded a WASM app to `3.2.0-rc1.20223.4` and now the following code no longer compiles.

[code]

This is not mentioned in the upgrade notes. What is the solution?

[2020-04-30 20:23] Tratcher commented on #21282
...in the wrong context. As a test client they should also compare their implementation to the other client's they're emulating like browsers which don't do this.

[2020-04-30 20:29] MarkStega opened #21378 "SDK installer leaves empty directories so it appears that an older SDK is still installed"
### Describe the bug
I had VS 2019.6.0 Preview 4.0 installed.
I ran the VS installer & upgraded tp 2019.6.0 Preview 5.0
Remnants of the previous 015115 that were not properly removed make it look like that SDK is still installed.

The entry in "Control Panel/Programs and Features" is gone, it is just the empty directories

### To Reproduce
Per the bug description...

### Further technical details

[2020-04-30 20:35] JunTaoLuo commented on #20540
FYI, the 401s we were seeing seem to be caused by the missing SPNs. I am able to reproduce the 401 errors on my local VMs when the SPNs are not configured and I am able to run your repro project successfully when I do have the SPN configured correctly. I think all the questions here have been resolved, please let us know if you have any other issues @Yustos

[2020-04-30 20:39] Tratcher commented on #20540
@JunTaoLuo did you ever see the InvalidOperationException?

[2020-04-30 20:39] pranavkm opened #21379 "Verify publishing scenarios for satellite resources"
Verification for https://github.com/dotnet/aspnetcore/issues/21355

Scenarios to cover (CLI + VS):

* [x] Standalone - @mkArtakMSFT
* [x] Hosted - @pranavkm
* [x] Standalone + PWA - @captainsafia
* [x] Hosted + PWA + Auth - @captainsafia

Things to try out

* [ ] Publish after create
* [ ] Add a resx file to a brand new project, publish
* [ ] Modify a resx file. Verify changes show up.
* [ ] Add a

[2020-04-30 20:41] melzoghbi opened #21380 "Infinite redirects post login in Azure App Service for .net core 3.0 app"
Hi,

I have asp.net core web app that authenticates through implicit flow. the application works with no issues on my local, but when i deploy it this is the behavior i see in the browser:
1)  after i successfully login in the browser.
2) many redirects and then i see this error message: we couldn't sign you in!

![image](https://user-images.githubusercontent.com/11993393/80756733-e7d81d00-8ae7-11

[2020-04-30 20:42] hhvdblom opened #21381 "if await next() is used in app.Use the app.UseDeveloperExceptionPage() is not shown."
- If I code it like this it works but preferable is that the DeveloperExceptionPage shows up.

- Another question why is the Body a Stream and not a memorystream. I want to add a page header to every page.

[code]

[2020-04-30 20:51] GrabYourPitchforks commented on #21243
The new API is now in.

[2020-04-30 20:55] SteveSandersonMS commented on #21379
Thanks @pranavkm!

Is anyone planning to check on a non-Windows machine? If not that’s fine - I’m happy to check a few cases on Mac/Linux.

Also if we’re including https://github.com/dotnet/aspnetcore/pull/21128 too, let’s make sure we have a build that includes that before verifying.

No pressure though: if #21128 isn’t going to make it that’s fine with me too.

[2020-04-30 20:55] pranavkm opened #21382 "Consider running Blazor integration tests with lower level brotli compression"
![image](https://user-images.githubusercontent.com/174281/80757764-8add6680-8ae9-11ea-8a59-8b0a6bd07e20.png)

In RazorSDK, tasks support test only parameters that are controlled by "private" parameters: https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Microsoft.NET.Sdk.Razor.CodeGeneration.targets#L104. We could do something simila

[2020-04-30 21:00] #21067 closed

[2020-04-30 21:00] #20927 closed

[2020-04-30 21:00] #20767 closed

[2020-04-30 21:00] pranavkm commented on #21243
Thanks. Waiting for a runtime update to update this.

[2020-04-30 21:07] mkArtakMSFT commented on #21379
Thanks Steve. It would be great if you could help with validating non-Windows scenarios.
@dotnet/aspnet-blazor-eng folks, please let us know if you intend to validate certain scenarios on non-Windows machines, so that @SteveSandersonMS doesn't duplicate the effort.

[2020-04-30 21:10] anurse commented on #20540
Triage: @JunTaoLuo is going to take a quick look at a few other clients (Legacy Edge/Edgium, etc.) to see if we can repro the InvalidOperationException. We do require an SPN though so I don't think there's much we can do about that. Using HttpSys is probably a better option in this scenario.

[2020-04-30 21:13] anurse commented on #21194
Triage: Anti-forgery is an MVC concept so routing to `area-mvc`.

[2020-04-30 21:13] blowdart commented on #21194
@pranavkm As anti-forgery is a service can users just replace it and write their own easily?

[2020-04-30 21:19] pranavkm commented on #21194
Yes. Going by the sample listed here: https://github.com/dotnet/aspnetcore/issues/21194#issuecomment-619653661, you could consider using a DI provider such as StructureMap to write an implementation that wraps ASP.NET Core's default implementation.

[2020-04-30 21:31] secana opened #21383 "Blazor WebAssembly 3.2.0 breaks integrity of DLLs"
### Describe the bug
Blazor WebAssembly 3.2.0 breaks the integrity of published modules.

### To Reproduce
Upgraded a project to the Blazor RC and published it to Azure. No code was changed. The project runs fine locally but does not load from Azure.

Browser shows the following error messages. Seems that the integrity of some dlls cannot be verified. I rebuild multiple times, always with the same

[2020-04-30 21:36] blowdart commented on #21380
Firstly 3.0 isn't supported any more, so please, when you have the chance please update to 3.1?

Is the app URL HTTPS? Do you have the forwarding headers middleware installed?

[2020-04-30 21:41] captainsafia commented on #21379
I can validate "Hosted + PWA + Auth" and "Standalone + PWA" on Windows and Linux.

[2020-04-30 22:06] ryanbrandenburg commented on #21298
This is, unfortunately, expected. I've run into the same problem, here's what's happening.

As you can see from your callstack SumConverter from the VSLanguageServerClient is the last non-Newtonsoft parent of this. The way SumConverter decides which of its types is "correct" is that it just tries to Deserialize all of them, if one throws it tries the next one, if it succeeds then it decides that w

[2020-04-30 22:06] mkArtakMSFT commented on #21379
Thanks @captainsafia.
I've updated the description to reflect this.

[2020-04-30 22:08] SteveSandersonMS commented on #21379
Awesome, thanks very much!

[2020-04-30 22:20] captainsafia opened #21384 "[Blazor] Throw meaningful exception for JSRuntime calls that timeout"
Capturing the direction on this into a new issue. We should throw a more meaningful exception to users if JS interop invocations timeout.

Ref: #18875 #21375

[2020-04-30 22:29] hiteshmadan opened #21385 "Kestrel: Is it possible for an app to control the lifetime/disposal of each request's IMemoryOwner?"
### Is your feature request related to a problem? Please describe.
I'm looking for a way to use the byte buffers underlying the kestrel request stream and control when they get disposed. I couldn't find any way to stop kestrel from returning the bytes back to its' pool when the request ends.

### Describe the solution you'd like
A way to tell kestrel to not dispose/not reuse the byte arrays for an

[2020-04-30 22:43] TheFanatr commented on #21361
@mkArtakMSFT Just in case it isn't clear, this proposal is for allowing "templated" methods to be run like they are in Razor pages, but without the Blazor `RenderTreeFrame` sequence numbers being all over the place; this has very little to do with `@:`, and has a lot more to do with supporting some form of `RenderTreeBuilder` automatic region declaration within these methods or at the call site so

[2020-04-30 22:52] NTaylorMullen commented on #21368
Sadly you can't truly do this in the same type equivalent way that C# does it. You can do string comparisons on the generated type name of files though. If use our [RazorProjectEngine](https://github.com/dotnet/aspnetcore-tooling/blob/0920fcfaf0707f003fa21ea3c36ed98c1f1fbbb1/src/Razor/src/Microsoft.AspNetCore.Razor.Language/RazorProjectEngine.cs) to configure a project for Razor files and then par

[2020-04-30 22:56] NTaylorMullen commented on #21316
Thanks for the report @BenLampson! We'll be sure to address this as part of https://github.com/dotnet/aspnetcore/issues/14271

[2020-04-30 22:56] #21316 closed

[2020-04-30 22:59] TheFanatr commented on #21361
Just to clarify, the exceptions that are currently encountered when using these "templated" methods are caused due to the sequence numbers being totally off, then when assertions run by `RenderTreeBuilder.AddAttribute` later in the markup generation verify that the call was after another `RenderTreeBuilder.AddAttribute`, `RenderTreeBuilder.OpenElement`, or `RenderTreeBuilder.OpenComponent` call, i

[2020-04-30 23:04] mihaimyh commented on #21210
Any update on how to allow access to anonymous endpoints?

[2020-04-30 23:22] TheFanatr commented on #21361
Here is an illustration of the above.
![image](https://user-images.githubusercontent.com/16641853/80768241-b6b71700-8afe-11ea-9fd0-0e23fdd893ea.png)

[2020-04-30 23:36] wegylexy opened #21386 "Option to skip negotiation option for SignalR C++ client"
To avoid using sticky sessions, the client needs to skip negotiation and uses WebSockets. Since the C++ client only supports WebSockets anyway, there should also be a way to skip negotiation.
It could be `.skip_negotiation(true)` with the hub connection builder.

[2020-04-30 23:43] LucasMoskun opened #21387 "warning generated error - signalr-client-cpp - fail to compile"
### Describe the bug
When trying to build generated in solution, multiple "Warning treated as error - no 'object' file generated errors occur and the signarclient project build fails.

### To Reproduce
Complete windows build instructions as illustrated in readme at https://github.com/aspnet/SignalR-Client-Cpp

open solution (tried with both vs 2015, and 2017). Attempt to build all or project signa

[2020-04-30 23:46] BrennanConroy commented on #21387
Pass `-DWERROR=false` when building

[2020-04-30 23:51] pranavkm commented on #21378
@Pilchie this is likely something the installer folks need to investigate. However, `dotnet/installers` doesn't show up as an option in the issue transfer list. Do you know why that might be?

[2020-05-01 00:13] captainsafia commented on #21379
|                                                                                                                           | Hosted + PWA + Auth | Standalone + PWA |
|---------------------------------------------------------------------------------------------------------------------------|---------------------|------------------|
| Publish after create

[2020-05-01 00:29] LucasMoskun commented on #21387
Thank you, I now have the generated signalrclient.dll!
In case anyone else reads this, for ultra clarification, I put it on the end of this line
[code]

[2020-05-01 00:29] #21387 closed

[2020-05-01 00:42] gigantedocil commented on #21221
Hey, @blowdart, thanks for the reply. I did try to replicate the configuration on my project so that I would be able to change the value of the `DefaultIdentityUIPathPrefix `, but some of the interfaces and classes used inside the `AddIdentityServerJwt()` are internal and as such I am not able to use them directly.

I then tried to create my own versions of those interfaces and classes, as well as

[2020-05-01 01:09] PylotLight commented on #21210
@mihaimyh I found the best way to achieve this currently is to inject a named instance of httpclient via IHttpClientFactory onto the page to create a new token free instance.
Here's my code:

Client program.cs
[code]
Razor page:
[code]

Let me know if you need further assistance on this one.

[2020-05-01 01:14] TheFanatr commented on #21361
I hid the comment above the last one because it is a bug unrelated to this, which I will file an issue for later.

[2020-05-01 01:23] jasjae opened #21388 "An error occurred while writing to logger(s). (Could not find 'dotNetCriticalError' in 'window.Blazor._internal'."
**Version:**
Blazor WebAssembly 3.2.0 Release Candidate

**Notes:**
Unsure what is causing this exception, debugger does not step into exception.

**Stack trace:**
Uncaught (in promise) Error: Microsoft.AspNetCore.Components.LocationChangeException: An exception occurred while dispatching a location changed event. ---> System.AggregateException: An error occurred while writing to logger(s). (Could

[2020-05-01 01:30] TheFanatr opened #21389 "Expression-Bodied Local Razor Method in Blazor Not Translated Correctly"
### Describe the bug
If a "templated" expression-bodied local method that requires more than one `RenderTreeBuilder` operation is declared within a `.razor` file, the generated code is incorrect.

### To Reproduce
- Add the following code to a `.razor` file anywhere but the `@code` section.

[code]

- View the generated code and see that the see that the translated source performs only the first `

[2020-05-01 01:38] Pilchie commented on #21378
@terrajobst has been working on getting permissions set up for that.  @marcpopMSFT in the meantime.

[2020-05-01 01:44] jasjae opened #21390 "Server side blazor launching blank window on F5"
**Version**
Blazor WebAssembly 3.2.0 Release Candidate
Microsoft Visual Studio Professional 2019 Preview Version 16.6.0 Preview 5.0

**Notes**
After updating to 3.2.0 RC, with no change to the code this error started occuring.
Will add notes when fully investigated locally.

**Exception dialog in VS2019**
Microsoft Visual Studio
One or more errors occurred.
Failed to launch debug adapter.  Additio

[2020-05-01 01:53] snelgrove commented on #21352
I've been having a similar problem, except in my case I get a 500 error (hosted on begin.com, there might be a layer capturing the 404?). I thought this issue might be related to #19796, because I had to make the suggested change to `.gitattributes` to get the correct hash on `blazor.webassembly.*.js`. This fixed the problem for the text (.js) file, but the .dat file remains a problem. I can confi

[2020-05-01 01:53] jasjae commented on #21390
Restarting Chrome fixed the issue

[2020-05-01 01:53] #21390 closed

[2020-05-01 02:15] paul-wade opened #21391 "Blazor wasm AddJsonFile fails with error"
Running the latest preview builds blazor wasm.
I've followed the instructions provided here https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-model-configuration?view=aspnetcore-3.1#configuration

I'm getting the following error.
"blazor.webassembly.js:1 ﻿System.ArgumentException: The path must be absolute."
This is how I have wired my config in Program.
 builder.Configuration.AddJsonFil

[2020-05-01 02:17] rynowak commented on #21243
This is dream come true. 😍 Thanks @GrabYourPitchforks 😍

[2020-05-01 02:43] gurry commented on #21214
@benaadams IIS is running on a Windows Server not a dev machine. The OS details are:
[code]

@anurse My actual use case where I first saw the problem is a Web app receiving PATCH requests on a large variety of URLs with the same URL structure as above and updating corresponding rows in a DB.  Since every request goes to the DB, and IIS eventually is able to ramp up as high as Kestrel, IIS's baseli

[2020-05-01 03:57] johnkwaters commented on #21027
OK... so add one more wrinkle to this scenario...

I want to user Jwt Bearer authentication, but two different kinds.

For all but one call, I want to use the standard Jwt Bearer token validation. But for ONE specif call, I want to receive an Azure AD idToken in the Auth Bearer {jwt} header.

I try add both like this in Startup:

[code]
My controller have an [Authorize] attribute, but one specific

[2020-05-01 04:03] johnkwaters opened #21392 "Combining Azure AD and own Jwt Bearer token auth in same aspnetcore API"
This is an additional wrinkle to the now closed ticket #21027

I want to user Jwt Bearer authentication, but two different kinds.

For all but one call, I want to use the standard Jwt Bearer token validation. But for ONE specif call, I want to receive an Azure AD idToken in the Auth Bearer {jwt} header.

I try add both like this in Startup:

[code]

My controllers have an [Authorize] attribute, bu

[2020-05-01 04:37] johnkwaters commented on #21392
Ah... I think I solved it! If I don't add the AzureADDefaults.BearerAuthenticationScheme to the default policy, it works!

[code]
So I my setup above the right way to do it?

[2020-05-01 06:27] johnkwaters commented on #21392
As a note - I did get it working by defining a policy with a requirement that the scheme be AzureADDefaults.BearerAuthenticationScheme. Was there an easier way?

[2020-05-01 06:40] mihaimyh commented on #21210
I am already doing this but currently the app is trying to authenticate the user on the first load of the page.
Is there a way to allow anonymous access?

[2020-05-01 06:50] davidfowl commented on #21385
No it isn't, that would require reference counting which System.IO.Pipelines doesn't support. This isn't something we'd support natively as this level of manual memory management is hard to get right (like really really hard). The problem is everyone has to play nice in these systems and it requires advanced diagnostics to debug memory ownership issues (this is what happens when you stop using the

[2020-05-01 07:22] tripleacoder commented on #17660
I have the error in Version 16.5.3.

[2020-05-01 07:45] abhiphirke commented on #21318
@BrennanConroy  Thanks for your hint. This helped make it work! This also helped in making work when it was being used as COM component from another C++ application.

[2020-05-01 07:45] #21318 closed

[2020-05-01 07:56] DreamingDevs commented on #12472
@mkArtakMSFT Is there any current workaround for this issue?

[2020-05-01 08:36] egil commented on #21368
Thanks @NTaylorMullen. Where is the best place to find a sample for how to use the RazorProjectEngine?

A quick look at the code I see a lot of compile phases and "features" being added in the default configuration I won't need in my case. I guess I can skip those and just do with `DefaultRazorParsingPhase` and `DefaultRazorSyntaxTreePhase`?

[2020-05-01 08:43] conficient commented on #21391
Not sure if the AddJsonFile is meant to work in a Blazor WASM context but there is a way to load the appsettings.json from a `wwwroot` folder:
[code]
This should work okay (tested on Blazor WASM RC1)

[2020-05-01 08:53] Discovery-support commented on #21356
@mkArtakMSFT  Issue solved by upgrading from `3.2.0 Preview 5` to  `3.2.0 RC`

[2020-05-01 08:53] #21356 closed

[2020-05-01 08:56] MortenMeisler commented on #21383
Any update on this? I'm afraid to upgrade our project to RC right now.

[2020-05-01 09:17] mlathan commented on #21085
@julienGrd I can confirm your observations. Currently I'm also experimenting with a TableView which displays fixed height rows and variable widths columns. For this I have a container component, the TableView, which inside renders the grid cells in two for loops (rows, cols). Like @javiercn mentioned I already virtualized the scrolling, react on resizing and also use HTML Grid Layout in a clever w

[2020-05-01 09:18] MarcusBullock commented on #21369
thanks for such a quick reply.

i set the timeout to be 110 seconds and everything seems to be working fine now, no disconnects or 504 errors.

cheers!

[2020-05-01 09:18] RyoukoKonpaku commented on #10170
I think the new C# feature [Source Generators](https://devblogs.microsoft.com/dotnet/introducing-c-source-generators/) and some MSBuild tasks can really help here. With that one could possible generate a C# class from css / scss / less in Blazor components to generate strongly typed and isolated styles.
This gives also will possibly give the advantage of having having complete intellisense for the

[2020-05-01 09:56] andrewjsaid opened #21393 "ObjectResultExecutor could output a clearer log w.r.t the concrete type of ObjectResult"
### Is your feature request related to a problem? Please describe.

`ObjectResultExecutor` gives potentially misleading log. Specifically `"ObjectResultExecuting"` is define in `MvcCoreLoggerExtensions` as follows:
`Executing ObjectResult, writing value of type '{Type}'.`

The misleading part is when a controller returns, for example, a `NotFoundObjectResult(string)` or an `OkObjectResult(string)`

[2020-05-01 10:19] Discovery-support opened #21394 "Unknown Razor components should fail to compile"
As a great believer that compile time error detection is far superior to runtime error detection...

When compiling...

1.  Razor components that are unknown (e.g. missing a Nuget package or a using statement) should throw a 'doesn't exist in the current context'?

2.  Unknown Component Razor Attributes (with an upper class first letter) should also throw an 'unknown component attribute error'?

[2020-05-01 10:36] viveksinghnegi7 commented on #17277
Encountered the same issue. Waiting for a permanent solution.
Sometime it works after re-starting the Visual Studio but after some time the exception occurs.
**An unhandled exception occurred while processing the request.**
**TimeoutException:** _The Angular CLI process did not start listening for requests within the timeout period of 20 seconds. Check the log output for error information._

`Syst

[2020-05-01 10:41] kuntalbose opened #21395 "Error while adding WSDL service Asp.net Core 3.1 web api"
I am trying to add a service in a .net core 3.1 application with **Microsoft Visual Studio Community 2019 Version 16.4.6** .I share my steps with screen shots.

The following is from **.csproj**

[code]

**Step 1**
![image](https://user-images.githubusercontent.com/7402233/80788699-75c70d00-8ba7-11ea-97cb-f10cad472d9a.png)

**Step 2**
![image](https://user-images.githubusercontent.com/7402233/8078

[2020-05-01 11:05] MarkStega commented on #21378
I tried to remove the empty directories manually from a command prompt and got:
[code]
This was a command prompt started with the same user logged onto Win10 as for the previous VS install and the current VS install. I started a new command processor with "start as admin" and then was able to remove the directories.

[2020-05-01 11:11] MarkStega commented on #21364
This is not resolved -- I have the error UI html in place. Prior to preview5 this error UI was activated and the application stopped. With P5 the error is not getting activated.

[2020-05-01 11:22] SteveSandersonMS commented on #17036
The cost of the requests that return 304 shouldn't be significant, because we don't request the `_framework` files at all once they are already cached.

We only request *one* of the `_framework` files per app startup, i.e., the blazor.boot.json file which tells us the hashes of all the other files, and hence we know whether to use the locally-cached copies based on those hashes.

As such there's l

[2020-05-01 11:28] RogerMKE commented on #18305
Just to be clear, to handle real world scenarios, the InputSelect needs to handle both int and Guid, as well as the nullable versions of each.  Not just 'int'.

Options values sourced from a database are almost always going to have int or Guid keys.  The input model being bound to may or may not require the user to make a choice from the list, so the nullable variants are appropriate for that situ

[2020-05-01 12:03] PavanDhariwal opened #21396 "Debugging BlazorWebAssembly"
When installing a progressive web app during debug, the following error is displayed on the next run.

An unhandled error has occured. Reload.

Installed following these steps [https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-release-candidate-now-available/](url). Visual Studio 2019 16.6 Preview

Steps to repoduce

1. Create a new Blazor Web Assembly project as a progressive web app

[2020-05-01 12:23] simonziegler commented on #21364
Hi - I don't think you addressed this. Can you please re-open?

[2020-05-01 12:37] ericdunn commented on #20789
I get this on every build in VS, when trying to debug etc.
2 workarounds for now if this helps anybody:
1) Do a clean before rebuild
2) Build from command line.

if you're running a dotnet core hosted blazor app:
(From the server project folder)
dotnet watch run -p ..\Client\(projectname).Client.csproj

This of course doesn't help with debugging.

[2020-05-01 13:20] vertonghenb commented on #10170
@RyoukoKonpaku Wow, that looks promising!

[2020-05-01 13:34] paul-wade commented on #21391
Thanks @conficient that will be a good work around to get me going. If you look at the link I included. They do mean to support adding a config files with AddJsonFile

additionally https://github.com/dotnet/aspnetcore/issues/19178 remarks that it is believed to be fixed with 3.1.102 of the sdk. I believe I am running the latest of everything however.

[2020-05-01 13:40] Dennisenzo commented on #21377
It's in the notes of the previous preview.

Replace calls to AddBaseAddressHttpClient in Program.cs with builder.Services.AddSingleton(new HttpClient { BaseAddress = new Uri(builder.HostEnvironment.BaseAddress) });.

[2020-05-01 14:11] donhuvy opened #21397 "Blazor server-side 5.0.0-preview.3.20214.6 print many information at console"
### Describe the bug

Blazor server-side 5.0.0-preview.3.20214.6 print many information at console.

ASP.NET Core version: 5.0
[blazor.server.js.zip](https://github.com/dotnet/aspnetcore/files/4564658/blazor.server.js.zip)

Seemly, developer when build, has mistake, did not delete `console.log();`

![image](https://user-images.githubusercontent.com/1328316/80811531-47215480-8bf0-11ea-9993-37bec057

[2020-05-01 14:15] PylotLight commented on #21210
Just make sure it doesn't have an `@attribute` and it should be fine I would've thought.
My pages don't ask for auth unless I put [Authorize] on the page or controller.

[2020-05-01 14:16] kaniosm opened #21398 "Blazor & SignalR - ObservableCollection UI notification issue"
When binding to an observable collection, adding to the list from a local method triggers a UI refresh (not really a refresh, but rather a render of the added component/html).
The same will not happen immediately after calling the same method from a SignalR message.

The behavior can be observed in the sample project attached.
The same happens for both Server-side Blazor and WebAssembly, and espec

[2020-05-01 14:16] simon-flanagan opened #21399 "Blazor Webassembly Signlar connection to Azure SignalR service via Funcations App fails to pass authorization token"
Trying to connect to the Azure SignalR service through a Function App 'negotiate' endpoint using Blazor Webassembly fails. Using a .net core 3 console app is able to connect successfully.

The part of the process that appears to fail is the switch to websockets - the Azure SignalR server returns 401-Unauthorized. Comparing requests from the console and blazor apps shows that the authorization head

[2020-05-01 14:39] JulioPablo commented on #20642
@javiercn  Hey, do you happen to know how I could add the client side blazor app inside a MVC view? In your examples, which are very helpful, you are returning a index.html, previously with the 3.1 preview I had it set up where the blazor app is inside a MVC view, I did this so the auth cookie would remain and also to share the main app's layout, keeping the navigation and so on.

But I'm not sure

[2020-05-01 14:51] donhuvy opened #21400 "Add GitHub Discussions for https://github.com/dotnet/aspnetcore"
I see this beta feature of GitHub called `Discussion` is helpful. Can you add this feature to this repository? like this https://github.com/zeit/next.js/discussions

[2020-05-01 15:10] Tratcher commented on #21380
Please share a decrypted fiddler trace file.

[2020-05-01 15:20] hermanthotan opened #21403 "HttpContext.SignInAsync null"
Please refer to the below git link.
https://github.com/hermanthotan/cookieidentity.git

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2229fc6-f8c8-952e-e567-b1d5a463055a
* Version Independent ID: b18a015b-914d-f014-f711-120d208904d9
* Content: [Use cookie authentication without ASP.NET Core Identity](https://docs.micr

[2020-05-01 15:28] masoudafar opened #21401 "blazor wasm hosted model deploy on iis by pwa+identity server"
hi i use blazor wasm core hosted model and pwa + identityserver
I want deploy this app to windows server iis ,
i installed  .NET Core Hosting Bundle on server
And after running...
I saw the following error:

after watch this video :https://www.youtube.com/watch?v=1o3UOFw65pw
I replace
`        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />`
 to

[2020-05-01 15:33] Pilchie commented on #21400
From a google search, that appears to be a beta feature that this repo doesn't have access to yet.

[2020-05-01 15:35] FDonald commented on #21193
Thanks Tratcher.
I don'r understand why I can`t use this feature, it`s working since Framkework 3.5!
Howecer if isn't possible, how I could authorize a user with a client certificate?
I am working in a gobernment team to develop authorizations system, and this is a must to authorize external citizens for internet managements.
We have several authentication services so, we cannot protect entire sit

[2020-05-01 15:39] Pilchie commented on #21395
@vijayrkn - where should this go?

[2020-05-01 15:42] vijayrkn commented on #21395
@kuntalbose - This is a Visual Studio issue. Can you please report the issue as mentioned here - https://developercommunity.visualstudio.com/content/problem/post.html?space=8.

This will help us route to the right team and provide the required diagnostic information to investigate this further.

[2020-05-01 15:45] Pilchie commented on #21395
Closing as external.

[2020-05-01 15:45] #21395 closed

[2020-05-01 15:58] PavanDhariwal commented on #21396
Just to add to this. You can delete the app from here but has no effect on running it.

C:\Users\{username}\AppData\Local\Temp

C:\Users\{username}\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Chrome Apps

[2020-05-01 16:00] mrlife opened #21402 "Blazor Server - Publish and include exe"
I normally run ASP.NET Core apps using a Windows service, which requires an `.exe` file. I'm using Blazor now and see that the `.exe` is not published. How do I bring back the `.exe`?

### Further technical details
- ASP.NET Core version: 3.1.3
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version: VSMac 8.6 4387
- Include the output of `dotnet --info`:

.NET Core SDK (reflecting an

[2020-05-01 16:00] #21332 closed

[2020-05-01 16:03] Tratcher commented on #21381
Your handling all exceptions. The dev exception page won't work unless it can catch exceptions. In the template we deal with this by having the dev exception page enabled in development and the exception handler enabled in production. There's no way to do both at the same time, they're handling the same event.
https://github.com/dotnet/aspnetcore/blob/100823af0d50333b6ee10147a20b35196fcbbc7d/src/P

[2020-05-01 16:11] JefSchraag commented on #21167
The generated `returnUrl` value is

    http://localhost:5000/timemanagement-dev

This value is checked to have the same origin as the base path which is

    http://localhost:5000/timemanagement-dev/

The check fails because the generated `returnUrl` does not have the trailing slash.

[2020-05-01 16:14] pranavkm commented on #21391
Blazor will load `appsettings.json` and `appsettings.{Environment}.json` by default as long as they're present in the wwwroot folder. Unless you're trying to load a differently named config file, you do not need to explicitly load files as pointed out by @conficient's sample.

[2020-05-01 16:15] pranavkm commented on #21391
@guardrex should we call this ^ out in the docs - https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-model-configuration?view=aspnetcore-3.1#configuration?

[2020-05-01 16:16] terrajobst commented on #21378
@pranavkm @Pilchie

Should be fixed now

[2020-05-01 16:17] paul-wade commented on #21391
@pranavkm I sort of felt the documentation was hinting at that. However my config is null if leave it out.

[2020-05-01 16:18] hhvdblom commented on #21381
You are right! I am handling all exceptions in the try..catch. You know why? If I don't do that the Exceptions will not be handled by the DeveloperExceptionPage. What I am trying to say is that if you implement a app.Use the DeveloperExceptionPage won't fire if there is an exception in the await next().

As a test: implement an app.Use with just a await next() in it and you will see the DeveloperE

[2020-05-01 16:19] pranavkm commented on #21393
Executing {ConcreteObjectResultType}, writing value of type '{Type}'.

This sounds fine. Would you like to send us a PR for this change?

Can you elaborate on this?

[2020-05-01 16:20] pranavkm commented on #21388
FYI @SteveSandersonMS

[2020-05-01 16:23] Tratcher commented on #21193
Honestly I'm not sure how it ever worked in .NET 3.5. Client certificates are a TLS feature, not an HTTP feature, they need to be negotiated at the start of the connection before any HTTP data is available, only the host name (SNI) is known at that point.

There is one alternate mechanic called renegotiation. It allows a client or server to pause a TLS connection and renegotiate the encryption, in

[2020-05-01 16:26] Tratcher commented on #21381
Can you show the actual code for your basic broken example, including the relative positions of DeveloperExceptionPage and your Use?

[2020-05-01 16:27] alfkonee commented on #20427
Hello there I think I figured out why this was occuring It seems I was using the wrong libraries ie `Microsoft.AspNetCore.Blazor`  instead of the newer libraries `Microsoft.AspNetCore.Components.WebAssembly`
 @nlz242  could you check to see if your Nuget Pacakges in your the Client Project and Shared Project Use the Correct Packages

After the Switch Debugging started working fine for me

[2020-05-01 16:30] pranavkm commented on #21391
If you're still running in to this, could you share a minimal app that reproduces the problem?

[2020-05-01 16:33] paul-wade commented on #21391
@pranavkm Yes give me a few minutes to test again. Also are you saying that manually adding appsettings.json with AddJsonFile SHOULD raise the error I showed? I've not tested with another file name yet but the documentation says addjsonfile should work. It does not for me. latest vs2019 and a straight up new from template. reproduces for me.

[2020-05-01 16:34] hhvdblom commented on #21381
Chris, I am not at work right now but will post it monday.

[2020-05-01 16:36] paul-wade commented on #21391
@pranavkm I placed a new json file in wwwroot of my project and called builder.Configuration.AddJsonFile("test.json");

so the issue persists?