[2019-07-05 18:35] anurse commented on #11891
We don't preserve the actual exception type right now, just the message. The issue is that SignalR's protocol is intentionally .NET-agnostic (i.e. it doesn't assume that either the server or client are running .NET code), so we can't just encode the exception type. This is something we have considered before, but for now your workaround is the best solution.

[2019-07-05 18:36] anurse commented on #11891
Another design question to consider is what if the exception type isn't available on the client application? It's not likely that `catch(CustomException)` would ever work. Perhaps something like `catch(HubException ex) when (ex.ServerExceptionType == "CustomException")` could work eventually.

[2019-07-05 18:37] anurse commented on #11898
How are you hosting the server-side application? Are you hosting in IIS? By default IIS doesn't support WebSockets, you have to a) be running on Windows Server 2012/Windows 8 or higher **and** b) enable the "WebSocket Protocol" feature in the Windows Features.

[2019-07-05 18:38] BrennanConroy commented on #11898
If you're using Azure Web Apps you'll also need to enable websockets through the portal.

[2019-07-05 18:40] anurse commented on #11551
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-07-05 18:40] #11551 closed

[2019-07-05 18:40] anurse commented on #11501
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-07-05 18:40] #11501 closed

[2019-07-05 18:41] anurse commented on #11492
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-07-05 18:41] #11492 closed

[2019-07-05 18:41] anurse commented on #11380
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-07-05 18:41] #11380 closed

[2019-07-05 18:41] anurse commented on #8057
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-07-05 18:41] #8057 closed

[2019-07-05 18:41] anurse commented on #7743
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-07-05 18:41] #7743 closed

[2019-07-05 18:42] anurse commented on #6575
Closing as we don't really have any data to go on here. If anyone is able to provide some more detailed information here, feel free to comment and we can reopen our investigation!

[2019-07-05 18:42] #6575 closed

[2019-07-05 18:44] anurse commented on #11274
Closing as I don't think there's anything actionable here for SignalR, the Azure AD authentication logic is external to SignalR. Feel free to let us know if there's additional context that will help identify an issue to resolve in SignalR!

[2019-07-05 18:44] #11274 closed

[2019-07-05 18:45] #8723 closed

[2019-07-05 18:45] FluentGuru commented on #11185
This works but you also need to do the same for the static files

[2019-07-05 18:46] BrennanConroy commented on #8706
Done via https://github.com/aspnet/SignalR-Client-Cpp/pull/4

[2019-07-05 18:46] #8706 closed

[2019-07-05 19:26] matthensleyio opened #11929 "[Blazor] HTML attributes set before @bind are ignored by code generation"
### Describe the bug
Using the bind attribute on a Blazor form input element causes all following HTML attributes to be ignored during code generation.

### To Reproduce
Steps to reproduce the behavior:
1. Clone [this repository](https://github.com/matthensleyio/BlazorBindOrderBug)
2. Run run the Blazor project
3. Inspect the generated HTML
4. Notice all HTML attributes declared before a bind are

[2019-07-05 19:40] Liander commented on #7268
Regarding type inference into child contents: An observation is that when you have a context parameter assigned to an attribute you will get type inference. In other words, you would also get type inference if the context is passed to the inference method in cases when it is not used also. Then there is the problem that you don't always have a context parameter and the problem knowing which compon

[2019-07-05 19:48] sbwalker commented on #11867
I was able to modify the code as Steve suggested and it works:

       public override async Task<AuthenticationState> GetAuthenticationStateAsync()
        {
            // hack: create a new HttpClient rather than relying on the registered service as the AuthenticationStateProvider is initialized prior to IUriHelper ( https://github.com/aspnet/AspNetCore/issues/11867 )
            HttpClient htt

[2019-07-05 20:04] Andrzej-W commented on #11908
Sorry, but I don't agree. We can have plenty of bugs in our programs like division by zero or access to null reference and in my opinion it is good that we see an exception in all these cases. In ASP.NET Core source we can find hundreds of places where you are checking for null at the beginning of a method and throw exception. You don't silently ignore the problem.

I perceive @key attribute as an

[2019-07-05 20:10] Andrzej-W commented on #11908
@mkArtakMSFT please reopen because it is in my opinion serious bug. I have just added a new comment with clarification - read and decide.
/cc @SteveSandersonMS

[2019-07-05 20:17] cartermp commented on #11395
I think this is a post-3.0 kind of thing. We need to expose certain APIs in CoreFX to allow ASP.NET and EF to have a sane way to represent nullability.

[2019-07-05 20:25] rynowak commented on #11395
This is not a question, this is a bug in the compiler - using an NNRT with `@inject` will always result in a warning right now.

The fix is to generate the property like so:
[code]

This has to be contingent on whether nullability context is enabled at the project level, which we already flow into the compiler.

[2019-07-05 20:25] rynowak commented on #11395
/cc @NTaylorMullen

[2019-07-05 20:27] mkArtakMSFT commented on #11908
Reopening to discuss this in our next triage.

[2019-07-05 20:32] Tratcher commented on #11925
Chicken or Egg? Configuration can't log because Logging depends on config. Hosting can't log until after the config and DI have been built. Also, your logging is enabled in your config, so if your config wasn't found then you'll only get default logging😁.

[2019-07-05 20:33] mkArtakMSFT commented on #11909
Agree with @anurse.
This looks like a VS tooling issue. Please use VS Feedback to report this issue.

[2019-07-05 20:33] #11909 closed

[2019-07-05 20:51] 3x0dv5 commented on #11679
I started to see the following error after upgrading from preview5 to preview6
[code]

this is my custom component
_the razor file_
[code]
_the "code behind" - I prefer no to use the @@code{}_
[code]
_the use of the component_
[code]

[2019-07-05 21:08] Andrzej-W commented on #11908
I have yet another example. It will not kill people but it can kill performance of your application.

You can have some expensive calculations or database calls in your component each time value of the parameter changes. When you have duplicate key values wrong components are created/destroyed and all other components unintentionally receive new parameter values.

This bug (or unfortunate design)

[2019-07-05 21:09] joshlang commented on #11679
use @bind-Value instead of bind-Value.  See the preview6 upgrade notes for more details

[2019-07-05 22:37] davidfowl commented on #11926
Why? Does it include a namespace change? Can you add some more details about the reasoning?

[2019-07-05 22:52] mirsaeedi commented on #1864
Special Thanks to @Allann! your workaround still works in ASP.NET Core 2.2.4

[2019-07-05 23:03] Andrzej-W commented on #11876
I'm not the author of this issue but I have just made two tests: one with default template for Blazor server side application and one with Blazor client side with prerendering enabled (see this repo: https://github.com/danroth27/ClientSideBlazorWithPrerendering).

In both tests I have this in `index.razor` file:
[code]
[code]
Compile the application and hit Ctrl+F5 to run it without debugger.

In

[2019-07-05 23:15] esoderquist commented on #10692
Just ran into this myself during an Angular 8 upgrade. It appears the output of the SSR build process no longer contains output matching the Regex("Date") as required by https://github.com/aspnet/AspNetCore/blob/7269dbb73f4aa0ebf5ebb8bc07a076ee181851be/src/Middleware/SpaServices.Extensions/src/AngularCli/AngularCliBuilder.cs#L65

Under Angular 8, my build:ssr output is as follows (this is based on

[2019-07-05 23:23] jimmymasaru commented on #10573
Thank you everyone!

[2019-07-05 23:28] Tratcher opened #11931 "IHttpResponseCompletionFeature.CompleteAsync() should take a cancellation token"
CompleteAsync is subject to backpressure, but does not currently take a cancellation token so you can't abort without calling `HttpContext.Abort()`.

[2019-07-06 02:27] kugarliyifan opened #11935 "why publiush a .net core web project will contain many Microsoft.VisualStudio.Web.CodeGeneration.xxx dll"
I found that when I publish a asp.net core 2.2 Web project ,in publish folder contain many startwith Microsoft.VisualStudio.Web.CodeGeneration.xxx.dll,like this:
![image](https://user-images.githubusercontent.com/18448413/60750252-7d924100-9fd8-11e9-9eed-c12be3b18127.png)

I think these dll is in VS 2019's  Analyzers,
![image](https://user-images.githubusercontent.com/18448413/60750247-6d7a6180-9f

[2019-07-06 04:45] dougbu commented on #10958
0049c5899ca7

[2019-07-06 04:45] #10958 closed

[2019-07-06 06:43] iniside commented on #11900
Hey

It seems like this:

[code]

Should like this:
[code]

Camel case. I don't know if this is intended behavior or (using latest preview), but changing capitalization worked.

[2019-07-06 07:58] ugookoro commented on #11920
Yes it only occurs on Staging so far. Here are the logs from the client
[code]
Note that I added an [Authorize] attribute to my Hub class and it works fine on localhost but not on the server. The client isn't connecting to the hub because of the [Authorize] attribute.

See the network trace here
[signalr-negotiate-trace.zip](https://github.com/aspnet/AspNetCore/files/3364518/signalr-negotiate-trac

[2019-07-06 11:05] Mincka commented on #8134
I wanted to debug on a different URL than the index and I made the mistake to change the "App URL" in project settings from `http://localhost:23009` to `http://localhost:23009/OtherPage` instead of changing the `launchUrl ` (not the `applicationUrl` !) in `launchSettings.json`

It created a bunch of stuff, with a new app pool config for IIS Express and I had this error message after that when I tr

[2019-07-06 11:19] 3x0dv5 commented on #11679
Yep, that seems to work. I get a red squiggle but might be Resharper's fault.

![image](https://user-images.githubusercontent.com/250271/60755478-43c93680-9fe8-11e9-9802-9446bfc6cb45.png)

[2019-07-06 11:56] endeffects commented on #11609
I have the same issue, is there any workaround available?

[2019-07-06 12:14] endeffects commented on #11609
I have the same issue, is there any workaround available?

[2019-07-06 12:26] keeed commented on #11890
@mkArtakMSFT welcome! If there's anything that you need from me, feel free to message me.

[2019-07-06 12:49] javiercn commented on #11876
It's called twice because there are two renders instead of one, it's consistent. There is no magic happening here. The server prerenders the app (through what we call the "static prerenderer" and then tears it down.

Then the client app boots up and renders the original app again (hence 2 renders 2 calls).

On the prerender+reconnect case (the original server side example) we delay invoking onafte

[2019-07-06 12:57] javiercn commented on #11609
@endeffects try setting `<ContainerDevelopmentMode>Regular</ContainerDevelopmentMode>` on your csproj file and see if that fixes your issue.

[2019-07-06 13:02] endeffects commented on #11609
Thanks for your reply. But this does not fix the issue.

[2019-07-06 13:05] endeffects commented on #11609
When i run this docker compose i'm getting the following error,
so maybe this is related to something else?

[2019-07-06 13:34] endeffects opened #11937 "Blazor Server-Side: Api-Controllers of an other assembly got not mapped"
I'm running a blazor server side application on the latest .net core preview6.
When i'm moving the api controllers to an other referenced assembly
the controller got not mapped to any route at runtime. It works when i move them
back to the host or when i remove all the blazor server hosting stuff.

[2019-07-06 13:44] javiercn commented on #11610
Do you mean that they appear on the renderer and on IDispatcher? Could we make anything the user doesn't interact with internal/protected/private?

AFAIK, the only thing that calls invoke is the RemoteRenderer could we make Invoke and InvokeAsync protected on the renderer and have the render handle expose it to components?

I personally prefer OnInit as its more inline with what other frameworks h

[2019-07-06 13:53] javiercn commented on #11610
There are good reasons why we do this, base on the experience we want to achieve in multiple scenarios. The general principle is that we want to trigger a render before any async work happens and then we want to trigger an additional render after the async work completes. That is for example to allow scenarios where a developer is populating a grid, to produce an initial render with the head of th

[2019-07-06 14:01] d668 commented on #8852
is this about prerendering? are any walkthroughs available? thanks

[2019-07-06 15:23] Joelius300 commented on #10810
I switched from the `System.Text.Json`-based serializer back to json.net following [these ms-docs](https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interop?view=aspnetcore-3.0). I'm using a server-side blazor project (preview6) and called `AddNewtonsoftJson` on the `IMvcBuilder` I got back from `services.AddRazorPages()` in the `ConfigureServices` method.

The problem is that it stil

[2019-07-06 15:45] d668 commented on #8852
is this about prerendering? are any walkthroughs available? thanks

[2019-07-06 16:04] darkflame0 commented on #11797
I have a same issue
if "./ClientApp/dist" exists ,the client app always run in production mode when I debug my program

[2019-07-06 16:42] danroth27 commented on #10509
Hi folks,

Sorry about the confusion here! Please note that .NET Core 3.0 has *not* been deployed to Azure. To deploy an app that uses a preview version of .NET Core that hasn't been deployed you typically need to do either one of two things: 1. Deploy the app as a self-contained app so that it brings the runtime with it, or 2. Add a preview Azure App Service site extension to add the required run

[2019-07-06 17:21] NarenderSiri commented on #5238
An unhandled exception occurred while processing the request.
AggregateException: One or more errors occurred. (One or more errors occurred. (The NPM script 'start' exited without indicating that the Angular CLI was listening for requests. The error output was: Schema validation failed with the following errors:

Data path ".builders['app-shell']" should have required property 'class'.

Error: Sch

[2019-07-06 17:22] NarenderSiri commented on #5238
please can anyone help me

[2019-07-06 17:22] NarenderSiri commented on #5238
An unhandled exception occurred while processing the request.
AggregateException: One or more errors occurred. (One or more errors occurred. (The NPM script 'start' exited without indicating that the Angular CLI was listening for requests. The error output was: Schema validation failed with the following errors:

Data path ".builders['app-shell']" should have required property 'class'.

Error: Sch

[2019-07-06 18:54] gavdraper opened #11938 "Angular Individual Auth Template Login/Register Route Error"
### Describe the bug
If I create a new angular project with auth using...

dotnet new angular -au Individual

Then run it the app runs but Login and Register pages both error with...

"ERROR Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment: 'Identity/Account/Register'
Error: Cannot match any routes. URL Segment: 'Identity/Account/Register'
    at ApplyRedirects.push../node

[2019-07-06 21:48] enetstudio commented on #11929
It's a mere guess, as I have no proper software to run your app.

I think it is related to the type of the backing variables which should be string and not int. When the @bind directive comes first, and the compiler sees that you use a wrong data type, it just skip "rendering" the rest of the attributes (actually "rendering" space), but when the the @bind directive appears last, it's too late, and

[2019-07-06 22:53] matthensleyio commented on #11929
I have tried using other input types/backing types as well.

I just updated the example repo to include a text input field that is being bound to a string property. The bug exists there as well.

[2019-07-07 00:44] yncardoso commented on #5973
Yes, ran my app on the console and could see the problem (Info log level wasn't configured). Thanks for the tip :)

[2019-07-07 05:51] benaadams opened #11940 "HttpRequestStream & DuplexPipeStream don't amortize their ValueTask ReadAsync calls"
In usage a HttpRequestStream & DuplexPipeStream normally has very many ReadAsync calls made on them.

Using the ValueTask overloads for these Streams read allocates a AsyncStateMachineBox per read (when data is not immediately available)

![image](https://user-images.githubusercontent.com/1142958/60764465-56904980-a082-11e9-9be2-3f217b4a1cb2.png)

However it could use `TryRead` for the sync-path a

[2019-07-07 11:26] reiniellematt commented on #5833
The links included in the issue above are invalid (404 pages).

[2019-07-07 12:21] NickCraver commented on #8998
FWIW, while I agree with the behavior here is likely the wanted one most of the time, I just hit in in practice on some sample apps that had `MyAction` _and_ `MyActionAsync`. If this was compile-time or start-up time that'd be one thing...but I'm only seeing errors only at runtime. For example:
[code]

Can we improve this 2-matching-routes scenario (which worked before and now breaks) by alerting

[2019-07-07 12:27] NickCraver commented on #8998
In addition to the duplicate scenario above, this simple case breaks:
[code]
[code]

Why should this break? It's only being handled on one side of the fence. And again, users will only find this out at runtime and only if they go test every route.

[2019-07-07 12:53] dustinlacewell commented on #11185
@FluentGuru Hey, I'm just starting out with all of this. I got the `MapFallbackToClientSideBlazor` `DEBUG` snippet above working for me. But my site has no static files. Where and what do I change in order to do the same for static files as you say?

[2019-07-07 13:41] NickCraver commented on #4627
Is there any update in the plans for this? I'm just curious if `http/1.1` support is planned. I was trying to get them to work in MiniProfiler which is an awesome use case, but the default experience for devs locally is http/1.1 and http/2 is broken in the current preview (see https://github.com/aspnet/AspNetCore/issues/8952).

[2019-07-07 14:37] roboriaan opened #11941 "Web deploy fail using Visual studio 2019 preview. Self contained deployment"
Not sure if this is the correct place to log this issue.

### Describe the bug

I'm getting the following error when I try to publish a **self contained deployment** :

`
Error : Assets file '{PathToClientFolder}\obj\project.assets.json' doesn't have a target for '.NETStandard,Version=v2.0'. Ensure that restore has run and that you have included 'netstandard2.0' in the TargetFrameworks for your pr

[2019-07-07 17:31] #10989 closed

[2019-07-07 17:41] Andrzej-W commented on #11876
In the doc we can read:

The question is: do we need OnAfterRender events for something else? If not, it shouldn't be called during prerendering because DOM does not exist at this time. Now in OnAfterRender programmers have to manually test this condition.

[2019-07-07 17:56] dmitry-pavlov commented on #11246
Confirm the issue - experiencing the same.

[2019-07-07 18:11] Andrzej-W commented on #11941
Read this https://github.com/aspnet/AspNetCore/issues/9285#issuecomment-502794472 and maybe this https://github.com/aspnet/websdk/issues/604#issuecomment-487328649

[2019-07-07 18:11] blowdart commented on #11938
@javiercn could you take a look please?

[2019-07-07 18:55] MaherJendoubi commented on #11323
@danroth27 This is proof that the issue is related to an ASP.NET Core routing issue: https://github.com/ElectronNET/Electron.NET/issues/277#issuecomment-509022066

[2019-07-07 19:18] robertmclaws commented on #11323
I would argue that it's not _necessarily_ a **bug**, but the system got tighter about how it serves up resources, and the side effect is that Electron.NET doesn't work out of the box. I think it actually does a really good job of illustrating how flexible the new routing system is, because I was actually able to [leverage it to implement the fix](https://github.com/CloudNimble/ElectronNET.Blazor/b

[2019-07-07 19:39] dustinlacewell commented on #9337
This is a real disappointment. By using the WebHost container, I was able to register a number of classes as "BindingServices" or "StartupServices" via attributes. Then I could use `IEnumerable<IBindingService>` and `IEnumerable<IStartupService>` in `ConfigureServices` and `Configure` respectively and my startup looked like this:

[code]

Which our team found to be a very clean design. We had a ch

[2019-07-07 20:02] chobo2 opened #11943 "Asp.net Core Identity Reset Token Not Url Safe? Leads to 404 Error"
Hi

I am trying to use asp.net core identity and am running asp.net core 2.2

I am using the default implementation of asp.net identity core and use this line of code

` var token = await userManager.GeneratePasswordResetTokenAsync(employee);`

I then url encode it like this

`   token = HttpUtility.UrlEncode(token)
`

then send it via email and would look like this

`https://www.example.com/forgo

[2019-07-07 20:24] jeremycook opened #11944 "Recursive TryValidate methods for deep object graphs"
### Is your feature request related to a problem? Please describe.
Recursive TryValidate methods for deep object graphs. This would be particularly helpful since EF Core does not provide data annotations validation like EF 6 and earlier.

### Describe the solution you'd like
Methods like ControllerBase.TryDeepValidate, and System.ComponentModel.DataAnnotations.Validator.TryDeepValidate would both

[2019-07-07 22:30] mkArtakMSFT commented on #11778
So it seems the fix has fixed some of this,
![image](https://user-images.githubusercontent.com/34246760/60774650-0f2eab00-a0cc-11e9-90dc-8bc93d4f07fa.png)

yet the perf is still well below from the all-time high:
![image](https://user-images.githubusercontent.com/34246760/60774638-e4dced80-a0cb-11e9-940b-73100d0ccd19.png)

[2019-07-07 22:31] mkArtakMSFT commented on #11778
@DamianEdwards, @davidfowl is the cause known for the drop in late May/early June?
![image](https://user-images.githubusercontent.com/34246760/60774660-4b620b80-a0cc-11e9-8d9e-2d23db484890.png)

Has any investigation happened for that drop?

[2019-07-07 22:35] mkArtakMSFT commented on #11797
Thanks for the details, @darkflame0. We will hopefully get to this next week. I'm not certain that is the right thing to do, so can't comment at the moment. If you are, feel free to send us a PR, and we'll accept it, if our investigation confirms that is the right thing to do.

[2019-07-07 22:40] benaadams commented on #11778
NIC upgrade issue? https://github.com/aspnet/Benchmarks/issues/1053

[2019-07-07 22:42] davidfowl commented on #11778
Seems like Windows isn't running properly. The last run was on 7/3

Supposedly a hardware issue. Thanks @benaadams

[2019-07-07 22:44] davidfowl commented on #11778
Yup:

![image](https://user-images.githubusercontent.com/95136/60774770-15be2200-a0ce-11e9-83b9-b47086874397.png)

[2019-07-07 22:49] mkArtakMSFT commented on #11778
Thanks folks.

I'll try to follow up on the hardware issue tomorrow, after will find out who is managing it for us.

[2019-07-07 22:51] davidfowl commented on #11778
There's an email thread with @DamianEdwards and @sebastienros about the hardware issue.

The windows failures are just something else that's broken. Unrelated to any performance regression.

[2019-07-07 23:06] BenHayat opened #11945 "Blazor Server-Side Question & Discussion - # of server instants running..."
Hi guys;
Looking at the pros & cons of server-side hosting model, one area that concerns us, is that, for every user that launches our app, a new copy of our app gets instantiated along with two other class libraries for Data Access and Business Domain.

The questions are:
1) Does every instance take up the same amount of resources as the first instance?

2) Since we don't know how many people com

[2019-07-07 23:22] Vouzamo commented on #7439
Since v3 is still in preview shouldn't this be addressed for 2.x and not closed?

[2019-07-08 00:30] blowdart commented on #11943
@HaoK did the fix for this go in?

[2019-07-08 00:53] HaoK commented on #11943
Not yet Eilon didn't like the quick and dirty regen when the token contains a '+' we will need to do something slightly less hacky (probably a shared helper in the UI code that does the html/token cleanup for all the code methods

[2019-07-08 00:53] CenturionYun commented on #11915
Thanks, It solved my problem as" ASP.NET Core is console applications". I will close this thread.

[2019-07-08 00:53] #11915 closed

[2019-07-08 02:35] dnknitro commented on #10088
Any updates on the issue? Same behavior here...

[2019-07-08 02:53] NicolasDorier opened #11946 "[Feature Request] Register startup tasks via IStartupTask"
A recurring problem I get is how to run a task that need to run only once in ASP.NET Core?

This [blog post](https://andrewlock.net/running-async-tasks-on-app-startup-in-asp-net-core-part-1/) write about all the solution, and the shortcoming of each of them (@andrewlock).

He solved the problem elegantly in [the part 2](https://andrewlock.net/running-async-tasks-on-app-startup-in-asp-net-core-part

[2019-07-08 04:12] davidfowl commented on #11946
IHostedService should work for this in 3.0.

[2019-07-08 05:04] ma499 commented on #6218
Did you get a chance to try it out @ranabuelo?

Like you I’m interested in using Web Components within Blazor apps.

[2019-07-08 05:19] vaughanroberts opened #11947 "Custom event handlers in Blazor components not updating after render tree changes"
I have a PropertyChangedEventHandler attached to an object in a custom component representing a table cell that works as expected until rows in the table are added or removed.
When a row is added or removed the custom events in components following that row are not attached to the correct cells.
To be clear, the normal UI events, 'onclick' etc, work correctly. However if a field in my underlying o

[2019-07-08 05:32] NicolasDorier commented on #11946
`StartAsync()` of `IHostedService` is running after the kestrel server start servicing the requests though.

[2019-07-08 05:36] davidfowl commented on #11946
See https://github.com/aspnet/AspNetCore/issues/11437

[2019-07-08 05:46] NicolasDorier commented on #11946
Closing this then, happy to see it coming. I can't wait for 3.0.

[2019-07-08 05:46] #11946 closed

[2019-07-08 05:47] chobo2 commented on #11943
@HaoK  @blowdart

Do you guys have an eta of when this will be fixed? When it is fixed which package would I need to update?

[2019-07-08 06:38] mhamri opened #11948 "[Question] what is the rationale about not using dotnet watch in docker anymore"
in about a year ago I remember when we wanted to run an app in docker for development purpose, we run the app with the `dotnet watch run` and create a folder map from src folder to the docker folder. so in this way when we would change the content of a file in our local, the docker instance would take the changes and rebuild the app. but in recent updates, the template is creating a publish versio

[2019-07-08 08:12] dustinlacewell commented on #11609
I am having the same issue with a bare-bones `blazorserver` template.

[code]

The resulting error is,
[code]

If I add the following line as the second-to-last-line in the Dockerfile then it works:
[code]

But this seems really bad. Does my production container really need all my nuget dependency packages?

[2019-07-08 08:33] MarcelJoestingmeier commented on #11595
@Joe4evr Where did you put your call? Did you notice, that you cannot use it while prerendering? There is a way to check that, documented at https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interop?view=aspnetcore-3.0

[2019-07-08 08:41] voroninp opened #11949 "Allow relative url generation for Login redirects."
My problem is that location url for Login redirect is absolute. I had to enable and configure middleware to take `X-Forwarded-For`  and `X-Proto` headers into account. This also requires proper configuration of each proxy, otherwise chain of hosts may be broken.

[RFC7231](https://tools.ietf.org/html/rfc7231#section-7.1.2) allows locations to be relative, so it would be nice to have this option wh

[2019-07-08 09:01] SteveSandersonMS commented on #11907
Is that true even for the `CreateInferred<T>` methods? I would have thought that if a developer is writing this code manually, then they are in a position to specify the `T`.

[2019-07-08 09:02] SteveSandersonMS commented on #11907
Excellent!

[2019-07-08 09:03] SteveSandersonMS commented on #11907
Everything else here sounds great.

[2019-07-08 09:06] a6datta opened #11950 "Application (web api) shuts down without giving any reason"
Dot net core 2.2
When hosted in iis (in process/out of process), the application shuts down randomly.

I tried 'out of process' first. When application shuts down, the next http request doesn't restart the application. Restarting the website and recycling app pool manually doesn't bring up the application either.

Then I changed it to 'in-process'. Now if the application shuts down I can restart i

[2019-07-08 09:19] HaoK commented on #11943
It should be fixed in 3.0, and the fix would be in the Identity.UI package

[2019-07-08 09:26] javiercn commented on #11609
You don’t. This is a bug we are working on solving

[2019-07-08 09:27] SmartKarren opened #11951 "AspNetCore 2.1 Concurrent test"
Now we use AspNetCore 2.1 WebAPI to store image to aws s3 storage. works like
[code]
we use loadrunner test this api(300 concurrents),responses are very slow at the begin 3 minutes,then very fast.
![20190708172251](https://user-images.githubusercontent.com/17214944/60799095-0f4ea980-a1a5-11e9-9a8d-5aa5b2c5c495.png)

we deploy it based on docker
there are about 20 threads after process start, then

[2019-07-08 09:43] smartprogrammer93 opened #11952 "[Blazor] Dispose of an IDisposable Transient service"
### Describe the bug
Blazor client side does not dispose of IDisposable Transient services once you navigate away from the page that injected it.

### To Reproduce
Steps to reproduce the behavior:
1. Create a transient service that implements IDisposable and it has a timer and Dispose of the timer in the dispose method. Have timer write to console to see output.
2. Inject this service to a page a

[2019-07-08 09:52] smartprogrammer93 commented on #11952
I see this issue is being tracked in #5496

[2019-07-08 09:52] #11952 closed

[2019-07-08 09:55] smartprogrammer93 commented on #5496
So for now. do i have to dispose of every transient IDisposable Service in the dispose function of the component?

I believe this should be a high priority issue. Thank you for your hard work

[2019-07-08 10:00] enewmen opened #11953 "Blazor won't install"
Error " This extension is not installable on any currently installed products."
Microsoft.VisualStudio.BlazorExtension.16.0.19307.2.vsix
Visual Studio 2019 - 16.1.5  --    with the ASP.NET and web development workload selected.
dotnet-sdk-3.0.100-preview6-012264-win-x64

I remember this working before. No idea what to try.  Please suggest.  thanks!

The Log:
8/7/2019 5:46:48 PM - Microsoft VSIX In

[2019-07-08 10:35] LaughingJohn commented on #9643
Thanks Steve, that did the trick. I thought I'd tried that before and the event had stopped working, but it seems OK now, so probably just me!!

[2019-07-08 10:49] SteveSandersonMS commented on #11876
That's what I thought we were doing. I'm slightly surprised we do call onafterrender in static rendering.

Given that there's virtually nothing useful you can do *after* a static render has completed (the HTML output is already determined, and if you want teardown logic, use `Dispose` instead), and calling onafterrender spoils the guidance we give that says you're safe to use `IJSRuntime` at that

[2019-07-08 10:55] Joelius300 opened #11954 "Customize serialization for IJSRuntime.InvokeAsync"
### Issue
Because [`IJSRuntime.InvokeAsync` now uses `System.Text.Json` instead of `Newtonsoft.Json` (preview6+)](https://github.com/aspnet/Announcements/issues/364) the custom serialization I implemented with `Newtonsoft.Json` doesn't work anymore.
Even though it says in the issue I linked..

.. the `IJSRuntime` doesn't use `Newtonsoft.Json` if you add `Newtonsoft.Json` in the `ConfigureServices`

[2019-07-08 11:13] NikolaevaIrina opened #11955 "[Suggestion] Please consider adding different icons to different API types (property, event, method) in intellisense"
Please consider adding different icons for different API types to intellisense. For example, on the image below, Date and DateChanged are a property and an event, respectively.

![image](https://user-images.githubusercontent.com/16333844/60805907-351a8500-a18a-11e9-8dce-49354ff40750.png)

However, it's very difficult to determine their types without clicking them. It would be great if a user can d

[2019-07-08 11:15] netyam opened #11956 "There is no registered service of type 'System.Net.Http.HttpClient' [Blazor] [.Net Core 3 preview 6]"
I tried to use the HttpClient in Blazor Server Side to get the Weatherforecasts. But i got this issue.

### To Reproduce
.NET Core 3.0 SDK 3.0.100-preview6-012264

**Startup.cs**
[code]
**FetchData.razor**
[code]
**SampleDataController.cs**
[code]
**WeatherForecast.cs**
[code]
**Error when opening FetchData.razor**
[code]

### Expected behavior
Standard Weatherforecasts

[2019-07-08 11:27] javiercn commented on #11876
Sounds good to me. Implementation wise, we can simply return a cancelled task to avoid doing any onafterrender work. We can always think of static prerendering as a render that completes partially.

https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/Rendering/Renderer.cs#L501-L506

[2019-07-08 12:50] SteveSandersonMS commented on #11792
The non-JS-interop parts of this are now done, so I'm unassigning myself and leaving the JS interop bits with @javiercn.

[2019-07-08 12:53] javiercn commented on #11791
All the JS interop is done as part of https://github.com/aspnet/AspNetCore/pull/11958

[2019-07-08 12:57] #11956 closed

[2019-07-08 13:20] SteveSandersonMS commented on #11791
OK great, marking this one as done then.

[2019-07-08 13:21] javiercn commented on #11791
@SteveSandersonMS When you sign off on my PR :)

[2019-07-08 13:53] davidfowl commented on #10088
@dnknitro Can you open a new issue with your symptoms and version information?

[2019-07-08 13:55] aammfe opened #11959 "odd but real DI issue when registering singleton in optionsConfigureAction"
DI do not register singleton in optionsConfigureAction in  asp.net core 2.2

`IAuthorizationHandler` will not be registered in code below
![image](https://user-images.githubusercontent.com/11896817/60815552-580c5f80-a1b1-11e9-8cf8-054b9437bf79.png)

but it will register overhere
![image](https://user-images.githubusercontent.com/11896817/60815662-8ab65800-a1b1-11e9-9ef4-7ad2fdb37228.png)

Yes its

[2019-07-08 13:58] aherrick opened #11960 "Method for changing the binding event for Input* components"
Trying to bind to the key press so when typing two way binding kicks in.

I have my input setup as so:

`<InputText class="form-control" @bind-value="@VM.Connector.Name" @bind-value:event="oninput" />`

However I only receive feedback of the change update on blur.

[2019-07-08 14:06] Joe4evr commented on #11741
+1 for `OnAfterFirstRender` or similar.

[2019-07-08 14:09] Tvde1 commented on #11246
is there any way to do this without NewtonSoft.Json?

[2019-07-08 14:12] martincostello commented on #11246
@Tvde1 Yes, you can use the workaround stated above: https://github.com/aspnet/AspNetCore/issues/11246#issuecomment-502381495

[2019-07-08 14:24] r6h7b opened #11962 "Unable to connect the azure service from the java using AccessToken and get response "Unexpected status code returned from negotiate: 404 Not Found." from the"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.

### To Repro

[2019-07-08 14:28] mkArtakMSFT commented on #11935
Thanks for contacting us, @kugarliyifan.
@pranavkm can you please confirm this is caused by https://github.com/dotnet/sdk/issues/1212, which is blocked on NuGet?

[2019-07-08 14:30] FluentGuru commented on #11185
@DustinCampbell you must add this part too if you are using static files found inside your blazor project folder
[code]

[2019-07-08 14:31] TehWardy opened #11963 "Understanding metadata in aspnet core"
I'm in the process of converting a solution over from .Net 4.6 and i'm looking at metadata.
In the old solution I had a custom implementation of the data annotations metadata provider which I had extended like this ....

[code]

... the key thing here is that I pull the base copy of the model meta for the given type and then manipulate it in my own custom ways (some of which is shown in the sample

[2019-07-08 14:36] davidfowl commented on #11951
I can't tell you why without looking at a profile, but that's something you should definitely do. Are you CPU bound or IO bound? On easy thing you can try is to make reading the body fully asynchronous:

[code]

How big is the body usually (number of bytes)?

[2019-07-08 14:37] mkArtakMSFT commented on #11963
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-07-08 14:38] mkArtakMSFT commented on #11963
/cc @pranavkm in case you have any answers

[2019-07-08 14:39] TehWardy commented on #11963
Sounds good, i'll repost to SO and link this, hopefully whoever answers over there might answer here too.

[2019-07-08 14:40] mkArtakMSFT commented on #11962
Thanks for contacting us, @r6h7b.
Please provide more details about your scenario and how you try to do it. Also, a repro project with the behavior you think is broken would help with investigation.

[2019-07-08 14:43] TehWardy commented on #11963
Link back to help keep everything in sync ...

https://stackoverflow.com/questions/56937393/understanding-metadata-in-aspnet-core

[2019-07-08 14:49] mkArtakMSFT commented on #11950
Thanks for contacting us, @a6datta.
This can happen if your app doesn't get traffic for some period of time. There should be a setting on the AppPool for your app in IIS controlling the period of time after the last request to keep the app alive.

[2019-07-08 14:51] rynowak commented on #11907
The `CreateInferred` methods are little bit of the odd one out because they are really just used by the compiler. It's true that a user probably could write `T` if they wanted to, but at that point use one of the other methods.

[2019-07-08 14:53] SteveSandersonMS commented on #11907
Are they good candidates to move to `CompilerServices` then?

[2019-07-08 14:54] javiercn opened #11964 "[Blazor server-side] Limit the amount of queued pending renders"
If we don't memory will keep growing indefinitely.

[2019-07-08 14:55] mkArtakMSFT commented on #11950
@Tratcher I said this, but just thought whether this is correct or not for ASP.NET Core apps, hosted under IIS. Do the same AppPool rules apply to these?

[2019-07-08 14:55] javiercn opened #11965 "[Blazor] Add a timeout for idle circuits"
When a circuit hasn't sent an event in a given period of time, close the circuit.

[2019-07-08 15:01] a6datta commented on #11950
@mkArtakMSFT the idle timeout is set to zero in iis. Even if it wasn't and the site shuts down, shouldn't it start again whenever the next request comes in. That's iis default behaviour.

[2019-07-08 15:02] javiercn opened #11966 "[Blazor] Guidance on limiting circuits per user"
We don't have any mechanism that out of the box limits the number of circuits a user/ip can create, but this is achievable through current extensibility.

We should provide a sample that showcases this.

This can be achieved by keeping track of the endpoints that create circuits (for example through a handler on OnCircuitOpened) and capturing information (like the user principal or the client ip a

[2019-07-08 15:03] joetherod commented on #11800
I was able to get the Watch method to work in the IFIleInfo class.
I needed this set:

options.AllowRecompilingViewsOnFileChange = true;

[2019-07-08 15:03] #11800 closed

[2019-07-08 15:25] anurse commented on #10088
@dnknitro If you're seeing the same issue, please let us know on the VS Feedback item that was linked above: https://developercommunity.visualstudio.com/content/problem/546858/bin-files-locked-by-iis-worker-process-1.html

This is an issue in VS, and the VS team is investigating it in that issue.

[2019-07-08 15:32] dnknitro commented on #10088
I have just posted my Output window Build log to that VS Feedback item.

[2019-07-08 15:37] mkArtakMSFT commented on #11950
Yes, it should:

I'm out of ideas here. Not sure what can cause this behavior. Given the nature of this question (it's not really directly indicating an issue in ASP.NET Core) I would recommend trying to post a question in StackOverflow, as you may get a faster response there.

[2019-07-08 15:41] roboriaan commented on #11941
Thanks @Andrzej-W. #9285 did the trick. Removing `<TargetFramework>netcoreapp3.0</TargetFramework>` from the .pubxml is a good workaround for my issue. 😁 🤘

[2019-07-08 15:41] #11941 closed

[2019-07-08 16:22] BrennanConroy commented on #11900
I can't reproduce this behavior locally.

Do you have a minimal repro we can try out?

[2019-07-08 16:25] mkArtakMSFT commented on #11960
Thanks for contacting us, @aherrick.
We're going to make sure the compiler errors out in this situation, as this is not supported.

[2019-07-08 16:27] mkArtakMSFT commented on #11955
Thanks for contacting us, @NikolaevaIrina.
This is not an area we control.
@ToddGrun here is a feedback for you to consider.

[2019-07-08 16:29] BrennanConroy commented on #11920
@ugookoro What kind of trace is that? I can't open it in Wireshark.

[2019-07-08 16:30] chobo2 commented on #11943
@HaoK

Ok so I will have update to core 3.0? Can you give an eta like will this be a month sort of thing or a week?

[2019-07-08 16:33] mkArtakMSFT commented on #11954
Thanks for contacting us, @Joelius300.
We don't plan to add extensibility to the IJSRuntime serialization, so that a custom serializer can be plugged in. If you feel there is a feature gap in the existing JSON serializer, feel free to file a feature ask in the `dotnet/corefx` repo.

[2019-07-08 16:34] mkArtakMSFT commented on #11953
Thanks for contacting us, @enewmen.
The Blazor VSIX requires VS 16.2 preview version as minimum. Please make sure you install the latest preview release of VS to make it work.

[2019-07-08 16:34] #11953 closed

[2019-07-08 16:37] mkArtakMSFT commented on #11947
Thanks for contacting us, @vaughanroberts.
You need to call `StateHasChanged()` from the current handler, so it notifies the runtime to re-render.

[2019-07-08 16:38] mkArtakMSFT commented on #11945
Thanks for contacting us, @BenHayat.
We plan to resolve/provide answers to these questions as part of #10472 work.

[2019-07-08 16:38] #11945 closed

[2019-07-08 16:39] mkArtakMSFT commented on #11937
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-07-08 16:44] mkArtakMSFT commented on #11787
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-08 16:44] #11787 closed

[2019-07-08 16:49] mkArtakMSFT commented on #11944
Thanks for contacting us, @jeremycook.
`TryValidateModel` in ASP.NET Core already does deep validation through the `ObjectValidator`: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/ControllerBase.cs#L2693

[2019-07-08 16:52] mkArtakMSFT commented on #11923
Thanks for contacting us, @Bartmax.
We'll be happily consider a PR for this.

[2019-07-08 16:54] mkArtakMSFT commented on #11921
Thanks for contacting us, @TheMightyMat.
We'll investigate this and get back to you as soon as we can. This may take some time, though.

[2019-07-08 16:56] mkArtakMSFT commented on #11912
Thanks for contacting us, @brcaswell.
This is not something we have control over. Please use VS Feedback tool from VS to report this.

[2019-07-08 16:56] #11912 closed

[2019-07-08 16:57] rynowak commented on #11929
@matthensleyio - I can't reproduce this on dotnet `3.0.100-preview6-012264`

Can you share the generated code from inside `obj\Debug\netcoreapp3.0\Razor`

[2019-07-08 17:01] mkArtakMSFT commented on #11868
Thanks for contacting us, @bzd3y.
This is now fixed and will roll out as part of Preview 7 release.
Dupe of https://github.com/aspnet/AspNetCore/issues/8645

[2019-07-08 17:02] mkArtakMSFT commented on #11739
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-07-08 17:02] #11739 closed

[2019-07-08 17:05] JunTaoLuo opened #11970 "Fail on startup for Http/2 HTTPS on Windows 7"
Following up on https://github.com/aspnet/AspNetCore/issues/11061. We should also fail fast on Windows 7 where there is no ALPN support.

As a further consideration, is the platform the only way to determine ALPN support. How would this work on Linux?

[2019-07-08 17:06] JunTaoLuo commented on #11970
cc @shirhatti

[2019-07-08 17:07] mkArtakMSFT commented on #5272
Thanks for contacting us, @k-vekos.
@ryanbrandenburg can you please look into this? Thanks!

[2019-07-08 17:12] anurse commented on #11920
I was actually able to open the trace, but I don't see any packets for **responses** from the server, only the requests to the server:

![image](https://user-images.githubusercontent.com/7574/60828977-b103d580-a168-11e9-9237-0b2a4a5da6e5.png)

I do see a valid JWT token being sent in the request. Can you provide the server-side logs from the staging server during that request? The doc I linked abo

[2019-07-08 17:13] mkArtakMSFT commented on #5271
Thanks for contacting us, @mbeckenbach.
We are not doing anything explicit to support SSR.
We've decided to rely on the underlying CLI for SSR support. Please see https://angular.io/guide/universal for details on how to do that.

[2019-07-08 17:13] #5271 closed

[2019-07-08 17:14] mkArtakMSFT commented on #5270
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-07-08 17:14] #5270 closed

[2019-07-08 17:15] anurse commented on #11970
We'll talk about this in triage, rather than assigning it to me :).

[2019-07-08 17:15] mkArtakMSFT commented on #5269
Hi. It's been a while this bug has been open. If you haven't resolved it yet and still need help with it, please reopen.

[2019-07-08 17:15] #5269 closed

[2019-07-08 17:16] mkArtakMSFT commented on #5268
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-07-08 17:16] #5268 closed

[2019-07-08 17:17] mkArtakMSFT commented on #5267
It's not clear what is the question here.

[2019-07-08 17:17] #5267 closed

[2019-07-08 17:18] bzd3y commented on #11868
Okay, thanks @mkArtakMSFT . I tried looking for existing issues, but didn't find any. In looking at the conversation and code related to that issue, I'm not sure it is a duplicate. Or, at least, I'm not sure that the fix would also fix the problem I was encountering. It looks like underscores are being hard coded to some internal variable names so that users can use those same names for parameters

[2019-07-08 17:19] mkArtakMSFT commented on #5131
Thanks for contacting us, @atljoseph.
Closing as this should be resolved at this point.

[2019-07-08 17:20] #5131 closed

[2019-07-08 17:21] mkArtakMSFT commented on #4579
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-08 17:21] #4579 closed

[2019-07-08 17:21] ugookoro commented on #11920
@BrennanConroy  it's from Microsoft Network Monitor.

@anurse I did a little more investigating and added this to my JWTBearer option Events
[code]
and got this error `Audience validation failed. Audiences: 'https://xxx.xxxxx/'. Did not match: validationParameters.ValidAudience: 'https://xxx.uat.xxx.africa/' or validationParameters.ValidAudiences: 'null'.  `

I don't know why it didn't give this e

[2019-07-08 17:24] mkArtakMSFT commented on #4545
Thanks for contacting us. Please follow the guidance provided in @KevM's response.

Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-08 17:24] #4545 closed

[2019-07-08 17:25] anurse commented on #11920
@ugookoro Glad you found the issue! It does seem weird that the message wasn't logged anywhere else.

@Tratcher @HaoK @blowdart Should we be logging these authentication failure messages by default? Or do we, but at an off-by-default level?

[2019-07-08 17:26] mkArtakMSFT commented on #4543
Closing as it seems you were able to resolve this.

[2019-07-08 17:26] #4543 closed

[2019-07-08 17:27] mkArtakMSFT commented on #4504
Thanks for contacting us, @daniel-white
We would happily consider a PR for this.

[2019-07-08 17:27] NTaylorMullen commented on #7663
Good question. I'd imagine this would sit on the `InputTagHelper` or the `SelectTagHelper` given its intended functionality. @danroth27 any opinion?

[2019-07-08 17:30] mkArtakMSFT commented on #4439
This is not something we plan to provide support for. We rely on attributes to produce the expected responses.

[2019-07-08 17:30] #4439 closed

[2019-07-08 17:32] mkArtakMSFT commented on #4355
Thanks for contacting us, @AlbertoPa.
This is fixed already.

[2019-07-08 17:32] #4355 closed

[2019-07-08 17:34] mkArtakMSFT commented on #4330
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-07-08 17:35] mkArtakMSFT commented on #4283
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-07-08 17:35] #4283 closed

[2019-07-08 17:47] endeffects commented on #11937
I have provided a sample here: https://1drv.ms/u/s!AvfU-VGBgXuLg-o4LRpQynSJvInKcA?e=Pb00ls
There is an API Project with the moved Controller. By loading the FetchData Page you'll see that the controller was not found. By removing the external controler and activating the original one on the server project you'll see that the FetchData Page is working.

[2019-07-08 17:58] #10935 closed

[2019-07-08 18:05] anurse commented on #11885
The error you're getting definition seems to be related to the fact that `dotnet <app>.dll` is failing on your server machine. Is this true of any .NET Core application? If you take a simple console app and publish it does it fail similarly when you run it on the command line? And the same app runs fine on your local machine?

This is the key error. It means that ANCM started the `dotnet` process

[2019-07-08 18:07] JunTaoLuo commented on #3752
There are still a few concerns that may need to be addressed but the bulk of the work for source build support is done in #11717. I will also follow up with the source build team to integrate AspNetCore into their build.

[2019-07-08 18:18] alexvy86 opened #11972 "[question] Is it possible to add AzureAD *and* AzureAD B2C authentication to the same web app?"
I've been struggling with this scenario for a bit and I'm starting to believe it might not be supported (at least in 2.2?), so I wanted to see if anyone can confirm that or point me on the right direction.

What I want to achieve is to allow different tenants in my multi-tenant application, to use different authentication providers (AzureAD for one, AzureAD B2C for another).

I'm registering separ

[2019-07-08 18:18] lonix1 commented on #5271
I don't get it? SSR as far as I understand is supported... it's run in an in-process node instance. So surely there should be docs for that?

[2019-07-08 18:18] blowdart commented on #11920
You should log by default, but probably with less detail, just a "JWT Validation Failed" and maybe details on the super verbose logging level we tell folks can contain PII

[2019-07-08 18:29] anurse commented on #11920
Ok. Since it's the JWT Bearer middleware that should do that, I'm going to file a new issue for it.

[2019-07-08 18:33] anurse opened #11973 "Log authentication failures in JWT Bearer handler"
See https://github.com/aspnet/AspNetCore/issues/11920 for some background.

We should log the authentication failures that occur when processing a JWT token in the JWT bearer handler.

Per @blowdart suggestion: We should log a generic message, with perhaps information on how to get more detailed information (since the token may contain PII).

Perhaps something like (wordsmithing needed)

[code]

O

[2019-07-08 18:33] VictorioBerra commented on #4439
This deeply saddens me.

[2019-07-08 18:34] anurse commented on #11920
Closing in lieu of #11973.

Thanks for the report @ugookoro !

[2019-07-08 18:34] #11920 closed

[2019-07-08 18:45] blowdart commented on #11972
@jmprieur is this doable?

[2019-07-08 18:48] blowdart commented on #11949
We switched to absolute to avoid some security issues when people misconfigured host validation to listen to *, so I'm afraid we won't switch it back again.

[2019-07-08 18:48] #11949 closed

[2019-07-08 18:50] jmprieur commented on #11972
@blowdart : I don't think it is. I need to try out

[2019-07-08 18:56] codemonkeh-dave opened #11975 "Server Side Blazor: CSS Animations Elements Run Twice"
### Describe the bug
When you add css animations (such as animation.css) that start on display, they appear to run twice. This issue does not appear locally but does when hosted on a web server.

### To Reproduce
Steps to reproduce the behavior:
1. Create a new `server side Blazor Website`
2. Add a reference to `animat.css` in the `_Host.cshtml` file
[code]
3. Add an animation to a div
[code]
4. U

[2019-07-08 19:03] javiercn commented on #11972
I think this is a known issue in 2.2. We fixed it in 3.0

[2019-07-08 19:03] javiercn commented on #11972
The workaround is to do the options configuration yourself

[2019-07-08 19:20] johncrim commented on #11884
Sure - I provided a more detailed analysis of the issues in https://github.com/microsoft/service-fabric-aspnetcore/issues/48#issuecomment-509346009  - but here's the crux of the problem as it relates to ASP.NET Core code. Sorry if my initial request wasn't clear enough:

Looking at [GenericHostWebHostBuilderExtensions](https://github.com/aspnet/AspNetCore/blob/e31813b9cd47968f4ec7348dc363d6276b98c

[2019-07-08 20:14] rxelizondo opened #11977 "[Blazor ASP.NET Core Hosted] Is there or are there plans to support easy access to query string values from routes?"
Hello,

It appears there has been some discussions about this before, but I wasn't able to find any concrete answers to the topic.

Essentially, I think it would be really nice if Blazor client side supported routes with query string values. For example:

`@page "/whateverpage?{xyz}"`

Where the url to match this page wold look something like:

`/whateverpage?xyz=abc`

I think this would be pretty

[2019-07-08 20:18] hishamco commented on #4504
@mkArtakMSFT we already fixed this here https://github.com/aspnet/Extensions/blob/master/src/Localization/Localization/src/Internal/ResourceManagerStringLocalizerLoggerExtensions.cs

[2019-07-08 20:22] voroninp commented on #11949
@blowdart why not to have an option for either-or? Documented with remark about possible security issues?

[2019-07-08 20:31] mkArtakMSFT commented on #11778
@davidfowl so are you saying there is nothing to follow up on here and all the partners involved are aware of these and what needs to happen is happening?

[2019-07-08 20:44] blowdart commented on #11949
Generally we don't do this for security issues because people simply don't read the docs and we'd rather everyone was as safe as possible.

[2019-07-08 20:45] jo-asakura commented on #11885
@anurse Yep, any other app runs just fine using `dotnet <app>.dll` or IIS setup on the same machine. It's definitely something up with that specific app and I couldn't figure it out.

That's good to know that `dotnet` process gets kicked off but doesn't get any response in 2 minutes and fails after that. My next step is to disable various parts of `Startup.cs` to make sure that nothing silently fa

[2019-07-08 20:48] rynowak commented on #11907
Yes, I think these could also be moved.

[2019-07-08 20:48] mkArtakMSFT commented on #4504
Cool, thanks @hishamco!

[2019-07-08 20:50] voroninp commented on #11949
@blowdart  But you do allow to set `ForwardLimit` to `null` ,when `KnownHosts` is NOT set. No warnings, no exceptions ;-)

[2019-07-08 20:52] serpent5 opened #11978 "AuthenticationSchemeOptions.ForwardSignOut comment example is incorrect"
The summary comment for `AuthenticationSchemeOptions.ForwardSignOut` states:

It should be `SignOutAsync` instead of `SignInAsync`.

This error is also present in the docs, which I've rasied an issue for at https://github.com/aspnet/AspNetCore.Docs/issues/13198.

[2019-07-08 20:53] blowdart commented on #11949
Huh. If you want to open an issue I'll have that addressed :D

[2019-07-08 20:54] blowdart commented on #11978
Would you like to open a PR for this?

[2019-07-08 20:55] serpent5 commented on #11978
Sure - I'm just doing a PR for the docs issue so I'll do this straight after. Starting small... :smiley:

[2019-07-08 21:03] mkArtakMSFT commented on #11631
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-07-08 21:03] #11631 closed

[2019-07-08 21:09] voroninp opened #11980 "Require setting of KnownNetworks or/and KnownProxies when ForwardLimit is set to null."
Documentation for `ForwardedHeadersOptions.ForwardLimit Property` currently [contains](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.forwardedheadersoptions.forwardlimit?view=aspnetcore-2.2) these commens:

I [asked](https://github.com/aspnet/AspNetCore.Docs/issues/13116) for more detailed description of the security issues. However, I got the reply to my request #11949

[2019-07-08 21:09] voroninp commented on #11949
@blowdart  Done =P

[2019-07-08 21:09] alexvy86 commented on #11972
@javiercn I thought about that but couldn't figure out a couple of things. First off I imagine I'd register a single implementation of `IConfigureNamedOptions<OpenIdConnectOptions>` before I call either of the auth providers, to ensure that my singleton is the one registered. Now, in order to know "who" am I building the options for (AzureAD or AzureADB2C), I'd need to check the scheme that was re

[2019-07-08 21:10] SteveSandersonMS opened #11981 "Update server-side Blazor template LogOut endpoint to require POST"
We shouldn't use GET because it's not idempotent.

Additionally, POST means that same-site cookies won't be included in the request if sent from another origin.

[2019-07-08 21:16] ryanbrandenburg opened #11982 "Angular WeatherForecast date field empty"
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/943569

[2019-07-08 21:22] blowdart commented on #11980
@Tratcher thoughts?

[2019-07-08 21:24] blowdart commented on #11978
@HaoK can you look at the PR when it pops up and merge as appropriate? :)

[2019-07-08 21:25] enewmen commented on #11953
Thanks for the post!  I'm sure I installed the latest version - using the installer.  Next I'll make sure it's v16.2

[2019-07-08 21:38] msft-mw opened #11985 "Restricting controller ports in Kestrel"
I'm investigating Kestrel and asp .net core, coming from a legacy stack, and I'm curious if something is possible.

I want my controllers to listen on `https:443`, and my health checks on `http:80` and`http:8080`. I know how to configure Kestrel to listen on all three ports, but what I don't know is how to restrict my controllers to only listen on `443`.

Some details:

- Kestrel, on the edge with

[2019-07-08 21:47] ryanbrandenburg commented on #7536
What's the status on this? The issue you filed hasn't gone anywhere, so I assume it's blocked?

[2019-07-08 22:26] jo-asakura commented on #11885
@anurse This is the output from `dotnet --info`:
[code]

[2019-07-08 22:45] ryanbrandenburg commented on #11922
@mkArtakMSFT we might want to get the opinions of a PM, but I'm fairly certain this is known and expected. As I recall we recommend node 8 for 2.1 and 2.2, so problems encountered on 10 aren't something we'll react to. The recommendation if this causes you trouble is to either downgrade node or do as @iantoalms suggests and update the offending packages.

[2019-07-08 23:06] danroth27 commented on #7536
The VS issue is no longer relevant. We can now surface UI for template options ourselves through template authoring like we are doing for the "hosted" option for the Blazor WebAssembly App template. So there should be nothing blocked here.

[2019-07-08 23:10] NTaylorMullen opened #11986 "Razor runtime compilation - Add support for C# warning waves"
Razor runtime compilation attempts to take all impactful C# settings and re-use them when compiling cshtml/razor files at runtime. A new feature that's being worked on that we'll need to react to is warning waves. We will need to lift this setting for Razor runtime compilation:

https://github.com/dotnet/roslyn/issues/1580

[2019-07-08 23:20] JamesNK commented on #11820
@JunTaoLuo will look at the gRPC template name.

[2019-07-08 23:25] alefranz commented on #11005
I think this is fixed by #11526 .
Probably I got something wrong in the PR description and it didn't get automatically closed.

[2019-07-08 23:48] JunTaoLuo commented on #11054
FYI, some repos won't be able to convert due to: https://github.com/dotnet/arcade/issues/3244.

[2019-07-09 00:08] phinett commented on #11876
I have managed to create a small repo of the issue (took some time to narrow down the issue!)

If i have any call on OnInitAsync which does any async/await work, it causes the OnPreRenderAsync function to be called twice for some unknown reason.

[BlazorRepo.zip](https://github.com/aspnet/AspNetCore/files/3370626/BlazorRepo.zip)

Hope this helps.

[2019-07-09 00:32] rynowak commented on #11005
Yup! Thanks again!

[2019-07-09 00:32] #11005 closed

[2019-07-09 00:35] jeremycook commented on #11944
@mkArtakMSFT thank you but my experience does not match your statement when it comes to collections. I've tried using Controller.TryValidateModel(model, prefix), and fetched an IObjectModelValidator service and used that directly in the JsonModelBinder I mention in my StackOverflow question. In both cases the top-most properties are validated, but properties of items in collections are not validat

[2019-07-09 03:02] rynowak commented on #11907
1st part of this has been merged, reopening because there's still a little more cleanup to do here.

[2019-07-09 03:06] wu-yafeng opened #11989 "Select best cnd location in tools.ps1"
When I run **restore.cmd**,the processor will install .NET Core SDK from server: [https://dotnetcli.azureedge.net](https://dotnetcli.azureedge.net)

but it's not a best location for china,it seems use https://download.visualstudio.microsoft.com/download/pr/4e73514f-0646-4600-bdc2-38c90fc207b6/22ad70cbe1a254177e6d7b7f7e7425f8/dotnet-sdk-3.0.100-preview6-012264-win-x64.zip is better? Maybe other cdn

[2019-07-09 03:13] geffzhang commented on #11676
Maybe it's about it.  https://github.com/dotnet/coreclr/issues/18044

[2019-07-09 03:49] vaughanroberts commented on #11947
Thanks @mkArtakMSFT  for the follow up, it's my first issue submission and it looks like it could of been a bit clearer. :)

I had tried `StateHasChanged()` in a number of places without success, but had removed them from my code sample to try and make it as simple as possible. I've attached an updated sample with comments for further explanation and clearer logging.

[EventTest-2.zip](https://git

[2019-07-09 04:00] rynowak commented on #8653
Fixed by: #11969

[2019-07-09 04:36] mkArtakMSFT commented on #11868
Thanks @bzd3y.
Sorry, seems like I've overlooked this.
So is the issue you're emphasizing here a situation, where you would use a C# reserved word and that would caused unclear errors down the road?

[2019-07-09 05:22] mkArtakMSFT commented on #11922
Isn't this waht we use in 2.2, or am I looking at something different?

https://github.com/aspnet/AspNetCore/blob/2c9e5c9356d641cba280718cb7a21489ddc31954/src/Middleware/SpaServices/src/package-lock.json#L8

[2019-07-09 05:23] #8653 closed

[2019-07-09 05:23] stefanbemelmans commented on #11887
Hello, I am the fellow developer, I hope to provide some context.  [this](https://github.com/stefanbemelmans/LinkerBugDemo) is a reproduction of the issue in a fresh blazor-hosted app (preview 6). After adding the Nethereum package only, building results in this [error](https://github.com/stefanbemelmans/LinkerBugDemo/blob/master/linkerBug.png)

My work around has been to create the project in a d

[2019-07-09 05:37] dingsongjie opened #11993 "How to set ServerGarbageCollection by environment variables"
How to set  ServerGarbageCollection by environment variables , Or Set ServerGarbageCollection in Runtime

[2019-07-09 05:43] mkArtakMSFT commented on #11947
Thanks for the details, @vaughanroberts.
Seems like the `@key` keyword is designed to solve this very issue you're facing: https://github.com/aspnet/AspNetCore/issues/8232

Having said that, we'll review this with the team one more time to see whether there is something else going on here. In the meantime, please look into the referenced feature and see whether that would help.

[2019-07-09 05:50] mkArtakMSFT commented on #11944
@jeremycook thanks for the info. Please provide a minimalistic repro project, so we can investigate this easily.

[2019-07-09 05:54] manuelsidler opened #11994 "Custom validation attribute not firing when value is null (Razor Pages)"
When you create a custom validation attribute and use it on a binded property directly on a Razor page, it won't get fired when the value of the property is null. On the other hand, when you use it on a property inside a class, the attribute will be triggered with a null value.

Steps to reproduce the behavior:
1. Use ASP.NET Core Version 2.2.300

2. Create a web project
`dotnet new webapp`

3. Cr

[2019-07-09 06:01] davidfowl commented on #11993
It's set by default in ASP.NET Core projects. Are you trying to turn it off?

[2019-07-09 06:14] dingsongjie commented on #11993
Yes ,In some test environments ,I want to turn it off

[2019-07-09 06:16] davidfowl commented on #11993
cc @jkotas @maoni0

[2019-07-09 06:44] mashahbazi opened #11995 "ConnectionState.getNextInvocationId() Null pointer exception"
After I figured the error #6898 and as said it's error fixed in 3.0.0-preview3. but now is start to send NullPointerException on invoke
Attempt to invoke virtual method 'java.lang.String com.microsoft.signalr.HubConnection$ConnectionState.getNextInvocationId()' on a null object reference
I check hubConnectionState to be HubConnectionState.CONNECTED before calling method invoke.

[2019-07-09 06:58] pantonis opened #11996 "Asp.Net Core windows service template"
### Is your feature request related to a problem? Please describe.
I have recently found this link
https://github.com/aspnet/AspNetCore.Docs/blob/master/aspnetcore/host-and-deploy/windows-service.md. Every time I want to create a new windows service based on .net core I have to repeat the steps

### Describe the solution you'd like
A clear and concise description of what you want to happen. Includ

[2019-07-09 07:03] vaughanroberts commented on #11947
Thanks @mkArtakMSFT, this looks like exactly what I needed, apologies for overlooking it.
I've tested it with my sample code and the much more complicated scenario I'm working with, with great results.

For other reader's benefit, I also had to implement `IDisposable` to remove any `PropertyChanged` events with `DataSource.PropertyChanged -= onPropertyChanged;`  from existing components that are r

[2019-07-09 07:03] #11947 closed

[2019-07-09 07:10] kmkrish007 commented on #11918
Hi @mkArtakMSFT ,

I have updated my project <TargetFramework>netstandard2.1</TargetFramework>
and i just want to install this nuget package on my project
![image](https://user-images.githubusercontent.com/43262413/60866613-6b1d3f00-a246-11e9-9ed4-ea5517ccc61a.png)

I have used my controllers page "FileStreamResult" so, I need this nuget package.

Thanks.

[2019-07-09 07:40] r6h7b commented on #11962
String url = "https://abc.service.signalr.net/client/?hub=chat";
        HubConnection hubConnection = HubConnectionBuilder.create(url)
                .withAccessTokenProvider(Single.defer(()->{
                    return Single.just("qwertyuiop/qwertyuiop");
                })).build();

        hubConnection.start().blockingAwait();

        hubConnection.on("Send", (message)->{
        },Strin

[2019-07-09 07:41] #11962 closed

[2019-07-09 07:58] ibruynin opened #11997 "DotNet core 3.0 has crazy requestheader sizes due to .AspNetCore.Cookie"
### Describe the bug
We have a custom ASP.NET core 3.0 application with Azure AD authentication.
When I log into that application with my company AD account, the request header size goes over 32Kb (32.918 KB) due to the inclusion of
* .AspNetCore.Cookies: chunks-9
* .AspNetCore.CookiesC1
* ...
* .AspNetCore.CookiesC9

This causes AAG to fail with a bad request response:
[code]
and that value is no

[2019-07-09 08:45] a6datta commented on #11950
I think I figured out the issue. IIS doesn't not restart the site if it's in development mode. I changed the hosting environment in web.config. It seems to be working now.

[2019-07-09 09:17] GibbOne opened #11998 "Model binding of MVC doesn't work with c# fields."
By using `FromForm` attribute, I am trying to bind a DTO like this.

[code]
But I can't because it owns c# fields and not properties.

It could be useful to allow binding also for fields.

[2019-07-09 09:33] gfoidl commented on #11993
See https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/clr-configuration-knobs.md

So `COMPlus_gcServer=0`.

For completeness:

[code]

or in `*.runtimeconfig.json`:
[code]

[2019-07-09 11:22] SteveSandersonMS opened #11999 "Reconnection will almost never work"
This comes out of https://github.com/aspnet/AspNetCore/issues/11793 where I'm trying to pin down what will make people actually successful at handling connection instability and migration of state across servers.

We've invested a lot in making server-side Blazor circuits theoretically capable of reconnecting and continuing after a transient connection loss, but **with the current implementation,

[2019-07-09 11:39] javiercn commented on #11876
@phinett Your repro doesn't repro, but I have an idea why you are seeing it called twice. When the browser (specially chrome) autocompletes, starts requesting the page before you even "commit" to the page so sometimes it ends up with two requests for the index page, resulting in two after render calls.

[2019-07-09 12:21] blowdart commented on #11997
How many roles/groups is your user in? It sounds like you've configured the AAD application to send them all.

[2019-07-09 12:37] SteveSandersonMS commented on #11793
We'll definitely not be proposing a way to persist the UI itself, since in general it's not serializable, and there's no general way to recover the entire spectrum of state (arbitrary referenced values in .NET memory, arbitrary state in the JavaScript runtime e.g., following JS interop calls).

What we will offer is guidance on managing the application workflow state separately from the UI. I thin

[2019-07-09 12:47] bzd3y commented on #11868
You're welcome and no problem. Thanks for looking into it. They are essentially the same problem, but I think the causes are slightly different. And yes, that describes it pretty well, although the unclear errors might be secondary. To me, it would be more important to just be able to use the C# keyword and have no errors.

For example, I'm working on an app with a case management component and I

[2019-07-09 13:00] aherrick opened #12000 "Blazor ValidationMessage Failing"
I have a setup like below:

[code]

With `ValidationMessage` I'm getting the following error:

`ArgumentException: The provided expression contains a MethodCallExpression2 which is not supported. FieldIdentifier only supports simple member accessors (fields, properties) of an object.
`

How can I support displaying the error message for the given element in the array?

[2019-07-09 13:02] ibruynin commented on #11997
I'm a member of 154 groups - so it appears
Is there a way to limit the number of groups you want in the app then?
It would make a lot of sense, but I haven't found that somewhere

[2019-07-09 13:13] r6h7b opened #12001 "Unexpected status code returned from negotiate: 401 Unauthorized."
String url = "https://example.service.signalr.net/client/?hub=myHub";
            HubConnection hubConnection = HubConnectionBuilder.create(url)
                    .withAccessTokenProvider(Single.defer(() -> {
                        return Single.just("5WZFiYkGOAtqj/asdassdasddfg123dsfv1egrBcAc=");
                    })).build();

            hubConnection.start().blockingAwait();

[2019-07-09 13:31] blowdart commented on #11997
I'm not an AAD person, but there's a manifest for each app registration and that has a `groupMembershipClaims` settings which can be used to limit.

https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest has details

[2019-07-09 13:37] daniel-white commented on #4504
@hishamco that commit isn't related. @mkArtakMSFT can we please reopen?

[2019-07-09 14:02] dingsongjie commented on #11993
thank you for help!!

[2019-07-09 14:03] #11993 closed

[2019-07-09 14:18] los93sol commented on #11997
@ibruynin I've run into similar with cookies auth against local AD when users are in a ton of groups.  I leverage the TicketStore to get around the issue.  This also gives you an easy scaleout advantage too since you can either just use a local memory cache based implementation, hook it to a db, or even to Redis.  When you use the TicketStore the data is kept server side and just an id goes back t

[2019-07-09 14:20] javiercn opened #12003 "Decide if server-side Blazor needs limits on how many events can be delivered and the max size for events"

[2019-07-09 14:22] marlon-tucker opened #12004 "Add the ability to configure timeout for UseAngularCliServer"
### Is your feature request related to a problem? Please describe.
We have a complex Angular application, which unfortunately goes over the 50 second timeout period, causing an exception to be thrown:

[code]
I had a quick look over the Javascript Services code in github but couldn't find where that 50 second timeout was being defined.

Luckily once the `ng serve` command does complete, we can ref

[2019-07-09 14:25] SHAGGAR commented on #11793
Thanks for the clarification.  I wasn't sure on if the state was serializable and I hadn't even considered javascript interop, so this all sounds good.

[2019-07-09 14:26] Icidis opened #12005 "asp-page-handler (formaction) missing from button (Razor Pages)"
### Describe the bug
FormAction missing when optional route-values are not provided when using ASP.NET Core Razor Pages.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2
2. Create a page as shown below

[code]

3. Add the 2 post methods to the PageModel

[code]

4. Navigate to page with populate **schoolId** value and inspect both buttons on page. Notice

[2019-07-09 15:09] anurse commented on #11996
We're adding a worker service template in .NET Core 3.0 which will include smoother Windows Service integration. The bulk of that document is about registering the app as a Windows Service which isn't something we can fix in a template. The other content is simply describing the deployment and configuration options.

What content would you want to see in the template? We do have an issue tracking

[2019-07-09 15:09] anurse commented on #11995
cc @mikaelm12

[2019-07-09 15:16] anurse commented on #11989
`dotnetcli.azureedge.net` does generally select the appropriate CDN server by location. It's possible that doesn't include china though. Is it just that the download is slow or does it not complete?

We can't reliably download from the download center link because we sometimes use unreleased SDKs which aren't available from `download.visualstudio.microsoft.com`.

[2019-07-09 15:24] anurse commented on #11980
Throwing an exception here would be a breaking change. We could consider squeezing that in to preview 8. Given the security aspect here I'm not opposed to the idea (but would like to hear @Tratcher 's thoughts).

The only case I can see where unlimiting `ForwardLimit` while also not restricting `KnownProxies` and `KnownNetworks` would be if my app is running on an entirely trusted closed network.

[2019-07-09 15:33] ibruynin commented on #11997
I've configured this already to "groupMembershipClaims": "SecurityGroup"
But that does not really help, since the security groups are the issue.

Is it a strange idea to configure the groups you're interested in - and only those - in the application?
The cookies then would only contain the necessary information...

[2019-07-09 15:39] OutOfTouch commented on #9901
I am using 3.0.100-preview6-012264 and I am getting this error with the default unchanged Blazor server-side template with no changes.
blazor.server.js:15 [2019-07-09T14:51:12.887Z] Error: System.InvalidOperationException: Received a notification for a rendered batch when not expecting it.

[2019-07-09 15:44] phinett commented on #11876
It definetly is called twice for me, this is on initial page load from when i start debugging. I have tried on MS Edge as well and it reproduces every time.

[2019-07-09 15:44] BrennanConroy commented on #9901
@OutOfTouch This was fixed in preview7

[2019-07-09 15:56] javiercn commented on #11876
@phinett Not sure what to tell you, with the sample you uploaded, its server-side blazor and we have tests for this.

One thing you can try is to use an InPrivate/Incognito window and see if you observe it there. The other thing that might be happening (based on your sample) is that you have an async OnInit, so there are going to be two renders and the onafterrender method is going to be called on

[2019-07-09 16:02] SteveSandersonMS commented on #11876
I would expect it to be called twice, because there would be two renders. The first would be synchronously when your `OnInitAsync` yields the thread, and the second would be when the returned `Task` completes.

[2019-07-09 16:04] SteveSandersonMS commented on #12000
Does the following not work?

[code]

What's the reason why you needed to use `ElementAt`?

[2019-07-09 16:08] jkotalik commented on #9693
With this, I'm going to also make this work for MusicStore as those are currently disabled.

[2019-07-09 16:10] aherrick commented on #12000
Hey Steve. Not that I'm seeing. With the array accessor I'm seeing:

`
ArgumentException: The provided expression contains a InstanceMethodCallExpression1 which is not supported. FieldIdentifier only supports simple member accessors (fields, properties) of an object.`

[2019-07-09 16:13] jkotalik commented on #10268
@anurse this seems like a good time for me to overhaul the functional tests deployments. https://github.com/aspnet/AspNetCore/issues/9693 and re-enabling music store tests are tangentially related.

[2019-07-09 16:18] phinett commented on #11876
So how can i call JsInterop to register my client side JS plugin only once?

I have tried everything and i can't find a way.

I have even tried adding a boolean to do a check such as bool hasAlreadyPreRendered which is set to true after running, but the second time its called it's still set to false.

[2019-07-09 16:19] SteveSandersonMS commented on #12000
Oh wait, yeah, it can't work.

The expression you're providing is to populate a `FieldIdentifier`, which is an `(object, propertyName)` pair. It's essential that we have a meaningful value for `propertyName` since that's the key into the edit context dictionary for that field. It would be bad if we allowed the `propertyName` to be something like `0` (in your example) as that would result in mismat

[2019-07-09 16:19] #12000 closed

[2019-07-09 16:22] SteveSandersonMS commented on #11876
Does your repro show that happening? @javiercn, were you able to see that? I looked at the repro code and couldn't see any flag such as this.

[2019-07-09 16:22] blowdart commented on #11997
It's kind of backwards to my mind, because it should be AD that enforces what an application sees, rather than have an app ask for "is this user in SuperSecretExtraSalaryGroup?"

[2019-07-09 16:23] blowdart commented on #11997
But also yes, as @los93sol says using reference cookies and a backend that is shared between instances of your app also works

[2019-07-09 16:32] mkArtakMSFT commented on #11999
Let's tackle the `Minimal fixes` in Preview 9 and handle the rest post 3.0.

[2019-07-09 16:36] mkArtakMSFT commented on #11977
Thanks for contacting us, @rxelizondo.
We do, indeed, plan to make this much easier. However this is not a critical blocking scenario for 3.0 release so we'll handle it post 3.0.

[2019-07-09 16:37] mkArtakMSFT commented on #11975
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-07-09 16:40] martavoi commented on #11739
We found the issue caused by slow bandwidth. Thanks

[2019-07-09 16:58] OutOfTouch commented on #9901
@BrennanConroy  Great thank you.

[2019-07-09 17:02] blowdart opened #12007 "Microsoft Security Advisory CVE-2019-1075: ASP.NET Core Spoofing Vulnerability"
# Microsoft Security Advisory CVE-2019-1075: ASP.NET Core Spoofing Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in ASP.NET Core 2.1 and 2.2. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware of

[2019-07-09 17:10] #11396 closed

[2019-07-09 17:17] anurse opened #12008 "Web API template doesn't run in WSL"
_From @mfish0005 on Tuesday, June 11, 2019 9:14:26 PM_

# Web API template won't run from WSL(Ubuntu) shell

# Environment
.NET Core SDK (reflecting any global.json):
 Version:   2.2.300
 Commit:    73efd5bd87

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.2.300/

Host (useful for support):
  V

[2019-07-09 17:17] anurse commented on #12008
_From @mfish0005 on Tuesday, June 25, 2019 10:03:29 PM_

It's been a couple weeks and I was working on other stuff but I'm back to this.  I've discovered a couple things.  The Kestrel error never happens if you don't use the "Enable HTTPS" option when generating the project.

When you run the project from bash and navigate to localhost:5001 you get the same result though: `localhost refuses to con

[2019-07-09 17:17] anurse commented on #12008
_From @carlossanlop on Tuesday, July 9, 2019 5:01:21 PM_

@Pilchie is this something the ASP.NET team can assist with?

[2019-07-09 17:17] anurse commented on #12008
_From @Pilchie on Tuesday, July 9, 2019 5:07:00 PM_

@anurse move to AspNetCore?

[2019-07-09 17:31] ryanbrandenburg commented on #11922
Hmm, that's interesting because it contrasts with https://github.com/aspnet/AspNetCore/blob/15c5dfec2e08787c32ece978139addb944c39494/src/Templating/src/Microsoft.DotNet.Web.Spa.ProjectTemplates/content/Angular-CSharp/ClientApp/package-lock.json#L506

I think these differ because the package-lock.json's are generally created and checked in on a developers machine rather than in any kind of controll

[2019-07-09 17:34] anurse commented on #12008
@mfish0005 the issue here is that your WSL instance is basically a separate "machine" from your Windows machine. ASP.NET Core uses SSL by default (to encourage the use of SSL as much as possible). We handle this relatively well when you're on the same machine. On Windows we automatically install a Self-Signed SSL Certificate and mark it as trusted. We do the same on macOS.

What's happened is that

[2019-07-09 17:38] javiercn commented on #12008
except for the -p piece. You only need the public piece. Theoretically you could use the same cert on windows and WSL, but it will be a bit cumbersome to setup and we can't do it for you.

If you wanted to do so, what andrew suggested is the right thing to do. (you would need to run dotnet dev-certs --clean first on windows).

That way you end up with the same localhost cert on windows and WSL and

[2019-07-09 17:43] mkArtakMSFT commented on #12004
Thanks for contacting us, @marlon-tucker.
This is configurable via `SpaOptions.StartupTimeout` property, which defaults to 50 seconds, as you've noticed:  https://github.com/aspnet/AspNetCore/blob/7269dbb73f4aa0ebf5ebb8bc07a076ee181851be/src/Middleware/SpaServices.Extensions/src/SpaOptions.cs#L76

Trying to find out how would you pass it from the `Startup` class. Will share more findings soon.

[2019-07-09 17:45] enetstudio commented on #11975
This is perhaps because the home page is rerendered. I think you should try to find out the reason to this rerendering (I think it is by design), and prevent a second use of class="animated fadeIn" by assigning an empty string to the class attribute (class="")

Hope this helps...

[2019-07-09 17:46] anurse commented on #12008
@javiercn there may be some tricks we could do here that could be interesting to explore sometime. I'll file an issue. At a minimum we could write a useful doc or something and print a warning when running on WSL (which we can detect).

[2019-07-09 17:47] anurse opened #12011 "Consider improving dev-certs experience on WSL"
Right now, since WSL is effectively a "separate VM", the dev-certs experience is a bit rough. You run your app in WSL and we generate a dev-cert there, but your Windows machine doesn't trust it.

The optimum solution would be to somehow allow the WSL instance and Windows to share the same certificate. There are ways to jump between WSL and Windows so this may be feasible.

Other alternatives inclu

[2019-07-09 17:52] BrennanConroy commented on #12001
Usually when connecting to the SignalR service your client points to the server and is redirected automatically to connect to the service.

You can see some of the details of how this works at: https://docs.microsoft.com/azure/azure-signalr/signalr-concept-internals#client-connections

Is there a reason you're trying to connect directly to the service?

[2019-07-09 17:53] myersBR commented on #1528
@ststeiger  could you add me please ?

[2019-07-09 17:53] mikaelm12 commented on #11995
Yeah, please post the version of the Java client that you are using, If you're not on preview 6, then I'd first recommend updating to use that. Preview 7 is coming out next week and it also has some updates to the Java client but they shouldn't directly effect the scenario you mention.

Preview 6  version com.microsoft.signalr:signalr:3.0.0-preview6.19307.2  https://search.maven.org/artifact/com.m

[2019-07-09 18:00] mkArtakMSFT commented on #12004
So you can do this in the `Startup.Configure` method, as follows:

![image](https://user-images.githubusercontent.com/34246760/60911748-be889080-a238-11e9-89ec-2dce6c60333a.png)

[2019-07-09 18:01] mikaelm12 commented on #11995
And if you could also include the full stack trace that would be helpful as well!

[2019-07-09 18:01] #12004 closed

[2019-07-09 18:03] rynowak commented on #12003
Do you have any data or examples of tests that help us understand the priority of this?

[2019-07-09 18:15] aherrick commented on #12000
Thanks for the response! That's unfortunate as I'm not trying to create an object with a property of 1 just to support this situation. Since it can bind successfully to `@VM.Connector.ConnectorDetails[0]` I would assume we could link the validation message as well.

[2019-07-09 18:21] mkArtakMSFT commented on #11922
Thanks @ryanbrandenburg.
@iantoalms, please stick with the `Node 8` release to unblock yourself.

[2019-07-09 18:21] #11922 closed

[2019-07-09 18:41] mkArtakMSFT commented on #11868
Thanks for confirming. Given this is very easy to work around by simply choosing non-keyword names for your properties, I'm moving it to `Backlog`. However, we;ll happily consider a PR, so feel free to send one.

[2019-07-09 18:42] javiercn commented on #12003
In process, so far with a client I can cause exceptions on the server

[code]
And I get the memory from the server to grow up to 3GB

[2019-07-09 18:44] dcadlereii opened #12013 "ASP.Net Core 2.1 application cannot find appsettings.json when ran as a Windows service"
I am trying to run my ASP.Net Core 2.1 application as a service on Windows 10. My application runs fine when ran using VS2017 or if I publish to a folder and then start it from within that published folder with the --console arg. However, if I use sc create to create the service, getting a Success result, and then try to run it, I get an error in the Windows Application log stating...

    System.

[2019-07-09 18:45] bzd3y commented on #11868
Okay, thanks. If I have time I might look at the code more to see what it would take. Thanks again.

[2019-07-09 18:47] rynowak commented on #12003
Doesn't SignalR enforce a default limit on the message size from a client?

How will an external client run code in process on a deployed application?

[2019-07-09 18:54] pranavkm opened #12015 "[Blazor] Occasional Heartbeat took too long messages on new HubConnections"
When a large number of HubConnections are opened on a Blazor app, we occasionally see a warning from the server:

[2019-07-09 18:55] rynowak commented on #12015
What's the impact of this? Does it disconnect the client? Does it just log a message?

[2019-07-09 18:59] isaac2004 commented on #9108
@javiercn is this statement from the routing docs no longer true for 3.0?

[2019-07-09 19:00] vpaulino commented on #10509
When can we expect preview 7? Currently Im deploying from Continuous Deployment task from TFS enterprise to a slot and having the same issue!

[2019-07-09 19:20] davidfowl commented on #12015
How many connections?

[2019-07-09 19:21] pranavkm commented on #12015
No errors on the client. I need to investigate this further, but I'm having trouble using the diagnostics tools.

@davidfowl I see this when I add more than 5k connections on a sever with 60k connections.

[2019-07-09 19:21] TinoMclaren opened #12016 "SignalR - HubConnection public static?"
With ref to SignalR core.

In a Wpf Client, is is ok to use the HubConnection as a public static property?

`public static HubConnection _hubConn { get; set; }`

So that it can be accessed globally within the App?

If not, whats to preferred way to use the HubConnection in a desktop client?

[2019-07-09 19:29] Pilchie opened #12017 "use .useSockets(), got many connection time out at Linux"
_From @sharbui on Friday, June 14, 2019 9:54:25 AM_

my Environment is
CentOS 7 latest
dotnet verion 2.2.105

i  use dotnet new web to create a project and use ab to test performance
when  i use default and dotnet run
![image](https://user-images.githubusercontent.com/16458001/59500557-47c3d600-8ecc-11e9-9460-aaf58a5bed28.png)
the ab result was
![image](https://user-images.githubusercontent.com/16

[2019-07-09 19:29] Pilchie commented on #12017
_From @carlossanlop on Tuesday, July 9, 2019 5:22:11 PM_

@Pilchie does this sound like something the ASP.NET team can help with?

[2019-07-09 19:35] BenHayat commented on #10472
Hello Team;
Please put the final resolutions in the Blazor Docs, so we will have ONE place to go to, for docs and solutions, than chasing bits and pieces on gitub.

Thanks!

[2019-07-09 19:36] davidfowl commented on #12017
Where are your ab parameters?

[2019-07-09 19:45] javiercn commented on #12003
I meant with 1 client.

Yes, I'm playing within those rules. Sending events with 31K

[2019-07-09 19:48] rynowak commented on #12003
Ok good, this seems relevant then 👍

[2019-07-09 19:55] mholec opened #12018 "(Validation)ProblemDetails as a separate NuGet package"
### Problem
`ValidationProblemDetails` & `ProblemDetails` are classes introduced in ASP.NET Core 2.1 as a part of `Microsoft.AspNetCore.Mvc.Core` (https://www.fuget.org/packages/Microsoft.AspNetCore.Mvc.Core). In typical scenario, Web API developer has a special project "Contracts" with various classes (API models) which are used for (de)serialization from/to api. The same contracts can be used on

[2019-07-09 20:18] hishamco commented on #4504
Sorry, It's my bad .. @daniel-white you can open a PR if you want, or I will do it in your behave

[2019-07-09 20:39] isaac2004 commented on #11111
@mkArtakMSFT do you have an example? I just searched the repo and didn't see any

[2019-07-09 20:42] HaoK commented on #3975
Fixed by https://github.com/aspnet/AspNetCore/pull/11987

[2019-07-09 20:42] #3975 closed

[2019-07-09 20:52] isaac2004 commented on #10345
@mkArtakMSFT @ryanbrandenburg  as part of this, does it make sense to refactor the folders for the templates. Right now there is
![image](https://user-images.githubusercontent.com/8878502/60921742-3cfd2680-a269-11e9-8228-bb89305f5b1f.png)

RazorComponents is getting renamed to BlazorServerWeb, and I think doing the following would make the templates more clear

- Merge StarterWeb-CSharp into Razor

[2019-07-09 21:12] anurse commented on #11594
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-07-09 21:12] #11594 closed

[2019-07-09 21:16] ibruynin commented on #11997
I found a link that explains ticketstore quite well: https://www.red-gate.com/simple-talk/dotnet/net-development/using-auth-cookies-in-asp-net-core/
That seems to circumvent the issue, but now the app is stateful and does not scale out anymore.
And that's a pity in an AKS cluster :/

A colleague also found out that Azure AD is doing something similar as of 200 groups.
So I need to define 46 more (

[2019-07-09 21:21] los93sol commented on #11997
@ibruynin You can still scaleout just fine if you implement the ticketstore with any type of distributed cache or a db.

[2019-07-09 21:21] phinett commented on #11876
I have attached a modified repo, i really hope you can see it reproducing this behavior.

Thanks for taking the time to look into this!

[BlazorRepo.zip](https://github.com/aspnet/AspNetCore/files/3374871/BlazorRepo.zip)

[2019-07-09 21:25] anurse commented on #11688
Triage decision: We will do option 1 for now. It doesn't prevent us from doing other things to adjust. @bradygaster will look at the Dependents for `@aspnet/signalr` and consider reaching out directly to the frequently-downloaded ones.

[2019-07-09 21:26] anurse commented on #11688
Closing since there's no engineering action!

[2019-07-09 21:26] #11688 closed

[2019-07-09 21:27] mkArtakMSFT commented on #10345
@isaac2004 I would not start on this yet. Given the complexity this would introduce, let's wait for now. Things may change by the time we get there.

[2019-07-09 21:29] MerkavaPL opened #12021 "2.2.6 packages are missing from Ubuntu 18.04 repo"
Problem encountered on https://dotnet.microsoft.com/download/linux-package-manager/ubuntu18-04/runtime-current
Operating System: Linux Ubuntu 18.04 - x64
AspCore runctime 2.2.6 packages are missing from repo, but are indicated by `aspnetcore-runtime-2.2`

![image](https://user-images.githubusercontent.com/16056142/60923194-a9dee380-a29e-11e9-81d8-6898b4b3cba0.png)

![image](https://user-images.git

[2019-07-09 21:38] anurse commented on #9934
We're feeling good about the perf now. There's always room for improvement but we'll look at that in other issues.

[2019-07-09 21:38] #9934 closed

[2019-07-09 21:39] mkArtakMSFT commented on #11111
Looks like indeed the current templates don't have a `<script>` tag in the content. At least not at the moment. As for the tag-helper, that's right, it does produce the tag so that may be something we will revisit during 3.1.

[2019-07-09 21:41] mkArtakMSFT commented on #11950
Sounds like this can be closed then? @a6datta.

[2019-07-09 21:45] ibruynin commented on #11997
true - I got that, but did not find a good example on that one. Must be out there somewhere, right?
And I'm not sure if we want to go that way. I'd expect that those security libs handle all those issues for you. But now AKS and AAG are around, those issues start to surface, since they cannot be configured for those ridiculously large request headers

[2019-07-09 21:47] anurse commented on #5350
The work for this repo:
* Change error to say "something something 404s. For more detail see https://aka.ms/signalr/404s"
* Check if aka.ms can be used in code ;)

The work for docs (engineering team to do this) (cc @scottaddie):
* Add a "Troubleshooting" doc with a section on 404s
* Update the aka.ms to point at it.

[2019-07-09 21:49] marlon-tucker commented on #12004
oh, my apologies. Thank you for pointing this out.

[2019-07-09 21:51] anurse commented on #11664
We don't use the submodule, we have a binary reference. What's the SignalR ask here? Or is that just @Eilon mistagging 😝

[2019-07-09 22:10] los93sol commented on #11997
@Ibruyin  I think this article will help https://mikerussellnz.github.io/.NET-Core-Auth-Ticket-Redis/

[2019-07-09 22:12] DAllanCarr commented on #12013
`AppContext.BaseDirectory` worked in earlier versions.

[2019-07-09 22:13] Tratcher commented on #11884
Please expand on this, why does it have to be another IHostedService? What is that service adding doing differently?

[2019-07-09 22:16] anurse commented on #11778
@halter73 got this fixed in preview7

[2019-07-09 22:16] #11778 closed

[2019-07-09 22:18] anurse commented on #11262
For now we'll add a quirks mode switch to go back to the old pre-3.0 parser until we can investigate further.

[2019-07-09 22:23] anurse commented on #10927
We're pretty sure this is good now.

[2019-07-09 22:23] #10927 closed

[2019-07-09 22:26] anurse commented on #9239
@JamesNK do we still need something here given your changes?

[2019-07-09 22:26] jtkech commented on #11233
Just for infos and maybe more related to #11555

We are using the following that hit a custom diagnostics controller

    app.UseStatusCodePagesWithReExecute("/Error", "?status={0}");

And we already have

    app.Use(async (context, next) =>
    {
        await next();

        if (context.Response.StatusCode < 200 || context.Response.StatusCode >= 400)
        {
            string contentType;

[2019-07-09 22:34] longinos10 opened #12023 "UIKeyboardEventArgs onkeydown onkeypress, it works fine in windows machine, but not in mobile"
In Blazor Server Side I use OnkeyDown or onkeypress, and it works well in development, but in production with iss, it still works well in my windows computer, but not in my android mobile, when pressing a key nothing happens, or unidentified, i tried all browsers

To Reproduce
Steps to reproduce the behavior:
1. Using this version Blazor server side preview 6
2. Run this code
<input @onkeydown="@W

[2019-07-09 22:35] jeremycook commented on #11944
Here's a repro. As I made it I discovered that this issue is not with collections but with subclasses of abstract classes.

https://github.com/jeremycook/DeepValidationRepro

The Index action of Home looks like this:

![image](https://user-images.githubusercontent.com/452414/60927485-5dc47c80-a267-11e9-9bd9-00332ccc4c83.png)

Viewing the page you see this, but you should also see (in my opinion) "

[2019-07-09 22:40] anurse commented on #9401
Looking at the latest benchmarks data, it looks like we're back. It also looks like this was really jittering while it was "regressed" so maybe this was a machine configuration thing?

![image](https://user-images.githubusercontent.com/7574/60927753-cf003180-a25f-11e9-9ed1-5f7746aba20f.png)

Closing based on that.

[2019-07-09 22:42] JamesNK commented on #9239
I think the bug was in gRPC - calling abort after the request delegate has finished - and it has been fixed in gRPC. Closing.

[2019-07-09 22:42] #9239 closed

[2019-07-09 22:42] johncrim commented on #11884
You can find more info in https://github.com/microsoft/service-fabric-aspnetcore/issues/48, and the diagram on this page should help conceptually:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-aspnetcore
As the diagram shows, service fabric activates SF service objects, which create webhosts.

Currently, [service-fabric-aspnetcore](https://git

[2019-07-09 22:45] anurse commented on #10873
Pretty sure it's not IIS Express if we're on Linux ;).

@khteh Can you clarify exactly what the actual behavior is? What URL is in the address bar (is it `localhost` or `127.0.0.1`, it matters because `localhost` may be resolving to the IPv6 loopback address).

When you specify `IPAddress.Loopback`, you get `127.0.0.1` which is the **IPv4 Loopback Address**, there's also `IPAddress.IPv6Loopback` t

[2019-07-09 22:50] anurse commented on #11305
Is there something here that would be ship-blocking for 3.0 or can we look at it in 3.1?

[2019-07-09 22:51] anurse commented on #10956
@davidfowl This is assigned to you, do we know what's going on here?

[2019-07-09 22:53] anurse commented on #11885
This sounds like the right track. If something in Startup is hanging, it could cause this behavior.

[2019-07-09 22:56] anurse commented on #11931
Is this fairly straightforward? At a minimum we could take a token and just do nothing with it (to avoid a future API break)

[2019-07-09 23:00] anurse commented on #11738
It seems like this is a machine configuration problem. We don't really have anything actionable we can do. I'd suggest checking the global `web.config` and `applicationHost.config` files.

[2019-07-09 23:00] #11738 closed

[2019-07-09 23:00] anurse commented on #11527
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-07-09 23:00] #11527 closed

[2019-07-09 23:07] ibruynin commented on #11997
Thanks! will have a look into it tomorrow :)

[2019-07-09 23:08] anurse commented on #10116
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-07-09 23:08] #10116 closed

[2019-07-09 23:09] anurse commented on #9124
Closing as this is external (in the VS integration) rather than in the IIS module itself.

[2019-07-09 23:09] #9124 closed

[2019-07-09 23:17] anurse commented on #9239
![A man in a car waves two thumbs up](https://media.giphy.com/media/xHMIDAy1qkzNS/200.gif)

[2019-07-09 23:25] anurse opened #12025 "Publish Maven Artifacts to Azure Artifacts on each build"
We should publish our SignalR Java Client artifacts to an Azure Artifacts feed on each build. It would make testing a lot easier.

cc @mikaelm12

[2019-07-09 23:45] matthensleyio commented on #11929
@rynowak I have updated my example project to include the output of that directory.

[They can be found here.](https://github.com/matthensleyio/BlazorBindOrderBug/tree/master/src/BlazorBindingOrderBug/obj/Debug/netcoreapp3.0/Razor)

[2019-07-09 23:53] rynowak commented on #11929
What version of .net are you using? (`dotnet --version`)

This is a confusing result:
- Your code [has `@bind` in it](https://github.com/matthensleyio/BlazorBindOrderBug/blob/master/src/BlazorBindingOrderBug/Pages/Index.razor#L6)
- The generated C# treats it [all as static markup](https://github.com/matthensleyio/BlazorBindOrderBug/blob/master/src/BlazorBindingOrderBug/obj/Debug/netcoreapp3.0/Razo

[2019-07-10 00:01] HaoK commented on #11880
Fixed by https://github.com/aspnet/Scaffolding/pull/1028

[2019-07-10 00:01] #11880 closed

[2019-07-10 00:02] HaoK commented on #11882
Fixed by https://github.com/aspnet/Scaffolding/pull/1028

[2019-07-10 00:02] #11882 closed

[2019-07-10 00:03] danroth27 commented on #10472
@BenHayat Absolutely, that's the plan.

[2019-07-10 00:09] BenHayat commented on #10472
@danroth27 ;
Thank you Sir!

Please cover the issue that for every user that starts our app, a new instance will start and server becomes limited.
We have to know the limit, so we can control how many users (perhaps only registered users can use the app and block anonymous users to lower the # of instances). This is one area that we are nervous about.

I'm sure the client-side version will not hav

[2019-07-10 00:09] mfish0005 commented on #12008
@anurse @javiercn Thanks for getting back to me on this guys.  So let me get it straight.

1. Run `dotnet dev-certs https --clean` from windows shell
2. Run `dotnet dev-certs https -ep ~/aspnetcore_dev_cert.pfx` from linux shell
3. Locate cert in WSL.
4. Copy it and import to Windows

Questions(mainly to give perspective on what to include in #12011 docs):
1. Do I need to delete and generate a new

[2019-07-10 00:11] JunTaoLuo opened #12029 "Add CI configurations for build.cmd in sub-areas"
The proposal is to add CI configurations to run the build.cmd/build.sh in sub-areas such as Components, Installers, SignalR, etc to ensure the expected dev workflows, such as restore and build, remain aligned to the contributor guidelines.

[2019-07-10 00:22] rynowak commented on #12029
@jkotalik

[2019-07-10 00:22] danroth27 commented on #10509
@vpaulino We hope to ship Preview 7 sometime next week.

[2019-07-10 00:27] JunTaoLuo commented on #12029
No, this is just a sub part. I'm still writing the full issue.

[2019-07-10 00:32] rynowak commented on #12029
How do I cancel pinging someone? 😆

[2019-07-10 00:34] mfish0005 commented on #12008
Well I think I have it figured out but just using MMC is difficult enough.  I'm assuming I need to add the cert to the Personal > Certificates directory so I'm trying that now.  Might want to include MMC instructions in the docs

[2019-07-10 00:35] anurse commented on #12008
No.

The `--export-path` (or `-ep` for short) argument is just specifying where you want to export the certificate TO. The certificate is stored in whatever OS-specific store makes sense. The certificate store (MMC) in Windows, Keychain on macOS, and I believe in `/etc/pki` on Linux...

Yeah, it's not the best interface :). You need to put it there and **also** in the Trusted Root store.

[2019-07-10 00:43] JunTaoLuo opened #12030 "Improving dev workflow alignment with contributor guidelines for sub-areas with additional requirements"
Currently our general contributor guidelines do not work in all sub-areas such as Components which have additional requirements. The proposal is to make these additional requirements more visible and the guidelines for working in these areas more explicit and reliable. To this end, some of the following suggestions and/or issues have been raised:

- [x] Create/Update the build.cmd/sh in the sub ar

[2019-07-10 00:44] mfish0005 commented on #12008
@anurse Thanks I added it to the Trusted Root store.  Question:  Visual Studio will automatically know to apply this cert to all targets?  E.G. IIS, Docker, etc.

So far it isn't working but I'm going to try restarting real quick to see if that fixes it.

[2019-07-10 00:47] rynowak commented on #12030
@jkotalik

[2019-07-10 00:49] jo-asakura commented on #11885
@anurse Finally, found it 🎉

There is a script that we run on the app startup to run database migration:
[code]

Once I removed that part the app magically started to work. The actual issue was in missing database credentials that our engineers forgot to transfer when they migrated the app's database to a new location. That's weird that the invalid database credentials problem wasn't reported at a

[2019-07-10 00:57] matthensleyio commented on #11929
It looks like I am on `3.0.100-preview5-011568. `

I will update to `3.0.100-preview6-012264` & test again.

[2019-07-10 01:00] khteh commented on #10873
`IPAddress.Loopback`: `http://127.0.0.1:5000/index.html`
`IPAddress.IPv6Loopback`: `http://[::1]:5000/` <= This works
[code]

[2019-07-10 01:08] matthensleyio commented on #11929
Upgrading to `3.0.100-preview6-012264` appears to have corrected my issue.

Thanks for helping me out with this @rynowak.

[2019-07-10 01:08] #11929 closed

[2019-07-10 01:22] pranavkm commented on #11664
This one's on me.

[2019-07-10 01:48] vsfeedback opened #12031 "The problem with using the component-material-web in blazor hosted core"
Hi. I've installed material-component-web through npm, it's on the razor page, but the styles do not apply. Please guide.
Thanks

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/583187/the-problem-with-using-the-component-material-web.html
VSTS ticketId: 899596_
_These are the original issue comments:_

Visual Studio Feedback System on 5/27/2019, 01:50 A

[2019-07-10 01:51] mkArtakMSFT commented on #12031
Hi.

We will need some more information to be able to assist you. Please provide a minimalistic project so we can repro this.

[2019-07-10 02:03] vsfeedback opened #12032 "Bug on client's styling"
Hi. I work with blazor 3. I have noticed that everything is related to style and it may not work. For example, in a font change project, it does not work in the other project. And this applies to different templates and components.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/587005/bug-on-clients-styling.html
VSTS ticketId: 900940_
_These are the or

[2019-07-10 02:08] mkArtakMSFT commented on #12032
Hi.

To be able to assist you, please provide us a small project which we can use to understand the problem you're facing as well as be able to repro it.

[2019-07-10 02:27] davidfowl commented on #10956
I took a look at while ago and didn’t figure it out, I’ll spend a few more cycles this release looking.

[2019-07-10 02:27] davidfowl commented on #11305
This will get fixed when we add CompleteAsync to PipeWriter. Assign this to me as the reaction

[2019-07-10 02:31] Tratcher commented on #11305
How will PipeWriter.CompleteAsync fix this? Are you assuming the app will call it?

[2019-07-10 02:43] iAmBipinPaul commented on #11756
Blazor is unable to deserialize date time in the case of prerendering but it does work in the case of client-side

(same issue on corefx https://github.com/dotnet/corefx/issues/38568#issuecomment-503405420 solution: add a custom converter)

Error message
[code]

[code]
Where `UserInfo1`
[code]
how can we plug custom converter for GetJsonAsync? or it is not recommended to use blazor version of Http

[2019-07-10 02:59] davidfowl commented on #11305
Complete now flushes buffered data and CompleteAsync will do the same but asynchronously

[2019-07-10 03:18] slaneyrw commented on #5784
Having to replace EmailTokenProvider and PhoneTokenProvider because they rely on the *inconfigurable* internal Rfc6238AuthenticationService.  This is starting to become a pattern where classes are "designed" for override, but hide/pin all the bits you need.

for example.
* UserManager  ( UpdateSecurityStampInternal, UpdatePasswordHash, NewSecurityStamp, etc )
* UserStore ( DbSets )
* IdentityUserC

[2019-07-10 03:40] Tratcher commented on #11305
That doesn't address the issue I originally posted above, Complete is still getting called too late (during response disposal). The adapter only works if you require the app to call Flush or Complete.

[2019-07-10 03:41] davidfowl commented on #11305
Ah, then we need a new event in the pipeline where we can complete/flush without blowing up because it's too late (and no, middleware isn't the way to solve this).

[2019-07-10 03:43] Tratcher commented on #11931
Right, it's easy to add the token now and we can work out where to honor it as we go.

[2019-07-10 03:46] davidfowl commented on #12016
Yep, that works fine. The HubConnection is itself thread safe.

PS: A property with the name `_hubConn` triggers me. Call it `HubConnection` or `Connection` 😄

[2019-07-10 03:48] Tratcher commented on #11884
If it was creating multiple web hosts' before, it should create multiple generic hosts now, not multiple IHostedService instances in one host. Yes we were able to re-platform WebHostBuilder onto HostBuilder, but you still can't have more than one IServer instance per Host, there would be too many conflicting services.

[2019-07-10 03:53] Tratcher commented on #11996
@glennc had some proposals for a self-registering service. E.g. run it once in admin mode to register.

[2019-07-10 04:02] Tratcher commented on #12011
Is it still using localhost to communicate between the brower and the WSL app?

[2019-07-10 04:37] vsfeedback opened #12035 "使用VS2019社区版创建的MVC项目，编辑cshtml文件时，需要重新生成，浏览器才能生效-Using the MVC project created by the VS2019 Community Edition, when editing the cshtml file, it needs to be regenerated for the browser to take effect."
<p>VSF_TYPE_MARKDOWNI have two versions of VS2017 and VS2019 on My Computer (WIN7), all of which are community versions,
I built a new asp.net Web core Application on two versions of VS,</p><p>Select the MVC template.
Then discover that the project created on VS2017, starting on 17 or 19,</p><p>Editing the Cshml file, F5 refreshing the browser, is normal.
And the project created on the VS2019, sta

[2019-07-10 04:38] anurse commented on #12008
Well, it *should*, as long as you only have one ASP.NET Core Dev Cert on the Windows side, and it's the same one as in WSL. You can tell which are the dev certs by their friendly name in MMC:

![image](https://user-images.githubusercontent.com/7574/60940815-b27ced00-a291-11e9-8e97-ee8a3660c377.png)

Are you running apps in both Windows and WSL? You mentioned Visual Studio/IIS/etc. which is why I a

[2019-07-10 04:39] mkArtakMSFT commented on #12035
Thanks for contacting us.

Are you creating these two projects targeting the same .Net Core SDK version?

[2019-07-10 04:39] mkArtakMSFT commented on #12035
And what is the version.

[2019-07-10 04:41] vsfeedback opened #12036 "Bootstrap DateTime control failing in VS 2019"
I recently updatd VS 2019 to 16.2.0 Preview 1.0 and noticed that the Bootstrap DateTime pickers no longer work when I debug my web applications. I deploy the web applications into kubernetes and the apps work fine. I tried starting a brand new application, no success. I can go to the author's demo page and everything works fine there as well. Sample code (taken off Index.cshtml):

@model IndexMode

[2019-07-10 04:42] mkArtakMSFT commented on #12036
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-07-10 04:43] anurse commented on #10873
I'm not sure I understand you exactly here. So when specifying `IPAddress.Loopback` and opening the browser to `http://127.0.0.1` it **doesn't** work? That's definitely odd and not behavior we've seen before.

The `nslookup` output is exactly what I'm talking about. Since both an IPv4 and an IPv6 address are present, it's up to the client which address to use. However, if you use `IPAddress.Loopba

[2019-07-10 04:45] anurse commented on #11885
That is strange indeed. Is an exception thrown by `Migrate`? If you'd be able to isolate this to a runnable sample we might be able to track down why it isn't logged.

This also presumes you have logging configured at this point. You could always grabbing a logger with `serviceScope.ServiceProvider.GetRequiredService<ILogger<Startup>>()` and logging a test message there.

[2019-07-10 04:50] vsfeedback opened #12037 "用netcoreapp2.1 搭建页面遇到 InvalidOperationException 问题-Encounter InvalidOperationException problems with netcoreapp2.1 building pages"
<p>新手在学 ASP.NET Core</p><p>用 netcoreapp2.1 搭建不含model 的页面 在布局时 用 &lt;partial name=&quot;&quot; /&gt; 遇到个问题 用这个时一直报</p><p>“An unhandled exception occurred while processing the request.
InvalidOperationException: The model item passed into the ViewDataDictionary is of type 'CmsAspCore.Pages.IndexModel', but this ViewDataDictionary instance requires a model item of type 'CmsAspCore.Pages.NavigationMod

[2019-07-10 04:51] khteh commented on #10873
`http://127.0.0.1:5000` doesn't work.

[2019-07-10 04:51] mkArtakMSFT commented on #12037
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-07-10 04:52] anurse commented on #12011
Yes, WSL proxies the localhost ports.

As WSL gets more popular, we're going to need to consider some solution for this. Probably the most seamless and simplest solution is to have the `dev-certs` experience on WSL automatically install the certificate as trusted on Windows (apps in WSL _can_ launch Windows executables, including shells like powershell, so this _could_ be feasible). It's basically

[2019-07-10 04:52] mkArtakMSFT commented on #12037
The error you're receiving actually tells exactly what the problem is. It indicates and error in your page, and you should make sure you pass a proper type parameter as an input. For questions like this, StackOverflow is a great place to start with, as you'll get your questions answered quickly.

[2019-07-10 04:52] #12037 closed

[2019-07-10 04:53] anurse commented on #11996
Yep, that's the issue I linked.

[2019-07-10 04:53] anurse commented on #11931
Though adding a token later would likely be non-breaking since we'd do it via an overload.

[2019-07-10 05:04] jbomhold3 commented on #11741
OnAfterFirstRender requests keep getting shot down because they are not wanting to add LifeCycles...
Their issue is that it is easy enough to just add a bool to your component to control the first run.

However, it's not pretty or convenient. This is part of the attraction to frameworks. We save time writing boilerplate code and get to focus on our code. I don't want to have to add bool isFirstRun

[2019-07-10 05:12] johncrim commented on #11884
I'm not surprised/makes sense that you can't have more than one IServer instance per IHost, though technically that's about the shared DI container in the IHost, right? With a separate IServiceProvider one could create a new webhost in the IHostedService. There would still be a benefit from putting that within a generic host, eg shared environment, configuration, and lifecycle management.

For thi

[2019-07-10 05:21] TinoMclaren commented on #12016
Thanks & thanks.

The name was remnants of a failed di attempt. 'triggers me' great turn of phrase  :smiley:

It was originally called ConMan he he

[2019-07-10 05:21] #12016 closed

[2019-07-10 05:42] vsfeedback opened #12038 "Visual Studio 2019 SDK 2.2 Does not create ASP.NET Core Web Application with Angular Correctly"
SDK 2.2 doesn't create a working web application with Angular. When I drop back to SDK 2.1, I get a working application.

Note: The screenshot or environment details can be misleading as I am not in the failing project while I'm reporting this issue.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/603105/visual-studio-2019-sdk-22-does-not-create-aspnet-

[2019-07-10 05:43] mkArtakMSFT commented on #12038
Thanks for contacting us.
Can you please share more details about what is actually failing for you?

[2019-07-10 05:51] mashahbazi commented on #11995
yeap, I'm update and my version is `3.0.0-preview6.19307.2`. And I said my stack trace for you it's very simple.when you invoke it get null. this is fabric crashlytics log.
`com.microsoft.signalr.HubConnection.invoke + 586 (HubConnection.java:586)`
before this trace is in my code.

[2019-07-10 05:53] wu-yafeng commented on #11989
The download is very slow and dose not complete most time.
The download speed only 5KB/s when download SDK in browser by url `dotnetcli.azureedge.net`

[2019-07-10 05:55] pantonis commented on #11996
@anurse a template that creates the windows service that you describe on this document. a template of the final result of this example

[2019-07-10 06:16] gurunathancs1991 commented on #11893
Hi @SteveSandersonMS ,

How can we differentiate client side blazor app or server side blazor app inside of class library for some specific action?

-Gurunathan

[2019-07-10 06:26] cknaap commented on #2709
I ran into the same problem using the FHIR mediatype (``application/fhir+json; fhirVersion=4.0``). It is very confusing that you cannot simply pass that to ``new StringContent(..)``.

[2019-07-10 06:37] MerkavaPL commented on #12021
Working now...

[2019-07-10 06:37] #12021 closed

[2019-07-10 06:38] Homey-ka commented on #12035
No, create the two projects simply,and then, start ,modified. Because I am a novice.

[2019-07-10 06:38] gurunathancs1991 opened #12039 "Blazor: how to restrict the static files reference in client-side-blazor-app"
**Goal**:
We need to serve the static files in client-side-blazor-app based on user input on his application. Right now, it will serve all files which placed in `wwwroot` folder in user application.
**Example**: we have different set of themes for my layout. but it required a theme alone as per user application input.

For server-side-blazor-app, i can restrict and serve the files using [Iapplicat

[2019-07-10 07:11] sebastienros commented on #9401
It's jettery if you are looking at two scenarios at the same time. In your case u assume it was because both Linux and Windows where displayed, and it started to look correct since the windows numbers and re bit gathered anymore.

[2019-07-10 07:32] ststeiger commented on #1528
@myersBR: Done.

[2019-07-10 07:34] corneliutusnea commented on #12007
How does this apply to Azure WebApps? What is the recommended way to protect an app running on Azure WebApp. The latest runtime I see installed is 2.2.5.

[2019-07-10 07:42] rynowak commented on #11756
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-07-10 08:15] alexiordan opened #12040 "SignalR QUIC"
Is it expected to have SignalR running on top of QUIC?

From here it seems to be possible:
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">So SignalR is built against this and has no idea what the underlying trsnpsort is, it just parses it’s protocol over the “transport”. So IPC becomes interesting, SignalR over named pipes? Easy, tcp easy, QUIC (hopefully easy).</p>&mdash;

[2019-07-10 08:55] owaits opened #12041 "Response de-serialisation broken in preview 6 for PostJsonAsync"
After upgrading my project from preview 5 to preview 6 I have discovered that the http helper extension PostJsonAsync<> no longer returns the de-serialized response and simply returns null. This code has worked fine up to preview 6 so seems to be something that has been broken.

[code]

[code]

The value of authentication Token is always null.

If I now download the extension code from GitHub for

[2019-07-10 08:58] #12023 closed

[2019-07-10 09:00] SteveSandersonMS commented on #12039
Client-side Blazor runs on the client, so it doesn't control anything about what your web server does.

However if you use the "Hosted in ASP.NET Core" version of the client-side Blazor template, then you also get an ASP.NET Core web server project that you can configure in whatever way you want.

[2019-07-10 09:00] #12039 closed

[2019-07-10 09:00] a6datta commented on #11950
@mkArtakMSFT The issue is not resolved. The log doesn't show "Application is shutting down..." but it stops working. I manually restarted the website and application pool. It started working after that. I previously came across similar issues in dot net framework but in those cases I was able to see the the application pool stopped in iis management console. But now it just hangs and by looking at

[2019-07-10 09:10] SteveSandersonMS commented on #11893
See how it's done here: https://github.com/aspnet/AspNetCore/blob/master/src/Components/test/testassets/BasicTestApp/Startup.cs#L28

[2019-07-10 09:46] alexiordan opened #12043 "Blazor - client side debugging"
Visual Studio 2019 16.2.0 Preview 3
.NET Core SDK: 3.0.100-preview6-012264

Chrome ver. 75....

I am able to open the DevTools window and see the C# code in browser However when I try to set a breakpoint, it fails with following message in asp.net core console
[code]

What am I doing wrong?

[2019-07-10 10:01] Faolan-dimplex commented on #5637
Just ran into this same problem today, ended up having to use that horrible hacky workaround of prefixing namespace with __Blazor

[2019-07-10 11:04] ddweber commented on #10766
I´m still confused why this is by design:

Because `OnConnectedAsync` is the suggested/only hook to [_Handle events for a connection_](https://docs.microsoft.com/en-us/aspnet/core/signalr/hubs?view=aspnetcore-2.2#handle-events-for-a-connection). For me it sounds like if it is completed before the clients could invoke any further methods on the server.

Imagine the following usecase:

1. Client cal

[2019-07-10 11:25] abrantie1z commented on #11594
I can gladly confirm to the entire World, the issue has been resolved by our wonderful developers . Kudus @anurse @BrennanConroy @halter73 . Thanks

[2019-07-10 11:26] abrantie1z commented on #11594
But i think VS 16.2 is not yet released like @BrennanConroy  specified, the current update i got today was VS 16.1.6.

[2019-07-10 11:51] marcelovidigal opened #12044 "How to check if Model/ModelState is valid in Blazor?"
Is there anything like TryValidadeModel in Blazor? How can I check in @code if the model passed to EditForm is valid or not?

[2019-07-10 12:09] Programmer-david commented on #11975
Thanks for the suggestion @enetstudio I assumed I would have to remove the class as soon as the page rendered. Do you have any suggestion on how to achieve this? I assume I can't do this server side with blazor as web server latency will mean it will take too long to complete.

[2019-07-10 12:57] bachratyg commented on #11544
Also see #6388

The hosts partially decodes the percent encoding and explicitly skips decoding %2F here:
[code]
The main problem is Routing or MVC model binding cannot reliably decode the partially decoded segment. Ideally the server should not do any decoding especially not partial. (Full decoding is not possible since it would introduce new segments.)

If the server behavior is not allowed to ch

[2019-07-10 13:15] GerritBergen opened #12045 "Failed to start platform. Reason: [object ProgressEvent]"
### Describe the bug
Often times when I start my client side blazor app the browser console throws `Failed to start platform. Reason: [object ProgressEvent]` and the app never loads. Just stays on the splash screen.

### To Reproduce
I wish I could confidently reproduce this but it just happens sometimes, and a few browser refreshes makes it work again.

### Screenshots
![image](https://user-image

[2019-07-10 13:52] blowdart commented on #12007
The way Azure web apps proxies requests is different to how IIS and Windows hosting does it, and the issue shouldn't arise.

[2019-07-10 13:54] tuespetre commented on #11170
I was just wanting this exact functionality myself 👀

[2019-07-10 14:21] iAmBipinPaul opened #12046 "Blazor is unable to deserialize date in the case of pre-rendering When the date is not set explicitly"
Blazor is unable to deserialize date in the case of pre-rendering When the date is not stated explicitly

After  configuring pre-rendering on ASP.NET Core hosted it works as expected but when I'm configuring the part of the code where the date is being set, it throws an exception

[code]

Works

[code]

Does not work

[code]
sample project
https://github.com/iAmBipinPaul/Prerendering

[2019-07-10 14:23] iAmBipinPaul commented on #11756
Hi, @rynowak
 I have opened a new issue with a sample project.
https://github.com/aspnet/AspNetCore/issues/12046
Thanks!

[2019-07-10 14:34] warappa opened #12047 "SigninManager.ExternalLoginSignInAsync(...) Does Not Store Tokens"
### Description
I use **ASP.NET Core 2 Identity** with **OpenIdConnect** on **IdentityServer3**. After my external authentication callback is called, I use `signInManager.ExternalLoginSignInAsync(...)` to **sign in - and it works**.

What does *not work* is, that in the **next request** any call to `HttpContext.GetTokenAsync(...)` **fails** for any possible authentication-scheme (token "id_token")

[2019-07-10 15:19] pranavkm opened #12048 "PreserveCompilationReferences=false breaks runtime compilation in 2.x desktop targeting projects"
ref files are required for runtime compilation during build (`dotnet run`) on .NET Fx targeting projects. At the same time we want this flag off by default to avoid copying ref assemblies in .NET Core targeting projects. The plan is to

* Set PreserveCompilationReferences = false in the RazorSDK props file
* Set PreserveCompilationReferences = true in the RazorSDK targets file if you’re targeting

[2019-07-10 15:21] pranavkm commented on #12048
cc @mkArtakMSFT \ @rynowak \ @nguerrera

[2019-07-10 15:41] mkArtakMSFT commented on #11950
@shirhatti can you please look into this?

[2019-07-10 15:44] nthanhcong0 opened #12049 "Html.PartialAsync is rendering name of input different with Partial Tag Helper"
### Describe the bug
Html.PartialAsync is rendering name of input different with ```<partial>``` Tag Helper

### To Reproduce
Steps to reproduce the behavior:
1. Action return a Parent View with Model as below:
[code]

2. ChildDataViewModel structure
[code]

3. In Parent View, use either one of below to render a partial with ChildDataViewModel as data:
[code]
    Or
[code]

4. The Html.PartialAsyn

[2019-07-10 15:46] #11727 closed

[2019-07-10 15:47] rynowak commented on #11727
Thanks @wu-yafeng

[2019-07-10 15:48] mkArtakMSFT commented on #12035
Thanks, @Homey-ka.
Please provide the result of `dotnet --version` and `dotnet --info` from within folders of both projects.
Also, here is an article about Runtime Compilation, in case it helps: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-2.2

[2019-07-10 15:49] Tratcher commented on #11980
Conceptually I agree, but people end up with pretty complex configs and being overly prescriptive would likely prevent them from using this middleware. We focus on secure defaults and try to explain the implications of changing them.

Also, the security implications are only as severe as how you utilize the results. It's one thing if you're using the client IPs for telemetry, but quite another if

[2019-07-10 15:54] SteveSandersonMS opened #12051 "On each circuit connection up, update the User in authentication state"
This is for server-side Blazor and will address most of the issues with using Windows authentication.

Currently the built-in internal default `FixedAuthenticationStateProvider` assumes the authentication state is fixed for the lifetime of the circuit, as its name implies. However this isn't adequate for Windows authentication, as the `WindowsPrincipal` is connected to underlying OS services and c

[2019-07-10 15:54] anurse commented on #9401
Ah, I see now. The initial issue wasn't clear on which scenarios were affected but it looks like if I isolate to Windows, there is still a regression:

![image](https://user-images.githubusercontent.com/7574/60984288-52696380-a2f0-11e9-8238-9111daea0519.png)

[2019-07-10 15:55] anurse commented on #9401
ConnectionClose appears to be the one with the clearest regression. Many scenarios have no regression, Plaintext (and it's variants) has one.

[2019-07-10 15:59] rynowak commented on #12051
How would this work for long-polling though? Since one SignalR connection spans multiple requests that implies that each message (and each long-polling request) has its own principal. Does SignalR do something special here?

[2019-07-10 16:03] BrennanConroy commented on #12051
Yes, we clone the `HttpContext` and do some special logic for Windows auth.
https://github.com/aspnet/AspNetCore/blob/28f9816d46131c7381e9cadfd47e5c844f0b6fc4/src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs#L495

[2019-07-10 16:07] #11978 closed

[2019-07-10 16:13] cnich1234 opened #12052 "The element system.weServer has invalid child element 'cors'"
The element system.weServer has invalid child element 'cors'.

1. Using .Net Core 2.2
2. Create web.config
3. Install IIS Cors Module 1.0
4. Restart PC
5. Add <cors></cors> to system.webServer
6. See error: The element system.weServer has invalid child element 'cors'.

I would expect system.webServer would know of the element <cors>

Please advise.

Thank you

Chris

[2019-07-10 16:14] Tratcher commented on #11973
There are already multiple logs here.
https://github.com/aspnet/AspNetCore/blob/7a1b867d394040533d478e14d65d963248377d6b/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs#L114
https://github.com/aspnet/AspNetCore/blob/7a1b867d394040533d478e14d65d963248377d6b/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs#L178

And response details:
https://github.com/aspnet/AspNetCore/bl

[2019-07-10 16:18] aherrick commented on #12000
@SteveSandersonMS Is there anyway I can create a unique `FieldIdentifier.FieldName` so on the back end when validation occurs I can distinguish between the following:

[code]

Both just register as `DataValue`  so I can't programmatically match the field up to the validation message I'm generating (using FluentValidation)

Thank you!

[2019-07-10 16:36] mkArtakMSFT commented on #12052
@shirhatti where should this go?

[2019-07-10 16:37] mkArtakMSFT commented on #12045
Thanks for contacting us, @GerritBergen.
It would help, if you could provide some more details and/or logs, if you have any.

[2019-07-10 16:38] mkArtakMSFT commented on #12045
Also, do you see any failed requests in the Network tab?

[2019-07-10 16:41] #11700 closed

[2019-07-10 16:44] ryanbrandenburg commented on #12038
Specifically what are the error messages you're seeing and/or expected vs actual results.

[2019-07-10 16:47] shirhatti commented on #12052
@cnich1234 Can you share your appHost.config and web.config and the the error you are seeing?

[2019-07-10 16:47] mkArtakMSFT commented on #12044
Thanks for contacting us, @marcelovidigal.
You have to create the `EditContext` yourself to do this. We're going to use this issue to improve the docs to include such an example.

[2019-07-10 16:47] Tratcher commented on #11305
I agree middleware isn't going to work, the pipe can be adapted multiple times in arbitrary places.

Adding an event for this is going to introduce more ordering and state issues. E.g. events would have to fire in reverse registration order (stack) to mimic pipeline order, and each middleware would have to track if its event was fired before the pipeline started to unwind and avoid double work.  W

[2019-07-10 16:49] GerritBergen commented on #12045
Running in Edge Dev gives a bit more info. Most of the dll files are returning 304.
As of this run, Mono.WebAssembly.Interop.Dll & Microsoft.AspNetCore.Components.Browser.Dll shows (cancelled) in the status column. But that's just the weird thing, this changes with each refresh. Sometimes they all come in. Other times more/different ones show cancelled.

![Annotation 2019-07-10 124511](https://use

[2019-07-10 16:51] Tratcher commented on #11973
Note TokenValidationFailed defaults to Information level so the customer may have been filtering it out.

[2019-07-10 16:51] mkArtakMSFT commented on #12043
This issue was moved to mono/mono#15649

[2019-07-10 16:51] #12043 closed

[2019-07-10 16:53] Tratcher commented on #11920
FYI @ugookoro there are logs for this scenario (see https://github.com/aspnet/AspNetCore/issues/11973#issuecomment-510128977) but they're Information level logs which are filtered out for Microsoft.* by default. If you adjust your log levels in appsettings.json do you see the expected logs?

[2019-07-10 16:53] shirhatti commented on #12052
@mkArtakMSFT IIS CORS isn't on GitHub, so there's no where for me to move the issue to. I'll attempt to resolve it here.

[2019-07-10 17:01] shirhatti commented on #11950
My best guess from reading this issue is that your application "shutting down" randomly is actually your application crashing.

I would look to see if there are events in the EventLog when your application crashed/shut down.

If so, I highly recommend enabling Windows Error Reporting (WER) to capture a dump when your process crashes- https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis

[2019-07-10 17:02] anurse commented on #11973
Agreed, we should have sufficient logs here already.

[2019-07-10 17:02] #11973 closed

[2019-07-10 17:08] cnich1234 commented on #12052
I do not have an appHost.config file in my .net  core project. Is this a specific config for IIS that would be located elsewhere?

There is an applicationHost.config located here: C:\Windows\System32\inetsrv\Config

**Error:** The element system.weServer has invalid child element 'cors'.

Here is the web.config located in my project:

[code]

[2019-07-10 17:08] javiercn opened #12054 "[Blazor] StartCircuit should check for an existing circuit."
We should not allow StartCircuit to be called more than once and in case a circuit exists, simply render any non prerendered component and return.

Otherwise I can create multiple circuits by just spamming StartCircuit.

[2019-07-10 17:11] javiercn opened #12055 "[Blazor] Sanitize unhandled exceptions on Componenthub"
When there is an unhandled exception on the ComponentHub we simply return the exception. We should sanitize the same way we do for JS interop exceptions.

[2019-07-10 17:11] shirhatti commented on #12052
That's the one

[2019-07-10 17:12] rynowak commented on #12054
What data do you have that helps us understand the priority of this?

[2019-07-10 17:13] javiercn opened #12056 "[Blazor] Incorrect batch acks should not produce warnings"
We should log them as info events as otherwise the server logs get easily spammed with warnings

[2019-07-10 17:13] cnich1234 commented on #12052
[code]

[2019-07-10 17:16] javiercn opened #12057 "[Blazor] Harden start circuit"
Sending invalid parameters to start circuit shouldn't cause unhandled exceptions on the server. Instead, we should gracefully return an error to the client.

Otherwise we can spam the log with warnings.

[2019-07-10 17:16] shirhatti commented on #12052
Nothing really seems amiss to me. @bangbingsyb 	Any ideas?

[2019-07-10 17:17] javiercn opened #12058 "[Blazor] Convert event ids to longs"
We want to do this for components and event ids to prevent the chances of wrapping around ids on components and events.

[2019-07-10 17:22] rynowak commented on #12056
Should it be debug instead then? Info is still going to appear in logs for most folks.

[2019-07-10 17:24] bangbingsyb commented on #12052
Who raised "Error: The element system.webServer has invalid child element 'cors'"? IIS or ASP.NET Core? Can we capture an IIS failed request tracing (FREB) log for the repro?

[2019-07-10 17:27] javiercn commented on #12056
I think so

[2019-07-10 17:28] cnich1234 commented on #12052
It is not an error, it is a green warning under the cors element in the web.config. But when I deploy it to IIS or run in visual studio it errors out with 501.19 Internal Server Error.

![image](https://user-images.githubusercontent.com/52754365/60990501-6cf60980-a2fd-11e9-864e-e31e872549b4.png)

[2019-07-10 17:31] cnich1234 commented on #12052
![image](https://user-images.githubusercontent.com/52754365/60990687-d37b2780-a2fd-11e9-9a60-9006bbcdc1e3.png)

[2019-07-10 17:32] javiercn commented on #12054
I invoked StartCircuit repeatedly with Ignitor and saw it create multiple circuits.

[2019-07-10 17:38] mfish0005 commented on #12008
Yes I'm using Visual Studio to develop the application.  I wanted to do everything from WSL but I couldn't figure out how to get it working so I just went back to VS.

Anyways I removed the old Windows cert, added the new one to the Trusted Root Store, restarted, and ended up getting the same error.

I tried to run the project from Visual Studio using various web servers/build targets.
Docker: Pro

[2019-07-10 17:40] javiercn commented on #12054
![image](https://user-images.githubusercontent.com/6995051/60991285-1b4e7e80-a2ff-11e9-8a86-f0bbd45d7969.png)

[2019-07-10 17:40] jbartolome commented on #7479
Hello, regarding the solution that @shishir28 provided, is there any example code on how you enabled the DataProtection and PresistKeysToSqlServer in your Startup.cs file? I'm running into the exact same issue with the same type of configration. Any help is appreciated!

[2019-07-10 17:47] GerritBergen commented on #12045
Probably useless information because it's minified JS, but this is where the error occurs in blazor.webassembly.js:
![Annotation 2019-07-10 134556](https://user-images.githubusercontent.com/29714139/60991776-2dd5b180-a319-11e9-8407-c5f91187668f.png)

[2019-07-10 17:48] anurse commented on #12008
Docker is going to be a similar situation. The dev cert needs to be present in the docker container. I'm not sure what, if any, guidance we have for that aside from just disabling dev-time SSL for that scenario (not ideal, but it would avoid the problem...).

Hrm, that indicates that the dev certs tool isn't seeing the cert you imported into Windows as a valid dev cert.

Perhaps it's good to do a

[2019-07-10 18:09] pranavkm opened #12059 "[Blazor] Investigate RuntimeDependenciesResolver behavior"
Debugging it, it looks like it does not correctly inspect all transitive dependencies. For instance, Blazor.HttpClient was added as a new dependency to StandAloneApp, but it does not show up in the `FindsReferenceAssemblyGraph_ForStandaloneApp` test.

[2019-07-10 18:14] javiercn commented on #12008
Docker is handled by the tool and VS. They export the cert from the local machine and map it into the container at the right place.

[2019-07-10 18:19] mkArtakMSFT commented on #12045
@SteveSandersonMS do you have any recommendations regarding this?

[2019-07-10 18:21] glennc commented on #12013
I assume that the working directory, and as such `GetCurrentDirectory`, is `system32` and as such you want something like `System.AppDomain.CurrentDomain.BaseDirectory` or `System.Reflection.Assembly.GetEntryAssembly().Location` to give you where the actual executing binary is.

[2019-07-10 18:37] artem-hryb commented on #8652
@bmikkelsen22 , I can see this issue as well. I am getting InvalidToken.  Setting `options.TokenLifespan = TimeSpan` did not help me.

[2019-07-10 18:37] BretMishler opened #12070 "The "FindAssembliesWithReferencesTo" task failed unexpectedly after Visual Studio 2019 update"
I keep a vanilla copy of a brand new server+client Blazor project following the instructions on [Microsofts docs](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio) so that way when something breaks after an update in a larger project, I can come to this one to try and more easily troubleshoot.

It looks something like this: https://github.com/B

[2019-07-10 18:40] SteveSandersonMS commented on #12045
It definitely appears to be a problem with serving files to the browser, not a problem with any code running inside the browser. This is separate from Blazor I'm afraid.

You'll need to figure out why your server is unable to send static files to your browser.

[2019-07-10 18:42] mikaelm12 commented on #11995
After a quick investigation, it looks like we need some more locking. Moving this into preview 8

[2019-07-10 18:47] ajaybhargavb commented on #5637
@Faolan-dimplex, are you on the latest preview? This issue has already been fixed.
If you are still seeing this issue on the latest release, please create a new issue and provide us a simple repro project.

[2019-07-10 18:47] jbartolome commented on #9887
@blowdart I'm running into the exact same problem. Should I open a new issue for this since this one is closed?

Thanks,
Jennifer

[2019-07-10 19:12] anurse commented on #9237
Apologies for the delay, we're catching up a bit on some backlog.

Can you clarify a little what the expected behavior is and what you're actually seeing? When you use `new WebHostBuilder` instead of `WebHost.CreateDefaultBuilder` you do lose a lot of the [default configuration provided in that default builder](https://github.com/aspnet/AspNetCore/blob/f9ca0ffd7103380625ce473d0c599c57ca985e19/src/

[2019-07-10 19:13] anurse commented on #10020
Backlogging for 3.1 (this is a perfect candidate for the kind of paper-cut reduction work we want to do there). We do need to define how we'd measure "wait time", or just skip it for now.

[2019-07-10 19:16] anurse commented on #11050
@davidfowl @Tratcher we need to find the minimal thing needed in 3.0 as time is running very short. Can we do this in 3.1, since we weren't actually going to remove anything, just obsolete it?

[2019-07-10 19:17] anurse commented on #12013
Perhaps `UseWindowsService` should change the content root to `AppContext.BaseDirectory`. As you said, the current directory isn't really useful in that context...

[2019-07-10 19:21] blowdart commented on #9887
@jbartolome Let's reopen this one.

Can I get the startup.cs, with any secrets removed as a starting point?

[2019-07-10 19:22] GerritBergen commented on #12045
Do you have any suggestions as to what could cause that?

[2019-07-10 19:33] AndersMalmgren commented on #9237
The problem is that the service fabric project template uses 'new WebHostBuilder' and it's very easy to miss this which we did. I suggest all templates should work the same and use 'CreateDefaultBuilder'.

The second problem is that app insight do not use DI to receive the 'IConfiguration' they instead try to resolve the .JSON config file. I suggest you unify behaviour across all Core frameworks a

[2019-07-10 19:35] Tratcher opened #12060 "Refactor session to not require middleware"
Session uses middleware for two things:
A) Adding the ISessionFeature when the request arrives
B) Committing the session when the pipeline unwinds

This causes ordering issues that surface as exceptions from the HttpContext.Session getter.

A could be refactored into HttpContextFactory, like how we do initialization for the form reader.
B could be replaced by registering with the OnCompleted event

[2019-07-10 19:38] SteveSandersonMS commented on #12045
It could be that your web server is faulty or misconfigured in some way, your browser is faulty or misconfigured in some way, or that some other thing such as anti malware software is interfering. I’m afraid that’s all I can suggest.

[2019-07-10 19:38] vankampenp commented on #9887
Here is mine:
[code]

[2019-07-10 19:50] stavroskasidis opened #12061 "[Blazor] Support for wasm blazor integration with existing mvc app"
### Is your feature request related to a problem? Please describe.
While I was experimenting on embedding blazor client side (wasm) in an existing mvc app, it seems that it is close enough to be easily implemented, however some changes are needed to have this scenario supported (in which I am very interested).

For example, the following scenario kinda works:

_**Having 2 projects, an mvc core app

[2019-07-10 19:59] stavroskasidis commented on #9938
@3x0dv5

You don't have to limit yourself. You can start with razor pages or mvc and when core 3.0 comes out, you can start gradually and at your own pace integrate components in your existing razor pages or mvc views.

[2019-07-10 20:01] GerritBergen commented on #12045
A bunch of debugging later, I found this error in my server console right when the browser fails.

Not really sure what's going on, but **disabling Http2** made the issue go away for me.
Not ideal, but I think I'll stick with that for now.

Thanks for your help

[2019-07-10 20:19] chrdlx opened #12063 "ServerSide Blazor - Dispose method doesn't get called on App.razor (Preview 6)"
### Describe the bug
-I'm using Preview6 default Server Side Blazor Template.

-I've found that if the App.razor component implements IDisposable, and you provide a Dispose() method, it doesn't get called at all **when you close the browser window**.

-This doesn't happen with other components, like index or counter, in which Dispose() method is called as expected when IDisposable is implemented a

[2019-07-10 20:35] SidShetye commented on #10335
There is a related [ticket open](https://github.com/aspnet/AspNetCore.Docs/issues/11318) on the ASP.NET documentation about API security of an ASP.NET api application using IdentityServer (plus an SPA using said APIs).

The current VS templates are using the deprecated OAuth2 `implicit flow` instead of the OAuth2 OIDC `PKCE` flow. OAuth 2 is fairly complicated so if the ASP.NET API + authenticatio

[2019-07-10 20:35] Will-Bill commented on #3176
if anyone is getting err_too_many_redirects and they are using CloudFlare, make sure SSL is set to Full and not Flexible under Crypto settings.

[2019-07-10 20:46] anurse commented on #9237
That may be the case. The service fabric template is, I believe, owned by the service fabric team (cc @glennc). I'd suggest filing a VS Feedback issue (through the feedback icon in the top right of Visual Studio).

Similarly, App Insights owns that experience. I suggest reaching out to them at https://github.com/microsoft/applicationinsights-aspnetcore .

Closing as there's no action for ASP.NET C

[2019-07-10 20:46] #9237 closed

[2019-07-10 20:51] Pilchie commented on #10335
Ping on this, since it's currently in Preview7, which doesn't seem likely at this point.

[2019-07-10 20:52] ablaze8 commented on #8122
If someone stumbles upon this page, another possible reason is your app settings JSON file is not formatted correctly. Yes that'd do it! Open your web.config and enable logging `stdoutLogEnabled="true"`

[2019-07-10 20:53] Pilchie commented on #10299
@anurse do you know who could take a look at this?

[2019-07-10 20:53] Pilchie commented on #7190
Putting into Preview 8, but it may be too late for this, as it would be a breaking change to remove these :(

[2019-07-10 20:54] Pilchie commented on #7280
@JunTaoLuo Should this be closed now, or still tracking the checkboxes above.?

[2019-07-10 20:55] Pilchie commented on #4019
Moving to Preview 8.

[2019-07-10 20:58] JunTaoLuo commented on #7280
Yes there are a few follow up issues to be addressed so I'm keeping this issue around as a reminder.

[2019-07-10 21:06] chrdlx commented on #12063
After more testing I've discovered that refresing the browser with CTRL+F5,  eventually,  after approximately 50 refreshes   the Dispose method starts getting called.

[2019-07-10 21:11] #11432 closed

[2019-07-10 21:19] anurse commented on #10299
@HaoK has done some work here before, and I could find someone, but we're pretty fully booked for preview 8 so it would likely increase risk in other areas. There is a workaround posted, which doesn't at all remove the need to fix this but perhaps indicates that it could be a candidate for 3.1 (which isn't far after 3.0 anyway)

[2019-07-10 21:22] sbomer opened #12064 "Compiled views don't get processed by the IL linker"
### Describe the bug
https://github.com/mono/linker/issues/652

PublishTrimmed=true breaks ASP.NET Core applications, because the Razor SDK adds the Razor compiled view assembly to the itemgroup ResolvedFileToPublish, *after* the same itemgroup gets processed by the linker. The result is that the linker does not see the views assembly, and removes dependencies needed by it.

See the bug above for

[2019-07-10 21:31] rynowak opened #12066 "Add an analyzer for pubternal"
We want to create an analyzer that squiggles usage of pubternal code exposed by ASP.NET Core.

EF has an existing analyzer for this that we want to reship for `Microsoft.AspNetCore.Analyzers`.

[2019-07-10 21:33] rynowak commented on #12064
I worked with @sbomer - to try and figure this out, basically we should fix this because without it the `.Views` assembly is not being considered properly, so stuff that's only used in views won't be rooted.

[2019-07-10 21:43] davidfowl opened #12067 "Make doc comments required on public APIs"
Now that we've moved away from pubternal APIs we should make it required to have public documentation on these APIs.

[2019-07-10 21:45] leopignataro opened #12068 "ProtectKeysWithCertificate cannot find self-signed certificates"
Dear .NET Core team,

It seems that `DataProtectionBuilderExtensions.ProtectKeysWithCertificate(StoreLocation location, string thumbprint)` cannot find self-signed certificates (either on the current user or local machine stores).

I generated a self-signed certificate using Powershell:

[code]
Which outputs something like

[code]

Then, on my ASP.NET Core 2.2 app, I'm doing:

[code]

This results

[2019-07-10 21:51] bobekhj commented on #6075
What implications does this have on the running application? I am running 2.2 and need PreloadEnabled set to true. My app seems to be running without an issue even though I get this error when the application starts.

[2019-07-10 22:04] ajaybhargavb commented on #11011
I looked more deeply into this. The reason for this error in design time is because of,
[code]

This is not specific to javascript event handler attributes like `onclick`. It happens for pretty much any attribute where we pass in a method group as the attribute value.

`<button random="@Activate">Activate</button>` will have the same error. This is the behavior we've always had. And now javascript

[2019-07-10 22:06] mjohn commented on #10782
Is there any specific format for Unix Socket URLs? I looked at other libraries, [request](https://github.com/request/request) uses `http://unix:SOCKET:PATH` as pattern.

- Example for Unix that perfectly matches with pattern:
 Url: `http://unix:/tmp/kestrel-test.sock`
Socket: `/tmp/kestrel-test.sock`
Path: ``

Above pattern is not going to work as expected in windows because absolute path needs a

[2019-07-10 22:10] jkotalik commented on #6075
It shouldn't have any implication on the running application. It just gives a false positive for an exception.

[2019-07-10 22:27] danmosemsft commented on #11804
I see in the log above 2 typos from Kestrel:
https://github.com/aspnet/AspNetCore/search?q=Http2OutpuProducer&unscoped_q=Http2OutpuProducer

[2019-07-10 22:51] IanMercer commented on #9151
I have also seen this issue when two webapi projects were deployed to a single app service. In the `/LogFiles/eventlog.xml` file contains *The command line `dotnetfailed to start process with commandline 'dotnet .\<project1>.dll .\<project2>.dll' , ErrorCode = '0x8027025b', ...*

Maybe worth checking this after you've tried all the other reasons for Error 502.5.

[2019-07-10 23:05] steveoh opened #12071 "building the dotnet new react template always creates a production build"
## Describe the bug

I cannot figure out a way to modify the csproj created by the dotnet new template to allow for other configurations of CRA builds to be created.

It is [documented](https://facebook.github.io/create-react-app/docs/deployment#customizing-environment-variables-for-arbitrary-build-environments) in the react community to set the environment before a build is created e.g.

`./node_

[2019-07-10 23:09] benaadams commented on #11804
https://github.com/aspnet/AspNetCore/pull/12072

[2019-07-10 23:27] HaoK commented on #11883
@vijayrkn I think this is mostly a question for you as I think this logic would need to go in the scaffolder code side of things as opposed to something in the content.

[2019-07-10 23:30] Bartmax opened #12073 "Blazor: Static assets not found when using server/client projects at publish. [Includes workaround]"
### Describe the bug
referencing a file like `<img src="/images/test.jpg" />` will work on development but not when publishing.
This means that you cannot dev and publish your project and reference the same files using the same request path, making the dev experience and publishing a pain.

### To Reproduce
Steps to reproduce the behavior:
1. Use preview-6
2. add img tag on a .razor component that

[2019-07-10 23:31] HaoK commented on #11881
@vijayrkn Is this something we can do easily?  We'd have to basically lift the logic out of https://github.com/aspnet/Scaffolding/blob/master/src/VS.Web.CG.Mvc/Templates/Identity/Bootstrap4/IdentityHostingStartup.cshtml

I think the idea is `if (!Model.IsUsingExistingDbContext)`, evaluates to false, we want to skip generating this file entirely

[2019-07-10 23:33] HaoK commented on #11405
Feel free to submit a PR, I think its perfectly reasonable to add the AuthenticationProperties to ExternalLoginInfo as you suggest

[2019-07-10 23:35] bchavez commented on #11405
Fantastic, thank you. I'll have a PR ready for you soon.

[2019-07-10 23:35] HaoK commented on #11405
Also, the workaround of calling Authenticate on the external cookie directly is not that bad, that work is cached so a second call should be fast

[2019-07-11 00:21] trampster opened #12075 "Utf8BufferTextReader doesn't handle utf8 characters that span multiple parts"
### Describe the bug
UTF8 characters are variable length,
ReadOnlySequence  can be made up of multiple parts. This means a single utf8 character can be split across two Span<byte>.
However the code does not allow for this, in fact it my reading of the code is that the Read method will get stuck returning 0 (not reading anything) no matter how many times you call it.

This is because it grabs the f

[2019-07-11 00:37] mikaelm12 opened #12076 "Check HubConnectionState before sending StreamInvocation"
We're currently not checking the connection state before sending stream invocations on the Java client.
Semi related to: https://github.com/aspnet/AspNetCore/issues/11995
Probably will fix at the same time but wanted to be sure to track it.

https://github.com/aspnet/AspNetCore/blob/f9ca0ffd7103380625ce473d0c599c57ca985e19/src/SignalR/clients/java/signalr/src/main/java/com/microsoft/signalr/HubCon

[2019-07-11 01:24] iAmBipinPaul commented on #12046
Same exception on corefx repo
https://github.com/dotnet/corefx/issues/38568#issuecomment-503405420

[2019-07-11 01:26] #12075 closed

[2019-07-11 01:31] blowdart commented on #12068
@GrabYourPitchforks This was your original design. I have no skin here, now we have the key decryption working with keys loaded from disk.

[2019-07-11 01:37] blowdart commented on #9887
@vankampenp Did you try setting a static application name? I want to rule out the easy stuff first

[code]

You shouldn't need `StartupDataProtection instance = ActivatorUtilities.CreateInstance<StartupDataProtection>(app.ApplicationServices);` any more unless you're on 1.x which went out of support this month. If that's the case please consider upgrading to 2.1 or 2.2 as quickly as you can.

[2019-07-11 01:46] ejsmith opened #12079 "WebApplicationFactory will not resolve scoped services"
### Describe the bug
I am using the `WebApplicationFactory` in my integration tests and it will not resolve any scoped dependencies saying that it can't resolve from the root. That makes sense except that this exact same scenario worked before when I was using the older `MvcWebApplicationBuilder` for my integration tests. I narrowed it down and have created a repro that shows that if I create a de

[2019-07-11 02:07] leopignataro commented on #12068
@blowdart thank you for answering!

For us, the option of loading from the user or machine store is more appealing than loading from a PFX file because we can instruct customers installing our applications to:

1. Generate a self-signed certificate on a PFX file with a strong password
1. Import the certificate **as non-exportable** to the user or machine store
1. Backup the PFX file out of the ser

[2019-07-11 02:47] captmomo opened #12080 "[SignalR] Cannot access a disposed object. Object name: 'SocketsHttpHandler'."
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.

I am trying

[2019-07-11 03:13] #11970 closed

[2019-07-11 03:13] fagnercarvalho commented on #9151
I'm getting this as an intermittent issue for almost one month right now and I don't know how to fix it. To reproduce this issue I'm killing the process where the app is running and then trying to access the site again. After doing this sometimes I will get this error and I don't know why.

[2019-07-11 03:23] rynowak opened #12082 "Blazor API Review: JS Interop"
## Summary

`Microsoft.JSInterop` is a library that supports bi-directional interop between .NET and JavaScript.

.NET code uses the `IJSRuntime` or `IJSInProcessRuntime` interface to dispatch calls to JavaScript.

JavaScript runtimes call into .NET through the `DotNetDispatcher` class.

## .NET API

[code]

## TS API

[code]

[2019-07-11 03:27] fagnercarvalho commented on #9151
I believe I finally resolved my issue. I used [this ](https://github.com/aspnet/AspNetCore/issues/8122#issuecomment-469062247) as a reference to set the `ASPNETCORE_PORT` environment variable. I know this is not a good approach but at least this is working now.

Here is my web.config:

[code]

What seems to be happening in my case is that a lot of ports in the range 1025 - 48000 (the ports used by

[2019-07-11 03:54] rajeshamara opened #12083 "Unable to find Microsoft.AspNetCore.Authentication.Certificate Nuget package"
I am trying to configure authentication based on client certificates for ASP.NET Core 3.0 per example https://docs.microsoft.com/en-us/aspnet/core/security/authentication/certauth?view=aspnetcore-3.0#configure-certificate-validation. This requires "CertificateAuthenticationOptions" as part of the configuration which not found as it is part of the Microsoft.AspNetCore.Authentication.Certificate Nug

[2019-07-11 03:59] #12083 closed

[2019-07-11 03:59] rajeshamara commented on #12083
Able to install the package using the package manager console

[2019-07-11 04:33] mkArtakMSFT commented on #12045
@anurse FYI

[2019-07-11 05:32] rahamohebbi commented on #7363
I don't know why but I am having exactly the same issue. I followed all the steps in intro and here it is. The same compilation problem.

`Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0246	The type or namespace name 'App' could not be found (are you missing a using directive or an assembly reference?)	Crawler	C:\Users\raham\source\repos\Crawler\Crawler\Startup.cs	14	Active

[2019-07-11 05:36] danroth27 commented on #7363
@rahamohebbi What does the output of `dotnet --info` say?

[2019-07-11 05:44] rahamohebbi commented on #7363
`dotnet --info                                                                                                                                                                                                                                               .NET Core SDK (reflecting any global.json):

[2019-07-11 05:49] danroth27 commented on #7363
@rahamohebbi It looks like your active .NET Core SDK version is 2.2. Blazor requires the .NET Core 3.0 SDK. You can get it from here: https://aka.ms/netcore3download.

[2019-07-11 06:10] davidfowl commented on #10782
Maybe something like this:
[code]
Maybe a bit unnatural as a windows user but easier for parsing?

[2019-07-11 06:37] mjohn commented on #10782
agree, it's much easier, because UnixPipeHostPrefix has `/` at the end. It won't need to be edited.

https://github.com/aspnet/AspNetCore/blob/4ef204e13b88c0734e0e94a1cc4c0ef05f40849e/src/Http/Http/src/BindingAddress.cs#L11

Thank you.

[2019-07-11 08:23] mathiassiig commented on #11898
Thanks, that did the trick!

[2019-07-11 08:23] #11898 closed

[2019-07-11 08:45] fadamsen commented on #12007
@blowdart If that is the case, could you update the advisory to include this as a mitigating factor?

[2019-07-11 08:57] gfoidl commented on #12066
https://github.com/aspnet/Extensions/pull/345 also introduced such an analyzer -- but I don't know if this one can be used here.

[2019-07-11 09:34] andreujuanc opened #12085 "[AzureADB2C] AddAzureADB2C options"
Hello!

### Is your feature request related to a problem? Please describe.
AddAzureADB2C calls AddOpenIdConnect and AddCookie and in both methods the option actions is hardcoded like so: o => { }.
I cannot have my own implementation of AddAzureADB2C because some of the classes are internal.

### Describe the solution you'd like
It'd be nice if they could be passed as an argument of one of the over

[2019-07-11 09:36] CodeTherapist opened #12086 "Proposal: Packages for shared framework assemblies in 3.0"
Discussion for issues: #3757, #3756 and [aspnet/Announcements/326](https://github.com/aspnet/Announcements/issues/325),

Unfortunately I didn't see any of those issues and wasn't aware of that breaking change - otherwise I had commented on the original discussion issue.

Before I start explaining my proposal, I want to ensure that everyone is aware that I like in general how the whole .NET ecosyst

[2019-07-11 10:17] enetstudio commented on #12044
I guess this can help you solve your issue...
[code]
Source:  https://github.com/aspnet/AspNetCore/blob/993d943aec5c8bd590524d56b0c8cdec27032767/src/Components/Components/src/Forms/EditForm.cs

[2019-07-11 10:28] vankampenp commented on #9887
Thanks Barry. I am on 2.2. (2.2.6 after the security advisory yesterday).
I will give that a try. The part was inserted in 1.1 after we had some issues. I tried removing it later, but it still occurred. I will report back whether the static application name helps eliminating the GeneratePasswordResetToken issue.

[2019-07-11 10:34] MichaelSpranger commented on #4330
You are not going to fix it?

[2019-07-11 10:53] KPatel91 commented on #5017
@sotoabraham thanks for this - it's a bit strange that this is still an issue but indeed on netcore2.2 my project uses SpaServices tag helper and if I remove it, I have no issues debugging / even having cshtml files open.

It's a weird one that's plagued my new clients project for years but nobody has ever bothered looking into it, their workflow has literally been "place your breakpoint, close th

[2019-07-11 11:11] vishnupv commented on #12070
I am having the same issue. I think my issue have something to do with Dot Net framework being lower.

[2019-07-11 11:13] add1ct3dd commented on #5139
Is there any progress on this? Still getting the same issue and we cannot upgrade Node version due to this.

[2019-07-11 11:23] iAmBipinPaul commented on #12073
[Blazor] Preview 6 blazorhosted project publish is broken https://github.com/aspnet/AspNetCore/issues/11185

[2019-07-11 11:49] SeriousM opened #12087 "Endpoint not loaded from ApplicationPart"
### Describe the bug

Using AddMvcCore and then adding a ApplicationPart does not populate the EndpointOptions.

I guess the problem is that the endpoint options are created via AddRouting() which is called inside the AddMvcCore but can't take any further ApplicationParts into account because they can only be added after AddMvcCode.

### To Reproduce
Steps to reproduce the behavior:
1. Using versi

[2019-07-11 12:28] jhawkesworth commented on #11885
In our case, it transpired a dll needed to update as it was hanging while attempting to connect to a downstream system.   I guess we needed to have had logging configured earlier in the startup process too.

[2019-07-11 12:34] blowdart commented on #12007
I'll do some more investigation first to be 100% sure.

[2019-07-11 12:39] blowdart commented on #12085
@jmprieur

[2019-07-11 13:05] aherrick opened #12088 "Blazor Server Side Localization not working"
Trying to stand up a super simple example of Blazor Server Side with Localization/Translation support.

I posted the spike here: https://github.com/aherrick/BlazorServerSideLocalization

It appears in my `Index.razor` view `@inject IViewLocalizer L` is always null. I have a `Resources` folder with a `Pages.Index.en.resx`

[2019-07-11 13:16] markusschaber commented on #12007
Is there any information whether Kestrel in ASP.NET Core 2.1 hosted behind NginX or AWS ALB affected (on Linux, no Windows/IIS)?

[2019-07-11 13:29] davidfowl commented on #12086
I can tell you we're not going to fundamentally change anything this late in the release cycle but here's my feedback regardless.

It's not clear exactly what this means. Framework references are expressed in the nuspec. Are you talking about acquisition?

This is a benefit but are you ok downloading a new dotnet when you need a new version of the framework itself? Why is ASP.NET Core any differen

[2019-07-11 13:39] KirylZotkin opened #12089 "ASP.NET Core 2.2 issue with setting up http/2 endpoint on Kestrel via code"
### Describe the bug
I want to set up http/2 endpoint on Kestrel. It only works if I do configuration in appSettings.json. Configuring the same settings from the code leads to serving requests via http1.1 only.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2.300
2. On Windows 10 Pro, x64, Version 1903 OS build 18362.239
3. Create WebHosting cert in IIS1

[2019-07-11 13:53] RredCat commented on #8149
In my mind, the current implementation is inconsistent a bit.
Check out code below:
[code]
When I call `Index`, the more strict policy is applied. (Admin user is required).
But when I call `Privacy` a 'closest' policy is applied. (Anonymous could view it).

[2019-07-11 14:03] bartdk-be commented on #9749
@anurse : Any idea when a fix will be available for 2.2 ?
Can we check link these issues to a realease notes site ?

[2019-07-11 14:09] SamuelDebruyn opened #12090 "SignalR HttpRequestException in release config (when optimize is enabled)"
### Describe the bug
I am trying to use the SignalR client in a Xamarin.Android app. It's a super simple chat app, based on the included samples. It listens to SignalR for receiving messages and sends a request to an Azure Function to submit a new message. It's attached to this issue.

### To Reproduce
Steps to reproduce the behavior:
1. Install `Microsoft.AspNetCore.SignalR.Client` version `3.0.0

[2019-07-11 14:11] SPWwj commented on #11745
this approach dont work for blazorhosted template.

[2019-07-11 14:26] SamuelDebruyn commented on #12090
The same happens with version 1.1.0

[2019-07-11 14:30] progmars commented on #4848
One more sad gotcha.

I've overridden all model binding messages with translations using ModelBindingMessageProvider.SetValueIsInvalidAccessor and other ModelBindingMessageProvider values to return my custom resource strings.

And then I discovered the dreadful truth. If my API controller receives the data as JSON, then ModelBindingMessageProvider validation messages are not being used at all. Ins

[2019-07-11 14:38] kieronlanning opened #12091 "Uploading a Large File And Timeouts"
How do we set the request timeout in a self-hosted ASP.NET Core app?

When a client tries to upload a large file, the request inevitably times-outs. I've found no-way of being able to set this reliably outside of all of the samples that rely on IIS.

I'm using ASP.NET Core 2.2.

(Ref: https://github.com/aspnet/AspNetCore.Docs/issues/13243)

[2019-07-11 14:43] Tratcher commented on #12085
Here's an example on how to configure the options for the underlying schemes:
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c?view=aspnetcore-2.2#configure-the-underlying-openidconnectoptionsjwtbearercookie-options

[2019-07-11 14:56] CodeTherapist commented on #12086
I understand this - never meant to change anything right now at this stage.
Thank you for your answers and time 😃 👍

Yes, I'm mainly talking about acquisition.

I would like to have the .NET Core framework the same way: also not to included into the SDK as well, but I thought that there are some technical restrictions and is not possible(?). Further the .NET Core itself is the base of all applicat

[2019-07-11 15:06] rynowak commented on #12066
Yeah, the logic for this will be similar, but it will ship in our main analyzers package. The goal is to warn *everyone* if they are using an unsupported API.

[2019-07-11 15:16] Haukinger commented on #4895
Unsure what being closed means here - will this ever be fixed?

[2019-07-11 15:16] rynowak opened #12092 "Investigate the CheckAccess pattern in Blazor"
See: https://github.com/aspnet/AspNetCore/pull/11930#discussion_r302599359

I suspect that this test isn't implemented correctly, and as a result it's possible to run work concurrently on the sync context.

[2019-07-11 15:19] a6datta commented on #11950
@shirhatti I understand and I will do as you suggested. However rapid fail protection is disabled within iis. Shouldn't that mean, in case of crash, a new worker process will fire up on next request. No matter how good you code sometimes the application may crash. I guess that's the reason why iis starts a new worker process. Correct me if I am wrong please.

[2019-07-11 15:21] AminMatio opened #12093 "webpack dev middlware"
I'm trying to use UseWebpackDevMiddleware in my project but having issue when using this middleware with Visual Studio which I reported the issue a few months ago and they evaluated the issue as "other products(Asp.Net) issue" [see this link to get more info about the report](https://developercommunity.visualstudio.com/content/problem/489866/nodeservice-not-working-correctly.html)

the problem  :

[2019-07-11 15:31] dcadlereii commented on #12013
Thanks to all who commented on this issue. As it turned out, the problem stemmed from that call to ConfigureSerilog() being before the Directory.SetCurrentDirectory(pathToContentRoot); When I moved ConfigureSerilog() after the Directory.SetCurrentDirectory(pathToContentRoot); it started working.

[2019-07-11 15:32] #12013 closed

[2019-07-11 15:34] Tratcher commented on #12089
Duplicate of https://github.com/aspnet/AspNetCore/issues/11833, try reversing the order:
[code]

[2019-07-11 15:40] #11354 closed

[2019-07-11 15:42] Tratcher commented on #11050
*shrug* either way. As you say, it's just guidance.

[2019-07-11 15:49] Tratcher opened #12094 "Server code sharing"
There's a fair amount of code duplication across Kestrel, HttpSys, and IIS that should be consolidated either via shared source or library.

E.g. PathNormalizer is a direct copy across all three servers:
https://github.com/aspnet/AspNetCore/blob/master/src/Shared/HttpSys/RequestProcessing/PathNormalizer.cs
https://github.com/aspnet/AspNetCore/blob/master/src/Servers/Kestrel/Core/src/Internal/Http/

[2019-07-11 15:58] xrkolovos commented on #8149
@RredCat You are right. That's a same thing.

[2019-07-11 16:24] AnthonyMastrean commented on #4103
In _some_ scenarios, passing the solution file to the `format` doesn't work correctly. I was setting up a VS Code custom task and it complained about the absolute path format:

**tasks.json**
[code]

**output**
[code]

It also didn't like this relative path format:

**tasks.json**
[code]

**output**
_(same error)_

It _only_ wanted the explicitly relative path format!

**tasks.json**
[code]

All t

[2019-07-11 16:33] Bartmax commented on #12073
For completeness and other with this issue, I include the complete workaround on server `Startup.cs` file.:

[code]

[2019-07-11 16:49] furqansafdar opened #12095 "Child components as Parent properties in Blazor"
How to create a `DataGrid` component that can specify `GridColumns` as shown in the code below:

    <DataGrid Items="@GridData">
        <DataGridColumns>
            <DataGridColumn Field="OrderId" Header="Order Id" Width="100"></GridColumn>
            <DataGridColumn Field="OrderDate" Header="Order Date" Width="120"></GridColumn>
        </GridColumns>
    </DataGrid>

`DataGrid` is a template

[2019-07-11 17:13] BrennanConroy commented on #12090
Can you consistently reproduce the issue?

Also is it possible for you to get the inner exception? There should be one of type `WebException` or `IOException`.

[2019-07-11 17:37] rynowak commented on #12066
That's probably the best area

[2019-07-11 17:42] shirhatti commented on #11950
Yes. A new worker should be started on next request. There isn't enough information here for me to ascertain why that isn't happening. Check Event Logs for more information

cc @jkotalik

[2019-07-11 17:45] mkArtakMSFT commented on #4895
Reopening as it seems there is enough involvement here to reconsider this.

[2019-07-11 17:55] mkArtakMSFT commented on #12087
Thanks for contacting us, @SeriousM.
@rynowak can you please look into this? Is the behavior the same in 3.0?

[2019-07-11 17:57] mkArtakMSFT commented on #12079
Thanks for contacting us, @ejsmith.
@javiercn can we do something here in 3.1?

[2019-07-11 18:02] mkArtakMSFT commented on #12071
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-07-11 18:02] mkArtakMSFT commented on #12071
Thanks for contacting us, @steveoh .
We'd happily consider a PR, if you'd like to send one.

[2019-07-11 18:07] mkArtakMSFT commented on #12049
Thanks for contacting us, @nthanhcong0.
This is done by-design and the behavior you see in the `PartialTagHelper` is intended. Our recommendation is to favor `<partial>` tag helper over the `Html.PartialAsync`. If you are looking for the exact same behavior from the `<partial />` you can use the `model` property as follows:
[code]

[2019-07-11 18:07] #12049 closed

[2019-07-11 18:08] mkArtakMSFT commented on #12041
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-07-11 18:09] mkArtakMSFT commented on #12018
Thanks for contacting us, @mholec.
This is a dupe of https://github.com/aspnet/AspNetCore/issues/7679

[2019-07-11 18:09] #12018 closed

[2019-07-11 18:14] mkArtakMSFT commented on #12005
Thanks for contacting us, @Icidis .
We believe this is fixed in Endpoint Routing in 3.0.
For 2.2 you can try to turn off Endpoint Routing (that will get you back to the conventional routing) and get a behavior that's compatible with 2.1.

[2019-07-11 18:14] #12005 closed

[2019-07-11 18:16] mkArtakMSFT commented on #11998
Thanks for contacting us, @GibbOne .
This is not something we've received many asks for. If, however, we hear many asks for this from the community, we may reconsider.

[2019-07-11 18:16] #11998 closed

[2019-07-11 18:18] SamuelDebruyn commented on #12090
Hi @BrennanConroy
I can consistently reproduce this on a Google Pixel 2 with Android 9 and a Google Pixel 2 with Android 10.

Inner exception below:
[code]

You'd think that it's a DNS issue, but that wouldn't explain why it does work in debug. Also, triple checked the hostname with my Azure Function app.

[2019-07-11 18:19] mkArtakMSFT commented on #11994
Thanks for contacting us, @manuelsidler.
This is not how the current validation subsystem works. You must use the `RequiredAttribute` to validate the value is not null first, then only the Validation logic will kick in.

[2019-07-11 18:19] #11994 closed

[2019-07-11 18:21] jkotalik commented on #11262
@anurse this is the only issue I'd be concerned about on my plate for preview8. We may need to fuzz the new formpipereader. I can make a quick PR to add a quirk mode to revert to the old one, but we should try to find the issue soon as this would be patch worthy.

[2019-07-11 18:22] mkArtakMSFT commented on #11985
Thanks for contacting us, @msft-mw.
@rynowak, @glennc can you please look into this? Thanks

[2019-07-11 18:25] mkArtakMSFT commented on #4330
@MichaelSpranger would you be interested in sending us a PR? We'd happily consider it.

[2019-07-11 18:30] niemyjski commented on #12079
This is a pretty messed up bug, would be nice to have this fixed in 2.x or even 3.0.

[2019-07-11 18:32] niemyjski commented on #12079
I stepped through this and I don't see any differences in how this is called, The reflection is correct but it breaks it. I also noticed that if I take the test case where it's working and add a call to `Environment.SetEnvironmentVariable` it breaks it too...

[2019-07-11 18:56] dougbu opened #12097 "Revert skipping of MusicStore tests"
Affected tests are all in `MusicStore.Controllers.ShoppingCartControllerTest`:
- `AddToCart_AddsItemToCart`
- `RemoveFromCart_RemovesItemFromCart`
- `Index_ReturnsCartItems_WhenItemsInCart`

See three skips that are soon-to-be added to #12042 for more information.

[2019-07-11 19:01] dougbu commented on #12097
Commit 28f8e1132b is now included in #12042

[2019-07-11 19:16] ejsmith commented on #12079
So it turns out that this boils down to the environment name that is configured. If you call `UseEnvironment(EnvironmentName.Production)` the scoped service works. But if you set it to UseEnvironment(EnvironmentName.Development)` the scoped service will not resolve saying that it can't resolve from the root container.

[2019-07-11 19:59] anurse opened #12099 "Consider a way to produce a network trace natively from Kestrel"
One issue we have when debugging issues deep within Kestrel is that we need a network trace in order to make progress. Asking a user to do this is difficult as it involves complex tools like Wireshark (or `tcpdump` on Linux, which is admittedly easier). It also gets very complicated in an HTTP/2 and TLS-by-default world since everything is encrypted.

We have the Connection Logging feature that al

[2019-07-11 20:08] anurse commented on #12045
Oof, that is a weird one. @GerritBergen would you be up for doing a little additional diagnostics here to see if we can track down the server issue? I'm glad disabling HTTP/2 worked for you but would like to figure out if we can track down the original issue.

Since you're using the Edge Dev version (I presume you mean the Chromium-based version?), there is a way to export raw networking data from

[2019-07-11 20:09] anurse commented on #9749
No word yet, but we'll be doing some looking at it soon. I'll re-open this to track that :).

[2019-07-11 20:15] guardrex commented on #12091
Side note that we have **_many_** updates to the current topic on https://github.com/aspnet/AspNetCore.Docs/pull/12344 that cover our (my) best understanding of managing limits at this time. Engineering will :eyes: and assist on review with those updates later (no ETA at this time due to 3.0 work).

[2019-07-11 20:21] mfish0005 commented on #12008
Guys I really don't have time to solve this one right now.  Finished up a long term project and looking for work, landlord wants to sell my house so I have to move, etc. etc.

If you want to leave it open I'll get to it when I can so we can try to improve the docs.

Thanks for the help everyone

[2019-07-11 20:29] anurse commented on #11262
Let's do this for 3.0 and investigate further.

[2019-07-11 20:32] steveoh commented on #12071
What would you like to see in a PR?

On Thu, Jul 11, 2019 at 12:03 PM Artak <notifications@github.com> wrote:

[2019-07-11 20:46] NTaylorMullen opened #14325 "Update to latest CSharp Language Server package"
There's a few [breaking changes](https://github.com/OmniSharp/csharp-language-server-protocol/pull/128/files/6db48fc44fa0ae1fa45b4c8c86239c81c42ad82a..9e468e067cc3f71677dd920d3b862675c1f1a1ea) that were recently merged. We'll need to react.

[2019-07-11 20:58] Tratcher commented on #11262
I reviewed the example data and the encoding is not up to spec.
- It's doing Base64 encoding and _then_ UrlEncode. It should be using Base64Url encoding instead. https://en.wikipedia.org/wiki/Base64#URL_applications
- The Base64 encoder is inserting new lines '\n` every 80 characters. (UrlEncode encodes this as %0A). I've only ever seen that in SMTP, it's not needed here.

That said, I don't see h

[2019-07-11 21:02] MACEL94 commented on #10509
I was searching for this!

Thank you dan!

[2019-07-11 21:07] anurse commented on #12085
We should consider a better options pattern here since there are multiple options objects to handle.

[2019-07-11 21:12] anurse commented on #11980
Triage decision: We try to have relatively secure defaults but validating every permutation isn't really feasible. Docs are pretty clear here. Closing as we don't intend to take action.

[2019-07-11 21:12] #11980 closed

[2019-07-11 21:13] anurse commented on #11997
There isn't anything actionable here since we just store all the claims provided by the identity provider.

[2019-07-11 21:13] #11997 closed

[2019-07-11 21:15] anurse commented on #11839
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

As @Tratcher said, this was an intentional change to validate and throw a useful error when things are misconfigured.

[2019-07-11 21:15] #11839 closed

[2019-07-11 21:25] mkArtakMSFT commented on #12071
Your original suggestion was reasonable:

[2019-07-11 21:30] anurse commented on #10222
Contingency plan: If we don't get DIM working and in, announce this as a breaking change. We could un-break in 3.1 in theory.

[2019-07-11 21:33] steveoh opened #12101 "Method of transferring app to server causes error in grpc_csharp_ext.x64.dll"
### Describe the bug

I am using npm, grunt, and dotnet to built and deploy a `dotnet new react` project on osx. When this pipeline runs, the project fails to start with a 502.5 error. If I go to the server and execute `dotnet app.dll` I get a strange error.

#### Stack trace

[code]

#### Somewhat related issues?

https://github.com/grpc/grpc/issues/11914
https://github.com/grpc/grpc/issues/12570

[2019-07-11 21:44] steveoh commented on #12071
Ok @mkArtakMSFT, where is the template for the dotnet new react project type?

[2019-07-11 21:47] thorgeirk11 opened #12102 "Using SignalR core with Unity using IL2CPP (AOT)"
I am having a similar issue as #10080. I am using preview 6 of asp.net core SignalR client inside of unity and compiling with IL2CPP.  [I created a small git repo with the code I use to reproduce this issue](https://github.com/thorgeirk11/SignalR-IL2CPP-failure-example )

I am running into an exception when starting the connection:

[code]
The `connection.StartAsync` fails with the following excep

[2019-07-11 22:04] #11982 closed

[2019-07-11 22:20] BrennanConroy commented on #12090
Could you try replacing `await _connection.StartAsync().ConfigureAwait(false);` with `await new HttpClient().SendAsync(new HttpRequestMessage(HttpMethod.Post, SERVER)).ConfigureAwait(false);` and see if there is still an error

[2019-07-11 22:47] HaoK commented on #11943
The fix for the other issue is just with our default templates/UI, you could adopt somthing similar in your code, but its not necessarily going to help your issue if you are generating tokens and sending emails yourself.

If you include the full code of generating the token + sending the email we can provide suggestions for you

[2019-07-11 22:48] mkArtakMSFT commented on #12071
Here you go: https://github.com/aspnet/AspNetCore/tree/master/src/ProjectTemplates/Web.Spa.ProjectTemplates/content/React-CSharp

[2019-07-11 22:56] bitrix1 commented on #9436
And not forget restart debug ;)))))))))))))))))))))))))

[2019-07-11 23:42] HaoK opened #12110 "Port Identity UI changes to scaffolding"
Tracking for issues that require ports to scaffolding for Identity UI fixes

https://github.com/aspnet/AspNetCore/pull/12109
https://github.com/aspnet/AspNetCore/pull/11768

[2019-07-11 23:56] dazinator commented on #11745
@SPWwj what do you think about the "wait time" it takes to rebuild after making a minor html change? Is blazor productive for you in that regard?

[2019-07-12 00:14] sethjackson opened #12111 "Log messages are not written to the console from typed HTTP clients when using an injected logger"
### Describe the bug

When a typed HTTP client is added to the container with `services.AddHttpClient<Type>()` if an `ILogger` is injected into `Type`'s constructor log messages written to the injected logger are not written to the console.

### Steps to reproduce

Steps to reproduce the behavior:

1. Using ASP.NET Core 2.2.6
2. Run this code

[code]

[code]
[code]

3. GET http://localhost:5000/ap

[2019-07-12 00:53] rynowak commented on #12082
Some of my thoughts about this.... I'm going to stick to the .NET side because I'm not entirely certain what to optimize for in the TS apis.

## DotNetDispatcher

I'd like to choose a name or namespace for dedicated interop types. Previously [.NET has given the guidance](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1060-move-p-invokes-to-nativemethods-class?view=vs-2019) to use spe

[2019-07-12 01:36] jmk92 commented on #11262
@jkotalik  I tried to log content, but failed. I tried to set up a layer of nginx to record detailed logs, which should be captured.

@Tratcher Last time the content was one interface, this time another interface, please see if there is any difference.

[debug.txt](https://github.com/aspnet/AspNetCore/files/3384589/debug.txt)

[2019-07-12 01:39] DamianEdwards opened #12113 "Add a PageTitle property to PageModel base class that also updates ViewData["Title"]"
## Problem
Page's very often want to set the title (from the browser's POV) and today that's typically done in Razor Pages by passing the desired title via the `ViewData` dictionary to the layout page and having it emit it in the HTML's `<title>` element:

[code]

This isn't great for a few reasons, including it not being type safe (string names) and the page itself often wanting to access the tit

[2019-07-12 02:14] Tratcher commented on #11262
That one doesn't have the newline issue (no %0A's), but it's still doing Base64 and UrlEncode as separate encoding steps. Properly encoded you would have no `%2f`, `%2b`, or `%3d`

This sample did have some interesting unicode at the end. `&Remark=用户请求`. @jkotalik maybe there is an encoding component to this.

[2019-07-12 02:20] jmk92 commented on #11262
@Tratcher  The value of the last parameter is Chinese, and I did not unicode it.

[2019-07-12 02:28] Tratcher commented on #11262
@jmk92 it was likely transmitted in utf-8 byte encoding, and the parser may not be interpreting utf-8 characters correctly.

[2019-07-12 02:59] rynowak commented on #12113
It's a good pattern for an app to follow, I have a few hesitations about putting it in the box by default.

The primary one is that once you've got a property to set, it breaks the connection with view data. One of the most basic patterns that MVC supports is half-hidden. It's not obvious to a newcomer how the special `ViewData["Title"]` thing works.

The secondary one is that this is a pretty sma

[2019-07-12 03:25] jmk92 commented on #11262
[error.txt](https://github.com/aspnet/AspNetCore/files/3384863/error.txt)

I found it, logged 2048 errors, and nginx recorded Post's data.

[2019-07-12 04:04] sethjackson commented on #12111
Closing this since the log is being written out in the demo application.

[2019-07-12 04:04] #12111 closed

[2019-07-12 05:30] SPWwj commented on #11745
thanks for response
I have try 'wait time' but waited for few minutes see nothing happen. Watcher reponses to normal blazor and blazorserverside template instantaneously by default.(not need to add include to csproj file).
blazor definitely a great thing for .net developer as it elimated the need for us to learn new spa framework.

[2019-07-12 05:41] tharidu opened #12114 "Adding custom request header in 2.2"
I'm in the process of updating a ASP .Net core 2.1 app to 2.2. I have enabled `InProcessHosting` to the web project as well. For CSP purposes we are adding a custom header to all requests using a middleware using ,

`context.Request.Headers.Add(new KeyValuePair<string, StringValues>)`

method. In runtime, from this code we get an exception
`System.InvalidCastException: Unable to cast object of typ

[2019-07-12 05:49] davidfowl commented on #11312
Spoke to @GrabYourPitchforks and he says make them internal!

[2019-07-12 06:50] davidfowl commented on #11262
@jmk92 Which key ends up being reported as too long?

[2019-07-12 07:02] mrweiland opened #12115 "Blazor Serverside App Service Linux problem SignalR"
### Describe the bug
When running latest Blazor i got weird behavior in Azure App Service with Linux. After only couple of seconds switching tabs or not active window it seems like SignalR timeout rror: Connection disconnected with error 'Error: WebSocket closed with status code: 1006 .

App Service Linux (this one getting error)
https://blazornb.azurewebsites.net/ListBanks

App Service Windows (T

[2019-07-12 07:09] ajithr opened #12116 "Namespace mismatched compilation error to the generic type component event arguments"
### Describe the bug
When using generic type to the Blazor component, the namespace is mismatched for EventCallback method arguments and throws compilation error.

**MyGenComponent.razor:**
[code]
**Models.cs**
[code]

**Index.razor:**
[code]

### To Reproduce
Steps to reproduce the behavior:
1. Clone the below Github repository.

2. Run this application and it will throws the below error

`1>obj\

[2019-07-12 07:09] davidfowl commented on #11262
I can reproduce the issue.

[2019-07-12 07:10] ajithr commented on #5637
@ajaybhargavb I have created a separate thread for this issue and attached the Github repository in the same thread.

https://github.com/aspnet/AspNetCore/issues/12116

[2019-07-12 07:19] freeflying1222 commented on #4895
hope the issue be resolved as soon as possible!

[2019-07-12 07:59] davidfowl commented on #12086
Azure is not an application model and the other frameworks are included when you download .NET Core (on windows). It comes with WPF, Winforms and ASP.NET Core. The reason you get it by default is because when you specify the `<Project Sdk="Microsoft.NET.Sdk.Web">` aka the websdk, we automatically include the FrameworkReference to ASP.NET Core.

We depend on core runtime features and the value in b

[2019-07-12 09:09] gurunathancs1991 opened #12118 "Blazor: Need to restrict the intellisense for two way binding event callback"
As discussed in this [blazor two way binding](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#data-binding), we have used a property in two way with its event call back.

We don't want to list out this event call back in intellisense in that component parameters.

Code:
`
    @code {

    [Parameter]
    private int Year { get; set; }

    [Parameter]
    private

[2019-07-12 09:31] acofalc commented on #1528
@ststeiger  can you add me please?

[2019-07-12 09:40] SamuelDebruyn commented on #12090
That didn't work, but it did tell me what went wrong. Android ignores most permissions in debug config. In release config it requires them to be set in the manifest. I was missing the INTERNET permission, so obviously it didn't work.

But it didn't tell me that because the package is not using the default HttpClientHandler that I set in my project options. It looks to be using the managed HttpClie

[2019-07-12 09:58] jagathprasanga commented on #9917
Im also experiencing same issue , configurations are
Asp.Net Core 2.2 Load balancing between two instances (Redis is using)
Hosted on kestrel server on CentOS behind the HAProxy.
Please help me on this matter.
Thanks.