[2021-12-10 16:09] Tratcher commented on #35553
IWebHostEnvironment isn't the right place for this kind of setting, it belongs in the mvc options somewhere.

[2021-12-10 16:13] mudassarawanpk opened #38944 "SignalR: Handling Redis lost connection."
The SignalR connection between the Client and the Server is interrupted due to some network issue and messages to and from other servers (via Redis) will be lost.

The client will connect again after some tries but could not registered with redis server somehow and due to this messages are not being sent between the clients. Any quick resolution?

[2021-12-10 16:17] TanayParikh commented on #38941
Hello, thanks for contacting us, this appears to be due to https://github.com/dotnet/aspnetcore/issues/38205.

This is **highly discouraged**. Having the `MaximumReceiveMessageSize` this large (100MB) can create security issues.

cc/ @BrennanConroy should we add a note to https://docs.microsoft.com/aspnet/core/signalr/configuration?view=aspnetcore-6.0&tabs=dotnet#configure-server-options discourag

[2021-12-10 16:29] psiservices-dbrink commented on #38226
@NCarlsonMSFT , I shot you an email in case you still need remote debug assistance.  We've hit this with an angular webapp hosted in asp.net core.

I can't say whether this situation is true for anyone else, but I think our variety of this issue results from having a custom build configuration.  When using a separate build config {Project}.staticwebassets.runtime.DT.json isn't produced in the /bin

[2021-12-10 16:37] Tratcher commented on #38940
Try the troubleshooting steps at https://docs.microsoft.com/aspnet/core/host-and-deploy/proxy-load-balancer?#troubleshoot and let us know what you find.

[2021-12-10 16:43] Liero commented on #14962
Couldn't this be handled in JavaScript?

1. A custom Blazor Component would track EditForm's IsModified state in JavaScript object.
2. There would be a JavaScript interrupting navigation. Either by listening on a suitable DOM event if there is any, or by overriding history.pushState?

[2021-12-10 17:00] SymoHTL opened #38945 "NullReferenceException: Object reference not set to an instance of an object."
Please Help:
When i run my application i get this error:

NullReferenceException: Object reference not set to an instance of an object.
Microsoft.AspNetCore.Components.Routing.Router.Refresh(bool isNavigationIntercepted)
Microsoft.AspNetCore.Components.Routing.Router.SetParametersAsync(ParameterView parameters)
Microsoft.AspNetCore.Components.Rendering.HtmlRenderer.HandleException(Exception except

[2021-12-10 17:03] pranavkm commented on #38945
Do you happen to have a minimal app that reproduces this issue? Pre-rendering is on by default in a Blazor Server app, so this feels a bit unusual.

[2021-12-10 17:05] TanayParikh opened #38946 "`browser-refresh.js` not found at `localhost` when using remote debugging"
I'm doing `dotnet watch` in Codespaces. As such, instead of `localhost`, the app is served up at `https://tanayparikh-{ORGANIZATION}-{REPOSITORY}-*-{PORT}.githubpreview.dev/`. Thus the `browser-refresh` isn't found at the `ws://localhost` location it's queried at.

![image](https://user-images.githubusercontent.com/14852843/145612787-77696c78-8f3c-4d9a-a11e-3ce036e1a259.png)

[2021-12-10 17:05] SymoHTL commented on #38945
no sorry

[2021-12-10 17:24] Tratcher commented on #38942
The Identity.Web templates are owned by https://github.com/AzureAD/microsoft-identity-web.

The WebApi project targets 3.1:
https://github.com/AzureAD/microsoft-identity-web/blob/eb618181d42599ee45e6ddf44ed919e2fa2f71ec/ProjectTemplates/templates/WebApi-CSharp/Company.WebApplication1.csproj#L3

[2021-12-10 17:26] ihack2712 commented on #38942
I did install it estimer through the link on the error, still not working

[2021-12-10 17:28] ShaunCurtis commented on #14962
Blazor's JS code already does what you describe in 2.  It's what triggers
the routing event.  Unless there's a way to selectively "disable" this then
I don't believe it can be handled in Javascript.  Can you put together some
working code?

On Fri, 10 Dec 2021 at 16:43, Daniel Turan ***@***.***> wrote:

--
Regards,

Shaun Curtis
***@***.***

[2021-12-10 17:30] Tratcher commented on #38942
Is the dotnet --info above from before or after? It shows you have .NET 3.1 but not ASP.NET 3.1 (not sure how you managed that).

[code]

[2021-12-10 17:32] ihack2712 commented on #38942
Before

[2021-12-10 17:32] Tratcher commented on #38942
Ok, what does it show now?

[2021-12-10 17:33] brunolins16 commented on #38925
Closing because the issue will be tracked in the original issue #17999

[2021-12-10 17:33] #38925 closed

[2021-12-10 17:34] ihack2712 commented on #38942
C:\Users\krsjbr>dotnet --info
.NET SDK (reflecting any global.json):
 Version:   6.0.100
 Commit:    9e8b04bbff

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\6.0.100\

Host (useful for support):
  Version: 6.0.0
  Commit:  4822e3c3aa

.NET SDKs installed:
  6.0.100 [C:\Program Files\dotne

[2021-12-10 17:37] brunolins16 commented on #17999
@antonioortizpola I have completed the PR #38853 just to support the usage of the `JsonSerializerOptions.DictionaryKeyPolicy` during the `ModelStateErrors` serialization, however, we still need work to do here to fully support the issue.

We are working on it, probably it will need an API change. As soon as we have an API suggestion or ready to review, I will let you know. Thanks.

[2021-12-10 17:42] Tratcher commented on #38942
You're still missing  Microsoft.AspNetCore.App 3.1. You installed `dotnet-runtime-3.1.21-win-x64.exe`? Try this one instead:
https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-aspnetcore-3.1.21-windows-hosting-bundle-installer

[2021-12-10 17:45] ihack2712 commented on #38942
Oh.. Thanks.. It works :D

[2021-12-10 17:46] Tratcher commented on #38942
Re-opening to figure out why this link doesn't download the right installer:
`https://aka.ms/dotnet-core-applaunch?framework=Microsoft.AspNetCore.App&framework_version=3.1.0&arch=x64&rid=win10-x64`

[2021-12-10 17:53] AlexanderOpran commented on #38940
I have done the troubleshooting steps. I am logging all the headers and then the IP address (this happens immediately after `useForwardedHeaders`).

[code]

**Results:**

[code]

[2021-12-10 17:56] Tratcher commented on #38940
Oh, the forwarders were applied, but you have two proxies so there were two entries in x-fowarded-for. I can tell because X-Original-For was added.

Raise the ForwardLimit to 2.
https://github.com/dotnet/aspnetcore/blob/a39afae2bfe184ce580c6e66640aeb242d68f661/src/Middleware/HttpOverrides/src/ForwardedHeadersOptions.cs#L59-L64

[2021-12-10 18:48] TanayParikh commented on #38205
I believe this should handle the `null` case:
https://github.com/dotnet/aspnetcore/pull/38947/files#diff-7fac6aa482260bd9b68de9fd59db0da9d8532c59ecdfd4468c0f51d371b562aaR43-R45

[2021-12-10 19:00] #38916 closed

[2021-12-10 19:02] danwalmsley opened #38948 "Each nativefilereference causes 512+mb to be allocated"
### Describe the bug
Any NativeFileReference added to the project allocated 512+mb per reference.

### To Reproduce

https://github.com/wieslawsoltes/BlazorNativeFileReferenceMemoryUsageRepro
simple repro with minimal blazor app.

Even with a simple .c file with 1 function in it, and even if the code is not called 512+mb mem.

Any libMyLib.a reference also causes it.

### Exceptions (if any)

###

[2021-12-10 19:07] pr-benchmarks[bot] opened #38949 "Perf regression: json"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json [Fixed] | Json Platform Inline aspnet-citrine-lin | 12/09/2021 09:04:13 | 1,331,046 | 1,292,696 | -2.47 % (-32,929)  :thumbsdown:  | -4.48 σ | 7,342.13 | <details>    <summary>Changes</summary>

[2021-12-10 19:11] Tratcher commented on #38904
IDistributedCache only works with `byte[]`, the SetStringAsync extension serializes to `byte[]` before calling into redis.

[2021-12-10 19:28] wtgodbe commented on #38629
Closing as it's not an aspnetcore issue

[2021-12-10 19:28] #38629 closed

[2021-12-10 19:29] wtgodbe commented on #36382
Done for December

[2021-12-10 19:29] #36382 closed

[2021-12-10 19:34] NTaylorMullen commented on #38950
Moving to runtime to understand why the runtime can't find the component

[2021-12-10 19:36] AlexanderOpran commented on #38940
@Tratcher  Thanks for the help, it gets the correct IP Address now. One thing that I noticed though is that it will remove the X-Forwarded-For header from the request. Is this intended? Thanks!

Also, wouldn't it make sense to get the utmost left value (since that is the initial "real ip") instead of the utmost right one? (given that the default limit is 1)

[2021-12-10 20:00] #37099 closed

[2021-12-10 20:23] Tratcher commented on #38940
Yes, it shifts values from X-Forwarded-For to RemoteIp to X-Original-For. Not a great design in hindsight...

Values are processed right to left because of the risk of spoofing, you should be verifying each step is an expected proxy, not clearing KnownNetworks/Proxies.

[2021-12-10 20:24] TanayParikh opened #38951 "Quarantine ShutdownTests"
## Failing Test(s)

- Microsoft.AspNetCore.Server.IIS.NewShim.FunctionalTests.ShutdownTests.GracefulShutdownWorksWithMultipleRequestsInFlight_InProcess

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[ShutdownTests_GracefulShutdownWorksWithMultipleRequestsInFlight_InProcess.log](https://github.com/dotnet/aspnetcore/files/7695261/ShutdownTests_GracefulShu

[2021-12-10 20:27] TanayParikh commented on #38951
Microsoft.AspNetCore.Server.IIS.NewHandler.FunctionalTests.ShutdownTests.ConfigurationTouchedStress_InProcess

Status code was 500
Expected: True
Actual:   False

   at Microsoft.AspNetCore.Server.IIS.NewHandler.FunctionalTests.ShutdownTests.<>c.<ConfigurationTouchedStress>b__25_0(HttpResponseMessage response) in /_/src/Servers/IIS/IIS/test/Common.LongTests/ShutdownTests.cs:line 506
   at Microsof

[2021-12-10 20:28] AlexanderOpran commented on #38940
@Tratcher Yes, we will not clear the `KnownNetworks `or `KnownProxies` but will instead use two specific networks here. 🐱 Thanks for clearing things up! Can be closed. Perhaps the documentation can be updated a bit to highlight some pottential issues.

[2021-12-10 20:28] #38940 closed

[2021-12-10 20:37] cdavernas commented on #38226
@NCarlsonMSFT quickly spotted that my faulty project's docker-compose file was off and, after some investigation, a misconfiguration was in my case the source of the issue.

My original docker-compose file:

[code]

The fixed docker-compose file:

[code]

You see, I do not like having my docker-compose project at the root of my solution, so I move it to '/deployment/docker-compose/', that's why yo

[2021-12-10 20:38] pranavkm commented on #38945
@SymoHTL I'm not sure we'd be able to do a whole lot without an actual app that reproduces the problem. I'm going to mark this as needs author feedback. If you're able to get us a minimal app that reproduces the problem, we'd be happy to look.

[2021-12-10 20:39] pranavkm commented on #38948
@lewing / @radical should this go to you?

[2021-12-10 20:40] pranavkm commented on #38950
Do you have anything in the csproj file that might exclude the file? For e.g. we've seen instances where particular .razor files are removed from the `Content` itemgroup. Feel free to paste the contents of the proj file if it's difficult to interpret it

[2021-12-10 20:42] pranavkm commented on #38922
@abdollahkahne what's the `TargetFramework` of the app you're building?

[2021-12-10 20:45] cdavernas commented on #38175
@L60008028 in my case it has. Please see my last comment on this issue: https://github.com/dotnet/aspnetcore/issues/38226#issuecomment-991278013.

[2021-12-10 20:52] Tratcher commented on #38951
`Event Log: 'Application 'MACHINE/WEBROOT/APPHOST/DEFAULT WEB SITE' has shutdown.' `

hmmm

[2021-12-10 21:00] #37757 closed

[2021-12-10 21:09] adityamandaleeka commented on #38929
Can you provide more info about what your program is doing and how it's failing on Edge? What error do you see?

Also, are you using SignalR or direct WebSockets?

[2021-12-10 21:11] halter73 commented on #38944
SignalR should automatically reconnect to Redis, but any messages sent while the Redis server is down will be lost. https://docs.microsoft.com/en-us/aspnet/core/signalr/redis-backplane?view=aspnetcore-5.0#redis-server-errors

Is this not what you're seeing? If you're seeing different behavior like SignalR not automatically reconnecting, can you provide [ASP.NET Core logs](https://docs.microsoft.co

[2021-12-10 21:26] adityamandaleeka commented on #38913
Triage: A 500 error isn't a certificate error. Can you take a look at the server output to see what the error is?

[2021-12-10 21:36] mdmoura opened #38953 "'variable '__p_1' of type 'System.Collections.Generic.IEnumerable`1[FileModel]' referenced from scope '', but it is not defined'"
Using Net 6 and Entity Framework Core I have the query:

    var models = context.Posts
      .Select(x => new Model {
        Id = x.Id,
        Files =
          !fieldsToLoad.Contains("files") ? new List<FileModel>() :
            x.PostFiles.Select(y => new FileModel {
              Id = y.File.Id,
            })
        }).ToListAsync();

This query was running on Net Core 5 but with Net 6 I

[2021-12-10 21:38] HaoK commented on #38718
Discussed this in triage, since the subtle change of behavior is in a scenario which isn't really useable in practice (auth handlers that return principals that are IsAuthenticated, since they won't be useable otherwise).  We don't plan on fixing this.  The workaround for anyone that hits this, is to always set the authenticationType on their claims identities so IsAuthenticated will be true.

[2021-12-10 21:38] #38718 closed

[2021-12-10 21:42] TanayParikh opened #38954 "Quarantine WebHostTests.UseUrls_HelloWorld_ClientSuccess"
## Failing Test(s)

- Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.Tests.WebHostTests.UseUrls_HelloWorld_ClientSuccess

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[code]

</details>

## Build

https://dev.azure.com/dnceng/public/_build/results?buildId=1505506&view=ms.vss-test-web.build-test-results-tab&runId=42939082&paneView=dotnet-dnceng.dnce

[2021-12-10 21:43] SymoHTL commented on #38945
i think i kindof fixed it
in the _Host.cshtml i edited
<component type="typeof(App)" render-mode="ServerPrerendered"/>
to:
<component type="typeof(App)" render-mode="Server"/>

[2021-12-10 21:49] HaoK commented on #38931
Hrm, I noticed we are also running these tests in parallel, I bet this is the cause, when I split these tests out, I didn't preserve the behavior that prevented them from running in parallel:

[code]

[2021-12-10 22:00] #38920 closed

[2021-12-11 00:31] sebastienros commented on #38771
I have a simpler repro app that only involves an `InputFormatter` that tries to read the body when the content-type is `application/x-www-form-urlencoded`.
Other tests seem to show that the body was already read that point, while it can still be read completely when using a different content-type.

[2021-12-11 01:09] sebastienros commented on #38771
Reason seems to be that `application/x-www-form-urlencoded` triggers `IFormFeature` to already parse the collection.

[2021-12-11 01:18] sebastienros commented on #38771
Found a mitigation. The feature has an option to buffer the body which makes it possible to read it again. So applying `[RequestFormLimits(BufferBody = true)]` on the action or configuring `FormOptions.BufferBody` will make the current sample work.

[2021-12-11 02:19] TanayParikh opened #38957 "Quarantine CheckUTF8File"
## Failing Test(s)

-
Microsoft.AspNetCore.Server.IIS.IISExpress.FunctionalTests.LoggingTests.CheckUTF8File(variant: Server: IISExpress, TFM: net7.0, Type: Portable, Arch: x64, Host: InProcess)

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[LoggingTests_CheckUTF8File-Server_IISExpress,_TFM_net7.0,_Type_Portable,_Arch_x64,_Host_InProcess.log](https://gi

[2021-12-11 02:20] dlyltm commented on #38929
The problem has been solved. It is caused by a js statement that is not supported by Edge.

[2021-12-11 02:57] radical commented on #38948
This is because when you are building without the native reference, the app uses the pre-built `dotnet.wasm`, which is built with the default setting for `TOTAL_MEMORY` - 16MB.

But when you include the native reference, you get a relinked copy of `dotnet.wasm` which is built with `TOTAL_MEMORY=512MB`.

You can change that by setting `EmccTotalMemory` to the number of bytes, in your project file.

[2021-12-11 05:51] #38929 closed

[2021-12-11 07:00] #38714 closed

[2021-12-11 12:46] Xyncgas opened #38959 "[Feature Request] :Improve visual studio snippet feature by using pseudo-random-looking named functions instead of storing pasted codes"
I want to have a place in visual studio, for me to write static functions and just throw them in there.
It should support any language quite well.
what it should do is to add them to the source code before compilation.

Then I would like the ability to define where these functions should be (for example all in a static partial class of mine) and then support non public functions.

This allow me to

[2021-12-11 12:50] Xyncgas commented on #38959
what's more, what defines a function should be the things it does, that's why you can always navigate to the function you are calling within the same project to look at its source code instead of trusting what the function name tells you, which you get lazy and people make mistakes for trusting a function to do something it's expected to do but it didn't do what it's expected to do but you are the

[2021-12-11 13:18] zarinportal opened #38961 "blazor wasm first load after release cause the error . TypeError: NetworkError when attempting to fetch resource."
### Describe the bug
blazor wasm first load after release cause the error . TypeError: NetworkError when attempting to fetch resource.

### To Reproduce

exp: [https://tpanel.inotex.com](https://tpanel.inotex.com)

### Exceptions
Console Errors:
Uncaught (in promise) TypeError: NetworkError when attempting to fetch resource.
Uncaught (in promise) Error: Failed to start platform. Reason: TypeError:

[2021-12-11 14:02] danwalmsley commented on #38948
@radical great thanks that allowed us to reduce the memory.

What considerations would we need to take into account when choosing the memory? Is this the total amount of ram available to the application?

[2021-12-11 15:16] TanayParikh commented on #38959
Thanks for contacting us. This is not part of the runtime feature-set. Please use [VS Feedback](https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options) to report this issue, so the team who owns the area can track the ask.

[2021-12-11 15:16] #38959 closed

[2021-12-11 15:23] TanayParikh commented on #38961
Hey thanks for contacting us,

I'm not actually seeing that error when I visit that site. Do you have a minimal, public github repro of the issue?

Is this the whole error, or was there something more about the specific resource which couldn't be loaded.

[2021-12-11 16:00] #38938 closed

[2021-12-11 17:18] buchatsky commented on #38450
@javiercn in my case both \<img> and \<a> tags obtain the scope identifier when they are not tag helpers

[2021-12-11 18:32] GerkinDev opened #38962 "Semi-random JsonException thrown from EndInvokeJS"
### Describe the bug

In some random cases, Blazor JSInterop throws JsonExceptions. I didn't find a way to create a minimal reproduction, since this appears to be a timing issue which is super hard to reproduce. Moreover, it happens at different points on my versions of Chrome & Firefox, and changes (pass on one page previously failing, & fail on page previously passing) depending on `Task.Delay()

[2021-12-11 19:00] #38941 closed

[2021-12-11 19:07] pr-benchmarks[bot] opened #38963 "Perf improvement: fortunes_ef, json, single_query"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes_ef  | Fortunes Platform EF aspnet-citrine-win | 12/09/2021 09:47:07 | 343,270 | 351,222 | 3.74 % (12,833)  :thumbsup:  | 3.59 σ | 3,577.15 | <details>    <summary>Changes</summary>     <table><

[2021-12-11 19:07] pr-benchmarks[bot] opened #38964 "Perf regression: multiple_queries, updates"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| multiple_queries  | Multiple Queries Platform aspnet-citrine-win | 12/09/2021 09:50:04 | 28,019 | 25,331 | -8.38 % (-2,349)  :thumbsdown:  | -2.35 σ | 1,000.69 | <details>    <summary>Changes</summary>

[2021-12-11 19:19] davidfowl commented on #38917
@blogcraft can you verify the HTTP version you are using? Is it HTTP/2 or HTTP/1.1

[2021-12-11 19:24] BrightSoul opened #38965 "[.NET6] Referencing Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation breaks hot reload for .cshtml files"
Similar to [issue #38809](https://github.com/dotnet/aspnetcore/issues/38809) but this is about regular Razor views, not Blazor components.

Here's the repro steps.

- Create a new project with `dotnet new mvc`
- Reference the razor view runtime compilation package with `dotnet add package Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation`
- **Issue:** hot reload is no longer watching changes done

[2021-12-11 20:00] #37477 closed

[2021-12-11 20:00] #37127 closed

[2021-12-11 20:10] outsidergiant commented on #37477
I didn't get any response..what activity do you expect from me?

[2021-12-11 21:43] abdollahkahne commented on #38922
@pranavkm @halter73
Yes, I am sorry for taking your time.I see it now. I should check it on net6.0 too. I working with 5.0 while view 6.0 documentation.

Where I can ask a feature for `@microsoft/signalr.js` package? Is it maintained here? Thanks again

[2021-12-11 21:43] #38922 closed

[2021-12-11 22:04] DezareD opened #38966 "The problem of re-initializing components during routing."
### Describe the bug
The main problem is that if let's say I am on page "/user/32" and go to page "/user/ 55" then the page is not reinitialized. Is there a way to get around this somehow and force it to reinitialize when I call NavigateTo (...).
Probably blazor should have settings to change this.

Important: this problem can be solved by using forceReload in the parameters of the NavigateTo (...

[2021-12-11 22:47] pranavkm commented on #38966
You could perform your initialization as part of `OnParametersSet` / `OnParametersSetAsync` instead of OnInitialized. Also I would recommend using `NavigationManager.NavigateTo` rather than the implementation JS methods `Blazor._internal....` since those are subject to breaking changes.

[2021-12-11 22:51] pranavkm commented on #38965
RuntimeCompilation and hot reload for cshtml are effectively trying to solve the same problem. As a result, dotnet-watch opts out of watching .cshtml files if the runtime compilation package is reference. That said, you should be able to hit refresh in the browser and see changes to your cshtml files as it has worked in earlier versions of .NET.

[2021-12-12 01:16] alex-oswald commented on #38668
Yes, I've tried clearing out the folder before deploying. It did not make a difference.
I'm not sure what I can do to fix this for my project, but I'm glad I was able to fix a bug in your script. :)

[2021-12-12 02:28] BonnieSoftware opened #38967 "Proposal to change the way shorthand command line arguments are parsed"
At the moment, the way the command line arguments are parsed makes sense on Windows, however on *nix, if you were to use **-k1** as a command line argument, this would typically equate to `-k -1` on a *nix machine.

The change I propose will make the parsing more consistent with a *nix machine.

This would be a breaking change, which is limited to those using command line switches.

It would be go

[2021-12-12 02:40] BonnieSoftware commented on #38967
A breaking change could be avoided come to think about it, if a 3rd parameter could be passed to `CommandLineConfigurationExtensions.AddCommandLine` allowing for single character flags to be mapped to a command line argument, so that `-vd AnotherArg=test` can be parsed correctly, this would prevent the ambiguity whereby -vd could be a shortand switch, or multiple shorthand switches.

[2021-12-12 05:22] burtonrodman commented on #32867
was hoping to replace Razor Runtime Compilation with Hot Reload (because of all the compile warnings about CodeAnalysis version mismatches).  i generally use vscode but couldn't get dotnet watch working there quickly.  The rest of my team uses Visual Studio, so thought maybe I would just switch.

after updating to VS 2022 17.0.2, Hot Reload works, but I'm seeing 25 - 60 seconds on a Surface Laptop

[2021-12-12 07:06] pr-benchmarks[bot] opened #38968 "Perf improvement: fortunes_dapper"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes_dapper  | Fortunes Platform Dapper aspnet-citrine-win | 12/09/2021 21:44:45 | 349,343 | 356,498 | 3.04 % (10,630)  :thumbsup:  | 4.77 σ | 2,230.21 | <details>    <summary>Changes</summary>

[2021-12-12 07:17] chenyj796 opened #38969 "Need remove excessive spaces for <text> in razor file"
Sometimes I use razor file as template outside of MVC.
If there are any csharp code blocks, it will be formatted with too many spaces.
For example:
[code]

Actually I expect the <text> tag and it's inner contents will be left aligned to the starting brace of csharp code block.
[code]

[2021-12-12 07:56] sholman commented on #38969
The whole idea of indenting is to make it easier to read. Your bottom layout is much more difficult to read than the top layout.

[2021-12-12 10:51] zarinportal commented on #38961
Depending on the speed of the Internet, the number of errors will increase or decrease. To retest, make sure you clear the cache and disable it

![image](https://user-images.githubusercontent.com/44922871/145709426-b9a88444-a6c8-4911-97c7-a5b077f5ac95.png)

![image](https://user-images.githubusercontent.com/44922871/145709439-f4e814d7-8057-4bd0-94ac-80722ecf6c3f.png)

[2021-12-12 11:03] BrightSoul commented on #38965
Hot reload is also responsible for refreshing the browser page and that stops happening when the RuntimeCompilation package is referenced. That's the issue.
Instead, it should keep refreshing the page even if the compilation step is performed by the RuntimeCompilation package.

It's underwhelming to hear this is "by design" since there's still no complete solution.
- With hot reload, we don't get

[2021-12-12 11:18] Devmawi opened #38970 "Blazor with WPF and WebView2: Scoped CSS files not found"
### Description

I want to integrate the new Blazor WebView in a WPF project. For this I tried to reproduce the examples on:

* https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-net-6-preview-3/#blazorwebview-controls-for-wpf-windows-forms
* https://github.com/dotnet/maui/tree/main/src/BlazorWebView/samples/BlazorWpfApp

The first problem was that apparently the razor components locate

[2021-12-12 11:31] Sureshv2 commented on #29342
Hi Guys

Because of @ref attribute issue, we cannot use lazy loading assembly feature in our project and it is downloading all referenced assemblies which is not required at initial startup page.  Please do let us know that when it could be fixed.

[2021-12-12 11:40] wgrs opened #38971 "Razor Page loses content when running hot reload with watch flag and tailwindcss class change"

[2021-12-12 12:02] miladahmadi33 opened #38972 "How to access PageModel in classlibrary"
### Describe the bug
I want to use PageModel in class library, I installed Microsoft.AspNetCore.Mvc in my class library but still, I can't access ```[PageRemote]``` in the class library.

### To Reproduce

### Exceptions (if any)

### Further technical details
- ASP.NET Core version:
- The IDE (VS / VS Code/ VS4Mac) you're running on, and its version:
- Include the output of `dotnet --info`:

<det

[2021-12-12 12:45] blowdart commented on #38930
This is unfortunately due to how bootstrap changed their styles. When you update the packages you're going to need to also update the copy the bootstrap in the lib folder along with is CSS

@HaoK did we not document this anywhere?

[2021-12-12 12:50] blowdart commented on #38892
@bartonjs as an FYI

[2021-12-12 12:52] blowdart commented on #38829
To add onto David's concern we reject a lot of invalid requests for security purposes. Allowing them for such a narrow use case in the base parser would be a big security no.

[2021-12-12 14:17] alex-m-git commented on #38904
@Tratcher
Yes. You're right. But I'm wondering why such a decision was made.
I think `SetString` should work the same in both cases

[2021-12-12 16:35] blogcraft commented on #38917
@davidfowl Can You help me with that? My development environment I use the project _as is_ (just the same as I used with .NET 5). Is there a way to force HTTP/2?
In my production environment I use an Azure AppService that has always been configured tu use HTTP 2.0.

[2021-12-12 19:06] pr-benchmarks[bot] opened #38974 "Perf improvement: updates"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| updates  | Updates Platform aspnet-citrine-amd | 12/11/2021 10:00:19 | 15,005 | 16,518 | 9.26 % (1,389)  :thumbsup:  | 2.21 σ | 627.06 | <details>    <summary>Changes</summary>     <table><th>Name</th><

[2021-12-12 19:06] pr-benchmarks[bot] opened #38975 "Perf regression: connectionclosehttps, endpoint"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclosehttps  | Plaintext Connection Close Https aspnet-citrine-lin | 12/11/2021 09:08:52 | 32,907 | 1,485 | -94.40 % (-31,063)  :thumbsdown:  | -2.31 σ | 13,419.16 | <details>    <summary>Chang

[2021-12-12 19:07] #38935 closed

[2021-12-12 19:45] 3DSX opened #38976 "SignalR connection failed when not on localhost"
Using Blazor as the client. NET 6 on both client and server.

I've already been trying any possible workaround for hours to this and I'm stuck.
The clientside and serverside are on the same server (wasm backed) but the thing It doesn't work when it tries to connect to the server through a remote domain, not localhost, which worked on the development stage.

I've been wondering about CORS but I hav

[2021-12-12 20:32] jlchavez opened #38977 "IHostingStartup implementations not called by ResolveServiceProviderFactory"
### Describe the bug
Changes added for resolving issue #31861, doesn't include calling implementations of IHostingStartup, even thought this might be a pattern that is not being promoted, but for a complex system, that must register things based on the existence of assemblies and the required settings, this allows developers not necesarrily to recompile the application to add or remove features, a

[2021-12-13 00:00] #26276 closed

[2021-12-13 01:00] #38966 closed

[2021-12-13 03:41] JamesNK opened #38981 "Separate IHttpHeadersHandler public API from internal one"
`IHttpHeadersHandler` is a pubinternal API. i.e. public API in an internal namespace. It is here because IHttpParser uses it which is also pubinternal. HttpParser is used by platform benchmarks in TechEmpower.

`IHttpHeadersHandler` is also shared code between dotnet/runtime and dotnet/aspnetcore. It used for HTTP/2 and HTTP/3 header parsing. Because it is shared, and because it is pubinternal, th

[2021-12-13 03:49] pranavkm commented on #38972
You'll need to reference the ASP.NET Core shared framework (https://docs.microsoft.com/aspnet/core/fundamentals/target-aspnetcore#use-the-aspnet-core-shared-framework) in your class library.

[2021-12-13 05:49] SteveDunn commented on #38436
I'm getting the same issue with an Azure CDN. It must be the caching as the same app works from an in-private window

[2021-12-13 07:05] #38968 closed

[2021-12-13 07:05] #38963 closed

[2021-12-13 07:05] pr-benchmarks[bot] opened #38983 "Perf regression: mapaction"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| mapaction  | Plaintext MapAction aspnet-citrine-win | 12/11/2021 21:06:09 | 3,536,403 | 3,409,512 | -4.41 % (-156,071)  :thumbsdown:  | -4.10 σ | 38,049.24 | <details>    <summary>Changes</summary>

[2021-12-13 08:30] SteveDunn commented on #38436
I found that this works:  change the line where you reference the .js file and add a version to the url, e.g.

`<script src="_framework/blazor.webassembly.js?version=6"></script>`

[2021-12-13 08:41] MichaelPeter opened #38984 "Blazor Performance Diagnostics for Re-Rendering and Execution times."
## The Problem:

Blazor Performance problems often arise becaues of too frequent and unintended Re-Renders:

- Because unexpectedly chaning Parameters, for example a objekt-parameter is recreated and causes rerenders.
- One Child Component for some reason is rerendered 10 times on changes.
- Some component maybe throws events which caues rerenders.
- A costly operation (Rest call) is executed in O

[2021-12-13 09:17] vkeziv commented on #38950
@pranavkm Thanks for pointing me out to csproj, I think I found what is happening, when I create a new razor component from Visual Studio it adds to csproj this line
`	<ItemGroup>
	  <Content Remove="Component\NewComponent.razor" />
	</ItemGroup>`

When I manually remove it then it works, this started happening recently, do I need to put any additional info?

[2021-12-13 10:00] andres291 opened #38985 "Remove obsolete types from code and code parts that uses types not available in higher versions."
Using Unity it is a problem to have the obsolete type Microsoft.AspNetCore.Http.Authentication.AuthenticationManager in the assembly Microsoft.AspNetCore.Http.Abstractions because it uses Microsoft.AspNetCore.Http.Features.Authentication.AuthenticateContext type that is not in assembly Microsoft.AspNetCore.Http.Features of version 5.0.12, that we currently use. Unity unloads the assembly Microsoft

[2021-12-13 11:36] miguelhasse commented on #25391
This is also essential to allow the use of "id-token-hint"
[Azure Active Directory B2C | Pass an ID token hint](https://docs.microsoft.com/en-us/azure/active-directory-b2c/enable-authentication-angular-spa-app-options?tabs=popup#pass-an-id-token-hint)

[2021-12-13 11:44] miguelhasse opened #38986 "Support overriding Authority configuration on login"
Currently one a single authority may be used, which does not allow for the invocation of different custom B2C policies.
In some cases, support for "extraQueryParameters" is also required [(Issue 25391).](https://github.com/dotnet/aspnetcore/issues/25391)

[2021-12-13 11:44] manuelelucchi opened #38987 "Environment Variables on Blazor Webasm issues"
### Describe the bug
 I'm developing a project using Blazor Webasm + ASP.NET Core WebAPI as the backend.

When I want to concentrate on the frontend stuff, I run the webasm project directly without the backend using it's own launchSettings. I added other variables other than ASPNETCORE_ENVIRONMENT to choose some settings when I launch the website, while maintaining ASPNETCORE_ENVIRONMENT as Develo

[2021-12-13 12:06] Lexeq opened #38989 "Some strings break TempData"
### Describe the bug
TempData can't read values if it stores any string containing two '>' and having length 2 or 3 (for example, ">>", ">> a", "> a>", etc.).

### To Reproduce
- Create new ASP NET Core Web App
- Save `">>a"` in TempData
- Make redirect
- Try to get value from TempData

[code]
**Expected result:** TempData has stored value.
**Actual result:** TempData is empty, output has exceptio

[2021-12-13 12:26] Danielku15 commented on #38829
@blowdart Yes, I fully understand that. That's the primary reason why I did not request that the base implementation is adapted to generally allow such HTTP requests. I know that requesting a change on the base parser to allow accepting more malformed requests is not within the goals of Kestrel. Of course Kestrel is already extensible to custom protocols with connection handlers, but it just feels

[2021-12-13 13:00] #38965 closed

[2021-12-13 13:53] Lexeq commented on #38989
Oh, I probably shouldn't have created an issue in aspnetcore repo because in fact a bug is in JsonSerializer. The TryGetXXX method are not supposed to throw an exception but it does.
[code]

[2021-12-13 13:59] angelaki commented on #38893
Yeah sure, I can check this. But ... If I'm not mistaken it's only replacing the `Error` by your specific `AbortError`? Since you already mentioned all the occurrences, wouldn't it be easiert to already create that PR? Guess I'm mistaken 😉

[2021-12-13 14:04] #38989 closed

[2021-12-13 14:50] koshdim opened #38992 "Unable to configure OpenIdConnectOptions for authenitcation"
### Describe the bug
When I try to use Dependency Injection to load settings for Open ID Connect from database, whole registration stops working.
This works:

[code]
this doesn't:

[code]

### To Reproduce

In Startup.cs OpenIdConnect is configured like this:
[code]
Note that in AddOpenIdConnect() options are not configured, client secret and the rest is configured in Configure() method.

Achieved

[2021-12-13 15:07] bramve-fenetre opened #38993 "Access to the IDatabase field in RedisCache"
### Is your feature request related to a problem? Please describe.
I'm creating a RedisCache instance using it's constructor directly, so i have the full RedisCache instance API available to me. However i wish to use some additional functionality that is only provided by the IDatabase object, which is a private field in RedisCache, so i cannot access it without using reflection

### Describe the s

[2021-12-13 15:20] koshdim commented on #38992
the problem was with async Action in configure (:

[2021-12-13 15:20] #38992 closed

[2021-12-13 15:34] pranavkm commented on #38950
Nope, that should be all. We've seen VS do this at times when a .razor file is copied from another and renamed. We've reported to the VS folks and they are aware of it. Closing this as there isn't anything further to do here.

[2021-12-13 15:52] vkeziv commented on #38950
@pranavkm Yes I saw there is something wrong when copying or renaming components too, but are they aware this can happen when creating a new Component with "right-click + new Razor component"?

[2021-12-13 15:58] Liero commented on #14962
@ShaunCurtis:

given that `shouldPreventNavigation()` javascript functions returns true, if there are any unsaved changes, then following JavaScript prevents navigation when either user clicks `<a>` tag, or `NavigationManager.NavigateTo(..)`:

[code]

and following prevents refresh:
[code]

Preventing back/forward is a little bit tricky, because:
 1. there is no way to prevent url change, we can o

[2021-12-13 16:03] pranavkm commented on #38985
I'm not entirely sure how Unity projects references packages or `FrameworkReference`s, but it sounds like your app is mixing 5.0 .NET Core framework reference and 2.2 ASP.NET Core package references. Mixing major versions is unsupported and likely to produce errors like the ones you're seeing. Additionally, ASP.NET Core 2.2 has been [out of support](https://docs.microsoft.com/lifecycle/products/mi

[2021-12-13 16:19] danroth27 commented on #35077
Hi folks. I'd like to collect some more details on the specific scenarios for using ASP.NET Core in a mobile app. So far from the feedback in this issue I've identified two scenarios:

- Building a mobile app as a locally hosted web app (https://github.com/dotnet/aspnetcore/issues/35077#issue-962146241)
- IPC between apps using gRPC (https://github.com/dotnet/aspnetcore/issues/35077#issuecomment-9

[2021-12-13 16:35] TanayParikh opened #38995 "Quarantine ShutdownTimeoutIsApplied"
## Failing Test(s)

- Microsoft.AspNetCore.Server.IIS.NewHandler.FunctionalTests.ShutdownTests.ShutdownTimeoutIsApplied

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[ShutdownTests_ShutdownTimeoutIsApplied.log](https://github.com/dotnet/aspnetcore/files/7705386/ShutdownTests_ShutdownTimeoutIsApplied.log)

</details>

## Build

https://dev.azure.com/dnc

[2021-12-13 16:36] TanayParikh commented on #38995
Possibly related to https://github.com/dotnet/aspnetcore/issues/38951?

[2021-12-13 17:03] nvmkpk commented on #38970
The scoped css file name for blazor desktop is `<target name>.Desktop.styles.css`. I have a successfully running wpf blazor desktop sample with a blazor (razor) class library sharing the UI and logic with webassembly, server and desktop hosting.

[2021-12-13 17:15] knoepdan commented on #38465
In our Single Page App scenarios/setups, this is a crucial feature and hot reload does not replace it properly.
I get an error: "{"ErrorCode":5000,"Message":"Error in path , ex: InvalidOperationException\r\n   System.InvalidOperationException: Cannot find compilation library location for package " when activating razor compilation in .Net 6 via Code  " services.AddControllersWithViews().AddRazorRu

[2021-12-13 17:17] pranavkm commented on #38950
@vkeziv could you file a VS feedback issue to report it? It'll help get it routed to the right team in VS: https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2022

[2021-12-13 17:36] mkArtakMSFT commented on #38987
Thanks for contacting us.
Environment variables aren't available to Blazor WebAssembly. We recommend using application settings configuration APIs to pass configuration to a Blazor WebAssembly apps. You can read more about it from [our docs](https://docs.microsoft.com/aspnet/core/blazor/fundamentals/configuration).

[2021-12-13 17:36] #38987 closed

[2021-12-13 17:43] mkArtakMSFT commented on #38971
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2021-12-13 17:43] Tratcher commented on #38995
The log does contain `Event Log: 'Application 'C:\h\w\A26808F4\t\6b2f1e1a99dd4b1ea3f823e23b4bee62\' started successfully.' `

Note the extra trailing slash.

`'Application 'C:\h\w\A26808F4\t\6b2f1e1a99dd4b1ea3f823e23b4bee62\' started successfully.' `
`'Application 'C:\h\w\A26808F4\t\6b2f1e1a99dd4b1ea3f823e23b4bee62' started successfully.'`

[2021-12-13 17:44] vkeziv commented on #38950
@pranavkm Yess, of course.

[2021-12-13 17:44] #38950 closed

[2021-12-13 17:48] mkArtakMSFT commented on #38962
Thanks for the detailed investigation on this, @GerkinDev.
We have most of the team out for holidays so expect some delay here. We will reevaluate your proposed fix and see whether we need to do anything else or that 's the real fix.

[2021-12-13 17:59] mkArtakMSFT commented on #38961
Thanks for the details, @zarinportal. Looking at your shared website it looks like your server network speed is low and maybe unreliable. We recommend hosting your website on a server with reliable network connection and that would most probably address your issues.
As a side note, from my experience, the download speed for the content from that server is was about ~20Kb/s and a lot of requests ha

[2021-12-13 17:59] #38961 closed

[2021-12-13 18:00] mkArtakMSFT commented on #38948
@radical, @lewing this seems to be worth documenting. Would you be able to write up something so that all the customers can benefit from it?

[2021-12-13 18:04] mkArtakMSFT commented on #38945
Glad that you've got it solved, @SymoHTL.
Closing as there is nothing we can do here without much information on what may have caused this.

[2021-12-13 18:04] #38945 closed

[2021-12-13 18:08] ShaunCurtis commented on #14962
Daniel,

Brilliant - I've just run some quick tests and it looks to cover all the bases.  Having had a lot of people looking at it, I didn't think it was possible without upsetting the Blazor JS code.

I'm planning to do more in-depth testing tomorrow and incorporate it into a demo project.

Can I include this in my latest Blazor Edit Form code release?  If so what copyright header notice do you w

[2021-12-13 18:24] Tratcher commented on #38904
IDistributedCache is an abstraction over multiple data stores and it doesn't special case strings.
`public void Set (string key, byte[] value, Microsoft.Extensions.Caching.Distributed.DistributedCacheEntryOptions options);`
https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.caching.distributed.idistributedcache.set?view=dotnet-plat-ext-6.0#Microsoft_Extensions_Caching_Distributed_IDi

[2021-12-13 18:26] TanayParikh opened #38998 "Quarantine PersistentState_StreamsReused_StatePersisted"
## Failing Test(s)

- Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.Tests.QuicConnectionContextTests.PersistentState_StreamsReused_StatePersisted

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[QuicConnectionContextTests_PersistentState_StreamsReused_StatePersisted.log](https://github.com/dotnet/aspnetcore/files/7706026/QuicConnectionContextTests_P

[2021-12-13 18:44] DjeeBay opened #39000 "Blazor dotnet publish error Microsoft.NET.Sdk.BlazorWebAssembly.ComputeBlazorPublishAssets.GroupExistingStaticWebAssets"
I have a Blazor project recently upgraded from .NET 3.1 to 6.0 that cannot be published anymore due to the following error when publishing :

System.ArgumentException: An item with the same key has already been added
Microsoft.NET.Sdk.BlazorWebAssembly.ComputeBlazorPublishAssets.GroupExistingStaticWebAssets

The binlog shows that the problem comes from referenced assemblies (.dll) that I have in t

[2021-12-13 18:55] halter73 commented on #38893
@angelaki Don't feel obligated. There's a little more work to make sure we're testing all the abort scenarios we can, and it's always nice to have another pair of eyes making sure all the places we abort start() with stop() are covered. The notes I left are for whoever ends up taking it. It may be me 😄

[2021-12-13 19:02] TanayParikh commented on #39000
Hello @DjeeBay, thanks for reaching out. Can you confirm if you did a full project clean before attempting to publish in .NET 6? Please try deleting the `bin` & `obj` folders as well.

[2021-12-13 19:07] #38964 closed

[2021-12-13 19:07] #38949 closed

[2021-12-13 19:07] pr-benchmarks[bot] opened #39001 "Perf regression: fortunes_dapper"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes_dapper  | Fortunes Platform Dapper aspnet-citrine-win | 12/12/2021 09:47:33 | 353,692 | 344,384 | -3.42 % (-12,114)  :thumbsdown:  | -2.44 σ | 4,958.12 | <details>    <summary>Changes</summary>

[2021-12-13 19:10] DanielD commented on #38332
I have installed this version of the 6.0 runtime on a Windows Server 2016: dotnet-runtime-6.0.0-win-x64.exe as noted by @mickelsonmichael
My `PATH` variables are in the correct order according to @adrianwright109

When running at the command line, I get the same errors:
`C:\Program Files\MyCompany\MyApp>dotnet .\DC.Apps.Miviva.Api.dll
It was not possible to find any compatible framework version
Th

[2021-12-13 19:13] zarinportal commented on #38961
Thanks

[2021-12-13 19:16] Liero commented on #14962
@ShaunCurtis: you can use or modify the code freely, no need for any credits. If you want, you can find me on linked-in. I'm not sure this works all the time, so be careful. I just wrote it today.

[2021-12-13 19:18] juwens commented on #35077
@danroth27 thanks for taking a look into this.

Additional to #35077 there is local network GRPC planned.
For example:
- GRPC call from a smartwatch to mobile-phone (ad-hoc controlling the app temporarily, when you need your hands and cannot hold the mobile phone at the moment; afterwards continuing on the phone)
- GRPC call from a pc to a mobile phone (use the convenience of a keyboard and big sc

[2021-12-13 19:22] dougbu commented on #38332
@DanielD you have correctly installed the 6.0.0 version of Microsoft.NETCore.App but apparently do not have the Microsoft.**AspNetCore**.App runtime for that version. The https://aka.ms/dotnet-core-applaunch?framework=Microsoft.AspNetCore.App&framework_version=6.0.0&arch=x64&rid=win10-x64 link (under "Run server apps") will get you the missing piece.

[2021-12-13 19:30] wgrs commented on #38971
Hot reload doesn't work in the standard Blazor project using latest VS2022
with .net 6.0.100. Saying that is does is misleading people.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-4

[2021-12-13 19:37] Tratcher commented on #38917
@javiercn I think this is because of the new SPA proxy in 6.0. Can you take a look?

[2021-12-13 19:59] wgrs commented on #38202
Why does microsoft deliberately mislead people into thing that Blazor WASM support hot reload? It does not and never did. Why not just publish a doc stating this clearly instead of pretending it does just to keep the corp bosses happy. You are wasting everones time!

[2021-12-13 20:03] kevonh commented on #38202
It actually does work... just not in debug mode, and not if you have response compression turned on.  There are a few other caveats, but once you have your environment in the right mode, it works pretty well.

What would be NICE is a document detailing all of these caveats that went along with the announcements, so it's CLEAR to everyone what you have to do in order to get it to work.

[2021-12-13 20:07] GerkinDev commented on #38962
Pretty sure there is more though. But, still, I look forward to the diff with the actual fix and a test case that isolates that situation. I spent a couple of hours trying, and I'm very frustrated.

Happy holidays people! :santa:

[2021-12-13 20:07] DjeeBay commented on #39000
Hi @TanayParikh, yes I did and like I said I can reproduce on a brand new project to confirm this behavior with .NET 5.0 against .NET 6.0.

[2021-12-13 20:12] halter73 commented on #38922
Yes. It's maintained in this repo [here](https://github.com/dotnet/aspnetcore/tree/69f09eea69dbb42b8cbc044306c0b3f44d98f8d2/src/SignalR/clients/ts/signalr).

[2021-12-13 20:12] wgrs commented on #38202
Its does not work. I have been testing extensively today and not once has the hot reload worked. I tested throughout preview and it also did not work correctly. I am testing with the latest of everything ( not preview ). Stack Overflow is full of failed attempts to get it to work. I have also tested the CLI commands - using the latest CLI .

[2021-12-13 20:25] wgrs commented on #38971
So you launch .net 6.0 with all the fanfare saying that HOt Reload works for Bazlor wasm - but it NEVER did. Why not admit it and schedule a relaunch for a later date instead of wasting everyones time???

[2021-12-13 21:04] MariovanZeist commented on #39000
@DjeeBay I had a similar problem, it turned out there were 2 projects with the same content. Both projects had a ```"package.json"```
with their Build action set to ```content```. setting the Build action to ```none``` fixed it for me.

[2021-12-13 21:13] sebastienros commented on #38942
/cc @richlander @mairaw

[2021-12-13 21:14] #38904 closed

[2021-12-13 21:19] DjeeBay commented on #39000
@MariovanZeist yes I saw that in some projects there are some identical filename issues (#38186, #37610, #35633) but not in my case. The build action didn't change anything either.

Just try to create a new Blazor wasm project, then create elsewhere a new standard 2.0 project, then add a reference of the standard 2.0 .dll into the Blazor Shared project.

You won't be able to publish with .NET 6.0,

[2021-12-13 21:21] Tratcher commented on #38967
Please move this to https://github.com/dotnet/command-line-api

[2021-12-13 21:36] MariovanZeist commented on #39000
@DjeeBay Could you create a minimal repro? using your instructions ended up working for me, so possibly I didn't understand your instructions exactly.

[2021-12-13 21:54] cijothomas commented on #38850
This should be possible custom "propagators" (https://github.com/dotnet/runtime/issues/50658). The default propagator respects the W3CTraceContext spec, i.e it looks for "traceparent" header (with a fallback to "request-id" to maintain back compact with legacy header).

[2021-12-13 21:58] DjeeBay commented on #39000
@MariovanZeist here we go : [https://github.com/DjeeBay/BlazorNET6WontPublish](url)

The "HelloStandard.dll" referenced in the Shared project does nothing, it's just a new standard 2.0 project.

[2021-12-13 22:00] #38746 closed

[2021-12-13 22:08] halter73 commented on #38977
This scenario should continue to work in .NET 6, but it's possible that ResolveServiceProviderFactory is launching the app in a way that makes it unable to discover the assembly containing `[assembly: HostingStartup(...))]`. By default, ASP.NET Core will just search the entry assembly for `HostingStartupAttribute`, but this can be configured with environment variables. See https://docs.microsoft.c

[2021-12-13 22:33] MariovanZeist commented on #39000
@DjeeBay Thank you for the repo. I am able to reproduce your problem. But I don't know a solution.

[2021-12-13 22:41] #38981 closed

[2021-12-13 22:44] halter73 commented on #38976
I think we're going to need more logs to get to the bottom of the weboscket issue. Can you grab a network trace using wireshark on the client side?

The chrome network logs make it look like long polling is working based on the 1.5 minute 200 responses, but it indicates the clients probably aren't receiving any messages. I don't see anything indicating the reason for the websocket request failing

[2021-12-13 22:44] NTaylorMullen opened #39009 "Compiling Razor netcoreapp3.1 project does not respect <Content Remove="..." /> items"
### Describe the bug
If a user removes a Razor file from the `Content` item group said item is still compiled.

### To Reproduce

1. Create a new Blazor Server netcoreapp3.1 app
2. Add the following to the csproj:
[code]
3. dotnet build

### Expected
Errors because `_Imports.razor` is no longer included therefore all other Razor files don't have their usings anymore.

### Actual
No errors, success

[2021-12-13 22:46] brunolins16 opened #39010 "Use JSON Property Name attributes when creating ModelState Validation errors"
## Background and Motivation
Currently, when the model validation produces the ModelErrorDictionary it will use the property name as error's key, as described in the example bellow, however in scenarios as SPA applications it can be difficult to handle the response since most of the time the property name is an implementation detail and not exactly what is expose through the JSON data.

[code]

[c

[2021-12-13 22:55] BonnieSoftware commented on #38967
This relates to the configuration though so should it be moved?

[2021-12-13 22:58] Tratcher commented on #38967
Ah, that one's over here: https://github.com/dotnet/runtime/blob/8b1a0c865799e45208dfa20f8b74e53e9c9c2484/src/libraries/Microsoft.Extensions.Configuration.CommandLine/src/CommandLineConfigurationExtensions.cs

[2021-12-13 23:05] sebastienros commented on #38771
@Tratcher helped me repro the issue without MVC which means it's very probably a bug in Kestrel. I am working on a fix.

[2021-12-13 23:16] ZacMillionaire opened #39011 "Debugging Blazor WASM project running from a directory with special characters fails to"
### Describe the bug
When running a Blazor WASM project from a directory containing special characters, breakpoints will not be hit correctly and will produce:
`Unable to retrieve source content (Unable to retrieve source content)`

Tested with Chrome, Edge, Firefox, Vivaldi. All result in a similar response

### To Reproduce
Reproducible using project templates from a fresh install of Visual Stud

[2021-12-13 23:39] lbosquett commented on #37753
I would like to pick this issue to update the docs if still avaliable.
I already have an idea of how change the code using the `TlsHandshakeCallbackOptions` and can make a pull request to change it.

[2021-12-13 23:40] nfplee opened #39012 "Publishing issue with output files with the same relative path"
Since upgrading to .NET 6 (with Visual Studio 2022) I am now getting the the following error when publishing using Web Deploy:

Each project can have their own `Assets.json` and `Scripts.json` file. The `Assets.json` is used by Gulp and the `Scripts.json` is an embedded resource. Currently I have a `Directory.Build.props` file within the "Modules" directory which says the following:

[code]

The `

[2021-12-13 23:41] Tratcher commented on #37753
@lbosquett yes please.

[2021-12-14 00:26] brunolins16 commented on #8847
As @jeremyVignelles stated the currently the `OutputFormatterCanWriteContext`, context provided to the formatters, does not have any information that allows the differentiation from `null` or `OKObjectResult`.

We can change the api to provide additional information to the context, however, the current workaround seems a reasonable approach https://github.com/dotnet/aspnetcore/issues/8847#issuecom

[2021-12-14 00:40] brunolins16 commented on #25516
@grammophone we appreciate your time sharing your thoughts and they make sense in general, however, as stated by @pranavkm, we have a reasonable solution right now and a little feedback related to the current behavior. With that, I am closing this issue as By Design. Thanks.

[2021-12-14 04:00] #38972 closed

[2021-12-14 05:38] datvm opened #39014 "Render another partial view (B) within a partial view (A) by specifying relative path to current partial view (A)"
### Is your feature request related to a problem? Please describe.

I have a Razor Pages project (no Controller) with structure like this:

![image](https://user-images.githubusercontent.com/6388546/145939402-62a6b794-460c-405d-8dbd-4fea0020dcfe.png)

From the main `Index.cshtml`, I would render a partial view for its content depend on the Theme name, for example:

[code]

In `HomeContent.cshtml`,

[2021-12-14 06:35] datvm commented on #39014
I found out it's actually possible using `IViewLocationExpander` although I cannot find any official documentation on how to use it:

[code]

[2021-12-14 07:06] #39001 closed

[2021-12-14 08:20] lucianparvu commented on #32867
@pranavkm do we have any news on this ? When we should see improvements ?

[2021-12-14 08:38] Mike-E-angelo commented on #32867
Right now with 17.1.1 preview I am seeing a 40-60 second compile-time on my project for the simplest of changes.  This is before hot reload gets involved.  So, it would seem that the current Razor build system really struggles with larger projects in general. 😞

[2021-12-14 08:42] dvallmen opened #39016 "[Blazor WASM] Caching problem leading to service worker update problems"
### Describe the bug
Experimenting with the PWA option for Blazor WASM projects i was discovering problems with the default service worker implementation regaring the update mechanism:

Starting with a service worker version v1 installed and working, i am deploying a new service worker version v2. Opening the PWA, the onInstall event gets invoked, starting the caching/fetching process for the asse

[2021-12-14 08:59] lucianparvu commented on #32867
In my case, i have hot reload after ~ 40 - 1.5 min seconds on every .razor file, everything else ( css, pure C# files ) takes ~1-2 seconds

[2021-12-14 09:12] bramve-fenetre commented on #38993
@Tratcher Yes indeed, but i would prefer to just use the RedisCache implementation directly if possible, since if it is improved upon in this repository then we would just have to update the nuget package.

[2021-12-14 11:09] BenWhite27 commented on #38202
I have Hot Reload working quite well for probably 80% of my development. Sure when I make substantial changes to the code I expect it to ask me to restart the app but for all those little tweaks I make to UI, CSS and method bodies it works great and has saved me a bunch of time.

If you're having difficulty, try creating a blank project and testing hot reload in there it's likely to be something i

[2021-12-14 11:33] julienGrd opened #39017 "[.NET 6 Blazor server] can't catch properly an ObjectDisposedException when stream from c# to Js"
Hello guys, I had a bug on my code which thrown an "System.ObjectDisposedException: Cannot access a closed Stream", when i was sending a stream to js.

The error was pretty clear, i was trying to consume a stream already consumed.

but anyway, i saw the exception was not catch so it let the app in a incoherent State.

I have an ErrorBoundary also in the app which was not updated.

I see anyway the

[2021-12-14 12:28] wgrs commented on #38202
I am using a brand new Blazor project - straight form the template. I have submitted so many bug reports I dont bother anymore - surely one look at Stack Overflow will tell them its not working.

[2021-12-14 12:44] jamesikanos opened #39073 "Dotnet Watch Run indefinitely reloads"
### Describe the bug
Calling `dotnet watch run` will detect changes continuously and loop forever.

The first time a file is changed, the Program will rebuild and run. But, after that it will continuously rebuild and reload, even without changing the file.

Workaround, run `dotnet watch run --no-hot-reload` and it will behave as desired (ie: only reloading when a file actually changes).

Environme

[2021-12-14 13:14] GingerSquirrel commented on #38892
I had to remove Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation to fix this error.

[2021-12-14 13:32] Trokkin opened #39019 "[Question] A way to completely disable authentication on a method"
## Summary

I need a way to disable authentication completely so no User would be present in method's context.

I made a solution but I doubt if it is good enough.

## Details

I have a method with custom authentication based on request parameters, so I need its context to be free of authenticated users before I call my authentication, or it will break. My application has cookie and JWT authentica

[2021-12-14 13:50] nfplee commented on #39012
I was on the right lines however I put the following in a `Directory.Build.targets` file instead and not it seems to work:

[code]

[2021-12-14 13:50] #39012 closed

[2021-12-14 15:11] wgrs commented on #38971
![image](https://user-images.githubusercontent.com/1666056/146024957-edfef530-2dc9-472f-94a7-27f6c4f28179.png)

This shows the Index.razor trigger change being recognised, but the UI update never happens.

[2021-12-14 15:33] rjgotten opened #39020 "Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation 3.1.22 has broken dependencies on NuGet"
### The problem
The package `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation`, version 3.1.22 in NuGet refers to unexisting packages:
- `Microsoft.AspNetCore.Mvc.Razor.Extensions`, version 3.1.22
- `Microsoft.CodeAnalysis.Razor`, version 3.1.22

### To Reproduce

- [Inspect the package](https://nuget.info/packages/Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation/3.1.22)
- Follow the listed non-

[2021-12-14 15:45] TanayParikh commented on #39020
cc/ @dotnet/aspnet-build, seems to be related to the `aspnetcore-tooling` -> `razor-tooling` migration.

[2021-12-14 16:29] thirstyape commented on #38905
@TanayParikh I did some further testing today and I believe that we can close this out. I was able to use the sample project and get everything to work as expected as long as there was a single exception.

I pushed my changes to the test. With these updates, the `ErrorBoundary` now works as expected and can be re-used as many times as needed. That is, it will not stop working after the first time.

[2021-12-14 16:34] TanayParikh commented on #38905
Thanks @thirstyape, let's keep this issue open to track potentially adding support for multiple exceptions in the future.

[2021-12-14 17:06] Tratcher commented on #38993
This implementation's purpose is to implement IDistributedCache. Your requirements go well beyond that and aren't something we plan to pursue.

[2021-12-14 17:08] TanayParikh commented on #39017
Interestingly, doing something like `_ = await JS.InvokeAsync<string>("nonExistantFunction");` upon button press doesn't crush the circuit and successfully triggers the error boundary.

[2021-12-14 17:11] psiservices-dbrink commented on #38226
@NCarlsonMSFT any updates?

[2021-12-14 17:16] TanayParikh commented on #39000
Hello @DjeeBay, I believe this issue may have been resolved in the most recent patch `.NET 6.0.1`, which will be coming out today. Could you please give that a try once it's available.

[2021-12-14 17:17] TanayParikh commented on #37610
@johngsandiford the .NET 6 patch for this issue came out today, please let us know if you're still facing this issue on .NET 6.0.1.

[2021-12-14 17:20] NCarlsonMSFT commented on #38226
@psiservices-dbrink you've found an additional bug on top of the [known issue](https://github.com/microsoft/DockerTools/issues/320) 😔
I have a fix queued up targeting the next release. in the mean-time you can use the general work-around documented [here](https://github.com/microsoft/DockerTools/issues/320) and then for the second bug you can add the section:
[code]
To your service projects

[2021-12-14 17:27] psiservices-dbrink commented on #38226
@NCarlsonMSFT, thanks for the update.

Does &lt;DockerDevelopmentMode&gt; work in csproj files?  I've only observed an effect in dcproj files.  Unfortunately adding it to the dcproj affects all defined services and not just the single angular app where I need a full dockerfile build.

[2021-12-14 17:43] TanayParikh commented on #39011
@thaystg are you aware of any special character related issues with debugging?

[2021-12-14 17:45] thaystg commented on #39011
No, can we transfer this issue to dotnet/runtime repo or create another one there? Then I can work on it.

[2021-12-14 17:49] jseward commented on #38609
Hi @rafikiassumani-msft . I'm on .NET 5.0. As far as I can tell the errors have gone away for now.

[2021-12-14 17:54] #38437 closed

[2021-12-14 17:57] TanayParikh commented on #39014
Hi @datvm, this is by design. Partial view lookup is done in two ways:

- By name
- By file path

You've done the lookup by name (without file extension), if you want to use a relative path, make sure you specify the file extension.

[code]

[2021-12-14 17:57] #39014 closed

[2021-12-14 18:03] TanayParikh commented on #38924
Hello @DenisPolagaev, it looks like you're referencing the dll instead of the nuget package. Can you please try referencing the packed nuget package?

[2021-12-14 18:03] #38924 closed

[2021-12-14 18:08] TanayParikh commented on #39020
Hello @rjgotten, thanks for pointing this out. The packages should now be available, could you please give it a try?

[2021-12-14 18:11] brunolins16 commented on #17999
@antonioortizpola I have submitted an API suggestion (#39010) that should cover the issue, including the scenario reported by @GREsau (https://github.com/dotnet/aspnetcore/issues/17999#issuecomment-810918926)

[2021-12-14 18:11] #17999 closed

[2021-12-14 18:13] TanayParikh opened #39027 "Update Release Manifests with New Packages"
`Microsoft.AspNetCore.Mvc.Razor.Extensions` and `Microsoft.CodeAnalysis.Razor` are not being automatically published as part of our release process.

We've had customer reports on release days for this issue:
- https://github.com/dotnet/aspnetcore/issues/39020
- https://github.com/dotnet/aspnetcore/issues/38172

[2021-12-14 19:07] #38974 closed

[2021-12-14 19:07] pr-benchmarks[bot] opened #39033 "Perf improvement: multiple_queries"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| multiple_queries  | Multiple Queries Platform aspnet-citrine-win | 12/13/2021 09:49:25 | 23,248 | 27,507 | 19.96 % (4,640)  :thumbsup:  | 2.38 σ | 1,946.34 | <details>    <summary>Changes</summary>

[2021-12-14 19:09] dougbu commented on #39027
@wtgodbe who from the release or CQB teams should be assigned this bug❔

[2021-12-14 19:09] dougbu commented on #39020
Sounds like the release process had a hiccup today but everything is now sorted. If you agree @rjgotten, please close this issue.

[2021-12-14 19:12] wtgodbe commented on #39027
@rbhanda

[2021-12-14 19:33] #37753 closed

[2021-12-14 20:15] DjeeBay commented on #39000
Hello @TanayParikh, it works as expected now with .NET 6.0.101.

Great job !

[2021-12-14 20:17] TanayParikh commented on #39000
Great to hear, thanks for checking!

[2021-12-14 20:17] #39000 closed

[2021-12-14 20:21] captainsafia commented on #38876
@mumby0168 Any lock with [setting the `reloadConfigOnChange` flag](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-6.0#disable-app-configuration-reload-on-change) in your appsettings file?

[2021-12-14 20:21] timheuer commented on #38942
@Tratcher I think this is correct...the message indicated a missing runtime and provides a link to the specific runtime installers.  Removing the `/runtime` in the URI takes you to the general download pages which becomes even more a choose-your-own-adventure place (do I need SDK, do I need linux, do i need...).  The runtime download page (while still not perfect as I think this specific one shoul

[2021-12-14 20:33] TanayParikh commented on #38962
Hmm, so this doesn't seem to be sufficient. I manually evicted the pending task in `JSRuntime.EndInvokeJS` however that doesn't result in any errors (like the JSON error on the next interop call).

If we look over at the `DotNetDispatcher` where your error is thrown, we actually create a new JSON reader on every call, so leaving the stream "as-is" shouldn't be possible:

https://github.com/dotnet/

[2021-12-14 21:01] captainsafia commented on #38857
Yep, this seems to be the contributing factor. I wasn't able to repro without the include in the csproj (or adding it in after the fact).

Backlogging this for now since I don't see an obvious bug in the config loading that merits fixing.

[2021-12-14 21:32] mumby0168 commented on #38876
I'm sure that will do the trick thanks, since this I have built and pushed images for M1 native using docker buildx happy to close this now thanks @captainsafia 😃

[2021-12-14 21:32] #38876 closed

[2021-12-14 21:35] HaoK commented on #25311
Fixed by https://github.com/dotnet/aspnetcore/pull/39034

[2021-12-14 21:35] #25311 closed

[2021-12-14 21:47] #35431 closed

[2021-12-14 22:11] mairaw commented on #38942
Giving a direct download is on our backlog and I hope my team is able to take on that work soon (timeline still TBD).

[2021-12-14 22:22] mkArtakMSFT opened #39036 "Pass PDB Deltas to MetadataUpdateHandler"
After Hot Reload happens, breakpoints in the code which got modified are moved, but the execution breaks in the original location, which is incorrect.
This is due to not passing PDB deltas to the `MetadatUpdateHandler`. The hot reload agent UpdateDelta type and – ultimately – the websocket protocol would need to be updated to include the PDB delta as optional content.

[2021-12-14 22:28] nfplee opened #39037 "Hosted services start later with minimal API"
I've found another problem with the new minimal API introduced in .NET 6 which I haven't seen announced. Hosting services appear to start later than they did before. Here's a sample application which demonstrates the problem:

[WebApplication1.zip](https://github.com/dotnet/aspnetcore/files/7715122/WebApplication1.zip)

<details>
 <summary>Program.cs</summary>

[code]

</details>

If you put a bre

[2021-12-14 22:32] MattGal opened #39038 "Consider producing fewer log files per Helix work item (10k+ in some instances)"
The test work item "Microsoft.AspNetCore.Server.Kestrel.Core.Tests" currently uploads something like 10.6k text files per execution.  I noticed this during other investigations, but if possible it would be much simpler for folks reading logs, downloading result files, and other tasks if this could be reduced either via concatenation or zipping.

Example:
[code]

[2021-12-14 22:48] musamalou opened #39039 "Using Custom ILogger with ErrorBoundary produces exception = null"
I have a blazor webassembly project with a custom ILogger that worked fine. However, after I used the new ErrorBoundary, the public void Log<TState> method of the ILogger is called with logLever = Error and a null exception.

[code]

[2021-12-14 22:48] NCarlsonMSFT commented on #38226
@psiservices-dbrink there is currently no support for setting DockerDevelopmentMode on a per-service basis. The closest option available would be to move the dockerfile to be in a different folder than the project (be sure to update the reference in the compose file). This will cause the tooling to leave managing the service to compose. The service will no longer launch under the debugger, but if/

[2021-12-14 23:19] ShaunCurtis commented on #14962
Daniel,

Did you test this in WASM?  It works great in Server, but I'm having issues in WASM.

[2021-12-14 23:32] djrpascu opened #39045 ".NET 6 Console App Error on Simple Http Request - 10053 An established connection was aborted..."
### Description

I'm working on a simple .NET 6 console app that will make an HTTP request to GET data from an web API endpoint on corporate LAN. If I try to make the request, I get back an exception - 10053 - An established connection was aborted by the software in your host machine. I suspect the issue has to do with the console app not communicating with the company proxy correctly. When I run

[2021-12-15 00:59] halter73 commented on #39037
Thanks for the report @nfplee.

The generic host could run the `Configure(IApplicationBuilder)` method or callback as part of `StartAsync()` after other hosted services completed. Unfortunately, it's not possible to delay the execution of code referencing the `WebApplication`. As soon as the `WebApplication` is built, code can start adding middleware.

We could consider starting hosted services as

[2021-12-15 01:00] #25516 closed

[2021-12-15 04:03] AndrewTriesToCode opened #39050 "Identity Specification Tests Issues"
## Failing Test(s)
For target `netcoreapp3.1` any test checking logging fails due to the removal of logging user IDs in [this commit](
https://github.com/dotnet/aspnetcore/commit/71fef28e47db385efee14f80135391cf9ab516b6#diff-510a59e10134ab112b6061fbd305108dfb7ebf37210bb15edfebb503b61d8b83).

These are the tests that fail:

-    IdentitySpecificationTestBase.AddUserToRoleFailsIfAlreadyInRole
-   Id

[2021-12-15 05:39] datvm commented on #39014
Ahh! I didn't know these are different! Thanks a lot, your solution works much better without extra code.

[2021-12-15 07:06] pr-benchmarks[bot] opened #39051 "Perf regression: fortunes"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes [Fixed] | Fortunes Platform aspnet-citrine-lin | 12/13/2021 21:51:52 | 475,377 | 461,519 | -4.67 % (-22,200)  :thumbsdown:  | -3.98 σ | 5,574.54 | <details>    <summary>Changes</summary>     <t

[2021-12-15 08:15] julienGrd opened #39052 "dotnet.wasm and other dll regenerated at each publish"
Hello guys, i notice each time i publish, dotnet.wasm and other dependencies for .net core in webassembly are regenerated at the date/time of the publish (files into wwroot/_framework mainly).  even if no dependencies was updated

This have two main consequences :
- when i release a production version of my software, all my clients update their version by making a comparaison between their file an

[2021-12-15 09:05] jirikanda opened #39053 "RenderTreeDiffBuilder – components after components with @key are often recreated"
## Observation
[code]
* Everytime when the count field is decreased, the AnotherComponent is removed, and new instance is created. As a result, it loses its state.
## Repro steps
* https://github.com/jirikanda/Blazor-KeyIssueRepro
* Run the application in debug mode (F5). There is a breakpoint in the AnotherComponent which will be hit, continue (F5).
* Click -1 button in the browser page.
* Breakp

[2021-12-15 09:06] rjgotten commented on #39020
I've heard back from a co-worker who has verified that builds are succeeding again.
So; guess it's ok again for now.

Hopefully we won't be looking at a repeat again next month.

[2021-12-15 09:06] #39020 closed

[2021-12-15 09:22] nfplee commented on #39037
Thanks for your response @halter73. I need the hosted services to run before the application starts as it allows my database migrations to be applied. To be abit more specific I have the following in my startup:

[code]

The localization manager retrieves the locales from the database and adds custom routes for each locale. The problem though is that when I first run my application it creates the

[2021-12-15 09:53] GerkinDev commented on #38962
Hi,

I'm trying to get you this confirmation, along with a record of every calls done to JS invocation tasks creation/deletion. But I'm currently having troubles with the `restore` script in the aspnetcore repo.

I keep you updated.

[2021-12-15 11:06] sjbthfc2 opened #39054 "Use string interpolation in .NET 6 minimal API routes"
Minimal API routes are mapped using strings, but it looks like there is no way to specify a "base" part of the route and substitute this in route strings with interpolation when the route contains a parameter. This means parts of the route are repeated for every mapped handler. Is it possible to do the following?

[code]
At the moment this obviously does not compile.

Thanks

### Is your feature r

[2021-12-15 11:25] slang25 commented on #39054
You should be able to escape the braces by doubling them like this:
[code]

[2021-12-15 11:34] sjbthfc2 commented on #39054
Hi @slang25, thank you so much, that works perfectly.

[2021-12-15 11:34] #39054 closed

[2021-12-15 12:21] rjgotten commented on #39014
Bad idea in the general sense.
Performing a lookup by filename is iirc a fallback which happens only after all lookups via the normal view location method have failed. In other words: relying on file names for relative view lookups would probably prevent those lookups from working in combination with other application features added via view location expanders, such as localized views - e.g. `Exam

[2021-12-15 14:09] MuscleBy opened #39056 "Blazor WebbAssembly exception when calling javascript function?"
I have a C# function that is invoking a Javascript function, this is the C# function:

`await _jsRuntime.InvokeVoidAsync("setMediaUsingStreaming", type, dotnetImageStream);`

And this is the Javascript function:

[code]

When the C# function is invoking the Javascript function I receive this error :

The weird thing is that I receive this error when I run the app in publish mode (withouth a debugg

[2021-12-15 14:50] GerkinDev commented on #38962
So,

I've edited here

https://github.com/dotnet/aspnetcore/blob/591391e425659ab618f5e2f891396ac3e34cf264/src/JSInterop/Microsoft.JSInterop/src/Infrastructure/DotNetDispatcher.cs#L313

And replaced with

[code]

Here's my exception now:

[code]

Below is a record of my calls affecting then `_pendingTasks` in JSRuntime.cs:

<details>
<summary>Recording</summary>

[code]

Records were done just abov

[2021-12-15 15:02] RoadTrain commented on #38769
@macsux Hi!
Can you verify the fix?

[2021-12-15 15:30] TanayParikh commented on #39056
Hello @MuscleBy, thanks for contacting us. I tried out the code snippet you provided however the issue didn't reproduce. Could you please provide a minimal, public github repro project. Please ensure any unnecessary code to the repro is trimmed, ex only keep code for `img` or `video` above.

[2021-12-15 15:53] ShaunCurtis commented on #20761
Do you want to close this out. There are other ways to address this.

[2021-12-15 15:53] #20761 closed

[2021-12-15 16:44] TanayParikh commented on #38962
Thanks for the detailed analysis @GerkinDev!

Just to clarify on your recording:

[code]

Based on the identifier it appears there are two distinct tasks with `taskId` 18. Am I misinterpreting the trace? Could you please specify what you replaced `Start` and `Start with args serialized` with (as you specified for `Cleanup`).

[2021-12-15 17:22] blowdart commented on #39019
_I have a method with custom authentication based on request parameters,_

So it's not actually anonymous at all, it's just you construct the identity from the query string? You could/should write a custom auth type and add it to your pipeline, then use Authorize[Scheme="yourSchemeName"] to limit the auth to just your custom parameter based approach.

I have an old workshop on this, https://github

[2021-12-15 17:33] GerkinDev commented on #38962
Wow, indeed, I didn't even noticed that !

Here is the full replacement:

[code]

[2021-12-15 17:51] TanayParikh commented on #38962
`Interlocked.Increment` should guarantee thread safety here, and ensure we don't have duplicate `taskId`. The only explanation I can come up with for the duplicate `taskId` is the `TasksRecord` is a `static` collection and records from multiple `JSRuntime` instances are being added to it.

[2021-12-15 18:11] GerkinDev commented on #38962
Yes, you are absolutely right on the whole thing, I did the record without thread safety in mind at all, and I indeed made it static because I wasn't sure how I could get its content back. So _i tried silly stuff_. Hey don't look at me like that, I'm not a C# expert okay ? I'm just a poor front-end JS aficionado that had a work on Blazor !

Enough talking. Here is the exact same recording made wit

[2021-12-15 18:47] sebastienros commented on #38848
Linux

![image](https://user-images.githubusercontent.com/1165805/146246683-33de0764-e50a-4c28-9f68-a18006eafe3a.png)

Windows

![image](https://user-images.githubusercontent.com/1165805/146246729-809e8a72-20e2-4f84-a150-5d1079863bf0.png)

[2021-12-15 18:47] #38848 closed

[2021-12-15 18:48] TylerDM opened #39059 "Having a space in project name for a hosted Blazor WebAssembly project breaks the build"
### Describe the bug
Adding a space to the name of a Blazor WASM front end for a Dotnet Core backend results in a failing build.

### To Reproduce
- Create a new solution using the "Blazor WebAssembly App" template in Visual Studio.
  - Leave everything default unless noted otherwise.
  - Check "ASP.NET Core hosted".
- Rename the project from "BlazorApp1.Client" to "BlazorApp1 Client".
  - Correct

[2021-12-15 19:00] #38993 closed

[2021-12-15 19:06] #39033 closed

[2021-12-15 19:06] #38983 closed

[2021-12-15 19:14] TanayParikh commented on #38962
Thanks, this is great! I think I see the issue now, and your suggestion to use `JsonReader.Skip()` was along the right lines. Essentially, we don't want to enforce we've read till the end of the JSON if we've just abandoned the `EndInvokeJS` call entirely due to the task timing out. I have a PR up [here](https://github.com/dotnet/aspnetcore/pull/39060), but may have to wait a bit to get the approp

[2021-12-15 19:20] POFerro opened #39061 "Can't configure windows authentication on the new angular SpaProxy"
Hi :),

I can't seem to get windows authentication working on a newly created angular SPA Project, using the new SpaProxy library.
When I do it the call to WeatherForecastController fails with http status 401.

### To Reproduce
1) Create a new project using the new ASP.NET Core with Angular template
2) Configure windows authentication
  2.1) Add the code in Program.cs to configure authentication s

[2021-12-15 19:21] TanayParikh commented on #39059
Hi @TylerDM, after you made those changes did you run `dotnet clean` and delete the `bin` and `obj` folders? If not, could you please try that out.

[2021-12-15 19:27] TylerDM commented on #39059
Already tried that, no change. I also tried deleting the .vs folder.

[2021-12-15 19:39] TanayParikh commented on #39059
I took a look a look at your project, I believe you're missing `<AssemblyName>BlazorApp1.Client</AssemblyName>` in `BlazorApp1 Client.csproj`, after you've added `<RootNamespace>BlazorApp1.Client</RootNamespace>`.

[2021-12-15 19:41] Bouke opened #39062 "Static file change during build causes browser refresh failure"
### Describe the bug

A browser attached to "dotnet watch" will lose its connection if there is a static file change during a build, the reload will hit the server's port but there's no response as the server is shutdown during the build.

### To Reproduce

1. I'm running `dotnet watch` with browser refresh.
2. My build contains typescript files that are compiled as part of the build.
3. During th

[2021-12-15 19:43] RonPeters commented on #38902
Also, an administrator needs to be able to disable a user's account. This is not accommodated for in the current schema

[2021-12-15 19:46] asifshakir opened #39063 "Model validation with Minimal API"
What would be the recommended method to perform model validations with Minimal API, considering that EF Core is being used so the entity models have data annotations.

Something which can be used in production.

[2021-12-15 19:49] irlcatgirl commented on #38902
In general you should be using the role system for this so when a user account is enabled it should have a member role, However I agree an account lockout feature would be helpful. That said it is a separate issue which should have its own discussion thread.

[2021-12-15 19:54] TylerDM commented on #39059
This does prevent the error from occurring.  Putting a space into the `<AssemblyName>` element results in the same error.  Is this a supported scenario?  If not, it would be helpful to emit a more specific error message during build when this mistake is made.

[2021-12-15 19:54] vsfeedback opened #39064 "ASP.NET web core API - incorrect default xml serialization in Swagger"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/ASPNET-web-core-API---incorrect-default/1614627)._

---

I'm using swagger/index page for testing my API. I need both JSON and XML serialization. Json is working fine but the xml serialization generated by swagger contains non-capital letters of node names for capital letter started prop

[2021-12-15 20:00] #37596 closed

[2021-12-15 20:14] #38975 closed

[2021-12-15 20:14] #38921 closed

[2021-12-15 20:29] SoftCircuits commented on #37431
I ran into this same issue again using .NET 6.0. I don't know if this will be addressed but I wanted to clarify the problem description.

Consider the case where I have a page at */Folder* and I store a cookie using the URL path, and then I later need to move that same page to */Folder/Details*.

The new page will write its cookies using the path */Folder/Details*. However, when it attempts to rea

[2021-12-15 20:54] TanayParikh opened #39066 "Test bug report using issue template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Something happened

### Expected Behavior

What was expected

### Steps To Reproduce

Repro by...

### Exceptions (if any)

No exceptions

### .NET Version

6

### Anything else?

Nothing else

[2021-12-15 20:54] #39066 closed

[2021-12-15 20:58] TanayParikh commented on #39059
Given this, I'd assume this is a supported scenario. Whats the difference in the csproj files between creating it with a space from the start vs adding a space after creation?

[2021-12-15 21:01] aktxyz opened #39297 "reference a sourcegenerator and use razor pages in same project ... Microsoft.CodeAnalysis.CSharp version error"
I just updated from VS2022 preview to the final VS2022 (17.0.3) ... and some projects that have both razor pages AND reference a netstandard2.0 source generator project, now fail to compile with the error

[code]

I have other projects that just reference this source generator project and DO NOT have any razor pages, and those projects compile fine.  It seems like there is a conflict between what

[2021-12-15 21:15] sebastienros commented on #38850
@cijothomas do you have any pointers to some documentation?

[2021-12-15 21:18] sebastienros commented on #38850
https://github.com/dotnet/runtime/blob/main/src/libraries/System.Diagnostics.DiagnosticSource/src/ActivityUserGuide.md

[2021-12-15 21:24] sebastienros commented on #39038
Can you confirm it's an issue with the "number" of files? We are curious about the issue that it triggers.

[2021-12-15 21:29] MattGal commented on #39038
First I want to clarify; if you feel that it's important to store off 10,000 files for a single work item for data-driven tests, you are absolutely fine keep doing this.  In fact, aside from causing a bunch of extra compute and spurious DB entries, this problem barely would be noticed if not for the queue depth alerts it spurred.  It also does make the logs (since we have fairly verbose Azure stor

[2021-12-15 21:30] sebastienros commented on #39050
Looking at https://github.com/dotnet/aspnetcore/blob/release/3.1/src/Identity/Specification.Tests/src/IdentitySpecificationTestBase.cs#L510 it seems that the tests should have failed.

[2021-12-15 21:33] GerkinDev commented on #38962
Good news ! It seems that it fixed the main issue !

Now, the surprise is to see if it solved also other errors scattered around my project :) good job and thank you very much :) hope this gets approved soon !

[2021-12-15 21:40] mtavares628 opened #39067 "FocusOnNavigate Component does not work for routes with different parameter values"
### Describe the bug
When using the FocusOnNavigate component where nav links point to the same component, but with different parameter values, the focus is not set to the h1 header of the content if the user is already on that page, but with a different parameter value.

### To Reproduce
https://github.com/mtavares628/FocusOnNav.git

- Click on Counter, and you will see that the header's focus is

[2021-12-15 21:49] AndrewTriesToCode commented on #39050
Thanks for taking a look. When you say should have failed do you mean it is intended to be a test that fails or am I misunderstanding?

[2021-12-15 22:02] TanayParikh commented on #39067
Thanks for reporting this @mtavares628, I checked out your repro and I see what you mean.

That's exactly what's happening:

https://github.com/dotnet/aspnetcore/blob/28ecab610cce3afd17305b3929ba5c39c63ef02d/src/Components/Web/src/Routing/FocusOnNavigate.cs#L48

I think that's a logical assumption. Will confirm that's the desired behavior (or document if it isn't).

[2021-12-15 22:15] jpoehls opened #39068 "Razor views generated during a BeforeBuild target are not compiled into the assembly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We are upgrading a project from .NET 3.1 to .NET 6 and found this problem.

We have a PreBuild target in our `.csproj` file that generates `.cshtml` Razor views. After upgrading to .NET 6, these generated `.cshtml` files are no longer being embedded in our assembly with our other views.

It a

[2021-12-15 22:26] HaoK commented on #39050
Yeah this is a bit of a headache since its going to be expected that older versions won't pass against the newer specification tests, have you tried running against the 3.1 version of the specification tests?

[2021-12-15 22:29] HaoK commented on #38930
I guess we didn't call this out specifically like we did in the past similar to https://docs.microsoft.com/en-us/dotnet/core/compatibility/aspnetcore#identity-default-bootstrap-version-of-ui-changed

We probably should do the same thing for 6.0

[2021-12-15 22:34] halter73 opened #39069 "NewtonsoftJsonInputFormatter uses incorrect ModelStateDictionary keys for members containing single quotes"
Given JSON content like `"[{\"It's a key\": 1234556}]"` which is deserialized as `IDictionary<string, short>` (the value is too big for a short making this an error), `NewtonsoftJsonInputFormatter` adds an entry to the `ModelStateDictionary` with the key `"['It\\'s a key'].It's a key"` instead of `['It\\'s a key']` as expected.

[code]

This is caused by logic in `NewtonsoftJsonInputFormatter`'s `

[2021-12-15 22:42] AndrewTriesToCode commented on #39050
Sorry I didn't specify clearly, but the tests works for `net5.0` and `net6.0`, the issue is for `netcoreapp3.1` and I tried referencing both
`<PackageReference Include="Microsoft.AspNetCore.Identity.Specification.Tests" Version="3.1.0" />`
and
`<PackageReference Include="Microsoft.AspNetCore.Identity.Specification.Tests" Version="3.1.22" /> but it seems the changes to the tests for 'net5.0' weren'

[2021-12-15 22:51] HaoK commented on #39050
Sure if you have a PR that would fix things for you that certainly would help.

The specification tests only will pass against the matching version of the identity packages, if you are running newer identity code that doesn't have the log id, they are going to fail, what are the referenced versions for all the relevant packages for your test run

[2021-12-15 22:51] JohnnyFun opened #39070 "Make default app discriminator the same as it was in .net 5 so decryption works when upgrade to .net 6"
Consider trimming the end slash in `Microsoft.AspNetCore.DataProtection.Internal.HostingApplicationDiscriminator` usage of `_hostEnvironment.ContentRootPath`. It had no trailing slash in .net 5 in my case, so when I upgraded to .net 6, I couldn't decrypt data that had been encrypted with .net 5.

Or, since that would technically be a breaking change, could just document here: https://docs.microsof

[2021-12-15 22:55] AndrewTriesToCode commented on #39050
I'll work on that PR. I understand that for the 3.1 test fixes I'd need to submit it to merge against that release branch.

Here is the csproj file in my test project where I'm running into this.

[code]

[2021-12-15 22:59] rafikiassumani-msft commented on #39064
I tried to reproduce the issue.  Below is an API setup that does not properly render an xml response document in the swagger-ui.  There are two problems:

1. The Swagger-ui does not generate proper xml response for return of array types
2. API request does not bind properly due to CamelCasing of dates fields

[code]
This results in the following issue in swagger-ui :

![image](https://user-images.

[2021-12-15 23:06] Tratcher commented on #39070
Duplicate of https://github.com/dotnet/aspnetcore/issues/38274

[2021-12-15 23:10] JohnnyFun commented on #39070
Oh sorry--didn't see that one in my searches. Feel free to close.

[2021-12-15 23:11] #39070 closed

[2021-12-15 23:54] cijothomas commented on #38850
Nothing other than the design proposal : https://github.com/dotnet/runtime/issues/50658#issuecomment-879212250

[2021-12-16 00:11] #38962 closed

[2021-12-16 00:17] brunolins16 commented on #10611
@dazinator I know that you opened this bug a long time ago, however, I have started the investigation and instead throw an exception we could add a new API that will allow you provide the `entryAssembly` instead of relying on the `IWebHostEnvironment`.

I have been playing with your demo project and the option I just mentioned, and we will get all pages detected and routes created but based on you

[2021-12-16 00:42] pranavkm commented on #39068
Could you try `BeforeTargets="ResolveRazorGenerateInputs"`? That's the target that calculates what items end up being compiled: https://github.com/dotnet/sdk/blob/main/src/RazorSdk/Targets/Sdk.Razor.CurrentVersion.targets#L495-L513

[2021-12-16 00:53] pranavkm opened #39072 "Rename Microsoft.AspNetCore.Razor.Internal.Transport package in razor-compiler repo"
The package contains pdbs transported from razor-compiler -> razor-tooling. There's a conflict in 6.0.2xx since it's also produced by dotnet/aspnetcore's 6.0 branch. Renaming the package like we did for other transport packages would be the easiest fix for this.

[2021-12-16 00:56] dougbu commented on #39072
👀

[2021-12-16 01:01] HaoK commented on #39050
So this was reported to us before, https://github.com/dotnet/aspnetcore/issues/27873 which is how we noticed that we accidentally stopped shipping this specification package for 5.0, but just to be clear:

Are you expecting to mix and match versions?

You can't use any of the identity 5.0+ bits and run the older specification tests and expect them to work.

You should be running against the 5.0+ s

[2021-12-16 03:06] pranavkm commented on #39063
For 6.0, there isn't a story out of the box. It's something we plan on addressing as part of .NET 7. That said, @DamianEdwards wrote a library around DataAnnotations that he's been successfully using in his app: https://github.com/DamianEdwards/MiniValidation. You could consider using that.

[2021-12-16 03:18] AndrewTriesToCode commented on #39050
@HaoK You nailed the issue -- my library under test targeted `netstandard2.0` but referenced net5.0+ Identity stores and tests. That issue is resolved when I change the library to reference 3.1 versions of those packages. Regarding the other items I mentioned, shown below, I'll submit a PR and reference this issue. Thanks.

[2021-12-16 04:20] TanayParikh opened #39074 "GitHub Codespaces `dotnet run` produces `Failed to authenticate HTTPS connection` Exception"
[code]

[2021-12-16 05:02] JandosHk opened #39076 "Localization stopped working in Blazor Wasm after migrating to .NET 6.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a Blazor Wasm 5.0 app. It has localized strings in Japanese. Works fine.
After migrating to .NET 6.0, it still works except that texts are not in Japanese anymore.

### Steps To Reproduce

I created a minimal code to reproduce the issue. Please refer to [this repo](https://github.com/J

[2021-12-16 07:07] pr-benchmarks[bot] opened #39077 "Perf regression: fortunes_ef"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes_ef  | Fortunes Platform EF aspnet-citrine-lin | 12/14/2021 21:55:43 | 371,817 | 367,493 | -1.57 % (-5,834)  :thumbsdown:  | -2.55 σ | 2,283.70 | <details>    <summary>Changes</summary>     <tab

[2021-12-16 07:09] asifshakir commented on #39063
Ok.

Yes, I have seen the library created by @DamianEdwards but it is still in prerelease so I assume he doesn't recommend it for production application right away.

I will revert to the traditional MVC approach for WebApi then and review Minimal API integration once .NET 7 is released for our apps.

[2021-12-16 08:00] #37617 closed

[2021-12-16 09:23] JandosHk commented on #39076
I was using the following code to dynamically load resource assemblies:
[code]
The above worked for .NET 5.x, but not for .NET 6.x anymore.
I solved the isse by loading my resource assemblies with built-in LazyAssemblyLoader class.

Closing this issue.

[2021-12-16 09:23] #39076 closed

[2021-12-16 10:19] EquiAvia commented on #38668
Hi All,

I am experiencing the same problem since switching to .Net 6. I have an asp.net core 6 web app which prerenders WASM components.

I deploy the application via VS2022 web deploy to an Azure App service.

![image](https://user-images.githubusercontent.com/3167321/146352606-d07b2950-827d-4b37-a12e-3d57c2a1026c.png)

I get the same error since updating to the version of VS2022

![image](https

[2021-12-16 11:54] MariovanZeist commented on #39053
Although this issue could be mitigated by moving ``AnotherComponent`` outside the div, or adding an additional div around ``AnotherComponent``.  I would classify that more as a workaround, and not a fix.

This seems like either a bug or an oversight in the original diff algorithm.

[2021-12-16 12:03] keerthanaRajendran commented on #34025
Hi Team,

Please let us know if any update on this to make HTTP client call work with Authorization?

[2021-12-16 12:17] jirikanda commented on #39053
Hi Mario,

thank you very much for your answer. Yes, I agree, we found a workaround in a subtle component re-arrangement.
Luckily, we were able to apply the same workaround in the business application.

We spent some time to explain you this issue. I hope, together, we are going to make the Blazor product better!

[2021-12-16 12:39] dazinator commented on #10611
@brunolins16

What happens if the entry assembly isn't provided (i.e assuming it's an option api and the developer isn't aware of it's existence) and the IWebHostEnvironment isn't found, would you then throw an exception? Would just be keen to see we don't see the same problem of silent failure in that scenario.

Yeah I think this is more down to the routing.. I was attempting to have two differen

[2021-12-16 12:50] MichaelPeter commented on #38984
Hello @pranavkm,

thank you for your reply, this is actually helpfull and a first step.

`builder.Logging.SetMinimumLevel(LogLevel.Trace);`

But it just tells me what has been rerendered, not how long the rendering took, or how long it took or what steps took how long. I only could write a custom logger which measures the time between the render log messages to get some feeling of time, but this i

[2021-12-16 12:52] brentminder commented on #38668
Try uploading the files with filezilla in binary mode as I stated earlier.

On Thu, Dec 16, 2021, 05:19 EquiAvia ***@***.***> wrote:

[2021-12-16 12:54] Contengo commented on #32867
Same here - it's actually significantly quicker to stop, edit and run again than to use hot reload, which means we're back where we started. Sigh.

[2021-12-16 13:06] MuscleBy commented on #39056
I tried to reproduce this issue on a clean project and it did reproduce. I also did not encountered the issue after clean rebuild and restart. I will close this issue. Thanks.

[2021-12-16 13:06] #39056 closed

[2021-12-16 13:12] shameeralibaig commented on #34025
Hi @pranavkm : Can you please update on this issue?

[2021-12-16 14:13] Wwwolfgang opened #39079 "Intercept HTTP errors in SignalR JavaScript Client"
This is more of a question then a issue.
I'm using the @microsoft/signalr (v.6.0.0) javascript client in my Vue project.
This is my Connection Builder

`client = new HubConnectionBuilder()
  .withUrl('/chat', { accessTokenFactory: () => IdService.getToken() })
  .configureLogging(LogLevel.None)
  .withAutomaticReconnect()
  .build()`

Later when I start the connection:
`client.start().then(() => {

[2021-12-16 15:09] nige6 commented on #38413
same problem here, over a month later, following the same (and the ms docs)

do have to setup `"browser": "edge"` and `"url": "https://localhost:<port>"` for edge to open and start the app - without it it closes the browser shortly after

but still will not trigger a break point.
thought this was supposed to be product ready?

[2021-12-16 15:53] wnvko opened #39080 "Blazor cannot serialize number to string"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a project where I am receiving a data as JSON. There are several fields in the data which may come as strings or as numbers, like this:
`[
  {
    "postaCode": 12209
  },
  {
    "postaCode": "WA1 1DP"
  },
  {
    "postaCode": 5021
  }
]`

In my model I am describing all these field l

[2021-12-16 17:04] pranavkm commented on #34025
I tried your app out and it looks like attempting to access the [action](https://github.com/Indhumathy-Loganathan/AuthorizationSample/blob/main/Controller/HomeController.cs#L15) results in Auth kicking in and redirecting to the Identity login screen. What do you expect to happen that isn't working?

[2021-12-16 17:08] pranavkm commented on #39080
Blazor uses System.Text.Json for it's serialization which conforms to the [JSON specification](https://www.json.org/json-en.html). Strings are expected to be quoted and numbers do not transform to strings by default. You could consider annotating your properties with a [JsonConverterAttribute](https://docs.microsoft.com/dotnet/standard/serialization/system-text-json-converters-how-to?pivots=dotnet

[2021-12-16 17:12] #38771 closed

[2021-12-16 17:13] pranavkm commented on #38984
There's a way to get console loggers to include timestamps: https://docs.microsoft.com/dotnet/core/extensions/console-log-formatter#set-formatter-with-configuration. One thing to note is that the logging does not include the end times, so you kinda have to reverse engineer it (look at when the sibling component is rendered or the renderbatch is sent). We might be open to accepting a PR that adds t

[2021-12-16 17:22] ylr-research opened #39081 "Is there a way to add metadata to all GET endpoints in ASP.NET Core?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In the following statement, the `AsBffApiEndpoint()` adds an attribute to all endpoints. Then there is a middleware specifically looking for that attribute and if present will check for an antiforgery header to be present.

`endpoints.MapControllers().RequireAuthorization().AsBffApiEndpoint()

[2021-12-16 17:24] Kazbek commented on #38552
I had same issue just from updating Grpc libs to next versions. App was already on net6.
Manually delete bin and obj fix this.

Exactly problem was that
wwwroot\_framework\Grpc.Core.Api.dll.gz file version 2.41.0.0
wwwroot\_framework\Grpc.Core.Api.dll.gz contains  2.40.0.0 version file

[2021-12-16 17:35] TanayParikh commented on #39074
dev certs were installed immediately before.

[2021-12-16 17:37] TanayParikh commented on #39067
Discussed offline, we may want to make this an optional functionality. You may be able to derive from the existing FocusOnNavigate to achieve this yourself.

[2021-12-16 17:41] mkArtakMSFT commented on #39061
Thanks for contacting us.
For Kestrel you will have to take an extra step. Here are the docs for how to do it: https://docs.microsoft.com/aspnet/core/security/authentication/windowsauth?view=aspnetcore-6.0&tabs=visual-studio#kestrel

@Tratcher feel free to share any other suggestions you may have.

[2021-12-16 17:49] mkArtakMSFT commented on #39052
Thanks for contacting us.
Looks like @pranavkm was able to repro this.

[2021-12-16 17:51] mkArtakMSFT commented on #39039
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2021-12-16 17:52] mkArtakMSFT commented on #38892
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2021-12-16 17:59] mkArtakMSFT commented on #38252
Thanks for contacting us. Closing this as a dupe of #37510

[2021-12-16 17:59] #38252 closed

[2021-12-16 18:01] ShaneCourtrille opened #39082 "AddStackExchangeRedisCache & ForceReconnect for Azure App Service Linux containers"
As per https://github.com/StackExchange/StackExchange.Redis/issues/1848 there is a problem with accessing Redis after nodes are restarted (In our case we're seeing this once a month when our Azure Redis instance is being updated).  The recommended fix of modifying container settings isn't allowed on Azure App Service which leaves us with the recommendation to implement the ForceReconnect pattern.

[2021-12-16 18:58] mtavares628 commented on #39067
Can you elaborate on why this would be optional, since it doesn't function as intended consistently?  Also, can you explain the workaround deriving from the existing control? Is there a way to get the full URL from the routeData to check that, or do I need utilize a different method?

[2021-12-16 18:59] johnkwaters opened #39083 "UserManager.FindByIdAsync fails when the user is an IdentityUser<int>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

This returns null:

`var user = await _userManager.FindByIdAsync(context.Subject.GetSubjectId());`

### Expected Behavior

The user should be found.

### Steps To Reproduce

`context.Subject.GetSubjectId() `
returns the string "38"
There is a User in the database with an integer id of 38.

_u

[2021-12-16 19:11] TanayParikh commented on #39067
Depending on the use case, you may want to be parameter agnostic, and only receive an event for when you navigate between actual pages. Doing it based on the full route could be considered a brekaing change.

You should be able to derive from the existing [`FocusOnNavigate`](https://github.com/dotnet/aspnetcore/blob/28ecab610cce3afd17305b3929ba5c39c63ef02d/src/Components/Web/src/Routing/FocusOnNav

[2021-12-16 19:27] #38971 closed

[2021-12-16 20:01] Tratcher commented on #39061
@mkArtakMSFT they're using IIS Express, not Kestrel.

Most proxies don't support windows auth. @javiercn does the spaproxy run in front of or behind IIS Express / asp.net?

[2021-12-16 21:00] #30025 closed

[2021-12-16 21:07] POFerro commented on #39061
Hi @Tratcher ,

That's correct, I'm running IIS Express, in theory it should work with IISDefauls, authentication itself should occur in IIS ( or express in this case ).

[2021-12-16 21:19] Tratcher commented on #35684
This failed again in release/6.0, should the fix be backported?
https://dev.azure.com/dnceng/public/_build/results?buildId=1515635&view=ms.vss-test-web.build-test-results-tab&runId=43127808&resultId=118716&paneView=dotnet-dnceng.dnceng-build-release-tasks.helix-test-information-tab
[code]

[2021-12-16 21:22] BrennanConroy commented on #35684
Sure, very easy and low risk.

[2021-12-16 22:34] brunolins16 commented on #10611
@dazinator

The goal is to not fail silently anymore, and I am working to find the best approach here to throw an exception when the ApplicationParts are not configured correctly and should have an API Suggestion soon.

Subdomains or hostnames should work perfectly!

[2021-12-16 22:40] Eilon commented on #39086
Note to triage: This is potentially a bug on this line of code in this repo:

https://github.com/dotnet/aspnetcore/blob/main/src/JSInterop/Microsoft.JSInterop.JS/src/src/Microsoft.JSInterop.ts#L181

Apparently this `catch` syntax is relatively new in JavaScript. Or maybe TypeScript should be handling that when it converts to JavaScript? Either way, it's something for this repo to consider.

[2021-12-16 22:43] Grizzlly opened #39087 "Blazor WASM: File Upload - MultipartFormDataContent.Add() throws internal Invalid JSON exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Uploading a file results in `Invalid JSON` in internal code.

`ImageUploader.razor`:
[code]

`ImageUploader.razor.cs`:
[code]

The code is taken from [documentation](https://docs.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-6.0&pivots=webassembly#upload-files-to-a-serve

[2021-12-17 00:03] johnkwaters commented on #39083
Never mind - stupid mistake. I had a global query filter in place in Entity Framework that was preventing the user from being fetched (it's a multi-tenant code base). Will close this!

[2021-12-17 00:03] #39083 closed

[2021-12-17 00:22] AndrewTriesToCode commented on #39050
I submitted a PR for typoes and the Queryable test issues. Thanks for your help.

I also struck out the issue I mentioned above for `CanGetRolesForUser` since it was an implementation difference between the EFCore implementation and mine. I ended up copying EFCore's behavior in that regard.

[2021-12-17 00:33] Tratcher commented on #38918
FYI this has also been requested by another YARP partner.

[2021-12-17 03:00] #38504 closed

[2021-12-17 03:37] pranavkm commented on #39081
You could create a `RemoveBff(TBuilder builder) where TBuilder : IEndpointConventionBuilder` and operate on `EndpointBuilder.Metadata` which is mutable.

[2021-12-17 05:28] Indhumathy-Loganathan commented on #34025
Hi @pranavkm,

As explained earlier, we have enabled authorization in the sample. When the below code used in Startup.cs the Post method at Controller part doesn't triggered.

https://github.com/Indhumathy-Loganathan/AuthorizationSample/blob/main/Startup.cs#L34

Just put a breakpoint in Post method and click the button you can able to see that the method call doesn't triggered. But if you comment

[2021-12-17 05:59] markdchurchill opened #39089 "Blazor WASM, ongoing timers cause a global exception when browser loses focus for some time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In Blazor WASM, ongoing timers with async work when browser loses focus (and possible stops executing js) for some time cause a global exception on return.

Various Microsoft.AspNetCore.*: 6.0.0

[code]

Last setTimeout...setTimeout stack repeats many times.

I can work on a cleaner reproduct

[2021-12-17 07:25] cyberyaga opened #39090 "dotnet process stays running after stopping debug."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm running a brand new blazorwasm project (Hosted). Project Code: [https://github.com/cyberyaga/TerritoryWeb](url)
I'm running on Ubuntu 21.10. VS Code 1.63.2
Dotnet info:
` OS Name:     ubuntu
 OS Version:  21.10
 OS Platform: Linux
 RID:         ubuntu.21.10-x64
 Base Path:   /usr/share/do

[2021-12-17 07:49] ylr-research commented on #39081
Thanks for the answer @pranavkm. I tried the following and it didn't work. It says System.InvalidOperationException: 'Sequence contains no matching element' on line for getAttribute

[code]

[2021-12-17 08:09] bbhxwl opened #39091 "Error unprotecting the session cookie."
When I visit any of my web pages, as long as there is no session, he will prompt this. I don't know how to cancel?

[2021-12-17 08:10] bbhxwl commented on #39091
Microsoft.AspNetCore.Session.SessionMiddleware[7]
      Error unprotecting the session cookie.
System.Security.Cryptography.CryptographicException: The key {5564d4c5-567c-452a-b474-9689060415fe} was not found in the key ring.
   at Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedDataProtector.UnprotectCore(Byte[] protectedData, Boolean allowOperationsOnRevokedKeys, UnprotectStatus& s

[2021-12-17 08:46] Sen-Gupta commented on #38226
It is still broken with latest docker 4.3.1. Unable to debug the projects!

[2021-12-17 09:11] arthastheking113 opened #39092 "Blazor WASM publishing error. Streaming compilation failed. Falling back to ArrayBuffer instantiation. TypeError: WebAssembly.instantiate(): Import #0 module="a" error: module is not an object or function blazor webassembly After update to .net 6.0.1 and Visual Studio 2022 17.0.4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I got this error after update my Blazor WASM project to .net 6.0.1 and Visual Studio 2022 to 17.0.4. My project run normally in localhost. I used the BrotliDecode method to minimize the download size for my application.

The error happen when I deploy my project to Azure App Service, and the

[2021-12-17 09:38] Grizzlly commented on #39087
Update: This might be a recent issue as file uploading used to work about 1 week ago and since then I have updated Visual Studio from the installer.

[2021-12-17 09:47] dstretch commented on #33312
I was performing the build on an AzD build server (on-premises) and had to RDP to that and delete the obj and bin folders from the temporary build directory to resolve this error.

Path for me was: `<Installation folder of agent>\_work\<numbered build folder e.g. 165>\s\<AzD Project name>\<C# Project name>\obj`

Hope that helps someone else.

[2021-12-17 09:59] Liero opened #39609 "Provide docs on how to integrate custom msbuild target with dotnet watch and hot reload"
### Is your feature request related to a problem? Please describe.

I want my app to do all the compilation in watch mode, when either user start the project from Visual Studio using F5, or from CLI using `dotnet watch run`.

I don't want to invoke multiple processes from CLI like:

[code]

I have read quite some MS Build and .NET docs recently, but I'm missing more detailed info on how dotnet wat

[2021-12-17 10:07] meyerjoe commented on #21787
Got the same issue while migrating a large .net framework MVC app to .net core 6

This issue is blocking further migration.

The workaround with the settings in .csproj doesn't work.

IDE: JetBrains Rider on MacOS

[2021-12-17 10:11] NinjaCross opened #39093 "Potential regression in IHttpContextAccessor injection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It seems that recently:
1. the behaviour of the injection/availabilty of IHttpContextAccessor into the Hub.OnConnectedAsync method changed
2. the injection behaviour is not the same among different OS/Platforms.

Unfortunately I'm not able to pinpoint the exact version of SignalR CORE when th

[2021-12-17 10:11] NinjaCross opened #39094 "Potential regression in IHttpContextAccessor injection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It seems that recently:
1. the behaviour of the injection/availabilty of IHttpContextAccessor into the Hub.OnConnectedAsync method changed
2. the injection behaviour is not the same among different OS/Platforms.

Unfortunately I'm not able to pinpoint the exact version of SignalR CORE when th

[2021-12-17 10:12] NinjaCross opened #39095 "Potential regression in injection of IHttpContextAccessor in SignalR Hub.OnConnectedAsync"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It seems that recently:
1. the behaviour of the injection/availabilty of IHttpContextAccessor into the Hub.OnConnectedAsync method changed
2. the injection behaviour is not the same among different OS/Platforms.

Unfortunately I'm not able to pinpoint the exact version of SignalR CORE when th

[2021-12-17 10:12] #39094 closed

[2021-12-17 10:12] #39093 closed

[2021-12-17 10:13] NinjaCross commented on #39093
Sorry, this issue has been created by mistake and I closed it.
The correct issue is #39095
Delete this at your will.

[2021-12-17 10:13] NinjaCross commented on #39094
Sorry, this issue has been created by mistake and I closed it.
The correct issue is #39095
Delete this at your will.

[2021-12-17 10:41] julienGrd opened #39096 "[.NET 6.0 Blazor server] same sessionId for two browser connected on same Machine"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hello guys, In my blazor server app i use httpContext?.Session?.Id to identify each client

It works fine, unless if the client open two instance of chrome for example  on the webapp, the app return the same sessionId, which is a problem for me. if it will be on the same instance on different

[2021-12-17 11:10] bingxueyinlian commented on #29342
same problem

[2021-12-17 12:13] Trokkin commented on #39019
Thank you for your suggestion! I was overthinking a bit, your approach is a lot simpler and it worked for me after I adapted it to my project.

[2021-12-17 12:13] #39019 closed

[2021-12-17 13:12] g1336 opened #39100 "The response ended prematurely"
I have a system running and making thousands of http requests to multiple providers every day. For one of the specific providers, every few hundred requests, I get the following exception. So everything looks like they are dropping the connection before sending a full response, since I don't get this exception with any of the other providers I call. However, I **never got this error before migrati

[2021-12-17 14:03] blowdart commented on #39091
When you say "prompt this" what do you mean? It appears in the console log?

Where is your app hosted? Are there other data protection messages in the logs, especially around app startup time?

[2021-12-17 14:14] Grizzlly commented on #39092
Issue #39087 might be related to this update too.

[2021-12-17 14:19] WillMarcouiller commented on #37876
This has done it for me too!  Been searching for the issue for days!  Thx for sharing!

[2021-12-17 14:38] mrlife commented on #39073
I'm seeing the same thing for `dotnet watch`.

[code]

[2021-12-17 15:11] TanayParikh commented on #39090
Duplicate of https://github.com/dotnet/aspnetcore/issues/38382

[2021-12-17 15:34] wzychla opened #39099 "Make AspNetCoreModuleV2 distributable locally with the application rather than installable globally"
### Is your feature request related to a problem? Please describe.
On IIS farms, hosting bundle must be installed separately on multiple servers just to have the AspNetCoreModuleV2 available. The Core runtime doesn't have to be installed as it can be deployed together with the app. But the requirement to actually have the module installed makes the deployment more difficult that it could be.

Foun

[2021-12-17 15:58] arthastheking113 commented on #39092
I'm not sure because my error only happen in Google Chrome on PC with URL not contain www. , with www. URL, my application works fine.

[2021-12-17 16:22] blowdart commented on #39091
I really need log files and your hosting details to be of any help. It sounds like your data protection key ring is not persisted anywhere, so when an app restarts the key ring starts afresh and any existing cookies become invalid.

[2021-12-17 16:26] TanayParikh commented on #39087
Thanks @Grizzlly for the report. @guardrex have you had reports on this not working. I just copied the [sample code](https://docs.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-6.0&pivots=webassembly#upload-component) from the upload component and put it into a clean `blazorwasm` app and I get this exception.

[2021-12-17 16:29] guardrex commented on #39087
I haven't had such a report.

Side Note (that should really matter perhaps): We don't implement as a partial class. @Grizzlly, did you try the code in a component as shown in the doc to see if the same error occurs?

[2021-12-17 16:33] TanayParikh commented on #39087
Looks like it: https://github.com/Grizzlly/BlazorTests/blob/master/Client/Shared/ImageUploader.razor.cs

[2021-12-17 16:36] guardrex commented on #39087
Sorry that I didn't take a closer look. I'm 😩 and OOF until Monday, really. We don't show it implemented as a partial class. I can check and test a bit and see if I can repro this, but it wouldn't be until Monday.

[2021-12-17 16:37] TanayParikh commented on #39087
I wonder if this is related to https://github.com/dotnet/aspnetcore/issues/38962. However that's been around since .NET 5, which would imply this has been broken since then (which I find hard to believe).

We only released the `6.0.101` patch last week, however you're running on `6.0.100` so that shouldn't have changed anything here. VS updates also don't play a part in this type of issue.

[2021-12-17 16:39] TanayParikh commented on #39087
Oh didn't know, no worries at all, no rush here.

[2021-12-17 16:43] guardrex commented on #39087
No worries. I'm just out of hours for the week ...... and toast ..... 😄 ..... for the **_YEAR!_** 😆 LOL

I'll take a look first thing Monday morning.

[2021-12-17 16:48] musamalou commented on #39039
To reproduce the issue follow these steps:
                 1. Place a break point in the log method of the CustomLogger.cs.
                 2. Run the project
                 3. Click on Counter/Error menu
                 4. Clikc on the 'Click Me' button to throw an exception
                 6. Check the value of the exception.
                 7. Run the project without enclosing @Body in E

[2021-12-17 17:28] MariovanZeist commented on #39096
using ``HTTPContext`` in a Blazor server app is not recommended. There is no one-on-one relationship between a ``HTTPContext`` and a ``SignalR`` connection.

And the ``session.Id`` you are using should not be used to identify Blazor clients.

I would recommend using some ASP.NET Core authentication mechanism to authenticate the user, and use the resulting ``ClaimsPrincipal`` to identify the user.

[2021-12-17 17:30] Julien-Marpault opened #39101 "JsonIgnore in record declaration"
If we could use JsonIgnoreAttribute like this it could be very useful.
![image](https://user-images.githubusercontent.com/23618436/146584405-3e70fb2d-108a-4234-9bec-f4eb4c1198f2.png)

Thanks

[2021-12-17 17:42] amura11 opened #39102 "`invokeMethodAsync` 5x slower in Firefox compared to Edge or Chrome"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a very similar issue to [this](https://github.com/dotnet/aspnetcore/issues/32689) issue but I'm only passing 2 strings and the issue is only seen in Firefox.

When calling a C# method from JavaScript using `invokeMethodAsync` there is a significant delay in Firefox. The code is fairly

[2021-12-17 18:13] MariovanZeist commented on #39101
I think this issue is already tracked, (can't find the exact issue though)

For the time being, you could use the following workaround to add an attribute to a property in a ``record``
[code]

[2021-12-17 18:26] Tratcher commented on #31404
Still failing 100%, same error.

[2021-12-17 18:26] TanayParikh commented on #39102
Hello, thanks for reaching out. I see you're using .NET 5. .NET 6 was recently released with a wide variety of feature and performance improvements. Could you please upgrade your project and let us know if you're still seeing this issue?

[2021-12-17 19:00] #39080 closed

[2021-12-17 19:03] Tratcher commented on #39096
Two instances of chrome and two chrome tabs are the same thing, chrome shares cookies across all tabs and instances. Using incognito or a completely different browser (e.g. Edge) is the only way to open a separate session.

[2021-12-17 19:07] #39077 closed

[2021-12-17 19:07] pr-benchmarks[bot] opened #39103 "Perf regression: single_query"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| single_query  | Single Query Platform aspnet-citrine-amd | 12/15/2021 09:58:28 | 417,432 | 388,376 | -5.25 % (-21,932)  :thumbsdown:  | -3.18 σ | 6,906.47 | <details>    <summary>Changes</summary>     <

[2021-12-17 19:12] Tratcher commented on #39091
If the app was redeployed and generated new encryption keys then it won't be able to decrypt old cookies. Those cookies will eventually be cleaned up by the client.

See these docs for saving the encryption keys across deployments.
https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-6.0

[2021-12-17 19:41] TanayParikh commented on #38382
Bug confirmed. Either the WebAssembly dev server or the debug proxy (not sure which one yet) isn't relinquishing the port when debugging is stopped.

[2021-12-17 19:59] esben2000 commented on #36978
I would really like to use the Microsoft.AspNetCore.Components.WebAssembly.MultipartBundle package, because my company blocks dlls, so we cannot see Blazor WASM applications. However, after installing the Microsoft.AspNetCore.Components.WebAssembly.MultipartBundle NuGet package I get this Error when I Publish:
Could not copy "C:\Users\...\.nuget\packages\microsoft.aspnetcore.components.webassembly

[2021-12-17 20:13] Grizzlly commented on #39087
Updated to `6.0.101` and the problem persists. Also tried moving the code from the partial class to `@code` block but I get the same error.

Sorry, I was thinking about the `WebAssembly` NuGet package...

@guardrex @TanayParikh Apparently, downgrading the `WebAssembly` package to `6.0.0-preview.6.21355.2` appears to be working as it does not throw. For me, everything from preview 7 onwards, includ

[2021-12-17 20:28] guardrex commented on #39087
It doesn't now that you've tested. I just want to make sure that it's ruled out, including a conversion problem going from the doc's example to the partial. I still plan to take a look and see if I can repro on Monday.

[2021-12-17 20:43] TanayParikh commented on #33088
Thanks @DarCampbell. @captainsafia is this change done already given https://github.com/dotnet/razor-tooling/pull/5666 & https://github.com/OmniSharp/omnisharp-vscode/pull/4847?

Do we need to update:
https://github.com/dotnet/razor-tooling/blob/e43ce65bda7c105463e3775e8beb89cc48444ea1/src/Razor/src/Microsoft.AspNetCore.Razor.VSCode/src/BlazorDebug/BlazorDebugConfigurationProvider.ts#L94

to somet

[2021-12-17 20:45] arthastheking113 commented on #39092
For anyone looking for answers. I contacted Azure App Service team and this is a known issue and .NET team already working on this.

I resolve this by using this trick.

1/ Remove my Custom Domain without www. from Custom Domain in Azure App Service.

2/ Remove A record and TXT asuid on Godaddy from the Records section.

3/ Add forward domain to www.yourdomain.com

4/ Wait an hour for that forward

[2021-12-17 20:45] #39092 closed

[2021-12-17 20:53] adam-becker commented on #38653
We are also seeing this exact same thing while developing a Blazor WASM application. The issue is intermittent, sometimes it doesn't happen at all. The really odd thing is if we open the developer tools then it stops hanging and proceeds as usual. I can try to provide more information if that would help.

[2021-12-17 21:02] NCarlsonMSFT commented on #38226
@Sen-Gupta: please use https://github.com/microsoft/DockerTools/issues/320 to watch for updates and discuss this issue. If the workarounds are not unblocking you, please let us know in the https://github.com/microsoft/DockerTools repo.

[2021-12-17 21:08] Tratcher commented on #39074
Any more details on your setup? That error sounds like you're sending HTTP traffic to an HTTPS endpoint.

[2021-12-17 21:23] brunolins16 commented on #39081
@ylr-research Besides the fact that your action is called `GetSheetLayout `based on your screenshot it is configured with `HttpPost` instead of `HttpGet` and the exception is an expected outcome since you are using `First` instead of `FirstOrDefault`.

[2021-12-17 21:32] adam-becker opened #39104 "Blazor WASM application hangs on MSAL Authentication."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Same as #38653. When using MSAL authentication in a Blazor WASM application, the login page hangs on the pop-up. Opening the browser's (specifically Chrome) developer tools causes the pop-up to stop hanging and proceed as normal. Our application was created from the Blazor WASM (PWA) template

[2021-12-17 22:21] ylr-research commented on #39081
@brunolins16 thanks for pointing that out. `FirstOrDefault()` indeed solved my problem. I'll add the solution below and close it.

[2021-12-17 22:27] TanayParikh commented on #39104
Thank you for filing this issue. In order for us to investigate, please provide a minimal public GitHub project that reproduces this issue.

[2021-12-17 22:36] #39081 closed

[2021-12-17 22:37] Grizzlly commented on #39087
I see that you have made and merged a PR that closed that issue. Might be a good idea to test with that...

Unfortunately, I could not get the nightly build to run :(

[2021-12-17 22:40] adam-becker commented on #39104
@TanayParikh I will try, might not be able to get to it until next week.

[2021-12-17 23:00] #38913 closed

[2021-12-17 23:01] EquiAvia commented on #38668
Thanks Brentminder, that is okay for a one off, but we have a large number of deployments to do and we rely on the functionality.

[2021-12-17 23:59] marcelbeeker commented on #38175
I'm having the same issue here. I create a new .NET6 Blazor project. WebAssembly hosted on the server. I've added Docker and Container orchestration Support with docker-compose. When I start the docker-compose project in debug mode in Visual Studio this exception will be thrown.
It seems a default created new Blazor project with docker-compose fail to start.

Any help would be appriciated.

System

[2021-12-18 00:07] marcelbeeker commented on #37876
Disable docker-compose V2 and a rebuild of the solution worked for me too! Thanks!

[2021-12-18 06:55] julienGrd commented on #39096
@MariovanZeist yes you are right but anyway it will bé cookie based do it dont solve my Problem of multi instance.
@Tratcher yes i forgot that... but it will bé a problèm for me because i want my app to bé multi instance. Can i rely on some other mechanism, like json web token stored in the session storage ? (Which is not share between instance right ?). Is it something useable through blazor serv

[2021-12-18 08:00] #37671 closed

[2021-12-18 09:19] Grizzlly commented on #39087
Changing the `content` parameter to

`content: new StringContent(JsonSerializer.Serialize(fileContent), Encoding.UTF8, "application/json")`

or

`content: new StringContent(await fileContent.ReadAsStringAsync(), Encoding.UTF8, "application/octet-stream")`

seems to be working. I feel like anything with `StringContent` works, but I have not done further testing. Maybe the problem is with the `Strea

[2021-12-18 15:38] Raja-Ashutosh opened #39106 "asp-page tag helper converted all the URLs into the one page url at runtime"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi Team,

I am using the feature folder in asp.net core 6.  and register all Route , for example:

[code]
added  in the layout
[code]

When i have launched url with localhost:5001/test or localhost:5001/home

both the links automatically converted to either test or home based on the url i hit

[2021-12-18 15:40] mohdali commented on #19509
Is there still no solution for this issue? I have two servers, one is WS2016 while the other was cloned then upgraded to WS2019.

Initialization works in WS2016 but not in 2019. It is very frustrating as there is no clear clue why it is not.

[2021-12-18 16:00] #39090 closed

[2021-12-18 18:32] jparnzen opened #39107 "asp-page tag helper not behaving as described in online docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The `asp-page` tag helper isn't behaving as described in the online Razor Page docs at https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-6.0&tabs=visual-studio#razor-pages (c.f. bottom of that section of the page).

In particular, for index razor pages in subfolders un

[2021-12-18 19:06] #39103 closed

[2021-12-18 19:06] pr-benchmarks[bot] opened #39108 "Perf improvement: plaintext"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext [Fixed] | Plaintext aspnet-citrine-amd | 12/17/2021 09:31:16 | 7,251,847 | 7,513,232 | 2.90 % (210,386)  :thumbsup:  | 4.01 σ | 52,514.91 | <details>    <summary>Changes</summary>     <table><

[2021-12-18 19:51] pranavkm commented on #39107
The value for asp-page is the PageName which is the path to page without `/Pages` (or the `PagesRoot`) and the extension. The column on the right talks about the incoming urls that will be matched for the page by default. The documentation is correct in that regards.

[2021-12-18 20:10] jparnzen commented on #39107
Hi, Pranav: Thanks for your reply! I'm aware of the `/Pages` portion of the URL.

My issue/question is in regard to the discrepancy shown in the 4th URL example and the 2nd bullet from the docs, and that `asp-page` doesn't seem to honor what's shown.

[2021-12-18 22:19] Bala-tec opened #39109 "[Blazor WASM] error boundary throw exception."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In the blazor server, error boundary UI content shows without exception. But error boundary throws an exception in the blazor web assembly.

![image](https://user-images.githubusercontent.com/93471823/146656727-90a2b2ba-3d7c-4145-b1a7-e8fb35e463e5.png)

Attached sample [here]( https://github.

[2021-12-19 01:20] pranavkm commented on #39107
So what the docs is saying is that when for `/Pages/Test/Index.cshtml` will be served for either of the following HTTP requests:

* https://mysite.com/Test
* https://mysite.com/Test/Index

It's not talking about the value for `asp-page` which would be `/Test/Index` for this file.

[2021-12-19 01:28] pranavkm commented on #39109
The `ErrorBoundary` component logs exceptions to the console to make it easy to debug. You could derive from it to suppress this behavior by overriding: https://github.com/dotnet/aspnetcore/blob/main/src/Components/Web/src/Web/ErrorBoundary.cs#L22-L25.

[2021-12-19 06:00] dotnetshadow commented on #38809
I had a similar issue, I did the following and hot reload worked on my .cshtml files again
[code]

[2021-12-19 06:10] dotnetshadow opened #39111 "Hot reload not working on .cshtml (converted project) - Workound found but unsure why it's needed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I recently updated my asp.net core project from .net 5 to .net 6

Everything in hot reload seems to work fine except for `.cshtml` files.
I've gone through all the issues associated such as response caching etc

**Workaround**
I was finally able to get hot reloading working for .cshtml by ena

[2021-12-19 06:18] dotnetshadow commented on #38965
One possible workaround is to do this:
<ItemGroup>

	  <Watch Include="**\*.cshtml" Exclude="node_modules\**\*;**\*.js.map;obj\**\*;bin\**\*" />
  </ItemGroup>

  What is the impact of doing this?

  Also is there a way to only use RuntimeCompilation when you want to publish?

[2021-12-19 07:06] #39108 closed

[2021-12-19 07:06] pr-benchmarks[bot] opened #39112 "Perf regression: https, https"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| https [Fixed] | Json Https HttpSys aspnet-citrine-win | 12/17/2021 21:14:59 | 382,522 | 376,949 | -3.48 % (-13,325)  :thumbsdown:  | -3.15 σ | 4,226.29 | <details>    <summary>Changes</summary>     <tab

[2021-12-19 09:12] zeinali0 opened #39113 "IHttpConnectionFeature missing after migrate from .net-5 to .net-6"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I just migrate from `.net-5` to `.net-6` but `IHttpConnectionFeature` is missing while namespace `Microsoft.AspNetCore.Http.Features` exist
I also tried to add `Microsoft.AspNetCore.Http.Features` package but there is not .net-6 version and when add version 5.0.13(it's latest version on nuget

[2021-12-19 09:44] zeinali0 commented on #39113
solved by upgrading `Microsoft.AspNetCore.Connections.Abstractions` package to 6.0.1

[2021-12-19 10:23] omuleanu opened #39114 "return RenderFragment from outside razor files"
I was trying to return `RenderFragment` from a static class (.cs file) like this:
[code]
and I'm getting errors, I can't do this kind of thing neither from component partial/base class, seems that it has to be in `.razor` file for this markup to compile.
1) can I return markup from `.cs` file ?
2) My workaround now is to have a `MyUtils.razor` component which looks like this:
[code]
and I call lik

[2021-12-19 14:46] alex-jitbit opened #39116 "Desperate attempt to resurface issue #10117"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Please can someone from MS provide any feedback on the unfixed issue #10117 ? It's been two years since anyone from MS has replied in it.

Forgive me for raising another issue in order to get attention to an existing one, but a lot of companies are waiting for this to be fixed, and I found no

[2021-12-19 16:42] TanayParikh commented on #39111
Duplicate of https://github.com/dotnet/aspnetcore/issues/38809

[2021-12-19 19:06] #39112 closed

[2021-12-19 19:06] pr-benchmarks[bot] opened #39117 "Perf regression: json"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json [Fixed] | Json Platform aspnet-citrine-win | 12/17/2021 21:02:17 | 816,849 | 671,043 | -22.58 % (-184,404)  :thumbsdown:  | -4.72 σ | 39,086.53 | <details>    <summary>Changes</summary>     <table>

[2021-12-19 20:35] Jesus-QC commented on #38842
Im having the same issue when I upload big files to the server, it does not happen with small ones.

[2021-12-19 20:49] TanayParikh commented on #38842
This exception is raised in Blazor Server ([here](https://cs.github.com/dotnet/aspnetcore/blob/5adbdcb18ce1167321e919b930d575cbbfb7512c/src/Components/Server/src/Circuits/RemoteJSDataStream.cs?q=Did%20not%20receive%20any%20data%20in%20the%20allotted%20time#L211)) when the client fails to send any data chunks within the stream for the [SignalR `JSInteropDefaultCallTimeout`](https://cs.github.com/do

[2021-12-20 01:43] Bala-tec commented on #39109
@pranavkm - thanks for the reply
Not able to override the OnErrorAsync method, MainLayout already inherits LayoutComponentBase. Any suggestion to use OnErrorAsync method in the MainLayout razor file?

![image](https://user-images.githubusercontent.com/93471823/146699593-c1549279-4f4d-4664-bd73-ae447a0c1e46.png)

[2021-12-20 04:00] #39107 closed

[2021-12-20 05:05] nssidhu opened #39118 "SignalR Reconnection after Disconnection unwires existing event handlers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In my SignalR Client(Blazor Wasm) i have Hubconnection injected as singleton so that i can reuse connection on different pages.

[code]

In my Page where i want to use signal R
I have the following code
[code]

Everything works correctly. the issue start to appear when Client is disconnected

[2021-12-20 06:06] AlexBrunnerACAG commented on #25152
Hi Knight1219
you mentioned a middleware, you implemented by yourself.
Do you think that getting this middleware could be possible? Maybe we could find an arrangement?
I would like to setup a proper staging/production environment and I am stuck at this topic as well.

[2021-12-20 11:18] tavershimafx opened #39119 "A better implementation to the definition of IUrlHelper.IsLocalUrl"
## Background and Motivation
I have ran over an issue trying to verify if a given url sent to my server is actually a url arising from my host. This has been a design requirement I have come in contact hundreds of times. Sometimes, I just have to implement one myself of circumvent the situation around to match the current state.

## Proposed API

[code]
Then we also update the implementation at [U

[2021-12-20 11:43] Liero commented on #39114
It's not quite ok for following reasons:

1. It creates component `<MyUtils>` even if you don't use it.
2. If you try to add any EventCallback, it won't compile. E.g.:

[code]

    will throw

[2021-12-20 13:01] dvallmen commented on #39016
I am aware this is not directly a bug in the framework. But this is obviously going to impact the usability of the PWA feature.

Looking at service worker implementations from other frameworks, e.g. angular, i can see a similar approach of using a file listing the "assets" and their integrity check hashes. But as far as i can see, these frameworks use a "cache-busting" strategy to load resources a

[2021-12-20 13:24] guardrex commented on #39087
I can't repro a problem with the doc's example (as provided, i.e., not using a partial class) ...

Upload two test files, a text file and a PNG image ...

<img width="726" alt="Capture" src="https://user-images.githubusercontent.com/1622880/146770835-f2e52de2-1167-412c-a16e-d67645712dda.PNG">

Files are uploaded ...

<img width="229" alt="Capture1" src="https://user-images.githubusercontent.com/16

[2021-12-20 14:10] bldevuid798 opened #39123 "HTTP Error 500.19 - Internal Server Error/ Error code 0x8007000d"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

ASP.Net Core 6.0 apps on IIS 10 with only Windows Server Hosting bundle 6.0 installed on Win 11 cannot read the web.config file - "This error occurs when there is a problem reading the configuration file for the Web server or Web application. In some cases, the event logs may contain more inf

[2021-12-20 14:37] Grizzlly commented on #39087
Created a [new project](https://github.com/Grizzlly/NewFileTest), .NET 6.0.101

Creation options:

- HTTPS
- ASP.NET Core Hosted
- Progressive Web Application

![image](https://user-images.githubusercontent.com/19261573/146781867-b059f23c-f833-485c-a684-2adc86fcf410.png)

Again, I could track the exception down to `content.Add()`, specifically `fileContent`. If I change `fileContent` to a `StringC

[2021-12-20 15:05] guardrex commented on #39087
Ah ... sorry if I missed that it's a hosted PWA. You may have called that out earlier. We state ... *because Steve says so* 😄 ... that the hosting and deployment model aren't relevant to PWAs; however, network behaviors (and possibly JS interop behaviors) aren't necessarily the same. How about a test without the PWA switch (i.e., pure hosted WASM)? I just want to try and narrow down the possibilit

[2021-12-20 15:57] djfoz opened #39125 ">>NET6 Blazor WASM debugging when running in IIS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We're currently looking at options for migrating an JS based SPA over to Blazor WASM. We believe as of NET6 blazor is now in a good place to start planning this.

In order to aid with this, we're looking at running Blazor WASM hosted in IIS as an application. The idea is that will reference t

[2021-12-20 16:19] devntofficial commented on #38175
@marcelbeeker were you able to resolve it? I just ran into the same problem

[2021-12-20 16:35] pandiyarajm commented on #24563
To reset a form i need to click the cancel button twice.

- First click, show the validation message of minlength not satisfied
- Second click, input and error message cleared

What i need to change in my code to reset the form on single click?

Below is my EditForm sample code

`
@using Syncfusion.Blazor.RichTextEditor

                    <EditForm Model="@Model" OnValidSubmit="@ValidSubmit">

[2021-12-20 16:45] pranavkm commented on #39109
@Bala-tec you'd create a separate `CustomErrorBoundary` component that derives from `ErrorBoundary` and use that in your layout component.

[2021-12-20 17:30] Tratcher commented on #39123
Can you share the web.config file for the published app?

[2021-12-20 17:38] Tratcher commented on #39113
IHttpConnectionFeature lives in the Microsoft.AspNetCore.Http.Features assembly which no longer ships as a package, it's part of the shared framework. See https://github.com/aspnet/Announcements/issues/462

[2021-12-20 18:35] jparnzen commented on #39107
Ah! Thank you for that explanation, @pranavkm! I was conflating the `asp-page` path and the route-path matching.

So just for my own edification: `asp-path` doesn't use the same route matching algorithm? Is that route matching happening in the framework or in Kestrel?

[2021-12-20 18:38] Tratcher commented on #39096
According to this [blog](https://blog.guya.net/2015/06/12/sharing-sessionstorage-between-tabs-for-secure-multi-tab-authentication/), session storage is not shared across tabs or instances.

[2021-12-20 19:06] #39117 closed

[2021-12-20 19:27] brunolins16 opened #39126 "Adding EntryAssembly to AddRazorPages/AddControllers*"
## Background and Motivation
Currently, the default behavior in MVC to load the default `ApplicationParts` from the `entryassembly` is rely on the `IWebHostEnvironment`, however, as reported in the #10611, there are scenarios where the developer wants to just create a new `ServiceCollection` and configure as needed. This scenario is not supported today because some providers will not be loaded, eg

[2021-12-20 19:46] Grizzlly commented on #39087
Update: Even with PWA support disabled, I get the same exception. It also throws when published. The project can be found [here](https://github.com/Grizzlly/NewFileTestNoPWA).

[2021-12-20 19:56] guardrex commented on #39087
Ok ... thanks for checking. I can't repro the behavior (yet), so we'll need to wait until the PU gets back on this. I'll eventually perform a hosted PWA test here. I'll be back the first week of '22, and I'll get to it *ASAP* depending on any priority issues that must be addressed first when I get back.

[2021-12-20 20:00] #39116 closed

[2021-12-20 20:45] Grizzlly commented on #39087
Thank you! It is a bummer that this broke out of the blue as my app kinda depends on this... Let me know if you need any more info.

[2021-12-20 21:14] #39113 closed

[2021-12-20 22:00] #38985 closed

[2021-12-20 22:00] #38944 closed

[2021-12-20 23:19] DavidShefcik commented on #37190
+1

Trying to run my entire application stack in docker compose does not work because of the dialog coming up. There is no way for me to select an option while running it in docker compose so a CLI flag would be helpful.

[2021-12-20 23:26] TanayParikh commented on #38382
@caffeinerobot @cyberyaga, are you experiencing this issue on Linux / MacOS exclusively? **Is anyone experiencing this on Windows?**

I believe I've isolated the issue to the following code block which is Unix specific:

https://github.com/dotnet/razor-tooling/blob/2f6964417154c4d3823b94b8d4b0e151ea67e83d/src/Razor/src/Microsoft.AspNetCore.Razor.VSCode/src/BlazorDebug/BlazorDebugConfigurationProvi

[2021-12-21 00:06] BrennanConroy commented on #39118
Please share a github repo that shows the issue.

[2021-12-21 00:32] HybridSolutions commented on #38809
This does not work with the issue presented here since as I explained, the problem is on the script that does not invoke the refresh function location.reload(); when using Razor pages + Blazor in a project.

[2021-12-21 01:03] nssidhu commented on #39118
https://github.com/nssidhu/TimerDisconnectEventIssue

[2021-12-21 01:45] devlife commented on #37713
Has there been any movement on this? I'm trying to use WebAssemblyPrerender for my Blazor WASM Hosted project using Azure AD but am getting `Cannot read properties of undefined (Reading redirectUri)`

[2021-12-21 03:35] nssidhu commented on #39118
I would close this as in the repo, it is working fine.

[2021-12-21 03:35] #39118 closed

[2021-12-21 06:58] SuperCatss commented on #12472
Any update now?

[2021-12-21 07:07] #39051 closed

[2021-12-21 08:18] jahnotto opened #39131 "Downloading large files in Blazor WASM - memory leak?"
I am trying to download several large files (~200 MB). Even if I am not storing the data, the browser consumes ~800 MB of memory every time I try to download the file until I get an OutOfMemoryException or the following exception in the console window:

       Uncaught RuntimeError: memory access out of bounds
    at 009705ea:0x1c7e95
    at 009705ea:0x927b2
    at 009705ea:0x94525
    at 009705ea

[2021-12-21 09:09] programatix commented on #21656
I found that the issue is caused by ```operationId``` where duplicated ID is used. The example of the following will cause this issue,
[code]

[2021-12-21 09:15] dvallmen commented on #39016
I did some further research on this issue. According to [Fresher service workers, by default](https://developers.google.com/web/updates/2019/09/fresher-sw), the default behaviour (in this case for chrome) is to serve requests for "importScripts" inside a service worker (or any worker) from cache.

To change this behaviour, ServiceWorkerContainer.register() can be called with the "updateViaCache" o

[2021-12-21 09:20] DaveLaa opened #39132 "Advanced NewtonsoftJson parsing error handling"
Advanced Newtonsoft parsing error handling

I have a suggestion to the Microsoft.AspNetCore.Mvc.NewtonsoftJson project to improve the possibility of parsing error handling.

In my services project I have the need to be able to decide which parsing error of json objects sent to my service are tollerable and can be safely ignored. I achieve this goal by adding an error handler in the SerializerSetti

[2021-12-21 09:54] alberk8 opened #39133 "A lone semicolon in the using section cause aspnet not to execute"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

aspnet core will execute with the following message.  There is no compilations error and Analyze and Clean Up Code also does not pick up on the dangling semicolon.

[code]

### Expected Behavior

Fail to compile with error message pointing to the offending semicolon.

### Steps To Reproduce

[2021-12-21 11:04] mkgn opened #39134 "using IClaimsTransformation on-demand"
I understand that IClaimsTransformation gets called multiple times. But what if I want to modify the claim based on a specific condition that will occur rarely. So, if it's possible to do something like below; I think it'll be much more performant.

    if (condition = true){
         currentPrincipal.AddClaim("rarely-updated-claim",value);
         IClaimsTransformation.TransformAsync(currentPrin

[2021-12-21 11:10] MariovanZeist commented on #39133
What version of Visual Studio are you using?
In my VS2022 (17.0.4)  I get a compile error ``At least one top-level statement must be non-empty.``
When I add it to the location you showed.

[2021-12-21 11:44] emanuel-v-r commented on #38850
Thank you all for the help here, I will analyze the source code in order to understand how to provide a custom propagator. Some documentation would be nice to have though.

[2021-12-21 12:08] joesdu opened #39135 "Whether the TimeOnly.ToDateTime method is missing this"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I wanted to convert the existing DateOnly type to the DateTime type, but when I used the ToDateTime function I found that it could not be converted directly, and after decompiling it through ReSharper, I found that the function was not an extension method of DateOnly
![image](https://user-ima

[2021-12-21 12:16] MariovanZeist commented on #39135
The ``ToDateTime`` function of ``DateOnly`` expects a ``TimeOnly`` parameter to fill in the Timepart.
You could use ``dateOnlyVariable.ToDateTime(TimeOnly.MinValue)`` If you want the time part to be 0

[2021-12-21 12:19] joesdu commented on #39135
I got it, thanks.

[2021-12-21 12:19] #39135 closed

[2021-12-21 13:04] MariovanZeist commented on #39131
``GetStreamAsync(Uri)`` will load the entire response body before completion. so in your case the 200Mb files will be loaded into memory before you start copying it.

use something like:

[code]

[2021-12-21 13:39] jahnotto commented on #39131
Thanks a lot @MariovanZeist ! That seems to do the trick.

[2021-12-21 14:26] keerthirajap opened #39137 "Blazor WASM SEO issues"
Blazor WASM needs simple and quick solution on SEO for rendering Title, Meta and Link tags on Twitter and Facebook cards.

bing webmasters is showing errors on using PageTitle and HeadContent tags.

Provide inbuilt option for Robot.txt and sitemap.xml

[2021-12-21 15:00] sanme98 commented on #38450
@javiercn I found for `<a>` tag, it only without the scope identifier if with asp-xxx attribute. E.g.

[code]
If I remove the asp-area and asp-page attributes, the scope identifier will be back
[code]

[2021-12-21 15:18] kmuthukumar23 opened #39138 "Invalid currency symbol for German and Chinese culture in Blazor WASM application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi Team,

Thanks in advance…

I have tried localization in blazor web assembly standalone application and web assembly Core hosted application with .NET 6. Added the cultures en-us, german(de), French and Chinese. Here, I faced the some issues with currency symbols of german and chinese. It s

[2021-12-21 15:34] jpoehls commented on #39068
@pranavkm: Thank you, that tip helped us find a solution. We used the `ResolveRazorGenerateInputs` target in combination with some `<Content Update="..." />`, `Include="..."`, and `Remove="..."` related to our generated files and have our project working now.

[2021-12-21 15:34] #39068 closed

[2021-12-21 15:57] MariovanZeist commented on #39138
Some of your CulterInfos are incorrect.
You should provide the complete CultureInfo Code and not only the LanguageCode, or use LCID's
(https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-lcid/70feba9f-294e-491e-b6eb-56532684c37f)

For Germany use ``de-DE`` and for China, there are multiple depending on the region, for testing I used `` zh-CN``

[2021-12-21 16:21] keerthirajap commented on #39137
I temporally resolved by using prerender.io and cloudflare.com services for the website launched in IIS, by following the blog : https://www.baskaran.dev/posts/2021/1/blazor-seo-prerendering

[2021-12-21 16:58] Tratcher commented on #39134
When do you detect this condition? In middleware? In your endpoint?

You don't need to run claims transformation to modify the current user, you just need to update the value on HttpContext.User in most cases.

[2021-12-21 17:52] simonsattinshell opened #39139 "BackgroundService StopAsync not called when stopping Web App in Azure using ASP.NET Core 6 Minimal API"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I created the template Minimal API template with VS 2022 ASP.NET 6.0, and added a BackgroundService as a HostedService. I deployed this to Azure and it starts the Background service fine and i can see it in the logs.

However when i stop the web app in Azure, the StopAsync of the BackgroundSe

[2021-12-21 18:07] captainsafia commented on #33088
Yep. This is done now via https://github.com/OmniSharp/omnisharp-vscode/commit/1300a755cd67bd19a85355991f29ffaf14d127b9.

[2021-12-21 18:09] TanayParikh commented on #33088
Thanks for confirming, closing out the issue.

[2021-12-21 18:09] #33088 closed

[2021-12-21 18:11] sebastienros commented on #36911
STJ Source Generators

[2021-12-21 18:11] #36911 closed

[2021-12-21 18:12] sebastienros commented on #38404
FP

[2021-12-21 18:12] #38404 closed

[2021-12-21 18:12] sebastienros commented on #38324
FP

[2021-12-21 18:12] #38324 closed

[2021-12-21 18:13] sebastienros commented on #38169
FP

[2021-12-21 18:13] #38169 closed

[2021-12-21 18:13] sebastienros commented on #37950
.NET 7, ThreadPool improvements

[2021-12-21 18:13] #37950 closed

[2021-12-21 18:14] sebastienros commented on #37938
.NET 7 ARM startup improvements

[2021-12-21 18:14] #37938 closed

[2021-12-21 18:15] sebastienros commented on #37936
.NET 7 ThreadPool improvements

[2021-12-21 18:15] #37936 closed

[2021-12-21 18:15] sebastienros commented on #37935
.NET 7 ThreadPool improvements

[2021-12-21 18:15] #37935 closed

[2021-12-21 18:15] sebastienros commented on #36981
FP

[2021-12-21 18:15] #36981 closed

[2021-12-21 18:16] #32712 closed

[2021-12-21 18:16] #32714 closed

[2021-12-21 18:16] #32715 closed

[2021-12-21 18:16] #32746 closed

[2021-12-21 18:16] #32914 closed

[2021-12-21 18:16] #32915 closed

[2021-12-21 18:16] #33029 closed

[2021-12-21 18:16] #35626 closed

[2021-12-21 18:16] #35627 closed

[2021-12-21 18:16] #36671 closed

[2021-12-21 18:17] sebastienros commented on #36874
NodeJS

[2021-12-21 18:17] #36874 closed

[2021-12-21 18:19] sebastienros commented on #36046
FP

[2021-12-21 18:19] #36046 closed

[2021-12-21 18:20] #32167 closed

[2021-12-21 18:21] #32486 closed

[2021-12-21 18:21] #32488 closed

[2021-12-21 18:22] sebastienros commented on #33304
nodejs

[2021-12-21 18:22] #33304 closed

[2021-12-21 18:22] sebastienros commented on #33554
EF improvements

[2021-12-21 18:22] #33554 closed

[2021-12-21 18:23] #33702 closed

[2021-12-21 18:23] sebastienros commented on #34224
FP

[2021-12-21 18:23] #34224 closed

[2021-12-21 18:23] sebastienros commented on #34789
nodejs

[2021-12-21 18:23] #34789 closed

[2021-12-21 18:24] sebastienros commented on #35624
Revert "Delay socket receive/send until first read/flush

[2021-12-21 18:24] #35624 closed

[2021-12-21 18:25] sebastienros commented on #32711
Connection string

[2021-12-21 18:25] #32711 closed

[2021-12-21 18:25] #32740 closed

[2021-12-21 18:25] #32877 closed

[2021-12-21 18:26] #32878 closed

[2021-12-21 18:26] sebastienros commented on #32911
Connection string

[2021-12-21 18:26] #32911 closed

[2021-12-21 18:26] #32973 closed

[2021-12-21 18:28] sebastienros commented on #33165
Tracked https://github.com/dotnet/runtime/issues/61233

[2021-12-21 18:28] #33165 closed

[2021-12-21 18:37] wtgodbe commented on #17599
@dougbu assigning this to you as it's similar to what you're doing w/ removing redundant build jobs

[2021-12-21 18:58] Tratcher commented on #39139
Related: https://github.com/dotnet/aspnetcore/issues/22272

[2021-12-21 19:00] #39109 closed

[2021-12-21 19:06] pr-benchmarks[bot] opened #39142 "Perf improvement: fortunes"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes [Fixed] | Fortunes Platform aspnet-citrine-lin | 12/20/2021 09:34:30 | 462,272 | 471,568 | 1.35 % (6,246)  :thumbsup:  | 2.32 σ | 2,695.47 | <details>    <summary>Changes</summary>     <table><

[2021-12-21 19:06] pr-benchmarks[bot] opened #39143 "Perf regression: plaintext"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext  | Plaintext Platform Inline aspnet-citrine-amd | 12/20/2021 09:22:43 | 12,024,733 | 12,003,396 | -1.65 % (-197,870)  :thumbsdown:  | -2.16 σ | 91,493.76 | <details>    <summary>Changes</summa

[2021-12-21 19:22] TanayParikh commented on #38382
Thanks @caffeinerobot.

Re-opening issue to track deployment.

[2021-12-21 19:49] #38382 closed

[2021-12-21 20:19] 3x0dv5 opened #39144 "Same type claims are merged when they get to the client side"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The issue can be better understood by looking at this issue: https://github.com/openiddict/openiddict-core/issues/1365
The claims list in the server side behaves differently from the client/blazor side.
Somehow when the token is read the claims of the same type are merged together.

### Expec

[2021-12-21 20:29] Andrei15193 commented on #38713
I was looking into how to determine if a type is a record type and used the same approach as in this repository, exactly the method you refer to. I ran into the same issue where a provided a record type and the method didn't agree with that. In my case it was because of record inheritance, and to completely cover that I think a similar, but different approach should be applied (the check for the b

[2021-12-21 20:30] marcelbeeker commented on #38175
@devntofficial A clean of the solution then restart Visual Studio and finally a Rebuild the solution did solve my problem. I hope it helps you too.

[2021-12-21 20:51] wtgodbe commented on #39123
The install of the 6.0.1 hosting bundle looks normal to me, could you confirm if your app works using the 6.0.0 hosting bundle (after uninstalling 6.0.1) available [here](https://dotnet.microsoft.com/en-us/download/dotnet/thank-you/runtime-aspnetcore-6.0.0-windows-hosting-bundle-installer)? This would help us confirm if it's related to a change to ANCM that was made in 6.0.1. If possible, could yo

[2021-12-21 21:08] simonsattinshell commented on #39139
This is a slightly different scenario. My post, I have setup a Web API project and added a worker service to that. The other post is a background service that gets deployed as a web job. I've noticed that when a background service is deployed as webjob the logs act differently - for example if i log as a warning, it shows in the logstream that its logged as "Information: warning".

When a backgrou

[2021-12-21 21:26] RobertBouillon commented on #39087
I'm also encountering this issue. Not using PWA, but am using pure WASM. Just upgraded up from .NET 5.

[2021-12-21 21:33] guardrex commented on #39087
@TanayParikh ... I can't repro a problem for pure hosted WASM for the doc guidance. I haven't tried for hosted PWA yet. I was going to try that after I return from vacation.

[2021-12-21 22:10] TanayParikh commented on #39087
I got the issue to repro using a clean blazorwasm app with the documented upload component [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-6.0&pivots=webassembly#upload-component). This may end up requiring some doc changes, but at the core I believe this may be a product issue. I'm investigating accordingly 😄

In the meantime, you can use @Grizzlly's recomm

[2021-12-21 22:15] rafikiassumani-msft commented on #38609
@jseward Thanks for replying. Since the errors have gone away, I will close this issue.

[2021-12-21 22:15] #38609 closed

[2021-12-21 22:20] jseward commented on #38609
@rafikiassumani-msft . as noted, they went away because I disabled Application Insights... the root problem must still exist. 🤷

[2021-12-21 22:32] TanayParikh commented on #39087
Thanks all for the discussion, I've confirmed this is a duplicate of https://github.com/dotnet/aspnetcore/issues/38962 and is fixed by https://github.com/dotnet/aspnetcore/pull/39060.

Given this is currently in a broken state, I believe taking @Grizzlly's suggestion [from here](https://github.com/dotnet/aspnetcore/issues/39087#issuecomment-997174943) and using the octet-stream should be the appro

[2021-12-21 22:35] TimCorey opened #39145 "InputRadioGroup not registering initial click in some circumstances"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I have made an edit to an input field, if I click a button afterward, the button click does not fire.

This seems similar to #30875 but the solution is not the same. In the simple demo, wrapping the string in a model does seem to resolve the issue. However, in my production issue, I have

[2021-12-21 23:46] guardrex commented on #39087
Yes, I'll open an issue and take care of it.

[2021-12-22 00:08] MariovanZeist commented on #39145
The underlying cause is the use of a value type as ``Model``.
The ``EditForm`` uses the ``HashCode`` of the ``Model`` to determine if anything inside the ``EditForm`` should be recreated.
So if the ``Model`` changes, it will recreate its contents (including the ``<form>`` tag and the ``onsubmit`` attribute).
As the ``Model`` is of type ``object``, the integer ``@currentCount`` gets boxed, this box

[2021-12-22 00:27] MariovanZeist commented on #39145
I do think this should be better documented, either in the EditForms Model Intellisense, or
https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-6.0

[2021-12-22 01:00] #8847 closed

[2021-12-22 01:51] oobles opened #39147 "UseSpa UseReactDevelopmentServer logging incorrect"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the bug

Output from UseSpa UseReactDevelopmentServer is only logged as "fail:" rather than "info:". Is there a way to change the logging level?

[code]

### Expected Behavior

Logging output from node is logged at info rather than fail.

### Steps To Reproduce

_No response_

### Exceptions (if any)

[2021-12-22 02:22] mkgn commented on #39134
@Tratcher , Yes a middleware. The requirement is that before every call we need to check whether the authenticated user have accepted the privacy statement. So, when user logs in (we use AspNet core Identity); with other user claims we add a claim stating whether the user has accepted privacy statement.

In subsequent calls we need to check that claim value and redirect to a page where he can agre

[2021-12-22 03:37] alberk8 commented on #39133
Microsoft Visual Studio Community 2019
Version 16.11.8

[2021-12-22 03:47] Dillion132 opened #39148 "Options pattern does not work if I initialize the IEnumerable type model"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have nested model called `Options`. The child model is type of `IEnumerable<Application>` . I initialize all the properties in the `Options` model.  When I use option pattern to bind the json data to model, only the `IEnumerable<Application>` cannot be bound successully, it gets `count=0`.

[2021-12-22 04:05] rafikiassumani-msft commented on #29931
@domaindrivendev Thank you for reporting. While investigating this, I also found that the behavior for `[FromHeader]` when mapped to a custom type is not what the user would expect. The header parameters binding fails. However, if I add `[FromHeader]` attribute on individual model properties, then the binding succeeds. Here is an example:

[code]
The above example does not still send the correct m

[2021-12-22 05:19] TanayParikh commented on #39087
https://github.com/dotnet/aspnetcore/pull/39060 will ensure we don't get the un-necessary exceptions, however the fact that we threw an exception in the first place in .NET 6 and not .NET 5 was bothering me. I wanted to make sure this wasn't indicative of a deeper issue. Fortunately it's not.

- We're reading a stream, and before processing the stream request in .NET we're cancelling the request.

[2021-12-22 05:22] jeremyVignelles commented on #8847
So now it has been clear that it won't be fixed, I guess the only thing that can be done is to fix the ApiExplorer to support that behavior : #28060

[2021-12-22 05:31] sebastienros opened #39149 "gRPC Benchmarks broken"
Issue with analyzers on .net7

[code]

[2021-12-22 05:51] singh733 commented on #35553
Thank you @Tratcher. I will do it in mvc options.

[2021-12-22 06:50] singh733 opened #39150 "Set asp-append-version to true for everything"
**Goals**

#35553

Proposed Solution:
a) Add **AppendVersion** property in the **MvcOptions** file.
b) Then use that property in the **LinkTagHelpers.cs**
c) if someone has set the **asp-append-version** in the .cshtml page then we use that otherwise we will use from the **Mvc options**.

Sample

![image](https://user-images.githubusercontent.com/83835739/147048123-4003171f-6f43-4f31-b681-d2c25c93

[2021-12-22 07:06] #39143 closed

[2021-12-22 07:06] #39142 closed

[2021-12-22 07:06] pr-benchmarks[bot] opened #39151 "Perf regression: json_netty"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json_netty [Fixed] | Netty Json aspnet-citrine-lin | 12/19/2021 05:34:48 | 1,127,941 | 1,098,052 | -2.36 % (-26,640)  :thumbsdown:  | -2.17 σ | 12,268.14 | <details>    <summary>Changes</summary>     <t

[2021-12-22 07:20] ldsenow opened #39152 "CORS AllowAnyOrigin starts not working after .NET 6 upgrade"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi,

After .NET6 upgrade, my web api project starts not recognizing the AllowAnyOrigin for CORS for some reason.
When I put the domain in the WithOrgions list, it works. Not sure if it is a breaking change or a bug?

Could someone have a look at this?

Cheers,
LD

### Expected Behavior

_No r

[2021-12-22 07:45] sfsharapov commented on #8998
Well, it doesn't in 6th LTS version too. It's so disgusting, this bug is undocumented being so obvious to developers. Yesterday I've spent all the day because of this bug.

[2021-12-22 08:33] superlitt opened #39153 "a blazor page has many iframe and iframe is also blazor webassembly app"
a blazor page has many iframe and iframe is also blazor webassembly app
how to quick speed.
and the page is in app(android or ios) how does it active quick.
3q

[2021-12-22 08:51] cremor commented on #28060
Related:
#4950
#8847
#8855
#9375

[2021-12-22 11:27] MariovanZeist commented on #39133
I can confirm, adding the semicolon in vs 16.11.8 will indeed not display a compile error, but will instead
silently exit the app.

It won't even run Program.Main

[2021-12-22 11:33] julienGrd commented on #39096
@Tratcher yes its whats i see. so it will be perfect to have a jwt for example stored on this,  but i don't know how to deal with this kind of authentication, especially in blazor server side. I don't find any good ressources on how to perform that.

Do you have have any ressources on this ?

thanks !

[2021-12-22 11:39] MariovanZeist commented on #39133
And it's not specific to a WebApi project, Just creating a default console application, adding a default class, and adding the semicolon in class1.cs will create the same issue.

The program won't even display "Hello World" and exit with code 0

[2021-12-22 13:01] Bertramp commented on #13413
@BrownBot That only works if you have added any validation messages. But i will use it for now..

Working with forms is really handicapped by having no way to access the state of a context without re-validating which often can be super expensive. This needs to be a property on the `EditContext` or `ValidationStateChangedEventArgs `

[2021-12-22 13:58] TanayParikh commented on #39153
Based on your description, it appears you're trying to utilize a Blazor component.

Ie. you want to show ComponentABC.razor inside of HomePage.razor. In that case, you can just do:

HomePage.razor:

[code]

ComponentABC.razor:

[code]

Documentation on using components is found here https://docs.microsoft.com/dotnet/architecture/blazor-for-web-forms-developers/components#use-components. No need to

[2021-12-22 14:47] eamonn-coleman commented on #39104
I can reproduce the problem with this command:

dotnet new blazorwasm -au SingleOrg --api-client-id <guid1> --app-id-uri <guid1> --client-id <guid2> --default-scope my.api.access --domain somedomain.com -ho -o SomeApp --tenant-id <guid3>

First login works.
Logout works.
Second login hangs.

Opening devtools appears to reliably work around the problem.

[2021-12-22 15:09] adam-becker commented on #39104
Thanks @eamonn-coleman! Looks like the same issue I'm seeing.

[2021-12-22 16:34] Tratcher commented on #39096
I don't. The blazor team will review this when they get back in January.

[2021-12-22 16:47] Tratcher commented on #39134
I'm not sure you need the claims transformer at all in this example.

The privacy statement check/claim is a long-lived value persisted in the database with the other user claims. You'd have a middleware or an authorization policy check this is present for the current user and trigger the redirect if not. On the acceptance page you add the new claim to the user database. To update the current user

[2021-12-22 16:51] pranavkm commented on #39150
We could consider putting this in `HtmlHelperOptions` instead. The options name is a bit unfortunate, but it'd be much closer to where this setting needs to be.

[code]

## Usage:

[code]

I'm not a fan of the property name, but we might come up with something better during API review.

[2021-12-22 16:52] pranavkm commented on #35553
We could consider putting this in `HtmlHelperOptions` instead. The options name is a bit unfortunate, but it'd be much closer to where this setting needs to be.

[code]

## Usage:

[code]

I'm not a fan of the property name, but we might come up with something better during API review.

[2021-12-22 16:52] pranavkm commented on #39150
Continuing this discussion in https://github.com/dotnet/aspnetcore/issues/35553

[2021-12-22 16:52] #39150 closed

[2021-12-22 16:55] pranavkm commented on #37323
https://github.com/dotnet/aspnetcore/issues/39132 is a similar issue and the suggestion there was to skip over errors that are marked as handled. Does that address your concerns?

[2021-12-22 16:56] pranavkm commented on #39132
@DaveLaa your suggestion makes good sense. I'm going to use https://github.com/dotnet/aspnetcore/issues/37323 to continue discussing this since it's also talking about tackling this specific scenario.

[2021-12-22 16:56] #39132 closed

[2021-12-22 16:57] pranavkm commented on #37323
Comment by @DaveLaa

-----
Advanced Newtonsoft parsing error handling

I have a suggestion to the Microsoft.AspNetCore.Mvc.NewtonsoftJson project to improve the possibility of parsing error handling.

In my services project I have the need to be able to decide which parsing error of json objects sent to my service are tollerable and can be safely ignored. I achieve this goal by adding an error han

[2021-12-22 17:16] pranavkm commented on #39106
My guess is that the values here need to be:

[code]

going by the conventions that are being configured. In the absence of this, the URL will resolve to a null / empty string. If that's not the issue, could you share a minimal app that reproduces the problem for us to investigate?

[2021-12-22 17:24] pcarret opened #39156 "Very high memory consumption in Blazor app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have started a Blazor (server-side) svg-editor ambitious project and I'm facing **very very** high memory consumption (more than 500 Mb for some svg)

So I decided to investigate why the memory was getting very high and firstly when user was simply moving the mouse in <svg> area

When mouse

[2021-12-22 17:24] TimCorey commented on #39145
Thanks @MariovanZeist that was really helpful. I might add the documentation necessary to that section because I agree that it should be clearer.

However, I am still having the issue even after moving my radio button option into my model (I created a model just for this form). Here is my actual code:

`
<EditForm Model="suggestion" OnValidSubmit="Create">
    <DataAnnotationsValidator />
    <Val

[2021-12-22 17:39] bldevuid798 commented on #39123
@Tratcher Here are the contents of an example file. Happens on any app.

[code]

[2021-12-22 17:55] HybridSolutions opened #39157 "FindByIdAsync requires string instead of int even with ApplicationUser: IdentityUser<int>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I might be seeing this wrong but shouldn't FindByIdAsync accept an int instead of string when ApplicationUser: IdentityUser<int>?

I'm using var user = await _userManager.Users.FirstOrDefaultAsync(u => u.Id == userId); as an alternative but just wanted to be sure of this.

Thank you!

### Exp

[2021-12-22 17:57] bldevuid798 commented on #39123
In flipping out the various versions of hosting bundle to test, things have begun working as expected with 6.0.1. Not sure what the issue was there (perms were all set right, etc.).

Cheers, so much.

[2021-12-22 17:57] #39123 closed

[2021-12-22 18:13] brunolins16 commented on #39152
@ldsenow, I just tried and seems to work for me.

![image](https://user-images.githubusercontent.com/12376385/147136921-ef2bfdba-05a9-4615-96b5-3e5e42362a2f.png)

Can you share a repro project?

Here is the code I used:

[code]

[2021-12-22 18:19] vsfeedback opened #39158 "Problem with the ASP.NET Core-Web-API template if creating new project with "swagger""
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Problem-with-the-ASPNET-Core-Web-API-te/1610841)._

---
[severity:It's more difficult to complete my work]
The problem is this part of code in startup.cs:

[code]

The Lines of code where used for "swagger" are in the if blog.
It seems like wrong, because my external hosting service will

[2021-12-22 18:25] MariovanZeist commented on #39145
Hi @TimCorey
This is a similar issue, now caused by the ``InputRadioGroup`` component.
Basically, it will always rebuild its internals (So in your case the ``InputRadio`` components) due to an always-changing Key, resulting in the same kind of race condition as above.

This seems to be a duplicate of: https://github.com/dotnet/aspnetcore/issues/31610

[2021-12-22 18:31] TanayParikh commented on #39156
Hello @pcarret, thanks for contacting us.

When running inside Visual Studio, potentially with the debugger attached, and/or using a debug build, the GC behaves differently. Consequently, these results are likely not representative of how Blazor behaves in a production environment.

If you want to capture an accurate trace of your program we suggest you follow some of the guidance provided [here](

[2021-12-22 18:40] MariovanZeist commented on #39145
As a workaround you could create your own component  as replacement for ``InputRadioGroup`` like this:

[code]

[2021-12-22 18:40] pranavkm commented on #39158
Swagger is intentionally enabled only in Development. Most users do want to expose their entire API map outside of development. If you would like to enable it in production, removing the condition is fairly trivial.

[2021-12-22 18:40] #39158 closed

[2021-12-22 18:47] Grizzlly commented on #39087
Just to clarify: The workaround is to use `StringContent` with `application/octet-stream`?

Also, I think you should reconsider and update #39075 as I think it affects everyone that implements file upload.

[2021-12-22 19:00] #39131 closed

[2021-12-22 19:04] TanayParikh commented on #39087
Yes. The reason why that works isn't because of `StringContent` but rather because `await fileContent.ReadAsStringAsync()` ensures we await the streaming initialization.

`content: new StringContent(await fileContent.ReadAsStringAsync(), Encoding.UTF8, "application/octet-stream")`

Yes we'll be discussing potentially bringing this into a future patch release in the new year once team members retur

[2021-12-22 19:24] TanayParikh opened #39159 "Blazor Make Default Template Favicon Blazor Logo"
Consider updating the templates to use the Blazor logo instead of the current default:

![image](https://user-images.githubusercontent.com/14852843/147144608-4fa488ea-f1ef-43a0-a38e-d2749bce747e.png)

![image](https://user-images.githubusercontent.com/14852843/147144692-50624d81-cb56-4fc3-ab25-5d712818c1d3.png)

[2021-12-22 19:29] TanayParikh commented on #39159
This should be an extremely quick change. Just create the favicon and update the appropriate templates as was done in: https://github.com/dotnet/aspnetcore/pull/22533

[2021-12-22 20:04] RobertBouillon commented on #39087
Quick question - will the fix to this issue restore functionality the original use-cases?

Here's a succinct workaround. In my case, I'm reading bytes, not a string. I was buffering the data to a `MemoryStream` to be consumed by classes that take a `Stream` as a parameter.

TLDR; Looks like you just have wrap the `Stream` returned by `IBrowserFile` with an `HttpContent` class (`StringContent`, `By

[2021-12-22 20:37] TanayParikh commented on #39087
The example as [documented](https://docs.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-6.0&pivots=webassembly#upload-component) works already (the issue is if you don't actually read from the stream on which you've called `OpenReadStream` and immediately cancel). This was fixed by https://github.com/dotnet/aspnetcore/pull/39060 and _may_ be backported to 6.0 via https://githu

[2021-12-22 21:06] TimCorey commented on #39145
Thanks @MariovanZeist, that was very helpful and allowed me to at least get a workaround in place for my issue.

I'd be interested to know why this isn't the default behavior of the InputRadioGroup.

[2021-12-22 21:34] TanayParikh commented on #39087
Hmm this repro shouldn't require MVC at all. You should just be able to do something in a clean wasm app (`dotnet new blazorwasm`).

[2021-12-22 21:49] Grizzlly commented on #39087
I guess one extra possible workaround would be to keep the browser files in a list and only add them to the DataContent before sending the request?

[2021-12-22 21:53] seangwright commented on #37844
This is a breaking change if an app has `<WarningsAsErrors>nullable</WarningsAsErrors>`.

If an application has hundreds of Views, it's going to take awhile adding this unofficial solution to get the app to compile again.

Where was the planning for this feature? What was the planned recommendation to resolve this issue for the many apps built before .NET 6.0?

🤦‍♂️🤦‍♂️🤦‍♂️🤦‍♂️

[2021-12-22 21:54] TanayParikh commented on #39087
The issue is **not** with the DataContent, but rather calling `file.OpenReadStream` and then immediately cancelling the request (by not doing anything with the stream / letting the function terminate). If you don't call `file.OpenReadStream` you shouldn't have this issue.

[2021-12-22 21:59] bradygaster commented on #39139
This is a known issue for which there is a similar existing issue specific to the Worker template prior to 6.0. App Service essentially sends a different shutdown command. There is no plan to resolve this in the app service side, nor known workaround when one is running their Worker in app service. Have you tried running your worker in Azure Container Apps or in Azure Container Instances? Those op

[2021-12-22 22:00] seangwright commented on #37510
This is a show-stopping breaking change if an app has <WarningsAsErrors>nullable</WarningsAsErrors>.

If an application has hundreds (or thousands) of Views, it's going to take awhile adding this 'unofficial' solution to get the app to compile again.

Where was the planning for this feature? What was the official planned recommendation to resolve this issue for the many apps built before .NET 6.0?

[2021-12-22 22:04] bradygaster commented on #39139
I see your situation is a little different, but I suspect will fall prey to the issue @Tratcher linked. So you have a web app I to which you also added a background worker class with a StopAsync, and you're not seeing the StopAsync fire when the app stops? As in, when you hit the "stop" button in the portal, for example?

[2021-12-22 22:40] Jesus-QC commented on #38842
I just found out this:
![image](https://user-images.githubusercontent.com/69375249/147163017-8d407253-4846-4bf9-a199-273757a9b19b.png)
Let me try to fix that and i will send here the details.

[2021-12-22 22:47] ldsenow commented on #39152
I found a solution to it today. Since the project was upgraded from .NET core 3.1 to .NET 5 to .NET 6, somehow, the IHost.Start() is being used in program start. It was working fine until .net 6, I now change it to IHost.Run(), it fixes the problem. A bit of heart attack before releasing to prod.

[2021-12-22 22:47] #39152 closed

[2021-12-22 22:53] Jesus-QC commented on #38842
Not happening anymore as far as I see!

[2021-12-22 23:21] pranavkm commented on #29902
_Finally_ got around to this, but I'm running in to a fun issue with running our benchmarks with AOT enabled:

[code]

@radical would you be able to help figure this out? I have the publish output of my app here: https://microsoft-my.sharepoint.com/:u:/p/prkrishn/Eawjp_sR6VlLstzAby1hJ6QBH2VL2Y9JE3aYr72X51FIAA?e=EfixgO, branch with my changes are   here: https://github.com/pranavkm/aspnetcore/tree/

[2021-12-22 23:41] pranavkm opened #39160 "Consider deprecating more things in SpaServices.Extensions"
It's not super clear what we'd like to do with types such as [ReactDevelopmentServerMiddleware](https://github.com/dotnet/aspnetcore/blob/main/src/Middleware/Spa/SpaServices.Extensions/src/ReactDevelopmentServer/ReactDevelopmentServerMiddleware.cs). Should this be deprecated now that we have a better proxy story?

[2021-12-23 00:00] #38977 closed

[2021-12-23 00:21] #38882 closed

[2021-12-23 00:33] gbtb commented on #37323
Yes, it does. @DaveLaa case is identical to mine, and I agree with proposed solution. It would work for me, if Asp.Net Core checked eventArgs.ErrorContext.Handled flag before throwing Exception.

[2021-12-23 00:54] pranavkm commented on #37323
@gbtb we'd be happy to accept a PR for it if you'd like to send one.

[2021-12-23 01:00] #38976 closed

[2021-12-23 01:38] MayueCif commented on #37876
Disable docker-compose V2 it worked for me! Thanks!

[2021-12-23 02:12] HybridSolutions opened #39163 "Problem with Microsoft.Extensions.Configuration and Configuration.GetSection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have the following code that takes setting up some services out of program.cs:

[code]

The issue is that I'm getting an error in the services.Configure<ApplicationSettings>(configuration.GetSection(ApplicationSettings.SectionName)); line:

[code]
The error is fixed by removing the "using M

[2021-12-23 04:19] singh733 commented on #35553
Thank you @pranavkm. I will do it in HtmlHelperOptions.

[2021-12-23 06:34] singh733 commented on #35553
Hi @pranavkm , @Tratcher

I have started working on this. I have noticed the following points.

a) if we don't have any of the asp attribute then Process function will never call. for example : `<link rel="stylesheet" href="~/css/site.css"/>`

b) If we have the few asp attribute then it return before the AppendVersion logic.  for example:
[code]

c) Also looking at Unable to resolve service for ty

[2021-12-23 07:06] #39151 closed

[2021-12-23 07:06] pr-benchmarks[bot] opened #39165 "Perf regression: mvc"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| mvc [Fixed] | Plaintext Mvc aspnet-citrine-win | 12/21/2021 21:05:40 | 2,256,280 | 2,231,973 | -2.31 % (-52,106)  :thumbsdown:  | -2.52 σ | 20,695.68 | <details>    <summary>Changes</summary>     <table

[2021-12-23 08:05] simonsattinshell commented on #39139
Yes that is correct and exactly what i am doing and yes when i hit the stop button for the web app, no the StopAsync is not called and the web app process is just killed almost immediately.

[2021-12-23 08:22] Grizzlly commented on #39087
Yeah, I think I understand things more clearly now, thanks!

[2021-12-23 09:44] Liero commented on #38439
Hi @SteveSandersonMS:

I have investigated the issue a bit more and find out that `Range.getBoundingClientRect()` is a buggy API and inconsistent across browsers (Chrome gives invalid result, Firefox always return 0).

[code]

Is there any reason why you prefer `Range.getBoundingClientRect()`. instead of `HTMLElement.getBoundingClientRect()`?

Should I create PR that fixes this?

[2021-12-23 09:57] GeertvanHorrik commented on #38429
Looks like the issue has been solved with the latest SDK. Thanks!

[2021-12-23 09:57] #38429 closed

[2021-12-23 12:51] jirisykora83 opened #39167 "Blazor analyzer for non-existing property"
Currently if is pass attribute to component which do not have matching property it is throw exception in runtime. This is annoying because for example during refactoring parameter cannot be safely removed.

Similarly as with `EditorRequired` will be nice to have analyzer which detect this type of error during compile time.

[code]

[code]

[2021-12-23 13:32] julienGrd opened #39169 "[.NET 6.0] server serve static file without specify any charset in the Content-Type Response Header"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hello guys, in my blazor app i serve some static files and show them by embedding them a iframe (so the browser deal directly with the type of file, can be image, video, sound, pdf, etc)

I notice encoding problem on accentuated character on the txt and the html files when its shown in the if

[2021-12-23 14:44] anorm opened #39170 "Microsoft.AspNetCore.Http.Results.File() fails to determine the correct file size of symlinks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If a filename given to `Microsoft.AspNetCore.Http.Results.File()` is a symlink, the size retrieved for the `Content-Length` header is wrong.

### Expected Behavior

`Results.File()` should follow the symlink to the real file and determine the actual file size.

### Steps To Reproduce

Example

[2021-12-23 14:54] tcs-devel opened #39171 "SignalR HubConnection is logging an incorrect Timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When a SignalR HubConnection is terminated by the server due to `ClientTimeoutInterval` being elapsed, it generates an incorrect log entry because the configured timeout is interpreted as ticks instead of milliseconds.

Sample output for a timeout set to 90s:
[code]

The configured timeout is

[2021-12-23 15:25] mkb13 commented on #33312
How do you stop the site in Azure?  I am using Azure Static Web Apps and I am not sure how to access the files to delete them nor how to stop the site (which I guess wouldn't be stopped, technically, because it's static?).  I am publishing via github.  This problem is seriously annoying me -- I have had so many issues trying to get things to work in Blazor Web Assembly that don't seem to quite wor

[2021-12-23 15:27] Bilchenko opened #39172 "Back action behavior is different in Blazor Server (server-side) and Blazor WebAssembly (client-side)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi,

We use Blazor Server, so it is too inconvenient for users, that pages opened on top, when user click back.

Blazor Server:
Index page scroll down, go to Counter, Click Back, Index page opened with scroll position on top.
Blazor WebAssembly:
Index page scroll down, go to Counter, Click Ba

[2021-12-23 15:33] Michelh91 commented on #38413
Same problem here. Tried both on windows and on a clean install in ubuntu.

Debugging in browser is working but breakpoints are not being hit in VSCode. (Brand new blazorwasm project on net6)

[2021-12-23 16:00] #39153 closed

[2021-12-23 16:02] MichaelPeter opened #39173 "Blazor JSInterop Callback to .NET Method fails with dotnet.js: Cannot set properties of undefined in async javascript webgpu context"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Version: aspnetcore 6.0.1

Ok this might be a quite to experimental problem but maybe you can throw me a bone.

I want to test blazor with the experimental WebGPU in Edge Canary.

Now a weird problem occures after starting the engine I want to make callback to Blazor,
here I tried both return

[2021-12-23 16:57] mkgn commented on #39134
Since I have been hacking it away in a test application with middleware and claimtransformation, I wanted to give it a shot. Anyway I agree with your approach. The confusion I had was I assumed IClaimsTransform will persist the claim changes throughout. Well it does but only for the current request. So, if you want to persist the updated claim, I had to do both below;

                    await Si

[2021-12-23 16:57] #39134 closed

[2021-12-23 16:58] Raja-Ashutosh commented on #39106
@pranavkm , please try this repo : https://github.com/Raja-Ashutosh/Testing-Asp.netRoute.git

[2021-12-23 17:18] pranavkm commented on #39106
These need to use the page names (the same ones you use to set up the route conventions):

https://github.com/Raja-Ashutosh/Testing-Asp.netRoute/blob/master/Admin/Features/Shared/_Layout.cshtml#L14-L15

[code]

[2021-12-23 18:35] preservedmoose commented on #33312
@mkb13 go to App Services, select your application, Overview in the sidebar and you can stop and start the site there.
![image](https://user-images.githubusercontent.com/26547539/147279814-362cd682-2c30-4e64-8beb-5ae9864c16d7.png)

[2021-12-23 19:06] #39165 closed

[2021-12-23 20:22] dstretch commented on #33312
They're using Static Web Sites, so no App Service. As long as you've
overwritten the files it should be fine.

The bits you need to delete (obj & bin folders) are on your build
server/machine.

On Thu, 23 Dec 2021, 18:35 Stephen Cousins, ***@***.***>
wrote:

[2021-12-23 21:41] NinjaCross commented on #39095
Any news on this ?
The workaround I proposed seems to work, but many projects I'm handling are affected and my customers are concerned about it.

[2021-12-24 05:09] hkusulja commented on #38413
@mkArtakMSFT can you please update status on this?
Also, I do not see reason, why this is marked for .NET 7, since it should work with .NET 6, like it works with full Visual Studio, but it does not with Visual Studio Code.

[2021-12-24 05:15] Xyncgas opened #39174 "[Feature Request] :Tensor<T> support in blazor"
We have Vector2 / Vector3 / Vector<T>
It's nice to have Tensor<T> as building block too

[2021-12-24 05:23] singh733 commented on #35553
Hi @pranavkm , @Tratcher

I am working on https://github.com/dotnet/aspnetcore/issues/35553.

When i try to inject HtmlHelperOptions in LinkTagHelper then i got the below error.

![image](https://user-images.githubusercontent.com/83835739/147319695-d20a7733-a9f7-4f5b-b83c-1f4abb5a5020.png)

I fix it by adding the below code in the MvcRazorMvcCoreBuilderExtensions. Please let me know if this Approa

[2021-12-24 06:57] Michelh91 commented on #38413
I managed to get it working on my setup yesterday.

I had .net6 installed along with visual studio community 2022, removed visual studio 2022 and installed the full net 6 sdk from microsoft download site and debug started working in VS Code.

I dont understand why because a .net5 project was hitting debug symbols fine and it was installed also along with vs 2022.

Hope this helps someone

PS. Alth

[2021-12-24 07:05] pr-benchmarks[bot] opened #39175 "Perf improvement: plaintext"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext  | Plaintext Platform Inline aspnet-citrine-lin | 12/22/2021 21:03:22 | 12,409,920 | 12,558,785 | 1.69 % (209,373)  :thumbsup:  | 4.37 σ | 47,913.68 | <details>    <summary>Changes</summary>

[2021-12-24 07:44] hkusulja commented on #38413
Hi, I do not have any Visual studio installed, only latest VS Code and only .NET 6 SDK, and still not working.
Can you please provide your simple new project with dotnet new blazorwasm and configuration files (launch.json etc.) for debugging in Microsoft Edge using VS Code ?