[2019-04-13 19:24] Tratcher commented on #9141
@aspnet/build have we seen this elsewhere?

[2019-04-13 20:56] davidfowl commented on #9344
Reduce the interval to make sure it works? Try to narrow down the issue so that we can figure out what the root cause is. It sounds like there’s a lot of variables at play here.

[2019-04-13 21:26] anurse commented on #9317
That would incorrect when you're in a project scenario. The DLL is in `/myproject/bin/Debug/netcoreapp2.2/myproject.dll` but your content is in `/myproject/wwwroot`

[2019-04-13 21:51] vigotecnologia opened #9355 ""https" situation over Apache/Ngynx in proxy reverse configuration"
Situation:

- The kestrel server is running in localhost over simple "http". (http://127.0.0.1:5000)

- Apache/Ngynx is configured using proxy-reverse to provide an endpoint secure to the end-user, example: https://app.domain.com -> proxy-reverse to -> http://127.0.0.1:5000

Well, lets take a look in "Unauthorized controllers".

When we put the decoration [Authorize] in some controller and try to

[2019-04-13 22:21] Andrzej-W commented on #7655
I think that we should always use invariant culture in double/float/decimal binding. It should be documented that this will work correctly **only** with `input type="number"`. Here is a small example to demonstrate comma/dot decimal separators in action.
[code]
In Firefox it works as expected: first input field displays numbers with coma decimal separator and second input field displays dot. Polis

[2019-04-13 22:40] danroth27 commented on #6356
Hopefully some time next week.

[2019-04-13 22:42] shapeh commented on #9139
@anurse - I am running in-proc with my above comment.

[2019-04-13 22:48] dougbu commented on #9141
I haven't seen this before. My suspicion is the preview4 Zip files aren't available in a public feed yet. None of our preview4 builds have been coherent.

[2019-04-13 22:55] natemcmaster commented on #9141
This failure from dotnet-install.ps1 is misleading. The link the error shows is the _fallback_ download schema from the days of .NET Core 1.x.

[code]

The first link is the right one, https://dotnetcli.azureedge.net/dotnet/Sdk/3.0.100-preview4-010940/dotnet-sdk-3.0.100-preview4-010940-win-x64.zip, and it appears to be working for me. @Menighin this link uses a CDN from Azure, so while it might wo

[2019-04-13 22:56] prince272 opened #9357 "Simple Way To Handle Minfication At Development Mode or Not"
This code will determine whether to add a .min at development mode or remove it if not.

     public static class HtmlExtensions
    {
        public static IHtmlContent Minify(this IHtmlHelper html, string filename)
        {
            var hostingEnvironment = html.ViewContext.HttpContext.RequestServices.GetRequiredService<IHostingEnvironment>();

            filename = Minify(filename, !hostin

[2019-04-14 01:49] Menighin commented on #9141
@natemcmaster yes, the first link """works""" for me as well. I can start the download but it goes really slow and fails after some time... I'm in Brazil. At work I have some vpn's and, I think, better connection... Will be trying to clone it on monday from work...

[2019-04-14 02:14] dougbu opened #9358 "Shorten paths of Microsoft.AspNetCore.Razor.Language.Test files"
## Bug
The paths of files in the ComponentDesignTimeCodeGenerationTest project are long enough to break dotnet-maestro-bot and prevent automatic PRs to merge 'release/*' branches into 'master'.

### To Reproduce
Steps to reproduce the behavior:
1. Merge a change into (say) 'release/3.0-preview4'
2. Watch build jobs for the bot at https://dev.azure.com/dnceng/internal/_build?definitionId=350&_a=sum

[2019-04-14 04:10] tn-5 opened #9360 ""embedded file manifest" exception when starting blazor project on macOS"
Using latest preview 5 nightly on macOS, create a new project:

"dotnet new blazor"

Run it with "dotnet run"

It gives an exception on startup:

System.InvalidOperationException: Could not load the embedded file manifest 'Microsoft.Extensions.FileProviders.Embedded.Manifest.xml' for assembly 'Microsoft.AspNetCore.Components.Server'.

[2019-04-14 07:50] davidfowl commented on #5927
@SergeyKanzhelev after looking at things I agree we should have a plan for this (hopefully as part of 3.0 even if execution happens in 3.1). Right now with activities and w3c, there's no good place to store the trace identifier (I'm not even sure if the format will align in all cases, but maybe we can make it).

[2019-04-14 08:35] davidfowl commented on #5914
With the way we have things planned currently:
- TraceIdentifier is always created by the server, it's settable but it's pretty hard to plug in early enough to affect the logging scope (which I assume is the goal). It will continue to be added to the request log scope as "RequestId".
- When the [Activity](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.activity?view=netcore-2.2) is

[2019-04-14 08:59] freever opened #9362 "SignalR - ObjectDisposedException in MobileAuthenticatedStream"
I have a Xamarin app that uses SignalR for all communication between client and server. When the app is sent into the background I call `StopAsync()` on all the HubConnections. When the app is foregrounded I call `StartAsync()`.

This works, however I am picking up a lot of unobserved task exceptions in Android TaskSchedulerOnUnobservedTaskException and iOS HandleUnobservedTaskException:

Cannot a

[2019-04-14 09:49] aboimpinto opened #9363 "[Blazor] create my own component base class"
Hello team,

I'm glad that we can create SPA with only C#, this will level the WebDevelopment field. I use to be a Silverlight / WPF developer and Iove the MVVM pattern because of the separation of the UI code and the UI representation and testability.
Here is my experience of the MVVM patter in Blazor
https://github.com/aboimpinto/BlazorMVVM

I already made the forecast page full MVVM like I want

[2019-04-14 10:14] roboriaan opened #9364 "[RazorComponents] Attribute 'Parameter' is not valid on this declaration type."
Hi,

I'm getting the following build error after upgrading VS2019 to 16.1.0 Preview 1.0 by following the recommendation bell icon (bottom right) :

### error CS0592: Attribute 'Parameter' is not valid on this declaration type. It is only valid on 'property, indexer' declarations

I've noticed that the Razor components template option is also missing from the create new project dialog. So to reprod

[2019-04-14 11:07] stavroskasidis opened #9365 "[Blazor] Scoped service multiple initializations in client side blazor"
### Describe the bug
Consider the following scenario in a blazor client-side app:

[code]

MyComponent.cshtml
[code]

ComponentThatUsesScopedService.cshtml
[code]

### Expected behavior
According to [documentation](https://docs.microsoft.com/en-us/aspnet/core/blazor/dependency-injection?view=aspnetcore-3.0)

[code]
The `ScopedService` class should behave like a singleton and be created only once.

[2019-04-14 11:31] damianh commented on #8951
This is precisely the reason I created this - was trying SignalR testing with ProxyKit via TestServer...

[2019-04-14 11:34] Garderoben opened #9366 "VS Community 16.1.0 Preview 1 - Blazor intellisense errors"
### Describe the bug
VS Community Preview 16.1.0 intellisense is not recognizing Blazor components or "@injects, @inherits, @body etc"
Application builds and runs as normal.

### To Reproduce
Steps to reproduce the behavior:
1. Install/Use VS Community 16.1.0 Preview 1
2. Use any Blazor Template from` dotnet new -i Microsoft.AspNetCore.Blazor.Templates::0.9.0-preview3-19154-02`
3. Create a new pro

[2019-04-14 13:53] NinoFloris commented on #5897
Will this actually be revisited for 3.0?

[2019-04-14 13:54] henkmollema commented on #9343
Possible a duplicate of #9320.

[2019-04-14 13:54] henkmollema commented on #9366
Possibly a duplicate of #9320.

[2019-04-14 14:02] henkmollema commented on #9320
I'm having the same issue with SDK `v3.0.100-preview3-010431` and VS 16.1 Preview 1. I can reproduce it by creating a new Razor Components project with `dotnet new razorcomponents` and opening it in Visual Studio. I receive errors such as:

[code]

Also the HTML tags don't get their correct colorization:

![image](https://user-images.githubusercontent.com/1521207/56093909-88a06e00-5ece-11e9-8424-6

[2019-04-14 14:20] martincostello commented on #9205
Once this is _"patched enough"_, would you be able to share some details as to what specific scenario caused this crash to manifest in applications?

We stumbled across it in December after deploying 2.2.0 (see #4789), so I'd be interested to map the scenario back to our application and why were so affected.

[2019-04-14 14:39] NinoFloris commented on #3514
Using https://redis.io/topics/transactions would work. Otherwise storing the keyring as separate redid keys (instead of list as it is right now) would allow you to use https://redis.io/commands/getset

[2019-04-14 14:42] NinoFloris commented on #2702
So this is not going to happen I presume? It's a shame though, super useful outside of HTTP as part of other host models and abstractions

[2019-04-14 15:01] lonix1 opened #9369 "ASP.NET Core + Angular template doesn't support monorepo projects"
### Describe the bug
The ASP.NET Core (2.2) + Angular template doesn't work in a monorepo setup.

The template puts everything in the root:

[code]

A monorepo has more structure because there are multiple library and client (angular) projects:

[code]

### To Reproduce
1. `dotnet new angular`
2. Move directories to suit the structure above
3. Edit paths in `Startup.cs` to match the new structure

[2019-04-14 16:03] dyl10s commented on #9343
There are no errors like in #9320

[2019-04-14 16:04] dyl10s commented on #9364
I also have this issue however the project builds and runs fine.

[2019-04-14 16:14] davidfowl commented on #7975
I found the first use of trying to preserve an async local across the client server boundary (https://github.com/aspnet/AspNetCore/blob/f5ff181222d6f20f07e6b3d707dc24cb95966cc2/src/Mvc/test/Mvc.FunctionalTests/JsonOutputFormatterTestBase.cs#L160-L173). MVC is currently doing it to verify the Activity gets written to the response (I know because just broke all of these tests with a PR 😄)

[2019-04-14 16:26] CBaud commented on #5810
True, but that is an implementation detail. As a class that implements IDisposable, the intended contract is for the object to get disposed when it is no longer needed. Ignoring that abstraction creates tighter coupling. Enforcing the contract makes this class more resilient against changes to the design of MemoryStream. But that's just my 2 cents.

[2019-04-14 16:30] roboriaan commented on #9364
Yeah quite strange. Things like OnInitAsync shows no suitable method found for override and there's no reference to RenderFragment. After doing a restart it builds and runs but still shows up as an error. Eh maybe just a tooling issue?

Just as a test I followed the installation procedure on blazor.net again and got VS 2019 without the preview label (16.0.1). Was very excited but then noticed that

[2019-04-14 20:23] Andrzej-W commented on #9363
You can create something like this:
[code]
Now you an create a view (Blazor page).
[code]

[2019-04-14 21:10] poke commented on #9275
In my example, the configuration is _added_ to the configuration set from the application. The default application configuration sources (`appsettings.json`, `appsettings.<Environment>.json`, environment variables, user secrets) are kept and the additional integration configuration is added after that. So you can use it to overwrite existing values.

The `ConfigurationBuilder` in my example is act

[2019-04-14 21:51] Suchiman opened #9371 "InProcess hosting does not support auto rebuild"
### Describe the bug
If you use `InProcess` hosting in Visual Studio, then starting without debugging does no longer auto rebuild when you make a change, save and refresh in the browser. Since `InProcess` hosting is the default with 2.2, this feature doesn't work anymore by default since 2.2.

### To Reproduce
Steps to reproduce the behavior:
1. Create an ASP.NET Core 2.2 API App
2. Start without

[2019-04-14 21:56] proxseas commented on #9371
This is pretty important, for convenience purposes. I was affected by this because 'InProcess' was the default setting in 2.2.

[2019-04-14 23:14] anurse commented on #7975
Lol :). Well I think we'd still provide an option to "enable" flowing the local. It would just restrict your ability to use "nested" calls back through the test server.

[2019-04-15 00:50] irwiss commented on #9355
i'd check if you correctly configured your reverse proxy headers and using UseForwardedHeaders with your proxy whitelisted in it's options

[2019-04-15 04:03] PureKrome commented on #9275
Thanks again @poke for the helpful reply. Just one further questions relating to this. If, for example, you have a specific DB connection string in your `integrationsettings.json` file .. which then overwrites the existing setting loaded from the SUT  ... how would you use that setting in the actual TEST method?

for example:

[code]

is there some way to access the `IConfigurationRoot` in your te

[2019-04-15 06:07] poke commented on #9275
The usual way would be using the `WebApplicationFactory` for integration tests; so something like this:

[code]

So since you are using the `TestApplicationFactory`, this will launch your web application for this test, using that `integrationsettings.json` we configured, and provide a `HttpClient` for you to use to send requests to your web application. So you won’t have to actually access your da

[2019-04-15 06:32] PureKrome commented on #9275
Yep - this is the example I was trying to explain (but did a poor job of it).

In my case, we're not using something like `EF` (i'm assuming this might be EF or Cosmos or whatever). We use Dapper to do all our DB stuff. So instead of passing around a `DBContext` we pass around a ConnectionString (well, technically we pass around a DatabaseSettings POCO which contains this. So if some class does DB

[2019-04-15 07:13] lonix1 commented on #9369
I got it working like this:

1. changed to monorepo structure as shown in my question above

2. edited `Server.csproj` (paths are relative to server app's directory):

[code]

3. edited `Startup.cs` (paths are relative to workspace's directory):

[code]

and

[code]

This is not explained anywhere, and would be a good idea to have as documentation or a sample repo - most devs who work on client an

[2019-04-15 07:22] AndersMalmgren commented on #9237
I updated the repro with the offical service fabric asp core configuration package `Microsoft.ServiceFabric.AspNetCore.Configuration`. But no difference. Not so strange because all it does it spitting out a IConfiguration

[2019-04-15 09:35] lonix1 opened #9373 "[Feature] Support for pnpm"
### Is your feature request related to a problem? Please describe.
No

### Describe the solution you'd like
The "SPA services" use `npm`. It would be nice to have the option to use  [`pnpm`](https://github.com/pnpm/pnpm) instead.

### Additional context
pnpm is **CLI-compatible** with npm, so everything works without any change. And it would be optional for those who want it, the rest could carry

[2019-04-15 09:57] enetstudio opened #9374 "Blazor forms validation system..."
Could you please point out the location of the code that prevents the form posting back to the server when the user taps the submit button. I guess that somewhere in the pipeline there is code (perhaps in JS) that should prevent the default behavior.

Thank you for your kindness..

[2019-04-15 10:08] poke commented on #9275
Then you can just inject the connection string POCO there. You have the full DI container, so do whatever you need to do ;)

This is an integration test on a separate database which will be created only for the test execution and dropped completely afterwards. So I don’t really care about left over stuff, as long as it does not conflict with other tests. And I try to design my tests in a way that

[2019-04-15 10:52] SteveSandersonMS commented on #8316
The only reason we explicitly have the `RestoreAdditionalProjectSources` is so people can use the dev feed to get the latest template VSIX continuously.

We can remove it any time we want, but it will make things harder for people trying to use the dev feed.

The ideal would be to remove it conditionally based on whether we're building a "dev" build or a "release" build. Maybe it's possible to do

[2019-04-15 10:58] SteveSandersonMS commented on #9225
@danroth27 I don't think anything nonstandard is (or should be) required here. The server project is just a regular ASP.NET Core app.

[2019-04-15 11:01] SteveSandersonMS commented on #9125
Thanks for reporting it. Since this doesn't happen in default cases, we'll need some minimal repro code to understand what's different in your scenario.

[2019-04-15 11:05] javiercn commented on #8316
@SteveSandersonMS What is the value of pointing to the dev feed these days? Is that something people do this days? Or do they rely on the monthly build?

I understand it on the beginning of the project, but now we get pretty stable builds. The only thing I can think of is getting updated mono bits.

[2019-04-15 11:38] SteveSandersonMS commented on #5675
We already do. The problem is that you're trying to pass the value to a child before the rendering has even finished.

Overall I would recommend you adjust your design so that the thing you cascade isn't another component instance, but rather is an instance of some other (non-component) class of your own.

The `ref` feature is only a way for a component to get a reference to one of its own childre

[2019-04-15 11:38] #5675 closed

[2019-04-15 11:40] SteveSandersonMS commented on #9164
To clarify, this is something you can certainly do on your own, in the sense that you have access to JS interop and can therefore call any third-party API that you want.

We are just not planning any built-in features that are specific to SkiaSharp.

[2019-04-15 11:57] SteveSandersonMS commented on #9138
I'd strongly prefer that the real underlying bug is fixed (in WTE) rather than us layering on a hack that diminishes the developer experience.

[2019-04-15 11:57] campersau commented on #9374
Here it is:

https://github.com/aspnet/AspNetCore/blob/3988f3b0bab04fb6f3e3bdd7067550f18b11cdca/src/Components/Browser.JS/src/Rendering/BrowserRenderer.ts#L379-L381

https://github.com/aspnet/AspNetCore/blob/3988f3b0bab04fb6f3e3bdd7067550f18b11cdca/src/Components/Browser.JS/src/Rendering/BrowserRenderer.ts#L9

[2019-04-15 11:58] cremor opened #9375 "DefaultApiConventions are missing Status400BadRequest responses for GET requests"
### Describe the bug
The [DefaultApiConventions](https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/DefaultApiConventions.cs) should define a `Status400BadRequest` response for `Get` and `Find` methods.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2'
2. Create a Web API project
3. Apply the `[ApiConventionType(typeof(DefaultApiConve

[2019-04-15 12:03] SteveSandersonMS commented on #9128
In terms of the order of execution, it's problematic to do this by declaring this data inside your components. They don't start executing until the part of your page above them has already been output, which presumably is too late based on what you're trying to do (add extra tags to `<head>`?).

I would recommend you create your own separate way of establishing what the correct metadata is for eac

[2019-04-15 12:03] #9128 closed

[2019-04-15 12:07] SteveSandersonMS commented on #8316
I don't have any numbers on it. But the value for us, historically, has been that often we've had bug reports about the next version even before it's been released, so we've been able to pre-emptively fix regressions.

[2019-04-15 12:12] javiercn commented on #9138
Agree with @SteveSandersonMS

Its very likely that static content from libraries will also suffer from this, so I think we will have to collaborate on a solution.

[2019-04-15 12:25] SteveSandersonMS commented on #5472
Moved to preview 5 backlog not because I think we really have time to do it then, but to force us to re-triage this to an actual preview release.

[2019-04-15 12:44] YordanYanakiev commented on #9164
Oww. Thank You for the clarification. For a second I was thinking that You are abandoning the client side of this project, which well.. would make the whole super-awesome project just meaningless.
Waiting impassionately for the client side implementation ! :)

[2019-04-15 12:46] vigotecnologia commented on #9355
I did this, the proxy-reverse in apache is correctly configured and also the useforwardheaders in app startup.

The question isn´t the proxy-reverse, like I said before, the ASPNET Core is using http in your own redirects even with https in the endpoint user.

[2019-04-15 12:57] SteveSandersonMS commented on #5656
@enetstudio is correct. The diffing system has no way to know that it should write an update to the DOM, because as far as it knows, the value you're rendering is the same as was last written to the DOM already.

To achieve the behavior you want, I'd recommend separating your "binding" from your "value transformation". If you use `bind-value-oninput`, then Blazor will get a notification on each ke

[2019-04-15 12:57] #5656 closed

[2019-04-15 13:17] viktorpeacock opened #9378 "Expose tags in HealthReport"
### Is your feature request related to a problem? Please describe.
New health checks feature supports custom tag creation when defining the health checks. We can then specify a custom ResponseWriter instance for writing out a HealthReport. The problem is that the HealthReport and its entities do not contain tags.

### Describe the solution you'd like
When defining a custom ResponseWriter instance,

[2019-04-15 13:27] SteveSandersonMS commented on #6169
I tracked this down. The issue is not to do with encoding. It's purely to do with how the JS-side code applies the attribute.

For normal DOM elements, you can always use `setAttribute` to assign the attribute value. But attributes on SVG elements are special, in that they can have a namespace too, such as with `xlink:href`. For this example to work, we would need to be assigning the attribute via

[2019-04-15 13:41] endeffects commented on #7438
I have the same problem. Any solution?

[2019-04-15 13:59] springy76 commented on #5548
Since src/Components/Components/src/Routing/RouteTable.cs has not been modified since mid of January this problem will always happen randomly after adding new routes or changing existing routes.

The problem is that generic `Comparer<T>` cannot do `if (x==y) return 0` internally because `T` is neither `struct` nor `class`. `RouteTable.RouteComparison` has to do this itself.

This problem is so ran

[2019-04-15 14:01] siberianguy commented on #6434
Has this fix been released in any stable build?

[2019-04-15 14:10] guyng commented on #8763
Any news yet? I really hope this issue will be sorted out in one of the next preview's.
If you weren't able to reproduce this perf issue, i can upload & link a sample demonstration project.
I'm an early adopter type of person so my goal is to use asp.net core 3 on my live app right when it's out but only if these issues will be sorted out beforehand.

[2019-04-15 14:47] anurse commented on #6434
No, not yet. This will be first become available in 3.0.0-preview4 and will be stable with the 3.0 release (expected [by the end of this year](https://github.com/dotnet/core/blob/c95454e01b81c26f249386aa740f8279a67ddae4/roadmap.md)).

[2019-04-15 14:52] stevenjamesfrank commented on #6111
In the spirit of contributing to the knowledge base when this pops up, here is my experience.

My project is ASP.NET Core 2.2, upgraded with each release.

I had a syntax error in a Javascript (JQuery) file trigger this error.  The error caused a problem with minification but didn't prevent IIS and my App from starting (at least to the point of getting this error).

I fixed the Javascript bug and

[2019-04-15 14:57] danroth27 commented on #8316
Please also note that the dev feeds we include I believe are no longer the correct ones: https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md

[2019-04-15 15:00] danroth27 commented on #9225
@SteveSandersonMS Using the generic host builder isn't nonstandard. All of the ASP.NET Core projects now use the generic host builder in 3.0.

[2019-04-15 15:04] vanillajonathan opened #9379 "Move OnActionExecuting to ControllerBase"
### Is your feature request related to a problem? Please describe.
I am building an API so naturally I would like to derive my controller from the `ControllerBase` class.

In all of my my actions I would like to read claims from the `User`. To avoid code duplication in every action method I would like to read the claims once and store it in a field that I can refer to from my actions.

[code]

But

[2019-04-15 15:04] Tratcher commented on #8763
Yes, please share your two apps, (before and after). Our initial measures didn't show any difference.

[2019-04-15 15:08] eiva commented on #9344
Not sure that it is a proper way to doing this but it works and pretty simple:
[code]
Hope it will be helpful.

[2019-04-15 15:17] rynowak commented on #9379
You can implement `IActionFilter` on your classes and then implement that method. There's nothing special about the `OnActionExecuting` method on `Controller` - it's just an implementation of `IActionFilter`.

These methods are present on `Controller` for historical/compat reasons and come with some overhead whether you use them or not. We chose to make them truly opt-in on `ControllerBase` since

[2019-04-15 15:17] #9379 closed

[2019-04-15 15:34] rosskyl opened #9381 "URL Parameters override model values"
### Describe the bug
If your controller action has a parameter with the same name as your model's property, the parameter value overrides the model's property's value in an input.

### To Reproduce
With a base asp.net core MVC project, I modified/added the following:

ViewModel:
[code]
Controller Action:
[code]
View:
[code]
If you request http://localhost:10038/Home/About?question=1234, the input

[2019-04-15 15:37] enetstudio commented on #9374
Thank you so much, @campersau !

[2019-04-15 15:38] SteveSandersonMS commented on #9225
That's precisely what I mean. I'm agreeing that we can and should do this change.

[2019-04-15 15:40] rynowak commented on #9378
@viktorpeacock - willing to send a PR for this? The code change would go here: https://github.com/aspnet/Extensions/blob/master/src/HealthChecks/HealthChecks/src/DefaultHealthCheckService.cs#L109

[2019-04-15 15:43] jkotalik commented on #9371
Yep, this is a known regression. A fix for this should be in VS 16.1. If you are using preview builds, this should be available in 16.1-preview2.

[2019-04-15 15:44] danroth27 commented on #9225
Ah, cool :smiley

[2019-04-15 15:48] OpenSpacesAndPlaces commented on #9185
I'm going to go ahead and close this thread.
I think my original question has been sufficiently answered.
Thanks for wading through this.

[2019-04-15 15:48] #9185 closed

[2019-04-15 16:00] SteveSandersonMS commented on #6385
I've done some investigation, and now would like to discuss and re-triage. cc @mkArtakMSFT

Although I've been unable to reproduce the `IndexOutOfRangeException` personally, I think I've found two bugs that are behind this problem.

### 1. Use of `ContinueWith` in `Renderer.cs`

We still have a use of `ContinueWith` here: https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/s

[2019-04-15 16:15] Andrzej-W commented on #9128
Thank you Steve for your suggestion. It is a little inconvenient to separate this logic from pages (especially when we think about performance and additional DB queries) but on the other hand it is good to set title, description and meta elements in one place. Now I have to wait for this: https://github.com/aspnet/AspNetCore.Docs/issues/11366

[2019-04-15 16:19] mkArtakMSFT commented on #5652
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-04-15 16:19] #5652 closed

[2019-04-15 16:19] natemcmaster commented on #9358
Duplicate of https://github.com/aspnet/AspNetCore/issues/7882?

[2019-04-15 16:20] mkArtakMSFT commented on #5649
Closing this as this is definitely working now. Please check out a recent release and if you would experience the same issue feel free to file a new issue.

[2019-04-15 16:20] #5649 closed

[2019-04-15 16:21] mkArtakMSFT commented on #5648
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-04-15 16:21] #5648 closed

[2019-04-15 16:22] #5645 closed

[2019-04-15 16:23] mkArtakMSFT commented on #5644
You should now be able to use Json.Net to accomplish this scenario.

[2019-04-15 16:23] #5644 closed

[2019-04-15 16:23] dagood commented on #9358
Ha, yes.

[2019-04-15 16:25] mkArtakMSFT commented on #5643
@Chinokaiser please see @michaelvolz's response:

We're closing this issue as the original question has been answered.

[2019-04-15 16:25] #5643 closed

[2019-04-15 16:26] mkArtakMSFT commented on #5642
Thanks for contacting us, @DaRosenberg.
This is something external to us and if you still face this issue consider filing a new issue in the https://github.com/mono/mono repo.

[2019-04-15 16:26] #5642 closed

[2019-04-15 16:28] mkArtakMSFT commented on #5641
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-04-15 16:28] #5641 closed

[2019-04-15 16:30] mkArtakMSFT commented on #5638
Closing this as a dupe of https://github.com/aspnet/AspNetCore/issues/7962

[2019-04-15 16:30] #5638 closed

[2019-04-15 16:31] mkArtakMSFT commented on #5637
@ajaybhargavb can you please look into this? Thanks!

[2019-04-15 16:38] Malik-G opened #9383 "Dynamically adding the "runat" attribute to DropDownList inside a GridView"
### Is your feature request related to a problem? Please describe.
I am trying to dynamically add the "runat" attribute to a series of DropDownLists that are being dynamically rendered inside of a GridView, with each DropDownList being its own column. This needs to be dynamic because the user's settings effect the number of columns.

The GridView "ID" is gv1...
I tried gv1.runat = "server"...
and

[2019-04-15 16:41] enetstudio opened #9384 "Blazor forms validation system: Help needed regarding EditContex.FieldClass method"
I'm trying to understand the code in https://github.com/aspnet/AspNetCore/blob/7a1a53d76d62783ae33f116309c5d3745f00dd94/src/Components/test/testassets/BasicTestApp/FormsTest/NotifyPropertyChangedValidationComponent.razor, which is quit clear to me:
 <input bind="@person.UserName" class="@editContext.FieldClass(() => person.UserName)" />

The object editContext is instantiated and used in various p

[2019-04-15 16:48] blowdart commented on #9383
This repo is for asp.net core. As you've said you're using .NET Framework 4 and GridView you aren't using core.

Usage questions for .NET Framework are fit better on StackOverflow, please post your question there.

[2019-04-15 16:48] #9383 closed

[2019-04-15 16:49] natemcmaster commented on #8229
@schmitch acknowledging we've seen your issue. I will discuss more with @blowdart and get back to you on how we will proceed. Tentatively putting in the 3.0 milestone so this gets tracked and reviewed in the next few weeks.

[2019-04-15 16:51] blowdart commented on #9355
Did you check in incoming headers inside the app? If apache is configured correctly to forward the x-forwarded-proto header and the headers middleware then links generated should come out as HTTPS rather than HTTP.

[2019-04-15 16:52] natemcmaster commented on #3975
We're seeing issues related to this pop up and are going to investigate possible solutions. I've assigned myself and put it in a 3.0 milestone so this is tracked and reviewed in the coming weeks.

[2019-04-15 17:01] natemcmaster commented on #9350
Hi @Sebazzz, I'm working on improvements to this repo and Microsoft.AspNetCore.App to make it easier for you to build and debug locally. Unfortunately, I think the 2.2 code is a bit of a mess. If you've managed to get things building so far, that's great, but you'll likely need to do a bit more to get a debug-able shared framework.

Some questions:
* which branch/tag/commit are you building? The s

[2019-04-15 17:08] mkArtakMSFT commented on #9325
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-04-15 17:08] #9325 closed

[2019-04-15 17:16] vpaulino commented on #4498
What is the best way to share ideias regarding the design ? If I have some UML diagrams i could share it here ? some documents supporting the ideias ?

[2019-04-15 17:19] shirhatti commented on #4776
@avenema Yes. We've filed https://github.com/aspnet/AspNetCore/issues/9349 to track this work.

Closing this discussion issue in favor of the new issue

[2019-04-15 17:19] #4776 closed

[2019-04-15 17:24] mkArtakMSFT commented on #9320
Thanks for contacting us folks.
We believe this is now fix in our nightly releases and will be released as part of the next preview release.

[2019-04-15 17:24] #9320 closed

[2019-04-15 17:26] mkArtakMSFT commented on #9275
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-04-15 17:26] #9275 closed

[2019-04-15 17:27] mkArtakMSFT commented on #9236
Thanks for contacting us, @Edward-Zhou.
Here is the .Net Core alternative https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.viewfeatures.htmlhelperoptions.clientvalidationenabled?view=aspnetcore-2.2#Microsoft_AspNetCore_Mvc_ViewFeatures_HtmlHelperOptions_ClientValidationEnabled

[2019-04-15 17:27] #9236 closed

[2019-04-15 17:28] mkArtakMSFT commented on #9235
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-04-15 17:28] #9235 closed

[2019-04-15 17:31] natemcmaster commented on #9358
Closing in favor of https://github.com/aspnet/AspNetCore/issues/7882.

[2019-04-15 17:31] #9358 closed

[2019-04-15 17:31] mkArtakMSFT commented on #9233
Thanks for contacting us, @vincentparrett.
We set the 50001 as the default port for GRPC  template only.
@shirhatti FYI

[2019-04-15 17:33] mkArtakMSFT commented on #9218
@javiercn can you please look into this?
@satano this may be just a matter of overriding the content root for things which aren't in the expected location.

[2019-04-15 17:34] vigotecnologia commented on #9355
This is the apache virtual-host configuration:

<VirtualHost *:443>
    ServerName app.domain.com

    ProxyPreserveHost On
    ProxyPass / http://127.0.0.1:5000/
    ProxyPassReverse / http://127.0.0.1:5000/

    DocumentRoot "/home/a_sites/app"
    ErrorLog /var/log/httpd/app_error.log
    CustomLog /var/log/httpd/app_access.log common

    SSLCertificateFile /certificate/fullchain.pem
    SSLCe

[2019-04-15 17:35] mkArtakMSFT commented on #9218
This thread will help: https://github.com/aspnet/AspNetCore/issues/9275

[2019-04-15 17:35] #9218 closed

[2019-04-15 17:37] mkArtakMSFT commented on #9109
@ryanbrandenburg can you please check whether we broke something recently or not?

[2019-04-15 17:38] mkArtakMSFT commented on #9109
If not, then this is not something we'll do in the near future as we have much more important areas for now.

[2019-04-15 17:41] vigotecnologia commented on #9355
And this in the Configure method:

[app.UseForwardedHeaders(new ForwardedHeadersOptions() { ForwardedHeaders = ForwardedHeaders.XForwardedFor | ForwardedHeaders.XForwardedProto });](url)

[2019-04-15 17:43] mkArtakMSFT commented on #8137
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-04-15 17:46] dougbu commented on #9358
72b939d85573

[2019-04-15 17:47] dougbu commented on #7882
72b939d85573

[2019-04-15 17:47] #7882 closed

[2019-04-15 17:48] mkArtakMSFT commented on #7811
@blowdart should we really do this?

[2019-04-15 17:52] mkArtakMSFT commented on #7606
Closing per @pranavkm's response.

[2019-04-15 17:52] #7606 closed

[2019-04-15 17:53] blowdart commented on #7811
I have no context or, more likely, can't remember why, it was disabled in the first place.

[2019-04-15 17:55] mkArtakMSFT commented on #7573
Thanks for contacting us, @bradlis7.
This is not something we plan to do in the near future.

[2019-04-15 17:55] #7573 closed

[2019-04-15 17:59] mkArtakMSFT commented on #7572
Thanks for contacting us, @bgribaudo.
After some review on this issue we believe this is not something we can provide out of the box, based on the existing ResourceManager based implementation.
Your suggestions look good and you can implement your custom IStringLocalizer to solve this issue.

[2019-04-15 17:59] #7572 closed

[2019-04-15 18:00] yogiraj07 commented on #2718
Hi @anurse , @Tratcher ,
Can you please provide any update to my previous post. I would like to take necessary steps on our side to mitigate this issue.

Thanks,
Yogi

[2019-04-15 18:00] Tratcher commented on #9355
See this troubleshooting guide:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.2

[2019-04-15 18:01] mkArtakMSFT commented on #7567
Thanks for contacting us, @yuessir.
We load these generated View assemblies at runtime.

[2019-04-15 18:01] #7567 closed

[2019-04-15 18:01] brockallen commented on #7811
Make sure you test in edge and/or IE.

[2019-04-15 18:01] Tratcher commented on #9355
What's your Asp.Net Core version? We've fixed several bugs here across various releases.

[2019-04-15 18:03] shirhatti commented on #9233
@JunTaoLuo FYI

[2019-04-15 18:11] yanrez commented on #7081
Is there another issue tracking this problem? I want to make sure it is still tracked

[2019-04-15 18:12] daltonks commented on #8947
Hello @ishara119 , does this help you?
https://docs.microsoft.com/en-us/aspnet/core/signalr/hubcontext?view=aspnetcore-2.2

The idea is to inject an `IHubContext<HUB_TYPE>` into your services.

[2019-04-15 18:12] vigotecnologia commented on #9355
[code]

[2019-04-15 18:16] davidfowl commented on #7081
@yanrez https://github.com/dotnet/corefx/issues/35086

[2019-04-15 18:19] nosyminotaur commented on #8947
@daltonks, I think @ishara119 wants to listen to changes in the database instead of the hub.

[2019-04-15 18:22] markwilkie commented on #9297
@mjanecke - putting this on your radar

cc/ @alexperovich and @chrisboh

[2019-04-15 18:22] Tratcher commented on #9355
And the troubleshooting output from the proxy doc?

[2019-04-15 18:23] markwilkie commented on #9299
Interesting idea.  Thoughts @mmitche ?

[2019-04-15 18:26] ghidello commented on #5462
Hi!
I have been happily hosting my blazor apps on github pages with a custom domain. A few days ago I tried a default Blazor Hosted application on Azure Websites and my Avast antivirus was blocking my specific application dll (not the ones from the framework) saying that it didn't have enough positive feedback on that dll. The funny thing is that Avast complains about the ddl if I load the site fr

[2019-04-15 18:30] mkArtakMSFT commented on #8316
The decision here is to make a hack and in the Build pipeline use the branch as the indicator for using the right feed.

[2019-04-15 18:32] mjanecke commented on #9297
Hi folks,
I noticed that it was mentioned that we have a couple of items in our backlog that would help meet yours needs. Is there any other functionality that you're looking for us to include in BARViz? Should we set up a meeting to chat?
Thanks!

[2019-04-15 18:37] mkArtakMSFT opened #9386 "Enhancements to @bind - globalization and conversions"
**Edit: @rynowak hijacking the top post for great justice**

# Summary

`@bind` when used with `<input ...>` elements is the primary way that users parse and convert user input into .NET types.  This makes `@bind` the primary touch point for globalization - dealing with input and display of information in a locale specific way.

Goals:
- Support users using any locale in client-side/server-side Bl

[2019-04-15 18:38] ghidello commented on #5477
On the topic of the dll extension replacement i would like to push for the wasm extension (even if not tecnically correct) because github pages, cloudflare and probably most CDNs are already handling the compression for "application/wasm" but not for "application/octet-stream" so a default Blazor app weights about 3.2 MB having only mono.wasm compressed with brotli. In the end Blazor libraries are

[2019-04-15 18:41] Sebazzz commented on #9350
Hi Nate. I did actually get it working somewhat, though it was rather more an art than a science though 🙃 This gist I made up for myself answers most of your questions:
https://gist.github.com/Sebazzz/67c91b04a43531c85ffb4b58b22006e7
I got as far as the NuGet packages and a working sharedfx installer output zip files. I however couldn't find matching symbol files, so I resorted to manually extract

[2019-04-15 18:46] mkArtakMSFT commented on #5472
Closing as a dupe with https://github.com/aspnet/AspNetCore/issues/4048

[2019-04-15 18:46] #5472 closed

[2019-04-15 18:46] Sebazzz commented on #9350
As from the usability perspective: I don't mind checking out code, but I'd rather not build (primarily because of the large number of artifacts generated). I would like to simply point the build process to debug binaries (which would be a separate download, or NuGet version suffix whatever) and debug with that.

[2019-04-15 18:52] javiercn commented on #7811
We are not doing this as per our discussion it’s broken on IE/Edge and would require support from the client library.

The code in the template is commented so as to make this easy to do in the app if the user decides to do so, but we don’t plan to do any work here other than update the oidc library version.

[2019-04-15 18:52] #7811 closed

[2019-04-15 18:53] javiercn commented on #8316
I’m not sure I understand.

[2019-04-15 18:58] benaadams opened #9388 "Big fall in Json, MVC plaintext, MVC Json"
![image](https://user-images.githubusercontent.com/1142958/56157688-08eece00-5fb8-11e9-8cfa-ce51f89805fb.png)

Change set: https://github.com/aspnet/AspNetCore/compare/dc08a60f5edebdf3d6048afb1b147de776661562...d2db4677c98c5e46d5a8a1d4942c6a684a774fd5 looks to be deps outside AspNetCore

@dougbu @sebastienros  as you may understand what deps are related?

The MVC gain at end is changeset https://g

[2019-04-15 18:59] blowdart commented on #9357
This doesn't appear to be a bug, or a feature request, so I'm closing the issue.

[2019-04-15 18:59] #9357 closed

[2019-04-15 19:01] sebastienros commented on #9388
The bot got it and I am already investigating. Traces will follow, currently trying to pinpoint the change.

[2019-04-15 19:32] ghidello commented on #5477
I just tested @RemiBou trick using wasm extension and renaming the dlls before pushing them to gh-pages and now a cold refresh amounts to 1.9 MB as it should be: great! Thanks @RemiBou!!

**But** my Avast antivirus initially went crazy because all those fake wasm files were infected with DRep and I got the same alert window as @jorisvergeer . After a quick search I think that the problem could be

[2019-04-15 19:35] sebastienros commented on #9388
Better changeset containing the regression: https://github.com/aspnet/AspNetCore/compare/dc08a60f5edebdf3d6048afb1b147de776661562...88599a5c266b9bce014b5bd499daae3d170a950d

[2019-04-15 19:47] anurse opened #9394 "Increase stack size for host when running in IIS In-Proc"
Epic https://github.com/aspnet/AspNetCore/issues/8833

Blocked by https://github.com/dotnet/coreclr/issues/21450

Once there's an API/Property to increase the stack size, we need to react to it in IIS in two ways:

1. Increase the default to something more appropriate for our scenario
2. Make it configurable in web.config (if possible).

[2019-04-15 19:50] benaadams commented on #9388
Anyway to get the changeset for the Extension reference change? I assume the EF changes aren't relevant... or at least one hopes 😄

[2019-04-15 19:51] #9374 closed

[2019-04-15 19:51] sebastienros commented on #9388
I can try to get that

[2019-04-15 19:51] sebastienros commented on #9388
In the meantime, from Citrine's diff:
![image](https://user-images.githubusercontent.com/1165805/56160930-39fddd00-5f7d-11e9-8518-ff8abda3e418.png)

[2019-04-15 19:52] anurse commented on #9394
ETA of the blocking issue is preview6.

[2019-04-15 19:58] benaadams commented on #9388
Not sure if that's a decrease in contention for SocketAsyncEngine? As this PR is in range of the previous runtime update "SocketAsyncEngine.Unix: improve performance of context lookup" https://github.com/dotnet/corefx/pull/36358

@tmds @stephentoub

[2019-04-15 20:00] sebastienros commented on #9388
The negative needs to be read in the opposite, I compared the lowest to the baseline (higher)

[2019-04-15 20:01] sebastienros commented on #9388
Here is the diff for extensions:
https://github.com/aspnet/Extensions/compare/17cb5265d011311233c2795727532d5c8eb22b5f...0b1aa473a7a722cd3f0aab5166fbe9e5203f0582

Which updated System.IO.Pipelines

[2019-04-15 20:04] SteveSandersonMS commented on #9363
Thanks for answering, @Andrzej-W.

Yes, you can use @inherits.

[2019-04-15 20:04] #9363 closed

[2019-04-15 20:52] natemcmaster commented on #9350
Glad you got it working. You make an interesting point about publishing debug builds. Currently we only release optimized binaries and symbols.

@Eilon @DamianEdwards what do you think about also producing and making available "debug" binaries/symbols for customers who want a better step-in experience with aspnetcore? Personally, I've run into the same issues. Source-link is good, but you can't se

[2019-04-15 20:57] vigotecnologia commented on #9355
Good news,

With the configuration below everything is working fine !!! (thanks for the link @Tratcher)

**Before any middleware:**

`                app.Use((context, next) =>
                {
                    context.Request.Scheme = "https";
                    return next();
                });`

The "local" requests still doing over http but to the end-user everything runs in https, even

[2019-04-15 20:57] anurse commented on #9223
Ok, updating description (above) to reflect recent discussion. Also moving to preview6 for remaining work.

[2019-04-15 20:58] anurse commented on #9223
We decided *not* to remove the BodyReader/BodyWriter properties...right?

[2019-04-15 21:00] Tratcher commented on #9355
@vigotecnologia note setting scheme directly is a last resort. It's better to get UseForwardedHeaders working.

[2019-04-15 21:03] isc30 commented on #8440
still having this issue with the official docker image
`mcr.microsoft.com/dotnet/core/sdk:3.0`

[2019-04-15 21:19] pranavkm commented on #7710
Verified that this PR - https://github.com/aspnet/AspNetCore/commit/65fa8d57b466b2a087f01fd87affb8b2ee4d3932 - fixed this issue.

[2019-04-15 21:19] #7710 closed

[2019-04-15 21:26] pranavkm commented on #8604
Closing as duplicate of https://github.com/aspnet/AspNetCore/issues/7710. Adding some notes https://github.com/aspnet/AspNetCore/pull/9396 that describes how to turn on stepping in to ASP.NET Core sources.

[2019-04-15 21:26] #8604 closed

[2019-04-15 21:29] rynowak commented on #9194
Closing this since I did investigation. Will follow up with more issues later

[2019-04-15 21:29] #9194 closed

[2019-04-15 21:33] anurse commented on #2718
We haven't been able to take this for approval for backporting yet as our window for doing so hasn't opened yet (it should open in the next week or so). If it's approved it'll still be June (at best) before the patch is released.

As to how you can work around it, I think that copying the code is your best option here. As you can see, the logic is not very complicated and looking at the history it

[2019-04-15 21:41] pranavkm commented on #9285
@vijayrkn assigning the issue to you

[2019-04-15 22:18] natemcmaster commented on #8836
Validated this has been fixed in 3.0.100-preview4-011216

[2019-04-15 22:18] #8836 closed

[2019-04-15 22:21] pranavkm opened #9398 "Remove AuthorizationOptions.RequiredPolicy"
Discussed this offline and support for this newly added option can be removed

[2019-04-15 22:23] mkArtakMSFT commented on #5440
VS 2019 is now released

[2019-04-15 22:31] mkArtakMSFT opened #9400 "Fix "Invalid Host/Origin" on Firefox in Angular template"

[2019-04-15 22:32] mkArtakMSFT commented on #7812
Filed https://github.com/aspnet/AspNetCore/issues/9400 to handle the one dependency update to avoid many errors

[2019-04-15 22:35] mkArtakMSFT commented on #4809
Talked to @danroth27 regarding this and the decision is to remove the unused parameter.

[2019-04-15 22:36] HaoK commented on #7882
@dougbu this max path issue also exists for https://github.com/aspnet/AspNetCore/tree/master/src/Mvc/Mvc.Api.Analyzers/test/TestFiles and https://github.com/aspnet/AspNetCore/tree/master/src/Mvc/Mvc.Analyzers/test/TestFiles which causes helix to reject these work items since the combined path is too long, do you think you can apply the same fix to those as well?

[2019-04-15 22:37] sebastienros opened #9401 "First request regression"
Between `3.0.0-preview4-19204-02` and `3.0.0-preview4-19208-06`.

It's a lot of changes but it doesn't look like there were successful builds in between.

![image](https://user-images.githubusercontent.com/1165805/56169799-2dd14a00-5f94-11e9-93ba-f7d3ec4779d7.png)

The chart above is for JsonPlatform.

Changes:
https://github.com/aspnet/AspNetCore/compare/518b879895d1c2e2b5bac716c8c4f9806e92dcfc..

[2019-04-15 22:41] mikaelm12 commented on #8640
Done here: https://github.com/aspnet/AspNetCore/pull/8726

[2019-04-15 22:41] #8640 closed

[2019-04-15 22:41] mkArtakMSFT commented on #4880
Reducing the priority, as this impacts only the non-default case, which is runtime-compilation scenario.

[2019-04-15 22:48] ajaybhargavb opened #9402 "Blazor server side: dotnet run fails with InvalidOperationException on MacOS"
### Describe the bug
`dotnet run` fails with the follwing exception on MacOS for blazorserverside projects

[code]

### To Reproduce
Steps to reproduce the behavior:
1. Get the latest preview4 sdk from core-sdk
2. dotnet new blazorserverside
3. dotnet run

### Expected behavior
The app runs successfully

### Additional context
[code]

cc @danroth27 @rynowak

[2019-04-15 22:56] ryanbrandenburg opened #9403 "Identity UI experience issues on SPA apps"
Found during verification.

1. Identity UI pages have a footer, but SPA apps do not.
2. Identity UI NavBar does not contain non-auth links, but Home/Counter/FetchData pages do.
3. The link to the Privacy page in the footer of an Identity UI page actually points to the current page.

[2019-04-15 23:06] sebastienros commented on #4739
It's done for some time now. Can close.

[2019-04-15 23:09] jikkujj commented on #2193
And useauthentication needs to be before usehttpsredirection

[2019-04-15 23:09] sebastienros opened #9404 "Proxy scenario perf regression"
Actually in CoreFx, but opening in aspnet until I get more information

![image](https://user-images.githubusercontent.com/1165805/56170987-7e4aa680-5f98-11e9-82ee-9a0e2fc50a76.png)

__Updated__

3.0.0-preview-27408-1 -> 3.0.0-preview-27409-1

Microsoft.NetCore.App / Core FX
https://github.com/dotnet/corefx/compare/c2bbb6a5ee5ff67e5e8353e154d7b4c4f2f83143...e1c0e1d4928b27113cdb2d021f4abbb202c9892a

[2019-04-15 23:17] benaadams commented on #9388
Libuv hit by same drop so unlikely to be the sockets change

![image](https://user-images.githubusercontent.com/1142958/56171262-8af0ee00-5fdc-11e9-9404-25ad178c59ce.png)

Platform and mw plaintext seem uneffected; mvc middleware heavily effected

[2019-04-15 23:19] sebastienros commented on #9388
Any "pipelined" one I think

[2019-04-15 23:20] sebastienros commented on #9388
Has there there been any change related to the ThreadPool or Exceptions management?

[2019-04-15 23:25] benaadams commented on #9388
However mw json effected as is mvc json 🤔

[2019-04-15 23:27] benaadams commented on #9388
mw plaintext not being effected (neither non-pipelined or pipelined), but mvc plaintext being effected is the oddity (and then both forms of json being effected)

[2019-04-15 23:27] sebastienros commented on #9388
I can only repro the numbers on the citrine machines, which could be explain by a locking symptom as these machines have more cores.

[2019-04-15 23:33] halter73 commented on #8916
Removing the waiting label. We'll try to find to as soon as we can to take a loop at the repo repro. Thanks!

[2019-04-15 23:47] benaadams commented on #9388
Runtime version unchanged though?

![image](https://user-images.githubusercontent.com/1142958/56172370-110f3380-5fe1-11e9-987a-bba51d62d190.png)

[2019-04-15 23:47] sebastienros commented on #9388
Oh, I mean non-pipelined, but you are right it's still wrong :/

[2019-04-15 23:48] dougbu commented on #7882
@HaoK if there's an issue, I can take it. Just assign it to me.

But, we shouldn't try to reuse this issue because it was about a related issue in the AspNetCore-**Tooling** repo.

[2019-04-16 00:05] miroslavp commented on #7784
I declared static variables like this to prevent IL stripping:

        private static readonly Int32Converter i32c = new Int32Converter();
        private static readonly Int64Converter i64c = new Int64Converter();
        private static readonly StringConverter sc = new StringConverter();
        private static readonly NullableConverter nc = new NullableConverter(typeof(bool?));
        private

[2019-04-16 00:25] vigotecnologia commented on #9355
Hello @Tratcher, after your advise I decided to play a little with Apache configuration and I discovered what was happening. my fault, sorry :)

If we add the `RequestHeader set "X-Forwarded-Proto" expr=%{REQUEST_SCHEME}` in a "global" way, the problem occur, screenshots attached, but **if we put this configuration inside the each VirtualHost** everything works fine, with or without setting the sc

[2019-04-16 00:25] #9355 closed

[2019-04-16 00:37] mqudsi commented on #8137
@mkArtakMSFT it's literally this simple:

Index.cshtml:
[code]

Index.cshtml.cs:
[code]

Type something in the text box and press `Enter` to reproduce.

[2019-04-16 01:00] Menighin commented on #9141
Guys, I managed to make it work with the VPN. Don't know if it is a problem with the link to Brazil or something like that, but I'm able to open and build it now.
Thanks all for the help! :)

[2019-04-16 01:00] #9141 closed

[2019-04-16 01:14] jkotalik commented on #8137
The framework can't catch a StackOverflowException (see: https://docs.microsoft.com/en-us/dotnet/api/system.stackoverflowexception?redirectedfrom=MSDN&view=netframework-4.7.2#remarks), as hitting a StackOverflowExecption is considered an unrecoverable state. At that point, the program is in an unknown state and the correct action is to crash the process as soon as possible. So the Access Violation

[2019-04-16 01:23] Tratcher commented on #2193
?? I'd expect useauthentication _after_ usehttpsredirection

[2019-04-16 01:31] davidfowl commented on #7710
Reflex FTFW

[2019-04-16 01:45] davidfowl commented on #5440
We can make this change now. The only downside is that the exception handling is kinda bad. @DamianEdwards do we want to do this regardless or do we wait?

[2019-04-16 02:22] benaadams opened #9406 "React to Text.Json Api Change"
Change: https://github.com/dotnet/corefx/pull/36776

`set_IgnoreNullPropertyValueOnRead` no longer exists

Latest sdk fails when running mvc
[code]
Error
[code]

/cc @pranavkm @steveharter @JamesNK

[2019-04-16 02:36] davidfowl commented on #4498
The HttpClient work will be moved to corefx. The epic will be used to track the remaining work.

[2019-04-16 02:36] #4498 closed

[2019-04-16 02:42] tb-mtg commented on #7033
@kshyju What alternative did you end using?

[2019-04-16 03:38] benaadams commented on #9388
I think it has to still be something vs the previous runtime

3.0.0-preview5-27608-16 -> 3.0.0-preview5-27611-18
Microsoft.NetCore.App / Core FX
https://github.com/dotnet/corefx/compare/6ca16758a5d454c1f1b04975bf55f259dd71fc49...fe5c12ad8315e043e62285117a56bba1784756d1

Microsoft.NetCore.App / Core CLR
https://github.com/dotnet/coreclr/compare/991817d90827b206ab25e74e7a5bd326a7e86ad4...759e3777aad

[2019-04-16 03:56] pranavkm commented on #9401
Includes the change where we bumped up the runtime: https://github.com/aspnet/AspNetCore/commit/1b500858354efe26493af632bf0e3f5462dc6246#diff-8b8f08ffbf7b863fb3700c1718eeb4cbL23

[2019-04-16 04:43] kshyju commented on #7033
Ended up writing something which parses user agent string to do this.

[2019-04-16 04:51] sankp opened #9407 "Dotnet Core cookies are getting expired within 5 minutes with WSFederation and SSO"
Hi,

I have aspnet core 2.2 mvc application which is also using web api. I am using WSFederation Security with SSO. Login and Cookies are working fine with this but after 5 mins my cookies are getting expired somehow and my web api calls turns into 302 response because SSO redirects.
How can I make my cookie valid for longer period of time. I have tried different options available but nothing seem

[2019-04-16 05:00] ishara119 commented on #8947
@daltonks   @nosyminotaur.
thanks for replying. actually, I was looking to pull database notification from mysql db, I wasn't able to find any articles for that, im not sure whether it's possible at this moment.

anyway, i found a workaround, i created a .net core hosted service and able to get the database changes using a timer service then pushed those to frontend.
its working and stable now.

[2019-04-16 06:50] davidfowl opened #9408 "The gRPC template spits out a debug log by default"
### Describe the bug
Make a new preview4 grpc template.

### To Reproduce
Steps to reproduce the behavior:
1. Run it.
2. See the debug log coming from the GrpcServiceBinder

### Expected behavior
No debug logs get printed.

### Screenshots
![image](https://user-images.githubusercontent.com/95136/56187995-2bddaa00-5fd9-11e9-9d1d-2dd09da7a67c.png)

This is happening because by default the templates

[2019-04-16 07:10] RemiBou commented on #9384
EditContext is a cascading parameter from the EditForm. The editForm will instantiate it if none are coming from parent component.

Try to have a look to the generated class in obj/debug folder for understanding how it works and how the context variable is available.

[2019-04-16 07:31] enetstudio commented on #9384
RemiBou: The editForm will instantiate it if none are coming from parent component.

That is exactly what I am saying in the comment above:
Note that in the last example the attribute Model of the EditForm is assigned a value; and thus, EditForm creates an instance of EditContext, which, I guess, can be accessed via the public property EditContext, but alas, it is not clear where where "context" c

[2019-04-16 07:37] oliverjanik commented on #7685
🤦‍♂️ This will land in core 3.0? So for us in 2.2 using IHostBuilder there's no way to get EF Add-Migration to work.

[2019-04-16 07:42] RemiBou commented on #9384
Sorry I didn't fully understand your question.

[2019-04-16 07:53] davidfowl commented on #7685
@oliverjanik can you clarify what you mean? We switched to use the IHostBuilder as part of 3.0, there's no known regression here in 2.2.

[2019-04-16 08:22] viktorpeacock commented on #9378
@rynowak sure!

[2019-04-16 10:15] javiercn commented on #7784
@SteveSandersonMS Can users still add a custom descriptor file to tweak the linking process?

[2019-04-16 10:50] SteveSandersonMS commented on #7784
Yes, but weirdly the docs for that feature seem to have been deleted. I found an old copy in Git history here: https://github.com/aspnet/Blazor.Docs/blob/7ced0029b97b3b8afdda4e2a235bd6cecebfc2fd/docs/host-and-deploy/configure-linker.md

@danroth27 Do you know why that was removed? Also on https://blazor.net/, the "docs" link in the header goes to a 404, and there's still the "experimental" tag in

[2019-04-16 10:51] SteveSandersonMS commented on #8316
The idea is just that, assuming the build system has some way of passing "current branch name" into MSBuild, then we could adjust the conditional-inclusion rule for `RestoreAdditionalProjectSources` to be "include only when current branch name equals `master`".

[2019-04-16 10:51] springy76 commented on #6385
Would it be possible to resync that `ContinueWith` code with the correct sync context for preview4 milestone?
(btw: That `ContinueWith` exactly is what I meant by saying "called from thread pool").

[2019-04-16 10:58] SteveSandersonMS commented on #6385
Sorry, no, it's too late.

[2019-04-16 11:15] elraito opened #9409 "For future documentation: Real time page example for blazor."
### Is your feature request related to a problem? Please describe.

Not related to a problem but a request for future documentation. A real time page example would be helpful. Both in terms of best practices and also something to refer to when building ones own. MVC projects can refer to the stock ticker/exchange example utilizing signalR which is explained within microsofts documentation. Blazor/

[2019-04-16 11:28] endeffects commented on #7438
@aktxyz

To fix the problem use:

[code]

[2019-04-16 11:49] SteveSandersonMS commented on #9384
The word `context` is a built-in default used by all templated components: https://visualstudiomagazine.com/articles/2018/12/01/blazor-templated-components.aspx

You can optionally override the name, e.g.,

[code]

[2019-04-16 11:49] #9384 closed

[2019-04-16 11:51] benaadams commented on #9404
Looks like two drops?

![image](https://user-images.githubusercontent.com/1142958/56207318-5580ea80-6046-11e9-80d4-76ee71171268.png)

[2019-04-16 12:17] springy76 commented on #6385
Thats sad. Since preview1 all of our beta testers get hit by this bug regularily and the only thing they notice is that the app (or sometimes even just a part of it) stops responding to clicks at any random time -- they don't see the exception stacktrace scroll by in console of course.

Shouldn't this be fixable by a "simple" `syncContext.Post`?

[2019-04-16 12:28] mashbrno opened #9410 "Blazor (server-side) ignores Path Base"
On kestrel (and probably on IIS too - check #8368) is not possible to set application path. Using preview3.

`Startup` snippet:

[code]

correctly handles Razor Pages, but inside components there is an error:

[code]

[2019-04-16 12:55] enetstudio commented on #9384
I got it...thank you, maestro.

[2019-04-16 12:58] Arash-Sabet commented on #8652
@blowdart @HaoK Any updates on a possible solution?

[2019-04-16 13:01] blowdart commented on #8652
Without a repo there's not a lot we can do, beyond fixing the known problem with + signs. This isn't a bug we've seen, or had reported before.

[2019-04-16 13:05] blowdart commented on #9407
You can't use SlidingExpiration with an expiry date on the cookie. It's either/or.

[2019-04-16 13:06] Arash-Sabet commented on #8652
@blowdart I will try to get you a small repo in a few days. Hope that will help.

[2019-04-16 13:07] blowdart commented on #8652
It would be extremely helpful, thank you

[2019-04-16 13:31] achobanov opened #9415 "Bind collection of custom types from Jquery.params formatted query string"
#### Disclaimer
Created as bug, because I found this [issue](https://github.com/aspnet/Mvc/issues/6372) in **MVC5** and my problem seems to be solved there.

### Issue description
API model binder does not bind collection from the following query value:
[code]
It works for:
[code]
The query comes from Jqx widget lib, using `JQuery.params`.

### To Reproduce
Steps to reproduce the behavior:
1. Usin

[2019-04-16 14:10] LCO05 commented on #6118
I'm having problems applying the suggested fix and resolving the issue which I don't know if it should be fixed in the current version .Net Core 2.2 since I am still getting the same error - IIS responses with 500.30 - when running InProcess. Enabling the logs I could see the problem is related to the same issue as the directory returned is not the correct directory. Instead, it returned the path

[2019-04-16 14:12] ljcorreia commented on #6118
I'm having problems applying the suggested fix and resolving the issue which I don't know if it should be fixed in the current version .Net Core 2.2 since I am still getting the same error - IIS responses with 500.30 - when running InProcess. Enabling the logs I could see the problem is related to the same issue as the directory returned is not the correct directory. Instead, it returned the path

[2019-04-16 14:27] aktxyz commented on #7438
aha ... very very nice

[2019-04-16 14:31] dima117 opened #9416 "Add support for CSP Nonce to the PrerenderTagHelper"
### Problem

My application uses `PrerenderTagHelper` for SSR. I want to use [Content Security Policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) and I need to add the `nonce` attribute for all inline `script` tags. I can't do this because `PrerenderTagHelper` renders the `script` tag [without any attributes](https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/SpaServices/s

[2019-04-16 14:45] gustavnavar opened #9417 "Localized resources from Razor component library not working in Blazor project"
Strings from resources files (.resx) in a component library are not localized correctly when used by a Blazor project.

But they are ok when used by a Razor component project.

You can download the attached solution (WebApplication.zip) to reproduce this issue:
1. Run the "Blazor.Server" project
2. Go to /fetchdata page. The page content should be translated to Spanish
3. On the other side, if you

[2019-04-16 14:56] anurse commented on #5897
Unfortunately no, we had other higher priority work that means this is not scheduled for 3.0.

[2019-04-16 15:03] Tratcher commented on #9407
The default is 14 days, sliding. You shouldn't need to do anything else.
https://github.com/aspnet/AspNetCore/blob/4649449206edae4992e09419334e736726fd2c8e/src/Security/Authentication/Cookies/src/CookieAuthenticationOptions.cs#L32-L34

Start by removing OnSigningIn.

WsFederation does have UseTokenLifetime=true by default. Do your WsFed tokens have a 5 min expiration? Try disabling UseTokenLifetim

[2019-04-16 15:25] springy76 commented on #9294
How shall the workaround be "inject services directly into Configure" when `Startup.Configure` doesn't have the information what to do at all because that info can't be transferred into the `Startup` class any more????

[2019-04-16 15:32] jkotalik commented on #9274
Yeah, I see that your rule is just passing in a domain to string match on. The rule you implemented seems more like `RedirectToWwwWithSpecificHost()`. Without passing in a domain, you can maybe do `IndexOf()` on the host header for the first part of the host header, but it isn't trivial and seems niche.

I don't think this scenario is common enough to justify having a rule/option dedicated to it.

[2019-04-16 15:44] springy76 commented on #9337
Your mitigation does not work for me: `Startup.Configure` just doesn't have the information I need, because thats why I'm passing a complex object to the constructor of the Startup class.

In my app the entire asp-net-core block itself is just a little part of the entire app. It inherits outer services by the use of nested Autofac lifetime scopes and a bunch of delegates are being collected in ear

[2019-04-16 15:48] wcrosby5151 commented on #8316
How do I get the Blazor 0.9.0 templates into the right area so that I can create a new project.  No matter what I do, the templates never become visible with this release.  Is there some trick that I am missing?

[2019-04-16 15:48] danroth27 commented on #5462
@Lupusa87 Since this issue is tracking something different (hosting the Blazor runtime on a common CDN), could you please open a new issue with more details on how to reproduce the problem you are seeing? We need to know what version of Blazor you are using, what does the app code look like, how did you publish it to the CDN, etc.

[2019-04-16 15:54] Eilon commented on #9401
Which scenario is this?

[2019-04-16 15:57] jkotalik opened #9419 "Consider adding a LazyResettableCts for Kestrel"
We have been bitten in the past in Kestrel by making the RequestAborted token lazy. We have now had 3 attempts to fix our disposal of the RequestAborted token (https://github.com/aspnet/AspNetCore/commit/e04c79bd3dfc0634af1ac6b578124630a5be247d, https://github.com/aspnet/AspNetCore/commit/0622513058eff9a4374a0edca726d2c62959ea1e, and another one from a while ago that I can't find), and though we t

[2019-04-16 16:07] mkArtakMSFT opened #9420 "Run templates tests on all the platforms"
We've identified issues where some templates don't run on MacOS. To avoid issues like this in the future we should enable the Templates tests to run on all the OSes our Test infrastructure supports.

[2019-04-16 16:11] Sebazzz commented on #9350
In the best case I'd prefer an approach which wouldn't modify your project but rather use some MSBuild property to link to different binaries. This wouldn't help with the shared framework approach, of course unless the assembly loader would also know to look up the binaries at a different location.

But anything that is better than downloading the source and going through dozens of steps to get it

[2019-04-16 16:18] Stamo-Gochev opened #9423 "Calling InvokeMethod in server-side blazor"
Is there a way to support synchronous calls in server-side blazor using `InvokeMethod` rather than `InvokeMethodAsync`?

Right now, there is a check for that:
https://github.com/dotnet/jsinterop/blob/a1042e35240662ee54e4cc49c4913541177be803/src/Microsoft.JSInterop.JS/src/Microsoft.JSInterop.ts#L65
which explains that this is not currently supported. Can you shed some light if this can be changed a

[2019-04-16 16:29] Tratcher commented on #9337
Constructor injected services were only needed for use in Startup.ConfigureServices. Can you give specific examples of what you're doing in ConfigureServices that consumes services? It's often possible to set up delayed actions that only resolve services when your service is resolved.

[2019-04-16 16:35] Tratcher commented on #9294
This issue is closed, please follow the announcement issue instead.

[2019-04-16 16:39] mkArtakMSFT commented on #9423
Thanks for contacting us, @Stamo-Gochev.
@SteveSandersonMS can you please answer this? Thanks!

[2019-04-16 16:51] Tratcher commented on #9344
Yeah, it sounds like the site is being shut down due to idleness.

[2019-04-16 16:58] SteveSandersonMS commented on #9423
Sorry, no. JavaScript simply does not support blocking the thread until some network call completes (because it's a single-threaded environment). For server-side Blazor, JS interop is a network call.

This is a fundamental limitation of JavaScript.

[2019-04-16 16:58] #9423 closed

[2019-04-16 17:00] jkotalik commented on #9420
I thought template tests ran on MacOS and Linux already? Anyways, isn't there a difference between how we test our templates and what we actually produce as part of the sdk? Wouldn't the only way to get proper verification is to manually/automatically test the sdk for dotnet new scenarios?

[2019-04-16 17:16] BenHayat opened #9426 "Blazor/Razor Components docs links are broken"
Hi Team;

As of last night all MSFT Docs links pointing to Blazor or Razor components are broken

https://docs.microsoft.com/en-us/aspnet/core/razor-components/

![Docs](https://user-images.githubusercontent.com/7861196/56230188-c675d180-6049-11e9-88e9-e9f6a124c509.png)

[2019-04-16 17:31] davidfowl commented on #9350
@natemcmaster If they were on a different feed I would be fine with that.

[2019-04-16 17:33] Sebazzz commented on #9350
Yes that's fine. You would use the debug feed as the primary feed in a local NuGet.config file. That would work perfectly.

Met vriendelijke groet,
Sebastiaan Dammann
________________________________
Van: David Fowler <notifications@github.com>
Verzonden: Tuesday, April 16, 2019 7:32:15 PM
Aan: aspnet/AspNetCore
CC: Sebastiaan Dammann; Comment
Onderwerp: Re: [aspnet/AspNetCore] Debug builds / loca

[2019-04-16 17:38] natemcmaster commented on #9350
Having a separate feed isn’t sufficient on its own. NuGet cache uses package ID + package version. Unless we also published debug binaries with a unique package version or id, NuGet cached could easily end up with a non-deterministic mix of debug and release binaries. Setting up a separate build chain for debug packages with same sources but unique package versions wouldn’t be prohibitively diffic

[2019-04-16 17:42] Sebazzz commented on #9350
Are there other options to make debugging shared frameworks (or ASP.NET at all) more possible? I can't be the only one who needs to step in the sources.

[2019-04-16 17:50] brazierdavid commented on #7541
Yes, that does seem to make it pointless to run SignalR in a service worker.  In the scenario for the server to push notifications even when the web app isn't active, service workers have a role using Web Push API (e.g. [Push Notifications and ASP.NET Core](https://www.tpeczek.com/2017/12/push-notifications-and-aspnet-core-part.html)) but @unsafecode why don't you want to do it that way?

[2019-04-16 17:51] springy76 commented on #9337
While this helps in many cases, here it does not, because aspnetcore is just one of many (optional) services in the app:

* The app initially only processed file based jobs. Years ago Owin has been added to provide some adhoc API surface.
* There is one big Autofac DI container which also contains services from (optional) plugins
* one of the services (similar to BackgroundWorkers) pulls a class `

[2019-04-16 18:09] Andrzej-W commented on #9426
Razor Components are renamed back to Blazor. Doc is now here:
https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-3.0

[2019-04-16 18:13] ajaybhargavb commented on #9402
Reassigning it to @pranavkm as he already has a PR out to fix this.

[2019-04-16 18:15] blowdart commented on #9416
Oh yes, totally this.

[2019-04-16 18:22] Tratcher commented on #9337
Indeed, Startup is not a required construct, it's a holdover from the OWIN days when there might not have been a Program.Main. It can be still useful for organizing code. Are you able to do everything you need to with I(Web)HostBuilder?

[2019-04-16 18:23] Eilon commented on #9196
Thanks @mnemcik we will take a look.

[2019-04-16 18:26] #9426 closed

[2019-04-16 18:27] natemcmaster commented on #9350
Another option—the one I’m working on for 3.0—is making it easier to build our source code locally. Other than that, I don’t see any. Either we build a debug build or you do.

As far as I’m aware, source link is working well enough for now for most people. As you mentioned, it has limitations when the compiler has optimized the code. But we can leave this open to see if there is sufficient demand

[2019-04-16 18:39] Sebazzz commented on #9350
Build was not really the issue, the instructions and process is sufficiently documented.

The problem was actually getting the binaries and symbols in the right place, so the build process and debugger would pick it up while at the same time not trying to mess up my system-wide state (I don't want to replace my 2.2.0 system-wide binaries). One of the advantages of the local packages folder is that

[2019-04-16 18:47] HaoK opened #9431 "Mvc.Analyzer test code exceeds MAX_PATH"
Similar to https://github.com/aspnet/AspNetCore/issues/7882

https://github.com/aspnet/AspNetCore/tree/master/src/Mvc/Mvc.Api.Analyzers/test/TestFiles and https://github.com/aspnet/AspNetCore/tree/master/src/Mvc/Mvc.Analyzers/test/TestFiles which causes helix to reject these work items since the combined path is too long

cc @dougbu

[2019-04-16 18:53] dougbu commented on #9431
@HaoK how urgent is this issue? I'm hoping I can do this next week, not this one.

[2019-04-16 18:58] HaoK commented on #9431
Not urgent at this point, whenever you can get to it is fine

[2019-04-16 19:00] jkotalik commented on #7253
This is fixed in VS 16.1-preview2.

[2019-04-16 19:00] #7253 closed

[2019-04-16 19:03] aboimpinto commented on #9363
Thanks for the answer ...

This solution works +/- .... now I cannot have any contructor injection on the ViewModel ....

do you have a solution for that too?

[2019-04-16 19:06] bradygaster commented on #4135
Talked to ORYX team and App Service team and all agree ORYX would be the best place to dial in the environment variable.

[2019-04-16 19:07] jkotalik commented on #8293
There is a RequestSizeLimit that is part of IIS: https://docs.microsoft.com/en-us/iis/configuration/system.webserver/security/requestfiltering/requestlimits/. I'm fairly certain this is used when hosting in Azure (not sure what the value is on top of my head). The RequestSizeLimitAttribute can't be used when hosting with IIS today though, so you would need to know which server type you are deployi

[2019-04-16 19:10] marklonquist opened #9434 "SignalR high memory consumption"
Hi

We're seeing some wierd behaviour in our application. We have at most 600 users online at a given time, and our memory seems to be rising constantly. Please see image below.

<img width="379" alt="high_memory" src="https://user-images.githubusercontent.com/1456819/56236947-2476d900-608b-11e9-970b-d52f437252f8.png">

The drop in memory is because we restarted the pod.

We're running this in Kub

[2019-04-16 19:11] jkotalik commented on #9371
Closing as this is fixed in 16.1-preview2 and verified.

[2019-04-16 19:11] #9371 closed

[2019-04-16 19:13] springy76 commented on #9337
Since the AspNetCoreInitializer class I was speaking of already contains the code which calls `new WebHostBuilder()` this will be fine. Thank you for clarification.

[2019-04-16 19:21] zamzowd commented on #9258
@davidfowl I would figure either the End Request get moved to fire from within the pipeline, or as you mentioned a new event is added for the same goal.  I'm not familiar with the reasons for having the End Request event get fired outside of the request pipeline.

[2019-04-16 19:25] ericgrantholland opened #9435 "Blazor Custom formatting for numbers and strings"
I am looking into formatting strings and numbers using blazor-data-bindings. For example, formatting a number with currency, formatting a number with thousands-separators. Currently, there is a method of formatting only DateTime fields as shown below:

`
<input type="text" bind="@Birthday" /><br />
    What is your birthday (German date format)? <input type="text" bind="@Birthday" format-value="dd

[2019-04-16 19:29] zerocore2340 opened #9436 "IE11 support for server-side Blazor"
Creating a default "Razor Component" Project and trying to access it from IE 11 doesn't seem to work.

**Steps to reproduce the behavior:**
1. Create a new "Razor Component" project
2. Run
3. Access it from IE11

**Expected behavior / Error**
The counter page shows up but the button action does not do anything .

IE11 Console shows the following error during the load of the page
- Promise is undef

[2019-04-16 19:41] danroth27 commented on #7784
The IL linker doc is here: https://docs.microsoft.com/aspnet/core/host-and-deploy/blazor/configure-linker

I'm not seeing this. When I click on Docs I get redirected to https://docs.microsoft.com/aspnet/core/blazor/

That's expected for now

[2019-04-16 19:45] anurse commented on #9362
Unfortunately that stack trace doesn't give us a lot to work with. Are you able to repro this yourself or is this data coming in from telemetry?

https://github.com/xamarin/xamarin-android/issues/2159 seems like the most likely candidate. We don't use `NetworkStream` directly, we use `HttpClient` and `ClientWebSocket`, and since that references a `ClientWebSocket` issue, it seems likely to be the

[2019-04-16 19:47] mmitche commented on #9299
Yeah, interesting, and fits along with another epic that I was looking to do at some point (tracking merged PRs through the system).

Knowing the delta on both sides of the subscription is pretty interesting.  For instance, both:
- A set of target repos you want to watch for when the update is merged in those repos
- Links to "contained updates" in a PR.  So we may know that extensions package X i

[2019-04-16 19:50] anurse commented on #8980
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-04-16 19:50] #8980 closed

[2019-04-16 19:51] danroth27 commented on #8316
@wcrosby5151 You should probably open a new GitHub issue with details about what you've done so far to setup your machine and we can then try to help you out.

[2019-04-16 19:52] sebastienros commented on #9388
I isolated the issue to be in this range:

3.0.0-preview5-27611-10 -> 3.0.0-preview5-27611-12
Microsoft.NetCore.App / Core FX
https://github.com/dotnet/corefx/compare/7b7345665ec28a85084b3ad2932e03f7641d6151...af562e84b8b5a4a335ceb5006886a6c42c1c023e

Microsoft.NetCore.App / Core CLR
https://github.com/dotnet/coreclr/compare/45e04dd1bb1c7171d88a24454cb2c2811f46ce55...b574fac287e8ebe94f95d1b0919807

[2019-04-16 19:57] anurse commented on #9021
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-04-16 19:57] #9021 closed

[2019-04-16 19:57] anurse commented on #9151
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-04-16 19:57] #9151 closed

[2019-04-16 20:03] stephentoub commented on #9388
This regression only shows up on Linux?  Assuming the ranges above are correct, looks like the best candidate would be @janvorli's changes from https://github.com/dotnet/coreclr/pull/23824.  @janvorli, any chance your changes could have had this kind of impact?

[2019-04-16 20:03] mkArtakMSFT commented on #9420
We do have a manual verification in place (CTI handles this most of the time and we do once per release type of activities near the end of the milestone). However, the manual tests aren't ideal as timing is a big factor for those. The idea here is to avail of the test infrastructure as much as we can in an automated way.

[2019-04-16 20:14] springy76 commented on #9436
Some doc/wiki page once mentioned you'll need polyfills. I tried some in the past without success.

[2019-04-16 20:23] benaadams commented on #9388
That would fit with Platform and Plaintext mw being unaffected as they don't allocate 😎 so don't involve GC

[2019-04-16 20:25] janvorli commented on #9388
Before my change, CoreCLR was able to utilize only upto 64 CPUs, with the change, CoreCLR is not limited to that and can use all the CPUs available on the machine. So it may be possible that if the affected machines have more than 64 CPUs, there is some unexpected impact.
@sebastienros what is the configuration of the machines that are having the perf degradation? You've mentioned that these are h

[2019-04-16 20:27] sebastienros commented on #9388
I will answer your questions in a second, could you in the meantime give me the list of clr files that are impacted by the change, I could then confirm it's the actual change by swapping these files before and after the change.

[2019-04-16 20:30] benaadams commented on #9388
Other item it could be from that list is Contextual reflection? https://github.com/dotnet/coreclr/pull/23740

As again the uneffected tests don't use reflection and the others do; however that should? impact Windows equally?

[2019-04-16 20:34] janvorli commented on #9388
libcoreclr.so

[2019-04-16 20:34] benaadams commented on #9388
1 x [Intel Xeon Gold 5120 CPU](https://ark.intel.com/content/www/us/en/ark/products/120474/intel-xeon-gold-5120-processor-19-25m-cache-2-20-ghz.html), 32 GB of memory; 14 cores, 28 HT cores

Should be under the 64 CPU limit and non NUMA?

[2019-04-16 20:34] sebastienros commented on #9388
Intel(R) Xeon(R) Gold 5120 CPU @ 2.20GHz, 2195 Mhz, 14 Core(s), 28 Logical Processor(s)

I confirm windows is not impacted (same physical hardware). Tested on MvcPlaintext.
Linux: 1.7M -> 1.4M
Windows: 2.0M -> 2.0M

[2019-04-16 20:40] janvorli commented on #9388
Is there a way to run the test locally? I have an Intel Core i9 9900x (10 Cores, 20 logical processors) machine with 32GB RAM, so it may be enough to repro the issue.

[2019-04-16 20:44] benaadams commented on #9388
GC mode still getting propagated? i.e. its reporting Server rather than Client?

[2019-04-16 20:51] janvorli commented on #9388
The change only affects number of processors threadpool and GC can see.

[2019-04-16 20:51] isc30 commented on #9436
1. get https://github.com/Daddoon/Blazor.Polyfill
2. include it before blazor script tag
3. profit

[2019-04-16 20:54] sebastienros commented on #9388
Updating libcoreclr.so only is not sufficient, it fails. There must be other dependent ones.

[2019-04-16 20:54] baartho opened #9437 "API Controllers routes isn't working on Blazor Server Side"
### Describe the bug
Defining routes / endpoints for API Controllers on a Blazor Server-Side project isn`t working. I had it working on previous Blazor versions but can't it to work on 0.9.0-preview3-19154-02.

### To Reproduce
startup.cs code:

            public void ConfigureServices(IServiceCollection services)
            {
       services.AddMvc().AddNewtonsoftJson().SetCompatibilityVersion(

[2019-04-16 20:57] Eilon commented on #9208
@rynowak / @davidfowl - any thoughts on the dependency changes?

[2019-04-16 21:01] isc30 opened #9438 "Blazor: Router events"
It would be nice if we could attach a middleware to the Page Component Router to listen for page changes, etc. This can make integration with google analytics super simple.

[Here](https://github.com/aspnet/Blazor/blob/75adc7408cec4e4cfdd27a02f117677348941f59/src/Microsoft.AspNetCore.Blazor.Browser.JS/src/Services/UriHelper.ts#L62) we can see how `BrowserUriHelper.NotifyLocationChanged` is being c

[2019-04-16 21:06] janvorli commented on #9388
It is best to replace all files built in the coreclr repo. libcoreclr.so is tied to System.Private.CoreLib.dll, but sometimes it is not enough to copy these two.
To stay on the safe side, please replace these:
[code]

[2019-04-16 21:07] anurse opened #9439 "Make System.Text.Json SignalR Protocol package the default"
Also, ensure Newtonsoft.Json is removed from the shared framework.

This is blocked on some corefx Json work (cc @BrennanConroy).

[2019-04-16 21:12] sebastienros commented on #9388
I can repro the regression by updating these files. So this is coming from this set.

What next, do you want some traces, or do you have an idea about how to fix it?

[2019-04-16 21:14] anurse commented on #9434
It sounds like it would be best if you can do some initial investigation to see if it's your own objects that are leaking. If you are able to capture a memory dump showing the leaked objects, that would be helpful. Let us know if you have one (**do NOT post it here**, as memory dumps contain sensitive information) and we can give you an email address to send it to.

[2019-04-16 21:15] anurse commented on #9362
@bradygaster can you ping some Xamarin folks to look at the linked Xamarin Android issue (2159)

[2019-04-16 21:17] springy76 commented on #9436
I already tried that one. While it works for simple setups like the counter page, may stress test page (which I made for #6385) just never changes from "loading..." to final values: https://github.com/springy76/RazorComponentsProblems/blob/problem/ConnectionDiesWhenUsingAsyncOperations/WebApp/Components/Pages/Index.razor (and so does the real real world app which we're migrating to Razor component

[2019-04-16 21:19] anurse commented on #8916
@balbarak we'll take a look at the repro, thanks! We're wrapping up a milestone right now, so it may take a little bit but we'll see what we can figure out!

[2019-04-16 21:20] janvorli commented on #9388
I have no specific idea what is causing the regression yet. I need to look at my change in detail to see if I can spot something. For machines with less than 64 CPUs, there should be no change in behavior, in fact I would rather expect some improvements due to shorter code paths at some places.

Could you also please run `strings libcoreclr.so | grep "@(#)"` on the libcoreclr.so with and without t

[2019-04-16 21:22] anurse commented on #9327
Thanks for the logs, we'll look at this in our upcoming milestone. If you are able to capture any network traces from the server side when this error occurs, that would be very helpful.

At the very least, we need a better log message than "Failed Connection Handshake" :)

[2019-04-16 21:25] rfrancisco commented on #9327
I provided a log file captured with debug log level. Did you see that?

[2019-04-16 21:28] anurse commented on #9245
Can you provide a sample Java project that reproduces the issue?

[2019-04-16 21:36] isc30 commented on #9436
That's an interesting edge case, I'll try to have a look if I see the issue there.
Does the console show any error?

[2019-04-16 21:41] sebastienros commented on #9388
I looked in the self-contained apps I confirm that the commits are this range:

Microsoft.NetCore.App / Core CLR
dotnet/coreclr@45e04dd...b574fac

Actually we do this automatically already to generate these links based on the version. We download the runtime, and extract the git hashes from SOS and System.Collections.

[2019-04-16 21:45] mkArtakMSFT opened #9441 "Validate `dotnet new`, `dotnet run` sequence doesn't fail for templates on Windows and MacOS"
https://github.com/aspnet/AspNetCore/issues/9420

[2019-04-16 21:49] springy76 commented on #9436
The console only shows timeout after 30s. But I have to revaluate because on my home machine the sample even crashes on Firefox earlier than expected. Maybe I hit the "MessagePack's ReadStringSlow looks broken" problem SteveSandersonMS has mentioned.

[2019-04-16 21:53] bricelam commented on #7685
IHostBuilder should work with EF Core 2.2 (however you managed to do that) if you name the method Create**Web**HostBuilder

[2019-04-16 21:58] isc30 commented on #9436
yeah, that sounds more like a bug in the message queue than in the browser.

Answering the original question (ie11 polyfills), the mentioned library seems to work well on normal use cases

[2019-04-16 22:04] aboimpinto commented on #9363
I could make it work but the had to twist a little bit the MVVM pattern.
you can check on my project https://github.com/aboimpinto/BlazorMVVM

the ViewModel file looke liks this

`namespace BlazorMVVM.ViewModels
{
    public class FetchDataBlazorComponent : BlazorComponent
    {
        [Inject]
        public IWeatherForecastModel WeatherForecastModel { get; set; }

        public IReadOnlyCollec

[2019-04-16 22:08] BrennanConroy commented on #9439
https://github.com/aspnet/AspNetCore/issues/4260 is tracking removing from the shared framework.

[2019-04-16 22:12] rynowak commented on #9208
hmm. I thought I had commented on this. I don't think there's a reason not to do this - it's better for users.

There's little meaning to our assembly factoring anymore as long as it doesn't make building the product insane.

[2019-04-16 22:15] JunTaoLuo opened #9442 "[Discussion] Making "pubinternal" types in ResponseCaching internal"
In ASP.NET Core, pubinternal types are types that are declared as public but put in an .Internal namespace. While these types are public they have no support policy and are subject to breaking changes. Unfortunately accidental use of these types has been common, resulting in breaking changes to these projects and limiting our ability to maintain the framework.

In ASP.NET Core 3.0, we are moving p

[2019-04-16 22:17] anurse commented on #9349
Let's add the configuration callback.

[2019-04-16 22:23] anurse commented on #9248
Can you try using the [in-proc mode](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.2#in-process-hosting-model) for IIS? There are some initialization issues in out-of-proc that are easier to observe/diagnose in in-proc.

[2019-04-16 22:24] anurse commented on #9307
Are there any specific features/bug fixes we need? It would be helpful to see the customer scenarios that updating would enable. I don't disagree that we should update, but it would help prioritize this issue.

[2019-04-16 22:26] anurse commented on #4081
Providing a default value of "My" seems to be the best option here.

[2019-04-16 22:29] anurse commented on #4808
We did add a hook to reload on global config changes. We'll look at what we can do to improve this.

[2019-04-16 22:29] pranavkm opened #9443 "Update ViewComponentResultExecutor to use FileBufferingWriteStream"
https://github.com/aspnet/AspNetCore/pull/9395#discussion_r275541381

[2019-04-16 22:33] anurse commented on #7541
We don't believe there's a scenario for SignalR in service workers right now.

[2019-04-16 22:33] #7541 closed

[2019-04-16 22:33] anurse opened #9444 "[SignalR] Consider adding an HttpClient implementation that uses fetch instead of XHR"
We should also consider if/how to polyfill on browsers that don't support it.

[2019-04-16 22:36] anurse commented on #2979
We should actually just look at making it `internal`.

[2019-04-16 22:38] isc30 commented on #5465
As for lazy loading, lazy dlls (library projects in general) should be the easiest ones to implement.
With this approach, splitting the app in multiple assemblies will simply mean that a request for the dll is made the moment it's required, not before. Then, you could use standard .NET helpers like GetAssemblies, GetReferencedAssemblies, etc to know which assemblies are already loaded.

I don't kn

[2019-04-16 22:41] anurse commented on #7774
Closing in lieu of https://github.com/aspnet/AspNetCore-Internal/issues/2079

[2019-04-16 22:41] #7774 closed

[2019-04-16 22:43] anurse commented on #9278
We need to do a broader exploration of stress issues. Tagging this so we can revisit it.

[2019-04-16 22:43] sebastienros opened #9445 "H2 perf regression"
Significant regression that matches a runtime update. ~~And it happens that there were some changes on the http2 stack: https://github.com/dotnet/corefx/commit/d6e36e4ecb0d004de54eb7bdf0ed6cdcb042e3c9~~

I will do some measurement to be sure it's due to this change.

~~/cc @rmkerr~~

[2019-04-16 22:44] sebastienros commented on #9445
![image](https://user-images.githubusercontent.com/1165805/56248836-8240fc00-605e-11e9-9fb6-9bb601c36376.png)

[2019-04-16 22:45] anurse commented on #3476
We don't support flowing the Request Body through as a stream to HttpClient.

[2019-04-16 22:45] #3476 closed

[2019-04-16 22:46] dougbu commented on #6582
We sync'd up.

This property (renamed to `$(OpenApiGenerateOnBuild)`) remains useful after the client / server split. Will control whether projects with (say) an NSwag.AspNetCore dependency get generated JSON files in their project. When `false`, the documents will not be saved to disk unless the user manually runs one of the CLI tools or hooks an `<Exec/>` of a tool into their project.

[2019-04-16 22:46] anurse commented on #3486
@gimlichael Can you provide examples of the values you are getting `null` from? The headers shouldn't ever be `null` since the value is a `struct`.

[2019-04-16 22:47] anurse commented on #3573
Can you provide a sample project that reproduces the problem?

[2019-04-16 22:49] pranavkm commented on #8441
Ok, I was wrong. This still reproduces. @JunTaoLuo \ @natemcmaster isn't there a thing that runs and erases references to the packages in the shared runtime from other shipping packages? What do we need to do run this as as part of `build -Pack`?

[2019-04-16 22:51] mkArtakMSFT commented on #9195
@JamesNK did you already investigate this?

[2019-04-16 22:51] anurse commented on #2906
It's possible to workaround this by appending to the `Set-Cookie` header itself. We have no plans to add this API at this time.

[2019-04-16 22:51] #2906 closed

[2019-04-16 22:53] anurse commented on #9287
This is a pretty severe breaking change and we don't think the benefit is worth it. We don't have any plans to change this behavior at this point.

[2019-04-16 22:53] #9287 closed

[2019-04-16 22:55] anurse commented on #6924
Turning up the log level has some overhead. Can you provide a simple runnable sample and show the performance difference between the log settings? That will allow us to investigate further.

[2019-04-16 22:58] halter73 commented on #6924
I opened https://github.com/aspnet/Benchmarks/issues/889 because we should include scenarios with logging enabled in our automated benchmark runs to check for possible regressions. Logging is an area particularly at risk, because it's possible to write logs in less-than-optimal ways.

[2019-04-16 22:59] anurse commented on #6871
Since trailers aren't as reliable a feature, I don't think we'd put this in `DefaultHttpContext` directly, we should look at an `.EnableHttp2Goop()` function of some kind to initialize default values for HTTP/2 expected features in `DefaultHttpContext`

[2019-04-16 23:02] janvorli commented on #9388
Issue found and fixed in https://github.com/dotnet/coreclr/pull/24045

[2019-04-16 23:02] JamesNK commented on #9195
Not yet. I'll try to get to it today or tomorrow

[2019-04-16 23:03] Tratcher commented on #2979
By which we mean shared source.

[2019-04-16 23:09] benaadams commented on #9388
Thank you all 😄

[2019-04-16 23:12] #4885 closed

[2019-04-16 23:15] JunTaoLuo commented on #6975
FYI The outstanding pubternal APIs:
[code]

[code]

[code]

[2019-04-16 23:17] isc30 commented on #9438
nevermind, I found the usage that the router does, which is exactly what I expected

https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/Routing/Router.cs

[2019-04-16 23:17] #9438 closed

[2019-04-16 23:24] #9406 closed

[2019-04-16 23:26] Tratcher commented on #6975
ConventionBasedStartup was resolved by making the public type pubternal.
https://github.com/aspnet/AspNetCore/issues/6975#issuecomment-468479541

[2019-04-16 23:28] #9348 closed

[2019-04-16 23:33] pranavkm commented on #9348
For preview4, possible workarounds include:

1) Having a middleware that sets the value in `HttpContext.Items` after `UseCors()`

[code]

2) Disable the check in `EndpointRouting`:
[code]

The first one would be preferred since it's not removing a check for a mis-configured application.

[2019-04-17 00:06] sebastienros commented on #9445
Might also be fixed by https://github.com/dotnet/coreclr/pull/24045

[2019-04-17 00:08] #4422 closed

[2019-04-17 00:22] sebastienros commented on #9401
Apparently all the scenarios are impacted. I will do some more investigation. But filing so we don't forget.

[2019-04-17 00:23] Eilon commented on #9401
Got it. Just trying to figure out if it's MVC-specific, EF-specific, or general.

[2019-04-17 01:04] JoshSchreuder opened #9447 "DpapiXmlDecryptor - Exception decrypting element"
### Describe the bug
Getting exception logs regarding data protection at intervals through the day. I'm not entirely sure when this happens, it seems like maybe after app pool refresh or site installation.

I'm not using data protection, so it's not clear where these exceptions are being generated from (stack traces below).

The endpoint functions entirely correctly, so these exception messages do

[2019-04-17 02:43] jai00271 opened #9450 "Issue while running restore file due to MAX_PATH"
### Describe the bug
Getting error while running restore file via **.\restore.cmd** command

### Expected behavior
Should able to setup core in local

### Additional context
getting below error:

Run C:\Users\mritunjai_pratapsing\source\repos\Learning\AspNetCore\eng\scripts\InstallVisualStudio.ps1 to install Visual Studio prerequisites.

Could not find an installation of MSBuild which satisfies th

[2019-04-17 02:50] anurse commented on #9159
As @davidfowl said, this middleware isn't designed for this purpose and we don't have plans to add that functionality at this time.

[2019-04-17 02:50] #9159 closed

[2019-04-17 02:51] anurse commented on #8322
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-04-17 02:51] #8322 closed

[2019-04-17 02:53] anurse commented on #8550
Sounds like this is resolved. Static files isn't really designed to do content negotiation like this.

[2019-04-17 02:53] #8550 closed

[2019-04-17 02:58] anurse commented on #8503
As @blowdart said, this is by-design behavior when on HTTPS.

[2019-04-17 02:58] #8503 closed

[2019-04-17 03:00] jai00271 commented on #9450
After running the Installation file while loading the solution I get below error:

Detailed Information:
Unable to locate the .NET Core SDK. Check that it is installed and that the version specified in global.json (if any) matches the installed version.

![image](https://user-images.githubusercontent.com/26379288/56257746-eb6e5100-60ea-11e9-810a-05b226247f9f.png)

[2019-04-17 03:02] jai00271 commented on #9450
Also in command prompt, I get below error:

C:\Users\mritunjai_pratapsing\source\repos\Learning\AspNetCore>.\restore.cmd
Using KoreBuild 3.0.0-build-20190412.2
WARNING: dotnet found on the system PATH is 'C:\Program Files\dotnet\dotnet.exe' but KoreBuild will use 'C:\Users\mritunjai_pratapsing\source\repos\Learning\AspNetCore\.dotnet\x64\dotnet.exe'.
WARNING: Adding 'C:\Users\mritunjai_pratapsing\

[2019-04-17 03:03] anurse commented on #6633
Closing this as these belong in AspNetCore-Internal, plus RaaS sees all :).

[2019-04-17 03:03] #6633 closed

[2019-04-17 03:04] anurse commented on #2935
Closing as per @Tratcher 's comment.

[2019-04-17 03:04] #2935 closed

[2019-04-17 03:20] sankp commented on #9407
Thanks @Tratcher UseTokenLifetime = false worked. Cookies are not getting expire now. However I can override ExpireTimeSpan to any TimeSpan right ? which will become actual expiration TimeSpan of the cookie.

[2019-04-17 03:46] #9126 closed

[2019-04-17 03:46] #9183 closed

[2019-04-17 03:46] #9207 closed

[2019-04-17 03:57] Tratcher commented on #9407
Yes you can set ExpireTimeSpan. Note that value is primarily embedded inside the cookie and used by the server for verification. We don't set the normal cookie expiration value you'd see in the browser debugger tool sunless you set the "Remember Me" (IsPersistent) option for persisting cookies beyond this browser session.

[2019-04-17 03:59] iamgmd commented on #9437
I had a similar problem when I tried to call a Razor Page from a Blazor Component using Server side Blazor. What worked for me was to add/re-add 'app.UserMvcDefaultRoute();' in the Configure method, Like you, I couldn't get it working with 'routes.MapControllers();' which I have seen being used on other examples like below:

[code]

Once I added 'app.UseMvcWithDefaultRoute();', my Blazor component

[2019-04-17 04:11] PureKrome commented on #9275
Thanks for the help! Much appreciated. Yep, question has been answered.

[2019-04-17 06:25] mkArtak commented on #5694
Hi @fabercs.

This looks good. Depending on the number of resources you expect to have and the memory stress you are able to tolerate, you may even want to add an additional level of caching in the `GenericSharedResourceService`. The cache will essentially be a map between the key and the actual `localizer` you've found the first time, so there is no need to iterate over the other localizer on the

[2019-04-17 06:28] mkArtak commented on #6975
Thanks @JunTaoLuo.
@pranavkm please do the needful for the JSONPatch APIs.

[2019-04-17 06:28] mammadkoma opened #9451 "blazor not start with vscode"
Hi
I have vscode 1.33.1 & C# extension 1.19.0 and dotnetcore 3.0.100-preview3-010431
I created a blazor project named Blazorr and build it.
But when I open project with vscode and start (F5) , it give us error :
**A fatal error was encountered. The library 'hostpolicy.dll' required to execute the application was not found in 'E:\Projects\Blazorr\bin\Debug\netstandard2.0\'.
Failed to run as a self-

[2019-04-17 06:30] davidfowl commented on #6975
Has this been done for extensions as well or are we only looking at ASP.NET Core?

[2019-04-17 06:30] mkArtak commented on #4260
@pranavkm can you please confirm whether this is done already?

[2019-04-17 06:53] davidfowl commented on #9208
Yes this makes sense to me. I'm not aware of anyone that was trying to use auth outside of http scenarios.

Not true but I don't want to discuss that on github 😄. Remember there's still a thing called self contained applications. If no layers exist, trimming is *extremely* hard.

[2019-04-17 07:02] ZhangGaoxing commented on #7390
I think the issue should be reopened. I set `COMPLUS_ForceENC = 1` in `launchSettings.json`, but it doesn't work...☹
![image](https://user-images.githubusercontent.com/15957347/56267548-b3cecb80-6121-11e9-8b2f-1da612351092.png)

[2019-04-17 07:08] springy76 commented on #9337
Hmm. In my `Startup` class I have this method `public IServiceProvider ConfigureServices(IServiceCollection services)` which returns the DI container to use. How would I do this with IWebHostBuilder?

[2019-04-17 07:11] davidfowl commented on #9337
That does not work either. It doesn't compose with other methods on the `IHostBuilder`. There's a single DI container now that gets build after the application is fully composed.

You can now plug in a DI container using the `IServiceProviderFactory`:

[code]

[2019-04-17 07:26] sehra commented on #9434
Could be the same issue as #8369, try taking a dependency on StackExchange.Redis 2.0.593 or later and see if it helps.

[2019-04-17 07:47] jeroenheijmans commented on #9442
Out of curiosity, what is the typical use case (or if that's unanswerable: what _was_ the use case _here_) for making such "pubinternal" types in the first place?

(Please regard the above as pure curiosity around the design of large frameworks.)

[2019-04-17 07:54] shadialnamrouti opened #9452 "A suggestion to optimize the code of Identity scaffolding based on FxCopAnalyzers"
I have [Microsoft.CodeAnalysis.FxCopAnalyzers](https://docs.microsoft.com/en-us/visualstudio/code-quality/install-fxcop-analyzers?view=vs-2019) installed.

Scaffolding identity into a 2.2 .net core project with the option to override the implementation, generates more than150 warnings.

Summary:

**CA1819**: Properties should not return arrays
**CA1056**: Change the type of property _SomeUri_ from

[2019-04-17 07:59] fabercs commented on #5694
Thanks, I will reconsider this based on your caching advice.

[2019-04-17 07:59] #5694 closed

[2019-04-17 08:01] iamgmd commented on #9437
@baartho I have tested calling an API controller and don't seem to be having any issues after making the change. I am using a standard BlazorComponents project. Your Startup class seems to be a lot more advanced.

Startup.cs

[code]

[2019-04-17 09:01] JamesNK opened #31132 "Add analyzer to force ConfigureAwait(false) on all awaits"
We don't add `ConfigureAwait(false)` to ASP.NET Core code because there is no sync context. Microsoft.Extensions.* code could execute in client apps. Not using `ConfigureAwait(false)` can create deadlocks when a user mixes sync with async, e.g. https://github.com/aspnet/Extensions/issues/999.

Consider introducing an analyzer to enforce `ConfigureAwait(false)` everywhere. A quick search of this re

[2019-04-17 09:12] marklonquist commented on #9434
I've now tried setting a memory and CPU limit for the kubernetes deployment. We're now seeing a more stable memory consumption.

It seems when docker starts the container without a --memory parameter, that it just assumes it got all the resources it could ever need, and never does any proper GC (just an assumption on my part).

I might update the StackExchange.Redis if we see any issues again.

[2019-04-17 09:30] JonasJes commented on #7390
It worker for me in VS2017 but after updating to VS2019 it stopped working

[2019-04-17 10:23] iamgmd commented on #9437
@baartho I installed VS2019 16.1.0 Preview 1.0 along with the nightly build of the dotnet SDK 3.0.100-preview4-011223, Created a BlazorComponent solution and changed the Startup.cs to be as below and I was able to call a MVC controller without problems. I will assume that this will work for an API controller as well. Hope this helps.

Startup.cs

[code]

[2019-04-17 11:12] olitomlinson opened #9453 ""No server certificate was specified" - despite developer HTTPS cert existing"
### Describe the bug
Trying to use the default ASP.NET Core HTTPS Development Certificate to set up Kestrel WebServer (in a Service Fabric project) to debug locally.

[code]

Even though the Cert is installed with `dotnet dev-certs https --trust`

I still get the error :

[code]

I've tried clearing all the certificates manually from the Current User - Personal and Current User -Trusted RCA store,

[2019-04-17 11:41] freever commented on #9362
Hi @anurse - thanks for the prompt action. I am able to reproduce this myself but the stack trace I get is very... terse. This is all I have from Android:

[code]

I'm a bit snowed under right now but if you don't manage to reproduce this let me know and I'll give it a shot.

I'll see if the iOS stack trace is any more helpful and post it here if it is.

[2019-04-17 12:39] FerasInfeeny01 commented on #7952
Did you use App as part of the project's name ? because when i named the project Abc.App (for example), i faced the same problem because there were a conflict in the name that caused this message, so you have to use either the full name of the App class generated automatically or change the project name to avoid creating this namespace, so the issue was not related to Blazor but is related to the

[2019-04-17 12:55] StevenTCramer opened #9455 "Question: How to get WebHost Start Uri when using the generic IHost?"
I am updating my E2E tests in blazor-state and my test application now uses the new Generic IHost in Program.cs

In my ServerFixture I was doing StartAndGetRootUri just like @SteveSandersonMS [code](https://github.com/aspnet/AspNetCore/blame/5a70f5312fb57fc3788e5af56a99e7b43761e195/src/Components/test/E2ETest/Infrastructure/ServerFixtures/WebHostServerFixture.cs).

[code]

With the new IHost I don

[2019-04-17 12:58] masterjs commented on #9453
@olitomlinson , someone will likely confirm it soon, but my understanding of the `dev-certs` is that its only for `IIS Express` (and `IIS` if you want), not `Kestrel`

[2019-04-17 13:01] blowdart commented on #9452
Some of those can't be done, for example

"Change the type of property SomeUri from string to System.Uri"

However, the rest should be looked at, @mkArtakMSFT who is on point for templates right now?

[2019-04-17 13:25] olitomlinson commented on #9453
@masterjs thanks!

I've done some reading around, and interestingly I can't find any evidence to support or deny what you're saying.

I would have at least hoped for a note in the documentation to say that this is incompatible with Kestrel?

[2019-04-17 13:33] masterjs commented on #9453
You're right, It shouldn't be an issue.
Just saw this nice post: https://devblogs.microsoft.com/aspnet/asp-net-core-2-1-https-improvements/

[2019-04-17 13:34] madelson commented on #9124
@anurse is VS the one that owns the IIS module that makes this all work? My experience is that this problem exists both when starting the app via VS and when deploying the app using msdeploy.

[2019-04-17 13:52] MelnikovIG opened #9457 "[SignalR] How to add global AuthorizationFilter?"
How to add global AuthorizationFilter (with policies) to SignalR (like we are doing it for MVC via MvcOptions)?

[2019-04-17 14:30] natemcmaster commented on #6975
We're inconsistent right now. Some areas have moved away from using pubternal. Extensions has largely been untouched, with a few exceptions like logging.

[2019-04-17 14:48] cores-system opened #9458 "aspnet.blazor 0.8 vsix"
Hello, where can I download https://marketplace.visualstudio.com/items?itemName=aspnet.blazor for Blazor 0.8?

[2019-04-17 14:50] anurse commented on #9362
Yeah, unfortunately it looks like the stack trace isn't terribly helpful because it's an unobserved task exception. Task stack traces are notoriously tricky because the async code means the "logical" stack and the actual execution stack aren't the same.

We'll be bringing this up to some of our Xamarin contacts and see if we can dig something up :).

[2019-04-17 14:50] abergs commented on #4422
Glad to see this has been worked on by @jkotalik. Any ballpark guess regarding which version this will be shipped in? (Patch for .net core 2.2.x or .net core 3?)

[2019-04-17 14:51] anurse commented on #9124
We work very closely together but when it comes to launching and managing the IIS process as well as deploying the app, that is a VS concern. It just helps to track these issues in the relevant place :). Feel free to link any issue you create here and we'll work closely with the appropriate teams.

[2019-04-17 15:00] dotbirdman opened #19836 "Endpoints Configuration Schema Case Sensitivity"
The documentation says that endpoint names are case-insensitive, however if you were to use "https" in one file and then "Https" in another file (or "HTTPS" in an environment variable), they would be seen as two endpoints by Kestrel's `ConfigurationReader` calling `IConfiguration.GetChildren()`.  If you were to have different case for your endpoint names using different configuration sources (file

[2019-04-17 15:01] anurse commented on #2979
Yes, as a result of making it `internal` we'll need to shared-source it to "share" it properly.

[2019-04-17 15:05] anurse commented on #9299
I know many people on the team who would **love** to be able to click a button on a particular build of repo X and see all the PRs merged into repo X **and it's dependencies** since the last build.

The "ping" behavior is also very useful for the feature verification work we want to try and enable. I'd like engineers to be able to see this ping, install the referenced (or just the latest) build an

[2019-04-17 15:06] rynowak commented on #6975
The JSON Patch stuff should be left as-is. Everyone who's using JSON patch is using those APIs. There's no point in breaking everyone who uses something.

[2019-04-17 15:10] mmitche commented on #9299
Okay thanks.  We'll need to come up with a design (UX + actual implementation).  I don't know how soon this could be done, as there is a rather large lineup of other things that need to be done for P7 that take higher precedence.

[2019-04-17 15:14] mkArtakMSFT commented on #6975
@rynowak, why wouldn't we turn these APIs public then?

[2019-04-17 15:15] #8974 closed

[2019-04-17 15:17] rynowak commented on #6975
They are `public` in the .NET sense, along with everything else discussed here.

They are in the `Microsoft.AspNetCore.JsonPatch.Internal` namespace. I don't think it's sensible to change that because of how common it is for users of JsonPatch to use these types.

[2019-04-17 15:18] JMaroz commented on #9245
The issues is in the SignalR library when the user send a new message and the app invoke the follow method
`
    @WorkerThread
    private fun sendMessage(messageToSend: RealTimeEvent.Message) {
        log("Send: newMessage $messageToSend")
        eventCallback.postValue(messageToSend)
        try {
            if (isConnected()) {
                val message = messageToSend.message

[2019-04-17 15:23] anurse commented on #9245
Can you post a complete sample to a GitHub repo or something? Specifically, we need to see the **definitions** for the objects you are sending. For example, what is this `UUID` type? Is it compatible with GSON (the JSON serialization library we use)?

[2019-04-17 15:47] mmitche commented on #9299
Another thought I had was that this should be a generalized app that produces a check on a PR

[2019-04-17 15:49] YurySolovyov commented on #9307
It is not like I was looking for specific features or fixes, but rather a reliable source of latest libuv releases (as discussed in https://github.com/libuv/libuv/issues/1042)

[2019-04-17 15:51] mayconbeserra opened #9459 ""Cookies" was not authenticated. Failure message: "Unprotect ticket failed""
### Describe the bug
from time to time, I'm getting the message below in my logs, and unauthorised status, but for some requests.

**"Cookies" was not authenticated. Failure message: "Unprotect ticket failed"**

### Code

I'm registering the DataProtection in this way
[code]

### Expected behavior
All the requests should not have the unprotect ticket failed issue

### Additional context

![image](

[2019-04-17 15:55] danroth27 opened #9460 "Change the order of the project templates so they show up in VS grouped together"
The Blazor client-side and server-side templates should show up in VS grouped together. Currently the Blazor server-side template shows up further down the list.

![blazor templates](https://user-images.githubusercontent.com/1874516/56302412-8ae11300-60ee-11e9-9f84-1836ca59d59e.gif)

[2019-04-17 15:56] anurse commented on #9307
Gotcha, thanks for the info.

[2019-04-17 16:18] pranavkm commented on #9402
Changes are in. Leaving open for verification.

[2019-04-17 16:19] natemcmaster commented on #8441
Yes. Until #4257 is complete, packages produced by calling `dotnet pack` may not actually be 100% correct.

[2019-04-17 16:19] mkArtakMSFT commented on #9458
Thanks for contacting us, @cores-system.
As we're still in preview, we don't maintain older versions of the extensions. Only the latest version of the Blazor extension is available for download.

[2019-04-17 16:19] #9458 closed

[2019-04-17 16:21] mkArtakMSFT commented on #9436
@javiercn can you please have a look at this and see what prevents us from supporting IE11? Thanks!

[2019-04-17 16:23] mkArtakMSFT commented on #9435
Thanks for contacting us, @ericgrantholland.
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-04-17 16:25] mkArtakMSFT commented on #9417
Thanks for contacting us, @gustavnavar.
This will be addressed as part of https://github.com/aspnet/AspNetCore/issues/5471.

[2019-04-17 16:25] #9417 closed

[2019-04-17 16:25] johmarjac commented on #3176
I am still having this issue, on my local it works, on my remote machine it does not work. First I was using only app.UseHttpsRedirect(). This didnt work, so I came here and thought I could try to add services.AddHttpsRedirection(options => options.HttpsPort = 443);

Did that, without success, so what now? Calling my site on https://mydomain.net works without problem, but if I call http://mydomain

[2019-04-17 16:26] pranavkm commented on #8441
Okies. I'll close this as dup.

[2019-04-17 16:26] #8441 closed

[2019-04-17 16:27] davidfowl commented on #9455
[code]

[2019-04-17 16:27] mkArtakMSFT commented on #9410
Thanks for contacting us, @mashbrno.
We think this is fixed in the `Preview4` release. If you will face this issue after upgrading to Preview4, please reopen this issue and we'll look into it further.

[2019-04-17 16:27] #9410 closed

[2019-04-17 16:30] Tratcher commented on #3176
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2019-04-17 16:31] mkArtakMSFT commented on #9366
This indeed seems like a dupe, as @henkmollema has pointed out above.

[2019-04-17 16:31] #9366 closed

[2019-04-17 16:32] guardrex commented on #3176
@johmarjac Open it using the **This Page** button at the bottom of https://docs.microsoft.com/aspnet/core/security/enforcing-ssl

[2019-04-17 16:33] baartho commented on #9437
I'm sorry but where did you download the SDK preview 4? I even looked for other branches of .NET Core on github but couldn't find.

https://github.com/dotnet/core/tree/master/release-notes

[2019-04-17 16:33] pranavkm commented on #9415
Dup of https://github.com/aspnet/AspNetCore/issues/6106. See https://github.com/aspnet/AspNetCore/issues/6106#issuecomment-458359368 for the resolution.

[2019-04-17 16:33] #9415 closed

[2019-04-17 16:35] davidfowl commented on #9457
There's nothing like this in 2.2 but in 3.0 it'll be possible with endpoint routing (there's a blog post coming soon that descibes how it will work going forward).

[2019-04-17 16:37] mkArtakMSFT commented on #5635
Thanks for contacting us, @scottsauber.
We have no plans to do this in the near future.

[2019-04-17 16:37] #5635 closed

[2019-04-17 16:37] #5634 closed

[2019-04-17 16:39] mkArtakMSFT commented on #5627
Looks like this was a Linker issue. If you still face this problem, please file an issue on the https://github.com/mono/mono repo.

[2019-04-17 16:39] #5627 closed

[2019-04-17 16:40] Eilon commented on #7180
We clearly didn't get to this in preview4, and it's not going to happen in preview5 either.

At this point do we close it, or is it worthy as a Backlog item for future consideration?

[2019-04-17 16:41] mkArtakMSFT commented on #5626
Thanks for contacting us, @philipri.
This is not something we plan to do in the near future.

[2019-04-17 16:41] #5626 closed

[2019-04-17 16:41] Eilon commented on #3610
@natemcmaster - can you provide some info on the "Open question" above? Is this done, or is there more work remaining?

[2019-04-17 16:43] Eilon commented on #4136
Thanks @Tratcher .

@anurse - is SiteExtension in an area you own? What `area-` label should it be? And, any thoughts on the importance of this issue?

[2019-04-17 16:44] Eilon commented on #9460
Preview4?

[2019-04-17 16:45] mkArtakMSFT commented on #5615
Thanks for contacting us, @lalibi.
This is not something we plan to provide support for out of the box.

[2019-04-17 16:45] #5615 closed

[2019-04-17 16:47] Tratcher commented on #9445
Does this test cover the .NET client, server, or both?

[2019-04-17 16:49] mkArtakMSFT commented on #5611
Closing this as a dupe of https://github.com/aspnet/AspNetCore/issues/9061

[2019-04-17 16:49] #5611 closed

[2019-04-17 16:49] Tratcher commented on #9453
The dev cert is explicitly for Kestrel.

Do service fabric projects have special dev environments? e.g. emulators, containers, etc??

[2019-04-17 16:50] #5609 closed

[2019-04-17 16:50] #5608 closed

[2019-04-17 16:51] sebastienros commented on #9445
Server only, load is generated by h2load.
I have applied the fix I mentioned but the perf didn't recover fully. I will now try by switching System.Net.Http before and after the change to verify my assumptions.

[2019-04-17 16:52] mkArtakMSFT commented on #5602
Thanks for contacting us, @Tarmil.
Feel free to submit a PR and we'd happily consider it, if this is still a problem.

[2019-04-17 16:53] #5599 closed

[2019-04-17 16:53] Tratcher commented on #9445
The client and server implementations are completely independent. Kestrel should not be affected by the linked commits.

[2019-04-17 16:53] mkArtakMSFT commented on #5593
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-04-17 16:53] #5593 closed

[2019-04-17 16:54] anurse commented on #4136
I guess? I'd say `servers` is probably most appropriate.

[2019-04-17 16:54] anurse commented on #4136
Or maybe installers... we'll play with it.

[2019-04-17 16:55] natemcmaster commented on #3610
Work remaining: ensure these requirements are met (they are not currently). This will require a combination of writing tests and changing some MSbuild goop.

* Reference assemblies must not change assembly version in patch updates. They remain constant at "Version=3.0.0.0" for the lifetime of netcoreapp3.0.
* Implementation binaries must satisfy the API surface of the reference assembly
* API brea

[2019-04-17 16:56] anurse commented on #4136
I need a little more context on this issue. Will sync with @Tratcher and @BrennanConroy

[2019-04-17 16:56] sebastienros commented on #9445
Didn't see it was client only, but that makes sense, thanks, I will wait for the new runtime to get in then.

[2019-04-17 16:57] natemcmaster commented on #9450
Try moving your source code into a shorter prefix. "C:\Users\mritunjai_pratapsing\source\repos\Learning\AspNetCore\" is too long. Most developers on our team use something like "C:\source\AspNetCore" instead.

[2019-04-17 16:57] sebastienros commented on #9404
The first drop corresponds to when I changed the benchmarks to actually flow the headers.

[2019-04-17 16:58] anurse commented on #4136
Queuing this for re-triage. There's no customer report yet.

[2019-04-17 16:59] anurse commented on #9444
For now, let's add the fetch-based client and prefer it on browsers where it will work. Then we can revisit removing the XHR client.

[2019-04-17 16:59] blowdart commented on #9459
Has your redis cache recycled or otherwise emptied?

[2019-04-17 16:59] mkArtakMSFT commented on #9451
Thanks for contacting us, @mammadkoma.
@NTaylorMullen can you please look into this? Thanks!

[2019-04-17 17:00] mkArtakMSFT commented on #9451
@mammadkoma you would probably get a faster response on `StackOverflow`.

[2019-04-17 17:12] iamgmd commented on #9437
You can download the nightly build of dotnet from:

https://github.com/dotnet/core-sdk

From: baartho <notifications@github.com>
Sent: 17 April 2019 17:34
To: aspnet/AspNetCore <AspNetCore@noreply.github.com>
Cc: Geoff Davis <geoff@email2davis.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/AspNetCore] API Controllers routes isn't working on Blazor Server Side (#9437)

I'm sorry

[2019-04-17 17:16] natemcmaster commented on #6975
Let's add the pubternal analyzer to all assemblies. If there are any remaining PUB001 errors, let's open granular issues for each and assign to area owners.

[2019-04-17 17:23] sebastienros commented on #9404
@stephentoub this benchmark is mostly about HttpClient under load, no SSL. Do you see anything in the changes I linked to that could explain the regression?

[2019-04-17 17:27] pranavkm opened #9466 "Provide an API to configure the TempDirectory used by ASP.NET Core"
ASP.NET Core currently uses an environment variable to drive the temp directory, falling back `Path.GetTempPath()`. See https://github.com/aspnet/AspNetCore/blob/56e2080ef7741dea9a5c24a8e0639b0921be2d22/src/Http/Http/src/Internal/BufferingHelper.cs#L18-L39.

This path is currently in use by `FileBufferingReadStream` and as of https://github.com/aspnet/AspNetCore/pull/9015 change, by `FileBuffering

[2019-04-17 17:28] pranavkm commented on #9466
See https://github.com/aspnet/AspNetCore/pull/9015#discussion_r271938569 for disussions. cc @Tratcher

[2019-04-17 17:34] danroth27 commented on #9460
Whoops - should be Preview5.

@mkArtakMSFT

[2019-04-17 17:34] mayconbeserra commented on #9459
Hi @blowdart

Yes, but during the night. Our Redis container was recreated and there was no volume for it. I guess the application will recreate the keys on redis in any additional request.

![image](https://user-images.githubusercontent.com/911493/56308299-42a20f00-6147-11e9-8077-cc93f9e58aa1.png)

Besides that, in the screenshot above, you can see two requests, one successful call to the `/confi

[2019-04-17 17:39] blowdart commented on #9459
Make the cache persistent would be one way to go, but yea, if your cache empties and all the keys go, then this is rather expected

[2019-04-17 17:42] #9455 closed

[2019-04-17 17:44] StevenTCramer commented on #9455
@davidfowl Thanks I knew you guys would know.   Now I guess I can do a PR to update your tests?

[2019-04-17 17:45] anurse commented on #6475
@John0King in general, the only way to be sure to catch network disconnects is through timeouts and ping messages. There are many scenarios where a client/server will simply disappear and stop responding to messages and you won't get any response. This is true for any socket, including WebSockets :).

@jkotalik Is 2.1.7 available for IIS Express now?

[2019-04-17 17:47] anurse commented on #2464
It's not possible to configure the ping/pong frames between IIS and Kestrel when using the out-of-proc version of ANCM. Ping/pongs are entirely controlled by IIS and aren't visible to the application. If you need an application-specific ping/pong behavior, you'll have to put that in your own logic.

[2019-04-17 17:47] #2464 closed

[2019-04-17 17:49] anurse commented on #2969
Closing this since RaaS is tracking failures in AspNetCore-Internal. If this is still happening, we can triage it there.

[2019-04-17 17:49] #2969 closed

[2019-04-17 17:50] anurse commented on #3267
Can you provide a sample project that reproduces the issue?

[2019-04-17 17:51] nehmebilal commented on #2464
@anurse Can you explain then what the `KeepAliveInterval` parameter is for? If it has no effect, shouldn't be removed?

[2019-04-17 17:51] anurse commented on #2930
Closing this as it's gotten very stale  :).

[2019-04-17 17:51] #2930 closed

[2019-04-17 17:52] anurse commented on #3108
Duplicate of https://github.com/aspnet/AspNetCore/issues/2865

[2019-04-17 17:52] #3108 closed

[2019-04-17 17:54] willportnoy commented on #7077
@davidfowl how can you gracefully shutdown the process (from within a controller, for example) without an injected IApplicationLifetime?

[2019-04-17 17:59] anurse commented on #2462
Closing as we have other issues tracking the work that came out of this discussion.

[2019-04-17 17:59] #2462 closed

[2019-04-17 18:09] marklonquist commented on #9434
after setting a limit we've seen no issues with memory just rising. We also updated StackExchange.Redis for good measure as the issue in #8369 seems pretty nice to get rid of.

Thanks for the help!

[2019-04-17 18:09] #9434 closed

[2019-04-17 18:10] davidfowl commented on #7077
@willportnoy This issue is about the Startup constructor specifically, not controllers.

[2019-04-17 18:12] willportnoy commented on #7077
@davidfowl Sorry, controllers were a bad example.  I have a custom debug adapter for Visual Studio Code running within my ASP.NET Core service and I'd like to gracefully exit.  I set up my TCP listener service within the Startup.ConfigureServices.  Is there a method to gracefully exit from services constructed within Startup?

[2019-04-17 18:20] GrabYourPitchforks commented on #3514
So there are a few ways forward:

a) Make a change to each of the repository implementations to take advantage of transactional capabilities of the underlying data store. This should work but would be some amount of code churn and complexity.

b) Make the change described in https://github.com/aspnet/AspNetCore/issues/3514#issuecomment-472204177 without changing any of the repository implementatio

[2019-04-17 18:24] Tratcher commented on #7077
@willportnoy can you show us how that works today?

I'd expect it to be a service that you'd IApplicationLifetime into directly.

[2019-04-17 18:25] anurse commented on #2464
The KeepAliveInterval **does** control how frequently the server sends Ping messages, the problem is that when running behind IIS, those messages are received by IIS and not forwarded to the client. It should still work fine when using Kestrel directly.

This could also be true of any downstream proxy. We don't know about those, so we have the API to control our behavior.

[2019-04-17 18:26] anurse commented on #9455
You mean to update the tests to use `Host` instead of `WebHost`? Sure, I think that would be OK.

[2019-04-17 18:29] davidfowl commented on #9455
It might be very hard but give it a shot.

cc @natemcmaster

[2019-04-17 18:34] davidfowl commented on #3514
I think we should use what the underlying store provides (and start with just redis since most of the issues seem to be people using redis) *but* if b) is cheaper it seems like a fair thing to try and see if people still hit the issue.

[2019-04-17 18:44] willportnoy commented on #7077
@Tratcher I need to be able to gracefully shut down the process within the DebugAdapter here within Startup.ConfigureServices:

https://github.com/Microsoft/botbuilder-dotnet/blob/4.next/samples/Microsoft.Bot.Builder.TestBot.Json/Startup.cs#L73

[2019-04-17 18:47] sebastienros commented on #9445
Also it doesn't repro on windows, so most probably related to dotnet/coreclr#24045 which is already merged.

[2019-04-17 18:51] davidfowl commented on #9466
Tricky as we don’t have a good way to flow this to the places that need this.

[2019-04-17 19:01] pranavkm opened #9468 "DynamicPageEndpointMatcherPolicy has incorrect assertion when MapFallback is used"
Startup code:

[code]

Here's the result:

![image](https://user-images.githubusercontent.com/174281/56313866-79a50000-6108-11e9-9444-742776e2cdd0.png)

[2019-04-17 19:01] pranavkm commented on #9468
cc @rynowak

[2019-04-17 19:08] Tratcher commented on #9466
Yes we do. https://github.com/aspnet/AspNetCore/pull/9015#discussion_r275858444

[2019-04-17 19:11] Tratcher commented on #7077
@willportnoy that example doesn't use IApplicationLifetime? Only IHostingEnvironment and IConfiguration which still work.

[2019-04-17 19:16] stephentoub commented on #9404
Nothing jumps out at me.

[2019-04-17 19:17] jmk92 commented on #4422
@abergs I think, in the current situation, it may be updated to Preview 5.

Preview 4 will be released soon, and Preview 5 will take more than a month, or even two to three months.

2.2.4 just released a few days ago, 2.2.5 will take at least one month, so it seems.

We have to wait at least one month, no matter which one...

[2019-04-17 19:17] Diaskhan opened #9470 "Multiple web hosts"
Is there possible to implement few webhosts?

For example
1.host of main application (port 80)
2. Adm console that could reload first host ! (Port 8080) need full reload of first host because runtime assemblyes has changed !

If there is possible could give link for documentation ?

[2019-04-17 19:17] sebastienros commented on #9404
I will investigate then.

[2019-04-17 19:22] willportnoy commented on #7077
@Tratcher I was unable to obtain IApplicationLifetime from the startup constructor (this GitHub issue) so that I could pass it to DebugAdapter and use it when VSCode terminates the debug session.

I need to be able to gracefully shut down the process - IApplicationLifetime seemed like the correct method, but it does not seem to be available in Startup.  Is there another method I should use?

[2019-04-17 19:23] pranavkm opened #9471 "Multiple @page attribute in .razor file causes VS to print a warning"
Consider:

[code]

In VS, I can see a design time error that says duplicate `@page` attributes are not allowed. However, the build succeeds and the page is accessible thru either routes.

[2019-04-17 19:25] Tratcher commented on #4422
Right, preview5 is the next regular 3.0 release. We're also considering this for a patch in 2.2.6 or later.

[2019-04-17 19:26] pranavkm commented on #9471
Nevermind. Old tooling.

[2019-04-17 19:26] #9471 closed

[2019-04-17 19:40] Tratcher commented on #7077
@willportnoy This issue was initially about 3.0 behavior, but I checked 2.x and realized IApplicationLifetime was never available in the Startup constructor, it was only ever added to the application level container.
https://github.com/aspnet/AspNetCore/blob/dd655bcc9a94b63cc9f1a60585ae9e1f2d08668f/src/Hosting/Hosting/src/Internal/WebHost.cs#L79

Back to your example. I'd say the real question is

[2019-04-17 19:40] generik0 opened #9472 "Microsoft.AspNetCore.SignalR.Client for .net45x"
Hi

Thanks for the great work on aspnetcore, and in this case the aspnetcore signalr

I have seen this question asked other places. I just want to make sure.
If we want to migrate our "old" Microsoft.AspNet.SignalR self hosted to Microsoft.AspNetCore.SignalR.
But we still have som clients we cannot migrate to net461+ than this is a no go?

I.e. there in no net452 signalr client that can connect to

[2019-04-17 19:42] generik0 commented on #9472
releated=? https://github.com/aspnet/SignalR/issues/1484

[2019-04-17 19:46] natemcmaster opened #9473 "Clean up baseline reference suppression"
As a part of https://github.com/aspnet/AspNetCore/pull/9405, I added a way to tell the build system when breaking changes to `<References>` are intentional and can be ignored. This is done by adding a `<SuppressBaselineReference>` item to the .csproj file.

After 3.0 is complete, we will update our baseline files, but we should also remove all baseline suppressions to make sure 3.1 is consistent w

[2019-04-17 19:50] JamesNK commented on #7180
It's worth doing, there is no urgency. Backlogging.

[2019-04-17 19:50] natemcmaster commented on #3611
This work was completed in 3.0 preview 4.

* Conflict resolution data is shipped in targeting packs as .txt files which the SDK supports
* Mvc and Razor targets and tasks ship in the Web SDK.
* User secrets support was added to Microsoft.NET.Sdk
* Those who want to use the embedded file provider can opt-in to the manifest generation by adding a PackageReference to Microsoft.Extensions.FileProvider

[2019-04-17 19:50] #3611 closed

[2019-04-17 20:07] blowdart commented on #9215
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-04-17 20:07] #9215 closed

[2019-04-17 20:08] blowdart commented on #9110
@javiercn Does this mean you checked-in updates to use the latest react and we can close this?

[2019-04-17 20:09] blowdart commented on #9107
*sigh* Chrome. I think this is going to take thought, which certainly rules it out for the next preview.

[2019-04-17 20:13] blowdart commented on #5836
We don't think this is a common enough scenario to add support for. If others disagree then can reopen and express their needs.

[2019-04-17 20:13] #5836 closed

[2019-04-17 20:13] blowdart commented on #5831
Damian doesn't want it for now, so ...

[2019-04-17 20:13] #5831 closed

[2019-04-17 20:15] blowdart commented on #5825
This files don't exist any more

[2019-04-17 20:15] #5825 closed

[2019-04-17 20:16] blowdart commented on #5821
Those are internal implementation helpers and not are designed for wider use.

[2019-04-17 20:16] #5821 closed

[2019-04-17 20:17] #5820 closed

[2019-04-17 20:18] blowdart commented on #5816
We believe we've fixed this for 3.0

[2019-04-17 20:18] #5816 closed

[2019-04-17 20:20] blowdart commented on #5814
We're closing this issue as its so old.

[2019-04-17 20:20] #5814 closed

[2019-04-17 20:21] blowdart commented on #5807
This can be scaffolded out, and is more obvious in 3.0, so we're treating this as fixed.

[2019-04-17 20:21] #5807 closed

[2019-04-17 20:23] blowdart commented on #5830
Haok forgot to close it :)

[2019-04-17 20:23] #5830 closed

[2019-04-17 20:24] blowdart commented on #9079
@javiercn Hao thinks you checked in a fix for this, is that correct?

[2019-04-17 20:24] Eilon commented on #3654
I reviewed all current master Obsolete attributes in our product code repos (EF, AspNetCore, Tooling, and Extensions) and none are remnants from 2.2 So, we're good to go for 3.0!

[2019-04-17 20:24] #3654 closed

[2019-04-17 20:30] blowdart commented on #5801
@javiercn Is this a good idea? We think this was your area.

[2019-04-17 20:32] blowdart commented on #5774
Due to lack of demand we're backlogging this until more support arises.

[2019-04-17 20:33] blowdart commented on #5773
Templates fixed to make it work better, as it's a templates thing, rather than identity

[2019-04-17 20:33] #5773 closed

[2019-04-17 20:35] blowdart commented on #5760
Well, as we have no plans to make that class public and supported, we're not doing this, unless you can move it into CoreFX and System.Security where it should be if it was public

[2019-04-17 20:35] #5760 closed

[2019-04-17 20:36] blowdart commented on #5757
Closed as we think we've fixed it in later versions.

[2019-04-17 20:36] #5757 closed

[2019-04-17 20:37] blowdart commented on #5756
Closed, as this is common throughout asp.net and should be part of a wider breaking push if one were to happen

[2019-04-17 20:37] #5756 closed

[2019-04-17 20:38] blowdart commented on #5755
New overloads were added, so we consider those sufficient.

[2019-04-17 20:38] #5755 closed

[2019-04-17 20:38] olitomlinson commented on #9453
@Tratcher Good question which prompted me to do some reading and I found this.

Looks like its not that simple to get HTTPS running locally in Service Fabric due to (NETWORK SERVICE needing to access the certificates private key)[https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-dotnet-app-enable-https-endpoint#give-network-service-access-to-the-certificates-private-key

[2019-04-17 20:39] blowdart commented on #5752
We're not touching the optional items, because template changes are just awful right now and it's a lot of work for very little reward

[2019-04-17 20:39] #5752 closed

[2019-04-17 20:40] #9453 closed

[2019-04-17 20:40] blowdart commented on #5742
Killing as the issue is so old it should be on life support, and we're not doing schema changes right now

[2019-04-17 20:40] #5742 closed

[2019-04-17 20:41] blowdart commented on #5727
Closing as we believe is addressed more fully as part of the upcoming account confirmation changes

[2019-04-17 20:41] #5727 closed

[2019-04-17 20:44] blowdart commented on #5722
Noone has asked for this in 2 years, so closing

[2019-04-17 20:44] #5722 closed

[2019-04-17 20:56] pranavkm commented on #5548
@springy76 could you share a sample that reproduces the error?

[2019-04-17 21:08] mkArtakMSFT commented on #9416
Thanks for contacting us, @dima117.
@ryanbrandenburg can you please review the provided PR? Thanks!

[2019-04-17 21:13] mkArtakMSFT commented on #9381
Thanks for contacting us, @rosskyl.
@pranavkm can you please answer this question? Thanks!

[2019-04-17 21:15] mkArtakMSFT commented on #9381
Looks like the question have been answered at https://github.com/aspnet/mvc/issues/1517

[2019-04-17 21:15] #9381 closed

[2019-04-17 21:16] mkArtakMSFT commented on #9375
Thanks for contacting us, @cremor.
@glennc what needs to be done here?

[2019-04-17 21:18] mkArtakMSFT commented on #9373
Thanks for contacting us, @lonix1.
This is not something we plan to do in the near future.

[2019-04-17 21:18] #9373 closed

[2019-04-17 21:20] mkArtakMSFT commented on #9369
Thanks for contacting us, @lonix1.
Glad you've found solution to your problem. Happy to accept a PR for docs if you want.

[2019-04-17 21:20] #9369 closed

[2019-04-17 21:21] mkArtakMSFT commented on #9360
Thanks for contacting us, @tn-5.
Closing this issue as a dupe of #9402

[2019-04-17 21:21] #9360 closed

[2019-04-17 21:25] mkArtakMSFT commented on #7564
Thanks for contacting us, @koenigst.
@rynowak any suggestions here?

[2019-04-17 21:33] mkArtakMSFT commented on #7564
@koenigst rather than manually constructing URLs manually, you should consider generating a client based on the swagger document of your service and then just calling methods passing proper parameters to them. This is an area we're making active improvements and things will get even simpler in the near future: https://github.com/aspnet/AspNetCore/issues/4896

[2019-04-17 21:33] #7564 closed

[2019-04-17 21:35] mkArtakMSFT commented on #7560
Thanks for contacting us, @drowhunter.
@javiercn can you please investigate this? Thanks!

[2019-04-17 21:39] mkArtakMSFT commented on #7524
@javiercn is there any other suggestion we can provide here? If not, and if this is external let's close this issue, as there are some suggestions in the referenced issue in the `IdentityServer4` repo.

[2019-04-17 21:40] Eilon opened #9479 "Produce reference assemblies for Microsoft.AspNetCore.App"
This issue is a follow-up to https://github.com/aspnet/AspNetCore/issues/3610 for remaining work.

From @natemcmaster :

Work remaining: ensure these requirements are met (they are not currently). This will require a combination of writing tests and changing some MSbuild goop.

* Reference assemblies must not change assembly version in patch updates. They remain constant at "Version=3.0.0.0" for t

[2019-04-17 21:41] mkArtakMSFT commented on #7493
Thanks for contacting us, @ackava.
We're closing this issue as the pending work is tracked as part of #7538

[2019-04-17 21:41] #7493 closed

[2019-04-17 21:41] Eilon commented on #3610
Got it. I'm closing this issue as Done for preview 4, because the bulk of the work was completed. I logged https://github.com/aspnet/AspNetCore/issues/9479 to track the remaining work for a later milestone.

[2019-04-17 21:41] #3610 closed

[2019-04-17 21:41] #7455 closed

[2019-04-17 21:41] mkArtakMSFT commented on #7455
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-04-17 21:42] #7393 closed

[2019-04-17 21:45] mkArtakMSFT commented on #7272
Thanks for contacting us, @akalcik.
Unfortunately, this will require a feature from the serializer, which is not currently available. We may reconsider in the future, if that feature becomes available.

[2019-04-17 21:49] mkArtakMSFT commented on #7272
Thanks for contacting us, @akalcik.
You should be able to use `JsonProperty` attribute to achieve what you want. See https://www.newtonsoft.com/json/help/html/JsonPropertyRequired.htm

[2019-04-17 21:49] #7272 closed

[2019-04-17 21:50] Eilon commented on #4248
@HaoK / @aspnet/build / @ajcvickers - what milestone should this be in?

[2019-04-17 21:53] mkArtakMSFT commented on #7141
Thanks for contacting us, @pwen090.
You can configure the `WebApplicationFactory` using https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.testing.webapplicationfactory-1.withwebhostbuilder?view=aspnetcore-2.2#Microsoft_AspNetCore_Mvc_Testing_WebApplicationFactory_1_WithWebHostBuilder_System_Action_Microsoft_AspNetCore_Hosting_IWebHostBuilder__ APIs.

[2019-04-17 21:53] #7141 closed

[2019-04-17 21:54] ajcvickers commented on #4248
Moved it to 6 for now.

[2019-04-17 21:57] Tratcher commented on #9470
It's fully supported for the self-host scenario (not IIS). There's no specific doc, you just create two webhosts and give them different config.

[2019-04-17 21:57] mkArtakMSFT commented on #7158
Thanks for contacting us, @akalcik.
Feel free to send a PR for this and we'll happily consider it.
As this will potentially be a breaking change, this should be backed by some compatibility option.

[2019-04-17 22:01] mkArtakMSFT commented on #7184
Thanks for contacting us, @J0nKn1ght.
We are working on providing a migration guide to the Endpoint Routing and that will come out during the 3.0 release.

[2019-04-17 22:01] #7184 closed

[2019-04-17 22:02] Tratcher commented on #9470
Note for the reload you'd need to recycle the whole process. See IApplicationLifetime.StopApplication.

[2019-04-17 22:03] mkArtakMSFT commented on #7271
Thanks for contacting us, @akalcik.
`BindRequired` attribute doesn't work with `Json.Net`. You can use the `JsonProperty` attribute instead: https://www.newtonsoft.com/json/help/html/JsonPropertyRequired.htm

[2019-04-17 22:03] #7271 closed

[2019-04-17 22:12] mihaimyh commented on #8619
I have this issue too.

I created a new `dotnet new razorcomponents` using command line since I don't have the template in VS2019 (Version 16.1.0 Preview 1).

When running the app using Kestrel and accessing it from my mobile phone browser it throws this exception:

`Microsoft.AspNetCore.SignalR.Internal.DefaultHubDispatcher[8]
      Failed to invoke hub method 'StartCircuit'.
System.InvalidOperat

[2019-04-17 22:21] pranavkm opened #9480 "Remove restores during tests from Razor.Sdk tests"
https://github.com/aspnet/AspNetCore-Tooling/pull/409/files enabled restores during tests. We changed our tests to avoid restores during running tests since those often timed out. We need to clean up these changes.

[2019-04-17 22:27] mkArtakMSFT commented on #9137
@ajaybhargavb, given that @NTaylorMullen is out, can you please try to figure out what's going on here? Thanks!

[2019-04-17 22:28] mkArtakMSFT commented on #4809
Looks like this is not a warning rather just an informational message, which we're ok with.

[2019-04-17 22:28] #4809 closed

[2019-04-17 22:53] mkArtakMSFT commented on #9460
After some back and forth on this we've decided to stick to the following order:

| Template                  | Current order | Preferred order |
|---------------------------|---------------|-----------------|
| EmptyWeb-CSharp           | 100           | 100             |
| EmptyWeb-FSharp           | 100           | 100             |
| WebApi-Csharp             | 200           | 200

[2019-04-17 23:02] davidfowl commented on #9466
That doesn't look like a solution. Doesn't that say pass an argument? Isn't this about defaults? What am I missing?

[2019-04-17 23:14] JamesNK commented on #9195
Hi @epignosisx

I've investigated your issue and I have reproduced what you see: your scenario is broken in 2.2 and it is fixed in 2.2 when endpoint routing is turned off.

I also tested your scenario in 3.0 with endpoint routing and confirmed that it works in the latest source code.

Because the fix in 2.2 is quite simple - turn off endpoint routing - and the issue is already fixed in 3.0, I'm he

[2019-04-17 23:21] #9195 closed

[2019-04-17 23:23] jkotalik commented on #9223
Yeah... we still should try to start using the corefx adapters though.

[2019-04-17 23:32] DaniJG commented on #7812
The SPA approach seems to be having ASP.NET Core in charge, with HTTP traffic always coming to ASP.NET Core who will proxy to the SPA's dev server.

Have you people considered the opposite approach?  On startup, ASP.NET Core could still launch the start/serve scripts of the SPA but it can then tell the browser to direct traffic to the SPA dev server, and its the dev server the one that will proxy

[2019-04-17 23:37] Tratcher commented on #9466
The options would be consumed by the thing creating the buffer streams such as EnableRewind or MVC's output formatters.
https://github.com/aspnet/AspNetCore/blob/425c196cba530b161b120a57af8f1dd513b96f67/src/Http/Http/src/Internal/BufferingHelper.cs#L41-L51
There was also a proposal to bundle that configuration and stream creation into a service/factory so the individual call sites didn't need to d

[2019-04-17 23:43] Eilon commented on #9460
Naive here, but what happens when multiple items are at the same order? Random? Alphabetical?

[2019-04-18 00:05] mikaelm12 commented on #9472
That is correct. The points in the issue you linked (https://github.com/aspnet/SignalR/issues/1484) still hold true. We don't plan on supporting anything below NET Standard 2.0

[2019-04-18 00:25] #8472 closed

[2019-04-18 00:30] natemcmaster commented on #8472
We are updating DataProtection.AzureStorage in 3.0 to use the new Microsoft.Azure.Storage.Blob dependency. This should resolve the compiler conflict in the scenario originally reported.

If you want to use Microsoft.Azure.Storage.Blob in 2.1 and 2.2 apps along with DataProtection.AzureStorage, you can resolve the compiler error by fully-qualifying the type reference, or adding a `using` such as th

[2019-04-18 00:31] natemcmaster commented on #4019
@DarkCompiled - I updated our Azure dependency in https://github.com/aspnet/AspNetCore/pull/9465. We will continue to review others in the coming weeks.

[2019-04-18 00:32] #9189 closed

[2019-04-18 00:34] shirhatti opened #9486 "Create an RPS EventCounter"
Let's add an RPS EventCounter in ASP.NET for use with the [dotnet-counters](https://github.com/dotnet/diagnostics/tree/master/src/Tools/dotnet-counters) tool.

Previous attempt at adding EventCounters to Hosting- https://github.com/aspnet/Hosting/pull/886

Relevant docs
- https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Tracing/tests/BasicEventSourceTest/TestEventCounter.cs
- ht

[2019-04-18 00:35] shirhatti commented on #9486
@davidfowl I'm assuming just RPS to start with, unless you had something else in mind?

[2019-04-18 00:37] shirhatti commented on #9486
As an example, we already have [EventCounters in SignalR](https://github.com/aspnet/AspNetCore/blob/master/src/SignalR/common/Http.Connections/src/Internal/HttpConnectionsEventSource.cs)

[2019-04-18 00:48] sebastienros commented on #9404
After investigating, it looks like a regression between

3.0.0-preview-27408-1 -> 3.0.0-preview-27408-3

Microsoft.NetCore.App / Core FX
https://github.com/dotnet/corefx/compare/c2bbb6a5ee5ff67e5e8353e154d7b4c4f2f83143...ede577ca971a46a54f53ff7daa3e9ce5e725bc95

Microsoft.NetCore.App / Core CLR
https://github.com/dotnet/coreclr/compare/a51af0838709ca81b51bee236865a39b31f68f41...4e5df11e42457b62015

[2019-04-18 00:51] dharmaturtle commented on #9451
@mammadkoma this may be helpful: https://stackoverflow.com/questions/38085430/the-library-hostpolicy-dll-was-not-found

[2019-04-18 00:54] baartho commented on #9437
@iamgmd thank you very much!!

I was able to POST and GET from a API Controller just fine!

[2019-04-18 00:54] #9437 closed

[2019-04-18 01:11] #6397 closed

[2019-04-18 01:14] John0King commented on #6475
@anurse

I'm not familiar with the low level socket, but I have been hear of `TCP` connection is reliable， and `WebSocket` is build on that. and since we can catch the `WebSocketExpception` disconnect immediately after the client been killed and there is a `KeepAliveInterval` configuration of `WebSocket` , I think the ping/pong message is used in a low level socket (maybe in `TCP` connection level

[2019-04-18 01:23] sebastienros commented on #9404
/cc @filipnavara @janvorli as it seems to come from this commit: https://github.com/dotnet/coreclr/pull/22390/files

I'd say that it's not because of this PR https://github.com/dotnet/coreclr/commit/34d50b056150ba9101ee977dded9cee3c663fab6 though they are pretty close and the but the diff starts on Feb 04. To be sure I could run a benchmark if someone could give me the System.Gloablization.Native.

[2019-04-18 01:23] davidfowl commented on #5926
Closing this

[2019-04-18 01:23] #5926 closed

[2019-04-18 01:24] davidfowl commented on #5918
This is done now

[2019-04-18 01:24] #5918 closed

[2019-04-18 01:33] pranavkm commented on #9322
Dup of https://github.com/aspnet/AspNetCore/issues/8302. This is addressed in the preview4 release.

[2019-04-18 01:33] #9322 closed

[2019-04-18 01:34] Projkt-James commented on #9394
@anurse can the stack size limits cause issues with the inbuilt Dependency Injection or am I more likely having a dependency recursion problem? I'm having an overflow exception only present when moving to InProcess hosting.

[2019-04-18 01:38] davidfowl opened #9491 "Consider tracing span id and trace id separately in the log"
Seems to like open census:

https://github.com/census-instrumentation/opencensus-specs/blob/c3fd41b28fed96ceffc8c35af280d74cacea3ab2/trace/LogCorrelation.md#key-names-for-tracing-data

cc: @SergeyKanzhelev @lmolkova

[2019-04-18 01:41] pranavkm commented on #9358
@dougbu done?

[2019-04-18 01:45] dougbu commented on #9358
Yes, done

[2019-04-18 02:19] moataz1991 opened #9493 "Blazor , RenderFragment to Raw Html string"
as the question title says
can you add the ability to get raw html from RenderFragment?
maybe something like this
`RenderFragment renderFragment;
renderFragment.ToRawHtml()`
or `property `saving the rawHtml generated by the `renderFragment `object ?
with events and everything...
for code-behind purposes
**Thanks**

[2019-04-18 03:21] epignosisx commented on #9195
@JamesNK thanks for looking into this. I was able to work around it by removing the root controller (didn't actually need it).

[2019-04-18 03:29] davidfowl commented on #9223
Right. I’ll do the update to make the pipe properties readonly

[2019-04-18 04:58] #9398 closed

[2019-04-18 05:30] generik0 commented on #9472
@mikaelm thanks for the fast answer.
To be honest I think you guys are shooting yourself in the foot, not allowing “legacy” applications to connnect eg a new aspnetcore SignalR Microservices...
At least for a while yet...

It isn’t always a case of just changing an application to run net461+.
Sometimes when you do this and have installed net framework packages and net standard packages the build s

[2019-04-18 05:30] #9472 closed

[2019-04-18 05:38] nehme-bilal-ah commented on #2464
That’s good to know!

[2019-04-18 05:44] rtrimurthulu commented on #7531
https://github.com/Legedric/ptmagic/issues/165

follow this for ubuntu

I found the following blog post that might help pinpoint the problem and solution. Hope it helps.

https://www.danieldevelops.com/inotify-watcher-dotnet-core

Alternative is to increase the inotify limit, which I have done until you (hopefully) fix the issue.

Just for reference for others. You can get your current inotify fil

[2019-04-18 05:51] NTaylorMullen commented on #9137
This doesn't need to be in the preview 5 milestone. Todd's fix resolves Damian's problem. Us investigating more just makes us "more correct" for future scenarios

[2019-04-18 05:56] bluetianx commented on #7690
@xtmq when dose ridder solve this problem in ridder IDE ?

[2019-04-18 06:56] TanvirArjel commented on #9039
@vanillajonathan Actually this is happening due a complete miss-design of introducing Razor Page Identity in MVC application. And they are sticking to this miss-design and trying fit this in everywhere. **In Angular application they are providing login page from Razor Page Identity. How comical is this! :)** What will happen if my Client App and API are in two different apps? This hodgepodge
 woul

[2019-04-18 07:09] malichishti opened #9494 "DirectoryBrowser not showing or downloading .exe files"
### Describe the bug
I'm using Directory Browser and StaticFiles as per the code below:

### To Reproduce
[code]

### Expected behavior
I have noticed for some users certain files dont show up in the directory the file in question is a zip file roughly 200mb in size.
The bigger issue however right now is that it is unable to show or download *.exe files

Regards,
Ali

[2019-04-18 07:19] filipnavara commented on #9404
Are you absolutely positive about those commit lists? I'd expect https://github.com/dotnet/coreclr/pull/22378 to be the primary suspect if System.Globalization.Native is involved. The change in https://github.com/dotnet/coreclr/pull/22390/files should be harmless unless the C runtime library is significantly broken.

I'll try to reproduce the results on the weekend, but if you find anything out pl

[2019-04-18 08:17] ErcinDedeoglu commented on #9240
await hubContext.Clients.All.SendAsync("EventA", DateTime.UtcNow.Ticks, "123");
Thread.Sleep(1);
await hubContext.Clients.All.SendAsync("EventB", DateTime.UtcNow.Ticks, "456");

or use messaging queue

[2019-04-18 08:20] ErcinDedeoglu commented on #9238
https://docs.microsoft.com/tr-tr/dotnet/api/microsoft.aspnetcore.hosting.webhostbuilderiisextensions.useiisintegration?view=aspnetcore-2.2

[2019-04-18 08:24] timcromarty commented on #5014
Still seeing this in VS2019 RTM

[2019-04-18 08:28] RaulSebastian commented on #9470
Should be closed, as not an issue.

[2019-04-18 08:42] guyng commented on #8763
Okay, so on my sample projects doing ordinary http requests to a list of random api's, the results show the same performance for both web api and worker project. But, on my real product app projects it actually shows great difference(even tho they use the exact same code & dlls) so i need to investigate and dive deeper to find if it's actually because of the worker service or may be something else

[2019-04-18 09:23] lonix1 commented on #8449
@pranavkm I also have this problem (linux) - too many inotify handles.

I'm using 2.2 and a SPA (angular) so there is no razor. Yet I recall it's on by default? Where can I disable it?

[2019-04-18 09:23] sven5 commented on #7641
Any update on this? Still the only way to solve such a scenario?
I think about something like ViewBag or ViewData we're using in MVC.

Thanks
Sven

[2019-04-18 09:32] Diaskhan commented on #9470
How then shutdown host ?

[2019-04-18 09:42] springy76 commented on #8931
Please rename the label feature-Components to feature-Blazor, too.

[2019-04-18 09:53] lonix1 commented on #9369
I take back what I wrote - the fix wasn't reproducible. Right now no way to get this to work in monorepos. (Which it the default for large systems)

Please reopen.

If someone gets this working, please comment here.

[2019-04-18 09:57] gdmka opened #9495 "Kestrel: TLS session resumption / session tickets support"
Hi, i confirmed that Kestrel support Session IDs since it uses TLS 1.2 by default. But didn't quite find the necessary data structure in the ASP .Net Core that provides information about:

- session id that was set during the TLS handshake
- a flag whether the session was reused or not via session resumption [https://tools.ietf.org/html/rfc5077](url)

Do you plan to add those properties in future

[2019-04-18 10:07] ChrisProlls commented on #6923
Hi !
I faced the same problem here ! After deploying to App Service, sometimes the connection stopped from the server side after a few minutes, sometimes it takes an hour or more ...
I found this issues :
- https://github.com/aspnet/SignalR/issues/2150
- https://github.com/aspnet/SignalR/issues/1179

Any ideas ?

[2019-04-18 10:28] Diverclaim commented on #9240
Why would Thread.Sleep change anything? Feels unreliable.
Is ordering guaranteed if action name is same?
If ordering is not guaranteed what the purpose of SendAsync api that allows you to await something? What are we awaiting then?

[2019-04-18 11:29] ChrisProlls commented on #5324
Any news about it ? I faced with the same problem here !
@anurse

[2019-04-18 11:34] filipnavara commented on #9404
I'm going through possible regressions from dotnet/coreclr#22378.

[This line](https://github.com/dotnet/coreclr/blob/master/src/corefx/System.Globalization.Native/pal_collation.c#L283) is missing `customRules->size == 0` condition. Some `calloc`s could be replaced with `malloc`s and avoid zeroing memory. There's potential for some performance regression in some of the `*SortHandle` functions, but

[2019-04-18 12:09] mrpmorris commented on #9061
@mkArtakMSFT This PR on the old repo would have fixed it. If I can get approval then I will reimplement it on this repo instead - but I don't want to do that if there is no chance of it being merged in...

https://github.com/dotnet/jsinterop/pull/6

[2019-04-18 12:24] blowdart commented on #9495
As session resumption breaks perfect forward secrecy unless we're very careful with caching, it's unlikely. This also goes for 0-RTT.

[2019-04-18 13:23] gimlichael commented on #3486
@anurse i don't know why you are talking about structs all the sudden.

If you have a look at the RequestHeaders.cs (namespace: Microsoft.AspNetCore.Http.Headers, assembly: Microsoft.AspNetCore.Http.Extensions.dll) you will notice several places, where you are returning an IList of T.

As one example, lets take the property `IfNoneMatch`, then you are internally calling `return this.Headers.GetLis

[2019-04-18 13:34] ErcinDedeoglu commented on #9240
- messaging delivery order is not guaranteed. but you can order them via thread.sleep. it's not guaranteed too. :)
- best practice is use your own client-side order in your javascript code.

[code]

DateTime.UtcNow.Ticks will produce almost unique int.
check that value in your javascript code. order them in a queue object (as stack) and get them one by one by the Ticks value.

By the way, you migh

[2019-04-18 13:35] alec-lieberman-ef commented on #2436
Is anything regarding this being worked on for .Net Core?

[2019-04-18 14:01] kevingates opened #9498 "Is it possible to have Windows Authentication AND Individual User Accounts (Anonymous Authentication) in 2.2?"
### Is your feature request related to a problem? Please describe.
We are wanting to build multiple web apps, and furthermore, we're wanting to create a Single Sign-On app so that it's easy for our employees to use.

Most of our apps will be used only internally, therefore Windows Authentication would be the easiest. However, certain apps over time (or initially) will need to allow outside users.

[2019-04-18 14:10] Frankwayne opened #9499 "IntegrationTesting MultimediaPartReader / XDocument"
When trying to do integration testing with a  MTOM  Related Message, I keep running into an issue  where application code that I can run successfully in a webserver  does not work in the integration testing framework.

The issue is when using the MultipartReader,  we read a section that matches a media type.  We then take that MultipartSection.Body   Stream  and use the XDocument.Load( stream).

A

[2019-04-18 14:20] kevingates commented on #9498
@blowdart : I saw you comment on another security / Identity question. Would you be able to give me some wisdom on this?

Please pardon my ignorance if I'm missing something obvious.

[2019-04-18 14:24] blowdart commented on #9498
Not easily, and not in a supported way. You could, if you knew the IP addresses of the intranet, attempt to trigger Windows auth on those requests, but that seems rather unsafe.

Third party auth doesn't have to cost, you may be able to do it with identity server, by taking the approach above. I'd ask them.

[2019-04-18 14:47] TracyGH commented on #8134
@joegithub - I believe I did the exact same thing you're describing.  One minute my swagger is working great, then I make some edits to the default URL in both project settings and launchSettings.json file, and suddenly no workie anymore.

When you say:  "I did this incorrectly in my project settings" - what is the 'correct' way?  Apparently I caused this issue, and I'd like to avoid it in the fut

[2019-04-18 14:56] Tratcher commented on #9495
Note also limited by the APIs available on SslStream. Any feature request would have to start with dotnet/CoreFx.

[2019-04-18 14:58] Tratcher commented on #9470
That's what IApplicationLifetime.StopApplication is for.

I suggest moving this question to a community forum like stackoverflow.

[2019-04-18 15:09] danroth27 opened #9501 "Inconsistent line endings in packages.json in React template"
Repro steps:
- Install .NET Core 3.0 Preview 4 SDK
- Create React app for ASP.NET Core in VS
- Open packages.json

![image](https://user-images.githubusercontent.com/1874516/56371062-410d3100-61b1-11e9-8e68-743efc2c9687.png)

[2019-04-18 15:14] danroth27 opened #9502 "SPA templates generate invalid package names in package.json"
NPM package names must be all lower case.

![image](https://user-images.githubusercontent.com/1874516/56371433-f4762580-61b1-11e9-9762-4a262c83ada1.png)

[code]

[2019-04-18 15:17] mammadkoma commented on #9451
Where is buildOptions and emitEntryPoint in my project? I can not find them.

[2019-04-18 15:21] anurse commented on #8768
Actually it seems most likely that this is because we're using preview builds of corefx packages (like System.Memory) and I know that System.Memory (in particular) is embedded in the Xamarin platform (so upgrading packages doesn't help here). It's likely this is blocked on Xamarin importing the latest versions of these packages.

[2019-04-18 15:26] danroth27 opened #9503 "Username still displayed after logging out from the user profile page in the React template"
Repro steps:
- Install .NET Core 3.0 Preview 4
- Create React app for ASP.NET Core
- Build and run
- Register a new user
- Navigate to the user profile page
- Click logout

![goHfhjxnGj](https://user-images.githubusercontent.com/1874516/56372245-7d419100-61b3-11e9-8de1-9d2c5db54577.gif)

[2019-04-18 15:32] MScBuilder opened #9504 "Migration and missing bracket - Incorrect syntax near the keyword 'NOT'."
###Bug description
During migration to alter database there is "Incorrect syntax near the keyword 'NOT'"
It seems that the problem is in the [Column(TypeName = "decimal(18, 2)")] attribute for one of the fields in model class.
It seems that during migration one bracket is lost in autogenerated migration files - the column type look there like this "decimal(18, 2"
I found the problem in "/Migration

[2019-04-18 15:38] anurse commented on #9240
That is indeed unreliable. Also `Thread.Sleep` is **dangerous** when used in an `async` context since it blocks the entire thread which can lead to thread-pool starvation. Use `await Task.Delay(1)` when in an `async` context. Anything that "blocks" without using `await` in an `async` context can cause significant performance problems.

You are awaiting successful entry of the message in to the que

[2019-04-18 15:40] anurse commented on #3486
I was referring to [the return value](https://github.com/aspnet/AspNetCore/blob/master/src/Http/Http.Features/src/IHeaderDictionary.cs) from `IHeaderDictionary`'s indexer. Apologies if that wasn't clear.

Thanks for the specific example to clarify the issue! I agree that we should avoid returning `null` collections!

[2019-04-18 15:43] anurse commented on #5324
This thread was marked as a discussion as a result of how the initial questions concluded. If you're seeing an issue please file a new bug with the details.

[2019-04-18 15:47] gimlichael commented on #3486
@anurse ah, okay - my apologies back for not being entirely clear from the beginning.

I am just glad that you guys will fix it - appreciated by one developer to another.

[2019-04-18 15:49] mkArtakMSFT commented on #9460
Alphabetica (according to @danroth27) as well as what we can see currently in VS.

[2019-04-18 15:54] anurse commented on #9394
I'm not specifically aware, but it is possible. The stack size **when running in IIS** is significantly smaller than when running as a standard .NET Console app. The easiest way to test is to run your app directly on Kestrel and see if you still hit the `StackOverflowException`. If you do, it's more likely to be a runaway recursive call, if you don't it may just be a deep stack that's hitting the

[2019-04-18 15:57] mkArtakMSFT commented on #6975
Unassigning myself, as there is no more action pending from MVC side.

[2019-04-18 15:58] brockallen commented on #9498
IdentityServer might be a good candidate for this. Our templates have both password and windows auth.

[2019-04-18 16:03] anurse commented on #6475
It's "reliable" but that doesn't mean you're guaranteed to see a disconnect (see this [blog post](https://www.joyent.com/blog/tcp-puzzlers) for some examples that illustrate many scenarios where a client "disconnects" but the server does not respond to that disconnection).

The ping/pong behavior of WebSockets does provide the opportunity to do this, but the `WebSocket` APIs .NET Core provides don

[2019-04-18 16:11] kevingates commented on #9498
@brockallen yeah, we're working for a County Government, with occasional outside users. So Windows Auth or WS-Federation (which you do) should work.

@brockallen : Do you have a recommended resource for a novice when it comes to security? Our team has had historically more windows-based apps, or web apps needing just windows auth OR external only. I've only been here for 5-6 months and my backgrou

[2019-04-18 16:19] anurse commented on #8843
@davidfowl I'm guessing this isn't going to land by tomorrow, so I'm going to move this to preview6

[2019-04-18 16:19] blowdart commented on #9504
@Eilon can you move this to EF?

[2019-04-18 16:20] mkArtakMSFT commented on #9431
@pranavkm reassigning this to you to handle in a future milestone.

[2019-04-18 16:30] dougbu commented on #8941
f46d5b3af2f2

[2019-04-18 16:30] #8941 closed

[2019-04-18 16:32] mkArtakMSFT commented on #4503
@gorillazliuzhe what do you mean by `not working`? Is it not being called or you get an outcome which is not what you expect?

[2019-04-18 16:34] Eilon commented on #9460
Is that acceptable? It'll vary based on loc, which I don't think we want to depend on. I would think we want to have a completely explicit order.

[2019-04-18 16:38] dougbu commented on #8242
We have enough of a spec that I'll get a design PR out in this milestone. Reassigning to myself and placing the completed installation in Preview6.

[2019-04-18 16:38] mkArtakMSFT commented on #9503
@javiercn, please work on this when you'll be back from vacation, as we want this to be part of preview5.

[2019-04-18 16:42] mkArtakMSFT commented on #9388
Thanks folks. Closing this as it seems this has been fixed already in the referenced issue.

[2019-04-18 16:42] #9388 closed

[2019-04-18 16:44] mkArtakMSFT commented on #9499
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-04-18 16:44] mkArtakMSFT commented on #9499
@javiercn do you have any recommendations here?

[2019-04-18 16:45] mkArtakMSFT commented on #7129
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-04-18 16:45] #7129 closed

[2019-04-18 16:46] mkArtakMSFT commented on #7120
@rynowak  can you please answer this? Thanks!

[2019-04-18 16:48] mkArtakMSFT commented on #7098
@mohd-akram can you please confirm you're still facing this issue with the most recent 2.2 release?

[2019-04-18 16:48] mkArtakMSFT commented on #7098
/cc @rynowak

[2019-04-18 16:50] janvorli commented on #9404
I have applied a delta to the current master that undoes the change made in https://github.com/dotnet/coreclr/pull/22390 and shared the System.Globalization.Native.so with @sebastienros. He has verified that it fixes the perf regression.

[2019-04-18 16:52] sebastienros commented on #9404
@filipnavara if you are not sure whether a change is beneficial or not, just build many versions and I can run the numbers for each build. Put them on //scratch2.

[2019-04-18 16:52] mkArtakMSFT commented on #7088
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-04-18 16:54] sankp commented on #9407
Thanks @Tratcher for your help. We don't provide login or logout functionality. It's all handled by SSO site. so I am good for now.

[2019-04-18 16:54] #9407 closed

[2019-04-18 16:57] filipnavara commented on #9404
@janvorli Wow. That's very surprising. I'll look at it again. The change itself doesn't fix any bug and it should have generally improved performance which makes it surprising that quite the opposite happened. If I don't come up with a good explanation I'll submit a PR to revert it.

[2019-04-18 17:02] sebastienros commented on #9404
I am quite confident with the way I ran it, but there is always space for a human error (me). To be very confident feel free to give me versions with obvious regressions, even based on the reverted commit, to be sure I get the expected results. That would also make me fell more confident.

Something I want to insist on also is that I just patch "this" file, no other one, and I am not sure if one o

[2019-04-18 17:09] filipnavara commented on #9404
I don't doubt your findings. It must be some weird thing with the way the `tsearch` function is used. I'll try to produce a more localized test to see if I can reproduce the behaviour. I'd actually be happy if it turns out to be caused by this small change since the one preceding it was huge and much harder to check for any regressions.

[2019-04-18 17:12] mkArtakMSFT commented on #7886
Talked to @sebastienros and this seems to be affecting all the repo, rather than just mvc.

[2019-04-18 17:13] mkArtakMSFT commented on #7067
Thanks for contacting us, @k-vekos.
Are you still facing this issue?

[2019-04-18 17:15] mkArtakMSFT commented on #9460
Just saw this after merging. Two points:
1. same ids were used and it used to be fine.
2. If this is indeed a concern, I absolutely can diff those manually too.

@danroth27 ?

[2019-04-18 17:17] danroth27 commented on #9460
I think @Eilon has a good point about localization. We want a stable ordering across languages. Let's make the full ordering explicit.

[2019-04-18 17:22] #8353 closed

[2019-04-18 17:25] ryanbrandenburg opened #9509 "Post announcment for #8353"

[2019-04-18 17:25] Eilon commented on #8353
Please remember to post an announcement as well.

[2019-04-18 17:26] Tratcher commented on #9494
See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?view=aspnetcore-2.2#fileextensioncontenttypeprovider
`.exe` isn't on the default list.
https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/StaticFiles/src/FileExtensionContentTypeProvider.cs

[2019-04-18 17:27] mkArtakMSFT opened #9510 "Ensure IFormFile binding related scenarios are in good shape in 3.0"
We've seen multiple model-binding issues specifically around IFormFile type and we need to make sure we handle it in a generic way.

[2019-04-18 17:30] mkArtakMSFT commented on #9460
Sure, will do that now

[2019-04-18 17:34] ryanbrandenburg commented on #9403
4. When deployed to an Azure App Service the register and login links are not removed once you login, and  there are console errors in the browser
[code]
5. Needed to change the bitness of the publish profile to x86 before it would work as a self-deployed app.

[2019-04-18 17:34] Tratcher commented on #9498
Once you allow anonymous then you have to specify which actions require authentication, and what type. That usually involves `[Authorize]` on controllers and either specifying the type on the attribute or via `AddAuthentication` like this:
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-2.2&tabs=visual-studio#iis

How do you choose between requestin

[2019-04-18 17:34] filipnavara commented on #9404
I'm getting a suspicion that the problem is actually the changed structure layout in that commit that causes the pthread mutex to be aligned differently. However that's kinda hard to measure.

@janvorli Would it be possible for you to make a build that swaps these two lines: https://github.com/dotnet/coreclr/blob/42b5509b1b8f3be12876579aa23a3cb3ed2ca7a4/src/corefx/System.Globalization.Native/pal_c

[2019-04-18 17:43] mkArtakMSFT commented on #9460
The final list will look like:

| Template                  | Current order | Preferred order |
|---------------------------|---------------|-----------------|
| EmptyWeb-CSharp           | 100           | 100             |
| EmptyWeb-FSharp           | 100           | 101             |
| WebApi-Csharp             | 200           | 200             |
| WebApi-Fsharp             | 200           | 20

[2019-04-18 17:43] natemcmaster commented on #8428
@rynowak @javiercn @pranavkm  - a few months ago, we talked about ways to improve controller discovery which would be better than reading the .deps.json file. What was the outcome of these ideas?

This particular bug is another manifestation of .deps.json insufficiently describing what an assembly actually depends on (and as a result, MVC skipping the assembly during the default application part d

[2019-04-18 17:48] pranavkm commented on #8428
We have some plans to address this in 3.0. Assigning this to myself, and I can post an update once we've vetted the design.

[2019-04-18 17:51] ryanbrandenburg commented on #8353
Created #9509 to track that.

[2019-04-18 17:58] brockallen commented on #9498
That's the classic HRD (home realm discovery) problem.

[2019-04-18 17:59] janvorli commented on #9404
Sure, I will do that.

[2019-04-18 18:01] kevingates commented on #9498
@Tratcher : I may be coming at this the wrong way.

My ultimate goal is to address the security issue that takes into consideration:

1. Growing number of web apps.
2. Most users are employees and in our network
3. Occasional need for out-of-network users
4. Desire to limit the amount of logins the users need, so a Single-Sign-On solution is an option.

With that, I was thinking of creating an app

[2019-04-18 18:04] ryanbrandenburg commented on #9403
All of the above were from testing Angular.

For React on Azure App Service the "Could not load settings" error seems to be even more pronounced as it seems to totally prevent Registration or Login. That one seems pretty bad, @mkArtakMSFT to re-prioritize as he sees fit based on this new info.

[2019-04-18 18:25] SteveSandersonMS commented on #9493
This isn’t a feature we’re currently planning to have. It would involve having a new way of turning render trees into strings. Bear in mind that render output is *not* a string for Blazor - it’s a structured tree of elements and attributes.

If this becomes a highly requested feature we’d certainly consider adding infrastructure for this, but if not then we have more highly prioritised things to w

[2019-04-18 18:25] #9493 closed

[2019-04-18 18:43] janvorli commented on #9404
@filipnavara that change had no effect.

[2019-04-18 18:46] filipnavara commented on #9404
Thanks for testing it. I will submit a PR to revert the change and continue investigating on my Linux machine to see if it's anything I can reproduce.

[2019-04-18 18:50] Tratcher commented on #9498
You're missing a step. All requests start as anonymous, even if windows auth is possible. At that point you need to be able to make a determination if that request should attempt windows auth or something else. That's what @brockallen was talking about above https://github.com/aspnet/AspNetCore/issues/9498#issuecomment-484617037.

Worst case you forward all anonymous users to a login page that let

[2019-04-18 18:51] dougbu commented on #9431
@mkArtakMSFT this is an `area-infrastructure` issue I was planning to handle next week.

@pranavkm let me know if you would like me to take it back.

/fyi @natemcmaster

[2019-04-18 18:56] kevingates commented on #9498
@Tratcher : I'm watching this video now on IdentityServer: [IdentityServer for ASP.NET Core 2 - Brock Allen & Dominick Baier
](https://www.youtube.com/watch?v=TZzFPhVkzo4)

I think I see what you're talking about. I guess I just need to re-read some of the Identity Server documentation. Parts of it presume a few steps, so I'm getting lost.

Feel free to keep the comments / ideas / suggestions comi

[2019-04-18 18:57] halter73 opened #9514 "[Discussion] HeaderNames now contains static readonly fields instead of const fields"
The static [Microsoft.Net.Http.Headers.HeaderNames](https://docs.microsoft.com/en-us/dotnet/api/microsoft.net.http.headers.headernames?view=aspnetcore-2.2) class contains string fields representing various common header names (e.g. [HeaderNames.Origin](https://docs.microsoft.com/en-us/dotnet/api/microsoft.net.http.headers.headernames.origin?view=aspnetcore-2.2)). Starting in ASP.NET Core 3.0 Previ

[2019-04-18 19:03] NickCraver commented on #9514
Hmmm, this will break quite a few case statements across quite a few apps (choosing which headers we respect/proxy and which we don't). I'm curious: what was the reasoning here?

[2019-04-18 19:11] jongalloway commented on #9514
I think it's due to this change, correct @benaadams?

https://github.com/aspnet/AspNetCore/pull/9341

[2019-04-18 19:14] ryanbrandenburg opened #9516 "[Announcement] Default Bootstrap version of IdentityUI changed to 4"
Currently the default version of Bootstrap for IdentityUI is `UIFramework.Bootstrap3`, but starting in 3.0.0-preview4 the default will be `UIFramework.Bootstrap4`. We think this better reflects our recomendation that new projects use Bootstrap4.

You will be affected by this change if you use IdentityUI but do not explicitly set a UIFramework. There are two ways to resolve this:

1. (Move your pro

[2019-04-18 19:15] ryanbrandenburg commented on #9509
https://github.com/aspnet/Announcements/issues/357.

[2019-04-18 19:15] #9509 closed

[2019-04-18 19:16] halter73 commented on #9514
Yep. This was change was made as part of #9341 to improve performance.

I hadn't considered the source break for switch/case statements. I'll add that to the announcement.

[2019-04-18 19:16] NickCraver commented on #9514
Aye that's it - just pinged Ben for the same :)

I get the perf win, but it doesn't seem like `switch`/`case` was even mentioned in the breaking change considerations and that surprises me a bit. Any time we're dealing with `n` things and handling some of them, that's *definitely* a use case. I'd be happy if these are defined elsewhere, but this just makes everyone using them in any `const` way du

[2019-04-18 19:17] filipnavara commented on #9404
I reduced it to the following test case in plain C: https://gist.github.com/filipnavara/31791b216078706e0b465f7a103ff01f

On macOS using `tsearch` is a notch faster than `tfind`, but it's close to a measurement error for a sparse distribution. On Ubuntu (Linux mono-linux-build 4.15.0-1019-azure #19-Ubuntu SMP Thu Jul 26 19:54:21 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux) running in Azure `tsearch` i

[2019-04-18 19:18] benaadams commented on #9514
Presumably the case statements aren't doing IgnoreCase comparisons?

As per RFC 7230 3.2. Header Fields are case-insensitive; so if you were switching on header "Accept-Encoding" it wouldn't match "accept-encoding"?

Previously technically you should be doing
[code]
Now you can use the faster
[code]
And skip `OrdinalIgnoreCase` in the general case

[2019-04-18 19:20] halter73 commented on #9514
Interestingly enough, depending on where you're getting the header name value is coming from, it will improve the performance of your code to switch from a switch statement to if/else statements that use ReferenceEquals.

[2019-04-18 19:22] weitenghuang commented on #7067
I have the same issue with ASP.NET Core 2.1 and `UseReactDevelopmentServer`

[2019-04-18 19:27] NickCraver commented on #9514
That's going to depend on the number of cases in the switch ultimately, I think the current threshold is 7 before it does lookup conversion at compile time. Regardless, it's not about perf, it's the loss of a *very simple*, *very clean* `switch` (even more so with expression bodies).

Instead of this:
[code]
...we now have something far more verbose and confusing.

The most *reasonable* thing we c

[2019-04-18 19:35] NickCraver commented on #9514
Yep that's fair, but in our case they're normalized and predictable. I get that we're a rare use case and we'll make constants. My point here was: `switch`/`case` needs to be considered on breaks and I don't *see* that it was. I wanted to raise it so that it's considered next time.

[2019-04-18 19:40] benaadams commented on #9514
Could use a static array?
[code]

That's fair

[2019-04-18 19:43] Eilon commented on #9029
@vijayrkn , do you need any additional info to reproduce this problem? Also, should this bug be moved to the 'websdk' repo?

[2019-04-18 19:44] #7570 closed

[2019-04-18 19:47] #9468 closed

[2019-04-18 20:09] Daniel15 commented on #9514
Does this mean that constants for strings used across multiple assemblies are a bad idea in general, and we should use static readonly fields?

Does .NET not use string interning for constant string literals? This seems like an optimization the compiler should be able to do (even if not by default, perhaps using an attribute on the string)

[2019-04-18 20:15] dougbu commented on #4912
Oops, realized this will complete when my draft PR for #8242 (expected tonight or tomorrow). Moving to same milestone as that issue. I continue to work on both issues.

[2019-04-18 20:20] dougbu commented on #4916
Another oops, I'm working on this now but not #6582 (that one will come just after #8242).

[2019-04-18 20:21] dougbu commented on #6582
This will come just after #8242

[2019-04-18 20:30] mkArtakMSFT opened #9518 "Remove NewtonSoft.Json package reference from templates"

[2019-04-18 20:45] BrennanConroy opened #9519 "Apply API Review feedback to JsonHubProtocolOptions"
Specifically, we should review the `JsonHubProtocolOptions` for the new System.Text.Json based protocol.

[2019-04-18 20:47] willportnoy commented on #7077
@Tratcher Thank you for the hint - I was able to use a custom implementation of the IConfigureOptions<T> interface and inject IApplicationLifetime into the constructor.

[2019-04-18 20:49] #4260 closed

[2019-04-18 20:49] #9439 closed

[2019-04-18 20:50] jkotalik commented on #6834
Can you all please install the 2.2.4 hosting bundle. We believe these issues should be resolved.

[2019-04-18 20:59] jkotalik opened #9520 "Use runtime property settings instead of environment variables for setting startup hook"
Epic https://github.com/aspnet/AspNetCore/issues/8833

The startup hook today is set via environment variable right now (https://github.com/aspnet/AspNetCore/blob/master/src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/inprocessapplication.cpp#L241). Core-setup will eventually be adding an api to set runtime properties like https://github.com/dotnet/core-setup/pull/5336/files#diff-15fec1

[2019-04-18 21:01] jkotalik commented on #5153
This is done. https://github.com/aspnet/AspNetCore/issues/9520 is the only follow up issue I can think of.

(I'm still going to do verification in the E2E).

[2019-04-18 21:01] #5153 closed

[2019-04-18 21:04] isc30 commented on #5461
Hi, I just created a Google Analytics extension for Blazor
https://github.com/isc30/blazor-analytics

This library can be extended for multiple analytics providers easily (+add TrackingService for complex operations)

[2019-04-18 21:07] benaadams commented on #9514
It does and all the strings in a *single* assembly will be identical.

Cross assembly `public const string` get baked into the callsite of the using assembly (but remain deduped in that assembly). To intern cross-assembly the Jit would have to dedupe on assembly load; which would slow down startups; and the C# compiler marks the assemblies with [`CompilationRelaxations.NoStringInterning`](https://

[2019-04-18 21:10] Eilon commented on #9196
@jmprieur / @javiercn - any ideas on this? Does the Startup code and configuration look right?

[2019-04-18 21:12] Eilon commented on #8894
Still waiting to hear back from nopCommerce with details.

[2019-04-18 21:23] genifycom opened #9522 "SignalR and WebSocket API in Amazon API Gateway"
### Is your feature request related to a problem? Please describe.
In WebSocket API in Amazon API Gateway, the Gateway handles the websocket $connect, $disconnect and routing. This is a similar idea to the SignalR service and allows load spreading.

### Describe the solution you'd like
I would like to be able to use SignalR with the WebSocket API in Amazon API Gateway using ASP.Net Web application

[2019-04-18 21:45] sebastienros opened #9524 "GRPC benchmark is broken"
Since https://github.com/grpc/grpc-dotnet/commit/77b3ba3fb8eb5cc20ff2f39af727a15e176dd0d7

[code]

[2019-04-18 21:51] mikaelm12 opened #9525 "Update SignalR client to Target .Net Standard 2.1"
We are currently cross targeting to netcoreapp3.0 for `IAsyncEnmerable` support. It's included in .Net Standard https://github.com/dotnet/standard/pull/1017 we should move to cross target that instead

https://github.com/aspnet/AspNetCore/blob/507a765dfb078f446c445318e7b55ad9f7f5cbe0/src/SignalR/clients/csharp/Client.Core/src/Microsoft.AspNetCore.SignalR.Client.Core.csproj#L5

[2019-04-18 22:05] HaoK opened #9526 "Run helix tests on arm queues"
Need to update the helix scripts to enable this properly as there are x64 things hardcoded today

PR working on this https://github.com/aspnet/AspNetCore/pull/8844

[2019-04-18 22:16] Tratcher commented on #4662
Design notes:
- NTLM and Kerberos are stateful connection bound protocols.
- They need somewhere to store connection specific state between requests.
- They MUST NOT be used behind IIS out-of-proc or similar reverse proxies that do not maintain a 1:1 connection map between their external and internal connections.
- They MUST NOT be used over HTTP/2, multiplexing breaks the stateful handshake order

[2019-04-18 22:26] jcoutch opened #9528 "Developer Certificate file names don't match up between Visual Studio and Kestrel"
### Describe the bug
When attempting to run a Docker container locally with an ASP.NET Core web site using HTTPS, under certain circumstances, developers will see the following error message when starting the site:

[code]

I was able to track down the issue to `KestrelConfigurationLoader.TryGetCertificatePath()`:
https://github.com/aspnet/AspNetCore/blob/master/src/Servers/Kestrel/Core/src/Kestre

[2019-04-18 23:23] sebastienros commented on #9404
How do you run measure the differences? I ran the code but it simply output `12`.

[2019-04-18 23:25] filipnavara commented on #9404
@sebastienros by running it under `time` command.

[2019-04-18 23:35] natemcmaster commented on #9526
cc @JunTaoLuo looks like a duplicate of issues I just pinged you on in aspnet/AspNetCore-Internal.

[2019-04-18 23:54] sebastienros commented on #9404
on my physical machines I get this:

| Cores  | tsearch  | tfind  |
|---|---|---|
| 6/12 HT  | 0.900s  | 0.750s  |
| 14/28 HT | 1.113s  | 0.927s  |

[2019-04-19 00:06] JunTaoLuo opened #9532 "Pubternal API in ClientHandler"
Pubternal API check error:
[code]

[2019-04-19 00:13] kattunga commented on #9402
Same problem in linux

[code]

Is there any workaround?

[2019-04-19 00:25] shirhatti opened #9534 "Capture stdout on successful server start in ANCM"
Even when the server successfully starts, the application may have failed to start.
This can happen when you have an error in `Startup.cs` since by default we capture Startup errors when running in IIS.

We do however log this exception to the console by default. In these scenarios, surfacing the exception message would be valuable in diagnosing startup issues.

The proposal here is to always capt

[2019-04-19 00:26] shirhatti commented on #9534
@jkotalik

[2019-04-19 00:35] roboriaan commented on #9364
Seems to be fixed in 16.0.19216.3

[2019-04-19 00:35] #9364 closed

[2019-04-19 00:42] rynowak commented on #9143
We have a link. @JamesNK since you own that link, can you please update it:

https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio#use-mvc-without-endpoint-routing

[2019-04-19 00:48] JamesNK commented on #9143
donezo

[2019-04-19 00:48] #9143 closed

[2019-04-19 00:50] rynowak commented on #9143
Thanks Jimmy!

[2019-04-19 00:51] JamesNK commented on #9143
np rayray

[2019-04-19 00:58] danroth27 commented on #9402
@kattunga Yes, unfortunately this is a [known issue](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview-known-issues.md) with the Preview 4 release. It will be fixed in the next preview in a couple of weeks. There isn't a known workaround at this time, but if we come up with one we will update the known issues doc accordingly. The client-side Blazor templates should

[2019-04-19 01:18] dyl10s commented on #9364
Just curious how can I update to this build?

[2019-04-19 01:25] #9208 closed

[2019-04-19 01:33] delebru commented on #9274
Wouldn't allowing RedirectToWww() to receive the desired domains as a parameter be a better option than having to write our own solution? (as long as it stays redirecting all requests when no domains are specified).

[2019-04-19 01:50] roboriaan commented on #9364
I followed the instructions here :
https://devblogs.microsoft.com/aspnet/blazor-now-in-official-preview/

There's quite a lot of new goodies in this release. Very excited!

[2019-04-19 01:53] Tratcher commented on #9532
Here:
https://github.com/aspnet/AspNetCore/blob/7669cf0d036cc0cb3b481aba49253cd35d85c633/src/Hosting/TestHost/src/ClientHandler.cs#L34

That constructor could be internal, it's called from here:
https://github.com/aspnet/AspNetCore/blob/7669cf0d036cc0cb3b481aba49253cd35d85c633/src/Hosting/TestHost/src/TestServer.cs#L93-L97

[2019-04-19 02:27] #9402 closed

[2019-04-19 02:27] #9443 closed

[2019-04-19 02:54] benaadams commented on #9404
A side question; if the regression is in Globalization; how is HttpClient using globalization? Wouldn't have thought it would be involved; though I may be wrong?

[2019-04-19 02:59] benaadams commented on #9404
A side question; if the regression is in Globalization; how is HttpClient using globalization? Wouldn't have thought it would be involved; though I may be wrong?

i.e isn't it all mostly ascii formats and fairly invariant?

[2019-04-19 03:05] stephentoub commented on #9404
It's not just HttpClient involved here... isn't this an ASP.NET site that in turn makes HttpClient requests?

[2019-04-19 03:14] Edward-Zhou opened #9536 "Session event Provider configuration in session middleware"
### Is your feature request related to a problem? Please describe.
For session in .net core, it is implemented by session and controlled by `SessionOptions`.

As issues #3331, #3025, https://github.com/aspnet/Session/issues/20, I am wondering it is possible to add event to the session object like start, end or maybe change event.

[2019-04-19 03:24] tn-5 commented on #9402
While it does not give the exception on startup in the latest nightly preview it still does not work. The exception now occurs on the "blazorserverside" template project as soon as one clicks on the counter:
fail: Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware[1]
      An unhandled exception has occurred while executing the request.
System.NullReferenceException: Object referenc

[2019-04-19 03:26] benaadams commented on #9404
Yeah; but it doesn't do anything particularly interesting, except this line...

`new Uri(UriHelper.BuildAbsolute(_scheme, _host, _pathBase, context.Request.Path, context.Request.QueryString.Add(_appendQuery)))`

Checking [`UriHelper`](https://github.com/aspnet/AspNetCore/blob/master/src/Http/Http.Extensions/src/UriHelper.cs) its doing a bunch of `string.IndexOf(string)` which is CurrentCulture, so

[2019-04-19 03:36] benaadams commented on #9404
Made a PR for that class https://github.com/aspnet/AspNetCore/pull/9537

[2019-04-19 03:39] moataz1991 commented on #9493
@SteveSandersonMS  most use cases when dynamically building view with integration with 3rd party JS libraries , when u simply want to send raw HTML to be inserted as a popup for a marker in map library ;)

thanks