[2020-07-20 22:02] #24018 closed

[2020-07-20 22:04] BrunoBlanes commented on #24040
@JoeRobich Is there an issue I can track the semantic C# colorization on?

[2020-07-20 22:06] NTaylorMullen commented on #23901
@BrennanConroy can you please link the associated failed build?

@ajaybhargavb can you please timebox this to 2 hours to add additional logs since it's established that we don't entirely know why this is happening and it's just burning time otherwise.

[2020-07-20 22:08] NTaylorMullen commented on #24064
Close out https://github.com/aspnet/AspNetCore-ManualTests/issues/128 once completed.

[2020-07-20 22:13] BrennanConroy commented on #23901
https://dev.azure.com/dnceng/public/_build/results?buildId=734298&view=logs&j=6c33d704-163a-5170-38fa-caa7bc99f17c&t=4a2ac175-72f0-54eb-c8b6-eb1e5d86c7d5&l=2523
Good luck

[2020-07-20 22:17] JoeRobich commented on #24040
@BrunoBlanes This is a case of this syntactic classification issue - https://github.com/dotnet/csharp-tmLanguage/issues/153. As far as a tracking issue for the Razor Semantic Highlighting, I think may Taylor was trying to link to https://github.com/dotnet/aspnetcore-tooling/pull/2024

[2020-07-20 22:28] pheuter opened #24133 "Cannot render raw json response from HttpTrigger"
# Context
I'm building out an Azure Functions F# Class Library project and would like to use [FSharp.Json](https://vsapronov.github.io/FSharp.Json/) as the main (de)serialization library so that I can handle discriminated unions, options, and other F# types more idiomatically as I read and write json via HttpTrigger functions. In order to do that, I would like to turn off the default MVC OutputFor

[2020-07-20 22:30] captainsafia commented on #19827
Updates on this. Synced with the Mono team and the MonoProxy sources will be moved into the runtime repo and published as a NuGet package. We'll need to consume that from within our sources.

The Mono team also has a ProxyDriver similar to our DebugProxy that can be packaged to completely replace our DebugProxy server. This will likely happen after the MonoProxy package with the entrypoint API has

[2020-07-20 22:39] pranavkm commented on #10476
@SQL-MisterMagoo this would likely go here: https://github.com/dotnet/aspnetcore/tree/master/src/Components/Analyzers/src.

[2020-07-20 22:40] TanayParikh commented on #24033
TODO; Component governance updates once PR is merged.

[2020-07-20 22:43] BrennanConroy opened #24135 "How to Authenticate to SignalR with Azure AD on a Web API"
---
**Issue moved from SignalR/SignalR#4485**
- Please respond to @greenygh0st.

---

_From @greenygh0st on Monday, July 20, 2020 10:26:41 PM_

So we are current running on Angular application on top of a .NET Core Web API - both are protected by Azure AD. These pieces are working as expected and the user requested are properly validated against Azure AD authentication. However, when I try to add

[2020-07-20 22:44] BrennanConroy commented on #24135
You likely need to add some custom logic to grab the "access_token" value from the query string and set the bearer token.
Take a look at the docs for JWT auth for an example https://docs.microsoft.com/aspnet/core/signalr/authn-and-authz?view=aspnetcore-3.1#bearer-token-authentication

[2020-07-20 22:51] DamianEdwards commented on #7246
Just FYI the underlying [OpenSSL issue](https://github.com/openssl/openssl/issues/1418) has been resolved and will ship in 1.1.1h (stable) and 3.0 later this year.

[2020-07-20 22:54] BrennanConroy commented on #15404
Closed via https://github.com/dotnet/aspnetcore/pull/23822

[2020-07-20 22:54] #15404 closed

[2020-07-20 23:01] SQL-MisterMagoo commented on #10476
@pranavkm Thanks - I'll concentrate on that area

[2020-07-20 23:10] greenygh0st commented on #24135
I am familiar with how to handle if the API were generating the tokens and the authorization was handled by AddJwtBearer method.
[code]

It doesn't seem like the AddAzureADBearer had a comparable Events object. So essentially it seems like what you are saying is that Azure AD tokens have to be manually verified? But how does that work with the token audience?

With the Web API, when it receives th

[2020-07-20 23:23] BrennanConroy commented on #24135
I think you should be able to call `.AddJwtBearer(AzureADDefaults.JwtBearerAuthenticationScheme, options => { ... })` in order to configure the settings

[2020-07-20 23:24] ryanbrandenburg commented on #24126
Here's how I see the data-flow here:
1. Razor receives semantic legend request, retrieves request from c# and appends Razor's own legend.
1. Razor receives semantic token request.
1. Call through to C# semantic colorization service (we'll probably start out hitting the Full document request every time, but a later optimization would be to use their range request too. Edits become a trickier propos

[2020-07-20 23:24] greenygh0st commented on #24135
Okay I'll give that a try ASAP and see if that works. Thanks!

[2020-07-20 23:40] greenygh0st commented on #24135
So this oddly throws a builder error `Scheme already exists: Bearer`

![image](https://user-images.githubusercontent.com/1551020/87996567-4940d400-cab8-11ea-9b07-c95072cc5605.png)

When I comment out the .AddJwtBearer and add back .AddAzureADBearer it works as before.

[2020-07-21 00:35] davidbuckleyni commented on #24087
Hi @blowdart  i found the issue it was the following line.

    .AddClaimsPrincipalFactory<MyUserClaimsPrincipalFactory>();  //<---- add this line

How ever I am puzzeled why adding an custom claim factory would cause the role authorisation to brake.

This can be closed if you feel the above is the correct answer

[2020-07-21 00:37] blowdart commented on #24087
How strange, @HaoK could you take a look-see?

[2020-07-21 00:40] HaoK commented on #24087
You need to make sure you derive from the UserClaimsPrincipalFactory that takes roles into account, the one that takes TRole

https://github.com/dotnet/aspnetcore/blob/master/src/Identity/Extensions.Core/src/UserClaimsPrincipalFactory.cs#L110

[2020-07-21 00:40] #24087 closed

[2020-07-21 00:44] noseratio commented on #21996
@mkArtakMSFT,  I just got a chance to try it out on that machine again. Renaming to .BIN or .DAT or even .PNG didn't help, sorry. I suspect this machine's scanner has HTTPS inspection and MIME filters set up to prevents content that looks like Win32 DLL/EXE.

[2020-07-21 00:47] GrabYourPitchforks opened #24138 "Tracking: avoid suppressing SYSLIB0001 in shipping sources"
There are a few cases in the sources where aspnet is comparing `if (encoding == Encoding.UTF7) { /* do something */ }`. Since this accesses the `Encoding.UTF7` property getter, a warning is produced.

From https://github.com/dotnet/docs/issues/19274:

__If you're trying to compare an `Encoding` instance against `Encoding.UTF7`__, consider instead performing a check against the well-known UTF-7 cod

[2020-07-21 02:12] TanayParikh commented on #24033
Not yet propagated for component governance. Moving back to in progress.

[2020-07-21 02:29] ylr-research opened #24139 "Blazor WebAssembly / EditForm / OnValidSubmit event error"
I have a sample app which basically as I type autocompletes results from Azure CosmosDB. The Autocomplete razor file is a modified version of the one [here](https://github.com/SteveSandersonMS/CarChecker/blob/master/Client/Shared/Autocomplete.razor). For some reason if I submit the **EditForm** from **Index.razor** I get the error below (**Console Output**).

### Autocomplete.razor
[code]

### Aut

[2020-07-21 03:01] xboxeer commented on #23891
这个https://pkgs.dev.azure.com/dnceng/_packaging/darc-int-dotnet-extensions-be18161f/nuget/v3/in
dex.json 应该是一个asp.net core开发团队才可以访问的东西， 你checkout的是哪个分支

[2020-07-21 03:04] MrLBQ commented on #23891
checkout的是netcore 3.1.6

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "dotnet/aspnetcore"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年7月21日(星期二) 中午11:01
收件人:&nbsp;"dotnet/aspnetcore"

[2020-07-21 03:06] xboxeer commented on #23891
3.1.6是.net core的版本，你连.net core本身也在尝试编译么？

[2020-07-21 03:09] MrLBQ commented on #23891
我是想把net core 源码配置到本地，按照教程来的。

1. 安装最新Git for Windows，并下载源码

1.1 从&nbsp;https://git-scm.com&nbsp;下载最新版本，并安装好

1.2 下载源码
git clone --recursive https://github.com/dotnet/aspnetcore
1.3 切换分支
git checkout v3.1.6
2. 安装Visual Studio相关组件
PS D:\aspnetcore&gt; .\eng\scripts\InstallVisualStudio.ps1 -Edition Professional
注：即使你已经安装Visual Studio，也还是使用这个脚本再次安装，否则会因为缺少组件，而导致错误

3. 安装Node.js和OpenJDK

3.1 Node.js
从&

[2020-07-21 03:19] TanayParikh commented on #22512
Backlogging as we have an interim fix which will handle this.

[2020-07-21 03:21] TanayParikh commented on #23488
Still blocked externally. Backlogging as our current solution of using a GUID works in the interim till the external fix is in.

[2020-07-21 03:23] #23524 closed

[2020-07-21 03:24] #23546 closed

[2020-07-21 03:24] #23543 closed

[2020-07-21 03:24] #23544 closed

[2020-07-21 03:30] mkArtakMSFT commented on #24138
@pranavkm is this something on the platform level or on MVC?

[2020-07-21 04:15] pranavkm commented on #24138
IIRC, there's two usages of this in HttpAbstractions. /cc @Tratcher

[2020-07-21 04:29] NTaylorMullen opened #24140 "16.8-Preview1 - Validate Razor tooling in Visual Studio Codespaces, Local & LiveShare"
## Instructions
It's up to you to validate all features, if applicable, done in the [16.8-Preview1](https://github.com/dotnet/aspnetcore/milestone/114?closed=1) (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure something works.

As part of this process don't be afraid to experim

[2020-07-21 04:32] NTaylorMullen commented on #23531
@ajaybhargavb should this be thrown in the in progressed block column?

[2020-07-21 04:33] NTaylorMullen commented on #23723
@TanayParikh should this be closed out given its marked as done? If not, please move to 16.8-Preview2 milestone

[2020-07-21 04:34] NTaylorMullen commented on #23754
@TanayParikh Given go-to-def/go-to-impl is landing in 16.8-Preview1 I assume this is as well?

[2020-07-21 04:42] davidfowl commented on #5897
Hmm, that might actually work now that I've typed it out...

[2020-07-21 05:46] davidfowl opened #24142 "Improve async support"
There are a few places where we lack async support that result in people making blocking call. These are using during application startup.

- `IAsyncStartupFilter` - https://github.com/dotnet/aspnetcore/issues/5897
- `Startup` (`ConfigureServices`, `Configure`)
- IHostBuilder.Configure*
- `IConfiguration` initial load (keyvault requires an async call)

[2020-07-21 06:10] NTaylorMullen commented on #5456
Totally feel all of your pain in regards to the Razor tooling.  Thankfully it's something we're looking to address in the .NET 5 time frame. If you'd like to try this tooling (warning it's super experimental currently) you can download the latest VS preview release and check the following preview feature checkbox (Tools -> Options -> Environment -> Preview Features):

![image](https://user-images.

[2020-07-21 06:14] davidfowl commented on #5897
Ah nope, the problem is the underlying call to Configure itself would need to be async OR sync. They can't interleave or overlap because of the calling pattern. One needs to replace the other.

[2020-07-21 06:15] JvanderStad commented on #5456
https://visualstudio.microsoft.com/vs/preview/

[2020-07-21 06:18] NTaylorMullen commented on #24040
My  apologies. I've updated  my comment. Actual issue: https://github.com/dotnet/aspnetcore/issues/24126

[2020-07-21 06:29] TomaszGrzmilas commented on #24047
@NTaylorMullen

Hi,

Here is a repo https://github.com/TomaszGrzmilas/VSTest.
It is not building since, when I open Pages -> Applications.razor and start to edit it, application stop working.

[2020-07-21 06:36] JvanderStad commented on #5456
@NTaylorMullen Is there an issue where I can log errors regarding the Razor tooling? The latest preview does not work at all :(

![image](https://user-images.githubusercontent.com/5426370/88020904-b5c8db00-cb6b-11ea-95eb-037b4184d9f8.png)

[2020-07-21 06:51] ajaybhargavb commented on #23531
Yeah. I'll also move it to preview2.

[2020-07-21 06:58] tai-yi opened #24143 "Request OpenIdConnectHandler._configuration visible in child class"
My application is integrated an OIDC provider, the op refresh JWKS everyday,  my application got `SecurityTokenSignatureKeyNotFoundException`  everyday on every instance.

The Oidc manager refresh time is default value(1h).

In the OpenIdConnectHandler, just request refresh oidc configuration, but it will work on next request.

I add a retry logic when I got `SecurityTokenSignatureKeyNotFoundExcep

[2020-07-21 07:03] davidfowl commented on #19809
## API proposal:

[code]

## Usage

[code]

cc @Tratcher

[2020-07-21 07:13] davidfowl commented on #11050
Proposal for specifying the startup instance is here https://github.com/dotnet/aspnetcore/issues/19809#issuecomment-661675618

[2020-07-21 07:30] tai-yi commented on #24143
**Update**
Right now, I am using Reflection set `_configuration` to null.

[code]

[2020-07-21 07:41] mrpmorris commented on #24139
Because you don't (can't) await the async method you execute from your property setter it takes place in dependently of the current chain of execution.

In this case, use `InvokeAsync(StateHasChanged) `

[2020-07-21 08:08] JoeVigGitHub opened #24145 "Esempio"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Logs & Exceptions

Please collect the data below before reporting your issue to aid us in diagnosing the root cause.

#### Activity log
[Here](https://docs.microsoft.com/en-us/visualstudio/extensibility/how-to-use-the-activity-log?view=vs-2019#to-examine-the-activity-log) are the instructions on how to

[2020-07-21 08:25] JunTaoLuo opened #24146 "Flaky test: ClearsResponseBuffer_BeforeRequestIsReexecuted"
[code]

Failing build: https://dev.azure.com/dnceng/public/_build/results?buildId=738667&view=results
Console logs: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-aspnetcore-refs-heads-master-fa4fdc47cd844c5095/Microsoft.AspNetCore.Diagnostics.Tests--net5.0/console.4429d75a.log?sv=2019-02-02&se=2020-08-10T01%3A01%3A11Z&sr=c&sp=rl&sig=dCN%2BLVPc5j3bZ9miFA5E%2F5jso6CueSyncGCv%2BGWc4Dg

[2020-07-21 08:36] davidfowl commented on #23238
No this isn't possible. You need to implement a real container to get the transitive graph to work. I would use another container that supports these kinds of hooks.

[2020-07-21 08:36] #23238 closed

[2020-07-21 08:49] huysentruitw commented on #24111
Are you using a reverse proxy to host your API? Perhaps it's the proxy that denies the requests from `localhost:5000` ?

[2020-07-21 08:53] huysentruitw commented on #24056
Letting `VerifyUserTokenAsync` or `ConfirmEmailAsync` invalidate the token would be an unexpected side-effect of calling these methods.

[2020-07-21 09:03] xboxeer opened #24148 "EnableSessionLock option for SessionOption and default to false"
### Is your feature request related to a problem? Please describe.
This is a question comes from a Stackoverflow question [Enable asp.net core session](https://stackoverflow.com/questions/62563250/enable-asp-net-core-session-locking)
### Describe the solution you'd like
Add another property in SessionOption class named EnableSessionLock, default to false, when setting to true, session lock is enab

[2020-07-21 09:08] nikonthethird commented on #5620
Maybe there could be a hidden `InProcessNavigationManager` (like we have `IJSInProcessRuntime`) for Blazor WASM?

It could support Blazor WASM navigation use-cases.

[2020-07-21 09:30] HaoK commented on #24056
This is dependent on the token provider implementation, the default one is a time sensitive data protection based one I believe, that's salted with the security stamp.  What @blowdart said is correct, confirming the email doesn't update the security stamp since that will log you out everywhere, ChangeEmail does do this and hence the tokens will only work once.  We don't store the tokens anywhere s

[2020-07-21 09:30] #24056 closed

[2020-07-21 09:49] NPadrutt commented on #22911
I have the same issue, funny enough only on my work pc. When I try it on another one it works as expected.

[2020-07-21 09:54] akhil117 commented on #24111
@huysentruitw  no, API is running ucp container

[2020-07-21 10:01] serpent5 opened #24149 "AddControllersAsServices + ServiceProviderOptions.ValidateOnBuild causes exception but still works"
In the following example, I expect the custom registration of `ExampleController` to be used when the controller gets activated:

[code]

[code]

In a 2.1 version of the preceding code, this works without issue. However, in 3.1, this causes an exception when running with `ASPNETCORE_ENVIRONMENT` set to `Development` (exception details below). This is because DI service-descriptors are validated on

[2020-07-21 10:20] serpent5 commented on #24149
Never mind. I've figured out what's going wrong here...

1. The call to `AddControllersAsServices` adds a `ServiceDescriptor` (SD) for `ExampleController`.
1. The explicit call to `AddTransient` adds _another_ SD for `ExampleController`.
1. During the validation process, _all_ SDs are validated. The first SD can't be resolved because it doesn't know how to create the `ExampleService`.
1. When the

[2020-07-21 10:20] #24149 closed

[2020-07-21 11:40] #24122 closed

[2020-07-21 11:52] Tragetaschen commented on #24051
Yup: Doesn't happen in the VS preview with the experimental editor.

[2020-07-21 12:11] lukas-lansky commented on #24082
Strange thing that Arcade update breaks [caused null to be returned from here](https://github.com/dotnet/aspnetcore/blob/5a0526dfd991419d5bce0d8ea525b50df2e37b04/src/Shared/CommandLineUtils/Utilities/DotNetMuxer.cs#L54). Any ideas @riarenas @missymessa ? Maybe something to do with https://github.com/dotnet/arcade/issues/5402 ?

[2020-07-21 12:25] niem94 commented on #24117
I can confirm that it is fixed 🚀

[2020-07-21 12:26] missymessa commented on #24082
Ricardo's change here was not promoted to .NET Eng - Latest, and was reverted yesterday.

[2020-07-21 12:31] javiercn commented on #24151
@grinrag this is the right repo for the aspnetcore templates.

[2020-07-21 12:32] dharmaturtle commented on #5456
@JvanderStad I believe the syntax should be `"@(row => ...`

[2020-07-21 12:35] JvanderStad commented on #5456
Works fine in the current version

![image](https://user-images.githubusercontent.com/5426370/88055452-2f79bc80-cb9e-11ea-945d-7390db29c117.png)

[2020-07-21 12:39] dharmaturtle commented on #5456
@JvanderStad ah, if you're talking about colors, that's currently broken, as are many other things

https://devblogs.microsoft.com/aspnet/new-experimental-razor-editor-for-visual-studio/

[2020-07-21 12:41] javiercn commented on #24098
This is already possible today. The following doc provides an overview of what you need to do to support it. See [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/additional-scenarios?view=aspnetcore-3.1#support-prerendering-with-authentication) for details

[2020-07-21 12:48] JvanderStad commented on #5456
I missed Daniels' blogpost. I know now what to expect. Thnx

[2020-07-21 13:03] zbecknell opened #24152 "Blazor: display name of element/component when duplicate @key encountered"
Creating this for tracking.  Submitting a PR in a moment.

[2020-07-21 13:15] mifopen commented on #24098
@javiercn, thanks for the answer, but the doc doesn't mention a solution to my problem. Yes, it is possible to server-side render .razor file and the connect Blazor WebAssembly to it, but you will notice UI flickering from server-side rendered view to uninitialized component and back again. The state that we use on the server to render the page doesn't hydrated to client, so we have uninitialized

[2020-07-21 13:21] Banyc opened #24154 "Blazor components cannot access any thing useful"
### Is your feature request related to a problem? Please describe.

Blazor has no HttpContext, which provides a ton of useful information.

I can not even access cookies even if Signalr connection instantiated inside a razor component that needs cookie as authentication.

I have wasted my whole day to find out solution but NOTHING is achieved.

WHY BLAZOR COMPONENTS ARE SO HARD TO MANAGE?

A simpl

[2020-07-21 13:24] Tratcher commented on #24148
There are no plans to support locked sessions, they cause significant scalability and implementation problems. These scenarios are better addressed working directly with an application database.

[2020-07-21 13:43] javiercn commented on #24098
@mifopen we don't have an out of the box solution for preserving the state from the prerendered component. That's up to the app developer for now. I believe there's a separate issue for this request, but I can't find the issue number, so I'll leave this one open for the time being.

[2020-07-21 13:44] thomaslevesque commented on #13085
I do. [WOPI](https://wopi.readthedocs.io/en/latest/) expects the `X-WOPI-Lock` header to be set to an empty string in some situations. If it's not there, the validation tests don't pass (see the [documentation](https://wopi.readthedocs.io/projects/wopirest/en/latest/files/Unlock.html))

I have a WOPI host implementation that worked fine in ASP.NET Core 2.1, but after migrating to ASP.NET Core 3.1,

[2020-07-21 14:02] thomaslevesque commented on #13085
I think my problem is related to this: https://github.com/dotnet/aspnetcore/pull/12486
The only workaround that I found is to set the header to a string with only whitespace. The value is actually trimmed before being sent to the client, but it prevents the header from being removed completely. It seems pretty brittle, though...

[2020-07-21 14:10] SQL-MisterMagoo commented on #10476
@pranavkm @danroth27 Would you want a code fix along with the analyzer?

[2020-07-21 14:19] weshall1994 opened #24155 "Blazor components updation issue"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Exceptions (if any)

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2020-07-21 14:20] weshall1994 commented on #24155
please help me to solve this issue.

[2020-07-21 14:23] javiercn commented on #24155
@weshall1994 thanks for contacting us.

Could you provide the necessary information for us to help you? It's not clear what your issue is.

[2020-07-21 14:24] kevinchalet commented on #2948
FWIW, I've never understood why `AuthenticationHandlerProvider` had a fallback to `ActivatorUtilities.CreateInstance()`:
  - All the `AuthenticationBuilder.AddScheme()` extensions register the authentication handler as a transient service in DI, which means `ActivatorUtilities.CreateInstance()` is typically never called in practice.

  - In the ultra rare cases where `AuthenticationBuilder.AddSche

[2020-07-21 14:48] ylr-research commented on #24139
@mrpmorris if I understand should be like this,
[code]
just did it and still get the same error.

[2020-07-21 14:54] weshall1994 commented on #24155
Actually I am adding 100 items to the list , the items added to the list
completes within  .010 ms in code but ui takes 14 secs to update

On Tue, 21 Jul 2020, 7:53 pm Javier Calvarro Nelson, <
notifications@github.com> wrote:

[2020-07-21 15:02] BrennanConroy commented on #24082
It caused MainModule to return testhost.exe

[2020-07-21 15:04] javiercn commented on #24155
@weshall1994 thanks for the additional details. Can you provide a minimal repro project so that we can understand why the update is taking so long?

Is this server-side blazor or blazor webassembly?

[2020-07-21 15:05] weshall1994 commented on #24155
Server side blazor

On Tue, 21 Jul 2020, 8:34 pm Javier Calvarro Nelson, <
notifications@github.com> wrote:

[2020-07-21 15:24] Usamax80 commented on #22186
@halter73 any help would be appreciated.

[2020-07-21 15:28] AnthonyDewhirst commented on #24093
OK, so I have spent some more time, found one issue and changed a few bits, I now believe that I have the auth side working.
I have also used the blob api within web assembly and it works just fine everytime.
If someone could just check over the way I use the token that would be great but otherwise I am going to throw this back over to the storage team.

[2020-07-21 15:34] Tratcher commented on #24151
What version are you using? This should have been addressed back in 3.0. See https://devblogs.microsoft.com/aspnet/forwarded-headers-middleware-updates-in-net-core-3-0-preview-6/

@bradygaster

[2020-07-21 15:39] Peter-Juhasz commented on #5620
I was able to implement a partial solution, but it's still pretty messy. This is the way it works:
 - JavaScript: subscribe to `beforeunload` event (deploy custom script)
 - Blazor: subscribe to the `OnFieldChange` event of `EditContext` on `OnParametersSet` (also, don't forget to handle previous subscriptions as the component may be reused)
 - Blazor: in the event handler, evaluate whether the fo

[2020-07-21 15:46] Tratcher commented on #13085
https://wopi.readthedocs.io/projects/wopirest/en/latest/files/Lock.html?highlight=x-woki-lock

Even that spec says an empty header is equivalent to not adding it at all.

[2020-07-21 15:49] hesuruio opened #24156 "Incredibly slow compile/build time for Blazor project"
We have a fairly large Blazor project and the compile/build time takes around 4 minutes.

We tried building in the following scenarios with similar results:

- build using VS 16.6.4 stable
- build using VS 16.7.0 Preview 4.0
- build using VS Code 1.47.2
- build using command line dotnet build --no-incremental

I have attached a binary log from the command line build.
[msbuild.zip](https://github.c

[2020-07-21 16:00] NaivE2k4 opened #24157 "git clone failing on MessagePack submodule checkout"
Hello!
I want to build 3.1 from source, so i'm cloning repository.
Current command looks like this
`git.exe clone --progress --recursive --branch release/3.1 --origin asp31-3 -v --depth 1 "https://github.com/aspnet/AspNetCore.git" "D:\ASPNETCOREREPO\asp31-3"`

It goes good, but in the end it outputs this line:
`error: Server does not allow request for unadvertised object 8861abdde93a3b97180ac3b2ea

[2020-07-21 16:01] thomaslevesque commented on #13085
@Tratcher indeed, I didn't notice that bit.
But the spec contradicts itself, because later it says:

In any case, the validation tests require that the header is present, even if it's empty. Omitting it make the tests fail. So I guess they should either fix their doc, or fix their tests...

[2020-07-21 16:06] Tratcher commented on #13085
Its certainly worth getting clarification from them about it. The docs seem correct to treat a missing and empty header the same. If they give you trouble send them to me.

[2020-07-21 16:07] BrennanConroy commented on #24135
@Tratcher What is the correct way to use AzureAD Bearer Auth with a query string value for the token?

[2020-07-21 16:08] thomaslevesque commented on #13085
@Tratcher I will, thanks!

[2020-07-21 16:18] Tratcher commented on #24135
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c?view=aspnetcore-3.1#configure-the-underlying-openidconnectoptionsjwtbearercookie-options

[2020-07-21 16:30] captainsafia commented on #21849
@zbecknell Sorry for the delay on this! Can you repro this issue in the 5.0-preview7 release of Blazor WASM?

[2020-07-21 16:30] javiercn commented on #24157
@NaivE2k4 thanks for contacting us.

That looks weird. I would suggest you try git submodule init; git submodule update to see if the problem persists. Not sure about what the `--depth 1` flag does, I would recommend you simply do `git clone --recursive https://github.com/aspnet/AspNetCore.git`

[2020-07-21 16:32] #23723 closed

[2020-07-21 16:32] TanayParikh commented on #23723
Yes, closed out, thanks!

[2020-07-21 16:33] captainsafia commented on #24154
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-07-21 16:34] TanayParikh commented on #23754
Yes, assuming https://github.com/dotnet/roslyn/pull/45956 is part of 16.8-Preview1

[2020-07-21 16:34] captainsafia commented on #24152
@javiercn Assigning to you to drive PR to completion.

[2020-07-21 16:38] javiercn commented on #24154
@Banyc thanks for contacting us.

The HttpContext is normally not available for Blazor applications. That is because Blazor applications don't run in the context of a request and response. The context can be available under some circumstances through IHttpContextAccessor, but we discourage its usage. See the documentation [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/server/t

[2020-07-21 16:42] pranavkm commented on #24095
Seems to work fine for me:

[code]

[2020-07-21 16:42] captainsafia commented on #24093
@AnthonyDewhirst Glad you were able to figure this out. We'll close this issue now. If you run into any more Blazor-related issues, please let us know.

[2020-07-21 16:42] #24093 closed

[2020-07-21 16:42] Pilchie commented on #24146
It's not clear to me that this is actually flaky, as opposed to broken everywhere.  Should someone take a look and see if a regression of some kind slipped through?

[2020-07-21 16:43] stefanloerwald opened #24159 "Blazor Component called "Script" produces intellisense errors and fails to compile correctly"
### Describe the bug

Using a component named `Script.razor` produces an intellisense error:

In a component, write:
[code]

- Intellisense detects it as the `script` tag (which it isnt):
[code]
### To Reproduce

- Create a component with file name `Script.razor`. Leave content as default (so that we see whether it's used or not)
- in `Index.razor`, add the component: `<Script />`.
- Notice the wa

[2020-07-21 16:44] NaivE2k4 commented on #24157
Very sorry, it appears that my git is kinda broken, checkout worked on another machine! @javiercn javiercn Sorry for taking your time!

[2020-07-21 16:44] #24157 closed

[2020-07-21 16:44] Tratcher commented on #24138
Every UTF7 instance in AspNetCore is in a check that prevents its usage:
https://github.com/dotnet/aspnetcore/search?q=UTF7&unscoped_q=UTF7
https://github.com/dotnet/aspnetcore/blob/a4dd539b40fe5fd69c2a968987bc6b9efb305979/src/Http/WebUtilities/src/MultipartSectionStreamExtensions.cs#L38-L42
https://github.com/dotnet/aspnetcore/blob/a4dd539b40fe5fd69c2a968987bc6b9efb305979/src/Http/WebUtilities/sr

[2020-07-21 16:45] captainsafia commented on #24133
@pheuter Thanks for opening this issue! We don't believe that this is an issue related to MVC. Can you reach out to the functions team with this problem to see if they can provide insight.

https://github.com/azure/azure-functions

[2020-07-21 16:45] #24133 closed

[2020-07-21 16:47] stefanloerwald commented on #24159
Similarly, a component named `Link` behaves badly as well, although differently:

The editor will auto-correct it to lower-case `link`, which one can correct to `Link`, but nothing for it will get rendered.

[2020-07-21 16:47] captainsafia commented on #24111
Thanks for opening this issue. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2020-07-21 16:48] Tratcher commented on #24112
@captainsafia please link to the MVC issue/pr that will address this.

[2020-07-21 16:48] captainsafia commented on #24104
Thank you for your feedback. We're closing this issue as the behavior discussed is by design.

[2020-07-21 16:48] #24104 closed

[2020-07-21 16:52] stefanloerwald commented on #24159
Actually, this is all hugely messed up:

[code]

results in
[code]

However,
[code]
works.

And lastly:
[code]
only displays "Script"

[2020-07-21 16:54] captainsafia commented on #24090
Thank you for your feedback. We're closing this issue as the behavior discussed is by design.

@pranavkm Can you point to a code sample for how this can be implemented in the app?

[2020-07-21 16:58] captainsafia commented on #24001
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-07-21 17:01] captainsafia commented on #23958
Thank you for your feedback. We're closing this issue as the behavior discussed is by design.

[2020-07-21 17:01] #23958 closed

[2020-07-21 17:02] captainsafia commented on #23946
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-07-21 17:03] #24154 closed

[2020-07-21 17:04] captainsafia commented on #24061
Thanks for opening this issue, @TimPosey2! Please review the following references for guidance with this question

* https://stackoverflow.com/questions/4280592/c-sharp-generic-implicit-cast-on-interface-failed/4280626#4280626
* https://github.com/dotnet/aspnetcore/issues/3224#issuecomment-397376517

[2020-07-21 17:05] pranavkm commented on #24090
It would look something like this:

[code]

[2020-07-21 17:08] javiercn commented on #24090
To add to what @pranavkm said, note that the set of routes you have there, are ambiguous for link generation. Routing will be incapable of deciding between unless you provide an explicit preference through order (meaning one of them will never be used for link generation)
[code]

[2020-07-21 17:09] captainsafia commented on #24112
@Tratcher Ah -- we interpreted your response as "we already fixed this as part of the 5.0 release" during triage.

If we don't, we can re-open this.

[2020-07-21 17:16] EdCharbeneau commented on #12376
Running from within VS I get:

[code]

Which points to this broken link:

[code]

[2020-07-21 17:30] Banyc commented on #24154
This is exactly why I so frustrated. What I need is a concrete solution. I have tried many times to guess what it means by “to do so as parameter”. I have already given an example above to show a false attempt which also “to do so as parameter”.

I have wasted most of the time to guess those “Useful instructions.”

[2020-07-21 17:32] Banyc commented on #24154
Interesting

[2020-07-21 17:40] JunTaoLuo opened #24162 "Runtime dependency out of date"
Blocked on https://github.com/dotnet/aspnetcore/pull/23978

[2020-07-21 17:53] mkArtakMSFT commented on #17472
This has been resolved by https://github.com/dotnet/aspnetcore/issues/22892

[2020-07-21 17:54] EdCharbeneau commented on #12376
@captainsafia Selenium doesn't seem to work when running tests within VS. I haven't tried from the CLI.

[code]

[2020-07-21 17:58] JunTaoLuo opened #24164 "Flaky test: AppAbortViaIConnectionLifetimeFeatureIsLogged"
Builds: https://dev.azure.com/dnceng/public/_build/results?buildId=736954&view=results https://dev.azure.com/dnceng/public/_build/results?buildId=737292&view=results
Logs: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-aspnetcore-refs-heads-master-09ccb32cb3fb4ef688/InMemory.FunctionalTests--net5.0/console.049664e5.log?sv=2019-02-02&se=2020-08-08T18%3A16%3A29Z&sr=c&sp=rl&sig=wE3Dzvl

[2020-07-21 18:05] Youssef1313 opened #24165 "Add nullable annotations to identity"
For example, GetUserAsync method in UserManager class can return null, but it's not marked with nullable annotation.

[2020-07-21 18:09] Youssef1313 commented on #24165
Note: I think this deserve to be addressed for version 5.0.

[2020-07-21 18:21] GrabYourPitchforks commented on #24138
I clarified the breaking change doc a bit. The reason we discourage checks against `Encoding.UTF7` directly is that:

[code]

The code page check is the more reliable way to perform this check.

[2020-07-21 18:25] zbecknell commented on #21849
I'll let you know when I resolve a new build error and am able to test:

[code]

For whatever reason this `{ProjectName}.MvcPartsAssemblyInfo.cs` gets generated with the following content:

[code]

I haven't created an issue for this yet, but may need to unless I can figure it out soon.

[2020-07-21 18:38] pheuter commented on #24133
Hi @captainsafia, thanks for the response! I was afraid you might suggest that, I initially opened up this issue in that repo, but noticed that the response time is significantly longer than on this one, and the problem is related to certain MVC features like OutputFormatters so figured I'd give it a go. This is currently affecting our development significantly so some urgency would go a long way.

[2020-07-21 18:42] javiercn commented on #23821
https://developer.microsoft.com/en-us/identity/blogs/msal-js-2-0-supports-authorization-code-flow-is-now-generally-available/

We can go ahead and update

[2020-07-21 19:36] meziantou opened #24168 "Blazor WebAssembly - System.IO.Compression.ZLibException: The underlying compression routine could not be loaded correctly"
### Describe the bug

The following code works on .NET Core 3.1 and .NET 5 Preview 6. After upgrading to .NET 5 Preview 7, it throws an exception when using `GZipStream`.

[code]

[code]

### Further technical details

- Blazor WebAssembly in Edge (beta)

[code]

[2020-07-21 20:03] zbecknell opened #24171 "Blazor Wasm Preview7: Broken build generates MvcApplicationPartsAssemblyInfo.cs"
### Describe the bug
After upgrading a hosted Blazor Wasm project to .NET 5 preview 7, the client project produces a `MvcApplicationPartsAssemblyInfo.cs` file with the following contents:

[code]

The `ApplicationPartAttribute` references the two project references in the client project, but are not recognized:

[code]

### To Reproduce
I don't yet know how to reproduce, but maybe it's related to

[2020-07-21 20:11] campersau commented on #24168
Looks similar to https://github.com/dotnet/runtime/issues/39635

[2020-07-21 20:27] zbecknell commented on #24171
For a little more info: removing the `<UseBlazorWebAssembly>true</...` allows the build to succeed but then doesn't allow the site to be reached (as expected).

[2020-07-21 20:35] campersau opened #24173 "Blazor WebAssembly HttpClientHandler "Supports*" properties regressions in 5.0.0-preview.7.20365.19"
### Describe the bug
Before upgrading to `5.0.0-preview.7.20365.19` the following `HttpClientHandler` properties returned `false` as they are not supported on wasm:
- `SupportsAutomaticDecompression`
- `SupportsProxy`
- `SupportsRedirectConfiguration`

which was useful to feature detect and avoid `PlatformNotSupportedException`s thrown by their corresponding properties:
- `AutomaticDecompression`

[2020-07-21 20:37] marius-bughiu commented on #24090
Thank everyone for taking the time to answer 💯

@pranavkm thanks a lot for the code snippet, it seems to do the trick just fine though it's a bit weird why it's even needed. I would expect the `AddPageRoute` method to do the same, to simply add an additional `SelectorModel` without disabling all the existing ones, but from what I could notice while debugging (haven't looked at the source code yet)

[2020-07-21 20:42] mkArtakMSFT commented on #23401
Thanks for contacting us.
This is not something we plan to do in the near future. You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-07-21 20:42] #23401 closed

[2020-07-21 20:43] mkArtakMSFT commented on #23470
This is a dupe of https://github.com/dotnet/aspnetcore/issues/22274

[2020-07-21 20:43] #23470 closed

[2020-07-21 20:43] lewing opened #24174 "Enable ICU in blazor"
Since the blazor platform code calls directly into the runtime rather than using the normal initialization code it doesn't have the logic to load the icudt.dat file into the runtime that is required to enable icu.  It will need to copy `icudt.dat` from the runtime pack and insert it into memory using `offset = this.mono_wasm_load_bytes_into_heap (bytes)` and `this.mono_wasm_load_icu_data (offset)`

[2020-07-21 20:44] pranavkm commented on #24090
@marius-bughiu the intent was for `AddPageRoute` to override the implicit route template created from the path (explicit vs implicit). Clearly there's a bug where calling `AddPageRoute` stomps over each other.

[2020-07-21 20:45] lewing commented on #24174
cc @pranavkm @SteveSandersonMS

[2020-07-21 20:47] pranavkm commented on #24174
Thanks @lewing. Is this available in the p8 branch?

[2020-07-21 20:48] mkArtakMSFT commented on #23649
Thanks for contacting us. The exception you're seeing is a First-Chance Exception, which has no impact on the runtime. Consider disabling that specific exception from the first chance exceptions list in VS tools: https://docs.microsoft.com/en-us/visualstudio/debugger/managing-exceptions-with-the-debugger?view=vs-2019

[2020-07-21 20:48] #23649 closed

[2020-07-21 20:49] lewing commented on #24174
not yet, merge to p8 pr soon

[2020-07-21 20:52] pranavkm commented on #23759
A fix for this would be add `[IgnoreAntiforgeryToken]` to https://github.com/dotnet/aspnetcore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/content/RazorPagesWeb-CSharp/Pages/Error.cshtml.cs#L13

[2020-07-21 20:53] #13304 closed

[2020-07-21 20:57] zbecknell commented on #24171
Added workaround to disable the generation of this file.  I'm up and running!

[2020-07-21 20:59] Tratcher opened #24175 "Identifying if a request has a body"
It's difficult to check if an HTTP request has a body without actually calling read on that body. The caller might not want to call read because that can have side-effects like 100-continue, throwing, etc.. YARP is one example where we need to know if there is a request body before calling read (https://github.com/microsoft/reverse-proxy/pull/336) because YARP doesn't call read itself, it generate

[2020-07-21 21:00] campersau commented on #24173
As a workaround it is possible to subclass `HttpClientHandler` and override these properties manually:

[code]

[2020-07-21 21:01] #18944 closed

[2020-07-21 21:21] dfederm opened #24176 "Unable to hit breakpoints for Blazor in VS or the browser"
### Describe the bug
I'm unable to hit breakpoints for Blazor in VS or the browser

### To Reproduce
Following the instructions on the docs to debug.

I tried IIS Express and Kestrel as the server, Edge (Chromium flavor) and Chrome as the browser, and debugging both through VS and directly in the browser. In both cases I seem to be in a debugging state (VS and the browser both seem to think they'r

[2020-07-21 21:37] lewing commented on #24174
https://github.com/dotnet/runtime/pull/39739

[2020-07-21 21:44] dfederm commented on #24176
Attempted to follow the instructions here: https://github.com/dotnet/aspnetcore/issues/22012#issuecomment-637117329

The webserver logs:
[code]

[2020-07-21 22:00] #24088 closed

[2020-07-21 22:08] ryanbrandenburg commented on #24022
I was able to repro this. Since the edited requests never reached our LSP I'm working on the assumption that this is a problem on the VS side.

[2020-07-21 22:31] TheRisingEdge commented on #18201
+1

[2020-07-21 22:40] NTaylorMullen commented on #5456
Ya C# semantic colorization is something we haven't implemented yet in the new editor 😄

[2020-07-21 23:18] blowdart commented on #24165
@HaoK More nullable in addition to https://github.com/dotnet/aspnetcore/issues/22656

[2020-07-21 23:46] TanayParikh opened #24178 "Razor Configuration Serializer Doesn't work for MVC 1.1"
Backfilling issue so skipped template. Errors for MVC 1.1 projects.

[2020-07-21 23:54] ryanbrandenburg commented on #23908
@TanayParikh had to revert my fix. It seems that IsIncomplete is not yet respected, and without it `@DateT`<pause>Enter inserts empty text (result `@`).

[2020-07-22 00:02] Stryxus opened #24180 "Blazor WebAssembly Client cant create WebSockets in Preview 7"
After upgrading my Blazor WebAssembly Client project to .NET 5 Preview 7, ClientWebSocket doesnt seem to connect at all via .ConnectAsync()

No websocket appears in the browsers dev tools network list and yes, the servers socket is live, iv connecting to it manually.

How to reproduce?
Simply create a ClientWebSocket and connect it to a websocket receiver (In my case was ws://localhost:5000/state)

[2020-07-22 00:28] #24178 closed

[2020-07-22 00:35] KatoFett opened #24181 "Razor Misinterprets JavaScript < Symbol"
This is using ASP.Net Core 3.1. The Razor compiler can misread any `<` symbols inside of a `<text></text>` element. For example, this will not compile:

![image](https://user-images.githubusercontent.com/67660601/88120037-4c52c780-cb7f-11ea-988a-fc0eb3134d28.png)

![image](https://user-images.githubusercontent.com/67660601/88120093-67bdd280-cb7f-11ea-81c9-0417b346f720.png)

One workaround is to wr

[2020-07-22 00:38] JunTaoLuo opened #24182 "Grpc Interop tests assembly load failure on Helix"
The gRPC interop tests are currently disabled.

We saw failures after the latest dependency updates brought breaking Logging changes in the runtime: https://dev.azure.com/dnceng/public/_build/results?buildId=739743&view=results

The error suggests that the wrong version of the M.E.Logging.Console is being loaded at runtime:
[code]

I suspect that the helix environment didn't install the correct as

[2020-07-22 00:43] j4587698 commented on #22186
@Usamax80
Do you have a simple repro app? My simple repro may not be able to reproduce your problem.

[2020-07-22 00:43] pranavkm commented on #24156
@hesuruio could you try disabling `Nullable` in your `Pbs.Skipper.Gui` project? We had one other issue report where the generated Razor code performed poorly with the compiler's nullability analysis.

[2020-07-22 01:03] pstricks-fans opened #24184 "A problem on Chrome 84"
I have a child component called `Earth` as follows.

[code]

It is consumed in a parent routable component named `Index` as follows.
[code]

Running on Chrome version 84 I got a strange result as follows.

![test](https://user-images.githubusercontent.com/50270635/88122029-a8eeca80-cbf1-11ea-8319-0fb65633171e.png)

However, there is no problem on Microsoft Edge version 84.

Feel free to close this

[2020-07-22 01:32] Banyc opened #24185 "Parameter not passing into <app> razor component"
### Describe the bug

Parameter not passing into <app> razor component

### To Reproduce

Build a blazer component inside a blazer page project following <https://docs.microsoft.com/en-us/aspnet/core/blazor/components/integrate-components?view=aspnetcore-3.1>

The `_Host.cshtml` now looks like this:

[code]

...and the view model looks like this:

[code]

I have debugged by steps, before calling `

[2020-07-22 01:35] SCEV commented on #23215
I am encountering this same issue.  I feel like it's some configuration I am missing.  When I run my application locally (localhost) in IISExpress I can authenticate, and navigate the Blazor application fine.  If I publish the site to IIS (10), and access the site via the URL it seems to log me in correctly on the server-side, I can manually navigate to {URL}/Identity/Account/Manage, and see my ac

[2020-07-22 01:36] Tratcher opened #24186 "Remove/disable manual response chunking"
If the application specifies a `Transfer-Encoding: chunked` response header then kestrel takes that as a signal that the app has implemented its own chunking and so the server should not auto-chunk. It's not clear that this feature has ever been used as intended, but it does keep breaking apps that are forwarding responses from HttpClient.

Example:
https://github.com/microsoft/reverse-proxy/blob/

[2020-07-22 02:02] JunTaoLuo commented on #24162
PR merged.

[2020-07-22 02:02] #24162 closed

[2020-07-22 02:24] #23759 closed

[2020-07-22 02:55] JinShil opened #24187 "Cannot find `libSystem.Security.Cryptography.Native.OpenSsl` assembly when using Roslyn in Blazor WASM"
### Describe the bug
I am using Roslyn (e.g. Microsoft.CodeAnalysis.CSharp.*) in a Blazor WASM project.  My code was working fine in 3.2, but after upgrading to 5.0-Preview7, I now receive the following runtime error when calling `SemanticModel.GetDiagnostics()`.

[code]

### To Reproduce
In a Blazor WASM .Net 5.0-Preview7 project, add references to latest C# Roslyn compiler assemblies, and invoke

[2020-07-22 03:08] PicBuilder commented on #24109
Same problem after updating the wasm nugets to 3.2.1 from 3.2.0 the app crashes as soon as it starts. Had to roll back to 3.2.0

[2020-07-22 05:10] imtrobin commented on #13709
Thanks dan, it's close what I have pieced together over the internet but it's really not situation. I'm not using ODIC, it's a custom authentication library with jwtoken/refresh tokens.

I used this which gets me closer , but it's missing quite a few bits.
https://www.mikesdotnetting.com/article/342/managing-authentication-token-expiry-in-webassembly-based-blazor

[2020-07-22 05:27] greenygh0st commented on #24135
Is there any more specific direction you can give in using this? The documentation seems a bit sparse on explanation.

I would assume that services.Configure<JwtBearerOptions> is used in conjunction with .AddAzureADBearer() and are the options then similar to the OnMessageReceived example?

[2020-07-22 06:14] Kahbazi commented on #12784
@Tratcher Which scenarios should the tests cover? Is it good enough to just bring the tests from [runtime](https://github.com/dotnet/runtime/blob/master/src/libraries/Common/tests/Tests/System/Net/aspnetcore/Http2/DynamicTableTest.cs) to this repo?

[2020-07-22 06:18] mkArtak commented on #5516
@stefanloerwald 's analysis are right. Looks like the only thing to support is really `@internal`

[2020-07-22 06:33] hesuruio commented on #24156
Hi @pranavkm! Thanks for your assistance. That made a significant difference. Close to 27s now from 4 minutes. So is there an issue already raised around nullability and Razor? I would say having `Nullable` enabled is especially important on a large project.

[2020-07-22 06:45] secana opened #24189 "Blazor WASM: Update to .NET 5 Preview 7 breaks app"
### Describe the bug

After the update of my Blazor Webassembly application I get an empty page and the following error: `System.DllNotFoundException: libSystem.Security.Cryptography.Native.OpenSsl assembly:<unknown assembly> type`

This breaks the complete application such that an update to .NET 5 Prev 7 is currently not possible.

### To Reproduce

Use .NET 5 Preview 7 for a Blazor WASM app and

[2020-07-22 06:45] davidfowl commented on #24186
After giving this more thought, I think removing it is the right decision.

[2020-07-22 06:48] campersau commented on #24189
Looks similar to https://github.com/dotnet/runtime/issues/39756 but using a different entrypoint.

[2020-07-22 06:49] JunTaoLuo opened #24190 "Flaky test: CanDeleteUnkeyed"
Error:
[code]
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=740313&view=results

[2020-07-22 07:18] marius-bughiu commented on #24090
@pranavkm, clear, then we should probably leave the issue open for someone to pick it up, right?

I can also try and have a look at it over the weekend to see if I can fix it without having deep knowledge of what is happening under the hood, but I can't promise anything.

As for my optional parameter remark above, is there any way to achieve it with Razor Pages routing? & if not, should I open a n

[2020-07-22 07:32] julienGrd commented on #24189
exactly same problem on my side.

It seem the piece of code which break the app is when i use the class SHA256Managed. (but certainly same thing with other class of System.Security.Cryptography)

For now i have to stay in preview6

[2020-07-22 08:17] TFTomSun opened #24192 "RCL documentation regarding typescript needs to be improved"
This documentation describes how to use typescript in a Razor Class Library:
https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.1&tabs=visual-studio#typescript-integration

But it doesn't cover many aspects like:

- handling of npm dependencies
- source maps / debugging / hot reload
- bundling
- consumption as a nuget package
- consumption of typescript from anothe

[2020-07-22 08:22] stefanloerwald commented on #24159
Here's a repository to reproduce all the above failures: https://github.com/stefanloerwald/blazor_broken_components/

[2020-07-22 08:33] stefanloerwald commented on #24159
Looking at the produced code, it seems that something is tripping up the razor compiler to produce the render tree and produces and empty element:

[code]
produces
[code]
As opposed to
[code]
produces
[code]

<hr />

`<Script />` + `<Link />` ends up even differently:

[code]
results in
[code]

<hr />

`<Link />` on its own only has the issue of being auto-corrected to `<link>`.

[2020-07-22 08:37] petarpetrovt commented on #17069
@Tratcher yes `INSTANCE_NAME` will be sufficient but unfortunately we can't upgrade to core yet (.NET Remoting)

[2020-07-22 09:10] stefanloerwald opened #24193 "Optional dependency @inject for Blazor"
### Is your feature request related to a problem? Please describe.

In some situations, services can be optional. For regular classes we can write
[code]

For `@inject` and `[Inject]`, there's no such equivalence.

### Describe the solution you'd like

I'd love to see a parameter to the `Inject` attribute that allows to mark a dependency as optional, e.g. `[Inject(Optional = true)]`. The `@inject`

[2020-07-22 09:26] javiercn commented on #24089
This is not something that can be achieved through OAuth/OIDC.

You either get a pop-up or a redirect to the login page, but the login dialog must be handled by the identity provider (Azure ADB2C) on their origin so that they can ensure the safety of the login attempts.

The default logic is popup and fallback to redirect, and in preview8 we added an option to avoid the popup completely and use th

[2020-07-22 09:27] #24089 closed

[2020-07-22 09:30] Tino92 commented on #23949
Do you recommend just filtering out the exceptions?

[2020-07-22 09:37] DureSameen opened #24194 "User is deleted upon update"
A user is successfully created and updated once , when 2nd time I  try to update same user . It get deleted.

[code]

[code]

### Further technical details
- ASP.NET Core version: 2.2.0
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version VS 2019 Community Edition 16.3.9

[2020-07-22 10:21] TheRealDuckboy commented on #24109
Confirming rolling back to 3.2.0 (all 5 packages in Blazor WebAssembly template app) and doing a clean, then rebuild, fixes this.

[2020-07-22 10:29] craigbrown opened #24195 "Blazor: @onchange event not working on input with type="datetime-local" in some browsers"
### Describe the bug
The "datetime-local" input type is currently only supported on Chrome and Edge. On browsers that don't support it (e.g. Safari or Firefox on desktop) it gracefully degrades to a "text" type input. If I try to use the `@onchange` attribute on a supported browser this works fine and the method assigned to it is called when I make a change.

[code]

But if I try to use the `@onch

[2020-07-22 11:13] michaeldz opened #24197 "Identity Server: new Application Profile for Server Web App"
I have multiply clients - SPA and regular Server Web Application.
SPA and Identity server hosted together. Server-side Web App hosted on other site.
I used template for creating Identity server and SPA:
[code]

I defined client for SPA:
[code]

For server side web application I have no ability to define configuration because there is no suitable profile.

It will be nice to have one more profile '

[2020-07-22 11:28] RichardVogelij opened #24198 "When migrating from 3.2 core to 5.0 preview 7 HttpClient PostAsJsonAsync code stopped working"
HttpClient's PostAsJsonAsync ignores BaseAddress when passing a Uri - but does not ignore it when passing a string.

I set the BaseAddress property in my Main.cs like so:

```builder.Services.AddSingleton(sp => new HttpClient { BaseAddress = new Uri(builder.HostEnvironment.BaseAddress) });```

My code in a service is doing:

```var response = await _client.PostAsJsonAsync<TokenContainer>(new Uri("

[2020-07-22 11:28] petarpetrovt commented on #17069
As an alternative i set custom environment variable for each site. Then use it to get the site bindings from the `ServerManager`.

[code]

[2020-07-22 11:33] Tratcher commented on #23949
Yes

[2020-07-22 12:00] Tratcher commented on #12784
Yes, those should be a good start.

[2020-07-22 12:15] #23565 closed

[2020-07-22 12:15] #23082 closed

[2020-07-22 12:24] mgupta0710 commented on #24056
Thanks a lot for suggestion. I agreed with @HaoK that we would have to implement this logic with custom token provider.

[2020-07-22 12:28] Kahbazi commented on #12784
@Tratcher I was looking at the old version of `DynamicTableTests`. Looks like all the tests from the runtime is already in this repo. Any special scenario you had in mind that need to be tested?

[2020-07-22 12:40] Rodrigo-Andrade opened #24199 "Performance regression in preview 4 to 7"
I usually test previews on a reverse proxy app that has a decent load (10-20 million requests per minute).

The current one is using .net5 preview3, and it was a bit faster then 3.1, but preview4-7 its consistently slower.

![image](https://user-images.githubusercontent.com/1174384/88177298-02a9c180-cbff-11ea-9d08-c0390a45fc4b.png)

This regression is consistent, 4 to 7 has the same performance.

[2020-07-22 12:57] javiercn commented on #24197
@michaeldz thanks for contacting us.

Our current integration with Identity Server is for SPA applications only. You can configure a web application in the same way you do today in IdentityServer by adding it to the list of Clients in the options. We don't have configuration support for that at the moment.

[2020-07-22 12:59] javiercn commented on #16670
I'm closing this issue since we've tackled the improvements in separate issues and we think we are done for the time being.

[2020-07-22 12:59] #16670 closed

[2020-07-22 13:22] Dainius14 opened #24200 "Building project with PreserveCompilationContext and PreserveCompilationReferences set to true, creates .dlls in refs folder without modifed date"
### Describe the bug
Building project with PreserveCompilationContext and PreserveCompilationReferences set to true, creates .dlls in refs folder without modifed date.

### To Reproduce
1. Create an empty asp core project.
2. Add this code to .csproj
[code]
3. Build the project.
4. Go to `bin/../../refs` folder.
5. See .dll with no Modified date.
![image](https://user-images.githubusercontent.com/

[2020-07-22 13:32] Youssef1313 opened #24201 "Nullable warnings in default identity's Register & Login razor pages"
### Describe the bug

The default code for login & register pages generates a couple of nullable warnings (CS8625, CS8602, CS8618)

### To Reproduce

1. Create an ASP.NET Core 3.1 MVC project with identity.
1. Opt-in Nullable Reference Types feature. (`<Nullable>enable</Nullable>` in csproj)
1. Scaffold Register & Login page
1. See the warnings

What's the current correct fix on the developer's si

[2020-07-22 14:00] IanKemp opened #24203 "ControllerBase.ValidationProblemDetails(ValidationProblemDetails) does not populate properties like type, detail, etc."
Consider:

[code]

[code]

Actual result:

[code]

Expected result:

[code]

What is the correct way to achieve the expected result?

[2020-07-22 14:05] pranavkm commented on #24203
That particular overload expects the caller to populate the details. Other overloads exist that will use the defaults: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controllerbase.validationproblem?view=aspnetcore-3.1#Microsoft_AspNetCore_Mvc_ControllerBase_ValidationProblem_System_String_System_String_System_Nullable_System_Int32__System_String_System_String_Microsoft_AspNe

[2020-07-22 14:23] IanKemp commented on #24203
Then what would be the simplest way to add properties to a standard `ValidationProblemDetails` bad request response?

[2020-07-22 14:47] MarkStega commented on #24095
I've discovered that this is intermittent. I had it happening consistently on my workstation but then it stopped. I've also had a 'real' Blazor WASM website fail to build with the identical issue on Github Actions.

[2020-07-22 15:10] pranavkm commented on #24203
You could use the factory to produce the validation problem and add to the Extensions:

[code]

[2020-07-22 15:18] Duke4848 opened #24207 "HttpContext.Features.Get<IStatusCodeReExecuteFeature>() always returns null"
I do use `app.UseStatusCodePagesWithReExecute("/error/{0}");` and in my `ErrorController` `Index` action I am calling

[code]
but the feature is always null no matter what. Why is it so? I'm using .NET Core 3.1.

[2020-07-22 15:26] Tratcher commented on #24207
An you provide a more complete repro and debug logs?

[2020-07-22 15:43] SteveSandersonMS commented on #24079
Considering how `@key` provides control over retention of child components, I'm not sure what else there is need for us to do here.

`@key` and parameters are independent. Keep the key the same if you want to retain this child instance; make it different if you want to force recreation of a new child instance. So it doesn't matter how many parameters you have, and it's up to you to control whether

[2020-07-22 15:53] siimv commented on #23850
I did some more investigation and found `DfaGraphWriter` class (since memory was related to the `DfaNode`-s). And the graph kind of explodes when introducing route constraints.

Here are some most simple examples:
_I didn't include here the route `/route-graph`, as it is single controller method defined as `[Route("/route-graph"), HttpGet]`_

Normal usage:
[code]
This produces nice simple graph (_

[2020-07-22 15:56] javiercn commented on #23850
@siimv thanks for the details. We've already traced this to an issue when there are literal segments after a starting parameter segment. You can work around it for now by preceding all parameter segments with a literal prefix.

We are working on a fix and we'll likely patch it in a future release.

[2020-07-22 15:58] #19809 closed

[2020-07-22 15:59] davidfowl commented on #19809
This was merged into the rc1 milestone

[2020-07-22 16:03] OFark commented on #24185
After an hour of searching, with this exact same issue, I ended up here. I figured I was doing something wrong.

[2020-07-22 16:06] siimv commented on #23850
Thanks for the tip, I was looking for workaround, but didn't find it yet.

We are migrating our applications to .NET Core 3.1 currently and have to think if we wait for the patch before finishing or try to work around it.

[2020-07-22 16:16] #23477 closed

[2020-07-22 16:17] Pilchie commented on #9020
I just wanted to call out that we've been working with the Windows team to start enabling these scenarios.   Here's a [blog post](https://aka.ms/grpcblogpost ) from the Windows team about it, and https://github.com/dotnet/aspnetcore/pull/24120 has some of the follow-up work to expose things in ASP.NET Core.

It'll still be a while before all of this lands, but it's nice to be able to report that w

[2020-07-22 16:19] thestamp commented on #9020
Thanks for the follow up, very helpful and appreciated!!

On Wed, Jul 22, 2020 at 11:17 AM Kevin Pilch <notifications@github.com>
wrote:

[2020-07-22 16:24] mrlife commented on #18305
Supporting `int` is a basic need for this type of component. This workaround in the meantime was provided by @SteveSandersonMS.

https://github.com/dotnet/aspnetcore/issues/11181#issuecomment-506288035

[2020-07-22 16:25] Tratcher commented on #9020
Note this has already been integrated into AspNetCore's HttpSys server in the 5.0 previews. Please give it a try. If we can identify any issues at this layer now then we should have less trouble when we add the IIS layer on to of this.

[2020-07-22 16:26] plkumar opened #24208 "Auto Generated JSInterop wrapper from TypeScript defnitions"
Blazor is awesome, has a lot of potential, one area of improvement  (for C# developers) is enabling the to generate a quick C# JSInterop wrapper from TypeScript Defnition, this will help the C# Developer quickly leverage readily available JS Frameworks into Blazor apps.

### Describe the solution you'd like
JS Interop wrappers can be generated from TypeScript TypeDefinitions by using TypeScript la

[2020-07-22 16:27] mkArtakMSFT commented on #24200
@JunTaoLuo where this should go?

[2020-07-22 16:29] mkArtakMSFT commented on #24208
Thanks for contacting us.
This is not something we plan to do in the near future. You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-07-22 16:29] #24208 closed

[2020-07-22 16:37] mkArtakMSFT commented on #24184
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-07-22 16:40] mkArtakMSFT commented on #24176
@captainsafia assigning this to you as you've been investigating this already./

[2020-07-22 16:40] ryanbrandenburg opened #24209 "Colors and "Squiggles" flash on and off when a project first loads in VS"
### Describe the bug
When you first launch a project in VS colors and "error squiggles" flash in and out. eventually settling in a stable and correct possition.

### To Reproduce
1. install this copy of LSP client: https://devdiv.visualstudio.com/DevDiv/_git/VSLanguageServerClient/pullrequest/262728?
1. Open a razor file.
1. It gets colorized.. then squiggles appear.. then colors disappear.. then

[2020-07-22 16:42] mkArtakMSFT commented on #24171
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-07-22 16:48] IanKemp commented on #24203
Thanks @pranavkm , got something working that I'm mostly happy with:

[code]

[code]

[code]

Response:

[code]

Deserialising the above response back to `FooValidationProblemDetails` also works perfectly!

My only remaining gripe is that `Foo` in the response is not automagically lowercased to `foo`, as is normal for model properties. Are the standard JSON output formatters not active at this sta

[2020-07-22 16:51] vzalamea commented on #9020
Is it Windows' Http.sys or is it AspNetCore's Http.sys?

Does this mean, I can do full gRPC on IIS if I use ASP.NET Core targetting .NET 5 preview?

[2020-07-22 16:52] OFark commented on #24185
So if you want to access the request header you can do that by adding a service. See: https://stackoverflow.com/questions/53817373/how-do-i-access-httpcontext-in-server-side-blazor

[2020-07-22 16:55] mkArtakMSFT commented on #24114
@stefanloerwald thanks for your effort. After some further discussions about this we've decided not to take this change. We're going to close the PR addressing this.

[2020-07-22 16:55] #24114 closed

[2020-07-22 17:19] stefanloerwald commented on #24159
@mkArtakMSFT I don't think this is exclusively a tooling issue, as the compilation step is flawed too.

[2020-07-22 17:26] Pilchie commented on #9020
Not yet.  There are a bunch of different parts here:

1. Http.sys module in Windows
2. ASP.NET Core support for this in HttpSysServer
3. IIS support for this in Windows
4. ASP.NET Core support for this on IIS
5. Support for this in the reverse proxy that Azure App Service uses
6. Azure App Service deploying a build of Windows with 1 and 3.
7. Azure App Service deploying a build of the reverse prox

[2020-07-22 17:26] Pilchie commented on #9020
Should have said, 1 is available in previews of Windows, and 2 is available in Previews of .NET 5.

[2020-07-22 17:45] Pilchie commented on #24199
@sebastienros can you follow up to get a trace and take a look at what's going on?

[2020-07-22 17:56] Pilchie commented on #24200
Also tagging @dougbu, since this might have just changed with the ref assemblies changes.

[2020-07-22 18:01] #24061 closed

[2020-07-22 18:07] SteveSandersonMS opened #24211 "Lazy loading might encounter issues if host page rerenders during loading"
Each time the host page rerenders (e.g., for reasons unrelated to navigation), it will call the router's `SetParametersAsync`, which in turn calls `Refresh` which then calls `_renderHandle.Render(Found(routeData));`. It does this even if a lazy-load is currently in progress, which means it might throw if the route relies on assemblies not yet loaded.

At minimum, we could address this by making th

[2020-07-22 18:10] pstricks-fans commented on #24184
@mkArtakMSFT : A link to the requested minimal project to reproduce the issue has been added. Thank you.

[2020-07-22 18:15] captainsafia commented on #24106
@mkArtakMSFT I think we should track this for rc1 as a tooling follow-up to the lazy-load work.

[2020-07-22 18:52] SetTrend commented on #11050
I still have strong bad feelings about having such a core class being exposed to throwing runtime exceptions instead of rendering compile time errors.

So, I would strive for an interface just providing a mandatory `IStartup::ConfigureServices()`, method similar to what @jzabroski suggested:

[code]

... and have `Configure()` be an arbitrary method decorated by an attibute, e.g. `WebConfiguration

[2020-07-22 19:02] jzabroski commented on #19809
Thank you very much!

[2020-07-22 19:08] lewing commented on #24174
@pranavkm @mkArtakMSFT  merged in preview8 now

[2020-07-22 19:12] igalfsg opened #24214 "Blazor Hosted WASM not being able to call the Backend when published to Azure"
### Describe the bug
When deploying a Hosted Blazor WASM to Azure form visual studio (tried container and tried windows app service), the static application loads without a problem but when an API is called the following error comes back:
`Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rendering component: The provided ContentType is not su

[2020-07-22 19:31] SteveSandersonMS opened #24215 "Consider changing Router lazy loading flow to be based on EventCallback<T>"
This would be desirable because then developers can understand `OnNavigateAsync` as being equivalent to any other event handler, in that:

 * It causes the host page to re-render both synchronously and asynchronously
 * Any cancelled tasks will be discarded

If we don't do it, and keep it as `Func<NavigationContext, Task>`, then the host page won't re-render in response to navigation (only the `Ro

[2020-07-22 19:32] SteveSandersonMS commented on #24215
cc @captainsafia

[2020-07-22 19:39] captainsafia commented on #24211
@SteveSandersonMS and I just had a call about this. Dumping the notes from our conversation here.

There's two dimensions to this problem:

1. How we react when the parent of the router is re-rendered by the user
2. Exposing `OnNavigateAsync` as an EventCallback so that Blazor users don't have to learn the specific re-rendering semantics of the `OnNavigateAsync` function

The two dimensions are re

[2020-07-22 19:43] pheuter opened #24216 "Blazor WebAssembly app with IndividualB2C auth unable to retrieve access token"
# Problem

My standalone webassembly app is successfully able to initiate an AAD B2C sign in user flow, which returns back to the app with an id token and my user is authenticated, but I am unable to use the HttpClient to make calls to my API because the auth flow never sent back an access token, despite my confirming that the `scope` query parameter properly contained the API permission:

<img wi

[2020-07-22 19:45] #23763 closed

[2020-07-22 19:56] captainsafia commented on #24215
This is roughly related to the problem outlined in #24211 in that we will need to to ensure that when a re-render is invoked we don't actually render the route component until the `OnNavigateAsync` task has completed. Specifically for the `StateHasChanged` call that is invoked when the task is started in our event handling logic (less so for when `StateHasChanged` is called once the async event ca

[2020-07-22 19:57] zbecknell commented on #24171
I'll definitely try and reproduce this.  A build error gives a nice easy benchmark to achieve.  I think whatever special sauce that causes my project not to be debuggable must also relate to this.  I have a project started and will continue adding to that until a reproduction happens.

[2020-07-22 20:00] dougbu commented on #24200
Doesn't relate to any recent changes in how we create ref/ assemblies since those have been limited to our 'master' branch. This instead duplicates dotnet/extensions#2750 aka NuGet/Home#8599.

The bad news is
1. We don't have tests that make sure the modification date of DLLs (ref/ or not) aren't `1980-01-01 00:00`
2. When I open the microsoft.aspnetcore.app.ref v3.1.x packages, I see the modifica

[2020-07-22 20:03] bmoyer240 commented on #24109
+1... the app launched after disabling the **inspectUri** for the server project but lost debugging..

[2020-07-22 20:07] BrennanConroy commented on #24135
You would use both `.AddAzureADBearer()` and the `services.Configure<JwtBearerOptions>(AzureADDefaults.JwtBearerAuthenticationScheme, options ...)` method, the options will be of type `JwtBearerOptions` which correlates to the `OnMessageReceived` example.

[2020-07-22 20:12] davidfowl commented on #11050
@SetTrend I appreciate the sentiment but renaming the concept of Startup to `IWebConfiguration` may feel pure is an arbitrary change that adds no value and increases confusion and concepts. We already have configuration, dependency injection, hosts, startup classes.

Instead of calling your method Configure? What's the benefit?

This feature exists for a small subset of people that want a contract

[2020-07-22 20:14] BrennanConroy commented on #24142
We'll put in `Next Sprint Planning` for now. When are you expecting this work to be done, 5.0 or later?

[2020-07-22 20:15] davidfowl commented on #24142
6.0

[2020-07-22 20:15] jjxtra commented on #11050
Once I got my head around the configure services and configure app call, I realized it was very simple to simply architect a delegate pattern. So I have a service runner class which has a constructor that takes an interface that allows hooking into various parts of the pipeline. The service runner calls configure services, then calls the delegate to give it an option to setup additional services.

[2020-07-22 20:26] dfederm commented on #24176
When debugging in browser I see "Unable to insert breakpoint" errors:

![image](https://user-images.githubusercontent.com/6445614/88225146-e453be00-cc1e-11ea-8970-f38ef24b82ed.png)

[2020-07-22 20:26] BrennanConroy commented on #24105
One potential hacky workaround is to try casting `IWebHost` to an `IAsyncDisposable` and using `DisposeAsync()` then.

We might want to consider making `IWebHost` implement `IAsyncDisposable` instead of the internal class `WebHost`. Would that be a breaking change and could we make a default interface method on `IWebHost` to make it non-breaking?

[2020-07-22 20:27] BrennanConroy commented on #24105
cc @Tratcher @davidfowl

[2020-07-22 20:29] #24148 closed

[2020-07-22 20:38] SetTrend commented on #11050
On the contrary. Renaming would _decrease_ confusion. "Startup" can be anything and nothing. `Program.cs` is a startup class, too, for instance. Without reading the docs or intimate knowledge of ASP.NET, one wouldn't know what the class does or what's it's about.

Compared to the current implementation, the benefit – again – would be that you wouln't need a crystal ball to tell what the method is

[2020-07-22 20:54] NTaylorMullen commented on #23908
If we can't fix this now due to lacking CoreEditor dependencies please talk with @AmadeusW to find the VSTS issue and move this issue to blocked in progress

[2020-07-22 21:08] TFTomSun opened #24218 "Whats the resolution of 22052?"
I have exactly the same issue with the latest VS 2019 preview like described in this issue:

https://github.com/dotnet/aspnetcore/issues/22052

@mkArtakMSFT The issue is marked as fixed. Whats the resolution?

[2020-07-22 21:25] davidfowl commented on #11050
We'll have to agree to disagree on that one.

[2020-07-22 21:36] TanayParikh commented on #24033
Reverted the first PR. No longer using the additional `Microsoft.Extensions.Caching.Memory`.

[2020-07-22 21:50] blowdart commented on #24201
Again, linking to existing #22656

[2020-07-22 21:52] blowdart commented on #24194
Where abouts in your code base are you doing the creation? Where abouts does that code run?

I'm afraid we need more context here

[2020-07-22 21:53] blowdart commented on #23299
As this really is a question about react, closing

[2020-07-22 21:53] #23299 closed

[2020-07-22 22:04] #24113 closed

[2020-07-22 22:33] NTaylorMullen opened #24222 "Utilize SourceGenerators in Razor compilation"
We currently have a compilation server that is used to optimize our use of Roslyn for startup scenarios. Now that [SourceGenerators](https://devblogs.microsoft.com/dotnet/introducing-c-source-generators/) are a thing we can run all of our C# introspection logic inside of the Roslyn compiler and remove the need for our build compilation server entirely. This will also optimize our `dotnet build` pa

[2020-07-22 22:38] michaeldz opened #24223 "update IdentityServer in Microsoft.AspNetCore.ApiAuthorization.IdentityServer"
Please update IdentityServer4.dll (and related libraries) till v4.x Currently it is v3.0.0
New library incompatible with 3.x. If I include new versions of the libraries in project I receive exception when run application on configuration phase.

[2020-07-22 22:44] abhishekdhantoia opened #24224 "AntiForgeryToken validation failing while deploy on server - 400 Bad Request"
I am working on an Angular app with .NET Core and Web API implementation. I am trying to implement Anti forgery Token for APIs. **This is working all the time on my local machine** but when I deploy this on the Dev environment (cloud) , **APIs are sometime working and sometime not working**. And When its not working I am getting **400- Bad Request** error.

Here is my configuration, Please let me

[2020-07-22 23:07] ryanbrandenburg commented on #24209
I got a repro here and investigated further. This only happens for components defined within the project. My working theory is that the project.razor.json (which is now persistent across project loads) is loaded in a "good" state, then as the project searches for components and does compilation of local components it updates that understanding before the local components are done. Then eventually

[2020-07-22 23:09] amityagov opened #24227 "Unable to publish hosted blazorwasm project with provided linux-x64 runtime identifier"
### Describe the bug
A clear and concise description of what the bug is.

Hello, i tried to publish blazorwasm hosted application from Windows to use it with Ubuntu based Docker container.

### To Reproduce

`dotnet new blazorwasm  -ho`
`cd Server`
`dotnet publish -r linux-x64 -o ./out`

### Exceptions (if any)
`
C:\Program Files\dotnet\sdk\5.0.100-preview.7.20366.6\Sdks\Microsoft.NET.Sdk\targets\

[2020-07-22 23:27] markerikson commented on #16907
Hey, just wanted to follow up on this.  Any further thoughts?

[2020-07-22 23:35] #24033 closed

[2020-07-22 23:51] Tratcher commented on #24224
Does your deployment run more than one instance?

[2020-07-22 23:55] TanayParikh commented on #24145
Thank you for filing an issue.

I don't see any specifics on the issue (just the issue template), was something else to be included?

[2020-07-22 23:59] abhishekdhantoia commented on #24224
@Tratcher  Yes I have configured 2 Instances. But its not required.

[2020-07-23 00:25] abhishekdhantoia commented on #24224
I removed the second instance. And now its working fine. Can you please suggest If I want to implement multiple instances what are the changes required ?

[2020-07-23 00:34] Tratcher commented on #24224
See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/web-farm?view=aspnetcore-3.1#required-configuration. In your case it's failing because the tokens are encrypted using local keys. You need to configure DataProtection to share the keys.

[2020-07-23 00:40] pranavkm commented on #24227
Thanks for the issue report @amityagov. We're aware of this issue and addressed it as part of the 5.0-rc milestone. For earlier releases, you could consider specifying the RID in the project file and do a publish without specify it in the CLI:

[code]

[code]

[2020-07-23 01:00] #23809 closed

[2020-07-23 01:21] ferrarimartin commented on #10117
So, given this issue and https://github.com/dotnet/aspnetcore/issues/8775, is there a way to have zero-downtime application pools recycles and deployments with IIS-only tools, or we should use other tools? We're facing the exact same issue.

[2020-07-23 01:57] #18660 closed

[2020-07-23 04:09] danroth27 commented on #16907
Hi @markerikson. We've made some progress on deciding how we want to maintain the SPA templates going forward. We should have more details to share in the next few weeks.

[2020-07-23 04:50] am-mehmood commented on #5456
@danroth27  If hot reload for blazor wasm is tricky due to architecture, do you think hot-reload for blazor server can do the trick. The idea is to seamlessly render blazor wasm via blazor server during development keeping all of the compatibility checks that ensure blazor wasm deployment and do the final stage test and deployment in actual wasm model.

[2020-07-23 05:03] MrLBQ commented on #23891
出现这个错误，没法搞了嘛？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "dotnet/aspnetcore"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年7月21日(星期二) 中午11:06
收件人:&nbsp;"dotnet/aspnetcore"<aspnetcor

[2020-07-23 05:04] Rodrigo-Andrade commented on #24199
Got a collect on the machine outside docker (its slower inside docker), but this here is weird:

![image](https://user-images.githubusercontent.com/1174384/88253518-a55a5280-cc88-11ea-883c-e7b63074fb14.png)

System.Threading.ThreadPoolWorkQueue.EnsureThreadRequested() takes a long while some times.

[2020-07-23 05:11] pranavkm commented on #24156
https://github.com/dotnet/aspnetcore/issues/22945 here's the duplicate issue. The repro app in that issue was particularly contrived which is one of the reasons we didn't dig in to further. If you are able to share a minimal repro that replicates the problem, it'd help.

[2020-07-23 05:57] lnodaba commented on #22911
I have the same issue, finally instead of IIS Express I use the project launchsettings:

![image](https://user-images.githubusercontent.com/38653825/88255977-9395a100-ccc2-11ea-824e-726056c91cd5.png)

[2020-07-23 07:34] YairHalberstadt commented on #23975
Related https://github.com/dotnet/roslyn/issues/45777

[2020-07-23 07:38] javiercn commented on #24223
@michaeldz thanks for contacting us.

This is on our roadmap.

[2020-07-23 07:44] hamdand commented on #22911
Hi,
After searching for couple of days, I did the following and it worked like charm:
1.Install IE "Microsoft edge"
2.Use IE "Microsoft edge" as your VS. browser (*NOT CHROME*)
3.Use your application as server (*NOT IIS EXPRESS*).
Enjoy.
![image](https://user-images.githubusercontent.com/6485997/88262727-cc8d4000-ccd9-11ea-9158-a8248cdcce90.png)

[2020-07-23 08:16] vd3d opened #24231 "Blazor JavaScript tag"
Currently, blazor support the <style> tag, it is really helpful, this way we can add CSS style only in their respective components.
Otherwise, it is a pain to manage and clean very large CSS files.

So, I think we also need a <JavaScript> tag that we can use into each component, with specific component JavaScript.
Currently, I have my own library loading some JavaScript on the fly, but it is done

[2020-07-23 08:20] vd3d opened #24232 "Conditional Blazor HTML / CSS etc..."
Hi,

In C# we have conditional compilation, like:

#ifdef DEBUG
...
#endif

If will be useful to have the same for HTML/Blazor files. By example, with the same code base I wish to create
a desktop web site, and also a mobile version (or kind of Feature-Flag). It has to be at compile time to
minimize the file size (all about optimization)

### Describe the solution you'd like

add something like:

[2020-07-23 08:20] mrpmorris opened #24233 "[Blazor] Explicitly set values should trump splatted attributes"
https://docs.microsoft.com/en-us/aspnet/core/blazor/components/?view=aspnetcore-3.1

Attributes having to have a special order is not immediately obvious when trying to understand why an explicitly set parameter value is incorrect.

The position of `@attributes` should be irrelevant. The `@attributes` should be splatted first so that explicitly set parameters cannot be overridden by the consumer o

[2020-07-23 09:13] Duke4848 commented on #24207
Now I understand why it always returns null, but the implementation of StatusCodeMiddleware doesn't make sense to me at all.

The last statement in the following method is the one that should cause ReExecution of the pipeline, however one will never get there as first all other middlewares are executed till the end instead of rewriting the request and running the pipeline from the begginning.

In

[2020-07-23 09:52] Duke4848 commented on #24207
Understood my error, Identity Server was already returning 302 that's why nothing happened, however I found other issue.

[2020-07-23 09:52] #24207 closed

[2020-07-23 10:30] Goleven opened #24234 "FromRoute / FromQuery binding failed"
`

        [HttpDelete]
        [Route("{ids}")]
        public async Task<IActionResult> DeleteProjectMaterialAsync([FromRoute] string[] ids)
        {
            await _projectMaterialService.DeleteProjectMaterialAsync(ids);

            return Ok();
        }
`
first, can i use this way?

when i request the api with (http://localhost:8001/api/ProjectMaterial/1,2)

it looks like that

![image](

[2020-07-23 11:13] Tratcher commented on #19740
Resolved via filtering.

[2020-07-23 11:13] #19740 closed

[2020-07-23 11:56] roboter commented on #18201
+100500

[2020-07-23 12:14] kostasxagoraris opened #24235 "Changing base href in web assembly blazor has undesired results"
I have the same exact issue with
https://github.com/dotnet/aspnetcore/issues/19928

The thing is that on that issue it is mentioned that it has been resolved on one of the previews but i can still see it there and I cant do much about it.
I can explicitly change the IssuerUri like this

services.AddIdentityServer (options=> { options.IssuerUri = "http://localhost/panasoftweb"; })

at startup.cs Co

[2020-07-23 13:13] PicBuilder commented on #24109
I updated visual studio to the latest version and then updated the blazor packages to the latest version , clean and rebuild and its all working now.. the key to get this to work is to update visual studio to latest version and then update the packages

[2020-07-23 14:14] boukenka commented on #24109
I did the same thing. I'm using the latest version of Visual Studio 16.7 preview 5. Then I updated the blazor packages, cleaned and rebuilt. Unfortunately, the problem remains. 😞

[2020-07-23 15:08] sebastienros commented on #24199
I have asked another dev if there are known regressions onthe TP for preview7.
Have you tried with the nightly build of .NET ? Check for the "master" column on this page: https://github.com/dotnet/installer#installers-and-binaries

Something to note is that if the latest, or even preview7 in this case, is still faster than 3.1, it will probably not be looked at for 5.0 as we are getting closer to

[2020-07-23 15:09] sebastienros commented on #24199
Maybe I id read the issue too quickly, are you saying that anything version between preview4 up to preview7 is slower than 3.1 on your tests?

[2020-07-23 15:18] JeepNL opened #24237 "[Blazor WASM] Upgrading from .NET Preview 6 to Preview 7 breaks Authentication/Roles/Claims Samples"
I've combined 2 samples(*) from @javiercn in one [GitHub Repo](https://github.com/JeepNL/Blazor-WASM-Identity-gRPC) which runs fine on .NET Core Preview 6

**(*)** Samples:
1. https://github.com/javiercn/BlazorAuthRoles
2. https://github.com/javiercn/BlazorGrpcAuth

After upgrading this repo from .NET Core Preview 6 to Preview 7 I get the error messages (below) in the Developer Console when I log

[2020-07-23 15:34] pranavkm commented on #24234
* The support formats for model binding arrays \ collections is described here: https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-3.1#collections

* MVC does not support deserializing a JSON payload from query. You could consider reading the value as a string and manually deserializing it.

[2020-07-23 15:51] javiercn commented on #24237
@JeepNL thanks for contacting us.

Just call `.ToArray()` [here](https://github.com/javiercn/BlazorAuthRoles/blob/master/Client/RolesClaimsPrincipalFactory.cs#L24) and you should be good.

Please keep in mind that the samples I upload under my username are not production quality code and are only meant to illustrate specific aspects of a problem at hand. This was just and oversight on my part wher

[2020-07-23 15:56] #21471 closed

[2020-07-23 16:27] JeepNL commented on #24237
@javiercn I understand ('_are not production quality code_') I wasn't sure to file an issue here or at your personal repo and I really don't mind if I run into issues as long as I run Preview Builds. Your samples are not only great but also the only ones about Blazor Auth Roles (I think) that's why I created this issue. Thank you for your quick reply!

[2020-07-23 16:27] #24237 closed

[2020-07-23 16:36] ryanbrandenburg commented on #23908
The story @AmadeusW reported was https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1142478.

[2020-07-23 16:38] mkArtakMSFT commented on #24235
Thank you for filing this issue. Please provide more details about what is the issue you're facing. What you're trying to do and what doesn't work. Also, in order for us to investigate this, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-07-23 16:41] mkArtakMSFT commented on #24232
Thanks for contacting us. You can use conditional pragmas within code blocks. Simply add `@{}` block wherever you want in the `.razor` file and add the pragmas there.

[2020-07-23 16:41] #24232 closed

[2020-07-23 16:42] Youssef1313 commented on #24201
@blowdart Any information on the correct action that I should take?
Is there a better solution than just suppressing the warnings?

[2020-07-23 16:44] mkArtakMSFT commented on #24216
@javiercn FYI, in case there is something urgent to be addressed here.

[2020-07-23 16:45] mkArtakMSFT commented on #24231
Thanks for contacting us.
This is a dupe of #23560

[2020-07-23 16:45] #24231 closed

[2020-07-23 16:48] mkArtakMSFT commented on #24214
Thanks for contacting us.
This usually indicates that the response type from the server is not a JSON. You can try to verify it by looking in the Network tab in the browser Developer Tools. Select the `WeatherForecast` line in the network tab and go see the `Response` in the tabs.

[2020-07-23 16:51] mkArtakMSFT commented on #24195
Thanks for contacting us.
Support of `datetime-local` is somewhat problematic: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local

We will look into what can be done here in the future.

[2020-07-23 16:54] janissimsons commented on #18088
Any updates on this?

[2020-07-23 16:55] mkArtakMSFT commented on #24218
Thanks for contacting us, @TFTomSun.
Couldn't recall the details. Please file a new issue describing the problem you're facing and we will triage it with the team.

[2020-07-23 16:55] #24218 closed

[2020-07-23 16:59] craigbrown commented on #24195
Yeah there is definitely an unfortunate lack of support in some browsers! The issue is that while these browsers "degrade gracefully", Blazor doesn't. Thanks for looking into it, hopefully this is something that can be easily fixed in future.

[2020-07-23 17:01] #24203 closed

[2020-07-23 17:03] Tratcher commented on #24175
Note there have been similar complaints about TestServer. If we have Kestrel set at fake header then TestServer should match that.

https://github.com/dotnet/aspnetcore/pull/24107
https://github.com/dotnet/aspnetcore/issues/13273

[2020-07-23 17:10] craigbrown commented on #24195
Also, I just noticed the enhancement tag - I initially described this as a bug rather than an enhancement since I think it's unexpected behaviour. In a browser that doesn't support `datetime-local`, I would expect that Blazor would treat it as a `text` input (in the same way JavaScript would), but it doesn't.

[2020-07-23 17:11] IanKemp commented on #24203
No, this issue is not resolved. @pranavkm please can you respond to my above question?

[2020-07-23 17:14] Tratcher commented on #21677
After struggling with a similar issue (Kestrel HTTP/2 and YARP) I'm convinced that Kestrel should provide some hint for the HTTP/2 body scenario and we should mimic that here too.
https://github.com/dotnet/aspnetcore/issues/24175

[2020-07-23 17:21] IanKemp opened #24239 "Backport Microsoft.AspNetCore.WebUtilities.QueryHelpers fix from master to next maintenance releases?"
This file has a fix on master https://github.com/dotnet/aspnetcore/blob/master/src/Http/WebUtilities/src/QueryHelpers.cs#L134 that is not present in the currently released versions of ASP.NET Core e.g. https://github.com/dotnet/aspnetcore/blob/v3.1.6/src/Http/WebUtilities/src/QueryHelpers.cs

If this is something the team thinks would add value, I'd be happy to submit a PR to backport this fix (in

[2020-07-23 17:22] mark-at-tusksoft commented on #8393
@Grauenwolf Where is that supposed to go? Does the javascript go into its own static file and the C# go into the razor component/layout we need to call it from?

[2020-07-23 17:25] pranavkm commented on #24203
AFAIK, System.Text.Json does not change the casing for dictionary values. You could write a custom converter or use Newtonsoft.Json and configure it to apply the casing behavior to dictionary entries.

[2020-07-23 17:33] TanayParikh opened #24240 "RazorDocumentMappingService.TryMapFromProjectedDocumentRange Out of Bounds"
I'm getting a bunch of errors in the `Razor Log` with the `RazorDocumentMappingService.TryMapFromProjectedDocumentRange` request failing due to trying to map out of bounds. Seems to be some sort of issue with document state.

[code]

[2020-07-23 17:34] TanayParikh commented on #23478
- [https://github.com/dotnet/aspnetcore/issues/24240](https://github.com/dotnet/aspnetcore/issues/24240)

[2020-07-23 17:38] pranavkm opened #24241 "ValidateNever applied to action parameters is not honored"
As part of MVC's support for record types, `ValidateNeverAttribute` is now allowed to be applied to parameters. However, when applied to action parameters, the attribute has no effect and the parameter will continue to be validated.

[2020-07-23 17:40] GearedToWar commented on #10464
I wanted to give an update on some enhancements we have made to the solution filters feature -
1. Project nodes have 2 separate commands related to loading referenced projects - one to load direct dependencies and one to load the transitive closure of all dependencies.
1. A prompt appears on the top of the Solution Explorer if the set of loaded project changes. The prompt has a link which can be u

[2020-07-23 17:50] ryanbrandenburg opened #24242 "Incorrect indentation in @code block when adding a newline after a member with a generic type"
### Describe the bug
When hitting "Enter" after a line with a generic type the indentation on the new line is too far.

Gif is from VS, but VSCode behaves the same way.
![84211803-10e9b700-aa71-11ea-8231-d58645412956](https://user-images.githubusercontent.com/14987221/88319614-4240de00-ccd1-11ea-9f53-c31ddd647ba8.gif)

### To Reproduce
1. dotnet new blazorserver
1. Open Counter.razor
1. type:
`
@c

[2020-07-23 17:51] ryanbrandenburg commented on #23478
- https://github.com/dotnet/aspnetcore/issues/24242

[2020-07-23 17:52] elnemerahmed commented on #22159
After a couple of days of error and trails.
I found that you must Add `await Task.Delay(1);` after your processing and before `StateHasChanged()`
This is silly, and I don't like it at all.
the code will look something like this
`        async Task CompleteSomething()
        {
            StuffFromDatabase = context.Stuff.ToList();
            await Task.Delay(1);
            StateHasChanged();

[2020-07-23 17:56] pranavkm opened #24244 "Remove skips on record types + System.Text.Json functional tests"
We haven't injested a build of a System.Text.Json required to make record types work in p8. This is a tracking item to remove to Skips in master

[2020-07-23 17:58] SteveSandersonMS commented on #22159
@elnemerahmed Generally that shouldn't be necessary. I'm unsure why it's making a difference in your scenario, but if you're able to post minimal repro code (as a separate issue please - this one is too long already to keep track of), we can investigate and let you know if there's a better way or if it's an issue in the framework.

[2020-07-23 17:58] javiercn opened #24245 "[Blazor] Handle the concept of generated static web assets within Razor/Blazor"
Currently there are three types of static web assets sources '' (current project), "Project", "Package". This is problematic for Blazor webassembly apps where we generate assets for the current project on locations different than wwwroot.

This is problematic for standalone apps but it can also be problematic for generated files on the host (which we don't have yet).

We can introduce the concept

[2020-07-23 18:09] Rodrigo-Andrade commented on #24199
@sebastienros yes

[2020-07-23 18:16] mkArtakMSFT commented on #19050
@captainsafia can you please prepare a patch PR for this? Thanks!

[2020-07-23 18:18] fedegen commented on #24171
Same error.
I tried the workaround
`Add <GenerateMvcApplicationPartsAssemblyAttributes>false</GenerateMvcApplicationPartsAssemblyAttributes> to project props.`
and now i get the next error:
[code]

[2020-07-23 18:20] sebastienros commented on #24199
Then please provide ways to repro the issue, because we are only seeing improvements in perf from 3.1 to 5.0 preview.
And would it be possible for you to share traces on 3.1 and preview 7 so we can see what code paths induce the long  EnsureThreadRequested calls? I can provide you with a shared driver to upload these

[2020-07-23 18:20] mkArtakMSFT commented on #21384
@captainsafia can you please fill in the details on what a solution would look like here? Thanks!

[2020-07-23 18:22] mkArtakMSFT commented on #19336
@ajaybhargavb do you know what would cost it to fix this?

[2020-07-23 18:22] danroth27 commented on #18670
Hybrid app support has now been added to the [Mobile Blazor Bindings project](https://aka.ms/mobile-blazor-bindings): https://devblogs.microsoft.com/aspnet/hybrid-blazor-apps-in-mobile-blazor-bindings-july-update/. Since we expect future work around Blazor Hybrid apps to be done through the Mobile Blazor Bindings project, we're closing this issue.

[2020-07-23 18:22] #18670 closed

[2020-07-23 18:24] mkArtakMSFT commented on #20581
Thanks for contacting us.
This is not something we plan to do in the near future. You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-07-23 18:24] #20581 closed

[2020-07-23 18:25] mkArtakMSFT commented on #16778
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-07-23 18:25] #16778 closed

[2020-07-23 18:25] Pilchie commented on #24239
In order to justify servicing, this needs to be a blocking issue without a decent workaround.  In this case, it seems like a workaround would be to copy those to your own project.

[2020-07-23 18:30] mkArtakMSFT commented on #20897
Thanks for contacting us.
This is not something we plan to address in the near future. You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-07-23 18:32] hardkorehak opened #24247 "Microsoft.AspNetCore.Components.WebAssembly.Server 3.2.1 Regex"
Updated NuGet stuff today, and when I updated WASM Server to 3.2.1, I receive the below error

System.ArgumentNullException
  HResult=0x80004003
  Message=Value cannot be null. (Parameter 'input')
  Source=System.Text.RegularExpressions
  StackTrace:
   at System.Text.RegularExpressions.Regex.IsMatch(String input)
   at Microsoft.AspNetCore.Builder.DebugProxyLauncher.<>c__DisplayClass10_0.<Complet

[2020-07-23 18:35] mkArtakMSFT commented on #21178
Thanks for contacting us.
Many things have changes in this area in .NET 5. Can you please validate the latest .NET 5 preview release and see whether this still repros? Thanks!

[2020-07-23 18:38] igalfsg commented on #24214
looking at the difference between the the Azure hosted one and the one ran by Visual Studio, Azure returns the request in gzip format. is there a way to change that so the browser can understand it?
Azure:
![image](https://user-images.githubusercontent.com/8607853/88324649-db272780-ccd8-11ea-8359-37957592f971.png)
Dev:
![image](https://user-images.githubusercontent.com/8607853/88324723-f2feab80-cc

[2020-07-23 18:41] mkArtakMSFT commented on #22641
Thanks for contacting us.
Things have changed here in .NET 5. We don't run linker during build any more. It runs only during publish.

[2020-07-23 18:41] #22641 closed

[2020-07-23 18:43] #20897 closed

[2020-07-23 18:45] #10450 closed

[2020-07-23 18:46] vsfeedback opened #24248 "Always crash when typing Guid.NewGuid() in razor"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1112789/always-crash-when-typing-guidnewguid-in-razor.html)._

---
Hi,
I'm developing an Blazor application. Visual studio always crash when I try to write below sentence inside a razor file:

---
### Original Comments

#### Feedback Bot on 7/15/2020, 00:15 AM:

<p>We have

[2020-07-23 18:47] NTaylorMullen commented on #24248
The work here is to see if this is fixed by LSPification.

[2020-07-23 18:47] mkArtakMSFT commented on #21482
@volaru77 can you try this out with .NET 5 Preview 7 and see whether this still repros? Thanks!

[2020-07-23 18:49] vsfeedback opened #24249 "2019 16.7 Preview 4: LSP Razor highlights HTML comments incorrectly"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1112729/2019-167-preview-4-lsp-razor-highlights-html-comme.html)._

---
(This is a regression compared to the old non-LSP Razor service.)

The new Razor syntax highlighting won't color HTML comments in green. The two lines in the attached screenshot should be colored the sa

[2020-07-23 18:51] NTaylorMullen commented on #24249
This is most likely an issue in us not mapping VS classifications to the proper text mate type

[2020-07-23 18:51] chucker commented on #24249
Aforementioned screenshot, for the curious:

![Screen Shot 2020-07-14 at 20 35 02](https://user-images.githubusercontent.com/20194/88326362-41866700-cd26-11ea-82cf-4fe1e9c2222c.png)

[2020-07-23 18:53] NTaylorMullen commented on #24126
Need to re-evaluate this in 16.8-Preview3. Roslyn wont be landing this in preview1

[2020-07-23 18:54] mkArtakMSFT commented on #23655
Closing as there has been no ask for this from the community.

[2020-07-23 18:54] #23655 closed

[2020-07-23 18:57] ajaybhargavb commented on #19336
I would cost this as M. This could be slightly lower or higher than M depending on how much work we need to do in the parser.

[2020-07-23 18:57] mkArtakMSFT commented on #22180
@guardrex some feedback here for the docs.

[2020-07-23 18:59] SQL-MisterMagoo commented on #10476
@pranavkm Do you have any tips on how I can test a new analyzer in a project (not unit tests/e2e tests, but manually to see if everything is working like the error list in VS looks correct etc...)?

[2020-07-23 19:09] mkArtakMSFT commented on #8433
We've moved this to `Backlog` as this is also possible to achieve using partial classes.

[2020-07-23 19:15] mkArtakMSFT commented on #18088
Moving to backlog given this now be achieved using `IComponentActivator`.

[2020-07-23 19:18] joshlang commented on #8433
Unless something changed since Feb 25, no, it's not.

[2020-07-23 19:19] guardrex commented on #22180
Thanks @mysteryx93 ... I'm just seeing this for the first time. To reach us on the docs side, open a doc issue with the **This page** feedback button+form at the bottom of any topic. That will add metadata linking the topic to a docs issue on the docs repo and pings me immediately.

We have an issue for that guidance at https://github.com/dotnet/AspNetCore.Docs/issues/18144. I'll work it further f

[2020-07-23 19:30] boukenka commented on #24109
After updating the project to .NET 5.0 preview 7, the problem has disappeared.

[2020-07-23 19:39] blowdart commented on #24201
Suppress for now. No identity templates or scaffolding have any annotations right now.

[2020-07-23 19:53] janissimsons commented on #18088
@mkArtakMSFT how can it be achieved using IComponentActivator? Could you please give an example?

[2020-07-23 19:58] michaeldz commented on #24197
If I configure clients outside scope of the configuration process of the library I'll have two configuration places - for SPA (or other supported by the library) and for other clients. This adds complexity for deployment. But I understand your position you should not support all possible cases for configuring clients.
So maybe it will be better solution to have ability to extend somehow the client

[2020-07-23 20:19] NTaylorMullen opened #24251 "Razor VSCode on Linux broken with latest release"
Regression (doesn't break for currently released extension). Everything be broke

[2020-07-23 20:30] #14167 closed

[2020-07-23 20:34] APIWT opened #24252 "Endpoint routing can not invoke a static file middleware"
### Describe the bug
The static file middleware does not allow any form of serving of files when used in combination with endpoint routing. Maybe I am missing something here, but this prevents me from doing stuff like this:

Notice I am essentially trying to add auth to my Swagger UI without writing a custom middleware.

[code]
.NET Core SDK (reflecting any global.json):
 Version:   3.1.201
 Commi

[2020-07-23 20:39] mkArtakMSFT commented on #21445
Closing this as there is going to be tooling support added to help with this: https://github.com/dotnet/aspnetcore/issues/22239

[2020-07-23 20:39] #21445 closed

[2020-07-23 20:47] TanayParikh commented on #24127
Tried a bunch of different implementations for line equality comparison, however none of them made a impactful difference on perf to justify moving away from the library functionality.

Default:
|                                           Method |      Mean |     Error |    StdDev |   Op/s |    Gen 0 |    Gen 1 |    Gen 2 |   Allocated |
|------------------------------------------------- |--------

[2020-07-23 20:49] #23478 closed

[2020-07-23 20:51] #24127 closed

[2020-07-23 21:01] #23722 closed

[2020-07-23 21:01] #21337 closed

[2020-07-23 21:01] BrennanConroy commented on #20964
Ping

[2020-07-23 21:09] js8080 opened #24256 "Microsoft.AspNetCore.Authentication.JwtBearer.JwtBearerHandler throws exceptions with object types in description instead of actually useful values"
### Describe the bug
I have an ASP.NET Core Web API that is using JWT for authentication / authorization and when the JWT validation fails, I get a `Microsoft.IdentityModel.Tokens.SecurityTokenInvalidSignatureException` exception like this:

and this:

Notice the _Keys tried_ and _Exceptions caught_ values are just `System.Text.StringBuilder`
That's not very helpful and I'm sure not intentional.

[2020-07-23 21:16] blowdart commented on #21984
@ostart This doesnt' seem to be a standard ldap claim, subject name seems to be the closest, and while we could do it, it's in the format where the FDQN is in CN= with each step in the standard format.

As this doesn't seem to be a standard claim from LDAP we're hesitent to do this ourselves, as we'd like to stay close to teh standard. Is there a compelling reason you can't do processing from the

[2020-07-23 21:19] blowdart commented on #20066
@brentschmaltz As this is still in "thinking" mode from both sides this is going to get bumped to 6.0

[2020-07-23 21:23] javiercn opened #24257 "[StaticWebAssets] Validate that no two assets end up in the same final path instead of checking they all have the same content root"
Now that we support scoped css we need to be able to accept source items that come from different content roots. For that reason we need to change the check that we do that requires all items coming from the same content root, for one that ensures that they don't end up in the same final path.

[2020-07-23 21:23] blowdart commented on #18932
@jmprieur in your tooling discussion don't you need this for IdentityWeb as you were needing a client secret to switch?

[2020-07-23 21:42] campersau commented on #20360
The problem is with the router which intercepts all link clicks for routing purposes:
https://github.com/dotnet/aspnetcore/blob/8b7972064f068f76452eff7994263a5e4ee3ca46/src/Components/Web.JS/src/Services/NavigationManager.ts#L57-L70
As a workaround you can e.g. specify `target="_blank"` so it wouldn't be handled by the router.

Should there also be special handling for ignoring links with `downloa

[2020-07-23 21:43] Tratcher commented on #24256
Duplicate of https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1471

[2020-07-23 21:43] #24256 closed

[2020-07-23 21:54] #21975 closed

[2020-07-23 21:55] ajaybhargavb commented on #21975
This is done

[2020-07-23 21:55] ajaybhargavb commented on #21976
This is done

[2020-07-23 21:55] #21976 closed

[2020-07-23 21:57] Pilchie commented on #24200
Doh! I missed that this was 3.1 and not a 5.0 preview.  I think we should consider fixing this by servicing the targeting pack, but first I want to understand what the customer scenario is.

@Dainius14 - can you describe the impact of this issue? What does it prevent you from doing?

[2020-07-23 22:00] lscpike commented on #23679
I've just had this same issue with a similar set up (behind a load balancer using cookies for sticky sessions).

I've tracked it down to the fact the CookieContainer isn't shared between the main HttpClient and the WebSocketClient by default.

See https://github.com/dotnet/aspnetcore/blob/master/src/SignalR/clients/csharp/Http.Connections.Client/src/HttpConnection.cs#L540.

A work around is to add

[2020-07-23 22:14] Tratcher commented on #18932
TODO: Test in chrome incognito mode which has started blocking SameSite cookies. We may have to change the cookie SameSite defaults to Unspecified.

[2020-07-23 22:16] mkArtakMSFT commented on #5017
@ajaybhargavb the referenced issue has been resolved. Should this be closed already?

[2020-07-23 22:26] Tratcher commented on #24143
It's standard practice to rotate keys so that the old keys are still valid for a period after the new keys are introduced. Are they not doing this?

We've discouraged anyone from deriving from OpenIdConnectHandler, it's not well factored for that kind of extensibility.

The default is 1 day.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/a55020dba08817188

[2020-07-23 22:43] pheuter commented on #24216
@mkArtakMSFT This is currently breaking our app on production, is there a quick fix/workaround in the meantime?

[2020-07-23 22:48] TanayParikh opened #24260 "Codespaces Hover Contains GUID"
### Describe the bug
Hover leads to:
![image](https://user-images.githubusercontent.com/14852843/88345701-61ecfc00-ccfb-11ea-8eb7-280c88dd74c1.png)

Expected:
![image](https://user-images.githubusercontent.com/14852843/88345734-7a5d1680-ccfb-11ea-980c-b68e4c027219.png)

### To Reproduce
1. Launch VS CodeSpaces
2. `dotnet new blazorserver`
3. `Pages/Counter.razor`
4. Hover over `@currentCount` on l

[2020-07-23 22:49] Goleven commented on #24234
thank you for the answer.
It will be support in the future ?

[2020-07-23 22:51] javiercn commented on #24216
@pheuter You can replace the service implementation from [here](https://github.com/dotnet/aspnetcore/blob/master/src/Components/WebAssembly/Authentication.Msal/src/Interop/AuthenticationService.ts) with your own and either troubleshoot the issue that way or use your own implementation with a fix in case there is an issue.

[2020-07-23 23:06] TanayParikh opened #24261 "VS Local & Codespaces Go To Def / FAR / Peek Def Not Functioning"
### Describe the bug
Razor Go To Def / FAR / Peek Def doesn't work in VS Local & Codespaces

### To Reproduce
1. Launch VS CodeSpaces
2. `dotnet new blazorserver`
3. `Pages/Counter.razor`
4. Go to definition / FAR / Peek Defn `currentCount` on line 14.

Actual Go To Def / FAR: Nothing Happens
Actual Peek Definition: **VS Crashes** ☠️

Issue reported by CTI so I don't have the logs, I've validated

[2020-07-23 23:08] ajaybhargavb commented on #23483
Finished validation and found no issues.

[2020-07-23 23:08] #23483 closed

[2020-07-23 23:13] ajaybhargavb commented on #5017
This has been fixed.

[2020-07-23 23:13] #5017 closed

[2020-07-23 23:27] ryanbrandenburg opened #24262 "MVC 1.1 cshtml files in VSCode cause LSP exception when edited in "wrong" folder"
### Describe the bug
MVC 1.1 cshtml files in VSCode cause LSP exception when edited in "wrong" folder.

### To Reproduce
1. git clone https://github.com/ryanbrandenburg/mvc11Indexrepro
1. code .
1. Open Index.cshtml, press space.
1. Look in the "Razor Log" output pane and see the exception.
1. Move the Index.cshtml file within the home folder and repeat the above 2 steps, see that the behavior doe

[2020-07-24 00:13] pranavkm opened #24265 "Model binding record type follow ups"
The current implementation does not re-initialize a record type model if it's not-null. This means constructor parameters will remain unchanged, but properties will get updated. This might be surprising to users. Here are the interesting scenarios to think about:

## Scenario 1: Updating a record type model

[code]

## Scenario 1: Updating a record type model that's a property
[code]

[2020-07-24 00:22] lewing commented on #21482
@CoffeeFlux the embedding api doesn't have a way to load an assembly without a name or determine the name from the bytes, is there a reason?

[2020-07-24 00:32] TanayParikh commented on #23908
Another way this issue materializes.

Type `@(`. Depending on the speed of completion, we could get the completion list after `@`, resulting us to commit the first item with the `(` commit character, instead of the intended explicit expression.

![ExplicitExpression](https://user-images.githubusercontent.com/14852843/88351226-6d93ef00-cd0a-11ea-8bb6-ca213c49d1c7.gif)

[2020-07-24 00:34] TanayParikh commented on #23908
Works with `<` and ` ` as well.

![LessThanCompletion](https://user-images.githubusercontent.com/14852843/88351320-b6e43e80-cd0a-11ea-8148-d4c6f7ee9aa3.gif)

[2020-07-24 00:36] Tratcher commented on #24252
What does this have to do with static files?

Can you provide a more complete Startup sample?

[2020-07-24 01:29] Grauenwolf commented on #8393
The JavaScript can go directly in index.html

[2020-07-24 01:52] xboxeer commented on #23891
我需要本地编译一下再把这个问题反馈给产品组 另外我没有看到有v3.1.6这个分支 你是在哪里看到有3.1.6这个分支的？

[2020-07-24 01:57] MrLBQ commented on #23891
clone 下来，git tag 我是checkout 最新的分支

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "dotnet/aspnetcore"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年7月24日(星期五) 上午9:52
收件人:&nbsp;"dotnet/as

[2020-07-24 02:18] ajaybhargavb commented on #23908
@TanayParikh, we should probably file a separate issue for what you are seeing. The fixes for VS and VSCode will be different.

[2020-07-24 03:05] TanayParikh opened #24267 "VSCode C# Completion Items Unintentionally Committed"
Say you want to type an explicit expression. Type `@(`. Depending on the speed of completion, we could get the completion list after `@`. This results in us committing the first item with the `(` commit character, instead of the intended explicit expression `@(|)`.

![ExplicitExpression](https://user-images.githubusercontent.com/14852843/88351226-6d93ef00-cd0a-11ea-8bb6-ca213c49d1c7.gif)

Works wi

[2020-07-24 03:06] TanayParikh commented on #23908
Sure thing; https://github.com/dotnet/aspnetcore/issues/24267

[2020-07-24 03:13] tai-yi commented on #24143
@Tratcher , thanks for correcting my impression about default `AutomaticRefreshInterval`.

I think decrease `AutomaticRefreshInterval` could not avoid the issue, see below time line.
[code]
▷ get oidc config
◕ op rotate key

For DOC vector, I don't have any idea, but I see there is a `MinimumRefreshInterval` in ConfigurationManager, and I cached the `_codeFlowMessage`.

[2020-07-24 03:19] Tratcher commented on #24252
Oh I get it.

1. The request matches `docs/{*wildcard}`, gets assigned an Endpoint, and executes `swaggerUiDelegate`.
2. The `UseSwaggerUI` middleware runs but doesn't match the request, probably because the paths aren't configured the way you expect them to be. Note `endpoints.Map` doesn't trim the matched portion off of the request path like `IApplicationBuidler.Map` does.
3. The request reaches

[2020-07-24 04:58] Tratcher commented on #24143
That's what overlapping key rotation is for. Ask you op about that.

[2020-07-24 05:20] Rodrigo-Andrade commented on #24199
@sebastienros I managed to get traces from preview3 and preview7, you can message me the link.

[2020-07-24 05:23] sebastienros commented on #24199
But sure we really care about preview 3 in this case but more about .NET 3.1 since you say the regression is from this version. Also can you share your benchmarking strategy, and if possible the kind of code is running? Is we can't report the issue we won't be able to fix it.

[2020-07-24 05:33] Rodrigo-Andrade commented on #24199
@sebastienros I don't think i get it, preview3 is the last version that don't have the regression, its closer to the code on preview7 (so should be easier to see what changed)?

The app is a reverse proxy , so a Middleware that forwards requests with HttpClient, so most of the time is spent on kestrel and HttpClient.

For tracing i'm using dotnet-trace on a aws ec2 machine with 8 virtual cores. Bo

[2020-07-24 05:44] CoffeeFlux commented on #21482
Don't think so, and I can add one if you need. You essentially just want to call into this https://github.com/dotnet/runtime/blob/9b58e4d9fbf4a4e933877f5cb305a48710d98841/src/mono/mono/metadata/appdomain.c#L2820

[2020-07-24 06:22] davidfowl commented on #24252
Hah this is the issue with baking things in at the potentially wrong level. Is there a reason changing this would break one?

[2020-07-24 06:23] Dainius14 commented on #24200
Creating a package from the solution with Nuget 4.8.1 fails with the same error as in the previously mentioned isssue - `The DateTimeOffset specified cannot be converted into a Zip file timestamp.` We found a workaround to use older Nuget 4.5.0, which doesn't fail on that step. But, you know, the problem is there..

[2020-07-24 06:29] davidfowl commented on #24199
cc @kouvel

[2020-07-24 06:30] topagarwal opened #24270 "Unable to build solution after cloning the repo"
I am using Windows 10 and have followed the instructions on this wiki. https://github.com/dotnet/aspnetcore/blob/master/docs/BuildFromSource.md
 Did update VS using the install script, did restore and opened the MVC project using startVs script. The build failed, so used command line build.cmd to build the project.

I am getting this error:
<pre>
.\build.cmd "C:\AspNetCoreSrcCode\src\Mvc\Mvc.sln"

[2020-07-24 07:08] KristianMariyanov commented on #7182
It will be nice to expose `PageX` and `PageY` properties in the `MouseEventArgs` too. Currently, it's impossible to calculate the absolute position of the visible part of the screen.

[2020-07-24 07:17] javiercn commented on #24270
@topagarwal thanks for contacting us.

I would suggest you try and build from the root with just build.cmd and then try to open the solution, or alternatively just call the build.cmd file available within src\Mvc (not sure if that's what you did)

[2020-07-24 07:24] topagarwal commented on #24270
Hi,
Initially i build from the root and gave path of MVC solution file. Aftr your sugeesting I tried running build.cmd from within MVC project on MVC.sln. In both the cases got same result.

<pre>
C:\AspNetCoreSrcCode\src\Mvc> .\build.cmd .\Mvc.sln

  Determining projects to restore...
  Tool 'dotnet-serve' (version '1.7.125') was restored. Available commands: dotnet-serve

  Restore was successfu

[2020-07-24 07:25] Rodrigo-Andrade commented on #24199
Made a repro:

https://gist.github.com/Rodrigo-Andrade/dabd77a2df360b75ace7e9391fabcddc

Tests on the same machine (aws ec2 c5.2xlarge).

.NET Core SDK (reflecting any global.json):
 Version:   3.1.302
 Commit:    41faccf259

Runtime Environment:
 OS Name:     amzn
 OS Version:  2018.03
 OS Platform: Linux
 RID:         linux-x64
 Base Path:   /root/dotnet3.1/sdk/3.1.302/

Host (useful for support

[2020-07-24 07:39] javiercn commented on #24270
@topagarwal You don't have to pass the solution file to the build script.

@dotnet/aspnet-build can you help out here?

[2020-07-24 07:51] topagarwal commented on #24270
Ah..Thanks. I ran build.cmd inside MVC project and now I am able to move little further. However still build failed but now due to different error:
<pre>
Build FAILED.

C:\AspNetCoreSrcCode\artifacts\obj\Microsoft.AspNetCore.Components\Debug\net5.0\.NETCoreApp,Version=v5.0.AssemblyAttributes.cs(4,12): error CS0579: Duplicate 'global::System.Runtime.Versioning.TargetFrameworkAttribute' attribute [C

[2020-07-24 07:59] #22775 closed

[2020-07-24 07:59] #22778 closed

[2020-07-24 07:59] #22780 closed

[2020-07-24 07:59] #22779 closed

[2020-07-24 08:00] simonziegler commented on #24159
I agree with Stefan that it would be great for this to get some attention.

[2020-07-24 08:04] akanshanegi opened #24272 "Host multiple web assembly in a single asp.net core server host"
I need to host 2 web assembly project in a single asp.net core server.
I am referring to https://github.com/javiercn/BlazorMultipleApps/tree/master/BlazorMultipleApps

But it does not work with WebAssembly 3.2.1
I have also tried adding 2 WASM projects to a single server and the error I am getting is: Blazor static assets - conflicting assets with the same path. I was able to resolve this build er

[2020-07-24 08:14] IanKemp commented on #24239
Understood.

[2020-07-24 08:14] #24239 closed

[2020-07-24 08:50] Youssef1313 opened #24273 "ResendEmailConfirmation has bad link"
1. Create a new ASP.NET Core 3.1 app with individual authentication.
2. Scaffold Login and Register pages.
3. The resend email link in the login page redirects to `https://localhost:5001/?page=%2FAccount%2FResendEmailConfirmation`, and it just opens the home page.
4. Scaffold the ResendEmailConfirmation.
5. The link now is correct and redirects to `https://localhost:44337/Identity/Account/ResendEm

[2020-07-24 08:58] dmitry-novoselov opened #24318 "CPU utilization steadily grows in asp.net core 3.1"
We are migrating our web-site from core 2.2 to core 3.1

At the point two issues remain:
1. Under stress load on the stand, the CPU utilization steadily grows (while the load remains the same)
2. We see about 10 times more gen-0 garbage collections

### CPU utilization:
![image](https://user-images.githubusercontent.com/1732012/88374996-6cfb6700-cda3-11ea-9359-4fb7413910b5.png)

Things to note:
*

[2020-07-24 09:31] damienbod opened #24275 "Make it easier to use authentication and authorization in ASP.NET Core"
A lot of effort is required to get started with setting up security for ASP.NET Core to use with standard OIDC servers. At present it is easy to setup as a standalone or securing using Azure AD, Azure B2C.

It would help loads, if a template existed for ASP.NET Core API projects and ASP.NET Core UI projects which would use a separate default OIDC implemented server for authentication, authorizatio

[2020-07-24 09:41] IanKemp commented on #24203
Oh right, I forgot that the extra properties are ultimately just entries in the Extensions dictionary. I think I can live with that little niggle.

Thank you for your assistance @pranavkm , we can consider this well and truly closed now. :)

[2020-07-24 09:54] akovac35 commented on #13452
@SteveSandersonMS Is this being considered for implementation? It will result in a better user experience and more robust software.

[2020-07-24 10:01] Tratcher commented on #24252
No, it's only a safety check. It's not like you can nest endpoints.

[2020-07-24 10:32] julienGrd opened #24276 "[Blazor webassembly] "The type initializer for 'Crypto' threw an exception" after upgrading to .net 5 preview 7"
Hello guys, i see a similar issue when preview7 was released but im unable to find it, so i prefer open a new issue because its a blocking problem for me to upgrade.

**The complete Exception**
[code]

**How to reproduce :**
- create a new blazor webassembly app .net 5 preview 7
- put this line of code
`var lHasher = new System.Security.Cryptography.SHA256Managed();`

Thanks !

[2020-07-24 11:01] Tratcher commented on #12946
Note that the ordering issue is covered by https://github.com/dotnet/aspnetcore/issues/17268.

This issue only tracks the exception handling.

[2020-07-24 12:19] andresgbertola commented on #22567
Hello @javiercn and @mkArtakMSFT,
I am having the same problem.
To test it, I created a new Blazor PWA WebAssembly (last version default template) project and deployed it in two different servers.
Installed the last .NET Core Hosting Bundle.

After publising it, I ran the script to rename dll files in the docs:

`dir .\_framework\_bin | rename-item -NewName { $_.name -replace ".dll\b",".bin" }
((G

[2020-07-24 12:41] APIWT commented on #24252
@ Tratcher
I think we are talking about two different bugs, but I think both need to be fixed in order to accomplish my use case.

Inside `UseSwaggerUI`, the code looks like this:
https://github.com/domaindrivendev/Swashbuckle.AspNetCore/blob/e33dba2e416469fca6c2f4975c1c41dbac942804/src/Swashbuckle.AspNetCore.SwaggerUI/SwaggerUIBuilderExtensions.cs#L10
https://github.com/domaindrivendev/Swashbuckl

[2020-07-24 13:10] javiercn opened #24278 "[Infrastructure] Template tests don't import the proper Razor SDK props file"
They import the targets file but not the props file, which causes problems when adding tests that change the props file.

![image](https://user-images.githubusercontent.com/6995051/88394394-3c500900-cd74-11ea-9353-293daccf7fc6.png)

[2020-07-24 14:54] APIWT commented on #24252
One more update. Sorry for the spam!

So I did a thing... lol:
[code]

then in my startup:
[code]

And the good news is, it works fine! But I can't help but feel a little dirty doing it. As you can see, in my workaround middleware I am simply wrapping an instance of SwaggerUIMiddleware and hi-jacking the HTTP context's endpoint to temporarily set it to null (restored to the original endpoint value

[2020-07-24 15:05] pranavkm commented on #24278
What about this:
![image](https://user-images.githubusercontent.com/174281/88405641-6b6e7680-cd84-11ea-91dd-3cbe8981b1b4.png)?

[2020-07-24 15:11] sebastienros commented on #24199
Thanks. We already have a proxy scenario similar to what you did, but using different machine (3). And in our tests it's much faster with 5.0.

Before I try to run your app, or simulate the same payload on our benchmarks, it looks like the numbers are better in preview 3 and even better in preview 7. Why are you saying there is a regression? Do I read it wrong?

[2020-07-24 15:14] Rodrigo-Andrade commented on #24199
Its indeed a bit better than 3.1, but its far worse then preview3. I guess the regression here in from preview3 not 3.1. Still, its slower.

[2020-07-24 15:28] arivoir commented on #22159
@elnemerahmed This can be a patch for a specific case, but it doesn't work as a general solution, the framework itself is calling StateHasChanged without the delay, so the components will end up being updated at different times resulting in a trembling UI.

@SteveSandersonMS How is this going? any advance?

[2020-07-24 15:36] 0x53A commented on #13766
Has there been any progress on this?

Not being able to create hostable-from-js components means we would be unable to reuse anything we build in blazor, which kinda kills it for us.

[2020-07-24 15:46] NinoFloris commented on #24199
@Rodrigo-Andrade I may also have trouble reading this but how is

[code]
for preview 3 better than

[code]
for preview 7?

[2020-07-24 15:56] pheuter commented on #24216
@javiercn I built aspnetcore source on the `release/3.1` branch and was not able to reproduce the issue locally. However, it occurred to me that, this time, I was testing it on Edge whereas before I was using Safari. Could it be that the issues described [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-third-party-cookies-spas) are causing the Msal auth flow to fail

[2020-07-24 16:14] Tratcher commented on #24252
Ah, nicely explained. Yes, that looks like a second bug.

It looks like the static files no-op was added back in 3.0 and it failed to account for placing static files within a route.
https://github.com/dotnet/aspnetcore/commit/7e63e2da43c3a5f298e782482b2005179b8d2792

I'd suggest removing those checks, they only work as intended if the static files middleware is placed between UseRouting and UseEn

[2020-07-24 16:16] APIWT commented on #24252
Awesome, I appreciate your prompt response and understanding. On that note... does my workaround raise any red flags for you?

[2020-07-24 16:22] Tratcher commented on #24252
It should work but I think you can simplify it. You don't need a custom middleware, or to restore the endpoint value after the middleware.

[code]

A completely different way of doing this is setting the FallbackPolicy so that all requests require authentication.
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/secure-data?view=aspnetcore-3.1#require-authenticated-users

[2020-07-24 16:24] APIWT commented on #24252
You rock! Thank you very much for your help. I will watch this issue to see how the team decides to handle this.

[2020-07-24 16:33] Rodrigo-Andrade commented on #24199
Duh, i messed the order of things, retested and you are right, still seeing the increase in cpu on production tho 🤔. Back to investigating i guess, sorry for the lost time.

[2020-07-24 16:36] greenygh0st commented on #24135
Sorry for the delay on this. Been swamped this week. Will try to review today or Monday if this resolves it I will close the ticket.

[2020-07-24 16:40] sebastienros commented on #24199
And more CPU usage on a benchmark is good sign. It means it spends less time waiting for io or a lock.

[2020-07-24 16:40] #24199 closed

[2020-07-24 16:46] Rodrigo-Andrade commented on #24199
Not in production, throughput is the same with higher cpu (round robin load balancing).

[2020-07-24 17:06] mkArtakMSFT commented on #24106
Let's see if we can find a cheap solution for this in RC1.

[2020-07-24 17:08] mkArtakMSFT commented on #24098
This is a dupe of #14434

[2020-07-24 17:09] jkotalik commented on #7341
Currently investigating this with the grpc work right now.

[2020-07-24 17:11] mkArtakMSFT commented on #23807
Closing as the performance characteristics will be a lot different in 5.0.

[2020-07-24 17:11] #23807 closed

[2020-07-24 17:12] mkArtakMSFT commented on #23572
This is going to be handled as part of #23821

[2020-07-24 17:12] #23572 closed

[2020-07-24 17:14] mkArtakMSFT commented on #22638
Dupe of #14434

[2020-07-24 17:14] #22638 closed

[2020-07-24 17:16] John0King opened #24288 "Url generate problem"
**this is not a bug, but it should be**, and if you guys still think it should be the designed behaviors  please make a vote here

### Describe the issue
this is my second time to report this https://github.com/aspnet/Mvc/issues/7046,  previously I think  it may be fixed by the `Endpoint-Routing`, but it doesn't.

we create the MVC which we try to separate the  `View` and `Controller` ,  and they

[2020-07-24 17:17] mkArtakMSFT commented on #22587
@captainsafia moving these debugging related issues to RC1 but we need to re-evaluate together which ones will make it in.

[2020-07-24 17:23] mkArtakMSFT commented on #22062
This is a dupe of #14434

[2020-07-24 17:24] #22062 closed

[2020-07-24 17:25] #21784 closed

[2020-07-24 17:27] mkArtakMSFT commented on #21361
Thanks for contacting us.
This is not something we plan to do in the near future. You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-07-24 17:27] #21361 closed

[2020-07-24 17:27] timcromarty commented on #20813
I also have this requirement. Is there an idea what timeframe this may be implemented.  It's a blocker to implementing Blazor without it.
Alternatively, can AddOpenIdConnect be used in a Blazor WASM client?

[2020-07-24 17:38] jspuij commented on #22159
@arivoir This has been moved to the backlog. I might pick it up on a future blazor community sprint however.

[2020-07-24 17:41] vsfeedback opened #24290 "Visual Studio 16.7.0 Preview 4 - building large Blazor/Razor project is extremely slow"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1114118/visual-studio-1670-preview-4-building-large-blazor.html)._

---
We have a pretty large Blazor project. It takes roughly 4 minutes for each build. I have attached a build log.

---
### Original Comments

#### Roi Chen [MSFT] on 7/15/2020, 09:27 PM:

<p>Thank you for

[2020-07-24 17:51] MackinnonBuck commented on #18305
Closing as this was fixed as part of #23415.

[2020-07-24 17:51] #18305 closed

[2020-07-24 18:06] pranavkm commented on #24247
This could be a patch candidate.

[2020-07-24 18:20] davidfowl commented on #24275
@damienbod Can you make a proposal?

[2020-07-24 18:32] arivoir commented on #22159
This is extremely important for everyone using the platform, the performance is fundamental for every medium size project. It should be between the top priorities IMO. I think most people is expecting the promised AOT runtime will fix the problems, but they don't know that Blazor layout has not good performance because of bad design decisions. The sooner these problems are addressed the less peopl

[2020-07-24 18:37] AnastasiyaPoli opened #24291 "Kestrel Web Server returns 404 to all requests while using inherited Startup from another project (application, assembly). Net Core 3.1."
### Description of the bug:

**Link to repository with solution:** https://github.com/AnastasiyaPoli/MemberService

**Short description of the solution:** there are two projects in solution: web project _MemberService.Api_ and tests project _MemberService.SystemTests_. _MemberService.Api_ starts Kestrel service and has a controller _DiagnosticController_ with endpoint "ping". _MemberService.System

[2020-07-24 18:46] TanayParikh opened #24292 "Explicit Expression Completions Not Working"
![image](https://user-images.githubusercontent.com/14852843/88424809-10984780-cda3-11ea-91fe-65594c3105e3.png)

TagHelper attributes (non-Blazor) fall over in completion scenarios: Aka a `true` completion item is expected here

`<form asp-antiforgery="tr|">`

[2020-07-24 18:49] Tratcher commented on #24291
`applicationName` is used when doing MVC controller discovery. `UseStartup` sets it to the assembly of the given startup type. You'd have this issue any time you specified controllers and startup classes in separate assemblies.

MVC, is this covered in the MVC test docs?

[2020-07-24 18:55] AnastasiyaPoli commented on #24291
@Tratcher, thanks for answer. Questions:
- it was change for .NET Core 3.1? In .NET Core 2.2 it worked fine;
- what the solution in this case, then? Either move TestStartup to Api project or use the hack, that I described for building a server: .UseSetting("applicationName", "MemberService.Api")?

[2020-07-24 19:01] #24224 closed

[2020-07-24 19:01] davidfowl commented on #24291
That's not a hack, that's by design 😄

[2020-07-24 19:16] volaru77 opened #24293 "Rfc2898DeriveBytes constructor throws exception"
### Describe the bug
Rfc2898DeriveBytes constructor throws an exception in a Blazor WebAssembly project after updating it to target .NET SDK 5.0.100-preview.7.20366.6. Same code was working when targeting .NET SDK 3.1.302

### To Reproduce

This sample line of code triggers the exception:
var pwdGen = new Rfc2898DeriveBytes(Encoding.UTF8.GetBytes("aa0f8a3b-c4c6-45f4-bc66-90773ba53bf7"), Encoding.U

[2020-07-24 19:22] AnastasiyaPoli commented on #24291
@davidfowl changing an application name in server configuration in runtime is by design? 😄

[2020-07-24 19:23] ThatFlashCat opened #24294 "Razor component in <table> element renders twice"
### Describe the bug
When placed within a table element, razor components will render once within the table and once outside the table. This occurs within a .NET Core MVC project that has the necessary services added for Blazor server (not the WASM version) to function. I have created a razor component and placed it within a `<table>` element without `<tr>` or `<td>` elements. The behavior varies

[2020-07-24 19:26] davidfowl commented on #24291
Yes absolutely. The name defaults to the assembly where the startup class or configure delegate is. Honestly though longer term, I'd love to fix this by changing MVC to avoid looking at the application name to find controllers. That's the thing that's broken here...

[2020-07-24 19:37] ajaybhargavb opened #24296 "Make Razor projection handling smarter"
Details of the bug in the description of https://github.com/dotnet/aspnetcore-tooling/pull/2228

We want to figure out a better way to accomplish what that PR was trying to do.

[2020-07-24 19:37] mrlife commented on #18305
@MackinnonBuck Is this a 5.0 only release?

[2020-07-24 19:42] AnastasiyaPoli commented on #24291
@davidfowl that change is definitely needed. Or at least exception should be thrown. There were no errors during initialization, but server did not start and the root cause was not obvious at all.

[2020-07-24 19:50] davidfowl commented on #24291
That's because there's no reasonable way to know what's wrong. Controllers can be anywhere, in the main app, in the assembly where the startup class is or in another assembly altogether.

That said, what we have now is a pit of failure and we've seen this 404 problem come up lots of times. I think as a minimum bar we can add verbose logging (I though we did that already ...)

cc @pranavkm

[2020-07-24 19:52] Tratcher commented on #24291
MVC could throw on startup if it doesn't discover any controllers. Then at least the issue would be more obvious.

[2020-07-24 19:57] AnastasiyaPoli commented on #24291
@davidfowl yes, that's a pit of failure, hope to be fixed.

@Tratcher good point, that would be great.

[2020-07-24 20:12] boukenka commented on #22159
I am facing the same problem in my project. I had to use the same ```await Task.Delay(x);``` workaround to solve it. I hope there will be a real solution in the future.

[2020-07-24 20:20] jspuij commented on #22159
@elnemerahmed @boukenka Would you please file a separate issue for the Task.Delay issue. It's almost certainly not related to The original issue.

[2020-07-24 20:26] arivoir commented on #22159
I created the original issue, and one of the first things I tried was the Task.Delay(1) (I didn't knew the Task.Yield() exist) I don't find strange they are talking of the same issue. It's natural people trying to dodge the synchronous rendering by executing that before calling StateHasChanged.

[2020-07-24 20:36] stavroskasidis opened #24298 "[Blazor wasm hosted] Missing satellite assemblies in output folder when publishing a hosted Blazor wasm project"
### Describe the bug
In a blazor wasm **hosted** project, when you have a project with resources referenced by both the client and the server project, publishing the server project the satellite assemblies are not copied over to the output folder.

They are however copied (and compressed) correctly to the "**wwwroot/_framework/_bin**" folder.

### To Reproduce
1. Create a new Blazor wasm hosted pr

[2020-07-24 20:39] davidfowl commented on #24291
I dunno maybe that sounds reasonable but it's a breaking change. MVC could be a part of your application made up of multiple frameworks or libraries in a single app composed at startup or dynamically. It might make a working app start throwing after an upgrade

[2020-07-24 21:03] SteveSandersonMS opened #24300 ".razor.css changes don't trigger VS's fast up-to-date check"
Repro:

 * Add a `.razor.css` file to the project and build it
 * Edit your `.razor.css` file and try building again

Expected:

 * VS should rebuild the project

Actual:

 * VS says the project is already up-to-date and doesn't build it, so the change doesn't really take effect

cc @javiercn

[2020-07-24 21:05] SteveSandersonMS commented on #24300
Actually my VS instance is behaving crazily and doing the same thing even for `.cs` files, so I can't really conclusively say what's going on. My suspicion though is that unless we do something to tell VS to look at `.razor.css` changes in its fast-up-to-date check, it won't.

[2020-07-24 21:15] halter73 commented on #24186
I'm all in favor of removing this behavior without a way to configure it via KestrelServerOptions. This behavior has been in Kestrel since pre-1.0, so it's still probably worth adding an AppContext switch just in case.

[2020-07-24 21:17] ajaybhargavb commented on #24261
Fixed in https://github.com/dotnet/aspnetcore-tooling/pull/2267

[2020-07-24 21:17] #24261 closed

[2020-07-24 21:18] ajaybhargavb commented on #24292
Fixes in https://github.com/dotnet/aspnetcore-tooling/pull/2267.

[2020-07-24 21:18] #24292 closed

[2020-07-24 21:20] mayur-ekbote commented on #24079
@SteveSandersonMS The original post was not about @key. The discussion went in that direction based on the replies.

The crux is that blazor preserves the elements without making it apparent. It is vaguely mentioned in the docs:

_Even if @key isn't used, Blazor preserves child element and component instances **as much as** possible._

What are the conditions for preserving elements? It is not cle

[2020-07-24 21:23] shirhatti commented on #23860
Could you please collect and share [enhanced diagnostic logs](https://docs.microsoft.com/aspnet/core/host-and-deploy/aspnet-core-module?#enhanced-diagnostic-logs) from ANCM?

[2020-07-24 21:37] BrennanConroy commented on #22186
What version of AspNetCore are you using?

[2020-07-24 21:42] shirhatti commented on #21718
@janbernardcz Can you please share your `runtimeconfig.json` from your published output?

[2020-07-24 21:45] SteveSandersonMS commented on #24079
@mayur-ekbote If you're not using `@key`, then the conditions are undefined, because it's an implementation detail that may change. The docs imply that the diffing system will make its best effort to preserve as much as it can, but it's not making any promises about what *actually* gets preserved because that's a tradeoff against performance, and we may change the details of that over time.

If yo

[2020-07-24 21:45] mayur-ekbote opened #24301 "Default value for [Parameter] / optional parameter values."
**Problem:**
In many situations, a component is expected to have a 'default' behavior. There is no way to assign a default value to Parameters which is visible outside the component (in situ assignments at property setter/ in OnInitialized aren't visible outside). This is exactly like optional arguments in C# methods. This will make the code less cluttered.

**Suggested Solution:**
An argument to

[2020-07-24 21:58] BrennanConroy commented on #20076
Friendly ping, were the impactful changes resolved?

[2020-07-24 21:58] mayur-ekbote commented on #24079
Sure. But the key has to be unique. In many UI situations, it would involve using a surrogate key like (mostly a Guid). That is an overhead (Also overdesigning?). A simple flag based solution would be a more elegant approach IMO. It would make the intention of the designer clear and would still let you abstract away all the diffing details.

Anyway, even if it is not implemented, a dedicated, in-d

[2020-07-24 22:04] BrennanConroy commented on #19782
@LadyNaggaga @shirhatti Could you hash out the behavior we want here? Add a default, add migration docs, or something else?

[2020-07-24 22:12] BrennanConroy commented on #17268
This is needed for gRPC

[2020-07-24 22:15] BrennanConroy commented on #14134
@tmds Do you have experience/opinions on whether the server should cleanup the socket that's passed in?

[2020-07-24 22:19] SteveSandersonMS commented on #24079
A flag alone doesn't tell us which old record should correspond to which new record.

[2020-07-24 22:22] BrennanConroy commented on #4769
We think we're done here

[2020-07-24 22:22] #4769 closed

[2020-07-24 22:49] SCEV commented on #23215
I've spent a good bit of time going over my settings/configuration.  I have learned quite a bit about IdentityServer.  From what I can tell all of my configurations are correct.

I created a basic Blazor WASM app straight from the template, published it to my IIS server and I get the same issue when trying to log in: **There was an error trying to log you in: ''** looking through the asp .net core

[2020-07-24 23:01] #24234 closed

[2020-07-24 23:08] pranavkm opened #24303 "NoRestartServerOnBuild missing in Blazor SDK"
Looks like this was missed when porting to the .NET SDK

[2020-07-24 23:11] pranavkm commented on #24234
We do not plans on supporting this in the future. You can send JSON over the body and MVC will deserialize it.

[2020-07-24 23:19] seangwright opened #24304 "Running MvcSandbox sample project from source through ANCM fails with 500.33 error"
### Describe the bug
Building the source works well when following the instructions [outlined in BuildFromSource.md](https://github.com/dotnet/aspnetcore/blob/master/docs/BuildFromSource.md).

However, when trying to run [MvcSandbox](https://github.com/dotnet/aspnetcore/tree/master/src/Mvc/samples/MvcSandbox) in Visual Studio using ANCM, the ANCM integration fails with `HTTP Error 500.33 - ANCM Re

[2020-07-24 23:24] thesuavehog commented on #9154
I've been looking for a (ideally simple) way to access the `id_token` after a successful OIDC login in my Blazor WebAssembly project.
My use case is that I am trying to leverage the AWS Cognito Identity Pool to provide a scoped AWS Role for my users to use to access AWS resources once they have logged in. This is done via the AWS CognitoAWSCredentials class in their .NET SDK (which you pass to the

[2020-07-24 23:34] pranavkm commented on #24304
@seangwright. It'd be great if you could add it to BuildFromSource. The problem isn't specify to MvcSandbox but most runnable apps in the repository.

FYI @jkotalik

[2020-07-24 23:36] abbatepabloo opened #24305 "Step Into (F11) is not working when use symbols server in wasm projects"
### Describe the bug
**Step into (F11)** is not working when use symbols servers in Visual Studio using Blazor Wasm Project.

### To Reproduce
- Create a Blazor WebAsm Project
- Create a pipeline in order to built it and publish artifacts and symbols into Azure DevOps
- Configure Visual Studio to point to your symbols server's location
**In order to get the same scenario you can follow this answer

[2020-07-25 01:07] seangwright commented on #24304
👍 Should I branch off `master` or is there a release branch I should use?

[2020-07-25 03:52] brunohbrito opened #24309 "Microsoft.AspNetCore.Authentication.JwtBearer - Jwks Endpoint"
### Is your feature request related to a problem? Please describe.
I'm trying to change the default Jwks uri. Because my environment isn't an OAuth2 & OpenId. So we don't have a open discovery document. We only have an Authentication API who expose a JWKS endpoint. But it seems there isn't a easy way to accomplish that at `Microsoft.AspNetCore.Authentication.JwtBearer`.

### Describe the solution

[2020-07-25 04:17] kenyeung128 commented on #4707
@clement911 if moving to DB processing first would solve the ReadToEndAsync issue?

or else you tried using structured class instead of reading the object from Stream instead?

[2020-07-25 04:45] Rodrigo-Andrade commented on #24199
@sebastienros just a followup, after analyzing my traces, my guess was that something was wrong at the socket scheduling, after reading https://github.com/dotnet/runtime/pull/34945 and https://github.com/dotnet/runtime/pull/37974, I configured my app with:
0 IOQueues
export DOTNET_SYSTEM_NET_SOCKETS_INLINE_COMPLETIONS=1
export DOTNET_SYSTEM_NET_SOCKETS_THREAD_COUNT=4  (half the cores)
and cpu drop

[2020-07-25 05:00] davidfowl commented on #24199
@Rodrigo-Andrade it might be worth collecting some counters to see if there any any significant differences (looking at some of the threadpool counters might help)

[2020-07-25 05:08] Rodrigo-Andrade commented on #24199
@davidfowl previous to the change, it was stable at about 8-10 threads, ill take a look at the current one.

[2020-07-25 05:09] davidfowl commented on #24199
Can you use dotnet counters to collect all of the counters?

[2020-07-25 05:23] Rodrigo-Andrade commented on #24199
@davidfowl

Current:

[System.Runtime]
    % Time in GC since last GC (%)                                 0
    Allocation Rate (B / 1 sec)                           62,407,576
    CPU Usage (%)                                                 19
    Exception Count (Count / 1 sec)                                0
    GC Heap Size (MB)                                            398
    Gen 0 GC Cou

[2020-07-25 05:24] Rodrigo-Andrade commented on #24199
In the default settings, the thread pool oscillates more (2-6). The new config it moves by 2 at most.

[2020-07-25 05:27] davidfowl commented on #24199
@Rodrigo-Andrade I'd like to compare without your settings (which basically avoid the thread pool) to see if anything stands out.

[2020-07-25 05:32] Rodrigo-Andrade commented on #24199
@davidfowl ? i just did, the second one is on the default settings

[2020-07-25 05:33] davidfowl commented on #24199
Default on preview3 and default on preview7?

[2020-07-25 05:34] Rodrigo-Andrade commented on #24199
those are all on preview7

[2020-07-25 05:57] davidfowl commented on #24199
I was asking for the difference in counters between the preview3 run and preview7 defaults.

[2020-07-25 06:34] mayur-ekbote commented on #24079
Something like this:
enum PreserveState{
    Never, //Never preserve components declared inside the loop
    Default, // Blazor behavior.
    Always // Always preserve the elements, which is also the current implementation.
}

The objective is not tracking the state of the component (like, say, EfCore does). Rather, declaratively state the intention.

[2020-07-25 06:42] Rodrigo-Andrade commented on #24199
Formatted for your delight:

|Preview  3| |
| :---        |          ---: |
|% Time in GC since last GC (%)                       |          0|
|Allocation Rate (B / 1 sec)                          | 54,207,360|
|CPU Usage (%)                                        |         25|
|Exception Count (Count / 1 sec)                      |          0|
|GC Heap Size (MB)

[2020-07-25 09:51] MythreyaK opened #24310 "Support more password hashing algorithms"
ASP.Net core supports  PBKDF2. Support for Argon2, BCrypt as first-party implementations would be nice.

There are nuget packages, but not sure if they're '_cryptographically verified_' for production scenarios. The common suggestion seems to be 'don't use 3-rd party packages, unless they're verified to be secure'.

[2020-07-25 10:59] AnastasiyaPoli commented on #24291
@davidfowl at least a warning message can be thrown then.

[2020-07-25 13:17] blowdart commented on #24310
This is really a request for CoreFX, because ASP.NET doesn't have crypto.

Having said that, we are hampered by native support on the operating system. If Windows doesn't have it, we won't add it, we don't write crypto algorithms in managed code any more, we use the platform.

[2020-07-25 14:00] alexvazquez commented on #21514
@Sherweeen we are starting a middle size app, and I’m very worried about the performance you said. Is your app a really data intensive one? Or what are the scenarios where this performance is present and maybe how to avoid to get into that spot? Appreciate any advice

[2020-07-25 14:34] #24042 closed

[2020-07-25 15:07] Flash619 opened #24312 "DefaultAuthorizationService Unable to locate claim type matching specified value. Blazor WASM."
# Describe the bug
I have created a custom AuthorizationPolicyProvider to add functionality to the DefaultAuthorizationPolicyProvider. This new provider will look for a claim `granted_authority` and  require that the value be present in the claim by means of a new AuthorizationPolicy.

[code]

I then extend AuthorizeView to attempt to achieve the desired functionality.

[code]

When I attempt to u

[2020-07-25 15:22] Bleron213 opened #24313 "OnConnected called before OnDisconnected when leaving page"
Hello.

**Describe the Bug:**
We have an application that is running on Angular and .NET Core, for which it also utilizes SignalR with Automatic Reconnecting. The methods which we have overrided and have logic inside of them are **OnConnected** and **OnDisconnected**.

When running the application in localhost, the order of the methods when _refreshing the page_ is
1. OnDisconnected is called
2. O

[2020-07-25 15:42] Kahbazi commented on #24186
I want to take this issue, but I need a little guidance. Is this the method that needs to be changed?
https://github.com/dotnet/aspnetcore/blob/a67c217976899db93563353daa6276e438fe677b/src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs#L1070

[2020-07-25 15:51] davidfowl commented on #24313
Can you also log the connection id? It's not possible to tell if there's an issue without logging the id

[2020-07-25 16:50] Tratcher commented on #24186
Yeah, probably a change around line 1089 to set _autoChunk if there's already a chunked header.

Have you seen how we use AppContext for compat switches?

[2020-07-25 16:56] Kahbazi commented on #24186
No.

[2020-07-25 17:10] luoyunchong opened #24314 "use Microsoft.Extensions.FileProviders.Embedded ，when file name is xx.cs.xx ResourcePath is wrong"
### Describe the bug

I use **Microsoft.Extensions.FileProviders.Embedded**

When the embedded file name is in the form of xxxx.cs.xxxx.

ResourcePath  value  cannot be recognized

![image](https://user-images.githubusercontent.com/18613266/88462150-c49cee00-cedb-11ea-8549-5f8e6e284e36.png)

code is simple,
[code]
### To Reproduce

[FileTest.zip](https://github.com/dotnet/aspnetcore/files/4976003/

[2020-07-25 17:23] volaru77 commented on #24293
I attached a minimal project created from the .NET 5.0 preview 7 template to rule out any migration issues. To reproduce, navigate to the counter page and click the "Click me" button.

[BlazorApp2.zip](https://github.com/dotnet/aspnetcore/files/4976059/BlazorApp2.zip)

The exception stack trace provides a bit more detail in this case:

blazor.webassembly.js:1 crit: Microsoft.AspNetCore.Components.

[2020-07-25 17:50] Tratcher commented on #24186
Here's an example:
https://github.com/dotnet/aspnetcore/pull/24264/files#diff-9cd158b5cd3cc1183d04bce0f4268654R13-R27

[2020-07-25 17:54] Tratcher commented on #24186
Ah, here's the wiki I was looking for. https://github.com/dotnet/aspnetcore/wiki/Quirks-mode-switches-in-patches

[2020-07-25 19:09] Dean-NC commented on #18087
I have the same error using **Razor Pages** when I do **not** disable Antiforgery. I'm posting/submitting a form with a file upload, and trying to use **MultipartReader.ReadNextSectionAsync()**. Disabling Antiforgery allows the section to be read successfully.

Attached is a small demo project that reproduces it. The razor page is FileUpload.cshtml. To make it work successfully, uncomment the

`[I

[2020-07-25 19:38] mrpmorris commented on #24079
If the component should be rendered differently then you need to pass it some different state. If it should be rendered the same then it should be passed the same state and it will render the same output.

I don't actually understand your scenario. You want immutable components that render different output whilst accepting the original values as parameters? I'm confused. Can you elaborate?

[2020-07-25 20:01] #22155 closed

[2020-07-25 21:59] damianh commented on #24175
With respect to #21677 may I suggest re-opened issues don't remain "locked and limited to collaborators"?

[2020-07-25 22:31] roji commented on #24201
@Youssef1313 ideally the templates themselves would nullable-compatible, but we're not there yet.

[2020-07-25 23:02] michaeldz opened #24316 "InvalidOperationException: Invalid return url. The return url needs to have the same origin as the current page."
I host my blazor webassembly application in sub-directory - https://localhost:5000/myapp

Base path is defined in index.html: `<base href="/myapp/" />`

I use identity server for authentication so there is link to authentication page from component NotLoggedIn.razor:
  `<a href="authentication/login?returnUrl=@Uri.EscapeDataString(Navigation.Uri)">log in</a>`

and authentication page
[code]

When

[2020-07-26 00:29] Tratcher commented on #24175
@damianh good point, I hadn't noticed the bot locked it. Unlocked.

[2020-07-26 00:44] volaru77 opened #24317 "Culture properties no longer observed in a Blazor WebAssembly project after updating it to target .NET SDK 5.0.100-preview.7.20366.6"
### Describe the bug
Culture properties no longer observed in a Blazor WebAssembly project after updating it to target .NET SDK 5.0.100-preview.7.20366.6. Same code was working when targeting .NET SDK 3.1.302

### To Reproduce
CultureInfo.DefaultThreadCurrentCulture = CultureInfo.DefaultThreadCurrentUICulture = CultureInfo.CurrentCulture = CultureInfo.CurrentUICulture = new CultureInfo("en-US");
S

[2020-07-26 01:01] Jayson-Furr commented on #24272
This worked fine for me just a couple of days ago with 3.2.1 Blazor WASM. May want to give it a go with a fresh project. Make sure your mapWhen is setup to work in your development scenario. I used a appSetting to specify which client I was developing on. Then in the mapWhen method I added || (Configuration.Get(name-of-key) == “internalClient) to the one mapped to internal.blah.net. I don’t have t

[2020-07-26 01:51] srajkovic opened #24319 "Include interfaces for UserManager and other Identity managers."
### Is your feature request related to a problem? Please describe.
I am trying to unit test my custom code around registration, but its difficult to mock the dependency on the UserManager, since it's injected as a concrete class instead of an interface, and the constructor has lots of a dependencies, which means Moq can't easily construct a mock using `new Mock<UserManager<UserType>>`.

### Descri

[2020-07-26 02:23] barahonajm opened #24320 "JavaScript interop calls cannot be issued at this time"
This code which is in a shared component library

[code]

is causing

[code]

### Scenario
I have created a project where blazor server side and blazor wasm are sharing a single component base library (I want them the evolve thogheter), there is also a server that handles authorization and authentication which is a separated project (Created from the blazor wasm with individuatl aunthetication tem

[2020-07-26 02:23] davidfowl commented on #24319
Big interfaces like this are born fragile as we keep adding functionality to these types, they are god objects.

[2020-07-26 02:25] davidfowl commented on #24318
Take a CPU profile with dotnet trace that might help. I assume those numbers come from dotnet counters?

cc @Maoni0 @noahfalk @shirhatti

[2020-07-26 03:42] dougbu commented on #24182
Could this be related to the `...AddConsole(...)` -> `...AddSimpleConsole(...)` changes made in #23978, specifically files src/Grpc/test/testassets/InteropClient/InteropClient.cs and src/Grpc/test/testassets/InteropClient/InteropClient.cs❔ That was done prior to disabling these tests.

[2020-07-26 06:32] ATerentjev opened #24321 "When debugging in iis express Open(cacheName) resolvse with null value, though cacheName matches"
I apologize if the question is incorrect, perhaps someone will tell you where to ask the question more correctly. The problem
 occurs when working with CashStorage in iis express. I asked a question first here [https://github.com/w3c/ServiceWorker/issues/1524](https://github.com/w3c/ServiceWorker/issues/1524)  and was told that it might be a problem with the browser error tracker. The problem aris

[2020-07-26 06:46] davidfowl commented on #11050
@pranavkm @Pilchie can we write a code fix for this?

[2020-07-26 06:53] kamronbatman commented on #23409
While not specifically blocking, I would love to see benchmarks that show sockets perform better than libuv, specifically for linux. I will also add that libuv is convenient/performant for me since I run both raw tcp sockets and web service endpoints.

[2020-07-26 07:00] marcusturewicz opened #24322 "Add ="" to built-in tag helper completion"
### Describe the solution you'd like
For IntelliSense completion on built in tag helpers (`asp-action`, `asp-page` etc), it would be nice for the completion to include the equals and quotation characters, like the HTML attributes do. See GIF below.

### Additional context
I'm using VS Code, not sure if this already works in full VS or not.

![Screen Recording 2020-07-26 at 4 49 05 pm](https://user

[2020-07-26 07:40] SvenMind2 opened #24323 "Onended Event Blazor didn't fire."
### Describe the bug
I'm currently working on a Playlist Video Website. Therefore I wanted to utilize the @onended event Tracker on my Video Element. But the event doesnt fire on the end of the Playback. I tried it with direct HTML Tag and it worked pretty fine.
To be clear, at the moment I only try to manipulate the source DOM. I didnt implemented the play after changing the source. I also tried

[2020-07-26 09:44] sgabler-solytic commented on #24113
Will this bugfix be available in 3.1.7? I checked this milestone here and didn't find this PR included: https://github.com/dotnet/aspnetcore/milestone/112

Maybe that's not the right place to check the progress of upcoming releases, but I just wanted to emphasize that including it in the next release would be highly appreciated. Thank you

[2020-07-26 11:31] DMW007 commented on #24088
@BrennanConroy The LinkGenerator only applies to 3.1 3.0 2.2, but not for the 2.1 LTS release.

[2020-07-26 13:03] medeirosraul commented on #24317
Same here.

Setted in `public static async Task Main(string[] args)` value
`CultureInfo.DefaultThreadCurrentCulture = CultureInfo.DefaultThreadCurrentUICulture = CultureInfo.CurrentCulture = CultureInfo.CurrentUICulture = new CultureInfo("pt-BR");`

But when I do `decimalValue.ToString("N")` its returns `500.00`, when should return `500,00`, with comma, not dot, to separate decimals.

[2020-07-26 13:42] pandiyarajm93 commented on #8567
I am also facing same issue with ASP.NET Core 3.1 Web API project (Server) with Blazor project (Client). Have any solution to this?

[2020-07-26 14:15] davidbuckleyni opened #24324 "[BUG] FileNotFoundException: Could not load file or assembly 'Microsoft.AspNetCore.Identity.UI, Version=3.1.6.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified."
Getting a strange error when using web deploy even though the file is there and the correct version, this only happens on publish and not with Debug or release versions locally the file is there on the server.

![image](https://user-images.githubusercontent.com/5619229/88481345-d40b4e00-cf52-11ea-975b-2c9694e78c6f.png)

[code]

[2020-07-26 14:37] davidbuckleyni commented on #24324
The reason is someone changed the deployment from Portable to x86 thus the above error was generated leaving this here in case helps someone else. !

[2020-07-26 14:37] #24324 closed

[2020-07-26 18:37] pranavkm commented on #24304
Master works fine.

[2020-07-26 21:03] igrmk opened #24326 "Bound Dictionary<int, int> causes FormatException if no data is posted"
### Describe the bug
Bound `Dictionary<int, int>` causes `FormatException` if no data is posted

### To Reproduce

1. `dotnet new webapp`
2. Paste following to `Index.cshtml.cs`

[code]

3. Paste following to `Index.cshtml`

[code]

4. Start app and press POST

5. Property `Error` fails to bind, `FormatException` is thrown, however properties `Ok` and `AlsoOk` cause no problems

### Exceptions (if

[2020-07-26 23:43] JamesNK opened #24327 "Rollout T? on unconstrained type parameters"
https://github.com/dotnet/runtime/issues/39877 but for aspnetcore

@pranavkm

[2020-07-27 00:08] rorymurphy opened #24328 "More flexibility for RazorViewEngine"
### Is your feature request related to a problem? Please describe.

RazorViewEngine being registered as a singleton limits the ability to support use cases such as applications with plugins (where a plugin may impact view resolution) and multi-tenancy (where tenants may require different view resolution). Generally speaking, singleton seems like it should be avoided where possible, as they functio

[2020-07-27 03:16] davidfowl commented on #24328
We don't want more allocations by default to allow some applications to replace things because they are scoped. There are lots of ways to implement multitenancy so I'd suggest specifying what functionality you need from the system so we can best come up with a design to satisfy that.

[2020-07-27 05:39] topagarwal commented on #24270
Any suggestions?

[2020-07-27 06:24] Kahbazi commented on #20964
Is anybody working on MVC?

[2020-07-27 06:27] hesuruio commented on #24290
Hi! It turned out to be the issue already reported around Nullable and Razor components.
[https://github.com/dotnet/aspnetcore/issues/24156](url)

[2020-07-27 06:33] dme-development commented on #24247
Had the same problem with VS 2019 16.6.3. After upgrading to 16.6.5 it is working fine.

[2020-07-27 07:47] MrLBQ commented on #23891
有解决方案嘛？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "dotnet/aspnetcore"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年7月24日(星期五) 上午9:52
收件人:&nbsp;"dotnet/aspnetcore"<aspnetcore@norep

[2020-07-27 08:36] xiaoxiaomemg opened #24330 "Unable to cast object of type 'System.Boolean' to type 'System.Threading.Tasks.Task`1[System.Boolean]"
### Describe the bug
When I call the method of ValidParameter from web, I will get this err，which is not every time;
[code]

### To Reproduce
When I call the method of ValidParameter from web, I will get this err，which is not every time;

### Exceptions (if any)
[code]

### Further technical details
- ASP.NET Core version 3.1
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac)

[2020-07-27 09:44] pawepaw opened #24331 "Why user has to type his email on reset password page?"
I'm integrating forgot password mechanism into my system right now and I'm wondering why user has to type his e-mail together with password and password confirmation on reset password pages? Isn't token enough to find user in database?

I'm asking because it isn't popular to ask user for email (he clicked link to reset password moment ago from his mail box) and it's not perfect UX, does it has som

[2020-07-27 10:05] DotNetAppCompatFeiWang opened #24332 "[5.0.100-preview.8.20373.19] OpenMu plugins not displayed due to System.Reflection.ReflectionTypeLoadException"
**Application Name:** Open Mu
OS: Windows 10 RS5
CPU: X64
.NET Build Number: 5.0.100-preview.8.20373.19

App Location: On repro machine, at C:\Users\appcompat\Documents\OpenMU
App Source : On repro machine, at C:\Users\appcompat\Documents\OpenMUSource
App Source on GitHub link: https://github.com/MUnique/OpenMU (this source is new, we test old version )

**Verify Scenarios:**
1). Windows 10 RS5 X6

[2020-07-27 10:05] DotNetAppCompatFeiWang opened #24339 "[5.0.100-preview.8.20373.19] OpenMu plugins not displayed due to System.Reflection.ReflectionTypeLoadException"
**Application Name:** Open Mu
OS: Windows 10 RS5
CPU: X64
.NET Build Number: 5.0.100-preview.8.20373.19

App Location: On repro machine, at C:\Users\appcompat\Documents\OpenMU
App Source : On repro machine, at C:\Users\appcompat\Documents\OpenMUSource
App Source on GitHub link: https://github.com/MUnique/OpenMU (this source is new, we test old version )

**Verify Scenarios:**
1). Windows 10 RS5 X6

[2020-07-27 10:08] xperiandri opened #24333 "JsonPatchDocument should use System.Text.Json"
Related to https://github.com/dotnet/aspnetcore/issues/16968
Will you accept pull-request with this feature?

[2020-07-27 10:18] xperiandri commented on #24333
I propose to:
* add `IOperation` interface
* create new package `Microsoft.AspNetCore.JsonPatch.Newtonsoft` referencing https://github.com/dotnet/aspnetcore/blob/master/src/Features/JsonPatch/src/Operations/Operation.cs as link with conditional compilation namespace
* add package `Microsoft.AspNetCore.JsonPatch.System.Text` referencing https://github.com/dotnet/aspnetcore/blob/master/src/Features/

[2020-07-27 10:28] marcusturewicz commented on #24322
Happy to have a crack at this, if pointed in the right direction :)

[2020-07-27 10:40] BickelLukas opened #24334 "Endpoint matching ignores host and complex segment prefix when HTTP method does not match"
### Describe the bug
I have the following controller
[code]

Then I issue a GET request to `test.net/open/case/1` and I get a `405 Method not allowed` response.
The request should fall through the endpoint routing middleware and be handled by a later middleware, but it never gets past the endpoint routing middleware.

This might be 2 seperate issues:
1. The host `test.net` should not match an endp

[2020-07-27 10:55] KameshRajandran opened #24335 "Diagramming component - Implementation complexities"
We have planned to create the diagramming component. Our requirements are below.
1.	We need to create 10000 rect (SVG) elements inside an SVG element in C# (razor) side. The SVG size will be 700 * 700, All the rectangle should be inside this region.
2.	Need to drag the first rectangle inside the SVG based on some mouse interaction.

We have prepared a component like below.

[FullNative.razor]

[co

[2020-07-27 11:47] Rodrigo-Andrade commented on #24199
@davidfowl

[2020-07-27 12:31] SashaPshenychniy commented on #24291
@davidfowl, @Tratcher Would you agree that it's unobvious that while resolving controllers MVC relies on some "_applicationName_" setting and expects that 'string' setting to correspond to some assembly name where controllers are located?
[Documentation ](https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/app-parts?view=aspnetcore-3.1) suggests to set applicationName to the entry-point asse

[2020-07-27 12:41] jesusarockias opened #24336 ".NET 5 and Blazor Server Application Combination is not working in IE11"
.NET SDK - 5.0.100-preview.7.20366.6

Visual Studio - 16.7.0 Preview 5.0

We can reproduce it with default counter component by clicking it count value will not be updated.

Polyfill: https://github.com/Daddoon/Blazor.Polyfill

**Note**: it is working without any issue for .NET Core 3.1

[2020-07-27 12:46] Tratcher commented on #20964
Not yet. MVC is a very large area with some complicated tests. I'd suggest splitting it into multiple PRs by project type (e.g. samples, tests, etc.) or feature area. Also, when you find something more unusual like WebApplicationFactory, only fix one test and submit a draft PR to make sure that's how they want it.

[2020-07-27 12:50] akoeplinger commented on #24074
Sorry I only saw this now. It looks like an SDK issue to me, if you look at [Microsoft.NET.RuntimeIdentifierInference.targets#L178](https://github.com/dotnet/sdk/blob/5734242453cd80894d75fb4c20bbd9bd2f77588d/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.RuntimeIdentifierInference.targets#L178) this should only happen when `PlatformTarget` is not `AnyCPU`. Maybe something recently chang

[2020-07-27 13:19] mkArtakMSFT commented on #24321
Thanks for contacting us.
It seems that you're trying to report an issue related to the browser behavior, which you observe when debugging, correct?
Is that Microsoft Edge?

[2020-07-27 13:22] mkArtakMSFT commented on #24327
Moving to the next sprint planning to later decide whether we do this or not. As of right now this is non-planned work.

[2020-07-27 13:22] mkArtakMSFT commented on #24327
@pranavkm marking this as `mvc` assuming there's going to be some work for us.

[2020-07-27 13:32] mkArtakMSFT commented on #24314
@javiercn any recommendation where this should go? (mvc or platform) ?

[2020-07-27 13:37] AnastasiyaPoli commented on #24291
@Tratcher @davidfowl
I created a branch **net-core-version-2.2** for test project: https://github.com/AnastasiyaPoli/MemberService/tree/net-core-version-2.2.

In scope of it I changed target framework for MemberService.Api and MemberService.SystemTests projects from .NET Core 3.1 to .NET Core 2.2. Added needed packages and changed IWebHostEnvironment to IHostingEnvironment. Commented the line .Use

[2020-07-27 13:47] javiercn commented on #24314
Use ManifestFileEmbeddedProvider which is designed to be full-fidelity or instead of that, use static web assets if possible. This is a known limitation of EmbeddedFileProvider we don't plan to address.

[2020-07-27 13:47] javiercn commented on #24314
Also, not sure if this moved to the runtime repo

[2020-07-27 13:51] javiercn commented on #24336
@jesusarockias thanks for contacting us.

Can you provide a call stack so that we might be able to help? (Server logs and/or Browser logs). Note that the polyfills you are using might need updates based on the 5.0 version of the JS code.

[2020-07-27 13:55] javiercn commented on #24320
@barahonajm thanks for contacting us.

It looks like you are trying to prerender the application. Prerendering authorized pages is not supported. See [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/additional-scenarios?view=aspnetcore-3.1#support-prerendering-with-authentication) for details

[2020-07-27 13:59] javiercn commented on #24301
@mayur-ekbote thanks for contacting us.

Does
[code]

not work for you?

[2020-07-27 14:00] javiercn commented on #24294
@ThatFlashCat thanks for contacting us.

This is expected since I'm assuming you are prerendering. The app gets rendered once on the server and then the state is discarded.

[2020-07-27 14:05] javiercn commented on #24312
@Flash619 thanks for contacting us.

I don't know what can be going wrong in your app, we would need a minimal repro project to investigate. That said, I believe that instead of extending defaultAuthorizationPolicyProvider you should simply configure the default policy within the authorization system and leave the default implementation as it is.

You can do so by calling `services.AddAuthorizatio

[2020-07-27 14:11] javiercn commented on #24233
@mrpmorris thanks for contacting us.

That is less flexible and would make it incredibly hard for components to provide default values for common attributes that are overriden.

While it might have caught you by surprise, this is one of the things that you need to know to use splat attributes effectively.

Also, this would be a big breaking change that we wouldn't likely want to take.

I understan

[2020-07-27 14:14] javiercn commented on #24293
@volaru77 thanks for contacting us.

This is likely a runtime issue. As an alternative I would suggest you use the native crypto APIs through JS interop since they will be much faster (since they are native to the browser). See details [here](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/deriveKey)

I'm transferring this issue to the runtime repo since this is not Blazor specific,

[2020-07-27 14:15] javiercn commented on #24300
I'll give it a try.

We need to add them to the up to date marker or something like that.

[2020-07-27 14:16] luoyunchong commented on #24314
Thanks,I use **Microsoft.Extensions.FileProviders . physical**  can also solve my problem

[2020-07-27 14:17] javiercn opened #24337 "[Blazor] CSS isolation follow-ups"
Tracking issue for follow-ups for CSS isolation.

- [x] Unit tests for concatenate CSS files
- [x] Unit tests for compute css scopes.
- [x] Unit tests for ApplyCssScopes
- [x] Unit tests for discover default scoped CSS items
- [x] Unit tests for ResolveAllScopedCssAssets
- [ ] Additional integration tests
  - [x] Disable bundling
  - [x] Disable default scoped css items
  - [x] Ability to plug-in

[2020-07-27 14:23] kostasxagoraris commented on #24235
I don't think I can provide a code sample that will illustrate the problem because the problem is partially caused by the deployment location.
If you follow the exact same instructions as on #19928 and not deploy on http://{localhost}/ but instead http://{localhost}/{application} you will see that every ajax call back to the server fails with 401 error code because for some reason the issuer is co

[2020-07-27 14:36] ThatFlashCat commented on #24294
That makes sense, but why is the prerender occurring outside of the `<table>` element?

[2020-07-27 14:38] davidfowl commented on #24291
@AnastasiyaPoli I'll take a look at your repos today.

[2020-07-27 14:44] javiercn commented on #24294
@ThatFlashCat I didn't see the repro you included.

This is troublesome, scecifically for static components, which only end up as regular markup on the page. Can you check the httpresponse on the network tab?

I can't think of a way in which a static rendered component can be rendered in a different position it was called on.

For a server component I can understand there might be a bug in how it

[2020-07-27 15:19] mrpmorris commented on #24233
Hi @javiercn

To set default values we just need to override SetParametersAsync and set them if null. It's explicit and unambiguous, it is also consistent with how we set default parameters in routes.

It is a breaking change and would need to be done in a major release I expect, but then again dotnet 5 is a major release.

Making the order of html attributes important just doesn't seem like good

[2020-07-27 15:20] blowdart commented on #24331
It's just an extra hurdle to stop someone attempting mass password resets. It won't be changed.

[2020-07-27 15:20] #24331 closed

[2020-07-27 15:21] blowdart commented on #24319
As David says, using an interface would make adding or changing functionality far too difficult. Avoiding an interface is by design.

[2020-07-27 15:21] #24319 closed

[2020-07-27 15:24] pranavkm commented on #11050
Is the codefix to warn about the use of `IStartup` and turn it into `IStartupConvention`? That's not already a type, is it?

[2020-07-27 15:33] ThatFlashCat commented on #24294
@javiercn The repro is there but I put it inside a hyperlink toward the end of my initial post, but I added the link here as well: https://github.com/ThatFlashCat/BlazorTableBugRepro

I took a look at the http response and found something very odd.

This part of the razor component:
[code]
Shows up like this in the httpresponse:
[code]
As it should, so no issue there, but when I inspect the elemen

[2020-07-27 15:42] davidfowl commented on #11050
The code fix is the warn about malformed or missing Configure (or malformed ConfigureServices).

[2020-07-27 15:43] javiercn commented on #24294
@ThatFlashCat thanks for the details.

Than can just be the browser. I believe `table` items don't accept random things, and as part of parsing the browser might decide to take them out. I would have to check the HTML5 spec to confirm, but I know the parsing algorithm does things like that in other scenarios.

[2020-07-27 15:48] ThatFlashCat commented on #24294
That would make sense. I observed this behavior in Chrome 84, Firefox, and Edge (Chromium based).

[2020-07-27 15:49] mrpmorris commented on #24233
Update: I see the way it works is consistent with how HTML processes attributes, so that makes sense.

I'll try to find the MS docs for this and suggest an edit to the text, it seems a bit confusing the way it is worded now.

Thanks for your feedback!

[2020-07-27 15:55] pranavkm commented on #24328
/cc @sebastienros

[2020-07-27 16:04] mrpmorris commented on #24233
Update: The priority is opposite to the way HTML works. Take this example

`<div style="color:black" style="color:red">What colour is this text?</div>`

The preceding text is black, because the first style (on the left) takes priority.

Whereas the following

`<h3 attr1="default-value" @attributes=AllOtherParameters attr2="default-value">MyComponent</h3>`

The `attr1` in `AllOtherParameters` overr

[2020-07-27 16:11] lfshr opened #24338 "SpaProxy does not work alongside UsePathBase"
### Describe the bug
SpaProxy does not work when used in conjunction with `app.UsePathBase` as it removes the `PathBase` from `Context.Request.Path` and applies it to `Context.Request.PathBase`.

### To Reproduce

1. Create a new ASP.net core with React project (https://github.com/lfshr/spaproxy-pathbase-issue/commit/1d98c87387ec3a4da800f906b4044a4fe0c90a86)
2. Add `AddPathBase` call in `Startup.c

[2020-07-27 16:12] barahonajm commented on #24320
@javiercn Thanks for your answer

Unfortunately no, my render configuration is on `server` (Blazor server side), and my pages with [Authorize] are working fine, only this `Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");` call is making the app crash even though that call is on `OnAfterRenderAsync`

[code]

[2020-07-27 16:20] lfshr commented on #24338
There is a `baseUri` in that request, but neither of the extensions take the `PathBase` into account:

Angular code to resolve `baseUri`: https://github.com/dotnet/aspnetcore/blob/f26942805dba614e6c9e2d7aa7da8fe3edaff827/src/Middleware/SpaServices.Extensions/src/AngularCli/AngularCliMiddleware.cs#L57

React code to resolve `baseUri`: https://github.com/dotnet/aspnetcore/blob/f26942805dba614e6c9e2d

[2020-07-27 16:24] javiercn commented on #24320
`icrosoft.AspNetCore.Components.WebAssembly.Authentication.RemoteAuthenticationService`3.RequestAccessToken()` this in your callstack is Blazor WebAssembly code.

If you are using the authentication support in webassembly within server-side Blazor, that's not supported.

Are we missing something here?

[2020-07-27 16:25] mkArtakMSFT commented on #24317
Thanks for contacting us. This is a known issue which we plan to address as part of preview 8 release. You can use https://github.com/dotnet/aspnetcore/issues/24174 to track the progress.

[2020-07-27 16:25] #24317 closed

[2020-07-27 16:30] mkArtakMSFT commented on #24298
Thanks for contacting us. This is a known issue which we track as part of #21406

[2020-07-27 16:30] #24298 closed

[2020-07-27 16:33] mkArtakMSFT commented on #24290
Thanks for contacting us. We will use the referenced issue to track this. Closing as a dupe.

[2020-07-27 16:33] #24290 closed

[2020-07-27 16:33] barahonajm commented on #24320
I see, I wanted to use RemoteAuthenticatorView on blazor server side too just like webassembly does, little question **are you planning to support that kind of authentication on blazor server side?** I think most of the work is done since my blazor server side is almost working, [Authorize] attribute works fine as well as the login, register, logout, all those actions are correctly talking with an

[2020-07-27 16:36] mkArtakMSFT commented on #24272
Thanks for contacting us. We plan to address this by providing good documentation for this very scenario. That work is tracked as part of https://github.com/dotnet/aspnetcore.docs/issues/17308

[2020-07-27 16:36] #24272 closed

[2020-07-27 16:40] mkArtakMSFT commented on #24247
Thanks for contacting us. @hardkorehak can you please confirm that by updating the runtime (which you can also get through VS update) fixes the issue?

[2020-07-27 16:44] hardkorehak commented on #24247
Yes, just now had the opportunity to test after all updates. It is working now. Thank you.

[2020-07-27 16:44] #24247 closed

[2020-07-27 16:50] mkArtakMSFT commented on #24214
Thanks for the extra details.
It looks like we can successfully load the website:
![image](https://user-images.githubusercontent.com/34246760/88568911-847a6000-cfee-11ea-9fe1-3fa3941da57b.png)

Can you try to open that link in an `In Private` window to avoid caching problems? It may be that you got some "bad" state of a client cached and that's causing this behavior.

[2020-07-27 16:51] ThatFlashCat commented on #24294
I'm going to close this unless you have anything else to add @javiercn. Thanks for your help!

[2020-07-27 16:51] #24294 closed

[2020-07-27 16:53] mkArtakMSFT commented on #24333
Thanks for your willingness to help.
We would prefer to think more about this first and decide on the direction we want to go before asking for help.

[2020-07-27 16:54] mkArtakMSFT commented on #24339
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (without any third-party dependencies) (ideally a GitHub repo) that illustrates the problem.

[2020-07-27 16:56] mkArtakMSFT commented on #24330
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-07-27 16:58] PriyaPurkayastha commented on #24339
@mkArtakMSFT the AppCompat team tests third party apps in the lab. It is unlikely that the team has the ability to create repro projects on their own to illustrate the problem. We generally rely upon the product teams to investigate the regression. If there is any crash dump or anything else that the team can provide, please do let us know.

[2020-07-27 17:02] javiercn commented on #24320
Authentication for SPAs (Blazor webassembly) is fundamentally different from authentication for web applications (Blazor server).

I wouldn't recommend you try to use the auth support for Blazor webassembly in server-side Blazor. It's not targeted for it and it is not a good fit.

You can experiment at your own risk, but you might find more blockers along the way.

[2020-07-27 17:03] sebastienros commented on #24328
Changing Razor would not solve the problem because there are tens of services that behave the same way, and anything that uses options. The only way you can support multi-tenancy and be able to configure each tenant individually is to create DI containers for each tenant. This way each tenant has its own set of services, including singletons. And you can still share common "host singletons" across

[2020-07-27 17:08] barahonajm commented on #24320
Ok, I would need to explore more about this topic, my very quick thinking lead me to believe I can use a blazor server side as a SPA but you are right I might not get any advantage doing that.

Thanks for the answers.

[2020-07-27 17:27] topagarwal commented on #24270
I did git pull origin HEAD and rebuild the projects from command line form withing MVC project and now I am getting these errors:

C:\AspNetCoreSrcCode\artifacts\obj\Microsoft.AspNetCore.Components.Forms\Debug\net5.0\.NETCoreApp,Version=v5.0.AssemblyAttributes.cs(4,12): error CS0579: Duplicate 'global::System.Runtime.Versioning.TargetFrameworkAttribute' attribute [C:\AspNetCoreSrcCode\src\Componen

[2020-07-27 17:50] efraimt opened #24341 "Blazor WASM multiple components & free coding"
Hello everyone,

I need a site that is very sensitive to SEO, so I prefer a site that has several pages that are divided into different matters, compiled on the server, and provided to explore as HTML.
There are some components that I need to use them with Ajax.
I am not interested in working with WebSocekts and therefore neither SignalR, nor with Blazor Server.

I need components in different pla

[2020-07-27 17:59] Halfbax opened #24342 "Error while generating a new razor page by using the scaffold."
### Describe the bug
Since I have updated to 5.0.100-preview.7.20366.6 I am unable to create new razor page by using the scaffolds.

### To Reproduce
Just try to add a new razor page.

### Further technical details
[code]

[2020-07-27 18:10] javiercn commented on #24342
@Halfbax thanks for contacting us.

This is a visual studio issue. You'll get a better and faster answer if you report it [here](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019)

/cc: @vijayrkn

[2020-07-27 18:10] SteveSandersonMS commented on #24335
Hi @KameshRajandran, thanks for providing this information!

Since you're using Blazor Server, the main limiting factor will be the network latency. It shouldn't be a big surprise that if the user's browser is (say) 200ms away from the server in speed-of-light distance, then at the very least you'll have 400ms of lag between each user gesture and the corresponding UI update. If the kinds of lag yo

[2020-07-27 18:29] 3x0dv5 opened #24343 "Blazor Wasm project debug stops at login"
Hi, using

using the VS wizard created a new Blazor App
![image](https://user-images.githubusercontent.com/250271/88577070-5290ea00-d03e-11ea-8257-c7c10d9e4719.png)

Blazor Webassembly with authentication
![image](https://user-images.githubusercontent.com/250271/88577133-66d4e700-d03e-11ea-87bf-1fa0c4e021cf.png)

Changed the options so it does not required confirmation of email/account.

[code]

R

[2020-07-27 19:08] TanayParikh opened #24345 "Refine JsonReader Handling to Prevent Infinite Looping With Corrupted JSON Structure"
Related to https://github.com/dotnet/aspnetcore/issues/24251 / https://github.com/dotnet/aspnetcore-tooling/pull/2273

[2020-07-27 19:24] chitoiur commented on #22031
Given that this problem is mostly applicable to Blazor, rendering UserManager unusable in Blazor applications, I think this would be the most elegant solution.

[2020-07-27 19:48] #24251 closed

[2020-07-27 21:04] #24304 closed

[2020-07-27 21:07] BrennanConroy commented on #12015
@pranavkm Can you provide a repro or close if it isn't relevant anymore

[2020-07-27 21:08] dougbu commented on #24270
1. It's not clear you're using the current HEAD from this repo. @Pilchie deleted the src/Mvc/Mvc.sln file back on the 8th and there's a Mvc.slnf file in that directory now.
2. Duplicate attributes sometimes show up after a previous build aborted. Recommend cleaning the repo e.g. `git clean -dfx -e .dotnet/ -e .tools/`. Add `-e .vs/ -e .vscode/` if you're confident the VS settings aren't messed up.

[2020-07-27 21:09] pranavkm commented on #12015
We can reopen once we look at this again. We haven't received user reports of this.

[2020-07-27 21:09] #12015 closed

[2020-07-27 21:27] dougbu opened #24347 "Add public API baselines for rest of our implementation projects"
If joining me in this endeavour, please assign yourself and add your name in parentheses on the line or lines below. Would rather not have multiple people working on adding the same files in parallel 😺
- [x] src/Analyzers (@Pilchie) - contains no projects that need `PublicApi.*.txt` files ~~files exist, but aren't used by the build yet.~~
- [x] src/Antiforgery (@pilchie)
- [x] src/Azure (@pilchie)

[2020-07-27 21:34] BrennanConroy commented on #24313
This seems normal, if you disconnect ungracefully then the disconnect will run at some "arbitrary" time in the future and a new connection can occur before the old one is disconnected.

[2020-07-27 21:42] MariovanZeist commented on #23886
@SteveSandersonMS I have created an implementation. I think it's small and simple, (But I could be biased). And I am in the process of creating some e2e tests, but have some problems getting the e2e tests to run consistently. (getting some selenium errors)
I will create a PR as soon as I have working e2e tests if that's ok.

[2020-07-27 21:43] wtgodbe commented on #24347
Seems like maybe the kind of thing I could do on ops duty? (Tuesday & Wednesday this week)

[2020-07-27 22:02] lfshr commented on #24338
Would there ever be a scenario where somebody would want to use `app.UsePathBase` without using setting `HomePage`?

[2020-07-27 22:05] dougbu commented on #24347
The `PublicApi.*.txt` files aren’t really intended for manual intervention. To add them copy almost-empty files like src\Mvc\Mvc.Abstractions\src\PublicAPI.Shipped.txt into the directories you're adding baselines to e.g.
1. `cp .\src\Mvc\Mvc.Abstractions\src\PublicAPI.Shipped.txt .\src\Http\Http.Abstractions\src\PublicAPI.Shipped.txt`
2. `cp .\src\Mvc\Mvc.Abstractions\src\PublicAPI.Shipped.txt .\s

[2020-07-27 22:06] dougbu commented on #24347
@wtgodbe if you don't see anything to improve in the project templates tests and you have time, sure take something here. But, it's pretty much the last ops-on-call priority from my perspective.

[2020-07-27 22:07] #22308 closed

[2020-07-27 22:07] #22309 closed

[2020-07-27 22:07] #22307 closed

[2020-07-27 22:09] mkArtakMSFT commented on #24322
Thanks for your suggestion, @marcusturewicz. Given the fragility of this area we think this one is a better fit for the team to handle.

[2020-07-27 22:17] mkArtakMSFT commented on #24181
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-07-27 22:19] mkArtakMSFT commented on #24159
We've moved this issue to the Backlog milestone. This means that it is not going to be worked on for the coming release. We will reassess the backlog following the current release and consider this item at that time. To learn more about our issue management process and to have better expectation regarding different types of issues you can read our [Triage Process](https://github.com/dotnet/aspnetc

[2020-07-27 22:20] #24145 closed

[2020-07-27 22:22] mkArtakMSFT commented on #24130
Thanks for contacting us. This is a dupe of https://github.com/dotnet/aspnetcore/issues/13090

[2020-07-27 22:22] #24130 closed

[2020-07-27 22:23] TanayParikh commented on #24322
Current Implementation:
![commit_char_minimum_fix](https://user-images.githubusercontent.com/14852843/82705976-83fbcc80-9c2d-11ea-9c02-1f94ab3764ab.gif)

We had previously supported `="|"` quotes when you press `=`, but that functionality was removed to avoid issues like:
- `<button @attrib|` press `=` -> `<button @attributes="=|"`
- `@onkey|` press `:` -> `@onkeydown=":|"`
- Taghelper attribute `

[2020-07-27 22:23] SeanKilleen commented on #24151
Sorry, I'd missed this in a bunch of notifications.

@Tratcher I was using Visual studio 2019 with latest updates at the time and .NET Core 3.1 installed. When using the templates, I had to manually add the change for it to work.

Are you saying that you're currently unable to reproduce it with the steps I provided?

[2020-07-27 22:46] Maoni0 commented on #24318
a trace would definitely help.

[2020-07-27 22:49] NTaylorMullen commented on #23484
https://github.com/dotnet/aspnetcore/issues/24251

[2020-07-27 22:49] #23484 closed

[2020-07-27 22:59] ryanbrandenburg commented on #23903
VS seems to ignore pragmas for this particular code once I hacked my changes from AspNetCore into the AspnetCore-Tooling experimental instance. I also found [this issue](https://github.com/dotnet/roslyn/issues/45966) (filed not long after this) which seems to imply that erroneously showing these warnings is not a Razor-specific problem.

[2020-07-27 23:06] TanayParikh opened #24348 "Runtime dependency out of date"
Blocked on https://github.com/dotnet/aspnetcore/pull/24277 due to failing integration tests.

[2020-07-27 23:06] TanayParikh opened #24349 "efcore dependency out of date"
Status not being reported (unknown)

[2020-07-27 23:07] TanayParikh opened #24350 "arcade dependency out of date"
12 days stale but still showing as `blue`.

[2020-07-27 23:23] ryanbrandenburg commented on #24209
@dibarbet, am I correct in thinking we don't have a way from Roslyn to know when a project is "ready"? Is there was some Roslyn API we just didn't know about (or that was coming soon) it would be really useful to us.

[2020-07-27 23:28] NTaylorMullen opened #24351 "F12ing from C# -> Razor on an unnavigable item red-bars"
Repro:
Type `Counter` anywhere in C# and F12 on it in the default app

We explode with an argument out of range exception:
[code]

[2020-07-27 23:31] dibarbet commented on #24209
@ryanbrandenburg this is the API we use to know if we've been told about all the projects - http://sourceroslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/Workspace/VisualStudioWorkspaceStatusServiceFactory.cs,127 - it's a VS API so you should be able to use it.

Note that this can take quite a while and doesn't mean that some projects aren't loaded.  In local scenarios we still co

[2020-07-27 23:35] TanayParikh commented on #24348
Tried `dotnet test` with 5.0.100-rc.1.20377.3 from https://github.com/dotnet/installer however it doesn't have the requisite fix yet.

[2020-07-27 23:36] TanayParikh commented on #24350
Valid build unavailable. Not an issue.

[2020-07-27 23:36] #24350 closed

[2020-07-28 00:15] mrlife opened #24352 "Feature Request - Reusable razor component without polymorphism"
### What problem are you trying to solve?
Here is a simplified version of what I am trying to solve.

I am working on a razor component that uses a `<select>` to choose the value of a property on a tracked entity.

I have a base `Dropdown` class and multiple classes that derive from it, e.g. `Color`, which is a property on the tracked entity.

To make the razor component generic enough, I pass in