[2018-08-02 06:48] Oldmoooon commented on #3377
thanks  I had install it by [this](http://dotnet.today/en/aspnet5-vnext/getting-started/installing-on-mac.html).

[2018-08-02 06:48] #3377 closed

[2018-08-02 11:55] gkinsman opened #3378 "Self contained ASP.NET Core deployment to win7-x64 (Server2008R2) fails to run"
I'm testing a scenario in which we want to deploy a self contained ASP.NET Core app to a Windows Server 2008R2 server that doesn't have any .NET Core artefacts at all installed on it, and it needs to use HTTPS.

I created an app using the dotnet CLI, with version 2.1.2
`.NET Command Line Tools (2.1.302)`, running
`dotnet new webapi --no-https false`.

The project references Microsoft.AspNetCore.Ap

[2018-08-02 14:33] flaubie91 opened #5566 "Build solution hangs up every other attempt"
I am tying out the Blazor 0.4.0 demo on Windows 7 Enterprise SP1 with Chrome version 68.0.3440.84.  The first build works.  After making a change to the counter interval, the second build is hanging up (nothing in Output) and I have to cancel build for it to work again.

**1st Build**
[code]

**2nd Build**
[code]

**3rd Build**
[code]

Am I doing something wrong?  Thanks!

[2018-08-02 16:44] sebastienros commented on #3371
What OSes did you try it on, both locally and on Azure? If they are not the same then it might be an explanation that would need to be checked.

[2018-08-02 16:56] blowdart opened #3379 "Move Microsoft.AspNetCore.DataProtection.Redis to production status"
The Redis store is still pre-release, but people are using it. We should move it to production status if we feel it's ready.

@Eilon

[2018-08-02 17:11] beefo opened #3380 "Microsoft.AspNetCore.Proxy: ProxyService.cs HttpClient Timeout"
I realize Proxy is an unsupported experiment at this time, but wanted to make a suggestion from our experience testing with it.

**Issue**
[ProxyService.cs](https://github.com/aspnet/Proxy/blob/master/src/Microsoft.AspNetCore.Proxy/ProxyService.cs#L20) creates a HttpClient object with [default timeout](https://github.com/dotnet/corefx/blob/master/src/System.Net.Http/src/System/Net/Http/HttpClient.

[2018-08-02 17:18] wanton7 opened #5567 "favicon.ico gets reloaded every time tab is changed in server side rendering template"
I'm using Blazor 0.5.1 and Chrome browser. If I click between Home, Counter and Fetch Data tabs favicon.ico gets reloaded everytime tab is changed.

[2018-08-02 18:44] Eilon opened #3381 "Migrate from ASP.NET Core 2.0 to 2.1- Request to Web API failed(503-Service Unavailable )"
_From @280919911 on August 1, 2018 16:33_

I have changed target framework 2.1 and also replaced the packages Microsoft.AspNetCore.All to Microsoft.AspNetCore.App.

On Web API project- I have set environment variable and enabled SSL from the project property
I am able to run the Web project but while calling Web API from web project
I'm getting following error
Response status code does not indicat

[2018-08-02 18:44] Eilon commented on #3381
_From @joshfree on August 1, 2018 20:21_

@Eilon

[2018-08-02 18:45] Eilon commented on #3381
@280919911 do you have steps to reproduce this issue? Can you upload the app to a GitHub repo? Also, can you show any log info from the Event Log or other locations?

[2018-08-02 19:14] danroth27 opened #5568 "Bootstrap intellisense not working in Blazor projects in Visual Studio"
Bootstrap intellisense isn't showing up in Blazor projects:

![image](https://user-images.githubusercontent.com/1874516/43605526-78b1338e-964d-11e8-8e01-7ad4804a954c.png)

Visual Studio provides intellisense based on the CSS files in the project, but it only looks at the unminified versions.

[2018-08-02 20:13] pranavkm commented on #3327
cc @Eilon \ @javiercn

We should consider simplifying the CORS middleware. The [spec](https://fetch.spec.whatwg.org/#http-responses) does allow for not returning any of these headers like the middleware does now, but I'm not entirely sure why it needs to be doing any work. Going by the specs, once a policy is selected, this is what needs to be done:

* For a CORS preflight requests, return

1) `Ac

[2018-08-02 20:30] Tratcher commented on #3378
@JunTaoLuo @dougbu

[2018-08-02 21:08] brockallen opened #4648 "AddPolicyScheme changes the semantics of IAuthenticationSchemeProvider"
I suspect my issue here will be too subtle to do anything about, but I need some guidance on this.

My sense is that the introduction of the new virtual/dynamic policy schemes has in an odd way retroactively changed the semantics of the `IAuthenticationSchemeProvider` and its various `GetDefault...` scheme APIs. In doing so, I'd almost call this a breaking change since the semantics are now differ

[2018-08-02 21:34] JunTaoLuo commented on #3378
@gkinsman, I am unable to reproduce your issue. Using your sample and the command `dotnet publish -c Debug -r win7-x64 --self-contained` I'm able to run the app. Note that I removed `<PublishWithAspNetCoreTargetManifest>false<PublishWithAspNetCoreTargetManifest>` since that no longer applies to 2.1 apps.

The Microsoft.AspNet.WebApi.Client package includes the System.Net.Http.Formatting.dll assemb

[2018-08-02 21:43] BrennanConroy commented on #2992
Done https://github.com/aspnet/WebSockets/commit/768d2a023e32c8530a4cda6a5a3c41fc5136b9a4

[2018-08-02 21:43] #2992 closed

[2018-08-02 22:35] natemcmaster opened #3382 "Test failure: BrowserLink ScriptInjectionFilterStream_BecomesPassthroughOnTimeout"
CI started getting test failures in BrowserLink tests in both 2.2 and 3.0.

https://dotnet.visualstudio.com/public/_build/results?buildId=8877&view=ms.vss-test-web.test-result-details

https://dotnet.visualstudio.com/public/_build/results?buildId=8785&_a=summary&view=logs

[code]

[2018-08-02 23:05] HaoK opened #3383 "What should Options log"
Currently there is no logging in options, we should consider what we want to log.

[2018-08-02 23:50] Eilon commented on #3379
We'll need to discuss with @DamianEdwards . Maybe start with a mail thread?

[2018-08-03 05:53] 280919911 commented on #3381
@Eilon  Event log shows following exception :The Open Procedure for service "ASP.NET_64_2.0.50727" in DLL "C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet_perf.dll" failed. Performance data for this service will not be available. The first four bytes (DWORD) of the Data section contains the error code.

[2018-08-03 09:47] itrofimow commented on #3371
Both OS-es are Ubuntu 16.04
Docker version is 17.12.0-ce locally vs 18.03.1-ce on Azure
Hypervisors might be different, but i have no control over it

[2018-08-03 09:53] gkinsman commented on #3378
Hi,

Thanks for getting back to me so soon - the executable was being run from the parent directory and not the published output, which worked when tried. Apologies for the false alarm!

Thanks!

[2018-08-03 09:53] #3378 closed

[2018-08-03 13:39] v-zubritsky opened #3384 "IApplicationLifetime.StopApplication have no influence on IHostedService cancellation tokens"
I've encountered an unexpected behavior with `IHostedService` implementation, cancellation tokens passed to it and `IApplicationLifetime` interface.

I have two hosted services, both of which perform some initialization on start, and if it succeeds, they do their work in background. But if initialization fails, I'd like to stop the application at all, as far as this background work is critical.

I

[2018-08-03 13:55] da1rren commented on #3370
So I finally got a chance to look at this problem again.  Am I correct in saying I just need to do an implementation of IXmlRepository Interface in order to create an in-memory store.  Or is there a prebuilt provider.  I don't see any on [Here](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/implementation/key-storage-providers?view=aspnetcore-2.1)

[2018-08-03 15:51] Eilon commented on #3381
@280919911 unfortunately that does not seem related. That is from ASP.NET 4.x and doesn't seem like a severe problem, so it's not likely the cause.

[2018-08-03 15:51] Eilon commented on #3381
@shirhatti - do we have guidance on how to diagnose 503 errors?

[2018-08-03 16:12] Eilon commented on #3382
@jodavis can you please take a look at this high priority test failure issue?

[2018-08-03 16:18] Eilon commented on #3384
This issue was moved to aspnet/Hosting#1513

[2018-08-03 16:18] #3384 closed

[2018-08-03 17:54] natemcmaster commented on #3379
Work items:

- [ ] Enable some actual functional tests which connect to Redis (should be easy to do with Docker and VSTS)
- [ ] Update branding to version as 2.2
- [ ] Update deploy configs to move the package into the 'ship' group

[2018-08-03 17:56] Tratcher commented on #3379
Related: https://github.com/aspnet/Caching/issues/24

[2018-08-03 18:30] HaoK opened #3385 "Options Validation: Support DataAnnotations"
From Experience review with @ajcvickers @DamianEdwards @Eilon @davidfowl :

We should support DataAnnotations on the POCO for 2.2:

for example:
[code]

Need to figure out how to opt in, via new default overload?
`services.AddOptions<MyOptions>.[Auto]Validate()`

[2018-08-03 18:33] HaoK opened #3386 "Options Validation: support eager validation"
From exp review with @ajcvickers @DamianEdwards @Eilon @davidfowl

We should support some mechanism for eager (fail fast on startup) validation of options.

Needs to also work for generic host as well as webhost, must be configurable on a per options instance, since this will never work for request based options.

[2018-08-03 18:49] AlejandroFlorin opened #5229 "Running "ng build" manually causes VS to stop recognizing client side file changes and breaks angular-cli hot updates"
For an angular project, if you manually run ng build in a command prompt, it populates the dist folder. For some reason, this causes visual studio to stop recognizing changes to any client side files (css, scss, ts, html) and the hot updates for debugging stops working.

The work around is to delete the dist folder.
https://stackoverflow.com/questions/50867385/development-server-hot-updates-not-wo

[2018-08-03 19:46] ccarse opened #5325 "How to get Connection Id from client as in this example from Microsoft?"
I'm following this article: https://msdn.microsoft.com/en-us/magazine/mt846469.aspx

I want to achieve the same thing, create a signalR connection from the client, call a long running api method passing in my connection id, have my controller periodically report progress to that connection id.

It seems it is no longer possible to get the connection id on the client? What's the recommended way of

[2018-08-03 19:49] rayrase opened #5326 "Is there any way to log when a message is being sent to individual clients?"
Setting SignalR to verbose does not display when individual messages are sent. However, I can set the _Microsoft.AspNetCore.Http.Connections.Internal.Transports.WebSockets_ logging to verbose and see when messages are being transmitted then correlate the connection ids but, unfortunately, I cannot see the contents of those messages.

[2018-08-03 21:46] shirhatti commented on #3381
We have docs for diagnosing app start errors at https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/troubleshoot?view=aspnetcore-2.1

[2018-08-03 21:48] shirhatti commented on #3381
@280919911 The 503 error you're observing sounds like an Http.Sys error.

Are you using IIS or HttpSysServer?

[2018-08-03 21:51] ryanbrandenburg opened #5427 "Ensure Angular idomaticness"
We should do a pass through the Angular template now that we updated to 6 to ensure that it's idiomatic.

[2018-08-03 21:58] NTaylorMullen opened #14269 "TagHelper quick info"
Allow TagHelper quick info to manifest when hovering over TagHelper applied HTML.

[2018-08-03 22:01] NTaylorMullen opened #14270 "TagHelper tag coloring"
Enable dynamic coloring of TagHelper elements. VSCode uses text mate grammars to accomplish coloring which will make this especially difficult. However, there is a portion of the language server protocol being developed that adds dynamic colorization.

[2018-08-03 22:05] NTaylorMullen opened #14272 "Static URL picker for HTML elements"
Right now the default HTML static URL picker resolves to the entire project. This means it prompts you for files such as `Index.cs`. We'll need to isolate the picker to the `wwwroot` folder if it exists.

[2018-08-03 22:08] NTaylorMullen opened #14273 "Dynamic C# coloring"
Enable dynamic coloring of C# spans. VSCode uses text mate grammars to accomplish coloring which will make this especially difficult. However, there is a portion of the language server protocol being developed that adds dynamic colorization.

Some examples for when this will be important include:
- `@model TModel`

This issue does not include the TagHelper attribute dynamic coloring. That's covere

[2018-08-03 22:12] NTaylorMullen opened #14274 "GoToDefinition for C# + Html"
This will involve attaching to the definition support, forwarding C# requests to the virtual document, if the resulting location is in the same document then remap to host document.

[2018-08-03 22:14] NTaylorMullen opened #14275 "GoToImplementation for C# + Html"
This will involve attaching to the go to implementation support, forwarding C# requests to the virtual document, if the resulting location is in the same document then remap to host document.

[2018-08-03 22:22] dougbu commented on #3221
@JunTaoLuo does the following error come from the Web SDK or anything else our group handles? (If not, seems we should redirect any remaining questions on this long thread to the CLI team.)

[2018-08-03 22:58] NTaylorMullen opened #14276 "Find references for C# + Html"
This will involve attaching to the executeReferenceProvider provider support, forwarding C# requests to the virtual document, if the resulting location is in the same document then remap to host document.

[2018-08-03 23:02] NTaylorMullen opened #14277 "Hover support for HTML + C#"
This will involve attaching to the go hover provider support, forwarding requests to the C# or HTML virtual document and displaying the result.

[2018-08-03 23:04] NTaylorMullen opened #14278 "Rename support for Razor C#"
Edit: This includes both local and global rename support for Razor C#

This will involve attaching to the rename provider support, forwarding requests to the C# or HTML virtual document and displaying the result.

To make this work more than just locally it depends on https://github.com/aspnet/Razor.VSCode/issues/61

[2018-08-03 23:41] NTaylorMullen opened #14280 "Restart LanguageServer when configuration values change."
Need to make our server shut down and restart when config changes.

[2018-08-04 06:32] HaoK commented on #3067
The options manager is pretty simple, you can just drop in your own OptionsManager implementation that uses whatever cache you want.

[2018-08-04 06:33] HaoK commented on #2388
https://github.com/aspnet/Options/pull/266

[2018-08-04 06:33] #2388 closed

[2018-08-04 12:38] achandlerwhite commented on #3067
@HaoK, thanks for the reply. Yeah that’s what I ended up doing with the benefit of letting the programmer having a choice between the default or my implementation.

[2018-08-04 12:38] #3067 closed

[2018-08-04 14:54] kichalla commented on #3253
As @mkArtakMSFT had mentioned earlier, we want to make sure that the issue you are seeing is not something related to your code itself (as this is what we have seen in many circumstances), so it would be great if you can slim down the application which focuses the problem that you mentioned in the OP i.e hitting a 404 when trying to reach controllers.

[2018-08-04 20:00] EdCharbeneau opened #5569 "Allow for <script type="module"... in component libraries."
[JavaScript modules are supported by all of the evergreen browsers now.](https://caniuse.com/#search=modules) This has led me to experimenting with some ideas of how to tidy up JavaScript interops when using Blazor.

I feel like having the ability to use native JavaScript modules could lead to some clean abstractions around JS interopos. The following code works when adding the scripts manually to

[2018-08-04 20:32] YouvalLabade opened #3387 "ApiController attribute - Enforcing 415 Unsupported Media Type with bad Content-Type"
With the attribute `[ApiController]` how to return a `415 Unsupported Media Type` if the `Content-Type` is incorrect or unsupported?

[2018-08-04 23:24] gordon-matt commented on #3253
Have you even tried to look at it yet?

1. How would removing the database help? The action in the controller is NEVER hit (when in IIS), so it doesn't even get so far as to execute any db related code for that page... thus, the db related code is NOT an issue to be considered.

2. As I have mentioned before, it works 100% perfectly fine in 2.0.. it's only when I move to the 2.1 NuGet packages tha

[2018-08-05 04:43] mandalorianbob opened #5570 "Trying to make editable text field - keeps disappearing."
I created a small "editable field" where if you click on the text, it'll change to a text box which you can then modify.
However, I'm seeing some really strange behavior from hitting "Escape": If I click on the text, and edit the text, and hit "Enter" everything's fine. If I hit "Escape" it appears to delete the last element.
So if I click on the Text, type something and hit "Escape" it deletes di

[2018-08-05 11:05] dannyhaak opened #3388 "Array 'errors' in ValidationProblemDetails not included when serialising to XML"
When offering both 'application/problem+xml' and 'application/problem+json' as content types, it seems that the array with 'errors' is not serialised in XML, but it is in JSON.

When requesting with accept header set to 'application/problem+xml':
[code]

When requesting with accept header set to 'application/problem+json':
[code]

This happens on the same controller, same method.

The version of `

[2018-08-05 13:53] hishamco commented on #3386
I think @andrewlock did something similar for Configuration. Andrew could you please share some of your thoughts here

[2018-08-05 14:59] andrewlock commented on #3386
I wrote a post about my approach here: https://andrewlock.net/adding-validation-to-strongly-typed-configuration-objects-in-asp-net-core/, and I have NuGet package to provide the funcitonality: https://github.com/andrewlock/NetEscapades.Configuration/blob/master/src/NetEscapades.Configuration.Validation

Essentially, I implement a simple interface in my options objects (`IValidatable`), and registe

[2018-08-05 16:58] HaoK commented on #3386
Thanks @andrewlock I'm guessing we will end up with something similar just in a more generic host friendly way, that probably uses options itself to configure what option instances to validate at startup.

[2018-08-06 06:44] 280919911 commented on #3381
I'm using IIS

[2018-08-06 11:55] kspearrin opened #3389 "Updating from ASP.NET Core 2.0 to 2.1 (net471) causes unstable Azure App Service"
I wasn't quite sure where to post this issue, so please feel free to move it to the correct area if this is not appropriate.

I have a production API application deployed to Azure App Services that has been stable and running without issue on ASP.NET Core 2.0.x with .NET Framework 4.7.1.

After updating the app to ASP.NET Core 2.1.2 (still with .NET Framework 4.7.1) and deploying to Azure things h

[2018-08-06 12:54] ZealShah96 commented on #1719
@peske Thank you so much. I was trying to find the solution for the last 4 days and finally, your answer helped me.

[2018-08-06 13:43] sorvis opened #4156 "Turn off reloadonchanges for appsettings.json to avoid iNotify Issue"
We are running our application on a Linux host inside of containers we are seeing iNotify errors as explained in [this article](http://enterpriseyness.com/2018/02/07/dotnetcore-2-0-linux-suffering-inotify-errors/).

We would like to turn off reloadonchanges for appsettings.json which happens within WebHost.cs
[code]
We could create our own custom version of WebHost so that we can set those values

[2018-08-06 15:37] Tratcher commented on #3389
@halter73 @sebastienros

[2018-08-06 16:56] anurse opened #5328 "Consider adding Options Validation rules"
https://github.com/aspnet/Options/pull/266 adds support for "Validation" rules that throw useful errors at startup when options are invalid. We should consider applying this to `.AddSignalR` and other places where we configure `IOptions<T>`.

[2018-08-06 17:17] shirhatti commented on #3381
@pan-wang Can you weigh in here?

[2018-08-06 18:36] halter73 commented on #3389
Thanks for the report. This appears to be a duplicate of aspnet/KestrelHttpServer#2694 which we're currently looking into.

[2018-08-06 18:36] #3389 closed

[2018-08-06 22:50] ryanbrandenburg opened #5813 "Test failure: CanVerifyPhoneNumber"
This test [fails](http://aspnetci/viewLog.html?buildId=524549&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrandenburg

[2018-08-07 08:41] GuitarHero1969 opened #4123 "InvalidOperationException: No authenticationScheme was specified, and there was no DefaultForbidScheme found"
Could someone _please_ clear this up for me.

I have a web api built using .net core 2.1

I have a custom database table called tblUser (which doesn't take part in any authorisation like AspNetUsers).

This table contains three boolean fields I wish to utilize in my authorization, these are the same as my policy names.

In my Startup.cs ConfigureServices method:

`services.AddAuthorization(options

[2018-08-07 11:04] AndriiZ commented on #2143
Issue still not resolved (same issue on nginx 1.14.0 + asp.net core 2.1 on rpi)

[2018-08-07 12:16] viveknuna opened #3392 "How to host images in Asp.Net Core application on IIS?"
I have hosted my Asp.Net core 2.1 application on IIS. I'm uploading some images to the server. Now I need to download these images from some other application. So the image path would be something like http://localhost:21021/images/1.png.

I have tried the below code to download the image from other application, but it gives the below CORS error.

[code]
**Error**

No 'Access-Control-Allow-Origin'

[2018-08-07 19:05] ryanbrandenburg opened #3393 "Test failure: ExecuteReader_honors_CommandTimeout"
This test [fails](http://aspnetci/viewLog.html?buildId=525066&buildTypeId=XPlat_Windows_Win7_Universe) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

CC @Eilon,@muratg,@mkArtakMSFT

This issue was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-08-07 19:05] ryanbrandenburg commented on #3393
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-07 20:39] iamvivekkumar opened #3394 "Access denied when using AddDataProtection with PersistKeysToFileSystem and ProtectKeysWithCertificate"
I am getting an exception while trying to use OpenID Connect with identityserver4 using below code

services.AddDataProtection()
                .PersistKeysToFileSystem(new DirectoryInfo(@"C:\cert"))
                .SetApplicationName("appname")
                .ProtectKeysWithCertificate(certificate);

I am not getting an error on startup of application and XML file is getting created at "c:\ce

[2018-08-07 21:01] ryanbrandenburg commented on #2471
AutobahnTestSuite [failed with about the same error](http://aspnetci/viewLog.html?buildId=525193&buildTypeId=Releases_22xPublic_UbuntuUniverse).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-08-07 21:42] Rick-Anderson opened #5814 "Use inferred names in RCL Identity templates"
VS Intellisense suggests [Use inferred names](https://docs.microsoft.com/en-us/visualstudio/ide/common-quick-actions#use-inferred-names)

![image](https://user-images.githubusercontent.com/3605364/43803816-b9ce3254-9a4e-11e8-8490-1da9a2655f5b.png)

![image](https://user-images.githubusercontent.com/3605364/43803890-fc75f5f6-9a4e-11e8-8b31-a3f569575727.png)

Should I make a PR to use inferred membe

[2018-08-08 00:25] ajaybhargavb opened #5081 "ManualServerShutdown_NoPipeName_ShutsDownServer hangs on linux VSTS"
After some investigation, it looks like this test is the culprit causing https://github.com/aspnet/Razor/issues/2507. I've disabled this test on crossplat. As this is not common case and is hard to integration test, we should either remove this test or cover this in a unit test.

[2018-08-08 05:19] schuettecarsten opened #3395 "Using custom ILoggerProvider and IServiceFactoryProvider breaks logging scopes of WebHost"
Create a sample AspNetCore application. Add a custom logging Framework that implements ILoggerProvider. Observe the behaviour of logging scopes, for each request you get several scopes that contain details about the connection and the request.

Now add a custom DI container framework that implements IServiceFactoryProvider and a observe again. The logging scopes are lost.

You can see that your Lo

[2018-08-08 05:53] davidfowl commented on #3395
This might be related to these changes https://github.com/aspnet/Hosting/commit/6b095cf533950e7fc93ebc475093bafac70058cb

cc @pakrym

[2018-08-08 05:57] davidfowl commented on #3387
cc @rynowak

[2018-08-08 05:58] #3374 closed

[2018-08-08 05:58] davidfowl commented on #3374
Closing as dupe

[2018-08-08 08:18] thiagolunardi commented on #3385
The ability to add a binding name will be handy. Like `JsonProperty`.
[code]

Sometimes the host environment set some values, and I'd like to read it using my app language.

[2018-08-08 09:16] fubar-coder commented on #694
@Eilon  Sorry, but why was this closed? It's still unresolved?

[2018-08-08 12:06] iamvivekkumar commented on #3394
I got the solution.
Actually i was using wrong certificate. i created right certificate and everything is working fine.

[2018-08-08 12:06] #3394 closed

[2018-08-08 12:40] zxyao145 opened #3396 "Routing is existing but cannot go to the view"
Hello, I'm using core 2. I want to go a area, but it's show error. The routing is existing, but I can't go to "http://localhost:64745/BackCms/Account/Login". When I want to go to "http://localhost:64745/BackCms", I see "http://localhost:64745/Home/Index". So what should I do?

Routing is existing and Error 404
![error](https://user-images.githubusercontent.com/24973084/43837099-0f61ee30-9b4a-11e8-

[2018-08-08 13:06] zxyao145 commented on #3396
I have a new discovery, when the web site is released, it can work well, and everything is right.

[2018-08-08 16:49] jacobslusser commented on #3347
Follow up:

I had an even more complicated DI story than I first alluded to and Scrutor choked a bit. It seems good for simple decorators, but gave me problems when I needed more complicated factories and such.

However, I found this basic approach to be the essence of what I needed (in a more complicated form):
[code]
[code]
The extension method just simplifies replacing an already registered ser

[2018-08-08 16:55] khellang commented on #3347
I'd be interested in more details. I'm used to bumping into limitations (which is kinda why Scrutor exists in the first place), but there might be something that can be done about it?

[2018-08-08 17:55] natemcmaster opened #5571 "Move x-plat testing into VSTS"
AppVeyor and Travis are still required to provide full test coverage. To make VSTS provide the same level of coverage, we need to

* Enable selenium-standalone on VSTS
* Add macOS and Linux build phases
* Ensure tests run with `/p:BlazorAllTests=true` (or just make this default)

[2018-08-08 19:49] sebastienros opened #4905 "Provide a hook for RazorPage.ExecuteAsync()"
Feature request:
I can define a base class for the views, but there is no hook to execute some code before the view is executed. There is a method `ExecuteAsync` but it's not called on the base class.

My suggestion is to either call the base class `ExecuteAsync()` if there is one which is not abstract, or provide a new method that can be implemented by base view classes.

[2018-08-08 21:01] ryanbrandenburg commented on #2471
AutobahnTestSuite [failed with about the same error](http://aspnetci/viewLog.html?buildId=525931&buildTypeId=Releases_22xPublic_UbuntuUniverse).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-08-08 21:16] anurse commented on #2471
These failures are occurring because @mikeharder is setting up a new agent.

[2018-08-08 21:38] DanJ210 opened #3397 "Does the API always stay as version 1?"
I was brought here from the OpenAPI Swagger doc when clicking product feedback. Fantastic presentation and well updated by the way.

My only issue is about the version. How does the version work? Why leave a version at all if it's only going to be a V1? Or is there another parameter that increments this?

[2018-08-09 01:26] sebastienros commented on #1976
@atpyk please create a memory snapshot (dump_ and analyze it (Visual Studio, MemoScope) to see what object are taking all the memory, or just increasing in count. You can also take two and compare them overtime.

[2018-08-09 02:08] Todaug opened #3398 "/usr/local/bin/dotnet not present (Ubuntu 18.04)"
I have some problem setting up my asp.net core 2.1 mvc application on my Ubuntu server while following this tutorial

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-apache?view=aspnetcore-2.1&tabs=aspnetcore2x

The issue I encounter is at the service part. In my service, i have this line

`ExecStart=/usr/local/bin/dotnet /var/aspnetcore/hellomvc/hellomvc.dll`

but the folder /u

[2018-08-09 02:57] Serjster commented on #1976
@sabastienros I do believe that enough people have raised a concern over this that you/MS should actually start analyzing this yourself. Perhaps this is working as you intended, but then the design is flawed.

[2018-08-09 03:14] #3398 closed

[2018-08-09 04:45] wanton7 commented on #1976
@atpyk then it sounds like a memory leak. Profile your memory  to see what is keeping that memory  around like @sebastienros said.

One question, are you  even using ASP.NET Core? I read you first comment again and you mention ASP.NET MVC. ASP.NET MVC and ASP.NET Core are two completely different products. These issues and this repo for  ASP..NET Core.

[2018-08-09 06:26] atpyk commented on #1976
We use .net core MVC. @wanton7
I am doing analyze the memory. Maybe the Castle Dynamic Proxy lead to memory leak.

[2018-08-09 06:30] wanton7 commented on #1976
@Serjster are your programs running in 32bit .NET Core and crashing with out of memory exceptions? If your code does lot of LOH allocations then memory fragmentation is probably the reason.
If you are running in 32bit environment you have two choices, fix your code to avoid LOH or switch to 64bit environment.

I'm not very familiar with Azure but after little bit googling found this https://blogs.

[2018-08-09 08:26] neilmulhy opened #3399 "Where is @(EfMigrations) sourced from?"
**Background**
I have 2 websites:
- One I created using the web application core 2.1 template which is not processing the migrations when I publish to staging, using web deploy.
- Another I created using the web application core 2.0 template which does process migration when I publish to staging, using web deploy.

For info, a difference between the 2 website solutions apart from the template vers

[2018-08-09 10:11] kontacthimanshu opened #3400 "The specified CGI application encountered an error and the server terminated the process."
Hi,
I am hosting an ASP.Net Core 2.1.2 based application in Azure App Service I am getting this error intermittently:

"The specified CGI application encountered an error and the server terminated the process."

I read about others facing this problem and applied the fixes suggested SO. But none seem to work. Below is how my Program.cs code looks like.

[code]

Here is how my appsettings.json look

[2018-08-09 10:34] ufalak opened #4733 "ASP.NET Core 2.1: An existing connection was forcibly closed by the remote host"
#2554

After migrating to the last version of  asp net core 2.1 i start getting this exception:

[code]

[2018-08-09 11:54] fontanaricardo commented on #3221
Adding `<TargetLatestRuntimePatch>true</TargetLatestRuntimePatch>` in my Project.csproj, works for me:

[code]

Reference: https://stackoverflow.com/a/51404441

[2018-08-09 13:15] willcoughlin opened #3401 "After building from source, how to create a project using my build"
#### Background
My machine runs Windows 10 and I have both Visual Studio 2017 and VS Code installed, along with an official release of .NET Core SDK.

#### Steps Taken
I have succeeded in building after following the [instructions ](https://github.com/aspnet/Home/wiki/Building-from-source)on the Wiki regarding building from source. I've updated my PATH, and all that, and made sure `C:\Program File

[2018-08-09 13:30] ckams opened #3402 "Localization — Property and ModelMetadataTypeAttribute"
Is there any way to translate attributes set using [`ModelMetadataTypeAttribute`](https://github.com/aspnet/Mvc/blob/a78f77afde003c4a3fcf5dd7b6dc13dd9c85f825/src/Microsoft.AspNetCore.Mvc.Core/ModelMetadataTypeAttribute.cs
)?

[2018-08-09 16:00] muratg commented on #3034
@natemcmaster moved this to 2.1.5 based on the current dates. Let me know if you think we can/should do it in 2.1.4

[2018-08-09 17:16] natemcmaster commented on #3034
It's okay to stay in 2.1.5.

[2018-08-09 17:29] sebastienros commented on #1976
@Serjster I believe not all reports here are equal, and prefer to check the validity of each different case. Something like "my app takes has a memory leak" doesn't mean it's because of the framework, so I prefer to ensure each case it an actual one.

Taking your case for instance, "I believe" that I answered the reason why your memory is increasing. Have you been able to fix it after my explanati

[2018-08-09 17:44] RemyArmstro commented on #1976
@sebastienros What we ended up finding was that memory allocation just kept increasing, even though memory consumption did not.  I know ASP.NET core is doing some heuristics to tell it that it should grab more, but it seemed to be constantly allocating more and more on each request.  It almost appears to greedy to me in this regard, but I could be wrong.

Either way, I think @Serjster point is tha

[2018-08-09 19:14] chrisaliotta commented on #1976
I second that. It would be good for us to know why .NET Core 2.1 is more "opportunistic" when it comes to memory management than prior versions.

[2018-08-09 19:40] Andrzej-W opened #5572 "UIKeyboardEventArgs.Code in Edge browser is always empty + problems with UIKeyboardEventArgs.Key"
[code]
[code]
This code works in Firefox and Chrome but not in Edge.
On Windows 10 I have the following browsers:
* Firefox 61.0.1
* Chrome 68.0.3440.84
* Edge 16.16299

I have standard US layout keyboard and Windows with Polish language.
Edge does not return `Code` - we cannot distinguish between left and right shift/control/alt/menu start.

***Edge returns Unidentified*** in `key` for all braces

[2018-08-09 20:06] mitchellj opened #3403 "Unable to use IFormFile with ApiController in 2.1"
When we are trying to use `IFormFile` it works perfectly when we are not using `[ApiController]`, as soon as we introduce `ApiController` one of two things happens

1) If we do not prefix with `[FromForm]` we get a `Serialization` exception which generates a `Bad Request` response.
2) If we do prefix `FromForm` to the IFormFile then it becomes `null`

In order to get IFormFile to work we need to r

[2018-08-09 20:38] ajcvickers commented on #3399
@Eilon @bricelam This looks like a publishing issue; either of you know which repo it should go to?

[2018-08-09 22:36] sebastienros commented on #1976
Just to assure you we do care about this issue and in order to detect memory leaks preemptively, for the past 6 months we have been running an ASP.NET applications continuously on Azure, on both Linux and Windows, for 24h and 7 days. These tests fetch the latest ASP.NET source on every iteration (daily or weekly). We measure RPS, latency, CPU and memory usage. The application uses EF Core, MVC and

[2018-08-09 23:20] RemyArmstro commented on #1976
@sebastienros Thank you for the updates.  I know in our case the issue was more about a new "greedy memory allocation" concern, which we original mistook as a memory leak.  I am not even sure there is an issue now, it could just be that the new optimization heuristics are a lot more aggressive.  Not sure... but I think you are on the right track with really assessing this thread and coming up with

[2018-08-09 23:50] shawnwildermuth opened #3404 "Better Way to Prevent UseStatusCodePagesWithRedirects to ignore StaticFiles?"
While debugging file mapping in static files I realized my use of UseStatusCodePages API was redirecting for StaticFiles that were missing or mis-mapped.

For example:

[code]

This way, the Static Files will return a 302 that turns into a 200 on a redirect. But I'd prefer to have the actual 404 so I can more easily find the missing files. This is what I came up with but it feels too hacky. Either

[2018-08-09 23:50] natemcmaster opened #9928 "Change the default repo layout to match dotnet/Arcade"
Part of incremental changes to move to arcade. https://github.com/dotnet/arcade/issues/88

Arcade repo layout prescribes putting bin/ and obj/ folders in `$repoRoot/artifacts/`, and putting infrastructure stuff in `eng/`. We can update aspnet repos to use this layout now as a stepping stone to move to arcade.

See https://github.com/dotnet/arcade/blob/master/Documentation/ArcadeSdk.md

[code]

[2018-08-09 23:53] Tratcher commented on #3404
Rather than using WithRedirects, have you tried WithReExectue?

[2018-08-09 23:56] Tratcher commented on #3404
That example doesn't actually work does it? OnPrepareResponse is not called if it can't find the file, the request falls through to the next middleware. There's an implicit 404 middleware at the end of the pipeline.

[2018-08-10 00:01] sebastienros opened #3405 "Asp.net Core not Collecting Garbage"
Copied from https://github.com/aspnet/Home/issues/1976

_@zorthgo commented on Mar 21, 2017_

I can't understand why Asp.net core doesn't seem to be collecting garbage. Last week I let a web service run for a few of days, and my memory usage reached 20GB. GC doesn't seem to be working properly. So to test this I wrote a very simple web method that return a large collection of strings. The applicat

[2018-08-10 00:01] sebastienros opened #3406 "Asp.net Core not Collecting Garbage (Pinox)"
Copied from https://github.com/aspnet/Home/issues/1976

_@Pinox commented on Mar 31, 2017_

@zorthgo  Yes I have also seen this. Was using servicestack in my .net core console app and every time i make a call to the api the memory usage increased by massive amounts 50mb.  I assumed it was a VS2017 bug but then confirmed the high usage in the task manager.  As zorthgo stated by just making simple c

[2018-08-10 00:01] sebastienros opened #3407 "Asp.net Core not Collecting Garbage (codemasta)"
Copied from https://github.com/aspnet/Home/issues/1976

_@codemasta commented on Apr 7, 2017_

Facing same issue here on an Asp.Net Core application deployed to production with 3000-5000 active users..the memory on the server increased to 15GB yesterday...i have had to configure IIS to recylce the AppPool every 3 hours while i still try to figure out what the issue is.

_@davidfowl commented on Ap

[2018-08-10 00:01] sebastienros opened #3408 "Asp.net Core not Collecting Garbage (rpampin)"
Copied from https://github.com/aspnet/Home/issues/1976

_@rpampin commented on Sep 22, 2017_

Any news to this? I'm using Core 2 over Net Framework and this is still happening. Each call to a _Controller_ incresed the used memory, but it never goes down. (_I used the WebApi Template_)

[2018-08-10 00:01] sebastienros opened #3409 "Asp.net Core not Collecting Garbage"
Copied from https://github.com/aspnet/Home/issues/1976

_@sinapis commented on Dec 19, 2017_

Hi,

I have the same issue with ASP.NET Core 2. I've took a memory dump and tried analyzing. From what I see the problem is exactly as the OP said. My application starts with allocation about 75 MB, and very quickly it goes all the way to ~750MB, out of it 608MB is "Unused memory allocated to .NET".

Firs

[2018-08-10 00:01] sebastienros opened #3410 "Asp.net Core not Collecting Garbage (tanwarsatya)"
Copied from https://github.com/aspnet/Home/issues/1976

_@tanwarsatya commented on Dec 27, 2017_

we are also facing same issue, our controller is dealing with large amount of data, ( which is bad design and will be replaced soon ), each call to this controller is causing memory to grow. The memory reduces but only 40-50%( gain 50 Mb, reduces 30-35 Mb ), each call increases memory in range of 10-1

[2018-08-10 00:01] sebastienros opened #3411 "Asp.net Core not Collecting Garbage (acornies)"
Copied from https://github.com/aspnet/Home/issues/1976

_@acornies commented on Jan 13_

It looks like I have a similar issue in our production service (20-100 req/s) using a combination of:
- ASP.NET Core 2.0.4
- ServiceStack.Core 1.0.44
- SkiaSharp 1.59.2
- Docker v17.09.0-ce, build afdb6d4 on Ubuntu 16.04 x64
- x4 servers @ 40 CPUs, 128 GB memory
- Server GC is true
- each Docker container is s

[2018-08-10 00:01] sebastienros opened #3412 "Asp.net Core not Collecting Garbage (ronald7)"
Copied from https://github.com/aspnet/Home/issues/1976

_@ronald7 commented on Apr 10_

Hi,

I think i am having the same kind of problem with a .Net Core Web API in production.

The application is running on Windows Server 2016 with .Net Core 2.0.3. The machine is a Hyper-V VM with 28 CPU cores and 24GB of RAM. If we don't recycle the IIS application pool often enough, we will eventually use all

[2018-08-10 00:01] sebastienros opened #3413 "Asp.net Core not Collecting Garbage"
Copied from https://github.com/aspnet/Home/issues/1976

_@Serjster commented on Apr 24_

I am also experiencing the same problem. The garbage collection never happens! The screenshot shows memory usage after doing about 50 requests using a fairly simple dotnet core web api app.

![memory-profile2](https://user-images.githubusercontent.com/3606218/39227847-1db6ef60-4818-11e8-982f-5d4d0984c0a0.png)

[2018-08-10 00:01] sebastienros opened #3414 "Asp.net Core not Collecting Garbage"
Copied from https://github.com/aspnet/Home/issues/1976

_@danports commented on May 4_

I just upgraded an ASP.NET Core app running on Ubuntu 16.04 from 1.1 to 2.0 and ran into this problem. It's pretty severe, causing the kernel to kill the app frequently due to OOM errors, and I'm contemplating whether to downgrade back to 1.x. There are certain pages we can't load at all - even after a Kestrel

[2018-08-10 00:01] sebastienros opened #3415 "Asp.net Core not Collecting Garbage"
Copied from https://github.com/aspnet/Home/issues/1976

_@chrisaliotta commented 14 days ago_

We are observing the same issue where process memory continues to grow despite the heap size remaining the same (or decreasing).

_@chrisaliotta commented 14 days ago_

Here are some items to consider with our situation:

- We're only returning a `Dictionary<int, int>` object with 1000 integer values sto

[2018-08-10 00:01] sebastienros opened #3416 "Asp.net Core not Collecting Garbage"
Copied from https://github.com/aspnet/Home/issues/1976

_@beef3333 commented 14 days ago_

I am seeing this as well in one of my projects, but I also can re-create it in a brand new .net core API targeting .Net Core 2.1 (SDK 2.1.302).

I attached the sample API project that I created using Visual Studio 15.8.0 Preview 4.  To show the memory increasing I had a .net core console app hit the default

[2018-08-10 00:02] sebastienros opened #3417 "Asp.net Core not Collecting Garbage"
Copied from https://github.com/aspnet/Home/issues/1976

_@atpyk commented 10 days ago_

Same issue.
I have an asp.net webapi backend service.
The stacks are asp.net mvc, autofac, automapper, castle.dynamicproxy, entity framework core.
All memory will be eaten, then service crash.

Version is 2.1.0

_@wanton7 commented 10 days ago_

@atpyk Update to 2.1.1. If that doesn't help you should really pro

[2018-08-10 00:03] sebastienros commented on #1976
All individual reports have been isolated and will get individual follow-ups, and be closed if they are already solved. Feel free to subscribe to these to be kept in the loop.

[2018-08-10 00:03] #1976 closed

[2018-08-10 00:05] sebastienros commented on #3405
@zorthgo With the current state of information you provided there is no reason to think there is and issue with the GC. Can you provide some memory dumps or an application to reproduce the issue?

[2018-08-10 00:08] sebastienros commented on #3406
@Pinox

Can I assume there is no more issue on your side and close this issue?

[2018-08-10 00:08] sebastienros commented on #3407
@codemasta

Would you be willing to provide more information so we can investigate this issue?

[2018-08-10 00:10] sebastienros commented on #3408
@rpampin

Should I help you investigate this issue or did you eventually find out there was no memory leak?

[2018-08-10 00:13] sebastienros commented on #3409
@sinapis

Are you still waiting from us to make progress on this issue?

[2018-08-10 00:14] sebastienros commented on #3410
@tanwarsatya

Should we keep investigating with this issue? It seems like you understand the root cause of the memory growth.

[2018-08-10 00:15] sebastienros commented on #3411
@acornies

Are you still having issues with your scenarios? Have you tried to pool the objects you are creating to prevent LOH contention?

[2018-08-10 00:25] sebastienros commented on #3417
@atpyk

Do you want me to continue investigating on your issue or do you think you have reached an understanding of why it behaves like this. Do you want me to get a quick look at how you are using Castle?

[2018-08-10 00:34] natemcmaster commented on #3401
Depends what you are trying to do. Which repo did you compile and what are you trying to do with your custom build?

[2018-08-10 00:36] natemcmaster opened #3418 "Deprecate Microsoft.AspNetCore.All"
Earlier this year, we announced the Microsoft.AspNetCore.App metapackage (see https://github.com/aspnet/Announcements/issues/287). That announcement said:

See [our documentation for details](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage?view=aspnetcore-2.1#migrating-from-microsoftaspnetcoreall-to-microsoftaspnetcoreapp) on how to migrate from Microsoft.AspNetCore.All to .A

[2018-08-10 00:52] shawnwildermuth commented on #3404
It does. I'll try with execute

[2018-08-10 01:02] gldraphael commented on #3418
Could you elaborate on the rationale please?

[2018-08-10 01:13] atpyk commented on #3417
@sebastienros I think I have found the root cause that is the incorrect usage for Castle Dynamic Proxy.
I have used the Autofac.Extras.DynamicProxy instead.
So far, the memory maintained in a normal range, but still need to prove it by long term testing and stress testing.

Thanks.

[2018-08-10 01:16] PureKrome commented on #1976
This is a huge +1 from me. I feel that one of the biggest issues here is how hard it 'feels' to gather information, to then try and help determine _what_ is the problem. Having some great docs that can allow us to follow some instructions to both (i) gather, (ii) attempt a self-diagnose and (iii) post our dumps/findings in a way that is efficient for the MS team can really help both sides of the f

[2018-08-10 01:25] sebastienros commented on #3417
Thanks for letting me know. I will close the issue but feel free to reopen if you find out there is still an issue.

[2018-08-10 01:25] #3417 closed

[2018-08-10 01:31] parentelement commented on #3404
I believe adding the static files middleware first will remedy the issue, or does it pass through to the next() delegate on a 404?

[2018-08-10 01:44] shawnwildermuth commented on #3404
No, putting it first has no effect for some reason. I thought so too. But @Tratcher was correct, this works exactly the way I wanted:

      app.UseStatusCodePagesWithReExecute("/Error");
      app.UseStaticFiles();

[2018-08-10 01:44] #3404 closed

[2018-08-10 04:05] willcoughlin commented on #3401
I built the MVC repository and am attempting to create an ASP.NET Web Application.

[2018-08-10 04:44] natemcmaster commented on #3401
A few more questions. The answer really depends, so just want to make sure we're on the same page. Are you are trying to use a build of MVC that has some custom changes you made? If so, which branch did you base your changes on? Are you trying to get changes made by someone on our team, but that we haven't released yet? Or are you just trying to create an ASP.NET Web Application, in general?

[2018-08-10 06:47] saliniasok opened #5230 "Microsoft.AspNetCore.NodeServices[0] FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out o f memory"
Hi,
I am using node service (Microsft.AspNetCore.NodeService 1.1.1) in my asp.net core web api service to generate the Stimulsoft Report as a string. NodeService added in the start up file like
`  services.AddNodeServices(options =>
            {
                options.ProjectPath = Directory.GetCurrentDirectory();
                options.InvocationTimeoutMilliseconds = 2000000;
            });`

[2018-08-10 08:55] PeteX commented on #3418
Would it be possible to address NuGet/Home#2867—especially the security aspects—before this change goes into the released product?  The more dependencies a project has, the more difficult it is to make sure none of them have outstanding security advisories, so not being able to use AspNetCore.All will add to end users' maintenance workloads.

NPM have really raised the bar on this by implementing

[2018-08-10 09:47] jeremyVignelles opened #5231 "Support Webpack4 function export `argv` argument"
The v4 of webpack introduced an `argv` as a second argument to the `webpack.config.js`  exported function

It is useful to know in which environment this is running on, by using `argv.mode === 'production'`.

Can you implement that in aspnet-webpack ?

More info here : https://webpack.js.org/configuration/configuration-types/#exporting-a-function

[2018-08-10 10:02] cmeeren opened #3419 "Suggestion: Change log message "Policy execution successful" to "CORS policy execution successful""
I spent a while trying to figure out why I had so many mysterious "Policy execution successful" log messages in my app. After [a good while](https://github.com/App-vNext/Polly/issues/491#issuecomment-411490473) I tracked it down to `Microsoft.AspNetCore.Cors.Infrastructure.CorsService`. I suggest changing the message to "CORS policy execution successful" (other similar messages from CORS might be

[2018-08-10 10:26] khellang commented on #3418
You do realize that using `Microsoft.AspNetCore.App` instead of `Microsoft.AspNetCore.All` gives you *fewer* dependencies, right?

The feature is being worked on; https://github.com/NuGet/Home/wiki/Deprecate-packages

[2018-08-10 10:43] johnkors commented on #3418
@PeteX I asked for that tool a year ago, but nothing has really happened so far. Created https://github.com/retirenet/dotnet-retire meanwhile.

[2018-08-10 12:07] pavel-purma opened #5573 "Nested div onclick event"
I have a overlay background element and dialog inside. The problem is that onclick event of overlay div is fired event if that div is under dialog. That cause me closing the dialog. Then I tried to solve that by addEventListener via JSInterop and use e.stopPropagation() but it fail another way. It stop all blazor onclick events inside of popup dialog. Blazor use document as the only point to attac

[2018-08-10 12:13] willcoughlin commented on #3401
I have built with custom changes I have made, based on the release/2.2 branch. Now, I am trying to create the web application with that custom build.

[2018-08-10 15:37] masonwheeler opened #5574 "What can cause Navigation to completely stop working?"
I have a very strange situation in my Blazor app.  Everything was working fine until I updated to 0.5.  Now navigation is broken... mostly.

I can load up the SPA, and whatever page the URL is pointing to comes up as expected.  But if I try to click any link, the URL in the browser's address bar changes, but no content takes place.  The `OnInit` for the target page never gets called (verified by p

[2018-08-10 16:26] ikourfaln commented on #3418
Hi, can we use `Microsoft.AspNetCore.App` meta-package targeting Full .NET?

means to ha a csprojet look like that:

[code]

[2018-08-10 16:38] poke commented on #3418
@ikourfaln No, the meta packages only work with .NET Core. You will have to add all dependencies explicitly with the .NET Framework.

[2018-08-10 16:43] PeteX commented on #3418
It's great news that deprecation in Nuget is being worked on!

@khellang, you're right of course!  What I meant was that you get fewer explicit dependencies.  I trust Microsoft to make sure the dependencies of `Microsoft.AspNetCore.All` are sufficiently up to date to be free of known security issues.

[2018-08-10 18:53] pakrym opened #3796 "TLS leak in out of process"
After recent changes, we started correctly unloading handler DLL and a new error appeared when running with AppVerifier on.

The TSL token we allocate in https://github.com/aspnet/IISIntegration/blob/46285253018e1086cf4e9ba272c0efb86120c486/src/AspNetCoreModuleV2/OutOfProcessRequestHandler/dllmain.cpp#L208 is never freed on dll unload.

[2018-08-10 22:25] #3379 closed

[2018-08-10 23:48] zorkind commented on #2202
I have a int field being completely ignored by modelbinder. It just don't show up on ModelState at all, and it is in the request i can even access it with Request.Form["field"] it's there, modelbinder just chose to ignore it. When i try to bind it manually i get something weird like "The runtime refused to evaluate the expression at this time." but if i set the value itself, it works, only not if

[2018-08-10 23:55] zorkind commented on #2202
Ok so i figured out my issue.

For some reason the ModelBinder don't like to have an Object property in the model.

public object Id { get; set; }

This gets absolutely and utterly ignored by model binder :-( weird AF.

[2018-08-11 01:04] ryanbrandenburg opened #5428 "Test failure: MvcTemplate_NoAuth_Works_NetCore_ForFSharpTemplate"
This test [fails](http://aspnetci/viewLog.html?buildId=528510&buildTypeId=Lite_UniverseTest) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact ryanbrandenbu

[2018-08-11 01:43] danports commented on #3414
Thanks for following up! I haven't tried the upgrade to 2.x again since I ran into the issues I described earlier. Perhaps now that 2.1 is out I should give it a try again.

Here is the picture that I'm starting to put together from the comments I've read elsewhere: it sounds like the issue I'm experiencing is not a memory leak - it's the runtime being much more aggressive about pre-allocating mem

[2018-08-11 01:45] kevin-david commented on #3165
Hi all, any plan to fix this issue in an upcoming release? I'm currently using ASP.NET Core 1.0 - is it fixed in 2.0 or 2.1?

I spent a few solid hours debugging this before using the magic Google-fu to figure out where the `InvalidCastException` was coming from and the workaround became obvious - have a dummy `enum` value instead of using a nullable one.

For SEO purposes hopefully including `Rou

[2018-08-11 06:09] mbeckenbach opened #5815 "Unsafe Two Factor Recovery Codes"
Hi,

i've noticed that the two factor recovery codes for authenticator logins are not stored as hashes in AspNetUserTokens table. Shouldn't those be hashed in database like passwords are?

Best regards
Max

[2018-08-11 10:31] hishamco commented on #3402
@ckams if you mean data annotation attributes you can checkout this [link](https://github.com/aspnet/Entropy/blob/master/samples/Localization.StarterWeb/Startup.cs#L60)

[2018-08-11 15:45] itrofimow commented on #3371
I've investigated some more with perfcollect and noticed there is a LOT of finalized Sockets and NetworkStreams, so i took a closer look at my implementation of wcf calls and realized i create new client, which is inretered from System.ServiceModel.ClientBase<T> at every call.

And as in this issue(https://github.com/dotnet/wcf/issues/2161) is explained wcf implementation in .net core uses underly

[2018-08-11 16:05] sebastienros commented on #3371
Thanks for letting us know about this. This is good to know for next time someone faces the same issue. And yes HttpClient usage seems to be the root of lots of memory concerns. Fortunately the new pattern in 2.1 will help resolve most of these.

[2018-08-11 16:05] #3371 closed

[2018-08-12 07:29] sinapis commented on #3409
Hi,

That project was abandoned but it's very important for us to get to the bottom of this issue. I could use the info how to record more info on GC.

Also, please describe what exactly I can provide that will help got to the bottom of this issue.

[2018-08-12 14:47] bdebaere opened #3420 "TestServer always returns status code 400 Bad Request"
I'm trying to perform some integration tests using the TestServer in Microsoft.AspNetCore.TestHost. However, for every request I send I am receiving Bad Request. I read that some have difficulties when the controllers are in a different assembly so I simply added the TestServer on a sample API project you get when creating a new API and it still fails. What can I do to resolve this error?

Visual

[2018-08-12 14:55] Tratcher commented on #3420
@javiercn Would that be MVC complaining that there's no Accept header? TestServer doesn't generate any 400s.

[2018-08-12 14:57] rodrickmakore opened #3421 "There was an error trusting HTTPS developer certificate"
I am unable to trust dev-certs on my machine. The error I am getting when I run the command is "**There was an error trusting HTTPS developer certificate**". I am running Windows 10 version 1803 (OS Build 17134.191).

![image](https://user-images.githubusercontent.com/2578638/44002367-b4b15098-9e41-11e8-80a4-f031f64e3e69.png)

[2018-08-12 15:30] bdebaere commented on #3420
@Tratcher I tried adding the line below but I'm still getting the same error, or did you mean something else?

`client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));`

[2018-08-12 19:48] jonasarcangel opened #5232 "SyntaxError: Unexpected token {"
https://github.com/jonasarcangel/ModuleIssue

I'm getting the following error from my prerendered SPA using Angular Universal when using "dotnet run" and navigating to any route. It does not happen when I run in ClientApp folder using "npm run build:ssr && npm run start".

[code]

Versions:
- node 10.8.0
- npm 6.3.0
- dotnet 2.1.300

[2018-08-13 07:29] ghost opened #3422 "Localization — Generic Class and Localization not working"
May be a documentation issue, but I try here:

For non generic class, Localization works as expected. But with generic classes, seems that localization does not work.
 
I tried to localize Identities classes, like AppIdentityUser<TKey>, I tried something like
- `AppIdentityUser.it.resx`
- `AppIdentityUser<T>.it.resx`
- ``AppIdentityUser`1.it.resx`` (name get by reflection)

But nothing works. I ca

[2018-08-13 11:05] eguzelkucuk opened #3423 "ASP.Net Core 2.1 Upgrade Error"
When we upgraded our .Net core 1.x application to version 2.1 we got this error

**Cannot find reference assembly 'Microsoft.Win32.Primitives.dll'**

Can you help us with this?

[2018-08-13 13:38] yadavvineet opened #3424 ".Netcore SDK 2.1.302 not being used, resolves to older version"
I have installed the 2.1.302 version of SDK from downloads page. when i run the dotnet --version it shows "2.1.302" as correct.
When i try to run the Visual Studio or create  a new project (even from cli) the project refers to the SDK version 2.1.0. In the project i get the references in Dependencies as
Dependencies
--Nuget
----Microsoft.AspNetCore.App(2.1.1)
--SDK
----Microsoft.AspNetCoew.App(2.1

[2018-08-13 13:48] djg973 opened #3425 "any ideas for an old developer?"
Ive been developing using MS techs for a long time now.  Have seen a lot of "the next big thing" come along, get pushed to the moon,  only to die off.  I was hoping MVC would be on that list.  But, alas, it is not, and with core, you get MVC, along with EF, and thats how its done now.  Screw that.  It still seems like bad tech.  So... should I leave the MS family altogether(I do know other languag

[2018-08-13 13:48] ckams opened #3426 "Localization — Localization and Inheritance not working"
I am working on a pretty big project, with a lot of inheritance, where I have to target multiple locales.
Seems that Localization does not support inheritance?
Do I have to override every properties in every class to get these translated? At the same time, defeating the main concept of OOP???

[2018-08-13 14:01] blowdart commented on #3425
Hi. It looks like this is a question about how to use (or in your case, not use) ASP.NET Core. While we do our best to look through all the issues filed here, this is an opinion based question, rather than a code based issue, may we suggest posting your questions to  [StackOverflow](https://www.stackoverflow.com)?

Please consider tagging your StackOverflow question with  asp.net-core and/or asp.n

[2018-08-13 14:01] #3425 closed

[2018-08-13 14:08] djg973 commented on #3425
I used this because it was what was recommended on the APS.NET webpage.  It said for product feedback, use this github link.  So I did... and now its closed, and you are tellign me to use stack overflow.    Nice customer service.  Yet another reason to leave MS behind.
________________________________
From: Barry Dorrans <notifications@github.com>
Sent: Monday, August 13, 2018 10:02 AM
To: aspnet/

[2018-08-13 16:20] jmather opened #6024 "Rename JwtBearerOptionsConfiguration to (AzureAD|AzureADB2C)JwtBearerOptionsConfiguration"
Currently as it stands, these two helpers cannot be used together because (so far as I can figure) one will overwrite the other, since they both have the same logical namespace path: `Microsoft.AspNetCore.Authentication.JwtBearerOptionsConfiguration`

[2018-08-13 17:27] abhinavgalodha commented on #3373
It has been a week since we added the file auditing, but the exe file hasn't been deleted. Since we are not able to reproduce the issue at this time, i will close the defect.

[2018-08-13 17:28] #3373 closed

[2018-08-13 17:33] gjreige commented on #2202
I also figured out what my issue was. I tried all the solutions above and realised after a lot of testing what the issue was.

As silly as it sounds, in one of my string fields in the model I was passing in a local file path:

`
{
"path": "c:\"
}`

The '\\' was escaping the second quotation mark causing invalid json to be passed through.

You can include '\\' in your fields by using a double '\\\\

[2018-08-13 18:24] Maoni0 commented on #3409
@sinapis are you trying to find out the issue you described above or just interested in recording more info in general? for the former, are you in a position to build a private coreclr.dll and use that in your project that's showing the symptom you described? if so I can just give you a commit with proper logging enabled.

[2018-08-13 18:50] sinapis commented on #3409
@Maoni0 Yes, I can build a private coreclr.dll and use it. If there is are additional logging you would like me to add, I'd be more than happy to do so. In general, tell me what you need. I'll do whatever I can.

[2018-08-13 18:59] kant2002 opened #5575 "ILLink incorrect parameters"
I have issue which is similar to #356, but appear of different nature.

[code]

For now looks like I could workaround that with `<BlazorLinkOnBuild>false</BlazorLinkOnBuild>`, but issue appear more inside MSBuild setup for ILLink, then inside ILLink itself.

[2018-08-13 19:16] davidmi commented on #1012
@singlewind I was experiencing this same problem and your comment gave me the idea to look into the environment variables for the process using process explorer. Turns out LAUNCHER_ARGS and LAUNCHER_PATH must be set. There's a blog post covering this: https://blog.lextudio.com/how-visual-studio-launches-iis-express-to-debug-asp-net-core-apps-d7fd3677e3c3

[code]

This is a little out of date since

[2018-08-13 19:38] yadavvineet commented on #3424
@rafsanulhasan Thanks for your response.
My hosting server has 2.1.2 runtime installed. With current setup, when i try to deploy the application, it says Microsoft.Aspnetcore.app 2.1.1 is not found. They have the runtime and windows hosting package installed. Do they need to install any other package (like: ASP.NET Core Installer) as well on their server to run it.

Also, please correct if get it

[2018-08-13 20:01] knyzorg opened #3427 "Retrieving Route Data from Virtual Path in MVC Router"
I am working on an .NET Core MVC application which requires alternative controller/action names to be allowed. To accomplish this, I am using my own Router on a MapRoute:

[code]
My custom router observes the requested controller and action, and based on it places a new value into the RouteData in the request:

[code]
However, to determine the value of the requestedAction, I am basically taking th

[2018-08-13 20:02] pakrym opened #3814 "Add applicationHost.config reload tests"
In addition to web.config ones

[2018-08-13 22:51] GuerrillaCoder opened #3428 "Ubuntu 18.04 CreateDefaultBuilder() looks for appsettings.json in user directory instead of publish directory"
I has asp.net core web app that runs fine locally but when I deployed it to Ubuntu 18.04 as self contained it would not work as it wasn't reading the connection string.

After some investigation I discovered that if I moved `appsettings.json` to my user
 directory that is running the DLL file then it read the connection string.

This alteration in the default behaviour is confusing, is it intentio

[2018-08-13 23:08] rafsanulhasan commented on #3424
What VS version are you using? Mine is 15.7.6 (VS2017).
Besides check the project file
[code]

  <ItemGroup>
    <PackageReference Include="Autofac.Extensions.DependencyInjection" Version="4.2.2" />
    <PackageReference Include="Dapper" Version="1.50.4" />
    <PackageReference Include="FluentValidation.AspNetCore" Version="7.5.0" />
    <PackageReference Include="Microsoft.ApplicationInsights.As

[2018-08-14 01:10] SIkebe commented on #3428
@GuerrillaCoder Which directory `Directory.GetCurrentDirectory()` return?
If you want the app to load `appsettings.json` from the same directory as dll, how about this?
[code]

[2018-08-14 01:10] pikadun opened #3429 "How to deploy an unpublished dotnet-core project on iis like a dotnet project"
我可以直接在iis上部署一个未发布的.net web项目，只要将项目目录指向工程目录就可以了；
但是我用同样的方法无法正确部署.net core项目，当我访问某个URL时，会得到404的页面。
![image](https://user-images.githubusercontent.com/32519715/44066243-e4819484-9fa1-11e8-8e75-5dd56ec49cd2.png)
![image](https://user-images.githubusercontent.com/32519715/44066247-e8c8274c-9fa1-11e8-818f-2012dc0a8d1e.png)
![image](https://user-images.githubusercontent.com/32519715/44066252-ee705200-9fa

[2018-08-14 01:15] Tratcher commented on #3429
Unpublished applications are not supported in IIS unless you use Visual Studio to run it directly.
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/development-time-iis-support?view=aspnetcore-2.1

[2018-08-14 07:14] kexxxfeng commented on #2931
Proxy is very useful to bridge with a spa project which enabled SSR. I deployed spa and web containers  separately, the web accepted and handled the request which is for `/api*` and, proxied the request which is not for `/api*` to the spa container.

[2018-08-14 08:30] rafsanulhasan commented on #3424
maybe 2.1.2 indicated release version whereas 2.1.1 in the releasing assembly version. This question is trickier to answer and I'm afraid, I don't know much about this.

[2018-08-14 09:15] yadavvineet commented on #3424
actually i was thinking how it makes different if i use the old sdk or runtime vs new. Since the older sdk/packages are being referred only the improvements in the runtime will be applied (at runtime) but new things might be limited at dev time.

Thanks for you time and help @rafsanulhasan

[2018-08-14 09:27] GuerrillaCoder commented on #3428
`.SetBasePath(Directory.GetCurrentDirectory())` works and makes it load from same directory.  I should have been clearer in my post.

When using this:

[code]

On windows it looks in publish directory.  On Ubuntu 18.04 it looks in user directory which was confusing.  Are they meant to be different default behaviour?

[2018-08-14 10:01] #3424 closed

[2018-08-14 13:56] gautelo commented on #3385
@thiagolunardi I agree. This was suggested in issue [#775](https://github.com/aspnet/Configuration/pull/775). It was decided to implement this sort of thing through the BinderOptions instead as part of [#789](https://github.com/aspnet/Configuration/pull/789).

Personally I feel like implementing yet another way to serialize properties instead of using what's already there is a mistake. I would muc

[2018-08-14 15:03] neilmulhy commented on #3399
@ajcvickers thanks for trying to get this issue rolling. It is a publish issue.

I've continued trying to investigate this and found a couple of similar issues in earlier releases but would like to know what the official recommendation is for this issue I'm encountering in asp.net core 2.1.

Find section in following page: Publishing project with Entity Framework migration fails
[VS2017 known issu

[2018-08-14 15:13] neilmulhy commented on #3399
Another bit of information, running dotnet ef dbcontext list --json from the command line picks up the correct database contexts configured in both websites and I can process migrations (add-migation / update-database) locally which shows this to be a publish issue.

[2018-08-14 15:44] michaldudak opened #3430 "BrowserLink removes the If-Modified-Since request header"
Here's a weird one, it took me a while to get to the bottom of it:
It seems that when I have a UseBrowserLink middleware and start the project in Visual Studio with BrowserLink enabled, the `If-Modified-Since` header is removed from the request.

Here's a minimal repro:

[code]

The problematic request goes like this:
[code]

`Program.cs` is standard (based on a `dotnet new web` template. I'm usin

[2018-08-14 15:57] hishamco commented on #3426
@ckams can you provide a minimal repo to reproduce the issue

[2018-08-14 15:58] hishamco commented on #3422
@ckams can you provide a minimal repo to reproduce the issue

[2018-08-14 15:59] hishamco commented on #3402
I didn't understand the main issue that are you facing!! could you please clarify your issue

[2018-08-14 16:01] bricelam commented on #3399
@vijayrkn

[2018-08-14 16:18] Tratcher commented on #3430
That seems to be intentional:
https://github.com/aspnet/BrowserLink/blob/9bcd585848009088551999b35a807318c28cf7d0/src/Microsoft.VisualStudio.Web.BrowserLink/BrowserLinkMiddleWare.cs#L54

BrowserLink modifies responses inline so it needs to disable caching.

[2018-08-14 16:41] vijayrkn commented on #3399
@neilmulhy

Can you check your profilename.pubxml.user file (Under Properties\PublishProfiles) and see if there is an entry similar to this

[code]

If not, it means that EF migrations is not configured from the publish dialog. You can right click project -> Publish -> Click Configure.

![image](https://user-images.githubusercontent.com/3981619/44105316-2931fd2c-9fa6-11e8-8d70-bdf528110bc8.png)

I

[2018-08-14 17:02] neilmulhy commented on #3399
Hi @vijayrkn thanks for coming back to me.

Neither the XML you've described above (Under Properties\PublishProfiles) nor the last two options are available in my publish profile. Below is what I see when I create a new profile. Tbh, I don't recall seeing this option when I developed my first website using asp.net core 2.0? Also, The other strange thing is, that this option isn't available in my s

[2018-08-14 17:09] vijayrkn commented on #3399
Do you have a similar entry in the appsettings.json?

[code]

Also what do you get when you run `dotnet ef dbcontext list --json` from this project?

[2018-08-14 17:40] vijayrkn commented on #3399
I just tried adding the above 2 connection strings and the dialog seems to be handling it well.

![image](https://user-images.githubusercontent.com/3981619/44108104-3fa1b93c-9fae-11e8-9bf6-c7d2c624b399.png)

Is there any chance you can give us a sample project?

As a work-around,  you can manually add this to the pubxml or pubxml.user file and it would work

[code]

[2018-08-14 17:57] sebastienros commented on #3405
Nothing to take action on right now. Please reopen if you still thing there is an issue and can also provide some more information to analyze the issue, in the form of memory dumps and sample application. Our applications that we use to test memory consumption are similar to your description and don't show any problem.

[2018-08-14 17:57] #3405 closed

[2018-08-14 18:25] blowdart commented on #3421
@javiercn

[2018-08-14 18:28] vijayrkn commented on #3399
you can use Send Feedback -> Report a problem from VS and attach the sample project there.
Once it is done, please share a link and I will take a look.

![image](https://user-images.githubusercontent.com/3981619/44110594-fe240210-9fb4-11e8-81e7-64d31e610df6.png)

[2018-08-14 18:45] NTaylorMullen opened #14281 "Add HTML documents to TypeScript project system"
The JavaScript inside of .cshtml files should be part of the TypeScript project system. Today virtual HTML documents that contain JavaScript don't make their way into a known project.

This will rely on us working with the TypeScript team to ensure that we can add an API to monitor virtual documents as if they were part of a project.

[2018-08-14 19:13] javiercn commented on #3421
@rodrickmakore Can you try running  `dotnet dev-certs https --clean` and then running `dotnet dev-certs https --trust` and see if that solves your problem?

[2018-08-14 20:50] gordon-matt commented on #3253
@kichalla : I found some time and removed the database and all membership code for you. That was completely unnecessary IMHO, but since you were insistent, it is now done and as expected, same results still. I really hope this can be solved soon.

[2018-08-14 20:50] kant2002 opened #5576 "Notification about UI state change for long running tasks"
I play with simple NLP application inside browser.
 I want to add loading indicator. Right now I use following approach

[code]

Main trick is using `StateHasChanged`. My question is: Is this correct way to do that? How Blazor in general think such cases should be handled. I'm fine with calling `StateHasChanged()` but I prefer that it would be called automatically before `await`.

## Example 1
[co

[2018-08-14 22:48] chwarr opened #3431 "OptionsMonitorWrapper implementation backed by dictionary: interested in contribution?"
In https://github.com/aspnet/Home/issues/2391, it looks like it was decided that a wrapper implementation of `IOptionsMonitor` would be useful if it properly handled named options. I have an implementation of a map-based `OptionsMonitorWrapper<T>` that I could contribute. Would you be interested in this still?

* Handles named options via a map.
* Does not have support for triggering listeners reg

[2018-08-14 23:55] kichalla commented on #3253
@gordon-matt Thanks for the update. I am able to reproduce the issue i.e hitting `/admin/tenants` gives a 404 response. When I take a look at the log file, I see the following:

[code]

cc @pranavkm

[2018-08-15 00:07] kichalla commented on #3253
@gordon-matt You can fix your issue by having the following line in `MainApp.csproj` file:

` <CopyRefAssembliesToPublishDirectory>true</CopyRefAssembliesToPublishDirectory>`

Just FYI...you can read about  `Razor Class Library` and convert your `Framework.Web` project to that.

[2018-08-15 01:57] gordon-matt commented on #3253
@kichalla I appreciate your finally looking at this. Thank you. So why is it that referenced assemblies are copied to the publish directory in 2.0 but not in 2.1? Could someone explain the reasoning for changing this?

[2018-08-15 02:36] pranavkm commented on #3253
There's some documentation about it here: https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.1#runtime-compilation-of-razor-views. Part of the change in 2.1.0 was to enable build and publish time compilation of views by default. For most users, the experience using this is pretty transparent. Embedded views is one of the few cases that this doesn't really migrate very w

[2018-08-15 03:36] dougbu commented on #3221
@JunTaoLuo ping

[2018-08-15 04:29] gordon-matt commented on #3253
@pranavkm Thanks for the explanation and the documentation link. I will look into migrating to "Razor Class Libraries" in future. For now, setting `CopyRefAssembliesToPublishDirectory` to **true** seems to be working fine. Feel free to close this issue unless there's something you guys would like to add here first.

[2018-08-15 04:42] pranavkm commented on #3253
Thanks for your patience with this issue!

[2018-08-15 04:42] #3253 closed

[2018-08-15 04:56] JunTaoLuo commented on #3221
There seems to be multiple issues here so there's also no specific fix. However, we do have documentation at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/metapackage-app?view=aspnetcore-2.1 to explain how the metapackages should be used.

In general, we recommend not explicitly specifying the `Microsoft.NETCore.App` dependency in your project as that will be implicitly added by the do

[2018-08-15 05:11] singlewind commented on #1012
@davidmi Glad you figure out. The .NET core tooling now improves a lot. Since docker is getting popular. Why not forget IIS and windows? I quarantine a better performance if you use .NET Core + Alpine container.

[2018-08-15 05:23] davidfowl opened #5329 "Implement IConnectionLifetimeFeature"
This feature allows the application to forcefully abort the underlying transport without going through the pipe. It's implemented in Kestrel and should be implemented in the transport layer it should be implemented at the http.connections layer.

[2018-08-15 06:10] NTaylorMullen opened #14282 "Enable Omnisharp to invoke Razor language server for refactoring events"
Right now if a VSCode IDE edit is requested on one of our virtual documents the IDE fails to perform the edit. From some offline talks we can enable this functionality by creating a virtual file provider.

Here's an example: https://github.com/Microsoft/vscode-extension-samples/tree/master/fsprovider-sample

[2018-08-15 08:37] neilmulhy commented on #3399
Thanks @vijayrkn

I've managed to re-create the issue creating a new sample solution called WebPublishTest. I've uploaded it to a new problem I've raised called "Migrations are not being processed when publishing solution in VS2017".

It's currently under consideration. When I get a link through, I'll add it to this issue.

For info, when I try to publish with the sample solution, the end of the l

[2018-08-15 14:35] mgolois opened #3432 "httpCookies requireSSL in .net core mvc"
I just wanted to confirm regarding the following web config setting in .net framework 4.5 mvc:
`<httpCookies requireSSL="true" />`

so in .net core mvc, should it be this:
`services.ConfigureApplicationCookie(o => o.Cookie.SecurePolicy = Microsoft.AspNetCore.Http.CookieSecurePolicy.Always);`

[2018-08-15 15:17] pranavkm commented on #3397
Is this the version in the swagger.json?

[code]

[2018-08-15 15:50] Tratcher commented on #3432
ConfigureApplicationCookie only affects one of the authentication cookies, not every cookie. You need to use the CookiePolicy middleware to affect all cookies: https://github.com/aspnet/Security/blob/f084067d6a255fde3d12c07988157311ba52c51a/samples/CookiePolicySample/Startup.cs#L22-L32

[2018-08-15 16:27] SteveSandersonMS opened #5577 "Components should be based on usings not on @addTagHelper"
Some rough experience notes:

Component binding will be based on `using` and C# namespaces instead of directives:
- [x] Components can bind with the *short* name when in scope (C# name binding rules)
- [x] Components can bind with a fully-qualified name
- [ ] Components can bind with an alias (`using Foo = Bar`)
- [x] Binding considers `using` in the same document and imports
- [x] Binding conside

[2018-08-15 17:11] mgolois commented on #3432
Thank you, @Tratcher

[2018-08-15 17:11] #3432 closed

[2018-08-15 17:34] vijayrkn commented on #3399
@neilmulhy - Thank you for providing the repro project. The reason the db section and EF section is not showing up is because tooling works on the assumption that the appsettings.json is in the root of the project.  In the sample project, the file is in the config folder. If you move the config file to the root of the project and  update the Program.cs to reflect the updated location, then it work

[2018-08-15 18:08] mgolois opened #3433 "SecurityProtocol Restriction"
Currently migrating code from asp.net mvc 4 to asp.net mvc core, where is the best place to restrict Security Protocol?
Is it in Startup file in the Confgure method? or  in Program.cs in the Main() method()?
Or creating a middleware is recommended?

//example of code:
ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

[2018-08-15 18:16] rodrickmakore commented on #3421
@javiercn I am still getting an error.

![image](https://user-images.githubusercontent.com/2578638/44165081-0f931180-a0c8-11e8-817d-0d843ac6c34c.png)

[2018-08-15 18:33] zippy1981 opened #4906 "UrlResolutionTagHelper shoul have an asp-absolute-url attribute"
What I'd like to see is as follows.

If I have a tag in razor templates like `<img src="~/cats.png" asp-absolute-url="true">`, on a web app that IIS is serving from `http://whatever.domain/someroot` I would like the generated link to be `<img src="http://whatever.domain/someroot/cats.png" asp-absolute-url="true">` instead of `<img src="http://whatever.domain/someroot/cats.png" asp-absolute-url="tr

[2018-08-15 18:37] mgolois commented on #3433
Yes @Tratcher , I saw that documentation, thanks for confirming.
What if it is a hard requirement to support a specific version, I just wanted to know, where you will put the tls restriction? Thanks

[2018-08-15 20:53] neilmulhy commented on #3399
Thanks for highlighting that for me.

Before closing this off, the thing I don't understand is my other solution with one db context and appsettings also in the config folder (not root) processes the migrations without the Entity Framework Migrations section displaying in the publish profile.

Are you or any one on the dev team able to shed light on what @(EfMigrations) is in the build / publish p

[2018-08-15 20:57] vijayrkn commented on #3399
@neilmulhy - Can you look at the profilename.pubxml.user file? This should have that info. Once a project is configured to run migrations, it will continue to run it until it is disabled.

[2018-08-15 21:01] neilmulhy commented on #3399
That's the badger! Thanks @vijayrkn for your help getting my head around what's been going on here! This issue can be closed.

[2018-08-15 21:09] ransagy opened #5578 "SVG element attributes get mangled after build"
In one of my components, I have a simple inline SVG with a path in it:

[code]

Notice the casing on `viewBox` and `preserveAspectRatio`.
After building and running the page containing said component, The result looks like this:

[code]

The CSS on that element, if that matters:
[code]

The casing on the attributes got flattened to lower-case in the process. At least in Firefox 61 and Chrome 68, T

[2018-08-16 00:17] JoshClose opened #5233 "Sourcemaps not working"
I have no clue what is causing this. I don't even know where to start. I have updated my nuget and node packages to the lastest. That means I'm on webpack 4 too. The source file structure looks different. The files aren't showing the source either, just the compiled versions.

This is the unmodified site structure:

![image](https://user-images.githubusercontent.com/114971/44179757-685dac80-a0be-1

[2018-08-16 03:18] beefydog commented on #2738
250 million lines of code, half of which is still in use, now must be rewritten. VB.Net got killed due to the latest generation of programmers complete ignorance of the language itself (and all the idiots that kept comparing it to Visual Basic - Apples to Oranges) with absurdly false comparisons in performance and other vectors. RIP VB.Net and the millions of developers that will lose their jobs a

[2018-08-16 05:01] ryanbrandenburg opened #4907 "Test failure: CacheTagHelper_AllowsVaryingByUICulture and CacheTagHelper_VaryByCultureComposesWithOtherVaryByOptions"
This test [fails](http://aspnetci/viewLog.html?buildId=532556&buildTypeId=Releases_22xPublic_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @mkArtakMSFT

This issue was made automatically. If there is a problem contact rya

[2018-08-16 08:19] halkor commented on #3400
I'm getting the same error. In my case it seems to be a problem with the data protection keys. I see _a lot_ of these lines in the log, followed by a StackOverflowException.

[Trace] Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedDataProtector: Performing unprotect operation to key {ce776988-3741-4b5e-bb2a-150a7473f4ea} with purposes ('D:\home\site\wwwroot', 'Microsoft.AspNetCore.Au

[2018-08-16 11:29] drauch commented on #2129
If someone else runs into this problem...we ran into it after updating VS to 15.8.

Updating Microsoft.AspNetCore to >= 1.1.7 and Microsoft.AspNetCore.Mvc to >= 1.1.8 fixed the problem on our side.

[2018-08-16 11:56] Tratcher commented on #3400
@halkor did the StackOverflowException give you a stack trace?

[2018-08-16 12:07] halkor commented on #3400
@Tratcher No, there was no stack trace.
I'm now suspecting that the StackOverflowException actually happens elsewhere and that the DataProtector has nothing to do with it. I have done some changes to the code and our web site has been running fine since then. I will monitor it closely the next couple of days.

[2018-08-16 13:00] MarkStega opened #5579 "Add an InputRadio component"
I have the the following in my cshtml
[code]
with corresponding properties `northwestVacation` and `sinaiVacation` in my code. During a debug session I see the `get` called numerous times for each but even with a `true` value the corresponding radio button is not in the selected state. And, as I select either button I never see the `set` called on either property.

[2018-08-16 13:52] mikhailkilyakov opened #3434 "ASP.NET Core 2.1: Scoped services behaviour seems not per web request"
### ASP.NET Core 2.1: Scoped services behaviour seems not per web request
When using ASP.NET Core 2.1 with Kestrel, services registered with `Scoped` lifetime (e.g. `services.AddScoped<SomeService>();`) aren't "per web request" (as said in Docs).

### Functional impact
This behaviour results to strange things: result of executed action returns before services disposed. Also it impacts next request

[2018-08-16 15:01] fschmied commented on #3132
@pranavkm Can you confirm this is definitely fixed in 2.1.400? I'm seeing it with .NET Core SDK 2.1.400 (installed with VS 15.8). Repro solution at https://files.fm/u/xuc446ug

[2018-08-16 15:50] EltonInAtlanta opened #3435 "services.AddMvc (Core 1.1) throwing exception after VS 15.8.0 update"
I have a project that is dotnet core 1.1 (and needs to stay there for the time being).  In my startup code I have the following:
[code]
After updating Visual Studio to 15.8.0, this code throws the following exception:

[code]
With stacktrace:
[code]
I've simplified this to simply:
`services.AddMvc();`
and get the same error.

Source control indicates nothing in the startup file or package/referenc

[2018-08-16 16:59] HaoK commented on #3385
Options and Configuration are decoupled, we can certainly consider revisiting and unifying the binder with whatever we end up for Options Validation as the binder primarily exists to bind config to options.

[2018-08-16 17:01] HaoK commented on #3385
It likely would end up similar to how options validation works, it would be a sugar method that generated the appropriate underlying binderoptions, as opposed to a replacement for the binder options.

[2018-08-16 17:15] pranavkm commented on #3435
cc @dsplaisted

Seems like a dup of https://github.com/aspnet/Home/issues/3132, although that issue should have been fixed with the 2.1.400 SDK. Could you

a) Run `dotnet --info` from the command line and paste the contents
b) Build the app and paste the contents of `bin\Debug\net461\${YourAppName}.deps.json`  (a [gist](https://gist.github.com) works great for this)

In the meanwhile, https://gith

[2018-08-16 18:06] EltonInAtlanta commented on #3435
I've attached the requested information.  I'm attempting to absorb the workarounds.  Thank you so much for responding.

[dotnet.info.txt](https://github.com/aspnet/Home/files/2294728/dotnet.info.txt)

[Sale.deps.json.txt](https://github.com/aspnet/Home/files/2294732/Sale.deps.json.txt)

[2018-08-16 18:44] pranavkm commented on #3435
@EltonInAtlanta I've reopened - https://github.com/aspnet/Mvc/issues/7983 - to see if we could get this patched. You could also consider short-circuiting MVC's application part discovery code that produces this error. Here's the code you would have to add to your Startup:

[code]

This should avoid being pinned to an earlier version of the SDK.

[2018-08-16 19:02] EltonInAtlanta commented on #3435
@pranavkm I changed the file name on my global.json and dropped this code in to my startup.cs.  It works great.

[2018-08-17 02:02] ryanbrandenburg commented on #2471
AutobahnTestSuite [failed with about the same error](http://aspnetci/viewLog.html?buildId=533540&buildTypeId=Releases_21Public_UbuntuUniverse) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-17 04:38] danroth27 opened #5330 "Add support to SignalR for Session"

[2018-08-17 12:29] JonasSamuelsson commented on #2958
I think this can be done by registering your own implementation of `IResponseCachingPolicyProvider` in the service provider.
Inherit from `ResponseCachingPolicyProvider` and override `AttemptResponseCaching(ResponseCachingContext)`.

This does feel a bit dirty though as both `IResponseCachingPolicyProvider`, `ResponseCachingPolicyProvider` and `ResponseCachingContext` all live in the `Microsoft.As

[2018-08-17 12:58] JonasSamuelsson opened #3436 "Per response cache duration"
I'm using response caching and need to set the cache duration based on the content of the response.
It would be nice if the caching middleware didn't overwrite the cache control header if it exists, I could then do something like thing

[code]

[2018-08-17 14:36] bgribaudo commented on #3289
Any chance that support could be added for refreshing cached localizers so that localization strings can be updated live?

Currently, after a cshtml file is modified, the changes made are displayed the next time the relevant page is refreshed. However, due to the way localizer caching works, data annotation translations are cached when they are first loaded. _Restarting the site_ is required to re

[2018-08-17 15:29] Tratcher commented on #3436
This issue was moved to aspnet/Mvc#8285

[2018-08-17 15:29] #3436 closed

[2018-08-17 16:25] pranavkm commented on #3435
Using https://github.com/aspnet/Mvc/issues/7983 to track further work.

[2018-08-17 16:25] #3435 closed

[2018-08-17 16:47] SteveSandersonMS opened #5580 "Make server-rendering WebSocket traffic more compact"
This follows on from #1321. After consultation with security specialists, we've decided not to rely on gzip by default. Instead we intend to shrink the traffic by using more compact but fixed representations so as to avoid any potential issues.

Strategies:

1. Represent numbers as LEB128 instead of 4-byte ints. Also remove padding from edit frames and render tree frames.
    * This reduces the 50

[2018-08-17 17:04] shirhatti opened #3819 "Expose ITlsHandshakeFeature for in-proc"
https://github.com/aspnet/HttpAbstractions/pull/1019

[2018-08-17 17:06] anurse commented on #2471
I'm going to close this as the previous issues were caused by agents build rebuild. If the issue reoccurs, RaaS can open a new issue.

[2018-08-17 17:06] #2471 closed

[2018-08-17 18:08] pranavkm opened #4908 "Consider adding a feature to link generation to add metadata that indicates that the link is broken"
Related to https://github.com/aspnet/Routing/issues/728

With 2.1 routing, link generation has two modes of behavior when a route cannot be resolved:

* Conventional routes will produce a url (which will 404) e.g. `<a asp-controller="DoesNotExist" asp-action="Index">` -> `<a href="DoesNotExist/Index">`
* Attribute routes will produce empty urls e.g. `<a asp-controller="DoesNotExist" asp-action="In

[2018-08-17 18:39] pakrym opened #3795 "Out of process handler should be able to unload after last application is stopped"
Currently, it runs code after `IAPPLICATION.Stop` causing DLL unload to AV.

[2018-08-17 20:46] natemcmaster opened #3437 "Web.config generation in broken after updating to 2.1.400 SDK"
_This issue was moved here from https://github.com/dotnet/core/issues/1861_

__From @glad: https://github.com/dotnet/core/issues/1861#issuecomment-413487044__

I've an issue about transformation of web.config.

Trasformation of:

processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt"

occurs by adding a new row in another <location> zone. See attached files
[

[2018-08-17 21:25] vijayrkn commented on #3437
Looks like an issue here - https://github.com/aspnet/websdk/blob/master/src/Publish/Microsoft.NET.Sdk.Publish.Tasks/WebConfigTransform.cs#L26

[2018-08-17 23:21] pranavkm opened #4276 "WIP - Activities and distributed tracing"
Figure out how to log deep links to diagnostics providers by default. cc @mkArtakMSFT \ @glennc \ @shirhatti

[2018-08-18 04:29] sonicmouse commented on #2711
So is this fixed in 2.1? We are trying to upload a file that's ~3GB and it it stops as soon as the upload byte count exceeds 2,147,483,647. I am currently using ASP.NET Core 2.0. To move to 2.1 will be some work, so I'd like to make sure the work would be worth it. If not, i'll just wait until this is fixed.

thanks

[2018-08-18 06:45] glat commented on #3437
I think so. Anyway I do not understand why to modify the content of a <location> tag.

[2018-08-18 13:09] mevdschee commented on #2738
Like @DamianEdwards, I ported the example ASP.Net Core app from C# to VB. I have ensured it is compatible with ASP.Net Core 2.1. You can find it here:

https://github.com/mevdschee/aspnetcorevb

[2018-08-18 13:44] hishamco commented on #2738
@marcusoftnet Damian example is cool to use `.cshtml` for views and the rest of the app in `VB.NET`, but it will very cool to use the `.vbhtml` for the views 😃

[2018-08-18 16:50] natemcmaster commented on #2509
Done. See also https://github.com/aspnet/Home/issues/3379

[2018-08-18 16:50] #2509 closed

[2018-08-18 16:52] natemcmaster commented on #2528
Closing as a duplicate of https://github.com/aspnet/Home/issues/2505. We have a PR in the works to add this. See https://github.com/aspnet/DataProtection/pull/303

[2018-08-18 16:52] #2528 closed

[2018-08-18 16:55] #3272 closed

[2018-08-18 17:01] natemcmaster commented on #3419
This is a very low priority for our team so we're not likely to spend time on this, but if you want to send a PR, the code for the logging messages is here https://github.com/aspnet/CORS/blob/8e4d3aacb3153f2a1338e228f0ea096e242d746a/src/Microsoft.AspNetCore.Cors/Internal/CORSLoggerExtensions.cs#L38-L41. Feel free to tag me and I can help get it merged.

[2018-08-18 19:06] alca259 opened #3438 "Net Core SDK 2.1.400 ignore _ViewStart on Areas views on publish"
After upgrade to VS 15.8.1 and Net Core SDK 2.1.400, the _ViewStart on Areas views are ignored, only then publish to folder.

Steps:
- Create a project with one Area
- Setup a dummy controller with a file _ViewStart.cshtml in the root of Views folder
- Load a layout or write something in the log
- Publish to local folder
- Copy to a IIS Site with native code and the same SDK installed.
- Access to

[2018-08-18 19:33] cmeeren commented on #3419
Great, which branch would you like a PR against?

[2018-08-18 21:11] natemcmaster commented on #3419
release/2.2. Thanks in advance!

[2018-08-19 04:14] davidfowl opened #4732 "Add IIPEndPointConnectionFeature"
Right now the only way to get IP information is to go through the IHttpConnectionFeature which is a bit unfortunate:

[code]

[2018-08-19 21:18] andradf opened #5235 "Improve interaction with DotNet.Watcher.Tools"
I'm not sure it is possible to improve it, but the experience while using angular SpaServices while also using DotNet.Watcher.Tools is pretty bad when making changes to the server. Any time a change is made a new background 'npm start' is run. For large projects webpack is notoriously slow during the first build. It would be amazing if SpaServices could maintain the instance of 'npm start' across

[2018-08-20 05:50] pspkshah commented on #3132
Hey Hey, I got the solution for the same issue, if any of your application targeting to .net Framework 4.6.1 and you wants to install, .net Core SDK (in my case I installed dotnet-sdk-2.1.302-win-x64.exe ).

Solution: just change your .net Framework to 4.7.1, and everything will work fine, without changing any of the code.

Cause: What I understood about the issue is, there is problem with .net Fr

[2018-08-20 07:26] glat commented on #3437
Resolved moving the handler into first location tag:

`  <location path=".">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" forwardWindowsAuthToken="false" stdoutLogEnable

[2018-08-20 13:41] ckams commented on #3402
@hishamco
Using Localization, how to translate properties that are decorated with `ModelMetadataTypeAttribute`?

[2018-08-20 13:44] ckams commented on #3422
@hishamco
Not enough time, but you can easily try with MS samples on github.

[2018-08-20 13:44] ckams commented on #3426
@hishamco
Not enough time, but you can easily try with MS samples on github.

[2018-08-20 14:35] msgallagher commented on #3132
I am still getting exception with SDK 2.1.400 - had to use global.json in root directory to work-around this issue.

[2018-08-20 14:40] pspkshah commented on #3132
@msgallagher I will check your Repro solution, and confirm on the same shortly.

[2018-08-20 15:40] #3419 closed

[2018-08-20 15:59] vijayrkn commented on #3437
yes, this is a change in the latest sdk. We will fix this issue in an upcoming update. WebSdk needs to handle scenarios where the first location tag might not have the aspNetCore element.

[2018-08-20 16:31] amh1979 commented on #1528
@ststeiger @all
[AspNetCore.ReportViewer](https://www.nuget.org/packages/AspNetCore.ReportViewer/)
has been insteaded of [AspNetCore.Reporting](https://www.nuget.org/packages/AspNetCore.Reporting/)
that's includes `LocalReport` and `ServerReport`

[2018-08-20 16:36] mkArtakMSFT opened #5430 "Add a CSS Grid Layout template for new projects"
_From @josejmoran on August 17, 2018 11:40_

It will be great to have a template for creating new projects where the Razor pages make use of CSS Grid Layout and CSS only without the use of javascript libraries: No bootstrap, No jquery, just core technologies.

_Copied from original issue: aspnet/Razor#2543_

[2018-08-20 17:11] pranavkm commented on #3438
This issue was moved to aspnet/Mvc#8293

[2018-08-20 17:11] #3438 closed

[2018-08-20 17:46] #3399 closed

[2018-08-20 19:19] NTaylorMullen opened #14285 "Make Razor C# contextually live in a different assembly."
Today if you do Razor completion in a C# file it treats the C# as if it's any other type of C# in the project. For Razor files, internals should not be accessible because at runtime it would explode.

This is super low on priority but figured i'd file an issue.

[2018-08-20 19:44] dougbu opened #5931 "Implement IServerAddressesFeature for TestServer"
Using a fairly-generic 2.1 web site with `app.UseHttpsRedirection();` in its `Startup.Configure(...)` method, the following code (after discovering the site's `CreateWebHostBuilder` method) does _not_ prevent the `Failed to determine the https port for redirect.` warning from the middleware:
[code]

Oddly, the warning goes away and redirection occurs if I remove the `builder.PreferHostingUrls(pref

[2018-08-20 20:23] vijayrkn commented on #3437
This https://github.com/aspnet/websdk/pull/395 should fix the issue.

[2018-08-20 21:54] hishamco commented on #3402
@ryanbrandenburg do you have answer for this? coz I didn't tried localization with the `ModelMetadataTypeAttribute`

But seems it should work as expected

[2018-08-20 22:06] caioliberali opened #4909 "Route Localizer ( Area, Controller and Action Names )"
#### Is this a Bug or Feature request?:

Feature request

#### Description of the problem:

As ASP Net Core already implements StringLocalizer and ViewLocalizer, it would be great if it implemented "RouteLocalizer" so that an application could be fully localizable.
Example:

**[ControllerNameLocalizer(**"Resource.Key"**)]**
**[ActionNameLocalizer(**"Resource.Key"**)]**

[code]

localhost:5000/Home

[2018-08-20 22:18] JeanCollas opened #5082 "Datatemplating"
In XAML it is quite easy to use datatemplate on items.
In Razor, it does not seem possible to do it without including an external view/component.

It is quite often that I get several `foreach` on a page, with the same kind of items, and using razor, I have to repeat the same template several times, it is not very handy.

I would see something similar to functions:

[code]

It would highly simplif

[2018-08-21 06:05] danroth27 opened #5431 "Update to Angular 8"
It looks like Angular 7 is scheduled to be released in Sept/Oct of this year: https://angular.io/guide/releases#release-schedule

[2018-08-21 06:41] danroth27 opened #5432 "Update to React 17"
Unknown release date: https://github.com/facebook/react/milestone/40

[2018-08-21 07:36] ststeiger commented on #1528
@amh1979: Nice work - I'll take a look at it.
I take it from it's dependency AspNetCore.ReportingServices.dll needing WindowsBase and pinvoke advapi32.dll/kernel32.dll/ReportingServicesService.exe that this only works on Windows with .NET with Framwork 4 installed ?

PS: correct english is "AspNetCore.ReportViewer has been >replaced with< AspNetCore.Reporting", not "insteaded", but I get what you

[2018-08-21 08:50] adkroxx opened #5331 "Feature Request - Python client for aspnet core SignalR."

[2018-08-21 10:10] ststeiger commented on #1528
@amh1979: Nicely done, had to do some work because I don't have framwork 4.7.1 installed.
I get it, MainStream is result/html and SecondaryStream is CSS.
But got it up and running.
That the HTML is pages is nice too.
Do you know: Is there any way to loop though all results or get one huge HTML file without calling the render function for every page  ?

[2018-08-21 11:08] sukhbirsaini opened #5332 "Check if connection state for a particular hub."
I have a situation where I have to keep a dictionary of connections which are connected via web socket.
how can we get a list of connects which are started?

[2018-08-21 12:01] aspnet-hello commented on #3212
CloseFromCloseReceived_Success [failed with about the same error](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) on 2.1.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-21 13:07] acornies commented on #3411
Unfortunately, I've moved companies since posting this and can't comment on this particular application in it's current state.
However, I did try to use object pooling, as well as converting to steams to no avail (at the time). Is it normal to have to do "special handling" for large arrays/objects?

[2018-08-21 13:12] acornies commented on #3411
@Izraphil Is this still an issue for this application?

[2018-08-21 14:47] Izraphil commented on #3411
It's working a lot better now:
![image](https://user-images.githubusercontent.com/17456505/44408994-82b8df80-a52f-11e8-896c-79a116d9cda3.png)

[2018-08-21 16:15] acornies commented on #3411
@Izraphil can you elaborate? Was ASP.NET Core upgraded at all? Looks like it's still OOMing which is not what you want.

[2018-08-21 16:32] ryanbrandenburg opened #5433 "Assert that links work in Functional tests"
To avoid issues like [this](https://github.com/aspnet/Templating/issues/692) we should Assert that our links are correct (or at least valid) in our functional tests.

[2018-08-21 17:22] aspnet-hello opened #3439 "Test failure: ReceiveShortData_Success"
This test [fails](http://aspnetci/viewLog.html?buildId=536461&buildTypeId=Releases_21Public_OsxUniverse) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.1.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automat

[2018-08-21 20:31] Eilon commented on #3439
@muratg - please assign ASAP.

[2018-08-21 20:39] sebastienros commented on #3411
What is the 100% representing on these graphs?

As for an old question you asked, the LOH gets cleaned completely on my tests.

@Izraphil what are the changes between the two snapshots?

[2018-08-21 21:27] Eilon commented on #3426
@ckams can you provide more info on what you mean? Even a small code sample that shows what you're trying to do.

[2018-08-21 21:28] Eilon commented on #3422
Hi. We're closing this issue because we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-08-21 21:30] Eilon commented on #3433
@Tratcher / @blowdart - do we have any further guidance on this?

[2018-08-21 21:31] Eilon commented on #3431
Tagging @HaoK @ajcvickers

[2018-08-21 21:32] #3429 closed

[2018-08-21 21:32] Eilon commented on #3428
@JunTaoLuo / @muratg - who is the expert on the default builder stuff?

[2018-08-21 21:43] fishingry opened #5816 "The total size of an index or primary key cannot exceed 900 bytes."
The default length of `UserId` and `RoleId` should not be 450, it's a `Guid` by default, so the size should match the default value as well.

Once if I need UserId as a foreign key and if it's part of multiple primary keys, MS SQL throws this error:

For example, table Customer, 2 primary keys:

1.     UserId(nvarchar(450)),   --PK, FK. it does not work even if changing length to 100!
2.     Custo

[2018-08-21 23:01] aspnet-hello opened #3440 "Test failure: EnableCoreHostTraceLogging_PipeCaptureNativeLogs"
This test [fails](http://aspnetci/viewLog.html?buildId=536571&buildTypeId=Lite_IISIntegration) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automatically.

[2018-08-21 23:01] aspnet-hello commented on #3440
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 23:01] aspnet-hello commented on #3440
EnableCoreHostTraceLogging_PipeCaptureNativeLogs [failed with about the same error](http://aspnetci/viewLog.html?buildId=536571&buildTypeId=Lite_IISIntegration) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-21 23:01] aspnet-hello opened #3441 "Test failure: EnableCoreHostTraceLogging_FileCaptureNativeLogs"
This test [fails](http://aspnetci/viewLog.html?buildId=536571&buildTypeId=Lite_IISIntegration) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automatically.

[2018-08-21 23:01] aspnet-hello commented on #3441
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 23:02] aspnet-hello commented on #3441
EnableCoreHostTraceLogging_FileCaptureNativeLogs [failed with about the same error](http://aspnetci/viewLog.html?buildId=536571&buildTypeId=Lite_IISIntegration) on master.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-21 23:06] aspnet-hello opened #3442 "Test failure: EnableCoreHostTraceLogging_TwoLogFilesCreated"
This test [fails](http://aspnetci/viewLog.html?buildId=536571&buildTypeId=Lite_IISIntegration) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automatically.

[2018-08-21 23:06] aspnet-hello commented on #3442
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-21 23:19] livarcocc opened #3443 "dotnet test keeps hanging"
_From @dustinmoris on August 21, 2018 20:20_

## Steps to reproduce

1. Go to https://github.com/giraffe-fsharp/Giraffe
2. Clone the repo and switch to the develop branch
3. Run `.\build.ps1` (or just run `dotnet test ./tests/Giraffe.Tests/Giraffe.Tests.fsproj -f netcoreapp2.1`)

The build will succeed.

If you go to the `Giraffe.Tests.fsproj` file and change

[code]

to

[code]

and re-run the te

[2018-08-21 23:59] JunTaoLuo commented on #3428
I believe this is working as expected and the discrepancy is due to configuration differences between local dev environment and deployment. See related issue: https://github.com/dotnet/cli/issues/3342.

The piece of code that actually sets the location where config is loaded is in Hosting: https://github.com/aspnet/Hosting/blob/f9d145887773e0c650e66165e0c61886153bcc0b/src/Microsoft.AspNetCore.Host

[2018-08-22 00:35] pauloevpr opened #3444 "X509SecurityKey validation failed. The associated certificate is not yet valid."
I have had an issue with X509 certificate validations. Whenever a new certificate is issue, Authentication middleware fails to valid the certificate reporting that the certificate is not yet valid.

Here is how I am setting up authentication:

[code]
This is the exception I find when using a recently issued certificate:

`Microsoft.IdentityModel.Tokens.SecurityTokenInvalidSigningKeyException: IDX1

[2018-08-22 03:34] beefsteak opened #5236 "Why not publish the nuget for 2.1.1 or more"
https://www.nuget.org/packages/Microsoft.AspNetCore.SpaTemplates/
Version | Downloads | Last updated
-- | -- | --
  | 2.1.0-preview1-final | 824 | 6 months ago
  | 2.0.7 | 12,383 | 4 months ago
  | 2.0.6 | 4,180 | 5 months ago
  | 2.0.5 | 9,034 | 7 months ago
  | 2.0.3 | 8,529 | 9 months ago

[2018-08-22 12:02] HassanHashemi opened #4731 "Kestrel dies because of Out of Memory exception"
One of our MVC projects keeps growing memory, and it seems that Garbage collector dose not do anything with it.

The process keeps growing until it is killed by the OS.

`dmesg` outputs this log:

[code]

**What makes me think that it is related to, GC not working as expected is that, i have periodically called `GC.Collect() ` and memory immediately drops down significantly but still keeps growing

[2018-08-22 13:27] blowdart commented on #3444
This issue was moved to aspnet/Security#1843

[2018-08-22 13:27] #3444 closed

[2018-08-22 14:53] ckams commented on #3422
Here a repo:

- https://github.com/ckams/Buggy_GENERIC_Localization

This file is not translated:
- https://github.com/ckams/Buggy_GENERIC_Localization/blob/master/Buggy_GENERIC_Localization/ViewModels/Account/RegisterViewModel.cs

[2018-08-22 15:09] blubbll opened #3445 "Website issues (//asp.net)"
Reporting bug link broken:
1st
@https://www.asp.net/contact-us ("Report a Bug")
leads to
https://github.com/aspnet/Home/blob/dev/CONTRIBUTING.md#bugs-and-feature-requests

2nd:
@https://www.asp.net/mvc
pluralsight link broken
(http://pluralsight.com/microsoft/?utm_source=microsoft&utm_medium=sponsored-page&utm_content=aspdotnet-mvc5-fundamentals&utm_campaign=microsoft-sponsored-course)

[2018-08-22 17:10] ckams commented on #3402
@hishamco
Here the repo:
- https://github.com/ckams/Buggy_ModelMetadataTypeAttribute_Localization/tree/master/Buggy_ModelMetadataTypeAttribute_Localization

and the file that is not translated:
- https://github.com/ckams/Buggy_ModelMetadataTypeAttribute_Localization/blob/master/Buggy_ModelMetadataTypeAttribute_Localization/ViewModels/Account/ViewModelMetaData.cs

the related resx file:
- https://g

[2018-08-22 17:43] hishamco commented on #3422
Downloading & checking your sample ...

[2018-08-22 18:04] hishamco commented on #3422
At the first glance I didn't find a localize `RegisterViewModel.resx` in `Resources\ViewModel\Account` folder, seems that causes the issue .. I will try to add it and check your sample

[2018-08-22 18:53] NTaylorMullen opened #14286 "Only have valid Html content in Virtual Html document"
Right now if you have the following in your Razor file:

[code]

And you try invoking completion on the `<str` you get no completion. This is something that could definitely be fixed on the Html language service side but should also be addressed by us. This is the first issue I noticed by duplicating the Razor content in the Html buffer but it'd be wise of us to replace all C# content in the HTML

[2018-08-22 18:54] ckams commented on #3422
I do not think so. The location is related to the namespace.

[2018-08-22 18:56] NTaylorMullen opened #14287 "Update TextMate grammar to properly represent Razor content."
Right now we're re-using the built-in Razor TextMate grammar but it has its own flaws. One of which is the following end `</p>` tag is not colored correctly: `<p>@DateTime.Now</p>`

----------------------

# Updates after initial release
Have done a lot of work to get the Razor grammar into a usable state for most scenarios. That being said there are several known things I still haven't done:

- [

[2018-08-22 18:57] ckams commented on #3426
I will try to provide more info as soon as I can, but for now I am too busy.

Moreover, seems that for this problem, it will be hard to me to understand what happens, therefore, to provide more informations easily…

After the last update on the Debian host,(packages `(dotnet-sdk-2.1:amd64 (2.1.400-1, 2.1.401-1), dotnet-host:amd64 (2.1.2-1, 2.1.3-1), dotnet-hostfxr-2.1:amd64 (2.1.2-1, 2.1.3-1), dot

[2018-08-22 18:57] #3426 closed

[2018-08-22 19:06] hishamco commented on #3422
Yep, but there's no resource file related to the class, but seems the issue more than that I think I will start debugging the localization source ..

[2018-08-22 19:30] tillig commented on #2326
I just ran into this in trying to get Stackdriver to process log messages into statistics for Kubernetes hosted containers. There's no single log message that includes the request information _and_ the response, and as noted in the issue, the existing diagnostics don't provide it.

I noticed there's [an `Activity` with start/stop](https://github.com/aspnet/Hosting/blob/f9d145887773e0c650e66165e0c6

[2018-08-22 19:32] tillig commented on #2326
It also may be worth noting that the start/stop events don't contain the unhandled exception, if any, so you'd still have to handle the unhandled exception event instead of having a single handler for any sort of completed request.

[2018-08-22 19:35] neyromant opened #3446 "The asp.net core application loads the CPU even after a user requests are terminated."
Hi,
My asp.net core application is builded on .net core 2.1 and launched under CentOS 7.4 (Outside the Docker container).
During the working day, this application has a high load. At night, when requests from clients stop, the application continues to use a lot of CPU. This stops only if I restart the application.

I searched for the blocking code manually and using [Ben.BlockingDetector](https://

[2018-08-22 19:50] strangesquark opened #5581 "Adding / Removing element via cshtml prevents click event from firing"
If you have an if statement that updates a variable that is used to determine if an element should be rendered or not, and you update this variable in an onblur handler then the onclick handler of a button will not fire if the focus is on the element that has the onblur handler when you click the button.

For example, if you create a new Blazor project and put the code in the attached file in the

[2018-08-22 20:09] damienbod opened #3447 "Add/New Scaffolded Item... missing from 2.2 projects Preview"
When I create a new 2.2 ASP.NET Core MVC project with Identity, I cannot scaffold in the Identity Pages because the menu is missing in Visual Studio

ASP.NET Core Preview 2.2:
 - MVC and Razor Pages: https://github.com/aspnet/Mvc

[2018-08-22 20:39] regis-ranniere commented on #2633
Yes I'm with the same problem using IStringLocalizer.
I created my implementation but to use this I needed create a custom IStringLocalizerFactory and all my others Resources stopped work

[2018-08-22 21:06] Eilon commented on #3403
This issue was moved to aspnet/Mvc#8311

[2018-08-22 21:06] #3403 closed

[2018-08-22 21:29] mkArtakMSFT opened #5434 "Remove SPA templates from the SDK and ship as NuGet packages only"
We want to be able to update the SPA templates as fast as the client libraries update.

[2018-08-22 21:30] hishamco commented on #2633
@regis-ranniere could you please provide a minimal repo so we can reproduce the issue

[2018-08-22 21:38] hishamco commented on #3422
@Eilon I can confirm there's a bug, unless there's a special convention for naming resources for generic classes

But this is a first time I see someone trying to localize a generic class, nothing but still i'm not sure if we really need to localize such classes because `T` is a generic type

A workaround for this is creating a `RegisterViewModel` that inherits from `RegisterViewModel<T>` as the f

[2018-08-22 22:08] regis-ranniere commented on #2633
Of course, @hishamco .
Let's Go.

This is my implementation of `IStringLocalizer`

[code]
I know my problem is in Factory... Because I'm create a new CustomStringLocalizer.
Because I'm creating a new StringLocalizer for every factory call.
And when I try use factory for my resources not work.

[code]
I don't know how to make my factory response for my resources and my custom localizer.

[2018-08-22 22:10] pranavkm opened #4910 "[Discussion]: 3.0: Deprecating MvcPrecompilation tool"
In ASP.NET Core 1.1, we introduced the `Microsoft.AspNetCore.Mvc.Razor.ViewCompilation` (MVC precompilation tool) package that added support for publish time compilation of Razor files (.cshtml files). Starting in ASP.NET Core 2.1, we introduced the [Razor SDK](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/sdk?view=aspnetcore-2.1) that expanded on the features of the precompilation tool

[2018-08-22 22:34] hishamco commented on #2633
I though you will share a minimal repo to reproduce the issue rather than code 😄, I will try to look into it after I finish another localization issue that I'm working on ..

[2018-08-22 22:52] hishamco commented on #2633
@regis-ranniere did you looked to [EFLocalizer](https://github.com/aspnet/Entropy/tree/master/samples/Localization.EntityFramework) sample? before I dig into your code

[2018-08-22 23:08] regis-ranniere commented on #2633
Oh I’m sorry... @hishamco
My project is not a public project.

I will create a demo for my problem and I put link here to you...

[2018-08-22 23:12] regis-ranniere commented on #2633
Yes my approach is something like EFLocalizer.
My problem is can't have resources files and custom IStringLocalizer working together...

[2018-08-23 06:36] ckams commented on #3422
@hishamco Are you sure? [What that file](https://github.com/ckams/Buggy_GENERIC_Localization/blob/master/Buggy_GENERIC_Localization/Resources/StarterWeb/ViewModels/Account/RegisterViewModel.fr.resx)?

Well, [if you want to localize Identity classes](https://github.com/aspnet/Identity), you will soon see that we really need to localize such classes…

And, I do not want to use empty class as wrapper

[2018-08-23 08:27] hishamco commented on #3422
Strange!! seems I didn't notice that or got confused with your another project

Yep!!

@ckams ASP.NET team are working hard to release 2.2, if there's no reply that doesn't mean that you're ignored, believe it or not I filed some suggestions before year or so without reply but they keep there eyes

Anyhow, I will try to look into your repo again & come back to you ..

[2018-08-23 09:33] hishamco commented on #3422
@ckams are you sure the data annotations localization works in your repo?!! It didn't work on my end at all, even in `en-US` culture

[2018-08-23 11:55] Danielku15 commented on #3022
@davidfowl I am developing an `IServer` implementation which I can use together with ASP.net core (aspnet/mvc) via `UseServer<>`. I adapted now the FeatureContext class of the HttpSys implementation for my purpose and it is working fine for me. I ended up with a mix of the `OwinFeatureCollection` and the `FeatureContext` source.

**On topic:**

The HttpSys implemementation exposes some methods to

[2018-08-23 12:03] hishamco commented on #3422
Finally after debugging the localization source code, and while you are using `RegisterViewModel<String>` the generated class will have a fully qualified name for `String`, so the resource file should be named to **RegisterViewModel\`1[[System.String, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]].fr.resx** I knew the name is weird but this how the gene

[2018-08-23 12:28] hishamco commented on #3402
@ckams this worked to in `Localization.StarterWeb` this confirm that there's an issue in data annotations in your project

[2018-08-23 12:41] ebfortin opened #5582 "Framework location path should be configurable"
I am experimenting with different hosting scenarios for a Blzaor App and thought about packaging it into a Chrome Extension / App. however, Chrome Extension do not support _ at the begining of a path because it is reserved for system use.  Blazor make extensive use of _ in the path, at least for _framework and _bin. These paths should be configurable so that scenarios like Chrome Extension can be

[2018-08-23 14:12] NtFreX opened #3449 "using ProtectKeysWithDpapiNG with certificate fails after creating new key storage"
When I configure data protection with `ProtectKeysWithDpapiNG` and use an certificate I get an exception.

    System.Security.Cryptography.CryptographicException: Encryption failed.
       at Microsoft.AspNetCore.Cryptography.UnsafeNativeMethods.ThrowExceptionForNCryptStatusImpl(Int32 ntstatus)
       at Microsoft.AspNetCore.DataProtection.Cng.DpapiSecretSerializerHelper.ProtectWithDpapiNGCore(NC

[2018-08-23 15:35] rpokrovskij commented on #3270
I'm shocked. Why you can't leave old MVC Controllers based Scaffolding?  What is so good in new Scaffolding method?

Why you can't inform developers that Scaffolding will be changed ? All Internet full of articles about AccountController and ManageControllers and now ... all documentation (not large) is gone at one moment.

[2018-08-23 15:44] thefringeninja opened #3450 "QueryCollection Is Not Case Sensitive"
According to [RFC3986](https://tools.ietf.org/html/rfc3986#section-6.2.2.1), everything in a URI except the host and scheme should be case-sensitive. However the current implementation [is case insensitive](https://github.com/aspnet/HttpAbstractions/blob/8b3c308c/src/Microsoft.AspNetCore.WebUtilities/KeyValueAccumulator.cs#L19), except [when there is no query string](https://github.com/aspnet/Http

[2018-08-23 15:49] vijayrkn commented on #2019
Web config transform support during publish is now available in 2.2 preview1 https://www.microsoft.com/net/download/dotnet-core/2.2

[2018-08-23 16:04] MV10 opened #3451 "Finally block in main() never executes?"
The _Serilog.AspNetCore_ repository's [README](https://github.com/serilog/serilog-aspnetcore) page demonstrates how to add Serilog support with a basic implementation of `main()` that uses a `finally` block to flush any remaining log entries, clean up connections, etc. I was troubleshooting an issue reported for the Serilog SQL Server sink by users with ASP.NET Core projects, so I set up a quick t

[2018-08-23 16:51] ckams commented on #3402
@hishamco
To be sure: The principle is to use one file to translate both files.

So I want to translate both classes:
- LoginViewModel.cs
- RegisterViewModel.cs

by using **only ViewModelMetaData.fr.resx**.
Not using `RegisterViewModel.fr.resx` + `LoginViewModel.fr.resx`

This is "the same principle" that apply with, for example, `Display(Name = "Your Email")]`. You write it once in `ViewModelMeta

[2018-08-23 16:55] davidfowl commented on #3022
I'm not sure why as OwinFeatureCollection was a bridge to the past. Unless you're explicitly trying to expose both the OWIN interface and the ASP.NET Core abstraction I don't see why you would need it.

[2018-08-23 16:55] ckams commented on #3422
As I stated in my first message:

So:
1. Nowhere we can find this in the Doc.
2. Obviously, this file name:
- ```RegisterViewModel`1[[System.String, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]].fr.resx```

is not a name usable normally, or MS guys are just crazy, or more likely, **have missed this…**

Anyway, Thanks again!

[2018-08-23 16:57] davidfowl commented on #2019
@vijayrkn is there a basic sample somewhere? It would be great to point people to the hello world equivalent using a basic transform that sets ASPNETCORE_ENVIRONMENT.

[2018-08-23 17:04] Eilon commented on #3422
@ckams this indeed looks like a scenario we might not have considered before. We will take a further look at this and see what we can come up with.

[2018-08-23 17:05] Eilon commented on #3442
@muratg - can you assign? Test failure in IISIntegration.

[2018-08-23 17:05] Eilon commented on #3441
@muratg - can you assign? Test failure in IISIntegration.

[2018-08-23 17:05] Eilon commented on #3440
@muratg - can you assign? Test failure in IISIntegration.

[2018-08-23 17:05] vijayrkn commented on #2019
To set ASPNETCORE_ENVIRONMENT, users can set the msbuild property '$(EnvironmentName)'. I will add a sample that shows how to set other env variables using web.config transforms.

[2018-08-23 17:06] javiercn opened #3452 "CORS redesign in 3.0"
Our CORS implementation leaves some room for improvement. We keep getting issues from customers about it.

We should take 3.0 as an opportunity to revisit the scenarios customers need to support and to update our implementation to be cleaner and more straightforward as we keep getting issues from customers that are hard to fix or make our CORS implementation too complicated and confusing

[2018-08-23 17:15] Danielku15 commented on #3022
In my `IServer` I received `IDictionary<string, object> environment` containing the OWIN compliant keys. The OwinFeatureCollection would be a handy way to execute the received request on the pipeline. Just like in the link I posted earlier.

Here a simplified example of my implementation:

[code]

The goal would be to use the OwinFeatureCollection as IFeatureCollection for creating the application

[2018-08-23 17:43] muratg commented on #3442
These three failures seem to have the same root cause: https://github.com/aspnet/Home/issues/3442, https://github.com/aspnet/Home/issues/3441, https://github.com/aspnet/Home/issues/3440

(And several failure reports in IISIntegration repo look similar as well. It would be good to look into how we can reduce duplication like this in RaaS.)

Assigning to @pakrym to take a look.

[2018-08-23 17:44] muratg commented on #3441
These three failures seem to have the same root cause: https://github.com/aspnet/Home/issues/3442, https://github.com/aspnet/Home/issues/3441, https://github.com/aspnet/Home/issues/3440

(And several failure reports in IISIntegration repo look similar as well. It would be good to look into how we can reduce duplication like this in RaaS.)

Assigning to @pakrym to take a look.

[2018-08-23 17:44] muratg commented on #3440
These three failures seem to have the same root cause: https://github.com/aspnet/Home/issues/3442, https://github.com/aspnet/Home/issues/3441, https://github.com/aspnet/Home/issues/3440

(And several failure reports in IISIntegration repo look similar as well. It would be good to look into how we can reduce duplication like this in RaaS.)

Assigning to @pakrym to take a look.

[2018-08-23 17:58] Amine-Smahi opened #3453 "How to get the lastest preview of .net core in Arch distributions"
The AUR maintain stable versions of .net core, so where we can find the download link to the .net core 2.2 preview ?

[2018-08-23 18:07] hishamco commented on #3422
But the one you tried is `RegisterViewModel`1.fr.resx` :smile, @Elion IMHO we can file another issue for resource naming cleanup for localize generic classes

[2018-08-23 18:13] hishamco commented on #3402
This is sort of inheritance, I think yesterday I saw a bug in MVC repo which is related, please check it out https://github.com/aspnet/Mvc/issues/7302

[2018-08-23 18:39] NTaylorMullen opened #14288 "Make C# and Html preview handlers not update content unless visible."
Right now whenever a text change occurs we update the Html and C# preview content providers no matter what. This ends up firing off document content change events unnecessarily which results in lots of extra work. We should be smarter and only let them update when they're visible.

[2018-08-23 20:00] JunTaoLuo commented on #3439
Seems like the port is statically chosen: https://github.com/aspnet/WebSockets/blob/65b9f42b1395961f4d7f19b4b0f1643991c31ba6/test/Microsoft.AspNetCore.WebSockets.Test/KestrelWebSocketHelpers.cs#L49. We should be choosing a port dynamically instead: https://github.com/aspnet/Hosting/blob/f9d145887773e0c650e66165e0c61886153bcc0b/src/Microsoft.AspNetCore.Server.IntegrationTesting/Common/TestPortHelpe

[2018-08-23 22:11] muratg commented on #2541
Tentatively putting this in 3.0.

[2018-08-23 22:16] muratg commented on #2737
It's not clear what we'll be able to do in 2.2 milestone. Tentatively moving this to 3.0.

[2018-08-23 22:17] muratg commented on #2891
Moving out to 3.0.0 because it's not clear what can be accomplished in 2.2.

[2018-08-23 22:38] pmcgrath opened #5932 "SIGTERM handling"
Hi,
I'm seeing issues with handling sigterm on a linux system, seeing similar behaviour to [516](https://github.com/aspnet/Hosting/issues/870#issuecomment-257433617) but on linux

Environment info
OS: **ubuntu 16.04** 64bit
dotnet --version is **2.1.300**

As the docs indicate WaitForShutdown should handle sigterm, sigint and ctrl-c
Can see it handling sigint and ctrl-c as expected, but sigterm is

[2018-08-23 22:55] FlyingWraptor commented on #3452
The Fetch spec states that clients should only execute required CORS calls.
Frameworks like Angular always execute CORS calls for any cross-origin domains regardless of the request type, meaning some requests won't be send to the application.

Leaving out the filtering of cors calls will reduce load-times slightly. It also allows non-compliant clients to function properly.

In my opinion having no

[2018-08-23 23:57] javiercn commented on #2412
@mkArtakMSFT I'm not sure this is worth doing. I would move it to 3.0 or close it.

[2018-08-24 00:00] FlyingWraptor commented on #3452
@pranavkm Filtering, enforcing...
The current CORS implementation validates whether or not the call should be made regarding cors (Effectively doing the work the client is supposed to do again). This is the perfect handling to be compliant, but there have been a couple of issues around it when the clients do not fully conform with the specs and netcore doesn't reply resulting in the http request n

[2018-08-24 00:09] pranavkm commented on #3452
Ahh, yup. I entirely agree. I spent a some time a couple weekends ago to see what it would look like to clean up the filtering - https://github.com/aspnet/CORS/commit/14edbf3bcc7c986fe657d057b6fc157786eaa696, just haven't gotten to verify if it's spec compliant.

[2018-08-24 00:42] javiercn commented on #3452
@pranavkm Let's queue all these things for 3.0 and revamp the implementation.

[2018-08-24 00:56] brockallen commented on #3452
Are you certain frameworks have this sort of control over the inherent browser implementation of things like CORS and same-origin policy? IOW, frameworks should be subject to browser, not that frameworks instructor browsers how to behave for such features.

[2018-08-24 01:41] halter73 opened #4730 "An InvalidOperationException instead of an OperationCanceledException can sometimes be thrown for request body timeouts"
See the following test failure from aspnet/KestrelHttpServer#2845

[code]

https://ci3.dot.net/job/aspnet_KestrelHttpServer/job/release_2.2/job/osx-Configuration_Release_prtest/161/

[2018-08-24 02:30] ascott18 opened #5237 "Running with webpack publicPath="/path" locally with IISExpress causes HMR endpoint to be hosted under "/path/path/__webpack_hmr""
Running my ASP.NET Core 2.1 app through Visual Studio using IIS Express.

launchsettings.json:
[code]

In my webpack config, I have `output.publicPath = "/AppName/"`

In my Startup.cs, I have
[code]

With this configuration, all requests that should be getting proxied through webpack-hot-middleware are being proxied under `/AppName/AppName` instead of just `/AppName`. For example, the `__webpack_h

[2018-08-24 03:09] fxpatrick commented on #1719
@peske Thank you!

[2018-08-24 06:33] ststeiger commented on #1528
@amh1979:

While you are at it, if you replace System.Array.Empty<T>() with ArrayExtension.Empty<T>, then you're 90% of the way of getting it to work with .NET 4.0.

[code]

[2018-08-24 06:36] Danielku15 commented on #3022
@davidfowl I already described the where my data comes from.

(https://github.com/aspnet/Home/issues/3022#issuecomment-415070295)

[2018-08-24 06:56] ststeiger commented on #1528
@amh1979:

It uses the following
[code]
which .NET Core's System.Drawing.Common does not implement.
Here's a System.Drawing.KnownColor.cs replacement
[code]

[2018-08-24 07:49] Danielku15 commented on #3022
I prepared a [Gist ](https://gist.github.com/Danielku15/e09a553fc3b19085f58bd75f4cafeac1)implementing a similar architecture than mine (just in-process). When you start it and try to open http://localhost/OWIN/Test you will see in the console that the request will fail with the exception from this issue.

It matters to me because it highlights that all the keys and values for the owin environment

[2018-08-24 10:06] jehof commented on #2382
Indeed. Tried this from Visual Studio (through docker-compose, linux-container,etc.) an the configuration is not reloaded.

When I start the application through IISExpress the configuration is reloaded with the new values. Took me some hours to find this out (Thanks for posting the issue)

[2018-08-24 12:11] georgevella commented on #3132
Hi

We encountered this same issue on one of our apps targetting .NET 4.7.  Our last production build in April produced a working deployable, but recent builds in test are failing with the `KeyNotFoundException`.

This codebase is quiet stable and doesn't change frequently so we don't always trigger builds.  In last couple of months we updated software packages on the build servers which could hav

[2018-08-24 14:38] SARAVANA1501 opened #5238 "IIS deployment is not working"
Hi,
I created new application in .Net core and Angular JS. I did on click publish to IIS server, it is not working.
I am getting the below mentioned error.

**project structure**

![image](https://user-images.githubusercontent.com/39718742/44590587-1a8d2680-a7d9-11e8-9b67-c45a67eb2c4b.png)

**My deployment folder**
![image](https://user-images.githubusercontent.com/39718742/44590635-3bee1280-a7d9-

[2018-08-24 14:50] ststeiger commented on #1528
I have it compiling under NetStandard 2.0

HOWTO:
Take [System.CoreFX.Forms](https://github.com/yzrmn/System.CoreFX.Forms) and convert it to NetStandard 2.0. Then add System.Drawing.Common and System.Reflection.Emit.

Take AspNetCore.ReportingServices and add
[code]

Get the following files from mono/corefx
[code]

And add a wrapper-class for System.Web

[code]

Now it compiles on NetStandard 2.0.

[2018-08-24 15:17] jmlothian opened #3454 "Performance bottleneck issues under load"
We've been running into some performance issues while load testing (500-1000 requests per second, per node, DS4_v2 in Azure).  The cause isn't always the same - sometimes our backend API will have momentary lag for a few requests, other times we hit a network limitation on Azure, etc.  But the result is always the same - the application is unable to fulfill requests quickly enough, eventually lead

[2018-08-24 15:47] davidfowl commented on #3022
I wasn't asking about the issue, I was asking about your OWIN usage specifically. It seems like you just made the choice to use OWIN. What we have is now completely unusable and should be fixed. Maybe we should just implement a very basic method for triggering OnCompleted, or make the things that throw virtual so that they can be implemented.

[2018-08-24 16:01] ststeiger commented on #1528
Hey @All amazing news:

I have it working with .NET Core on Windows !
100% NetStandard, 0% NetFramework

Html, Pdf, Excel, Excel2007+, Word, Word2007+ all worked fine on a 57 page tabular report with varchars, ints, tinyint2, bits, and computed columns.
All output formats work, except RDL, which is kindof funny, but who cares.
We'll find the problem eventually, won't we ?

[code]

[2018-08-24 16:08] jimmy3912msncom opened #3455 "Support for multiple authorities for the same JWT bearer scheme"
We recently started moving our applications from our legacy ASP.NET owin web hosted web API to ASP.NET Core. Our application supported JWT Bearer authentication for various clouds: the Azure global cloud, Azure China cloud, the Azure German cloud, and the Azure US government cloud.

The way we did this was having multiple configurations for each cloud and calling
foreach (var tokenConfiguration in

[2018-08-24 16:13] muratg commented on #3132
@georgevella interesting. cc @eerhardt for the `*.Reference1` lines in the deps file.

(Also, @georgevella this bug is closed, so I recommend filing another one.)

[2018-08-24 17:48] javiercn commented on #2412
@Eilon I think the work here would be to look at an interface that we have on the .Internal namespace and to move it to a regular namespace so that it's "legitimate" to extend it. It might need some cleanup/design, but there hasn't been a lot of requests for this scenario and there is a to work around it (even if it involves replacing the .Internal service).

I don't think we'll be likely to chang

[2018-08-24 18:07] jehof opened #3456 "IOptionsSnapshot does not provide newest value when running in docker environment"
Hey there,
I wanted to implement what is described [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-2.1#reload-configuration-data-with-ioptionssnapshot), but it seems to me that this is not working as intended.

I have setup a new asp.net core project (2.1.2) with docker-support (Linux container) in Visual Studio 2017 15.8.1 to demonstrate that

[2018-08-24 19:03] JunTaoLuo opened #4729 "Respect client's header table size settings"
Follow-up to https://github.com/aspnet/KestrelHttpServer/issues/2816.

Currently our encoder does not do any header compression. If we decide to do response header compression, we will need to take into account the client's settings for header table size.

[2018-08-24 22:05] natemcmaster commented on #3005
I've taken a closer look at this. Based on the stack trace and where the error occurred, I'm not really sure what DataProtection could do differently. The only thing I could think to add to debug logging is the raw contents of the encrypted xml, but that seems risky.

The error appears to be due to differences in how the X.509 certificates are configured on different machines. In 2.0, it was prett

[2018-08-24 22:05] #3005 closed

[2018-08-24 22:28] vijayrkn commented on #3437
This issue is fixed pending release.

[2018-08-24 22:31] dustinmoris commented on #3443
@natemcmaster:

Before the tests I just see the normal .NET Core output from building the project:

[code]

Because it hangs I had to cancel the build.

After running `dotnet test` with the `--diag` flag I actually got two log files created:

- `testlog.host.18-08-24_23-22-45_88253_4.txt`
- `testlog.txt`

[testlog.host.18-08-24_23-22-45_88253_4.txt](https://github.com/aspnet/Home/files/2320059/tes

[2018-08-24 22:40] RemarkLima opened #3457 "TypeLoadException: The generic type 'System.Func`2' was used with an invalid instantiation in assembly 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e'."
I have a webapp that works in Core 2.0 without issue.

I've attempted to upgrade to 2.1 without success. Most of the application works, except for certain pages and only when posting data. The issue appears to be in the model-binder but I can't diagnose any further as there's no more info other than the stack trace.

I've updated all version, I've uninstalled old SDK's and tried to put the latest

[2018-08-24 23:36] FlyingWraptor commented on #3452
@brockallen I am not, but it does this for both my simple Cross-Origin GET and POST requests, (Which is what alarmed me about this issue). After some testing (I do not fully remember correctly) I believe it required valid cors responses for any requests going to a different dns name.

[2018-08-24 23:47] netnr opened #3458 "Parameter default value is invalid"
ASP.NET Core

![图片说明](https://uploadbeta.com/share-image/fU4)

Parameter "sort" default value is invalid

[2018-08-25 00:20] ZackTech opened #3459 "Access to the path 'C:\WINDOWS\system32\config\systemprofile\AppData\Local\ASP.NET\DataProtection-Keys\"
This issue was first raised as Issue 1983.
I now have this problem with a Asp.Net MVC Core 2.0 Site running on IIS.
I have given Read/Write access to the  C:\WINDOWS\system32\config\systemprofile folder for IIS_IUSRS

Please tell what I need to do to fix this issue?

Log is as follows:
fail: Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingProvider[48]
      An error occurred while reading

[2018-08-25 02:04] moshegutman commented on #2742
Is there an update on this?

[2018-08-25 06:35] ststeiger commented on #1528
Here's the CoreFX WinForms implementation for NetStandard:
https://github.com/ststeiger/System.CoreFX.Forms

Mind the gap, since I added an additional NetCore project, and renamed System.CoreFX.Forms to System.NetStandard.Forms, it might have difficulties loading the embedded resources, if it does so.

[2018-08-25 07:38] ZackTech commented on #3459
No longer the problem

[2018-08-25 07:38] #3459 closed

[2018-08-25 10:04] bluetianx opened #5333 "How to disconnect specified client from outside hub"
I have a web Api for disconnectting specified client ,how to disconnect specified client from outside hub.
I do not find a method about disconnect client from IHubContext<T>;

[2018-08-25 10:18] henkmollema opened #3460 "Failing to write to loggers cause Kestrel connection processing to end abnormally"
When writing to a logger fails, it crashes the request and Kestrel will not return a response. Any exception handling middleware won't be invoked:

[code]

A minimal repro looks like this:

[code]

It repro's on a `netcoreapp2.1` application with the 2.1.401 SDK and 2.1.3 runtime.

<details>
<summary>The full stack-trace</summary>

[code]
</details>

<details>
<summary>.NET Core environment info</

[2018-08-25 18:43] Phrohdoh opened #3461 "Failure to resolve registrations in ASP.NET Core 2.1.0 (SDK 2.1.400)"
Repo with a repro case: https://github.com/Phrohdoh/aspnetcore-2.1-repro-di-issue

---

I am getting the following exception when executing any action of my `HomeController` which has dependencies on my `DbContext` and a service `SlackService` both of which are registered with the built-in DI solution.

<details>

[code]

</details>

The *only* dependencies I have declared in my `csproj` are as fo

[2018-08-25 22:42] benaadams opened #3462 "DependencyInjection Add Lifetime Attribute"
To prevent the service being registered as the with the wrong lifetime (Scoped registered as Singleton); or being used for the wrong lifetime (Scoped used in Middleware constructor rather than Invoke method)

e.g.
[code]

Obviously; would also need checks the level when the DI container is built; and when pipeline is built to enforce the constraints (and throw)

[2018-08-26 03:09] ChristopherHaws opened #5933 "Add factory overload for `UseServiceProviderFactory`"
Hello,

I am trying to configure the generic `HostBuilder` to use Autofac, and I am running into an issue that I think could be solved by adding the following overload to `IHostBuilder`:
[code]

The usage of this api would allow for the following startup:
[code]

This change would allow all of my Autofac modules to gain access to the `HostBuilderContext`.

[code]

[2018-08-26 12:06] khellang commented on #3462
Shouldn't this already be validated with the current checks?

[2018-08-26 12:27] benaadams commented on #3462
e.g. who's not done
[code]
In SQL Server only to find out `RAND()` is only calculated once for the query and it ends up being `ORDER BY constant`.

Similar effect to registering a `Transient` as `Scoped` or worse `Singleton`

[2018-08-26 15:05] PSausM opened #3463 "Asp.net Core does not send header when request is sent by a subdomain"
I run an Angular application under app.domain.com and a backend under server.domain.com
I have configured CORS correctly. It is working locally.
On the server I get an exception saying, that the CORS header is not present.
Even all origins are allowed, all headers are allowed and all methods are allowed.
It just happens, when the call is from a subdomain to a subdomain. It seems that Asp.Net Core

[2018-08-26 18:04] PSausM commented on #2232
Any resolution to this?

[2018-08-27 09:41] mylifelineio opened #3464 "PersistKeysToRedis - Connection refused (ASP.Net Core 2.1.3)"
1. I use Docker, trying to persist the data protection keys to redis, but get the following error:

2. Exception
[code]
Docker Compose:

[code]
Startup.cs

[code]
`REDIS_CONNECTION_STRING = "localhost,abortConnect=false"`

Versions:

Redis Output

[code]

[2018-08-27 09:53] mylifelineio commented on #3464
I needed to reference the container and port

`REDIS_CONNECTION_STRING = "redis:6379,abortConnect=false"`

[2018-08-27 09:53] #3464 closed

[2018-08-27 11:44] ggirard07 commented on #3437
@vijayrkn do you plan to release a hotfix for this or is it going to be delayed until `2.2.0`?

[2018-08-27 13:56] blowdart commented on #3455
This issue was moved to aspnet/Security#1847

[2018-08-27 13:56] #3455 closed

[2018-08-27 14:34] DanJ210 commented on #3397
Yes that's the version. Do we manually change this as we go?

[2018-08-27 15:39] natemcmaster commented on #3443
Thanks for the test logs. As far as I can tell, this rules out issues in the test runner itself. There appears to be some kind of deadlock in the test code. Gathering a process dump is the next step for investigating this. When dotnet test runs, there will be several "dotnet.exe" processes. I recommend using [Process Explorer](https://docs.microsoft.com/en-us/sysinternals/downloads/process-explore

[2018-08-27 16:10] vijayrkn commented on #3437
@ggirard07 - This will be fixed in the sdk targeting 2.1.

[2018-08-27 16:11] Powerhelmsman opened #3465 "Improve documentation for RequestHeaders.Get(String) Method"
This issue was created by @StevenLiekens from https://github.com/MicrosoftDocs/feedback/issues/626.
I couldn't find the comment section for this article so consider this a comment.
Link to article:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.headers.requestheaders.get?view=aspnetcore-2.1#Microsoft_AspNetCore_Http_Headers_RequestHeaders_Get__1_System_String_

Problem:
Ther

[2018-08-27 16:13] anurse commented on #2742
We didn't get any more information after my earlier request for more context. I'm going to close this as we haven't been able to reproduce the issue or get enough information to help identify the problem.

@moshegutman If you're seeing a similar issue, can you file a new bug, include a reproducible code sample and tag me in it? As I requested above, please make sure to include the code where you'r

[2018-08-27 16:13] #2742 closed

[2018-08-27 16:45] Eilon commented on #3465
@StevenLiekens poor poor formatting 😦 . I fixed it a little bit to be a bit more readable.

[2018-08-27 16:47] Eilon commented on #3461
@Phrohdoh I think to get SlackAppConfig from DI you have to get it as an `IOptions<T>`, and not the actual config object. So, change the ctor of SlackService to take in `IOPtions<SlackAppConfig>` and give it a whirl.

@HaoK - can you confirm my suspicion?

[2018-08-27 16:48] Eilon commented on #3460
@Tratcher / @halter73 - thoughts on where this issue should go? Kestrel? Hosting? Logging?

[2018-08-27 16:51] Eilon commented on #3458
@netnr can you provide more info about this issue and how to reproduce it? What routes does the app have, and what is the request URL?

[2018-08-27 16:53] Eilon commented on #3457
Hmm you definitely shouldn't ever need to put `System.Private.CoreLib` in the app's bin directory...

Is there any chance you can run this app under a debugger and see what the parameters are to `MakeFastPropertyGetter` towards the top of the stack?

[2018-08-27 16:58] HaoK commented on #3461
Yep what @Eilon said, `IOptions<SlackAppConfig>` should do the trick

[2018-08-27 16:59] Eilon commented on #3451
Hmm do you know how the dotnet.exe process was terminated? That might give a hint to this. So you ran it from VS with <kbd>F5</kbd>, the browser opened, you did stuff, and then closed the browser? And then presumably VS killed the dotnet.exe process? If VS really does kill the process, that would explain why the `finally` didn't run.

[2018-08-27 17:00] Eilon commented on #3453
Hi, the latest official preview of .NET Core 2.2 is available here: https://www.microsoft.com/net/download/dotnet-core/2.2 (it's currently at 2.2 Preview 1).

[2018-08-27 17:00] #3453 closed

[2018-08-27 17:01] Eilon commented on #3454
@sebastienros - any thoughts on this?

[2018-08-27 17:12] #3461 closed

[2018-08-27 17:13] Eilon commented on #3451
OK I just talked to @BillHiebert and he confirms that the VS debugger essentially kills the process when the user appears to be "done" running the app (in this case, that's when the browser window/tab closes). Given that a kill is rather violent, it is unsurprising that the `finally` block does not execute.

[2018-08-27 17:13] #3451 closed

[2018-08-27 17:34] HaoK commented on #3048
This isn't critical so moving out of 2.2

[2018-08-27 17:37] HaoK commented on #3386
Out of time to get this in this week for preview2, will start a PR this week targeting preview3

[2018-08-27 17:40] pranavkm commented on #3397
@dougbu do you know if either of the Swagger tools have any guidance on versioning? Do they do anything clever to infer it?

[2018-08-27 17:56] StevenLiekens commented on #3465
Thanks haha

[2018-08-27 18:01] Phrohdoh commented on #3461
Well that is an embarrassing blunder especially since this is nowhere near my first ASP.NET Core application (and I'm very familiar with `IOptions<_>`)!

Thank you very much @Eilon and @HaoK, I am back on track now.
Brainfart resolved. :)

[2018-08-27 18:23] NTaylorMullen opened #14290 "TagHelper contextual C# attribute coloring"
TagHelpers can turn HTML attributes into C# aware attributes. This means we'll need to color those attributes accordingly.

The Html/element coloring of TagHelpers is handled by https://github.com/aspnet/Razor.VSCode/issues/20.

[2018-08-27 18:38] Eilon commented on #3397
This issue was moved to aspnet/Mvc#8333

[2018-08-27 18:43] Tratcher commented on #3433
@mgolois you still didn't clarify if you're trying to set this for outbound connections (HttpClient) or inbound for one of the servers (HttpSys, IIS&Kestrel, Kestrel on the edge).

[2018-08-27 18:46] Eilon commented on #3397
This issue was moved to aspnet/Mvc#8334

[2018-08-27 18:47] #3397 closed

[2018-08-27 19:12] halter73 commented on #3460
If there's action to be taken here, it should be in Logging. It's far too burdensome to expect the server/framework to handle exceptions from loggers. The type of defensive coding that would require would be unwieldy to say the least.

It's possible we could have Logging wrap ILoggers in order to catch these exceptions, but that leaves us with the question on how we report exceptions from the thro

[2018-08-27 20:04] mgolois commented on #3433
Sorry @Tratcher  this is inbound for IIS/Kestrel

[2018-08-27 20:05] #3396 closed

[2018-08-27 20:06] Eilon commented on #3446
@sebastienros - thoughts?

[2018-08-27 20:06] Eilon commented on #3445
@blubbll thanks for the feedback, I will forward to the appropriate people.

[2018-08-27 20:12] Eilon commented on #3445
The first link should be https://github.com/aspnet/Home/blob/master/CONTRIBUTING.md#bugs-and-feature-requests.

Not sure what the second link should be.

[2018-08-27 20:17] korsaire opened #5583 "Button's onclick triggered upon right mouse click"
When you have onclick event e.g.
[code]
it's triggered upon both left and right button click. I think it's a bug, as you can read in living HTML [standard](https://w3c.github.io/uievents/#event-type-click):

[2018-08-27 20:42] benaadams opened #5083 "Generate Page classes as sealed"
None of the virtual/overriden properties or methods on a Page are inlinable (as they are virtual); if the generated Page was `sealed` they would be.

The non-inlinablity causes crazy call counts for moderate sized pages e.g.

For 9k requests of a Razor Page

![image](https://user-images.githubusercontent.com/1142958/44684663-8f629980-aa41-11e8-9bb7-5ee0387ed2b2.png)

![image](https://user-images.g

[2018-08-27 20:57] aspnet-hello opened #3466 "Test failure: MapConnectionHandlerWithWebSocketSubProtocolSetsProtocol"
This test [fails](http://aspnetci/viewLog.html?buildId=539929&buildTypeId=XPlat_Mac_MacUniverseCoreCLR) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on master.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made autom

[2018-08-27 20:57] aspnet-hello commented on #3466
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-27 20:59] rackriili opened #3467 "XmlSerializerInputFormatter with iso-8859-1 encoding"
Hi,
I am implementing an external interface with WebApi Core 2.0 and I must create a service that receives an XML by a Post action.

If the XML has the default encoding (UTF-8) it parse correctly to my class.
If the encoding is "iso-8859-1" the class is set to null. Unfortunatly this is the encoding.

_My controller:_
[code]

_In the startup I add the iso-8859-1 encoding to the formatter_
[code]

[2018-08-27 21:06] cheesi opened #5934 "host.RunAsService() throws PlatformNotSupportedException on Windows"
Hello!

I'm facing a very strange issue. Currently I'm porting our .Net Framework windows service to ASP.NET Core. For the windows service part, i have been following this tutorial: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/windows-service?view=aspnetcore-2.1

However the `host.RunAsService()` throws a `PlatformNotSupportedException `on my windows dev machine (i didn't had the t

[2018-08-27 21:41] sebastienros commented on #3454
Looks like threadpool starvation. Would you mind trying to use Libuv instead on Sockets (new default in 2.1). I would like to know if you are hitting the same issue as some other developers have already reported, or something different.

Here is an example:https://github.com/aspnet/Benchmarks/blob/master/src/Benchmarks/Program.cs#L104

In the meantime I am starting an internal discussion about how

[2018-08-27 22:01] aspnet-hello commented on #3466
MapConnectionHandlerWithWebSocketSubProtocolSetsProtocol [failed with about the same error](http://aspnetci/viewLog.html?buildId=540067&buildTypeId=Releases_22xPublic_OsxUniverse) on 2.2.

This comment was made automatically. If there is a problem contact ryanbrandenburg.

[2018-08-27 22:18] RichardWright commented on #3026
I just fell into this trap. Absolutely terrible that by trying to use the HttpClient you can get here. Awful dev experience.

[2018-08-27 23:09] netnr commented on #3458
Perhaps my idea is that the weight of the variable default should be higher than "NULL"

[2018-08-28 00:05] aspnet-hello opened #3468 "Test failure: FoundFile_Served_Windows"
This test [fails](http://aspnetci/viewLog.html?buildId=540128&buildTypeId=Releases_22xPublic_Win2012) occasionally with the following error:
[code]
Other tests within that build may have failed with a similar message, but they are not listed here. Check the link above for more info.

This test failed on 2.2.

CC @Eilon (because the bot doesn't know who else to pick)

This issue was made automatica

[2018-08-28 00:05] aspnet-hello commented on #3468
Please use this workflow to address this flaky test issue, including checking applicable checkboxes and filling in the applicable "TODO" entries:

* Is this actually a flaky test?
  * No, this is a regular test failure, fix the test/product (TODO: Link to commit/PR)
  * Yes, proceed below...

* Is this test failure caused by product code flakiness? (Either this product, or another product this tes

[2018-08-28 00:10] kant2002 opened #5584 "Could not publish with --no-build"
1. Have setup Two projects. First is API, second is Client Blazor app which is referenced by API.
2. I do build of solution using dotnet build
3. then I run `dotnet publish API --no-build`

Resulting the generated output does not contains .blazor.config
when I run `dotnet publish` without specifying `--no-build` produced package contains valid `blazor.config` file. This make whole published packag

[2018-08-28 01:43] sebastienros commented on #3454
Most of the perf is from the runtime and aspnet improvements not related to Sockets/Libuv. Sockets has improved, to the point that it's as good as Libuv now, but some micro benchmarks might be better on one or the other. We'd prefer to only have Sockets to have a single managed stack (Libuv is native).

My goal is to unblock you quickly, hopping Libuv is the key here, and have enough repro cases s

[2018-08-28 03:43] moshegutman commented on #3128
I'm experiencing this issue too with my app hosted in Azure App Service.

[2018-08-28 04:28] Tratcher commented on #3433
Ah. When using IIS + Kestrel TLS is primarily controlled by the OS (SChannel). @shirhatti IIS doesn't give you any TLS options right? There are no options available within your ASP.NET Core application.

[2018-08-28 04:30] davidfowl commented on #3460
Loggers can't throw. Lets just beef up our docs. It's not really reasonable for all consumers of logging to assume a logger can throw, better to just let logging implementations know they should never throw when logging

[2018-08-28 04:33] davidfowl commented on #3454
@jmlothian I'm suspicious because of this:

Are you sure? Have you looked at a dump to verify? Did you try increasing the number of threads in the thread pool to see if this helps the problem?

I'd bet that something in your code (or code you're calling into) is claiming to be async but is indeed doing synchronous things. Another issue might be other things in the same progress potentially overusi

[2018-08-28 04:33] rockerinthelocker opened #3822 "ANCM - How to disable logging of informational messages?"
Other than any other IIS module, the ANCM module is quite a bit busy logging informational messages to the Application log. On servers running thousands of sites, one may want to disable this behavior. Is there any way to accomplish that?

[2018-08-28 04:46] Tratcher commented on #3465
There are also a few pre-registered parsers:

https://github.com/aspnet/HttpAbstractions/blob/55ba639657370e40841c56f44b06b911ca3b57df/src/Microsoft.AspNetCore.Http.Extensions/HeaderDictionaryTypeExtensions.cs#L151-L159

[2018-08-28 08:05] RemarkLima commented on #3457
Hi @Eilon I've just tried to debug in Visual Studio 2017 but even with every single exception enabled and checked to break on, it doesn't break so it's happening before.

If I clear the output window, then I get the below:

Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 POST http://localhost:55319/Outbound/OutboundClaims/UpdateUcmSection application/x-www-form

[2018-08-28 08:10] thefringeninja commented on #3450
Sorry but that seems like an odd choice given that it's not what the spec says. For my particular issue it's about maximizing cache hits. aspnet core may think that `?a=1&b=2` and `?A=1&B=2` are equivalent but a caching proxy will not.

In any case I was able to work around this issue.

[2018-08-28 08:35] christiansita opened #5334 "Cannot connect from a non-browser Javascript client to Asp.Net Core SignalR"
Hi, I am trying to write a non-browser javascript client to connect to my Asp.Net Core SignalR and I am having the following error message:

**My Javascript non-browser javascript client code is as follows(this client powered with Node.Js):**

global.XMLHttpRequest = require('xhr');
var signalR = require('@aspnet/signalr');
var connection = new signalR.HubConnectionBuilder()
       .withUrl("https

[2018-08-28 08:37] davidfowl commented on #3460
You could but it doesn't hurt, it just means you get N exceptions instead of the first one. Also all loggers get a chance to run currently.

[2018-08-28 08:54] henkmollema commented on #3460
I understand. My point is that after each logger has ran any exceptions that were caught result in a aggregated error which gets thrown, but there is effectively no one to catch the error which results in a destabilized response. Writing each error to the stderr might make more sense than throwing an error.

[2018-08-28 10:49] benm-eras opened #3469 "DbContext from EF 2.1.2 violates type contstraint of AddDbContext but 2.1.1 does not"
I am not sure where to log this issue as it could be a problem with any one of 3 packages:

1. Microsoft.Extensions.DependencyInjection
2. Microsoft.EntityFrameworkCore.SqlServer
3. Microsoft.NET.Sdk.Functions

I am working on a web application using ASP.NET Core MVC and Azure Functions (v2), and recently ran into an issue with injecting my DbContext in my function app after updating the Entity Fr

[2018-08-28 13:41] ststeiger commented on #1528
@ALL: Ladies, the HTML-renderer is working on Linux !
(not tested with pictures/graphics - text and code only)

[2018-08-28 14:21] masterjs opened #3470 "Getting a endless HttpMessageHandler cleanup cycle"
Hello,
I'm using the HTTP Client factory for ASPNETCORE 2.1. But now, after my second http request, I'm starting to get some logs that are getting me worried.

`HttpMessageHandler expired after 120000ms for client 'default'`
`Starting HttpMessageHandler cleanup cycle with 1 items`
`BDC.ClientPortal.ApiManager> [10:11:49 DBG] Ending HttpMessageHandler cleanup cycle after 0.0342ms - processed: 0 ite

[2018-08-28 17:35] gruth151 commented on #579
@akamud me too

[2018-08-28 17:35] shirhatti commented on #3433
Yes, what @Tratcher said is true. Http.Sys doesn't allow us(IIS) to control TLS 1.2 on a per binding basis. It can only be performed machine-wide by setting a reg key. Look at this [doc](https://docs.microsoft.com/en-us/windows-server/security/tls/tls-registry-settings#ssl-30) on how to disable SSL 3.0, TLS 1.0, and TLS 1.1.

[2018-08-28 17:44] Eilon commented on #3469
This issue was moved to aspnet/EntityFrameworkCore#13145

[2018-08-28 17:44] #3469 closed

[2018-08-28 18:00] rynowak commented on #3470
This means that there's a client/message handler that's been expired, but someone is still holding a reference to it. You can analyze what's keeping it alive by capturing a memory dump.

[2018-08-28 18:08] meancrazy opened #3471 "Static files localization in RCL"
RCL with static files with "localizable" names (like `messages.en.js`) throws 500 error.

What happens: in RCL static files are included as embedded resources. And compiler includes localized files in separate dlls. And when you try to get them, you get an error:
[code]

Sample project with tests: https://github.com/meancrazy/LocalizationInRCL/

[2018-08-28 18:10] pranavkm commented on #3471
cc @javiercn

[2018-08-28 18:14] Eilon commented on #3471
Ah, RCL = Razor Class Libraries?

[2018-08-28 18:15] Eilon commented on #3471
Just to clarify, did you *want* to serve the file in the RCL using the StaticFiles middleware? Or you got this error by accident?

[2018-08-28 18:17] Eilon commented on #3423
@eguzelkucuk sorry for the delay getting back to you. Do you have any more info about the app that you can share? Do you have the app on GitHub?

[2018-08-28 18:25] Eilon commented on #3400
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-08-28 18:25] #3400 closed

[2018-08-28 18:26] meancrazy commented on #3471
So the sample project (https://github.com/meancrazy/LocalizationInRCL/) has two tests. First with `test.js` passed and second with `messages.en.js` fails

[2018-08-28 18:39] Eilon commented on #3470
This issue was moved to aspnet/HttpClientFactory#165

[2018-08-28 18:39] #3470 closed

[2018-08-28 18:39] Eilon commented on #3467
This issue was moved to aspnet/Mvc#8346

[2018-08-28 18:39] #3467 closed

[2018-08-28 18:44] ajaybhargavb opened #5084 "Directive usage errors need to appear in runtime too"
There are cases like https://github.com/aspnet/Razor/issues/2539#issuecomment-416384015 when using directives as variables in cshtml results in a weird csharp error at runtime. Instead we should provide a Razor error like it does during design time.

cc @dougbu @NTaylorMullen

[2018-08-28 18:44] Eilon commented on #3437
@vijayrkn - can we close this issue if it's already fixed, pending release?

[2018-08-28 18:48] vijayrkn commented on #3437
@Eilon - Yes, we can close this issue.

[2018-08-28 18:48] vijayrkn commented on #2019
@Eilon - We can close this issue. This is fixed pending release.

[2018-08-28 19:09] muratg commented on #3395
This issue was moved to aspnet/Hosting#1536

[2018-08-28 19:09] #3395 closed

[2018-08-28 19:39] javiercn commented on #3471
@meancrazy You can exclude those with
[code]

[2018-08-28 19:59] moshegutman commented on #3128
Is there a workaround for this? @pan-wang

[2018-08-28 20:09] TheJayMann opened #5085 "Razor Language Service does not appear to work with cshtml files in fsproj project"
I have noticed for a while now that when attempting to use Giraffe.Razor to make views for a Giraffe web application, the cshtml files themselves have no intellisense or formatting outside of basic html.  After playing around a bit with adding ProjectCapability elements directly to the fsproj, I noticed if I add CSharp as a project capability and reopening the project in Visual Studio (as adding t

[2018-08-28 20:30] javiercn commented on #3471
@meancrazy Thanks for contacting us.

There are two issues happening here. One is in your sample, you have to setup the culture for the request.
The other one is in the manifest embedded file provider. We don't do anything special to support localization scenarios. What we could do is:

Call `Assembly.GetManifestResourceStream` and if that returns null, call `Assembly.GetSatelliteAssembly(CultureI

[2018-08-28 20:44] meancrazy commented on #3471
@javiercn as for me – do not localize (in dlls) any static files 😄js libs should do it as yourself

[2018-08-28 20:56] jmlothian commented on #3454
@davidfowl - We did set the thread count higher as a stop-gap a long time ago, and it helped.  But there's a bit of diminishing returns there.

I'm going to do some digging to see if I can find any other potential blockers - but in our code itself, we've eliminated any synchronous calls, it would more likely be direct thread locking somewhere.   This code is _very_ linear - there isn't a lot of pe

[2018-08-28 21:01] meancrazy commented on #3471
For example: in devextreme (https://unpkg.com/devextreme@18.1.5/dist/js/localization/) localization will be changed on the fly by calling
[code]

[2018-08-28 21:06] muratg commented on #3443
This issue was moved to aspnet/Hosting#1537

[2018-08-28 21:06] #3443 closed

[2018-08-28 21:50] javiercn commented on #3471
We could actually do what I described above but with the culture coming from the manifest, that way we are not bound by having to setup the culture in the context appropriately.

[2018-08-28 21:56] natemcmaster commented on #3034
@muratg PR to fix the flakiness in 2.1.5. https://github.com/aspnet/DataProtection/pull/322. Since this is not a product change, only a test update, it doesn't need shiproom approval, right?

[2018-08-28 22:25] #2019 closed

[2018-08-28 22:26] #3437 closed

[2018-08-28 22:29] Eilon commented on #3447
This issue was moved to aspnet/Scaffolding#860

[2018-08-28 22:29] #3447 closed

[2018-08-28 22:30] Eilon commented on #3119
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-08-28 22:30] #3119 closed

[2018-08-28 22:30] Eilon commented on #3248
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-08-28 22:30] #3248 closed

[2018-08-28 22:30] Eilon commented on #2116
Closing because there are no plans to implement this.

[2018-08-28 22:30] #2116 closed

[2018-08-28 22:31] Eilon commented on #3219
Closing because it does not appear there is any further action required for ASP.NET Core.

[2018-08-28 22:31] #3219 closed

[2018-08-28 22:31] Eilon commented on #3252
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-08-28 22:31] #3252 closed

[2018-08-28 22:32] Eilon commented on #3017
@WangCharlie did you end up figuring this out?

[2018-08-28 22:33] Eilon commented on #2262
Hi. We're closing this issue because we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-08-28 22:33] #2262 closed

[2018-08-28 22:33] JeffMushmo commented on #2116
It got 192 votes and is in the top 10 feature requests for Asp.Net core. So why wouldn't you plan to support it? Is the feedback system at Microsoft broken?

[2018-08-28 22:33] Eilon commented on #3293
Closing because we are not planning any changes in this area.

[2018-08-28 22:33] #3293 closed

[2018-08-28 22:35] Eilon commented on #2285
Closing because we are not planning to make any changes in this area.

[2018-08-28 22:35] #2285 closed

[2018-08-28 22:35] netnr commented on #3458
https://github.com/netnr/test

[2018-08-28 22:49] HaoK commented on #3385
Fixed in https://github.com/aspnet/Options/pull/272

[2018-08-28 22:49] #3385 closed

[2018-08-28 23:31] natemcmaster commented on #2474
We believe this is resolved.

[2018-08-28 23:31] #2474 closed

[2018-08-29 00:33] natemcmaster commented on #2991
No recent test failures.

[2018-08-29 00:33] #2991 closed

[2018-08-29 00:44] natemcmaster opened #9927 "Convert from ApiCheck to ApiCompat"
As a part of Arcade convergence, we plan to drop our ApiCheck tool and convert to ApiCompat, which is the tool other teams use to ensure public API remains compatible between releases.

[2018-08-29 00:52] Eilon commented on #2116
@JeffMushmo we take into account all feedback, but this is not currently a priority for the product, as balanced against other competing requirements.

This is not a scenario we intend to block, so if someone runs into a specific issue while attempting to implement this, we would look at ways to collaborate. But we have no plans to proactively do work in this space.

[2018-08-29 01:04] muratg commented on #3034
Sent notification mail to shiproom and added the `servicing-approved` label to the PR.

[2018-08-29 01:06] Eilon commented on #3034
The PR, as sent, includes a product change, so I don't think it is acceptable for a patch release. Can we do a test-only change? E.g. just disable parallelization for the test assembly?

[2018-08-29 01:37] Eilon commented on #3034
Yeah I say disable the test. Unfortunate, but I consider it lower risk.

[2018-08-29 01:58] natemcmaster commented on #3034
If risk minimization is our goal, disabling the test is the worst of the option. Losing regression coverage increases the risk that a future 2.1.x servicing update will break something and we will miss it. Since any change to the src/ folder is _a priori_ disallowed now, I'm willing to put a comment in test code that says "this test is flaky, sorry." The only risk in that is that someone is fetchi

[2018-08-29 05:36] davidfowl commented on #3454
@jmlothian awesome! Looking forward to seeing what's running on those threads!

[2018-08-29 06:13] bdominguez commented on #3385
@HaoK did you included DataMember attribute so we can change a property binding name as we discussed in this post? I don't see it.

Thanks.

[2018-08-29 06:34] HaoK commented on #3385
The binder is unrelated to options validation, the binder is something that's solely part of configuration and any future binder work is not really directly related to this

[2018-08-29 06:35] HaoK commented on #3385
The binder is just one of many different ways you can set options values, options validation is a new lower level feature.

[2018-08-29 07:12] bdominguez commented on #3385
But it's something that are you going to do? We discussed it above and thought that it would be implemented at some point.

[2018-08-29 08:27] HaoK commented on #3385
The main difference from the discussion above, is that the binder is not at all targeted for "serialization", which is why going down the path of [DataMember] is not really a good fit as those are serialization attributes and that's not really something the binder is intended for

[2018-08-29 08:39] ststeiger commented on #1528
@ALL: Atom/CSV/XML working.
On Linux, too.

Fun fact: There seems to be a JSON-renderer int there.
But only works in a useSharedDataSetTableHandler case , whatever that means
[code]

Anybody by hazard knows how to use the JSON-renderer ?

[2018-08-29 09:50] Unders0n opened #3472 "Recognition of user's language issue"
FIrst of all i have to tell that seems like there's an errors in sample localization project: https://github.com/aspnet/Docs/tree/master/aspnetcore/fundamentals/localization/sample/Localization, when trying convention resolving i found that InfoController localization not working until you place resources in Resources/StarterWeb/Controllers/…. Folder where it searching them for.

Now to my main is

[2018-08-29 10:16] benaadams opened #3473 "Empty template has `Information` Console logging on in Production"
This hits throughput quite severely e.g. https://github.com/dotnet/core/issues/1899

Setup and running
[code]
Benchmarking
[code]

Changing to `Warning` level by adding `appsettings.json` containing
[code]
Benchmarking
[code]

[2018-08-29 10:31] benaadams commented on #3473
Moved to https://github.com/aspnet/Templating/issues/714

[2018-08-29 10:31] #3473 closed

[2018-08-29 11:29] kontacthimanshu commented on #3400
We are constantly getting this error in two of our App services.

[2018-08-29 12:56] alexiordan commented on #1976
What do you think about situation in the picture below?

We run 4 WebApps inside the same Plan. Initial it was B1, scaled up to S2 and memory kept growing until I set to the hungry webapp csproj:
[code]
and also disable Application Insights
1. I believe that since memory could be kept under control with setting above, there is no memory leak, but way GC acts. Correct?
2. Is this normal?

![memory

[2018-08-29 15:10] mgolois commented on #3433
Thank you for clarifying and providing guidance!

[2018-08-29 15:10] #3433 closed

[2018-08-29 16:08] BrennanConroy commented on #3212
This is a port conflict issue which we've done a lot of work towards fixing in 2.2. See https://github.com/aspnet/WebSockets/commit/752f934a236e2e05b8ad985adfa540527643ae1a for the fix in this repo.

Fixing this would require porting a lot of code in multiple repos to 2.1

@muratg thoughts?

[2018-08-29 16:31] Eilon commented on #3212
Is it test-only code? 2.1 will live for a long time, so making tests more reliable can have a significant payoff.

[2018-08-29 16:36] BrennanConroy commented on #3212
I assume so, I wasn't a part of the whole port conflict issue so I couldn't say for sure. @mikeharder

[2018-08-29 16:41] matthewDDennis opened #3474 "invalid Microsoft.NETCore.App after upgrade to SDK 2.1.401"
After upgrading MS to 15.8.2 with SDK 2.1.401 today my web app (netcoreapp21) failed to build with

adding a global.json pinning the SDK to 2.1.400 allows the project to compile.

It appears something in the new SDK is referencing Microsoft.NETCore.App version 2.1.3-servicing-26724-03 from a MyGet feed

[2018-08-29 16:45] dvdaniels1967 commented on #1528
@amh1979 I tried using the server report  but it looks like the parameters I added for the report do not get persisted to the server in LoadReport. Is there any chance you could send those to the server?

[2018-08-29 17:01] Tratcher commented on #3474
@natemcmaster @JunTaoLuo

[2018-08-29 17:07] Eilon commented on #3474
@matthewDDennis - what feeds do you have in your NuGet.config?

[2018-08-29 17:11] Eilon commented on #3458
This issue was moved to aspnet/Mvc#8357

[2018-08-29 17:11] #3458 closed

[2018-08-29 18:05] shanselman opened #3475 "FileSystemWatcher causes problems in containers - inotify limits and ASP.NET Core"
Looking around the web I'm seeing years of issues with FileSystemWatcher saying "The configured user limit (n) on the number of inotify instances has been reached."

This is becoming more prevalent in container situations. I'm trying to deploy https://github.com/shanselman/superzeit (just clone and "now --public" or run locally with docker) to Zeit.co and I'm hitting this regularly. This is blocki

[2018-08-29 18:11] spboyer commented on #3475
`TryEnableFileSystemWatcher()` - gets called regardless if `DOTNET_USE_POLLING_FILE_WATCHER` is set or not.

https://github.com/idefa/AspnetCoreHome/blob/master/FileSystem-rel-2.0.0/src/Microsoft.Extensions.FileProviders.Physical/PhysicalFilesWatcher.cs#L93

[2018-08-29 18:13] ryanbrandenburg opened #5435 "Centralize content"
We have some repeated content in our templates (site.css is one example) that we basically have to copy between each project which makes this very error prone. Let's centralize these items and run a pre-build preparation task which copies any needed files to be built into the templates.

[2018-08-29 18:27] sebastienros commented on #3475
I think this PR should fix your problem: https://github.com/aspnet/FileSystem/pull/333
And it's solving this: https://github.com/aspnet/Mvc/issues/8173

/cc @pranavkm

[2018-08-29 18:28] mikeharder commented on #3212
I would expect any 2.1 fixes for port conflicts would be test-only code.

[2018-08-29 18:30] Eilon commented on #3212
Cool. Then @BrennanConroy perhaps work with @muratg on what the priority of this should be.

[2018-08-29 18:30] Tratcher opened #3476 "HttpClient does not work with Request.EnableRewind"
_From @cnblogs-dudu on August 21, 2018 9:39_

Perhaps it is `HttpConnection.WriteAsync` does not work with `FileBufferingReadStream`.

Website A with the following code is listening 5000.
[code]
Website B with the following code is listening 5002.
[code]
Use the following curl command to send a request.
[code]
The actual output is 0. The expected output is 4.

If remove `Request.EnableRewind()`, i

[2018-08-29 18:31] Tratcher commented on #3476
_From @davidsh on August 21, 2018 15:51_

cc: @Tratcher

[2018-08-29 18:31] Tratcher commented on #3476
_From @cnblogs-dudu on August 23, 2018 9:48_

I figured it out.  `Content-Length: 0` resulted in this issue. I will try to create a pull request.
[code]

[2018-08-29 18:31] Tratcher commented on #3476
_From @cnblogs-dudu on August 23, 2018 11:32_

If change `return true` to `return length > 0` in `TryComputeLength` of `StreamContent`,
[code]
It works and gets the following http request.
[code]

[2018-08-29 18:31] Tratcher commented on #3476
_From @davidsh on August 23, 2018 14:12_

This might fix your scenario. But this changes the original design of 'TryComputeLength'.  It was supposed to return true if it can compute a length regardless of what that value is (zero or greater than zero).

We'll need to study this more to see if this adjustment will be compatible.  The workaround, though, is for a developer to create a subclass of St

[2018-08-29 18:31] Tratcher commented on #3476
_From @cnblogs-dudu on August 25, 2018 14:32_

`return length > 0` only works in the sample app. It does not works in our production scenario that putting file to cloud storage.

I fixed it in HttpAbstractions repo. I will submit a PR to HttpAbstractions.

[2018-08-29 18:31] Tratcher commented on #3476
What this comes down to is that Request.Body and StreamContent make fundamentally different assumptions and I don't think it makes sense to change either to accommodate the other.

Also, forwarding requests is a lot more involved than you imply above. See the prototype over at https://github.com/aspnet/proxy for some examples.

[2018-08-29 18:31] Tratcher commented on #3476
_From @davidfowl on August 29, 2018 18:26_

This scenario should work. Lets keep an issue open on the ASP.NET Core side of things.

[2018-08-29 18:35] tbasallo commented on #3474
Same issue here. No additional nuget feeds.

![image](https://user-images.githubusercontent.com/270673/44807833-918b3c00-ab98-11e8-8baa-214592c82c55.png)

[2018-08-29 18:49] Eilon commented on #3474
Hmm where was this .NET Core SDK installed from? An official release, or a nightly build?

[2018-08-29 18:57] tbasallo commented on #3474
On dev machine, VS update. On target machine official release (hosting bundle)

[2018-08-29 19:20] NETESudarshan opened #3477 "2.1.3 Release notes has a typo for the patch version, it has 2.1.2 instead."
https://github.com/aspnet/Home/releases/tag/2.1.3 has

_We are pleased to announce the release of ASP.NET Core 2.1.**2**._

[2018-08-29 19:36] #3477 closed

[2018-08-29 19:37] tbasallo commented on #3474
### --info
---------------------------------------------------------
C:\Projects\Tedd>dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.1.401
 Commit:    91b1c13032

Runtime Environment:
 OS Name:     Windows
 OS Version:  6.1.7601
 OS Platform: Windows
 RID:         win7-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.401\

Host (useful for support):
  Version: 2.1.3-servi

[2018-08-29 19:38] stanuku opened #3478 "2.1.3 Release notes has a typo for the patch version, it has 2.1.2 instead"
https://github.com/aspnet/Home/releases/tag/2.1.3 has

_We are pleased to announce the release of ASP.NET Core **2.1.2**._

[2018-08-29 19:44] natemcmaster commented on #3474
I'll send an internal email about this. If VS installed a servicing build, something probably went wrong in the CLI to VS handoff.

As a workaround, try going to Windows Settings > Apps and uninstalling "Microsoft .NET Core SDk 2.1.401".

[2018-08-29 19:52] natemcmaster commented on #3474
One more thing: before you uninstall, can you share the file version of the installer? This is visible in Windows Settings. For example:

![image](https://user-images.githubusercontent.com/2696087/44811801-6a2d7280-ab8a-11e8-883c-023eefcc889a.png)

[2018-08-29 19:58] tbasallo commented on #3474
Control panel says 2.1.401

![image](https://user-images.githubusercontent.com/270673/44812080-51ca5180-aba4-11e8-9309-b0baaf569176.png)

[2018-08-29 19:59] tbasallo commented on #3474
Can't seem to find in Win7 anything else

[2018-08-29 20:04] tbasallo commented on #3474
Just checked a Win10 machine that was also updated this AM and it shows 2.1.401. It's not on the same network so I cannot build/publish that same project to test.

[2018-08-29 20:07] Eilon commented on #3478
@natemcmaster was it just a typo and we should edit the text?

[2018-08-29 20:12] Eilon commented on #3472
BTW I logged a Docs issue for the first item above: https://github.com/aspnet/Docs/issues/8323

[2018-08-29 20:14] Eilon commented on #3476
@Tratcher any idea what 'repo' this is part of?

[2018-08-29 20:14] matthewDDennis commented on #3474
I too have the `Microsoft.NETCore.App 2.1.3-servicing-26724-03 [C:\Program Files\dotnet\shared\Microsoft.NETCore.App]`

[2018-08-29 20:15] Eilon commented on #3474
Thanks for all the details, we are working with @livarcocc to get to the bottom of this.

[2018-08-29 20:27] natemcmaster commented on #3474
It appears Visual Studio bundled the wrong build of the CLI. @livarcocc's team is working with the VS team to investigate fixes. I'm going to close this as a duplicate of https://github.com/dotnet/cli/issues/9897.

The recommended workaround is to uninstall 2.1.401, download the correct 2.1.401 installers from https://www.microsoft.com/net/download/dotnet-core/2.1, and install those instead.

[2018-08-29 20:27] #3474 closed

[2018-08-29 20:48] matthewDDennis commented on #3474
This appears to have fixed it, but I had to do a dotnet restore -f at the root directory of the solution before it would compile without errors using SDK 2.1.401

[2018-08-29 20:49] Tratcher commented on #3476
HttpAbstractions. Marked.

[2018-08-29 21:36] moshegutman commented on #3128
@jkotalik I can repro this issue in IISExpress and IIS. The issue does not occur when running as a self-host server.

[2018-08-29 21:47] max-favilli commented on #3221
For anyone who got here having this problem.
It affected me today, just after updating Visual Studio to 15.8.2, when publishing.
I re-installed the Net Framework and the issue was solved.
In case you face it, I would give it a try to just re-install the framework.

[2018-08-29 23:05] DavidHayesCoding commented on #1528
Hi @ststeiger and @amh1979, Great work on this, are there any tutorials on how to use this library out there? I'm trying to figure out how to/if it currently supports multi value parameters and whether drilldowns are supported.
I keep trying to get to the site linked in the nuget package description (http://www.amhx.org/) to see, but it keeps timing out on me.

[2018-08-30 00:00] john-luke-laue opened #3479 "DistrubutedSession error: A severe error occurred on the current command. The results, if any, should be discarded. Operation cancelled by user."
I'm getting an error in DistributedSession. The source of the error seems to come from Cancellation tokens.
There was discussion on quieting some of the noisy logs coming from cancellation tokens here in [Session Issue 189](https://github.com/aspnet/Session/issues/189)

I'm wondering if the same can be done for this error? Or, if not, how can I handle this error myself?

I'll keep trying, but so f

[2018-08-30 03:06] cnblogs-dudu commented on #3476
The scenario is that we have a file uploading website that it receives uploading files and transfers them to Alibaba Cloud Object Storage Service and Tencent Cloud Object Storage.

[2018-08-30 03:33] cnblogs-dudu commented on #3476
As a Stream, FileBufferingReadStream  has two unexpected behaviours.
* First time reading the whole stream behaves differently from later reading.
* In first time reading, it's CanSeek is true and it's bytes can be read, but it's length is 0.

StreamContent treats FileBufferingReadStream  as Stream right. But FileBufferingReadStream is not a right Stream.

[2018-08-30 04:04] TanvirArjel opened #3480 "ASP.NET Core Identity in MVC pattern"
ASP.NET Core 2.1 and later provides ASP.NET Core Identity as a Razor Class Library. Actually I don't want to use Razor Pages in my MVC application. So how can I generate identity related codes in MVC pattern as previous versions.

Thank you.

[2018-08-30 04:43] pan-wang commented on #3128
@moshegutman  the workaround depends on the nature of the application. Could you please share your repro so that I can take a look? You can reach me at panwang(at)Microsoft(dot)com.

[2018-08-30 05:09] Tratcher commented on #3480
@HaoK @javiercn

[2018-08-30 05:17] Tratcher commented on #3476
There are constraints in the Stream contract itself that contribute to this problem. The buffer stream is seekable forwards and backwards for it's whole lifetime. Stream says that if you implement CanSeek you must also implement Length. Unfortunately it doesn't know the real length, only the currently buffered length (Content-Length would provide a hint, but Chunked wouldn't). In this it's actuall

[2018-08-30 05:49] jehof commented on #3456
Is https://github.com/aspnet/FileSystem/pull/333 related to my problem

[2018-08-30 06:12] muzzammilhussain opened #3481 "Unable to login on Firefox"
# Issue Title

I am using dotnet  core 2.0 with Angular 5. I am able to login on all browsers in Development but in production it gives me error only on firefox and I am unable to login

# General

I am using dotnet core on Ubuntu with Nginx . I am unable to login on firefox on production but works fine in Development. When I try to login I get this result.
Aug 29 18:02:22 allieschools dotnet-exam

[2018-08-30 07:47] Danielku15 commented on #3022
Sure, I will try to extend the class and file a pull request on the weekend in my spare time.

[2018-08-30 08:44] GuidoNeele opened #5817 "User signed out after requesting /Identity/Account/Manage/TwoFactorAuthentication"
ASP.NET Core 2.1.1

I've configured an asp.net core mvc project with Identity. I'm using the default UI but have scaffolded it because had to translate it to Dutch. When I navigate to the Manage pages everything works well until /Identity/Account/Manage/TwoFactorAuthentication is requested. The page is shown but the user has been signed out. After navigating away the user is redirected to the logi

[2018-08-30 10:34] kierenj commented on #1528
Could I suggest that posting masses of code and length comments is a really difficult-to-digest-and-read way of tracking this issue?

I can see a lot of activity, a lot of code, but really am none the wiser as to what the recent (seemingly excellent) developments have been.

Could I suggest keeping things neat & tidy here, and using another repo / appropriate tools for sharing code?  Is there a pl

[2018-08-30 10:39] #3481 closed

[2018-08-30 10:40] muzzammilhussain commented on #3481
Issue found and resolved.

[2018-08-30 12:06] figuerres commented on #1528
like @kierenj i think the code listings as a post make it hard to follow.  put up a github and then share a link. see if the admins of this repo want to make some branches etc...

[2018-08-30 13:06] A51UK commented on #3480
I think the same, identity was more easily to control and manage with MVC. This main reason for me to not upgrade to Identity 2.1

[2018-08-30 13:09] stuartwhiteford-electrum opened #3482 "HandleRequirementAsync is not called in AuthorizationHandler when resource is null"
I have the following in the Startup.cs
[code]
and the following handler and requirement classes
[code]
then in my controller I have the following action
[code]
I was expecting that even if the resource (document) was null then the HandleRequirementAsync() method would still be called - in the event that you might want to base the success/failure on whether the resource is null.

But given this che

[2018-08-30 13:53] ststeiger commented on #1528
@kierenj  @figuerres : I would be fine with that, but if you publish larger amounts of decompiled Microsoft code without asking for permission first, you probably risk crossing the line to where they might want to do something about it ...

[2018-08-30 14:04] figuerres commented on #1528
@ststeiger
and you can work with the repo right here to make a branch and put code in that branch.
then they have it and know about it etc...

[2018-08-30 15:08] ststeiger commented on #1528
@figuerres: I made the repo on gitlab, where a private repository is free.

[2018-08-30 15:38] Tratcher commented on #3479
What's the actual exception type?

[2018-08-30 16:37] ststeiger commented on #1528
@MaximRouiller:
I would have a version of ReportViewer (local reports) roughly working under ASP.NET Core.
Part of it would even work under Linux, for which Microsoft has published SQL-Server.
The parts that work under Linux most likely work under MacOS, too.

However this version of ReportViewer is based on code of
https://www.nuget.org/packages/AspNetCore.Reporting
which seems to be based on cod

[2018-08-30 17:15] hishamco commented on #3422
FYI I added an extra property named `UseGenericResources` on `LocalizationOptions` to make it easier to control the resource name for generic class.  I described everything in details in my blog post [Localization & Generics](http://www.hishambinateya.com/localization-and-generics)

[2018-08-30 17:54] amh1979 commented on #1528
[http://go.microsoft.com/fwlink/?LinkId=826162](http://go.microsoft.com/fwlink/?LinkId=826162)
What I'm worried about.
If not, I will unlisted the packages it from NuGet.

[2018-08-30 18:16] gimlichael commented on #3474
When trying to publish a Web Job to Azure, this error is now a result:

[code]

However, a normal Web App publish does not have this error.

Any hints? It is very tiresome with these errors ... and i suspect they are related to the latest VS2017 update that introduced the other error mentioned in this thread.

[2018-08-30 18:19] natemcmaster commented on #3474
@gimlichael can you open a separate issue for this? It appears unrelated to the original issue.

[2018-08-30 18:51] john-luke-laue commented on #3479
@Tratcher updated the stack trace in my previous post to include it.
But here it is again:
**System.Data.SqlClient.SqlException (0x80131904):** A severe error occurred on the current command.  The results, if any, should be discarded. Operation cancelled by user.

[2018-08-30 18:54] stamminator commented on #579
How am I supposed to refer to .NET Core in Slack without a recognizable .NET Core logo? By spelling it out, like a barbarian? We're better than this. #justiceForDotNetCore

[2018-08-30 19:01] Eilon commented on #3480
Closing as dup of https://github.com/aspnet/Identity/issues/1949.

[2018-08-30 19:01] #3480 closed

[2018-08-30 19:49] HaoK commented on #3386
Discussed with @ajcvickers current thinking will be to add the add a way to register startup actions which happen to do options validation.

[code]

Thoughts @davidfowl ?

[2018-08-30 21:53] rynowak commented on #2579
This was done for preview1. `UseHealthChecks` accepts a port. See samples in the aspnet/Diagnostics repo

[2018-08-30 21:53] #2579 closed

[2018-08-30 22:21] vipero07 opened #5585 "Preload Dlls and mono.wasm on build"
The way things are currently loaded is mono.wasm first, then after it is processed the dlls get loaded and processed. After all of this is done the application will finally render in the browser. As a result the initial load is quite slow (for me its been around 4s on a fast computer with a good internet connection). The initial page load performance can be greatly improved simply by adding a prel

[2018-08-30 22:29] ddobric opened #6025 "AzureADB2CBearer support for dynamic validation of issuers and audiences"
When implementing WebApi, we have often requirement to dynamically validate issuers and/or audiences. With JwtBearer we could do it as shown below:

[code]

The question is, how to do the same with **AzureADB2CBearer** ? Looking for handlers like IssuerValidator and AudienceValidator.

My API does not really care about AAD v2 or v2. It just needs a token as it is. I have tried with the more or les

[2018-08-30 22:55] Kizmar commented on #3474
I ran into the same issue when I tried to publish then kept seeing it after that. Uninstalling SDK 2.1.401 fixed it for me. I still have 2.1.400 installed.