[2019-06-07 19:37] isaac2004 commented on #3755
@natemcmaster totally understand and I get the reasoning, just needs to be well documented or there are going to be a ton of issues opened up upon the initial 3.0 release where people say `dotnet new webapp --auth Individual` doesn't build.

[2019-06-07 19:46] #10473 closed

[2019-06-07 19:57] defend commented on #10696
I have faced with the next exception, which was thrown by a parallel access to an observable collection from a render thread and an another thread (async task). Invoking the concrete part (which was updating this collection) of the async task in the render thread helped to resolve the issue. Dont sure about connection between these issues, but it has the same behaviour(it happens very rarely).
But

[2019-06-07 20:36] clayellis commented on #6783
I'd be glad to give some feedback — pick a time that week? My schedule is pretty flexible so I'll work around yours.

[2019-06-07 20:36] mmiller678 opened #11001 "ConfigureTestServices and ConfigureTestContainer is never called when using TestServer"
I am can't get any of the Test extension method on WebHostBuilder to work.  I looked thru the source and have tried a bunch of difference configurations but I can't get the ConfigureTestContainer or ConfigureTestServices actions to ever run when creating a TestServer instance.  I am using Aufofac (not in the below example as I tried to keep this as simple as possible) but even the exact code from

[2019-06-07 20:59] JamesNK commented on #10886
It is valid.

https://httpwg.org/specs/rfc7540.html#rfc.section.8.1

The primary gRPC implementation (C-core) does this.

![image](https://user-images.githubusercontent.com/303201/59133241-76711680-89cb-11e9-99b6-51949514afc7.png)

![image](https://user-images.githubusercontent.com/303201/59133317-b2a47700-89cb-11e9-9b14-5eb7aa081f45.png)

[2019-06-07 21:48] brockallen commented on #7734
ha, check the logs! :P

[2019-06-07 21:51] anurse commented on #10978
How would this affect a customer?

[2019-06-07 21:51] anurse commented on #10980
Can you post sample code that reproduces the issue? The `Context` property *should* be accessible in `OnConnectedAsync`, but it **would** be null in the constructor.

[2019-06-07 22:15] NTaylorMullen commented on #10895
@SteveSandersonMS I marked this as done, if you could close this once you've verified everything on your end now works that'd be great!

[2019-06-07 22:15] WBarge opened #11005 "Add logging for controller creation"
I am seeing a slow down in the processing of a request before it is handed over to the controller.
if you look in the log you will see 1.6sec time elapse between "Execution plan of "result" filters" and "Attempting to bind parameter" (timestamp 2019-06-07 14:45:36.810 -07:00 in the log below)

My logic is taking 58.2462ms. per the logs which is ok but over all the request is taking 1759.5546ms

he

[2019-06-07 22:17] NTaylorMullen commented on #10942
Yup, already have an email thread where @bhsubra / @ToddGrun are taking a look.

[2019-06-07 22:20] HaoK commented on #3774
First issue, after changing `DataProtection` to netstandard 2.0, there's an issue since it references `Microsoft.Win32.Registry` which isn't in the shared framework

@natemcmaster @blowdart ideas?

[2019-06-07 22:23] Tratcher commented on #11001
Remove StartupBase, I don't think these work with StartupBase or IStartup.

[2019-06-07 22:27] #8533 closed

[2019-06-07 22:37] Tratcher commented on #7734
😁 Fair. The spec suggests setting error_description too.

[2019-06-07 22:51] HaoK commented on #3774
Identity also has an issue, where a fairly recent PR added usage of a netcore API in passwordhasher here:

https://github.com/aspnet/AspNetCore/pull/9798/files

[2019-06-07 23:05] arivoir commented on #10912
Hi @mkArtakMSFT

In that case I am probably facing a bug, or design problem. Let me explain it in detail.

Every cell of the grid will return a RenderFragment. What's inside the fragment will depend on the kind of cell, it could be provided by the grid itself, or by a customer that provided a different render fragment for a specific cell, for instance normal cells will return just a text, headers

[2019-06-07 23:06] natemcmaster commented on #3774
What's the error you are seeing? If my hunch is right, you just need to add Microsoft.Win32.Registry to this list: https://github.com/aspnet/AspNetCore/blob/d3d6e0e7090ae4a45e9e616e92f3395650471436/eng/SharedFramework.External.props#L82-L91

[2019-06-07 23:22] HaoK commented on #3774
Ah nice, yeah looks like I needed to add all 3 of the ones in the netcoreapp3.0 group:
[code]

That gets things to the main thing we need to resolve DP depending on `Hosting.Abstractions` which is netcoreapp3.0 for things like IStartupFilter

[2019-06-07 23:50] ajaybhargavb commented on #10798
Verified runtime and VS

[2019-06-07 23:50] #10798 closed

[2019-06-07 23:52] NTaylorMullen commented on #10798
Yup, and I had verified in VS Code

[2019-06-07 23:53] brockallen commented on #7734
yea, we always err'd on the side of trying to expose less info. but fair point.

[2019-06-07 23:55] natemcmaster opened #11009 "NegotiateHandlerFunctionalTests fails on Helix Win7 and Win8"
src\Security\Authentication\Negotiate\test\Negotiate.FunctionalTest\Microsoft.AspNetCore.Authentication.Negotiate.FunctionalTest.csproj

This project was added a couple weeks ago, but never actually ran successfully on Helix due to it's project name not matching expected test name conventions until https://github.com/aspnet/AspNetCore/pull/10674.

cc @Tratcher

[2019-06-08 00:27] #10575 closed

[2019-06-08 00:37] natemcmaster commented on #10963
Resolved in https://github.com/aspnet/AspNetCore/commit/41ce223c1cf4ffd482c4ea36e88ed44a94db37b3

[2019-06-08 00:37] #10963 closed

[2019-06-08 01:11] Mercurial commented on #9577
Thanks for the work around!

[2019-06-08 01:20] ajaybhargavb opened #11011 "Non-directive attribute event handler shows error during design time"
Passing in a void method to a regular `onclick` attribute shows an error during design time,
![image](https://user-images.githubusercontent.com/1579269/59140305-99aab000-8950-11e9-91d6-3d55433398a2.png)
![image](https://user-images.githubusercontent.com/1579269/59140309-a7f8cc00-8950-11e9-9457-5e57aad07c9b.png)

It works in runtime.

Also using a directive attribute works,
`<button @onclick="@Acti

[2019-06-08 01:36] JamesNK commented on #10886
Here are 3 scenarios around deadline, and what C-core does in each:

1. **Server exceeds deadline without writing headers.** Initial state is nothing has been written. On deadline C-core will send trailers and headers back together in one HEADERS frame. The frame has END_STREAM=true. The RST_STREAM NO_ERROR is also sent.

2. **Server exceeds deadline after writing headers.** Initial state is HEADE

[2019-06-08 01:45] JamesNK commented on #10886
Proposal (high-level, name and shape TBD):
* `CompleteAsync()` - Like FlushAsync() but will force trailers to be sent. It will also cause the last frame to have END_STREAM=true set on it. The current Response.BodyWriter.Complete is not enough because we need to wait for it to finish. After `CompleteAsync` is finished then abort would be called to send RST_STREAM.
* `AbortHttp2Stream(Http2ErrorCode

[2019-06-08 01:53] isaac2004 commented on #10883
@danroth27 is this for all the blazor templates?

[2019-06-08 02:23] mjsabby opened #11012 "Support for TCP Fast open in Kestrel"
[TCP Fast Open](https://en.wikipedia.org/wiki/TCP_Fast_Open) ([RFC 7413](https://tools.ietf.org/html/rfc7413)) is an extension to the TCP protocol.

Recent versions of Windows and Linux both support TCP Fast Open.

It'd be nice if we could put this on the Kestrel roadmap.

[2019-06-08 02:38] benaadams commented on #11012
Would need Fast Open support on corefx sockets https://github.com/dotnet/corefx/issues/16375 or SetRawSocketOption https://github.com/dotnet/corefx/issues/37122 as currently the PAL layer throws

[2019-06-08 02:40] benaadams commented on #11012
You can get around it by operating on the socket handle directly; but its not a great approach: https://github.com/benaadams/AspNetCore/blob/16ffdba0e4eee5c91d81ba0069062cb3aaf7d8d0/src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs#L366-L381

[2019-06-08 04:12] Tratcher commented on #11009
Note to self: Most of the failures we saw could be attributed to HTTP/2 specific tests and those platforms not having ALPN. Those test can be skipped on those OS versions.  However, more tests were failing on Win7 than on Win8, and these additional tests did not give a clear error message. I'll need to debug those and see why.

[2019-06-08 04:19] Tratcher commented on #10886
Something else that came up when James and I discussed this is that the GRPC handler will manage the synchronization such that the timeout code path and the normal response code path are never trying to write headers, trailers or body at the same time.

[2019-06-08 04:41] Fabian-at-VertiQ commented on #9035
Debugging in Chrome was working fine until I updated my project to use the Microsoft.AspNetCore.Blazor 3.0.0-preview5-19227-01 version.
Anybody having the same issue?

[2019-06-08 05:16] Mike-E-angelo opened #11013 "Blazor Default Server-Side Template Uses Deprecated app HTML Tag"
### Describe the bug
The default server-side Blazor template appears to include a deprecated HTML5 tag: the `app` tag.

### To Reproduce

1. Create a server-side template
2. Navigate to `~/Pages/_Host.cshtml`
3. Deprecated `app` tag should be on line `25`.

### Expected behavior
Something besides an `app` tag or no `app` tag at all. 😊

Perhaps `<div class="application">...</div>` ?

### Additional

[2019-06-08 05:58] datvm commented on #5456
Sorry if off-topic, is there anyway to live reload from Visual Studio right now (Blazor client-side)? Right now for every change excluding wwwroot files, I have to Build the project (Ctrl Shift B) and reload the browser. Would be wonderful if VS can auto build on saving changes.

[2019-06-08 08:42] egil opened #11014 "Parameter set during constructions isn't included in SetParametersAsync(ParameterCollection parameters)"
### Describe the bug
When a `[Parameter]` in a component is set during construction, it isn't included in the `ParameterCollection` in `SetParametersAsync`. I think that it should, to keep things consistent between initial call to `SetParametersAsync` during first render and subsequent calls when parameters are changed.

### To Reproduce
This .razor component show that `Param` is missing in `param

[2019-06-08 09:52] egil commented on #11014
It has been pointed out to me that the point of the [ParameterCollection](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/ParameterCollection.cs#L11) is to...

In that case my use case is probably not appropriate for `SetParametersAsync`.

[2019-06-08 09:52] #11014 closed

[2019-06-08 09:55] dcga commented on #1528
Could you add me on gitlab please?
**dcga**

[2019-06-08 12:04] 3x0dv5 commented on #9035
@Fabian-at-VertiQ that seems to be in line with my issue. I do remember seeing it working a few months ago, and now I am using preview5 and seeing the problem. Looks like we have to wait a bit more, but will be worth it :)

[2019-06-08 13:34] egil opened #11015 "Constructor in Razor components wrongly recognized as a method - results in design time error"
### Describe the bug
When a constructor is added to `@functions{}` the Razor editor thinks its supposed to be a method and reports an error, even though the code compiles without problems and runs correctly.

### To Reproduce
Steps to reproduce the behavior:
1. Using 3.0-preview5 and Visual Studio 16.2.0 Preview 1.0
2. Create Razor file named "ErrorWithConstructor.razor"
3. Add the following code

[2019-06-08 16:22] Mike-EEE commented on #9860
I'm a traditional Xaml developer and can say that most Xaml developers are turned off by HTML syntax.  Pascal-case brings a lot of authority and elegance to symbols, IMO. Plus it's consistent with C# and VB.NET, of course.

That said, Blazor's syntax has a lot going for it.  I think the more Pascal-case you bring to the table, the more adoption -- and perhaps, less complaining 😆 -- you're going to

[2019-06-08 21:33] marcelltoth opened #11016 "ResponseCache sometimes reorders [FromQuery] array / List parameters depending on the Cache-Control header"
### Describe the bug
I have an endpoint where I pass multiple int parameters, like: _https://some.origin/testEndpoint?ids=21&ids=31&ids=1_
I applied a `ResponseCacheAttribute` to it.

For some reason if the agent calls with `Cache-Control: max-age=0` (chrome does so after a regular F5) my action method gets called, but the argument array contains the arguments in a different order.

Calling with `

[2019-06-08 21:35] #9901 closed

[2019-06-08 21:37] pranavkm commented on #10307
Fixed as part of https://github.com/aspnet/AspNetCore/commit/d935ea2d2553d48887b968638726470adf0c2b3c

[2019-06-08 21:37] #10307 closed

[2019-06-08 23:10] springy76 commented on #10889
@DNF-SaS : @KP-WhatEver made a repro for this? Where?

[2019-06-08 23:24] DNF-SaS commented on #10889
It's here: https://github.com/DNF-SaS/BlazorServerDeadlock
But I'm not able to provocate the described deadlock from the OP using the repo. :-(

[2019-06-08 23:39] JosephGarrone opened #11017 "Runtime compilation of Blazor Components"
Similar to the `XamlReader.Load` method for WPF applications, it would be handy to be able to build Blazor Components on the fly.

A simple solution would be allowing `RenderTreeBuilder` to be passed a Blazor Component as string via a `Load` method or similar.

Given the ability for `RenderTreeBuilder` to currently render dynamic HTML via opening/closing tags etc and also render Blazor Components

[2019-06-09 00:30] rynowak commented on #11011
I think there's an interesting question about whether we want to remove the support to do *raw* event handlers without using `EventCallback`.

We didn't do any work to block this, and it was there in the past. @SteveSandersonMS thoughts? This would entail removing a bunch of overloads/extensions on RenderTreeBuilder.

I'm tempted to leave it because it doesn't seem harmful. @ajaybhargavb what's th

[2019-06-09 00:46] marcelltoth commented on #11016
Okay, so **I think I figured out what's going on here**, and it is a nasty one:

Look at these innocent looking lines from _ResponseCachingMiddleware_'s [ResponseCachingKeyProvider.cs](https://github.com/aspnet/AspNetCore/blob/4683b077da3ae8ddfbe238b4bc23e186147d8f99/src/Middleware/ResponseCaching/src/Internal/ResponseCachingKeyProvider.cs#L177-L184)

[code]
Looks all safe and fun, `StringValues`

[2019-06-09 01:09] rynowak commented on #11005
The obvious thing to suspect here is that there's some expensive work happening inside the controller creation part of the pipeline. Does your controller depend on things that are expensive to create?

This is the code that does the logging here:  https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/Infrastructure/ResourceInvoker.cs#L161
Then the controller is created: https://git

[2019-06-09 01:09] rynowak commented on #11005
It looks like it would be beneficial for us to add logging around controller creation.

[2019-06-09 01:37] ztytotoro commented on #10363
Yes

[2019-06-09 01:55] hishamco commented on #7756
@ryanbrandenburg I think we need to close this while it's already done

[2019-06-09 01:56] hishamco commented on #6909
@ryanbrandenburg I think this is answer and need to close

[2019-06-09 02:16] davidfowl commented on #10363
Can you print out the console when you start the application? That will show what the application root is inside of the container. Look at that path in the container to see if the appsettings.json file is there.

[2019-06-09 02:38] DCCoder90 opened #11019 "Application Hangs when querying Roles or Userroles"
### Describe the bug
Querying for UserRoles or Roles then enumerating the results causes the application to hang.  No exceptions are thrown.

### To Reproduce
Steps to reproduce the behavior:
1. Running Asp.net Core 2.2
2. Add the following to the ConfigureServices method in Startup.cs

[code]
3. Seed database with roles, users, and userroles
4. Run the following elsewhere in the application

[cod

[2019-06-09 02:39] DCCoder90 commented on #11019
Related SO question: https://stackoverflow.com/questions/56511457/requesting-userroles-or-roles-hangs

[2019-06-09 02:40] danroth27 commented on #5456
@datvm We've enabled this for server-side Blazor projects, but we need to do some work to enable this again for client-side Blazor projects and Razor class libraries. It will probably be a bit before we get to this as we are focused right now at shipping .NET Core 3.0.

[2019-06-09 03:29] danroth27 commented on #10883
@isaac2004 Thank you for offering to help out! Please hold off for a bit though, as there is some debate how we want to do this.

[2019-06-09 05:09] danroth27 commented on #5330
@kevinjpetersen The authentication support we are adding for Preview6 is based on ASP.NET Core Identity. When the user logins in, their identity is established using a cookie, which will survive browser refreshes and closing/opening tabs.

[2019-06-09 05:17] ststeiger commented on #1528
@dcga: Added.

[2019-06-09 05:18] danroth27 commented on #10878
[project.assets.zip](https://github.com/aspnet/AspNetCore/files/3269241/project.assets.zip)

[2019-06-09 08:25] shahabganji commented on #5385
I have the same issue using `2.2`

Backend:

[code]

Error message:

![signalr](https://user-images.githubusercontent.com/4405518/59156730-76e5dc00-8ab5-11e9-8275-5cb403bd1c8d.jpg)

Any updates on this?

[2019-06-09 09:03] shahabganji commented on #5385
I changed my client code from

[code]
to this one

[code]

and the negotiation becomes successful but after some milliseconds it throws another error:

the response headers are as follows after the change:

[code]

[code]

[2019-06-09 10:44] dazinator commented on #5456
For client side, you can probably use anything that just does a full page refresh when something changes on the server. Shameless plug: check out NetPack - run the sample project and navigate to the /BrowserReload example:  https://github.com/dazinator/NetPack/blob/develop/src/NetPack.Web/Views/Home/BrowserReload.cshtml - that might help you. If not, there are other solutions out there for trigger

[2019-06-09 10:50] LaterStart opened #11021 "Method not found: 'Microsoft.EntityFrameworkCore.Metadata.Builders.IndexBuilder Microsoft.EntityFrameworkCore.Metadata.Builders.EntityTypeBuilder`1.HasIndex(System.Linq.Expressions.Expression`1<System.Func`2<System.__Canon,System.Object>>)'."
Hi,

I'm experiencing this error while trying to add initial migration on EF core, on the project that
implements custom inherited IdentityDbContext. Project implementing inherited DbContext works fine.

### Custom IdentityDbContext:
[code]

**Custom IdentityUser**
[code]

**Executing 'Add-migration Initial' result:**
[code]
Project dependencies:
![Untitled](https://user-images.githubusercontent.c

[2019-06-09 11:01] datvm commented on #5456
Thanks for the solution, may actually be useful for someone else. For me it will just be a QoL improvement, nothing critical. Still love the product and the effort everyone is putting in. Extra pressing of Ctrl Shift B works for me (now).

[2019-06-09 11:27] kevinjpetersen commented on #5330
danroth27 Amazing! Can’t wait for Preview 6 😊 Thanks for taking the time to answer my questions! :)

[2019-06-09 11:28] kevinjpetersen commented on #5330
@danroth27 Amazing! Can’t wait for Preview 6 😊 Thanks for taking the time to answer my questions! :)

[2019-06-09 11:32] LaterStart commented on #11021
Problem solved. It was problem with Microsoft.AspNetCore.Identity.EntityFrameworkCore version issue, matching Microsoft.AspNetCore.Identity version instead of platform version.

Updated dependencies list:
![Untitled](https://user-images.githubusercontent.com/39437117/59158480-10fc5300-8abb-11e9-9e74-81a36dd4ae93.png)

[2019-06-09 11:32] #11021 closed

[2019-06-09 12:42] isaac2004 commented on #10883
@danroth27 sounds good let me know. I have been closing out the open template issues and thoughts this was a high priority one.

[2019-06-09 15:54] davidfowl opened #11022 "Change namespace of StaticWebAssets extension method"
It should be under the Microsoft.AspNetCore.Hosting namespace.

[2019-06-09 15:55] davidfowl commented on #11022
cc @mkArtakMSFT

[2019-06-09 16:46] #3486 closed

[2019-06-09 20:31] NovichikhinAlexey commented on #10338
@UltWolf I solve this problem after i update SDK to 3.0.100-preview5-011568.
Please try update

[2019-06-09 21:41] Andrzej-W commented on #11011
@rynowak Does *raw* event handler mean *call JavaScript code directly*? If yes, we need this. Look here https://github.com/aspnet/AspNetCore/issues/5545#issuecomment-469748054 "Design" section , example with `conditionallyStopPropagation` function and example with `blockDigits` function.

[2019-06-09 21:49] cjaliaga commented on #9466
In case of resolving `IOptions<HttpBufferingOptions>` in the `EnableRewing` method we could get the it from the request itself `request.HttpContext.RequestServices.GetRequiredService<IOptions<HttpBufferingOptions>>().Value` but, what about the `EnableRewing` for `MultipartSection`?
https://github.com/aspnet/AspNetCore/blob/425c196cba530b161b120a57af8f1dd513b96f67/src/Http/Http/src/Internal/Bufferi

[2019-06-10 00:16] CesarD commented on #8134
In my case, I experienced this error on Azure App Service.
My problem was that I was compiling the web app in x64 because I read in one of the Azure App Service that the OS was 64bits, but what I took long to realize (and it was shown in less detail, but shown nonetheless), was that the IIS PROCESS on Azure App Service was being run in 32 bits. Thus, the assembly was not valid and that caused this

[2019-06-10 01:46] zengqinglei opened #11025 "An exception occurred: application never completed"
### Describe the bug
When I run the application using the framework [Creekdream.AspNetCore](https://github.com/zengqinglei/Creekdream.AspNetCore), when I request the interface, I get an exception: application never completed, but I don't know what caused this problem!

**exception :**
[code]

**I hope that you can give me a few comments to locate the problem and solve it?**

[2019-06-10 03:35] Tratcher commented on #9466
That MultipartSection EnableRewind extension is one I hadn't noticed, I wonder where it's used. It already takes `Action<IDisposable> registerForDispose` because it doesn't have direct access to HttpContext, so adding an overload that took the same `Func<string>` as FileBufferingReadStream would work. And yes, the `Func<string>` factory on those types is fine, the caller can get the options for th

[2019-06-10 03:37] Tratcher commented on #9466
Those code paths will continue to use the old, static behavior. We can slowly obsolete and remove them.

[2019-06-10 03:57] Worthy7 opened #11026 "MicrosoftAccount to take parameters"
### Is your feature request related to a problem? Please describe.
I am trying to using MicrosoftAccount authentication but I need to force the user to select their account using the `prompt=select_account` parameters.

### Describe the solution you'd like
When issuing a `Challenge` from the server, allow parameters to be added:
`properties.Parameters.Add("prompt", "select_account");`
This works w

[2019-06-10 06:26] davidfowl commented on #8134
It would be great to have more details instead of such a generic message.

That's being fixed.

cc @jkotalik

[2019-06-10 08:27] SamProf opened #11027 "Blazor separate Components and Html-tags at syntactic level"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example. I'm am trying to do [...] but [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considere

[2019-06-10 08:28] #11027 closed

[2019-06-10 08:34] #8235 closed

[2019-06-10 09:52] matthewblott commented on #10078
I can confirm this is an issue, glad to see it's being worked on :-)

[2019-06-10 09:53] qqbuby opened #11030 "Make ScriptTagHelper process asynchronous"
[code]

[2019-06-10 10:51] astecenko commented on #10878
As you set the SDK preview 6?
On the site I only see the preview 5 only

[2019-06-10 11:00] ichensky opened #11031 "[blazor] json deserialisation takes too much time"
Simple client side blazor application, that should work offline:
1. After starting blazor client app loads `json` with data from server/cache.
2. Blazor client app begin deserialize this `json`.
And the bigger this `json` the longer it will take to deserilize it.

The idea: provide set of methods for marshalization C# objects between  server and client.
For ex. server read data(for ex. from `json`

[2019-06-10 11:02] bjorn-ali-goransson opened #11032 "Adding HTTP header with empty string value yields confusing error"
### Describe the bug
Some legacy code in .NET Framework has an HTTP header with an empty string as value. When porting the same code to .NET Core, the exception System.ArgumentException: 'Value does not fall within the expected range.' is thrown.

### To Reproduce
Steps to reproduce the behavior:
1. Using a blank project with ASP.NET Core 2.2
2. Run this code (replace the WriteAsync Hello World):

[2019-06-10 12:41] cjaliaga commented on #9466
I've seen that it's used in the `FormFeature` where we have access to the HttpContext via request, so it should be fine.

https://github.com/aspnet/AspNetCore/blob/4c79e7fdc017be6ec578f2098168d2646d1cd48d/src/Http/Http/src/Features/FormFeature.cs#L186-L188

I'll work on this and open a PR. Will follow-up if I have any question.

[2019-06-10 13:06] stavroskasidis commented on #5071
Why not use this syntax to avoid conflicting with the directive attributes

`<div a="ABC" @(values)></div> `

I don't think it gets clearer than that IMO.

[2019-06-10 13:37] generik0 commented on #10983
@Tratcher copy the code?
You mean i can do an override of one of the methods calling EnsureCookieTicket that is calling ReadCookieTicket where the code you have is.

I can not simply copy the code to the RedirectToLogin, as the cookie is already gone..

Isn't there a method that CookieAuthenticationHandler that handles the expired cookie?

[2019-06-10 14:08] rynowak opened #11034 "Blazor build should fail noisily if required files are missing"
The experience is pretty poor right now when the Blazor build can't produce all of it's required files.

For one of the users in our workshop, his antivirus was deleting `blazor.boot.json` (or preventing it from being written). This made parts of our build no-op and made his site fail to load.

He was using https://www.comodo.com/home/internet-security/security-software.php

[2019-06-10 14:39] arivoir opened #11035 "Why EventCallback instead of normal c# events?"
I'm trying to expand a suite of cross-platform controls to Blazor. I was working on the properties and achieved a good degree of reutilization, but I'm having trouble to share events between platforms, because Blazor doesn't have any support for c# events, instead it uses EventCallback. I think normal events would work just fine, I don't see any reason to force the usage of EventCallback. Can you

[2019-06-10 14:40] anurse commented on #11032
Native exceptions like this a converted from error codes returned by the native code. The error code returned here is `E_INVALIDARG`, which gets converted to this generic argument exception (because the code is all we have to go on).

One thing we could do is "pre-check" the argument and throw a more useful `ArgumentException` with a message (like `Header value cannot be an empty string`) **before

[2019-06-10 14:45] anurse commented on #11025
This generally occurs if you have code in your middleware pipeline that isn't properly returning or forwarding on to the next middleware.

Can you post a runnable sample project that reproduces the issue? If you can't reduce it to a simple project to reproduce the issue, please post your complete `Startup.cs` class and more of the logs surrounding this error, so we have the full context.

[2019-06-10 14:49] anurse commented on #11012
As @benaadams said, we're blocked waiting on support from corefx here. Putting this on the backlog until we get support.

[2019-06-10 14:49] anurse commented on #10926
Perhaps this belongs in Extensions (`area-logging`)?

[2019-06-10 14:50] anurse commented on #10925
Assigning to `area-mvc` then, since that's what the casing change was in. Feel free to ping me to re-evaluate.

[2019-06-10 14:52] anurse commented on #11016
Closing in lieu of aspnet/Extensions#1813 then. Further discussion can move there. Thanks!

[2019-06-10 14:53] anurse commented on #10714
MikLabeller wants to put this in `area-mvc` :). Not sure where "MusicStore" belongs, but 🤷‍♂. Also sounds like @smitpatel is on the case, so maybe it doesn't matter as long as we know what the fix is.

[2019-06-10 14:54] anurse commented on #10604
It's possible to list these in XML doc comments (`<exception>` node) but nothing enforces it. I don't think this has value given that .NET has no mechanism to support it (and as @Eilon says, this is a an intentional decision and generally something we agree with).

[2019-06-10 14:54] #10604 closed

[2019-06-10 14:55] anurse commented on #10597
Dispatching this to `area-infrastructure` for now since it's cross-cutting. We're working through this in a series of meetings.

[2019-06-10 14:57] anurse commented on #10531
Automating this conversion is a huge amount of work and wouldn't be very reliable since WebForms is a very complicated product. Closing since we don't have plans to do this and @Eilon posted some resources.

[2019-06-10 14:57] #10531 closed

[2019-06-10 14:59] anurse commented on #10072
Closing this as we haven't heard from you and generally close issues with no response. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-06-10 14:59] #10072 closed

[2019-06-10 15:00] anurse commented on #9401
Apparently we forgot :). @sebastienros are we still seeing this regression across all scenarios in our current builds?

[2019-06-10 15:03] anurse commented on #9700
There is this documentation on [host vs. app configuration](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.2#host-vs-app-configuration) furthur up the page. It might be a good idea to link that in the below section you cited though.

[2019-06-10 15:05] mkArtakMSFT commented on #11035
Thanks for contacting us, @arivoir.
The reason is that with events developers would need to own logic to unregister their events when necessary, which is relatively hard problem, and people usually just don't do that. That would result in resources not being reclaimed properly and server memory would grow.
`EventCallback` solves that problem and we do the needful behind the scenes.

[2019-06-10 15:05] #11035 closed

[2019-06-10 15:05] mkArtakMSFT commented on #11035
@rynowak is there anything else to add here?

[2019-06-10 15:07] anurse commented on #9700
I filed https://github.com/aspnet/AspNetCore.Docs/pull/12775 to clarify this documentation.

[2019-06-10 15:08] Tratcher commented on #10983
Cookies expire in two ways.
1) There is a timestamp encrypted in the cookie that is checked in the code I linked above. These cookies are present on the request but do not populate the ClaimsIdentity. You can still read these cookies manually by calling Options.CookieManager.GetRequestCookie and Options.TicketDataFormat.Unprotect yourself.
2) The timestamp in the standard cookie format. This is en

[2019-06-10 15:13] arivoir commented on #11035
I see your point. I need to think more on this. Thanks for you reply.

[2019-06-10 15:18] VaclavElias opened #11036 "rzc discover exited with code 1"
This is just for a reference, not sure if it is an issue or cross referencing. My application build started to fail when I added my TagHelper class library. This is working in 2.2.

### Describe the bug
Build fails on this error: **rzc discover exited with code 1**

### Other Info
Error: rzc discover exited with code 1.
C:\Program Files\dotnet\sdk\3.0.100-preview5-011568\Sdks\Microsoft.NET.Sdk.Raz

[2019-06-10 15:26] saluce65 opened #11037 "Unable to create custom SignInManager in class library"
I'm trying to create a custom `SignInManager` in a class library, where I'm overriding the `CheckPasswordSignInAsync` method to use LDAP password check rather than using the database (however, otherwise user information and claims are stored in the database by default).

In .NET Core 2.2, this was a trivial task: all I needed to do was add `Microsoft.AspNetCore.Identity 2.2.0` to the library and d

[2019-06-10 15:27] benaadams opened #11038 "[CI Helix] Microsoft.AspNetCore.Identity.FunctionalTests fail with user limit (128) on the number of inotify instances has been reached"
On Helix Microsoft.AspNetCore.Identity.FunctionalTests are failing with

[code]

Seen in https://github.com/aspnet/AspNetCore/pull/9359 and https://github.com/aspnet/AspNetCore/pull/10319

/cc @rynowak as you were participating in https://github.com/dotnet/corefx/issues/32024 around a similar issue

[2019-06-10 15:28] Tratcher commented on #10886
Note: CompleteAsync isn't HTTP/2 specific, it could equally apply for HTTP/1.1 chunked responses with or without trailers.
- For Content-Length responses it would throw if the exact content-length was not already sent. (HTTP/1 and 2)
- Assuming we provide an HttpResponse extension method wrapper for this feature, what should it do if the server does not implement CompleteAsync? FlushAsync makes a

[2019-06-10 15:32] pamedasa opened #11039 "Fallback support for unsupported api version in asp.net core"
I am looking for feature to fallback to last recent api version when request made through un-supported api version. Let's say web layer is expsosing V1, V3 & V4 versions. If request was made through V2 version, then how to redirect request to V1 instead of throwing error message saying "Unsupported api version."

[2019-06-10 15:35] anurse commented on #11038
https://github.com/aspnet/AspNetCore-Internal/issues/2648 is also tracking this (our automation files bugs for flaky/failing tests in AspNetCore-Internal, which does have the problem of being invisible to external contributors ;)). Leaving this open though since it's public and the other issue isn't.

[2019-06-10 15:38] davidfowl commented on #11039
Gave you looked at https://github.com/microsoft/aspnet-api-versioning/wiki/New-Services-Quick-Start#aspnet-core

[2019-06-10 15:40] anurse commented on #9192
@Penergy are you still seeing this issue? Do you have further questions on how to resolve this?

[2019-06-10 15:42] anurse commented on #8644
Closing this as we haven't heard from you and generally close issues with no response. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-06-10 15:42] #8644 closed

[2019-06-10 15:43] arivoir commented on #11035
Let me give details a scenario I have in mind.

I have a grid control whose columns are generated automatically from the source, which is set through a property named "ItemsSource"

`<Grid ItemsSource="@someItemsSource"/>`

I want customers to have an event AutoGeneratingColumns, which will be triggered for each columns, and where customers will be able to customize every column.

If I think in th

[2019-06-10 15:43] anurse commented on #8308
Is anyone still using this issue? I know we have some sub-issues filed for key areas (SignalR, etc.) but do we still need this issue? @mkArtakMSFT @pranavkm @rynowak @davidfowl

[2019-06-10 15:43] pamedasa commented on #11039
Yes, I looked at https://github.com/microsoft/aspnet-api-versioning/wiki/API-Version-Selector. Here configuration options are available to pick either maximum version (or) minimum available version. Instead of is there to fall back to nearest lower version through http request re-routing?

[2019-06-10 15:45] davidfowl commented on #8308
Can we link them here? I'd like an uber tracking issue.

[2019-06-10 15:45] blowdart commented on #11037
@DamianEdwards another side effect of 3.0.

@HaoK is it feasible to move identity targetting?

[2019-06-10 15:45] BrennanConroy commented on #10766
Correct, that will always be the case.

What are you trying to do exactly? Is observing the `HubException` twice an issue?

[2019-06-10 15:47] anurse commented on #8226
The most common cause of this is thread-pool starvation. Do you ever block threads using code like `Task.Wait()`, `Task.Result` or calling `.GetAwaiter().GetResult()` instead of `await`ing asynchronous operations? Those operations freeze the thread-pool threads, meaning there are no threads left to service queued work.

I'd also suggest looking at [this article on diagnosing thread-pool starvation

[2019-06-10 15:48] anurse commented on #7744
Closing this as we haven't heard from you and generally close issues with no response. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-06-10 15:48] #7744 closed

[2019-06-10 15:49] HaoK commented on #11037
not really, sign in manager is heavily coupled to the Http Authentication stack (its basically some sugar on top of a series of cookies)

[2019-06-10 15:49] BrennanConroy commented on #6942
Closing as there hasn't been an issue since https://github.com/aspnet/AspNetCore/pull/10990 was merged

[2019-06-10 15:49] #6942 closed

[2019-06-10 15:50] BrennanConroy commented on #4167
This should be fixed by https://github.com/aspnet/AspNetCore/pull/10990

[2019-06-10 15:50] #4167 closed

[2019-06-10 15:51] blowdart commented on #11019
Does the SO comment not help? You should be using the stores rather than querying through context, although I would have expected context to work.

Is it only roles? Does the claims enumeration work?
Where is "elsewhere" in your application?

[2019-06-10 15:52] davidfowl commented on #10886
That question makes it unfit to go onto HttpResponse.

[2019-06-10 15:54] blowdart commented on #10975
@sebastienros how are you handling this in Orchard?

@jeffputz We don't aim to be a multi-tenant solution unfortunately, but we try not to hinder. @Tratcher didn't you have an example around this?

[2019-06-10 15:54] BrennanConroy commented on #10701
Took a look at this and your analysis is correct

The team will discuss this and decide on whether we can do anything here.

On a side-note, it's probably not a good idea to have your client send a message every millisecond if it takes the server 2 seconds to process the message.

[2019-06-10 15:54] anurse commented on #7531
Can anyone provide a runnable sample project that reproduces this issue? That would help us diagnose this. It looks like something in config is still registering file system watchers. We do also have the `appsettings.[environmentName].json` file, which may be listed for refresh even if you disable the `appsettings.json` file refresh. Using the environment variable should be disabling inotify-based

[2019-06-10 15:56] anurse commented on #7281
FYI: an update on current status. We're **in** `source.dot.net` now (for example [`HttpContext`](https://source.dot.net/#Microsoft.AspNetCore.Http.Abstractions/HttpContext.cs,9bde6e3833d169c1)) but we aren't cross-linked with other people in that site. For example `HttpContext.Items` is a dictionary and the `IDictionary<object, object>` isn't clickable to jump over to the definition despite it bei

[2019-06-10 15:56] blowdart commented on #10970
We've thought about this before, but in reality you're not logging in through the external provider, but you are instead using the external provider to lookup users in your identity database, and then login through identity. It'd be an untruth to flag such logins as coming from Facebook, or Google, because the identity user database overrides, augments and changes any claims from the external prov

[2019-06-10 15:58] anurse commented on #7180
I'm not sure this is terribly helpful without a specific set of things or an area to look in. Otherwise it just sits in our dispatch queue waiting for someone to assign an area label. I actually propose closing this until we have specific structs that are causing problems. Alternatively we could apply the `area-infrastructure` label. Thoughts @JamesNK @davidfowl @Pilchie ?

[2019-06-10 16:00] anurse commented on #6167
Closing this as we haven't heard from you and generally close issues with no response. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

Also, as @Eilon mentioned, .NET Core 1.1 is now out of support. If you still see this issue in a supported version of .NET Core, let us know!

[2019-06-10 16:00] #6167 closed

[2019-06-10 16:01] anurse commented on #5145
Closing as ANCMV2 is now supported on App Service

[2019-06-10 16:01] #5145 closed

[2019-06-10 16:02] #4417 closed

[2019-06-10 16:02] anurse commented on #8308
I believe the ones that exist are all linked. I don't expect we'll have resources to go through ones that don't already have issues listed.

[2019-06-10 16:04] anurse commented on #4347
Apologies for the delayed response @kwefah. Can you post a runnable sample project that reproduces the issue?

[2019-06-10 16:04] jeffputz commented on #10975
@blowdart That's fair, I don't expect the framework to implement multi-tenancy, it's just that the current pattern makes it very difficult and it does hinder. I've been working in SaaS the last few years, and multi-tenancy it's not only common, it's the primary use case. 😁

As for the "opinionated" part, you're not kidding. I'm not sure I would celebrate that as a good thing. Just trying to separa

[2019-06-10 16:04] anurse commented on #4014
Closing as we don't plan to support .NET Standard in ASP.NET Core 3.0.

[2019-06-10 16:04] #4014 closed

[2019-06-10 16:06] pranavkm commented on #8308
Feel free to close this. This never got triaged \ tracked properly.

[2019-06-10 16:06] anurse commented on #4130
I don't know that we have an "area" label for Azure Integration (Site extensions, etc.). I'm putting in platform for now I guess? (cc @mkArtakMSFT @Pilchie)

[2019-06-10 16:07] anurse commented on #4130
Actually, I'll create one.

[2019-06-10 16:09] ajamrozek commented on #7531
I've created a boilerplate ASP.Net Core 2.2 WebAPI project, with no additional functionality and been able to "reproduce" this error in our environment. Unfortunately, it's an intermittent issue. We can't track down what resources aren't available during startup (Linux host has 100's of free GB and 2GB mem cap on pods). So, while it's consistent enough for it to beomce a critical issue, it's not c

[2019-06-10 16:10] anurse commented on #3523
@tobyash86 ASP.NET Core has no impact on how `ADDITIONAL_DEPS` is handled, it's handled entirely by the dotnet host. https://github.com/dotnet/core-setup is a more appropriate repo for bugs/feature requests there so they are visible to the team that develops that component. https://github.com/dotnet/core-setup/issues/4811 appears to be covering some of this.

Closing as this is not in an ASP.NET C

[2019-06-10 16:10] #3523 closed

[2019-06-10 16:12] anurse commented on #3269
@davidfowl is there ASP.NET Core work here or is the change localized to corefx? I'd like to get this off our dispatch queue :).

[2019-06-10 16:14] Bartolomeus-649 opened #11041 "WASM Libraries"
# WASM DLLs
It should be possible to write a C#/WASM library for  the web/http/html environment in the same way you write a dll for windows.
The WASM library should not only be available in the  WASM wold, but also be accessible form plain JavaScript, in a similar way other packages and modules are accessible. Som form of proxy/lib should be generated along with the WASM Library to bridge the gap

[2019-06-10 16:14] anurse commented on #2233
Please post a runnable sample project so we can see the full context of the issue you are seeing. Closing as we don't have a reproducible sample to investigate.

[2019-06-10 16:14] #2233 closed

[2019-06-10 16:15] Tratcher commented on #10975
@blowdart Not for this case. If you derive from OAuthHandler I think you could make it work, but you'd have to override both the challenge and the code exchange.

[2019-06-10 16:19] Tratcher commented on #10886
Perhaps, it depends on the answer.

[2019-06-10 16:20] mkArtakMSFT commented on #11041
Thanks for contacting us.
This is not an area we control.
If you still have this problem, feel free to report it on the https://github.com/mono/mono repo.

[2019-06-10 16:20] #11041 closed

[2019-06-10 16:22] serpent5 commented on #10970
The second time around, the code succeeds when using `ExternalLoginSignInAsync`, which just looks up the user from the Identity store and sets the `AuthenticationMethod` claim to e.g. Google. Is this particularly different to the first-time setup? The database overrides, etc all still apply here, from what I can see.

[2019-06-10 16:23] mkArtakMSFT commented on #11031
Thanks for contacting us, @ichensky.
This is not something we plan to do.

[2019-06-10 16:23] #11031 closed

[2019-06-10 16:24] #6909 closed

[2019-06-10 16:24] Tratcher commented on #11026
Because that feature was added to the Google provider by an external contributor.

Note you can do this with the OpenIdConnect handler.

[2019-06-10 16:25] mkArtakMSFT commented on #11017
Thanks for contacting us, @JosephGarrone.
This is not something we plan to support in the near future.

[2019-06-10 16:25] #11017 closed

[2019-06-10 16:27] Bartolomeus-649 commented on #11041
Well, who else produce WASM stuff?
Who else control the run time environment for dotNet code running in a browser?

[2019-06-10 16:28] mkArtakMSFT commented on #11015
Thanks for contacting us, @egil.
This will get addressed as part of https://github.com/aspnet/AspNetCore/issues/5487 work, which we plan to do in the near future.
As an alternative to using the constructor, you could use the `OnInit` method.

[2019-06-10 16:28] #11015 closed

[2019-06-10 16:32] mkArtakMSFT commented on #10894
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-06-10 16:32] #10894 closed

[2019-06-10 16:32] anurse commented on #9700
The docs PR is merged, so the docs will be updated. Closing now as we don't believe there is any further action to take.

[2019-06-10 16:32] #9700 closed

[2019-06-10 16:42] mkArtakMSFT commented on #10516
@Madhust for querySelector you should still use JSInterop.

[2019-06-10 16:42] #10516 closed

[2019-06-10 16:44] mkArtakMSFT commented on #10459
@ajaybhargavb can you please verify this repro project with `Preview6` bits and see whether it repros or not. If not, there's nothing else for us to do.

[2019-06-10 16:45] mkArtakMSFT commented on #10442
Thanks for contacting us, @vertonghenb.
This is really something community can own and do great job.

[2019-06-10 16:45] #10442 closed

[2019-06-10 16:46] #10370 closed

[2019-06-10 16:47] saluce65 opened #11043 "Move password management out of UserManager into its own injectable class"
In ASP.NET Identity, I want to use LDAP (or Active Directory) for password management while storing user data using EntityFrameworkCore.  Changing the password authentication should be as simple as injecting a custom `IUserPasswordStore`, but the interface only provides `GetPasswordHash` and `SetPasswordHash` methods, which are not possible to use for LDAP.

I'd like to propose alternatives to a `

[2019-06-10 16:48] mkArtakMSFT commented on #10262
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-06-10 16:48] #10262 closed

[2019-06-10 16:51] mkArtakMSFT commented on #10162
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-06-10 16:51] #10162 closed

[2019-06-10 16:52] saluce65 commented on #11037
I've just submitted a feature request (#11043) for a change that I think will make what I'm trying to do easier, without having to create a custom `SignInManager`.  It looks like the `UserManager` is actually available in `Microsoft.Extensions.Identity.Core version 3.0.0-preview-18579-0056`, but there's no preview5 version of the package.

[2019-06-10 16:54] mkArtakMSFT commented on #10158
Thanks for contacting us, @VR-Architect.
This is not something we plan to do, as discussed here: #10098

[2019-06-10 16:54] #10158 closed

[2019-06-10 16:56] mkArtakMSFT commented on #10085
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-06-10 16:56] #10085 closed

[2019-06-10 16:56] ericyu67 commented on #1528
Hi, Could you add me on your gitlab? I am converting report to ASP.net Core project now.

[2019-06-10 16:57] #10118 closed

[2019-06-10 17:07] jeffputz commented on #10975
@sebastienros So you're creating an entirely dedicated copy of middleware and the entire DI stack per tenant? That doesn't have significant memory implications? (Honest question... I don't know what the footprint of the DI mapping is.) I guess that means you could also tear down a stack if a setting changes for a tenant (like OAuth keys) without having to restart the app instance, yes?

[2019-06-10 17:16] NTaylorMullen opened #11044 "Update Razor VSCode for 3.0.0-preview7"

[2019-06-10 17:27] danroth27 commented on #10750
Hi @Andrzej-W

It looks like I was *wrong* about prerendering not working with client-side Blazor in Preview5. It actually works fine: https://github.com/danroth27/ClientSideBlazorWithPrerendering. We are working on getting this documented: https://github.com/aspnet/AspNetCore.Docs/pull/12776.

Since I think this satisfies your request, I'm going to go ahead and close this issue.

[2019-06-10 17:27] #10750 closed

[2019-06-10 17:27] mkArtakMSFT commented on #4802
Moving this to 3.0-preview8 milestone to indicate the timeframe we'll be looking into this. There is still no decision regarding this being patched or not.

[2019-06-10 17:29] WBarge commented on #11005
adding logging to the resolution of objecting being injected into a controller would have been very helpful here.  Thank you for your comments.  Time is now in an acceptable range

[2019-06-10 17:29] sebastienros commented on #10975
On average less than 4MB per tenant, on 64bits. But everything is isolated so we can reload one without impacted the other running ones, for instance when a configuration needs to change. We can also setup new ones dynamically (SaaS). Example: https://try.orchardproject.net is a self-service platform that creates new sites based on pre-defined recipes. Yet it's a single web application.

[2019-06-10 17:37] jeffputz commented on #10975
@sebastienros thanks. Not sure we could run with that approach, with a target of 1k tenants in cheap cloud infrastructure. Still would like to look... is that context loading in OrchardCore, and if so, which sub-project?

[2019-06-10 17:43] sebastienros commented on #10975
Try to follow this tutorial https://orchardcore.readthedocs.io/en/dev/docs/guides/create-modular-application-mvc/ and then in the module configure the authentication. Go on the gitter forum and ping me so we can show you how to setup 1000 tenants for testing.

[2019-06-10 17:49] anurse commented on #10078
I'm actually going to close this in lieu of https://github.com/aspnet/Extensions/issues/1817 which was filed as part of investigation in to this in our own performance lab. If the finding there don't align with what you're seeing, please feel free to discuss further on that issue. Any fixes will be in logging rather than in the servers directly, hence why I'm closing this one and shifting the focu

[2019-06-10 17:49] #10078 closed

[2019-06-10 17:53] anurse commented on #8134
Yeah, in 3.0 we have a whole bunch of new detailed error messages. And in `Development` mode you'll get detailed errors. We're looking at how we can backport some of this to 2.1/2.2.

[2019-06-10 17:54] jzabroski commented on #11001
So, remove the canonical way to actually build an ASP.NET application, and your integration tests work? Makes sense to me... 😱

I guess @Tratcher you are advocating for something like this StackOverflow answeR: https://stackoverflow.com/a/44755108/1040437

[2019-06-10 18:02] jeffputz commented on #10975
That's still a heavy solution for a simple problem. An OAuth exchange is reasonably straight forward, and the ask here is just to decide at login time which credentials we use.

[2019-06-10 18:08] #10786 closed

[2019-06-10 18:14] crauadams commented on #10200
Me too

[2019-06-10 18:15] Tratcher opened #11050 "Consider IStartup alternative"
IStartup isn't going to work with generic host which is the default in 3.0. It also conflicts with a few other patterns like ConfigureTestServices.

See https://github.com/aspnet/AspNetCore/issues/11001

@davidfowl

[2019-06-10 18:15] ryanbrandenburg commented on #7756
There is a bot that closes Discussion issues after a certain period, there's no need to close it outside of that framework.

[2019-06-10 18:16] Tratcher commented on #11001
Yes, this is the pattern we have given in templates since v1.
[code]

IStartup and StartupBase were added later for DI reasons and in hindsight are too rigid. I've filed https://github.com/aspnet/AspNetCore/issues/11050 to obsolete IStartup since it won't work in 3.0 anyways.

[2019-06-10 18:16] javiercn commented on #11001
Yeah, if you are using startup base you can simply further override from it and configure it for tests. ConfigureTestServices is only meant to make the convention based startup work. If you extend startup base or implement IStartup you can simply mark methods virtual and override them in your tests.

In 3.0 there is only one DI container and ConfigureTestServices is not required as configure metho

[2019-06-10 18:18] javiercn commented on #11050
Yes!! Lets kill anything that is not convention based startup and have 1 way / signature to configure everything.

[2019-06-10 18:20] benaadams commented on #7180
ReadOnlySequence is an obvious one https://github.com/aspnet/AspNetCore/pull/11052

[2019-06-10 18:28] generik0 commented on #10983
@Tratcher I understand now.
Since the cookie is expired, the RedirectToLogin and all the other calls already do not havethe cookie anymore. It is "gone"

All i can do is add another cookie with he information I need, or, have some server side caching.

Thanks for your help :-)

[2019-06-10 18:29] sebastienros commented on #10200
@crauadams Please file a new issue of you own. This one will probably be closed as we can't repro any leak.

[2019-06-10 18:30] jzabroski commented on #11001
@Tratcher Then maybe the StartupBase documentation should have a `[!WARNING]` DocFX tag applied to it so that people understand this stuff.  Seems like a fairly simple way to educate people.  That, plus `[Obsolete("http://aka.ms/mvcstartup/")]` on the StartupBase class, or whatever

I recently (in the last 30 minutes) read through a helpful article that explained how the baked in StartupBase conve

[2019-06-10 18:36] natemcmaster opened #11054 "Generating resx files is broken"
As a result of https://github.com/aspnet/AspNetCore/pull/10674, the `/t:Resx` target is missing from projects.

To fix this, we need to set `<GenerateResxSource>true</GenerateResxSource>` to take advantage of Arcade's RESX feature, and delete the .Designer.cs files from source.

[2019-06-10 18:37] natemcmaster commented on #11054
See https://github.com/dotnet/arcade/blob/master/Documentation/ArcadeSdk.md#generateresxsource-bool

We should probably also set `<GenerateResxSourceEmitFormatMethods>true</GenerateResxSourceEmitFormatMethods>`

[2019-06-10 18:40] #10983 closed

[2019-06-10 18:41] jzabroski commented on #11001
I also see your point; I looked at what the ASP.NET Boilerplate logic does, and see in their main demo, Startup.cs is quite simple POCO: https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dbda53e6b31e13c3c786ba3c869f1cac580d21c5/test/aspnet-core-demo/AbpAspNetCoreDemo/Startup.cs

And found: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-2.2

[2019-06-10 18:46] jzabroski commented on #11050
I'm a bit confused.  How is removing an explicit interface killing anything not convention based startup?  Usually in my experience an interface adds structure/convention, rather than kills it...

I also don't understand the comment:

@javiercn said in https://github.com/aspnet/AspNetCore/issues/11001#issuecomment-500528103 that ConfigureTestServices is also going to be no longer required:

[2019-06-10 18:48] natemcmaster commented on #10268
@anurse - thoughts on this one? Is this something Build Team or K Core should do?

[2019-06-10 18:53] natemcmaster commented on #4164
@dougbu can you take a look at the latest 2.1 release and see if our recent work on source-link has resolved this scenario?

[2019-06-10 18:54] natemcmaster commented on #10949
@ryanbrandenburg @mkArtakMSFT it looks like something in the project templates README needs to be updated. Can you take a look at this one?

[2019-06-10 18:55] SteveSandersonMS commented on #10895
I got the latest d16.2 today (29006.145.d16.2), and most of these do appear to be fixed :)

However,

* Typing `<div @bind=` still gets transformed into `<div @bind-=""`
* Pasting markup that contains `@bind=` still adds a space between `@bind` and `=` **if** you do it sufficiently quickly after first creating the `.razor` files. On my machine, when you create a new `.razor` file using the item te

[2019-06-10 18:55] SteveSandersonMS commented on #10895
Assigning back to Taylor for comments. The remaining issues are pretty minor at this stage. Thanks for fixing the major ones!

[2019-06-10 19:01] Tratcher commented on #11050
The convention for ConfigureServices allows multiple signatures. The convention we prefer is `public void ConfigureServices(IServiceCollection services)`, but IStartup dictates `public IServiceProvider ConfigureServices(IServiceCollection services)`

[2019-06-10 19:01] SamProf opened #11055 "Separate Components and Html-tags at syntax level Blazor"
When we use another Blazor component we use component-tag, For example:
[code]

On syntax level RazorCompiler don't know is it html-tag or component-tag. That's why we need 2-times compilation. And at second compilation Blazor will find Class with same name - Component1 will be component and if not - he will be html-tag.

Second problem, If  use component Component1 and then for-example change or

[2019-06-10 19:07] jzabroski commented on #11050
I get it - basically, you prefer the fluent building to be internal to the Startup object, and the IStartup interface allows fluent external configuration (via escaping an IServiceProvider), which also makes it harder to make consistent mock-able POCO.

[2019-06-10 19:08] davidfowl commented on #11050
We can break the `IStartup` interface instead of deprecating it. We need to remove the return type from ConfigureServices

[2019-06-10 19:14] jzabroski commented on #11050
@davidfowl I like this approach better, as it makes it easier to write architecture verification tests - I can then explicitly decouple my Pipeline pre-processing from my Pipeline processor from my Pipeline post-processor - these could all live in different (sets of!) assemblies.  This is more or less the goals of more functional frameworks like F# Giraffe.

[2019-06-10 19:14] CheloXL opened #11056 "NameFor doesn't work with "Convert" in lambda expression."
### Describe the bug
Trying to use IHtmlHelper.NameFor(expression) where expression has a ExpressionType.Convert/ExpressionType.ConvertChecked leads to an empty name.

### To Reproduce
I have some helpers, defined as:
[code]
A model like:
[code]
And a razor page:
`@Html.MvcNumberFor(x => x.Float)`

### Expected behavior
Placing a BP on the line following the name assignment, I would expect it to b

[2019-06-10 19:24] UrielMhezzek opened #11057 "New Project don't start"
### Describe the bug
Created new project give a Error

### To Reproduce
Using Visual Studio Version 16.0.0 Preview 5 and SDK 3.0.100 - preview 5 (i hope, i have multiple SDKs installed, but only the preview 5 of Core)
* I create a new project
* Choose Asp Core Web Application
* Project and Soulution name WebApplication4
* Choose Blazor Asp Core hosted
Run the solution

I get this errors
rzc genera

[2019-06-10 19:33] dazinator opened #11058 "Blazor - Navigate away from blazor client App"
### Is your feature request related to a problem? Please describe.
Suppose you want to navigate away from a blazor app (base path: /) to an mvc / razor page hosted on the same host: /foo

I don't think you can currently do this very easily in a blazor client application, and this is problematic.
This is because all navigation performed within the blazor app is set to be relative to the base path (

[2019-06-10 19:36] natemcmaster commented on #3774
Here are some solutions for fixing this.

1. Cross-compile DP for netstandard2.0 and netcoreapp3.0. The NS version does not implement an `IStartupFilter` (excluded via cross compilation), and the netcore version has a `<frameworkReference>` to Microsoft.AspNetCore.App
2. Invert the dependency order. Move `DataProtectionStartupFilter` to `Microsoft.AspNetCore.Hosting`, make it a filter that _always

[2019-06-10 19:43] BrennanConroy commented on #5314
That has actually been done in the 3.0 wave.

[2019-06-10 19:43] #5314 closed

[2019-06-10 19:43] Tratcher commented on #11050
@davidfowl breaking IStartup will hurt existing apps upgrading to 3.0. Those apps were still going to work using the old WebHost.

[2019-06-10 19:46] anurse commented on #10268
I think think belongs mostly on the KCore side. We need to update all our tests to build the site during build and just run them during tests.

@Tratcher @jkotalik I think you've both done some looking at that in the past, do you know where we stand there? Which server functional tests remain un-Helixable?

[2019-06-10 19:46] anurse commented on #10200
Closing as per @sebastienros 's comment. @crauadams please do file a new issue if you have data and/or a repro for us to look at!

[2019-06-10 19:46] #10200 closed

[2019-06-10 19:47] jzabroski commented on #11050
Then create a IStartup2 interface and deprecate the old IStartup with an
Obsolete warning telling people to forward to IStartup2.  A bit klunky, but
better than this ridiculous POCO approach (sorry, can't hide my true
feelings for what a mess that is).

On Mon, Jun 10, 2019 at 3:45 PM Chris Ross <notifications@github.com> wrote:

[2019-06-10 19:48] jkotalik commented on #10268
From what I can tell, besides IIS tests, all functional test with deployers do not run on helix. From my knowledge so far, I think all of them can be put on helix, it's just that no one has committed the work to fix them.

[2019-06-10 19:49] anurse commented on #7180
Yeah, my concern is just that a vague issue doesn't help us a lot here. Making structs use `in` is a _solution_ not a _problem_. If there are performance problems that can be solved by making more structs use `in`, then we can track and fix those. Otherwise this issue is probably just going to get punted around because it's value is unknown.

[2019-06-10 19:52] anurse commented on #10268
Ok, cool. I think that work probably lives with us then. Swapping to servers area. I'll put it in p8 because I do think we should try to get this done. The fact that it doesn't affect customer code does mean it'll probably have a lowish priority for now though.

[2019-06-10 19:59] UrielMhezzek commented on #11057
I installed Preview 5 to Preview 3. After it, all my projects don't work and give the same error.
I deinstalled all SDK and installed only Preview 3 to work on my old projects. but my old project give still the same error.

[2019-06-10 20:00] #10685 closed

[2019-06-10 20:11] blowdart commented on #10970
Oh that is weird. OK, sounds like a bug, or somewhere we a decision was made and didn't take effect everywhere.

[2019-06-10 20:22] havenindustries commented on #10585
I am experiencing the exact same problem on a razer notebook.  Essentially the default blazor client template will not even build.  However an old school asp.net web application does build just fine.  All I did was update Visual Studio and the bug appeared.  Darn upgrades ... Ha!  Did you ever get this one resolved?

[2019-06-10 20:22] JamesNK commented on #7180
👍

[2019-06-10 20:22] #7180 closed

[2019-06-10 20:33] dazinator commented on #5496
Why couldn't Blazor follow the asp.net core Request middleware example (as also mentioned by @rstropek ) -  create an `IServiceScope` and using that scoped IServiceProvider to activate it's pages / components. Dispose of that scop when the page / component is disposed. Are there difficulties in that approach that has lead to the above suggestion with this new wrapper tactic?

[2019-06-10 20:37] serpent5 commented on #10970
I'm happy to have a go at a PR for this if it would be helpful. I realise that a decision might need to be made on how to proceed first and that changes would apply to both the V3 and V4 UIs and the scaffolding too. I guess it might be a breaking change for someone that's depending on the claim not being set (or being set if that's what changes).

[2019-06-10 20:44] flgatormike commented on #7788
I get this same error. I created a brand new project and it worked at first. Then I added some new packages from Nuget and then at some point it stopped working. I get this error:

Failed to load resource: the server responded with a status of 404 (Not Found)
http://localhost:64991/_framework/blazor.webassembly.js

[2019-06-10 20:46] davidfowl commented on #4623
Old version https://github.com/aspnet/KestrelHttpServer/pull/2849

[2019-06-10 20:49] NTaylorMullen commented on #10895
Isn't that expected? I don't believe there is an `@bind` on div so it does the only completion that makes sense `@bind-`

There's not much here we can do sadly because the system doesn't yet understand the valid components in the file (or even if it is a component) and therefore tries to format the document as if `@bind` was an implicit expression. @bhsubra @ToddGrun how important is formatting im

[2019-06-10 20:52] kugarliyifan opened #11060 "how can I share my layout cshtml by dll"
how can I complie the layout.cshtml file into dll file ,to reuse and share between project?
when i use asp.net mvc ,I use the RazorGenerator Custom Tool to complie cshtml ,,but is there any way to use in asp.net core 2.1??

[2019-06-10 20:57] JamesNK commented on #10886
Functional tests run in TestServer. When there is a gap between TestServer and Kestrel that gRPC uses I have been improving TestServer. I'll do the same with the new feature that comes out of this issue.

[2019-06-10 21:01] halter73 commented on #10886
You could fall back to an HttpResponse.CompleteAsync() that just calls FlushAsync() and then Complete() on the response body PipeWriter. It would still result in unnecessary empty END_STREAM frames, but it's not exactly wrong.

But what if instead we added an API similar to the proposed AbortHttp2Stream, but instead of aborting the stream immediately, it buffered the RST frame after the response b

[2019-06-10 21:22] Tratcher opened #11061 "Fail on startup for Http/2 HTTPS on Mac"
Mac doesn't support ALPN: https://github.com/dotnet/corefx/issues/33016

In 3.0 HTTPS and HTTP/2 (and HTTP/1) are enabled by default. The GRPC template is going to disable HTTP/1. HTTP/2 per spec requires ALPN when used over HTTPS. Today this fails per request and you have to dig into the server logs for the error.

Proposal: Check for HTTPS + HTTP/2-only on Mac at startup and fail early.

@shirha

[2019-06-10 21:25] Tratcher commented on #10886
@JamesNK I was referring more to IIS or HttpSys. Does gRPC fail or fall back gracefully to other mechanisms?

[2019-06-10 21:32] JamesNK commented on #10886
Do they support HTTP/2 and trailers today? We haven't tested much outside of Kestrel/TestServer. I don't know.

[2019-06-10 21:35] #10504 closed

[2019-06-10 21:36] ststeiger commented on #1528
@ericyu67: I suppose your gitlab account name is ericyu ? In that case you were added.

[2019-06-10 21:36] ryanbrandenburg commented on #10949
@isaac2004 by follow steps to build do you mean [these steps](https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/README.md)?

[2019-06-10 21:39] Tratcher commented on #10886
@JamesNK they do support HTTP/2 but not trailers.

[2019-06-10 21:45] isaac2004 commented on #10949
@ryanbrandenburg yep, not sure what is going wrong

[2019-06-10 21:45] JamesNK commented on #10886
Unless IIS has a dummy IResponseTrailersFeature that no-ops then gRPC would fail when it calls HttpResponse.AppendTrailer. That's fine. gRPC doesn't work without trailers.

[2019-06-10 21:54] jjxtra commented on #7450
Also seeing this in self contained Windows builds... shouldn't they not require any part of the dotnet core framework installed?

[2019-06-10 22:00] astecenko commented on #11057
Have you completed all the steps listed in https://docs.microsoft.com/ru-ru/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio ?

[2019-06-10 22:06] ryanbrandenburg commented on #10949
If I had to guess based off your error message the `. .\activate.ps1` script didn't succeed for some reason. If it had your ".NET Core runtimes installed:" area would contain some entries like $YourRepo\.dotnet\x64* before you do "dotnet run" is something pre-pended to your powershell prompt (for me it's `(AspNetCore)`)?

[2019-06-10 22:16] UrielMhezzek commented on #11057
No and yes. Minutes bevor i installed the preview 5 I worked at my preview 3 project. I only reinstall to preview 5.

[2019-06-10 22:21] isaac2004 commented on #10949
@ryanbrandenburg yep it is

[2019-06-10 22:32] mkArtakMSFT commented on #11060
Thanks for contacting us, @kugarliyifan.
You can define layout files in a Razor Class Library and reference it from the main application by path.
I've put together a sample project for you to see how this is done: https://github.com/mkArtakMSFT/Samples/tree/master/SharedLayoutInRCL

Look for the `SamplePage.cshtml` page, which is referencing the layout from the RCL.

[2019-06-10 22:32] #11060 closed

[2019-06-10 22:35] JunTaoLuo opened #11064 "Add gRPC interop tests to our PR test suite"
Investigate adding gRPC interop tests. These should not be mandatory.

[2019-06-10 22:42] JunTaoLuo commented on #11061
FYI @JamesNK

[2019-06-10 23:23] #10854 closed

[2019-06-10 23:27] JunTaoLuo commented on #9233
@shirhatti

[2019-06-10 23:32] #10784 closed

[2019-06-10 23:47] #8308 closed

[2019-06-10 23:52] anurse commented on #7531
My understanding is that there is a hard limit on the number of file watchers that you can have (the "inotify instances"), so even though you have a lot of free memory you have to actually adjust that limit to avoid this issue. You can do that with this command:

[code]

There are some issues with inotify and docker. How many containers do you have running per machine? The inotify instance limit i

[2019-06-10 23:58] ericyu67 commented on #1528
That's correct, thank you.

[2019-06-10 23:59] anurse commented on #10543
This is the problem, the request is arriving at your ASP.NET Core app as an HTTP request, **not** an HTTPS one. If you're using a proxy like Apache you need to configure the forwarded headers middleware so that the app knows what the front-end (Apache in this case) did, such as terminating SSL. See our [docs on hosting ASP.NET Core apps in Apache](https://docs.microsoft.com/en-us/aspnet/core/host-

[2019-06-11 00:00] anurse commented on #10543
Given this, I don't see why you need ASP.NET Core to rewrite for you at all. Apache is doing the rewriting for you.

[2019-06-11 00:01] anurse commented on #7037
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-06-11 00:01] #7037 closed

[2019-06-11 00:02] anurse commented on #9947
Closing this as we haven't heard from you and generally close issues with no response after ~7 days.

[2019-06-11 00:02] #9947 closed

[2019-06-11 00:03] anurse commented on #10289
Closing as this is part of the VS tooling, and not something controlled in ASP.NET Core. Please use the VS feedback tool to file this and let us know (provide a link) if you do! We can help put it in front of the right eyes.

[2019-06-11 00:03] #10289 closed

[2019-06-11 00:03] anurse commented on #9592
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-06-11 00:03] #9592 closed

[2019-06-11 00:04] anurse commented on #10485
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-06-11 00:04] #10485 closed

[2019-06-11 00:04] Worthy7 commented on #11026
I haven't looked into the OpenIdConnect handler, but is it the same/an upgraded version of the MSAccount one?

[2019-06-11 00:05] anurse commented on #9858
Closing this as we haven't heard from you and generally close issues with no response after ~7 days. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-06-11 00:05] #9858 closed

[2019-06-11 00:11] anurse commented on #6648
It seems like these errors are completely unrelated to ASP.NET Core. The reference to the `IIS APPPOOL` identity indicates to me that something running under that user is trying to do something with DCOM but nothing in ASP.NET Core would be triggering it, so I'm moving this to our Discussions milestone for now.

Having said that, it looks like one option for getting more data is to search the regi

[2019-06-11 00:12] shirhatti commented on #9233
Unfortunately, there isn't a really good solution for this. You can reserve the port prior to installing Docker and then un-reserve the port

[code]

It should become less of a concern since we're now changing the default port in the templates to 5001

[2019-06-11 00:12] anurse commented on #10303
That I'm not sure about. Closing though since the behavior is invalid and would be expected to produce rendering issues in browsers.

[2019-06-11 00:12] #10303 closed

[2019-06-11 00:18] Tratcher commented on #11026
Yes, it's a bigger, more powerful, more generic, OAuth/OIDC handler.

[2019-06-11 00:23] Andrzej-W commented on #10750
Hello @danroth27
I have just cloned your repository, compiled, and 💥 Here is the stack trace:
[code]
To eliminate potential problems with HTTPS I have commented `app.UseHttpsRedirection();` but nothing changed.

I have VS 2019 16.2.0 Preview 1, Blazor Preview 5, and relatively fresh Windows 10 1809 with all updates (it is used only for Blazor)

[code]

[2019-06-11 00:35] antonGritsenko opened #11069 "[Discussion] NullReferenceException at Microsoft.AspNetCore.Http.Internal.DefaultHttpRequest.get_Query()"
This topic came from several other:
#2806
#3219
#3219

They all a bit different, but the reason (I think) the same: concurent access to HttpContext from different threads.

Our story is pretty similar: we have project on asp.net 1.1, and we widely using HttpContext and HttpContextContextAccessor for different things (mainly for custom authorization and access to Session info), and I'm not sure if

[2019-06-11 00:39] natemcmaster opened #11071 "Generate .nupkg files that contain aspnetcore-runtime MSI for insertion into Visual Studio"
We are working with the SDK team to simplifying the insertion of the .NET Core SDK into Visual Studio. https://github.com/dotnet/core-sdk/issues/2166 Today, the ASP.NET Core runtime is inserted into VS via the .NET Core SDK. As a part of breaking the SDK into smaller pieces, we need to add a new build step to 2.1/2.2 and 3.0 builds which produce the following NuGet packages.

* AspNetCore.SharedFr

[2019-06-11 00:40] natemcmaster commented on #11071
@johnbeisner can you confirm the IDs and layout of files in the nupkg in the description above 👆?

[2019-06-11 00:51] natemcmaster opened #11072 "Generate manifests for insertion of aspnetcore runtime into Visual Studio"
We are working with the SDK team to simplifying the insertion of the .NET Core SDK into Visual Studio. dotnet/core-sdk#2166 Today, the ASP.NET Core runtime is inserted into VS via the .NET Core SDK. As a part of breaking the SDK into smaller pieces, we need to add a new builds step to 3.0 build which generates a .vsman manifest for insertion into Visual Studio.

### Work items
- [ ] Generate a .vs

[2019-06-11 01:25] Worthy7 commented on #11026
OK, I'll give it a try. Perhaps this MSAccount one should inherit that then
so it can take advantage of all it's features.

On Tue, 11 Jun 2019 at 09:19, Chris Ross <notifications@github.com> wrote:

[2019-06-11 01:52] kugarliyifan commented on #11060
thank you very much!!!!!!!

[2019-06-11 02:16] FeodorFitsner opened #11075 "AuthorizationFilterContext is no longer available in HandleRequirementAsync()"
In ASP.NET Core 3.0 `AuthorizationFilterContext` is no longer available inside `AuthorizationHandler.HandleRequirementAsync()` method.

In 2.2 this method is used to work:

[code]

However, in 3.0 `context.Resource` is no longer `AuthorizationFilterContext`, but instead `Microsoft.AspNetCore.Routing.RouteEndpoint`.

What's recommended way of accessing action filters in 3.0 inside AuthorizationHand

[2019-06-11 02:37] anurse commented on #11072
I was mid-typing that we should do this for ANCM when I finished reading :). Yes, let's definitely try to do this for ANCM at the same time. Ideally, we'd probably want to insert ANCM at the same time as the SDK for 3.0.

[2019-06-11 02:48] anurse commented on #11072
Let's officially make this cover ANCM as well (we can help make it happen). It should just be a matter of pointing it at one more set of MSIs (the ANCM installers). If not, we can split it later.

[2019-06-11 03:29] danroth27 commented on #10750
@Andrzej-W Sorry about that, I still had some changes on my machine that I hadn't pushed. Should be working now.

[2019-06-11 03:33] wu-yafeng commented on #11075
[code]

In ASP.NET Core 3.0:

When using endpoint routing,
Mvc will add all Filter as metadata to endpoint.Metadata and the `AuthorizeAsync` will called by `AuthorizationMiddleware`

[2019-06-11 03:55] HaoK commented on #10222
uh oh netstandard 2.0 doesn't support default interface implementation :(

[code]

cc @rynowak

[2019-06-11 04:28] bradygaster commented on #6783
Appreciate the opportunity to sync up, @clayellis. I'd like to get an email address so I can send you an invite. Looking forward to it, will be mid-week next week.

[2019-06-11 04:28] FeodorFitsner commented on #11075
Worked like a charm, thanks for the fast response!

[2019-06-11 04:28] #11075 closed

[2019-06-11 04:53] Balirezaei opened #11078 "Problem with getting client IP address in ASP.NET CORE web Api ?"
I get server IP Address instead of client IP by using below method in ASP.NET CORE Web API .
Please tell me where I'm going wrong. I have used ServerVariables["HTTP_X_FORWARDED_FOR"] in asp mvc before and that has worked correctly.

[code]

[2019-06-11 04:59] anurse commented on #10222
Why is this `netstandard2.0`? Blazor? (cc @davidfowl)

We may need to just take the break then (cc @Pilchie @natemcmaster).

[2019-06-11 05:00] anurse commented on #10222
I thought this came up in our API review but I think it actually just came up in normal security triage. Anyway, I believe the API break has been made, this was an issue to allow us to "unbreak" it using DIM (I may be wrong though).

[2019-06-11 05:03] clayellis commented on #6783
@bradygaster clayellis@me.com

[2019-06-11 05:03] HaoK commented on #10222
Yeah, we took the break thinking we could 'unbreak' it later with DIM, in the meantime (or in parallel) we decided to 're'target netstandard2.0 with this package (that's what it used to target, but we temporarily had it target netcoreapp3.0 when we smushed the Authorization.Policy into Core, which we recently backed out for Blazor to be able to consume the Core AuthZ package.)

[2019-06-11 05:14] davidfowl commented on #3269
@anurse It's all on corefx and it's in the pipeline for consideration for the 2.2 patch.

[2019-06-11 05:15] mysteryx93 commented on #10543
So what should it be instead?

There's all kinds of other rewriting rules taking place, such as www to non-www, and renamed pages, etc. I've rewritten them all in the Apache2 config file so my website works, but it would have been a lot simpler to use the redirection middleware.

All this does is the same as UseHttpsRedirection which does work.

[2019-06-11 05:16] anurse commented on #3269
Cool, closing this now then. For the others on this thread, you can track the backport in the issue linked above (https://github.com/dotnet/corefx/pull/38291) and if you're still having a problem after that patch is deployed, feel free to file something new!

[2019-06-11 05:16] #3269 closed

[2019-06-11 05:25] #10167 closed

[2019-06-11 05:29] anurse commented on #10543
Right, but if you do it in Apache you don't need anything in your ASP.NET Core app. No `UseHttpsRedirection`, no `UseRewrite`. Apache handles it entirely.

It depends on what you **want** to do. If you want Apache to do the redirection, then let Apache do the redirection and just remove all the rewriting/redirection middleware.

If you want ASP.NET Core to do the redirection then you need to confi

[2019-06-11 05:30] JamesNK commented on #10886
What is the next step here? I can organize a meeting to come up with a design, or you could guys could informally talk about it and come up with one that I double check.

Up to you 🤷‍♂

[2019-06-11 05:48] mysteryx93 commented on #10543
In that case, would removing the HTTPS redirect from the middleware allow to use the other URL rewriting features?

[2019-06-11 05:48] SIkebe commented on #10585
@havenindustries Did you check the environment variable?
https://github.com/aspnet/AspNetCore/issues/10585#issuecomment-497370895

[2019-06-11 06:10] davidfowl commented on #11050
@jzabroski The poco story supports more scenarios. I rather not have something called `IStartup2`, because it sounds awful 😄. How IStartupBase/Core something other than 2?

[2019-06-11 06:12] DNF-SaS commented on #10889
Sorry for the late reply.
Please clone https://github.com/DNF-SaS/BlazorServerDeadlock, launch und click the red "Start"-Button.
The code counts until 1000 - but this value never gets reached.
It stops somewhere between 300 and 400 with a complete deadlock.

[2019-06-11 06:20] davidfowl commented on #10886
@JamesNK setup a design meeting so we can flesh this out this week?

[2019-06-11 06:30] davidfowl commented on #11069
`IHttpContextContextAccessor` is usually where this sort of issue shows up and it's because of usage *after* the middleware has ended or because of multi threaded access.

The above code shouldn't have any problems unless you were also accessing the same request from another thread and that resulted in some corruption.

Audit your IHttpContextContextAccessor usage and look for places (like logging

[2019-06-11 06:43] tmds commented on #10461
@pranavkm @mkArtakMSFT feel free to close if this won't be fixed for 2.1.

[2019-06-11 07:04] tmds commented on #4751
I've benchmarked this in https://github.com/dotnet/corefx/pull/36693 and there was no clear winner.

[2019-06-11 07:04] #4751 closed

[2019-06-11 08:07] stephentoub commented on #4751
Thanks, Tom.

[2019-06-11 08:35] endeffects opened #11081 "Blazor Integration Tests"
Is there any option to setup an integration test enviroment for blazor similar to mvc?

[code]

Currently the IWebAssemblyHostBuilder does not inherit from IWebHostBuilder nor IHostBuilder.

[code]

Manually setting up the wire up does also not work due  the access level.

[code]

[2019-06-11 09:20] Mike-E-angelo opened #11082 "Enable Ability to Host Blazor Applications in Microsoft, Apple, and Google Play Stores"
### Is your feature request related to a problem? Please describe.
As a developer and software business owner, I want to reduce development costs by having to develop and maintain _one_ source of code and be able to deploy it to any hosted environment.

Currently, Blazor achieves a great deal of this by allowing deployment as a website.

However, there are three other significant environments to c

[2019-06-11 09:46] robinwilson16 commented on #8980
I got this error and realised I had missed a comma out of the appsettings.json file.
May be worth a try for anyone still getting this issue.

It would be good if it did give a less generic error though to speed up troubleshooting.

[2019-06-11 10:03] astecenko opened #11083 "[Blazor] System.InvalidOperationException: Object of type '..' does not have a property matching the name 'ref'"
Blazor Server Side
Using this version of ASP.NET Core 3.0.100-preview6-012264
Using nuget.config from https://github.com/dotnet/core-sdk

Create default blazor server side project
Create simple component at SimpleTextBox.razor :

[code]

Add to default Counter.razor
[code]

After Run and go to Counter page I see:
[code]

**WAIDW**

[2019-06-11 10:18] ddweber commented on #10980
Okay, thats the case in my application and all I wanted to clarify :)
Thanks for the answer.

[2019-06-11 10:18] #10980 closed

[2019-06-11 10:22] LaughingJohn opened #11084 "Blazor (client): Support value converters or similar for binding"
Hi,

I'm new to Blazor and have been experimenting with porting an existing application (which is implemented in both WPF & SL).

WPF and SL have ways of formatting values as they pass back and forth in a binding. Notably value converters (IValueConverter), but also StringFormat, TargetNullValue  and FallbackValue.

I wondered if there was anything like this available for Blazor (client side) or w

[2019-06-11 10:32] LaughingJohn commented on #11084
I've just spotted format-value which I guess goes some of the way but a value converter can deal with bi-directional bindings.

[2019-06-11 11:11] endeffects commented on #11081
I got it working by copying the required classes. But the question is still, do we get a testing enviroment for blazor too?

[code]

[2019-06-11 11:32] Balirezaei commented on #11078
https://stackoverflow.com/questions/56525043/problem-with-getting-client-ip-address-in-asp-net-core-web-api

[2019-06-11 11:35] #11078 closed

[2019-06-11 11:37] GearTheWorld commented on #11082
I support the idea.

Don't forget to give us a DESIGNER as this accelerates development event more !  Lately I had to design a form in which it took me a very long time of F5, looking, adjust the text base UI development aka html/js and go back and forth like this a very fair amount of time.  This is completely unacceptable these days.

I see no reason to not having a designer capable of knowing t

[2019-06-11 11:53] Chakrygin opened #11085 "Changing IHostingEnvironment.ApplicationName using ASPNETCORE_APPLICATIONNAME env variable"
Currently it not possible to change IHostingEnvironment.ApplicationName property via environment variables.

Although the variable is correctly read in the WebHostBuilder class, it is overwritten in the UseStartup method.

https://github.com/aspnet/AspNetCore/blob/d24ec01224726fa85dc7683d0f70a94d9172bc94/src/Hosting/Hosting/src/WebHostBuilder.cs#L45
https://github.com/aspnet/AspNetCore/blob/d24ec0

[2019-06-11 12:08] Mike-EEE commented on #11082
Ask and you shall receive, @GearTheWorld. 😆

https://www.radzen.com/blog/introducing-the-blazor-wysiwyg-design-time/

[2019-06-11 12:23] egil opened #11087 "Why does all children get re-rendered when they have @ChildContent but only one is updated from parent?"
### Describe the bug
In case 1, when a component/page (parent) contains children, _that have a_ `ChildContent` parameter, and when the parent changes a parameter of _one_ of the children, all children gets re-rendered. If the child changes that parameter itself, then only that child gets rerendered.

In case 2, when a component/page (parent) contains children, that does NOT have a `ChildContent` p

[2019-06-11 13:09] NeilMacMullen opened #11088 "Unable to publish server-hosted Blazor app from Visual Studio Preview"
This may be related to https://github.com/aspnet/AspNetCore/issues/10878 but appears to have different symptoms.

The issue is described at https://stackoverflow.com/questions/56543379/how-can-i-deploy-a-blazor-server-hosted-application-from-visual-studio-2019 but in summary, when attempting to publish a server-hosted Blazor app from with Visual Studio, it appears that the deployment process assum

[2019-06-11 13:18] DCCoder90 commented on #11019
The SO comment didn't help any.  I may need to update this.  After a LOT of research, it turns out that the first query would be successful and any queries after that would result in a deadlock.  I'm not sure if this is EF Core, Pomelo, or AWS RDS.  Seemed like an EF issue at the time.

[2019-06-11 13:18] NeilMacMullen commented on #11088
I have just spotted that the *reported* error in the Error List is the same as for #10878.  Not sure if that means it's really the same problem or it's just that any build error will eventually cause a "projects.assets.json" report.

[2019-06-11 14:05] NeilMacMullen commented on #11088
Further details in the SO link above, but it appear my main problem was trying to set the deployment to "self-contained" to workaround the lack of .netcore 3.0 on the server.  It appears that .netcore3 can be _manually_ added from the Azure portal (websockets also needs to be enabled) but this is not done automatically by the deployment mechanism.

[2019-06-11 14:08] robcube opened #11089 "Error: Server returned handshake error: Handshake was canceled."
1. Followed instructions in creating a SignalR project in .NET Core 2.2
https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?view=aspnetcore-2.2&tabs=visual-studio
2. Everything works on local IIS Express -- Windows 7, Visual Studio 2019
3. Published to server, Windows 2008R2, IIS 7.5
4. URL is HTTPS -- https://dw.example.com
5. Added Debug logic in both client (configureLogging(signalR.

[2019-06-11 14:29] Vetsoo commented on #10888
Hello @mkArtakMSFT , I've created a very basic test project: https://github.com/Vetsoo/AspNetCoreMvcPartialViewError which illustrates how we use the partial views. However, I tried running this on an Azure App Service and off course it works... I think it's because we have custom packages, async/await calls, custom attributes etc that I didn't put in the test project for the sake of simplicity. I

[2019-06-11 14:31] chanan opened #11090 "Blazor: EventCallback versus Action usage"
More of a question than a bug report.

I have a component that has this in it:

[code]

Based on the docs, I thought I should change to use `EventCallback` - the problem is that it won't compile `OnDismiss?Invoke();` once `OnDismiss` is of type `EventCallback`.

Is keeping `OnDissmiss` type of `Action` correct?

[2019-06-11 14:37] BrennanConroy commented on #11089
Is your server multi-instance? AspNet Core SignalR requires sticky sessions in that case. It looks like you have multiple servers and half of the SSE transport is on one and the other half is on another.
________________________________
From: Rob Koch <notifications@github.com>
Sent: Tuesday, June 11, 2019 7:08:57 AM
To: aspnet/AspNetCore
Cc: Subscribed
Subject: [aspnet/AspNetCore] Error: Server r

[2019-06-11 14:42] jlorek opened #11093 "StackExchange.Redis.StrongName in AspNetCore.SignalR.Redis is discontinued"
The package Microsoft.AspNetCore.SignalR.Redis (<= 1.1.5) references StackExchange.Redis.StrongName (1.2.6). This package was discontinued by StackExchange about 9 month ago in favour of StackExchange.Redis, which is now strong named by default (https://github.com/Azure/aspnet-redis-providers/issues/107).

This reference causes problems when using other libraries, that already adopted the new Stac

[2019-06-11 14:47] guylando commented on #6648
@asp-entwickler check if your component is the same as I reported here: https://github.com/aspnet/AspNetCore/issues/6648#issuecomment-482180371 (RuntimeBroker)

[2019-06-11 14:48] anurse commented on #11093
Yes, we added a new package [`Microsoft.AspNetCore.SignalR.StackExchangeRedis`](https://www.nuget.org/packages/Microsoft.AspNetCore.SignalR.StackExchangeRedis) in ASP.NET Core 2.2 (and the upcoming 3.0 release). We had to add a new package rather than upgrading the existing package because the `StackExchange.Redis` package changed package IDs, which is a breaking change. The older `Microsoft.AspNe

[2019-06-11 14:48] #11093 closed

[2019-06-11 14:48] rynowak commented on #11072
BTW - we have done all of this stuff in AspNetCore-Tooling. The `.vsman` thing is done by arcade as part of the VSIX build. The VSDrop and VS PR functionality is in a release pipeline

[2019-06-11 14:48] isaac2004 commented on #10346
@ryanbrandenburg FYI docs have been updated as well

[2019-06-11 14:49] Tratcher commented on #11078
FYI here's the doc: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.2

Also, you don't need `ForwardedHeaders.All` in that code.

[2019-06-11 14:52] egil commented on #11090
In the docs they use `await callback.InvokeAsync(arg);` to invoke an `EventCallback`. I can confirm that works in my code with Preview-5 as well.

[2019-06-11 14:54] rynowak commented on #11005
Thanks @WBarge - I'm going to reopen this to track us adding logging to the controller factory.

[2019-06-11 14:58] rynowak commented on #10222
We don't have to break this. A clean way to make this change would be to introduce an abstract base class that implements the interface, and have the places in code that use this do the downcast.

[2019-06-11 15:01] anurse commented on #11085
Thoughts @davidfowl @Tratcher ? It does seem odd that the assembly name would clobber the environment variable since it makes the env-var useless.

[2019-06-11 15:07] anurse commented on #11072
Nice, we just need support for doing it from MSIs, since we don't have VSIXes for these components (they're global installs). @natemcmaster happy to provide some support if you need it, we really want to automate insertions as much as possible.

[2019-06-11 15:09] chanan commented on #11090
So:

[code]

is correct?

[2019-06-11 15:20] anurse commented on #10543
What do you mean? Removing that rule certainly wouldn't preclude using the rewriting features of our middleware. However, I would strongly advise just doing the rewriting in **one place**. Having multiple layers of rewrite/redirect rules can cause lots of confusion, like this.

The key thing to remember is that when you are being proxied, your app thinks it is being access by a **local** client (t

[2019-06-11 15:22] Andrzej-W commented on #10750
@danroth27 Thank you very much for an update. It is now *almost* perfect. I see only one problem. Browser sends request for `favicon.ico` file and it is not available. That is OK. Unfortunately server returns status code 500 instead of 404
[code]

[2019-06-11 15:48] egil commented on #11090
Since `EventCallback` is a struct it cannot be null, thus I think it should be safe to just call `OnDismiss.InvokeAsync(args)` directly.

[2019-06-11 15:52] egil commented on #11090
Unless you declare it as nullable, e.g. `[Parameter] public EventCallback<some type>? OnDismiss { get; set; }`. Then you can do a `OnDismiss?.InvokeAsync(args)`.

I am not sure if declaring your events as nullable is recommended though.

[2019-06-11 15:53] jzabroski commented on #11050
IStartupCore is clever and good.

When you say the poco story supports more scenarios, are you thinking of deploying a Startup engine in multiple contexts, e.g. non-MVC, such that the Startup class does not even have to have a reference to MVC?  Good in theory, strange in practice: Startup will reference a concrete WebHostBuilder, right?  So how do you eliminate the private dependency on Microsoft

[2019-06-11 15:57] pranavkm commented on #11058
@dazinator likely a dup of https://github.com/aspnet/AspNetCore/issues/9834. Could you try if your scenario works using the preview6 bits?

[2019-06-11 16:00] danroth27 commented on #10750
@Andrzej-W Thanks for letting me know! Should be fixed now.

[2019-06-11 16:02] chanan commented on #11090
I am not sure, but the way I am thinking about it, the user of the library can either provide an OnDismiss or not.

Another small gripe is that `Action.Invoke()` could be called with no args, while `EventCallback.InvokeAsync()` requires an arg. I can supply a "fake" arg, but then the developer using the library needs to do something like:

[code]
which isn't great

[2019-06-11 16:06] dazinator commented on #11058
@pranavkm I can try with the preview6 stuff, I  remain sceptical as the issue you linked is talking about server side blazor components, and I'm in a pure client side blazor app - still will try.

[2019-06-11 16:06] natemcmaster commented on #11072
@rynowak - yup, thanks for blazing a trail here. I've been looking at what you did for the AspNetCore-Tooling repo and sharing it with the Arcade team as a model of something we want to apply to this and other repos that need to insert into VS>

But yes, as mentioned above, completing this depends on support in arcade for generating a .vsman file for our MSI files. Preliminary support exists, but

[2019-06-11 16:14] jkotalik commented on #4623
@davidfowl should we add this to https://github.com/aspnet/AspNetCore/issues/10869?

[2019-06-11 16:28] Tratcher commented on #11085
Why are you trying to change it? I'm told MVC stops working if you do. @rynowak

[2019-06-11 16:39] mysteryx93 commented on #10543
This is in 000-default.conf, I believe this sets email forwarding for all domains?

[code]

[2019-06-11 16:42] mkArtakMSFT commented on #11056
Thanks for contacting us, @CheloXL.
Feel free to submit a PR and we'll happily consider it.

[2019-06-11 16:46] mkArtakMSFT commented on #11030
Thanks for contacting us, @qqbuby.
We do not have any plans to change this in the near future.

[2019-06-11 16:46] #11030 closed

[2019-06-11 16:52] mkArtakMSFT commented on #10992
Thanks for contacting us, @mcurko.
While this is not ideal, any change in this area is potentially breaking change unless we put the new functionality behind some kind of flag.
Do you have any suggestions regarding how this should work?

[2019-06-11 16:53] anurse opened #11098 "[Discussion] SignalR HandshakeProtocol.SuccessHandshakeData removed and replaced with helper method"
The [`HandshakeProtocol.SuccessHandshakeData`](https://github.com/aspnet/AspNetCore/blob/c5b2bc0df2a0027832bf7d01dfb19ca39cd08ae6/src/SignalR/common/SignalR.Common/src/Protocol/HandshakeProtocol.cs#L27) field was removed and replaced with a helper method that generates a successful handshake response given a specific `IHubProtocol`. This change was made because additional fields were added to the

[2019-06-11 16:53] davidfowl commented on #11085
We should have resolved this with the introduction of the new interface but we dropped the ball here. We need another property here, EntryPoint, see https://github.com/aspnet/AspNetCore/issues/7315

[2019-06-11 16:56] davidfowl commented on #4623
Sure.

[2019-06-11 16:56] mkArtakMSFT commented on #10984
Thanks for contacting us, @BlueBird67.
Are you using request localization middleware? If so, by removing it you will ignore the culture info passed from the browser and you can enforce what you have on the server.

[2019-06-11 16:59] rynowak opened #11099 "UriHelper cannot be used to navigate to non-Blazor URIs in server-side"
# Repro

Create a new server-side Blazor app (with auth).

Try to use `IUriHelper.NavigateTo("Identity/Account/Login")` (make a button).

It will go to the Not Found page instead of doing an actual navigation. However, making an `<a href>` with the same URL will navigate to the login page.

Using preview 6

[2019-06-11 17:00] mkArtakMSFT commented on #10949
@ryanbrandenburg how else we can help here? @aspnet/build do you have any suggestions regarding this?

[2019-06-11 17:00] davidfowl commented on #11050
What does that have to do with anything?

The Startup class is a bootstrapper, fundamentally it can't really have any dependencies inject into it since it's the one that has to configure more services. That limitation is even more evident in 3.0 as we disallow injecting anything into the startup constructor that wasn't already provided by the hosting (configuration and IHostEnvironment etc). To su

[2019-06-11 17:00] sebastienros opened #11100 "PlatformBenchmark broken"
Due to this change:
https://github.com/aspnet/AspNetCore/commit/f10680a37ab34c2b92829bc5135dde253260614a#diff-d6a9ae754775b6cb72445c3b8db610c2

At this line:
https://github.com/aspnet/AspNetCore/blob/master/src/Servers/Kestrel/perf/PlatformBenchmarks/BenchmarkApplication.HttpConnection.cs#L102

@benaadams @davidfowl

[2019-06-11 17:03] ryanbrandenburg commented on #10346
Cool, once that PR is merged/approved we can close this out.

[2019-06-11 17:06] benaadams commented on #11100
Ah

[2019-06-11 17:07] SteveSandersonMS commented on #11083
With preview 6, `ref` is now `@ref`:

[code]

[2019-06-11 17:07] #11083 closed

[2019-06-11 17:10] anurse commented on #10543
I believe it will, you can easily check by examining the headers in a custom middleware **before** the ForwardedHeaders middleware.

[2019-06-11 17:10] SteveSandersonMS commented on #11087
This is expected. A `RenderFragment` is a delegate, so its output could change each time it is invoked. Blazor has no way to predict whether your child content render fragments are going to produce the same output or not, so it has to execute them in case the output changes.

Basically, rerendering starts at a certain point in the tree, and refreshes everything below that point that might have cha

[2019-06-11 17:10] #11087 closed

[2019-06-11 17:11] scott-a-allard commented on #10971
I came across this same issue last week.  I found that if the host operating system (Debian in this case) didn't have explicit trust in the intermediate cert itself, kestrel would not send the intermediate cert to the client.  When I added the intermediate cert directly into the ca trust, it would send.  Having the root certificate alone was not enough.

this is unusual behavior; i would guess tha

[2019-06-11 17:12] mmiller678 commented on #11001
That worked - thanks.  I don't like the idea of convention based vs contract based.  Its fine to use conventions but give a contract for those conventions so I don't have to go read the documentation about what magic strings are needed to build an application vs an interface I can implement.  I don't think the two need to be mutually exclusive.

[2019-06-11 17:12] #11001 closed

[2019-06-11 17:14] davidfowl commented on #11100
This is what happens when PR checks pass.

[2019-06-11 17:25] benaadams commented on #11100
Can probably add it back to the .sln now it uses a Framework Json

[2019-06-11 17:28] sebastienros commented on #11100
The issue is the `<Reference>` that depends on custom .props files, but these will break `dotnet build` that is required for the benchmark services.

[2019-06-11 17:44] longhornleads commented on #10585
I was able to build the example template fine last week but it suddenly stopped.  I have made no changes to environment variables.

[2019-06-11 17:57] blowdart commented on #11026
That wouldn't be a bad approach at all :)

[2019-06-11 18:03] Tratcher commented on #11026
It wouldn't be a derivation, it would be a replacement. We've considered obsoleting the OAuth providers that also have OIDC support like Google and MSA. We hadn't decided if we'd need a replacement or just a doc/sample using raw OIDC.

[2019-06-11 18:20] pranavkm commented on #11099
Does the Router have a `NotFoundContent` set? We specifically choose to show you the NotFoundContent if the navigation was started programatically (via `NavigateTo`) and the route that could not be addressed.

The pivot here is that `NavigateTo` is meant for navigating within the component route-space. You could use `NavigateTo("...", force)` to force a browser redirect without the router being in

[2019-06-11 18:21] WojcikMM commented on #10085
I use official documentation andInputText-> ValueChanged  not fires this is not my bad configuration. It is?

[2019-06-11 18:33] egil commented on #11087
Ok, thanks for the response.

So I general, if a parent has code that is triggered though UI trigger or from a child component by a bound value/paramter/eventcallback, it will rerender itself AND any child components that are directly affected or have a ChildContent parameter?

[2019-06-11 18:57] SaeidSabzalizadeh opened #11103 "Is there any way to use run-time template in Blazor? for example instead of using .razor files using a db record?"

[2019-06-11 18:57] SaeidSabzalizadeh opened #11104 "Is there any way to use run-time template in Blazor? for example instead of using .razor files using a db record?"

[2019-06-11 18:59] #4081 closed

[2019-06-11 19:01] Andrzej-W commented on #10750
@danroth27 Of course now everything works perfectly and we should always write web applications without dead links or missing favicon.ico. Unfortunately problem with wrong server status code remains. Let's add this to `index.razor`
[code]
and we will get HTTP status code 500 instead of 404. Server side Blazor correctly returns 404.

I have also noticed that `app.UseHttpsRedirection();` has no effe

[2019-06-11 19:07] Andrzej-W commented on #10626
Good news for all people interested in Blazor client side prerendering!
### We don't have to wait - it already works in Preview5!!!
Read here #10750, download sample code from @danroth27 and be happy.

And because it already works I'm closing this issue.

[2019-06-11 19:07] #10626 closed

[2019-06-11 19:12] UrielMhezzek opened #11105 "Template blazorserverside not found"
I follow this commands.

But if i want to run
dotnet new blazorserverside -o WebApplication1

i get the Message:

[2019-06-11 19:13] douglasg14b commented on #2875
The answers here are a bit confusing. Asp.net Core WebAPI cannot have local identity management? That seems... absurd.

[2019-06-11 19:20] Andrzej-W opened #11106 "Blazor client side configured for prerendering returns status 500 instead of 404 for missing resources"
### Describe the bug
Server should return status code 404 for missing resources. It returns 500 with the following stack trace:
[code]

### To Reproduce
Clone this repository: https://github.com/danroth27/ClientSideBlazorWithPrerendering
It contains Blazor client side application (ASP.NET Core hosted) with prerendering enabled. In `index.razor` file add something similar to this:
[code]
and run ap

[2019-06-11 19:21] Andrzej-W commented on #10750
I created a new issue #11106 for wrong status code 500.

[2019-06-11 19:27] mikewodarczyk commented on #5616
Me to. I have had the same problem.  The option value string constants in the razor code don't seem to get recognized unless they refer to a C# variable.  For example, if in the C# code you did this:

    const string lettera = "a";
    const string letterb = "b";
    string someValue = letterb;

then in the HTML code you can do this:

    <select value=@someValue>
          <option value="@letter

[2019-06-11 19:46] #10474 closed

[2019-06-11 19:50] anurse commented on #11105
Can you post the output of `dotnet --info` please?

[2019-06-11 19:50] anurse commented on #11104
This appears to be the same as #11103. Closing this as a duplicate.

[2019-06-11 19:50] #11104 closed

[2019-06-11 19:57] SteveSandersonMS commented on #11106
This will no longer be the same with preview 6, since we no longer use the "SPA default page middleware" that is referenced in the error message. It's possible there could still be issues with preview 6, but if there are, the underlying cause would be different.

I'll close this since it definitely doesn't apply as-is to preview 6, but please open a new issue if you can reproduce any similar probl

[2019-06-11 19:57] #11106 closed

[2019-06-11 20:03] SteveSandersonMS opened #11107 "RemoteRenderer.OnRenderCompleted doesn't run on renderer sync context"
This is more of a question than a bug report, but while investigating a different reliability issue, I noticed that `OnRenderCompleted` (the thing that can throw the *Received a notification for a rendered batch when not expecting it* exception) doesn't run on the renderer sync context.

I've been trying to use this knowledge to create some failure scenario I can report, but have been unable to ob

[2019-06-11 20:19] DamianEdwards opened #11108 "Compat testing of popular libraries for 3.0"
As part of 3.0, there have been a [number of changes](https://github.com/aspnet/announcements/issues?q=is%3Aopen+is%3Aissue+label%3A%22Breaking+change%22+label%3A3.0.0) that may impact existing libraries that customers are using today. There of course also could be unintentional changes that end up breaking some of these libraries. It would be good to know about these sooner rather than later in o

[2019-06-11 20:19] natemcmaster commented on #11071
Confirmed over email and updated the description above. Package ID should include major.minor, example VS.Redist.Common.AspNetCore.SharedFramework.x64.2.1

[2019-06-11 20:20] benaadams commented on #11100
https://github.com/aspnet/AspNetCore/pull/11110

[2019-06-11 20:22] natemcmaster commented on #11071
cc @Pilchie - would be good to have someone from @anurse's team help out here. @johnbeisner has manually crafted the first round of .nupkgs to bootstrap the changes in VS, but we should add this to our build outputs soon so he doesn't have to keep doing that.

[2019-06-11 20:23] natemcmaster commented on #11072
Marking this one as blocked until we can get Arcade support for generating a vsman file for .msi's.

https://github.com/aspnet/AspNetCore/issues/11071 tracks generating nupkgs as a short-term fix.

[2019-06-11 20:23] SteveSandersonMS commented on #11103
No, .razor files are compiled. Hopefully you will find it possible to put whatever logic you need into a .razor file to produce different output depending on data from your DB.

[2019-06-11 20:23] #11103 closed

[2019-06-11 20:32] mkArtakMSFT opened #11111 "Remove inline scripts from project templates"
We should move all the inline scripts (if any) to separate js files.

[2019-06-11 20:37] havenindustries commented on #10585
I checked and that environment variable is not set.

[2019-06-11 20:40] SteveSandersonMS commented on #11087
Close. It will render any children for which there are parameters whose values *might* have changed. This means any parameters other than immutable primitives like string, int, etc, since there’s no way to know if complex objects have mutated internally.

[2019-06-11 20:43] benaadams commented on #11100
Though now am wondering if ParseRequestLine should also be using the same sequence reader

[2019-06-11 20:44] UrielMhezzek commented on #11105
Hello, here the output

Host (useful for support):
  Version: 2.1.3
  Commit:  124038c13e

.NET Core SDKs installed:
  No SDKs were found.

But i don't understand this, i have installed the Microsoft .Net Core SDK 3.0.100 - preview5 at this moment.

[2019-06-11 20:52] mikaelm12 commented on #10169
**Microsoft.AspNetCore.Http.Connections.Client.Internal**
- ITransport
- ITransportFactory
- LongPollingTransport
- ServerSentEventsTransport
- WebsocketsTransport

**Microsoft.AspNetCore.Http.Connections.Internal.Transports**
- IHttpTransport
- LongPollingTransport
- ServerSentEventsTransport
- WebSocketsTransport
 Microsoft.AspNetCore.Http.Connections.Internal
- ServerSentEventsMessageFormatter

[2019-06-11 20:56] anurse commented on #10169
Nice, let's look at this in triage

[2019-06-11 20:58] anurse commented on #11108
Putting in `area-infrastructure` I guess? One problem we have in our "dispatching" logic is we don't have a great "cross-cutting" bucket to get it off the dispatch queue.

[2019-06-11 21:03] anurse commented on #11105
A couple more useful questions to answer

* What directories do you have in the `C:\Program Files\dotnet\sdk` folder?
* Do you have multiple `dotnet.exe`s in your `PATH`?
* Have you only installed the installers, or have you installed SDKs from the dotnet-install script or one of our own repo `build.cmd` scripts?

[2019-06-11 21:13] pranavkm commented on #11107
From what I gathered, with a `send`, the client waits until the hub method is invoked, but does not wait for a response. This should mean that you could have concurrency in the body of the Hub method unless SignalR uses synchronization primitives on the server. @anurse \ @davidfowl would certainly know best.

That said, the body of `RemoteRenderer.OnRenderCompleted` doesn't look like it needs to b

[2019-06-11 21:14] anurse commented on #10701
Based on the investigation I don't think we have a clear idea on how to prevent this kind of overload in 3.0. Moving to the backlog.

@hours10000 This really is the source of the problem. If you take 2 seconds to process a message but messages are arriving consistently faster than that, you're creating an ever-growing queue. The ping timeout is a symptom of this, but I think you need some kind of

[2019-06-11 21:22] anurse commented on #10902
This is actually an issue in our doc sample, not an in-repo sample, so we should look at it. I'll leave the bug here and put it in preview 8.

@TW8B if you're interested, we'd be happy to take a PR! The sample code is [here](https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/signalr/javascript-client/sample) and you can just submit a PR and tag me in it so we can review it.

[2019-06-11 21:23] javiercn commented on #10585
@SteveSandersonMS I believe I have something that can help with this. I changed how the devserver works as part of adding support for static web asssets and pass the target path from MSBuild. I believe that has potentially the side-effect or fixing this

[2019-06-11 21:26] #10461 closed

[2019-06-11 21:29] mkArtakMSFT commented on #10888
Thanks @Vetsoo.
We really need something which would reproduce the issue. Otherwise we can't really help. From what you've described it sounds like there maybe an issue in your dependencies, which is something you'll have to figure out yourself:

[2019-06-11 21:32] ryanbrandenburg commented on #11111
I'm not aware of any instances of that offhand, was there an inciting incident for this?

[2019-06-11 21:32] BrennanConroy commented on #11107
Send waits for the bytes to be taken by the OS. Inside SignalR we accept bytes and consume them synchronously.

This should be fixed by @pranavkm because blazer wasn't awaiting sends and there is now an internal queue for sends.

[2019-06-11 21:37] havenindustries commented on #10585
@javiercn that would be amazing!  It's super frustrating because I love blazor and I want to get further on my project with it but I'm totally stuck on this simple build problem.

[2019-06-11 21:37] anurse commented on #10432
Hey @BalintFarkas, we do want to get these tests in before preview 7 (which closes at the end of June). If you even just submit an initial PR with some tests (to get that sweet sweet contributor cred ;)) we can take it from there. By next week we'll probably have to just take this on ourselves. Sorry we missed the original recognition! If we aren't able to get you recognized in the tests, we'll tr

[2019-06-11 21:39] richlander commented on #10847
Very interesting. Do you see the same thing if you try to build a .NET Core console application?

Can you successfully run ARM32 Debian images in your environment?

Please try with Preview 6 images?

/cc @MichaelSimons

[2019-06-11 21:47] anurse commented on #11107
SignalR **does** currently ensure that no two invocations for the same connection occur on a hub on the server, but this is something we are thinking about changing post-3.0 (#5351). However, we'd do so in an *opt-in* manner because there may be users depending on the serialized behavior. I think you can safely rely on the fact that for any given connection, no two invocations will be executing(*)

[2019-06-11 21:51] sebastienros commented on #10956
It's from ASP.NET, isolated to these commits, there were no build between these.
https://github.com/aspnet/AspNetCore/compare/0b54783877cca229e2fc3f772ce7257cf0b3814f...bb9ba122c169c3fe4d8edc3446c2434cafe194aa

It's probably from the BedRock refactor (@davidfowl)

Updated chart with 20% decrease

![image](https://user-images.githubusercontent.com/1165805/59309415-56a25280-8c58-11e9-8963-e620568876

[2019-06-11 21:53] #10494 closed

[2019-06-11 21:54] SteveSandersonMS commented on #11107
Thanks everyone! Andrew’s last post explains why I can’t observe any buggy behaviour then.

The remaining question is whether we want to be more explicit about this inside Blazor by dispatching to the renderer sync context. If not we should at least add a comment to explain why it’s safe to assume correct ordering of this: https://github.com/aspnet/AspNetCore/blob/master/src/Components/Server/src/

[2019-06-11 21:56] dougbu commented on #4923
Couple more bullets
- [ ] avoid NU1704 build warnings and other client / server incompatibility issues
- [ ] change default `$(OpenApiGenerateDocuments)` to `false` in projects using .NET Core 2.0 or earlier
  - not supported by `dotnet-getdocument` tool in the Microsoft.Extensions.ApiDescription.Server package
  - otherwise, users need to manually add `<OpenApiGenerateDocuments>false</OpenApiGene

[2019-06-11 21:58] mkArtakMSFT commented on #10912
Thanks for the details, @arivoir.
We'll review this after we're done the work for 3.0 release.

[2019-06-11 21:58] anurse commented on #11107
One thing, that doesn't really apply to you now but may later: This does **not** quite hold for Streaming (i.e. returning `IAsyncEnumerable<T>` from a Hub method). In that case we move on to the next message after starting the stream, and don't wait for all the items to be yielded.

Blazor isn't using streaming so it's not directly relevant, but useful context to have :).

[2019-06-11 22:01] MichaelSimons commented on #10847
Can you please include the output of running `docker info` and `docker version` in your Odroid environment?

[2019-06-11 22:02] fubar-coder commented on #4623
My use case is a little more complicated, because I wanted to implement `AUTH TLS` for an FTP server. This stuff is quite crazy, as I have to do the following:

- Have a connection middleware that works in a "pass-through" mode by default
- Stop the receiving task without disposing anything (effectively pausing it)
- Send a response that the connection switches to `SslStream`
- Flush and stop the

[2019-06-11 22:06] anurse opened #11114 "Mark WebHostService with DesignerCategory("Code")"
If a user derives from `WebHostService`, VS tries to open the file in the Component designer, which is the wrong experience. We can stop this easily by just applying to `[DesignerCategory("Code")]` attribute to the class to suppress this behavior.

cc @Pilchie @Tratcher

[2019-06-11 22:10] ericwj opened #11115 "Blazor: Support prerendering for static sites"
### Is your feature request related to a problem? Please describe.
There is prerendering for server-side Blazor and for client-side using `Index.cshtml` (#8842, #10626), but this requires a web server (Razor Page). I hope there is a way to also perform some sort of prerendering for sites that are served completely statically from Azure Storage, `dotnet serve` or similar.

### Describe the solution

[2019-06-11 22:12] anurse commented on #10927
Let's close this out this week.

[2019-06-11 22:13] anurse commented on #10351
This would be great for a new contributor!

[2019-06-11 22:17] anurse commented on #6871
We'll leave this in preview 7, but it's on the verge :). If you're passionate @JamesNK , we take PRs 🐴

[2019-06-11 22:19] anurse commented on #4749
Backlogging until there is more customer demand.

[2019-06-11 22:26] anurse commented on #10956
@davidfowl are you able to take a look? We need to determine what to do for 3.0 here or if we need to just eat it and fix it in 3.1.

@sebastienros can you get libuv numbers as well?

[2019-06-11 22:29] anurse commented on #10971
We don't really control `X509Certificate2`'s behavior here. It looks like it's only loading one of the certs which means Kestrel can only send one of the certs (the leaf, I presume). This bug is probably better filed in dotnet/corefx.

[2019-06-11 22:33] mkArtakMSFT commented on #10925
@rynowak what's the plan here? What can we do to improve the perf?

[2019-06-11 22:36] mkArtakMSFT commented on #10940
@NTaylorMullen please follow up on this, let's see how much we can influence here to get this fixed.

[2019-06-11 22:39] sebastienros commented on #10956
Libuv is 10K connections per sec (on Windows)

[2019-06-11 22:42] anurse commented on #10956
But any regression? Or do we not have history to check for that?

[2019-06-11 22:43] robcube commented on #11089
Sorry, am not exactly clear by what's "sticky sessions" are. And it being multi-instance as if it's in a server farm? What are you noticing that presumed you to ask me those questions?

[2019-06-11 22:44] sebastienros commented on #10956
We don't track because sockets is faster everywhere now

[2019-06-11 22:47] anurse commented on #11114
See also https://developercommunity.visualstudio.com/content/problem/578722/classes-deriving-from-webhostservice-become-design.html

[2019-06-11 22:49] anurse commented on #11114
Unsurprisingly, you can repro the VS issue just by trying to open `WebHostService.cs` itself in the editor :)

[2019-06-11 23:46] #11100 closed

[2019-06-11 23:50] pranavkm commented on #9893
@javiercn picking this one up. Let me know if you have already started looking at this.

[2019-06-12 00:06] halter73 opened #11121 "Remove or document python2 dependency in ProjectTemplate.Tests"
### Is your feature request related to a problem? Please describe.

AngularTemplateTests.AngularTemplate_Works() in ProjectTemplate.Tests seems to install some node module that depends on running [GYP](https://gyp.gsrc.io/) which in turn depends on python2. If you do not have python2 on the path when running the test, the test will fail. I did not catch which nod module was running GYP.

### Descr

[2019-06-12 00:35] pranavkm commented on #10925
I brought this up during the sync up this week. I don't think there's any work that's immediately actionable at this point, (3.0), but I think it would be reasonable if we file an issue in CoreFx to track improving the performance of this scenario.

cc @ahsonkhan \ @JeremyKuhne \ @steveharter, does this seem like a reasonable plan of action for now?

[2019-06-12 00:39] Worthy7 commented on #11026
Obsoleting the google and MS one's just means causing extra work for devs
+1 the idea of just replacing them, to avoid any breaking changes

[2019-06-12 01:20] davidfowl commented on #10956
I would maybe expect this to be a little slower but not by much, 20% is big.

[2019-06-12 01:22] davidfowl commented on #10701
In 3.0 the error won't happen, you'll just get throttled.

[2019-06-12 01:23] natemcmaster commented on #9720
Initial PR - https://github.com/aspnet/Extensions/pull/1828. If this is the right change (waiting for review from others), then it needs to be applied to all repos listed in the issue above.

[2019-06-12 01:58] Timothy-Liu opened #11126 "Give Blazor File a Proper Extension Name"
When I introduce Blazor to students, I have to tell them - "The extension name of a Blazor file is Razor, and the extension name of a Razor page is cshtml." - which is very weird. Can we fix this issue and give the Blazor file a appropriate extension :)

[2019-06-12 02:02] ajamrozek commented on #7531
It seems like our usage of the same user across all our pods in the cluster was creating this issue. I rewrote our dockerfiles to have their own unique users and our pods appear to be behaving better.

[2019-06-12 02:54] VaibhavSharma1981 commented on #7772
You need to add  area descriptor to controller to make it run. Ex.[Area("Admin")]

[2019-06-12 03:48] ahsonkhan commented on #10925
That sounds good to me. Thanks @pranavkm

[2019-06-12 04:04] concretor91 commented on #4662
Now it is possible to use Kestrel with Nginx as reverse proxy and SPNEGO module to get Kerberos is working and i can use authorize attribute or get login using HttpContext.Current.User.Identity.Name?

[2019-06-12 04:08] natemcmaster opened #11128 "Helix: make the aspnetcore shared framework available in Helix tests"
Required to unblock tests such as https://github.com/aspnet/AspNetCore/issues/8270

Tests which need to run against the ASP.NET Core shared framework currently can't run in Helix. We would like to make more tests actually run on the shared framework (#4257 ), but we need to solve this issue first.

**Challenges**
* The shared framework is platform-specific, but Helix tests only build on Windows x6

[2019-06-12 04:09] natemcmaster commented on #8270
Depends on https://github.com/aspnet/AspNetCore/issues/11128

[2019-06-12 04:09] natemcmaster commented on #7939
This is a lower priority issue which doesn't have to be done right now.

There is a tangentially related issue -- https://github.com/aspnet/AspNetCore/issues/11128

[2019-06-12 04:18] natemcmaster commented on #7073
@dougbu do you have bandwidth to help on this one?

Here's how to repro the error:
1. Download the latest .symbols.nupkgs from a CI build and extract all .pdbs
2. `dotnet tool install -g sourcelink`
3. Run `sourcelink test` on each pdb

I'm still seeing missing sources for the code from the MessagePack git submodule that end up Microsoft.AspNetCore.Components.Server.dll.

One likely cause of the e

[2019-06-12 04:19] davidfowl commented on #10956
Did this regress sockets and Libuv?

[2019-06-12 04:20] natemcmaster commented on #3975
I haven't had time to make progress on this one. @blowdart @Pilchie who can we hand this off to while I'm on leave? This one needs some design and further investigation.

[2019-06-12 04:25] dougbu commented on #7073
Not sure about my bandwidth for the next week or so. Will see how things feel early next week&hellip;

Why is this issue a P1 at the moment if it affects only the MessagePack submodule?

[2019-06-12 04:32] natemcmaster commented on #9012
PR => https://github.com/aspnet/AspNetCore.Docs/pull/12826

[2019-06-12 04:35] natemcmaster commented on #7073
PRI 2 is probably more appropriate. It's something we should try to resolve before RTM. Also, this impacts @JohnTortugo who has been trying to add source-link validation to our release pipelines.

[2019-06-12 04:40] natemcmaster commented on #9927
@anurse is this something you might be able to drive while I'm out? This is closely related to #10597.

[2019-06-12 05:49] mcurko commented on #10992
I think this should be the way to go, for example:

`<input asp-for="LastProcessedDateTime" **asp-textfield="true"** class="form-control" readonly />`

[2019-06-12 05:53] francotiveron opened #11131 "JS interop should not require assembly-wide unique IDs for instance methods"
Two DIFFERENT Blazor components define the following instance method:
[code]
At load time they call a js function, passing themselves to js:
[code]
In js, the passed .NET object reference is saved in a variable named _callback.
Later, an event occurring in javascript calls back the instance method
[code]
The browser console fails with the following error:
[code]
BTW, everything goes well if only o

[2019-06-12 05:59] #10779 closed

[2019-06-12 06:41] Vetsoo commented on #10888
Totally understandable @mkArtakMSFT, I will investigate the dependencies! Thanks for taking the time to answer, shall I close the ticket?

[2019-06-12 07:04] hours10000 commented on #10701
Thanks for all your response about this disconnect event "OnDisconnectedAsync Start, exception: (null)"。
@BrennanConroy @davidfowl @anurse
Yes,  I have done something on my client to avoid overloading the server like this 。

But I really want to know why I met this error "Error when processing requests. System.InvalidOperationException: Advancing examined to the end would cause pipe to deadlock be

[2019-06-12 07:10] hours10000 commented on #10701
Hi, @davidfowl
Allow me to confirm: Is your answer to this error : "Error when processing requests. System.InvalidOperationException: Advancing examined to the end would cause pipe to deadlock because FlushAsync is waiting"  ?

[2019-06-12 07:12] davidfowl commented on #10701
Yes, this exception has been removed completely from 3.0.

[2019-06-12 07:30] davidfowl commented on #10938
This is done.

[2019-06-12 07:30] #10938 closed

[2019-06-12 08:03] MikaelUmaN opened #11134 "CreatedAtRoute with DateTimeOffset gives incorrect URL"
### Describe the bug
DateTimeOffset string is formatted incorrectly in location link after returning CreatedAtRoute result.

### To Reproduce
Steps to reproduce the behavior:
- Given HttpPost route
- Given a CreatedAtRoute result including a DateTimeOffset parameter
- Then the location parameter should include a valid string representation of the DateTimeOffset value.
- Instead, an erroneous value

[2019-06-12 08:43] bjorn-ali-goransson commented on #6486
To clarify, use the solutions in the first message of this thread and *don't* follow the advice which the exception gives you:

    An error occurred when retrieving Google user information (Forbidden). Please check if the authentication information is correct and the corresponding Google+ API is enabled

You're not required to enable *any* API in order to sign in with Google.

Merely having corre

[2019-06-12 08:48] julienGrd commented on #11090
I use Action also (and Func) rather than EventCallback. it can be a problem ? it's a performance issue ?

thanks !

[2019-06-12 08:50] #10888 closed

[2019-06-12 09:34] yahorsi opened #11135 "Question: GC Time"
Hi Guys!

I did a research and didn't find anything on that more or less simple wish.

It would be really cool to have an ability to record how much time is spent in GC, for the particular request, while that request was executing. If that is somehow possible we could return that info back to the client in e.g. header to be able to simplify perf debugging.

Thank you

[2019-06-12 09:37] dazinator commented on #10489
Is BrowserHttpMessageHandler no longer needed in latest preview bits then - i.e can you just use `new HttpClient()` or is there a replacement handler?

[2019-06-12 09:43] schmitch commented on #9737
@danroth27 actually I wish that at least `components-reconnect-failed` would also be available directly as a javascript listener, maybe some people want to reconnect forever (via some kind of backoff).
I mean even the other classes/single modal fails short sometimes when you have two widgets rendered via blazor, but dont want to render the whole page useless.

example (bootstrap, pseudo):

[code]

[2019-06-12 09:58] egil commented on #11087
Thanks again.

I guess you could add immutable collections to that whitelist, as long as they hold other immutables, like the primitives you mention. Perhaps also readonly structs in the future, but I guess detecting those at runtime will require reflection which might not give an overall benefit with performance.

[2019-06-12 10:13] samsosa commented on #11135
The garbage collection runs asynchronously and is not bound to a single request, instead it works on a more global level.

[2019-06-12 10:54] SteveSandersonMS commented on #8204
I've put a working proof-of-concept fix for this here: https://github.com/aspnet/AspNetCore/compare/stevesa/poc-handle-fast-events. It's a combination of Javier's idea about patching the existing render trees, plus a new idea about tracking the chain of replacements for event handler IDs.

This fixes fast typing as well as a whole range of similar "async events" diffing issues. It's hugely benefic

[2019-06-12 11:03] vertonghenb commented on #11090
@julienGrd
`EventCallback<T>` can be used for async and non-async functions without having to use 2 properties to link the functions to. For me this is the most interesting part.

[2019-06-12 11:57] yahorsi commented on #11135
Let me clarify questions. Imagine the real life scenario, we have requests that takes aprox 100ms to execute. We know part of that time is time taken to execute some TSQL. We also know juring request execution we do allocate some memory. What we don't know is what is the persentage of the request time, request thread(s) were blocked by GC. Having such number will give us clear answer on is it wort

[2019-06-12 12:04] DAllanCarr commented on #11135
It's an interesting idea and EventPipe will allow you to listen to collection states. But regards to server and background GC the time spent would be minimal compared to executing a database call so I am not sure where the optimization would take effect.

[2019-06-12 12:40] NeilMacMullen opened #11136 "Debugging of Blazor ASP.Net core-hosted apps under Visual Studio becomes painfully slow"
I have an ASP.NET core hosted Blazor App based on the latest public SDK and latest VS2019.

After a few rounds of debugging (F5 in Visual Studio) the page render time seems to degrade to a crawl and I often get the "localhost is not responding"  or "localhost is not responding due to a long-running script" popup.

This _seems_ to be related to rendering rather than calling server APIs.  For exampl

[2019-06-12 12:45] Tratcher commented on #4684
Update this error message:
https://github.com/aspnet/AspNetCore/blob/6c806f91b10c0bf419ab3f2a22c7d64ac5a94663/src/Security/Authentication/Google/src/GoogleHandler.cs#L37
"Please check if the authentication information is correct and the corresponding Google+ API is enabled."

[2019-06-12 12:46] Tratcher commented on #6486
@bjorn-ali-goransson indeed, that message is out of date. I've added a note to fix it next time we work on those. https://github.com/aspnet/AspNetCore/issues/4684#issuecomment-501256499

[2019-06-12 12:47] brockallen commented on #10494
great, thanks!

[2019-06-12 12:59] yahorsi commented on #11135
Exactly, and we too. So we need to understand what is GC impact right now. Having time spent on allocations would be great as well.

[2019-06-12 13:10] egil commented on #11090
@chanan I dont think its bad at all.

With this syntax, you can, as @vertonghenb says, get two-way binding with less typing just by naming your parameters correctly (`Year` and `YearChanged` - see example at the bottom of the [data binding section in the docs](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#data-binding)).

Also, if you do not want to pass a para

[2019-06-12 13:15] DAllanCarr commented on #11135
I suppose the question is what would GC impact give us? In a finely tuned application nothing in user code should survive Gen0 and Server GC is optimized for that. I would expect questions would need to be asked if Gen1 and Gen2 is being over allocated. Something like a high water mark for when a possible Full GC is about to happen. But determining this would still be a best guess.

[2019-06-12 13:15] Tratcher commented on #4662
Yes. Careful though:
"Credentials can be persisted across requests on a connection. *Negotiate authentication must not be used with proxies unless the proxy maintains a 1:1 connection affinity (a persistent connection) with Kestrel.*"

I don't think NGinx guarantees that.

[2019-06-12 13:26] pamedasa commented on #11039
Any update on this? Currently I am blocked on this. Is there any way to route to different controller if specified route with api-version doesn't exist?

[2019-06-12 13:48] amccool commented on #4631
sorry for the late quote @Tratcher  ---- I didnt see in the ITicketStore docs where it mentions that ITicketStore implementations need to be Singletons

[2019-06-12 13:55] Tratcher commented on #4631
ITicketStore isn't even automatically resolved from DI, you have to do that manually.

[2019-06-12 13:58] julienGrd opened #11137 "[Blazor Server Side] KeyPress/KeyDown event not working on div element"
hello, these two events seem not fire when they are used on div element.
[code]

`async Task OnKeyDown(UIKeyboardEventArgs e)
    {
        //breakpoint never reach
    }`

I try to focus element before with a $("#test-container-keydown").focus() but still not working.

Thanks !

[2019-06-12 13:59] saiteja-y opened #11138 "How to change resource path dynamically based on the tenant(we are determining tenant based on host name)?"
I'm trying to set up multi-tenancy with different set of resource files for each tenant separated in different folders. Where should I set the resource path to pick the folder based on tenant(By the way I'm identifying tenant based on hostname)?

Here is the folder structure I'm having -

![Folder Structure](https://i.ibb.co/hC4L41R/Capture.png)

As of Now I hardcoded the value to Tenant1 in Confi

[2019-06-12 14:26] davidfowl commented on #11135
I would love something like this and it something I hope to push for (the ability to determine where time is spent during a request with a break down of how much time is spent in your code or in various subsystems in the runtime) but it's not something you can easily build today (at least without significant overhead). .NET Core 3.0 does have event pipe as @DAllanCarr mentions but there might not

[2019-06-12 14:34] yahorsi commented on #11135
Even for very basic things? Just like GC time total and e.g. Total Time per request spent in allocations?

[2019-06-12 14:41] BalintFarkas commented on #10432
Hey @anurse, thanks for the ping, got me focused wonderfully. :) You know how it is with developer teams and deadlines...
Here's my branch: https://github.com/visionary-broadcast-engineering/AspNetCore/tree/10432
I'm busy working on it right now.

Thanks for looking out for the community! :)

[2019-06-12 14:41] #9012 closed

[2019-06-12 14:47] anurse commented on #9927
Sure, I'll swap it to assigned to me for now.

[2019-06-12 14:51] anurse commented on #7531
Ah yeah, that could definitely cause a problem like this. In that situation (where you intentionally have a lot of processes wiht the same user) it's also reasonable to increase this limit (as long as you know *why* the current limit isn't sufficient, which in this case you do).

Closing this for now on the supposition that this is due to sharing a single user for multiple applications. Please fee

[2019-06-12 14:51] #7531 closed

[2019-06-12 15:00] Tragetaschen opened #11139 "Add support for non-numeric LangVersion in Razor code generation"
I have a Preview5 project with `<LangVersion>latest</LangVersion>` currently corresponding to C# 7.3 and Razor code generation handles that as if it was C# 8 adding `#nullable` annotations to the .g.cs files which then result in compilation error CS8652 "The feature 'nullable reference types' is currently in Preview".

https://github.com/aspnet/AspNetCore-Tooling/blob/c9e0d2a60f7287d14c282555669b6

[2019-06-12 15:14] mkArtakMSFT commented on #8270
Marking this as `blocked` until #11128 is fixed.

[2019-06-12 15:16] amccool commented on #4631
oh - I was using this move and it seems to be resolving
[code]

[2019-06-12 15:17] natemcmaster commented on #9927
Thanks!

[2019-06-12 15:19] iron9light commented on #5542
@mkArtakMSFT Was this feature implemented?
If YES, I wanna feature below. Can I do it?

If NO, please reopen this issue.

[2019-06-12 15:20] mkArtakMSFT commented on #10992
The approach is reasonable. I'm not sure about the naming of the additional property, though.
@pranavkm, @NTaylorMullen suggestions?

[2019-06-12 15:23] PinpointTownes commented on #3774
This sounds really fragile. Wouldn't that force "non-ASP.NET" .NET Core apps (e.g consoles or services) to reference the Hosting/Http assemblies, making self-deployed apps bigger than what they should be?

FWIW, I personally really like the second option, which should be trivial and super clean to implement (likely by having an empty constructor and a constructor accepting a `IKeyRingProvider`?)

[2019-06-12 15:33] mmiller678 commented on #11001
Even with the above change this still doesn't work with the WithWebHostBuilder syntax

[2019-06-12 15:33] davidfowl commented on #11135
You can easily get process wide information using the new event counters in 3.0. There's nothing as granular as getting pause time per request.

[2019-06-12 15:44] arivoir commented on #10912
Thanks for replying @mkArtakMSFT.

For anyone having the same problem, until this is fixed I applied a workaround by using the GetHashCode of the fragment method

[code]

Notice it is setting the hash code of the fragment as if it were the sequence number. This is not a solution, but it allows me to continue the development without having to set arbitrary sequence numbers everywhere.

In the code

[2019-06-12 15:44] yahorsi commented on #11135
Am I right Server GC blocks all threads? If so, we can try to collect data and then just filter GC events that were inside request start/end. I mean that server GC pauses all threads and so all currently executing requests. The only exception is when request is currently waiting for IO to complete, then it is not affected by GC (means requests won't take less time if there was no GC).

[2019-06-12 15:47] mmiller678 commented on #11001
Ah - my fault it actually does.  .WithWebHostBuilder creates a NEW factory - it doesn't modify the underlying factory.  Once I read the documentation and used the newly generated factory to create the client it works as expected.

[2019-06-12 15:48] BrennanConroy commented on #11089
The reason I'm wondering about multi-instance is that SSE makes two requests after negotiation.

One will be the long running "streaming" request which gets messages from the server. The other is a POST request whenever it sends a message to the server.

In your logs above, the streaming request looks like it successfully connected to the "correct" server because it didn't 404 and it was able to r

[2019-06-12 15:50] Tratcher commented on #4631
Right, you're manually adding and resolving it. ITicketStore needs to be a singleton in this example because CookieAuthenticationOptions are treated like singletons (per scheme).

[2019-06-12 16:15] BalintFarkas commented on #10432
@anurse In the interest of not wasting any further time, I've added test CanCancelStartingConnectionAfterNegotiate based on the pseudocode you've provided. Does this look OK?

By the way I really like the SyncPoint mechanism, we'll adopt it for our own tests.

[2019-06-12 16:17] SteveSandersonMS commented on #11131
Sounds like a bug. Thanks for reporting it.

It makes sense to require `static` methods to have assembly-wide unique identifiers. However it doesn't make sense that instance methods need assembly-wide unique identifiers. We should only require the identifier to be unique within the type of the instance you're passing.

As a workaround, you could do something like:

[code]

I know it's annoying to

[2019-06-12 16:17] mkArtakMSFT commented on #10992
@mcurko feel free to send us a PR and we'd happily consider it.

[2019-06-12 16:18] mkArtakMSFT commented on #10992
@NTaylorMullen assigning this to you to review the PR and drive it to completion. Otherwise, no action is required.

[2019-06-12 16:20] SteveSandersonMS commented on #11136
This isn't something I've experienced. Do you have any repro steps? For example, if you had to reproduce the issue on a new machine without access to any of your existing source code, what code would you add to the default template and what actions in VS would be sufficient to trigger this problem?

[2019-06-12 16:21] mkArtakMSFT commented on #11139
Thanks for contacting us, @Tragetaschen.
@NTaylorMullen thoughts?

[2019-06-12 16:22] SteveSandersonMS commented on #11137
Does it work on an `<input>` element for you? Is this problem specific to a `<div>` somehow?

[2019-06-12 16:25] NeilMacMullen commented on #11136
Thanks Steve, knowing that it's not 'expected' with the current state of the tooling is helpful.    I have a suspicion that using LINQ expressions in the razor may be what exacerbates the problem.   Another possibility might be that I'm using the OzCode debugging extension  but I'll try to narrow it down.

[2019-06-12 16:31] SteveSandersonMS commented on #11107
Added comment in https://github.com/aspnet/AspNetCore/pull/11141

[2019-06-12 16:31] #11107 closed

[2019-06-12 16:39] mkArtakMSFT commented on #11138
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-06-12 16:39] julienGrd commented on #11137
yes it working on input perfectly !

And i make another test, if i do something like this
[code]
It works if i put the focus on the input and i begin write text (but it's not what i want to do)

[2019-06-12 16:41] ryanbrandenburg commented on #11121
Quick research suggests the culprit is likely node-sass which is an optional dependency of our Angular templates (but not of the default `ng new` templates.)

[2019-06-12 16:42] mkArtakMSFT commented on #11134
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-06-12 16:44] Mewgrammer commented on #10847
Next Tuesday I will have access to the hardware again and provide you with the outputs. I will try to build & run several of the templates for net core 3.0 preview 6 both on docker and directly on the OS.

Are there any further command outputs or information that could be useful?

[2019-06-12 16:46] saiteja-y commented on #11138
@mkArtakMSFT Thanks for responding, I have posted this on StackOverflow as well. Unfortunately, I didn't receive any response from the community. I'm kind of helpless on this scenario. Here is the link for the same question from stackoverflow - [Question](https://stackoverflow.com/questions/56555649/how-to-change-resource-path-dynamically-based-on-the-tenantwe-are-determining-t ), Any help is appr

[2019-06-12 16:50] DylanDmitri commented on #10853
Oops this is GNU licensed. Adding this would be a bad idea.

[2019-06-12 16:50] #10853 closed

[2019-06-12 16:52] mkArtakMSFT commented on #10612
@rynowak is the solution @dazinator achieved good for his scenario, or would we recommend something different?

[2019-06-12 16:58] NeilMacMullen commented on #11136
Ok - here's a fairly easy and reliable (for me) way to reproduce the problem...

- Create a new "ASP Core-hosted" application (the one with the sample weather forecasts on the "FetchData" page)
- In the "WeatherForecasts" action, bump the number of forecasts up to 500
- In the FetchData razor page, change OnInitAsync to read..

` var f  = await Http.GetJsonAsync<WeatherForecast[]>("api/SampleData/

[2019-06-12 16:58] mkArtakMSFT commented on #10611
Thanks for contacting us, @dazinator.
@rynowak what should we do here?
Should we update the service resolution code to require certain services rather than silently fail?
This is not really an ask we've got from community and this is pretty corner case situation. So I'm not sure we should change anything, especially when there is a workaround to manually add all the necessary services.

[2019-06-12 17:15] isaac2004 commented on #10949
After doing a clean clone and talking with @ryanbrandenburg, I got it working. Closing

[2019-06-12 17:15] #10949 closed

[2019-06-12 17:30] NTaylorMullen commented on #11139
Just verified, this is a bug on our side where we're interpreting C#'s latest version as 8.0 but in reality it's not. I wonder if this was missed from the get-go or if this was changed after-the-fact, that will take more investigation.

[2019-06-12 17:45] chrissainty opened #11142 "Errors when prerendering a client-side Blazor component with an injected HttpClient"
### Describe the bug
When prerendering a client-side Blazor component which has an injected `HttpClient` the following error is thrown.

[code]

I can add a `HttpClient` to the server projects DI container which gets over this initial error. But this leads to another error...

[code]

I have also tried injecting `IComponentContext` then wrapping both the `@Inject HttpClient Http` statement and the

[2019-06-12 17:48] Andrzej-W commented on #11137
`<div>` element is not fucusable and if there is no focus you will not receive `KeyPress/KeyDown` events. Here is a simple example in HTML (save it in html file and open in any browser):
[code]
You have to add tabindex attribute. Now you can use your mouse to click on text in `<div>` and then press any key:
[code]

[2019-06-12 17:52] ryanbrandenburg commented on #8474
JSON.NET will convert `"3"` to an int, but System.Text.Json does not. Is this known/expected?

[2019-06-12 17:54] Andrzej-W commented on #11137
Before you add `tabindex` to `<div>` element you should read various remarks here:
https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex

[2019-06-12 18:18] aguacongas opened #11144 "Blazor GetJsonAsync returns an empty object"
In version 3.0.0-preview6.19307.2 the GetJsonAsync extension method returns an empty object

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.0-preview6.19307.2'
2. Run this code `var response = await _httpClient.GetJsonAsync<SomeComplexeGenericType<SomeType>>("http://api")`
4. See error
The object return is empty

### Expected behavior
Before version '3

[2019-06-12 18:20] sebastienros commented on #10956
It didn't regression with Libuv on Windows.

[2019-06-12 18:24] mkArtakMSFT commented on #11138
@saiteja-y check out how something similar is done here: https://github.com/aspnet/AspNetCore/issues/10612#issuecomment-497421265

[2019-06-12 18:24] AmadeusW commented on #10940
@NTaylorMullen what did you learn during your investigation? Who invokes new completion after typing "inject"?
It seems that there a change in the buffer graph, WebTools dismisses completion and triggers a new one. Is there a way for WebTools to differentiate between cases when completion needs to be dismissed, and when it does not need to be dismissed?

[2019-06-12 18:33] #4682 closed

[2019-06-12 18:37] saiteja-y commented on #11138
I'm able to achieve this for Razor views but not for Resource files. Both the tenants support multiple languages.

[2019-06-12 18:58] SteveSandersonMS commented on #11137
Thanks for explaining this, Andrzej!

[2019-06-12 18:58] #11137 closed

[2019-06-12 19:02] natemcmaster commented on #10597
Tentatively putting on @anurse's plate (feel free to redistribute) and making this 'PRI 2'. I think it would be good to make some progress on this soon while we finish reviewing 3.0 API, but obviously, I'm on leave so won't be able to help.

[2019-06-12 19:03] halter73 opened #11145 "Consider updating Kestrel error message about missing dev cert"
It appears that we can get the following error due to mismatched dotnet runtime and sdk versions. Maybe we should mention this as a possibility in the exception error message.

[code]

[code]

@Tratcher @jkotalik @anurse

[2019-06-12 19:12] lukepuplett opened #11146 "Improve logging for SignInManager"
### Is your feature request related to a problem? Please describe.
The `SignInManager` does not log enough information for productive troubleshooting.

For example, `GetExternalLoginInfoAsync` returns a `null` which is questionable anyway, but has various points where it bails out, none of which are logged. Consequently, tricky problems with OAuth/identity which are complicated anyway, are made mu

[2019-06-12 19:23] flgatormike opened #11147 "Blazor: "The process cannot access the file .... because it is being used by another process" when I run dotnet watch"
I created a new Blazor project. When I run "dotnet watch --project WebApplication1.Server run" it seems to lock up the project folders.

I get the following error:
The process cannot access the file 'C:\Temp\WebApplication1\WebApplication1.Server\bin\Debug\netcoreapp3.0\WebApplication1.Data.dll' because it is being used by another process.

[2019-06-12 19:29] pranavkm commented on #11144
The JsonSerializer is case insensitive here and assumes camel case. We should change it to be case insensitive for deserialization. cc @rynowak

[2019-06-12 19:32] danroth27 commented on #11082
I think there are a few things we can consider doing here:
- Blazor PWA - Make it simple to build Blazor progressive web apps that support offline scenarios and native integration where possible. Tracked by #5479. These apps can be installed via most app stores.
- Blazor Hybrid - Run Blazor on mobile devices that then drives a WebView. This is very similar to how our [Blazor Electron prototype](ht

[2019-06-12 19:37] flgatormike commented on #11147
If I run Visual Studio 2019 as Administrator, I don't seem the have the problem.

But it is my understanding that if I run "dotnet watch run" then when I make changes to .razor files, I will see the updates in my browser, but this is not working as I expect.

Does anyone have some insight on this? Thanks!

[2019-06-12 19:46] AdmiralSnyder commented on #11082
@GearTheWorld I built a edit-and-continue like environment using dotnet watch and some VS Detach/Attach stuff, so I can just edit my .razor files, save and wait 2-3 seconds to get the browser refreshed.

[2019-06-12 19:50] danroth27 commented on #11082
@AdmiralSnyder @GearTheWorld Hopefully with the new Preview 6 release and the latest VS Preview update you should now also get that edit-save-refresh experience in VS without any additional work. We also have adding support for live reload on our backlog (#5456).

[2019-06-12 19:55] MatthewS2077 commented on #11082
Blazor PWA gets my vote. I'm interested in client side Blazer so anything that decreases the startup time and initial payload is welcome.

[2019-06-12 19:58] jkotalik commented on #11145
This will be fixed when we consume a new SDK. @aspnet/build are there plans to do this soon?

[2019-06-12 20:04] blowdart commented on #11146
We're open to suggestions here. We err on the not logging because of concerns around logging personal information and people not protecting logs. Community consensus would be good :)

[2019-06-12 20:05] blowdart commented on #10627
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-06-12 20:05] #10627 closed

[2019-06-12 20:08] #11026 closed

[2019-06-12 20:10] anurse commented on #11145
The error message may still be relevant to some users, and this issue is just about rephrasing the error a little bit (to include the possibility that the cert is "a previous version")

[2019-06-12 20:11] blowdart commented on #9869
Also @javiercn

I believe @Tratcher did the server side bits.

[2019-06-12 20:11] danroth27 commented on #11082
Thanks @MatthewS2077! Supporting PWAs with Blazor is something we've had on our backlog to do for a while. First step is to ship the WebAssembly support of course :smile:. Also, to be clear, the options above are not mutually exclusive. We could do none, some, or all of them.

[2019-06-12 20:13] jkotalik commented on #11145
Relevant issue: https://github.com/aspnet/AspNetCore/issues/11145

[2019-06-12 20:14] blowdart commented on #7738
@javiercn this is rather old, does the problem still exist? If is it UI improvements, or does it need server side code changes too?

[2019-06-12 20:14] aguacongas commented on #11144
@pakrym if I tried to parse this :
[code]

with this code :

[code]
 I received an empty object as well.

Can you tell what JsonSerializerOptions I should use ?

[2019-06-12 20:17] blowdart commented on #3774
Would you rather they were big, or wouldn't be possible at all?

@davidfowl  please review the options, this is your call.

[2019-06-12 20:17] Tratcher commented on #9869
Yes, #7734 is done.

[2019-06-12 20:21] Tratcher commented on #3774
We've started this project before and did option 2 last time (invert the dependency). It was reverted for unrelated reasons.

[2019-06-12 20:22] blowdart commented on #11043
At this point the extensibility point is UserManager and UserStore. We don't want to implement another layer of abstraction.

Why doesn't implementing your own UserManager work for your scenario? Password stores are expecting you to store the password, not call elsewhere to validate.

[2019-06-12 20:23] blowdart commented on #11037
Closing as discussion will move to #11043

[2019-06-12 20:23] #11037 closed

[2019-06-12 20:23] natemcmaster commented on #11145
Consuming a new SDK can come after we get #11122 merged. Is there a pressing reason to get a new SDK sooner?

[2019-06-12 20:23] blowdart commented on #11019
Tagging @ajcvickers for EF, but you'll need to prove it with logs :)

[2019-06-12 20:25] natemcmaster commented on #10464
Was talking to @Tratcher about this. He had some feedback about the quirks of .slnf which might make us want to hold off on making this the default.

[2019-06-12 20:25] blowdart commented on #10970
Sure, we'd love a PR!

[2019-06-12 20:25] AdmiralSnyder commented on #5456
My solution currently looks like this:
I have a separate exe BlazorDebugLauncher which gets started by launchsettings.json parameterized with the port and hostname that the browser shall be opened.
It then
- starts a separat small exe DebugAttacher which detaches and reattaches Visual studio
- starts dotnet watch run on the project folder
- refreshes the browser as soon as the server process is up

[2019-06-12 20:27] blowdart commented on #10689
Could we get a repo? Even a private repo would help, we'd like to look at how you're doing an email stamp.

[2019-06-12 20:37] javiercn commented on #7738
We need to change the UI. I plan to do a pass on this this week to do final UI cleanups+switching to PKCE.

[2019-06-12 20:40] Tratcher commented on #10464
I set one up for StaticFiles and it did address the perf issues I had with solution load and build. https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/StaticFiles/StaticFiles.slnf
Using 16.1.0 I saw the following oddities:
- Load Project Dependencies is not recursive.
- Any changes to the solution filter must be manually saved via SaveAs.
- Solution:Path is absolute by default. You ha

[2019-06-12 20:40] mkArtakMSFT commented on #11138
@javiercn, @rynowak  do you have any recommendation here?

[2019-06-12 20:43] ryanbrandenburg commented on #8474
Talked to @pranavkm in person, we're fine with this behavior (being a bit more strict might even be preferred).

[2019-06-12 20:48] anurse commented on #9192
I'm going to close this just because it's a little stale now. Feel free to re-open it if you're still seeing this and can provide more information!

[2019-06-12 20:48] #9192 closed

[2019-06-12 20:48] anurse commented on #4347
I'm going to close this just because it's a little stale now. Feel free to re-open it if you're still seeing this and can provide more information!

[2019-06-12 20:48] #4347 closed

[2019-06-12 20:51] mkArtakMSFT commented on #11147
Thanks for contacting us, @flgatormike.
@pranavkm, isn't this already fixed?

@flgatormike can you please share the output from `dotnet --info`

[2019-06-12 20:54] anurse commented on #8719
Let's see about getting this done in Preview 8

[2019-06-12 20:54] anurse commented on #8718
Let's see about getting this done in Preview 8

[2019-06-12 20:54] anurse commented on #8706
Let's see about getting this done in Preview 8 (though I think it's basically done?)

[2019-06-12 20:55] BrennanConroy commented on #8706
Almost, there was some feedback I'd like to react to.

[2019-06-12 21:03] Tratcher commented on #7750
Note this exception is intentional to highlight middleware ordering problems. We should address the ordering issue, not the exception.

That said, this particular ordering issue is difficult. The IIS Middleware is registered ahead of any app middleware like Session, and there's not a good way to insert something ahead of it. We need to re-think this code:
https://github.com/aspnet/AspNetCore/blob/

[2019-06-12 21:07] Tratcher commented on #3093
Closing this as no-repro.

[2019-06-12 21:07] #3093 closed

[2019-06-12 21:08] Tratcher commented on #2457
@rynowak are StaticFiles endpoints still on your list?

[2019-06-12 21:10] ryanbrandenburg opened #11155 "Implement a concept of "Required" properties"
### Current situation
There's no way to indicate that if an object doesn't have a particular property that serialization should fail.

For example:
[code]
[code]

Trying to deserialize the above json as a `Person` will succeed, even though it's been indicated that the name attribute is required, and is missing.

### Describe the solution you'd like
System.Text.Json should respect either `System.Co

[2019-06-12 21:14] Tratcher commented on #6640
Web root is determined to be `{content root}\wwwroot`. Content root is usually CurrentDirectory. Content root is logged at the start of the application, do you have a way of checking those logs?

[2019-06-12 21:15] NTaylorMullen commented on #10940
Got to the point of seeing a new completion session start and realized it wasn't us so it was out of our control.

I see. WebTools has a heuristic to try and guess when to dismiss/re-invoke completion. We might be able to influence this.

[2019-06-12 21:18] ryanbrandenburg commented on #11155
Bah, wrong repo.

[2019-06-12 21:18] #11155 closed

[2019-06-12 21:32] lusocoding opened #11156 "Blazor server side template in VS 2019 throws System.TypeLoadException: Could not load type 'Microsoft.AspNetCore.Http.Endpoints.EndpointHttpContextExtensions'"
### Describe the bug
A TypeLoadException is thrown when attempting to start a Blazor server side web application that is created using the default VS 2019 templates.

### To Reproduce

1. Steps to reproduce the behavior:
2. Enable "Use previews of .NET Core SDK" in VS 2019 options (Environment > Preview Features)
3. Using the New Project dialog, create a server side Blazor web application
4. Hit F

[2019-06-12 21:35] Tratcher commented on #7530
What other middleware do you have before this? Some add another instance of the StaticFiles middleware like the SpaServices components.

[2019-06-12 21:45] Tratcher commented on #6758
See KnownNetworks and KnownProxies. Only loopback proxies are trusted by default. We had a similar scenario here where the proxy IPs were too unstable to preprogram so we only turned it on when we set a specific environment variable:
https://github.com/aspnet/AspNetCore/issues/4135#issuecomment-493592243

[2019-06-12 21:48] Tratcher commented on #6674
Hmm, CreateMask should already be dealing with this:
https://github.com/aspnet/AspNetCore/blob/402394347d5a9b3add7decf52af85cbb4e7866b3/src/Middleware/HttpOverrides/src/IPNetwork.cs#L48

[2019-06-12 21:59] flgatormike commented on #11147
I just created a brand new Blazor project (just to make sure it is nothing I did in my project) and I get the same error.

When I run "dotnet watch --project Test.Server run"

I get this error:
C:\Program Files\dotnet\sdk\3.0.100-preview5-011568\Microsoft.Common.CurrentVersion.targets(4374,5): warning MSB3026: Could not copy "C:\Temp\Test\Test.Client\bin\Debug\netstandard2.0\Test.Client.dll" to "b

[2019-06-12 22:05] ghost opened #11158 "Cook does not see the server"
Hello! Application .netcore 2.2 I.m set cook on webbrowser document.cookie="asdf=Vasya;path=/;"
Server: var cookie = context.Request.Cookies; cookie.Count=1; Ok!
I,m delete cook.
document.cookie="asdf=Vasya P;path=/;"
Server: var cookie = context.Request.Cookies; cookie.Count=0; Oh no!
Why?

[2019-06-12 22:10] anurse commented on #11158
Cookie values can't contain unescaped whitespace:

[2019-06-12 22:17] blowdart commented on #10885
As this was merged, I'm closing the issue. Thanks @Kahbazi

[2019-06-12 22:17] #10885 closed

[2019-06-12 22:32] kvantetore opened #11159 "DotNetObjectRef.Create raises an exception when called from lifecycle events in preview6"
In preview6, there seems to be a regression in creating DotnetObjectRefs, such that when object refs are created during application lifecycle events, an InvalidOperationException is thrown, complaining that "JSRuntime must be set up correctly and must be an instance of JSRuntimeBase to use DotNetObjectRef.".

This happens even if I make sure prerendering has completed and ComponentContext.IsConnec

[2019-06-12 22:34] SteveSandersonMS commented on #11156
This app doesn’t look like it was created using the default template, since the stack trace implies it uses SpaDefaultPageMiddleware. The current templates don’t use that.

Are you trying to upgrade an existing application?

[2019-06-12 22:38] concretor91 commented on #4662
@Tratcher

Suppose I want to experiment inside the company in which I work, but I do not understand the simplest thing. If I publish a simple web api application on Linux with Windows enabled and anonymous authentication and add the Authorize attribute to the controller, then the application throws an exception defaultscheme must be specify.
On iis, this problem is solved with a single line of cod

[2019-06-12 22:49] lusocoding commented on #11156
No... It's the first Blazor web app I'm creating using VS 2019 and I did nothing else except the reproduce steps I mentioned in the ticket. I've tried to create another application from the template, same issue.

You can see all steps on this gif. Currently using VS 2019 Enterprise, version 16.1.3

![test](https://user-images.githubusercontent.com/114126/59391589-a8d49800-8d6c-11e9-9cc3-0b3e261d6d

[2019-06-12 22:51] durranitech commented on #4662
@concretor91

Maybe you are missing this

services.AddAuthorization(options =>
            {
                options.FallbackPolicy = options.DefaultPolicy;
            });
            services.AddAuthentication(NegotiateDefaults.AuthenticationScheme)
                .AddNegotiate();ere the sample code @Tratcher put up
https://github.com/aspnet/AspNetCore/blob/40091e9a12491d4e4a97df940cb6e589c898f

[2019-06-12 22:55] BrennanConroy opened #11160 "[SignalR] Avoid over-negotiating in client"
There are 2 cases where we might over-negotiate in the Typescript client (should audit the other clients too).

1. Client specifies a transport and server sends a larger list of supported transports, the client will still evaluate transports higher in the list if there are any, and cause a re-negotiate to happen
1. Client doesn't support WebSockets or EventSource and we evaluate that too late and

[2019-06-12 23:01] concretor91 commented on #4662
@durranitech
Thanks, could not find this information

[2019-06-12 23:15] danroth27 commented on #10489
@dazinator I believe we currently use some Mono magic to swap in our [WebAssemblyHttpMessageHandler](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Blazor/Blazor/src/Http/WebAssemblyHttpMessageHandler.cs) for Blazor apps. This issue tracks switching to use the built-in Mono handler as well as some other Mono provided bindings.

[2019-06-12 23:27] dougbu commented on #10789
2ea746f37d71

[2019-06-12 23:27] #10789 closed

[2019-06-12 23:35] dazinator commented on #2987
Where I found `DataProtection` fits well into the equation, is when you need to persist a generated signing key. You can use IDataProtector to protect the key itself, when you write it to disk, and unprotect the key when you load it from disk. It's still a seperate key that you have to generate for the purposes of signing JWT's, but atleast that key is protected by DataProtection at rest.

[2019-06-12 23:40] Tratcher commented on #10886
@anurse We went over the high level design and think this qualifies for preview7. I have some cycles and think I can make incremental progress on it.

Two new features/APIs:
IHttpResponseCompletionFeature.CompleteAsync();
Flushes the response body and trailers. This is considered a graceful end of the request.
For HTTP/1.1 Chunked this would send the terminator.
For Content-Length (HTTP/1 or 2) it

[2019-06-13 00:05] cjaliaga commented on #9466
Hey @Tratcher, I could use your help here :)

Since the code of the `Func<string>` factory would be the same one used in the callers, I was planning on adding this method to a place that can be shared easily. I thought about adding it to the current `AspNetCoreTempDirectory` class in `Microsoft.AspNetCore.WebUtilities` which seems OK for the `EnableRewind` in `Microsoft.AspNetcore.Http` with the f

[2019-06-13 00:06] dluc opened #11163 "Validating JWT tokens and supporting multiple issuers"
### Is your feature request related to a problem? Please describe.

I'm using OpenID Connect (`Microsoft.IdentityModel.Protocols.OpenIdConnect` 5.4.0 nuget) in my C# web API, and I'd like to support and validate JWT tokens issued by multiple identity providers (MSA, LinkedIn, GitHub, Google, etc.), and I appreciate the fact that `Microsoft.IdentityModel.Tokens.TokenValidationParameters` supports m

[2019-06-13 00:26] Andrzej-W commented on #10750
@danroth27 Could you update your ClientSideBlazorWithPrerendering repository for Preview6? I'm fighting with it without success. You are my last hope!

[2019-06-13 00:58] RickStrahl commented on #11156
Same for me...

[2019-06-13 01:11] Tratcher commented on #4662
The docs for this are available here:
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-3.0&tabs=visual-studio#kestrel
Let me know if you have trouble following them.

[2019-06-13 01:41] RickStrahl opened #11168 "Live Reload for Client Side Blazor"
### Describe the bug
There appears to be no support for Live Reload for Client Side Razor files. Making a change currently requires shutting down and restarting the application. For pure client side application that doesn't appear to be a good way to even run dotnet watch. For mixed client and Core project the process of shutting down and restarting is excruciatingly slow resulting in close to 10

[2019-06-13 01:47] natemcmaster opened #11169 "In patch builds, tests aren't always running against latest bits"
Due to the way we generate baselines and attempt to minimize dependency updates via eng/targets/ResolveReferences.targets, test projects do not always run against the latest patch.

Solution:
We need to disable transitive project references in test projects. By adding direct references, the `<Reference>` resolution will get the latest assemblies into the test project.

[2019-06-13 02:16] iron9light opened #11170 "Routing template: support catch-all not the last part"
I wanna routing template like:
[code]
or at least
[code]

I just found the routing matching is all depends on this internal class:
https://github.com/aspnet/AspNetCore/blob/master/src/Http/Routing/src/Patterns/RoutePatternMatcher.cs

If this feature will not be supported officially. How can I do this?

[2019-06-13 03:24] dazinator commented on #5456
@AdmiralSnyder sure I'd be interested to see that if you feel like sharing!

[2019-06-13 03:37] anurse commented on #10886
Rather than the `Http2` in the name, could it just *not* be present in HTTP/1.1 feature collections? I mean, in theory it may also apply to HTTP/3 right? Then it could be `IHttpResetFeature`.

Again, if we do scope it (and I think at least *starting* with HTTP/2 only makes sense even if we think we can get it in for both in 3.0) we should just not install the feature in an HTTP/1.1 collection.

[2019-06-13 03:53] dougbu commented on #10463
852680f61825

[2019-06-13 03:53] #10463 closed

[2019-06-13 04:14] SamProf commented on #11159
I also have this problem

[2019-06-13 04:32] SamProf commented on #11159
This happens in Server Side Blazor. In client-side all is ok.

[2019-06-13 04:34] RamiroGarrido commented on #6111
Thank you for the answer....it worked for me.....but next time would you explain why did it work?

[2019-06-13 04:38] jlestercastro opened #11171 "Cannot consume scoped service from singleton"
Hello, someone who can help me to fix this error.
I always got "System.InvalidOperationException: 'Cannot consume scoped service 'Lib.Data.LibContext' from singleton 'Lib.Data.RepositoryFactory'.'"

Where my Startup.cs is:

![image](https://user-images.githubusercontent.com/39945211/59404142-fc300000-8dd7-11e9-8f74-6bcd5ae2c0a9.png)

And my StartupHelper.cs is :

![image](https://user-images.githu

[2019-06-13 04:59] #9525 closed

[2019-06-13 04:59] #10607 closed

[2019-06-13 05:02] chrdlx opened #11172 "Investigate analyzer slowness"
I downloaded the latest preview 6,  created a new project from default template and instantly noticed a massive difference in compiling time,  I attach the difference in compile time Preview 5 vs Preview 6.

Preview 5 (less than 1 second)
![P5](https://user-images.githubusercontent.com/20750172/59404774-38cf0d80-8d7e-11e9-8793-b26e231e5589.gif)

Preview 6 ( 8 seconds )
![P6](https://user-images.gi

[2019-06-13 05:30] danroth27 commented on #10750
Sure, see if this works for you: https://github.com/danroth27/ClientSideBlazorWithPrerendering

[2019-06-13 05:50] Mike-EEE commented on #11082
Thank you for being so engaging and providing so much dynamic input @danroth27.  I'm feeling the love here. 😁

I think PWAs are a natural first step as that is closely aligned with the capability/intent of HTML5 as well as hosted stores.  As an aside, I'm also shocked that hosted stores allow PWAs as it would seem that PWAs are basically meant to circumvent the stores altogether. 🤷‍♂️

The hybrid

[2019-06-13 06:13] joshua-mng commented on #4221
My proposed workaround above is not working anymore, don't know why.

Although endpoint routing gives more flexibility and performance for other consumers (cors, mvc, and others), it's currently damn hard to extend it. It should be simple enough.

According to people discussing various problems they encounter above, only simple solution we all want is:

1. Endpoint routing initially selects and en

[2019-06-13 06:25] davidfowl commented on #11171
Yes this is blocked by default because it leads to components leaks. While it's not 100% wrong in certain cases, we block this by default because it's usually a result of buggy code. In your case ,it seems like you need to create a scope before resolving the scoped service.

[2019-06-13 06:27] aguacongas commented on #5606
JsRuntime deserialization exception are'nt reported too

### To Reproduce
1. Using Version 3.0.0-preview6
2. For sample. create an API returning a null-able bool
    Create a class mapping the API result but with a non null-able bool instead of the null-able one
3. Call the API returning a null bool
4. Nothing is logged, nothing is returned

### Expected behavior
The exception should be logged in

[2019-06-13 06:34] mcurko commented on #10992
Not sure what a PR is and how to send it...

[2019-06-13 06:40] SteveSandersonMS commented on #11156
I was confused because the issue says server-side, but you’re both actually creating client-side (hosted) apps.

To create client-side apps, did you update to the preview 6 version of the Blazor VSIX?

[2019-06-13 07:14] khellang opened #11173 "NoFormatter log message does not include ContentTypes from result"
When MVC fails to select an output formatter based on `ObjectResult.ContentTypes` (`Response.ContentType` has not been set), it logs the following warning:

This is pretty unhelpful and confusing. I suggest the warning also includes the content types considered from the `ObjectResult`.

[2019-06-13 07:40] glacasa commented on #10459
I have updated the repo (in branch `preview6`), and it works fine now. Thanks !

[2019-06-13 07:41] AlseinX opened #11174 "Static assets request path problems in preview6"
### Describe the bug
In preview 6 when there is a wwwroot folder in a blazor library project, the request path of server side and client side are different.

### To Reproduce
Steps to reproduce the behavior:
1. `dotnet new` a blazor library project with a name that contains `.`.
2. Rename the `content` folder to `wwwroot` to make use of the new static assets feature add in preview6.
3. Change the

[2019-06-13 07:45] javiercn commented on #11138
I'm not very familiar with our localization support. Maybe @DamianEdwards knows better?

[2019-06-13 07:58] davidfowl opened #11175 "Generate API diffs for ASP.NET Core releases"
.NET Core does this, we should do the same:

https://github.com/dotnet/core/tree/master/release-notes/3.0/preview/api-diff

It's super useful for seeing what got added API in each release.

[2019-06-13 08:28] RickStrahl commented on #11156
I did:
[code]

which brought in the Visual Studio template. And I'm running latest VS Preview Update that showed up today.

[2019-06-13 08:31] SteveSandersonMS commented on #11156
Unfortunately running that command does *not* update the templates inside VS. You do have to install the newer VSIX.

I know it would be better if the .NET CLI and VS could keep themselves in sync better than this, but unfortunately there's still some way to go on that.

[2019-06-13 08:32] SteveSandersonMS commented on #11156
That's strange though. I'll see if I can reproduce this.

[2019-06-13 08:32] julienGrd commented on #11137
thanks for the explanation guys, it works !

[2019-06-13 08:56] MikaelUmaN commented on #11134
Please see repo:
https://github.com/MikaelUmaN/AspNetCore-11134

# Reproduce

## CLI (sdk >= 2.2)
dotnet build
dotnet run

## HTTP Client (e.g. cURL)
1. POST http://localhost:5000/api/values

Response:
location:
http://localhost:5000/api/Values/06%2F13%2F2019%2008%3A43%3A24%20%2B00%3A00

2. Put in browser

-> Error

[2019-06-13 08:59] SamProf commented on #11159
I fix this using this code, but it's realy not cool.
[code]

[2019-06-13 09:13] SteveSandersonMS commented on #11156
I'm afraid I've been unable to reproduce this. I have the full set of preview 6 bits, i.e.:

 * VS 2019 16.2.0 Preview 2
    * … into which I installed the latest Blazor extension (16.0.19307.2)
 * NET Core 3.0 Preview 6 (so “dotnet --version" prints 3.0.100-preview6-012264)

... and the "Blazor hosted" template works correctly both on the command line and from VS.

If you have any further informa

[2019-06-13 09:24] ostorc opened #11176 "[Blazor] Input Component"
In preview 6 I get this error at build:

RZ10001	The type of component 'InputDate' cannot be inferred based on the values provided. Consider specifying the type arguments directly using the following attributes: 'T'.

The fix is easy as error says, just adding T attribute to control in razor file. However this wasn't necessary till this version.

I get same error also for InputSelect.

[2019-06-13 09:43] lukepuplett commented on #11146
Thanks Barry. It appears `GetExternalLoginInfoAsync` is the main offender in that class. The other `return null` statements appear to have logging, e.g.

https://github.com/aspnet/AspNetCore/blob/ea2f35c45ee49dd4f8457770f08fac6c0682e953/src/Identity/Core/src/SignInManager.cs#L271

So just some debugging, a succinct reason for returning null between lines 638 to 665 would suffice.

[2019-06-13 09:53] SteveSandersonMS commented on #11058
You can navigate anywhere using root-relative URLs, e.g.:

[code]

This will be independent of your `<base href>`.

If you're experiencing any issues with making this work in the preview 6 release, could you please post a new issue with minimal repro steps? Thanks!

[2019-06-13 09:53] #11058 closed

[2019-06-13 09:55] SteveSandersonMS commented on #11058
That's no longer the case since preview 6. There is still one known issue with it (https://github.com/aspnet/AspNetCore/issues/11099), but `<a>` tags should work fine.

[2019-06-13 09:58] SteveSandersonMS commented on #10895
I agree it's an edge case. But I don't agree that `<div @bind-=""` *ever* makes sense. It's malformed.

I wouldn't consider it super high priority to do anything about this, except if it also repros in more common cases.

[2019-06-13 10:00] SteveSandersonMS commented on #11055
We're already planning to do this: https://github.com/aspnet/AspNetCore/issues/9860

Rather than using the `@` prefix, we're simply making the distinction by enforcing the existing convention about casing. `<PascalCase>` things are components, and `<kebab-case>` things are HTML elements.

[2019-06-13 10:00] #11055 closed

[2019-06-13 10:30] dazinator commented on #11058
Thanks for the update, it seems according to #11099 you can now do:

To force a redirect. If so this is the capability I am looking for as I don't want to use <a> tags. I'll try this out.

[2019-06-13 10:44] SteveSandersonMS commented on #10558
Not certain what I'm being pinged for. This is scheduled to be investigated for 3.1, right?

[2019-06-13 10:47] SteveSandersonMS commented on #8825
I 👍 this

[2019-06-13 11:01] RemiBou commented on #11176
I got the same error. Read the update blog post https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/ you need to change your "bind" by "@bind"

[2019-06-13 11:12] PureKrome commented on #4953
Polite ping to @glennc and @pranavkm :wave:

.NET Core v3 is not far off and preview 7 is next. Any chance to try and include this in there before stuff is closed off?

pwitty pwease ?

[2019-06-13 11:16] Hubert-Rybak commented on #5456
Worth checking out: https://github.com/RickStrahl/Westwind.AspnetCore.LiveReload

[2019-06-13 11:31] RemiBou commented on #9039
If you send the head "X-Requested-With: XMLHttpRequest" the redirection is not done and only 401 is send cf https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/Cookies/src/CookieAuthenticationEvents.cs.

I tried it with a Blazor client-side app and it is working

[2019-06-13 12:13] matthewpetch commented on #11176
So changing bind to @bind works, but I've still got loads of onclicks etc. that aren't @onclick that still work, which contradicts the release notes?

[2019-06-13 12:13] vanillajonathan commented on #9039
Thank you @RemiBou, I was not aware of that. I just did a plain fetch request without setting any additional HTTP headers.

A thing to take into consideration is that ASP.NET Core MVC no longer have the `IsAjaxRequest` method that was present in the old ASP.NET MVC 5, so arguably have been moving away from the `X-Requested-With` header which is a non-standard (but de facto standard) used by jQuery

[2019-06-13 12:14] egil opened #11177 "Razor components: What is the proper way to split up manual RenderTreeBuilder logic without breaking the diffing algorithm?"
Hi all,

In the example provided below, where I use `builder.AddContent(int sequence, RenderFragment fragment)` method to compose a bunch of render fragments together, will the diffing algorithm break, when each render fragment in the example is using a number sequence starting from different positions?

This comment in [RenderTreeBuilder.AddContent](https://github.com/aspnet/AspNetCore/blob/relea

[2019-06-13 12:19] RemiBou commented on #11176
Maybe they are still supported but you should change it as there is a big change that the support will be removed in future version. If you don't replace ref by "@ref" you'll have an error like "No element is currently associated with component".

[2019-06-13 12:21] RemiBou commented on #9039
Why do you think the headers won't change the CORS preflight ?

[2019-06-13 12:24] blowdart commented on #11163
We wrap the AAD JWT parser, so this is a question for them I'm afraid.

Your question would be better asked at https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues

Or you add multiple instances of our JWT handler, and go through them one by one.

[2019-06-13 12:41] AmarjeetBanwait opened #11178 "Bind error @bind-value, @bind-value:event="oninput" with @oninput="@SomeMethod""
In asp.net core preview 6 doesn't allow following to use together on input element

`@bind-value="@SomeValue"`
`@bind-value:event="oninput"`
`@oninput="@SomeMethod"`

![bind error](https://user-images.githubusercontent.com/4598234/59433008-f2d08300-8e2b-11e9-9206-30e20148b66c.png)

**Error:**
Attribute 'oninput' is used two or more times for this element

[2019-06-13 12:42] julienGrd commented on #5579
Hello, what the current situation on this subject

I was using this kind of code until now, was worked in preview 3/4, but today i see it not work on preview 5, the checked is not render correctly, but the on change still working

[code]

[2019-06-13 13:07] muheebhussain opened #11179 "[Preview 6] Blazor (Server Side) overriding identity via scaffolding throws error"
[Preview 6] Blazor Server Side overriding identity via scaffolding throws an error.

<details>
<summary>
<strong>dotnet 3.0.100-preview6-012264</strong> <br>

1. Upgrade to .net core 3.0.100-preview6-012264
2. Create a new asp.net core web application project, select server side blazor.
3. Change Identity to individual user account

After project creation right click Areas/Identity folder, Add New

[2019-06-13 13:12] qmatteoq opened #11180 "[Worker Service] After moving to Preview 6, logging doesn't work anymore in a Windows Service"
### Describe the bug
After moving to .NET Core 3.0 Preview 6, my Worker Service which is installed as a Windows Service doesn't output anymore logs in Event Viewer.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core: 3.0.100-preview6-012264
2. Create a new Worker Service project in Visual Studio 2019
3. Install the following NuGet package: Microsoft.Extensions

[2019-06-13 13:27] fractionalJoe commented on #7750
That makes sense to me conceptually. Looking at the log, `AuthenticateAsync` invokes `ClaimsTransformation.TransformAsync` but I don't see where that occurs. Can you point me in the right direction?

[2019-06-13 13:35] conficient commented on #10878
Subscribing to this thread as I seem to have the same issue: https://blazorchatsample.azurewebsites.net and https://blazordynamiclist.azurewebsites.net both return a 404 after upgrading to Preview 6. Both worked fine on Preview 5. Both also work fine locally.

Both use Azure pipelines to publish and then deploy to Azure:
[Dynamic YAML](https://github.com/conficient/BlazorDynamicList/blob/master/az

[2019-06-13 13:36] Tratcher commented on #7750
https://github.com/aspnet/AspNetCore/blob/ea2f35c45ee49dd4f8457770f08fac6c0682e953/src/Http/Authentication.Core/src/AuthenticationService.cs#L77-L83

[2019-06-13 13:37] kardokh opened #11181 "Blazor InputSelect does not support the type 'System.Int32'."
I wanto post data to database the value of dropdown is int when i save show me below error

`blazor.server.js:15 [2019-06-13T13:31:50.629Z] Error: System.InvalidOperationException: Microsoft.AspNetCore.Components.Forms.InputSelect`1[System.Int32] does not support the type 'System.Int32'.
   at Microsoft.AspNetCore.Components.Forms.InputSelect`1.TryParseValueFromString(String value, T& result, Stri

[2019-06-13 13:48] egil opened #11182 "Fixes and improvements for NavLink"
### Improved NavLink component
I want a NavLink with more control over when `ActiveClass` is set. In particular, I want to control what URL is used to match with currently page's URL. There should be an optional parameter, e.g. `MatchUrl`, that `NavLink` will use in its matching algorithm instead of the one provided by the `href` attribute.

One scenario where that is needed is with menu hierarchi

[2019-06-13 13:51] rynowak commented on #11173
This seems like a good thing to have. Wanna send a PR?

[2019-06-13 14:11] brettsam opened #11183 "RouteBase.EnsureLoggers race condition"
### Describe the bug
I'm on the Azure Functions team and we see a very rare NullRef with this stack:
[code]

I've looked into the issue (I thought it was a race on our end) but found that `_constraintLogger` (in `RouteBase`) ends up being null, even with the call to `EnsureLoggers()` that should be making sure it's initialized.

[code]

Imagine if the second `CreateLogger()` call here runs slowly

[2019-06-13 14:13] vanillajonathan commented on #9039
My understanding is that adding non-standard HTTP headers to a fetch causes it perform a CORS preflight request.

See:
https://developers.google.com/web/ilt/pwa/working-with-the-fetch-api#example_post_requests

[2019-06-13 14:15] khellang commented on #11173
Yup 👍

[2019-06-13 14:23] efsandino commented on #9151
I have to comment, that I got this fucking error... but I restarted the server and everything worked nice !

[2019-06-13 14:25] rynowak commented on #5071
@stavroskasidis we considered this and we don't want to make a distinction in behavior between two constructs that are very similar in other contexts.

Ex:
[code]

In examples 1 and 2 they are semantically equivalent (evaluate the expression).

In examples 3 and 4 they are different. 3 is a directive attribute, and 4 is an expression.

When you but these examples side-by-side it starts to get vexi

[2019-06-13 14:28] VladislavAntonyuk commented on #11156
replace app.UseBlazor with
[code]

[2019-06-13 14:28] rynowak commented on #11011
@Andrzej-W - what I meant in this context is whether you can use `Action<UIMouseEventArgs>` and other delegate types with the render tree builder directly. We currently have a bunch of different overloads of `AddAttribute` that made these things possible before we implemented `EventCallback`.

We're at the part of the product cycle where we're doing a lot of API cleanup.

[2019-06-13 14:34] rynowak commented on #11035
@arivoir

This doesn't really sound like an event, it's a template. Specifically I mean that it's not a a change of state, it's just some configuration you want to pass in. If the output of this callback is markup, then that sounds like a job for `RenderFragment<>`

[2019-06-13 14:48] antonGritsenko commented on #11069
Thank you for the reply

I meant this part exactly when wrote about a best practice. If I quite understand the issue, this is not just a common thread-safe issue (where lock and other technique could help), but more about some "damage" of data during accessing from different threads. Am I right or this is something else?

Next question is about accessing itself. What is best practice for most comm

[2019-06-13 15:03] arivoir commented on #11035
Hi @rynowak ,

The generation of columns affect the markup, but it is not directly related, and there is no a specific peace of markup tied to a column. There are the cells of the columns, but they are generated according to the visible viewport and change as the user scrolls.

In all the other platforms this is just a simple c# event that can be handled by the customers to alter the way the auto-

[2019-06-13 15:07] rynowak commented on #11035
Sorry, I'm still having trouble understanding. You can define .NET events. You can use delegate types as parameters. How this typically works is you would define a parameter like:

[code]

[2019-06-13 15:10] rynowak commented on #11108
I hereby certify this as good.

[2019-06-13 15:12] rynowak commented on #11072
😊 - you're making me blush. Feel free to put me in touch with whomst've'ever is looking at this.

[2019-06-13 15:14] #11022 closed

[2019-06-13 15:15] rynowak commented on #11099
Ah sorry. I'm a blazor noob. Thanks for the help.

[2019-06-13 15:15] #11099 closed

[2019-06-13 15:16] arivoir commented on #11035
I was referring to a C# event https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/events/

Something like this

`public event EventHandler<GridAutoGeneratingColumnEventArgs> AutoGeneratingColumn;`

This event doesn't need a fragment, and it shouldn't emit any markup.

Do you see my point?

[2019-06-13 15:17] Tratcher commented on #11183
@JamesNK @rynowak

[2019-06-13 15:20] BrennanConroy commented on #10459
Excellent! Thanks for trying out the previews :)

Closing as the original issue looks resolved.

[2019-06-13 15:20] #10459 closed

[2019-06-13 15:26] stavroskasidis commented on #5071
Ok, that makes sense. Thank you for answering.

[2019-06-13 15:39] arivoir commented on #11035
I just made an experiment.

Converted the event

`public event EventHandler<GridAutoGeneratingColumnEventArgs> AutoGeneratingColumn;`

Into this

[code]

And it looks working (Provided the event handler is set before the source)

[code]

My point is why not to allow events to be decorated with [Parameter] and allow specify them in razor files?

![image](https://user-images.githubusercontent.com/17

[2019-06-13 15:42] pranavkm commented on #10925
Filed https://github.com/dotnet/corefx/issues/38510 to track further work here.

[2019-06-13 15:42] #10925 closed

[2019-06-13 15:46] rynowak commented on #11170
You could implement something like this using a regex constraint.

[code]

[2019-06-13 15:50] davidfowl commented on #11069
https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AspNetCoreGuidance.md

There's some stuff in there:
- Don't store the IHttpContextAccesor.HttpContext property in a field
- The HttpContext isn't thread safe, so avoid using it from multiple threads
- Accessing the HttpContext after a requests ends is bad (as HttpContext are pooled, so you may mess with the next request in flig

[2019-06-13 15:53] rynowak commented on #5542
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-06-13 15:54] rynowak commented on #8204
That's great news.

[2019-06-13 16:01] #9720 closed

[2019-06-13 16:02] AdmiralSnyder commented on #5456
this is my solution. a little hacky, but works: https://github.com/AdmiralSnyder/BlazorAutoRebuildDemo
(I'll cleanup and add a readme next week…)

[2019-06-13 16:18] cores-system opened #11184 "@bind text >32kb"
Hello, there is a simple form

[code]

If a user tries to insert text more than 32kb into a form, he gets an error: `Error: Connection disconnected with error 'Error: Server returned an error on close: Connection closed with an error.'.`

Is there a workaround for getting custom text over 32kb ?
I am using Blazor Preview 6

[2019-06-13 16:22] cores-system commented on #11184
I tried to change the size of the buffer

[code]

But it does not work, the text size is still limited to 32kb.

[2019-06-13 16:28] javiercn commented on #8204
Turns out you could beat the laws of physics 😄

[2019-06-13 16:32] Tratcher commented on #10886
HTTP/3 doesn't have Reset itself, that's a Quick feature. I could just call it IResetFeature.

[2019-06-13 16:42] SteveSandersonMS commented on #8204
Unfortunately my solution only addresses the thing that's *possible* to solve. It doesn't do anything for the "merge conflict" case, which will continue to operate on a last-write-wins basis. This only occurs if you have server-side code that mutates the data the user is editing *while* they are editing it, so not in default `@bind` cases.

[2019-06-13 16:48] javiercn commented on #8204
Yeah, I think that in the end we will have to give guidance to people building server-side apps

[2019-06-13 16:49] anurse commented on #11072
I'll find someone ;)

[2019-06-13 16:51] anurse commented on #9151
@efsandino Feel free to file a new issue with the details if you're seeing a problem! If it consistently requires restarting your server that sounds like a bug we should look at! If it was just a one-off restart, then it may have just been a glitch somewhere.

[2019-06-13 16:52] davidfowl commented on #11184
No that does not work, you need to do this now:

[code]

[2019-06-13 17:10] davidfowl commented on #3774
I'm not a fan of pushing DataProtection into every ASP.NET Core project but maybe the optional dependency is a reasonable compromise.

Another option might be an interface like IHostedService? We can change the WebHost to make sure these run before the server starts (I believe it doesn't today).

[2019-06-13 17:15] SteveSandersonMS commented on #11172
I thought it was just my machine. Guess not...

[2019-06-13 17:20] stavroskasidis opened #11185 "[Blazor] Preview 6 blazorhosted project publish is broken"
### Describe the bug
Using preview 6 sdk/templates, when publishing a blazor hosted project, publish output seems broken and trying to run the published app does not work

### To Reproduce
Steps to reproduce the behavior:
1. `dotnet new blazorhosted -o HostedTest`
2. `cd HostedTest\HostedTest.Server`
3. `dotnet publish -c Release -o bin\release\publish`
4. `cd bin\release\publish`
5. `dotnet Hoste

[2019-06-13 17:20] QadiymStewart commented on #11184
I can comfirm that works now fixed my issue #9570

[2019-06-13 17:26] natemcmaster opened #11186 "SiteExtensions do not build with Arcade"
While attempting to adopt Arcade, I ran into issues getting the src/SiteExtensions/ projects to build. In the latest draft of my PR, I have disabled the build of these projects because they might require a bigger refactor than I could fit into #11122.

Source of the problems:
* The hosting startup targets need to run a restore during build. The packages it needs to restore against might not exist

[2019-06-13 17:29] cores-system commented on #11184
Thanks, it really works 👍

[2019-06-13 17:29] #11184 closed

[2019-06-13 17:34] NTaylorMullen commented on #10992
@mcurko here's some details on what PR's are and how to create them in GitHub land: https://help.github.com/en/articles/about-pull-requests

[2019-06-13 17:36] natemcmaster commented on #11169
Here is a proposed fix for the Extensions repo. https://github.com/aspnet/Extensions/pull/1834 The same approach would work here too, but it's worth considering alternatives as mentioned in https://github.com/aspnet/Extensions/pull/1834#issuecomment-501544173

[2019-06-13 17:38] pranavkm opened #11187 "Reconnects from pre-rendering are not reliable"
Pre-rendering uses the same queue as disconnected circuits. The two have different requirements for caching, disconnected is best effort, versus pre-rendering needs to be more reliable. Using the two together result in clients attempting to reconnect failing.

-----------------------------------------------------
## Old text
The client does not inspect the result of the `reconnect` task during ini