[2019-01-02 01:57] kucxgithub commented on #6111
Try including **AspNetCore.Middleware** to your project. To learn more about ASP.NET Core (2.2.0) Middleware, refer to [ASP.NET Core Middleware](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-2.2).

I encountered this issue and used **NWebsec.AspNetCore.Middleware** nuget package to resolve, as well as remove other packages that might have caused conflicts in

[2019-01-02 02:05] rynowak commented on #6183
OK, let's discuss this in more detail when we're all back in the office.

I think I need to review this whole area.

[2019-01-02 04:06] #6184 closed

[2019-01-02 05:07] thiennn opened #6215 "Removing Microsoft.AspNetCore.Mvc.Razor.RazorViewEngineOptions --> AdditionalCompilationReferences will block us"
Related to #4902

In https://github.com/simplcommerce/SimplCommerce, we apply modular architecture, each module is a Razor Class Library. We manually load modules and then add them to the main web app using ApplicationPart. We also support theming, users can switch between the themes at run time. This feature requires run time compilation of cshtml files.

Currently it works fine. But if you remov

[2019-01-02 05:51] rynowak opened #6217 "Component compilation support needs to add diagnostics for markup errors"
The Blazor compiler adds diagnostics for things like missing end tags, and mismatched start/end tags. We don't have that support yet for the new component compiler.

This should probably done in the IR lowering phase.

Please find a few skipped tests in the aspnet/AspNetCore-Tooling repo that refer to this issue.

[2019-01-02 08:08] DNF-SaS commented on #6217
@rynowak General Question about the repo-merge of Blazor into the AspNetCore-Repo: how can one distinct issues related to blazor from all the other ones? (in this case, this one was only found because I knew that you're closely related to Blazor - looking at labels/projects/whatever, I don't see any blazor-specific classifier)
Sorry for being off-topic and thanks for your answer!

[2019-01-02 08:34] rynowak commented on #6217
Thanks for asking, I think we'll probably end up using a label like `area-Components` or `area-Blazor`. Right now it's still the holidays here so the dust hasn't quite settled yet 😆

[2019-01-02 08:34] rynowak commented on #6217
You can also look at https://github.com/orgs/aspnet/projects/19 where we're tracking the components productization work

[2019-01-02 08:35] rynowak commented on #4041
Donezo!

The Razor SDK being used in our repo has components support!

[2019-01-02 08:35] #4041 closed

[2019-01-02 09:50] ranabuelo opened #6218 "[Blazor] Attributes of HTML custom elements not yet initialized when connectedCallback() is invoked"
Custom HTLM elements are usually initialized from the `connectedCallback` using the attributes from the DOM. Browsers therefore set all attributes at the custom element before the callback gets invoked.

In Blazor, however, element attributes are set _after_ invoking the `connectedCallback`. This seems to happen in the `BrowserRenderer.insertElement` function where `insertLogicalChild` is called b

[2019-01-02 10:38] TanvirArjel opened #6219 "The "RepoTasks.JoinItems" task could not be loaded from the assembly..."
I have downloaded this ASP.NET Core master respiratory into my computer and I have opened MVC solution with Visual Studio 2019. When I try to build the solution, getting the following error from all class libraries:

[code]

Then I have checked the following directory:

`D:\AspNetCore-master\AspNetCore-master\build\tasks\bin\publish\RepoTasks.dll.`

But no such directory exists the project folder

[2019-01-02 10:59] dallancarr commented on #6197
`UseIIS` is not optional in the case of using IIS Express for development.

[2019-01-02 11:13] dallancarr commented on #6197
Actually, if you are talking out of process vs in process then yes you are right. Sorry I misunderstood but the point it is expected that the switch is driven from web.config so my question is why would you want to bypass this functionality.

[2019-01-02 11:19] RehanSaeed commented on #6197
Isn't the switch based on the `<AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>` setting in the csproj? I guess that probably just injects something into the web.config which is the real decision maker for which type of hosting to use.

[2019-01-02 11:37] Duxez opened #6221 "Blazor - Casting UIEventArgs"
I'm currently trying out Blazor to see what's possible with it and stuff.
Now trying to catch events for example onscroll events since I want to get the scroll position.

Example:
[code]
With the div having a width and height so the onscroll event gets fired.

Doing it this way always throws me
`Error: System.InvalidCastException: Specified cast is not valid.`

And I can't seem to find another way

[2019-01-02 11:47] dallancarr commented on #6197
Yeah the work is done inside the ANCM.

[2019-01-02 12:05] RehanSaeed commented on #6197
Thanks, I think I get it now.

[2019-01-02 12:05] #6197 closed

[2019-01-02 14:48] anirugu opened #6294 "CSHTML file is not updating the same time when I editing them in vs code."
I create a dotnet core 3 project and it's not updating the .cshtml pages as I make changes. this work fine in MVC5.

Adding more detail for clearify the issue

Create a project from command promt and start modifying the .cshtml project. Add 2 li on top and nothing happen, Only seening changes when I restart the debug session in VS code.

[2019-01-02 15:03] martincostello commented on #4789
We've having a different issue with in-process hosting with the same application (that I'm still investigating which is an `UriFormatException` from somewhere being logged by the `IISHttpServer` logger), which might mean that we can't upgrade this application to ASP.NET 2.2.0 at all as there's issues for us with both hosting models.

[2019-01-02 16:43] jkotalik commented on #6111
@patricka2 what happens when you run `dotnet Test2.dll` on commandline. Does it say that the framework `Microsoft.NETCore.App` cannot be found? If so, make sure the correct version of dotnet is installed (See: https://dotnet.microsoft.com/download/dotnet-core/2.2).

[2019-01-02 16:46] jkotalik commented on #6196
I think this question is better suited for a form like Stack Overflow. You can always read our docs on Security and Identity here: https://docs.microsoft.com/en-us/aspnet/core/security/?view=aspnetcore-2.2

[2019-01-02 16:46] #6196 closed

[2019-01-02 16:47] jkotalik commented on #6135
That was targeting 2.2. Fix still needs to be merged to master.

[2019-01-02 16:56] martincostello commented on #4789
The above comment was actually a latent bug in some existing code that wasn't appearing in the logs because of #4206 when in-process hosting was enabled.

[2019-01-02 17:15] BrennanConroy commented on #6149
@pakrym @jkotalik Could you guys take a quick look?

[2019-01-02 17:40] BrennanConroy commented on #6142
Dupe of https://github.com/aspnet/AspNetCore/issues/5400

Do you have a more specific repro? I have only been able to see this error with an app in VS, I would like to be able to hit this on the command line to make sure it wont happen again.

[2019-01-02 17:49] BrennanConroy commented on #6120
Is `app.UseHttpsRedirection()` at the beginning of your middleware pipeline? Can you share your Startup.cs? Can you capture the server logs at Debug level?

[2019-01-02 17:51] #4480 closed

[2019-01-02 17:55] natemcmaster opened #6296 "Update Cli.Functional tests for 3.0"
The test code here https://github.com/aspnet/AspNetCore/tree/b1f4a7bafd805352c677c84c15eb1e96ad53d467/test/Cli.FunctionalTests needs to be updated to netcoreapp3.0. These are end-to-end tests for ASP.NET Core scenarios using the .NET Core CLI/SDK.

Changes:
* update the test scenarios to reflect netcoreapp3.0 expectations (e.g. framework reference, changes to shared framework assemblies, new API,

[2019-01-02 17:59] BrennanConroy commented on #6104
You have to maintain the list yourself, SignalR does not provide a list.

[2019-01-02 18:02] Eilon commented on #5680
@JamesNK - maybe start with @joshfree to see if his team is planning to take advantage of this.

[2019-01-02 18:10] BrennanConroy commented on #4389
Your issue looks very different, could you please open a new issue and provide client/server logs or a repro app if possible?

[2019-01-02 18:11] BrennanConroy commented on #5155
Dupe of https://github.com/aspnet/AspNetCore/issues/4483#issuecomment-445081348?

[2019-01-02 18:30] #6219 closed

[2019-01-02 18:31] natemcmaster commented on #6219
Run restore.cmd first. I've updated our docs and made a tweak to our targets to avoid this errors in VS.

[2019-01-02 18:36] #4951 closed

[2019-01-02 18:37] wanton7 opened #6301 "Razor Components bound textarea not working properly without WebSocket"
### Describe the bug
If you disable WebSocket for BlazorHub then textarea that uses bind, then textarea starts reverting to earlier text while you are writing to it.
I wanted to test Razor Components with higher latency so I wanted to disable WebSocket so browsers throttling will work.

### To Reproduce
[code]
Then instead of `app.UseServerSideBlazor<App.Startup>();` use
[code]

If you apply brows

[2019-01-02 18:39] shirhatti commented on #6140
@guardrex Can we have this behavior added to the docs? I believe this would be the appropriate section- https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.2#setting-environment-variables

[2019-01-02 18:40] guardrex commented on #6140
@shirhatti :+1: I'll get that scheduled.

[2019-01-02 18:41] BrennanConroy commented on #6125
I don't understand what you're trying to do, you should just be able to include signalr in the normal way through `<script src="~/lib/signalr/dist/browser/signalr.js"></script>` and when you change your code and reload, signalr will still be there.

[2019-01-02 18:48] #6171 closed

[2019-01-02 19:09] pranavkm commented on #4320
Re-assigning. We're going to modify the template to produce a F# + RCL project.

[2019-01-02 19:15] shirhatti commented on #6198
This is because the modules section is locked at your `applicationHost.config` level be default.

Try changing `<section name="modules" allowDefinition="MachineToApplication" overrideModeDefault="Deny" />` to `<section name="modules" allowDefinition="MachineToApplication" overrideModeDefault="Allow" />`

[2019-01-02 19:15] jkotalik commented on #4789
@martincostello few questions:
- In the site's web.config, are you using AspNetCoreModule or AspNetCoreModuleV2?
- Are you using AlwaysRunning/preloadEnabled?

If you could get a dump of the w3wp process when it crashes and send it to my personal email, we can take a look into it on our side.

[2019-01-02 19:17] shirhatti commented on #6198
When running `iisexpress.exe` from the command line, it uses the one in `%USERPROFILE%\Documents\IISExpress\config\applicationhost.config`

[2019-01-02 19:23] shirhatti commented on #2711
@ryanski44 I'm assuming you tried with in-process hosting only? We almost certainly will have another issue in out-of-process hosting where we don't call [`WinHttpSendRequest` ](https://docs.microsoft.com/en-us/windows/desktop/api/winhttp/nf-winhttp-winhttpsendrequest#support-for-greater-than-4-gb-upload) correctly for large uploads.

[2019-01-02 19:33] natemcmaster opened #6304 "Make build.cmd with no args build everything"
Currently, running build.cmd doesn't build everything in this repo. You have to know about special parameters to get the repo build Debian, RPM, and Windows installers.

**Proposal**: let's make `build.cmd`/`.sh` without arguments build everything in the repo. That includes:

* C#, C++, TypeScript, and Java projects
* On Windows, MSI installers.
* On Linux, the installer that matches the current p

[2019-01-02 19:39] pakrym commented on #6304
Maybe `build.cmd` should invoke x86/x64 and then "unifying" build when ran from the root.

[2019-01-02 19:48] pranavkm commented on #4947
Quick design notes:

* Add a new package that supports runtime compilation - `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation`
* The feature needs to be explicitly enabled as part of Startup `AddMvc().AddRazorRuntimeCompilation()`
* Templates **do not** reference this package.

[2019-01-02 20:01] NTaylorMullen opened #6305 "@* does not auto-complete to @* *@"
### Describe the bug
This seems to be a regression and was originally reported: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/742310. Opening this in GitHub as well so we can prioritize appropriately. /cc @danroth27

### To Reproduce
Steps to reproduce the behavior:
1. Open a Razor file in a 16.0 VS
2. Type `@*`.

### Expected behavior
`@* *@`

[2019-01-02 20:02] #6201 closed

[2019-01-02 21:13] bytedreamer commented on #6158
@Eilon I'm new to this code base. Is there a good place in the codebase to start diagnosing this issue.

[2019-01-02 21:17] Eilon commented on #6158
Hi @bytedreamer , welcome to the repo! @SteveSandersonMS  and @rynowak are the experts in this area and should be able to assist.

[2019-01-02 21:31] #2855 closed

[2019-01-02 21:33] #3871 closed

[2019-01-02 21:34] Eilon commented on #4330
@pranavkm / @NTaylorMullen ?

[2019-01-02 21:35] #4325 closed

[2019-01-02 21:35] kspearrin commented on #6152
I have only tested it with a web app from the Docker container so far.

[2019-01-02 21:36] Eilon commented on #6178
@ajcvickers - would you like this bug moved to EF?

[2019-01-02 21:37] Eilon commented on #6152
I think that would help narrow it down. As you mentioned earlier, it seems somewhat unlikely to be related to ASP.NET Core. If that's the case, this bug should move over to dotnet/corefx.

[2019-01-02 21:38] speige opened #6306 "Angular SPA SSR Template compile error with Angular 6"
@SteveSandersonMS
Migrated from https://github.com/aspnet/JavaScriptServices/issues/1619

### Describe the bug
Angular SPA SSR Template compiler error with Angular 6+

### To Reproduce
Steps to reproduce the behavior:
Clone https://github.com/speige/Angular6DotNetCoreSpaTemplateBug
The "master" branch is the original angular 5 template. The "Angular6Working" branch is an straight upgrade to v6 wit

[2019-01-02 21:40] colinwphillips commented on #3540
This just occurred (and wasted lots of effort troubleshooting) on ASP.NET Core 2.2 on Ubuntu 16.04 LTS. Was not occurring during development on localhost (Win10 Pro).
Application went from lightning fast to 5+ seconds per page load which led me to the logs.
```Microsoft.AspNetCore.Antiforgery.AntiforgeryValidationException: The antiforgery token could not be decrypted. ---> System.Security.Cryptog

[2019-01-02 21:41] jkotalik commented on #6076
@natemcmaster depending on how much work it takes, we may want to consider splitting korebuild.json up into subfolders again rather than having a top level json file. Calling subdirectory build.cmd will fail on projects that it really should pass on, causing even more developer friction.

[2019-01-02 21:41] guneysus commented on #6121
We are having this problem on Aspnet Core 1. We were able to catch the moment and took some memory dumps when API starts to hog server RAM by 100MB/s.

But memory dump analyses does not show the real cause of problem.

You can see the our methodology to approach to find root cause here:  #6167

[2019-01-02 21:56] farhadibehnam opened #6310 "Why I can't get current logged in user in asp.net core SignalR?"
I'm working on a chat project by asp.net core 2.2 signalR project. I implemented asp.net core identity a project I can authenticate persons without any problem this is a scenario of my project. A user enters username and password, and my login controller checks it if everything is ok after that I generate a JwtToken and return Ok result to Login Razor page the login page redirects me to chat secti

[2019-01-02 21:56] natemcmaster commented on #6076
I wouldn't invest any time in improving korebuild.json. We're trying to convert to Arcade soon. Arcade handle's prereq checks differently, so this may not be an issue once we do that.

[2019-01-02 22:03] rynowak commented on #6158
@bytedreamer - you shouldn't need `bind` on your readonly textareas. `bind-...` is for two-way interactions.

I would expect this to look like:
[code]

As for why the binding is clearing the value of `_except1` that's a mystery to me. Using bind on a textarea will hook up the `onchange` event and the value property. https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/test/Microsoft.

[2019-01-02 22:06] BrennanConroy commented on #6310
What does your SignalR client code look like? Are you passing the jwt token through via the `accessTokenFactory`? See https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-2.2#bearer-token-authentication for some info on using JWT with SignalR.

[2019-01-02 22:08] BrennanConroy commented on #6310
Also, you should consider putting the `[Authorize]` attribute on your Hub so every invocation runs the auth check.

[2019-01-02 22:10] NTaylorMullen commented on #4330
@pranavkm when was the last time we had a CLI build that has up-to-date SDK bits?

[2019-01-02 22:34] JamesNK opened #6505 "Warnings from aspnetcore Middleware.sln"
Building Middleware.sln produces warnings from the TestServer project. It looks like various test related references are being added to the project incorrectly, e.g. the project doesn't need Moq and xunit. The actual warnings are happening because TestServer.csproj is not an SDK project and probably can't handle the type of references.

Fix TestServer project so test references are not added
Updat

[2019-01-02 22:42] JamesNK commented on #5680
Totes, warning as errors is the best. But there is a way to *allow-list* (@Eilon 😋) some warnings. See `WarningsNotAsErrors` - https://github.com/dotnet/project-system/pull/4404/files#diff-6483fde6c45c90fdfe98ca72eadfa651

[2019-01-02 23:06] mikaelm12 commented on #6310
https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-2.2#authorize-users-to-access-hubs-and-hub-methods

[2019-01-02 23:14] BrennanConroy commented on #4387
JCenter has the package now https://bintray.com/bintray/jcenter/com.microsoft.signalr%3Asignalr/1.0.0

[2019-01-02 23:14] #4387 closed

[2019-01-02 23:37] ajaybhargavb commented on #5087
https://github.com/aspnet/AspNetCore-Tooling/pull/20, https://github.com/aspnet/AspNetCore-Tooling/pull/28 and https://github.com/aspnet/AspNetCore-Tooling/pull/62

[2019-01-02 23:37] #5087 closed

[2019-01-02 23:53] mikaelm12 commented on #4387
So I guess for future reference this takes about a month to update? Kind of unfortunate.

[2019-01-03 00:04] sierks opened #6319 "CORS issue"
I am getting a CORS-related error when starting my signalr connection, even though I think I have everything setup correctly. (Though I probably do not.) Any ideas?

Access to XMLHttpRequest at 'https://sparqsignalr.azurewebsites.net/SparqHub/negotiate' from origin 'http://localhost' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

My

[2019-01-03 00:36] pranavkm commented on #4292
Think we're just missing a test here - https://github.com/aspnet/AspNetCore/issues/5101

[2019-01-03 00:37] ajaybhargavb commented on #4292
Spent sometime looking at this with @pranavkm. This was because we didn't have an integration test for 2.2 project similar to what we have for a 2.1 project

[2019-01-03 00:40] pranavkm commented on #6319
@sierks might be this - https://stackoverflow.com/a/28548756. There are some suggested workarounds in the reply.

[2019-01-03 00:41] ajaybhargavb commented on #4292
Closing this as we already have an issue to add this test https://github.com/aspnet/AspNetCore/issues/5101

[2019-01-03 01:03] sebastienros opened #6322 "Some packages don't get published on myget"
See this trace:

http://aspnetci/viewLog.html?buildId=609574&buildTypeId=AspNetCore_Publish&tab=buildLog&_focus=704

[2019-01-03 01:03] davidfowl commented on #6322
cc @natemcmaster

[2019-01-03 01:08] sandrakim90 opened #6323 "Windows Authentications for Kestrel when hosted in Windows Service or console app"
On Windows, there appears to be no way to get Windows Authentication when hosting Kestrel in a Windows Service or console application. Is this feature under consideration for .NET Core 3 or maybe via Windows compatibility pack?

Windows Service is a more appropriate host than IIS for some applications. For example, I have an application that does stuff like gathering data on dedicated threads via

[2019-01-03 01:20] natemcmaster commented on #6322
Duplicate of https://github.com/aspnet/AspNetCore-Internal/issues/1459

[2019-01-03 01:20] #6322 closed

[2019-01-03 01:27] AlbertoPa opened #6326 "Incorrect validation of floating point data"
Data of floating point types are incorrectly forced to be numbers in general format by client-side validation, without accounting for the possibility of values displayed or inserted in scientific notation.
The data-val-number tag is automatically added to, and cannot be trivially removed from the generated HTML. This causes an inconsistency because it suffices to define a default value small or bi

[2019-01-03 01:42] bytedreamer commented on #6158
It is the _stringList1 and _stringList2 values that are emptying out when the onclick event is fired.

[2019-01-03 01:43] rynowak opened #6327 "Update xUnit extensibility for 2.4"
See: https://github.com/aspnet/AspNetCore-Tooling/pull/87 for an example

When we upgrade to xUnit 2.4 (default for dotnet/Arcade) we will need to make some changes to our xUnit discoverers. If we don't do this, then all of our extensibility will start to silently not run tests 😢

[2019-01-03 01:45] JamesNK commented on #6105
Hi @CodeMocker

I tested out nested square brackets in ASP.NET 2.1 and I got the same error as you did. It is a bug, but not one new to 2.2. This makes sense because the token replacement logic hasn't changed recently.

[2019-01-03 01:50] bytedreamer commented on #6158
Updated the code, it should have had those two values in a custom component. Guess you sometimes forget to commit up when it's past midnight.

[2019-01-03 05:59] rynowak commented on #4292
Are you *really* sure about that?

When I looked into it, I found out this:

Is that the same conclusion you came to? What's the root cause of **that**?

[2019-01-03 05:59] rynowak commented on #4292
I'm reopening this *just* to be mean 😝

[2019-01-03 06:30] ajaybhargavb commented on #4292
We don't have an integration test for 2.2 yet. I assume what you were seeing was for the 2.1 integration test. In that case, yes, the 2.1 test is using the 2.1 tasks (from the Razor.Design package) instead of the 3.0 tasks. @pranavkm said that 2.1 projects will always use the 2.1 tasks and it's okay for it to be that way. So the only action left was to add a test for the 2.2 case for which we alre

[2019-01-03 08:12] pablocastillaquintas commented on #6125
Hi Brennan, thanks for answering

I am trying to use the new browser modules with Vue without webpack. For that I would need the extension ".js" in the esm signalr distribution.

(I am not saying you should put it there, but maybe creating esm2 if you see demand in what I am trying).

Regards

[2019-01-03 08:13] schneiderpat opened #6328 "CORS not working with OPTIONS"
Hi,
[old issue](https://github.com/aspnet/AspNetCore/issues/3121)

I configured cors like that in my startup

app.UseCors(builder =>
    builder.WithOriging("http://localhost:4200")
          .AllowAnyMethod()
          .AllowAnyHeader()
          .AllowCredentials()
);
When my frontend, an angular spa, sends a put request, chrome sends a preflight with an options method. this one does not get han

[2019-01-03 11:19] JulioJu opened #6329 "[Suggestion] Accessibility for input fields required"
### Is your feature request related to a problem? Please describe.

Actually, when JavaScript is disabled in the Browser, or if the Browser doesn't support JavaScript, nothing says that an `<input>` field is "required" in client side.  Not cool for Accessibility in HTML5 : http://www.clarissapeterson.com/2012/11/html5-accessibility/

As the author of the link below said, simply generate an input l

[2019-01-03 11:20] AlexanderZverev commented on #6076
Faced the same problem, and that's how I handled with it:
insert following code
`return 'C:\Program Files (x86)\Microsoft VisualStudio\2017\Community\MSBuild\15.0\Bin\MSbuild.exe'`
to **KoreBuild.psm1** as first line of  `Get-MSBuildPath()` function (line number 457 in my case).

[2019-01-03 11:56] alanleouk commented on #6069
I modified my code to use the endpoints provided by https://accounts.google.com/.well-known/openid-configuration but hit a problem where the response from the user information endpoint wasn't deserialising. I modified my user information endpoint to https://www.googleapis.com/oauth2/v2/userinfo which seems to be compatible with the old mappings. I have also taken out the profile scope for my imple

[2019-01-03 12:01] alanleouk commented on #6069
I modified my code to use the endpoints provided by https://accounts.google.com/.well-known/openid-configuration but hit a problem where the response from the user information endpoint wasn't deserialising. I modified my user information endpoint to https://www.googleapis.com/oauth2/v2/userinfo which seems to be compatible with the old mappings. I have also taken out the profile scope for my imple

[2019-01-03 12:10] MovGP0 opened #6330 "There should be specialized normalizers for E-Mails"
### Is your feature request related to a problem? Please describe.

Given I have an E-Mail address that includes unicode characters. When its normalized in the database using the `UpperInvariantLookupNormalizer`, those unicode characters are not properly escaped into [Punycode](https://en.wikipedia.org/wiki/Punycode) using the [System.Globalization.IdnMapping](https://docs.microsoft.com/en-us/dotn

[2019-01-03 12:12] MovGP0 commented on #6330
btw: the class `Microsoft.AspNetCore.Identity.UpperInvariantLookupNormalizer` should probably be sealed, since the implementation is trivial.

[2019-01-03 12:35] guylando opened #6331 "Making IQueryableUserStore Async"
Could not find such issue in this repository or the old identity repository.
Currently the IQueryableUserStore interface of dotnet identity has a sync property IQueryable<TUser> Users.
This property usually has an async implementation, see: https://stackoverflow.com/questions/30640281/getter-property-with-async-method-doesnt-finish-executing
Maybe you can consider adding async method to the interf

[2019-01-03 13:48] CristianVladescu opened #6333 "Tag helpers and Razor expressions don't work well together on the same line"
### Describe the bug
Tag helpers and Razor expressions don't work well together on the same line.
Take for instance this line of code:
`<button @(group.Builtin ? "disabled" : "") asp-page-handler="ShowGroupModal" type="submit">Edit</button>`

In this case the asp-page-handler TagHelper has no effect.
If I swap the order, everything works, but Visual Studio does not recognize the expression syntax.

[2019-01-03 13:51] martincostello commented on #4789
I'll look at reverting back to out-of-process next week so I can generate a crash dump as we've switched over to in-process for the application this week.

Relevant parts of `web.config`:

[code]

Relevant parts of `applicationHost.config`:

[code]

[2019-01-03 13:57] farhadibehnam opened #6334 "How to get users from SQL server database and also how to track changes inside the database by asp.net core signalR?"
Like telegram and WhatsApp I want to fetch users from a database into a chat app for example when you open up telegram, you can see your contacts in the telegram if your contacts are online telegram show he/she is online if that person leaves chat telegram show he/she is offline. But there is a point about it maybe suddenly one user inserts into database how to can I real-time track database immed

[2019-01-03 14:03] khellang commented on #6145
I'm assuming you're referring to the automatic conversion of validation errors into an `IActionResult` that was introduced with the API conventions stuff? I.e. the [`ModelStateInvalidFilter`](https://github.com/aspnet/AspNetCore/blob/afb92018f07bf81c7be092ce93ae36cf1aca5365/src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/Infrastructure/ModelStateInvalidFilter.cs)?

The `InvalidModelStateResponseFactory`

[2019-01-03 14:12] khellang commented on #6061
`ApiControllerBase`, is that a custom base class in your app? Sounds like the same issue as https://github.com/aspnet/AspNetCore/issues/4410?

[2019-01-03 14:15] RehanSaeed commented on #6145
@khellang is more of an expert on this (he wrote the code) and can confirm this but I think in 2.2 the default API behaviour is to use the new `ProblemDetails` response object which has a different `InvalidModelStateResponseFactory` method ([link to full code](InvalidModelStateResponseFactory)):

[code]

So, as well as swapping `BadRequestObjectResult` with `UnprocessableEntityObjectResult`, you'd

[2019-01-03 14:16] RehanSaeed commented on #6145
With the above said, I still think there is a case for changing the default to 422 because it is more 'correct'.

[2019-01-03 14:34] zlatanov commented on #3128
@davidfowl I have created a Unit Test to illustrate the issue. The branch with the test is here - https://github.com/zlatanov/AspNetCore/tree/ws-keep-alive-issue.

The actual test - https://github.com/zlatanov/AspNetCore/blob/f21fcd3f3ab7b0f585385a65701160e6a4ad6ad0/src/Middleware/WebSockets/test/UnitTests/SendReceiveTests.cs#L109.

The NET Core WebSocket client does send a keep alive frame, but t

[2019-01-03 14:37] kanadaj commented on #6069
There is no secondary error. Also, don't have Fiddler in the pipeline so can't really make logs with that.

Generally speaking though, I find that External Login errors seem very hard to debug since the errors are very generic. "Correlation failed" and "The oauth state was missing or invalid." aren't really actionable. A more detailed logging setup built into the pipeline would make things much ea

[2019-01-03 15:12] TanvirArjel commented on #6219
@natemcmaster Please tell me more details! I did not understand what you actually mean run `restore.cmd` first? And which doc you have updated or how can I get this updated doc? Thank you.

[2019-01-03 15:14] sierks commented on #6319
Well, it seems the problem was Azure SignalR. Removing that fixed it. So apparently I just don't know how to set that up.

Feel free to delete this issue.

[2019-01-03 15:14] #6319 closed

[2019-01-03 15:23] Scriptworks commented on #6111
@kucxgithub is absolutely spot on.

This was happening to me when I was trying to webdeploy a dotnet core 2.2 into an IIS server. Another thing that worked for me but isn't necessarily right is to actually change the handler in the web.config from
`      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule**V2**" resourceType="Unspecified" />
      </handlers>`
to

[2019-01-03 15:46] pranavkm commented on #6319
FYI @davidfowl

[2019-01-03 15:47] pranavkm commented on #4292
We fixed 2.2 Razor.Design package to use the singleton task and consequently it uses the task from the SDK. We never got around to fixing \ patching 2.1 and it'll continue using the task in the Razor.Design package.

[2019-01-03 15:49] TanvirArjel commented on #6219
@natemcmaster I had run `restore.cmd` as administrator but did not help. dotnet-sdk Installation failed. Any more suggestion please!

[2019-01-03 15:51] PingPongSet commented on #5132
@pranavkm

Do you have a chance to look into the issue?

[2019-01-03 16:13] Tratcher commented on #6069
@kanadaj agreed, though the trouble with those situations is that the error usually occurs on the client or IDP, the server doesn't know why it happened.

[2019-01-03 16:15] Tratcher commented on #6069
@alanleouk the .well-known endpoint is for OpenIdConnect, not OAuth2 (though the two are related). There is a proposal to replace this library with the existing OpenIdConnect implementation in a future release.

[2019-01-03 16:24] BrennanConroy commented on #6334
Why not use the "UserConnected" and "UserDisconnected" client methods to add and remove users from an online list? Or if you really want to make use of your controller method `GetAllUsers`, then call it from the client every time you trigger "UserConnected" and "UserDisconnected".

[2019-01-03 16:30] pranavkm commented on #5132
@PingPongSet sorry I was out these past few weeks. It `http://localhost:1234` supposed to be the application being tested? If so, TestHost doesn't actually set up a server that listens to network requests.

As part of your test, you might be able to configure `IHttpClientFactory` to use the TestHost created message handler to perform a test host loopback. cc @Tratcher for suggestions

[2019-01-03 16:35] thomaslevesque commented on #6069
Using OpenID Connect is a good alternative anyway. It's just as easy to setup, you don't need a client secret, and you can get all the information from the `id_token` without requiring an extra API call (just add `email` to the requested scopes to get the email address)

[2019-01-03 16:38] Tratcher commented on #5132
@rynowak for IHttpClientFactory.

I question the larger design here though. If you know the functionality you need is available elsewhere in your application then why invoke it via HTTP? Why not factor your code so you can call the functions directly?

[2019-01-03 16:44] kanadaj commented on #6069
@Tratcher The problem is that even if Sentry picks up the request details, it's usually still just encrypted tokens and such. I imagine it'd be the same with Fiddler.

[2019-01-03 16:45] Tratcher commented on #6069
@thomaslevesque you don't need a client secret? Last I checked Google only supported the code response type so the client secrete was required to exchange the code for an idtoken. I double checked and they do support token flows, but only for the client.

https://developers.google.com/identity/protocols/OpenIDConnect#authenticationuriparameters
[code]

[2019-01-03 16:46] Tratcher commented on #6069
@kanadaj let's take that discussion to another thread.

[2019-01-03 16:50] pranavkm commented on #6215
@thiennn MVC uses deps files to determine the location of compilation references. The plugin assembly that you load has a deps file but with `PreserveCompilationContext` disabled. Consequently it results in MVC determining that there are no references to be loaded from it. A couple of ways for you to fix it:

1) Use a regular P2P reference between your app and the plugin. It'll ensure that your ap

[2019-01-03 16:50] BrennanConroy commented on #6120
Take a look at our docs for windows auth https://docs.microsoft.com/aspnet/core/security/authentication/windowsauth?view=aspnetcore-2.2

Once I added the `services.AddAuthentication(IISDefaults.AuthenticationScheme);` because the apps logs said "No authenticationScheme was specified, and there was no DefaultChallengeScheme found." then the app started working. I hosted it behind IIS, I'm assuming

[2019-01-03 16:53] natemcmaster commented on #6219
Try pulling the latest code from master. There were two bugs with JoinItems. The first was fixed in #6295 and the other in #6302

[2019-01-03 16:53] thomaslevesque commented on #6069
You can get an `id_token` directly, without needing an authorization code. Just use `id_token` as the `response_type` (this is the default when you use `AddOpenIdConnect`). In this case you don't need the client secret.

[2019-01-03 16:55] oferns opened #6335 "IAsyncActionFilter Re-execute action"
I have implemented IAsyncActionFilter as below to try to re-execute the action method after a database error (on insert/update). The idea being that some DB exceptions are actually validation errors. In this case, I am using sql constraints to prevent overlapping dates. The easiest way to check validity is to try to update/insert then catch the error, and return the view with the original data + v

[2019-01-03 16:56] blowdart commented on #5833
@javiercn  ?

[2019-01-03 16:56] thomaslevesque commented on #6069
@Tratcher I see the Google documentation is misleading. It says:

But I just tried it in my app, and it works just fine. Probably because it's using `form_post` as the `response_mode`, not `fragment`.

[2019-01-03 16:59] natemcmaster commented on #6076
Closing because I believe our code should build just fine if you first follow the instructions for installing pre-requisites. https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md#install-pre-requistes.

If the instructions don't work, please let us know and we can look into this more.

[2019-01-03 16:59] #6076 closed

[2019-01-03 16:59] pranavkm commented on #6294
Is this with a 3.0.0-preview project? We recently removed support for runtime compilation in 3.0.0 and there's a work item to re-add support for it (#4947).

[2019-01-03 17:07] blowdart commented on #6159
You disabled cookie policy as well as Https. You need cookie policy to login.

Out of interest why would you disable HTTPS?

[2019-01-03 17:10] Tratcher commented on #6069
@thomaslevesque Ah, it does work. Well there's an undocumented feature for us.

[2019-01-03 17:11] blowdart commented on #5154
No. If any authentication service succeeds then the user will be authenticated. You can't have "both must succeed".

You could try via policy as Eilon suggests, and have a policy which examines the identities on the user principal and checks that there's an identity from both authentication services, that's as close as you can get.

[2019-01-03 17:12] blowdart commented on #6181
Why would this be ideal? If you're calling APIs you really ought to consider switching to bearer tokens, unless you're stuck in the browser, in which case it is an Ajax request.

What are you trying to achieve?

[2019-01-03 17:13] blowdart commented on #6213
No, there's no way to have "global" events.

[2019-01-03 17:13] #6213 closed

[2019-01-03 17:14] blowdart commented on #6180
When you say they're logged back in, do you mean they get bounced through facebook and it automatically authenticates them again?

[2019-01-03 17:43] cmoonExpedia commented on #4825
@rynowak The problem and scope description sounds clear to me in this thread. I know that this problem exists in aspnet/mvc stack. Do you know the status of this problem in aspnet/mvc thread? The description and conversation in the link you provided (https://github.com/aspnet/Mvc/issues/5673#issuecomment-281738074) were not clear to understand and it was closed. Wondering if you have some informat

[2019-01-03 18:08] Eilon commented on #6323
cc @blowdart

[2019-01-03 18:11] blowdart commented on #6323
What's wrong with hosting via http.sys in a service? Or a console app?

cc @Tratcher

[2019-01-03 18:29] netleader opened #6337 "Moving Razor Pages Areas Folder"
### Describe the bug
I can't find a way to move the default Areas folder to a subfolder.
This is my project structure:

Project.Web
+-- ClientApp (VUE SPA)
+-- Server (includes all asp.net components)

I moved my pages already to the Server folder but I can't manage to get the Areas folder within the Server folder working.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of

[2019-01-03 18:34] blowdart commented on #5842
Duplicate claims can be a valid use case. You can already check if a claim exists, so why add syntactical sugar for very little benefit?

[2019-01-03 18:36] Tratcher commented on #6069
See https://github.com/aspnet/AspNetCore/pull/6338 for the proposed patch. Note this uses a different endpoint than proposed earlier. I've updated the mitigation [above](https://github.com/aspnet/AspNetCore/issues/6069#issuecomment-449461197) to match.

[2019-01-03 18:36] blowdart commented on #6193
Why would we want authenticated users to not create new users, or switch their login to another account?

This requirement isn't generic enough for use to make a default in templates, so I'm afraid it's something you'll have to implement yourself, like you have.

[2019-01-03 18:36] #6193 closed

[2019-01-03 18:37] blowdart commented on #5846
This doesn't appear to be a question or a bug, so closing. Questions on how to use asp.net core are probably best addressed via Stack Overflow.

[2019-01-03 18:37] #5846 closed

[2019-01-03 18:38] blowdart commented on #5844
I don't know if I'd go as far as calling it dangerous, e.g. it does support a user name change, which is a scenario I can see people using.

[2019-01-03 18:41] AnthonyMascia commented on #6069
Is there any specific reason you changed the new endpoint?

[2019-01-03 18:44] BrennanConroy commented on #5351
For design: Here is a short conversation about making the invocations serial https://github.com/aspnet/SignalR/pull/2086#discussion_r182607396

[2019-01-03 18:45] Tratcher commented on #6069
@AnthonyMascia this one seemed more appropriate for an OAuth2 component, and it's also a later version of the API. The prior one was an OpenIdConnect specific endpoint and an older API version.

[2019-01-03 18:48] kanadaj opened #6340 "Improve logging/error reporting for External Authentication"
As discussed in https://github.com/aspnet/AspNetCore/issues/6069, errors logged from External Login providers are vague and ambigious:
[code]

[code]

Neither of those is really helpful to know what's actually sent or not sent to the server; and at which point is the handshake failing. Even with Sentry, which logs the data from the request with the error, at best I have an encrypted token that's c

[2019-01-03 18:49] kanadaj commented on #6340
@Tratcher

[2019-01-03 18:58] ZombiesWithCoffee commented on #2773
I have been installing ASP.NET Core 2.2 on an IIS system, and experiencing the exact same issue as the original poster.  I'm quite sad that I don't see a valid fix for this issue.

[2019-01-03 19:01] guardrex commented on #2773
The fix is to include a *web.config* file in the project. Do you have a limitation in your scenario that prevents you from adopting that approach?

[2019-01-03 19:01] Tratcher commented on #6340
@kanadaj the challenge with these is that they're related to the absence of required data. There's little else in the current request that will be of use in diagnosing them. Here's how we usually debug them:

- Capture a Fiddler trace showing the entire login flow.
- Verify the fields and associated cookies were sent from server to client on initial challenge response. (not usually a problem).
- C

[2019-01-03 19:02] dougbu commented on #4917
be7dfa30af

[2019-01-03 19:02] #4917 closed

[2019-01-03 19:09] blowdart commented on #6340
Also the vagueness ensures we don't leak tokens, or sensitive responses.

[2019-01-03 19:17] ZombiesWithCoffee commented on #2773
Frankly, I'd have liked it to have worked without having to search Google for a few days.   This is a kludge, not a fix.  Including the web.config also isn't enough, you also need to include

    <IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled>

[2019-01-03 19:20] kanadaj commented on #6340
@blowdart I don't believe you would leak anything not already in the Fiddler traces when debugging these issues, so I don't see that as a problem.

[2019-01-03 19:22] natemcmaster commented on #5400
@BrennanConroy can you fill in the shiproom template? https://microsoft.sharepoint.com/teams/netfx/CLR/ProjectK/_layouts/OneNote.aspx?id=%2Fteams%2Fnetfx%2FCLR%2FProjectK%2FDocuments%2FTactics%2FNET%20Core%20Release%2Fnet-core-release&wd=target%28net-core-release.one%7C0CF34A20-F342-FA43-8944-18B555589A6B%2FShiproom%20Info%20and%20Templates%7C30A2770F-73EF-A74D-9C01-0D0B4BEAC431%2F%29

Also, pleas

[2019-01-03 19:23] kanadaj commented on #6340
@Tratcher Fiddler traces only include information that the server receives as well, doesn't it? In that case, some things could be validated in the pipeline and logged appropriately, like SameSite; as well as exactly which cookie is missing if any.

[2019-01-03 19:32] Eilon commented on #4791
@JamesNK - any idea what work would be needed here? Not clear to me from the linked issue.

[2019-01-03 19:35] ryanski44 commented on #2711
@shirhatti I'm fairly confident that we are using the out of process hosting. The code I changed was in the out of process hosting. I did change the code that was calling WinHttpSendRequest, if you look a few comments up you should see it, but I'll put it here as well.
https://github.com/ryanski44/AspNetCore/commit/007379627c2d05ddc822f8d898c2828739cf0823

Also, I got around to removing the reques

[2019-01-03 19:45] Eilon commented on #6099
cc @JamesNK

[2019-01-03 20:00] JamesNK commented on #4791
The ASP.NET Core OData library uses IRouter, and doesn't work with Endpoint routing. Until the OData library is updated users can continue to use it in 2.2 and 3.0 by disabling Endpoint routing:

https://github.com/OData/WebApi/issues/1707#issuecomment-448420529

Ryan and I are already providing advice for updating the library. No changes on our side are required.

Closing this issue because discu

[2019-01-03 20:00] #4791 closed

[2019-01-03 20:08] JamesNK commented on #6099
Hi @sadqiang

.NET attributes allow a very small subset of primitive types as arguments. That limits the options for creating a strongly typed API at this point. If you don't like having that route pattern in every controller you have a couple of options:

* Use conventional routing instead of attribute routing. That centralizes routing rules. Example: https://docs.microsoft.com/en-us/aspnet/core/

[2019-01-03 20:10] blowdart commented on #6331
Ah history, this was designed long before async was a thing. We don't have the bandwidth for it for 3.0 (interface changes are breaking changes, so it needs to be a major version change), but we would accept a well designed PR.

[2019-01-03 20:13] livarcocc opened #6341 ".net core 2.2 sdk install failed on windows 7 sp1"
_From @rakeshsinghranchi on January 2, 2019 19:56_

_From @OpenGDBX on December 26, 2018 9:15_

# Issue Title

.net core 2.2 sdk install failed on windows 7 sp1

# General

 the cabinet file sfx_x64.cab has an invalid digital signature

_Copied from original issue: dotnet/core-setup#4900_

_Copied from original issue: dotnet/core-sdk#234_

[2019-01-03 20:13] livarcocc commented on #6341
We do not depend on that file, as far as I am aware. @rakeshsinghranchi why did you move this to the sdk?

[2019-01-03 20:13] livarcocc commented on #6341
_From @rakeshsinghranchi on January 2, 2019 21:1_

Looks like it is aspnet MSI cab file. What repo does this need to go ? Moved this to core-sdk because SDK setup is impacted.

cc @natemcmaster

[2019-01-03 20:13] livarcocc commented on #6341
_From @natemcmaster on January 3, 2019 17:55_

Use https://github.com/aspnet/AspNetCore for issues with ASP.NET Core.

[2019-01-03 20:13] livarcocc commented on #6341
_From @natemcmaster on January 3, 2019 17:57_

@Opengdbx can you share more details about the error message? Screenshots, console errors, log files if you have them, etc?

In 2.2, we stopped signing our installers with SHA1 (see security advisory https://docs.microsoft.com/en-us/security-updates/securityadvisories/2014/2949927). Windows 7 machines may need to be patched to support SHA2 digital sig

[2019-01-03 20:15] blowdart commented on #5847
As brock says. So closing.

[2019-01-03 20:15] #5847 closed

[2019-01-03 20:16] blowdart commented on #5845
Yes, it's related to the announcement. No we're not doing it, but a discussion is pending.

[2019-01-03 20:16] #5845 closed

[2019-01-03 20:19] blowdart commented on #5844
Also how would you do this check? You can't rely on any claim being present, be it username or a uuid or anything else, validators are generic and not linked to identity.

I'm going to fall back to the documentation here I'm afraid as there's no clear foolproof way to do this.

[2019-01-03 20:19] #5844 closed

[2019-01-03 20:22] blowdart commented on #5843
This is the first request we've had for this, and it requires an interface change, which is a big change for little value, so I'm closing this as "by design"

[2019-01-03 20:22] #5843 closed

[2019-01-03 20:26] ryanbrandenburg opened #6342 "JavaScriptServices does not find ClientApp when run in IISExpress"
Full details [here](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/754198).
### TLDR
Because IISExpress has the CurrentDirectory as where IIS is installed (probably "C:\Program Files\IIS Express") the WorkingDirectory for running npm gets expanded to "C:\Program Files\IIS Express\ClientApp", which is a folder that doesn't exist. An exception is thrown, which JavaScriptServices reports as a

[2019-01-03 20:34] gulbanana commented on #5552
how about react-style error boundary components?

[2019-01-03 20:35] pranavkm commented on #6337
@netleader there isn't an feature to do this as yet. We had some trouble reconciling configurable Areas with Razor Class Libraries like IdentityUI. https://github.com/aspnet/Mvc/issues/7608 goes in to a bit more detail about this. You could explore using [route model conventions](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/razor-pages-conventions?view=aspnetcore-2.2) to configure the

[2019-01-03 20:36] rynowak commented on #4292
Ok cool beans. We should prioritize adding a 2.2 test case, it won't take long...

[2019-01-03 20:36] #4292 closed

[2019-01-03 20:44] accesssoftek commented on #6142
I may confitm that the issue exists
![image](https://user-images.githubusercontent.com/31446448/50660621-81a1bf80-0fb1-11e9-9404-b9559ffbed8d.png)

[2019-01-03 20:45] blowdart commented on #5839
That would be a rather large breaking change I'm afraid, so it's not one we're willing to make.

[2019-01-03 20:45] #5839 closed

[2019-01-03 20:47] BrennanConroy commented on #6142
Can you give me your environment details, like npm version etc.

[2019-01-03 20:49] accesssoftek commented on #6142
![image](https://user-images.githubusercontent.com/31446448/50660833-34721d80-0fb2-11e9-9df8-d119948f37f3.png)

[2019-01-03 20:49] anirugu commented on #6294
@pranavkm  Thanks for reply is `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation`  is available somewhere, I search in nuget with pre-release. it's not there.

[2019-01-03 20:56] blowdart commented on #5810
@HaoK can you review the PR please? This got lost :(

[2019-01-03 21:04] pranavkm commented on #6294
The feature hasn't been implemented as yet. In the meanwhile, you might have success using `dotnet-watch` to do this. @natemcmaster are there any guides for configuring VS Code to work with the watch command?

[2019-01-03 21:08] accesssoftek commented on #6142
This is my package.config
[package.json.txt](https://github.com/aspnet/AspNetCore/files/2725317/package.json.txt)

[2019-01-03 21:10] BrennanConroy commented on #6142
I have managed to repro it on the command line now, I had to make an angular app, node apps don't care about the "incompatibility".

[2019-01-03 21:14] accesssoftek commented on #6142
Cool!

[2019-01-03 21:43] PingPongSet commented on #5967
@davidfowl

Because WebApplicationFactory has only `CreateClient(); `method, it has not overloads that create a named or typed `HttpClient`. This allows me to assign Polly polcy to a named or typed `HttpClient`.

Because I need to test Polly policy showed on the OP.

[2019-01-03 21:44] CoolGoose commented on #6181
I am doing web requests with a JWT token (mostly experimenting with an api only backend to a vuejs spa). Unless I am overwriting the methods I am getting an unwanted http response code (since technically it returns the 302 for the to login page redirect).

[2019-01-03 21:56] fatihyildizhan commented on #6111
I am getting same error with .net core 2.2 and 3 preview also.

[2019-01-03 22:05] natemcmaster commented on #6294
Yes, you can configure with file changes cause dotnet-watch to restart the web server. See https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch?view=aspnetcore-2.2#customize-files-list-to-watch

[2019-01-03 22:10] Eilon commented on #6029
Closing because there are no plans to make any changes to this. The UI part is the bulk of what's in this feature, so if we split that out, there would be almost nothing left.

[2019-01-03 22:10] #6029 closed

[2019-01-03 22:13] jkotalik commented on #6111
@kucxgithub @Scriptworks let me clarify why what you are doing works. In ASP.NET Core 2.2, we released a new Server/ hosting pattern with IIS called IIS InProcess hosting (See: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.2#enable-the-iisintegration-components). To enable inprocess hosting, the csproj element `AspNetCoreHostingModel` is added to set the `host

[2019-01-03 22:15] Eilon commented on #6340
Let's add some logging for Location and Set-Cookie for OAuth and OIDC.

[2019-01-03 22:16] Eilon commented on #6340
LogLevel = Debug

[2019-01-03 22:17] Eilon commented on #6181
Unfortunately this would be a breaking change to gain minimal value, so we are closing this issue.

Also, it seems like cookies and JWT are being mixed, though they shouldn't be used together. If you're having some other issue, please log a new issue with details.

[2019-01-03 22:17] #6181 closed

[2019-01-03 22:20] Eilon commented on #6180
Unfortunately this is a limitation of Facebook's auth, which doesn't have a remote sign-out feature.

What's happening here is that when you sign out in your app, the ASP.NET Core cookie is getting deleted, but the Facebook auth cookie still exists. So, when you get redirected back to your app's home page, it requires auth, which sends you to Facebook, where you are still logged in, so Facebook re

[2019-01-03 22:23] Eilon commented on #6161
Hi @DalSoft , we're tracking some possible future improvements to this in https://github.com/aspnet/AspNetCore/issues/4670, so closing this as a dup of that.

[2019-01-03 22:23] #6161 closed

[2019-01-03 22:34] Eilon commented on #5126
Hi @techiebuddhas , we recommend starting from one of our official samples that handles a similar case:

https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore

If you still have issues after trying to work with that, please let us know by filing a new issue with the specific problem you're having.

[2019-01-03 22:34] #5126 closed

[2019-01-03 22:40] Eilon commented on #5113
Here's the proposal:
- [ ] We verify the response mode and fail if it is a downgrade
- [ ] The failure message will link to a new doc saying what to do (for example, change the expected mode to the lower mode, or set the flag to restore the old behavior)
- [ ] We add a new option to say to allow downgrades anyway
- [ ] Post an announcement about this breaking change

[2019-01-03 22:44] Eilon commented on #4629
@HaoK - can you add your thoughts to this?

[2019-01-03 22:47] Eilon commented on #4508
@jai00271 can you provide exact info on how to reproduce the issue and what the question is?

[2019-01-03 22:56] rynowak opened #6348 "Enable MVC Views/Pages to invoke a Component as a TAG"
We want to support views/pages using components using the normal element syntax. This is an upgrade over the current support for using HtmlHelper to invoke a component.

We need to do significant design and scoping work here to figure out the limitations and caveats of enabling this.

[2019-01-03 22:57] rynowak commented on #4058
Investigation done. No action for now.

[2019-01-03 22:57] #4058 closed

[2019-01-03 23:01] rynowak opened #6349 "Embedded Content (how static assets work with multi-project scenarios)"
**Scope**

We want to support building and shipping class libraries that include static content. This can include support for discovering and injecting these static assets at runtime where appropriate.

We also want to make it possible to do local development with multiple projects containing static files. This means that in development, it would be possible to serve files from multiple projects w

[2019-01-03 23:03] rynowak opened #6351 "EventCallback: Updates to Event Handling and Binding"
# Summary

In ASP.NET Core 3.0.0-preview3/Blazor-0.9 we're making a big set of changes to how event routing works in Components. Powering this is a new feature called `EventCallback` that every Components user will want to learn about. If you've ever had to add a manual `StatehasChanged` to get rendering to occur properly then these are changes you will probably be interested in.

## What's changi

[2019-01-03 23:04] #4694 closed

[2019-01-03 23:05] rynowak opened #6352 "Components: Add Compiler generated strongly-typed methods for URL generation"

[2019-01-03 23:10] danroth27 opened #6353 "Circuits lifetime and lifecycle"
Reconnection
 - optimistically restore circuit if not evicted yet
 - rules for eviction
 - UI to tell user they are disconnected and we're trying to reconnect

Disconnection API
 - On .NET side, might be enough that we are disposing the root component
 - On browser side, need to ensure we're exposing something you could hook into with JS

[2019-01-03 23:10] halter73 commented on #4757
A reference to the original PR seems to have been lost in the issue transfer.

https://github.com/aspnet/KestrelHttpServer/pull/2345

[2019-01-03 23:12] RFDominguez opened #6354 "Clipboard copy through JS interop doesn't work."
### Describe the bug
I've been trying to copy text from an htmlElement (input) to the clipboard but this never works.
I get no errors or messages. Maybe this is not supported yet?

### To Reproduce
JS **********
window.copyToClipboard = (htmlElementId) => {
            var htmlElem = document.getElementById(htmlElementId);
            console.dir(htmlElem);
            htmlElem.select();

[2019-01-03 23:13] rynowak opened #6355 "First class components in compiler and tooling"
ie: components are not modeled as tag helpers

[2019-01-03 23:13] BrennanConroy commented on #6353
Blocked is a strong word, you can easily write naive reconnect logic, we even have docs for it. https://docs.microsoft.com/en-us/aspnet/core/signalr/dotnet-client?view=aspnetcore-2.2#handle-lost-connection

[2019-01-03 23:18] danroth27 opened #6356 "Razor Components support in VSCode"

[2019-01-03 23:19] danroth27 opened #6357 "Razor Component item templates"
Proposed content:

[code]

Item template name: razorcomponent

[2019-01-03 23:23] rynowak opened #6358 "Automated eviction for circuits"
This would be a set of features for shutting down circuits that are idle and freeing the server resources associated with them. This could be simple like an idle timeout, or more sophisticated like a cache eviction strategy based on resource constraints.

[2019-01-03 23:23] HaoK opened #6359 "Casing differences causes issues with WebApplicationFactory"
See https://github.com/aspnet/BuildTools/issues/697 for more context

It looks like occasionally dlls are renamed with slightly different lowercased names by build.cmd which was causing strange failures in MVC.Testing style functional tests that rely on finding assemblies using Ordinal.

An example:

[code]

Notice how the obj/Debug/netcoreapp2.2 has lowercase Mutlitenant.Views.dll

Can we update

[2019-01-03 23:26] rynowak opened #6360 "Automatic reconnection for Circuits"
This would be a set of features that allow a circuit's lifetime to span multiple SignalR connections.

For instance, the train goes through a tunnel, and you can preserve your UI state on the other side.

See: https://github.com/aspnet/AspNetCore/issues/6353#issuecomment-451307907

[2019-01-03 23:33] rynowak opened #6361 "Design Review: @code"
Do we want to use `@code` instead of `@functions`?

[2019-01-03 23:35] rynowak opened #6362 "Design Review: Do we want an alternative syntax for directives?"
We've discussed a syntax that doesn't overlap with expressions. As-is, adding a directive is always a breaking change, so we avoid doing it.

[2019-01-03 23:37] rynowak opened #6364 "Implement *directive attribute* feature for components"
## Summary

Directive attributes is our term for built-in compiler features that *look-like* attributes, but don't map to any real HTML attributes or component parameters.

For instance `ref` looks like an attribute, but it does something that's intrinsic to the Razor language.

[code]

You can think of these like macros.

We want to build a syntax for directive attributes (`bind`, `onclick`, `ref

[2019-01-03 23:41] rynowak opened #6365 "Add Razor Components project template to SDK"
Need to add the existing template to the SDK for the preview2 release.

[2019-01-03 23:42] Eilon commented on #6167
@sebastienros - can you provide info on how to diagnose this?

BTW support for ASP.NET Core 1.1 is ending in the near future, so I recommend moving up to a newer version. Also, lots of great new features, performance improvements, and bug fixes!

[2019-01-03 23:45] HaoK commented on #4629
You can also take a look at https://github.com/aspnet/AspNetCore/pull/6363 which demonstrates how to provide a different set of options/schemes per tenant but the main thing to be aware of is that we don't really support using the built in providers (OIDC/Oauth/Google/Facebook) being used in a multi-tenant way, we left enough hooks for it to be possible if you replace large pieces of the stack, bu

[2019-01-03 23:45] #4629 closed

[2019-01-03 23:46] sebastienros commented on #6167
@guneysus

Does it reach the point where you get an `OutOfMemoryException` and the application crashes? Or is it just taking a lot of memory?

If so, would you be able to share the memory dump I send you a link to a onedrive folder to put the file on? Ideally when it's already taking a lot of memory so I can see what is using it.

[2019-01-03 23:46] Eilon commented on #5141
This type of incremental compilation is not really supported in .NET, but you can post your thoughts in the C# compiler repo here: https://github.com/dotnet/roslyn

[2019-01-03 23:46] #5141 closed

[2019-01-04 00:18] HaoK commented on #6359
This doesn't seem to be an issue in mondo repo, so closing for now

[2019-01-04 00:18] #6359 closed

[2019-01-04 01:15] NTaylorMullen opened #6368 "@{ does not auto-complete correctly when side-by-side with @{ }"
### Describe the bug
This was originally reported [here](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/756382) and worked in non-core Razor.

### To Reproduce

1. Start with an empty cshtml file
2. Type in `@{`
3. That will get auto-completed to `@{ }`
4. Move to the beginning of that line, and in front of `@{ }` type in another `@{`
5. Hit Enter

### Expected behavior
[code]

[2019-01-04 01:43] Edward-Zhou commented on #6120
Is there any difference between hosting in IIS and IIS Express?

Currently, I am developing with VS and IIS Express, I did not receive any error related with `No authenticationScheme was specified`. Even through, I add code `services.AddAuthentication(IISDefaults.AuthenticationScheme);`, it still throw `401`.

Do you make it work with my demo project?

[2019-01-04 01:45] natemcmaster commented on #5812
Identity tests are still consistently failing in PR checks on this repo. In https://github.com/aspnet/AspNetCore/pull/6350, I'm going to completely disable Identity functional test projects while we sort this out.

[2019-01-04 02:21] thiennn commented on #6215
Thank @pranavkm Option 1 will prevent the ability to add plugins at run-time. Deleting the deps file seems the suitable workaround for us at this moment.

[2019-01-04 02:39] gulbanana commented on #6182
what’s the supported combination, writing components themselves in netstandard2.0 and a backend that hosts them in netcoreapp3.0?

[2019-01-04 02:44] gulbanana commented on #6356
i’ve written a blazor app in vscode on a mac and the experience wasn’t too bad - the biggest pain point is that without the tooling understanding how components cshtml should work it gets indentation wrong a lot

features like refactoring are missing, but this isn’t as big an issue in practice because you don’t typically refer to the component types defined by .cshtml from .cs files, or vice versa

[2019-01-04 02:57] gulbanana commented on #6361
also, could we move them (by convention) to before instead of after the html? :)

pure bikeshed, but i’ve been writing everything that way because it feels like the C# bits are the lower layer - you write those and then you reference them from the markup. it would also be more familiar to people coming from React because it’s akin to a render function which returns JSX.

[2019-01-04 03:19] grahamehorner commented on #5472
I have been looking into the authorisation and have a working example for server-side blazor and client-side blazor; the sample uses the users claims token returned from the approved/configured oauth service(s) (Microsoft, Facebook, Twitter, etc) this token is held in a client-side cookie and is signed to prevent unauthorised modification, when blazor is required to perform an authorisation check,

[2019-01-04 03:45] zhiliangxu commented on #5972
Does in-process hosting model even work for ASP.Net Core using .Net 4.7.2?

[2019-01-04 04:17] rynowak opened #6373 "Debugging Support for Razor Components"
We need to do code generation work to make the generated code debuggable (proper alignment and line mappings).

We should add a test that verifies for each generated document that all of the code the user put in that shows up in the output has an associated line-mapping.

This item **does not** include web assembly debugging, that's it's own item.

[2019-01-04 04:18] rynowak opened #6374 "Add support for _Imports.razor"
**Design Notes:** https://github.com/aspnet/specs/blob/master/notes/ViewImports_in_the_components_world.md

Partially blocked by: #4057

- [x] Add support `_Imports.razor` and tests
- [x] Make `_ViewImports.cshtml` apply to views and `_Imports.razor` apply to components
- [x] Treat `_Imports.razor` as a distinct FileKind in SDK/Tooling
- [x] Limit `_ViewImports.cshtml` to directives that apply to

[2019-01-04 05:14] Edward-Zhou opened #6375 "CookieAuthenticationOptions.LoginPath return old value by IOptions<CookieAuthenticationOptions> cookieAuthenticationOptions"
### Describe the bug
I try to configure `CookieAuthentication` with `.AddCookie(o => o.LoginPath = new PathString("/Auth/Login"));`, and try to get LoginPath by `IOptions<CookieAuthenticationOptions> cookieAuthenticationOptions`, it returns old value `/Account/Login`

### To Reproduce
Steps to reproduce the behavior:
1. Use `Asp.Net Core 2.1`
2. `Startup.cs`
[code]
3. Retrive `LoginPath`
[code]

4

[2019-01-04 05:38] peterliUmich commented on #6180
Thank you, Eilon. Is there any workaround we could do to implement the remote sign-out for Facebook's auth? Could you share an example or a pointer?

[2019-01-04 06:33] ilmax commented on #6180
@peterliUmich you might have an home page that doesn't require authentication, to avoid the auth dance

[2019-01-04 07:33] rynowak opened #6376 "RefTagHelperDescriptorProvider should check for the presence of the `ElementRef` type"
The `RefTagHelperDescriptorProvider` successfully creates the ref tag helper even when there aren't any references to component types in the project. We should make this dependent on a reference to `ElementRef`.

[2019-01-04 07:53] MovGP0 commented on #6330
@blowdart yes, that's correct.

[2019-01-04 08:14] TanvirArjel commented on #6219
@natemcmaster NOw I am getting the following error from all Test MVC website projects in the solution.

[code]

Would you help me please about whats going here?

[2019-01-04 08:21] CoolGoose commented on #6181
@Eilon just to clarify for anybody else that might have this issue. If the cookie auth is on, and you also have JWT , it doesn't matter that JWT works, the cookie technically has precedence on the redirect . Am i reading this correct ?

[2019-01-04 08:34] gulbanana commented on #5592
I'm currently using a workaround - I have a custom version of blazor.server.js where the renderer gives up trying to apply the edit and just returns, rather than throwing an error which will break the websocket connection. this isn't suitable for production, since it still means that some component just doesn't update and you have to try the state change again, but it's ok for demos and prototypin

[2019-01-04 09:21] schneiderpat commented on #6328
I found the issue myself.
I have to allow anonymous requests.
`options.Authentication.AllowAnonymous = true;`

[2019-01-04 09:21] #6328 closed

[2019-01-04 09:39] Xarkam opened #6377 "Lost Identity api when updating to ASP.NET Core 2.1 to 2.2"
### Describe the bug
Today, I upgraded my projects to netcoreapp 2.1 to 2.2.
After that, my projects using `Microsoft.AspNetCore.Identity` give me an error:
`error CS0234: The name or namespace name 'Identity' does not exist in the 'Microsoft.AspNetCore' namespace (are you missing an assembly reference?)`

**note before reproduce :**
- if I add the Microsoft.AspNetCore.Identity nuget package in pr

[2019-01-04 09:53] Entroper commented on #5645
This workaround helped: https://github.com/mono/mono/issues/11848#issuecomment-449184834

The problem seems to be caused by a linking issue in Blazor.

[2019-01-04 10:02] martincostello commented on #4789
Again a process dump will be some time next week, but I've just found this in our event log that may help.

[code]

[2019-01-04 10:09] Abarbz opened #6379 "[ApiController] action parameter source inference for collection of complex objects"
[Documentation ](https://docs.microsoft.com/en-us/aspnet/core/web-api/index?view=aspnetcore-2.1#binding-source-parameter-inference) states that

I was thus expecting collections of complex custom type to be inferred [FromBody] which isn't the case.
Sending the exact same request to the following two endpoints produce different results:
[code]
As nothing is said about collection maybe my initial as

[2019-01-04 10:25] Rakiah opened #6380 "SignalR Multiple hub per connection problem"
Hello, i've been toying around SignalR for a few days and was worried about certain points:

Please, correct me if i'm wrong:
SignalR use a new WebSocket connection for each hub
Having multiple hub is therefore a battery killer for mobile applications (because it has to keep the socket alive, do ping/pong for each of them, etc..)

In my scenario we're running a microservices architecture that each

[2019-01-04 10:45] Rakiah commented on #6380
Well it sounds like templating hub doesn't even work at all:
[code]
```public class EventsHub<T> : Hub<IClientRPCEvents>, IServerRPCEvents<T> where T : IEntity```

```                routes.MapHub<EventsHub<Passport>>("/realtime/" + typeof(Passport).Name);```

[2019-01-04 10:51] RemiBou commented on #6356
for me the biggest problem was autocompletion au using directive generation in cshtml : the namespace on the last release (0.7) don't match the github repo so we have to go to a c#, type the class, let VSCode find the namespace and copy/paste it.

[2019-01-04 11:00] Kahbazi opened #6381 "Add name for EventId in logs"
Can we have log event name for logs in all the projects? Lately it has been added for MVC (https://github.com/aspnet/Mvc/issues/6818)

I can submit a PR if it's ok.

Here's a list of projects so we can see which one already has the event name and which one doesn't.

- [x] Microsoft.AspNetCore.DataProtection
- [x] Microsoft.AspNetCore.Hosting
- [x] Microsoft.AspNetCore.Identity
- [x] Microsoft.AspN

[2019-01-04 11:15] SteveSandersonMS commented on #5678
This is the same Mono issue that @DerekChasse linked to at https://github.com/mono/mono/issues/11848, so I'll close this as external.

[2019-01-04 11:15] #5678 closed

[2019-01-04 11:24] detachmode opened #6382 "[Blazor] detect key pressed in mouse events"
Is it possible to detect if the user holds down a key, while a mouse click event fired.
Typical scenario is, where a user holds down shift and I would like to do a different logic if he clicks on something.

[2019-01-04 12:04] mobi12 opened #6383 "How to solution this error?My code and web.config don't have any mistake"
HTTP Error 500.0 ON Windows IIS
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '...'
2. Run this code '....'
3. With these arguments '....'
4. See error

### Expected behavior
A clear and concise description of what you expected to happen.

### Screenshots
If applicable, add screensho

[2019-01-04 12:25] EssenRoc opened #6384 "[Feature,Identity] Add phone number login"
### Describe the solution you'd like
Sign in to your account with your phone number.
I think this is easy to implement.

microsoft.com:
![image](https://user-images.githubusercontent.com/12685126/50687710-5a083100-105d-11e9-9228-f645cd98f952.png)
google:
![image](https://user-images.githubusercontent.com/12685126/50688087-dbac8e80-105e-11e9-81eb-5a9e7f31edda.png)

[2019-01-04 13:01] pranavkm commented on #6294
Closing this since the question was answered. https://github.com/aspnet/AspNetCore/issues/4947 tracks adding support for the feature.

[2019-01-04 13:01] #6294 closed

[2019-01-04 13:30] cyberjaws opened #6385 "Blazor Index Out of Range Exception"
### Describe the bug
Exception thrown: 'System.IndexOutOfRangeException' in System.Private.CoreLib.dll
System.IndexOutOfRangeException: Index was outside the bounds of the array.
   at System.Collections.Generic.Dictionary`2.TryInsert(TKey key, TValue value, InsertionBehavior behavior)

I have a periodic task that runs at 1Hz and components that get their data and update their state call StateHasC

[2019-01-04 13:34] cyberjaws commented on #6052
I would concur that this could be closed as a duplicate. Thanks @Andrzej-W !

[2019-01-04 13:37] #5741 closed

[2019-01-04 13:42] NinjaSciurus commented on #5673
After some digging, this has some history going back to an MSBuild / Mono Linker problem documented at [their git space](https://github.com/mono/linker/issues/379). There doesn't seem to be a solution yet, so we're stuck at disabling the linker.

[2019-01-04 14:18] blowdart commented on #6384
"Easy" is relative. It would mean changing a lot of assumptions in identity for a feature that isn't commonly asked for and would support a login method that can't be easily verified, so no, this isn't something we'd consider at this time.

[2019-01-04 14:18] #6384 closed

[2019-01-04 14:20] blowdart commented on #6375
@Tratcher ?

[2019-01-04 14:22] topres commented on #4410
Just to add a note to this @mkArtakMSFT

The same issue occurs when using local functions or Func<T> in the controller action. Would be nice if the analyzer check was recursive in the controller action path.

[2019-01-04 14:22] blowdart commented on #6383
Thank you for filing this issue. In order for us to investigate this issue, could you please provide us with a minimalist repro project that illustrates the problem?

[2019-01-04 15:18] springy76 commented on #5521
Where can I read (in the docs) about `bind-x-y` using 2 hyphens and what it actually does?

https://blazor.net/docs/components/index.html#data-binding only knows about `bind-{property}`.

[2019-01-04 15:20] A51UK opened #6387 "Having asp.net razor for service side and Blazor on client side on the same views."
The idea is that you could use asp.net razor on service side when making the view but use Blazor to do any change on the clients side, like how with use asp.net razor with JavaScript now. The reason for this is to allow the page to be sent with some data on load and then use Blazor for any update or change after the page been sent.

A example of this would be on a shopping site where the first 10

[2019-01-04 16:04] wanton7 commented on #6361
@gulbanana `also, could we move them (by convention) to before instead of after the html?` I don't get this sentence?
Do you mean you would want functions/code block to be moved before HTML in dotnet/visual studio templates? Or do you think you can't move functions/code block before HTML? Because if it's that then just move your functions/code block before HTML, it works just fine.

[2019-01-04 16:14] farhadibehnam commented on #6334
I think I found a wrong solution for that.as you see these code I added a function that name is removeElements everytime user want to be online I remove previous users of HTML and make it again.but previous

the problem remains I mean fetching from a database with every user want to be online.

[code]

[code]

[2019-01-04 16:34] pranavkm commented on #6379
@Abarbz this was an unfortunate bug in our 2.1 release that has since been fixed in 2.2. To sum it up, in 2.1, in the absence of a `[From*]` attribute, collection type parameters are inferred to be bound from query. https://github.com/aspnet/Mvc/issues/8536 has more details.

Upgrading to 2.2 would be the recommended fix. If upgrading isn't an option, using `[FromBody]` for collection parameters s

[2019-01-04 16:36] BrennanConroy commented on #6334
Is there still an issue? Looks like you're close to a solution you want.

[2019-01-04 16:36] #6379 closed

[2019-01-04 16:38] Tratcher commented on #6375
There can be more than one instance so you need to select one by name. Try this:
[code]

[2019-01-04 16:40] pranavkm commented on #6215
Closing since the question has been answered.

[2019-01-04 16:40] #6215 closed

[2019-01-04 16:43] benaadams opened #6389 "[CI] Failure Unable to find precompiled view file (Microsoft.AspNetCore.Identity)"
Looks so close to clean CI...
[code]

[2019-01-04 16:47] BrennanConroy commented on #6380
What does `IClientRPCEvents` look like? From the logs it looks like you passed 13 arguments from the client but the method it's trying to call takes 0 arguments.

[2019-01-04 16:49] BrennanConroy commented on #6380
Also, we don't support a single connection for multiple hubs, it's 1 to 1. See https://github.com/aspnet/SignalR/issues/2531

It is possible to create a system that uses a single hub and dispatches to different handlers based on something like a query string for each of your different `IEntity` types.

[2019-01-04 16:51] JonET commented on #2193
yeah, that doesn't look sketchy at all

[2019-01-04 16:59] BrennanConroy commented on #6120
I made your demo project work with hosting in IIS, didn't try with IIS Express, but the docs I linked also talk about IIS Express.

[2019-01-04 17:04] Xarkam commented on #6377
I received an answer on https://stackoverflow.com/questions/54039311/lost-identity-api-when-updating-to-asp-net-core-2-1-to-2-2?noredirect=1#comment94915662_54039311

[2019-01-04 17:15] Eilon commented on #6180
Indeed, what @ilmax suggests is a common practice. Another common practice is to have a "good bye" page that is `[AllowAnonymous]` and you're sent there after logging out. There might be a link there to go back to the home page to log in again, contact support, etc.

[2019-01-04 17:35] natemcmaster commented on #2193
Thanks @JonET. I've flagged that comment as spam.

[2019-01-04 17:35] danroth27 commented on #5487
Depends on #4065

[2019-01-04 17:39] jkotalik commented on #5972
Hey @joshmouch , sorry for not getting to this sooner (holiday season).

The new in-process mode does not support .Net Framework 4.7.2. It only runs on .NET Core.

In-process doesn't use Kestrel or HTTP.sys; it uses it's own custom web server. Calling UseIIS() will add its own IServer if running in-process with IIS.

Yes, Kestrel is the only server compatible with IIS out of process. However, WebH

[2019-01-04 17:53] Eilon commented on #6389
cc @HaoK @pranavkm who are looking into this

[2019-01-04 17:54] #6383 closed

[2019-01-04 17:55] asteffes commented on #4483
Our QA process involves creating a VM with a dynamic IP for testing. There is no way for me to know the origin before pushing my code out to the QA server.

What other options are there to allow for any origin, or any kind of wildcard?

[2019-01-04 18:22] blowdart commented on #6381
Speaking for the Authentication, Authorization and DataProtection pieces I'd be happy to look at a PR for those

[2019-01-04 18:36] mikaelm12 commented on #6151
We have a label for the Blazor issues. Here is the query link
https://github.com/aspnet/AspNetCore/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Afeature-blazor+

Does this contain the issues you were thinking of @A51UK ?

[2019-01-04 18:36] #5101 closed

[2019-01-04 18:38] pranavkm commented on #6389
@natemcmaster has a PR for 2.2 - https://github.com/aspnet/AspNetCore/pull/6369. Perhaps we need to merge that in to master.

[2019-01-04 18:47] rynowak opened #6392 "Experience for a Component class library"
We need to define what the experience is for a class library with components. This probably can't be as simple as a empty project file for the reasons outlined below.

We have to address the following concerns:
- component libraries should be netstandard2.0 for blazor (at least for now)
- our inference of Razor targeting (version, configuration, mvc support) is based on netcoreapp version
- we sho

[2019-01-04 18:50] A51UK commented on #6151
Yes thank you.

[2019-01-04 18:57] CoolGoose commented on #6181
Thanks, makes sense. Will try updating the documentation this week to explain it since it's a bit confusing initially since both the token works and the redirect 'happens' based on the http code

[2019-01-04 19:18] netleader commented on #6337
Thanks for your reply, those route model conventions are not "convinient" I hope you guys will provide a better solution in the future.

[2019-01-04 19:22] #6122 closed

[2019-01-04 19:42] JunTaoLuo opened #6393 "Re-enable kestrel HTTP/2 interop tests"
These tests were disabled for being too flaky but we should update them so we have coverage.

[2019-01-04 19:44] farhadibehnam commented on #6334
I mean was two previous comments from this question, not the previously closed question.

[2019-01-04 20:11] wanton7 commented on #6361
@rynowak I don't know much about VB but isn't `@Code` already used in Visual Basic code blocks for Razor? Does `@code` cause any conflicts wit h it?

[2019-01-04 20:14] sjlangleyCSGI opened #6395 "TestServer blocks on HostedService asyncronous background threads"
A .NET Core 2.1 TestServer instance which adds a HostedService (with an infinite loop) at startup blocks on that thread instead of running it asynchronously.

### To Reproduce
Steps to reproduce the behavior:
1. Using: ASP.NET Core '2.1', XUnit 2.4, and Microsoft.AspNetCore.Mvc.Testing 2.1.3
2. In service's Startup.cs:
    In ConfigureServices(IServiceCollection services):
    services.AddHostedSe

[2019-01-04 20:17] Tratcher opened #6397 "Fully buffer XML, JSON, and Razor request and ViewComponentResultExecutor response bodies"
### Is your feature request related to a problem? Please describe.
Sync IO is a frequent source of thread pool starvation. As such https://github.com/aspnet/AspNetCore/pull/5120 bans sync IO operations for each server by default. Unfortunately the MVC XML and JSON serializers and deserializers rely on sync IO, as does the Razor view engine.

### Describe the solution you'd like
Fully buffer the re

[2019-01-04 20:18] krispenner commented on #4396
The work-around above has two issues still. If the action has both POST and GET, you will not have the Consumes attribute applied. Secondly, it does not consider other non-content methods such as DELETE which still fail. Below is a modified version of the convention above to handle any non-content based methods. However, due to the first issue regarding the work-around I raised and the fact this w

[2019-01-04 20:23] guneysus commented on #6167
Hi @sebastienros.

I did not remember `OutOfMemoryException` exception in production but in test environment yes, there was `OutOfMemoryException`.

It did not stop eating all available RAM on the server, and page faults starts to happen.

Sure, where can I upload the memory dump file, which takes about 50-60MB in zip but takes ~16GB if extracted.

[2019-01-04 20:36] sebastienros commented on #6167
Please send me an email at sebastien.ros at microsoft.com and I will share a onedrive folder with you.

[2019-01-04 20:38] krispenner commented on #4396
I am now thinking that maybe the HTTP method check is irrelevant, we want this to work for POST actions which have no body parameter. So the only time we need Consumes on the action is when we have a FromBody or FromForm parameter, would that not be a correct assumption? Here is the code:

[code]

[2019-01-04 20:52] sandrakim90 commented on #6323
Fear of the unknown I guess. Have been using Kestrel on other projects with success so don't want to introduce an unknown element. Just as an example, after your post, I spent 5 hours trying to replace Kestrel with HTTP.sys because kept getting access denied error despite having read the entire discussion on it. Kestrel and HTTP.sys treat permission for wildcard URLs differently. Learning and deal

[2019-01-04 21:00] slang25 opened #6399 "Remove Microsoft.AspNetCore.Mvc.Core dependency from Microsoft.AspNetCore.Mvc.Testing"
Currently `Microsoft.AspNetCore.Mvc.Testing` doesn't use anything from the `Microsoft.AspNetCore.Mvc` namespace, so I was surprised to see that it brought in a dependency on `Microsoft.AspNetCore.Mvc.Core`.

It does however depend on `Microsoft.Extensions.DependencyModel`, so I propose it be updated to reflect that. It also seems unnecessary for this package to have `Mvc` in the name, however that

[2019-01-04 21:16] netbitshift opened #6402 "Blazor project templates hosted and server-side, why two projects created?"
There are 3 different project templates.
- Blazor
- Blazor (ASP.NET Core hosted)
- Blazor (Server-side in ASP.NET Core)

My question is in regards to the last 2.

When you use one of those projects you get:
(Server-side in ASP.NET Core), which will look something like this in VS 2017
![image](https://user-images.githubusercontent.com/17503279/50710551-eb14e300-1030-11e9-81dd-9c4ea8bfb0df.png)

Wit

[2019-01-04 21:32] Tratcher commented on #6323
@sandrakim90 Http.Sys has several features that would be either very expensive or impractical to replicate for Kestrel. Windows auth is expensive and dangerous to re-implement. It may happen eventually but for now you're better off using Http.Sys. The other common feature is port sharing which is impractical to replicate with kestrel's current architecture.

[2019-01-04 21:33] netbitshift commented on #6402
Components and MVC Views?  In the case of the "Server-side" template, isn't that already the case - the "pages" get converted at build, to views and components, correct?

Also, when you say VS 16 - you're referring to Visual Studio 2019?

[2019-01-04 21:44] rynowak commented on #6402
All of the Razor files in blazor-hosted.Client will be compiled as Components
All of the Razor files (currently you have none) in blazor-hosted.Server will compiled as MVC Views or Pages

We don't currently provide a project template for a *self hosted* Blazor Server Side application, but there's no technical reason why this couldn't work. You would need basically combine the two projects - keep `

[2019-01-04 22:09] rynowak commented on #4585
This was fixxxed

[2019-01-04 22:09] #4585 closed

[2019-01-04 22:12] #6402 closed

[2019-01-04 22:14] hellocontrol-bng commented on #5252
+1 - this would solve a big problem for us.

[2019-01-04 22:35] sandrakim90 commented on #6323
Thank you for clarification. Feel free to close incident.

[2019-01-04 22:53] dallancarr commented on #6395
Possibly by design. Return the Task or Execute and return `Task.CompletedTask`

[2019-01-04 23:21] NTaylorMullen opened #6408 "Razor directive completions don't always work in d16.0stg"
### Describe the bug
With the new completion APIs being async and significant changes to our parser we now more-often than not hit a race condition that results in 0 directive completions flowing through the system.

### To Reproduce
Steps to reproduce the behavior:
1. Type `@pa` quickly in a Razor document

### Expected behavior
You get the list of Razor directives.

[2019-01-04 23:59] Andrzej-W commented on #6387
Hopefully this problem will be resolved here #5464

[2019-01-05 00:14] blogcraft commented on #5431
The problem is that March/April 2019 will be the [release](https://angular.io/guide/releases#release-schedule) of Angular 8.

It seems you are always 1 version behind.

[2019-01-05 00:49] KirillOsenkov opened #6409 "Razor BackgroundParser thread is not marked as background"
We've just noticed that when Razor background process runs MonoDevelop process doesn't die after you close the Main Window.

It turns out the background parser doesn't mark its thread as Background, so the runtime doesn't terminate the process until that thread is done.

https://github.com/aspnet/AspNetCore-Tooling/blob/56a7ce9762d9d181048e87620e120d491a48f8d9/src/Razor/src/Microsoft.VisualStudio.

[2019-01-05 02:32] xiaoxin01 commented on #6159
@blowdart Thanks for your response.
I only apply my web in our intranet, so not need https.

[2019-01-05 02:32] #6159 closed

[2019-01-05 03:04] arivera12 commented on #5557
I am stuck with this problem as well. Its kind of funny how this is working. Consider the next code and how it behaves where i is an index:

`onclick="@OnClick(i)"`

In this approach I get the correct index of the record but **all records OnClick event gets fired**.

`onclick="@(() => OnClick(i))"`

In this approach only one event gets fired but the **index is wrongs, it turns to be the length of

[2019-01-05 05:15] ajithkumarrai commented on #4658
I implemented as mentioned above, but while validating webapi endpoint (https://localhost:44383/api/Values) with token i am receiving 401 error.

PFA it is related sample
[OpenIDdictSample.zip](https://github.com/aspnet/AspNetCore/files/2729195/OpenIDdictSample.zip)

Could you please help me on this

[2019-01-05 08:56] #6375 closed

[2019-01-05 09:07] Edward-Zhou commented on #6120
How to make my project work with IIS Express?

[2019-01-05 09:08] gulbanana commented on #6361
yeah, i was thinking about templates and docs - i already handwrite stuff that way, with `[Parameter]`s and then the markup that uses them

[2019-01-05 09:09] gulbanana commented on #6361
obviously it's *incredibly* unimportant where they go but this seems like the right time to make unimportant aesthetic decisions!

[2019-01-05 09:47] wanton7 commented on #6361
@gulbanana This is not a community forum so you should create another issue for that and not hijack this unrelated issue.

[2019-01-05 09:52] gulbanana commented on #6361
it's literally the issue for reviewing the design of the directive

[2019-01-05 09:57] martincostello commented on #4789
I'm starting to wonder if maybe this crash coupled with #6332 are hinting at a stack overflow somewhere that's just manifesting in different ways?

[2019-01-05 10:00] wanton7 commented on #6361
@gulbanana no it's not. What you are describing already works. Your issue is about default templates Microsoft provides.

[2019-01-05 11:21] omuleanu opened #6410 "antiforgery bad request and hidden 404 result problem"
I recently faced a problem in asp.net core 2.2 (latest version atm)

I'll describe the scenario that I was able to isolate and reproduce consistently.
1. In Startup.cs have this in `ConfigureServices`:
[code]
and this in the `Configure` method:
[code]
2. Now you need to create the `ErrorController` with `HttpError` action and when the statusCode is 404 you need to return a **View** which will **us

[2019-01-05 11:26] dmorrison42 opened #6411 "[Blazor] Large number of elements triggers error"
### Problem

I was playing with some of the upcoming server-side Blazor features and ran into an issue.

When creating a table with many elements (around 400), an error occurs, and the number of elements is capped.

(The following error is shown on the console)

[code]

(Tested on dotnet 2.1.403)

### To Reproduce

Download and run https://github.com/dmorrison42/BlazorLargeNumberOfElements

(Detai

[2019-01-05 11:48] omuleanu commented on #2882
@KoalaBear84 think I've reproduced something similar to the issue you're describing
https://github.com/aspnet/AspNetCore/issues/6410

[2019-01-05 11:52] omuleanu commented on #2882
@wessleym do your projects have `@Html.AntiForgeryToken()` in `_Layout.cshtml` ? do 404 results return a view that uses `_Layout.cshtml`,  or just returns a view that has `@Html.AntiForgeryToken()`

[2019-01-05 12:49] YurasNazar opened #6412 ""No IUserTokenProvider is registered" using ASP.Net Core 2.1"
So I got the exception when use GenerateEmailConfirmationTokenAsync(user.Id) method. However , in startup class in ConfigureServices method I call AddDefaultTokenProvider() extensions method when service.AddIdentity..... uses.

Using this version of ASP.NET Core 2.1
Here I got the exception
`var emailVerificationCode = await
 unitOfWork.UserManager.GenerateEmailConfirmationTokenAsync(user.Id);`

I

[2019-01-05 12:54] #6412 closed

[2019-01-05 13:11] YurasNazar opened #6413 ""No IUserTokenProvider is registered" ASP.Net Core 2.1"
### Describe the bug
So I got the exception when call GenerateEmailConfirmationTokenAsync(user.Id) method. However , in startup class in ConfigureServices method I call AddDefaultTokenProvider() extensions method when service.AddIdentity..... uses.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.1
2. Run this code
[code]
3. In startup I provide:
[code]
4.

[2019-01-05 14:11] Andrzej-W commented on #6411
I have made a few simple modifications in your code (see comments below).
New line above HTML table to display current table size:
[code]
[code]
I have Blazor 0.7, .NET Core SDK 2.1.502, Win 10 1709, Core i7 4,2GHz, 32GB RAM

**Firefox 64.0 x64**
Works perfectly with table size ~1500 elements, then it slowdowns, but I was able to generate 5000 elements without errors. At this time Firefox process

[2019-01-05 14:17] enetstudio commented on #6151
@mikaelm12: Does this contain the issues you were thinking of @A51UK ?

No, it does NOT... Many Issues cannot any longer be accessed. I've dozens of bookmarks to these important issues, though closed, are of immense importance to me, and yet are not available. I've trusted Github, but not any longer. And from now on I store important issues and samples on my computer.

[2019-01-05 14:26] martincostello opened #6415 "IIS in-process hosting incorrectly throws ConnectionResetException for HTTP POST"
### Describe the bug

An ASP.NET Core 2.2.0 application using IIS in-process hosting will intermittently throw `ConnectionResetException` while reading the request body of an HTTP POST request, causing the request to fail, if the request does not provide an `Content-Length` HTTP header.

Additionally, if the `UseStatusCodePages()` exception handler is used, the exception handler fails with an `Arg

[2019-01-05 15:07] Andrzej-W commented on #5557
@arivera12

I don't see your code but maybe you have problem like this: https://github.com/aspnet/Blazor/issues/1402

[2019-01-05 15:08] arivera12 commented on #5557
I have do a workaround until this is fixed.

- Create a prop like this on the target element and pass the index to it.

`data-index="@i" onclick="@(async (e) => await OnClick(e))" `

- Create a windows helper script like this and add it to the index.html.

[code]

- Then inside  OnClick event

[code]

[2019-01-05 15:55] sbuchok commented on #5504
I created a fiddle that shows I believe the same issue:

https://blazorfiddle.com/s/861k07nk

If you change the value in the calendar, the value is updated in the component, but not in the parent.
If you then change the value in the textbox, the value for the calendar is changed to what was originally bound to it.

I hope this helps.

[2019-01-05 15:59] Cyrill1234 commented on #4389
[works.zip](https://github.com/aspnet/AspNetCore/files/2729627/works.zip)
[does not work.zip](https://github.com/aspnet/AspNetCore/files/2729634/does.not.work.zip)

I have the same problem. It works with V2.1 and it does not work with V2.2.
Here is a example.

[2019-01-05 16:40] jacobslusser opened #6417 "I want snake_case in MVC"
By default, ASP.NET Core MVC will serialize everything as camelCase. I'm not just talking about JSON either... I'm talking about EVERYTHING: controller names, route data, enumerations, query string params, etc....

I would like a simple way to change the casing strategy of the whole application from camelCase to snake_case.

I've tried to hook into the many extension points for doing this, but oft

[2019-01-05 16:44] peterliUmich commented on #6180
Thank you for suggestions, @ilmax, and @Eilon. I tried your approach. The problem is that on the allow anonymous homepage when users click log in, they log in immediately. Ideally, they should see the dialog to add username and password first, instead of logging in automatically.
Apart from adding [AllowAnonymous] on the home index controller, do I need anything else?

[2019-01-05 16:59] kspearrin commented on #6152
@Eilon The same problem occurs when running this as a console app built using the `microsoft/dotnet:2.1-aspnetcore-runtime` image. Example:

Console app

[code]

Dockerfile

[code]

Build and run

[code]

Run output

[code]

[2019-01-05 18:16] esteveblanch commented on #6129
After further investigation, I see that the problem was not in the UserManager.
The problem was in my code and with the caché configurations.

Sorry for the inconvenience

[2019-01-05 18:16] #6129 closed

[2019-01-05 18:35] patricka2 opened #6419 "Duplicate @using in ViewImports"
### Describe the bug
Code generator make duplicate @using Microsoft.AspNetCore.Identity in Areas\Identity\Pages\_ViewImports.cshtml

### Screenshots
![a](https://user-images.githubusercontent.com/46094177/50727841-7e9fef80-10d5-11e9-9834-fe619e0b17d5.png)

### Additional context
Version 2.2.101

[2019-01-05 19:18] BennyM commented on #4892
This would be very welcome. The workaround mentioned [here](https://github.com/aspnet/AspNetCore/issues/4892#issuecomment-420437674)  is great, except when you have html files and what not that you would also need to copy over.

[2019-01-05 20:05] RemiBou opened #6421 "[Blazor] Register the Renderer in ServiceProvider"
### Is your feature request related to a problem? Please describe.
In Bazor the Renderer instanciation is hardcoded in the WebAssemblyHost class and it's not registered in IServiceProvider. It would be nice to register it so we could inject it into our components or service and access to the renderer state. In this case I want a way to find the component hierarchy without having to add a ref every

[2019-01-05 21:17] vitek-karas opened #6422 "Could not load file or assembly 'Microsoft.AspNetCore.CookiePolicy, Version=2.2.0.0"
Moving from dotnet/core-setup#4923 on behalf of @JulidaRocks

## Steps to reproduce
Upgraded from dotnet core 2.1 to 2.2. When running the integration tests, an exception is thrown when initializing TestServer with
`var testServer = new Microsoft.AspNetCore.TestHost.TestServer(webHostBuilder);`

## Expected  behavior
Should create the test server object

## Actual behavior
throws exception

## Env

[2019-01-05 21:35] GoFightNguyen opened #6423 "ASP.NET Core 2.1 custom logger lifetime"
I created an a custom implementation of ILogger and ILoggerProvider in order to function with my enterprise's logging system. The lifetime of my custom ILogger appears to be a singleton; I can make numerous requests and see the ILoggerProvider.CreateLogger is only invoked the first time.

Is it possible to configure my custom implementation to have a scoped lifetime?

[2019-01-05 22:48] davidfowl commented on #6423
Nope. Loggers are singletons. What are you trying to do?

[2019-01-06 01:05] GoFightNguyen commented on #6423
Without getting into the why, I wanted to experiment with an ILogger acting similar to a StringBuilder in that it builds an aggregation of messages as a single message. As such, it would need a scoped lifetime to prevent cross-request message interference.

In general, I agree with a singleton logger though. I'll consider alternative approaches still able to work within the logging pattern of ASP.

[2019-01-06 01:05] #6423 closed

[2019-01-06 02:15] pakrym commented on #6415
I'll take a look on Monday.

[2019-01-06 04:09] joehanna commented on #1961
Another Microsoft fail that leaves its loyal devs out in the cold. Happened with VB6 and Windows Mobile. The platforms were just dumped/abandoned/deprecated/put-out-to-pasture/choose-your-own-verb.  We have a massive web application that was built on Webforms and the @DamianEdwards framework: https://github.com/webformsmvp/webformsmvp (which creates a bridge to testability and separation of concer

[2019-01-06 04:30] arivera12 opened #6425 "I added some project reference and Blazor is not compiling now."
After adding some project referenced now blazor isn't compiling. I am using .net standard 2.0 and .net core 2.0 as the projects framework versions. Don't know what is wrong. This is the console output error:

[2019-01-06 08:34] jimerino opened #6426 "Include the area in ControllerBase.IUrlHelper Action and RouteUrl methods"
Hi!

I've found that you can't specify the area when you generate a Link inside a Controller with ControllerBase.IUrlHelper. The only way is "hacking" the host value in the Action method to include the area:

        // The route is POST: api/Identity/Register
        [AllowAnonymous]
        [HttpPost("Register")]
        public async Task<RegistrationRet> Register([FromBody] RegistrationParams r

[2019-01-06 08:59] mawess opened #6427 "In Blazor: setting select element value by code is not consistent"
Using Blazor I want to set the selected option in a select element from code in the same page. That doesnt work when writing out the options explicitly, but works when using a @foreach:

**This doesnt work:** (option 2 will not be selected when page is navigated to)

[code]
**This works:** (option 2 will be selected when page is navigated to)

[code]

To my limited knowledge both version should wo

[2019-01-06 13:29] 199621616 opened #6428 "To facilitate the development of applications based on Blazor, it is recommended to develop a .NetCore version of electron"
C#开发者有相当多一部分是开发企业应用的，Blazor可能为传统企业应用的互联网转型带来非常好的一条途径。然而，企业应用中非常重的一部分功能需要调用客户机的资源，而Electron则是个很好的解决方案。Asp.NetCore WebApi + Blazor + Electron，是理想的“三宝”组合。所以，非常希望微软开发一个的.NetCore版的Electron。

[2019-01-06 14:04] 199621616 opened #6429 "I hope the Razor component can build modal components that are referenced by events."
医生给病人下诊断时，需要方便的从四五万种疾病编码中找出当前患者所患疾病的编码，查找方式类似https://hisp.chinacloudsites.cn/fetchdata 这里看到的这个查找方式，并且需要返回疾病的编码与名称。如果这个组件能在事件中调用并用模态组件进行查找并返回结果，我认为是一种比较好的操作使用体验。所以，希望Razor组件可用来方便的构建一种能通过事件调用并且可接收返回值的模态组件。

[2019-01-06 14:15] arivera12 commented on #6425
Ok I fixed it. It seems that some libs aren't not supported yet. I started splitting my code into another shared lib with only the things that should be available on both side client/server and removed the things that only resides on the server side on another lib and started working again.

[2019-01-06 14:15] #6425 closed

[2019-01-06 14:39] Andrzej-W commented on #6427
I think it is duplicate of #5616

[2019-01-06 14:45] Andrzej-W commented on #5616
@danroth27 it looks that this bug is an unpleasant surprise for some people: #5625, #6427. Maybe it is worth fixing.

[2019-01-06 14:56] Lobosque opened #6431 "Identity Cannot connect to remote Authority URL - says url is invalid when it is clearly valid."
### Describe the bug
Identity Apparently does not recognize Authority URL - because I'm getting an error saying my url is not valid, but it is as seen below.

### To Reproduce
1. Create a new ASP.NET Core API project on visual studio against ASP.NET Core 2.2 SDK
2. Configure it to allow using JWT with a remote authority by adding this to `ConfigureServices`:
[code]

3. Add
[code]
To `Configure`.

[2019-01-06 14:57] davidfowl commented on #5946
I recently fixed this issue in the generic host https://github.com/aspnet/Extensions/pull/855 (since we’re going in that direction for 3.0). We can still look at fixing it here since there’s a leak anyways.

[2019-01-06 17:36] martincostello commented on #6415
Having a bit a dig into the code myself in Visual Studio with the repro, it looks like the code is reaching this point with a `hr` value of `-2147024858` (HResult `0x80070026`) and a `bytes` value of `0`.

https://github.com/aspnet/AspNetCore/blob/3477daf3c4f530dff80f197e0642cb39a26fb07b/src/Servers/IIS/IIS/src/Core/IO/AsyncIOOperation.cs#L108

I guess that points towards the unmanaged part of the

[2019-01-06 17:59] SteveStrongBAH commented on #4956
Right out of the box, I get this error on a unchanged aps.net core app  running docker .   what is going on?

[2019-01-06 18:00] SteveStrongBAH commented on #4956
![image](https://user-images.githubusercontent.com/19686538/50739802-0871ba80-11b3-11e9-97ec-37c1859871cc.png)

[2019-01-06 18:01] martincostello commented on #6415
Managed and native call stack is:

[code]

[2019-01-06 19:49] dylanvdmerwe commented on #4483
This is also a very sneaky change that was hit when upgrading to 2.2. Please advise on work around as we do not know all of the origins that will be connecting to the SignalR hub. Worked prior to 2.2.

[2019-01-06 19:55] JamesNK commented on #6415
This is an issue in the new routing HTTP method matcher when an errored request is re-executed. Thanks @martincostello for the PR fix - https://github.com/aspnet/AspNetCore/pull/6416

// @rynowak

[2019-01-06 20:02] BenHayat opened #6432 "SignalR Client for Fullter/Dart"
@Team;

Is there plan to have an official Flutter/Dart client for SignalR Core?
Thanks!

[2019-01-06 20:04] BrennanConroy commented on #6432
Dupe of https://github.com/aspnet/AspNetCore/issues/5310

[2019-01-06 20:09] #6432 closed

[2019-01-06 21:03] martincostello commented on #6415
I only stumbled across the duplicate key exception while trying to write the repro for the connection disconnected exception, but that's useful to know. 👍

[2019-01-06 21:10] dominikfoldi commented on #5271
It would be great to have documentation on how to enable SSR. We are (and I am sure lots of other people) stuck with it :S

[2019-01-07 00:43] davidfowl commented on #4789
That sounds likely. The stack size is a lot smaller under IIS (in proc). It’s soethifn we’re trying to address.

[2019-01-07 03:19] siberianguy opened #6434 "Error parsing handshake response during reconnect"
I've implemented Web Socket reconnection and it works fine for a while (i. e. if I disable wi-fi for 5 minutes or hibernate my laptop) but if I leave my mac book for an hour or so (it goes into sleeping mode I guess), SignalR doesn't recover: it manages to connect but then gets a handshake error and then this cycle repeats again and again.

I reproduced this behaviour on Chrome on Mac and my colle

[2019-01-07 03:20] zirain opened #6435 "AcceptLanguageHeaderRequestCultureProvider returned the following unsupported cultures 'zh-CN, zh'."
### Describe the bug
Open any url with chrome got warn message

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.1'
2.Open any url with Chorme 71+, insepect http request
![image](https://user-images.githubusercontent.com/4354057/50747203-b17ceb80-126d-11e9-8848-90a9f34a046b.png)
4. get error as follow
Logger name: Microsoft.AspNetCore.Localization.RequestL

[2019-01-07 04:21] TheFanatr commented on #6428
I agree with this (if Google translate isn't lying)

[2019-01-07 05:34] BrennanConroy commented on #6434
Could you explain this:

Also, are there any server logs when you try to reconnect?

[2019-01-07 05:53] ravi-ku commented on #5846
Strange!!! most of the websites are migrating their registration page with mobile number with OTP login.

The same question i asked, can we have registration screen with mobile number (without email) using ASP.NET Identity?

[2019-01-07 06:50] arshadwhoami commented on #5167
Hi ,Is there any sample for msal authentication  through react  as frontend and asp.net core as backend in which tokens has to be passed for calling web api's

[2019-01-07 07:00] siberianguy commented on #6434
Currently not. Should I enable server logging for SignalR?

[2019-01-07 07:44] ncthbrt commented on #4387
It's instant if you do it the other way around (use bintray jcenter to publish to maven central)

[2019-01-07 07:44] StefanKoenigMUC commented on #4389
oh, sorry i have not seen your reply :-( - is that test still necessary?

[2019-01-07 08:19] JiahongJin1 opened #6436 "Failed to run "web.exe""
### To Reproduce
1.	Run `dotnet new web`.
2.	Run `dotnet publish -r win-x64 --self-contained=false`.
3.	If testing on Windows with a global .NET Core installation, run the `web.exe` executable in the publish directory.

### Expected behavior
"Hello World!" should be printed.

### Actual behavior
It shows error.

![web](https://user-images.githubusercontent.com/46206739/50756342-d76ab600-1296-11e9-

[2019-01-07 08:59] Abarbz commented on #6379
Thanks @pranavkm for the update. Don't you think the documentation should also explain the expected behavior of collection?

[2019-01-07 11:38] add1ct3dd commented on #5139
Exactly the same issue for me, going back to v8.12.0 also fixes it for me.

[2019-01-07 11:53] wanton7 opened #6438 "Enforce English language for bug reports and feature requests in this repository"
### Is your feature request related to a problem? Please describe.
There are now Chinese language bug reports/feature requests https://github.com/aspnet/AspNetCore/issues/6429 and https://github.com/aspnet/AspNetCore/issues/6428

### Describe the solution you'd like
Enforce that feature requests and bug reports needs to be written in English and if they are written in some other language they are

[2019-01-07 12:05] NCC1701M opened #6439 "DateTime differs for GET and POST"
### Describe the bug
The formatters for a controllers POST and GET requests handles the DateTime formatting different.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.x'
2. Setup an Asp.Net Core App and run this code
[code]
3. Inspect the `req.MyDate` variable and see the differences

### Expected behavior
The formatted date should always be the same. Ei

[2019-01-07 12:45] gingters commented on #6076
@natemcmaster I went through all the steps for installing the prerequisites, and tried to follow the building steps, but also for me it errors out telling me it can't find the correct msbuild version.

[code]

[2019-01-07 13:02] omuleanu commented on #2882
@charlierlee it was the same for me, because `UseStatusCodePagesWithRedirects` was handling the 404 which was returning a view with `_Layout.cshtml` that contained  `@Html.AntiForgeryToken()`, the view wasn't actually rendered in the browser, but it was enough to invalidate the previous token

[2019-01-07 13:05] RemiBou commented on #6361
I agree "functions" is not a very good name. I don't know about "code" as html/js in the template is code as well and this is one of the most generic term out there : a google search for "blazor code error" would give results about vscode, or any code related to blazor. Maybe something that means that it's the definition of the class or the component behavior ("behavior" would be nice or "logic").

[2019-01-07 13:06] 199621616 commented on #6438
Electron热了，Flutter来了。中文也来了。先生，你到需要学习中文的时候了。

[2019-01-07 13:53] SteveSandersonMS commented on #5710
We renamed it to `WebAssemblyUriHelper`. You're correct that there are a couple of comments that didn't get updated. If you're keen, you could make a PR to fix this.

[2019-01-07 13:53] #5710 closed

[2019-01-07 13:55] srburton opened #6440 "MIME custom BLAZOR"
### Describe the bug
I can't enconrtar in the correct place for "MIME types".

### To Reproduce
Steps to reproduce the behavior:
1. dotnet 2.1
2. blazor

### Screenshots
**style.css**
![capturar](https://user-images.githubusercontent.com/15394508/50771783-cc059380-1272-11e9-8e84-42b7994226fc.PNG)

**browser**

![capturar](https://user-images.githubusercontent.com/15394508/50771905-20a90e80-1273-11

[2019-01-07 14:01] SteveSandersonMS commented on #5619
Check how Blazor's WebAssembly HTTP client deals with returning a large byte array from JS to C#.

Fundamentally you do have to copy the data at least once, because a JavaScript object isn't a .NET object and can't participate in the GC system directly. So for HTTP, the JS code asks the .NET code to allocate a `byte[]` of the desired size, then it copies the data into the .NET memory heap at that

[2019-01-07 14:01] #5619 closed

[2019-01-07 14:13] SteveSandersonMS commented on #5639
Note: After resolving this, we need to verify that it implicitly fixes #5592. If it doesn't, more work is needed.

[2019-01-07 14:23] martincostello commented on #6415
@JamesNK Unrelated to the duplicate key bug, we've just had to disable endpoint routing in an application using status code pages as it was returning 405s to a client application instead of 404s.

Is there something specific required as part of the migration from 2.1 to 2.2 we might have missed that's causing that, or is that a _different_ bug?

Originally we'd disabled endpoint routing because of

[2019-01-07 14:43] rafsanulhasan opened #6441 "JSON standard for REST API and HATEOAS"
### Is your feature request related to a problem? Please describe.
With swagger open API definition, I'm try to standardize the JSON schema like defined in JSON-SCHEMA.org or ion specification.

ASP.NET core does not support this. I've to do it myself

I'm trying to have a self documented API using ASP.NET MVC but can not.

### Describe the solution you'd like
I'd like to have a pure schema specif

[2019-01-07 15:14] sjlangleyCSGI commented on #6395
So why the difference in behavior with Kestrel?

[2019-01-07 15:14] Praveen-Rai commented on #4706
@Tratcher Now that we have .Net Core 3.0 preview 1 released, can you please re-look into this issue ?

[2019-01-07 15:21] westerncj commented on #5229
I'm running into this same issue using the new angular 6 template. Deleting the dist folder isn't fixing the issue for me. Are there any other work arounds?

[2019-01-07 15:44] jkotalik commented on #4789
Try to increase the stack size of w3wp by doing: `EDITBIN /STACK:SIZE_IN_BYTES w3wp.exe`.

[2019-01-07 15:49] SteveSandersonMS opened #6442 "Finalize Razor Components template for preview 2"
This is a multi-step process:

- [x] Eliminate the `Components.Server` dependency on `Mono.Cecil`/Json.NET
    * Move Mono WebAssembly debugging middleware into a new package, `Microsoft.AspNetCore.Blazor.Server`. Done in #6519
    * Use that new debugging middleware in the Blazor templates (but not the Razor Component template)
- [x] Eliminate the `Components.Build` dependency on `Microsoft.AspNe

[2019-01-07 15:50] jkotalik commented on #6436
Which 3.0 preview version did you install?

This issue should be filed in dotnet/core-setup: https://github.com/dotnet/core-setup/issues

[2019-01-07 16:09] Tratcher commented on #4706
This is on our backlog, we don't plan to investigate it for 3.0. It's marked as up-for-grabs as a likely candidate for community involvement.

[2019-01-07 16:15] #6334 closed

[2019-01-07 16:18] pakrym commented on #6415
Yes, `ConnectionResetException` is always caused by IIS signalling about premature request body end.

[2019-01-07 16:22] pakrym commented on #6415
There are some traces of the similar issue around (https://blogs.msdn.microsoft.com/napegadie_kones_msft_blog/2016/01/26/502-web-server-received-an-invalid-response-while-acting-as-a-gateway-or-proxy-server/) and it seems to be connected to trying to read request body multiple times.

[2019-01-07 16:24] BrennanConroy commented on #6434
That would be helpful.

The logs show that there is a 15 second gap between the websocket being connected and the handshake timing out. It would be nice to see if the server ever got the handshake request. Could you also capture the HAR trace?

[2019-01-07 16:24] johnkwaters commented on #5145
Any updates?

[2019-01-07 16:40] JipingWang opened #6444 ""blazor-dev" gallery not working"
### Describe the bug
Added "blazor-dev" gallery to VS, not working
  https://github.com/aspnet/AspNetCore/tree/master/src/Components#using-ci-builds-of-blazor
  https://dotnet.myget.org/F/blazor-dev/vsix/

Error in output Package Manager:
[blazor-dev-vsix] The V2 feed at 'https://dotnet.myget.org/F/blazor-dev/vsix/Search()?$filter=IsAbsoluteLatestVersion&searchTerm=''&targetFramework=''&includePre

[2019-01-07 16:41] BrennanConroy commented on #4389
@Cyrill1234 Your app doesn't work because CORS changed between 2.1 and 2.2, you can use `AllowAnyOrigin` with `AllowCredentials` see https://docs.microsoft.com/en-us/aspnet/core/migration/21-to-22?view=aspnetcore-2.2&tabs=visual-studio#update-cors-policy

@StefanKoenigMUC Yes that would be helpful, try it without hosting behind IIS. Also, is it possible for you to make a repro app?

[2019-01-07 16:43] BrennanConroy commented on #6120
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-2.2#visual-studio-settings-for-windows-and-anonymous-authentication

[2019-01-07 16:46] blowdart commented on #6431
@Tratcher is HTTPS required now?

[2019-01-07 16:57] natemcmaster commented on #6389
I believe this should have been resolved by #6369 for 2.2, merged to master in https://github.com/aspnet/AspNetCore/pull/6405. We can re-open if it is still happening.

[2019-01-07 16:57] #6389 closed

[2019-01-07 17:00] natemcmaster commented on #6076
@gingters can you share your Visual Studio configuration? Open the VS installer and click 'Export Configuration'. This will produce a JSON file.

![image](https://user-images.githubusercontent.com/2696087/50781594-9eaceb80-125a-11e9-94c1-47ac1249d60b.png)

[2019-01-07 17:16] pakrym commented on #6415
I can easily repro the error by starting the client, stopping it and then restarting again (which is semi-expected). But not by just running the client continuously
[code]

[2019-01-07 17:19] martincostello commented on #6415
Interesting - I was able to consistently repro it within 1-2 minutes as long as it wasn't buffered.

[2019-01-07 17:22] pakrym commented on #6415
It is still a bit strange that request is aborted only after client is restarted so I'll keep looking into this.

[2019-01-07 17:25] martincostello commented on #6415
I did notice when I could repro it that once it errored, restarting the client without touching the server would make the first request of the second execution fail immediately. Opening additional instances would _sometimes_ fail immediately, and other times would continue to happily make requests again.

Maybe some sort of shared state to do with connections or something is getting corrupted?

[2019-01-07 17:33] jkotalik commented on #5145
ANCMV2 should now be available on Azure App Services as of recently. Please go ahead and try!

[2019-01-07 17:34] Tratcher commented on #5160
That exact check already exists over here:
https://github.com/aspnet/AspNetCore/blob/9e0d354e1bc261163e098a294bd811e73bc2bb8f/src/Middleware/ResponseCompression/src/ResponseCompressionProvider.cs#L179

Your change shouldn't have any effect. Can you debug through WriteAsync -> OnWrite -> ShouldCompressResponse?

[2019-01-07 17:39] Eilon commented on #6152
And do you know if it happens in the regular, non-ASP.NET Core Docker container (just plain .NET Core)? Either way this bug seems like it's a better fit for https://github.com/dotnet/corefx because this seems more to do with networking/SMTP than with ASP.NET.

[2019-01-07 17:40] Tratcher commented on #4706
That would be almost the same work and is triaged with the same result. We'll review anything the community comes up with here but don't plan to investigate it ourselves right now.

[2019-01-07 17:40] mkArtakMSFT commented on #6444
Thanks for contacting us, @JipingWang.
What version of VS are you using? We can not reproduce the issue you're facing while using VS 2017.

[2019-01-07 17:41] mkArtakMSFT commented on #6444
It would be great if you could provide us with a stable repro, so we can investigate this further.

[2019-01-07 17:43] mkArtakMSFT commented on #6440
Thanks for responding here, @wanton7. We're closing this issue as it's actually external.

[2019-01-07 17:43] #6440 closed

[2019-01-07 17:43] Tratcher commented on #6180
Right. You've set your app up to let Facebook handle the username and password. You don't get any say in how how they do it.

If you'd rather have local usernames and passwords then start with the Individual Auth template.

[2019-01-07 17:45] mkArtakMSFT commented on #6399
Thanks for contacting us, @slang25.
@javiercn, can you please have a look at this? Thanks!

[2019-01-07 17:50] pakrym commented on #6415
I think it's much simpler, `ERROR_HANDLE_EOF` is a "successfull" error code notifying end of request body.

Other https.sys based servers seem to handle it as such (https://github.com/tjanczuk/httpsys/blob/master/src/httpsys.cc#L828)

[2019-01-07 17:51] jkotalik commented on #4789
I didn't see any other way through google searching. @pakrym IIRC there may be a reg key to edit the stack size.

My gut we could be hitting the max stack size due to calling stackalloc here: https://github.com/aspnet/AspNetCore/blob/master/src/Servers/IIS/IIS/src/Core/IO/AsyncWriteOperationBase.cs#L36.

This could lead to around 1KB on the stack per request. The stack size by default is 256/512KB

[2019-01-07 17:52] kspearrin commented on #6152
@Eilon I just tried this with dotnet core on Linux (Ubuntu, no docker) and the same issue occurs. So it would appear that is isn't really an issue with the Docker images. I will re-open the issue on corefx. Thanks.

[2019-01-07 17:52] #6152 closed

[2019-01-07 17:53] pranavkm commented on #6399
@natemcmaster might have a better idea, but for 3.0, it's likely that the package would have a `FrameworkReference` to `Microsoft.AspNetCore.App` rather than package reference. This might not make much sense once it's retargeted.

[2019-01-07 17:53] mkArtakMSFT commented on #6397
@rynowak, thoughts?
We've been avoiding buffering the responses and requests and that was the direction we had taken in communication with customers in the past. Should this change?

[2019-01-07 17:54] martincostello commented on #6415
Oh, so it's just as simple as a change to `if (hr != NativeMethods.HR_OK && hr != ERROR_HANDLE_EOF)` [here](https://github.com/aspnet/AspNetCore/blob/3477daf3c4f530dff80f197e0642cb39a26fb07b/src/Servers/IIS/IIS/src/Core/IO/AsyncIOOperation.cs#L105)?

[2019-01-07 17:55] johnkwaters commented on #5145
Appears to work thanks!

[2019-01-07 17:55] mtad2002 opened #6446 "post method not get called on razor pages after migrating to asp.net cor 2.2"
I'm facing this problem , after migrating my project from asp.net core 2.1 to asp.net core 2.2 , in one of my razor pages post methods not getting call and browser stuck in posting back form.

[2019-01-07 17:56] pakrym commented on #6415
Sorta, `AsyncContinuation.Complete` is shared between multiple operation kinds (Read/Write/Flush). And I would prefer handling `ERROR_HANDLE_EOF` only for reads.

[2019-01-07 17:56] javiercn commented on #6399
That's what I would expect.

[2019-01-07 17:56] davidfowl commented on #6397
Lets discuss this with @DamianEdwards and @Tratcher. We discussed making this configurable so that it would blow up if it went above some threshold by default and it could be configurable per request otherwise.

[2019-01-07 17:57] mkArtakMSFT commented on #6387
Thanks @Andrzej-W. We're closing this as a dupe.

[2019-01-07 17:57] #6387 closed

[2019-01-07 17:59] mkArtakMSFT commented on #6385
Thanks for contacting us, @cyberjaws.
@SteveSandersonMS can you please look into this? Thanks!

[2019-01-07 18:09] pranavkm commented on #6365
We got an insertion in to the build. However, the Component template depend on two packages that aren't part of the offline cache \ dotnet-core feed:

* Microsoft.AspNetCore.Blazor.Mono
* Microsoft.JSInterop

I guess the latter gets produced by some team, I'm going to figure out if we can get that inserted in to the dotnet-core feed and restored as part of offline cache. I'm not sure about the for

[2019-01-07 18:09] pranavkm commented on #6365
cc @SteveSandersonMS

[2019-01-07 18:12] FlorianGrimm commented on #3753
Currently I'm developing a ASP.NET Core application running on .NET Framework, because of the the included libraries. I'm using ASP.NET Core because of it's multi-auth - capabilities. I'm feeling fooled and dead locked.

[2019-01-07 18:13] pakrym commented on #6415
The only thing that keeps me suspicious is that I'm not able to find any code handling `ERROR_HANDLE_EOF` in System.Web referencesources.

[2019-01-07 18:14] Tratcher commented on #3753
What specifically? Microsoft.Owin provided similar auth functionality for ASP.NET 4.

[2019-01-07 18:18] kspearrin commented on #6152
For reference: https://github.com/dotnet/corefx/issues/34407

[2019-01-07 18:21] javiercn commented on #6399
This package contains all the MVC specific tweaks that are needed for unit tests to work properly, that's why MVC was on the name at the time. Many of those restrictions have gone away.

[2019-01-07 18:23] FlorianGrimm commented on #3753
It's a hybrid app one source code (.exe) running on on-premises and azure, currently using windows auth, aad, basic auth and anonymous.

[2019-01-07 18:31] danroth27 commented on #3753
@FlorianGrimm Which library dependencies prevent you from using .NET Core?

[2019-01-07 18:35] mikaelm12 commented on #4387
Will do. The fist time we checked Jcenter for one of our preview releases it had already been mirrored so we didn't know exactly how long it took. Now we have a much better idea.

[2019-01-07 18:37] FlorianGrimm commented on #3753
Microsoft.Office.Project.Schema, Microsoft.SqlServer.TransactSql.ScriptDom and Microsoft.SharePointOnline.CSOM.

[2019-01-07 18:40] BrianLytle opened #6447 "Dynamically Determine AAD B2C Policy to use"
I have an ASP.NET Core 2.1 web app. I have two AAD B2C Custom Policies set up (a default and one that will send one of my client's users to their SSO portal). I need to dynamically determine which AAD B2C Policy to call based on the calling URL. Before integrating this package into my application, I had this working by intercepting the OnRedirectToIdentityProvider OpenID event, interrogating the U

[2019-01-07 18:44] natemcmaster commented on #6399
Correct. See https://github.com/aspnet/AspNetCore/issues/4257

[2019-01-07 18:51] BrennanConroy commented on #5376
`IAsyncEnumerable` is now available. See https://github.com/dotnet/corefx/pull/33104

- We should replace our implementation of the interface at https://github.com/aspnet/AspNetCore/blob/6699fd056e4bbf491397067e01c191223a20f3b0/src/SignalR/src/Microsoft.AspNetCore.SignalR.Core/Internal/AsyncEnumeratorAdapters.cs#L72

- And we should create a new client method for `StreamAsync` which returns `IAsyn

[2019-01-07 18:54] pranavkm commented on #6399
Thanks for the issue report @slang25. Since refactoring the references is already being tracked, closing this issue as there's nothing more to do here.

[2019-01-07 18:54] #6399 closed

[2019-01-07 19:05] Arash-Sabet opened #6448 "OnConnectedAsync and OnDisconnectedAsync are not invoked when a client application attempts to establish signalR connection"
### Describe the bug
Create a signalR server application, derive a class from `Hub `class and override `OnConnectedAsync `and `OnDisconnectedAsync `in the derived class. Log some distinctive texts upon raising either of those events to ensure that you can track when they are raised. When a signalR client application like an angular application attempts to establish a connection, `OnConnectedAsync`

[2019-01-07 19:10] SteveSandersonMS commented on #6365
Microsoft.JSinterop is us too (github.com/dotnet/jsinterop).

If we want to drop the Blazor.Mono dependency we will need to do a bit more refactoring to make it optional.

[2019-01-07 19:12] Eilon commented on #6429
Bing translate:

Therefore, it is hoped that the razor component can be used to facilitate the construction of a modal component that can be called through events and can receive return values.

Google translate:

[2019-01-07 19:15] bradygaster commented on #6448
Have you seen this locally with a single server as well? Adding @BrennanConroy as well so we can help troubleshoot.

[2019-01-07 19:16] Eilon commented on #6438
Hi @wanton7 , we try to encourage everyone to open issues in the best way they can, and if that happens to be in a language other than English, we will do our best. We have folks on the team who know a wide variety of languages so along with machine translation we hope we can address the largest number of issues. Of course, English is the team's most common language, so that makes things easiest,

[2019-01-07 19:16] #6438 closed

[2019-01-07 19:16] martincostello commented on #4789
Unfortunately these process crashes mean that both the in and out-of-process hosting for 2.2.0 are too unstable for production usage for one of our web applications, so we'll have to revert to 2.1.x and await appropriate fix(es).

Once we've rolled-back, I'll look at seeing if the V1 hosting module for out-of-process shows the same problems for us or not. That should at least narrow things down be

[2019-01-07 19:17] Arash-Sabet commented on #6448
@bradygaster Yes, I have.

[2019-01-07 19:18] bradygaster commented on #6194
@bradygaster will validate this is in our docs and close this when it is, or if it is. :)

[2019-01-07 19:18] #6142 closed

[2019-01-07 19:21] glennc opened #6449 "Show hosting startup logs in production"
We need to have hosting startup logs be its own category that can be configured to be shown during in production. Now that we put them through the logging system they will not appear in production builds when we set the log level to warning. We want the templates to configure the hosting category to be Information presumably.

[2019-01-07 19:22] #5398 closed

[2019-01-07 19:22] #5394 closed

[2019-01-07 19:23] #5390 closed

[2019-01-07 19:24] bradygaster commented on #5385
@pranavkm can you take a peek at this? Thanks!

[2019-01-07 19:24] Tratcher commented on #6449
Note this applies to the templates after we move to generic host. https://github.com/aspnet/AspNetCore/pull/5706

We may have to react and edit the generic host's log category.

[2019-01-07 19:31] ajaybhargavb commented on #6183
After discussing with @NTaylorMullen and @rynowak, we decided to group void tags only if an end tag exists. Doing this will change the behavior of some tag helper cases which we are okay with changing (Like a start/end structure tag helper targeting void tag with with missing end tag will have it's children misplaced).

[2019-01-07 19:37] BrennanConroy commented on #6448
When this happens can the client send and receive messages still? It sounds like the connection might not actually be established, thus the two methods wont be invoked.

[2019-01-07 19:41] Arash-Sabet commented on #6448
@BrennanConroy No, they cannot as far as I remember.

[2019-01-07 19:42] CloudStu opened #6451 "WebApplicationFactoryContentRootAttribute unable to be found (in full .Net Framework)"
WebApplicationFactoryContentRootAttribute cannot be used in full .Net Framework applications due to flawed logic in WebApplicationFactory.cs, specifically the GetTestAssemblies method

https://github.com/aspnet/AspNetCore/blob/6699fd056e4bbf491397067e01c191223a20f3b0/src/Mvc/src/Microsoft.AspNetCore.Mvc.Testing/WebApplicationFactory.cs#L216-L219

The code assumes that FriendlyName will contain the

[2019-01-07 19:43] wanton7 commented on #6429
Going by this "great" translation, this issue is maybe about Blazor and modals? If it's about creating modals with Blazor then just use Bulma. It's CSS framework without any JavaScript. It integrates easily with any other framework. So you can use it to create modals with Blazor/Razor Components very easily, because it's just a class toggle. https://bulma.io/documentation/components/modal/

[2019-01-07 19:43] BrennanConroy commented on #6448
Can you take a look at your client and server logs to see if there is any errors?

[2019-01-07 19:45] JamesNK commented on #6381
I'll do Microsoft.AspNetCore.Routing

[2019-01-07 19:48] arivera12 opened #6452 "Blazor onclick event on dynamic li not working for desktop but works for mobile"
[code]

I tested other events like onmouseover and onmouseout and those events gets fired, I removed them from this sample for simplicity but I could never got the onclick fired.

[2019-01-07 19:48] Arash-Sabet commented on #6448
No errors raised in client and server. This issue happens silently.

[2019-01-07 19:50] BrennanConroy commented on #6448
Could you collect and share network traces?

[2019-01-07 19:57] Arash-Sabet commented on #6448
@BrennanConroy will keep your request in my radar. As soon as I get a chance to get the code undone and this issue raises again, I will share the network traces collected via Chrome.

[2019-01-07 20:03] NTaylorMullen commented on #6408
https://github.com/aspnet/AspNetCore-Tooling/commit/f1da2041db9a465536c0cab409dd36df07b37bfa

[2019-01-07 20:03] #6408 closed

[2019-01-07 20:04] Kahbazi commented on #6381
I'll take Microsoft.AspNetCore.Hosting.
There are some logs in this project outside `HostingLoggerExtensions` like this
https://github.com/aspnet/AspNetCore/blob/master/src/Hosting/Hosting/src/Internal/ApplicationLifetime.cs#L61
Should I move them to `HostingLoggerExtensions`?

[2019-01-07 20:52] slang25 commented on #6399
Thanks all for the information, that makes sense 👍

[2019-01-07 21:03] danroth27 commented on #5616
@Andrzej-W Thanks for the heads up!

[2019-01-07 21:12] Kahbazi commented on #6381
I'll take projects in Middleware.sln

[2019-01-07 21:33] Eilon commented on #6050
Closing because there are no plans to go back and fix this. No big issue move planned in the near future, fortunately!

[2019-01-07 21:33] #6050 closed

[2019-01-07 21:37] arivera12 commented on #6221
I was gonna open an issue regarding on this. The `UIEventArgs` doesn't provide anything about the position of the screen or client. In my case I am trying to check whether or not I have scrolled to the end of a list. I have done this via javascript the others days but if onscroll event received the `UIMouseEventArgs` instead of `UIEventArgs` maybe we could just do something like this:
[code]

[2019-01-07 21:53] muratg commented on #6210
I don't expect we'll do this. @davidfowl please re-open if you disagree.

[2019-01-07 21:53] #6210 closed

[2019-01-07 21:53] #6323 closed

[2019-01-07 21:57] bricelam opened #6460 "Move WebHostFactoryResolver to aspnet/Extensions"
EF Core depends on the `Internal.WebHostBuilderFactory.Sources` package. It needs to move to the [aspnet/Extensions](https://github.com/aspnet/Extensions) repo to avoid a circular dependency.

cc @ajcvickers

[2019-01-07 22:17] natemcmaster commented on #6460
Ah, the perennial EF <-> AspNetCore coupling issue arises again.

When @Tratcher and I talked about this sources package last year, our thinking was that moving this source code to Extensions would be a pain because it is used in AspNet Hosting. Also, it would be the only .Sources package produce from aspnet/Extensions which is not also used and tested in aspnet/Extensions, so it seemed strange to

[2019-01-07 22:19] Tratcher commented on #3973
When exposing the pipes directly from the servers we'll have to consider the semantics of PipeReader/Writer.Complete, with and without an Exception.

Today servers make Stream.Dispose no-op for request and response. The server controls the lifetime.

We'll also need to redesign some of the buffering components like the one used by the form reader.

[2019-01-07 22:21] Tratcher commented on #3967
We'll need to redesign the request buffering feature the form reader uses:
https://github.com/aspnet/AspNetCore/blob/f2e6e6ff334176540ef0b3291122e359c2106d1a/src/Http/Http/src/Features/FormFeature.cs#L139-L142

[2019-01-07 22:30] Tratcher commented on #6460
Actually, the resolver was never coupled to AspNetCore.Hosting, it was coupled the arbitrary layout choices of Program.cs in the templates.

[2019-01-07 22:31] natemcmaster commented on #6296
Closing in favor of https://github.com/dotnet/core-sdk/issues/247

[2019-01-07 22:31] #6296 closed

[2019-01-07 22:33] bricelam commented on #6460
This has all been working wonderfully throughout the 2.x release. Let's please not derail it in 3.x.

There are too many legitimate engineering issues with it being in AspNetCore to worry about the minor taste issues of it being in Extensions.

[2019-01-07 22:35] bricelam commented on #6460
+1 the choices were arbitrary, but this package is what turns that pattern into a contract for design-time tools like EF Core and ASP.NET Core test interception.

[2019-01-07 22:36] Tratcher commented on #6460
You can't run real tests from Extensions.

[2019-01-07 22:36] muratg commented on #5972
Closing as the docs work is tracked by @guardrex's bug above. Thanks!

[2019-01-07 22:36] #5972 closed

[2019-01-07 22:36] bricelam commented on #6460
That's fine. It has test coverage in both the EntityFrameworkCore and AspNetCore repos.

[2019-01-07 22:37] bricelam commented on #6460
Let's be pragmatic, not dogmatic.

[2019-01-07 22:38] arivera12 commented on #6221
I think onscroll isn't even working at all. I placed an scroll event on top of one page and started scrolling on it a never gets fired.

[2019-01-07 22:43] Tratcher commented on #6460
Since I have to re-write this for the new Extensions.Hosing based templates, I can move it to Extensions and write tests there for the Extensions scenario. We can leave the old tests in AspNetCore to cover the legacy scenarios (or use 2.x dependencies?)

[2019-01-07 22:51] 199621616 commented on #6428
大量的WinForm、WPF应用无法直接转型为互联网现代应用。难道不能考虑走这个路径：Asp.NetCore WebApi + Blazor + WinForm（WPF）？像mblataric所说的，“海量数据输入，与扫描仪，条形码阅读器，RFID扫描仪等设备的连接......浏览器永远不会成为这种情况的平台。“，而WebApi + Blazor + WinForm（WPF）则很容易做到这一点。让WinForm（WPF） ）直接托管Blazor！实现真正的C＃全栈开发。

[2019-01-07 22:55] arivera12 commented on #6221
I found one quick and dirty way to check whether to know if you are at the end of the page. I used onmousewheel event cause onscroll isn't working for me atm. This is my working solution.

[code]

[2019-01-07 23:10] arivera12 opened #6462 "Blazor onscroll event isn't working."
I wrapped one page inside a div and placed the onscroll event on it and never gets fired.

[2019-01-07 23:22] Eilon commented on #6419
@javiercn / @vijayrkn - is this in the Identity UI code or in Scaffolding?

[2019-01-07 23:31] vijayrkn commented on #6419
Looks like it is in the scaffolding template and this happens if the namespace of the user class is the same.

https://github.com/aspnet/Scaffolding/blob/master/src/VS.Web.CG.Mvc/Templates/Identity/Bootstrap4/Pages/_ViewImports.cshtml

@seancpeters

[2019-01-07 23:32] wanton7 commented on #6452
Bug report should include browsers, browser versions, operating systems and Blazor version you used. Blazor 0.7.0 hopefully? Because it doesn't make sense to run anything older. Are using using Blazor or Razor Components (aka server side Blazor)?

Does your code even work? It looks broken, `async` keyword doesn't work without `await` in the method so it shouldn't even compile and you are also retu

[2019-01-07 23:34] arivera12 commented on #6462
@mkArtakMSFT @SteveSandersonMS
I digged a little deep into this and I can confirm that the scroll event is working but in the current blazor template is not working. The problem its that the body is scrolling instead of the page div. To make this working we need to fix the css on the template. Take a look of this https://stackoverflow.com/questions/9280258/prevent-body-scrolling-but-allow-overlay-

[2019-01-07 23:37] Eilon commented on #6419
@vijayrkn - should this move to the scaffolding repo? I can move it.

[2019-01-07 23:40] mkArtakMSFT commented on #6451
Thanks for contacting us, @CloudStu.
@javiercn, isn't this dupe of https://github.com/aspnet/Mvc/issues/8761?

[2019-01-07 23:41] seancpeters commented on #6419
This is scaffolding, makes sense to move the issue.

[2019-01-07 23:50] JeffMushmo opened #6463 "500 error using LibMan"
When my page requests any scripts brought in from libman, I get a 500 error response, with no other information.

This is an Asp.Net Core app running in Service Fabric.

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NET Core 2.1.1 & Service Fabric 3.3.624.
2. Enable libman and add jquery and/or bootstrap to the libman.js file.
3. Reference any of the files from a web page.
4. 500

[2019-01-07 23:52] arivera12 commented on #6462
There is something I haven't figure yet cause I am not a css expert but to make a content scrollable first of all it has to be scrollable itself like this` overflow-y: scroll; position:fixed; top: 0; right: 0; bottom: 0; left: 0;`. The body as to be non scrollable `overflow: hidden`. I placed this style on body and a div but layout gets all distorted :disappointed:

[2019-01-07 23:53] #2875 closed

[2019-01-07 23:58] arivera12 commented on #6452
@wanton7
I am using chrome Version 71.0.3578.98 (Official Build) (64-bit) on windows 7 Ultimate 64x and using blazor 0.7.0. I am using client side blazor and yes my code works it just throws a warning of lack of await inside inside the method but runs fine.

[2019-01-08 00:08] CloudStu commented on #6451
Apologies for the noise, it does seem a dupe - I missed the issue due to it being in the older repo. I hadn't noticed GetTestAssemblies is virtual, so I'll try overriding it.

That said, I'm not a fan of the default logic, either depending on FriendlyName or on swallowing the exception when the FriendlyName isn't an assembly name, given there seem to be plenty of test runners that set incompatible

[2019-01-08 00:08] #6451 closed

[2019-01-08 00:19] mikaelm12 opened #6464 "Transport interface in SignalR Typescript client doesn't match the interface in C# or Java"
The TS client Transport interface uses the verb `connect` vs the C# and Java client that both use `start`. We should change the TS client to start in 3.0 since it'll be a breaking change.

https://github.com/aspnet/AspNetCore/blob/c60d1e1a14691a624f46b350f6561dc752e3964c/src/SignalR/clients/ts/signalr/src/ITransport.ts#L27

https://github.com/aspnet/AspNetCore/blob/c60d1e1a14691a624f46b350f6561dc7

[2019-01-08 00:44] cdwaddell opened #6465 "In-Process hosting deployment to Azure from command line"
When I deploy my .Net core application to Azure using the command line tools in VSTS:

`dotnet publish --configuration Release --output $(Build.ArtifactStagingDirectory)`

I receive this error when I webdeploy and launch my app:

When doing the same deployment using Visual Studio publish tools, the application loads as expected.
[code]

When using Kudu to inspect the application folder, they conta

[2019-01-08 01:03] davidfowl commented on #6210
Not without major refactoring or something else (like copying the header bytes to keep them around)

[2019-01-08 01:05] jkotalik commented on #6465
This should be supported. Can you check a few things:
- Any event logs coming from ANCM?
- You mentioned you tried different framework versions, does that mean you tried standalone/self-contained deployment? If not, try that.
- Can you see if the file [MyApp].deps.json contains the file "aspnetcorev2_inprocess.dll" under runtime identifiers.

[2019-01-08 01:05] HaoK commented on #6340
Adding additional optional logging to the existing challenge log message with the following format:

`AuthenticationScheme: {AuthenticationScheme} was challenged. {ExtraData}`

Where ExtraData is empty by default but for OIDC/OAuth will add:
[code]

[2019-01-08 01:11] JamesNK commented on #6415
Changing to a 405 response is intentional. It is the correct response when the HTTP method is not supported - https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/405

[2019-01-08 02:00] JiahongJin1 commented on #6436
moved to [(https://github.com/dotnet/core-setup/issues/4935)](https://github.com/dotnet/core-setup/issues/4935)

[2019-01-08 02:00] #6436 closed

[2019-01-08 02:48] qqbuby commented on #6075
I have also the similar problem, with `get_RemoteIpAddress`

[code]

Besides, my app was deployed at Azure app service with autoscale mode.

[2019-01-08 03:04] dmorrison42 commented on #6411
I was able to try on 3.0.100-preview-009812, and similar things are happening, but the more I play with it the more confused I get.

If I measure the number of rows the way @Andrzej-W did, it doesn't seem to match the dom (not his fault, I think it's just a further symptom of my issue). If I try to use JS interop to measure the number of rows, it slows to a crawl, but seems to keep the right numbe

[2019-01-08 04:58] ajaybhargavb opened #6469 "Void end tag is missing from the syntax tree if a void tag is targeted by a tag helper with WithoutEndTag structure"
Consider,
`<input></input>`
Input is targeted by a tag helper with `TagStructure.WithoutEndTag`

Expected:
`<input>` is parsed as a tag helper and `</input>` is parsed as a regular tag with a missing start tag.
[code]

Actual:
`<input>` is parsed as a tag helper and `</input>` is totally missing from the rewritten syntax tree
[code]

[2019-01-08 05:08] ajaybhargavb opened #6470 "Unify the way we test Razor parser baselines"
Right now we use two methods to generate syntax tree in our parser tests,
1. `ParseDocument` - simulates what happens in an actual parse in an editor
2. `ParseBlock` - simulates a parse within a single code block

We should make it so that all our tests use `ParseDocument` and get rid of `ParseBlock`. The problem with `ParseBlock` is that in some cases parsing stops after it sees a logical set of

[2019-01-08 05:09] rynowak commented on #6392
For preview 2 we plan to update the Blazor.Build package to hide the necessary boilerplate since this template will still be a separate item in preview 2. No update yet on what the official story will be in RTM

[2019-01-08 05:40] achandlerwhite opened #6471 "Identity default Pages UI url generation not respecting routing in ASP.NET Core 2.2"
I'm not sure if this is a Pages issue or just an issue in Identity default UI.

I am using ASP.NET Core 2.2 and Identity. I have changed the routing to the "Account" Pages via the following in my `ConfigureServices`:
[code]

The idea is to prefix the Pages routes with a url segment taking a parameter called `__tenant__`. This worked fine in 2.1.

In 2.2 the Identity pages are reachable at these co

[2019-01-08 05:53] cdwaddell commented on #6465
I do not see any event logs from my other attempts, although I may be looking in the wrong place for these. I enabled Diagnostic Logs and do not see anything. The event viewer in Kudu is apparently no longer there, its old location pointed me to the Diagnostic Logs.

Yes, I tried both standalone and self-contained deployments. For standalone, I tried win-x64 and win10-x64 runtimes. I only tried wi

[2019-01-08 05:59] newbienewbie opened #6473 "TestServer hangs on CentOS 7"
### Describe the bug

TestServer hangs on CentOS 7 .

### To Reproduce

I've created [a minimal repo here](https://github.com/newbienewbie/TestServerHangsOnCentOSTestDemo).

Suppose we have a plain Razor library called `XLib`,  we create a  xunit test project for it called `XLib.Test` and also a sample web app called `XLib.Sample`:

* `XLib` : a Razor class library project
* `XLib.Sample` : a samp

[2019-01-08 06:00] achandlerwhite commented on #6471
It appears this is related to #5055

[2019-01-08 06:55] ud09 opened #6474 "Blazor debug server cannot get assemblies because their names are lower-cased with current culture."
When I try start debugging a blazor app in chrome  on windows with culture tr-TR, I get the following 404 error:
![blazor-debug](https://user-images.githubusercontent.com/6473521/50812672-b18bf280-1324-11e9-9589-c855e8dfb6c9.jpg)
Capital I is different when lower-cased in Turkish. Trying to get _microsoft.extensions.dependencyınjection.dll_
DebugStore ctor calls ToLower here :
[code]

[2019-01-08 07:33] John0King opened #6475 "asp.net core WebSocket behide IIS won't throw WebSocketException when “unsafe” close"
### Describe the bug
I'm using websocket without SignalR, and I have a `ConcurrentDictionary<Guid,WebSocket>`  that count the coming connection.
and when I run the app use kestrel , and  kill the browser use TaskManager， the `WebsocketException` can successfully throw, but when I run the app behide IIS/ IIS-Express  , there  no Exception be throw

### Expected behavior
Throw WebsocketExceptin when

[2019-01-08 08:02] martincostello commented on #6415
But these are just simple HTTP GETs (our application routes haven’t been changed for quite some time), so the methods being used are the same as ones that previously worked fine.

[2019-01-08 08:11] StefanKoenigMUC commented on #4389
ok, might take until next week, as i'm off work at the moment - maybe i find some time in the evenings.

[2019-01-08 08:13] 199621616 commented on #6429
@wanton7 谢谢

[2019-01-08 08:13] #6429 closed

[2019-01-08 08:20] sushil6451 commented on #2041
I have a web application in Asp.net core 2.2. Facing following issue.

This site can’t be reached

The webpage at https://localhost:44380/Distributor/IndexAsync might be temporarily down or it may have moved permanently to a new web address.

ERR_SPDY_PROTOCOL_ERROR

[2019-01-08 10:11] wanton7 commented on #6452
@arivera12 are you sure it's just not `Console.WriteLine()` that is not printing anything? Did you try putting break point in lstItemClick?
If you are running it server side by accident then `Console.WriteLine()` output doesn't go to browsers console output.

Change your code to this

[code]

If selected index number changes inside that `div` then your problem isn't with `onclick` event.

[2019-01-08 10:23] gulbanana commented on #5545
as a workaround, i'm currently using js interop to register event handlers instead of the native event binding. dynamic input handling is really necessary for complex components, even if it doesn't fit nicely into the async/worker-thread model. even simple buttons and fields need a plethora of weird special cases when you're handling touch input, different browers, history state etc.

[2019-01-08 10:55] LHeczko opened #6476 "ASP.NET Core Linux TLS11 | TLS12 Client"
I'm building ASP.NET Core 2.1 WebAPI. One of the methods of my API send SMS using another public API which reqire Tls11 or Tls12.

Under Windows there is no problem - after setting
`System.Net.ServicePointManager.SecurityProtocol = System.Net.SecurityProtocolType.Tls12 | System.Net.SecurityProtocolType.Tls11;
`
I'm about to run it under Linux and I get an error

Test project to reproduce
https://g

[2019-01-08 10:57] mtad2002 commented on #6446
this is some of this PageModel code :

[code]

my problem is if the page had problem it shouldn't worked with asp.net core 2.1 , beside if my app architectur have problem other pages in the same directory should not work too.

[2019-01-08 11:10] mtad2002 commented on #6446
this from out put window when post form

``
Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/2.0 POST https://localhost:44329/Identity/Account/Manage/Verify application/x-www-form-urlencoded 697
Microsoft.AspNetCore.Routing.EndpointMiddleware:Information: Executing endpoint 'Page: /Account/Manage/Verify'
Microsoft.AspNetCore.Mvc.RazorPages.Internal.PageActionInvoker

[2019-01-08 11:12] AndyCJ commented on #3265
I've been watching and waiting for the "MS-recommended" approach for API based authentication for some time. It's been exhausting trying to keep up with what's going on, and full of disappointment.

A year ago there was a sample which was going to be released "before 2.1": https://github.com/aspnet/samples/issues/2#issue-294532911

Then it got scrapped: https://github.com/aspnet/samples/issues/2#i

[2019-01-08 11:42] Tornhoof commented on #6476
You should not use (Http)WebRequest anymore, use HttpClient (via IHttpClientFactory), according to https://github.com/dotnet/corefx/issues/29452 ServicePointManager does not really work in .NET Core.
See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.1 for how to use IHttpClientFactory.

[2019-01-08 11:59] basschuitema opened #6477 "Permanent redirect (301) is not supported in the PrerenderTagHelper"
I was trying to do a 301 redirect from our JavaScript application using SpaServices prerendering. While I was trying to set the RedirectUrl with StatusCode 301 in our JavaScript server-renderer, a 302 redirect was still happening.

### Investigation
I started looking into the source and I found out that the PrerenderTagHelper is only using the StatusCode from the result if it's not a redirect. If

[2019-01-08 12:12] vinothvsbe opened #6479 "Cookies not working with Angularjs client but works with postman over .net core WebAPI"
I have AngularJS client connected with ASP.net Core WebAPI (via CORS).I'm storing the value in cookie and passing it from Server to Client. Client doesn't seems to store that cookie, because on subsequent requests i'm not able to find that cookie.
Similar scenario is working fine in Postman. I can see Cookies(1) in Postman
ASP.NET Core WebAPI

Startup.cs

[code]
Cache Set/Get

[code]

Angular JS -

[2019-01-08 12:16] punppis commented on #6011
HTTP: 5000
HTTPS: 5001

On localhost, redirect works correctly from HTTP 5000 to HTTPS 5001. But on linux server the server redirects to HTTPS 5000 (tries to redirect to HTTP port with HTTPS).

I have set port using

[code]
and also I have checked that HTTPS_PORT env var is set to 5001 also, but still redirects to wrong port, but only on linux server.
[code]

[2019-01-08 12:58] ncthbrt commented on #4387
Thanks a lot @mikaelm12
Offtopic: very glad the android lib is getting some TLC.

[2019-01-08 13:00] JulioJu commented on #6329
The main author of this file is @pranavkm , what do you think about this :-) ?

[2019-01-08 13:02] Arash-Sabet commented on #6448
@BrennanConroy The attached file is captured from Chrome's Network's console. I masked some names and there were a few lines related to our UI components that I removed to reduce the noise. This log captured when the application is utilizing Azure's SignalR Services.

According to this log file, first, the signalR client application which is an angular app establishes the connection to the signalR

[2019-01-08 13:08] cvanem commented on #3147
I can confirm that @techniq 's solution also works for me.  Thanks!

[2019-01-08 13:35] cdwaddell commented on #6465
To make sure the issue wasn't on the VSTS side, I ran the build locally and uploaded the files via ftp.
` dotnet publish -c Release --self-contained -r win10-x64`
Everything builds and deploys. The application that built runs locally via the exe, but I get the same error when hosted in Azure:

To fix, I just load Visual Studio and "Publish" the exact same application to the exact same Azure Web Ap

[2019-01-08 13:49] SteveSandersonMS opened #6480 "New Razor SDK breaks CSS classes in static markup"
To repro, add the following unit test to `ComponentRenderingRazorIntegrationTest.cs`:

[code]

Fails with:

[code]

I'm sure the fix is pretty trivial, but it would be great to handle soon as it will break all apps (e.g., it does break the layout in the stock template).

## Main source file (component):
[code]

## Generated C#:
[code]

[2019-01-08 14:06] TanvirArjel commented on #6219
@natemcmaster Any help or suggestion or thought on the above error message please? Why I am receiving this?

[2019-01-08 14:09] patricka2 commented on #6465
Same problem #6111

[2019-01-08 14:11] Duxez commented on #6221
onscroll definitely works, or at least it does for me. But yea I did it with JSInterop for now as well

[2019-01-08 14:16] patricka2 commented on #6111
No!

[2019-01-08 14:17] patricka2 commented on #6111
no

[2019-01-08 14:27] alirezaseif28 opened #6481 "Multilingual site"
hello .
What is the best way to use the resource in Javascript?
thanks.

[2019-01-08 14:42] pranavkm commented on #6379
@Abarbz sure, would you like to send a PR to the docs repo to add a remark?

[2019-01-08 14:48] Tornhoof commented on #6476
You can configure a named HttpClient with the settings you need:
In Startup.cs
[code]
and then use ``fac.CreateClient("SMSHandler");`` in your ValueController.cs
If that doesn't work I'm out of ideas.

[2019-01-08 14:53] ryzhovalexandr commented on #5202
Have same problem. Any news about fix it from dev team? Half a year has gone.

[2019-01-08 14:55] LHeczko commented on #6476
The same error ;(

[2019-01-08 15:00] gilm0079 commented on #6069
@Tratcher Thanks for submitting the fix for this. I'll keep an eye on the pull request. https://github.com/aspnet/AspNetCore/pull/6338 and re-post a question in https://github.com/IdentityServer/IdentityServer4/issues/2931 to see if the IdentityServer4 build will need to reference the new core update.

[2019-01-08 15:20] hybridview commented on #6076
You may be having the same problem I am having. I am running Windows Server 2012 R2. I tracked it down to vswhere returning blank when -requires Microsoft.VisualStudio.ComponentGroup.NativeDesktop.Win81 is present.

When I run InstallVisualStudio.ps1, I get an error that my operating system is not supported. Apparently, the 462 SDK is not supported on Windows OS less than 10 via the Visual Studio

[2019-01-08 15:20] cdwaddell commented on #6111
To add to this conversation, my issue #6465 has the same result when hosting in Azure if I manually build the system using the dotnet CLI and deploy my application to Azure. The application runs as expected locally from the executable (self-contained) and from the dotnet command line (framework dependent).

Interestingly, if I use Visual Studio to "Publish" the same application to Azure, the appli

[2019-01-08 15:23] nenadvicentic opened #6482 "ANCM Add Support for In-Process IIS hosting when targeting .NET Framework"
**ANCM** *(AspNetCoreModuleV2)*  supports *IIS In-Process hosting* and request cancellation via `HttpContext.RequestAborted` or model bound `CancellationToken` in controller's action, but *only* when targeting `netcoreapp2.2`.

IIS In-Process hosting and request cancellation do not work for web sites when targeting latest .NET Framework `net472`. EXE file compiled for WebSite project when targetin

[2019-01-08 15:30] AndreasTurowski commented on #4726
We have a similar problem. Our Controller (running in docker on linux, .Net core 2.2, service routing with traefik) is called by a proxy. The client test code sends a post request to the proxy that returns an error status code (NotFound, Forbidden etc.). The next call from the proxy will leads to BadRequest and our controller code is not invoked. We can see the BadRequest in traefik log, so we kno

[2019-01-08 15:39] Tornhoof commented on #6476
Ah, it's a wildcard certificate, so it could be https://github.com/dotnet/corefx/issues/34061
Try to put `` AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);`` in the main

[2019-01-08 15:48] andre-ss6 commented on #4726
That's interesting. We didn't try back in the time to slow down the requests and see how that would affect the rate at which the problem appears. It's also interesting because, as I reported in one of my earlier replies, we managed to track down one of the 400 issues (not the originally reported, because that one has some different peculiarities, like `timeTaken` of `0` and a successful error code

[2019-01-08 15:54] arivera12 commented on #6221
@Duxez can you show me a sample to see how your scroll event is working? The blazor default template onscroll event doesn't work for me when placing the oncroll event on a div. The problem I am facing with the onscroll event is that body is scrolling intead of any div I specify to use the onscroll event. You should had modified the css properly for this to make it work on any div.

[2019-01-08 15:56] arivera12 commented on #6452
@wanton7 I am using blazor client side. I have output stuff to the browser console via the console.writeline on others methods.

[2019-01-08 16:07] pranavkm commented on #6329
cc @dougbu

[2019-01-08 16:07] jkotalik commented on #6075
@qqbuby do you only see a single request failing per application startup?

[2019-01-08 16:14] jkotalik commented on #6076
@natemcmaster I think we can remove Microsoft.VisualStudio.ComponentGroup.NativeDesktop.Win81 from the component list. It was used for building installers which I believe has been upgraded to the latest version of the win sdk.

[2019-01-08 16:18] jkotalik commented on #6465
Can you try enabling debug logs and post the output here? See: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/troubleshoot?view=aspnetcore-2.2#enable-the-aspnet-core-module-debug-log.

[2019-01-08 16:23] LHeczko commented on #6476
I've added

` AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);`

to ConfigureServices and now error is different

Under Windows still run perfect :)

[2019-01-08 16:35] Tornhoof commented on #6476
There are quite a few errors regarding that CURL message, like https://github.com/dotnet/corefx/issues/16201

[2019-01-08 16:39] NTaylorMullen commented on #6446
@mtad2002 can you reproduce the issue on a brand new app? It'd be helpful to have a minimal project that reproduces the issue.

[2019-01-08 16:46] dougbu commented on #6329
I see no obvious reason _not_ to add the `required` attribute. But, we should test a bit to understand how page behaviours change when JavaScript is enabled. Like our addition of the `max-length` attribute (not to long ago), this could be a breaking change -- hopefully a slight one.

The https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-required_attribu

[2019-01-08 16:51] natemcmaster commented on #6219
No clue. Make sure you have pulled the latest source code, including https://github.com/aspnet/AspNetCore/pull/6211. If you still have problems, please open a new issue so we can assign the MVC team to investigate.

[2019-01-08 17:02] dougbu commented on #6329
Just checked https://www.w3schools.com/tags/att_input_required.asp and https://www.w3schools.com/tags/att_textarea_required.asp. Since Opera doesn't support `required` on the `<textarea>` attribute, `aria-required` may be useful on that element.

In addition, https://www.deque.com/blog/aria-requiredtrue-wcag-2-compliance-practice/ describes a few cases where `aria-required='true'` may be disruptiv

[2019-01-08 17:05] Tratcher commented on #6431
OIDC downloads metadata from {Authority}/.well-known/openid-configuration. Then it makes a second request to the JwksUri. What's the JwksUri in your medatadata document?

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/45dfc2866d1d9dca1c25a25b152d48e46348a52c/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/Configuration/OpenIdConnectConfigurationRetrie

[2019-01-08 17:12] hybridview commented on #6076
To test, I removed Microsoft.VisualStudio.ComponentGroup.NativeDesktop.Win81  from korebuild.json, and  restore.cmd appears to be working now. I just have an npm version issue that I need to research. Thanks for the help.

[2019-01-08 17:28] guardrex opened #6484 "Folder(s) not created for path to the ANCM debug log"
The ANCM isn't capable of creating a path for the debug log the way that it's able to create the path for the stdout log.

In terms of docs, I'd like to modify our topic to prompt devs to use the same `logs` folder ...

[code]

For the stdout log, this request was made on https://github.com/aspnet/AspNetCoreModule/issues/30 and was solved on an unlinked PR for that issue.

Is there interest in off

[2019-01-08 17:39] pranavkm commented on #4953
@glennc thoughts on this?

[2019-01-08 17:39] natemcmaster commented on #6076
👍 awesome. The fewer pre-reqs, the better.

[2019-01-08 17:46] muratg commented on #6484
@guardrex that bug seems over a year old and I've forgotten the context on it :) Would you mind filing a new one (in https://github.com/aspnet/AspNetCore) describing the issue if you think there's something we should fix? Thanks!

[2019-01-08 17:47] martincostello commented on #4789
FYI, we're re-trying 2.2.0 out again with the following csproj settings now to see if we can narrow down whether it's (ASP).NET Core 2.2.0 we're having trouble with, or the new V2 IIS hosting.

[code]

[2019-01-08 17:53] mkArtakMSFT commented on #6446
@mtad2002, unfortunately we are unable to reproduce the issue given this much info. With the code snippet given - the page handler is being hit. Again, if you could provide a project, which can reproduce the issue for us, we'll happily investigate it further.

As for now we plan to improve the log message you've shown above to include the page handler which was matched:

[2019-01-08 17:59] jkotalik commented on #4789
Sounds good. Thanks again for the through investigation.

[2019-01-08 18:01] Tratcher opened #6486 "[Announcement] Google+ based auth deprecation and replacement"
Google is starting to [shut down](https://developers.google.com/+/api-shutdown) Google+ Signin for applications as early as January 28th 2019. ASP.NET and ASP.NET Core have been using the Google+ Signin APIs to authenticate Google account users in web applications. The affected NuGet packages are [Microsoft.AspNetCore.Authentication.Google](https://www.nuget.org/packages/Microsoft.AspNetCore.Authe

[2019-01-08 18:05] wanton7 commented on #6452
@arivera12 Yes tried it with both server and client side Blazor and it works in both. This is with Chrome 71.0.3578.98 (64bit) on Windows 10. Do you have any custom JavaScript running that could be interfering with the click event? How about your package references? They should look like this.
[code]

[2019-01-08 18:05] blowdart opened #6487 "Microsoft Security Advisory CVE-2019-0564: ASP.NET Core Denial of Service Vulnerability"
# Microsoft Security Advisory CVE-2019-0564: ASP.NET Core Denial of Service Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in ASP.NET Core 2.1 and 2.2. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is

[2019-01-08 18:08] blowdart opened #6488 "Microsoft Security Advisory CVE-2019-0548: ASP.NET Core Denial Of Service Vulnerability"
# Microsoft Security Advisory CVE-2019-0548: ASP.NET Core Denial Of Service Vulnerability

## Executive Summary

Microsoft is releasing this security advisory to provide information about a vulnerability in public ASP.NET Core 1.0, 1.1, 2.1 and 2.2. This advisory also provides guidance on what developers can do to update their applications correctly.

Microsoft is aware of a security vulnerability

[2019-01-08 18:10] #6480 closed

[2019-01-08 18:10] cdwaddell commented on #6465
Ok, I now have logs. Here is my log from dotnet publish. It has an error and is running with "aspnetcorev2.dll".
[code]
Here is my ancm.log file from Visual Studio Publish. They appear to be similar, but the module running is "aspnetcorev2_inprocess".:
[code]
Any ideas what I can do to get the correct "aspnetcorev2_inprocess.dll" ANCM module to load? Between these two installs, I do not make any c

[2019-01-08 18:11] mkArtakMSFT commented on #6446
@mtad2002, are you saying that the issue doesn't reproduce consistently or you simply can't get the same behavior on a different project?

[2019-01-08 18:11] cdwaddell commented on #6465
FYI, I looked into the error reported `Invalid runtimeconfig.json`. That file is identical in both deployments.

[2019-01-08 18:18] EssenRoc opened #6489 "Unable to use dynamic client certificate with HttpClientFactory"
Hello,
I used HttpClient before:

[code]

The certificate is dynamic and is obtained from the database.
unable to `services.AddHttpClient` for all certificates in `ConfigureServices`.

Can you tell me how it should be implemented?

[2019-01-08 18:23] scottsauber commented on #6167
FWIW - I hit this too but it's caused by a SQL Exception that trips EF Core to loop over all of our DbSets and do a SELECT * on all of them which then causes us to run out of memory.  But we have a rule in IIS that recycles the app pool once we hit a certain limit.  Happens about once a week.

Logged here: https://github.com/aspnet/EntityFrameworkCore/issues/13310

I need to get a minimal repro se

[2019-01-08 18:32] pakrym commented on #6482
There are no plans of supporting .NET Framework in InProcess hosting mode.

[2019-01-08 18:47] jkotalik commented on #6465
Interesting. Does either the VS publish or dotnet publish output have a xxxx.runtimeconfig.dev.json file? If there is a difference there, that may be the issue.

If there isn't any difference there, can you send both the .runtimeconfig.json (and runtimeconfig.dev.json) files to me in my email listed on my github profile? There could be a Byte Order Mark (https://en.wikipedia.org/wiki/Byte_order_ma

[2019-01-08 18:52] pakrym commented on #4512
Test is still skipped in code.

[2019-01-08 18:54] Eilon commented on #6481
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `asp.net-core` tag.

[2019-01-08 18:55] cdwaddell commented on #6465
Ok. I found the error and the reason that it was working on Visual Studio and not in dotnet CLI. Apparently the following has been in my web.config since 2016 when I clicked file new project:

A config transform in the VS publish step turns this into:

If I change my web config manually to this value, it works after dotnet publish. and the correct "[aspnetcorev2_inprocess.dll]" module is loaded. h

[2019-01-08 18:57] cdwaddell commented on #6465
Thanks @jkotalik for looking into this with me.

[2019-01-08 18:59] kierenj commented on #6488
Would this or the other CVE explain the disappearance of vers 2.1.3 of some NuGet packages?

[2019-01-08 19:04] natemcmaster commented on #6488
@kierenj which package ID are you looking at? I'm guessing what you are actually seeing is something else, but it depends on the package.

[2019-01-08 19:09] kierenj commented on #6488
Microsoft.AspNetCore.Server.IISIntegration (on mobile sorry - hope thats the correct capitalisation). There is an outside chance there never was a 2.1.3 since I cant find any evidence of it now.. but it’s the least insane explanation for the issue I’m facing

[2019-01-08 19:19] muratg commented on #6484
@guardrex Sounds good, thanks!

[2019-01-08 19:31] arivera12 commented on #6452
@wanton7 I haven't not used a single line of javascript on my project yet. Where I can find this file? I dont see inside the project folder or in the solutions folder as well. I can see the nuget reference and both are on version 0.7.0.
![image](https://user-images.githubusercontent.com/5600102/50854006-507f1180-135a-11e9-8fba-37f0c667507f.png)

[2019-01-08 19:33] natemcmaster commented on #6488
That's what happened. A regular complaint has been that our patches have jagged versions and it was hard to figure out which patch of individual packages belong to updates to the overall framework, so starting with 2.1.6, we decided to skip ahead the patch number to have consistent versions across all packageswe release in servicing updates. I called it "swiss cheese" versioning because it leaves

[2019-01-08 19:41] arivera12 commented on #6452
@wanton7 I can confirm that this is working. Let me tell you what I am doing. I am doing an autocomplete for blazor using bootstrap and I think that the onmouseout and onmouseover aren't letting the onclick event fire.

[code]

This is how my li tag looks rigth now.

[2019-01-08 19:42] mkArtakMSFT commented on #6479
Thanks for contacting us, @vinothvsbe.
Can you see the cookies sent back to the client in the network tab in developer tools of the browser? The fact that the Postman receives the cookies indicates that the service operates just fine.

[2019-01-08 20:01] grahamehorner opened #6494 "Razor Components - SASS/LESS"
**Razor Components within RazorViews/RazorPages SASS & LESS**
Using Razor Components from within RazorView/RazorPages you may need to compile the SASS/LESS using parameters/attributes for the client browser and/or the view/page that the component is hosted within, at present this would require ahead-of-time compilation of the SASS/LESS for all variances.

### Describe the solution you'd like
IMHO

[2019-01-08 20:12] Duxez commented on #6221
Yeah I just made a div wrap around the content with a height of 100vh and a width of 100vw disabling the overflow on the body so that that div's scrollbar would be used instead.

[2019-01-08 20:46] pakrym commented on #6465
@jkotalik can you investigate why invalid `stdoutLogFile` prevents apps from starting?

[2019-01-08 20:52] UweKeim opened #6496 "Is it avoidable that IIS in-process mode locks its own DLL files?"
In an ASP.NET Core 2.2 pure Web API project on a Windows Server 2016 with in-process IIS I experienced the following behaviour:

When updating the assemblies of my Web API website, the files are locked (renaming succeeds, deleting failes), so that I'm unable to directly replace the assemblies.

Now when I rename them and then replace them, the new assemblies are not recognized by IIS until I IISRE

[2019-01-08 20:54] ColinM9991 commented on #5223
Having checked my code for the above order, I can confirm my app is using the order of
1. UseMvc
2. UseSpa

This remains to be an issue and plagues my log files rendering them almost useless when it comes to parsing for actual errors.

[2019-01-08 20:57] jkotalik commented on #6465
@cdwaddell can you confirm that changing the stdoutLogFile affects whether the app starts or not? An invalid path to a log folder shouldn't affect the app failing to start.

[2019-01-08 21:08] jkotalik commented on #6496
See app_offline.htm: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.2#locked-deployment-files

[2019-01-08 21:11] UweKeim commented on #6496
Awesome, thanks a lot!

Good old App_Offline.htm to the rescue 👍

[2019-01-08 21:11] #6496 closed

[2019-01-08 22:18] Eilon commented on #6476
Hi folks, this sounds like an issue for https://github.com/dotnet/corefx/issues/. Is there any further topic to discuss on ASP.NET Core?

[2019-01-08 22:19] JunTaoLuo opened #6499 "MvcPrecompilation tool fails for full framework projects on 2.1"
I noticed this when converting the mvc precompilation projects to using <Reference>. The error I see is
[code]

@pranavkm suspects that this is due to version mismatches that accumulated during the 2.1 patching process, e.g. Microsoft.AspNetCore.Mvc 2.1.3 and Microsoft.AspNetCore.Mvc.Razor.ViewCompilation 2.1.1.

[2019-01-08 22:30] muratg commented on #2512
What's the proposal here? @blowdart

[2019-01-08 22:31] mkArtakMSFT commented on #6477
Thanks for bringing this up, @basschuitema.
One of our team members will look into the PR.

[2019-01-08 22:34] #6140 closed

[2019-01-08 22:35] muratg commented on #3774
I don't expect we'll make this change at this point, but CCing @davidfowl @DamianEdwards. Let's make the call here.

[2019-01-08 22:39] muratg commented on #4310
@joeloff is this a known/fixed issue?

[2019-01-08 22:46] blowdart commented on #2512
Fix it so it works as it's supposed to. @natemcmaster's suggestions seem like a good start.

@GrabYourPitchforks  thoughts here?

[2019-01-08 22:52] joeloff commented on #4310
This came up last year some time. Let me see if I can find the thread.

[2019-01-08 22:53] rynowak opened #6500 "Adding a component via solution explorer adds junk to the project file."
Using VS 16.0 preview 2 and the newest SDK.

We're planning on using an MSBuild snippet like:
[code]

So we can tell the difference between components and views.

When you add a razor file through the *new item* dialog, it will be added to a bunch of item groups, causing it to act as a view instead of a component. We don't want any of these things to happen.

[2019-01-08 22:53] muratg commented on #2512
There's a little time left in preview2. If we can't figure out a plan in the next couple days, we'll move this out to preview3.

[2019-01-08 22:55] joeloff commented on #4310
Yup, it all depends on the zip. Back in November when this issue came up, the zip file we received during the build didn't contain that folder. Setup simply unzips and consumes the zip file content. My original suspicion was that we maybe received an intermediate zip file.

[2019-01-08 22:55] rynowak commented on #6500
We plan to change what the recommended gesture is for distinguishing a component from a view to something like:
[code]

OR
[code]

[2019-01-08 22:56] muratg commented on #4310
Thanks @joeloff!

@leecow I'm closing this issue. Hopefully this was just a temporary issue that won't repeat.

[2019-01-08 22:57] pakrym commented on #2512
Do we want to go with `EntryAssembly.Name + EntryAssembly.PublicKeyToken` or something similar to user secret id? Switching default to `EntryAssembly.Name + EntryAssembly.PublicKeyToken` would break all existing apps when migrating to 3.0

[2019-01-08 23:09] dougbu commented on #4939
Discussed offline w/ @rynowak and @mkArtakMSFT:
- do not change `BindingSource.Header` other than to add `IsFromValueProviders == false`
  - slight typo in @rynowak's comments above and slightly more consistent name for the new property
- do not change `ComplexTypeModelBinder`'s assumption that model binding which do not use value provides always succeed i.e. continue to ignore the failure of mode

[2019-01-08 23:12] natemcmaster commented on #4310
This issue hasn't been fixed. Unless omitting Microsoft.NETCore.App is by design, the installer has been busted since 2.1.

[2019-01-08 23:14] joeloff commented on #4310
I think it's the zip that's busted. In the old build we only built setup once the runtime CI builds finished. I suspect that we're getting a copy of the zip with just the ASP.NET bits, before the NetCore app folder is added. I'll reply on the original email we had as that had a lot of details

[2019-01-08 23:14] Andrzej-W commented on #6452
Could you change return type of your last 3 functions from `Task<string>` to `Task` and remove `return null;` (make them similar to `onBlur` and `onFocus` above).

[2019-01-08 23:39] dsplaisted opened #6501 "Create targeting pack for ASP.NET Core"
For .NET Core 3.0, we expect to separate targeting packs, which contain the assets needed at build time when targeting .NET Core 3.0 (for example, reference assemblies and intellisense documentation) from "runtime packs", which will include the platform-specific runtime components for .NET Core 3.  See dotnet/cli#10006, and [dotnet/designs#50](https://github.com/dotnet/designs/pull/50/files?short_

[2019-01-08 23:40] Andrzej-W commented on #6452
Often you are not using `eventArgs`. Remove it and call your synchronous function like this:
`onclick=@(() => await lstItemClick(local_index))`
This is not a bug but a small suggestion to cleanup your code.

[2019-01-08 23:48] robinwilson16 opened #6502 "On Ubuntu Request.Scheme Returns http and Request.IsHttps Returns False When Connection is Secure"
In ASP .NET Core 2.2 you are supposed to be able to check whether the connection is secure or not by using:
```Request.Scheme``` (returns ```https``` or ```http```)

Or
```Request.IsHttps``` (returns either ```true``` or ```false```)

This is working fine on Windows servers but on my Ubuntu server running on Apache it is returning ```http``` and ```false``` even though the connection is showing as

[2019-01-09 00:01] wanton7 commented on #6452
@arivera12 It's not `onmouseover` or `onmouseout` because this works just fine

[code]

I read your code and I'm pretty sure somethings wrong with way you are using `onfocus` and `onblur` to hide the list that needs to be clicked. Because when you click the list and if you had focus on `input` before, then it's `onblur` will get triggered. Probably before click event happens. I would try removing

[2019-01-09 00:11] #6469 closed

[2019-01-09 00:32] grahamehorner opened #6503 "Allow Razor Component rendering to be deferred."
###Razor Components Rendering
At present Razor Components render when the component is not visible within the client viewport of the page, rendering DOM items that aren’t visible may be expensive the developer should be able to delay the supply/rendering of the component.

[2019-01-09 00:35] PinpointTownes commented on #3774
It's important to note that Identity depends on DP packages. If the Identity core packages stay in the `Microsoft.Extensions.*` namespace like in 2.x, DP will have to be `netstandard`-compatible.

More context:
  - https://github.com/aspnet/AspNetCore/issues/4582
  - https://github.com/aspnet/AspNetCore/pull/4523#issuecomment-445472571
  - https://github.com/aspnet/AspNetCore/pull/4523#issuecommen

[2019-01-09 00:48] higles opened #6507 "Blazor casts cases of SVG objects"
### Describe the bug
I noticed this issue when working with clipPath on SVG elements.  Blazor will automatically take the clipPath tag and cast it to all lower-case which doesn't work.  I assume that it has some logic for taking all DOM tags and converting them to lowercase, which makes sense in most cases but this one is definitely case sensitive.

### To Reproduce
1. Take the following code snip

[2019-01-09 01:01] Andrzej-W commented on #6507
@higles Where is the code snippet?

[2019-01-09 01:03] natemcmaster opened #6509 "Daily build links to installers are stale"
It looks like our publishing pipeline that updates https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md is broken. The links are fairly stale now.

[2019-01-09 01:13] higles commented on #6507
@Andrzej-W sorry, didn't mark it as code, so it wasn't showing up.  Should be there now.

[2019-01-09 01:20] mikaelm12 commented on #4387
Glad you're enjoying the Java client @ncthbrt! 😄

[2019-01-09 01:31] natemcmaster commented on #6506
@rockerinthelocker please open a new issue. Your comment doesn't match the purpose of this issue.

[2019-01-09 01:51] Eilon commented on #3649
@ryanbrandenburg / @natemcmaster - anything left to do here? I couldn't find `MicrosoftNETCoreApp21PackageVersion` or `MicrosoftNETCoreApp20PackageVersion` in this repo anymore.

[2019-01-09 01:55] qqbuby commented on #6075
@jkotalik I guess the error  is coming from the app warmup request cause it doesn't happen frequently and I only see a few of error messages per day.

[2019-01-09 02:07] natemcmaster commented on #3649
Nope, this was incidentally fixed with #6461 and mondo repo merges.

[2019-01-09 02:07] #3649 closed

[2019-01-09 02:13] arivera12 commented on #6452
@wanton7 I just wanna said that I :heart: u. The onfocus and onblur was the error. @Andrzej-W I will clean the code  with your suggestions I really didn't needed to make Task<async> on all methods I just did copy and paste everywhere to make this work and its already working. Thanks to both of u!

[2019-01-09 02:13] #6452 closed

[2019-01-09 04:11] rynowak opened #6512 "Use new PreserveCompilationReferences property in Razor SDK"
See: https://github.com/dotnet/sdk/pull/2800

The SDK now has a setting to control this. We can remove our code here: https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Sdk.Razor.CurrentVersion.targets#L682

[2019-01-09 04:57] dehghani-mehdi opened #6513 "IUserStore doesn't respect to custom type with custom data provider"
Hello,

### Describe the bug
I tired to use Dapper with Identity, everything works, but I faced an issue. `IUserStore` and `IRoleStore` doesn't respect to provided primary key data type (_I like to use int as primary keys's data type_), here is what I did:

[code]

There error is:

_Same for CustomRoleStore_

For now I add `FindByIdAsync(string, CancellationToken)` and inside the method I convert

[2019-01-09 06:20] Villae commented on #6488
Hi, I installed dotnet-hosting-2.1.7-win.exe and aspnetcore.dll is still too old version? 12.1.18340.7 < 12.1.18346.0

PS> (Get-Item $env:SystemDrive\Windows\System32\inetsrv\aspnetcore.dll).VersionInfo
ProductVersion   FileVersion      FileName
--------------   -----------      --------
12.1.18340.7     12.1.18340.7     C:\Windows\System32\inetsrv\aspnetcore.dll

[2019-01-09 07:04] Kahbazi opened #6515 "Multiple log type in HttpSys"
In `LogHelper` for `HttpSys` all logs are written by `Debug.WriteLine` except one

https://github.com/aspnet/AspNetCore/blob/master/src/Servers/HttpSys/src/LogHelper.cs#L74

Does this need to be changed?

[2019-01-09 07:06] ankitmori14 commented on #1976
I have developed my application in Asp.net core 2.2 also facing same issue related to memory release.
each call increases memory in range of 40-50 Mb each time never get release.

I have also added mentioned tag  **ServerGarbageCollection>false</ServerGarbageCollection>**
still facing same issue for  50 user it is utilizing approx 2GB RAM in **In-Process** mode (w3wp iis worker process)

Please he

[2019-01-09 08:12] gingters commented on #6076
@natemcmaster Indeed, updating my VS installation with the script did help and the build started. Thanks. I thought manually selecting the Workloads and Components would do, but somehow I missed that.

[2019-01-09 08:47] johnkors commented on #2512
So if I change the assembly name of my web app using cookies, it will cause a logout of all my users on deploy...?

[2019-01-09 08:56] jensweigele opened #6518 "PolicyEvaluator.AuthenticateAsync does not provide AuthenticationProperties"
**I've the following situation:**
ASP.NET Core 2.2.0 WebApp with Identity.
I've configured two JwtBearer Authentications and the Application Cookie Authentication (interim solution for backward compatiblity).
The default scheme is the Application Cookie Scheme.
The JwtBearer has the option "SaveToken" set to TRUE;

Since I don't need to distinguish between the Authorization Schemes, I'm working wi

[2019-01-09 09:09] nenadvicentic commented on #6482
I think this is important performance feature to ditch it without taking it into serious consideration.

Further, breaking feature parity of the same project type on granular level like this, does not seem reasonable.

At least, this kind of gaps should be clearly stated in the documentation and new release announcements, to help make informed decision upfront, instead of every team/developer havi

[2019-01-09 09:21] ikourfaln commented on #1976
Please help !! the same issue as `ankitmori14`

[2019-01-09 10:36] samjones3 commented on #1961
@joehanna  Dude, we have all been there. Everyone here has spent years building a huge, amazing app on a tech platform that eventually died. (We have an enormous, perfect, 1 million LOC app in Delphi...).

So first off, the place you are is normal. It isn't Microsoft, it is tech.

And if you got 10 or more years out of the stack, that counts as much (much much) better than average!

What we did is

[2019-01-09 11:06] adrian109 commented on #4420
It just seemed to appear one day and started working.  Not sure if it appeared before or after I upgraded to: [Visual Studio 2019 Preview 1.1 Servicing Update](https://docs.microsoft.com/en-gb/visualstudio/releases/2019/release-notes-preview#VS2019_Preview1.1)

[2019-01-09 11:06] #4420 closed

[2019-01-09 11:42] sandersaares opened #6520 "Web API project template works only as Web App, does not work as Console App"
### Describe the bug
If I take a working ASP.NET Core Web App project and copy the code to a new .NET Core Console App project, my web API no longer works.

This is unexpected, since ASP.NET Core is just a library - I do not see why its behavior should be driven by project type.

This is also undesirable, as I want my code to be what affects my app behavior, not some SDK magic.

### To Reproduce
S

[2019-01-09 13:04] DaniilSokolyuk commented on #6488
@Villae @blowdart @natemcmaster
Same, after install dotnet-hosting-2.1.7-win.exe from https://dotnet.microsoft.com/download/thank-you/dotnet-runtime-2.1.7-windows-hosting-bundle-installer
Version is

[code]

[2019-01-09 13:07] Duxez opened #6521 "Blazor - Wait with loading after preload animation is done playing"
Is there a way to delay the loading of the first page until after a preload animation is done? I want to replace the boring "loading..." with something more neat to look at but can't find a way to force the animation to be done first.

[2019-01-09 13:08] JohnGalt1717 commented on #4629
Per my comments here: [Grand Auth Redesign](https://github.com/aspnet/Security/issues/1179) this doesn't work properly and I gave examples.

We need either a complex example that actually works and doesn't throw errors or this needs to be fixed so that it work right and you can actually use the same extension methods that you use on startup dynamically in code.

[2019-01-09 13:12] nielheo commented on #6434
Is there any documentation on how to activate log on .net core?

[2019-01-09 13:14] siberianguy commented on #6434
@BrennanConroy, me and @nielheo are having trouble enabling the log you asked for. Could you please hint us?

[2019-01-09 13:17] Duxez commented on #6221
Yeah it was definitely a hassle to set it all up, but at least it works

[2019-01-09 13:37] dacki commented on #5707
I am experiencing the same issues when adding `ConsumesAttribute` to MvcOptions

[code]

Then basically any request (`GET`, `POST`, `DELETE` tested) without content will fail due to `415 Unsupported` despite not having any content or body specified in the according Controller methods.

Versions used:

- NetCore 2.2
- AspNetCore.HttpOverrides 2.2.0
- AspNetCore.Mvc 2.2.0
- AspNetCore.Routing 2.2.0

[2019-01-09 13:40] iberodev opened #6522 "Unable to use ConfigureTestServices with Autofac"
I am trying to create some integration tests for my NetCore 2.2 application and I am using TestServer in order to have a host that uses the same Startup but with different appsettings.json and ideally with some specific mock implementations that should override the registrations that Startup configured.

I am using Autofac and the recommended way of adding it with:
[code]

Then in my integration t

[2019-01-09 13:42] Compufreak345 commented on #6488
We've got the same issue like @Villae and @DaniilSokolyuk .

In addition, at https://dotnet.microsoft.com/download/dotnet-core/2.1 there is documented in the left column that the installer contains "ASP.NET Core IIS Module 12.1.18263.2".

[2019-01-09 13:55] LHeczko commented on #6476
Thanks for help. After modifications above and adding CA to trusted CA my app started working.

[2019-01-09 14:18] ZOXEXIVO commented on #3540
Catch this error at 2.2, without any AntiForgery validation enabled

[2019-01-09 14:37] disklosr opened #6523 "Specify custom probing folder for loading assemblies"
### Is your feature request related to a problem? Please describe.
Not really a problem.

### Describe the solution you'd like
I'd like my dependencies to be loaded from a custom folder instead of the app root folder. The goal is to make the generated package clean and well organized.

### Describe alternatives you've considered
The old way of doing this in .Net is to configure the runtime with a

[2019-01-09 14:50] arivera12 commented on #6221
@Duxez can you share your code for future reference?

[2019-01-09 15:02] webwizgordon commented on #6061
Sorry, that was a typo. It should be `ControllerBase` i.e. the built-in base class for API controllers.

[2019-01-09 15:07] camelofcode commented on #4902
I have an issue the same as https://github.com/aspnet/AspNetCore/issues/2126

I solved this using @pranavkm 's solution on that issue (Aug 14, 2017).

However, since MetadataReferenceFeature is being obsoleted, I am trying to rewrite so it doesn't use it.

I'm basically doing what @pranavkm 's other link says (https://github.com/pranavkm/PluginApp/blob/master/MainApp/Startup.cs#L74-L90) now, but i

[2019-01-09 15:13] khellang commented on #6061
Ah, I see. That's probably because it returns `ActionResult` instead of a more specific result type, like `BadRequestObjectResult`, which has been annotated with a `DefaultStatusCodeAttribute`:

https://github.com/aspnet/AspNetCore/blob/74f1ccad0d25fb85d318cf9da5837d15648b36e2/src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ControllerBase.cs#L1833-L1846

https://github.com/aspnet/AspNetCore/blob/74f1cca

[2019-01-09 15:15] Duxez commented on #6221
Sure thing
have a div that wraps the pages content, with an id or class and put the onscroll event here. The function for the onscroll event should just be a js function, no need for JSInterop here. (I called it scrolling)
For css (I used divbody as the id for my wrapper div):
[code]

Create the js function in script tags in index.html or in a seperate js file and link that in the index.html file.

[2019-01-09 15:20] webwizgordon commented on #6061
Is it intentional that `ValidationProblem` returns `ActionResult` instead of a more specific result type? Every other method in `ControllerBase` returns a specific result type.

[2019-01-09 15:39] Arash-Sabet commented on #6448
@BrennanConroy @bradygaster
I have attached a few files which include further details from Network tab. These files were captured when `OnConnectedAsync` did not raise when the client app tried to establish the connection with the server. Interestingly the heartbeat kept happening.
This information was collected and then masked/renamed when the signalR server is not leveraging Azure SignalR Servic

[2019-01-09 16:00] joeloff commented on #4310
We included it in 2.x so it does appear to be a regression. I don't recall that we made a decision in 3.x to remove it, though that's certainly possible.

[2019-01-09 16:19] blowdart commented on #6488
@shirhatti to expand on this.

[2019-01-09 16:37] BrennanConroy commented on #6434
Take a look at https://github.com/aspnet/SignalR/wiki/Diagnostics-Guide

[2019-01-09 16:39] jkotalik commented on #6488
@villae @DaniilSokolyuk @Compufreak345 you are all correct; we got the version incorrect for the 2.1 hosting bundle. We will update issues and the download center versions.

[2019-01-09 16:44] Eilon commented on #1976
@ankitmori14 , @ikourfaln - if you've read @sebastienros 's comment at https://github.com/aspnet/AspNetCore/issues/1976#issuecomment-449675298 and still believe there is a memory issue, please file a new issue with detailed steps to reproduce the issue, plus any other information and traces you have about the behavior. Please remember that unless the app/process is *actually* having errors, it is

[2019-01-09 16:48] danroth27 opened #6525 "Rename Razor Components template"
ASP.NET Core Razor Components -> Web Application (Razor Components)

[2019-01-09 16:53] khellang commented on #6061
I'm not sure. I tried to find the PR adding the method to see whether it had been DISCUSSED. @pranavkm probably knows.

I'm guessing it might be because some people like to use 422 instead of 400, so you could override the method and return a different result.

[2019-01-09 16:57] natemcmaster commented on #4310
http://dotnetcli.blob.core.windows.net/dotnet/aspnetcore/Runtime/2.1.0/aspnetcore-runtime-2.1.0-win-x64.exe

I think 2.x has this problem, too. When I run the 2.1.0 installer, I only get AspNetCore.App/All, not NETCore.App.

[2019-01-09 16:58] muratg commented on #4691
@ankitmori14 Are you still getting the exception that you shared in the first post? Or is this a new issue with 2.2? If latter, please close this and file another bug. Thank you.

[2019-01-09 17:05] muratg commented on #2512
@blowdart What's your thoughts on this? Ideally, we don't want to break existing apps when they migrate (i.e. logging out all of their users.)  Do you have any alternative way to prevent this?

[2019-01-09 17:09] pranavkm commented on #6061
Yes, that was the intent.

There are other issues, such as https://github.com/aspnet/AspNetCore/issues/4950, where the analyzer *could* infer the status code of an `ActionResult` returning method by diving into the method call, at least in fairly simple scenarios. Perhaps that would be the fix here.

[2019-01-09 17:12] BrennanConroy commented on #6448
What are you doing in your `OnConnectedAsync` function?

Also, could you try enabling client logs and logging message content via:
[code]

And I would like to see what is happening when you try to send a message from the client after it has received `{"type":6}` but hasn't invoked `OnConnectedAsync`

[2019-01-09 17:16] Tratcher opened #6526 "React to SIGTERM exit code change"
https://github.com/dotnet/coreclr/pull/21300#issuecomment-452684375

CoreClr is changing the default behavior for SIGTERM exit codes from zero to non-zero. WebHost and GenericHost both block the ProcessExit event while attempting to shut down.

Proposal:
If the host does shut down gracefully then set the exit code to zero.

[2019-01-09 17:22] martincostello commented on #4789
We've now been re-running this application with 2.2.0 using the V1 ANCM module for over 24 hours in production, and we've not yet seen any recurrence of process crashes/restarts or elevated CPU usage .

We'll be monitoring this further through until the start of next week, but that would seem to suggest the cause of our issues is something in ANCM V2.

[2019-01-09 17:23] blowdart commented on #2512
No, but honestly I don't care about a single logout everyone event when you switch a major version of core. That is frankly a minimal disruption compared to fixing isolation.

[2019-01-09 17:36] natemcmaster commented on #2512
I wish there was something on a per-project basis which was unique and immutable. Assembly names, file paths, public key tokens, and others are all subject to change.

Just brainstorming: 'classic' C# project templates use to include a unique `GuidAttribute` in the generated AssemblyInfo.cs file. Although meant for COM, it provides the characteristics we are looking for. What if we relied on an as

[2019-01-09 17:40] blowdart commented on #2512
Oh that's an interesting idea

[2019-01-09 17:48] pakrym commented on #2512
We already have the prior art on this topic: `UserSecretsId`. Gets generated on project creation and put into `csproj`.

[2019-01-09 17:50] Kahbazi commented on #6381
There's no `LoggingExtensions`  class in `Microsoft.AspNetCore.Identity` and  `Microsoft.Extensions.Identity.Core`. Should I add one while adding event names?

https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Extensions.Core/src/UserManager.cs#L711

[2019-01-09 17:57] dougbu commented on #4915
Closing because I have not seen this issue recently.

[2019-01-09 17:57] #4915 closed

[2019-01-09 18:08] Eilon commented on #6523
@disklosr can you provide more info about what you're doing and what exactly you're expecting? Also, is this specific to ASP.NET Core or is it a general NuGet or .NET issue you're having?