[2022-10-22 14:25] MarkStega commented on #44685
@javiercn

Thanks for the update, I agree that the 'clean' should go to all locations. Another useful addition would have been a way to list the available certs.

Do you know what environment setting that Docker is setting which causes the certificate searh to use APPDATA? I looked at the output of a 'set' command and all I can find that references  'Appdata\Roaming' is the definitions of "APPDATA

[2022-10-22 14:50] javiercn commented on #44685
@MarkStega this is all documented https://learn.microsoft.com/en-us/aspnet/core/security/docker-https?view=aspnetcore-2.2#running-pre-built-container-images-with-https and https://learn.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-6.0&tabs=visual-studio

For some reason I do not know why the actual tooling mechanism is not described. But in essence, we look for a key "Dev

[2022-10-22 15:23] demming opened #44696 "Response Caching [ASP.NET Core 6 & 7]: cache populated for each concurrent connection rather than once"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Response caching goes bust when multiple concurrent inbound connections arrive.

It appears that cache population begins with the first concurrent inbound request hitting the endpoint and not finishing until all 100 of them arrive. So each of them invokes the service, and GC can't cope with t

[2022-10-22 15:31] Alerinos commented on #44669
I was wondering. We can not store sessions, e.g. for a week? If the client frequently visits the website, why drop him or her? Each entry extends life by 7 days. I understand that for websites with a lot of hits, it can draw a lot of resources, although it seems to me that up to 100k unique users per month it will not be a big problem. I haven't looked in source, what data is stored? They shouldn'

[2022-10-22 15:55] DamianEdwards commented on #44696
Looks like a [cache stampede](https://en.wikipedia.org/wiki/Cache_stampede) and casting my mind back to when response caching was made, this might be a known design trait, but would be good to have others confirm. The new Output Cache system in .NET 7 should not suffer from this as I believe it implements protection against this, @sebastienros

[2022-10-22 16:39] brunolins16 commented on #44677
I think is not possible to simply change it because it might affect the binding logic. However we might be able to apply the same idea in the API Explorer but we will need to think how can we differentiate from primitives (`int`, `bool`, etc.).

I need to check what we are doing for Minimal Endpoints.

BTW: Types  with `Type Converter` have the same problem

[2022-10-22 17:59] maxcherednik opened #44697 "Framework does not handle Request cancellation properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When a browser closes the connection during the active request, asp.net core raises the cancellation.

[code]

As a result the log file is full of errors like this:
[code]

Similar question: https://stackoverflow.com/questions/69607456/unhandled-taskcancelledexception-when-request-is-aborted-

[2022-10-22 21:23] sake402 commented on #44693
@javiercn Thanks for your response. But I quite disagree with your assertion that ``extra check is a tax on every other component when the vast majority of components will not take advantage of that optimization``. The cost of creating the WriterForType is rather very huge compared with checking a boolean variable.

I am currently running with a fork of the repo where I added this to ParameterView

[2022-10-22 21:42] jtheisen opened #44699 "More flexibility in Blazor's navigation system regarding browser history to support multi-page browsing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Blazor 7 adds the ability to add history entry state on navigating when using `NavigationManager.NavigateTo`. This helps a lot with a unique user interface I like to implement in my application, but I still have to hack around a lot.

[2022-10-23 03:49] ayakael commented on #32219
I'm encountering this on `linux-musl-s390x` on commit `c6865355c01e1fb170b65427846d939559ab3789` with sdk version `7.0.100-rtm.22519.39` when building  in a source-build workflow. Is there something I can do to mitigate this issue? It isn't a problem on `linux-musl-s390x` when sdk version `6.0.110`.

[2022-10-23 08:06] javiercn commented on #44693
Yes, but creating the writer is a one-time operation.

Also, most components have parameters, which is why the branch will not be taken in most cases. I'd rather us make a change that allows users to intercept and provide their own implementations of `parameters.SetParameterProperties(this);` rather than having to change the base class to allow for optimizations.

One such possibility likely invol

[2022-10-23 09:19] khteh opened #44701 "6.0.10 on Ubuntu 22.10 throws UpdateStatusAfterSocketErrorAndThrowException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

WTF just happened? Something that used to work.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Exceptions (if any)

[code]

### .NET Version

6.0.110

### Anything else?

_No response_

[2022-10-23 09:37] khteh commented on #44701
it's due to:
[code]
Changing it to a specific port runs. Why does a wildcard port result in this permission exception?

[2022-10-23 12:42] Eirenarch opened #44703 "ASP.NET Core Identity samples and Identity.UI reveal the user exists via password reset"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I might be missing something but it seems to me that both the MVC Sample of ASP.NET Core Identity and the Identity.UI project contain a bug that allows someone to find if an email is registered in the system. Both contain this code with an actual comment about revealing if the user exists

[c

[2022-10-23 13:52] nolanbradshaw commented on #3514
Is there an active workaround for this being used in production? I can reproduce this behavior in .NET 6 with multiple containers coming up at the same time

[2022-10-23 16:21] demming commented on #44696
@DamianEdwards Thanks for pointing it out. With `OutputCache` the major issue of this ticket doesn't reappear, this is great, albeit comes at a cost of an apparent performance degradation. Is this expected behavior or can I perhaps reconfigure it somehow? Here are my consistent observations, taken on the same machine multiple times in random order, with all other things being made equal.

## `Resp

[2022-10-23 16:31] sake402 commented on #44693
Well you do have a point here.

But the interface already implemented by ComponentBase.SetParameterAsync from IComponent was meant exactly for this. Instead of calling another interface method from ComponentBase.SetParametersAsync, Perhaps a refractor from
[code]

to
[code]

Now if I decide to implement my own ``SetParametersAsync``, I can still raise the lifecycle event by calling ``RaiseParamete

[2022-10-23 17:07] blowdart commented on #44703
Thank you for the report. We've had this one a few times. The thing is you can argue that the registration page does the same thing, it'll give a different result based on whether an email is registered or not.

We've never felt any pressing urge to address the reset password route because there are other routes to discovery. We'd look at a pull request though.

[2022-10-23 18:08] dougbu commented on #32219
@ayakael the problem is rather inconsistent and doesn't happen frequently. Building a second time is usually successful.

[2022-10-23 18:25] ayakael commented on #32219
The issue is that is guaranteed to happen at least once during the building process of dotnet7 for Alpine on s390x. As our builders restart the building process from scratch when there's a failure, it'll often take 5-6 full rebuilds before getting through. I'm more perplexed by it not being an issue on dotnet6, but suddently it is on dotnet7, suggesting a regression.

[2022-10-23 18:30] tnking83 commented on #33787
I found this issue once I added a custom 'AccountClaimsPrinicipalFactory'.  The issue only presents itself if I inject my HttpClient into the custom account class.  I fixed my issue by creating a separate instance of the HttpClient.  I used this [sample as a reference](https://github.com/dotnet/aspnetcore/blob/main/src/Components/WebAssembly/testassets/Wasm.Authentication.Client/PreferencesUserFac

[2022-10-23 19:36] nolanbradshaw commented on #33071
Any information on how to stop this issue from occurring currently? Running a .NET 6 app in production that has run into this issue.

Creation date of key: 2022-02-16T00:19:05.0768936Z
Activation date of key: 2022-02-16T00:19:04.5984669Z

[2022-10-24 01:09] Hona commented on #39104
I get this problem too - large application, does a little bit of work on the login event. High CPU usage about 20% ongoing while deadlocked.

[2022-10-24 01:11] Hona commented on #39104
[code]

using redirect mode & localStorage

[2022-10-24 01:22] stephentoub commented on #44535
@JamesNK, what are you looking for feedback on here?

[2022-10-24 01:35] JamesNK commented on #44535
Original question was about arguments to URI strings. We figured it out.

[2022-10-24 02:45] ayakael commented on #32219
I've reproduced this with ppc64le, thus seems to be specific to mono flavored runtime with dotnet7. This particular instance is with runtime: [link](https://gitlab.alpinelinux.org/ayakael/aports/-/jobs/882490/raw)

The instance where aspnetcore fails is shown [here](https://gitlab.alpinelinux.org/ayakael/aports/-/jobs/880188/raw)

Usually, error appears as so:
[code]
Thus occurs during restore. Fu

[2022-10-24 02:53] dougbu commented on #32219
I suggest examining a binary log and trying to determine what else is accessing the file. We don't use `mono`-based runtimes ourselves and unfortunately can't help directly.

[2022-10-24 05:48] #40215 closed

[2022-10-24 07:02] gwruck opened #44704 "Blazor MSAL - Login Does not Redirect if Body Wrapped in Authorize View in Layout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I identified that if the @body parameter in MainLayout of a standard Blazor Wasm project with MS Identity from template is wrapped in an AuthorizeView block, pressing Login will not result in a redirect.  It does nothing and no warning or error message is raised.

[code]

### Expected Behavio

[2022-10-24 07:34] glatzert commented on #29804
I'd like to see a simple and uniform way to do this as well.

The development story for blazor is another than the one for aspnet core and then there's `ApiControllers` which also seem to have a slightly different usage. Chiming in Client/Server shared models in blazor and it all get's messy, since they'll influence each other.

Optimally there would just be ErrorCodes on the DataAnnotation, that'

[2022-10-24 08:35] marcOcram commented on #6818
just stumbled upon this issue as well. Shouldn't it be enough to change the comparison to `OrdinalIgnoreCase`?

https://github.com/dotnet/aspnetcore/blob/39f0e0b8f40b4754418f81aef0de58a9204a1fe5/src/Components/Components/src/NavigationManager.cs#L226-L246

A workaround is to reload the application to the base path with the correct casing in index.html.

[code]

[2022-10-24 08:55] velmohan commented on #44681
@Tratcher  Thank you for the response. I have managed to collect some logs.

I wanted to highlight that the Swagger UI that I used in Linux did not respond to 401 requests (at least it did not ask me for  credentials) and I do not see any further follow ups. I therefore turned on Kerberos authentication on and tried using curl in Linux. I can see the following response is now sent from the clinet:

[2022-10-24 10:25] seikosantana opened #44706 "Launch Without Debugging Doesn't Block BackgroundService and Whole App but Debug Does"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a BackgroundService that looks like this
[code]

I also commented out any other irrelevant things in my entry point
[code]

The application seems to be stuck somewhere so that the `Host` doesn't get to initialize the web service
Here's the output
![image](https://user-images.githubuser

[2022-10-24 11:06] Eirenarch commented on #44703
This makes sense but this particular behavior is also bad user experience especially coupled with the fact that the user needs to type the email and might get it wrong. It would be OK to say that not hiding if an email is registered is a non-goal and removing this code but now we have the worst of both worlds - the info is leaked AND user experience is degraded.

I considered using the security vu

[2022-10-24 12:18] guardrex commented on #18840
I'm working on the doc updates to cover this. The workaround code shown above doesn't work, but setting the props on the hub connection in a component works for the client on both WASM and Server. The following approach for connection building is what what we show in the Blazor-SignalR tutorial. The following values are purely for demo purposes and aren't meant to make sense.

[code]

Output ...

[2022-10-24 12:31] vlada-shubina opened #44712 "Update the documentation about the templates on learn.microsoft.com for .NET 7"
learn.microsoft.com features 2 articles where the templates are mentioned:
- https://learn.microsoft.com/en-us/dotnet/core/tools/dotnet-new#arguments - list of the available templates
- https://learn.microsoft.com/en-us/dotnet/core/tools/dotnet-new-sdk-templates - the documentation on the templates available with .NET SDK, including specific options.

Consider updating the articles for .NET 7:
- i

[2022-10-24 12:38] javiercn commented on #18840
@guardrex I am not sure what you are trying to get at.

The snippet you described is for opening a hub within the app, not for configuring the Blazor Server hub.

For that, the only thing that works is:
[code]

[2022-10-24 12:46] guardrex commented on #18840
Our tutorials show building a hub connection on the client in a component as I show above. Using the code that you just showed doesn't seem to have an effect on that hub connection for the server timeout or the keep-alive. Setting the properties directly on the hub connection do work.

I might be ... ***perhaps very likely now that you just said that*** ... misinterpreting what the difference is f

[2022-10-24 12:50] javiercn commented on #18840
@surayya-MS can you help bring clarity to the docs?

[2022-10-24 12:57] guardrex commented on #18840
I'll just add one more bit on this.

Why isn't that performed in `Program.cs` as ...

[code]

... and besides that ... what about hosted WASM? We'd show this for the **Server** project ...

[code]

... and then in the **Client** project in a "opening a hub within the app" (or a component of a Blazor Server app, the "opening a hub within the app" part ...

[code]

Those server (Blazor Server, `Prog

[2022-10-24 12:59] javiercn commented on #44699
@jtheisen thanks for contacting us.

I am not sure that relying on the navigation state is the right tool for what you are trying to accomplish. I believe you would be better off implementing your own router to support this functionality. If you create your own router you can deal with events in the page however you see fit. Blazor will not intercept navigations if you are not using our built-in r

[2022-10-24 13:00] javiercn commented on #44712
@vlada-shubina thanks for letting us know.

Folks from each team, consider whether you added templates and untag your area accordingly.

[2022-10-24 13:02] javiercn commented on #18840
@guardrex that controls the timeouts on the server waiting on clients, the other controls the timeouts from the client waiting on the server.

[2022-10-24 13:21] surayya-MS commented on #18840
It is not possible to set serverTimeoutInMilliseconds in `Program.cs` like so `builder.Services.AddServerSideBlazor()
    .AddHubOptions(options => ..)` .  This is basically what the author of the issue asks us to implement. Either this or through `Blazor.start({ configureSignalR: builder => ...})`

The workaround  works because it overrides the build method of the builder to return the hub connec

[2022-10-24 13:32] jtheisen commented on #44699
On a quick glance it seems that the Router is married to the entire logic about routes in general, ie. `RouteTable`, `RouteKey`, `RouteEntry`, etc. Those are internal classes.

I agree with you that Blazor shouldn't add complexity for an exotic use case, but it should provide the flexibility to allow adding exotic use cases on top.

It seems I'd have to replace a major part of Blazor's internals f

[2022-10-24 13:51] sebdej opened #44713 "Authorization user role is case sensitive"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If I declare a required role for an authorization policy with `AuthorizationPolicyBuilder.RequireRole` or with the `Authorize(Roles="...")` attribute, the role name is taken untransformed.

If I add roles to a user with `UserManager<>.AddToRoleAsync` then the role name is transformed by `ILoo

[2022-10-24 13:55] ArgoZhang commented on #33282
@javiercn sorry for the delayed reply.
[BlazorApp1.zip](https://github.com/dotnet/aspnetcore/files/9852185/BlazorApp1.zip)

[2022-10-24 15:05] blowdart commented on #44713
`RequireRole` works on more role providers than identity, some of which are case sensitive, so it's working as expected.

Agreed that the either the authorize attribute and builder docs, or the identity create role, add user to role, get role etc docs need updated.

@Rick-Anderson which would you think gives more bang per buck? I'm tempted to hand wave over the attribute and build and say somethin

[2022-10-24 15:40] Eirenarch commented on #44703
Here is my suggestion and please let me know if there is a security issue that I am not aware of.

1. Forgotten Password sends a link where the URL contains the user id (not email, not username) and the code

2. The form only contains inputs for password and confirm password, no email, no username. The userId from the URL is used to identify the user.

This approach is more user-friendly because i

[2022-10-24 15:55] SteveSandersonMS commented on #39449
It's exactly the same as an `appsettings.json` file (identical format and capabilities, [as documented](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-6.0)), simply renamed to `blazor-devserversettings.json`.

We haven't been explicit about it in docs because there are almost no scenarios where you would need to configure this. It's more of an escape hatc

[2022-10-24 16:00] #44554 closed

[2022-10-24 16:31] MackinnonBuck commented on #44693
This sounds like a decent suggestion, however we'll decide on the best path forward here when we implement https://github.com/dotnet/aspnetcore/issues/29550.

[2022-10-24 16:31] #44693 closed

[2022-10-24 16:38] MackinnonBuck commented on #44673
@KristofferStrube Thanks for contacting us. Could you please clarify why you want to vary the chunk size? What is it that's not possible to do without changing the chunk size?

[2022-10-24 17:02] MackinnonBuck commented on #44667
Thanks for contacting us. Does this issue occur on other browsers besides Firefox? What exactly is it that you're adding that makes the response break?

[2022-10-24 17:02] brunolins16 commented on #44677
@martincostello Maybe we can do the same as here `IsPrimitive`:

https://github.com/dotnet/aspnetcore/blob/dcbfb829777da26078b31bace83736e6f3bf3295/src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs#L291-L292

I will do some experiments and create a PR if it works. Thanks for reporting this bug.

[2022-10-24 17:05] HaoK commented on #44551
@asp-net-api-reviews this is ready for review

[2022-10-24 17:08] DamianEdwards commented on #44696
@sebastienros

[2022-10-24 17:10] #44286 closed

[2022-10-24 17:15] DamianEdwards commented on #44696
Looking at your numbers, it seems that latency was higher for Output Cache, but so was throughput. Given everything is local (and without a profile) it's hard to draw any real conclusions from that. @sebastienros do you have any thoughts? Certainly, server profiles from both runs would show what's going on here.

[2022-10-24 17:32] SteveSandersonMS commented on #44632
@hjy1210 My guess is you're using MathJax to mutate the DOM directly, even when Blazor is trying to render it. This is explicitly not supported and can lead to arbitrary errors.

There is a supported way to use external JS logic to render UI within your Blazor-rendered UI, documented at https://learn.microsoft.com/en-gb/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?vie

[2022-10-24 17:32] #44632 closed

[2022-10-24 17:43] demming commented on #44696
@DamianEdwards The throughput figures with Output Cache are actually lower (1.64 < 2.13), which makes sense given the latency numbers. I'd be glad to provide more and more reliable data points. The local environment does certainly not provide a strict baseline profile. What server profiles are you referring to?

[2022-10-24 18:54] danroth27 opened #44715 "Document how to automatically refresh the browser when the Blazor Server connection is lost"
We should provide guidance on how to create a Blazor Server app that auto refreshes the browser if the connection gets lost. Should this be done by [customizing the reconnection handler](https://learn.microsoft.com/aspnet/core/blazor/fundamentals/signalr#modify-the-reconnection-handler-blazor-server)?

[2022-10-24 18:56] brockallen commented on #44715
I've been wondering how long it'd take you to think about this problem :)

[2022-10-24 19:00] danroth27 commented on #44715
I mean triggering an auto browser refresh if the circuit gets lost. I thought for sure we already had this documented already, but then I went looking for it and couldn't find it 😳.

[2022-10-24 19:13] Tratcher commented on #42751
Workaround (.NET 6):
[code]

[2022-10-24 20:14] DamianEdwards commented on #44696
Ah sorry I was misreading the results (Max vs. Avg).

By "profile" I mean a performance profile using CPU sampling, via the VS Performance Profile or [`dotnet trace` ](https://learn.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-trace)

[2022-10-24 20:20] mkArtakMSFT commented on #24563
Looks like this issue covers multiple concerns. There have been some changes in this area since this issue has been filed. if you still have any remaining issues, please file separate issues so that we can triage them again.
Closing this issue at this point.

[2022-10-24 20:20] #24563 closed

[2022-10-24 20:24] mkArtakMSFT commented on #25252
This is going to be addressed as part of https://github.com/dotnet/aspnetcore/issues/44690.
Still thinking about how to handle what @pranavkm has suggested above:

[2022-10-24 20:25] #25252 closed

[2022-10-24 20:28] mkArtakMSFT commented on #25313
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-10-24 20:28] #25313 closed

[2022-10-24 20:31] mkArtakMSFT commented on #25326
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-10-24 20:31] #25326 closed

[2022-10-24 20:33] mkArtakMSFT commented on #25415
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-10-24 20:33] #25415 closed

[2022-10-24 20:45] Viamo commented on #44578
@davidfowl Here is [SignalRTest](https://github.com/Viamo/SignalRTest) WPF project.
@BrennanConroy What do you mean? The latest version in NuGet is [6.0.10](https://www.nuget.org/packages/Microsoft.AspNetCore.SignalR.Client).
How to use ConfigureAwait(false) from new HubConnectionBuilder()*?

[2022-10-24 20:46] BrennanConroy commented on #44578
https://www.nuget.org/packages/Microsoft.AspNetCore.SignalR.Client/7.0.0-rc.2.22476.2

[2022-10-24 20:55] Viamo commented on #44578
@BrennanConroy Thank you! Updated to version 7.0.0.
But it still hangs (the same sources). How to use ConfigureAwait(false)?

[2022-10-24 20:57] BrennanConroy commented on #44578
[code]

[2022-10-24 20:59] Viamo commented on #44578
Tested with .ConfigureAwait(false); - it still hangs.

[2022-10-24 21:00] #44704 closed

[2022-10-24 21:01] davidfowl commented on #44697
@Tratcher I think this should be handled in the ExceptionHandlerMiddleware.

[2022-10-24 21:10] Tratcher commented on #44697
`if (operationCancelledException.CancellationToken == httpContext.RequestAborted) { /* less noisy */ }`?

[2022-10-24 21:12] davidfowl commented on #44697
Yep. Is returning 499 something standard? (I'll admit I haven't' seen that status code before).

[2022-10-24 21:14] Tratcher commented on #44697
Returning 499? There's nothing to return, the request was aborted. What gets logged is the only question.

[2022-10-24 21:22] brunolins16 commented on #44677
I give it a try but, if I got it correctly, [`IsPrimitive` ](https://source.dot.net/#System.Private.CoreLib/src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.cs,90) is based on the [CorElementType](https://source.dot.net/System.Private.CoreLib/R/74bfbae3c61889bc.html) that means some types will not be covered (that probably make sense for OpenAPI), eg. `decima

[2022-10-24 21:59] Viamo commented on #44578
I installed this files:

Microsoft Visual Studio Community 2022 (64-bit) - Current Version 17.3.6

But still cannot select target framework .NET 7.0 (I guess this is off topic)

**So I'll ask why SignalR with `.ConfigureAwait(false);` still hangs in .NET6 and can I somehow make it work properly in .NET6?**

[2022-10-24 22:13] adityamandaleeka commented on #44697
Triage: we can reduce the amount of logging for `OperationCanceledException` cases. If the check that @Tratcher mentioned above works with chained tokens, we can do that too.

This would have to happen in multiple places.

[2022-10-24 22:15] davidfowl commented on #44697
You're right. There's no client to respond to 😄

[2022-10-24 22:27] Coruscate5 commented on #19509
The Anonymous Authentication solution, it turns out, is the _only_ solution.

Apparently, Warmup.dll _requires_ the anonauth.dll to be used to register the app. I don't see any docs on this - can this be clarified in MSFT Background Service/IIS docs somewhere? Not sure the appropriate place

Proof:

![image](https://user-images.githubusercontent.com/17749895/197641524-b6e9315e-982a-43e0-ac9d-aafd9

[2022-10-24 22:29] Coruscate5 commented on #19509
TBC, I can still use Windows auth in my .NET Core/Framework apps by just adding the authentication scheme in code. I just need to allow Anon Auth at the IIS level for this solution to work, which is does quite nicely.

[2022-10-24 22:30] adityamandaleeka commented on #44706
I don't think we do anything special for this on Linux. Seems like it could be related to differences in how launching under a debugger is implemented for .NET on Linux. @noahfalk @davmason any ideas?

[2022-10-24 22:34] halter73 commented on #44701
This isn't a "wildcard port". It's binding to port 443 because you selected the "https://" protocol without specifying a port. "*" in this case just means you want to bind to all network interfaces instead of just one like "127.0.0.1".

On Unix systems, you need special permissions to bind to port 443 or any other port less than 1024.

If you want to bind to a wildcard port, select "port 0" instea

[2022-10-24 22:39] adityamandaleeka commented on #44685
@MarkStega Can you try removing the user secret `Kestrel:Certificates:Development:Password` which should prevent your app from trying to load the cert from disk?

@pratiksanglikar Is there any guidance for people who want to run apps which were formerly in Docker outside of Docker? Seems like this is a common issue those folks will hit if the tooling automatically set these things up for them.

[2022-10-24 23:02] davmason commented on #44706
@hoyosjs @mikelle-rogers do we have any existing issues with debugging on linux?

[2022-10-24 23:20] Rick-Anderson opened #44722 "dotnet new web profiles should list HTTPS profile before HTTP"
According to [this GitHub comment](https://github.com/OmniSharp/omnisharp-vscode/issues/5417#issuecomment-1289747617)

To reproduce the problem:

Follow the instructions at the [Microsoft Web API tutorial-Create a web project](https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-6.0&tabs=visual-studio-code#create-a-web-project-1)

[code]

^F5 and it launches a brow

[2022-10-24 23:38] mconnew commented on #44622
The WSDL is the issue here. When a client is generated from the WSDL, it uses the URL that was provided. While IIS seems to be case insensitive when routing requests, I could see a front end system (eg load balancer or offloaded authentication) being case sensitive and rejecting requests from a client generated with everything upper case when that's not the intention.

IIS does definitely expose t

[2022-10-25 00:29] #44701 closed

[2022-10-25 00:47] captainsafia commented on #40099
Another thing to add to the list now that we have support for `AsParameters` in minimal is to make sure that the `required` keyword is respected on properties that are passed in with the optionality checks that are provided in the framework.

[2022-10-25 02:22] JamesNK opened #44721 "Optimize ASP.NET Core publish size"
We should investigate what we can do to reduce the publish size of ASP.NET Core apps when trimming or AOT is enabled.

Feature level:
For example, if an app isn't using TLS, then ensure its types, such as HTTPS middleware and SslStream, aren't included. Or if an app isn't using HTTP/3, then QUIC + HTTP/3 types aren't included. etc. Excluding these high-level features might be difficult because the

[2022-10-25 05:00] yaakov-h commented on #43632
Coming back to this, I had a closer look again and I seem to have mixed up Configuration Path and Application ID. Oops

[Application ID](https://learn.microsoft.com/en-us/iis/web-development-reference/native-code-api-reference/ihttpapplication-getapplicationid-method) is what I'm after here, [Configuration Path](https://learn.microsoft.com/en-us/iis/web-development-reference/native-code-api-refere

[2022-10-25 05:31] dingsongjie opened #44723 "How can I diagnose the problem of growing working set memory"
Runtime: dotnet 6.0 in debian container

When I used Roslyn.Script.CSharp, I encountered a memory leak problem. I found that the leaked memory was not GC memory. According to the existing documentation, I could not find the cause of the memory leak through dotnet dump analyze and lldb. I would like to know what Documentation can help me

[2022-10-25 05:32] dingsongjie commented on #44723
![image](https://user-images.githubusercontent.com/10933723/197690632-0b4e144b-128b-45a4-8a2d-885fdb0244a3.png)the growing working set memory

[2022-10-25 05:35] dingsongjie commented on #44723
I observed through eeheap that the gc memory + loader memory is about 400MB in total, but the memory of the entire working set is more than 1G

[2022-10-25 06:25] seikosantana commented on #44706
Tried with the same code, having `await Task.Yield()` in the while loop works with Debug

[2022-10-25 07:34] noahfalk commented on #44706
I'm not aware of any current known debugger issues that have a symptom like this. There were some reported deadlocks in .NET 6, but they involved stopping at breakpoints and running function evaluation which doesn't appear to be happening here.

@seikosantana - A couple ideas on how we could make progress solving this:

1. If the whole project is self-contained/easy to set up and you are able to s

[2022-10-25 07:34] egbertn opened #44724 "JwtBearerHandler should check Authority & Issuer before trying to validate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Using multiple Identity Providers the BearerToken Validation code, validates all Idp's . This makes no sense and leads to false positives (e.g. hacking) having multiple exceptions on invalid tokens.

The problem is described here
https

[2022-10-25 07:57] KristofferStrube commented on #44673
Hey @MackinnonBuck thanks for the question. I actually found that the chunk size is a function returning a size which was a misread on my side. That behaviour could be used to have a changing chunk size in scenarios like streaming over the web where larger packets could be tried as long as they are supported and then scrolled back once the limit is reached.
That said I don't think the more advance

[2022-10-25 07:57] #44673 closed

[2022-10-25 08:10] seikosantana commented on #44706
Will try that one when i crash again.

I'll try creating something similar as minimum as possible without any dependency if possible

[2022-10-25 08:44] JamesNK opened #44725 "Hype up Kestrel overview page in documentation"
Kestrel is _really cool_. The Kestrel overview page in our docs is _really meh_ - [Kestrel web server implementation in ASP.NET Core](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-6.0)

Bring the hype:

* HTTP/3
* High performance (Tech Empower results)
* Lots of cool middleware
* Lots of cool app frameworks (RESTful Web APIs, gRPC, SignalR, Blazor Serv

[2022-10-25 08:45] seikosantana commented on #44706
Hi, I have added a Github repo link at the post.
https://github.com/seikosantana/DebugLaunchIssue

It's what I create with `dotnet new mvc` and add the `QueueProcessingService` to the template.

The issue still happens with that, only when app is started with debug.

[2022-10-25 08:53] robi26 commented on #39762
Hi, any update on this issue? We're having several blazor apps and development is a bit annoying because of these missing features.
thanks

[2022-10-25 08:59] rjgotten commented on #32767
What are the odds of those fixes to not inject into compressed streams or non-UTF8 streams, being backported to .NET 6?
Considering here that .NET 6 is LTS and .NET 7 is not.

[2022-10-25 09:03] seikosantana commented on #44706
In the discussion at a discord server, someone also had the same issue with this snippet
[code]

I tested it on WSL running Debian distro

[2022-10-25 10:08] gfoidl commented on #44725
You forgot another bullet:

* Lots of cool developers

😄

[2022-10-25 12:35] JulienSyn opened #44727 "Huge blazorpack bytes buffer when using Blazor Virtualize component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Here is a blazor page (blazor server):

Test.razor:
[code]

This is a very basic page which displays string in a Virtualize component.

### Expected Behavior

The behavior is correct but I have a big amount of data in the websocket channel when scrolling.

I have see this frame in google chro

[2022-10-25 12:58] nbiada commented on #36978
Hi all,
we have encountered a big big problem inside some big clients.
The problem are the DLLs that are blocked from AV and Firewall.
Using the AntivirsuProtection the situation sounds better but the heuristics engine of some protection systems (TrendMicro for example) block the loading phase in any case.
Switching to the BROTLI compression the situation goes better and we have less problem with

[2022-10-25 13:35] MarkStega commented on #44685
@adityamanddaleeka

Yes, removing the secret allows the application to run even with the pfx file present. But this is no more a solution then removing the pfx file as both were created by docker & it isn't evident that they are present.

I'd suggest that 'dotnet dev-certs clean' needs to include "%APPDATA%\ASP.NET\https" and having a new switch "dev-certs list" which listed all certificates and p

[2022-10-25 13:55] sebandraos commented on #17870
Is this no longer a binary choice when creating an RCL? If it still is, it looks like whoever wrote the tooltip came to the same conclusion as us.

![image](https://user-images.githubusercontent.com/6084391/197792792-ca368785-2333-4d6c-b321-69c559c53a82.png)

[2022-10-25 13:56] DamianEdwards commented on #32767
The changes are in the SDK, not the runtime, so the LTS consideration doesn't apply in the same way. Visual Studio 2022 has already updated to use .NET 7 SDK in the latest previews.

[2022-10-25 14:04] vlada-shubina opened #44729 "mvc F# template: conditions defined in the templates are not correct"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

`mvc` F# template: conditions defined in the templates are not correct.

I accidentally found out that conditions defined in F# `mvc` template are not correct.
Example of incorrect conditions:
https://github.com/dotnet/aspnetcore/blob/1e8fe7e4ba93935ebc10aee6ef2a4d2b3b0c05d9/src/ProjectTempla

[2022-10-25 14:09] DamianEdwards commented on #44722
These [changes were made intentionally in .NET 7](https://github.com/dotnet/aspnetcore/issues/41990) due to feedback about the experience issues that HTTPS can create when not properly configured. Visual Studio (& VS for Mac) was updated to prefer the HTTPS profile listed in `launchSettings.json` as VS contains extra logic that on project launch checks the status of the self-signed ASP.NET Core de

[2022-10-25 14:09] #44722 closed

[2022-10-25 15:53] Tratcher commented on #44724
Related: https://github.com/dotnet/aspnetcore/issues/13046, https://github.com/dotnet/aspnetcore/issues/38498

[2022-10-25 16:01] #39449 closed

[2022-10-25 16:41] JulienSyn commented on #44727
Sorry but I think this is not a compression issue.
I agree you should compress blazorpack messages.

But first, you may remove this useless data.

Or can you tell me more about this datas ? What do they represent ?

Thanks

[2022-10-25 16:45] captainsafia commented on #44677
I _think_ that should be sufficient given the version of OpenAPI schema that Swashbuckle is currently targeting. I went down a bit of a rabbit hole trying to figure out what the best type/format to use is given the different OAS versions but this seems to be appropriate for v3.0.

[2022-10-25 16:47] martincostello commented on #44677
Great, thanks for looking @captainsafia - I'll open a PR against Swashbuckle with that change shortly 👍

[2022-10-25 17:14] mkArtakMSFT commented on #42993
This requires significant redesign of how Blazor works. So we will need much more feedback from the community in support of this to consider it in the future.

[2022-10-25 17:17] mkArtakMSFT commented on #42922
@adityamandaleeka will you be able to handle the changes in the security areas ? We'll handle the remaining ones.

[2022-10-25 17:27] #38767 closed

[2022-10-25 17:34] mkArtakMSFT commented on #41252
@hez2010 can you please file a separate issue for this? Thanks!

[2022-10-25 17:38] mkArtakMSFT commented on #43835
@dougbu why is this important? Can we just not do this work or is there a push to get this resolved? so far we've seen no customer impact from this.

[2022-10-25 17:45] mkArtakMSFT commented on #11592
Related https://github.com/dotnet/aspnetcore/issues/43715

[2022-10-25 17:58] mkArtakMSFT commented on #43191
@javiercn can you please list the actionable items for us and what you think about those being in .NET 8 or backlog ?

[2022-10-25 18:39] jogibear9988 opened #44733 "Swashbuckle and also NSwag error with "no operations defined in spec" in a complex application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I've also reported an issue at:
https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/2525

But as I've searched, is ApiExplorer used by Swashbuckle to find controlers?

I've copied the code from a workin sample application, in a dynamicly loaded assembly in a complex app, wich cre

[2022-10-25 19:25] MackinnonBuck commented on #44655
@Julien-Marpault It looks like the name of that .resx file doesn't match the name of the model (see the extra "s" at the end). Could you try following the naming conventions suggested [here](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-6.0#dataannotations-localization) to see if it resolves your issue?

[2022-10-25 19:40] dougbu commented on #43835
@mkArtakMSFT this issue is important because

1. It necessitates hacks like the [`RemoveCshtmlFiles` target](https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/test/WebSites/Directory.Build.targetshttps://github.com/dotnet/aspnetcore/blob/main/src/Mvc/test/WebSites/Directory.Build.targets) in our build
2. Customers could easily over-publish their projects, reducing any benefit of trimming et c

[2022-10-25 19:56] captainsafia commented on #44733
Yes, ApiExplorer is used to discover controllers in a target application.

Am I understanding correctly that your controllers are defined in another assembly that is dynamically loaded at startup into the application where Swashbuckle is registered? If so, that would explain why you are not seeing the controllers. Swashbuckle evaluates the operations to populate by looking for the ApiExplorer desc

[2022-10-25 20:02] Julien-Marpault commented on #44655
It was a mistake when I wrote the ticket.
I found the solution in the meantime.

IViewLocalizer custom implementation plus assembly decorators.
I'll write a blog post about it and link it here.

[2022-10-25 21:07] TanayParikh commented on #39814
Hey @xiety, thanks for reaching out.

I just tried this out and was [unable to reproduce this issue](https://blazorrepl.telerik.com/cGFOmfwF07T6p0Kx12
). Can you please provide a minimal, public, GitHub repository which reproduces this issue?

<img width="1700" alt="image" src="https://user-images.githubusercontent.com/14852843/197882180-58f60fcd-3460-434c-b66a-17b801ded4f7.png">

[2022-10-25 21:51] MackinnonBuck commented on #44539
Going to close this as a dupe of https://github.com/dotnet/aspnetcore/issues/39409, since achieving that would resolve this issue as well.

[2022-10-25 21:51] #44539 closed

[2022-10-25 21:58] MackinnonBuck commented on #30344
There seem to be several open issues relating to this topic, so I'm going to link them here. Many of these can probably be closed when this feature gets completed:
* https://github.com/dotnet/aspnetcore/issues/32113
* https://github.com/dotnet/aspnetcore/issues/26985
* https://github.com/dotnet/aspnetcore/issues/9256
* https://github.com/dotnet/aspnetcore/issues/44715
* https://github.com/dotnet/a

[2022-10-25 21:59] xiety commented on #39814
Hi @TanayParikh. You removed `async` from my method and the problem is gone.

I reproduced it by adding `async` back:
https://blazorrepl.telerik.com/cQPuQTml54XlfWdS53

[2022-10-25 22:10] TanayParikh commented on #39814
Hmm interesting. I did that to avoid `CS1998`, however it's interesting that removing the `async` keyword results in an actual change in behavior.

<img width="835" alt="image" src="https://user-images.githubusercontent.com/14852843/197891364-a3a3d14b-a8e3-48a5-9054-3c450094d630.png">

Generally, if you aren't awaiting anything, you don't need to provide the `async` keyword (and can just return `T

[2022-10-25 22:18] TanayParikh commented on #44671
Hey @davhdavh, thanks for reaching out. I just tried reproducing the issue, however I'm not seeing the same error. Can you please provide a minimal, public, GitHub repository which reproduces this issue?

[2022-10-25 22:19] TanayParikh commented on #44671
@davhdavh are you seeing the same thing as https://github.com/dotnet/aspnetcore/issues/38552?

[2022-10-25 22:21] TanayParikh commented on #30344
Should we just close out the other issues now if they'd be resolved by this issue? The goal being to minimize dup's and ensure community feedback is centralized.

[2022-10-25 22:33] jkone27 commented on #25351
this actually already works nowadays

[2022-10-25 22:33] #25351 closed

[2022-10-25 23:06] MackinnonBuck commented on #30344
I'm not sure if I would say these issues are strictly dupes. For example, we could separately solve the automatic refresh problem without doing everything this issue describes. But depending on the scope of our solution to this issue, some of these other issues might become irrelevant or fixed as part of this one. Maybe this is still enough to warrant closing them - what do you think? We could als

[2022-10-25 23:18] noahfalk commented on #44706
@seikosantana - thanks for putting this together!
@hoyosjs - could you take a look at this?

[2022-10-25 23:31] wtgodbe commented on #44662
May be able to request exemptions on benchmarks, crank, and spa-templates since they don't contain production code

[2022-10-26 01:55] konradbartecki commented on #30344
Please also check the new comment on https://github.com/dotnet/aspnetcore/pull/44700#issuecomment-1291378451 as I added it after it was closed.

Alternatively even you won't want to merge #44700 I can help you test a currently untested scenario of "circuit rejected/evicted because it was disconnected and 3 minutes of inactivity passed" since I already did some research on it.

[2022-10-26 03:03] danroth27 commented on #36978
@nbiada Did you try using https://github.com/stavroskasidis/BlazorWasmAntivirusProtection to package the Blazor WebAssembly app to avoid these false positives?

[2022-10-26 03:15] drew-cooper commented on #36920
I'm also experience this issue, but in my case it's headers that are added in the `HttpResponse.OnStarting` callback.
These headers are logged when Response Body logging is off, but not otherwise.
The callback is set up in Middleware which is after the `HttpLoggingMiddleware` and before the ASP.Net Controller pipeline.

[2022-10-26 03:44] abushokry opened #44736 "aspnet:5.0-alpine docker image has reference to zlib-1.2.12-r0 which has vulnerability CVE-2022-37434"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We are using docker image [mcr.microsoft.com/dotnet/aspnet:5.0-alpine] and we found out that it has a zlib-1.2.12-r0 package with vulnerability CVE-2022-37434.

We have confirmed that by reviewing the packages in this docker images using the command:
`docker run --rm mcr.microsoft.com/dotnet/

[2022-10-26 05:16] ivoryguard opened #44737 "Debuggin Blazor Webassembly project of Visual Studio 2022 does not work correctly with a Visual Basic Library .NET 6 or .NET Standard Project containing Async method."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Debugging function of Blazor Webassembly project (like watching variable values/evaluating in Immediate window) of Visual Studio 2022 does not work correctly with referencing a Visual Basic Library .NET 6 or .NET Standard Project containing Async method.

All debuging functions except breakin

[2022-10-26 06:02] xiety commented on #39814
I tried to make a minimal reproducible example. Of course there is much more code to `await` in real use case.

[2022-10-26 06:32] martincostello commented on #44736
The image won't have been rebuilt for 5 months because .NET 5 has been out of support for 5 months: https://devblogs.microsoft.com/dotnet/dotnet-5-end-of-support-update/

You should update to .NET 6 to continue to receive security updates.

[2022-10-26 07:05] abushokry commented on #44736
Thanks @martincostello ... I wasn't aware of that. Do you know any temporary workaround until we migrate our code to .Net 6?

[2022-10-26 07:07] jogibear9988 commented on #44733
No, the Controllers are in the same assembly wich also starts the swashbuckle asp service. But this assembly is loaded into a complex application.
Wich Setup call looks for the Controllers? And can I print out wich ones are found? And where can I specify the Assemblies to search for?

[2022-10-26 07:25] Mike-E-angelo commented on #30344
Oh wow, we had a possible PR for this issue to be somewhat addressed in .NET7 and it was closed?  Am I understanding that correctly?

[2022-10-26 07:33] jogibear9988 commented on #44733
We solved it, thanks for the help.

We now used this calll:

      builder.Services.AddControllers().AddApplicationPart(typeof(RestConnectorService).Assembly).AddControllersAsServices();

even if the assembly from wich the server is run was the one with the controlers, we need to specify it in AddAppilcationPart

[2022-10-26 08:00] Webreaper commented on #30344
If you read the PR comments, it makes sense - as MSFT are planning to address this at a lower and more fundamental level, in .Net 8.

[2022-10-26 08:05] nbiada commented on #36978
As mentioned in the post we have already tried the BlazorWasmAntivirusProtection but the AV/FW engines block the files.

[2022-10-26 08:10] javiercn commented on #18840
Tagging this as SignalR as we would like to be able to set these options in the builder.

[2022-10-26 08:12] paulguz-datapa commented on #36978
BlazorWasmAntivirus' author @stavroskasidis will be interested to know about the problems experienced by @nbiada.  @nbiada, you may wish to raise the issue at https://github.com/stavroskasidis/BlazorWasmAntivirusProtection

I'm surprised that .Net 7 is days away and there is no official MS solution to this problem.

[2022-10-26 08:24] Mike-E-angelo commented on #30344
I did see that @Webreaper and while that is the understanding and expectation thus far, it is still quite a ways away (a year or so away?)... if something can be done in the meantime that would very much be preferred (would be my vote).

[2022-10-26 09:37] Gebov opened #44739 ".NET Core 7 Output Cache does not work with app.UseEndpoints() properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When configuring the endpoints using **app.Map** everything works as expected. But when the endpoints belong to a controller that is configured with **app.UseEndpoints()** the cache does not ignore one of  the paths to the controller.

I am using a call to UseEndpoints to configure a controll

[2022-10-26 09:45] javiercn commented on #42922
@mkArtakMSFT @surayya-MS will tackle the MVC ones.

[2022-10-26 10:00] #44681 closed

[2022-10-26 10:13] jetersen commented on #40869
@blowdart This is now live in Chrome 104 and above 😅

[2022-10-26 10:26] martincostello commented on #44736
I guess you could install the version you want manually in your own `Dockerfile` before building your app?

[2022-10-26 10:32] Tratcher commented on #36920
Related: https://github.com/dotnet/aspnetcore/issues/39310

[2022-10-26 12:08] Bellarmine-Head commented on #38336
It's nearly a year later, and .NET 7 is just around the corner.

@Pilchie - has anything been done in this regard?  anything discussed?

If not, I'm fully expecting for my .NET 6 projects to be offered package updates to .NET 7 versions... which presumably would be an unwise offer to take.  I'm expecting just as much confusion for folks as a year ago.

News of some progress would be nice, but I'm

[2022-10-26 12:14] surayya-MS opened #44742 "API proposal: enable configuring connection timeouts in HubConnectionBuilder"
## Background and Motivation

Related to #18840

When debugging a server-side blazor app customers often see this error pop up in the client (browser) while stepping through code:
Error: Connection disconnected with error 'Error: Server timeout elapsed without receiving a message from the server.'.
This can be disruptive, requiring a refresh of the browser to recover after continuing the debug ses

[2022-10-26 12:19] javiercn commented on #44736
@abushokry thanks for contacting us.

As @martincostello pointed out, 5.0 is out of support so as per our policy we do not make changes in this area.

/cc @blowdart @danmoseley

I am transferring this issue to the docker repo in case they have a suggestion, otherwise, they can close it.

[2022-10-26 12:20] davhdavh commented on #44671
Very similar problem at the very least.
I do see some comments there about stale hash calculations in the
service-worker-assets.js file, which is not related to this problem.

On Wed, Oct 26, 2022, 05:19 Tanay Parikh ***@***.***> wrote:

[2022-10-26 12:20] #44736 closed

[2022-10-26 13:24] SteveSandersonMS commented on #44699
There are always tradeoffs about how much extensiblity to add, given that each extensibility point (or any public API) becomes a thing that has to be supported permanently, and hence can block the framework from evolving in the long run. For routing, we've so far chosen to keep it largely decoupled from the core of the framework so that people can plug in entirely separate routers they create, whi

[2022-10-26 13:44] blowdart commented on #44694
What is the actual problem? What error messages do you see? How are you using it?

[2022-10-26 15:16] danroth27 commented on #36978
@nbiada Please raise this issue with the relevant antivirus vendors. We've had some success with other vendors improving their detection logic to avoid these false positives.

[2022-10-26 15:23] jmcgoldrick commented on #44697
Depending on where in the pipeline this is handled setting the response code to 499 (or some other value) can make for nicer request logging output, as an example of where it might be useful even though there is nothing to respond to.

[2022-10-26 15:27] fingers10 commented on #25731
@danroth27  .NET 7 release is few days ahead. Can we have any updates on this? Or this is planned for .NET 8?

[2022-10-26 15:39] foximoxi opened #44744 "dotnet workload install wasm-tools failed because of missing package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Cannot install wasm-tools in the project due to package installation failure:

dotnet workload install wasm-tools

Installing Microsoft.WebAssembly.Sdk.7.0.0-rc.2.22472.3-x64.msi .... Done
Installing Microsoft.Mono.browser-wasm.7.0.0-rc.2.22472.3-x64.msi ..... Done
Installing Microsoft.AOT.wi

[2022-10-26 15:40] TanayParikh commented on #30344
Please note, .NET 7 is already locked down at this point. We aren't merging any new features into 7.0 as we prepare the GA bits.

[2022-10-26 16:26] #32433 closed

[2022-10-26 16:47] TanayParikh commented on #39814
So the `async` isn't the issue per-say, it's the missing `await` if you have `async`. The following works as expected:

https://blazorrepl.telerik.com/GQFuGAFq46B8euzE23

[2022-10-26 17:07] xiety commented on #39814
And the following does not work:

[code]

https://blazorrepl.telerik.com/mcbucUvh06LNyOkj40

[2022-10-26 17:12] mkArtakMSFT commented on #39819
Thank you for your feedback.
We're closing this issue as the behavior discussed is by design. Publishing has no understanding of the environment you plan to host the application in.

[2022-10-26 17:15] mkArtakMSFT commented on #39819
@brgrz did you try out @vijayrkn 's suggestion to set the `ExcludeConfigFilesFromBuildOutput` setting in your project file to get the desired result?

[2022-10-26 17:18] KieranDevvs commented on #37787
I second that.

[2022-10-26 17:21] mkArtakMSFT commented on #37201
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-10-26 17:21] #37201 closed

[2022-10-26 17:27] workgroupengineering opened #44746 "[Minimal API] Http methods overload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

allow to call same Endpoint with different parameters.

eg:

`http://localhost:5114/attachments?docId=294D5044-C114-444A-A6F5-4715605104B0`

or

`http://localhost:5114/attachmentId?attachmentId=294D5044-C135-444A-A6F5-4715605104B0`

##

[2022-10-26 17:31] konradbartecki commented on #30344
Technically you could actually have a workaround of reloading the page automatically when we detect that circuit was evicted aka disposed aka rejected. That should be applicable to dotnet version from 5 at least to 7+

You can implement your own `ReconnectionHandler`, see: `src/Components/Web.JS/src/Platform/Circuits/DefaultReconnectionHandler.ts`

Although I do strongly believe that the current a

[2022-10-26 17:37] mkArtakMSFT commented on #38360
We are unable to repro this. Can someone please share a minimal repro project for us to try out?

[2022-10-26 17:38] mkArtakMSFT commented on #44133
Closing as we plan to update the templates in .NET 8 and this will change too.

[2022-10-26 17:38] #44133 closed

[2022-10-26 17:56] mkArtakMSFT commented on #43738
@coader can you please try out the latest 7.0 RC release. We know that the default project template works, so can't help you with this data. it should be something going on on your end.
If you find the culprit and you believe it's in Blazor, please file a new issue.

[2022-10-26 17:56] #43738 closed

[2022-10-26 18:15] jonsagara opened #44749 ".NET 7.0 RC2 breaks MVC build where a view references an F# model"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have an existing C# ASP.NET Core MVC application that references an F# class library. The F# library exposes several record types that the MVC application consumes directly. The view model class has a reference to one of these F# records and tries to display it in the corresponding view.

F

[2022-10-26 19:18] danroth27 commented on #25731
@fingers10 We haven't done any work on this for .NET 7. But we will evaluate the priority of this issue for .NET 8.

Please note that if an issue is important to you it's helpful to put a :+1: reaction on the **original issue post**. This helps us sort and prioritize issues that are most important to the community. Thank you for your input!

[2022-10-26 19:33] drma-dev opened #44750 "Blazor / SEO / index in search engines"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

blazor webassembly is not recognizable by indexing robots

### Describe the solution you'd like

from my searches, I understood that only the host version of WASM made it possible to be recognizable by search robots. but I saw that a p

[2022-10-26 19:37] blowdart commented on #44703
Thanks :) We'll chat about this in triage and consider what we change for 8.0

[2022-10-26 19:49] Baklap4 opened #44751 "Run Debugger on WebApi project which is stored within WSL2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We can't run a default WebApi project (which is stored in the ubuntu distro) and debug through it running from VS2022.

### Expected Behavior

To be able to host and run my C# solution within a wsl ext4 partition instead of having to use the slower NTFS which is mounted on /mnt/c/somepath.

#

[2022-10-26 20:04] #44733 closed

[2022-10-26 20:17] jtheisen commented on #44699
You're right, I have a way of doing this and it should be low on Blazor's priorities.

However, maybe it would be beneficial to make the routing stuff more modular in general. I've had some trouble with other routing related things:

- uri escaped slashes are still interpreted as slashes, that's even documented but surprising and sometimes very undesirable
- routing never matches if the last path

[2022-10-26 20:56] Dreamescaper commented on #26323
This certainly would be useful. If I have a generic component, I'd like to allow to omit generic parameter, and simply use object. I hoped to be able to create two components:
[code]

Another option would be to allow to provide default generic parameter, but that feels less "csharp-y".

[2022-10-26 21:00] wtgodbe commented on #44662
webhooks-signed can probably be exempted to, it's just tools for signing/running analyzers on the build output of aspnetwebhooks

[2022-10-26 21:38] TanayParikh commented on #44750
Do you have prerendering enabled in your app? https://docs.microsoft.com/aspnet/core/blazor/components/prerendering-and-integration?pivots=webassembly

[2022-10-26 21:41] RomBrz commented on #41377
Any update? Right now i'm stopping IIS before WU installation and seems to work.
But the problem to install everything instead of just update what is already installed continues.
The server with only Windows Server Hosting + Shared files (not the runtime) after WU installation get to update both Server Hosting + Shared Files AND the latest runtime.
I have to run the dotnet-uninstall to remove all

[2022-10-26 21:42] drma-dev commented on #44750
@TanayParikh no, because you are required to pay for a server. everything I'm avoiding. Or did I understand something wrong about the host option?

[2022-10-26 22:10] adityamandaleeka commented on #44739
@Gebov can you please share the repro as a public GitHub repo instead of a zip? Our policy is not to accept repros shared as zip files.

[2022-10-26 22:11] adityamandaleeka commented on #44706
@hoyosjs Feel free to transfer to the runtime repo.

[2022-10-26 22:17] adityamandaleeka commented on #44685
This seems like a reasonable suggestion.

cc: @vijayrkn Does your team own the Docker tooling? Do you know why we would need the user secret at all?

[2022-10-26 22:21] sipi41 commented on #38842
I'm having also this problem... what I did is to read the File Input content using Javascript, in other words have the BLOB data transfered via JS and then it did work but certainly, a random issue with MS inputfile component.

`
Stream stream = file.OpenReadStream(maxAllowedSize: 2147483648);

                    MemoryStream memoryStream = new MemoryStream();

                    await stream.Co

[2022-10-26 22:25] adityamandaleeka commented on #44725
cc @samsp-msft

[2022-10-26 22:34] konradbartecki commented on #32113
Workaround: https://github.com/dotnet/aspnetcore/issues/30344#issuecomment-1292378319

[2022-10-26 22:38] adityamandaleeka commented on #44622
@HaoK Can you please take a look and see what's causing the upper-casing?

[2022-10-26 22:55] CommonLoon102 commented on #38360
It is very simple to repro:
1. Update VS 2022 to the latest version
2. Create a new project
3. Select Blazor Server
4. Select `Windows` for authentication type
5. Click Play
6. All I see is a white page with nothing on it
7. If I select IIS Express next to the Play button and click Play, then the website works

I used Firefox 106.0.2 on Windows 7 to reproduce.

There are screenshots from one year

[2022-10-26 23:10] dougbu commented on #44662
Get an exemption for dotnet/ef6's release/6.4 branch too. Updating the exemptions list to include that one as well as benchmarks, crank, spa-templates, and aspnetwebhooks-signed&hellip;

[2022-10-26 23:20] DamianEdwards opened #44754 "Running ASP.NET Core apps using HTTPS on macOS results in Keychain Access prompts"
It seems we regressed some of the work we did for .NET 7 around improving the developer experience on macOS, specifically the change to have Kestrel load the developer HTTPS cert (i.e. the one created by `dotnet dev-certs https`) from a .pfx file on disk rather than from the macOS Keychain in order to avoid Keychain Access prompts for every new ASP.NET Core app created that's run with the https la

[2022-10-26 23:49] MackinnonBuck commented on #43750
@MihaMarkic I took a look at your repro. The behavior you're experiencing doesn't appear to be specific to `CascadingValue` - you can create a dummy component and replace all occurrences of `CascadingValue` with it, and you will experience the same issue.

Note that `OnParametersSetAsync()` isn't guaranteed to complete before the component starts rendering. My guess as to what's happening is that

[2022-10-26 23:58] abushokry commented on #44736
Clear. Thank you all. @blowdart @javiercn @martincostello

[2022-10-27 00:11] manureini commented on #38552
From my experience and some colleagues, this issue happens when we switch branches in Visual Studio and then rebuild the project. There must be definitely changes in the wasm code, but afaik it can not be reproduced every time.
But this issue relates to switching branches and feels like that old cache stuff is not cleared correctly and then the integrity of the files does no longer match the expec

[2022-10-27 01:00] #30014 closed

[2022-10-27 02:53] davidfowl commented on #44751
cc @vijayrkn

[2022-10-27 03:14] Gebov commented on #44739
@adityamandaleeka Here it is:

https://github.com/Gebov/aspnetcore-7-cache-issue

[2022-10-27 03:15] vijayrkn commented on #44751
Adding @dbreshears & @NCarlsonMSFT since this is related to wsl2 debugging.

[2022-10-27 03:46] davidfowl commented on #44746
Supporting overloading based on parameters isn't something we plan to do. It's very complex and the value isn't worth the complexity it would bring into the system. Your example is trivial, and it would be better to implement something specifically for this case using an `IMatcherPolicy` and custom metadata. Solving this in the general case is undesirable to the team.

Another more trivial work ar

[2022-10-27 03:48] davidfowl commented on #44746
@Tratcher did we ever port the query string matcher policy from YARP?

[2022-10-27 04:02] YuKitsune commented on #27882
Looks like this is still an issue, I'm running into it in .NET `6.0.300`

[2022-10-27 07:07] KLuuKer opened #44758 "API proposal: Add ReadOnlySpan<byte> to IDataProtector (un)Protect"
## Background and Motivation

Add `ReadOnlySpan<byte>` overrides so consumer apps are able to avoid a extra array allocation+blockbuffer.copy every time they try to protect\unprotect data.

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

[code]

## Risks

All of the existing protector implementations have to be changed to implement this change.
We could also have a defa

[2022-10-27 07:11] singh733 commented on #43230
@Tratcher  Below is the proposed solution. Please share your views.

[code]

This additional **_!string.IsNullOrEmpty(Connection)_** solves all purposes.

[code]
[code]

Below is .tt file change

` if (  (_<#=prop.Name#>.Count > 0 || !string.IsNullOrEmpty(<#=prop.Name#>))`

[2022-10-27 07:16] vindberg commented on #30344
Thanks for giving this workaround. I have implemented something similar for watchpedia.com -> Instead of automatic reload I'm tracking all links (_reconnectionDisplay -> show) and doing a full page load when the user clicks something. This way the page is only reacting when there is user interaction.

For any javascript events (method calls) I currently have to refresh the page with is not optimal

[2022-10-27 07:49] javiercn commented on #44750
@drma-dev what you are describing likely involves static prerendering, which is something we want to cover as part of https://github.com/dotnet/aspnetcore/issues/38114

[2022-10-27 07:50] javiercn commented on #44750
@drma-dev I am going to mark this as a dupe and I suggest you upvote the other issue instead so that we can keep track of the feedback.

[2022-10-27 07:50] #44750 closed

[2022-10-27 07:54] jn-ifm opened #44759 "Blazor _Imports.razor Namespace Collision"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Namespaces collide on @usings inside the _Imports.razor that leads to build error CS0234.

Namespace A: Blazor.Diagrams
Namespace B: Some.Blazor.Lib

_Imports.razor:
@using Blazor.Diagrams  -> build error###

### Expected Behavior

Namespace Blazor.Diagrams should not collide with Some.Blazor

[2022-10-27 09:22] yotkoKanchev opened #44760 ""AspNetCore.HealthChecks.SqlServer": "6.0.2" vulnerability package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

ASP.NET Core 6 "AspNetCore.HealthChecks.SqlServer": "6.0.2" -> "Microsoft.Data.SqlClient": "3.0.1" -> "System.Configuration.ConfigurationManager": "4.7.0" -> "System.Security.Permissions": "4.7.0" -> "System.Windows.Extensions": "4.7.0" referencing vulnerability package "System.Drawing.Common

[2022-10-27 10:37] Mazaaap opened #44761 "Monitor HTTP response buffer to detect lagging"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am trying to implement a MJPEG generator/proxy with ASP.NET 6 to display realtime frames without any lag. It works fine except when the network starts to congest (eg via mobile connection) and then the stream starts lagging.

I would

[2022-10-27 10:39] AceSyntax opened #44762 "Null-Conditional operator not functioning correctlly in Razor/Blazor and debugging in Edge is dieing sometimes."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I've added a little code to the standard blazor template app in the counter page to demonstrate this.
This code should work without an execption being caught.

private void IncrementCount()
    {
        currentCount++;

        TestClass t = null;

        try
        {
            Console.W

[2022-10-27 11:13] davhdavh opened #44763 "Blazor Webassembly always getting ERR_CONNECTION_RESET"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

https://github.com/dotnet/aspnetcore/issues/40962
https://github.com/dotnet/aspnetcore/issues/40189

Everything already described in these two bugs, but it seems nothing was ever fixed.

Problem is that the certificate cannot bind to whatever port Visual Studio magically configures.
e.g. wss:

[2022-10-27 13:01] #44658 closed

[2022-10-27 14:23] M1keF opened #44765 "Large API requests fail on Kubernetes Linux container with read-only file system"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have just upgraded my Web App from 6.0.9 to 6.0.10 and am now getting a 400 Bad Request response when making large requests to my API. My web app is hosted on a Kubernetes container using Linux with a read-only root file system with the ASPNETCORE_TEMP environment variable to be a separate

[2022-10-27 15:22] daniel-p-tech opened #44766 "[Blazor] Unexpected component initialization"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi,

I created a grid component that has been used in dozens of pages without any issues. However, I ran into a problem when designing a new page that has me puzzled. Please refer to the following outline of my grid component.

**BlzDivGrid.razor**
[code]

**BlzDivGrid.razor.cs**
[code]

**Bl

[2022-10-27 15:27] Tratcher commented on #44746
Nope

[2022-10-27 15:31] Tratcher commented on #17861
https://github.com/dotnet/aspnetcore/pull/44668

[2022-10-27 15:31] Tratcher commented on #33622
https://github.com/dotnet/aspnetcore/pull/44668

[2022-10-27 16:07] CommonLoon102 commented on #38360
I've tried to reproduce this on a Windows 10 machine with MSEdge on it. I couldn't.

[2022-10-27 16:11] Tratcher commented on #44760
What's the question? 'AspNetCore.HealthChecks.SqlServer' is not a package that we publish.
https://www.nuget.org/packages/AspNetCore.HealthChecks.SqlServer

[2022-10-27 16:15] Tratcher commented on #44765
@halter73

[2022-10-27 16:38] SteveSandersonMS commented on #44766
@daniel-p-tech Thanks for getting in touch.

This looks like a bug in your component code - it sounds like you're relying on the child components being created before the parent, which is not how things work in Blazor.

The product engineering team isn't in a position to debug your code, so we'd recommend you dig into what's going on and if you manage to track it down to something you're convinced

[2022-10-27 17:02] danroth27 commented on #44749
@jaredpar This looks like it may be a compiler issue? I'm able to reproduce this with just a normal debug build. It looks like the `Term` property is present, so I'm not sure why the compiler is complaining.

[2022-10-27 17:05] jaredpar commented on #44749
@danroth27 at a glance I'd say it's a dupe of https://github.com/dotnet/fsharp/issues/14088

[2022-10-27 17:10] mkArtakMSFT commented on #44769
Also, would you mind clarifying if this is happening in the debug scenario or not?

[2022-10-27 17:16] daniel-p-tech commented on #44766
Thank you for your quick response.

With respect to debugging, when can we expect a proper debugger for Blazor WASM applications? It has been several years and with all due respect, the current state of debugger is rather abysmal... I end up writing text to console etc anytime I need to troubleshoot an issue which is very time consuming an inefficient. I don't think there has been any improvement

[2022-10-27 17:20] SteveSandersonMS commented on #44766
@daniel-p-tech I appreciate the frustration. We do put a lot of work into improving the debugger but I know there are still friction points. What you've written doesn't directly give us any pointers towards specific things to improve. Rather than continuing on this thread (which was about a different topic) it would be great if you could file an issue with specific, detailed repro steps for debugg

[2022-10-27 17:21] mkArtakMSFT commented on #43317
Thanks for contacting us.
We've done some improvements in this area during .NET 7. Please try out the latest RC release of .NET 7 and see if you're still experiencing this issue or not.

[2022-10-27 17:26] Eilon commented on #42924
Possibly related/similar to https://github.com/dotnet/maui/issues/10898 ?

[2022-10-27 17:28] vzarytovskii commented on #44749
The issue was related to the reference assemblies.

I will move this one to the F# repo and take a look at it.

[2022-10-27 17:36] jonsagara commented on #44749
Thanks for response!

I can confirm that the [suggested workaround](https://github.com/dotnet/fsharp/issues/14088#issuecomment-1275845376) resolved the issue for me.

Does that mean the fix will be available in .NET7 RTM next month?

[2022-10-27 17:40] mkArtakMSFT commented on #44430
@Alerinos can you please share a minimum repro project hosted as a public GitHub repo, so that we can investigate this further. Thanks!

[2022-10-27 17:42] SteveSandersonMS commented on #44432
@marqdouj I'd recommend that, if you need to limit the number of times a query runs, that you don't execute the query as part of the rendering flow.

If you have code like this:

[code]

... then you're performing the query on every render. Instead you might consider defining an `IQueryable<T>` field on your component and replacing it only when the filter condition changes. For example,

[code]

[2022-10-27 17:43] halter73 commented on #44765
@M1keF Can you work around this issue by setting the TMPDIR environment variable to a directory the application has write access to? Maybe it could match ASPNETCORE_TEMP.

This is a regression, so we can look at backporting a fix that doesn't write to TMPDIR, but that is probably going to require using private reflection to call unix file mode APIs @eerhardt. On the other hand, it does seem a bit

[2022-10-27 17:44] mkArtakMSFT commented on #44262
Thanks for contacting us. It's not clear what is the concern here? Is something not working when you go with Individual User accounts option? And if so, what is the error that you're getting?
If you believe this is a real issue with the framework, please share a minimal repro project hosted as a public GitHub repo so that we can investigate this.

[2022-10-27 17:47] vzarytovskii commented on #44749
Yep

[2022-10-27 17:50] jonsagara commented on #44749
Great. Thank you!

[2022-10-27 17:50] #44749 closed

[2022-10-27 18:01] SteveSandersonMS commented on #44438
Yes, you can do things like that.

* If you're using ASP.NET Core as a host server, you'll probably want to implement some middleware that looks at incoming URLs and performs a redirection. Also see the general server-side routing docs at https://learn.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-6.0
* If you're building a standalone Blazor WebAssembly app without any host

[2022-10-27 18:28] #12213 closed

[2022-10-27 18:30] rafikiassumani-msft commented on #44729
@vlada-shubina We will be happy to accept a PR from you.

[2022-10-27 18:35] Alerinos commented on #44430
@mkArtakMSFT https://github.com/Alerinos/Virtualize-bug

[2022-10-27 18:46] davidfowl commented on #44746
@Tratcher is there a plan to?

[2022-10-27 18:52] Tratcher commented on #44746
We have a few tracking issues, but no plan on how/when to get them done. https://github.com/dotnet/aspnetcore/issues/21157

[2022-10-27 19:01] #44507 closed

[2022-10-27 19:01] #44489 closed

[2022-10-27 19:07] drma-dev commented on #44750
I didn't see anything there that made it clear that this functionality is expected, but ok.

[2022-10-27 20:13] Tratcher commented on #6818
@javiercn, Map isn't case sensitive.
https://github.com/dotnet/aspnetcore/blob/d5629a0534ced8534226e321bfefff475160963e/src/Http/Http.Abstractions/src/Extensions/MapExtensions.cs#L35
https://github.com/dotnet/aspnetcore/blob/d5629a0534ced8534226e321bfefff475160963e/src/Http/Http.Abstractions/src/Extensions/MapMiddleware.cs#L54
https://github.com/dotnet/aspnetcore/blob/d5629a0534ced8534226e321bfeff

[2022-10-27 20:20] MackinnonBuck commented on #44655
Glad you were able to resolve the issue, @Julien-Marpault! I'm going to close this issue out, but please feel free to comment with your blog post link for others who run into this.

[2022-10-27 20:20] #44655 closed

[2022-10-27 20:30] MackinnonBuck commented on #44439
@khteh Thanks for contacting us. Could you please provide a minimal repro project that demonstrates your issue, hosted as a public GitHub repository? This will help us investigate the problem and make a determination about where the issue lies.

[2022-10-27 20:41] BrennanConroy commented on #44662
signalr-client-cpp should be done?
https://dev.azure.com/dnceng-public/public/_build/results?buildId=65511&view=logs&j=bbc1cd3d-a354-5dde-2dd0-80d464a23c62&t=50be9449-fa7f-5647-1928-dcee7e4b9f37

[2022-10-27 20:42] Tratcher commented on #6818
[code]
If this works then it's not because of the casing. The biggest difference between Map and MapWhen is that Map trims the matched segment off of Path and appends it to PathBase. This change could be causing the path not to match something later in the pipeline. Map now has a preserveMatchedPathSegment that can be set to true to prevent modifying the path. See if that helps.
https://github.com

[2022-10-27 20:49] wtgodbe commented on #44662
That's CodeQL, we're "upgrading" to CodeQL3000

[2022-10-27 20:50] BrennanConroy commented on #44662
😠

[2022-10-27 20:54] Tratcher commented on #39469
What if you remove UsePathBase? A related issue implies that modifying the path can contribute to these issues.

[2022-10-27 21:03] wtgodbe commented on #44662
Oh, I'm wrong, I was looking at a build from July because that was the last green one. I forgot you submitted https://github.com/aspnet/SignalR-Client-Cpp/pull/89 - thanks!

[2022-10-27 21:12] Tratcher opened #44772 "UseUrls equivilant API for Http and Https ports"
## Background and Motivation

https://github.com/dotnet/aspnetcore/pull/44194 added config support in the host for mapping HTTP_PORTS and HTTPS_PORTS to URLS. @davidfowl suggested also adding an API for this on the host, similar to UseUrls.

https://github.com/dotnet/aspnetcore/issues/43135#issuecomment-1264538090

## Proposed API

Initial theories, needs work:
[code]

## Usage Examples

## Altern

[2022-10-27 21:13] dougbu commented on #44662
We should follow up on that PR to use the same patterns we've established elsewhere.

For one thing, `CodeQL3000` tasks are expensive and shouldn't run in every build. We've been scheduling the additions to the pipelines and, when the schedule runs, skipping as many non-compile operations as we can.

For another, we want to have TSA reports of problems the analysis turns up.l

[2022-10-27 21:25] BrennanConroy commented on #44662
This is already automatic as part of the task.

[2022-10-27 21:37] MackinnonBuck commented on #44143
The reason this is happening is because `ObjectGraphDataAnnotationsValidator` handles properties with types implementing `IEnumerable<T>` by recursively validating each `T`  instance. Since the `T` in the context of an `IDictionary<TKey, TValue>` is just a `KeyValuePair<TKey, TValue>`, the underlying `TValue` instances don't get validated. Labeling this as an enhancement since the behavior being d

[2022-10-27 21:48] dougbu commented on #44662
Sorry, I'm confused. The task automates a schedule of runs how❔

I see https://eng.ms/docs/cloud-ai-platform/devdiv/one-engineering-system-1es/1es-docs/codeql/configuring-codeql3000-ado-pipelines#additional-options mentions `Codeql.Cadence` but that defaults to 3 days and focuses on "database recreation". Elsewhere we've used a weekly schedule that has no impact on official builds and never runs i

[2022-10-27 22:35] halter73 commented on #44537
API Review Notes:

1. This seems useful considering the abstraction supports multiple Endpoint types many not implemented by the default socket transport
2. What if I want to have different transports listen on the same type of endpoint?
   - Can we have the endpoint pick the transport somehow?
   - Can we add an option to ListenOptions?
     - We could add a ListenOptions API later if this scenar

[2022-10-27 22:36] MackinnonBuck commented on #26790
Closing this out since this isn't a change we're going to make. See https://github.com/rrelyea/vscode-webview-blazor/pull/1 for an example of how to make Blazor WebAssembly work in a VSCode WebView and support navigation. https://github.com/dotnet/aspnetcore/issues/44510 will track adding more customization options to `WebAssemblyHostBuilder` for scenarios like this, where a valid approach might b

[2022-10-27 22:36] #26790 closed

[2022-10-27 22:53] NCarlsonMSFT commented on #44751
@Baklap4 I just verified, the fix for this is available in 17.4 Preview 5.0.

[2022-10-27 23:05] halter73 commented on #44612
API Review Notes:

1. Can we remove the Backlog option until we prove it's necessary?
   - Yes.
2. What about extending `IServiceCollection` instead of `IWebHost`?
   - Also seems fine.
   - `AddNamedPipes`? `AddNamedPipesTransport`? `AddKestrelNamedPipes`?
3. In the future, we could write something similar to `CreateBoundListenSocket` to allow per-endpoint acl config.

[code]

[2022-10-28 00:04] HaoK commented on #44622
The uppercase strings are coming from the call to NativeMethods.HttpGetApplicationProperties() which is coming from

![image](https://user-images.githubusercontent.com/6537861/198415713-5fefd5e2-7ea9-498e-a371-5363bc0efdc2.png)

So it looks like we get the IIS config back in all caps, we have some tests that seem to imply this behavior is expected where the mock config data is all in caps too:

ht

[2022-10-28 00:58] khteh commented on #44439
https://learn.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-6.0&tabs=visual-studio

Change `var builder = WebApplication.CreateBuilder(args);` to use `WebApplicationOptions`

[2022-10-28 01:28] mconnew commented on #44537
Is it worth looking at things at an even higher level than this? The scenario that CoreWCF needs to support is using Kestrel with a custom IConnectionListenerFactory to support NetTcp and NamedPipes, while being hosted in IIS and using the IIS Integration for HTTP requests. Eventually we'll need to go as far as adding support to the aspnetcoremodule for service activation of non-http protocols (or

[2022-10-28 02:24] davidfowl commented on #44772
I added a usage sample. `UsePort` should have `useHttps = false`.

[2022-10-28 02:32] davidfowl commented on #44765
I would like to introduce a temp file abstract that we write to that is controllable via DI that we use for these subsystems.

[2022-10-28 05:25] JamesNK opened #44773 "Improve IHttpRequestBodyDetectionFeature.CanHaveBody XML comment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

`IHttpRequestBodyDetectionFeature.CanHaveBody` has a lot of useful information in the XML doc:

https://github.com/dotnet/aspnetcore/blob/d5629a0534ced8534226e321bfefff475160963e/src/Http/Http.Features/src/IHttpRequestBodyDetectionFeature.cs#L11-L26

Unfortunately, whitespace is ignored in XM

[2022-10-28 06:09] mikestam commented on #5607
I thought this was already a Blazor feature.
Aurelia has great feature and examples of directives.  @show, @if, @disabled and whatever you implement.
This makes code clean and nice. Easy and intuitive to write and follow.
Yes, you can achieve this in different ways in Blazor  but do not  want to use component to wrap button or div for this, or numerous @if{) nor to use css framework dependent clas

[2022-10-28 06:54] Baklap4 commented on #44751
@NCarlsonMSFT Any chance i can already try out 17.4 preview 5.0?

[2022-10-28 07:13] JamesNK commented on #44537
NetTcp is over a socket, right? What prevents CoreWCF + Kestrel from using the existing sockets transport factory? Likewise, what would prevent CoreWCF + Kestrel from using the new named pipes transport that we're adding in .NET 8?

[2022-10-28 07:30] abonniko commented on #38082
Hi, I am having this exact same issue and tried everything mentioned here.

I created a new Blazor Webassembly project as a poc with Identity scaffolded.
Works fine locally, when the browser opens it redirects to the Microsoft login page.

However, when I publish to Azure blob storage with static web app activated this error appears.
I added the TrimmerRootAssembly tag to the csproj file, deleted

[2022-10-28 07:31] workgroupengineering commented on #44746
thanks for the tips. In any case, allowing overlords makes the code more readable and allows you to add metadata for each route.

[2022-10-28 07:38] predavasile88 opened #44774 "Compressed Request doesn't work in .NET 6 but it is ok in .Net Core 2.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Recently I worked on migration a web app from .Net Core 2.2 to Net 6.
During the testing phases I found an issue with a request that cannot be handled by the web app in .NET 6.

The error is:
_Unable to translate bytes __ at index __ from specified code page to Unicode_

The request is create

[2022-10-28 07:43] javiercn commented on #38082
@abonniko can you try with the latest 7.0 RC2 release?

[2022-10-28 08:55] abonniko commented on #38082
Hi @javiercn, yes it works when I target net7.0, thank you.

(had to clean browsing history in my main browser though)

[2022-10-28 09:24] demming commented on #44696
Sure thing, will do. For the time being it appears there's a memory leak in output cache. I've just noticed the RSS of my dotnet process going through the roof, under the same load and soak test as above, RSS ever increasing stepwise about each time cache should be evicted. Almost a gigabyte now.

But when I hit the response-cached endpoint in the same dotnet process it first steps a bit higher bu

[2022-10-28 10:51] surayya-MS commented on #24037
Thanks for reporting the issue. We are unable to reproduce this issue in .NET 6.0 or .NET 7.0 and given that .NET 5.0 is out of support, we do not plan to take any further action. If you still have this issue with the current branch of the repository, please let us know and include more details about your environment so that we can investigate.

[2022-10-28 10:51] #24037 closed

[2022-10-28 10:52] Gateswong opened #44776 "Angular project has a broken dependency upon creation. (Broken template)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Possible related PR: https://github.com/dotnet/spa-templates/commit/4776fc4646dec9ee49c24657e0d1462a29959ad2

Don't know if this is the right repo to post this issue since [spa-templates](https://github.com/dotnet/spa-templates) has issue tracker disabled.

In this PR, line `"@nguniversal/mod

[2022-10-28 12:09] M1keF commented on #44765
Thanks - I can confirm that the workaround works. For my use case, it leads me to question whether it would be better to just set TMPDIR to cover all eventualities and not use ASPNETCORE_TEMP.

Something I discovered whilst testing this out is that the response returned to the client is leaking out the location of the temp folder if it doesn't exist - is there a setting to prevent this detail bein

[2022-10-28 13:20] Regenhardt opened #44778 "Return enumerable as json lines"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Returning a big list of objects takes a long time to assemble (i.e. load from EF) and the na long time to process in the frontend again.

Concrete use case would be a flight comparison like skyscanner, returning multiple results as the

[2022-10-28 13:38] sbwalker commented on #19578
Note that this issue can be resolved by using the options pattern in ConfigureServices:

[code]
and then call UseStaticFiles() in the standard way (without any parameters) in Configure.

[2022-10-28 14:07] Liero opened #44781 "Router calls incorrectly calls SetParametersAsync multiple times with foreach route parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

WHEN I'm on `/index?queryparam=abc` and I click a link to `/index/999` which is handled by the same component,

THEN `SetParametersAsync` is called twice:
   1. With QueryParam=null
   2. With Id=999, QueryParam="abc"

[code]

This is causing a lot of issue when trying to load data based on p

[2022-10-28 14:31] yugabe commented on #32767
Thanks @DamianEdwards! I guess the middleware will still inject the `script` tag when it's able to, so manually putting it to the response will essentially render the script twice (when not using compression, for example)? It's not a big deal, but something else to consider.

I feel this shouldn't be an ambient setting in Visual Studio (which in turn, I expect, injects the magic environment variab

[2022-10-28 16:13] fdonnet opened #44782 "Blazor WASM integrity check failed behind corporate proxy (Zscaller)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Hi,

It seems Zscaller(proxy) does something on the _framework dll of my Blazor wasm app.
I checked the sha256 hash on the server and on a personal machine in local cache, and it fits, same result, and it works without issue.

But on a

[2022-10-28 16:21] fdonnet commented on #44782
Maybe the proxy is not changing the files but it doesn't want to load the _framework dlls even with the new/experimental "BlazorWasmAntivirusProtection" nugget enable... I don't know if the 403 is more important than the integrity check failed, But it is sad because the app is so lovely ;)

[2022-10-28 16:23] mconnew commented on #44537
Kestrel doesn't accept requests from IIS, so the IServer implementation can't be Kestrel when IIS hosted.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: James Newton-King ***@***.***>
Sent: Friday, October 28, 2022 12:14:09 AM
To: dotnet/aspnetcore ***@***.***>
Cc: Matt Connew ***@***.***>; Comment ***@***.***>
Subject: Re: [dotnet/aspnetcore] Kestrel: Supp

[2022-10-28 16:24] MackinnonBuck commented on #44439
@khteh `typeof(Program).Assembly.FullName` will give you the display name, which looks something like `"BlazorServerProject, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"`. You probably want to use `typeof(Program).Assembly.GetName().Name` instead. Could you try that and see if it resolves your issue? Thanks.

[2022-10-28 16:30] mkArtakMSFT commented on #44776
@MackinnonBuck can you please look into this? Thanks!

[2022-10-28 16:39] johnkwaters opened #44783 "Custom Authorization Attributes on Min APIs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

On our legacy ApiControllers, we have our own customer Authorization Attributes, for instance:

[FeatureAuthorize(Features.ManageRegions]

We would like to apply the same to MinAPI, both with attributes and fluent

### Describe the sol

[2022-10-28 17:22] johnkwaters commented on #44783
Use same approach as for AllowAnonymouse:

[code]
And

[code]

[2022-10-28 17:30] MackinnonBuck commented on #44776
Since the Angular template isn't intended to support server-side rendering anymore, I think we should just remove `app.server.module.ts`. @javiercn does that sound ok to you?

@Gateswong You mention:

This is surprising to me - I was able to observe an error in the VS "Error List" window after opening `app.server.module.ts`, but this didn't prevent the project from building and running successfull

[2022-10-28 17:35] BrennanConroy commented on #41045
There is a new version now.

[2022-10-28 17:35] #41045 closed

[2022-10-28 17:36] BrennanConroy commented on #38078
Try the newer version. Some of the shutdown logic was updated, and logging was improved a bit so if there is a hang hopefully it'll be easier to tell where it is coming from.

[2022-10-28 17:42] davidfowl commented on #44537
https://gist.github.com/davidfowl/2ae62e7c34c27a58faacf8b0463b1586

[2022-10-28 18:03] mconnew commented on #44537
@davidfowl, have you tested this in IIS? In CoreWCF we already replace the IServer with a wrapping one (to enable us to throw exceptions on service init as we need to init late due to IServerAddressesFeature) and this broke on IIS. The IIS integration piece throws an exception if the IServer is the wrong type so we have logic to not wrap on IIS (you don't get to see the exceptions on IIS anyway).

[2022-10-28 18:05] calnastic0 opened #44784 "Blazor Webassembly .dll files cannot be downloaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When the solution is running in debugging mode, it is good. But was making a deployment to my dev computer's IIS. And by accessing "localhost/app", the antivirus software blocked the download of all .dll files.

Searched around the internet, one solution from [here](https://github.com/dotnet/

[2022-10-28 18:06] mconnew commented on #44537
[Here's the issue ](https://github.com/CoreWCF/CoreWCF/issues/313)when someone hit this. The full call stack is there.

[2022-10-28 18:49] brunolins16 commented on #44683
@vanillajonathan The validation system doesn't differentiate the source and uses the word `field` as a meaningful generic message and unfortunately, we do not have plans to change it right now.  If you want to have a different message you can customize using attributes, as explained in this doc [Error messages](https://learn.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-6.0

[2022-10-28 19:01] #44438 closed

[2022-10-28 19:01] #44432 closed

[2022-10-28 19:50] TanayParikh commented on #44784
Hey @calnastic0, thanks for reaching out.

Have you had a chance to check out: https://devblogs.microsoft.com/dotnet/custom-deployment-layout-for-blazor-webassembly-apps/? It contains some tips which may be helpful in your scenario.

[2022-10-28 20:10] isaacrlevin commented on #35077
This sadly stops me from being able to port [PresenceLight](https://github.com/isaacrlevin/presencelight) to MAUI as I have to spin up a Kestrel server to handle auth redirects from the desktop client. Is there a workaround for this in the time being @davidfowl?

[2022-10-28 20:13] TanayParikh commented on #44782
Hey, thanks for reaching out.

Have you had a chance to check out: https://devblogs.microsoft.com/dotnet/custom-deployment-layout-for-blazor-webassembly-apps/? It contains some tips which may be helpful in your scenario.

[2022-10-28 20:18] calnastic0 commented on #44784
Hi TanayParikh,

Thanks for the reply. I actually have come across this solution, but after checking on the [nuget ](https://www.nuget.org/packages/Microsoft.AspNetCore.Components.WebAssembly.MultipartBundle) page it says "Using this package in production is not supported." Do you know what this alert means? If it is used for production, what could be the potential problems?

[2022-10-28 20:23] TanayParikh commented on #44784
It's an experimental, pre-release package, which is not yet officially supported. More details, and tracking the productization of that package is covered in https://github.com/dotnet/aspnetcore/issues/36978.

[2022-10-28 20:32] #44773 closed

[2022-10-28 20:50] juwens commented on #35077
This definitely needs to implemented ASAP. there are LOB apps out there, which are depending on this feature and are now stuck with Xamarin ☹️

[2022-10-28 21:11] TanayParikh commented on #42871
The file lock issues described above are likely a result of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1659321.

@BillHiebert thoughts on this?

[2022-10-28 21:14] Tratcher commented on #44783
We don't recommend custom auth attributes anymore. What component do you expect to run them?

Most of this logic should move into authorization policies.

[2022-10-28 21:16] calnastic0 commented on #44784
Thank you, also in that post another solution BlazorWasmAntivirusProtection was introduced, and it gets more frequently updated in comparison to MultipartBundle. Let us evaluate these two approaches.

[2022-10-28 21:25] NCarlsonMSFT commented on #44751
@Baklap4
17.4 should release in the next few weeks
For Edit 2: A mapped network path is not currently supported for the WSL Debugging feature, the best place to file that suggestion would be: https://developercommunity.visualstudio.com/VisualStudio/suggest
For Edit 4: I recommend using the "report a problem" button in VS to log an issue:
![image](https://user-images.githubusercontent.com/14239288/

[2022-10-28 21:30] demming commented on #44696
!Here's a [memory profile (png)](https://user-images.githubusercontent.com/5727019/198734698-1d088b52-64ce-4d82-8f82-940ecf2d2c2e.png)

1. running a 30s burst against the output-cached endpoint with 100 concurrent connections,
2. waiting just shy of a minute, and then
3. running a single request against the response-cached endpoint to populate the cache and avoid cache stampede, prior to the prett

[2022-10-28 21:35] TanayParikh commented on #44784
Marking this as a duplicate of https://github.com/dotnet/aspnetcore/issues/36978.

[2022-10-28 21:36] #43808 closed

[2022-10-28 21:57] bjorkstromm commented on #39469
Adding UsePathBase is probably part of the problem. Removing it however, misses the use-case; namely getting a Blazor Server App working behind a reverse proxy which forwards on specific path. E.g. if `/foo-bar` is configured on reverse-proxy to forward to Blazor app, then `/foo-bar` must be set as path base on the backend. If not, every request from the reverse-proxy to backend must rewrite path,

[2022-10-28 21:58] TanayParikh commented on #44216
<img width="1414" alt="image" src="https://user-images.githubusercontent.com/14852843/198739611-f3c72dab-32d0-4686-bf4a-15f99554311d.png">

Confirmed, not seeing the version appended for the script tag, which should be there due to `asp-append-version="true"`, in the published app.

[2022-10-28 22:00] fdonnet commented on #36978
Same kind of issue with zscaller corporate proxy even with BlazorWasmAntivirusProtection (bin conversion), the dl of the _framework files blocked. Issue open on the repo. Sad because the dev of the app was a blast with Blazor.  Cannot have access to the policies or proxy config ... words well elsewhere. I will try to choose other file extensions but with no real hope.

[2022-10-28 22:06] bjorkstromm commented on #39469
E.g. if AFD is configured to match pattern `/foo-bar/*` on a route, and incoming HTTP request has `/Foo-Bar/BaZ`, then AFD will match route, and forward `/foo-bar/BaZ` to backend. This somehow messes up Blazor Server, since client side script sees path `/Foo-Bar` while server-side got request on `/foo-bar`.

This isn't a problem when using YARP, since it will NOT change casing when forwarding requ

[2022-10-28 22:06] fdonnet commented on #44782
I will try to [BlazorWasmAntivirusProtection](https://github.com/stavroskasidis/BlazorWasmAntivirusProtection) again with other file extensions (next week). But without much hope. Zscaller home page quote "The Zero Trust Leader" hahaha ;)

[2022-10-28 22:25] NCarlsonMSFT commented on #44751
@Baklap4 Update on using the mapped drive approach, while the auto path mapping doesn't support this, you can work around it by manually setting the working directory and arguments in the launch profile. For example:
[code]

The obvious downside is that there is an absolute path for the working directory, which is inconvenient across multiple machines.

[2022-10-28 23:25] davidfowl commented on #44783
I'm not 100% sure this is easy to do with authorization policies but will be easier in the next version on .NET. You'll can do this in multiple ways today but using custom metadata makes using authorization policies challenging. In .NET 7 I would use a filter for this until we get https://github.com/dotnet/aspnetcore/issues/44551

[2022-10-29 00:20] #44746 closed

[2022-10-29 00:21] #2710 closed

[2022-10-29 00:22] davidfowl commented on #44778
You can do this today manually, I'm not sure overloading the behavior based on return type is wise. It should be a new type or this should be done manually.

This is good, but not something that we would add to the framework natively, that requires it to be ubiquitous.

[2022-10-29 00:39] davidfowl commented on #44783
I should add, this is easier with minimal APIs because you can now directly add an auth policy directly to endpoints. That would allow you to write one like above inline on the endpoint

[2022-10-29 00:41] davidfowl commented on #44783
[code]

[2022-10-29 01:19] ben-manes commented on #44696
fwiw, the imemorycache might be a bottleneck when judging from this [comparison](https://github.com/bitfaster/BitFaster.Caching/wiki/Performance) by a cache written by an azure engineer.

[2022-10-29 03:09] Gateswong commented on #44776
@MackinnonBuck

I guess server-side rendering is in use. Since it's a brand new project from template, login/registration things exist under Pages/ folder in asp.net core part.

[2022-10-29 04:50] davidfowl commented on #44783
[code]

This pattern is much harder to pull off. The attribute will be part of the metadata since that happens automagically but flowing that data to authentication handlers is much harder.

[2022-10-29 05:10] khteh commented on #44439
Yes, that works. What happens? How does that affect the application's CSS?

[2022-10-29 08:55] Baklap4 commented on #44751
@NCarlsonMSFT

Very nice, this solves a couple of issues i'm currently having so looking forward to it!

I'll add a suggestion to there 👍

The issue is not there when you load the sln from a mapped drive. Also renaming the file triggering the `MoveTypeCodeRefactoringProvider` works!

This seemed to work and will be my go to workflow for now 👍

I think all of my problems have been solved. Thanks a

[2022-10-29 10:09] workgroupengineering commented on #44746
Is there any way to intercept calls so that I can perform the desired behavior?

[2022-10-29 10:10] fdonnet commented on #44782
Tried this morning with .dat extension................... and it works. Thanks a lot to https://github.com/stavroskasidis/BlazorWasmAntivirusProtection ... it works. Happy. I will inform @stavroskasidis

[2022-10-29 10:26] fdonnet commented on #36978
Issue solved with  BlazorWasmAntivirusProtection (.dat conversion)... this package deserves a lot of love.

[2022-10-29 10:27] capdiem opened #44785 "[Blazor] CustomElement affects the results of MarkupString"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

added the package **Microsoft.AspNetCore.Components.CustomElements** 7.0.0-rc.2.22476.2

[code]

The content after `<custom-element />` will not be displayed.

### Expected Behavior

The content after `<custom-element />` should be displayed.

### .NET Version

7.0.100-rc.2.22477.23

[2022-10-29 11:48] leyuz opened #44786 "Blazor - Razor File - Renaming Injected Service Name Not Working in VS2022 17.3.6"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

As captioned.

Repro repo here https://github.com/leyuz/blazor_rename_bug_repo

Above repo was created with `dotnet new blazorwasm -ho`
SDK: `6.0.402`
OS: `Windows 10`

### Expected Behavior

The `Http` at line 45 should be renamed accordingly.

### Steps To Reproduce

1. Create the repo usin

[2022-10-29 11:50] leyuz commented on #44786
#14549 seems identical but closed.

[2022-10-29 12:19] fdonnet commented on #44782
solved with external BlazorWasmAntivirusProtection package.

[2022-10-29 12:19] #44782 closed

[2022-10-29 14:03] davidfowl commented on #44746
Something like this:

[code]

PS: Minimal APIs doesn't expose an API for understanding it's metadata model beyond a MethodInfo. This explicitly adds metadata saying the endpoint should match on query string.

[2022-10-29 18:05] workgroupengineering commented on #44746
thank you

[2022-10-29 18:06] davidfowl commented on #44746
Here's a more complete/advanced version of the query string matcher policy https://github.com/microsoft/reverse-proxy/blob/e64218a3f5f9f4c2601a6ce64fac7b34652c379c/src/ReverseProxy/Routing/QueryParameterMatcherPolicy.cs

[2022-10-29 18:37] jimbarrett33 opened #44787 "Visual Studio 2022 Template "ASP.NET Core Web App" converts hyphens to underscores in _Layout.cshtml css href, causing 404 on the css when debug/run."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Using Visual Studio 2022 Template "ASP.NET Core Web App", the new project converts hyphens to underscores in _Layout.cshtml css href for the css "isolation" file.

I know this seems minor but I (stupidly) spent a lot of time before I noticed the conversion of hyphens to underscores and I foun

[2022-10-29 19:01] #44683 closed

[2022-10-29 20:01] #43452 closed

[2022-10-29 22:01] #44784 closed

[2022-10-29 22:28] DamianEdwards commented on #32767
I appreciate your feedback @yugabe but as you can imagine we are trying to balance the experiences of different types of users and sometimes that results in less-than-ideal side-effects for some subset. In this case, it seems we should still pursue the idea being able to disable just the script-injection so that apps that wish to manually configure the script can do so cleanly.

I propose we add a

[2022-10-30 07:15] yugabe commented on #32767
Thank you @DamianEdwards once again. That seems like the best way forward. I appreciate you seriously listening.
🤜🤛

[2022-10-30 09:52] sturlath commented on #40764
My interest in this is the limitation to impersonate my tenants as host https://github.com/abpframework/abp/issues/9997

[2022-10-30 15:46] Regenhardt commented on #44778
Is there a way to write my own attribute then, to receive a returned IAsyncEnumerable or IEnumerable from a method and do the serializing into the http response there?

[2022-10-30 17:16] jxwaters commented on #44783
My current implementation of this authorization attribute uses policies under the hood, and automatically generates a policy name based on the list of features enum names, concatenated. How could this more cleanly be expressed using your recommended approach, without the custom attribute?

1. The custom attribute, which sets the Policy Name:

[code]

2, The custom policy provider that resolves pol

[2022-10-30 19:57] davidfowl commented on #44778
Yes, you can write your own [OutputFormatter](https://learn.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.formatters.outputformatter?view=aspnetcore-6.0)

[2022-10-30 20:04] davidfowl commented on #44783
@jxwaters this is exactly what we're going to solve in .NET 8 with https://github.com/dotnet/aspnetcore/issues/44551. It will let you express requirements as attributes. In your example it will eliminate step 2 and in step 1, the attribute would look like this:

[code]

This will be enough to flow an `IAuthorizationRequirement` as attributes without smuggleing them via the policy name (which is wh

[2022-10-30 21:28] mprather opened #44788 "v0.1.0-alpha4 of signalR-client-cpp introduced a breaking change relative to jsoncpp (linux builds)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Projects that are dependent on the microsoft-signalr package no longer compile with [v0.1.0-alpha4](https://github.com/aspnet/SignalR-Client-Cpp/releases/tag/v0.1.0-alpha4) when compiling on a linux platform.

### Expected Behavior

With the latest release of signalR c++ library, projects tha

[2022-10-30 22:32] mprather commented on #44788
The issue is that jsoncpp is now a dependency as of alpha4. This is not explicitly called out in the project's readme. If you are using a makefile, the fix is to add `jsoncpp` to the library list.

Please make sure the doc's state what dependencies are utilized.

[2022-10-30 23:41] BrennanConroy commented on #44788
Hmm, it should install and pull in jsoncpp automatically from vcpkg. What changes when you use make vs cmake? Does make require explicitly calling out dependencies?

[2022-10-31 00:01] #44684 closed

[2022-10-31 00:13] mprather commented on #44788
vcpkg is properly including jsoncpp. thus from a vcpkg perspective, there is no change. that part of setup is ok. the part that needs adjustment is the makefiles. you are required to list out each dependency via the `-l` parameter for gcc and clang.

For example, the following command produces an exe that leverages the signalR library.

< alpha4
[code]

alpha4 (note addition of `-ljsoncpp` at the

[2022-10-31 00:17] BrennanConroy commented on #44788
Gotcha, thanks for the explanation!

[2022-10-31 02:25] code2mars opened #44789 "Support object content along with custom status code in Results API"
## Background and Motivation

Allow return custom response object along with a specific HTTP status code. Currently ```Results``` class supports only returning custom status code using ```Results.StatusCode(int)``` would be great if this method can be extended to include custom object as part of response.

Today it is possible to achieve this using other APIs such as ```Results.Json(Object, JsonSe

[2022-10-31 02:54] davidfowl commented on #44789
Why not use `Results.Json`?

When that time comes, we'll have another API, right now it just supports JSON so I would use that overload.

[2022-10-31 03:37] code2mars commented on #44789
@davidfowl First of all thanks for quick response.

We could use the ```Results.Json()``` but it's just more about consistency. Most of ```Results``` class methods abstract underlying serializer but to send result with custom status code we need to use method that directly tied to serializer. So, thought would be good to have an API for sending object result with custom status code. I think as I s

[2022-10-31 04:36] davidfowl commented on #44789
Because there's a JSON method that covered this scenario and because we have problem details for error responses that let you specify the status code.

I don't have a problem adding an API like this for the reasons you mention, but:
- There's no content negotiation, if we add it, there'll likely be more APIs added as well.
- It'll have to wait until .NET 8
- The JSON overload of the API does this

[2022-10-31 05:28] davhdavh commented on #44671
Because it requires updates across different version while having previous publish build, it is quite difficult to share a repro.

[2022-10-31 07:06] #44571 closed

[2022-10-31 08:51] NewITCorp commented on #29474
Hi @ssougnez could you please elaborate more on changing GC mode?
because I think the mode by default is already Workstation.

thanks

[2022-10-31 08:52] sofu456 opened #44790 "dynamic endpoint in controller"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

client send a endpoint to server,if i want receive it and create a new endpoint in the controller, i found it is impossible.

i try use UseEndpoints twice, but only the first one will active.

help me, please.

### Describe the solutio

[2022-10-31 10:09] vlada-shubina commented on #44729
@rafikiassumani-msft could you please clarify what is the question to me?

I'm not able to help you this week due to other commitments. The templates might stop working correctly if the issue is not fixed, as they are not using correct syntax.
As mentioned in the issue they already do not work in `Debug` configuration of dotnet/sdk and/or template engine.

[2022-10-31 13:19] Gaulomatic commented on #5607
So this issue, although mentioning Angular 12 times and Aurelia six times, is now closed after .. four years - because it is not too specific. Great job.

[2022-10-31 13:26] TonyLugg commented on #5607
@mkArtakMSFT If you just looked at custom attributes in Aurelia like I suggest a long time ago, you would perhaps understand.  Custom attributes are somewhat "general", which is what we are all looking for.

[2022-10-31 14:27] SteveSandersonMS opened #44795 "NavigationLock throws uncaught JSDisconnectedException on Blazor Server"
Scenario:

1. Use Blazor Server
2. Add `<NavigationLock ConfirmExternalNavigation="true" />` to any page
3. Go there, then either do an external navigation and click "Leave" to confirm it, or even just close the browser tab directly

Expected: No exception

Actual: Logs to server console:

[code]

### Reason

Looks like this is simply because we do [this JS interop call](https://github.com/dotnet/

[2022-10-31 14:44] iykeypat commented on #39344
**error BLAZOR102:** `The scoped css file 'obj\Debug\net6.0\Component1.razor.css' was defined but no associated razor component or view was found for it.`

**Solution:** `I recreated the razor component with a different name, copied my code to it, scoped the css file again and copied the css from the former one to it and voila, the error stopped.`

[2022-10-31 15:35] MarvinKlein1508 opened #44796 "Binding to input datetime-local deletes day when entering 0 first"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Binding to an input of type datetime-local behaves different from the default HTML behaviour.

Take a look on this:
![blazor-bind](https://user-images.githubusercontent.com/32510006/199046014-cc599a5f-010b-455a-a5b2-4d6015c1081a.gif)

As you can see when I enter "0" for month it resets the in

[2022-10-31 15:50] MarvinKlein1508 commented on #44796
There is a workaround to prevent this behaviour. Preventing the property from being set to the default value. It works but now you won't be able to set it to the default value of datetime at all. Luckily I can ignore this in my case.
[code]

[2022-10-31 16:10] mkArtakMSFT commented on #44796
Tanks for contacting us. This seems to be the same #43824

[2022-10-31 16:10] #44796 closed

[2022-10-31 16:13] mkArtakMSFT commented on #44785
Thanks for contacting us.
CustomElement-s cannot be self-closing. Please change that usage to `<custom-element></custom-element>` and let us know if you are still observing the reported behavior.

[2022-10-31 16:36] SteveSandersonMS commented on #6818
@javiercn Since this is assigned to you, here's what we just discussed in a meeting:

 * In general Blazor has to walk a line between following ASP.NET Core conventions and following browser conventions. In this case, with URL case-sensitivity, the conventions disagree so whatever we do, somebody's going to be unhappy
 * Two possible workarounds for people who really want case-insensitivity:
   *

[2022-10-31 16:36] HaoK commented on #44783
@davidfowl Just to clarify what feels weird, the fact that the handler has to get it from the container via constructor?

Or are we looking for some mechanism to pass additional arbitrary data in the default context, with a new mechanism to request stuff (as opposed to just pulling it out of the container in the handler?)

[2022-10-31 16:39] SteveSandersonMS commented on #6818
I suppose one could argue that we already have some scenarios in client-side URL handling where it's case-insensitive, such as Blazor's routing system itself, which is derived from ASP.NET Core's server-side routing.

[2022-10-31 16:51] MarvinKlein1508 commented on #43824
This also happens when binding to a html input of type date, time, month, datetime-local.

In my case it doesn't need to be nullable to get this behaviour.

As a workaround you can deny the set of the default value for your property. For example:
[code]

[2022-10-31 16:53] MarvinKlein1508 commented on #43824
This issue might be connected with this one as well #40660

[2022-10-31 17:12] yugabe commented on #42284
@nh43de

I don't think this would be too effective. With trimming only the code your app actually needs is being delivered to the client. I guess it would be possible to trim the app multiple times based on multiple roots, but that exponentially increases the number of paths needs to be considered, and in effect, would result in types being split. If no types are split, not much is gained, but in

[2022-10-31 17:47] halter73 commented on #44551
API Review Notes:

1. The motivation is that writing code to add new auth requirements to an endpoint (e.g. min age) requires writing a lot of code today in many classes.
2. Discussed how the `IAuthorizationRequirement` marker interface works. All existing logic.
3. Are we okay with logic in attributes? Yes. It's super convenient.
4. Method vs property. We fee that a method better matches expectat

[2022-10-31 17:56] halter73 commented on #44758
@KLuuKer We're interested in learning more about your use case. Do you plan to use it with `MessagePackSerializer`? Anything else? This seems potentially useful if you need to slice byte arrays. Perhaps we could use this internally if/when we're using array pools.

Note: We'd have to ifdef the new API out of netstandard unless we make a whole new interface because netstandard does not support defa

[2022-10-31 18:10] nh43de commented on #42284
Just did the test - you can see for yourself.

[plantshark.io](plantshark.io) vs. [https://testplantsharkslim.azurewebsites.net/](https://testplantsharkslim.azurewebsites.net/)

![image](https://user-images.githubusercontent.com/7240342/199078608-95a33b15-ae20-49d1-b5c8-2d7a2b4a9706.png)

Untrimmed

![image](https://user-images.githubusercontent.com/7240342/199078653-52279f09-b618-4473-b4f4-10ba53

[2022-10-31 18:17] #42004 closed

[2022-10-31 18:18] HaoK opened #44803 "[Tracking] JWT requirements"
Gathering potential requirements for BCL JWT Apis

from @Tratcher
- read JWTs and EJWTs
- Create JWTs & EJWTs
- Fetch OIDC metadata(?)

from @blowdart
- Should Validate be separate, or always a function of Parse?
- Is decrypt a separate step to parse?
- Does anyone need to parse an invalid jwt? (someone asked for this if memory serves.)
- Do we support unprotected tokens at all?
- Do we accept or

[2022-10-31 18:37] BrianMikinski opened #44804 "AspNetCore Multi-Tenant Jwt Bearer Token Configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

@HaoK @Tratcher @blowdart

Hi y'all,

I'm trying to configure multiple jwt bearer tokens for authentication in an AspNetCore project.

Currently, I have a solution working based on utilizing a custom IOptionsMonitor. The basic strategy

[2022-10-31 18:41] Eilon commented on #35077
I don't think there's any change here between Xamarin and .NET MAUI. This is about supporting ASP.NET Core on Android/iOS/MacCat target frameworks.

[2022-10-31 19:01] #44667 closed

[2022-10-31 19:16] DamianEdwards opened #44805 "Support disabling auto-injection of browser refresh JavaScript via launch profile property"
As a result of the problems experienced by some customers in their ASP.NET Core apps when the browser refresh script is auto-injected, as detailed in #32767, I’m proposing that we add a new launch settings/profile property that can be used to disable the automatic injection of the browser refresh script.

The property would be named `disableBrowserRefreshScriptInjection` and would default to `fals

[2022-10-31 19:29] njannink commented on #43317
this is not something that I can easily validate a number of dependencies that we use don't support .net7 so I can't migrate to the RC to retest this issue

[2022-10-31 20:17] #44795 closed

[2022-10-31 20:33] yugabe commented on #42284
@nh43de Without delving too much into it, you're not comparing the right things. Your 4MBs include images on one site, and no images are present on the other. The only relevant basis for comparison would be if you pairwise took the assemblies in each project and compared those for size. If you think this is worth pursuing, I guess you could open a separate issue and supply a demo with some test re

[2022-10-31 21:23] adityamandaleeka commented on #44650
@abatishchev These handled exceptions during startup are benign. Are they affecting anything for you or do you just not like seeing them in the debug output window?

If the latter, you can disable them from being shown there in Visual Studio settings (Debug -> Options -> Debugging / Output Window) then toggle "Exception Messages" to off.

[2022-10-31 21:31] danilobreda commented on #35077
We have a javascript static application and API + SignalR thats run on a Asp Net Core Server on a WindowsForms application.
Supporting MAUI to run under the cloth a API/Static/SignalR is technically possible (For Windows, IOS, Android, ...)?

[2022-10-31 21:59] captainsafia opened #44810 "Support inferring rate-limited endpoints in OpenAPI"
Starting in .NET 7, it is possible to enable rate-limiting on certain endpoints. When this is the case, the endpoints might return a response with a 503 status code.

We don't currently pass this information to any OpenAPI annotations, but we should probably document this when it is possible to infer.

Note: this is similar to the problem with the global `ProblemDetails` service (pun intended) and

[2022-10-31 22:01] daniel-p-tech commented on #44766
I ended up defering the grid rendering until after ``OnAfterRenderAsync`` is called for the first time - this seems to work even though it requires extra ``StateHasChanged()`` call. Do you agree that this is a good practice to follow?

I see that your QuickGrid uses internal ``Defer`` component although I'm not sure I understand what this method accomplishes and how it ensures that  the ``<table>`

[2022-10-31 22:08] juliushardt commented on #44244
Possibly related: When terminal middleware is used with `WebApplication`, it is required to use `UseEndpoints()`, as described above. However, the [analyzer for ASP0014](https://github.com/dotnet/aspnetcore/blob/8dc432556c937465edb2cdff4ab2ad7cbb16bd92/src/Framework/AspNetCoreAnalyzers/src/Analyzers/WebApplicationBuilder/WebApplicationBuilderAnalyzer.cs) unconditionally suggests top level route re

[2022-10-31 22:20] adityamandaleeka commented on #44765
Having the temp directory location being configurable is tracked by an existing issue: https://github.com/dotnet/aspnetcore/issues/9466

Responding with a 400 instead of a 500 when the directory isn't set up correctly seems weird for sure. We're not sure how complex that would be to fix though.

@blowdart What is our guidance on having ProblemDetails enabled in production? In this case, that happe

[2022-10-31 22:23] adityamandaleeka commented on #44765
@brunolins16 points out that fixing this to be a 500 will prevent the exception from being exposed. 😄

[2022-10-31 22:24] adityamandaleeka commented on #44765
Retitled this issue to track that ^

[2022-10-31 22:27] adityamandaleeka commented on #44772
We're not super happy with the current shape of this yet... need to spend some time to get it right.

[2022-10-31 22:30] adityamandaleeka commented on #44622
Triage: sounds like we should update how ServerAddressesFeature populates this to use `APPL_MD_PATH` instead.

[2022-10-31 22:34] blowdart commented on #44765
_@blowdart What is our guidance on having ProblemDetails enabled in production?_

As it's been for 20+ years. Don't do that. If you are returning details somehow in prod by default that needs to change.

[2022-10-31 22:45] adityamandaleeka commented on #44761
@Mazaaap Are you trying to drop frames when there's congestion? If so, TCP isn't a great system unless you have extra application layer logic on top. The code you already have will wait, but by then there are buffers in place at virtually every part of the stack so it won't give you the level of control you seem to be looking for.

For instance, using WebSockets with application-level ACKs will al

[2022-10-31 23:18] MackinnonBuck commented on #44439
@khteh Glad your issue was resolved!

By default, `ApplicationName` is used to resolve the static web assets manifest file, i.e. `<ApplicationName>.staticwebassets.runtime.json`. So, using `typeof(Program).Assembly.FullName` effectively causes the manifest file name to be resolved to something like `<assembly name>, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null.staticwebassets.runtime.json

[2022-10-31 23:18] #44439 closed

[2022-10-31 23:33] TanayParikh commented on #44671
Why do you believe the modified date is the issue?

Is it because:

Which raises concern given `modified date < created date`?

[2022-11-01 01:53] capdiem commented on #44785
@mkArtakMSFT it works, thanks!

[2022-11-01 01:53] #44785 closed

[2022-11-01 04:33] davidfowl commented on #44790
It's not clear what you want to do from this description. Can you show a code sample? What is the dynamic endpoint in this situation? What causes it to be added? Where is the code for this endpoint and how does it get loaded into the application?

[2022-11-01 06:51] davidfowl commented on #44783
No that is pretty clean, but it's the fact that the IUserContext is popualated by middleware (that code isn't shown here).

I was thinking something along these lines. The factory looks like a great extensibility point but flowing your scoped user context to the call is tricky.

[2022-11-01 07:18] MarkusRodler commented on #10389
Maybe the upcoming Shared Element Transition API could help: https://developer.chrome.com/blog/shared-element-transitions-for-spas/

[2022-11-01 09:43] yugabe opened #44811 "Blazor linking/trimming issue in RemoteAuthenticationService: "System.NotSupportedException: ConstructorContainsNullParameterNames""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Creating a Blazor WASM (or hosted) application with any kind of authentication enabled breaks on startup when published.

Related: https://github.com/dotnet/aspnetcore/issues/44322 (closed possibly by mistake, as it seems it wasn't fixed in .NET 7 RC2), also https://github.com/dotnet/runtime/

[2022-11-01 09:44] yugabe commented on #44811
Tagging @javiercn, although I'm not sure a fix can be in place until RTM.

[2022-11-01 11:06] davhdavh commented on #44671
Because thats what msbuild says

Skipping
'...\obj\Release\net7.0\linked\Microsoft.AspNetCore.Http.Connections.Client.dll'
because 'obj\Release\net7.0\compress\n+2YGD1h.gz' is newer than
'...\obj\Release\net7.0\linked\Microsoft.AspNetCore.Http.Connections.Client.dll'.

On Tue, Nov 1, 2022, 06:34 Tanay Parikh ***@***.***> wrote:

[2022-11-01 11:52] hjy1210 opened #44812 "event handler cause render even nothing need to render"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Modify the Counter.razor as follows:
[code]
When user click the "Do nothing" button, the event handler do nothing at all, but it cause rendering process occur. The console output is the evidence.

If user click 3 times, the console output are:
[code]
Note: the first render string is due to fi

[2022-11-01 13:39] jxwaters commented on #44783
I do like the idea of being able to inject whatever you need into the handler. In this case, the user context is populated in middleware by a combination of things - some things come from claims, but some things are actually fetched from the database and stored in a server side session state cache, so this needs to be accessed with an async call. So this all happens in a middleware. If this helps

[2022-11-01 13:58] yodasad commented on #40330
I've encountered this too. The issue is still reproducible.
I do not want to publish test projects, so IsPublishable property is set to false.

[2022-11-01 16:33] mkArtakMSFT commented on #44812
https://learn.microsoft.com/en-us/aspnet/core/blazor/components/rendering?view=aspnetcore-6.0#suppress-ui-refreshing-shouldrender

[2022-11-01 17:02] spacecat commented on #44361
@perosb @runtop can you please try with version 6.0.402? https://dotnet.microsoft.com/en-us/download/dotnet/6.0
It seems only 6.0.400 is affected by this.

[2022-11-01 17:04] mkArtakMSFT commented on #44678
Closing this as a dupe of https://github.com/dotnet/aspnetcore/issues/38690

[2022-11-01 17:04] #44678 closed

[2022-11-01 17:05] yeganehaym opened #44818 "InputFile not working on Blazor Desktp in winform"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

i have made  an app with blazor server and launch dektop version with winform
but when i make release version of desktop application.
input file doesn't react to click of user
and i cant pickup any file
but on some systems opens but it looklike code doesn't continue
but it's ok on blazor serv

[2022-11-01 17:19] SteveSandersonMS commented on #44669
The team discussed this and we agree with the suggestion. That is, when calling `Blazor.reconnect()` there should be either a return value or an exception or something to indicate if the server is saying "No, that circuit ID is unknown". That would allow developers to react by reloading the page or even changing the UI to say "Sorry, your session has expired - please click here to reload".

Otherw

[2022-11-01 17:24] danroth27 commented on #30162
We think the important parts of this issue are already covered by other issues.

[2022-11-01 17:24] #30162 closed

[2022-11-01 17:34] danroth27 commented on #38360
Thanks @CommonLoon102  for providing these additional details. Given that this appears to be an issue with an out of support version of Windows, there doesn't appear to be anything to do in Blazor here.

[2022-11-01 17:34] #38360 closed

[2022-11-01 17:58] MackinnonBuck commented on #43750
@MihaMarkic Another thing that could resolve your issue is to modify the code you pasted to the following:

[code]

That way, there isn't an opportunity for there to be a "gap" between when the `if` statement is evaluated and when `SomeValue` is read and passed as a parameter to `<MyComponent />`.

Closing this issue out as by-design.

[2022-11-01 17:58] #43750 closed

[2022-11-01 18:17] markat1 opened #44820 "Blazor Server On Connection Authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have an issue with windows authentication in a blazor server "system.Objectdisposedexception: Safe handle has been closed". In #12051 [@stevensanderson](https://twitter.com/stevensanderson)

_To resolve this, we need some extra logic that, whenever the circuit connection becomes up (equival

[2022-11-01 18:18] MackinnonBuck commented on #44811
I was able to reproduce the bug on RC2, so it looks like the fix missed the cutoff. However, I tried the latest RTM build from https://github.com/dotnet/installer and everything worked as expected, so the fix should be available in GA.

@yugabe, would you be able to confirm if the latest RTM build resolves your issue?

[2022-11-01 18:20] MackinnonBuck commented on #44322
It looks like the fix missed the RC2 cutoff, but it will be included in the GA release. Feel free to try the latest .NET 7.0 RTM build from https://github.com/dotnet/installer to verify that it resolves your issue. Thanks!

[2022-11-01 18:30] #44551 closed

[2022-11-01 18:30] rafikiassumani-msft commented on #41433
Closing the issue. Will move the remaining items to .NET8 Planning.

[2022-11-01 18:30] #41433 closed

[2022-11-01 18:36] #39338 closed

[2022-11-01 18:43] #34545 closed

[2022-11-01 19:02] rafikiassumani-msft opened #44821 "Provide capability for route debugging"

[2022-11-01 19:02] rafikiassumani-msft opened #44822 "Hot Reload /hot restart features (e.g. top-level statements, modifying route mappings, DI, etc.)[ ] Improve error messages for optional parameters and `TryParse` failures: Support custom error messages when validation fails on minimal APIs&nbsp;#35501"

[2022-11-01 19:02] rafikiassumani-msft opened #44823 "Simplify CORS for Minimal APIs"

[2022-11-01 19:06] #39327 closed

[2022-11-01 19:14] #37098 closed

[2022-11-01 19:29] rafikiassumani-msft opened #44824 "[Epic]: Analyzers for Minimal APIs + MVC"
**Learn the Framework:**
- [ ] #35760
- [ ] #35761
- [ ] #35762
- [ ] #35812

**OpenAPI:**

- [ ] #34543
- [ ] #35727
- [ ] #28217

[2022-11-01 19:30] #36637 closed

[2022-11-01 19:46] marqdouj-spartan commented on #44432
Thanks [Steve](https://github.com/SteveSandersonMS)

[2022-11-01 19:52] TanayParikh commented on #44818
Hey @yeganehaym, thanks for reaching out. Just to clarify, are you using a Blazor Server app, within a WinForms app, through a WebView? If so, the recommended approach for this is to leverage Blazor Hybrid, which supports WinForms.

If you are in fact running the Blazor Server app within a webview in WinForms, you may be running into permissions issues. Note this is not a supported configuration.

[2022-11-01 20:12] danroth27 commented on #44825
Moving back to dotnet/aspnetcore since this isn't related to Razor tooling.

@vijayrkn @sayedihashimi Should this go to the VS web tools team?

[2022-11-01 20:35] #44537 closed

[2022-11-01 20:38] Tratcher commented on #43230
Try it and write the tests. The tests will be the easiest way to verify the behavior is as expected.

[2022-11-01 22:01] #44650 closed

[2022-11-01 22:05] DonovanAGBR opened #44828 "Default Blazor project won't build due to missing browser-wasm 6.0.11 package"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I create a new Blazor WebAssembly project targeting NET 6.0, the client project won't build due to the following error:

[code]

Upgrading to 7.0 is not an option at this time, however, if I create a new Blazor WebAssembly project targeting NET 7.0 (7.0.0-rc.2.22476.2), the project build

[2022-11-01 22:10] alex-jitbit commented on #41340
TIL that `fuget.org` also uses IIS + ASP.NET Core, just caught them during a recycle.
![image](https://user-images.githubusercontent.com/33555768/199351561-654fbdff-5c0a-42b2-9dc1-2648e7831e16.png)

How many more examples do we need?

[2022-11-01 22:25] TanayParikh commented on #44828
6.0.11 hasn't been released yet. 6.0.10 is the latest publicly released build.

If you want to use 6.0.11, you can try the `dotnet6` NuGet feed:

[code]

https://github.com/dotnet/aspnetcore/blob/main/NuGet.config

[2022-11-01 22:47] BrennanConroy commented on #44578
Since the app you provided does not reproduce the issue can you please provide a dump of the process when it freezes.

Also, when you say freezes, you mean it hangs until you close the application?

[2022-11-01 22:55] mkArtakMSFT commented on #40928
@TanayParikh can you please investigate this and summarize your findings and any actions to be taken for resolving this issue? Thanks!

[2022-11-01 22:57] mkArtakMSFT commented on #31801
@javiercn can you please investigate this and summarize your findings below? Thanks!

[2022-11-01 23:01] yugabe commented on #44811
Thanks @MackinnonBuck for the answer, I tried the daily build, and it seems fine as you say -- in a new project. 👍

I wanted to try my main project too, but I'm in a mini version hell there and I'd only be able to check that if I built the SDK locally, as the RTM packages are looking for versions ">=7.0.0" of packages (of which `-rtm` suffixed ones are not, obviously). Updating straight to the pub

[2022-11-01 23:03] Hona commented on #39104
A bit of context for on our Authentication page:

[code]

[code]

Here's some minimal snippets.

From lots of poking around with this obscure bug I'm guessing it is when there is long running work on the OnLogInSucceeded callback

[2022-11-01 23:05] MackinnonBuck commented on #44811
Understood, thanks for trying it out on a new project, @yugabe! I'm going to close this issue, but we can reopen it if we get more reports that this is still a problem.

[2022-11-01 23:05] #44811 closed

[2022-11-01 23:18] sahgilbert opened #44830 "React/Redux/ASP.Net Core templates for .Net 6.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

_No response_

### Describe the solution you'd like

As per [#465](https://github.com/aspnet/Announcements/issues/465), you stated that you would be dropping support for the React/Redux/ASP.Net Core template in .Net 6.0.

As per [#2788

[2022-11-02 00:18] #37380 closed

[2022-11-02 00:25] rafikiassumani-msft opened #44831 "[Epic]: Support returning values from client invocations"
Support server to clients acks so that reliable messaging can be implemented more easily. This would only be when using `Clients.Client()`. I think we should go back to the SendAsync (fire and forget) InvokeAsync (wait for ack) naming pattern. That's the one sticking point.

EDIT by @anurse: For clarity, this issue is tracking all work related to allowing values to be returned from client invocati

[2022-11-02 00:28] #5280 closed

[2022-11-02 01:47] abatishchev commented on #14455
+ @avnendra who might be interested in perf improvements in https.sys

[2022-11-02 02:18] davidfowl commented on #44783
@jxwaters can you share pesudo code for your middleware? It might not be worth improving if the solution is already simple enough.

[2022-11-02 02:30] jburman opened #44833 "Referencing Blazor WASM project from Server project with Blazor Server breaks hot-reload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

- Existing ASP.NET Core project where I use Blazor Server on several different pages (via component tag helper)
- Running dotnet watch run and hot-reload works fine
- Added a Blazor WASM client project and referenced it from the ASP.NET Core project and the hot-reload on the pages using Blazo

[2022-11-02 04:47] IndigoHealth commented on #7568
[This SO answer](https://stackoverflow.com/a/67686126/1637105) recommends using `Stores.MaxLengthForKeys` as a workaround for an annoying problem where the migration scaffolder changes the lengths of a bunch of keys (`AspNetUserTokens.Name`, `AspNetUserTokens.LoginProvider`, `AspNetUserLogins.ProviderKey`, `AspNetUserLogins.LoginProvider`) from 450 to 128 and back again. [This github issue](https:

[2022-11-02 05:11] TanayParikh commented on #44781
@Liero, can you please provide the minimal reproduction application as a publicly hosted GitHub repository?

[2022-11-02 05:20] yodasad commented on #40330
Overriding the `_GeneratePublishTestManifest` target (for instance, in a Directory.Build.targets) by adding the `'$(IsPublishable)'=='true' `condition fixes the issue:

[code]

It seems like the issue is fixed in 7.0: https://github.com/dotnet/aspnetcore/pull/43329.
The commit details are here: https://github.com/dotnet/aspnetcore/pull/43329/commits/e7f8f691b7c3d1337d6e8e66cd1ead24917b9aab

[2022-11-02 05:27] juho-hanhimaki commented on #44811
RTM bits resolved the issue for me.

[2022-11-02 08:57] Viamo commented on #44578
I just noticed that it freezes/hangs only when debugging.
If I remove line 38, then nothing freezes/hangs.
Microsoft Visual Studio Community 2022 (64-bit) - Current Version 17.3.6
[https://youtu.be/3i8Bgyckyfg](https://youtu.be/3i8Bgyckyfg)

[2022-11-02 09:07] jez9999 opened #44836 "Unused using statements are no longer greyed out"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Seemingly since I upgraded to Visual Studio 17.4.0 Preview 5.0, Visual Studio is no longer greying out my unused `using`s.  Here, I temporarily set IDE0005 to a warning to see what would've been greyed out:

![usings](https://user-images.githubusercontent.com/793830/199448936-2ebe3676-82d0-4e

[2022-11-02 09:29] juho-hanhimaki opened #44854 "Blazor WebAssembly Msal TryAddAdditionalParameter("prompt", "select_account") does nothing"
### Description

I am using the MSAL authentication with Azure AD trying to add prompt parameter to the sign in. It does not work as expected.

The observed request `https://login.microsoftonline.com/common/oauth2/v2.0/authorize?...` doesn't contain the prompt parameter and the request just completes with SSO.

### Reproduction Steps

RedirectToLoginSelectAccount.razor
[code]

The following weird

[2022-11-02 09:38] ritika-becker opened #44837 "ERROR java.security.cert.CertificateException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found"
Hi

Am using this library in my android app.
implementation 'com.microsoft.signalr:signalr:6.0.5'

Actually we are trying to connect android app with our local server using SignalR. We don't want to use some another hubconnectionbuilder methods. On live server everything is working fine. But on local server hub connection throws an exception.
Local server URL: https://192.168.1.150/axle-api

Here

[2022-11-02 10:23] javiercn commented on #44837
@ritika-becker thanks for contacting us.

Very likely what is happening here is that Java does not consider the certificate you are using on the server to be valid. If you are using the asp.net core dev-cert, it won't work with anything other than `localhost`. In this case, you'll have to create your own cert, configure kestrel to use it and configure java to trust it.

[2022-11-02 10:26] javiercn commented on #44830
@sahgilbert thanks for contacting us.

We do not plan to continue including a react-redux template inbox. As for the future, we are still working on separating the JavaScript bits of the template into their own project.

So far, what we did in 6.0 was to decouple ASP.NET Core of the frontend used for developing the SPA. You should be able to use whatever frontend you want following the guidance of

[2022-11-02 11:35] aaarichter opened #45136 "MacOS Issues"
### Describe the bug
since September I have issues with dotnet and macOSX certification - it stopped working at one point. I'm no backend dev, but we are authenticating against AD via redirect to MS
When I do I get

[code]

Also when I start the backend, the console outputs this:
[code]
and so on - the list of error continues but the frontend where no AD is used seems to work

### To Reproduce

##

[2022-11-02 11:40] asante07 opened #44839 "Deference of a possible null reference"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Adding a scaffolding identity to my project creates this warning error CS8602 Deference of a possible null reference.
I am using  VS2022 with sqlserver mgnt studio v18.12.1
Where do I put the  '?' or set it to =!null.
I am following the turorial. This is the link:  https://www.youtube.com/wat

[2022-11-02 11:40] Liero commented on #44781
I've added my test project to github: https://github.com/Liero/Bug_Router_Querystring_SetParameters

Please, investigate it.

If I'm right, this is already causing a lot of nasty bugs to many users that have not idea, because it is hard to spot.  It wasn't easy to track it down.

[2022-11-02 11:52] Albiniivari commented on #39344
Also having this issue at my work. The generated Scss files stays after switching branches, and thus creates this error. Is any solution found?

[2022-11-02 12:39] Venkat-Ayothi opened #44840 "Mainlayout Page prevents the responsive table rendering when element has 100% width"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We have created the Blazor application using the [Blazor project template](https://learn.microsoft.com/en-us/aspnet/core/blazor/project-structure?view=aspnetcore-6.0), so the **MainLayout** component is the app's [default layout](https://learn.microsoft.com/en-us/aspnet/core/blazor/components

[2022-11-02 13:09] yeganehaym commented on #44818
i dont know but its working on some systems.
on a system : first time couldn't open dialog but the next release could but not working now. looklike every time is different
we run app as admin
what permission i need to provide?

[2022-11-02 14:30] sykesbPragmatics opened #44844 "Blazor: Inconsistent Build Error RZ9985"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

My project is historically windows-based but recently I was forced to rework our automated builds in AWS to use Linux based build containers.  I have spent the last two days trying to identify the root cause why the build behavior is vastly different despite the same .Net Core SDK versions an

[2022-11-02 14:31] sykesbPragmatics commented on #44844
I am not arguing that having the namespace in the .razor file is "wrong", I am simply asking that if the error is going to be thrown it should be ALWAYS thrown so that the developer knows to resolve the issue.

[2022-11-02 14:45] BrennanConroy commented on #44578
Ok, so it freezes, not a hang. This is because at around 70 ticks the connection fails and exceptions are being thrown, because you're in VS it's triggering diagnostic events which slow down the process. If you a) have a faster computer this freeze is a lot less noticeable, b) are outside of VS these diagnostic events don't occur.

[2022-11-02 14:56] Viamo commented on #44578
At the end of the video you can see it hangs.
Could I avoid triggering diagnostic events in VS?
I'm using try catch. Why doesn't it help?
Why does not the same behavior happen on other exeptions? It happens only with SignalR.

[2022-11-02 15:42] karpikpl opened #44846 "Compiler warning when StateHasChanged is called from OnAfterRender"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

In order to force re-render the component, we had state changes in `OnAfterRender`, in order to display them , there was a call to `this.StateHasChanged();`.

This is causing a never-ending loop of renders. With server-side rendered ap

[2022-11-02 16:02] specimen151 opened #44847 "Extra config not available in IHosting startup classes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Using the new WebApplication in `Program.cs`,
Adding some extra config to the builder:
[code]

However these extra configs are not available to me in `public void Configure(IWebHostBuilder builder)` in `IHostingStartup`.

Seems to me (using the debugger) that IHostingStartup is called before

[2022-11-02 16:12] HaoK commented on #44783
Another wrinkle for us to make this better is that the main AuthorizationHandlerContext is created inside of AuthorizationService which is at the lowest layer which doesn't even have the concept of HttpContext/request, so we'd have to likely invent another context which would probably result in something more complicated than the inject/InvokeAsync in middleware

[2022-11-02 16:19] MackinnonBuck commented on #44185
We should address this after we implement https://github.com/dotnet/aspnetcore/issues/39409.

[2022-11-02 16:36] TanayParikh commented on #44818
Without more information on your environment and app configuration, there isn't much help we can provide here.

[2022-11-02 16:37] wtgodbe opened #44850 "Convenience methods for adding well-known limiter types with more fine grained keys"
## Background and Motivation

It's a common scenario to add a `FixedWindow`/`SlidingWindow`/etc. limiter partitioned based on, e.g., `httpContext.Request.Path`. Today our convenience methods only allow adding these well-known limiters blindly to an endpoint or controller

## Proposed API

[code]

## Usage Examples

[code]

[2022-11-02 16:47] BigMac0069 opened #44851 "QuickGrid Sorting - JSON Parsing Error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi,

I'm tried to use the Microsoft.AspNetCore.Components.QuickGrid in my project but i have a trouble with the blazor.server.js.
I always get this error in the navigator : Uncaught (in promise) SyntaxError: Unexpected token '<', "<!DOCTYPE "... is not valid JSON.
And i think it's the reason

[2022-11-02 17:17] BrennanConroy commented on #8717
**WIP: Still tweaking things**

<details>
<summary>hub_connection_builder.h</summary>

[code]
Usage
[code]

Talking points:
* `with_messagepack_hub_protocol` is exposed even if you didn't compile with messagepack enabled. Calling it would throw then. We can put it in an `#ifdef` but then user code would need to define the `DEFINE` in order to use the API.
  - Or we could look into exposing the `hu

[2022-11-02 17:52] akurone opened #44852 "SystemTextJsonOutputFormatter calls the serializer with unexpected Type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

hi there,
after a short talk with lovely people on runtime team (#dotnet/runtime/issues/77532); i think the issue below needs to be resolved here:
i want to utilize the new [json polymorphism features](dotnet/runtime/issues/63747):
[code]
what i expect to get is:
[code]
but as discussed in #4

[2022-11-02 17:56] BrennanConroy commented on #44578
Not sure, maybe turn off the diagnostic tools, Tools -> Options -> Debugging -> General -> Enable Diagnostic Tools while debugging.

If the problem doesn't occur outside of debugging in VS then this isn't really an issue.

[2022-11-02 18:27] yeganehaym commented on #44818
it doesn't matter its debug or release, theyre the same
win 10 we tested
we just work with windows

[2022-11-02 18:33] yeganehaym commented on #44818
we use webview2 runtime to show desktop window

[2022-11-02 18:47] andi0b opened #44853 "OIDC NonceCookie/CorrelationCookie not accepted by latest Chrome/Edge in some cases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a website that uses OpenID Connect with the `Microsoft.IdentityModel.Protocols.OpenIdConnect` library. It runs on HTTP behind an Azure App Serivice (reverse proxy), which communicates via the browser over HTTPS.

The OIDC middleware creates two cookies, `.AspNetCore.OpenIdConnect.Nonce

[2022-11-02 18:49] TanayParikh commented on #44818
Are you able to provide a minimal, public, github repository which reproduces this issue?

By:

Are you suggesting you're navigating to the Blazor Server app in the WebView2 control within the WinForms app? Or are you running a native Blazor Hybrid app using WinForms? You can learn more about Blazor Hybrid [here](https://learn.microsoft.com/aspnet/core/blazor/hybrid/?view=aspnetcore-6.0#blazor-hyb

[2022-11-02 19:11] Tratcher commented on #44853
You need to get the request scheme set right (HTTPS) for several reasons, fixing only this issue likely won't fix your whole scenario. The main issue is that your redirect uri will also be HTTP and the IDP will likely reject that.

[2022-11-02 19:53] andi0b commented on #44853
True, but we're setting the redirect URL via a config parameter (for some other reasons).

I know this is an edge case. But in my opinion it doesn't make a lot of sense that the default configuration can issues cookies that are rejected by major browsers.

[2022-11-02 20:29] Tratcher commented on #44853
Are you interested in sending a PR for the change? It will mostly involve updating tests.

[2022-11-02 20:36] TanayParikh commented on #44828
@balachir any ideas on what may be going on here?

[2022-11-02 20:39] TanayParikh commented on #44828
@DonovanAGBR can you please try the following in CLI:

[code]

Does that work as expected? Trying to determine if this is a VS issue or an SDK issue.

[2022-11-02 20:49] TanayParikh commented on #44828
Please try:

[code]

and then repeat the steps from above:

[code]

[2022-11-02 20:53] MackinnonBuck commented on #38552
Thanks for your partcipation, everyone.

So far, we've been unable to reproduce this issue. In order for us to proceed with the investigation, could someone please provide a minimal repo project that demonstrates the issue, hosted as a public GitHub repository, along with detailed repro steps?

Also, this issue calls out .NET 5 and 6 specifically, but no one has mentioned experiencing this in .NET

[2022-11-02 21:03] vsfeedback opened #44857 "When using Hot Reload endpoints get duplicated"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/When-using-Hot-Reload-endpoints-get-dupl/10134744)._

---
[severity:It bothers me. A fix would be nice] [regression] [worked-in:17.3.3]
I'm working on an API project using .NET 6, and when using hot reload, after a certain number of times, the method (and thus the enpoind) gets duplicate

[2022-11-02 21:17] MackinnonBuck commented on #44430
Thanks for the repro project, @Alerinos!

The `Virtualize` component requires that all content items have identical height, and this includes the placeholder content. After changing the repro project that you provided to have identically sized items, the scrolling weirdness demonstrated in your video goes away.

Could you confirm whether applying this fix to your own project solves the issue? Than

[2022-11-02 22:08] adityamandaleeka commented on #44847
@specimen151 This is the current expected behavior. The `IHostingStartup` is initialized during `CreateBuilder` (during which all your configured callbacks will run).

Do you need to be able to access the config you added at this point? If so, you could switch to using the Generic Host (https://learn.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-6.0).

[2022-11-02 22:24] adityamandaleeka commented on #44839
Thanks @asante07

@deepchoudhery Looks like this is coming from the scaffolded components (e.g. https://github.com/dotnet/Scaffolding/blob/6d3728505614a3a843afde2cc857ca72acace705/src/Scaffolding/VS.Web.CG.Mvc/Templates/Identity/Bootstrap4/Pages/Account/Account.Logout.cshtml and https://github.com/dotnet/Scaffolding/blob/6d3728505614a3a843afde2cc857ca72acace705/src/Scaffolding/VS.Web.CG.Mvc/Templa

[2022-11-02 23:12] Alerinos commented on #44430
@MackinnonBuck When it comes to adding height in css (like below) there is still a problem.

https://github.com/Alerinos/Virtualize-bug/blob/main/Pages/Articles.razor#L3

[2022-11-02 23:16] MackinnonBuck commented on #44430
@Alerinos, could you apply that same styling to the `<Placeholder>` as well? For example:

[code]

[2022-11-02 23:20] vijayrkn commented on #44685
@Ncarlsonmsft - Is there a GH repo to transfer this to or would you require a devcomm issue to track this?

[2022-11-02 23:33] Alerinos commented on #44430
@MackinnonBuck
Seems to be working, thanks for your help. You need to complete the documentation. I will test in production and let me know if there are any problems.

As we are talking, I have another problem, I want to change the URL while loading. (In the case of refreshing the page, the user will return to the element he saw, not from the beginning)
Unfortunately, I have this problem:
https://

[2022-11-02 23:38] MackinnonBuck commented on #44430
@Alerinos sorry, but it's hard to tell what the issue is in that video. What's going wrong, exactly?

This is something we don't support yet, but there is an issue tracking it: https://github.com/dotnet/aspnetcore/issues/26943

[2022-11-02 23:45] Alerinos commented on #44430
@MackinnonBuck
In fact, there is no problem in the movie. The point is that when an event is triggered:
[code]
The page goes up to the top instead of accepting the URL and staying put.
I don't know if this is a NavigationManager or Virtual component problem

You can see the problem here. The page goes up by the way, every time the url changes again so how would the component work and try to change

[2022-11-02 23:50] MackinnonBuck commented on #44430
Yeah, unfortunately `NavigationManager` does this and currently there isn't API to disable that behavior. But you can work around it today by doing something like this: https://github.com/dotnet/aspnetcore/issues/40190#issuecomment-1203857906

Also, regarding:

The [docs](https://learn.microsoft.com/en-us/aspnet/core/blazor/components/virtualization?view=aspnetcore-7.0#advanced-styles-and-scroll-d

[2022-11-02 23:54] NCarlsonMSFT commented on #44685
@vijayrkn https://github.com/microsoft/DockerTools

[2022-11-02 23:58] Alerinos commented on #44430
Thank you very much for your help.

@MackinnonBuck  I see one more potential problem, I need to test it.
What if the application uses RWD? The page on the computer looks different than on the mobile device? Example:

![image](https://user-images.githubusercontent.com/42449535/199623910-0b15edef-c941-4ba8-86a7-1640648f0e08.png)

Once, when I tested (a year ago) there was a problem with it, then I l

[2022-11-03 01:00] #44694 closed

[2022-11-03 01:36] WingZer0123 opened #44858 "Using SignalR Clients.All.SendAsync in a registered Middlware without disconnecting when making a request to trigger middleware."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a middleware that looks like this. Logs all requests coming into an application into MongoDB for historical data purposes. I want to push these new logs to a SignalR Hub to all clients connected before it is saved to MongoDB. SignalR gets disconnected when doing a `Clients.All.SendAsyn

[2022-11-03 02:17] davidfowl commented on #44858
I'm confused by the question, are you asking how to inject the `LogRequestService` into middleware?

What does this mean? Are you saying that refreshing the page kills the websocket connection? If so, that's normal, expected and by design. You need a different URL that is the logviewer that can watch incoming requests.

[2022-11-03 02:27] WingZer0123 commented on #44858
I apologize for not being as descriptive as I should have been. This is definitely more of a by design or not question. No, the websocket connection is established with no problem having the the service injected into the middleware and registered as a singleton and the method in place to being called.

When I perform a POST request through postman to attempt to send out a comet push within the mid

[2022-11-03 02:56] juho-hanhimaki commented on #44854
I am pretty sure this is a bug. Hopefully someone can take a look and reproduce. I don't think I am able to test using the newer rtm.22513.3 packages as they complain about downgrades from 7.0.0 (which isn't out yet).

https://github.com/dotnet/aspnetcore/issues/42580

https://learn.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/additional-scenarios?view=aspnetcore-7.0#customize-the-l

[2022-11-03 03:54] japui-coder commented on #43824
InputDate resets when typing 0 as day or month #43824

[2022-11-03 03:57] japui-coder commented on #44769
Lack of useful debug information #44769
 Open
[vsfeedback](https://github.com/vsfeedback) opened this issue on 29 Jul · 5

[2022-11-03 06:58] yeganehaym commented on #44818
Blazor Server app in the WebView2 control within the WinForms app.

github repo is private but i put form1 code here

[code]

[2022-11-03 07:56] camistein commented on #44669
Any possibility this could be available in a minor version instead of waiting for next major version ?

[2022-11-03 08:30] Amit-Sirohi opened #44859 "Grpc issue in native build of aspnetcore on ppc64le"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Tried to do native build of aspnetcore on ppc64le using dotnet 7.0.100-rc.2.22477.23
Get error -
[code]

Is there any way to disable Grpc in native build of aspnetcore on ppc64le ?.

### Expected Behavior

_No response_

### Steps To Reproduce

cd aspnetcore
./eng/build.sh

### Exceptions (if

[2022-11-03 08:39] #44847 closed

[2022-11-03 09:27] yeganehaym commented on #44818
something i found out
when i run app as admin it happens
 and dialog doesn't open
but when i just dbl click on the exe, open dialog is ok

[2022-11-03 09:48] BhavanaShrotri commented on #38842
I am facing the same issue after migrating Dotnet 5 to 6.
![image](https://user-images.githubusercontent.com/66585060/199690173-2c4538a6-5c99-4a25-8efb-67a0f9e6b050.png)

[2022-11-03 11:16] guardrex commented on #27417
@mkArtakMSFT ... This didn't make the cut for 6.0 or 7.0. We're still having to tell devs in the doc to address it because ...

* AFAICT, a "URI" by spec definition must include the scheme, so devs would supply a scheme if asked for a URI.
* There are (at least) ***two valid URI schemes*** for this parameter ... at least for Azure.
  *  If they supply no scheme (wrong anyway AFAICT, but ok ... the

[2022-11-03 12:00] aditya119 commented on #44542
@danroth27 @javiercn Is there any update on this?

[2022-11-03 13:00] #44830 closed

[2022-11-03 13:55] singh733 commented on #44697
@Tratcher @davidfowl  I have dig into the code and below are my findings:

a) On line no 102 the exception is being logged when the browser close.

https://github.com/dotnet/aspnetcore/blob/04bb460447cc6b84ec88080a777b298ba70ce7d7/src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddlewareImpl.cs#L94-L108

b) When I go to Implementation of this method it goes to the belo

[2022-11-03 14:19] calnastic0 opened #44863 "Blazor webassembly loading error: CompileError: WebAssembly.instantiate(): expected magic word 00 61 73 6d, found 3c 21 44 4f @+0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It's a webassembly with asp.net core hosting solution. The code is almost the out of box copy. The deployment to my dev computer's IIS is working just fine, but when it is deployed to a server (windows server 2016), it gave this error message:
![image](https://user-images.githubusercontent.co

[2022-11-03 14:53] karpikpl commented on #44846
ok, thanks. That makes sense.
I was hoping that maybe there's something in blazor that can analyze the rendering flows or just in general show warning when `StateHasChanged` is in `OnAfterRender`.
But I agree that ultimately, it's a developer responsibility.

In case of server-side rendered Blazor that was very hard to catch, due to the nature of how renders are scheduled, not instant

[2022-11-03 14:53] #44846 closed

[2022-11-03 15:49] BrennanConroy commented on #44858
Is LogRequest serializable? Is there an exception from `Clients.All.SendAsync`? Are there any logs/errors on the client side when it's disconnected?

[2022-11-03 15:54] WingZer0123 commented on #44858
Let me troubleshoot this a little further on my end and get back to you, there was a very non-descriptive error I can reproduce on the client side but no, execution of the call stack continued on the server side I will try again. No rush.

[2022-11-03 15:58] Viamo commented on #44578
ok, thanks

[2022-11-03 16:09] MackinnonBuck commented on #44430
@Alerinos, we have an issue tracking that as well: https://github.com/dotnet/aspnetcore/issues/28821

[2022-11-03 16:17] mkArtakMSFT commented on #44542
Thanks for provided the memory dump, @aditya119.

It may take us approximately a month to get to this investigation.
This issue is assigned to the 8.0-preview1 milestone, which is the first milestone for that upcoming .NET 8 release. Right now, the team is focused on some infrastructure-related work, addressing technical debt that we've accumulated over time. Only after completing this phase, we w

[2022-11-03 16:34] mkArtakMSFT commented on #44851
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2022-11-03 16:45] mkArtakMSFT commented on #44840
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **blazor** tag.

Please note, that we encourage customers to customize their styling as they wish after project c

[2022-11-03 16:45] #44840 closed

[2022-11-03 16:49] mkArtakMSFT commented on #44833
@tmat can you please look into this? Thanks!@

[2022-11-03 16:56] aditya119 commented on #44542
Thanks for the update @mkArtakMSFT.
Since this is impacting a production system, it would be great if you can provide some details on this issue.
Is it something specific to having 156 elements in the select dropdown? Is there a workaround/update that can be made in code so that this exception is avoided temporarily?

[2022-11-03 16:57] captainsafia commented on #44257
All of the items are documented under this except the client generation stuff.

@JeremyLikness I think we should get a better understanding of the space/scenarios before we right documentation on this front.

[2022-11-03 17:18] seangwright commented on #44857
I'm also experiencing this issue, which I thought was being caused by the SpaStaticFiles middleware. However, I disabled that and I'm still seeing an issue with endpoints being duplicated with hot reload enabled via `dotnet watch`.

Here is the error I'm seeing coming back from my API requests:

[code]

Here is my `dotnet --info`:

[code]

[2022-11-03 17:48] WingZer0123 commented on #44858
![image](https://user-images.githubusercontent.com/114699222/199796549-03a1730a-b543-4572-9bdf-b5e3af948b65.png)
![image](https://user-images.githubusercontent.com/114699222/199796660-2ee5f1a9-8cb5-4456-b353-43ba3257d381.png)
![image](https://user-images.githubusercontent.com/114699222/199796747-654c850d-275c-49e9-a67e-3fe05f3539c8.png)

[2022-11-03 17:51] BrennanConroy commented on #44858
Any server side logs? Turn on debug at least.

[2022-11-03 17:55] WingZer0123 commented on #44858
Here is a copy of the server logs from application start to a request coming through the pipeline, no expectations are hit and execution continues. Thank you!

`Microsoft.Hosting.Lifetime: Information: Application started. Press Ctrl+C to shut down.
Microsoft.Hosting.Lifetime: Information: Hosting environment: Development
Microsoft.Hosting.Lifetime: Information: Content root path: C:\Code\Encrypti

[2022-11-03 18:01] BrennanConroy commented on #44858
Those aren't debug logs, see https://learn.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-6.0#server-side-logging for details on how to enable logging.

[2022-11-03 18:07] WingZer0123 commented on #44858
`Starting IIS Express ...
Successfully registered URL "https://localhost:44380/" for site "UsersAPI" application "/"
Registration completed for site "UsersAPI"
IIS Express is running.
info: Microsoft.Hosting.Lifetime[0]
      Application started. Press Ctrl+C to shut down.
info: Microsoft.Hosting.Lifetime[0]
      Hosting environment: Development
info: Microsoft.Hosting.Lifetime[0]
      Content r

[2022-11-03 18:08] danroth27 opened #44866 "Provide a pure code model for creating and working with Blazor components"
Blazor components today are typically authored using Razor syntax, which is designed to make it convenient to define dynamic HTML rendering logic using a combination of HTML and C#. You can define Blazor components directly in C# code, but then you're working directly with the `RenderTreeBuilder` which is more designed as a compiler target than a user-friendly API. While it's not super common to b

[2022-11-03 18:08] BrennanConroy commented on #44858
Ok, that's progress, but where is the request?

[2022-11-03 18:11] WingZer0123 commented on #44858
I put the additional settings into appsettings.json, I am not seeing anything related to SignalR or even the HTTP request in general for that matter.

[2022-11-03 18:11] BrennanConroy commented on #44858
You should change the other logging sections to Debug as well.

[2022-11-03 18:19] WingZer0123 commented on #44858
With everything changed to Debug.

`Registration completed for site "UsersAPI"
IIS Express is running.
dbug: Microsoft.Extensions.Hosting.Internal.Host[1]
      Hosting starting
dbug: Microsoft.AspNetCore.SignalR.Internal.DefaultHubProtocolResolver[1]
      Registered SignalR Protocol: json, implemented by Microsoft.AspNetCore.SignalR.Protocol.JsonHubProtocol.
dbug: Microsoft.AspNetCore.Hosting.Di

[2022-11-03 18:21] JeremyLikness commented on #44257
I concur.

[2022-11-03 18:23] BrennanConroy commented on #44858
The SignalR connection isn't showing up, are you running the scenario that isn't working?

Can you provide a minimal repro app as a github project so we can speed up this process?

[2022-11-03 18:30] rafikiassumani-msft commented on #44859
Triage: @Amit-Sirohi can you try the workaround in the following issue? https://github.com/grpc/grpc/issues/18428#issuecomment-535041155

[2022-11-03 18:30] #44395 closed

[2022-11-03 19:19] En3Tho opened #44867 "A question about closures and render fragments."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I'm trying to poke around blazor and I'm curious how RenderFragment's delegate/closure mechanics work:
[code]

Even though in debug isChecked is mutated to true/false, markup is never updated. Is this because component get's rerendered

[2022-11-03 19:23] dougbu commented on #34554
I'm updating our Arm64 queue for Windows to Windows 11 machines. Initial testing should demonstrate whether the problem is fixed w/ the newer boxes.

[2022-11-03 19:23] #43383 closed

[2022-11-03 19:26] dougbu commented on #28090
I'm updating our Arm64 queue for Windows to Windows 11 machines. Initial testing should demonstrate whether the problem is fixed w/ the newer boxes.

[2022-11-03 19:42] captainsafia opened #44869 "Calling `dotnet user-jwts` while app is running causes malformed appsettings"

[2022-11-03 20:15] WingZer0123 commented on #44858
I got it to error out after a reboot and stepping away for a moment.

`System.Net.Sockets.SocketException (10045): The attempted operation is not supported for the type of object referenced.
   at System.Net.IPAddress.get_Address()
   at System.Text.Json.Serialization.Metadata.JsonPropertyInfo`1.GetMemberAndWriteJson(Object obj, WriteStack& state, Utf8JsonWriter writer)
   at System.Text.Json.Seri

[2022-11-03 20:16] WingZer0123 commented on #44858
Attempting to serialize the object produces this exception.

`{"Error getting value from 'Address' on 'System.Net.IPAddress'."}`

[2022-11-03 20:23] TanayParikh commented on #44828
Glad it was resolved, closing this out now.

[2022-11-03 20:23] #44828 closed

[2022-11-03 20:24] #43834 closed

[2022-11-03 20:31] BrennanConroy commented on #44858
Ok, there's your issue, IPAddress isn't serializable. Either change what you're serializing, or provide a custom IPAddress serializer.

[2022-11-03 20:36] WingZer0123 commented on #44858
I see, is that something that would be included in the serializer built into SignalR once SendCoreAsync

[2022-11-03 20:41] BrennanConroy commented on #44858
No, this is not something that will be supported in-box. Also, it's not SignalR specific, this is System.Text.Json behavior.

[2022-11-03 20:46] WingZer0123 commented on #44858
I was able to successfully run .\restore.cmd on the entire project, I have 24 errors left to get the entire project running is their any suggestions on this all 24 are related just in different libraries associated with the entire solution.

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB4019	The imported project "C:\Code\dotnet\aspnetcore\artifacts\bin\GenerateFiles\Direct

[2022-11-03 20:50] somaraj opened #44870 "Kestrel: Connection id "XXX" application never completed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Getting this error very often not even able to debug, it's crashing the application
Framework .Net 6

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Exceptions (if any)

Microsoft.AspNetCore.Server.Kestrel[23] Connection id "0HMLT85PF7Q92" application never c

[2022-11-03 21:45] davidfowl commented on #44870
What does your application do?

[2022-11-03 22:11] mkArtakMSFT commented on #44618
I wonder if the solution would be to change the font size or to reduce the text then?

@joeloff will it be possible to potentially expand the size of these UI screens, and avoid this problem all together?

[2022-11-03 22:17] Tratcher commented on #44870
This happens if you write middleware or endpoints that return a task, never complete it, and then get GC'd. You'll need to audit your returned tasks.

[2022-11-03 22:24] dougbu commented on #44618
I've got a plan and will get to it before we ship preview1 or 2. Basically, align the two bundle installer sizes, avoid `Build alpha.1.22514.10` in some of the tighter fields, then see whether `Release Candidate 1` fits correctly in both bundles. At that point, if necessary, we can choose between embiggening the installer and smallerizing the text.

[2022-11-03 23:26] TanayParikh commented on #44854
We're also using that workaround in the test code: https://github.com/dotnet/aspnetcore/blob/2e2972065f59a186259b7d19357951a4874686c4/src/Components/WebAssembly/WebAssembly.Authentication/test/RemoteAuthenticationServiceTests.cs#L419

This appears to be a [known issue](https://youtu.be/YR3O3ktuYCw?t=946), @javiercn do you have a tracking issue for this, or is the workaround ([also mentioned here](

[2022-11-03 23:39] geeknoid opened #44901 "[API Proposal]: Introduce IResettable to streamline object pool usage"
### Background and motivation

We use a lot of object pools in our environment and its clumsy to have to implement dedicated policy types when we generally want a single behavior applied to a large variety of object types. We adopted a solution of having all these objects declare themselves as IResettable and then a single policy suffices to deal with these objects

### API Proposal

[code]

### A

[2022-11-03 23:45] TanayParikh commented on #44671
Unasigning as investigation is complete.

[2022-11-03 23:48] TanayParikh commented on #44262
This issue has been closed because it has been marked as requiring author feedback but has not had any activity for **7 days**. Feel free to comment when you are able to provide the additional information and we will re-investigate.

[2022-11-03 23:48] #44262 closed

[2022-11-04 00:24] Dreamescaper opened #44871 "Error handling from non-Blazor events (e.g. Timer)"
### Is your feature request related to a problem? Please describe the problem.

There seems to be no way to invoke non-Blazor event handlers with Blazor error handling. Let's say I have an ErrorBoundary wrapping some component. This component uses System.Timers.Timer class to refresh the data once a certain period. It uses InvokeAsync method (as suggested [here](https://learn.microsoft.com/en-us/a

[2022-11-04 00:44] WingZer0123 commented on #44858
Was able to get this to function the way that I wanted too by doing by doing some custom checking on the IP address and changing the type within the model to a string. This is no longer an issue for me, I've left the code here for reference. Feel free to close.
![image](https://user-images.githubusercontent.com/114699222/199861071-67708c0c-1602-4d80-aa49-e743bd6c5ac5.png)
![image](https://user-ima

[2022-11-04 01:22] CurtisFulton opened #44872 "Blazor WASM project won't build due to missing browser-wasm 7.0.0-rtm.22473.12 package"
### Is there an existing issue for this?

- [X] I have searched the existing issues (#44828)

### Describe the bug

When trying to build any Blazor WASM project through the CLI or through VS with .Net 7 (RC 2) I get the following error:

[code]

This starting occuring when I tried to do an upgrade from .Net 6 to .Net 7 about a month or two ago with .Net 7 RC 1. Not sure exactly when this happened,

[2022-11-04 01:57] davidfowl commented on #44858
You can also write a [JSON converter](https://learn.microsoft.com/en-us/dotnet/standard/serialization/system-text-json/converters-how-to?pivots=dotnet-6-0) that can handle IPAddresses

[2022-11-04 02:10] WingZer0123 commented on #44858
I have never had the need to write one, will look into it tomorrow. I am in-between an offer and interviewing ATM. :)

[2022-11-04 03:29] TanayParikh commented on #44872
cc/ @balachir @marcpopMSFT

[2022-11-04 03:31] #44754 closed

[2022-11-04 07:10] pr-benchmarks[bot] opened #44874 "Perf improvement: multiple_queries, updates, updates"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| multiple_queries  | Multiple Queries Platform 1- Trends Database Arm 28 Linux | 10/17/2022 20:05:19 | 31,231 | 53,663 | 71.83 % (22,432)  :thumbsup:  | 40.59 σ | 552.67 | <details>    <summary>Changes</

[2022-11-04 07:10] pr-benchmarks[bot] opened #44875 "Perf regression: connectionclose, fortunes_nodejs, json_netty"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclose [Fixed] | Plaintext Connection Close 4- Trends Amd Linux | 10/28/2022 09:41:52 | 32,968 | 27,547 | -16.44 % (-5,420)  :thumbsdown:  | -2.59 σ | 2,089.61 | <details>    <summary>Changes</

[2022-11-04 07:55] somaraj commented on #44870
I am using generic repository pattern approach with async/await. Posting the screenshots of sample action & service which is implemented. Please let me know if more details required..

**Controller**

![image](https://user-images.githubusercontent.com/17797942/199921063-810e1f08-b86a-4262-be2a-e73d819a851d.png)

**Service Layer**

![image](https://user-images.githubusercontent.com/17797942/1999211

[2022-11-04 13:51] Alerinos commented on #44430
@MackinnonBuck
Now I think so, there should be some protection against a large amount of reordering in a virtual component. What if someone erases the height in the browser (or the browser does it itself)? There will be a large number of requests to the server and ddos can be created.
It is worth discussing this topic and thinking about some sensible safeguard. Maybe the number of requests within

[2022-11-04 15:14] praEngineer commented on #44823
In my VS2022 I have a Blazor WASM.  When I start it with IIS Express, it generates a CORS block as it attempts use of the "BrowserLinkSignalR".  Nevertheless, I can step through code execution.

However, if I start from the "Browser Link Dashboard" -- "View in Browser" the CORS issue above is not in the browser console log.    The unfortunate result is that in this method of running the WASM, I ca

[2022-11-04 15:41] davidfowl commented on #44870
@somaraj it's hard to tell from this code where the issue might be. If you can reproduce the problem locally, remove pieces of the code until you no longer see that log to narrow down where it might be coming from.

[2022-11-04 16:00] #44578 closed

[2022-11-04 16:22] MackinnonBuck commented on #44430
@Alerinos That seems like a reasonable suggestion. We currently have https://github.com/dotnet/aspnetcore/issues/10522 tracking the general idea of throttling/debouncing events, but the `Virtualize` case might require special attention. It doesn't look like we have an issue for throttling `Virtualize` specifically, so feel free to open a separate issue for it 🙂 Thanks!

[2022-11-04 17:24] Alerinos opened #44878 "Limit the speed of Virtual Component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using Virtualize, we may encounter a problem when the size of the component is different (the element may go outside the area).
Then the components will not function properly and spam occurs in a function call that could trigger a ddos attack.

I believe that it is worth discussing this

[2022-11-04 17:35] Alerinos commented on #44430
Thanks, I created a new topic.

@MackinnonBuck  I found another problem, the component does not "cache" HTML elements but cleans them, so there may be another security problem. See in the attached video how I load the database by playing only with the scroll. You should also consider not disposing of the loaded item or keeping it somewhere in memory.

https://gyazo.com/1cf98d0ad8c29323ba843bd790e0

[2022-11-04 17:41] vsfeedback opened #44880 "Blazor Webassembly Project Template no longer works"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Blazor-Webassembly-Project-Template-no-l/10188069)._

---
[severity:I'm unable to use this version] [regression]
Open a new WebAssembly project

Select .Net 7 Preview and Individual Accounts

Click F5 to run.

When the project runs click on Fetch Data

    Message : There was an error tr

[2022-11-04 17:47] vsfeedback opened #44881 "regular problems of MapFallbackToFile method for help"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/regular-problems-of-MapFallbackToFile-me/10185719)._

---
Previously, we had a SPA program module in wwwroot with the folder name of react001. According to the prompts in the official document, we made the following processing in the program to be compatible with the HISOTRY mode of SAP:

[2022-11-04 18:07] MackinnonBuck commented on #44430
Thanks, @Alerinos.

This can already be done by manually caching results and returning them from the `ItemsProvider`.

[2022-11-04 18:17] Alerinos commented on #44430
I meant more on the browser side, thanks to which we will save transfer between the server and the client. For large pages, this will make a big difference.

[2022-11-04 19:00] #44778 closed

[2022-11-04 19:00] #44751 closed

[2022-11-04 19:13] pr-benchmarks[bot] opened #44885 "Perf improvement: fortunes_dapper"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes_dapper [Fixed] | Fortunes Platform Dapper 1- Trends Database Arm 28 Linux | 11/02/2022 08:06:57 | 384,134 | 399,080 | 3.89 % (14,946)  :thumbsup:  | 1.48 σ | 10,132.91 | <details>    <summary>C

[2022-11-04 19:13] pr-benchmarks[bot] opened #44886 "Perf regression: updates"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| updates  | Updates Platform 1- Trends Database Arm 28 Linux | 10/29/2022 20:06:45 | 32,938 | 31,232 | -5.18 % (-1,706)  :thumbsdown:  | -3.96 σ | 430.86 | <details>    <summary>Changes</summary>     <ta

[2022-11-04 19:29] #44643 closed

[2022-11-04 19:32] #17861 closed

[2022-11-04 19:32] #33622 closed

[2022-11-04 20:21] adityamandaleeka commented on #44758
Triage: optimizing this is likely going to help in some hot paths. We believe the API needs some design work though.

Note: We'll need to make sure netstandard2.0 works.

[2022-11-04 20:41] MackinnonBuck commented on #44430
@Alerinos If I'm understanding correctly, you're suggesting we cache the removed DOM elements on the JavaScript side and reinsert them (still via JavaScript) when they get scrolled back into view? I'm inclined to think that's not a direction we would take for the following reasons:

* This only works if the content in the list never changes beyond the first render. If we were to instead modify thi

[2022-11-04 22:31] marcpopMSFT commented on #44872
@lewing @steveisok

[2022-11-04 23:41] #39605 closed

[2022-11-05 00:00] Liam-Rougoor opened #44890 "Eager load assemblies in Blazor for Roslyn compilation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am trying to compile code that is submitted in Blazor within the web client itself using Roslyn. I have seen a few tutorials on compiling code in blazor, targeting older versions of .Net Core. Roslyn requires references to assemblies

[2022-11-05 01:12] Alerinos commented on #44430
@MackinnonBuck

To display displayed items:
![image](https://user-images.githubusercontent.com/42449535/200094179-0a66020f-639d-4c14-bf7d-f6b89919965b.png)
When moving, old elements are deleted and new ones are added:
![image](https://user-images.githubusercontent.com/42449535/200094218-4905ecf4-f64f-4160-a09f-410f8dcb0951.png)

Instead of deleting them, we can leave them and possibly give an ID s

[2022-11-05 01:40] Alerinos commented on #44430
Another problem I see is when we have 200 articles. Someone adds 20 items while browsing, the cout will change. How will the component react? We will not have duplicate data? At the time of viewing the data, there were fewer items to display than there is now, the new items are higher.

[2022-11-05 04:05] mitchdenny commented on #32485
I think that there is a lot of conceptual overlap between those options, especially ```ContainerApplication``` and the other application types. That overlap might be confusing "which one should I choose?".

```ContainerApplication``` is probably the closest to aligning with the motivation with reducing the on-disk footprint of the built application.

[2022-11-05 07:06] #44886 closed

[2022-11-05 07:06] #44885 closed

[2022-11-05 07:06] pr-benchmarks[bot] opened #44892 "Perf improvement: connectionclosehttps"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclosehttps  | Plaintext Connection Close Https 4- Trends Amd Linux | 11/03/2022 21:23:11 | 21,857 | 37,657 | 72.28 % (15,799)  :thumbsup:  | 2.23 σ | 7,082.94 | <details>    <summary>Changes</

[2022-11-05 07:06] pr-benchmarks[bot] opened #44893 "Perf regression: json, plaintext"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json [Fixed] | Json Platform 1- Trends Intel Windows | 11/03/2022 20:01:45 | 1,100,716 | 1,089,903 | -0.98 % (-10,813)  :thumbsdown:  | -1.07 σ | 10,121.15 | <details>    <summary>Changes</summary>

[2022-11-05 09:05] WingZer0123 commented on #44858
After reading about the performance hits and the complexity of writing a custom converter for one field that I just needed a string from. I decided to stick with my solution that I came up. I might be using that class that I created, I may extend it to support CIDR blocks as per my project that would be an internal dashboard sitting along side Application Insights.

[2022-11-05 09:05] #44858 closed

[2022-11-05 10:38] vindberg commented on #28776
@mkArtakMSFT Please give us a workaround in the meantime!? @SteveSandersonMS maybe you can help here?

Please make Blazor server great again - this is one of the things hurting the most!

[2022-11-05 12:44] jdmallen opened #44894 "Erroneous `////` in default URL for a blazorwasm template parameter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

This came up previously with an `appsettings.json` file, but I noticed it while exploring the parameters for the `blazorwasm` template, and I don't think that's been addressed yet.

![image](https://user-images.githubusercontent.com/5761601/200120409-a6188111-819a-4b24-91c3-451d3cdaaf5a.png)

[2022-11-05 13:23] mobycorp opened #44895 "The thrown exception's message is completely useless..."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When an ASP.NET/gRPC application is first starting, it configures its http or https endpoints. If something is not configured correctly the application throws an error which is completely useless! The offending error is:

[code]

I have found that if any of the following occurs, this exceptio

[2022-11-05 15:13] sahgilbert opened #44896 "Github Actions Azure App Service Deployment Says Successful, But Nothing Deploys .Net 6.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a .Net 6.0 ASP.Net MVC application that is using Identity Server for authentication.

I'm also using Github Actions to deploy the website to an Azure App Service.

The deployment says it was successful, but nothing deploys.

<img width="1044" alt="Screenshot 2022-11-05 at 15 07 28" src

[2022-11-05 15:18] davidfowl commented on #44895
I'm not sure that's true. At least, based on the information provided I don't see another explanation for the error as yet. Can you share the entire application or share more of the logic in Program.cs? It's possible something is being disposed prematurely during shutdown causing this problem.

[2022-11-05 15:19] davidfowl commented on #44895
PS: Turning on verbose logging is another way to get more information about what might be happening.

[2022-11-05 16:43] DOWSCZ opened #44897 "Blazor - Binding Blazor Component or workaround [ask from WPF guy]"
I am looking for something like this in the WPF for Blazor, if is it possible:

[code]

[code]

The Best would be something like this:

SaySomething.razor
[code]

Index.razor

[code]

But for sure it doesn't work like it.

I come to some solution but all of them are imperfect. And I dont know how to visualize for example already created ComponentBase element, if is it possible.

[code]

All three

[2022-11-05 17:01] Drake53 opened #44898 "QuickGrid: Make ColumnBase.IsSortableByDefault() public."
## Background and Motivation

QuickGrid's ColumnBase currently has a HeaderTemplate property that allows you to render a custom header for the column. The default header is rendered in ColumnBase.RenderDefaultHeaderContent(RenderTreeBuilder) and makes use of the method IsSortableByDefault(), which is protected. Because of this, it's not possible to properly check if the column is sortable when usi

[2022-11-05 17:11] Drake53 opened #44899 "QuickGrid: Add EventCallback<TGridItem> for clicking on a row."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I'd like to handle the event where a user clicks on a row in a QuickGrid. When this happens I'd use NavigationManager.NavigateTo() to go to the selected item's page.

### Describe the solution you'd like

In QuickGrid.razor.cs: add a p

[2022-11-05 18:02] Alerinos commented on #44430
I did another test.

If we have a high screen, for example, we are shown 30 records, each downward movement causes reloading of 30 elements. (Why load the same if it already exists)

What's the problem? The same data is downloaded every time you move up or down.

How should it be done in my opinion?
Each move should charge +3 items, i.e. moving down will charge, +3 then +3 etc.

[2022-11-05 18:05] mobycorp commented on #44895
Hi David,

Thanks for your input!!

1. I have logging set to Trace so I am getting the most verbose output.
2. As I said, this one error is triggered by multiple causes that I listed (missing cert, invalid cert, missing password, password mismatch, incorrect port, and incorrect protocol i.e. https vs http).
3. All of these things trigger this one error, so the message text returned by this error i

[2022-11-05 18:05] mehmetcantas opened #44900 "Blazor WebAssembly project cannot read appsettings.json file when connected with http instead of https"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I use http url of my Blazor app I can't read appsettings.json file but if I use https it is working as it should be. This issue occurs only if project's launcsettings.json file includes both http and https url.

### Expected Behavior

I should read appsettings.json file in both http and

[2022-11-05 18:19] davidfowl commented on #44895
Can you show the try catch? It looks like the exception is coming from `WaitForShutdown` but I'd like to better understand the code flow that causes this to happen.

[2022-11-05 18:28] mobycorp commented on #44895
The try/catch is not in my code… it’s in your code somewhere. I downloaded
the aspnet and gRPC repos and did a string search for exception names and
message text and couldn’t find it so I am only speculating, but it’s not in
my code. I have overloaded every delegate and callback in my program.cs
file as well as setting a specific break in the exceptions window for the
exceptions and the code does

[2022-11-05 18:39] AndreasJilvero commented on #41340
In my experience, this happens also when simply setting the physical path of a website. The response is somewhat difference though - a recycle renders the text "The service is unavailable" and setting the physical path just gives an empty 503 result.

https://stackoverflow.com/questions/74326315/iis-setting-physical-path-gives-503-status-for-a-few-seconds

[2022-11-05 18:44] luizfbicalho commented on #41340
In my case it's not for seconds, after the first 503 only iisreset solves the problem

[2022-11-05 18:55] dougbu commented on #35463
Package actually used in release/6.0, release/7.0, and main. As-is, it's the sole reason we require the `dotnet5` feed in those branches. I'm moving to `5.0.0-preview.3.20215.2` in draft PRs aimed at reducing our feed count. That's not a complete solution however.

I don't think this is truly an `area-infrastructure` issue but will admit it doesn't clearly fit in one area. The package is used in h

[2022-11-05 18:57] markat1 commented on #44820
I made this repository way back in may - https://github.com/markat1/WindowsAuthenticationProblem.

[2022-11-05 18:57] dougbu commented on #35463
Note my draft PRs will address @ericstj's "latest preview" point but not "Can you just remove usage?"

[2022-11-05 19:04] markat1 commented on #44820
Issue seems to happen more often if I call authenticatestate  other than OnInitialized() . So now I

[code]

[2022-11-05 19:08] davidfowl commented on #44895
Can you reproduce this at will? You should be able to debug the original exception (turning on first chance exceptions in the debugger) and figure out where things are falling apart. All I'm looking for are repro steps so I can debug this myself 😅

[2022-11-05 19:10] markat1 commented on #44820
It's not easy to pinpoint exactly how I would trigger ObjectDisposedException
you could try call AuthenticationStateTask multiple times or refresh page alot. That might throw ObjectDisposedException.

[2022-11-05 19:12] #44892 closed

[2022-11-05 19:42] mobycorp commented on #44895
Yes, I can. (I do it more than I wish!! ;-) ) I will try to gin up a repo and upload it to github. I will get to that later today! Thanks so much for your help...

[2022-11-05 20:54] japui-coder commented on #35463
What to do with Microsoft.Extensions.DiagnosticAdapter dependency #35463

[2022-11-05 23:50] calnastic0 opened #44902 "Blazor Webassembly is broken out of the box"
Not sure if this is the right place to ask.

This afternoon I have reset my computer 3 times and it doesn't seem to resolve the problem.

Basically, on a freshly reset windows 10 computer, Visual Studio 2022 (17.3.6) was installed, along with required runtime environment (.Net 6 etc.).

Then created a asp.net core hosted blazor webassembly solution. The wasm client code is broken right away:

![im

[2022-11-06 04:06] Alerinos opened #44903 "Detect server side and dynamic loading on blazor server side"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Blazor could use the function of detecting the first loading of a component / subpage by the server.

If we use ``OnInitializedAsync`` it will work like this:

1. Execute code on first entry (server side)
2. Will execute the same code

[2022-11-06 07:09] pr-benchmarks[bot] opened #44904 "Perf improvement: updates"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| updates  | Updates Platform 1- Trends Database Arm 28 Linux | 11/04/2022 20:06:27 | 32,025 | 33,599 | 4.91 % (1,574)  :thumbsup:  | 2.18 σ | 721.22 | <details>    <summary>Changes</summary>     <table><

[2022-11-06 07:09] pr-benchmarks[bot] opened #44905 "Perf regression: json"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json  | Json Platform Inline 3- Trends Arm 28 Linux | 11/04/2022 20:43:14 | 1,161,903 | 1,149,215 | -1.09 % (-12,688)  :thumbsdown:  | -9.97 σ | 1,272.41 | <details>    <summary>Changes</summary>     <t