[2020-02-05 17:33] pranavkm commented on #18821
Hi @Stamo-Gochev, `IFormFile` is not not part of the Blazor programming model and is not supported in the context of a Blazor component. You'll have to use JSInterop to read the file extension and apply your own validation.

[2020-02-05 17:35] pranavkm commented on #18812
@ajaybhargavb could you follow up on this?

[2020-02-05 17:35] mviegas commented on #18763
Hey @anurse! We just tried a couple of implementations, but there's something that's still not clear for us:

When is this `OnHeartbeat` method called? We were not able to track that yet.

[2020-02-05 17:37] pranavkm commented on #18798
@mkArtakMSFT can you look in to this?

[2020-02-05 17:39] theolivenbaum commented on #18818
This was happening on a large server setup, something like 64 cores, 128GB RAM, NVME SSD.
Haven't measured concurrent executions of the endpoint (as it does more pure async work with the data after that), but this endpoint was being called ~500/s at peek, something that I was surprised would cause issues.
Environment is a RHEL6 instance, with our system running from within a Docker container - but

[2020-02-05 17:40] pranavkm commented on #18820
@ajaybhargavb can you reproduce this on an OSX machine? We have automated tests for this running on Windows, so this seems suspect.

[2020-02-05 17:41] pranavkm commented on #18787
@blowdart \ @HaoK what do you think?

[2020-02-05 17:43] SeanKilleen commented on #18401
@Pilchie what would you be looking for in a more detailed repro?

In order to truly see the changes, I'd had to deploy the container to the Web App for Containers service, and then it threw 500 errors in prod and I saw them in the logs.

Let me see if I can get another test site deployed from the repo and a different container tag to see if I can show the full repro. It's going to take a bit thoug

[2020-02-05 17:47] HaoK commented on #18787
Could we give the spa proxy the allow anonymous equivalent by default always?

[2020-02-05 17:52] blowdart commented on #18787
This. I don't even know what the spa proxy is :)

[2020-02-05 17:55] pranavkm commented on #18796
System.Text.Json does not support reading quoted numbers out of the box. There's a workaround listed here: https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to#quoted-numbers

[2020-02-05 17:56] Postlagerkarte commented on #18754
Hi @danroth27 : Can you please also include  #14792 when considering Drag & Drop?

Also I currently face the problem that DataTransfer.Files is null when dropping a file.

So basically I would be great if the all properties of the DragEventArgs are available and we read/write access to them!

[2020-02-05 17:57] joeloff commented on #18019
Based on the log, it detected a newer version for ANCM to be already present on the machine and marked the MSI as obsolete

[code]

[2020-02-05 18:06] danroth27 commented on #18817
This issue was moved to mono/mono#18717

[2020-02-05 18:06] #18817 closed

[2020-02-05 18:08] danroth27 commented on #18813
This issue was moved to mono/mono#18718

[2020-02-05 18:08] #18813 closed

[2020-02-05 18:13] Tratcher commented on #18818
Can you share the callstack for the blocked threads in the starvation scenario?

[2020-02-05 18:44] bfmsoft commented on #18794
Thought that I did below.  I will try to make it clearer.  If you define a Method with an optional parm
and set the default to NULL.  When the variable is accessed it will be UNDEFINED in Web Assembly.  If you run the code under .Net Core it will work.  If you run under Browser Debugger it will fail at IF below.  If the caller specifies a NULL to call the method it will work properly.

So, if miss

[2020-02-05 18:49] ajaybhargavb commented on #18820
I tried it and I can't reproduce this. Here is my `dotnet --info`,
[code]

@stuki, this could be something to do with a borked npm installation. Here is my `dotnet build` output for comparison,
<details><summary>dotnet build</summary>
<p>

[code]

</p>
</details>

[2020-02-05 18:56] ajaybhargavb commented on #18812
It is the version of the vscode C# extension.

[2020-02-05 18:58] theolivenbaum commented on #18818
@Tratcher unfortunately not - tried capturing from under the container it but for some reason the dotnet trace tool would not capture anything for the release build.

[2020-02-05 19:00] #18594 closed

[2020-02-05 19:08] pranavkm commented on #18757
@Rick-Anderson this is not a reserved keyword though. Presumably once we fix the underlying issue, this should work.

[2020-02-05 19:10] Tratcher commented on #18818
Can you get the stacks by taking a dump of the process?

[2020-02-05 19:21] vsfeedback opened #18829 "[DataType(DataType.Password)] - Only in Visual Studio 2019"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/745796/datatypedatatypepassword-only-in-visual-studio-201.html)._

---
Hi,
I have added [DataType(DataType.Password)]   in model class file.

Issue - Not showing password value as password field in Edit.cshtml and Details.cshtml  as below,
(Only in Visual Studio 2019, in VS

[2020-02-05 19:25] vsfeedback opened #18830 "Module is not available! You either misspelled the module name or forgot to load it"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/739058/module-is-not-available-you-either-misspelled-the.html)._

---
Asp.net MVC/Angular App is not loading anymore after installation of VS 2017. It was working on IIS Express on VS2015 just fine.
It works only on my local IIS.
First I had several issues with IIS Express

[2020-02-05 19:27] vsfeedback opened #18831 "Microsoft.AspNetCore.Builder namespace / ResponseCachingExtensions class / UseResponseCaching method missing XML Documentation Comments"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/734313/microsoftaspnetcorebuilder-namespace-responsecachi.html)._

---
The **UseResponseCaching** method in the **ResponseCachingExtensions** class in the **Microsoft.AspNetCore.Builder** namespace is missing XML Documentation Comments.

(As a quick aside, the "Summary" sec

[2020-02-05 19:40] Pilchie commented on #18401
Primarily the exact set of `<PackageReference` elements in your project.  Possibly sharing the obj\project.assets.json would help too.

[2020-02-05 19:41] Kahbazi opened #18833 "Injection with @ref in Blazor generated code"
Lets' say we have a component with `@ref` attribute `<MyComponent @ref="myVariable" />`
This is what Blazor would generate.

[code]

Now the `@ref` value could be anything and it would be replaced in the generated code. For example I can (ab)use this to add reference to components inside a loop.

[code]
And this is the generated code.
[code]

I just wanted to point out that this exists! This could

[2020-02-05 19:47] blowdart commented on #18825
Fine by me :)

[2020-02-05 19:51] SeanKilleen commented on #18401
@Pilchie while I work on reproducing again locally, the package refs are here -- https://github.com/excellalabs/xluhco/blob/master/src/xluhco.web/xluhco.web.csproj

If you pull the master branch of the project and change the entry for `Microsoft.AspNetCore.Authentication.AzureAD.UI` to `3.1.1`, you'll repro the issue.

I'll try to get you the file from my `obj` folder soon as I'm able.

Thanks for

[2020-02-05 19:55] adamdriscoll commented on #18828
Hey @Tratcher,

Thanks for getting back to me. Are you referring to the Microsoft.Win32.Registry package? I updated to the latest version of that in an attempt to fix this.

Here's the branch I'm messing with: https://github.com/ironmansoftware/universal-dashboard/blob/netstandard/src/UniversalDashboard/UniversalDashboard.csproj

UD is a bit weird because it loads everything into PowerShell. This

[2020-02-05 19:59] SeanKilleen commented on #18401
To be clear -- the project is being built within a container and then copied into the other container, so my local `obj` files produced may not be the same as those produced in the container.

I'll try to see if I can set it up for the smallest repro possible.

[2020-02-05 20:12] blowdart commented on #18679
Making them not nullable would be a schema change. Our managers do null checks before writing. Unless you're writing your own managers this isn't really an issue.

Closing as this is by design.

[2020-02-05 20:12] #18679 closed

[2020-02-05 20:14] blowdart commented on #18586
IdentityUI is a self contained package, so it can't respect casing for the rest of the app without an awful lot of redesign for what is very little benefit.

Closing as by design.

[2020-02-05 20:14] #18586 closed

[2020-02-05 20:14] blowdart commented on #18567
This is by design. You don't register twice.

[2020-02-05 20:14] #18567 closed

[2020-02-05 20:16] blowdart commented on #18557
Can you define new for me? The MFA codes are based on time. If you call the code within the time period they will be the same.

We don't have SMS in our templates any more, you do need to write code and we'd need to see that too.

[2020-02-05 20:18] blowdart commented on #18550
It is by design. This is not a feature request we've had before and would involve changing how our tokens work, and splitting out common code just for reset tokens.

For now this won't be something we would consider.

[2020-02-05 20:18] #18550 closed

[2020-02-05 20:20] blowdart commented on #18046
We're closing this issue as the behaviour discussed seems to be by design.

[2020-02-05 20:31] Tratcher commented on #18824
That's an error from Asp.Net Core Module. You can change the startupTimeLimit in the web.config:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.1

[2020-02-05 20:34] Pilchie commented on #18401
@SeanKilleen I did that, and was able to repro a 500 error, but it was for a failure to load Microsoft.AspNetCore.DataProtection.Abstractions, and I was able to work around that by adding a package reference to it directly, as I described [here](https://github.com/dotnet/aspnetcore/issues/18401#issuecomment-582497306).

I can't repro a failure with Razor.Runtime though.

[2020-02-05 20:38] Tratcher commented on #18816
SNI is a TLS extension, it only applies to HTTPs request that normally use port 443.

Serving HTTP request for multiple domains on port 80 doesn't need any special setup in Kestrel, each request indicates its domain preference in the Host header.

The more interesting question is if you can set up blazor to serve multiple sights based on the domain? Rerouting this to those folks.

[2020-02-05 20:40] idchlife commented on #18745
Question: is it possible for SignalR to reconnect if server was restarted? It seems in production restart of server will result in unsuccessfull tries for reconnection, though there are messages in console like "connected to websocket", but any actions on page result in "cannot something something when not in status Connected" and circuit errors or something.

I mean maybe this can be configured o

[2020-02-05 20:43] JohanOtto commented on #18567
Hey sorry - this is just IT guys - it shouldn't register twice but CLEARLY is does

[2020-02-05 20:55] ryanelian opened #18834 "Cannot compile Blazor App when including a custom component library"
### Describe the bug

[code]

This is the offending library: https://github.com/ryanelian/FluentValidation.Blazor

I failed to compile the project whenever I use the component in my main (closed source) app project. Like, this file appears with that error:

![image](https://user-images.githubusercontent.com/8892187/73881762-819a8000-4893-11ea-8249-ac86130bc26e.png)

As you can see, the component i

[2020-02-05 21:09] KirillOsenkov opened #18835 "ProjectCompilationFeatureDetector shouldn't expect VisualStudioWorkspace on a Mac"
VSMac has a MEF error due to VS Workspace missing:

[code]

https://github.com/dotnet/aspnetcore/blob/801578fe19eb3f831075cb7db0b1522e60c61db1/src/Analyzers/shared/FeatureDetection/ProjectCompilationFeatureDetector.cs#L31

@rynowak I think a simple `AllowDefault` on the import should fix this. This code runs on Mac now!

[2020-02-05 21:09] Tratcher commented on #18822
It looks like we deleted that package? The last release was 2.0.4. I'd have to track down why, but that would preclude adding features.

You can also call AddAzureKeyVault directly in Program.cs and control the ordering yourself.

[2020-02-05 21:14] Tratcher commented on #18639
You'd give direct values like this:
[code]

[2020-02-05 21:15] kjerk opened #18836 "[DefaultBuilder] Allow disabling reloadOnChange for WebHost's CreateDefaultBuilder"
**Summary**
So I've been running into a problem with the builder in WebHost causing issues with older or default-configured instances of Systemd on CentOS or other Linux distros, and the culprit appears to be a collision of the live reloading mechanism, and Systemd running registered services with / as the context root.

So this is a feature as well as a fix for a (rare?) problem.

**Issue Stack**

[2020-02-05 21:24] Mozart-Alkhateeb commented on #16960
Hello I've tried this approach and it works, but breaks when using areas even thought I've specified this in the _ViewImports.cshtml of the area, the localization stops working and the ILocalizer returns nothing
[code]

[2020-02-05 21:25] Tratcher commented on #18836
Moving this to Extensions since WebHost has been replaced by the generic Host.

[2020-02-05 21:29] JeepNL commented on #18816
@Tratcher Oh, sorry didn't know that about SNI. But yes, 'the more interesting question' is exactly what I mean. I would like run 2 or 3 sites (domains) on port 80 with Kestrel.

I've [found something](https://github.com/dotnet/aspnetcore/issues/8264#issuecomment-487618215) in Github issues (_from Ryan Nowak_) but that's for Razor Pages (Areas). I would like to use different domain names (for exam

[2020-02-05 21:31] Tratcher commented on #18816
@rynowak

[2020-02-05 21:35] Tratcher commented on #18828
@ericstj can you help out with this? This is similar to our mail thread from Jan 9-10th.

[2020-02-05 21:36] ajaybhargavb opened #18838 "Upgrade roslyn dependencies to 3.4.0"
All our Razor depends on 3.3.0. We need to update to get all the latest improvements

[2020-02-05 21:51] Ellested opened #18839 "EventForDotNet.ts - DataTransfer event object is not parsed"
The DataTransfer field is always null and data is never passed to the .net code.
I assume that the dataTransfer property has to be a clone of the DOM event, in order for the data to be passed to Blazor. It's actually also necessary to return the dataTransfer object, if you want .net code to modify the dropEffect and effectAllowed. I'm not sure whether Blazor JSInterop supports modifcation off the

[2020-02-05 22:00] ericstj commented on #18828
Can you get powershell to honor a deps file?  This issue appears when the non-windows specific version of Microsoft.Win32.Registry is loaded.  EG: `lib\netstandard2.0\Microsoft.Win32.Registry.dll` is loaded rather than `runtimes\win\lib\netstandard2.0\Microsoft.Win32.Registry.dll`.  The deps file is what tells .NETCore which dlls to use on which runtimes.  Alternatively you could publish for a spe

[2020-02-05 22:11] mvarblow opened #18840 "Customizable serverTimeoutInMilliseconds in Server-Side Blazor"
When debugging a server-side blazor app we often see this error pop up in the client (browser) while stepping through code:

Error: Connection disconnected with error 'Error: Server timeout elapsed without receiving a message from the server.'.

This can be pretty disruptive, requiring a refresh of the browser to recover after continuing the debug session.

Presumably, this happens because the ser

[2020-02-05 22:15] berik commented on #17618
`react-scripts 3.3.1` fixed this issue for me

[2020-02-05 22:17] mkArtakMSFT commented on #18798
Thanks for the details, @zackmorgs.
I'm still not clear about the scenario. Which of these options describes your situation:
- I have a properly running Blazor app, and after scaffolding Identity UI it now fails
- I have a properly running non-Blazor app with Identity scaffolded, and as soon as I try to enable Blazor, it fails

[2020-02-05 22:19] anurse commented on #18763
You mean the function you provide to `OnHeartbeat`? It should be called at a regular interval (about once a second). Can you post a sample showing how you're registering the callback?

[2020-02-05 22:39] ryanelian commented on #18834
OK, found the reason for this brainfuckery.

In hindsight, I was asking for this trouble because the component full class path with namespace is `FluentValidation.FluentValidator` but the project name is `Accelist.FluentValidation.Blazor` so that's partially my fault. (Republished the package with different namespace)

----

However, apparently, Blazor Class Library generates classes with namespac

[2020-02-05 22:47] guardrex commented on #12970
Adding a note here: This issue doesn't seem to be the same cause of one potential source of trouble that came up on a docs issue (`Unknown OS platform`) ...

https://github.com/aspnet/AspNetCore.Docs/issues/16366

`Unable to find debuggable browser tab` instructions content always calls `GetLaunchEdgeInstructions` (i.e., on Linux), but `GetLaunchEdgeInstructions` throws for Linux at ...

https://g

[2020-02-05 23:00] #18505 closed

[2020-02-05 23:00] #10629 closed

[2020-02-05 23:07] drdamour commented on #18787
To do that i think youd have to add to the routes/endpoints because the failure happens in the authorize middleware upstream

I believe since its only route metadata that can be anonymous...but afaik theres no way to add a route endpoint without a delegate...which lead me
To my two work arounds

[2020-02-05 23:25] zackmorgs commented on #18798
Sure sorry if I wasn't clear!
Of those options, "I have a properly running Blazor app, and after scaffolding Identity UI it now fails" is most definitely the predicament I am in.

[2020-02-05 23:48] blowdart commented on #18798
Can you share a repo?

[2020-02-05 23:58] pranavkm opened #18841 "Remove DisableImplicitComponentsAnalyzers from BlazorWasm hosted templates"
Once https://github.com/dotnet/aspnetcore/issues/18563 is resolved we should be able to address this. Right now, the mismatch in the SDK vs packages in the blazor-wasm branch (introduced as a result of this PR - https://github.com/dotnet/aspnetcore/pull/18770/files) is causing the template test to fail. This change also benefits users that aren't using matching runtime and SDK versions.

[2020-02-06 00:00] #18273 closed

[2020-02-06 00:00] #4109 closed

[2020-02-06 00:04] zackmorgs commented on #18798
Sure, I've made it public just to fix this issue.
https://github.com/zackmorgs/bridging-calendar

[2020-02-06 00:46] mkArtakMSFT commented on #18835
Thanks @KirillOsenkov.
Can you please elaborate on the impact of this issue?

[2020-02-06 00:51] KirillOsenkov commented on #18835
@mrward Matt reported it so I don't know if it's critical or VSMac can start with the issue. It certainly doesn't look critical.

I don't know what your release schedule is but would probably nice to get it into 16.6 (I think?)

[2020-02-06 00:53] douglassimaodev commented on #18401
vs2019, start new project blazor server side,  change Authentication to Individual user accounts.

when it is using 3.1.0 all fine, if you go to manage nuget it will show you 5 updates to 3.1.1, if you update Microsoft.AspNetCore.Identity.UI to 3.1.1 you get an error:

services.AddDefaultIdentity<IdentityUser>(options => options.SignIn.RequireConfirmedAccount = true)
                .AddEntityFram

[2020-02-06 01:41] dmarchant opened #18844 "Blazor 3.2.0 Preview 1 blazor.boot.json includes .pdb and .so files"
First, thanks so much for this awesome project! I really like where Blazor is going.

I recently tried upgrading my asp.net core hosted client-side blazor project to Blazor 3.2.0 Preview 1. After upgrading and deploying the published app on CentOS 7, the client-side blazor app fails to load and gives me 404 errors in the Chrome DevTools console. The 404 errors look like this.
[code]
I am publishin

[2020-02-06 02:00] #18439 closed

[2020-02-06 02:00] #18131 closed

[2020-02-06 02:00] adamdriscoll commented on #18828
Thanks for the feedback. PS won't honor a deps file as it's currently implemented. I realize now that the reason this works in PS7 and not WinPS is that PS7 is a .NET Core app and likely loading the correct Registry package on Windows already.

It's possible to build a runtime specific implementation of this but unfortunately, the PS package tooling would require that I ship every possible runtime

[2020-02-06 02:00] #18828 closed

[2020-02-06 02:00] #17629 closed

[2020-02-06 02:30] davidfowl commented on #3793
@Socolin why is that?

[2020-02-06 02:55] Socolin commented on #3793
If I understand well (tell me if I'm wrong), what you planning is to remove the lock, but we'll still have to create appoffline to signal IIS to recycle the app after the build is complete?

To do so we'll have to create the file appoffline, then delete it. Can this file be deleted immediately after the file was created ? or should we wait for IIS to detect it? If it's required to wait for a littl

[2020-02-06 03:56] NTaylorMullen commented on #18769
@warrenbuckley woa, totally didn't read the body of the issue. Ya totally same gist.

[2020-02-06 04:43] dehghani-mehdi commented on #18679
I think your design has some serious issues.

If I do something like this issue and [this one](https://github.com/dotnet/aspnetcore/issues/18680) in my code, my boss will fire me immediately.

Really?! so make all the columns `NVARCHAR(MAX)` and then in your managers do all checks and converting stuff.

[2020-02-06 05:49] Sm1le291 commented on #12970
if deal in CORS should be just temporary disable it? Someone tried?

[2020-02-06 07:14] mrpmorris commented on #18743
Instead of passing multiple values, why not pass a single object with multiple properties?

Make the object immutable so you'll have to create a new instance to change anything and blazor will notice the change.

[2020-02-06 07:19] fitdev commented on #18743
@mrpmorris Thanks for the tip. However often the values that need to be passed may be unrelated to each other and it would not make sense to wrap them in a single object. Not to mention the fact that in some advanced scenarios complete control over the way which values are passed may be needed, which is why making `ICascadingValueComponent` public would be beneficial, so that custom implementation

[2020-02-06 08:08] stuki commented on #18820
@ajaybhargavb Thanks for testing! I reinstalled node and got at least the build steps working. But it still does not start the Angular project for me. I tried with node v10.19.0 and v12.15.0.

I redid the steps in Windows and the project got up and running, but no such luck on MacOS.

If I go to the ClientApp folder and run it manually (```npm start```) it starts normally and I can open the webpag

[2020-02-06 08:11] TechWatching commented on #18822
I don't think the package was deleted, it has just not been upgraded yet. There is another [issue](https://github.com/dotnet/aspnetcore/issues/14657) about that.
Yes it's what I meant when I said that I could "add the key vault using `ConfigureAppConfiguration`" but if the HostingStartup KeyVault package is planned to be upgraded soon, I think it could be a godd time to add the possibility to cont

[2020-02-06 08:16] henkmollema commented on #18733
@Bernhard-Ninaus disabling the linker should be a temporary solution. I think the root issue is probably that no type in the `Microsoft.AspNetCore.Components.Authorization` namespace is directly referenced in the app and there is optimized/linked away.

For example, adding a custom `AuthenticationStateProvider` implementation in the `Program` class fixed this issue for me, as that results in the a

[2020-02-06 08:47] pavlexander opened #18846 "Silent installation of ASP.NET Core Hosting Bundle 3.1.1 fails"
### Describe the bug
I have written a powershell script that launches silent installation of ASP.NET Core Hosting Bundle 3.1.1., but it runs very unstable on some PCs. In 2 installation cases - the script execution had failed. In 3 cases - it worked just fine.

### To Reproduce
1. Download bundle of the mentioned version (https://dotnet.microsoft.com/download/dotnet-core/3.1)
2. Save following scr

[2020-02-06 08:57] mrpmorris commented on #18743
What do you mean by this, can you give an example please?

[2020-02-06 09:15] javiercn commented on #18844
@dmarchant thanks for contacting us.

We are aware of this issue. @pranavkm Is this note a dupe of something else?

[2020-02-06 09:16] SayusiAndo commented on #18743
@fitdev IMHO, If you need custom control over how the values are passed through then using a [service](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#invoke-component-methods-externally-to-update-state) for managing the values moving between components and managing the way how they passed through (whatever it means) seems more logical. My gut feeling is that tes

[2020-02-06 09:20] mrward commented on #18835
It is not critical since VS Mac can still start. Was reporting various MEF composition errors since there were a set of new ones introduced in VS Mac 8.5. /cc @rodrmoya

[2020-02-06 09:36] javiercn commented on #18816
I'm not entirely sure if its possible, but in theory you can call `endpoints.MapBlazorHub()` multiple times and differentiate them via host maching as described [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1#host-matching-in-routes-with-requirehost)

[2020-02-06 09:41] mrpmorris commented on #18743
Blazor expects cascading values to be in a specific place so it can inject those values into [CascadingParameter] decorated properties.

[2020-02-06 10:20] Karql opened #18847 "XmlSerializerInputFormatter - More detailed deserializing error message"
Hi,

This issue is continuation to https://github.com/dotnet/aspnetcore/issues/4917

When posted xml contains errors the returned message is: "An error occurred while deserializing input data." It is hard to find where the error is - esspecialy for large xml.

@dougbu you have chagned this a bit in:
https://github.com/dotnet/aspnetcore/pull/6316/files

[code]
Maybe it is good idea. Insetad of retu

[2020-02-06 10:34] KamranShahid opened #18848 "Asp.net core 3.1 application with f5 load balancer as reverse proxy server"
Can we configure kesterl with f5 load balancer?
https://www.f5.com/services/resources/glossary/load-balancer
I am currently using kesterl behind nginix via help of following article
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-3.1
and it is working fine.
Now some client have f5 load balancer. Please let me know that can i configure kesterl behind F5 load

[2020-02-06 10:50] davidfowl commented on #3793
How would IIS know when you’re done copying files? How do you avoid the torn state? You basically need to signalr the starting and completion of a transaction. The creation of the file signals the start and the deletion signals the end.

[2020-02-06 10:52] davidfowl commented on #3793
So far the workaround I have found is to write a small program running in background that look for the /bin of my .Web project. When a file change, it create appoffline file into the directory where IIS listen, then copy the modified files, then delete the appoffline. But it feels a bit hacky but so far it's the only way I've found to be able to build, then press F5 and test my changes.

VS handle

[2020-02-06 10:59] troepolik opened #18849 "Blazor redirect to cshtml not work with renderMode = Server"
In my blazor app when I try to redirect to cshtml page with render mode = Server , I got
"Sorry, there's nothing at this address."
So I got not found routing.
If I switch render mode to ServerPrerendered , It's work fine.
Or If I redirect to .razor page It's work fine

In _Host.cshtml I have
[code]

And for example In MainLayout.razor I have this
[code]

[2020-02-06 11:03] Grabauskas opened #18850 "IIS requests hang after closing Visual Studio with Development Time IIS Support (outOfProcess)"
### Description
All requests from IIS will be hung if the console was flooded with messages.
This issue only occurs when running with IIS without Visual Studio. And it looks like because there is no active console.
Seems like Console Logger has a queue and if it's overcrowded then all requests will be hung.

### To Reproduce
1) Create a new ASP.NET web application with API project template.
2) Set

[2020-02-06 11:24] JeepNL commented on #18816
@javiercn Earlier I've posted a question at [StackOverflow](https://stackoverflow.com/questions/60054951/running-multiple-asp-net-core-3-1x-latest-websites-on-port-80-with-kestrel) about this and yes there was a suggestion about using `MapGet` but using this would make it hard to maintain, @rynowak told me the same on Twitter and suggested to me opening an issue here.

At this moment I'm renting 2

[2020-02-06 11:30] javiercn commented on #18816
@JeepNL sorry if I was not clear, I meant you can try and do

[code]

Then you can decide what app/component to render based on the host?

[2020-02-06 11:42] JeepNL commented on #18816
@javiercn  I sure can try that, but could you please provide me with some more info/code, if it's not too much work? How do I 'route' this to different apps/components. The page you've mentioned at Docs returns different views, but I'm using Server Side Blazor.

[2020-02-06 12:30] mykola384 commented on #17651
Do you have any news on this? I have very similar issue. I also described it and asked for help here:
https://stackoverflow.com/questions/60058325/net-core-3-1-webapplicationfactory-testserver-cannot-find-razor-view-when-over

[2020-02-06 12:43] daltskin opened #18852 "Blazor WebAssembly & Azure.Storage.Blobs upload freezing/hanging"
### Describe the bug
When using the Azure.Storage.Blobs package from Blazor wasm to upload files to blob storage the application is freezing, even though the upload succeeds to the blob storage endpoint (files can be then be retrieved to ensure they've been written correctly).

There is a difference in behaviour if the result of the UploadAsync is awaited or not (see code extract below).  If it's

[2020-02-06 12:50] KamranShahid commented on #17458
@niklascp sorry for late reply. following does work

upstream tag {
        server  1.2.3.4:8080;
}

server {

    listen 81;
    server_name myappdomain.com.net;
         location / {
                        proxy_pass      http://tag;
                        proxy_next_upstream error http_502;
                        proxy_redirect     off;
            server_tokens off;
            proxy_set_he

[2020-02-06 13:21] mviegas commented on #18763
I did not asked properly, sorry.

I meant this regular interval that the callback is called. Is it fixed by something (if so, by what) or is it configurable?

[2020-02-06 13:21] dipakyadav opened #28371 "HMSET is deprecated, but used by Microsoft.Extensions.Caching.StackExchangeRedis"
As per Redis 4.0.0, HMSET is considered deprecated. Please use HSET in new code.
As of Redis 4.0.0, HSET is variadic and allows for multiple field/value pairs.

[2020-02-06 13:24] niti01 commented on #18019
Ok. I also tried to rename/delete the x64-version of aspnetcorev2.dll but still the 3.0.0 installation package did not install aspnetcorev2.dll (netiher x32 nor x64). I guess it somehow still considers it already installed. I manually copied v2.2 of the dll to the V2 folder. And now the existing 32-bit application does not crash at least. But we are eagerly awaiting the fix...

[2020-02-06 14:00] javiercn commented on #18852
@daltskin thanks for contacting us.

I believe this is likely caused by the library internally doing .Wait() or similar. That normally doesn't cause issues as in most cases there is a separate thread that can resume the execution and unblock the waiting thread.

In the Blazor case, there is only a single thread, so if the library blocks internally, or does something that is not totally correct wit

[2020-02-06 14:02] javiercn commented on #18849
@troepolik thanks for contacting us.

You likely need to do `/login` instead of `\login`. NavigateTo expects a url, relative or absolute, not a path as you seem to be trying to pass.

[2020-02-06 14:02] OpenSpacesAndPlaces commented on #17932
@blowdart If I'm reading into this right - the goal for this item would be to get it into 3.2?

[2020-02-06 14:09] javiercn commented on #18833
@Kahbazi thanks for contacting us.

We are not sure of the point you are trying to make here. Blazor transpiles to c# and the result of that is expected.

We're not sure what you are trying to accomplish here, but you should avoid leveraging how the compiler generates code as that might be subject to change in future versions.

[2020-02-06 14:11] javiercn commented on #18840
@mvarblow thanks for contacting us.

I believe there's already an issue open for this. @anurse is this something that can be done at the signalr level, even if its for all hubs, so that customers can get unblocked?

[2020-02-06 14:14] javiercn commented on #18839
@Ellested thanks for contacting us.

We likely don't have support for this as it would involve marshalling the list of files automatically and that's not something we are likely to support out of the box due to the complexity of the requirements.

A better approach for this is to build whatever logic you need for your control in JS and use JS interop to talk to the .NET side

[2020-02-06 14:16] javiercn commented on #18823
@gulzarahamed thanks for contacting us.

I'm not sure the library you are mentioning is supports ASP.NET Core. It is up to third-party library authors to make their libraries support asp.net core.

[2020-02-06 14:20] pranavkm commented on #18844
Yup - #18655

[2020-02-06 14:20] #18844 closed

[2020-02-06 14:43] blowdart commented on #17932
There is no 3.2.

[2020-02-06 14:53] fitdev commented on #18743
@SayusiAndo Thank you for your suggestion. Unfortunately this would not work for me for a number of reasons:

First, Services serve a different purpose - typically providing access to tangential data used by component in some fashion.

Secondly, their extensive and widespread use would be costly at runtime and require a lot of code to write an maintain.

Third, a service would still need to someho

[2020-02-06 14:58] fitdev commented on #18743
@mrpmorris Being able to create own Cascading Value Providers would be especially useful for passing those values dynamically for example, since `ICascadingValueComponent.CanSupplyValue` can be implemented in various ways to account for different needs, not to mention the ability to control subscriptions as well.

[2020-02-06 15:17] HonzaSinkora opened #18853 "Blazor WebAssembly crashes at runtime when PostSharp is used"
### Describe the bug
When Blazor is running in Server mode, all works as expected. When using Blazor WebAssembly, applying PostSharp in the same way results in "An unhandled error has occured" in the browser. The debug console shows the following:

[code]

### To Reproduce
Here's a minimalistic repo: [BlazorWasmPostSharpIssue](https://github.com/HonzaSinkora/BlazorWasmPostSharpIssue).

### Further

[2020-02-06 15:39] derekcripps opened #18854 "Error after upgrade to WebAssembly Preview 3.2.0 - Cannot find WebAssembly.Runtime.CreateUri"
I upgraded to 3.2.0, and made the updates as per the upgrade instructions.  The application runs fine inside the Visual Studio debugger environment, but I receive this error after publishing it to an IIS server.

Uncaught (in promise) Can't find method WebAssembly.Runtime:CreateUri

It looks like the Index page has loaded, but only displays the "loading..." message in the browser window.

Please a

[2020-02-06 15:51] mrpmorris commented on #13595
Could this be considered please? It allows the validation of a sub-set of object properties without having to mark them as modified.

[2020-02-06 15:53] DanJ210 commented on #18730
Let me know if I've been too confusing or if I can add anything else. I'm anxious to find out if there's something I'm doing completely wrong or if someone else is able to replicate the issue.

[2020-02-06 15:54] mrpmorris opened #18855 "[Blazor] Validate sub-set of model properties"
It would be very useful to be able to validate only inputs in a form rather than always a whole object. This could be easily achieved if InputBase would ensure EditContext has FieldState for it when it is created, and adding an option on EditContext to validate the field state it holds rather than the whole object.

For illustration purposes only, I cloned the source and provided an example of how

[2020-02-06 15:58] mrpmorris commented on #18743
@fitdev Sorry to repeat the question, but I don't feel you've answered the question I had in mind. I don't want the request re-explained, I'm interested in reading an example scenario.

Thanks

[2020-02-06 16:01] #18800 closed

[2020-02-06 16:06] rynowak commented on #18816
To be really clear about one point - in ASP.NET Core there's one "app" because there's one definition of the service provider. If you're OK with this, then you can have multiple entry point components just fine. If you really want to treat these as separate apps that don't interact with each other, dealing with the service provider and the need to have multiple service providers is the hard part.

[2020-02-06 16:08] anurse commented on #18840
Yeah, debugging is a problematic thing for timeouts. We actually disable server-side timeouts when a debugger is attached but can’t control client-side timeouts in the same way.

Right now it can only be set on the HubConnection in the client. Either Blazor will have to expose the HubConnection or SignalR will have to add support for setting the property in HubConnectionBuilder (or both). Seems li

[2020-02-06 16:09] lukos opened #18856 "Dependency Injection errors are not shown when running locally"
### Describe the bug
I am seeing errors related to the dependency injection container but only when deployed. When I run locally, I do not see the errors and the system runs fine.

### To Reproduce
For example, I have accessed a scoped DbContext type in middleware. I know this is not permitted but since it worked locally, I thought maybe it was OK. It runs fine locally but once deployed, it rightf

[2020-02-06 16:14] Tratcher commented on #18848
Have you tried it yet? Conceptually it should be the same and you'd do the same configuration in the .NET app. For the F5 config you'll need to consult their own docs.

[2020-02-06 16:21] Tratcher commented on #14657
Are we doing anything here? Also, where is the source for this package?

[2020-02-06 16:32] Socolin commented on #3793
If there is no lock, why notify IIS when the build start ? Can't we just signal when all the files are updated and the application need to be recycled ? I think I misunderstood something.

[2020-02-06 16:58] Tratcher commented on #18856
DI validation is enabled if your app runs in "Development".
https://github.com/dotnet/extensions/blob/4ac4b19372773dc7a226309497495dcc26d9e26b/src/Hosting/Hosting/src/Host.cs#L119-L120

When running locally, are you running in Development? And in production? That will be logged at startup. It's controlled by the launchsettings.json file.

[2020-02-06 17:00] lukos commented on #18856
Locally, I run as "Local" to differentiate from our dev environment. In the deployed app, it is "Development" (on a dev server, not in production).

Ah, I can see the problem now! So obvious once someone tells you. Thanks.

[2020-02-06 17:00] #18856 closed

[2020-02-06 17:00] Tratcher commented on #18846
@jkotalik @joeloff

[2020-02-06 17:24] andresabglb opened #18857 "Could not load type 'Microsoft.AspNetCore.Mvc.Internal.AmbiguousActionException' from assembly 'Microsoft.AspNetCore.Mvc.Core, Version=3.1.1.0"
I am migrating some APIs from .NET Core 2.2 to .NET Core 3.1 and there is a middleware which catch exceptions and returns an HTTP Code. This is the Invoke method:

[code]

As you can see, we have a reference to AmbiguousActionException. This code is throwing the following exception in runtime

`System.TypeLoadException: Could not load type 'Microsoft.AspNetCore.Mvc.Internal.AmbiguousActionExceptio

[2020-02-06 17:33] mkArtakMSFT commented on #18854
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-02-06 17:33] Pilchie commented on #14657
Isn't that https://github.com/dotnet/aspnetcore/pull/17041?

[2020-02-06 17:37] mkArtakMSFT commented on #18852
@pakrym do you know whether there are blocking calls in this package? Can you recommend where we should move this issue to?

[2020-02-06 17:40] brockallen commented on #17651
Related? https://github.com/dotnet/aspnetcore/issues/17655#issuecomment-581418168

[2020-02-06 17:41] mkArtakMSFT commented on #18839
This looks like a dupe of https://github.com/dotnet/aspnetcore/issues/17552

[2020-02-06 17:41] #18839 closed

[2020-02-06 17:43] derekcripps commented on #18854
[Fuji_Main After Upgrade (2).zip](https://github.com/dotnet/aspnetcore/files/4166824/Fuji_Main.After.Upgrade.2.zip)

Please see attached, and let me know if you need anything else.  Thanks again

[2020-02-06 17:46] mkArtakMSFT commented on #18816
Closing as there are no more actions pending here for us.

[2020-02-06 17:46] #18816 closed

[2020-02-06 17:48] mkArtakMSFT commented on #18794
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-02-06 17:52] mkArtakMSFT commented on #18857
Thanks for contacting us.
We suggest following our [migration guide](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio).
Also it seems you're mixing both .NET Core and .NET Framework assemblies in your references which won't work.

[2020-02-06 17:52] #18857 closed

[2020-02-06 17:55] mkArtakMSFT commented on #18829
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-02-06 17:57] mkArtakMSFT commented on #18853
This issue was moved to mono/mono#18740

[2020-02-06 17:57] #18853 closed

[2020-02-06 17:59] davidfowl commented on #3793
Yes that would work. I thought you were describing the current state of the art. It might even be possible to do this today with web.config. If you touch the file it'll reboot the application.

[2020-02-06 18:00] #18826 closed

[2020-02-06 18:00] #18801 closed

[2020-02-06 18:00] #18796 closed

[2020-02-06 18:07] anurse commented on #14657
Yep, #17041 is the update for this. Just waiting for March branches to open.

[2020-02-06 18:09] anurse commented on #18763
It's hardcoded right now, you can't configure it. Can you provide more details on what you're trying to do in the heartbeat and how you'd like to configure this? You can always create your own heartbeat.

[2020-02-06 18:12] wtgodbe commented on #18792
Looking into it, notes here.

- dotnet/runtime generates these files in their `Prepare artifacts and upload to build` step

[2020-02-06 18:17] rynowak commented on #18835
@mkArtakMSFT - taking this.

How has this code made its way into VS for mac? We don't actually ship this, we just maintain it for WTE. So it sounds like they shipped it in VS for mac. I'm happy to fix this, or at least silence the error, but it sounds like ideally it would work in VS for mac as well.

@abpiskunov

[2020-02-06 18:20] wtgodbe commented on #18792
We used to use the Buildtools task, I guess: https://github.com/dotnet/buildtools/blob/6736870b84e06b75e7df32bb84d442db1b2afa10/src/Microsoft.DotNet.Build.Tasks/GenerateChecksums.cs. The other option, for now, is add a dependency on the buildtools package that carries this task, but that makes me nervous since buildtools is "deprecated"

[2020-02-06 18:22] Pilchie commented on #18792
The original mailthread here suggested that arcade had support for this directly.

[2020-02-06 18:23] rynowak commented on #18847
For security and safety reasons we generally do not return .NET exception messages to clients unless we really know they are designed to be safe. These messages could contain information about your data structures or other sensitive details about your app's configuration. It seems reasonable to that we could return line info when we have it.

[2020-02-06 18:24] dagood commented on #18792
My mistake--Arcade supports uploading to `dotnetclichecksums` but yes, doesn't appear to have the build task or anything like automatic processing during the publish stage. I think it would be reasonable to track getting it into arcade (or copying it to a local build tasks project if this repo has one). Definitely don't try to use buildtools. 🙂

[2020-02-06 18:24] kishorpise opened #18858 "Google Auth- Asp.net core 3.1"
For Social outh integration, I am trying some simple implementation. I am always getting
The auth state was missing or invalid. There is no much documentation available.

I read the post. https://github.com/dotnet/aspnetcore/issues/6486
it looks its out dated and not true. when I just add nuget reference, I have yellow mark on owin and others. and If I see release date of  Microsoft.AspNetCore.Aut

[2020-02-06 18:26] wtgodbe commented on #18792
Core-SDK does this with a checked-in task also: https://github.com/dotnet/core-sdk/blob/7464d9bca4a2f25d1f832f9ef51ed288d4b0201e/src/core-sdk-tasks/GenerateChecksums.cs

[2020-02-06 18:37] derekcripps commented on #18854
Not sure if this is related or not, but I am also receiving this error regarding DevTools and Chrome:
![image](https://user-images.githubusercontent.com/17464411/73967308-a4558480-48e5-11ea-8748-f3c6e9353f21.png)

I receive this error when running a new, sample Blazor app based on the latest release as well.

[2020-02-06 18:38] pranavkm commented on #18794
@bfmsoft I tried using optional variables in a Blazor-Wasm application, and it seems to work fine in 3.2-preview1. To investigate this further, we'll need a working sample app that reproduces the crash that you're seeing.

[2020-02-06 18:39] mkArtakMSFT commented on #18814
@rynowak assigning this to you for this milestone per offline conversation.

[2020-02-06 18:42] pranavkm opened #18860 "Application part discovery in RazorSDK should treat Razor.RuntimeCompilation package as a MVC assembly"
Essentially add `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` to the list here: https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Microsoft.NET.Sdk.Razor.MvcApplicationPartsDiscovery.targets#L38-L51. In 3.x, referencing this assembly causes it to be stamped in the startup assembly and needlessly participates in part discovery.

[2020-02-06 18:44] bfmsoft commented on #18794
I will do a repro tonight.  Optional parms work partially but not in the situation described.  Did u try under Chrome debugger?  That is where it fails.

Thanks,
Brett

On Feb 6, 2020, at 1:38 PM, Pranav K <notifications@github.com> wrote:

﻿

@bfmsoft<https://github.com/bfmsoft> I tried using optional variables in a Blazor-Wasm application, and it seems to work fine in 3.2-preview1. To investigat

[2020-02-06 18:44] pranavkm opened #18861 "Application part discovery in RazorSDK should honor PrivateAssets="All""
Assemblies from references marked `PrivateAssets="All" should be excluded from application part discovery in the Razor SDK. The result of this is that if

a) A package contains assemblies compiled against Mvc
b) It's marked `PrivateAssets="All"`

Running the published app will always fail. The assembly from the package will be stamped in the startup assembly and MVC will attempt to load it.

[2020-02-06 18:47] ryanbrandenburg opened #18862 "GoToImplementation takes you to the correct line, but not the identifier"
[code]
So if you did Ctrl+F12 on the interface Foo, it takes you to the line for class Bar, but puts you at the start of the line instead of over the Bar identifier like with GoToDefinition.

[2020-02-06 18:54] wtgodbe commented on #18792
@chcosta @dagood @JohnTortugo @riarenas is there a "preferred process" for porting stuff like this to Arcade? My inclination would be that `GenerateChecksums` should go into https://github.com/dotnet/arcade/tree/master/src/Microsoft.DotNet.Build.Tasks.Packaging, but I don't know how fast-and-loose you guys play with this process

[2020-02-06 19:02] mviegas commented on #18763
**Our scenario:**

- Various _clients_: application installed in multiple desktops
- One _server_: a signalR hub in a .NET Core 3.1 webapp with Azure SignalR Service and a Bus to consume some queue.

**The usage:**

- When a new signalR connection happens on the _server_, the hub `OnConnected` method does the following:
  - it identifies who connected, i.e. which _client_.
  - once the _client_ is

[2020-02-06 19:06] dagood commented on #18792
I'd argue for the SDK. https://github.com/dotnet/arcade/tree/master/src/Microsoft.DotNet.Arcade.Sdk/src. Packaging is for `pkgproj` (CoreFX-style packaging), doesn't make sense to bring it in for this. I'm not aware of any process particular to adding tasks to the Arcade SDK.

[2020-02-06 19:11] blowdart commented on #18858
You're adding the wrong references. OWIN is not for Core. Follow the Core 2 *or* Core 3 instructions.

[2020-02-06 19:14] kishorpise commented on #18858
Yes.. you are correct. That is what I also mentioned.

[2020-02-06 19:19] ajaybhargavb opened #18864 "@functions block coloring is off"
![image](https://user-images.githubusercontent.com/1579269/73970645-584d1480-48d2-11ea-87cc-4e7332b152af.png)

@NTaylorMullen is assume this is supposed to work?

[2020-02-06 19:31] Karql commented on #18847
@rynowak thank you for the replay.

That is obvious, but in this catch there is checking what kind of exception it is.
For xml I would like to get similar message as for json.

[2020-02-06 19:42] mjrousos opened #18865 "AzureADB2C.UI doesn't allow customizing post-logout redirect URI"
I'm using Microsoft.AspNetCore.Authentication.AzureADB2C.UI to provide B2C login in a (server-side) Blazor app. The problem is that after the user logs out (by navigating to `AzureADB2C/Account/SignOut`), they are logged out and [redirected back to a generic 'signed out' page at /AzureADB2C/Account/SignedOut](https://github.com/dotnet/aspnetcore/blob/master/src/Azure/AzureAD/Authentication.AzureAD

[2020-02-06 20:04] pakrym commented on #18852
The `*Async` overloads should be purely async all the way to HttpClient.

[2020-02-06 20:06] sven5 commented on #18865
The only possible workaround currently is to rewrite the URL:
[code]

[Found here](https://stackoverflow.com/questions/56927081/change-azure-ad-b2c-signout-url-change-azureadb2c-account-signedout-to-custom-u)

[2020-02-06 20:14] wtgodbe commented on #18792
Glad I asked. Another question here - we need to fix this in 3.1 as well. Is it worth taking this in 3.x Arcade, or should we just check the task into AspNetCore's 3.1 branch, and only put it in Arcade for master/5.0? I'd lean towards the latter, I guess, since it isn't critical for servicing for repos other than AspNetCore. @mmitche does that sound right?

[2020-02-06 20:28] pranavkm commented on #18833
This sounds like something we could enforce as part of the parser. Let's triage this.

[2020-02-06 20:37] abpiskunov commented on #18835
We are not using this code in WebTools anymore. We have our own generic feature detection logic which includes similar check and much more stuff. @KirillOsenkov how this code is still running on mac, thought we removed package reference and code using it?

[2020-02-06 20:48] ajaybhargavb commented on #18343
Here is the stacktraces,
<details><summary>StackTraces</summary>
<p>

[code]

</p>
</details>

[2020-02-06 20:53] Pilchie commented on #18401
@douglassimaodev - I can repro that if I don't have the 3.1.1 runtime installed, but not once I installed the 3.1.1 runtime.  This is what is described in the "Updating packages without updating shared runtime" section of https://github.com/aspnet/announcements/issues/401.

You can install the 3.1.1 SDK or Hosting Bundle from https://get.dot.net before it is bundled into VS.

[2020-02-06 21:03] mvarblow commented on #18840
Thanks, @anurse. I'd love to try something sneaky, but I haven't been able to come up with any way to get a hold of that HubConnection object. I don't see it getting stashed away anywhere. It seems to be referenced only as a method-scoped variable or parameter. And it doesn't seem to be passed to any functions I can hook into. As far as I can tell this internal implementation detail was successful

[2020-02-06 21:06] blowdart commented on #18858
OK, what error are you getting? Can we see your startup class (remove any secrets first) and your csproj

[2020-02-06 21:14] wtgodbe commented on #18792
@mthalman what exactly is the closure of asset types that need checksum files? Our shipping assets include `.jar`, `.pom`, and `.tgz` files for signalR, plus `.msi`, `.tar.gz`, `.rpm`, `.zip`, `.exe`, `.deb`, `.wixlib` files that correspond to the runtime/installers.

[2020-02-06 21:21] fireinthemountain commented on #17472
Including autofocus would be a great addition.

[2020-02-06 21:22] MichaelSimons commented on #18792
@wtgodbe, My suggestion would be to produce checksums for the same artifacts we do for official releases as [shown in the releases.json](https://github.com/dotnet/core/blob/master/release-notes/3.1/releases.json#L287)

[2020-02-06 21:37] kishorpise commented on #18858
Error what I am getting is -----The oauth state was missing or invalid.
Below is entire startup class. (asp.net core 3.1.1) and configuration in json.

 "ClientId": "XXXX",
    "ClientSecret": "XXXXXX",
    "CallbackPath": "/Account/GoogleCallBack",
    "project_id": "XXXXXXX",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",

[2020-02-06 21:46] blowdart commented on #18858
@HaoK @Tratcher

[2020-02-06 21:46] blowdart commented on #18858
Oh what browser are you using?

[2020-02-06 21:52] KirillOsenkov commented on #18835
We've inserted the version from rel/16.5, this code must be in that branch?? ¯\_(ツ)_/¯

[2020-02-06 21:54] kishorpise commented on #18858
Chrome- Ideally this should not be problem. I just checked on IE. same issue.
Below is signature in controller.
   [HttpGet]
        [Route("[controller]/[action]")]
        public IActionResult GoogleCallBack()
        {.....

[2020-02-06 21:55] blowdart commented on #18858
Ah ok that rules out out the samesite changes chrome made.

[2020-02-06 22:00] #18682 closed

[2020-02-06 22:00] ericfowler303 commented on #14076
Angular 9 has been released: https://github.com/angular/angular/releases/tag/9.0.0

[2020-02-06 22:00] #18756 closed

[2020-02-06 22:04] anurse commented on #18728
Is your goal here to have a multi-tenant AuthorizationHandlerProvider that can resolve different sets of handlers for different tenants? In general, multi-tenant apps are going to need to manage a DI container per-tenant ([Orchard](https://github.com/OrchardCMS/OrchardCore) does this, for example) because most of ASP.NET Core (not just Authorization) isn't suited for multiple tenants in the same D

[2020-02-06 22:06] anurse commented on #18729
Duplicate claims should still end up in the ClaimsIdentity though, and you can filter them out from there rather than in the JSON.

[2020-02-06 22:14] anurse commented on #18772
This seems to be well-covered by the [OptionsBuilder API](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/options?view=aspnetcore-3.1#use-di-services-to-configure-options).

These are also well-covered by the OptionsBuilder API, the biggest discovery issue here is the named options goop. Maybe this could be useful.

[2020-02-06 22:16] anurse commented on #18787
Sounds like something that the SPA proxy would need to configure. Routing to MVC.

[2020-02-06 22:23] Tratcher commented on #18858
You're trying to combine things in a confusing way. You already have `AddIdentity` so you don't need any of this code:
[code]

So the simplified code looks like this:
[code]

See https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/google-logins?view=aspnetcore-3.1#configure-google-authentication

Also, CallbackPath does not refer to an MVC endpoint, it's a path that's handl

[2020-02-06 23:07] dougbu commented on #18847
The XML formatters throw `FormatException` and / or `XmlException` in numerous places, with numerous messages. Their messages aren't universally designed to hide sensitive information.

[2020-02-06 23:09] mkArtakMSFT commented on #17248
@rynowak , given @BillHiebert is looking into enabling this for the entire solution in VS, is there anything else we need to do here?

[2020-02-06 23:09] wtgodbe commented on #18792
Would Core-Sdk/Core-Setup then change their builds to use the Arcade task, as a servicing fix? That seems unlikely. If we have another Arcade change in 3.x queued up, which will need to be ingested by all the 3.1 branches, then I think it'd be fine to piggyback off of that. But if not I'd be more inclined to reduce noise by only doing the Arcade port for master

[2020-02-06 23:09] mkArtakMSFT commented on #17248
/cc @SteveSandersonMS in case you have thoughts regarding my question above.

[2020-02-06 23:09] SimonCropp commented on #5458
@RehanSaeed just an FYI, I maintain a snapshot style testing lib https://github.com/SimonCropp/Verify. and i am actively tracking blazor testing to see if i can add any specific value to that scenario. Happy to accept any suggestions you have

[2020-02-06 23:12] HaoK commented on #18730
So just to clarify, you don't mean its half working, you just mean password based registration works, and social logins do not currently send account confirmation correct?

If that's the case, yes that's an issue we have fixed for 3.1.2 and 5.0, see https://github.com/dotnet/aspnetcore/pull/18206

You can scaffold out the external login page and move the send email code similar to the fix in the m

[2020-02-06 23:15] #14718 closed

[2020-02-07 00:09] dagood commented on #18792
I agree, since there's no direct reason to do so. However, if there becomes some reason to change the checksum code in 3.1, it would be good to have it centralized in Arcade so Core-Setup and Core-SDK can swap over and delete the duplicate rather than copy the C# fix. (Kinda weak justification though, I'll fully admit.)

[2020-02-07 00:18] kishorpise commented on #18858
Yes code is tried for getting solution for the resolution of error.
I have removed the block and tried same error is occurring.  -Regarding fidler output
I can see, all responses are correct. (Redirect etc.) below is -(little modified request and response)

I can see state, redirect url, scope is correct.

GET /o/oauth2/v2/auth?response_type=code&client_id=XXXXXX&redirect_uri=https%3A%2F%2Flocalho

[2020-02-07 00:25] Tratcher commented on #18858
You've set CallbackPath to `/Account/ExternalLoginCallback` and that's interfering with Identity. Change CallbackPath back to `/signin-google` and let the middleware take care of it. The middleware will redirect to `/Account/ExternalLoginCallback` when it's done.

[2020-02-07 00:44] #14323 closed

[2020-02-07 05:32] qJake commented on #4706
Would really like to see support for this - since Let's Encrypt is quickly gaining traction, it is becoming increasingly common to have a `fullchain.pem` file that looks like this:

[code]

And a `privkey.pem` that looks like this:

[code]

[2020-02-07 06:52] HaoK commented on #10422
Fixed by https://github.com/dotnet/aspnetcore/pull/18867

[2020-02-07 06:52] #10422 closed

[2020-02-07 07:05] sadjadbp opened #18871 "Form key length limit 2048 exceeded"
I have a similar issue to #11262 , where I'm randomly getting "Form key length limit 2048 exceeded" after upgrading to asp.net core 3.1 from asp.net core 2.2

Situation is I'm passing a large Base64Url encoded to client and getting it back in a POST call. Then I'll read the posted field using Request.Form["fieldname"]

I'm getting "Form key length limit 2048 exceeded". At first I've started to add

[2020-02-07 07:14] theo-albers commented on #18728
No, the goal is to add row level authorization as cross cutting concern. In this particular project we wanted to follow the same pattern, but here we have a tenant claim as part of the claims principal.

The point is basically:

1) the documentation states that you can use authorization handlers with any lifetime scope. See https://docs.microsoft.com/en-us/aspnet/core/security/authorization/polici

[2020-02-07 07:16] agussang opened #18872 "dotnetcore 2.2 performance issues test with wrk"
### Describe the bug
I was deploy simple MVC with dotnetcore 2.2 build with docker and test with wrk tools, i got issue on performance.

This with dotnetcore 3.1
![image](https://user-images.githubusercontent.com/35206221/74008561-c3224c80-49b3-11ea-8d7e-2257ada41828.png)

This with dotnetcore 2.2
![image](https://user-images.githubusercontent.com/35206221/74008605-daf9d080-49b3-11ea-8bb0-10e1a300

[2020-02-07 07:37] troepolik commented on #18849
@javiercn Thanks for your notise.
But actually It's never mind, I tried
[code]
But it's does not work too.
Also, I tried to do it by component in App.razor like this:
[code]
And It does not work too.

[2020-02-07 07:37] mayur-ekbote commented on #17660
The problem still exists. This is how you can reproduce: Create a blazor component. Rename it through rename option in solution explorer. The editor cannot find the class and the build does not go ahead.

[2020-02-07 08:19] javiercn commented on #18849
Can you provide a minimal repro project that illustrates your issue so that we can help you?

[2020-02-07 08:52] KamranShahid commented on #18848
In my current app i did no custom configuration.
On nginix side i have done cofniguration like

[code]
as mentioned in https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-3.1

[2020-02-07 09:11] troepolik commented on #18849
@javiercn Sure:
https://github.com/troepolik/testBlazorServerRender

[2020-02-07 09:38] Ellested commented on #18839
Yes, I already took the JS approach. I still believe it would be a good idea to send the full details, but maybe throttle the dragover event. It is actually fairly measurable on the CPU, when this event is handled today (without the full payload), so it's not a perfect solution either. But, it's a luxury problem :-)

[2020-02-07 10:09] javiercn commented on #18872
@agussang thanks for contacting us.

@sebastienros can you help out here?

[2020-02-07 10:11] javiercn commented on #18872
@agussang I would like to mention that 2.2 is out of support as per our current support policies. You should consider migrating forward to 3.1 or going back to 2.1 which is LTS and will be supported up until August 2021. See [here](https://dotnet.microsoft.com/platform/support/policy/dotnet-core) for details.

[2020-02-07 10:19] javiercn commented on #18849
@troepolik [this](https://github.com/troepolik/testBlazorServerRender/blob/master/BlazorApp1/Pages/test.cshtml#L1) needs to be `@page /test`

[2020-02-07 10:20] javiercn commented on #18871
@sadjadbp thanks for contacting us.

@Tratcher this belongs in hosting, doesn't it?

[2020-02-07 10:45] kryptine opened #18873 "Switch to MIT license"
See also https://github.com/dotnet/roslyn/issues/37797

[2020-02-07 10:58] Bluebeerd commented on #18411
I've finally got a minimal project that reproduces the Intermittent loading problem.
Reproduced on two different computers, I managed to get an error after 7 runs, gave up after 20 on another cycle and got the error after 10 runs on a third cycle.
Steps to reproduce:

Hit F5
When the browser opens, hit the 'Counter' button a couple of times to show it's working
Stop Debug

Repeat the above until t

[2020-02-07 11:28] JeepNL commented on #18816
@mkArtkaMSFT I'm sorry, I can't get it to work. @rynowak FYI: I don't want the two website to interact with each other, I just want to host multiple websites with Kestrel on one server. At StackOverflow they don't know how to do this, and here your words "is the hard part" stand out to me. I can't figure out why this basic (in my opinion) webserver functionality would be 'hard'. I'm in no hurry, a

[2020-02-07 11:47] javiercn commented on #18816
@JeepNL I would suggest that you host them in separate processes and configure kestrel appropriately to handle it?

@halter73 @Tratcher This should be doable with 3.1, isn't it? You would set kestrel to listen to host1 in process1 and host2 in process2 and at that point they are completely separate apps. They should both be able to listen on 80 and 443 with the right registrations?

If I'm wrong,

[2020-02-07 11:50] jez9999 opened #18874 "ClientId and ClientSecret shouldn't be mandatory in OAuth"
In this code: https://github.com/dotnet/aspnetcore/blob/75e0115de9ff4ba6ab139777099dc9d951b2a3ff/src/Security/Authentication/OAuth/src/OAuthOptions.cs#L29

Checks are made to ensure that ClientId and ClientSecret are provided when using OAuth.  The OAuth2 specification says that these are only required if a confidential client is authenticating with the auth server: https://tools.ietf.org/html/rfc

[2020-02-07 11:57] agussang commented on #18872
so no solution for this issue? actually dotnet 2.2 have bad performance?

[2020-02-07 11:59] JeepNL commented on #18816
@javiercn I thought I can't start 2 instances of Kestrel sharing the same port(s) (80/443) on my Ubuntu VPS (sharing violation?) . This makes sense to me, but I'm by far no Linux expert, But if this is possible I'll start asking questions at an Ubuntu forum, because I think that would be a solution. And because Kestrel is so light weight and fast my Ubuntu VPS wouldn't have a problem with serving

[2020-02-07 12:03] javiercn commented on #18816
I'm no expert in Linux/Kestrel hosting, that's why I looped in the right folks.

[2020-02-07 12:06] javiercn commented on #18816
@JeepNL just to be clear, from what I understand you want 2 separate applications (processes) running on the same machine, and not the same application (same process) serving two different apps. (With no isolation whatsoever between the two apps, (both apps share memory and other resources)).

Is that right?

[2020-02-07 12:08] jez9999 commented on #18874
OK, re-reading the spec, client ID *is* required as it's presented when hitting the authorization endpoint.  However, client secret should not be required.

[2020-02-07 12:22] JeepNL commented on #18816
@javiercn Thank you for that, and thank you for your reply.

For me, I can work with both scenarios, because I only want to run 2 or 3 different websites. **A)** One Kestrel process and putting different websites in different directories in the same App/(Visual Studio Solution/Project), which would mean they will be sharing resources, and work from there with some kind of routing.

or **B)** start

[2020-02-07 12:30] RemiBou opened #18875 "[Blazor] Exception not displayed when call in JSInterop times out"
### Describe the bug
When a jsinterop task is cancelled because of a timeout, the current execution flow is interupted.

### To Reproduce

With the following component

[code]
The console display "1" then nothing. I think the console should display "1" then the exception stacktrace. You should test it in firefox (68.4.2) as this method does not create a prompt in chrome.

But if I execute the foll

[2020-02-07 13:24] almogohayon1 commented on #18729
Duplicates should end up in the identity or not is up to the client to decide. OnUserInformationReceived is the place to control that behavior,  so I need control over response recieved from identity server, where in some cases where the response contains multiple claims from same time would end up showing as formatted array string mapped into the claimidentity claim name as follow "[name1, name2]

[2020-02-07 13:34] juniorgasparotto opened #18876 "TraceId contains a pipe char"
Hello,

I am migrating to aspnetcore 3.1 and I noticed that the traceId is coming with a "|" at first, does this seem like a problem or did I miss something in the documentation? The same question applies to the name of the field, why "$." as a suffix?

1) "traceId": "|125b177f-444ca33308cefc01."
2) $.dateOfBirth"

Full response:

[2020-02-07 14:42] amansulaiman commented on #18848
@KamranShahid I think you can maintain the same Nginx as an internal reverse proxy for Kestral while f5load balancer as an external load balancing for your network.
Or you can configure Kestral to accept traffic on port 80 and expose it to f5 node.

[2020-02-07 14:43] DanJ210 commented on #18730
@HaoK I had a lot of working then not working at first but so far what's consistent is local account registration works and calls upon the right email service channels. Social registrations call upon the email service but then never actually use it. Meaning the constructor is called and options/settings are setup but none of the further methods to generate and send an email are called, when using

[2020-02-07 14:45] xshiiiidev opened #18877 "Visual Studio 2019 launchSetting.json problem with Dotnet Watch Run"
So I have this launchSetting

[code]

My problem is the launchBrowser even set as true is not launching the browser. It only opened the command line and not the browser.

Also I cannot put a debug point to visual studio when using this profile using (F5).

[2020-02-07 15:00] #18823 closed

[2020-02-07 15:00] #17458 closed

[2020-02-07 15:03] zbecknell commented on #18752
Great to see a PR for this already out there!  I discovered this issue occurs with `dotnet watch run` as well with linking disabled on the client project.

[2020-02-07 15:08] javiercn commented on #18816
I don't think we'll ever go in this direction. For us, the process is the unit of isolation.

For your case, you can do with something like this

In _Host.cshtml
[code]

I don't even think that you would need to map multiple BlazorHubs on startup. The code that I've given you should be enough, provided that you get kestrel to listen on both endpoints.

[2020-02-07 15:29] Tratcher commented on #18816
No, Kestrel can't share ports with another process, you'd need a reverse proxy for that. IIS/Http.Sys have a built in proxy to enable port sharing but only with other IIS/Http.Sys sites.

See my earlier [comments](https://github.com/dotnet/aspnetcore/issues/18816#issuecomment-582601005) about not needing any kestrel config to host multiple domains. It's a matter of routing at the application layer

[2020-02-07 15:33] DavidColemanUK opened #18879 "SignalR ondisconnectedasync() not called when using Long Polling in aspnetcore"
### Describe the bug
Following the [tutorial](https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?view=aspnetcore-3.1&tabs=visual-studio) here to create a simple SignalR Chat application in aspnetcore MVC.

We then enforce it to use **HttpTransportType.LongPolling**.

This settings seems to then stop **OnDisconnectedAsync** from being fired.

### To Reproduce

1. Set up basic chat app f

[2020-02-07 15:36] blowdart commented on #18874
If you're writing a public client, then frankly that's not what we're aiming at. We don't use implict flow, or authorization flow by default. We're web apps, we expect to be confidential. If you want to go outside of that then you're outside the scope of what we're aiming at.

[2020-02-07 15:38] Pilchie commented on #18873
We're working on it.

[2020-02-07 15:47] jez9999 commented on #18874
I thought you used auth code flow by default.  What flow is the default?

[2020-02-07 15:49] Tratcher commented on #18871
Can you share a Fiddler trace so we can see the raw request body?

[2020-02-07 15:56] JeepNL commented on #18816
@javiercn Thank you for your code example (`@if(context`...) in _Host.cshtml, it seems pretty easy to implement and if I can use that, it would make me very happy, I'll try to get it working this weekend.  @Tratcher, yes that's what I thought.  If I can host multiple websites with the code example above from Javier it would be great. Having just one Kestrel process, and I'd really like to use Kest

[2020-02-07 16:10] BrennanConroy commented on #18879
How are you closing the client? If you have a debugger attached and close the client by closing the browser tab, then you'll never observe `OnDisconnectedAsync` being fired. This is because we check if a debugger is attached and don't trigger certain timeouts in order to making debugging easier. If you close by calling stop on the client then you should see `OnDisconnectedAsync` called.

[2020-02-07 16:29] davidfowl commented on #18876
There was a change in .NET Core 3.0 to use the ActivityId as the trace id in the logs, it's not a mistake, the docs for the ID format are here https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Diagnostics.DiagnosticSource/src/ActivityUserGuide.md#activity-id

[2020-02-07 16:45] pranavkm commented on #18875
@RemiBou that looks like an unawaited task:

[code]

[2020-02-07 17:24] pranavkm commented on #18877
Does setting `applicationUrl` work: https://stackoverflow.com/a/52951565?

[2020-02-07 17:26] juniorgasparotto commented on #18876
Ok, thanks...

And the "$ .dateOfBirth", it's a New behavior, as well?

[2020-02-07 17:27] davidfowl commented on #18876
That's separate, as it looks like problem details.
cc @pranavkm

[2020-02-07 17:31] pranavkm commented on #18876
The `$` sign is part of the JSON Path specification that System.Text.Json uses. It's meant to indicate the root of the object graph.

[2020-02-07 17:36] RemiBou commented on #18875
I missed it in my code sample sorry. The await was here during my tests.

[2020-02-07 18:24] alienwareone opened #18883 "Async IRouteConstraint - IRouter.GetVirtualPath alternative in EndpointRouting?"
There should be an async version of Microsoft.AspNetCore.Routing.IRouteConstraint.

[code]

[2020-02-07 18:28] rynowak commented on #18883
Route constraints have to run during URL generation which is synchronous, so it's not straightforward to add something like this. If you want to achieve the same effect, you could add a `MatcherPolicy`.

[2020-02-07 18:35] rynowak commented on #17248
I'm not sure there's any work for the runtime here. Would like to know if @SteveSandersonMS has other ideas 👍

[2020-02-07 18:36] renanliberato commented on #17977
I found the documentation page from ASP.NET Signalr docs that you might be referring to: https://docs.microsoft.com/en-us/aspnet/signalr/overview/advanced/dependency-injection#simple-dependency-injection-in-signalr

[2020-02-07 18:42] renanliberato commented on #17977
I would like to help creating this page. I'm using SignalR quite a lot recently, so I'd be happy to contribute to it. Could I give some suggestions here like where to attach this page and which topics to have?

[2020-02-07 18:48] BrennanConroy commented on #17977
We'd love contributions! If you'd like you can write a rough draft for the page and paste it as a comment which we can turn into a doc, or if you'd like you can make a PR with the whole document written out and we'd be happy to review it.

[2020-02-07 18:53] ryanbrandenburg commented on #14318
If I modify _ViewImports.cshtml to remove
`@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers` I still receive hover info for taghelpers, but I don't get completions anymore. It's possible that this is a hover-only problem. Investigating.

[2020-02-07 18:53] rynowak commented on #18411
Issue author responded with a repro

[2020-02-07 19:07] pranavkm commented on #17248
At the very least, we should delete the dead code from the package.

[2020-02-07 19:13] ryanelian opened #18884 "Blazor Form CSS: "valid" CSS should only be applied when the field has actually been validated."
### Describe the bug

Directly quoting from Bootstrap 4 Form Validation guidelines: https://getbootstrap.com/docs/4.4/components/forms/#validation

**Blazor unfortunately sets `valid` CSS to all form fields BEFORE they are validated in the first place.**

Unfortunately the `modified` CSS is also not helpful because it is not applied when the entire form is validated through submission / submit but

[2020-02-07 19:16] jkotalik commented on #18564
@anurse do you think this issue should be transferred to the runtime repo at this point?

[2020-02-07 19:16] rynowak commented on #18835
@abpiskunov - should I delete this then? We made it for you :heart:

[2020-02-07 19:17] jkotalik commented on #18578
@pzbyszynski let us know if upgrading to 3.1 fixes this issue!

[2020-02-07 19:20] abpiskunov commented on #18835
Yeah, we changed the way we detect things now, we can detect any kind of things in the project not just code, however to generalize it we switched to declarative models that come form configs. We mimic same logic that you have, but do it declarative now. I guess you don't have to keep it anymore, just keep old packages since old code might need it if we ever build it.

[2020-02-07 19:24] alienwareone commented on #18883
Thanks for your answer!

I guess I'll go with "DynamicRouteValueTransformer" to replace my custom IRouter implementation.

**What is the "VirtualPathData GetVirtualPath(VirtualPathContext context)" alternative for complex url generation?**

For example:
[code]
In my view:

`Url.RouteUrl("ProductList", new { context = Model.ProductListRouteContext });`

[2020-02-07 19:26] SteveSandersonMS commented on #17248
I definitely agree with removing dead code. None of the existing implementation is likely to have any relation to whatever future solution we implement for this.

[2020-02-07 19:27] rynowak commented on #18605
The hard part is this (which you kinda glossed over 😆 )

[code]

When we've done investigations of MCJ in the past the benefit was *really* minimal in the best case, like 5%. There's a high amount of complexity in us being able to compute a stable directory to use for MCG as well as understanding when it's applicable or worth it. If we add this code (inside hosting) it has to work **everywhere** w

[2020-02-07 19:30] juniorgasparotto commented on #18876
So in these cases of invalid fields, there is no longer a guarantee of associating the JsonParse error with the model field. Despite understanding, this seems strange to me.

[2020-02-07 19:31] rynowak commented on #18883
We don't have one right now. Depending on your scenario you might want to stick with old routing in 3.X.

If you want to provide more info about what you need to accomplish, I can make sure to include it in 5.0 plans.

[2020-02-07 19:34] rynowak commented on #18835
Cool, glad to hear that you're advancing the state of the art. This will still be present in our 3.1 servicing builds, so it should be safe to delete from master.

[2020-02-07 19:34] jkotalik commented on #18735
Alright, please let us know what you see in .NET Core 3.1.

[2020-02-07 19:35] rynowak commented on #18835
@KirillOsenkov - it sounds like you don't need anything from us and this will just be taken care up when you update WTE? Clap back if you need something from me.

[2020-02-07 19:48] rynowak commented on #17248
Ok great. I will delete the code with glee.

[2020-02-07 19:49] johnkors commented on #8110
I'm a +1 on this:

Build failing on Ubuntu using Github actions, 3.1.100/101, but works ok on a Windows agent.

[2020-02-07 20:00] #17690 closed

[2020-02-07 20:09] technificentConsulting commented on #11498
Using VS2019 / .NET Core 3.1
This is what is working for me, if not listed in this order I've experienced npm start errors.

 if (env.IsDevelopment())
                {
                    spa.UseReactDevelopmentServer(npmScript: "start");
                    spa.UseReactDevelopmentServer("http://localhost:3000");
            }

[2020-02-07 20:17] alienwareone commented on #18883
Right now there seems no way to generate an Url based on a DynamicRouteValueTransformer-Route.
[code]
Right now I don't see a way to generate an Url for a "MapDynamicControllerRoute"-Route.

[2020-02-07 20:40] hoffmanntravis commented on #3514
Would a simple file semaphore / mutex in the UNC directory solve this problem (for file based DPAPI storage)?  That is, when generating a new key, create a file mutex in the shared directory that all phoning in applications check first, and wait until a given timeout for the lock to be removed or proceed with key generation.  The application in the process of generating a key would delete the sema

[2020-02-07 20:57] pranavkm commented on #18876
@juniorgasparotto, part of the reasoning was that it's less useful for a client to know how you've modeled your server if there's an issue with the JSON contents. Admittedly you still get the model state path if model validation fails. We haven't had much feedback about this. But if you feel strongly about it, feel free to file an issue for us to consider.

Additionally, these changes are a result

[2020-02-07 21:00] rynowak commented on #18497
@blowdart @HaoK - can you think of a reason we didn't do this?

[2020-02-07 21:02] kishorpise commented on #18858
Thanks for your hint. I take /signin-google is hardcoding, not a good practice... any way it worked. but now, I can see _signInManager.GetExternalLoginInfoAsync( ) is always returning null.
I checked in fidler, I can see /Account/ExternalLoginCallback has Identity.External cookie.

[2020-02-07 21:03] sadjadbp commented on #18871
[form.zip](https://github.com/dotnet/aspnetcore/files/4172869/form.zip)

Attached a saz file for my testing in localhost (so it won't contain any re-usable secrets).
As explained above I cannot repro this and nor does our clients, it just happens randomly, but I have been dumping all the details for the failed requests and couldn't find anything special about them (unicode vs non-unicode chars or

[2020-02-07 21:06] mkArtakMSFT opened #18888 "Gold-bard experience in VS to suggest Blazor Server users to try out Blazor WASM"
This will help to spread knowledge about Blazor WASM to customers, who are using Blazor Server, but don't know much about Blazor WASM.
//cc @danroth27

[2020-02-07 21:08] pranavkm commented on #18655
@SteveSandersonMS does your caching PR - https://github.com/dotnet/aspnetcore/pull/18859 - resolve this issue?

[2020-02-07 21:12] rynowak commented on #18471
Fixing this in 5.0 sounds good. I don't think this meets the bar for a patch, and I'm not sure we want to couple Blazor WASM to a specific patch version.

[2020-02-07 21:17] #18789 closed

[2020-02-07 21:24] SteveSandersonMS commented on #18655
It may well do. I didn’t specifically notice either way, but it looks plausible.

[2020-02-07 21:32] #18835 closed

[2020-02-07 21:41] Tratcher commented on #18858
It doesn't have to be `/signin-google`, that's only the default. The requirement is that it not conflict with any other endpoint in your app.

Enable the debug application logs to find out why. Sharing an updated version of your Startup would also be a good sanity check.

[2020-02-07 21:55] tiesmaster opened #18890 "Adding ResponseCacheAttribute to MVC global filter list does not apply to Razor Pages"
I was about to make this feature request, but quickly searched for a similar issue. I was happy to see that this issue was already reported in #14917. Unfortunately, that issue is already locked down, so therefore I'm raising this issue again.

To answer @pranavkm question:

No, there is not. We've added the attribute, and that works. However, we don't want to use the filter in such a way, since w

[2020-02-07 22:06] Tratcher commented on #18871
You're right, the forms look fine, there does seem to be an inconsistent issue with the parser. When does your buffering code capture the body? In a middleware or in your controller? Capturing it after MVC had read the form wouldn't work unless the form reader had independently enabled buffering.

[2020-02-07 22:06] pranavkm commented on #18890
You could configure the attribute globally for Razor Pages too:

[code]

It's pretty identical to how you'd configure the ResponseCacheFilter type if it were public.

[2020-02-07 22:12] sudixi opened #18891 "Issue with Wildcard Media Types"
We have an ASP.NET core web API help pages with Swagger (swashbuckle).  If there is any error , then we want to send the error with the content-type set to “application/*+json”.

Something like this appears to works:

[code]

.. but we expect the [ProblemDetailsClientErrorFactory ](https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.Core/src/Infrastructure/ProblemDetailsClientErrorFactory

[2020-02-07 22:14] sadjadbp commented on #18871
it's not in middleware, it's in MVC.

I have decorated my POST method with `ReadableBodyStream` which is defined as

[code]

When I check and see the Request.Forms["ViewState"] is empty, I'm dumping all the Request,Forms and Request.Body as explained above.

[2020-02-07 22:19] Tratcher commented on #18871
Hmm, the buffering should have made you take the fast path in the form parser which is the most consistent and tested. We're going to have to experiment until we repro this, even if inconstantly. Maybe using a body stream that returns one byte at a time to check for boundary conditions.

[2020-02-07 22:20] Orgbrat commented on #18070
@enetstudio Followed you instructions and all seems to work as you described.  But how do you access those properties in _Host.cshtml.cs from other razor components and services within the Blazor SSA? Am I going to have to store the values in local-storage, session variables or something?

Orgbrat

[2020-02-07 22:23] tiesmaster commented on #18890
Damn, that was quick! I didn't knew you could _just_ use the attribute there :( I actually expected that you could do that, but couldn't figure out how to do that (documentation might need some ❤️, I'll see if I can put in a PR for that).

However, I just tried this, but it didn't work :(

I specifically used this:

[code]

Any idea why this wouldn't work?

[2020-02-07 22:31] kishorpise commented on #18858
There is something interesting going on. Below is truncated/tampered log.
-- No candidates found for the request path '/Account/signin-google' seems exception.

Log.--

Microsoft.AspNetCore.Mvc.ChallengeResult: Information: Executing ChallengeResult with authentication schemes (Google).
Microsoft.AspNetCore.Authentication.Google.GoogleHandler: Debug: HandleChallenge with Location: https://accounts

[2020-02-07 22:41] sadjadbp commented on #18871
@Tratcher is there a way for us to switch back to FormReader (from FormPipeReader) so we can mitigate this for now and also be sure FormPipeReader is the culprit?

[2020-02-07 22:41] DamianEdwards commented on #18605
IIRC, most of the benefit we saw for the app and environment we were testing with was that it parallelized the file I/O to load assemblies, rather than a huge benefit for the actual JIT itself.

Like @rynowak said, the idea of a universally safe place to write to in order to get the benefit (required to do this in the host) was where we tend to get stuck on this. I agree that supporting it for app

[2020-02-07 23:14] msfcolombo opened #18893 "Close connections periodically"
### Problem

We have multiple VMs with AspNetCore running behind a load balancer. Clients reuse TCP connections as much as possible, and therefore VMs get "pinned" to a subset of clients. We often reach states where one or two VMs are using >90% of CPU resources, whereas most other VMs are <5%. This causes a noticeable degradation and is a recurrent event.

### Proposal

One proposal is provide a

[2020-02-07 23:34] danroth27 commented on #7569
.NET Core does support VB such that you can create and build VB based projects. VB based class libraries can of course be used from ASP.NET Core and Blazor apps as they compile to .NET IL just like any other .NET language. Razor, however, is based on C# in .NET Core. Razor is used for authoring MVC views, Razor pages, and Blazor components. The Razor SDK compiles Razor files into C# class class. T

[2020-02-07 23:34] #7569 closed

[2020-02-08 00:05] Tratcher commented on #18871
The old form parser is still [there](https://github.com/dotnet/aspnetcore/blob/master/src/Http/WebUtilities/src/FormReader.cs), you can call it from somewhere like ReadableBodyStreamAttribute and set the result to HttpRequest.Form.

[2020-02-08 00:26] agussang commented on #18872
@sebastienros bro, i’m need solution here. Help me

[2020-02-08 00:31] juniorgasparotto commented on #18876
I agree that it doesn't make sense for this to be a BUG, ​​in fact, the deserializer is doing its job. But it makes me feel disconnected from the model. But I must get used to it.

Thanks

[2020-02-08 00:32] #18876 closed

[2020-02-08 00:49] xshiiiidev commented on #18877
I tried that bro before posting here, no chance at all.

The browser is still not launching automatically.

[code]

[2020-02-08 01:24] sebastienros commented on #18872
Your test on 2.2 shows that most requests timed out. I think there is a problem on your application. Can you try to do a curl instead of a wrk? And enable logging on your app to see what's happening if the curl fails too.

[2020-02-08 01:30] pranavkm opened #18898 "Investigate parallelizing dotnet.[js|wasm] downloads"
![image](https://user-images.githubusercontent.com/174281/74076800-819f9a80-49cf-11ea-8d82-6736c582f07e.png)

[2020-02-08 01:30] pranavkm commented on #18898
Remember what this picture means.

[2020-02-08 01:31] pranavkm opened #18899 "Remove signature block from dotnet.js"
There's a bunch of content in the dotnet.js file that looks like a signature block:

![image](https://user-images.githubusercontent.com/174281/74076826-b57ac000-49cf-11ea-9bf6-2bfe58a39dd7.png)

[2020-02-08 01:34] pranavkm opened #18900 "Consider minimizing dotnet.js"
Looks like it strips whitespace, but it could be uglified \ minified further.

[2020-02-08 02:53] nguyenvanbien95 opened #18901 "Session is not expired when logout in other tab in Blazor"
I am testing authentication in Blazor.
My problem is blazor app is not expired in 1st tab after logout in 2nd tab.
Please view [repo](https://github.com/nguyenvanbien95/BlazorAuthentication) to repro problem

[2020-02-08 02:55] agussang commented on #18872
Hy @sebastienros i’m build my apps on docker, how to enable debug logging for showing error timeout? Can you open my apps, this just simple mvc and i run on dotnet 3.1 is getting nice RPS, but if i try on 2.2 or 3.0 i got small RPS stuck on max 20rps, actually i have code production with 2.2, before i’m update to 3.1 i try to find solution for 2.2, because to many effort if i rewrite my code to 3.

[2020-02-08 04:02] rynowak commented on #4706
Some updates on the status here.

---

dotnet/runtime is tracking an issue for .NET 5.0 to expose a simple API for creating a cert from these file kinds - https://github.com/dotnet/runtime/issues/31944 Feedback is definitely encouraged from the community on whether that meets the goals.

This would allow you to pass in a certificate to the overloads of `UseHttps` that accept one. One possible prob

[2020-02-08 04:23] cyberhck commented on #18550
I understand it's by design, I just wanted to understand why is that? If user data was also set in token, then we'd only need token to reset, right?

[2020-02-08 07:56] enetstudio commented on #18070
Yes, you can store the values in local-storage...

[2020-02-08 09:02] fangqifan commented on #18435
@jackletter  you need SS or V2ray  to bypass GFW

[2020-02-08 12:35] ryanelian opened #18902 "Publish TypeScript @types packages for Blazor JavaScript Interop"
### Is your feature request related to a problem? Please describe.

There are methods that can be called when using Blazor JS interop: https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interop?view=aspnetcore-3.1#invoke-net-methods-from-javascript-functions

However, using these methods in the JS project can be a guessing exercise because the API is barely documented, especially when

[2020-02-08 15:48] ciaran036 opened #18903 "Custom validation library not being invoked when using a tag helper which invokes _htmlHelper.Editor"
#18127 # Describe the bug
As per this [StackOverflow questio](https://stackoverflow.com/questions/60078465/editorfor-tag-helper-doesnt-render-validation-attributes-when-using-fluentvalid)n, my problem is as follows:

I have a simple form like this which makes use of the @Html.EditorFor extension:

[code]
I want to take advantage of .NET Core's tag helpers so that my form looks like this instead:

[2020-02-08 15:58] davidfowl commented on #11050
Assigning this to myself for the 5.0 time frame for investigation.

[2020-02-08 16:01] Sm1le291 opened #18904 "Iterate over List in Blazor"
Hi everyone! I faced with strange behavior of Blazor.
For example we have component as below:
`@page "/"
@using BlazingPizza.ViewModels

@inject HttpClient HttpClient

<h1>Blazing Pizzas</h1>

@if (_specials != null)
{
    @foreach (var pizza in _specials)
    {
        @pizza.Description
    }
}

@code {

    List<PizzaSpecial> _specials; // = Enumerable.Empty<ViewModels.PizzaSpecial>();

    pro

[2020-02-08 16:18] paviad opened #18905 "Getting a TypeLoadException for IReadableStringCollectionExtensions when signing out after upgrading IdentityServer4 to version 3.1.1"
# Summary

When using the latest IdentityServer4 version (currently 3.1.1) the `/connect/endsession` endpoint throws a `TypeloadException` for `IReadableStringCollectionExtensions`

# Minimal Reproduction

# Setup

[code]

# Execution

Run the app using `dotnet run` then navigate to `https://localhost:5001`, register a new user, then login using that user, then click the "Logout" link, you will ge

[2020-02-08 17:30] NTaylorMullen commented on #18862
Is this our problem or Roslyn's?

[2020-02-08 17:37] NTaylorMullen commented on #14318
Interesting, will be curious to see why completions are unique

[2020-02-08 17:40] NTaylorMullen commented on #18343
Interesting, there's also some hover failures in there as well for similar issues. This screams us not having our SourceText's up-to-date with what's ton the client?

[2020-02-08 17:42] NTaylorMullen commented on #18864
Definitely supposed to work. It works in C# files after all.

[2020-02-08 19:31] rynowak commented on #18905
@javiercn is this us?

[2020-02-08 19:33] rynowak commented on #18904
This is discussed here in the documentation: https://docs.microsoft.com/en-us/aspnet/core/blazor/lifecycle?view=aspnetcore-3.1#handle-incomplete-async-actions-at-render

Let us know if this isn't a clear enough explanation.

TLDR: Components need to be able to render without waiting for things like HTTP requests to complete. You need to think about what you want to be displayed while the specials

[2020-02-08 20:46] rynowak commented on #18898
OK. I will. Thanks :)

[2020-02-08 21:04] rynowak commented on #18814
Design work in progress at #18907 if anyone wants to give feedback.

[2020-02-08 21:09] rynowak opened #18908 "Building from a non-root node installs the .NET runtime over and over (and over)"
## Repro

On MacOS - not sure if that's part of the repro

[code]

You'll see that it repeatedly downloads and installs the .NET runtime (twice per call to `./build.sh`):

[code]

If you run `.build.sh` again, it will repeat the installation of the runtime.

[2020-02-08 22:00] #18847 closed

[2020-02-08 22:01] pjevans opened #18909 "Finish adding out css id tags on AzureAD/B2C views"
### Is your feature request related to a problem? Please describe.
I previously added some id tags to the signedOut.cshtml page but added B2C naming on views held within AzureAD.  That got corrected and went ahead and filled the rest of the views out, naming all viewed object.  Very very minor update.

### Describe the solution you'd like
I corrected the mistake and finished adding the rest of the

[2020-02-08 22:48] zackmorgs commented on #18798
Any help on this would be amazing. Idk if you guys have the time to look at my project but any input on it would be great. I'm new to blazor and am making an app for a company simultaneously. I am very stuck here.

Thanks in advanced @HaoK!

[2020-02-09 03:28] #6192 closed

[2020-02-09 04:01] Tratcher commented on #4706
If you're already doing code based config then you can call the new CreateFromPemFile API and pass in the cert. I'm not concerned about one extra line.

[2020-02-09 04:18] Tratcher commented on #18858
`Microsoft.AspNetCore.Routing.Matching.DfaMatcher: Debug: No candidates found for the request path '/Account/signin-google'` That's fine, the auth middleware doesn't use endpoint routing, it does its own path matching later.

What was the response for the `https://localhost:44361/Account/signin-google` request?

[2020-02-09 04:48] rynowak commented on #4706
Right, but we still have to think about how `UseHttps(string)` will behave because lots of folks will try that and expect it to do what they want.

[2020-02-09 04:55] Tratcher commented on #18087
ContentLength is optional, you can't rely on it being present.

You're not guaranteed to receive all the data in one call to ReadAsync, you need to call ReadAsync in a loop until you have all of the data (ReadAsync returns 0).

That said, neither of these issues should cause the error you gave.

[2020-02-09 11:07] stefanodelpero opened #18913 "Html.NameFor does not correctly generate name when field has two underscores"
Fields with double underscore in name (I've to use a legacy system fields naming) disappear in Request.Form.

So, if I have an object like this:
[code]

And a cshtml page with:
[code]

The POST form action send the form value to the server but ASP.NET Request.Form didn't have the Field__Name field. Also the field is null in the OnPost parameter object.

### Further technical details
- ASP.NET Core

[2020-02-09 12:01] agussang commented on #18872
@javiercn so this is bug or something ?

[2020-02-09 12:52] blowdart commented on #18909
@HaoK can you take a look?

[2020-02-09 13:47] duracellko opened #18914 "SignalR client in Blazor app should throw meaningful exception on connection fail"
### Describe the bug
Using SignalR (Microsoft.AspNetCore.SignalR.Client ver 3.1.1) client in Blazor (3.2.0-preview1.20073.1) application reports wrong exception, when connection fails. `HubConnection.StartAsync()` throws exception:

[code]

### To Reproduce
1. Follow example from [Blazor WebAssembly 3.2.0 Preview 1 release now available]
(https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-

[2020-02-09 14:28] javiercn commented on #18905
@rynowak We target Identity Server 3.0.

We can choose to upgrade if we want to 3.1, but that would likely require patch approval + testing to ensure everything works as expected.

It is similar as to when we update angular or react.

[2020-02-09 14:58] Xarkam opened #18915 "The framework 'Microsoft.NETCore.App', version '2.0.0' was not found. Migration to 3.1"
### Describe the bug
Migration from 2.2 to 3.1.
Project Sdk as `Microsoft.NET.Sdk`.
Reference `<FrameworkReference Include="Microsoft.AspNetCore.App"/>` searches for aspnet 2.0.0 when building:
[code]
The csproj:
[code]

### Further technical details
[code]

SDK:
[code]

IDE:
vscode, visual studio 2019, rider 2019.3.1

Build mode: by command line with cleaning /bin, /obj folders before for give co

[2020-02-09 15:05] SeanKilleen commented on #18401
Just accidentally reproduced this -- I think -- using an out of the box setup.

My exact steps were:

* Open VS 2019 Preview (mine happens to be 16.4.0 Preview 2)
* Add a new project to a solution (mine only had a classlib in it)
* Select a .NET Core Web Application
* Select model-view-controller style
* Enable auth for my organization in Azure
* Enable docker support
* Build the project
* Hit F5

[2020-02-09 15:26] Tratcher commented on #18913
Can you share a Fiddler trace showing the raw form post?

[2020-02-09 15:30] Tratcher commented on #18874
Yes, we use the auth code flow which requires client id and secret.

[2020-02-09 15:49] Tratcher commented on #18893
Which server are you using in your app? Kestrel, IIS in-proc, IIS out-of-proc, HttpSys? The close the mechanics vary a little.

This kind of setting/information would only be possible on Kestrel. IIS/HttpSys don't expose the connection level semantics to us.

?

A client is free to use multiple concurrent connections. Browsers do that by default. And when you're using a load balancer you don't get

[2020-02-09 16:19] davidfowl commented on #3719
Closing this as dupe of #3793 (mostly because the other one has more discussion).

[2020-02-09 16:19] #3719 closed

[2020-02-09 16:22] davidfowl commented on #18915
Can you provide all of the code for the project? Seems like this is a class library (which isn't runnable)

[2020-02-09 16:25] FlukeFan commented on #3793
I've had success with in-place deployment (https://flukefan.github.io/ZipDeploy/), by:

1.  Rename assembly files (apparently you can rename even though you can't delete/overwrite);
2.  Copy in the new assemblies;
3. Touch the web-config to restart the app;
4.  Delete the old renamed assemblies.

No load-balancing; single IIS instance; no IIS changes.  YMMV.

[2020-02-09 16:31] davidfowl commented on #3793
@FlukeFan How do you avoid torn deployments or is that not a concern for you? By torn, I mean that there's a window where the old app loads a new assembly before restarting the application.

[2020-02-09 16:33] FlukeFan commented on #3793
I don't touch the web.config until all assemblies are renamed/updated.  I guess there is a small chance that something else could cause an app-pool to recycle during that time, but it's not happened yet.

I usually turn off all the other auto-recycle options, and also disable overlapped recycle in the IIS app-pool settings.

[2020-02-09 16:36] epic2001 commented on #18913
With this class:

[code]

and these values in form:
Field__Name = 111
OtherField = 222

This is the raw form post:

[code]

[2020-02-09 16:37] davidfowl commented on #3793
@FlukeFan not a recycle but if you haven't loaded the assembly that got replaced as yet. For example, say you had an assembly A.dll and B.dll. Lets say B is used when you go to the settings page so is loaded then. If you went to the settings page when B.dll was replaced with the new one, you could end up with the old app running with a new B.dll.

[2020-02-09 16:38] epic2001 commented on #18913
This is the HTML generated by ASP.NET Core:

[code]

[2020-02-09 16:40] #17801 closed

[2020-02-09 16:40] qJake commented on #4706
I'd like to think people are smarter than passing actual certificate data into a [parameter called `fileName`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.kestrelserveroptionshttpsextensions.usehttps?view=aspnetcore-1.1#Microsoft_AspNetCore_Hosting_KestrelServerOptionsHttpsExtensions_UseHttps_Microsoft_AspNetCore_Server_Kestrel_KestrelServerOptions_System_String_), but

[2020-02-09 16:41] davidfowl commented on #3793
I do wonder if we should make a dotnet global tool to assist in this type of deployment. The tool could basically do all the hard things people have mentioned on this thread.

Thoughts?

[2020-02-09 16:42] FlukeFan commented on #3793
So I don't handle that case just now.  https://github.com/FlukeFan/ZipDeploy/blob/master/ZipDeploy/ZipDeploy.cs#L55

I guess I could do things in a different order, touch the web.config first, await all 'other' requests finishing, then finally do the replace just before the last request finished (while IIS queues up new requests for the about-to-recycle app-pool), but what I have works for me just

[2020-02-09 16:43] FlukeFan commented on #3793
So I don't handle that case just now. https://github.com/FlukeFan/ZipDeploy/blob/master/ZipDeploy/ZipDeploy.cs#L55

I guess I could do things in a different order, touch the web.config first, await all 'other' requests finishing, then finally do the replace just before the last request finished (while IIS queues up new requests for the about-to-recycle app-pool), but what I have works for me just

[2020-02-09 16:58] atobrandon commented on #3793
I never thought of that. But you may very well have hit the nail on the head. This could be a nefarious business decision to force people into using azure slots. If is was possible in the past why has it taken so long to "fix" now? It's not broken from a business perspective what that in mind. Maybe I'm a little cynical. But I've slowly watched azure features that used to be free whittled away and

[2020-02-09 17:02] jez9999 commented on #18874
No: https://tools.ietf.org/html/rfc6749#section-2.3

"If the client type is confidential, the client and authorization server establish a client authentication method suitable for the security requirements of the authorization server." (which can be a client ID and secret)

However if the client type is public, this isn't needed.

[2020-02-09 17:10] FlukeFan commented on #3793
This is to run on the CI server, say?  How would it push the binaries/package to the destination server?

[2020-02-09 17:22] eltiare commented on #12890
What about those who wish to use JavaScript functionality outside of an SPA? I don't want to load the heavy application when converting a Quill.js document to HTML. I just want to load the relevant libraries.

[2020-02-09 17:52] c0g1t8 opened #20514 "Cannot use a RCL named Shared"
Created a RCL project named Shared and added to my solution.  When I attempted to use a component within it, I received compilation errors.

I created a Github repository that reproduces this problem.  https://github.com/c0g1t8/BlazorNamespaceIssue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37b02665-c8ab-bd91-8057-

[2020-02-09 17:56] Xarkam commented on #18915
@davidfowl yes, you can see here https://github.com/SOFTINUX/Base/tree/NewPermissionsSystem
It's like a partial app but I use Extcore to make that.

[2020-02-09 18:30] aszalacinski commented on #5456
What is the latest on this? 2.5 months since last update...

[2020-02-09 19:38] davidfowl commented on #3793
In place deployments without coordination are fundamentally unreliable for reasons mentioned above. We’re never going to implement shadow copying again because that feature has historically unreliable and has caused lots of issues in ASP.NET on .NET framework. It also only works for a specific type of deployment, framework dependent which is all .NET Framework supported. .NET core supports self co

[2020-02-09 19:39] msfcolombo commented on #18893
Chris, thanks for comments.

We use Kestrel. If you honor `Connection: Close` for Kestrel and `HTTP/1.1`, that fixes part of the problem. How about `HTTP/2` and `HTTP/3`? You mention "Abort APIs". What APIs are these? Can you send link to documentation? Would these APIs work for `HTTP/1.1` as well? Will these APIs cause a "graceful drain" of requests already read from the socket?

Few clarificatio

[2020-02-09 20:00] #18904 closed

[2020-02-09 20:01] mmarinchenko commented on #8720
Hi! May I add some considerations here? If this is not the best place for that please direct me to some other place where it would be more appropriate.

**BACKGROUND**

I'm trying to integrate some SignalR C++ Client code to our pet game project which use Unreal Engine. UE4 uses paranoid warning level while compiling sources and treat warnings as errors. It also still depends on old gnustl version

[2020-02-09 20:02] davidfowl commented on #18915
https://github.com/SOFTINUX/Base/blob/21876608408dc0821fae5ef3aa73dfac8cf937ec/src/SoftinuxBase.Security.Common/SoftinuxBase.Security.Common.csproj#L27-L28

See the migration guide for https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio.

You shouldn't have these packages on .NET Core 3.1 applications/libraries.

[2020-02-09 20:07] Tratcher commented on #18913
Values in the form POST:
Company2=111
Company2.OtherField=222
__RequestVerificationToken=CfDJ8IGu5...

So this isn't a problem with parsing the form data on the server, it's a problem with generating the correct HTML to submit the form?

Moving back to MVC.

[2020-02-09 20:13] epic2001 commented on #18913
Yes.
`Company2.Field__Name` become
[code]
instead of
[code]

[2020-02-09 20:19] Tratcher commented on #18893
Ok, some Kestrel specific details then. Kestrel honors you adding the `Connection: close` response header for Http/1.1. It will gracefully close the connection after the current request.  This has not been implemented yet for HTTP/2 or 3. Kestrel will honor a GoAway but does not expose an API to trigger one.

[HttpContext.Abort](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http

[2020-02-09 20:22] #18612 closed

[2020-02-09 20:27] mkArtakMSFT commented on #18839
@Ellested, we plan to handle that as part of https://github.com/dotnet/aspnetcore/issues/10522

[2020-02-09 20:28] mkArtakMSFT commented on #17660
Reopening as this seems to be impacting many people.
@NTaylorMullen can you please look into this? Thanks!

[2020-02-09 20:35] Xarkam commented on #18915
@davidfowl I have already followed this page.
I didn't commit my last work because it's not stable.

I have been busy migrating the project for 3 days.

The non-committed csproj file is the one I put in the issue.

If I declare the application as `Microsoft.NET.Sdk.Web`, the application does not build because it claims for a Main entry point for this project.

It is for this reason that I set `<Fr

[2020-02-09 20:55] giorgi-abashidze opened #18917 "[Blazor, Webassembly] onclick event not working correctly inside loop"
hi,
i have following code for pagination, `@onclick="@(() => getData(i))"` i',m calling getdata function and passing i (pagenumber) to function but i is always 10, (i hardcoded 10 lets say we got 10 pages)
when loop is done i  is 10 of course but i want current value of i when declaring onclick function like:

`@onclick="@(() => getData(1))"`
`@onclick="@(() => getData(2))"`

and so on.

but its a

[2020-02-09 21:19] Sm1le291 commented on #18904
@rynowak thanks for answer! It partly described, what happened, but I still do not understand one thing. Why at the second time when component re-renders we for example fall into cycle and iterate  through the items of collection which was null for the first time, but still show an exception message.
Does it mean that if exception happened while first render, code on re render can executes but can

[2020-02-09 21:37] bladefist commented on #3793
Hopefully when you say FTP you also mean ftp over ssh.  Such a tool would be very valuable.

[2020-02-09 22:34] davidfowl commented on #3793
No I meant ftp. But we would do whatever made sense. Maybe it’s best to be a copy tool that you need to run on the target machine. That gets us out of the business of having to send bits anywhere.

Also are you SSHing into your windows machines to deploy to IIS?

[2020-02-09 22:37] bansalankit2601 commented on #5456
I am also waiting for the same.

[2020-02-09 23:08] msfcolombo commented on #18893
Thanks. Please leave it open so we can track when HTTP/2 and HTTP/3 will honor `Connection: close` or provide a similar feature.

Also, there should be away of closing a TCP connection immediately in HTTP/2 and HTTP/3 as well (versus ending just the stream as it's probably doing today).

[2020-02-09 23:11] Tratcher commented on #18893
That's what IConnectionLifetimeFeature.Abort does.

Yes, I'll mark this as a feature request for Kestrel Http/2 & 3 graceful connection termination.

[2020-02-10 00:32] rynowak commented on #18917
This is how C# behaves when you combine loops and lambdas. See the notes at: https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#lambda-expressions - this behavior is not specific to blazor and will occur with any C# code that creates a lambda inside a loop like your example.

You could work around this by aliasing `i` inside the loop body.

[code]

Then use `current

[2020-02-10 00:34] rynowak commented on #4706
I meant for people passing the filePath of ` .pem` certificate rather than a `.pfx` certificate.

[2020-02-10 00:42] rynowak commented on #18904
Here's what I suspect is happening.

- `OnInitializedAsync` starts running. It runs up to the yield point `await HttpClient.GetJsonAsync<>()`
- When that await occurs control is yielded to the renderer, which will then render your component
- Rendering the component hits a null reference exception
- This updates the UI to show the error bar - from this point on the app is "broken" and nothing will

[2020-02-10 03:56] qJake commented on #4706
Ah, hmm... would it be too difficult to auto-detect the file type and use it (given some list of known supported types), or create an overload that takes an enum that specifies the type (e.g. `UseHttps("mycert.pem", X509CertificateType.Pem` or similar)?

[2020-02-10 04:59] agussang commented on #18872
@sebastienros i wash try hit
and i get this log, showing high latency  2980.4061ms

      Executing ObjectResult, writing value of type 'System.String'.
info: Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker[2]
      Executed action WebApplication3.Controllers.ValuesController.GetCountryAsync (WebApplication3) in 2980.4061ms
info: Microsoft.AspNetCore.Routing.EndpointMiddleware[1]
      E

[2020-02-10 05:05] sujayvsarma opened #18918 "IGNORE"
IGNORE

[2020-02-10 05:11] #18918 closed

[2020-02-10 05:16] JeremyTCD commented on #12890
@eltiare As discussed earlier in this thread, you can use [Jering.Javascript.NodeJS](https://github.com/JeringTech/Javascript.NodeJS).

[2020-02-10 06:19] mkArtakMSFT commented on #13595
@SteveSandersonMS thoughts?

[2020-02-10 06:30] mkArtakMSFT commented on #5204
@drdamour we won't be patching 3.x for this.

[2020-02-10 06:40] troepolik commented on #18849
@javiercn No, It does not work.

[2020-02-10 06:51] mkArtakMSFT commented on #18747
It sounds like you're using the default IdentityUI. If that's the case, scaffolding a specific page (Login and/or Register) will result in the customized pages to be loaded. @Rick-Anderson do we have this documented somewhere, I couldn't find it.

[2020-02-10 07:01] mkArtakMSFT commented on #4108
@atifaziz we're not a big team and we choose to work on things which will add value to the community. For this particular issue, we haven't heard much community feedback/request hence we've decided we won't do this.

[2020-02-10 07:02] #18651 closed

[2020-02-10 07:04] mkArtakMSFT commented on #18583
Thanks for the details, @knyzorg.
@javiercn is this expected?

[2020-02-10 07:13] mkArtakMSFT commented on #18629
Hope this helps: https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interop?view=aspnetcore-3.1#invoke-net-methods-from-javascript-functions

[2020-02-10 07:19] mrpmorris commented on #18629
I was unaware of the InvokeMethodAsync function. Thanks!

[2020-02-10 07:30] leastprivilege commented on #18905
I think I know what's going on here - we can discuss this week...

[2020-02-10 08:02] theolivenbaum commented on #18818
Closing in favor of [this issue ](https://github.com/dotnet/runtime/issues/32016), as the problem started happening again after the change to System.Text.Json

[2020-02-10 08:10] pikoscielniak commented on #17655
Perfect. Problem solved.

[2020-02-10 08:13] giorgi-abashidze commented on #18917
@rynowak thanks for the information.

[2020-02-10 08:13] #18917 closed

[2020-02-10 08:14] pikoscielniak commented on #17651
Yes, and it works. Thank you.

[2020-02-10 08:32] tester346 commented on #18087
@Tratcher

Thanks!

but either way, is it possible to log or somehow determine what's going wrong or the only reasonable way is to upgrade to Core 3.1? or this lib didnt change between 2.1 & 3.1 and we should find what's going on here

[2020-02-10 08:41] Sm1le291 commented on #18904
@rynowak thanks for explanation. Everything clear!

[2020-02-10 08:54] toralux commented on #17655
I applied this solution and it solved my problem, happily running my app using 3.1 :)

[2020-02-10 09:12] mykola384 commented on #17651
I fixed it by adding

`services
                .AddMvc()
                .AddRazorRuntimeCompilation()
                .AddApplicationPart(typeof(TTestStartup).Assembly);`

But thanks for the suggestion!

[2020-02-10 09:20] JeepNL commented on #18816
@javiercn @Tratcher Yes, by reading the host header in _Host.cshtml  I can use multiple domain names in a project, but it's not easy to set it up to serve different websites with (for example) separate identity logins / databases. It's like using Duct Tape to hold things together. It can be done, somehow, but pretty soon you can't see the wood through the trees anymore. But maybe I'm still doing s

[2020-02-10 09:24] toralux commented on #17655
I have applied the fix and committed it to my example

[2020-02-10 09:24] #17655 closed

[2020-02-10 09:26] javiercn commented on #18849
@troepolik I've reopened the issue.

[2020-02-10 09:31] javiercn commented on #18902
@ryanelian thanks for contacting us.

We'll look into this issue and add prioritize it appropriately.

[2020-02-10 09:36] javiercn commented on #18901
@nguyenvanbien95 thanks for contacting us.

That is expected to a degree given the fact that Blazor sets up the authentication context when the application starts and doesn't update unless the app does something explicit to enable it.

I believe with Identity you can update the security stamp of the user when you log-out and that should cause the user to be eventually logged out the other tab.

@S

[2020-02-10 09:37] javiercn commented on #18900
Agree.

I also think we should look into producing a more modern bundle for webassembly, given that all our browsers support ES6.

[2020-02-10 09:37] KamranShahid commented on #18848
Thanks Abdul Rahman
What's the issue if i start Kestral on any other port then 80?

[2020-02-10 09:38] javiercn commented on #18899
@pranavkm I have some ideas on this area based on my current work.

Talk to me sometime this week and we can put together a plan :)

[2020-02-10 09:41] javiercn commented on #18914
@duracellko thanks for contacting us.

We believe this issue belongs in the [mono/mono](https://github.com/aspnet/aspnetcore) repo. We will discuss the issue within the team and re-route appropriately.

[2020-02-10 09:45] javiercn commented on #18898
@pranavkm We plan to do this with `link rel=preload`

[2020-02-10 09:47] amansulaiman commented on #18848
@KamranShahid No any issue. But, changing port other than the default 80 requires you to do additional configuration on your f5 node. Because default HTTP traffic is port 80.

[2020-02-10 09:47] javiercn commented on #18884
@ryanelian thanks for contacting us.

@SteveSandersonMS do you have any thoughts on this? Is there a way to achieve this with the current model?

[2020-02-10 09:52] javiercn commented on #18411
@Bluebeerd thanks for contacting us.

Does the network tab show any error when that happens? (Like failing to download a dll?)

[2020-02-10 09:53] soeleman commented on #18877
Maybe you can take a look on this issue #16703
[using shell to invoke browser](https://github.com/dotnet/aspnetcore/issues/16703#issuecomment-549073761)

[2020-02-10 09:58] RemiBou commented on #18900
What would be the point of uglifying ?

About minified, what is the gain vs gzip alone ?

[2020-02-10 10:01] javiercn commented on #18913
@epic2001 thanks for contacting us.

I'm not sure if this is a bug or it is a consequence of the current design. We will look into this and get back to you.

[2020-02-10 10:16] alexbezugliy commented on #18780
Hi guys - here is the repo https://github.com/alexbezugliy/deserialization-issue
please take a look.
There is a test with TODO inside that should pass - which depicts the problem. Please let me know if this is enough and make sense for you guys.

[2020-02-10 10:17] add1ct3dd commented on #12890
Obsolete is fine provided there is a migration path, please can you provide one for those of us who are using UseWebpackDevMiddleware.

[2020-02-10 10:17] javiercn commented on #18883
@alienwareone I think @rynowak is trying to ask for a use case so that he can understand if we need to add a feature here or if he can recommend an alternative way of achieving the same thing.

[2020-02-10 10:21] Tragetaschen opened #18919 "Add a way to avoid component re-rendering caused by events to Blazor components ("pure event handlers")"
Current status: https://github.com/dotnet/aspnetcore/issues/18919#issuecomment-823448077

### Is your feature request related to a problem? Please describe.

My Blazor component tree is connected to the business logic of the running application and represents its current state. There are a few event handlers (`@onclick`) and these directly call into the business logic to have an effect there. Any

[2020-02-10 10:26] Bashout commented on #18879
Thanks for the quick reply Brennan, it turns out this was the issue and we were expecting the method to fire when we closed the browser instance. As some knowledge for myself how would we have discovered that this was the expected behavior without reading the source code?

Are there some docs specifying that this is the behavior?

[2020-02-10 11:35] xshiiiidev opened #18920 "dotnet user-secrets list not working on published asp.net core app"
Hello I published my asp.net core mvc app on a linux server under the /var/www/mywebsite

I navigate inside mywebsite folder and execute this

`dotnet user-secrets list`

And then an error was returned.

any idea why this happened ?

[2020-02-10 11:56] KamranShahid commented on #18848
Thanks for this valuable information Abdul Rahman

[2020-02-10 11:56] #18848 closed

[2020-02-10 12:49] LarsWillemsens opened #18921 "Tag Helpers rendered incorrectly when Razor comment block is present"
### Description
Adding a Razor comment block (`@* *@`) within a tag that has Tag Helpers introduces rendering issues. In ASP.NET Core 3.1 the tag helper (i.e. `asp-for`) will not be processed, but instead transmitted to the browser without any processing.

### To Reproduce
This repository illustrates the issue: [https://github.com/LarsWillemsens/WebApplication](https://github.com/LarsWillemsens/We

[2020-02-10 12:50] javiercn commented on #18920
@xshiiiidev thanks for contacting us.

User secrets is a development only feature and is not meant to be used on published applications. See https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-3.1&tabs=windows for details.

[2020-02-10 12:50] #18920 closed

[2020-02-10 12:52] javiercn commented on #18921
@LarsWillemsens thanks for contacting us.

@NTaylorMullen do you have any thoughts here?

[2020-02-10 13:00] #18725 closed

[2020-02-10 13:43] pikoscielniak commented on #17651
@mykola384 for me even better solution. I must only add the package Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation. Thank you.

[2020-02-10 14:09] tiesmaster commented on #18890
@javiercn I wanted to investigate this myself on the latest master branch, but the Functional test of the Mvc solution didn't show up in Visual Studio. Do you know by any chance if that project needs to be run differently than the other unit test projects?

[2020-02-10 14:12] ericsampson commented on #18334
Can y’all prioritize getting 3.1.2 on Azure App Service please? We’re still waiting for 3.1.1 global rollout and SDK

[2020-02-10 14:16] javiercn commented on #18890
@tiesmaster it shouldn't.

I would recommend you invoke ./build.cmd in src/Mvc and then call startvs.cmd to launch vs with the solution opened.

Once you have that, build from inside Visual Studio and it should discover the tests, (if not, it should show something in the Output window under Test)

[2020-02-10 14:37] lbelloq commented on #18865
How did you workaround the issue? I'm using Microsoft.AspNetCore.Authentication.AzureAD.UI in ASP.NET Core MVC 3.0 and have the same problem.

[2020-02-10 14:41] mjrousos commented on #18865
You can use `IApplicationBuilder.UseRewriter` to redirect requests to `/AzureADB2C/Account/SignedOut` to a different URL. Here's the code I added towards the beginning of my `Startup.Configure` method to use the rewriter:

[code]

[2020-02-10 14:43] Dawsain opened #18923 "VS 2019 Angular template throws "Unable to load shared library 'System.Security.Cryptography.Native.OpenSsl'" in Docker"
### Describe the bug
I create a new ASP.Net Core Web Application (C#) Angular application from the template provided in Visual Studio 2019. I then dockerize it. The application runs in the container but Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingProvider throws an exception on startup.

### To Reproduce

1. Open VS 2019
2. Create a new project of type ASP.Net Core Web Application (.C

[2020-02-10 15:05] lbelloq commented on #18865
Didn't work in my case, dunno why. I worked around the issue with an extra controller (ugly, but at least I don't have errors in my signout flow anymore). Code in case anyone needs it:

[code]

Just add it as a regular controller to your app and it will work.

[2020-02-10 15:08] lbelloq commented on #18865
Also, OpenID provides a `post_logout_callback_uri` parameter; I think ASP.NET Core should provide a way to set it to replace the `/Account/SignOut?page=/Account/SignedOut` hardcoded path.

[2020-02-10 15:27] alienwareone commented on #18883
Here is the relevant code for my use case. Just ask me if anything is unclear. Thanks.
[code]

[2020-02-10 15:52] Tratcher commented on #18818
Reopening since we still need to debug the buffering scenario.

[2020-02-10 16:01] Andrewx991 commented on #18199
This causes a big problem for users that have an ' in their name because their user directory will contain a ' and cause this to happen, effectively preventing them from building. And renaming a user directory isn't well documented from what I can see.

[2020-02-10 16:02] #17248 closed

[2020-02-10 16:06] nfplee opened #18924 "Data Annotations Not Working when Model Binding to a Reflected Type"
I have a model binder which effectively says:

[code]

This works fine, however I have noticed if the model type has data annotation attributes on any of it's properties then they are ignored and the ModelState always says it's valid.

I'm not sure if this is really a bug as it's abit of an advanced scenarios but I was wondering if anyone could point me in the right direction.

[2020-02-10 16:14] rynowak commented on #18924
Model validation is based on the data found in `ModelBindingContext.ValidationState`.

If you're doing things like changing the type that's bound you'll need to initialize a `ValidationStateEntry`. [Here](https://github.com/dotnet/aspnetcore/blob/c565386a3ed135560bc2e9017aa54a950b4e35dd/src/Mvc/Mvc.Core/src/ModelBinding/Binders/FormFileModelBinder.cs#L128)'s an example of where this is done in the

[2020-02-10 16:15] lukasroberts opened #18925 "Signal R Core Java Client Crashing"
### Describe the bug
When using the Java client SDK for Signal R Core, it crashes intermittently when the socket is closed. Have been observing my logs through Firebase and this issue does occur randomly.

### To Reproduce
Follow the client sample project and ensure you are connecting to a SignalR instance that is hosted in a docker container with both sockets and long polling enabled. Leave the a

[2020-02-10 16:20] Tratcher commented on #18816
Correct, this is a non-goal for us. Supporting full multi-tenant scenarios like that would add significant complexity at all levels of the framework. Our guidance is to host separate apps (in the same process or different processes, or move to something like Orchard which as built the multi-tenant functionality on top of the framework.

[2020-02-10 16:32] Tratcher commented on #18087
If this is only happening with one user then you're going to have to coordinate with them until you can reliably reproduce it and debug it.

You can try, but without knowing the cause there's no reason to think it will be fixed by upgrading.

[2020-02-10 16:32] Tratcher commented on #18818
Ah, nevermind, I read more of the linked issue.

[2020-02-10 16:32] #18818 closed

[2020-02-10 16:43] BrennanConroy commented on #8720
We haven't seen this, but can take a look at removing the file.

I'm not going to pretend to know anything about Android NDK, but a [quick search shows](https://github.com/android/ndk/wiki/Changelog-r17#announcements) that you should probably not use GCC and switch to libc++ as GCC has been deprecated in that version of the NDK.

We can take a look at this especially if there is only 1 place where

[2020-02-10 16:47] pranavkm commented on #18898
@javiercn is there an issue we can duplicate this with in that case?

[2020-02-10 16:50] danroth27 commented on #5456
This is planned for .NET 5, which is scheduled for Nov 2020. We're still having lots of discussions on what approach we want to take here.

[2020-02-10 17:22] mmarinchenko commented on #8720
Thanks for the answer @BrennanConroy

You are right about Android NDK. The problem here is that UE depends on gnustl on Android) I.e. r17c is latest version of NDK which may be used with UE. This is not your problem of course, that's why I suggested to add list of supported compiler versions in README. I believe this would be very convenient for potential users of your code.

Some official support

[2020-02-10 17:25] mkArtakMSFT commented on #18914
This issue was moved to mono/mono#18780

[2020-02-10 17:25] #18914 closed

[2020-02-10 17:27] mkArtakMSFT commented on #18901
@blowdart what's the best way to change the security stamp for a user?

[2020-02-10 17:30] mkArtakMSFT commented on #18900
We'll track this as part of https://github.com/dotnet/aspnetcore/issues/18899

[2020-02-10 17:31] mkArtakMSFT commented on #18899
This is a dupe of https://github.com/dotnet/aspnetcore/issues/18900

[2020-02-10 17:31] #18899 closed

[2020-02-10 17:33] JeepNL commented on #18816
@Tratcher Okay, thank you for your reply. So probably using a reverse proxy server in front of Kestrel to host multiple apps/websites is the best way forward. I'm looking into that ([Linux with Nginx](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-3.1)) now.

[2020-02-10 17:39] mkArtakMSFT commented on #18833
Closing per @javiercn 's response.

[2020-02-10 17:39] #18833 closed

[2020-02-10 17:41] blowdart commented on #18901
Yea, this is deliberate, and even if you update the security stamp it's not going to logout until the identity is refreshed, which, by default, is once every 15 minutes. Now whether Blazer reacts to that I have no idea, because it's wired up in the auth pipeline.

`UserManager.UpdateSecurityStampAsync(userId)` is the way to go here.

[2020-02-10 17:41] mkArtakMSFT commented on #18411
We believe we have a change we're working on which will potentially eliminate this issue completely by showing the underlying issue. We're closing this issue for now. Please report back after the upcoming release if you happen to repro this again.

[2020-02-10 17:41] #18411 closed

[2020-02-10 17:43] mkArtakMSFT commented on #18923
Thanks for contacting us.
@blowdart can you please have a look at this? Thanks!

[2020-02-10 17:45] blowdart commented on #18923
Not me. Would be a .NET Core issue for @bartonjs probably.

[2020-02-10 17:46] mkArtakMSFT commented on #18891
Thanks for contacting us.
We'll look into this and get back to you as soon as we have more details about what's going on here. Please don't expect an immediate outcome as we prioritize this with many other work items.

[2020-02-10 17:52] Kahbazi commented on #18833
@mkArtakMSFT I'm totally ok with closing this but don't you want to triage this as @pranavkm said.

[2020-02-10 18:03] #18667 closed

[2020-02-10 18:04] Rick-Anderson commented on #18747
[Scaffold Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-3.1&tabs=visual-studio) but @guardrex  hasn't updated it yet for Blazor

[2020-02-10 18:07] SteveSandersonMS commented on #18901
Thanks @blowdart!

@nguyenvanbien95 As per the previous comment, `UserManager.UpdateSecurityStampAsync(userId)` is the way to cause a user's existing logins to be invalidated. You can change how often your application reacts to this by editing the `RevalidatingIdentityAuthenticationStateProvider.cs` file in your project. The default `RevalidationInterval` value has it check for expiry every 30 min

[2020-02-10 18:07] guardrex commented on #18747
There's no delta for a Blazor Server app AFAIK. I've even done it a couple of times. I didn't hit any snags.

[2020-02-10 18:09] kishorpise commented on #18858
1) Response for the https://localhost:44361/Account/signin-google
This localhost page can’t be found

2) I added another provider, and I found same error.

Microsoft.AspNetCore.Authentication.Google.GoogleHandler: Information: Error from RemoteAuthentication: The oauth state was missing or invalid..

but the interesting point, in both provider, Google and AzureAD- exception is going to below block

[2020-02-10 18:09] guardrex commented on #18747
snags* ... not with the scaffolding bit. We do have this ...

https://github.com/aspnet/AspNetCore.Docs/issues/15651

... but I don't have guidance yet to work it. It's still assigned to the PU to provide the notes.

[2020-02-10 18:15] dougbu commented on #17243
The bullets above are now fixed, tracked elsewhere, or will become irrelevant as we move remaining tests to Helix.

[2020-02-10 18:15] #17243 closed

[2020-02-10 18:17] Rick-Anderson commented on #18747
@guardrex  can you add a section to the doc outlining Blazor?

[2020-02-10 18:18] guardrex commented on #18747
Sure ... I assume you mean just to say basically that the scaffolder works for Blazor Server apps? ... and then something over in Blazor Auth that links to that topic? That will get us started until I hear back from the PU on what else. I'll knock it out this afternoon.

[2020-02-10 18:24] guardrex commented on #18747
Opened at https://github.com/aspnet/AspNetCore.Docs/issues/16944. Unless reviews land for Blazor PRs today, I'll probably have this done by EOD. Otherwise, I'll get to it within a few days or a week. @nazrulbspi5, you can track on that docs issue for the update.

[2020-02-10 18:28] dougbu commented on #9297
This information can be found at pages like https://maestro-prod.westus2.cloudapp.azure.com/131/https:%2F%2Fgithub.com%2Fdotnet%2Fcore-sdk/latest/graph fairly simply and that info goes to GitHub (not AzDO). Unless this is a private page and the request was for external visibility, looks like there's nothing to do here.

Feel free to reopen if you feel otherwise.

[2020-02-10 18:28] #9297 closed

[2020-02-10 18:33] bartonjs commented on #18923
You're running on rhel.7, but you built for rhel.6.  The way we built for RHEL 6 and RHEL 7+ is very different; perhaps changing the `--runtime` in your publish command will help.

It should look for, and find, the library in/under /opt/rh/rh-dotnet31/root/usr/lib64/dotnet/shared/Microsoft.NETCore.App/

[2020-02-10 18:33] ryanbrandenburg opened #18927 "Occasional mixing of code-behind and razor file when renaming razor file"
![MicrosoftTeams-image](https://user-images.githubusercontent.com/14987221/74178299-27315480-4bf0-11ea-89df-ab278af023af.png)

Per the report:
"I renamed `@DoThatThing` to `@DoesNotExist` and after saving and waiting those are the reported problems"

[2020-02-10 18:35] ryanbrandenburg commented on #14318
My guess is that Hover results are cached somewhere, and that the cache is reset when the file is edited (but not when dependent files are edited). I tried to find such a cache but no luck so far.

[2020-02-10 18:36] #14326 closed

[2020-02-10 18:47] pranavkm commented on #18890
@tiesmaster unfortunately this just looks like a bug in the framework. `ResponseCacheAttribute` typically adds an action filter. For Razor Pages, the provider is meant to configure a page filter instead, but only ever looks at attributes declared on the type:

https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.RazorPages/src/ApplicationModels/ResponseCacheFilterApplicationModelProvider.c

[2020-02-10 18:52] wtgodbe commented on #14045
@mmitche can we just continue using `Microsoft.AspNetCore.DeveloperCertificates.XPlat` for this purpose? https://github.com/dotnet/core-sdk/blob/b7ef045669b9f07b29d9a13e20a537058d10d69f/eng/Version.Details.xml#L54

[2020-02-10 18:59] halter73 commented on #17723
You can try sending a "Connection: close" response header when you manually send a 400 response. This should prevent the client from sending another request, and will prevent Kestrel from trying to read it which should avoid the issue of connection breaking unexpectedly.

[2020-02-10 19:04] jkotalik opened #18928 "Send Alt-Svc frame in HTTP/2 rather than header."
Spec: https://tools.ietf.org/html/rfc7838#section-4

Right now, to indicate an Alt-Svc in HTTP/3 we are setting the Alt-Svc header. In HTTP/2, there is a frame type we could be sending from the Server to the Client to indicate an alternative service as well.

[2020-02-10 19:19] mmitche commented on #14045
Assuming you are goign to always publish it...yes. If not, then no.

[2020-02-10 19:23] JunTaoLuo opened #18930 "Ensure the servicing attribute is set correctly on assemblies"
This is a followup item to the Arcade conversion originally filed at https://github.com/dotnet/aspnetcore/issues/13350.

The action item here is to verify whether the assembly is now correctly set during servicing. Details are at https://github.com/dotnet/arcade/issues/1526

[2020-02-10 19:25] dougbu commented on #14045
For 3.0 and newer, ASP.NET Core always publishes everything. The only exceptions are targeting packs.

[2020-02-10 19:31] JunTaoLuo opened #18931 "Find replacement for NuGet Package Verifier"
Part of the follow up items to Arcade conversion: https://github.com/dotnet/aspnetcore/issues/13350.

[2020-02-10 19:31] JunTaoLuo commented on #13350
Tracking action items separately.

[2020-02-10 19:31] #13350 closed

[2020-02-10 20:03] dougbu commented on #7886
@JunTaoLuo please link this into the item @rynowak recently added to the DoI project and remove it from the Build board.

----
Further information: Initial work looks fairly quick based on comments in #13350 e.g.

However, it's likely the microbenchmarks themselves haven't been tested lately and are stale. May need to fix a few of them before including them in an AzDO pipeline or running them on H

[2020-02-10 20:10] kishorpise commented on #18858
It looks like nuget issue. Below is list that I am using on 3.1 framework project.

 <PackageReference Include="Microsoft.AspNetCore.Authentication.AzureAD.UI" Version="3.1.1" />
    <PackageReference Include="Microsoft.AspNetCore.Authentication.Google" Version="3.1.1" />
    <PackageReference Include="Microsoft.AspNetCore.Identity.EntityFrameworkCore" Version="3.1.1"/>
    <PackageReference Inclu

[2020-02-10 20:11] wtgodbe commented on #14045
In that case I'll close this

[2020-02-10 20:11] #14045 closed

[2020-02-10 20:15] wtgodbe commented on #18792
I'm coming around to the idea of porting this to Arcade for 3.x. I'll get cracking on that

[2020-02-10 20:20] nhart12 commented on #18846
We are experiencing this same exact issue or at least a similar issue. We have a server automation powershell that executes the installer silently.
We see the below errors in the logs
[code]
we can reproduce pretty consistently. Our script executes the following:
`Start-Process "$downloadsFolder\dotnet_hosting-3.1.1.exe " -ArgumentList "/install /passive" -Wait -NoNewWindow -PassThru`
When I kick

[2020-02-10 20:24] Tratcher opened #18932 "Change OIDC default to Code + PKCE"
Code + PKCE is as secure as FormPost and avoids many of the issues with SameSite=None.

Change the nonce cookie SameSite default to lax? What about the correlation cookie?

[2020-02-10 20:25] JonnyGibson commented on #5477
Ive been waiting since early 2018 for this issue to be resolved :)  i love/loved blazor, but this one seemed like such a potential show stopped, if the dlls couldn't be changed

[2020-02-10 20:27] danroth27 commented on #5477
@JonnyGibson Thank you for your patience! We are working to have some sort of resolution to this issue for the upcoming release in May of this year.

[2020-02-10 20:32] gulbaek commented on #18733
Got the same error message, but solved it by changing the order of my code from this

[code]
to this

[code]

[2020-02-10 20:40] ajaybhargavb commented on #18812
@poco1980, alternatively you can also "Report a Razor issue"command and it'll automatically capture all the version information we need.
![image](https://user-images.githubusercontent.com/1579269/74187998-7bddcb00-4c02-11ea-9a0f-036e64d6a4a2.png)

[2020-02-10 20:43] joeloff commented on #18846
Based on that log, the .NET Core runtime failed to execute. It will install first, before the rest of the items like ASP.NET Core or ANCM. Hosting bundle chains the runtime bundle, so there should be a separate log file created for the .NET Core runtime bundle, and each installer in that bundle will produce a log file for each MSI it carries.

The .NET Core runtime bundle log should tell you which

[2020-02-10 20:56] #18838 closed

[2020-02-10 21:06] nhart12 commented on #18846
@joeloff thanks for the info and quick response. Ran it again from cmd and received no errors in logs or msi logs. Ran it again from a schedule task and saw this MSI log had errors in my temp dir:
[code]

[2020-02-10 21:11] #14304 closed

[2020-02-10 21:11] wtgodbe commented on #18792
The task is now in 3.x arcade, and https://github.com/dotnet/arcade/pull/4500 merges it to master. That PR has been open for a while, so I may just cherry-pick it manually.

[2020-02-10 21:12] JunTaoLuo commented on #7886
I already added it to DOI, will remove from build board.

[2020-02-10 21:24] Tratcher commented on #18858
These partial code samples are getting hard to keep track of without context. Can you share a complete sample as a github repo?

[2020-02-10 21:32] epic2001 commented on #18913
Ok! Thank you!

[2020-02-10 21:34] pranavkm commented on #18780
Thanks for the repro app @alexbezugliy. MVC reports errors from Newtonsoft.Json as-is and I'm able to reproduce this without MVC involved. I've filed https://github.com/JamesNK/Newtonsoft.Json/issues/2273 to figure out how to approach this.

[2020-02-10 21:38] pranavkm commented on #18780
Parking this in the backlog in case there's additional work to be done.

[2020-02-10 21:46] poco1980 commented on #17660
Also This issue exist in VS code

[2020-02-10 21:47] nfplee commented on #18924
@rynowak thanks the following worked perfect:

[code]

This got me thinking about how I could add valdation to following attributes binder:

[code]

I tried doing:

[code]

However it didn't work. I looked at the DictionaryModelBinder but alot of the code is internal and I was wondering if there was a simpler way of doing it.

[2020-02-10 21:56] pranavkm commented on #17382
@SteveSandersonMS this looks like an outdated issue. Closing this because you get HTTP and HTTPs by default for both the hosted and self-hosted templates. Feel free to reopen if you think otherwise.

[2020-02-10 21:56] #17382 closed

[2020-02-10 21:59] wtgodbe commented on #18792
@MichaelSimons I just took another look at https://github.com/dotnet/core/blob/master/release-notes/3.1/releases.json#L287, and I'm confused. That file lists assets like `aspnetcore-runtime-win-x64.zip`, but I don't see those assets getting published by AspNetCore - I only see stuff like `aspnetcore-runtime-3.1.1-win-x64.zip`. Where are those names coming from?

[2020-02-10 22:01] joeloff commented on #18846
I wonder if its having a problem elevating. It's been a while since I played with scheduled tasks. Is there an option to ensure it runs with administrative privileges, or run it under a user that is in an admin group, that way, when it executes quietly, it should elevate.

[2020-02-10 22:05] kishorpise commented on #18858
Hello,
I have created  repo. Please download and confirm, I would delete later on and would update thread in detailed manner with solution

https://github.com/kishorpise/18858

Regards
Kishor

[2020-02-10 22:09] nhart12 commented on #18846
@joeloff yes, there is a checkbox for "Run with highest privileges" which should allow it to elevate. I've also run it as System user

[2020-02-10 22:15] joeloff commented on #18846
0x80070641 appears to be an out-of-disk-space error happening during costing. Are their disk quotas for the user running account when running through a schedule task, or perhaps the drive.

There is a log file, should be in your %temp% folder: Microsoft_.NET_Core_Runtime_-_3.1.1_(x64)_20200210145940_002_dotnet_host_3.1.1_win_x64.msi_rollback.log

That might reveal more.

[2020-02-10 22:23] anurse commented on #18850
@Grabauskas can you post your repro app? It would help ensure we are looking at the same code in the same context. For example, the `ancmHostingModel` field in `launchSettings.json` doesn't apply to published apps, it's only about F5 launches.

There is definitely a queue in the Console Logger that can cause a backlog, but ANCM should be flushing the console regularly.

[2020-02-10 22:25] wtgodbe commented on #17662
We have a fix for this in the upcoming 3.1.2 release of .Net Core, which will be shipping later this month. At that time you should be able to resolve the issue by updating your SDK & PackageReferences to the 3.1.2 versions. I'll update this thread once 3.1.2 goes public.

[2020-02-10 22:26] anurse commented on #18871
Triage: It looks like a read-across-segment-boundary issue. @Tratcher will take a look at the provided test data and force some boundaries and see what we get.

[2020-02-10 22:36] anurse commented on #18879
If you want this to happen, you can do it yourself by hooking a browser unload event and closing the connection in it. Unfortunately, browsers are notoriously inconsistent about allowing HTTP requests in unload events which means we may not get the message.

Not specifically, but in general we can't guarantee that the OnDisconnectedAsync event will fire on any particular user event since it depend

[2020-02-10 22:38] anurse commented on #18925
That doesn't seem like intended behavior. @lukasroberts would you be interested in contributing a PR to fix this? (We can take it on from here if not, but if you're interested we'd be happy to take a look!)

It seems very odd to me that RxJava would crash the entire process because of an unobserved exception, but to be fair so did .NET Framework (.NET Core no longer does this ;)).

[2020-02-10 22:40] anurse commented on #18925
@lukasroberts can you provide a runnable sample application that reproduces the problem? We're not confident this is expected behavior and would like to take a deeper look at the code that's triggering it to see if something else may be going on.

[2020-02-10 22:46] nhart12 commented on #18846
@joeloff I don't see the rollback logs in my temp directory.. Also we don't have File server resource manager installed so don't think it's disk quotas.
After running again I see the following files. I don't see any rollback files:

-  Microsoft_.NET_Core_Runtime_-_3.1.1_(x64)_20200210163026.log - this contains the same errors as what I posted above
- Microsoft_.NET_Core_Runtime_-_3.1.1_(x64)_2020

[2020-02-10 22:47] anurse commented on #18585
I presume this was intentional then. No further action from our side now, closing this.

[2020-02-10 22:47] #18585 closed

[2020-02-10 22:56] MichaelSimons commented on #18792
@wtgodbe, I believe the name is a type of friendly name.  The urls reference the correctly versioned components eg https://github.com/dotnet/core/blob/master/release-notes/3.1/releases.json#L287.  @leecow would be able to answer where the names come from.

[2020-02-10 22:58] wfurt commented on #18585
Sorry for the delay. It may not matter of purpose if the tests but we should only throw IOException _or_ Authentication exception in case of mismatch - depending on the underlying implementation. However, updated tests look ok to me so no further action is needed IMHO.

[2020-02-10 23:18] ryanbrandenburg commented on #18927
Got some clairification: The scenario here is to paste in `@DoesNotExist`, then have both the __virtual.cs and .razor results. If you edit the file it will disappear.

[2020-02-10 23:33] Tratcher commented on #18932
Note this will also require the templates to provision a client secret. That's going to require tooling work to populate.

[2020-02-10 23:37] kmk713 opened #18940 "IDX10501 error with multiple authentication schemes"
### Describe the bug
Similar to an issue mentioned in AspNetCore.Docs
[https://github.com/aspnet/AspNetCore.Docs/issues/16190](https://github.com/aspnet/AspNetCore.Docs/issues/16190)
[https://github.com/aspnet/AspNetCore.Docs/issues/16389](https://github.com/aspnet/AspNetCore.Docs/issues/16389)

I have an application using twoauthentication schemes (called Auth0 and a Custom-Auth scheme).
Auth0 us

[2020-02-10 23:57] Tratcher opened #18943 "The runtime<->aspnetcore shared src is out of sync"
This is a tracking issue for when the [shared src](https://github.com/dotnet/aspnetcore/tree/master/src/Shared/runtime) gets out of sync with it's runtime counterpart. See the [ReadMe](https://github.com/dotnet/aspnetcore/blob/master/src/Shared/runtime/ReadMe.SharedCode.md) for details.

There is a github action that runs daily at https://github.com/dotnet/aspnetcore/actions and will re-open and c

[2020-02-11 00:10] pranavkm opened #18944 "Add an overload to PageLoader.LoadAsync that accepts an EndpointMetadataCollection"
We're making a tactical fix to `PageLoader` to add an overload that accepts an `EndpointMetadataCollection` in a patch release. In 5.0, we should make this part of the public API surface

[2020-02-11 00:42] Dawsain commented on #18923
@bartonjs , thanks for your advise. I tried publishing with --runtime=rhel.7-x64. The exception stopped happening. I was looking for available runtimes at https://docs.microsoft.com/en-us/dotnet/core/rid-catalog#linux-rids and didn't realize there's a much more extensive list at https://github.com/dotnet/runtime/blob/master/src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.json.

[2020-02-11 00:42] #18923 closed

[2020-02-11 01:04] HaoK commented on #18909
Fixed by https://github.com/dotnet/aspnetcore/pull/18910, thanks again @pjevans

[2020-02-11 01:04] #18909 closed

[2020-02-11 01:40] nguyenvanbien95 commented on #18901
Thanks all!
I am clear in this. Instantly synchronised sign-out is more complicated, so I consider other solutions.

[2020-02-11 01:40] #18901 closed

[2020-02-11 01:49] rynowak commented on #18924
Based on how you're computing the keys (`$"{bindingContext.ModelName}[{property.Name}]"`) - I think the best this to do would be to add each attribute value with its own mapping into the validation state entries.

The most complex part of model binding is dealing with how the system interprets keys for collections. You can avoid that by mapping each entry explicitly.

[code]

[2020-02-11 01:50] rynowak commented on #18924
Note that `modelBinderFactory.CreateBinder` is a really expensive operation. Model binding attempts to resolve all of these things up front to avoid doing this kind of thing per-request.

[2020-02-11 06:15] mkArtakMSFT commented on #18833
We've discussed this offline and found no good way of doing it.

[2020-02-11 06:21] mkArtakMSFT commented on #12044
Hi @glararan.

**It looks like you are posting on a closed issue!**
We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2020-02-11 08:28] vaughanr commented on #18600
Hi, I attempted to fix this in a pull request above. I only url decoded the baggage value based on the spec in the link that @theggelund supplied. It would be trivial to do the same with the key if the fact that the key is url encoded is expected behavior. Please let me know if I need to make any changes?

[2020-02-11 09:09] nfplee commented on #18924
Thanks, I've just tried that and I keep getting the error:

Also thanks for the additional information. Both the attributes and parameters model binders are only used in the admin panel so performance isn't too much of an issue.

[2020-02-11 09:21] lukasroberts commented on #18925
`import android.content.Context;
import android.content.Intent;
import android.util.Log;

import androidx.localbroadcastmanager.content.LocalBroadcastManager;

import com.microsoft.signalr.HubConnection;
import com.microsoft.signalr.HubConnectionBuilder;

import io.reactivex.Single;
import io.reactivex.internal.functions.Functions;
import io.reactivex.observers.DisposableCompletableObserver;
impor

[2020-02-11 09:39] gfoidl commented on #8978
@halter73  this issue can be closed, as the PR got merged?

[2020-02-11 09:41] #8978 closed

[2020-02-11 09:49] gfoidl opened #18949 "Remove usage of BMI2 due to regression on AMD"
For context see https://github.com/dotnet/runtime/issues/2251 and https://github.com/dotnet/aspnetcore/pull/17556#discussion_r376949851

Usages of BMI2 in ASP.NET Core:
https://github.com/dotnet/aspnetcore/blob/f7dc095e9a10329f1cbecdb795680c65008bcb2d/src/Shared/ServerInfrastructure/StringUtilities.cs#L15

Maybe put the usage of BMI2 under a toggle `#if USE_BMI2` (or with a better name), so it can

[2020-02-11 10:02] ffMathy commented on #17618
Any updates on this? @berik even though that may be a workaround, I still think it should also be resolved in the NuGet package.

I have ejected my application with `react-scripts eject`, so I am unable to get the fixes in that package.

[2020-02-11 10:33] jez9999 opened #18950 "Make appsettings.hjson the default config file"
Right now, appsettings.json is the default config file read by ASP.NET Core.  I think it'd make more sense to default everything to .hjson (and read appsettings.json if the .hjson didn't exist).  It's widely acknowledged that JSON was never intended to be used for human-readable config files, and it has various shortcomings as such (including notably the lack of comments).  Whilst I realize that t

[2020-02-11 10:55] Bashout commented on #18879
Yeah I had already attempted to use a host listener on the browsers pre-unload event to clean up my tracking on the server side but well chrome and IE etc were not playing too nice.

I'd probably expect it to be alongside [Handle events for a connection](https://docs.microsoft.com/en-us/aspnet/core/signalr/hubs?view=aspnetcore-3.1#handle-events-for-a-connection) as it talks about both life cycle h

[2020-02-11 11:02] ffMathy commented on #17618
Updating `react-dev-utils` from `10.0.0` to `10.1.0` fixed it for me.

[2020-02-11 11:04] MelbourneDeveloper commented on #18592
@tnc1997

I've finally been able to get my rest client running on Blazor Wasm.

https://github.com/MelbourneDeveloper/RestClient.Net/tree/master/RestClient.Net.Samples.Blazor

I also sifted through the code and figured out how to switch from back-end to front-end rendering. It's pretty straight forward. If you switch the target framework to netcoreapp3.1 it will run in back-end mode.

Thanks again

[2020-02-11 11:34] SteveSandersonMS opened #18951 "Blazor WebAssembly apps incorrectly load all satellite assemblies"
Recently we did some work to fix problems caused by satellite assemblies when building Blazor WebAssembly apps: https://github.com/dotnet/aspnetcore/pull/18207. The original issues were #17644 and #17754.

Although that change does now make the build succeed, the runtime behavior is not desirable. Applications now download all satellite assemblies for all cultures, even though we don't have any fe

[2020-02-11 11:47] Grabauskas commented on #18850
This issue only occurs in the Development Environment.

I created a demo repository: [Grabauskas/dotnet-aspnetcore-issues-18850](https://github.com/Grabauskas/dotnet-aspnetcore-issues-18850)
And created gif: [demo.gif](https://github.com/Grabauskas/dotnet-aspnetcore-issues-18850/blob/master/img/demo.gif)

[2020-02-11 13:05] rckreddy commented on #18940
Try this and see if it works
services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)
.AddJwtBearer(options =>
            {
                options.Authority = "Auth0 Authority";
                options.Audience = "Auth0 Audience";
            }).AddJwtBearer("Custom-Auth", options =>
            {
                options.TokenValidationParameters = new TokenValidationParameters

[2020-02-11 13:37] blowdart commented on #18940
Does the logged error actually stop authentication, or is it just logged with no real effects?

[2020-02-11 14:37] RemiBou commented on #18875
I think you can reproduce this by removing the try/catch here

https://github.com/dotnet/aspnetcore/blob/4a7bf75e89e3dfe7264a641ed041f50788d28d20/src/Components/test/testassets/BasicTestApp/LongRunningInterop.razor line 41 :

[code]

 You won't have any error on the console.

It might be due to this LoC : https://github.com/dotnet/aspnetcore/blob/c74e9efd0e6ea5b4d6737d23b92042772a50a249/src/Compon

[2020-02-11 14:38] javiercn commented on #18875
@RemiBou is this related to webassembly?

[2020-02-11 14:53] RemiBou opened #21598 "JSInterop : allow capture of JS variable reference"
### Is your feature request related to a problem? Please describe.

Right now it's difficult to keep a reference of a js variable from your .net code : you need to write some interop code where you identify instance with an ID, then return this ID to .net etc ...

The feature request would be to be able to get reference of a JS object in JS interop then call method on those instance.

### Describe

[2020-02-11 14:54] RemiBou commented on #18875
Yes this happens in web assembly, I didn't test it in server-side blazor.

[2020-02-11 15:05] tnc1997 commented on #18592
@MelbourneDeveloper no problem, happy to help!

[2020-02-11 15:10] LucianBornaz opened #18952 "ConsumesAttribute doesn't support Content-Type headers with list of types"
### Describe the bug
ConsumesAttribute performs an exact match on Content-Type http request header and the values it has been set up to accept.
Content-Type values such as "application/json; charset=utf-8" will not be matched by an action decorated with [Consumes("application/json")] and the response will be 404 NOT_FOUND

### To Reproduce
1. create a net core web api project
2. create a controlle

[2020-02-11 15:28] dazinator commented on #17115
Confirmed. Thanks!

[2020-02-11 15:31] joelbyrd commented on #7268
@ivanchev  Are you saying this is possible now, or just that it would be viable to make possible?

[2020-02-11 15:34] davidfowl commented on #18950
What would be the value in changing this convention? Is hjson widely adopted? What about json5? While I sympathize with the premise it doesn't seem practical to change this as there's no real benefit for customers.

[2020-02-11 16:05] rkone opened #18953 "CancellationTokens ignored when using EF Core"
### Describe the bug
When using a Blazor component that has a dbContext through OwningComponentBase, there seems no way to cancel a long running database operation.

[This sample blazor app](https://github.com/rkone/BlazorApp1) has a modified FetchData component that has a button that calls CancelAndFetch:

    private CancellationTokenSource _tokenSource = new CancellationTokenSource();
    priva

[2020-02-11 16:07] gfoidl commented on #18949
Looking at https://github.com/dotnet/runtime/pull/31904, I see quite some similarities between the codes. So maybe it makes sense to build `StringUtilities` on top of
https://github.com/dotnet/runtime/blob/d6e5d4efedc4fd32ced35bf7593fb2a0a5f80df4/src/libraries/System.Private.CoreLib/src/System/Text/ASCIIUtility.cs#L23
? So synergies can be used...
Problem: ASCIIUtility is `internal` (but I'm sure

[2020-02-11 16:20] breggles opened #18954 "AuthorizeAttribute does not work with Roles and multiple AuthenticationSchemes"
I can't get specifying roles via the `AuthorizeAttribute` to work in conjunction with specifying multiple `AuthenticationSchemes`.

So I'm doing something like this on the controller:

[code]
Here is what I do in `ConfigureServices`:

[code]

When I do that I get an error message like so: `No authenticationScheme was specified, and there was no DefaultChallengeScheme found. The default schemes can

[2020-02-11 16:26] ladeak opened #18955 "Disable Diagnostics and Activity"
[Question]

In ASP.NET Core 2 HostingApplicationDiagnostics only created Activity.Current if we manually subscribed DiagnosticsListener for events ```Microsoft.AspNetCore.Hosting.HttpRequestIn```.

In ASP.NET Core 3.1 it seems the Activity.Current is always created. That means if I have a Request-Id in the header, it is being used by the Activity by default. Is there a way to opt-out this behavior

[2020-02-11 16:33] benaadams commented on #18955
Switch off `"Microsoft.AspNetCore.Hosting.Diagnostics"` also need to do it for `EventLog` on Windows

e.g. appsettings.json
[code]

[2020-02-11 16:37] breggles commented on #18954
PS: I can also get it to work when I specify the role on a named policy and then specify the policy on the AuthorizeAttribute.

[2020-02-11 17:01] rynowak commented on #18924
I think that would be the case in the following code that I highlighted in comments:

[code]

If the model is null, there's nothing to validate anyway. You can just add an `if` and skip adding a validation entry.

[2020-02-11 17:06] leecow commented on #18792
Yes, that's a friendly name (the filename with the version stripped out) that enables easier querying for a given asset.

[2020-02-11 17:07] pranavkm commented on #18952
A mismatched media-type should result in a 415 result, not a 404. Can you share a minimal project as a GitHub repo that reproduces this problem?

[2020-02-11 17:18] nfplee commented on #18924
Thanks for getting back to me, but I'm testing a Required field data annotation (on a string property) and if I skip over it when the value is null then the ModelState says it's valid.

[2020-02-11 17:29] blowdart commented on #18954
Does this happen with any of the official authorization handlers?

[2020-02-11 17:37] ivanchev commented on #7268
It's not possible, but it would be an acceptable solution.

[2020-02-11 17:38] rynowak commented on #18924
OK, can we start at the beginning then? What are you trying to do?

[2020-02-11 17:39] NTaylorMullen commented on #17660
Would you mind doing the "Report a Razor issue"command and pasting the output here (In addition to manually copying the OmniSharp Log's?
![image](https://user-images.githubusercontent.com/1579269/74187998-7bddcb00-4c02-11ea-9a0f-036e64d6a4a2.png)

[2020-02-11 17:42] NTaylorMullen commented on #14318
ah, ya that would absolutely make sense. VSCode typically cache's hovers on a per line/token basis to prevent repeatedly querying the language server.

[2020-02-11 17:43] anurse commented on #2895
Fixed in #18802!

[2020-02-11 17:45] ryanbrandenburg commented on #14318
I'm spinning up a local VM to test this again. Some strange behavior in other areas is making me wonder if the extremely slow VM I was using for testing was messing with my tests.

[2020-02-11 17:50] ladeak commented on #18955
Perfect. We use this in some of our tests, which expected Diagnostics off by default and turned on by us later by subscribing to DiagnosticsListener.

[2020-02-11 17:50] #18955 closed

[2020-02-11 17:52] alefranz commented on #2895
@anurse it's actually #18451, which has been merged, as this issue is about the `HttpResponseStreamWriter`.

Sorry if I made a bit of confusion with multiples linked PRs

[2020-02-11 17:56] anurse commented on #2895
No worries, my bad! Updated!

[2020-02-11 17:57] anurse commented on #18879
Seems reasonable. We'll put this on our backlog, but if you'd like to submit a PR to that doc (using the "Edit" button in the top-right), we'd be happy to review it!

[2020-02-11 18:00] jkotalik opened #18957 "Verify and fix GOAWAY in HTTP/3"
Few issues currently
- Sync over async when writing GOAWAY in abort
- Make sure the highest value for stream is used to write to stream
- Add tests

[2020-02-11 18:14] nfplee commented on #18924
Yeah sure, against my ViewModel I have the following property:

[code]

Here's my model binder provider:

[code]

Now my model binder's BindModelAsync method for this says:

[code]

Note: GetTypesWithAttribute<AttributesAttribute>() retrieves any types which have the AttributesAttribute attribute. Here's an example of a matching type:

[code]

[2020-02-11 18:18] Tratcher commented on #18858
What's with Startup1? It's not being used at the moment.

Do you actually want to map remote accounts to local accounts, or only use remote accounts like AAD and Google? This could be simplified if you do not need local accounts and can remove Identity. AddAzureAD doesn't combine well with Identity because it tries to mange its own cookie.
https://github.com/dotnet/aspnetcore/blob/3da1b107efb01c4f

[2020-02-11 18:44] gfoidl commented on #18949
I have a [branch](https://github.com/dotnet/aspnetcore/compare/master...gfoidl:bmi2_alternative) ready.
Need to do benchmarks (next days are a bit busy, so hopefully next week).

[2020-02-11 18:55] rynowak commented on #18924
OK great. I'll try to help with this. It will take me a little bit.

[2020-02-11 19:09] nfplee commented on #18924
Thanks I really appreciate it. Please let me know if I can assist any way. I can see why my attempts have failed so far, as the model meta data has no knowledge of the properties data annotation attributes.

[2020-02-11 19:17] kishorpise commented on #18858
Thanks for your prompt reply. Answers for each and every point as below.
Objective is just get the email address from both provider in same application, -if possible name, and picture. rest would be managed within application. No mapping is needed.

 1) Startup1 was just backup. I removed and didn't get chance to delete before upload on repo.
2) AddAzureAD doesn't combine well with Identity becaus

[2020-02-11 19:18] #18484 closed

[2020-02-11 19:19] #2895 closed

[2020-02-11 19:23] eltiare commented on #12890
@JeremyTCD I think the obsolete message can be improved for plain Node to move to a different package then. The current one doesn't point toward a package with similar functionality.

[2020-02-11 20:03] markfinlabs opened #18959 "Dev cert works for https://localhost:5001/index.html but not https://[::1]:5001/index.html"
### Describe the bug
The HTTPS home page of a simple web app is marked secure in Chrome 80 for localhost variant and "Not Secure" for [::1] variant.

This is unfortunate as startup logging implies IPv6 is supported.

[code]

### Further technical details
[code]

[2020-02-11 20:05] kishorpise commented on #18858
I have made those changes... still same error. Below is log.

[14:59:35 INF] Request starting HTTP/2.0 GET https://localhost:44361/Account/SignIn/Google
[14:59:35 INF] Executing endpoint 'KlickITWebServer.Controllers.AccountController.SignIn .......

[14:59:36 INF] Executing action method KlickITWebServer.Controllers.AccountController.SignIn (KlickITWebServer) - Validation state: "Valid"
[14:59:36

[2020-02-11 20:10] markfinlabs commented on #18959
Additional comment: note that https://127.0.0.1:5001/index.html is also marked "Not Secure" by Chrome 80. Strange.

[2020-02-11 20:40] #17788 closed

[2020-02-11 20:40] pzbyszynski commented on #18578
@jkotalik I have upgraded to 3.1. I do not see the original error but I still can not get my app up and running on .NET Core & Azure. The app works under very light load (when tested on slot or when excluded from traffic manager), but as soon it starts receiving production traffic it dies.

I have turned on and off all the logging I know about (stdout, diagnostic logging, app service logs, applica

[2020-02-11 20:41] #17045 closed

[2020-02-11 20:41] sowsan opened #18960 "Blazor Server Side app with Microsoft.identity.web"
Anyone has success with integrating Blazor Server Side app with Microsoft.Identity.Web for Azure AD ? You can find a thread here on the issue that I have reported.

https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/issues/285

[2020-02-11 21:17] johnayoub opened #18961 "ASP.NET CORE 3.1 Default Authentication Policy executing last when combined with other policies"
### Describe the bug

Similar to ASP.CORE 2.2 and global filters I expect that adding a `RequireAuthorization` to endpoints would apply globally. That's true, expect when combined with `Authorize` attributes on a controller they execute last which seems like a deviation from previous implementations. In the below example, the `Authorize` attributes on the controller are meant to run only after the

[2020-02-11 21:19] zduoba commented on #18850
After to debug. I found out that after few bombardments of requests Interop.Kernel32.WriteFile takes a lot of time to process.
[Link to CodeFile](https://github.com/dotnet/runtime/blob/0b25063ec056b0d6668bf0848d108d8c873f3fce/src/libraries/System.Console/src/System/ConsolePal.Windows.cs#L1216)
`Interop.Kernel32.WriteFile(hFile, p + offset, count, out numBytesWritten, IntPtr.Zero)`

[2020-02-11 21:23] wtgodbe commented on #18792
Update: I have this ported to Arcade in 3.x & am getting it into master. Arcade's 3.x branch's official builds are blocked on getting a new DARC rollout, which will happen tomorrow morning. So hopefully tomorrow I'll have a PR up in AspNetCore to get the checksums generated.

[2020-02-11 21:36] partyelite opened #18963 "Blazor EditForm recreates all child components when Model property is changed"
### Describe the bug
When using an EditForm component and changing a Model property all child components get disposed and reinitialized.

### To Reproduce

[code]

When clicking on the button, a new model object is created and all child components are reinitialized.

[2020-02-11 21:44] gfoidl commented on #18949
My last comment for today :wink:

For a simple / trivial benchmark (on Intel KabyLake) the SSE2 alternative shows a perf-win over BMI2 -- as already figured out by @GrabYourPitchforks

So it seems there is no need to keep BMI2 around (as I proposed in the first comment).
Still need to run some real benchmarks.

<details>
  <summary>Benchmark code</summary>

[code]
</details>

### Results for widen

[2020-02-11 21:46] Xarkam commented on #18915
Hi,
I continue my investigations.

I discover that Visual Studio 2019 add `Microsoft.AspNetCore.App 2.1.15` after make repair.
So, you can never have this error with VS2019 is installed.
![image](https://user-images.githubusercontent.com/331816/74282254-15e76580-4d20-11ea-8821-baf7c82dba7b.png)

But, on Linux, you cannot have VS2019 and you have this error.
I suppose it's same on Mac.

[2020-02-11 21:49] pranavkm commented on #18752
Fixed as part of https://github.com/dotnet/aspnetcore/commit/376f378c0acf08188013fb6811507ffb0ea04eba

[2020-02-11 21:49] #18752 closed

[2020-02-11 22:08] blowdart commented on #18959
Yes. The subject name and SAN on the certificate are for localhost, not for 127.0.0.1 or ::1. So there's a host name mismatch and so Chrome (and others) will mark it as an insecure connection. While it's possible to put IP addresses into SAN strings browser support has been somewhat inconsistent, and localhost is generally enough, so we don't do it in the test certs.

[2020-02-11 22:17] markfinlabs commented on #18959
Got it, behaviour is by design. Will close the issue. Thanks!

[2020-02-11 22:17] #18959 closed

[2020-02-11 23:59] ryanbrandenburg opened #18969 "Restore OpenApi tests"
The OpenAPI tests were Quarantined because they failed often. There was a mitigation attempted and extra logging added, so we should go back and see if the mitigation did the job, and if not how useful the additional info is.

CC @mkArtakMSFT

[2020-02-12 00:27] ddisqq commented on #18334
please prioritize

[2020-02-12 00:49] ryanbrandenburg commented on #14318
The answer is... `/` vs `\`! Because we Normalize filepaths for the Import file paths [here](https://github.com/dotnet/aspnetcore-tooling/blame/master/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/ProjectState.cs#L442), but the DocumentShapshotHandle.TargetPath is NOT Normalized the strings don't match when we attempt to do a lookup of the related documents of `Views\_ViewImp

[2020-02-12 01:58] Pilchie commented on #18401
Hi Sean, I set up a VM with 16.4 Preview 2 to try to repro this.  I can repro it if I run locally on the machine, but not if I run in the container.  This is expected, since 16.4 Preview 2 doesn't contain 3.1.1.  Can you verify that you're actually running in the container by looking at the VS launch selector to see what launch profile you have selected?

![image](https://user-images.githubusercon

[2020-02-12 02:44] NTaylorMullen commented on #14318
Super interesting that makes me think Linux MSBuild doesn't use `\`.

[2020-02-12 04:39] jernejk commented on #17115
Confirmed on my side as well when using Flurl and `services.AddHttpClient();`. :)

[2020-02-12 04:43] NTaylorMullen commented on #18769
Based on the default theme in Visual Studio looks like we'll need to colorize a few more constructs such as some C# assignments, begin/end angle brackets for HTML and anything else that sticks out. For instance here's colorization today:

![image](https://user-images.githubusercontent.com/2008729/74303560-2ba05f00-4d0f-11ea-998b-a41ecead918c.png)

[2020-02-12 05:19] rynowak commented on #18924
You're running into a problem here with validation btw because validation is meant to operate on the *properties of an object* rather than on a single value.

In your care you're turning a group of classes into a dictionary (no properties in sight).

So I'm not sure there's a great way to have what you want without writing your own validation logic.

[2020-02-12 05:33] NTaylorMullen commented on #18864
This looks to be a VSCode TextMate bug. Going to push this out to preview3 once validation starts; leaving this here to remind me to file an issue in vscode-textmate.

For instance this works in VS:

![image](https://user-images.githubusercontent.com/2008729/74305948-0d8a2d00-4d16-11ea-9725-83740b8acd20.png)

[2020-02-12 06:32] melnikov77 opened #18972 "Possible bug in pull request #18451"
### Describe the bug

New Write/WriteLine/WriteAsync/WriteLineAsync ReadOnlySpan/ReadOnlyMemory overloads
in HttpResponseStreamWriter.cs will not write all data if the data exceeds internal buffer.

See code from pull request (#18451) with my comments:

        public override void Write(ReadOnlySpan<char> value)
        {
            if (_disposed)
            {
                throw new ObjectDi

[2020-02-12 07:11] mrpmorris commented on #18821
The OnChange event of InputFile will give you an object as a parameter that will give you access to the filename etc.

[2020-02-12 07:15] mrpmorris commented on #18963
This is as-designed.

Changing EditForm.Model creates a new EditContext. Your controls are destroyed and recreated because once their EditContext has been set it cannot be altered.

[2020-02-12 07:18] arialdomartini commented on #11050
Instead of being helped by IntelliSense I always find myself reading over and over the documentation and other people's code, and delving with run time errors.

Sorry for being direct but this use of conventions over strongly typed contracts is just frustrating. It makes me miss the pre-Core ASP.NET frameworks.

[2020-02-12 07:22] mrpmorris commented on #18953
When you check if the token source has been cancelled you are checking the class member. If you do cancel the source then the member is replaced with a new one and your first run then checks the new value instead and sees the new one has not been cancelled.

After you create a new source assign it to a local variable, use the local variable when checking if the token has been cancelled.

[2020-02-12 07:36] arialdomartini commented on #11050
@jzabroski

How? I tried with no success. Would you share a code snippet to do that?

[2020-02-12 07:57] Stamo-Gochev commented on #18821
@mrpmorris My question was more about "built-in" support for validation attributes in model fields. Metadata about the file can be obtained manually.

[2020-02-12 09:12] javiercn commented on #18972
@melnikov77 thanks for contacting us.

@Tratcher this is servers, isn't it?

[2020-02-12 09:19] DavidColemanUK commented on #18879
As @Bashout has mentioned, thanks very much @BrennanConroy  for your quick response and answer to this. It gave us what we needed to keep progressing.

[2020-02-12 09:19] #18879 closed

[2020-02-12 09:32] javiercn commented on #18953
@rkone thanks for contacting us.

I believe @mrpmorris answer is correct. Blazor does nothing specific to cancellation tokens, so I believe as @mrpmorris points out, is an issue on your code.

If you want to confirm that, you can try the same code inside a console app and it should reproduce the same behavior.

[2020-02-12 09:34] javiercn commented on #18963
@partyelite thanks for contacting us.

I believe @mrpmorris is right here. I'm closing this issue as the behavior is by design, but @SteveSandersonMS or @pranavkm can chime in if I'm wrong.

[2020-02-12 09:36] javiercn commented on #18960
@sowsan thanks for contacting us.

With regards to authentication, Blazor server-side applications behave like a regular web application. You need to authenticate in the same way and provision any token you need before you start the Blazor application.

Then, you can pass any token you want to your app as parameters to the root component.

[2020-02-12 09:36] javiercn commented on #18961
@johnayoub thanks for contacting us.

@HaoK  can you chime in on what's going on here?

[2020-02-12 10:33] daver77 commented on #17833
@anurse Hi, just to confirm, was this fix released in 2.1.16?

[2020-02-12 10:56] poganytamastsys commented on #12890
7 months passed, and still no straightforward replace for UseWebpackDevMiddleware. I am still using .net core 2.2 because of this.

[2020-02-12 11:04] partyelite commented on #18963
You are dismissing this issue too soon.
To answer a comment from the InputBase component

                // handlers for the previous one, and there's no strong use case. If a strong use case
                // emerges, we can consider changing this.

There are many data entry web applications that will be build using blazor and almost every single app has a form for some kind of a data entry.  I

[2020-02-12 11:06] DEVASENASYN opened #18973 "IHostedService is consuming more memory in .net core 2.0"
Hi,
I'm using IHosted service to process the records for every 3 seconds. Looks like it is consuming more memory and slow down the execution time

**1st time execution:**
When I try to process 50 records (5 batches)
1st batch execution time : 8542 ms
2nd batch execution time : 7989 ms
3rd batch execution time : 26513 ms
4th batch execution time : 43848 ms
5th batch execution time : 40477 ms

Execu

[2020-02-12 11:09] sowsan commented on #18960
Thank you, is there a sample for the same following authorization code flow with scope to call an API protected using Azure AD?

Regards,
Sowmyan

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Javier Calvarro Nelson <notifications@github.com>
Sent: Wednesday, February 12, 2020 4:36:05 AM
To: dotnet/aspnetcore <aspnetcore@noreply.github.com>
Cc: sowmyan soman <so

[2020-02-12 11:24] JeremyTCD commented on #12890
@eltiare I'm not sure if Microsoft would do that. If there's anything I can do from my side to increase discoverability feel free to let me know.

[2020-02-12 12:14] javiercn commented on #18963
@partyelite I've reopened this issue for triage purposes.

[2020-02-12 12:34] peterblazejewicz commented on #18825
@pjevans can you close this now when merged? Thx!

[2020-02-12 13:22] ScottKane opened #18974 "Component library dependency propagation"
### Is your feature request related to a problem? Please describe.
I am trying to build a component library which will build on top of existing libraries.

MyClient <- MyLibrary <- OtherLibrary

If code in OtherLibrary has dependencies on scripts from cdn (e.g bootstrap), how can I propagate that into MyClient (Blazor) index.html/_Host.cshtml
### Describe the solution you'd like
I've explored usin

[2020-02-12 13:23] dazinator commented on #17115
Although i'm still hitting the following issue - I still have to set the default base address myself like so:

[code]

Otherwise if I try to use the http client without doing this, and make requests to relative url's without setting a base address, it will error. Is this expected behaviour? I would have thought the sensible thing for blazor apps would be to have the base address set by default..

[2020-02-12 13:44] alienwareone opened #18975 "Routing: LowercaseUrls and LowercaseQueryStrings"
I would like to see more flexibility for lowercase Urls/QueryStrings:
[code]

[2020-02-12 13:53] breggles commented on #18954
Yes (assuming i'm doing everything correctly). I adapted the cookie sample from here: https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/security/authentication/cookie/samples/3.x/CookieSample

I got this in `ConfigureServices`:

[code]
and this on a controller action:
[code]
I then get the same error, wrapped up, slightly differently:
![image](https://user-images.githubusercontent.c

[2020-02-12 14:06] 3GDXC opened #18976 "Razor Component not working when new protected virtual methods used"
### Describe the bug
when creating/using a custom component base class that is derived from ComponentBase that has
exposese new protected virtual methods; then calls the ComponentBase method the component razor fails to call the component methods

### To Reproduce
create a razor component class which is derived from the ComponentBase; hide one/or more of the protected methods of the ComponentBase

[2020-02-12 14:16] hartmannr76 commented on #12890
I want to chime in here for others since I've been playing with this a bunch trying to get it to work for netcore 3+. Full disclosure: I am, by no means, a webpack expert. I understand some basic things about it but wanted to learn more by banging my head against a desk to get this to work 😄

It's not super straightforward and took some digging into the code to get something to work, but I managed

[2020-02-12 14:31] nhart12 commented on #18846
@joeloff  any other ideas? I feel like the fact that it runs not through a scheduled task proves it's not disk space or quotas

[2020-02-12 14:37] mrs2020 commented on #18334
Same issue  on new app from template :
Could not load file or assembly 'Microsoft.AspNetCore.Razor.Runtime, Version=3.1.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified.
 solution is  to use Version="3.1.0" as the following :
<ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.Http.Features" Version="3.1.0" />
    <PackageReference Inclu

[2020-02-12 14:53] davidfowl commented on #18973
There's nothing special about IHostedService. Have you profiled your application to see where the time is bring spent?

[2020-02-12 15:22] kevbite opened #18977 "ControllerBase.ValidationProblem() does not respect ApiBehaviorOptions"
### Describe the bug
When setting up the `ApiBehaviorOptions` within `ConfigureServices` of an MVC project.

[code]

The custom `InvalidModelStateResponseFactory` is not respected when calling `ControllerBase.ValidationProblem()` within an action. The body of the response is just:

[code]

### Further technical details
C:\>dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.1.1

[2020-02-12 15:29] Tratcher commented on #18972
@jkotalik ?

[2020-02-12 15:39] javiercn commented on #18976
@3GDXC thanks for contacting us.

If you are hidding the methods with the `new` keyword, that's likely not something we currently support or plan to support.

Could you give us more information about your use case so that we can better evaluate the situation?

[2020-02-12 15:43] sodeshpa opened #18978 "Equivalent of the MVC command url.content in Blazor.net webassembly (client side)"
@foreach (var item in Model)
    {
        string myImgDest = "~/Images/" + item.FieldName+ ".jpg";
 @if (item.IndVreComp == 1) --- Based on some condition , i am changing the url src
                {
                    <img src="@Url.Content(myImgDest )" alt="my text" title="my title" />
                }
i am dynamically constructing the "src" part of the html <img src in MVC4.
Now i am trying

[2020-02-12 15:45] #18978 closed

[2020-02-12 15:51] mrpmorris commented on #18963
I've looked at the code involved and seeing as the EditContext itself is discarded and recreated when the EditForm.Model changes it seems there is no state that will persist.

All people have to do is

public override async Task SetParametersAsync(ParameterView parameters)
{
  EditContext previousEditContext = EditContext;
  await base.SetParametersAsync(parameters);
  if (EditContext != previousE

[2020-02-12 15:56] rynowak commented on #18978
Not sure if you closed this because you found the answer, but here it is...

In Blazor all of the templates set `<base href="...some path..." />`. You don't need a feature like `~/`, you can just use a normal relative path `Images/pizza.jpg` and the browser will do the right thing.

[2020-02-12 15:58] nfplee commented on #18924
Thanks @rynowak for taking a look. I'm thinking of looping over each type from GetTypesWithAttribute  and then create an instance using reflection. This is similar to what I did with the parameters model binder (above), therefore the model binding logic should be the same (including validation). Finally I just have to update my HTML fields to say:

<input asp-for"Attribute1" />

This actually impr

[2020-02-12 15:58] rynowak commented on #18924
Ok great, I'm glad you found a solution.

[2020-02-12 16:08] 3GDXC commented on #18976
@javiercn while the ComponentBase is for the majority of use cases acceptable; I was looking to create a set of generic ComonentBase implementations for automated testing; forcing the implement developer to have implementation for methods while hiding others;  the base components implement the IComponent interface; it was my understanding that razor used reflection on the component methods to find

[2020-02-12 16:13] drdamour commented on #7647
anyone come up with a good pattern to not have the package in release builds?  best i could come up with is conditioning the package reference and #IF blocking the the code (and using's).

[2020-02-12 16:15] rynowak commented on #7647
@pranavkm - I think you were working on something here...

[2020-02-12 16:28] drdamour commented on #7647
bah i should have RTFM https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.1

[2020-02-12 16:43] javiercn commented on #18976
@3GDXC I don't believe we do any sort of reflection to find the right signature. We simply call SetParametersAsync. All the logic regarding OnInitializeAsync and OnParametersSet is defined in ComponentBase.

[2020-02-12 16:58] javiercn opened #18979 "[Blazor] Provide redirect to login component in Microsoft.AspNetCore.Authorization"
We plan to include it as part of the templates for auth in Blazor wasm, but we should have one out of the box in Microsoft.AspNetCore.Components.Authorization given that this is **not** wasm specific.

[2020-02-12 17:01] joeloff commented on #18846
Do you have the log from the host_fxr package. The host package log you posted seem to indicate that it installed successfully.

[2020-02-12 17:02] javiercn opened #18980 "[Blazor][Wasm] Disable built-in typescript target"
After 679ed5d5caff4833515a82ffb73d9afecd979164 I started getting build errors due to the typescript SDK not being able to load one of the tasks.

Given that we don't use it and that the recommended way is to use the typescript package, I added the following property to disable the default logic
`<EnableTypeScriptNuGetTarget>true</EnableTypeScriptNuGetTarget>` to bypass this issue.

[2020-02-12 17:03] javiercn commented on #18980
We can remove this once we get back into a stable train.

[2020-02-12 17:05] Seeker9889 commented on #12242
I'm experiencing a similar issue. We already have a base class we need to implement on the class which would be our IdentityUser.

[2020-02-12 17:07] rynowak commented on #18976
If your goal is to bypass ComponentBase`, you have a few options:
- Implement all of the same interfaces as `ComponentBase` without inheriting from it
- Inherit from `ComponentBase` use `new` to replace methods, and then **redeclare** the interfaces that those methods implement.

The second one uses a feature of C# that's little-known called interface re-implementation: https://docs.microsoft.com/

[2020-02-12 17:15] pranavkm commented on #18977
`ApiBehaviorOptions.InvalidModelStateResponseFactory` is specifically used by the filter (unfortunately the API documentation doesn't do a very good job of conveying this).  If you'd like `ValidationProblem` to return a different result, there's a couple of options:

a) You could have a custom base controller type that overrides `ValidationProblem`
b) You could implement a [`ProblemDetailsFactory`

[2020-02-12 17:18] pranavkm opened #18981 "Make the blazor dev-server output less noisy"
The dev-server logs info level content which is typically off by for the "Microsoft" filter in other templates.

[2020-02-12 17:18] mkArtakMSFT opened #18982 "Add debugger specific setting to the Blazor project templates"

[2020-02-12 17:18] pranavkm commented on #18981
PR: https://github.com/dotnet/aspnetcore/pull/18971/files#diff-30ed2a4d4e1cdb85d2cd5c9cafc596e9

[2020-02-12 17:18] mkArtakMSFT commented on #18982
@SteveSandersonMS can you please share the setting to be added here? Thanks!

[2020-02-12 17:28] mkArtakMSFT opened #18983 "Automate Mono-dependency update for Blazor WASM"

[2020-02-12 17:49] mkArtakMSFT commented on #18974
Thanks for contacting us.
This is not something we plan to do as it doesn't align well with the plan we have in mind.
The framework has no way to know which of the references to add and in which order.
You can definitely add explicit references to those files from your pages/components, if those files are part of the dependent projects.

[2020-02-12 17:50] mkArtakMSFT commented on #18961
As a side note, it looks like the version of the framework you're using is outdated and is not supported any more.
Consider upgrading to a newer supported version of the framework to make sure it's secure and you get all the new features.
You can learn more about the .NET Core support policy at https://dotnet.microsoft.com/platform/support/policy/dotnet-core

[2020-02-12 17:52] blowdart commented on #18954
@HaoK

[2020-02-12 17:52] rynowak opened #18984 "Add an extension method for allow anonymous on endpoints"
# Summary

One of the patterns we want to encourage with endpoint routing is the use of the fallback policy. This is the *rough* equivalent of a global authorization filter.

In this style it's much more common to opt-in globally to authorization, and then opt-out on the specific endpoints that you want to be public. This is where the attribute `[AllowAnonymous]` gets its name - because you requir

[2020-02-12 18:10] NTaylorMullen opened #18985 "Don't fill VS logs with noise when tasks are cancelled"
When our project `DefaultProjectWorkspaceStateGenerator` is [calculating ](https://github.com/dotnet/aspnetcore-tooling/blob/b51b3c92c1a475191c4177721fa396b8730fdee0/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/DefaultProjectWorkspaceStateGenerator.cs#L101-L175) things like TagHelpers it's possible that the work gets cancelled half way through. Today we log those task cancellations in VS'

[2020-02-12 18:12] nhart12 commented on #18846
@joeloff here it is: looks like it succeeds as well

[code]

[2020-02-12 18:19] Tratcher commented on #17833
@daver77 yes this has been fixed in 2.1.16 which is the planned Feb patch releasing soon.

There's no comparable API in .NET Framework unless you're using Microsoft.Owin?

[2020-02-12 18:29] joeloff commented on #18846
Wait, the runtime MSI did end up installing. The logs shows it retried the package and then succeeded

[code]

Once completed, the runtime bundle is encountering a number of errors, that will cause it to report the install as failed to the parent bundle (Windows Hosting and skip the remaining packages, this would likely be ASP.NET Core and/or ANCM depending on your IIS setup).

The pipe errors I'v

[2020-02-12 18:36] johnayoub commented on #18961
@mkArtakMSFT Thanks! Yes, we're using the latest version 3.1. I was referencing 2.2 as the behavior has changed since we migrated to 3.1. Sorry if that bit wasn't clear.

[2020-02-12 18:56] sowsan commented on #17014
Does this work with Azure AD OpenId?

[2020-02-12 18:56] istvanloth opened #18986 "Unwanted reload of Blazor wasm"
(First I'd like to say sorry, my english isn't very good).

My Environment:
- Blazor 3.2.0-preview1.20073.1 (this problem was exists in the previous versions also)
- VS 2019 Community (fresh)
- Blazor WebAssemblyApp(s) with "ASP.NET Core Hosted option)

Wasm reloads many time in my complex solution. I can't identify the cause in every case but I can reproduce it in a special one: load a page from

[2020-02-12 19:04] grahamehorner commented on #18974
@mkArtakMSFT I'm interested to understand your explanation/comment

As I understand that the <script> tag is not able to be used from with inside a component and therefore a developer using a component needs to have explicit knowledge about scripts/styles required to use which IMHO they shouldn't need unless overriding functionality/styling.

are you able to point us to examples?

[2020-02-12 19:06] vsfeedback opened #18987 "Renaming a razor component doesn't update IntelliSense"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/904286/renaming-a-razor-component-doesnt-update-intellise.html)._

---
Renaming a razor component doesn't update IntelliSense so you have to restart Visual Studio to be able to build the project again.

---
### Original Comments

#### Visual Studio Feedback System on 2/3/20

[2020-02-12 19:07] mkArtakMSFT commented on #18987
@NTaylorMullen  can you please look into this? Thanks!

[2020-02-12 19:10] ScottKane commented on #18974
Also just to clarify @mkArtakMSFT, I didn't mean something automatic. I just meant a mechanism for copying and merging an index.html file (containing only <head>/<body> tags) from my RCL into that of my Blazor client

[2020-02-12 19:16] sebastienros commented on #18872
I now realize that you already shared some repro app, I will try it locally with these two versions.

[2020-02-12 19:22] vsfeedback opened #18988 "Blazor code section: Dark Theme, C# code in Razor has annoying background colour"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/732605/blazor-code-section-dark-theme-c-code-in-razor-has.html)._

---
What steps will reproduce the problem?
1. Set Visual Studio to have DARK theme
2. Create a BLAZOR project, go to a RAJOR page and all the C# code has an annoying back-ground colour

What is the expected

[2020-02-12 19:22] sebastienros commented on #18872
@agussang I can't find any `GetCountryAsync` method in the `WebApplication3` that you shared. Which web app (there are 3) and which endpoint do you want me to test to repro the issue?

[2020-02-12 19:32] grahamehorner commented on #18974
@mkArtakMSFT IMHO it's would be good to have a component model that supported the HTML import https://www.html5rocks.com/en/tutorials/webcomponents/imports/ that way a component could inform the DOM that it has a number of StaticWebAssets it needs to import

[2020-02-12 19:37] daver77 commented on #17833
Thanks, yeah I'm using owin, openid using identityserver4.

[2020-02-12 19:52] Kaev commented on #18987
I'm the reporter if there are any open questions. :)

[2020-02-12 19:57] sowsan opened #18989 "No startup.cs in the WASM project"
Is it expected to have a startup.cs file in the project root folder ? I am following the documentation here for vscode and its not creating one.

https://docs.microsoft.com/en-us/aspnet/core/tutorials/build-your-first-blazor-app?view=aspnetcore-3.1

[2020-02-12 19:58] NTaylorMullen opened #18990 "Remove @code, @functions, @{...} and @if, @for ...statements... background colorization"
We'd remove the background of the opaque code that exists.

**Today:**
![image](https://user-images.githubusercontent.com/2008729/74372011-baa08c00-4d8e-11ea-98f8-0ce4cf2f81c2.png)

 For instance

[code]

All the C# would not have a background. However, in cases where expressions are mixed those would continue to have background colorizations. i.e. this would continue to look the same:

![image](h

[2020-02-12 20:05] blowdart commented on #18730
Until the patch comes out in 3.1.2 and you upgrade we can't go much further here. It's supposed to address the issue we believe you are describing.

Once 3.1.2 drops please upgrade and follow the scaffolding instructions if the default behaviour is not as you expect.

[2020-02-12 20:05] luckerby commented on #18639
Will test this tomorrow and post back. Sorry about the delay.

[2020-02-12 20:16] MJRasicci commented on #18989
See the Blazor WASM 3.2-preview 1 release blog post, specifically the Simplified Startup section:

https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-1-release-now-available/

[2020-02-12 20:21] nhart12 commented on #18846
@joeloff hmm that is interesting.. I don't think it's antivirus related, however I just check event viewer when running the task via task scheduler I see a couple errors in RestartManager "Application or service '.NET Core Host' could not be shut down.". These do not appear when executing our task from CMD

[2020-02-12 20:25] joeloff commented on #18846
When you run from the commandline, does the UI ever prompt to shutdown applications? One thing you could try with the scheduled task is to run the installer with /norestart and see if that makes a difference. That might work, but it might also defer the completion of the installation until a restart occurs. That determination is outside the control of the installer and comes from the RestartManage

[2020-02-12 20:29] sowsan commented on #18989
Thank you so much :)

[2020-02-12 20:29] #18989 closed

[2020-02-12 20:37] HaoK opened #18991 "[Helix] Revisit how we declare/define/target the helix queues"
@MattGal suggested that we consider moving to a flat list of helix queues similar to what the run-time repos do, like: https://github.com/dotnet/runtime/blob/4f97bc78f3e86af5351ed4e1e9c64a00a311cb5c/eng/pipelines/libraries/helix-queues-setup.yml#L21

The previous intent was to more have a strongly typed queue object which had properties, there's now complexity with internal/open and we also direct