[2019-06-25 05:55] dpr-dev commented on #11498
@TempleClause, could you show the startup.cs file ?

[2019-06-25 05:58] dpr-dev commented on #11498
I tried to reproduce this error, but everything worked for me

[code]

[2019-06-25 06:13] zly243941866 commented on #11492
Process Memory only growing never lowered in the centos7,I tried  2.1 and 2.2 and created a new project

[2019-06-25 07:17] ddweber opened #11542 "[SignalR] Possibility to cancel long running hub method from client"
I´m not quit sure if this post is more of a question or a feature request.

I noticed that the `InvokeAsync<TResult>(HubConnection, String, CancellationToken)` method accepts a `CancellationToken`. As far as I understood this token only cancels the invocation (and waiting for a result, ...) on the client, while on the server side the method proceeds.
Is this correct?

If so wouldn´t it be a nice f

[2019-06-25 07:18] guyng commented on #11494
@mkArtakMSFT  The documentation itself is useful but i had no idea that i need to scaffold the project to actually get these "hidden" files, my first impression was that you've put it in the open source github repo and the only way is to manually copy the files from the repo to the project. If it was more clear it would save me a lot of time.

Yes, either create new project dialog with additional

[2019-06-25 07:27] jfcaldeira opened #11543 "Custom Tag Helpers define class for each element and inner element"
I have a problem with tag helpers. I couldn't find any example showing how to add classes to each element like in my example.

I'm trying to create a bootstrap 4 card tag helper

basically the output right now is as it should be

[code]

but the classes i set on code aren't being recognized on the output. How can i achieve this?

[code]

[2019-06-25 07:52] SeppPenner commented on #11489
@danroth27 Okay, it seems like I accidently didn't use the preview version (I have VS2017, VS2019 and VS2019 latest preview installed) but the regular VS2019. When using the 16.2.0 Preview 2.0 with `Ctrl-F5`, changing things works, but it shows `Failed to reconnect to the server.`. I guess that's the issues @mkArtakMSFT was referring to.

[2019-06-25 07:52] #11489 closed

[2019-06-25 08:17] jfcaldeira commented on #11543
Issue solved. Problem was on ViewImports

I had to write the name of my project assembly and not the tag helper directory or tag name

[2019-06-25 08:17] #11543 closed

[2019-06-25 08:51] SchroterQuentin commented on #4445
I do have a similar problem with databinding from route.

The rights of my users are at `/api/admin/users/{userId}/rights`

And my controller is as simple as

[code]

The problem I have is that, the userIds of my users may contains a `/` which is encoded to `%2F` in the Uri. But userId doesn't decode `%2F` so my string contains `%2F`. It's fine for me, I can deal with that.

But the userIds of my

[2019-06-25 09:02] JunTaoLuo commented on #11186
Follow up in #11534

[2019-06-25 09:02] #11186 closed

[2019-06-25 09:13] SchroterQuentin opened #11544 "DataBinding from Uri path - string decode"
The rights of my users are at `/api/admin/users/{userId}/rights`

And my controller is as simple as

[code]

or

[code]

The problem I have is that, the userIds of my users may contains a `/` which is encoded to `%2F` in the Uri. But userId doesn't decode `%2F` so my string contains `%2F`. It's fine for me, I can deal with that.

But the userIds of my users may contains a `+` which is encoded to `

[2019-06-25 10:04] SeppPenner commented on #7390
Na, it's not (really) fixed. I'm using VS 2019 16.1 Preview 2 and the only thing that works is starting the application with STRG-F5 (Without the debugger). Still you have to press F5 in the browser to see the changes, however. Running the application using F5 won't work.

Check also https://github.com/aspnet/AspNetCore/issues/11489 and https://github.com/aspnet/AspNetCore/issues/5456.

Quote from

[2019-06-25 10:28] javiercn commented on #11454
I did send a separate PR for this, we replace '--' sequences with '..'

[2019-06-25 10:53] thomaslevesque commented on #8537
Oh, nice! Thanks @khellang

[2019-06-25 11:23] Gopigovin opened #11545 "Blazor input files serialization converts {} empty object"
**Bug Description**
In interop.js file, I have page the file, other details into object and send to component side, which serializes the file Data returned empty object {}.

**To Reproduce**
Run the below code example.

[interop.js]

[code]
[`Index.razor`]

[code]

**Interop file object values**

![image](https://user-images.githubusercontent.com/17155380/60094051-a1e45700-9768-11e9-9209-fd836adc7

[2019-06-25 11:49] lovelangy commented on #10971
@anurse  sorry, please ingore my previous comments, my problem solved.

Azure service fabric solution is running under "network service" account.  "network service" account has access to self-signed cert(i must have granted it before), but no access to real cert.   That is why it doesn't sent cert.

Asp.net core is by default running under your windows account(admin),that is why it sends all certs

[2019-06-25 13:38] davidfowl commented on #11542
Today we only support cancellation for streams but there's nothing wrong with supporting this for other invocations.

[2019-06-25 13:39] davidfowl commented on #11437
When do we want to do this change? Preview8 or 7?

cc @anurse

[2019-06-25 13:49] javiercn commented on #11529
We need to disable static web assets completely on the Identity UI package completely or take in https://github.com/aspnet/AspNetCore/pull/11029 which properly moves Identity UI into the static web assets model. (Which we either do now or not do until 5.0)

Also, from what I can see the publish output folder might be wrong in this case, as its pointing out to wwwroot_content, which suggests we are

[2019-06-25 13:52] javiercn commented on #11529
More generally, users might run into path too long exceptions in nuget packages, I'm not sure if ultimately the only solution is to enable long paths on the windows registry to allow paths longer than 260 chars.

[2019-06-25 13:58] rcimpean opened #11547 "Unable to start any Blazor project"
### Describe the bug
I try to open a Blazor (Asp.net core hosted) app after update .net core, blazor extension and visual studio, and the app is blocked in "loading..." view and in browser console i got an error: "unable to found blazor.boot.json", and i have the same problem with new Blazor projects.

### Envirement
Visual Studio 2019 16.2 Preview 2.0
Visual Studio 2019 Professional 16.1.3
Visual

[2019-06-25 14:08] javiercn commented on #10269
@mkArtakMSFT Can you please move this out of preview8?

[2019-06-25 14:16] javiercn commented on #9588
This is fixed for static assets comming out of RCL, but I fear that this is by design for blazor-server side as it brings in an embedded file and to do so it configures the options for the static files middleware. If you use your own options then it misconfigures blazor server-side.

The alternatives are:
* Configure options though DI, using `services.Configure<StaticFileOptions>(...)`
* Add two c

[2019-06-25 14:17] javiercn commented on #9588
I'm closing this as by design as this is a limitation of the current experience we plan to ship with.

[2019-06-25 14:17] #9588 closed

[2019-06-25 14:23] javiercn commented on #9403
I don't think there's anything left to do here.

They use different layouts, so unless we decide to sync layouts across spa and non spa templates there's nothing to do here.

One is using the layouts from the app (which contains app specific links) vs the embedded identity UI layout, which obviously doesn't contain any link. Again there's nothing we can do here. Users can override the identity UI

[2019-06-25 14:26] javiercn commented on #6794
We did this already

[2019-06-25 14:26] #6794 closed

[2019-06-25 14:28] #5510 closed

[2019-06-25 14:29] javiercn commented on #5554
@mkArtakMSFT @danroth27 Moving this out of preview8 into 3.1

[2019-06-25 14:38] javiercn commented on #11529
I did the work of migrating this and I have a PR out, I only need to fix helix tests for it and get a review from either Pranav or Haok.

[2019-06-25 14:40] javiercn commented on #11174
We are planing to go back to `_content/$(PackageId)` as the default convention.

[2019-06-25 14:42] javiercn commented on #10717
Pending more guidance

[2019-06-25 14:51] javiercn commented on #10989
I do have a PR out for this as part of the security work. I'll take this from your plate.

[2019-06-25 14:52] javiercn commented on #10989
https://github.com/aspnet/Extensions/pull/1880

[2019-06-25 14:53] anurse commented on #11527
Have you taken a look at the [documentation on running ASP.NET Core apps as IIS sub-applications](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.2#sub-applications)? Assuming that documentation doesn't help, can you provide a runnable sample project that reproduces your issue, including relevant IIS configuration information?

[2019-06-25 14:54] anurse commented on #11437
If it's simple (looks like it would be) I'd prefer to cram this in to preview7. @Tratcher, we can sync today on prioritization if necessary.

[2019-06-25 14:56] anurse commented on #10971
Ah, so it was a permissions issue all along? Glad to hear it's resolved. Does that resolve the entire issue or are you still having issues with intermediate certificates?

[2019-06-25 14:59] anurse commented on #11492
Without more detail on your application we can't really help here. We don't know your application, or what it may be allocating. Please provide a simple runnable sample application that reproduces the problem. If you aren't able to do that, I'd suggest using a memory profiler to analyze which objects are taking up all the memory.

[2019-06-25 15:01] anurse commented on #11495
👍 Glad to hear that, I just wanted to get on my soapbox and make sure you (and anyone who comes across the issue) were aware of the potential security risk :).

Even with a `KnownTypesBinder` I'd definitely suggest looking at the `JsonConverter` model. It decouples your message format from the specific type names (so you could refactor and simply adjust your converter) and makes it absolutely cert

[2019-06-25 15:17] kant2002 commented on #5584
This is still an issue with Preview 6

[2019-06-25 15:22] anurse commented on #11408
(Routing to servers since this doesn't seem to be isolated to SignalR)

It definitely seems odd that ading it to the the intermediate authorities worked. Let us know if you can isolate what fix actually resolved the issue.

[2019-06-25 15:24] anurse commented on #11542
I believe we support it for non-streaming as well... As long as you accept a `CancellationToken` in your Hub method, we'll automatically flow it forward. For example, the below should work:

[code]

If it doesn't, let us know!

[2019-06-25 15:27] anurse commented on #11479
Feels post-3.0 based on your description :). But sounds like goodness

[2019-06-25 15:32] jfcaldeira opened #11549 "Asp .Net Core Tag not rendering from a Custom tag helper"
Here is my custom tag helper, it renders asp-for as asp-page on browser.... Is there a way i need to refer other tag helpers cuase this way it is not rendering

[code]

This is my view import, i changed the order so my custom tag helper was first but didnt change anything

[code]

[2019-06-25 15:35] BrennanConroy commented on #11542
@anurse I don't think we do support that, but we structured the code in such a way that we could add support for it in the future.

[2019-06-25 15:41] mikes-gh commented on #11174
@javiercn -  I agree with your desision.  At the moment the docs say `_content/{LIBRARY NAME}/`

Does `LIBRARY NAME` mean the csproj name?

I think its possible to use a RCL from a project reference that doesn't include a `<PackageId>` i.e. an RCL that has never been packed?  This might happen when testing.

Forgive me if I'm missing something just coming at this from an end-user perspective.

[2019-06-25 15:41] aherrick commented on #11366
This is closer to where I want to be... the problem here is it's still two different code paths for client and development.

In development mode, how do you realistically test the HTTP/API/Controller endpoints?

[2019-06-25 15:44] anurse commented on #11542
Ah yes, I believe the server supports it but the client does not. Moving to the backlog to add this support.

[2019-06-25 15:45] Coder3333 opened #11551 "RedisHubLifetimeManager OnDisconnectedAsync Exception"
I have a scenario where my SignalR hub and client are working just fine when I run inside Visual Studio on my Windows machine, but when I host my hub on Linux PCF, I get this error when my client tries to connect to the hub.

[code]

The only place in OnDisconnectedAsync that looks like it could produce a NullReferenceException is this:

[code]
Under what circumstances would "feature" be null?  I

[2019-06-25 15:47] SteveSandersonMS commented on #11547
I think you don't have the current version of the client-side Blazor templates.

 * If you want to create these projects in VS, install the latest VSIX: https://marketplace.visualstudio.com/items?itemName=aspnet.blazor
 * If you want to create them on the command line, install the latest templates package (`dotnet new --install Microsoft.AspNetCore.Blazor.Templates::*`)

Closing because it's known

[2019-06-25 15:47] #11547 closed

[2019-06-25 15:48] mkArtakMSFT commented on #6679
@NTaylorMullen is this fixed?

[2019-06-25 15:54] anurse commented on #9184
`Index`/`Range` use private fields so aren't serializable

`IAsyncEnumerable` is how we support streaming, yaay!

Nullable has the same issues in SignalR as MVC Model Binding, EF models, etc. If you're using Json.NET you can use constructor binding:

[code]

If you're using `System.Text.Json` or otherwise want the traditional constructor-less POCO pattern of get/set properties, you'll need to do o

[2019-06-25 15:58] nheinbaugh commented on #11515
@anurse here is a minimum reproduction (note that this is just from the add project flow in VS without any customization) https://github.com/nheinbaugh/vs-2019-docker-failure

I have also created a feedback item in the VS Feedback tool.

[2019-06-25 16:12] #8829 closed

[2019-06-25 16:13] #8797 closed

[2019-06-25 16:14] javiercn commented on #11174
$(PackageId) is always defined, even if you don't pack your project. It will work whether you pack the project or reference it

[2019-06-25 16:21] mkArtakMSFT commented on #11529
@javiercn, please link the PR here.

[2019-06-25 16:24] #11240 closed

[2019-06-25 16:26] mkArtakMSFT commented on #11529
Looks like the long file-path support will eventually become standard:
![image](https://user-images.githubusercontent.com/34246760/60115617-2ca66100-972b-11e9-9fb3-77e62b35d370.png)
Source: https://docs.microsoft.com/en-us/windows/desktop/fileio/naming-a-file

Unfortunately, we can't rely on this and require developers to switch to that version of windows. So fixing this is the right thing to do.

[2019-06-25 16:32] javiercn commented on #11529
https://github.com/aspnet/AspNetCore/pull/11029

[2019-06-25 16:34] MaherJendoubi commented on #11323
@mkArtakMSFT @danroth27 Thank you both.

[2019-06-25 16:34] javiercn commented on #11529
@mkArtakMSFT Ultimately we can't do anything if the package path exceeds 260 chars for any given path on the package, as this depends on the user nuget package root path. We can try and have short paths, but that's it.

[2019-06-25 16:36] mkArtakMSFT commented on #11545
Thanks for contacting us, @Gopigovin.
We don't support passing binary data in JSInterop. Consider representing the data as a Base64 encoded string.

[2019-06-25 16:36] #11545 closed

[2019-06-25 16:36] mockjv commented on #11381
Just as a random curiosity.  I was re-evaluating this to ensure I've considered all options and ran across something that raised an interesting question.

What would stop anyone for using dark.exe (Wix Toolset), to extract the ANCM MSI from the hosting bundle (probably more so from a legal standpoint than a technical standpoint) and then bundling that MSI.  At the end of the day, it's the same thi

[2019-06-25 16:37] mkArtakMSFT commented on #11525
Thanks for contacting us.
This is not an area we control.
If you still have this problem, feel free to report it on the https://github.com/mono/mono repo.

[2019-06-25 16:37] #11525 closed

[2019-06-25 16:40] acorrow commented on #11185
I could not agree more. It seems like it would be a huge miss to move this to 3.1, it's not like this is a feature request to get publishing into IIS, this is a regression bug. Preview 5 worked just fine with IIS publishing.

[2019-06-25 16:45] pranavkm commented on #8686
@hellfirehd do you happen to have the stack trace for this?

[2019-06-25 16:46] mkArtakMSFT commented on #11439
Glad you could work around this, @Z3roCoder.
Given this is not an issue we have control of, we're moving it to the Mono folks.

[2019-06-25 16:46] mkArtakMSFT commented on #11439
This issue was moved to mono/mono#15404

[2019-06-25 16:46] #11439 closed

[2019-06-25 16:48] mkArtakMSFT commented on #11410
Thanks for contacting us, @akorchev.
@javiercn can you please look into this? Thanks!

[2019-06-25 16:50] mkArtakMSFT commented on #11326
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-06-25 16:50] #11326 closed

[2019-06-25 16:51] mkArtakMSFT commented on #11156
Closing this as this seem to be resolved already.

[2019-06-25 16:51] #11156 closed

[2019-06-25 16:51] mkArtakMSFT commented on #11057
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-06-25 16:51] #11057 closed

[2019-06-25 16:53] pranavkm commented on #11517
We couldn't do this post 3.0 since it would be an API breaking change. Should just close in that case.

[2019-06-25 16:53] anurse commented on #11381
I'd say the only problem is that we can't guarantee official support for that scenario. I don't believe there's any problem with doing that, but it's getting pretty far off the expected path.

One thing we are looking at doing moving forward is reducing the chaos that is the downloads page (https://dotnet.microsoft.com/download/dotnet-core/3.0) and replacing it with a single simple installer that

[2019-06-25 16:55] HaoK commented on #11515
So it does look related to us moving the Policy middleware to Authorization and back out, it looks like it is expecting https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authorization/Policy/src/AuthorizationAppBuilderExtensions.cs to be in the core authorization dll when its back to `Authorization.Policy`

Is this an app upgrade from preview5 perhaps?  I think it was only preview5 tha

[2019-06-25 17:01] nheinbaugh commented on #11515
My dotnet info does have preview5

[code]

@HaoK when I originally came across this problem I was using preview5 build for my app.

I will upgrade my global 3.0 sdk and attempt to reproduce the error. I'm hoping it was just a mismatch like that :)

[2019-06-25 17:01] mikaelm12 commented on #10001
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] This is a Docs issue.
* [ ] The fix contains product changes (**check all items below**).
	* [ ] Relevant XML documentation comments for new public APIs are present.
	* [ ] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
    	* [ ] The change requires a ne

[2019-06-25 17:05] javiercn commented on #11410
@huanbd Your issue is likely unrelated.

If you have a base path then you need to reference files relative to the root (starting with '/' or call `app.UseStaticFiles()` within the `app.Map("/cms", ...)` call before app.UseClientSideBlazorFiles

[2019-06-25 17:07] javiercn commented on #11185
I believe this is actually fixed as per my changes in https://github.com/aspnet/AspNetCore/commit/0a4f42a7e2030697ecf2c35b5de8b524b8bbf42f.

[2019-06-25 17:07] #11185 closed

[2019-06-25 17:08] raphaelr opened #11555 "UseStatusCodePagesWithReExecute does not work if an endpoint returned 404 manually"
### Describe the bug
When using UseStatusCodePagesWithReExecute() to handle 404 errors, the 404 handler is not executed if the endpoint returned 404 manually (i.e. did `context.Response.StatusCode = 404`). UseStatusCodePagesWithRedirects() works just fine.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.0-preview6.19307.2'
2. Run this code

        pub

[2019-06-25 17:13] nheinbaugh commented on #11515
Yep, updating the SDK fixed the problem. In case anybody else comes across this type of problem:

**This was caused by Docker pulling a more updated version of .NET than what I was building the solution with. Updating my build version of .NET locally fixed everything**

[2019-06-25 17:18] anurse commented on #11515
One option to help prevent this in the future is to pin your Dockerfile images to a specific preview. There are a number of granularity levels you can use in the image reference (see https://hub.docker.com/_/microsoft-dotnet-core-aspnet/ for a full list). For example you could use `mcr.microsoft.com/dotnet/core/aspnet:3.0.0-preview6-buster-slim` instead of `mcr.microsoft.com/dotnet/core/aspnet:3.0

[2019-06-25 17:18] #11515 closed

[2019-06-25 17:18] mkArtakMSFT commented on #8418
The flag is now included in this PR: https://github.com/RicoSuter/NSwag/pull/2226

[2019-06-25 17:18] #8418 closed

[2019-06-25 17:20] huanbd commented on #11410
Hi @javiercn , I've used `app.UseStaticFiles()` before that, this is my `Configure `method in `Startup.cs`

[code]
May I miss something about api change?

[2019-06-25 17:24] javiercn commented on #11410
[code]

[2019-06-25 17:25] pranavkm commented on #11497
Using a `Dictonary<string, object>` is going to bind to a loosely typed `JsonElement`. You could parse the fields from it if you'd like. Using a strongly typed model would definitely be a better alternative to avoid parsing tokens. If you must use a `Dictionary`, here's what you'd do to read these values:

[code]

[2019-06-25 17:26] danroth27 commented on #7390
@SeppPenner It sounds like you're still hitting issues in VS. Please try out the latest VS preview (https://visualstudio.com/preview) and if the problem can still be reproduced please open a new GitHub issue with a detailed description of the problem you are hitting and we'll take a look.

[2019-06-25 17:29] karthickthangasamy commented on #11497
@pranavkm : Is it workable, while we specifying `locale` in interop and send the date values with component.?

[2019-06-25 17:37] ryanbrandenburg commented on #6659
You can find background [here](https://github.com/dotnet/corefx/issues/25128) but the long and short of it is that there's no localization of error messages out of attributes likes `[Required]` by default. If this is something you would like you can voice your opinions on the above issue. In the meantime you can localize these elements yourself (as long as you can produce the translations) by foll

[2019-06-25 17:37] #6659 closed

[2019-06-25 17:41] pranavkm commented on #11497
Sorry, I missed the bit where you asked about the timezone being wonky. Like @monterolebronhg noted, the values are in UTC. You could read it as a `DateTimeOffset` and call `ToLocalTime` on it. Does that help?

[2019-06-25 17:48] rynowak commented on #9860
@ajaybhargavb - one of the first considerations here is to make sure the the WTE editor is updated to align with this behavior. So, we need to do gap analysis - are there places where WTE would complete or colorize things differently from what we expect.

[2019-06-25 17:48] huanbd commented on #11410
I did that but still error, and note that Client side Blazor is a project, that's outside of project MVC, and static files are in project client side Blazor
and in version SDK preview 5 It run without error

![Capture](https://user-images.githubusercontent.com/5028941/60120637-82bae900-97ab-11e9-9ac8-f5f391b4f37e.PNG)

[2019-06-25 17:52] Tratcher commented on #11555
Duplicate of https://github.com/aspnet/AspNetCore/issues/11233. The endpoint isn't getting cleared so the request doesn't re-route.
@pranavkm

[2019-06-25 17:53] #4833 closed

[2019-06-25 17:54] pranavkm opened #11556 "Verify returning IAsyncEnumerable works with MVC"
Try out some flavors of EF data types and make sure they work within reason

[2019-06-25 17:55] isaac2004 commented on #8531
@DamianEdwards @mkArtakMSFT any insight here would be helpful

[2019-06-25 17:57] javiercn opened #11557 "[Validation][ApiAuth] Validate angular and react templates after moving them to use code"
Validate that you can log-in and fetch data on both templates.

[2019-06-25 17:58] pranavkm opened #11558 "Add Streaming API support to MVC"
See previous discussions here - https://github.com/aspnet/AspNetCore/issues/4833

This depends on:
- [ ] Add support for asynchronously (de)serializing IAsyncEnumerable<T> https://github.com/dotnet/runtime/issues/1570

[2019-06-25 17:58] javiercn commented on #11432
https://github.com/aspnet/AspNetCore/issues/11557

[2019-06-25 17:58] pranavkm commented on #4833
For 3.0, we're doing a fairly scoped change viz to add support for `IAsyncEnumerable<T>` in MVC. Using https://github.com/aspnet/AspNetCore/issues/11558 to track further work based on the initial issue and ideas suggested in this issue.

[2019-06-25 18:00] javiercn commented on #11410
@huanbd Your issue is unrelated to this issue. I believe it might have been related to an issue we fixed a couple of days ago. I would suggest you try out with the next preview release or file a separate issue and include a repro project.

[2019-06-25 18:00] pranavkm commented on #11555
Yup. Thanks for the detailed report @raphaelr. I'll make sure to verify this is addressed as part of #11233

[2019-06-25 18:00] #11555 closed

[2019-06-25 18:01] pranavkm commented on #11233
Verify https://github.com/aspnet/AspNetCore/issues/11555 is also fixed

[2019-06-25 18:01] ryanbrandenburg commented on #11354
There's only one CORS test which references this issue, and the [problem it's blocked on](https://github.com/aspnet/AspNetCore-Internal/issues/1619) was [closed without resolution](https://github.com/aspnet/AspNetCore-Internal/issues/1619#issuecomment-464086351) in February. Given that it's unclear what exactly the work-item is here. @jkotalik and/or @mkArtakMSFT could you clarify what exactly thi

[2019-06-25 18:01] mkArtakMSFT commented on #11529
Agree, our abilities are completely limited here.

[2019-06-25 18:03] javiercn commented on #11410
@akorchev I'm not able to repro the issue with your project and the latest sdk. Could you provide what sdk you are using? We have automation covering the scenario you describe, so I'm inclined to think that the razor sdk in use might be old.

Could you please try with the latest sdk from https://github.com/dotnet/core-sdk and see if you still have this issue?

Closing for now as no-repro

[2019-06-25 18:03] #11410 closed

[2019-06-25 18:04] Stamo-Gochev commented on #11338
@SteveSandersonMS I agree, it is seems reasonable for a child component and its ref to be populated after `OnAfterRender`. I meant that I still cannot figure out why making a JS interop call in:
[code]
makes the `ChildComponentRef ` available right away - I am not moving the `ChildComponentRef.Show();` to the `OnAfterRender` method. My assumption was that this has something to do with the lifecycl

[2019-06-25 18:08] karthickthangasamy commented on #11497
Hi @pranavkm , I will investigate across multiple culture and update the details at the earliest.

[2019-06-25 18:12] jkotalik commented on #11354
Updated the description. Go ahead and assign me, I made a fix and there were issues with it.

[2019-06-25 18:26] muratg opened #11559 "Useless error output when hitting HTTP endpoint over HTTPS"
Just hit https://github.com/aspnet/KestrelHttpServer/issues/1321 myself and it took a few minutes to detect what's going on. Error message is not helpful.

We closed the original with "by design", but perhaps it's possible to detect this case and provide a more helpful message.

## Repro
1. Create an app or an api
2. Remove HTTPS redirection in `Startup.cs`
3. Hit the HTTP endpoint with HTTPS (i.e

[2019-06-25 18:27] javiercn opened #11560 "Network errors when refreshing an app repeatedly"
I created a blazorserverside app using the latest sdk from core-sdk

dotnet new blazorserverside
dotnet run
Open chrome
Press F5 repeatedly at some point a request will fail and the UI will change.

![A8mjiYKM8d](https://user-images.githubusercontent.com/6995051/60123323-0b9a3c00-973c-11e9-9ea1-edd3f90b73da.gif)

[2019-06-25 18:29] anurse commented on #11560
Can you confirm the runtime version you were on? (ye olde `dotnet --info` output)

[2019-06-25 18:32] mikaelm12 commented on #11220
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [ ] This is a Docs issue.
* [ ] The fix contains product changes (**check all items below**).
	* [x] Relevant XML documentation comments for new public APIs are present.
	* [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
    	* [ ] The change requires a ne

[2019-06-25 18:33] javiercn commented on #11174
Fixed in https://github.com/aspnet/AspNetCore-Tooling/commit/98b168c8947d8c7f7b3f2beb3a0561fb89cadfb5

This will be in preview7

[2019-06-25 18:44] selimhur opened #11561 "Blazor - Uncaught TypeError: Cannot read property 'open' of undefined"
I want to change bootstrap theme with material css, when i include js files
i am getting errors

![image](https://user-images.githubusercontent.com/40705565/60124191-c30d6d80-9791-11e9-86b3-70025a071098.png)

if i remove
<script src="_framework/blazor.server.js"></script>

it is working,
what is the reason for the error

![image](https://user-images.githubusercontent.com/40705565/60124465-56df3980

[2019-06-25 18:46] anurse commented on #11279
Updating the title to reflect the issue. We'll be reverting to semver v1 for preview7

[2019-06-25 18:50] javiercn commented on #11560
This seems to be on the latest sdk

sdk\3.0.100-preview7-012605\                                                                                                                  Host (useful for support):                                                                                  Version: 3.0.0-preview7-27825-01                                                                          Commit:

[2019-06-25 18:56] Tratcher commented on #11560
F5 aborts requests that are in progress so some networking errors are expected. What makes you think there is a bug here?

Do you have server logs to go with this?

[2019-06-25 18:58] mikaelm12 commented on #11239
Verified in Java.

[2019-06-25 18:59] anurse commented on #11560
Should there be an `ERR_SPDY_PROTOCOL_ERROR` when F5 aborts a request though?

[2019-06-25 19:00] akorchev commented on #11410
@javiercn I think I am using the latest SDK:
[code]

[2019-06-25 19:00] anurse commented on #11560
Server error:

[code]

[2019-06-25 19:03] anurse commented on #11560
I don't think it's the abort. Once I get a repro, I can press F5 once and it repros (with no second F5 to interrupt/abort requests)

[2019-06-25 19:05] anurse commented on #11560
Seems to be HTTPS only. I blame @davidfowl ;).

[2019-06-25 19:09] tillig commented on #6677
Circling back on this, a concrete example of something that works:

[code]

In this case, if the management port is set up and it's not a health request, everything else will be 400. However, on the main port for the app, the rest of the app will kick in correctly.

This would also allow you to add other checks, like a separate readiness check or something, on the same port as long as the middlewa

[2019-06-25 19:28] danroth27 opened #11562 "Update Blazor + Electron sample to latest bits"
It's been a while since we've updated the Blazor + Electron sample: https://github.com/aspnet/AspLabs/tree/master/src/ComponentsElectron

[2019-06-25 19:31] Eilon commented on #11559
Your name sounds... familiar 😄

[2019-06-25 20:05] mkArtakMSFT commented on #10244
This is going to be obsolete when we do https://github.com/aspnet/AspNetCore/issues/8825

[2019-06-25 20:05] #10244 closed

[2019-06-25 20:06] lukepuplett opened #11563 "Feedback on auth and identity"
### Is your feature request related to a problem? Please describe.
This is **just feedback**.

I have been having non-stop problems working with authentication, authorization and identity. Some of my woes are written about here.

https://forums.asp.net/p/2156939/6267787.aspx?p=True&t=636970619240804647

### Describe the solution you'd like
I think the design for auth/id is too abstract. I am not a

[2019-06-25 20:06] NTaylorMullen commented on #6679
Hmm, not sure. @ToddGrun ?

[2019-06-25 20:13] ryanbrandenburg opened #11564 "Validate templating changes"
- [x] Run Keros for web and check for problems.
- [x] Check that all the cookie-consent UI's are gone.
- [x] Loggers should be Logger<T>

[2019-06-25 20:20] mkArtakMSFT commented on #9226
Thanks @pranavkm !

[2019-06-25 20:20] #9226 closed

[2019-06-25 20:20] ryanbrandenburg commented on #11432
https://github.com/aspnet/AspNetCore/issues/11564

[2019-06-25 20:23] stsrki commented on #8825
There was a lot more breaking changes already that I think this one will be a peace of cake. Also I think public properties are best way to go. So yeah, break it! :)

[2019-06-25 20:24] mkArtakMSFT commented on #8766
This should be fixed already as part of https://github.com/aspnet/AspNetCore/issues/11435

[2019-06-25 20:24] #8766 closed

[2019-06-25 20:28] lukepuplett commented on #11563
Here are a few example problems that I think are rooted in design choices.

https://stackoverflow.com/q/56743645/107783
https://stackoverflow.com/a/56551438/107783
https://github.com/aspnet/AspNetCore/issues/11146

I'm not looking for specific answers, there are other forums for that. These problems were tough to troubleshoot because they resulted from choices I didn't expressly make in my code.

[2019-06-25 20:39] SteveSandersonMS commented on #6550
Yep, this is a duplicate of #5616 which we plan to fix in the current milestone.

[2019-06-25 20:39] #6550 closed

[2019-06-25 20:39] isaac2004 commented on #9226
@mkArtakMSFT did you close the wrong issue?

[2019-06-25 20:43] pranavkm commented on #11260
@SetTrend my guess is that you have another action with the exact route but a different HTTP method constraint. It's the most likely explanation for why you're seeing a 405. If you think this isn't the case and have an application that reproduces the issue, feel free to reopen this issue.

[2019-06-25 20:43] #11260 closed

[2019-06-25 20:53] mkArtakMSFT commented on #10469
@dazinator feel free to send us a PR and we'll happily consider it.

[2019-06-25 20:59] huysentruitw opened #11566 "Unable to locate the .NET Core SDK"
Today, when running `.\restore.cmd` or `.\build.cmd`, I ran into this error:

[code]

After some digging, I've found out because of a fresh install of VS2019 which didn't already had _Use previews of the .NET Core SDK_ checked. As you can image, I've lost some time because of that and I wondered if we can document this in f.e. `BuildFromSource.md`, `BuildErrors.md` or even expand the `build.ps1` s

[2019-06-25 21:00] mkArtakMSFT commented on #9961
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-06-25 21:05] mkArtakMSFT commented on #8790
We're closing this as there isn't anything we can do about this with small investment.

[2019-06-25 21:05] #8790 closed

[2019-06-25 21:10] mkArtakMSFT commented on #8469
Closing this as this is not a bug.

[2019-06-25 21:10] #8469 closed

[2019-06-25 21:14] anurse commented on #11551
Can you collect server-side logs using the [guidance in our documentation](https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-2.2)?

Also, are you able to ping the redis node from the Linux machine/container/etc.?

[2019-06-25 21:15] #9184 closed

[2019-06-25 21:17] hellfirehd commented on #8686
I don't know how to get a Stack Trace from inside Visual Studio 2019 Community but it only happens during build, but on several different projects.

https://gist.github.com/hellfirehd/9720846be7aa1880f794861921f3c03a

I'm willing to share the Source Code/Project Files for Project1.txt

[2019-06-25 21:17] blowdart commented on #11559
@Eilon I mean either we trust the person who closed the issue, and leave it closed, or dismiss it, because some new guy thinks he was wrong ...

[2019-06-25 21:24] Andrzej-W commented on #11435
@xinyanmsft I was thinking about `.editorconfig` file in the main solution folder. This file should be created only when you create a new solution. Then every time you create or edit any file in any subdirectory in any editor/IDE with support for `.editorconfig` you can be sure that you have consistency in encoding, tab stops, etc.

[2019-06-25 21:27] anurse opened #11567 "Allow multiple calls to HubConnectionBuilder.Build"
Right now we, somewhat arbitrarily, stop you from calling `HubConnectionBuilder.Build` more than once. We should consider allowing multiple calls. It makes it easier to "recreate" connections from scratch.

We should do a little historical investigation as to why we didn't do this in the first place.

[2019-06-25 21:37] dazinator commented on #10389
This is something that other client side frameworks such as @SteveSandersonMS's knockoutjs made very easy, and as much as am liking blazor, and am aware it's still premature, I am surprised Blazor has made it this far without any such mechanism yet provided. Is anyone able to share an example of doing a simple fadeout / fadein transition of one fragement that is being removed from the dom, and a n

[2019-06-25 21:41] mkArtakMSFT commented on #9226
Not really, @isaac2004.
@pranavkm has already fixed this as part of https://github.com/aspnet/AspNetCore/pull/11351

[2019-06-25 21:42] anurse opened #11568 "Rename '@aspnet/signalr' and '@aspnet/signalr-protocol-msgpack' to '@microsoft/...'"
We have [the name reserved on NPM](https://www.npmjs.com/package/@microsoft/signalr) and want to do this rename to help clarify that the SignalR client can be used in scenarios with the Azure SignalR Service where there is no ASP.NET :). We need to rename our `package.json` files and update dependencies to do this.

@pranavkm @rynowak This shouldn't affect Blazor as you embed the client, right? We

[2019-06-25 21:44] anurse commented on #11568
Part of labelling this `accepted` includes getting docs all updated, so we'll make sure to do that and get appropriate PRs out ASAP (cc @guardrex @Rick-Anderson).

[2019-06-25 21:44] mockjv commented on #11381
Ok, so I apologize now but this might be a little long to give the detail I assume you'd like to see.

We have developed some small scale, usually single instance, ASP.NET Core applications where we need to keep the installation process as simple as possible (i.e., all necessary dependencies are installed, and IIS is properly configured).  For several reasons, primarily security related, we've gon

[2019-06-25 21:46] anurse commented on #11568
fyi @anthonychu @scottaddie

[2019-06-25 21:46] anurse commented on #11568
At RTM we'll also publish a version to `@aspnet/signalr:latest` that is marked deprecated and indicates that you should swap to `@microsoft/signalr`

[2019-06-25 21:52] spboyer opened #11570 "ASP.NET Core 2.1 Razor - Ubuntu : error : rzc generate exited with code 1."
Error message:
[code]

Application builds on macOS and Windows with no errors, fails on Ubuntu 16.04

### Cause
Two folders named the same with different casing.

* .../Themes/DasBlog
* .../Themes/dasblog

### Resolution

Rename the folder to match.

### Notes

When Windows and MacOs pulls the two folders, they are combined and seen as a single folder. Only in Github and on Linux are they separate

[2019-06-25 21:52] anurse commented on #11560
Wireshark PCAP and Chrome Network Trace: https://microsoft-my.sharepoint.com/:f:/g/personal/anurse_microsoft_com1/EhcT4nYxsfFDqriQY3xDiiUBUws9dh385-BZw_-D41M4Yg?e=qYUlHw (MSFT-internal link)

[2019-06-25 21:54] anurse commented on #11566
Sounds good. Would you like to submit a PR?

[2019-06-25 21:57] huysentruitw commented on #11566
I want to, Yes. Any suggestion for which solution you want to go?

[2019-06-25 22:02] anurse commented on #11566
I don't see why we couldn't just take the same blurb and put it in both `BuildFromSource.md` and `BuildErrors.md`. The first one is linked from the README, and the second is where you might go upon getting the error.

Expanding the `build.ps1` is a larger work item. Maybe if we knew what underlying data that checkbox was using (registry value or something) we could emit a clearer warning, but that

[2019-06-25 22:07] #11173 closed

[2019-06-25 22:09] ryanbrandenburg commented on #11564
Somehow ReactRedux ended up not getting the contrast fixes that the other sites got, I've got a PR out to fix it now: https://github.com/aspnet/AspNetCore/pull/11571. Otherwise we're good here.

[2019-06-25 22:10] anurse commented on #11479
Ok, since this is breaking, we'll do this in preview 8. We'll have to announce it as appropriate.

Let's hang these extension methods off `IServiceCollection`.

[2019-06-25 22:11] xinyanmsft commented on #11435
I'd be Okay with .editorconfig file in the main solution folder.

[2019-06-25 22:13] #5071 closed

[2019-06-25 22:16] anurse commented on #10826
@joeloff any further thoughts here? We're a little stumped on this one.

[2019-06-25 22:18] pranavkm commented on #11568
+ @SteveSandersonMS

Yup, that sounds right.

[2019-06-25 22:19] anurse commented on #11559
Clarifying the error message seems fine here. We just detect if the first few bytes are a TLS header and report a useful error. It's totally fine to "special-case" TLS here a bit. We know what it is and don't need an actual dependency.

[2019-06-25 22:20] anurse commented on #11559
Oh WE closed it did we? 😛

![image](https://user-images.githubusercontent.com/7574/60137722-b3bffd00-975c-11e9-904b-e058085e238e.png)

[2019-06-25 22:21] danroth27 commented on #9939
@rynowak was this one of the issues your TypeConverter work fixed?

[2019-06-25 22:25] anurse commented on #11560
Let's try bisecting out the HTTPS changes and the Bedrock changes and see if this repros there. @halter73 can you do that and see if we can either fix it or revert the right thing and try again in preview 8.

cc @davidfowl

[2019-06-25 22:28] rynowak commented on #9939
That is unrelated. `InputSelect` supports a fixed set of types https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/Forms/InputComponents/InputSelect.cs#L33

[2019-06-25 22:29] pranavkm commented on #11432
https://github.com/aspnet/AspNetCore/issues/11556, https://github.com/aspnet/AspNetCore/issues/11389, https://github.com/aspnet/AspNetCore/issues/11396, https://github.com/aspnet/AspNetCore/issues/11513
https://github.com/aspnet/AspNetCore/issues/11556

[2019-06-25 22:30] pranavkm commented on #8686
That would be great!

[2019-06-25 22:34] #9600 closed

[2019-06-25 22:43] halter73 commented on #11560
What tool do you use to create the gif @javiercn? Is there something built in to Windows yet?

[2019-06-25 22:51] #11435 closed

[2019-06-25 22:53] jfcaldeira opened #11573 "Check if user is authenticated on login page by authenticatio scheme"
I'm using 2 authentication schemes

[code]

So to be able to access claims i have to decorate my pages with

`  [Authorize(AuthenticationSchemes = "ProductionAuth")`

Now there is a problem,

on login page I cannot do this because users need to authenticate first, but I also need to redirect them if they are already logged in and i cannot do this because i don't have the scheme

[code]

it returns

[2019-06-25 22:53] hellfirehd commented on #8686
@pranavkm How do I get it to you? It's a 2.2MB .zip

[2019-06-25 23:11] rynowak commented on #11342
I'm still blocked on this. Setting the environment variable is not enough to make this work.

[code]

[2019-06-25 23:15] pranavkm commented on #8686
Could you publish it as a GitHub repo? I think GitHub might also allow you to attach zip files to comments.

[2019-06-25 23:17] danroth27 commented on #11570
The main issue here is that we don't print the actual error message.

We also want to investigate why the folder casing here matters.

[2019-06-25 23:29] blowdart commented on #11573
Is the login page for ProductionAuth or AdministrationAuth? Or do you want to do this on both login pages?

[2019-06-25 23:33] jfcaldeira commented on #11573
On both but i cannot access claims on any of them because i'm not using authorize attribute, nor i can or they can't log in at all

[2019-06-25 23:45] anurse commented on #11262
@jmk92 to help us diagnose this issue, would you be able to capture a specific form data value that causes this error?

Base64 encoding does ring an alarm bell for me. In general, Base64 values are not URL-safe (they contain `+` and `=` characters). I realize this isn't a URL value, but a lot of the parsing is similar.

[2019-06-26 00:05] blowdart commented on #11573
You can't do it on both. You might be able to do it on one by making one scheme the default, because that will run on every request regardless.

[2019-06-26 00:06] mkArtakMSFT commented on #11342
@JunTaoLuo, @dougbu this is still blocking the team. I'm marking this as P0 so it gets enough attention.

[2019-06-26 00:07] mkArtakMSFT commented on #11432
@ryanbrandenburg , @pranavkm , @javiercn , @dougbu , @rynowak , @SteveSandersonMS if you're done filing the issues, please unassign yourself from this issue.

[2019-06-26 00:09] Tratcher commented on #11573
If you have seperate pages then you can call AuthenticateAsync with the expected scheme for that page.

[2019-06-26 00:10] jfcaldeira commented on #11573
Can you show me an example ? I don't recognize this function

[2019-06-26 00:15] Tratcher commented on #11573
`var result = await HttpContext.AuthenticateAsync("AdministrationAuth");`

I suppose even if you only had one page, you could call AuthenticateAsync for each scheme in turn.

[2019-06-26 00:18] jfcaldeira commented on #11573
Yes! I can see my claims through this. Thanks a lot, this is exactly what i needed!

[2019-06-26 00:19] halter73 commented on #11560
I ran this with Kestrel in debug and saw the following assertion failure?/NullReferenceException:

[code]

We also saw AuthenticationExceptions:

[code]

[2019-06-26 00:30] halter73 commented on #11560
This was the assert printing the nullrefex: https://github.com/aspnet/AspNetCore/blob/921dd947b9c54571cc9571ca490ae06bcb526b92/src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs

[2019-06-26 00:54] dsplaisted opened #11577 "ASP.NET Runtime pack manifest should have relative path in package to files"
In the RuntimeList.xml of the ASP.NET runtime packs, the `Path` attribute currently only includes the file name:

[code]

For the SDK to resolve these files, the `Path` needs to be the full path relative to the root of the package, for example:

[code]

Note that the relative path will be different for native assets too.

We didn't catch this because the SDK was looking for the wrong filename for

[2019-06-26 00:56] #11573 closed

[2019-06-26 00:59] JunTaoLuo commented on #11577
Oh boy. Yea we'll need to fix this right away. I should be able to look at it tomorrow. If not, I'll voluntell someone.

[2019-06-26 01:51] igorfmachado commented on #7363
Hi guys, I'm having the same issue :(

-I'm running the latest dotnet core preview (6)
-I'm running the latest vstudio preview

However, when I try to do dotnet run the following is displayed:

[code]

![blazor error](https://user-images.githubusercontent.com/40528828/60145193-311b5a00-97bd-11e9-956a-93300babda1d.png)

[2019-06-26 01:53] AlseinX commented on #11174
@javiercn
And another problem is, making a blazor component library that supports client-side hosting still needs specifying the `wwwroot` folder instead of `content` (which is in the `dotnet new blazorlib` template) manually while the server-side support takes ``wwwroot` as default name convention.

    <EmbeddedResource Include="wwwroot\**\*.js" LogicalName="blazor:js:%(RecursiveDir)%(Filename)%

[2019-06-26 01:54] halter73 commented on #11560
So @jkotalik and I think we might have figured out at least part of what's going on here. With "real" pipes, it's OK to call PipeWriter.Complete() immediately after PipeWriter.FlushAsync() returns a ValueTask, even if the ValueTask returned by FlushAsync() hasn't completed by that point. This comes into play when an HTTP/2 connection is "aborted" which happens after a timeout or any time the clien

[2019-06-26 01:55] halter73 commented on #11560
The short-term fix is probably to bring back the AdaptedPipeline or something similar.

[2019-06-26 01:59] JunTaoLuo commented on #11577
since @jkotalik volunteered.

[2019-06-26 02:00] halter73 commented on #11560
This also doesn't explain why clients would send a GOAWAY frame indicating an HTTP/2 protocol violation. I haven't seen that in my testing. That would mean that there had to be an issue prior to the client sending a FIN which I haven't seen yet. Maybe fixing the other issues will either fix or unmask it.

[2019-06-26 02:02] DimaSUN commented on #9705
ASP.NET Core 2.2 or later: For a 64-bit (x64) self-contained deployment that uses the in-process hosting model, disable the app pool for 32-bit (x86) processes.

In the Actions sidebar of IIS Manager > Application Pools, select Set Application Pool Defaults or Advanced Settings. Locate Enable 32-Bit Applications and set the value to False.

https://docs.microsoft.com/en-us/aspnet/core/host-and-dep

[2019-06-26 02:04] DimaSUN commented on #8980
Work for me

ASP.NET Core 2.2 or later: For a 64-bit (x64) self-contained deployment that uses the in-process hosting model, disable the app pool for 32-bit (x86) processes.

In the Actions sidebar of IIS Manager > Application Pools, select Set Application Pool Defaults or Advanced Settings. Locate Enable 32-Bit Applications and set the value to False.

https://docs.microsoft.com/en-us/aspnet/core

[2019-06-26 02:31] dougbu commented on #11342
@mkArtakMSFT the logic to detect whether Java is installed (locally or otherwise) is in Bash and PowerShell scripts at the moment, not MSBuild files. That makes detection when running tests in VS a more time-consuming change and I hesitate to prioritize the change this week. Is there a lesser / quicker suggestion that's enough for now?

Separately, it's not clear how @rynowak's stack trace relates

[2019-06-26 03:00] halter73 commented on #11560
My current thinking with the GOAWAY errors and the DiagnosticMemoryPool ODEs, though I haven't proven it yet, is that blocks are being returned twice. First by StreamPipeWriter.Complete(), and second by the continuation StreamPipeWriter.FlushAsync(). This then allows the same block to subsequently be leased out twice concurrently to two different pipes leading to corruption.

[2019-06-26 03:01] mkArtakMSFT commented on #11342
Adding @pranavkm in case he has some ideas regarding this.

[2019-06-26 03:06] roboriaan opened #11579 "Using Microsoft.AspNetCore.Mvc.NewtonsoftJson in Blazor preview 6"
I'm trying to figure out how to get NewtonsoftJson to work in Blazor preview 6

After adding the reference and running a dotnet restore I'm getting the following error :

**error NU1202: Package Microsoft.AspNetCore.Mvc.NewtonsoftJson 3.0.0-preview6.19307.2 is not compatible with netstandard2.0 (.NETStandard,Version=v2.0). Package Microsoft.AspNetCore.Mvc.NewtonsoftJson 3.0.0-preview6.19307.2 supp

[2019-06-26 03:18] rynowak commented on #11579
If this is for a client-side blazor project then the package you want is `Newtonsoft.Json`

[2019-06-26 03:28] davidfowl commented on #11560
Can’t we just not complete the connection level pipe like what the http1connection does? That seems like a sane mitigation. This issue of completing the pipe actually came up when we were discussing the dispose/complete behavior of the StreamPipeWriter but we left it as is unstop further notice.

[2019-06-26 04:01] danroth27 commented on #7363
@igorfmachado It looks like the NuGet restore failed for some reason. Please try opening a command-prompt in the solution directory and run `dotnet restore`.

[2019-06-26 04:06] halter73 commented on #11560
That would almost work except for that StreamPipeWriter doesn't return unsent blocks to the pool when Stream.Write/FlushAsync throws even in the case where it's expected. Normally those unreturned blocks are picked up by Kestrel later calling StreamPipeWriter.Complete().

Your comment has me wondering whether Http1Connection now properly returns blocks for canceled HTTPS writes. I suspect not. I d

[2019-06-26 04:22] julienGrd commented on #11493
You have to explicitely declare the context into a variable, like this (you can name context with a better name if you want)
[code]

good luck !

[2019-06-26 04:44] davidfowl commented on #11560
Complete is called at the right time in the pipeline, it just shouldn't be called by Kestrel. Instead it should just await the flush and yield.

Why wouldn't it? I'm not following can you clarify.

Exposing it is how we find real issues (that's what the previews and our tests are for). If blocks can be returned twice then the issue should just but fixed, no need to overreact and not use the type b

[2019-06-26 05:11] halter73 commented on #11560
Not exactly. ConnectionContext.DisposeAsync() is called at the right time, and that induces both of our transports to complete the application pipes, but those are the raw pipes that feed into SslStream, not StreamPipeWriter.

I agree we should expose it, but we should fix this issue first. Hopefully we can get it fixed for preview7. StreamPipeWriter is the thing we're exposing to the user, and it

[2019-06-26 05:19] davidfowl commented on #11560
How would this issue happen if callers are properly awaiting flushes before calling complete?

Don't forget it's already exposed on *both* the HttpContext *and* in the lesser used Kestrel middleware pipeline. We need to fix the issue, not panic. Reverting the change in the HttpContext layer would be expensive and the wrong fix at this point.

PS: Nobody wants use after free bugs, especially in man

[2019-06-26 05:42] halter73 commented on #11560
I'm still describing the hypothetical world you suggested where we change Http2Connection not to call complete like Http1Connection.

The problem is that Http1Connection just leaves it to ConnectionDispatcher.Execute() to call ConnectionContext.DisposeAsync() and hopes that cleans everything up. In the case where you don't adapt the ConnectionContext with StreamPipeWriter, it does clean up all the

[2019-06-26 05:52] davidfowl commented on #11560
Except that;'s not how it works, when middleware adapts the transport it is responsbile for completing the pipes it creates. This is how the HttpsConnectionMiddleware works. The chain looks like this:

dispatcher -> httpsmiddleware -> httpmiddleware

httpmiddleware yields from it's delegate then the httpsmiddleware which cleans up the SslStream and disposes the SslDuplexPipe (which completes the S

[2019-06-26 06:16] halter73 commented on #11560
Thanks for the detailed call-chain. That actually helps a lot. My brain is still a bit stuck in the old ConnectionAdapter ways of last week 😆, but this definitely the way things *should* be now that middleware directly adapts pipes instead of streams.

I now completely agree that we don't need to be calling PipeWriter.Complete() in Http2FrameWriter anymore. And I think Http1Connection is fine too.

[2019-06-26 06:33] TempleClause commented on #11498
[code]

[2019-06-26 06:35] rcimpean commented on #11547
Thanks for your time, i reinstall the Blazor extension and the visual studio and i have the same problem

[2019-06-26 06:44] TempleClause commented on #11498
I just tried it with your Startup file but the issue still exists. When going directly to localhost:3000 the page automatically refreshes as expected as soon as I change a file but on the actual page in my case localhost:44359 it doesn't and needs to be manually refreshed.

[2019-06-26 06:57] GerFVersteegGitHub commented on #8980
Hi DimaSun,
The ANCM error is not on my local web, but in Azure. How can I change the IIS settings for web aps in Azure? I work with Visual Studio 2019.

[2019-06-26 07:15] ZeanQin opened #11584 "ASP.NET Core model binder deserilises UTC time string to local time rather than UTC time"
### Describe the bug
When a user passes a UTC time string as query parameter of a GET request, the model binder converts it to a "Local" kind DateTime object rather than a UTC DateTime object. And the user has to call DateTime.ToUniversalTime() to convert it to utc time, or write custom model binder to change the behaviour globally.

### To Reproduce
Steps to reproduce the behavior:
1. Send a GET

[2019-06-26 07:25] jmk92 commented on #11262
[Reply.txt](https://github.com/aspnet/AspNetCore/files/3328777/Reply.txt)

The text is too long. I go to txt.

[2019-06-26 07:49] SeppPenner commented on #7390
@danroth27 It's alright. What I was trying to say is: Running without the debugger works properly (As I told in https://github.com/aspnet/AspNetCore/issues/11489#issuecomment-505330487). Like you pointed out in the comment I quoted above: The support for complete live reload (https://github.com/aspnet/AspNetCore/issues/5456) is not yet done.

I don't have other issues, I'm just waiting for https:/

[2019-06-26 07:51] halter73 commented on #11560
I'm not sure the double-return is a real issue anymore either. Since BufferSegment.ResetMemory() clears its _memoryOwner field, a second call to ResetMemory() should only be a problem if the BufferSegment itself was leased again and its _memoryOwner field was set to a non-null value before the extraneous call to ResetMemory(). But if the StreamPipeWriter is already completed, there shouldn't be an

[2019-06-26 08:24] javiercn commented on #11174
dotnet blazorlib is going away in favor of simply using razor class library.

Regarding the embedded files I would have to take a look. It might have been something blazon specific that we didn’t remove.

Closing as we’ve taken action.

[2019-06-26 08:24] #11174 closed

[2019-06-26 08:33] AlseinX commented on #11174
@javiercn
I am still confused that the `razorclasslib` template creates a library with .cshtml files while blazor uses .razor files. Does cshtml work also with blazor?

[2019-06-26 08:48] aliostad opened #11585 "Allow the option to delay sending headers until at least resource filters are fired"
## Context
Currently, ASP.NET Core sends headers as soon as possible and allows for various hooks (OnStarting, etc) to register actions to be taken before sending headers. This is for improving performance and understandably solves most use cases while maintaining a high performance.

There are cases, however, when these options do not work and response buffering needs to be implemented. However,

[2019-06-26 08:58] smartcodinghub commented on #5239
I'm having this issue con 2.2.300 too. I use the Readt template.

When I stop Visual Studio Debugging, the console keeps open with the title "npm" until I close it manually.

[2019-06-26 09:39] igorfmachado commented on #7363
Hi Dan,

Thanks for trying but it stills the same :/

[2019-06-26 09:39] #11579 closed

[2019-06-26 09:41] javiercn commented on #11174
There is a flag for it. We simply default now to support pages and views, but the default will change.

[2019-06-26 09:43] SteveSandersonMS commented on #11342
The way I got the E2E tests running in VS was to modify `Shared/E2ETesting/E2ETesting.props`, changing the `SeleniumE2ETestsSupported` condition to:

[code]

(i.e., removing the ` and '$(BuildJava)' == 'true'` clause)

Obviously I'm not suggesting this is a good solution, just a temporary way to be unblocked.

[2019-06-26 09:51] SteveSandersonMS commented on #11561
I'm afraid the information above isn't enough to have any idea what's going on among all those different JS files.

If you're able to provide minimal repro steps we could have a look.

[2019-06-26 09:54] SteveSandersonMS commented on #11338
Your JS interop call is async, so you're interrupting the method's execution while the JS interop call occurs. Blazor is performing a render in the meantime, which populates your `ChildComponentRef`. So by the time execution continues after your `await`, the reference is populated.

[2019-06-26 10:20] Rymix commented on #11493
Hi, thank you for your kind help ! 💯

I found the issue, i had to add in the file _Imports.razor :

[code]

The funny thing is that the error about the context doens't really makes lot of senses. A compilation error about component not found of something would be more clear in my opinion !

@julienGrd I don't need to add it, it works !

[2019-06-26 10:20] #11493 closed

[2019-06-26 10:44] karthickthangasamy commented on #11497
Hi @pranavkm ,

The below conversion of `DateTime` throws the below error in interop side.

[code]
**Error stack trace**
[code]

[2019-06-26 10:45] CarlosTorrecillas commented on #10400
@anurse , do you have an aprox ETA for this? Just to know when v3.1 will be available. It's a blocker for us and would like to plan a new version with the fix included

[2019-06-26 10:57] dazinator commented on #10389
I settled on the following solution to applying a transition to an element before removal, it's not the greatest because I am using `Task.Delay` with a specified time in milliseconds which needs to match up o the duration of the transition specified in the css:

`Transition.razor` component;
[code]

and it's used like so from a parent page or component:

[code]
and css:

[code]

[2019-06-26 10:58] SteveSandersonMS opened #11586 "Verify fast typing and bind parsing scenarios"
To verify #11438, deploy a server-side Blazor app to an Azure location on the other side of the world, so you have maximum round-trip time.

1. Have a textbox with `bind-value:event="oninput"`, also wired up to display the typed value somewhere else in the UI, so it updates on every keystroke. Verify you can type much faster than the ping time to the server (e.g., 10 chars/sec, if the server is 30

[2019-06-26 10:59] SteveSandersonMS commented on #11432
https://github.com/aspnet/AspNetCore/issues/11586

[2019-06-26 11:22] Andrzej-W commented on #11497
Error message tells you everything: Collection was modified; enumeration operation may not execute.
[code]

[2019-06-26 11:24] ApocDev commented on #11446
This is probably the best route to take to enable better routing, especially when assemblies don't have a direct dependency. (See: Assembly.Load())

This would also allow us to more easily split and nest routers via some cascading values.

[2019-06-26 11:45] amirhossein1414 opened #11588 "Entity freamework InvalidOperationException When using Include"
I ran into
 **System.InvalidOperationException: 'Invalid attempt to read when no data is present.'**
when calling Include() method more than once.

[code]

 I don't get this exception when calling each include methods separately.
Currently I'm using microsoft.entityframeworkcore\3.0.0-preview6.19304.10 version.

[2019-06-26 12:02] karthickthangasamy commented on #11497
@Andrzej-W : Yes, converting the date objects with `DateTimeOffset` is not possible with the context of `DateRangePicker` component rendering.

[2019-06-26 12:31] stefan-schweiger opened #11590 "Razor compiler should give an error for improperly nested tags"
### Describe the bug
I'm trying to have some conditional tags so I don't have to repeate my code. But when I'm nesting those tags the actual generated code isn't nested anymore.

I'm not certain if this is an intended behavior. But if it is, is there any other way to achieve this?

### To Reproduce
[code]

This renders

[code]

### Expected behavior
I would expect it to render

[code]

### Additio

[2019-06-26 12:53] gravidThoughts commented on #11499
@jkotalik This indeed was the issue. Perhaps the installer team could warn the user that the local `applicationhost.config` will be changed and these changes need to be placed in the shared config if it is being used..

I didn't get an intelligible answer as far as the `redirect.config`. Do you think this makes a difference?

[2019-06-26 12:53] #11499 closed

[2019-06-26 12:59] hellfirehd commented on #8686
Invite sent.

[2019-06-26 13:31] isaac2004 commented on #8539
@mkArtakMSFT this good to take now after latest PR?

[2019-06-26 13:35] SteveSandersonMS opened #11591 "Redirection during prerendering doesn't work well"
We have some logic that detects a `UriHelper.NavigateTo` call during prerendering, and is meant to turn it into a 302 redirection. However, trying to use this surfaced several problems:

 * It doesn't work if you try to redirect to the homepage (i.e., the base-relative URL is the empty string). I guess it's because the server-side ASP.NET Core APIs don't work in terms of base-relative URLs. Our co

[2019-06-26 13:59] davidfowl commented on #11560
My guess is that there's overlapping operations going on that ends up causing corruption in the StreamPipeWriter (it has no locks). Here's a trace from when things go bad:

[code]

This is the same connection and you can see we end up interleaving GetSpan/Advance and FlushAsync on the same connection.

[2019-06-26 14:10] SteveSandersonMS opened #11592 "Build blazor.*.js in CI; don't commit the artifacts"
At some point in the recent past, we started including `blazor.*.js` in source control. This was intended as a way of avoiding the Node dependency in some CI cases. However, it turns out that:

 * This is very damaging to productivity, as it forces us to shepherd our PRs through CI in series, not in parallel. Every commit that affects the `blazor.*.js` artifacts causes a merge conflict for every o

[2019-06-26 14:12] StiviiK opened #11593 "[Microsoft.AspNetCore.Authentication.JwtBearer; 3.0.0-preview5-19227-01+] MissingFieldException"
### Describe the bug
.NET Core version: 3.0+
Nuget package: Microsoft.AspNetCore.Authentication.JwtBearer
Affected versions:  3.0.0-preview5-19227-01+
Last working version: 3.0.0-preview4-19216-03

Using JWT Bearer authentication, with the affected versions noted above, break the application by throwing an an `MissingFieldException: Field not found: 'Microsoft.Net.Http.Headers.HeaderNames.WWWAuthe

[2019-06-26 14:17] SteveSandersonMS commented on #11590
Blazor components compile to code that builds a tree structure, not an HTML string. All tags must be balanced at compile time. You can't put an `@if` around an opening or closing tag on its own.

TBH I'm surprised this case doesn't give you a compiler error saying the tags are unbalanced. Would you have expected that, @rynowak?

The correct way to do what you're doing is:

[code]

If your concern

[2019-06-26 14:22] SteveSandersonMS commented on #5616
@mkArtakMSFT I moved this to preview 8 because I also have #9716 in preview 8, and it's very likely that these things are part of the same thing. It doesn't really make sense to split them up across milestones.

Please let me know if you disagree with this!

[2019-06-26 14:41] abrantie1z opened #11594 "The type initializer for 'Microsoft.AspNetCore.SignalR.Protocol.JsonHubProtocol' threw an exception."
i created a simple demo app to test signalR with xamarin forms and i get the above error.
![Screenshot (21)](https://user-images.githubusercontent.com/19966094/60189423-6907b900-9820-11e9-9750-d5436ef695ba.png)

[2019-06-26 14:45] stefan-schweiger commented on #11590
@SteveSandersonMS thanks for your answer. This only works with the `@:` syntax, if I just use the tags I'm getting the error you described.

Still it's a bit cumbersome because my real code contains multiple generic RenderFragments which would need to be duplicated in both components so I can cascade my values down.

The next best thing would be to have a [`@helper`](https://docs.microsoft.com/en-

[2019-06-26 14:47] #11437 closed

[2019-06-26 14:49] aybelanov opened #11595 "[Blazor server-side] JSRuntime doesn't work properly"
VS 2019 16.2.0 Preview 3
netcoreapp3.0 preview 6

### Describe the bug
I have  the follow code in a razor page:
[code]

I have the follow javascript code for interop:

[code]
It works properly until the page is full updated with F5 key or with address string. Then I have follow errors

[2019-06-26 15:09] anurse commented on #10400
3.1 is scheduled for release in November, as per the [.NET Core Roadmap](https://github.com/dotnet/core/blob/master/roadmap.md).

[2019-06-26 15:09] anurse commented on #11560
So, what's the plan for preview 7? Is there a tactical quick-fix we can do or is this going to require more in-depth work?

[2019-06-26 15:18] BrennanConroy commented on #11592
SignalR has been doing this since the beginning. If you need any help or guidance you can ask us or take a look at our npm builds. https://github.com/aspnet/AspNetCore/tree/master/src/SignalR/clients/ts

[2019-06-26 15:24] BrennanConroy commented on #11594
We'll need a bit more info here. What version of SignalR are you using? What version of Visual Studio and Xamarin do you have? Is it possible to get more info from the exception or is that it?

[2019-06-26 15:28] smartcodinghub opened #11597 "UseReactDevelopmentServer with UseSpa keeps console open."
### Describe the bug
When I use "UseReactDevelopmentServer", the title of the console changes to "npm" and when I stop debugging with Visual Studio, this console keeps open. This can be pretty annoying when debugging fast.

### To Reproduce
**Version:** 2.2.300, 3.0.0-preview6
1. Create a React app using the template (or use UseReactDevelopmentServer).
2. Start Visual Studio debugging or use dotne

[2019-06-26 15:33] dougbu commented on #11503
e8fba43b1ff

[2019-06-26 15:33] #11503 closed

[2019-06-26 15:37] mkArtakMSFT commented on #8539
I'm not sure I understand you question, @isaac2004.
Are you asking whether you can take this and send a PR for it? If so - that'll be amazing. We'll happily review a PR for this.

[2019-06-26 15:45] jkotalik commented on #11499
The ANCM installer sometimes can't write to an applicationhost.config that is redirected. AFAIK, the redirection.config file is the main way to enable a shared configuration.'

I would need to recheck the logic for how ANCM handles redirected config. Glad you figured out the issue though!

[2019-06-26 15:47] roboriaan commented on #11579
Thanks Ryan. That did it! Yes it's client-side. Thanks for the great job you guys are doing on .net core and blazor.

[2019-06-26 15:52] Tratcher opened #11598 "Implement response BodyWriter, CompleteAsync for TestServer"
gRPC depends on pipes and a few other features only implemented by Kestrel such as StartAsync and CompleteAsync. Missing those features in TestServer makes it hard to test gRPC and related components.

TestServer already uses a pipe internally for its response data, but exposing it turns out to be complicated because we add lots of semantics on top such as the first flush sending headers, content-

[2019-06-26 15:55] jkotalik commented on #11560
Yeah, the quick fix is to bring back the adapted pipeline here: https://github.com/aspnet/AspNetCore/commit/25d568885bd5da723b630f614b0065c3f2d6a28e#diff-1892f694d558e36b8367aad39ce40046L92 to start using pipes again. I need to sync with these two today to check on the status of this as it seems @davidfowl PR didn't work.

[2019-06-26 16:05] davidfowl commented on #11560
I have a branch here already https://github.com/aspnet/AspNetCore/tree/davidfowl/back-to-pipes.

[2019-06-26 16:19] mkArtakMSFT commented on #11595
Thanks for contacting us, @aybelanov.
We'll try to get this as soon as we can.

[2019-06-26 16:19] enricoreich opened #11600 "[Blazor] Unhandled exception. System.ArgumentException: Comments cannot be stored in a JsonDocument"
### Describe the bug
I using the latest SDK (3.0.100-preview7-012627) and created a simple Blazor Server-Side App with
`dotnet new blazorserverside`, build it and run it and then I get this error:

[code]

Program.cs Line 18:
![Screenshot_1](https://user-images.githubusercontent.com/316637/60197566-ea227880-983f-11e9-8896-5daf673dceee.png)

### To Reproduce
Steps to reproduce the behavior:
1. crea

[2019-06-26 16:29] pranavkm commented on #8686
Your netcoreapp3.0 application is referencing 2.2 versions of packages which is unsupported. Have a look at https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio for migrating to 3.0.

[2019-06-26 16:29] #8686 closed

[2019-06-26 16:36] acorrow commented on #11185
Should note too, that while researching today at work, I found a bug with Blazor Publishing using the Preview 6 .NET Core runtime.

Essentially you have to use self-contained mode if you want to push up to Azure. A few bugs aside with that process, I found that pushing out the default template (no changes at all) to an Azure App service in Self-Contained mode, yielded a similar 404. I used Kudu to

[2019-06-26 16:38] pranavkm commented on #11389
Revived https://github.com/aspnet/AspNetCore/issues/11226 based on investigation. Everything else looks good.

[2019-06-26 16:38] #11389 closed

[2019-06-26 16:57] javiercn commented on #11342
Why is BuildJava required in the first place, I might have overlooked the changes when I signed off on them, but if the build doesn't fail without it, there's no reason for it to be there, it only gets in the way.

[2019-06-26 17:07] mkArtakMSFT commented on #9117
Reopening, as this still need to happen.

[2019-06-26 17:08] #9117 closed

[2019-06-26 17:15] dougbu commented on #11342
@javiercn `BuildJava` is an indication that Java is available (build startup fails if user runs `./build.ps1 -buildJava` or `./build.sh --build-java` and Java is _not_ found). The projects don't otherwise have a way to decide whether to attempt the Selenium tests.

Basically, this is all about allowing users to _not_ have Java installed if they're working in another part of the repo.

[2019-06-26 17:18] dougbu commented on #11342
@SteveSandersonMS

Do the tests also work for you if you define `$env:SeleniumE2ETestsSupported = true` and start VS from the command line where you did that? The condition you changed should just provide a default value.

[2019-06-26 17:18] rynowak commented on #11590
I would expect this to be an error. Reopening this to track the error

[2019-06-26 17:19] JunTaoLuo commented on #11342
The original issue shows the error anyone without java runs into:
[code]

This shows up when you run ./build.cmd in the root if you don't have java installed.

[2019-06-26 17:24] javiercn commented on #11342
@JunTaoLuo There is an explicit MSBuild variable to prevent that from happening `$(EnforcePrerequisites)`. Could you setup that to false in build.cmd?

[2019-06-26 17:25] javiercn commented on #11342
https://github.com/aspnet/AspNetCore/blob/master/src/Shared/E2ETesting/E2ETesting.targets#L34

[2019-06-26 17:26] javiercn commented on #11342
https://github.com/aspnet/AspNetCore/blob/master/src/Shared/E2ETesting/E2ETesting.props#L7

[2019-06-26 17:30] javiercn commented on #11342
The outcome that I expect for this is that it EnforcePrerequisites is disabled if you do build.cmd from a developer machine and is enabled in all other cases.
* If you are building the components repo.
* If you are building the templates repo.
* If you are builiding the project templates solution from visual studio.
* If you are building the components solution from visual studio.

[2019-06-26 17:38] jfcaldeira opened #11604 "Exception handling for multiple Areas in RazorPages"
so i noticed i was unable to hit the Error page in the default Pages directory from an area. I

       if (env.IsDevelopment())
            {
                app.UseDeveloperExceptionPage();
            }
            else
            {
                app.UseExceptionHandler("/Error");
                app.UseHsts();
            }

Problem is If i add the area name to the path only one area can acc

[2019-06-26 17:45] MeTitus opened #11605 "Deleting _Imports.razor breaks the routing"
I'm using the lateste version of VS Studio 2019 Preview (16.2.0).

While doing some changes to the original Blazor template, I removed the _Imports.razor file
and updated the missing imports. The routes started failing and at this point I received the default message
for when a route cannot be resolve. I tried to undertand what the issues is, but getting a small solution (screenshot), which
consis

[2019-06-26 17:57] Tornhoof commented on #11598
May I ask why it is hard to test, does gRPC not work with the TestServer?

I'm asking for my HttpBatchHandler middleware, which is very similar to the TestServer from ASP.NET Core 2.x, it still works in 3.0 (atleast the current tests do), but I'm not sure if I want to add the Pipe complexity to my middleware, so it would be nice to know which features might rely on new RequestFeature/ResponseFeatu

[2019-06-26 17:59] ryanbrandenburg commented on #9108
Could I get some context on this? A link to the issue for the work which drove this would be helpful. A link to existing examples or descriptions of best practices would also be good.

[2019-06-26 18:00] NTaylorMullen commented on #11590
The `@:` syntax blindly consumes all markup until end of line. We could disallow `@:` in components because without that functionality it has limited value. Nearly all uses of `@:` today are to get around tag balancing restrictions.

[2019-06-26 18:02] SteveSandersonMS commented on #11590
Disallowing it sounds right.

[2019-06-26 18:03] #11605 closed

[2019-06-26 18:04] MeTitus commented on #11605
My bad, I was missing "@using Microsoft.AspNetCore.Components.Routing" in the App.razor, but I think the compiler should give a warning about it.

[2019-06-26 18:04] javiercn commented on #11342
This change has not only affected the developer experience but also has changed the behavior of some tests. As it has silently disabled running the automation for the E2E tests. As this PR proofs https://github.com/aspnet/AspNetCore/pull/11602

![image](https://user-images.githubusercontent.com/6995051/60203469-8bd6a500-9801-11e9-8d15-7c2ddb4aee5d.png)

Given this is the case, we should remove the

[2019-06-26 18:09] selimhur commented on #11561
AspNetCoreProject And Html Template : https://github.com/selimhur/aspnetblazor

![image](https://user-images.githubusercontent.com/40705565/60203971-8d7e8800-9856-11e9-8463-8ad71c045692.png)

![image](https://user-images.githubusercontent.com/40705565/60203995-9ff8c180-9856-11e9-98c0-e6a8123d9d83.png)

[2019-06-26 18:10] NTaylorMullen commented on #8825
I don't plan to enforce public setters because there's little harm in letting people express their parameter setters as more restrictive. @rynowak / @SteveSandersonMS do you feel differently?

[2019-06-26 18:13] BrennanConroy commented on #11258
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [x] Relevant XML documentation comments for new public APIs are present.
    * [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-06-26 18:14] ryanbrandenburg commented on #8538
Blocked by #8537.

[2019-06-26 18:16] javiercn commented on #9108
Look at the configure method on the startup class for the razor pages templates. Those use endpoint routing. You can probably figure out the rest from there. If not, @rynowak or @JamesNK can probably help you, but I trust you'll figure out.

[2019-06-26 18:16] ryanbrandenburg commented on #8539
#8537 is still open. Has it actually been completed and we just missed updating it? Or does this issue not actually rely on that one somehow?

[2019-06-26 18:17] JunTaoLuo commented on #11342
Yes that should work.

[2019-06-26 18:18] pranavkm commented on #11556
Done. Have a tiny follow up PR: https://github.com/aspnet/AspNetCore/pull/11607, but works well otherwise.

[2019-06-26 18:19] vsfeedback opened #11608 "Analyser AD0001 Throws Exception VW2019"
After upgrading to VS2019 the analyzer "Microsoft.EntityFrameworkCore.RawSqlStringInjectionDiagnosticAnalyzer" is throwing an exception and showing as a warning in the error list in VS.

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/518155/analyser-ad0001-throws-exception-vw2019.html
VSTS ticketId: 839596_
_These are the original issue comments:_

Tony

[2019-06-26 18:19] pranavkm commented on #11226
We went with using LogFromException, so the outcome looks like what csc prints when it cannot find an assembly (instead of a stack trace). Much better.

[2019-06-26 18:22] anurse opened #11609 "Error in .Net Core 3 preview 6 with individual user accounts in Linux docker"
_From @Thananji on Wednesday, June 26, 2019 3:43:36 AM_

I created a web application (Razor pages) in dot core 3.0 preview 6 with individual user accounts in-app selected and enabled the docker support for Linux.
When I run the application, I got the error "System.ArgumentException: 'The path must be absolute.'" in CreateHostBuilder(args).Build().Run() method of Program.cs.
Am I missing anything o

[2019-06-26 18:22] anurse commented on #11609
_From @livarcocc on Wednesday, June 26, 2019 5:10:25 PM_

@anurse another one that belongs in asp.net?

[2019-06-26 18:26] JamesNK commented on #11598
I've just changed gRPC integration tests to use Kestrel instead of test server. HTTP/2 support in HttpClient is rather hot and I wanted more testing with it gRPC.

https://github.com/grpc/grpc-dotnet/pull/349

These TestServer are Good, but they don't need to be a priority because of gRPC.

[2019-06-26 18:29] rynowak opened #11610 "Blazor API Review: Components Programming Model"
# Blazor API Review: Components programming model

This is the API for the primary programming surface for authoring components. This includes types and attributes that make up `ComponentBase` as well as types that you will use like `MarkupString` and `ElementRef`. This excludes feature areas like `IUriHelper`, `RenderTreeBuilder`, or auth which get their own API review.

## ComponentBase

[code]

[2019-06-26 18:32] anurse commented on #11609
I can repro this as described. Looks like an error in the StaticWebAssets.Reader:

[code]

The manifest file appears to have a Windows path:

[code]

The docker tooling does a local build (on Windows) and then projects the application in to the (Linux) container via a volume mount so a Windows path is invalid here.

@javiercn sounds like this is the stuff you added recently? (cc @mkArtakMSFT)

[2019-06-26 18:35] ajaybhargavb opened #11612 "Blazor doesn't render tags in single line markup(@:) correctly"
**Repro:**

Input:
[code]
Generated code:
[code]

Expected Output:
[code]

Actual Output:
[code]

[2019-06-26 18:37] ajaybhargavb commented on #11612
@rynowak @SteveSandersonMS, this doesn't look like a Razor compiler issue because the generated code makes sense to me. Do we do some auto tag completion magic in Blazor runtime that messes up how it is rendered?

[2019-06-26 18:37] Tratcher commented on #11598
FYI running too many network tests can cause things like socket exhaustion, especially on Mac. Yes we need integration tests with HttpClient, but most unit tests should use TestServer or similar mocks.

[2019-06-26 18:38] ajaybhargavb commented on #11316
@Tragetaschen thanks for reporting this. This looks to be happening because of an underlying issue with Blazor tag rendering. I filed a separate issue to track that here https://github.com/aspnet/AspNetCore/issues/11612.

[2019-06-26 18:46] SteveSandersonMS commented on #11561
This seems to be a usage issue concerning the third-party JavaScript APIs. There are various reports of the error you've mentioned in connection with bootstrap material design and other SPA frameworks. Examples:

 * https://stackoverflow.com/questions/30604758/cannot-read-property-open-of-undefined
 * https://github.com/mdbootstrap/Angular-Bootstrap-with-Material-Design/issues/70

Since this seems

[2019-06-26 18:46] #11561 closed

[2019-06-26 18:46] javiercn commented on #11609
@anurse Yes.

I didn't think of docker scenarios, and this might be a headache. @SteveSandersonMS @danroth27 we should fix this.

[2019-06-26 18:50] javiercn commented on #11609
This is problematic because due to the way it works some things would have to happen:
* An original manifest gets generated with the machine paths.
* Those paths need to be mapped into the container.
* A new manifest needs to be generated with the container paths.

[2019-06-26 18:51] anurse commented on #11609
Why are we burning in absolute paths here? Is this a dev-only experience?

[2019-06-26 18:52] SteveSandersonMS commented on #11612
When we ask the browser to insert markup, we first tell it to parse that markup. Browsers do funky stuff to "fix" your mistakes in HTML, so for example `    Hello <span>` probably gets parsed as if you wrote `    Hello <span></span>`. Likewise it probably ignores the `</span>` because that's not valid on its own.

To avoid this weirdness, we are meant to be requiring that the markup is well-formed

[2019-06-26 18:56] javiercn commented on #11609
@anurse Yes

[2019-06-26 18:58] ajaybhargavb commented on #11612
I'm not sure if there is no use for `@:` in `.razor`. Without it you won't be able to transition out of C# in code block without wrapping it in a tag. This was also an issue with `<text>` tags which is special in Razor code blocks. This was originally reported here https://github.com/aspnet/AspNetCore/issues/11316.
@NTaylorMullen, can you think of other ways to do what `@:` currently lets you do?

[2019-06-26 19:08] NTaylorMullen commented on #11612
Using `<text>` on its own should suffice; that being said you are definitely restricted from utilizing a tag named `<text>` directly in a code block without `@:`. To work around that users can store their HTML in variables and spit them out if they need the text tag. I know it's not ideal but there's not a great alternative.

The other option would be to make `@:` parse HTML properly which would b

[2019-06-26 19:08] ajaybhargavb commented on #11316
@Tragetaschen, `@:` currently has some weird behavior with blazor rendering. You can workaround it by wrapping your second `text` tag in another `text` tag. So,

[code]

[2019-06-26 19:12] DamianEdwards commented on #11584
Some repro code:

[code]

Result from request to `https://localhost:44393/time?time=2019-06-14T02:30:04.0576719Z`:

[code]

Same result is returned from same request when `CultureInfo.CurrentCulture = CultureInfo.CurrentCulture = CultureInfo.InvariantCulture` is executed before model binding runs is the same:
[code]

[2019-06-26 19:20] javiercn commented on #11609
We can use `HasContainerTargets` to detect if docker is enabled and based on that we might be able to hook into additional targets to add additional file path mappings when the container runs and produce an updated manifest.

[2019-06-26 19:25] joeyj-msft commented on #5139
Our team is also blocked on using v10 of Node which we require. Is there a workaround?

[2019-06-26 19:35] bradlis7 opened #11613 "An asp-route should convert kebab case to camelcase"
### Describe the bug
An action parameter by default is camelCased, but HTML attributes use kebab-case. When I use `asp-route-my-variable`, it does not bind it to `myVariable` parameter.

### To Reproduce

Controller action:

[code]

MyAction.cshtml:

[code]

### Expected behavior
It should set the parameter correctly.

[2019-06-26 19:42] rynowak commented on #11610
@SteveSandersonMS @javiercn @pranavkm @mkArtakMSFT @danroth27 @ajaybhargavb @NTaylorMullen - please have a look and give your feedback 👍

[2019-06-26 19:46] pranavkm opened #11614 "UIClipboardEventArgs is missing ClipboardData"
See https://developer.mozilla.org/en-US/docs/Web/API/ClipboardEvent#Properties. There's really nothing useful you could read from the event args in it's current format.

[2019-06-26 20:09] #11577 closed

[2019-06-26 20:23] rynowak commented on #8825
If we don't enforce public setters than you will need to change the discovery logic to avoid looking for the setter at all. One of the problems we've run into is that the setter won't show up in ref assemblies without being public.

[2019-06-26 20:37] Andrzej-W opened #11617 "Consider adding .editorconfig file to templates used to create a new solution"
Read this issue #11225 and especially these two comments: https://github.com/aspnet/AspNetCore/issues/11225#issuecomment-504253296 and https://github.com/aspnet/AspNetCore/issues/11225#issuecomment-504707787

Probably it is a good idea to have .editorconfig file in root solution folder.  This file should be created only when you create a new solution. Then every time you create or edit any file in

[2019-06-26 20:38] pranavkm commented on #11610
+1 For `OnInitialized`. We have a few other places in the framework that use `Initialize`, and it makes sense to be consistent.

Seems fairly convenient to have the sync overloads. Are there particularly good reasons not to have these? We should have the async ones call the sync one and be done.
You're right, having the sync and async ones do different work is weird.

+1

The doc comment says it's

[2019-06-26 20:40] pranavkm opened #11618 "Add some unit tests for RendererRegistryEventDispatcher"
Just to exercise the JSON parsing so we know things work when we change it.

[2019-06-26 20:42] rynowak opened #11619 "Web Application template has two *cool* blank lines in ConfiguresServices"
![image](https://user-images.githubusercontent.com/1430011/60213353-2a6e0080-9818-11e9-8a7a-b9da151b4ae9.png)

Repo:
- Create a new project using the Web Application template
- Open Startup.cs

[2019-06-26 20:43] #11556 closed

[2019-06-26 20:48] halter73 commented on #11560
=

[2019-06-26 20:51] halter73 commented on #11560
I agree the StreamPipeWriter track whether there's a currently-ongoing flush, and reject any other API calls until the flush completes. While this will probably break existing PipeWriter consumers when we switch from DefaultPipeWriter to StreamPipeWriter, at least the error should be easily observed and fixed.

In the case of Http2FrameWriter, it looks like we're going to need to use a task queue

[2019-06-26 20:57] BrennanConroy commented on #11486
I am getting this consistently when opening .razor files in Components.sln.

Version 16.2.0 Preview 4.0 [29018.194.d16.2stg]
VisualStudio.16.IntPreview/16.2.0-pre.4.0+29018.194.d16.2stg

SDK: 3.0.100-preview6-012264

[2019-06-26 20:59] ajaybhargavb commented on #11486
@BrennanConroy, can you also include the actual error message and stack trace?

[2019-06-26 20:59] NTaylorMullen commented on #8825
I see. Alright, will enforce.

[2019-06-26 21:02] pranavkm commented on #11600
cc @BrennanConroy

[2019-06-26 21:08] BrennanConroy commented on #11486
Encountered an error during adding a Code Container: Some or all identity references could not be translated.

[code]

[2019-06-26 21:09] javiercn commented on #11613
That's by design, that is not how the `asp-route-*` tag helper works. What you put after `asp-route-` is interpreted as the route parameter, that should match what you define on the route within `{}` and gets bound to the variable on the method.

You can use `{my-variable}` in your route parameter definition and [FromRoute(Name = "my-variable")] to make it bind to myVariable.

[2019-06-26 21:09] #11613 closed

[2019-06-26 21:10] BrennanConroy commented on #11600
There are a couple breaking changes in corefx that we haven't consumed yet, and as a result weird things like this happen.

We'll be consuming the corefx changes later today and hopefully by tomorrow there will be a new sdk that works.

[2019-06-26 21:13] javiercn commented on #11609
Hmm, I think we need to investigate this more. AFAIK the docker file will do a publish step
[code]

and run the app like

[code]

There should be no manifest involved in that.

It might be that the way the docker tools run has changed and we might need to adapt the manifest.

[2019-06-26 21:17] mikaelm12 commented on #11160
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [ ] This is a Docs issue.
* [x] The fix contains product changes (**check all items below**).
	* [x] Relevant XML documentation comments for new public APIs are present. - Not needed
	* [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
    	* [ ] The change

[2019-06-26 21:19] halter73 commented on #11305
I discussed this a bit with @Tratcher and he brought up a few issues.

I like this idea, but if we do it, any middleware that replaces the response pipe would also need to replace CompleteAsync for that to work. Middleware that just replaces the body stream, would be broken too because they don't replace CompleteAsync.

[2019-06-26 21:36] ryanbrandenburg commented on #11513
Seems fine. An example output:
[code]

[2019-06-26 21:36] mikaelm12 commented on #11617
This is something that I've been meaning to do. It would save a number of pr comments and just help ensure consistency. We'll look into this 👍

[2019-06-26 21:38] #11564 closed

[2019-06-26 21:38] #11513 closed

[2019-06-26 21:49] mikaelm12 commented on #10307
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [ ] This is a Docs issue.
* [x] The fix contains product changes (**check all items below**).
	* [x] Relevant XML documentation comments for new public APIs are present. - Not needed
	* [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
    	* [ ] The change

[2019-06-26 21:50] dradovic commented on #6912
One easy workaround when dealing with [Blobs](https://developer.mozilla.org/en-US/docs/Web/API/Blob) is to [create a URL in the browser](https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL) for the Blob and then in Blazor use the standard `HttpClient` to get the binary by data calling `GetByteArrayAsync` on the created blob URL (as suggested on [SO](https://stackoverflow.com/a/524

[2019-06-26 21:54] cjaliaga commented on #11619
I can do a PR fixing this if you didn't start already.

[2019-06-26 22:10] mkArtakMSFT commented on #11221
@flyrev, I haven't forgotten about this. This is something we're working actively and I'll update this thread soon.

[2019-06-26 22:11] ryanbrandenburg commented on #5441
Nah

[2019-06-26 22:11] #5441 closed

[2019-06-26 22:16] mikaelm12 commented on #11239
Came back to this. Now verified in the .NET client as well.

[2019-06-26 22:17] mikaelm12 commented on #11239
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [ ] This is a Docs issue.
* [x] The fix contains product changes (**check all items below**).
	* [x] Relevant XML documentation comments for new public APIs are present. - Not needed
	* [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
    	* [ ] The change

[2019-06-26 22:56] mikaelm12 commented on #10554
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [ ] This is a Docs issue.
* [x] The fix contains product changes (**check all items below**).
	* [x] Relevant XML documentation comments for new public APIs are present. - Not needed
	* [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
    	* [ ] The change

[2019-06-26 23:00] NTaylorMullen commented on #11610
## ComponentBase

Ya if we just had two `InvokeAsync` overloads that'd be perfect. I think it's pretty odd that `Invoke` method represents the parameter it's being passed not the actual functionality of the method (it being async).

Sounds reasonable to me; however, it's also not critical because that's something we can always add in the future.

`OnInitialized`

It's convenient but I'm less convi

[2019-06-26 23:04] danroth27 commented on #7363
@igorfmachado Did you the restore succeed on the command line? Assuming it did, does `dotnet build` succeed?

[2019-06-26 23:11] halter73 commented on #11560
The TimingPipeFlusher used by Http2FrameWriter and a few other types in order to support unawaited calls to Stream.WriteAsync() on top of a PipeWriter is completely busted if it wraps anything other than the DefaultPipeWriter.

While the TimingPipeFlusher prevents overlapping calls to FlushAsync, it does not prevent any other PipeWriter API calls (e.g. GetSpan() and Advance()) from being called in

[2019-06-26 23:11] danroth27 opened #11627 "Remove Microsoft.AspNetCore.SpaServices.Extensions dependency on Microsoft.AspNetCore.SpaServices"
Most of the functionality in [Microsoft.AspNetCore.SpaServices](https://nuget.org/packages/Microsoft.AspNetCore.SpaServices) is superseded by the functionality in [Microsoft.AspNetCore.SpaServices.Extensions](https://nuget.org/packages/Microsoft.AspNetCore.SpaServices.Extensions). We'd like to obsolete the bulk of the functionality in Microsoft.AspNetCore.SpaServices, but currently Microsoft.AspNe

[2019-06-26 23:12] mikaelm12 commented on #10128
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [ ] This is a Docs issue.
* [x] The fix contains product changes (**check all items below**).
	* [x] Relevant XML documentation comments for new public APIs are present. - Not needed
	* [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
    	* [ ] The change

[2019-06-26 23:14] Tratcher commented on #11593
Change: https://github.com/aspnet/AspNetCore/pull/9341

This type of error is expected when you have mismatched dependencies and there was a breaking change. Please share your csproj dependency list.

[2019-06-26 23:30] #11536 closed

[2019-06-26 23:33] rynowak commented on #11619
sure, we'd be happy for the help.

[2019-06-26 23:33] rynowak commented on #11619
/cc @ryanbrandenburg

[2019-06-26 23:46] rynowak opened #11629 "@attributes should declare a better type than object"
![image](https://user-images.githubusercontent.com/1430011/60222338-ce17da80-9831-11e9-84c3-f04083ac8b83.png)

We should have this say `IEnumerable<KeyValuePair<string, object>>` instead.

[2019-06-26 23:46] NTaylorMullen commented on #11486
Interesting, so your casing is busted. How are you opening the solution so I can try and dial down on a more concrete repro?

[2019-06-26 23:48] BrennanConroy commented on #11486
From the command line (in the . .\activate.ps1 environment), cd to Components folder, then "./Components.sln"

[2019-06-26 23:52] igorfmachado commented on #7363
Hi Dan,

Yes, I did, that's the restore output:
`  Restore completed in 23.34 ms for C:\Projects\Test\Blazor\Blazor.WebApp\Blazor.WebApp.csproj.`

When I run `dotnet build`  here is the output:

Microsoft (R) Build Engine version 16.2.0-preview-19278-01+d635043bd for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

  Restore completed in 14.13 ms for C:\Projects\Test\Blazor\Bla

[2019-06-26 23:53] NTaylorMullen commented on #11486
Ah, so if you do pwd do you see a lower case `github` at the start of your path?

[2019-06-26 23:59] danroth27 commented on #11179
This specific error should now be fixed with the latest preview version of Visual Studio.

[2019-06-26 23:59] #11179 closed

[2019-06-27 00:05] DamianEdwards commented on #8531
@danroth27 is assigned to driving requirements for VS item template updates, but as an example I hit today, the MVC controller item template still assumes conventional routing rather than attribute routing, which we now use by default.

[2019-06-27 00:13] NTaylorMullen commented on #11629
Hmm, can't it also take a List<string> today? Asking because of : https://github.com/aspnet/AspNetCore/issues/10952

[2019-06-27 00:15] rynowak commented on #11629
The type that matters is the one I mentioned, List is an `IEnumerable<>` 🤣

[2019-06-27 00:15] #11535 closed

[2019-06-27 00:22] NTaylorMullen commented on #11629
GitHub failed to show my generic, updated the above comment, I was referring to `List<string>`

[2019-06-27 00:31] mkArtakMSFT commented on #11314
Hi @blue-hedgehog.
Unfortunately, we couldn't reproduce this issue. So it would really help if one of your team members could share a repro with us, so we can try to help.

[2019-06-27 00:40] rynowak commented on #11629
`List<string>` will super not work.

[2019-06-27 00:41] anurse commented on #10499
Possibly related: https://github.com/aspnet/Extensions/issues/1689

[2019-06-27 00:47] igorfmachado commented on #7363
@danroth27 Thanks for your help. I've managed to solve the issue with the following:

[code]

PS: After completing the steps above and restarted my machine, I was getting the error (rzc generate exited with code 1) while trying to build the solution ... the bypass for this was to press F5 to run debug instead of trying to build the solutions.

From then on everything seems to be working fine. Let'

[2019-06-27 00:50] anurse commented on #11609
Right, but if you F5 directly, you can see in the output window that the commands it uses are to build the `base` image and then run that directly, injecting the app in as a volume mount.

[2019-06-27 00:55] mkArtakMSFT commented on #11590
Related: https://github.com/aspnet/AspNetCore/issues/11612

[2019-06-27 01:04] vsfeedback opened #11631 "ASP.NET Core 2.2 Angular- Failed to start NPM when published to IIS"
<p>I'm publishing my asp.net core 2.2 Angular 7 web application to IIS and I get below errors:</p><ol>
<li>Ensure that 'npm' is installed and can be found in one of the PATH directories.</li><li>InvalidOperationException: Failed to start 'npm'.</li><li>AggregateException: One or more errors occurred. (One or more errors occurred. (Failed to start 'npm'. To resolve this:. [1] Ensure that 'npm' is i

[2019-06-27 01:07] mkArtakMSFT commented on #11631
@ryanbrandenburg can you please look into this and see how we can help? Thanks!

[2019-06-27 01:16] #11568 closed

[2019-06-27 01:55] halter73 opened #11632 "Run automated tests on debug builds or remove all Debug.Asserts"
My understanding is that our CI servers now only run automated tests against release builds. If that's the case, this means that the many Debug.Asserts throughout the AspNetCore repo are pretty worthless since we can only ever see an assertion failures by running tests or samples locally. Even the Debug.Asserts in the test projects themselves are being ignored.

I think the best solution is to run

[2019-06-27 02:07] jdang67 commented on #4150
im my enviroment Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")  always return null and hostContext.HostingEnvironment.IsDevelopment() always return false.

[2019-06-27 02:11] FrancisValade opened #11633 "Blazor windows authentication authorization issues with ClaimsTransformation"
Steps to reproduce the behavior:
1. Create a new Blazor server-side app with the preview 6-012264 using the blazor extension in Visual Studio and add windows authentication.
2. Add the following class in the app with the following code:

[code]
And add the following lines in the ConfigureServices method in the startup class:
[code]
And in the Configure method add these lines:
[code]
And finally ad

[2019-06-27 02:36] benaadams commented on #11632
I'd go for this option; at least one (e.g. Windows); preferably two (e.g. Windows and Linux); while keeping the current release testing that runs.

[2019-06-27 02:39] davidikin45 opened #11635 "ActionLink RouteData is broken with endpoint routing in 2.2 and 3.0"
- There seems to be a big change with routing when endpoint routing is enabled in 2.2 and 3.0.
- What I am noticing is route params aren't passing through when creating action links anymore

HomeController
[code]

Profile.cshtml
[code]

-- 2.2 with options.EnableEndpointRouting = false;
Direct to https://localhost:44353/profile/1234

Expected ActionLink Url: https://localhost:44353/purchases/1234

[2019-06-27 02:40] bang88 commented on #11229
Another example https://github.com/bang88/ant-design-blazor

Ant-Design for Blazor (WIP)

[2019-06-27 03:05] kdcllc opened #11636 "Dotnet publish is not working with -c Release AspNetCore 3.0 Preview 6"
Can't execute `dotnet publish Project.csproj -c Release` without exceptions on Web App.
###Output

[code]
### Expected behavior
To successful publish.

### Additional context
Include the output of `dotnet --info`
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview6-012264
 Commit:    be3f0c1a03

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: W

[2019-06-27 03:52] #11360 closed

[2019-06-27 03:52] #11385 closed

[2019-06-27 03:53] anurse opened #11637 "[Discussion] SignalR JavaScript client changing package name to @microsoft/signalr"
In `3.0.0-preview7`, the SignalR JavaScript client will change from being `@aspnet/signalr` to `@microsoft/signalr`. We are doing this to reflect the fact that SignalR is useful in more than just ASP.NET Core applications, thanks to the Azure SignalR Service.

To react to this change, you will need to change your references in `package.json` files, `require` statements, and ECMAScript `import` sta

[2019-06-27 04:08] anurse commented on #11636
I can't repro this on `3.0.100-preview6-012264` with the following commands:

[code]

I also tried the Razor Class Library and Empty templates. @kdcllc can you provide a sample project that reproduces the issue?

[2019-06-27 04:09] anurse commented on #11632
This is also relatively easy to do in parallel by simply adding jobs to the YAML of DOOM

[2019-06-27 04:18] davidfowl commented on #11560
I’m going to look into making StreamPipeWriter work with the overlapping calls. It shouldn’t be too hard actually (we have a bunch of this logic in pipe today but it might be easier since we don’t have to mess with as much state). We just need to make sure the linked list pointers are updated appropriately.

[2019-06-27 04:32] kdcllc commented on #11636
@anurse I am working on this https://github.com/kdcllc/Bet.AspNetCore/tree/feature/letsencrypt/src/Bet.AspNetCore.Sample project. The latest update is that when I use docker locally without `-c Release` it builds perfect image but when I use the same docker file in the Azure DevOps pipeline I get the same error.

[2019-06-27 05:06] #11560 closed

[2019-06-27 06:04] davidfowl commented on #11312
@Tratcher can you look at **Microsoft.AspNetCore.Server.Kestrel.Https.Internal**?
@rynowak can you make a call on the types in ** Microsoft.AspNetCore.Routing.Internal** - You can leave make DfaWriter as public API with a comment about the fact it can break (similar to how EF has the warning on pubternal types)
I'll take **Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http**, this is the http

[2019-06-27 06:09] danroth27 commented on #7363
@igorfmachado I'm glad to hear that you got things working! If you have any insights into how your machine got into that broken state originally let us know and we'll see if we can do something to address it.

[2019-06-27 06:09] davidfowl commented on #11404
This works now

[2019-06-27 06:09] #11404 closed

[2019-06-27 06:09] davidfowl commented on #11404
![image](https://user-images.githubusercontent.com/95136/60241172-7eec9c80-9867-11e9-8dfd-060f6384ac47.png)

[2019-06-27 06:11] davidfowl commented on #9491
![image](https://user-images.githubusercontent.com/95136/60241252-b22f2b80-9867-11e9-8209-767a38312c96.png)

[2019-06-27 06:16] davidfowl commented on #9491
Verified in 3.0.0-preview7.19326.6

[2019-06-27 06:16] davidfowl commented on #11404
Verified in 3.0.0-preview7.19326.6

[2019-06-27 06:48] GoranHalvarsson commented on #9624
It’s a great idea, @Lupusa87
But is it not a hosting question?

[2019-06-27 07:24] minhhieugma commented on #11174
Someone can help me how to make the Blazor SSR website work with a component project. The static files in content folder are not copied to wwwroot.

[2019-06-27 07:24] netyam opened #11639 "Problem with [HttpGet] and [HttpPost] Controller on Blazor"
Hey i tried to code a [HttpGet] and a [HttpPost] Controller for testing the integrated json. but the expected return of a json is not happening. Is this Problem only on my side or is it a known problem?

**Steps to reproduce the behavior:**
1. Using this version of ASP.NET Core 3.0 preview6
with Microsoft.EntityFrameworkCore.SqlServer 3.0.0-preview6.19304.10

2. Run this code on a fresh server sid

[2019-06-27 07:28] karthickthangasamy commented on #11174
@minhhieugma  : Rename the `content` folder with `wwwroot` and generate the nuget package using `dotnet pack`.

[2019-06-27 08:04] aureole82 opened #11640 "GET with umlauts: DecoderFallbackException + 200 OK status returned"
### Describe the bug
[code]

### To Reproduce
 Postman v7.2.2:
**GET**: https://localhost:44301/api/Städte
→ 200 OK
(no content returned)

Visual Studios Debug window:

### Expected behavior
**GET**: https://localhost:44301/api/Städte
→ 200 OK
→ `["München","Nürnberg"]`

### Additional context
**THIS WORKS:**
**POST**: https://localhost:44301/api/Städte ["München","Nürnberg"]
→ 200 OK
→ `["München

[2019-06-27 08:19] javiercn commented on #11609
@anurse I see. Then I think we might need to do something for this case. That won't work even for referenced projects.

[2019-06-27 08:49] pierslawson commented on #4589
@Eilon It would be good if you suggested a work around... or are you able to raise this with the team responsible for the WAF. To those of us outside of Microsoft there only seems to be a UserVoice forum to allow us to suggest new features rather than report bugs.

[2019-06-27 09:03] vishnupv commented on #8384
The counter does not work in IE. But Works in Chrome. Bizzare.

[2019-06-27 09:07] nfplee commented on #6349
I'm really liking this feature. I'd also like to maintain the dots in the library name. Although I think it would be better if there was MSBuild property to set it to cater for everyone. It would also be great if we could override the destination folder from "_content" to something else e.g. "assets".

[2019-06-27 09:11] ZergZe opened #11641 "JS interop can cause unhandled server-side exception if dotNetObjectId is unknown/disposed"
@SteveSandersonMS hijacking the original post... [see the comment below](https://github.com/aspnet/AspNetCore/issues/11641#issuecomment-506269351) for a more concise statement about what we need to fix.

---

### Describe the bug
A clear and concise description of what the bug is.
I need to process client event on server but after some timeout.
Scenario:
 1. user types in input
 2. user removes fo

[2019-06-27 09:27] SteveSandersonMS commented on #11641
If I understand correctly, the problem here is the fact that the unhandled exception causes the app to die. That is, you understand why making a call on a `DotNetObjectRef` that has already been disposed will lead to an exception, but you want to be able to catch and handle that exception (e.g., in your JS code) without it killing the app on the server.

If so, you're absolutely right. This is a b

[2019-06-27 09:31] SteveSandersonMS commented on #11639
Your `[Route("api/[controller]")]` attribute means it will expect URLs like `/api/pizzas/pizzas`, not just `/pizzas`.

[2019-06-27 09:31] #11639 closed

[2019-06-27 09:37] SteveSandersonMS commented on #11633
Looks similar to some earlier issues with Windows authentication in non-Blazor cases:

 * https://github.com/aspnet/Logging/issues/543
 * https://github.com/aspnet/HttpSysServer/issues/426
 * https://github.com/aspnet/SignalR/issues/2948

I see that https://github.com/aspnet/SignalR/issues/2948 was fixed by @BrennanConroy making a change to clone the `ClaimsPrincipal` at some point in the flow.

@

[2019-06-27 09:39] StiviiK commented on #11593
[code]

[2019-06-27 09:55] netyam commented on #11639
still the same

![Unbenannt](https://user-images.githubusercontent.com/39600900/60256620-2e5e5900-98d2-11e9-8e6b-6426a420d48f.PNG)

[2019-06-27 10:02] ZergZe commented on #11641
@SteveSandersonMS ,

Yes, I would be happy to handle the exception in my JS to ignore it in this case, and allow the user to proceed interating with the application without reloading page.

Thank you!

[2019-06-27 10:08] SteveSandersonMS commented on #9716
I see - this is a duplicate of https://github.com/aspnet/AspNetCore/issues/5616, so will close in favour of that one.

[2019-06-27 10:08] #9716 closed

[2019-06-27 10:32] tedekeroth commented on #6774
This is direly needed: each component should have the option to add its own, specific, encapsulated css, like its possible in Web Components.

[2019-06-27 10:35] dazinator commented on #4150
@jdang67 some options:

1. Are those environment variables on your environment?
    A) if yes, is the config provider for environment variables added to your app?
2. Do you run debug builds on your dev environments? If you do #if Debug might suffice.

[2019-06-27 10:39] simonziegler commented on #11082
I'd like to add my weight (such as it is!) to this thread. I hope later this year to hire a team to develop a SaaS product based on Blazor. My dream would be for the web app to be based on AOT compiled client side Blazor (interpreted is way too slow for my computational work load), and to wrap this up as a PWA to provide offline fallback when the internet connection goes down. It feels like this i

[2019-06-27 10:46] CarlosTorrecillas commented on #10400
Thanks for the info - till then, is there any workaround for this? Say that because I tried to manually import the 'request' module into my lazy loaded module containing all the SignalR stuff and unfortunately it didn't work. I'm not sure if you guys have a sample of how to fix this in the meantime? Thanks again!

[2019-06-27 11:04] chrdlx commented on #8384
That's another issue, currently there's no IE support, this is not related with the websocket issue on discussion here.

[2019-06-27 11:17] abrantie1z commented on #11594
Thank you sir for your quick reply.
Signal R Version:  Microsoft.Aspnetcore.Signalr.Client\3.0.0-preview6.19307.2
Visual Studio Version : 16.1.3
Xamarin. Forms : 4.0.0.482894

[2019-06-27 11:22] netyam commented on #11639
okay i understand it now but why do i get this problem now?
i changed it to: /api/pizzas/getpizzas
is it right that i only have to map the controller endpoint in startup?

[code]
**Startup.cs**
[code]

[2019-06-27 11:49] LaughingJohn commented on #11084
Thank you!

[2019-06-27 12:20] Gopigovin opened #11643 "Blazor-browser connection disconnected, While upload the file above 1MB"
**Bug Description**

I have upload the file more than 1MB into file uploader and i have facing browser server disconnected issue. please find the error details.

[code]

![image](https://user-images.githubusercontent.com/17155380/60264323-890ea980-9900-11e9-9906-a8a89e35f1d9.png)

**DOTNET Info**

[code]

Regards,
Gopi G.

[2019-06-27 12:38] DAllanCarr commented on #11643
Generally allocating large buffers not a good idea but the defaults can be overridden.

https://docs.microsoft.com/en-us/aspnet/core/signalr/security?view=aspnetcore-2.1#buffer-management

[2019-06-27 12:46] fuocor opened #11644 "MapControllerRoute throwing TypeLoadException: '... 'System.Text.Json.Serialization.JsonSerializerOptions' ..."
### Describe the bug
MapControllerRoute throwing System.TypeLoadException: 'Could not load type 'System.Text.Json.Serialization.JsonSerializerOptions' from assembly 'System.Text.Json, Version=4.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'.'

### To Reproduce
Steps to reproduce the behavior:
Microsoft.AspNetCore.App: 3.0.0-preview6.19307.2
System.Text.Json: 4.6.0-preview7.19326.2

[code

[2019-06-27 12:57] fuocor commented on #11644
commenting out the line allows the code to get a little further but then it explodes creating ```Microsoft.AspNetCore.Mvc.JsonOptions```

[2019-06-27 13:01] davidfowl commented on #11644
Remove this package. Preview7 is System.Text.Json isn't compatible with preview6 ASP.NET Core

[2019-06-27 13:24] Gopigovin commented on #11643
Hi @DAllanCarr ,

Thanks for your update,

I have resolved the issue while increase the buffer size in startup.cs page. But this is not working in client side project.
[code]
Any other way to resolve the issue, without increase buffer size into startup.cs page ?

Regards,
Gopi G.

[2019-06-27 13:53] blowdart commented on #11633
I don't think you can change a Windows identity like this, because a windows identity is somewhat special, it's not a normal claims identity at all, it just maps to one via magic, and it will get its claims from AD.

Take the claims out of the windows identity, put them into a new ClaimsIdentity via the IEnumerable<Claim> constructor and then build a new principal off that.

[2019-06-27 13:59] netyam opened #11646 "ArgumentException: Expression must be writeable [question][blazor][migration]"
Hey i have a question,
i tried to migrate to a database with

Microsoft.EntityFrameworkCore.SqlServer 3.0.0-preview6.19304.10
Microsoft.EntityFrameworkCore.Tools 3.0.0-preview6.19304.10
.NET Core 3.0 SDK 3.0.100-preview6-012264

i used
PM> add-migration
PM> update-database
Migration was okay but when i try to open it through /api/pizzas/getpizzas i got this problem:

[code]
### To Reproduce

1. Us

[2019-06-27 14:00] egil opened #11647 "Razor compiler cannot distinguish between template and regular components with the same name"
### Describe the bug
In C# it is legal to define both a generic and non-generic version of a class that uses the same name, e.g. `class SomeComponent : ComponentBase` and `class SomeComponent<TItem> : ComponentBase`.

However, when creating a standard component and a template component with the same name, the Razor compiler is unable to distinguish between the two and pick the correct one at compi

[2019-06-27 14:06] johnmott59 opened #11651 "UIMouseEventArgs ClientX and ScreenX producing wierd values in Canvas tag"
I'm exploring Blazor as a replacement for some TypeScript libraries to do 2D drawing in an HMTL5 canvas. I'm capturing mousedown like this

[code]

The ClientX and ScreenX values of UIMouseEventArgs don't make sense. I would have expected the ClientX to be based on the canvas element but it appears to be the screen, and the ScreenX value is a large negative value.

bug or feature?

John Mott
CTO,

[2019-06-27 14:07] themultiplexer opened #11648 "Irregular 404 error when using Razor Pages from referenced project"
### Describe the bug
When referencing another ASP.NET Core Web Application and trying to use its Pages, it only works on the first build.
If you change something in the referencing project and hit the run button again you get a 404 error.

The only working solution is to rebuild the referencing project and **then** hit run.

### To Reproduce
1. Using .NET Core 3.0 preview6 (I dont know if the bug

[2019-06-27 14:08] fuocor commented on #11644
Downgraded to Preview6 and all runs. Thanks

[2019-06-27 14:08] #11644 closed

[2019-06-27 14:08] lachlanwgordon commented on #11491
I'm trying to create a client side blazor app with dotnet core preview 6 from terminal/vscode but it creates a server side app.

I've followed the steps from the Get Started page linked above.

Is there a way to do this in preview 6?

[2019-06-27 14:10] rceraline commented on #10400
Hi @CarlosTorrecillas, since all dependencies are not bundled, in my case I decided to add an extra step in my build pipeline. I do a `npm i eventsource request ws` right before deploying my app from the output folder. Like that there will be a node_modules folder deployed with only the missing dependencies. I realized that it is not only the request package missing but also eventsource & ws.

![i

[2019-06-27 14:22] Tratcher commented on #11593
Yeah, you can't mix dependencies from different previews, update everything to the same preview.

[2019-06-27 14:37] HelvioBlazor opened #11650 "after VS update (16.2.0 Preview 3.0) all methods reference show as error but compiles well."
![image](https://user-images.githubusercontent.com/52270697/60275189-880d5600-98c7-11e9-8219-fee4fa3f00f9.png)
![image](https://user-images.githubusercontent.com/52270697/60275223-95c2db80-98c7-11e9-8864-6f45d26f5dc9.png)

[2019-06-27 14:42] springy76 commented on #11491
For me it worked after executing `dotnet new -i Microsoft.AspNetCore.Blazor.Templates::3.0.0-preview6.19307.2` once.

[2019-06-27 14:45] FrancisValade commented on #11633
I tried what you suggested and the problem is gone, thanks!

[2019-06-27 14:54] DAllanCarr commented on #11643
Nulling this property will get around the artificial limit. But to be honest consider reducing message size which I understand may not be possible.

[2019-06-27 15:03] CarlosTorrecillas commented on #10400
I see @rceraline ... thank you so much for this!

[2019-06-27 15:09] lachlanwgordon commented on #11491
Wonderful, thank you.

Wow, that is quite obvious in the get started, don't know how I missed it.

[2019-06-27 15:14] BrennanConroy commented on #11486
Yeah

[2019-06-27 15:17] LunicLynx opened #11652 "Serialization of JsonElement is incorrect"
When returning an object from a controller that contains an property of type `object` to which an instance of JsonElement is assigned the Json send to the client for this property will have the following form: `{"type":1}`.

### Steps to reproduce the behavior:

1. Using this version of ASP.NET Core ' 3.0.0-preview6'
2. Create a Blazor (Asp.net hosted) app. (Easiest way to have everything in place

[2019-06-27 15:24] isaac2004 commented on #8531
@DamianEdwards do you mean endpoint routing? Just want to make sure I am following.

@danroth27 can you list out the idioms that the templates should adopt?

[2019-06-27 15:25] LunicLynx commented on #11652
The problem seems tobe related to Json.NET not serializing `JsonElement`correctly.

[2019-06-27 15:25] #11652 closed

[2019-06-27 15:28] ladislavherman opened #11653 "RazorComponents - Mix of IsFixed Cascading values causes Exception"
Mix of IsFixed==true and IsFixed==false cascading values leads to exception in the unsubscribe method.

[code]

Behaviour of ComponentState.AddCascadingParameterSubscriptions and ComponentState.RemoveCascadingParameterSubscriptions is suspicious. `Subscribe` is called only when `IsFixed` is false. CascadingValue with `IsFixed = true` is not subscribed. `CascadingValue.Subscribe` initialize `_subsc

[2019-06-27 15:31] #10648 closed

[2019-06-27 15:32] #5616 closed

[2019-06-27 15:34] SteveSandersonMS commented on #5616
@mkArtakMSFT Since this is already now fixed in `master`, should we move it the preview 7 milestone so it can show up in the release notes for that?

[2019-06-27 15:34] SteveSandersonMS commented on #10648
@mkArtakMSFT Since this is already now fixed in `master`, should we move it the preview 7 milestone so it can show up in the release notes for that?

[2019-06-27 15:35] SteveSandersonMS commented on #11633
Thanks for the info, @blowdart. Closing as "working as expected" then.

[2019-06-27 15:35] #11633 closed

[2019-06-27 15:40] Bartmax opened #11654 "HttpMethodOverrideMiddleware is missing HEAD on GET requests."
As of right now, the [**HttpMethodOverrideMiddleware**](https://github.com/aspnet/AspNetCore/blob/c95ee2b051814b787b07f55ff224d03d550aafeb/src/Middleware/HttpOverrides/src/HttpMethodOverrideMiddleware.cs) only support overriding methods for `POST` requests, and when the method is overridable by a `HEAD` method the body is still returned.

Currently kestrel prevents body writing to `HEAD` requests

[2019-06-27 15:48] anurse commented on #11609
If you just need to resolve the path to a NuGet package at dev-time, it might be better to leave out the absolute path and use something like the `[appname].runtimeconfig.dev.json` file. Let me take a quick look and see if I can get more details for you.

[2019-06-27 15:56] javiercn commented on #11609
@anurse Can you try something quick for me given that you have this setup already? Could you setup `$(ContainerDevelopmentMode)` to Regular in your msbuild project and see if that fixes it?

Ultimately we have a manifest that I think has the wrong paths because it gets generated on windows and used on Linux, so a proper fix to this is gonna involve mounting additional volumes and overriding this m

[2019-06-27 15:57] anurse commented on #11609
Yeah, the docker tools do the "right thing" here, and you can even access this data at runtime via `AppContext.GetData`.

So, if you are just trying to resolve content relative to a specific NuGet package, rather than burning in the full path, you can burn in the ID, Version and Relative path:

[code]

Then at runtime you can take `AppContext.GetData("PROBING_DIRECTORIES")` to get a list (separate

[2019-06-27 16:00] anurse commented on #11609
Once you have those paths, you can probe by simply splitting on `Path.PathSeparatorChar` and checking if the `Path.Combine(probingPath, PackageId.ToLowerInvariant(), PackageVersion.ToLowerInvariant())` directory exists.

I don't have the project handy to try that now. If that forces the entire build to happen in Docker, I expect it would fix the issue. It seems significantly limiting though.

[2019-06-27 16:09] javiercn commented on #11609
@anurse What you are suggesting is not an option as files on the package are defined through msbuild props files within the package, and not by some convention, and that also doesn't take into account referenced project with static assets.

We also don't want to be bundling that resolution logic at the runtime level. I already started a thread about this with the appropriate people, I think making

[2019-06-27 16:10] NTaylorMullen commented on #11629
I see I see.

[2019-06-27 16:10] BrennanConroy commented on #11633
As long as it's only for the duration of the connection you're good. SignalR will handle any silliness like the windows auth stuff.

[2019-06-27 16:16] SteveSandersonMS commented on #11633
@BrennanConroy

Well, that's not completely the case. If the SignalR connection drops, we move the circuit into a "pending shutdown" state where it stays for a while, as we wait to see if the user reconnects. It's possible that some server-side code chooses to run while the circuit is in "pending shutdown" and such user code could interact with the `User` object.

What are the extra guarantees tha

[2019-06-27 16:24] mkArtakMSFT commented on #11653
Thanks for contacting us, @ladislavherman.
Will you be interested in sending us a PR, we'll happily consider it.

//cc @SteveSandersonMS

[2019-06-27 16:25] mkArtakMSFT commented on #11651
Thanks for contacting us, @johnmott59.
@SteveSandersonMS can you please look into this? Thanks!

[2019-06-27 16:28] mkArtakMSFT commented on #11650
Thanks for contacting us, @HelvioBlazor.
@ajaybhargavb can you please look into this? Thanks!

[2019-06-27 16:32] BrennanConroy commented on #11633
Well the `User` object isn't disposed while the SignalR connection is around. We don't explicitly dispose it, but it could be disposed by the server when the connection is gone.

@Tratcher I'm assuming it's a bad idea to hold onto the `User` from `HttpContext` after the underlying server connection is gone?

[2019-06-27 16:33] mkArtakMSFT commented on #11643
Thanks for helping out here, folks.
Looks like the original question is answered, so we're closing this issue now.

[2019-06-27 16:33] #11643 closed

[2019-06-27 16:34] BrennanConroy commented on #11632
We run on release and debug in Extensions so there is prior art
https://github.com/aspnet/Extensions/blob/8c6d69570722ee4cd6583cbb4af2a9c74c8c10dc/azure-pipelines.yml#L148

[2019-06-27 16:36] pranavkm commented on #11651
@johnmott59 what version of Blazor are you using? We made changes to the data type used to represent `ScreenX` in the preview7 release, perhaps that addresses this.

[2019-06-27 16:36] Tratcher commented on #11633
Right, it's disposed at the end of each request. Clone it if you need to hold onto it.

[2019-06-27 16:38] mkArtakMSFT commented on #11648
Thanks for contacting us, @themultiplexer.
This should be fixed as part of #11315

[2019-06-27 16:38] #11648 closed

[2019-06-27 16:44] mkArtakMSFT commented on #11636
Thanks for contacting us, @kdcllc.
The action we're going to take here is to make the build failure error message more helpful.

[2019-06-27 16:45] BrennanConroy commented on #11643
You can take a look at streaming and split the files into multiple payloads then stitch them back together on the other end

[2019-06-27 16:46] ryanbrandenburg commented on #11631
There could be a couple things going on here:
1. NPM is not on the path for the user which is running IIS (see Andrew Stanton-Nurse's response for more details).
2. You could be running into https://github.com/aspnet/AspNetCore/issues/6342 (check the inner exception on the error page to see if that's the case).
3. Very unlikely to be the cause of this particular issue, but I notice that you have `

[2019-06-27 16:46] johnmott59 commented on #11651
Thank you for your response. I’m using whatever comes with core version 3, as shown below.

From: Pranav K [mailto:notifications@github.com]
Sent: Thursday, June 27, 2019 11:37 AM
To: aspnet/AspNetCore
Cc: John Mott; Mention
Subject: Re: [aspnet/AspNetCore] UIMouseEventArgs ClientX and ScreenX producing wierd values in Canvas tag (#11651)

@johnmott59 <https://github.com/johnmott59>  what version

[2019-06-27 16:47] kdcllc commented on #11636
@mkArtakMSFT I am still not able to build Docker file inside Azure DevOps pipeline. What is the underline issue here?

[2019-06-27 16:51] mikaelm12 commented on #11360
Checked the build logs and the functional tests seem to be running (and passing 😄) now

**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [x] The fix is tests-only.
* [ ] This is a Docs issue.
* [ ] The fix contains product changes (**check all items below**).
	* [ ] Relevant XML documentation comments for new public APIs are present. - Not needed
	* [ ] Narrative

[2019-06-27 16:54] mkArtakMSFT commented on #11617
Thanks for contacting us, @Andrzej-W.
@Andrzej-W, we don't think it's a good idea to add an .editorconfig because we don't want to start telling people what their editor config should be. As for the BOM issue, we plan to address it in a better way - by making BOM tolerable in the Razor Compiler.

@mikaelm12, we already have an editor config in the root of the repo.

[2019-06-27 16:54] #11617 closed

[2019-06-27 16:55] mkArtakMSFT commented on #11604
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-06-27 16:56] johnmott59 commented on #11651
My  mistake, I forgot Blazor was a nuget package. Where would I retrieve an updated nuget?

From: Pranav K [mailto:notifications@github.com]
Sent: Thursday, June 27, 2019 11:37 AM
To: aspnet/AspNetCore
Cc: John Mott; Mention
Subject: Re: [aspnet/AspNetCore] UIMouseEventArgs ClientX and ScreenX producing wierd values in Canvas tag (#11651)

@johnmott59 <https://github.com/johnmott59>  what version

[2019-06-27 16:57] Tratcher commented on #11303
Workaround:
`.\build.cmd -all -pack -configuration Release`

There's a checked in copy of the files for dist\Release. The local build does not generate the debug versions.

@SteveSandersonMS

[2019-06-27 16:58] mkArtakMSFT commented on #11597
Thanks for contacting us, @smartcodinghub.
Will you be interested in submitting us a PR? We'll happily consider it.

[2019-06-27 17:07] danroth27 commented on #11651
@johnmott59 It looks some of your response didn't make it to your github comment. To verify which .NET Core version you are using, could you please share the output of `dotnet --version`? Also, which specific Blazor template are you using?

[2019-06-27 17:19] johnmott59 commented on #11651
Dotnet –version is

3.0.100-preview6-012264

Blazor from nuget is v3.0.0-preview6-19307.2

From: Daniel Roth [mailto:notifications@github.com]
Sent: Thursday, June 27, 2019 12:08 PM
To: aspnet/AspNetCore
Cc: John Mott; Mention
Subject: Re: [aspnet/AspNetCore] UIMouseEventArgs ClientX and ScreenX producing wierd values in Canvas tag (#11651)

@johnmott59 <https://github.com/johnmott59>  It looks so

[2019-06-27 17:56] StiviiK commented on #11593
Thanks, that fixed the issue.
[code]

[2019-06-27 17:56] #11593 closed

[2019-06-27 18:21] alfred-zaki opened #11659 "Do not compile resx files"
Referring to this
https://github.com/aspnet/Localization/issues/251

please consider re-adding the option to leave resx files un-compiled, customers for a webs app or even other apps i would say require different message langue for the same error or information message a web app pops.

think about this as an added value to allow customers to sort of customize their web app after delivery.
which do

[2019-06-27 18:22] pranavkm commented on #11636
@kdcllc the issue seems to be the `GeneratePackageOnBuild` that you have here: https://github.com/kdcllc/Bet.AspNetCore/blob/feature/letsencrypt/build/settings.props#L29. Setting this to false in the sample fixes the issue.

I've filed https://github.com/dotnet/sdk/issues/3365 to track addressing the underlying issue.

[2019-06-27 18:24] ajaybhargavb commented on #11650
@HelvioBlazor what is the error you see when you hover over the red squiggly?

[2019-06-27 18:26] pranavkm commented on #11226
Reviving this, the plan here is to print a pretty warning and let the task not fail in the event assemblies are missing. Usually this is indicative of other build issues and we want to avoid getting flooded with issues for random problems.

[2019-06-27 18:26] rynowak commented on #11650
@HelvioBlazor - the syntax for event handlers has changed. These should be updated to use directive attributes - event handlers in C# now start with `@`.

Ex:
[code]

If you're using the latest VS, make sure you also have the latest .NET Core SDK preview (currently 3.0 preview 6). The tools will continue to change to keep pace with the latest SDK until we get to the 3.0 release.

[2019-06-27 18:27] #11636 closed

[2019-06-27 18:27] pranavkm commented on #11636
@mkArtakMSFT using https://github.com/aspnet/AspNetCore/issues/11226 to track further work with the Razor SDK.

[2019-06-27 18:36] halter73 commented on #11560
This helps if the ConnectionContext's PipeWriter is a StreamPipeWriter, but not if it's any other custom PipeWriter implementation. We should be careful to only use user-replaceable PipeWriter's in the normal way. That means awaiting FlushAsync calls before making any other PipeWriter call other than CancelPendingFlush().

[2019-06-27 18:37] ajaybhargavb commented on #11650
Oh duh. I didn't notice the lack of `@`. I agree with what @rynowak said 😄

[2019-06-27 18:39] jkotalik commented on #11262
@jmk92 I tried to repro this with the input you provided, and I see it parsing correctly. I assume the data the client sends is different every time. If you could find an input that causes the exception, that would significantly speed up the investigation.

[2019-06-27 18:55] johnmott59 commented on #11651
I've figured out that Screen values are for the screen. I have 3 monitors and for some reason it picked the middle moniter as x=0. screen values to the left were 0 and to the right were positive. It looks like the ClientX is related to the browser, not to the element. Is there an element bias that I'm supposed to retrieve to find out displacement within the element?

[2019-06-27 18:59] SteveSandersonMS commented on #11651
Ah, that makes sense. So this is working as expected.

You'll need to combine your event handler with some extra JS interop to get the information you need: https://stackoverflow.com/a/42111623

[2019-06-27 18:59] #11651 closed

[2019-06-27 19:07] HelvioBlazor commented on #11650
All methods call have the "@" look row 195 to 198. the SDK is Preview 5, I will update it.

[2019-06-27 19:14] HelvioBlazor commented on #11650
I just updated to Preview 6 I have the @ but still show Fake error.
![image](https://user-images.githubusercontent.com/52270697/60293906-40e68b80-98ee-11e9-9150-2a65365d8536.png)

[2019-06-27 19:29] HelvioBlazor commented on #11650
Another view
![image](https://user-images.githubusercontent.com/52270697/60294864-5bb9ff80-98f0-11e9-8127-ebabc3c34352.png)

[2019-06-27 19:32] HelvioBlazor commented on #11650
Ohhh Sorry I got!!!!! Thank you

[2019-06-27 19:32] #11650 closed

[2019-06-27 20:08] Tratcher commented on #11640
This works with OutOfProcess, correct?

[2019-06-27 20:10] aureole82 commented on #11640
What's "OutOfProcess"?

[2019-06-27 20:14] mkArtakMSFT commented on #8539
@ryanbrandenburg you're right. The referenced issues would make this much easier to accomplish. So that should come first.

[2019-06-27 20:15] Tratcher commented on #11640
An alternate setting for AspNetCoreHostingModel.

This error implies the client isn't encoding the url correctly. This can be confirmed with an http wireshark trace.

However that doesn't explain why it would be different for GET vs POST. I wonder if there's an IIS module interfering.

[2019-06-27 20:21] Andrzej-W commented on #9386
If possible I would like to add my 2 cents to the discussion about culture. In my opinion the best practice is (example for 2 cultures):
1. design your url scheme with culture at the beginning (this is required for step 2): example.com/en-us/customers, example.com/pl-pl/kontrahenci, etc.
2. create 3 main page urls (one more than number of supported cultures) example.com, example.com/en-us, example

[2019-06-27 20:34] anurse commented on #8631
If you want full control you can always disable IHostingStartup entirely, or exclude certain assemblies, using the [configuration options](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/platform-specific-configuration?view=aspnetcore-2.2#disable-automatic-loading-of-hosting-startup-assemblies), and use a different mechanism to activate these components.

[2019-06-27 20:34] HaoK commented on #10222
Moving to preview 8 since having issues with dim still

[2019-06-27 20:34] HaoK commented on #4666
Issues with dim still, moving to preview 8

[2019-06-27 20:35] anurse commented on #7728
Ping again? @ajcvickers @divega ?

[2019-06-27 20:36] Tratcher commented on #11654
It's not going to be that simple. The server has expectations based on the method and overriding the method is likely to cause the app to violate those expectations.

Content-Length Example:
Request:
GET [URL]
x-Http-Method-Override: HEAD

Response:
200 OK
Content-Length: 200

At this point the server is expecting the app to provide 200 bytes or else it's an error and it will abort the connection.

[2019-06-27 20:37] anurse commented on #8763
Closing this as we haven't heard from you and generally close issues with no response. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-06-27 20:37] #8763 closed

[2019-06-27 20:39] anurse commented on #10006
@jkotalik and @Tratcher talked about this and decided it was a bad idea (PR: https://github.com/aspnet/AspNetCore/pull/10655)

[2019-06-27 20:39] #10006 closed

[2019-06-27 20:39] ajcvickers commented on #7728
@anurse It is in the EF breaking changes doc.

[2019-06-27 20:42] anurse commented on #10004
We think most of them are good but @shirhatti is concerned about the Hosting ErrorPage.

[2019-06-27 20:45] #7728 closed

[2019-06-27 20:56] Andrzej-W commented on #11617
@mkArtakMSFT there are probably thousands of programmers around the world who don't even know that VS supports .editorconfig. It is not bad to promote this wonderful feature.

In my opinion it is not a good argument because:
1. When you install VS it has some defaults for tab stops, indentation rules, etc. You can suggest the same settings in the .editorconfig file. I have no experience in VS temp

[2019-06-27 21:03] Andrzej-W commented on #11617
Maybe this minimal .editorconfig file shouldn't have `root=true`. This will solve the problem when people have one .editorconfig file in some folder and all solutions in subfolders.
[code]

[2019-06-27 21:13] los93sol commented on #10657
Did the fix make it in?  On preview 3 now and it doesn't seem to be working for me

[2019-06-27 21:41] Eilon commented on #11659
RESX files are really meant to be compiled - they're not a great format for editing at runtime (it might *seem* like they are, but they aren't).

This might be better solved by something like with Orchard CMS does with PO files. Pinging @sebastienros

[2019-06-27 22:00] NTaylorMullen commented on #11502
Validated in VSCode and VS

[2019-06-27 22:00] #11502 closed

[2019-06-27 22:03] NTaylorMullen commented on #11044
Bits have been inserted.

[2019-06-27 22:03] #11044 closed

[2019-06-27 22:04] NTaylorMullen opened #11663 "Update Razor VSCode for 3.0.0-preview8"

[2019-06-27 22:06] #10820 closed

[2019-06-27 22:11] BrennanConroy commented on #10774
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [ ] Relevant XML documentation comments for new public APIs are present.
    * [ ] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-06-27 22:13] Bartmax commented on #11654
I think that's a fair trade off

[2019-06-27 22:27] pranavkm opened #11664 "Update MessagePack dependency"
It's been a while since we've updated the submodule.

[2019-06-27 22:27] pranavkm commented on #11664
FYI @mkArtakMSFT

[2019-06-27 22:29] dougbu commented on #11393
4e4ccdd92a91

[2019-06-27 22:29] #11393 closed

[2019-06-27 22:33] enricoreich commented on #11600
SDK 3.0.100-preview7-012687 is working so far. Thanks!

[2019-06-27 22:33] #11600 closed

[2019-06-27 22:36] Tratcher commented on #11640
I reproduced this with Postman and yes it is sending the incorrect encoding. It should be `http://localhost:50690/api/St%C3%A4dte`.

https://learning.getpostman.com/docs/postman/sending_api_requests/requests/

"Note: Parameters you enter in the URL bar or in the data editor will not automatically be URL-encoded. Right click a piece of selected text, and select "EncodeURIComponent" to manually enco

[2019-06-27 22:41] #5947 closed

[2019-06-27 22:44] halter73 commented on #11495
Fixed by #11496

[2019-06-27 22:44] #11495 closed

[2019-06-27 22:49] halter73 commented on #11594
Can you provide details on TypeInitializationException's InnerException? Is the default JsonHubProtocol constructor throwing?

[2019-06-27 22:50] BrennanConroy commented on #9525
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [ ] Relevant XML documentation comments for new public APIs are present.
    * [ ] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-06-27 22:53] halter73 commented on #11632
@anurse Can we define tests that run nightly instead of on every PR/checking using the YAML of DOOM?

[2019-06-27 22:57] halter73 commented on #11632
I'm looking at [signalr-daily-tests.yml](https://github.com/aspnet/AspNetCore/blob/master/.azure/pipelines/signalr-daily-tests.yml), but I don't see the trigger.

[2019-06-27 22:59] halter73 commented on #11632
I see the comment about scheduled triggers, but I don't see any "schedule:". Do I need an AzDo admin account?

https://github.com/aspnet/AspNetCore/blob/master/.azure/pipelines/signalr-daily-tests.yml#L1-L2

[2019-06-27 23:02] mkArtakMSFT opened #11665 "Write documentation for areas, we have little coverage on"
We have some debt in the Docs area, and all this work is tracked here: https://github.com/aspnet/AspNetCore.Docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3APU+label%3A%223.0%22

This issue will be used as a reminder for us to triage the docs issues and reserve time to handle those we think are important.

[2019-06-27 23:06] anurse commented on #11632
Schedules in YAML didn't exist when we made the SignalR daily tests.

[2019-06-27 23:40] danroth27 opened #11666 "Show NPM progress when building a SPA app"
There isn't any feedback or indication that an NPM install is happening when you first build a SPA app (Angular/React). We should show the NPM progress.

Repro steps:
- `dotnet new angular`
- `dotnet run`

Expected results:
- Some sort of indication of what is happening

Actual result:
- No output for ~5min while the NPM install happens.

[2019-06-27 23:44] danroth27 opened #11667 "Garbled console output when running a new Angular app"
There is some garbled text in the console output ("i ∩╜ówdm∩╜ú: Compiled successfully.") when you run a new angular app for the first time with preview7.

Repro steps:
- Install .NET Core 3.0 SDK: 3.0.100-preview7-012685
- `dotnet new angular`
- `dotnet run`

Output:

[code]

[2019-06-27 23:50] #11521 closed

[2019-06-28 00:01] danroth27 opened #11670 "Show build progress when running a client-side Blazor project"
When you run a client-side Blazor project the build takes a little while because we run the IL linker to strip out unused code. There isn't any console feedback to the user while this is happening.

Repro steps:
- Install .NET Core 3.0 and the client-side Blazor templates
- `dotnet new blazorhosted -o BlazorHostedApp1`
- `cd BlazorHostedApp1/BlazorHostedApp1.Server`
- `dotnet run`
- Wait a long ti

[2019-06-28 00:37] danroth27 commented on #11670
I chatted with the .NET CLI folks about this and this behavior of dotnet run is by design.

[2019-06-28 00:37] #11670 closed

[2019-06-28 00:38] danroth27 commented on #11666
I chatted with the .NET CLI folks about this and this behavior of dotnet run is by design.

[2019-06-28 00:38] #11666 closed

[2019-06-28 00:54] gregpakes commented on #10515
I just wanted to provide an update here.

@anurse has been very helpful over email, but I am still a little stuck without knowing the ins and outs of the framework.  So hopefully someone else can point me in the right direction.

- When we use the default `ServiceProviderMode` (Dynamic), we see two memory spikes on the first load of the razor views.  **NB. Not on application start**
- When we set

[2019-06-28 01:14] hez2010 opened #11671 "Blazor: A more flexible and easy-to-use router."
### Is your feature request related to a problem? Please describe.
Feature request.
Currently we can only pass parameters via query in Router, and also we cannot apply Layout to NotFoundContent. It's not flexible at all and it's really hard to use.

### Describe the solution you'd like
I'd like to introduce a `<Switch>` which performs like a `<Frame>` in UWP, and we can use `<Route>` to set routed

[2019-06-28 01:45] mkArtakMSFT commented on #11664
Adding this to the Preview 8, given the cost.

[2019-06-28 01:46] mkArtakMSFT commented on #10657
@pranavkm FYI

[2019-06-28 02:34] khteh opened #11673 "HubConnection with HttpTransportType.WebSockets StartAsync throws System.Net.WebSockets.WebSocketException : Unable to connect to the remote server"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.
Failure the c

[2019-06-28 02:39] #11279 closed

[2019-06-28 04:36] ajaybhargavb commented on #11486
Wait `pwd` shows you `github`? When we spoke offline I thought you said your actual casing for the folder in disk was `GitHub`.

[2019-06-28 04:37] jivanova opened #11674 "RenderFragment is not recognized in Visual Studio when its name matches a html tag"
### Describe the bug
RenderFragment within a component is not recognized in VS and is not shown in the intellisence.

### To Reproduce
[code]
[code]
### Expected behavior
`Template` to be recognized as a RenderFragment and to be present in the intellisence.

### Screenshots
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/7159157/60317

[2019-06-28 05:07] DanTsion commented on #5579
Hello, same question to @SteveSandersonMS ...
Do you advance to the issue ?
Thanks

[2019-06-28 05:58] AHTA commented on #8980
This work for me

In the file _MyProject.csproj_

I Change this line
`<AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>`

For this
`<AspNetCoreHostingModel>OutOfProcess</AspNetCoreHostingModel>`

I'm looking for a better solution...

[2019-06-28 06:04] GeraudFabien commented on #11637
Hello, I'm curious about what make you choose between:
1. [Microsoft](https://github.com/Microsoft)
2. [dotnet](https://github.com/dotnet)
3. [SignalR](https://github.com/SignalR)
4. A new one

I don't have any preference or idea on the subject i'm just curious.

[2019-06-28 06:11] BrennanConroy commented on #11486
Yes, those are both true

[2019-06-28 06:31] aureole82 commented on #11640
@Tratcher
1) Just to proof that IISExpress encodes the POST uri **with body** well and doesn't encode the GET/POST uri without body:
![11640 - Postman GET isn't encoded, but POST is](https://user-images.githubusercontent.com/4819891/60322091-e8ab9a00-997e-11e9-9a89-77129465561c.gif)

2) Running the web application by console returns in all cases: **400 Bad Request**! (like expected)

So I would sa

[2019-06-28 06:35] sebastienros commented on #11659
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/portable-object-localization?view=aspnetcore-2.2

[2019-06-28 06:52] geffzhang opened #11676 "Cannot find compilation library location for package 'Microsoft.AspNet.WebApi.Client' .Net Core 2.2"
I have .net core 2.2.0 installed and I'm trying to run the published docker of my asp.net core mvc application from the deployment folder of the same PC I'm publishing from using Visual Studio 2019.

When I go to run it with k8s , the project starts and spins up the webserver on my 80  port as expected, but when I access the server Kestrel spits out an error message:
[code]
**this is dockerfile：**

[2019-06-28 07:18] GerFVersteegGitHub commented on #8980
Hi AHTA,

Sorry, but everything is the same as before. only the error header is changed in Azure:
HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure
I hope you will find something else. Thanks for your devotion

[2019-06-28 07:36] smartcodinghub commented on #11597
I can do it this weekend, if you can point me how to do it. (dotnet version, docs to update, etc...)

[2019-06-28 07:46] #10872 closed

[2019-06-28 08:16] EnricoMassoneDeltatre commented on #10514
I'll try to open an issue directly to Swashbuckle, by referencing this issue. I'll write here in case of news

[2019-06-28 08:21] SteveSandersonMS commented on #10698
Done in https://github.com/aspnet/AspNetCore/pull/11548

[2019-06-28 08:21] #10698 closed

[2019-06-28 08:28] SteveSandersonMS commented on #11671
It's an interesting idea, @hez2010!

I'd recommend you implement this and see how well you feel it works in practice. As far as I'm aware, there's nothing to stop some `<Switch>` component like this from being implemented in application code (it doesn't have to be done in the framework repo).

If you find it's much better, you might want to publish it as a NuGet package so others can use it. In th

[2019-06-28 08:28] #11671 closed

[2019-06-28 08:29] SteveSandersonMS commented on #11671
Closing as it's not something we plan to take action on in this repo in the immediate future, but marking as discussion. Please feel free to continue discussing here if you wish.

[2019-06-28 09:23] ZergZe opened #11677 "InvokeAsync: Method not found "System.Runtime.CompilerServices.Unsafe.Unbox""
### Describe the bug

Call **InvokeAsync** method passing **ElementRef** as argument crashes client-side Blazor if "**\<BlazorLinkOnBuild\>false\<\/BlazorLinkOnBuild\>**" in project.

### To Reproduce

Have components razor markup:

[code]

with c# code:

[code]

Works fine in server blazor and in client-side blazor if there is no "\<BlazorLinkOnBuild\>false\<\/BlazorLinkOnBuild\>" in project.

if

[2019-06-28 09:37] LaughingJohn commented on #9643
![image](https://user-images.githubusercontent.com/305820/60333257-6f1ca780-9990-11e9-8326-e471a37528eb.png)

![image](https://user-images.githubusercontent.com/305820/60333301-8d82a300-9990-11e9-9e3f-34badd5ef844.png)

I appreciate this could be a pre-release thing, but I get this all the time, although everything works. My code looks like this:

<button onclick="@ShowHideWindow">Show/Hide Dialog

[2019-06-28 10:19] EnricoMassoneDeltatre opened #11678 "SignalR core: confusion about the usage of sticky sessions when scaling out the app"
Hi,

we are migrating an old ASP.NET MVC application written in .NET framework 4.7.1 to ASP.NET core 2.2

The process has been quite smooth until now, but we are facing some issues with the porting from the "old" signalr library for .NET framework 4.7.1 to the new .net core signalr library. This is a summary of our current environment:

 - `asp.net core 2.2` MVC web application
 - `Microsoft.AspNe

[2019-06-28 10:36] ZergZe commented on #11677
Found [this](https://github.com/mono/mono/issues/14871).
Seems to be the same.

[2019-06-28 10:59] conficient opened #11679 "Nested binding using @bind-xxx syntax does not work"
### Describe the bug
Binding values using `@bind-XXX` binding syntax does not work if nested.

### Demo
![BlazorBug04](https://user-images.githubusercontent.com/454494/60328107-74c0c000-9985-11e9-9f45-9eccc086bc50.gif)

### To Reproduce
Steps to reproduce the behavior:
1. Create a Blazor client-side application using Preview6
2. Create a new custom control that also uses `@bind-Value` syntax in th

[2019-06-28 11:51] nour-s commented on #6104
@tarim
Apparently it is not gonna be soon to get that list, so I used ConcurrentDictionary  to persist every connection when connected, and removing it from the list when disconnected.

Not ideal, but it does the job so far.

[2019-06-28 11:56] abrantie1z commented on #11594
Ok sir.
System.TypeLoadException: Could not load type of field 'System.Text.Json.JsonWriterHelper:s_hexStandardFormat' (1) due to: Could not resolve type with token 01000050 from typeref (expected class 'System.Buffers.StandardFormat' in assembly 'System.Memory, Version=4.0.1.1, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51') assembly:System.Memory, Version=4.0.1.1, Culture=neutral, PublicKeyTo

[2019-06-28 12:33] jekawo commented on #11486
I have the same problem, Stack trace:
[code]

[2019-06-28 13:31] davidfowl commented on #11678
Sorta. By default it's required because SignalR will at the very least make 2 requests regardless of the transport. First the negotiate request to determine what transports the server supports, second is the attempt to connect to that transport. It may make more requests to other transports as it tries to fallback. This all requires sticky sessions to work as SignalR Core requires the transport re

[2019-06-28 14:22] LaughingJohn opened #11681 "Blazor event bubbling and eventtarget (client side)"
I think this is related to #5545 and also [https://github.com/aspnet/Blazor/issues/1277](https://github.com/aspnet/Blazor/issues/1277)

Basically I'm trying to implement a "modal" dialog similar to this example: [https://www.w3schools.com/howto/howto_css_modals.asp](https://www.w3schools.com/howto/howto_css_modals.asp)

I want the dialog to close when the close button is clicked or when the overla

[2019-06-28 14:23] EnricoMassoneDeltatre commented on #11678
Hi,

thanks for replying.

So, summarizing, there are two options available:
 - switching ARR affinity on: this way the app will work **regardless** of the communication protocol used
 - leave ARR affinity off and skip the negotiation from the client side: this way it should work, but we will lose the ability to negotiate the protocol: **the only supported protocol with this configuration is web s

[2019-06-28 14:31] dazinator opened #11682 "Blazor - Please consider exposing the IFileProvider for the static content."
### Is your feature request related to a problem? Please describe.

The following extension method provided by Blazor constructs a new `IFileProvider` that is capable of returning static files for a blazor client app.

[code]

However, it doesn't expose this IFileProvider anywhere, instead it just adds a static files middleware to the pipeline that sits on top of it - something I can't figure out

[2019-06-28 14:35] Mertsch commented on #11637
The organization
https://github.com/SignalR
could probably also use a new description to reflect the change

[2019-06-28 14:44] danobri commented on #10883
Any update on this?  Is there a straight forward way to modify the project so all the pages are using the same layout?

[2019-06-28 15:33] BrennanConroy commented on #11594
Thank you for the exception information. This is a dupe of https://github.com/aspnet/AspNetCore/issues/8768

I verified a build of VS 16.2 had the fix so you might need to update your VS installation.

[2019-06-28 15:38] SteveSandersonMS commented on #11610
Agreed - doesn't seem to serve any purpose.

Could be added in the future; don't need to now. In the short term people who need it can set things on captured variables to achieve the same affect (albeit with some perf cost).

I'd be fine with moving to `OnInitialized`. Consensus above certainly points that way.

It seems like the best option still. C# isn't good at dealing with this "multiple poss

[2019-06-28 15:43] SteveSandersonMS commented on #11610
@NTaylorMullen

It's a limitation in System.Text.Json - we have to be able to deserialize incoming JSON representations of these references. If they can now deserialize `private` things then we should make it private.

[2019-06-28 15:44] mkArtakMSFT commented on #11677
Thanks for contacting us, @ZergZe.
We've updated the mono bits days ago: https://github.com/aspnet/AspNetCore/issues/11448
So most probably that's in.

[2019-06-28 15:44] #11677 closed

[2019-06-28 15:45] rynowak commented on #11610
It won't deserialize private things, but we can now write a custom converter, so we should do that.

[2019-06-28 15:45] SteveSandersonMS commented on #11677
Yes, this is fixed in the upcoming preview 7 release.

[2019-06-28 15:50] anurse commented on #10515
This would make sense if there are a lot of code-generation paths going on.

This is likely the root cause of 2. I'm not sure where to start yet either but it's something we can continue to dive in to (cc @davidfowl)

[2019-06-28 15:53] anurse commented on #10872
![A man standing in a mirror, we see his reflection. He raises his hand in a thumbs-up gesture and says "We did it"](https://www.bing.com/th?id=OGC.3b320d1565afaa59c6451a91399e5156&pid=1.7&rurl=https%3a%2f%2fmedia.giphy.com%2fmedia%2f3ornkf4SAQutQCpLgc%2fgiphy.gif&ehk=0DOxbah74IMCJkssihcvGw)

[2019-06-28 15:55] Tratcher commented on #7370
Isn't this superseded by CompleteAsync?

[2019-06-28 16:00] anurse commented on #11637
Right now, the `SignalR` GitHub organization hosts ASP.NET SignalR (the version that predates this one). We are doing some work to consider how to restructure things like this though.

We considered most of these:

1. `@dotnet/signalr` continues to indicate SignalR can only be used with .NET, which has the same problem as `@aspnet/signalr`. With the Azure SignalR Service REST APIs and Azure Functi

[2019-06-28 16:09] anurse commented on #11637
**TL;DR**: If you develop a JavaScript **library component** that depends on `@aspnet/signalr`, we'd like to hear from you!

One **open question** that we'd like some support from the community on is how to manage the name transition. Here, we'd love feedback from app developers **and** anyone developing other NPM components that depend upon `@aspnet/signalr`.

My biggest concern is if a library c

[2019-06-28 16:12] davidfowl commented on #10515
I wonder if something is wrong with the EF configuration causing it to do weirdness (like making a bunch of internal service providers).
cc @ajcvickers @roji

[2019-06-28 16:18] davidfowl commented on #11610
Wait it really can't deserialize private classes?

[2019-06-28 16:19] mkArtakMSFT commented on #11682
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-06-28 16:20] ajcvickers commented on #10515
@davidfowl What does the code that registers EF in D.I. look like?

[2019-06-28 16:20] LaughingJohn commented on #11681
One point of note is that I need to be able to open/close the dialog from a parent dialog so I currently have an "IsOpen" boolean. I tried just using Javascript to do the open/close but I'm struggling to figure out how to keep it in sync. To use javascript I have to use the onclick event in order to get the event.target. Unless I'm missing something I can't then call into the instance method to ke

[2019-06-28 16:22] mkArtakMSFT commented on #11681
Thanks for contacting us, @LaughingJohn.
The actual ask you have here is indeed a duplicate with the referenced issues.
As for the rest leaving this issue open so community members can help you out.

[2019-06-28 16:25] anurse commented on #10515
@AdamRiddick and @gregpakes shared some of the code with me offline, I can loop you both in on the thread.

[2019-06-28 16:27] mkArtakMSFT commented on #11679
Thanks for contacting us, @conficient .
You can write it this way, and the changes would propagate.
[code]

Alternatively, you can simply subclass from the `InputText` component.

[2019-06-28 16:27] #11679 closed

[2019-06-28 16:28] mkArtakMSFT commented on #11674
Thanks for contacting us, @jivanova.
This will be addressed as part of #9860 work.

[2019-06-28 16:28] #11674 closed

[2019-06-28 16:31] #11659 closed

[2019-06-28 16:36] halter73 commented on #7370
No. CompleteAsync is preferred b/c it allows the app to observe back pressure while also signalling response completion. Had it not been for the back pressure issue, there wouldn't be a need for both Response.BodyPipe.Complete and CompleteAsync.

[2019-06-28 16:39] mkArtakMSFT commented on #11558
It's not clear what's being asked here. Closing, until we have a concrete proposal here.

[2019-06-28 16:42] mkArtakMSFT commented on #11549
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-06-28 16:42] jkotalik commented on #11279
[code]

[2019-06-28 16:43] mkArtakMSFT commented on #11549
FYI: You're trying to embed a razor content in the output of the Tag Helper, and that's not supported.

[2019-06-28 16:44] jkotalik commented on #9720
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [ ] Relevant XML documentation comments for new public APIs are present.
    * [ ] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-06-28 16:46] laurence73 commented on #11677
Great to hear! this has been causing untold nightmares as we have referenced projects using Microsoft.CodeAnalysis.CSharp which requires <BlazorLinkOnBuild>false<<BlazorLinkOnBuild> :-)

[2019-06-28 16:46] minhhieugma commented on #11174
Thank guy, it works. Can you tell me how to include script/link automatically as blazor client side rendering can do? I would not like to manual add it!

[2019-06-28 16:49] mkArtakMSFT commented on #11544
Thanks for contacting us, @SchroterQuentin.
We'll provide an option so that `FromRoute` attribute decodes specific (by you) parameters.

[2019-06-28 16:53] jkotalik commented on #9810
Acceptance will be handled by https://github.com/aspnet/AspNetCore/issues/10927

[2019-06-28 16:56] mkArtakMSFT commented on #6571
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-06-28 16:56] #6571 closed

[2019-06-28 16:57] mkArtakMSFT commented on #6566
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-06-28 16:57] #6479 closed

[2019-06-28 16:57] mkArtakMSFT commented on #6479
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-06-28 16:58] #6446 closed

[2019-06-28 17:00] chobo2 commented on #11527
@anurse - thanks, will check it out and get back.

[2019-06-28 17:00] mkArtakMSFT commented on #6441
Thanks @rafsanulhasan.
In 3.0 we're working with community to have great API documentation support through OpenAPI. We have no plans to support any specific hyper-media based formats. You are, however, free to use any existing community-based solutions.

[2019-06-28 17:00] #6441 closed

[2019-06-28 17:00] Tratcher commented on #7370
BodyPipe.Complete also stops working as soon as you use a middleware that replaces the response stream (e.g. response compression) and the pipe auto-replaces with an adapter. We're going to implement CompleteAsync there too. CompleteAsync will be more reliable for apps to call than BodyPipe.Complete.

[2019-06-28 17:04] Tratcher commented on #7370
To that end, we should not have Complete close the response, only CompleteAsync, so devs always get a consistent experience with and without the adapters.

[2019-06-28 17:09] #7974 closed

[2019-06-28 17:12] pranavkm commented on #6729
We're tracking addressing this using an analyzer in https://github.com/aspnet/AspNetCore/issues/8535.

Is there a reason you weren't able to use `IConvertToActionResult`? It's the contract the rest of MVC uses to produce an instance of `IActionResult` from `ActionResult<T>`.

[2019-06-28 17:13] pranavkm commented on #11676
Does the published application work outside of docker?

[2019-06-28 17:16] jfcaldeira commented on #11549
I see, so there is no workaround for this? I have just been feeding it @Url.Page(""), it does the job but would rather have to just right the path "./Index" or "../Index"

[2019-06-28 17:36] pranavkm opened #11686 "CircuitHost should handle SemaphoreSlim correctly"
@BrennanConroy pointed out we're not observing the results of `WaitAsync`:

https://github.com/aspnet/AspNetCore/blob/master/src/Components/Server/src/Circuits/CircuitHost.cs#L219

[2019-06-28 17:37] SteveSandersonMS opened #11687 "Blazor templates: add `@using Microsoft.AspNetCore.Authorization`"
We should add `@using Microsoft.AspNetCore.Authorization` to the top-level `_Imports.razor`, otherwise it's hard to write:

[code]

[2019-06-28 17:37] SteveSandersonMS commented on #11687
It's an open question whether we do this unconditionally or only when one of the authentication mechanisms has been chosen.

[2019-06-28 17:45] rynowak commented on #11610
It can deserialize private classes, they don't look at private properties.

[2019-06-28 17:47] davidfowl commented on #11610
Ah ok

[2019-06-28 18:02] #11486 closed

[2019-06-28 18:06] anurse opened #11688 "Consider migration story for @aspnet/signalr"
**TL;DR**: If you develop a JavaScript **library component** that depends on `@aspnet/signalr`, we'd like to hear from you!

One **open question** that we'd like some support from the community on is how to manage the name transition. Here, we'd love feedback from app developers **and** anyone developing other NPM components that depend upon `@aspnet/signalr`.

My biggest concern is if a library c

[2019-06-28 18:06] anurse commented on #11688
Another option I just thought of:

4. Retroactively ship `@microsoft/signalr` shims for the existing `@aspnet/signalr` packages which just *re-export `@aspnet/signalr`* types, like the other proposed shim above.
    * Pros: Anyone at any version can just move to the new package name without breaking existing apps.
    * Cons: I'm actually thinking this is the win-win scenario. We have to ship thes

[2019-06-28 18:09] anurse commented on #11688
I'm leaning hard to option 4 here. It provides a clear migration path for everyone, doesn't require us to keep maintaining shims (since we just ship on-time `@microsoft/signalr` shims for existing `@aspnet/signalr` versions) and type identity works fine because JavaScript.

[2019-06-28 18:11] bradygaster commented on #11688
So far I'm with @anurse on option 4 seeming to be the path of least resistance and maintenance.

[2019-06-28 18:15] danobri commented on #10883
Also - if you scaffold  any of the Identity pages in order to override the default behavior, you get additional weirdness.  The Blazor layout gets wrapped in the Identity layout.  I was able to fix by removing some of the files that were added in the scaffolding, but figured it was worth mentioning.  Given that I am new Blazor, Razor Pages, and Identity, it's not clear to me why the identity pages

[2019-06-28 18:18] BrennanConroy commented on #11688
And if we patch the npm package will we only update the new `@microsoft/signalr` package or do both?

[2019-06-28 18:21] halter73 commented on #7370
Exactly. We could have made disposing the response body  stream exhibit reasonable behavior if we didn't have to continue supporting the broken behavior from 1.0. Notice how no tests failed except for two that explicitly expected this not to throw. Without the albatross of backwards-compatibility, we can finally make a nice API.

The fact that middleware that replaces the response stream has to th

[2019-06-28 18:22] mikaelm12 commented on #11688
Yes, this is also my concern. I feel like servicing both will become a thorn in our side.

[2019-06-28 18:29] mikaelm12 commented on #11688
Having `@signalr/signalr` have a direct dependency on `@microsoft/signalr` feels dishonest for lack of a better word. I'm not sure if allowing two ways to get the same version of client in general is the best approach. I'm personally leaning towards just not continuing to ship the `@aspnet/signalr` package. It will be unfortunate that we'll end up in the same situtation as we have with the java cl

[2019-06-28 18:30] macoratti opened #11689 "ASP NET Core 3.0 Preview - Error load services OData and Versioning"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
A clear and concise description of what the bug is.

### To Repro

[2019-06-28 18:34] #11689 closed

[2019-06-28 18:42] bradygaster commented on #11688
To clarify, as you mentioned `@signalr/signalr` so I just want to make sure I got your point, reworded below:

I'm inclined to agree with @mikaelm12 philosophically on this, as it does seem weird (like it did years ago when Jeff described a similar pattern in NuGet) to **actually** be pulling the `@aspnet/signalr` package when you asked for the `@microsoft/aspnet` package. However, I think it is t

[2019-06-28 19:01] hez2010 commented on #11671
@SteveSandersonMS Implemented at https://github.com/hez2010/BlazorRouter

[2019-06-28 19:04] Tratcher commented on #11585
@rynowak What's the rationale for moving this to servers? It seems specific to MVC's filters layer.

[2019-06-28 19:36] mikaelm12 commented on #11688
Didn't mean `@signlar/signalr`! My b. Editing it now to read `@aspnet/signalr`

[2019-06-28 19:38] bnb commented on #11688
Hey hi hello 👋

I have some thoughts/opinions that I wanted to share:

I would not recommend doing any kind of mirroring of APIs. It creates a lot more work for a negligible amount of end-user benefit. The amount of work needed to set this up, maintain it, and – most importantly – fix it if anything goes wrong is a much higher cost than any possible end-user benefit that I am aware of. If you want

[2019-06-28 19:49] rynowak commented on #11585
I spoke to @davidfowl and his plan for this was to create a scoping construct for buffering like:

[code]

Or a pair of middleware that do the same.

[2019-06-28 20:23] bnb commented on #11688
Since I have a lot of friends who maintain a non-trivial amount of packages on npm, I decided to [ask about this](https://twitter.com/bitandbang/status/1144683129342431232) in a general sense on Twitter. The responses so far have been super interesting:

- general feedback so far is to do many of the steps y'all have already done + use the deprecation message once the new version is published
	- t

[2019-06-28 20:25] k00ksta opened #11690 "React Native Support"
It would be excellent if you added support for React Native, I have a pretty large project and cannot  seem to get the current release to connect to a asp.net core signalr server via websockets with having negotiation errors with the server. If anyone else has managed to get it working I would love to know how but as it currently stands it would be great for a client to be released from Microsoft.

[2019-06-28 20:27] mikaelm12 commented on #11688
Thanks for your insight on the issue @bnb! Your perspective is really appreciated!

[2019-06-28 20:28] bnb commented on #11688
Happy to help, @mikaelm12! ❤️

[2019-06-28 20:33] JulienM28 opened #11692 ".Net Core 3 preview 6 JWT issue"
.Net Core 3 preview 6
I get an issue securing an API with JWT

In ConfigureServices method I put these services:
[code]

In Configure method I put thes middlewares
[code]
And my controllers are like this:

[code]

But when I make a request without the token,
the server returns the result instead a "not authorized result"

I checked the documentation about JWT, It seems right.

Is anyone have an id

[2019-06-28 20:48] gogroups commented on #4385
no matter a good or bad practice , the option to configure using thumbprint should be there !! just a suggestion.

[2019-06-28 21:01] BrennanConroy commented on #5279
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [x] Relevant XML documentation comments for new public APIs are present.
    * [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [x] The change requires a new article. An issue

[2019-06-28 21:06] JunTaoLuo opened #11693 "Mvc analyzer tests using ref assemblies causes BadImageFormatException"
There are two instances of this: Mvc.Analyzers.Test and Mvc.Api.Analyzers.Test e.g. https://github.com/aspnet/AspNetCore/blob/5c81754badb37cd44506e991bad53a70cc9226cc/src/Mvc/Mvc.Analyzers/test/Mvc.Analyzers.Test.csproj#L25.

In the change we're making to set ReferenceAssemblyAttribute, this is now causing errors:
[code]

In the PR https://github.com/aspnet/AspNetCore/pull/11207 I had to switch th

[2019-06-28 21:11] BrennanConroy commented on #10607
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [x] Relevant XML documentation comments for new public APIs are present.
    * [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-06-28 21:14] Tratcher commented on #11640
Fair, my POST test didn't include a body.

I re-tested this and traced it with Wireshark.  If you post without a body Postman uses ANSI enocoding:
[code]

If you post with a body Postman encodes the entire message using UTF-8:
[code]

It's still not the right encoding, it should be percent escaped UTF-8, but it no longer triggers the same error.

[2019-06-28 21:39] manekinekko commented on #11688
Hey,

I'd like to chime in and provide some feedback–as a member of the JavaScript community and a maintainer/author of some Node packages.

@bnb had already provided a much more detailed response.

So, definitely go for option 1: publish the new package and deprecate the old one, making sure to provide the right communication about this change and how they can get the new package. This, of course

[2019-06-28 21:43] #7370 closed

[2019-06-28 21:52] JulienM28 commented on #11692
I found my answer in this pull request: https://github.com/aspnet/AspNetCore/pull/11621

The correct order for midlewares is:

[code]

After this sort, it works fine.

[2019-06-28 21:52] #11692 closed

[2019-06-28 22:00] satbirbaidwan opened #11694 "Vertical Scroll On All Pages In Default Razor Project Using .Net Core 2.2 and Visual Studio 2017 Professional Version 15.9.13"
### Issue Description
**I just noticed that there is a vertical scroll (shown on the right side) on all pages. I checked this on another machine and new project thinking i may have changed something and it still shows on project created using Core 2.2.**

To confirm i created a another project on first machine this time using Core 2.1 and it does not shows the vertical scroll.

### To Reproduce
St

[2019-06-28 22:16] Eilon commented on #11694
I think this was recently fixed. Some CSS style was too tall by 1px or something like that.

[2019-06-28 22:17] Eilon commented on #11694
Assuming this is the same issue:
* Original issue: https://github.com/aspnet/AspNetCore/issues/7305
* Fixed in https://github.com/aspnet/AspNetCore/pull/8870

[2019-06-28 22:48] BrennanConroy commented on #11234
**Acceptance checklist** (check one item)
* [ ] We decided not to take this fix.
* [ ] The fix is tests-only.
* [x] The fix contains product changes (**check all items below**).
    * [x] Relevant XML documentation comments for new public APIs are present.
    * [x] Narrative docs (docs.microsoft.com) are updated. (**check one item below**)
        * [ ] The change requires a new article. An issue

[2019-06-28 23:11] javiercn opened #11698 "[Build] Reenable components E2E tests on the CI"
These tests got disabled by f76be64e5db2e7a3cc8d41b9055a7aa63c5f52b5 and further changes to the build infrastructure (likely due to 4fde84a7ad48c8265fe868650351c857bcf1bfc2) cause the tests to hang on the CI.

We should get to the bottom of this ASAP as it hurts our ability to deliver the product with confidence.

The change here is to replace
[code]

with
[code]
 on `.\src\Components\test\E2ETest

[2019-06-28 23:20] mkArtakMSFT opened #11699 "Update launchSettings.json for templates to load existing page"
Looks like starting some web projects open browser with 404 result. We need to go over all the projects and update launchSettings.json as necessary to fix that.

[2019-06-28 23:24] mkArtakMSFT opened #11700 "Reference the minified js files from templates"
After we've removed the environment tag helpers, we ended up referencing the raw js files directly. Instead, we should have referenced the minified files.

[2019-06-28 23:41] mkArtakMSFT commented on #11549
You can simply use the Razor content you have in this tag helper instead of it, wherever you reference it.

[2019-06-28 23:42] mkArtakMSFT commented on #11549
Seems like you're just trying to have a reusable razor component - what about using Partial Views for it?

[2019-06-29 00:11] JunTaoLuo opened #11701 "Remove site extension workarounds"
https://github.com/aspnet/AspNetCore/blob/master/src/SiteExtensions/build.cmd#L13

[2019-06-29 02:43] davidikin45 commented on #11635
Currently using {culture} in my routes and would be a pain to have to pass it into all action links

[2019-06-29 03:16] geffzhang commented on #11676
the published  application work outside of docker

[2019-06-29 03:46] danroth27 opened #11706 "Client-side Blazor templates indistinguishable in VS 16.3 P1"
The client-side Blazor templates currently show up with the same name and description in VS 16.3 P1:

![blazor-templates](https://user-images.githubusercontent.com/1874516/60379285-5b4f6080-99e5-11e9-97a0-6d1035ea15f9.png)

This is because the updated localization content for these templates already went into 16.3 before the work to rename and refactor the templates was done (see https://github.co

[2019-06-29 03:52] danroth27 commented on #10348
@isaac2004 I discussed this with @seancpeters and for now, let's rename the folders for the ASP.NET Core Hosted template to always be "Client", "Server", and "Shared" without any other prefix.

/cc @vijayrkn

[2019-06-29 04:59] ygoe commented on #6566
@mkArtakMSFT Can you please explain why you believe the question has been answered / the bug has been fixed? I cannot see how this is the case. Please reopen until this has been fixed. In case you didn't know, there are other regions in the world than those that use a decimal point. And currently I can't use proper HTML with decimal numbers with ASP.NET Core MVC data binding.

[2019-06-29 05:51] hez2010 opened #11708 "Blazor: Provide a better router."
### Is your feature request related to a problem? Please describe.
Feature request. Please provide a better router.

### Describe the solution you'd like
Original design see #11671.
I implemented it at https://github.com/hez2010/BlazorRouter. It provides router events, routing parameters, and enables state management for Blazor. I published it as a nuget package Hez2010.BlazorRouter.

I think it w

[2019-06-29 07:10] JunTaoLuo commented on #11342
Thanks @javiercn !

[2019-06-29 07:16] filunK opened #11709 "appsettings.Development.json does not load properly"
I'm afraid of being that appsettings.Development.json does not load properly.

When I debug my aspnetcore application with ASPNETCORE_ENVIRONMENT set to Development I found that a value was set unexpectedly, which the value comes from appsettings.json, not appsettings.Development.json.

### Environment

| name | value  |
|---|---|
| OS  | Ubuntu Budgie 19.04  |
| dotnet | 2.2.204 |
| DevTool | Vis

[2019-06-29 07:51] jfcaldeira commented on #11549
Could you show me an example please? I tried add asp-page on it and didn't do anything

[2019-06-29 09:02] hez2010 commented on #11690
If you want to use raw Websocket, you need to add app.UseWebSockets() and write your own middlewares to route and handle WebSockets connections.

[2019-06-29 09:15] conficient commented on #11679
I tried the approach you suggested but this results in a WASM error:
[code]
I think this is because the ValueChanged event handler isn't set?
I resolved my issue anyway once I realised (thanks to @joshlang ) that I needed to invoke the `ValueChanged` from the `Value` property setter.

I will push the updated version on this code to my repo. This issue can remain closed though.

[2019-06-29 10:52] DumboJetEngine opened #11710 "Provide improved Blazor/Razor syntax"
Just a suggestion/idea:

Please provide alternative syntaxes for blocks of C# code, placed inside HTML like this:

[code]
Visual Studio does a bad job at auto-formatting mixed code (C# and HTML), especially after you install add-ons that add additional formatting.

I believe it is easy and much more elegant to use something similar to angular's attributes, e.g., using a `@-sth(...)` format:
[code]

[2019-06-29 11:13] davidfowl commented on #11585
I specifically don’t want a middleware. I just want to make the logic that @pranavkm wrote in the formatter easier to write without requiring a middleware in the pipeline.

[2019-06-29 11:28] DAllanCarr commented on #11709
There seems to be diffs between prod and dev files.

[2019-06-29 12:09] javiercn commented on #11342
This is not completely closed. I had to skip the component tests because they hang on the CI

[2019-06-29 12:40] abrantie1z commented on #11594
ok Sir, will look at that, if it works , will comment and close the issue. Thanks you all

[2019-06-29 13:08] ApocDev opened #11711 "Blazor Client Side: Provide an Async startup method"
On server side, we have the ability to read files synchronously, and run web requests synchronously, so we can capture configuration, load extra data, etc, from remote places.

On client side however, anything not specifically hard-coded into the Blazor project assembly, must be retrieved via an async web request (or async JSInterop call).

Currently, there is no way to do this in a stable way, th

[2019-06-29 14:19] janleon commented on #7647
Will this be available for .net standard 2.0?

I currently have my razor view compilation in a .net standard 2.0 class library referenced in the web app and when trying to upgrade my web app to use .net core 3 it fails with the following error message:

`MissingMethodException: Method not found: System.Collections.Generic.IList1<Microsoft.Extensions.FileProviders.IFileProvider> Microsoft.AspNetCor

[2019-06-29 14:29] jaydg2000 commented on #6111
I'm having the exact opposite issue. When deployed to IIS, everything works perfectly. It's only within the IDE and running against IIS Express that I get this exact error. No idea why.

[2019-06-29 17:36] aodl commented on #8631
Thanks for the response. Suppose there are many `IHostingStartup` filters being used by a project, and it's not immediately obvious exactly what each startup filter is doing to get their job done (adding / overriding configuration). It would be very useful to be able to inspect/log the host configuration state before each `IHostingStartup` filter augments it. Is there currently a way of doing some

[2019-06-29 17:58] lextm commented on #6111
@jaydg2000 That's because IIS Express ships with a fixed version of ASP.NET Core module, which can be lower than the version required by your app.

[2019-06-29 18:05] AlenToma commented on #6111
Just reloaded the project and it worked

[2019-06-29 18:11] isaac2004 commented on #10348
Do you need an ETA of when this needs to be done? I assume you want it in 3.0 RC?

[2019-06-29 22:59] danroth27 commented on #10348
We need to get this done in the next few weeks for 3.0 Preview 8.

[2019-06-29 23:01] isaac2004 commented on #10348
@danroth27 I should have it done early this week

[2019-06-29 23:02] isaac2004 commented on #11700
My bad, I'll fix

[2019-06-29 23:10] isaac2004 commented on #11687
Warpping in am Auth conditional is what the other templates do, so that makes most sense

[2019-06-29 23:11] haavamoa opened #11714 "Blazor library with Javascript interop fails server-side"
### Describe the bug
I have created a Blazor library package (using the `blazorlib` template). In that library I have only created a simple JavaScript interop that should set focus on a element.
Here is the source code for that library: https://github.com/haavamoa/BlazingFocus

When referencing this in a client-side Blazor project (`blazor` and `blazorhosted` templates), everything is working.

Wh

[2019-06-29 23:18] JamesNK opened #11715 "API to make using the request activity easier"
Hosting sets up an activity for each request (if logging or the diagnostic listener is enabled) called `Microsoft.AspNetCore.Hosting.HttpRequestIn`

Web frameworks may want to add additional data to the activity as tags for telemetry frameworks who use the activity. For example, gRPC uses a custom status trailer instead of HTTP status. Adding the status trailer to the activity would allow telemetr

[2019-06-29 23:56] ApocDev opened #11716 "Blazor Client-Side: JSRuntime calls from App.razor OnInitializeAsync when renderer started from task continuation causes deadlock"
When running a task before the usual `CreateHostBuilder().Build().Run()` call in Program main (eg; `Task.CompletedTask.ContinueWith(_ => CreateHostBuilder(args).Build().Run());`) running conditional initialization logic in App.razor (or any other place that runs during initialization and makes a JSRuntime call) will hang the renderer, and seemingly also the browser.

### To Reproduce
Steps to repr

[2019-06-30 00:38] Andrzej-W commented on #11197
Are you going to automatically add this field to original source code (for example index.razor) or to index.razor.g.cs file?

[2019-06-30 02:53] thorgeirk11 commented on #10080
I am having a similar issue. I am using preview 6 of asp.net core SignalR client inside of unity and compiling with IL2CPP.

I am running into an exception when starting the connection:

[code]
The `connection.StartAsync` fails with the following exception:
[code]

I have already included a link.xml file into my Unity project to make sure that code stripping is not causing this. The link.xml file

[2019-06-30 03:53] filunK commented on #11709
Oh, I got it......

[2019-06-30 03:53] #11709 closed

[2019-06-30 04:05] HaoK opened #11718 "[Helix] Enable additional arm queues"
Tracking reenabling the other two arm queues which don't currently work (permissions related)

[code]

Note see coreclr platform matrix for the arm queues they use here: https://github.com/dotnet/coreclr/blob/master/eng/platform-matrix.yml

[2019-06-30 07:43] xclud commented on #11197
#11370

[2019-06-30 07:43] shanselman commented on #11570
Likely it matters because the Layout happened to be in another folder, and when rcz goes to get the leaf nodes, it can't find the root Layout.

[2019-06-30 08:07] HaoK commented on #11718
Likely need to tweak something in https://github.com/dotnet/dotnet-buildtools-prereqs-docker/blob/master/src/ubuntu/18.04/arm64v8/Dockerfile

[2019-06-30 08:08] HaoK commented on #9526
Fixed in https://github.com/aspnet/AspNetCore/pull/11422

[2019-06-30 08:08] #9526 closed

[2019-06-30 12:36] simonmurdock commented on #8952
Still an issue for me with ``dotnet 3.0.100-preview6-012264`` and VS ``16.2.0 Preview 3.0``

IIS works fine with default ASP.Net Core Application, Kestrel fails with ERR_SPDY_INADEQUATE_TRANSPORT_SECURITY

[2019-06-30 12:50] voltagex opened #11719 "Firefox 67.0.4 won't negotiate an SSL connection with localhost"
### Describe the bug
A clear and concise description of what the bug is.
Doing `dotnet new webapp` with .NET Core Preview 6, then opening the project in VS2019 16.2 Preview and running the app produces the following error in Firefox 67.0.4

[code]

I wasn't prompted to trust any kind of certificates by Visual Studio, but this doesn't look like a normal certificate error.

### To Reproduce
Steps to

[2019-06-30 13:39] davidfowl commented on #11715
Do we need NotifyActivityChanged? Otherwise this could just be a property on the `HttpContext`. Then as we add various events during the request pipeline the that send the `HttpContext` consumer can look at the activity to see what changed.

This becomes a simple HttpContext.Activity (via some feature interface, `IHttpActivityFeature`).

[code]

[2019-06-30 13:52] ToddGrun opened #11720 "Exception when renaming cshtml file in latest VS Windows"
[code]

[2019-06-30 14:29] yhvicey opened #11724 "Output format of TimeSpan changed in AspNetCore 3.0"
### Describe the bug

Output format of `TimeSpan` changed in AspNetCore 3.0. For example, if you have below function in both `2.2` and `3.0`:

[code]

For `2.2` application, output would look like below:

[code]

For `3.0` application, output would look like below:

[code]

Is this change made by design? If so, is there any switch/options we can use to switch between two formats?

### To Reproduce

[2019-06-30 14:38] benaadams commented on #11724
/cc @ahsonkhan

[2019-06-30 15:16] BenjaminCharlton opened #11725 "HttpClientJsonExtensions should be able to notify callers about responses from the server that can't be serialized to type T"
### Is your feature request related to a problem? Please describe.

There are some very useful extension methods for the `System.Net.Http.HttpClient` found in `Microsoft.AspNetCore.Components.HttpClientJsonExtensions`. These are used extensively in Blazor apps but are also useful in Console and Windows Forms apps, in fact, any app that interacts with a remote server.

However, with a small change,

[2019-06-30 15:24] #11706 closed

[2019-06-30 15:55] benaadams commented on #11724
You may want to open an issue in https://github.com/dotnet/corefx about System.Json's serialization of `TimeSpan`

[2019-06-30 16:36] rabberbock opened #11726 "Client Side Blazor Authentication NotifyAuthenticationStateChanged not updating Components"
### Describe the bug
Calling NotifyAuthenticationStateChanged after authentication state changes does not update Components with latest AuthenticationState.

### To Reproduce
Here is a link to a demo - https://github.com/rabberbock/BlazorAuthTest

### Expected behavior
On the home page when authentication is set to true or false the authorize view should update automatically.

### Additional conte

[2019-06-30 16:39] yhvicey commented on #11724
Seems this behavior still exists even if I called `.AddNewtonsoftJson()` while configuring services. Will try the result of `System.Text.Json`'s serialization.

[2019-06-30 16:43] yhvicey commented on #11724
Looks like it's caused by `System.Text.Json.Serialization.JsonSerializer`. Result of `JsonSerializer.ToString(TimeSpan.FromHours(1))` looks like what it like in 3.0 apps. But I'm still wondering why it's still been handled by `System.Text.Json.Serialization.JsonSerializer` rather than Json.Net's serializer after calling `.AddNewtonsoftJson()`, is there any additional step I missed?

[2019-06-30 16:51] yhvicey commented on #11724
Found one related issue: dotnet/corefx#38641. Maybe adding a customized JsonConverter will be the workaround.

[2019-06-30 17:02] csharpfritz opened #11727 "BuildServiceProvider in ConfigureServices should raise a warning"
### Is your feature request related to a problem? Please describe.
To encourage better practices, it would be helpful for an Analyzer to raise a warning if BuildServiceProvider is called in ConfigureServices.  This is an antipattern we should discourage

### Describe the solution you'd like

### Additional context

[2019-06-30 19:09] aodl commented on #8070
@NTaylorMullen is there an open issue for the problem(s) with razor class libraries in 3.0? (you mentioned above that razor class libraries don't work). I can't seem to find an open issue to follow though.

------------------------------

I've just started looking to play around moving from core 2.2 to 3.0, and it seems that RCLs work when you first build you're app after adding a reference to the

[2019-06-30 21:13] JamesNK commented on #11715
I don't think we need it. In gRPC's case we want to add metadata after the request is starting and before it is ending. The endpoint routing event you added is a good place for metadata at request start, and we don't need an event at the end because hosting raises one when it stops the activity.

[2019-06-30 22:28] enetstudio commented on #11726
I'm not sure what ails your app, but I believe the following code is problematic:
`
<button onclick="@(() => UpdateAuthentication(true))">
    Set Auth True
</button>
`
onclick is a directive attribute and should be preceded with the '@' sign: @onclick

Also, why do you have both of these in your Startup class:

`
services.AddScoped<AuthenticationStateProvider, CustomAuthStateProvider>();

[2019-06-30 22:52] rabberbock commented on #11726
@enetstudio Thanks for the feedback! I updated the onlclick syntax to `@onclick`, but still no luck. Even before adding `@` the onclick handler was being called, so I am not sure if that is really needed....

Also, I register CustomAuthStateProvider so I can inject it into the component to access the NotifyStateChange method of that class.

[2019-07-01 00:33] rynowak commented on #11727
👍 💯 - want to send a PR?

[2019-07-01 00:36] rynowak commented on #11197
@Andrzej-W - it will be in the generated code. PR is here in case you are curious: https://github.com/aspnet/AspNetCore-Tooling/pull/707

[2019-07-01 00:44] rynowak commented on #11679
If your goal is to wrap up an `InputText` in some bootstrap styling, I would suggest subclassing. The form types are designed for this use case.

If you're really determined to compose, then accept an `Expression<Func<string>> ValueExpression` as a parameter as well and pass that through also.

[2019-07-01 00:50] rynowak commented on #9386
thanks for the comments @Andrzej-W  - I'm going to look at putting this together as a sample and see what the blockers are.

[2019-07-01 01:19] csharpfritz commented on #11727
Would LOVE to send some PRs for analyzers to help with this.

Where should we place those features?

[2019-07-01 01:23] rynowak commented on #11727
Here: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Analyzers/src/Startup/StartupAnalzyer.cs#L27

For now you can follow the pattern used by `UseMvcDiagnosticValidator`. I have [a PR out](https://github.com/aspnet/AspNetCore/pull/9488) that simplifies this a little bit, but I don't want you to block on that.

[2019-07-01 02:08] geffzhang commented on #11676
Exception: "Connection id \"{ConnectionId}\", Request id \"{TraceIdentifier}\": An unhandled exception was thrown by the application.""Connection id \"\"0HLNTOS6I1A9U\"\", Request id \"\"0HLNTOS6I1A9U:00000001\"\": An unhandled exception was thrown by the application.""System.InvalidOperationException: Cannot find compilation library location for package 'Microsoft.AspNet.WebApi.Client'\n at Micro

[2019-07-01 02:46] geffzhang commented on #11676
now https://github.com/dotnet/dotnet-docker/blob/master/samples/dotnetapp/dotnet-docker-selfcontained.md with selfcontained docker，Give 2G memory or did it happen OOMKilled

PS C:\Users\geffzhang> kubectl describe pod/weyhdauthserver-7c9d48d987-thp98 -n dev
Name:           weyhdauthserver-7c9d48d987-thp98
Namespace:      dev
Node:           10.0.0.17/10.0.0.17
Start Time:     Mon, 01 Jul 2019 10:3

[2019-07-01 03:10] NickCraver opened #11731 "Build fails if Java Runtime (not SDK) is installed"
### Describe the bug
Building with the Java Runtime installed (but not the SDK) fails with an error of:

### To Reproduce
Steps to reproduce the behavior:
1. Install Java Runtime only
2. Get latest AspNetCore repo
3. Run `.\build.cmd`

### Expected behavior
The build completes, without being able to run the pieces that need the Java SDK.

### Additional context
The problem lies [in `build.ps1`](ht