[2019-10-14 15:26] paulirwin commented on #12890
On the one hand, I'm grateful for this obsolete warning, as otherwise I feel like the rug _really_ would have been yanked out from under us if it were a surprise. If I'm understanding the LTS schedule correctly, this will continue to be supported until at least November 2022 (assuming 3.1 is released next month on schedule) as long as you don't upgrade to .NET 5 between now and then. I hope Micros

[2019-10-14 15:31] Tratcher commented on #14984
Google and other remote auth providers call Context.SignInAsync with the ExternalScheme, not the ApplicationScheme. There's then a second phase where Identity exchanged the external cookie for the app cookie via SignInManager.
https://github.com/aspnet/AspNetCore/blob/21c9e2cc954c10719878839cd3f766aca5f57b34/src/Security/Authentication/Core/src/RemoteAuthenticationHandler.cs#L140
https://github.co

[2019-10-14 15:36] boukenka opened #14987 "Version 3.0 : Why not close"
Hello,

I am following the different releases of ASP .NET CORE, especially on the Blazor side.
I can see the different milestones. Why is section 3.0.0 not closed and completed?
Is there a particular reason? There has already been an official version for version 3.0.

Thanks for any answer.

[2019-10-14 15:41] javiercn commented on #14373
@MovGP0 Can you clarify if it is working for you now?

If that's not the case, can you tell us whether you are updating an existing project or have created a new one from scratch?

If you are upgrading an existing project, can you file a separate issue as your issue might be completely different from this one and provide a minimal repro project for the issue?

Can you also try and see if it reprod

[2019-10-14 15:43] Tratcher commented on #14951
https://github.com/aspnet/AspNetCore/blob/21c9e2cc954c10719878839cd3f766aca5f57b34/src/Security/Authentication/Negotiate/src/NegotiateHandler.cs#L359
The challenge is not configurable for a variety of reasons:
- This first version of the auth handler was focused exclusively on enabling Kerberos auth on Linux (via Negotiate). Anything else that happens to work is a bonus (e.g. Negotiate on Windows

[2019-10-14 15:46] davidfowl commented on #14924
@turowicz you can always wrap the hub connection in your own interface.

[2019-10-14 15:47] anurse commented on #12125
The patches are all in, right? I think this can be closed now.

[2019-10-14 15:47] #12125 closed

[2019-10-14 15:54] blowdart commented on #14975
The proxy object approach might be horrible for Windows Auth principals, and other things that use handles underneath. That'd need to be carefully tested.

[2019-10-14 15:56] amoerie commented on #14975
If it were up to me, I'd look into why people are using HttpContextAccessor and not the recommended solutions instead.

It is well documented already that HttpContextAccessor is not an encouraged API, so I agree with others here that there shouldn't be a performance penalty just to accommodate a few bad actors

[2019-10-14 16:06] mkArtakMSFT commented on #13181
Reopening to not loose track of the remaining work.

[2019-10-14 16:10] jjxtra commented on #14952
I don't know if it helps, but the legacy web host builder also has an identical problem. It's possible that it and the new host builder share the same common code now.

[2019-10-14 16:18] brentschmaltz commented on #12310
@99littlebugs it may make sense to throw SecurityTokenSignatureKeyNotFoundException when there are keys in tokenvalidationparameters AND none of them resulted in valid signature.
Questioning why it seems significant that a kid existed in the jwt.

[2019-10-14 16:19] davidfowl commented on #14975
Yes good point! The `WindowsPrincipal` will be disposed and there's no saving it. The biggest problem here IMO is that there's currently no sane way to know for sure if you can access the `IHttpContextAccessor` if you don't know what context you are being called from.

Here's how it manifests when using ApplicationInsights:

[code]

It's the exact same scenario I described above but way less obvio

[2019-10-14 16:24] brentschmaltz commented on #12310
@Tratcher @99littlebugs I think we can handle this in IdentityModel.
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1268

Please reopen if you don't think 1268 will fix this.

[2019-10-14 16:24] #12310 closed

[2019-10-14 16:28] mkArtakMSFT commented on #14959
/cc @rynowak

[2019-10-14 16:37] mkArtakMSFT commented on #14956
We understand your concerns, @Andrzej-W.
As @javiercn has mentioned, there are no current plans to drop support for calling JavaScript from Blazor synchronously.
Will our plans change in the future or not - don't know. We'll know more as we'll get further along with Blazor WASM release.

[2019-10-14 16:37] #14956 closed

[2019-10-14 16:38] #14950 closed

[2019-10-14 16:39] mkArtakMSFT commented on #14942
Thank you for your feedback.
We're closing this issue as the behavior discussed is by design.

[2019-10-14 16:39] #14942 closed

[2019-10-14 16:48] mkArtakMSFT commented on #11406
We will consider adding some type of error in situations, where an infinite loop cycle exists in layouts.

[2019-10-14 16:48] bdcoder2 opened #14988 "Unable to redirect Console output (logging) to text (stdoutLogFile) file?"
### Describe the bug

When trying to redirect Console output to a text file, the **stdoutLogFile** is created, but is always empty.

The following settings are present in the projects ( ASP.NET Core Web Application) web.config file:

[code]
The **debugFile** is created and log entries are present without issue.

The **stdoutLogFile** is created, but remains empty.

Questions:

- WHY is the stdoutL

[2019-10-14 16:48] mkArtakMSFT commented on #14967
Closing as there is no action we plan to take from here.

[2019-10-14 16:48] #14967 closed

[2019-10-14 16:50] mkArtakMSFT commented on #14967
@ofirgeller for your last question we recommend using `StackOverflow`.

[2019-10-14 16:52] mkArtakMSFT commented on #14952
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-10-14 16:54] mkArtakMSFT commented on #14947
Thanks for contacting us, @jdescelliers.
This is not something we plan to support. We recommend customers to use third-party packages for this purpose.

[2019-10-14 16:54] #14947 closed

[2019-10-14 16:55] mkArtakMSFT commented on #14754
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-10-14 17:00] mkArtakMSFT commented on #6145
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.
And as per an earlier response, this is a breaking change we can't afford. And the scenario is already possible to be done by customers.

[2019-10-14 17:00] #6145 closed

[2019-10-14 17:01] mkArtakMSFT commented on #5010
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-10-14 17:01] #5010 closed

[2019-10-14 17:02] mkArtakMSFT commented on #4988
Closing as this issue is outdated. Things which matter will come back up again.

[2019-10-14 17:02] #4988 closed

[2019-10-14 17:03] mkArtakMSFT commented on #4977
No community involvement for quite a while.

[2019-10-14 17:03] #4977 closed

[2019-10-14 17:03] mkArtakMSFT commented on #4937
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-10-14 17:03] #4937 closed

[2019-10-14 17:04] javiercn commented on #14959
Route matching is case-insensitive https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/Routing/TemplateSegment.cs#L62

[2019-10-14 17:09] mkArtakMSFT commented on #4936
Closing this. If this will turn out something we need, it will come up again.

[2019-10-14 17:09] #4936 closed

[2019-10-14 17:10] mkArtakMSFT commented on #4934
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-10-14 17:10] #4934 closed

[2019-10-14 17:10] mkArtakMSFT commented on #4920
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-10-14 17:10] #4920 closed

[2019-10-14 17:10] hlubovac commented on #14974
Maybe a way to disable producing runtime-specific executables would be nice. :-)

I tried passing empty/null/false to `--runtime`, hoping to achieve this. It's not a big deal - just more confusing [to me] then without. There is `--self-contained` that relates also (which needs to be set to false, looks like, when `--runtime` is used to achieve equivalents to the default behavior described above, c

[2019-10-14 17:11] mkArtakMSFT commented on #4918
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-10-14 17:11] #4918 closed

[2019-10-14 17:11] scalablecory opened #14989 "Disable Session cookie key encryption"
_From @audriuiv on Monday, October 14, 2019 1:02:44 PM_

In my domain I have two subdomains. In the first subdomain is Nodejs app, in the second - will be .Net Core app.
Nodejs app with Passportjs, express-session modules authenticates users. Express-session creates singed cookie like 'sessionid.hash'.  A Session cache - MongoDb. If a cookie was founded .Net Core app has automatically login. Now i

[2019-10-14 17:11] scalablecory opened #14990 "Startup Authentication with OpenId Connect not compatible with IdentityServer3"
_From @rcreynolds53 on Monday, October 14, 2019 5:01:19 PM_

When trying to update a project from .NET Core 2.2 to 3.0, the authentication that take place in the configure services method of the startup will not work with Identity Server 3. but will work with Identity Server 4.
When pointing to our IdentityServer3, the OnTokenValidated never gets hit, additionally the following exception is thrown

[2019-10-14 17:12] mkArtakMSFT commented on #4909
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-10-14 17:12] #4909 closed

[2019-10-14 17:12] mkArtakMSFT commented on #4906
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-10-14 17:12] #4906 closed

[2019-10-14 17:13] mkArtakMSFT commented on #4903
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-10-14 17:13] #4903 closed

[2019-10-14 17:13] mkArtakMSFT commented on #4897
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-10-14 17:13] #4897 closed

[2019-10-14 17:14] mkArtakMSFT commented on #4889
Closing this as this is external and hopefully already fixed.

[2019-10-14 17:14] #4889 closed

[2019-10-14 17:15] mkArtakMSFT commented on #4886
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-10-14 17:15] #4886 closed

[2019-10-14 17:24] scalablecory opened #14992 "asp.NET Tutorial Error"
_From @JesseWStratton on Thursday, October 10, 2019 7:40:20 PM_

Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/run
Operating System: windows

Attempting to begin the Microsoft ASP.NET tutorial, error message below:

[code]

_Copied from original issue: dotnet/core#3596_

[2019-10-14 17:26] scalablecory commented on #14992
@JesseWStratton do you have another app already running on port 5000? Or somehow missing a loopback adapter?

[2019-10-14 17:29] javiercn commented on #14930
@dazinator thanks for contacting us.

I understand your pain, working with claims is not the easiest thing in the world. Unfortunately, we can't do anything at the framework level, we want to be consistent with the current server-side behavior and as you already mentioned, this is an issue with the way you are deserializing the token on the client-side.

I'm not sure how you are doing that, (are y

[2019-10-14 17:29] #14930 closed

[2019-10-14 17:29] pranavkm commented on #14917
@sebnilsson using the attribute should work just as well here: `context.Filters.OfType<ResponseCacheAttribute>().FirstOrDefault()`

You could also indiscriminately clear out the cache headers. This is what the exception handling middleware does - https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs#L153-L161. The outcome sho

[2019-10-14 17:35] blowdart commented on #14989
You can't. We encrypt and sign it to avoid session hijacking. We don't have the ability to turn it off.

[2019-10-14 17:42] jjxtra commented on #14952
I will attempt the suggested fix this evening and post back

[2019-10-14 17:43] rcreynolds53 commented on #14990
It look like PR #10928 Add PKCE support in OIDC & OAuth set UsePkce to true by default, even though the flow for the response type is being set to 'code' I had to set the UsePkce property to false in order to get it to work properly.

[2019-10-14 17:52] Kahbazi opened #14993 "Change IResponseCache output to ValueTask"
In ResponseCaching middleware there's no way to replace `IResponseCache` and in the implementation of it (`MemoryResponseCache`), the async methods are just a wrapper on sync methods. So is it better that the output of the methods be ValueTask?

[2019-10-14 18:07] JesseWStratton commented on #14992
Is there a way that I can check that? I am attempting to run this on a work
machine that I do not have admin privileges on.

On Mon, Oct 14, 2019 at 12:27 PM Cory Nelson <notifications@github.com>
wrote:

--
JS

[2019-10-14 18:18] ryanbrandenburg commented on #14898
What was the workflow you did to create the controller? I've looked in our templates but I only see the string you list in documentation and samples. Did you just copy from there (which would still need fixing) or did you use actual templating functionality?

[2019-10-14 18:21] ryanbrandenburg commented on #14232
For those interested, the root cause is https://github.com/dotnet/corefx/issues/41740, and it is in fact a mac-only issue (at least in this specific instance).

[2019-10-14 18:24] kant2002 commented on #14232
That was unexpected to say the least 😄

[2019-10-14 18:29] alefranz commented on #14975
I've been bitten by this as well.
My personal guidance is now to not use the `IHttpContextAccessor` and copy what you need from it (with the exception of some thoroughly reviewed library that needs to avoid a copy for performance reason) so I think it would make sense to improve the docs on how to work around it.
I would be even tempted to suggest to deprecate it 😅 as with the current gotchas (har

[2019-10-14 18:32] davidfowl commented on #14975
I'm actually thinking that might be a better  idea as well. Recommend using a custom async local that never gets cleared.

[2019-10-14 18:39] #14823 closed

[2019-10-14 18:40] anurse commented on #10971
@sourishkrout I'd suggest opening a new issue if you are still seeing an issue here. Since this is closed it's easy for comments to get lost, I'd rather have a new issue if you're still hitting a problem :).

Most of the cert logic here is in corefx, since we just give the certificate to `SslStream` to send, so it's likely this issue would fit better in the https://github.com/dotnet/corefx reposit

[2019-10-14 18:41] sebastienros commented on #14957
Updated CentOS

[2019-10-14 18:41] #14957 closed

[2019-10-14 18:41] sebastienros commented on #14961
CentOS update

[2019-10-14 18:41] #14961 closed

[2019-10-14 18:45] sebastienros commented on #13967
CentOS update on the client

[2019-10-14 18:45] #13967 closed

[2019-10-14 18:46] alefranz commented on #14907
I will investigate the scope of a change to make it work.
If this is too big of a change, what do you think about throwing an exception that clearly indicates that it is not supported in this scenario and what to use instead?
With the current behavior there is a risk to spend time in trying to understand why you don't have the expected services in the container (talking from experience 😅).

[2019-10-14 18:50] aspnet-hello opened #14995 "Bad responses: DbFortunesDapper, DbFortunesDapper, DbFortunesEf, DbFortunesEf, DbFortunesRaw ..."
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| DbFortunesDapper | Linux, Physical, http, KestrelSockets | 10/10/19 12:57:12 PM +00:00 | 42154 |
| DbFortunesDapper | Windows, Physical, http, KestrelSockets | 10/10/19 3:36:31 PM +00:00 | 3584 |
| DbFortunesEf | Linux, Physical, http, KestrelSockets | 10/10/19 12:57:53 PM

[2019-10-14 18:56] Tratcher opened #14996 "[Announcement][3.1.0-preview1] Reacting to browser SameSite changes, impacts OpenIdConnect"
## Reacting to browser SameSite changes in 3.1.0-preview1, impacts OpenIdConnect

Browsers like Chrome and Firefox are making breaking changes to their implementations of SameSite for cookies. These changes impact remote authentication scenarios like OpenIdConnect and WsFederation which must now opt out by sending SameSite=None. However, SameSite=None breaks on iOS 12 and some older versions of ot

[2019-10-14 19:02] cbrit commented on #8822
I updated to the latest ASP .NET Core 3.0 today and am getting the same error.

[2019-10-14 19:24] TJoshua commented on #14973
Here's the version info from my csproj file:
`<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>netcoreapp3.0</TargetFramework>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.Blazor" Version="3.0.0-preview9.19465.2" />
    <PackageReference Include="Microsoft.AspNetCore.Blazor.Browser" Version="0.7.0" />
    <PackageReference Include

[2019-10-14 19:31] pranavkm commented on #14973
@TJoshua some of these packages look fairly old:

The SqlServer package also makes little sense in a Blazor WASM project. I'd recommend trying to [creating an empty Blazor WASM project](https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio) and having a look at what it references.

[2019-10-14 19:57] jhudsoncedaron opened #14997 "Kestrel should not hardcode acceptible TLS versions but rather honor OS settings"
Discovered while switching on TLS 1.3 globally.

Says right in the <A HREF="https://github.com/aspnet/AspNetCore/blob/0d92fee9d02a1237a4ea591308d14d5460a76548/src/Servers/Kestrel/Core/src/HttpsConnectionAdapterOptions.cs#L63">xmldoc</A> (and verified in the <A HREF="https://github.com/aspnet/AspNetCore/blob/0d92fee9d02a1237a4ea591308d14d5460a76548/src/Servers/Kestrel/Core/src/HttpsConnectionAdapte

[2019-10-14 19:58] pranavkm commented on #14954
@tebeco, [`DefaultModelMetadataProvider`](https://github.com/aspnet/AspNetCore/blob/release/3.0/src/Mvc/Mvc.Core/src/ModelBinding/Metadata/DefaultModelMetadataProvider.cs)  continues to be public in 3.0, you should be able to using it without changing things. Same goes for `IActionResultTypeMapper`. Could you share the error you see when you try using \ referencing these types?

Unfortunately ther

[2019-10-14 20:02] audriuiv commented on #14989
Thanks, I got it. Closed.

[2019-10-14 20:21] HaoK opened #14998 "Identity account confirmation flow does not preserve return url"
Found from https://github.com/aspnet/AspNetCore-ManualTests/issues/26

From @javiercn

The issue is in the implementation of email confirmation. You are not preserving the returnUrl query parameter which should be passed around for the registration flow and used to redirect the user at the end of it.

![image](https://user-images.githubusercontent.com/6995051/66653805-ae909c00-ebed-11e9-9400-c1f18

[2019-10-14 20:43] #13356 closed

[2019-10-14 20:49] gregfig opened #14999 "Razor Class Library Static Assets with spaces do not resolve."
If any files (images for example) contain a space.  When they are coded with %20 they are not resolved.

To reproduce.
   1.  Create a RCL with a wwwroot folder.
   2.  Add one image file without a space, Add one image file with a space.
   3.  Create a Web App and reference the RCL
   4.  Run the app.

In my test app.  https://localhost:44362/_content/RclTestCore3/MoneyBag.png resolves just fine.

[2019-10-14 20:49] InDieTasten commented on #4920
Hmmm, I've just tried to reproduce the issue, and it still exists. So I hereby declare my interest in this ask :)

If I find some free time, I will try to create a PR to fix this issue myself. It's hacktober after all.

[2019-10-14 20:50] devna13 commented on #14934
had to upgrade the other project to netcoreapp3.0 and
    <PackageReference Include="IdentityModel" Version="4.0.0" />

[2019-10-14 20:50] #14934 closed

[2019-10-14 20:50] blowdart commented on #14997
@halter73 I thought we left it as defaulting to the OS?

[2019-10-14 20:51] blowdart commented on #14990
@Tratcher

[2019-10-14 20:53] #14989 closed

[2019-10-14 20:58] tebeco commented on #14954
As i see that the title changed i am curious, will it land for 3.1 ?
Also to be honest and sure, is there better Apis that `Swashbuckle` could use on `AspNetCore3` in order to run the same integration test ?

[2019-10-14 20:58] Tratcher commented on #14990
https://github.com/aspnet/AspNetCore/pull/10928/files#diff-77dbc837ce88da9bcf6a630ae8969190R371
@brockallen?

[2019-10-14 21:00] ryanbrandenburg commented on #14232
More generally, anyone who creates a Thread without Joining it or making it as background could run into basically this problem. We encourage people not to do things like that, so it's unclear if the openapi tooling will attempt to work around this kind of behavior, so make some noise if that's a scenario that's important to you.

[2019-10-14 21:01] sandrinodimattia commented on #14996
Using US sniffing is advised against by Google. The only reliable way to mitigate SameSite issues is to use a double cookie approach.

https://github.com/GoogleChromeLabs/samesite-examples/issues/2#issuecomment-535195768

[2019-10-14 21:01] rcreynolds53 commented on #14990
Is this something that I can do a PR on?

[2019-10-14 21:02] ofirgeller commented on #14967
Even if I were to factor out the code into a shared method in order to avoid having one action call another, I would still like to return an Action<T> from that shared code. So my original requests stands and I thank you all for trying to understand.

All the best.

[2019-10-14 21:02] SherifRefaat commented on #14975
@davidfowl What about disabling the reuse of `HttpContext` when certain 'compatibility' flag is set to true? That would require no change in user's code and would be feasible to wait for the next minor release to migrate -- relatively -- older projects.

[2019-10-14 21:08] Tratcher commented on #14990
@rcreynolds53 we haven't identified if there's anything wrong in AspNetCore yet.

[2019-10-14 21:30] rcreynolds53 commented on #14990
@Tratcher okay thanks. For now my work around is having to set UsePkce to false even with the response type as `OpenIdConnectResponseType.Code`

[2019-10-14 21:33] ryanbrandenburg commented on #13838
@joeaudette it seems like you're looking for [LowercaseQueryStrings](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.routing.routeoptions.lowercasequerystrings?view=aspnetcore-2.2)?

[2019-10-14 21:34] Tratcher commented on #14996
Except double issuing cookies is more likely to cause them to fail because browsers like Safari have strict cookie size limits per domain. Auth cookies already push these limits today.

[2019-10-14 21:36] scalablecory commented on #14992
`netstat -abn` in command prompt

[2019-10-14 21:51] mkArtakMSFT commented on #1528
We're closing this issue as it's not directly relevant to this repo and based on the comments here the SSRS team is already aware of this feedback. Given the amount of comments this has got it's now unmanageable.

@k290 's response is the most actionable one here, so please follow his suggestion [here](https://github.com/aspnet/aspnetcore/issues/1528#issuecomment-540687279):

[2019-10-14 21:51] #1528 closed

[2019-10-14 22:04] pranavkm commented on #14966
Closing as dup of https://github.com/aspnet/AspNetCore/issues/14474. We'll use the other issue to track resolving this.

[2019-10-14 22:04] #14966 closed

[2019-10-14 22:23] TJoshua commented on #14973
I see the issue. I was using Blazor Server, which doesn't appear to use BrowserHttpMessageHandler for HttpClient

[2019-10-14 22:28] CodeCoded commented on #14350
Hey,

I seem to have this issue after updating to .net core 3.0 but slightly different variation. But thought I'd just mention my experience in case it gives clue to where the problem maybe.|

On updating, I was asked to re-install the local certs, so I did for my .net core webapi.
When I then tested the SPA client site, I saw in the browser dev tools the OP's issue

I then try to visit an endpoin

[2019-10-14 22:37] #14623 closed

[2019-10-14 22:40] kant2002 commented on #13245
Removing property from project file make sense yo me. It was not explicitly understandable, that all tooling running with same properties as specified by project file, and not host system. But I can live with that. Maybe that should be mentioned somewhere in the docs. It was confusing initially.

[2019-10-14 22:55] smudge202 commented on #14975
One other consideration - `IHttpContextAccessor.HttpContext` smells to me a lot like `DateTime.Now` (sure, it's not static, but otherwise...).

If the context isn't always available, could we change that to `bool IHttpContextAccessor.TryGetHttpContext(out HttpContext context)`?

[2019-10-14 22:59] pranavkm commented on #8855
@cremor API conventions affect the output of ApiExplorer \ Swagger for the controller. Changing the convention to do something different would "silently" affect apps that use the convention.

[2019-10-15 00:03] danroth27 commented on #13312
@ghd258 This is unfortunately not scheduled until .NET 5. In the meantime, please use the provided workaround.

[2019-10-15 01:04] Gobbeldygook commented on #14939
Hi,
It was the .Net Core 3.0 Tutorial for SignalR. One thing for sure missing from it is the @types/node. I'm still trying to do it again, but I have tons of "fires" at work.
Thanks, Bill Shurtleff

Sent from Yahoo Mail on Android

  On Sun, Oct 13, 2019 at 9:57 PM, Justin Kotalik<notifications@github.com> wrote:
@Gobbeldygook thanks for the issue. Can you link us to the tutorial you are trying to

[2019-10-15 01:30] halter73 commented on #14997
The allowed algorithms are controlled by the OS, but SslProtocols default to `Tls11 | Tls12` in order to ensure `SslProtocols.Tls` (which represents TLS 1.0) doesn't get used on any OS.

You asked for and approved the change [over 3 years ago](https://github.com/aspnet/KestrelHttpServer/pull/676#issuecomment-194476265) @blowdart. Even back then, you didn't really want to support TLS 1.1, but we co

[2019-10-15 01:32] blowdart commented on #14997
My memory is failing in my old age 😀

Ok yes it’s time I think. Too big for 3.1 maybe? Definitely in 5.0.

________________________________
From: Stephen Halter <notifications@github.com>
Sent: Monday, October 14, 2019 6:30:49 PM
To: aspnet/AspNetCore <AspNetCore@noreply.github.com>
Cc: Barry Dorrans <Barry.Dorrans@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/AspNetCor

[2019-10-15 01:50] jjxtra commented on #14952
This worked for the regular project, unfortunately the unit test project still fails

[2019-10-15 02:01] jjxtra commented on #14952
One thing that would solve all of this is being able to pass the System.Type of the controller to handle a request instead of a string. Is this possible?

[2019-10-15 02:15] ghd258 opened #15002 "ActionFilterAttribute，IAsyncAuthorizationFilter no IAllowAnonymousFilter"
if(context.Filters.Any(filter=>filter is IAllowAnonymousFilter))
            {
                return;
            }
return all  false

[2019-10-15 02:19] taori opened #15003 "Is there an issue with unpkg deployment for signalr?"
### Describe the bug
A couple weeks back i installed signalR on a demo app which worked - however now when trying to do so it appears that installing no longer properly works. I've followed the official docs in both cases and reported it as VS bug as well, but even when going to unpkg.com (to bypass the VS issue) it appears that there is no aspnet/signalr package present.

https://docs.microsoft.c

[2019-10-15 02:43] jjxtra commented on #14952
I can add application part for all assembly with typeof(Controller) and that allows api controllers to be found, but anything with razor still gives this, even with these project settings:

[code]

![image](https://user-images.githubusercontent.com/1271832/66795876-2519ec00-eec3-11e9-9f7e-0e8e687c43f2.png)

[2019-10-15 03:32] HaoK commented on #4666
crossgen dim works now in master, still doesn't work in release/3.1, so the fix looks good for 5.0 at least

[2019-10-15 04:10] soeleman commented on #15003
Maybe you can take a look on English version. It is difference and seem up to date.
![ClientLibraryUnpkgSignalrDocEn](https://user-images.githubusercontent.com/309413/66799658-2fc49780-ef3c-11e9-843f-b767ba7c46a1.png)

and this of add-client-library
![ClientLibraryUnpkgSignalr](https://user-images.githubusercontent.com/309413/66799681-4c60cf80-ef3c-11e9-9a1a-7ac4887df283.png)

[2019-10-15 05:54] davidfowl commented on #14975
@SherifRefaat yes that's possible but it would be great to have the opt-in be more granular. This also means that you would get an object disposed exception or null. It wouldn't "fix" the problem.

@smudge202 That's not the problem. You can get the HttpContext (TryGetHttpContext would return true) and it could be cleared out from under you after that.

[2019-10-15 05:59] taori commented on #15003
Thanks. Pretty odd that the images are different. But nice find. I'll have a look if it works

Holen Sie sich Outlook für Android<https://aka.ms/ghei36>

________________________________
From: soeleman <notifications@github.com>
Sent: Tuesday, October 15, 2019 6:11:17 AM
To: aspnet/AspNetCore <AspNetCore@noreply.github.com>
Cc: Andreas Müller <taori_uts@hotmail.com>; Author <author@noreply.github.

[2019-10-15 06:10] cremor commented on #8855
@pranavkm Good point, I forgot about that. Thanks for the explanation.

I see that this is a change. But is it really a _breaking_ change? It would just add an additional response type, existing ones would be not affected.

Even if it is a breaking change, there are many possibilities:

- You could hide it behind an optional configuration setting like what was done with `CompatibilityVersion.Versi

[2019-10-15 06:11] tornie2 commented on #14951
Ok. Thanks @Tratcher

If your support is only for Negotiate, and has only been verified on Linux, then I think your documentation is a little [misleading](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-3.0&tabs=visual-studio).

I understand from your reply that NTLM support from your side is about to end. We have a task in our organization then to

[2019-10-15 06:39] iambacon commented on #14942
@javiercn Thank you for the information, I was unaware that OnAfterRender would fire after an input field had changed.

How would I know what has triggered the OnAfterRender? It only passes a bool (firstRender). I'm not clear how I would know that it was a form field and not another component on the page.

If this is already in the docs please direct me there, as I haven't come across it when sear

[2019-10-15 06:40] sebnilsson commented on #14917
I sort of expected that was the case :)

[2019-10-15 06:40] #14917 closed

[2019-10-15 06:42] mibjg commented on #14979
The reason for the explicit negotiate is that we want to ensure that our users are logged in to get the signalR token

[2019-10-15 06:42] phivanloi commented on #14587
![image](https://user-images.githubusercontent.com/12540136/66806309-6d7feb00-ef51-11e9-902b-671f4e8b0de8.png)
i'm also geting this messsage when i try get db context to migrate it

[2019-10-15 06:47] javiercn commented on #14952
I’ll take another look

[2019-10-15 06:55] javiercn commented on #14973
Closing as there’s no more action to be taken here.

[2019-10-15 06:55] #14973 closed

[2019-10-15 07:15] egil commented on #10977
@mkArtakMSFT does this mean it will possible to use array initialize directly in as a param to an array parameter going forward?

[2019-10-15 07:25] taori commented on #15003
@soeleman You're right. The english reference makes it work just fine. i've suggested a docs update already. Thanks

[2019-10-15 07:25] #15003 closed

[2019-10-15 07:48] hempels commented on #14984
What I'm having trouble with is figuring out how to implement that exchange from within our custom auth handler. I appreciate that the RemoteAuthenticationHandler does it, but digging through that code is not a simple task and I have not been able to figure out where that magic actually happens.

The basic setup is that we have a single action method set via attribute to authorize against a custom

[2019-10-15 07:53] fehrm opened #15004 "Creating anonymous object starting with @class creates compiler error"
### Describe the bug
In a Razor page, creating an anonymous object (eg. for HtmlAttributes) starting with @class inside a @{} block creates these compiler errors

and

and

![image](https://user-images.githubusercontent.com/8399245/66811395-4b767080-ef31-11e9-9026-7037a95a9205.png)

### To Reproduce
Steps to reproduce the behavior:
1. Using Razor in a ASP.NET Core 3.0 project
2. In Startup.cs, add

[2019-10-15 07:58] davidfowl opened #15005 "[EPIC]: Bedrock Endgame"
- [ ] - Non-HTTP TLS connection middleware https://github.com/aspnet/AspNetCore/issues/12809
- [ ] - Introduce new Server API decoupled from Kestrel (issue TBD)
- [ ] - Introduce new Client API for building a middleware pipeline (issue TBD)
- [ ] - Generic Host integration (TBD)
- [ ] - Support Windows NamedPipe's in bedrock https://github.com/aspnet/AspNetCore/issues/14207
- [ ] -

[2019-10-15 08:11] davidfowl opened #15006 "Introduce a new Server API"
Servers typically need to do a set of common tasks:

- They need to implement an accept loop per endpoint
- They need to track connections
- They need to implement graceful shutdown
- They need an efficient way to implement timeouts (which integrates with connection tracking)

The goal of the server API is to:
- Expose a common way for server bindings
- This includes exposing a common way for wiri

[2019-10-15 08:13] davidfowl commented on #15006
Some things that have come up when trying to implement this API in Kestrel itself:
- Localhost and Any (*) bindings have special behavior that can't be represented as data. This means the server needs hard coded logic to handle this or we punt on the existing behavior and say it's too special.
- When testing, it's important for the caller to be able to trigger heartbeats on demand without waiting

[2019-10-15 08:16] soeleman commented on #15004
You can use double **@@**
![PreserveNameRazor](https://user-images.githubusercontent.com/309413/66813259-a4a8c900-ef5e-11e9-9683-5b64deb25ad3.png)

[2019-10-15 08:25] egil commented on #13741
@kevinjpetersen interesting scenario.

One option I can think of is to pass a cancellation token to your Task that a disposable component holds on to. When the client disconnect and the component is disposed, you trigger the cancellation token, which them stops the task.

Would that work for you?

[2019-10-15 08:50] gfoidl commented on #15006
@davidfowl from the first usage example:

has a different parameter order than in the api-suggestion above.

(I'll delete this comment once it's edited, so it doesn't distract this thread).

[2019-10-15 08:51] cowlinb6 commented on #11609
Just in case anyone has similar issues, the problem looks to be resolved with Visual Studio 2019 Preview (16.4.0 P1).

[2019-10-15 08:57] endeffects commented on #11609
I'm running the latest Preview and still have the issue. Currently i'm waiting for the next visual studio and the .net core release.

[2019-10-15 09:04] 1483523635 opened #15007 "[Templating] SAP react-redux"
### Describe the bug
[code]

### To Reproduce
Steps to reproduce the behavior:
1. SDK 3.0.100
2.  `dotnet new reactredux -n login` cmd to create a project
3.  using `dotnet watch run`

### Expected behavior
update the eslint version to same with react-scripts.

### Screenshots
<img width="1437" alt="Screen Shot 2019-10-15 at 17 03 20" src="https://user-images.githubusercontent.com/10496811/6681706

[2019-10-15 09:17] neville-nazerane opened #15008 "jwt auth doesn't work on signalr js client"
I have a signalr server setup on 2.2 and type script using @microsoft/signalr. I am using the following straight out of the documentation:

        this.connection = new signalR.HubConnectionBuilder()
                              .withAutomaticReconnect()
                              .withUrl(myFullUrl + '/myHub', {
                                  accessTokenFactory: () => {

[2019-10-15 09:26] hempels commented on #14984
I think I worked out the issue. In the method that's utilizing the custom scheme, it was calling RefreshSignInAsync. Although I still don't quite understand why, at that point any calls to Context.AuthenticateAsync() will not return the populated Identity Scheme data. However, once the identity cookie is set, calls from other sites do return the correct data.

I had to replace that call to Refresh

[2019-10-15 09:26] #14984 closed

[2019-10-15 09:26] 1483523635 commented on #15007
and also fix eslint version mismatch and exec `dotnet run` and open `localhost:5000` will get a another error `Failed to compile`
<img width="1080" alt="Screen Shot 2019-10-15 at 17 25 55" src="https://user-images.githubusercontent.com/10496811/66819100-f22e3180-ef70-11e9-8b8f-2fd15368c23c.png">

[2019-10-15 09:47] javiercn commented on #14942
OnAfterRender fires every time a render happens, which is normally when new parameters get set for the component or after the component finishes handling an event.

In your case I believe you could attach an `@onchange` event handler to the input to achieve the same result

[2019-10-15 10:09] careless6666 opened #15009 "Empty BodyReader for controller methods with body"
Empty BodyReader for controller methods with body ([FromBody] Class model).
When i want get body in UseExceptionHandler from request is empty, but if I remove the parameter from the method, the body will be in the buffer

[code]

https://stackoverflow.com/questions/58336505/why-my-request-bodyreader-is-empty-when-i-add-request-parameters-asp-net-core-3

[2019-10-15 10:28] denis-ya opened #15010 "signalr c# client in corporate network"
I published simple web app (from quick start guide) in Azure. C# client works fine when I run it from home network. But when I run the client from corporate network I get handshake error. What can be a reason why I have this behavior? I also tried to use recommended corporate proxy without any success.

**Web app**
[code]

**Client**
[code]

I also found that in corporate network my VS2019 cannot

[2019-10-15 10:30] niklasholm commented on #6946
Also, it would be neat to have some default implementation(s) for `ITicketStore` available, for example one using `ISession` to store the data.

[2019-10-15 10:49] javiercn commented on #15007
@1483523635 Thanks for contacting us.

I can't repro this with RTM bits
![image](https://user-images.githubusercontent.com/6995051/66825095-6bd90780-eefe-11e9-8f13-7475d5c7493b.png)

I tried this using the RTM container `mcr.microsoft.com/dotnet/core/sdk:3.0.100-alpine3.9` for 3.0.100.

I would suggest you do dotnet --info and include the results here, as it is likely you are using the wrong SDK v

[2019-10-15 10:51] javiercn commented on #15004
@fehrm Thanks for contacting us.

@NTaylorMullen The double `@@` shouldn't be necessary as you are already inside a c# context, am I wrong? Otherwise @soeleman answer is correct.

[2019-10-15 10:52] javiercn commented on #15002
@ghd258 thanks for contacting us.

Can you provide more details about the issue you are experiencing?

[2019-10-15 11:12] javiercn commented on #14952
@jjxtra With the repro you provided I did the following:
* Add a project reference from HostCreator to controllers
* Change the test as follows:
[code]
* With that, starting up host creator (you need to add the line below) I can get to the API without problems.
  * `CreateHostBuilder(args).Build().Start();` (This needs to be added to program main).
  * ![image](https://user-images.githubuserconten

[2019-10-15 11:12] #14952 closed

[2019-10-15 11:40] justlearntutors opened #15011 "Environment=ASPNETCORE_URLS=http://localhost:5001 - Not working"
Environment=ASPNETCORE_URLS=http://localhost:5001
It is not working for ASP.NET CORE 3.0 on Linux. How to fix?

[2019-10-15 11:59] javiercn commented on #14999
@gregfig Thanks for contacting us.

I can repro this. We'll take a look at it.

[2019-10-15 12:02] javiercn commented on #14993
@Kahbazi Thanks for contacting us.

That would be a breaking change, so even if we deemed useful we can't take it until our next major release.

I'm closing the issue as we wouldn't take a change like this unless there is a clear scenario with performance measurements that justify the change.

/cc @anurse

[2019-10-15 12:03] javiercn commented on #14992
@JesseWStratton Thanks for contacting us.

@halter73 @Tratcher I imagine you likely know what's going on here.

[2019-10-15 12:05] javiercn commented on #14988
@bdcoder2 Thanks for contacting us.

@jkotalik @BillHiebert What's the appropriate way to achieve this? I remember there was a way to make this work, at least from within visual studio and IIS Express.

@bdcoder2 Search for a web.config file under the project file, likely inside the `.vs` folder and enable logging there.

[2019-10-15 12:08] javiercn commented on #15011
@justlearntutors Thanks for contacting us.

Can you provide more details on what you are doing?
Are you on plain Linux or inside a container?
Are you running the app with `dotnet run`? Check that you don't have a launchSettings.json file under /Properties if that's the case. It will override the ASPNETCORE_URLS environment variable.

@Tratcher can you assist here?

[2019-10-15 12:11] javiercn commented on #15009
@careless6666 Thanks for contacting us.

I imagine that is caused by the body being consumed by MVC.

@Tratcher Am I right? I'm not sure how UseExceptionHandler works, but I imagine it needs to make a copy of the body or else it won't be available.

[2019-10-15 12:17] justlearntutors commented on #15011
Can you provide more details on what you are doing?
Running 2 websites on Linux Ubuntu 18

Are you on plain Linux or inside a container?
Plain Linux

Are you running the app with dotnet run?
No, we use .service file

Check that you don't have a launchSettings.json file under /Properties if that's the case. It will override the ASPNETCORE_URLS environment variable.
We have launchSettings.json file

[2019-10-15 12:19] blowdart commented on #14997
@anurse It's time to change the kestrel defaults. 5.0?

[2019-10-15 12:58] javiercn commented on #14999
This is a 3.1 candidate

[2019-10-15 13:12] gilmishal commented on #11377
Looking in a bit more it seems I should use the `ParseFormValuesFast/ParseFormValuesSlow` from FormPipeReader in some way to read the headers - I am still not sure how it works since I am very new to all the Span related things. But I think it would make sense to create a utility Class to hold these functions, rather than having them as private functions.

[2019-10-15 13:26] jjxtra commented on #14952
Thanks to everyone who looked into this issue and spent time from their busy days trying to help.

I am however very disappointed and disheartened as I feel this is a pretty significant regression from .NET core 2.2. With .NET core 2.2 everything just worked with web host builder in tests and with my large projects including razor views. With .NET core 3, behavior has changed for the worse. I have

[2019-10-15 13:27] careless6666 commented on #15009
It's work  on 2.2

[code]

[2019-10-15 13:27] xiety opened #15014 "Blazor can not compile generic-typed component with generic array parameter"
### Describe the bug
Compiler error when using generic array parameter.

If there is no type parameter:

    error RZ10001: The type of component 'Component' cannot be inferred based on the values provided. Consider specifying the type arguments directly using the following attributes: 'TItem'.

If type parameter is specified:

    error CS0246: The type or namespace name 'TItem' could not be foun

[2019-10-15 13:27] Kahbazi commented on #14993
Is it a breaking change when both IResponseCache and MemoryResponseCache are internal?

[2019-10-15 13:31] mrpmorris commented on #14903
Starting up the app at a specific page could involve having to call out to other services, which means the number of calls doubles.  The data a split second later might also be different - presumably the user would see old data which then changes to new data?

I understand it's by design, but it seems it would be a better design if the entire bootstrap process for the pre-render is the shared with

[2019-10-15 13:54] jjxtra commented on #14952
I was able to hack around the issue by doing the following. Posting it here for anyone else who comes accross this issue in .NET core 3. This took about a week to figure out and some late nights so I really hope it saves people the headache I went through. My hunch is that something like this is being done behind the scenes in .NET core 2.2, and the code got deleted or broken in the .NET core 3.0

[2019-10-15 14:42] baoshenyi opened #15015 "could not find dlls in my chrome debugging window"
### Describe the bug
could not debug balzor client side code.

### To Reproduce
I follow up the instructions in https://coderethinked.com/unable-to-find-debuggable-browser-tab-in-blazor/ and everything worked fine.

After click "Shift+Alt+D", I could not find the dlls in debug window. Any ideas?

### Expected behavior
![BlazorDebugShouldbe](https://user-images.githubusercontent.com/9803653/6684190

[2019-10-15 14:46] voroninp commented on #9039
@Bernoulli-IT, well, I have this issue even for Bearer auth in ASP.NET Core 3

[code]
And I saw a redirect instead of 401 for the controller marked as `ApiController`

Microsoft.AspNetCore.HostFiltering.HostFilteringMiddleware: Trace: All hosts are allowed.
Microsoft.AspNetCore.StaticFiles.StaticFileMiddleware: Debug: The request path  does not match the path filter
Microsoft.AspNetCore.Authentica

[2019-10-15 14:50] Tratcher opened #15016 "How can I host AspNetCore in Windows Service with https url?"
_From @chenyj796 on Tuesday, October 15, 2019 12:37:40 PM_

I have a AspNetCore which will host in Windows Service.
The CreateHostBuilder method as below.

[code]

When I run it in Console, everything works fine.
However, when I install it as Windows Service, and request the http://localhost:6000/ or https://localhost:6001/, there is nothing returned.
Seems the UseUrls only support one url with ht

[2019-10-15 14:50] Tratcher commented on #15016
_From @davidsh on Tuesday, October 15, 2019 2:41:31 PM_

@Tratcher ASP.NET Core repo issue

[2019-10-15 14:53] Tratcher commented on #15016
It looks like you're trying to use the default developer certificate? That's not supported in a Windows Service, they run as a different user, you'll need to create your own certificate.

See [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.0#endpoint-configuration) once you have a cert.

[2019-10-15 15:00] davidfowl commented on #15009
If you use the same code you had on 2.2 does it still work (using StreamReader instead of BodyReader)?

[2019-10-15 15:06] BrennanConroy commented on #15008
Have you taken a look at the Auth section of our docs? https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-3.0#bearer-token-authentication

Specifically the part where you need to read the "access_token" query string value and put that on the `context.Token` property.

In C# we can use headers for auth which is pulled in automatically by the auth system. But in the

[2019-10-15 15:10] Tratcher commented on #14951
We tested Windows too, but the windows support wasn't new functionality, that was already supported via other code paths.

NTLM will never go away completely, but you'd do best to avoid it.

[2019-10-15 15:12] Tratcher commented on #14984
The exchange doesn't happen in the auth handlers, it happens in an MVC controller (in Identity.UI?).

[2019-10-15 15:13] BrennanConroy commented on #14979
You should be able to do this by putting an [`[Authorize]` attribute](https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-3.0#authorize-users-to-access-hubs-and-hub-methods) on your hub class(es) or if you're using Endpoint Routing, use `RequireAuthorization(...)` on your hub mapping.

[code]

[2019-10-15 15:23] HaoK commented on #14984
Yeah the callback happens here https://github.com/aspnet/AspNetCore/blob/master/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ExternalLogin.cshtml.cs#L132

[2019-10-15 15:36] #12295 closed

[2019-10-15 15:56] mr-xrow opened #15018 "How to config "dotnet watch" stops watching .cshtml file"
i am working with net core 3.0 and "dotnet watch". When I change .cshtml file then "dotnet watch" is restarted. How to "dotnet watch" stops watching cshtml file.

[2019-10-15 16:05] Tratcher commented on #14992
Yes it does sound like a port conflict. Try changing the port in the launchsettings.json.

[2019-10-15 16:06] davidfowl opened #15019 "Add IConnectionFactory implementation to the socket transport"
Today we have all of the pieces in place the server transport but we haven't exposed anything to do client sockets. There's an internal version of the API we want [here](https://github.com/aspnet/AspNetCore/blob/d35b33f29470a51876da5060f6fa46f9794fa941/src/Servers/Kestrel/Transport.Sockets/src/Client/SocketConnectionFactory.cs) so we can start with that as the initial API:

[code]

PS: This will f

[2019-10-15 16:06] pranavkm commented on #8855
The most likely solution we would go with would be to create a separate convention and have users explicitly opt in. If you'd like we could use #9375 to consider fixing both of these using this approach.

[2019-10-15 16:10] Tratcher commented on #15011
`Environment=ASPNETCORE_URLS=http://localhost:5001` is invalid input, where did you see that?
The environment variables should be:
`ASPNETCORE_ENVIRONMENT=Development`
`ASPNETCORE_URLS=http://localhost:5000`

Also, why did you change port 5001 from https to http? If you don't plan to use https then remove the 5001 entry and use 5000 instead.

[2019-10-15 16:10] tebeco commented on #14954
so here is the next question regarding, probably another api.
This time there's a public `Empty` one, and i'm pretty sure this is my fault, just looking for idea from devs here since you have waaaay more insight on the proper fix
https://github.com/domaindrivendev/Swashbuckle.AspNetCore/pull/1316#issuecomment-542279502

the 5 other remainings test also have related change of behavior around these

[2019-10-15 16:15] Tratcher commented on #15009
Yes, if MVC is consuming the body then buffering needs to be enabled before MVC runs, not just in the exception code path. 2.2 should have the same behavior, unless the exception occured before reading the body?
[code]

[2019-10-15 16:17] Tratcher commented on #14350
@CodeCoded are you using containers for any of this? The dev cert gets copied to temp locations accessible from containers.

[2019-10-15 16:23] Tratcher commented on #14997
https://github.com/aspnet/AspNetCore/blob/d35b33f29470a51876da5060f6fa46f9794fa941/src/Servers/Kestrel/Core/src/HttpsConnectionAdapterOptions.cs#L27
The new default would be `SslProtocols.None`  https://docs.microsoft.com/en-us/dotnet/api/system.security.authentication.sslprotocols?view=netcore-3.0

[2019-10-15 16:26] vsfeedback opened #15021 "NetCore 3.0 HttpContext.Sessions Lost After Redirecting Payment ( Bank System ) And Returning Back"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/773817/netcore-30-httpcontextsessions-lost-after-redirect.html)._

---
Startup.cs

        public void ConfigureServices(IServiceCollection services)
        {
            services.AddHttpContextAccessor();

            services.Configure&lt;CookiePolicyOptions&gt;(options

[2019-10-15 16:31] LaughingJohn opened #15022 "Azure AD authentication and client side Blazor."
This may be more of a question than a feature request, and I appreciate it's not released yet so I might be a bit premature! :)

### Is your feature request related to a problem? Please describe.
I want to use Azure AD for multi tenant authentication with a Blazor web assembly client and a web api server and am a bit lost.

### Describe the solution you'd like
I guess this would ideally fit in wit

[2019-10-15 16:34] sourishkrout commented on #10971
@gingters started with `macOS` and then moved into `Windows` to "compare". Let me do a bit more probing and I will get back to you.

@anurse sounds good! Will lodge a new issue at the respective project(s).

[2019-10-15 16:34] jkotalik commented on #13900
Closing in favor of https://github.com/dotnet/corefx/issues/41787

[2019-10-15 16:34] #13900 closed

[2019-10-15 16:39] mkArtakMSFT commented on #15022
Thanks for contacting us, @LaughingJohn.
We don't have a solution for this at the moment. We plan to make this work in the near future. For now we recommend asking about how to enable this in StackOverflow.

[2019-10-15 16:42] mkArtakMSFT commented on #15015
Thanks for contacting us, @baoshenyi.
We have instructions on how to enable debugging for Blazor WASM available at: https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-3.0.
Please make sure you close all browser tabs/windows before you enable remote debugging.

[2019-10-15 16:42] #15015 closed

[2019-10-15 16:44] thestamp commented on #9020
@ikemtz gRPC works when using kestral (in containers).

@rupeshtech Thank you, but your article is not related to the issue.

This issue is for hosting gRPC (or any app using trailing headers) in IIS or Azure App Service.

[2019-10-15 16:45] mkArtakMSFT commented on #15014
Thanks for contacting us, @xiety.
We will look into this post 3.1 milestone. Your workaround looks good for now.

[2019-10-15 16:46] thestamp commented on #9020
This is now [implemented](https://docs.microsoft.com/en-us/aspnet/core/tutorials/grpc/grpc-start?view=aspnetcore-3.0&tabs=visual-studio#grpc-not-supported-on-azure-app-service).

[2019-10-15 16:47] mkArtakMSFT commented on #14859
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-10-15 16:49] mkArtakMSFT commented on #15009
@pranavkm has mentioned that this maybe a dupe of a bug we've already fixed.

[2019-10-15 16:52] mkArtakMSFT commented on #15004
Thanks for contacting us, @fehrm.
While this is a bug, it's super low pirority and we won't spend time fixing it, as the workaround is to simply use `@@` per @soeleman's suggestion.

[2019-10-15 16:52] #15004 closed

[2019-10-15 16:55] mkArtakMSFT commented on #14896
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-10-15 16:59] mkArtakMSFT commented on #4879
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-10-15 16:59] #4879 closed

[2019-10-15 16:59] mkArtakMSFT commented on #4873
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-10-15 16:59] #4873 closed

[2019-10-15 17:00] roend83 commented on #14907
@javiercn I'm having a similar issue and have tried to make the updates that you suggested above.  However, I'm having an issue because my Startup.ConfigureContainer method is always being called after my call to IHostBuilder.ConfigureContainer.  It doesn't seem to matter what order I set them up with.

[2019-10-15 17:01] mkArtakMSFT commented on #4843
This sounds exactly what we would suggest. For the rest we would recommend using integration tests: https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.0#test-app-prerequisites

[2019-10-15 17:01] #4843 closed

[2019-10-15 17:02] mkArtakMSFT commented on #4819
@alexandrejobin can you please file a separate issue please. We're closing this one as there has been no much community involvement here.

[2019-10-15 17:02] #4819 closed

[2019-10-15 17:03] mkArtakMSFT commented on #4640
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-10-15 17:03] #4640 closed

[2019-10-15 17:04] mkArtakMSFT commented on #4462
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-10-15 17:04] #4462 closed

[2019-10-15 17:05] mkArtakMSFT commented on #4375
We're closing this as we have no plans for doing this.

[2019-10-15 17:05] #4375 closed

[2019-10-15 17:07] mkArtakMSFT commented on #4220
Closing this as we have no plans for doing this.

[2019-10-15 17:07] #4220 closed

[2019-10-15 17:08] mkArtakMSFT commented on #4215
Closing this as there is no much customer ask for this.

[2019-10-15 17:08] #4215 closed

[2019-10-15 17:09] roend83 commented on #14907
@javiercn I did confirm that if I remove Startup.ConfigureContainer and instead put that code into a call to IHostBuilder.ConfigureContainer then it does appear to all get executed in the right order.

[2019-10-15 17:09] mkArtakMSFT commented on #4214
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-10-15 17:09] #4214 closed

[2019-10-15 17:09] mkArtakMSFT commented on #4211
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-10-15 17:09] #4211 closed

[2019-10-15 17:10] PinpointTownes commented on #4220
That's unfortunate, since things are still quite inconsistent: https://github.com/aspnet/AspNetCore/issues/4220#issuecomment-279137659

At the very least, this should be documented somewhere.

[2019-10-15 17:11] mkArtakMSFT commented on #3977
Thanks for contacting us. This is not something we can do easily so we will be closing this. Given it's a strategic change, it may come up again in the future if we decide to do this in the future.

[2019-10-15 17:11] #3977 closed

[2019-10-15 17:11] Tratcher commented on #15021
Can you share a Fiddler trace and debug server logs showing the repro?

[2019-10-15 17:11] mkArtakMSFT commented on #3745
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2019-10-15 17:11] #3745 closed

[2019-10-15 17:11] mkArtakMSFT commented on #3498
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-10-15 17:11] #3498 closed

[2019-10-15 17:12] anurse commented on #14993
Yeah, I'm not clear on what the breaking change issue is. @javiercn can you elaborate? Of course, it doesn't mean for sure that we'd do this change, but I don't think there's a breaking change concern since the type is internal.

[2019-10-15 17:13] mkArtakMSFT commented on #3283
Closing as this is not something we support any more:
![image](https://user-images.githubusercontent.com/34246760/66853551-672f4600-ef34-11e9-8c0c-7b7184a2eb3e.png)
Source: https://docs.microsoft.com/en-us/aspnet/ajax/cdn/overview

[2019-10-15 17:13] #3283 closed

[2019-10-15 17:13] javiercn commented on #14907
@roend83 It's impossible for us to diagnose what's going on in your case without a minimal repro project. How DI works with the new container is explained a bit better here:
https://github.com/aspnet/AspNetCore.Docs/issues/14973

[2019-10-15 17:13] mkArtakMSFT commented on #3112
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-10-15 17:13] #3112 closed

[2019-10-15 17:14] mkArtakMSFT commented on #3104
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2019-10-15 17:14] #3104 closed

[2019-10-15 17:14] mkArtakMSFT commented on #2653
Thanks for contacting us. This is not something we plan to do.

[2019-10-15 17:14] #2653 closed

[2019-10-15 17:14] anurse commented on #14997
Let's get it in to 5.0 for sure. I think this is a viable candidate for asking for a 3.1 backport though, given the new TLS version (1.3) and the LTS status of 3.1.

[2019-10-15 17:15] anurse commented on #14997
To confirm, we are OK with using `None` now even though that could potentially include 1.0? (i.e. we're ready to trust OSes to have already blocked TLS 1.0 usage)

[2019-10-15 17:19] Tratcher commented on #14997
I don't recommend this for 3.1, you'll end up downgrading people on some platforms. E.g. do we know what the platform defaults are on Win7, 8, MacOs, Linux, etc?

[2019-10-15 17:19] jhudsoncedaron commented on #14997
According to the documentation I can find, Windows 10 has *not*!. I'm building up several hundred lines of code to look up the supported versions and chop the list.

[2019-10-15 17:19] bdcoder2 commented on #14988
@javiercn  @jkotalik @BillHiebert - Searched .vs folder (and all sub-folders) for web.config - no file found; did you imply to create web.config if not found?

After a week of trying to redirect console output to a text file (when running under debug within VS),  I have since moved on (by creating my own ultra-simple logging class); further effort at this point does not seem worth it.  I think it

[2019-10-15 17:22] Kahbazi commented on #14993
On the second thought, if there's no plan for the exposing `IResponseCache` the methods could only be sync.

[2019-10-15 17:23] anurse commented on #14997
What about just adding Tls3 to the list?

[2019-10-15 17:28] roend83 commented on #14907
[AspNetCoreConfigurationIssue.zip](https://github.com/aspnet/AspNetCore/files/3730649/AspNetCoreConfigurationIssue.zip)
@javiercn  Here's a minimal repro of what I'm seeing.

[2019-10-15 17:28] blowdart commented on #14997
Adding Tls3 paints us into the same hole again when Tls4 comes along. And we keep telling people not to do this, to let the OS decide, but then we do it ourselves.

[2019-10-15 17:29] halter73 commented on #14992
I would definitely first check if something else was bound to the same port, but normally you'd get an `AddressInUseException` in that case instead of a `SocketException (10022)`. In addition to netstat you might also want to look at the output of `netsh http show urlacl` to ensure there are no conflicting HTTP.sys registrations.

Normally on Windows, the 10022 error code represents WSAEINVAL, whi

[2019-10-15 17:31] jkotalik commented on #14988
@bdcoder2 if you are running with IISExpress, do you see logs written to the Debug window in Visual Studio? StdoutLogFile + IISExpress isn't a common scenario; we could have broken it in 3.0 which we will verify but logs should show up in debug output.

[2019-10-15 17:35] anurse commented on #14997
If @blowdart is happy with `None`, I'm not opposed. As @halter73 said, I believe the choice to avoid `None` was intentional but if we feel like we can trust the OS here, I'm OK with that. Certainly for 5.0 at least. We can discuss what (if any) we backport to 3.1.

[2019-10-15 17:40] blowdart commented on #14997
We could log warnings if the OS is configured to allow what we consider bad, but not stop.

[2019-10-15 17:42] halter73 commented on #14997
Is there an easy way to determine the OS's default configuration?

[2019-10-15 17:45] jhudsoncedaron commented on #14997
@halter73 : I have it in 178 lines but I'm not absolutely sure it's right.

[2019-10-15 17:49] smartprogrammer93 commented on #8433
Isn't this solved now with 3.1 preview 1??? partial classes are published

[2019-10-15 17:51] blowdart commented on #14997
@jhudsoncedaron Remember that TLS versions are *not* cipher suites.

There's only 5 options here. Ssl2, Ssl3, Tls1, Tls11, Tls12

[2019-10-15 17:52] javiercn commented on #14907
@roend83 Thanks for the repro.

@Tratcher I took a quick look at the repro and @roend83 seems legit. Can you take a look?

[code]

My understanding is that that should never throw as Startup.ConfigureContainer should run before the ConfigureContainer after it, isn't that the case?

[2019-10-15 17:53] blowdart commented on #14997
http://blog.whatsupduck.net/2014/10/checking-ssl-and-tls-versions-with-powershell.html would do it if you have an https port open

[2019-10-15 17:54] jhudsoncedaron commented on #14997
@blowdart : Reading the OS config takes a lot of lines. The number of versions is essentially irrelevant. The only weirdness I had to handle was the enum was named `Tls` instead of `Tls10`.

[2019-10-15 17:54] blowdart commented on #14997
I feel this is too risky for 3.1

[2019-10-15 18:13] Tratcher opened #15025 ".net core 3.0 upload big file faild"
_From @1369521908 on Tuesday, October 15, 2019 5:22:12 PM_

1 IDE
![image](https://user-images.githubusercontent.com/32727597/66853046-f7ab6c00-efb0-11e9-83a0-d9df9a4d2fb5.png)

2 .net core version (my project version)
![image](https://user-images.githubusercontent.com/32727597/66853134-23c6ed00-efb1-11e9-8344-ac4b64d6fe3d.png)

3 controller & api
![image](https://user-images.githubusercontent.com

[2019-10-15 18:13] Tratcher commented on #15025
_From @davidsh on Tuesday, October 15, 2019 6:01:45 PM_

@Tratcher Looks like ASP.NET issue

[2019-10-15 18:14] jkotalik commented on #14988
Yes, that is what I meant (not debug). Apologies for getting the wrong menu.

To give a bit more detail, we have slight differences in how we handle console redirection between IIS and IISExpress. In IIS Express, we assume a console is attached, therefore wherever IISExpress logs is where we let it log (which is ASP.NET Core Web Server in Visual Studio). For IIS, there is no console, so the file s

[2019-10-15 18:20] Cameron097 commented on #14236
Just to add to this, I think the NavigationHelper object has been changed to NavigationManager.
You can use the static UriHelper class, passing in the Uri to seperate it and get the query params.
You can then use the static QueryHelpers class to parse the query string into it's key value pairs.

For building the Uri for a email confirm/password reset link you can also use the Uri helper class to b

[2019-10-15 18:26] Tratcher commented on #13719
@anurse, this is a regression that should be addressed in 3.1.

[2019-10-15 18:30] fiksen99 commented on #6000
Any progress on official support for a batch apis?

[2019-10-15 18:35] anurse commented on #13719
Clearing milestone so we hit it in triage.

[2019-10-15 18:35] pabloarthurrodger opened #15026 "Multiple Client Side Blazor"
I have a Web solution with a WebCore 3.0 razor pages that its huge!. Lets call this the WebCoreAppDefault. I want to implement 3 Blazor projects with different pages. In my Start up files I have configure as this:

app.UseHttpsRedirection();
app.UseStaticFiles();

app.UseClientSideBlazorFiles<BlazorApp1.Startup>();
app.UseClientSideBlazorFiles<BlazorApp2.Startup>();
app.UseClientSideBlazorFiles<Bl

[2019-10-15 18:36] anurse commented on #14997
Fair enough

[2019-10-15 19:30] AlbertoPa commented on #6326
This issues seems also to affect Blazor, where jQuery is not used.

**Steps to reproduce:**
1. In a component, add a double property and initialize it to a number in scientific notation. For example:
`public double myDouble {get; set;} = 1.0e-6;`
2. Bind myDouble to an InputNumber control
3. Edit the control, changing the value to 2.0e-6 for example

**What happens**
The validation fails because 1

[2019-10-15 19:41] jchannon opened #15027 "EndpointRouteBuilderExtensions missing RequestDelegateRouteBuilderExtensions signatures"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.

I am moving [Carter](https://github.com/CarterCommunity/Carter) to ASP.NET Core but one of it's features is the signature of `MapGet("/", (req,res,routeData)=>{...})` which hooks into the same signatures found on [RequestDelegateRouteBuilderExtensions](https://docs.microsoft.

[2019-10-15 19:46] simeyla commented on #14350
WOW! What a thread!

I'm doing this in development for an angular app. So if your config look anything like mine all I did to get it working was add the `Protocols` option.

[code]

[2019-10-15 19:46] tavgordon opened #15028 "HTTP Error 500.30 - ANCM In-Process Start Failure"
Deployed a minimal ASP.NET Core app to an Azure App Service. Greeted with HTTP Error 500.30 - ANCM In-Process Start Failure. Everything runs perfectly locally, clearly something is up when it tries to run on Azure.

I have tried running the dll file directly using `dotnet myfile.dll`, and all I got was a spinning wheel I assume means it is running? No errors at all came up.

My app targets the fol

[2019-10-15 19:47] Tratcher commented on #15025
Side note: When sharing error messages and stack traces please copy the text rather than a screenshot.

Can you share a minimal application that reproduces this?

[2019-10-15 19:54] careless6666 commented on #15009
Yes it's look like a bug. I'm test with behavior now on version SDK Version: 3.1.100-preview2-014466,
and and unfortunately the problem is still relevant. I made 2 mini-projects with a problem reproduction and put it on github.

https://github.com/careless6666/dotnet-core-body

In version 2.0, everything works fine, but in 3.0, unfortunately not, maybe I'm doing something wrong?

[2019-10-15 20:00] tavgordon commented on #15028
Here is another Event that may be useful:

[code]

[2019-10-15 20:02] tavgordon commented on #15028
And here is my Startup file

[code]

[2019-10-15 20:06] MaribelPC opened #15032 "SignOut Blocked By CORS"
Hello,

I am using Microsoft.AspNetCore.Authentication.WsFederation to authenticate to ADFS. The login works perfect, but at the time of logout the call is blocked by CORs. Could you help me?

It is a web application of the ASP.NET CORE 2.1 template with SPA in Angular 7.

The error in the browser is as follows:

Access to XMLHttpRequest at 'https://fstest.itesm.mx/adfs/ls/?wtrealm=https%3A%2F%2Ff

[2019-10-15 20:10] joeaudette commented on #13838
@ryanbrandenburg no the problem is a user of my pagination taghelper reported that he had an url (in the browser) like this: https://localhost:80/Controller/Index?id=HXN9rimuo47ah/jG1tyd6w==

but with the setting LowercaseUrls as true the pager tag helper which is just using UrlHelper to generate the pagination links was lowering everything up to the last / so it was lowering part of the query str

[2019-10-15 20:14] dradovic opened #15031 "WebApp template does not respect logging configuration"
### Describe the bug
 The `webapp` template does not respect the logging configuration of the `appsettings.json`.

### To Reproduce
1. `dotnet new webapp`
2. Change the trace levels in the provided `appsettings.json` to `Error`:
[code]
3. Launch the app.

### Expected behavior
No more `info` level message should appear on the console.

### Actual behavior
The console shows all the logs.

### Addit

[2019-10-15 20:17] #14999 closed

[2019-10-15 20:18] #14474 closed

[2019-10-15 20:22] Tratcher commented on #14907
This gets hit first:
[code]
And this second:
[code]

ConfigureContainer actions are called in the order registered:
https://github.com/aspnet/Extensions/blob/b3a158ac055f1f8f76ed4a1a1c6ef860068cf63e/src/Hosting/Hosting/src/HostBuilder.cs#L228-L231
This is where generic web host finds and calls ConfigureContainer:
https://github.com/aspnet/AspNetCore/blob/c7972d45f83aab461d23616a9c17fe5fe3ad2226/sr

[2019-10-15 20:39] ryanbrandenburg commented on #13838
I understand the scenerio, I'm asking if setting `LowercaseQueryStrings = false` fixes the problem.

If not it would be helpful to create a minimal repro as a GitHub project.

[2019-10-15 20:42] ajcvickers commented on #14696
@blowdart This looks like an Identity scaffolding thing to me, especially given the second comment. But without actual code it's hard to be sure what is going on.

[2019-10-15 20:49] joeaudette commented on #13838
@ryanbrandenburg I've relayed that back to our forum user who posted about this [here](https://www.cloudscribe.com/forum/thread/page-link-href-camelcase-)

Hopefully he will get back soon with an answer to your question.

[2019-10-15 20:58] ryanbrandenburg commented on #13838
Possibly this was just a mis-wording in your reply on that thread, but to be clear `LowercaseQueryStrings` will NOT be used if `LowercaseUrls == false` as noted [in the docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.routing.routeoptions.lowercasequerystrings?view=aspnetcore-2.2).

[2019-10-15 21:14] pranavkm commented on #7285
This is done in 3.0. The WeatherForecastController is in `/weatherforecast`.

[2019-10-15 21:14] #7285 closed

[2019-10-15 21:16] anurse commented on #14706
We'll investigate the tactical fix in 5.0. We're still quite concerned that we're going to have to cover other unknown gaps in the watchOS .NET Standard implementation.

[2019-10-15 21:17] anurse commented on #14847
Yeah, we've definitely talked about this before. Seems good.

[2019-10-15 21:23] anurse commented on #14857
This is a little suspicious. The trimmer can sometimes over-trim assemblies. Does the issue repro if you remove this dependency?

[2019-10-15 21:26] bdcoder2 commented on #14988
@jkotalik - No problem.  I have not run the project on IIS as I am only learning .Net Core and haven't had the opportunity to publish the project yet.   Your post makes complete sense though.

May I suggest the following (for all the other newbies like myself that may try this) - do not support Console output redirection for IISExpress - period.

Simply add a note to the docs with regard to the **

[2019-10-15 21:27] anurse commented on #14891
Closing as we don't intend to add overload support, using different method names is our intended solution for this issue.

[2019-10-15 21:27] #14891 closed

[2019-10-15 21:33] anurse commented on #14924
Can you provide an example of the test you want to perform? Understanding what kind of mocking you want here would be helpful. Adding interfaces makes the framework code itself much more brittle to breaking changes over time, so we don't just introduce them for testability purposes (when it's always feasible to write a wrapper if you need to do this kind of unit testing).

[2019-10-15 21:34] anurse commented on #14939
Can you post a runnable sample that reproduces the problem?

[2019-10-15 21:36] anurse commented on #15010
This usually happens because an intermediate proxy is interfering with the connection. Does your corporate network have a proxy? You mentioned one in your config. Does that proxy support WebSockets or long-running requests like Server-Sent Events?

[2019-10-15 21:36] Postlagerkarte commented on #14903
@mrpmorris :  I'm not sure how common your scenario is,  but you can always make use of the IsConnected property to handle cases like this.

[2019-10-15 21:40] ryanbrandenburg commented on #14501
@aL3891 do you have a small repro-app that I can use to test against?

[2019-10-15 21:44] alextof commented on #14374
@mkArtakMSFT , @javiercn, @geotinc I do also have some issues with the Embedded Views. Here I provide a solution with .NET Core 2.2 working and .NET Core 3.0 not working.

Could someone give me a hand please? I'm struggling to make my RazorViewToStringRenderer to find the View from the Embedded Razor Class Library.

Source Code: https://dev.azure.com/okyselov/_git/ConsoleAppEmbeddedRazorViews

[2019-10-15 21:56] anurse commented on #14737
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-10-15 21:57] #14737 closed

[2019-10-15 21:57] anurse commented on #14662
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-10-15 21:57] pranavkm commented on #14374
@alextof could you please file a separate issue?

[2019-10-15 21:57] anurse commented on #14661
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-10-15 21:57] #14661 closed

[2019-10-15 21:58] dtate22 commented on #13093
On 10/15/2019 @ 5:54 pm - I spent 2 hours trying everything in this thread.
- I tried the simplest solutions including just switching my versions of Microsoft.NetCore
- I also attempted to use different methods to parse
- Because I'm on a timeline, I had to drop back and punt because my code has to be production ready and I cannot afford to take too many changes and break my release cycle

The Sys

[2019-10-15 22:02] anurse commented on #14745
At this point, given that the gRPC Java client has been updated to fix this, we're going to close this. If there are use cases that come up for which this validation is a problem, we can reconsider. Right now, this is the only client we've encountered in the wild with this mismatch.

[2019-10-15 22:02] #14745 closed

[2019-10-15 22:02] scalablecory opened #15036 ".net core 3.0 upload big file faild"
_From @1369521908 on Tuesday, October 15, 2019 5:39:11 PM_

# Issue Title

.net core 3.0 upload big file faild

# General

1 IDE & windows
![image](https://user-images.githubusercontent.com/32727597/66853046-f7ab6c00-efb0-11e9-83a0-d9df9a4d2fb5.png)
![image](https://user-images.githubusercontent.com/32727597/66855400-ba95a880-efb5-11e9-804f-7ecdbfabe516.png)

2 .net core version (my project versio

[2019-10-15 22:06] sbuchok commented on #13357
Why is it that input type="time" only supports DateTime now and not also TimeSpan? It makes more sense to support TimeSpan than it does to support DateTime.

[2019-10-15 22:15] anurse commented on #14919
Let's change the behavior early in 5.0 to not append and solicit feedback. We'll also add an ANCM property that can be used to quirk the behavior back to the old logic.

If it's reasonable, we could do replacement with expansion (`PATH=%PATH%;C:\Foo;C:\Bar`) to allow users to choose if they want append, prepend, etc.

[2019-10-15 22:19] anurse commented on #14735
Something is indeed fishy here. I can't repro this with a brand new project but I can with the attached project. There's no `web.config` but there is a `.vs/config/applicationHost.config` with the following content related to ANCM

[code]

@BillHiebert any thoughts here?

[2019-10-15 22:21] anurse commented on #14735
Deleting the `applicationHost.config` didn't fix anything.

[2019-10-15 22:25] anurse commented on #14655
@davidfowl 's error isn't the correct one. It's getting 404s.

[2019-10-15 22:29] jkotalik commented on #14919
ANCM already expands the environment variables today: https://github.com/aspnet/AspNetCore/blob/3477daf3c4f530dff80f197e0642cb39a26fb07b/src/Servers/IIS/AspNetCoreModuleV2/RequestHandlerLib/environmentvariablehelpers.h#L83.

I think we should remove the appending behavior. I believe out of proc is also not appending: https://github.com/aspnet/AspNetCore/blob/2e89aa4aa6546d11aafe815928886d4439df8c2

[2019-10-15 22:32] halter73 commented on #15006
This won't work with the current way WebHost interacts with IServer, since WebHost controls the shutdown timeout by tripping the CancellationToken passed to IServer.StopAsync(token) instead of passing in a TimeSpan.

[2019-10-15 22:34] danroth27 commented on #10475
@Alienroid What does your SignalR client code look like?

[2019-10-15 22:35] vsfeedback opened #15037 "Visual Studio 2019 hangs with Angular 8"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/661537/visual-studio-2019-hangs-with-angular-8.html)._

---
We've updated from Angular 7 to Angular 8 and since then, Visual Studio hangs 2019 and 2017 while running the application! We can not work like that.
The spa service does not work properly.

Is there a solution or

[2019-10-15 22:36] mkArtakMSFT commented on #15037
Thanks for contacting us.
Please provide a small repro project (ideally as a GitHub repo) so that we can investigate this further.

[2019-10-15 22:37] anurse commented on #15025
The sample app is quite large. Can you reduce this to a simple runnable sample that reproduces the problem?

[2019-10-15 22:37] mkArtakMSFT commented on #15037
Also, you can have a look at how Angular 8 support is enabled in ASP.NET Core 3.0.

[2019-10-15 22:40] davidfowl commented on #15006
@gfoidl fixed.

[2019-10-15 22:41] davidfowl commented on #15006
@halter73 good point, the token passed into StartAsync would suffice then.

[2019-10-15 22:42] anurse commented on #14988
I'm not able to repro this. I did a new project, enabled the stdout log file and the debug file and both were written properly.

[2019-10-15 22:43] loganmarshall1 commented on #5621
Still not fixed 16.4 Preview 2.

Millions of global dotnet core/mvc/c#/razor developers effected.

Billions of hours lost to having to restart build because of breakpoints.

[2019-10-15 22:49] anurse opened #15038 "Revisit and unify BadHttpRequestException"
We need to revisit the fact that we have two different BadHttpRequestException types. They also can't be constructed by users which makes it difficult to test.

[2019-10-15 22:51] pranavkm commented on #15036
/cc @Tratcher

[2019-10-15 22:53] pranavkm commented on #15018
@mr-xrow see https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#opt-in-to-runtime-compilation.

[2019-10-15 22:55] Tratcher commented on #15036
Duplicate of https://github.com/aspnet/AspNetCore/issues/15025

[2019-10-15 22:55] #15036 closed

[2019-10-15 22:57] chkeita opened #15039 "Setting up a unit test in F#"
### Description
I am unable to setup a F# unit test using asp.net core with attribute routing

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2.2'
2. Run this code
[code]
here is the fsproj
[code]

3. See error
The test failes with with the following
  Message:
    Assert.Equal() Failure
    Expected: OK
    Actual:   NotFound

### Expected behavior
The

[2019-10-15 23:12] jhudsoncedaron opened #15041 "Kestrel Web Server completely broken when TLS 1.3 is enabled; having TLS 1.2 enabled doesn't help"
### Describe the bug
Kestrel Web Server completely broken when TLS 1.3 is enabled. Firefox reports PR_END_OF_FILE_ERROR, and the only working client is net core's own HttpClient. Failing clients: Firefox, IE, openssl s_client, Edge (Edge's failure appears to be no TLS 1.3 but I can't really tell).

### Expected behavior
It just works.

### Additional context
[code]

Include the output of `dotnet -

[2019-10-15 23:14] jhudsoncedaron commented on #15041
With one broken client, it might make sense to conclude with client is broken. When every client I could try not sharing a codebase with net core is broken, it makes sense to conclude something in net core is broken.

[2019-10-15 23:17] markgr commented on #13093
@TulyOpt I created a basic server webapp and even with the GA release can still repo the problem....

Pull https://github.com/markgr/BlazorJson

Then run it (dotnet run)

Open Index page and click the 'Test Storage' button - you'll get the exception in the Console....

dotnet --list-sdks
2.1.505 [/usr/local/share/dotnet/sdk]
2.2.104 [/usr/local/share/dotnet/sdk]
2.2.105 [/usr/local/share/dotnet/sd

[2019-10-15 23:21] pranavkm commented on #15009
@careless6666 the behavior you were seeing in 2.2 was an unintentional.

 The Newtonsoft.Json based formatters (both in 2.x and 3.0) buffer the request body. However in 2.x this stream wasn't disposed until the request was completed. In 3.0, the default Json formatter does not buffer at all, and the Newtonsoft.Json one disposes the buffer as soon as it's completed with it.

If you must read the co

[2019-10-15 23:26] ryanbrandenburg commented on #14232
I'm going to close this out in favor of dotnet/corefx#41740. If people run into similar behavior caused by other packages start a new issue and we can consider if this needs mitigation.

[2019-10-15 23:26] #14232 closed

[2019-10-15 23:28] #14647 closed

[2019-10-15 23:33] Tratcher commented on #15028
Do not mix 2.2 and 3.0.

[code]
That's about here:
https://github.com/aspnet/AspNetCore/blob/10863cfaead78e02eb788611fc1f64a889db6941/src/Servers/IIS/IIS/src/WebHostBuilderIISExtensions.cs#L50-L52
pwzBindings looks the most suspicious, that's new in 3.0.
@jkotalik

[2019-10-15 23:36] gnjack commented on #14117
We've also noticed a very similar issue when moving from `2.2.6-alpine3.8` to `3.0.0-alpine3.9`. The process leaks unmanaged memory at a constant rate (regardless of load) while the managed heaps all stay very small and the GC is mostly idle. At first we thought it was upgrading to .NET Core 3.0, but it does appear to be related to the base image OS.

![image](https://user-images.githubusercontent

[2019-10-15 23:41] pranavkm commented on #13093
@markgr your project's referencing a package that's likely compiled against a preview release of .NET Core.

@dtate22 it's not clear what's causing the issue, but it's most likely an out-of-date reference. I may be mistaken, but I don't think .NET Core 3.0 is supported on Azure Functions as yet, I'm not sure if using ASP.NET Core 3.0 with it is going to ultimately succeed at this point.

Generally

[2019-10-15 23:41] #13093 closed

[2019-10-15 23:43] ahsonkhan commented on #13093
@dtate22, The Azure Functions host pins the assembly version it loads and since it generally lags behind the latest releases, you'd see type mismatch/missing issue until AF catches to the latest version of .NET Core - this is a known issue specific to AF - feel free to follow up on https://github.com/Azure/azure-functions-host

See related issues: https://github.com/Azure/azure-functions-host/issu

[2019-10-15 23:47] #10291 closed

[2019-10-15 23:51] Alienroid commented on #10475
Hi Dan: Below are my steps of getting it working on localhost.

**Server code** (no magic here)
1) startup.cs:
ConfigureServices, I've added:
`            services.AddSignalR(hubOptions =>
            {
                hubOptions.EnableDetailedErrors = true;
            });`

Configure, I've added:
`
            app.UseEndpoints(endpoints =>
            {
                endpoints.MapControllers()

[2019-10-15 23:55] pranavkm opened #15043 "Publish a new version of Microsoft.AspNetCore.ProtectedBrowserStorage"
As noted in https://github.com/aspnet/AspNetCore/issues/13093, using this package with 3.0 RTM results in an error due to binary breaking changes in late 3.0 previews. We should publish a newer build of it compiled against 3.0 RTM.

[2019-10-15 23:57] Alienroid commented on #10475
As I was writing above, I found out what the issue was. I followed signalr documentation: https://docs.microsoft.com/en-us/aspnet/core/signalr/dotnet-client?view=aspnetcore-3.0&tabs=visual-studio and I used incorrect url for HubConnectionBuilder. Previous version of Signalr didn't need to specify domain just the /hub.

connection = new HubConnectionBuilder()
            .WithUrl("**https://localho

[2019-10-16 00:08] BKlippel commented on #1557
lame

[2019-10-16 00:10] BKlippel commented on #1557
typical microsoft, breath heavy and no follow through. one way or another, even by standalone package UseOAuthAuthorizationServer should have been ported for compatibility.

[2019-10-16 00:11] bdcoder2 commented on #14988
Can you please post your project somewhere on GitHub?

[2019-10-16 00:12] BKlippel commented on #5717
A day late and a dollar short.

[2019-10-16 00:45] jkotalik commented on #15028
That doesn't look good and a bit weird. From what I can tell, pwzBindings shouldn't be null (but it definitely seems to be here). We call [SysAllocString](https://github.com/aspnet/AspNetCore/blob/a20ddd8374057cf311f7877374bdd9890a3ad32e/src/Servers/IIS/AspNetCoreModuleV2/InProcessRequestHandler/managedexports.cpp#L219) on the server bindings, which is a std::wstring. If we pass in an empty string

[2019-10-16 00:46] jkotalik commented on #15028
@anurse putting in nearest milestone for now; will reevaluate if necessary.

[2019-10-16 01:39] JasSra commented on #5621
Can we have a fix please, loosing too much of time in tooling rather than focusing on development

[2019-10-16 02:17] blowdart commented on #15041
Which OS are you hosting this on?

[2019-10-16 02:23] blowdart commented on #14207
Tagging @danmosemsft because this fits into the email discussion around permissions apis that will vary by platform

[2019-10-16 02:44] sourishkrout commented on #10971
@gingters I can confirm that on `Windows` the intermediate cert will be sent to the client as part of the handshake granted it's inserted into the system trust store. - That is **not** the case on `macOS`. Haven't tried `Linux` yet.

[2019-10-16 03:25] 1369521908 commented on #15036
hey everyone , first , thanks for your reply. and in morning ,i try to remove the old project add a new project just now , and i works success...
![image](https://user-images.githubusercontent.com/32727597/66885631-78955280-f007-11e9-9e87-17089e8e3d77.png)

i don`t konw where the problem is ,but already solve it is great. : )

[2019-10-16 03:28] 1369521908 commented on #15025
already slove it , see https://github.com/aspnet/AspNetCore/issues/15025#issue-507402932

[2019-10-16 03:29] 1369521908 commented on #15025
hey everyone , first , thanks for your reply. and in morning ,i try to remove the old project add a new project just now , and i works success...
![image](https://user-images.githubusercontent.com/32727597/66885631-78955280-f007-11e9-9e87-17089e8e3d77.png)

i don`t konw where the problem is ,but already solve it is great. : )

[2019-10-16 03:40] ghd258 commented on #15002
public class ApiAuthorizeFilter : IAsyncAuthorizationFilter
    {
        /// <summary>
        ///
        /// </summary>
        /// <param name="context"></param>
        /// <returns></returns>
        public async Task OnAuthorizationAsync(AuthorizationFilterContext context)
        {
            if (context.Filters.Any(filter => filter is IAllowAnonymousFilter))
            {

[2019-10-16 04:24] davidfowl commented on #15009
We should make sure this behavior change is documented as such

[2019-10-16 04:29] xiaoyuvax opened #15044 ".NET Core 3.0 apps failed to run with static files in folders published as a single file"
### Describe the bug
Static files included in project but in FOLDER structure failed to run after published as a single file, eg. you Included a wwwroot in your project and set all individual files to be copied to output folders under VS which are assumed to be packed into the single executable.

running the output executable shows following messages:

These messages were gone when abovementioned

[2019-10-16 04:31] shawnwildermuth opened #15045 "Escaping the At symbol (@) fails if certain header metadata is included"
### Describe the bug
Markup of the head tag will cause escaping of the at symbol to fail if a meta tag is int the header. See Reproduce to explain

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0'
2. Create a new web site (Controllers and Views, didn't try with Razor Pages)
3. Create a link tag with a double at symbol and add a meta tag like this

[code

[2019-10-16 04:52] shawnwildermuth commented on #15045
Looks like the culprit is any markup with the property name of "content".

[2019-10-16 04:54] mconnew commented on #14207
@blowdart, this will only be used by CoreWCF on Windows as we have a convoluted mechanism which needs to be followed to be compatible with existing WCF clients. But as WCF only uses this for localhost communication, it doesn't need to be supported on Linux. We can use the datagram sockets on Linux instead as there is no existing mechanism which we would need to be compatible with.

[2019-10-16 04:54] searus commented on #9020
@ikemtz I've attempted to run a basic test for using gRPC in a Linux container running in a Azure Web App for Containers and it wouldn't work for me.  Couldn't find any errors reported anywhere, but the container wouldn't even respond to HTTP pings.
It's a shame.  I'm not prepared to move to AKS just to get this functionality, so I guess I'll stick with good old fashioned HTTP services for now.

[2019-10-16 05:12] cremor commented on #8855
Yes, I think this would be fine. API conventions are opt-in anyway, so a choice doesn't hurt.

[2019-10-16 05:12] mr-xrow commented on #15018
Thank @pranavkm
when I remove AddRazorRuntimeCompilation from ConfigureServices in startup.cs i get error from browser InvalidOperationException: The view '...' was not found. The following locations were searched:...
and "watch" still restarts when I edit .cshtml file. In Version 2.x, watch only restarts when .cs file changes  so I work with cshtml faster

[2019-10-16 05:16] aL3891 commented on #14501
You can just make a new mvc webapp, build it, and rename the directory its in to `test%2B%` and opening it in the browser.

For some reason i cant get the exact same issue but you do get an error and renaming the folder back to `test` fixes the issue. The root issue seems the same though, it can't load the views properly

Calling the folder `test%2B%` also breaks visual studio, both on project cre

[2019-10-16 05:18] cremor commented on #15031
You need to modify `appsettings.Development.json` to get a different logging configuration while developing. See https://docs.microsoft.com/en-gb/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.0#json-configuration-provider

[2019-10-16 05:26] slaneyrw commented on #14996
This also has the potential to impact SAML SSO posts.

I know if I turn ON the chrome flag then i can't sign into the Azure portal

[2019-10-16 05:38] GoranHalvarsson commented on #9020
@searus if you use a virtual machine instead(running in azure)

[2019-10-16 05:44] searus commented on #9020
@GoranHalvarsson I'm not prepeared to move from PaaS to IaaS just to make use of this technology.  I'll just wait until Azure App Service can support this.

[2019-10-16 06:02] mrpmorris commented on #14903
I think this is going to be a common problem, because any app that grabs data from a service and displays it is going to get this double render glitch.

I don't think having to check IsConnected on every screen is the right approach.

[2019-10-16 06:11] johannmandeep commented on #9542
l**### `klk`**

[2019-10-16 06:12] xiaoyuvax commented on #15044
moved to .net core thread:
https://github.com/dotnet/core/issues/3640

[2019-10-16 06:12] #15044 closed

[2019-10-16 06:32] alextof opened #15046 "Embedded Views don't work with RazorViewToStringRenderer"
I have a solution with .NET Core 2.2 that is able to render razor views from a Razor Class Library on a console application, but once I try to upgrade my solution towards .NET Core 3.0 I'm unable to make my RazorViewToStringRenderer see the views from the Razor Class Library that is referenced as a dependecy.

### To Reproduce
To reproduce the issue, please run this code. There is a folder CoreV2

[2019-10-16 06:38] aL3891 commented on #14501
Come to think of it, the error that i do get:

[code]
PS C:\Users\Allan\source\repos\test\test%2B%\WebApplication1> dotnet run
C:\Program Files\dotnet\sdk\3.0.100\Sdks\Microsoft.NET.Sdk\targets\Microsoft.PackageDependencyResolution.targets(234,5): error NETSDK1004: Assets file 'C:\Users\Allan\source\repos\test\test+%\WebApplication1\obj\project.assets.json' not found. Run a NuGet package restore t

[2019-10-16 06:52] javiercn commented on #15002
@ghd258 We still can't understand what you are asking. Can you please provide a few sentences about what your problem is, what your expected behavior is and what you are actually seeing?

That will help us give you an answer.

[2019-10-16 06:56] ghd258 commented on #15002
https://q.cnblogs.com/q/DetailPage/120427/

[2019-10-16 06:57] javiercn commented on #14903
@mrpmorris That is inherent to the nature of prerendering. It's the same across all SPA frameworks unless you serialize the state from the server into the client.

You can pass in the initial state to the component when you prerender it instead of fetching it from the server to avoid doing a double look up.

Keep in mind that it only happens the first time the customer visits the page (as its when

[2019-10-16 07:02] javiercn commented on #15002
From the link (Translated from chinese I think)

I'm not sure what has changed in this area for 3.0

[2019-10-16 07:05] ghd258 commented on #15002
3.0  no  IAllowAnonymousFilter

[2019-10-16 07:08] ghd258 commented on #15002
[HttpPost]
        [AllowAnonymous]
        [ValidateAntiForgeryToken]
        public async Task<IActionResult> Index(LoginModel loginModel)
        {
        }

if (context.Filters.Any(filter => filter is IAllowAnonymousFilter))
            {
                return;
            }
2.0 returns true but 3.0 returns flash

[2019-10-16 07:26] davidfowl commented on #14975
OK I have a pretty simple fix for this. PR coming soon. The result will be object disposed exceptions. That's a bit better than getting the wrong values 😄

[2019-10-16 07:31] denis-ya commented on #15010
Yes, the network has a known proxy. It definitely supports WebSockets. I played with SignalR 2.2 some time ago, but used Cloud Foundry platform and it was succeed. How I can check long-running requests support?

As I said, I tried to use the proxy

[code]

In this case I get another error (Unexpected '\n' in message)

[code]

[2019-10-16 07:40] marek-safar commented on #14706
What kind of indication would prefer? In general .NET Standard is API standard not implementation standard so there is no guarantee your code will run everywhere without testing.

Correct and same applied to all other platforms.

We'll fix the default watchOS handler to allow sending the data but all properties and other settings will still throw PNSE because there is no support for them on the pl

[2019-10-16 08:02] javiercn opened #15048 "[Templating] Build hang on AspNetProcess.GetListeningUri"
We've been seeing some build hangs on the CI lately, and it can be traced down to this call stack below.

Seems that what is happening is that we are waiting indefinitely for new messages to show up in the console while we try to find the listen urls for the application. This can be due to two reasons:
* The underlying application is blocked and doesn't display log messages to the console.
  * We

[2019-10-16 08:11] javiercn commented on #15002
ASP.NET Core 3.0 includes a new feature "Endpoint Routing" that is used by default. When that is used, we don't add filters to the action, but instead it's the authorization middleware the one that takes care of handling the authorization process.

As such, the [AllowAnonymous] attribute is the piece of data you need to use to make any decision. You can access the metadata as
[code]

[2019-10-16 08:27] tavgordon commented on #15028
Removing the Microsoft.AspNetCore 2.2.0 NuGet package resolved my issue.

[2019-10-16 08:27] #15028 closed

[2019-10-16 08:58] daltskin opened #15050 "Publishing Blazor Web Assembly app to Azure = 404 not found"
### Describe the bug
When publishing from dotnet cli, a spurious web.config is created in the root folder which causes 404s if deployed to Azure.

### To Reproduce
Steps to reproduce the behavior:
1. In Visual Studio create new Blazor app - selected Blazor Webassembly App (if you publish this via Visual Studio to Azure this will work)
2. Drop to CLI and run: "dotnet publish -c Release myApp"
3. Al

[2019-10-16 09:06] dradovic commented on #15031
@cremor : I don't agree. Quoting the source you are referring to:

`appsettings.json – This file is read first. The environment version of the file _can_ override the values provided by the appsettings.json file.`

Emphasis by me.

[2019-10-16 09:09] dradovic commented on #15031
@cremor : Oh sorry, I didn't see that the template already provides a *.Development.json.

[2019-10-16 09:09] #15031 closed

[2019-10-16 09:30] hempels commented on #14984
Right. I realized that later, which is why I deleted the comment you were probably responding to.

I still find it curious that in the method that's triggering our custom auth handler, any calls to Context.AuthenticateAsync do not return the information. Only after the cookie is set and a different action is executed (utilizing the identity auth) does that function do what I expect.

If I have mor

[2019-10-16 09:33] 1483523635 commented on #15007
the problems still exist  and I am not using docker
[code]

[2019-10-16 09:36] davidfowl commented on #15010
If you're running in app service, you need to turn on websockets explicitly:

![image](https://user-images.githubusercontent.com/95136/66907116-ace42100-efbd-11e9-905f-b5a9de272f78.png)

Your proxy might be returning something else (like an HTTP response).

[2019-10-16 09:50] denis-ya commented on #15010
Websockets were in Off state, but it works from my home network without any issues. I tried to switch On but still have the same behavior.

Are there any ideas how I can handle this?

[2019-10-16 09:56] javiercn commented on #15007
@1483523635 Can you include also include the output from `node -v` and `npm -v`?

That might help us narrow down your problem.

Does it provide more info if you go `to /ClientApp` and run `react-scripts start` from there?

[2019-10-16 10:07] javiercn commented on #15007
@1483523635 I tried on a Mac and couldn't repro it either. Other things to try are, cleaning the npm cache **(this will be somewhat disruptive, as it will force you to download all npm packages you had cached again)**

[2019-10-16 10:10] 1483523635 commented on #15007
[code]

I goto the ClientApp folder and exec `npm run  start `, the below is error detail
[code]

[2019-10-16 10:17] javiercn commented on #15007
@1483523635 Thanks for providing those details.

Are you using yarn in some way here? I believe the templates are setup to use npm and using yarn can have unknown side-effects.

The main reason I'm saying this is because the package.lock.json is included in the template creation and that should fix the dependencies. This is part of our E2E tests, so based on this and the fact that I can't repro it

[2019-10-16 10:21] javiercn commented on #15046
@alextof Thanks for contacting us.

From inspecting the source I can tell you need to reference the Web SDK here: https://dev.azure.com/okyselov/_git/ConsoleAppEmbeddedRazorViews?path=%2FCoreV3%2FConsoleAppV3%2FConsoleAppV3.csproj&version=GBmaster&line=1&lineStyle=plain&lineEnd=2&lineStartColumn=1&lineEndColumn=1

So Microsoft.NET.Sdk.Web instead of Microsoft.NET.Sdk

I believe after that, it shou

[2019-10-16 10:29] javiercn commented on #15046
I jumped the gun, seems your question is deeper than just getting it to work. I'll try to address it here:
In essence:
* In 3.0 we changed the way we discover MVC primitives like controllers, actions, etc. So you need to be referencing the web SDK for the build to stamp the right metadata into the assembly that allows discovery to work in MVC.
* Alternatively, you need to discover the application

[2019-10-16 10:31] javiercn commented on #15045
@shawnwildermuth Thanks for contacting us.

@ajaybhargavb @NTaylorMullen can you take a look at this?

[2019-10-16 10:39] mythrz commented on #10170
If the "css" also allows to "import url('sample01.css')", sure, I upvote. Same for "jss". The worthy functionality is "isolation of assets that affect only that component".

+1 with @JustinCouto . This functionality could/should be optional.

A razor component is meant to be re-usable, and in my tests, @zzg890 issues are similar to mine, I always get conflicts and waste time.

This could allow us

[2019-10-16 10:40] 1483523635 commented on #15007
@javiercn thanks a lot, after removing all npm packages cache and yarn packages cache the problems disappeared👏, everything worked well.

I actually using `yarn` to install packages in `ClientApp`   folder, maybe has some side effects

and also I check the `react-scripts 3.0.1` [package.json](https://github.com/facebook/create-react-app/blob/v3.0.1/package.json#L22)file, found that: `eslint` versi

[2019-10-16 10:40] #15007 closed

[2019-10-16 10:40] javiercn commented on #15002
Closing this issue as the behavior here is by design.

[2019-10-16 10:40] #15002 closed

[2019-10-16 10:43] thiagodebastos commented on #9991
Adding this to your `.csproj` file fixed it for me in VSCode on MacOS:
[code]

[2019-10-16 10:45] smjltd opened #15051 "Blazor Client Side (Wasm), Crashes for Arabic/Farsi Google Chrome Localization"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
Blazor Client Side (Wasm), Crashes for Arabic/Farsi Google Chrome

[2019-10-16 10:50] javiercn commented on #15026
[code]

This is not going to work well. The reason is that each "MapFallbackToClientSideBlazor" captures all routes that are not paths, so the second and third "MapFallbackToClientSideBlazor" calls are not going to match any route.

You need to instead include some sort of prefix that acts as a discriminator, as follows:
[code]

Then on each page you load you can load a different blazor app.

[2019-10-16 11:44] edgaras-civinskas commented on #4895
Having same problem, shame it's not in 3.1.0-preview1.

[2019-10-16 11:52] syndicatedshannon commented on #2590
@davidfowl So, did more digging.

Much of the core library code to accomplish [the workflow I mentioned](https://github.com/aspnet/AspNetCore/issues/2590#issuecomment-540310292) is not reusable:
 - [UseErrorHandler](https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs#L90), including the following knowledge:
   - application

[2019-10-16 12:08] mmhgarcia commented on #8980
A friend had the same problem, the error was in the connection string, wrong host name.
Thanks.

[2019-10-16 12:17] dtate22 commented on #13093
@ahsonkhan  - Hey man, thanks for the information... (Thanks for the information - I will go to the URL listed above)
- It's crazy how many different places you have to look to solve a problem.

@pranavkm - I used the following tested versions before posting to the blog.  I didn't want to mis-lead people because I hadn't done my research
- .netCore 2.0 - failed (nuget System.Text.Json version)
- .

[2019-10-16 12:29] javiercn commented on #15051
@smjltd Thanks for contacting us.

This seems like a mono issue in `DateTime.ToShortString()` we will make sure we route the issue to the right place.

[2019-10-16 12:36] sommmen commented on #8254
Swashbuckle 5.0.0-rc4 worked for me. In vs - make sure you tick the 'include prerelease' right next to the search box of the package manager.

[2019-10-16 12:37] mahabirsingh-kis opened #15054 "connection timeout Signal R ASP.Net CORE"
I am facing the below issue in the .netCore application. Initially the SignalR is working fine but after sometime I start getting this issue and Signal R stops working

SQL server issue, the SignalR is not able to reconnect. Below is the message:
Error: Cannot send data if the connection is not in the 'Connected' State.
    at HttpConnection.send (app.bundle.js?v=null:11009)
    at HubConnection.s

[2019-10-16 12:40] mahabirsingh-kis commented on #14608
thanks @rynowak for your response. I will try to update it and will check.

[2019-10-16 12:41] mahabirsingh-kis commented on #14608
thanks @davidfowl for your response. Do you mean I have rebuild my application from scratch to migrate to .net core 3.0? Isn't there any other solution

[2019-10-16 12:51] syndicatedshannon commented on #2590
Many of the things that happen in `UseErrorHandler`, and other ASP.NET Core handlers, we want to happen regardless of formatter.
 - Discrimination of sensitive and non-sensitive information.
 - Status code assignment.
 - Mapping of proprietary human-readable messages.
 - ExceptionDispatch pattern.
 - TraceID or ExceptionId association (ideally something that can be provided to end-user).

We also

[2019-10-16 12:53] gilmishal opened #15055 "build.cmd and startvs.cmd in solution folders don't work when user name contains spaces"
### Describe the bug
When trying to run startvs.cmd or build.cmd, specifically from Http Folder they won't run and give out a cmd error about the number of arguments received.

It seems to be caused because the commands aren't escaped, and adding quotation marks should fix it.

### Expected behavior
Should build the projects or open the solution in that folder

[2019-10-16 13:07] javiercn commented on #15055
@gilmishal Thanks for contacting us.

Someone in @aspnet/build will take a look at this issue.

[2019-10-16 13:34] syndicatedshannon commented on #2590
@khellang Getting back to you on the library you recommended; it's very nice, but AFAICT it only handles the last step of what I just described above, requires early branching, and doesn't provide an easy means to receive the pre-determined information. I agree it does integrate similarly as an additional middleware layer with the existing error handling. For example, it requires re-statement of S

[2019-10-16 14:08] Bern88 opened #15059 "Hello-word"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen. Include any alternative solutions you've considered.

### Additional context
Add any other context or screenshots about the feature requ

[2019-10-16 14:16] javiercn opened #15060 "[Hosting] Hosting output conflicts with logging output."
* Create a template.
* Set console logging to debug
* Run the app a few times.
* At some point, the Hosting log messages will be incorrectly interleaved with the logging output.

[code]

We discovered this as we were capturing the console output and looking for `Now listening on: ` messages in the templates tests, and they were hanging when we couldn't find the message.

[2019-10-16 14:17] javiercn commented on #15048
https://github.com/aspnet/AspNetCore/issues/15060

[2019-10-16 14:27] postb99 opened #15061 "Blazor - Identity UI features"
### Describe the bug
Can I use other pages for some sections of Identity UI without being forced to scaffold? (create my own pages starting from Identity logic/code). The MVC scaffold doesn't accomodate a blazor server app.
Why, after changing  asp-page="/Account/Manage/Index" target in _LoginPartial.cshtml, does the link still remain the same?

### To Reproduce
Steps to reproduce the behavior:
1.

[2019-10-16 14:57] Tragetaschen commented on #13628
Related to https://github.com/dotnet/corefx/pull/35401

[2019-10-16 15:04] jkotalik commented on #15028
Oh, nevermind then!

[2019-10-16 15:09] #15025 closed

[2019-10-16 15:14] Tratcher commented on #15041
This issue was moved to dotnet/corefx#41828

[2019-10-16 15:14] #15041 closed

[2019-10-16 15:38] BrennanConroy commented on #15054
Are you observing a log that says there was a timeout? Could you grab logs on the server and client as described in https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-3.0

Can you describe how your app and client are setup?

How is SQL server related to the issue?

[2019-10-16 15:53] gaborbuzasi commented on #4422
@jrmoreno1 I can confirm that I had the same issue and this is resolved in 3.0.

I would still like to point out that there's so many breaking changes in 3.0 that it's not really an easy option for everyone to migrate just to resolve a pressing production issue.

[2019-10-16 16:03] pranavkm commented on #14954
@tebeco I responded to your other issue here: https://github.com/tebeco/Swashbuckle.AspNetCore/pull/1.Do you happen to know why this does not work?

[2019-10-16 16:07] mkArtakMSFT commented on #14677
Closing this as this is what's going to happen instead: #11592

[2019-10-16 16:15] mkArtakMSFT commented on #15051
This issue was moved to mono/mono#17363

[2019-10-16 16:15] #15051 closed

[2019-10-16 16:15] pranavkm commented on #8254
We are aware that this is a breaking change for libraries and individual libraries have to reconcile this either by using reflection or by cross-compiling (https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#migrate-libraries-via-multi-targeting).

The most recent releases of `Swahbuckle.AspNetCore` and `NSwag.AspNetCore` have resolved this. Ocelo

[2019-10-16 16:18] #15026 closed

[2019-10-16 16:22] springy76 commented on #8433
Someone already tried this?

[2019-10-16 16:25] mkArtakMSFT commented on #15039
Thanks for contacting us, @chkeita.
Can you try to set the `<PreserveCompilationContext>true</PreserveCompilationContext>` in the `<PropertyGroup>` section?

[2019-10-16 16:27] mkArtakMSFT commented on #15027
Thanks for contacting us, @jchannon.
@rynowak can you please have a look at this ? Thanks!

[2019-10-16 16:28] mkArtakMSFT commented on #14877
@shapeh we're closing this issue as we haven't heard back from you for some time now. Feel free to comment/reopen this issue when you have a repro available.

[2019-10-16 16:35] dbulic commented on #5456
I run the watcher as ```dotnet watch run``` and use VS to edit the code. When I save, the code is recompiled and the browser locks up, telling me I should reload.

I got tired of pressing F5 and prefer to stay in VS while adjusting things, so [TamperMonkey](https://www.tampermonkey.net/) to the rescue:

[code]
Allow the script to run on http://localhost:5000/*

[2019-10-16 16:35] mkris2003 opened #15063 "Asp.net core 3.0 how read body from PipeWriter ."
Hi,

Could you please help me i am writing middleware for request and response .

i was using  stream but need to convert  PipeWriter and PipeReader.

Could you please help me how read body from PipeWriter .

i have written code for PipeReader.

private  async Task<string> GetStringFromPipeReader(PipeReader reader)
        {
            StringBuilder stringBuilder = new StringBuilder();

[2019-10-16 16:37] bdcoder2 opened #15064 "IRequestCookieCollection Interface - missing .Net Framework compatibility?"
### Problem
Under the .Net Framework, multiple values could be associated with a single cookie, for example:

[code]
Using .Net Core 3.0 -- there appears to be no way to accomplish the above?  Is this assumption correct (I hope I just missed something in the docs -- if so, please provide a  code example), or was this by design?  If so, why?

The only solution I can come up with under .Net Core is

[2019-10-16 16:42] #3465 closed

[2019-10-16 16:46] chkeita commented on #15039
Asp.net core is currently ignoring controllers from a module.
See full detail [here](https://stackoverflow.com/a/58406539/50653).
I guess it should be possible to customize to use ConfigureApplicationPartManager to add an Feature provider that allows modules.
I would be nice if this would work out of the box for module

[2019-10-16 16:48] javiercn commented on #15061
@postb99 Thanks for contacting us.

If I'm understanding this correctly, are you trying to replace parts of the identity UI with "server-side blazor" versions? If that is the case, that is not possible.

If you are simply trying to replace the logic in some page provided by the Identity UI, then that's possible.
* Identity UI is simply a Razor Class Library, so you can place any page on the same p

[2019-10-16 16:48] #15061 closed

[2019-10-16 16:50] #15048 closed

[2019-10-16 17:03] mythrz commented on #14753
mouse right click "quick actions" could be added in these type of errors?
had the same problem, solved. ty

[2019-10-16 17:21] scalablecory opened #15067 "IApplicationBuilder missing"
_From @AndersMalmgren on Wednesday, October 16, 2019 11:13:46 AM_

Hi, I'm trying to migrate a SignalR SDK i have made for 2.2 to 3.0.
It was netstandard 2.0 but it seems SignalR is now part of core so I changed from netstandard2.0 to etcoreapp3.0

One of the problems is that it cant find `IApplicationBuilder` resharper wants to install Microsoft.AspNetCore.Http.Abstractions 2.2 to solve it. But M

[2019-10-16 17:22] pranavkm opened #15068 "[Validation] Validate components + Layouts work"
Validation for https://github.com/aspnet/AspNetCore/issues/14966

[2019-10-16 17:23] scalablecory opened #15069 "netcore 3.1 preview 1 components namespace unknown"
_From @niconico49 on Wednesday, October 16, 2019 8:51:56 AM_

# Issue Title
netcore 3.1 preview 1 components namespace unknown
Be as descriptive as you can with your title.

# General
After  update the visual studio 16.4.0 preview 2 that automatically installed
netcore 3.1 preview1

every reference to the component razor are missed

I'll try to explain:
before if a components razor used another co

[2019-10-16 17:23] pranavkm opened #15070 "Verify F# templates, runtime compilation in a RCL work"
Verificaition for https://github.com/aspnet/AspNetCore/issues/14813, https://github.com/aspnet/AspNetCore/issues/12768

[2019-10-16 17:24] scalablecory commented on #15069
@niconico49 can you zip up and attach a project that demonstrates this? It's a little hard to understand what's going on.

[2019-10-16 17:24] pranavkm opened #15071 "[Validation] Verify model state errors are reported for invalid form post"
Validation for https://github.com/aspnet/AspNetCore/issues/10291

[2019-10-16 17:26] pranavkm commented on #15069
/cc @NTaylorMullen

[2019-10-16 17:27] dougbu commented on #15055
@gilmishal please add the output of `build.cmd` in your case to this issue.

[2019-10-16 17:28] julienGrd opened #15073 "disabled attribute and async method"
Hello guys, i met a problem to bind the disabled attribute with an async method.

I don't know if it's possible or if i don't have the good syntax, but i have compilation error whatever i did

this is my code
[code]

thanks for your help !

[2019-10-16 17:28] Parrawk opened #15074 "Razor engine crashing while editing a .cshtml file"
### Description
I've been having this issue with the razor engine crashing constantly while editing .cshtml files, it ends with a popup "The Razor Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted.".

I haven't been able to reproduce it, sometimes it does it instantly, sometimes it takes hours, last time it happened I just added a css class to a span el

[2019-10-16 17:33] rjgotten commented on #12890
You responded by providing a limited-scope solution that only caters to very specific uses of Angular and React, conveniently the only two solutions for which Microsoft ever officially provided templates.

The old solution allowed full control over the Webpack integration, critically also for users that use something other than Angular or React. Or Vue for that matter. Or one of a million other sm

[2019-10-16 17:43] jlinstrum commented on #11725
As a simpler option I would like to see these methods throw more useful exceptions when they fail. If the server returns an error response the exception message should contain the response rather than "'<' is an invalid start of a value.", which I assume is what happens when the JonAsync method tries to deserialize an error response string. Perhaps the asyncJson methods can catch the JsonException

[2019-10-16 17:53] chkeita commented on #15039
Keeping this open for now so it could be considered a feature request

[2019-10-16 18:08] syndicatedshannon commented on #2590
Agreed :) I was editing the referenced comment quite a bit. I think I was referring to RFC ProblemDetails at the time.

Agreed. The branching has to occur earlier, prior to your middleware, cutting various steps entirely, to handle development scenarios, etc. Some code somewhere has to branch, to respond to format (HTML/JSON) and sensitive display (IsDevelopment). IMO, ideally the branching, espec

[2019-10-16 18:11] #14974 closed

[2019-10-16 18:25] ericgreenmix commented on #12890
@rjgotten I tend to agree with your thoughts on this. It will be interesting to see how Microsoft responds to the community on this. It really is like having the rug yanked out from underneath. Clearly, based on the feedback on this issue alone, this is a widely used feature  that is going to severely impact many teams if/when it is removed.

[2019-10-16 18:31] Postlagerkarte opened #15077 "RenderFragments re-rendering and state"
I am having a question about render fragments.

My setup looks like this:

I created a component called **Zone.razor** which contains this code:

[code]

I created another component called **Output.razor** which renders the fragments:

[code]
The **ZoneSerive.cs** is just keeping a List with the RenderFragments.

My **index.razor** looks like this

[code]

The `<output>` component renders the desi

[2019-10-16 18:39] rjgotten commented on #12890
Imho, they're going to have to do _something_ or this breach of trust is going to generate quite the backlash and potentially extend into future web-related products and frameworks, like their new little glamor-baby Blazor as well - making it even more dead-on-arrival than it currently already is.

You'd already have to be mad to foist multiple megabytes of wasm-ified CIL on users, which they stil

[2019-10-16 18:44] fjavaler commented on #4733
Same issue here as well in our prod environment. Happens intermittently.

[2019-10-16 18:55] NTaylorMullen commented on #15074
@Parrawk would you mind turning `razor.trace` to `Verbose` and then the next time it happens sharing your `Razor Log`?

[2019-10-16 18:57] terrajobst commented on #14706
That's true, but developer expectations apply. `HttpClientHandler` is the more advanced way to tweak it and allow wrapping/mocking. It's very reasonable for library code to accept an `HttpClientHandler` rather than accepting an `HttpClient` directly. As @anurse said, developers would generally expect that instantiating `HttpClientHandler` will give them an instance of the platform provided handler

[2019-10-16 19:31] Rody66 commented on #4733
Dear developers, please fix this exception. It's like a client error.

[2019-10-16 19:39] rjgotten commented on #12890
::raises hand::

I'm facing this because I'm building and maintaining stuff using an alternative framework and literally _need_ raw Webpack dev middleware to have a workable development experience. I also have to deal with several scenarios like Puppeteer-based PDF rendering that use the lower-level `InvokeAsync` from NodeSerivces.

As I've taken a private fork of NodeServices before, I'll probabl

[2019-10-16 20:02] jpmaistrebazin commented on #4733
Since I upgraded to core 3.0, I don't have this exception

[2019-10-16 20:07] kevingates commented on #14859
@mkArtakMSFT
Here's a repo: https://github.com/kevingates/Blazor_EditForm

[2019-10-16 20:22] Bern88 commented on #15059
Thank you, i want your support

[2019-10-16 20:23] Tratcher opened #15079 "Remove doc references to obsolete AuthenticationManager"
HttpContext.AuthenticationManager was obsoleted and removed in prior releases, but there are still several references to it in the doc comments and API docs.
https://github.com/aspnet/AspNetCore/blob/c565386a3ed135560bc2e9017aa54a950b4e35dd/src/Mvc/Mvc.Core/src/ChallengeResult.cs#L14
https://github.com/aspnet/AspNetCore/blob/c565386a3ed135560bc2e9017aa54a950b4e35dd/src/Mvc/Mvc.Core/src/ForbidResul

[2019-10-16 20:26] pkali18 opened #15080 "ASP.NET Core 3 React template - Refresh token usage"
Is there any way whatsoever to trigger the usage/issuing of **refresh tokens** from Identity Server with the current **React template** provided in ASP.NET Core 3? I'd love to able to build on top of the current setup instead of starting from scratch in order to use token renewal.

[2019-10-16 20:27] Bern88 opened #15081 "Hello-word"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen. Include any alternative solutions you've considered.

### Additional context
Add any other context or screenshots about the feature requ

[2019-10-16 20:34] CodingGorilla commented on #14735
I running into this same issue with an 3.0 application that was upgraded from 2.2.  When hitting F5 within visual studio and testing with Postman I get an ANCM In-Process Start Failure, with a log indicating that %launcher_args% is not a command.  Running with `dotnet run` in the console seems to work just fine.

[2019-10-16 20:35] kevingates opened #15083 "Reopening: EditForm: After you hit submit the first time, any new tabbing through fields tries to resubmit"
I hate doing it this way, but  this issue is to reopen another Github issue. My UI didn't have an option to reopen the issue myself, so here's a link to the bug.
https://github.com/aspnet/AspNetCore/issues/14859

[2019-10-16 20:46] rjgotten commented on #12890
Not seeing it. Atleast not for the `aspnet-webpack` middleware gluecode.

Most if not all of the complex parts there that would have to touch sensitive Node APIs are imported from third party packages with zero burden to "keep up to date with the latest Node releases" - outside of maybe bumping a package version to incorporate support for a new Node engine version.

What I do see is that the middl

[2019-10-16 20:50] #15081 closed

[2019-10-16 20:51] pranavkm commented on #15083
Thanks @kevingates. I'll reopen the other issue since it has more context.

[2019-10-16 20:51] #15083 closed

[2019-10-16 21:06] Tratcher commented on #14056
Testing on Kestrel, master branch.

`context.Response.Headers["Foo"] = "bar";` throws `InvalidOperationException: Headers are read-only, response has already started.`
`context.Response.ContentLength = null;` doesn't throw when it should.

[2019-10-16 21:10] dharmaturtle commented on #5456
This works for server side: https://github.com/martasp/BlazorLiveReload

The client pings the server every 200ms. When the server goes down due to being recompiled from `dotnet watch run`, a flag is toggled, and when the server comes back it automatically F5s.

The repo didn't work for me, but I opened an issue with some javascript that does work (at least for me on 3.0)

[2019-10-16 21:20] devna13 opened #15085 "SignalR + The maximum message size of 32768B was exceeded."
### Describe the bug
after upgrading to netcoreapp3.0 and SignalR packages, I'm getting this error-randomly- on some connections to the SignalR server.
`'Error: Server returned an error on close: Connection closed with an error. InvalidDataException: The maximum message size of 32768B was exceeded. `

Client side application (angular/spa) periodically takes small resolution photo (320*240 ~ 15KB )

[2019-10-16 21:23] hempels commented on #14984
Ya, I guess I'm saying that seems broken. It's certainly non-intuitive in terms of design.

But either way, it's a satisfactory explanation for the problems I was having. Thanks for your help.

[2019-10-16 21:26] pranavkm commented on #14859
@kevingates I haven't dug in to this super well, but it looks like a bug in your code. `ShowModal` is set when you submit -
https://github.com/kevingates/Blazor_EditForm/blob/master/EditFormBug/EditFormBug/Pages/Index.razor - but nothing resets it. Once you've submitted the form, any time the `Index` component is rendered, the modal is still meant to be displayed. I'd have a look at how the modal

[2019-10-16 21:33] rjgotten commented on #12890
I wonder if that is somehow related to https://github.com/aspnet/JavaScriptServices/blob/master/src/Microsoft.AspNetCore.SpaServices/npm/aspnet-webpack/src/WebpackDevMiddleware.ts#L158

[2019-10-16 21:34] javiercn commented on #15073
@julienGrd thanks for contacting us.

In Blazor rendering is synchronous, you need to move your async logic to OnInitializeAsync.

Our recomendation is that you change your view to `disabled=@Property` where Property is true by default and set it to the appropriate value from `Property = await CanValidate()` inside OnInitializeAsync.

Hope that helps

[2019-10-16 21:34] #15073 closed

[2019-10-16 21:36] YordanYanakiev opened #15087 "JavaScript Object Class"
### Is your feature request related to a problem? Please describe.
I am trying to convert a project from Flash to Blazor, and so far - so good, and the things are looking pretty much very promising from the Client side.
Anyway so far a significant delay is caused by the complex structures which I have to maintenance while translating a complex object from C# class to JavaScript class ( enterprise

[2019-10-16 21:36] pranavkm opened #15088 "Add docs for ExcludeConfigFilesFromBuildOutput"
Follow up to https://github.com/aspnet/AspNetCore/issues/14017

[2019-10-16 21:37] pranavkm commented on #14017
In 3.1, we've added an additional flag to the SDK - `ExcludeConfigFilesFromBuildOutput` that should prevent `*.config` and `*.json` files from being copied to the build output directory. They would continue to be published similar to 2.x. We have a follow up issue to document this as part of the 3.1 release: https://github.com/aspnet/AspNetCore/issues/15088. Lastly, for users on 3.0, the workaroun

[2019-10-16 21:37] #14017 closed

[2019-10-16 21:43] Tratcher commented on #14056
Confirmed this is only an issue with Kestrel. IIS in-proc and HttpSys both throw if you try to set Content-Length too late.

[2019-10-16 21:49] #14072 closed

[2019-10-16 21:55] sweetodev opened #15090 "determine what port asp.net core is listening to"
I'm trying to register my microservice with consul and it requires the address and the port it's listening to.

I am able to retrieve address from `Dns.GetHostName()` but can't determine the port number which varies from dev to production.

Is there a programatic way to determine this value on startup, for instance within this code:

    public static IWebHostBuilder CreateWebHostBuilder(string[]

[2019-10-16 21:57] fjavaler commented on #4733
Can anyone else verify whether upgrading to core 3.0 resolved this issue?

[2019-10-16 22:02] Bern88 commented on #15081
I trying to do [...]

[2019-10-16 22:05] davidfowl commented on #14608
Yes you need to recompile against 3.0

[2019-10-16 22:10] #14646 closed

[2019-10-16 22:13] #13533 closed

[2019-10-16 22:21] BrennanConroy commented on #15085
Thanks for reporting the issue, for now you can workaround the issue by adding
[code]
after the call the `AddSignalR()`

[2019-10-16 22:36] sebastienros commented on #14655
Fixed with guidance from @Tratcher, the windows IP had changed and the certs config needed to reflect that.

[2019-10-16 22:36] #14655 closed

[2019-10-16 22:43] Tratcher commented on #15064
Multi-value cookies are not part of the standards for cookies, they were a customization implemented by .Net Framework. ASP.NET Core opted to only support the standard format, not the customized one.

Yes, you'll need to create multiple cookies.

[2019-10-16 22:50] aspnet-hello opened #15091 "Bad responses: Json, Plaintext"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| Json | Windows, Physical, https, HttpSys | 10/16/19 10:04:13 AM +00:00 | 2299018 |
| Plaintext | Windows, Physical, https, HttpSys | 10/16/19 10:03:02 AM +00:00 | 2333874 |

[Logs](https://aka.ms/aspnet/benchmarks/jenkins)

[2019-10-16 22:52] Tratcher commented on #15063
Why do you need to switch to pipes? That's optional. You can continue to use Streams and only put a pipe adapter over them when needed. For an example look at how the response compression middleware works. Here are the changes we made in 3.0 to consolidate streams and pipes:
https://github.com/aspnet/AspNetCore/commit/080660967b6043f731d4b7163af9e9e6047ef0c4#diff-8e5e94fea052bcafa7a5167a9011e90d
h

[2019-10-16 23:27] sebastienros commented on #15091
We'll have to close it once the next good run will succeed. Because right now the bot still finds the last run with errors.

[2019-10-16 23:40] bdcoder2 commented on #15064
@Tratcher - Thanks -- good to know !

Perhaps it would be prudent to add the following to the documentation in the appropriate ASP.Net Core Cookies class(es), specifically:

Would be a nice tidbit for those of us who read the docs and come from the .Net Framework.

Thanks again!

[2019-10-16 23:44] jjxtra commented on #15046
I'd love more guidance on "Alternatively, you need to discover the application parts manually, which can be done with the default application part factory."...

[2019-10-17 00:09] #14975 closed

[2019-10-17 00:44] davidfowl commented on #15090
You can do it *after* the server starts, like in an IHostedService implementation.

[code]

[code]

[2019-10-17 01:06] Bio2hazard commented on #14117
Hi @gnjack ,

It's unfortunate that this issue is also affecting you, but I am also glad that it's not just me.

I have been working on a minimal repro myself, at first I tested just memory allocations, then I tested Console output ( since we log a decent amount of information to the console ), but neither of those yielded any results.

The next test I planned was outbound requests using HttpClien

[2019-10-17 01:19] preetriti1 opened #15093 "AddJsonOptions does not seem to be updating the output format"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
Unable to add custom json serialization to the output of web app

[2019-10-17 01:27] slaneyrw commented on #14996
When can we expect ASP.NET and OWIN updates ?

[2019-10-17 01:50] aspnet-hello opened #15094 "Bad responses: ConnectionClose, ConnectionClose, DbMultiUpdateDapper, DbMultiUpdateDapper, DbMultiUpdateEf ..."
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| ConnectionClose | Linux, Cloud, https, KestrelSockets | 10/13/19 5:24:53 AM +00:00 | 67 |
| ConnectionClose | Linux, Cloud, http, KestrelSockets | 10/13/19 8:48:34 AM +00:00 | 908 |
| DbMultiUpdateDapper | Windows, Cloud, http, KestrelSockets | 10/16/19 9:52:44 AM +00:00 |

[2019-10-17 02:28] bidianqing opened #15095 "How to use IServiceProvider in OnConnectedAsync method on AzureSignalR"
following code
[code]
[code]
![image](https://user-images.githubusercontent.com/12196280/66972892-a1c9e780-f0c8-11e9-8510-f8b9ce8294d6.png)
In OnConnectedAsync method, services is null ,I want use this, Please tell me what to do ? Thanks

[2019-10-17 02:34] SteveSandersonMS commented on #11914
Done in https://github.com/aspnet/AspNetCore/pull/14818

[2019-10-17 02:34] #11914 closed

[2019-10-17 02:36] SteveSandersonMS commented on #11267
Done inhttps://github.com/aspnet/AspNetCore/pull/14463

[2019-10-17 02:36] #11267 closed

[2019-10-17 02:49] bidianqing commented on #15095
Unable to get cookies

[2019-10-17 02:59] davidfowl commented on #15095
You shouldn’t be using RequestServices, you should be resolving services in your Hub constructor

[2019-10-17 03:18] bidianqing commented on #15095
How to get Cookies in OnConnectedAsync method? Thanks

[2019-10-17 03:18] bidianqing commented on #15095
@davidfowl

[2019-10-17 03:37] SteveSandersonMS opened #15097 "Update Mono WebAssembly for 3.1.0 preview 2"
This is actually already done in https://github.com/aspnet/Blazor/pull/1912, so I'm only creating this issue for tracking purposes.

[2019-10-17 03:38] #15097 closed

[2019-10-17 03:41] MyJimmyZhou opened #15098 "Multipart body length limit 16384 exceeded"
###
I encountered errors in the following situations：
code like this:
[code]
1: this exception to be thrown when I use http and file size > 2MB
2: It works like this:
  http,file size < 2MB ;
  https ,no file size limit .

Another situation
use async code ,It works too,
code like this:
[code]
I don't know why there's an exception when I use http and file size > 2MB.
but other situation is working.

[2019-10-17 05:02] Tratcher commented on #14996
The plan is for November.

Microsoft.Owin 4.1 nightly builds are available on the dev feed documented here:
https://github.com/aspnet/aspnetkatana#nightly-build-feeds
Be warned that they expect the ASP.NET patche to be installed or you may end up with `SameSite=-1` in your headers if you use the SystemWebCookieManager.

[2019-10-17 05:11] SteveSandersonMS commented on #13003
Done in https://github.com/aspnet/AspNetCore/pull/14941

[2019-10-17 05:11] #13003 closed

[2019-10-17 05:12] phonglt7 opened #15100 "AccessFailedCount on Master Slave cluster"
Hi, we have an issue happened after the database move to cluster.
We have a writer database and a reader database.

After moving to the cluster, the AccessFailedCount didn't increase anymore after a failed attempt.

Here is the debug output we got
<img width="1675" alt="66798013-d6a63500-ef36-11e9-9014-beac1bd97e93" src="https://user-images.githubusercontent.com/46190930/66979317-3f2c1800-f0d7-11e

[2019-10-17 05:29] careless6666 commented on #15009
Thanks @Tratcher, I fixed my test code like you write https://github.com/careless6666/dotnet-core-body/blob/master/WebApplication3.0/Startup.cs,
get latest build SDK Version: 3.1.100-preview2-014473
send post message
[code]
From handler

From handler end
[code]

[2019-10-17 06:08] mahabirsingh-kis commented on #15054
Hello @BrennanConroy , thanks for your response. My application is developed in .netcore  and React. I have the logged errors. Please find the attachments for the error logs
![picturemessage_pqz3oh3s 4m5](https://user-images.githubusercontent.com/16679896/66981810-7a781800-f0d2-11e9-8950-db00cc0a07dd.png)
![picturemessage_rgo3nrbr tq5](https://user-images.githubusercontent.com/16679896/66981822-84

[2019-10-17 08:01] stsrki commented on #8433
I have just tried it and it doesn't work for generic components at all. It works for basic partial class.

### This works

[code]

### Doesn't work

[code]

[2019-10-17 08:12] smartprogrammer93 commented on #8433
This is a very important feature in my opinion. I wish if it can be done by .Net Core 3.1

[2019-10-17 08:21] oiBio opened #15101 "bind-* on ICollection not working for HashSet or List"
We are working on an input element that binds to an ICollection<string>.  Its works fine when we bind an actual ICollection<string> variable to it. But not when the bouded variable is a HashSet<string> or a List<string>.

We are using the binding with the EventcallBack.
[code]
and we call it like this
[code]

### Describe the bug
The compiler throwes the following error

[2019-10-17 08:26] khteh opened #15102 "AuthenticationScheme: "Identity.Application" was forbidden."
### Describe the bug
I have the following in Startup.cs:
[code]
User is authenticated successfully but authorization fails with the following error:
[code]
This worked in ASP.Net Core 2.2. What has changed?
### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '...' 3.0
2. Run this code '....'
3. With these arguments '....'
4. See error

### Expected behavior
A cl

[2019-10-17 08:27] vmcbaptista opened #15103 "ControllerBase Problem() does not return correct HTTP Status Code header"
### Describe the bug
When using Problem() from ControllerBase to return a response body of type ProblemDetails, the status code is not reflected in HTTP Status Code header.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0
2. On an API controller method `return Problem(detail: "ErrorDetail", statusCode: 400);`
4. The response is:
[code]

### Expected beha

[2019-10-17 08:38] rolandh commented on #14017
Great result.

[2019-10-17 08:47] Kahbazi commented on #15103
This issue has been fixed via https://github.com/aspnet/AspNetCore/pull/14672 for release/3.1 but has not been merged to master yet

[2019-10-17 09:08] marek-safar commented on #14706
I think this needs more thinking. Our expectation was that the developers would prefer handlers which is most compatible across the platform. This is also the direction CoreFX went, e.g. Linux handler switched from libcurl which one can consider platform-specific handler to more general, more compatible fully managed socket handler. It's even worse for macOS? Does .NET Core default to native platf

[2019-10-17 09:11] javiercn commented on #15103
This has been fixed in 3.1

[2019-10-17 09:11] #15103 closed

[2019-10-17 09:11] javiercn commented on #15103
/cc; @pranavkm

[2019-10-17 09:12] javiercn commented on #15102
@HaoK

[2019-10-17 09:34] chrisdot opened #15104 "configurable HTTP/2 PING timeouts on kestrel"
I'm trying to evaluate gRPC for my client/server context.

I looked briefly into ASP.Net core 3 and its new exciting gRPC support. As I need to use the gRPC streaming feature in a **long lived connected scenario**, I needed the [HTTP/2 PING feature](https://tools.ietf.org/html/rfc7540#section-6.7) to detect the zombie connections (basically to know: "Am I still having an up and running connection

[2019-10-17 09:38] aborderon opened #15105 "The remote certificate is invalid according to the validation procedure"
### Describe the bug
Hello,

I am using a **Net Core Web API** version 2.2 and an application with **IdentityServer** 2.2 for authentication to this API (OAuth 2 / OpenId).

I also use an **Angular web** application in front which consumes the web services of the API.

In development, the various applications function and communicate well with each other.

I deployed these application with **Docke

[2019-10-17 09:39] dbarkwell commented on #14734
I ran into the same issue. I solved it by using a PipeReader.

var reader = PipeReader.Create(context.HttpContext.Request.Body);

[2019-10-17 09:50] aspnet-hello opened #15106 "Scenarios are not running: DbMultiQueryDapper, DbMultiQueryEf, DbMultiQueryRaw, DbSingleQueryDapper, DbSingleQueryEf ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| DbMultiQueryDapper | Windows, Cloud, http, KestrelSockets | 10/16/19 9:47:58 AM +00:00 |
| DbMultiQueryEf | Windows, Cloud, http, KestrelSockets | 10/16/19 9:48:46 AM +00:00 |
| DbMultiQueryRaw | Windows, Cloud, http, KestrelSockets | 10/16/19 9:47:12 AM +00:00 |
| DbSingleQueryDappe

[2019-10-17 09:58] taomylife521 commented on #14912
No one can answer my doubts？

[2019-10-17 10:14] khteh commented on #15102
My fault. I missed out the `Claims` when migrating from RESTful WebAPI to GRPC.

[2019-10-17 10:16] DataTables opened #15107 "The FrameworkReference 'Microsoft.AspNetCore.App' was not recognized"
### Describe the bug

When adding .NET Core 3.0 to a multi-targeted project I'm getting the error:

I've followed the [porting guide here](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio) but have been unable to resolve the issue. It looks like this also also been raised in [other issues](https://github.com/aspnet/AspNetCore/issues/4490), but

[2019-10-17 10:48] gilmishal commented on #15055
the  output is  - 'C:\Users\Local' is not recognized as an internal or external command,                                                  operable program or batch file.  `Local User` is my user directory.

[2019-10-17 10:50] aspnet-hello opened #15108 "Scenarios are not running: ConnectionClose, ConnectionClose, ConnectionClose, ConnectionClose, DbFortunesDapper ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| ConnectionClose | Windows, Cloud, http, KestrelSockets | 10/16/19 10:08:40 AM +00:00 |
| ConnectionClose | Windows, Cloud, https, KestrelSockets | 10/16/19 10:09:04 AM +00:00 |
| ConnectionClose | Windows, Physical, http, KestrelSockets | 10/16/19 10:37:41 AM +00:00 |
| ConnectionClo

[2019-10-17 11:07] blowdart commented on #15105
Can we assume this is a linux docker image?

Where is the HTTPS certificate from?

[2019-10-17 11:14] jrmoreno1 commented on #4422
@jkotalik : one of the frustrating things about this is it only happens in production, not on the available test servers.  So, no, I haven’t tried an upgrade to 3.0.  We are planning on skipping 3.0 and going to 3.1 as it is supposed to come out in November.

As an aside, you wouldn’t know if that was late or early November would you?

[2019-10-17 11:15] Henk7 opened #15109 "blazor (server side) javascript interop: Javascript fails because code must run as user-initiated"
I am running into a problem writing data into the clipboard using server-side blazor. The library https://github.com/lgarron/clipboard-polyfill fails to write a text to clipboard after a button press using server-side blazor under firefox V69, but is works under chrome V77.

With a plain old javascript html page without blazor the clipboard write works in firefox and chrome.

I assume that firefox

[2019-10-17 11:28] sepehr1014 commented on #4422
Same here. But the expected final ship date is December 2019 as Richard has mentioned in this post:
https://devblogs.microsoft.com/dotnet/announcing-net-core-3-1-preview-1/

[2019-10-17 11:47] aborderon commented on #15105
@blowdart , Yes, I use the dotnet docker image for the API runtime :
`FROM mcr.microsoft.com/dotnet/core/aspnet:2.2`

When I use an endpoint with Curl I have the following error:

[code]

I have not tried to configure Kestrel with the self-signed certificate, I will try to do it and I will come back to you.

thank you

[2019-10-17 12:02] benmccallum commented on #3756
Does pulling in the whole framework (rather than just say .Http.Abstractions) have a side effect of increasing startup time? I'm not worried about the disk space increase, but is the whole fx "loaded in" when the app starts up? I'm thinking of the serverless context, where one of the recommendations is to limit static classes to drop cold starts.

[2019-10-17 12:14] kevingates commented on #14859
@pranavkm
You are absolutely correct. I have the modal closing itself within the modal's code, but since the parent is only having its state updated (versus being reinitialized) you're right that I am have it re-shown. I have my callback function change my "modalSettings" to false after I hear back and it fixed the issue.

First, I apologize for posting a bug about my own mistake.

Second, I since

[2019-10-17 12:14] #14859 closed

[2019-10-17 12:18] shapeh commented on #14877
Sorry about the late response - this is still open / I need just to free up an hour to do the repro.

[2019-10-17 12:27] rizamarhaban commented on #9020
@davidfowl Any roadmap on this?

[2019-10-17 12:28] Tratcher commented on #3756
@benmccallum no, the runtime still only loads assemblies on demand.

Static classes are only initialized the first time you reference them, they shouldn't affect startup time.

[2019-10-17 12:34] carlowahlstedt opened #15112 "Blazor Relative URLs"
Images in the wwwroot folder not loading when using a BasePath.

### To Reproduce
1. Using the initial release of ASP.NET Core 3
2. Host your site on IIS in an application under the main site. In my scenario: `http://valseg38/release_model_sample/`
3. On deployment the base URI is set to `/release_model_sample/` in _Host.cshtml
4. On the MainLayout.razor or Index.razor page insert an img tag point

[2019-10-17 12:35] Tratcher commented on #15104
In kestrel adding an API or timer for this would be pretty straight forward.

@shirhatti we should also consider http.sys. A timer would be easier there.

[2019-10-17 12:46] #5877 closed

[2019-10-17 12:50] pavinan commented on #14912
@taomylife521 delete ".tools" folder and try again.

[2019-10-17 13:18] bertt opened #15113 "QueryStringMapping?"
In older versions of asp.net web api there was the QueryStringMapping object, a handy way to specify the mediatype in the querystring (like http://my-app/api/contacts/11/?format=vcard). Full example at https://weblogs.asp.net/gunnarpeipman/asp-net-web-api-query-string-based-content-formatting

Whats the equivalent way to specify the mediatype in  the querystring in asp.net web api core?

[2019-10-17 13:22] jeroendee commented on #15069
Having somewhat the same errors in the default HelloWorld weatherforecast app.
Latest VS version 16.3.5 with Preview Features > Use previews of the .NET Core SDK (requires restart) option checked

Installed SDK's:

PS C:\WINDOWS\system32> dotnet --list-sdks
2.1.801 [C:\Program Files\dotnet\sdk]
2.2.401 [C:\Program Files\dotnet\sdk]
3.0.100 [C:\Program Files\dotnet\sdk]
3.1.100-preview1-014459 [C:\

[2019-10-17 13:25] pranavkm commented on #15113
`FormatFilter` would be the equivalent - https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/formatting?view=aspnetcore-3.0#response-format-url-mappings

[2019-10-17 13:26] ikcore commented on #9020
Deploying to a container using Kestral is fine but its the ease of say
using Lets Encrypt in IIS or an app service that's really holding me back.
If there are any concise guides on how to run a custom domain with lets
encrypt on kestrel in a container then I'm jumping into gRPC head first
else it's very tough to justify the overhead of creating some custom
deployment just to accommodate the new st

[2019-10-17 13:32] pranavkm commented on #8945
@anurse looks like the docs article is done. Should this be closed?

[2019-10-17 13:50] aspnet-hello opened #15114 "Scenarios are not running: EndpointPlaintext, Json, Json, MvcJson, MvcJson2k ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| EndpointPlaintext | Windows, Cloud, http, KestrelSockets | 10/16/19 1:10:46 PM +00:00 |
| Json | Windows, Cloud, http, KestrelSockets | 10/16/19 1:26:23 PM +00:00 |
| Json | Windows, Cloud, https, KestrelSockets | 10/16/19 1:38:03 PM +00:00 |
| MvcJson | Windows, Cloud, http, Kestrel

[2019-10-17 14:09] bertt commented on #15113
thanks for the pointer. Got it working now doing some more customizations as described in https://www.strathweb.com/2016/07/customizing-formatfilter-behavior-in-asp-net-core-mvc-1-0/#more-5081

[2019-10-17 14:09] #15113 closed

[2019-10-17 14:28] davidfowl commented on #14734
That’s not how you solve this issue

[2019-10-17 14:32] davidfowl commented on #14706
That solution is bad for library authors. We have to optimize for not requiring specific builds for each platform here.

Corefx never broke HttpClientHandler when adding other handlers AFAIK

[2019-10-17 14:40] mythrz commented on #14946
If you try to reference the RCL static assets in the "site.css" of the **main project** do this instead: ../_content/"LibraryName"/"pathfromwwwroot"
or this to be more precise:
@import url('../_content/"RCLLibraryName"/"path+filename"');
Intellisense is not working yet, so make sure you write this properly.

To check if both projects were properly wired/referenced and have the requirements (Micros

[2019-10-17 15:21] BrennanConroy commented on #15067
`IApplicationBuilder` should be part of the shared framework, so no package installation needed. If you're finding `.AddSignalR()` then you should also be finding `IApplicationBuilder` because they are both coming from the shared framework.

[2019-10-17 15:42] voroninp opened #15116 "Why isn't there FromHeaderValueProvider?"
I created custom binder for typed string `LanguageName` and marked action parameter with `FromHeader` attribute:

[code]
So my expectation was, that `ValueProvider` will be of type `FromHeaderValueProvider`, but there is no such type.

If I set type of `languageName` parameter to `string`, I see in debug mode the following output:

[code]

### Describe the solution you'd like
My expectation is tha

[2019-10-17 15:51] Tratcher commented on #15063
This is not the place for a tutorial on Pipes. @davidfowl can you suggest any similar Pipe samples, doc, etc.?

[2019-10-17 16:02] dbarkwell commented on #14734
@davidfowl sorry, I wasn't trying to solve it. I was just offering a suggestion that worked for me.

I ended up with that code because I've recently been reading up on the documentation you posted on pipelines.

[2019-10-17 16:13] pranavkm commented on #15093
@preetriti1 what's `FlowJsonExtensions.JsonMediaTypeFormatter`?

`AddJsonOptions` specifically configures MVC"s built-in `JsonInputFormatter` \ `JsonOutputFormatter`. If the instance you're adding isn't the same instance but gets uses by the action, it would explain why things are not working. If you think this is an actual issue with MVC, please include a minimal app that reproduces the problem a

[2019-10-17 16:19] javiercn opened #15118 "[Tooling] dotnet dev-certs issues on Mac when old certificate version is present"
When an old version of the certificate is present on Mac, the tool runs into some issues:
* It does not update the cert automatically. `dotnet dev-certs https --check` returns 0.
* It causes exporting the certificate to fail `dotnet dev-certs https -ep path -p password` fails.
* The old version is not accepted by new OS/Browsers and it causes HTTPS connections to be rejected.

Cleaning the cert an

[2019-10-17 16:33] anurse commented on #14706
That's exactly the concern I have. If we expect libraries to pivot on the underlying platform, then our API portability story is back where it started (PCLs and such).

[2019-10-17 16:34] #8945 closed

[2019-10-17 16:34] pranavkm commented on #15107
@nguerrera \ @dsplaisted any guesses what could be wrong?

@DataTables could you attach the binary build logs? You can get them by running `msbuild /bl` which produces an `msbuild.binlog` file

[2019-10-17 16:37] anurse commented on #14117
Sounds like this isn't really something in the scope of the ASP.NET Core team then. It think we'll need some deeper investigation from .NET Core folks here (cc @davidfowl @jkotas). Perhaps this issue should be moved to dotnet/core since it sounds like the problem runs much deeper than our stack.

[2019-10-17 16:38] mkArtakMSFT commented on #15109
Thanks for contacting us, @Henk7.
@SteveSandersonMS can you please look into this? Thanks!

[2019-10-17 16:38] anurse commented on #14735
I didn't do that. That was what the original poster did but I don't believe it's what @mjamin did (this is part of what makes it confusing to post similar issues on closed issue threads 😉)

[2019-10-17 16:41] anurse commented on #15010
Can you collect a network trace (see the [guide in our docs](https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-3.0#network-traces)) from the client side so we can see what behavior the proxy is producing? The trace will include the complete content of your requests, so if you are concerned about disclosing confidential information, let me know and we can provide an a

[2019-10-17 16:41] mkArtakMSFT commented on #15101
Thanks for contacting us, @oiBio .
@pranavkm can you please look into this? Thanks!

[2019-10-17 16:43] anurse commented on #14988
I don't have it handy as I didn't keep it around after updating. It was just File > New Project and then I set `stdoutLogPath` to `.\logs\stdout` and `stdoutLogEnabled` to `true`.

For the `debug` log, I copied your `handlerSettings` section and set the path to `.\\logs\\debug`. Both logs were produced when I F5'd.

[2019-10-17 16:44] anurse commented on #14919
Do we have tests that use embedded env vars to reproduce append behavior? If so, or if we can add one, I'm totally in favor of making this change ASAP. We'll need to announce a breaking change properly, but I think this makes sense. I think I'd still add a property to the property bag to quirk it off even though it should be possible to "rewrite" your logic. Just in case.

[2019-10-17 16:47] mkArtakMSFT commented on #15077
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-10-17 16:52] mkArtakMSFT commented on #15069
Thanks for contacting us folks.
Can you please make sure that you use VS 16.4 preview with .Net Core 3.1 Preview1. If you're seeing issues in VS 16.3, make sure you haven't selected the option to use Preview .NET Core SDK.

@scalablecory can you please share the about dialog screenshot from VS?

[2019-10-17 16:57] pranavkm commented on #15116
Thanks for the issue report @voroninp. We'll take a look at this as part of the 5.0 release.

[2019-10-17 16:59] pranavkm commented on #15080
@javiercn could you respond?

[2019-10-17 17:02] pranavkm commented on #15039
Glad you got this working @chkeita. Given that there's a workable solution to this, we don't plan on adding new features for this.

[2019-10-17 17:02] #15039 closed

[2019-10-17 17:05] pranavkm commented on #15116
Do you have a minimal repro app you could share?

[2019-10-17 17:07] #14504 closed

[2019-10-17 17:08] pranavkm opened #15122 "Validate FormatException \ OverflowException thown by JSON formatters"
Verification for https://github.com/aspnet/AspNetCore/issues/14504

[2019-10-17 17:24] Tratcher commented on #15098
Can you share a fiddler trace? Also please share the full stack trace of the exception. This usually happens when the boundary is not correct.
https://github.com/aspnet/AspNetCore/blob/418e35c4396682aea6ee6e9833ff3bd3bfe624eb/src/Http/WebUtilities/src/MultipartReader.cs#L48-L50

[2019-10-17 17:30] ajillepalli opened #15123 "[CommandLineTools] Blazor server template example doesn't load in FF/GC due to ERR_HTTP2_INADEQUATE_TRANSPORT_SECURITY"
Blazor server template example doesn't load in Firefox or Google Chrome for the non-IIS execution profile. The encountered error is along the lines of 'inadequate security' in both web browsers. A trust certificate for dotnet has been installed using the `dotnet dev-certs https --trust` command. Any ideas on how to best proceed? Thanks.

OS: Windows 10.0.17763 Build 17763
Error code on Firefox (v6

[2019-10-17 17:34] BillHiebert commented on #14735
I couldn't reproduce it either way

[2019-10-17 17:37] #13719 closed

[2019-10-17 17:39] BillHiebert commented on #14735
Note that ANCM also logs errors to the Windows Event Application logs so you may want to check there. You can also enable Enhanced Diagnostics as described [here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.0#enhanced-diagnostic-logs)

[2019-10-17 17:41] Parrawk commented on #15074
@NTaylorMullen Sorry for the late response, today I got the error again and this is the razor log and the file I was editing.

[GIST](https://gist.github.com/Parrawk/d2eee2dcf16654ad50b0cacf6b390171)

[2019-10-17 17:45] bdcoder2 commented on #14988
@nurse - sound like what happened to me -- but I directed **stdoutLogPath** and debug file paths to D:\temp\ -- the debug file had entries in it, but the **stdoutLogPath** file was always empty!!  Was your file empty as well?

[2019-10-17 18:09] Parrawk commented on #15123
Maybe this issue can be of help: #14350
It probably has to do with the ciphers your OS is trying to use.

[2019-10-17 18:09] pranavkm commented on #15009
@Tratcher re-opened so you can respond.

[2019-10-17 18:26] Tratcher commented on #15009
You can remove this line:
https://github.com/careless6666/dotnet-core-body/blob/master/WebApplication3.0/Startup.cs#L55

You still need to seek back to 0 on the request body before reading it.

[2019-10-17 18:27] #13276 closed

[2019-10-17 18:27] ajillepalli commented on #15123
Updated the original post with OS info and browser error codes, thanks.

[2019-10-17 18:37] carlowahlstedt commented on #15112
FYI, seeing the 3.1 tag reminded to test with preview1 just released. I did that with the same results. It is a self-contained release.

[2019-10-17 18:41] CodingGorilla commented on #14735
@BillHiebert I enabled logging on the ANCM and the error was similar to the original post. I get:

I believe this error is coming from some of my code, which is attempting to look for runtime commands.  However, as I understand from this converation, the `%launcher_args%` should be replaced by visual studio when I launch the debugger.  As a short term work around, I added some code to my Program.M

[2019-10-17 19:26] #15090 closed

[2019-10-17 19:28] adrianwright109 opened #15125 "Unable to update master branch on my fork of AspNetCore"
I went to update the `master` branch on my GitHub fork of `aspnet/AspNetCore` and it failed with error:
[code]

This usually works without issue.

The steps I did were:
1. Get latest commits from `aspnet/AspNetCore`
`git pull upstream master`
2. Push those commits to my `master` branch on my fork
`git push origin master`

**N.B.**  It works fine if I update a different branch, e.g. `release/3.1` u

[2019-10-17 19:53] GREsau commented on #14117
As an update to @gnjack's earlier comment:

We ran our repro app on `3.0.0-alpine3.8`, `3.1.0-preview1-alpine3.10`, and `3.0.0-alpine3.10` (from the [nighty docker image](https://hub.docker.com/_/microsoft-dotnet-core-nightly-aspnet)) - and none of them exhibited the same memory leak we've seen on `3.0.0-alpine3.9`!

![image](https://user-images.githubusercontent.com/9611672/67041724-2a26a780-f11e

[2019-10-17 20:04] HaoK commented on #14998
Fixed via https://github.com/aspnet/AspNetCore/pull/15075

[2019-10-17 20:04] #14998 closed

[2019-10-17 20:07] anurse opened #15128 "Messages sent on a non-Blazor SignalR Hub can't be serialized when Blazor is enabled"
### Description

When SignalR is configured with a scale-out provider, either Redis or Azure SignalR, it has to pre-serialize every message in every hub protocol to cover cases where there are clients connected to other servers using different protocols. We also have to ensure all the user's custom serialization logic (Json converters, etc.) runs during serialization, which is why we serialize for

[2019-10-17 20:18] BrennanConroy commented on #15054
That just looks like a regular sql issue, like not being able to connect to the database.

What issue are you seeing with SignalR?

[2019-10-17 20:20] clintsinger opened #15129 "Angular SpaServices hosted in Docker container refresh at runtime"
I have a solution with a docker-compose project it in and a number of services.   One of the services is an Angular 8 project created via the SPA template for Angular and then Dockerfile support added afterwards.

I am able to run the project and see that it is working by going to the URI that is published by Docker.  When I make a change to the Angular source in ClientApp/ I would expect that the

[2019-10-17 20:25] anurse commented on #15128
### Proposed Fix

1. Add a new option to `HubOptions` and `HubOptions<T>`:
[code]

2. Change Blazor to add `BlazorPackHubProtocol` to this list **instead** of registering it in DI and putting it in the `SupportedProtocols` list (which is a list of names).

3. Add a new public interface: `IHubMessageSerializer<THub>`:

[code]

4. Make [`SerializedHubMessage.GetAllSerializations`](https://github.com

[2019-10-17 20:30] DataTables commented on #15107
Sure thing - attached is the the requested file.

[msbuild.binlog.zip](https://github.com/aspnet/AspNetCore/files/3741190/msbuild.binlog.zip)

[2019-10-17 20:40] #14056 closed

[2019-10-17 21:02] videege opened #15132 "SignalR connection fails over web sockets when access token is used"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
I am using ASP.NET Core 3 locally (hosted in IIS Express) and I a

[2019-10-17 21:07] anurse commented on #14757
This should be resolved in the upcoming patch. As @Tratcher said, there is a mechanism (which will be detailed in the announcement blog posts) for making this decision on a per-request basis.

[2019-10-17 21:07] #14757 closed

[2019-10-17 21:08] Postlagerkarte commented on #15077
@mkArtakMSFT : Thank you for taking the time to investigate.

Here is the github repo: https://github.com/Postlagerkarte/renderfragment

[2019-10-17 21:09] anurse commented on #14795
Let's do this in 5.0 then.

[2019-10-17 21:11] anurse commented on #14892
What authentication handlers are you using? OKTA is a third-party component, so you'd need to get support from them.

[2019-10-17 21:13] anurse commented on #14892
It does look like OKTA is using OpenIdConnect which means you could configure this in `ConfigureServices`. Can you post the part of your `Startup.ConfigureServices` method that configures OKTA? We may be able to point you in the right direction with that.

[2019-10-17 21:16] anurse commented on #14990
Closing as we don't intend to take action here. Updating to IdentityServer4 is the recommended approach to using our defaults in 3.0. If you cannot update to IS4, then you'll have to disable `UsePkce`.

[2019-10-17 21:16] #14990 closed

[2019-10-17 21:17] pranavkm commented on #15107
This issue was moved to dotnet/sdk#3762

[2019-10-17 21:17] #15107 closed

[2019-10-17 21:17] pranavkm commented on #15107
Thanks @DataTables . I'm going to migrate this issue to the SDK repo, it they would have more context here:

![image](https://user-images.githubusercontent.com/174281/67048030-50315500-f0e8-11e9-8530-cada9d06d081.png)

[2019-10-17 21:17] anurse commented on #14951
We don't have plans to add support for NTLM in Kestrel. If this kind of legacy support is necessary for you, there are still servers that support it (IIS and HttpSysServer). We have no plans to bring this legacy forward to Kestrel though.

[2019-10-17 21:17] #14951 closed

[2019-10-17 21:19] anurse commented on #15032
To be clear. It's **ADFS** that needs to be configured to accept requests from your app, not the other way around. It sounds like what you did was add the ADFS endpoint to your app's CORS config, which won't actually help here.

[2019-10-17 21:19] sourishkrout commented on #10971
@gingters actually... it's the same on `macOS`. Realize I had to change the intermediate cert's properties in the system keychain to allow trust for TLS/SSL explicitly.

[2019-10-17 21:19] Bio2hazard commented on #14117
Copied issue to https://github.com/dotnet/corefx/issues/41875 👍

[2019-10-17 21:37] umarmohammed commented on #2881
@kedzior-io Found this page when googling, and your comments were a great help.

I realise that this is all a bit hacky, but here's what I had to when using the RxJs webSocket wrapper.

In the client:

[code]

On the server:

[code]

[code]

[2019-10-17 21:37] mrpmorris commented on #14903
@javiecn
I think there is a misunderstanding. The state (ie services etc) doesn't get transferred to the client. It all stays on the server, the client state is only what the server renders.

[2019-10-17 22:46] MikeWasson commented on #13359
What's the right way to set the Location header using StatusCodeResult?

[2019-10-17 23:45] pranavkm commented on #14954
Closing this. I'll work with you on the PR to figure out what's going on.

[2019-10-17 23:45] #14954 closed

[2019-10-18 00:30] IEvangelist commented on #15128
Thanks for digging into this earlier today @anurse, much appreciated. I still wish we would have used live share though - need to find an excuse to use that 🤘

[2019-10-18 00:56] magicdict opened #15136 "Cookie/Session lost at chrome"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
WebApi lost session because chrome lost cookie.

### To Reproduce

[2019-10-18 01:16] khteh opened #15137 "UserManager.UpdateSecurityStampAsync throws Optimistic concurrency when there is no concurrent access to the application."
### Describe the bug
My ASP.Net Core 3.0 web application with Identity and EntityFrameworkCore cals `UserManager.UpdateSecurityStampAsync` when user successfully logs in. This function throws optimistic concurrency exception but there is no concurrent access to the system at all. This happens in Development environment when I am debugging the single-instance application.

### To Reproduce
Steps to

[2019-10-18 01:19] magicdict commented on #15136
IE11 On Win7 works well,
IE11 On Win10 does not Well,
The first Page get the cookie,but the second page does not send the session to server.

[2019-10-18 01:30] taomylife521 commented on #14912
Delete folder.tool. It still doesn't seem to work！
[BuildLogDetail.txt](https://github.com/aspnet/AspNetCore/files/3741893/BuildLogDetail.txt)

[2019-10-18 01:39] khteh commented on #15102
I have had the claims but this still happens.

[2019-10-18 01:45] taomylife521 commented on #14912
![image](https://user-images.githubusercontent.com/9649318/67059420-8d9aee80-f18b-11e9-840c-2df4261b4edb.png)

![image](https://user-images.githubusercontent.com/9649318/67059407-7bb94b80-f18b-11e9-85ba-cee7989b5f01.png)

![image](https://user-images.githubusercontent.com/9649318/67059432-9a1f4700-f18b-11e9-9547-ca1051f70d40.png)

[NuGetConfig.txt](https://github.com/aspnet/AspNetCore/files/374193

[2019-10-18 01:56] khteh commented on #15102
I have added `[Authorize(AuthenticationSchemes = "Identity.Application")]` to the protected resource but to no avail.

[2019-10-18 02:47] khteh commented on #15102
It's code issue. `CallerRequirement` is authenticating the user based on some properties on context object, which, in GRPC case, is non-nullable but Empty and the code was expecting it to be `NULL`.

[2019-10-18 02:47] #15102 closed

[2019-10-18 02:51] khteh opened #15138 "No sign-out authentication handler is registered for the scheme 'Identity.External'. The registered sign-out schemes are: Identity.Application."
### Describe the bug
I have `IdentityConstants.ApplicationScheme` registered as "default" of everything:
[code]
However, when I log/sign out from the application, `await _signInManager.SignOutAsync();` throws:
[code]
[code]
$ dn --info
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100
 Commit:    04339c3a26

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  19.04
 OS Platform:

[2019-10-18 03:13] brunosantosrhsenso commented on #14451
This is really confusing. How do I make a string property not required?

This property:

public string? Details { get; set; }

Is being considered as required:

{"errors":{"Details":["The Details field is required."]}

Are we saying it not possible for modelbinding to allow null on a string?

[2019-10-18 03:28] magicdict commented on #15136
[code]

[2019-10-18 03:42] Bartmax commented on #14451
@brunosantosrhsenso `string?` should not be marked as required. Try to do `[Required(false)]` and see if changes. I can only assume that you are marking it as required somewhere else or using old bins, something along these lines or a bug somewhere.

You can totally bind nullable strings as non-required.

[2019-10-18 03:42] vicancy commented on #15128
Thanks @anurse . The proposal sounds good to me.

[2019-10-18 03:52] georgiosd opened #15139 "No documentation on how to create custom SignalR Core Scaleout"
All the information that's on the Internet refers to ASP.NET SignalR, there's nothing I could find in SignalR Core on how to implement our own scaleout solution.

Any pointers?

[2019-10-18 06:01] alextof commented on #15046
I'm also curious regarding the "Alternatively, you need to discover the application parts manually, which can be done with the default application part factory."

[2019-10-18 06:47] AndersMalmgren commented on #15067
Hi,. this is my project file

[code]

As you can see it can not resolve the dependency

![image](https://user-images.githubusercontent.com/817577/67071812-d2bb2280-f183-11e9-996b-9dd2c0e52313.png)

[2019-10-18 06:50] AndersMalmgren commented on #15067
Ah, missed this in the docs

[2019-10-18 07:07] magicdict opened #15141 "Can't get dynamic json data"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
Can't get dynamic json data

### To Reproduce
[code]

[code]

###

[2019-10-18 07:27] msmolka commented on #15141
Default json serializer in .net core 3 is System.Text.Json. This one is not supporting dynamic object yet
see: https://github.com/dotnet/corefx/issues/38007

switch to Json.Net

[2019-10-18 07:36] msmolka opened #15142 "NullReferenceException on adding policy"
### Describe the bug
Adding two policies dynamically from different request but at the same time causing `NullReferenceException`

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2.0' on .NET Fremework 4.7.2
2. following custom provider class.

[code]

### Expected behavior
On app start occasionally `this.options.AddPolicy(policyName, policy);` throws `Nu

[2019-10-18 07:50] preetriti1 commented on #15093
FlowJsonExtensions.JsonMediaTypeFormatter is our own formatter with specific json settings.
We thought adding this in the mediatypeformatter will convert all httpresponsemessages in the specific format, and addJsonOptions was not working when we added the shim conversion.

We fixed the above issue by initializing formatters in the constructor of MediaTypeFormatterCollection and removed AddJsonOpti

[2019-10-18 07:55] Aaronmsv opened #15143 "Linking an authentication scheme to a different login page"
Hello,

I am working with multiple authentication schemes in my ASP.NET Core 2.2 application and I would like to use a different login page for one specific authentication scheme.  This authentication scheme is an external login provider.

The secondary login page is working fine, however the issue is that when the cookie expires, the user is should be redirected to this secondary login page if th

[2019-10-18 08:27] davidfowl commented on #15142
Are you sure the exception isn't coming from your code? Do you have a callstack?

[2019-10-18 08:36] msmolka commented on #15142
@davidfowl
here:

[code]

[2019-10-18 08:37] johnkors commented on #13860
@blowdart I'm assuming there shouldn´t be a `.dll` postfix for the `Microsoft.AspNetCore.DataProtection.AzureStorage` package you mention here?

[2019-10-18 08:40] davidfowl commented on #15142
You're modifying a singleton state on a per call basis without locks.

[code]

You shouldn't be doing this.

[2019-10-18 08:49] Narnain opened #15144 "Support SNI via config"
I have configured SNI SSL by coding the certificate selector in the kestrel configuration.  I would like to do this entirely through the config file.

It would be great if it was as simple as adding more endpoint configs each defining their url, host, port and scheme and the file or store cert definitions; so no changes would be required to the current config structure.

At the moment it appears t

[2019-10-18 09:28] ahmedflix25 commented on #11216
is this going into net core 3.1 or .net 5?

[2019-10-18 09:29] MyJimmyZhou commented on #15098
![image](https://user-images.githubusercontent.com/13486578/67082970-d4f59f00-f1cc-11e9-8210-d5793af77083.png)

StackTrack:   at System.Threading.Tasks.Task`1.GetResultCore(Boolean waitCompletionNotification)
   at Best.FR.Service.FileProcess.FileProcess.UploadFile(HttpRequest request) in C:\Users\BG376210\source\repos\Best.FR\Best.FR.Service\FileProcess\FileProcess.cs:line 32
   at Best.FR.API.Co

[2019-10-18 09:33] javiercn commented on #15112
@carlowahlstedt Thanks for contacting us.

I believe this is an issue in how you are referencing the image in your markup. If you have a url that starts with `/` it means its relative to the host.

If you remove the `/` from the image link, it should produce the expected result.

If that doesn't work, let us know.

[2019-10-18 09:33] #15112 closed

[2019-10-18 09:52] javiercn commented on #15136
@magicdict Thanks for contacting us.

@blowdart Can this be caused by the chrome change for cookies?

[2019-10-18 09:54] benzhi2011 opened #15145 "How to use SetParameters.xml to change connection strings in app.config for the project was created with asp.net core 2.1 (.NET Framework)"
I am working on the CI/CD pipeline for a quite big project that was created 3 years ago and it is a asp.net core 2.1 (.NET Framework) project. This project store the connection strings in app.config file for EF 6. I was trying to create Web Deploy Package for this project, but VS cannot detect the connection string in app.config, I have tried to create custom Parameters.xml file

[code]
I have tri

[2019-10-18 10:01] javiercn commented on #15129
Thanks for contacting us @clintsinger

Can you include your Dockerfile? If you are using the standard Dockerfile that our tooling generates, what happens is that the application is built and published into the container at which point there is no link between your development files and the files the app uses when running.

If you wanted to achieve your scenario, you would need to start an image of

[2019-10-18 10:01] #15129 closed

[2019-10-18 10:02] javiercn commented on #15125
@adrianwright109 Thanks for contacting us.

@aspnet/build Can someone help @adrianwright109  here?

[2019-10-18 10:04] javiercn commented on #15123
@ajillepalli Thanks for contacting us.

@anurse  Did we update the certificate automatically?

@ajillepalli Can you run
[code]
and see if that fixes your issue?

[2019-10-18 10:23] poganytamastsys commented on #12890
There is a great start / workaround having HMR back, but still not as smooth as the old solution: https://github.com/TrilonIO/aspnetcore-Vue-starter/issues/138#issuecomment-542686499

[2019-10-18 11:06] rjgotten commented on #12890
@poganytamastsys
It's honestly not great at all. What that solution does is basic cold reloading of the entire page, whenever any one file served by its live reload middleware changes.

It's a far, _far_ cry from proper hot reloading.
It basically just automates pressing F5.

[2019-10-18 11:14] voroninp commented on #15116
@peckham , https://github.com/voroninp/NoFromHeaderValueProvider

[2019-10-18 11:16] voroninp commented on #15116
@pranavkm , and regarding headers where priorities are allowed, would be nice to have out of the box method to extract a sequence of values with their priorities ;-)

[2019-10-18 11:17] javiercn commented on #15145
@benzhi2011 thanks for contacting us.

@vijayrkn I believe this is a tooling issue in VS, can you take it from here?

[2019-10-18 11:31] javiercn commented on #14441
@blowdart Closing this as a dup of #14388

[2019-10-18 11:32] #14441 closed

[2019-10-18 11:34] AndersMalmgren opened #15146 "SignalR client Generic On<T> does not trigger"
This works

[code]

This does not
[code]

It used fine in 2.2. Thanks, Anders

[2019-10-18 11:42] AndersMalmgren commented on #15146
Ops, I had a reference to Newton soft JToken in the Message type. I think its why it does not trigger. Why not throw error instead of doing nothing? I will rewrite to use System.Text.Json and get back here if it does not work

[2019-10-18 11:57] mahabirsingh-kis commented on #15054
Thank you for your response @BrennanConroy

The issue is SignalR is not auto/re-connecting back after a SQL timeout. The SQLTableDependency raises the trigger error as shown in the logs.

There could be many reasons SQL timeout can occur but it is temporary and now SQL response is restored however SignalR is not re-connecting back. It reconnects only after issuing IISReset on the webserver (even r

[2019-10-18 12:11] AndersMalmgren commented on #15146
Replaced JToken with JsonElement and it triggers. But please, do not silent swallow errors ;)

[2019-10-18 12:13] AndersMalmgren commented on #15146
Also JToken has a ToOjbect which System.Text.Json does not. In System.Text.Json I need todo

[code]

[2019-10-18 13:21] kmuthukumar23 opened #15148 "Blazor WebAssembly not working in safari"
### Describe the bug
Blazor webassembly samples are not working in latest safari browser v13.x. But it is working fine on safari v12.1.1.

Any suggestions for this?

### To Reproduce
Steps to reproduce the behavior:
1. Create the blazor webAssembly sample
2. Run it
3. Open it in safari browser v13.x

### Expected behavior
Needs to be working properly

### Additional context
I have used .net core s

[2019-10-18 13:41] carlowahlstedt commented on #15112
Oh wow, that was a simple enough fix. Never occurred to me to do that. Thanks!

[2019-10-18 14:00] SQL-MisterMagoo opened #15150 "Intellisense in Razor Components @Code section incomplete"
### Describe the bug
1. selecting an override such as OnAfterRender (but not just this one) from intellisense generates incorrect code - in fact all Intellisense currently provides is single word completion.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.1.100-preview1-014459
2. Create a new Blazor Server application
3. Open Index.razor
4. Create a `@cod

[2019-10-18 14:03] JonasZ95 opened #15151 "Blazor async based polling with a timer"
### Describe the solution you'd like
So I have the following service interface:
`
interface NewsService
{
 Task<NewsUpdate> GetNews(DateTime lastUpdate);
}
`
NewsUpdate contains a timestamp and an array of new News to be shown. I want to poll this service frequently for updates with a timer. This works as long you don't do It asynchronously, however System.Threading.Timer doesn't support async/awa

[2019-10-18 14:25] rupeshtech commented on #9854
I solved it by diff way...

[code]

[2019-10-18 14:37] mythrz opened #15152 "Razor Component: Calling a method without @"
### Issue: it is very easy to forget the @ when calling a method.
After hours/days/weeks of coding it is easy to forget something as simple as the @ when calling a method. There is no warning or error about lack of @ when you forget it.

### Add warning, error or suggestion when we forget about it.
![image](https://user-images.githubusercontent.com/44119535/67102604-a28f7600-f1bb-11e9-9f38-99de850

[2019-10-18 14:39] Tratcher commented on #15144
Kestrel isn't capable of sharing ports across endpoints, instances, apps, etc.. For that you need to use HttpSys.

SNI config wouldn't be done by the aggregation of multiple endpoints, it would be adding additional certs to an existing one. This would be possible to build, but it'd be complicated.

Estimated cost/complexity: Medium to Large.

[2019-10-18 14:41] Tratcher commented on #15098
Please share the actual trace file rather than a screen shot.

There should be a stack trace on the InvalidDataException.

[2019-10-18 14:53] mgoldshteyn commented on #13055
I am seeing this issue also, after trying to repair the 3.0.1 .NET Core after installing the 3.1 Preview

[2019-10-18 14:56] ste4net opened #15153 "CheckPasswordSignInAsync raise an error when lockoutOnFailure is true"
This error does not occur on 2.x releases.
I'm using Identity with custom TUser class
...
`public class MyContext : IdentityDbContext<ApplicationUser, UserRole, long>`
...

Calling CheckPasswordSignInAsync return an error if (and only if) lockoutOnFailure =true

_The instance of entity type 'ApplicationUser' cannot be tracked because another instance with the same key value for {'Id'} is already b

[2019-10-18 15:07] ezikialbasix opened #15154 "Unable to read appsetttings.json files without explicitly specifying."
Hi,

I'm trying to run a web api, migrated from 2.2 to 3.0.  I've made the requested changes.  However, I am unable to get the configuration to read the appsettings.json files unless i specifically use AddJsonFile.  Everything else is running smoothly.

**What should work:**
[code]

**What I have to do to read the config:**
[code]

I have double checked the files are in the correct location.  I've

[2019-10-18 15:12] ezikialbasix commented on #15154
Sorry to be more clear, the environment based ones are not working.

[2019-10-18 15:13] Tratcher commented on #15136
Session should NOT be used for login, use CookieAuthentication instead.

Those aren't live until Feb.

[2019-10-18 15:18] javiercn commented on #15118
I managed to get a clean repro for this issue.
* On a clean machine (no .NET Core)
* Install .NET Core 3.0
* Run `dotnet new webapp`
* Run the app with `dotnet run`
* Run the app with `dotnet path-to-dll`
* Run `dotnet dev-certs https -ep ./cert.pfx -p crypticpassword`
* Install .NET Core 3.1
* Run the app with `dotnet run`
* Run the app with `dotnet path-to-dll`
  * The app fails to access the ce

[2019-10-18 15:18] Tratcher commented on #15138
If you're using the correct Identity extensions you shouldn't need to set DefaultScheme's at all. Please share your full Startup.ConfiguresServices

[2019-10-18 15:21] javiercn commented on #15118
This also includes the log from kestrel

# dotnet ./bin/Debug/netcoreapp3.1/webappclean31.dll
[code]

# dotnet run
[code]

# dev-certs export exception
[code]

[2019-10-18 15:22] Tratcher commented on #15143
After the cookie expires the user becomes anonymous and there is no way to tell which login page they should be sent to. Unless that decision is linked to which pages they visit?

[2019-10-18 15:32] anurse commented on #14988
Nope, both my files had content in them. So the files were created in your case but were empty?

[2019-10-18 15:34] anurse commented on #14117
It looks like the corefx issue is getting a little more traction. I'll subscribe to it to make sure we follow along. For _now_ I'm going to close this one and if we get back to an ASP.NET Core issue we can revive it later.

[2019-10-18 15:34] #14117 closed

[2019-10-18 15:37] ajillepalli commented on #15123
@javiercn Cleaning and reinstalling dev-certs does not fix the issue. I'm going to check out other suggestions, as given in #14350 and report back.

[2019-10-18 15:42] bdcoder2 commented on #14988
@nurse - The output file path was set to: **D:\temp\**  (outside of project); and in my case, the
 **stdoutLogPath** file is always empty.    The debug file was not empty.

[2019-10-18 15:42] anurse commented on #15123
Did you upgrade this machine from a pre-Windows 10 version of Windows? Sometimes that can mess with the cipher suite configuration. Can you run the following command (in **desktop** PowerShell, not PowerShell Core) and report the results?

[code]

Also, if you could run the following bit of PowerShell to dump data about your dev cert that would help as well:

[code]

[2019-10-18 15:43] HaoK commented on #15138
If you are trying to customize what cookies your app uses instead of just using the normal ones that identity adds, you can't use SignInManager.SignOut, see https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Core/src/SignInManager.cs#L246

[2019-10-18 15:47] benmccallum commented on #7754
Managed to use the `WebApplicationFactory` abstraction in one instance, builds but tests fail, prob my issue though.

But for another test class, it was using `.CreateWebSocketClient` which seems to be gone. Will research that now :P

[2019-10-18 15:57] khteh commented on #15138
How to use the "normal ones that identity adds"?

[2019-10-18 15:58] khteh commented on #15138
Updated my post with the code.

[2019-10-18 15:58] khteh commented on #15138
How to use the "normal ones that identity adds"?

[2019-10-18 16:01] BrennanConroy commented on #15146
There isn't really anywhere we can throw an error unless we close the connection and provide the error in the closed handler.

We instead log when a users `.on(...)` handler either can't be found, or fails to run.
You can enable logs fairly easily by following the docs https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.0#net-client-logging

[2019-10-18 16:08] Tratcher commented on #7754
@benmccallum The calling pattern is different.
https://github.com/aspnet/AspNetCore/blob/a4d9faefe2ed6fbebd500413032336607ec92778/src/Hosting/TestHost/test/TestServerTests.cs#L51-L64

[2019-10-18 16:17] ajillepalli commented on #15123
The machine runs mint Win 10, not an upgraded version.

`Get-TlsCipherSuite` result:

[code]
`Get-ChildItem` result:

[code]

Tried suppressing HTTPS and/or HTTPS/2, but the HTTP webpage doesn't load either. Says invalid http response.

[2019-10-18 16:26] benmccallum commented on #7754
Ahh, thanks @Tratcher! That's got me further and saved me, as I'd gotten blocked again as the Startup being used was a local class, not part of a real app, so I wouldn't have been able to use the factory abstraction in this case anyway.

[2019-10-18 16:31] Tratcher commented on #15154
Replace `new HostBuilder()` with `Host.CreateDefaultBuilder(args)`. The generic and web specific defaults were split, and config is part of the generic defaults.

[2019-10-18 16:37] mkArtakMSFT commented on #15152
Thank you for your feedback.
We're closing this issue as the behavior you're observing here is by design.
Using the '@' sign or not has a purpose. It's up to the caller to decide whether they want to output the result of the method or not. Both calls will be valid, so we can't make a decision on behalf of the user in this case.

[2019-10-18 16:37] #15152 closed

[2019-10-18 16:38] blowdart commented on #15153
@HaoK

[2019-10-18 16:39] javiercn opened #15155 "[Blazor] Improve error message to include how to set options on appSettings.Development.json"

[2019-10-18 16:39] mkArtakMSFT commented on #15151
Thanks for contacting us, @JonasZ95.
We have a sample showing how to do something similar here: https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#invoke-component-methods-externally-to-update-state

[2019-10-18 16:39] #15151 closed

[2019-10-18 16:40] mkArtakMSFT commented on #15150
Thanks for contacting us, @SQL-MisterMagoo.
This is being tracked as part of #13319

[2019-10-18 16:40] #15150 closed

[2019-10-18 16:41] NTaylorMullen commented on #13319
This was fixed externally for 16.4-preview2 with a slight caveat that formatting is slightly broken after completing an override statement. Closing for now since the core blocker of this is fixed.

Also to note, re-formatting the document will fix the miscellaneous formatting bug.

[2019-10-18 16:41] #13319 closed

[2019-10-18 16:42] #13833 closed

[2019-10-18 16:42] mkArtakMSFT commented on #15148
Thanks for contacting us, @kmuthukumar23.
This is a known mono issue which is being tracked at: https://github.com/mono/mono/issues/16986

[2019-10-18 16:42] #15148 closed

[2019-10-18 16:44] anurse commented on #15123
**Questions**:
1. Are you in a Corporate IT environment that may have affected TLS Cipher Suite configuration?
1. Does the issue repro if you use the **non-Chromium** version of Edge? My hunch is that it will not because Edge uses the same TLS stack as the ASP.NET Core servers. Chromium and Firefox use their own stacks which may not honor Windows Cipher Suite names.

Looks like this is the same pr

[2019-10-18 16:44] NTaylorMullen commented on #15074
@Parrawk thanks for the Razor log! This looks to be a duplicate of https://github.com/aspnet/AspNetCore/issues/14324

[2019-10-18 16:44] #15074 closed

[2019-10-18 16:45] mkArtakMSFT commented on #15093
Thanks @preetriti1. Looks like you've got this under control.

[2019-10-18 16:45] #15093 closed

[2019-10-18 16:45] dougbu commented on #15125
I believe GitHub actions need to be enabled in your fork repository.

@mkArtakMSFT do you have more context here? Another suggestion?

[2019-10-18 16:47] pranavkm commented on #15141
@magicdict I haven't verified, but it's likely that System.Text.Json would deserialize your `dynamic` parameter as a [`JsonElement`](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonelement?view=netcore-3.0) instance. You might be able to modify your code to use it. If you continue needing the fidelity from 2.2, consider using Newtonsoft.Json based formatters: https://docs.microsof

[2019-10-18 16:47] #15141 closed

[2019-10-18 16:48] benmccallum commented on #7644
How would this look in the context of a `WebApplicationFactory` test?

I'm doing the following in Startup under `ConfigureServices`, but I'm guessing the server is different in this scenario?

[code]

[2019-10-18 16:52] Tratcher commented on #7644
@benmccallum `WebApplicationFactory.Server.AllowSynchronousIO = true;`
https://github.com/aspnet/AspNetCore/blob/a4d9faefe2ed6fbebd500413032336607ec92778/src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs#L73
https://github.com/aspnet/AspNetCore/blob/a4d9faefe2ed6fbebd500413032336607ec92778/src/Hosting/TestHost/src/TestServer.cs#L90

[2019-10-18 16:53] benmccallum commented on #7644
Sigh, how did I not see that. Was about to browse the source. Cheers again, sorry for the spam!

[2019-10-18 16:55] dpoetzsch commented on #4901
This is something I was looking for for quite a while now. Why is this closed, now that 3.0 is released, wouldn't it make sense to reevaluate priorities?

[2019-10-18 16:55] JonasZ95 commented on #15151
@mkArtakMSFT I don't see how this can solve the concurrency problems which is caused by the nature of the state machines which are generated for async functions.

Just look at this example:
[code]

[2019-10-18 17:01] tebeco commented on #13055
@mkArtakMSFT

Very sorry to ping you again but it does not seems limited to `3.0.100-preview`
Should it be reopened / title changed or new issue ?

[2019-10-18 17:13] BrennanConroy commented on #15132
In the documentation you referenced there is some custom auth logic needed in order to grab the "access_token" and make use of it. Could you share your custom auth logic? I'm assuming something in there is causing the 404.

[2019-10-18 17:19] BrennanConroy commented on #15054
SignalR clients do not automatically reconnect by default. Starting in 3.0 you can enable reconnect, see our docs https://docs.microsoft.com/aspnet/core/signalr/javascript-client?view=aspnetcore-3.0#automatically-reconnect

[2019-10-18 17:22] ajillepalli commented on #15123
Thanks for your insights.

Answers:
1. I am in a corporate IT environment. The IT environment may affect TLS Cipher Suite Config. We use Forcepoint aka Websense on our network, which maybe interfering with the default Win 10 Cipher Suite. I'll check with my IT department to confirm.
2. As you guessed, the issue does not occur in non-Chromium version of Edge and it works well.

I applied the GPO an

[2019-10-18 17:23] InDieTasten opened #15158 "Unable to .\restore.cmd - TagBuilderWebSite.csproj"
### Describe the bug
Cannot restore from from clean master

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '418e35c4396682aea6ee6e9833ff3bd3bfe624eb'
2. Run this code '\.restore.cmd'
3. See error

### Expected behavior
Successful restore

### Screenshots
If applicable, add screenshots to help explain your problem.

### Additional context
dotnet --info:
[cod

[2019-10-18 17:33] mythrz opened #15160 "Razor Component: 2 comments in a row, crashes VS2019"
### ctrl+e+c: two comments next to each other, crashes
when the @ tags from comments are next to each other, it crashes.
If the @ tags have a space between them, nothing happens.
Using VS Community 16.3.1. 1 Blazor Project, 1 RCL.

### To Reproduce
Steps to reproduce the behavior:
1. Open a Blazor Razor Component (mine was in a RCL)
2. Choose a portion of code/markup that is not inside @ code
3. C

[2019-10-18 17:36] HaoK commented on #15137
Please include your full app as its likely there is something going on where the user is being updated concurrently

[2019-10-18 17:39] anurse commented on #15123
Hrm, that is new. It certainly could be the case that the corporate IT environment is still causing the problem. Could you get an updated list of TLS Cipher Suites from the PowerShell command I referred to above now that you've updated the GPO?

[2019-10-18 17:40] ezikialbasix commented on #15154
Thanks! That worked.  I was following the following documentation, and it has both ways exampled:

https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio

[2019-10-18 17:40] #15154 closed

[2019-10-18 17:46] HaoK commented on #15153
Can you clarify what this means? "Entries in my ChangeTracker are really two entry for same user."

[2019-10-18 17:46] NTaylorMullen commented on #15160
I can reproduce. Marking appropriately.

[2019-10-18 17:46] ajillepalli commented on #15123
The list of TLS Cipher Suites remain the same. All `ECDHE` cipher suites continue to be appended with `_Pnnn` string at the end.

[code]

[2019-10-18 17:55] brockallen commented on #14990
Sorry -- I just saw this thread. PKCE is supported in IS3, you just need to enable it for that client (or disable it here in this library).

[2019-10-18 17:55] #14517 closed

[2019-10-18 17:59] anurse commented on #15123
Could you also take a look at the registry key: `HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\CipherSuites`? It looks like that is another place that the Cipher Suite order could be controlled and may not show up in Group Policy.

[2019-10-18 18:04] #9133 closed

[2019-10-18 18:07] ajillepalli commented on #15123
There's only one key `(Default)` in the specified registry location. I edited the value field of the default key to match the values that are auto-populated by the corresponding GPO and rebooted the machine. No luck...

[2019-10-18 18:11] Joebeazelman opened #15161 "RenderFragment ignores component's initialized values"
`RenderFragment` ignores my initialized values.  In the following code, everytime there's a mouse click, a new object is created with the mouse coordinates where the click occurred.  During the rendering section in razor, the markup is generated as expected, but the `Coordinate` parameter is zero. The `CustomText` doesn't have this issue.

This is clearly a bug since it is unexpected and inconsist