[2020-05-07 04:44] mwaleedr commented on #21528
Thanks @anurse for replying, i am running it in visual studio in debug mode and it is using IIS Express.
 I have also published it on iis and facing the same problem there, website suddenly say service is unavailable and there is no log in logs file but there are two logs in windows event viewer that i have discribed above.

[2020-05-07 04:45] tai-yi commented on #21562
See `IValidationAttributeAdapterProvider`, `IAttributeAdapter`

[2020-05-07 05:14] mkopara opened #21563 "Any new Blazor component added is not found with routing"
In blazor WA when I add a new page and define its route
@page "/test-page/page1" I am always getting a default NoFind error.

So I tried to copy/paste existing page and replace the content of that page with the contents of the previously working page, and it works fine.

Bottom line, any new page created using Visual Studio > New Item > Razor Component creates the same issue.

VS 16.5.3
PWA v.3.2.

[2020-05-07 05:58] mkArtak opened #21564 "Need to have a way to indicate whether a component uses attribute-splatting or not"
Trying to set a non-existing property on a component doesn't produce a compiler error. Instead, I end up getting an error during runtime (build succeeds).

If we have a way to distinguish between components which use attribute splatting, we can identify situations, where non-existing properties are being set for components, which don't use attribute splatting, which is an obvious error and we can

[2020-05-07 06:08] wenz commented on #20001
Will work on it today.

[2020-05-07 06:15] Janidbest commented on #21477
@HaoK we have got this issue in another environment on every login, on every login page get request is crashing and the site going down as the app pool stopped. I appreciate if you share your direct contact to expedite. Weird dev environment is working fine, but not test environment.

[2020-05-07 07:02] HaoK commented on #21477
sure my github is my microsoft alias, so haok

[2020-05-07 07:04] jmagaram opened #21565 "Performance of Blazor WebAssembly is unacceptable on Edge but fine on Chrome"
### Describe the bug
I created a very simple Blazor WebAssembly page that renders a list of 500 items. On Edge, the performance is so bad - several seconds - that I considered dumping Blazor and trying Elm or something else. But then when I tried running the same simple page on Chrome the performance was instantaneous. I used Edge in "Start with Debugging" and "Start without Debugging" but no diff

[2020-05-07 08:10] Tealons commented on #14434
We want to start converting our existing MVC application to Blazor + Azure Functions, however we want to do this step by step. Currently we see no way of doing this? Will this issue help enable this scenario?

[2020-05-07 08:30] robertsundstrom opened #21566 "Add item template for a Razor component with code-behind file"
Add item template for a Razor component with code-behind file.

It would save developer some time not having to create a separate class file each time.

[2020-05-07 08:35] #21454 closed

[2020-05-07 08:41] SIkebe commented on #21566
Discussed in #9924 and #5463 ?

[2020-05-07 09:15] magicdict opened #21568 "The Webapi result lost some value"
### Describe the bug

The Webapi result lost some value

### To Reproduce

[code]
![image](https://user-images.githubusercontent.com/897796/81276750-07da8400-9086-11ea-9e76-026e6f29361b.png)

property WordCloud lost value...

### Further technical details
- ASP.NET Core version : 3.1.201
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2020-05-07 09:16] JvanderStad commented on #21514
Link to `Required parameters to blazor components` is pointing to wrong issue. I guess it should be
https://github.com/dotnet/aspnetcore/issues/11815 ?

[2020-05-07 09:19] magicdict commented on #21568
![image](https://user-images.githubusercontent.com/897796/81277342-df06be80-9086-11ea-85b6-d40e2c4f711b.png)

[2020-05-07 09:22] jaaant opened #21569 "Key storage authentication to Azure blob with managed identity fails after 24h"
### Describe the bug
I've set up key storage to Azure blob with the Microsoft.AspNetCore.DataProtection.AzureStorage package. The application authenticates to the blob container using Azure system assigned managed identity.

When the application starts up, everything seems to work fine. However, the key ring refresh after 24 hours fails with message "Server failed to authenticate the request. Make

[2020-05-07 09:32] Xayton commented on #21539
OK, I was able to catch the exceptions when Redis is disconnected.

I was also able to keep the client connections alive when Redis is down: looking the the code you linked I just had to set the `AbortOnConnectFail` to false in the `ConfigurationOptions`.
[code]
The only thing missing is that I would like to send messages to the clients connected to the local server, even if Redis is down. In my c

[2020-05-07 09:36] garayx commented on #21502
I meant .net framework client side app, but yes all it does is create HttpClient and send single post request.

Please see the wireshark outputs:

- [framework_MinRequestBodyDataRate_null.zip](https://github.com/dotnet/aspnetcore/files/4592071/framework_MinRequestBodyDataRate_null.zip) This is when `MinRequestBodyDataRate = null`, we have the ~40ms latency lag.

- [framework_MinRequestBodyDataRate

[2020-05-07 09:41] michalczerwinski opened #21570 "[Blazor] warning CS0649 for code behind in partial"
How to reprodcue?

MyComponent.razor
`<SomeComponent @ref="_someComponentReference/>`

MyComponent.cs
[code]

This will result in warning CS0649.
Since using partial class is now officially supported for Blazor this is a bug, IMHO.

[2020-05-07 09:44] leSyndrome opened #21571 "Dispose() gets called right after OnInitialized() in Server-side Blazor"
I made a Component that is a @page and also implements IDisposable and noticed that Dispose() gets called before initialization (OnInitialized() gets called, then Dispose(), then OnInitialized() again). That doesn't seem right and I need this component to call Dispose() only when it is really removed from the render tree.

Sorry if this is not the right place to post this issue.

Here's a link to

[2020-05-07 09:49] michalczerwinski commented on #21232
The situation is: I want my service to be scoped and used by Blazor component. So far so good - I can go with OwningComponentBase.

But if my scoped service has dependency on RevalidatingServerAuthenticationStateProvider then the RevalidatingServerAuthenticationStateProvider doesn't work correctly in this case.

I think the RevalidatingServerAuthenticationStateProvider created in some scope should

[2020-05-07 09:54] javiercn commented on #21571
@leSyndrome thanks for contacting us.

The component is disposed the first time after the prerendering is complete and you see your service as disposed because you are using a singleton service, which is shared across al services. See [the docs](https://docs.microsoft.com/en-us/aspnet/core/blazor/lifecycle?view=aspnetcore-3.1) for details.

[2020-05-07 10:00] javiercn commented on #21570
@michalczerwinski thanks for contacting us.

@ajaybhargavb @NTaylorMullen is this something Razor can handle or is this on the C# compiler responsible for this? Meaning, do we need to change how we generate code?

Otherwise, if it's in user code, the only way to solve this is through a pragma. Not 100% sure we can do anything about it.

[2020-05-07 10:01] leSyndrome commented on #21571
Thanks!
Is there an easy way to determine if the component is being prerendered in the Dispose method?

[2020-05-07 10:01] javiercn commented on #21565
@jmagaram thanks for contacting us.

Are you using the latest version of Edge?

[2020-05-07 10:06] Domivan commented on #21546
Conducted some research:
It seems that in the blazor sources there is a conflict of using a 32-bit library.
When IIS set to "allow to use 32-bit applications" to true
websockets are not disconnected

[2020-05-07 10:08] vjacquet commented on #4848
As a workaroung for the the original DataAnnotations issue, I implemented a IValidationMetadataProvider using the following code

[code]

Validation attributes in comments already works when the ErrorMessage is empty because they set the internal DefaultErrorMessage in their constructor.

Modifying the attribute when discovering the metadata is not satisfactory but now that the ErrorMessage is alw

[2020-05-07 10:19] javiercn commented on #21564
@mkArtak I don't think there's anything we can do in this space. Splatting is a compiler feature and causes the parameters to be passed down to the underlying component. That needs to work with `IComponent` so we can't make this into an error.

[2020-05-07 10:21] javiercn commented on #21563
@mkopara thanks for contacting us.

Can you provide a minimal repro project and detailed steps to reproduce the issue?

If you are putting the page in a different assembly, you need to add it to the list of assemblies discovered by the router.

[2020-05-07 10:23] javiercn commented on #21560
@chrisevans9629 thanks for contacting us.

This is likely because publishing to gh is changing the end line of your files. You need to add a `.gitattributes` file to you project so that the line endings don't change when published.

Something like
[code]
within your publish folder

[2020-05-07 10:26] javiercn commented on #21550
@YordanYanakiev thanks for contacting us.

I'm not sure the webassembly message handler has control of the certificate validation process since it's subject to the browser sandbox and that might prevent the request from even happening.

That said, this if anything is an issue in the mono runtime, so I would suggest you file the issue [here](https://github.com/mono/mono) to get a better and faster

[2020-05-07 10:29] javiercn commented on #21546
@Domivan thanks for contacting us and thanks for the details!

We'll look into this issue and update it appropriately. Looping some SignalR folks and Server folks since they will know more.

@BrennanConroy @Tratcher @jkotalik do you have any thoughts on what can be at play here?

[2020-05-07 10:53] nfplee commented on #21360
Thanks @nurse, yeah that's what I discovered. It would be great if there was a hook to populate the initial data without creating a new scope using the WebApplicationFactory.

[2020-05-07 11:38] javiercn commented on #21560
See https://github.com/dotnet/aspnetcore/issues/19796 for a more complete discussion.

I'm closing this issue as a dupe of https://github.com/dotnet/aspnetcore/issues/19796

[2020-05-07 11:38] #21560 closed

[2020-05-07 11:41] #21533 closed

[2020-05-07 12:18] wenz opened #21572 "Update bundled jQuery to version 3.5.1"
The repository contains several instances of jQuery 3.4.1 (due to the fix for issue #20001).
jQuery 3.5.0 was released last month, which also fixed two security vulnerabilities (CVE-2020-11022 & CVE-2020-11023).
However, jQuery 3.5.0 came with a regression affecting many other JavaScript libraries (cf. https://blog.jquery.com/2020/05/04/jquery-3-5-1-released-fixing-a-regression/). jQuery 3.5.1 fix

[2020-05-07 12:43] shahabksh commented on #21429
tanx mkArtakMSFT

[2020-05-07 13:07] FDonald commented on #21193
Well, my final solution is:

-   Create an indipendent service (may be an Api) to authenticate user via client certificate.

- intercept in router mapping certificate login (Example: certificate/login) and redirect to protected service. This redirect launch browser certificate handshake.

- Certificate authentication service catch certificate, parse and valide it, and return a post to a main appli

[2020-05-07 13:21] Rahul-Narayanasamy opened #21573 "Is it possible to load template code which is razor code from a file or from sql table in Blazor?"
Is it possible to render a template code/razor code(which may contain any razor code including if else conditions-swich cases- context- variables-etc.etc) ) from a file or database as string and compile it to executable Razor code at runtime?

[2020-05-07 13:29] chybisov commented on #11584
Any updates on this? Will it be fixed in ASP.NET Core 3?

[2020-05-07 13:50] javiercn commented on #18279
The behavior here is the expected.

The component is rendered twice, once during prerendering and then again after the client starts the app from the browser.

The re-render on click happens because the Onclick parameter being passed down is a delegate and Blazor doesn't have a way to know that it is the same delegate being passed as before. The rendering engine will avoid calling SetParametersAsy

[2020-05-07 13:50] #18279 closed

[2020-05-07 13:57] christian-ruud commented on #17025
+ 1 for this, I am experiencing the exact same problem

[2020-05-07 14:00] #21531 closed

[2020-05-07 14:07] dreymers-goformz commented on #5223
It looks like anything that is not a GET will cause that error, regardless of whether the default spa page exists or not. In my case, a misspelled POST to a controller didn't match the controller route and fell through to this middleware. The error message may be misleading, and can hide the root cause.

[2020-05-07 14:29] tango-charly commented on #21510
Yep, i'm confused i only corrected path error and the 404 disapeared on my homepage.
But I got a real exception on signin page (tenant ID was not correct)

Ok i certainly missconfigured my webapp somewhere that's why the URL redirection path is wrong.
name-webapp/AzureAD/Account/SignIn. (Domain is missing)

[2020-05-07 14:37] Tratcher commented on #21510
Reopening, we need to fix the exception handler.

[2020-05-07 14:40] michalczerwinski commented on #21570
Some additional info: the issue is due to the way the generated *.razor.g.cs are processed.

The code responsible for setting the reference is inside BuildRenderTree and the very same piece of code moved to regular .cs file is correctly recognized as field initialization.

[2020-05-07 14:51] vd3d opened #21574 "Blazor - Multiple pages support"
Hi,

Currently Blazor is made for SPA, of course we can split it with area but we can only have one
_Host.cshtml page for the entire application.

In my situation, each area is really different, and I need to include different CSS libs, JS libs etc...

So, I have try to play with MapFallbackToAreaPage/MapFallbackToPage etc... but I can't find any solution that really work !

What I wish is the abi

[2020-05-07 15:02] mkArtak commented on #21564
Why can't we look up for any parameters with 'CaptureUnmatched=true' at compile time and if it doesn't exist, yet parameters are set which aren't explicitly declared, fail ?

[2020-05-07 15:03] javiercn commented on #18638
The behavior here is expected and is the result of not cancelling the loading work when the parameters change.

Essentially what happens is that you start loading the data, the parameters change and you don't cancel the previous async work (which is still going) and at that point you have two load operations running concurrently.

You will see different behavior based on the order they finish as t

[2020-05-07 15:06] pr-benchmarks[bot] opened #21575 "Scenarios are not running: GrpcJson"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| GrpcJson | Linux, Physical, http, KestrelSockets | 2020-05-06 14:28:44Z |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-05-07 15:06] javiercn commented on #21564
Because that's a convention that `ComponentBase` has not a convention that `IComponent` has and people can override `SetParametersAsync` to provide whatever behavior they want, so you would be preventing legitimate scenarios from working.

[2020-05-07 15:10] LEI-Hongfaan opened #21576 "[WASM] How do I use Blazor with an alternative Mono distribution?"
I am trying to mount IDBFS as before but it cannot be done with the recently new versions.

It seems that IDBFS is now an optional component of Emscripten and it is by default not linked into Emscripten.

I think using Blazor with a customized Mono build could be a solution in general. How can I do that? Or is there a way to mount IDBFS?

[2020-05-07 15:14] javiercn commented on #20855
@Ecroyd thanks for contacting us.

I don't think this is a capability we have focused our attention on for the time being (at least that I know of). The focus for Blazor WebAssembly for now has been to render a single component into the page (although we haven't prevented rendering multiple components) which represents your whole app.

That said, the approach with the selector I think is fine and

[2020-05-07 15:14] #20855 closed

[2020-05-07 15:24] javiercn commented on #18449
@poke on a second look, I think the current behavior is actually fine.

I think that as a rule, for simplicity we want to keep the behavior where `something:modifier` attributes to only apply if you also have a `something` applied, like in this case `mousedown`.

The reason is for simplicity and consistency within the language. If we were to do so, every time we introduce a new modifier we will ha

[2020-05-07 15:31] levroz commented on #21501
@pranavkm , do I understand correctly, that we can not rely on ASP.NET core model validation's ability to fail the validation in case of 'null' entries entering to any generic collection with items of not-nullable reference type? So, for any such collection, we need to create a custom validator? List<string> - custom validator, Dictionary<string, string> - custom validator? List<SomeClass> - custo

[2020-05-07 15:33] levroz commented on #21501
@pranavkm, @mkArtakMSFT, don't you feel that this makes the model validation functionality completely unusable for projects utilizing nullable-reference types functionality of C#8?

[2020-05-07 15:35] pranavkm commented on #21568
System.Text.Json does not support deserializing fields - https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to#public-and-non-public-fields. You'll have to turn them in to properties:

[code]

[2020-05-07 15:37] #21568 closed

[2020-05-07 15:42] pranavkm commented on #21501
If it's critical to your scenario to ensure values in a collection are non-null, I would recommend doing so.

[2020-05-07 15:46] javiercn commented on #21574
@vd3d thanks for contacting us.

Can you give us more details about what you are trying to achieve? It's not clear from the initial text of the issue.

* Do you have 1 app or more than 1 blazor app?
* Do you want to render different root components of the same blazor app in different areas?
* Do you want to have multiple blazor apps and render each one of them in a separate area?

[2020-05-07 15:48] AnthonyMastrean opened #21578 "Release 2.2.2 is missing from nuget.org?"
I was waiting on [a fix](https://github.com/dotnet/aspnetcore/blob/v2.2.2/src/Mvc/src/Microsoft.AspNetCore.Mvc.Testing/WebApplicationFactory.cs#L113-L127) that was showing merged into [release 2.2.2](https://github.com/dotnet/aspnetcore/releases/tag/v2.2.2) but I can't find this version or any newer version in the 2.x family on nuget.org. I'm not ready to upgrade to 3.x yet.

https://www.nuget.org

[2020-05-07 15:49] javiercn commented on #21573
@Rahul-Narayanasamy thanks for contacting us.

No, this is not a Blazor feature and is not something we plan to implement. Razor components are compiled to C# clases in your assembly when your project is built and we don't support compiling them at runtime.

[2020-05-07 15:50] #21573 closed

[2020-05-07 15:50] akorchev opened #21579 "AzureAD authentication does not work with Safari 13.1"
### Describe the bug
The default Blazor template that uses AzureAD authentication does not work in Safari. Works as expected in Google Chrome running on the same machine.

### To Reproduce

1. Create a new blazor server application with AzureAD security enabled: `dotnet new blazorserver --auth SingleOrg`
1. Configure your AzureAD settings in appsettings.json
1. Try to login with Safari. End up wit

[2020-05-07 15:54] javiercn commented on #21578
@AnthonyMastrean thanks for contacting us.

ASP.NET Core 2.2 is out of support. See [here](https://dotnet.microsoft.com/platform/support/policy/dotnet-core) for details. If the fix didn't make it into the latest published package, it means that it didn't happen. At this point we are have no current plans for any update to 2.2 packages since they've reached EOL.

I would suggest that you either upg

[2020-05-07 15:56] javiercn commented on #21578
Tagging @dotnet/aspnet-build in case they have more info about the patching mechanics here, since I don't know why the package is not available.

[2020-05-07 15:56] levroz commented on #21501
@pranavkm, if it would not be critical, we would not enable the nullable annotation context. That's what I am saying, the model validation is broken for generic collections under enabled nullable annotation contexts. @mkArtakMSFT, this is not an enhancement - this is a serious regression.

[2020-05-07 15:57] javiercn commented on #21579
@akorchev thanks for contacting us.

Are you using server-side Blazor, is that correct?

@blowdart can this be caused by any recent cookie changes?

[2020-05-07 16:00] #21526 closed

[2020-05-07 16:01] javiercn commented on #21576
@LEI-Hongfaan thanks for contacting us.

Using a custom mono runtime is not something that we support nor we plan to support.

If you wanted to do this you would have to compile your own mono distro and reverse engineer the Blazor build pipeline to modify the outputs of the build process to plug-in your custom built mono runtime, without any guarantee that it would work, since this is not a suppor

[2020-05-07 16:04] mkArtakMSFT commented on #21572
Thanks @wenz.
We will review the PR in approximately a week and will continue the conversation there.

[2020-05-07 16:05] javiercn commented on #21571
@leSyndrome You can use a scoped service and a flag that you set before prerendering the component.

[2020-05-07 16:05] akorchev commented on #21579
@javiercn yes, using server-side Blazor. I found issues about handling same origin cookies and Safari. Tried all workarounds mentioned but nothing makes it work in Safari. The application I am testing with is the default one generated by running `dotnet new blazorserver --auth SingleOrg`

[2020-05-07 16:08] Alimardan commented on #21164
I had same problem afater update from 2.2 to 3.1
this is useful [https://developercommunity.visualstudio.com/content/problem/959669/dot-net-core-upgrade-v22-to-v31-issue-with-sign-in.html](url)

[2020-05-07 16:12] YordanYanakiev commented on #21550
Just to add for everyone having issue with testing against self-signed server.
For Chrome browser - set it with the follow parameters :

This will suppress certificate error.

[2020-05-07 16:14] akorchev opened #21580 "Cannot replace the default SignedOut page when using AzureAD"
### Describe the bug

Cannot find a way to replace the page displayed after AzureAD logout in a Blazor server application.

### To Reproduce
1. Create a new blazor server application with AzureAD security enabled: dotnet new blazorserver --auth SingleOrg
1. Configure your AzureAD settings in appsettings.json
1. Log in
1. Log out from the top menu. See this. I want to override it somehow.
<img widt

[2020-05-07 16:16] javiercn commented on #21579
@akorchev thanks for the details.

I'm moving this to security since the issue is happening outside Blazor. They'll be able to give you a better answer.

[2020-05-07 16:19] akorchev commented on #21579
@javiercn I imagined Blazor wasn't related but I happened to use it at the moment :) Found a few closed issues about AzureAD, same origin cookies and Safari - issue should be addressed in .NET Core 3.1 but sadly I couldn't make it work.

[2020-05-07 16:20] blowdart commented on #21579
Yea, Safari seems to be determined to break SPAs, so it's possible.

[2020-05-07 16:25] blowdart commented on #21569
We've handed ownership of that over to Azure tooling now, and they have a preview package that is frankly much easier to use. Might I suggest you try that, as that's where all work will be, and see if it has the same problem?

https://github.com/Azure/azure-sdk-for-net/tree/31efa80ce402e5f97ef3e474a43d97f58f33d64f/sdk/extensions/Azure.AspNetCore.DataProtection.Blobs for blob storage

and

https://

[2020-05-07 16:28] levroz commented on #21501
@pranavkm, @mkArtakMSFT,

I would like to stress one point here - situation, where ASP.NET core model validation allows to pass null-values to not-nullable reference types is a bug. A serious bug. It breaks services relying on not-nullability of their model. But even more importantly, it breaks them in an unpredictable and difficult to detect way - crashes, data corruption, you name it.

The only

[2020-05-07 16:29] vd3d commented on #21574
Thanks,

It is not multiples app, it is the same application, but with multiples area.

Each area have a different:
- layout
-features
-reference to Javascript and CSS file

Imagine we have an admin area, a customer area (Like for a SASS) and a web site by example.
Each one can have its own cshtml file, without any relation !

[2020-05-07 16:43] mkArtakMSFT commented on #21562
Thanks for contacting us. This is documented at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1#dataannotations-localization

[2020-05-07 16:43] #21562 closed

[2020-05-07 16:47] jmagaram commented on #21565
Microsoft Edge 44.18362.449.0
Microsoft EdgeHTML 18.18363

[2020-05-07 16:57] javiercn commented on #21574
@vd3d that should be doable with the guidance I gave you. Use different MapFallbackTo overloads and set  the correct base tags on the pages and everything else should work just fine.

[2020-05-07 16:58] dougbu commented on #20818
I have a draft PR out for this but am not optimistic about it. We'll see&hellip;

(There's a fallback option but it's _really_ ugly.)

[2020-05-07 17:01] #21503 closed

[2020-05-07 17:01] #21194 closed

[2020-05-07 17:07] dougbu commented on #21578
We have always serviced only a subset of 2.x; the only packages included in a particular release are those that require a fix or the largest meta-packages. One good way to see which 2.x releases are available is to check https://www.nuget.org/packages/Microsoft.AspNetCore.All/

But, as @javiercn said, we strongly recommend moving either forward to 3.1 or back to 2.1.

(Microsoft.AspNetCore.Mvc.Tes

[2020-05-07 17:31] BrennanConroy opened #21582 "Getting Source IP Behind Proxy"
_From @SonoranBrian on Thursday, May 7, 2020 12:17:38 AM_

I have a .Net Core application running in a docker container as my backend service. Clients connect to the backend through HAProxy -> Kestrel -> .Net Core Service

I'm trying to capture the user's IP address, but am unable to get the true client IP.

startup.cs
[code]

Getting the client IP (Signalr)
[code]

The IP address captured is `::f

[2020-05-07 17:31] BrennanConroy commented on #21582
@Tratcher any ideas?

[2020-05-07 17:33] mkArtakMSFT commented on #21501
@levroz we're going to park this in the backlog to accumulate more feedback here. This is not an easy fix and without enough community pain we won't be able to prioritize this.

[2020-05-07 17:40] #21554 closed

[2020-05-07 17:41] BrennanConroy commented on #21546
What is the memory usage of your process when the websocket is disconnected? If you're hitting the 2Gb limit then IIS will restart the app and you'll lose all connections.

[2020-05-07 17:55] #21035 closed

[2020-05-07 17:55] NTaylorMullen commented on #21570
Ya sadly this is a quirk in how we do build-time compilation where we discover the available components by doing a "slim parse" of all the Razor components and then we do a real parse based on those discovered components. The problem you're seeing is that during the "slim parse" we remove all bodies of components which means your file starts getting dinged for CS0649.

There are many ways we can f

[2020-05-07 17:55] #21570 closed

[2020-05-07 18:03] Tratcher commented on #21582
What version of AspNetCore is this? We've made a few fixes around `::ffff:` IPs.

Check these [troubleshooting](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1#troubleshoot) steps and share the request headers before UseForwardedHeaders.

[2020-05-07 18:07] felipesfaria commented on #21537
@mkArtakMSFT, could you please take a look at my last comment. Your answer does not resolve this issue.
I do not know where to debug or start to figure out how to resolve this.

[2020-05-07 18:08] felipesfaria commented on #21537
This issue is not resolved...

[2020-05-07 18:17] felipesfaria opened #21583 "Spa Service Showing 503 Service Unavailable page with AspNetCore 3.0 and 3.1"
I am reopening this issue: #21537 with new logs since the response did not resolve the issue.

### Describe the bug
When running a project with AspNetCore.SpaServices and AspNetCore 3.0 or 3.1 I get a "503 Service Unavailable" page.
This only happens with the SPA page, the api (/WeatherForecast) still responds.
I first noticed this migrating a project from AspNetCore 2.2 to 3.0.
The same error occ

[2020-05-07 18:19] DanielStout5 commented on #20617
Can confirm the exact same issue. For some reason the site extension version "5.0.0-preview-3-20215-14" is what was available for updating (weird that a preview is available like that...) and it also does not log.

[2020-05-07 18:19] SonoranBrian commented on #21582
@Tratcher I'm currently running .Net Core 3.1.1

With logging enabled:
[code]

[2020-05-07 18:35] javiercn commented on #19645
@mselinger75 thanks for contacting us.

There is in general no way to know when the cookie expires since Blazor uses a websocket and won't send Http requests to the server. Identity uses session cookies by default, which go away once you close the window and will only set the expiration when the user check the remember me option in the UI.

The best place to know when the cookie will expire is dur

[2020-05-07 18:35] #19645 closed

[2020-05-07 18:37] mkArtakMSFT commented on #21537
Reopening this and closing the newly created issue.

[2020-05-07 18:37] mkArtakMSFT commented on #21583
Reopened the earlier issue: https://github.com/dotnet/aspnetcore/issues/21537

[2020-05-07 18:37] #21583 closed

[2020-05-07 18:38] mkArtakMSFT commented on #21537
@Tratcher, @halter73 any suggestions regarding what may be going on here and how this can be investigated?

[2020-05-07 18:40] javiercn commented on #19858
Thanks for contacting us @glararan.

We don't recommend using IHttpContextAccessor with Blazor as it won't work the way you expect and will cause you security issues. See [here](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/server/threat-mitigation?view=aspnetcore-3.1#blazor-and-shared-state) for details.

It looks like this is a question about how to use ASP.NET Core. While we do o

[2020-05-07 18:40] #19858 closed

[2020-05-07 18:55] javiercn commented on #19840
The behavior here is expected. We would need stronger evidence that there is a performance bottleneck caused specifically by the fact that we re-render the component by calling SetParameters on the child component before we decide to take any action here.

Blazor is very conservative when checking for parameter changes and will not consider complex-type parameters as the results of an error there

[2020-05-07 18:57] vd3d commented on #21574
Thanks,

Not sure your sample help, because in my case I don't have different URLs !

Here is what I've try:

[code]

And a lot of other combinations, but without any chance to make it work!
I need a default mapping, then a mapping per area !

I always got the same kind of error like:

[2020-05-07 19:02] javiercn commented on #19682
@VideoAppsNet thanks for contacting us.

Blazor can't keep the session state in memory forever. When the machine is put to sleep, the circuit gets disconnected and the resources are claimed after 3 minutes. You can configure the time you keep circuits in memory. See [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.components.server.circuitoptions.disconnectedcircuitretention

[2020-05-07 19:03] #19682 closed

[2020-05-07 19:06] javiercn commented on #21574
@vd3d ah, I didn't realize you were using server-side blazor.

You only need a call to `MapBlazorHub()` and you need to change the route in `endpoints.MapFallbackToPage("/_Host");` otherwise it will always match any route containing `my` and that causes the ambiguity.

[2020-05-07 19:07] SonoranBrian commented on #21582
With the logging enabled, I could see my real IP was in the `cf-connecting-ip` from Cloudflare.

I modified my SignalR getIp() method as follows:
[code]

This now allows me to get the proper IP from cloudflare. I should be able to also modify my HAProxy configuration to set the default `x-forwarded-for` header to the header from cloudflare as well.

[2020-05-07 19:10] wtgodbe commented on #21158
@blowdart as an update, @jcagme is working on a validation pipeline that will run on a cadence (either daily or weekly). Repos can opt in (we're going to). This means we can pull SDL out of our builds while still getting regular validation

[2020-05-07 19:12] javiercn commented on #19094
@BrennanConroy do we have docs on how to configure signalr behind different proxy servers?

[2020-05-07 19:18] BrennanConroy commented on #19094
Nope https://github.com/dotnet/AspNetCore.Docs/issues/10827

[2020-05-07 19:19] vd3d commented on #21574
Sorry, I don't understand... what do you mean by changing the route, it is the default route! Do you have an example ?

[2020-05-07 19:35] captainsafia commented on #14618
Hello, @Bambofy -- just to confirm, you're no longer running into this issue on the latest versions of VS/Blazor? Several improvements have gone in since the issue was opened so this may have been resolved elsewhere.

[2020-05-07 19:44] halter73 commented on #21537
Kestrel never returns a 503 response unless it's set by middleware. I'm not sure what's setting the 503. I would expect a 404 given the "Request did not match any endpoints" log.

If you can reproduce under a debugger, putting function breakpoint on `Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.HttpProtocol.set_StatusCode` should show where the 503 is being set.

[2020-05-07 19:46] captainsafia commented on #19050
I see that you opened another issue with this problem. Please use the other issue for your particular scenario so we can keep this bug report focused on the original problem.

@simonziegler Bummer that you are unable to produce a repro. Does this issue not occur in a minimal reproduction with page navigation logic? The fact that the behavior is inconsistent and evolving across different browsers i

[2020-05-07 19:51] docmaster2 commented on #21393
![перспектива](https://user-images.githubusercontent.com/51852126/81338313-15f3c900-90b5-11ea-8e0d-dae37e4944b9.jpg)
second improvement

[2020-05-07 19:56] rynowak commented on #21393
Thanks!

[2020-05-07 19:56] #21393 closed

[2020-05-07 19:57] docmaster2 commented on #21393
интересуют реквизиты картины,может быть ретро,модерн,современный стиль.

[2020-05-07 20:11] anurse commented on #21590
Transferring to dotnet/aspnetcore, since Localization lives there now.

[2020-05-07 20:14] captainsafia commented on #20555
Hello @xFirestorm -- I was able to reproduce this issue in Firefox as well and did notice that it works in plain HTML.

From my end, it appears that the click event on the input is indeed working. I verified this by adding a event listener to the `click` event on the input component.

The event dispatched from the JSInterop call and the event dispatched from standard JS example are virtually the s

[2020-05-07 20:22] thales-man opened #21592 "dotnet dev-certs (again)"
I need to raise this again.

I've read extensively on the problem, taken all the steps. completely removed all runtimes and SDK's and reinstalled. repeatedly dumped the certs from the key chain, re-run the cert generator, to no avail; run under sudo. added property group items to project files, removed 'use https redirect'... none of these 'solutions' works.

Application Insights Telemetry: Micros

[2020-05-07 20:37] Tratcher commented on #21193
@FDonald Glad you got it working. Why did you opt for a separate service vs adding an additional host binding to your existing application? I expect you'd be able to avoid that Post redirect if they were integrated.

[2020-05-07 20:41] docmaster2 commented on #21193
Хорошо я подумаю.07.05.2020, 23:39, "Chris Ross" <notifications@github.com>:
@FDonald Glad you got it working. Why did you opt for a separate service vs adding an additional host binding to your existing application? I expect you'd be able to avoid that Post redirect if they were integrated.

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on

[2020-05-07 20:46] captainsafia commented on #19635
The behavior your are seeing is intentional. The "Reload" link that is included as part of the template is registered to its own click handler ([ref](https://github.com/dotnet/aspnetcore/blob/18cb57aa3271e3e229ef9bdfe1e2b85500c53cb6/src/Components/Web.JS/src/BootErrors.ts#L12)) which triggers the reload and prevents the execution of other handlers or the default href behavior.

To achieve the beha

[2020-05-07 20:48] javiercn commented on #21592
@thales-man thanks for contacting us.

I believe you are running into an existing issue on Mac OS. See https://github.com/dotnet/aspnetcore/issues/19590#issuecomment-597784639 for steps on how to workaround it while we are working on a fix.

Let us know if this fixes your issue.

[2020-05-07 20:50] felipesfaria commented on #21537
Thanks @halter73 , I had no idea where to set a breakpoint to figure this out.
Here is the callstack for where 503 is being set:
[code]
The 503 seems to be a response to a GET request made to the port running create react app, defined on:
[code]
I can access http://localhost:50349/ on the browser without error.

[2020-05-07 20:57] thales-man commented on #19590
in relation to #21592 I get this from my key chain
Looking for identities matching "localhost"

Policy: SSL (server)
  Matching identities
  1) 161E0C4142F4E5230E6AD64BE895E15AF57004B7 "localhost"
     1 identities found

  Valid identities only
  1) 161E0C4142F4E5230E6AD64BE895E15AF57004B7 "localhost"
     1 valid identities found
when I visually check I see two certs, one is root CA

the web ui

[2020-05-07 21:00] pr-benchmarks[bot] opened #21593 "Performance regression: DbSingleQueryEf"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| DbSingleQueryEf | Linux, http, KestrelSockets | 2020-05-07 20:25:44Z | 191,919 | 187,972 | -2.06 % | -2.12 σ |

Before versions:
ASP.NET Core __5.0.0-preview.5.20254.9__
.NET

[2020-05-07 21:00] pr-benchmarks[bot] opened #21594 "Scenarios are not running: DbFortunesRaw-Mono, Json-Mono, JsonPlatform-Mono, Plaintext-Mono, Plaintext-Mono ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| DbFortunesRaw-Mono | Linux, Cloud, http, KestrelSockets | 2020-05-06 20:59:21Z |
| Json-Mono | Linux, Cloud, http, KestrelSockets | 2020-05-06 20:57:46Z |
| JsonPlatform-Mono | Linux, Cloud, http, KestrelSockets | 2020-05-06 20:56:55Z |
| Plaintext-Mono | Linux, Cloud, http, KestrelS

[2020-05-07 21:02] pranavkm commented on #20256
@mrpmorris I don't see any errors running the app in Chrome 81 and Edge 81. I tried scaffolding Identity, and that appeared to work just fine. If you're still seeing an issue, could one of you please share a minimal app that reproduces this error?

[2020-05-07 21:04] TanayParikh commented on #21522
No repro in `.razor`.
![image](https://user-images.githubusercontent.com/14852843/81344418-91c92380-906b-11ea-9d99-da25b8682ee1.png)

No `var` colorization in `HTML / CSS`.

![image](https://user-images.githubusercontent.com/14852843/81342009-5debff00-9067-11ea-84f8-a16d7df43774.png)

Would a `.html` document be using the same TextMate CSS grammar as a `.razor` document?

[2020-05-07 21:07] anurse commented on #21579
@akaroml can you provide us the exact Safari version you are using and collect a network trace (the browser dev tools should have a way for you to do this). It's likely that Safari is the one blocking the cookie and we may be stuck here.

[2020-05-07 21:08] pranavkm commented on #20243
This should work if you update to VS 16.6 or newer and the RC (or newer) build of Blazor. Feel free to reopen or file a new issue if you're still seeing this once you've upgraded.

[2020-05-07 21:09] #20243 closed

[2020-05-07 21:09] anurse commented on #21557
Closing as per @Tratcher's answer. If you want to provide additional feedback on Negotiate that isn't directly related to the original post, feel free to create a new issue.

[2020-05-07 21:09] #21557 closed

[2020-05-07 21:11] anurse commented on #21495
Are you trying to use ASP.NET Core Identity? You're using the `IdentityConstants.AuthenticationScheme` value for your own cookie, which isn't recommended. Can you share a runnable sample that reproduces the issue? That way we can see if you've configured ASP.NET Core Identity as well as your own custom cookie auth and figure out if there's a conflict.

[2020-05-07 21:13] anurse commented on #20540
@JunTaoLuo was able to identify that Edge Chromium does indeed produce this error when SPNs aren't configured. We're forwarding the details on to that team for further investigation.

[2020-05-07 21:14] pranavkm commented on #19410
@javiercn did a bunch of work in improving the reliability of the SignalR-specific tests as part of https://github.com/dotnet/aspnetcore/commit/a9d702624a02ad4ebf593d9bf9c1c69f5702a6f5. The tests are still quarantined, we'll rely on the regular DOI process to unquarantine it.

[2020-05-07 21:14] #19410 closed

[2020-05-07 21:15] pranavkm commented on #17742
Moving this to backlog. This is currently blocked on source generators effort.

[2020-05-07 21:17] TanayParikh commented on #21298
@ryanbrandenburg would this benefit from the `blocked` tag?

[2020-05-07 21:19] blowdart commented on #12324
@Tratcher has ideas around using the connection feature.

You'll still need to validate the expiry on each request however.

[2020-05-07 21:21] docmaster2 commented on #19979
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="8192" maxQueryString="4096" maxAllowedContentLength="512000000" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="asp

[2020-05-07 21:26] FDonald commented on #21193
@Tratcher sorry, but I can't see the advantages of subdomain, what's the advantage of using it?
How can I send data or authentication token from subdomain to main application to avoid a post?
My separate authentication service has same domain with distinct port.

[2020-05-07 21:27] Tratcher commented on #21193
Triage discussion: Add the Challenge event to the cert auth handler and an in-repo sample (#21484). Vet it with some customers like @brockallen and then write up something for the docs.

[2020-05-07 21:30] blowdart commented on #21158
Opt-in?!

![giphy-downsized-large](https://user-images.githubusercontent.com/796298/81346501-3b5de400-906f-11ea-8884-cdfe37142d19.gif)

[2020-05-07 21:33] Tratcher commented on #21193
@FDonald using an alternate port accomplishes a similar goal, but ports are something a developer might not have as much control over depending on where they're deployed. Either way the client will use separate TCP+TLS connections for the alternate host+port and you can enforce different client certificate requirements there.

If both hosts are attached to the same application instance then you co

[2020-05-07 21:35] poke commented on #18449
But that’s not what is the case here. Please note that in my example, I use `@onmousedown:preventDefault` on a button element while I have to apply `@onmousedown` on literally _any_ other element.

Your statement makes it sound as if you would need to put both on the same element like this:

[code]

If that was the case, I would probably accept this (although I would really dislike it). But the th

[2020-05-07 21:38] #21267 closed

[2020-05-07 21:38] Tratcher commented on #12324
Kestrel has a connection.Items feature that we use for caching in NegotiateAuth.
https://github.com/dotnet/aspnetcore/blob/18cb57aa3271e3e229ef9bdfe1e2b85500c53cb6/src/Security/Authentication/Negotiate/src/NegotiateHandler.cs#L374-L375
CertAuth wouldn't want to rely on this directly since we need cert auth to work with all servers, but we should be able to put in a basic cert auth caching abstract

[2020-05-07 21:41] blowdart commented on #12324
A bounded memory cache obviously :)

[2020-05-07 21:42] #21572 closed

[2020-05-07 21:45] Tratcher commented on #21557
@treborgero looks like a lot of that WindowsAuthenticationHandler code was copied from IIS out-of-proc?
https://github.com/dotnet/aspnetcore/blob/18cb57aa3271e3e229ef9bdfe1e2b85500c53cb6/src/Servers/IIS/IISIntegration/src/IISMiddleware.cs#L160-L180

Looks like you've only added OnCreateClaims, but that could have been done with IClaimsTransformation as well.

[2020-05-07 21:55] pranavkm commented on #19788
@jshovan can you elaborate on how you get in to situation? The examples here are fairly contrived.

[2020-05-07 22:03] pr-benchmarks[bot] opened #21596 "Performance regression: MvcDbSingleQueryEf"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| MvcDbSingleQueryEf | Windows, http, KestrelSockets | 2020-05-07 21:24:56Z | 179,315 | 174,870 | -2.48 % | -2.74 σ |

Before versions:
ASP.NET Core __5.0.0-preview.5.20255.2__

[2020-05-07 22:21] pranavkm opened #21597 "Change the identity of the BlazorWasm template when merging in to master"
https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/.template.config/template.json#L22

The recommendation is to append a version suffix similar to https://github.com/dotnet/aspnetcore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/content/EmptyWeb-CSharp/.template.config/template.json#L13

[2020-05-07 22:21] pranavkm commented on #21597
/cc @phenning

[2020-05-07 22:23] pranavkm commented on #19739
Thanks for the link @Madhust. This is also covered as part of Blazor's documentation here: https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1.

* In the apps that you shared with me, there isn't any noticeable latency for me. This could very well be the result of geo-location of their deployment servers.
* The apps rely on JSInterop to display / animate their co

[2020-05-07 22:29] LunicLynx commented on #21495
This could be Windows Insider related, have to check on my work machine tomorrow.
@anurse The code above is actually the complete example, when starting with the default templates. I know that the code by it self does not make sense. This is intended. I tried to remove all fluff and reduce it to the problematic code. I would not do this in a real application.

[2020-05-07 22:38] treborgero commented on #21557
@Tratcher Yes sir! Here is the problem, the "IIS out-of-proc" logic doesn't play well with JWT (I can, for now, only confirm this for .NET Core 2.2) and you said it yourself in an [old issue](https://github.com/dotnet/aspnetcore/issues/4062). With that said, I went with my solution in the past but was hoping this new "**Microsoft.AspNetCore.Authentication.Negotiate**" package would solve the issue

[2020-05-07 22:38] XinHaoZhuang commented on #19590
I run the generate.sh , but it doesn't seem to work

 ./generate.sh
Generating a 2048 bit RSA private key
......+++
............................................................+++
writing new private key to 'key.pem'
-----
1 identity imported.
Password:
password to unlock /Users/apple/Library/Keychains/login.keychain-db:
keychain: "/Users/apple/Library/Keychains/login.keychain-db"
version: 512
cla

[2020-05-07 22:38] Domivan commented on #21546
Even the usual new blazor application template loses connection. I create a new application from the blazor srever side template, add nothing, publish it on IIS with a virtual memory limit and the socket will disconnect in a minute or two

[2020-05-07 22:39] pranavkm commented on #19402
@freever I don't see this issue running your app:
![Scoped](https://user-images.githubusercontent.com/174281/81351290-d27b6980-9078-11ea-9e2e-354eae612b8b.gif)

Perhaps you have other users or extensions that might be attempting to navigate to this page.

[2020-05-07 22:41] javiercn commented on #19590
@XiaroanZhang the step that is failing is the last one, the set-key-partition-list one, so you should be fine if you try to run an app (you'll have to close and reopen the browser)

[2020-05-07 22:44] NTaylorMullen commented on #21522
No.

Keep in mind I don't think `var` wouldn't be colorized in a CSS section. In an html file try:
[code]

[2020-05-07 22:46] docmaster2 commented on #21557
всё отлично,я завёлся ©2020 DeviantArt.08.05.2020, 01:39, "Robert Orama" <notifications@github.com>:
@Tratcher Yes sir! Here is the problem, the "IIS out-of-proc" logic doesn't play well with JWT (I can, for now, only confirm this for .NET Core 2.2) and you said it yourself in an old issue. With that said, I went with my solution in the past but was hoping this new "Microsoft.AspNetCore.Authentica

[2020-05-07 22:49] ryanbrandenburg commented on #21298
Yeah that's probably appropriate at this point. Basically my attempt to us JSONSchemas was pretty messy and fragile. The fix from their end would likely be when they move off of JSON serializing these things at all and into... @NTaylorMullen was it RPC?

[2020-05-07 22:52] docmaster2 commented on #19402
по всей вероятности дело обстоит именно так,хотя объективной причины в этом я не вижу.

[2020-05-07 22:55] captainsafia opened #21600 "Clarify how Blazor handles web.config in publish phase"
Recently, we added support for user-provided web.config's in publish Blazor apps. However, the web.config must be in the root of the project.

We should consider:

- Whether it makes sense to add a warning to users who have added a web.config to another directory
- Whether we want to support web.config files in any directory in the future
- Documenting this caveat for users

[2020-05-07 22:56] #21192 closed

[2020-05-07 23:02] TanayParikh commented on #21522
<img width="409" alt="Screen Shot 2020-05-07 at 4 00 53 PM" src="https://user-images.githubusercontent.com/14852843/81352655-ef656c00-907b-11ea-9d26-4255e1a76b21.png">

<img width="409" alt="Screen Shot 2020-05-07 at 4 00 30 PM" src="https://user-images.githubusercontent.com/14852843/81352636-e2e11380-907b-11ea-9d8e-53fe4157cc4b.png">

Ah I see the missing colorization now. 🎨

[2020-05-07 23:04] Tratcher commented on #21537
Ah, @mkArtakMSFT back to you for SpaServices.

[2020-05-07 23:12] Tratcher commented on #21557
#4062 discusses an IIS limitation, there's nothing we can do about it at our layer. We've got a whole differet thread going on protocol challenges of conditional client cert auth #21193.

[2020-05-07 23:24] Tratcher commented on #21582
FYI https://github.com/dotnet/aspnetcore/commit/d36dcca7134541e610d2ddaf2083a5495ffc0920 added mitigations for `::ffff:` addresses back in 2.2 or 3.0, you shouldn't need to specify that prefix anymore.

Oh I see the issue, you're defining ForwardedHeadersOptions twice, once in ConfigureServices and once in Configure. These don't stack, the later options are the ones used and they don't have KnownN

[2020-05-07 23:35] anurse commented on #21495
Ok, it would really help to see the full context so can you produce a complete sample (i.e. something we can download or clone from git and run). It's really easy to miss steps in a description but code is clear ;).

[2020-05-07 23:43] pranavkm commented on #19581
We'll be looking at improving the documentation around this as part of https://github.com/dotnet/aspnetcore/issues/21541. As a note, using CORS that allows any origin and allows credentials has a XSRF vulnerability : https://github.com/dotnet/aspnetcore/issues/3106.

[2020-05-07 23:43] #19581 closed

[2020-05-07 23:46] JohnGalt1717 commented on #19581
Given that I can just change my hosts file and emulate any host I fail to see how this is any more of a vulnerability than specific naming.

In fact that's true of all CORS. Total false sense of security given that I can outright bypass it by simply editing my hosts file.

[2020-05-08 00:01] #21549 closed

[2020-05-08 00:18] pranavkm commented on #17733
As part of the 3.1 release, the .NET SDK changed how namespaces for resource files are calculated. Let's look at the sample shared by @emedbo:

![image](https://user-images.githubusercontent.com/174281/81356490-250f5280-9086-11ea-9143-9bd098acf020.png)

`Views.Home.Index.nb-NO.resx` gets embedded as `$AssemblyName.Resources.Views.Home.Index`. However, `SharedResources.nb-NO.resx` is treated as a `

[2020-05-08 01:25] joseph-turk opened #21603 "Allow render fragments for Blazor components in MVC views"
I am working on an MVC app that we are gradually adding Blazor components to. It would be great if there was support for passing razor content to the `ChildContent` parameter in a component that is being rendered in an MVC view.

This is what I'd like to be able to do:

[code]

[2020-05-08 01:39] toddheckel opened #21604 "Can't set cookie authentication options when using Microsoft Identity Platform"
### Describe the bug
I'm unable to set cookie authentication options with AddCookie() or ConfigureApplicationCookie() when using Microsoft Identity Platform (i.e. AddSignIn()). Using AddCookie() throws the exception "Scheme already exists: Cookies", while ConfigureApplicationCookie() just results in the delegate never being called. This worked (using AddCookie()) in 2.1 with AddMicrosoftAccount().

[2020-05-08 02:06] and-rewsmith opened #21606 "How to access client cert chain from custom middleware or callback?"
### Is your feature request related to a problem? Please describe.
I am in the process of migrating the [Azure iotedge](https://github.com/Azure/iotedge) codebase from aspnet 2.2 to 3.1.

We currently make use of [an adapter](https://github.com/Azure/iotedge/blob/master/edge-hub/src/Microsoft.Azure.Devices.Edge.Hub.Http/Adapters/HttpsExtensionConnectionAdapter.cs#L196) to retrieve the client cert

[2020-05-08 02:41] LukeBolly opened #21607 "Misleading error message when an Authorization Handler is not registered"
### Describe the bug
The error message provided when Authorization failed due to a Handler not being registered is currently:
`info: Microsoft.AspNetCore.Authorization.DefaultAuthorizationService[2]
      Authorization failed.
info: Microsoft.AspNetCore.Authentication.JwtBearer.JwtBearerHandler[13]
      AuthenticationScheme: Bearer was forbidden.`
This suggests there is something wrong with the B

[2020-05-08 03:34] rizi commented on #17750
@mkArtakMSFT we have exactly the same problem, please "allow" to call app.UseEndPoints multiple times and execute all configured middlewares.
br

[2020-05-08 04:39] mjolka commented on #21450
@grinay This can be fixed by adding an [exception handler](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-3.1#exception-handler-lambda), for example:

    app.UseExceptionHandler(configure =>
    {
        configure.Run(context =>
        {
            context.Response.Clear();
            context.Response.StatusCode = 500;

            return Task.Complet

[2020-05-08 05:09] akorchev commented on #21579
I tested on another mac and it worked! Seems to be something related to the macOS version. The original mac I tested on had a pending autoupdate. Once I installed it it started working too. The issue was probably caused by an older macOS version.

[2020-05-08 05:09] #21579 closed

[2020-05-08 05:11] TanayParikh opened #21610 "Peek Definition Not Peeking at Method Signature"
The `Peek Definition` command (`ALT + F12`) peeks at the end of the `@code {}` block instead of at the method signature.

Expected:
![image](https://user-images.githubusercontent.com/14852843/81372310-e04be180-90ae-11ea-81e0-932ee2c93380.png)

Actual:
![Peek Defn](https://user-images.githubusercontent.com/14852843/81372447-3f115b00-90af-11ea-9424-c0588a2048fb.gif)

[2020-05-08 05:13] TanayParikh opened #21611 "In VS cloud scenarios Peek Definition doesn't do anything"
The `Peek Definition` command (`ALT + F12`) doesn't do anything in VS cloud scenarios.

Expected:
Peek to signature of method.

Actual:
![Peek Defn 2](https://user-images.githubusercontent.com/14852843/81372686-d8d90800-90af-11ea-881c-3d4ef3433278.gif)

[2020-05-08 05:14] TanayParikh commented on #21611
Possibly related to: https://github.com/dotnet/aspnetcore/issues/21070

[2020-05-08 05:14] thales-man commented on #19590
ok... so, I cleared down again. copied the workaround script into a shell file. closed all browsers and ran the script. hauled up the web ui application in VS4Mac and ran it. it requested access to the key chain (very different behaviour from all previous occasions), which I granted, and voilà... it worked.. so, my thanks to you @javiercn, but it would be great if these things weren't introduced (

[2020-05-08 05:14] TanayParikh commented on #21610
Any fix to this needs to be verified in VS cloud scenarios as well.

For reference: https://github.com/dotnet/aspnetcore/issues/21611

[2020-05-08 05:33] wfurt commented on #19590
Catalina changes were not .NET choice @thales-man. I know this can be frustrating but we are only trying to keep up.

[2020-05-08 05:36] akorchev commented on #21580
Found a way to do it by creating my own AccountController:

[code]

And changing LoginDisplay.razor to
[code]

[2020-05-08 05:36] #21580 closed

[2020-05-08 05:43] thales-man commented on #19590
no, but you are a multi billion dollar organisation trying to get the other same place java was 20 years ago

[2020-05-08 06:32] hez2010 commented on #21565
That's part of work from microsoft/ChakraCore

[2020-05-08 07:01] and-rewsmith commented on #21606
We figured it out.

This callback I was using was the RemoteCertificateValidationCallback root-level in HttpsConnectionAdapterOptions. There is the same callback nested in OnAuthenticate.

Here is what it ended up looking like:
[code]

[2020-05-08 07:20] redit0 commented on #4895
This is really frustrating, because it means it's impossible to use both the Compare attribute and a remote validation attribute together, since Compare ONLY works with a nested property, and for remove validation you need to include the __RequestVerificationToken, and that ONLY works when you DON'T use a nested property.  So for example on the default identity UI page for changing the email addre

[2020-05-08 07:36] mrpmorris commented on #20256
I don't recall seeing this for a while now. I'll close it for now and reopen it off I start to see it again.

[2020-05-08 07:50] robertsundstrom commented on #21566
@SIkebe This is not quite the same thing as it is an enhancement.

[2020-05-08 07:58] Bambofy commented on #14618
Hi, unfortunately i have not used blazor since I posted this issue, sorry!

[2020-05-08 08:56] kant2002 commented on #6304
Can this discussion can be revived? I hit that when I attempt to build installer for ASP.NET.
Runtime and WindowsDesktop repository by default provide these installers.
Reason why I start building installers following: During my work on https://github.com/dotnet/corert/issues/4219 I attempt to build custom CoreCLR, and I thought that simpler way to make use of existing tooling was simply build Run

[2020-05-08 09:16] wangyimingok opened #21612 ":Method not found: 'Void Microsoft.AspNetCore.Identity.SignInManager"
Error Info Comment:

[code]
Code :

[code]

[2020-05-08 09:17] wangyimingok commented on #21612
This problem occurred when I rewritten the Microsoft.AspNetCore.Identity SignInManager class.

[2020-05-08 09:32] megafetis commented on #21067
Do you have plans in the to support this features in future  ?

[2020-05-08 09:49] LunicLynx commented on #21495
Here is a repo that reproduces the error:
https://github.com/LunicLynx/BugRepro_21495

1. Start it with HTTPS in IIS Express
2. Open the browser Tools
3. Click the TEST button
4. You should see an exception

Switch to selfhost with HTTPS, this suddenly works.

I'm on Windows Insider version: Build 19587.rs_prerelease.200313-1639

[2020-05-08 10:04] Tobias-Gr commented on #21354
OK, thanks.

[2020-05-08 10:04] #21354 closed

[2020-05-08 10:12] Rinsen commented on #17277
This will not be fixed in 3.x?
It's a bummer if that's the case since 5.0 is not a LTS version and it will be a great challenge to use in products that customers buy and run because of the "short" support window.

[2020-05-08 10:24] javiercn commented on #21612
@wangyimingok thanks for contacting us.

It is likely you have dependency version issues.

Can you tell us more about what versions are you using and what what dependencies are part of your app?

I would also suggest you check the migration guide [here](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio) if you are updating to a newer ASP.NET Cor

[2020-05-08 10:27] javiercn commented on #21600
Why do you think this is a caveheat? I would think this is expected since I can't think of any other way it can work?

Is there any specific scenario you have in mind?

I'm not sure this makes sense, after all we can't know what users want to do and their scenario might be legitimate?

[2020-05-08 10:28] javiercn commented on #21603
@joseph-turk thanks for contacting us.

We'll discuss this request and update this issue accordingly.

[2020-05-08 10:31] javiercn commented on #21141
Closing in favor of #12302. @pranavkm if you have any reason to leave this open, please say so.

[2020-05-08 10:31] #21141 closed

[2020-05-08 10:36] javiercn commented on #21321
Closing since we haven't heard back in a while.

Using https://github.com/dotnet/AspNetCore.Docs/issues/18198 to track doc improvements in this area.

[2020-05-08 10:36] #21321 closed

[2020-05-08 10:39] javiercn commented on #21375
This is likely a TaskCancelledException being thrown by the library that is not caught. I'm closing this issue in favor of #21384

[2020-05-08 10:39] #21375 closed

[2020-05-08 10:40] #21550 closed

[2020-05-08 10:41] mkopara commented on #21563
In this particular case when any new component was added VS Build Action was by default setted as None. Changing it to Content resolved this issue. Not sure why default action is None as this can cause frequent issues.

[2020-05-08 10:41] #21563 closed

[2020-05-08 10:42] javiercn commented on #21566
@robertsundstrom thanks for contacting us.

Closing as a dupe of #21566 since that's what we are using to track this issue.

[2020-05-08 10:42] #21566 closed

[2020-05-08 10:43] #21576 closed

[2020-05-08 10:50] javiercn commented on #21563
@mkopara I think that's something to do with your project/VS config.

The default action for razor files is Content, but I'm glad that you sorted it out!

[2020-05-08 10:51] #21571 closed

[2020-05-08 11:42] javiercn commented on #20162
@mkArtakMSFT I'm not sure where these tests are coming from. It's not something that we own AFAIK.

@dotnet/aspnet-build might know where the sources for these tests are `Templates.Test.EmptyWebTemplateTest.EmptyWebTemplateCSharp`

I would suggest as a first step we take them out of the automation, since they add no value given that we have CTI runs for these types of things.

[2020-05-08 12:03] XinHaoZhuang commented on #19590
Thank you so much.👍 It works

[2020-05-08 12:07] javiercn commented on #21592
Closing this issue as it is a duplicate of #19590.

[2020-05-08 12:07] #21592 closed

[2020-05-08 13:24] dominiclapointe opened #21615 "Blazor WASM - Debug (vs code and vs preview) Unable to attach to the browser"
### Describe the bug
Creating a new project (in vs preview or with dotnet new) using the latest blazor template. Press F5 once created result in Unable to attach to the browser.

### To Reproduce
VS CODE
1. Create a new project => dotnet new blazorwasm -o test1
2. Open the project in VsCode
3. Run .NET Core Launch (Blazor Standalone)
3. Run .NET Core Debug Blazor WebAssembly in Chrome
4. Chrome op

[2020-05-08 13:35] adrianciolea commented on #21411
I have the same problem when running on Edge. This doesn't look closed to me.

[2020-05-08 13:38] toddheckel commented on #21604
Submitted the issue in AzureAD/microsoft-identity-web.

[2020-05-08 13:38] #21604 closed

[2020-05-08 13:52] burakakca opened #21616 "[BlazorWasm] I couldn't make any sense out of the error"
When I click on the checkbox, I want it to let me know whether it is selected or not, and I want to be able to change its external status with the IsChecked parameter. Does this cause an error

[code]
I get the error I added above, I could not make any sense

### **GxCheckbox**

[code]
Every time I click on checkbox it gives me the above error

### Further technical details
 ASP.NET Core version :

[2020-05-08 14:12] Grizor1911 opened #21617 "Blazor wasm not including "Authorization: bearer" http header in calls to controllers"
Hi, I was migrating my project from Microsoft.AspNetCore.Blazor to Microsoft.AspNetCore.Components.WebAssembly when all the api controllers stop receiving the JWT authorization header. When I test the controllers from PostMan sending the token all is working fine.

The token is received by client from server correctly but seems is not saved or **not included** in the HttpClient GetAsync call. The

[2020-05-08 14:18] xFirestorm commented on #20555
@captainsafia Thanks for your deep investigation on this.

The workaround is to use plain HTML and JS.

[code]

[2020-05-08 14:30] simonua opened #21618 "Clearly Describe which SignalR npm Package to Use"
### Is your feature request related to a problem? Please describe.
I was trying to determine the difference between [@aspnet/signalr](https://www.npmjs.com/package/@aspnet/signalr) and [@microsoft/signalr](https://www.npmjs.com/package/@microsoft/signalr) to use in my JavaScript / Angular application.

My challenges:

- It was not clear to me which package to use. @aspnet/signalr has a higher week

[2020-05-08 14:49] javiercn commented on #21617
@Grizor1911 thanks for contacting us.

Based on your description is impossible for us to know what can be going wrong. I would suggest you try to use our authentication options (token based too) instead of rolling your own auth.

If you can provide a repro project we can take a look, but with the current description we don't have enough information to help you.

[2020-05-08 14:51] javiercn commented on #21616
@burakakca thanks for contacting us.

There seem to be quite a few things going on in the code you pasted. Could you produce a minimal project and instructions to reproduce the issue?

[2020-05-08 14:56] Kikimora commented on #11584
Workaround provided by @DamianEdwards works fine but throws unhandled exception if incoming date has wrong format. BindModelAsync can be augmented with try/catch as follows (code taken verbatim from DecmalModelBinder)

[code]

[2020-05-08 15:05] Grizor1911 commented on #21617
Thanks. I'll take a look. I will try to make a "minimal" repro project, but anyway, the issue can be closed.

[2020-05-08 15:05] #21617 closed

[2020-05-08 15:27] felipesfaria commented on #21537
This is the response message:

  | Name | Value | Type
-- | -- | -- | --
▶ | Content | {System.Net.Http.HttpConnectionResponseContent} | System.Net.Http.HttpContent {System.Net.Http.HttpConnectionResponseContent}
▶ | Headers | {Proxy-Agent: IWSS Cache-Control: no-cache Connection: close Date: Fri, 08 May 2020 15:20:24 GMT } | System.Net.Http.Headers.HttpResponseHeaders
  | IsSuccessStatusCode | fa

[2020-05-08 15:30] isabasan opened #21620 "ValidatePrincipal for StaticFiles"
ValidatePrincipal event is firing for static files.

Is it normal behavior ? The documantaion for static fies says:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?view=aspnetcore-3.1#static-file-authorization

[code]

### Further technical details
.NET Core SDK (reflecting any global.json):
 Version:   3.1.201
 Commit:    b1768b4ae7

Runtime Environment:
 OS Name:     Wind

[2020-05-08 15:34] burakakca commented on #21616
Run the project and there are 2 checkboxes on the index page and watch the problem with f12
https://github.com/burakakca/issueprojectforblazor

[2020-05-08 15:35] javiercn commented on #21616
Thanks for providing a repro. We'll take a look and get back to you.

[2020-05-08 15:36] pranavkm commented on #21619
We haven't included Blazor WebAssembly in .NET 5 just yet because we're focused on Blazor WebAssembly 3.2 release which is scheduled for May of this year. Blazor WebAssembly 3.2 is based on .NET Core 3.1 and will soon be included in the .NET Core 3.1 SDK. After the May release we'll integrate Blazor WebAssembly with .NET 5.

You can still install the Blazor WebAssembly template and use it with the

[2020-05-08 15:37] javiercn commented on #18742
What do you mean by Generically typed. Do you mean like in an open generic?

I tried your sample/repro and I would think that everything is working as expected. Can you provide more details on what you are trying to achieve?

It would be great if you can produce a repro project with instructions on how to trigger the issue and what your expectations are.

[2020-05-08 15:53] mkArtakMSFT commented on #21590
Thanks for contacting us.
@ryanbrandenburg can you please look into this? Thanks!

[2020-05-08 15:55] mkArtakMSFT commented on #21620
@javiercn is this expected?

[2020-05-08 16:01] #21380 closed

[2020-05-08 16:01] #18638 closed

[2020-05-08 16:03] pranavkm commented on #21589
@spsinghats are you able to share your project file? It's not very clear why your 2.2 app would be attempting to load a 3.x binary. Rollforwards shouldn't affect this.

As an aside, 2.2 is no longer in support: https://dotnet.microsoft.com/platform/support/policy/dotnet-core#lifecycle. We recommend upgrading to a supported LTS release.

[2020-05-08 16:07] ggraur opened #21621 "'AuthenticationBuilder' could be found"
hi,
I'm trying to implement google authentication method and I' m getting next error.

Error	CS1061	'AuthenticationBuilder' does not contain a definition for 'AddGoogle' and no accessible extension method 'AddGoogle' accepting a first argument of type 'AuthenticationBuilder' could be found (are you missing a using directive or an assembly reference?)

the project file attached
[project file.txt](h

[2020-05-08 16:11] and-rewsmith commented on #21606
Reopening as this didn't work. When I tried to do this I got the following exception:
[code]

[2020-05-08 16:21] jshovan commented on #19788
Notice:
1. All 3 fields are bound to the same value. So, an update to any field should update all of them.
2. the two bottom fields are coded so that when either one of them is updated it should set value = "Constant"

------------------------------------------
1. Update the value of the top field. Observer that everything seems to work correctly. When you update the field the other 2 fields are i

[2020-05-08 16:22] blowdart commented on #21621
You appear to be mixing of versions, for example you're targetting netcoreapp3, but using aspnet core libraries from 2.2.0, 5.0.0, netcoreapp 2.2.8 and more. Until you harmonize everything to the maximum version you're trying to target this is never going to work I'm afraid.

[2020-05-08 16:23] felipesfaria commented on #21537
I copied `Microsoft.AspnetCore.SpaService.Extensions` into my project and changed `Microsoft.AspnetCore.SpaService.Extensions.SpaProxy.CreateHttpClientForProxy` to bypass proxy on local and it worked.
[code]
Is there a way for me to do this without having to replace `Microsoft.AspnetCore.SpaService.Extensions`?
I already tried setting _Internet Options/Connections/Proxy Server/Bypass proxy server

[2020-05-08 16:24] blowdart commented on #21606
@tratcher

[2020-05-08 16:24] stephentoub commented on #21502
Might this have something to do with Expect: 100-continue?  That header will be sent by default on .NET Framework and not on .NET Core.

[2020-05-08 16:25] pranavkm commented on #19788
My question was more about why would have a scenario where you want to reset the value on an `onchange` event. It seems a bit unusual to have something like this in your code.

[2020-05-08 16:25] robertdunaway commented on #21411
I'm having this problem with Chrome.  I just updated to the latest CR1.  I must have missed some upgrade instructions somewhere because I'm broke now.  Still researching...

[2020-05-08 16:25] ggraur commented on #21621
Hi blowdart,
thanks, for your suggestion,
I have solved the issue after installing "Microsoft.AspNetCore.Authentication.Google 3.0.0" from nuget gallery.
thanks,

[2020-05-08 16:27] johngallardo commented on #3959
It appears that an attempted fix for this issue hasn't been merged. What is the status and the recommendation for services that are attempting to avoid 500s in this case? I've seen installing an ExceptionFilter for DecoderFallbackException, but that feels a bit heavy handed, since we really only want to trap this exception when it originates during processing of the client provided data.

[2020-05-08 16:30] captainsafia commented on #14618
I just gave this a go on VS 16.6 Preview and the exception breaks at the `LowercaseMessage = Message.ToLower(); ` line so it looks like this issue is resolved now.

[2020-05-08 16:30] #14618 closed

[2020-05-08 16:31] jshovan commented on #19788
I agree that it is unusual to have something like this in your code. This is just a sample that I created to point out the bug.

[2020-05-08 16:32] blowdart commented on #21621
You're still mixing 5.00 preview pieces everywhere though, so really you need to syncronise everything to the main aspnet otherwise you will see unexpected behaviours

[2020-05-08 16:34] pranavkm commented on #19788
Fair enough. While I agree it's a bug, I'm going to park it in the backlog since it's not blocking \ impacting your application.

[2020-05-08 16:36] INNVTV opened #21622 "JSRuntime in Blazor WebAssembly blocking DOM updates on first load"
I'm using the latest [Blazor WebAssembly 3.2.0 Release Candidate](https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-release-candidate-now-available/)

From a vanilla Blazor WASM template I made the following adjustments to test/debug the issue:

In **Program.cs** I add the following singleton that will be injected into all pages:

    builder.Services.AddSingleton<ApplicationState>();

[2020-05-08 16:42] captainsafia commented on #21600
I responded to an issue from someone internal where they had their web.config in the `wwwroot` directory and were surprised by the resulting behavior:

* The web.config in the wwwroot directory is copied over to the wwwroot in the publish directory
* The standalone web.config is copied to the publish directory as well

So you get into this weird situation where there are two config files in your p

[2020-05-08 16:43] ggraur commented on #21621
i will do it,
thanks,

[2020-05-08 16:43] #21621 closed

[2020-05-08 16:47] jshovan commented on #19788
I disagree. Consider the following example where you want to prohibit the input of certain characters. You are not able to do so.
With this example, you should not be able to enter the values 'a' or 'b' in the bottom fields but still can because of this bug.
This is a valid case and is how I found this bug.

@page "/"
  @using System.Collections.Generic;
@using System.Linq;

  <div style="border:

[2020-05-08 16:48] robertdunaway opened #21623 "api post not working when F5 refreshing"
I'm currently on Blazor version

I'm getting a simple list during OnInitialized().  When first loading the page the data is returned.  If I press F5 to reload the page the GetTraceListRecords() is executed but I get this error.

![image](https://user-images.githubusercontent.com/7198243/81428396-3447dc00-912a-11ea-89a9-efcfa2c3c6a4.png)

    protected override void OnInitialized()
    {
        st

[2020-05-08 16:49] dominiclapointe commented on #21615
IT seem to be some kind of proxy issue. I managed to get it working in VS 2019 Preview by adding NO_PROXY localhost to my env var. ITs not yet working with VS Code tough.

[2020-05-08 16:56] javiercn commented on #21600
On a hosted project? That sounds like a bug

[2020-05-08 17:01] #21569 closed

[2020-05-08 17:01] #21360 closed

[2020-05-08 17:14] Tratcher commented on #21606
Use the HttpsConnectionAdapterOptions.ClientCertificateValidation property instead.
https://github.com/dotnet/aspnetcore/blob/95a22085303f9230b23294782c0ecd5668343641/src/Servers/Kestrel/Core/src/HttpsConnectionAdapterOptions.cs#L61

[2020-05-08 17:27] TheCakeMonster opened #21624 "Blazor server-side and CSRF"
I'm uncomfortable with the information available on Blazor server-side and CSRF protection. It looks like Blazor server-side can be vulnerable to CSRF because the protection in the platform might be incomplete; if this is not true then there is insufficient information on it for this to be obvious.

The problems seem to be threefold:

1) Protection seems to be based solely on CORS, which is still

[2020-05-08 17:50] Grizor1911 commented on #21617
Note: I've noticed that the problem was that for some reason HttpClient.HttpDefaultHeaders.Authorization is changing to null between requests.

[2020-05-08 17:52] and-rewsmith commented on #21606
@Tratcher That won't work for us unfortunately. We would like to access the client cert chain when the connection is in scope so that we can do this:.

[2020-05-08 17:57] captainsafia commented on #20401
@TobiasKoller I created a repro using the code samples that you provided above. I was not able to reproduce the InvalidOperationException and the handler is executed correctly.

- Are you seeing that the callback is not entered but no exception arises?
- Can you share a GitHub repo with the code that triggers the exception?

Can you open another issue for this with a repro project? Thanks!

[2020-05-08 18:01] PavanDhariwal commented on #21396
Sure. Attached.
[DRA_Blazor.zip](https://github.com/dotnet/aspnetcore/files/4600712/DRA_Blazor.zip)

[2020-05-08 18:01] ViktorHofer commented on #19806
Thanks for pointing that out. At the moment the runtime repository requires a full clr+libraries build to build these projects which target netstandard2.0. The good news is that I'm currently working on lifting that restriction so that these projects can be built directly without the full runtime needed to be built. The tracking issue for that is: https://github.com/dotnet/runtime/issues/31844.

I

[2020-05-08 18:09] pranavkm commented on #21590
@jeremyVignelles does specifying the `RootNamespaceAttribute` work: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1#rootnamespaceattribute? If not, do you have a minimal app that you can share that exhibits this problem?

[2020-05-08 18:12] ryanbrandenburg commented on #21590
@pranavkm [they provided a repro app](https://github.com/jeremyVignelles/repro-localization) already. That repro app bears out that they have used the RootNamespaceAttribute. I'm fairly confident that they are correct that we need to backport the fix they linked from 5.0 into 3.1, will be doing an investigation to confirm and backport today.

[2020-05-08 18:15] mrpmorris commented on #21453
I think keeping the value and binding it when the option exists makes perfect sense.

The value is the value, the select is just a lookup presentation of that value. If the value isn't in the lookup, the lookup should display the wrong value because the coder has it wrong.

[2020-05-08 18:16] Grizor1911 opened #21626 "Blazor wasm. Problem modifying DefaultRequestHeaders.Authorization in default injected HttpClient"
If at any page or class you change the value of injected HttpClient DefaultRequestHeaders.Authorization, it will be null after next http request.

You can reproduce the problem (or not problem, probably I'm missing something, sorry) in the weather example.

Counter.razor:
[code]
FetchData.razor
[code]
I expected the set header in Counter.razor not an Exception in FetchData.razor because DefaultReq

[2020-05-08 18:17] jeremyVignelles commented on #21590
@ryanbrandenburg was too fast for me :)

Yes, I did put the attribute, and it didn't fix anything.

My understanding is that yes, it was fixed in .NET 5, because the current "fix" I have is to copy the .NET 5 `ResourceManagerStringLocalizerFactory`. [See here](https://github.com/jeremyVignelles/repro-localization/blob/5f0fc80ac58a6321c78f4ce0e743635809f20889/TestLocalization/Net5ResourceManagerStr

[2020-05-08 18:21] Tratcher commented on #21606
Oh, sorry. I think you're stuck unless/until we change this behavior in Kestrel. We should be able to move where we wire up the callback so that it becomes replicable.

[2020-05-08 18:22] captainsafia commented on #18663
Hello, @shitalumare -- there's quite a few different components being integrated in this application so it is difficult to see where the error is without a reproduction.

The exception message you see ("The list of component records is not valid.") can happen for a couple of reasons:

- If this issue is showing up on a deployment with multiple servers but no sticky sessions, you might run into thi

[2020-05-08 18:38] anthcool commented on #20401
I have since resolved my issue with this.  It was me, not the framework.  My bad.  Thanks though!

![image](https://user-images.githubusercontent.com/5133304/81437453-6d7f4c80-9128-11ea-977e-bc526ba1e5dc.png)

![image](https://user-images.githubusercontent.com/5133304/81437536-8e47a200-9128-11ea-8db2-9d11b0ef0fce.png)

![image](https://user-images.githubusercontent.com/5133304/81437566-9c95be00-91

[2020-05-08 18:43] Tratcher commented on #21403
The main problem with having two auth providers (Identity and Cookie) is that it becomes hard to use defaults. `AddAuthentication(CookieAuthenticationDefaults.AuthenticationScheme)` sets cookies as your default, but then AddIdentity replaces that. You could reorder them if you really want cookies as the default. Even then, you'd need to specify the Identity auth schemes explicitly anywhere you wan

[2020-05-08 18:50] treborgero commented on #21193
@FDonald I ran into the same issue with the latest .NET Core.

Please take a look at my web.config. TIP: Make sure you remove the `<location path="." inheritInChildApplications="false">` tag:

[code]
I have no clue what they changed but I got it working this way. Hope this helps!

[2020-05-08 18:57] Tratcher commented on #21193
@treborgero that doesn't work on HTTP/2 does it? If the first request is to a path other than those listed then you won't get a client cert, and the request to one of those paths would fail because it couldn't renegotiate.

[2020-05-08 19:01] MJRasicci opened #21629 "Blazor OIDC Auth Error: Failed to execute ‘postMessage’ on ‘DOMWindow’"
### Describe the bug
I'm receiving an error in the browser console when using OpenID Connect authentication in a hosted Blazor app running on localhost to use our single sign on portal.

```Failed to execute ‘postMessage’ on ‘DOMWindow’: The target origin provided (‘https://apps.company.com’) does not match the recipient window’s origin (‘null’).```

### To Reproduce
Program.cs
[code]

App.razor
[

[2020-05-08 19:15] Tratcher commented on #21620
That would be an ordering thing. You have UseStaticFiles before UseAuthentication so no you shouldn't see ValidatePrincipal being called for those requests.

To clarify the doc comments, StaticFiles does not offer any way to specify Authorization rules, if a request reaches it then it will be handled. You can do Authentication and Authorization in the pipeline before that if you choose.

Can you s

[2020-05-08 19:22] captainsafia commented on #17480
@Flearz Can you upload your reproduction to a GitHub repository?

I've tried to create a simple repro with a generic component that accepts an event callback and do see the `InvokeAsync` is called in my sample.

There maybe something else in your application that is causing the issue so a repro will help.

[2020-05-08 19:22] Tratcher commented on #21561
The guidance for proxies is to use forwarded headers to fix up the request so link and redirect generation actually works throughout the site. You'd have the same issue anywhere else in the site generating redirects, links, etc. like many kinds of auth.
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1

[2020-05-08 19:35] javiercn commented on #21629
@MJRasicci thanks for contacting us.

That message is coming from the underlying oidc-client.js library Blazor uses. I don't think there's anything wrong with the config you are passing down to it.

Is your app hosted in a different origin than the main app?

[2020-05-08 19:36] BrennanConroy commented on #21539
If you know what connections are on your server then you can send specifically to the connections with `Clients.Client("id").SendAsync(...);` otherwise we publish the message to Redis and don't try to short-circuit for local connections as that would require extra message de-duping logic (Message from the Redis publish and the same message for the local connection writes).

For your scenario, you

[2020-05-08 19:43] Tratcher commented on #21556
That's problematic. Have you noticed this affecting any other code paths?

[2020-05-08 19:43] captainsafia commented on #17951
It's expected that Blazor components will trigger a re-render when an event handler is invoked. The solution that @mrpmorris shared above should help with programmatically controlling when re-renders happen.

As for the original performance issue, I profiled this on Edge with the latest version of Blazor WASSM (the RC, at the moment) with a textbox containing 18,000 characters. Each handler takes

[2020-05-08 20:01] #21574 closed

[2020-05-08 20:01] #19597 closed

[2020-05-08 20:04] davidfowl commented on #21422
That seems like something we should fix.

[2020-05-08 20:13] NTaylorMullen commented on #21611
I'm actually surprised you get that command list item to begin with. Seems like a bug in the LSP platform editor to be honest

[2020-05-08 20:18] #21551 closed

[2020-05-08 20:26] NTaylorMullen opened #21631 "[LSP Editor] Creating a new Razor component is temporarily recognized"
Open a Blazor project. Right click the Pages folder and click Add -> RazorComponent. Try using that component in any file.

The component will be temporarily available and then will dissapear. Editing that added file will result in it showing up in IntelliSense again.

[2020-05-08 20:27] #19979 closed

[2020-05-08 20:36] treborgero commented on #21193
Interesting point. I wonder why it works for me in IIS 10 then?

Maybe it's an automatic fall back like mentioned here [https://docs.microsoft.com/en-us/iis/get-started/whats-new-in-iis-10/http2-on-iis#when-is-http2-not-supported](https://docs.microsoft.com/en-us/iis/get-started/whats-new-in-iis-10/http2-on-iis#when-is-http2-not-supported)?

This is confusing.

[2020-05-08 20:39] adamkjonesmesh opened #21632 "Poor performance with handling of raw byte array with inputformatter"
### Description
When using application/octet-stream and raw byte[] input to controller, one must use an InputFormatter.  Processing an incoming stream on the request body and passing that as a byte array to the InputFormatterResult provides some significantly poor performance.  Please see my code below.

First, a simple controller method using a byte array.
[code]
Second, our custom InputFormatter

[2020-05-08 20:40] TanayParikh commented on #21611
Yeah that would make sense considering the other navigation commands aren't available either.

I'll create a VSTS issue.

[2020-05-08 20:44] Tratcher commented on #21193
@treborgero supports both HTTP/1.1 and HTTP/2 via ALPN. You'd have to check the client or server logs to see which was actually used for those requests.

The implication from your "api/" paths is that your clients are programmatic? Are those the same clients accessing the rest of your site or are they different clients? If there's no crossover then it wouldn't be an issue.

[2020-05-08 20:59] mkArtakMSFT commented on #21590
Thanks for the investigation, @ryanbrandenburg.
Given the workaround and the impact this has on the community we will not be taking this fix in 3.1.

[2020-05-08 20:59] #21590 closed

[2020-05-08 21:05] treborgero commented on #21193
Yes. In my case I'm using Angular to programmatically call the certificate authentication path based on conditionals.

For anyone's clarification: I proceed to parse the client certificate in that one call, a claims principal gets temporarily created via a custom handler, and finally a JWT gets created and sent back which is used for further authentication. In conclusion, all further authenticatio

[2020-05-08 21:09] and-rewsmith commented on #21606
@Tratcher Just to confirm, are you saying that implementing this is also not possible with custom middleware?

[2020-05-08 21:10] pr-benchmarks[bot] opened #21634 "Performance regression: MvcDbSingleQueryEf, DbSingleQueryEf"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| DbSingleQueryEf | Linux, http, KestrelSockets | 2020-05-08 21:01:29Z | 187,972 | 161,950 | -13.84 % | -13.85 σ |

Before versions:
ASP.NET Core __5.0.0-preview.5.20255.6__
.NE

[2020-05-08 21:12] Tratcher commented on #21606
? At the moment you'd have to fork the Https middleware.

[2020-05-08 21:16] FDonald commented on #21193
Thank you very much @treborgero. It work with your suggestion.
Definitively I think is a bug in new Asp.net core config.
Besides the configuration deceive with inheritInChildApplications="false" it's clear that childs inherit.
Well, I will apply your configuration.
I Attach a simple POC with IIS logs activated to inspect behavior
[SampleMVC.zip](https://github.com/dotnet/aspnetcore/files/4601672/S

[2020-05-08 21:18] #21555 closed

[2020-05-08 21:23] JunTaoLuo opened #21635 "Project Template test failure during aspnetcore runtime installation on Helix"
It looks like we have a test failure on Helix caused by an exception during runtime installation. The build to investigate is https://dev.azure.com/dnceng/internal/_build/results?buildId=636258&view=ms.vss-test-web.build-test-results-tab&runId=19797422&resultId=120552&paneView=debug

The failure message I see in the logs is:
[code]

So it seems the issue is caused by https://github.com/dotnet/aspn

[2020-05-08 21:27] dominiclapointe commented on #21615
Finally found out it was some weird setup of our proxy or how vs handle proxy setting.

To have VSCODE working i had to set NO_PROXY with 127.0.0.1 and to have VS 2019preview i had to et NO_PROXY localhost...

Why is it trying to use the proxy to get access to localhost??

[2020-05-08 21:27] #21615 closed

[2020-05-08 21:28] ylr-research opened #21636 "Asp.Net Core Web API Google Authentication"
Is there any docs about securing Web API with Google authentication? Most of documentation is for MVC or at least assuming an existing UI for login. My intent is to have a bear bone API (no views), and upon a request to secure endpoint to be redirected to Google consent page.

[2020-05-08 21:39] mdo98 opened #21637 "Race condition in Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.HttpProtocol"
There is a race condition in Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.HttpProtocol.  In ProcessRequestAsync, the implementation of BeginRequestProcessing in Http1Connection calls Reset(), which clears an internal list.  The List.Clear() operation is not thread-safe, it calls Clear() on an internal array with a size argument.  When Array.Clear(startIndex, size) is called concurrently,

[2020-05-08 21:42] HaoK commented on #21635
This is tracked by https://github.com/dotnet/aspnetcore/issues/20219

[2020-05-08 21:42] #21635 closed

[2020-05-08 21:44] pr-benchmarks[bot] opened #21638 "Marking some tests ready for unquarantining"
This issue is mostly just part of testing a new WhatsBroken feature that will mark tests as ready-to-unquarantine. These are some of the tests we decided to unquarantine because any investigation data is lost and they haven't failed in 30 days.

<details>
    <summary>Metadata</summary>

## Affected Tests

| Project | Type | Method |
| ------- | ---- | ------ |
| dotnet-microsoft.openapi.Tests | M

[2020-05-08 21:44] anurse commented on #21638
Closing, so that WhatsBroken will show these as eligible for unquarantining.

[2020-05-08 21:44] #21638 closed

[2020-05-08 22:01] #21310 closed

[2020-05-08 22:01] #19263 closed

[2020-05-08 22:03] BrennanConroy commented on #21107
Should be good to go, found a library

[2020-05-08 22:03] #21107 closed

[2020-05-08 22:08] pr-benchmarks[bot] opened #21640 "Performance regression: DbFortunesEf, MvcDbMultiUpdateDapper, DbMultiUpdateDapper"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| DbFortunesEf | Linux, http, KestrelSockets | 2020-05-08 21:27:13Z | 163,090 | 151,275 | -7.24 % | -5.47 σ |

Before versions:
ASP.NET Core __5.0.0-preview.5.20255.6__
.NET Cor

[2020-05-08 22:09] vsfeedback opened #21641 "Running Blazor (ASP.NET hosted) app starts browser without extensions"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1019896/running-blazor-aspnet-hosted-app-starts-browser-wi.html)._

---
[regression] [worked-in:16.6.0 Preview 4.0]
# Describe the bug
When running an ASP.NET Core hosted Blazor WASM app, it launches Chrome in some non-standard mode where extensions are not loaded / passwor

[2020-05-08 22:10] vsfeedback opened #21642 "Blazor wasm project started from visual studio run clears browser local storage"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1014741/blazor-wasm-project-started-from-visual-studio-run.html)._

---
[regression] [worked-in:16.6.5]
When an app is started by running it from visual studio, the local storage values are cleared (test default new blazor project that does not access local storage in any w

[2020-05-08 22:14] captainsafia commented on #20198
Thanks for taking the time to produce this repro and to follow up with your own investigation, @SweetJV!

I took a look at your project and it looks like there is a typo [here](https://github.com/SweetJV/BlazorGetElementByIdBug/blob/34014af2b7bd15e0627e38c942a7c4f3169f510c/wwwroot/scripts/interop.js#L94). Making the following change resolved the issue on my clone of your project.

[code]

I'll go

[2020-05-08 22:14] #20198 closed

[2020-05-08 22:24] BrennanConroy commented on #14706
Closing, .NET 5 should fix this.

[2020-05-08 22:24] #14706 closed

[2020-05-08 22:25] BrennanConroy commented on #10151
This is large, we should get started on this ASAP if we're going to do it.

[2020-05-08 22:32] BrennanConroy commented on #21291
@jkotalik Does Tye have an API proposal for this? Also, how important is this API to Tye?

[2020-05-08 22:37] BrennanConroy commented on #20964
Lets start cleaning up areas before obsoleting this.

- [ ] todo...

[2020-05-08 22:49] BrennanConroy commented on #10020
We can revisit later

[2020-05-08 22:49] #10020 closed

[2020-05-08 23:07] BrennanConroy commented on #20153
Fixed via https://github.com/dotnet/aspnetcore/pull/20417

[2020-05-08 23:07] #20153 closed

[2020-05-08 23:17] BrennanConroy commented on #20076
@nickcraver

Do you have any updates on the newer Redis bits?

[2020-05-08 23:18] davidfowl commented on #21637
I think the question is, why is it being called concurrently in the first place. None of these objects are thread safe and intentionally so.

[2020-05-08 23:43] BrennanConroy opened #21644 "Add MessagePack support for the Java SignalR Client"
Part of https://github.com/dotnet/aspnetcore/issues/21022
Continuation of https://github.com/dotnet/aspnetcore/issues/21107

We'll want to make a new package. `com.microsoft.signalr.messagepack` maybe?
It'll depend on `com.microsoft.signalr`.

We'll also need to make the HubProtocol abstraction public, and add an API to the builder to add a custom HubProtocol.

[2020-05-08 23:44] davidfowl commented on #21632
You don't have to use a formatter. You can write the code directly into your controller.

Right, it's recommended that you should process large payloads as a Stream not as a `byte[]`. That requires copying the entire payload into memory first, putting it in the large object heap and other strain on the GC.

That code you wrote is *extremely* inefficient:
- It's copying 4 KB at a time into the arra

[2020-05-09 00:01] davidfowl commented on #21632
Oh another question, why did you want the file upload as a `byte[]` in the first place.

[2020-05-09 00:14] adamkjonesmesh commented on #21632
@davidfowl Thanks for the response.  Yes, I realize the isn't optimized for efficiency.  This is a prototype code I have in place.  The requirement to use byte[] instead of IFormFile is something out of my hands.  And, I am aware that it is recommended to use a Stream for file uploads.  And, yes, I am aware of the GC situation.

However, even given the ineffiencies in the code, I have tried no buf

[2020-05-09 00:31] schotime commented on #21432
Is there a work around? cause I can't go to production with out this working.

[2020-05-09 00:46] halter73 opened #21645 "Kestrel should automatically Advance HttpRequest.BodyReader if middleware doesn't"
### Is your feature request related to a problem? Please describe.

If middleware reads from HttpRequest.BodyReader but doesn't advance (commonly because something threw between ReadAsync and when Advance would normally be called), an error will be logged and the underlying connection will be aborted:

[code]

### Describe the solution you'd like

If middleware reads from HttpRequest.BodyReader bu

[2020-05-09 00:47] INNVTV commented on #21622
Just adding a note that there is a StackOverflow conversation happening on this topic [here](https://stackoverflow.com/questions/61683382/jsruntime-in-blazor-webassembly-blocking-dom-updates-on-first-load/61685804?noredirect=1#comment109118546_61685804)

[2020-05-09 01:00] #17733 closed

[2020-05-09 01:09] wangyimingok commented on #21612
I am using .NET Core 3.1.3, the class library in question is .NET standard2.0. It depends on ASP.NET Core Identity, and IdentityServer4 Version 3.1.2

[2020-05-09 01:59] pengqi1991 opened #21646 "use EFCore in Blazor"
context.Sports.FirstOrDefaultAsync();    will error
but context.Sports.FirstOrDefault is true

[2020-05-09 02:15] gavilanch opened #21647 "Intermittent error when using JavaScript in OnAfterRenderAsync and having the console open"
### Describe the bug
In Blazor WebAssembly (RC1), I'm trying to execute a JavaScript function from a simple JavaScript file in the OnAfterRenderAsync method of a routable component. In the index.html file I also got a reference to jQuery from a CDN. For some reason, sometimes, when refreshing the page I get the error:

 _Unhandled exception rendering component: Could not find 'initializeCounterCom

[2020-05-09 03:35] #21421 closed

[2020-05-09 04:18] smaugcoath commented on #17277
Bfff... I've just seen that I'm not alone here... 6 AM and still working.

[2020-05-09 04:46] Atulin opened #21648 "Identity – UserManager and UserStore issues with non-string user ID"
I managed to successfully convert my codebase to be consistent and use `long` as an ID for every model, including my `User:IdentityUser<long>`. Everything seems to have been working.

That is, until I needed to get the currently logged-in user with `_userManager.GetUserAsync(User)` and fell down a rabbit hole of hardcoded `string`s everywhere. Quite a big chunk of my switch was made easier thanks

[2020-05-09 05:02] davidfowl commented on #21632
That means this project won't scale then? Anything this big is usually streamed somewhere else. Using a `byte[]` here will destroy the performance of this system. I'd try to figure that part out before trying to "fix" this.

This sounds like it might have something to do with model binding, or validation running on your `byte[]` between your formatter and controller? @pranavkm does validation run

[2020-05-09 06:44] SharePointRadi commented on #18087
I can confirm the following:

Posting data with:
[code]

And reading it in a controller with:
[code]
Results in:
`System.IO.IOException: Unexpected end of Stream, the content may have already been read by another component.
   at Microsoft.AspNetCore.WebUtilities.MultipartReaderStream.ReadAsync(Byte[] buffer, Int32 offset, Int32 count, CancellationToken cancellationToken)
`

And is "fixed" with:
`

[2020-05-09 06:59] davidfowl commented on #18087
@SharePointRadi what does the controller action look like and what middleware do you have in your pipeline?

[2020-05-09 09:00] pr-benchmarks[bot] opened #21650 "Performance regression: MvcDbFortunesEf"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| MvcDbFortunesEf | Linux, http, KestrelSockets | 2020-05-09 08:41:49Z | 101,612 | 90,169 | -11.26 % | -10.56 σ |

Before versions:
ASP.NET Core __5.0.0-preview.5.20255.6__
.NET

[2020-05-09 09:21] fitdev commented on #18742
Yes, I meant open generic, exactly as in the sample code above: `Action<T>? Template` in the `RazorComponentBase<T>` class. If I have a concrete type for a propertry which acts as a cascading parameter, like `Action<int>? Template` for example, then the binding works. But if I define it as an open generic `Action<T>? Template` in the base class, and have the child class (inheriting from the base `

[2020-05-09 10:00] pr-benchmarks[bot] opened #21651 "Performance regression: PlaintextNonPipelined"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| PlaintextNonPipelined | Windows, http, IISInProcess | 2020-05-09 09:42:46Z | 344,525 | 292,297 | -15.16 % | -3.68 σ |

Before versions:
ASP.NET Core __5.0.0-preview.5.20255.6_

[2020-05-09 10:24] simonziegler commented on #21438
@javiercn thanks for the response and apologies for the delay. I’m working in a material theme component library github.com/BlazorMdc, and would like to find some way to expose all events from some elements on a component but to ignore those from elements that are declarative rather than interactive.

[2020-05-09 10:26] javiercn commented on #18742
@fitdev I’m having some trouble understanding what you mean. Can you produce a minimal repro project that shows what you think doesn’t work so that we can both be on the same page?

[2020-05-09 10:40] sgf commented on #21353
The problem has already been solved.
the Reason is because:
in asp.net core web api the Model Binding Executing before the ActionFilter.
So i need disable the Model Binding.
then i search  how to disable Model Binding.
well,i got the result is:
[code]

[2020-05-09 10:40] #21353 closed

[2020-05-09 11:26] mrpmorris opened #21652 "[Blazor] IDisposable transient services are retained indefinitely"
REPO: https://github.com/mrpmorris/BlazorBug-21652

Any object that implements IDisposable is held onto by the dependency container. This means that if a class implements IDisposable and is registered as Transient, it will remain in the Blazor app scope forever.

Create a service.
[code]

Register it as a transient dependency.
[code]

Change Index.razor
[code]

1. Run the app
2. Navigate between I

[2020-05-09 11:33] mrpmorris opened #21653 "[Blazor] Initial value on two-way bound checkbox is not reflected in checkbox state"
Change your Index.razor page like so

[code]

Run the app.

Expected: The checkbox should be checked.
Actual: The checkbox appears unchecked.

[2020-05-09 12:01] pr-benchmarks[bot] opened #21654 "Bad responses: DbFortunesRaw-Mono"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| DbFortunesRaw-Mono | Linux, AMD64, http, KestrelSockets | 2020-05-09 11:43:33Z | 4821075 |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-05-09 12:49] mrpmorris opened #21655 "[Blazor] HttpClient is registered incorrectly"
The default registration in a Blazor app for HttpClient is

[code]

According to Microsoft docs, HttpClient should be registered as a Singleton.

https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient?view=netcore-3.1

Not only can this exhaust the number of available sockets (most likely in a Blazor Server app) but HttpClient also implements IDisposable, which means the dependency

[2020-05-09 13:06] fitdev commented on #18742
I will try to explain it more explicitly if I can:

[code]

[code]

Wouldn't you say from the above code, that the value of `Template` property of `ActualComponent` component should be `c => /* do something with comp */` after it was initialized by the Blazor Runtime? That's what `CascadingValue` component is supposed to do, isn't it? It will set _propeties of all child components_ that match the

[2020-05-09 13:10] fitdev commented on #18742
If I remember correctly, when I reported this issue, I looked at the then your source code for I think `CascadingValue` component or some other related file and saw that basically the generated list of candidate properties for accepting cascading values would not include those with open generic types. Or, perhaps that the types did not match, since the Runtime saw the component having an open gene

[2020-05-09 14:28] isabasan commented on #21620
ConfigureServices:
[code]
ConfigureCookieAuthentication Extension:
[code]
CustomCookieAuthenticationEvents:
[code]
Configure:
[code]

Application Logs:
[code]

Debug Output:
[code]

[2020-05-09 14:45] INNVTV commented on #21622
This can be closed. As pointed out in this [StackOverflow ](https://stackoverflow.com/questions/61683382/jsruntime-in-blazor-webassembly-blocking-dom-updates-on-first-load/61685804?noredirect=1#comment109121227_61685804)post It wasn't the JSRuntime that caused an issue - but it was the DELAY that it created within App.razor that resulted in the object state seeming to be different on a hard refres

[2020-05-09 14:45] #21622 closed

[2020-05-09 14:59] TomJD commented on #21646
What is the error?
I use `FirstOrDefaultAsync();` in my WASM project without troubles.

[2020-05-09 15:08] jrodenburg opened #21656 "dotnet-openapi produces uncompilable swaggerClient"
### Describe the bug
Using the dotnet-openapi tool, a broken client (uncompilable) is generated from a swagger definition.

### To Reproduce
1. Create a basic console application
2. Run dotnet-openapi against an openapi service definition

[code]

3. Use swaggerClient in Program.cs

[code]

4. Attempt to build the application

[code]

### Further technical details
[ $ ~ ] dotnet --info
.NET Core S

[2020-05-09 15:20] gavilanch commented on #21647
I added another library alongside jQuery, and the error occurs even more frequently (in my case, I added chartjs):

`<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>`

Feels like it is some sort of race condition, so I did the following change in the index.html (I place

[2020-05-09 15:29] Tratcher commented on #21620
That looks like it's behaving as expected. Any request that successfully serves a static file does not do auth. Is it the 404 case you're worried about? There are several requests there for missing files, and those run through the whole pipeline to see if any other components will handle them. That means they also trigger the default auth handler and ValidatePrincipal in the process.

[2020-05-09 16:01] #21619 closed

[2020-05-09 16:05] Tratcher commented on #21636
JwtBearer is designed for use in Web APIs. This looks like a good writeup: https://stackoverflow.com/a/48768183/2588374

[2020-05-09 16:06] Tratcher commented on #21645
Duplicate of https://github.com/dotnet/aspnetcore/issues/17840?

[2020-05-09 16:50] BrightSoul opened #21657 "ILogger mutates the array of objects to format"
Hello there, I'm using ASP.NET Core 3.1. Basically the problem is the one described in the title. Here's how to reproduce.

Create a new ASP.NET Core application with `dotnet new web`
Change the `Configure` method of the `Startup` class like this.
[code]
As you can see, the original `null` argument of the `FormattableString` gets changed to a string `(null)`. It's a very subtle behavior by the `IL

[2020-05-09 17:45] javiercn commented on #21657
@BrightSoul thanks for contacting us.

We'll look into this issue and get back to you.

@Pilchie now that extensions have moved to runtime, do we have a tag/place to put these types of issues? Is platform a good label for it? Just want to make sure that the right folks look at it.

[2020-05-09 17:45] isabasan commented on #21620
Yeah @Tratcher . You are right. I realised that after I reported this issue. My app was in very early stage and on going development.  I realised that, the things fired the "ValidatePrincipal" event were 404 requests.
I took your time. Sorry. And thanks for your help.

[2020-05-09 17:46] javiercn commented on #21655
@mrpmorris thanks for contacting us.

That only applies to the server. In the wasm implementation its backed by the wasm handler, so it is not an issue.

[2020-05-09 17:49] javiercn commented on #21646
@pengqi1991 thanks for contacting us.

Can you give us more information about your environment? is this issue related to server-side blazor or are you trying to use Entity Framework Core with Blazor webassembly?

[2020-05-09 17:56] mrpmorris commented on #21655
@javiercn every time you have an HttpClient injected into a component you'll get a new instance, but because it implements IDisposable the container will hold a reference to it in until the container is disposed, which isn't until the user goes away.

This means you'll keep creating new instances that aren't garbage collected,and you'll have a memory leak.

If you aren't convinced then look at the

[2020-05-09 18:10] Tratcher commented on #21620
No problem. Always check the logs.

[2020-05-09 18:21] davidfowl commented on #21657
I'll move it

[2020-05-09 18:29] gfoidl commented on #21618
Really?
For ASP.NET Core have a look at https://docs.microsoft.com/en-us/aspnet/core/signalr/javascript-client?view=aspnetcore-3.1#install-the-signalr-client-package

[2020-05-09 18:35] pengqi1991 commented on #21646
i make a mistake ,the entity may be null in the blazor page when oninitializedasync().the entity should be checked

[2020-05-09 18:36] #21646 closed

[2020-05-09 18:44] rosenbjerg opened #21658 "Creating migration w/ startup-project with multiple overloads of CreateHostBuilder gives 'Ambiguous match found.' error"
I'm working on a solution with several projects, one of them being the application host and another being the database project, containing databasecontext and migrations.

When trying to create a new migration using, with the database project root being the current working directory.
[code]
It gives the following output:
[code]
I quickly figured out the problem, but only because I had just experim

[2020-05-09 20:00] #21561 closed

[2020-05-09 20:10] davidfowl commented on #21658
Better error sounds good.

[2020-05-09 20:51] mrpmorris commented on #21655
PS: I think Blazor should probably register HttpClient as Scoped.

[2020-05-09 21:04] davidfowl commented on #21655
Yea this seems really wrong almost patch worthy for 3.1.

[2020-05-09 21:20] Mercurial opened #21660 "[Blazor - Ubuntu/Linux] VSCode Razor Log is reporting a continuous loop of logs causing intellisense to not work"
To reproduce just simply do `dotnet new blazorserver` then start vscode `code .` in the directory and then watch the razor log output window spit this out repeatedly. Causing the editing experience to be just plain-text like.

And this only happens in Ubuntu. On Windows and Mac it works, although in another topic blazor support would really need to improve.

![Screenshot from 2020-05-10 05-18-53](

[2020-05-09 23:51] ylr-research commented on #21636
@Tratcher interesting link, thank you. Really helpful. I see there’s still some people recommending to validate `aud`, even Google does, but the answer was never updated. Do you think the following is ok for that matter?
[code]

[2020-05-09 23:52] Atulin commented on #21648
I believe it can be closed. Turns out the issue was somewhere else in the code. As is often the case.

[2020-05-09 23:52] #21648 closed

[2020-05-09 23:54] blowdart commented on #21612
Can you please post your project dependencies

[2020-05-09 23:56] blowdart commented on #21477
Are you getting an endless redirect loop by any chance, now you have samesite changes in?

Is it on all browser types? Edge, Safari and Chrome?

[2020-05-09 23:58] blowdart commented on #21648
*grin* Fair enough. I see you also got an answer on Reddit which has our standard answer, strings are the most portable. You need to convert from strings to your non-string user key in your stores. Just putting that there for others,

[2020-05-10 00:38] Tratcher commented on #21636
I can't speak to Google specific validation, you should check their guidance.

[2020-05-10 00:42] simonua commented on #21618
You might have taken a different path than me to get to that. If you look at my steps and my screenshot, maybe it's understandable why it was confusing. This could just be called out a bit more explicitly, in my opinion.

[2020-05-10 00:43] PickleNick commented on #14519
Totally agree, constantly clicking on components this way and wondering why it's not working :)))

[2020-05-10 01:19] dadude999 commented on #5930
I see the same issue on Windows. One workaround appears to be simply P/Invoking the native C [exit](https://en.cppreference.com/w/c/program/exit) function in a class somewhere as follows:

`private const string NativeCLibName = "ucrtbase.dll"; // assumes Windows; on Mac it will be "libSystem.dylib", on Linux probably "libc.so"`

`private const string ExitFunctionNativeName = "exit";`

`[DllImport(

[2020-05-10 01:36] davidfowl commented on #21612
@HaoK did we remove a public constructor in 3.x?

[2020-05-10 01:40] davidfowl commented on #21612
Looks like we did ugh:

https://github.com/dotnet/core/blob/master/release-notes/3.0/api-diff/Asp.Net/3.0.0_Microsoft.AspNetCore.Identity.md

@wangyimingok You're going to have to move that project to .NET Core 3.1 instead of making it target .NET Standard. Or make it multi-target both and handle the breaking change.

We have to be more careful here to not break public constructors of types people

[2020-05-10 02:53] Tommigun1980 commented on #5333
@davidfowl @anurse Hi, is there any way you guys could confirm whether calling Abort() works in all cases when using the SignalR service? @anurse said it only works when they are on the same server, while @davidfowl said it works fine in all cases.

I will be deploying my server with the SignalR service. My server sends notifications to connected clients through SignalR. It also provides a REST AP

[2020-05-10 03:24] mjolka commented on #20948
I believe this is the same issue as #21588.

[2020-05-10 03:34] tango-charly commented on #21510
Ok, but what is the expected behavior ?
When Error page would be misconfigured application should throw a 500 instead of 404 ?

Actually, it could help if Developer Exception Page could use error page as preview or in a sort of verbose mode to see the misconfiguration as soon as possible.

Sorry for my lack of informations and investigations on this issue I was busy

[2020-05-10 04:09] dougbu commented on #20162
Why was this issue closed? The problem is in src\ProjectTemplates\test\EmptyWebTemplateTest.cs and that's source code everyone owns.

Do we actually know the `malloc` failure was due to a problem in the SDK? And, if it was an SDK problem, did someone open an issue?

[2020-05-10 04:48] dougbu commented on #6304
@kant2002 when we build the installers locally (which is very rare), we follow along with the .azure/pipelines/ci.yml. In particular, local devs don't usually need to build both x64 and x86 assets on Windows, let alone the site extensions or installers.

[2020-05-10 05:44] imprathamesh opened #21662 "[Blazor] Performing CRUD Operation Using Modal Bootstrap"
Hello,
Use Modal Boostrap to perform all CRUD Operation. The problem I am facing is
when I click on save button for modal the data is inserted into database but the modal does not close and the data does not shown in html table. When I refresh the page then i see the inserted data.
I also use StatehasChanged() on insert/save button. But still its not working.

I need to close the modal manually an

[2020-05-10 06:31] davidfowl commented on #21650
@ajcvickers is this the regression you were seeing?

cc @adamsitnik

[2020-05-10 07:20] davidfowl commented on #21651
This is a massive regression...  Only runtime changes hmmm.

@janvorli @jkotas do you see anything in that list of commits (linked in the issue) that would result in this kind of regression?

IIS inprocess uses:
- The hosting API (hostfxr) but only at startup
- Lots of Pinvokes per request (calling both directions)
- ThreadPool usage
- Windows only

[2020-05-10 08:15] jspuij commented on #21655
DryIoc won't even allow you to register disposable transients: https://bitbucket.org/dadhi/dryioc/wiki/ReuseAndScopes.md#markdown-header-disposable-transient

Other containers as well, or do not pass validation, so you cannot validate the container. This is an issue.

My proposition would be as follows:

* Resolve Transients from a newly introduced "Component IServiceScope" that is disposed with t

[2020-05-10 08:49] garayx commented on #21502
I did try to set `HttpClient.DefaultRequestHeaders.ExpectContinue = false;` that didn't fix the issue.

[2020-05-10 09:44] kant2002 commented on #6304
@dougbu Can steps for building installers to be put in docs? I can submit PR. I understand that I take unusual path. If documentation update is proper way, does https://github.com/dotnet/aspnetcore/blob/master/docs/BuildFromSource.md proper place for adding that information?

[2020-05-10 10:10] mrpmorris commented on #21655
I went for a new component `ScopedComponent` with `[InjectOwned] `

https://mrpmorris.blogspot.com/2020/04/blazor-scoping-services-to-component.html?m=1

[2020-05-10 10:35] jkotas commented on #21651
I do not see anything obvious. Do you have ETW trace before / after?

[2020-05-10 10:49] JvanderStad opened #21664 "[Blazor] component inheritance, rendering logic in base component"
I would like to propose a very simple inheritance improvement with Blazor components:

Simply put: If you would inherit from a base .razor component and you haven't specified any content in the inherited .razor component, do not override the `BuildRenderTree` method.

Why? I have created .razor components decorated with the abstract keyword in the partial class. The rendering logic (layout) is loc

[2020-05-10 10:56] JvanderStad opened #21665 "[Blazor] Add @abstract directive"
Feature request: Create a new razor component directive to mark the generated class as abstract.
`@abstract` seems like a good candidate.

[2020-05-10 10:57] NickCraver commented on #20076
We have a large PR in progress to help the Sentinel bits - the support could be better and we're working through the API now. That's the largest "pending" thing we have - relevant here because it switches the connection strategy to be based on the connection string from the upstream library which makes it more generally usable, e.g. with this reference too. I'll sync with @mgravell tomorrow and ge

[2020-05-10 11:06] JvanderStad opened #21666 "[Blazor|Mvc] Make Microsoft.AspNetCore.Mvc.ViewFeatures.IComponentRenderer public"
I have my own version of `ComponentTagHelper`

https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.TagHelpers/src/ComponentTagHelper.cs#L101

[code]

However `Microsoft.AspNetCore.Mvc.ViewFeatures.IComponentRenderer` is not marked as public.
To work around this, I use reflection.

[code]

please make `IComponentRenderer` public.

https://github.com/dotnet/aspnetcore/blob/602cb1dea59751a12

[2020-05-10 12:17] dasiths commented on #4126
Assuming we have some sort of middleware that sets the `HttpContext.RequestServices` for the tenant, If we now resolve the `IAuthenticationSchemeProvider` we get the correct options for the tenant. But the [`AuthenticationMiddleware`](https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authentication/Core/src/AuthenticationMiddleware.cs) has this injected at construction as a singleton a

[2020-05-10 12:47] BenjaminCharlton opened #21668 "Question: Where in the Blazor source code are URL parameters matched with Component properties?"
Hi!

I am interested in studying the point in the Blazor source where URL parameters are taken from their string representations and matched to a property of a component. For example, in a Razor page you might see:

[code]

And then further down you would find:

[code]

For my education, I would like to study the portion of "under-the-hood" magic that takes the value from the URL and assigns it to

[2020-05-10 13:14] Franklin89 opened #21669 "[Blazor WASM] Expose NotifyAuthenticationStateChanged on the AuthenticationStateProvider"
As described in the [Docs](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/?view=aspnetcore-3.1#notification-about-authentication-state-changes) I have a user interface where I can change the role of the the user. I need to call `NotifyAuthenticationStateChanged` so that the components get informed, but just for this I do not want to implement a custom `AuthenticationStateProvider`. T

[2020-05-10 14:18] SharePointRadi commented on #18087
The controller action:
[code]

I have more in my pipeline, but I have streamed it down to this and I can reproduce the problem:
[code]

Hope this helps and thank you!

[2020-05-10 15:48] ajcvickers commented on #21650
@roji

[2020-05-10 16:39] KKacer opened #21670 "Razor-Blazor - The type or namespace ComponentBase could not be found"
"The type or namespace ComponentBase could not be found." (Razor file)
Earlier also reported similar bugs in previous releases,
In every version I remember bunch of similar issues,

Please check the video:
https://1drv.ms/v/s!AlScPmE9PLAKgScyqhahdXg4m1EY?e=9coSiJ

Some times I solve such issues with build, rebuild, quit, delete obj/bin, restart, etc, and some times some bugs keep bugging for a whi

[2020-05-10 16:52] adamkjonesmesh commented on #21632
@davidfowl Agree with you 100%.  Thanks for the input, your direction on the controller helped me refactor and remove the reliance upon the input formatter.  That has gotten me where I need to be.  I would certainly be curious what @pranavkm says about the model binding because there is definitely something significant going on between the input formatter result call and entrance to the controller

[2020-05-10 16:55] lzinga opened #21671 "Blazor Client/Server side - Built in feature to use Azure B2C"
This is a request very similar to #9768.

I have been investigating integrating Azure B2C into a Blazor Web Assembly app and the process is a long and arduous one and can at times be confusing when following the [docs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant). Implementing a feature to have a quick and easier setup process for Azure B2C would help more pe

[2020-05-10 18:52] davidfowl opened #21672 "Use function pointers in IISHttpServer"
Convert these https://github.com/dotnet/aspnetcore/blob/aaaaf572fdf11088ee0efd205ff6834e16a36804/src/Servers/IIS/IIS/src/Core/IISHttpServer.cs#L25-L29 to use the new [function pointers feature in C#](https://github.com/dotnet/csharplang/blob/master/proposals/function-pointers.md)

cc @jkotas

[2020-05-10 18:57] saravanakj opened #21673 "netcore v3.1 - dynamic loading controller's assembly and serve current request"
would like to load assembly dynamically and serve with the current http request

* A middleware has to resolve endpoint dynamically by loading assembly and serve in the same request
* When any request is not resolved to a Endpoint after app.UseRouting(), this middleware loads a controller's assembly belongs to the request, adds to ApplicationParts and finally invalids the Endpoint cache
* Lets ass

[2020-05-10 19:01] #21620 closed

[2020-05-10 19:31] Tratcher commented on #21510
Almost anything would be better than a 404, that's very misleading. Sending a default 500, or a 500 with a basic message about the error page being missing, or just re-throwing the original exception and letting the default server behavior handle it (500). In all of these cases it should log an error about being misconfigured.

[2020-05-10 19:40] mgravell commented on #20076
There's also the hypothetical "pool" stuff. Pretty huge in terms of impact,
if I can land it.

On Sun, 10 May 2020, 11:57 Nick Craver, <notifications@github.com> wrote:

[2020-05-10 20:23] nfplee opened #21674 "Overriding view paths with MSBuild breaks save and refresh"
Thanks to the advice from @pranavkm I imported the following as a task to all of my modules/projects:

[code]

This saves me from having to have an areas folder within my module. See [here](https://github.com/aspnet/Razor/issues/2425) for the original issue.

This did however have one small problem and that was the area name had to be the same as the project name, therefore I changed my task to th

[2020-05-10 20:49] Janidbest commented on #21477
@blowdart Yes, we have seen this issue on Firefox, Edge and Chrome. But not sure about the Safari. I think I found it. The ` accountViewModel fluent validator` constructor has a call to  `var authorizeRequest = interactionService.GetAuthorizationContextAsync (returnUrl)` to get the clientId. After I have replaced this wtih the local code, the issue has gone.  The same site changes are in the build

[2020-05-10 20:53] blowdart commented on #21477
I'll leave it to Hao to dig in, but from your description at least it's not same site :)

[2020-05-10 20:54] Pilchie commented on #21651
:eyes:

[2020-05-10 21:16] tango-charly commented on #21510
I agree, but it could help if Developer Exception Page could check the configuration to avoid to investigate on staging 🔍

[2020-05-10 21:21] Kahbazi commented on #19027
I want to work on this issue. I have some questions.

1. What counters each endpoints need? Right now I have added Request Rate, Total Requests, Current Requests and Failed Requests.

2. What key should be used for endpoints? I have used `DisplayName`, but multiple routes could have the same `DisplayName` and their counters would add up. I could use `RoutePattern` but it's only available on `Route

[2020-05-10 22:00] Tratcher commented on #21510
The dev exception page and the exception handler aren't used at the same time.

Unfortunately the only way to know if the exception handler is misconfigured is to send a failing request.

[2020-05-10 23:17] KuraiAndras opened #21676 "Blazor background hosted services with PWA support"
It would be nice if blazor supported running IHostedServices or some other similar mechanism., which may persist when used in a PWA.

The example scenario would be some application which is prepared for offline mode, and wants do do work while the app is not in use. For example: pushing notifications on timers, cacheing online resources when connection is restored, etc.

Right now this can only be

[2020-05-10 23:37] damianh opened #21677 "When streaming content to TestServer, `Transfer-Encoding` header is missing."
### Describe the bug

Somewhat similar to https://github.com/dotnet/aspnetcore/issues/13273 but this is client -> server.

According to https://tools.ietf.org/html/rfc2616#section-4.3:

When streaming content to an AspNetCore application via TestSever and it's client without a `Content-Length` header, the Transfer-Encoding header is missing.

### To Reproduce

Given the following contrived code wh

[2020-05-11 00:00] davidfowl commented on #21677
Yea it might be time to start seriously considering this. It requires the SocketsHttpHandler to support other transports (which is the plan in .net 5)

[2020-05-11 00:42] dougbu commented on #6304
@kant2002 sure, we'd accept a PR that added another section at the end of docs/BuildFromSource.md. Much appreciated❕

[2020-05-11 00:49] andrew2558 opened #21678 "Can't blazor operate DOM directly?"
Is there a plan for this?

[2020-05-11 00:49] wangyimingok commented on #21612
@davidfowl   Thanks  I think i know what to do。Thank you for helping me get rid of the confusion

[2020-05-11 00:49] #21612 closed

[2020-05-11 01:55] JunTaoLuo opened #21679 "Re-enable skipped tests disabled during TFM update"
We skipped 1.1 tests as part of https://github.com/dotnet/aspnetcore-tooling/pull/1873 to unblock the build. Fix and re-enable the tests. See details in the linked PR.

[2020-05-11 02:00] #18413 closed

[2020-05-11 02:06] ZhangGaoxing commented on #21321
I found the cause of the problem. I looked at the log and found that it was because the server application threw an exception. But why does the client application report a CORS error. Ha-ha😂

[2020-05-11 02:09] rui-ktei opened #21680 "How can Nullable have such a runtime impact on asp.net core validation?"
### Describe the bug
Similar problem here: https://github.com/dotnet/aspnetcore/issues/14451, but I'll describe the problem still.

### To Reproduce
Using .netcoreapp 3.1
[code]
Create a DTO:
[code]
Create a post entrypoint:
[code]
Now POST a request to this entrypoint with empty JSON payload: `{}`. Now you get 400 back:
[code]

I wonder how this decision has been made by asp.net team? It is decla

[2020-05-11 02:27] ZhangGaoxing opened #21681 "[Blazor WASM] service-worker.js: The script has an unsupported MIME type ('text/plain')."
### Describe the bug
I deployed the app to Azure Storage, and the browser's log indicates the following error
![image](https://user-images.githubusercontent.com/15957347/81518672-6008d300-9371-11ea-9848-143d99401f86.png)

### To Reproduce
`manifest.json`
[code]

`index.html`
[code]

### Further technical details
[code]
Blazor
[code]

[2020-05-11 05:30] davidfowl commented on #18087
Thanks I can reproduce the issue now!

[2020-05-11 06:51] JvanderStad commented on #21666
Technically it's in `area-mvc`, because it's a taghelper

[2020-05-11 07:16] davidfowl commented on #18087
When I add the DisableFormValueModelBinding filter it works 😄. So maybe no repro?

[2020-05-11 08:02] pr-benchmarks[bot] opened #21684 "Performance regression: DbMultiUpdateDapper"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| DbMultiUpdateDapper | Linux, http, KestrelSockets | 2020-05-09 08:34:16Z | 10,778 | 10,618 | -1.48 % | -2.21 σ |

Before versions:
ASP.NET Core __5.0.0-preview.5.20255.6__
.NE

[2020-05-11 08:17] Daniel15 opened #21685 "Brotli compression produces response that is larger than uncompressed response"
### Describe the bug
Brotli compression seems to produce a response that is larger than the uncompressed response.

### To Reproduce
Here's a response being returned from a HTTP endpoint in my app:
[code]

Uncompressed, the response is 12,060 bytes.
Compressed using gzip and all the default settings for `AddResponseCompression`, the response is 1,652 bytes
Compressed using Brotli, the response siz

[2020-05-11 08:40] tanlii opened #21686 "rzc discover exited with code -2147450743"
创建的.netcore项目在编译时报出错误rzc discover exited with code -2147450743

[2020-05-11 08:41] Xayton commented on #21539
**About sending messages even when Redis is down**
I tried what you suggested, but the class `RedisHubLifetimeManager` depends on other internal classes: to make it work I would need to duplicate almost all the classes in `SignalR.StackExchangeRedis`.
While possible, I don't think this is worth doing and maintaining. OK with this.

**About aborting new connections when Redis is down**
Let's say th

[2020-05-11 08:58] xyz0822 opened #21687 "upgrade from 2.0 to 3.1,we got the overrided "dotnet",will it compatible with 2.0?"
Hi,
By now,we use dotnet runtime 2.0 on the server ,but recently we want upgrade to runtime 3.1,and for the convenience,we just downloaded NET Core 3.1 SDK (v3.1.201),and extract to the same folder on linux `/usr/local/dotnet`,and found in `/usr/local/dotnet`  we got the same **dotnet**,is seems the **dotnet** from NET Core 3.1 SDK override the **dotnet** from NET Core 2.0 SDK ,does it compatible

[2020-05-11 08:58] janvorli commented on #21651
Is there a perf difference on Linux too?

[2020-05-11 09:44] nfplee commented on #21674
I have resolved this by switching back to the original task and then changing my view location expander to look for the views in "/{module}/Views/{1}/{0}" (where module is the project's assembly name) and not "/{2}/Views/{1}/{0}".

[2020-05-11 09:44] #21674 closed

[2020-05-11 10:00] pr-benchmarks[bot] opened #21688 "Performance regression: MvcDbFortunesEf"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| MvcDbFortunesEf | Windows, http, KestrelSockets | 2020-05-11 09:41:54Z | 124,691 | 119,871 | -3.87 % | -4.82 σ |

Before versions:
ASP.NET Core __5.0.0-preview.5.20255.6__
.NE

[2020-05-11 10:06] CobraCalle opened #21689 "Client culture is not transferred tocirrectly to the server"
### Describe the bug
When switching the culture in the browser to a country realted vulture (for example de-DE ode de-CH) than the culture on the serverside looses the cuntry information (de-DE and de-CH are both just de)

### To Reproduce

### Further technical details
- ASP.NET Core version
3.1

[2020-05-11 10:08] NPadrutt commented on #11229
I found another Ant Design Component Library which looks very promising: https://github.com/Append-IT/ant-design-blazor

[2020-05-11 10:09] CobraCalle commented on #21689
Sorry.. my fault... forgotten to specify the country-specific versions in the list of supported languages

[2020-05-11 10:09] #21689 closed

[2020-05-11 10:44] SteveSandersonMS commented on #21432
It looks like a bug in the code above, if I'm understanding correctly. Your `<option>` elements for the "tags" don't have any `value` attribute, so they aren't matched.

The fix would be to change your "tags" options to render like this:

[code]

I just tried this and it appears to work fine.

[2020-05-11 11:02] jspuij commented on #21655
Euh. msftbot? Does it really work that way? Open this please.

[2020-05-11 11:17] simonziegler commented on #21655
@javiercn this is an issue that has a lot of attention on the Gitter channel and we're confused why it's been marked by the bot as closed. Can you please re-open?

[2020-05-11 11:33] tolu commented on #20982
Just ran into the same issue, are there any plans on supporting SDK 3.1.201 on AppServices?

[2020-05-11 11:41] alentor commented on #3449
Reopening the issue, as I think issue isn't related to #12068.
I have a cert thumbprint that works with

`ProtectKeysWithCertificate("thumbprint")`,

when I try to use the same thumbprint with

`ProtectKeysWithDpapiNG("CERTIFICATE=HashId:thumbprint", DpapiNGProtectionDescriptorFlags.None)`

I get generic error `Encryption failed.`

[code]

[2020-05-11 11:44] SteveSandersonMS commented on #18449
There's been a bit of confusion here. I think there is a bug to be addressed here.

That's not how this was designed - see #14517:

I do agree there are valid use cases for using preventDefault/stopPropagation independently of handlers for the same event on the same element; that's something we always intended to support and in fact do support today. The bug is when you happen not to have *any* ha

[2020-05-11 11:49] SteveSandersonMS commented on #20855
Yes, you absolutely can have as many root elements as you want. You just need to make each of them have a distinct CSS selector (for example, using an `id` or some other attribute).

Everything's working as expected here :)

[2020-05-11 11:59] schotime commented on #21432
I just tried that and it does indeed fix my problem, so that's a good work around, however I think its still a bug. If there is no value shouldn't the text be used as the value?

In the HTML standard:

or on the W3C Wiki

Thoughts?

[2020-05-11 12:07] SteveSandersonMS commented on #21432
@schotime As a general rule we don't always try to be as loose as HTML permits. For example, Blazor doesn't allow mismatching tags, which HTML specs do try to make work via various recovery strategies.

In this specific case if there are sufficiently performant ways to allow that particular kind of looseness we'd certainly consider them. If you're interested in submitting a PR please have a look.

[2020-05-11 12:09] SteveSandersonMS commented on #21489
Yes, the same filename replacements would need to be made in the service worker assets manifest too.

[2020-05-11 12:10] schotime commented on #21432
@SteveSandersonMS I appreciate the response. Obviously now that I know, its fine, and it only shows its head when you are doing dynamic stuff it seems.

I'd be interested in having a look at a PR etc at some point. Any hints on where I should look, that would be great. Cheers.

[2020-05-11 12:30] schotime commented on #21432
Also a little bit confusing give the Value in the change event does grab the text

[code]

[2020-05-11 12:36] alentor commented on #3449
Think issue isn't related to #12068.

I have a cert thumbprint that works with
`
services.AddDataProtection().ProtectKeysWithCertificate("thumbprint")
.PersistKeysToFileSystem(new DirectoryInfo(Path.Combine(Environment.CurrentDirectory, "Keys")));
`,

when I try to use the same thumbprint with
`
services.AddDataProtection().ProtectKeysWithDpapiNG("CERTIFICATE=HashId:thumbprint",DpapiNGProtectionDe

[2020-05-11 12:39] tn-5 opened #21690 "iOS 13 Safari PWA div clicks only fire erratically"
When styling a div element as a clickable button in iOS and subsequently installing it as a PWA, the element only erratically responds to click events.

Tested on: iOS 13.4.1

### Reproduce

Standard blazorwasm template (with pwa option), add following code to counter.razor:

[code]

### Results (run from browser)
Clicking on any of the 3 elements result in the counter being in incremented

### Re

[2020-05-11 13:22] pariesz commented on #18087
I'm getting this running the [3.x/SampleApp](https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/mvc/models/file-uploads/samples/3.x/SampleApp) from the [documentation](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-3.1).

The inital exception I got was caused by the `ValidateAntiForgeryTokenAttribute` on the `StreamingController.UploadPhysical` a

[2020-05-11 13:38] brettwinters commented on #21014
Just in case anyone else finds this issue. I can confirm that AWS cognito works using code flow with Blazor (ironically unlike Azure AD/B2C which doesn't [yet](https://github.com/MicrosoftDocs/azure-docs/issues/39201])

[code]

[2020-05-11 13:52] blowdart commented on #21671
This is on the radar. Azure AD are revamping AAD integration and will own it going forwards, so we don't get into the position where we are now, with AAD B2C being stuck on their v1 endpoints, as well as having a cleaner experience where they own the UI and both AAD and AAD B2C look pretty much identical from a code point of view.

You can expect to see the start of this integration in some comman

[2020-05-11 13:52] JulienM28 opened #21691 "Blazor WASM StandAlone Deploy with Azure DevOps"
I have a project with a custom web.config ans a web.staging.config transform file.
Both are set to Content and copy always.

In my artifact I only get the base file.
No transform file at all.

I put /p:TransformWebConfigEnabled=false switch in my dotnet publish task, but there's still no transform file.

I don't undertand why, with ASP Net Core projects it works fine even without /p:TransformWebCo

[2020-05-11 14:00] julienGrd opened #21692 "[Blazor WebAssembly] Use different poco class between client and server"
Hello guys, i actually develop a fresh blazor app in replacment on a Silverlight/Wcf app.

My goal is for now redevelop strictly the app, without main modification.

One stuff made by the original app was the ability to be completely separate, so the client( silverlight), have for example a dedicated class User with namespace MyNamespace, and the server (Wcf) have an another class User with the sa

[2020-05-11 14:07] H-Ashrafi opened #21694 "In Identity Invalid login attempt results in ExternalLogins.Count=0"
### Describe the bug
In Identity Invalid login attempt results in ExternalLogins.Count=0
Even if you setup External login providers invalid login attempt with email will show the text that says

### To Reproduce

1. Create an ASP.Net core web app v3.1.
2. In visual studio right-click on project name and choose Add>New Scaffolded item>Identity.
3. check Override all files and create a new Data Cont

[2020-05-11 14:26] kevinchalet opened #21695 "Identity UI's Logout.cshtml shouldn't pretend the user is logged out when accessed via GET"
When accessed via GET, the `Logout` page coming with the default Identity UI returns a message indicating that the user was successfully logged out, which is of course not true, as the user can only be logged out after a POST request with a valid antiforgery cookie/token (which is a good thing, as it prevents unsolicited logouts).

![image](https://user-images.githubusercontent.com/6998306/8157228

[2020-05-11 14:49] javiercn commented on #21321
Likely because 500 responses don't contain CORS headers

[2020-05-11 14:51] javiercn commented on #21655
@simonziegler reopened.

[2020-05-11 14:54] pranavkm commented on #21680
You can turn this feature off by configuring `SuppressImplicitRequiredAttributeForNonNullableReferenceTypes` in your Startup code:

[code]

See https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-3.1#required-attribute

[2020-05-11 14:59] StefanOssendorf opened #21696 "[CSB] App crashes when preserialized resources are used"
### Describe the bug
The application crashes when trying to load resources which contains "other"-resources and is preserialized.

### To Reproduce
Heres a minimal working example: https://github.com/StefanOssendorf/CSB-Other-resource-breaks-localization
The important part is as soon as you remove `<GenerateResourceUsePreserializedResources>true</GenerateResourceUsePreserializedResources>` and `<P

[2020-05-11 15:25] pranavkm commented on #21686
@tanlii the error code usually indicates that you're missing a version of the shared runtime. If you inspect the build output (or run `dotnet build`), it should specify the missing runtime version.

[2020-05-11 15:48] simonziegler commented on #21655
Thanks @javiercn

[2020-05-11 15:49] javiercn commented on #21623
@robertdunaway thanks for contacting us.

Can you provide us with a minimal repro project so that we can determine if there is an issue here?

[2020-05-11 15:58] javiercn commented on #21624
@TheCakeMonster thanks for contacting us.

* CORS is disabled by default in ASP.NET Core templates. You can't initiate a Blazor session from a separate origin unless you explicitly configure your app to do so.
* CORS is supported by all the browsers we support.
![image](https://user-images.githubusercontent.com/6995051/81582894-6c872e80-9365-11ea-8217-966bee006f70.png)
* You can disable CORS expli

[2020-05-11 15:59] vsfeedback opened #21698 "Problem AND Solution: Default Example Blazor WebAssembly Solution fails to Load the FetchData page with error message "An unhandled error has occurred. Reload""
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1024637/problem-and-solution-default-example-blazor-webass.html)._

---
**Problem:** Default Example Blazor WebAssembly Solution may (or may not) fail to Load on FetchData page with error message "An unhandled error has occurred. Reload"

Problem is easily recreatable and e

[2020-05-11 15:59] vsfeedback opened #21699 "Find a way to prevent setting the Client project as `Startup` in the Blazor WASM hosted solution"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1024637/problem-and-solution-default-example-blazor-webass.html)._

---
**Problem:** Default Example Blazor WebAssembly Solution may (or may not) fail to Load on FetchData page with error message "An unhandled error has occurred. Reload"

Problem is easily recreatable and e

[2020-05-11 16:05] javiercn commented on #21662
Thanks for contacting us @imprathamesh.

It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow using the asp.net-core-blazor tag.

[2020-05-11 16:12] AmadeuAntunes opened #21701 "TypeConverterAttribute never get called"
I'm uisng
[code]

[code]

The value is changed on click at checkbox and the value is updated but data anotation is never executed

[code]
https://stackoverflow.com/questions/61728647/how-to-use-a-typeconverter-for-binding-in-blazor?noredirect=1#comment109197618_61728647

[2020-05-11 16:12] captainsafia commented on #19635
@julienGrd I'll close this assuming that the fix works. If not, please re-open the issue.

[2020-05-11 16:12] #19635 closed

[2020-05-11 16:20] mkArtakMSFT commented on #21701
Thanks for contacting us.
There is no support for parameter type converters in Blazor. You can read more about this at https://github.com/dotnet/aspnetcore/issues/8493

[2020-05-11 16:20] #21701 closed

[2020-05-11 16:27] Grizor1911 commented on #21626
Yes, was that the problem. Because my project comes from an old version (Microsoft.AspNetcore.Blazor) and HttpClient did not need to be registered in nowhere, I thought there was no need to register it and I didn't check it.

Thank you very much.

[2020-05-11 16:27] #21626 closed

[2020-05-11 16:32] mkArtakMSFT commented on #21681
Thanks for contacting us.
This is an issue with the Azure Storage and we're going to follow-up with them to get this fixed.

@danroth27  please link the internal Azure Storage issue tracking the fix.

[2020-05-11 16:34] mkArtakMSFT commented on #21676
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-11 16:34] blowdart commented on #21695
@HaoK

[2020-05-11 16:35] blowdart commented on #21694
What version of identity and core are you targetting?

[2020-05-11 16:38] mkArtakMSFT commented on #21669
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-11 16:39] mkArtakMSFT commented on #21666
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-11 16:41] mkArtakMSFT commented on #21665
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-05-11 16:42] aKzenT opened #21703 "Azure App Service memory dumps cannot be taken if more than 300-400 assemblies are loaded"
When deploying a .NET Core application as a azure app service with InProcess-Hosting activated and then taking a memory dump using Kudu (selecting w3wp process) always results in a memory dump file that is not readable by Visual Studio or most other tools.

Opening the memory dump in Visual Studio will not show any CLR Version and will not offer managed debugging. Clicking "Debug with Native Only"

[2020-05-11 16:43] mkArtakMSFT commented on #21664
Thanks for contacting us.
You can use class file (.cs) to inherit from the abstract component class and that way you'll control exactly what you override.

[2020-05-11 16:50] mkArtakMSFT commented on #21653
Thanks for contacting us.
Please use `@bind-checked` instead.

[2020-05-11 16:53] mkArtakMSFT commented on #21647
Thanks for contacting us.
Glad that you've found the solution to your problem. The scripts used by the components should be already available before Blazor starts up.

[2020-05-11 16:53] #21647 closed

[2020-05-11 16:56] mkArtakMSFT commented on #21642
Thanks for contacting us. This is going to be fixed in the VS 16.6 release. Closing this, as the issue has been fixed on the VS side.

[2020-05-11 16:56] #21642 closed

[2020-05-11 17:30] NTaylorMullen opened #21704 "IsFeatureEnabled is expensive in Razor typing scenarios."
Now that we conditionally publish project.razor.json's we need to check our feature flag prior to doing that. The current implementation will do a feature flag check every time a change comes through prior to queuing up a publish for project.razor.json. This results in a significant perf impact for Razor typing scenarios:
[code]

FYI @ryanbrandenburg @ToddGrun

[2020-05-11 17:43] premchand76 commented on #21359
This issue can be closed and we with different approach to solve the issue

[2020-05-11 17:58] pranavkm commented on #21696
It looks like System.Resources.Extensions's support for preserialized resources isn't very compatible with the way the linker \ Blazor's discovery mechanism works. The package expects that the binary will be present at runtime with no indication that the reference is required by the application to work.

I was able to make things work (both in Debug and Release) by adding this to `Dummy.cs` forcin

[2020-05-11 18:01] #17012 closed

[2020-05-11 18:11] danroth27 commented on #21678
Hi @andrew2558. Blazor is a UI component based framework where most of the DOM manipulation is handled for you. You author rendering logic in components, which then render to an in-memory representation of the DOM called a render tree. Blazor then keeps careful track of what actually needs to be updated in the DOM and handles those DOM updates very efficiently. You can also manipulate the DOM thro

[2020-05-11 18:17] captainsafia commented on #20779
It looks like this is a browser-related issue and not much we can do about in Blazor ([ref](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time#Using_the_step_attribute)).

Things seem to work in Firefox because Firefox doesn't actually process the `step` attribute in the same way that other browsers do. It disregards it and just adds a second field.

The `step` attribute isn't re

[2020-05-11 18:17] #20779 closed

[2020-05-11 18:19] HaoK commented on #21695
@blowdart Get to logout.cshtml is basically intended to be logout successful action, we can add logic to have it display a different message if the request is still authenticated I guess

[2020-05-11 18:22] HaoK commented on #21477
Looks like the root issue has been identified, resolving as external for now, feel free to reactivate if this requires anything on our side

[2020-05-11 18:22] #21477 closed

[2020-05-11 18:23] blowdart commented on #21695
@kevinchalet was this just you typing the URL in, or did something link to it?

[2020-05-11 18:25] Pilchie commented on #13416
Closing resolved issue.

[2020-05-11 18:25] #13416 closed

[2020-05-11 18:25] captainsafia commented on #20401
I'll go ahead and close this for now. It looks like onblur events on contenteditable divs are generally working from a quick app I spun up.

If you are able to provide a full app as a repro, please reopen the issue. Thanks!

[2020-05-11 18:26] Pilchie commented on #18169
Closing resolved issue.

[2020-05-11 18:26] #18169 closed

[2020-05-11 18:26] Pilchie commented on #20489
Closing resolved issue.

[2020-05-11 18:26] #20489 closed

[2020-05-11 18:27] Pilchie commented on #20677
Closing resolved issue.

[2020-05-11 18:27] #20677 closed

[2020-05-11 18:28] kevinchalet commented on #21695
I don't think the rest of Identity UI has a link to it.

In our case, we detected this surprising behavior when migrating an app using legacy authentication and good old <a href> links for the logout page.

When reaching that page via a link, it would make much more sense to have a confirmation form instead of a lying message pretending you're already logged out 😄

[2020-05-11 18:29] Pilchie commented on #21535
Closing resolved issue.

[2020-05-11 18:29] #21535 closed

[2020-05-11 18:29] Pilchie commented on #21459
Closing resolved issue.

[2020-05-11 18:29] #21459 closed

[2020-05-11 18:35] Tratcher commented on #21697
That doesn't seem aspnetcore related, but I did get an interesting hit on github:
https://github.com/gljohn/beacon-core/blob/9cd75d3e9cba9aade176b68d77c7409314141f07/src/Beacon.Lib/Beacon.cs#L50

Is this library or one like it in your dependency graph?  A Debug.WriteLine might explain the weird formatting.

[2020-05-11 18:36] kevinchalet commented on #21695
BTW, the logout page also appears in the browser history, so you get the same message by navigating back to the previous page after logging out: if you re-log in after that, the message won't reflect your actual status.

[2020-05-11 18:40] Tratcher commented on #21685
Can you provide a representative response body that reproduces this? You should be able to directly reproduce this with System.IO.Compression.BrotliStream, and if so we'll move it to dotnet/runtime.

[2020-05-11 18:49] blowdart commented on #21695
You made it lie sir, don't put this on us. In fact wasn't it you who reported it being a GET in the first place? :p

But yea, we can put a form in there if you're still authenticated, it's just a matter of prioritising.

[2020-05-11 18:52] terrajobst opened #21707 "Survey: repo contribution experience"
We’ve been working as a team, and community, for five years in the dotnet org on the .NET Core project. Many of the same GitHub handles have remained constant over that time, some are new, and others have come and gone. Thanks to everyone that has contributed! We normally focus on how to improve the product, but we’re turning our focus to improving the open source project. We’ve created a survey t

[2020-05-11 18:59] kevinchalet commented on #21695
Oh sure. I just blame you for not respecting the principle of least surprise :trollface:

I don't think so, but logout on GET - without any form of confirmation - was definitely a bad thing (unless you run superlogout.com, of course).

Now, it's a bit different... we have same-site to protect us (even against our own will) :trollface:

[2020-05-11 19:00] pranavkm commented on #21698
Dup of https://github.com/dotnet/aspnetcore/issues/21699.

[2020-05-11 19:00] #21698 closed

[2020-05-11 19:02] Tratcher commented on #21677
This mirrors #18463 (expecting content-length).

@damianh what's the impact to your application?

Content-Length and Transfer-Encoding are protocol level concerns that the application shouldn't normally depend on. This is even more true in HTTP/2 where the Transfer-Encoding header is no longer used. If the test scenario cares about a specific header it can be set by the client today.

Providing a

[2020-05-11 19:03] sebastienros commented on #21651
False positive

[2020-05-11 19:03] #21651 closed

[2020-05-11 19:03] sebastienros commented on #21651
![image](https://user-images.githubusercontent.com/1165805/81601270-7b7ada80-937f-11ea-9a57-6e49b5e3eb59.png)

[2020-05-11 19:07] pr-benchmarks[bot] opened #21708 "Bad responses: ConnectionClose, DbFortunesRaw-Mono, Json, PlaintextNonPipelined"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| ConnectionClose | Linux, ARM64, https, KestrelSockets | 2020-05-11 10:50:52Z | 256 |
| DbFortunesRaw-Mono | Linux, Physical, http, KestrelSockets | 2020-05-11 08:54:14Z | 8979702 |
| Json | Windows, Physical, h2, HttpSys | 2020-05-11 09:16:30Z | 1776552 |
| PlaintextNonPip

[2020-05-11 19:16] pradeepjaladi opened #21709 "App Service KeyVault Integration With VNet Integration- Exception Database lookup error"
### Describe the bug
Getting System.Net.Http.HttpRequestException: A non-recoverable error occurred during a database lookup exception when starting the App Service with VNET Integration.

### To Reproduce

- Create a VNet with 2 subnets.

- One subnet for creating KeyVault ( Service Endpoints are Microsoft.KeyVault, Microsoft.Storage)

- One subnet for creating App Service (Service Endpoints are

[2020-05-11 19:18] davidfowl commented on #21677
I dunno, I'm not sure how many people use it that way 😄. Thats' not how it works when they run anyways.

[2020-05-11 19:27] captainsafia commented on #21668
Great question!

From the routing side of things, the magic starts in the [TemplateParser](https://github.com/captainsafia/aspnetcore/blob/403bdaa1a6144d791c8ca38c112c39c7e51def17/src/Components/Components/src/Routing/TemplateParser.cs) class which interprets what the different components of a string route template are.

In particular, it takes a route like `/students/{StudentId:int}` and splits i

[2020-05-11 19:36] Tratcher commented on #21677
Many of the middleware tests are written that way, that's what TestServer was designed for.

The use of TestServer in MVC's WebApplicationFactory is a different story, that one might be better suited for Kestrel.

[2020-05-11 19:38] captainsafia commented on #21600
This occurred on a standalone project. I think it is buggy in either case, especially since we currently claim in the docs that custom web.config's are respected without any caveats.

[2020-05-11 19:39] mrpmorris commented on #21653
Ohhhhh, that'll need mentioning on blazor-university.com, thanks!

[2020-05-11 19:48] davidfowl commented on #21677
Which feature specifically?

[2020-05-11 19:49] Daniel15 commented on #21685
Hmm... Using BrotliStream directly doesn't repro, nor could I repro in an entirely new ASP.NET site. However, I can still repro on my real site. Will try to investigate further.

This is my code that uses BrotliStream directly:
[code]

which works fine:
[code]

@Tratcher - Yes, it's metrics for [Prometheus](https://prometheus.io/), via [prometheus-net](https://github.com/prometheus-net/prometheus-

[2020-05-11 19:54] Daniel15 commented on #21685
So it looks like the issue is specific to Prometheus.

Repro:
- Create brand new ASP.NET Core site using "Empty" template
- Add reference to `prometheus-net.AspNetCore`
- Modify `Startup.cs` as follows:
[code]

Run site, go to `/metrics`

This results in a ~5.9 KB response that when "compressed" becomes 9.1 KB.

[2020-05-11 20:17] Tratcher commented on #21677
Yes direct exceptions is certainly the more common case, but the ability to tweak the HttpContext is also very useful for middleware that rely on Features.

https://github.com/dotnet/aspnetcore/blob/4b88074e308c9ddf6ba6f513c30942f4aa7d3ccf/src/Security/Authentication/Negotiate/test/Negotiate.Test/NegotiateHandlerTests.cs#L33
https://github.com/dotnet/aspnetcore/blob/4b88074e308c9ddf6ba6f513c30942f

[2020-05-11 20:26] damianh commented on #21677
Thanks for the response folks. @Tratcher I believe we've engaged on this topic a couple of times already and I understand your position on TestServer's intention. I think I've previously mentioned that the docs for Test Server could be clearer about it's intention and, importantly, it's limitations. At the moment I (and others) seem to be using it fine until suddenly it's not fine with subtle pitf

[2020-05-11 20:31] damianh commented on #21677
Just to answer this, I had a bug in ProxyKit regarding detecting the presence of a body and ensuring it was forwarded (or not). I developed it against TestServer which gave me the wrong impression of something working the way it shouldn't.

[2020-05-11 20:31] halter73 commented on #21645
Yep. I though I had already filed an issue. I was looking for an issue linked to #14727, but it was linked to #17723.

[2020-05-11 20:31] #21645 closed

[2020-05-11 20:32] halter73 commented on #17840
#14727 is also related.

[2020-05-11 20:38] Tratcher commented on #21677
Docs are a valid concern. TestServer didn't have its own doc until last week. The new doc convers some of these scenarios, but it could mention Content-Length and Transfer-Encoding.
https://docs.microsoft.com/en-us/aspnet/core/test/middleware?view=aspnetcore-3.1

Your fix doesn't work on HTTP/2, Content-Length is optional and Transfer-Encoding is prohibited. The simplest solution for a proxy is to

[2020-05-11 20:50] tango-charly opened #21712 "form Tag Helpers causes 405"
Hi,
An issue occurs with html tag helper but not with razor c# helper.
It could be a misconfiguration, but i think the two ways have the same behavior.

### Describe the bug
When a web form is submitted with [Html Tag Hepler](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-3.1) 405 is thrown

Dummy/Sample/Index.cshtml
[code]

### To Reproduce

SampleContro

[2020-05-11 20:52] ryanbrandenburg opened #21713 "Enable VSCode semantic colorization for mainstream usage"
Currently it's an experimental API, once it's out of experimental we should enable it everywhere.

[2020-05-11 20:54] ajaybhargavb opened #21714 "VS LSP: C# gets formatted even when it is not selected during range formatting"
Range format the following,
[code]

Expected:
Do nothing

Actual:
[code]

[2020-05-11 21:09] damianh commented on #21677
Yes was aware of HTTP/2 issue there, am going to address that in next version, cheers.

Azure App Service doesn't like GET requests with Content-Length; people were reporting Bad Gateway https://github.com/ProxyKit/ProxyKit/issues/179 so it appears need to do the check (at least for HTTP/1.1).

[2020-05-11 21:11] pranavkm commented on #21632
It doesn't - not since 2.2. I'm not entirely sure what could account for the difference. Have you tried setting the log level for `Microsoft.AspNetCore` to `Debug` and including timestamps? It should tell you where time's being spent.

[2020-05-11 21:13] JSpring3 commented on #21014
I'm using the exact settings as you but the app doesn't display the user info even though the login was successful. What are you using for a callback url?

[2020-05-11 21:14] pranavkm commented on #20219
@HaoK assigning to you - looks like https://github.com/dotnet/aspnetcore/pull/21639 covers this.

[2020-05-11 21:17] BrennanConroy commented on #17402
We'll follow up with customer to see if this is needed.

[2020-05-11 21:17] pranavkm commented on #19496
Sorry I missed your earlier response. You could consider disabling endpoint routing to get the 2.2 compatible behavior: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#use-mvc-without-endpoint-routing

[2020-05-11 21:20] #17568 closed

[2020-05-11 21:20] #17195 closed

[2020-05-11 21:21] BrennanConroy commented on #17160
@JamesNK Can you get to this in preview6?

[2020-05-11 21:30] IanKnighton commented on #18078
I've tried a few different ways of implementing this and there are some weird issues with data-binding.

I tried using the `<input type="datetime-local">` that is referenced in the Mozilla documentation and sometimes the input would just completely crash.

It would be nice if there was a cleaner and more consistent way to do this.

[2020-05-11 21:39] BrennanConroy commented on #14134
Triage: We're trying to see how many folks are being hit by this issue.
If Kestrel deletes the socket, would anyone be broken by that?

[2020-05-11 21:48] halter73 commented on #12222
Having a connection feature that exposes the MaxResponseBufferSize might be a better solution.

[2020-05-11 21:53] davidfowl commented on #14134
I wonder if this should be a BCL issue. I have some data about how this should be done and maybe it should be possible open an existing file

[2020-05-11 21:54] captainsafia opened #21715 "Add support for scopes to Razor logger"
The Razor logger used in the VS Code extension should provide scopes so that logs can be associated with their context.

https://github.com/dotnet/aspnetcore-tooling/pull/1885#discussion_r423221711

[2020-05-11 21:55] BrennanConroy commented on #13834
@jkotalik says this should be done!

[2020-05-11 21:55] #13834 closed

[2020-05-11 21:56] davidfowl commented on #14134
https://troydhanson.github.io/network/Unix_domain_sockets.html

% ./srv
% ./srv
bind error: Address already in use
So, servers should unlink the socket pathname prior to binding it.

[2020-05-11 21:59] BrennanConroy commented on #20219
This is a runtime bug and not limited to `InstallAspNetAppIfNeededAsync`, it's mostly just tracking the issue so build ops folks who see the problem have an issue to link to.

[2020-05-11 22:02] davidfowl commented on #14134
Then this interaction with systemd interesting:

https://github.com/coreos/go-systemd/issues/71

[2020-05-11 22:11] captainsafia opened #21716 "Implement "attach" property support for Blazor debug extension"
This issue depends on the changes introduced in https://github.com/dotnet/aspnetcore-tooling/pull/1885.

Currently, the Blazor debugger supports the `launch` property, meaning it starts a new dev server and browser from scratch.

Launch configurations can also support an `attach` option.  For example, the VS Code Chrome debug extension will attach to an existing browser (enabled with debugging) th

[2020-05-11 22:13] Daniel15 commented on #21685
I looked into it further and this happens when you write to the stream in multiple writes. prometheus-net uses several `WriteAsync` calls: https://github.com/prometheus-net/prometheus-net/blob/master/Prometheus.NetStandard/TextSerializer.cs#L59

Created a separate issue in dotnet/runtime to get a fresh start without all my comments above. https://github.com/dotnet/runtime/issues/36245

[2020-05-11 22:13] #21685 closed

[2020-05-11 22:16] BrennanConroy commented on #18488
Is there a Runtime issue tracking this work?

I believe there have been improvements in this area, are there newer perf numbers?

[2020-05-11 22:21] tommiie opened #21717 "Blazor-Wasm: Control appsettings environment and pathbase at build time"
Current Problem:

- I have an azure storage account to deploy my SPA ($web container in the storage account)
- I have 4 environments for every SPA (development, test, staging, production)
- Every environment has a own subfolder (myspa-dev, myspa-test, myspa-staging, myspa)
- I want to build a ‘static artifact’ for every environment and copy the necessary files in the specified folder

### Describe

[2020-05-11 22:24] IanKnighton commented on #18078
I took @BernhardNinaus' solution and created an override to the `InputDate` class. This makes a usable DateTime picker that binds and saves nicely with the model.

**InputDateTime.cs**
[code]

Here's the usage in the `.razor` file.
[code]

Might be overkill, but I hope it helps someone.

[2020-05-11 22:27] vsfeedback opened #21718 "HTTP Error 500.0 - ANCM In-Process Handler Load Failure"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/989551/http-error-5000-ancm-in-process-handler-load-failu-1.html)._

---
Hi,
I am getting this error after upgrading my solution to dotnet core 3.x. The solution was origialy created on dotent core 1.1 and after it was upgraded to dotner core 2.2 it worked fine. Then I trie

[2020-05-11 22:32] Daniel15 commented on #14134
@davidfowl  That page you linked (troydhanson.github.io/network/Unix_domain_sockets.html) is interesting. Sounds like the old socket should be cleaned up on start, not on exit.  That'd also handle the case where the app doesn't exit cleanly (eg if you `kill -9` it or it crashes) as @sherlock1982 mentioned in a comment.

[2020-05-11 22:39] brettwinters commented on #21014
On Cognito's "App Client Settings" tab I'm using:

Callback URL(s) : https://localhost:xxx/authentication/login-callback
Sign out URL(s) : https://localhost:xxx/authentication/logout-callback

xxx = your ports

Oh, one thing I noticed is that refresh tokens aren't [supported](https://docs.aws.amazon.com/cognito/latest/developerguide/token-endpoint.html) so make sure your scopes don't include "offl

[2020-05-11 22:40] Tratcher commented on #21685
Ah. MVC tries to do some intermediate buffering (16kb) to mitigate small writes.
https://github.com/dotnet/aspnetcore/blob/master/src/Http/WebUtilities/src/HttpResponseStreamWriter.cs

[2020-05-11 22:41] yopez83 opened #21719 "Add JWT Google OAuth to ASP.NET Core"
I’m new to OAuth and I’d like to add Google authentication a Asp.Net Core project sample project I have. My goal is a customer request a protected endpoint, and I should redirect the user to authenticate. If authenticated successfully I should present some data. So far I was able to set up everything in the Developer Console. I just need some sample code on how to setup the middleware. If possible

[2020-05-11 22:44] Daniel15 commented on #21685
Ahh, interesting. Prometheus-net is writing to the stream directly, not using any ASP.NET-specific utilities (as the same code is used outside of ASP.NET).

[2020-05-11 22:45] wfurt commented on #18488
I don't have any recent numbers but from what I saw bug part of the difference was that NodeJS used TLS1.3 and Kestrel did not. There were TSL1.3 fixes in SslStream but that still depends on OS support and configuration while NodeJS does not.

[2020-05-11 22:49] Tratcher commented on #19541
Moved to https://github.com/dotnet/AspNetCore.Docs/issues/18259

[2020-05-11 22:49] #19541 closed

[2020-05-11 22:50] pranavkm commented on #17681
This will get fixed as part of https://github.com/dotnet/aspnetcore/issues/21196.

[2020-05-11 22:50] #17681 closed

[2020-05-11 22:57] H-Ashrafi commented on #21694
I updated my comment to show the versions and scaffolding. They are Identity.EntityFramworkCore v3.1.3, Identity.UI v3.1.3, ASP.Net core web app v3.1

[2020-05-11 23:08] pranavkm commented on #18523
Closing this. This is a real stretch of an issue and no user has run in to this.

[2020-05-11 23:08] #18523 closed

[2020-05-11 23:11] #8117 closed

[2020-05-11 23:12] danroth27 commented on #21681
Hi @ZhangGaoxing. With Azure Static Sites, you need to correctly configure the content type of the files when you deploy them. Depending on how you deploy your site, the content type may not be setup correctly. For example, one issue we've seen is that if you use the Azure Storage Explorer to deploy your site then the .js files get incorrectly mapped to text/plain. You might have better luck using

[2020-05-11 23:20] pranavkm commented on #19830
Resolved as part of https://github.com/dotnet/aspnetcore/pull/19831.

[2020-05-11 23:20] #19830 closed

[2020-05-11 23:21] burakakca commented on #21616
Greetings again, if necessary, I can replace the title with a clearer title.

[2020-05-11 23:22] Jon-Murray opened #21722 "SignalR Per-hub-method middleware"
Hi,

   I apologise if this has been covered before, but i did google a lot and the best i could find was https://github.com/dotnet/aspnetcore/issues/7139 which somewhat touches on the issue. I've been using signalr 2.2 in production for a while now. Originally, we modified the "Invoke" function within DefaultHubDispatcher (Microsoft.AspNetCore.SignalR.Core) and added in a custom function to recor

[2020-05-11 23:32] Tratcher commented on #21685
Might help to insert a little buffering around it then.

[2020-05-11 23:43] pranavkm commented on #20070
The error message here doesn't indicate a timeout. 1006 is an abrupt connection disconnect. Quoting https://github.com/dotnet/aspnetcore/issues/20984#issuecomment-616745210,

@BrennanConroy could you help drive this?

[2020-05-12 00:47] Shazwazza opened #21724 "ControllerBase.ModelBinderFactory isn't actually used to do model binding"
As a framework/library developer I find it difficult to apply 'MvcOptions' to only my controllers or areas since the documented and preferred way to do this is to apply MvcOptions globally. Ideally you could apply MvcOptions at an "Area" level (but that's a topic for another day). So in order to apply various MvcOptions to only my controllers I need to resort to using base classes and attributes w

[2020-05-12 00:57] toddlucas commented on #21462
Please consider reopening this and at least applying it to `div` (although `small` would be nice, as it's the default in Bootstrap examples, and thus is likely to be copied a lot--it also makes a sensible alternative to span given the typical use case). I could also see `p` being useful.

The inline nature of this element causes problems with `jquery-validation-unobtrusive` (which is designed spec

[2020-05-12 01:24] mkArtakMSFT commented on #21712
Thanks for contacting us.
@NTaylorMullen can you please have a look at this? Thanks!

[2020-05-12 01:26] mkArtakMSFT commented on #21709
Thanks for contacting us.
@Tratcher can you please assign the correct area-label to this. Not sure whether this should stay in this repo, move to the `extensions` repo or somewhere else.

[2020-05-12 01:33] lengockyquang commented on #21288
I having the same issue with blazor 3.2 web assembly. The content-type in response header is text/html instead of application/json.  Do we have any update on this issue ?

[2020-05-12 01:36] KZeronimo commented on #21632
@davidfowl you appropriately identified

It is - we are storing the contents to blob storage - could this be a use case for pipelines?

[2020-05-12 01:50] davidfowl commented on #21632
You definitely shouldn't be using `byte[]`. What client APIs are you using?

[2020-05-12 02:07] KZeronimo commented on #21632
We are using `UploadFromStreamAsync(stream)` from either WindowsAzure.Storage or Microsoft.Azure.Storage.Blob

[2020-05-12 02:10] masoodafar-web opened #21725 "Blazor WebAssembly 3.2.0 Release Candidate"
i using Blazor WebAssembly 3.2.0 Release Candidate
What is this error?
**index.html???**
[code]
or in local:**favicon.ico???**
[code]

[2020-05-12 02:11] davidfowl commented on #21632
Perfect, just use the Request.Body then?

[code]

Assuming you're not using multipart file content (It didn't look that way from your code).

[2020-05-12 02:20] KZeronimo commented on #21632
Thanks for the quick response - we were discussing essentially that simple approach today

Correct we are using content-type `application/octet-stream` for semantic reasons

[2020-05-12 02:34] mselinger75 opened #21726 "Authentication in a server side Blazor project with the cookie authentication"
My problem is that when the cookie expires and then the user clicks a button a any of our blazor component, the authentition state provider still says that the user IsAuthenticated. My goal is to redirect the user to the login page.

Please could you provide me some guidance to detect and auto redirect the user to the login page when the cookie auth expires,

[2020-05-12 03:02] #21359 closed

[2020-05-12 03:08] BrennanConroy commented on #21722
This looks like the HubPipeline work (renamed Hub Filters) in https://github.com/dotnet/aspnetcore/issues/5353.
Please take a look at the proposal and see if it would meet your needs.

[2020-05-12 03:16] #21678 closed

[2020-05-12 04:18] BenjaminCharlton commented on #21668
Thank you very much for this detailed answer and relevant links! A lot to get my head around but should be much easier after your explanation.

[2020-05-12 04:25] Lupusa87 commented on #20890
Hello,

It will be great if we add how to pass parameter or especially many parameters when calling dotnet method (static or instance) from JS.

What data types are supported and how to pass many parameters.

And to be honest here can be simpler example, existing one is complicated and hard to read and understand even for me (my eyes are more or less familiar with that staff) and I guess will be m

[2020-05-12 04:26] tenacioustechie commented on #21480
This repo demonstrates the problem.
https://github.com/tenacioustechie/ATEM-TallyLights

The COM library I'm referecing is the blackmagic ATEM switcher software & sdk
https://www.blackmagicdesign.com/au/support/family/atem-live-production-switchers

[2020-05-12 04:28] tenacioustechie commented on #21480
I've left a branch that has the issue.
https://github.com/tenacioustechie/ATEM-TallyLights/tree/COMIssue

[2020-05-12 04:33] and-rewsmith commented on #21606
@Tratcher We looked at the internal implementation of the https middleware and came up with the following solution:

[code]

[2020-05-12 04:34] Lupusa87 commented on #21112
Documeting WebAssemblyJSRuntime.Unmarhsalled APIs will be great, I did some code earlier and lately too and it was always hard to make it work because there is almost nothing to follow.

 I tried to make small nuget library to pass data fast between dotnet and js using unmarshalled API, maybe it can help here somehow.

 https://github.com/Lupusa87/BlazorJsFastDataExchanger

 https://www.nuget.org/

[2020-05-12 04:46] Lupusa87 opened #21728 "[blazor] Turn Off/On gzip and brotli compressing of published files"
Hello,

 Now when I publish blazor webassembly app it is generating uncompressed, gzip compressed and brotli compressed files.

 Can it be configured somehow which one developer wants to get?

 I personally want only uncompressed files because I do compression and azure static website deploy using my own [utility](https://github.com/Lupusa87/BlazorAzureDeploy), so I do not want to wait before VS w

[2020-05-12 05:03] Lupusa87 opened #21729 "[Blazor] Loading sub/child blazor wasm app/apps inside main/parent app"
If we want to have several blazor wasm apps inside one umbrella how can it be done? Is it theoretically possible?

   Now if we want to load another app it should be hosted separately and linked from our app and loaded from scratch when called.

   In scenario when design is complex and contains several apps (functional blocks) it will be great if we can load blazor app inside currently loaded app

[2020-05-12 05:43] davidfowl opened #21730 "Support binding to 0.0.0.0 the same as binding to all interfaces"
Today to bind to all interfaces with  `UseUrls` API you need to pass + or * which is an http.sys netsh ism. 0.0.0.0 is very typical and usually means all ips as well and we should support this.

**node**

[2020-05-12 06:11] davidfowl commented on #21730
Psh turns out this already works with Kestrel 😄

[2020-05-12 06:11] #21730 closed

[2020-05-12 06:24] TobiasKoller commented on #20401
Please reopen this bugreport.

Here is a very simple working example of this issue:

1. Unzip the project
2. Build the project
3. Run the project in debug mode
4. Delete all the text inside the editable div
5. you will get an exception when you leave the editable div.

[code]

[2020-05-12 06:29] TobiasKoller commented on #20401
[BlazorOnBlurIssue.zip](https://github.com/dotnet/aspnetcore/files/4613779/BlazorOnBlurIssue.zip)

Please reopen this bugreport.

Here is a very simple working example of this issue:

1. Unzip the project
2. Build the project
3. Run the project in debug mode
4. Delete all the text inside the editable div
5. you will get an exception when you leave the editable div.

[code]

[2020-05-12 06:39] davidfowl commented on #21632
Glad to see this working out, it'll make your application soar!

[2020-05-12 07:05] lumogox commented on #9020
Is there any docs at all explaining how to deploy gRPC to Azure? at least using AKS? Would be nice to have something.

[2020-05-12 07:19] rupeshtech commented on #9020
@lumogox  I have created a Step by step guide to deploy gRPC to Azure.
https://github.com/rupeshtech/k8s-grpc-dotntecore

[2020-05-12 07:32] tytannial opened #21732 "[SignalR] Get claims from signalr hub negotiate"
With "accessTokenFactory" the Authorization Header has been written, but there is no claims.
![20200512150008](https://user-images.githubusercontent.com/11215623/81648600-8e65db80-9461-11ea-97a7-87ec65e37807.png)
![20200512150322](https://user-images.githubusercontent.com/11215623/81648894-046a4280-9462-11ea-8ddf-86c475110616.png)
![20200512150347](https://user-images.githubusercontent.com/1121562

[2020-05-12 07:38] XmlmXmlmX commented on #5459
👍 for SASS

[2020-05-12 07:48] mrpmorris commented on #21564
@javiercn it could be a warning though couldn't it? The largest version of vs gives me all sorts of new warnings.

[2020-05-12 07:51] lumogox commented on #9020
@rupeshtech I actually took a look to your guide, however, it does not work if you want to show a message in the root path in port 80.

[2020-05-12 08:09] MortenMeisler commented on #21383
Is this related to #19796

[2020-05-12 08:20] shirhatti commented on #19738
@joacar I took a quick look at your project and I think I understand your source of confusion. `EventSource` != `DiagnosticSource`.

You will need to create a [`DiagnosticListener`](https://docs.microsoft.com/dotnet/api/system.diagnostics.diagnosticlistener) to subscribe to a `DiagnosticSource`. See this document for more information- https://github.com/dotnet/runtime/blob/master/src/libraries/Sys

[2020-05-12 08:22] acrigney commented on #9020
Great stuff but I want to deploy on app services and we still have no ETA.
It was claimed by one of the other guys that AKS was cheaper than app
services, I find that hard to believe?
Anyway I only want to use app services or serverless infrastructure.

On Tue, May 12, 2020 at 5:51 PM Luis Molina <notifications@github.com>
wrote:

[2020-05-12 08:23] shirhatti commented on #19738
See the Application Insights SDK for an example on how to consume the DiagnosticSource from Hosting- https://github.com/microsoft/ApplicationInsights-dotnet/blob/7116e54f5d16c519a39a96dd2510c39b90fa9c4d/NETCORE/src/Microsoft.ApplicationInsights.AspNetCore/DiagnosticListeners/Implementation/HostingDiagnosticListener.cs#L443

[2020-05-12 09:00] #21463 closed

[2020-05-12 09:01] salorob commented on #21697
That has to be it, many thanks!!
I'm using this library indeed.

Is there an easy way (setting, environment variable) to make dotnet stop giving these Debug.WriteLine's? I will check.

I could offcourse not add the AddConsoleLogging, that would probably fix it too. However, then I don't get my regular logging either...

[2020-05-12 09:25] javiercn commented on #21729
@Lupusa87 thanks for contacting us.

I'm not sure I understand, do you want "a blazor app" within a "blazor app"? That's not possible.

If you are looking for multiple blazor apps rendered as part of an MVC/Razor pages app, that is.

In the case of Blazor WebAssembly apps they all need to be under the same host, since there is only one runtime.

[2020-05-12 09:27] javiercn commented on #21728
@Lupusa87 there's an MSBuild flag to turn off compression. You can set BlazorEnableCompression to false to turn it off

[2020-05-12 09:27] #21728 closed

[2020-05-12 09:33] javiercn commented on #21726
@mselinger75 thanks for contacting us.

You can do this with a RevalidatingAuthenticationStateProvider I believe, by checking the security timestamp using the user manager.

Otherwise, you might be able to check the authentication properties during sign-in and flow those into the principal used by Blazor. At that point, you can check the expiration in your own AuthenticationStateProvider, return a

[2020-05-12 09:35] javiercn commented on #21725
@masoodafar-web thanks for contacting us.

Seems like for some reason the integrity in some of your assets is not correct. We generate hashes for all the assets and use those hashes when we request them to boot your app.

Is your deployment git based?

[2020-05-12 09:59] javiercn commented on #21692
@julienGrd thanks for contacting us.

You can try and use `<ReferenceOutputAssembly>false</ReferenceOutputAssembly>` in the reference to your client project, but there will be some things you need to accomodate for in that case.

You'll have to make sure that your server project references directly all libraries with static web assets included in your app, and there might be other caveheats too.

[2020-05-12 10:01] javiercn commented on #21690
@tn-5 thanks for contacting us.

Can you provide us with a minimal repro project that demonstrates the issue so that we can help you out?

[2020-05-12 10:12] javiercn opened #21733 "[Https] Issue when getting private key after being exported"
When running the `dotnet-dev-certs` tool with the `--trust and --export-path --password` options simultaneously, we try to access the private key after the certificate has been exported.

This causes an underlying issue in .NET Core that causes the key to become unusable in future operations, which in turn causes a failure the next time we try to check for a valid certificate so we decide to gener

[2020-05-12 10:54] secana commented on #21383
@MortenMeisler I tried the provided solutions from #19796 with no success.
What I did:

- Add gitignore to root folder with `autocrlf=false`
- Add gitingore to _framework folder with `* binary`

This did not fix the broken integrity check.

Additionally I set the `<BlazorCacheBootResources>false</BlazorCacheBootResources>` flag, which resulted in another Blazor related error.

[2020-05-12 10:56] javiercn commented on #21688
@sebastienros is there any work/action for us here?

[2020-05-12 10:56] javiercn commented on #21640
@sebastienros is there any work/action for us here?

[2020-05-12 10:56] javiercn commented on #21634
@sebastienros is there any work/action for us here?

[2020-05-12 10:56] javiercn commented on #21596
@sebastienros is there any work/action for us here?

[2020-05-12 11:06] Keith3679 opened #21735 "Cannot Authenticate with Keycloak OpenId"
### Describe the bug
I'm getting the following error in Postman when I try to make a call to my API:

Microsoft.IdentityModel.Tokens.SecurityTokenInvalidAudienceException: IDX10214: Audience validation failed. Audiences: 'master-realm, account'. Did not match: validationParameters.ValidAudience: 'lamp-app' or validationParameters.ValidAudiences: 'lamp-app'.
   at Microsoft.IdentityModel.Tokens.Val

[2020-05-12 11:23] javiercn commented on #21673
@saravanakj thanks for contacting us.

Unfortunately this is not a feature we have or plan to provide out of the box. If you are interested in this type of functionality I would recommend you look into Orchard Core, as it has already implemented this type of functionality in an agnostic way on top of ASP.NET Core.

[2020-05-12 11:29] MJRasicci commented on #21629
@javiercn Sorry for the delayed response I had take a few days off.

The IdentityServer instance is hosted on a production server (apps.company.com) while the Blazor app is being run on localhost. However, my current setup has the Blazor app's server configured as an API and the client app, which requests the API's scope, is actually having the user login. This is a change from our previous setup

[2020-05-12 11:34] saravanakj commented on #21673
thanks @javiercn for giving an insight. let me give a try with orchard core and keep posted here.

Thanks.

[2020-05-12 11:38] tn-5 commented on #21690
### To reproduce

1. `dotnet new blazorwasm -p`
2. Edit `Counter.razor` in Pages folder, paste code from initial report just before the @code line

To test this it must be accessible from an iPhone. So either deploy it somewhere or just run it locally, but listen on a port accessible by the iPhone, for example:

3. `dotnet run --urls=http://xxx.xxx.xxx.xxx:5005`

where xxx.xxx.xxx.xxx is the PC IP

[2020-05-12 12:08] JohnGalt1717 commented on #9020
AKS: b12, 2 node cluster is $176 / month and gets you perf like a p3.

You'll need the following to make this work:

1. nginx ingress as reverse proxy.
2. Dockerized .net core app
3. Deployment templates for your .net core app
4. Service templates for those deployments
5. The ingress template that maps your dns entries
6. cert bot for k8s or your own cert to map to the ingress.
7. Turn off SSL onl

[2020-05-12 12:09] felipesfaria commented on #21537
@mkArtakMSFT , Is there a way for me to do this without having to replace Microsoft.AspnetCore.SpaService.Extensions?

[2020-05-12 12:13] masoodafar-web commented on #21725
NO, my app published on folder and deploy on iis.
But before deploy I see this error ,too : in localhost????

[2020-05-12 12:14] javiercn commented on #21725
@masoodafar-web can you try and produce a minimal repro project that we can use for investigating this issue?

[2020-05-12 12:19] javiercn commented on #21629
No problem.

From what I understood, you have a Blazor app, hosted on the same origin as an API it is calling and using Identity Server hosted in "apps.company.com". Am I understanding this right?

Are all origins using HTTPS? There can be issues if you are mixing http and https across origins.

[2020-05-12 12:22] SamazoOo commented on #18259
It's happening the same to me.
ApplicationStopped and ApplicationStopping is not firing on app service on linux but ApplicationStarted does.
Any update?

[2020-05-12 12:24] acrigney commented on #9020
Wow mate that is incredible thank you but as I am also a really big fan of
Azure Dev Ops with a NoOps approach I really feel that AKS is just not in
my league.
Especially when I can probably run a decent app service for a fair bit less
than that. Or switch it to an Azure function. I could not get my websocket
solution to deploy to Azure.
I am also a huge fan of Reactive Extensions and there is som

[2020-05-12 12:26] guardrex commented on #20890
@Lupusa87 ... Work on the JS interop doc will be scheduled shortly. The topic will be addressed after the 3.2 release. Updates will include an improved sample app experience for JS interop scenarios.

[2020-05-12 12:29] masoodafar-web commented on #21725
yes ,please give me your email for add you to tfs?

[2020-05-12 12:38] bmcdonald01 opened #21736 "Blazor-WebAssembly-Client-System.Text.Json.JsonSerializer.Deserialize does not work"
### Describe the bug
When using WebAssembly version of Blazor System.Text.Json.JsonSerializer.Deserialize it does not work.  It appears to silently fail and doesn't parse content.  Even though it is the string that was serialized.

### To Reproduce
I have included a sample solution with a Console application that works.  It includes Newtonsoft and System.Text.Json examples.  It serializes and dese

[2020-05-12 12:39] javiercn commented on #21725
@masoodafar-web Unfortunately, we are not allowed to just look at proprietary code.

You'll have to setup a separate project somewhere public we can access, like a public github repo or uploading a zip file to this issue.

I would recommend you start a new project from scratch and add the minimal amount of code/files to reproduce thee issue.

[2020-05-12 12:48] javiercn commented on #21736
@bmcdonald01 thanks for contacting us.

Are you running in "Release" mode? it is likely that the linker is stripping some constructors/getters from your type as it doesn't see them being used and as a result of that the deserialization might fail silently.

See [here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/configure-linker?view=aspnetcore-3.1) for details

[2020-05-12 12:56] arthurzaczek commented on #20915
I followed these instructions and it worked for me. It would be really helpful, if this is documented in the debugging section.

I would suggest to add another browser profile called "Microsoft Edge with Dev-Profile" or something.

[2020-05-12 13:01] #21432 closed

[2020-05-12 13:04] JohnGalt1717 commented on #9020
Websockets is probably a good fall back if you haven't committed to gRPC  and are focused on Azure App Services.

Once you have k8s configured, Azure Devops is easy. You tell it to build the docker container and deploy to the azure repository with the build:id tag and then to release you run kubectl to tell it to update the deploy's container with the right tag for the build id and it will just tr

[2020-05-12 13:05] zbecknell commented on #20243
Unfortunately, we've not been able to successfully debug our project.  It probably deviates from the norm too much, as our login page is a server-side rendered page which then takes you to the client-side app.  We also can build for full server-side and debug our components that way, so it's not been as urgent to get client-side debugging working.  Hopefully, at some point, we'll be able to give t

[2020-05-12 13:13] bfmsoft commented on #21736
I am running in Debug.  Did you run the sample?  This is a stripped out project with barely anything in it and should just work?  Very simple example.

[2020-05-12 13:15] bfmsoft commented on #21736
If there is a way to "fix" this it would be great.  I am using NewtonSoft instead because it works.  It seems like I am doing something very basic.

[2020-05-12 13:18] javiercn commented on #21736
@bfmsoft We didn't take a look yet. I suggested the linker because it the root cause in most of the cases.

We'll take a look at the app and update the issue appropriately.

[2020-05-12 13:20] bfmsoft commented on #21736
Thank you.  I thought of the Linker but dont see why it would silently fail?  Can you point out how that can happen?  Just a link?  It would seem to throw an exception or something.

[2020-05-12 13:23] javiercn commented on #21736
If the linker strips the setter for example, system.text.json will silently ignore the property. When something is linked out the outcome can be an app that breaks or an app that doesn't behave as expected.

[2020-05-12 13:23] javiercn commented on #21736
The docs for the linker are here https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/configure-linker?view=aspnetcore-3.1 in case you didn't see the link before

[2020-05-12 13:24] SteveSandersonMS commented on #21729
This sounds like a duplicate of #5465

[2020-05-12 13:26] alvinsy99 opened #21737 "Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation - net core 3.1.3 not working"
Hi, Im new to .NET Core and I was tried to install the NuGet package in the following instruction but it didn't work as expected: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.0&tabs=visual-studio#runtime-compilation

I have add the configuration line:

public void ConfigureServices(IServiceCollection services)
        {
            services.AddRazorPage

[2020-05-12 13:26] acrigney commented on #9020
Magic mate thanks heaps, I am also really into Domain Driven Design so I
guess I can add AKS to my armory now but I want my clients to move to
serverless, I don't get why most people don't seem to want to move on from
containers?

On Tue, May 12, 2020 at 11:05 PM James Hancock <notifications@github.com>
wrote:

[2020-05-12 13:26] dobrinsky commented on #17277
For me, none of the solutions posted here worked, not even changing "ng serve" to "ng serve --host 0.0.0.0" in package.json "start"

But another change in the same place found in:

https://github.com/angular/angular-cli/issues/16961

change "start": "ng serve" to "start": "echo Starting... && ng serve"

worked

[2020-05-12 13:29] pranavkm commented on #21736
System.Text.Json's deserialization is case sensitive by default. You'll need to configure it to deserialize it with with either camel case property naming or with case insensitivity for it to deserialize the json string in your WASM app. See https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to#case-insensitive-deserialization

[2020-05-12 13:31] onionhammer commented on #9020
@acrigney containers are pretty broadly considered a 'serverless' technology

[2020-05-12 13:38] JohnGalt1717 commented on #9020
@acrigney There are many reasons why serverless especailly Azure functions aren't desirable:

1. Azure Functions is a brittle steaming pile of crap that is always behind on security patches with .net core.
2. Azure functions is very much a black box and hard to debug in many cases.
3. Once you start utilizing it fully it's more expensive than other options when you have constant load.
4. There's n

[2020-05-12 13:45] Tratcher commented on #9020
The necessary work for IIS is still in progress and is not available in the 2004 release.

[2020-05-12 13:47] JohnGalt1717 commented on #9020
@Tratcher Wow. Just ouch.  So more than a year will have passed with .net core supporting gRPC and Azure not having a viable way for the vast majority of the world's developers to use it.

MS needs to create true docker based app services that use nginx or ha proxy and not IIS for RP.  This is nuts.

[2020-05-12 13:49] pranavkm commented on #21737
Hi @alvinsy99, would you mind sharing a screen grab of your workflow? Are you refreshing the browser after making changes to the cshtml file and saving it?

[2020-05-12 13:50] MJRasicci commented on #21629
That's correct, the API is the same origin and port because the API is actually hosting the Blazor app. All origins are using HTTPS. I also noticed just now that the error shows in Firefox but in Edge I actually get this error:

`Refused to frame 'https://apps.company.com/' because an ancestor violates the following Content Security Policy directive: "frame-ancestors 'none'".`

I'm guessing this i