[2019-11-18 14:33] DrGriff commented on #10448
@ctrl-alt-d (Dani Herrera)

I don't think that `lock(Summaries) InUse=true;` works in async code, you have to use a [SemaphoreSlim(1,1)](https://blog.cdemi.io/async-waiting-inside-c-sharp-locks/)

[2019-11-18 14:55] anisite opened #17191 "LocalizedHtmlString (HtmlFormattableString) crash internally trying replacing {0} without input param array"
## Describe the bug
The problem is exactly like this one : https://github.com/aspnet/AspNetCore/issues/2642

### To Reproduce
If I call @Localizer["myLabelToTranslate"] but this key contains value like "This is {0} my value" an internal fonction of HtmlFormattableString is crashing.

I opened the source code and saw the WriteTo function is calling string.Format() all the time, without checking if

[2019-11-18 15:39] javiercn commented on #17175
@mRmEEeZ Thanks for contacting us.

We don't recommend relying on HTTP Context in server-side Blazor applications. This is due to the fact that the HttpContext is not generally available in the underlying signalr connection.

As such you should avoid using it for anything. Instead, the recommendation is to capture anything you want during prerendering and pass it as a parameter to the root compone

[2019-11-18 15:39] #17175 closed

[2019-11-18 15:40] javiercn commented on #17169
@rborosak thanks for contacting us.

Blazor triggers an automatic re-render of a component as part of dispatching an event to it. If you want to alter this behavior you can override the ShouldRender method on ComponentBase to selectively choose when to re-render the component.

[2019-11-18 15:40] #17169 closed

[2019-11-18 15:42] javiercn commented on #17186
@Quickz thanks for contacting us.

We'll take a look and get back to you. This is either an issue in the item template or a tooling issue.

[2019-11-18 15:44] mRmEEeZ commented on #17175
You did not give me any solution sir.
i need to get the Context of the connected client to access his IP

can i at least get example of this statement of yours

[2019-11-18 15:46] javiercn commented on #17178
@chassq thanks for contacting us.

There are patterns around this. The best option you have is to encapsulate everything with in a task returning method that takes in a cancellation token as a parameter. Then register a handle in your LocationChange method and do something like this

[code]

In general, do not use async void, and instead capture the existing task within your component and use the

[2019-11-18 15:46] #17178 closed

[2019-11-18 15:47] javiercn commented on #17165
@liyanjie8712 thanks for contacting us.

This is not something that we currently support but something that we might look to support in the future.

Thanks.

[2019-11-18 15:47] #17165 closed

[2019-11-18 15:47] javiercn commented on #17165
/cc: @danroth27

[2019-11-18 15:49] #17127 closed

[2019-11-18 15:49] SamTheDev opened #17192 "“#” character in the csproj/sln path name cases a "The partial view not found" in Razor class library!"
### Describe the bug
This was initially raised [here](https://stackoverflow.com/questions/58827705/sign-cannot-be-in-csproj-sln-pathname-when-debugging-razor-class-library-in). Basically, if your asp.net core project reference an RCL project, and the solution path has a "#" character somewhere in it, then the partial views from the RCL won't be resolved!

### To Reproduce
Source :[ @Zoka question

[2019-11-18 15:49] javiercn commented on #17002
We're closing this issue as we haven't seen community involvement and we need more information to reproduce the problem. If you have more details about the issue add a reply here with the new information and we'll re-evaluate the issue.

[2019-11-18 15:49] #17002 closed

[2019-11-18 15:52] javiercn commented on #17171
@DmitrySikorsky thanks for contacting us.

`IActionDescriptorChangeProvider` should be the wait to go, you can look in the source-code at pageactiondescriptor provider, they are just actiondescriptor providers.

[2019-11-18 15:54] javiercn commented on #17188
@JulienM28 thanks for contacting us.

I believe the space between = and = is significant, so seems like formatting is altering the semantics here?

@NTaylorMullen @ajaybhargavb any ideas?

[2019-11-18 15:55] javiercn commented on #17189
@houmamwazzeh thanks for contacting us.

We'll take a look and get back to you.

[2019-11-18 15:56] javiercn commented on #17191
@anisite thanks for contacting us.

@ryanbrandenburg do you have any ideas?

[2019-11-18 15:58] gitskab commented on #13607
Hi,

I'm having the same issue but only as I publish my app to Azure App Services. If I switch RenderMode to Server then it gets called only once but then contextAccessor.HttpContext is null when injected into my service class.

On my localhost it works fine in both cases..

Am I doing something wrong here?

[2019-11-18 16:00] Tratcher commented on #17078
Then how is this an AspNetCore question if all of the work happens on the client?

[2019-11-18 16:01] mikebrind commented on #17033
According to your webconfig, you have not enabled logging output. First, change `stdoutLogEnabled="false"` to "`true`".

[2019-11-18 16:01] sepehr1014 opened #17193 "iiscore.dll w3wp crash"
Using out of process hosting model, our app is frequently crashing.

[code]

[code]

[code]

### Describe the bug
We're currently using .NET Core 3.0 but the same was happening with .NET 2.2 and earlier versions. It's happening every 5 hours or so.

### Further technical details
- ASP.NET Core 3.0
- OutOfProcess hosting model
- dotnet info
[code]
- web.config
[code]

[2019-11-18 16:05] julienGrd opened #17194 "allow array of subparameter in blazor component, with generic type constraint"
### Is your feature request related to a problem? Please describe.

This issue follow this one : https://github.com/aspnet/AspNetCore/issues/17092
I don't know how to really describe this, the idea is to allow have array sub component in a component wich was "automatically" typed with the generic parameter of a parent. Its better to read the issue in link to understand the problem

### Describe th

[2019-11-18 16:05] julienGrd commented on #17092
you are right, it's done (https://github.com/aspnet/AspNetCore/issues/17194), i close this one !

[2019-11-18 16:05] #17092 closed

[2019-11-18 16:11] katiep23 commented on #17110
That did the trick.  Hope others find this useful, too. Thanks!!

[2019-11-18 16:11] #17110 closed

[2019-11-18 16:16] Tratcher commented on #17187
Possibly related to https://github.com/aspnet/AspNetCore/issues/17063 @jkotalik

[2019-11-18 16:16] pranavkm commented on #17185
@barfootCBarragan mixing versions of ASP.NET Core isn't supported and would explain this specific error you're seeing:

[code]

Is there a reason you're targeting the 3.0 version of the `Microsoft.AspNetCore.Http.Features` package?

[2019-11-18 16:17] jkotalik commented on #17037
I went ahead and tried my original proposal and I wasn't happy with the results. Here are my findings:

- Splitting IConnectionListener(Factory) and IMultiplexedConnectionListener(Factory) didn't feel good when dealing with shared code. For example, in [KestrelServer.cs](https://github.com/aspnet/AspNetCore/blob/master/src/Servers/Kestrel/Core/src/KestrelServer.cs#L24), we have a list of listeners

[2019-11-18 16:24] pranavkm commented on #17189
@houmamwazzeh, a Razor view, which is a cshtml file that does not have an `@page` directive, must derive from `RazorPage<T>` (as you noted for the `_Layout`.). The generated code expects this.

Placing an `@inherits` in a folder that contains Razor Pages and Views is going to result in the compiler error that you're seeing. One way to proceed would be to refactor your application to move all of th

[2019-11-18 16:25] #17139 closed

[2019-11-18 16:26] pranavkm opened #17195 "Verify IAsyncEnumerable<T> works for value types"
Verification for https://github.com/aspnet/AspNetCore/issues/17139

[2019-11-18 16:27] chassq commented on #17178
Thank you very much!

[2019-11-18 16:32] anurse commented on #17033
Thank you for the full content, that helps a lot in our diagnostic process. You indicated earlier that enabling stdout logging didn't produce any output, so I don't think that's the root cause here.

Could you try enabling the debug log (see [our Troubleshooting article for information on how to do this](https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.0#a

[2019-11-18 16:35] rynowak commented on #17160
wow, there's been a lot of comments on this since I posted it. Thanks for the interest and the good discussion 😀

Responding to comments that haven't gotten an answer yet.

----

@jstclair

I don't think so.

If the client sends a request with `Content-Type: application/xml` to a handler that only knows how to process JSON, then [415](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/415) i

[2019-11-18 16:43] jchannon commented on #17160
Will you add validation hooks too like Carter does?

[2019-11-18 16:51] javiercn commented on #14842
@robinwilson16 Sorry about that. We get a lot of issues and sometimes we loose track of things a bit. I'm reopening based on the new information you provided.

@vijayrkn do you have any thoughts?

@robinwilson16 It will also help if you file the issue through the send VS feedback dialog.

[2019-11-18 16:59] accu-jmellottlillie commented on #14877
Just to keep this alive and ensure it's known that this is an issue for more than one group of people, we hit this issue today as we attempted to migrate to dotnet core 3.0 and found that the implicit routing didn't work as we expected it to from 2.2. You can see a quick sample we created to see if there were any simple workarounds from having to write out many properties manually for our redirect

[2019-11-18 17:04] rbeauchamp opened #17338 "Blazor WebAssembly debugging only works with HTTP, not HTTPS"
FYI, I'm observing that you can't debug while using SSL. When using SSL the file:// subsection does not show in the Sources tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2f61c7-9f51-6735-e328-3c7b495d70c3
* Version Independent ID: 4d06e565-282d-6387-aa90-cb2c2986d35a
* Content: [Debug ASP.NET Core Blazor](https

[2019-11-18 17:05] anurse commented on #16807
@spetz Thanks! That should help us diagnose. @halter73 can you take a look at the full trace and see if something interesting shows up?

[2019-11-18 17:06] anurse commented on #2464
@onetsmr this is a closed issue so it isn't really tracked in our triage process. Can you open a new issue? Even if it seems related, I'd prefer we have a chance to assess that in our triage process.

[2019-11-18 17:11] MohammadElKhatib opened #17196 "Adding a navigation list of property (with composite id) to identity user cause an error"
I am creating an application with ASP.Net Core 3.0 and I am facing an issue when creating an object with composite keys, where I have one of these keys as UserId foreign key for the identity user.

but once trying to login an error appears as:

Here is my object class:

[code]

and here is my identity user class:

[code]

and here is the DBContext configurations

[code]

note that the relationship

[2019-11-18 17:12] Pilchie commented on #13350
@aspnet/build Should this still be in the 3.1 milestone?

[2019-11-18 17:12] Pilchie commented on #9473
![Uploading image.png…]()

[2019-11-18 17:12] Pilchie commented on #9473
@aspnet/build Should this still be in the `3.1.0` milestone?

[2019-11-18 17:17] pranavkm commented on #14433
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-11-18 17:17] pimbrouwers commented on #17160
It does if you bring into context the `IServiceCollection`. I'm also not certain that DI should be the default approach for every project, so it may not even be a concern in all cases.

[2019-11-18 17:31] Tratcher commented on #17167
This looks like the error you'd get if there was a form-post request body containing %00. That implies a data validation issue on the client.

[2019-11-18 17:34] dougbu opened #17199 "Should pick a TypeScript compile version"
### Describe the bug
Builds get a fair number of warnings that are not good matches for the `msbuild` rules. These warnings are noise.

### To Reproduce
Do a full build or download a build log from AzDO. Observe warnings such as
[code]
Occasionally `(3.7)` is logged in encoded form (`%283.7%29`).

### Further technical details
- Noticed originally in a 'release/3.0' build but likely affects other

[2019-11-18 17:35] dougbu commented on #17199
@anurse @mkArtakMSFT could one of you please find someone to look at this?

[2019-11-18 17:36] javiercn opened #17200 "[Blazor] API for interpreting RenderFragment contents."
The idea is to allow interpreting a render fragment so that it can be transformed to change it before applying it.

[2019-11-18 17:37] javiercn commented on #17194
We believe this issue is better described by https://github.com/aspnet/AspNetCore/issues/17200. If you are asking for a different thing, feel free to comment here and we will re-evaluate.

[2019-11-18 17:37] #17194 closed

[2019-11-18 17:38] dougbu commented on #9473
@Pilchie not `3.1.0` but soon I hope. We partially fixed things up after `3.0.0` but #14630 blocks removing all suppressions. My hope is @wtgodbe or @JunTaoLuo will have some time to fix that bug next week or one of the three of us could do it the week after.

[2019-11-18 17:40] javiercn commented on #17161
We are closing this issue as the behavior is by design. Add markup content is for complete markup blocks. If you need something else, then you should use `builder.OpenElement` and similar methods.

[2019-11-18 17:40] #17161 closed

[2019-11-18 17:42] pranavkm commented on #17186
This likely looks like a tooling issue. If you generate a new project with a whitespace in it, `dotnet new` produces a `RootNamespace` node with the name transformed. I'd recommend using the [VS feedback tool](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019) to report this.

[2019-11-18 17:42] #17186 closed

[2019-11-18 17:42] javiercn commented on #17159
@aaronhudon-ts thanks for contacting us.

If you want to achieve your scenario we recommend overriding `SetParameters`

[2019-11-18 17:42] #17159 closed

[2019-11-18 17:43] javiercn commented on #17150
@enetstudio thanks for contacting us.

We don't currently have plans in this area. If we did have plans, they will very likely not involve the Silverlight rendering engine.

[2019-11-18 17:43] #17150 closed

[2019-11-18 17:43] dougbu commented on #13350
@Pilchie it should either
1. Not be in a milestone at all because we track it using https://github.com/orgs/aspnet/projects/2
2. In a 3.1.x milestone based on our feeling of urgency. My opinion is this isn't urgent but I also suspect we'll find more bullets (I just checked one off) are already done.

[2019-11-18 17:44] jkotalik commented on #17193
This seems more likely to be an IIS issue. cc @pan-wang can you forward?

[2019-11-18 17:47] aaronhudon-ts commented on #17159
@javiercn Thanks for the reply, can you provide a basic example?  I don't see anything in `ParameterView` that's obvious.

[2019-11-18 17:47] javiercn commented on #17189
We are closing this issue as the question has been answered. If you still run into issues after following the guidance, feel free to comment on this issue and we will re-evaluate it.

[2019-11-18 17:47] #17189 closed

[2019-11-18 17:50] javiercn commented on #17179
@Legends thanks for contacting us.

This is a tooling issue. It is better if you report this issue through the send feedback dialog in visual studio https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019

@vijayrkn Can you handle it from here?

[2019-11-18 17:52] jkotalik commented on #17193
Also feel free to send me a dump to the email on my profile.

[2019-11-18 17:53] julienGrd commented on #17194
I don't really know if we speak about the same thing, i will follow the 17200 and see the evolution

[2019-11-18 17:54] javiercn commented on #17171
We've discussed this within the team. This is not something that you can do easily, as application parts need to be loaded before DI gets configured. This is not something that we plan to change in the near future, as it requires a big investment.

[2019-11-18 17:54] #17171 closed

[2019-11-18 17:56] kanadaj commented on #17184
@blowdart I believe you've misunderstood. I'm not talking about password recovery codes, but MFA recovery codes, used via `_signInManager.TwoFactorRecoveryCodeSignInAsync(recoveryCode);`.

Lockout at that point seems logical, since it implies the admin's password has been compromised and someone is trying to brute force their authenticator recovery codes, and that should very much warrant a forced

[2019-11-18 18:00] blowdart commented on #17184
Ah.

As it's a breaking change it's something we'd take in 5.0

[2019-11-18 18:01] kanadaj commented on #17184
As for the DoS vector, it feels like lockouts shouldn't be applied for the password sign in step for accounts with MFA enabled. As it is, it opens up an attack vector where you can lock out an admin permanently even without their password even if they have MFA enabled.

[2019-11-18 18:04] Rinsen commented on #17160
If you want to use DI it is really not a god option to not use DI. And injecting a IServiceCollection or some other factory method is not a compelling solution at all. Then I rather go with som other pattern like pure MVC or something else.

[2019-11-18 18:05] sepehr1014 commented on #17193
I'll do my best but since this only occurs on our production environment and we have limited access to the server, it might take awhile.
Can't it be debugged without a dump? Or perhaps a workaround to mitigate the issue until it's fixed for good?

[2019-11-18 18:06] pranavkm commented on #17192
Thanks for the issue report @SamTheDev. This is a dup of https://github.com/aspnet/AspNetCore/issues/14501 that is being tracked to be fixed in the next major release.

[2019-11-18 18:06] #17192 closed

[2019-11-18 18:09] barfootCBarragan commented on #17185
I have deleted Microsoft.AspNetCore.Http.Features and still having the problem:

Library class where I am using IFormFile:
<ItemGroup>
    <PackageReference Include="GraphQL.Client" Version="1.0.3" />
    <PackageReference Include="Microsoft.AspNetCore.Mvc.Core" Version="2.2.2" />
    <PackageReference Include="Microsoft.Extensions.Http" Version="3.0.0" />
  </ItemGroup>

Main Web Application
<Ite

[2019-11-18 18:12] blowdart commented on #17196
Have you checked the [schema customisation documentation](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-3.0)? Does it cover your case?

[2019-11-18 18:14] NTaylorMullen commented on #17188
Hey @JulienM28, C# in the attribute / tag declaration is unsupported for TagHelpers. However, I believe you can get the same functionality by changing your code to the following:

[code]

[2019-11-18 18:16] jkotalik commented on #17193
If you think ANCM is the issue, can you try uninstalling the hosting bundle and installing the bundle in 2.2? Or targeting ANCMV1.

[2019-11-18 18:18] onetsmr opened #17201 "KeepAliveInterval doesn't work as expected on Kestrel"
Move my comment into the new issue from https://github.com/aspnet/AspNetCore/issues/2464

So, I have a asp.net core web api server with sockets. It is based on https://radu-matei.com/blog/aspnet-core-websockets-middleware

[code]

I process web socket requests in the controller

[code]

My test:
1. I set KeepAliveInterval=10 seconds on the server
2. Then I set break point in the client code
3. The

[2019-11-18 18:25] anurse commented on #17199
I don't believe we use TypeScript in MSBuild at all, we do our own TS building. Probably can just put `<TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>` in a common props file.

I can probably have someone look at this later this week.

[2019-11-18 18:30] pranavkm commented on #17185
@barfootCBarragan again, is there a reason you're mixing 2.2 versions of packages with 3.0? If you're attempting to upgrade to 3.0, please follow the migration guide: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio.

[2019-11-18 18:35] javiercn commented on #16913
@nxtx You can start your app with Process.Start, that's what we do in our own E2E tests. This is not a super thoroughly explored area, but having an xUnit fixture or similar start and tear down the process(es) works well here.

[2019-11-18 18:54] scalablecory opened #17202 "Modal popup not showing in first click in razor page"
_From @prasanthjayaprakash on Monday, November 18, 2019 5:29:57 PM_

Please help me  , when page is loading i can see the all list  items. But i am clicking  the more button on the first time or any the popup is not showing in  the first time.  Again will click it is working. it is  need a double click.
<button @onclick="(e=> SelectProduct(product.Id))" data-toggle="modal" data-target="#productMod

[2019-11-18 19:03] vsfeedback opened #17203 "Async in Razor Page @functions"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/811540/async-in-razor-page.html)._

---
I'm getting the following error in my Razor Page.

[! [enter image description here] [1]] [1]

So I changed it.

[! [enter image description here] [2]] [2]

Now the code will run but I get warnings.

&gt;1&gt;obj\Debug\netcoreapp3.0\R

[2019-11-18 19:05] sbwalker commented on #11867
@jan-johansson-mr couldn't the resource leak be simply resolved by adding a using statement for the HttpClient so that it is disposed properly?

        public override async Task<AuthenticationState> GetAuthenticationStateAsync()
        {
            using (var http = new HttpClient())
            {
                Uri uri = new Uri(urihelper.GetAbsoluteUri());
                string apiurl = ur

[2019-11-18 19:15] jan-johansson-mr commented on #11867
It may appear to fix the issue, but please have a look at this very nice [article](https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong) giving some insight to what is going on under the hood (this time around, how TCP/IP layer was implemented way back in time, and still very relevant today) :-)

[2019-11-18 19:16] vsfeedback opened #17204 "Numerous missing class descriptions"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/750476/numerous-missing-class-descriptions.html)._

---
I noticed that numerous classes are missing a description:

- **DefaultHttpContext**
- **HttpContextAccessor**
- **HttpContextFactory**
- **HttpMethodOverrideExtension**
- **HttpMethodOverrideOptions**
- **HttpMethods*

[2019-11-18 19:21] vsfeedback opened #17205 "More missing descriptions"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/750513/more-missing-descriptions.html)._

---
The **Configuration** interface is missing a description as are the following classes:

- **SocketsHttpHandler**
- **WebHostBuilderSocketExtensions**
- **WebSocketAcceptControl**
- **WebSocketMiddlewareExtensions**

---
### Orig

[2019-11-18 19:27] vsfeedback opened #17206 "Putting open parenthesis '(' next to an at symbol '@' crashes visual studio"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/589293/putting-open-parenthesis-next-to-an-at-symbol.html)._

---
Like the title says visual studio completely crashes when I put these symbols together '@(' I am working in a .razor file.

---
### Original Comments

#### dalankelsch on 5/30/2019, 09:38 AM:

I took a window

[2019-11-18 19:30] robertmclaws commented on #13103
I was able to come up with a solution for app devs dealing with broken/misconfigured libraries (with the help of [this StackOverflow post](https://stackoverflow.com/a/37646073)). Just paste the following at the bottom of your project file:

[code]

HTH!

[2019-11-18 19:31] sbwalker commented on #11867
Ahh yes... thank you for the reminder about the behavior of HttpClient. Using IServiceProvider does seem to work and should not suffer from the limitations of the other solutions in this thread.

    public override async Task<AuthenticationState> GetAuthenticationStateAsync()
    {
            var http = provider.GetRequiredService<HttpClient>();
            Uri uri = new Uri(urihelper.GetAbsolut

[2019-11-18 19:39] vsfeedback opened #17207 "Blazor OnInitAsync method not rendering asynchronously when page called by GET"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/676312/blazor-oninitasync-method-not-rendering-asynchrono.html)._

---
Blazor Preview 7

Consider the bellow attached Server-side Blazor page.
When accessing the page by GET (e.g. by enetring  URL  localhost://foo:5000 in the browser or pressing F5 when on foo page) then I

[2019-11-18 19:48] mguinness commented on #10898
Yes, it probably needs reimagining for ASP.NET Core 3.0 and to just focus on receivers (senders would be another library).

Actual service implementations would be better served by being in their own repos so they can be supported by their respective owners.

A core library is needed to provide common ComputeRequestBodySha256HashAsync, FromBase64, SecretEqual functions.

As detailed in [Webhook re

[2019-11-18 19:50] aaomidi commented on #17078
Yeah I'm guessing the work is handled there. I thought I saw the client asking AspNetCore for the information but I'm probably wrong.

[2019-11-18 19:50] davidfowl commented on #17160
Not sure what you mean, you don't have to use DI if you don't want, but you can't really use closures (or I'm misunderstanding what you mean).

Consider the following:

[code]

Now you want to inject the WeatherContext so this can be tested. Here are some options:

[code]

[2019-11-18 20:23] jkotalik commented on #7341
Seems to be failing again. https://dev.azure.com/dnceng/internal/_build/results?buildId=430730&view=ms.vss-test-web.build-test-results-tab&runId=13635016&resultId=118146&paneView=debug.

[2019-11-18 20:26] j-hudecek commented on #4698
I did some more investigation, managed to reproduce it repeatedly on a direct connection - no apache proxy. The request takes about 4.5s but Kestrel doesn't return result for 300s (always, is there a 5 minute timeout somewhere?). During this time the server doesn't respond, it can't even be restarted. It uses a lot of ThreadPoolWorkers - could that be an issue? I've made a dump (it's 1.5GB) when t

[2019-11-18 20:26] NTaylorMullen commented on #17203
Hello, my bet is that where you're calling `RenderArea` you're not doing `@await RenderArea(...)`.

[2019-11-18 20:29] jkotalik commented on #7341
cc @shirhatti for gRPC prioritization.

[2019-11-18 20:56] javiercn commented on #17175
[IpFromHttpContextAsParameter.zip](https://github.com/aspnet/AspNetCore/files/3860617/IpFromHttpContextAsParameter.zip)

[2019-11-18 20:59] ileve commented on #17180
Windows 7 x64 SP1 and i am talking in development mode with IIS express.

[2019-11-18 21:19] khellang opened #17210 "Multiple calls to UseRouting breaks endpoint routing"
If you have multiple calls to `UseRouting`, you won't be able to pull the resolved endpoint between the two calls:

![image](https://user-images.githubusercontent.com/582487/69094781-4be2b980-0a51-11ea-9c58-b5b729ff5e96.png)

This is because the latter overrides the `DefaultEndpointRouteBuilder` set by the former call:

https://github.com/aspnet/AspNetCore/blob/33055d9a3c3a2a296dcd0152ccfe0df04b6d

[2019-11-18 21:25] scalablecory opened #17211 "Is it possible to change login url from one place?"
_From @Aleksej-Shherbak on Saturday, November 16, 2019 5:53:24 PM_

I will describe what I mean here.  By default, Identity has the following login URL: `/Identity/Account/Login`. I would like to change it on just `/Login`.

And I have it done! For this I have added on the `Login.cshtml` file the following code:
[code]
And it works, but after logout I have redirect on the previous URL and 404 erro

[2019-11-18 21:31] javiercn commented on #17210
@khellang thanks for contacting us.

@rynowak Any thoughts?

[2019-11-18 21:32] javiercn commented on #17205
@halter73 Not sure if this is servers, but I'll let you folks deal with it.

[2019-11-18 21:33] khellang commented on #17210
We could also consider adding an analyzer, flagging redundant calls to `UseRouting`, in addition to the runtime checks.

[2019-11-18 21:35] khalidabuhakmeh commented on #17210
Not sure an analyzer is helpful, since the issue may likely be in third party libraries making the calls internally.

[2019-11-18 21:35] javiercn commented on #17199
@anurse  is correct. I'm wondering if we are importing the typescript build package somewhere.

@anurse suggestion is also valid for Blazor I think.

[2019-11-18 21:37] khellang commented on #17210
It could be helpful

There's already several of them;

https://github.com/aspnet/AspNetCore/blob/master/src/Analyzers/Analyzers/src/StartupAnalyzer.cs#L83-L85

[2019-11-18 21:49] billbogaiv commented on #17210
I'd much prefer if the no-op logic was in the `app.UseRouting()` extension. Alternatively, at-least make https://github.com/aspnet/AspNetCore/blob/33055d9a3c3a2a296dcd0152ccfe0df04b6d2109/src/Http/Routing/src/Builder/EndpointRoutingApplicationBuilderExtensions.cs#L14 `public` so libraries that call `app.UseRouting()` could check whether the builder exists without having to worry about dictionary k

[2019-11-18 21:50] khellang commented on #17210
Yeah, that's what I'm saying. This would be my preferred solution; https://github.com/aspnet/AspNetCore/commit/19bcf5e25604ca077efbb8068d2402a872fe68b6

[2019-11-18 22:01] billbogaiv commented on #17210
So, `builder.Properties[EndpointRouteBuilder]` getting assigned the same `endpointRouteBuilder`-instance that gets passed to `EndpointRoutingMiddleware` is critical in this case? That's the part I got stuck at when initially going through this problem with @khalidabuhakmeh.

[2019-11-18 22:07] khellang commented on #17210
Yes, the first middleware gets one builder instance, which gets overwritten (thrown away) immediately. The second middleware gets a new builder instance, which is the one being picked up by `UseEndpoints` and filled with endpoints.

[2019-11-18 22:34] BrennanConroy commented on #17106
Sure, I created a super simple 3.0 app that sends to `Clients.Client(Context.ConnectionId)` in `OnConnectedAsync`.

https://github.com/BrennanConroy/3_0_Sample

[2019-11-18 22:41] HaoK commented on #16868
That's not the behavior I see, using the 3.0 templates after going through the forgot password flow, and in the debugger changing the password to something that doesn't have alphanumerics or numbers, I see the proper error message returned.  Perhaps you have customized something?

[2019-11-18 22:41] BrennanConroy commented on #17170
Could you describe the library you're trying to write and why you need to reference "Microsoft.AspNetCore.SignalR.Core"?

"Microsoft.AspNetCore.SignalR.Core" no longer ships as a NuGet package because it is now in the [shared framework](https://github.com/aspnet/Announcements/issues/325). If you want to write a library that uses it you can add `<FrameworkReference Include="Microsoft.AspNetCore.App

[2019-11-18 23:08] cosXsinX commented on #8274
Actually to understand what happen when trying to launch a task on Blazor you should understand JavaScript execution lifecycle.

To sum up, any task in a JavaScript environment in the context of the browser (Safari, Chrome , Edge, ...) cannot ne executed when the current task is running. That means you are dead locking when trying to wait the initiated task by JSRuntime.InvokeAsync<...>(“functionN

[2019-11-18 23:13] cosXsinX commented on #5553
Actually to understand what happen when trying to launch a task on Blazor you should understand JavaScript execution lifecycle.

To sum up, any task in a JavaScript environment in the context of the browser (Safari, Chrome , Edge, ...) cannot be executed when the current task is running. That means you are dead locking when trying to wait the initiated task by JSRuntime.InvokeAsync<...>(“functionN

[2019-11-18 23:14] mrpmorris commented on #17194
@javiercn I don't think it's the same thing.

This request is to allow the setting of a parameter like `public MySubComponent[] { get; set;} ` as child content.

A good example of this would be a `Grid<T>` which would have a parameter `public Column<T>[] Columns { get; set;} `

[code]
At the moment there is no way for `Column<T>` to infer its type from `Grid<T>` because RenderFragments can contain

[2019-11-18 23:26] ryanbrandenburg commented on #14280
#Stolen

[2019-11-18 23:27] #17048 closed

[2019-11-18 23:28] kdawg1406 commented on #13103
@robertmclaws WOW, thanks.  Question:  The Infragistics wwwroot contains hug .map files.  Is there a way to exclude these?  Or is it possible to use two CreateItem statements, one for .js and one for .css?

Apologies for my lack of build tasks.

[2019-11-18 23:34] javiercn commented on #17194
@mrpmorris You can have templated components that use `RenderFragment<T>` https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#templated-components

[2019-11-18 23:42] cradle77 commented on #15022
@LaughingJohn this might help you :)

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1271#issuecomment-555262113

[2019-11-18 23:58] blowdart commented on #17180
That's strange. What is data protection saying in the startup logs?

(As an aside you know you'll be completely out of support with Win7 in January?)

[2019-11-19 00:04] #16647 closed

[2019-11-19 00:19] halter73 commented on #17201
@onetsmr I notice you include "on Kestrel" in the title of the issue? Have you happened to try and see if the KeepAliveInterval works with other servers (e.g. HttpSys, IIS in-proc)?

[2019-11-19 00:30] halter73 commented on #17201
I'm pretty sure this is by design. So I expect the behavior is the same on all servers.

In the meantime, if you want to timeout clients more quickly, I recommend doing what https://docs.microsoft.com/en-us/aspnet/core/fundamentals/websockets?view=aspnetcore-3.0#handle-client-disconnects suggests. By my reading, that doc isn't trying to say that the server will timeout the connection if the client

[2019-11-19 00:31] ryanbrandenburg commented on #14280
#Unstolen

[2019-11-19 00:31] ryanbrandenburg commented on #14276
#Stolen

[2019-11-19 00:53] git-net commented on #17114
@javiercn
i can't download you code,i post my code
 [https://github.com/git-net/GenericComponents](https://github.com/git-net/GenericComponents)
with  some screen picture.
vs19 16.3.9 ,3.0

[2019-11-19 01:02] danroth27 commented on #15515
@rabberbock In general, yes, that's still our recommendation. We think of component parameters like parameters to a constructor or method.

[2019-11-19 01:09] nxtx commented on #16913
@javiercn Thank you.

[2019-11-19 01:16] skyridder commented on #17187
Laterly I find out that server cpu and memory is full. Sql takes up a lot of resource. So I think something wrong with SQL. Thanks

[2019-11-19 01:16] #17187 closed

[2019-11-19 01:16] pranavkm commented on #17207
It's fairly likely that you have pre-rendering on. Blazor will wait for the pre-rendering to timeout or complete before it initiates rendering. If that's not the case, could you share a minimal repro app and we could investigate this further.

[2019-11-19 01:19] rynowak commented on #17210
Can I get a high level of what people are doing that hits the problem? This would help a lot in justifying what we should do about it 😄

- Is this *just* a mistake someone made?
- Is there legit scenario someone is trying to do that gets blocked by this?

----

To add some context to this, the reason why the current behavior is the way it is so that we can behave reasonably in some wierdo cases.

[2019-11-19 01:51] johnnyoshika commented on #12890
@JeremyTCD I just tested Jering.Javascript.NodeJS and it works as advertised. I first tried it with .Net Core 2.2 but ran into errors. With .Net Core 3, it works well.

I noticed this prerequisite though:
[code]

Is that prerequisite unique to Jering.Javascript.NodeJS or was that the case with Microsoft's NodeServices as well?

[2019-11-19 02:15] cbrit opened #17216 "[Razor Pages] String interpolation for @page directive override routes"
I had the idea to save all of my routes in a static class of constants like so:

[code]

The idea was to have the route defined in one place and then if I even need to change a route, I will only have to change it in one place. For example, if I have multiple handlers that redirect to the login page, changing the login route would require me to change it at the `@page` directive, and in any IActio

[2019-11-19 02:16] JeremyTCD commented on #12890
@johnnyoshika Created a netcoreapp2.2 console app invoking INodeJSService, works fine: [repository](https://github.com/JeremyTCD/NodeJSServiceTest). Tests pass when targeting netcoreapp2.2 too. Would be cool if you could open an issue with details on the errors your ran into.

Wrt installing Node.js, yes it was the case with INodeService as well. Both these libraries spin up Node.js processes.

[2019-11-19 02:57] Dairai commented on #17204
I am willing to work on this if it's still available.

[2019-11-19 03:05] robertmclaws commented on #13103
Alright @everyone, I updated my post above to cover issues I ran into with Azure DevOps. The last version worked fine locally, but didn't work during a Pipeline build. I also added in the ability to clean out wwwroot and to delete any *.map files in the _dist folder.

HTH!

[2019-11-19 03:34] NTaylorMullen commented on #14276
Dopeness!!

[2019-11-19 03:52] NTaylorMullen opened #17218 "Move project configuration detection to Razor Language Server"
Today the Razor VSCode client listens on behalf of the LanguageServer for project change events and forwards those file change events up to the language server. Given that the server is the one that's always guaranteed to be with the source of the Razor project we need to change the "listening" mechanism to exist in the Razor Language Server.

This is a pre-requisite for VSOnline and possibly remo

[2019-11-19 04:55] MohammadElKhatib commented on #17196
@blowdart I did check that documentation and I made some changes to my code but also the same issue.

find below a repo of the project:

https://github.com/MohammadElKhatib/FBPredictor

[2019-11-19 05:19] sepehr1014 commented on #17193
@jkotalik Thanks but we also had this issue on 2.2 and 2.X actually. Just tried ANCMV1 for about 10 hours and the results are the same. Had 3 crashes in this time frame.

[2019-11-19 05:23] sepehr1014 opened #17221 "HostingAbstractionsHostExtensions.Run: OperationCanceledException: The operation was canceled."
We sometimes get the crash below.

[code]

[code]

[code]

Here's our Program.cs

[code]

### Further technical details
- ASP.NET Core 3.0
- OutOfProcess hosting model

[2019-11-19 05:59] mcp111 commented on #17033
There are several other websites running on that server but none are on .net core

[2019-11-19 06:24] neville-nazerane commented on #12238
Is this about initializing the property EditForm to _fixedEditContext? Or will it make sense to ensure EditForm was never assigned?

I can't tell you why someone will, but what if someone assigns EditForm to null? Will it make sense for EditForm to return null after that point?

[2019-11-19 07:03] mrpmorris commented on #17194
@javiercn that would be a single item. The request is for an array, at the moment it isn't possible to implement the grid/column example I gave using `RenderFragment<T>`

[2019-11-19 07:13] mrpmorris commented on #17200
Cos you give a mock-up example of this, please! Thanks @javiercn

[2019-11-19 07:28] aguacongas commented on #17128
@javiercn, mono's guys respond this not their side. IMO it's an incompatibility issue between the public package and the last build package you use in blazor and it could be fixed by itself when a new version of mono wasm framework will be released. However it had to be tracked somewhere.

[2019-11-19 08:09] chrdlx commented on #17099
@javiercn No worries!, If it's a bug I hope it can be solved for 3.1 release! Regards!

[2019-11-19 08:31] Yuki-Nagato commented on #14134
While @Daniel15 provided a workaround, it may not help if using [Generic Host in ASP.NET Core 3.0](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-3.0).

[2019-11-19 08:35] BolatovAlau opened #17222 "AddMethhods programmatically"
Can we create methods programmatically:
Example:
[code]

[2019-11-19 08:41] enetstudio commented on #17150
@javiercn, thanks for your reply.

[2019-11-19 08:44] khellang commented on #17210
I have a really hard time seeing this could be anything but a mistake. The way I see it, there's nothing to gain from this with the current behavior, as the routing middleware already short-circuits if you have multiple instances.

What makes you say this? Is there precedent here? It's weird, 'cause logging warnings for obvious mistakes and upcoming API changes has worked amazingly for frameworks

[2019-11-19 09:02] sefacan opened #17225 "Remove ViewBag feature completely"
Developers use ViewBag for convenience, but I think it contributes greatly to unwanted performance issues. Force us to use ViewData and Model if necessary.

Thanks.

[2019-11-19 09:22] cirocorvino commented on #16868
What do you mean for "3.0 templates"? I'm using ASP.NET Core version: 2.1 to implement an Identity Server host application.

There isn't any customization about password validation in the project .

The method that returns the "invalid token" error on password policy violation is:
`Task<IdentityResult>  Microsoft.AspNetCore.Identity.UserManager<TUser>.ResetPasswordAsync(TUser user, string token, s

[2019-11-19 09:54] mRmEEeZ commented on #17175
@javiercn

Thanks for your reply
i tried your code within mine , it didn't work , sadly

i tried this line of code in _Host.cshtml
`<component type="typeof(App)" render-mode="ServerPrerendered" param-IP="@HttpContext.Connection.RemoteIpAddress.ToString()" />`

only white screen...

i tried this..
`<app>@(await Html.RenderComponentAsync<App>(RenderMode.Server,new { IP = HttpContext.Connection.Remot

[2019-11-19 09:56] mRmEEeZ commented on #17175
@javiercn

sorry mate , i re-run your files in VS preview and it worked
it is because aspnetcore 3.1

can you show me how to do it in aspnetcore 3.0 ?
thanks

[2019-11-19 09:57] HaoK commented on #16868
I mean the method is correctly returning password validation errors as far as I can tell, it will only return a token error if the token is invalid, if you can provide a simplified repro app with the steps you did to encounter the incorrect error you are seeing, we can take a further look.

[2019-11-19 09:59] YoanaDimitrova-kpmg opened #17226 "Blazor Server prerendering with parameters support"
@mkArtakMSFT @pranavkm @rynowak I have an existing ASP.NET Core 3 project and I am trying to incorporate Razor components using Server-side Blazor. Components with no parameters work but obviously they are of limited use (dare I say completely useless).

I get an exception when incorporate a component, e.g.:
[code]

This is an existing [issue ](https://github.com/aspnet/AspNetCore/issues/14433) th

[2019-11-19 10:21] cirocorvino commented on #16868
Sorry for my English, I likely expressed myself not so well.. I would know what is it "3.0 templates" with which you have done your tests.

For reproduce my issue you should use the library Microsoft.Extensions.Identity.Core, Version=2.1.1.0, Culture=neutral, PublicKeyToken=adb9793829ddae60

[2019-11-19 11:00] pimbrouwers commented on #17160
Sorry for the confusion. I should've been more specific, clear and accurate. I only meant to imply that developer's don't always HAVE to jump right into the built-in IoC container. And that dependencies could be provided by others means, in (my opinion) sometimes a more explicit way. Either using closures, or a plain old object. For example:

[code]
This example is trivial, uses poor naming (I did

[2019-11-19 11:00] zeinali0 commented on #17170
I'm trying to implement [MTProto](https://core.telegram.org/mtproto) by using some part of SignalR.
It has its own handshaking so i'm trying to implement it via `Microsoft.AspNetCore.SignalR.Core`
but it seems in .net core 3 `HubDispatcher` is not public anymore.

[2019-11-19 11:16] #6840 closed

[2019-11-19 11:34] wstaelens opened #17227 "Default fallback culture not working in 3.0 after upgrading from 2.2"
### Describe the bug
I had localization implemented in my asp.net core 2.2 app using IStringLocalizer.
I've updated the app to 3.0 and localization is broken.

My "default" culture is "en".

I have only 2 files: `SharedResources.nl.resx` and `SharedResources.resx`

As you can see, my default .resx file doesn't include the `.en.` culture part in the filename.

In my asp.net core 2.2 app this fallba

[2019-11-19 11:55] Postlagerkarte commented on #17200
Great! For what it is worth here are two supporting issues for this:

https://github.com/aspnet/AspNetCore/issues/9493
https://github.com/aspnet/AspNetCore/issues/16737

[2019-11-19 12:22] StanislavChankov commented on #17106
Good job @BrennanConroy ! I have tested it and it is working perfectly. I created another branch of the your repo, where I cached in the memory the connections in `OnConnectedAsync` and send the message to the other user in `SendMessage` and it is working properly.

I noticed that you are using `@microsoft/signalr`, which is created for AspNetCore. However I am using `@aspnet/signalr` as I have de

[2019-11-19 12:27] jstclair commented on #17160
Sorry if it feels like I'm bike-shedding here - but in the example, it's a GET and the parameter is via the route, so I'm unclear why you'd care what the Content-Type is? It's fine to explicitly avoid the content-negotiation dance, but the proposed API changes seem to assume that checking Content-Type is the same as checking Accept

[2019-11-19 12:41] houmamwazzeh commented on #17189
Thanks @pranavkm, @javiercn , that was helpful.

My goal was to:
- Use a partial view file `_CategoryForm` for 2 razor pages (Create.cshtml and Edit.cshtml). And
- Extend the functionality of `Microsoft.AspNetCore.Mvc.RazorPages.Page`.

But, it turns out that we have 2 options to overcome this issue:
1. Either by moving the partial views to `/Views/Shared` folder to isolate them (as mentioned abov

[2019-11-19 13:20] astashko opened #17228 "New controller scaffolder ignores default namespace"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
Controller scaffolder uses project name instead of default namesp

[2019-11-19 13:22] Gruski commented on #2738
Looking into converting my VB.NET WebForms app to .NET Core Razor Pages. If true that VB will not be supported then what modern ASP.NET path should I migrate to instead? Re-writting the app in C# is not an option.

[2019-11-19 14:09] isaacabraham commented on #10370
@mkArtakMSFT what about standard web sockets on App Service i.e. if we aren't using Azure SignalR?

[2019-11-19 14:13] ahazelwood opened #17230 "Different StackExchange.Redis implementations being used"
### Issue
I'm trying to add both Microsoft.AspNetCore.DataProtection.StackExchangeRedis and Microsoft.Extensions.Caching.Redis to my project.  The Caching version relies on StackExchange.Redis.StrongName, while the DataProtection one does not.  This causes a naming conflict since the namespace path is the same.

### To Reproduce
Try to add both nuget packages to a project.  Attempt to use Connecti

[2019-11-19 14:21] ahazelwood commented on #17230
Found out there is a newer Microsoft.Extensions.Caching.StackExchangeRedis assembly.  Moving over solved the issue.

[2019-11-19 14:21] #17230 closed

[2019-11-19 14:25] jan-johansson-mr commented on #11867
Like so :-)

What do you think about the following? I have a choice to make, either go Fort Knox with authentication by affine authentication tied to the blazor circuit and if page is refreshed (the circuit breaks) then have the user login again. Or go feature wise and create an affine session with secured cookie and then let the auth flow between circuits. Or the third choice, go affine with an a

[2019-11-19 14:27] cbrit commented on #17211
Maybe related to my feature request: #17216

[2019-11-19 14:35] vsadams commented on #6075
I am on aspnetcore 3.0 and I still receive this. I am also utilizing InProcess hosting on an App Service.

[2019-11-19 14:36] onetsmr commented on #17201
@halter73

No, I've tested only on kestrel.

So that means double work and looks like a crutch. Server sends system ping messages and I will send custom ping mssages. Nay, I can't use ping/pong opcodes, because WebSocketMessageType enum doesn't contain them.

[2019-11-19 14:36] VaclavElias commented on #10389
Another solution https://github.com/mikoskinen/Blazor.Animate

[2019-11-19 14:38] javiercn commented on #17228
@astashko thanks for contacting us.

Here is a sample tha shows this working.

[ComponentWithParametersSample.zip](https://github.com/aspnet/AspNetCore/files/3864284/ComponentWithParametersSample.zip)

It seems that your host is being locked to 3.0.0 and your SDK to 3.0.100. You need the latest SDK preview (3.1.100) for the parameters support.

[2019-11-19 14:39] #17228 closed

[2019-11-19 14:41] javiercn commented on #17222
@BolatovAlau thanks for contacting us.

It looks like this is a general question that has nothing to do with ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow.

You can probably look into some templating language like https://docs.microsoft.com/en-us/visualstudio/modeling/code-generation-and-t4-

[2019-11-19 14:41] #17222 closed

[2019-11-19 14:46] javiercn commented on #17225
@sefacan thanks for contacting us.

Unfortunately we aren't likely to do this ever. When we write frameworks we need to make trade-offs and sometimes we build features (like ViewBag) that improve the experience at the cost of performance.

We understand your concerns, but at the same time we value the ease of use ViewBag provides. If you have problems with it in your specific scenario, we would lo

[2019-11-19 14:46] #17225 closed

[2019-11-19 14:48] javiercn commented on #17216
@cbrit thanks for contacting us.

Unfortunately what you are trying to achieve is not possible. Routes are backed by .NET Attributes, which require all parameters to be compile time constants. For that reason, you can't use things like string interpolation in them, as that would require the information for the attribute to be defined at runtime, which is not possible in .NET.

[2019-11-19 14:48] #17216 closed

[2019-11-19 14:52] javiercn commented on #17226
@YoanaDimitrova-kpmg thanks for contacting us.

This is a 3.1 feature, here is a working sample on how to use it, you can run it with the latest preview.
Make sure you lock in the SDK version by adding a global.json file with `dotnet new globaljson --sdk-version 3.1.100-preview3-014645`

[ComponentWithParametersSample.zip](https://github.com/aspnet/AspNetCore/files/3864356/ComponentWithParametersS

[2019-11-19 14:52] #17226 closed

[2019-11-19 14:53] javiercn commented on #17207
The behavior here is by design. Blazor waits until all asynchronous code is rendered to produce a menaingful render of the page.

[2019-11-19 14:54] #17207 closed

[2019-11-19 14:55] javiercn commented on #17202
@prasanthjayaprakash thanks for contacting us.

In order for us to investigate this issue, could you please provide a minimalistic repro project that illustrates the problem?

[2019-11-19 14:55] rjgotten commented on #4901
@mkArtakMSFT
So how about opening up where the `vc:` convention for 'view components as tag helpers' is established, and allowing a custom implementation there?

That'd be enough to get the ball rolling for slots as a proper community add-on. Right now, _any_ implementation of this feature eventually hits the wall where the `vc:` tag helper logic is non-extensible and you need to hack around it wi

[2019-11-19 15:00] javiercn commented on #17206
Thanks for contacting us.

In order for us to investigate this issue, could you please provide a minimalistic repro project that illustrates the problem? Ideally also indicate at what line and column to insert the characters to trigger the VS crash.

@NTaylorMullen the internal ticket has attachments with additional information that will likely help you troubleshoot the issue. I can assist a bit i

[2019-11-19 15:04] javiercn commented on #17203
@NTaylorMullen can this simply be because there is no await in his code? I believe that's the reason and the only thing to do here is to remove 'async' and return Task.CompletedTask.

That will fix the warnings and respect the signature.

[2019-11-19 15:04] #17203 closed

[2019-11-19 15:05] #17076 closed

[2019-11-19 15:06] javiercn commented on #17227
@wstaelens thanks for contacting us.

@ryanbrandenburg can you take a look at this/tell what's going on?

@wstaelens could you share a minimal repro project that helps us investigate the issue?

[2019-11-19 15:11] Rauce opened #17231 "Blazor - 3.1 Preview 3 HTTP exception – Failed to execute 'arrayBuffer' on 'Response': body stream is locked"
I'm developing a Blazor WebAssembly app.

After upgrading all my solution Nuget packages to `3.1.0-preview3.19555.2`, all `HttpClient.SendAsync()` calls to a REST/JSON API (with a subsequent `await JsonSerializer.DeserializeAsync<T>(await response.Content.ReadAsStreamAsync(), null, cancellationToken)` to read the response) fail with the following error:

[code]

I'm using the latest Visual Studio

[2019-11-19 15:13] javiercn commented on #16955
@MortenMeisler Did you update your blazor wasm package?

Can you provide more info on what error are you seeing? Could you try and disable linking to see if that fixes the issue?

[2019-11-19 15:19] wstaelens commented on #17227
I can't share much code (company project) but I can say that I followed the documentation from the ms docs website on first to upgrade from 2.2 to 3.0.  I've already upgrated 3 sites but only this one uses localization.

files:

- SharedResource.cs (just so that we can reference the class/type!)

- SharedResource.resx

- SharedResource.nl.resx

- SharedResource.fr.resx

- SharedResource.en.resx <-

[2019-11-19 15:23] Weboholics commented on #17097
Thanks for the help. I have researched more after the info I got form you. It seems identical problem https://github.com/aspnet/AspNetCore/issues/12794

It seems that endpoint routing is missing the ambient key/value of culture:<language code>.

Our url looks like this.  /sv-SE/...............
sv-SE is language code.

I don't like the obvious solution to always add culture to the @url.Action... it

[2019-11-19 15:24] lkubis commented on #17147
@thiennn If you look at the SignInManager again, you can see, that all of these methods (SignInAsync, ExternalLoginAsignInAsync, PasswordSignInAsync, and SignInOrTwoFactorAsync) end with a call to **SignInWithClaimsAsync**. So I guess this would be good place to override and handle your custom logic.

[2019-11-19 15:27] javiercn commented on #17227
@wstaelens We are not asking for you to share your code, but to create a new separate project and add the minimal amount of code that reproduces the issue.

[2019-11-19 15:28] blowdart commented on #17196
@ajcvickers One for you

[2019-11-19 15:43] rysep2 commented on #12601
I changed my code accordingly but when I try to access the AuthenticationStateProvider in my HttpMessageHandler I get the following error message "System.InvalidOperationException: GetAuthenticationStateAsync was called before SetAuthenticationState.". This happens after the log in process, the AuthenticationState should already be set. Or am I wrong?

Startup.cs:
[code]

MyHttpMessageHandler.cs:

[2019-11-19 16:11] tkstanczak commented on #16807
we have been just comparing the same code between 2.2 and 3.0 and this has definitely been just introduced in 3.0

when load testing with NBomber we get these exceptions whenever a single test round finishes against 3.0 and no exceptions in 2.2

[2019-11-19 16:16] johnnyoshika commented on #12890
@JeremyTCD Sorry, I wrote .Net Core 2.2 but I meant .Net Core 2.1. I created an issue here: https://github.com/JeringTech/Javascript.NodeJS/issues/50

So it seems like NodeJSService can do everything that Microsoft's NodeServices can without any drawbacks. I'll circle back to the Microsoft team to see if they can identify something that we missed. If not, I agree that it doesn't make sense to spin

[2019-11-19 16:19] Rinsen commented on #17160
I feel now that I was a bit to hard in my response, I strongly agree with you that it's great to have both options! Thad adds a lot of value to the stack!

[2019-11-19 16:23] Tratcher commented on #17221
This means your application was attempting to gracefully shut down but failed to do so within the default time period (5 seconds).

A) Why was the application shutting down?
B) What prevented it from finishing? Long running requests?

[2019-11-19 16:29] brockallen opened #17232 "Decouple password validation/lockout APIs from cookie management"
Many methods on the SignInManager provide the lockout semantics for user credential validation, but they also contain the code to manage/issue cookies (signin, MFA, etc). It would be nice to break those up, as many workflows require those checks, but perhaps additional custom checks before issuing the main login cookie, or MFA cookie. One such example would be additional risk assessment logic at l

[2019-11-19 16:30] BrennanConroy commented on #17106
Using @aspnet/signalr shouldn't cause any issues. I switched the sample to @aspnet/signalr@1.1.4 and it continued working as expected.

What isn't working? You probably wont be able to send a message to the specific client that is closing because it is in the process of shutting down.

Could you please provide a sample app that shows these things not working properly?

[2019-11-19 16:40] davidfowl commented on #17160
@pimbrouwers In your example, the Db class is a singleton. That's why I said closures don't work for all scenarios.

[2019-11-19 16:49] blowdart commented on #17232
We do take pull requests ;)

More seriously Identity isn't scheduled for any major work right now for 5.0, and this does feel reasonably major. So I'm putting it in the backlog for now, and I'll see if we can find time.

[2019-11-19 16:49] vijayrkn commented on #14842
@robinwilson16 @NuNn-DaDdY -

I just tried opening the edit page & clicking save after migrating the project to 3.0 & I am unable to reproduce this issue with 16.3.9

![image](https://user-images.githubusercontent.com/3981619/69167180-7f116100-0ac2-11ea-8787-ee76543c9065.png)

Would it be possible to provide a sample project with profile where this scenario doesnt work? This will help us get to th

[2019-11-19 16:50] rynowak commented on #17160
Ah! Thats the mistake. I'll fix the example, thanks!

[2019-11-19 16:53] johnrom commented on #12890
I have some concern about migrating existing apps between the two, but I'll trust in the community's judgment. The question remains: What about `SpaServices`? Someone will have to spin off `SpaServices` to use either a migrated `INodeServices` or switch it to use `INodeJSServices`.

[2019-11-19 17:02] jkotalik opened #17233 "Flaky test: Rebuild_Success_RecreatesManifestAndCache"
https://dev.azure.com/dnceng/public/_build/results?buildId=431839&view=ms.vss-test-web.build-test-results-tab&runId=13675208&resultId=100195&paneView=debug

[code]

[2019-11-19 17:13] javiercn commented on #17175
@mRmEEeZ It's a bit more involved to do in 3.0. You could use a middleware in the pipeline to capture that information and add it to the current principal, or something similar.

It is much better on 3.1, (as per the sample) so I suggest you simply update to the latest 3.1 release that which has a go-live license. See the blog post here https://devblogs.microsoft.com/dotnet/announcing-net-core-3-1

[2019-11-19 17:14] jkotalik opened #17234 "Flaky test: ImpExprProvisionallyAcceptsDCIAfterIdentifiers"
ImpExprProvisionallyAcceptsDCIAfterIdentifiers
[code]

[2019-11-19 17:23] mkArtakMSFT commented on #16858
Closing this as we plan to track the work using the board instead: https://github.com/orgs/aspnet/projects/32

[2019-11-19 17:23] #16858 closed

[2019-11-19 17:25] kevingosse opened #17235 "Threads stuck on HttpRequestStream.Read"
We're running into an issue in a Kestrel web application (using Microsoft.AspNetCore.Server.Kestrel 2.2.0) where some threads are stuck on the callstack:

[code]

We have our own handling for timeouts. The task returned to aspnetcore is roughly:

[code]

All the stuck threads are in the "RequestProcessingLogic" part, for requests that timed out. Not all timeouts result in a stuck thread, this is a

[2019-11-19 17:26] blowdart commented on #17184
We thought about this before, but it feels wrong to remove the lockout just because MFA is enabled. It would open up accounts to password stuffing, because you can just abandon the login attempt at the MFA prompt.

[2019-11-19 17:27] Eilon commented on #2738
@Gruski if there's a lot of VB.NET code that is "library" code - that is, not even WebForms-specific - then that all works quite fine in the .NET Core / Razor Pages / Blazor world. It's the WebForms vs. Razor (and Blazor) part that's much more work.

We did just release a preview of an e-book to help developers migrate from WebForms to Blazor:

https://docs.microsoft.com/en-us/dotnet/architecture/

[2019-11-19 17:28] jwfx commented on #4422
Is there some workaround or way to prevent this from spilling into the application log?

We're using NLog together with ASP.NET Core 2.2.6 and currently this issue is spamming our logs and will potentially create customer support cases.

[code]

[2019-11-19 17:29] terrajobst commented on #17235
@stephentoub, any idea on how to diagnose this further?

[2019-11-19 17:30] kevingosse commented on #17235
Just in case, I'd like to add that I'm 100% sure that the threads are stuck:
 - I've removed all the traffic from the application and waited for a while
 - I checked that the local and global threadpool queues are empty

[2019-11-19 17:32] jkotalik commented on #6075
@vsadams could you file another issue saying you are hitting this in 3.0?

[2019-11-19 17:33] javiercn commented on #17231
This issue was moved to mono/mono#17845

[2019-11-19 17:33] #17231 closed

[2019-11-19 17:34] javiercn commented on #17231
@Rauce thanks for contacting us.

We believe this is an issue in the new httpclient handler we upgraded to in the latest version. We've moved the issue to the mono repo so that it can be tracked there.

[2019-11-19 17:35] jkotalik commented on #17193
Alright, please email me if you manage to get a dump. The only other thing I would try now is maybe a different version of IIS.

[2019-11-19 17:36] brockallen commented on #17232
This would also be required to support FIDO2, methinks.

[2019-11-19 17:37] javiercn commented on #17227
@ryanbrandenburg Can you take a look? This might be a regression.

[2019-11-19 17:37] kanadaj commented on #17184
While that's true, it still opens up accounts to DoS attacks and even rotating the password wouldn't fix that (since all you need for a lockout is the username/email address), so it doesn't seem like a good solution.

One solution I could see is sending username, password and MFA token at the same time to avoid the whole lock-out issue, potentially offered on the lock out page. This wouldn't open

[2019-11-19 17:43] vsadams opened #17236 "NullReferenceException in IISHttpContext"
I am receiving the following exception with all my asp.net core 3.0 apps when they are deployed to an azure app service.

`System.NullReferenceException at Microsoft.AspNetCore.Server.IIS.Core.IISHttpContext.GetOriginalPath`

The exception seems to occur during startup.  I have not seen it cause any major issues.

#6075 speaks to the exact same issue.

[2019-11-19 17:44] blowdart commented on #17184
Then we'd have to store the password between pages, which is a rather bad idea security wise :)

[2019-11-19 17:45] davidfowl commented on #17235
@kevingosse where is that timeout code? Is it in the middleware pipeline? Can you show the bottom of the stack? Are you spawning a task in order to make that timeout logic work? (I'm wondering how you can have a stuck thread on Read outside of the middleware pipeline)

[2019-11-19 17:46] kanadaj commented on #17184
No no I meant on a single page. Username+Password+MFA Code

[2019-11-19 17:47] VBAndCs commented on #2738
You can use a VB.NEt project for the UI as well. Only the cshtml files will contain C# chunks. If you want to avoid the C# code, you can use xml literals in VB.NEt to design the UI as I did in my Vazor project:
https://github.com/VBAndCs/Vazor-DotNetCore2
Anthony Green took this to another level as you can see in his last topics in his blog:
https://anthonydgreen.net/

I also suggested to use an X

[2019-11-19 17:59] Nareshchintakunta commented on #16861
Not sure how to simulate this issue, which is causing this issue could not resproduce. But I suspect Mobile client android device is having this issue.

@Tratcher plz find below your questions.

What kind of client is it?
Looks like client is Mobile Android device,
Does it experience an error before this happens?
No Error.
If you capture a fiddler or wireshark trace does it show data being sent at

[2019-11-19 18:00] kevingosse commented on #17235
Full callstack is:

[code]

The task that was returned to the middleware is already complete at that point.

In short, when our middleware is called:
 - We start a Task.Delay. When it completes, we set an error status code on the response
 - We start processing the request on a separate thread (that's the above callstack)
 - We return `Task.WhenAny` of all this

[2019-11-19 18:04] blowdart commented on #17184
But then users get confused when they don't have MFA enabled, and we don't want to send a request back when a username is entered to see if MFA is enabled.

In all probability it's going to change again when we add FIDO2 support and move towards the username on a single screen, then on the next screen authentication details.

[2019-11-19 18:09] Tratcher commented on #16861
If this is a mobile client on a slow or flaky connection then this error is expected. You can use the emulator to reproduce the network conditions: https://stackoverflow.com/questions/7026251/simulate-low-network-connectivity-for-android

[2019-11-19 18:12] davidfowl commented on #17235
@kevingosse That's super sketchy. You can't return from the middleware pipeline and still have code that is touching the http request. Just so I get the picture, you effectively doing this

[code]

That code will never be reliable, my guess is (looking at your clues) the state of the request gets reset while your deserialize is still running. Can you [buffer](https://docs.microsoft.com/en-us/dotne

[2019-11-19 18:20] kevingosse commented on #17235
I was kind of expecting to receive an exception if trying to read the request after the connection is closed. We have synchronization to make sure we don't write a response concurrently with the timeout, but we assumed that reading would be safe. In hindsight, since aspnetcore recycles a lot of objects under the hood, it doesn't sound so safe anymore.

I'll check if I can rework our logic the way

[2019-11-19 18:32] javiercn commented on #17159
Something like this should work:

[code]

[2019-11-19 18:41] mrpmorris commented on #7268
I think this would be better solved by this approach -> https://github.com/aspnet/AspNetCore/issues/17194

Ultimately it is a request to

1. Be able to infer a generic type based on the parent.
Allow the developer to force the consumer to only be able to enter child content of a specific type (array of Grid

[2019-11-19 18:41] aaronhudon-ts commented on #17159
@javiercn Ok, that's perfect.  It actually shows how to derived from generic blazor classes.  I wasn't sure the syntax to use in a .razor file.

Suggestion: update the msdn documentation on how to write a .razor component that inherits type parametes (e.g. @typeparam)

[2019-11-19 18:51] davidfowl commented on #17235
Are you aborting the request? Here's what the bad version looks like:

[code]

[2019-11-19 18:57] NTaylorMullen commented on #17203
Ehh the ~/ in the image tags should resulted in awaits because those are backed by TagHelpers. I'd need to see more of the project to be certain

[2019-11-19 19:00] rynowak commented on #17210
Cool, I'd like to hear from @khalidabuhakmeh and @billbogaiv as well.

Right, we don't rely on logging being seen for people doing local development.

There's lots of things we choose not to do something about. Writing analyzers has a cost to write and maintain them. Making changes to runtime behavior has a risk of breaking legitimate scenarios and limiting future (currently unanticipated scenario

[2019-11-19 19:47] jkotalik commented on #17233
Similar issue: Build_GeneratesStaticWebAssetsManifest_Success_CreatesManifest
https://dev.azure.com/dnceng/public/_build/results?buildId=432173&view=ms.vss-test-web.build-test-results-tab&runId=13686422&resultId=100025&paneView=debug

[code]

[2019-11-19 19:53] sepehr1014 commented on #17193
@jkotalik Of course.
Could you elaborate on that? Isn't IIS version tied to the OS? We're using Windows Server 2016.

[2019-11-19 19:55] StanislavChankov commented on #17106
1. I had an issue with authorization. Exactly the same as `ddydeveloper` had in https://github.com/aspnet/SignalR/issues/1764 . Hope that help to anyone.
[code]
2. I worked around the issue with `Clients.Client(clientConnectionId)` with `Clients.User(staOpsConnections.Id)`. I guess I will come back, when I have to create a anonymous hub. I am sorry that I don't have enough time to provide you a sa

[2019-11-19 19:56] sepehr1014 commented on #17221
@Tratcher
We haven't set any recycling policies. We just get crashes often and see these errors in the Event Log. How can I investigate why the app was shutting down?
At any given time, we have thousands of clients connected using web sockets. That might be preventing it from finishing.

[2019-11-19 19:59] khalidabuhakmeh commented on #17210
Hello @rynowak

The code at the top of this issue was more of a reproduction of the problem rather than what our code was actually doing.

The problem arose when we had a shared package that does common bootstrapping tasks for our ASP.NET Core applications. That shared package was calling `UseRouting` while the application utilizing the package was also calling `UseRouting`. This lead to two calls

[2019-11-19 20:09] rynowak commented on #17210
Thanks for sharing your feedback. I'm relieved that this was just a bump in the road for you to figure out and not something more difficult to reason about.

----

My general thoughts on routing + libraries in case it's useful to you...

I'd really strongly recommend not trying to hide the middleware pipeline in a library unless you're hiding **all** of it. The team spent a lot of time prior to 3.

[2019-11-19 20:17] khalidabuhakmeh commented on #17210
@rynowak Thank you for the feedback. I think we, @billbogaiv and I, learned your advice the hard way. I wonder how other middleware authors will learn from our mistakes? I think it is important to make development mistakes quickly discoverable.

[2019-11-19 20:41] shinhf opened #17240 "Blazor - GetJsonAsync doesn't accept null in the json from API"
### Describe the bug

httpClient.GetJsonAsync is unable to parse JSON downloaded from API that contain null value

### To Reproduce
[code]

### Error value

InvalidOperationException: Cannot get the value of a token type 'Null' as a number.

### Further technical details
- ASP.NET Core version 3.0

PS
I've tried setting addJsonOptions in Startup.cs (https://stackoverflow.com/questions/44595027/net

[2019-11-19 20:45] kevingosse commented on #17235
We're not aborting the request. We do nothing fancy in case of timeout, from Kestrel perspective it's processed like any normal request.
I'm a bit surprised that we've noticed this behavior in only one application, even though we use the exact same timeout logic everywhere. There's still something missing in the equation. I'll try digging some more, while rewriting the timeout handling the way you

[2019-11-19 20:55] Rick-Anderson commented on #17206
I can't repo with VS community 20019 Version 16.3.9

[code]

[2019-11-19 20:57] Tratcher commented on #17221
An app would only normally be shut down by
A) an external CTL+C or
B) something inside the app calling IApplicationLifetime.StopApplication.

That said, you're using IIS and that can trigger the CTL+C shutdown code if it wants. It might do this if
A) It sees file changes
B) It has a regularly scheduled recycle
C) The app is idle

Is this running on your own servers or on a hosting provider?

[2019-11-19 21:06] thiennn commented on #17147
Yes, actually it is. Thanks @lkubis

[2019-11-19 21:06] #17147 closed

[2019-11-19 21:06] Rick-Anderson commented on #17236
@jkotalik  this is a dup of #6075
Is this something we should document?

[2019-11-19 21:10] Rick-Anderson commented on #17204
Related #17205
@Dairai looks like it's available.

[2019-11-19 21:16] halter73 commented on #17037
I that the plan was that there would be two pipelines. Why wouldn't there be?

Having MultiplexedConnectionContext derive from ConnectionContext is not conservative. The more conservative action is to not have the is-a relationship. It could easily be added later, but removing the base class would be more tricky.

[2019-11-19 21:18] jkotalik commented on #17236
No, this should have been fixed. The following check was added to avoid this issue: https://github.com/aspnet/AspNetCore/blob/d7bfbb5824b5f8876bcd4afaa29a611efc7aa1c9/src/Servers/IIS/IIS/src/Core/IISHttpContext.cs#L196. I remember verifying this didn't occur anymore as well.

@vsadams is there more information you can provide us here? For example, .NET runtime version, line numbers, and the full s

[2019-11-19 21:42] NTaylorMullen commented on #17206
I believe this was fixed because I can no longer reproduce either

[2019-11-19 21:42] #17206 closed

[2019-11-19 21:50] Rick-Anderson commented on #16979
@HaoK  can you draft something we could add to the docs?
I'll add it to [Introduction to Identity}(https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-3.0&tabs=visual-studio)

Something like

The templates assume username and email address are the same.

[2019-11-19 21:55] kevingates commented on #16726
Any updates on my scenario also? Should I make a new issue?
@javiercn

[2019-11-19 21:58] Jcomper opened #17241 "Uploading huge files"
### Unable to upload big file when using IIS hosting
A clear and concise description of what the bug is.
When <aspNetCore hostingModel="outofprocess" /> and file size is greater then 2GB file upload is stucking and 502 Bad Gateway is returned

### To Reproduce
1. Download Sample [app](https://github.com/Jcomper/CoreUpload) which is based on samples [Upload files in ASP.NET Core](https://github.com

[2019-11-19 21:59] pranavkm commented on #17240
@shinhf could you share the JSON payload you're attempting to read and the `Ship` model that it's being bound to? The exception message makes it sound like you have a number type (such as an `int`) that is attempted to be bound to the `null` JSON token which sounds like a legitimate exception. Perhaps it needs to be bound to a nullable value?

[2019-11-19 22:14] Rick-Anderson commented on #16892
Other than the interesting academic exercise,  [Troubleshoot certificate problems](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.0&tabs=visual-studio#troubleshoot-certificate-problems) has the solution

[code]

[2019-11-19 22:14] shinhf commented on #17240
@pranavkm
this is based on the open SpaceX API. The JSON file can be downloaded from the address in the code: https://api.spacexdata.com/v3/ships

[2019-11-19 22:27] Vasilisdm commented on #17205
I can work with that if the issue is still open.

[2019-11-19 22:29] ffandreassoroko commented on #17170
Hi
we have a similar problem. ( just another lib `Microsoft.AspNetCore.SignalR.StackExchangeRedis` )
we created a lib for some default stuff (own hub base ) and added that lib to our micro services.

[2019-11-19 22:39] Rick-Anderson commented on #16864
We could add that to the docs- how to log `UserId`

[2019-11-19 22:54] bderveni opened #17242 "Parsing issue in API version via route"
### Describe the bug
Api versioning via the URL Path fails when the status contains the same character as the literal.

### Assumption

I read over the [API Version Format documentation](https://github.com/microsoft/aspnet-api-versioning/wiki/Version-Format) to see if there were any constrains on the values that **Status** in *[Version Group.]<Major>.<Minor>[-Status]* can take, but did not find an

[2019-11-19 23:06] jkotalik opened #17243 "There be many issues with our test infrastructure on AzDO"
I started diving into issues I/we have been seeing on AzDO with our test infrastructure and logging. Here are some issues we have:
- Test logs don't show up under attachments (so logged test doesn't show up) for both helix and non-helix builds. For example, [going here](https://dev.azure.com/dnceng/public/_build/results?buildId=431705&view=ms.vss-test-web.build-test-results-tab&runId=13664682&resu

[2019-11-19 23:07] rynowak commented on #17242
You should probably file this issue at: https://github.com/microsoft/aspnet-api-versioning - that project is separate and is built on top of ASP.NET Core

[2019-11-19 23:08] rjgotten commented on #12890
Yes. Bare minimum being the open ended `UseWebpackDevMiddleware` with freely configurable Webpack instance. That scenario is not supported by Microsoft's new solution, which only covers React and Angular apps built via their respective dedicated CLI tools.

And then there's still the pre-rendering support left to cover.

---

Concerning the basic webpack middleware:
I've already taken a fork of th

[2019-11-19 23:11] bderveni commented on #17242
@rynowak will file it there as well. However, the error results from the routing midleware in this repo.

[2019-11-19 23:13] snalwani commented on #17236
I am running into a similar issue, Here is the stack trace:

System.NullReferenceException:
   at Microsoft.AspNetCore.Server.IIS.Core.IISHttpContext.GetOriginalPath (Microsoft.AspNetCore.Server.IIS, Version=2.2.6.0, Culture=neutral, PublicKeyToken=adb9793829ddae60)
   at Microsoft.AspNetCore.Server.IIS.Core.IISHttpContext.InitializeContext (Microsoft.AspNetCore.Server.IIS, Version=2.2.6.0, Cultur

[2019-11-19 23:16] jkotalik commented on #17236
@snalwani this fix was only done in 3.0. Is it possible for you to upgrade to 3.0 and verify this behavior persists?

[2019-11-19 23:16] rynowak commented on #17242
It might be the case that there are problems in how api-versioning is using complex segments. I can tell you that this is an area that's often misunderstood.

[2019-11-19 23:18] aaronhudon-ts opened #17244 "Blazor: Guidance on model reference when using EditContext"
Guidance needed:

When using an EditForm where the EditContext is specified, and *not* the Model, what is the correct way to bind an input to the EditContext's model?

Now, I can handle the set {... } of the MyEditContext property, and extract the model from the Model property, and then use that object for binding, but i just want to be sure I'm following best practices.

E.g.
[code]

------ OR --

[2019-11-19 23:20] #14329 closed

[2019-11-19 23:22] #14288 closed

[2019-11-19 23:22] pranavkm commented on #17240
Could you share the `Ship` type that's being deserialized?

[2019-11-19 23:23] NTaylorMullen commented on #14269
Not duplicate. I misread this before

[2019-11-19 23:24] #14307 closed

[2019-11-19 23:25] NTaylorMullen commented on #14277
Duplicate of #14329

[2019-11-19 23:25] #14277 closed

[2019-11-19 23:26] jkotalik commented on #17037
What concerns me is how we would handle this in Kestrel as well as handling it in connection middleware. As I mentioned before:

For HTTP/3, we need to be able to accept a connection up to HttpConnection/Http3Connection. With that, it needs to go through all of the connection middleware first or we would need to short circuit the connection middleware pipeline and just create an HttpConnectionCont

[2019-11-19 23:28] NTaylorMullen commented on #14276
@ryanbrandenburg marking this as working so no one else steals 😉

[2019-11-19 23:36] bderveni commented on #17242
I opened an [issue ](https://github.com/microsoft/aspnet-api-versioning/issues/580) at: https://github.com/microsoft/aspnet-api-versioning.

[2019-11-20 00:08] Gruski commented on #2738
Although I am using WebForms, I am not using it like most. This was an old but large enterprise Webforms site that was slowly converted to use Vue.js client side framework and WebMethods in code behind. So although it is a WebForms project, we don't use it how it was originally envisioned: no server components (no runat="server" anything), no viewstate, no full page posts (no <form> tag). All rend

[2019-11-20 00:22] BrennanConroy commented on #17243
Looks like AzDo only supports trx and nunit for attachments https://docs.microsoft.com/azure/devops/pipelines/tasks/test/publish-test-results?view=azure-devops&tabs=yaml#attachments-support

[2019-11-20 00:24] rynowak commented on #17242
Great, let's use that to track.

[2019-11-20 00:27] Eilon commented on #2738
@Gruski I would recommend Razor Pages. It's extremely easy to start with: Just created a Pages folder in your ASP.NET Core app and start adding .cshtml files to it. Each page is essentially a URL, and you can put arbitrary HTML in it, then add any C# you want for server logic.

Try this tutorial to get started: https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?vi

[2019-11-20 00:28] Rick-Anderson commented on #16971
@javiercn  is this something we should doc in [Create reusable UI using the Razor class library project in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.0&tabs=visual-studio) ?

[2019-11-20 00:35] Gruski commented on #2738
@Eilon Do Razor Pages have code behind to place WebMethods in? Where would the WebMethods be placed? Looking at it it looks like it still uses a simplified version of server side MVC pattern behind the scenes which is redundant when using Vue.

[2019-11-20 00:42] Rick-Anderson commented on #15357
@ArieShout  wrote:

If we're not going to fix this, probably we can add some documentation on trouble shooting in [Troubleshoot certificate problems](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.0&tabs=visual-studio#docker---certificate-not-trusted ).

@ArieShout  what do you suggest I add to the docs?  Can you suggest an edit to my `H3` to increase SEO jui

[2019-11-20 00:52] Rick-Anderson commented on #15206
@rynowak if you can give me the code to do this, I'll document it in [Routing to controller actions](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-3.0)

I've seen lots of customer requests for this. It doesn't need to be a formal tool.

[2019-11-20 00:58] wulaiwei opened #17247 "too many .AspNetCore.OpenIdConnect.Nonce cause Nginx Request Header Or Cookie Too Large"
Steps to reproduce:

1.)
Go to some page that has authorization required (get redirected to IdenityServer login screen)
Notice that an OpenId.nonce cookie ending with some random suffix is created in browser (so far so good)

2.) Use the browser button to go back

3.) Click again on a link that requires authorization (get redirected to login screen again)
Now an additional OpenId.nonce cookie is b

[2019-11-20 01:00] javiercn commented on #16971
@Rick-Anderson That would help, but the most common case people run into is when they use Identity UI + MVC, I filed a separate issue to add it to the Readme file on the scaffolder, but getting it in the docs will also help

[2019-11-20 01:11] pranavkm opened #17248 "Figure out what to do with the AutoRebuild"
The code in here: https://github.com/aspnet/AspNetCore/tree/master/src/Components/Blazor/Server/src/AutoRebuild doesn't work any more. We need to figure out how to revive this feature.

[2019-11-20 01:14] slaneyrw opened #17249 "Unable to workout which AuthorizationPolicy failed"
### Describe the bug
I have multiple authorization policies, each testing a specific business condition ( i.e. presence of a claim on the user).

The AuthorizationMiddleware is combining all the requirements into a single AuthorizationPolicy so when an endpoint is decorated with more than one Authorize attribute I cannot tell which of the original policies failed, there is no way to tie the failed

[2019-11-20 01:23] Eilon commented on #2738
Razor Pages don't support WebMethods. I would recommend using MVC for those methods. You can mix Razor Pages and MVC in the same app.

[2019-11-20 01:25] javiercn commented on #17233
@jkotalik this normally goes in the internal repo.

We already have an issue tracking this and an on-going investigation. I'm going to close this issue for the time being as it is being tracked elsewhere.

[2019-11-20 01:25] #17233 closed

[2019-11-20 01:26] javiercn commented on #17100
We're closing this issue as we haven't seen community involvement and we need more information to reproduce the problem. If you have more details about the issue add a reply here with the new information and we'll re-evaluate the issue.

[2019-11-20 01:26] #17100 closed

[2019-11-20 01:27] jkotalik commented on #17233
I don’t necessarily know if that’s going to be the process going forward, but glad there is something else tracking it. Mind linking me the issue?

[2019-11-20 01:28] davidfowl commented on #17235
I think you're right that there's something else going on, it might be a race somewhere. I'm looking/

[2019-11-20 01:34] Rick-Anderson commented on #16971
If you can supply the draft instructions, I'll

* Clean up a version for the *Readme.txt* file.
* Add them to the docs.

[2019-11-20 01:42] halter73 commented on #16807
Unfortunately the pcap file also doesn't include any tcp packets containing FIN or RST flags. Http1ContentLengthMessageBody.ReadAsyncInternal only throws this exception of the ReadResult returned from the connection-level PipeReader IsCompleted. The only way I know this can happen is if there's a FIN from the client or some sort of socket error.

Can someone who's seen these errors include all the

[2019-11-20 02:07] javiercn commented on #17233
https://github.com/aspnet/AspNetCore-Internal/issues/2613

[2019-11-20 02:28] DanielCaspers commented on #1719
I had similar symptoms to what @peske's well upvoted answer was, but it was related to the move from {{netcoreapp2.2}} to {{netcoreapp3.0}}. We had a functioning app which could run and build from the IDE, which could no longer have the app run directly from the IDE.

The project has an x86 native dependency, and because of this we would always use the .NET Core x86 based SDKs. With Visual Studio

[2019-11-20 02:35] halter73 commented on #17205
I don't know how the @vsfeedback bot works, but SocketsHttpHandler is in https://github.com/dotnet/corefx, so we might want @vsfeedback to open that issue there.

Also, do we typically provide class-level doc comments for extension method classes? These classes are typically never explicitly referenced, only the extension methods themselves.  Not even WebHostBuilderExtensions has these.

I don't k

[2019-11-20 02:38] javiercn commented on #17205
@halter73 This is typically a VSTS query that someone moved to GitHub for better tracking. If you open the ticket you can see who moved it.

Feel free to route this appropriately and close the issue. Maybe the VSTS issue needs to be moved to a different area.

@anurse or @mkArtakMSFT can probably help with that.

[2019-11-20 03:38] MsNewbie opened #17250 "System.Text.Json.JsonSerializer.Deserialize not working with class ProblemDetails"
### Describe the bug
The deserialization of class ProblemDetails always return NULL value for properties(Title, status, etc.)

### To Reproduce

1. create a MVC application with .net core 3.0, try to deserialize below JSON string in Index() action. This JSON string was created by system.text.json.jsonserialize.serialize.
[code]
2. The out put always have null value properties, please check below i

[2019-11-20 03:57] Rick-Anderson commented on #13760
@glennc `@davidfowl` @danroth27 -
Should I add this to the [Migrate from ASP.NET Core 2.2 to 3.0](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio) doc so you can close this issue?

[2019-11-20 04:09] Tratcher commented on #17247
That's well outside the expected behavior of a user logging in. Can you give a realistic scenario where this would come up?

Keep in mind that those cookies have a short, configurable lifetime (15m by default?), they'll clean themselves up. The last cookie is also removed as soon as the user successfully logs in.

[2019-11-20 04:14] Tratcher commented on #17241
Related to https://github.com/aspnet/AspNetCore/issues/2711.

[2019-11-20 05:08] Grauenwolf opened #17251 "MarkupString is not being honored in attributes"
### Describe the bug

When trying to embed a line-break in a `title` attribute, I noticed that it is always encoded even when I use `MarkupString`.

### To Reproduce

    <label title="AAA&#013;BBB">Works</label>
    <br/>
    <label title="@((MarkupString)"AAA&#013;BBB")">Doesn't Works, the title is still escaped</label>

### Further technical details

[code]

[2019-11-20 05:40] Grauenwolf commented on #13704
I'm still seeing that error message despite having that using statement. Are there any other possible causes?

[2019-11-20 05:42] Grauenwolf commented on #13704
I'm still seeing that error message despite having that using statement. Are there any other possible causes?

Error	CS1660	Cannot convert lambda expression to type 'object' because it is not a delegate type

[2019-11-20 06:02] davidfowl commented on #17235
@kevingosse in the simplest repro I see several behaviors but haven't caught a hang condition yet:
- ObjectDisposedException
- RequestAbortedException

[2019-11-20 06:06] davidfowl commented on #17235
cc @halter73

[2019-11-20 06:08] Indrajith-Sync opened #17252 "Usage of the JsInteropAdaptor in Blazor to invoke the interaction between client and server"
Need to get the client side click action to server-side code using the JsInteropAdaptor. I have initiated and adaptor but i couldn't get the instance of the adaptor in client-side.

` public override DotNetObjectReference<object> Create() => DotNetObjectReference.Create<object>(this);`

In the client side i am getting `this` and in that `this.interopAdaptor` which is null in the client side. Am i

[2019-11-20 06:11] ryangribble opened #17253 "The "default" IConfiguration provided to Startup contains multiple nested providers with duplicates/triplicates in places"
### Describe the bug
The "default" `IConfiguration` provided to `Startup` seems overly complex, containing multiple nested providers with duplicates/triplicates in places.  This causes difficulty in reasoning about how the default configuration setup should work!

I'm mostly interested in whether this is intentional (and if so what the reasoning is) or whether it is inadvertent (passing around bui

[2019-11-20 06:26] ryangribble commented on #17253
NOTE: It does appear the EnvionmentVariables providers have different prefixes `"ASPNETCORE_"` `"DOTNET_"` and `""` so I guess that does start to make things clearly if they come from different areas/layers of the eco system...

[2019-11-20 06:36] warrior1305 opened #17254 "AddTransient for service with optional params in constructor"
### Describe the bug
I have a service with optional constructor's param. Resolving it via DI producing random value for that field
Everything worked ok for netcoreapp2.0, but in new version the behaivor has changed

### To Reproduce
[code]
[code]
[code]

Requests:
1) returns "10, 10"
2) returns "10, 10"
3) returns "{some_int}, {some_int}"
4+ requests return the equal to 3rd result

### Further tec

[2019-11-20 07:03] tttttvf opened #17255 "Project build operation"
### Is your feature request related to a problem? Please describe.
I tried to generate the XML of the. Net standard class library project to the webapi project generation directory, but it seems that I just copied the DLL file,The XML file does not seem to have been copied

### Describe the solution you'd like
The XML file of. Net standard class library should be included in the generated director

[2019-11-20 07:34] tttttvf commented on #17255
This seems to be related to my changing the name of the generated XML file. I have specified the name and relative path of the XML file. If I just open the XML file, I can copy it to the generated directory normally

[2019-11-20 08:04] shinhf commented on #17240
`    public class Mission
    {
        public string mission_name { get; set; }
        public string mission_id { get; set; }
        public List<string> manufacturers { get; set; }
        public List<string> payload_ids { get; set; }
        public string wikipedia { get; set; }
        public string website { get; set; }
        public string twitter { get; set; }
        public string descri

[2019-11-20 08:14] Webreaper commented on #17079
Updated to 8.4 build 2535 last night, and the problem is still present (I know you're still probably investigating so wasn't expecting it to be fixed :))

[2019-11-20 08:42] MaherJendoubi commented on #16892
@Rick-Anderson FYI, I used the 2 commands but the problem persists.

[2019-11-20 08:49] ileve commented on #17180
If you mean the debug output window, it displays what i have already mentioned above.
`An unhandled exception of type 'System.InvalidOperationException' occurred in System.Private.CoreLib.dll
The 'IXmlRepository' instance could not be found. When an 'IXmlEncryptor' instance is set, a corresponding 'IXmlRepository' instance must also be set.`

The invalid operation exception happens when in `Progra

[2019-11-20 08:50] Grauenwolf commented on #15266
I have been using this to detect pre-rendering:

        /// <summary>
        /// Gets or sets a value indicating whether this instance is connected.
        /// </summary>
        /// <value><c>true</c> if this instance is connected; <c>false</c> if it is pre-rendering.</value>
        protected bool IsConnected { get; set; }

        protected async override Task OnInitializedAsync()
        {

[2019-11-20 08:52] ileve commented on #17180
I will test it on a windows 10 laptop machine, to see if the same thing happens and i will update my feedback info.

[2019-11-20 08:52] rysep2 opened #17256 "IdentityServer4 for Blazor"
I'm trying to fit my Blazor Server Side application into our existing IdentityServer4 process. At the moment there is no official documentation concerning this topic and I'm forced to use hacky workarounds that in turn produce uncommon errors. In [this github issue](https://github.com/aspnet/AspNetCore/issues/12601) I already addressed one of those errors that I still can't solve.

On stackoverflo

[2019-11-20 08:56] novfal opened #17257 "How Preview the Attachments(File in"
### How Display the Bytearray format file in Browser instead of download

### Further technical details
- ASP.NET Core 3.0
- Blazor`
- (VS2019)

[2019-11-20 08:59] #17252 closed

[2019-11-20 09:23] Misiu commented on #5289
Microsoft is using Chromium in new EDGE, so maybe now adding custom headers support will be easier.
There is an issue in spec repo - https://github.com/whatwg/html/issues/3062.
Please up-vote and comment on that issue.

[2019-11-20 10:27] YoanaDimitrova-kpmg commented on #17226
@javiercn Thanks for the response but that's not what I need unfortunately. So, your sample looks a lot like an instance of the Razor template for a server-side app, I think that worked even without upgrading to the latest preview.
What I need however, is to be able to add a Razor component to an existing MVC app with a call to RenderComponent (see my previous comment). This still does _not_ work

[2019-11-20 10:35] daniatic commented on #16332
I landed here looking for a way to add the *transitionend* event to an element, but I only could find the list of "natively"supported events and that "arbitrary events" are being worked on. How is the state on this? Is the only way to bind to unsupported events by using JSInterop?

[2019-11-20 10:38] daniatic commented on #5501
I landed here looking for a way to add the *transitionend* event to an element, but I only could find the list of "natively"supported events and that "arbitrary events" are being worked on. How is the state on this? Is the only way to bind to unsupported events by using JSInterop?

[2019-11-20 11:03] Jcomper commented on #2711
@ryanski44
Could you please share the way you get rid of the request filtering module from IIS? I'm struggling with the same problem.

[2019-11-20 11:11] rgueldenpfennig commented on #13834
I'm a bit surprised that this bug is planned to be fixed in the 5.0.0 milestone. Due to [#7644](https://github.com/aspnet/AspNetCore/issues/7644) we changed our code from

[code]

to
[code]

To prevent IO from blocking.

Is this a recommended workaround?

[2019-11-20 11:32] mathysd commented on #14392
The react template seems to have the same issue.

It seems something has changed in the way the httpclient is working in .netcore 3.

see also my comment in:

[dotnet/corefx](https://github.com/dotnet/corefx/issues/41952#issuecomment-555460328)

[2019-11-20 11:34] FelipeCostaGualberto commented on #16970
Hi! Any news on this? I couldn't write CRUD applications because of this.
Peharps force running a native JavaScript code in the component's initialization would work?

[2019-11-20 12:48] pjustino opened #17258 "Compilation error on VS2019 for mac, Microsoft.AspNetCore.Mvc.Razor.Extensions.dll cannot find /usr/local/bin/host/fxr"
### Describe the bug

Hi,

I'm using Visual Studio for mac (version 8.3.9(build2) ) and now  any asp.net core  project don't compile due to a razor error.
`
    /usr/local/share/dotnet/sdk/3.0.100/Sdks/Microsoft.NET.Sdk.Razor/extensions/mvc-3-0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll

    A fatal error occurred, the folder [/usr/local/bin/host/fxr] does not exist
    /usr/local/share/dotnet/

[2019-11-20 13:14] stephenlautier commented on #17090
I was going to open an issue but then I found this one which is very similar.

After updating our app to netcore3 from netcore2.2, we started getting several errors randomly, and on netcore2.2 we never had this error.

This is the stack we are getting:

[code]

We are using
- Docker (linux) based on mcr.microsoft.com/dotnet/core/aspnet:3.0-buster-slim
- netcore3

[2019-11-20 13:27] Indrajith-Sync opened #17259 "In Blazor creating the Same Element Multiple times in DOM."
Is there any possibility of appending the same element multiple times in the DOM. I have tried this below case.

[code]

In this case the same element is not appended in the DOM for multiple times. Any solution for this ?

[2019-11-20 13:40] javiercn commented on #17226
@YoanaDimitrova-kpmg there is no funcional difference between adding a single component or multiple ones.

Both things should work. I used the top level one because it’s simple.

If you provide a minimal repro that would help.

[2019-11-20 13:55] javiercn commented on #17259
@Indrajith-Sync thanks for contacting us.

You don't need to call state has changed yourself. Blazor re-renders the entire UI and updates it based on the changes from the previous render (if any).

In your case you are simply rendering a single element conditionally, so that's what you will get. If you want to render multiple elements you would have to do something like keeping a counter of elemen

[2019-11-20 13:56] #17259 closed

[2019-11-20 13:57] javiercn commented on #17258
@pjustino thanks for contacting us.

@NTaylorMullen do you have any idea?

[2019-11-20 13:58] javiercn commented on #17257
Thanks for contacting us @novfal .

It looks like this is a question about how to use Blazor. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow using the asp.net-core-blazor tag.

[2019-11-20 13:58] #17257 closed

[2019-11-20 14:03] javiercn commented on #17256
@rysep2 thanks for contacting us.

I'm not sure what flow you are trying to use, but you should use the same flow available in a traditional server-side application. Meaning you do an OIDC flow using the asp.net core OIDC authentication handler and then you stamp a cookie out of it.

At which point your server-side blazor application uses that cookie. You might need to do an additional step to pas

[2019-11-20 14:05] javiercn commented on #17255
@tttttvf thanks for contacting us.

We believe this issue has nothing to do with ASP.NET Core and should be reported elsewhere. You could try reporting it through the send VS feedback dialog to get a better answer.

You can follow instructions https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019#report-a-problem

@Pilchie do you know who the right team to route this issu

[2019-11-20 14:13] javiercn commented on #17253
@ryangribble thanks for contacting us.

As you mention, this is this way because the information comes from multiple sources at different levels, for example hosting has a provider that handles `ASPNETCORE_...` environment variables that are used to set up things like listening urls etc.

See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.0#default-confi

[2019-11-20 14:13] #17253 closed

[2019-11-20 14:15] javiercn commented on #17251
@Grauenwolf thanks for contacting us.

Could you provide more details? Are you prerendering your app?

[2019-11-20 14:16] javiercn commented on #17250
@MsNewbie thanks for contacting us.

@pranavkm is this a system.text.json thing? (Are we missing setters in ProblemDetails?)

[2019-11-20 14:34] arthurvaverko commented on #17090
Okay so I can confirm that while increasing the min Threadpool threas help but no enough, we were still hitting starvation and getting timeouts.

What helped was adding the concurrency limiter and setting it to the default of` `Environment.ProcessorCount * 2;`
in addition we had to increase the min threads to compensate for the *2 concurrency.

anyway playing with these 2 did the trick and the leg

[2019-11-20 14:37] vsadams commented on #17236
I might have spoke too soon.  Looking at the logs closer its showing the 2.2.6 version of the AspNetcore.Server assembly.  There might have been something weird that happened after deploying the 3.0 upgraded versions of the apps. Im closing this issue til I can reproduce it with the correctly versioned assembly.

[2019-11-20 14:37] #17236 closed

[2019-11-20 14:47] bati06 commented on #6140
I think that concatenating values (from system and web.config) for this variable is definitely a BUG.

I have a scenario where there is a server with different sites hosted on it (in IIS).

Some of the sites which is not managed by me is using the system environment variable ASPNETCORE_ENVIRONMENT=development (They should not do this way but that's the situation.)

The site I manage is using web.c

[2019-11-20 16:17] BrennanConroy opened #17260 "OnDisconnectedAsync has null exception when user lost signal"
_From @kienit on Wednesday, November 20, 2019 3:50:33 AM_

I have SignalR hub which has OnDisconnectedAsync() override the base method.
I expected when user lost signal, I must have some reason. However, it always return null

### Expected  behavior
Exception must has some message instead null

### Actual behavior
null exception

### Steps to reproduce

 public override async Task OnDisconnectedAs

[2019-11-20 16:18] Tratcher commented on #16892
That does not apply to IIS Express, only Kestrel. IIS Express sets up its own certificate at install time and the only repair mechanism is to run the installer repair. The interesting question here is how did the cert get broken?

[2019-11-20 16:22] jkotalik commented on #17241
From what I can tell, the max you can have in IIS is 4 GB as that is the max value of the uint field that can be read.

The only thing I can think of is removing the request filtering module from IIS, but I wouldn't recommend doing that. Removing default modules can be risky.

Can you control how the client is uploading the file? Potentially doing a chunked upload instead?

[2019-11-20 16:28] anurse commented on #17205
We should.

Covered by https://github.com/dotnet/dotnet-api-docs/issues/1551 already.

Agreed, I can't find that or what the original author was referring to by "Configuration".

Let's take this work item as adding class-level XML docs to:

* WebHostBuilderSocketExtensions
* WebSocketMiddlewareExtensions

@Vasilisdm if you're interested, feel free to submit a PR! XML doc updates are pretty easy, y

[2019-11-20 16:36] YordanYanakiev opened #17261 "Blazor Shared Project Template"
### Is your feature request related to a problem? Please describe.
Currently I am working on a project which finally turns out that is having both Client and Server side Brazor solutions, and most of it's pages is actually just the same.
I've followed some tutorials on web for solution of such problem, and it is working more or less, but it's a quite of messy, especially for a starter project.

##

[2019-11-20 16:40] NTaylorMullen commented on #17258
Honesty this looks like a bad .NET install.

@KirillOsenkov have you seen this before?

[2019-11-20 16:45] KirillOsenkov commented on #17258
never seen anything like this and no idea what the problem is

[2019-11-20 16:46] ileve commented on #17180
I have just tested it in Windows 10 machine and i still get the same exception. It has nothing to do with the windows operating system.

[2019-11-20 17:01] sh0uzama opened #17262 "BuildManager.GetCompiledType in ASP.NET Core"
Is there a way in **ASP.NET Core** to get the compiled type of a razor view?

In the "old" **ASP.NET MVC** this was possible by invoking:

`var compiledType = System.Web.Compilation.BuildManager.GetCompiledType(fullPath);`

where `fullPath` is the path to the cshtml razor view.

[2019-11-20 17:04] kevingkday opened #17263 "Error during WebSocket handshake: Unexpected response code: 200"
A server side Blazor app that I created in VS 2019 Preview works fine locally, and it also works fine on the production server without SSL.  However, when I added SSL certificate (through load balancer on AWS) Blazor no longer connects.  If I change from https to http, then Blazor connects ok, so it is definitely an issue with the SSL.  It is a purchased store certificate that validates on SSL che

[2019-11-20 17:05] Pilchie commented on #17255
I think this is either `dotnet\sdk` or `dotnet-project-system`.  @nguerrera or @tmeschter to you know which?

[2019-11-20 17:18] pranavkm opened #17264 "Update Blazor.Build to use a task to launch the linker"

[2019-11-20 17:18] javiercn commented on #17258
@NTaylorMullen Can you handle it or close it if it's external?

[2019-11-20 17:19] javiercn commented on #17262
@sh0uzama thanks for contacting us.

We emit attributes in the Views assembly that could be used to find the types.

@pranavkm any thoughts?

[2019-11-20 17:19] #17262 closed

[2019-11-20 17:21] javiercn commented on #17250
This is a bug that we fixed in 3.1, the problem can be worked around by writing a custom json converter.

See #17031 for more details on a similar issue.

[2019-11-20 17:21] #17250 closed

[2019-11-20 17:24] javiercn commented on #17263
@kevingkday thanks for contacting us.

@kevingkday Seems like the client is trying to use long-polling, you might need to do additional work to enable websockets in your site.

@BrennanConroy @anurse do you have any idea of what can be happening here?

[2019-11-20 17:25] NTaylorMullen commented on #17258
Closing given this looks to be a bad .NET install

[2019-11-20 17:25] #17258 closed

[2019-11-20 17:29] javiercn commented on #17261
@YordanYanakiev thanks for contacting us.

We'll evaluate this ask and update the issue in the future.

[2019-11-20 17:31] dagood opened #17265 "Stop producing RHEL-style RPM packages for aspnetcore-runtime?"
The release process seems to have stumbled on the RHEL-style packages in a recent release (https://github.com/dotnet/core/issues/3863), and @omajid brought up the question of whether they're necessary:

I'm not familiar with these packages myself.

The release process *should* be able to handle these being created, however stopping producing artifacts is typically a nice simplification if possible

[2019-11-20 17:31] BrennanConroy commented on #17263
The errors with LongPolling should be fixed in 3.0.1 and 3.1.0 previews. The 200 with websockets is likely an issue with your proxy/server not supporting websockets.

[2019-11-20 17:40] omajid commented on #17265
For some context, and as I understand the history:

Back in the 2.x days of .NET Core, we (Red Hat) shipped .NET Core for RHEL 7, using source-build. At that point, .NET Core 2.0 had a [runtime store](https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-store) including ASP.NET Core bits needed at runtime. source-build didn't build ASP.NET Core at that point. So users were left with a so

[2019-11-20 17:41] javiercn commented on #17244
@aaronhudon-ts thanks for contacting us.

In order for us to investigate this issue, could you please provide a minimalistic repro project that illustrates the problem?

[2019-11-20 17:45] Indrajith-Sync commented on #17259
Thank you for your suggestions...! @javiercn

[2019-11-20 17:54] jkotalik commented on #14662
Regarding

To make sure, are you running inprocess or out of process here?

Besides that, I don't see how this could AV at the given location. If aspnetcore.dll is being unloaded, I imagine the worker process is shutting down. In your dump, can you check if there are other threads running things in the aspnetcorev2.dll or aspnetcorev2_inprocess.dll?

[2019-11-20 17:57] blowdart commented on #17249
Can I ask why it's important to know what policy failed? Are you going to change the UI based upon it?

[2019-11-20 18:16] javiercn commented on #17263
Closing this issue as there's no further action for us to take here.

[2019-11-20 18:16] #17263 closed

[2019-11-20 18:18] kevingosse commented on #17235
I found something else that looks fishy in the memory dump.

For various reasons, we make a copy of the HTTP headers at the beginning of the processing of the request. In a small number of stuck threads (12 out of 3253), I found a mismatch between the Content-Length header that we copied and the value of `_contentLength` in the `Http1MessageBody.ForContentLength` object. Are you aware of a scenari

[2019-11-20 18:22] javiercn commented on #5528
We are closing this issue as we have determined that this functionality can be built on top of the framework and that we don't plan to add it to the core framework.

[2019-11-20 18:22] #5528 closed

[2019-11-20 18:22] Rick-Anderson commented on #13760
@pranavkm Should I add this to the [Migrate from ASP.NET Core 2.2 to 3.0](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio) doc so you can close this issue?

[2019-11-20 18:32] JPVenson opened #17266 "JSInteropt calls of byte[]'s result in string conversion"
### Describe the bug
As written in https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interop?view=aspnetcore-3.0#invoke-javascript-functions-from-net-methods it should be clear that it is possible to transfer arrays of numbers from c# client code to a js method. This does not seem to work with arrays of bytes. When calling a js function with an int[] the method will receive an object

[2019-11-20 18:47] kevingosse commented on #17235
The only scenario I can think of for the content-length mismatch is:

 - Thread1 starts processing request1. Processing times out so kestrel believes we're done with the request
 - Thread2 starts processing request2, reusing the HttpProtocol object. `Streams.Start` is called, resulting in a new MessageBody being assigned to the HttpRequestStream
 - Thread1 finally gets to the point where it tried

[2019-11-20 18:52] muratg commented on #4698
cc @anurse @Tratcher @halter73

[2019-11-20 18:56] willdean commented on #9436
Even with @Daddoon's polyfill (a great help, many thanks), we've had a problem with s/s Blazor with IE11 when the root component is hosted on a page which isn't at the root path `/`.  (This is on 3.1 preview 3)

What happens is that SignalR tries to connect to `http://localhost/our/path/_blazor`, rather than `http://localhost/_blazor` which is what all the modern browsers do.

I gave up trying to

[2019-11-20 18:58] jkotalik commented on #17185
As @pranavkm mentioned, mixing 2.2 and 3.0 dependencies like this isn't supported. Closing.

[2019-11-20 18:58] #17185 closed

[2019-11-20 18:58] halter73 commented on #17260
Why are you getting the current user from `Context.GetHttpContext().User` instead of using [Context.User](https://docs.microsoft.com/en-us/aspnet/core/signalr/hubs?view=aspnetcore-3.0#the-context-object) directly?

[2019-11-20 18:58] Tratcher commented on #4698
@j-hudecek what are the call stacks for the other threads?

[2019-11-20 19:04] pranavkm commented on #13760
Isn't this already covered by https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#framework-reference?

[2019-11-20 19:06] blowdart commented on #17132
You're mixing both asp.net login and angular based logins? Considering the identity template has no concept of your angular duplication it's not unsurprising this is happening. This does feel beyond the scope of identity at this point.

[2019-11-20 19:08] ajaybhargavb commented on #14278
https://github.com/aspnet/AspNetCore-Tooling/pull/1336

[2019-11-20 19:08] #14278 closed

[2019-11-20 19:09] Jcomper commented on #17241
@jkotalik

I agree that chunked upload looks like a reasonable way for production. And clients of API will have to implement it their side. But I'm still interested in removing the request filtering module from IIS for test purposes. Do you know how that can be achieved?

[2019-11-20 19:11] ajaybhargavb commented on #14282
After a meeting with the Omnisharp team, we've decided to update Omnisharp to provide Razor with an interface that will be called during various refactoring event on .cs files. This will enable us to fully support features like renames, go-to implementation, find all references etc.

[2019-11-20 19:16] scottkdavis opened #17267 "Frequent Start/Stop connection not working well in SignalR Core Client 3.0"
I have a Xamarin mobile app that has a slide out tab for a chat interface. When the tab is opened, I connect to the Azure SignalR Service (not self-hosted in a web app). When the tab is closed, I stop the connection.  If a user closes the tab, then quickly reopens it (1 second), the SignalR connection often cannot recover.  I do not use auto-reconnect. I don't want it. I have good connection manag

[2019-11-20 19:25] talalkhan opened #17268 "HttpResponse.OnCompleted isn't working as expected"
I have tested this defect on .net core 2.2 and 3.0. It's a bug when using IIS Express but it's working as expected when switch to Kestrel. OnCompleted doesn't fire after response.
Steps to reproduce:
Run the following code in IIS express and put the breakpoint on "await Task.Delay(2000); " line.
You will see the response is sent in the browser and then the following code is executed when using the

[2019-11-20 19:32] j-hudecek commented on #4698
@Tratcher

I don't really know how to use the dotnet-dump analyze properly (like how to unwind stack - walk it up) but it doesn't seem there is much else going on:

	ThreadCount:      145
	UnstartedThread:  0
	BackgroundThread: 107
	PendingThread:    0
	DeadThread:       37
	Hosted Runtime:   no
																											Lock
	 DBG   ID OSID ThreadOBJ           State GC Mode     GC Alloc Context

[2019-11-20 19:34] vsfeedback opened #17269 "IHtmlLocalizer<SharedResource> won't work with VS 2019 16.4 Preview 5"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/826526/ihtmllocalizer-wont-work-with-vs-2019-164-preview.html)._

---
[regression] [worked-in:16.4 Preview 2 to 16.4 Preview 5]
Using ASP .Net Core 3.0.

When using **IHtmlLocalizer&lt;SharedResource&gt;** in view (with **AddLocalization(o =&gt; o.ResourcesPath = &quot;Reso

[2019-11-20 19:35] Vasilisdm commented on #17205
I will try and do that!
Thanks for the update!

[2019-11-20 19:36] mkArtakMSFT commented on #17269
@ryanbrandenburg can you please look into this? Thanks!

[2019-11-20 19:49] Rick-Anderson commented on #13760
No mention of
`    <OutputType>Library</OutputType>`

But maybe that's not necessary
If we have enough, can you close this issue?

[2019-11-20 20:04] campersau commented on #17115
The mono wasm `HttpClientHandler` does not support a lot of things and [throws `PlatformNotSupportedException`s when setting some properties](https://github.com/mono/mono/blob/4961d411e7f6a425c4b7fad86b72f02947f9c817/mcs/class/System.Net.Http/System.Net.Http/HttpClientHandler.wasm.cs).
This might be the real issue for the OP here because Flurls `DefaultHttpClientFactory` always sets [`AutomaticDec

[2019-11-20 20:21] mikeChatsky opened #17271 "Alternative access token query key for SignalR bearer authentication"
I have a custom authentication flow that involves attaching an access token to the headers/query string using a "token" key (`url: ...?token={my-token}`). I was able to set query strings on the **old** signalr ASP.NET JS client as the documentation states:

`var connection = $.hubConnection();
connection.qs = { 'version' : '1.0' };`
https://github.com/SignalR/bower-signalr/blob/bdc7cb4b255e41acf09

[2019-11-20 20:36] SteveSandersonMS commented on #17115
Yes, this is fixed with https://github.com/aspnet/Blazor/pull/1938

If you find there are parts of the API surface that don't work, but you believe they *should* work from a browser context (that is, it's not just a JavaScript limitation), then could you please report the details of that as a separate issue? Thanks!

[2019-11-20 20:36] #17115 closed

[2019-11-20 20:40] anurse commented on #17205
Done! Looking forward to it!

[2019-11-20 20:45] SteveSandersonMS commented on #16970
I'm afraid I wasn't able to reproduce any issue here. It's working as expected for me. The behavior I see is:

 * Initially the values of both `select` elements are `-- Select a Situation --`, since there are no entries in the dropdown when it initially gets bound (you're loading the data asynchronously)
 * After the data has loaded and the dropdowns get populated, it still says `-- Select a Situa

[2019-11-20 20:49] yuchen-w commented on #14723
Without disabling the Code Analysis (Project Settings > Code Analysis > Run On Build) this error prevents my project from building in Visual Studio.

[2019-11-20 20:52] pranavkm commented on #13760
If you're targeting `Microsoft.NET.Sdk` or `Microsoft.NET.Sdk.Razor`, the `OutputType` is `Library` by default. So theoretically that's not necessary if @mrgleba had followed the migration guide.

[2019-11-20 21:12] anurse commented on #17136
Closing this issue as #13651 is tracking the actual work here (logging).

[2019-11-20 21:12] #17136 closed

[2019-11-20 21:15] anurse commented on #17170
Correct. This type was in an `Internal` namespace (meaning it was not supported) and is no longer public in 3.0 as part of cleaning up the `Internal` namespace.

[2019-11-20 21:17] anurse commented on #17260
What do you mean by "lost signal"? Can you collect debug logs from SignalR? See https://aka.ms/aspnet/signalr/troubleshoot for guidance on how to do this.

[2019-11-20 21:21] pranavkm opened #17272 "Consider adding an option to the MVC \ Razor Pages template that enables runtime compilation by default"
As part of .NET Core 3.0, runtime compilation of views and Razor Pages was moved to a separate package. Our migration guide has a section that deals with re-adding runtime compilation to their projects. Reloading views on file changes relies on VS which only works when the debugger is not attached,

We've had several reports of users being surprised or confused when changes to the views aren't bei

[2019-11-20 21:21] anurse commented on #17271
Couldn't you also just do this by setting a query string token in the URL or using a header? Like this:

[code]

If you need to "refresh" it with new values, you could also provide a custom `HttpClient` implementation by setting the [`httpClient`](https://docs.microsoft.com/javascript/api/%40microsoft/signalr/ihttpconnectionoptions?view=signalr-js-latest#httpclient) property.

[2019-11-20 21:28] anurse commented on #17267
This seems really odd to me. The new connection should be using all new state. Can you share a snippet of code illustrating how you create the connection? What options you set, etc.?

**Also**, can you capture a network trace and debug logs from the client side? See https://aka.ms/aspnet/signalr/troubleshoot for guidance on how to enable this.

[2019-11-20 21:32] mikeChatsky commented on #17271
@anurse I did try to add a custom httpClient that attaches a token to the query, however, the WS request (after negotiate) doesn't seem to go through the custom httpClient.

[2019-11-20 21:34] anurse commented on #17167
Can you provide a repro project or at least the content of the form fields?

[2019-11-20 21:37] anurse commented on #7341
We believe this is showing a product issue that's going to take some work. Putting this in 5.0.

[2019-11-20 21:38] Daddoon commented on #9436
Are you sure you are using a recent version of my polyfill ? I had fixed something about a similar issue some weeks ago.

Do you have a repro project with this bug ? If i can fix something about it, it would be better.

[2019-11-20 21:44] javiercn commented on #17266
@JPVenson thanks for contacting us.

I believe this is the expected behavior as we are using system.text.json and it will base64 encode byte arrays during serialization. It is likely that you need to use `atob` or a similar method to transform it back.

[2019-11-20 21:45] anurse commented on #17193
@sepehr1014 can you post the output of running the `ver` command from the command prompt? You are correct, to use a different version of IIS you'd need to switch to an older or newer OS

We cannot proceed without a dump unfortunately. There's no context in the event log as to _why_ the issue is occurring.

[2019-11-20 21:47] anurse commented on #17204
@Dairai we'd love a PR for this!

[2019-11-20 21:53] pranavkm commented on #17272
For the last bullet point, we have a sample of what the template might look like if we conditionally referenced the package:

* https://github.com/aspnet/samples/blob/master/samples/aspnetcore/mvc/runtimecompilation/MyApp/Startup.cs#L32-L41
* https://github.com/aspnet/samples/blob/master/samples/aspnetcore/mvc/runtimecompilation/MyApp/MyApp.csproj#L11-L13

/cc @DamianEdwards

[2019-11-20 21:55] anurse commented on #4698
Try the `dumpasync` command in `dotnet dump analyze`: https://github.com/Microsoft/vs-threading/blob/master/doc/dumpasync.md (the preceeding `!` is only needed when opening in WinDBG, so the command is just `dumpasync`).

The fact that there are no tell-tale stacks indicates that it may be a hangning .NET Task. A Task that is waiting on something to trigger it does **not** block a thread so the ca

[2019-11-20 22:02] jeroenheijmans commented on #17132
Hmm, they're not so much "Angular logins", but ASP.NET Core Identity users via the suggested [IDS4 and ASP.NET Core Identity bridge](http://docs.identityserver.io/en/latest/quickstarts/8_aspnet_identity.html). Since I was using that approach, it made some sense to me to also use the Identity Scaffolding for identity related views.

Nearly all the views and flows for users that I got from the scaff

[2019-11-20 22:06] anurse commented on #15011
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-11-20 22:06] #15011 closed

[2019-11-20 22:07] halter73 commented on #4698
Since there are so many threads, and it doesn't look like `clrstack` was run on all of them, `clrstack -all` might also be interesting.

[2019-11-20 22:07] jogibear9988 opened #17275 "HPackDecodingException: Index 79 is outside the bounds of the header field table."
### Describe the bug
I've a simple Kestrel App only used as a HTTP2 Server

I've two Pages (index.html and config.html) wich mostly load the same files (the config.html some more)

The index.html works, the config.html fails cause of this exception (some files are loaded till it fails)

info: Microsoft.AspNetCore.Server.Kestrel[31]
      Connection id "0HLRE0HSQNN80": HPACK decoding error while de

[2019-11-20 22:08] Rick-Anderson commented on #13509
This is a doc issue. Recommend closing.
cc @mkArtakMSFT

[2019-11-20 22:09] jogibear9988 commented on #17275
My simple program looks like this...

Where MccHttpServer is a class Providing our HTTP Results...

	using MCC.WebSocket.Service.MccHttpServer;
	using Microsoft.AspNetCore.Builder;
	using Microsoft.AspNetCore.Hosting;
	using Microsoft.AspNetCore.Server.Kestrel.Core;
	using Microsoft.Extensions.Configuration;
	using Microsoft.Extensions.Logging;
	using Pluralsight.Crypto;
	using System;
	using Syst

[2019-11-20 22:10] Rick-Anderson commented on #13517
@yashwanthreddyg do you have more information on this?

[2019-11-20 22:11] JPVenson commented on #17266
@javiercn you are right with the base64 stuff i checked it myself:

[code]

Results in:
[code]

still fmpov this is not exactly the expected behavior.

[2019-11-20 22:16] Rick-Anderson commented on #13248
@Yuzal is this still a problemm? Can we close this issue?

[2019-11-20 22:17] anurse commented on #16892
@MaherJendoubi you can run this PowerShell command to export the cert (does not work in PowerShell Core, you have to use `powershell.exe`): `Export-Certificate -Cert (dir Cert:\LocalMachine\My\ | where { $_.FriendlyName.StartsWith("IIS") }) -FilePath cert.crt`. Then send us `cert.crt`. The private key is not included but I think that might be enough for this.

The cert should have the friendly nam

[2019-11-20 22:20] anurse commented on #17201
Generally, both the client and server WebSocket implementations have not used the keep-alive feature to detect disconnected clients. It's just to keep proxies from terminating the connection (and has _some_ benefit in detecting disconnection because OSes usually don't manifest a disconnection until the app reads or writes on the socket).

This is also a reason why ASP.NET Core can't really do this

[2019-11-20 22:23] jogibear9988 commented on #17275
okay, works using aspnetcore 3.1

never saw that my nuget with kestrel only is not updatet to version 3

[2019-11-20 22:23] #17275 closed

[2019-11-20 22:24] Grauenwolf commented on #17251
Yes, prerendering is enabled.

I don't know if the bug happens all the time or only during pre/normal rendering. (I'm just starting with this.)

[2019-11-20 22:24] pranavkm commented on #17240
@shinhf as I said earlier, the JSON payload has null values for nearly all the numeric values in your types. Changing these to nullable values should resolve this error. The error message should describe the JSON path that produced the error. For instance, here's what I get:

[code]
which indicates that the `imo` property would need to be marked as nullable:

[code]

[2019-11-20 22:24] #17240 closed

[2019-11-20 22:48] anurse commented on #17271
Ah yeah, that is true. The browser API for WebSockets is completely separate from the HTTP APIs.

My big concern with this is that we chose that query string value [based on the OAuth spec](https://tools.ietf.org/html/rfc6750#section-2.3) and we always want to be cautious when adding new config options since they are new public API and can't really be changed once we add them :).

Can you provide

[2019-11-20 22:50] Tratcher opened #17276 "Expose Http.Sys's Http/2 Reset error code API"
Http.Sys always uses the Http/2 error code Cancel when you abort a request. There are a few situations where we'd like to override that:
A) Unhandled app exceptions should return INTERNAL_ERROR.
B) gRPC wants to report NO_ERROR.

A new Http.Sys API is being added to allow changing the error code.
[code]

[2019-11-20 22:50] willdean commented on #9436
@Daddoon - I'm not sure it's fixable in your polyfill, but if I can build a simple repro then I'll open an issue on your repro for you to look at.

[2019-11-20 22:51] Tratcher commented on #17276
@JamesNK

[2019-11-20 22:53] Daddoon commented on #9436
Thanks !

Le mer. 20 nov. 2019 à 23:51, Will Dean <notifications@github.com> a écrit :

[2019-11-20 23:21] miguellira opened #17277 ".NET Core 3.0 + Angular 9 cli application called via the SpaServices extensions hangs in common configuration"
### Describe the bug
Running a `.NET Core 3.0` + `Angular 9 cli` (version **9.0.0-rc.2** as of this post) with the angular cli build option `progress` set to `false` will hang until the `StartupTimeout` expires (default: 120 seconds)

### To Reproduce
I created a [repo](https://github.com/miguellira/Angular9CliTemplateBug) with a bare bones `.NET Core 3.0` + `Angular 9 cli` application to demo the

[2019-11-20 23:28] danroth27 commented on #13760
@scottaddie was working with@DamianEdwards on some content specifically for ASP.NET Core library authors that I believe covers this scenario.

[2019-11-20 23:37] willdean commented on #9436
@Daddoon Thank-you for pushing me to create a repro.  This lead to the discovery that the problem was the `base` element being in the body of the page, not the head - i.e. entirely my fault...  Thanks for the help.

[2019-11-20 23:51] #8696 closed

[2019-11-20 23:52] Safirion commented on #17269
Hi,

I don't understand the tag "5.0.0-preview1".

It must be corrected in next release of VS, I don't think it's related to ASP Net core since I use .Net Core 3.0 in both VS 2019 16.3 and VS 2019 16.4 Preview 5 ?

[2019-11-21 00:02] Tratcher opened #17278 "HttpSys RequestAborted is not correct if created after the disconnect"
HttpContext.RequestAborted in HttpSys is lazy initialized. This is fine if that happens before the disconnect, but if the disconnect has already happened then an uncancellable token is returned rather than a cancelled one.
https://github.com/aspnet/AspNetCore/blob/642fe1631d31a42e253fc383c392dd701a243a78/src/Servers/HttpSys/src/RequestProcessing/RequestContext.cs#L62-L72

Related: https://github.c

[2019-11-21 00:13] slaneyrw commented on #17249
The application needs to redirect to different URLs depending on which policy failed.

[2019-11-21 00:52] Dairai commented on #17204
I will take it then. You can assign me to it.

[2019-11-21 01:14] mRmEEeZ commented on #17175
@javiercn
Thanks brother , i tried it and worked
+1

[2019-11-21 01:38] joaocolombo commented on #6111
for solve this problem you just need change the type of publish mode to self-contained, this mode will have all what your app need to run correctly
![image](https://user-images.githubusercontent.com/11852987/69293040-6b5f1b00-0be6-11ea-8231-139b7bbd132c.png)

[2019-11-21 01:53] SteveSandersonMS opened #17281 "Add method to indicate an event handler should enforce value consistency"
In other words, a way to tell Blazor that a given event handler is part of a two-way binding even if you're not using `@bind`.

It would probably look like this:

[code]

... or maybe `@onchange:sync` or `@onchange:twoWay`. The implementation is simply to emit a `builder.SetUpdatesAttributeName` call for whatever is the "value" attribute for this element type (e.g., on `<input type=checkbox>` it w

[2019-11-21 01:54] SteveSandersonMS commented on #17099
I've investigated, and realised this is not strictly a bug, but rather relates to a feature we intend to implement but haven't yet done so.

### Why it's not a bug

This comes down to the fact that we want to support both one-way and two-way patterns of binding.

Blazor doesn't know that you're trying to do a two-way binding here, because you're not using `@bind`. Blazor doesn't know that your `on

[2019-11-21 01:54] #17099 closed

[2019-11-21 02:48] scottaddie commented on #13760
https://github.com/aspnet/AspNetCore.Docs/pull/15741 is where the work is being done to cover this scenario.

[2019-11-21 02:55] chrdlx commented on #17099
Thank you very much for the detailed and clear explanation!!   The only downside I see with the use of @bind is that there's no async/await with getters/setters in the case you need to do some IO (database most likely) operation before setting the input to whatever value you need.

Thanks again & Regards!

[2019-11-21 03:29] Rick-Anderson commented on #13308
@phillipbritain  if this is resolved can you close this issue?

[2019-11-21 03:35] jpda commented on #11972
I have this issue too, in 3.0 & 3.1.

Between `AddAzureAd` and `AddAzureAdB2C`, six schemes get added:
[code]
The options configuration for both OpenID schemes gets run on both the AAD and B2C OIDC options configurations. This is fine for the respective scheme, but fails for the other (see table below) because the scheme doesn't exist in the mappings (which are added to the OpenIDMappings dictiona

[2019-11-21 03:43] Rick-Anderson commented on #12922
@ryanbrandenburg  given we removed

[code]

From 2.2 and higher, can we close this issue? The fix would be in the internal web browser.

Should I open an issue suggesting we remove the internal web browser? I don't think it's heavily used.

[2019-11-21 03:50] Rick-Anderson commented on #12832
@kYann  is this still an issue? If not, can you close? Did you try the instructions at [Troubleshoot certificate problems](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.0&tabs=visual-studio#troubleshoot-certificate-problems)

Are you saying other ASP.NET Core web apps use the ASP.NET Core HTTPS development certificate but react website using Kestrel can't?

[2019-11-21 04:07] Grauenwolf opened #17282 "Way to detect pre-rendering in Server-side Blazor"
### Is your feature request related to a problem?

When I am rendering the landing page of my application, there are two modes.

Mode 1 occurs during prerendering. This is stuff that I would like your typical search engine to index.

Mode 2 occurs after the connection is established. It contains all of the information from mode 1 plus additional information from the browser's local storage. (Essen

[2019-11-21 04:27] jernejk commented on #17115
Awesome!
Is this coming with Preview 4?

[2019-11-21 04:32] sheryever commented on #5666
@danroth27 after installing `dotnet core version 3.0.100` on Windows 10 and Windows 2012 R2 (Hosting machine) a component written in `dotnet standard 2` the dictionary is throwing "`An item with the same key...`" exception with a little strange behavior. They key i am adding is string while dictionary is showing random integer keys every time in the exception. like: "An item with the same key has

[2019-11-21 06:09] tvkit commented on #14181
## Developer Survey Results - 2019

[Most Loved, Dreaded, and Wanted Web Frameworks](https://insights.stackoverflow.com/survey/2019#technology-_-most-loved-dreaded-and-wanted-web-frameworks)

![image](https://user-images.githubusercontent.com/28468364/69311867-69538700-0bfb-11ea-8f72-542c1c491e77.png)

[2019-11-21 06:47] pranavkm commented on #17262
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.razor.compilation.iviewcompiler.compileasync?view=aspnetcore-3.0#Microsoft_AspNetCore_Mvc_Razor_Compilation_IViewCompiler_CompileAsync_System_String_ would be the closest approximation. Can you share more specifics about why you're attempting to get the compiled type?

[2019-11-21 06:53] pranavkm commented on #17266
There's planned work for System.Text.Json to add support for serialization formats other than base64 encoded strings for byte arrays - https://github.com/dotnet/corefx/issues/39961. This should allow byte[] to be transferred more efficiently when using IJSRuntime . However at this point it's not very clear how we would enable breaking changes to IJSRuntime's serialization settings.

[2019-11-21 07:08] mikeChatsky commented on #17271
Yes I guessed an alternative key option might provide a way to deviate from the Oauth specs in an unrecommended manner. I just figured maybe this option might interest other developers or provide help for those struggling to get their access tokens across WS requests.

I digged around my project and it's definitely something a small refactor (to accept `acces_token`) can fix.

Thanks for the help!

[2019-11-21 07:18] michasacuer opened #17284 "SignalR not working properly on Ubuntu"
### Describe the bug
SignalR not work properly with `Github Actions` and Ubuntu machine

### To Reproduce

After setting up my workflow on `Github Actions` with this yaml and Ubuntu machine:

[code]

My integration test with `SignalR` dont work correctly. Test looks like this:

[code]

After running it on my workflow, i get this output (you can check it [here](https://github.com/michasacuer/TaskMa

[2019-11-21 07:32] MhAllan opened #17285 "Signalr Clients.Users Should accept IEnumerable"
Clients.Users require IReadOnlyList<string>, The problem is we don't need to create read only collection every time we want to send message to multiple users

### solution
Clients.Users takes IEnumerable<string> parameter

[2019-11-21 07:36] ElderJames opened #17286 "WebSocket fail to connect to Blazor server cluster"
### Describe the bug
I deploy the blaor server app on docker swarm at the mode replicated 2 instance,and the browser can't connected properly,but it work well at replicated 1 mode.

### To Reproduce

[code]
log in docker:
[code]
![image](https://user-images.githubusercontent.com/7550366/69316166-32b95300-0c73-11ea-8567-395f0c96c792.png)

### Further technical details
- ASP.NET Core version 3.0.0

[2019-11-21 07:43] davidfowl commented on #17286
docker swarm round robins by default and blazer server and SignalR needs sticky sessions https://docs.docker.com/ee/ucp/interlock/usage/sessions/

[2019-11-21 08:07] Vasilisdm commented on #17205
Hello there! Thanks for the assign, I will try to address it the next few days.

[2019-11-21 08:40] j-hudecek commented on #4698
Here is the dumpasync:

	Statistics:
				  MT    Count    TotalSize Class Name
	00007f3c1bc7aa98        1          120 System.Runtime.CompilerServices.AsyncTaskMethodBuilder`1+DebugFinalizableAsyncStateMachineBox`1[[System.Threading.Tasks.VoidTaskResult, System.Private.CoreLib],[Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.SocketTransport+<RunAcceptLoopAsync>d__16, Microsoft.AspNetCore.Se

[2019-11-21 09:33] davidfowl commented on #17037
@halter73 it forks *everything* to avoid a null `IDuplexPipe` and that's a reasonable concern but it's a non trivial change to kestrel and bedrock and we should be sure that it's worth forking at that layer.

[2019-11-21 09:40] rysep2 commented on #17256
I'm using the OIDC flow and my main problem is that I can't get the access token in the HttpMessageHandler before calling the API. I described this problem in the linked github issue.

And I already used the following workarounds:

- I have a .cshtml logout page only for the command `HttpContext.SignOutAsync();`, since the HttpContext is not available in blazor (.razor pages).

- I have a .cshtml

[2019-11-21 09:45] UltWolf opened #17287 "Blazor disable form submit on keypress enter"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
I want disable submit form, when i press enter.
I`m trying for th

[2019-11-21 09:47] petr123321 opened #17288 "DotNetCore 3.0.1 HostingBundle install Error 0x80070643: Failed to install MSI package"
Hi,

I cannot install even after reboot ASP.NET Core 3.0.1 Hosting bundle with error:

There is a problem with installation of:

[DCB4:4FB8][2019-11-21T10:33:48]i319: Applied execute package: AspNetCoreModuleV2_x64, result: 0x80070643, restart: None
[DCB4:4FB8][2019-11-21T10:33:48]e000: Error 0x80070643: Failed to execute MSI package.

Full log:

[code]

[2019-11-21 09:53] pandiyarajm93 opened #17289 "Blazor - Is any page lifecycle method available to do a some action, when user clicks the browser back or refresh?"
### Describe the bug
Perform some logic, when the user clicks the browser back or refresh

### To Reproduce
I want to perform some logic operation, when user clicks the  browser back or refresh while editing the form

In javascript, we can achieve this by **window.onbeforeunload** method. Is any possibility available to achieve this same usecase in Blazor ?

[code]

### Further technical details
-

[2019-11-21 09:56] rborosak commented on #13026
Any update on this?

[2019-11-21 10:01] bgarel opened #17290 "Add HEIF/HEIC mime types in FileExtensionContentTypeProvider"
HEIF is the new image format that is now preferred and official in iOS and macOS.

Please add

    image/heif => .heif
    image/heic => .heic

https://www.iana.org/assignments/media-types/media-types.xhtml

[2019-11-21 10:07] pjustino commented on #17258
I followed the procedure on this page https://docs.microsoft.com/en-
us/visualstudio/mac/uninstall?view=vsmac-2019.

I also removed a dotnet file I had on /usr/local/bin/dotnet

That seems to be the root of the problem as I then reinstalled VS2019 and it all worked.

Thanks for your support

[2019-11-21 10:35] Daddoon commented on #9436
@willdean  No problems, good to know it was a tag issue on your side. For a next update, maybe i should add a log error in the console mentionning the missing **base** tag, then if it's omitted it would be at least written in the browser console!

[2019-11-21 10:46] prvnai opened #17291 "Argument Null exception thrown From ASPNetCore 2.2 App deployed in Azure during Authentication"
### Describe the bug
Intermittently I am getting Argument Null exceptions when requests are processed. The exception message and call stack is given below. The call stack seems to show that issue is while authentication kicks in

### Exception message
Value cannot be null. Parameter name: key

### Call Stack
[code]

[2019-11-21 11:14] DaniilSokolyuk opened #17292 "Endpoint routing strange behavior"
### Describe the bug
I have controller with 2 actions
`personalpage/{userID:long}/{**filterString}`
`{subjectType:dummy}/{subjectId:long}/reviews/{**filterString}` where dummy constraint always false (for example)
When i make request to `personalpage/123456/reviews/movies/` i expect action with route `personalpage/{userID:long}/{**filterString}` but i got 404
debug log
[code]
Why only 1 candidate?

[2019-11-21 11:30] Kahbazi commented on #16864
@blowdart @HaoK I want to start working on this. Should I add an option to switch on logging user id or remove them completely?

[2019-11-21 11:33] Trapulo commented on #3459
I've same problem with a fresh .NET Core 3.0 environment.. how can I solve this?

[2019-11-21 12:26] MaximTs commented on #14532
@Phylum123

Thanks for workaround.
I tried hard to find a solution, but in vain.

[2019-11-21 12:40] Daddoon commented on #9436
I released a new version of the polyfill:

https://github.com/Daddoon/Blazor.Polyfill

- Added an error in the console of the base tag is not found on IE
- Re-added core-js in the library
- Updated the documentation: You can now safely remove core-js external reference if you added it previously, but otherwise, it's recommended to only add the polyfill on a IE11 browser.

So to install, as stated

[2019-11-21 13:15] kYann commented on #12832
I am saying that one of the project was using an expired certificate was not visible in the certificate store. And the other was fine.

Cleaning the certificate did not fix it.

When migrating to .Net Core 3, Visual Studio ask me if I needed to create a new certificate. Clicking on Yes and trusting it fix the issue.

[2019-11-21 13:25] hannesaqua commented on #11498
I'm experiencing the exact same thing.

When going directly to http://localhost:3000 the hot reloading works. But if I go to the IIS Express server at http://localhost:55364/ it doesn't.

1) I don't have a dist folder
2) ClientApp is running on the expected port
3) Hard-reloading of the page does change the content

Firefox gives the following error (Chrome gives a similar one):

`
Firefox can't e

[2019-11-21 13:28] mv10-work commented on #5604
I don't understand this decision at all. There are many important settings to configure in a real app during `Program.cs` / `Main` bootstrapping (ports, URLs, etc). For us this makes the convenience of `CreateDefaultBuilder` largely irrelevant.

That being said, I've noticed some builder delegates _do_ supply configuration at this stage. I've been working with Microsoft Orleans recently and config

[2019-11-21 14:03] blowdart commented on #16864
Remove entirely please :)

[2019-11-21 14:16] Leonardo-Ferreira opened #17293 "how to access a remote shared folder with credential in asp.net core if you're not using IIS?"
How can you read/write to a protected, windows based, network share, if you're not using IIS hosting?

[2019-11-21 14:17] ZimM-LostPolygon opened #17294 "Blazor: WebSocket message compression"
### Is your feature request related to a problem? Please describe.
I am working on a server-side Blazor app, and often, the message sizes are big enough to cause significant network load times.

In my app, I have a huge data-grid that can be sorted. When the sorting direction is switched, the entire grid needs to be re-rendered and sent to the browser. In my test case, this resulted in a whopping

[2019-11-21 14:24] LaughingJohn commented on #15022
Thanks @cradle77, I did play around extensively with MSAL.js and may well have looked at the example you posted, I'm not entirely sure.

At the moment I have the site protected using ASP.Net core server side and this protects both the site and the API which is good.

The bit I'm still struggling with is how to tell from the client side whether I'm authenticated or not. At the moment once the token

[2019-11-21 14:27] pranavkm commented on #17294
/cc @anurse \ @BrennanConroy

[2019-11-21 14:31] LaughingJohn commented on #15022
Maybe to be a bit clearer, I have:
1. A webassembly Blazor application
2. A server side application that includes razor pages of its own and a web api used by the client application.

Currently:
- The first page a user sees is a server side razor page. This redirects them to log in and then takes them to the web assembly application.
- Because the user is now authenticated, the web api calls work

[2019-11-21 14:37] tttttvf commented on #17255
Thank you. I will go to other teams to give feedback on this problem

[2019-11-21 14:44] cradle77 commented on #15022
Hello @LaughingJohn,

Your scenario is complicated because you have a mix of server side pages + client side ones. Tbh I don't think this hybrid is supported by MSAL, even without Blazor in the equation :)

If you were in a pure SPA scenario - e.g. Blazor WebAssembly calling an API - I would recommend using MSAL.js to perform the OpenID Connect flow, authenticate the user, get an Access Token for

[2019-11-21 14:46] #17255 closed

[2019-11-21 14:55] Leonardo-Ferreira opened #17295 "Can't use network locations"
### Describe the bug
.Net Core 3 is prepending supplied paths with the local solution path.

### To Reproduce
Create a empty console app using .net 3.0 or 3.1 and insert
[code]
and you will get a exception very similar to:
System.IO.DirectoryNotFoundException: Could not find a part of the path '/Users/leonardoferreira/Projects/MySolution/MySolution.Console/bin/Debug/netcoreapp3.1/smb:/myshare/myfi

[2019-11-21 14:58] digitalsigi commented on #11609
same here. I'm using VS2019 16.3.9 and occasionally I get System.IO.DirectoryNotFoundException: C:\root\.nuget\packages\microsoft.aspnetcore.identity.ui\3.0.0\staticwebassets\V4\  wenn starting the app directly. Surprisingly the error disappears when swithing to IIS and back.

[2019-11-21 15:35] diblaze commented on #17256
@rysep2 I encountered the same issue today. I needed the access token to talk to the backend, also using OIDC.
However, I do not use HttpMessageHandler - instead I just inject the HttpContext and use it when needed.
In ConfigureServices, I added the following code:
[code]
Then in my service constructor I simply used DI to get access to the context.
`public Service(IHttpContextAccessor httpContextA

[2019-11-21 15:48] nateous commented on #4707
I am getting this error too, but I think my issue is here:
`blob.UploadFromByteArrayAsync(fileByteArray, 0, fileByteArray.Length).Wait();`
vs
`await blob.UploadFromByteArrayAsync(fileByteArray, 0, fileByteArray.Length);`

using `Wait()` will cause the upload to block the thread, whereas using `await` won't.

[2019-11-21 15:48] javiercn commented on #17289
@pandiyarajm93 thanks for contacting us.

That's not something you can do directly in Blazor. You need to use JavaScript to achieve it.

[2019-11-21 15:48] #17289 closed

[2019-11-21 15:50] blowdart commented on #17293
You either run the kestrel process as a user accounts with rights, or use impersonation in your code to become a user with rights. Note that impersonation does not support async.

[2019-11-21 15:52] blowdart commented on #17291
Can we see your configuration code please?

[2019-11-21 15:53] javiercn commented on #17282
@Grauenwolf thanks for contacting us.

We don't recommend you perform any JS interop within OnAfterRender calls, as that's the time where the browser is connected to the client. If you want to do this yourself, you can achieve it by creating and registering your own service in DI.

[code]
Resolve it on your host, set it to true before you prerender and then set it to false after that.
Use the serv

[2019-11-21 15:54] #17282 closed

[2019-11-21 15:56] javiercn commented on #17266
I'm closing this issue as this is not something we can do anything about in the near future and is not a bug, but a behavior by design.

@pranavkm It might be worth to check with the corefx folks to allow configuring this behavior on a per-property basis.

[2019-11-21 15:56] #17266 closed

[2019-11-21 15:57] nateous commented on #4707
@clement911 that is a good way to process webhooks, and it would be great if your processing is then done by an event queue instead of the web server.

My issue is receiving a url, downloading it, then uploading it! Stupid to do all of that in the web request. So fixing the `Wait()` issue will be moot once I rework this code to just verify that the image url is good, then dump the actual db saves

[2019-11-21 15:58] javiercn commented on #17286
@davidfowl is correct.

I'm closing this issue as this is not a bug but an issue with the deployment configuration.

[2019-11-21 15:58] #17286 closed

[2019-11-21 15:59] javiercn commented on #17294
I suspect we can't do compression for many of these things due to CRIME and BEAST attacks, as the content is likely dynamic and we don't know if secrets are being passed around.

We could do something with big chunks of markup and things that we know at compile-time they are static.

[2019-11-21 16:01] prvnai commented on #17291
##This is the part where I am setting authentication and authorization

`  public static void AddDefaultEisMvcCore(this IServiceCollection services, IAppSettingsProvider appSettings, bool addFormatterMappings = false)
        {
            IdentityModelEventSource.ShowPII = true;
            services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)
            .AddJwtBearer(options =>

[2019-11-21 16:05] Frozenthia commented on #12890
Can someone, preferably someone from Microsoft, explain to me the general process of offloading a package and library to the public? Would the namespace/package name/package history remain the same? Could we still prefix it with Microsoft to sort of have a de facto standard as it stemmed from Microsoft? Would Microsoft host the repo or no? I kind of have concerns about a fractured community with 2

[2019-11-21 16:06] ZimM-LostPolygon commented on #17294
@javiercn Not every application is that concerned about potential attacks on compressed encrypted streams. Developers should have a choice between app responsiveness and security, they know better if their application needs to be paranoid.

At least *some* kind of compression would help tremendously. Even if the server pre-compressed the message payload itself, and the client decompressed it with

[2019-11-21 16:13] Tratcher commented on #17291
Here's the code at the bottom of that call stack. It shouldn't ever be capable of passing nulls to ContainsKey.
https://github.com/aspnet/AspNetCore/blob/7ab32c8411f40e63984c5963b79722c1f2fd9d8a/src/Http/Authentication.Abstractions/src/TokenExtensions.cs#L112-L117
https://github.com/aspnet/AspNetCore/blob/7ab32c8411f40e63984c5963b79722c1f2fd9d8a/src/Http/Authentication.Abstractions/src/TokenExtens

[2019-11-21 16:16] Grauenwolf commented on #17282
That doesn't make any sense. Your documentation literally says to do it.

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && infoFromJs == null)
        {
            infoFromJs = await JSRuntime.InvokeAsync<string>(
                "setElementText", divElement, "Hello from interop call!");

            StateHasChanged();
        }
    }

https:

[2019-11-21 16:16] Tratcher commented on #17290
It's not clear that this meets the criteria: https://github.com/aspnet/AspNetCore/blob/e2def80a0ad5143fdbd72f2051a86b2082ca92ce/src/Middleware/StaticFiles/src/FileExtensionContentTypeProvider.cs#L15-L17

[2019-11-21 16:19] Grauenwolf commented on #17282
And how do I know if I'm pre-rendering? The whole problem is that I don't know until OnAfterRenderAsync is called, by which point it's too late. I've already rendered, so I can't get the information I need from Local Storage to render.

Again, I've have to ether go through another entire round of rendering or do the ugly hack with JSInteropt throwing an exception.

[2019-11-21 16:22] Tratcher commented on #17295
This issue was moved to dotnet/corefx#42665

[2019-11-21 16:22] #17295 closed

[2019-11-21 16:28] mischa71lab opened #17297 "Blazor - How to render dynamic content with variables"
I have a page and would like to insert some dynamic content from a string and also need to add some variables to it. when i do this:

[code]

i end up with '@dto.Id / @dto.Name' as literal strings instead of the values '6 / This is the name of the Dto'  Is there a way to accomplish this?

[2019-11-21 16:36] sh0uzama commented on #17262
@javiercn - I wasn't aware of the "Views" assembly - exploring that did the trick, thank you very much for the fast answer.

@pranavkm - I wanted to get the compiled type of a given view to determine which properties are exposed inside that view (it's a project migration from asp.net mvc to asp.net core); now I'm struggling with assigning values to these properties at runtime, but that's a differe

[2019-11-21 16:39] BrennanConroy commented on #17294
There is no built-in support for this currently. WebSocket message compression is being tracked by https://github.com/dotnet/corefx/issues/15430 and there is currently an API proposal at https://github.com/dotnet/corefx/issues/41595

It is technically possible to implement your own `IHttpWebSocketFeature` that provides a custom WebSocket with compression support. You can see an example of the feat

[2019-11-21 16:59] valeriob opened #17298 "WsFederation wrong wreply url for web applications not in the host root"
1) Create a web application with authentication and add WsFederation middlewhare (AddWsFederation)
2) deploy it in a subdirectory under iis for example mydomain.com/mywebapp
3) Execute login via domain
4) Execute logout => you get redirrected in the wrong url and get a 404 in my case the url is
Https://mydomain.com/mywebapp/mywebapp/Account/Logout (i'm using aspnetcore identity)

Looking at the co

[2019-11-21 17:05] sh0uzama opened #17299 "Set value to @functions defined properties inside Razor views"
I am trying to render a Razor view at runting using the RenderAsync method

`ViewEngineResult.View.RenderAsync(viewContext)`

The view that I am trying to render contains variables defined in a `@functions` block

	@{
	  Layout = null;
	}

	@functions
	{
	  public string test { get; set; }
	}

	<!DOCTYPE html>

	<html>
	<head>
	  <meta name="viewport" content="width=device-width" />
	  <title>Razo

[2019-11-21 17:06] anurse commented on #17271
@mikeChatsky That sounds like the best approach for now. I do recognize the value of being able to change the query string option but I'm not yet sure it's worth the overhead of new public options APIs. We can keep an eye out for other cases where users can't refactor quite so easily and revisit this in the future.

[2019-11-21 17:06] #17271 closed

[2019-11-21 17:12] Rick-Anderson commented on #12832
Sounds like the issue is fixed. Can you close this issue?

[2019-11-21 17:23] ryanbrandenburg commented on #12922
I don't think there's any reason to ask them to remove the Internal Browser, it's just not a scenario we care about for these templates. So I'll close this issue.

[2019-11-21 17:23] #12922 closed

[2019-11-21 17:30] MohammadElKhatib commented on #17196
@ajcvickers I tested the same on Core 3.0.1 the recently released version on windows and i am getting the same issue.
please, can you confirm if it is a bug?
or am I am configuring something wrong?

[2019-11-21 17:36] mkArtakMSFT commented on #17297
Thanks for contacting us.
It's not clear what is the complexity in your scenario, as pure razor would suffice in this case:

[code]

If there is something more to this please reply with more details.

[2019-11-21 17:36] #17297 closed

[2019-11-21 17:37] sepehr1014 commented on #17193
Microsoft Windows [Version 10.0.14393]

@anurse I can get a dump this week. What's the best way to capture a dump without degrading performance and increasing down time?

[2019-11-21 17:38] redochenzhen opened #17301 "centos7 yum install dotnet-sdk-2.2 or dotnet-sdk-3.0"
I followed [instructions here](https://dotnet.microsoft.com/download/linux-package-manager/sdk-2.2.207) to install dotnet-sdk, but got error message as below:
Error downloading packages:
  aspnetcore-runtime-2.2-2.2.8-1.x86_64: [Errno 256] No more mirrors to try.
Actually package aspnetcore-runtime-2.2-2.2.8-1.x86_64 is not listing in [this index](https://packages.microsoft.com/rhel/7/prod/).
Is t

[2019-11-21 17:41] mkArtakMSFT commented on #17287
Thanks for contacting us.
Blazor already supports prevention of default behavior, which you can read more about in https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1-preview-2/

For the rest we recommend using [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2019-11-21 17:41] #17287 closed

[2019-11-21 17:46] mkArtakMSFT commented on #17299
Thanks for contacting us, @sh0uzama.
You can achieve what you want by decorating the `test` property with `ViewDataAttribute` attribute, to enable mapping.

[2019-11-21 17:46] #17299 closed

[2019-11-21 17:47] mkArtakMSFT commented on #17292
Thanks for contacting us, @DaniilSokolyuk.
@rynowak can you please look into this one? Thanks!

[2019-11-21 17:51] mkArtakMSFT commented on #17188
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-11-21 17:51] #17188 closed

[2019-11-21 17:52] #17005 closed

[2019-11-21 17:57] marcuslindblom opened #17303 "Multiple model binders depending on the content type"
is it possible to do like this. The goal here is to be able to use the same `PUT` endpoint for `JSON` data and adding a file. Maybe this is an anti pattern, if so please say so :)

Thanks

[code]

Sending two different content types like this:

[code]

and:

[code]

[2019-11-21 18:00] rpriest1260 opened #17304 "Provide Better Opportunity for Http Status Code Handling on HubConnection failures"
### Is your feature request related to a problem? Please describe.
When a HubConnection failure happens (and the connection is closed) due to an HTTP error, an HttpRequestException is thrown. However, as the HTTP status code is only presented in the Message string property,  proper and discrete handling of status code is difficult. The consumer must resort to string parsing of the Message property

[2019-11-21 18:02] ryanbrandenburg commented on #17269
@Safirion Please ensure you're reviewed [this documentation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.0#resource-file-naming). If you've reviewed that and still have trouble, is it a typo in your structure diagram or the code when it says `SaredResource`, but then your HtmlLocalizer is looking for <SharedResource>?

If neither of those solve your pro

[2019-11-21 18:03] Indrajith-Sync opened #17305 "Getting a value from the object type collection in Blazor"
I am trying to get the value form the object collection in blazor.

The line of code returns the following
`this.buttons[i].model ` => `{{
  "content": "Close"
}}`

In the above code i need to get the value of "content". I have tried this it doesn't work any other solution for this ?

`this.buttons[i].model.GetType().GetProperty("content").GetValue(this.buttons[i].model)`

[2019-11-21 18:06] Safirion commented on #17269
@ryanbrandenburg Effectively it's a typo. File is correctly named in my project.

I will try to make a demo project tonight.

[2019-11-21 18:09] javiercn commented on #17292
@rynowak Can this be a bug in the DfA?

[2019-11-21 18:09] theCuriousOne commented on #3459
I solved it by making the Application Pool of the web app to have some user privilege that has access to that folder, instead of the default (typing from mobile so I can't double check)

[2019-11-21 18:17] BrennanConroy commented on #17304
A possible better alternative would be for this to be handled at a lower level, see the proposal for adding a new exception with a status code at https://github.com/dotnet/corefx/issues/26477

[2019-11-21 18:55] anurse commented on #17193
I believe you can configure Windows to do this for you automatically. It would only impact the crashing process. I found this guide to enabling the necessary registry settings to create a dump: https://keithbabinec.com/2018/06/12/how-to-capture-and-debug-net-application-crash-dumps-in-windows/

A minidump should be sufficient, and you can configure a maximum number of dumps (Windows will overwrite

[2019-11-21 18:57] anurse commented on #16909
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-11-21 18:57] #16909 closed

[2019-11-21 18:59] alextof commented on #15046
Any news regarding this issue?

[2019-11-21 19:00] alextof commented on #14952
@jjxtra , I'm trying to understand your resolution and trying to apply it to #15046 to be able to find a fix, but I still don't see how to relate them. Could you please give a bit more insights on how you was able to solve the issue?

[2019-11-21 19:06] alextof commented on #14581
@pranavkm , it does not work between assemblies actually. #15046

[2019-11-21 19:06] alextof commented on #15046
@pranavkm

[2019-11-21 19:09] talalkhan commented on #17268
I also confirmed this is happening on Azure App Service. I believe app service is running IIS. This is so annoying :)

[2019-11-21 19:20] meron1122 commented on #7246
It's resolved?

[2019-11-21 19:21] zeinali0 commented on #17170
Almost all core part of SignalR are in `Internal` namespace and they are not open to customize and this make it very risky to use it in an enterprise app.

[2019-11-21 19:22] davidsh commented on #7246
No. The automatic dev certificate that the 'dotnet dev-certs' tool generates still doesn't work on Linux since it is missing the 'Certificate Signing' attribute. A PR is still required to fix that (I have plans to put up a PR soon).

However, the manual instructions in this discussion thread above show steps to create a self-signed certificate that does work on Linux.

[2019-11-21 19:23] Tratcher commented on #17298
Please show the options you used to configure WsFed. Where is "/mywebapp/Account/Logout" coming from?

[2019-11-21 19:29] peterblazejewicz commented on #7206
@robertmclaws
Robert, can you attach the screenshots if that is still a problem? I could have a look into this,
Thx!

[2019-11-21 19:36] brzezinol commented on #4706
I have a question about using pem as is.
Today letsencrypt renew certificate for every 3 months.
So I need another schedule for convert pem file to pfx file and copy to net.core app.
Do yo know any other way to use let'sencrypt with net.core ?

[2019-11-21 19:44] Safirion commented on #17269
Fail too with Preview 6.

Project demo:
[WebApplication1.zip](https://github.com/aspnet/AspNetCore/files/3876439/WebApplication1.zip)

Results :
![image](https://user-images.githubusercontent.com/11511729/69371083-6c07b800-0c9f-11ea-97d1-2f7f3a971953.png)

[2019-11-21 19:47] Brymastr commented on #4706
@brzezinol
My current workaround is to use `openssl` to convert the pem from letsencrypt to a pfx as a --deploy-hook in certbot. Example:

[code]

Where `cert-renew-hook` is something like:
[code]

This may be a bit naive as pfx requires a password but this example sets a blank string.

[2019-11-21 20:05] bgarel commented on #17290
It is too bad that there is not a mime types provider that can be improved in ASP.NET Core.
I will have to use an external MimeTypes mapping library to handle file extensions.

[2019-11-21 20:08] valeriob commented on #17298
Hi @Tratcher,
i'm setting only MetadataAddress, and Wtrealm.
/Account/Logout is an action that does this :

                string url = Url.Action("Logout");

                // this triggers a redirect to the external provider for sign-out
                return SignOut(new AuthenticationProperties { RedirectUri = url }, vm.ExternalAuthenticationScheme);

[2019-11-21 20:10] MortenMeisler commented on #16955
@javiercn yes tried making a whole new project. First upgraded VS Preview to 5.0, then installed the latest templates, then created a new 3.1 blazor webassembly project. Then following my sample above (install teamfoundationserver.client nuget package and inject some service using it). So should be fairly easy to replicate

[2019-11-21 20:19] valeriob commented on #17298
I was able to work around the problem with this code :

                authBuilder.AddWsFederation(wsfed.Scheme, wsfed.DisplayName, options =>
                {
                    options.MetadataAddress = wsfed.MetadataAddress;
                    options.Wtrealm = wsfed.Wtrealm;

                    options.Events.OnRedirectToIdentityProvider = evnt =>
                    {

[2019-11-21 20:56] anurse commented on #17170
Can you provide more information on what kind of customization you want to do? We have plans to add public _supported_ ways to add more customization in the future.

[2019-11-21 20:56] Tratcher commented on #17290
? You can add your own mappings to the existing provider.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/static-files?view=aspnetcore-3.0#fileextensioncontenttypeprovider

[2019-11-21 20:59] Tratcher commented on #17298
A simpler workaround would be:
[code]

[2019-11-21 21:26] scalablecory commented on #4742
See https://github.com/dotnet/corefx/pull/41805 where I updated our shared `HPackEncoder` to support this.

I prototyped it a few different ways and found that even with lots of optimization, the CPU usage introduced by Huffman coding was unacceptable.

[2019-11-21 21:26] bgarel commented on #17290
Thank you for the link. It solves my issue.

[2019-11-21 21:26] #17290 closed

[2019-11-21 21:28] halter73 commented on #17235
I agree with your final analysis @kevingosse. Applications are responsible for ensuring they are done using the HttpContext and related objects prior to completing their Tasks. As soon as the app middleware Task completes, Kestrel will reuse those objects for the next request, so all bets are off if you're still using them.

`Http1ContentLengthMessageBody. _contentLength` is a readonly field popul

[2019-11-21 21:40] danroth27 commented on #12890
@Frozenthia

Since the package would no longer be shipped by Microsoft the namespace and package ID should change to align with the community project. The community project would be hosted in its own org and repo separate from Microsoft, but can still be part of the .NET Foundation.

This is certainly a valid concern. Fostering a community culture of supporting existing projects when appropriate i

[2019-11-21 21:48] halter73 commented on #17205
@Vasilisdm If you can do [WebHostBuilderExtensions](https://github.com/aspnet/AspNetCore/blob/e2def80a0ad5143fdbd72f2051a86b2082ca92ce/src/Hosting/Hosting/src/WebHostBuilderExtensions.cs) as part of this too, that'd be great. Thanks!

[2019-11-21 21:51] Vasilisdm commented on #17205
@halter73 I will try and do that.

I'll keep you posted!

[2019-11-21 21:55] halter73 commented on #4698
Given the ThreadCount of 145 and the relatively view clrstacks, I don't think this is threadpool starvation. Neither the clrstacks nor the async stacks jump out at me as being abnormal.

Can you enable trace-level [ASP.NET Core logging](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.0) and show us the output during one of these long running requests?

[2019-11-21 21:55] pranavkm opened #17308 "Razor SDK incorrectly loads tasks dll compiled against desktop when running on dotnet build (core msbuild)"
The bug's here: https://github.com/aspnet/AspNetCore-Tooling/blob/release/3.1/src/Razor/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Sdk.Razor.CurrentVersion.targets#L33. The build targets use a variable that's defined in Arcade. Surprisingly nothing in particular fails because of this mismatch (so far), but it's super incorrect.

[2019-11-21 21:56] halter73 commented on #17037
I'm not saying it's trivial, but if we are going to split the pipeline, it will be easier to do it earlier rather than later.

[2019-11-21 21:57] j-hudecek commented on #4698
I've already posted some in https://github.com/aspnet/AspNetCore/issues/4698#issuecomment-435047280 do you want more?

[2019-11-21 22:00] CeciAc opened #17309 "SwaggerDoc extension method requires a Swashbuckle.AspNetCore.Swagger.Info parameter"
@DudePascalou commented on [Thu Nov 21 2019](https://github.com/aspnet/AspNetCore.Docs.fr-fr/issues/236)

Before version 5.0.0 (which is not yet released, on november 2019), SwaggerDoc extension method requires a Swashbuckle.AspNetCore.Swagger.Info parameter. So, on "Add and configure Swagger middleware" section, you have to write :
[code]
Beginning with version 5.0.0, SwaggerDoc extension method

[2019-11-21 22:12] javiercn commented on #17301
@redochenzhen thanks for contacting us.

This issue is not specific to ASP.NET Core. To get a better and faster response we suggest you file the issue in https://github.com/dotnet/core-sdk/

[2019-11-21 22:12] #17301 closed

[2019-11-21 22:21] j-hudecek commented on #4698
Hm. I've changed the code so that it doesn't try to starve the threadpool with sleeping threads and the issue went away. Server stays responsive during long requests, the response comes to the client as soon as the request is done. Thanks for the all the help!

[2019-11-21 22:21] #4698 closed

[2019-11-21 22:51] mrpmorris commented on #17294
Have you tried setting @key on each row? That way Blazor can see the element have the same data and have just been rearranged.

http://blazor-university.com/components/render-trees/optimising-using-key/

[2019-11-21 23:08] danroth27 commented on #5666
@sheryever Could you please open a new issue with the full details on how to reproduce the problem you are seeing?

[2019-11-21 23:29] danroth27 opened #17312 "Replace Error.razor with Error.cshtml in the Blazor Server template"
The Blazor Server template currently uses a Razor component for the /error page, which is overkill. We should replace the Error.razor page with a normal Razor page, Error.cshtml.

[2019-11-21 23:34] rvnlord commented on #16469
Normally your `HTML helper` would return `IHtmlContent`, so just do this instead:

`public RenderFragment Render() => builder => builder.AddMarkupContent(0, _divIconContainer.IHtmlContentToString());`

    public static string IHtmlContentToString(this IHtmlContent htmlBuilder)
    {
        if (htmlBuilder == null)
            throw new ArgumentNullException(nameof(htmlBuilder));

        var sw

[2019-11-22 00:02] rynowak commented on #17303
I think you'll be a lot more successful just making this two action methods. You're not ever going to have a single request send *both* a JSON body and file right?

They can have the same routing info - `[Consumes(...)]` will select between them.

[2019-11-22 00:14] artisticcheese commented on #12998
Increasing default HTTPClient timeout for me fixed it.
 `client.Timeout = System.TimeSpan.FromMinutes(3);`

[2019-11-22 00:23] Pilchie commented on #17301
Actually, I think this is https://github.com/dotnet/core/issues/3886.

[2019-11-22 01:12] halter73 commented on #4698
I missed that you already provided logs. I'm glad you got it worked out!

[2019-11-22 01:41] ElderJames commented on #17286
Fine,but how to setup the configuration?

[2019-11-22 02:18] RichardBr opened #17316 "[Blazor] Models with "ValidateComplexTypeAttribute" give an error on the backend(server)"
### Describe the bug
If I have a model that has property decorated with attribute [ValidateComplexType] it works on the Blazor WebAssembly App but I get an error (see below) when that same model is used on the backend (server/api)

### To Reproduce
What steps can we follow to reproduce the issue?
Please run the app I have included in the attached file.
The app was generated in visual studio 2019 p

[2019-11-22 02:29] halter73 commented on #16807
@tkstanczak you're not calling HttpContext.Abort() anywhere are you? That might also explain this. In any case, getting some [trace-level logs from ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.0) might help us figure out what's going on here.

[2019-11-22 02:37] rynowak commented on #17022
@SteveSandersonMS @javiercn @pranavkm

Added some info about the results of my investigation

[2019-11-22 03:44] liyanjie8712 opened #17318 "Why can't I open Blazor WebAssembly App in Safari on iOS?"
[https://docs.microsoft.com/zh-cn/aspnet/core/blazor/supported-platforms?view=aspnetcore-3.0](url)

This doc says that Blazor WebAssembly supported Safari on iOS and Chrome on Android,but I could't open the Blazor WebAssembly App in those browsers.
Both Safari and Chrome are latest.

[2019-11-22 03:55] davidfowl commented on #17286
The link in my comment should have the information

[2019-11-22 03:56] davidfowl commented on #17235
Glad you got a deterministic repro!

[2019-11-22 04:25] blowdart commented on #17249
That's not really a scenario we considered if I'm honest. Failure of authorization either redirects to a "You're not logged in" or a "You're not allowed" page and that's it. The details didn't matter.

@HaoK can you think of any way to do this?

[2019-11-22 05:11] dingsongjie opened #17321 "Microsoft.AspNetCore.Server.Kestrel , Heartbeat took longer than "00:00:01""
I ran an aspnet core service in kubernetes and was limited to 2 cpu, sometimes I found it killed by kubernetes, because its health check failed, and I also found some logs,It shows the threadpool was busy.
[code]
But the cpu usage is low ,and I have not set a memory limit, what happend to it ?
![image](https://user-images.githubusercontent.com/10933723/69399688-11676e00-0d2a-11ea-8d66-39bfb28986c6

[2019-11-22 06:49] newbienewbie opened #17324 "Date ModelBinding via [FromQuery] doesn't respect the current Culture"
### Describe the bug
(Not sure whether this is a behavior by design or a bug)

Assume the culture is `en-GB`, and we want to bind date in format of  `dd/mm/yyyy`. The payload is:
[code]

1. Model Binding for DateTime works pretty fine when payload  is sent by Form.
2. It doesn't work when binding from QueryString.

### To Reproduce

1. `dotnet new webapp`
2.  Configure it to use the `en-GB` as the

[2019-11-22 06:54] KamranShahid opened #17325 "Updating to 3.0.1 for Microsoft.Extensions.Logging.EventLog, Getting Error HTTP Error 500.30 - ANCM In-Process Start Failure On IIS"
I have a .net core 3.0 Web Api application which is hosted on IIS.
Recently when I am trying to update Microsoft.Extensions.Logging.EventLog to 3.0.1 I am getting error

HTTP Error 500.30 - ANCM In-Process Start Failure

When reverted back to Microsoft.Extensions.Logging.EventLog to 3.0.0 it started working  fine.
Any idea what could be the problem

[2019-11-22 07:10] IPhone-ios opened #17326 "Sorry"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]

### Describe the solution you'd like
A clear and concise description of what you want to happen. Include any alternative solutions you've considered.

### Additional context
Add any other context or screenshots about the feature requ

[2019-11-22 07:12] yszhong12345 commented on #14290
good

[2019-11-22 07:24] marcuslindblom commented on #17303
@rynowak Ok, I see. If I add a second action like this.

[code]
And a second one like this:

[code]
The code compiles but  I get the following error.

[code]

Isn't it possible to have the same routing info?

[2019-11-22 07:36] GGAlanSmithee commented on #12890
@danroth27 I agree that this is generally a good thing, but for anyone who was a victim of the npm package tsunami of 2016-ish, this balancing act isn't very attractive. Having a single, by Microsoft, blessed alternative is a must IMO (and my interpretation of your statement tells me you agree)

Also, I (from my own experience) think that developers have different expectations when it comes to .NE

[2019-11-22 07:39] UltWolf commented on #17287
Okey, thx you for answering

[2019-11-22 07:48] valeriob commented on #17298
Yes indeed, but i do not know if it will break other auth mechanisms

[2019-11-22 08:13] rysep2 commented on #17256
@diblaze Using the HttpContextAccessor was my first solution too and it worked locally. The problems came when I released to our test server. `_httpContextAccessor.HttpContext` was always `null` on there. I didn't pursue this solution further because I was told not to use HttpContextAccessor in Blazor but now that I think of it - maybe this could be solved by changing the configuration on my serve

[2019-11-22 08:14] mischa71lab commented on #17297
Hello Artak,

I have a salesorder and am looking for a way to show this with different layouts.
So i wanted to load and render part of the page from a string from a database.
This way i can store multiple layouts in a database and change them with a textarea control.
Hopes this clearifies things.
Thanks

[2019-11-22 08:45] jsacapdev opened #17327 "ASP.NET Core 3 returns Unauthorized for Azure AD OAuth 2.0 client credentials flow"
We are hosting an ASP.NET Core Web Api as a Web App in Azure. We use Azure Active Directory to secure the API.

In ASP.NET Core 2, we configured OAuth 2.0 client credentials grant (https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-client-creds-grant-flow) flow based on this sample, https://github.com/azure-samples/active-directory-b2c-dotnetcore-webapi/tree/master/, and we

[2019-11-22 09:10] scriptmonkey69 opened #17328 "Using SignalR with Finbuckle Multitenant library"
I am trying to use SignalR in a ASP.NET Core 2.2.7 application that uses the Finbuckle Mutlitenant library.

Finbuckle allows me to specify a Route template with a tenant placeholder like
`routes.MapRoute("default", "{__tenant__}/{controller=Home}/{action=Index}/{id?}");`

I tried the following
`configure.MapHub<ComplianceHub>("/{__tenant__}/complianceHub");`

But this does not work, as it would a

[2019-11-22 09:17] sh0uzama commented on #17299
Thank you for your quick answer @mkArtakMSFT - but unfortunately this isn't giving the expected result =(

With a view like this:

	@{
	  Layout = null;
	}

	@functions
	{
	  [ViewData]
	  public string test { get; set; }
	}

	<!DOCTYPE html>
	<html>
	<head>
	  <meta name="viewport" content="width=device-width" />
	  <title>Test</title>
	</head>
	<body>
	  <h2>VIEWDATA INJECTION TEST</h2>
	  <pre>

[2019-11-22 09:35] prcdpr commented on #12890
In my company we were also using `Microsoft.AspNetCore.NodeServices` for calling JS functions via InvokeAsync and now after upgrading to .NET Core 3.0 it became obsolete without alternative other than forking source code.

[2019-11-22 09:43] kevingosse commented on #17235
I couldn't reproduce the hang, but at this point I believe it's safe to conclude that it's another consequence of using the HttpContext past the end of the request. To fix this in our code we'll need to prefetch the content of the request (equivalent to what `DrainAsync` does). On the plus side it means we won't have to worry anymore about Protobuf accessing the stream synchronously, so that's kil

[2019-11-22 09:43] #17235 closed

[2019-11-22 09:59] mrpmorris commented on #5545
It's unfortunate JS won't let us decide asynchronously. I tried cancelling and then emulating mouse events but some browsers just wouldn't allow it.

A tricky problem indeed.

[2019-11-22 10:04] Danielku15 opened #17329 "Allow manual start of TestHost over implicit start in constructor."
### Is your feature request related to a problem? Please describe.
I am having a small integration test class in my project based on the TestServer. For my tests I need to perform some actions on components **before** the application is started. The starting in the constructor will already trigger some IHostedServices to begin their logic before I can maybe interact with them or related changes re

[2019-11-22 10:09] YehudaKremer commented on #10325
If you sure you want to reload **every change**,
you can instant reload base on @danroth27 answer:

**put it right before:**

[2019-11-22 10:34] nfplee opened #17330 "Inject IOptionsMonitor<TInterface> Strange Behaviour"
I have a strange behavious when injecting IOptionsMonitor<TInterface>.

Say I have a class called SiteSettings which implements ISiteSettings (which has one property called SiteUrl). I then register the following services in the DI container:

[code]

Now if I have the following controller:

[code]

When I update the SiteUrl in my appsettings.json file and navigate to the controller above it corre

[2019-11-22 11:24] Nomanskill commented on #13709
@danroth27 's solution doesn't work because it doesn't go into any of the authorization tags.

I came up with a solution, I don't know if it's secure or anything but it works at least. I'll accept gladly some help to fix or improve my method :

**App.razor**

[code]

**RedirectToLogin.razor**

[code]

Notice that I put the link to "counter" because of odd reasons, I couldn't navigate to "Identity/

[2019-11-22 12:56] brice-fromentin opened #17331 "Unable to set breakpoint on Blazor WebAssembly in Chrome"
I launch my application using VS with Chrome and the right flag "--remote-debugging-port=9222". I am able to Shift+Alt+D and see the source but when I try to set the breakpoint, I have an error and no breakpoint.

### To Reproduce

1. Create the default default Blazor Web Assembly
2. Make a browser configuration using chrome and setting argument "--remote-debugging-port=9222"
3. Launch the applica

[2019-11-22 13:01] brice-fromentin commented on #17331
FYI

I tried the same thing but with a path for the project without any spaces, and it works.

[2019-11-22 13:47] sheryever commented on #5666
@danroth27 our issue resolved, the dictionary was a static variable, we fixed it by using lock statement.

The interesting thing that we noticed with aspnet core is, the controller action was not async and neither running any thread but still it looks that more than one thread was accessing the dictionary at once on multiple calls from browser :)

[2019-11-22 13:49] highfield commented on #4707
FYI, since the time of my [post here](https://github.com/aspnet/AspNetCore/issues/4707#issuecomment-450334499), I started a new project with Asp Net core 2.2 (previous was 2.1). Furthermore, the app is now running on Ubuntu 18 (previous was on 14).

No one failure since that time.

[2019-11-22 14:04] legistek commented on #5545
WPF has the same issue. You have to mark `RoutedEventArgs` as `Handled` before your event handler does anything `async`.

[2019-11-22 14:06] legistek commented on #5545
I wonder if the Blazor team has considered handling bubbling through the Blazor framework itself and bypassing Javascript event bubbling? Or would that just be too overwhelming for every DOM element to trigger an event in C# just for the possibility of bubbling it up to a parent?

[2019-11-22 14:39] Weboholics commented on #14877
I have the same issue - see my report to  Microsoft: https://github.com/aspnet/AspNetCore/issues/17097

I have researched the issue more and found that this is the result of change of algorithm that is used for url generation.  The old algorithm did sometimes generate incorrect url so Microsoft changed the algorithm.  They use something they call ambient Values for generating URL

You can read abo

[2019-11-22 14:49] sebastianslutzky opened #17334 "@page "/counter/{**text}""
### Blazor: Routing paths with dots not working
Routing with URLs that contain dots doesn't work as documented. * character is not allowed in routing template

According to [Asp.net core documentation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.0#endpoint-routing-differences-from-earlier-versions-of-routing) and [blazor documentation](https://docs.microsoft

[2019-11-22 15:37] Weboholics commented on #14877
It's a bit strange that this does work:
"sv-se/{action}/{id?}"

This doesn't work:
 "{culture}/{action}/{id?}"

[2019-11-22 15:47] Tratcher commented on #17298
It shouldn't. What other mechanisms are you using? SignOut is only supported by Cookies, WsFed, and OpenIdConnect.

[2019-11-22 15:52] Pilchie commented on #17326
Closing as this doesn't contain any info.

[2019-11-22 15:52] #17326 closed

[2019-11-22 16:11] rynowak commented on #17303
I tried adding your two methods to a new project it worked for me.

What does your HTTP request look like?
Do you have a more complete sample that I can try running?

[2019-11-22 16:23] Weboholics commented on #14877
I have done an HACK / Workaround that may help you until Microsoft come out with a solution.
No guaranties of course :-)

//Startup.cs
 EndPointGenerator generator = new EndPointGenerator(new List<string>(){"en-gb",'"sv-se","ru-ru"});
 app.UseEndpoints(generator.AddEndPoints);

//Separate EndPointGenerator.cs
public  class EndPointGenerator
    {
        #region Members
        private List<string

[2019-11-22 16:27] rynowak commented on #17324
Hi @newbienewbie - this behavior is intentional. MVC treats values in the URL as culture-invariant by default so that URLs are shareable.

If you want to change this behavior your can. I've logged https://github.com/aspnet/AspNetCore.Docs/issues/15829 to improve the documentation and added a code sample of what to do there. Let me know if you have any questions.

[2019-11-22 16:49] scriptmonkey69 commented on #17328
Ok I have got it working now by using a separate micro service, but if there is any information about using a route template for the hub URL i would be very interested.

[2019-11-22 16:49] #17328 closed

[2019-11-22 16:55] BrennanConroy commented on #17284
It looks like `WebApplicationFactory` uses `TestServer` internally which has [known issues when used with SignalR](https://github.com/aspnet/AspNetCore/issues/11888). I think you can make it work if you specify LongPolling as the transport the client will use.

[2019-11-22 17:17] scottkdavis commented on #17267
`        public override async Task<bool> VerifyConnectionAsync()
        {
            ApplicationMaster.ViewModels.CommCenter.FailedToConnect = false;
            if (_hubConnection != null && _hubConnection.State == HubConnectionState.Connected)
            {
                UpdateConnectionStatus(_hubConnection.State);
                ApplicationMaster.ViewModels.CommCenter.ShowChatAuthExpired

[2019-11-22 17:18] scottkdavis commented on #17267
It may be several days before I can come back to trying the 3.0 version of the client library to attempt to grab a network trace.  Not sure why the post above formatted so poorly.

[2019-11-22 17:23] mkArtakMSFT commented on #17331
This issue was moved to mono/mono#17879

[2019-11-22 17:23] #17331 closed

[2019-11-22 17:24] mkArtakMSFT commented on #17318
Thanks for contacting us. This issue is being tracked at https://github.com/mono/mono/issues/16986

[2019-11-22 17:24] #17318 closed

[2019-11-22 17:26] mkArtakMSFT commented on #17316
Thanks for reporting this issue. This seems to be a bug and we've assigned one of our team members to look into this based on its priority.

[2019-11-22 17:29] mkArtakMSFT commented on #17305
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2019-11-22 17:29] #17305 closed

[2019-11-22 17:31] #17324 closed

[2019-11-22 17:32] mkArtakMSFT commented on #17309
Thanks for contacting us.
This seems to be question for the `Swashbuckle` owners at: https://github.com/domaindrivendev/Swashbuckle

[2019-11-22 17:32] #17309 closed

[2019-11-22 18:15] anurse commented on #17267
How are you calling this from your event handlers? I ask because generally event handlers are *not* asynchronous and if you aren't careful, this code looks like it could cause races when initializing the `_hubConnection` value.

[2019-11-22 18:22] scottkdavis commented on #17267
Good tip. I will add a flag to ensure that duplicate calls to not step on each other and report back. I do see this error even if I step through the entire method while debugging which should remove the chance of there being a race condition, but a flag to avoid parallel execution would be good to have regardless. Hopefully I'll be able to try this in a few days and report back. Thanks for the adv

[2019-11-22 19:07] ajcvickers commented on #17196
@MohammadElKhatib Looks like the code has two different `DbContext` types with two different models. You'll need to override `OnModelCreating` in your `ApplicationDbContext` and configure the Identity model to understand or ignore the `ManOfTheMatchPredictions` navigation, as described in the documentation linked above.

[2019-11-22 19:07] #17196 closed

[2019-11-22 19:11] anurse commented on #17284
This is a duplicate of #11888

[2019-11-22 19:11] #17284 closed

[2019-11-22 19:13] anurse commented on #17304
Fixing this through dotnet/corefx#26477 is definitely our preferred option. Closing this as external. If that issue doesn't go anywhere we can revisit this.

[2019-11-22 19:13] #17304 closed

[2019-11-22 19:18] anurse commented on #17285
We do that because it is often re-enumerated by HubLifetimeManagers and `IReadOnlyList` ensures we have a stable enumerable that won't be too costly to re-enumerate.

Having said that, I'm not opposed to the idea of creating an extension method or default interface member that takes `IEnumerable` and calls `.ToList` in order to pass it down.

[2019-11-22 19:23] anurse commented on #17193
Even better, we have a doc! (Thanks for the pointer @shirhatti)

https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.0#app-crashes-or-encounters-an-exception

[2019-11-22 19:35] anurse commented on #17268
We believe this is happening because the IIS Express code calls `OnCompleted` too early (before the response is written). That's certainly not ideal.

@talalkhan can you give more information on the actual scenario this blocks in your application? I don't disagree it's something we should look in to fixing, but I'd like to know how it impacts you so we can prioritize appropriately.

[2019-11-22 19:38] anurse commented on #17325
Can you collect more information on the failure from the Windows Event Log and other ANCM logs. We have a guide on how to do this here: https://aka.ms/aspnet/iis/troubleshoot

[2019-11-22 19:41] Kavinci commented on #12664
I ran into this issue as well and this is how I resolved it. For anyone stumbling upon this problem, the template has not been changed but the Docker tags have. You need to match the .Net Core SDK version you are building with in your csproj file. I recommend just skipping the preview tags in docker. For me 3.0 is an official release as of September 23, 2019 and using the major and minor version w

[2019-11-22 19:43] anurse commented on #17321
This is almost *always* caused by thread-pool starvation (from things like calling `.Wait()`/`.Result`/`.GetAwaiter().GetResult()` on a `Task`). The CPU usage being low indicates that you have a lot of active threads but they're all blocked waiting on things. The Heartbeat can't run because there isn't a thread available to run on.

Our docs have some guidance on things to watch out for here: http

[2019-11-22 19:48] anurse commented on #17288
Unfortunately this log isn't quite the right one. This is the log from the exe bundle but the exe installs an MSI package (which is what's failing, see `Failed to install MSI package`) and we need to find the log for that.

@joeloff can you help @petr123321 track that log down?

[2019-11-22 19:49] Tratcher commented on #17268
FYI here is where OnCompleted gets called:
https://github.com/aspnet/AspNetCore/blob/6f2b107b88cfbc7d4293103a74162f9075257ce9/src/Servers/IIS/IIS/src/Core/IISHttpContextOfT.cs#L61

Not sure what would have to be called to unblock the response, I hope it's not waiting for the thread to exit. ProduceEnd only deals with error scenarios.

IIS doesn't implement CompleteAsync yet does it?

[2019-11-22 20:00] talalkhan commented on #17268
The scenario is, our web service is called by a client using Http Post when the documents are ready and they want us to retrieve the documents. We have a method GetDocuments() that is triggered by their call via http post. Everything was working fine until they changed the requirement to this. They won't release the document until we send them acknowledgment when they call our Post method. So when

[2019-11-22 20:39] joeloff commented on #17288
Should be in %Temp%\dd_dd_DotNetCoreWinSvrHosting__20191121103343_000_AspNetCoreModuleV2_x64.log

[2019-11-22 20:57] anurse commented on #17288
Thanks @joeloff ! @petr123321 can you find and post that log file as well? That should have more detail on the specific error.

[2019-11-22 21:00] Tratcher commented on #17329
This work was already done in 3.0 for integration with IHostBuilder (but it should also work with IWebHostBuilder). See this example:
https://github.com/aspnet/AspNetCore/blob/6f2b107b88cfbc7d4293103a74162f9075257ce9/src/Hosting/TestHost/test/TestServerTests.cs#L53-L62

[2019-11-22 21:54] vsfeedback opened #17339 "'RenderTreeBuilder' does not exist in the namespace"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/829110/rendertreebuilder-does-not-exist-in-the-namespace.html)._

---
Hi
Have tried to resolve  below error by searching the internet, without success any one have any idea how to resolve

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type o

[2019-11-22 21:57] vsfeedback opened #17341 "Debug blazor application"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/830035/debug-blazor-application.html)._

---
Edit and continue does'nt work in pages.

---
### Original Comments

#### Visual Studio Feedback System on 11/22/2019, 01:37 AM:

<p>We have directed your feedback to the appropriate engineering team for further evaluation. The t

[2019-11-22 21:59] mkArtakMSFT commented on #17341
Thanks for contacting us.
We're going to enable the `Live reload` feature for Blazor as part of https://github.com/aspnet/AspNetCore/issues/5456

[2019-11-22 21:59] #17341 closed

[2019-11-22 22:14] mkArtakMSFT commented on #17339
Thanks for contacting us.
It seems you're using either old tooling or old runtime bits. Please make sure you have installed the latest release of .NET Core 3.0 with the latest VS 2019. That should fix it.
If you still are facing issues, share some more details to help us investigate it.
- the output of `dotnet --info`
- screenshot of the the VS 2019 about page

[2019-11-22 22:14] #17339 closed

[2019-11-22 22:21] marcuslindblom commented on #17303
@rynowak This is how my file upload request look look like:
[code]
curl 'https://localhost:5001/workspaces/1' -X OPTIONS -H 'Connection: keep-alive' -H 'sec-ch-ua: Google Chrome 78' -H 'Access-Control-Request-Method: PUT' -H 'Origin: https://localhost:5003' -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36' -H