[2021-09-07 17:21] SteveSandersonMS commented on #36135
While what you're doing here will work, it's pretty inefficient to load the whole file from JS memory (as the `fetch` reponse) into .NET memory (when you call `ReadAsByteArrayAsync`) only to then transfer it back into JS memory. For large enough files, that will make the browser hang for a while.

Two approaches I would recommend instead:

 * (Simplest) Instead of loading the data using `HttpClien

[2021-09-07 17:25] mkArtakMSFT commented on #27707
Thanks for contacting us.
This is fixed in 6.0 as we've added support for hot reload.
We don't plan to make any future improvements to the runtime compilation experience going forward.

[2021-09-07 17:25] #27707 closed

[2021-09-07 17:28] mkArtakMSFT commented on #23854
Closed as this test has been moved to the SDK repo.

[2021-09-07 17:28] #23854 closed

[2021-09-07 17:30] mkArtakMSFT commented on #14370
@rafikiassumaniMSFT FYI

[2021-09-07 17:31] mkArtakMSFT commented on #8987
Closing as this test has been moved to dotnet/sdk repo.

[2021-09-07 17:31] #8987 closed

[2021-09-07 17:42] mkArtakMSFT commented on #33092
Thanks for bringing this up.
Can you guys please try out the upcoming RC1 release and see whether the issue is still there? Thanks!

[2021-09-07 17:43] mkArtakMSFT commented on #31507
Thanks for contacting us. This is a dupe of https://github.com/dotnet/aspnetcore/issues/33092

[2021-09-07 17:43] #31507 closed

[2021-09-07 17:45] mkArtakMSFT commented on #32733
@captainsafia do you remember what was the fix in the compiler which should have fixed this? We would like to confirm that it's fixed.

[2021-09-07 17:49] mkArtakMSFT commented on #30851
We believe this has been resolved already. Unfortunately, there is no clear link to actual change which may have resolved this.
Moving this to 6.0 to unquarantine the old flaky test.

[2021-09-07 17:53] mkArtakMSFT commented on #33585
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2021-09-07 17:56] Martin-Stein opened #36240 "SQLException when using usermanager.ResetPasswordAsync"
Hi there,
I am using Microsoft.AspNetCore.Identity.EntityFrameworkCore Vers. 5.0.9 in a web-project.

ResetPasswordAsync fails with the error message below. Other userManager operations are working normal.
what could it be?

Kind regards,

Martin

SqlException: Eine neue Transaktion ist unzulässig, weil in dieser Sitzung andere Threads ausgeführt werden.
(Translation: A new transaction is illegal

[2021-09-07 17:57] mkArtakMSFT commented on #32296
The ROI will be very low from this effort, so closing.

[2021-09-07 17:57] #32296 closed

[2021-09-07 17:57] #32356 closed

[2021-09-07 18:00] Eilon commented on #32206
We could consider having code-gen use `nameof(global::Foo.Bar.ObsoletePropertyName)` so that you get the automatic compiler warnings about it:

![image](https://user-images.githubusercontent.com/202643/132390099-dcb70453-60e3-46c9-9188-b9ad40b6c757.png)

[2021-09-07 18:01] mkArtakMSFT commented on #32042
Closing as this is going to be obsolete work after the combined build (not having design time and runtime builds).

[2021-09-07 18:01] #32042 closed

[2021-09-07 18:36] dsoltesz commented on #35584
Were you ever able to get a web.config that allows you to still run locally?

[2021-09-07 18:41] BillHiebert commented on #36085
You can turn off support by seting this Tools\Option to false:

![image](https://user-images.githubusercontent.com/1553785/132394910-7cb32b85-c065-489f-82ff-e410d813c868.png)

[2021-09-07 18:44] BenjaminCharlton commented on #35584
For a stand-alone Blazor WASM project, you should be able to do this at build time (rather than at publish time) if you use the SlowCheetah library as described on the accepted [answer on my StackOverflow question](https://stackoverflow.com/questions/68852492/my-web-config-transformations-are-not-having-any-effect-when-i-publish-my-blazor?noredirect=1#comment121745298_68852492).

But, if your proj

[2021-09-07 19:01] #35902 closed

[2021-09-07 19:01] #35602 closed

[2021-09-07 19:04] #36215 closed

[2021-09-07 19:04] pr-benchmarks[bot] opened #36243 "Perf improvement: json"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json  | Json aspnet-citrine-win | 09/06/2021 08:10:26 | 713,740 | 771,984 | 15.22 % (108,642)  :thumbsup:  | 2.20 σ | 49,305.76 | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Vers

[2021-09-07 19:04] #36200 closed

[2021-09-07 19:04] pr-benchmarks[bot] opened #36244 "Startup regression: json"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| json  | Json Platform Inline aspnet-citrine-amd | 09/06/2021 08:18:38 | 154 | 174 | 10.00 % (16)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>Microsoft.As

[2021-09-07 19:09] johnkors opened #36245 "WebApplicationBuilder.WebHost.UseUrls() does not do anything in ASP.NET Core 6 Preview 7"
### Describe the bug
`WebApplicationBuilder.WebHost.UseUrls()` won't let me override the default port.

### To Reproduce
Setup a standard "Minimal APIs" Program.cs configuration, and try to set the host urls using the `WebApplicationBuilder.WebHost.UseUrls(..)` API.

[code]
Output:

[code]

As a workaround, I found that the `app.Run(urls)` method do work however:

[code]

Repro repo: https://githu

[2021-09-07 19:18] johnkors commented on #36245
Seems to be fixed in RC1. Tested the nightlies from `mcr.microsoft.com/dotnet/nightly/sdk:6.0`, and that did not have the above issue.

[code]

[2021-09-07 19:20] davidfowl commented on #36245
Great! We should be able to close this one then

[2021-09-07 19:21] #36245 closed

[2021-09-07 19:42] blowdart commented on #36240
Are you using the standard identity pages, or did you scaffold out? If you scaffolded, did you change any of the code behind the pages?

[2021-09-07 20:00] #34198 closed

[2021-09-07 20:00] #34160 closed

[2021-09-07 20:00] #34124 closed

[2021-09-07 20:00] #34040 closed

[2021-09-07 20:00] #33963 closed

[2021-09-07 20:00] #33861 closed

[2021-09-07 20:01] #33545 closed

[2021-09-07 20:11] ylr-research commented on #36135
@SteveSandersonMS where does `DotNetStreamReference` class live? I cannot find it anywhere.

[2021-09-07 20:24] navidzehi commented on #34160
I think the reason for low activity on this is because it is difficult to choose a suitable topic for it. Probably other developers have the same issues with other unclear topics and get low activity too.

[2021-09-07 20:45] #36197 closed

[2021-09-07 20:49] mthrift2100 commented on #28813
@szalapski - i am going to review and implement this in our project which has a very good use case for it.  I'll let you know how it works for us and if the workaround can be simplified / optimized.  (Not that my attempt will be the definitive answer on the subject).  But I'm glad someone else thinks this is important. For us it is literally the difference between being able to use Blazor in an en

[2021-09-07 21:23] zHaytam commented on #36218
I'm having the same issue, but with Preview 6 and 7. Good thing I found the issue, I was about to create another one.

[2021-09-07 21:40] pranavkm commented on #36218
@zHaytam it's likely what you're running in to is different from this if you're seeing this with a preview 6 / 7 SDK. I'd recommend using the [6.0-rc1 installer](https://github.com/dotnet/installer#installers-and-binaries) to see if your issues are addressed there as it is much closer to shipping.

@SteveSandersonMS it appears that addressing https://github.com/dotnet/aspnetcore/issues/36227 also

[2021-09-07 21:41] #36008 closed

[2021-09-07 21:47] sebastienros commented on #24151
After some investigation, I confirm that the headers forwarder middleware is registered, but it's only enabled if the `ASPNET_ForwardedHeaders_Enabled` environment variable is equal to `true`, or if the `appsettings.json` contains the `"ForwardedHeaders_Enabled": true` setting, or if the Docker file defined the ENV.

However when running the template in VS neither of these are set from what I expe

[2021-09-07 21:51] jack4it commented on #36202
Absolutely. I'm caching it. Unrelated, but this key pair is renewed every 24 hours roughly. I'm having a file watcher on it and reloading/caching after the renewal

Thanks again!

[2021-09-07 21:53] bradygaster commented on #24151
@Tratcher Might be good to put the setting into the template, but set to `false` - that way it could cue customers to the existence of the setting and potentially ease this process for other folks.

[2021-09-07 21:58] Tratcher commented on #24151
Where? It's set to true in the actual docker file when published. I wouldn't expect it in appsettings.json since that would conflict with the docker file, but maybe launchsettings.json?

[2021-09-07 21:59] sebastienros commented on #24151
Can you point me to the file? I tried with 3.1 templates.

[2021-09-07 22:03] Tratcher commented on #24151
It's here:
https://github.com/Azure-App-Service/ImageBuilder/blob/0901682fa83f20ecd1ccab6612e8d357dcd15150/GenerateDockerFiles/dotnetcore/debian-9/Dockerfile#L56

[2021-09-07 22:15] amir20001 opened #36249 "Error running signalr in google app engine"
### Describe the bug
Issue running Signalr with google app engine.

I have set up a basic client to listen to Signalr msgs, I managed to get everything working locally.
When I deploy the service to google app engine, it seems like all messages stop coming through.

Debugging steps I have taken so far:
1. Force Signalr to use long polling in-case the WebSocket was being killed for some reason.
2. S

[2021-09-07 22:18] #35996 closed

[2021-09-07 22:21] sebastienros commented on #24151
How is the file you shared related to the one that is generated with the template? In the templates the based image is the standard aspnet runtime one.

[code]

[2021-09-07 22:37] #34006 closed

[2021-09-07 22:38] sebastienros commented on #24151
I see, these images are used when we upload/publish a .NET app as is, not when a Docker option is selected in VS.
So this doesn't apply in this case and confirms the problem. IMO the simplest change would be to add the setting to the docker file template, and maybe a few others that the one you pointed at has. If not just for discoverability like Brady is saying.

[2021-09-07 23:07] pranavkm commented on #34418
Thanks @oiBio for giving it a try.

There appears to be an issue running `dotnet run` / `dotnet watch` from the VS console that is being tracked by https://developercommunity.visualstudio.com/t/running-a-net-6-preview-7-aspnet-core-app-in-the-v/1502210. I'm not sure if you're able to see the issue since it's internally filed, but their response goes like so:

[code]

For the other issues you were

[2021-09-07 23:07] #34418 closed

[2021-09-07 23:20] m12lrpv opened #36250 "UseAngularCliServer blocked by node processes it's leaving open from prior execution"
System.InvalidOperationException: The NPM script 'start' exited without indicating that the Angular CLI was listening for requests. The error output was: An unhandled exception occurred: Port 5002 is already in use. Use '--port' to specify a different port.

See "C:\Users\ADMINI~1\AppData\Local\Temp\ng-6givnX\angular-errors.log" for further details.
 ---> System.IO.EndOfStreamException: Attempted

[2021-09-07 23:56] davidfowl commented on #36249
Where is the server running and where is the client running?

[2021-09-07 23:57] pranavkm commented on #36098
I tried this out with a `VS 17.0.0 Preview 5.0 [31706.66.main]`. It looks like when debugging, VS does not perform hot reload (apply the deltas on invoke metadata update handlers) on save. Clicking the "Apply update" button does work though and causes the cshtml file to be updated. I pinged folks in debugging about this and they're investigating.

[2021-09-08 00:21] pranavkm commented on #36098
Nevermind, I missed setting the "Hot Reload on File Save" button which addresses the apply on save issue. Once that is configured, the deltas as sent to the app. However, there's a couple of issues I see with the VS's browser refresh

a) Every other time VS launches a page (F5 once, F5 again), the browser console contains a message `dotnet-watch reload socket closed.` on page load. At this point,

[2021-09-08 01:52] kingcomxu commented on #36098
why you guys can update to preview5? my is preview3.1

[2021-09-08 02:59] davidfowl commented on #35367
I don't think everyone should do DDD or use design patterns or be forced into strict design patterns by ASP.NET Core. They can pick a framework that gels with their view of the world on how to build applications. Choice is a good thing. I do want an ecosystem that builds the same thing 10 times because each of those things comes with an opinion that someone might prefer over the default options.

[2021-09-08 03:06] timheuer commented on #36098
@kingcomxu This is the team working on the VS product so we're using internal builds to validate before we release to the preview channels.

[2021-09-08 03:20] captainsafia commented on #32733
@mkArtakMSFT The external issue is https://github.com/dotnet/roslyn/issues/45960.

[2021-09-08 03:47] John0King commented on #35367
everyone don't , every-company do ,  and any project that keep maintain over 1 year  do  (no matter they are DDD or something else) .

I'm not very familiar with Spring,  but I think  Spring not provide everything , they provide the features for most project need, and people can chose not to use them,  and 3rd party use the Spring provided pattern , so you can simply plug them into your project .

[2021-09-08 06:00] leastprivilege commented on #36175
I think sometimes discussions are better than inventing new APIs. Especially if they bring all the parties to the table.

It sounds like everybody here on this thread wants to do the right thing. While JWT handling is very important, implementing it is a multi-year effort. The Wilson team has already 10 years of investment in that space. At the same time .NET and ASP.NET in particular needs a good

[2021-09-08 06:54] nicholasyin opened #36262 "Is it possible to configure the exception data to log in Log<Level> methods?"
For instance, can I configure somehow so that the `logger.LogError` method will log my own properties, or I can configure further more as to what gets logged? The current implementation seems to log the result of a simply call to `Exception.ToString()` method.

[2021-09-08 06:56] davidfowl commented on #36262
That's up to the logger implementation.

[2021-09-08 07:05] #36244 closed

[2021-09-08 07:05] #36243 closed

[2021-09-08 07:05] #36217 closed

[2021-09-08 07:05] pr-benchmarks[bot] opened #36263 "Startup regression: json"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| json  | Json Platform aspnet-citrine-win | 09/06/2021 20:02:01 | 270 | 290 | 7.00 % (19)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th></table></details> |

@sebastienros
@man

[2021-09-08 07:05] pr-benchmarks[bot] opened #36264 "Startup improvement: multiple_queries, plaintext"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| multiple_queries [Fixed] | Multiple Queries Platform aspnet-citrine-lin | 09/06/2021 20:30:32 | 1,703 | 1,381 | -18.00 % (-291)  :thumbsup: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th></t

[2021-09-08 07:12] nicholasyin commented on #36262
LOL. You're right.

[2021-09-08 07:12] #36262 closed

[2021-09-08 07:13] stsrki commented on #32206
Any chance of this getting into the .Net 6 release?

[2021-09-08 07:14] #34319 closed

[2021-09-08 07:31] davidwengier commented on #29645
Also reported here: https://developercommunity.visualstudio.com/t/Formatting-doesnt-work-in-VS-2022-previ/1517712

[2021-09-08 07:42] davidfowl commented on #35367
ASP.NET provides similar primitives and 3rd parties have built many things on top (like the frameworks and capabilities mentioned above).

[2021-09-08 07:46] CrahunGit opened #36265 "Error using a generated razor class in any other class"
### Describe the bug
There is a bug that caused VS 2022 Versión 17.0.0 Preview 3.1 not compiling blazor 6 app when there is a reference to a generated class. Let me explain. I'm using

[code]

Where AddressEditor is a razor component and the compiler says "Type or namespace not found". This works fine with the cli.

Worked fine on preview 7 but not rc1

### To Reproduce
Create a razor component an

[2021-09-08 07:53] zHaytam opened #36266 "dotnet watch hot reload doesn't apply changes to hosted wasm client project"
### Describe the bug
I have created a new Wasm Hosted project from VS 2022 and ran `dotnet watch run` on the server project's folder. When changing a simple text in the Client project's Index razor page (e.g. "Welcome to your new app 2"), the changes are not applied.

[code]

### To Reproduce

1. Create a new hosted wasm project
2. Run `dotnet watch run` on the server
3. Change something simple, e

[2021-09-08 07:54] zHaytam commented on #36266
On .NET 6 preview 6/7, I get:
[code]

Except I don't see any changes in the browser as well.

[2021-09-08 08:07] zHaytam commented on #36266
Using `dotnet watch` (withoutthe run) works... What's the difference?

[2021-09-08 08:44] Tragetaschen opened #36269 "A HTML custom element is not activated when anything in that subtree Blazor-controlled"
### Describe the bug

I have defined a custom element that extends a built-in element. I can use this on pages, but only when the element or its children do not come in contact with Blazor in any way. This includes event handlers, interpolation (`Current count: @currentCount`) or referencing other components.

### To Reproduce

In the `index.html` of a new Blazor WASM project, I add
[code]
to defi

[2021-09-08 09:00] CaiusJard commented on #13090
Another vote for this, for slightly different reasons outlined in the linked issue

[2021-09-08 09:12] CaiusJard commented on #18685
@NTaylorMullen just wanted to flag up (and it might have been raised elsewhere) that Blazorise's `<Text>` possibly also suffers some similar affliction/confusion with `<text>`. When used in markup-that-was-already-markup it's fine, but when used as the first element in a markup-inside-code it becomes a compiler and syntax highlighting error:

![image](https://user-images.githubusercontent.com/6893

[2021-09-08 09:18] javiercn commented on #35618
@tpups thanks for the additional details.

It seems that there is some issue on your system that prevents self-signed certificates from being trusted. I believe I've seen in the past, however I can't tell whether we were able to find a resolution for it. Something in your Windows configuration is configured to prevent self-signed certificates from being trusted (maybe you have some anti-virus or s

[2021-09-08 09:19] tedd commented on #31048
Same issue in my company, 5000 employees unable to use client side Blazor apps. I have tried many creative solutions previously for downloading data through the firewall. I.e. Renaming files doesn't work, zip with executables doesn't work, password protected zip works. We could make a workaround for our company apps, but I think this is a broader problem for adoption.

Obfuscation should not be ne

[2021-09-08 09:28] SteveSandersonMS commented on #36269
When Blazor constructs DOM content, there are two main ways it does it:

 * For static HTML (detected as static by the compiler), it parses the static HTML using an `innerHTML` assignment
 * For dynamic content, it uses a set of calls to DOM APIs like `document.createElement` and `element.setAttribute`, etc.

In the first case, the browser automatically honours your `is` attribute. In the second c

[2021-09-08 10:11] wihrl opened #36272 "AOT compilation runs out of memory, is extremely slow"
### Describe the bug
It takes 45+ minutes to compile our project.

One of the reasons for this is constantly running out of memory.
The compilation spawns many clang processes, choking the my PC with "only" 16GB of RAM.
It may be due to it trying to utilize all 16 threads of my CPU.

### To Reproduce
Compile a large project with many dependencies.

### Further technical details
.NET 6 Preview 7

[2021-09-08 10:27] javiercn commented on #36250
@m12lrpv thanks for contacting us.

We've addressed this in 6.0 with the new approach we are taking for building SPA applications. You might want to try that and backport the approach to your current version (it should be reasonable to do so) or try and update to .NET 6.0.

As a workaround, you'll have to kill node processes manually in this situation.

[2021-09-08 10:32] javiercn commented on #36272
@wihrl thanks for contacting us.

Can you give us some metrics about the size of your project and so on?
* Number of assemblies
* Size in MB of the app without AoT

In general, AoT compilation is expected to produce apps with a bigger size since wasm is more verbose than IL.

I'm transfering this issue to the runtime repo where they can offer more help, since they are the ones responsible for AoT

[2021-09-08 10:46] chrischu commented on #35922
@HaoK The problem only occurs with *authorization* not authentication (so the fallback policy must require an authorized user, e.g. by requiring a certain claim). That is also the reason why creating a reproduction sample is pretty hard, since we need an actual authorization provider (e.g. Azure B2C).

[2021-09-08 11:12] javiercn commented on #35618
@tpups I was actually able to find the issue we ran into last time, I would suggest you try this https://serverfault.com/questions/1008035/unable-to-import-certificate-into-user-trusted-root-certificate-store

[2021-09-08 11:16] javiercn commented on #35618
Added a docs issue https://github.com/dotnet/AspNetCore.Docs/issues/23233 to track troubleshoot steps

[2021-09-08 11:18] HarelM opened #36274 "Kestrel hangs"
### Describe the bug
The kestrel server stops responding to requests a few seconds after it starts and being publicly available through nginx.

### To Reproduce
I'm not sure how to create a minimalistic repro as this only happens to me in production environment where there are some users, But basically:
1. Run aspnetcore kestrel server on a linux machine inside docker
2. The container is working f

[2021-09-08 11:27] tedd commented on #31048
Ok, I tested modifying the header back on client side. It works and is fairly simple to implement. (Except that the published js file is minimized.)

I added the line
`data[0] = 77;` after this line
to https://github.com/dotnet/aspnetcore/blob/c1d16e3ccd2df6a3ff06b7e0233ad96fe6113d5b/src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts#L460

This restores header from BZ to MZ with near zero ove

[2021-09-08 11:53] guardrex commented on #27417
Hello @adityamandaleeka ... Could you justify that a bit further? What you said seems to be at odds with the spec ...

Cross-reference: https://datatracker.ietf.org/doc/html/rfc3986#section-3.1

... and what the Azure portal shows/uses (e.g., the portal's copy feature grabs it with the scheme).

Taken at face value, the "App Id URI" (`--app-id-uri`) **_is a URI_**, so it has to have a scheme. Is t

[2021-09-08 12:00] #36095 closed

[2021-09-08 12:22] Liero commented on #28813
I think the title of the issue is misleading, that's why it has never been prioritized.

It looks like new feature request to "support virtualization for horizontally stacked items", but it is a bug report.

The title should be:

I recommend to create a new issue.

[2021-09-08 12:29] MarvinKlein1508 commented on #33785
This issue should not be close @SteveSandersonMS

[2021-09-08 12:41] grahambunce opened #36276 "ASP.NET Core SignalR C++ Client 32bit"
We are having trouble compiling this under 32bit - before we investigate further can you confirm if this is intended to support 32/64 bit or just 64 bit?

We wish to run on low-power, older hardware that is still 32bit.

[2021-09-08 12:47] amir20001 commented on #36249
The server is running in AWS (Not managed by our company), they are using the SignalR subscription service.
The client is running in Google app engine(us-central)

[2021-09-08 12:54] mayur-ekbote opened #36277 "String concatenation is incorrect in .net 6 preview 7"
A piece of my code dynamically generates CSS style string. It worked perfectly in .net 5. However, in .net 6 (preview 7) the string concatenation is happening incorrectly.

Following is the test code:

ConcatTest.cs

[code]

Program.cs

[code]

Output:

`height:100%;width:100%;display: grid; , minmax(50px,2000px));2,minmax(60px,2000px)) / repeat(2grid: repeat(;min-width:0; gap:`

It is clearly not

[2021-09-08 13:05] SteveSandersonMS commented on #35459
@IEvangelist I investigated and tracked this down to a bug in the .NET Core SDK, whereby if you use file-scoped namespaces, it no longer generates the correct resource names: https://github.com/dotnet/msbuild/issues/6828

Until this is fixed, a workaround is to change your `Counter.razor.cs` file contents from this:

[code]

to this:

[code]

Alternatively, delete the `Counter.razor.cs` file compl

[2021-09-08 13:05] #35459 closed

[2021-09-08 13:12] SteveSandersonMS commented on #36277
Yes, the same issue caused quite a lot of problems for us too! I believe it was a temporary C# compiler bug that was fixed shortly afterwards. Hopefully when you upgrade to RC1 the problem will be gone.

[2021-09-08 13:18] javiercn commented on #36277
Yep

[2021-09-08 13:25] SteveSandersonMS commented on #35338
On investigation this is **not** related to #35459. That issue is about `IStringLocalizer` and a problem in the generated `.resx` resource names, whereas this issue is about `BlazorWebAssemblyLoadAllGlobalizationData` and how we load native ICU data which is a completely different part of the product.

However I was not able to reproduce this using the latest nightly SDK (RC2):

 * I created a web

[2021-09-08 14:01] cosminstirbu commented on #28382
Hello,

I'm also interested in a way to correlated to logs with a specific request.

Any recommendation on how to achieve this?

Thank you,
Cosmin

[2021-09-08 14:08] szalapski commented on #28813
Great.  I just tweaked the code above to fix a method name.

Yes, I'd consider this a failure to meet the "price of admission" for a Virtualize component. As it is, the component should be named something like VerticalVirtualize since it is so limited.  Thanks for whatever you can do to get this boosted in priority.

[2021-09-08 14:08] davidfowl commented on #36249
So there's an existing SignalR server running on AWS.

What does this mean? They are using Azure SignalR or something else?

So this problem is purely a client problem. You client, when running in app engine, isn't receiving messages?

[2021-09-08 14:09] holtalanm commented on #6175
There are numerous reasons for needing the ability to use hash routing.  Is there a solid reason why this isn't implemented?  Honestly, kind of expected Blazor to support this out of the box.

[2021-09-08 14:09] ThomasKuijper commented on #35338
@st

I tried it with my app 7 days ago.
For now I tried creating a brand new app and inserting my localized code. But it seems that the new 'blazor wasm' project template is broken. If I publish I get errors 'Warning MSB3026: Could not copy "C:\Users\thoma\.nuget\packages\microsoft.aspnetcore.components.webassembly.authentication\6.0.0-rc.2.21455.6\staticwebassets\AuthenticationService.js.LICENSE.

[2021-09-08 14:13] davidfowl commented on #36274
First thing I would recommend:
- Get diagnostics, grab some counters from the process/container https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-counters
- Grab a process dump and see if there's anything suspicious once it starts hanging - https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-dump
- If you can reproduce this locally, then you can try turning the log level

[2021-09-08 14:14] EraYaN opened #36278 "AuthenticationMiddleware should probably try all Schemes not just the default one."
### Is your feature request related to a problem? Please describe.

I am trying to access the `HttpContext.User` item in the Middleware pipeline after the `AuthenticationMiddleware`, and the behavior is different depending on the scheme used (so for us on the issuer of the JWT token). Which seems like a weird design choice. Especially since one would expect if one uses say two calls to `AddMicroso

[2021-09-08 14:14] davidfowl commented on #36274
Also consider using YARP as a proxy https://github.com/microsoft/reverse-proxy/ 😄 .

[2021-09-08 14:16] zaozaoniao opened #36279 "ControllerEndpointRoute API Comment Misunderstood"
## Background and Motivation

https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.Core/src/Builder/ControllerEndpointRouteBuilderExtensions.cs

endpoint route   is  a new feature in the asp.netcore 3.0,
1. ControllerActionEndpointConventionBuilder MapControllerRoute(this IEndpointRouteBuilder endpoints, string name, string pattern, object defaults = null, object constraints = null, object d

[2021-09-08 14:27] HarelM commented on #36274
@davidfowl thanks for getting back to me! Are there easy instructions somewhere to install sdk from command-line in the docker container?

[2021-09-08 14:28] vindberg commented on #27576
How come this was cut!? Please consider this back It's an essential feature for any server side webapp. Our users are seeing "connection lost" even when its a somewhat static page! Any workarounds you can suggest?

Thanks.

[2021-09-08 14:29] HaoK commented on #35922
Well without a repro there's not much we can do to investigate further at this point

[2021-09-08 14:37] younussenn opened #36280 "ASP.Net Core 5.0 Web App SOAP WSDL connection error?"
Hello there,

I'm working on asp.net core webapp for my client. Client sent a new soap web service generated from SAP system. I tried more times for connecting to the service but i didn't do it. I got "**Unrecognized Message Version**" error.
I didn't find solution. How can i pass error. I need help.

Thanks.

![soap_used_method](https://user-images.githubusercontent.com/46409298/132529869-822dc94

[2021-09-08 14:41] SteveSandersonMS commented on #35338
@ThomasKuijper Thanks for replying. Since I posted before, I actually did manage to repro the issue :) The difference is that this only happens in the "ASP.NET Core Hosted" case and not in the "Standalone" WebAssembly case.

So, it **is still an active issue and is not fixed in RC1**.

The good news is that we think we know what's wrong and how to fix it.

[2021-09-08 14:42] HarelM commented on #36274
Nginx is battle tested, industry standard, spec compliant and probably support our needs, I'm sure YARP is nice, but it's still in preview mode and I doubt it will have everything we need.
The first thing would be good documentation which it lacks judging from the things I just read...
Good luck battle testing it in-house first :-) posing and answering SO questions and improving the documentation

[2021-09-08 14:44] SteveSandersonMS commented on #35338
@javiercn This is the publishing issue we were discussing. To observe the issue more directly, create a hosted project, and in the client csproj, add `<BlazorWebAssemblyLoadAllGlobalizationData>true</BlazorWebAssemblyLoadAllGlobalizationData>`.

* On a normal build, `blazor.boot.json` will contain `"icuDataMode": 1`
* But in the publish output, `blazor.boot.json` will contain `"icuDataMode": 0`

A

[2021-09-08 14:56] adrianwright109 opened #36282 "Blazor WebAssembly .Net Core Hosted - Delete temp file after its downloaded to the browser"
Hi,

I wrote a report generator the other day which generates an XML file on the .NET Core server, as part of the generation it creates temporary files that need removing once the file has been downloaded into the browser.

I have this javascript function in the `index.html` which does the download into the browser:
[code]

Once the final report has been generated on the server I call the followin

[2021-09-08 15:18] Ponant commented on #36085
Thank you @BillHiebert , is the port for wss randomly chosen or can we get a hold of it?

[2021-09-08 15:25] blowdart commented on #36278
Because that's what the default is there for. It runs on everything. There are ways to switch it out, or add additional schemes in policy or attributes.

Auth can have side effects, by only running the default one, we hopefully control unexpected surprises from other auth schemes/types. Heck, some folks have custom auth that just checks IP addresses for some reason, and that's their default, and t

[2021-09-08 15:57] wfurt commented on #36211
Did you check file/directory permissions? Try to run `ls -al /app/certs` from _within_ the container. (either before or instead of kestrel)
I assume the kestrel variables are correct @davidfowl ?

[2021-09-08 16:01] pranavkm commented on #36225
This was tracked down as a compiler bug that is being addressed as part of https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1395568. For the time being the work around is to turn off some caching in the compiler:

[code]

[2021-09-08 16:05] #36225 closed

[2021-09-08 16:56] ThomasKuijper commented on #35338
Superb, thank you for your continued investigations. Sadly it wont be RC1 then, but it would be for final release right?

[2021-09-08 17:00] SteveSandersonMS commented on #35338
Correct. We're aiming to fix it in RC2, as RC1 is already pretty much locked.

Editing `blazor.boot.json` manually is inconvenient but you could do it. Remember to also delete or edit the compressed versions of that file as well.

[2021-09-08 17:02] danroth27 commented on #36116
This appears to be an issue with any component not in the app assembly. The component tag renders as content. I.e PageTitle shows up in the source.

[2021-09-08 17:06] javiercn commented on #35338
@SteveSandersonMS if this is the MSBuild thing we discussed, it can probably be achieved by setting the property in the csproj file as a workaround. It might be a bit more convenient.

[2021-09-08 17:06] SteveSandersonMS commented on #36116
If that's the case, it's deep in hot reload internals.

@pranavkm would be better to look into it, but I know he's quite busy. Pranav, is there any other applicable work you want to trade with me?

[2021-09-08 17:08] SteveSandersonMS commented on #36116
@MackinnonBuck Removing you as I know you have other things to look into, and this seems definitely not to be an issue with `PageTitle` itself.

[2021-09-08 17:10] lambdageek commented on #35174
This is true for .NET for iOS - they use custom trimmer passes during the build even for running the app without trimming.
Any solution should not ultimately affect whether the trimmer runs at all.

Yep, no IL or metadata rewriting should be happening in hot reload scenarios - otherwise the deltas will not match the loaded assemblies. Neither CoreCLR nor Mono do a lot of validation before applying

[2021-09-08 17:21] HaoK opened #36288 "Bootstrap sxs cleanup"
- [x] Error when illegal bootstrap version is specified
- [x] Razor pages in ui correctly not marked as content
- [x] Default when no specified should be bootstrap5

[2021-09-08 17:22] #30417 closed

[2021-09-08 17:22] JamesHill3 opened #36289 "Custom app_offline.htm"
### Describe the solution you'd like
Please, for the love of all that is good in the world, let us create a custom app_offline.htm.

### Additional context
I use web deploy.

The user voice from 2012 was taken down, but a quick search on StackOverflow and Google reveal troves of people scouring the depths of the Internet for a solution from 2009 onward.

### Motivational context

[2021-09-08 17:22] mrlife commented on #35611
@javiercn @mkArtakMSFT In the meantime, is there any way to store a user-specific value and recall it, both actions outside of the "Blazor scope"?

[2021-09-08 18:01] vgmello opened #36291 "If-None-Match and If-Modified-Since headers not being process by .NET 6 on VS 2022"
### Describe the bug
I'm not sure if this issue should be reported here or as a VS 2022 bug, however, for some reason whenever an aspnet app is started within VS 2022 even without the debugger attached, the app can not read the `If-None-Match` and `If-Modified-Since` request headers, there are never included in header collection. I'm experiencing this behavior in both Kestrel and IIS Express, and

[2021-09-08 18:05] HaoK commented on #33116
Tracked as part of https://github.com/dotnet/aspnetcore/issues/33116

[2021-09-08 18:17] davidfowl commented on #36274
https://docs.microsoft.com/en-us/dotnet/core/diagnostics/diagnostics-in-containers

[2021-09-08 18:22] pranavkm commented on #36218
Verified this is fixed with `6.0.100-rc.2.21458.9`. Interestingly I had to turn off the compiler caching that was observed in https://github.com/dotnet/aspnetcore/issues/36225#issuecomment-915367349 (perhaps the change landed in the SDK and watch's compilation is stateful). I used a Directory.Build.props in the root of the sln to disable it. Once this was applied, watch worked consistently.

[2021-09-08 18:22] #36218 closed

[2021-09-08 18:27] Tratcher commented on #4684
Updates Facebook to v11 for .NET 6 rc2. Other providers are up to date.

Revisit late in .NET 7.

[2021-09-08 18:40] davidfowl commented on #36007
This should be a .NET 7 candidate.

[2021-09-08 18:42] MinhMit commented on #36211
@wfurt
Thanks for answer,
This's image's permission of /app/certs within my container

![Untitled](https://user-images.githubusercontent.com/5819667/132566521-d52909c3-e01f-4c53-a38d-874cb27173e5.png)

Is it wrong? And what can i do to fix this?

Again, thanks for your support

[2021-09-08 18:49] mthrift2100 commented on #28813
@szalapski  - I  saw the method name discrepancy and made the assumption.  The implementation worked. However as I started to understand the issue more, I decided on another approach.

The problem as I see it with the current Virtualize component is that it is using  an IntersectionObserver to trigger the rendering whenever the beforeSpacer or afterSpacer div elements becomes visible in the ViewPo

[2021-09-08 19:04] pr-benchmarks[bot] opened #36294 "Startup regression: json"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| json [Fixed] | Json Crossgen2 aspnet-citrine-win | 09/07/2021 08:14:28 | 262 | 285 | 9.00 % (25)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th></table></details> |

@sebastien

[2021-09-08 19:04] pr-benchmarks[bot] opened #36295 "Startup improvement: fortunes"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| fortunes [Fixed] | Fortunes aspnet-citrine-win | 09/07/2021 08:46:58 | 399 | 380 | -7.00 % (-27)  :thumbsup: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th></table></details> |

@sebastienro

[2021-09-08 19:10] zarinportal commented on #35338
@SteveSandersonMS Thanks for replying. Since I'm using brotli formats, I will first try to extract the blazor.boot.json.br file by paezip, then edit it and compress it again and using it in published project.Will this problem be solved in .Net 6 Preview 8 version?

[2021-09-08 19:15] javiercn commented on #35338
@zarinportal as a workaround is much easier if you unconditionally set this `_BlazorWebAssemblyLoadAllGlobalizationData` to the right value in your csproj file

[2021-09-08 19:18] mayur-ekbote commented on #34342
Post .net 6 (preview 7) migration the IDE has become very unstable (I was on .net 5). Random crashes and high CPU usage are extremely frequent. PFA new type of issue.

https://user-images.githubusercontent.com/40038634/132571105-a239a31a-aec1-4bbe-8156-566d910a550e.mp4

[2021-09-08 19:18] Tratcher commented on #22186
Thread summary:
- Lots of different people hitting `System.Net.Sockets.SocketException (125): Operation canceled` in different scenarios
  - Kestrel: Causes 502s from NGinx, but also repros without NGinx.
  - HttpClient: Not enough info to investigate this variant.
  - SqlClient: `There were some usages of Microsoft.Win32.SafeHandles. We removed them and it works well now.`
- Docker or K8 are invo

[2021-09-08 19:19] amir20001 commented on #36249
Turns out this was a problem with the server picking up on a bad config when deployed.

[2021-09-08 19:19] #36249 closed

[2021-09-08 19:42] Rick-Anderson opened #36327 ".NET 6 web app templates, remove app.UseDeveloperExceptionPage();"
The developer exception page is added automatically in development by `WebApplication`, so the following code should be removed from all the web app templates:

[code]

See [this GitHub comment](https://github.com/dotnet/AspNetCore.Docs/pull/23112#discussion_r697783111)

[2021-09-08 19:58] wfurt commented on #36211
The problem is that the files you are trying to access are symbolic links. And they are relative to the original location and not visible in the docker container. One way how to fix it is to map the '.../archive/megiservices.com-001/` instead of `.../localization/certs`

[2021-09-08 20:08] TheCakeMonster commented on #31832
@Eilon thanks for the update, that's great news - and very good timing.

It appears that, suddenly, MBB no longer works on Windows. The deployment of the latest Edge Stable released Thursday 2nd/Friday 3rd Sept has broken it somehow. Anyone using it will need to move to .NET MAUI instead.

https://github.com/MicrosoftEdge/WebView2Feedback/issues/1714

[2021-09-08 20:09] adityamandaleeka commented on #36276
Can you share a repro or more info on what you're hitting?

[2021-09-08 20:10] javiercn commented on #30427
This was fixed in https://github.com/dotnet/sdk/pull/20609 and will be available on 6.0-rc2

[2021-09-08 20:10] #30427 closed

[2021-09-08 20:11] #29904 closed

[2021-09-08 20:15] adityamandaleeka commented on #36289
@vijayrkn Can you please take a look? Is this supported?

[2021-09-08 20:21] adityamandaleeka commented on #36274
@HarelM Can you also please collect `netstat -vtan` the next time this happens?

[2021-09-08 20:23] adityamandaleeka commented on #36210
Can this issue be closed now?

[2021-09-08 20:23] javiercn commented on #36210
I think so

[2021-09-08 20:25] adityamandaleeka commented on #35977
Based on the above, it sounds like this _was_ a known issue that was fixed, so let's unquarantine this test.

[2021-09-08 20:33] vijayrkn commented on #36289
Since app_offline is a static file, you should be able to add any app_offline content to the root of your project at the time of publishing. This should replace the one added by MSDeploy. This blog has details on handling it many ways - https://tahoeninjas.blog/2018/11/08/automatically-make-your-asp-net-web-application-offline-while-deploying-using-web-deploy-in-visual-studio-2017/

Does this help

[2021-09-08 20:36] HarelM commented on #36274
I'll do my best although I don't have a clue what this command does...
Also I tried to see if I can think of a reason my code can get stuck on a deadlock or something and came across this issue:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/468
My token authentication code can be found here:
https://github.com/IsraelHikingMap/Site/blob/751a30b9c88e3e6d

[2021-09-08 20:46] adityamandaleeka commented on #28396
We should be able to get this in for 6 since test-only changes have a bit more runway.

[2021-09-08 20:46] Bludator opened #36298 "SignalR Java client: disposing Completable returned by HubConnection.start() does nothing"
### Describe the bug
It is not possible to prevent `HubConnection` from starting with dispose call on `Completable` returned by `HubConnection.start()`.
[By looking at the code there is no `doOnDispose` or alike](https://github.com/dotnet/aspnetcore/blob/a9986c33a51f5ceda5854cbfc8969f4c9079caf7/src/SignalR/clients/java/signalr/core/src/main/java/com/microsoft/signalr/HubConnection.java#L225)

If o

[2021-09-08 20:47] adityamandaleeka commented on #34578
@davidfowl Any update on this one?

[2021-09-08 20:48] adityamandaleeka commented on #25163
@HaoK Can you please investigate this when you have some time?

[2021-09-08 21:00] pranavkm opened #36299 "Run Blazor Server app using dotnet watch, the second counter loses its state(resets count to 0) when IncrementAmount attribute is added to the first counter."
* Open up a normal Command Prompt, create a 6.0 Blazor Server app, run it using dotnet watch

         dotnet new blazorserver -o MyBlazorServerApp
         cd MyBlazorServerApp
         dotnet watch

* Open the project with VS, add two <Counter /> to Index.razor and save file. The two Counter show up in the browser and they all work (click the button a few times for each one to change the count).

[2021-09-08 21:00] #36135 closed

[2021-09-08 21:00] #36105 closed

[2021-09-08 21:08] sebastienros commented on #27538
I checked the remaining boxes to be ticked and couldn't find any namespace without doc. Can someone validate?

[2021-09-08 21:08] pranavkm commented on #36299
@SteveSandersonMS I haven't dug in to this a whole lot, but from what I can tell, adding the attribute causes the renderer to treat this as adding / removing a component which results in it being reinitialized.

[code]

I'd like to say yeah, state preservation in components is best effort, but not guaranteed and so you might see 👻 behavior like this, but I don't know if you differently and this is

[2021-09-08 21:09] HarelM commented on #36274
@adityamandaleeka where should I run `netstat`? inside the container or on the host machine? when trying to run this inside the container it says `bash: netstat: command not found`, should I `apt-get` it?

[2021-09-08 21:15] JamesHill3 commented on #36289
@vijayrkn It would help if I were publishing to a network folder, but I've not been able to get this to work when publishing to a remote server using Web Deploy.

Ideally, it would be nice to be able to drop an **app_offline.htm** into the root of the site and have deploy pick it up on publish and use it instead of the blank (except for the _Under Construction_ page title) app_offline.htm that's b

[2021-09-08 21:35] shirhatti commented on #28396
How do I write an out-of-proc test? @Tratcher is there a comparable test I can look at?

[2021-09-08 21:37] Eilon commented on #31832
Oh yikes! I'll need to test this and see what's going on... maybe just updating to a newer WebView2 NuGet package might fix it somehow? I wonder if that works if you try it in your own project?

[2021-09-08 21:41] Tratcher commented on #28396
Start here: https://github.com/dotnet/aspnetcore/blob/main/src/Servers/test/FunctionalTests/HelloWorldTest.cs

[2021-09-08 21:47] Tratcher commented on #28396
Or here: https://github.com/dotnet/aspnetcore/blob/a9986c33a51f5ceda5854cbfc8969f4c9079caf7/src/Hosting/test/FunctionalTests/ShutdownTests.cs#L57

[2021-09-08 21:47] captainsafia opened #36300 "Replace `Microsoft.AspNetCore.Analyzer.Testing` with `Microsoft.CodeAnalysis.Testing`"
Currently, our analyzers/codefixes rely on a custom library to validate their behavior. Moving forward, we can use the official testing libraries provided in the `M.CA.Testing` and move away from relying on our custom setup.

At minimum, new analyzers should use the M.CA.Testing library for validation. We can also invest some time in porting over the older tests and removing the custom project all

[2021-09-08 22:03] #35338 closed

[2021-09-08 22:18] SteveSandersonMS commented on #36299
Yes, it would result in the sequence number changing, so it will be treated as a new child. The same would happen if you just added some new content (like another element) before the component.

In the long term we could do an entirely different - and far more expensive - least-edit-distance type diffing immediately after hot reload updates, but it’s massively out of scope for 6.0.

[2021-09-08 22:22] Tratcher commented on #26246
These are already covered under the SNI section, but could use mentions elsewhere. I'll add a few.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel/endpoints?view=aspnetcore-5.0#sni-in-configuration

[2021-09-08 22:32] vsfeedback opened #36306 "DotNet watch should not trigger itself"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/DotNet-watch-should-not-trigger-itself/1518401)._

---
[severity:I'm unable to use this version]
I create a command-line project (ie: TestCommandLineProject), and go to the command line and run ```dotnet watch run``` and the project builds and runs the program.cs file and output is good.

[2021-09-08 22:38] davidfowl commented on #34578
I have no cycles 😢

[2021-09-08 22:41] #36210 closed

[2021-09-08 22:56] SonoranBrian opened #36308 "WSS Closure Immediately after KeepAlive"
### Describe the bug
While using CloudFlare to proxy the WSS connection with SignalR, some users experience frequent disconnects. This is only reproducible while using a proxied connection with CF.

I've been trying to track down this issue for some time now, most recently with: #[29563 ](https://github.com/dotnet/aspnetcore/issues/34451)as it seems only certain users experience this. When the cli

[2021-09-08 22:58] #35905 closed

[2021-09-08 23:45] #26246 closed

[2021-09-09 00:06] Xyncgas opened #36311 "Blazor multi-threading support via workers."
I would like to compute heavy stuffs on client side, I would like to use workers to do it out side of UI thread, I would like to achieve this in c# rather than writing my own javascript interop.
Currently blazor webassembly is single threaded and uses async to do networking calls etc and unblocking the UI thread.

[2021-09-09 00:19] zxj17815 opened #36312 "models list validation return display name"
There are two models In the case of sub-table validation errors, can it return the display of the list? The field name is currently returned.
now return：items[0].price....
want return：ProductDetail[0].price....
Or there is a modification method, but what should I do
[code]

[2021-09-09 00:21] #28384 closed

[2021-09-09 00:38] Cyberboss opened #36315 "API1001 False Positive on 202 response"
### Describe the bug
API1001 falsely triggers in certain cases involving lambdas

### To Reproduce
Basic controller action:
[code]

Note that changing the status code to 201 or 200 clears the warning.

### Further technical details
- ASP.NET Core version: 6 preview
- Include the output of `dotnet --info`:
[code]
- The IDE (VS / VS Code/ VS4Mac) you're running on, and its version: VS 17.0.0 Preview

[2021-09-09 00:39] ylr-research opened #36316 "DotNetStreamReference class no longer exists"
In a recent issue I opened #36135, Steve suggested I could instantiate `DotNetStreamReference` class. Apparently that class no longer exist or has been renamed. I searched [here](https://docs.microsoft.com/en-us/search/?scope=ASP.NET%20Core&view=aspnetcore-5.0&terms=DotNetStreamReference)
![image](https://user-images.githubusercontent.com/63487874/132603285-aa0d55dd-7eeb-4d23-a0c2-9ed60b20f9b8.png

[2021-09-09 01:11] John0King commented on #13021
anything new ?

[2021-09-09 01:18] MinhMit commented on #36211
It's working, thanks you so much.

[2021-09-09 01:40] carlosalcantara2668 commented on #35358
incredible if it works, it would be ideal

[2021-09-09 01:46] allisonchou commented on #27666
Closing as this issue no longer seems to repro with newer builds.

[2021-09-09 01:46] #27666 closed

[2021-09-09 03:22] zarinportal commented on #35338
@javiercn I set BlazorWebAssemblyLoadAllGlobalizationData property to true in .csproj but not be solved

[2021-09-09 03:24] dotnet-eng-status[bot] opened #36318 "Build failed: Validate-DotNet/main .NET Core 3.1 Release, validation-aspnetcore-.NET Core 3.1 Release, aspnetcore #aspnetcore-107590-.NETCore3.1Release"
Build [#aspnetcore-107590-.NETCore3.1Release](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1350618) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Thu, 09 Sep 2021 03:23:44 GMT
**Duration** - 254 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x

[2021-09-09 03:47] davidwengier opened #36319 "Can we remove the MapToDocumentEdits call in Razor On Type formatting?"
Can we call `ApplyFormattedEditsAsync` directly in the existing on type formatting handler?

See https://github.com/dotnet/aspnetcore-tooling/pull/4203#discussion_r704929056

[2021-09-09 04:38] allisonchou commented on #36121
@musictopia2 Can you share some of the issues you're encountering with the new editor? We'd love to know what's not working for you so we can address the problems and help you feel more confident in using the new editor as your primary editor.

[2021-09-09 05:07] davidfowl commented on #36274
If you can reproduce the hang (and it does sound like thread starvation) then getting a process dump would be good enough to tell.

[2021-09-09 05:26] guide2wsl opened #36320 "windows arm64 dotnet SDK fails to publish self-contained"
### Describe the bug
The dotnet CLI on a Windows ARM64 machine cannot publish a self-contained application

### To Reproduce
On a Windows ARM64 device (e.g. Surface Pro X):
1. Download https://dotnet.microsoft.com/download/dotnet/thank-you/sdk-6.0.100-preview.7-windows-arm64-binaries
2. Create a new application:
[code]
3. Attempt to publish it:
[code]

It's worth noting within WSL2, the Linux ARM6

[2021-09-09 06:33] martincostello commented on #28384
@Tratcher Nice find. Dylan's been away from Polly for a while (https://github.com/App-vNext/Polly/issues/798) and isn't getting GitHub notifications. Feel free to ping me if anything Polly-related pops up in the future, and I'll see if I can help out.

[2021-09-09 06:40] Bartmax opened #36321 "Prevent CSS039 Unexpected character sequence in property value."
How one would remove this warning? Warning are getting really annoying as of lately.

![image](https://user-images.githubusercontent.com/3386797/132635631-50546f29-9afc-4988-ad0e-b7dcad51c125.png)

[2021-09-09 06:41] Bartmax commented on #36321
I forgot to mention that that line alone produces 21 Warnings for no reason.

![image](https://user-images.githubusercontent.com/3386797/132635834-9f0d37ec-2451-4cd8-8e4d-48659f1425b4.png)

[2021-09-09 07:05] pr-benchmarks[bot] opened #36322 "Perf improvement: endpoint"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| endpoint [Fixed] | Plaintext Endpoint aspnet-citrine-amd | 09/08/2021 08:22:03 | 6,501,305 | 6,836,026 | 7.72 % (501,713)  :thumbsup:  | 2.60 σ | 193,041.03 | <details>    <summary>Changes</summary>

[2021-09-09 07:05] #36216 closed

[2021-09-09 07:05] #36263 closed

[2021-09-09 07:05] #36212 closed

[2021-09-09 07:05] pr-benchmarks[bot] opened #36323 "Startup regression: endpoint, https, plaintext"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| endpoint  | Plaintext Endpoint aspnet-citrine-amd | 09/07/2021 20:21:46 | 167 | 182 | 8.00 % (15)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>System.Runt

[2021-09-09 07:05] #36136 closed

[2021-09-09 07:15] JeepNL opened #36324 "[Question] How to call .UseSystemd() in the new (.NET 6 preview 7) minimal templates"
I like the new [minimal host and templates](https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-7/#minimal-host-and-template-improvements) in .NET 6 preview 7 but I'm having trouble using `.UseSystemd()` in them.

When I use `Program.cs` and `Startup.cs` (_the 'old' way_) I can call it in `Program.cs` like this

[code]

An example on how to do this in the new minimal templa

[2021-09-09 07:31] kieronlanning commented on #18042
I've just wasted a morning tracking this down, any movement... updates? ...anything?

[2021-09-09 07:45] vitek-karas commented on #35977
@adityamandaleeka sorry for the confusion. The failure in this issue is not known (never seen it before). When I tried to repro it I ran into a different issue which we did fix. But the two are very likely not related. That said, without some more info about this, I don't think we can make much progress unfortunately.

[2021-09-09 08:07] CrahunGit commented on #36265
I've use it to get translation on fluent validator class. I need to inject
[code]

[2021-09-09 08:07] JeepNL commented on #36324
Oh, I think I've found it!

[code]

Before I close this, I'm gonna test it.

[2021-09-09 08:09] vitek-karas commented on #35174
Any solution should not ultimately affect whether the trimmer runs at all.

If we do need to run the trimmer in this case (I assume this is the run which is meant to just run custom steps), we should run it with all assemblies set to "copy" action, which guarantees the trimmer does not modify the files at all. In which case it would have no effect on ability to run startup hooks either (in fact, s

[2021-09-09 08:12] JeepNL commented on #36324
Yes, this works on my (remote, co-location) Ubuntu 20.04 VPS!

It is so simple, when you know it! 😊

[2021-09-09 08:12] #36324 closed

[2021-09-09 08:16] javiercn commented on #36316
@ylr-research thanks for contacting us.

We might have renamed it as part of our API review process and the docs might be out of date. @TanayParikh do you have thoughts?

[2021-09-09 08:49] Jack-S-Jenkins commented on #5716
+1! The feature would be nice for those who need a quick way to expire a user password after having an admin manually reset it to "Password" or some other simple one. At least it will be some modicum of security for low-level non-critical apps.

[2021-09-09 08:52] zarinportal commented on #35338
@SteveSandersonMS are you program manager for Microsoft? If this is true, I have a suggestion for Blazor development. You can save Brotli files in the browser cache after extraction to be loaded in a much shorter time in the next page refresh and no need to extract again brotli files

[2021-09-09 08:55] javiercn commented on #35338
@zarinportal note the leading underscore `_BlazorWebAssemblyLoadAllGlobalizationData`

[2021-09-09 08:55] javiercn commented on #35338
We already do this when possible.

[2021-09-09 08:58] xsoheilalizadeh commented on #23949
We are facing the same issue on .NET 6 Preview 7:
[code]

[2021-09-09 09:48] EraYaN commented on #36278
Aah right, thing is just changing the default doesn't really work for us, because we use multiple at the same time. We will continue running a secondary middleware. Thanks for the quick response.

[2021-09-09 10:14] mrpmorris opened #36326 "Blazor app won't compile due to auto-generated __Blazor namespaces"
### Describe the bug
The auto-generated __Blazor namespaces can confuse the compiler and cause a failure to build.

### To Reproduce
https://github.com/mrpmorris/blazor-namespace-problem

Build the app, and observe the following error

[code]

If I build and then edit obj\Debug\netcoreapp3.1\Razor\Pages\Index.razor.g.cs and change Line 156 from this

[code]

To include `global::`, like this

[code

[2021-09-09 10:25] tibold commented on #20055
Using the code blocks and declaring local functions instead of using the `@functions {}` seems to work fine.

[code]

[2021-09-09 10:41] zarinportal commented on #35338
Ok its good.thanks

[2021-09-09 11:32] Kahbazi commented on #36278
@EraYaN I guess you could add a default scheme which its handler will check all other scheme and return the first success authentication ticket. This way you won't need the secondary middleware.

[2021-09-09 11:43] vlada-shubina commented on #36327
@Rick-Anderson @DamianEdwards I have transferred this issue to dotnet/aspnetcore, as it is related to asp.net templates.

[2021-09-09 12:33] TarasLobanov opened #36329 "Issue: Consume multiple BlazorCustomElements in js-frameworks (React, Vue, etc)"
Hi! Thanks for this example - https://github.com/aspnet/AspLabs/tree/main/src/BlazorCustomElements. It works well for me with React or Vue (without any .net-backend). But now I be able to add only one blazor component to the project (BlazorAppProvidingCustomElements.dll from this example). If I try to add a second similar blazor component, things go wrong because there is only one "entryAssembly"

[2021-09-09 12:42] TLA020 commented on #22394
I have the same issue, having used a lot of "SPA" javascript frameworks. i'm used to computed properties like vue has and "watchers".

In one of my components i receive a property (Volume) from the store(stateContainer). This volume is updated by a socket event everytime someone on the app changes the volume of the player.

This Volume property i use to show a slider, when the user changes the sli

[2021-09-09 13:34] talshloman commented on #11544
I faced the same issue when passing encoded URI as query parameters.
I had to Get a request and I excepted to get a model. one of the props was string and we send encoded string due to we want to pass '+'.

I tried every solution I found on google, but no one work. so I started to try myself and I found a solution. I explicit the get set.
Now all work as expected.

In you example
`[Route("/api/adm

[2021-09-09 13:47] SteveSandersonMS commented on #36299
BTW if anyone is super keen on preserving instances in this specific case, they can always put on a `@key`, even just with a fixed literal value, e.g.:

[code]

Now the diffing system will preserve instances based on those `@key` values rather than the compiler-generated sequence numbers.

[2021-09-09 13:47] SteveSandersonMS commented on #36299
Closing as by design.

[2021-09-09 13:47] #36299 closed

[2021-09-09 13:49] SteveSandersonMS commented on #36135
https://github.com/dotnet/aspnetcore/blob/main/src/JSInterop/Microsoft.JSInterop/src/DotNetStreamReference.cs

[2021-09-09 13:49] SteveSandersonMS commented on #36316
It's in JSInterop: https://github.com/dotnet/aspnetcore/blob/main/src/JSInterop/Microsoft.JSInterop/src/DotNetStreamReference.cs

[2021-09-09 13:49] #36316 closed

[2021-09-09 13:50] SteveSandersonMS commented on #36316
https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-6.0#stream-from-net-to-javascript

[2021-09-09 13:51] SteveSandersonMS commented on #36135
https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-6.0#stream-from-net-to-javascript

[2021-09-09 13:53] musictopia2 commented on #36121
The issues I am having problems with is the intellisense.  Here are some examples:

1.  Smart indentation does not work.
2.  Most of the time, no intellisense even with the css when using the style tag for divs
3.  Even no intellisense to show the render fragment names
4.  When I set parameters and I use the =, not adding the " and " and putting cursor in middle.

For now, those are the major issu

[2021-09-09 14:07] SteveSandersonMS commented on #36116
@pranavkm I've moved the assignment to you, because both RSG and hot reload are your areas. But let's sync up about it in case you think it's impractical to cover it this week, or if there's some other work I could take off your list. Alternatively I'm happy to spend some time on this tomorrow myself but would need to talk with you in some detail to get context on the whole flow.

[2021-09-09 14:16] SteveSandersonMS commented on #32206
No, sorry. We're only stabilising and fixing bugs now.

[2021-09-09 14:25] Tratcher commented on #28384
Thanks Martin, what do you think of the fix?

[2021-09-09 14:29] SteveSandersonMS commented on #12685
In .NET 6, we support passing arbitrary binary data (i.e., `byte[]`) as a parameter without extra base64 overhead, so you can now do whatever custom serialization you want and pass the resulting bytes.

We don't plan to make the **global default** serialization customizable, because that would break the ecosystem of component libraries. If there was a global config, then some libraries would depen

[2021-09-09 14:38] SteveSandersonMS commented on #26943
In case it helps, I have a sample app that does this via code [here](https://github.com/SteveSandersonMS/presentation-2021-01-NDCLondon/blob/master/demo/CalendarApp/src/CalendarApp/Pages/Home/Home.razor#L70) and [here](https://github.com/SteveSandersonMS/presentation-2021-01-NDCLondon/blob/master/demo/CalendarApp/src/CalendarApp/wwwroot/scroller.js).

[2021-09-09 14:40] martincostello commented on #28384
I had a look and it seemed reasonable to me.

I'd maybe have been 60:40 as to whether I'd have used `HttpRequest.Properties` vs. `Context`'s own implementation of `IDictionary` to store the previous response, but as the HTTP pipeline is adding it it's probably best to keep it on the message and keep it "HTTP" rather than use the `Context` to make it "Polly".

[2021-09-09 15:23] javiercn commented on #36327
@vlada-shubina thanks.

This is indeed templates related

[2021-09-09 15:23] sebastienros opened #36331 "InstallJdk incorrectly thinks jdk is already installed"
https://github.com/dotnet/aspnetcore/blob/main/eng/scripts/InstallJdk.ps1#L28

In my case the folder `\.tools\jdk\win-x64\` exists but is empty, and the script no-ops. I think this could be improve to continue the installation in this case. If I had not looked at the folder I would have believed it.

[2021-09-09 15:38] javiercn commented on #35633
@pbiggar thanks for contacting us.

Can you give this a try with a nightly RC1 build and tell us if you are still running into it?

It would help us if you can create a binlog of the build process and share it with us.

[2021-09-09 15:50] ylr-research commented on #36135
Thanks @SteveSandersonMS

[2021-09-09 15:50] #27733 closed

[2021-09-09 15:51] ylr-research commented on #36316
Great!

[2021-09-09 16:01] mkArtakMSFT commented on #31030
@captainsafia I assume this is now done, isn't it?

[2021-09-09 16:03] SoftCircuits commented on #20055
Indeed it does. Silly me for using constructs provided my Microsoft. And silly Microsoft for not being able to answer this issue.

Thanks!

[2021-09-09 16:21] #36211 closed

[2021-09-09 16:25] pranavkm commented on #36329
Thanks @TarasLobanov for your issue report and trying out the BlazorCustomElements feature. Unfortunately at this point Blazor does not support having multiple instances of the WebAssembly .NET runtime registered on the same page. This is something we'd like to think about in 7.0. In the meanwhile, the best suggestion we have is to compile multiple Blazor WASM apps in to a single one (by referenci

[2021-09-09 16:33] pranavkm commented on #36282
`InvokeVoidAsync` awaits the promise returned from your JS interop call or finishes as soon as your JS function executes. In your case, the JS function finishes synchronously. You would return a promise that would finish at the end of the browser finishing the download. An alternate solution might be to trigger removal from your API endpoint after it's been downloaded with some smarts around clean

[2021-09-09 16:34] captainsafia commented on #31030
Yep! Not sure why it didn't close when I merged the PR.

[2021-09-09 16:34] #31030 closed

[2021-09-09 16:35] pranavkm commented on #36266
RC1 had a bug in the compiler that prevented watch from working effectively. I think a fix for this was merged in last night. Could you try updating the SDK and see if you continue seeing the issue?

[2021-09-09 16:39] pranavkm commented on #36265
Could you try updating to a newer build of the SDK? We had a compiler bug that resulted in strange behavior such as the one you're observing, which should be addressed in a newer RC1 build of the SDK.

[2021-09-09 16:40] pranavkm commented on #36327
@DamianEdwards would you like to address this?

[2021-09-09 16:41] CrahunGit commented on #36265
Ok, i’ve tried this morning with rc1 and rc2 and it’s still failing. Anyway i will try again. Now I’m compiling with the cli and works fine

[2021-09-09 16:42] pranavkm commented on #36306
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimal project (ideally a GitHub repo) that illustrates the problem.

[2021-09-09 16:51] SteveSandersonMS opened #36333 "Ensure WASM native asset support is merged for RC2"
It's waiting on:

 * https://github.com/dotnet/runtime/pull/58913
 * https://github.com/dotnet/sdk/pull/20742

[2021-09-09 16:53] tn-5 opened #36334 "Preview7 publish does not include compiled typescript output in static web assets"
# Problem description
With a blazor project (using Microsoft.NET.Sdk.BlazorWebAssembly) a library [LIB1] is referenced (using Microsoft.NET.Sdk.Razor).

In LIB1 typescript is used. The typescript source is in the normal project folders and the tsconfig.json has a setting to produce the output in wwwroot (in LIB1):  ```"outDir": "wwwroot"```

On build the typescript compiles, the JS output appears

[2021-09-09 16:53] MarkStega opened #36335 ".Net 6 Preview 7 SDK seems to replicate resources from NuGet packages"
I have a solution that has multiple csproj/dll's; Prior to P7, I had references to the Nuget package 'Material.Blazor' in four of those csproj. With P7 the build failed with duplicate static content. Upon examination of the graphic view of the projects each that had the reference to Material.Blazor has content in wwwroot corresponding to the content in Material.Blazor (4 css files and 2 js files).

[2021-09-09 16:59] Rick-Anderson commented on #36327
RP and MVC apps go from:
[code]
To
[code]

[2021-09-09 17:02] DamianEdwards commented on #36327
I thought I remember @BrennanConroy saying he was going to do this but he's OOF so I'm happy to make the change.

[2021-09-09 17:04] enriquega-key commented on #29478
Unfortunaterly this didn't work for me... Thanks anyway. I got a different error:
`An unhandled exception occurred while processing the request.
TimeoutException: The Angular CLI process did not start listening for requests within the timeout period of 0 seconds. Check the log output for error information.
Microsoft.AspNetCore.SpaServices.Extensions.Util.TaskTimeoutExtensions.WithTimeout<T>(Task<T

[2021-09-09 17:12] user72356 commented on #12685
I understand the rationale. It would definitely be nice to have a per-call option at some point in the near future!

[2021-09-09 17:29] TarasLobanov commented on #36329
@pranavkm thanks for answer!
I don't actually need multiple instances of the .NET WebAssembly runtime. On the contrary, I need one WebAssembly runtime for the entire application and several independent blazor components that run in it. To do this, I would like to know how to supply and load the WebAssembly runtime into the browser separately and then load the blazor components themselves. I assume

[2021-09-09 17:33] CanuckGamer opened #36338 "Linq XElement.Add adds text "None" into XML"
### Describe the bug
System.Xml.Linq.XContainer.Add adds text "None" into the XML when using option LoadOptions.None

### To Reproduce
Sample code:

XDocument doc = XDocument.Parse("<SERIALS></SERIALS>");
XElement serial = new XElement("SER");
serial.Value = "248222";
doc.Document.Descendants("SERIALS").FirstOrDefault().Add(serial, LoadOptions.None);
Console.WriteLine(doc.Document.ToString());

Th

[2021-09-09 17:33] CrahunGit commented on #36265
Tested against 6.0.100-rc.1.21458.46 and 6.0.100-rc.2.21458.9. It's still failing for both of them.

[2021-09-09 17:33] pbiggar commented on #35633
Will do, gimme a few days.

[2021-09-09 17:55] user72356 commented on #25756
I've hit that same issue recently while wrapping a JS lib in Blazor. I have a workaround, it's an ugly hack but that is all we have at the moment...

Add these to your .js file, it will change the prototype for the Object type in JS, akin to extensions methods in C#. It's apparently not recommended, but I didn't grasp the reason why, other than potentially replacing a function of the same name tha

[2021-09-09 18:00] DamianEdwards commented on #36327
Yeah this has already been done in d1c349f29752ac0718bda7b809ab7fd4f82ca414. See #34548

[2021-09-09 18:00] #36327 closed

[2021-09-09 18:15] pranavkm commented on #35186
Some insights for this available here: https://github.com/dotnet/aspnetcore/pull/36036

[2021-09-09 18:15] DamianEdwards commented on #34010
Closing this as we've added the option to the webapi project template now.

[2021-09-09 18:15] #34010 closed

[2021-09-09 18:26] Pilchie commented on #29626
@javiercn - should we go ahead and close this?

[2021-09-09 18:30] Pilchie commented on #35134
Is there more to do here, or should this be closed?  @vijayrkn - should we doc the above guidance?

[2021-09-09 18:38] javiercn commented on #29626
@Pilchie Yep, I recently confirmed after reenabling a test that was skipped for the wrong reasons. This is fix in 6.0

[2021-09-09 18:38] #29626 closed

[2021-09-09 18:41] #36156 closed

[2021-09-09 18:49] HaoK commented on #19225
Looks like @deepchoudhery merged the scaffolding side of things today 🎉

[2021-09-09 18:49] #19225 closed

[2021-09-09 19:04] #36322 closed

[2021-09-09 19:04] #36295 closed

[2021-09-09 19:14] #34199 closed

[2021-09-09 19:18] holtalanm commented on #22220
can confirm that just overloading `fetch` works as a work-around for now.  I _do_ wish that `blazor.boot.json` used the same `loadBootResource` function as the rest of the loaded resources, though.

This is what I'm using currently.  After loading `blazor.boot.json`, it cleans itself up and sets `fetch` back to the default implementation.
[code]

[2021-09-09 19:59] vijayrkn commented on #35134
@Pilchie - The only other option outside of documenting would be for sdk to inherently support `PublishUrl` along with `PublishDir`.

@dsplaisted - do you have concerns if sdk were to support the PublishDir through either of these properties?

[2021-09-09 20:16] HaoK commented on #35977
Hopefully now that this is unquarantined, we can get more info when/if it fails again, closing this for now since there's nothing actionable for anyone here

[2021-09-09 20:16] #35977 closed

[2021-09-09 20:31] dsplaisted commented on #35134
It sounds like maybe we should generate a better error if you try to publish with `DeployOnBuild` set to true, as that's always going to fail (at least with the Web SDK).  Is this correct?

Defaulting the value of `PublishDir` to `PublishUrl`, basically?  That seems fine, although the devil might be in the details (especially with respect to evaluation order and the pubxml file).

I don't really u

[2021-09-09 20:39] vijayrkn commented on #35134
@dsplaisted - The issue is the other way. WebSDK does support both `PublishUrl` (for backward compat) & `PublishDir` but NetSDK only supports `PublishDir`.

The reason WebSDK supports `PublishUrl` is because this was the recommended way to set the publish path for web applications before the `dotnet cli` was built.

[2021-09-09 20:44] dsplaisted opened #36343 "Use `PublishUrl` as default value for `PublishDir` in .NET SDK"
Currently, publishing with the Web SDK supports either `PublishUrl` or `PublishDir`, but the .NET SDK only supports `PublishDir`.  This can be a problem as the VS tooling to create publish profiles uses `PublishUrl`.

So we should probably use `PublishUrl` as the default value for `PublishDir`.

See https://github.com/dotnet/aspnetcore/issues/35134#issuecomment-916420336

[2021-09-09 20:44] dsplaisted commented on #35134
OK, I've filed #36343 for the PublishDir / PublishUrl issue.

[2021-09-09 20:50] Pilchie commented on #35134
Sounds good - I'm going to close this at this point.

[2021-09-09 20:50] #35134 closed

[2021-09-09 21:04] jkears opened #36345 "Unrecognized '@' block type"
I have an existing blazor component that works in .Net 5.0 VS 2019 which has a style within and escaped@ as follows;
[code]
In VS 2022 .Net 6.0 Preview 7, this no longer works.

I receive the following two warnings;

Warning (active)	CSS002	Unrecognized '@' block type.
Warning (active)	CSS102	"src" is not a known CSS property name.

### Further technical details

**Visual Studio 2022**
Microsoft V

[2021-09-09 21:13] allisonchou commented on #36125
Related to https://github.com/dotnet/aspnetcore/issues/36121.

[2021-09-09 21:13] allisonchou commented on #36120
Related to https://github.com/dotnet/aspnetcore/issues/36121.

[2021-09-09 21:14] HaoK commented on #36288
Also need to look into why the views are being considered content, which is why nullability warnings were triggered during publish

[2021-09-09 21:17] aleksey-hoffman commented on #27217
Guys, I'm new to .NET, how do you create a Blazor Desktop project?
I wanted to try migrating my Electron app to Blazor Desktop, but I cannot even find the docs for Blazor Dekstop.

Is it not out yet?

**dotnet**: 6.0.100-preview.7.21379.14
**Visual Studio**: Community 2022 Preview (64-bit), Version 17.0.0 Preview 3.1

[2021-09-09 21:28] vsfeedback opened #36347 "VS2022 Razor editor - No way to get full completion list within @bind-Value"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VS2022-Razor-editor---No-way-to-get-full/1519516)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:15]
See the following screen capture. I want to get a completion list to show the available properties on the Person type. It is possible to do that outside

[2021-09-09 21:30] ernestopye commented on #27887
Could someone please confirm my understanding of the new experience?

1. Currently, with SpaProxy, requests go: `dotnet` -> proxy -> `node`. With the new changes, it's backwards, so `node` -> proxy -> `dotnet`. Meaning any requests while in development have to go through `node` first, not `dotnet`. Is that correct?
2. For us, currently (with SpaProxy), we have to start `dotnet`/`node` separately,

[2021-09-09 21:33] vsfeedback opened #36348 "Why are there so many using statements when using the extract to file option?"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Why-are-there-so-many-using-statements-w/1519782)._

---
[UnusedUsing.mp4] (https://aka.ms/dc/file?name=Bb8cb5c8aa1b04e1585ce51b3e8ac0467637661203655832633_UnusedUsing.mp4&tid=b8cb5c8aa1b04e1585ce51b3e8ac0467637661203655832633)

That's a LOT of unused using statements for a simple extrac

[2021-09-09 21:36] SteveSandersonMS commented on #36347
@NTaylorMullen Is this being moved here because you’re saying the problem is in the Razor compiler?

[2021-09-09 22:40] Dunge opened #36352 "ASP.NET Core MVC : UrlHelper.Action fail to resolve when mixing nullable route value and query string parameters"
I have a ASP.NET Core MVC .NET5 application with a simple route. It is the default controller/action pattern with an optional integer parameter. It is configured as:

`endpoints.MapControllerRoute("default", "{controller=Account}/{action=Login}/{enterpriseId:int?}");`

And a test Controller with two actions, one without query string parameters, one with one:

[code]
I can access the site via those

[2021-09-09 22:47] pranavkm commented on #34465
Thanks for the issue report @MacdonaldRobinson. For 6.0, adding a field is a rude edit with the WebAssembly runtime and requires a full rebuild. We were previously handling this incorrectly and suppressing the error the runtime would throw which explained some of the weird behavior you were seeing here. With a more recent SDK, dotnet-watch produces a rude edit when you make this change.

We are us

[2021-09-09 22:47] #34465 closed

[2021-09-09 22:52] Kaelum commented on #36343
@dsplaisted I very much support this, and Thank You very much!  :)

[2021-09-09 23:30] jacobestell commented on #9020
Most recent platforms that support gRPC over Http2 vs grpc-web can be found in the link below.

https://docs.microsoft.com/en-us/aspnet/core/grpc/supported-platforms

Hope people find it more useful than the repeated posts complaining about rest or something stupid. 🔥🔥

[2021-09-09 23:37] acrigney commented on #9020
Great I had not heard about grpc-web and why was my complaint about REST
stupid?

On Fri, Sep 10, 2021 at 9:30 AM Jacob Estell ***@***.***>
wrote:

[2021-09-10 00:26] #35530 closed

[2021-09-10 00:51] tmat opened #36356 "Hot Reload: unable to call added public API"
### Description

Calling a public method added to a referenced library during Hot Reload may throw `System.MissingMethodException`.

Repro:
Run App.exe, uncomment the commented code and apply changes. If both changes are applied at the same time the exception is thrown. If the method is added first and then the caller is updated it works. Seems like the changes should be applied in topological ord

[2021-09-10 01:43] dotnet-eng-status[bot] opened #36357 "Build failed: Validate-DotNet/main .NET 5, validation-aspnetcore-.NET 5, aspnetcore #aspnetcore-107944-.NET5"
Build [#aspnetcore-107944-.NET5](https://dev.azure.com/dnceng/7ea9116e-9fac-403d-b258-b31fcf1bb293/_build/results?buildId=1353702) partiallySucceeded

## :warning: : internal / Validate-DotNet partiallySucceeded

### Summary
**Finished** - Fri, 10 Sep 2021 01:43:09 GMT
**Duration** - 157 minutes
**Requested for** - DotNet Bot
**Reason** - manual

### Details

#### Validation Ring
- :x: - [[Log]](h

[2021-09-10 01:55] xljiulang opened #36359 "Cannot set Response.StatusText"
### Describe the bug
How should I set Response.StatusText, I want to respond to the request of Connect `HTTP/{ver} 200 Connection Established`

### To Reproduce

### Exceptions (if any)

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and its version

[2021-09-10 02:48] Tratcher commented on #36359
Do you mean the HTTP response reason phrase?

https://github.com/dotnet/aspnetcore/blob/e23fd047b4baf3480ce93d7643a897732f960557/src/Http/Http/src/Features/HttpResponseFeature.cs#L29

Try this: `HttpContext.Features.Get<IHttpResponseFeature>().ReasonPhrase = "Connection Established";`

[2021-09-10 03:39] cysnet opened #36361 "The workingDirectory in the launchSettings.json does not work when use dotnet run"
### Describe the bug
When I use dotnet run --launch-profile" xxxxxxx.Web" to run a webapi, and I had set the workingDirectory as a '../..',
but workingDirectory does not work. And the version of dotnet core is **5.0.**. And the launchSetting.json as below:
`{
  "profiles": {
    "xxxxxxx.Web": {
      "commandName": "Project",
      "launchBrowser": false,
      "workingDirectory": "${workspaceFol

[2021-09-10 04:09] mkArtakMSFT commented on #36345
Thanks for contacting us. Do you get the same warnings, when you try to build the project from CLI ?

[2021-09-10 04:37] #26241 closed

[2021-09-10 05:59] dougbu commented on #35767
- [ ] #36171
- [ ] #36355
- [ ] #36363
- [ ] #36362

[2021-09-10 06:00] dougbu commented on #32686
Issue is not mentioned in release/3.1 or release/5.0.

- [x] #36171
- [x] #36355

[2021-09-10 06:00] #32686 closed

[2021-09-10 07:11] wayneforrest opened #36376 "ASP.NET Core 3.1 Hot Reload taking as long as build time"
I have a project which takes 38 seconds to reload when a single character in a controller
file is changed. My build times are similiar.

What reload times should be considered acceptable?
Should hot-reloads be considerably faster than build times?

I posted a question on StackOverflow located here: https://stackoverflow.com/questions/69068130/asp-net-core-3-1-hot-reload-slow?noredirect=1#comment12

[2021-09-10 07:34] berhir commented on #27887
@ernestopye I am curious what `SpaProxy` you are currently using? The [Microsoft.AspNetCore.SpaProxy](https://www.nuget.org/packages/Microsoft.AspNetCore.SpaProxy) package is new in .NET 6.
The old templates used the [Microsoft.AspNetCore.SpaServices.Extensions](https://www.nuget.org/packages/Microsoft.AspNetCore.SpaServices.Extensions) package. And the node process was started and stopped togethe

[2021-09-10 09:36] Xyncgas commented on #36311
comon

[2021-09-10 09:38] Xyncgas commented on #36323
uh oh my app is going to run slower

[2021-09-10 10:58] xljiulang commented on #36359
Thank you very much

[2021-09-10 10:58] #36359 closed

[2021-09-10 12:00] #36278 closed

[2021-09-10 12:22] IB38 opened #36369 "Move FromQuery and other meta attributes to a separate lib"
Hi there, dragging entire Microsoft.AspNetCore.Mvc.Core as dependency for contract lib simply because i need some of the atrributes for models is pretty bad.
Seems to be a pain for a lot of people whenever this topic comes up on stackoverflow.

I was thinking that moving attributes to a separate library with minimal or no dependencies could be the solution for this.

[2021-09-10 12:27] martincostello opened #36370 "Redundant FormatScope() override in FacebookHandler"
While looking at the code I noticed that the `FacebookHandler` class overrides the `FormatScope()` method, which then just calls the base implementation:

https://github.com/dotnet/aspnetcore/blob/e23fd047b4baf3480ce93d7643a897732f960557/src/Security/Authentication/Facebook/src/FacebookHandler.cs#L84-L86

As removing it causes the Public API analyzer to produce an error, I thought I'd ask if there

[2021-09-10 13:01] lambdageek commented on #35174
Yes, sorry, that's what I meant.  They use the trimmer for analysis (and the custom steps produce some artifacts used later in their build), but they do not rewrite the assemblies.

My point was just that for an iOS projects are an example where `PublishTrimmed` shouldn't be used (during the build, or at runtime) to make decisions about the ability to use hot reload, run startup hooks, etc.

[2021-09-10 13:04] ernestopye commented on #27887
@berhir Appreciate your response. Apologies for the confusion on `SpaProxy` on our end. We're using `UseProxyToSpaDevelopmentServer`, which gives us the separate backend/frontend behavior already - it doesn't start any node process (just expects it to be there), and the `dotnet` process acts as the proxy.

I saw your package and we're definitely considering it as an option - thanks for your work o

[2021-09-10 13:12] CashPJ opened #36371 "InputDate bug with DateTime? and min - max attributes"
Image stands for 1000 words :)
![image](https://user-images.githubusercontent.com/80749332/132857792-7a9f0d85-271b-4e85-acd6-dadc398a1db4.png)

So, input text is messed up. It should be "mm/dd/yyyy" as binded value is null.

[code]

To reproduce bug just be sure that:
1. Binded type is DateTime?
2. Binded value is null
3. You have passed values for min and max attributes. In case that you pass onl

[2021-09-10 13:20] Vizual-Dev opened #36372 "Failed to launch debug adapter using .NET 5 Blazor WASM and IIS Express"
### Describe the bug

When attempting to run a new Blazor WebAssembly application created in Visual Studio 2019 (16.10.3) the browser hangs at about:blank, after around a minute the following message appears:

![DebuggerMessage](https://user-images.githubusercontent.com/79081397/132857230-ca2ea6ff-5d20-45d1-8acb-2c2e1c98e2ff.jpg)

Runnung the same project with Kestrel works as expected.

I have be

[2021-09-10 14:20] jivpif opened #36373 "SecurityStampValidator reissues the session cookie and extends its expiry"
Hello, I would like to bring this issue for a revisit:
https://github.com/dotnet/aspnetcore/issues/13117

We are having a similar problem in ASP.NET Core 3.1

Our session cookie is set to have:
[code]

For which we expect no Sliding Expiration behavior.

But even with this setting the cookie is still being recreated on a time interval matching the security stamp validation interval.

After investi

[2021-09-10 14:20] Tratcher commented on #36370
Facebook used to require a special format but does not anymore. However, removing the method is technically a binary break so we never did, and might never because there is nothing gained.

[2021-09-10 14:21] martincostello commented on #36370
No worries - I'll just close this then if it's just being kept indefinitely for back-compat.

[2021-09-10 14:21] #36370 closed

[2021-09-10 14:32] daemogar commented on #36306
Literally create a new console app. There are only two files (shown below) when you do and I did not modify anything at all. In my case, it did create a solution folder because I was doing this through VS 2022, but I also just copied those two files below into a separate folder and used vscode to view them and from the command line, ran ```dotnet watch run```.

Additional Process Clarification: it

[2021-09-10 15:10] davidfowl commented on #36211
@wfurt is this worth adding to docs?

[2021-09-10 15:12] mayankmaheshwari18 opened #36375 "System.Runtime.InteropServices.COMException: The client has disconnected An operation was attempted on a nonexistent network connection."
### Describe the bug

We have a service on .Net Core 3.1 hosted on Azure App service. AFD and APIM stands in front of this service. Flow is VS Code calls AFD, AFD calls APIM and APIM calls the service.

### Exceptions (if any)
**EXCEPTION**
System.Runtime.InteropServices.COMException
**Exception Properties**
**Event time**	9/9/2021, 11:18:08.350 AM (Local time)
**Message**	The client has disconnec

[2021-09-10 15:17] taha-ghadirian commented on #33088
Hello! @mkArtakMSFT can I work on this issue?
I hope you could assign it to me ;)

[2021-09-10 15:23] jkears commented on #36345
Thanks for your prompt reply @mkArtakMSFT .  No when I build it via the CLI I do not see those two warnings, however that resource is not applied as it is in .Net 5.0 even when built by the CLI.  This is not a show stopper for me at this time so  I will retry on RC1 whenever it is released and then report back to you with my findings.  Thanks.

[2021-09-10 15:24] JonathanCrawshaw commented on #36276
Hi @adityamandaleeka .  Thanks for responding to @grahambunce.  I am a collegue of his.
We have got past the issue, it was a problem with my vcpkg installation.  After a re-installing it we had no trouble installing the 32bit (x86) SignalR-Client-Cpp library.

[2021-09-10 15:31] wangzengxing commented on #36326
I found this bug too,when fix up?

[2021-09-10 15:46] brentschmaltz commented on #36175
@leastprivilege in general i agree with you, we need this conversation.
In general, the IM team wants our work to be tied to standards. Our early work was influenced by Ws* and we have had an interesting transition moving away from Ws* designs while still maintaining some support for SAML tokens, dsig and WsFed.

We have developed a system using a home grown IdentityComparer that helps us ensure t

[2021-09-10 16:07] davidfowl commented on #36375
Where's the full callstack? This is a normal error that happens when a client disconnects and the server is trying to read data.

[2021-09-10 16:31] #34553 closed

[2021-09-10 16:37] pranavkm commented on #36376
Hot reload requires .NET 6 or newer. We haven't done any specific work to improve the inner loop performance for ASP.NET Core 3.1 in this release.

[2021-09-10 16:42] #35405 closed

[2021-09-10 16:49] johngsandiford commented on #35633
FYI, I get exactly the same error.

[2021-09-10 16:52] javiercn commented on #35633
@johngsandiford can you provide a minimal repro project?

[2021-09-10 16:58] pranavkm commented on #36306
Thanks @daemogar. This issue has been addressed in the rc2 builds of the SDK. You could try out a nightly build of the installer from https://github.com/dotnet/installer#installers-and-binaries to verify this.

[2021-09-10 17:00] #36282 closed

[2021-09-10 17:00] #36250 closed

[2021-09-10 17:13] mayankmaheshwari18 commented on #36375
I have attached the call stack. Application Insights have provided the same.
Regarding the exception, wondering why is there a continuous pattern there? We are also getting **Client Disconnect** exception but they are larger in number compared to these exceptions.

[2021-09-10 17:13] johngsandiford opened #36380 "Blazor <PageTitle> component conflicts with svg <title>"
Hi. I am trying to use the ```<PageTitle>``` component in a server side Blazor page, but I am having a few issues.  Thanks, John

## Issues

1. svg ```<title>``` elements overwrite the page title.
2. The svg ```<title>``` elements no longer work.

## To repro

1. Create a Blazor server app in .NET 6 preview 7
2. Add ```<PageTitle>The Page Title</PageTitle>``` to Index.razor
3. Add ```<component ty

[2021-09-10 17:37] wtgodbe opened #36382 "Fix upgrade behavior for asp.net runtime in hosting bundle"
The hosting bundle currently includes the .net runtime bundle, and the asp.net runtime .msi's. This means if you install Hosting bundle version x.y.0, then .net runtime version x.y.1 & asp.net runtime version x.y.1, the .net runtime will remove the x.y.0 version installed by the hosting bundle, but the asp.net runtime will not. We should consider including the asp.net runtime bundle, rather than t

[2021-09-10 17:38] alex-jitbit commented on #10117
@Santas

Well, yeah, but this is essentially reverse-proxying, and ruins the whole benefit of `inProcess` hosting.

I could as well run it out of process in Kestrel and the problem will go away.

[2021-09-10 18:00] #36329 closed

[2021-09-10 18:00] wfurt commented on #36211
What docs @davidfowl? This is basic container behavior but I don't know if you have any asp.net specific instructions. Generally app in container cannot use files not accessible the container itself. I see symlinks in /etc/ssl on certain distributions so it may be worth of mentioning.

[2021-09-10 18:22] #35888 closed

[2021-09-10 18:54] olivercoad opened #38037 "Add fsi to dotnet watch"
`dotnet watch` is great for running a project but doesn't currently support running an f# script.

I propose making the built in `dotnet-watch` tool support fsi.
[code]
It can find discover files by recursively looking at `#load` lines, starting from the provided script file.

### Context
Alternatively something like this could be a 3rd party nuget package that could be installed as a dotnet tool.

[2021-09-10 19:04] pr-benchmarks[bot] opened #36387 "Perf regression: connectionclosehttps"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclosehttps  | Plaintext Connection Close Https HttpSys aspnet-citrine-win | 09/09/2021 08:09:59 | 38,759 | 37,984 | -5.48 % (-2,124)  :thumbsdown:  | -2.86 σ | 743.20 | <details>    <summary>C

[2021-09-10 19:04] pr-benchmarks[bot] opened #36388 "Startup regression: json"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| json  | Json aspnet-citrine-win | 09/09/2021 08:10:51 | 304 | 348 | 12.00 % (37)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>System.Runtime.CompilerServi

[2021-09-10 19:46] allisonchou opened #36390 "C# formatter returning invalid edits for some Razor scenarios"
After typing `}` in the scenario below (see location of `$$`), the following [debug assertion ](https://github.com/dotnet/aspnetcore-tooling/blob/af3804b0153cc65914a3ac2f269fac628df648df/src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/Formatting/FormattingDiagnosticValidationPass.cs#L70)is hit in `FormattingDiagnosticValidationPass`:

[code]

Upon initial investigation, the C# formatter se

[2021-09-10 19:48] daemogar commented on #36306
I installed the nightly, but I think I was to quick at doing this. The nightly I installed, ```dotnet-sdk-6.0.100-rc.2.21460.6-win-x64```, does not have the fix. I will try again later.

However, after installing that version, I was required to add using System; to the ```Program.cs``` file. Not sure if I should expect that behavior or not with this or the next nightly build.

After installing, an

[2021-09-10 20:00] #36276 closed

[2021-09-10 20:00] #36038 closed

[2021-09-10 20:00] #36020 closed

[2021-09-10 20:00] #35832 closed

[2021-09-10 20:09] adityamandaleeka commented on #36308
Triage: a possible explanation might be that CF is still connected to the backend, but has closed the connection with the client. The client doesn't notice that until it tries to send data.

[2021-09-10 20:10] adityamandaleeka commented on #36308
Possibly related: https://stackoverflow.com/questions/39668410/whats-disconnecting-my-websocket-connection-cloudflare-apaches-mod-proxy/41031976#41031976

[2021-09-10 20:17] SonoranBrian commented on #36308
This likely makes the most sense, I've been trying to contact CloudFlare on more info as to what can cause a closure. I was aware of them closing idle connections, but SignalR has built in keepalives being sent every 15 seconds, so these are by no means idle.

I also tried implementing a hard 15 second ping/pong heartbeat from the server to all clients every 15 seconds just to test, but some clien

[2021-09-10 20:22] adityamandaleeka commented on #36375
Triage: the COM Exception is caught and a ConnectionResetException is thrown. Whoever is reading the body should be catching the IOException that ConnectionResetException derives from.

@pranavkm Should model binding be catching this? Is there an existing issue we can duplicate this on?

[2021-09-10 20:26] sebastienros commented on #36274
I believe nginx is the problem as it's not easy to configure (it has bad defaults) and we have been hit by the same issue ourselves when doing benchmarking. If you are not able to get a netstat from the host that runs nginx, can you share the nginx configuration you are using (with redacted private information)?

[2021-09-10 20:29] javiercn commented on #36372
@Vizual-Dev thanks for contacting us.

@BillHiebert do you have any thoughts? This seems to point out to an issue in the IIS Express certificate

[2021-09-10 20:32] javiercn commented on #36369
@IB38 thanks for contacting us.

Microsoft.AspNetCore.Mvc.Core ships as part of the Microsoft.AspNetCore.App shared framework which is referenced via a `FrameworkReference`, so it doesn't really matter where it lives because you can only consume it through a `FrameworkReference`

[2021-09-10 20:34] pranavkm commented on #36375
We've been addressing IOExceptions that are encountered as part of model binding over releases: https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.Core/src/ModelBinding/FormValueProviderFactory.cs#L43-L58. My guess is this is a 3.1 app, updating it to 5.0 or later is likely to address this issue. Here's an issue you can dupe this against: https://github.com/dotnet/aspnetcore/issues/13333

[2021-09-10 20:50] BillHiebert commented on #36372
@javiercn The simplest way to test the certificate is to create an empty Asp.Net core app, make sure it is running IIS Express and Ctrl+F5 to run the app. If that works the certificate is fine.

@ericcornelson Can you offer any suggestions?

[2021-09-10 20:56] adityamandaleeka commented on #32576
Assigning to myself to investigate.

[2021-09-10 21:00] #36092 closed

[2021-09-10 21:04] adityamandaleeka commented on #31415
Triage: This is a macOS security feature. The SSH process likely doesn't have access to the certificate.

[2021-09-10 21:06] #31415 closed

[2021-09-10 21:08] adityamandaleeka commented on #28322
It's unclear if this is still an issue since the original report was for 5.0 RC1. Closing this, please open a new issue if needed.

[2021-09-10 21:08] #28322 closed

[2021-09-10 21:08] shirhatti commented on #27045
Triage: this isn't what we consider idiomatic usage of dotnet user-secrets. In environments like CI, you're better off using the environment variable configuration source. As such, I'm closing this issue for now.

We will re-consider if there is sufficient demand for this feature

[2021-09-10 21:08] #27045 closed

[2021-09-10 21:14] adityamandaleeka commented on #26536
@pratiksanglikar Can you please take a look? It sounds like the docker tooling is leaving behind an out-of-date cert.

[2021-09-10 21:23] adityamandaleeka commented on #19590
@tylermichael Can you please file a separate issue for what you're hitting? It seems different from the original one here.

[2021-09-10 21:24] HaoK commented on #30280
Fixed by https://github.com/dotnet/aspnetcore/pull/36378

[2021-09-10 21:24] #30280 closed

[2021-09-10 21:24] adityamandaleeka commented on #19590
For the original issue here, we believe notarization issues with macOS Catalina (and later) were fixed with later SDK versions. Please try updating your SDK.

[2021-09-10 21:25] adityamandaleeka commented on #14370
cc: @bradygaster

[2021-09-10 21:30] adityamandaleeka commented on #4102
This is the message being referenced here: https://github.com/dotnet/aspnetcore/blob/c085e17ae390c43961adb8047b127611ad14b207/src/Tools/dotnet-dev-certs/src/Program.cs#L368

We should make it give some kind of breadcrumb so the user knows how to find it (or even make the message a runnable snippet).

[2021-09-10 21:36] IB38 commented on #36369
Ah, my bad. Didn't know it became part of SDK since .net core 3.0.

[2021-09-10 21:36] #36369 closed

[2021-09-10 21:39] pratiksanglikar commented on #26536
@adityamandaleeka, I am not sure how docker tooling leaves behind an expired cert.
All we do is check for a valid https cert using command `dotnet dev-certs https --trust --check` and if we don't find a valid cert, then we trust and export a cert using command - `dotnet dev-certs https --trust -ep "%APPDATA%\ASP.NET\https\<project-name>.pfx" -p <password>`.

My guess is that the certificate expire

[2021-09-10 21:50] timheuer opened #36393 "Razor component doesn't render anymore after hot reload first try"
### Describe the bug
After adding a razor component to a page the app hot reloads and the component is there. After stopping/starting the app again, even thought he razor component is in the page it no longer renders.

### To Reproduce
(VIDEO: https://user-images.githubusercontent.com/4821/132921021-99bf8656-19bf-446c-95be-bad322cd7288.mp4)
1. Create new blazor server app w/.NET6
2. F5
3. Open Ind

[2021-09-10 22:28] Vizual-Dev commented on #36372
CTRL F5 works fine on the same project Chrome says the certificate is trusted

[2021-09-10 22:54] #30788 closed

[2021-09-10 23:25] wayneforrest commented on #36376
Hi @pranavkm,

Would this be considered as a bug in `.NET 3.1  LTS`?

[2021-09-10 23:36] pranavkm commented on #36393
I suspect this is the compiler bug that was fixed in Preview 4, but might still be present in preview 5: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1395568.  A workaround provided was to disable the compiler cache:

[code]

Could you check if doing so helps with your issue? Thanks

[2021-09-10 23:37] bradygaster commented on #14370
what @Dontrym3 said - Swashbuckle in Class Library projects isn't a scenario with which we're quite familiar or that we support. The only scenario with which we have elaborate expertise is using Swashbuckle in a Web or Minimal API project. The package does offer quite a bit of customization, and has some good docs, so I'd encourage folks look there.

[2021-09-10 23:46] dazinator commented on #26536
In my case, I had two different launch configurations in VS - one for launching the solution with docker, and another for launching it directly without docker. When launching without docker, the presence of this user secret `Kestrel:Certificates:Development:Password` causes the host to load the ssl cert from `%APPDATA%\ASP.NET\Https` which had expired  long time ago. When launching with docker, I

[2021-09-10 23:50] adityamandaleeka commented on #14370
Sounds like this should be closed then?

[2021-09-10 23:55] adityamandaleeka commented on #36276
Great!

[2021-09-11 00:00] pranavkm commented on #36376
@wayneforrest for 3.1 apps, all dotnet-watch does is re-build the app on file changes which would explain why it's performance is comparable. Improving the inner loop performance for a previously shipped runtime wouldn't be necessarily considered a bug,

Out of curiosity, how large is your project? If you run ` dotnet msbuild /clp:PerformanceSummary` it would tell you where in the build process it

[2021-09-11 00:50] adityamandaleeka commented on #35429
This just happened again on one of my PRs: https://dev.azure.com/dnceng/public/_build/results?buildId=1356324&view=logs&j=3f6d4e0f-1b71-56b5-361e-d95b6e6da15a&t=9605d305-57d3-55b8-ba79-e50442d32137&l=2296

[2021-09-11 01:07] pbiggar commented on #35633
Getting the same error on 6.0.100-rc.2.21460.33, will get you a binlog shortly.

[2021-09-11 01:16] pbiggar commented on #35633
[binlog.zip](https://github.com/dotnet/aspnetcore/files/7146995/binlog.zip)

Binlog attached

[2021-09-11 01:53] adityamandaleeka commented on #36375
Per above, closing this as a duplicate of https://github.com/dotnet/aspnetcore/issues/13333

[2021-09-11 01:53] #36375 closed

[2021-09-11 01:55] adityamandaleeka commented on #34578
No worries, moving to .NET 7 milestone to cover the things we haven't gotten to.

[2021-09-11 03:44] pabloarthurrodger opened #36399 "Blazor Wasm can't read Azure Storage Tables directly, it needs azure functions or controllers."
Everything that can be done in an Azure Function or in a Controller can be done in Blazor Wasm.  You do not need Azure functions to be Serverless.

If Blazor Wasm could read Azure Table Storage it will only need the Blazor SPA and the Storage Tables.  All cpu consumption will be on the Client.  Zero Controllers, Zero Azure Functions.  And I do not know if this is only on Azure Storage Tables or in

[2021-09-11 04:46] PureKrome commented on #36175
**Can't** or **Don't want to** ? I think people would really appreciate the confirmation.

[2021-09-11 05:15] wayneforrest commented on #36376
Hi @pranavkm thanks for the feedback.

I have been spending some time to migrate over to .NET 6 preview. I still have a way to,
especially with my ODATA stuff witch I find not as trivial - little breaking changes.

I can also confirm that builds are not twice as fast. I have a build time of 11 seconds, compared to my earlier 25 seconds - WOW!

Also the **hot reload's are super fast**. It is most d

[2021-09-11 05:23] wayneforrest commented on #36376
The performance for the .net 3.1 build:

Microsoft (R) Build Engine version 16.7.2+b60ddb6f4 for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

  netplus -> /Users/wayneforrest/Projects/netplus/netplus/bin/Debug/netcoreapp3.1/netplus.dll
  netplus -> /Users/wayneforrest/Projects/netplus/netplus/bin/Debug/netcoreapp3.1/netplus.Views.dll
  netplusTest -> /Users/wayneforrest/Projects

[2021-09-11 05:29] wayneforrest commented on #36376
.NET 6  clean build time: Time Elapsed 00:00:08.56

also the performance for .net 6 build
Microsoft (R) Build Engine version 17.0.0-preview-21378-03+d592862ed for .NET
Copyright (C) Microsoft Corporation. All rights reserved.

  You are using a preview version of .NET. See: https://aka.ms/dotnet-core-preview
  You are using a preview version of .NET. See: https://aka.ms/dotnet-core-preview
  netpl

[2021-09-11 05:54] davidwengier commented on #36390
Is there supposed to be a close brace after the `</strong>` somewhere in the example?

[2021-09-11 06:10] radical opened #36546 "BlazorWasm - `Clean` after a `Publish` leaves files behind"
Versions:
[code]

building a template project with: `dotnet build -p:DeployOnBuild=true -p:Configuration=Release`, and then `dotnet clean -p:Configuration=Release`, leaves lot of files in `bin`, and `obj` dirs:

[code]

Cleaning after a build (`dotnet build -p:Configuration=Release`) leaves:
[code]

cc @pranavkm @lewing

[2021-09-11 06:25] wayneforrest commented on #36376
It seems this method call is significantly faster in **.NET 6 preview**:

GetProjectReferenceTargetFrameworkProperties:

**.NET 3.1**
5654 ms _GetProjectReferenceTargetFrameworkProperties 2 calls

**.NET 6 preview**
538 ms _GetProjectReferenceTargetFrameworkProperties 2 calls

[2021-09-11 07:04] #36387 closed

[2021-09-11 07:04] #36323 closed

[2021-09-11 07:04] pr-benchmarks[bot] opened #36401 "Startup regression: fortunes"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| fortunes  | Fortunes aspnet-citrine-win | 09/09/2021 20:47:00 | 388 | 409 | 6.00 % (25)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>System.Runtime.Compil

[2021-09-11 07:04] pr-benchmarks[bot] opened #36402 "Startup improvement: json"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| json  | Json Platform aspnet-citrine-amd | 09/09/2021 20:18:17 | 176 | 149 | -18.00 % (-30)  :thumbsup: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>System.Runtime.Comp

[2021-09-11 07:22] soundaranbu commented on #31578
Hi @captainsafia @davidfowl , I'm finding it hard to find why [this code](https://github.com/soundaranbu/RazorTemplating/blob/96f222273040d44c389a8590b412293acdc0348a/src/Razor.Templating.Core/RazorViewToStringRendererFactory.cs#L45-L112) stopped working if targeted to `net6.0` (the same code works until .NET 5). I'm suspecting that some change in .NET 6 is causing it to fail.

The purpose is to s

[2021-09-11 07:22] FahaoTang commented on #35561
I can also confirm this issue when using CLI to create the project and build.

[2021-09-11 07:54] allisonchou commented on #36390
Whoops yes, you're right! Updated.

[2021-09-11 08:34] hoangdovan commented on #36372
@Vizual-Dev I met this problem many times! To be honest, I don't know the reason. My work around: create new project, ensure debug OK, then copy your files from current project to new created one.
Blazor Webassembly debug process is so buggy, unstable, slow & so painful! It's the most thing I hate about Blazor Webassembly!
About this point, it still cannot compare to other Javascript Framework!

[2021-09-11 10:58] Vizual-Dev commented on #36372
@hoangdovan The message appears for projects that previosly worked (before the IIS Express repair) and for newly created projects.

The `WebSocket was closed before the connection was established` log entry makes me wonder if there could be something going on between my new IIS Express Development Certificate and websockets.

[2021-09-11 12:11] MatthewSteeples commented on #29532
As a workaround for now we've got the following code in our Program.cs

[code]

[2021-09-11 14:31] papaja opened #36407 "Improve ccompression of RequestImageFileAsync"
I have found `RequestImageFileAsync` very useful in Blazor WASM. However, pure JavaScript libraries like https://github.com/fengyuanchen/compressorjs with default settings, achieve much better (~50%) size  reduction without (noticeable) change in quality.

Could you look into improving this for next version?

[2021-09-11 15:05] davidfowl commented on #36211
@wfurt I was asking from a POV of, will you ever need to answer this question again 😄  or can we point people at some docs to show what to do in this scenario.

[2021-09-11 16:10] johngsandiford commented on #35633
@javiercn Sure.  The project I am working on is quite complex and private, so trying to repro with something simpler.  No luck so far.

[2021-09-11 16:11] martincostello opened #36408 "Analyzer: Warn when passing a Task<T> or ValueTask<T> to Minimal API Results.* methods"
### Is your feature request related to a problem? Please describe.

Playing around with Minimal APIs, I wrote some code similar to the below without noticing I'd forgotten to await the method:

[code]

Calling `/do-thing` then returned some JSON similar to the below:

[code]

Easily fixed by updating the method signature appropriately, but an easy enough mistake to make.

[code]

### Describe the

[2021-09-11 17:30] tombatron opened #36410 "Issues building from source."
### Issue
I was attempting to follow the build instructions from here: [https://github.com/dotnet/aspnetcore/blob/main/docs/BuildFromSource.md](https://github.com/dotnet/aspnetcore/blob/main/docs/BuildFromSource.md)

After cloning (including submodules) and then invoking `.\restore.cmd` (with no errors or warnings), navigating to `\src\Caching\` and then starting Visual Studio 2019 via the `.\star

[2021-09-11 17:56] danroth27 opened #36411 "Passing null to NavigationManager.GetUriWithQueryParameter requires a cast"
If you want to remove a single query parameter, you can pass null to `NavigationManager.GetUriWithQueryParameter`, but then you get an ambiguous method error. To workaround this error, you have to cast null to a nullable type.

[code]

[2021-09-11 18:05] martincostello opened #36412 "OpenAPI documentation is incorrect when using custom TryParse() binding with Minimal APIs"
### Describe the bug

If a type with a static `TryParse()` method is used as a parameter for a Minimal APIs action, the OpenAPI description does not work as would be expected.

There are two examples of this I have found for `MapGet()` and `MapPost()`.

#### `MapGet`

If a parameter uses a custom type which has a `TryParse()` method, it will be reported as an object parameter, rather than the stri

[2021-09-11 18:26] martincostello opened #36413 "Minimal APIs route constraints break OpenAPI requests"
### Describe the bug

If a Minimal API endpoint uses a route constraint, for example `"/status/{code:range(200, 599)}"`, the constraint is exposed to OpenAPI documentation incorrectly, which causes the API to be called incorrectly, resulting in an HTTP 404.

`https://localhost:7168/status/%7Bcode:range(200,%20599)%7D`

![image](https://user-images.githubusercontent.com/1439341/132957637-3689240d-1

[2021-09-11 18:29] martincostello opened #36414 "Minimal API endpoints do not appear in OpenAPI if WithGroupName() is used"
### Describe the bug

If `WithGroupName(string)` is used with a Minimal APIs endpoint, it disappears from being displayed in OpenAPI.

#### Using `WithGroupName()`

![image](https://user-images.githubusercontent.com/1439341/132957753-ff83cb2c-ba49-4d44-95da-74f42ca05f7c.png)

#### No `WithGroupName()`

![image](https://user-images.githubusercontent.com/1439341/132957768-c1adbdc4-0a0f-486f-aaa3-181

[2021-09-11 18:37] martincostello opened #36415 "Support BindAsync() without ParameterInfo for Minimal APIs"
### Is your feature request related to a problem? Please describe.

If a user wishes to use custom data binding for Minimal APIs using the `BindAsync()` pattern but does not require the `ParameterInfo` parameter when using Visual Studio, the IDE will warn about the unused `parameter` argument with `IDE0060`. I would _assume_ that other static analyzers would produce similar warnings, though I have

[2021-09-11 18:47] martincostello opened #36416 "WebApplicationBuilder does not canonicalize the --contentRoot argument"
### Describe the bug

If a custom content root is specified via the `--contentRoot` command-line argument to a application using WebApplicationBuilder, the user-provider path is not canonicalized before use.

[code]

Running without the argument produces the following:

[code]

In the above example I would expect the `ContentRootPath` value to be _either_ `C:\Coding\martincostello\MinimalApisRepro

[2021-09-11 19:03] #36388 closed

[2021-09-11 19:03] #36402 closed

[2021-09-11 19:04] martincostello opened #36417 "Support more ProblemDetails Titles out-of-the-box for Results.Problem()"
### Is your feature request related to a problem? Please describe.

If a developer using Minimal Actions uses the `Results.Problem()` method with an HTTP status code that is not part of [`ProblemDetailsDefaults`](https://github.com/dotnet/aspnetcore/blob/b33b4d4453d93be12a847a5e0c222d86edd706a0/src/Shared/ProblemDetailsDefaults.cs#L13-L65) by default, then without it being explicitly set themselve

[2021-09-11 19:12] martincostello opened #36418 "Add .ctor(string) to FromHeaderAttribute and FromQueryAttribute"
## Background and Motivation

When using Minimal APIs, using explicit query string or header parameter names using attributes requires a less-minimal amount of attribute declaration that would be possible if the relevant attributes did not only have a default constructor.

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

None, retain the existing usage patterns.

[code]

[2021-09-11 19:16] martincostello commented on #36413
FYI, I didn't try any of the other possible constraints (like `length(n)`), but I assume they would have similar issues.

[2021-09-11 19:44] Tratcher commented on #36410
Need to update the instructions, VS 2022 is now required.

[2021-09-11 20:45] davidfowl commented on #36416
I'm guessing this is the case today as well since .NET 3.x.

[2021-09-11 20:48] chris-rogala opened #36421 "Cannot get HubCallerContext.User to get Set"
### Describe the bug
I have an web application that I am trying to setup websockets for. The user has a customerId as a claim and the Hub is designed to send messages for all connections with the customerId. The web application authenticates through the [Auth0](https://auth0.com/) identity provider. When the authentication occurs, the AuthenticationType is set to Federation. The HttpContext in the

[2021-09-11 21:38] nssidhu opened #36423 "Debugger Jumping(double cliking) from Error list to source code at incorrect location"
I am using VS2022 preview 3.1 along with .NET 6 preview 7.1
Using this is Blazor WebAssembly Hosted App.

I am finding that double clicking the error is Error List windows is not taking to the correct location in source code.
Here is the screen recording for the error.
https://1drv.ms/u/s!AtHk7h6Srnk_h9g5f0Zjf3AUmzsO7g?e=Ky28jZ

Also notice for some error( in .razor pages) there is also missing li

[2021-09-11 21:38] nssidhu opened #36475 "Blazor WebAssembly Hosted App: Double clicking from Error list to source code at incorrect location"
I am using VS2022 preview 3.1 along with .NET 6 preview 7.1
Using this is Blazor WebAssembly Hosted App.

I am finding that double clicking the error is Error List windows is not taking to the correct location in source code.
Here is the screen recording for the error.
https://1drv.ms/u/s!AtHk7h6Srnk_h9g5f0Zjf3AUmzsO7g?e=Ky28jZ

Also notice for some error( in .razor pages) there is also missing li

[2021-09-12 00:42] nssidhu opened #36427 "Blazor WASM : cannot convert from 'System.TimeSpan' to 'System.DateTime'"
I am getting the following error
[code]

I am storing Just the Time (like 9:00 AM") to indicate start time and stop time in Time(7) field of Azure SQL DB.

Dbcontext generates that field as
`public TimeSpan StartTime { get; set; }`

I am trying to bind this to input element
[code]

which is resulting into above mentioned error.

How do i resolve this issue ?

The idea is to store start and Stop ti

[2021-09-12 03:00] adityamandaleeka commented on #27858
Failed as recently as 7/31/21 with the same error: https://dev.azure.com/dnceng/public/_build/results?buildId=1270189&view=ms.vss-test-web.build-test-results-tab&runId=37583604&resultId=100220

[2021-09-12 03:03] Asyvix opened #36428 "Maui blazor show "no content(404)" error when NavigateTo with force load"
### Describe the bug
NavigationManager.NavigateTo() show error when forceload is true.

### To Reproduce

create maui blazor project and call NavigationManager.NavigateTo("/someurl", true)

### Exceptions (if any)

![KakaoTalk_20210912_120115737](https://user-images.githubusercontent.com/33280669/132970029-4b0f7349-9751-49d2-9a79-728965fb9e1d.jpg)

### Further technical details
- net6 preview7
- v

[2021-09-12 03:11] VahidN opened #36429 "New analyzer rule: Don't write to your own parameters"
This rule [is explained here](https://github.com/dotnet/aspnetcore/issues/24599#issuecomment-697588562) for the Blazor apps and a lot of newcomers don't know it and can be mistakenly forgotten easily.

[2021-09-12 03:22] davidfowl commented on #36415
I'm not sure this is valid for a couple of reasons:
- We wanted to support a single API shape because it's simpler
- If we provided an interface you had to implement, you'd have the same problem.

[2021-09-12 03:38] adityamandaleeka commented on #35974
This was done for 6.0 RC2: https://github.com/dotnet/aspnetcore/pull/36395

[2021-09-12 03:38] #35974 closed

[2021-09-12 04:25] #35544 closed

[2021-09-12 05:32] RoyalForeverBest opened #36432 "couldn`t compile asp.net core 6.0 rc1"
I can`t  compile asp.net core, it report an error:

[code]

[2021-09-12 05:35] RoyalForeverBest commented on #36432
my environment is Visual Studio 2022 community

[2021-09-12 07:00] #36376 closed

[2021-09-12 07:04] pr-benchmarks[bot] opened #36435 "Perf regression: plaintext"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext  | Plaintext aspnet-citrine-lin | 09/10/2021 20:05:31 | 4,748,112 | 4,605,936 | -2.08 % (-98,573)  :thumbsdown:  | -2.36 σ | 41,775.59 | <details>    <summary>Changes</summary>     <table><th>

[2021-09-12 07:04] pr-benchmarks[bot] opened #36436 "Startup regression: fortunes_ef"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| fortunes_ef [Fixed] | Fortunes EF aspnet-citrine-amd | 09/10/2021 20:53:39 | 206 | 218 | 8.00 % (18)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>Benchmar

[2021-09-12 07:08] martincostello commented on #36415
Yep I get the simplicity argument, just a suggestion for consideration from a "UX" angle.

For the second point, I wasn't suggesting having this as an interface, but the tooling is usually smart enough that it recognises parameters that aren't used are needed to conform to the interface, so it won't raise this kind of warning.

In the case of Visual Studio and the built-in SDK analysers it could o

[2021-09-12 07:11] davidfowl commented on #36415
But I'm saying if we had an interface (which we will eventually) you'll have the same problem.

[2021-09-12 07:20] martincostello commented on #36415
But I don't think you would have the same problem (unless we're talking about different things and I'm missing your point).

For example, if I implemented this interface like the below, the IDE/analyzers have been smart enough in my experience to not emit a warning as they understand that the argument is "used" by the interface declaration, even if it is never referenced in the method body.

[code

[2021-09-12 07:27] davidfowl commented on #36415
Ah, that's the thing I'm missing then.

[2021-09-12 08:50] kjdamen opened #36437 ".NET 6.0 ASP.NET MVC DataAnnotations"
When you apply data annotations to a model and a string property has no attributes applied you receive a message that the property is required.

**Example controller**
using Microsoft.AspNetCore.Mvc;
using System.ComponentModel.DataAnnotations;

namespace WebApplication19.Controllers;
[ApiController]
[Route("[controller]")]
public class ExampleController : ControllerBase
{
    private readonly ILo

[2021-09-12 09:07] mrpmorris commented on #36326
A hack is to change the namespace to Foo. But it's pretty nasty

[2021-09-12 09:33] martincostello opened #36438 "Cannot inspect parameter attributes in API Explorer with Minimal Actions"
### Describe the bug

Attributes of parameters of Minimal Actions cannot be inspected in API Explorer as the `ParameterDescriptor` property of the `ApiParameterDescription` for the parameter is always `null`. Further, if it were not null, the type of the value of the property would need to implement `IParameterInfoParameterDescriptor` so that the relevant `ParameterInfo` value could be accessible

[2021-09-12 09:37] martincostello commented on #36438
Suggested fix in #36439.

[2021-09-12 10:04] martincostello commented on #36438
Related issue: even with the `ParameterInfo` exposed, Swashbuckle.AspNetCore does not discover annotations on the parameters by default due to an assumption that the concrete type of the descriptor is `ControllerParameterDescriptor`.

https://github.com/domaindrivendev/Swashbuckle.AspNetCore/pull/2224

[2021-09-12 11:08] hxmcn opened #36440 "Get HttpContextAccessor in .Net 6"
When build asp.net web application on .Net 5,  there's a way to register IHttoContextAccessor as a singleton instance  with AddSingleton<T,T>() and GetService() methods.
However, the same code not works anymore on latest .Net 6 preview 7, is there any breaking changes?

### **[Code Example -Net 5]**
![image](https://user-images.githubusercontent.com/46490747/132985093-a62b0a41-af15-4641-96c8-8547b

[2021-09-12 12:42] martincostello commented on #36440
You need to add the services before you call `Build()` on the `WebApplicationBuilder`.

[2021-09-12 13:56] hxmcn commented on #36440
@martincostello Thanks, it works

[2021-09-12 14:02] davidfowl commented on #36440
FWIW this will throw an exception from rc1 and onward (mutating the service collection after building the app).

[2021-09-12 15:36] mkArtakMSFT commented on #35405
@davidfowl there 😄

[2021-09-12 17:19] brentschmaltz commented on #36175
@PureKrome i would like to if possible. I haven't studied the call graph yet to see if it is possible. It's actually very valuable when a an important improvement arises to know the exact version of a library being used.
By reviewing the telemetry and mapping to the application id, one can inform application owners. It's not always simple to know what version of libraries applications are using.

[2021-09-12 17:30] prnam commented on #33088
In my opinion it should open up default browser set by user in their machine (to avoid monopoly concerns in future / considering .NET Foundation working in favour of MSFT corp as deviation from objective or bylaws etc.)  and then also have an option of using Safari, Firefox accepted as valid values.

[2021-09-12 17:53] sackri10 commented on #36437
I have tested a similar example with .NET 6 Preview and was not getting any validations errors if the Required attribute is not applied. Could you please some repo link to replicate the same...

[2021-09-12 18:15] vsfeedback opened #36443 "Bug in preview 2022 - Rolling back from .net6 to .net5 in Blazor"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Bug-in-preview-2022---Rolling-back-from-/1520699)._

---
[severity:I'm unable to use this version] [regression] [worked-in:Latest 2019]
My Blazor project worked fine when I changed in the project settings from .net5 to .net6, it builds, it launches in the browser and works as intended.

[2021-09-12 18:17] mkArtakMSFT commented on #33068
@pranavkm is this something that you've been looking at?

[2021-09-12 19:03] pr-benchmarks[bot] opened #36444 "Perf improvement: mvc"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| mvc [Fixed] | Json Mvc aspnet-citrine-lin | 09/11/2021 08:11:28 | 501,106 | 506,451 | 1.03 % (5,163)  :thumbsup:  | 2.21 σ | 2,336.56 | <details>    <summary>Changes</summary>     <table><th>Name</th><t

[2021-09-12 19:04] pr-benchmarks[bot] opened #36445 "Startup improvement: json"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| json [Fixed] | Json aspnet-citrine-amd | 09/11/2021 08:24:40 | 173 | 163 | -10.00 % (-16)  :thumbsup: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th><tr>            <td>Microsoft.Extensions.

[2021-09-12 19:04] tombatron commented on #36410
Looks like that did the trick! Once I got all of the required bits and bobbles installed I was able to build from within Visual Studio.

![image](https://user-images.githubusercontent.com/119369/132999660-a6f3f3e7-b9fd-4908-bf19-acee2a51c4d4.png)

Thanks for the support on the weekend!

[2021-09-12 19:04] #36410 closed

[2021-09-12 19:15] sackri10 commented on #36352
@Dunge
Can you confirm how you are instantiating an urlHelper Instance?

[2021-09-12 19:27] Dunge commented on #36352
Hello @sackri10 thanks for the reply.

In my original post I was using in inside an IHtmlHelper extension so I did it this way:

[code]

But since then I tested by creating a new empty project doing just that to be sure there was nothing else was interfering, and used it directly using `@Url` inside a .cshtml view. It produced the exact same results.

[2021-09-12 19:55] adityamandaleeka commented on #32087
Thanks @pranavkm for making a bunch of progress here. Moving to .NET 7 milestone to cover the remainder.

[2021-09-12 20:09] sackri10 commented on #36352
@Dunge

If you have the GitHub URL for the test project, can you please add it here?

[2021-09-12 20:30] Dunge commented on #36352
Here you go:

https://github.com/Dunge/UrlHelperFailure

This is the Visual Studio 2019 MVC template with just the default route changed and the Test Controller/View as above.

Access via https://localhost:5001/Test/Test to see the result.

[2021-09-12 21:00] #36306 closed

[2021-09-12 21:41] pranavkm commented on #36437
@kjdamen, it's very likely the nullable annotations: https://docs.microsoft.com/en-us/aspnet/core/mvc/models/validation?view=aspnetcore-5.0#non-nullable-reference-types-and-required-attribute

[2021-09-12 21:57] mikesigs commented on #32155
I am getting started with Blazor this weekend and I'm also finding the Razor highlighting in VS Code to be really bad. It's difficult to work on code when your editor is telling you something is wrong, but the compiler is telling you it's right.

Here are a few examples that all compile and run properly, but show a false positive error with RED highlighting:

### Inline Ternary Expression
![image]

[2021-09-12 21:58] mikesigs opened #36446 "I am getting started with Blazor this weekend and I'm also finding the Razor highlighting in VS Code to be really bad. It's difficult to work on code when your editor is telling you something is wrong, but the compiler is telling you it's right."
I am getting started with Blazor this weekend and I'm also finding the Razor highlighting in VS Code to be really bad. It's difficult to work on code when your editor is telling you something is wrong, but the compiler is telling you it's right.

Here are a few examples that all compile and run properly, but show a false positive error with RED highlighting:

### Inline Ternary Expression
![image]

[2021-09-12 23:22] ScriptBox99 opened #36447 "Is it considerable to align the naming(version) of .NET stacks with .NET 7?"
Hello dear .NET Team and community members.
I would like to ask and was wondering we could expect to see more aligned naming of version of .NET with each coming major release.
To read many blog posts and Microsoft docs also has mentioned like that 'ASP.NET Core in .NET 5', 'in .NET 6', Blazor, EF Core has following same manner of context.
Since .NET 5 has announced as the first unified .NET as the

[2021-09-12 23:53] muzzar78 commented on #34418
I have just upgraded a .Net 5 asp.net core project to .Net 6 preview 7 and using visual studio 2022 preview 3 I'm seeing the same behavior. I'm running dotnet watch run from outside visual studio. If I press save multiple times within Visual Studio occasionally dotnet watch run --verbose picks up the file change but more often than not it doesn't. If I make the changes in VS Code then every time I

[2021-09-12 23:54] ScriptBox99 opened #36448 "In VS Code, Blazor development was not working well, so wish to see more better supports in VS Code for Blazor too."
Hello dear .NET team.
Well for some reasons, I am developing my Blazor app in VS Code.
But time to time, the experience of coding was not good.
For example:
 IntelliSense, Go to Definision not working well.

My Blazor app is not so big projects at all.
From Blazor component(.razor) in the @Code section, some method call to jump to the service, that is also not working well in editing so has to cli

[2021-09-13 00:09] captainsafia commented on #36414
Thanks for testing these scenarios, @martincostello!

So, the GroupName metadata is designed to be used when generating multiple Swagger documents. So the following:

[code]

Should work to display the `/greeting` API under the v1 subsection and the `/farewell` API under the v2 subsection.

![image](https://user-images.githubusercontent.com/1857993/133007281-8af2d555-0c53-4c0d-a1ce-89828d804b65.pn

[2021-09-13 00:23] SQL-MisterMagoo commented on #35928
Hi @egil
I don't know if it achieves what you need, but I think you can make your simple test pass like this

[code]

[2021-09-13 00:27] captainsafia commented on #36413
I think this is likely a Swashbuckle issue, similar to the one we had recently with the `?` in optional route parameters borking route rendering.

For this one, it looks like it is also happening for route constraints in controller-based APIs as well.

[2021-09-13 01:43] JamesNK opened #36450 "HTTP/3: Improve the preview features warning message."
The preview attribute supports a custom error message and URL. This is supported in latest .NET 6 runtime - https://github.com/dotnet/runtime/issues/56498

We should update the attribute with a user-friendly error message and include the aka.ms a link to the docs - https://aka.ms/aspnet/kestrel/http3reqs

- [ ] Update Kestrel preview attribute with custom error message and URL
- [ ] Verify error m

[2021-09-13 03:42] connor4312 commented on #33088
js-debug uses the [`default-browser`](https://github.com/sindresorhus/default-browser) module to check the browser on any platform, to which I PR'd in support for Windows a few months ago 🙂

[2021-09-13 03:58] MonkSoul opened #36452 "🐞 The `WebApplicationBuilder.Configuration` add custom configuration provider was called more than once."
In my project, I created a custom configuration provider, which is mainly used to process `.txt` files.

After that, I added a custom configuration provider through the following code and found that the provider's `Load` method was **called multiple times**.

The following code is added through `WebApplicationBuilder.Configuration`.

[code]

![image](https://user-images.githubusercontent.com/22766

[2021-09-13 05:42] leastprivilege commented on #36175
Sure - but this is not part of the RFC/spec - this is an AAD-specific product feature. Make it an extensibility point.

[2021-09-13 06:03] kjdamen commented on #36437
Thank you @pranavkm

[2021-09-13 07:04] #36444 closed

[2021-09-13 07:21] egil commented on #35928
@SQL-MisterMagoo good find. That will work, as it will allow me to register the `ComponentApplicationState` by default in the services container to make it "just work" for users. Will have to try out and see if you are actually able to save and restore state from it, or if that requires other things like JSInterop to be configured as well.

@javiercn see you are assigned this. Is this also the app

[2021-09-13 07:24] Martin-Stein commented on #36240
yes, I have changed the code behind.
Here is the code, that did'nt work:

                        user = _ctx.Users.Find( item.UserId);
                        if (user.UserName !="")
                        {
                             var token = await _userManager.GeneratePasswordResetTokenAsync(user);

                             result = await _userManager.ResetPasswordAsync(user, token, i

[2021-09-13 07:32] Stamo-Gochev opened #36453 "Cannot find the fallback endpoint specified by route values: { page: /_Host, area: }."
### Describe the bug
Running the default blazor server-side template project with .NET 6.0 RC 1 throws an error. RC 1 is not officially released as of this writing, so I am testing with the [Release/6.0.1XX-rc1](https://github.com/dotnet/installer#installers-and-binaries) builds.

### To Reproduce
1. Use the builds for the upcoming RC1 as described in https://github.com/dotnet/aspnetcore/issues/35

[2021-09-13 07:33] martincostello commented on #36414
Ah, fair enough, my mistake!

I guess the nomenclature in this case is slightly confusing, but I'd probably have ended up doing the right thing via trial-and-error if the version I was using had `WithTags()` 👍

[2021-09-13 07:37] mikeon commented on #36204
Ehh, completely omitted that. I will check it now and give feedback here.

[2021-09-13 08:59] dbokowy commented on #8447
hey, do you know maybe if this issue have been solved or is there a workaround?

[2021-09-13 09:02] SteveSandersonMS opened #36454 "Publish Microsoft.AspNetCore.Components.CustomElements"
This is an experimental package with sources at https://github.com/aspnet/AspLabs/tree/main/src/BlazorCustomElements

We need to publish the package to nuget.org if we want it to be realistically usable.

[2021-09-13 09:45] javiercn commented on #36448
@ScriptBox99 thanks for contacting us.

@NTaylorMullen can you take a look?

[2021-09-13 09:52] javiercn commented on #36447
@ScriptBox99 thanks for contacting us.

This issue tracker is mostly focused on product issues and not a suitable place for this type of discussions, since it affects the whole ecosystem and not just ASP.NET Core. While our product naming, branding and versioning might change in the future, it is extremely unlikely that will be the case for .NET 6.0.

/cc: @danroth27 @DamianEdwards @LadyNaggaga

[2021-09-13 09:52] #36447 closed

[2021-09-13 09:52] javiercn commented on #36446
@mikesigs thanks for contacting us.

@NTaylorMullen @ryanbrandenburg can you take a look?

[2021-09-13 09:54] javiercn commented on #36411
@danroth27 good catch

I believe that's a limitation on how C# works, since it can't pick the right overload for you.

/cc: @SteveSandersonMS

[2021-09-13 09:58] soundaranbu commented on #31578
Fortunately, I came across this [blog post](https://andrewlock.net/using-source-generators-with-blazor-in-dotnet-6/?utm_source=csharpdigest&utm_medium=email&utm_campaign=380) which took me to [this comment](https://github.com/dotnet/aspnetcore/issues/32172#issuecomment-859712936).
When I add this flag `<UseRazorSourceGenerator>false</UseRazorSourceGenerator>`  to the RCL, things started working ag

[2021-09-13 10:06] impworks commented on #8447
@dbokowy you can use JeringTech/Javascript.NodeJs as a replacement for the obsolete INodeServices - it is well-supported and does not have this issue. Only a few little changes in configuration are required.

[2021-09-13 10:11] alanjohn0915 opened #36455 "System.Net.Http.HttpRequestException: Error while copying content to a stream. .Net 5"
### Describe the bug
Exception in copying httpcontent content to httpcontext.response.body

### Stack trace
[code]

### To Reproduce
The test cannot appear due to an unexpected error

### Further technical details
- ASP.NET 5.0

[2021-09-13 10:13] javiercn commented on #35928
@egil Yes, It was mostly to give you a pattern to do this.

However @SQL-MisterMagoo has basically already found it.

If you run into further issues, let me know and we can give you further guidance. If you need to test 'restoring persisted state' you can do so by calling RestoreStateAsync on the persistence manager.

[2021-09-13 10:21] alanjohn0915 commented on #36455
### Supplementary code
[code]

[2021-09-13 10:24] egil commented on #35928
I just want to provide a good experience for users that use the builtin stuff from Blazor. So a user should be able to basically write a test like this:

[code]

What I need to verify is that components under test or test code can call `TryTakeAsJson` and `PersistAsJson`, and then we're golden.

[2021-09-13 10:31] javiercn commented on #35928
@egil for TryTake the test author will need to initialize the existing state by calling `RestoreStateAsync` to populate the state.

For saving the state, it only occurs as part of the PersistStateAsync call. I would check the unit tests for guidance https://github.com/dotnet/aspnetcore/blob/main/src/Components/Components/test/Lifetime/ComponentApplicationLifetimeTest.cs

[2021-09-13 10:32] SteveSandersonMS commented on #36411
Yes, that's correct.

I was hoping this situation doesn't come up very often in real-world code. The two most common cases I expect are:

* Adding/updating to current URL a single parameter to generate links while rendering (e.g., `page`)
* Generating an entire URL by combining multiple query values (e.g., in an event handler, representing the state of a component as a URL)

In neither of these ca

[2021-09-13 10:32] #36411 closed

[2021-09-13 10:33] javiercn commented on #36411
@SteveSandersonMS how do you feel about using a "special value" here to signal removal?

[2021-09-13 10:42] SteveSandersonMS commented on #36411
That's kind of what `(string)null` or `(int?)null` is. I don't think `GetUriWithQueryParameter("name", QueryParameterValues.None)` is more discoverable than ``GetUriWithoutQueryParameter("name")`.

But I don't feel hugely troubled by this anyway. I'd prefer to wait and see what customer feedback we get here before considering a refinement in 7.0. There's nothing unusual about `(string)null` (or wh

[2021-09-13 10:50] javiercn commented on #35633
@pbiggar The issue seems to be something in your build is causing a duplicate file to show up in the list of ResolvedFilesToPublish and that is triggering an error on one of the tasks.

![image](https://user-images.githubusercontent.com/6995051/133070161-4be14f5c-5f16-40ac-b3c0-123a889110d5.png)

@johngsandiford Can you at least provide the error and the stack trace from the binlog?

[2021-09-13 11:20] javiercn commented on #35633
There's an SDK PR out [here](https://github.com/dotnet/sdk/pull/20961) and hopefully will make it into RC2

[2021-09-13 11:22] sianmace opened #36456 "Injecting in to class inheriting from RevalidatingServerAuthenticationStateProvider"
I am using the RevalidatingServerAuthenticationStateProvider to tirgger a refresh of an access token in blazor.

I would like to inject a class in order to pass the message on once the new access code has been generated.

I cannot inject in to the class

If I inject in to the constructor, blazor starts with a blank screen and no error is reported.

Using the [Inject] attribute just results in a nu

[2021-09-13 11:35] vanillajonathan opened #36457 "Blazor appsettings.Development.json is wrong"
When using the Blazor WebAssembly App template with the Individual User Accounts option it scaffolds a wrong appsettings.Development.json file.

### Describe the bug
A clear and concise description of what the bug is.

appsettings.json:
[code]

appsettings.Development.json:
[code]

It says `https:login...` instead `https://login...`

### To Reproduce
Scaffold a new Blazor WebAssembly App template

[2021-09-13 12:16] realivanjx commented on #27217
Is there a way to set cookie on the webview? I need to show image to `img` tag from authenticated API. I tried invoking `fetch` with js interop and the server replies with this cookie:

`set-cookie: token=bWcnPlI4tXRKePtLOzpvsa0fCrTZ4pMAmpeCGZO30wnXo0c7157Nz3mAf7lhRs9E; expires=Wed, 13 Oct 2021 12:14:08 GMT; path=/; secure; samesite=none; httponly`

But the cookie is still not set so i cant show t

[2021-09-13 12:26] egil commented on #35928
Ill try it out as soon as possible and see what I can get working, so users has as smooth as an experience as possible.

[2021-09-13 12:26] johngsandiford commented on #35633
@javiercn binlog shared in private rep.  Thanks, John

[2021-09-13 12:31] realivanjx commented on #27217
Hi, im trying to set cookie on my webview to show image to `img` tag from authenticated API. I tried to make a `fetch` call to my authentication API and successfully got this response back:

![image](https://user-images.githubusercontent.com/12814796/133083588-ddd1346c-7159-43d7-b657-827b7592f6d3.png)

The problem is the cookie seems not to be set so the image API calls are still failing:

![image

[2021-09-13 12:35] martincostello commented on #36455
Looks like your response from the HttpClient would be disposed of before the `OnStarting` callback runs because it's disposed of immediately after you call `OnStarting()`, so by the time the callback runs it's trying to use a disposed stream, causing the copy to fail.

[2021-09-13 12:48] ClumsyPenguin commented on #33787
I also run against this issue, this is a real issue for me , since i proxy all our blobstorage image download trough our API and the API itselfs download and pass the Stream. Since i cannot secure my endpoint now everybody can in theory access my images. Is there a workaround for this issue yet?

[2021-09-13 13:48] daemogar commented on #36306
I installed ```6.0.100-rc.2.21460.37``` this morning, and tested, and it still does the same thing. AKA: not fixed.

[2021-09-13 13:49] LiteracyFanatic commented on #27045
I would really like to see this feature implemented. During development I usually have multiple terminal tabs open to different directories in a project for various tasks (one running an aspnet server, one running a webpack server, one with an ssh connection to a remote box, and one for running commands like git or ef migrations). It's annoying to manually open and configure each of these terminal

[2021-09-13 14:09] vanillajonathan commented on #20813
The `AdditionalProviderParameters` property in Blazor 6 does not cover all use cases, it is static and cannot be used to dynamically add query parameters.

Example:
[code]

[2021-09-13 14:12] #36204 closed

[2021-09-13 14:35] ylr-research opened #36461 "DotNetSteamReference does not exist"
I'm trying to create an instance of `DotNetStreamReference`  in a Blazor component, but I don't see it available. I'm using .NET 6 Preview 7.

![image](https://user-images.githubusercontent.com/63487874/133102559-ff38371b-94f1-4a27-8635-94416400ebc6.png)

[2021-09-13 14:58] dbokowy commented on #8447
@impworks works like a charm, thanks!

[2021-09-13 15:07] Tratcher commented on #36455
Right, you don't want OnStarting for this, it should never be used to write to the response body.
[code]

[2021-09-13 15:16] ShreyasJejurkar commented on #36461
As I can see those APIs are still unshipped.txt

https://github.com/dotnet/aspnetcore/blob/e6a5af6633f08890afbd99a6ca7687c623454768/src/JSInterop/Microsoft.JSInterop/src/PublicAPI.Unshipped.txt#L8-L12

Maybe move it to shipped.txt!?

[2021-09-13 15:21] javiercn commented on #35633
@johngsandiford unfortunately we can't access private repos. If you can't share the binlog, at least it would help if you share the sanitized call stack you are receiving and the exact error message you are seeing, to help determine if its the same issue as @pbiggar or is a different one.

[2021-09-13 15:22] pbiggar commented on #35633
Thanks! Is this something you're looking into, or something I need to address in my build? If the latter, would appreciate a pointer on how to start if you have any!

[2021-09-13 15:26] javiercn commented on #35633
@pbiggar I think both. I don't think it is right for the list of ResolvedFilesToPublish to contain duplicates, at the same time, we can be a bit more flexible, ignore and log them to avoid issues like this from causing trouble.

@pbiggar I suspect you need to track where FSharp.Core.xml is added twice (probably as part of the F# specific targets) and make a fix there if possible.

On our side, I h

[2021-09-13 15:27] mrward opened #36463 "Incorrect primary output path for Blazor Web Assembly project template"
Templating engine version: 6.0.100-rc.2.21417.7

Creating a new Blazor Web Assembly project (.NET 6.0) with VS Mac and the CreationResult.PrimaryOutputs path seems incorrect. It has a path of "projectName.Client.csproj" when it should be "projectName.csproj". The full set of creation results seems OK - the project path is correct there.

The Blazor template seems to do a rename of the project file

[2021-09-13 15:29] vlada-shubina commented on #36463
Transferring to dotnet/aspnetcore - the issue is in template itself. The primary output should contain the name after source-based rename is applied, please see [the article](https://github.com/dotnet/templating/wiki/Using-Primary-Outputs-for-Post-Actions#renaming) for more details.

[2021-09-13 15:43] timheuer commented on #36393
@pranavkm confirming adding that solved the issue yes.

[2021-09-13 15:52] Schuttrim opened #36465 "Unexpected Inequality of FieldIdentifiers"
### Describe the bug
I have found a scenario, where two FieldIdentifiers can be created for the same field on the same instance, but `Equals()` will return false

### To Reproduce
1. Set up a simple BlazorWasm project using `dotnet new blazorwasm`
2. Add the following Page, Component and TestData Class
3. Start application and click the button on the demo page
4. when debugging, you will see that

[2021-09-13 15:55] captainsafia commented on #36414
@martincostello No worries! BTW, I misspoke. The `WithTags` stuff doesn't totally work yet. You'll need to use the changes in https://github.com/domaindrivendev/Swashbuckle.AspNetCore/pull/2210 to get it working in the E2E.

Closing this one for now.

[2021-09-13 15:55] #36414 closed

[2021-09-13 16:07] #35204 closed

[2021-09-13 16:09] BieleckiLtd opened #36466 "EmptyBodyBehavior.Allow should allow a missing Content-Type"
`EmptyBodyBehavior.Allow` allows a 0-length body, but does not work if the request does not have a `Content-Type` header. To make bodies truly optional, we need to expand the behavior of the switch to allow a missing Content-Type.

Original bug:
-----------------------
### Describe the bug
This is either a bug or I'm using this new ASP.NET Core 5.0 feature wrong/API doc is not clear.

### To Repro

[2021-09-13 16:13] johngsandiford commented on #35633
@javiercn it is private but I have given you access to it.

Call stack below.  Thanks, John

C:\Program Files\dotnet\sdk\6.0.100-preview.7.21379.14\Sdks\Microsoft.NET.Sdk.BlazorWebAssembly\targets\Microsoft.NET.Sdk.BlazorWebAssembly.6_0.targets(398,5): Error : System.ArgumentException: An item with the same key has already been added.
   at System.ThrowHelper.ThrowArgumentException(ExceptionResour

[2021-09-13 16:15] javiercn commented on #35633
@johngsandiford don't you get the key that is causing the issue?

Also, could you try with a nightly build, we've fixed a lot of things since preview7.

[2021-09-13 16:27] mkArtakMSFT opened #36471 "Validate state of Blazor with RC2 bits"
Here are all the details about the build to use for validation:

### Installer to use
Version: [6.0.100-rc.2.21463.4](https://aka.ms/dotnet/6.0.1xx/daily/dotnet-sdk-win-x64.exe)

### Feed configuration
[code]

[2021-09-13 16:30] rafikiassumaniMSFT commented on #36466
@pranavkm  any thoughts on this ?

[2021-09-13 16:32] wtgodbe opened #36472 "Microsoft.AspNetCore.Hosting.Tests.HostingApplicationTests.IHttpActivityFeatureIsPopulated fails"
## Failing Test(s)

Microsoft.AspNetCore.Hosting.Tests.HostingApplicationTests.IHttpActivityFeatureIsPopulated

-

## Error Message

[code]

## Stacktrace

[code]
## Logs

[code]
## Build

https://dev.azure.com/dnceng/public/_build/results?buildId=1358128&view=results

[2021-09-13 16:35] mkArtakMSFT commented on #36461
Thanks for contacting us.
`DotNetStreamReference` will ship as part of the upcoming RC1 release.

[2021-09-13 16:35] #36461 closed

[2021-09-13 16:38] Tratcher commented on #36472
Duplicate of https://github.com/dotnet/aspnetcore/issues/35142

[2021-09-13 16:39] #36472 closed

[2021-09-13 16:41] #36456 closed

[2021-09-13 16:50] mkArtakMSFT commented on #36443
Thanks for contacting us. We recommend cleaning up the project by manually removing `bin` and `obj` folders after switching the TFM.

[2021-09-13 16:50] #36443 closed

[2021-09-13 16:53] mkArtakMSFT commented on #36429
Thanks for bringing this up. We plan to add an analyzer to help with this. The issue tracking that work is #26230

[2021-09-13 16:53] #36429 closed

[2021-09-13 16:55] mkArtakMSFT commented on #36427
Thanks for contacting us. The `input type="time"` component is designed to work with `TimeSpan` and there is no conversation mechanism from DateTime to TimeSpan available out of the box. You can create a property which handles the conversation internally and bind to that instead.

[2021-09-13 16:55] #36427 closed

[2021-09-13 17:01] mkArtakMSFT commented on #36372
Ping @EricCornelson

[2021-09-13 17:01] poveilleux commented on #36090
I tried the `ITicketStore` approach, but I would have to implement every method and also have a backing database to store all user sessions and I did not want to go that route just yet.

I will update once I have made the custom handler work.

[2021-09-13 17:04] mkArtakMSFT commented on #36475
My bad, @thaystg . I thought this is debugging related, but now realize that this is mapping issue, so @NTaylorMullen can you please look into this? Thanks!

[2021-09-13 17:20] pranavkm commented on #36466
EmptyBodyBehavior operates at the formatter level - once a formatter is picked, it decides to allow an empty body. Picking a formatter requires a `Content-Type`  and the absence of one would produce a 415. Perhaps that's what's happening here.

[2021-09-13 18:00] alfredmyers commented on #33972
Given the [security implications of the current default](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-6.0&tabs=visual-studio#trust-the-aspnet-core-https-development-certificate-on-windows-and-macos), wouldn't it be the case to change the default behavior to not create the ASP.NET Core HTTPS Development Certificate automatically and instead instruct the user t

[2021-09-13 18:15] #32853 closed

[2021-09-13 18:23] pranavkm commented on #36453
@Stamo-Gochev I just tried this with `6.0.100-rc.1.21460.8` the most recent build of the installer and it appears to work correctly for me both on the CLI and VS 17.0 Preview 3.1. Are you able to reproduce this issue consistently / on a different machine than your regular dev machine?

If you'd like us to investigate this further attaching a binlog would be helpful. You can get one by running `dot

[2021-09-13 18:29] javiercn opened #36481 "[Blazor] Add AoT pipeline on the SDK repo to validate AoT scenarios with automation"
Currently AoT validation is manual or based on CTI coverage. This makes it hard to update the build scenarios without risking a break and makes fixing issues in this area expensive.

The main issue with AoT builds is the time they take. To improve the situation we want to run a separate build pipeline to make sure it can run in parallel and not add time to the final build.

We will own this pipeli

[2021-09-13 18:38] genifycom commented on #17678
This goes much further than the OPs request.

We need single deployments that can contain BOTH Blazor client side and server-side.

For example, recently ran into an issue in Bazlor WASM, so I need to change this component from client side to server side until I can work out a resolution. It is ridiculous to have to have two separate projects and have to move the component between the two!

We liv

[2021-09-13 19:17] nssidhu commented on #36427
if it does work with TimeSpan, the variable that is bound is of type TimeSpan, than why am i getting the Error ?

[2021-09-13 19:36] #36373 closed

[2021-09-13 19:40] Ponant commented on #6001
I created a library for CSP because we needed it in production apps and existing libraries including NWebsec did not fully fulfill our conditions. It is based on a *pragmatic* and performance-oriented design philosophy which I believe is worth sharing after a brief exchange with @damienbod  here https://github.com/dotnet/aspnetcore/issues/34428. This lead us to introduce the concept of a CSP Polic

[2021-09-13 19:40] BrennanConroy commented on #27538
We want to remove most of the CS1591 warning skips, there are still a few left (Kestrel has some)
https://github.com/dotnet/aspnetcore/search?q=CS1591

[2021-09-13 19:41] Ponant commented on #34428
@damienbod , hi, here is the code as promised (sorry for the delay I was out on holliday!), https://github.com/dotnet/aspnetcore/issues/6001

[2021-09-13 20:09] adityamandaleeka commented on #36308
@SonoranBrian Please let us know if you figure out a solution/workaround to this.

However, since it doesn't seem like this is an issue in our code, we'll close this issue for now. We can reopen if that changes.

[2021-09-13 20:09] #36308 closed

[2021-09-13 20:25] adityamandaleeka commented on #36421
Triage: have you reached out to Auth0 about this issue? This feels like a nuance of their auth provider with which we don't have much familiarity.

BTW, have you validated that the access token that you're passing to the component is a JWT token? You can check it using https://jwt.ms/

[2021-09-13 20:31] adityamandaleeka commented on #27591
Triage: moving to backlog

[2021-09-13 20:35] adityamandaleeka commented on #35709
@uweigand I believe we got all your patches into the 6.0 branch, so I'm closing this issue. Thanks for your contributions!

[2021-09-13 20:35] #35709 closed

[2021-09-13 20:42] BrennanConroy commented on #36298
If we added some `doOnDispose` type thing you could still run into the same issue if start has already completed by the time you call dispose. I don't see this as being a very important scenario to fix as it has extremely limited scope unless I'm missing something.

[2021-09-13 21:24] #27370 closed

[2021-09-13 21:24] HaoK commented on #36240
@Martin-Stein from the snippet it does look like you might be mixing operations, as _ctx is probably a DbContext, and the user manager has its own, so the error about concurrent transactions is true, you can't mix and match your own db context modifications with identity calls.

[2021-09-13 21:24] TanayParikh commented on #28521
Discussion here: https://github.com/dotnet/aspnetcore/pull/36259

Likely will require a breaking change, which isn't realistic at this stage of the .NET 6 release. Given there are workaround like @beppemarazzi, we're pushing this to .NET 7.0

[2021-09-13 22:06] adityamandaleeka commented on #34741
This is done... these are running in a quarantined job for now.

[2021-09-13 22:06] #34741 closed

[2021-09-13 22:08] adityamandaleeka commented on #35699
Revisit this around 10/11 once we have history in the quarantined runs.

[2021-09-13 22:17] rafikiassumaniMSFT commented on #36418
Triage: We will evaluate this for .NET7

[2021-09-13 22:20] rafikiassumaniMSFT commented on #36417
Triage: We will re-evaluate this during .NET7 planning.

[2021-09-13 22:37] rafikiassumaniMSFT commented on #36408
Triage: We will evaluate to commit to this work with other analyzers for .NET7 planning.

[2021-09-13 22:45] JamesNK opened #36486 "HTTP/3: Enable in Kestrel by default"
Turn on HTTP/3 by default in .NET 7, i.e. default protocol is `Http1AndHttp2AndHttp3`. 🌶️ 🔥 💥

Should do this sooner rather than later to get feedback in .NET 7 previews.

[2021-09-13 23:17] captainsafia opened #36487 "Avoid duplicates in automatically generated endpoint names"
Currently, we automatically generate an endpoint name for an endpoint based on the name of the method.

[code]

Will produce an `EndpointName` with a `Foo` method. In https://github.com/dotnet/aspnetcore/pull/36353, we added more aggressive throwing of exceptions for duplicate endpoint names.

This, in combination with the feature above, means it is more likely for features to run into the confusi

[2021-09-13 23:54] Bludator commented on #36298
In the heat of debugging it didn't come to my mind that `connection.stop()` works even on not completely started connection. Now I realized I ultimately want that the `connection.stop()` is called in `doOnDispose`. Which I could do in my code but I think it is not unreasonable to add it directly to the `start` method.
(Well I could do in next version: #28608)

[2021-09-14 00:53] alanjohn0915 commented on #36455
###  Complete code

@Tratcher   @martincostello

[code]

[2021-09-14 02:41] mikesigs commented on #31320
@SteveSandersonMS Sorry I need you to ELI5. What SHA of what script? This issue is about the aspnetcore-browser-refresh.js not being loaded. So are we supposed to come up with the SHA for that file on our own? Then what? Sorry, this aspect of front-end development is foreign to me.

[2021-09-14 03:12] Tratcher commented on #36455
Forwarding requests like this has a lot of unexpected complicity and risks. I recommend trying a library like YARP:
https://microsoft.github.io/reverse-proxy/articles/direct-forwarding.html

[2021-09-14 05:11] Xyncgas opened #36493 "[Blazor-wasm] Continuation of: Lazy loading of application areas #5465"
My Application Has A Lots Modules, Plugins, I wouldn't want to download all of the dll when blazor starts in the browser, instead, when I need to use them I can download the codes/dll from the browser and use it.

I can do it in server side using micro services, but in this scenario I am downloading codes to the browser and executing them, I am wonder if it's possible to have lazy loading.

[2021-09-14 05:15] Xyncgas commented on #33361
I think I've found a solution for it after playing with blazor a bit longer.
RenderFragment

[2021-09-14 05:16] Xyncgas commented on #33361
https://jonhilton.net/blazor-dynamic-components/
https://stackoverflow.com/questions/64556105/blazor-how-to-create-reusable-render-fragment
https://docs.microsoft.com/en-us/aspnet/core/blazor/webassembly-performance-best-practices?view=aspnetcore-3.1#define-reusable-renderfragments-in-code-2

[2021-09-14 05:34] Stamo-Gochev commented on #36453
@pranavkm As you have mentioned, the tool exposes some internal information, which I prefer not to share, so I am adding a modified screenshot of the result so that you can see the build is successful

<details>
<summary>msbuild log</summary>

![image](https://user-images.githubusercontent.com/1857705/133200004-4ad16fc2-08a2-458c-8e7d-01ff1498adde.png)

</details>

The command-line text that is ge

[2021-09-14 06:06] mkArtakMSFT commented on #36471
@javiercn , @pranavkm , @SteveSandersonMS, @TanayParikh this is waiting for your input, guys.
As we've agreed earlier, please add a comment about the app that you're going to build for validation. We can have a follow-up conversation then.

[2021-09-14 07:14] uweigand commented on #35709
Yes, everything should be good now.  Thanks!

[2021-09-14 07:17] BieleckiLtd commented on #36466
Is there any way to leverage this functionality then? If I was using HttpClient for example to call this action, I would have to newop dummy JsonContent for instance and attach with the body?

[2021-09-14 07:48] arno-developer commented on #35306
Good Day, I got the same issue when I open my solution.
Here below is the full error in that I get in the "Output" window:

   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.FileSystemEnumerableIterator`1.CommonInit()
   at System.IO.FileSystemEnumerableIterator`1..ctor(String path, String originalUserPath, String searchPattern, SearchOption searchOption, Se

[2021-09-14 08:04] conficient opened #36494 "SupplyParameterFromQueryAttribute is long-winded and verbose"
## Background and Motivation

The new `SupplyParameterFromQueryAttribute` in .NET 6 is a very long and overly-descriptive name for an attribute.
[code]
The API should err toward a terser syntax where practical, as eases code reading and makes it easier for non-English-speaking coders to scan and understand as well.

Looking at similar attributes in Razor components we find `[Parameter]` and `[Casc

[2021-09-14 08:44] sps014 commented on #36493
See if this helps you https://docs.microsoft.com/en-us/aspnet/core/blazor/webassembly-lazy-load-assemblies?view=aspnetcore-5.0

[2021-09-14 09:07] javiercn commented on #36471
I'm going to build some calorie tracker app or something like that, I'll focus on auth, JS runtime components and MVC integration

[2021-09-14 09:08] javiercn commented on #36493
@Xyncgas thanks for contacting us.

This is possible today as per @sps014 answer.

[2021-09-14 09:32] v-cazhang opened #36495 "VS Code: Type "@DateTime" in the _layout.cshtml , the color of this symbol is incorrect."
**REPRO CONFIGURATION**:Win11 x64 + SDK 6.0.rc2
**Latest SDK Version:** 6.0.100-rc.2.21463.12
**Latest Runtime Version:** 6.0.0-rc.2.21460.8

**INSTALL STEPS​:**
1. Clean machine: Win11 x64
2. Install the sdk 6.0.rc2 from: https://aka.ms/dotnet/6.0.1xx/daily/dotnet-sdk-win-x64.exe
3. Install VS Code from: [https://code.visualstudio.com/Download](url)
4. Install C# Extensions version: v1.23.15.vsix

[2021-09-14 09:40] BieleckiLtd commented on #36466
As per [this](https://stackoverflow.com/a/69171374/3934322) SO post: Just add content-type in your request header. Without the content-type:application/json will appear 415 when body is empty.

[2021-09-14 11:58] mymatrixpixel commented on #36454
@SteveSandersonMS Can you publish the package to nuget.org. Thanks

[2021-09-14 12:28] SteveSandersonMS commented on #36471
I'm focusing on WebAssembly specific features with AOT and native dependencies. For example, I'll try integrating with some library implemented in another wasm-targetable language like Go. I don't yet know what business domain gimmick I'll choose but it will probably end up feeding into my DotNetConf talk.

It's not absolutely clear how quickly I can move with this since native dependencies isn't

[2021-09-14 13:00] #35928 closed

[2021-09-14 13:19] pranavkm commented on #36453
Could you include a screenshot of the `Csc` task? Specifically the `Analyzers` node passed to it? We stopped using `Microsoft.AspNetCore.Razor.Language` in the source generator at the start of rc1 so it's weird to see it show up in there with a fairly new build of the installer.

[2021-09-14 13:27] pranavkm commented on #36494
Thank you for your API suggestion. Unfortunately we're well past the point of making API changes for 6.0 and any changes here for 7.0 would be considered a breaking change as you noted in your Risks. It's also unlikely that we would consider a different attribute simply because the first one is verbose.

A fairly trivial workaround would be to add an alias to this in your `_Imports.razor ` (where

[2021-09-14 13:35] brice-fromentin commented on #33731
I have the same issue, here is my steps :
 - Create Blazor App
 - Create .NET 6 Class Library Project
 - Create a class within the class library
 - In program.cs of blazor add : builder.Services.AddSingleton<MyClass>();
 - In MainLayout.razor add : @inject MyClass myClass

If I create MyClass in blazor project It works fine.

[2021-09-14 13:36] thaystg commented on #33731
@brice-fromentin which version of dotnet are you using?

[2021-09-14 13:43] SteveSandersonMS commented on #36454
That's what this issue is tracking.

[2021-09-14 13:51] conficient commented on #36494
Nice suggestion, @pranavkm  - thanks

[2021-09-14 13:51] #36494 closed

[2021-09-14 14:04] ABIOLI-COM opened #36497 "Uncaught pause_on_uncaught"
After updating to the latest .NET 6 Preview, I get this error each time I start my Blazor WebAssembly application in Google Chrome:

`Uncaught pause_on_uncaught`

The real problem is that I have to open developer tools with F12, and then resume execution, otherwise the page loading appears 'frozen' (and it's also very slow, anyway).
On the source code side, I can pretty print the javascript code t

[2021-09-14 14:30] javiercn commented on #36497
@ABIOLI-COM thanks for contacting us.

This is a known issue and is being addressed by the runtime folks.

[2021-09-14 14:31] javiercn commented on #36497
@lewing @thaystg I know you made a fix for this. Did it make it into RC2?

[2021-09-14 14:36] thaystg commented on #36497
Yes.

[2021-09-14 14:49] javiercn commented on #36497
@thaystg thanks for confirming!

[2021-09-14 14:49] #36497 closed

[2021-09-14 14:57] buzzluck68 commented on #28573
When I tried adding a web.{environment}.config file to the blazor wasm project (per @ViRuSTriNiTy), it would no longer load when run.  It would just forever stay on the loading progress stage.  So that is not a solution that I think will work.  I am looking at the link provided by @sturlath to see if it will work, but the documentation seems to be specifically for the blazor server side project, a

[2021-09-14 15:07] #36437 closed

[2021-09-14 15:08] rafikiassumaniMSFT commented on #36416
Triage: We will re-evaluate this issue during .NET7 planning.

[2021-09-14 15:22] drma-dev opened #36498 "blazor _httpContextAccessor.HttpContext null"
`services.TryAddSingleton<IHttpContextAccessor, HttpContextAccessor>();`
[code]
[code]
I'm trying to generate a link, among other things, but I can never capture the HttpContext, because it's always null. I read somewhere that the blazor (server) no longer supports this. how can I solve similar cases?

[2021-09-14 15:36] brice-fromentin commented on #33731
@thaystg  I use latest preview of NET 6.0 (6.0.100-preview.7.21379.14).

[2021-09-14 15:42] thaystg commented on #33731
@brice-fromentin just to check if I'm reproducing the same thing that you are having.
You are trying to add the breakpoint in a method in MyClass or somewhere else?
If you remove and add the breakpoint after the app is already running the breakpoint works?

[2021-09-14 15:47] brice-fromentin commented on #33731
In fact, I put a breakpoint on the constructor. The bug happens when I inject the singleton.
________________________________
De : Thays Grazia ***@***.***>
Envoyé : Tuesday, September 14, 2021 5:42:55 PM
À : dotnet/aspnetcore ***@***.***>
Cc : brice-fromentin ***@***.***>; Mention ***@***.***>
Objet : Re: [dotnet/aspnetcore] Blazor Debugging not working (#33731)

@brice-fromentin<https://emea01.s

[2021-09-14 16:07] DamianEdwards opened #36499 "Route handlers throw System.Text.Json.JsonReader exception for requests with invalid JSON body rather than returning 422"
Consider the following minimal API:
[code]

Sending a request with invalid JSON body but that is otherwise well-formed results in a 500 response, due to the underlying JSON reader exception not being handled by the framework:

![image](https://user-images.githubusercontent.com/249088/133293691-82a03d7c-86a9-45a7-be8b-8b4fcc218aab.png)

We should likely be returning a [422 Unprocessable Entity](htt

[2021-09-14 16:14] DamianEdwards commented on #36499
MVC (with `ApiController`) responds with a 400 in this scenario (the Problem Details is due to the convention applied to `ApiController` instances):

![image](https://user-images.githubusercontent.com/249088/133294766-8253629a-798f-4cb5-a136-07b0934a9b68.png)

[2021-09-14 16:26] SteveSandersonMS commented on #36454
Done: https://www.nuget.org/packages/Microsoft.AspNetCore.Components.CustomElements

[2021-09-14 16:26] #36454 closed

[2021-09-14 16:27] Eilon opened #36502 "Test issue for Blazor stuff please ignore"

[2021-09-14 16:27] #36502 closed

[2021-09-14 16:29] poveilleux commented on #36090
Alright, I was able to create a custom handler based on the `CookieAuthenticationHandler` which will is able to determine in a cleaner way if a given user session has timed out.
[code]

[2021-09-14 16:33] mkArtakMSFT commented on #36498
Thanks for contacting us.
You should use `NavigationManager.Uri` property to get access to the current URL.
In general, we don't recommend using HttpContextAccessor in Blazor server applications. You can learn more about those limitations here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-context?view=aspnetcore-5.0#blazor-and-shared-state

[2021-09-14 16:33] #36498 closed

[2021-09-14 16:40] mkArtakMSFT commented on #36371
Thanks for contacting us. What version are you using to run this with?
Can you share the output of `dotnet --info` please?

[2021-09-14 16:46] mkArtakMSFT commented on #36352
@javiercn can you please take a look at this? Thanks!

[2021-09-14 16:48] mkArtakMSFT commented on #36335
Thanks for contacting us.
@javiercn this seems to be a valid scenario. How should this be handled?

[2021-09-14 16:49] brentschmaltz commented on #36175
@leastprivilege I always push back against any work that is not per spec (unless we all agree, lax on receive for example). There are other voices that have influence, currently i do have some influence and will try and hold the line. If there is a need for some odd behavior, we will need to mark the 'issue' and 'pr' in such a way that interested parties can chime in so there are no surprises.  Cu

[2021-09-14 17:00] #36393 closed

[2021-09-14 17:12] #32545 closed

[2021-09-14 17:19] HaoK commented on #35922
Feel free to reopen this if you have a repro, otherwise things appear to be working as intended

[2021-09-14 17:19] #35922 closed

[2021-09-14 17:22] HaoK commented on #36090
Glad to hear @poveilleux

[2021-09-14 17:22] #36090 closed

[2021-09-14 17:40] #35436 closed

[2021-09-14 17:55] poveilleux commented on #36090
Also, for those wondering how to inject the custom authentication handler, here's how I did it
[code]

[2021-09-14 18:23] user72356 commented on #26049
Same issue here when trying to send objects from JS to .Net in a callback situation. I would like to receive the objects as IJSObjectReference on the .Net side and not have JSON attempt to serialize them. Is there an inverse to attachReviver so that I may influence the serialization process from JS to .Net? Is it attachDispatcher??

[2021-09-14 18:31] Jasonizback commented on #26049
This my device I'm the owner here so whoever that user is please deny
access to my private repository list

jag

On Tue, Sep 14, 2021, 1:24 PM user72356 ***@***.***> wrote:

[2021-09-14 18:37] Kahbazi opened #36506 "Avoid Creating AuthenticationHeaderValue"
Does it make sense to change
https://github.com/dotnet/aspnetcore/blob/8b30d862de6c9146f466061d51aa3f1414ee2337/src/Security/Authentication/Google/src/GoogleHandler.cs#L41
to
[code]
in order to reduce allocation with creating `AuthenticationHeaderValue`?

[2021-09-14 18:40] dougbu commented on #36116
@mkArtakMSFT @pranavkm is RC1 correct for this issue❔ It remains open while the release is closed.

[2021-09-14 18:46] #36506 closed

[2021-09-14 18:48] pranavkm commented on #36471
I was planning to pick up one of the rc1 scenarios with STJ source generation, hot reload, and Blazor that is listed in the app building exercise, but with rc2 bits.

[2021-09-14 18:49] #34488 closed

[2021-09-14 18:49] srpeirce opened #36507 "[Blazor .Net 6 RC1] PreRender: Has ComponentApplicationState been renamed/changed namespace?"
### Describe the bug
After updating from .Net 6 Preview 7 to .Net 6 RC1 (SDK + Nuget packages), `ComponentApplicationState` can no longer be found.

I don't see anything about a breaking change here:
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-rc-1/

This was being pulled in via `using Microsoft.AspNetCore.Components;`
[code]

### Exceptions (if any)
[code]
### Further tech

[2021-09-14 18:54] srpeirce commented on #36507
Introduced in Preview 2: https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-2/#preserve-prerendered-state-in-blazor-apps

[2021-09-14 19:00] chris-rogala commented on #36421
@adityamandaleeka Here is a very basic repo. To create it, I used the Web Application (MVC) template with the Authentication using Azure AD. I have directions in the readme.md file that walks through the scenarios. I hope this helps: https://github.com/chris-rogala/Microsoft.SignalR.Federated

[2021-09-14 19:03] #4102 closed

[2021-09-14 19:05] #36294 closed

[2021-09-14 19:21] raedg2000 opened #36508 "Support Pointer Events in Blazor"
### Is your feature request related to a problem? Please describe.
Blazor Supports Mouse Events and Touch Events. It would be great if Blazor can also support Pointer Events.
"Pointer events are DOM events that are fired for a pointing device. They are designed to create a single DOM event model to handle pointing input devices such as a mouse, pen/stylus or touch (such as one or more fingers)." e

[2021-09-14 19:22] CannyGent commented on #31320
@mikesigs Just to say I never did crack this... I observed different behaviours if you change the listening port. For now in dev I am just back to 5001 and can get reload working on .NET 5. Fingers crossed all this is resolved satisfactorily for Blazor with the new hot reload functionality for .NET 6 / VS2022.

[2021-09-14 19:28] dkonyayev opened #36509 "Kestrel rejects requests with non standard ASCII characters"
This is the same issue as https://github.com/dotnet/aspnetcore/issues/9874, except that our application is on .NET Core 3.1

Our application is on .NET Core 3.1, and Kestrel is still rejecting headers with non-standard ASCII characters. Our corporate Single-Sign On proxy inserts the name of the person into the header, so it's very common that we have names with accents or diacritics in EMEA countr

[2021-09-14 19:33] user72356 commented on #26049
You've been hacked! *Evil laughter*

[2021-09-14 19:51] wtgodbe commented on #36382
For the short term, we should include the asp.net runtime bundle with the hosting bundle.

[2021-09-14 19:53] mareklinka opened #36510 "Impossible to compile a project targeting net6.0-windows when referencing Microsoft.AspNetCore.Mvc.Testing 6.0.0-rc.1.*"
I'm currently in the process of experimentally migrating one of our production apps to the .NET 6 RC 1 to check the upgrade path before the RTM releases. The code is an ASP.NET Core app originally targeting `net5.0-windows` because of some Windows-only dependencies.

After migrating to `net6.0-windows` and updating the nuget references to `6.0.0-rc.1.*`, the solution failed to compile with the fol

[2021-09-14 20:36] #33951 closed

[2021-09-14 20:46] maxkoshevoi opened #36511 "Add `DateOnly` and `TimeOnly` string query parameter support"
### Describe the bug
`DateOnly` and `TimeOnly` should be represented as a string value when passed from a query (similar to `DateTime`'s behavior).

![image](https://user-images.githubusercontent.com/6609929/133324819-33ad075f-c745-4be0-820a-8ffae2adef4e.png)

### To Reproduce
- Create an api action with following parameters `public void Foo([FromQuery] DateOnly date, [FromQuery] TimeOnly time, [F

[2021-09-14 20:48] #35610 closed

[2021-09-14 20:56] TanayParikh commented on #36471
Building a CRUD app integrating with auth, hot reload, aot, and JS interop.

[2021-09-14 20:57] wtgodbe opened #36513 "Build VS redist package for ANCM"
Basically, revive https://github.com/dotnet/aspnetcore/pull/29649.

[2021-09-14 21:08] BrennanConroy commented on #36298
This sounds like adding "cancellation token" support to the Java client, not against it.

[2021-09-14 21:14] CrahunGit commented on #36265
Ok, the error is gone with the official rc1 and vs studio 2022 preview 4.

[2021-09-14 21:15] #36265 closed

[2021-09-14 21:16] BrennanConroy commented on #36487
Triage: We should remove the default endpoint name for now

[2021-09-14 21:17] pranavkm commented on #36507
Thanks @srpeirce for the issue report. The type was renamed to `PersistentComponentState` in rc1.  The PR here lists the renames: https://github.com/dotnet/aspnetcore/pull/35768

@javiercn it might be worthwhile to post an announcement for this.

[2021-09-14 21:19] kerams opened #36514 "High CPU usage with dotnet watch on an F# project"
### Describe the bug
Watching an F# application on RC 1 fully saturates a CPU thread (~8% on an 8/16 core processor).
On Preview 7 the watch overhead is essentially nonexistent, so this seems like a recent regression.

### To Reproduce
Create an F# console application targetting .NET 6, running on the RC 1 runtime.

[code]

Then do `dotnet watch` and observe the CPU usage in task manager.

![Taskm

[2021-09-14 21:21] srpeirce commented on #36507
Thank you @pranavkm

[2021-09-14 21:36] BrennanConroy commented on #36214
Have you looked at the model state and seen if it is valid or has any errors?
Are there any errors in the logs?

[2021-09-14 21:46] vijayrkn commented on #34418
@muzzar78 - Can you please confirm if you are still running into this issue with today's release of.NET 6.0 rc1 bits?

[2021-09-14 21:49] HaoK commented on #25163
So the behavior I see when I tried this today on my laptop: Win10 21H1 Build 19043.1165

I see the first IIS attempt gives an error, but a second iisreset will work:

C:\TestSite\logs> iisreset

Attempting stop...
Restart attempt failed.
Access denied, you must be an administrator of the remote computer to use this
command. Either have your account added to the administrator local group of
the rem

[2021-09-14 21:55] srpeirce commented on #36507
It looks like the API has changed slightly.

Am I right that the expected usage is that I am responsible to dispose the subscription that is returned from `RegisterOnPersisting` ?

e.g. something like this

[code]

[2021-09-14 21:59] rafikiassumaniMSFT commented on #34795
Triage: We will re-evaluate this issue during .NET7 planning.

[2021-09-14 22:06] ericstj opened #36519 "ARM64 support in AspNetCoreModuleV2"
### Describe the bug

In reviewing code in dotnet that tries to locate dotnet.exe I came across https://github.com/dotnet/aspnetcore/blob/de277154511effa33f946a34ccc77deb074ce1c2/src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.cpp#L273-L306

This doesn't seem like it will work well on ARM64.

1. It assumes all WOW processes are on an x64 machine.  If it needs to know the architecture

[2021-09-14 22:19] Tratcher commented on #25163
That's problematic, but it's at least a workaround.

We still want to figure out why we get the first error. This sounds a lot like the issue we have in unit tests where the server won't shutdown.

[2021-09-14 22:24] BrennanConroy commented on #36421
You aren't passing an access token through the HubConnection in your sample, also you need to be aware that the token might be in the query string instead of the header, check out the doc about jwt tokens https://docs.microsoft.com/aspnet/core/signalr/authn-and-authz?view=aspnetcore-5.0#bearer-token-authentication

[2021-09-14 22:30] HaoK commented on #25163
Yeah it does, I should see if a double iisreset helps with our unit tests too

[2021-09-14 22:34] maxkoshevoi opened #36520 "Add `DateOnly` and `TimeOnly` string body parameter support"
### Describe the bug
When using `DateOnly` or `TimeOnly` as parts of request body, ASP.NET expects `string` to be passed, but throws

[code]

when it is. Passing `DateTime` as string (eg. `"2021-09-14T21:10:54.798Z"`) works just fine, so how is `DateOnly` and `TimeOnly` less secure?

### To Reproduce

- Create action with `DateOnly` or `TimeOnly` parameter, or add `DateOnly` or `TimeOnly` property

[2021-09-14 22:36] chris-rogala commented on #36421
@BrennanConroy That is correct. Based on this [documentation](https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-3.1), the cookie should be passed to the hub:

I added the access token to see if it would be passed to the component. I realize that the access token was issued with the audience of the web API and should not work. I would have to move the Hub to the W

[2021-09-14 22:43] crackalak commented on #36454
@SteveSandersonMS I'm having trouble getting the nuget package to work, took a look inside and there isn't a `staticwebassets` directory containing the `BlazorCustomElements.js` file

![image](https://user-images.githubusercontent.com/4701936/133343175-98978ea9-7596-4453-86ee-ad413269c26e.png)

[2021-09-14 22:44] BrennanConroy commented on #36421
You aren't using a browser-based app though. Because you are using server-side blazor your components code runs **on the server** which means the HubConnection you create isn't in the browser thus doesn't automatically flow the cookie.

I found a nice blog post that shows steps to use cookie auth with server-side blazor https://blazorhelpwebsite.com/ViewBlogPost/36. It uses HttpClient, but you sho

[2021-09-14 22:49] #35767 closed

[2021-09-14 22:52] Tratcher commented on #36509
Kestrel accepts UTF-8 headers by default. This example is probably ANSII, not ASCII. A network trace would help confirm the actual bytes used.

3.1 was patched with a new config option `Latin1RequestHeaders` to allow ANSII header values. https://github.com/dotnet/aspnetcore/issues/17399

In 5.0 this was replaces with an API for selecting the header encoding: https://github.com/dotnet/aspnetcore/pu

[2021-09-14 22:59] chris-rogala commented on #36421
@BrennanConroy Are you saying that the SignalR package is not compatible with Blazor?

[2021-09-14 23:02] BrennanConroy commented on #36421
I did not say that, I said that your assumption that cookies flow automatically isn't accurate because it's a server-side app.

[2021-09-14 23:29] TanayParikh opened #36521 "`dotnet run -p:Configuration=Release` looks for assets in `bin/Debug`"
Repro:

1. `dotnet new blazorwasm`
2. `dotnet run -p:Configuration=Release`

Opening the page, you get a 404 for `blazor.webassembly.js`

Now, do `dotnet run`. It works. Now do `dotnet run -p:Configuration=Release` again, it works.

Now delete `bin/Debug`, and do `dotnet run -p:Configuration=Release` a third time. It doesn't work.

Conclusion, `dotnet run -p:Configuration=Release` is using `bin/De

[2021-09-14 23:57] chris-rogala commented on #36421
@BrennanConroy I am a bit confused on the recommended pattern for SignalR with respect to Blazor. In my example, I have a simple server-side application, which is still extremely common in the industry. In all previous iterations of .NET applications, the server-side application managed the identity through cookies. In this application, the identity is also managed through a cookie. See the screen

[2021-09-15 00:13] chris-rogala commented on #36421
@BrennanConroy I pushed out some changes to the components so you can verify the authentication state in the component before the connection is attempted. Line 20:

[code]

In the component, it results in the state having the user.

![image](https://user-images.githubusercontent.com/44238629/133350164-790debc9-da21-444b-8d4a-a02778585dde.png)

[2021-09-15 00:19] BrennanConroy commented on #36412
Should it always be string or should we show string for `object` types and `int` etc. for non-object types?

This is by design, you're using a query string in your lambda and then claiming there is also a body by using `Accepts`.

[2021-09-15 00:21] pranavkm commented on #36514
Are you able to take a dump of the process? I don't see this issue if I run your app locally: https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-dump#dotnet-dump-collect

[2021-09-15 00:27] blowdart commented on #36509
Be aware that in turning on such options, depending on your code, you may end up with unexpected problems because you're using unexpected encodings.

[2021-09-15 01:18] BrennanConroy opened #36523 "Throw for invalid TryParse and BindAsync methods"
If your `TryParse` method has a nullable out parameter and is a struct it fails to find the TryParse method and will throw:
`System.InvalidOperationException : No public static bool MyBindAsyncRecord.TryParse(string, out MyBindAsyncRecord) method found for myBindAsyncRecord.`

[code]

This is because the method parameter type is ```Nullable`1[[MyBindAsyncRecord]]&``` and we pass `MyBindAsyncRecord

[2021-09-15 01:32] dpr-dev opened #36524 "role based routing support"
Hi there. What do you think about role-based routing in the asp net core ? I am working on the task management platform where users with the different roles have  different entity modification logic. Currently, I resolve this cases with the mediator. I check a user role in the controller and select handler that I need to run. For example
[code]

What do you think about this approach ?
[code]

Good

[2021-09-15 01:33] allisonchou commented on #27667
This doesn't repro for me and is likely fixed with the new editor. Closing out for now.

[2021-09-15 01:33] #27667 closed

[2021-09-15 01:34] captainsafia opened #36525 "Route constraints don't produce appropriate information in OpenAPI schema"
Routes in ASP.NET Core apps support the following set of constraints on route parameters:

- Type constraints
- Range and length constraints
- Regular expression constraints
- Requiredness constraints

All of these constraints map to options that can be set in the OpenAPI schema for a particular parameter. For example, the following route template `/foo/{bar:int:min(3)}` should produce the followi

[2021-09-15 02:44] Hawxy commented on #35967
@pranavkm this still appears to be a problem in RC1:
![image](https://user-images.githubusercontent.com/975824/133361794-ba4648be-fe24-46bd-9bfb-977783d82123.png)
I've updated the repoduction.

[2021-09-15 03:47] HarelM commented on #36274
Please do not close this issue. I will provide the data within the next few days...

[2021-09-15 04:07] chrdlx opened #36528 ".Net Core 6 RC1 Blazor HotReload stops working after specific HTML update"
Repro steps:

1) Install VS2022 Preview 4 (Version 17.0.0 Preview 4.0 [31626.483.main]) /  .NET CORE 6.0.100-rc.1.21458.32
2) Create a new Blazor Server app
3) Run the app
4) In the launched browser go to the Counter page.
5) Press the counter button and see the number updating as expected.
6) Modify the `<h1>` content in the counter component to (for example): `<h1>Test</h1>`
7) Click Apply Code

[2021-09-15 04:32] davidfowl commented on #36524
I'm not sure something like this should be built-in but could be built on matcher policies (see IMatcherPolicy). It seems a little specialized IMHO.

[2021-09-15 04:55] jose8789 commented on #35466
I have found the same issue if I set up my Visual Studio 2022 preview 4 to run "Multiple Startup Projects", one Gpc Service and Wpf Client.
Obs: The workaround given by @adityamandaleeka works

[2021-09-15 04:59] Stamo-Gochev commented on #36453
@pranavkm THe issue is no longer reproducible with `6.0.100-rc.1.21458.32`.

[2021-09-15 04:59] #36453 closed

[2021-09-15 06:11] CashPJ commented on #36371
Sure.. here it is
[code]

[2021-09-15 06:44] kerams commented on #36514
@pranavkm https://drive.google.com/file/d/1l8XupuK2JDdYOB0BazmsSJr_ydUln0Wv/view?usp=sharing

[2021-09-15 06:57] damienbod opened #36529 "Blazor script security problems RC1"
I updated a Blazor app to the latest RC1 version and now my build has security warnings due to the generated JavaScript used by Blazor. The **dotnet.6.0.0-rc.1.21451.13.js** warning is:  **Use of externally-controlled format string**

![image](https://user-images.githubusercontent.com/3442158/133384411-0ba88052-f576-45ca-9809-6f0b55b45ba9.png)

It is also not possible to create a good CSP due to t

[2021-09-15 07:05] pr-benchmarks[bot] opened #36530 "Perf regression: connectionclose"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| connectionclose  | Plaintext Connection Close aspnet-citrine-win | 09/12/2021 20:07:21 | 13,366 | 12,884 | -11.87 % (-1,586)  :thumbsdown:  | -2.71 σ | 586.33 | <details>    <summary>Changes</summary>

[2021-09-15 07:05] #36445 closed

[2021-09-15 07:05] pr-benchmarks[bot] opened #36531 "Startup regression: connectionclosehttps"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| connectionclosehttps [Fixed] | Plaintext Connection Close Https aspnet-citrine-win | 09/12/2021 20:08:12 | 351 | 378 | 6.00 % (24)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</t

[2021-09-15 07:15] cosminstirbu opened #36532 "Release notes for packages such as Microsoft.Extensions.Logging.AzureAppServices"
Hello,

We've noticed that [Microsoft.Extensions.Logging.AzureAppServices](https://www.nuget.org/packages/Microsoft.Extensions.Logging.AzureAppServices) was recently updated to version 5.0.10.

It's not clear however where we can find the release notes to see what changed from 5.0.9 to 5.0.10.

What is the overall process for documenting release notes and where we can find the release notes?

Than

[2021-09-15 07:25] CrahunGit opened #36533 "Hot reload error on rc1 on VS or dotnet watch"
### Describe the bug
The hot reload feature is not working as expected on RC1.

- If I try on VS2022 it says:

![imagen](https://user-images.githubusercontent.com/12015993/133387897-3f26e3c3-2a08-4560-9f57-c464e0325f79.png)

If I press edit I can see an exception but it applies the change without restarting the app.

- And if I try on dotnet watch it says:

watch : Unable to handle changes using h

[2021-09-15 09:29] Webreaper opened #36535 "Blazor Server - Cannot find the fallback endpoint specified by route values: { page: /_Host, area: } exception with RC1"
### Describe the bug

I have a Blazor Server app ([here](http://github.com/webreaper/damselfly)) which has been running fine with all of the .Net 6 previews. It's currently deployed on Preview-7 and working without issue.

Last night I upgraded to .Net 6 RC1, and am now see this exception at startup:

[code]
I have made no code changes.

Reverting to Preview-7 by removing the RC1 SDK (per the [ins

[2021-09-15 09:34] SteveSandersonMS commented on #36529
@damienbod This definitely sounds like something we'd want to look into. There's a strong chance this is a false positive, but I don't know how the code scanning works, or what exactly it's being triggered by, so I can't know for sure.

Can you give us some suggestions on how to repro this? Is your pipeline public somewhere, or could you let us know what's needed to get the same issue on a repo an

[2021-09-15 09:36] javiercn commented on #36535
@Webreaper thanks for contacting us.

We've identified that the underlying issue for this is a bug in the razor source generator that prevents the views from being compiled into the assembly

You can try use
[code]

[2021-09-15 09:41] martincostello commented on #36412
Good point, that makes more sense.

Maybe I've misunderstood - because it's an object on a POST action, I thought it would automatically bind it to the body by default if it was an object?

[2021-09-15 09:42] damienbod commented on #36529
Hi @SteveSandersonMS thanks for answering.

This repo, I can add you as an admin if you want. The PR fails with the RC1 update.

https://github.com/damienbod/AspNetCore6Experiments

I use CodeQL here:

https://github.com/damienbod/AspNetCore6Experiments/blob/main/.github/workflows/codeql-analysis.yml

Greetings Damien

[2021-09-15 09:54] Webreaper commented on #36535
Thanks for the quick turnaround @javiercn. Confirmed that adding that flag fixes the problem.

Will re-test without it when RC2 comes out! :)

[2021-09-15 09:55] Ponant commented on #35073
@DamianEdwards , why  Use block-scoped namespace declarations? I thought the idea is to use file-scoped namespace and Rc1 currently uses block-scoped namespaces (that was not the case in preview 7).

[2021-09-15 10:07] javiercn commented on #36535
/cc: @pranavkm FYI

[2021-09-15 10:16] marwalsch opened #36536 "Avoid invocation of subsequent AuthorizationHandlers for a single Requirement"
Consider the following `Requirement` with two resource-based handlers:

[code]
There a different ways in which a permission can be assigned to a user, but one suffices to pass the `Requirement`.

However, i noticed that regardless of whether each or any of the handlers succeed, the `HandleRequirementAsync()` method is always invoked for each handler. I wonder why this is the case. The handlers act

[2021-09-15 10:28] abdusco commented on #36536
The reason all handlers are called is that one handler can explicitly **fail** a requirement, even if some other handler has already marked it as **succeeded**. That's why all handlers must be executed to figure out if the requirement is actually fulfilled.

From [the docs](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-5.0#what-should-a-handler-return

[2021-09-15 10:50] marwalsch commented on #36536
@abdusco You are right, I didn't keep `context.Fail ` in mind as I never came across a scenario where it was reasonable to let a requirement fail explicitly; This also appears to contradict the idea of disjunctively connecting handlers in the way shown above; If you have to invoke every handler anyway, why fail explicitly if the handlers should just not succeed anyway; every policy that can explic

[2021-09-15 11:04] SteveSandersonMS commented on #36529
@damienbod I investigated and wrote up a report at https://github.com/dotnet/runtime/issues/59147

In summary, I do not see how this could be a real issue, but I appreciate that it's inconvenient that you see the report from codeql. Codeql's JavaScript analysis may not be aware that some JS code runs on the server, and some on the client, and the security characteristics of the two are very differ

[2021-09-15 11:04] #36529 closed

[2021-09-15 11:05] damienbod commented on #36529
@SteveSandersonMS thanks

[2021-09-15 11:11] lafriks opened #36537 "X-Forwarded-For header parsing error and invalid fallback to reverse proxy IP"
If `ForwardedHeadersMiddleware` fails to parse `X-Forwarded-For` header even outside of option `ForwardLimit` specified limit it logs debug log record with error `Unparsable IP: "2.2.2.2, 1.1.1.1` and falls back to last reverse proxy IP address.

Expected behavior would be to only trust parts of `X-Forwarded-For` header within `ForwardLimit`.

Sample values that fails to parse with `ForwardLimit`

[2021-09-15 11:30] ThomasKuijper opened #36538 "app.UseWebAssemblyDebugging() returns Method not found after update from 6.0 preview 7 to 6.0 RC 1"
After updating my code to the just released RC 1 (dotnet-sdk-6.0.100-rc.1.21458.32-win-x64)
My startup.cs failes on the following line:

`
if (env.IsDevelopment())
{
    app.UseDeveloperExceptionPage();
    app.UseWebAssemblyDebugging();
}
`

Exception details:

`System.MissingMethodException
  HResult=0x80131513
  Message=Method not found: 'Microsoft.AspNetCore.Builder.IApplicationBuilder Microso

[2021-09-15 11:44] Stamo-Gochev commented on #35550
@pranavkm The issue is still reproducible with the latest .NET RC1. Can you provide a workaround?