[2019-09-24 23:20] dougbu commented on #12702
1. Only list packages
2. But, include some analogue of a shared framework project, perhaps [Microsoft.AspNetCore.App.Runtime.win-x64](https://www.nuget.org/packages/Microsoft.AspNetCore.App.Runtime.win-x64/)
  - not sure we have any Linux or macOS-specific product packages but if we do have such, include the corresponding shared framework packages
3. It's intended that Blazor versions are not stab

[2019-09-24 23:23] pranavkm commented on #10526
@mrpmorris I'm not sure how that works. Would each of these fields be the models passed in to data annotations? That would mean validation attributes decorated on properties wouldn't be discovered. In addition, the `EditForm` has already established the model to operate on. It would be surprising if validation did not apply to all the properties on the model the user declared was being edited.

[2019-09-24 23:25] Bio2hazard commented on #14117
Hi @anurse ,

I do not know if the memory leak is specifically in ASP.NET Core, or stems from corefx or coreclr. I filed the ticket here because the memory growth was observed specifically with the `mcr.microsoft.com/dotnet/core/aspnet:2.2.7-alpine3.9` docker image.

Getting a memory dump will be a bit challenging, since our environments mirror our production environment, and as such do not have a

[2019-09-24 23:26] davidfowl commented on #14363
No it's actually quite strange to serialize the `HttpResponseMessage` over the websocket channel. If you want to do HTTP then you should use an HTTP pipeline.

[2019-09-24 23:26] javiercn commented on #14359
@taori My bad, I thought you meant that you fixed the issue with my suggestion. I’ll leave this open so that we can investigate.

[2019-09-24 23:33] taori commented on #14359
It's fine that one ticket was closed since they sort of duplicate each other. Unfortunately the other ticket was closed because this one was closed. :smile: You can sort out which one may be closed, i suggested the other one should be closed because the title was inaccurate - viewcompilation does work, better than before, but for some odd reason editing files in a plugin scenario breaks the applic

[2019-09-24 23:38] dotnetshadow commented on #14368
@HaoK cheers thanks for the explanation.
I guess I need to clean out my duplicates, or if I want to prevent further duplicate emails from being created I would have to manually handle this.

[2019-09-24 23:39] hristijankiko commented on #14350
I have tried cleaning the certificates manually and using the dotnet command line tools then generating new ones but both did not seem to have an effect.

This is my certificate details obtained using export from "Manage User Certificates" > Personal using certutil -v -dump

[code]

And this is the one from "Trusted Root Certification Authorities"
[code]

[2019-09-24 23:40] NTaylorMullen commented on #10834
You did a great job providing specific details in the original post. Only thing that would have helped would be a small repro project for us to try out.

[2019-09-24 23:46] NTaylorMullen commented on #14378
I forked @Muchiachio's repo and pushed a `notworking` branch: https://github.com/NTaylorMullen/Taggy

[2019-09-24 23:48] taori commented on #14356
@pranavkm @javiercn suggested this might be related to missing reference info so i figured i'd look into your repos for alternate ways to add the application parts in a way that works - i found one which has a similar approach to what i am trying in my repro guide. I managed to reproduce the same issue with your application ported to 3.0

Just thought i'd share that it doesnt seem to be related to

[2019-09-25 00:23] evaleirasclapps commented on #11631
Same problem here!

[2019-09-25 01:39] pranavkm commented on #14377
@azizkazdal you're likely running into this breaking change - https://github.com/aspnet/Announcements/issues/351.

[2019-09-25 01:42] #14194 closed

[2019-09-25 01:45] pranavkm commented on #14190
@comburo looking at your code, my guess is that it's still using MVC"s default configured `XmlSerializer` which does not allow DTD Try removing this call and passing in the Stream to the reader that your code instantiates:

[code]

[2019-09-25 01:56] borland opened #14403 "Custom AuthenticationHandler is not working after upgrade from aspnetcore2.2 to 3.0"
Cross-post from https://stackoverflow.com/questions/58089827/aspnetcore-authentication-broken-on-upgrade-to-3-0. @blowdart on twitter suggested I file a bug

I have the following code, which worked fine under Asp.NET Core 2.2 (edited to remove product-specific naming)

    public class Type1AuthenticationOptions : AuthenticationSchemeOptions {
       public string Secret { get; set; }
    }

    p

[2019-09-25 01:57] blowdart commented on #14403
@Tratcher @hoak can you take a look please?

[2019-09-25 02:07] khteh commented on #14229
Thanks for your explanation. I will just use RemoteIpAddress as the *browser client*'s IP address and `X-Original-For` as the immediate hop's IP address.

I have updated my application to capture all `X-<foo>` headers in my logger's properties and this is what I get:
![Screenshot from 2019-09-25 09-54-41](https://user-images.githubusercontent.com/3871483/65562963-ad6b3800-df7a-11e9-9991-4f62e0248c

[2019-09-25 02:07] #14229 closed

[2019-09-25 02:27] DAllanCarr commented on #14403
Maybe check the migration guide. This could be the ordering issue.

[2019-09-25 02:46] taori commented on #14359
@javiercn is there a guide to add your own sample to the sources of release/3.0 so i can debug this myself? I'm getting duplicate references warning and i am guessing you have some sort of cheat sheet to debug samples using the mvc sources?

[2019-09-25 02:52] borland commented on #14403
After taking another more detailed look at the migration guide, I noticed this:

The trick (which is not mentioned in the migration guide) appears to be that UseAuthentication/UseAuthorization needs to be AFTER UseRouting but BEFORE UseEndpoints.

This works now:

    app.UseRouting();

    app.UseAuthentication();
    app.UseAuthorization();

    app.UseEndpoints(endpoints => {
       endpoints.M

[2019-09-25 02:58] fpanaccia commented on #14374
Hi, i have a library that transforms views to pdf, with the views in the fileprovider i have the same exception "Cannot find reference assembly 'Microsoft.AspNetCore.Antiforgery.dll'", when using the "Physical" views i dont have the issue. I have tried some debugging, but the farthest i can go with out breaking was here
`namespace Microsoft.AspNetCore.Mvc.Razor.Compilation`
`internal class Default

[2019-09-25 03:29] rynowak commented on #13943
Let's get more visibility on this before doing something. I'm not sure we what point we willfully start removing/not-testing things.

[2019-09-25 03:32] taori commented on #14356
@pranavkm Correct me if i am wrong, but what i figured from reading sources and the stacktrace is:

- We pass additional ressources to the RazorReferenceManager using the options parameter, code wise this looks like it should be working. this happens [here](https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Razor.RuntimeCompilation/src/RazorReferenceManager.cs#L69)

- The problem is what

[2019-09-25 03:33] mjnorman commented on #14333
Ok it is definitely dotnet core, netcoreapp2.2, and in csproj not project.json format.  What else can I look for in the project that might trigger this behavior?

[2019-09-25 03:52] eliaslopezgt commented on #13046
Maybe this section from the issue I created helps.

### Expected behavior
This behavior is acceptable as long as there's only one `JWTBearerHandler`.
Having multiple `JWTBearerHandlers` results in unwanted traffic to the configuration endpoints.
This can be currently mitigated by:

1. Setting the `RefreshInterval` to something different than its default (30 seconds)
2. Setting `RefreshOnIssuerKeyN

[2019-09-25 03:56] taori commented on #14356
Ok - So now i have a solution where razor recompile works while debugging for assemblies loaded through AssemblyLoadContext. See https://github.com/taori/Sandbox/tree/netcore3-razorFixedRecompilePOC

Fortunately because ICompilationReferencesProvider is checked first i was able to forward the reference resolution attempt to my custom application parts instead of letting the CompilationLibrary cras

[2019-09-25 04:24] ericgrantholland commented on #14236
I have built a sample client-side blazor project showing the bug and my work-around solution for extracting query parameters.

My solution to query parameters was to disect the url which can be made available by injecting NavigationManager into the page.
If you want to see the example, see the "hiddenpagewithqueryparams" page.

Ok, now to see the error. Run the project and enter the following url:

[2019-09-25 04:40] rynowak commented on #14398
This seems like what I'd expect 👍

Though this question has much more to do with hosting/di than anything. @Tratcher - do we have docs for this?

[2019-09-25 04:45] dehghani-mehdi commented on #14259
@mkArtakMSFT First of all, why you closed the issue? be professional please, this is a Microsoft repository.

I just used standard (if you may) packages, system.* and microsoft.*, so knowing which package use Json.Net how helps to resolve this issue?

p.s: If you don't open the issue, I'll open another one.

[2019-09-25 04:46] Muchiachio commented on #14378
Sorry, didn't notice that github client didn't push master branch (it's one commit back), should be fixed now.

[2019-09-25 04:49] Michael-Pro opened #14405 "System.InvalidOperationException: The Router component requires a value for the parameter Found."
Create the demo code from Visual Studio 2019 16.3 for Blazor using default template,  and run directly by F5, and then only shows **Loading** text in the page but I saw the error log as below after F12 from browser **(Chrome v77.0)**:
[code]

.NET Core 3.0 installed, Blazor package is preview9

[2019-09-25 04:53] rynowak commented on #14378
@NTaylorMullen  - would check if the SDK/RAR is unifying assemblies properly - ie, are there two versions of `Microsoft.AspNetCore.Razor.Runtime` that are being passed to the compiler.

[2019-09-25 05:17] Looooooka commented on #14388
Like I said all my packages have been updated l.
Creating the class in the dotnetcore app WORKS.

The problem is my providers were coded inside a library project. Those have references to identity's nuget packages which had the signinmanager implementation. Those are still 2.x.x
Is there some other package that replaces them so I can still have my manager implementation in a separate library proje

[2019-09-25 05:32] davidfowl commented on #14390
Looks like corefx. I can reproduce the issue. cc @noahfalk

[2019-09-25 05:35] davidfowl commented on #14390
I can also reproduce the issue with dotnet trace:

[code]

It's not a linux specific issue

[2019-09-25 05:36] ZhiqiangTao commented on #14364
@javiercn
I found a phenomenon that had been bothering me for a long time, I'm not sure if it is by design

step1: create a new asp.net core mvc 2.1 project
step2: create class as below
`
using Microsoft.AspNetCore.Mvc.ApplicationModels;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading;
using System.Threading.Tasks;
using Exceptionless;
using Exceptionless.

[2019-09-25 05:37] Tratcher commented on #14398
Docs for what, generic host?
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-3.0

[2019-09-25 05:39] davidfowl commented on #14393
What @poke says is correct. You have 2 options:
- Target the lowest version that works in all cases (2.1) OR
- Multi target

.NET Standard doesn't solve anything here and is unrelated to this specific issue. Library authors will always need to make this choice and this isn't a new problem nor is it unique to .NET.

[2019-09-25 05:42] #14403 closed

[2019-09-25 05:47] taori commented on #14356
@pranavkm Sorry if uncalled for PR's are considered rude here. Just wanted to see if it would build. I don't mind if this PR is declined. As mentioned in the PR there are some obvious flaws with it atm + you guys probably prefer to handle delicate parts of the code yourself.

[2019-09-25 06:13] azizkazdal commented on #14377
@pranavkm thank you. you saved me :)

[2019-09-25 06:30] davidfowl commented on #14377
[code]

This should be:

[code]

[2019-09-25 06:30] leastprivilege commented on #14388
use

`<FrameworkReference>Microsoft.AspNetCore.App</FrameworkReference>`

[2019-09-25 06:44] mrpmorris commented on #10526
Sorry, can you elaborate? I'm not quite sure I am following what your concerns are.

[2019-09-25 06:48] azizkazdal commented on #14377
[code]

[code]

this works. no need to change app.UseRouting() order. I am using both endpoints.MapControllers() and  endpoints.MapControllerRoute() because in some controller dont use attribute routing. just added **opt.SuppressAsyncSuffixInActionNames = false;**

https://github.com/aspnet/Announcements/issues/351

[2019-09-25 06:50] Looooooka commented on #14388
That only works when the project type is an aspnetcoreapp and even that is nownobsolete since it's apparently referenced implicitly.

This is a net standard library with a custom implementation of that class which again...only available in 2.2.0 and incompatible with the one that's available if the class is implemented directly in a dotnetcoreapp project where it is clearly referencing a 3.0.0 ver

[2019-09-25 06:52] davidfowl commented on #14377
If you want auth to work then you need to move that between UseRouting and UseEndpoints

[2019-09-25 06:53] azizkazdal commented on #14377
@davidfowl thanks :) did it.

[2019-09-25 06:56] Looooooka commented on #14388
Unless I'm missing something I am unable to create a net standard library, implement a class which inherits SignInManager and then reference the library insode a net core 3.0.0 app and use that class ibsode the project.
The only way it works is if I create the class directly inside the dotnetcore app.
So if anyone has any idea what and how to reference inside the net standard library project to ge

[2019-09-25 07:09] namelhp2000 opened #14407 "System.IO.InvalidDataException:“Form key length limit 2147483647 or value length limit 2147483647 exceeded.”"
--- Add the service below
  services.Configure<FormOptions>(option =>
            {
                option.ValueCountLimit = int.MaxValue;
                option.ValueLengthLimit = int.MaxValue;
                option.KeyLengthLimit = int.MaxValue;
                option.MultipartBodyLengthLimit = int.MaxValue;
                option.MultipartBoundaryLengthLimit = int.MaxValue;
            });

[2019-09-25 07:28] zefir01 commented on #14011
I turned on debugging as you recommended. now I get the error:
[code]

[2019-09-25 07:30] #14377 closed

[2019-09-25 07:53] knoxi commented on #14252
@Tratcher
good hint, we are using the newest preview of the `OpenIddict` library. It seems that this library uses a preview version of `Microsoft.IdentityModel.JsonWebTokens`.

Here is the dependency list of the asp.net core application:

[code]

[2019-09-25 08:10] achobanov commented on #10834
Alright. If you can't reproduce using editor template, I don't think I can me of more help. Thanks, keep up the good work ;)

[2019-09-25 08:15] noahfalk commented on #14390
@josalem - can you take a look at this?

@mjrousos - could you check if you have any other COMPLUS_ environment variables set? It is surprising that DiagnosticSourceEventSource would activate if COMPLUS_EventSourceFilter wasn't also set. However regardless of what is going on @josalem can help you get to the bottom of it.

[2019-09-25 08:50] aspnet-hello opened #14408 "Scenarios are not running: LinkAThonTrimmedAndR2R"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| LinkAThonTrimmedAndR2R | Linux, Physical, http, KestrelSockets | 9/24/19 8:08:39 AM +00:00 |

[Logs](https://aka.ms/aspnet/benchmarks/jenkins)

[2019-09-25 09:10] gfoidl commented on #14139
@anure I'm going to do this.

[2019-09-25 09:31] KameshRajandran commented on #5545
@danieldegtyarev  Could you please let me know about this issue's estimated arrival time?

[2019-09-25 09:54] javiercn commented on #14011
@zefir01 From the error it seems like you are invoking the change event before blazor is fully initialized.

Instead of attaching the event handler inline, define a function you can call through JS interop in (OnAfterRender(firstRender)) and call that function to programatically attach the event handler there. That should solve your problem.

[2019-09-25 09:57] ZhiqiangTao commented on #14364
![image](https://user-images.githubusercontent.com/16182251/65590763-e5479f00-dfbd-11e9-8c91-00e181989987.png)

[2019-09-25 09:59] ZhiqiangTao commented on #14364
my debug trace：
![image](https://user-images.githubusercontent.com/16182251/65590939-35befc80-dfbe-11e9-8ac3-60e5ae8d794f.png)

[2019-09-25 10:12] javiercn commented on #14359
@taori Not really. If you want to debug against the sources, I think it's better if you disable "just my code" and enable sourcelink. That's what we do even on the team when we debug repros.

[2019-09-25 10:17] PinpointTownes commented on #14252
That's exact. That said, I'm surprised because:

  - We've been told that the new JWT stack - built around `JsonWebTokenHandler` - would now live in `Microsoft.IdentityModel.JsonWebTokens` to avoid breaking changes in the older `System.IdentityModel.Tokens.Jwt` library. It kinda defeats the whole purpose of having a new package if referencing the two packages in the same project breaks things 😕

[2019-09-25 10:17] nphmuller opened #14410 "Microsoft.Extensions.ApiDescription.Server doesn't use the proper environment which causes the build to fail."
Most if this is a guess by inspecting the source code, since `ApiDescription.Server` doesn't seem to be documented anywhere formally (or I cannot find the documentation).

I guess my main question is: What is the recommended way to get `Microsoft.Extensions.ApiDescription.Server` to work? Especially in combinations with projects like `Swashbuckle`.

When adding `Microsoft.Extensions.ApiDescription

[2019-09-25 10:21] dotnetshadow opened #14411 "Question - RuntimeCompilation producing so localised folders"
### Describe the bug
When adding the following nuget package `Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation` there are so many folders in the bin folder

### To Reproduce
Steps to reproduce the behavior:
1. Create a new asp.net core 3.0 app
2. Add nuget package **Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation**
3. `dotnet run`
4. Look at bin directory having localised folders

### Expected

[2019-09-25 10:46] Timovzl commented on #14213
@Tratcher That is good to know. Thank you. Is this planned for a particular version yet, such as 5.0?

[2019-09-25 10:46] #14213 closed

[2019-09-25 10:59] pavinan commented on #14383
So now I can't add a netcoreapp3.0 library to Xamarin and I can't host website in mobile app. Or is there any alternative?

[2019-09-25 11:04] jkotalik commented on #14139
In @gfoidl we trust.

[2019-09-25 11:36] MeSurajYadav commented on #8931
Does this mean - "It's planned to keep same .razor extension.. but, it needs a different extension than .razor, even if its not planned" ?

[2019-09-25 12:14] javiercn commented on #14374
@geotinc Seems like your project is not correctly setup.

Id recommend you follow the guidance from https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.0&tabs=visual-studio

Is there any specific reason why you are trying to embed the pages in the assembly directly?

[2019-09-25 12:22] Daddoon commented on #9436
Hi @danroth27,

Starting with the last stable Visual Studio 2019 release (16.3.29318.209):

**Flat test:**

- The page "Show" on IE11 but does not work. Actually, i think this is the server-side pre-rendering showing.
- Clicking on other menu elements does still redirect to the correct page, but it seem to reload the page when doing it.
- "Fetch data" sample view work
- Clicking on "Click me" in "

[2019-09-25 12:28] larsbj opened #14413 "Safari 13.0 and Blazor incompatibility"
### Describe the bug

Using Safari Version 13.0 (14608.1.49) on Mac OS X 10.14.6 I'm unable to get any Blazor demo working.

### To Reproduce

Go to (random example) https://blazorwithidentity.azurewebsites.net
The page is stuck at "Loading..."

The Javascript Console shows:

Unhandled Promise Rejection: TypeError: 'arguments', 'callee', and 'caller' cannot be accessed in this context. https://bla

[2019-09-25 12:29] dmc91 commented on #14184
Hi,

I've created a minimal repro at https://github.com/dmc91/DotNetRazorPagesSignoutIssue

I have removed the details of our Azure domain etc which will need to be replaced for the application to work.

After adding these details, the application should prompt for a login then display a blank index page. Top right on the header is a dropdown with a sign out option, the problem occurs after signin

[2019-09-25 12:36] Tratcher commented on #14213
5.0 is the soonest it could happen, but we haven't made firm plans.

[2019-09-25 12:42] Tratcher commented on #14252
@brentschmaltz ?

[2019-09-25 12:45] blowdart commented on #14403
@Rick-Anderson can you update the migration guide?

[2019-09-25 12:57] javiercn commented on #14184
@dmc91 Thanks for the repro project.

The Azure AD UI uses the layout from the app, and that layout uses the _SideBar partial. The PageViewLocationFormats defines how to find views for pages without areas, given that the Azure AD UI is within an area, you need to add it to AreaPageViewLocationFormats.

Based on your repro I changed the code to and used my own tenant and that fixed the logout issue

[2019-09-25 12:57] #14184 closed

[2019-09-25 12:59] javiercn commented on #14413
I believe this is a known issue in safari with the current version of mono we are using. @SteveSandersonMS can confirm.

[2019-09-25 13:00] javiercn commented on #14411
@dotnetshadow Thanks for contacting us.

@pranavkm thoughts?

[2019-09-25 13:00] Grandizer commented on #12890
I am totally fine by removing chaff that individual packages already do or now do.  What I am reading is there is no HMR ability now?

I am upgrading my 2.2 site to 3.0 and using Razor/MVC + Vue and love the HMR.  Saves a ton of time.  If I am understanding it incorrectly, meaning you still CAN do HMR, then I would like is an example that shows:

Asp.Net Core 2.2:
[code]
Asp.Net Core 3.x:
[code]
T

[2019-09-25 13:06] javiercn commented on #14374
@geotinc Our recommendation is that you use Razor Class Libraries instead of plain class libraries for razor, as they provide more features and a better experience.

If there's an scenario that you can't achieve with Razor Class Libraries feel free to open a new issue describing the requirement.

I'm closing this issue as there's nothing else for us to do here.

[2019-09-25 13:06] #14374 closed

[2019-09-25 13:18] mjrousos commented on #14390
@davidfowl is right that this repros on Windows, too, using `dotnet trace`. Interestingly, I didn't spot that at first because setting COMPlus_EnableEventLog alone *doesn't* trigger this issue on Windows. I double-checked on Linux, though, and that's the only COMPlus_ variable set and I still see this, even without `dotnet trace` running:

[code]

[2019-09-25 13:19] fpanaccia commented on #14374
@javiercn how would you solve my problem? https://github.com/aspnet/AspNetCore/issues/14374#issuecomment-534829990

I don't have any views in the library, but i need to process them dynamically

[2019-09-25 13:20] smjltd opened #14414 "Why Blazor WebAssembly still in preview"
### Is your feature request related to a problem? Please describe.
I have a project to ship in production! 😜

[2019-09-25 13:35] Daddoon commented on #9436
@chrdlx I fixed the issue you mentionned. It should work right with root and not root path now on IE11.

See the [release here](https://github.com/Daddoon/Blazor.Polyfill/releases/tag/3.0.0).

[2019-09-25 13:38] javiercn commented on #14374
@fpanaccia Could you please open a separate issue so that we can track and prioritize your issue appropriately?

Could you also include more details on what you are trying to accomplish and how?
It's unclear from the description in your comment and the repro project you provided.

[2019-09-25 13:42] joetherod commented on #8678
This is terrible. How do you rip out features like this without easily being able to make it work? Upgrading to 3.0 is practicality a rewrite. Microsoft was a lot better with this. Seems like you do these things without caring with the amount of code already out there.

[2019-09-25 13:55] jvandertil opened #14415 "Testing app using authentication with WebApplicationFactory throws InvalidOperationException"
### Describe the bug
Using `WebApplicationFactory<TStartup>` for integration testing an application that uses (Windows?) authentication throws an `InvalidOperationException`.

### To Reproduce
Steps to reproduce the behavior:
1. Create a new ASP.NET Core 3.0 Web API application that uses Windows authentication using Visual Studio 16.3
2. Add a unit test project (example code uses MSTest) with a re

[2019-09-25 14:01] DrDave-M commented on #13721
I'd like to chime in and say I was very surprised to see this error... What is the point of a component that you can't pass a parameter to? If even just an Id value...
` @(await Html.RenderComponentAsync<PplComponent>(RenderMode.ServerPrerendered, new { Id = 1 }))`
I was very excited to use server side blazor to render complex forms and "wizards" in my MVC app, rather than using signalR and typesc

[2019-09-25 14:07] ffMathy commented on #13293
I'm getting this in the newly released final version of .NET Core 3.0, even though I have called `AddNewtonsoftJson`.

[2019-09-25 14:12] tomRedox commented on #12245
@rynowak re these ones:

There's a discussion of this going on here #13721

[2019-09-25 14:14] tomRedox commented on #13721
@DrDave-M as I understand it the parameter feature hasn't been removed because it's thought to be unnecessary, it got pulled as part or [removing the facility for stateful pre-rendering](https://github.com/aspnet/AspNetCore/issues/12245#issuecomment-512651528).

That change was made close to the final release date for Core 3, so I guess there wasn't time to give this further attention at that poin

[2019-09-25 14:18] dospat07 opened #14416 "Windows service crash when stop it"
### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0 and Visual Studio 2019 version 16.3
2. Create  new ASP.NET core API web application
3. Add  Microsoft.Extensions.Hosting.WindowsServices
4. Change method CreateHostBuilder to
  public static IHostBuilder CreateHostBuilder(string[] args) =>
            Host.CreateDefaultBuilder(args)
                .UseWind

[2019-09-25 14:18] atrauzzi commented on #12890
I think the biggest thing being missed here is that `Microsoft.AspNetCore.NodeServices` is useful for things outside of SPAs. Ideally it shouldn't be getting lumped in with this change as it serves a much more generic purpose.

[2019-09-25 14:28] geotinc commented on #14374
@javiercn I just dont now that there is other way to do that.
I will try again migrating my referenced dll to razor class library
thanks for helping

[2019-09-25 14:44] rynowak commented on #14364
I wouldn't be surprised if this happens using the old routing system. The new routing system (default in 3.0) has a strong guarantee about this.

[2019-09-25 14:45] rynowak commented on #14411
This is nuget's behaviour. Runtime compilation depends on `Microsoft.CodeAnalysis` which has a bunch of localized resources.

[2019-09-25 14:47] davidfowl commented on #14407
This is an overflow bug. Dupe of #13719

[2019-09-25 14:47] #14407 closed

[2019-09-25 14:48] chrdlx commented on #9436
@Daddoon Beautiful !! Thank you very much!!

[2019-09-25 15:06] fpanaccia opened #14418 "Cannot find reference assembly 'Microsoft.AspNetCore.Antiforgery.dll' while using a FileProviders in net core 3"
Hi, i have a library that render views and with the html makes a pdf.

When using the Physical Views (the ones that you have in the project) everything works fine.
But when using the fileprovider i get the following error, this was working fine in 2.1

![image](https://user-images.githubusercontent.com/5436904/65612873-6a659080-df8b-11e9-867a-5d4d49016dcc.png)

I have tried some debuggin of the  .

[2019-09-25 15:07] geotinc commented on #14374
@javiercn I confirm that everything seems to work well after migrating to RCL.
Thanks all for your help

[2019-09-25 15:07] #11783 closed

[2019-09-25 15:16] zoinkydoink opened #14420 "Timer count down does not work in 3.0"
Initially reported here, https://github.com/aspnet/AspNetCore/issues/13488#event-2591166315

but the latest version of .NET Core (3.0) seem to throw the following exception for the code below

[2019-09-25 15:16] zoinkydoink opened #14421 "Timer count down does not work in 3.0"
Initially reported here, https://github.com/aspnet/AspNetCore/issues/13488#event-2591166315

but the latest version of .NET Core (3.0) seem to throw the following exception for the code below

Object name: 'Renderer'.'

This is being thrown at `StateHasChanged()`

[code]

[2019-09-25 15:18] #14420 closed

[2019-09-25 15:18] zoinkydoink commented on #14420
dup

[2019-09-25 15:18] javiercn commented on #14415
@jvandertil Thanks for contacting us. This has nothing to do with WebApplicationFactory but with the fact that these tests run in memory and there's no windows authentication setup in them. My recomendation is that you override the authentication for the purposes of testing. You can do so by creating your own AuthenticationTestHandler and registering it using `services.AddAuthentication("MyTestAut

[2019-09-25 15:21] javiercn commented on #14415
I've filed https://github.com/aspnet/AspNetCore.Docs/issues/14592 to cover improving the docs for this scenario.

[2019-09-25 15:26] BrennanConroy opened #14422 "Serialization of TimeZoneInfo (v3.0)"
_From @avo-tgundhus on Wednesday, September 25, 2019 11:39:34 AM_

Serialization of TimeZoneInfo.Local fails and results in an incorrect json when sending over SignalR.

The Client uses version 3.0.
The Server is built on .NET core 2.2.

Client code:
`HubConnection.SendAsync("Initialize", DateTime.UtcNow, TimeZoneInfo.Local);`

Server code:
`[public async Task Initialize(DateTime clientTimeInUTC,

[2019-09-25 15:27] comburo commented on #14190
@pranavkm Am I not doing that on the second to last line?

[code]

Or does that not do what I think it should do?

[2019-09-25 15:27] javiercn commented on #14421
@zoinkydoink Thanks for contacting us.

I don't think we have enough information to detect what's happening here. You are not cancelling the time, so it's likely that if the Renderer or the component is being disposed you might try to trigger a render on a disposed renderer.

You should cancel your timer when the component gets disposed and that should avoid this issue.

[2019-09-25 15:31] taori commented on #14359
@javiercn That's good to know. I wasn't sure if decompiling into sources and setting a breakpoint works with source link, since in that case you can't enter the call chain without it. Thanks for letting me know.

[2019-09-25 15:34] alexandrejobin commented on #4819
With Core 2.2, I was able to override the default styling of the error messages by doing this in the Startup.cs file. I don't remember where I took this sample code but it worked flawlessly until I upgrade my project to Core 3.0 where I get the error message:

Any idea how I can workaround this or is there any news on how to properly override the default styling of the error message to support Boo

[2019-09-25 15:35] obastow opened #14423 "ASP.NET Identity Core 2.1 - User can verify multiple times with the same two factor token"
### Is your feature request related to a problem? Please describe.
When using a `UserManager` to verify a two factor token (`VerifyTwoFactorTokenAsync`), the same token can be verified successfully for a user more than once.

This violates Section 5.2 of [RFC 6238](https://tools.ietf.org/html/rfc6238), in particular,

window multiple times to a verifier. The verifier MUST NOT accept
the second att

[2019-09-25 15:48] danroth27 commented on #5545
@kameshrajandran .NET Core 3.1, which is scheduled for Nov/Dec of this year.

[2019-09-25 15:53] zoinkydoink commented on #14421
Sorry, I am not sure what other information your looking for, simply dropping that component on a razor page and running it in IIS express results in that error, this same code worked in P8.
So I am not sure what changed between P8 to 3.0 Release

[2019-09-25 15:57] anurse commented on #14350
🤔 This is the our "Extension" in the certificate that indicates the version and the value (`01`) is the correct version for 3.0 (the previous version is called version `0` and had a completely different content), which should have this fix.

I think the next thing to check is that this certificate is precisely the one Kestrel is selecting. Perhaps there's an issue with the selection logic. Are the

[2019-09-25 16:03] anurse commented on #14229
Yep, when the forwarded headers middleware is in place, that's the correct behavior. That middleware configures the HttpContext to look like it came from the original client, so `RemoteIpAddress` should be the browser client (as long as you are **after** the forwarded headers middleware in the pipeline).

My _assumption_ (though @Tratcher would know better) is that since `X-Original` is supposed t

[2019-09-25 16:06] javiercn commented on #14421
@zoinkydoink The app is being prerendered. Once we finish generating the initial HTML we dispose the renderer. Your timer is trying to trigger a render on a disposed renderer. It's likely due to the fact that we took out connected prerendering.

[2019-09-25 16:06] #14421 closed

[2019-09-25 16:07] mkArtakMSFT commented on #14414
Not much left to wait. Blazor WebAssembly is scheduled to ship in May 2020.

[2019-09-25 16:07] #14414 closed

[2019-09-25 16:08] anurse commented on #14117
Thanks @Bio2hazard ! Without more information here we don't have much to go on. As far as I know, we're not aware of any framework/platform memory leaks specific to that image, so we'd need to have quite a bit more detail to investigate further.

Please note that, in general, we don't have the capacity to throughly investigate customer applications ([Microsoft Support](https://support.microsoft.co

[2019-09-25 16:10] rynowak commented on #14192
This is something we can work with. Do you actually care about the current request? Or do you just want it to be easier to generate absolute URLs?

I can imagine a feature where you can centrally configure a default scheme and host that will be used in URLs - or it could fallback to the listening address if nothing is configured and there is only one listening address.

----

There reason I'm maki

[2019-09-25 16:11] Tratcher commented on #14416
Is there a dump you can share? Or another event log with additional error details?

[2019-09-25 16:11] mkArtakMSFT commented on #14413
Thanks for contacting us, @larsbj.
This is a bug in the underlying Mono framework, which we hope will be fixed in the upcoming release.

[2019-09-25 16:11] zoinkydoink commented on #14421
So what would I have to do to get the above code working?

________________________________
From: Javier Calvarro Nelson <notifications@github.com>
Sent: Wednesday, September 25, 2019 12:08 PM
To: aspnet/AspNetCore
Cc: zoinkydoink; Mention
Subject: Re: [aspnet/AspNetCore] Timer count down does not work in 3.0 (#14421)

Closed #14421<https://github.com/aspnet/AspNetCore/issues/14421>.

—
You are re

[2019-09-25 16:12] #14413 closed

[2019-09-25 16:12] pranavkm commented on #14190
The reader that `XmlSerializerInputFormatter` produces restricts DTD processing. Wrapping it with a more lenient reader would still cause the underlying reader to fail.

[2019-09-25 16:13] javiercn commented on #14421
Implement IDisposable in your Component and cancel the timer when your component gets disposed.

[2019-09-25 16:13] mkArtakMSFT commented on #14405
Thanks for contacting us. This is a mismatch between the template package and the runtime you have installed. Most probably the template package is outdated and needs an update.

[2019-09-25 16:13] #14405 closed

[2019-09-25 16:14] aherrick opened #14424 "Migrate Asp.Net Core 2.2 Integration Tests to 3.0 - The TestServer constructor was not called with a IWebHostBuilder so IWebHost is not available."
We had basic Api integration tests setup as following. When trying to update to 3.0 I get the following error.

`System.InvalidOperationException : The TestServer constructor was not called with a IWebHostBuilder so IWebHost is not available.`

How to convert to support 3.0?

[code]

[2019-09-25 16:15] mkArtakMSFT commented on #14385
Thanks for contacting us, @arivoir .
We do not have any specific documentation about Blazor packages layout.
For the folders you're referring to, those are not Blazor specific and are documented here: https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#controlling-dependency-assets

[2019-09-25 16:15] #14385 closed

[2019-09-25 16:17] mkArtakMSFT commented on #14373
Thanks @cedwards-telis.
We're closing this for now. If you end up reproducing this issue, feel free to reopen and we'll look into it further.

[2019-09-25 16:18] mkArtakMSFT commented on #14361
@adrianwright109 did @dougbu 's suggestion resolve your problem? If not, feel free to reopen this issue and we'll try to help you further.

[2019-09-25 16:18] #14361 closed

[2019-09-25 16:20] javiercn commented on #14424
@aherrick Thanks for contacting us.

Instead of doing factory.Server.Services you can simply do factory.Services. The error you are seeing is likely due to the move to generic host. The Services property will do the right thing.

If that doesn't work, let us know.

[2019-09-25 16:20] #14424 closed

[2019-09-25 16:23] mkArtakMSFT commented on #14386
Potential dupe of #11914

[2019-09-25 16:24] #14386 closed

[2019-09-25 16:24] BrennanConroy commented on #14422
In 3.0, the client now uses System.Text.Json by default. You could try switching back to Newtonsoft.Json on the client to see if that resolves the issue https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#switch-to-newtonsoftjson

I tried this with the 2.1 client and was successfully sending the TimeZoneInfo.

[2019-09-25 16:25] SteveSandersonMS opened #14426 "Ensure it's possible to validate based on the fields in the UI"
The out-of-box DataAnnotationsValidator follows Data Annotations conventions of doing model-based, not UI-based, validation.

Sometimes people may want UI-based validation instead (i.e., we validate just the fields that have a corresponding editor on the screen right now).

If we're missing APIs to enable customizations for this, add them.

[2019-09-25 16:26] rockfordlhotka commented on #14393
Thank you @davidfowl.

My concern is partly for me, but also for anyone consuming NuGet packages.

What I am hearing is that people who've been focused on getting their old .NET Framework code into netstandard2.0 libraries are now in for a shock, because their libraries just became problematic, and most people will need to start multitargeting.

Here's a common scenario:

1. Web site - dotnetcore

[2019-09-25 16:27] anurse commented on #14139
That turnaround was awesome :). Nice work and thanks @gfoidl!

[2019-09-25 16:31] Tratcher commented on #13046
@blowdart this is functioning as intended, and the mitigations listed above are effective:
1. Setting the RefreshInterval to something different than its default (30 seconds)
1. Setting RefreshOnIssuerKeyNotFound to false in all the JWTBearerHandlers

One way to redesign this would be to build one JwtAuthHandler that could contain multiple configurations. It would loop through all of them before t

[2019-09-25 16:33] rynowak commented on #14365
Let's be careful when we get here - this kind of solution will be really tricky because we don't want to influence evaluation order.

[2019-09-25 16:37] zoinkydoink commented on #14421
updated to code below, but that still didnt solve my problem, even if it is suppose to, according to another thread i found, IDisposable is only for blazor client-side is that correct?
below is the code that still fails

[code]

[2019-09-25 16:39] #14415 closed

[2019-09-25 16:39] pranavkm commented on #14418
@fpanaccia with runtime compilation off by default, the 3.0 SDK avoids copying references to the build output that is needed for runtime compilation. To turn this back on, set these properties in your project file:

[code]

[2019-09-25 16:40] javiercn commented on #14421
@zoinkydoink Setting the variable to null doesn't cancel the timer. See this SO answer https://stackoverflow.com/a/6379813

[2019-09-25 16:41] pranavkm commented on #10526
@mrpmorris for your ask, we're going to use https://github.com/aspnet/AspNetCore/issues/14426 to track adding the API to the application. We'll use this issue to continue tracking the original goal of the issue which is to produce an experimental package based on the sample: https://github.com/aspnet/samples/tree/master/samples/aspnetcore/blazor/Validation/Validation

[2019-09-25 16:42] mkArtakMSFT commented on #14392
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-09-25 16:45] Pilchie commented on #14390
This issue was moved to dotnet/coreclr#26890

[2019-09-25 16:45] #14390 closed

[2019-09-25 16:47] davidfowl commented on #14393
Not really no. You don't need to target netcoreapp3.0 unless you're trying to use new features in netcoreapp3.0 (or if you end up hitting a breaking change between versions). The library author guidance is usually to target the lowest version that satisfies where you need to run. You only end up needing to multi-target when you want to take advantage of new functionality in the newer version or if

[2019-09-25 16:48] zoinkydoink commented on #14421
@javiercn i updated the code to change timer using
[code]

Apparently `timer.Change(Timeout.Infinite, Timeout.Infinite);``` this is not reliable so i am at odds on what I need to actually fix the code above

[2019-09-25 16:49] davidfowl commented on #14383
@pavinan do you have a scenario for hosting an ASP.NET Core site in a Xamarin application? It's not something we've seen in the wild and definitely was no considered important to preserve.

[2019-09-25 16:52] mrpmorris commented on #10526
I work for the UK government Department for Education. A common approach is to allow the user to edit a large object over multiple steps, the experimental approach wouldn't work and would require us to create multiple classes that identically represent parts of the object being edited and map the properties across.

It's more work than it needs to be. If InputBase would just instruct EditContext t

[2019-09-25 16:55] zoinkydoink commented on #14421
FIXED by switching to System.Timer instead of Threading.Timer, is this the most efficient code though?

[code]

[2019-09-25 16:57] fpanaccia commented on #14418
@pranavkm Hi, thanks!, adding those parameters to the project that uses the library, it worked, but, everyone that uses the library will have to set these properties, there is another way to do it?

[2019-09-25 16:57] SledgeHammer01 commented on #14396
Hi, some further information:

Startup.cs:

in ConfigureServices(IServiceCollection services)...

			services.Configure<IISServerOptions>(options =>
			{
				options.AllowSynchronousIO = true;
			});

			// set Mvc / Json options

			services.AddMvc(options => options.EnableEndpointRouting = false).AddNewtonsoftJson(options =>

in Configure(IApplicationBuilder app, IWebHostEnvironment env)…

			//

[2019-09-25 17:00] avo-tgundhus commented on #14422
It worked perfectly for us before we updated as well.
I'll try to switch back and see if it helps.

[2019-09-25 17:03] anurse commented on #12295
Unfortunately we're still missing a few things to align with the original spec (below) so I don't think this will land in 3.1. We'll get it in and if there's time we can check it against the bar (and customer/partner interest) and see where we are.

For example:
* [ ] Support in TypeScript (using `UserAgent` in Node, and a custom header `X-SignalR-UserAgent` in the browser)
* [ ] Normalizing OS na

[2019-09-25 17:06] anurse commented on #14020
Closing as this is a duplicate.

[2019-09-25 17:06] #14020 closed

[2019-09-25 17:07] anurse commented on #14001
We believe this is fixed, closing.

[2019-09-25 17:07] #14001 closed

[2019-09-25 17:07] anurse commented on #13944
Closing as the docs PR has been merged.

[2019-09-25 17:07] #13944 closed

[2019-09-25 17:08] anurse commented on #14128
They seem to be running now. Closing.

[2019-09-25 17:08] #14128 closed

[2019-09-25 17:08] anurse commented on #14208
They seem to be running now. Closing.

[2019-09-25 17:08] #14208 closed

[2019-09-25 17:08] anurse commented on #14124
They seem to be running now. Closing.

[2019-09-25 17:08] #14124 closed

[2019-09-25 17:09] RehanSaeed commented on #14192
I don't care about the current request at all, I'm just forced to care to generate a URL based on the current requests scheme, host and URL.

I could get behind such a feature. The fallback sounds like the correct default with the option to override it.

[2019-09-25 17:10] pranavkm commented on #14418
You could update the package to include build targets that specify these properties. That's essentially what the runtime compilation package does:

https://github.com/aspnet/AspNetCore/blob/release/3.1/src/Mvc/Mvc.Razor.RuntimeCompilation/src/build/netcoreapp3.0/Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.targets#L3-L4

[2019-09-25 17:13] pranavkm commented on #14399
@effyteva there were a couple of last minute breaking changes in the 3.0 SDK that we didn't have enough time to react to prior to shipping 3.0 RTM. The @aspnet/build team is working on updating repositories to update the SDK to 3.0.0. We use `global.json` to ensure reproducible builds.

[2019-09-25 17:13] #14399 closed

[2019-09-25 17:15] pranavkm commented on #14388
@Looooooka you can produce a `netcoreapp3.0` targeting library. If you need to continue supporting older versions of ASP.NET Core, consider cross-compiling your library. See https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#migrating-libraries-via-multi-targeting

[2019-09-25 17:16] pavinan commented on #14383
@davidfowl hosting a signalr in mobile and communicating without a central server. It is some fun experiment nothing important.

[2019-09-25 17:17] blowdart commented on #14423
Oh dear, we're veering from the spec. I've added this to be addressed in the next major release, because it will involve schema changes so it's not something we can do in a patch unfortunately.

[2019-09-25 17:17] anurse commented on #14102
You do need to configure the SignalR client to accept untrusted SSL certificates. Have you done this?

You need to change the WebSocket configuration and HttpClient configuration to accept your custom certificate by adding a custom certificate validate callback. Right now that's not trivial (we should improve this, I believe there's an issue tracking fixing this). You can use the `HttpMessageHandl

[2019-09-25 17:19] anurse opened #14427 "Add more first-class options to HttpConnectionOptions"
We support configuring things like CertificateValidationCallbacks, but they have to be done for the HttpClient and WebSocket separately. We should do what we do for other options (headers, etc.) and provide first-class properties that we copy to each of the option types.

[2019-09-25 17:22] fpanaccia commented on #14418
Thanks! i will try later!, i will close the issue, and if that doesn't work (i'm sure it will), i will re open the issue, thanks again!

[2019-09-25 17:22] #14418 closed

[2019-09-25 17:22] anurse commented on #14247
If we do such a thing it will be in 5.0, so I'm not sure what the value will be since the pipeline is planned for that release. Certainly if we don't get a full hub pipeline, we can do this as a fallback.

Can you provide example code of what you were doing so we can help guide to you an appropriate workaround for 3.0?

[2019-09-25 17:23] vsfeedback opened #14428 "Textarea does not display value when it has an asp-for parameter"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/607654/textarea-does-not-display-value-when-it-has-an-asp.html)._

---
The Textarea does not display a viewbag value when it has an asp-for parameter in it.

Example:
No value displayed:
&lt;textarea class=&quot;form-control&quot; asp-for=&quot;TEST_UniquePart&quot;&gt;@Vie

[2019-09-25 17:24] anurse commented on #14247
Linking #5353 for reference (the Hub Pipeline issue)

[2019-09-25 17:25] anurse commented on #10151
We'll queue this for some discussions in 5.0. No committments yet, but we'll talk about options here.

[2019-09-25 17:25] anurse commented on #14344
It sure does!

[2019-09-25 17:26] anurse commented on #14344
We should strongly consider doing this in a non-breaking way by **adding** a constructor overload that takes `HubName`.

[2019-09-25 17:27] anurse commented on #14344
Or we can consider not adding more constructors and make the property interally settable

[2019-09-25 17:28] NTaylorMullen commented on #14333
Well, [this ](https://github.com/aspnet/AspNetCore-Tooling/blob/00e5f3e4d1802d284b75425a6b9ddd1beada9e78/src/Razor/src/Microsoft.AspNetCore.Razor.OmniSharpPlugin/SystemWebConfigurationProvider.cs) is the magic that determines if a project is "unsupported". Do you happen to have a reference to `System.Web.Razor.dll` directly or indirectly?

[2019-09-25 17:28] mkArtakMSFT commented on #14410
Thanks for contacting us, @nphmuller.
There are certain requirements this feature has, which projects should comply with to work properly. We're going to add documentation for the feature by the end of the next week listing all these requirements.
As for now, your `ConfigureServices` method uses certificate which requires access that that cert at build time for document generation. If you don't wi

[2019-09-25 17:28] #14410 closed

[2019-09-25 17:28] anurse commented on #14422
If switching to Newtonsoft fixes it, I'd suggest filing an issue in https://github.com/dotnet/corefx to consider making changes to System.Text.Json to change the serializer behavior.

[2019-09-25 17:29] rockfordlhotka commented on #14393
Yeah, I'm confused.

1. Web app - netcore3.0 - references `Csla.dll` (nc3)
1. Business library - netstandard2.0 - references `Csla.dll` (ns2)
1. Data access library - netstandard2.0 - references `Csla.dll` (ns2)

Which `Csla.dll` is actually used at runtime? And which set of dependencies are used at runtime? In other words, which `Microsoft.Extensions.*` is actually used, given that one `Csla.dll`

[2019-09-25 17:30] anurse commented on #14422
The extra curly braces definitely seem weird. That's invalid JSON.

@avo-tgundhus could you isolate this to a console app that uses [`JsonSerializer`](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.jsonserializer?view=netcore-3.0) **directly**? If you can reproduce the issue there, I would **definitely** suggest filing a bug (including your repro code) on dotnet/corefx because there

[2019-09-25 17:32] rockfordlhotka commented on #14393
Or given that `Csla.dll` doesn't currently use any 3.0 features, does that mean I should just skip 3.0 entirely and continue to focus exclusively on 2.x dependencies?

Which works _except_ that when referenced in an aspnetcore 3.0 project I get warnings that Razor is being downgraded (for example) - I assume because older dependencies are used in business/DAL assemblies and drag back the aspnetcor

[2019-09-25 17:35] HaoK commented on #14368
Yeah you need to clean out the duplicates or turn the require unique emails flag to false, this behavior is by design basically

[2019-09-25 17:35] #14368 closed

[2019-09-25 17:36] HaoK commented on #14368
Its not really an error, its just a side effect of some of the linq we do with EF, we use single or default since the expectation is that emails are unique, hence the Sequence contains more than one error.

[2019-09-25 17:37] pranavkm commented on #8678
@joetherod could you file a separate issue if there are other APIs that affect your particular scenarios?

[2019-09-25 17:37] davidfowl commented on #14383
Well the mobile phone is the central server in this case right? What's the client?

[2019-09-25 17:39] vsfeedback opened #14429 "blazor (client-side) template dissapeared from VS 2019 16.2.0 Preview 2"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/617906/blazor-client-side-template-dissapeared-from-vs-20.html)._

---
Hello,

This page (https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&amp;tabs=visual-studio) says that &quot;For a Blazor client-side experience, choose the Blazor (clie

[2019-09-25 17:39] scalablecory opened #14430 "CSHTML file not refreshing"
_From @justlearntutors on Wednesday, September 25, 2019 10:41:37 AM_

I make a change in a .cshtml file. I refresh the browser. I don't see the change. I rebuild the application. I see the change. It worked in asp net core 2.2.

How to solve?

https://stackoverflow.com/questions/54106058/why-does-page-not-update-after-refresh-when-cshtml-changes

_Copied from original issue: dotnet/core#3467_

[2019-09-25 17:40] pavinan commented on #14383
It is also a mobile phone.

[2019-09-25 17:40] davidfowl commented on #14393
Seems like something is missing from the picture. Is Csla.dll in a package? If it is then what target frameworks does it target?

Sure you can skip 3.0 if you want the package to work on 2.x and 3.x without having to multitarget.

Show me the warning, it usually prints out the graph where the conflict occurs.

[2019-09-25 17:48] pavinan commented on #14383
Actually one of my colleagues project is using TCP for sending commands (JSON) to each other and they wrote so much of logic. I thought it could be done with signalr which is very simple and mature.

[2019-09-25 17:50] pranavkm commented on #14430
@justlearntutors as part of 3.0, runtime compilation is not available by default and MVC relies on Visual Studio's rebuild behavior to refresh the file. The response in the linked StackOverflow issue (https://stackoverflow.com/a/54110388) summarizes why these file changes aren't picked up. I

f you'd like to continue seeing the 2.x behavior, you'd have to enable runtime compilation in your MVC pro

[2019-09-25 17:50] SteveSandersonMS commented on #10526
Yes, I think hopefully the issue #14426 should cover your UI-based validation requirement (which is not exactly the same as this issue, i.e., traversal into child objects).

If you have any further comments about UI-based validation requirements, could you post them at #14426? Thanks!

[2019-09-25 17:51] justlearntutors commented on #14430
Okay. We found a solution.
`if (Startup.IsLocalhost)
{
services.AddControllersWithViews().AddRazorRuntimeCompilation();
} else {
services.AddControllersWithViews();
}`

Will you fix the issue in 3.1?

[2019-09-25 17:52] SteveSandersonMS commented on #14426
Some thoughts about this from  @mrpmorris: https://github.com/aspnet/AspNetCore/issues/10526#issuecomment-533926474

[2019-09-25 17:55] ajaybhargavb commented on #13943
Sorry, I missed this comment until now (when I merged and was going to close this issue).

@mkArtakMSFT we are removing a bunch of 1.x related SDK and VS Code Razor tests because 1.x is no longer in support. Here is the [PR](https://github.com/aspnet/AspNetCore-Tooling/pull/1169). I can revert if you think we should still keep the test.

[2019-09-25 18:16] vsfeedback opened #14431 "MVC CheckBoxFor() intermittent failure"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/498449/mvc-checkboxfor-intermittent-failure.html)._

---
when using @HTML.CheckBoxFor() if it is not isolated in a div without any other markup &amp; U do not include the onchange event, then the bool value intermittently returns to the controller as false, when checked.

r

[2019-09-25 18:19] pranavkm commented on #14430
@justlearntutors this is an intentional change. Your solution looks like what we'd recommend in 3.0.

[2019-09-25 18:22] jvandertil commented on #14415
@javiercn Thanks! I got it to work with a custom AuthenticationHandler. Will leave my code there, it might help someone else.

Note that this broke me in the upgrade from 2.2 to 3.0, but I’ll have a better look tomorrow to pinpoint what exactly is working differently in 3.0

[2019-09-25 18:23] pranavkm commented on #13293
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-09-25 18:24] Looooooka commented on #14388
Oh TargetFrameworks was the key to getting Dominick Baier's answer working.
Thank you both.
Not pretty with all the if statements but I got it working and it's compatible with older projects that can't be migrated to 3.0 yet.
Closing issue.

[2019-09-25 18:24] #14388 closed

[2019-09-25 18:25] wli3 opened #14432 "Razor should not use PATH to find dotnet.exe"
Razor should not use PATH to find dotnet.exe. It is not reliable.

https://github.com/aspnet/AspNetCore-Tooling/blob/2e70e0cbd7d8b952313d1114cd750befca2b1453/src/Razor/src/Microsoft.NET.Sdk.Razor/DotnetToolTask.cs#L61

Here is the linker's example. Use `DOTNET_HOST_PATH` on core. And use $(NetCoreRoot) with dotnet/dotnet.exe on fullframework. I believe $(NetCoreRoot) property is also available for

[2019-09-25 18:31] javiercn opened #14433 "[Blazor] Server-side parameters support"
Right now our customers can create blazor server-side applications but are not able to provide an initial set of parameters for the application to use. This limits the ability to pass in information to the blazor application from the initial component render.

There are many cases where this is useful.
* Passing per-user initialization information.
  * We get a lot of request from customers about

[2019-09-25 18:40] javiercn opened #14434 "[Blazor] Support for rendering client-side components from MVC"
As we look forward to ship blazor client-side support in May, we want to provide a great experience when using blazor in ASP.NET Core 3.0

As part of that experience we want ASP.NET Core applications to be able to render one or more blazor client-side components with parameters into the page.

To avoid having to create an additional package or have a subpar experience during the initial release, w

[2019-09-25 18:42] rockfordlhotka commented on #14393
`Csla.dll` is in a package, and it targets .NET 4, 4,5, 4.6.1, and netstandard2.0.

I was rather hoping never to have to target a specific platform variant of .NET again, slowly dropping the .NET Framework ones and ending up supporting purely netstandardX.X over time. The _primary_ use of CSLA is to create reusable cross-platform assemblies that contain all business logic. But I do use configurati

[2019-09-25 18:43] ULSTechology commented on #14214
AdditionalAttributes is exposed as a read-only dictionary, so adding arbitrary items to it like this doesn't appear to be supported. However, this code gave me the clue I needed - create a new dictionary, add the existing members from AdditionalAttributes, set the new attribute, and then assign the new dictionary back to AdditionalAttributes. That works; accessibility is indeed achieved this way (

[2019-09-25 18:53] davidfowl commented on #14393
That a noble goal and I don't see why you can't do that. You just need to never upgrade your dependencies 😄, that's how you stay compatible.

Being netstandard doesn't say anything about the version of your dependencies. The latest version of JSON.NET supports .NET standard but it doesn't mean that it'll work with ASP.NET Core 1.x or 2.x or 3.x.

Does that make sense?

[2019-09-25 18:57] rockfordlhotka commented on #14393
I guess my problem is that I see no way to _ever_ upgrade the dependencies, and that worries me. I'll be trapped at 2.x forever right?

Well, until there's a newer version of netstandard I can target, and then _maybe_ I'll be able to update dependencies at that point.

This just seems like a slow motion disaster happening in front of my eyes as everyone is trapped in the past or forced to abandon

[2019-09-25 19:05] rockfordlhotka commented on #14393
Doesn't this put you in a bad spot too?

What happens when aspnetcore3.5 (for example) uses `Microsoft.Extensions.Configuration` 3.5, and that version is incompatible with version 2.2?

So then everyone targeting netstandard2.0 and using configuration 2.2 (the latest possible) can no longer be used by this updated website?

Right now I'm assuming (!!) that all the extensions 3.0 are backward compa

[2019-09-25 19:07] davidfowl commented on #14393
As long as the places where you want to run how lower or equal dependencies then no, you can't upgrade.

That's right.

I think you're still missing something. Imagine a world where there is no more netstandard and we just had .NET Core. We'd be having the *EXACT* same discussion but instead of netstandard versions, we'd be discussing .NET Core versions and which ones CSLA wants to support.

[2019-09-25 19:08] rockfordlhotka commented on #14393
I can totally imagine it. That was 2-3 years ago when my `Csla` package included 11 different versions of the assembly for all the variations of .NET that existed at the time.

[2019-09-25 19:12] davidfowl commented on #14393
Perfect! Then there should be no confusion, that problem is unsolvable, we'll just have less flavors .NET in the mix but there will always be version numbers and you'll always need to decide when you can update your dependencies.

Yes Microsoft.Extensions are mostly backwards compatible but ASP.NET Core decided to constrain the versions of those assemblies because it was tested with 2.x versions.

[2019-09-25 19:16] rockfordlhotka commented on #14393
My dilemma, even if I assume multitargeting, is that I don't see how library _consumers_ (i.e. enterprise developers) resolve the versioning issues. It won't be automatic via NuGet, and that's my fundamental issue here.

If I create a `Csla` NuGet package that includes:

1. .NET 4
1. .NET 4.5
1. .NET 4.6.1
1. netstandard2.0 (against extensions 2.x)
1. netstandard2.0 (against extensions 3.x)

Then

[2019-09-25 19:17] danroth27 opened #14436 "Update mono.wasm"

[2019-09-25 19:19] FilipVanBouwel commented on #14192
That sounds good to me as well!

[2019-09-25 19:20] tiago-quintanilha commented on #14139
I've just finished a gRPC service in .NET Core 3.0 and I'd like to host it with IIS inprocess, but I got this 426 error. It was correctualy qualified as a bug, but will only be included in 5.0-preview? Shall I drop my intention to use IIS so?

[2019-09-25 19:21] adrianwright109 commented on #14361
Hi,
Yes @dougbu's suggestion worked, in particular I believe it was the `git clean -dfx` command that did the trick by removing old SDKs.

[2019-09-25 19:21] davidfowl commented on #14393
.NET 4.5
.NET 4.6.1
netstandard2.0 (against extensions 2.x)
netstandard2.0 (against extensions 3.x)

Right this isn't a thing.

.NET 4.5
.NET 4.6.1
netstandard2.0 (against extensions 2.x)
netcore3.0 (against extensions 3.x)

That's correct.

Why would it force consumers to stop using .NET Standard? Did you mean to say that people using .NET Core 3.0 will get the .NET Core 3.0 version of Csla? If s

[2019-09-25 19:22] rockfordlhotka commented on #14393
So is this [comment I made earlier](https://github.com/aspnet/AspNetCore/issues/14393#issuecomment-535166972) invalid then?

[2019-09-25 19:23] Tristan-Stricker commented on #11883
Is there a work-around for this issue? Would love to use blazor and identity scaffolding but this is frustrating my efforts.

[2019-09-25 19:24] anurse commented on #14139
@tiago-quintanilha I don't think your question is related to this issue thread. Can you open a new issue please?

[2019-09-25 19:26] pranavkm commented on #14432
Thanks @wli3. Should this - https://github.com/dotnet/sdk/issues/20 - be closed as resolved since there's a solution for it now?

[2019-09-25 19:41] JamesNK commented on #14139
IIS doesn't support gRPC. It needs improvements to support HTTP/2 trailers and bi-directional streaming.

[2019-09-25 19:43] davidfowl commented on #14393
Which comment exactly? Microsoft.Extensons.* is compatible.

[2019-09-25 19:43] eliaslopezgt commented on #13046
@blowdart can I help with it?

[2019-09-25 19:46] lomholdt commented on #13585
I have this issue now after installing the dotnet core 3.0 GA.

[2019-09-25 19:49] pranavkm commented on #13585
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-09-25 19:50] rockfordlhotka commented on #14393
The link should have gone directly to the comment. But the gist is this.

If I have the following:

1. web site netcore3 referencing Csla.dll (nc3) referencing extensions 3.0
1. business library ns2 referencing Csla.dll (ns2) referencing extensions 2.x

At runtime only the extensions 3.0 will load right? So the ns2 assemblies will use the 2.x API, but will actually be using the 3.0 bits.

You are

[2019-09-25 19:53] Dontrym3 commented on #14370
I had the same problem also. A quick fix for the build is to not generate the openApi documents. Add this to your project's propertyGroup (in the .csproj):
[code]

[2019-09-25 19:53] rynowak commented on #14192
Great, I'm sticking this in the 5.0 milestone so it will get looked at.

[2019-09-25 19:57] rynowak commented on #13943
@kevinpi - what's the expectation for SDK support for runtimes that are out of support?

[2019-09-25 20:07] vsfeedback opened #14439 "file name was back to past by CTRL+S"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/693662/file-name-was-back-to-past-by-ctrls.html)._

---
1. In Visual Studio, Create File with lowercase file name (Example: page.razor)
2. Open the file in Visual Studio
3. change file name as uppercase (same name) in solution explorer (Example: Page.razor)
4. Type Ctrl+S
5

[2019-09-25 20:08] mjnorman commented on #14333
Not that I know of, here is the root project csproj if that helps, just redacted the paths and project names.  All of the sub project csproj are all similiar, just different packages being referenced and `Microsoft.NET.Sdk` vs `Microsoft.NET.Sdk.Web`.

[code]

[2019-09-25 20:11] davidfowl commented on #14393
Yes.

Yes.

Maybe. But what's the point you're trying to make? This is how the library ecosystem works. If a breaking change is made, then dependent packages need to fork. Just don't conflate any of this with netstandard, it's just a general problem that platforms have (it's not even unique to .NET).

[2019-09-25 20:16] javiercn commented on #14433
Related issue https://github.com/aspnet/AspNetCore/issues/13721

[2019-09-25 20:17] mkArtakMSFT commented on #13721
It seems there has been a lot of activity on this thread. We're going to try (not a promise) to bring this in 3.1 as part of https://github.com/aspnet/AspNetCore/issues/14433

[2019-09-25 20:17] #13721 closed

[2019-09-25 20:18] rockfordlhotka commented on #14393
Thank you David, this all makes sense.

I'm not intending to conflate it with netstandard as much as NuGet targets. I wish the decision had been made (or will be made) to have a rolling set of NuGet targets that are platform independent, like netstandard, but that roll slowly forward over time.

As it is, because the only valid NuGet targets (over time) appear to be ns2, ns2.1, nc3, nc5 (?) and so

[2019-09-25 20:22] halter73 commented on #14396
Do you have logs and/or exception details including a stack trace indicating where the ObjectDisposedException was thrown from?

[2019-09-25 20:22] NTaylorMullen commented on #14333
Just tried out a shell-like project based on what you posted and all works. Makes me believe that one of your `ProjectReference`s has a reference to `System.Web.Razor.dll`. Best way to check to see which one has the dependency indirectly is to open each projects `obj/project.assets.json` file and do a search for `System.Web.Razor`. That should allow you to find the culprit.

[2019-09-25 20:25] ryanbrandenburg commented on #14232
I was able to reproduce this. My current best guess is that it's actually a CoreFX problem, so we're going to have them take a look at a dump I made of the problem. The gist of it seems to be that the process we launch from within the CLI tool to do the actual document creation "hangs" because the Program.Main function is exited but the process is still open.

[2019-09-25 20:35] davidfowl commented on #14393
How exactly does this fix things? As I said earlier, imagine a world where .NET Core is the only thing on the planet, we'd be having this same discussion. To be even more specific, because ASP.NET Core depends on these extensions, it ends up being problematic for package authors to take dependencies on newer ones (in older versions of ASP.NET Core).

That isn't the issue the problem is that you ca

[2019-09-25 20:39] rockfordlhotka commented on #14393
From what I can gather, if you build a library/package that takes a dependency on pretty much anything, your targeting compatibility looks like this:

  | Net4 | Net45 | Net461 | Net48 | UWP | Ns2 | Mono | Nc3 | Nc5?
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
Net4 | X |   |   |   |   |   |   |   |  
Net45 |   | X |   |   |   |   |   |   |  
Net461 |   |   | X |   |   | X |   |   |  
Net48 |  

[2019-09-25 20:40] tiago-quintanilha commented on #14139
@anurse, I posted here because the error was exactly the same, since gRPC always uses http/2, and I noticed that '3.1-candidate' tag was exchanged for '5.0.0-preview1'.

@JamesNK, thanks for your feedback. I've searched for this very information but I could't find. Guess it is all too new. I'll have to use windows service then.

[2019-09-25 20:43] rockfordlhotka commented on #14393
I do hope the tooling resumes helping. Specifically, I'd hope that Nc5 can't reference Nc3 or Ns2 libraries - avoiding the otherwise nearly inevitable dependency conflicts.

That was one thing that was simpler back in the .NET 2, 3, 4 days - you couldn't cross the streams because there was no pretense of cross-version compatibility.

[2019-09-25 20:43] mjnorman commented on #14333
Checked each file and no hits :(

[2019-09-25 20:44] ToddThomson opened #14440 "ASP.NET Core 3 and NuGet Packages"
Question concerning ASP.NET Core 3 and individual NuGet packages.

Since ASP.NET Core 3 only runs on .NET Core 3 and given that there are (currently) no individual NuGet packages ( MVC Core version 3.x for example ), does this mean that ASP.NET Core is updated on the server only when the target framework changes?

[2019-09-25 20:45] Sebazzz commented on #12725
That still does not solve the issue that the routing attributes are not available. `ControllerActionDescriptor` is a singleton shared over the entire application.

[2019-09-25 20:46] PinpointTownes commented on #14393
You were kidding, right? Because that would be absolutely terrible 🤣

[2019-09-25 20:47] rockfordlhotka commented on #14393
How am I kidding? How is it good to think that a Nc3 project is allowed to reference an Ns2 library, where that library brings in incompatible dependencies?

[2019-09-25 20:50] anurse commented on #14139
The initial post was just about being more consistent with how we report `HttpRequest.Protocol`, with nothing about a client error so I'm still a little confused what is related between your issue and the initial report. As @JamesNK said, IIS doesn't have sufficient HTTP/2 features to support gRPC (we are working on it though), so that's probably the root of the issue you were seeing.

Anyway, I t

[2019-09-25 20:50] wli3 commented on #14432
yes. I closed it

[2019-09-25 20:58] njannink opened #14441 "Microsoft.AspNetCore.Identity(.Core) v3 nuget package missing"
I'm trying to migrate my code to the v3 nuget packages and I run into issues with the v3 identity management. The nuget package for the core library seems to be missing and the only way how I can get it through nuget is by using either the Microsoft.AspNetCore.Identity.UI or the Microsoft.AspNetCore.ApiAuthorization.IdentityServer nuget package. But both these packages add a lot of additional unne

[2019-09-25 21:01] Sebazzz opened #14442 "Access the route values in IAuthorizationRequirement with endpoint routing enabled"
### Is your feature request related to a problem? Please describe.
I'm trying to access the routing values of the current request in the `IAuthorizationRequirement`. I need those to determine whether the request is authorized or not.

Without Endpoint routing, you can cast the `AuthorizationHandlerContext.Resource` to `AuthorizationFilterContext` and from there on access the HTTP context.

With En

[2019-09-25 21:01] NTaylorMullen commented on #14333
Hmm, I wonder if it's not regenerating. If you delete the project.razor.json file, re-open in VSCode does the project.razor.json file get re-created?

[2019-09-25 21:06] SledgeHammer01 commented on #14396
The callstack of the exception itself is:

   at System.IO.MemoryStream.get_Length()
   at Microsoft.AspNetCore.WebUtilities.FileBufferingReadStream.get_Length()

The app call stack is:

 	[External Code]
 	yyy.dll!xxx.yyy.Startup.Configure.AnonymousMethod__3(Microsoft.AspNetCore.Http.HttpContext context) Line 164	C#
 	[External Code]

[2019-09-25 21:09] pranavkm commented on #14441
Dup of https://github.com/aspnet/AspNetCore/issues/14388.

You'll need a `FrameworkReference` to `Microsoft.AspNetCore.App` to reference the API.
Our migration guide - https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30 - has notes on updating to target ASP.NET Core 3.0 as well as ways to cross-compile to support multiple versions of ASP.NET Core.

[2019-09-25 21:10] #14393 closed

[2019-09-25 21:10] PinpointTownes commented on #14393
Because it would be pretty much like when .NET Core 1.0 was released? Nothing was compatible, the adoption rate was insanely low and many people waited for 2.0 (that reduced the gap between .NET Framework and .NET Core) for that sole reason.

So, with your approach, every year, we'd have a new .NET version, that would be completely incompatible with all the existing projects/libs/packages? What a

[2019-09-25 21:12] dougbu commented on #13497
#14048 is now done (see 06ca2c4ee3cc)

[2019-09-25 21:12] #13497 closed

[2019-09-25 21:13] davidfowl commented on #14396
@SledgeHammer01 can you provide a runnable example with all of the code? It's diffcult to figure out what's going on without seeing the entire application. Even better would be to come up with a minimal repro.

[2019-09-25 21:13] glararan commented on #11883
@Tristan-Stricker workaround is to copy-edit already written code. I dont thing so there is any available workaround by MS Dev team. I had to copy code and edit it via custom made razor page. Works for now & future :))

[2019-09-25 21:15] rockfordlhotka commented on #14393
Everyone hears me blaming .NET Standard. I don't mean to "blame" it, as much as point out that due to the way it integrates with NuGet targeting, it is now obsolete for people like me who have dependencies in our packages. My next step is to create netcore3 versions of my projects and add those assemblies to my NuGet packages, so as people move to netcore3 they'll stop relying on anything to do wi

[2019-09-25 21:21] NTaylorMullen commented on #14332
Closing this for now since question has been answered.

[2019-09-25 21:21] #14332 closed

[2019-09-25 21:22] NTaylorMullen commented on #14320
We have yet to add support for contextual comments. This will be added in a future release.

[2019-09-25 21:23] ghosttie opened #14443 "HTTP Error 500.31 - ANCM Failed to Find Native Dependencies"
I upgraded an ASP.NET Core 2.2 application to 3.0.

It works fine in the development environment, but when I publish it to the test environment I get a `HTTP Error 500.31 - ANCM Failed to Find Native Dependencies` error.

![Annotation 2019-09-25 170442](https://user-images.githubusercontent.com/1552778/65640164-baf2e300-dfb7-11e9-9dbb-c8724bd8c879.png)

The documentation says that this error most

[2019-09-25 21:23] rborosak commented on #13452
Client side blazor does not log any exceptions. They are just printed to console. Here is the code from WebAssemblyRenderer
[code]
Only way I found that can intercept exceptions is described here
[https://remibou.github.io/Exception-handling-in-Blazor/](url)

But I would not call this exception handling...

[2019-09-25 21:29] NTaylorMullen commented on #14285
Doubt we'll ever do this.

[2019-09-25 21:29] #14285 closed

[2019-09-25 21:32] mjnorman commented on #14333
well well.  I deleted the main project obj long ago when this started happening, and never really considered it could be one of the sub projects.  So I went in and deleted all obj folders from all projects, let it rebuild and restore, and the project.assets.json looks fins as rain.  Maybe a use case for overwriting that file if exists or some variation?  Not sure of downstream impacts, but it sure

[2019-09-25 21:32] NTaylorMullen commented on #13494
Done, 💪

[2019-09-25 21:32] #13494 closed

[2019-09-25 21:33] rynowak commented on #14432
Spoke with @nguerrera about this. We should fix this and we now know what to do 👍 - @wli3 do we have any user reports of this?

[2019-09-25 21:33] NTaylorMullen commented on #14333
Hah, sounds like MSBuild was in a funky state where it "partially" restored but things were broken. So I take it everything is working now?

[2019-09-25 21:35] ToddThomson commented on #14440
OK. I now understand that the FrameworkReference to Microsoft.AspNetCore.App refers to a shared runtime. When using:

[code]
How do you specify a minimum version to the shared runtime?

[2019-09-25 21:36] mjnorman commented on #14333
Let me hang on to the issue for a while.  I want to keep my eye on the omni sharp log.  I'll close in a few days if I see no reoccurence.  Really appreciate your help.

[2019-09-25 21:37] NTaylorMullen commented on #14333
kk cool sounds good

[2019-09-25 21:37] rynowak commented on #13494
![image](https://user-images.githubusercontent.com/1430011/65641582-069a9200-dfa2-11e9-977a-15b0d197d375.png)

[2019-09-25 21:41] smjltd commented on #14414
6 months?

[2019-09-25 21:58] mrpmorris commented on #14426
Hi all

I've put together some changes for you to consider. They aren't in a format that I can submit a pull-request. What I've done is to copy the various form classes into a folder called `Modified` (into a namespace with the same name) - from there I have made a branch, made the changes, and created a PR into my master branch accompanied by comments in the PR explaining the purpose of the chang

[2019-09-25 22:14] NTaylorMullen opened #14445 "Better on typing completion triggers"
Visual studio has the ability to auto-trigger completion when typing in a document. We should implement a similar experience so the implicit experience for typing results in quality completions.

[2019-09-25 22:23] mariuszkochanowski opened #14446 "DataTokens from EndpointRouting are not available in ActionMethodSelectorAttribute"
Description:
Collection DataTokens in ActionMethodSelectorAttribute is empty when using EndpointRouting.
To reproduce:
[RouteDataSamples.zip](https://github.com/aspnet/AspNetCore/files/3655057/RouteDataSamples.zip)

Solution contains two projects:
1) MvcClassicRouting - runs without error
2) MvcEndpointRouting - throws exception in class CustomActionMethodSelectorAttribute
because Collection DataT

[2019-09-25 22:25] mijunk commented on #13055
I get the same thing installing core 3 after having had the preview installed.

[2019-09-25 22:52] Mercurial commented on #11244
how come it can receive an int[] but not a byte[] array without base64 encoding though? just a thought!

I kinda need a very efficient way to send the bytes without the overhead of the encoding because Im sending video camera binary data to the function

[2019-09-25 23:07] SledgeHammer01 commented on #14396
I'm trying to put together an example, just cleaning it up... but got a fuller stack trace... will post an example probably tomorrow morning.

System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'FileBufferingReadStream'.
   at Microsoft.AspNetCore.WebUtilities.FileBufferingReadStream.ThrowIfDisposed()
   at Microsoft.AspNetCore.WebUtilities.FileBufferingReadStream.Seek(I

[2019-09-25 23:13] JamesNK commented on #14139
Re-opening because I think this should be unit testing to prevent regression. gRPC tests this string so it is important it is correct.

[2019-09-25 23:16] SledgeHammer01 commented on #14396
Ok, here you go...

[Test.zip](https://github.com/aspnet/AspNetCore/files/3655174/Test.zip)

When you run, it'll bring up the Swagger page, and try out testMethod2 for example, it'll throw the exception in ControllerBase.cs : OnActionExecutionAsync.

Thanks!

[2019-09-25 23:19] halter73 commented on #14396
I added the area-mvc label because it looks like something in MVC is disposing the request stream when it wasn't before. This is likely the regression.

I'm leaving the area-servers label because it might be better for FileBufferingReadStream.Dispose() to no-op like it does for the raw request stream.

[2019-09-25 23:39] khteh commented on #14229
Yes AWS LB is terminating HTTP/2 and only using HTTP/1.1 with the backend.

[2019-09-25 23:55] douglasg14b commented on #9542
@rynowak The issue I have is the migration guide hand-waves to the routing document as if the routing document succinctly describes how to upgrade, which it does not.

[2019-09-26 00:21] mkArtakMSFT commented on #13943
I am supportive of this change. @Pilchie what are your thoughts?

[2019-09-26 00:28] gfoidl opened #14449 "Question: How hot is Http2Connection.IsPseudoHeaderField?"
Is https://github.com/aspnet/AspNetCore/blob/23596349092f69890c3efe5b8b9005856cc83db2/src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs#L1210 a hot method perf-wise?

My knowledge of HTTP/2 is somewhat limited, so I don't know if its worth to optimize this method or not. Anyway I prototyped something (because I had a similar requirement somewhere else) that looks promising in a micro-

[2019-09-26 00:38] aherrick commented on #14424
Thanks for your help! That got me over that hurdle.

Now I'm confused in a similar way with UI Tests.

I have updated my Web MVC project to have a Program such as this:

[code]

I have Selenium style tests that are setup very similar to this:

https://www.hanselman.com/blog/RealBrowserIntegrationTestingWithSeleniumStandaloneChromeAndASPNETCore21.aspx

What I'm seeing is the `protected override Tes

[2019-09-26 01:03] ZhiqiangTao commented on #14364
@rynowak 3q :)

[2019-09-26 01:04] pranavkm commented on #14440
@ToddThomson https://docs.microsoft.com/en-us/dotnet/core/versions/selection#framework-dependent-apps-roll-forward has a fairly detailed explanation about how the version of the shared runtime that gets used is calculated.

[2019-09-26 02:03] yunduansing opened #14450 "Can asp.net core 3.0 support [Autowired] Attribute to implement Dependency injection"
Can asp.net core 3.0 support [Autowired] Attribute to implements Dependency injection(just like Spring Boot @Autowired)？
eg:
`
[Autowired(LifeTime=Sington)]
private readonly IUserService userService{set;get;}`
Only construct inject is Not very friendly.

[2019-09-26 02:25] Daniel15 commented on #14134
This is how I'm working around it for now:

[code]

[2019-09-26 02:55] Bartmax opened #14451 "Model Binder more misleading that before when using Required non-nullable strings."
I understand why this is the way it is, what I'm not sure if there are any intention to "fix"/change this behavior. My concern being that now is significant more misleading than it was before.
aka, not predictable, easy to miss and have bugs.

Using C#8 `<Nullable>Enable</Nullable>` property.

Posting a model with same "apparent" requirements on model binder (required, non null with a default valu

[2019-09-26 03:06] julienGrd commented on #13452
for client side blazor, i finally by implement my own implementation on ILogger (inspired by the code of default implementation whoch log in the console) .
With this implementation, i can call a LoggerController on the server, wich a ILogger is inject too (but this time, its a NLog implementation whis is inject, so i can properly write all exception on the server)

I abandon the idea of global exc

[2019-09-26 03:25] davidfowl commented on #14450
No, but you can use a dependency injection container that does support property injection https://github.com/aspnet/Extensions/tree/master/src/DependencyInjection#using-other-containers-with-microsoftextensionsdependencyinjection

[2019-09-26 03:25] davidfowl commented on #14449
No more new unsafe code.

[2019-09-26 03:28] davidfowl commented on #14443
What's installed on your production environment? Did you install the new hosting bundle?

[2019-09-26 04:20] kinosang opened #14452 "RequestLocalizationMiddleware should use CultureInfo.Parent to walk down the hierarchy"
As #2634 and [here](https://github.com/aspnet/Localization/issues/273#issuecomment-237983479), `RequestLocalizationMiddleware` should use `CultureInfo.Parent` to walk down the hierarchy (as @ryanbrandenburg commented).

But the `RequestLocalizationMiddleware` just uses a simple string manipulation (see codes below).

https://github.com/aspnet/AspNetCore/blob/23596349092f69890c3efe5b8b9005856cc83db

[2019-09-26 04:44] ChristopherHaws commented on #12890
@atrauzzi Agreed. I use razor to generate mjml markup and use NodeServices to transform the mjml into html for generating emails that render correctly in most email clients. It saves a ton of time for our team.

[2019-09-26 05:15] ThomasBergholdWieser opened #14453 "Run every healthcheck in its own scope"
### Is your feature request related to a problem? Please describe.
Right now adding multiple different checks using the same DbContext type will result in some of them being failed, because the DbContext might already be disposed.

Default Lifetime of DbContext is scoped, it would be a shame to have to change that to transient for HealthChecks to work properly in this scenarop.

### Describe the s

[2019-09-26 05:57] Tristan-Stricker commented on #11883
@glararan Do you have any code you can share which demonstrates your work around?

[2019-09-26 06:22] etherealjoy commented on #12205
I like this. I hope in the future you can take it forward and make it more intuitive and easy to use.
No fancy setup needed, it just works!

[2019-09-26 06:41] hanxinimm opened #14454 "Microsoft.AspNetCore.Mvc.Internal.ApiDescriptionActionData"
异常信息 Could not load type 'Microsoft.AspNetCore.Mvc.Internal.ApiDescriptionActionData' from assembly 'Microsoft.AspNetCore.Mvc.Core, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.D:\ProgramData\SF\default\Fabric\work\Applications\CustomerAppType_App1430\Labor.Customer.StatelessWebApiQueryServicePkg.Code.1.0.0\Labor.Customer.StatelessWebApiQueryService.dll 内部异常 D:\ProgramData\SF

[2019-09-26 06:44] wdls22 opened #14455 "Enable kernel response buffering for HTTP.sys server"
I deploy an ASP.NET Core Service in Service Fabric in Azure.
I tried Kestrel and Http.sys as server and using Response compression.
I found if I use Http.sys as server and usign Response compression, static file download is very slow It will cost more than 1 minutes to doanload a 1.6mb JS file.
If I use Kestrel, this issue will not happen. If I use http.sys without Response compression, it also di

[2019-09-26 07:14] KrisPetkov commented on #1975
https://github.com/docker/for-win/issues/204#issuecomment-535187856

[2019-09-26 07:17] kg opened #14456 "Blazor WASM template missing when building + using from source"
### Describe the bug
When I build aspnetcore from source and then ```source activate.sh``` I get a dotnet that only has the blazor server template, not blazor wasm. If I follow the tutorial instructions from the official site I have both blazor server and wasm templates. As a result I can't 'dotnet new' a blazor wasm project when building from source.

If I try to use an existing blazor wasm proje

[2019-09-26 07:20] AJB-Sharp opened #14457 "Invalid attempt to call ReadAsync when reader is closed."
I have raise a bug with EFC (Invalid attempt to call ReadAsync when reader is closed. #18039) and had a response saying the error is through in Blazor. Please can someone have a look as my code was working fine before release.

[2019-09-26 07:32] Ponant commented on #14433
Ideally, it would be great to be able to do this, in a Razor Page rather than only in a Razor component
`<Counter IncrementAmount=2/>`

We have an RP based website and now would like to add some blazor components in some of these cshtml RP pages, but we cannot pass in parameters, neither with a tag nor with an anonymous type in RenderComponentAsync (as known here https://devblogs.microsoft.com/asp

[2019-09-26 07:46] jinhong- opened #14458 "Compiling ASP.NET Core 2.x application while targeting .NET Core 3.0"
As the question says, is it possible to Target .NET Core 3.0 while still using ASP.NET Core 2.x? It looks like libraries in ASP.NET Core 2.x is compiled using .NET Standard 2.0. So far i cannot figure out how to get this to work. I have tried explicitly setting the version of "Microsoft.AspNetCore.App" package to 2.x but it still was using ASP.NET Core 3.0

[2019-09-26 08:07] avo-tgundhus commented on #14422
@anurse @BrennanConroy Changing back to Newtonsoft solved the problem. During the last 24 hours we encountered multiple issues on the hubConnection, so it might be other serialization issues like this. I'll see if I can take a deep-dive in the logs and check.

I have not yet created an isolated project for it, but I'll put it on my list.

[2019-09-26 08:14] colotiline opened #14460 "npm audit for .NET core"
### Is your feature request related to a problem? Please describe.
I am trying to do audit NuGet packages in my project for vulnerabilities automatically but I can't.

Ok, we trust NuGet packages by default, but when and how should I know that I need to update any of them?

### Describe the solution you'd like
I want a solution that is a dotnet tool and looks like 'npm audit' (https://blog.npmjs.o

[2019-09-26 08:17] khellang commented on #14460
This work is already in progress. See [the issue](https://github.com/NuGet/Home/issues/8087) and [the spec](https://github.com/NuGet/Home/wiki/Flag-vulnerable-packages).

[2019-09-26 08:17] javiercn commented on #14460
@colotiline Thanks for contacting us.

We think this a question better asked to the NuGet folks at https://github.com/nuget/home

Hope that helps.

[2019-09-26 08:17] #14460 closed

[2019-09-26 08:20] javiercn commented on #14457
@AJB-Sharp Thanks for contacting us.

Can you provide more details on your specific issue so that we can help?

[2019-09-26 08:24] javiercn commented on #14454
@hanxinimm Thanks for contacting us.

Can you provide a github repository with a repro project and detailed steps to reproduce the issue?

[2019-09-26 08:25] javiercn commented on #14453
@ThomasBergholdWieser Thanks for contacting us.

Have you tried resolving an IServiceScopeFactory within your HealthCheck and using that to create your own scope and resolve the DbContext from there?

[2019-09-26 08:27] javiercn commented on #14452
@kinosang Thanks for contacting us.

@ryanbrandenburg Do you have any comments here?

[2019-09-26 08:28] AJB-Sharp commented on #14457
Hi

I have an application I have been building and upto the release a couple of day ago was working fine but now I get "Invalid attempt to call ReadAsync when reader is closed." whenever I get to a call for the following:

    public async Task<QuoteHeader> GetQuoteHeader(int quoteHeaderId)
    {
        try
        {
            var qh = await _db.QuoteHeader
                .SingleOrDefaultAsync

[2019-09-26 08:28] AJB-Sharp commented on #14457
The error appears when it was run in OnParametersSetAsync() (QuoteDetail.razor), I have since tested the code in the OnInitializedAsync() and it works. However, I now have the problem that the foreign key table objects are null when passing the table objects to functions.

All this was working before release.

[2019-09-26 08:29] hanxinimm commented on #14454
@javiercn

Microsoft.AspNetCore.Mvc.Core 3.0.0 is not contain type Microsoft.AspNetCore.Mvc.Internal.ApiDescriptionActionData
how can i get Microsoft.AspNetCore.Mvc.ApiExplorer 3.0.0 nuget package

[2019-09-26 08:31] davidfowl commented on #14458
Possible? Yes. Difficult? Yes. Tested? No.

Why?

[2019-09-26 08:37] vintzl commented on #14153
@pranavkm
Thanks for your reply.

Unfortunately, I have not given enough attention to your answer, [and I have got trapped twice by the same "inheritance issue"](https://github.com/aspnet/AspNetCore/issues/14254)…

[2019-09-26 08:39] jinhong- commented on #14458
I read that there are a lot of performance improvements in .NET Core 3.0 + improved docker images for container workloads. For me, we have a dependency on OData, which is currently only available in ASP.NET Core 2.1, or 2.2 with backwards compatibility flag enabled.
From my understanding, several of the perf improvements are low level APIs, which means that we can reap those benefits by just movin

[2019-09-26 08:42] javiercn commented on #14451
@Bartmax Thanks for contacting us.

As far as I know, modelbinding is not affected in any way by the use of Nullable types in C#. Nullable types help the compiler specify the behavior, but don't offer any runtime guarantee about it nor extend the range of values a type can take.

C# 8 nullable types in essence are syntactic sugar to indicate that there should not be a null value in there, but the

[2019-09-26 08:46] dasMulli commented on #14453
But that doesn't help that the inbox EF health check already created a dbcontext in the parent scope and the new sub-scope resolves the already created context from the parent scope?

[2019-09-26 08:59] ThomasBergholdWieser commented on #14453
Injecting the IServiceScopeFactory helps with this check, but somehow i am now getting weird issues with the default AddDbContext Check. I have updated my repro to include another version of the Custom Check with the service scope factory.

Here is an example response:

`{
"status": "Unhealthy",
"statusComponents": [
{
"key": "AddDbContextCheck",
"value": "Unhealthy",
"desc": "An attempt was made

[2019-09-26 09:12] dasMulli commented on #14453
My crystal ball is working well today 😆

[2019-09-26 09:23] SteveSandersonMS commented on #14365
Agreed it's tricky.

One especially difficult bit, that might even be fatally difficult to most designs, is making this work alongside our existing `AddMultipleAttributes`-overriding logic. Currently we reason that, since you can only finish with one attribute with a given name, we can have a precedence rule whereby later instances overwrite earlier ones. It's unclear how this makes sense in a wor

[2019-09-26 09:42] ZackTech opened #14461 "string.Compare function does not work when deployed to linux (.Net Version 2.0)"
If you create a .Net Api project on a windows pc then use the following commands:

dotnet restore -r ubuntu.16.04-x64
dotnet build -r ubuntu.16.04-x64
dotnet publish -f netcoreapp2.0 -c Release -r ubuntu.16.04-x64

Then publish onto Ubuntu

Then do:

string myValue = "False";
var resultA = string.Compare(myValue , "false", false);
var resultB = string.Compare(myValue , "false", true);

Both result

[2019-09-26 09:42] gfoidl commented on #14449
I'll try to make it safe and give an update here.

[2019-09-26 09:58] mayankgaur commented on #7501
Hi @all anyone has find solution about this issue?

[2019-09-26 10:12] javiercn commented on #14453
@ThomasBergholdWieser This goes beyond my knowledge. I'm looping in some folks to help here.

@rynowak @bricelam any ideas on how to integrate EF + Healthchecks??

[2019-09-26 10:13] HengzheLi commented on #4707
`.UseKestrel(opt =>
{
opt.Limits.MinRequestBodyDataRate = null;
})`
Could this work?

[2019-09-26 10:48] SnakyBeaky opened #14462 "Can't use Microsoft.AspNetCore.Http (3.0) from a Class Library"
Let's suppose we have a class library that extends HttpContext/HttpRequest for AspNetCore 2.2, and has a NuGet package reference to `Microsoft.AspNetCore.Http 2.2.0`.

And just for context, let's suppose this class library used the `HttpRequest.EnableRewind()` method because the library needs to read the body stream and in AspNetCore 3.0, `HttpRequest.EnableRewind()` has been replaced by `HttpRequ

[2019-09-26 10:55] javiercn commented on #14462
@SnakyBeaky Thanks for contacting us.

You should be able to do this by adding `<FrameworkReference Include="Microsoft.AspNetCore.App" />` in your class library and targeting netcoreapp3.0

[2019-09-26 10:57] javiercn commented on #14461
@ZackTech Thanks for contacting us.

This is not an ASP.NET Core specific issue. It will be best if you report it in https://github.com/dotnet/corefx or https://github.com/dotnet/coreclr

[2019-09-26 10:57] #14461 closed

[2019-09-26 10:58] atrauzzi commented on #12890
Yeah, I can think of quite a few uses for it that are immensely helpful for .net developers who need to briefly tap into the JS ecosystem.

It allows someone to create _any_ type of bundle and invoke it for a result. Regardless of any specific convention - heck, you can make up your own.  Just pick a type in the bundle and use it.

[2019-09-26 11:15] mumby0168 commented on #11347
This also worked for me but this issue still persits post .net core 3.0 release any idea of what actually causes this??

Seems as though the project file gets muddled up?

[2019-09-26 11:22] neilcamilleri commented on #10170
+1 for this feature and all other features that make the design story as good as React/Vue/Angular.

[2019-09-26 11:23] ZackTech commented on #14461
Move to: https://github.com/dotnet/corefx/issues/41351
on advice from  javiercn

[2019-09-26 11:37] xperiandri opened #14464 "[Blazor] Attempting to navigate to URI with fragment causes Microsoft.AspNetCore.Components.NavigationException server-side"
### Describe the bug
Attempting to navigate to address with fragment like `https://localhost:44317/product/abc#General-information` in server-side Blazor causes `Microsoft.AspNetCore.Components.NavigationException`

### To Reproduce
1. Using this version of ASP.NET Core 3.0 RTM
2. Create a page with a button that navigates to the same URI but with a fragment
[code]
3. See error `Microsoft.AspNetCo

[2019-09-26 11:51] xperiandri commented on #14464
Ah, I got it. `navigationManager.Uri` return URL without fragment. But URL in browser contains a fragment. This way navigation happens to the same URL.

[2019-09-26 12:03] ghosttie commented on #14443
Yes

[2019-09-26 12:38] Nagarian commented on #13346
Hi, I'm encountering the same issue with the usage of Refit. following the official documentation : <https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-3.0#generated-clients> . Any update on this issue ?

NB: this is my sample implementation :
[code]

[2019-09-26 13:00] stsrki opened #14467 "dotnet pack doesn't work for static files and project reference"
Original issue: https://github.com/stsrki/Blazorise/issues/282

I have this project structure

![00](https://user-images.githubusercontent.com/900302/65687390-97887080-e069-11e9-9a44-55e9742f456a.png)

I use `dotnet pack` to create nuget packages

[code]

For root project Blazorise everything is generated just fine. But for all other projects that have reference to the `Blazorise.csproj` **content

[2019-09-26 13:01] rich25200 commented on #12890
Somebody have a solution now ??

Asp.Net Core 2.2:

[code]
Asp.Net Core 3.x:

`?????`

Thanks

[2019-09-26 13:21] kimbell commented on #13850
@javiercn I've now updated the code to support netstandard2.0/netcoreapp2.2 and netcoreapp3.0 without doing any of the suggested fixes. Things work fine in 2.0 but fail in 3.0. Either I've been depending on undocumented side-effects in 2.0, or something has changed.

When I run this code, one test fails for 3.0, but works for 2.2.
https://github.com/kimbell/ControllerDiscoveryIssue

[2019-09-26 13:30] yunduansing commented on #14450
Have you  plan to provide official  property injection in asp.net core 3.x in the future.

[2019-09-26 13:31] EdiWang commented on #13715
I have encountered this issue in my production environment. I did a simple test, create a new MVC project (VS2019 16.3.1 + .NET Core 3.0 GA).

Change HomeController code to:

[code]

Startup.cs:

[code]

Then, make a request to /Home/Index?id=1

**Expected Result:**
Showing "Test Error Action: 404"

**Actual Result:**
The request never hit "Error" action. It goes back to "Index" again, but the id

[2019-09-26 13:33] javiercn commented on #13850
@kimbell I'm not seeing the suggestions applied in your repro.

That's not the case from the repro you have there. src/Services.Common.Caching needs to be an executable.

You are giving it a type in your test assembly https://github.com/kimbell/ControllerDiscoveryIssue/blob/master/test/Services.Common.Caching.Test/Infrastructure/TestContext.cs#L23

src/Services.Common.Caching needs to be referenci

[2019-09-26 13:37] kimbell opened #14469 "Question: Automatically registering routes for 3.0"
I build a number of libraries for internal use by multiple services. Some of these register routes. i.e /info for getting various information from a service.

When building these libraries, we want to make them as easy to use as possible. Today we have based our code on the fact that Controllers are automatically included in the routing table.

With the changes to routing in 3.0, I would like to i

[2019-09-26 13:43] kimbell commented on #13850
I know I haven't made those changes and that is on purpose. The point I'm trying to make is that I have code that has existed since netcore 1.1 and has worked without any problem. When upgrading to 3.0 things start breaking.

Are these breaking changes by-design, or should the code still work unmodified on 3.0?

We have a bunch of libraries that expose Controllers for internal use. These libraries

[2019-09-26 13:50] jessehallam commented on #12890
@Grandizer @rich25200

You can still continue to use `app.UseWebpackDevMiddleware(...)` in ASP.NET Core 3.0. It will show up as deprecated but will continue to work.

[2019-09-26 14:02] poke commented on #14393
You really seem to be confusing the target framework with the version of a dependency. You can ignore .NET Standard and .NET Core in your situation, and you will still have the same problem. Imagine, there is only a single runtime, and that will never need to be update. So everything targets the same thing.

Now, if you have M.E.* 23 introduces a breaking change over M.E.* 2 to 22, then there is n

[2019-09-26 14:06] CheloXL commented on #10191
I have the exact same issue. Only the first value sent is parsed. This is not a question on how to use ASP.NET Core. The title clearly states that there is a specific feature that it is not working as expected.

[2019-09-26 14:10] javiercn commented on #13850
@kimbell They are by design. It's just reflecting changes in hosting and how MVC does discovery.

[2019-09-26 14:13] gfoidl commented on #14449
Have a safe version [here](https://github.com/gfoidl/AspNetCore/blob/3a798e7505e4311c0419fe230ae0906fa064eceb/src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs#L1201-L1289) (uses `MemoryMarshal`-methods instead of `Unsafe`). Depends on https://github.com/aspnet/AspNetCore/pull/14447, so I'll wait for that.

[code]
`:my-header` is used to see `Unknown`-path.

Is it in this way worth to

[2019-09-26 14:22] Grandizer commented on #12890
Very true. Just wanted to not have "eventual" old practices if there was a new way.  At a minimum I think the warning should give you some pointers on where to go for common X, Y and Z scenarios.  Or at least point to an in-depth article about it.

[2019-09-26 14:22] kimbell commented on #13850
Thanks @javiercn

Since this problem is currently only showing up in the test project, I have no problem adding extra code to make it work. Depending on what information we get related to #14469 we might change things.

We haven't gotten as far as running services as 3.0 yet; we are still working through our libraries. But if I understand you correctly, once we move our services to 3.0, controller

[2019-09-26 14:23] crow-ua commented on #10151
@anurse Good to know, thank you.

[2019-09-26 14:25] rockfordlhotka commented on #14393
I understand that this is complex @poke - I'm trying to figure out the guidance to provide to people going forward.

We've (and by "we" I mean a lot of authors/speakers/etc.) been telling folks to move as much of their code into netstandard2.0 projects as possible, as it was the best option to start the multi-year migration from .NET Framework to .NET Core.

I still think that's good advice.

Howe

[2019-09-26 14:25] githubfanster opened #14470 "Question: Blazor and converting Line of Business (LOB) desktop apps to web apps"
Question: Blazor and converting Line of Business (LOB) desktop apps to web apps

We would like to convert our Line of Business (LOB) desktop apps to web apps, hopefully with the help of Blazor.

One concern we have is that users of our desktop apps are used to using the keyboard for navigation (i.e., using the tab or the arrow keys) and selection (enter key).

For a list component, for example, th

[2019-09-26 14:31] glararan opened #14471 "[Blazor] Browser scroll is not set to top page on navigation"
### Describe the bug
Upgrading from preview-8 to GA caused browser is no longer reseted to top of the page on navigation.

### To Reproduce
Currently I dont know how to reproduce. New project work, then I simply broke it somehow, any idea how to debug it?

### Expected behavior
Reset navigation to scrollY = 0

### Additional context
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100

[2019-09-26 14:36] Tratcher commented on #13715
@EdiWang see the workaround above https://github.com/aspnet/AspNetCore/issues/13715#issuecomment-528929683

[2019-09-26 14:37] EdiWang commented on #13715
@Tratcher thanks, the workaround fixed the problem.

[2019-09-26 14:37] Tratcher commented on #7501
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2019-09-26 14:51] javiercn commented on #13850
@kimbell Controllers have always been discovered from other assemblies. We used to build a list of application parts (the raw materials for controller discovery, etc) using the dependency context. That might have changed in 3.0. I believe @pranavkm did some work on it.

[2019-09-26 14:58] Nagarian commented on #13346
After digging into the problem, I've found that this is a "desired regression" introduced with this [PR](https://github.com/aspnet/Extensions/pull/1563) . You can follow [this issue](https://github.com/aspnet/Extensions/issues/2077) or this [Feature Request](https://github.com/aspnet/Extensions/issues/2038) to find a potential update on it.

Until a solution is found, I will just copy-paste the fu

[2019-09-26 15:10] SnakyBeaky commented on #14462
That seems to work, thanks @javiercn .

I'm sure this will come up frequently when migrating libraries to 3.0, this piece of information should be somewhere visible.

[2019-09-26 15:12] javiercn commented on #14462
It's likely on the migration guide.

[2019-09-26 15:12] #14462 closed

[2019-09-26 15:17] scottaddie commented on #14462
@SnakyBeaky There's a related bit here: https://docs.microsoft.com/aspnet/core/migration/22-to-30?view=aspnetcore-3.0#framework-reference. @DamianEdwards and I are collaborating on some prescriptive guidance in the form of a larger doc. That work is being tracked at https://github.com/aspnet/AspNetCore.Docs/issues/14309.

[2019-09-26 15:32] felixclase opened #14473 "Question: Single-file deployments are not supported in IIS"
![image](https://user-images.githubusercontent.com/1153361/65702585-44a2bf00-e051-11e9-8f4f-88c05bf5f60f.png)

![image](https://user-images.githubusercontent.com/1153361/65702623-54220800-e051-11e9-8c53-793c7c552ec4.png)

![image](https://user-images.githubusercontent.com/1153361/65702641-5c7a4300-e051-11e9-8f30-72cfbe72e261.png)

???

[2019-09-26 15:33] rynowak commented on #13346
The intent here was to help people catch mistakes in some invalid cases. It looks like this is blocking some legitimate usage, and we'll fix it.

[2019-09-26 16:00] pranavkm commented on #14454
@hanxinimm there are a couple of breaking changes in ASP.NET Core 3.0. See https://github.com/aspnet/Announcements/issues/326, https://github.com/aspnet/Announcements/issues/325. The type was made `internal` since it's an internal implementation detail and `Microsoft.AspNetCore.Mvc.ApiExplorer` is no longer being produced.

That said, to target ASP.NET Core 3.0 in your library, you'll need a `Fram

[2019-09-26 16:00] #14440 closed

[2019-09-26 16:04] ACertainDeveloper opened #14474 "Blazor server SignalR disconnects when a component is included in both a razor page and a layout page"
### Describe the bug
Blazor server SignalR disconnects when a component is included in both a razor page and a layout page.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0'
2. Create a new asp.net core web application
3. Add blazor.server.js to layout page.
4. Add MapBlazorHub() and AddServerSideBlazor() to Startup
5. Add a component to both the layout

[2019-09-26 16:06] ACertainDeveloper commented on #14474
<a href="https://i.stack.imgur.com/NOblJ.png">Screenshot of error</a>

[2019-09-26 16:09] poke commented on #14393
But those libraries *are* compatible with netstandard2.0 and the .NET Framework. That’s the thing here; this is not something netstandard is there to solve, this is a normal dependency versioning issue that has nothing to do with .NET Standard, .NET Core or a migration from .NET Framework to one of those. The same thing happens as well when you are just using .NET Framework.

You are *not* ignorin

[2019-09-26 16:11] SledgeHammer01 commented on #14396
Is there a work-around? The goal is to be able to log the raw request in a central location.

[2019-09-26 16:12] rynowak commented on #14453
Can you share the call-stack of the exception you're hitting?

health checks already creates a scope when it runs so all of your checks will share the same scope. https://github.com/aspnet/Extensions/blob/master/src/HealthChecks/HealthChecks/src/DefaultHealthCheckService.cs#L53

I expect the problems that you'd hit are related to executing checks *concurrently* which DbContext doesn't support. We

[2019-09-26 16:13] rockfordlhotka commented on #14393
I think you are missing the practical reality here, at least given the use of NuGet.

If I target ns2 _with no dependencies_ then sure, my code can run everywhere. But as soon as I create a NuGet package with an ns2 assembly _that has dependencies_ then my package is _only useful for .NET Core 2 (or 3) because my dependencies have locked me in.

Since there's no NuGet target to solve this problem

[2019-09-26 16:15] poke commented on #14393
A .NET Standard library can only reference other .NET Standard libraries, so no, every .NET Standard library will stay useful for all the implementations (.NET Core, .NET Framework) regardless of how many dependencies it has.

Again: Your problem is not related to .NET Standard at all. This is just basic versioning hell, which always existed.

[2019-09-26 16:16] rockfordlhotka commented on #14393
I'm not saying this is a problem to solve - or that can be solved!

I'm saying that people like me need to provide guidance to enterprise devs on the best strategy for them to use as they navigate multi-year migrations from .NET Framework to the future.

[2019-09-26 16:17] rockfordlhotka commented on #14393
It is worse now because of the faster cadence of releases, and the decoupling of dependencies from major version releases. We've left the "safe" world of .NET in the past, and are getting dangerously close to the utter chaos of JavaScript.

[2019-09-26 16:17] rynowak commented on #14451
Ok, here I am. You're wrong 😆

@Bartmax  - you're running into a common point of confusion/contention with `[Required]`. `[Required]` is defined-as **not-null**. An integer is never null, so it will never trigger a validation error with `[Required]`. All of the types in `System.Collections.DataAnnotations` refer to the state of a model object once binding is complete - they don't say anything abou

[2019-09-26 16:18] poke commented on #14393
If that’s really what you think how it was, then I suppose you were living a lie unfortunately. Nothing really changed in that regard.

[2019-09-26 16:20] #14257 closed

[2019-09-26 16:20] davidfowl commented on #14396
@pranavkm Did we change anything here that you're aware of?

[2019-09-26 16:23] javiercn commented on #14451
I wasn't, this is what I meant. But maybe my English is broken :)

[2019-09-26 16:32] mkArtakMSFT commented on #14474
Thanks for contacting us, @ACertainDeveloper.
@pranavkm can you please look into this? Thanks!

[2019-09-26 16:35] Tratcher commented on #14449
Yes we're interested in improving the performance of the HTTP/2 scenario, but our first priority is high level optimizations that are likely to refactor code like this. We'll revisit micro-optimizations like this after the larger changes stabilize.

E.g. https://github.com/aspnet/AspNetCore/issues/4761 may make IsPseudoHeaderField unneccisary.

[2019-09-26 16:36] Tratcher commented on #14473
@shirhatti

[2019-09-26 16:37] rockfordlhotka commented on #14393
Maybe. Things were reasonably manageable from 2005-2015 as long as you stayed away from mono/Silverlight/WP/Xamarin/WinRT - things most enterprise devs did avoid.

_I_ chose to dive into all of them, so nothing you are saying is remotely new to me. I've lived the versioning life over the entirety of .NET's existence.

I also work very hard to provide guidance and support so _most people_ don't hav

[2019-09-26 16:38] mkArtakMSFT commented on #14471
Thanks for contacting us, @glararan.
Unfortunately we can't reproduce this and we will need a minimalistic repro project (a GitHub repo will be handy) to investigate.

[2019-09-26 16:40] MorenoJesus opened #14476 "Could not load type 'Microsoft.AspNetCore.Authentication.Internal.RequestPathBaseCookieBuilder'"
### Describe the bug
Created a new project with ASP.Net Core 3 with Angular template.  Configured authentication support with OpenIdConnect. Start application on local to test authentication and received an internal sever error:
TypeLoadException: Could not load type 'Microsoft.AspNetCore.Authentication.Internal.RequestPathBaseCookieBuilder' from assembly 'Microsoft.AspNetCore.Authentication, Vers

[2019-09-26 16:43] mkArtakMSFT commented on #14467
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2019-09-26 16:46] mkArtakMSFT commented on #14464
Thanks for contacting us, @xperiandri.
Can you please share a complete sample app (ideally as a GitHub repo) so that we can investigate it?

[2019-09-26 16:47] Bartmax commented on #14451
Ok, I think both are 👍 and also missing the point here, sorry for not making it clear enough.
So let me address what's the issue or my point in here.

As @rynowak said,

From a " concept " point of view, we now have, with c#8, string as **not-null**, following the same logic, a non-null value never trigger a validation error with [Required] before, but as of right now, a non-value string will trig

[2019-09-26 16:49] mkArtakMSFT commented on #14429
Thanks for contacting us.
Seems this is resolved already.

[2019-09-26 16:49] #14429 closed

[2019-09-26 16:51] ciacco85 commented on #12890
I understand that it's a matter of priorities and, with all the new features in .net core 3.0, this wasn't a priority.
For the future, is it al least planned a way to inject some node code in main process? I
n this way you don't have to maintain all SPA framework "adapter", but only leave the possibility to run any "ng build" or  "npm run webpack --whatever parameter" in the main thread

[2019-09-26 16:53] SteveSandersonMS commented on #14470
Yes, using events to respond to keyboard input sounds right to me.

You'll have to try it to verify for sure that your UI perf scales in the way you need. However Blazor automatically uses event delegation for all event handlers, so even if you have a million `@onkeypress` registrations, it will only register a single native JavaScript event for `keypress`, and deals with dispatching callbacks to

[2019-09-26 16:53] #14470 closed

[2019-09-26 16:54] gfoidl commented on #14449
Ah, good to know. I'm missing the big picture here, thanks for pointing to another puzzle of it.

I'll keep my eyes open, maybe there's a good oportunity.

[2019-09-26 17:00] mkArtakMSFT commented on #14431
Thanks for contacting us.
Can you please provide more information about what is the `failure` you're referring to?

[2019-09-26 17:02] mkArtakMSFT commented on #14428
Thanks for contacting us.
The behavior you're observing here is by-design.
`asp-for` purposefully overwrites the content of the text area.

[2019-09-26 17:02] #14428 closed

[2019-09-26 17:05] anurse commented on #13717
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-09-26 17:05] #13717 closed

[2019-09-26 17:12] stsrki commented on #14467
Hi @mkArtakMSFT

I would like it to be a question but I think it's a bug in `dotnet pack`. What I try to accomplish is to pack Razor Static Libraries and create nuget packagea. As you can see in the previous example every project is RCL.

The problem is indicated for every project except for root project named Blazorise. Every project in a solution have a reference to Blazorise.

When I run `dotne

[2019-09-26 17:12] shirhatti commented on #14473
This is a known limitation of in-process hosting. We should look into this for 5.0
cc @jkotalik

[2019-09-26 17:20] Tratcher commented on #14473
Doc bug, release notes, etc.?

[2019-09-26 17:25] anurse commented on #14229
HTTP/1.1 is not HTTP/1.0 ;). If using HTTP/1.1 the `Host` header is generally *required*. Can you capture the original headers sent by the load balancer (**before** the forwarded headers middleware runs)? That might help us identify why `X-Original-Host` is showing as empty.

[2019-09-26 17:25] blowdart commented on #14476
@HaoK @javiercn

[2019-09-26 17:28] javiercn commented on #14476
What does this mean. Can you provide more details?

[2019-09-26 17:30] anurse commented on #14422
I'm not able to repro an issue immediately in a Console app. This may be in how we interact with the serializer. @halter73 could you hack up a quick attempt to repro this and do a quick investigation?

[2019-09-26 17:43] meron1122 commented on #7246
I have this issue too. But for me is issue:

`System.IO.IOException: The decryption operation failed, see inner exception. ---> Interop+OpenSsl+SslException: Decrypt failed with OpenSSL error - SSL_ERROR_SSL. ---> Interop+Crypto+OpenSslCryptographicException: error:14094412:SSL routines:ssl3_read_bytes:sslv3 alert bad certificate
   --- End of inner exception stack trace ---
   at Interop.OpenSsl.

[2019-09-26 17:45] pranavkm commented on #14396
The Json.NET based input formatter buffers the request body to avoid synchronously reading the request body. MVC avoids double buffering if it thinks that the request is already buffered: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs#L132

[2019-09-26 17:48] mkArtakMSFT commented on #14439
This issue was moved to dotnet/project-system#5546

[2019-09-26 17:48] #14439 closed

[2019-09-26 17:54] dasMulli commented on #14453
We wanted to create both low-level technical health checks (AddDbContextCheck) and business health checks - e.g. "a lot of imports are failing", "work in progress is stacking up".

We assumed that health checks would be a good abstraction for composing health status. But apparently the lack of scoping with some EF specifics defies that.

I'd argue that in order to be a good compositional pattern,

[2019-09-26 17:57] scalablecory opened #14479 "Register page on Angular SPA Template"
_From @kwakuduahc1 on Thursday, September 26, 2019 3:02:48 PM_

Register page on Angular SPA Template

I cannot find the register page/view in the new Angular SPA template. I have looked into the pages and ClientApp folder but I can neither find the controller for authentication nor the view/page for it.

Clicking on register loads the page alright.

Thank you.

_Copied from original issue: dotnet

[2019-09-26 17:59] victorprocure commented on #13055
I'm also receiving this issue now, when trying to install the new SDK 3.0.100 (x64) version of dotnet core

[2019-09-26 18:04] #3755 closed

[2019-09-26 18:05] Pilchie commented on #8945
@anurse can you assign?

[2019-09-26 18:05] Pilchie commented on #9573
@anurse is this ready to be done now?  Should it be assigned?

[2019-09-26 18:22] anurse commented on #9573
Yeah, let's do it. It seems @BrennanConroy has volunteered ;P.

[2019-09-26 18:28] MCFHTAGENTS opened #14480 "Question: HasNoKey and unit testing"
With the move from DbQuery to DbSet and a call to HasNoKey for a view in MVC Core what is the expected pattern for seeding data for unit testing?

If I call the Add method on my DbSet<> object it fails Unable to track an instance of type xxx because it does not have a primary key. Only entity types with primary keys may be tracked.

Which makes sense.  So is there a way of getting round this for t

[2019-09-26 18:33] kwakuduahc1 commented on #14479
Thank you @scalablecory, it is easily forgettable that netcore is not the same as aspnet netcore

[2019-09-26 18:38] anurse commented on #8945
Sure, I assign it to myself :). https://github.com/aspnet/AspNetCore.Docs/pull/14642

[2019-09-26 18:38] nickalbrecht commented on #13839
I'm not sure I can provide the dump, it's not an app with our own information, but a client's with their customer information in it. That and the sucker was a gig and a half because of native memory usage. If I remember, the actual managed memory footprint was only like 200MB.
I will definitely look at your suggestion of an subclass. If I get some time, I will try to isolate out their private info

[2019-09-26 18:42] vsfeedback opened #14481 "AuthenticationMiddleware pipeline issue"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/733089/authenticationmiddleware-pipeline-issue.html)._

---
Using .net core 2.2 I started to create my own SOAP service with basic authentication. This required build a custom middleware. I did it based on Security project. I used https://github.com/aspnet/Security/blob/mas

[2019-09-26 18:46] shah-123 commented on #14443
I ran into same issue: With Framework Dependent publish I was getting
500.0 - ACNM In-Process Handler Load Failure
500.31 - ACNM Failed to find Native Dependencies

After granting IIS_USERS Read/Write permission on the publish folder mapped to IIS site resolved the issue for me.

[2019-09-26 18:57] AsValeO commented on #5900
Looks like behavior still the same in 3.0.

[2019-09-26 19:03] rborosak commented on #13452
I think this is a missing feature.. When exception is thrown I would also like to have a centralized place to capture all unhandled exceptions and do something.. Either display it in a popup, log it somewhere, send to the server or whatever..

[2019-09-26 19:04] gradx commented on #4695
3.0 shipped, please reopen

[2019-09-26 19:05] dyslexicanaboko commented on #3803
On the off chance that this could help someone, this blog post helped me figure out my slowness issue:
[https://weblog.west-wind.com/posts/2018/Dec/31/Dont-let-ASPNET-Core-Default-Console-Logging-Slow-your-App-down](https://weblog.west-wind.com/posts/2018/Dec/31/Dont-let-ASPNET-Core-Default-Console-Logging-Slow-your-App-down)

## &tldr;
If your logging levels are set to "debug", "trace", "informat

[2019-09-26 19:22] #13969 closed

[2019-09-26 19:22] #13971 closed

[2019-09-26 19:22] #13973 closed

[2019-09-26 19:22] #13976 closed

[2019-09-26 19:22] #13987 closed

[2019-09-26 19:22] #13988 closed

[2019-09-26 19:22] #13990 closed

[2019-09-26 19:22] #13994 closed

[2019-09-26 19:22] #13998 closed

[2019-09-26 19:22] #13999 closed

[2019-09-26 19:22] #14000 closed

[2019-09-26 19:22] #14177 closed

[2019-09-26 19:22] #14180 closed

[2019-09-26 19:23] jbomhold3 commented on #13902
Even if we don't get a full debugging session in VS soon. We need to have a way to enable debugging when the app starts. Right now you have to press the key so it's imposable to debug startup objects. Ig an on init function in the main layout or the index page.

[2019-09-26 19:33] vsfeedback opened #14482 "asp.net Error Page Shows Incorrect Line Number"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/683848/aspnet-error-page-shows-incorrect-line-number.html)._

---
When debugging am ASP.NET website, error pages are displaying incorrect line numbers.

---
### Original Comments

#### Visual Studio Feedback System on 8/8/2019, 11:04 PM:

<p>We have directed your feedback t

[2019-09-26 19:33] anurse commented on #14482
Can you provide a runnable sample application that reproduces the problem?

[2019-09-26 19:33] glararan commented on #14471
@mkArtakMSFT Ok I created minimalistic repro of huge project. That minimalistic repro contains still bug. Is it possible to send it privately? Do you need database aswell?

[2019-09-26 19:42] Tratcher commented on #14481
Authentication is independent of Authorization. The Authentication middleware is responsible for identifying users. Endpoints then need to check the user (or lack thereof) to enforce authorization. If you want to refuse all non-authenticated users that can be done in a simple middleware after Authentication as you've indicated, and we've added a new Authorization middleware in 3.0 that can be conf

[2019-09-26 19:47] Tratcher commented on #14476
It looks like you're mixing dependency versions. Please share all of your dependency versions from your csproj file.

[2019-09-26 19:50] aspnet-hello opened #14483 "Bad responses: GrpcServerStreaming-GrpcNetClient, GrpcServerStreaming-GrpcNetClient, GrpcUnary-1MB-GrpcNetClient, GrpcUnary-1MB-GrpcNetClient, GrpcUnary-GrpcNetClient ..."
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| GrpcServerStreaming-GrpcNetClient | Linux, Physical, h2, KestrelSockets | 9/20/19 9:29:10 PM +00:00 | 64 |
| GrpcServerStreaming-GrpcNetClient | Windows, Physical, h2, KestrelSockets | 9/20/19 10:06:55 PM +00:00 | 64 |
| GrpcUnary-1MB-GrpcNetClient | Linux, Physical, h2, K

[2019-09-26 19:56] davidfowl commented on #5900
Update to use the generic host?

[2019-09-26 20:00] ghosttie commented on #14443
Thanks @shah-123 but that didn't fix it

[2019-09-26 20:14] ghosttie commented on #14443
I've figured it out!

The main project had project references to other projects that had spaces in their package ids, which somehow kept them from being published correctly (even though there was no error at publish time).

Although there's a simple workaround (remove the spaces) I think this should be fixed, because it worked in previous versions, the error message doesn't lead to a solution, and

[2019-09-26 20:26] blowdart commented on #14481
We're closing this issue as the behaviour discussed seems to be by design.

[2019-09-26 20:26] #14481 closed

[2019-09-26 20:42] AsValeO commented on #5900
It works with generic host. Damn, I'm so far behind..

[2019-09-26 20:57] mkArtakMSFT commented on #14471
@glararan we are a small team and don't have capacity to debug actual projects.
The reported concern on this issue is scrolling, which shouldn't involve database at all. The ideal repro project is a new project with only the minimum required  content resulting in the issue to reproduce.

[2019-09-26 20:58] #12322 closed

[2019-09-26 21:04] HughPH opened #14485 "CSB compile creates different Mono.Security (& others) too often"
### Describe the bug
Even if I change a non-functional part of a .razor file (e.g. add or modify a style property of an element) and rebuild, the following files each change:
Mono.Security.dll
System.Net.Http.dll
System.dll
System.Core.dll
mscorlib.dll

This is notable because the smallest change causes the AWS S3 sync command to copy 2.1Mb.

The same happens when innocuously changing .cs files (e

[2019-09-26 21:06] anurse commented on #14250
We don't have a concrete sample for using the existing auth providers.

Yes, you'd have to unpack the `AddGoogle` method (look at the implementation) and adapt it to the patterns shown in the sample you referenced above.

[2019-09-26 21:09] anurse commented on #14252
@knoxi It seems like this is a result of some refactoring in the IdentityModel libraries. It may be that OpenIddict is using a version of these types that is incompatible with the version ASP.NET Core uses.

@jmprieur do you have any context on this change?

[2019-09-26 21:12] phenning opened #14486 "Project templates need to be updated for 3.1"
Project templates need to be updated in the release/3.1 branch.
* identities should be updated from 3.0 to 3.1
* precedence should be incremented to 6000

Until this is done, the 3.0 templates will be superceded by the 3.1 templates in Visual Studio. Additionally, you won't be able to install the 3.0 templates into the 3.1 template hive via dotnet new -i  template.3.0::version

### To Reproduce
St

[2019-09-26 21:21] anurse commented on #13572
If you're explicitly authorizing against a custom resource like `Models.Member` then that's the resource you'll get in the handler. If you need access to other data (like the `Endpoint`), you'll need to add that to the resource you provide when authorizing. You should be able to access it off the `HttpContext` when you create your resource. For exmaple:

[code]

[2019-09-26 21:29] mkArtakMSFT commented on #10191
Thanks for contacting us, @miguelhasse.
Our recommendation in this area is for customers to come up with a custom Model binder, which will do the needful.
This is not something we hear from customers periodically, so we won't spend resources on doing this as there are more important areas to focus on. If, however, you would like to send us a PR with the fix, we'll happily review it.

[2019-09-26 21:49] glararan commented on #14471
@mkArtakMSFT Ok, my apologies. I figured out which part is causing issue. Still cant figure out why.

I have `MainLayout `containing component `<BusBar></BusBar>`
with following code

`@inherits OwningComponentBase<myService>

<div class="card rounded-0" id="bus-bar">
    <div class="card-header" id="bus-bar-head" data-toggle="collapse" data-target="#bus-bar-content" aria-expanded="true" aria-cont

[2019-09-26 21:50] #14483 closed

[2019-09-26 22:09] #13191 closed

[2019-09-26 22:28] halter73 opened #14487 "Move AddJsonProtocol to the same namespace as HubConnectionBuilder"
Today, HubConnectionBuilder.AddJsonProtocol() doesn't show up in intellisense unless you're `using using Microsoft.Extensions.DependencyInjection;` which seems wrong.

[2019-09-26 22:42] jmprieur commented on #14252
I don't. @brentschmaltz will know.

[2019-09-26 22:47] mkArtakMSFT commented on #14486
Thanks @phenning. @ryanbrandenburg can you please handle this? Thanks!

[2019-09-26 22:50] aspnet-hello opened #14488 "Bad responses: GrpcServerStreaming-GrpcNetClient, GrpcServerStreaming-GrpcNetClient, GrpcUnary-1MB-GrpcNetClient, GrpcUnary-1MB-GrpcNetClient, GrpcUnary-GrpcNetClient ..."
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| GrpcServerStreaming-GrpcNetClient | Linux, Physical, h2, KestrelSockets | 9/20/19 9:29:10 PM +00:00 | 64 |
| GrpcServerStreaming-GrpcNetClient | Windows, Physical, h2, KestrelSockets | 9/20/19 10:06:55 PM +00:00 | 64 |
| GrpcUnary-1MB-GrpcNetClient | Linux, Physical, h2, K

[2019-09-26 23:06] halter73 commented on #14422
I'm not seeing any double curly braces in my testing. I was able to reproduce the following error:

[code]

The cause of the error wasn't an issue with `{{` (that wouldn't even be valid JSON), but because the System.Text.Json-based 3.0 client camelCases the property names, but the Newtonsoft-based 2.2 server does not accept it. You can workaround the camelCase issue, by forcing the System.Text.Jso

[2019-09-26 23:15] halter73 commented on #14396
https://github.com/aspnet/AspNetCore/blob/b44e9c6a24528c5ebec95da60295b4b74f83f8ec/src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs#L173-L176

The above seems super-suspect. It appears as if NewtonsoftJsonInputFormatter assumes that if `readStream` is a FileBufferingReadStream, that it was created here:

https://github.com/aspnet/AspNetCore/blob/b44e9c6a24528c5ebec95da60295b4b74f83f8

[2019-09-26 23:25] moataz1991 opened #14489 "Blazor (Server-Side) RouteAttribute is broken ?"
Hello,
I migrated from preview 7 to release Core 3.0
i have a library with only-class components
i have this `LocationViewModel:ComponentBase` it was working like a charm but not anymore :(

**My ViewModel:**
[code]
**My Layout:**
[code]
**My _Host.cshtml**
[code]

**My app.razor**
[code]

what happens is that my `LocationViewModel` does not render when i go to location '~base/location'

i tried t

[2019-09-26 23:27] pranavkm commented on #14396
Yeah, that's the bug. We'll need to set a flag that says that MVC owns the stream. @mkArtakMSFT this is a small enough change we could consider squeezing in for 3.1.

[2019-09-26 23:35] ajaybhargavb commented on #14486
@mkArtakMSFT reassigning this back to @ryanbrandenburg because he missed that this was assigned to me and already sent a PR.

[2019-09-26 23:44] mkArtakMSFT commented on #14269
Dupe of #14277

[2019-09-26 23:52] DataJuggler opened #14491 "Question: How Do You Add A New Blazor .razor page?"
I know how to copy an existing Blazor page, but if I click on the Pages folder in a Blazor project, the Add New Razor page gives me an error.

Is this a bug, or I am not aware of the proper way of doing this?

![Add Razor Page](https://user-images.githubusercontent.com/26331133/65732216-68d0c100-e08e-11e9-83a0-051d96b5e882.png)
![Add New Blazor Page](https://user-images.githubusercontent.com/26331

[2019-09-27 00:12] DataJuggler commented on #14491
I just reread the Blazor To Do Tutorial I had followed, and I realize this is the source of my confusion:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/build-your-first-blazor-app?view=aspnetcore-3.0#build-a-todo-list

Build a todo list
Add a new component to the app that implements a simple todo list.

Add an empty file named Todo.razor to the app in the Pages folder:

It would be reall

[2019-09-27 00:33] miguelhasse commented on #10191
@mkArtakMSFT I know the solution to the issue, so I'll follow your suggestion and send you a PR with the fix.

[2019-09-27 00:39] henrik-me commented on #14252
I'm wondering where you got Microsoft.IdentityModel.JsonWebTokens, v6.2.0-preview-60906195846 from. That is at this time internal only.

[2019-09-27 00:50] swordream opened #14493 "Data annotation localizaton in blazor client app"
Just like the asp.net core mvc apps, using AddDataAnnotationsLocalization to provide Data annotation localizaton.

[2019-09-27 00:58] PinpointTownes commented on #14252
From the AzureAD MyGet feed.

Not without reintroducing horrible workarounds, since `JsonWebTokenHandler` in 5.x has a few annoying bugs and limitations. Most notably, it doesn't support `SecurityTokenDescriptor.Subject` (so you can't use a `ClaimsIdentity` to create a token) and it produces tokens with completely non-standard `iat`/`exp`/`nbf` claims:

https://github.com/AzureAD/azure-activedirec

[2019-09-27 01:12] davidfowl commented on #4695
cc @jkotalik

[2019-09-27 01:12] halter73 commented on #14422
@BrennanConroy pointed out to me that SignalR 1.1 (which corresponds with ASP.NET Core 2.2) [already defaults to camelCase](https://github.com/aspnet/AspNetCore/blob/v2.2.7/src/SignalR/common/Protocols.Json/src/Protocol/JsonHubProtocol.cs#L733). I confirmed that sending camelCased objects to the 1.1 server does indeed work with a custom type.

I'm not sure why the PassthroughJsonNamingPolicy chang

[2019-09-27 01:14] daniel-white opened #14494 "Add async application initialization before RunAsync"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to run various steps before `RunAsync`. EF core migrations, setting up scheduled tasks, validating configuration, etc.

### Describe the solution you'd like
 It would be nice if there was an `InitializeAsync` that happened inside of there and a common `IAs

[2019-09-27 01:28] daniel-white commented on #14494
I’d be happy to champion and write this in if so inclined.

[2019-09-27 01:29] #14487 closed

[2019-09-27 01:31] halter73 commented on #14487
Not only would this be breaking, but this is also used by the server. 😢

[2019-09-27 01:44] JamesNK commented on #14488
It's back? @sebastienros

[2019-09-27 01:45] OdeToCode opened #14955 "Not Able to UseInMemoryDatabase with WebApplicationFactory"
This is related, I think, to the confusion expressed in aspnet/EntityFrameworkCore#17224. No matter what I try, I cannot get an InMemoryDatabase into the service collection for an ASP.NET Core app. This was a scenario that was working by following [the docs](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.0), but isn't working since I moved to 3.0.

### Steps

[2019-09-27 01:50] aspnet-hello opened #14495 "Scenarios are not running: FortunesPostgreSql-Actix, Json-Actix, Plaintext-Actix"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| FortunesPostgreSql-Actix | Linux, Physical, http, KestrelSockets | 9/26/19 1:22:22 AM +00:00 |
| Json-Actix | Linux, Physical, http, KestrelSockets | 9/26/19 1:21:28 AM +00:00 |
| Plaintext-Actix | Linux, Physical, http, KestrelSockets | 9/26/19 1:20:37 AM +00:00 |

[Logs](https://ak

[2019-09-27 01:50] aspnet-hello opened #14496 "Bad responses: LinkAThonGrpcTrimmedAndR2R, LinkAThonGrpcTrimmedAndR2RSingleFile"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| LinkAThonGrpcTrimmedAndR2R | Linux, Physical, http, KestrelSockets | 9/27/19 1:39:45 AM +00:00 | 54466 |
| LinkAThonGrpcTrimmedAndR2RSingleFile | Linux, Physical, http, KestrelSockets | 9/27/19 1:41:25 AM +00:00 | 400998 |

[Logs](https://aka.ms/aspnet/benchmarks/jenkins)

[2019-09-27 03:37] TanvirArjel opened #14497 "What is Newtonsoft.Json's ReferenceLoopHandling equivalent in System.Text.Json?"
To ignore referencing loop, with Newtonsoft.Json, we do as follows:

[code]

My question is what is equivalent in `System.Text.Json`?

[2019-09-27 03:46] ricardodsanchez commented on #14413
@mkArtakMSFT I'm getting the same error on Safari Version 13.0.1 (14608.2.11.1.11) with Mac OS Version 10.14.6 (18G95)

Do you have any idea when the next release with a fix will be out?

[2019-09-27 03:47] davidfowl commented on #14497
There is none.

[2019-09-27 03:48] davidfowl commented on #14494
Before RunAsync? What do you mean exactly and why can’t these be iHostedServices?

[2019-09-27 06:21] hannespreishuber opened #14498 "Visual Studio 2019 Preview miss Blazor Template"
Clean new INstall of Visual Studio 2019 Preivew- with all updates

Create Blazor Server App

.Razor files are uncolored in edtor

Visual Studio installer dialog comes up- is already running-

closing dialog- see nothing happen

Starting Project "Missing asp.net core-modul for hosting … iis express"
2nd machine everything works fine

[2019-09-27 06:37] enkodellc commented on #13917
One workaround that I have had success with is using Require.js in my index.html and then creating a function in my main that will load your page specific javascript.

`    <script data-main="javascript/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>`

Main.js

[code]
Then in my blazor / razor page:
[code]

[2019-09-27 06:42] taori opened #14499 "Question: Is it a bug that dotnet new razorclasslib -s true"
... results in TargetFramework `netcoreapp3.0` while -s false results in `netstandard2.0`?

That means one version can be targeted by other netstandard projects, while the other one can not. Seems weird. Is this intentional?

[2019-09-27 06:57] hannespreishuber opened #14500 "Bind Nullable InputCheckbox"
<InputCheckbox @bind-Value="item.bAbo" />

bAbo is bool?

have read there have been a discussion about that topic, but lost the result

Should work - doesnt compile on my machine
Blazor final

[2019-09-27 07:11] jbomhold3 commented on #10163
Edge Chromium still reports as  Chrome. so detecting it is unreliable that might not break once edge comes out of dev. The vendor is even still reporting as Google Inc. How about including the instructions for both.   Is this approach is good I will send a pr for it

MonoDebugger.ts
line 29   console.error('Currently, only Chrome Or Edge Dev is supported for debugging.');

BlazorMonoDebugProxyAppB

[2019-09-27 07:39] aL3891 opened #14501 "View assembly location fails when path contains special characters"
I'm not sure this is really a bug in _asp.net_ or not but anyway,

As part of a service fabric deployment i have an app deployed in the following folder
`C:\SFDevCluster\Data\_App\_Node_0\Fabric.AdminType_App121\Services.AdminPanelPkg.Code.5.29.0.3419f33.lu1b%2B%\`  however when the app starts if failes to locate one of the view assemblies because its trying to use the following path `C:\SFDevClus

[2019-09-27 08:36] Alienroid commented on #10475
Following this.

I can create my own signalr core connection (ie endpoints.MapHub...). It works fine on localhost. However, when I deploy to Azure. I get all kinds of errors.

1) Error: The circuit failed to initialize. (this happens when using Azure Signalr service)
2) System.Net.Http.HttpRequestException: An attempt was made to access a socket in a way forbidden by its access permissions.  --->

[2019-09-27 09:14] tebeco opened #14502 "[FEATURE][QUESTION] AspNetCore server, choose port range and strategy for the host"
Hello,

As i am trying to debug distrubed lock / cluster feature, i am trying to run the exact same `csproj` by running either :
* Multiple `dotnet run` in multiple host
* It could also be multiple `Services/Systemd` running on the same host
* Vs2019 > `Sln Explorer` > right click > `Debug` > `Start new instance`
* A single `F5` would be amazing

The main issue here is that, i could not find a way

[2019-09-27 09:35] MarekAKubis commented on #14481
I fully agree with your comment about authentication and authorisation however you menioned only one feature of authentication (identifing users). But authentication is also "a security measure designed to protect a communications system against acceptance of a fraudulent transmission or simulation by establishing the validity of a transmission, message, or originator." And that's what I did. I ha

[2019-09-27 10:37] MorleyDev commented on #12890
For my purposes, I have a site that uses each page as a mini-SPA using React, with server-side rendering, but still using MVC for routing and HTML generation. As well as several existing React SPA sites that use MVC but were not generated using create-react-app. NodeServices is used to execute the serverside rendering for these sites.

We also use [material-ui](https://material-ui.com/) for our UI

[2019-09-27 10:38] MisinformedDNA commented on #13448
@pranavkm Can you please reopen?

[2019-09-27 10:39] jez9999 opened #14503 "Default identity causes composite keys in EF Core that are too large"
### Describe the bug
When I create a DB context based on the default ASP.NET identity:
[code]

... then scaffold a DB migration to implement it, and script it to SQL, I get the following warnings from SQL Server:

These composite key fields are `nvarchar`s that should be limited in length so as to stay within the 900 byte limit.

### To Reproduce
Steps to reproduce the behavior:
1. Create DB conte

[2019-09-27 10:44] ig-sinicyn opened #14504 "NewtonsoftJsonInputFormatter does not threat FormatException as MalformedInputException"
### Describe the bug
NewtonsoftJsonInputFormatter does not handle malformed input at least for DateTime fields.
So, malformed request results in unhandled exception and http 500 response.

### To Reproduce
Net core 3, controller:
[code]
setup:
[code]
UPD, the
[code]
does not help.

request:
[code]

### Actual behavior
http 500, exception stack:
[code]

### Expected behavior
 Invalid input should b

[2019-09-27 11:03] MV10 commented on #14491
I always go to Add -> New Item -> Razor Component ... but I realize that isn't quite the same thing.

[2019-09-27 11:15] johanhugg opened #14506 "Question: Plans on migrating TestServer to use HostBuilder instead of WebHostBuilder?"
### Is your feature request related to a problem? Please describe.
We were upgrading our 2.2 template to 3.0 and we use both F# and C#. C# was pretty much painless.

However we use F# in a way that is not reliant on classes in our startup and configuration.

In our tests we use the TestServer get an HttpClient, now when we've migrated to use HostBuilder, it doesn't work. Migrating to WebApplicatio

[2019-09-27 11:43] aventus13 opened #14507 "[Blazor Server] Component doesn't update (re-renders) until method execution completes"
**Problem Description**
I'm writing a search functionality where search logic executes upon clicking a button. In order to disable searching while the existing search runs, I'm using an `isSearching` boolean variable which determines whether disabled or enabled button is rendered. Changing `isSearching` to `true` doesn't however affect rendering of the component, as it doesn't re-render until the

[2019-09-27 12:11] atrauzzi commented on #12890
I don't think either of those libraries are good to suggest as alternatives.

[2019-09-27 12:27] iangorse opened #14508 "Complete beginner help Getting started"
Hi,

I would like to download the asp.net core source, so I can browse the code, make changes and see how it works.

My goal is to be able to right click a method in Visual Studio 2019, Goto Definition, and see the code behind the function ( for example, app.UseRouting() ). I am aware I can see this on github but having the ability to directly browse the source in my project is a massive benefit f

[2019-09-27 12:27] thorgeirk11 commented on #5333
Has there been any progress made on this issue?
Can the server disconnect a client without having to send a message to the client?

[2019-09-27 12:38] akorchev opened #14510 "[Blazor] Adding a Blazor page named Task.razor breaks compilation"
### Describe the bug

Blazor application created from the default blazorserver template fails to compile if it contains a page called Task.razor.

### To Reproduce

Steps to reproduce the behavior:
1. Using official .NET Core 3.0 create a new blazor server application by running `dotnet new blazorserver -o BlazorApp1`
2. Add a new page called `Task.razor`.
3. Try to run the application
4. See the

[2019-09-27 12:40] dalibor-sanzeru commented on #5385
I can confirm,
that I've faced same issue on .NET core 2.2 and SignalR where source of trouble was i**ncorrect order of Middlewares**. I think in this thread we are mixing this issue and issue call ".AllowCredentials() always".

This Middleware order worked for me:
`//UseSignalR must be before UseMvc!!!
            app.UseSignalR(routes =>
            {
                routes.MapHub<ChatHub>("/cha

[2019-09-27 12:46] benaadams commented on #11637
@anurse need to update the docs https://docs.microsoft.com/en-gb/aspnet/core/tutorials/signalr?view=aspnetcore-3.0&tabs=visual-studio-code

![image](https://user-images.githubusercontent.com/1142958/65770090-332ee500-e12d-11e9-8e46-53d23793d243.png)

[2019-09-27 12:47] Aaronmsv commented on #14250
@blowdart @anurse Okay thanks, will do it that way then.

[2019-09-27 13:06] Trojaner opened #14511 "AllowedUserNameCharacters should use regex instead"
### Is your feature request related to a problem? Please describe.
For username constraints ASP.NET Core Identity provides AllowedUserNameCharacters which is a string consisting of the allowed characters. My problem is that I want to allow *any* valid unicode characters. It would be ridicilous to fill this string with all available unicode characters.

### Describe the solution you'd like
AllowedU

[2019-09-27 13:06] pranavkm commented on #14497
Dup of https://github.com/dotnet/corefx/issues/38579.

[2019-09-27 13:06] #14497 closed

[2019-09-27 13:09] pranavkm opened #14512 "How can I use Microsoft.AspNetCore.Mvc.Internal.ActionSelector in ASP.NET Core 3.0/.NET Core 3.0 or alternative solution in Core 3.0?"
_From @Microshaoft on Friday, September 27, 2019 7:04:36 AM_

reference MSDN:

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.internal.actionselector?view=aspnetcore-2.2

c# code in .NET Core 2.2, for your reference:

https://github.com/Microshaoft/Microshaoft.Common.Utilities.Net.4x/blob/aace0a952433f09d24d5977ad7fae7adf40a18d4/CommonUtilities.Shared/WebApi.Common.Controller

[2019-09-27 13:20] DataJuggler commented on #14491
I have never noticed Razor Component. I will look for it.

Thanks

From: Jon McGuire <notifications@github.com>
Sent: Friday, September 27, 2019 6:04 AM
To: aspnet/AspNetCore <AspNetCore@noreply.github.com>
Cc: Corby Nichols <corby@datajuggler.com>; Author <author@noreply.github.com>
Subject: Re: [aspnet/AspNetCore] Question: How Do You Add A New Blazor .razor page? (#14491)

I always go to Add ->

[2019-09-27 13:23] nfplee commented on #14221
It looks like AddMvcRazorRuntimeCompilation has been renamed to AddRazorRuntimeCompilation. I cannot comment on https://github.com/aspnet/Announcements/issues/343.

[2019-09-27 13:32] MV10 commented on #14491
For Blazor the only difference between a .razor page and a Razor Component is the `@page` directive... so if you're actually wanting a page, it's not much of a hassle. But the UI is certainly inconsistent in a lot of ways right now.

[2019-09-27 13:52] acoop133 commented on #12349
I just updated my blazor packages to `3.0.0-preview9.19465.2` and httpclient DI client side injection is now working for me :D

[2019-09-27 13:55] daniel-white commented on #14494
@davidfowl well it could be part of the same stack as `RunAsync`. I'd like things to fail the process if it doesn't succeed.

[2019-09-27 13:56] sanosdole opened #14513 "Question - Open source ElectronBlazor prototype copied code legal implications"
I have a working protoype of a native node addon that hosts the core clr and enables bi-directional calls between node and dotnet.
This prototype also includes an implementation of hosting a Blazor application in a Electron renderer process, which required copying some internal c# and typescript code from the AspNetCore repository.

Now i want to publish the prototype on GitHub as an open source p

[2019-09-27 14:37] scrossen commented on #12867
this code creates a modal box using css to handle reconnect / reload

    <div class="modal fadecomponents-reconnect-hide " id="components-reconnect-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content">
                <div class="modal-header">

[2019-09-27 15:10] ygoe commented on #14062
I know I'm supposed to provide a test case. It's still on my list but I likely won't get to it before the next two weeks.

[2019-09-27 15:25] rynowak commented on #13839
I'll put together something based on your ideas and look at the memory myself. If you're tryign to bring down the managed memory usage, I'll bet that it will be much more impactful to share the Regex object than to share the strings that begat them - subclassing `RegexRouteConstraint` would allow you to do that.

[2019-09-27 15:28] davidfowl commented on #14494
Right, so use an IHostedService with the generic host.

[2019-09-27 15:30] pavinan opened #14514 "MapMiddleware extensions are missing in new Endpoint."
MapMiddleware extensions are missing in new Endpoint. In previous routebuilder it has MapMiddlewareRoute, MapMiddlewareGet, MapMiddlewarePost, MapMiddlewarePut, MapMiddlewareDelete.

I have considered the following alternative.

[code]

[2019-09-27 15:36] mtinnes commented on #2757
Please re-open, we have a requirement to regen the token which is still not happening on logout. The existing token needs to be expired on logout.

[2019-09-27 15:48] rynowak commented on #14451
Ah! Ok. This makes sense now. Let me elaborate.

**TLDR: MVC will give you a validation error when it violates your nullability contract**

C#8 not-null is **not** a runtime contract. You can easily produces instance of objects that contain null where you *said* you don't expect to find null. You can prove this by newing up the class from your example.

MVC's error handling contract for model bind

[2019-09-27 15:53] mkArtakMSFT commented on #14499
Thanks for contacting us, @taori.
This change has been announced in the `Razor Class Library template replaces the Blazor Class Library template` section here: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-8/

Please let us know if you have more questions.

[2019-09-27 15:53] #14499 closed

[2019-09-27 15:58] vsfeedback opened #14516 "IHttpContextAccessor and IHttpContextFactory are missing a description"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/750471/ihttpcontextaccessor-and-ihttpcontextfactory-are-m.html)._

---
The interfaces **IHttpContextAccessor** and **IHttpContextFactory** are missing a description (as opposed to **IHttpClientFactory** which does have a description).

---
### Original Comments

#### Visual

[2019-09-27 15:59] anurse commented on #14516
Yep, it looks like the [`IHttpContextAccessor`](https://github.com/aspnet/AspNetCore/blob/master/src/Http/Http.Abstractions/src/IHttpContextAccessor.cs) and [`IHttpContextFactory`](https://github.com/aspnet/AspNetCore/blob/master/src/Http/Http.Abstractions/src/IHttpContextFactory.cs) interfaces are indeed missing XML docs.

[2019-09-27 16:00] SteveSandersonMS opened #14517 "Compiler support for @oneventname:preventDefault and @oneventname:stopPropagation"
I looked into doing this myself, but after talking with @rynowak, it seems likely that we're missing some support in the compiler for having `@directiveattribute:param` appearing on its own (not alongside `@directiveattribute`).

The overall summary is:

 * For each `@oneventname`, there's also `@oneventname:preventDefault` and `@oneventname:stopPropagation`. These can be used either alongside `@o

[2019-09-27 16:00] wli3 commented on #14432
no, we caught it in our tests.

[2019-09-27 16:01] Tratcher commented on #2757
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2019-09-27 16:03] #14333 closed

[2019-09-27 16:18] mkArtakMSFT commented on #14510
Thanks for contacting us, @akorchev.
This is not Blazor specific. The issue will happen in other projects types too. Simply use a different name for the class/component and that will solve the problem.

[2019-09-27 16:18] #14510 closed

[2019-09-27 16:20] mkArtakMSFT commented on #14507
Thanks for contacting us, @aventus13.
This is actually by-design. This is because the methis is completing synchronously.
If you want to force a yielding await you can use `Task.Yield()` instead.

[2019-09-27 16:20] #14507 closed

[2019-09-27 16:22] akorchev commented on #14510
I am sorry but I think the issue is Blazor specific. I am creating a file called Task.razor and not a class called Task. The Blazor compiler creates a class that conflicts with System.Threading.Tasks.Task. Please reconsider.

[2019-09-27 16:23] Tragetaschen opened #14518 "The introduction of FormFileValueProvider broke the documented large file upload"
### Describe the bug
This bug tries to tie a couple of issues and provide some search terms.

#9510 and #12847 introduced FormFileValueProviderFactory in the ResourceExecutingContext's ValueProviderFactories.

On the other hand, the 2.2 [documentation for streaming file upload](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-2.2#uploading-large-files-with-strea

[2019-09-27 16:23] mkArtakMSFT commented on #14500
Thanks for contacting us, @hannespreishuber.
The `InputCheckbox` doesn't support `bool?` because `null` cannot be represented in an HTML checkbox element.

[2019-09-27 16:23] #14500 closed

[2019-09-27 16:24] mkArtakMSFT commented on #14498
Thanks for contacting us, @hannespreishuber.
This is not something runtime related. Please use VS Feedback to report this issue so the appropriate team can investigate this further.

[2019-09-27 16:24] #14498 closed

[2019-09-27 16:27] pranavkm commented on #14518
Thanks @Tragetaschen. Does updating the filter to remove the additional value provider suffice?

[2019-09-27 16:28] mkArtakMSFT commented on #14493
Thanks for contacting us, @swordream.
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-09-27 16:30] mkArtakMSFT commented on #14491
Thanks for contacting us, @DataJuggler.
This is something we track already and we're working on it. Unfortunately can't provide any ETAs on this at the moment.

[2019-09-27 16:30] #14491 closed

[2019-09-27 16:31] rynowak commented on #14504
This looks like a good 3.1 candidate. @pranavkm  - do you know if this is a regression?

[2019-09-27 16:32] Postlagerkarte opened #14519 "CTRL + mouse click on a razor component not working?"
Index.razor:

`  <MyComponent></MyComponent>`

When I CTRL + mouse left click on the razor component tag I expected to be taken to the component definition.

Is this supposed to work?

[2019-09-27 16:33] rynowak commented on #13943
I'm very concerned about removing tests for things that we still care about working (yes I know it's end of life). If we don't care about it working, we can remove a bunch of cruft from the SDK.

[2019-09-27 16:33] Tragetaschen commented on #14518
Yes, removing this additional factory
[code]
re-enables my software update (~230MiB) upload again.

[2019-09-27 16:33] mkArtakMSFT commented on #14489
Thanks for contacting us, @moataz1991.
It's not clear what is the actual problem here. Please describe your problem in more details.

[2019-09-27 16:35] mkArtakMSFT commented on #14485
Thanks for contacting us, @HughPH.
This is because the Linker trims different code based on your application code, and that produces new versions of those libraries.

[2019-09-27 16:35] #14485 closed

[2019-09-27 16:36] rynowak commented on #14453
Sorry, I still don't get it - we create a scope for all health checks and run them in there. Can you explain how this is causing your problem?

I'll try your repro and get back to you.

[2019-09-27 16:38] mkArtakMSFT commented on #14471
This looks a bit better. We're still not there yet. I think by trimming your code further to find the actual culprit in this code will help you too find out what is causing this issue. Please try to remove as much code as possible, until you get to the actual line, removal of which will not reproduce the behavior any more.

[2019-09-27 16:42] Tratcher commented on #14494
You can do this directly in Main like this: https://stackoverflow.com/a/49930739/2588374

[2019-09-27 16:47] taori commented on #14499
@mkArtakMSFT Thanks for your answer. I see - but is it necessary that one of the options turns it into a netcoreapp3.0? That limits the reference choices. Previously a RCL was a netstandard library too and now it turns into a netcoreapp3.0. That just seems odd to me.

[2019-09-27 16:47] mkArtakMSFT commented on #14504
@pranavkm if this is not a regression, please move to 5.0.

[2019-09-27 16:50] mkArtakMSFT commented on #14479
Thanks for contacting us, @kwakuduahc1 .
Identity related pages are loaded from the DefaultIdentityUI package. If you want to modify those in any way, you can scaffold the necessary pages and modify as needed.

[2019-09-27 16:50] #14479 closed

[2019-09-27 16:51] mkArtakMSFT commented on #14479
You can read more about this https://devblogs.microsoft.com/aspnet/aspnetcore-2-1-identity-ui/

[2019-09-27 16:54] blowdart commented on #14511
We avoid regular expressions due to their security implications. You can of course write your own validator and configure it, but it's not one we're going to provide for you.

[2019-09-27 16:54] #14511 closed

[2019-09-27 17:07] collinsauve opened #14520 "CSRF token not regenerated on logout/login"
### Describe the bug
The CSRF antiforgery token is not regenerated automatically on logout or login.

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NET Core '2.2.0'
2. Decorate login controllers with `ValidateAntiForgeryToken`
3. Load login page, unauthenticated.
4. Note the `.AspNetCore.Antiforgery.*` cookie that is set
5. Login to application
6. Note that the antiforgery cookie

[2019-09-27 17:08] collinsauve commented on #14520
Was originally filed on https://github.com/aspnet/AspNetCore/issues/2757 but was closed with "should work otherwise lots of people would be broken".  With issues like these most people won't notice.

[2019-09-27 17:09] mtinnes opened #14521 "CSRF antiforgery token not being in different sessions"
Generated tokens are identical between sessions. We are calling `antiForgery.GetAndStoreTokens(HttpContext);` on login and are getting the same token for the same user. Seems the token generation is based on user identity only. Is there a way to add more randomness (salt) to the token generation?

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0'
2. Run

[2019-09-27 17:24] rynowak commented on #14445
What does this mean?

[2019-09-27 17:29] pkellner opened #14523 "React Template Broken on Both Windows and Mac"
I'm having I believe the same issue I had on a previous report but with a little different twist now that I'm updated core 3. This was the previous issue:  https://github.com/aspnet/AspNetCore/issues/14233
 Running the below command works on windows (thought it failed earlier today before I tried to capture the results.

I also tested earlier today just "dotnet new react" and that failed". i've no

[2019-09-27 17:30] blowdart commented on #14521
No there isn't. This is by design so it's not dependent on sessions or anything else.

[2019-09-27 17:34] Pilchie commented on #14508
Hi,

The instructions that you followed allow you to use the *binaries* from the daily builds that we produce in our CI runs.  It doesn't set up you to reference the source directly.  Unfortunately, there isn't a good way of doing that right now.  The only way would be to tie your project into our build system which would add a lot of extra complexity.

I know the Visual Studio IDE team is working

[2019-09-27 17:37] Tratcher commented on #14506
What doesn't work? HostBuilder support was already added in 3.0, it was just structured differently:
https://github.com/aspnet/AspNetCore/commit/241d2c13df468d18149f2245efb0d6dbcfc7a60d#diff-b10e2dc62f53c21fa88d265eefe8a17cR46-R73

[2019-09-27 17:40] dasMulli commented on #14453
Looks like the issue really mostly is that the checks run in parallel. This makes using DbContext checks hard since DbContext is not thread safe.

This is a bit interesting since:
* Most other user code is executed serially and thus doesn't create issues with scoped dependencies. I might be mistaken for that, but do other things like authorisation policies execute in parallel? This really is a bit

[2019-09-27 17:51] ryanelian opened #14524 "ModelState.AddModelError in Blazor Form"
### Is your feature request related to a problem? Please describe.

I am trying to add custom validation error message AFTER the form has been submitted successfully for an existing field.

In Razor Pages I can do something like: `ModelState.AddModelError("Form.Field", "Something happened!");`  which allows the error message to be displayed when the page is returned. (Bonus Point doing it like thi

[2019-09-27 17:58] nfplee opened #14525 "Bug Referencing Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation in Class Library"
If you have a class library with the following package reference:

`<PackageReference Include="Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation" Version="3.0.0" />`

This will throw the error:

See the attached sample for an example. To fix it you need to add the above reference to the Sample.Web project.

[Sample.zip](https://github.com/aspnet/AspNetCore/files/3663979/Sample.zip)

[2019-09-27 18:06] ryanbrandenburg commented on #5476
@rynowak could you confirm this design so I can get cracking?

[2019-09-27 18:07] blowdart commented on #14520
Where are you noting it's not regenerated? Where does your logout go - static page, or a page with a form? Is this a spa?

[2019-09-27 18:10] pkellner commented on #14523
Just another comment. I ran the same command on windows 10 about an hour ago and it worked.  Now, even from Visual Studio, I get this in the output with the failure

Time Elapsed: 00:00:02.5023602
========== Finished ==========

Error occurred while restoring NuGet packages: Failed to retrieve information about 'Microsoft.AspNetCore.Cryptography.KeyDerivation' from remote source 'http://dotnet.myg

[2019-09-27 18:24] janmarques commented on #4545
Hi,

I have also encountered this problem (and I can make it appear and disappear).
I spent the last hour trying to recreate this in a sample project, but unfortunately I did not succeed in recreating it.

In assembly A (netcore console project) I am starting a Task which uses a nested class from assembly B (netcore web app), thus it needs to static-import that class (using static xxx;). This give

[2019-09-27 18:26] anurse commented on #5333
It's still in the backlog. Let us know your scenario though and it will help us prioritize this work in a future release!

[2019-09-27 18:30] collinsauve commented on #14520
I am using Fiddler to capture the requests and token is the same from unauthed to authed to unauthed again.

Logout goes to an MVC controler with a View.  Login domain is not an SPA.

[2019-09-27 18:34] blowdart commented on #14520
That's odd, it should change when you login, and then change when you logout, because it uses the username in the value. What authentication are you using?

[2019-09-27 18:36] HughPH commented on #14485
I'm unconvinced that adding a style attribute to an HTML element causes different code to be trimmed. I also experienced this issue when adding a _comment_ to a .cs file.

[2019-09-27 18:39] collinsauve commented on #14520
We use Identity, specifically ApplicationCookie auth using [ConfigureApplicationCookie](https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Core/src/IdentityServiceCollectionExtensions.cs#L110).

In the test case I was I used password auth for one user and external (Google) auth for the second one.

Perhaps I should attempt to reproduce with a sample repo somewhere?

[2019-09-27 18:44] blowdart commented on #14520
If you could that would be wonderful. It all seems pretty standard though.

[2019-09-27 18:47] carlossanlop opened #14526 "gRpc error "stream removed""
_From @svdemir on Monday, July 29, 2019 8:01:48 PM_

# gRpc error "stream removed"

# General

Hi i am vscode netCore 3.0p7 use. grpc create template and project run.
client apps  "stream removed"  I get the error.

![grpcError](https://user-images.githubusercontent.com/28478219/62078156-9b0f9f00-b254-11e9-9e1e-b333b83b271b.JPG)

I think there's a problem with the template.

because netCore30p7 do

[2019-09-27 18:48] carlossanlop commented on #14526
_From @carlossanlop on Monday, August 12, 2019 9:53:03 PM_

@dagood @livarcocc @nguerrera do you know who can help with this?

[2019-09-27 18:48] carlossanlop commented on #14526
_From @dagood on Monday, August 12, 2019 10:56:51 PM_

A quick search suggests this has to do with ASP.NET Core.

@svdemir, I'd suggest copying the text as text rather than posting a screenshot--makes it searchable, and much more readable.

[2019-09-27 18:48] carlossanlop commented on #14526
_From @carlossanlop on Tuesday, August 13, 2019 5:48:57 PM_

@Pilchie can you please help with this issue?

[2019-09-27 18:48] carlossanlop commented on #14526
_From @Pilchie on Tuesday, August 13, 2019 5:51:20 PM_

@JamesNK / @shirhatti / @JunTaoLuo - any ideas?

[2019-09-27 18:48] carlossanlop commented on #14526
_From @shirhatti on Tuesday, August 13, 2019 6:04:35 PM_

My naive guess is that your client isn't using TLS while your server is, but I can't be certain without looking at the offending code.

Can you share your client code?

[2019-09-27 18:48] carlossanlop commented on #14526
_From @dingzeng on Saturday, August 31, 2019 2:43:07 PM_

I also have this problem

see:[https://github.com/dingzeng/AspnetcoreGrpcDemo/tree/stream_removed](https://github.com/dingzeng/AspnetcoreGrpcDemo/tree/stream_removed)

[2019-09-27 18:50] snmigerl opened #14527 "ServerSide Blazor LogOutTimer"
At the moment I'm looking for an option to automatically logout a user from my serverside-blazor-app when he's inactive for a definded mount of time.

The old way of doing this by configuring the cookie expiration that worked in mvc don't seem to work.

ANy suggestions or hints, or is it planned to implement an easy way to do that?

Thanks Michael

[2019-09-27 18:53] carlossanlop opened #14528 "dotnet core 2.2 dev ssl cert no longer work with firefox error SEC_ERROR_UNKNOWN_CRITICAL_EXTENSION"
_From @pdhermann-bws on Wednesday, July 31, 2019 7:01:52 AM_

# Issue Title

System:
Windows 10 64 Bit Version 10.0.15063
Dotnet Core SDK 2.2.108
Visual Studio 2017 Pro 15.9.14
Visual Studio Code v 1.36.1

Steps to reproduce:

i created a new dotnet core ssl dev cert with
dotnet dev-certs https --trust
A new SSL Certificate was created and trusted
After starting the dotnet core app i opened firefo

[2019-09-27 18:53] carlossanlop commented on #14528
_From @leecow on Wednesday, July 31, 2019 5:31:33 PM_

Adding a few folks who may be able to help - @livarcocc @bradygaster

[2019-09-27 18:53] carlossanlop commented on #14528
_From @blowdart on Wednesday, July 31, 2019 5:48:22 PM_

This falls under aspnet tooling. The source is at https://github.com/aspnet/AspNetCore/blob/master/src/Shared/CertificateGeneration/CertificateManager.cs

This error is thrown when a cert has a critical extension Firefox doesn't understand. Odd that it suddenly stopped between versions.

The only things we appear to be marking as critical is

[2019-09-27 18:53] carlossanlop commented on #14528
_From @carlossanlop on Friday, September 27, 2019 6:53:02 PM_

It's possible this is a Firefox issue, but I'll move the issue to the aspnet repo in case there's something we can do about this.

[2019-09-27 18:54] snmigerl opened #14529 "App-Layout with Scaffolded Identity"
When scaffold Identity to an Serverside-Blazor-Templat the UI-Layout and Design is ignored and you get a completely different look when the user want'S to login.

Is there a easy way to fix this?

[2019-09-27 18:57] aaronhudon-ts opened #14530 "toString calls observed during SignalR processing"
### Describe the bug
During SignlarR processing, expensive `toString` calls observed in profiler.

### To Reproduce
Steps to reproduce the behavior:
1. ASP.NET Core 3.0 Blazor Server Side
2. Send fairly large packets (200kb) to the browser using `IJSRuntime.InvokeVoidAsync`
3. In Chrome, record a performance profile for a few seconds of the packets being sent.
4. Notice in the frame visualization:

[2019-09-27 18:57] blowdart commented on #14528
@javiercn Any ideas here?

[2019-09-27 19:10] dougbu commented on #4914
More added in 24fc9c000865

[2019-09-27 19:16] collinsauve commented on #14520
Okay I repro'd with [this sample](https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/security/authentication/identity/sample/src/ASPNETCore-IdentityDemoComplete/IdentityDemo)

1. Create 2 users (test1@test.com and test2@test.com)
2. Logout of both users, clear cookies, start capturing in Fiddler (this is where the below saz begins)
3. Refresh the login form (request 90)
4. Login to t

[2019-09-27 19:24] JamesNK commented on #14526
1. You're using the Grpc.Core client. We recommend you use the Grpc.Net.Client when on .NET Core 3 - https://docs.microsoft.com/en-us/aspnet/core/grpc/client?view=aspnetcore-3.0
2. You have a mismatch between client and server TLS configuration - https://docs.microsoft.com/en-us/aspnet/core/grpc/troubleshoot?view=aspnetcore-3.0#mismatch-between-client-and-service-ssltls-configuration

[2019-09-27 19:25] Phylum123 opened #14532 "WorkerService dependency injection DBContext, not working"
Hey guys, I wrote a worker service and the dependency injection is very similar to regular ASP core, thanks for that :). However, there is one piece that does not work for me. Below you will find code with a work around, however, if I uncomment the code (var ctx = r.GetRequiredService<MHedgeContext>();) and try to use the injected context, I am told that it is not found despite having registered i

[2019-09-27 19:29] rborosak commented on #5476
Would it be possible to capture all unhandled exception in a central place so the developer could decide what to do next. Currently we can only intercept console.error but that is not of much use.
When an unhandled exception is thrown I would like to have a centralized place to capture (and handle?) it and do something.. Either display it in a popup, log it somewhere other then devtools, send it t

[2019-09-27 19:30] rynowak commented on #5476
Sounds great, I think this is very thoughtful. Most of the feedback I thought of while reading this was already addressed.

[2019-09-27 19:31] Postlagerkarte opened #14533 "Blazor component - no intellisense in the immediate window?"
![image](https://user-images.githubusercontent.com/8482283/65796662-7dd05180-e16d-11e9-979b-4364b9cc9d61.png)

Once the breakpoint is hit - inside the immediate window I get no intellisense.

![image](https://user-images.githubusercontent.com/8482283/65796852-fe8f4d80-e16d-11e9-89fe-8992eae35d51.png)

( Using Visual Studio 2019 16.4 )

Is this supposed to work?

[2019-09-27 19:32] rynowak commented on #5476
Hi @rborosak - some answers

We currently have no plans to provide a global way to silence exceptions. Blazor is stateful and it's important for security reasons that the user-agent can no longer send commands to the server if the program ends up in an unknown (faulted) state.

If I'm not mistake this feature addresses all of that. Let me know if I'm missing something.

Blazor already logs unhandl

[2019-09-27 19:38] iangorse commented on #14508
Thank you very much for the clarification. I will follow your recommendation.

[2019-09-27 19:38] #14508 closed

[2019-09-27 19:38] brentschmaltz commented on #14252
@PinpointTownes we have cherry-picked the fixes above into our nightlies and can release a new 5x version.
You can try the latest 5.x version and see if it meets your needs.
Are there any other issues?

We don't support 6.x yet, it's not ready for asp.net 3.0.

[2019-09-27 19:41] blowdart commented on #14520
@pranavkm does this fall to you?

[2019-09-27 19:43] rborosak commented on #5476
@rynowak sorry... I'm talking about client side blazor.. when an unhandled exception is thrown, exception message and stack trace are printed in the console.. there is not much we can do with that.. I would like to have a global exception handler I don't have to clutter my code with catch blocks
[code]

If DoSomeWorkAsync throws an exception I would like to handle it in a global exception handler

[2019-09-27 19:44] aelmen commented on #14373
Actually, I've got the same issue in version 3.0.100. The template for counter does not work since the event is not fired when you press the click me button when you have created the project with the windows authentication.

I have created the project from both cli and from the add new project using windows authentication in visual studio preview. Both results in the same issue.

If you chose to n

[2019-09-27 19:59] blowdart commented on #14529
No, the identity components are stand alone because they're not blazor specific and have to work over multiple templates

[2019-09-27 20:04] mkArtakMSFT commented on #10526
@pranavkm please make sure this happens as the last thing in 3.1, as there is no time pressure.

[2019-09-27 20:14] abhilasharora commented on #14400
@anurse In this case, the final contents of the service collection are **not** the same for .NET Core 2.x and .NET Core 3.0. The service descriptor for `IConfiguration` is present in the service collection for both versions of .NET Core. However, the `ImplementationInstance` property of the service descriptor is `null` in case of .NET Core 3.0, which means that the final contents of the service co

[2019-09-27 20:17] daniel-white commented on #14494
sure but it would be nice to have that pattern built in instead of having it all jammed in main. thats why i like the pattern https://github.com/thomaslevesque/AspNetCore.AsyncInitialization does. perhaps theres ways we could add a `OrderAttribute` or something like that to control the order of these

[2019-09-27 20:53] anurse commented on #14400
Yes, because the service isn't registered as an **instance** any more, it's registered as a **factory** (https://github.com/aspnet/Extensions/blob/1540c1de4067870160e722e1fe661a4c131fb03c/src/Hosting/Hosting/src/HostBuilder.cs#L211). Depending on the `IServiceCollection` is a bad idea here. It's not intended for use to *activate* services (which is what you appear to be doing in your sample). It's

[2019-09-27 20:59] vsfeedback opened #14536 "Client.Services.exe Framework Version: v4.0.30319 Description: The process was terminated due to an unhandled exception. Exception Info: Newtonsoft.Json.JsonReaderException"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/391474/clientservicesexe-framework-version-v4030319-descr.html)._

---
<p>While running our ClientService.exe(.net core) service stopped and error logged as below</p><p>Framework Version: v4.0.30319</p><p>Description: The process was terminated due to an
unhandled exception

[2019-09-27 21:04] NTaylorMullen commented on #14445
This is the idea that every point in which VS auto-triggers completion, aka you're typing `<input |` and once you hit the `space` after `input` to auto-trigger the completion. This is just one example. This item also includes figuring out any other scenarios which make sense to light up for completion auto-trigger.

[2019-09-27 21:07] joetherod opened #14537 "Missing namespace: Microsoft.AspNetCore.Mvc.Razor.Extensions.NamespaceDirective"
Missing namespace: Microsoft.AspNetCore.Mvc.Razor.Extensions.NamespaceDirective

Getting this error:
Could not load type 'Microsoft.AspNetCore.Mvc.Razor.Extensions.NamespaceDirective' from assembly 'Microsoft.AspNetCore.Mvc.Razor.Extensions, Version=3.0.0.0,

What is the alternative in 3.0 to get pass this error?

[2019-09-27 21:22] #12455 closed

[2019-09-27 21:27] #13573 closed

[2019-09-27 21:48] Tratcher commented on #14532
These services are all being injected into your Worker?

One problem you'll have is that AddDbContext registers services as scoped, but Worker is not created within a DI scope.

[2019-09-27 21:50] webtasarim16 commented on #12890
how can i do server side rendering in the project. my project is (angular 8 universal with mvc core 3.0)
please can u show us step by step. how will I do. i don't understand. thanks.

[2019-09-27 22:13] mkArtakMSFT commented on #14536
Thanks for contacting us.
It looks like this is exception is happening at application startup.
Your application configuration file seems to contain a malformed JSON content, which causes this error.
If this is still and issue and you don't believe that's the case, please share a minimalistic repro project with showcasing the problem, so that we can investigate this further.

[2019-09-27 22:13] #14536 closed

[2019-09-27 22:40] mkArtakMSFT commented on #14537
Thanks for contacting us, @joetherod.
@ajaybhargavb can you please look into this? Thanks!

[2019-09-27 22:44] ajaybhargavb commented on #14537
@joetherod `NamespaceDirective` was moved to `Microsoft.AspNetCore.Razor.Language.Extensions` namespace in 3.0.

[2019-09-27 22:52] Sebazzz commented on #12890
For Webpack at least I managed to get something working:

1. Ensure you have the webpack development server running.
2. Install `Microsoft.AspNetCore.SpaServices.Extensions`
3. Apply in your `Startup`:

[code]

Essentially in the condition of `UseWhen` you need to add the output path(s) of your webpack compilation. In the `UseProxyToSpaDevelopmentServer` you enter the port number as configured for

[2019-09-27 22:55] #14537 closed

[2019-09-27 23:11] PinpointTownes commented on #14252
@brentschmaltz I don't mind giving it a try, but where can I download the latest 5.x nightly build?
I only see 6.2.x packages on the Azure AD MyGet feed.

[2019-09-27 23:12] mkArtakMSFT commented on #14485
This is the current behavior of the Linker. If you want, you can disable Linker by following guidance provided https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/configure-linker?view=aspnetcore-3.0

[2019-09-27 23:15] mkArtakMSFT commented on #14499
I do not know all the details, but there are good reasons for this to be the way it is. @pranavkm may be able to share more about this.

[2019-09-27 23:18] mkArtakMSFT commented on #13943
Are we loosing coverage by removing these tests? Given the proposal to remove these tests I assume there are others in place covering scenarios we care about, aren't there?

[2019-09-27 23:19] mkArtakMSFT commented on #14062
@ygoe thanks for the info. We're closing this issue for now. Feel free to reopen when you get a repro.

[2019-09-27 23:21] mkArtakMSFT commented on #14221
@nfplee as stated in the announcement:

[2019-09-27 23:22] rynowak commented on #14140
@vintzl - I can run your app and I get a 200 - what do I need to do to reproduce the problem? Do you have server-side logs from when you're seeing an 405?

[2019-09-27 23:24] cklogs opened #14539 "Autofac.Core.DependencyResolutionException when registering UserManager<MyUser>"
I have an application with two separate projects, an AuthenticationServer project and an Api project. The Api project houses controllers for all client side interactions and the AuthenticationServer runs identity server and a small razor app (the bootstrapped one provided by identity server) for authentication and user management.

These projects share a database context that inherits IdentityDbCo

[2019-09-27 23:26] rynowak commented on #14469
@kimbell - can you provide any more information about what this is for?

This kind of thing is theoretically possible to enable - but we made a deliberate choice to make things like this explicit.

One of the aspects of this design is that the value returned from `.MapXyz()` is useful for additional configuration. For whatever you library is, would the users ever want to configure auth? CORS? what

[2019-09-27 23:40] mkArtakMSFT commented on #14396
Is this a regression in 3.0?

[2019-09-28 00:00] rynowak commented on #10191
A feature like this needs docs, and some kind of design about what the wire-formats we support are. What are the expecations? What does the client send?

[2019-09-28 00:12] mkArtakMSFT commented on #10191
Agree, we've already talked with @pranavkm about this. He's going to suggest a design. See https://github.com/aspnet/AspNetCore/pull/14492#issuecomment-536128235

[2019-09-28 00:12] davidfowl commented on #14396
Yes

[2019-09-28 02:06] pranavkm commented on #14525
I suspect this is causes by this - https://github.com/aspnet/AspNetCore/issues/12768. `PreserveCompilationReferences` that the runtime compilation package sets up isn't transitively available.

In the meanwhile, you could

a) set the property `<PreserveCompilationReferences>true</PreserveCompilationReferences>` in the primary project file
b) reference the `Microsoft.AspNetCore.Mvc.Razor.RuntimeCom

[2019-09-28 02:06] pranavkm commented on #14525
I'm going to close this since  #12768 is already tracking resolving this.

[2019-09-28 02:17] pranavkm commented on #14512
@Microshaoft the type was made internal as was announced in https://github.com/aspnet/Announcements/issues/326. If you'd like direct parity, I would recommend copying the code in your application - https://github.com/aspnet/AspNetCore/blob/release/3.0/src/Mvc/Mvc.Core/src/Infrastructure/ActionSelector.cs.

I'm having a hard time following your customization in the code that you pointed out, but  I

[2019-09-28 02:18] pranavkm commented on #14518
@guardrex any chance you could incorporate this after you're done merging your other PR?

[2019-09-28 02:23] eddie-jb opened #14542 "Custom dependencies injected into Startup class."
Question - Can we not inject custom dependencies into a startup class anymore?
My dotnet info

[code]

If I use `dotnet new webapi --name SomeProj` and modify the Program.cs and Startup.cs files to the following.

### Program.cs
[code]

### Startup.cs
[code]

And then run `dotnet run` I get the following exception
[code]

[2019-09-28 02:36] robertdunaway commented on #5524
I've run into a related problem. I'm not trying to move projects around but I would like to use a different namespace.

When I change the namespace of a shared project class, the C# code and use it but razor pages cannot find it.

I want this because I'm sharing Entities between a blazor project and Angular and I don't want to have a shared project namespace of "bm2portal_blazor.Shared", which is

[2019-09-28 04:27] davidfowl commented on #14542
See https://github.com/aspnet/Announcements/issues/353. It’s by design. The web host still supports this but there’s no plan to bring that functionality back

[2019-09-28 06:15] mrpmorris commented on #14116
Would a suitable fix for this to be to output aria-* attributes even when their value is false?

[2019-09-28 06:20] mrpmorris commented on #14426
Any thoughts on my suggested approach? If it has failings then I'd like to know so I can rethink.

[2019-09-28 06:29] moataz1991 commented on #14489
my problem is exactly in my custom `LayoutComponent` it is not capturing the url and therfore not rendering the routed component and the `@Body` is always empty
anyway i returned the default `MainLayout `and removed the `LayoutAttribute `from my ViewModel and now it works like a charm
i just wanted to know why when i set the default layout to be `LayoutComponent `it does not work like `MainLayout

[2019-09-28 06:30] moataz1991 commented on #14489
feel free to close the issue :)

[2019-09-28 06:52] leastprivilege commented on #14250
well - maybe it is finally time to once and for all produce that sample. It's your auth and config system.

And with sample, I mean something that is actually working.

[2019-09-28 06:56] azizkazdal opened #14543 "asp.net core signalr client issue with xamarin.forms"
Hi,
In my xamarin forms project using Asp.Net Core SignalR version 1.1.0.
When I try to update to version 3.0.0 I am getting white screen can not access to login page.
All package that using at project are below

[code]

[2019-09-28 07:18] dehghani-mehdi opened #14544 "[v3.0] Unable to resolve service for type 'System.Diagnostics.DiagnosticListener' while attempting to activate 'Microsoft.AspNetCore.Mvc.Razor.RazorViewEngine'"
Hi,

I'm trying to use Razor outside of MVC (actually I did), there was no problem with prev version, but after updating to .Net Core 3.0, I got following error and I have no idea how can I fix it:

[code]
The following answer @ SO is almost same as my code:
https://stackoverflow.com/a/54960162/3367974

[2019-09-28 07:21] davidfowl commented on #14544
Add this:

[code]

[2019-09-28 07:21] dehghani-mehdi commented on #14544
I think I found the [solution](https://github.com/aspnet/AspNetCore/blob/f3f9a1cdbcd06b298035b523732b9f45b1408461/src/Hosting/Hosting/src/WebHostBuilder.cs#L279)

[2019-09-28 07:21] #14544 closed

[2019-09-28 07:50] GrabYourPitchforks commented on #14520
Possible dupe of https://github.com/aspnet/AspNetCore/issues/14521? If so this behavior is intentional, as the anti-CSRF token is split into two components: a cookie and a form field. The cookie is quite literally just a random value and is not tied to the user. The form field ties this random value to the current logged in user, and it is regenerated on every request.

[2019-09-28 08:18] moataz1991 opened #14545 "Blazor Server-Side Recursive Component over-memory consumption"
#Describe the bug
I have this ChainableSelect component which is select and based on that it generates another ChainableSelect and on and on.
I noticed that if i changed the selection like around 7~10 times
memory consumption starts to rise without stopping causing my laptop to freeze

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0' release
2. Run this

[2019-09-28 08:26] simonziegler commented on #14149
I would like to add my voice to this. It would be good to have a switch in NavLink that allows me to force an external link rather than an internal relative one. Would be nice if I could set the target too if I wanted.

My specific use case is to allow NavLinks to make use of external credentials managers such as Azure B2C, where the link must be external, even though it is to the same site.

[2019-09-28 08:42] dehghani-mehdi commented on #14544
@davidfowl Would you explain why Razor can find views when I use this: `            services.AddControllersWithViews().AddRazorRuntimeCompilation();` but can not when I use this: `            services.AddControllersWithViews()`

[2019-09-28 09:00] dehghani-mehdi opened #14546 "[v3.0] Unsafe code may only appear if compiling with /unsafe"
Hi,

I got mentioned error when I run:

But I have this in my `.csproj` file:

[code]

[2019-09-28 09:08] Liander commented on #14283
This is my understanding:
To understand the difference of the two calls you need to know that when `OnContentChange` is not set the framework tests for changes in attribute values being passed to the component, which will always be `Content=”Value”` in this case (not the Content property value of the instance which is changing) and there is no re-rendering (old tree is used) in this case and no ov

[2019-09-28 09:31] nfplee commented on #14525
Thanks. a didn't work but I'll stick with b for now.

[2019-09-28 09:31] #14525 closed

[2019-09-28 10:16] Microshaoft commented on #14512
@pranavkm both ActionConstraint  and ActionSelector are NOT Supported in ASP.NET Core 3.0.

I want control the request be routed one WebApi Controller action method, when I set same one [Route("XXXX")] to multiple method, such as one method is Sync , another method is Async, and then I want use Custom ActionSelector to control select Sync or Async version method, these two method are almost same,

[2019-09-28 10:43] sujayvsarma opened #14547 "Microsoft.AspNetCore.Hosting throws Startup assembly StartupBootstrapper failed to execute"
I see these errors logged on Azure (App Service) on **every restart** of the App Service:

Main message:

[code]

Stack trace:

[code]

Let me know what additional data I can collect for you that may help in fixing this issue.

[2019-09-28 10:44] henri-eh commented on #14373
Was able to reproduce. Counter does not increment if windows authentication is on, works fine with anonymous auth.

[2019-09-28 10:46] marcelovidigal opened #14548 "Blazorwasm CORS JWT Bearer"
I have a client using Blazor Wasm, Blazor Client, preview 9, and I am having a issue with token authentication. If using Kestrel when a http request is made, I am getting 204 NoContent with a options verb, followed by a 500 server error, when using IIS, I am getting a browser erro, with advice about CORS, anyone can help me, my API is with authentication e authorization via JWT Token enabled and w

[2019-09-28 11:07] DAllanCarr commented on #14548
I have seen many variations of this due to incorrect cors config.

https://github.com/aspnet/AspNetCore/issues/4457#issuecomment-444738776

[2019-09-28 11:15] webtasarim16 commented on #12890
how we can start application with server side rendering?

[2019-09-28 11:18] Postlagerkarte opened #14549 "Blazor renaming injected services is not working"
Using the default template:

Navigate to FetchData.razor file and try to rename the injected service: Nothing is renamed.

![image](https://user-images.githubusercontent.com/8482283/65815616-1f998200-e1f2-11e9-968b-a0d0a9ab13f2.png)

( Using Visual Studio 2019 16.4 )

[2019-09-28 11:44] blowdart commented on #14546
This is a question for the [dotnet repo](https://github.com/dotnet), rather than the asp.net one.

[2019-09-28 12:34] pippipmilk commented on #14373
Unfortunately I completely forgot to follow up the issue by trying to turn on the logging in code as suggested by @javiercn and instead tried to fix the issue.  Sorry!

I uninstalled and reinstalled all the SDK and VS and the issue remained.  I eventually fixed the issue only by completely reinstalling windows and installing just the latest bits.

It may be the GA .net 3 core bits exhibit this beh

[2019-09-28 13:41] matjazmav commented on #12890
NodeServices are very useful, we are using some of NPM libraries that are not available in .NET Core. Please reconsider it keep NodeServices alive :)

[2019-09-28 15:09] chamikasandamal commented on #12890
You want to stop server side rendering for SPA templates. The only reason i see is you want to promote Blazor. But don't do this, community need these packages.

[2019-09-28 15:40] pspkshah commented on #8122
I am using framework dependant deployment and @fierro  solution did not worked.

My published files works locally fine. But not working in azure.

below is my web.config, I am using .net Framework 4.7 and .net core 2.2 with Abp (AspNetBoilarplate) framework.

<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <system.web>
    <session

[2019-09-28 15:46] Postlagerkarte commented on #13448
Same here, multiple calls to OnInitializedAsync during startup are confusing, please reconsider!

[2019-09-28 15:58] davidfowl commented on #14547
This happens when the `IHostingStartup` in site extensions fail to load. `StartupBootstrapper`  is an application insights type see https://github.com/Microsoft/ApplicationInsights-Home/issues/231.

[2019-09-28 16:01] davidfowl commented on #14547
BTW is your application self contained?

[2019-09-28 16:51] dotnetjunkie commented on #8886
Any progress on this? The lack of the proper abstractions is blocking users of Castle Windsor, Ninject, and Simple Injector to integrate with Razor Components.

[2019-09-28 17:29] aelmen commented on #14373
Hi!

I've downloaded and installed the latest SDK from https://dotnet.microsoft.com

The non working incrementing counter issue still remain.

The Log =>

Starting IIS Express ...
dbug: Microsoft.Extensions.Hosting.Internal.Host[1]
      Hosting starting
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using 'C:\Users\firstname.lastname\AppD

[2019-09-28 17:35] Kahbazi commented on #13443
@halter73 Can I do this task?

I was thinking to add this interface

[code]

What do you think?

[2019-09-28 18:07] davidfowl commented on #13443
Does it really need to be asynchronous?

[2019-09-28 18:17] aelmen commented on #14373
And here is the debug =>

'iisexpress.exe' (CoreCLR: DefaultDomain): Loaded 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\3.0.0\System.Private.CoreLib.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.
'iisexpress.exe' (CoreCLR: clrhost): Loaded 'C:\Source\Repos\BlazorApp1\bin\Debug\netcoreapp3.0\BlazorApp1.dll'. Symbols loaded.
'iisexpres

[2019-09-28 18:34] rynowak commented on #5524
Check if you have `@namespace bm2portal_blazor.Shared` somewhere.

The order that a namespace is resolved for generated code (in priority order):
- `@namespace`
- `<RootNamespace?` in the project file
- Project name

You can use either of those things above the project name to configure this, but my guess is that you have an `@namespace` somewhere that's causing your issue.

I've also filed this i

[2019-09-28 18:39] davidfowl commented on #14546
Your property group is conditioned for Debug only. Change it to this:

[code]