[2020-06-14 01:51] douglassimaodev opened #22929 "Blazor webAssembly 3.2.0 HTTPS Integrity"
Hi,

I just created a BlazorWebAssembly 3.2 with Authentication (not asp.net hosted), here are the urls
https://dev.app.uproperty.ie/
https://test.app.uproperty.ie/

and I am getting the error:

Failed to find a valid digest in the 'integrity' attribute for resource 'https://test.app.uproperty.ie/appsettings.json' with computed SHA-256 integrity '8JQgHnNVK9O1bdFW8I6JPBMvqmhebnd5e9cSgaiCwlQ='. The

[2020-06-14 07:19] balasherkar commented on #22868
@blowdart i am using [WS-Fed](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/ws-federation?view=aspnetcore-3.1), but the security token received is encrypted using certificate.

[2020-06-14 07:35] imtrobin opened #22932 "Blazor Webassembly Dispose called before OnInitializedAsync completes"
I have a component that

[code]
What I found is the order of calls can be
[code]
This happens because one of my other component will refresh the page. Is that intended?

3.20

[2020-06-14 08:14] musictopia2 opened #22933 "svg not rendering properly."
When this code is used
<svg viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">

        <rect x="0" y="0" width="100%" height="100%" />

        <circle cx="50%" cy="50%" r="4" fill="white" />
    </svg>

nothing gets rendered.  However, when i use the exact same code in a normal html page, is fine.

[2020-06-14 08:40] douglassimaodev commented on #22929
Ok, Never mind, I get this problem when I use azure DevOps to build (pipeline) then in the release as I need to change settings from appsettings.json using IIS web app deploy in File Transforms & Variable Substitution Options then JSON variable substitution
  for dev/test/uat etc then I get this error, if I change the appsettings.json before build/publish then I don't get it

example: VS 2019, Bla

[2020-06-14 11:17] mrpmorris commented on #22908
I really wasn't expecting that answer :) Would you like to send me a small project that reproduces the problem and I'll have a look?

[2020-06-14 12:16] blowdart commented on #22868
Microsoft.AspNetCore.Authentication.WsFederation lacks support for token encryption, so there's no support for it. We haven't prioritised it, because most STSes just sign, there's no real secrets in the token.

[2020-06-14 12:57] ElderJames opened #22934 "[Blazor Wasm] How should I configure the project so that Manifest Version changes with each release?"
### Describe the bug
How should I configure the project so that Manifest Version changes with each release? Now when I publish, the version has not changed, so the PWA's cache cannot be updated.

### To Reproduce

My project Ant Design Blazor: https://github.com/ant-design-blazor/ant-design-blazor
Published files is here: https://github.com/ant-design-blazor/ant-design-blazor.github.io

### Except

[2020-06-14 14:00] #20775 closed

[2020-06-14 14:58] ygoe commented on #6566
@mkArtakMSFT Thanks for the update. I'd suggest you put a bold warning in the ASP.NET Core documentation then which says that this product does not support other server environments than English (and few more) and will not for an unspecified time. At least everybody knows what to expect then, and when to look for alternatives.

[2020-06-14 15:50] jods4 opened #22936 "Discover Healthchecks in DI"
This is a reopening of #2574. I would have commented over there but the issue is now locked.

Basically it said:

And I found this to still be true.

@rynowak closed the issue with this comment:

Health check instances are created by DI, which is all good.
But you have to register all of them manually with a builder pattern, which is pretty hard to make completely dynamic.

What would be nice is t

[2020-06-14 16:01] NateKomodo opened #22937 "[Blazor WASM] Choosing cache location regardless of path"
### Is your feature request related to a problem? Please describe.
When loading blazor from different paths (i.e. user was directly linked to /login instead of /), blazor creates a new cache for that path (see image below)
![image](https://user-images.githubusercontent.com/31631620/84598141-71f20000-ae60-11ea-8a1a-4301f58d79da.png)

### Describe the solution you'd like
A way (i.e. within Blazor.st

[2020-06-14 16:07] blowdart commented on #22933
Is this in an MVC app, a Razor page or Blazor?

[2020-06-14 16:08] blowdart commented on #22924
Is this in an MVC page, a razor page or a blazor app?

[2020-06-14 16:23] davidfowl commented on #22936
What exactly do you mean? What are these other assemblies doing? How do they register their health checks with the system? We don't generally do assembly scanning but it sounds like you may be doing that yourself and you'd like health checks to work with your assembly scanning logic, is that correct?

[2020-06-14 16:29] davidfowl commented on #22915
I see the same thing.

cc @BrennanConroy

[2020-06-14 17:27] zHaytam commented on #22924
Oh, sorry forgot to specify. It's a Blazor app

[2020-06-14 17:28] jods4 commented on #22936
Exactly. I don't expect asp.net core to do assembly scanning, I feel like this is the job of the DI and that's how I do it (not with the core DI, I plugged a richer lib -- Grace -- instead).

Their "entry points", if you wish, are mostly web apis. They can do lots of other stuff like recurring tasks, interfaces with external systems and more. Using independent assemblies helps us keep a strong sep

[2020-06-14 18:33] BrennanConroy commented on #22915
Yeah same, no idea what's going on.

Side-note, running the project from VS works (•_•)

[2020-06-14 18:36] cainy-a opened #22939 "Blazor app does not publish to dist bundle"
### Describe the bug
My Blazor App does not create a dist bundle on publish, but rather an app that hosts the site.

### To Reproduce

### Exceptions (if any)
No Exception

### Further technical details
- ASP.NET Core version: 3.1
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version: VS 2019 on Windows
- Include the output of `dotnet --info`:
[code]

[2020-06-14 18:41] davidfowl commented on #22936
Great!

The core (startup) looks at all discovered exports during startup and performs the correct configuration to register those checks with asp.net core. Today that code is quite tricky.

Health checks have more information than the check itself. They are a list of registrations that have other information (timeout etc). If your scanning logic today is needs to understand how to register health

[2020-06-14 18:50] jods4 commented on #22936
Absolutely. Nothing that can be worked around, though.
You could introduce a larger interface `IAutoHealthCheck` for DI-registered checks that includes a name (the only mandatory additional metadata), tags, timeout, failure status.
Suggestion:
[code]

To be fair this already exists, it's `HealthCheckRegistration`, more or less.

[2020-06-14 18:54] rxelizondo opened #22940 "Feature request: email confirmation resend feature status."
A feature request to add the ability to resend email confirmations was mentioned here: https://github.com/dotnet/AspNetCore/issues/5410

Has anything been done regarding that feature request? I get that we can add that functionality ourselves, but if this is such a frequently requested feature then why not build it in?

I am pretty sure it does not matters but just in case it does, I am talking fr

[2020-06-14 19:16] musictopia2 commented on #22933
This is blazor.

[2020-06-14 19:49] DenisKudelin opened #22941 "Isolated Blazor server prerendering"
I use client side Blazor WebAssembly and when I open a page for the first time I see "Loading..." during several seconds. I decided to enable server side pre-rendering to show some static content for users and search engines.

I added the following line to _Host.cshtml
` <app>@(await Html.RenderComponentAsync<ClientSide.App>(RenderMode.Static))</app>`

but I have the problem, there are a lot of se

[2020-06-14 20:10] srpeirce commented on #22941
My general approach is to detect the routes that use callbacks (e.g. auth, Paypal, whatever it might be) and not have those server side rendered so not to interfere.

For most of the other routes I generally still need to configure the same dependencies, albeit they may have different scopes. On occasion where there is a component that should not render server side, I add a condition around that s

[2020-06-14 20:12] srpeirce commented on #22941
Specifically in the case of the route:
[code]

[2020-06-14 20:12] fcbogle opened #22942 "Blazor __Builder does not exist in current context"
### Describe the bug
When I add a child Blazor component and compile the project I get the error in the subject line: `__Builder does not exist in current context.` The parent component is a series of pulldown lists that are used to obtain search Id's from a number of tables based on standard dbContext and Entity Framework Core. The user selects the pulldown items and submits a SearchSelection obj

[2020-06-14 20:22] DenisKudelin commented on #22941
srpeirce thanks, but it seems you didn't get my question completely..

[2020-06-14 21:00] Dean-NC opened #22982 "If the name of the parent folder of the project/solution's folder contains a space, some razor intellisense won't work"
**Visual Studio Version**:
Microsoft Visual Studio Community 2019
Version 16.6.0
VisualStudio.16.Release/16.6.0+30114.105
Microsoft .NET Framework
Version 4.8.03752

**Summary**:
If the name of the parent folder of the project/solution's folder contains a space, some razor intellisense won't work, in ASP.Net Core 3.1 projects.

**Steps to Reproduce**:
1. Create a folder on your drive named Temp or

[2020-06-14 21:08] srpeirce commented on #22941
@DenisKudelin I've re-read.

I don't quite understand...you mean registering services in the Server project (`Startup.cs`) is conflicting with those registered in the Client project (`Program.cs`)?

That shouldn't be the case, you need to register the dependencies in each of those places - if you register a service in the Server it will not be automatically registered in the Client, and vice-versa

[2020-06-14 21:17] blowdart commented on #22940
You couldn't do this in webassembly unless you were willing to put credentials inside your web assembly for a mail server which would be a horribly bad idea.

[2020-06-14 21:17] andyzhu opened #22943 "When change the <base Href= "/" /> in teh index.html, the blazor.webassembly.js file no longer can be downloaded"
### Describe the bug
A clear and concise description of what the bug is.
created a sample project use **dotnet new blazorwasm --hosted true -o BlazorAppwithHost**
build and run the solution, everything works fine. Go to https://localhost:5001, get to see the Sample Blazor WebAssembly page

Now change the following inside the wwwroot\index.html file under the Client project, change the `<base href=

[2020-06-14 21:30] DenisKudelin commented on #22941
Yes, you understand correctly. But in order to prerender client side, currently I need to combine services from both sides, because the serviceprovider is common for server and for client in this case.

[2020-06-14 21:30] rxelizondo commented on #22940
I don't want to do this in Webassembly, I was trying to mention that I am using the `Blazor Webassembly Core hosted` built in template with `authentication` enabled... clearly I did a horrible job doing that!

Perhaps I linked the wrong issue, as of right now, when I create a Blazor Webassembly Core hosted project with authentication enabled (using the built in template), I see no option to resend

[2020-06-14 21:42] alefranz commented on #22915
I actually get the same error when running it from VS. I'm on Version 16.7.0 Preview 2.0

[2020-06-14 22:06] srpeirce commented on #22941
Aha okay, so yes, you will need to register the mutual dependencies on both client and server as they are separate applications.

Does this make sense? Was there any follow up question?

[2020-06-14 22:32] DenisKudelin commented on #22941
Yes. How to avoid that? My services are conflicting and confusing each other, client services are not compatible with server and vise versa. Perfectly, I want to completely separate them and run client side rendering since WebAssemblyHostBuilder.CreateDefault. But splitting serviceproviders will be okay too.

[2020-06-14 22:36] jvallejoa commented on #22712
Hi guys, adding  @RenderSection("Scripts", required: false) in _Layout.cshtml helped to solve this issue for me. However the best approach perhaps is removing Pages/Shared/_Layout.cshtml from the ASP.NET Core hosted Blazor WebAssembly template if It's only used for the Error.cshtml page.

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-wi

[2020-06-14 22:53] Gaulomatic opened #22945 "[Blazor] Nullable Reference Types and component nesting slows down compile time exponentially"
### Describe the bug
When enabling Nullable Reference Types in the `.csproj` file and you start nesting components, the compile time goes up exponentially. The current version of the .NET 5 compiler speeds thing up a couple of percent, but the issue remains.

### To Reproduce

Enable Nullable Reference Types in the project file, create a component with a property `[Parameter] public RenderFragment

[2020-06-15 00:37] azydevelopment commented on #17962
Just in the interest of understanding what we're looking at here, is this likely to make it in the release after your coming release? We're trying to figure out as an early binding decision on whether to use aspnetcore identity and it's difficult if the default framework behaviour is that after a timeout, every user is stuck in an undefined state.

I also read the Triage Process and it looks like

[2020-06-15 00:59] blowdart commented on #22940
We had concerns about it being used to spam folks, and if you have a valid login you should be able to send it again via the user management pages, but I think put off sending confirmations again due to spam concerns.

@haok is that right?

[2020-06-15 01:04] HaoK commented on #22940
No it should be back in again, as of 5.0 https://github.com/dotnet/aspnetcore/blob/master/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Login.cshtml#L45

[2020-06-15 01:06] const1966 commented on #22908
Here you go.
Ask me if any questions.
Thank you
[BlazorAppDemo.zip](https://github.com/dotnet/aspnetcore/files/4777545/BlazorAppDemo.zip)

[2020-06-15 01:19] giggio opened #22946 "Incorrect attribute usage on ProducesResponseTypeAttribute"
### Describe the bug

According to [this comment](https://github.com/dotnet/aspnetcore/issues/20662#issuecomment-641552124) on issue #20662 from @mkArtakMSFT, `ProducesResponseTypeAttribute` is not supposed to be used on classes, only on methods. If this is the case, it should not have `AttributeTargets.Class`, as per:

https://github.com/dotnet/aspnetcore/blob/74857c3e352755fa4c924d73c615b3e9113e

[2020-06-15 02:56] BrennanConroy commented on #22915
Found the commit that broke it. https://github.com/dotnet/aspnetcore/commit/d5849f3534403caf665157c4e1045432a35e3951
That's the change from netcoreapp5.0 to net5.0. Not sure how it broke it though.

[2020-06-15 04:55] MBQNIAZ opened #22947 "The type or namespace name 'ValidateAntiforgeryTokenAuthorizationFilter' could not be found (are you missing a using directive or an assembly reference?"
### Describe the bug

I have created an asp.net core 3.1 website and tried to inherit ValidateAntiforgeryTokenAuthorizationFilter in a custom class, i get below error.
The type or namespace name 'ValidateAntiforgeryTokenAuthorizationFilter' could not be found (are you missing a using directive or an assembly reference?)

![Capture2](https://user-images.githubusercontent.com/48515900/84619378-8e804

[2020-06-15 05:09] srpeirce commented on #22941
Please can you provide a bare-bone example project of Github to give a concrete example of your problem?

[2020-06-15 05:22] srpeirce commented on #22819
@pranavkm Do you mean this won't be in 5.0? Is this something to be reconsidered? There are multiple open tickets requesting similar including:
https://github.com/dotnet/aspnetcore/issues/21285
https://github.com/dotnet/aspnetcore/issues/22202

I understand there are a lot of requests, and you cannot focus on everything, but it's (imo) a big deal for customer facing websites if Blazor is to conten

[2020-06-15 06:02] akorchev commented on #22353
Will this fix be released officially in a 3.x Blazor version?

[2020-06-15 07:55] sgraziosi commented on #22831
Hello all (@Tratcher, @BrennanConroy),
Just a short one to say:
1. If you need me to try things on my end, please let me know - I'll do my best to find a gap in my schedule for some experimentation.
2. If you have news and/or have learned more about this issue, I'd be keen to hear from you, as it affects our own planning for releasing features.
3. I feel like I owe an apology to @guardrex: having

[2020-06-15 08:29] morganc9 commented on #20374
Hello,
I need the same thing, redirect instead of pop-up for my customers
@guardrex I thnik it's the same as #18269... A lot of people come to the same conclusion :) we need redirect. All the hopes are on you ;)

[2020-06-15 08:38] James-Anastasi opened #22948 "Blazor WebAssembly 3.2.0 - create and run your first Blazor WebAssembly app"
Hi,
just starting with Blazor : not going so well for a first contact...

### Describe the bug
blazor webassembly app compatibility errors  3.2.0 not compatible with netstandard 2.1

just downloaded and installed dotnet-sdk-3.1.301-win-x64:
 * Installed without errors,
 * listed the templates (seems ok)
      Microsoft.AspNetCore.Components.WebAssembly.Templates
         Details:
           NuGetP

[2020-06-15 09:05] Larry57 commented on #5934
I forgot to copy the xxx.deps.json file and it also leads to this issue. (.NET Core 3.1)

[2020-06-15 09:05] musmuris commented on #22600
Apparently their support said their current profiler doesn't support newer .NET Core versions (they fail to mention this elsewhere...) but they do have a beta update for us. So I guess that solves this one.

[2020-06-15 09:23] SteveSandersonMS commented on #22353
@akorchev Yes, we are planning to include a fix in the next patch release, whenever that happens. In the meantime you can use @SQL-MisterMagoo's workaround above.

[2020-06-15 09:36] #22880 closed

[2020-06-15 09:37] senseihimanshu commented on #22880
Actually the problem was i made constructor private, Sorry!

[2020-06-15 10:26] SteveSandersonMS commented on #5466
@hoksource We don't have exact numbers on how the perf characteristics will change, however if you try out the previews in 1-2 months you should be able to find out.

The work there really is about figuring out what is to be done as well as doing it. There is some infrastructure within the Mono repo to do with [AoT](https://github.com/mono/mono), so you would have to work out how best to apply to

[2020-06-15 10:40] javiercn commented on #22715
Yes, we are working with the tooling folks to improve the experience here.

I'm closing this issue since the original issue has been addressed.

[2020-06-15 10:40] #22715 closed

[2020-06-15 10:43] javiercn commented on #22947
@MBQNIAZ thanks for contacting us.

It is an internal type in 3.1. https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.ViewFeatures/src/Filters/ValidateAntiforgeryTokenAuthorizationFilter.cs#L12

We don't expect this to change. See [here](https://github.com/aspnet/Announcements/issues/377) for details

[2020-06-15 10:43] #22947 closed

[2020-06-15 11:22] javiercn commented on #22943
@andyzhu thanks for contacting us. You also need to change where the Blazor files are exposed by passing `/blazor` to `UseBlazorFrameworkFiles`

[2020-06-15 11:26] javiercn commented on #22942
@fcbogle thanks for contacting us.

Can you provide an actual minimal repro project that illustrates the issue? It is not clear from your snippet if that code accurately represents what's in your project. If that is the case, then this syntax is not supported. You can't have markup within a method body.

[code]

[2020-06-15 11:28] javiercn commented on #22939
@cainy-a thanks for contacting us.

It is not clear if you are using the standalone Blazor template or the Hosted template.
The hosted template will publish the app to the hosts wwwroot folder.
The standalone app will publish the output to the publish folder under wwwroot.

We used to have a dist folder, but we replaced it with wwwroot since that's what ASP.NET Core uses for static files.

[2020-06-15 11:28] #22939 closed

[2020-06-15 11:30] javiercn commented on #22937
@NateKomodo thanks for contacting us.

Is the BaseUri on the document the same or different? If its different it is expected, since you can have different apps hosted within different base URIs on the url space. If the Base URI for the document is the host in all cases, then we might have an issue here.

/cc: @SteveSandersonMS

[2020-06-15 11:32] javiercn commented on #22934
@ElderJames thanks for contacting us.

We had an issue in this area that we have addressed and will be released in a future patch update, so you won't have to do anything (it'll auto-update). In the meantime, you can update a version manually in service-worker.published.js and that will force the update.

Dupe of #22353

[2020-06-15 11:32] #22934 closed

[2020-06-15 11:32] hoksource commented on #5466
@SteveSandersonMS ok so
to contribute my goal will be to be able to do the following:

Option 1: Direct approach (deal with the problem directly):
[ ] learn to compile mono project
[ ] learn to compile asp.net blazor project
[ ] learn to compile an asp.net blazor with webassembly
[ ] learn to compile the blazor client program to webassembly completely aot (is mono->webassembly aot done? can it com

[2020-06-15 11:34] javiercn commented on #22932
@imtrobin thanks for contacting us.

That is perfectly normal and can happen if the component is removed before the async work completes. You should use a cancellation token source and trigger it on dispose to abort any further work.

[2020-06-15 11:34] #22932 closed

[2020-06-15 11:37] javiercn commented on #22926
@bancroftway thanks for contacting us.

We have docs for this. https://docs.microsoft.com/en-us/aspnet/core/blazor/progressive-web-app?view=aspnetcore-3.1&tabs=visual-studio#interaction-with-authentication

[2020-06-15 11:37] #22926 closed

[2020-06-15 11:40] javiercn commented on #22895
@ThatFlashCat thanks for contacting us.

We'll look into this and update this issue appropriately.

[2020-06-15 11:45] SteveSandersonMS commented on #22937
The cache name is computed from the base href, so I think this is behaving correctly already:

https://github.com/dotnet/aspnetcore/blob/74857c3e352755fa4c924d73c615b3e9113ea1a8/src/Components/Web.JS/src/Platform/WebAssemblyResourceLoader.ts#L172-L173

@NateKomodo If you have more information to imply there's a bug, please let us know, otherwise this appears to be working as intended and it looks

[2020-06-15 11:45] fcbogle commented on #22942
Hello @javiercn
I'll give you access to the repo now. The code in question is within the .Web project and the other projects are also there should you need to access them. Two mins and you will have access. Thank you for the pointer about not having markup within a method body. Are their guidelines about where the markup can be placed? Regards

[2020-06-15 11:50] SteveSandersonMS commented on #5466
@hoksource Thanks for your willingness to get involved. Currently the only practical option is option 1, since the ASP.NET Core team is fully occupied with other work. I know that is a huge number of things you'd have to figure out, but hopefully that helps to explain why it's not something we're able to just slip into the .NET 5 milestone :) It sounds like you do have good insights into the range

[2020-06-15 12:09] SteveSandersonMS commented on #20555
@captainsafia Sorry for the slow response. I'm not 100% certain whether this discussion was resolved by us offline, so I'll just reply here now :)

It absolutely might be that `explicitOriginalTarget` relates to something in the browser's internal tracking about whether a given call stack originates in a user action or not. My understanding of the restriction is described in [this blog post](https

[2020-06-15 12:26] JonTvermose commented on #22400
I think we're running into the same issue.
When we are in a synchronous context and needs to make a async http request, we recieve the same error message.
In our case we need to fetch string resources for a StringLocalizer from our backend api.
@javiercn Is there a workaround?

[2020-06-15 12:34] javiercn commented on #22400
@JonTvermose You'll have to architect around it. I suggest you extract the async work out of the sync code path and cache the results for use within the sync path.

[2020-06-15 12:35] SteveSandersonMS commented on #22352
@Sridhar-Narasimhan You need to modify the `<base href>` *before* the integrity hashes are computed, otherwise you'll break the integrity checks. Here's an example of a build process that updates the base href before the integrity hashes are computed: https://github.com/SteveSandersonMS/BlazorOnGitHubPages/blob/master/.github/workflows/main.yml

[2020-06-15 12:35] #22352 closed

[2020-06-15 12:40] javiercn commented on #22942
@fcbogle we can't look at your code for compliance reasons, we need a specific minimal repro project that illustrates the issue that you are happy placing on a publicly accessible location.

The guidelines are that markup goes within the top level context of the Razor file. From what you seem to be trying to do, you just need to move the markup outside of the `code` block and put and `if` statemen

[2020-06-15 12:44] javiercn commented on #22864
@Tratcher this is a dupe of another issue. The problem apparently is that node only listens on IPv4

[2020-06-15 12:44] yepeekai opened #22950 "Setting maxAllowedContentLength in the web.config for IIS is not working anymore."
Since 3.1, setting maxAllowedContentLength in the web.config for IIS is not working anymore.
 Looking at the code, the default value for IISServerOptions.MaxRequestBodySize has been set to match the default value of IIS. The problem is that you now have to change this value at 2 places:
web.config (configuration/system.webServer/requestFiltering/requestLimits: attribute maxAllowedContentLength) an

[2020-06-15 12:46] symphony2014 opened #22951 ".tools\msbuild\16.5.0-alpha\tools\MSBuild\Microsoft \VC\v160\\Microsoft.Cpp.Default.props" is correct, and that the file exists on disk Not work for me ?"
Solved. Need to run the ./eng/scripts/InstallVisualStudio.ps1 to install the correct component. And it required the visual studio enterprise version.

_Originally posted by @huazhb in https://github.com/dotnet/aspnetcore/issues/18158#issuecomment-571434075_

**But it was not work for me .** @huazhb
**Any compoent that I need to install inside the install Dialog ?**
![image](https://user-images.git

[2020-06-15 12:53] javiercn commented on #22864
Closing as a dupe of https://github.com/dotnet/aspnetcore/issues/18062

[2020-06-15 12:53] #22864 closed

[2020-06-15 12:56] javiercn commented on #22912
https://github.com/dotnet/aspnetcore/blob/master/src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs#L202

[2020-06-15 12:59] javiercn commented on #22946
@giggio thanks for contacting us.

We'll discuss this change and update the issue appropriately.

[2020-06-15 13:04] #22361 closed

[2020-06-15 13:04] #22583 closed

[2020-06-15 13:05] #22852 closed

[2020-06-15 13:11] javiercn commented on #22929
@douglassimaodev thanks for contacting us.

You'll likely have to have one step to recompute the hash after the change and update blazor.boot.json with it, and if you are using a PWA you will have to update the serviceworker-assets-manifest.js file too to include the updated hashes.

[2020-06-15 13:17] javiercn commented on #22941
You do this manually:
* Extract common services that you want to use serverside during prerendering into a separate method.
* Replace clientside services that don't make sense on a prerendering context with serverside implementations.
* Avoid rendering paths that make use of services that don't have a server replacement.

Prerendering client-side apps is not transparent and it is unlikely it will

[2020-06-15 13:19] Dean-NC commented on #22715
@javiercn When using the different "source folder" method above, and copying the .js to the wwwroot\js folder, is it normal for the app's .exe to get put in the js folder? This only happens when I use this different source folder method.

[2020-06-15 13:20] douglassimaodev commented on #22929
Thanks, I got is solved by creating 2 pipelines in azure devops, one for dev environment changing the appsettings.json variables before building and publishing, then same for test environment, and then in the release just using these 2 pipepiles the dev for dev and test for test environment release

not sure if that would be the best option but worked for me

[2020-06-15 13:21] javiercn commented on #22929
@douglassimaodev that's even better than my solution :)

[2020-06-15 13:21] #22929 closed

[2020-06-15 13:25] fcbogle commented on #22942
Hi @javiercn yes this call can be closed, I'll use the technology within the guidelines. Thank you

[2020-06-15 13:25] #22942 closed

[2020-06-15 13:39] BararDiHoumes opened #22953 "TypeScript + Blazor = strange error messages?"
### Describe the bug
I am trying to make TypeScript to work with Blazor, but there is constantly issues with the namespace, and problems around the visibility and compiler.

### To Reproduce
- Create a blazor project.
- Create two .ts files inside the main wwwroot folder.
- Try to import one to another, and call a function from the last one from the blazor.

file MainLayout.razor
[code]
file maste

[2020-06-15 13:44] Jaffacakes82 opened #22954 "Azure Web App Diagnostics logging does not honour filters configured in code"
## Describe the bug
We have a web application deployed to an Azure App Service, with Azure Web App Diagnostics configured to log to blob storage. I have added a filter, to only create logs for `Microsoft` and `System` category where the level is greater than `Information`. Locally, these logs are not printed in my Application Output. However, once deployed into Azure, I get a myriad of Information

[2020-06-15 13:53] ahmetsekmen commented on #22276
@fitdev have you resolved your slow down problems.
I have same issues.

[2020-06-15 13:56] ahmetsekmen commented on #22276
@mkArtakMSFT  Link is dead

[2020-06-15 14:11] javiercn commented on #22908
@const1966 thanks for contacting us.

Your issue is that Blazor hasn't finished loading by the time you run your script. The proper way to achieve what you are trying to accomplish is to define a function in the global scope and call it from OnAfterRenderAsync using JS interop. See [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/call-javascript-from-dotnet?view=aspnetcore-3.1#detect-whe

[2020-06-15 14:11] #22908 closed

[2020-06-15 14:14] javiercn commented on #22953
@BararDiHoumes thanks for contacting us.

There's nothing specific about making typescript work with Blazor. As long as typescript compiles the files to js and that you reference those from within index.html or _Host.cshtml it should be fine.

I would check that you can make it work in a plain html file and then move that working solution to Blazor, but there should be no difference.

[2020-06-15 14:15] #22953 closed

[2020-06-15 14:15] #22943 closed

[2020-06-15 14:17] #22941 closed

[2020-06-15 14:19] bachratyg commented on #5466
Out of curiosity: would JITting on the client be a practical alternative to interpreting/going full AoT?

[2020-06-15 15:10] fitdev commented on #22276
@ahmetsekmen Not at all. Using VS 2019 16.7 Preview 2 and .Net 5 Preview 5 - all the issues are still there. It is basically unusable.

Fortunately I managed to create all the razor files I needed for the current stage of my project, and hence closed all razor tabs. But whenever I open one, regardless of VS feature flag settings (experimented with quite a few), there is a ~30 second slowdown. If I

[2020-06-15 15:20] mitselplik opened #22956 "DynamicControllerEndpointMatcherPolicy is broken"
I was attempting to use an implementation of the `DynamicRouteValueTransformer` class but kept getting unexpected results in testing.  I traced the problem back to the `DynamicControllerEndpointMatcherPolicy` which appears to be behaving in a manner I simply cannot explain.  I've never seen something like this before.

From the image below, it is apparent from the debug view of the `dynamicValues`

[2020-06-15 15:21] ArturDorochowicz commented on #20136
Are there any workarounds known for this bug?

[2020-06-15 15:22] ahmetsekmen commented on #22276
@fitdev  Mine is not as much as bad like yours but i started to get discomfort. I was  planing to change local machine.
What is your cpu in your local machine?

[2020-06-15 15:27] fitdev commented on #22276
@ahmetsekmen I really don't think it's anything to do with the machine specs. I use a modern 2018 Intel Desktop CPU with 6 cores and 32GB Ram and a fast SSD. My solution as far as razor files are concerned is pretty small - less than 100 razor files and all of them spread across just 2 projects. Surely a system like this with a mere 100 razor files should not experience even a tenth of the slowdow

[2020-06-15 15:29] NateKomodo commented on #22937
Its the same app but loaded from different base hrefs, so loading the site with the path of / or the path of /login (To load a specific page within the SPA after it loads), this creates a cache for both / and /login despite it being the same application. I'm requesting an option to override the name for cases like this where it is loaded from different paths but all the files are the same. Yes, th

[2020-06-15 15:34] bradlis7 commented on #20822
I gave a clear way of verifying the issue @mkArtakMSFT . Just because it's not common doesn't mean it's ok to ignore. Please reopen.

[2020-06-15 15:39] jfatticq commented on #22470
does this FAQ already exist somewhere?

(I'm looking for some direction since even the blazor VS template app errors for me after the first run in localhost :( )

[2020-06-15 15:57] fitdev commented on #22276
UPDATE6: Actually just noticed that the slowdown happens even with `.cs` files that contain _Razor Component Implementations_ (even when _all the .razor tabs_ are closed).

I have several Razor Components defined entirely in the `.cs` files w/o any Razor markup. They either implement `IComponent` interface or derive from `ComponentBase` and are thus constructed completely programmatically. However

[2020-06-15 16:04] #21196 closed

[2020-06-15 16:08] #22292 closed

[2020-06-15 16:09] javiercn commented on #22937
@NateKomodo you can disable the built-in caching and handle caching yourself by setting `BlazorCacheBootResources` to false within your project and using a custom resourcebootloader

[2020-06-15 16:18] mkArtakMSFT commented on #22948
Thanks for contacting us. Do you see something similar with any other packages or only this one?

[2020-06-15 16:19] mkArtakMSFT commented on #22945
Thanks for contacting us.
We're moving this issue to the `Next sprint planning` milestone for future evaluation / consideration. We will evaluate the request when we will planning the work for the next milestone. To learn more about what to expect next and how this issue will be handled you can read more about our triage process [here](https://github.com/dotnet/aspnetcore/blob/master/docs/TriagePr

[2020-06-15 16:20] NateKomodo commented on #22937
Guess i'll finally get around to writing a service worker then. It would still have been nice to see this as a feature though.

[2020-06-15 16:20] #22937 closed

[2020-06-15 16:22] mkArtakMSFT commented on #22911
Thanks for contacting us.
We're moving this issue to the `Next sprint planning` milestone for future evaluation / consideration. We will evaluate the request when we will planning the work for the next milestone. To learn more about what to expect next and how this issue will be handled you can read more about our triage process [here](https://github.com/dotnet/aspnetcore/blob/master/docs/TriagePr

[2020-06-15 16:24] danroth27 commented on #22948
@James-Anastasi Are you able to create a run a Console app or an ASP.NET Core web app?:

- `dotnet new console -o ConsoleApp1`
- `dotnet new webapp -o WebApp1`

Is there anything unusual or unique about your user directory where the NuGet packages get cached (*\users\<username>\.nuget\packages*), like special characters, spaces, etc.?

[2020-06-15 16:24] danroth27 commented on #22948
Also try running `dotnet nuget locals all -c` to clear your local NuGet cache and see if that helps.

[2020-06-15 16:25] mkArtakMSFT commented on #22870
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-06-15 16:38] James-Anastasi commented on #22948
Tried a console APP:

   D:\Documents\VisualStudioProjects>dotnet new console -o ConsoleApp
   The template "Console Application" was created successfully.

   Processing post-creation actions...
   Running 'dotnet restore' on ConsoleApp\ConsoleApp.csproj...
     Determining projects to restore...
    Restored D:\Documents\VisualStudioProjects\ConsoleApp\ConsoleApp.csproj (in 110 ms).

     Restor

[2020-06-15 16:38] James-Anastasi commented on #22948
We can close the issue.

[2020-06-15 16:38] #22948 closed

[2020-06-15 16:55] rainersigwald commented on #22870
It does not ring a bell, and I'd like to see the repro too.

[2020-06-15 16:56] mckinleyelliot opened #22957 "Dotnet watch run working - supervisor working - Views not loading"
Hello, I am a recent bootcamp grad trying to deploy a few of my first websites. I'm hosting on an AWS EC2 Ubuntu server with netcoreapp 2.2. Please keep in mind that I am a newcomer to coding and web development. My code is sloppy, because I've been trying to focus on fixing this problem for months! I'm unaware of how to make a repro that's much simpler than my "custom" project, my repo called cwd

[2020-06-15 17:07] wtgodbe commented on #21850
Fixed by https://github.com/dotnet/aspnetcore/pull/22372

[2020-06-15 17:07] #21850 closed

[2020-06-15 17:13] elylv opened #22958 "Error when trying to debug Blazor WebAssembly in Chrome, with Windows Authentication turned on"
When I create a Blazor WebAssembly project, set with a DotNetCore server, and I turn on Windows Authentication on the Server project (and turn off Anonymous Authentication), when I try to Debug the project from VS2019 (16.6.2) with Chrome (83), the application builds, Chrome launches, but the application does not load, and eventually I get an error that it "failed to launch debug adapter".

![imag

[2020-06-15 18:03] TanayParikh opened #22959 "ProjectPathProvider Not Found on Razor LS Boot"
Occurs occasionally when opening the first `.razor` file. No repro, putting this up but should be safe to backlog for now.

System.InvalidOperationException: Service of type 'Microsoft.VisualStudio.Editor.Razor.ProjectPathProvider' is required to accomplish the task but is not available from the workspace.at Microsoft.CodeAnalysis.Host.HostWorkspaceServices.GetRequiredService[TWorkspaceService]()a

[2020-06-15 18:05] TanayParikh commented on #22959
I've cleared my component cache, and am getting a consistent repro in my environment. Investigating further...

[2020-06-15 18:12] SeawardToast commented on #17025
Is there any movement on this? This is a huge blocker for us as well, wanting to integrate windows authentication within a blazor server side app running on rhels v8.

[2020-06-15 18:17] TanayParikh commented on #22959
Dup of https://github.com/dotnet/aspnetcore/issues/8096

Fixed by re-installing the LiveShare extension.

[2020-06-15 18:17] #22959 closed

[2020-06-15 18:19] javiercn commented on #22956
@mitselplik thanks for contacting us.

Can you provide a minimal repro project so that we can investigate?

[2020-06-15 18:21] javiercn commented on #22958
@elylv thanks for contacting us.

We are aware of this issue. This is a result of the debug proxy running on the same process as the hosting app. We have plans to make the debug proxy a standalone process.

Closing as a dupe of #21466

[2020-06-15 18:21] #22958 closed

[2020-06-15 18:22] NTaylorMullen opened #22960 "Build a common O# VS server library dependency."
We should build an O# server library that works with VS & VSCode so that us + partners can live on the same bits. This will be a good amount of work but not massive.

Some things to transition to it:
- Serialization of common O# types to bridge LSP version differences
- OnAutoInsert
- Semantic colorization.
- O# upgrade dependencies.

[2020-06-15 18:23] christian-ruud commented on #17025
@SeawardToast I made a workaround for my project, as it was a blocker for me too.

First, we have this extension method:
`
        public static void ChallengeUnauthenticated(this IEndpointConventionBuilder builder)
        {
            builder.Add(SecureEndpoint);

            static void SecureEndpoint(EndpointBuilder builder)
            {
                var d = builder.RequestDelegate;

[2020-06-15 18:25] javiercn commented on #22933
@musictopia2 thanks for contacting us.

We have an issue tracking adding proper support for SVG.

Closing this issue as a dupe of https://github.com/dotnet/aspnetcore/issues/18271

[2020-06-15 18:25] #22933 closed

[2020-06-15 18:29] zafer-v3 opened #22961 "Blazor app routing error on adress bar | Github Pages"
Hello,

https://zafer-v3.github.io/TurkishLiraHistory -> I can access this

https://zafer-v3.github.io/TurkishLiraHistory/fetchdata -> I can't acess directly sub adress.

I dont know why.

### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Exceptions (if any)

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
-

[2020-06-15 18:30] mkArtakMSFT commented on #22883
This is a dupe of https://github.com/dotnet/aspnetcore/issues/18062

[2020-06-15 18:30] #22883 closed

[2020-06-15 18:30] javiercn commented on #21729
@Lupusa87 thanks for the details.

If you just want multiple apps hosted within an ASP.NET Core app, that's possible today. See [here](https://github.com/javiercn/BlazorMultipleApps) for a sample.

[2020-06-15 18:31] #21893 closed

[2020-06-15 18:33] javiercn commented on #21729
WRT to loading an app within an already loaded app, that's not something we support today, the closest thing would be something that uses lazy loading as a way to load a specific set of components and render them yourself, but there is no magic way of rendering an app within an app.

[2020-06-15 18:34] #22596 closed

[2020-06-15 18:46] Lupusa87 commented on #21729
@javiercn Thank you Javier, appreciate your time and attention.

[2020-06-15 18:46] #21729 closed

[2020-06-15 18:56] davidbuckleyni opened #22963 "[BUG[] Integrating shared project with Xamarin forms .NET standard 2.1"
I am trying to share a .NET standard 2.1 library that has my models within it I don't want to take them out and have a duplicate library however I get the following error.
Is there anyway for me to get around this error without having to create a sep library for models.

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1202	Package Microsoft.AspNet.Identity.Core 2.0.1 is not c

[2020-06-15 19:04] javiercn commented on #22961
@zafer-v3 thanks for contacting us.

I believe this is a limitation of deploying to a static site. GH doesn't know anything about client-side routes so it doesn't server index.html and only does that on the root page.

[2020-06-15 19:06] zafer-v3 commented on #22961
I try azure web sites and run cool than github pages :)

https://dollarsallary.azurewebsites.net/fetchdata

[2020-06-15 19:08] SteveSandersonMS commented on #22961
@zafer-v3 You might want to check [this example of a Blazor WebAssembly app on GitHub pages](https://github.com/SteveSandersonMS/BlazorOnGitHubPages) which works with deep linking (sub-addresses).

Internally the solution is https://github.com/rafrex/spa-github-pages

[2020-06-15 19:12] zafer-v3 commented on #22961
I think Github teams solve this.

[2020-06-15 19:17] JunTaoLuo commented on #22917
Though I'd want to turn off the tests to ensure the build passes, this issue will remain open to track the investigation of these tests.

[2020-06-15 19:50] #21704 closed

[2020-06-15 20:08] javiercn opened #22964 "[Blazor] Enable docker support when creating a template from Visual Studio"
Change the template to enable the checkbox.

[2020-06-15 20:13] vsfeedback opened #22965 "Adding references and creating new razor pages in a Blazor project has been crashing all morning. 5 new crash dumps within the last hour"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1077541/adding-references-and-creating-new-razor-pages-in.html)._

---
Adding references and creating new razor pages in a Blazor project has been crashing all morning. 5 new crash dumps within the last hour

---
### Original Comments

#### Visual Studio Feedback System on

[2020-06-15 20:14] vsfeedback opened #22966 "Uploading 5 new crash dumps from working on a Blazor project this morning"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1077514/uploading-5-new-crash-dumps-from-working-on-a-blaz.html)._

---
Uploading 5 new crash dumps from working on a Blazor project this morning.

Not sure if they will all be duplicates or not, but inlcuding the 5 crashes I have had this morning hoping it can provide more

[2020-06-15 20:14] vsfeedback opened #22967 "Typing in a .razor file in a blazor project causes long pause followed by crash"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1076033/typing-in-a-razor-file-in-a-blazor-project-causes.html)._

---
Typing in a .razor file in a blazor project causes long pause followed by crash

---
### Original Comments

#### Visual Studio Feedback System on 6/15/2020, 00:59 AM:

<p>We have directed your feedback t

[2020-06-15 20:14] vsfeedback opened #22968 "Visual Studio hangs for long periods and frequesntly crashes while typing in a razor file in a large Blazor project"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1076037/visual-studio-hangs-for-long-periods-and-frequesnt.html)._

---
Long pauses while typging in a razor file in a BlazoVisual Studio hangs for long periods and frequesntly crashes while typing in a razor file in a large Blazor project project

---
### Original Comments

[2020-06-15 20:15] NTaylorMullen commented on #22965
Duplicate of https://github.com/dotnet/aspnetcore/issues/22276

[2020-06-15 20:15] #22965 closed

[2020-06-15 20:15] NTaylorMullen commented on #22966
Duplicate of https://github.com/dotnet/aspnetcore/issues/22276

[2020-06-15 20:15] #22966 closed

[2020-06-15 20:15] NTaylorMullen commented on #22967
Duplicate of https://github.com/dotnet/aspnetcore/issues/22276

[2020-06-15 20:15] #22967 closed

[2020-06-15 20:15] NTaylorMullen commented on #22968
Duplicate of https://github.com/dotnet/aspnetcore/issues/22276

[2020-06-15 20:15] #22968 closed

[2020-06-15 20:43] mkArtakMSFT opened #22970 "New perf scenario to measure rendering time for many components (~800)"

[2020-06-15 20:51] lanik opened #22971 "Blazor WebAssembly Automatic Token Renewal"
Please add automatic token renewal using the refresh token.

I am working on Blazor WebAssembly app which invoks method trought grpc. But after token expires it requires request to redirect to login page. This is not the best solution.
There can be used refresh token to renew access token.

I am adding OIDC authentication from Microsoft.AspNetCore.Components.WebAssembly.Authentication
[code]
And s

[2020-06-15 20:58] mitselplik commented on #22956
Certainly.  I'll need a little time (maybe a day or so).  The only time I've ever seen something like this is when the binaries don't match the source.

[2020-06-15 21:04] fstaffa commented on #21464
I would like to implement a fix. Is this issue still free to take?

[2020-06-15 21:05] jkotalik commented on #21464
There is already a PR filed, I'm currently working on merging it (requires an announcement as it's a breaking change).

[2020-06-15 21:11] pranavkm commented on #22819
@srpeirce unfortunately our schedule for 5.0 is already very full so it's difficult to accommodate new feature requests that we hadn't already planned for. /cc @javiercn since we were discussing this today.

[2020-06-15 21:15] BrennanConroy commented on #22891
You might need to add an rd.xml file to your project to add types that are trimmed during build/publish.
https://docs.microsoft.com/en-us/dotnet/framework/net-native/runtime-directives-rd-xml-configuration-file-reference

We should also take a look at what is needed by default and add some docs around this.

[2020-06-15 21:20] BrennanConroy commented on #22950
Is your limit between 2GB and 4GB?

We have an issue with that right now https://github.com/dotnet/aspnetcore/issues/22834

[2020-06-15 21:23] BrennanConroy commented on #22600
Glad you figured it out! We'll close since this is an issue with the 3rd party library.

[2020-06-15 21:23] #22600 closed

[2020-06-15 21:24] yepeekai commented on #22950
It is about the ~30MB limit.  By default, it is set to 30MB in IIS and it is now set by default to 30MB in aspnetcore too.  So It is required to change both limits for this to work.

[2020-06-15 21:26] BrennanConroy commented on #22906
429 is specific to a single user so would not be appropriate in this case.

"The HTTP 429 Too Many Requests response status code indicates the user has sent too many requests in a given amount of time ("rate limiting")."
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429

[2020-06-15 21:26] #22906 closed

[2020-06-15 21:33] fstaffa commented on #21464
Thanks, not sure how I missed the PR

[2020-06-15 21:43] jkotalik opened #22972 "Breaking change in IIS UrlRewrite support with query string"
## Changes to appendQueryString in IIS UrlRewrite middleware

We are fixing a bug in the IIS UrlRewrite middleware which will append query strings by default instead of removing them. This is to stay consistent with what the IIS UrlRewrite Module's behavior.

### Version introduced

ASP.NET Core 5.0-preview7

### Old behavior

When having a rewrite rule like the following:

[code]

This wouldn't a

[2020-06-15 21:45] BrennanConroy commented on #19416
This looks like GrpcCore, please file an issue there https://github.com/grpc/grpc

[2020-06-15 21:45] #19416 closed

[2020-06-15 21:46] #21464 closed

[2020-06-15 21:49] BrennanConroy commented on #20336
Dupe of https://github.com/dotnet/aspnetcore/issues/22101

[2020-06-15 21:49] #20336 closed

[2020-06-15 21:49] BrennanConroy commented on #22101
Current hypothesis is there was an HttpClient change that is causing failures.

[2020-06-15 21:51] #22172 closed

[2020-06-15 21:51] #22171 closed

[2020-06-15 21:57] fstaffa commented on #21556
I would like to look into this. Is this issue available for taking?

[2020-06-15 21:58] ToddGrun opened #22973 "Razor tooling code doesn't ngen dependencies"

[2020-06-15 22:01] Tratcher commented on #21556
@fstaffa yes, go ahead.

[2020-06-15 22:05] vanillajonathan commented on #22845
Here goes some ramblings...

The web application needs to communicate to the client (the web browser) that it has received information about whether the user (through the authenticator app) has either approved or denied the authentication request. This can be done either through HTTP request polling or using a WebSocket connection.

The disadvantage of using a WebSocket is that it is not possible

[2020-06-15 22:08] JamesNK commented on #21441
gRPC benchmark here no longer runs.

[2020-06-15 22:11] mkArtakMSFT opened #22974 "Investigate ways to host Angular / React components as islands within a Blazor application"
There is currently no mechanism in place to do this as each SPA framework needs to be in control of the DOM.
Blazor can have some markers to be used as islands within the DOM, which will indicate that changes within these sections of the DOM are allows, and let other SPA frameworks modify it as needed. That way, it can be possible to host any SPA framework components within a Blazor app.

This can

[2020-06-15 22:13] #15104 closed

[2020-06-15 22:22] #22843 closed

[2020-06-15 22:50] ajaybhargavb commented on #22725
Done. Things work in general. I did notice the following exception in the logs when I was typing some component names after which the entire tooling experience is busted on all files and I had to restart. I couldn't reliably make it repro again. Pasting it below in case we see it in the future.

[code]

[2020-06-15 22:55] ajaybhargavb commented on #22725
Also noticed, that the HTML end tag auto-insertion takes a long time(~3 seconds) to appear at times when using WSL. Again, I couldn't reliably reproduce it. It happens infrequently.

[2020-06-15 22:56] #22725 closed

[2020-06-15 22:57] mattleibow commented on #5466
Hi folks! Just been doing some talking with some teams and things. Seems this is pretty much essential for libraries such as SkiaSharp. The main part of SkiaSharp is a native library and the output is basically a .a file that needs to be statically linked in. We _could_ potentially build a dynamic native library, but does Blazor even support that?

[2020-06-15 22:59] kg commented on #5466
FYI, it is currently possible to static link a native library into the runtime. It's not something I would recommend as it's non-trivial, but you could do that and then p/invoke into the statically linked library once all the pieces are there. I don't know if we have any test cases that do it yet so it may require some additional infrastructure that isn't shipping in Blazor yet. You'd have to comp

[2020-06-15 23:02] pranavkm opened #22975 "Figure out how timezones work in browser-wasm"
* How does the tz database get referenced?
* Can you disable it to save bytes?

[2020-06-15 23:12] pranavkm opened #22976 "Figure out how WASM i8N assemblies are copied in browser-wasm"
Blazor's build performed had special code path to support the linkers `-l` option during build. Figure out how this works during in browser-wasm.

[2020-06-15 23:17] drma-dev opened #22977 "azure / blazor - SecurityException: Invalid assembly public key. (0x8013141E)"
I haven't been able to log in to my blazor project in azure for a few days now. I didn't make any changes to my application. I believe it is something that has been changed in the Azure itself.

It works normally on localhost, but not when I publish to azure. I've tried in linux and windows environments, nothing changes.

When I do the login test with google, for example, the following error occur

[2020-06-15 23:51] JunTaoLuo opened #22980 "Flaky test: ProjectReferences_Graph"
https://dev.azure.com/dnceng/public/_build/results?buildId=688465&view=results
[code]

[2020-06-16 00:10] pwen090 commented on #18259
I think this might be related? We are trying to gracefully stop our azure app service (linux container) by calling StopApplication but Azure still shows the app service as running and page returns "Application Error"  503 error instead of the 403 "This web app is stopped" that it normally displays when an app is stopped.

[code]

[2020-06-16 00:36] pranavkm opened #22983 "Figure out BlazorWebAssemblyPreserveCollationData"
This allowed the linker to remove additional collation data to optimize for size

[2020-06-16 01:08] jeromelaban commented on #5466
I found out last year that dynamic linking is not a viable solution at all at this point. Emscripten implies that the "main" wasm module includes all possible combinations of system libraries for any dynamic library would like to use. This makes for a very large common wasm module to start with.

I tried using that approach with Uno.SkiaSharp for a while, but it was rough and put that aside (at wh

[2020-06-16 01:16] jrodenburg commented on #21656
Including the generated swagger.json for the service.
[swagger1.txt](https://github.com/dotnet/aspnetcore/files/4783779/swagger1.txt)

[2020-06-16 01:23] #21407 closed

[2020-06-16 02:04] pranavkm commented on #22957
Views are found relative to the `ContentRootPath`. In the ordinary case, this is the working directory. In the snippet you have listed, it looks like the content root is set to the publish folder (`/var/www/cwdmapper/bin/Debug/netcoreapp2.2/publish`) which is very strange. I would expect it to point to `/var/www/cwdmapper/` and for `/var/www/cwdmapper/Views/iLcwdMapper/Dashboard.cshtml` to be wher

[2020-06-16 02:30] lakeman commented on #7238
I finally got around to writing a workaround for my specific case, that ensures no collections with `[BindProperty]` and no explicit name can bind against an empty prefix;

[code]

[2020-06-16 02:36] sassy224 opened #22986 "Blazor App HttpClient Property Credentials is not supported."
Sets NetworkCredentials for HttpClient in a Blazor WebAssembly app will throw exception:
[code]
Steps to reproduce
- Create a new Blazor WebAssembly App targets .Net Core 3.1 (all package versions are 3.2.0)
- Edit method IncrementCount in Counter.razor:
[code]
- Run blazor, navigate to Counter, press button, error is shown in console.

That snippet code works fine in blazor server, or any asp net

[2020-06-16 02:39] bancroftway opened #22987 "Question: Calling protected API from non-Page level component in ASP.Net Core hosted Blazor Wasm application"
I have a need to populate a dropdown by calling my api which has an [Authorize] attribute. This dropdown lives in the top nav of my application, and not in any of the pages. All my pages also have an Authorize attribute. I would prefer to call this api to populate the dropdown once in the beginning.

My problem is I am unable to find an elegant way/place in my client to place the code that will fe

[2020-06-16 02:52] sassy224 opened #22988 "Blazor App HttpClient can't fetch due to being blocked by CORS"
### Describe the bug
Use HttpClient to post request to another site will result in exception
`Access to fetch at 'https://login.microsoftonline.com/xxxxxxxxxxx/oauth2/token' from origin 'https://localhost:44384' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors'

[2020-06-16 03:08] hoksource commented on #5466
I did some reading, only the .net runtime is converted to wasm. All dlls are downloaded and parsed on startup. it looks like the wasm runtime being used is mono. Their goal now is to use .net core runtime instead.

The current full aot compiler is being done by mono, but I'm not sure if a full aot with .net core should be the path/way. (No idea what I'm saying here. needs expert )

Internet says .

[2020-06-16 03:15] Elswah opened #22989 "okhttp dispatcher"
06-11 08:55:03.470 14490-2778/com.tatweer.vehicledashboardapp.dev E/AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher
    Process: com.tatweer.vehicledashboardapp.dev, PID: 14490
    java.lang.StackOverflowError: stack size 1038KB
        at io.reactivex.internal.operators.single.SingleFlatMapCompletable$FlatMapCompletableObserver.onComplete(SingleFlatMapCompletable.java:102)
        at io.reacti

[2020-06-16 03:52] BrennanConroy commented on #22989
Provide a repro app please.

[2020-06-16 04:06] const1966 commented on #22908
Hi Javier,

Your suggestion does makes sense but I'm having issue with an implementation of one.
I crated Global Scope function in _Host.cshtml:
[code]
I'm calling this function as you suggested:
[code]
But the issue is still there - DateTimePicker is not working.
(attaching my project for reference)
Am I missing anything?
[BlazorAppDemo.zip](https://github.com/dotnet/aspnetcore/files/4784303/Blaz

[2020-06-16 04:08] Elswah commented on #22989
i have intent service check connectionId in client is latest in server if not reconnect again
package com.tatweer.vehicledashboardapp.common.infrastructure.signalr

import android.annotation.SuppressLint
import android.app.Application
import android.os.AsyncTask
import android.util.Log
import com.microsoft.signalr.HubConnection
import com.microsoft.signalr.HubConnectionBuilder
import com.microsoft

[2020-06-16 04:09] Elswah commented on #22989
class ServerHealthCheck : JobIntentService() {
    private val service: HealthService by inject()
    private val signalRInstance: SdtSignalR by inject()

    companion object {
        lateinit var ctx: Context
        private const val JOB_ID = 102
        fun enqueueWork(context: Context, intent: Intent) {
            this.ctx = context
            enqueueWork(context, ServerHealthCheck::class.

[2020-06-16 04:22] MagicAndre1981 commented on #22891
@BrennanConroy UWP works fine, it happens with Android part of Xamarin app and [linking is set to none](https://docs.microsoft.com/en-us/xamarin/android/deploy-test/linker#linker-behavior).

[2020-06-16 04:33] markdavieswlt commented on #22600
Which profiler are you using?
We are using 2 different profilers (on different servers) and have experienced silimar issue after a certain amount of time

[2020-06-16 04:53] davidfowl commented on #22988
Is there a question? Blazor wasm has the same restrictions running JavaScript in the browser (it all runs in the same sandbox)

[2020-06-16 05:03] dougbu opened #22992 "Fix `nullable` warnings when building test code"
[code]

[2020-06-16 05:04] dougbu commented on #22992
Part of #22240

[2020-06-16 05:12] dougbu commented on #22635
@pranavkm you resolved this in 0a42cca945e456bea79d6834b5b3c67cacac4875 "Razor SDK build ordering issues (#22684)", right❔

[2020-06-16 05:15] Elswah commented on #22989
@BrennanConroy  this above source code

[2020-06-16 05:35] Dhananjay48 commented on #9020
Hi all, I need to define a string array type dataType in Grpc message. not sure how to do. right now i am doing it as a
repeated string Name = 1,
here i need name field as string array Type. But it is showing error that it is, field is readonly type when bind data in it.

[2020-06-16 05:47] jspuij commented on #22159
@SteveSandersonMS

The API would be a lot clearer if the signalling of a render is separated from beginning / ending a render batch. I'd propose keeping `StateHasChanged()` for adding a component to the RenderQueue, but having a Begin/EndRender to start and stop a render batch. Dispatched events can still start their own batch, and calling `StateHasChanged()` without a `BeginRender()` can implicit

[2020-06-16 05:52] #22635 closed

[2020-06-16 06:11] SaebAmini commented on #5456
Is this issue tracking hot build/reload for both Blazer Server and Web Assembly, or is there a separate one for Web Assembly?

[2020-06-16 06:14] TanayParikh commented on #22436
https://github.com/dotnet/roslyn/pull/45013#event-3447364619 has been merged in. This should be unblocked as soon as the roslyn VS insertion is completed.

[2020-06-16 06:14] sassy224 commented on #22988
Are you saying that this issue is by design? I can see the same snippet works fine in Blazor server app, console app, desktop app. Can you elaborate more on why Blazor wasm doesn't work?

[2020-06-16 06:21] engfro opened #22994 "Service start timeout issue for self-hosted webserver as windows service"
Hi - working on this .netcore 3.1 project where we are hosting a self-contained webserver (http.sys w/windows auth) as a windows service. For the most part startup seems to be working fine, but we sometimes see this 30sec timeout issue during windowsservice-startup and have a hard time figuring out what is causing this behavior. We also have several regular .net framework 4.7.2 windows services, b

[2020-06-16 06:23] SayusiAndo commented on #22988
Yup. Blazor WebAssembly runs in your browser where particular security features are forced. One of them you met. If you run Blazor Server Side then your code runs (communicates other sites) at your server - which is not your browser - and send the DOM changes to your browser via SignalR. That is the difference. It is a [SO](https://stackoverflow.com/questions/10636611/how-does-access-control-allow

[2020-06-16 06:34] sassy224 commented on #22988
Thanks, very useful and clear for me. So in my issue, the only it can work is the other site (https://login.microsoftonline.com/xxxxxxxxxxx/oauth2/token) must return response with header including Access-Control-Allow-Origin = "*", right?

[2020-06-16 06:35] #22988 closed

[2020-06-16 06:55] DENMODSupport opened #22995 "User.identity and user.identity.name is null for only one user"
Hi,
User.Identity and User.Identity.Name is null for only one user while fetching the user id with domain in .cshtml page. But the same thing (User.Identity.Name) is working fine in one HTML page. In .cshtml page it was used under script section but in HTML page it was used under body section. This is the only difference i have seen in these two pages.
Is there any alternative to fetch user id wit

[2020-06-16 07:17] codeherd commented on #21949
A percentage would suit me fine.

If it's going to be backlogged, I assume I can't expect to see this any time soon?

[2020-06-16 07:50] mrpmorris commented on #22159
I don't know how I'd write the code to fix it, but I know how I'd expect it to work.

StateHasChanged should not perform an actual render until the method completes or hits an await.

[2020-06-16 08:53] poganytamastsys commented on #12890
Does anyone knows a working solution for vue+mvc core 3.x+hmr?

[2020-06-16 10:02] javiercn commented on #22992
/cc: @pranavkm

[2020-06-16 10:05] javiercn commented on #22986
@sassy224 thanks for contacting us.

It is likely that is not supported on the underlying WasmHttpHandler since that's not something you can achieve with the `fetch` APIs.

/cc:@pranavkm in case he wants to add anything

[2020-06-16 10:07] javiercn commented on #22977
@drma-dev thanks for contacting us.

We've never encountered anything like what you are describing. Could you produce a minimal repro project with instructions on how to trigger the issue and host it somewhere public so that we can try investigate?

[2020-06-16 10:12] javiercn commented on #22971
@lanik thanks for contacting us.

Our HttpMessageHandler already handles token expiration automatically.

We don't plan to support refresh tokens in the browser since they are not safe to use as the client can't hold on to secrets. You can configure the AuthorizationMessageHandler as part of the GRPC handler to support this.

[2020-06-16 10:14] nicoske commented on #4726
We had the same issue and we solved it by forward the connection header received from the client:

`proxy_set_header Connection $http_connection;`

Instead of

`proxy_set_header Connection "Upgrade";
`

[2020-06-16 10:15] #22961 closed

[2020-06-16 11:13] SteveSandersonMS commented on #22987
You could put your data-fetching component inside an `<AuthorizeView>` in your layout, e.g. in `MainLayout.razor`:

[code]

Then it will only be instantiated and rendered once the user is confirmed as logged-in.

[2020-06-16 11:16] SteveSandersonMS commented on #22974
This is already the case. If a Blazor component renders an element that, as far as Blazor is concerned, will always be empty, then you're free to manipulate the DOM inside that element any way you want and Blazor won't interfere or get confused.

[code]

... then in some JS code:

[code]

Is there anything else we need besides this?

[2020-06-16 11:23] castholm commented on #20136
@ArturDorochowicz In our codebase we worked around this bug by doing the following:

[code]

[2020-06-16 11:32] javiercn commented on #22987
[Here](https://github.com/javiercn/BlazorShareData) is a sample of what @SteveSandersonMS is talking about.

[2020-06-16 11:33] #22986 closed

[2020-06-16 12:01] Knordy commented on #22883
The edit in #17277 ("start": "echo hello && ng serve",) seems to be a valid workaround for now. Will monitor it and reply if it fails again.

We are using `UseAngularCliServer` and not `UseProxyToSpaDevelopmentServer` as #18062 is suggesting, but could have potentialy similar underlying issues.

Still hope this gets fixed.

[2020-06-16 12:19] MagicAndre1981 commented on #22891
@BrennanConroy I found the cause. I was using [packages.config because in VS2017 I had issues with PackageReference](https://github.com/xamarin/xamarin-android/issues/2076#issuecomment-480722609). I only updated the packages to 3.1.5, made the other required changes but haven't migrated to `PackageReference Include`.

After `PackageReference Include` migration, the Android app works fine.

[2020-06-16 12:21] dazinator opened #22999 "Blazor - integrity checks fail on firefox over non secure connection but work in chrome"
I have recently upgraded our asp.net core 3.1.0 hosted blazor app from blazor 3.2.0 preview 3 to 3.2.0.

We are noticing that we are gettting integritty check failures but only from Firefox. In google chrome it works fine. We have various developers all replicating the issue using clean installs of the latest version of firefox. The problem seems to be to do with the integrity check on blazor's do

[2020-06-16 12:56] javiercn commented on #22999
@dazinator thanks for contacting us.

Can you tell us which file is having issues? Is it `dotnet.js`, `blazor.wasm` or any of the assemblies?

[2020-06-16 13:02] YZahringer commented on #12890
@poganytamastsys https://github.com/EEParker/aspnetcore-vueclimiddleware

[2020-06-16 13:25] Ahmad-Magdy commented on #9020
@Dhananjay48 This is not StackOverflow. Please ask your question there.
Let's keep this issue for stuff related to gRPC in App Service.

[2020-06-16 13:54] #22987 closed

[2020-06-16 13:54] dazinator commented on #22999
@javiercn
It seems to be on the `dotnet.js`. Here is the firefox concole output:

14:53:45.755
GEThttp://uniun-dev-pr159.azurewebsites.net/
[HTTP/1.1 304 Not Modified 222ms]

14:53:46.107
GEThttp://uniun-dev-pr159.azurewebsites.net/css/app.min.css
[HTTP/1.1 304 Not Modified 84ms]

14:53:46.122
GEThttps://fonts.googleapis.com/css?family=Montserrat&display=swap
[HTTP/2 200 OK 0ms]

14:53:46.134
GETh

[2020-06-16 13:54] javiercn commented on #22971
[Here](https://github.com/javiercn/BlazorGrpcAuth) is a working sample on how to tie auth + grpc-web together

[2020-06-16 13:54] #22971 closed

[2020-06-16 14:03] blowdart commented on #22995
What authentication type are you using? You say domain, so is this Windows authentication?

[2020-06-16 14:06] DENMODSupport commented on #22995
yes, it is windows authentication

[2020-06-16 14:06] dazinator commented on #22999
Here it is again, with caching disabled:

![image](https://user-images.githubusercontent.com/3176632/84784814-a55c9800-afe2-11ea-9458-6a5d5478bec5.png)

I have noticed that the SSL cert is not trusted by Firefox (is the standard one that azure websites uses), and GET requests are sent over http rather than https. Could that be the cause of this issue? This didn't seem to be a problem before the up

[2020-06-16 14:06] Knordy commented on #22883
Unfortunately `start": "echo hello && ng serve` isn't a stable workaround. It still produces the mentioned error.

[2020-06-16 14:09] drma-dev commented on #22977
well, I created a project from scratch (web assembly + individual user accounts + asp.net core hosted + progressive web app) and published on the same previous service that I had (web app), I was able to login, but cannot access the api ( Fetch data) that has the 'Authorize' attribute. continues with the same error as before: Response status code does not indicate success: 401 (Unauthorized).

[(h

[2020-06-16 14:10] dazinator commented on #22999
I can confirm that it works in Chrome, but the difference with chrome, is that even though it doesn't trust the cert, it still requests the files over HTTPS not HTTP. Firefox seems to fall back to HTTP. Not sure why this would effect the hash check in anyway?

[2020-06-16 14:11] javiercn commented on #22999
@dazinator hmm, not sure why the cert is untrusted on Firefox, but on azurewebsites it should be. It is weird that it works on Chrome/Edge vs Firefox. Are you using a custom cert or a proxy that MiTM https traffic?

[2020-06-16 14:12] javiercn commented on #22999
This doesn't seem to be a problem with the file itself nor the hash since it works on Chrome/Edge. I would try to download the file from firefox directly and check the integrity manually.

[2020-06-16 14:12] javiercn commented on #22999
Sometimes browsers report an integrity issue when the actual cause is that the browser blocks the download or something similar. Do you have CSP enabled by any chance?

[2020-06-16 14:13] javiercn commented on #22977
@drma-dev is this server-side Blazor?

[2020-06-16 14:15] javiercn commented on #22977
Without a minimal repro we can't help here.

[2020-06-16 14:20] dazinator commented on #22999
@javiercn
- no content security policy is not enabled.
- no I am not using in special MITM or proxy, this is a vanilla app service (for windows containers) and here are the network settings (I have not set up any SSL cert so its using whatever azure serves up by default):

![image](https://user-images.githubusercontent.com/3176632/84786068-29fbe600-afe4-11ea-8c66-dee499c3c03d.png)

With respect to

[2020-06-16 14:23] drma-dev commented on #22977
Well, I just created a new project based on the template. With all these options chosen: blazor webassembly app + individual user accounts + asp.net core hosted + progressive web app.

With this new project, I am able to login, but it still gives an error when accessing an api that has the [Authorize] attribute. Somehow, the generated token is not correct.

[2020-06-16 14:32] dazinator commented on #22999
Here is a gist containing the dotnet script returned from firefox's GET request over http, which it then fails the integrity check on:

https://gist.github.com/dazinator/696cbd50223ab00a36c47c0fcf4598d3

Here is the equivalent which succeeds in chrome (requested over https):

https://gist.github.com/dazinator/818a4044bee1176886abe06a0d353ff7

[2020-06-16 14:32] drma-dev commented on #22977
[BlazorApp1](https://github.com/drma-dev/BlazorApp1)

[2020-06-16 15:12] elrhomariyounes opened #23002 "SignalR WebSockets - Error: There was an error with the transport. #21500"
### Describe the bug
Hello, I got a problem with WebSockets SignalR Transport type when trying to use it with React Native (Mobile). The error message : **[2020-06-16T14:36:25.372Z] Debug: HubConnection failed to start successfully because of error 'Error: There was an error with the transport.'.**

I'm using this package @microsoft/signalr

Working perfectly with my Blazor WASM client, package Mi

[2020-06-16 15:20] BrennanConroy commented on #23002
You can't use skipNegotiation with the Azure SignalR Service.

[2020-06-16 15:26] elrhomariyounes commented on #23002
Code updated I removed the skip negotiation and transport type. Working perfectly
[code]
Thank you very much

[2020-06-16 15:40] henrikdahl8240 commented on #14076
Just to be sure, .NET 5.0 Preview 6 will not support Angular 9 or .NET 5.0 RTM will not support Angular 9?

[2020-06-16 15:49] #23002 closed

[2020-06-16 15:50] blowdart commented on #22995
Strange indeed.

- Is the user special in any way?
- Are you hosting underneath IIS? If so is it set to require Windows Auth *and* disable anonymous auth?
- What does User.Identity.IsAuthenticated  return?

[2020-06-16 15:52] xboxeer opened #23004 "CORS validate does not work when visiting from Private Browse model"
### Describe the bug
We have a user who is building an SPA application, he is using cors middleware and everything works fine, however if the request comes from a Private Browsing mode session, Access-Control-Allow-Origin header is not set, which result to the CORS validate always fails, for this kind of senario, can we add support or this is an impossible requirement?

### To Reproduce

### Excep

[2020-06-16 15:54] pranavkm commented on #22983
This will be replaced by https://github.com/dotnet/runtime/blob/master/docs/design/features/globalization-invariant-mode.md#enabling-the-invariant-mode.

[2020-06-16 16:34] mkArtakMSFT commented on #22999
Thanks for contacting us.
We're moving this issue to the `Next sprint planning` milestone for future evaluation / consideration. We will evaluate the request when we will planning the work for the next milestone. To learn more about what to expect next and how this issue will be handled you can read more about our triage process [here](https://github.com/dotnet/aspnetcore/blob/master/docs/TriagePr

[2020-06-16 16:36] mkArtakMSFT commented on #22977
Thanks for contacting us.
We're moving this issue to the `Next sprint planning` milestone for future evaluation / consideration. We will evaluate the request when we will planning the work for the next milestone. To learn more about what to expect next and how this issue will be handled you can read more about our triage process [here](https://github.com/dotnet/aspnetcore/blob/master/docs/TriagePr

[2020-06-16 16:36] myunQ opened #23005 "asp.net core 3.1 webapi use stream-based upload large file in chunks"
How to use stream-based file upload in asp.net core 3.1 WebApi?

I need to upload large files in chunks, and it is a stream-based upload method.

I have read this document (https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-3.1), but it doesn't seem to help me much.

[2020-06-16 16:40] mkArtakMSFT commented on #22924
Thanks for contacting us. This is a dupe of #16726

[2020-06-16 16:40] #22924 closed

[2020-06-16 17:10] javiercn commented on #23005
Thanks for contacting us @myunQ.

It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow using the asp.net-core tag.

I don't know what you mean by `stream-based`. If you want to split the file in chunks and upload each chunk separately, create an end

[2020-06-16 17:13] bradygaster commented on #21656
Did you expect it would be an Open API 3.0 doc? I used the swagger validator to validate it - looks okay from a _document validity_ point of view. Would you mind trying it converted to a 2.0 doc? Curious if you'd omit the errors then. Also cc @ryanbrandenburg

[2020-06-16 17:51] musictopia2 opened #23009 "fieldset not working properly with blazor"
when i use this code in an html page
[code]
it works perfectly.  However, when i do the same thing with blazor, it shows no borders.  I was able to work around the border issue by using css.  However, the top border does not show up if legend is used and the text for the legend was too big as well.

[2020-06-16 19:44] JamesNK commented on #5680
Bad bot

[2020-06-16 19:58] Treemendus commented on #10376
@mohankumar91

`<h2> Color Picker </h2>
<input type="color" name="favcolor" bind="@colorValue" />
<input type="text" name="favcolor" bind="@colorValue" />`

Your "bind" attribute is missing the "@" symbol. It should be:

`<input type="color" name="favcolor" @bind="colorValue" />`

[2020-06-16 20:03] mkArtakMSFT commented on #18204
We've moved this issue to the Backlog milestone. This means that it is not going to be worked on for the coming release. We will reassess the backlog following the current release and consider this item at that time. To learn more about our issue management process and to have better expectation regarding different types of issues you can read our [Triage Process](https://github.com/dotnet/aspnetc

[2020-06-16 20:08] szalapski commented on #5281
I would like to see this, especially if it is much simpler than spinning up a redis instance.

[2020-06-16 20:10] mkArtakMSFT commented on #18241
Thank you for your feedback.
We're closing this issue as the behavior discussed is by design.

@admir86 the reason this works when you change the order is because `AddIdentity` modifies the default authentication scheme. The recommendation is to pass the scheme to the `Forbid` explicitly.

[2020-06-16 20:10] #18241 closed

[2020-06-16 20:12] mkArtakMSFT commented on #18243
We've moved this issue to the Backlog milestone. This means that it is not going to be worked on for the coming release. We will reassess the backlog following the current release and consider this item at that time. To learn more about our issue management process and to have better expectation regarding different types of issues you can read our [Triage Process](https://github.com/dotnet/aspnetc

[2020-06-16 20:13] mkArtakMSFT commented on #18403
We've moved this issue to the Backlog milestone. This means that it is not going to be worked on for the coming release. We will reassess the backlog following the current release and consider this item at that time. To learn more about our issue management process and to have better expectation regarding different types of issues you can read our [Triage Process](https://github.com/dotnet/aspnetc

[2020-06-16 20:14] mkArtakMSFT commented on #18412
@captainsafia did you do this already?

[2020-06-16 20:16] #18477 closed

[2020-06-16 20:18] mkArtakMSFT commented on #18492
Thanks for contacting us.
This is not something we plan to do in the near future. You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-06-16 20:18] #18492 closed

[2020-06-16 20:19] mkArtakMSFT commented on #18498
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-06-16 20:19] #18498 closed

[2020-06-16 20:20] #18508 closed

[2020-06-16 20:22] mkArtakMSFT commented on #18512
Thanks for contacting us.
In .NET 5.0 Blazor projects will target `net5.0` TFM.

[2020-06-16 20:22] #18512 closed

[2020-06-16 20:26] mkArtakMSFT commented on #18515
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-06-16 20:26] #18515 closed

[2020-06-16 20:27] mkArtakMSFT commented on #18514
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-06-16 20:27] #18514 closed

[2020-06-16 20:29] captainsafia opened #23015 "ClosingTheBrowserWindow_GracefullyDisconnects_WhenNavigatingAwayFromThePage test failure"
The ClosingTheBrowserWindow_GracefullyDisconnects_WhenNavigatingAwayFromThePage test fails.

**Ref:** https://dev.azure.com/dnceng/public/_build/results?buildId=689837&view=ms.vss-test-web.build-test-results-tab

**Output:**

[code]

[2020-06-16 20:33] mkArtakMSFT commented on #18695
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-06-16 20:33] #18695 closed

[2020-06-16 20:34] mkArtakMSFT commented on #18699
We've moved this issue to the Backlog milestone. This means that it is not going to be worked on for the coming release. We will reassess the backlog following the current release and consider this item at that time. To learn more about our issue management process and to have better expectation regarding different types of issues you can read our [Triage Process](https://github.com/dotnet/aspnetc

[2020-06-16 20:35] mkArtakMSFT commented on #18787
We've moved this issue to the Backlog milestone. This means that it is not going to be worked on for the coming release. We will reassess the backlog following the current release and consider this item at that time. To learn more about our issue management process and to have better expectation regarding different types of issues you can read our [Triage Process](https://github.com/dotnet/aspnetc

[2020-06-16 20:40] mkArtakMSFT commented on #18791
We've moved this issue to the Backlog milestone. This means that it is not going to be worked on for the coming release. We will reassess the backlog following the current release and consider this item at that time. To learn more about our issue management process and to have better expectation regarding different types of issues you can read our [Triage Process](https://github.com/dotnet/aspnetc

[2020-06-16 20:44] mkArtakMSFT commented on #18820
Thanks for contacting us.
We will consider updating to angular 9 instead of investigating this given that is going to obsolete this anyway.

[2020-06-16 20:44] #18820 closed

[2020-06-16 20:44] mkArtakMSFT commented on #18820
#14076

[2020-06-16 20:45] #18830 closed

[2020-06-16 20:46] #18861 closed

[2020-06-16 20:48] mkArtakMSFT commented on #18883
Thanks for contacting us. Given that this is possible to achieve using a custom policy we do not plan to do anything here.

[2020-06-16 20:48] #18883 closed

[2020-06-16 20:48] Rick-Anderson commented on #18791
For future reference, here's an easy one to miss.

`UseHsts` depends on the [request scheme being updated](https://github.com/dotnet/aspnetcore/blob/c95ee2b051814b787b07f55ff224d03d550aafeb/src/Middleware/HttpsPolicy/src/HstsMiddleware.cs#L72), therefore `UseForwardedHeaders` must be called before `UseHsts`.

[2020-06-16 20:52] mkArtakMSFT commented on #18975
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2020-06-16 20:52] #18975 closed

[2020-06-16 20:52] mkArtakMSFT commented on #19051
Thanks for contacting us. This is not something we plan to do.

[2020-06-16 20:52] #19051 closed

[2020-06-16 20:59] mkArtakMSFT opened #23017 "Evaluate what we want to do with Bootstrap for .NET 6"

[2020-06-16 20:59] mkArtakMSFT commented on #19225
Related https://github.com/dotnet/aspnetcore/issues/23017

[2020-06-16 21:07] SoftCircuits opened #23018 "Deployment file proliferation"
### Bug description

When deploying my ASP.NET Core 3.1 Razor Pages web site, I am dismayed by the number of files produced.

This is a small website I've only been developing for a couple of weeks. The root directory has 76 files and folders. It appears there are about 15 language folders (I only need English), and the *runtimes* folder contains a bunch of subfolders that appear platform related

[2020-06-16 21:08] captainsafia commented on #18412
I did this but missed updating these templates. I'll submit a follow-up PR for these.

[2020-06-16 21:11] BrennanConroy commented on #22989
I meant more of a runnable app. Also, do you have the beginning of the stack trace so we can see where it's coming from?

[2020-06-16 21:51] HaoK opened #23020 "Add some tests for ITicketStore for CookieAuth"
Some context: https://github.com/dotnet/aspnetcore/pull/22732

[2020-06-16 21:51] #22135 closed

[2020-06-16 21:55] HaoK opened #23021 "Try to dedupe helix content scripts with eng/scripts"
Ideally we can copy scripts from eng/scripts that are identical

[2020-06-16 22:07] dougbu commented on #23021
👀

[2020-06-16 22:23] TanayParikh commented on #22886
![inject](https://user-images.githubusercontent.com/14852843/84833982-3cc2ea80-afe5-11ea-857c-db600c97d685.gif)

Not able to repro, am I missing something?

[2020-06-16 22:25] adrianwright109 commented on #22886
This issue was reported to be in VSCode (see issue title) - looks like you're trying to repo in Visual Studio?

[2020-06-16 22:27] TanayParikh commented on #22886
You're absolutely right, missed that. Retrying.

[2020-06-16 22:28] ajaybhargavb opened #23022 "ProvideCodeLens fails occasionally when deleting parts of a document"
The mapToDocumentRange requests fails because we try to map ranges from an outdated version of the document which is because O# provides results from an outdated version of the C# buffer. This is likely an external issue but we must be resilient against it.

Callstack:
[code]

[2020-06-16 22:29] TanayParikh commented on #22886
Okay got the repro in VSCode. Thanks.

[2020-06-16 23:22] lanik commented on #22971
Thank you. Its really helpfull.

[2020-06-16 23:25] NTaylorMullen commented on #22728
Pinging here in case you missed on teams as well. Time for validation @ajaybhargavb @ryanbrandenburg @TanayParikh

[2020-06-16 23:40] TanayParikh commented on #21631
Ignore this issue for validation; depends on https://github.com/dotnet/aspnetcore/issues/22594

[2020-06-16 23:54] slaneyrw commented on #12344
Can we please plan this for v5, at least making IPasswordHasher methods async ( every method above it in the callchain is async, just not the last step)

[2020-06-16 23:55] slaneyrw commented on #17184
@kanadaj Sending links in email is not practicable for two factor challenges, clicking on it will ( at best ) open a separate window/tab, forking the sign in session.  If one window is a "private" browser window, game over.  Links in SMS channels is just plain bad.  So TOTP codes is the only way to go if you need to use these channels.

@brockallen We solved the lockout problem by extending the sc

[2020-06-17 00:29] JunTaoLuo commented on #22101
@JamesNK it seems like you are onto something here. Specifically, we ingested the change https://github.com/dotnet/runtime/commit/5b112c310f9ea28ca7a06941787f2bea7eb315eb#diff-441a1252f436e5e5b3ad0cc10b2256ef in our commit https://github.com/dotnet/aspnetcore/commit/b37ebf51e339bb6f24c94385e3e126447f7661e3#diff-8b8f08ffbf7b863fb3700c1718eeb4cb on May 21. If most of the failures are seen after that

[2020-06-17 00:50] JamesNK commented on #22101
@stephentoub I think changes [to SocketsHttpHandler for HTTP/2 performance](https://github.com/dotnet/runtime/pull/36246) has caused some of our gRPC interop tests to become flaky.

May 16 - PR is merged in runtime
May 21 - aspnetcore updated to a new runtime with changes from the PR
May 22 - Flaky gRPC interop tests are noticed and quarantined.

The tests that are failing can be found here - http

[2020-06-17 01:21] myunQ commented on #23005
Upload large files with streaming

[2020-06-17 01:30] #22886 closed

[2020-06-17 01:43] #22915 closed

[2020-06-17 01:45] JamesNK opened #23025 "Update BenchmarkDotNet and remove net5.0 workaround"
Workaround so BDN works in net5.0 - https://github.com/dotnet/aspnetcore/pull/23000

When [this fix](https://github.com/dotnet/BenchmarkDotNet/pull/1479) is merged and a new BDN is on NuGet we can upgrade and remove the workaround.

[2020-06-17 01:48] NTaylorMullen commented on #22728
Finished my validation! Thanks @TanayParikh for your [comment](https://github.com/dotnet/aspnetcore/issues/21631#issuecomment-645065025), it saved me 😄

[2020-06-17 02:01] #20887 closed

[2020-06-17 02:55] ArrowtheArcher commented on #14962
@ShaunCurtisstruggling with step 3 and 4 cannot wrap my head around itis there any other way right now? is solution for this still in progress?

[2020-06-17 03:06] serge-wq opened #23026 "[Blazor Server Side] Setting @layout on _Imports.razor' project root folder freezes the project -- the browser page keeps loading forever"
### Describe the bug
Same issue as #11406. Just spent several hours trying to figure out what was happening. Maybe at least add a notice in the docs? Other than that, nothing new about this issue.

### To Reproduce

### Exceptions (if any)

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's versi

[2020-06-17 03:41] xiatiandegaga opened #23027 "System.Text.Encodings.Web support Emoji"
I am upgrading an application from .NET Core 2.1 to .NET Core 3.1, and the new System.Text.Json serializer is not behaving the same as Newtonsoft did in 2.1. On characters like a non-breaking-space (\u00A0) or emoji characters, Newtonsoft (and even Utf8Json) serialize them as their actual characters, not the Unicode code.
I see extend the JavaScriptEncoder class and choose the encoded characters y

[2020-06-17 03:46] Nullstr1ng opened #23028 "System.Reflection.TargetInvocationException System.TypeLoadException: Could not load type of field"
# Describe the bug
We are a company developing a system for a client which requires a chat functionality for Support. This client application is a Xamarin application and our server supports SignalR - WHICH IS TOTALLY WORKING flawlessly in any web app clients that connects to it.

Now for our Xamarin application, we're done in the first feature and we're at the 2nd iteration which requires Chat. I

[2020-06-17 03:52] BrennanConroy commented on #23028
Can you figure out who is referencing this version of the assembly? 3.1 of the SignalR client references 3.1 of that package, but it looks like your app is bringing in 2.2, which is wrong.

[2020-06-17 03:58] Elswah commented on #22989
this area of signalR connection try to connect with unfinite loop untile connected if cant connect come on catch in this case change signalRStatus  to disconnected to try again
@SuppressLint("StaticFieldLeak")
internal inner class HubConnectionTask(private var callBack: () -> Unit) :
    AsyncTask<Void, Void, Void>() {

    override fun doInBackground(vararg args: Void): Void? {
        try {

[2020-06-17 05:10] TanvirArjel opened #23031 "ModelBinder binding decimal value from JSON to long after rounding it instead of throwing error."
I have the following model class:

    public class CreatePayoutRequestModel
    {
        public long UserId { get; set; }

        public byte AccountTypeId { get; set; }

        public decimal Amount { get; set; }

        public string Password { get; set; }
    }

In my ASP.NET Core Web API controller method, I am posting the following JSON body:

[code]
Weirdly, ASP.NET Core model binder ro

[2020-06-17 05:35] MagicAndre1981 commented on #23028
open `project.assets.json` in `obj` folder and look where the 2.2.0 reference comes from.

[2020-06-17 06:00] Elswah commented on #22989
06-07 16:47:48.414 26363-27797/? E/AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher
    Process: com.tatweer.vehicledashboardapp.dev, PID: 26363
    java.lang.StackOverflowError: stack size 1038KB
        at io.reactivex.internal.operators.single.SingleFlatMapCompletable$FlatMapCompletableObserver.onComplete(SingleFlatMapCompletable.java:102)
        at io.reactivex.internal.operators.single.Sin

[2020-06-17 06:01] Elswah commented on #22989
this all trace

[2020-06-17 06:37] vocko commented on #12890
You should also update the documentation as I have followed the steps here
https://docs.microsoft.com/en-us/aspnet/core/client-side/spa-services?view=aspnetcore-3.1#webpack-dev-middleware

and then what a surprise when it told me that `app.UseWebpackDevMiddleware()` is obsolete.

[2020-06-17 06:44] shazhko-artem2 opened #23033 "Add the ability to delay the receipt of a certificate in the extension method DataProtectionBuilderExtensions.ProtectKeysWithCertificate"
### Problem
In my current project, we have several certificate providers, so we use the certificate factory. Also, we use data protection and protect keys with a certificate. The problem is that `DataProtectionBuilderExtensions.ProtectKeysWithCertificate` requires a certificate directly, for which we need a certificate factory, but for getting a factory, we need an `IServiceProvider`.

### Solutio

[2020-06-17 07:13] BrandoZhangTest opened #23034 "Is set value configuration.GetSection(“”).Value thread safe?"
I need to set in my asp.net core configuration a value from the header in every request. I'm doing like so:

[code]

It works fine. But is this the proper way? In case of multiple request at same time is there a risk of messing the values?

[2020-06-17 07:22] Nullstr1ng commented on #23028
got these from project.assets.json

`Search "/2.2.0"" (51 hits in 1 file)
  F:\EAP\MASKED\MASKED.Business.Mobile\MASKED.Business.Mobile.CoreLibrary\obj\project.assets.json (51 hits)
	Line 42:       "Microsoft.AspNetCore.Authorization/2.2.0": {
	Line 55:       "Microsoft.AspNetCore.Connections.Abstractions/2.2.0": {
	Line 92:       "Microsoft.AspNetCore.Hosting.Abstractions/2.2.0": {
	Line 106:

[2020-06-17 07:48] #23027 closed

[2020-06-17 08:14] javiercn commented on #23005
@myunQ can you provide a minimal repro so that we can try helping you?

[2020-06-17 08:26] javiercn commented on #23026
@serge-wq thanks for contacting us.

We'll get the docs updated. @guardrex can you put a warning on the section regarding layouts to warn people about this?

[2020-06-17 08:26] #23026 closed

[2020-06-17 08:28] javiercn commented on #23018
@SoftCircuits thanks for contacting us.

I wouldn't consider this a workaround.

@vijayrkn does Visual Studio not mark assets for exclusion when adding the scaffolder?

[2020-06-17 08:31] javiercn commented on #23009
@musictopia2 thanks for contacting us.

Does it work if you remove bootstrap from the app?

[2020-06-17 08:34] xrkolovos opened #23037 "Issue with jsRuntime.InvokeVoidAsync and float/decimal"
I have issue with jsRuntime.Invoke trying to pass float or decimal values to javascript.
I have an object that has float and decimal properties.
In javascript, we get them as integers (e,x, 15.4355 -> 154355)

I have greek culture in my pc and i have setup CultureInfo as el-GR in Program.cs

[code]

[2020-06-17 09:14] javiercn commented on #23037
@xrkolovos thanks for contacting us.

What's the culture in the browser?

[2020-06-17 10:07] Nullstr1ng commented on #23028
If i.e. I found the one that is referencing 2.2.0, can I just directly install Microsoft.AspNetCore.Http.Features 3.1.5  to those projects?

[2020-06-17 10:35] Nullstr1ng commented on #23028
I installed Microsoft.AspNetCore.Http.Features 3.1.5 to all the projects.. still getting the same error. Sorry, it's been 3 hours fighting with this one.

SignalR.Client is working as it should in a clean Xamarin.Forms application.

[2020-06-17 10:38] NonInspirationalName opened #23038 "aspnetcore/src/Http/Headers/src/HeaderUtilities.cs message incorrect and confusing"
In the file aspnetcore/src/Http/Headers/src/HeaderUtilities.cs, method CheckValidToken(StringSegment value, string parameterName) (line 70), when there is a mismatch with the token, an exception is thrown

The format of this message is: "Invalid token '{0}.", value

Today I ran into this exception, and the message was very confusing. This is because of the ' which is not closed. The resulting mess

[2020-06-17 11:00] sven5 commented on #16840
Any updates on this? Still no solution for this bug?

[2020-06-17 12:06] dfkeenan commented on #20887
I was also trying to add custom claims ("DisplayName") for the Blazor WASM (Hosted) project. I had already got Identity and AzureAD working following this guide: https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/hosted-with-identity-server?view=aspnetcore-3.1&tabs=visual-studio

I had also found another article about adding custom claims for asp.net core by creating a custom

[2020-06-17 12:38] mihalios opened #23120 "No access token found in HttpContext - multiple authentication schemes"
I have configured two authentication schemes (both JWT Bearer, named differently):

[code]

For access tokens that can be validated by scheme1 I can retrieve the access token from the request's headers:

[code]

However, for an access token that is issued by the authority corresponding to scheme2 there's no access token in the request. Debugging the HTTP request (via Swagger UI and Fiddler) I can

[2020-06-17 12:41] DENMODSupport commented on #22995
1. Is the user special in any way? No
2. Are you hosting underneath IIS? If so is it set to require Windows Auth and disable anonymous auth? Yes it is hosted in IIS. Windows authentication is enabled and disabled anonymous authentication.
3. What does User.Identity.IsAuthenticated return? As told earlier in one HTML page, User.Identity.IsAuthenticated returns true

[2020-06-17 13:08] joetherod commented on #22808
Any ideas what can be done to resolve this?

[2020-06-17 13:15] pranavkm commented on #22808
@joetherod we're unable to investigate this without a minimal application and consistent steps to reproduce the error. Plenty of apps compile views at runtime but this is the first we've seen where compilation fails at random. In particular because this involves application specific code, it seems more likely that this is an issue with how the app uses the framework.

[2020-06-17 13:20] pranavkm commented on #20406
Fixed in https://github.com/dotnet/aspnetcore/commit/d2f3d80c19d93e5d1cd0a12b3194478f7b81bca8

[2020-06-17 13:20] #20406 closed

[2020-06-17 13:22] joetherod commented on #22808
I cant reproduce this error locally. I can try to create a minimal application, but it will take time.

[2020-06-17 13:50] #23038 closed

[2020-06-17 13:55] Tratcher commented on #23034
No, you shouldn't be modifying global state per request, at some point you'll hit a race condition.

Per request state should go into HttpContext.Items.

[2020-06-17 14:06] bfbrown commented on #22994
Calling .ConfigureWebHost() instead of .ConfigureWebHostDefaults() fixed a similar timeout I had.

[2020-06-17 14:08] musictopia2 commented on #23009
How do you remove bootstrap from the app?  Since it shows that to begin with, then not sure if its even possible to remove.

[2020-06-17 14:10] alefranz commented on #22915
Brilliant! thanks!

[2020-06-17 14:12] myunQ commented on #23005
@javiercn Sorry, we don't have a budget, I mistakenly think it is free. Sorry, I will find another way.

[2020-06-17 14:14] musictopia2 commented on #23009
I figured out by commenting the bootstrap it removed it.  When I did that, it worked perfectly.

[2020-06-17 14:26] #23005 closed

[2020-06-17 14:27] javiercn commented on #23009
@musictopia2 I'm glad that you figured it out.

I'm closing this issue since it is not related to Blazor.

[2020-06-17 14:27] #23009 closed

[2020-06-17 15:00] ShaunCurtis commented on #14962
I'm currently working on putting a working example together - literally as I write this.  Hopefully I'll have something in the next day or two.  This will include the "unwrapped" router code.

[2020-06-17 15:00] alienwareone opened #23041 "IRouter.GetVirtualPath alternative in EndpointRouting"
Based on this topic:
https://github.com/dotnet/aspnetcore/issues/18883

The "IRouter.RouteAsync" alternative is "DynamicRouteValueTransformer.TransformAsync".

**What is the "VirtualPathData GetVirtualPath(VirtualPathContext context)" alternative for complex url generation?**

For example:
[code]
In my view:

`Url.RouteUrl("ProductList", new { context = Model.ProductListRouteContext });`

[2020-06-17 15:02] alienwareone commented on #18883
It's not about policy. **It's about "IRouter.GetVirtualPath alternative in EndpointRouting".**

I made a separate "Feature request" to make this more clear.
https://github.com/dotnet/aspnetcore/issues/23041

[2020-06-17 15:18] brockallen commented on #17184
Yes, I've done something similar in my projects.

And yes, this is the important point here. The SignInManager, for real projects, is not usable. It needs to be overly customized (brittle), or simply replaced.

[2020-06-17 15:31] bozturkMSFT commented on #16859
The name `productVersion.txt` was used in the installer. Let's use the same name everywhere unless there is a good reason, please.

[2020-06-17 15:45] engfro commented on #22994
Ok, thanks - I'll test it out and see if it solves my issue as well.
Did you find out what the actual difference between the two callse are?

From the docs it seems ConfigureWebHostDefaults() is the one to use (https://github.com/dotnet/AspNetCore.Docs/blob/master/aspnetcore/fundamentals/servers/httpsys/samples/3.x/SampleApp/Program.cs), but it is worth a try to test your suggestion

[2020-06-17 16:34] mkArtakMSFT commented on #23031
Thanks for contacting us. This looks like a question for Newtonsof.Json instead. Consider asking it on https://github.com/JamesNK/Newtonsoft.Json
//cc @JamesNK

[2020-06-17 16:34] #23031 closed

[2020-06-17 16:36] mkArtakMSFT commented on #23018
This issue was moved to dotnet/Scaffolding#1354

[2020-06-17 16:36] #23018 closed

[2020-06-17 16:39] mkArtakMSFT commented on #21948
Closing as this is already fixed for 5.0.

[2020-06-17 16:39] #21948 closed

[2020-06-17 16:46] mkArtakMSFT commented on #21173
Thanks for sharing your resolution here, @hutstep
@jozefizso please try out the suggestion above and let us know if that worked.

[2020-06-17 16:52] TanvirArjel commented on #23031
@mkArtakMSFT, Thank you. I was thinking so. By the way, now I shall test with `System.Text.Json`.

[2020-06-17 17:00] vijayrkn commented on #23018
@javiercn - we don't set it today. I have a pending PR for fixing this - https://github.com/dotnet/Scaffolding/pull/1138 but needs some additional changes on the vs side before this can be merged.

[2020-06-17 17:29] captainsafia opened #23043 "ConnectionClosedTokenFiresOnClientFIN fails due to timeout"
ConnectionClosedTokenFiresOnClientFIN fails due to a time out.

**Ref:** https://dev.azure.com/dnceng/public/_build/results?buildId=691787&view=results

[code]

[2020-06-17 17:45] ashokswain27 commented on #22763
I am unable to track the debug logs? I tried to debug multiple times, it's automatically redirected to 401 error.

[2020-06-17 17:47] TanayParikh commented on #22728
Finished validations.

- https://github.com/dotnet/aspnetcore/issues/22120
Expected:
[code]
Actual:
![222120](https://user-images.githubusercontent.com/14852843/84930844-c1197a00-b086-11ea-9033-714aa9f26ef0.gif)

[2020-06-17 17:49] BrennanConroy commented on #22989
The stack trace is useless unless you can provide the beginning of it.

Can you please put a runnable project in a GitHub repository that reproduces the issue?

[2020-06-17 17:57] voroninp opened #23047 "Commiting batch of log messages conditionally."
When running in production environment  I'd like to have few log messages, if nothing terrible happens.
But in case of failure I need to get all the details and how request was processed.
The problem is that each log entry is independent, and log level is configured on application start.

### Describe the solution you'd like
Why not let logger have additional mode of operation?
1. All messages are

[2020-06-17 18:06] TanayParikh opened #23048 "Support Go To Type Definition from Razor Files in VS LSP"
https://github.com/dotnet/roslyn/blob/master/src/Features/LanguageServer/Protocol/Handler/Definitions/GoToTypeDefinitionHandler.cs

[2020-06-17 18:08] snappyfoo commented on #19723
Just wondering if this came up in “next sprint planning”?

[2020-06-17 18:08] ajaybhargavb opened #23049 "VS LSP: Go to implementation should support returning LocationWithText if applicable"
@TanayParikh was seeing discrepancies with GoToImpl in Razor vs C# LSP.

Looks like Roslyn returns `LocationWithText` instead of `Location` if possible and we currently always deserialize it as `Location` leading to loss of info. We need to do the same.

[2020-06-17 18:10] BrennanConroy commented on #23028
Have you found out who is bringing in the 2.2 package?

[2020-06-17 18:13] pranavkm commented on #19723
@snappyfoo not as yet. That said, it's fairly unlikely MVC could \ would do anything if the feature does not exist in the formatter.

[2020-06-17 18:21] blowdart commented on #22963
No there's not. You need to have a separate library for your models. We don't expect folks to pull in any identity libraries into other project types, so we don't target mono in any way.

[2020-06-17 18:21] #22963 closed

[2020-06-17 18:30] Dean-NC commented on #22715
@javiercn There's a VStudio bug report here

[https://developercommunity.visualstudio.com/content/problem/1067564/visual-studio-2019-intellisense-not-working-for-cs.html](https://developercommunity.visualstudio.com/content/problem/1067564/visual-studio-2019-intellisense-not-working-for-cs.html)

where the Razor library intellisense is discussed. The author and myself noticed that intellisense work

[2020-06-17 18:44] snappyfoo commented on #19723
@pranavkm Thanks for the update. Is there a more appropriate repo to raise the issue with the formatter, and do you think it’s worth doing that?

[2020-06-17 18:54] pranavkm commented on #19723
Let me transfer the issue to the runtime repo with a rewording. If they decide to add a feature, we could take advantage of it in MVC.

[2020-06-17 19:31] TanayParikh opened #23053 "C# Curly Brace Smart Indent Does Not Start On New Line"
From: https://github.com/dotnet/aspnetcore/issues/22120

Found during validations: https://github.com/dotnet/aspnetcore/issues/22728

For:
[code]

Expected:
[code]
Actual:
![222120](https://user-images.githubusercontent.com/14852843/84930844-c1197a00-b086-11ea-9033-714aa9f26ef0.gif)

[2020-06-17 19:33] NTaylorMullen opened #23054 "On solution re-open Razor's language server leaks."
When closing/opening solutions our in-proc language server leaks.

[2020-06-17 19:38] pranavkm commented on #18634
@Tratcher \ @halter73 are you able to help here? The difference between the two scenarios that are being described here is that the default scenario returns a non-chunked response versus a chunked. Although, going by the most recent comment that might not really matter.

[2020-06-17 19:53] zvolkov commented on #18634
I guess our main question to Microsoft is: how can we control when the server side tells the client side that it's done? We want to be able to do things in the return leg of our middleware and have the client wait for us. Or give us an official "that's not supported" and we will design our things accordingly.

[2020-06-17 20:07] #22381 closed

[2020-06-17 20:11] BrennanConroy commented on #23004
Could you share your network trace please?
https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1#collect-a-network-trace-in-the-browser

Also, is this a browser specific issue?

[2020-06-17 20:12] mikenorgate opened #23057 "AuthenticationHandlerProvider not caching handlers between requests"
### Describe the bug
It seems like `AuthenticationHandlerProvider` is designed to cache the handlers in `_handlerMap` so that a new handler is not created for every request, however due to `AuthenticationHandlerProvider` being registered a scoped  a new one is created for every request. https://github.com/dotnet/aspnetcore/blob/425c196cba530b161b120a57af8f1dd513b96f67/src/Http/Authentication.Core/

[2020-06-17 20:17] JamesNK opened #23058 "HTTP/2 + large request debug assert failure"
Making a HTTP/2 request with a large request can cause Kestrel to `Environment.FailFast` in `Http2Stream.OnDataAsync`.

I think it is from the Assert.Debug on line 449

https://github.com/dotnet/aspnetcore/blob/c4c6e25a0660ffbcae2d81c979495ec9533ccaff/src/Servers/Kestrel/Core/src/Internal/Http2/Http2Stream.cs#L394-L461

[2020-06-17 20:18] BrennanConroy commented on #22950
You shouldn't need to set it in both places. If you set the web.config one to some value, the ASP.NET Core one will be updated (assuming you don't set it in code).

[2020-06-17 20:26] halter73 commented on #23004
@pranavkm Could it be that Edge/Chrome isn't setting an 'Origin' header when in private browsing mode?

I think CorsMiddleware won't respond with an 'Access-Control-Allow-Origin' if there's no 'Origin' request header, but there should be an option to to send `Access-Control-Allow-Origin: <configured origins>` regardless of the presence of the 'Origin' if browsers are starting to not send the 'Orig

[2020-06-17 20:28] yepeekai commented on #22950
It was set in the web.config and it stopped working when I updated aspnetcore.  I did try both possibility (setting it only in web.config, setting it only in startup) and both failed...  It only works when I set both.

I will update to the last version of aspnetcore 3.1.x and retest and I will update this issue with the result.

[2020-06-17 20:29] ajaybhargavb commented on #22728
Finished my validation

[2020-06-17 20:35] mkArtakMSFT opened #23059 "Have an accessibility sample for each Blazor component"
We need to have a way to show customers how this can be done with existing Blazor components we produce. This is similar to what WinForms does [here](https://github.com/dotnet/winforms/tree/master/src/System.Windows.Forms/tests/AccessibilityTests)

[2020-06-17 20:36] BrennanConroy commented on #23043
Dupe of https://github.com/dotnet/aspnetcore/issues/20163

[2020-06-17 20:39] TanayParikh opened #23060 "Investigate Flaky Tests in RazorExcerptService"
https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/RazorExcerptServiceTest.cs

[2020-06-17 20:41] TanayParikh opened #23061 "Write Tests for CSharpDocumentExcerptService"
Didn't write tests as part of the initial implementation, due to [existing](https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/test/Microsoft.CodeAnalysis.Razor.Workspaces.Test/RazorExcerptServiceTest.cs) blocked/flaky tests in the RazorExcerptService  test suite.

https://github.com/dotnet/aspnetcore/issues/23060

Once those tests are re-introduced and flakiness resolved, this tes

[2020-06-17 20:49] bancroftway commented on #22987
I followed @SteveSandersonMS 's suggestion exactly, but I experienced the same race condition when opening the app in a new browser window.

In the bottom left of the browser, I can see the app is stuck in an infinite loop, where it constantly tries to connect to login.microsoftonline.com, even though my page has already authenticated and user is able to interact with the page. Please see this scr

[2020-06-17 20:55] MuhKuh7 commented on #21528
We have the same issue with IdentityServer using .net core 3.1.5

Event log also shows a restart caused by "app_offline.htm" every few minutes, which we confirmed is never created in the folder. We checked it using Process Monitor and by implementing a small console app to monitor the folder using `ReadDirectoryChangesW`.

Knowing that and looking at the code the only other path that leads to this

[2020-06-17 20:55] pranavkm commented on #23004
That's the first I've heard of browsers doing this. I just tried it with Chrome v83, Edgium v83. and Firefox v77, and they appear to be sending the Origin header just fine in private browsing. Perhaps the app has CORS appear after auth which explain why going to private browsing results in a cors error.

[2020-06-17 21:05] ShaunCurtis commented on #14962
I've now published the routing on GitHub with a working example project.  You can install the DLL via a Nuget Package (I hope!).  The source code is all there in the GitHub repository.

https://github.com/ShaunCurtis/CEC.Routing

[2020-06-17 21:17] captainsafia commented on #23043
Let's keep this one open since it's referenced in the `QuarantinedTest` attribute.

[2020-06-17 21:19] vjacquet opened #23063 "TransformOutbound of route constraint is not called when the route segment is optional"
### Describe the bug
TransformOutbound is not callled when generating url when the constraint in the route template is is optional.

### To Reproduce

https://github.com/vjacquet/bugs/blob/3fbc2924345021175b911b651b5afe3524cde361/aspnetcore/RouteConstraint/Startup.cs#L51

The Index page show that the last segment of the 2 urls are different when they shouldn't
Route.cshtml as the route definition

[2020-06-17 21:34] TanayParikh opened #23065 "C# FAR From Razor to External C# Doesn't Show All Results"
1. `dotnet new blazorserver`
2. Add the following to `Program.cs`
[code]
3. Call that method from `App.razor` and `Pages/Counter.razor`
4. Run FAR from `App.razor` on `SomethingNew()`

Expected:
3 results (`Program, App, Counter`)

Actual:
2 results (`Program, App`)

TLDR; FAR from C# Razor to external C# only looks at the current razor file, instead of all razor files.

[2020-06-17 21:47] dougbu commented on #22787
6c941485fdc9

[2020-06-17 21:47] #22787 closed

[2020-06-17 21:51] dougbu commented on #22556
Main issue fixed in ee80cd5ccdbe

[2020-06-17 21:51] #22556 closed

[2020-06-17 22:22] Tratcher commented on #18634
ASP.NET Core's response model defaults to streaming the response to the client as quickly as possible to limit latency. They client can see the response as soon as the headers arrive. It can then choose to process the response in a streaming fashion or wait for all of the data to arrive. From a protocol perspective it knows the response is finished either:
A) It's a Content-Length response and it

[2020-06-17 22:41] JohnGalt1717 commented on #5582
Bump.

Anyone have this working?  I've tried adding

    aaptOptions {
        ignoreAssetsPattern "!.svn:!.git:!.ds_store:!*.scc:.*:!CVS:!thumbs.db:!picasa.ini:!*~"
    }

to the build.gradle but it doesn't seem to work.

[2020-06-17 22:59] halter73 opened #23067 "Support wireshark-style connection logging in Kestrel"
I basically want @AndyPook's PR (https://github.com/davidfowl/BedrockFramework/pull/75) to add "wireshark style logging" to Kestrel's built in connection logging middleware. Unlike in BedrockFramework, we might want to make it opt-in to avoid breaking existing users.

[2020-06-17 23:16] dougbu commented on #22992
/ping @pranavkm should this be assigned to you❔

[2020-06-17 23:16] captainsafia commented on #20163
Closing this since the quarantine attribute on the test refers to #23043. We've got a reference to this in the other issue so folks can follow the trail when this gets addressed.

[2020-06-17 23:16] #20163 closed

[2020-06-17 23:18] BrennanConroy commented on #23043
Test seems to fail only on OSX?
[code]

[2020-06-17 23:41] JunTaoLuo opened #23068 "[Discussion] Kestrel disables HTTP/2 over TLS by default on incompatible Windows versions"
*This is the discussion for the announcement https://github.com/aspnet/Announcements/issues/421*

## Kestrel disables HTTP/2 over TLS by default on incompatible Windows versions

To enable HTTP/2 over TLS on Windows, two requirements need to be met:
- ALPN support. This is available starting with Windows 8.1 and Windows Server 2012 R2
- A set of ciphers compatible with HTTP/2. THis is available st

[2020-06-17 23:51] #16811 closed

[2020-06-18 00:00] #22751 closed

[2020-06-18 00:01] halter73 commented on #23004
Browsers very well might **not** be doing this. I'm just making a wild guess. We should wait for a network trace so we know for sure what's going on.

So if I understand this right, calling UseCors() after UseAuthn()/UseAuthz() could also cause this issue in private browsing mode if UseAuthorization() rejects the request before the CorsMiddleware has a chance to add the Access-Control-Allow-Origin

[2020-06-18 00:44] halter73 commented on #18634
To summarize what @Tratcher said from an app perspective, the response body completes when the first of any of the following occurs:

1. The middleware pipeline completes.
2. "Content-Length" bytes are written to an HTTP/1.x response.
3. HttpContext.Response.BodyWriter.CompleteAsync() is called.

---

Kestrel could conceivably also complete HTTP/2 responses automatically once Content-Length bytes

[2020-06-18 00:50] halter73 commented on #23043
Is it also libuv only?

[2020-06-18 00:51] BrennanConroy commented on #23043
Idk, didn't think to check.

[2020-06-18 00:54] ryanbrandenburg commented on #22728
Verified all, with 1 hiccup, when you do Open->Project/Solution it doesn't show csproj files as an option.
![image](https://user-images.githubusercontent.com/14987221/84965338-87b32f80-b0c3-11ea-894b-a3379975062b.png)

![image](https://user-images.githubusercontent.com/14987221/84965304-6b16f780-b0c3-11ea-90c3-c0fcd4d35f80.png)

[2020-06-18 01:00] #22700 closed

[2020-06-18 01:01] #22693 closed

[2020-06-18 01:01] #22689 closed

[2020-06-18 01:01] #22536 closed

[2020-06-18 01:07] DamianEdwards opened #23073 "Make dotnet-watch more efficient by only executing required tasks for known change types"
## Overview
Today, dotnet-watch takes a very coarse-grained approach to automating the inner-loop of monitoring changes to project files, shutting down the running app, building the project, and launching the project again. Broadly speaking, it monitors all project files for changes, and when one occurs, shuts down the previous instance of "dotnet run" before executing "dotnet run" again. "dotnet

[2020-06-18 01:23] zvolkov commented on #18634
Re: what we do in the return leg of our middleware, we're saving the state using our home-grown state management (we are hopelessly beyond using the built-in ASP.NET Session).

#2 in the last comment above explains the original issue in the title. Only NewtonsoftJsonOutputFormatter with SuppressOutputFormatterBuffering=false sets Response.ContentLength, triggering response body completion as soon

[2020-06-18 01:46] fowl2 commented on #23068
What's the reasoning for the app context switch?

[2020-06-18 01:48] dougbu commented on #22992
I gave this a bad title because we don't compile test code on the CI and the warnings occur only in test code. Fixing that&hellip;

[2020-06-18 01:52] #22004 closed

[2020-06-18 02:00] microzaki opened #23075 "Can't find the using in blazor"
Situation:
My Blazor Project namespace is "MyHelloWorld.Blazor"  which refer to blazor component in nuget:  blaor.DrapDrop which namespace is Blazor.DragDrop.Core.

When I type using "Blazor.DragDrop.Core" in my blazor project:
1. It is fine in Startup.cs
2. But the IntelliSense is missing when I type using in xxx.blazor file. I tried to type by myself, but the it become fail when building and err

[2020-06-18 04:07] #22728 closed

[2020-06-18 06:00] #22811 closed

[2020-06-18 06:48] engfro commented on #22994
Sample log output (still using ConfigureWebHostDefaults) - this one happened to start within 30 seconds, but that's not always the case
2020-06-18 08:42:19.049 +02:00 [WRN] Starting up ... (IsWindowsService=True)
2020-06-18 08:42:20.415 +02:00 [WRN] Start creating host builder
2020-06-18 08:42:20.479 +02:00 [WRN] Start CreateDefaultBuilder
2020-06-18 08:42:20.769 +02:00 [WRN] Done CreateDefaultBui

[2020-06-18 06:49] nillkitty opened #23076 "CookieAuthentication creates redirect loop if you automatically redirect an authenticated user to the Login page to use a different account"
### Describe the bug
I have a use case in which an authenticated user needs to switch accounts and return back to the page they were on.  If they fail this authentication I want them to stay logged in as their currently authenticated account, so I am **not** logging them out first.

If I redirect them to the page defined as `LoginPath` and I use the `ReturnUrl` querystring parameter to determine w

[2020-06-18 07:10] DENMODSupport commented on #22995
Please provide an update on this.

[2020-06-18 07:15] mattgenious opened #23077 "Serverside Blazor _content component library"
### Describe the bug
When debugging a server side blazor application running visual studio 16.7.0 preview 2.0 and setting the ```ASPNETCORE_ENVIRONMENT``` variable to ```production``` the resultant site has no _content folder and component libraries like Blazorise do not work.

### To Reproduce
Start a new blazor server side project everything default.
Install Blazorise as described here https://b

[2020-06-18 07:36] javiercn commented on #23077
@mattgenious thanks for contacting us.

Static web assets is only enabled by default during development. You can call `UseStaticWebAssets` explicitly on the HostBuilder to enable it unconditionally.

[2020-06-18 07:36] #23077 closed

[2020-06-18 08:04] beawolf commented on #21494
This will be a breaking change as @anurse said given a scenario for an application using a config like this:

[code]

Although I can admit that this scenario is really improbable, but not impossible.

[2020-06-18 08:19] JunTaoLuo commented on #23068
Given that the default ciphers on Windows 8.1 and Windows Server 2012 R2 won't work, we want to disable HTTP/2 over TLS on those Windows versions and throw or downgrade as appropriate. However, since it is possible to configure the cipher suites to something that is compatible with HTTP/2 over TLS we also want to give the user the ability to explicitly enable HTTP/2.

[2020-06-18 08:22] alanchinese opened #23079 "Blazor WebAssembly Errors in IIS"
Hello, I created a Blazor solution using Visual Studio 2019 v16.6.2 with "Configure for HTTPS" and "ASP.NET Core hosted" checked.  In Visual Studio, "Start without debugging" runs the application successfully.
I then publish to folder, create an IIS application and map the published path.  When I browse the application, the error message always displays "An unhandled error has occurred. Reload".
I

[2020-06-18 08:29] dazinator commented on #22999
So as of yesterday evening - stuff magically started working in firefox. Firefox now reports that it trusts the SSL cert for our .azurewebsites.net site hosted in app service for windows containers, where as - previoulsy, when I was seeing this problem, firefox was reporting it didn't trust that certificate (we tested from multiple machines). Not sure what has changed but perhaps there was an azur

[2020-06-18 09:03] AdamWillden commented on #13343
There should be some guidance on what to do when using an IServiceScope with IAsyncDisposable services.

We have come across an instance of this within our code-base. Given the lack of guidance I went to see how this is handled for the HttpContext request services to find the switch case statement: https://github.com/dotnet/aspnetcore/blob/8efcca43ceaaf72281e17f25d759844f488914ac/src/Http/Http/src

[2020-06-18 09:09] balasherkar commented on #22868
@blowdart I am able to achieve this by implementing Microsoft.IdentityModel.Tokens.ISecurityTokenValidator interface.

[2020-06-18 09:09] #22868 closed

[2020-06-18 09:32] dazinator commented on #22999
Ok I have narrowed it down even further.
The difference I am seeing between chrome and firefox appears to be:

1. Resource integrity checks in firefox seem to always fail if the script is requested over a non secure connection. This could be your https localhost if you don't have a cert that firefox trusts. It doesn't matter if you "make an exception" for the site in firefox as this doesn't add tr

[2020-06-18 09:53] dazinator commented on #22425
@bancroftway - just checking - could you be effected by: https://github.com/dotnet/aspnetcore/issues/22999

[2020-06-18 09:55] javiercn commented on #22999
@dazinator different browsers follow difference rules for certificate validation. I suspect this has ben an HTTPS certificate issue all along that manifested itself in the integrity issue by virtue of Firefox sending the requests over HTTP vs HTTPS.

I'm going to close this since there's no Blazor issue here. Thanks for following up with an update.

[2020-06-18 10:12] javiercn commented on #21494
@beawolf every behavior change is a breaking change, but as you mention is way more likely that customers run into the issue described here than it is to fall in the case that you described, and even then, they have an easy fix, which is to use a different config key.

[2020-06-18 10:17] dazinator commented on #22999
@javiercn

Not quite..
If you run a blazor app locally on HTTP, and browse to it over HTTP in firefox, I am seeing resource integrity checks fail. It looks like to me firefox "requires" https for integrity checks to work. Then in addition to that, yes firefox also requires a valid cert - if you browse over HTTPS but with a non valid cert firefox will fallback to requesting assets over HTTP - but y

[2020-06-18 10:51] javiercn opened #23082 "[Blazor][WebAssembly] Disable caching automatically in HTTP environments"
Firefox doesn't handle integrity checks when serving from HTTP and they are `meaningless` since the integrity is compromised on the first request if its made over HTTP.

The fix here is to check `document.location.protocol === 'https:'` and disable caching and integrity validation automatically [here](https://github.com/dotnet/aspnetcore/blob/b458261227d6babe756944519b6746edeb89f1ed/src/Components

[2020-06-18 10:52] dazinator commented on #22999
To elaborate a bit, I think the desired outcome from my perspective would be:

- Blazor apps can be served from a static file server on HTTP (for apps that really don't need HTTPS) and still work in firefox.

Which I think would mean something like:

- Give us a way to disable resource integrity checks when the site is served up over HTTP.

[2020-06-18 10:52] javiercn commented on #22999
This is a fair concern, but I'm not sure what we can do about it.

Resource caching already only works through HTTPS, I think disabling caching is the right way to go here. We can probably skip performing the integrity checks if the document is not in a secure context, since they are meaningless in that case and we don't do any caching.

Ultimately the right thing to do is to use HTTPS, but I have

[2020-06-18 10:52] #22999 closed

[2020-06-18 10:54] javiercn commented on #23079
@alanchinese thanks for contacting us.

Can you provide us with more details about the errors you are seeing? Are you serving the published app over HTTPS?

[2020-06-18 10:54] dazinator commented on #22999
@javiercn

The issue you have now created is the kind of thing I was looking for. Thank you.

[2020-06-18 11:25] dazinator commented on #22999
Even when developing locally? If so you could consider backing that assertion by not having an HTTP binding present in all of the default blazor project templates!

[2020-06-18 11:48] mihaimyh opened #23084 "Blazor WebAssembly 3.2, Dll files are blocking by McAfee Web Gateway"
It seems even after renaming .dll to another extension some (corporate) firewalls are still blocking them:

![Capture](https://user-images.githubusercontent.com/549272/85016604-b50ae680-b172-11ea-93d1-17cdaff2f2d6.PNG)
![Capture2](https://user-images.githubusercontent.com/549272/85016525-90167380-b172-11ea-94e8-7a606425bb7c.PNG)

Is there any workaround for this except contacting the corporate adm

[2020-06-18 12:08] pjacquemin commented on #7409
I think that it will be great too.
Today I want to add "data-" attribute to each option of the select taghelper but for me rewriting the GenerateGroupsAndOptions function is not a good idea so it could be more elegant to have Htmlattribute attribute in SelectListItem class.

[2020-06-18 12:10] Nullstr1ng commented on #23028
How? I am only installing the microsoft.aspnetcore.signalr.client package in my core library for Xamarin.

Though in my core library, there are dependencies which are written in .NetStandard 2.1 (ServicesLibrary.Client and some Utilities/Helpers) which is also being used in Business.Api (where all the API controllers reside). This ServicesLibrary.Client and the Utilities were written before we sta

[2020-06-18 12:22] Nullstr1ng commented on #23028
checking back 3.1.5 again

It looks like Microsoft.AspNetCore.Http.Features 3.1.5 is installed?
![image](https://user-images.githubusercontent.com/260633/85019388-5741c300-b1a1-11ea-88c6-dfeb5cc2bfbe.png)

[2020-06-18 12:27] ShaunCurtis commented on #14962
I've added a further project - CEC.FormControls - that uses the router with a more polished editor component similar to what I've been using in my projects.  It uses enhanced Blazor InputBase Controls and the EditContext to manage editor control and routing.  The Github repository is here:

https://github.com/ShaunCurtis/CEC.FormControls

[2020-06-18 12:38] javiercn commented on #23084
@mihaimyh thanks for contacting us.

You can try renaming the published output dlls as described [here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/webassembly?view=aspnetcore-3.1#change-the-filename-extension-of-dll-files).

Please let us know if that solves your problem or if it still blocks the dlls. If that doesn't fix the problem, you can use a custom boot resource loa

[2020-06-18 12:44] blowdart commented on #23076
This is outside the scope of the templates provided, you're going to have to scaffold the code out and write your own logic inside the login page.

[2020-06-18 12:46] defcon8 commented on #10170
First of all we love Blazor. Having no CSS isolation on component level is a showstopper for us and keeps us on React for now. +1 for the CSS block inside razor components. Must have!

@css{

}

[2020-06-18 12:53] javiercn commented on #23075
@microzaki thanks for contacting us.

Can you provide a minimal repro project somewhere public (GH or upload a zip) that showcases the issue to make sure we don't miss any detail?

[2020-06-18 13:04] michael-x commented on #23068
Is there any documentation available on whether and when this works in Linux environments? What are the prerequisites for HTTP/2 on that platform? Does any of this affect Linux as well?

[2020-06-18 13:09] mihaimyh commented on #23084
@javiercn I already renamed dlls like I mentioned initially. If you look closely to the screenshots the Microsoft.AspNetCore.Components.WebAssembly has the extension .myh instead of .dll

[2020-06-18 13:13] #22101 closed

[2020-06-18 13:17] BenLampson opened #23086 "Need the to custom the tag's close type in the Blazor."
There's Col component in my components library, like this one.
![image](https://user-images.githubusercontent.com/15414750/85024028-17caa500-b1a8-11ea-9c22-4e4bf6d7ea91.png)

But I can't to custom the tag close type, so I got this awkward thing.
![111](https://user-images.githubusercontent.com/15414750/85024414-a17a7280-b1a8-11ea-9695-f1da12624a18.gif)

I try to use the tag helper. But it not work

[2020-06-18 13:27] javiercn commented on #23084
@mihaimyh I missed the rename.

I would try creating a bundle with the file contents and use a custom boot resource loader to download the dlls.

[2020-06-18 13:30] javiercn commented on #23086
@BenLampson thanks for contacting us.

I believe this is the expected behavior since it is being recognized as the `col` html tag. Your component definition is conflicting with the definition for the html element (tags are case-insensitive).

See [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/col#:~:text=The%20HTML%20element%20defines,within%20a%20element.) for details.

[2020-06-18 13:31] davidfowl commented on #13343
I think a helper extension method would suffice

[2020-06-18 13:36] mihaimyh commented on #23084
@javiercn I am not sure what do you mean with "custom boot resource", are there any docs for this?

[2020-06-18 13:45] BenLampson commented on #23086
Thanks for your response. And I think I got what happened here after you answer.
But I think did we need this feature to help the users extend?
The "Col" just is one of my components, look this one.
![image](https://user-images.githubusercontent.com/15414750/85027549-a2150800-b1ac-11ea-9693-0d18f1ab3d58.png)
![image](https://user-images.githubusercontent.com/15414750/85027577-a93c1600-b1ac-11ea-85

[2020-06-18 13:46] javiercn commented on #23084
@mihaimyh you can alter the files in any way that let you get through the proxy, download them ahead of time and implement your own resource loader.
[code]

[2020-06-18 14:00] rafaelguinho commented on #21824
Has anybody solved it yet?

[2020-06-18 14:16] engfro commented on #22994
Anyone from the aspnetcore crew that has any idea what could be causing this timeout issue? @Tratcher @javiercn

[2020-06-18 14:20] jhancock4d commented on #21728
This really needs to be a flag that we can pass to the dotnet publish command.

[2020-06-18 14:22] javiercn commented on #21728
@jhancock4d You can pass this as a flag with `-p:BlazorEnableCompression=false`

[2020-06-18 14:24] microzaki commented on #23075
Thank for your reply.
Here you are.
[BlazorReport.zip](https://github.com/dotnet/aspnetcore/files/4799148/BlazorReport.zip)

[2020-06-18 14:26] jhancock4d commented on #21728
@javiercn That's great! Is there a way to put this in a pubxml?

Both should be in the documentation btw.

[2020-06-18 14:28] javiercn commented on #21728
It's not a code API it's MSBuild, so there is no way other than our docs.

[2020-06-18 14:28] guardrex commented on #21728
The first approach already is. See the end of ...

https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/webassembly?view=aspnetcore-3.1#compression

[2020-06-18 14:42] jhancock4d commented on #21728
To answer my own question yes you can add this to your PropertyGroup in the pubxml

<BlazorEnableCompression>false</BlazorEnableCompression>

Then you can have profiles configured for publishing that do this correctly. (super useful when using capacitor)

[2020-06-18 14:43] SpiritBob opened #23087 "Controller's base `Content` method has no overload for specifying a status code?"
If we ever wanted to return manually a `ContentResult` object, we could do so, and set our desired StatusCode by setting the `StatusCode` property of the object, but when using the `Content` API inherited from our `BaseController`/`Controller` class, we can't do that.

Why? Is this intentional?

[2020-06-18 14:49] IgorXq opened #23089 "RedirectToAction() makes the link to HttpPost action instead of GET"
Hi !
For GET and POST methods with the same action names,

[code]
generates lincorrect link that in my case eventually led to "too many redirects". (as far as I have investigated, it happens because the link is generated to HttpPost method instead of HttpGet when they both have the same name)

The issue happens for route patterns such as [Route("[controller]/{parameter}/action}")]

and does not ha

[2020-06-18 14:50] ThatFlashCat commented on #20136
Does the above fix work for adding event handlers (such as OnTokenValidated) as well? I've spent many hours this week trying to get an event handler working so I can manipulate user claims after signin. I was hopeful that the above would solve the problem but it doesn't look like it.

[2020-06-18 14:55] javiercn commented on #23089
@IgorXq thanks for contacting us.

Can you provide a minimal repro project and host it somewhere public (GH repo or upload it as a zip here) so that can make sure we are not missing any detail?

[2020-06-18 14:58] BrennanConroy commented on #23028
You should probably update your other libraries too. Mixing versions isn't a great idea and also 2.2 is out of support.

[2020-06-18 15:01] javiercn commented on #23087
@SpiritBob thanks for contacting us.

Methods on Controller and ControllerBase are meant to be helpers that cover common scenarios. For `Content` the most common scenario is to return 200. We haven't received requests before for setting the status code when using `Content` and we don't want to clutter Controller and ControllerBase with more methods than they already have.

It is very unlikely we a

[2020-06-18 15:02] #23087 closed

[2020-06-18 16:07] pranavkm opened #23092 "Add virtualization components"
Consider a component such as a list or a grid that needs to render hundreds of child component. At any given time, only a subset of components are visible in the viewport need to be rendered. This issue tracks adding a component that abstract the concept of virtualization, along with implementations for common virtualization scenarios such as grids and lists.

https://github.com/aspnet/samples/tre

[2020-06-18 16:15] nathanschopf opened #23093 "Why configure Authorize filter on Logout page when LogoutModel has AllowAnonymous attribute?"
Can someone explain the rational with this? I'm not really sure if this is an issue, or just for my own edification, but would definitely appreciate some sort of confirmation of my understanding. Is the following line below in IdentityDefaultUIConfigureOptions.cs unnecessary? As I understand, the [AllowAnonymous] has precedence and will always allow access to the page. So what's the point of confi

[2020-06-18 16:25] pranavkm commented on #23093
/cc @javiercn

[2020-06-18 16:28] zvolkov commented on #18634
In summary, I think the fact that middleware's return leg's timing vis-a-vis response completion is different for HTTP/2 vs. HTTP/1.x vs NewtonsoftJsonOutputFormatter vs SystemTextJsonOutputFormatter is counter-intuitive for developers. I imagine most people expect that the server always waits for the middleware to finish, regardless of the protocol or formatter etc. Or this could be a configurabl

[2020-06-18 16:34] hansmbakker opened #23094 "Ways to extend DefaultAuthorizationService (& co)"
### Is your feature request related to a problem? Please describe.
Use case: I want to log requests, from properly signed in users that try to access things they have no permissions for, in a separate logging provider.
So the use case is around authorization (invalid roles) rather than authentication (user is logged in correctly).

I want to use a separate logging provider so that I can keep these

[2020-06-18 16:36] mkArtakMSFT commented on #23084
We will try to come up with a guidance on how to change the response format so that the antivirus and similar software products don't flag these going forward.

[2020-06-18 16:38] Tratcher commented on #18634
`AlwaysWaitForMiddlewarePipelineToComplete` isn't possible to implement with HTTP/1.1 Content-Length responses, the client isn't waiting for an explicit End signal, it's counting the number of bytes received. At best, you could disable content-length responses.

@halter73 I think @JamesNK added that optimization so that if you hadn't declared any trailers it would send the EndStream flag immediate

[2020-06-18 16:39] mkArtakMSFT commented on #23063
Thanks for contacting us.
We're moving this issue to the `Next sprint planning` milestone for future evaluation / consideration. We will evaluate the request when we will planning the work for the next milestone. To learn more about what to expect next and how this issue will be handled you can read more about our triage process [here](https://github.com/dotnet/aspnetcore/blob/master/docs/TriagePr

[2020-06-18 16:41] JeepNL commented on #20887
I'm trying to add and retrieve additional claims as well.

When I follow this :https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/hosted-with-identity-server?view=aspnetcore-3.1&tabs=visual-studio#profile-service

I even can't get the "Profile Service" to work, I only see the additional roles when I use "API authorization options" of the two options.

Now about adding and ret

[2020-06-18 17:00] #21173 closed

[2020-06-18 17:20] vsfeedback opened #23095 "High CPU Load and bad editor responsiveness in blazor server project"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1068764/high-cpu-load-and-bad-editor-responsiveness-in-bla.html)._

---
Working with a solution containing razor components (Blazor server app) shows increasing memory usage of VS2019 processes (devenv.exe and ServiceHub.RoslynCodeAnalysisService32.exe) and correlated bad V

[2020-06-18 17:20] NTaylorMullen commented on #23095
Duplicate of https://github.com/dotnet/aspnetcore/issues/22276

[2020-06-18 17:20] #23095 closed

[2020-06-18 17:22] javiercn commented on #20887
We have docs for this [here](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/hosted-with-identity-server?view=aspnetcore-3.1&tabs=visual-studio#name-and-role-claim-with-api-authorization).

The same thing that is applied to roles can be applied to any other claim

[2020-06-18 17:26] alanchinese commented on #23079
This is the error message on the page - I believe it is the default error div.
![image](https://user-images.githubusercontent.com/41824167/85052466-d4434d00-b14d-11ea-8ee3-5dc9276839f0.png)
I am interested to learn how to catch the exception and display it on the page or throw it to a log.
I enabled ASP.NET Core Module debug log (IIS), but could not find anything.
Yes, I published the app over HTT

[2020-06-18 17:30] simonziegler commented on #21671
I know this is closed @danroth27 and @blowdart but I'll give you my retrospective. I just spent 12 days attempting to just get to the point where I had access tokens and could then authorize against a web api. Unfortunately the docs that Dan references are not really up to scratch. It's not possible to follow them and get a result - this is a conversation I had with @guardrex in another thread (an

[2020-06-18 17:32] zvolkov commented on #18634
I thought the end of response in HTTP 1.x was designated by two empty lines? That, or termination of connection? So I assumed that it was the server's logic to send the terminator based on how many bytes were sent, at least that's what I saw in Kestrel's source code.

[2020-06-18 17:33] blowdart commented on #21671
I'd suggest a good first start is talking to the AAD folks about [their new libraries](https://github.com/AzureAD/microsoft-identity-web), because that's where the development work will be for most things.

[2020-06-18 17:38] blowdart commented on #23068
The issue discusses the limitations of Windows, so it does not apply to Linux.

HTTP/2 on Linux requires OpenSSL 1.0.2 or higher (e.g., Ubuntu 16.04) and that hasn't changed since the [original announcement](https://devblogs.microsoft.com/aspnet/asp-net-core-2-2-0-preview1-http-2-in-kestrel/).

[2020-06-18 17:39] simonziegler commented on #21671
Thanks @blowdart. It's exciting that this is being worked on. I need to get back to business logic and will revisit in a while. I'll probably find that curiosity gets the better of me in the coming days though!

[2020-06-18 17:40] JeepNL commented on #20887
@javiercn Yep, that is the exact same link I followed and mentioned in my post [here](https://github.com/dotnet/aspnetcore/issues/20887#issuecomment-646156482)

I updated that post that I had it now working with the "Profile Service" option instead of the "API authorization options" but I think some cookies remained in cache, because it stopped working again. I thought it was the order of statemen

[2020-06-18 17:43] guardrex commented on #20887
@JeepNL Look at the *Troubleshoot* section of the doc ... I put some (IMO) **_very helpful_** advice there to deal with that.

*Yes!* ... I lived thru sheer hell with lingering cookies during testing. My new approach with an automated inprivate/incognito browser that clears cookies for every change (new browser opens every run) is a **_PURE JOY_** to work with. 🏖️

[2020-06-18 17:45] JeepNL commented on #20887
That _is_ a good suggestion @guardrex! I was so happy I got it working with the profile services and now I know i did something wrong.

[2020-06-18 17:48] javiercn commented on #20887
The posts you mention are based on an old preview version and are not relevant.

We have samples too, for example [this one](https://github.com/javiercn/BlazorAuthRoles). The same approach used for roles can be used for other claims.

[2020-06-18 17:48] JunTaoLuo commented on #21984
@ostart just to clarify, you would like something like user@fully.qualified.domain.name.com or just the fully.qualified.domain.name.com part?

@Tratcher @blowdart I'm looking at our APIs and I'm also a little unsure where we would surface this information. Would we be adding a value to Principal.Identity.Claims?

[2020-06-18 17:50] javiercn commented on #23093
Hi,

Allow anonymous will guarantee you can access, but authorize will make sure we try to authenticate the user and populate the ClaimsPrincipal.

[2020-06-18 17:51] blowdart commented on #21984
It could either be the subject property of every claim, or the UPN claim itself. The latter is probably easier to discover.

[2020-06-18 17:51] JeepNL commented on #20887
Old @javiercn? One is from yesterday(!). The other two are from 2 months ago. But that isn't my main point. The "not a single answer" part is.

[2020-06-18 17:53] #22675 closed

[2020-06-18 17:53] Nullstr1ng commented on #23028
The error is coming from [Xamarin.Forms.Visual.Material](https://github.com/xamarin/Xamarin.Forms)

WHICH IS EXTREMELY WEIRD!!
It doesn't sound like it's right but when I tried loading an empty page, everything is working! But when I added Visual="Material" it spits out the same error Microsoft.AspNetCore.Http.Features

Why devs at Xamarin?

closing this one now. But hunt down after 2 days

[2020-06-18 17:53] #23028 closed

[2020-06-18 17:58] IgorXq commented on #23089
@javiercn thank you for a quick response.

Please check the demo project here

https://github.com/IgorXq/mvcdemo

If you run it, you can open the URL

`http://localhost:5105/Dashboard/mytenant/same`

that leads to the example page with correct and incorrect links formed by asp tag helpers.

The page `http://localhost:5105/Dashboard/mytenant` which should redirect to the url above, indeed ends up w

[2020-06-18 18:00] hansmbakker commented on #23094
This seems related to https://github.com/dotnet/aspnetcore/issues/7789 but I found it difficult to understand whether the solution to https://github.com/dotnet/aspnetcore/issues/7789 will solve my use case?

[2020-06-18 18:00] halter73 commented on #18634
Neither empty lines nor a closed connection signify the end of an HTTP/1.x Content-Length response. @Tratcher is right that clients simply count the number of bytes to determine where the end of the response body is.

Maybe you saw HttpProtocol.ProduceEnd()? In some cases like with a chunked response, this can result in a terminator, but aside from some internal bookkeeping, this method essentiall

[2020-06-18 18:03] JeepNL commented on #20887
And about your sample, Yes, I've seen it. I followed [this discussion](https://github.com/dotnet/AspNetCore.Docs/issues/17649) towards that example.

I use now this
[code]
And it works adding multiple roles to a user.

but somehow I don't get it to work with 'Profile service' as I mentioned in my post. When I use the 'profile service' option I can add additional claims, but when I do that, the rol

[2020-06-18 18:05] #22992 closed

[2020-06-18 18:08] JunTaoLuo commented on #21984
Ah I see, adding this feature this seems doable in 5.0.

[2020-06-18 18:14] JeepNL commented on #20887
And in [that issue](https://github.com/dotnet/AspNetCore.Docs/issues/17649#issuecomment-630840594) @rubeesh is asking the same question: "_How can i add extra information like employee id, name to claims_"

But enough already, I'm not feeling particular wonderful with your short answers "we've docs for this", and "not relevant" is just plain arrogant in my humble opinion. I'm #nobody, but still a

[2020-06-18 18:16] jrodenburg commented on #21656
yes we made this intentionally as OA3. Our codebase has morphed so getting it back to 2.0 will require hand-manipulation or a tool.

That's exactly the output I had. Multiple partial class definitions that duplicate definitions (hence the build errors.)

[2020-06-18 18:29] mihaimyh commented on #23084
@mkArtakMSFT Until then can you let us know if the guidance is based on @javiercn previous answer?

[2020-06-18 18:41] MagicAndre1981 commented on #23028
[this package](https://www.nuget.org/packages/Xamarin.Forms.Visual.Material/) has no dependency to asp.net core.

The packages change causes nuget restore and the 2.2 was gone.

[2020-06-18 18:47] Nullstr1ng commented on #23028
Yes, I was checking the dependency graph as well and I did not see any asp.net core which is weird.

[2020-06-18 18:49] zvolkov commented on #18634
If that is so, then I guess the only complaint I still have is that asp.net core 3.0 has changed my responses from no-Content-Length to Content-Length ones, without asking - which broke my app. Perhaps this nuance and its impact on middleware timing should be documented.

[2020-06-18 18:52] Nullstr1ng commented on #23028
following the stack trace
![image](https://user-images.githubusercontent.com/260633/85060495-ee297200-b1d7-11ea-8afe-821a27fd5d91.png)

[2020-06-18 19:21] Tratcher commented on #18634
That was due to the buffering added for NewtonsoftJsonOutputFormatter to avoid sync writes. @pranavkm do you have specific docs or announcements around NewtonsoftJsonOutputFormatter you can share?

In general, an app should not be sensitive to content-length vs chunked distinctions. The timing issue in your case is quite subtle, it's not the current response that's affected so much as it is that t

[2020-06-18 19:42] zvolkov commented on #18634
In our case it is a Controller Action that creates a response, and a Filter that either tweaks the response or wraps it in an envelop. The response is automatically written to the output stream by ASP.NET framework as soon as the Filter pipeline completes. While the session state is managed by a middleware. It is loaded before, and saved after all the Filters and Controller Actions.

To save my se

[2020-06-18 19:45] zvolkov commented on #18634
This makes me wonder how this works with ASP.NET native session (which is handled by a middleware too, I believe), and whether it's been affected by this buffering change, too.

[2020-06-18 19:52] javiercn commented on #20887
I'm sorry if I came out as arrogant, I was trying to help you out while I was in the middle of other things and was just trying to give you a fast answer. Based on the issue title pointing to preview4 and one of the linked SO questions referring to preview 3 I interpreted that the questions where made in the context of the initial version we released, which we improved in later previews.

I hope y

[2020-06-18 20:06] blowdart commented on #22995
Can you share the cshtml page?

[2020-06-18 20:06] pranavkm commented on #18634
Working on adding one to the migration note: https://github.com/dotnet/AspNetCore.Docs/pull/18849

[2020-06-18 20:08] blowdart commented on #22763
The debug logs would appear in the VS output window.

[2020-06-18 20:08] TheName commented on #22713
I don't feel being an expert on the topic but that sounds like a good idea to me.
But it'd be easier to tell if we saw some code in a PR :)

For now I don't need that myself (the current solution is enough for my use-cases) and so I don't plan to prepare that PR myself but I'd happily see the implementation of that idea :)
Maybe in some time I could try helping out with a PR, so please do notify i

[2020-06-18 20:16] TheOnlyBeardedBeast opened #23100 "NotFound route causes reload"
### Describe the bug
Hi!

When using Blazor wasm, the not found route causes browser page reload, happens even in the clear visual studio template.

### To Reproduce
Create a new blazor wasm(clientside) app with the create a navlink which has a href attribute value a non existing page path. When you click on that navlink it navigates to the right url, but the whole app reloads, like you would open

[2020-06-18 20:17] alanchinese commented on #23079
Thank you.  I have the following errors:
![image](https://user-images.githubusercontent.com/41824167/85067685-f0eb7f00-b165-11ea-9522-9d036ca9f748.png)

[2020-06-18 20:23] javiercn commented on #23079
@alanchinese that looks like a configuration issue in IIS. Are you deploying to a virtual path or similar? In that case you might need to adjust your index.html to include the segment for the base path. in the `<base>` tag.

I would check that you can access `_framework/blazor.boot.json` from the browser and check where the app is trying to download it from the network tab to spot any difference.

[2020-06-18 20:30] #18412 closed

[2020-06-18 20:33] vsfeedback opened #23101 "Blazor template that has core functionality in one project, server app in one project and client app in one project"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1082462/blazor-template-that-has-core-functionality-in-one.html)._

---
I could really go for a pre-generated template that pulls all the core fundtionality in to a core project, and the server side blazor into its own project, and the client side blazor into its own projec

[2020-06-18 20:34] vsfeedback opened #23102 "High CPU & Memory when editing Blazor WASM files"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1080470/high-cpu-memory-when-editing-blazor-wasm-files.html)._

---
Visual Studio consumes 40% CPU and 2GB Ram when editing a small Blazor Project (<10 pages). VS is very slow. IntelliSense is not working anymore. After 3 min CPU consumption goes down however each edit will

[2020-06-18 20:34] mkArtakMSFT commented on #23102
Thanks for contacting us. This is a dupe of #22276

[2020-06-18 20:34] #23102 closed

[2020-06-18 20:35] vsfeedback opened #23103 "Blazor WASM debugging is constantly giving us issues"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1079193/blazor-wasm-debugging-is-constantly-giving-us-issu.html)._

---
- Breakpoints are out of sync
- Data cannot be evaluated
- Random crashes
- Async code runs very weird (if at all) and almost impossible to debug.
- Vs becomes unstable and slow after a few minutes.

Th

[2020-06-18 20:39] mkArtakMSFT commented on #23103
Thanks for contacting us.
To be able to keep track of all these issues, it would help to get separate issues filed in this repo.
And let's use this one to track the `Breakpoints are out of sync` issue. For that, @captainsafia can you please share the instructions on how to collect more logs.

[2020-06-18 20:40] vsfeedback opened #23104 "working on Blazor WASM projects makes VS2019 go unstable and use a lot of CPU for no reason"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1079130/working-on-blazor-wasm-projects-makes-vs2019-go-un.html)._

---
When working on a new blazor (wasm/client) project in our .NET Core MVC project, visual studio becomes very slow and unstable after a few minutes of refactoring. When i restart VS it works fine again, t

[2020-06-18 20:40] mkArtakMSFT commented on #23104
Thanks for contacting us. This is something we're aware of an are addressing as part of #22276

[2020-06-18 20:40] #23104 closed

[2020-06-18 20:41] vsfeedback opened #23105 "Medium/Big MainLayout.razor blows up IDE - Blazor ISSUES"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1078962/mediumbig-mainlayoutrazor-blows-up-ide-blazor-issu.html)._

---
I'm developing a MainLayout.razor with PWA, Blazor and editing MainLayout.razor freezes IDE only to copy from memory a single line <div class="main"> or just add in the end </div>.

---
### Original Com

[2020-06-18 20:41] mkArtakMSFT commented on #23105
Thanks for contacting us. This is something we're aware of an are addressing as part of #22276

[2020-06-18 20:42] vsfeedback opened #23106 "Blazor: Uncaught (in promise) RuntimeError: memory access out of bounds"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1077360/blazor-uncaught-in-promise-runtimeerror-memory-acc.html)._

---
This happens everytime.  Just run project to recreate.

I created a sample project [here(https://github.com/bfmsoft/WasmCrash) to show.  Just run project it happens everytime.  It is when it tries to ac

[2020-06-18 20:42] halter73 commented on #18634
Middleware that wants to do something (change headers is the common one) right before the response body is about to be written, but after other middleware gets a chance to act, typically register a callback with HttpContext.Response.OnStarting before calling next().

[2020-06-18 20:45] Frankwayne opened #23107 "Blazor server IIS hosting url is case sensentive"
### Describe the bug
When attempting to  host a Blazer Server application as a WebApplication in IIS, the URL are case sensitive.

### To Reproduce
in _host.cshtml   make the following changes

    <base href="/App/" />

In  startup.cs      add the following.   The app.UsePathBase  needs to be the first call or else the urls will not be properly form in the application for the css and other files

[2020-06-18 20:46] vsfeedback opened #23108 "very-slow-intellisense-in-blazor-project"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1075952/very-slow-intellisense-in-blazor-project.html)._

---
I seem to have all the problems listed in the following problem:
https://developercommunity.visualstudio.com/content/problem/873214/very-slow-intellisense-in-large-blazor-project.html?inRegister=true

This is ​St

[2020-06-18 20:47] mkArtakMSFT commented on #23108
Thanks for contacting us. We are aware of this issue and are tracking it as part of #22276

[2020-06-18 20:47] #23108 closed

[2020-06-18 20:47] alanchinese commented on #23079
That is it.  You nailed it Javier.  Thanks for the direction.  I was able to follow [App base path](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/?view=aspnetcore-3.1&tabs=visual-studio#app-base-path) to get it working.
I changed from
<base href="/">
to
<base href="/CoolApp/">
I wonder why the publishing the project does not include this in the index.html
Is there a way to au

[2020-06-18 20:47] vsfeedback opened #23109 "MVC Model equals problem"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1076301/mvc-model-equals-problem.html)._

---
[regression] [worked-in:previous one]

In razor if I want to write

[code]

If get this on the second time I hit equal sign:

[code]

It very annoying!!

---
### Original Comments

#### Visual Studio Feedback System on 6/15/2020

[2020-06-18 20:48] NTaylorMullen commented on #23109
Thank you for your reported issue. We believe this issue will be fixed by our efforts in moving our Razor tooling over to an LSP powered model.

This should light up in the .NET 5 time frame.

[2020-06-18 20:48] #23109 closed

[2020-06-18 20:48] vsfeedback opened #23110 "High memory and CPU usage when editing blazor razor files"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1070585/high-memory-and-cpu-usage-when-editing-blazor-razo.html)._

---
My Visual Studio instance eats more than 2,5Gb RAM and 60-80% CPU (i7) when I editing blazor razor files. It lags and unresponsive.
(System logs attached.)

Regards,
 Peter

---
### Original Comments

#

[2020-06-18 20:51] mkArtakMSFT commented on #23110
Thanks for contacting us. This is a known issue we track as part of #22276

[2020-06-18 20:51] #23110 closed

[2020-06-18 20:52] Tratcher commented on #18634
The built in session middleware has the same limitations. That's why it provides the CommitAsync API for anyone that wants to save sooner. It doesn't need to be a huge refactor to expose such a capability through HttpContext.Features. OnStarting is another way to hook in.

[2020-06-18 20:52] Pilchie commented on #9299
See https://github.com/dotnet/arcade/issues/2518.  @mmitche says this is very hard.  Probably not something we should try to take on on our own.

[2020-06-18 20:53] vsfeedback opened #23111 "NavigationManager.NavigateTo("/") returns to page"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1061354/navigationmanagernavigateto-returns-to-page.html)._

---
<p>@page &quot;/CpeLogin&quot;</p><p>
@layout EmptyLayout </p><p>@inject NavigationManager NavigationManager </p><p><br></p><p>&lt;button class=&quot;btn btn-sm seda-green-bkg text-white&quot; style=&quot;widt

[2020-06-18 20:53] nillkitty commented on #23076
I'm not using any templates.  I've written my own authentication scheme.  Im not using Identity or any of the Identity UI.  The only thing I'm using that's stock is services.AddAuthentication().AddCookie() from ASP.Security.  If you're saying I need to roll my own security because I want users to be able to switch accounts, that's fine but it's certainly not documented or expected.

[2020-06-18 20:55] zvolkov commented on #18634
Alright. Let's mention it in some kind of documentation and call it a day. I'm done with this ticket, thanks a lot guys.

[2020-06-18 20:55] JeepNL commented on #20887
@javiercn I know and understand you're busy. I love the work you and every team at Microsoft is doing on .NET/Blazor. Because I previously created a couple of issues at GitHub about Blazor/NET which I shouldn't have (figured it out myself later on, or I just didn't know what I was doing) I try to be very careful when I ask a question here at GitHub and do some research on the issue. I feel terribl

[2020-06-18 20:55] vsfeedback opened #23113 "Automatically generated CRUD Razor Pages use bad layout"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1057722/automatically-generated-crud-razor-pages-use-bad-l.html)._

---
<p>It’s a very handy feature to be able to generate all the logic to implent CRUD operations. However, I don’t get the layout that is used.</p>
<p>The layout uses Bootstrap’s responsive classes, but not

[2020-06-18 20:56] mkArtakMSFT commented on #23113
Thanks for contacting us. Would you be interested in sending as a PR for this? We would happily consider it.

[2020-06-18 21:01] SoftCircuits commented on #23113
@mkArtakMSFT : Was that directed to me? I'm the original poster. Not sure what you're asking about a *PR*. Please clarify.

[2020-06-18 21:03] blowdart commented on #23076
Are you calling Signout before you Signin again?

[2020-06-18 21:05] blowdart commented on #23057
Handlers have per request state on them, like Http request. Nor is there a requirement for handlers to be threadsafe. Therefor this is by design.

[2020-06-18 21:05] #23057 closed

[2020-06-18 21:07] pr-benchmarks[bot] opened #23114 "Scenarios are not running: DbFortunesDapper, DbFortunesEf, DbMultiQueryDapper, MvcDbFortunesRaw"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| DbFortunesDapper | Linux, Cloud, http, KestrelSockets | 2020-06-17 08:36:45Z |
| DbFortunesEf | Linux, Cloud, http, KestrelSockets | 2020-06-17 08:37:34Z |
| DbMultiQueryDapper | Linux, Cloud, http, KestrelSockets | 2020-06-17 08:27:02Z |
| MvcDbFortunesRaw | Linux, Cloud, http, Kest

[2020-06-18 21:09] SoftCircuits commented on #23113
FWIW, I my example should be structured something like this. It would put each group on a separate line on mobile devices. And would use the full screen on large devices.

[code]

[2020-06-18 21:20] blowdart commented on #23094
The authorization service doesn't handle authentication. So making things virtual here won't help. Log providers can filter by namespace and log event. @HaoK to follow up with some docs or samples.

[2020-06-18 21:22] blowdart commented on #20136
Jun to retarget to 3.1

[2020-06-18 21:26] jplepore commented on #22276
Since apparently my tracing of this this has been moved from the VisualStudio site to here (from this link: https://developercommunity.visualstudio.com/content/problem/1075952/very-slow-intellisense-in-blazor-project.html ) I will start following here.

I have all the same issues as described above. This makes the product unusable.  I am also editing code using Visual Studio Code, and then having

[2020-06-18 21:32] HaoK commented on #12324
@sebastienros sounds like the feature should be in daily builds, @blowdart mentioned in triage that he just wants a rough idea of when we might have numbers for a slide

[2020-06-18 21:35] HaoK commented on #23094
@hansmbakker take a look at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1 the section under configure logging has a way to enable log levels for specfic namespaces, can you try that and just enable more detailed logging for the Authorization namespace?

[code]

[2020-06-18 21:45] captainsafia commented on #23103
[Here](https://github.com/dotnet/aspnetcore/issues/22012#issuecomment-637117329) are the instructions for collecting logs from the debugging session. Let me know if you have any follow-up questions!

[2020-06-18 22:11] #23065 closed

[2020-06-18 22:51] #22716 closed

[2020-06-18 22:52] #23054 closed

[2020-06-18 22:56] nathanschopf commented on #23093
Thank you for the explanation, @javiercn! While this makes total sense when reviewing the code for OnAuthorizationAsync in AuthorizationFilter I'm failing to produce a scenario where (after successfully logging in) the ClaimsPrincipal is _not_ set for a subsequent request where the Razor Page, or Controller _does not_ have the Authorize filter (or attribute) applied. Would you kindly provide such

[2020-06-18 23:00] pr-benchmarks[bot] opened #23117 "Bad responses: ConnectionClose"
Some scenarios return errors:

| Scenario | Environment | Last Run | Errors |
| -------- | ----------- | -------- | ------ |
| ConnectionClose | Linux, ARM64, http, KestrelSockets | 2020-06-18 22:41:41Z | 256 |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-06-18 23:02] TanayParikh opened #23118 "Skipped Flaky Test Microsoft.VisualStudio.LiveShare.Razor.Guest.RazorGuestInitializationServiceTest.CreateServiceAsync_SessionDispose_CancelsListRootsToken"
Build: https://github.com/dotnet/aspnetcore-tooling/pull/2066/checks?check_run_id=786121831

[code]

[2020-06-18 23:02] #23060 closed

[2020-06-18 23:07] leahtmsft opened #23119 "Provide more immediate feedback when an ASP.NET Core app is running"
When you create a new ASP.NET Core app in the command line and run it with `dotnet run`, it can take a few seconds before any feedback is provided to the user (sometimes much longer if it's the first run). In user studies, we saw first-time .NET users get confused about whether the app is running when there initially isn't any output. Consider providing more immediate feedback that the app is buil

[2020-06-18 23:19] JunTaoLuo commented on #22917
Reopening this issue since the pipeline wasn't fixed. This issue will be used to track tests that are not fixed by https://github.com/dotnet/aspnetcore/pull/23069.

[2020-06-18 23:22] #9299 closed

[2020-06-18 23:45] pranavkm commented on #23119
/cc @DamianEdwards

[2020-06-18 23:51] sbwalker commented on #5465
Oqtane ( https://github.com/oqtane/oqtane.framework ) is a modular framework built on Blazor and it already supports dynamic loading of "modules" created as razor class libraries ( including dealing with CSS and JS loading concerns ). However the current challenge we encountered with lazy loading is not related to dynamically loading assemblies or instantiating razor components... it is related to

[2020-06-19 00:03] pr-benchmarks[bot] opened #23123 "Scenarios are not running: DbMultiQueryEf, DbMultiUpdateDapper, DbMultiUpdateEf, DbMultiUpdateRaw, MvcDbMultiQueryDapper ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| DbMultiQueryEf | Linux, AMD64, http, KestrelSockets | 2020-06-17 11:17:53Z |
| DbMultiUpdateDapper | Linux, AMD64, http, KestrelSockets | 2020-06-17 11:21:59Z |
| DbMultiUpdateEf | Linux, AMD64, http, KestrelSockets | 2020-06-17 11:22:56Z |
| DbMultiUpdateRaw | Linux, AMD64, http, Ke

[2020-06-19 00:30] pranavkm opened #23124 "Stop cross-compiling Blazor packages"
The two platforms that the 5.0 packages target require net5.0, so it's not clear what the benefit of cross-compiling the package is. In addition, we definitely do not want 3.2 users updating to 5.0 in their apps, since it's unsupported. This might prevent this issue.

[2020-06-19 00:30] blowdart commented on #23120
JWT doesn't have the concept of access tokens, that's an OIDC concept. The authorization header is might be an access token for another system, but that's not a concept of the JWT handler.

Frankly I don't know how you're getting it in the first handler.

[2020-06-19 00:58] Tratcher commented on #23107
How is `app.UsePathBase("/telemetryviewer");` involved in this example? It seems unrelated.

[2020-06-19 01:06] fowl2 commented on #23068
I mean, why require configuration in two places (Windows/registry + app context), why not just "light up" on any platform that supports what's required?

[2020-06-19 01:33] chanan opened #23126 "Blazor: Conflict with System.text.json"
I have a Blazor library that depends on another Blazor library. When I try to build the libraries I get a conflict with System.text.json. When I turn on verbose msbuild info I found this:

[code]

I am unclear where the different versions are coming from or how to fix it.

[2020-06-19 02:00] #23021 closed

[2020-06-19 02:01] #20577 closed

[2020-06-19 02:04] dougbu commented on #23021
From https://github.com/dotnet/aspnetcore/pull/23116#issuecomment-646392467:

We're reused this issue a couple of times now. Should we track further de-duping in a new issue❔ Or, are you saying further work to minimize the somewhat-duplicated scripts isn't worthwhile❔

[2020-06-19 02:06] ardove opened #23128 "Generalized support for kestrel-like request processing pipeline"
I'm certain this has been asked before but I haven't been able to identify a similar issue so I'm going to try to paint a picture.

### Is your feature request related to a problem? Please describe.
I am trying to leverage scoped services in a generic host. I realize that there's a mechanism for doing this by creating your own scope (and maybe this is what Kestrel does), but I think it'd be great

[2020-06-19 02:14] Tratcher commented on #23119
Moving to runtime as this part is managed by  Extensions.Hosting.

[2020-06-19 02:27] Frankwayne commented on #23107
Woops  forgot to change my example to App.  Give me a moment and I'll edit it

[2020-06-19 02:43] HaoK commented on #23021
Yeah its not worth it right now, there's only one file which is slightly different

[2020-06-19 03:13] ostart commented on #21984
Yes, I would like to have something like  something like user@fully.qualified.domain.name.com . Now It's possible to obtain user@domain, but domain is just current domain, not FQDN. May be for some cases it's sufficient to have user@currentDomain, but i need to have user@fully.qualified.domain.name.com also. Thanx

[2020-06-19 03:13] wu-yafeng commented on #23120
[code]

you should set SaveToken as true.

[2020-06-19 03:51] vincentvc168 opened #23130 "OpenIDConnect Options"
How can I disable the default ClaimActions.DeleteClaim("ipaddr")? I need to get ipaddr. Thanks!

[2020-06-19 06:56] engfro commented on #22994
Calling ConfigureWebHost() instead of ConfigureWebHostDefaults() didn't fix our issue

[2020-06-19 07:05] voroninp opened #23133 "Dependency conflict when hosting multiple Blazor Webassembly applications."
It looks like how Razor Class Library works now can cause issues when hosting multiple Blazor applications.

Blazor app should be independent from each other. And its assets should not interfere with assets of other applications. However, if several applications reference different versions of same Razor Class Library with changed assets, this can cause pain because RCL assets folder `_content/Lib

[2020-06-19 07:30] ramihamati opened #23134 "SignInManager - configurable claim types"
It looks like SignInManager uses fixed claim types where the same types are configurable in the usermanager. There are multiple places where ClaimTypes can be replaced with Options.ClaimsIdentity.UserNameClaimType or Options.ClaimsIdentityUserIdClaimType

[code]

Another issue would be that in this particular method the ClaimType should be NameIdentifier because it's being compared with userId

[2020-06-19 07:36] BenLampson commented on #23086
And cause this feature I will face to this big trouble.
Target: Finish this page.
![image](https://user-images.githubusercontent.com/15414750/85108373-32515c80-b242-11ea-8d45-f9fdd6b9d2c1.png)

Question:
![image](https://user-images.githubusercontent.com/15414750/85108406-41d0a580-b242-11ea-915f-7725a6672250.png)
I want to lazy render the Row content.

![image](https://user-images.githubuserconten

[2020-06-19 07:37] BenLampson commented on #23086
And, why the label is razor-tooling

[2020-06-19 07:37] juanan opened #23136 "Error on OpenIdConnectAuthenticationHandler"
I have an SPA starting an oidc login that calls to an .Net core project that offers 2 login possibilities: local login with Identity server or external login with Azure AD.

If the user clicks on external login, the Azure AD login form is successfully shown but after login in with my office account I get this error on my redirect callback:

 ---> System.Exception: OpenIdConnectAuthenticationHandle

[2020-06-19 07:45] mrpmorris commented on #23111
I don't think the info here is going to be enough on its own.

Can you provide a minimal project that reproduces the problem?

[2020-06-19 08:24] Knordy commented on #22883
So I've tried several things now, as what is indicated in #18820
- removing aspnet-prerendering, as it seems to be deprecated (#12890)
- Updating `Microsoft.AspNetCore.SpaServices.Extensions` to 3.1.5
- using `echo Starting... && ng serve --host 0.0.0.0`

All fails when using Start Debugging in Visual Studio. So the only possible fix is the suggested fix in the `AngularCliMiddleWare` as suggested

[2020-06-19 08:39] YongqingYu-qq opened #23137 "Why is Configuration a public property in Startup class in asp.net core?"
### Is your feature request related to a problem? Please describe.
As [Microsoft's official tutorial](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-3.1#the-startup-class), the **IConfiguration** class will be injected into the starup.cs class in asp.net core.

Usually, unless we have special needs when injecting fields, the **private** modifier is generally used

[2020-06-19 08:41] YongqingYu-qq opened #23138 "Why is Configuration a public property in Startup class in asp.net core?"
### Is your feature request related to a problem? Please describe.
As [Microsoft's official tutorial](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-3.1#the-startup-class), the **IConfiguration** class will be injected into the starup.cs class in asp.net core.

Usually, unless we have special needs when injecting fields, the **private** modifier is generally used

[2020-06-19 08:43] YongqingYu-qq opened #23139 "Why is Configuration a public property in Startup class in asp.net core?"
### Is your feature request related to a problem? Please describe.
As [Microsoft's official tutorial](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-3.1#the-startup-class), the **IConfiguration** class will be injected into the starup.cs class in asp.net core.

Usually, unless we have special needs when injecting fields, the **private** modifier is generally used

[2020-06-19 08:51] hansmbakker commented on #23094
@blowdart

My use case was not about authentication. Successfully authenticated people trying to access a resource for which they do not have the required roles/permissions are in the authorization stage. They are past the authentication stage already.

I believe filtering is not what I need?

- I want to direct the logs from `DefaultAuthorizationService` to a different physical data store, separa

[2020-06-19 09:01] pr-benchmarks[bot] opened #23140 "Scenarios are not running: MvcDbMultiQueryEf"
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| MvcDbMultiQueryEf | Linux, Cloud, http, KestrelSockets | 2020-06-17 20:30:13Z |

[Logs](https://dev.azure.com/dnceng/internal/_build?definitionId=825&_a=summary)

[2020-06-19 09:01] ramihamati opened #23141 "UserManager/SetUserNameAsync not protecting data"
I have the situation where I am not using EntityFramework and I need to create the stores for the UserManager.

In UserManager I can see that the normalized user name is protected while the username is not:
[code]
[code]
The implementation of IdentityUserContext of EntityFramework does indeed take care of protecting UserName and Email, however I am not using EntityFramework.

[2020-06-19 09:16] meareindel opened #23142 "SignalR: WebSockets reconnect to scaled server."
There are docs at https://docs.microsoft.com/ru-ru/aspnet/core/signalr/scale?view=aspnetcore-3.1#redis-backplane describing requirements for sticky sessions, particularly this paragraph:

Could you please elaborate how websocket reconnection is supposed to happen in that case? I mean, if I unplug network cable and plug back over time, how would websocket reconnect to the very same server from whic

[2020-06-19 09:30] HaoK commented on #23094
If that's all you want to do, you can still do that by just wrapping an instance of DefaultAuthorizationService inside of a custom AuthorizationService and just delegating to it

[2020-06-19 09:34] TPJ11 commented on #22819
I picked this up while doing a review of Blazor to see if we could move over to it as our default platform. For non SEO (so internal) apps its fine, but for SEO where UX is super important and even more important with google looking to use UX as part of their rankings now I can't move over until this is in, so I would call it a highly needed feature not mission critical you can still use it but yo

[2020-06-19 09:37] hansmbakker commented on #23094
Yes, that would be a solution, too.

I guess that is not really in line with OOP concepts, but it should work - thank you for the suggestion!

Is extensibility still something that could be discussed for future releases?

[2020-06-19 09:42] HaoK commented on #23094
Sure, marking a few methods virtual is pretty much free, feel free to submit a PR if you want

[2020-06-19 09:48] YongqingYu-qq opened #23144 "Why is Configuration a public property in Startup class in asp.net core?"
### Is your feature request related to a problem? Please describe.
As [Microsoft's official tutorial](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-3.1#the-startup-class), the **IConfiguration** class will be injected into the starup.cs class in asp.net core.

Usually, unless we have special needs when injecting fields, the **private** modifier is generally used

[2020-06-19 09:49] hansmbakker commented on #23094
@HaoK done, please see #23143

[2020-06-19 09:50] hansmbakker commented on #23094
Please note: I did it only for `DefaultAuthorizationService` for now since I had a use case for that.

There are a lot of related classes and I could not oversee what other people might need regarding extensibility of them.

[2020-06-19 09:54] akorchev opened #23145 "Blazor server-side project with windows authentication does not work from command line"
### Describe the bug
If you create a blazor server-side application with `dotnet new blazorserver --auth Windows` it doesn't display the currently logged user if run with `dotnet run`.

### To Reproduce

1. Create a new application by running  `dotnet new blazorserver --auth Windows`
2. Run the application with `dotnet run`
3. The LoginDisplay component does not show .

I happen to know why this h

[2020-06-19 10:01] pr-benchmarks[bot] opened #23146 "Performance regression: DbSingleQueryDapper"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- |
| DbSingleQueryDapper | Windows, http, KestrelSockets | 2020-06-19 09:49:43Z | 319,884 | 306,731 | -4.11 % | -4.12 σ |

Before versions:
ASP.NET Core __5.0.0-preview.7.20316.10_

[2020-06-19 10:06] javiercn commented on #23139
Dupe of https://github.com/dotnet/aspnetcore/issues/23144

[2020-06-19 10:06] #23139 closed

[2020-06-19 10:07] javiercn commented on #23138
Dupe of #23144

[2020-06-19 10:07] #23138 closed

[2020-06-19 10:07] javiercn commented on #23137
Dupe of #23144

[2020-06-19 10:07] #23137 closed

[2020-06-19 10:09] javiercn commented on #23144
@YongqingYu-qq thanks for contacting us.

There is no hardcoded guidance here, what you are referring to is a stylistic choice. We could choose either of those two ways and we chose to use a property, but there is no special reasoning behind it.

[2020-06-19 10:10] #23144 closed

[2020-06-19 10:15] javiercn commented on #23145
@akorchev thanks for contacting us.

We'll update the docs to mention both posibilities. @guardrex can you add this to wherever we talk about Windows auth?

[2020-06-19 10:16] javiercn commented on #23145
@Tratcher is it correct/safe to reference Microsoft.AspNetCore.Authentication.Negotiate even if you plan to run on IIS? If that's the case we could make that change.

[2020-06-19 10:17] akorchev commented on #23145
@javiercn there is at least one difference when using `Microsoft.AspNetCore.Authentication.Negotiate` instead of IISExpress - the user isn't automatically logged in with the former.

[2020-06-19 10:21] JamesNK commented on #12324
I'm going through all my first-party customer gRPC emails and there is one from a team who wrote there own cache to get back perf. Now that we're checked in I want some end-to-end perf numbers to send them so they can go back to our cert auth in 5.0. Not urgent but I don't see a reason to wait 😄

@davidfowl

[2020-06-19 10:22] javiercn commented on #23107
@Frankwayne thanks for contacting us.

I believe that is expected since that behavior comes from IIS and I don't believe we have any control over it. @Tratcher can correct me if I'm wrong.

[2020-06-19 10:27] javiercn commented on #23101
It's not clear what the ask here is.

I'm not sure this is asking for a template that supports serverside and blazorwasm at the same time.

[2020-06-19 10:28] guardrex commented on #23145
Our general coverage is here ...

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-3.1&tabs=visual-studio#kestrel

Our pattern is generally not to repeat our ASP.NET Core topic coverage for Blazor Server apps. We say ...

https://docs.microsoft.com/en-us/aspnet/core/security/blazor/server/?view=aspnetcore-3.1&tabs=visual-studio#secure-an-existing-app

[2020-06-19 10:33] akorchev commented on #23145
@guardrex I personally know the solution but wanted to prevent other developers from scratching their heads. The documentation for `dotnet new blazorserverside --auth Windows` should at least say "Works with IISExpress only".

[2020-06-19 10:45] hcanand opened #23147 "RCL template requires manual tweaks to support pages+views+components"
When creating a razor class library project, if we check the option 'Support Pages and views', the manual steps described at the following link:

https://docs.microsoft.com/en-us/aspnet/core/blazor/class-libraries?view=aspnetcore-3.1&tabs=visual-studio

Should be automatically done by the VS tooling/by the Templates itself. This will prevent developer from having to do these manually and/or reduce

[2020-06-19 10:50] javiercn commented on #23133
@voroninp thanks for contacting us.

We are aware that this is a current limitation. However, if you currently reference different versions of a package you are going to have version problems with the dlls referenced by that package.

Even if we were to completely isolate each app, it would still be impossible to support some things like prerendering.

We might consider revisiting this if we hear

[2020-06-19 10:54] javiercn commented on #23147
@hcanand thanks for contacting us.

That is only if you want to have a RCL that has Razor pages and Views and want to author Razor components on the same library. We believe this is not as common as having a library for Pages and Views or a library for Components to be used in Blazor.

[2020-06-19 10:56] javiercn commented on #23100
@TheOnlyBeardedBeast thanks for contacting us.

Can you post the code you are using to define the `navlink` or a minimal repro project that illustrates the issue?

[2020-06-19 11:01] pr-benchmarks[bot] opened #23148 "Scenarios are not running: DbFortunesDapper, DbFortunesEf, DbFortunesRaw, DbMultiUpdateDapper, DbMultiUpdateEf ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| DbFortunesDapper | Linux, ARM64, http, KestrelSockets | 2020-06-17 22:36:20Z |
| DbFortunesEf | Linux, ARM64, http, KestrelSockets | 2020-06-17 22:37:19Z |
| DbFortunesRaw | Linux, ARM64, http, KestrelSockets | 2020-06-17 22:35:22Z |
| DbMultiUpdateDapper | Linux, ARM64, http, Kestre

[2020-06-19 11:20] akorchev opened #23149 "Autologin with Microsoft.AspNetCore.Authentication.Negotiate"
### Describe the bug
Automatic login with Microsoft.AspNetCore.Authentication.Negotiate does not seem to work.

### To Reproduce

1. Create a blazor server application with Windows authentication enabled `dotnet new blazorserver --auth Windows`
1. [Enable](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-3.1&tabs=visual-studio#kestrel) Microsoft.AspN

[2020-06-19 11:31] guardrex commented on #23145
Sounds more like a more general launch profile issue at this point. We document ...

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments?view=aspnetcore-3.1#development-and-launchsettingsjson

I haven't tried to run a `blazorserver` template-based app with `dotnet run` and specifying the IIS Express profile. Actually, I haven't tried it for any ASP.NET Core app in a long, long t

[2020-06-19 11:34] akorchev commented on #23145
@guardrex IISExpress is Windows-only though. Probably the Windows authentication template shouldn't be available in other OS. Or it should use Microsoft.AspNetCore.Authentication.Negotiate which is supposed to work cross platform.

[2020-06-19 12:01] pr-benchmarks[bot] opened #23150 "Scenarios are not running: DbFortunesDapper, DbFortunesEf, DbFortunesRaw, DbFortunesRaw-Mono, DbMultiQueryDapper ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| DbFortunesDapper | Linux, AMD64, http, KestrelSockets | 2020-06-17 23:17:16Z |
| DbFortunesEf | Linux, AMD64, http, KestrelSockets | 2020-06-17 23:18:02Z |
| DbFortunesRaw | Linux, AMD64, http, KestrelSockets | 2020-06-17 23:16:30Z |
| DbFortunesRaw-Mono | Linux, AMD64, http, Kestrel

[2020-06-19 12:06] guardrex commented on #23145
I think devs should be able to create such an app on ... say ... macOS ... and have it run on Windows on IIS Express just by moving it.

The Kestrel scenario is well covered in the docs, so I think that's a product unit issue at this point if they want to do something else with the template, like a switch that can set that up ✨ *auto-magically* ✨.

There's a broad challenge in that the framework i

[2020-06-19 12:13] hcanand commented on #23147
am trying to consume a components from another library in RCL pages library...but am not getting any intellisense for the components except in the blazor app projects....can u guide or share link to any existing doc resource for consuming components in RCL projects?

[2020-06-19 12:18] TheOnlyBeardedBeast commented on #23100
@javiercn sure. So I recreated the bug and upload it.

So I created an empty wasm blazor project based on the Visual Studio 2019 template and I added a new navlink to the navigation, you can find it here https://github.com/TheOnlyBeardedBeast/ErrorExample-NotFound

the navlink to testout the notfound behavior
[code]
the navlinks are here
https://github.com/TheOnlyBeardedBeast/ErrorExample-NotFound

[2020-06-19 12:27] Sagar-Vaja commented on #21210
This worked for me

But still same question: Is this the best practice?

[2020-06-19 12:32] PylotLight commented on #21210
@Sagar-Vaja I saw Chris come up with a slightly cleaner way:
https://chrissainty.com/avoiding-accesstokennotavailableexception-when-using-blazor-webassembly-hosted-template-with-individual-user-accounts/

[2020-06-19 12:40] blowdart commented on #23094
@hansmbakker I believe (and someone should have sample code), you could use the filtering to have multiple loggers, and only have your "sensitive" logger react to the authentication and authorization log events, enabling you to send them elsewhere.

[2020-06-19 12:42] Frankwayne commented on #23107
@javiercn  for some reason I have a hard time buying that.  I could see it more being a SingalR issue and its implementation in IIS, or the way that blazor is initializing the singalRHub on the web app.

[2020-06-19 13:09] javiercn commented on #21210
Using a separate client for talking to public endpoints is still the right choice, and what we consider best practice. Using a typed client is an option here as Chriss suggests. I would say that if you go that route, you might as well just define methods to get the results you want within that class instead of just grabbing the client.

We'll add this guidance to the docs.

[2020-06-19 13:10] akorchev commented on #23149
Turns out this happens only in Edge (before Chromium). IE11, Chrome, Edge (Chromium) work as expected and do not prompt the user to log in.

[2020-06-19 13:10] #23149 closed

[2020-06-19 13:11] hansmbakker commented on #23094
@blowdart ok, that would solve part of the problem. However, the logging that `DefaultAuthorizationService` does is [hardcoded to `LoggingExtensions` marked as `internal`](https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authorization/Core/src/DefaultAuthorizationService.cs#L98-L106). **It is not possible to modify what data points are logged**

[2020-06-19 13:12] jhancock4d opened #23152 "Formalized Blazor Wasm Capacitor/Cordova Support"
### Is your feature request related to a problem? Please describe.
Right now Blazor WASM is difficult to get working in Capacitor/cordova so using Blazor to create a cross platform environment including web is almost impossible. It would be nice if the Blazor team wored with the Capacitor team to create a great story in the short term while we away MAUI etc. as this would create a viable bridge wi

[2020-06-19 13:17] JeepNL commented on #20887
I found something to use the 'Profile Service' instead of 'API authorization options' (explained [here](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/hosted-with-identity-server?tabs=visual-studio&view=aspnetcore-3.1#configure-identity-server) in Microsoft Docs)

Previously I didn't see the roles show up in the client interface when using the 'Profile Service'. When I ch

[2020-06-19 13:21] javiercn commented on #23107
@Frankwayne It is easy for you to try. Run the app directly in Kestrel (switch from UsePathBase to `app.Map("/App", builder => // rest of your pipeline)` run the app and see how you can access it.

[2020-06-19 13:30] Tratcher commented on #23145
The Negotiate package automatically defers to the server if the server supports windows auth, so yes you could add it to the template. As for logging in by default, I think you need to set the fallback policy for that.

[2020-06-19 13:39] DaveNay opened #23153 "Add missing OffsetX and OffsetY events to TouchPoint class"
Issue #20478 addresses the `OffsetX` and `OffsetY` properties for `MouseEventArgs`, however these properties are not present in the `TouchPoint` class as part of `TouchEventArgs`

I would like to have the `OffsetX` and `OffsetY` properties to provide the following:

`OffsetX`   The X coordinate of the touch point relative to the left edge of the element that is the target of the current event.

`O

[2020-06-19 13:41] #23142 closed

[2020-06-19 13:47] davidfowl commented on #23128
This isn’t really kestrel or asp.net core specific but it’s been discussed and prototyped in the past. We haven’t yet explored this area of trying to abstract the messaging system and there are lots of other systems that do this today in .net like NServiceBus.

[2020-06-19 13:50] davidfowl commented on #23063
cc @JamesNK

[2020-06-19 13:51] javiercn commented on #23152
@jhancock4d thanks for contacting us.

While this sounds interesting we are currently focused on delivering a web experience, so this is not something that we plan to do in the immediate future.

From what I can tell based on your comment here and the issue you described, you got everything to work but for the authentication bits.

If you are interested in supporting this scenario for your apps (a

[2020-06-19 13:51] nfplee opened #23154 "Model binding infinite loop (sample provided)"
I'm trying to use a custom model binder within a loop. However it seems to get stuck in an infinite loop. The error I'm getting back is:

I think my issue is related to the one [here](https://github.com/dotnet/aspnetcore/issues/4939). However I have tried saying the following within my model binder but it didn't help:

[code]

I have attached a very basic example to illustrate the issue. Please ru

[2020-06-19 13:53] davidfowl commented on #23043
Hopefully we’ll have dumps soon for OS X. Also we don’t get dumps on timeouts here yet

[2020-06-19 13:58] jhancock4d commented on #23152
The issue for authentication (the #1 roadblock) is that capacitor has an event for when a custom url is called back from the idp for the redirect_uri.

I can get that to fire, and can even bind it in blazor, however what I can't do is convince the authentication pipeline in blazor wasm (which I have working fine in standard blazor) to then handle that custom url (which has all of the same stuff on

[2020-06-19 14:04] davidfowl commented on #22711
cc @DamianEdwards

[2020-06-19 14:04] #22699 closed

[2020-06-19 14:10] javiercn commented on #23152
You can try and replace the JS code for handling auth with your own version [here](https://github.com/dotnet/aspnetcore/blob/master/src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/AuthenticationService.ts). You could store the URL you have, redirect to  `authentication/login-callback` and have your implementation in JS process that stored custom url and complete the authenticatio

[2020-06-19 14:26] RicardoGaefke commented on #12890
Is it possible to SSR my React App with this package?