[2021-02-21 15:59] Banyc opened #30346 "SignalR not serializing enum values on custom type"
### Describe the bug
A clear and concise description of what the bug is.

SignalR not serializing enum values on custom type.

### To Reproduce

Send the `ChatMessage` from client to the hub. The object of type `ChatMessage` should have value `ChatMessageType.Image` assigned to the attribute `ContentType`.

[code]

When the hub receives the object of type `ChatMessage`, the attribute `ContentType`

[2021-02-21 16:00] Banyc commented on #30346
## Update

The relative post is here:

<https://stackoverflow.com/questions/38484773/signalr-not-serializing-enum-values-on-custom-type>

[2021-02-21 16:37] Banyc commented on #30346
It turns out to be my own bug... Sorry for this issue...

[2021-02-21 16:37] #30346 closed

[2021-02-21 16:45] JamieMair opened #30347 "[wasm] Blazor on Safari: The source list for Content Security Policy directive 'script-src' contains an invalid source: ''strict-dynamic''. It will be ignored."
### Describe the bug

When trying to load my site on Safari browsers, I get the following errors:
[code]
These are repeated for around 10 errors in total. I cannot figure what in the website is causing this issue.

Whatever this issue is, it means that the content is not being loaded on the front page, with only the header and footer being displayed. The content in the middle of screen loads, but

[2021-02-21 16:51] majorimi opened #30348 "Blazor JS Interop issues with Browser's langue settings"
It seems Blazor JS interop is trying to obey Browser's Preferred language settings. Which probably is good, however it is causing issues. I'm trying to make a call from JS code to Balzor with a DotNetRef. It was working good basically all the time but now run into an issue.
When I try to call a C# method with a `double` value which has a decimal separator `.` in .NET. And most of Languages also us

[2021-02-21 18:26] BrennanConroy commented on #30342
Dupe of https://github.com/dotnet/aspnetcore/issues/28379

[2021-02-21 19:00] #30330 closed

[2021-02-21 20:57] MrYossu opened #30349 "Error 400 when trying to access a non-root URL. '_blazor' is normalised to the wrong URL"
### Repro steps
Please see the [sample project](https://github.com/MrYossu/BlazorBug).

1. Run the project
2. From the nav bar, click the Investors list
3. From the list, click either "Jim" or "John"
4. Look in the web browser console

At step 3, the page is not displayed correctly (or not at all). In my full project, I sometimes see part of the page contents, but the Blazor functionality does not

[2021-02-21 21:42] benaadams commented on #29904
Second commit in https://github.com/dotnet/aspnetcore/pull/30320

However; additionally the `blazor.server.js` should be served compressed as either `.br` or `.gz` which it isn't currently.

In `themesof.net` I currently intercept the request; then compress and cache the compressed version in memory and serve that in second request etc https://github.com/terrajobst/themesof.net/blob/2e795379c7853c

[2021-02-21 22:01] talldaniel commented on #17660
if there is already an error then it is common for Visual Studio itself to display a few hundred extra errors.  I can remember this behavior as far back as VS 2015 and it probably goes back further.  The most recent example is when I did something wrong linking to a DLL and got around 900 errors.

Is anyone still seeing this error when there are no legitimate errors?

I hope it is not a VS error a

[2021-02-21 22:20] javiercn commented on #30349
@MrYossu thanks for contacting us.

Looks like you are not configuring the base path for the page correctly. Check [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/?view=aspnetcore-5.0&tabs=visual-studio#app-base-path) for details.

[2021-02-21 22:25] angelaki opened #30351 ".AddDataProtection().PersistKeysToDbContext<KeyDbContext>() configured but not used?"
In my `ConfigureServices` I'm setting a the EfProtectionBuilder

[code]

and the table is generated / a record added. But the logger still says

      Storing keys in a directory '/root/.aspnet/DataProtection-Keys' that may not be persisted outside of the container. Protected data will be unavailable when container is destroyed.

and after restarting the container the credentials do not work any m

[2021-02-21 22:31] javiercn commented on #30347
@JamieMair thanks for contacting us.

I don't think this is related to Blazor. The template doesn't include a CSP policy, so there must be something in your app that is adding it, but I can't find it. The warnings you are seeing might be because Safari doesn't support those values.

[2021-02-21 22:36] javiercn commented on #30294
@steamonimo thanks for contacting us.

You can use a custom request culture provider to use a different header. See [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization-extensibility?view=aspnetcore-5.0#use-customrequestcultureprovider) for details.

[2021-02-21 22:38] javiercn commented on #30335
@yostane thanks for contacting us.

Have you try cleaning the bin and obj folders and performing a full rebuild as well as navigating to the app in an incognito browser? There might be something cached in your machine that is causing this.

Let us know if that doesn't solve the issue.

[2021-02-21 22:38] xabio commented on #12102
@youtpout how do you workaround the fact that sígnalr only works with 11.0.0 version of newtonsoft.json?
I am facing that issue.
I try to use the one ported to unity ecosystem but without luck.
Thanks

[2021-02-21 22:40] javiercn commented on #30338
@HashemGo thanks for contacting us.

Reconnecting only deals with intermittent network connections. If your server goes down and restarts, the state on the session is not preserved in that case and the page needs to be refreshed.

[2021-02-21 22:41] youtpout commented on #12102
@xabio I use v12 without problem, see my project test plugins folder
https://github.com/youtpout/UnityEnum/tree/master/Assets/Plugins

[2021-02-21 22:47] xabio commented on #12102
And how did you managed to do that? last version of signalr depends on netwonsoft 11.0.0 right?
Did you managed to recompile it or how? Please your help is really important, I am really desesperated

[2021-02-21 22:50] javiercn commented on #30331
@Banyc thanks for contacting us.

You can do this already by injecting the Configuration object in the template and using it to set the href attribute on the base tag or by using the environment tag helper to use different values during development and production.

[2021-02-21 22:52] javiercn commented on #30281
@saulyt thanks for contacting us.

@lewing should we move this to the runtime repo?

[2021-02-21 22:52] steamonimo commented on #30294
@javiercn The safari browser is used on 30% of all mobile devices (iPhone devices). It would be better to handle this case in the framework itself.

[2021-02-21 22:54] javiercn opened #30352 "HTTP_ACCEPT_LANGUAGE header in not supported by Localization middleware"
Handle additional localization request headers out of the box.

Safari uses HTTP_ACCEPT_LANGUAGE which our middleware doesn't look for, which results in localization not working by default.

[2021-02-21 22:56] youtpout commented on #12102
@xabio My bad, SignalR use textjson I think
https://www.nuget.org/packages/Microsoft.AspNetCore.SignalR.Common/
Dependencies
.NETStandard 2.0
Microsoft.AspNetCore.Connections.Abstractions (>= 5.0.3)
Microsoft.Extensions.Options (>= 5.0.0)
System.Text.Json (>= 5.0.1)

I include Newtosoft because I use HttpClient for rest api call on my real project.

[2021-02-21 22:56] javiercn commented on #30352
The fix likely involves checking for additional language headers [here](https://github.com/dotnet/aspnetcore/blob/main/src/Middleware/Localization/src/AcceptLanguageHeaderRequestCultureProvider.cs)

[2021-02-21 22:57] javiercn commented on #30294
@steamonimo I was pointing out a solution to your problem.

I filed a separate issue to track adding explicit support for it [here](https://github.com/dotnet/aspnetcore/issues/30352)

[2021-02-21 23:03] MrYossu commented on #30349
@javiercn Duh, I even took that out as I thought it wasn't needed!

Thanks very much.

[2021-02-21 23:08] javiercn commented on #30327
@AndersMalmgren thanks for the additional details.

Unfortunately this is not something we plan to pursue. This concept doesn't exist within the dependency injection system and we are not interested in creating a Blazor specific concept for it. It would require a non trivial amount of internal changes to the framework (if its possible at all without big hacks to the DI system) and adds a new conce

[2021-02-21 23:14] blowdart commented on #30351
Could we first see your startup.cs (with any secrets removed) and version information about what version of .NET Core or .NET you're using?

[2021-02-21 23:16] angelaki commented on #30351
Sorry for not mentioning! I'm using version `5.0.3`. Showing my startup.cs is not really possible, since the application is bootstrapped by some kind of framework. Several dlls are registered, that can append services. Is "PersistKeysToDbContext" need to be called before some other calls are?

[2021-02-21 23:22] blowdart commented on #30351
If something else has registered data protection beforehand then it's going to default to the file system inside a container because there's no other option, so yea, register it as early as possible. You may be able to figure it out what's doing it from where that log gets written.

[2021-02-22 00:01] #30160 closed

[2021-02-22 00:28] angelaki commented on #30351
Ok, thank you! Put it to the very beginning now and it works! I'll check now what service exactly caused the issue and let you know! Thank you so much for supporting!

[2021-02-22 00:53] statler commented on #30278
After some more research, including articles such as https://github.com/dotnet/aspnetcore/issues/3409, it is possible that some of this is the opaqueness I feel when trying to understand what .Net Core does memory wise.

1. What is the end-game for the Unmanaged memory processes - is that memory ever collectable/reallocatable? I understand it is out of the bounds of the garbage collector, but does

[2021-02-22 01:34] Luiz-Monad commented on #12890
If you write F#, you can use https://fable.io/ to create isomorphic applications and share code between server and client.
This way you take backend code used for server-side rendering and compile it to JS and run inside node, instead of doing this hack of running node from aspnet core.

[2021-02-22 02:08] angelaki commented on #30351
Just had a hell of a debuging session for finding out: adding `var x = new DataProtectionOptions();` to my Program.cs solved the issue!

I'm using an `AssemblyLoadContext` for lazy loading my modules. The only difference is: eager loading `DataProtectionOptions` makes him know the lib in the AssemblyLoadContext's `protected override Assembly Load(AssemblyName paramAssemblyName)`.

If it is **not**

[2021-02-22 02:59] Banyc commented on #30331
Thanks for reply! The problem resolved.

[2021-02-22 02:59] #30331 closed

[2021-02-22 03:28] benaadams commented on #29904
Can more than half the size of `blazor.server.js` by switching `msgpack5` to `@msgpack/msgpack`

[2021-02-22 03:39] yanjianyigaii commented on #28775
any update on the root cause of this issue? we are having the same.

[2021-02-22 03:54] MarsonShine commented on #22951
i had same problems
latest version for visual studio and msbuild，follow (BuildFromSource)[https://github.com/dotnet/aspnetcore/blob/main/docs/BuildFromSource.md] steps
had another solution?

[2021-02-22 04:07] blowdart commented on #30351
Data Protection is, well, special. It needs to be configured immediately, otherwise when a protection is requested (and they're requested a few places, not just for cookies, csrf uses it for example) it will initialise itself and try to figure out the best place to persist keys. On linux it can't do it well at all, so it goes in memory, or if it's in a container it kind of figures out somewhere so

[2021-02-22 05:09] nolanblew opened #30353 "Debugging Blazor Apps with WebAssemblyServer 5.0.x Kills IIS Express"
### Describe the bug
On a Blazor WASM project, upgrading the Server to .NET 5 AND upgrading the `Microsoft.AspNetCore.Components.WebAssemblyServer` package to 5.0.x (I just tried the latest, 5.0.3) breaks any client-side debugging. After setting a breakpoint on a client page, the breakpoint does get recognized and turns fully red. However, the moment that breakpoint is hit, the .NET debugger detac

[2021-02-22 05:10] todosrc commented on #27217
I want Blazor Desktop to also support automatically update themselves. like electron-updater.

Idea :

https://github.com/ElectronNET/Electron.NET/issues/259
https://github.com/ElectronNET/Electron.NET/blob/master/ElectronNET.API/AutoUpdater.cs

https://github.com/NetSparkleUpdater/NetSparkle
https://github.com/Squirrel

cheers>>

[2021-02-22 06:02] arivera12 commented on #25758
I would just simply use the default http client factory `services.AddHttpClient();`

I did this kind of overriding the base http client address and it was a bad idea once when I started with blazor wasm and server.

I falled back to just include the `HttpClient `using it's default base root address where the web server is running.

What happens if you want to get a resource which is on the `wwwroo

[2021-02-22 06:20] davidfowl opened #30354 ""Minimal hosting" for ASP.NET Core applications"
## Summary

We want to introduce a new "direct hosting" model for ASP.NET Core applications. This is a more focused, low ceremony way of creating a web application.

## Motivation and goals

Introducing a lower ceremony replacement for the WebHost to remove some of the ceremony in hosting ASP.NET Core applications. We've received lots of [feedback](https://dusted.codes/dotnet-for-beginners) over t

[2021-02-22 07:01] #30339 closed

[2021-02-22 07:01] pr-benchmarks[bot] opened #30356 "Performance difference: json, json"
A build regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old Build (ms) | New Build (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| json  | Json Platform Trimmed aspnet-citrine-lin | 02/20/2021 01:44:45 | 69,820 | 71,328 | 2 % (1,508)  :thumbsdown: | 7.13 σ | 212 |
| json  | Json Pl

[2021-02-22 07:08] alrz commented on #30342
While it does address this scenario, still you have to duplicate the `EnsureRedisServerConnection` logic. I was thinking more of a self-contained helper to register Redis servers, just like what we have for `HttpClient`. An additional feature could be adding `LoadedLuaScript`. For instance:
[code]
From there, you could imagine a way to set it up for existing services like Caching, SignalR, and Dat

[2021-02-22 07:15] khellang commented on #27464
Where are you storing used capacity? Just bypassing the existing abstractions entirely?

[2021-02-22 07:17] davidfowl commented on #27464
There would be an abstraction specifically for rate limiting.

[2021-02-22 07:20] khellang commented on #27464
OK, but you're not storing something in a... let's say... distributed cache? 😅

[2021-02-22 07:26] TFTomSun opened #30357 "GRPC over Javascript Interop"
## Summary

At the moment we don't have any type-safe and contract based way to communicate between Blazor Webassembly and Typescript. The Javascript Interop allows us only to call methods by name. GRPC over Javascript Interop could solve that gap. What would be needed is to replace the underlying socket based communication of GRPC with Javascript/Dotnet Interop calls.

## Motivation and goals

It

[2021-02-22 07:44] sep2 commented on #5466
In our use case we don't care too much about download size, as long as startup speed is good.

We would like to use the AOT compied assemblies in server side as sort of lightweight sandboxed containers and get rid of dockers.

The other feasible right now would be:

1. rust (no gc, bit hard to write)
2. go (not matured yet)
3. assemblyscript (not matured also)

[2021-02-22 08:56] gfoidl commented on #30354
For MVC why not
[code]
where `CreateMvc` does the necessary steps?
The `app` could be configured further.

Looking through "beginner eyes":
* Why do I need to create a "builder" and what is a builder?
* Why do I need to get "services" and add "controllers" which I need to map then?

[2021-02-22 09:08] davidfowl commented on #30354
I don't think it scales well. You need to undo CreateMvc or create more concepts if you want to do anything (like adding other features, or setting configuration options, or configuring pretty much anything). The key to this is not just making it simple to start but simple to grow up. We don't want to fork the framework concepts of ideas or make something that doesn't work with the existing ecosys

[2021-02-22 09:10] MichaelBakkerDP commented on #28113
I encountered this problem after installing Visual Studio 2019 Community Preview (16.9.0 Preview 3 and later Preview 4, which didn't solve it) next to my VS 2019 Professional Install (16.8.5) already present.
No information present in Output window, ...\Local\Temp\VSTelem.Out or event logs.

Deleting the .vs folder from the problematic solution worked for me.

[2021-02-22 09:36] gfoidl commented on #30354
The current proposal for MVC adds builder, services and controllers.
This should be abstracted away.

Good point. So maybe make `CreateMvc` as sugar-extension for fast start, when only MVC-controllers are needed?

[2021-02-22 09:37] javiercn commented on #30278
@sebastienros @pranavkm do you have any thoughts here?

@statler I'm going on a limb here, but I believe some of that memory can be pages that were allocated as part of the memory increase and that have yet to be returned to the operating system.

[2021-02-22 10:21] davidfowl commented on #30354
One of the goals is to reduce "unlearning". That is, the amount of code you need to undo once you need to do something additive. Also The MVC name doesn't mean much, o don't think it needs to be in the method. We'll experiment with what on by default would mean

[2021-02-22 10:22] HashemGo commented on #30338
@javiercn  Thank you for reply

But when I used *Blazor.disconnect()* by Browser Console then try use *Blazor.reconnect()* not working

we hope if there any plan to support reconnect without reload page like SignalR, that is really very important to us

[2021-02-22 10:22] boukenka opened #30358 "Investigate what git diff looks like with the new Razor editor"
Hello,

There are various warnings for HTML when reviewing changes in '_Git Changes_' view.
They don't appear when the view is '_Solution Explorer_'.
Here is a screenshot:

![Warning](https://user-images.githubusercontent.com/16502423/108694777-c83f3480-74ff-11eb-9834-f29217629cc4.png)

Visual Studio Version 16.9.0 Preview 4.0

[2021-02-22 10:33] yuwochangzai opened #30359 "The summary of ActionResult<TValue> has a spelling mistake"
![image](https://user-images.githubusercontent.com/6983001/108696217-39044200-753c-11eb-84c4-38ad2b1c261a.png)
.Net Core 5.0
VS 2019 16.8.5

[2021-02-22 10:37] vallgrenerik commented on #28692
I also has some integrity problem, but with the service-worker.js.
@SteveSandersonMS , is that a valid script? This is what I get (no matter what I pass into the script)

[code]
When I change my service-worker.js as the link you posted Steve to

```.map(asset => new Request(asset.url));```
instead of
```.map(asset => new Request(asset.url, { integrity: asset.hash }));```
then the site works with P

[2021-02-22 10:53] SteveSandersonMS commented on #28692
@javiercn Does your integrity checking script require a specific version of Powershell or something like that?

That simply removes the integrity check altogether. It makes the error go away, but doesn't provide an explanation for why your server is returning different content than was originally built when you published. You might be OK with this, but it creates a small risk that clients might ca

[2021-02-22 10:58] rjgotten commented on #12890
@Luiz-Monad

I wouldn't exactly resort to calling a fairly standard and well-understood practice of inter-process communication over an HTTP loopback a 'hack' when compared to shoe-horning your entire application into an isomorphic rendering model that can fit yet another compiles-down-to-javascript cross-compiler. But maybe that's just me.

All the existing NodeServices does and is, is a thin lay

[2021-02-22 11:44] javiercn commented on #28692
I didn't put a specific version on it, but powershell core 6.0+?

[2021-02-22 11:48] javiercn commented on #30338
@HashemGo If you are calling `Blazor.disconnect()` you are explicitly terminating the session on the server.

Reconnection happens automatically when its a network issue.

If the server reboots the session is completely lost since it resides in memory and the server terminated the process.

[2021-02-22 11:53] vallgrenerik commented on #28692
Great thanks. I had PS 5.1.19041.610. The script works when I upgraded PS to 7.1.2

[2021-02-22 12:09] vallgrenerik commented on #28692
Oh OK! Im so stupid. I didn't understand what I was doing.
After the publish, I changed index.html to adjust the base href to my subsite domain https://mycomputer/myblazorapp
When I dont change index.html after the release, it works.
Lesson learned: Don't fiddle with the code after it's been published.
Thanks and sorry!

[2021-02-22 12:17] javiercn commented on #28692
@julitogtu are you still having issues with this?

I would suggest a few thing:
* Remove things from your bin and obj folders and trigger a clean solution build, that might root out something that was incorrectly cached.
* Use the script mentioned above to spot any difference between your app files and the files published by the server.

That'll help determine at wich point things go wrong

[2021-02-22 12:58] julitogtu commented on #28692
Hi all, thanks, I'll take a look today

[2021-02-22 13:09] angelaki commented on #30351
Haha... Ok, so my horrible fix is still probably the best. But still: any idea where to dig for a cleaner solution? I don't get why an lazy loaded assembly shouldn't work?

[2021-02-22 13:09] JeepNL commented on #30243
FYI:

I completely rewrote my code, you now can test uploads in Blazor WASM with chunked parts, it uses a simple progress bar and you can upload a local file, or a in memory generated random binary file (_different file sizes & chunk sizes_).

For this demo I'm only using 2 files, one on the client `FileUpload.Razor` and one on the server `UploadController.cs`. I think it's easier to see what's ha

[2021-02-22 13:21] blowdart commented on #30351
For data protection? No, due to how it's used by multiple components, and it's self configuration I think you're stuck with "horrible"

[2021-02-22 13:24] Codinkat commented on #27218
@hesuruio I have the exact same issue. The current workaround is to NOT specify the base class in the code-behind file:

[code]

Specifying the base class in the code-behind file is not technically needed (because the inheritance is defined by `@inherits` in the razor file), but I used to specify it at both places for more clarity. So until this issue is fixed, I just comment it.

[2021-02-22 13:25] blowdart commented on #30305
Should be part of https://github.com/dotnet/aspnetcore/issues/18164, so closing as dupe.

[2021-02-22 13:25] blowdart commented on #18164
https://github.com/dotnet/aspnetcore/issues/30305 has another approach we should consider as part of the work.

[2021-02-22 13:29] angelaki commented on #30351
At least it got an milestone 👍  Thank you so much! Issue would have taken me days! So for now

`private readonly DataProtectionOptions _dpo = new DataProtectionOptions();`

in `Program.cs` is the solution.

[2021-02-22 13:29] #30351 closed

[2021-02-22 13:44] johan-v-r opened #30362 "PageResult invalid de/serialization"
### Describe the bug

`Microsoft.AspNet.OData.PageResult` excludes properties when serializing, and fails on deserialization with `System.Text.Json.JsonSerializer`

### To Reproduce
[code]

### Exceptions (if any)

    ---- System.NotSupportedException : The collection type 'Microsoft.AspNet.OData.PageResult`1[System.String]' is abstract, an interface, or is read only, and could not be instantiate

[2021-02-22 14:06] javiercn commented on #30362
@johan-v-r thanks for contacting us.

This is not asp.net core specific. We suggest you file this issue in the [OData repository](https://github.com/OData/AspNetCoreOData) instead.

[2021-02-22 14:07] dmumladze opened #30363 "File aspnetcorev2_inprocess.dll not working"
I'm trying to get a self-contained .NET core web API up and running without installing a AspNetCoreModuleV2 module onto the server. I noticed there's aspnetcorev2_inprocess.dll in my bin folder now so I was hoping that would eliminate the need of installing the module, but I may be wrong... Haven't been able to find much documentation about this new file either.

How doe aspnetcorev2_inprocess.dll

[2021-02-22 14:07] #30362 closed

[2021-02-22 14:07] ViRuSTriNiTy commented on #28573
This needs to be fixed asap as all serious apps are developed in different stages / environments!

[2021-02-22 14:22] xhafan opened #30364 "ResponseCachingMiddleware: exception "Cannot allocate more than 4096 bytes in a single buffer" when a client disconnects"
When we upgraded from .NET Core 3.1 to .NET 5.0 (5.0.3), we started getting ~~rare~~ random exception from `ResponseCachingMiddleware`:
[code]
We get this exception once in 3 days, very random and very rare. I discovered it is likely happening when a client disconnects in the middle of downloading a large cached response. Here is a demo project with a clean Web API project to replicate it: https:/

[2021-02-22 14:48] StarWonder67 commented on #30359
Hi, I am a beginner in open source and would like to contribute to this issue. Does adding an issue to the Backlog milestone mean, it cannot be resolved right now?

[2021-02-22 15:29] MCCshreyas commented on #30359
Hi @StarWonder67, sorry to inform you that, I have already opened a PR for this issue for fix!

I hope you will find another issue to resolve! You can use this link to find better one => https://github.com/dotnet/aspnetcore/labels/help%20wanted

Thanks!

[2021-02-22 15:35] Regenhardt opened #30366 "jsRuntime.InvokeAsync can't return null as Nullable<Guid>"
### Describe the bug

Looks very similar to !10565 :

I'm trying to read a Guid from local storage, so I go `return jsRuntime.InvokeAsync<Guid?>("localStorage.getItem", key);`.
When there is a guid, this works fine.
But if there isn't a guid, I get this exception:
`System.InvalidCastException: Null object cannot be converted to a value type.`

Am I supposed to box my guid or what?

### To Reproduc

[2021-02-22 15:40] mthalman opened #30379 "Large disk size increase in Microsoft.NET.Sdk.Razor folder"
Between 6.0 Preview 1 and the current build of Preview 2, the size of the `Microsoft.NET.Sdk.Razor` folder increased by 180%.  In absolute terms, this is an increase of 45 MB.  A portion of this increase is due to the addition of the `source-generators` sub-folder which is understandable.

More concerning is the 100% increase in the `tasks` sub-folder and the 188% increase in the `tools` sub-folde

[2021-02-22 15:47] ChristianWeyer commented on #29303
Did you get any further in your attempts to speed up loading @drma-dev ?

[2021-02-22 15:51] drma-dev commented on #29303
man, I believe that any blazor project happens this

[2021-02-22 15:52] drma-dev commented on #29303
[https://github.com/drma-dev/VerusDate](https://github.com/drma-dev/VerusDate)

if you can't reproduce, you can use my project

[2021-02-22 15:53] ChristianWeyer commented on #29303
Well, I can reproduce it, of course :-)
I was asking whether you found viable solutions to speed things up.
Thanks!

[2021-02-22 16:00] javiercn commented on #29303
This is in part an artifact of how lighthouse measures LCP.

After we prerender we replace the prerendered contents with the interactive version of the DOM. Lighthouse uses that as the LCP. In reality the content is rendered much earlier (the prerendered content) but lighthouse decides that as we are replacing all the nodes (for the exact same hierarchy of nodes) the LCP is that event instead of t

[2021-02-22 16:03] #30359 closed

[2021-02-22 16:05] ChristianWeyer commented on #29303
Yeah, in my Blazor WASM .NET 5 with prerendering demo here http://tt-cw-blazor-wasm-prerendering.azurewebsites.net/ we do observe exactly what you are describing @javiercn

![image](https://user-images.githubusercontent.com/888718/108734884-34d22780-7530-11eb-89de-bad5ae4b643b.png)

(Source: https://github.com/thinktecture/blazor-wasm-things-to-know/tree/main/Prerendering)

[2021-02-22 16:57] captainsafia commented on #30353
@nolanblew Can you try clearing out the `.vs` directory next to the solution file of the project in question?

Also: are you able to reproduce the same issue when debugging with Kestrel?

[2021-02-22 16:58] captainsafia commented on #30281
This issue has been reported before (https://github.com/dotnet/runtime/issues/47792) so I'll close this as a dupe since it's tracked.

[2021-02-22 16:58] #30281 closed

[2021-02-22 17:03] #29684 closed

[2021-02-22 17:16] mkArtakMSFT commented on #30348
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2021-02-22 17:24] Eilon commented on #27217
@leonardder accessibility is certainly important for all apps so I'm adding that to the checklist of things to look into.

[2021-02-22 17:25] Eilon commented on #27217
@kmanev073 said:

It is not in Preview 1. We plan to have this in no later than Preview 4.

[2021-02-22 17:26] Eilon commented on #27217
@todosrc said:

Installation/deployment/update support is an interesting problem, and we are looking at various solutions to this, including using some of the ones you mention!

[2021-02-22 17:28] Tratcher commented on #30354
We'll have to figure out what to do with tools like EF migrations and WebApplicationFactory that depend on the current Program.CreateHostBuilder pattern.

[2021-02-22 17:29] mkArtakMSFT commented on #30308
@danroth27 can you suggest what is the VS flag to enable to have dotnet-watch similar experience work?

[2021-02-22 17:35] Tratcher commented on #30363
A self-contained deployment includes the runtime and a plugin for the module to load (`aspnetcorev2_inprocess.dll`), but the IIS module still needs to be installed in order to start the loading process. `aspnetcorev2_inprocess.dll` contains runtime loading code that may version with each release, vs the module which contains only minimal startup code and interops with all version.

[2021-02-22 17:47] sebastienros commented on #30278
First thing to do is to collect a trace that will show what objects are actually holding this memory. Since you are using dotmemory it should already be able to list all types. Otherwise perfview with the default settings will also report it.

[2021-02-22 17:49] m0sa commented on #27154
We're seeing this quite regularly in our builds after switching to the .NET 5 SDK, too. Is there any chance for a fix for this to make it into the 5.* SDK instead of 6?

[2021-02-22 17:50] Kahbazi opened #30368 "Task<string> and ValueTask<string> in MapAction, serialize the result"
### Describe the bug
The output for `Func<string>` and `Func<Task<string>>` in MapAction is different.

`Func<string>` return the result directly, but `Func<Task<string>>` serialize the result which ends up in double quotation.

### To Reproduce
[code]

[2021-02-22 18:04] andrewaggb commented on #17660
My experience so far with the 16.9.0 Preview 4.0 is that intellisense doesn't work at all in razor pages.  I think it recognizes my blazor components better (my error list isn't full and there is color highlighting) but I get no code autocompletions in the code blocks so I've gone back to the non-preview VS which is working much better for me.  I'm way less productive without variable and function

[2021-02-22 18:10] nolanblew commented on #30353
Unfortunately none of those helped.

Here's the output from kestrel (with the full directories redacted):
![image](https://user-images.githubusercontent.com/1565705/108750554-059ec480-74f6-11eb-99d7-a4e8e8be1d32.png)

Deleting the `.vs` directory (I even restarted my computer for good measure) didn't help, though given I've been able to repro this issue on every PC with VS installed I hope it woul

[2021-02-22 18:14] majorimi commented on #30348
Hi @mkArtakMSFT,
Basically it is a simple `DotNetObjectReference` passed into JS code. And when some event happens a callback will be made on that .NET Ref into a `[JSInvokable()]` method. Which expects some arguments one of which is a `double` type. Simple and standard JS interop as usual...

The problem with your request is if I prepare an example code and you **run it with a browser which [Pref

[2021-02-22 18:17] sebastienros commented on #30278
Notes:
- The GC collects when it feels the need to do so. If you have lots of available memory the OS won't feel any pressure and the GC might not be invoked when you wish it would. But it the nswag thread you seem to call GC.Collect() and it doesn't change the result, so in this case it would not be an issue with when the GC is invoked. Though even in that case, it would not be a bug, just by des

[2021-02-22 18:17] davidfowl commented on #30354
I'm not sure those are in scope (that's why testing is out of scope in the description above), or better put, we have to make a tradeoff somewhere and I'm ok if that's what needs to be traded off.

[2021-02-22 18:19] pranavkm commented on #30294
/cc @Tratcher

[2021-02-22 18:24] skoruba opened #30370 "How to restrict parameter type in controller action via endpoints"
Hey,

I have the `Asp.Net Core MVC` web application where I have the area called `AdminUI`.

My controller looks like this:

[code]

And I have also following method for adding the feature to prefix whole area with some specific name:

    public static IEndpointConventionBuilder MapIdentityServer4AdminUI(this IEndpointRouteBuilder endpoint, string patternPrefix = "/")
    		{
    			return endpoi

[2021-02-22 18:27] ryanbrandenburg commented on #30002
Filed https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1281060. This is a VS LSP bug that they'll take care of.

[2021-02-22 18:27] #30002 closed

[2021-02-22 18:39] Tratcher commented on #30354
Would we change the templates to use this new pattern? It would be problematic if EF migrations didn't work in the templates.

[2021-02-22 18:56] danroth27 commented on #30308
Sure, the setting is here:
![image](https://user-images.githubusercontent.com/1874516/108755808-8eb8fa00-74fc-11eb-84b4-e885437197c9.png)

I tried out a new Blazor Server project with Windows Auth enabled and making edits after doing a Ctrl-F5 worked for me with this setting configured.

[2021-02-22 18:57] davidfowl commented on #30354
Undecided, I would like to but there are obviously problems beyond EF migrations (and other tools like it).

I think it does this today, if not, it should since that method can be easily removed.

[2021-02-22 19:00] pr-benchmarks[bot] opened #30372 "Performance difference: plaintext, connectionclose, connectionclosehttps"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| connectionclose  | Plaintext Connection Close aspnet-citrine-amd | 02/21/2021 09:21:52 | 22,814 | 22,596 | -0.96 % (-218)  :thumbsdown:  | -3.39 σ | 64.35 |
|

[2021-02-22 19:02] BrennanConroy opened #30373 "Flaky RunIndividualTestCase(http2_6.9.1_2) test"
The test is skipped because it's part of a theory of a couple hundred tests and can't be quarantined.

<details>
<summary>Logs</summary>

[code]

</details>

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1003834&view=ms.vss-test-web.build-test-results-tab&runId=31354936&resultId=108139&paneView=debug

[2021-02-22 19:37] Tratcher commented on #30373
Hmm, the server logged it was sending the GOAWAY, but the test complains the connection was closed before it was received. This could be a race on either end. We haven't updated h2spec in a long time, we should check if there have been fixes in this test scenario.

[2021-02-22 19:50] #30363 closed

[2021-02-22 19:56] javiercn commented on #30357
@TFTomSun thanks for contacting us.

I don't think this is feasible in principle. GRPC requires you to have a contract and JSInterop needs to work without the need for defining a contract.

[2021-02-22 20:08] parveenLily commented on #30332
Hi,
Thanks for getting back.
This is the sample project  at the above location. It works fine on kestrel.
I just tried to run it on docker with the docker file added from visual studio and development certificate. I installed the certificate using power shell in windows trusted root.I can attach the docker file if you want to take a look.
I could make it work behind lIS as a reverse proxy.

Thanks

[2021-02-22 20:10] yostane commented on #30335
Hello,

You're welcome :). The issue is not solved after:

- deleting the 'bin' and 'obj' folders.
- dotnet restore
- dotnet run --pathbase=/MangedDoom-Blazor

[2021-02-22 20:31] KanaHayama commented on #30238
Same problem here!
The console output is:
[code]
The output said the environment is `Development` at line 8, while it became `Production` at line 11.

I am using asp.net core 5.0.3, Visual Studio 2019 16.8.6, Chrome 88.0.4324.190.

[2021-02-22 20:47] TFTomSun commented on #30357
@javiercn yes, it's the same with http/http2 requests. They don't define a contract, too. But they allow communication between 2 endpoints. GRPC is a service definition on top of http/http2. So why not having a GRPC solution on top of JSInterop, to provide a contract based communication between Blazor WebAssembly and Typescript?

[2021-02-22 20:50] javiercn commented on #30357
@TFTomSun because such a contract forces everybody to define a contract to use JSInterop and that's a huge departure with the current experience.

[2021-02-22 20:50] dclamage commented on #5466
@bartczernicki Thanks for doing the work on the performance graph. I think it would be especially useful if you also included native performance for comparison. Right now there's no context for how long the code "should" take to run on those platforms. I understand that the performance will be significantly slower in comparison, but I think it would be good to add in some perspective to how well t

[2021-02-22 20:53] TFTomSun commented on #30357
@javiercn  ah.. sorry. You got me wrong. I would just see it as an optional feature. Everybody is free to choose whether they want a contract based communication or pure JSInterop. Same like it is with HTTP requests and GRPC web.

[2021-02-22 21:05] BrennanConroy commented on #30357
Sounds like you effectively want to host **all** of aspnetcore inside of blazor wasm which is a non-goal for us.

[2021-02-22 21:10] BrennanConroy commented on #30332
We would recommend writing your own app and not using a sample in this repo.

Have you taken a look at the docs to try and resolve your issue?
https://docs.microsoft.com/aspnet/core/security/docker-https?view=aspnetcore-5.0

[2021-02-22 21:19] BrennanConroy commented on #30364
Triage: We should check Http2 as well

[2021-02-22 21:21] BrennanConroy commented on #30318
Can you report an issue through the VS bug report tool, usually in the top right corner of VS.

[2021-02-22 21:21] #30318 closed

[2021-02-22 21:25] BrennanConroy commented on #30315
`RunAsService` is going to be obsolete and the other method is the recommended approach. Transferring to the Runtime repo for `UseWindowsService`.

[2021-02-22 21:27] JuergenGutsch opened #30470 "`dotnet watch` should now do `dotnet watch run` by default"
Hey,

As mentioned in the following blog post, `dotnet watch` should now do `dotnet watch run` by default.
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-1/

I tried the .NET 6 preview 1 but it doesn't. It just shows the command line help.

Steps to reproduce::
* Run `dotnet --info` to ensure the .NET 6 preview 1 SDK is used
* Create a new project `dotnet new webapp -n

[2021-02-22 21:28] MrYossu opened #30377 "Blazor server app not working when deployed, works fine in Visual Studio"
**SOLVED** It turned out that the problem was nothing to do with my code, nor my site settings on the server. I use Cloudflare, and had set it to minify HTML. This removes the two HTML comments that are essential for Blazor to work. See [this article](https://zimmergren.net/solved-asp-net-core-blazor-web-sites-does-not-work-with-cloudflare-html-minification/) for more information.

So, if you are

[2021-02-22 21:32] sander1095 commented on #18486
@mkArtakMSFT

Hello! I want to ask you the same thing as @EmadBustati .

If this were implemented, could I change code in my controller (or domain, or any other layer of my application) during development and things would hot reload? Or is only for the API project?

My project does not use razor; it's purely an API that returns JSON; would this be supported?

[2021-02-22 21:56] #30325 closed

[2021-02-22 22:10] vsfeedback opened #30380 "Visual Studio 2019 version 16.9 Preview 4 Intellisense is not working at all"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Visual-Studio-2019-version-169-Preview-/1337155)._

---
[severity:I'm unable to use this version] [regression] [worked-in:16.9 preview 3]
Visual Studio 2019 version 16.9 Preview 4 Intellisense is not working at all no differentiation between components ant html code and also cannot use

[2021-02-22 22:12] vsfeedback opened #30382 "Razor fails to properly format nested C#/Components inside of other components"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Razor-file-indentation-problem/1344867)._

---
[severity:It bothers me. A fix would be nice] [regression] [worked-in:16.9.0 preview 4]
Hi,

I am using the new experimental Razor editor ( with the Razor Language Server Protocol ).

I have an issue with an incorrect formatting when I do "

[2021-02-22 22:14] BrennanConroy commented on #29617
@wtgodbe Would you be interested in taking this on for preview3?

[2021-02-22 22:14] BrennanConroy commented on #29702
@wtgodbe Would you be interested in starting on this for preview3?

[2021-02-22 22:35] captainsafia commented on #30379
Note: moving this to the aspnetcore repo since that is where we are tracking these issues.

I can repro this. It also appears to be happening on Blazor WASM SDK, although to a less extent by virtue of the fact that that SDK is smaller.

![image](https://user-images.githubusercontent.com/1857993/108778703-a010ff00-751a-11eb-8811-44a41f8b6fdd.png)

We'll need to investigate further...

[2021-02-22 22:59] captainsafia commented on #30353
It looks like the debug proxy is launching and running on port 52636. Are you able to debug?

cc: @BrennanConroy for IIS express issues

[2021-02-22 23:01] #30347 closed

[2021-02-22 23:03] captainsafia commented on #30379
A thought: a change was introduced as part of preview2 to support crossgenning assemblies associated with the SDKs we migrated over (Razor and Blazor).

The size difference stats that were shared in that PR were within tolerable measures (https://github.com/dotnet/installer/pull/9635#issuecomment-775576053) and definitely not the 2x and 3.5x increases we are seeing here.

@brianrob Any thoughts on

[2021-02-22 23:05] enetstudio opened #30383 "Blazor Server App with SignalR refuses to work... Why ?"
I've created a Blazor Server App with individual accounts, added a Signalr hub, and a client page - the traditional chat application.

I tested the app, and all works perfectly well. I then added the Authorize attribute to my hub like this:

      [Authorize]
      public class ChatHub : Hub
     {
        public async Task SendMessage(string user, string message)
        {
            await Clien

[2021-02-22 23:09] TanayParikh commented on #28654
Nested warnings: https://github.com/dotnet/aspnetcore/issues/30358

[2021-02-22 23:10] MessyFork commented on #27220
Is there any chance of using AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#1365 ? I remembering seeing claims of massive speed improvements.

[2021-02-22 23:19] BrennanConroy commented on #30353
I noticed in your 5.0 gif, the dotnet webassembly loaded is still version 3.2.

Can you try deleting the bin and obj folders for all projects manually, or just creating a 5.0 app in the first place to see if the issue still repros?

[2021-02-22 23:55] TanayParikh commented on #30131
Discussed with @NTaylorMullen, appears to be an issue with embedded language configurations. We don't have the appropriate C# scope within the `@code` block.

![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/14852843/108785451-49a9bd80-7526-11eb-9cc1-c22a6cbffa72.png)

https://github.com/microsoft/vscode/blob/main/extensions/razor/package.json#L36-L40

Putting into next sprint

[2021-02-22 23:59] TanayParikh commented on #28654
- block duplicate diagnostics. Ex. for unclosed tag we don't want RZ* diagnostics and WTE diagnostics

[2021-02-23 00:01] #30349 closed

[2021-02-23 00:01] #30334 closed

[2021-02-23 00:01] #30327 closed

[2021-02-23 00:02] shirhatti commented on #29150
@AthiraKornath Throttling on startup will occur. If you set your limit to 100m, your app won't get more than 100ms of wall clock CPU time every second. This is expected behavior. Are you seeing an unreasonable drop in performance? For e.g., what TTFB on a the first request with the limits vs without?

If you want to avoid the orchestrator from sending traffic before your application is ready, you

[2021-02-23 00:28] brianrob commented on #30379
The differences that I saw when precompiling just the DLLs was +33MB.  I'm not sure how big the source generators are - do they make up the 12MB difference?

[2021-02-23 00:41] captainsafia commented on #30379
@brianrob Yes, it does. The source generators directory is 11.8 MB.

I interpreted the data in the linked comment incorrectly. It looks like the size increases that we see here _are_ within the ranges that were identified in the original PR.

[2021-02-23 00:46] brianrob commented on #30379
Ok, yes, then in that case, you're right, this is expected.

[2021-02-23 03:59] captainsafia commented on #30379
@brianrob Thanks for clarifying.

@mthalman Closing this issue as it's the result of the work done in https://github.com/dotnet/installer/pull/9635. We're making a trade-off between SDK size and perf here.

[2021-02-23 03:59] #30379 closed

[2021-02-23 04:11] Kasper888 commented on #6566
Still waiting the fix...

[2021-02-23 04:42] KanaHayama commented on #30127
I have a similar problem.
I found that hundreds of `Microsoft.AspNetCore.Connections.ConnectionResetException` and `System.Net.Sockets.SocketException` are thrown if I hit refresh button of the browser.
My project is a Blazor WebAssembly app, and this only happens after a Grpc connection is started.

[2021-02-23 05:07] statler commented on #30278
Thanks Sebastienros - totally fine on the memory profiling, though based on some diagnostic logging I am trialling, I may well take you up on your skype offer in the coming days when I have a firmer idea of the base causes. I am now [relatively] comfortable that the issue isn't in the _managed_ memory with either API Explorer, NSwag or Swashbuckle. Simililarly I experience no issues when working i

[2021-02-23 05:35] jkotalik opened #30387 "Make aspnetcore shutdown work by default on Kubernetes"
Right now, as soon as an aspnetcore app sees CTRL + C, it immediately starts shutting down the server, rejecting and draining connections. This works well when running on command line, but when you move into k8s, requests may be dropped.

This [article](https://learnk8s.io/graceful-shutdown) gives a general overview of the problem. Kubernetes, the ingress controller, CoreDNS need time to remove th

[2021-02-23 05:52] NTaylorMullen commented on #17660
Would you mind doing the "Report a Problem" option in VS and possibly provide additional information like the project and/or repro steps? We'd love to investigate further, that definitely sounds broken 😄

[2021-02-23 06:09] pleandre opened #30388 "React SPA Template Jest Unit Tests Should Work"
React SPA Project Templates / .csproj don't handle Typescript / Javascript unit tests.

Please see: [https://github.com/microsoft/nodejstools/issues/2317](https://github.com/microsoft/nodejstools/issues/2317)
Once the change is perform in NodeJSTools, project templates in this repository should be updated.

The project templates should follow these guidelines:  [Unit testing JavaScript and TypeScr

[2021-02-23 06:38] josh-hutchinson commented on #30238
@KanaHayama interesting!

IIS isn't working for me either. Are you just using the standard IIS config?

[2021-02-23 06:39] tpups commented on #30238
@KanaHayama interesting!

IIS doesn't work for me either. Are you using the stock IIS config?

[2021-02-23 06:42] KanaHayama commented on #30238
@tpups After several hours, when I tried again, IIS Express can't even start up. I don't know why.

[2021-02-23 07:01] #30323 closed

[2021-02-23 07:01] pr-benchmarks[bot] opened #30389 "Performance difference: plaintext"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| plaintext  | Plaintext Platform Inline aspnet-citrine-amd | 02/21/2021 21:10:45 | 12,217,506 | 12,058,998 | -1.30 % (-158,508)  :thumbsdown:  | -2.27 σ | 69,79

[2021-02-23 07:03] nolanblew commented on #30353
@captainsafia

No. When trying to use the remote browser debugger on kestrel in a debugging-browser (ALT+SHIFT+D) I get an empty page, and the kestrel output gives me this error:
[code]

[2021-02-23 07:15] nolanblew commented on #30353
@BrennanConroy  Alright, I've closed VS, deleted the `.vs`, deleted all the `bin` and `obj` folders, deleted all my nuget caches, restarted my computer, and tried again with no avail. The issue still persists.

(Loading the dll on startup in the output now reveals:
[code]

Is that where you were looking when you determined it was still loading the old dll?

[2021-02-23 07:33] davidfowl commented on #30387
I don't think we should detect if you're in k8s, it should just be a setting that we recommend people set in k8s. That would be the least surprising thing to do. Likely something akin to this [ShutdownTimeout](https://github.com/dotnet/aspnetcore/blob/c20af8eef9d5c38b021bcc38b7beec4b758ebf31/src/Hosting/Abstractions/src/WebHostDefaults.cs#L80) or maybe we can repurpose it?

Should we throw if this

[2021-02-23 07:39] davidfowl opened #30390 "Reuse cancellation token sources in the Kestrel"
Today we use the request aborted token when writing large responses in various places. We can reuse these tokens across requests if they haven't been cancelled. We can take advantage of https://github.com/dotnet/runtime/issues/48492 when it becomes available.

Here's what a simple application that uses the request aborted token looks like:

[code]

Here's the allocation profile after ~10K requests

[2021-02-23 08:52] agehrke commented on #28568
For reference, this is how I suppressed those cancellations:

[code]

[2021-02-23 09:08] Lucas-HMS opened #30391 "Infinite recursion with custom SignInManager when using Unity Container"
### Describe the bug
Adding a custom SignInManager subclass with `AddSignInManager<T>()` when using Unity Container as ServiceProvider causes an infinite recursion when resolving the SignInManager.

It seems that the service factory registration on [this line](https://github.com/dotnet/aspnetcore/blob/c925f99cddac0df90ed0bc4a07ecda6b054a0b02/src/Identity/Core/src/IdentityBuilderExtensions.cs#L71)

[2021-02-23 09:43] fogzot commented on #28568
@agehrke thank you very much. After this issue was closed I put this on my to do list and ... tah-dah! you did it instead. :)

[2021-02-23 09:54] javiercn commented on #30278
@statler another suggestion is that this likely helps confirm that it's just the GC not returning the pages (on purpose) to the OS. Checkout this [setting](https://docs.microsoft.com/en-us/dotnet/core/run-time-config/garbage-collector#retain-vm)

[2021-02-23 09:59] a-elsheikh opened #30392 "Ability to disable creation of intermediate activities in DiagnosticsHandler"
### The Problem

AspNetCore services are creating intermediate activities during HTTP comms, when invoking the service from any external component that has telemetry instrumentation the traces end up as broken hierarchies as unintended child spans are being created in the aspnetcore  service, especially if said service sits as a bridge between 2 components.

for example, given that services **A**,

[2021-02-23 10:04] statler commented on #30278
Oh wow. That is so helpful

Thank you

On Tue, 23 Feb 2021, 8:54 pm Javier Calvarro Nelson, <
notifications@github.com> wrote:

[2021-02-23 10:04] davidfowl commented on #30392
cc @shirhatti @noahfalk

[2021-02-23 10:13] javiercn commented on #30377
@MrYossu thanks for contacting us.

I suggest you start [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/server?view=aspnetcore-5.0) to make sure you didn't miss any steps.

Turn up logging to the highest setting possible as follows:

Add this to your _Host.cshtml
[code]

Replace the logging section with this in your appSettings.json
[code]

Capture any error that has hap

[2021-02-23 10:19] javiercn commented on #29185
We believe that this has been fixed in the latest version of the SDK. Let us know if you still have issues after upgrading to 5.0.103

[2021-02-23 10:19] #29185 closed

[2021-02-23 10:19] javiercn commented on #28888
We believe that this has been fixed in the latest version of the SDK. Let us know if you still have issues after upgrading to 5.0.103

[2021-02-23 10:19] #28888 closed

[2021-02-23 10:27] javiercn commented on #30306
@Dr9vik thanks for the additional details.

Seems like you are configuring startup to a value that doesn't follow the default convention (what's your motivation to do so if we may ask) and as a result static web assets are not correctly configured.

Given that you are not following the framework conventions you need to specify the key for static web assets manually so that they can find the right

[2021-02-23 10:31] sourcejon opened #30393 "JSON parse error when invoking 3rd party script, only when Authenticated. Blazor webassembly hosted, integrated auth"
### Describe the bug

When the javascript Worldpay.useTemplateForm() is invoked from the blazor component, I am getting JSON parse errors (unexpected token u in JSON at position 0
    at JSON.parse (<anonymous>)
    at Object.Worldpay.helpers.JSON.parse (worldpay.js:2)
    at h )

These errors appear to be firing every 2 seconds. This issue only occurs when a user is authenticated.

Console screen

[2021-02-23 10:33] javiercn commented on #30383
@enetstudio thanks for contacting us.

You are not authenticating to the SignalR hub from the browser, but from the server. In your case your connection is (Server->Server) instead of (Browser->Server) when you try to establish the connection in this case, the SignalR client doesn't have the necessary cookie to authenticate with the hub successfully.

One possible way around this is to capture the

[2021-02-23 10:37] Seanxwy commented on #28775
There is no progress and the problem still exists. I wonder why it has not been dealt with  @yanjianyigaii

[2021-02-23 10:38] Seanxwy opened #30394 "The user aborted a request"
#28775 There is no progress and the problem still exists. I wonder why it has not been dealt with

[2021-02-23 10:56] javiercn commented on #30394
@Seanxwy thanks for contacting us.

Can you produce a minimal repro project as well as detailed steps on how to reproduce the issue so that we can better understand what might not be working here correctly?

[2021-02-23 11:01] sourcejon commented on #30393
Further note:

The issue only appears when a callback function is passed to Worldpay.useTemplateForm().
The issue appears with or without the DotNetObjectReference argument.

So I'm a little lost as to why JS Interop would throw JSON parse errors, only when a user is authenticated and there is a callback function.

[2021-02-23 11:02] javiercn commented on #30393
@sourcejon thanks for contacting us.

You shouldn't be invoking an async task without awaiting it `https://github.com/sourcejon/BlazorAuthIssue/blob/main/Worldpay.razor#L38` instead of doing that in the constructor, override OnInitializedAsync and do it there.

As for the error, it seems to be something in your app. Not sure what [this](https://github.com/sourcejon/BlazorAuthIssue/blob/main/script

[2021-02-23 11:03] javiercn commented on #30393
We don't think this is a JS interop issue but likely an issue in your code, we suggest setting up breakpoints in JavaScript to ensure that the arguments are matching as you are expecting.

[2021-02-23 11:07] Seanxwy commented on #30394
@javiercn  The default WASM project template created using VS2019 has this problem

[2021-02-23 11:07] SteveSandersonMS commented on #30275
Done at https://github.com/aspnet/Announcements/issues/453

[2021-02-23 11:07] #30275 closed

[2021-02-23 11:12] javiercn commented on #30394
@Seanxwy we need more details about your environment. We are not observing the behavior you mention. Please indicate the following:
* Browser (with version) you are using.
* .NET SDK version as well as library versions.
* Visual Studio version.
* Include at the very least a screenshot of the error, but we strongly encourage to produce a repro project if possible, otherwise its likely we miss somet

[2021-02-23 11:17] rezanid commented on #5466
One solution I can think of for the output size in AOT approach is to cut the application in multiple modules and download them progressively (or even in the background). The first module that lands on the client side can take care of detecting which modules are needed and then download them. Each module can have its own assembly or share assemblies with other modules (in case they are always need

[2021-02-23 11:23] sourcejon commented on #30393
@javiercn I appreciate your feedback and have created a simpler example, without the issues that side tracked you before. The issue however still persists.

That was a callback to a JS invokable, function not relevant to the issue and it has been removed.

[2021-02-23 11:25] javiercn commented on #30393
@sourcejon thanks for the additional details.

Can you point us to this new sample?

[2021-02-23 11:26] sourcejon commented on #30393
@javiercn
https://github.com/sourcejon/BlazorAuthIssue/blob/main/scripts.js
https://github.com/sourcejon/BlazorAuthIssue/blob/main/Worldpay.razor

[2021-02-23 11:30] sourcejon commented on #30393
@javiercn

unfortunately I don't have an example without a third party library.

What I can tell you is that from my research is that the JSON parse errors, only occur when:

- There is a callback function added
- the user is authenticated

I actually suspect the issue is not with JS Interop, but with the JS authentication library as the issue only occurs when a user is authenticated.
`<script src

[2021-02-23 11:32] javiercn commented on #30393
@sourcejon there's nothing in the call stack that involves the auth library

[2021-02-23 11:35] sourcejon commented on #30393
@javiercn that's very strange, as you can setup the example without any authentication mechanism and you do not get the JSON parse errors. Secondly as I've stated it also runs without JSON parse errors when the user is not authenticated.

[2021-02-23 11:55] ygoe commented on #6566
@javiercn What does that mean, "affected-few"? That most ASP.NET Core users in the world use English number formats? That would be new to me. And what does "severity-minor" mean? That it's not a blocking issue to not be able to use decimal numbers in forms? That's a strange ranking app you use there. Must be heavily US-biased.

[2021-02-23 12:01] #30338 closed

[2021-02-23 12:11] Seanxwy commented on #30394
![image](https://user-images.githubusercontent.com/15828095/108841639-0aa56600-7613-11eb-9989-ac8cb3993abd.png)
browser use edge version is 88
use .net 5.0
vs 2019 16.8.5

Create a WASM project directly using VS without any modifications

[2021-02-23 13:02] stefanloerwald opened #30396 "Blazor AsyncDisposable fails when using Task.Yield"
### Describe the bug

I am contributing to a Blazor component library that makes use of a JS framework (Material). Every component needs to be initialized, and should also be destroyed. Simplifying the code makes it look like this:

[code]

[code]

This works just as expected and displays logs such as
[code]

In the component library, we want to batch calls to `js.InvokeVoidAsync`, as too many cal

[2021-02-23 13:08] legistek commented on #5466
Maybe this is slightly off topic, but it's been bugging me and I don't know where else to raise this.
Couldn't Microsoft Edge incorporate a built-in .NET5 runtime sandbox (complete with JIT and everything else) that served the function of mono.wasm but ran natively? At worst, it would give Edge a huge edge (har har) in running Blazor apps and with enough adoption maybe Google would even merge it i

[2021-02-23 13:32] JeepNL commented on #30243
This I don't understand:

When I start the app (locally) in **DEBUG MODE** (_Visual Studio Preview, F5, Start Debugging_) the throughput reaches almost **10MB/s** with chunks of 512KB (_the optimal setting when not running in debug mode_)

And when I upload a generated file of 20MB in 1 chunk of 20MB in **debug mode** the throughput is **above the 40MB/s**

_20MB in 512KB chunks in debug mode_

![

[2021-02-23 14:45] Dr9vik commented on #30306
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments?view=aspnetcore-5.0#environment-based-startup-class-and-methods
I want to create StartupDevelopment and StartupProduction class

[2021-02-23 14:48] javiercn commented on #30396
@stefanloerwald thanks for contacting us.

I don't necessarily think this is a bug. We don't make any guarantees about the state of UI within DisposeAsync and developers must account for that. For example, the circuit might be disconnected when DisposeAsync is invoked or the element might be gone from the page since another batch happened.

If I were to do this, I would instead setup something on

[2021-02-23 15:18] TanvirArjel commented on #18088
Constructor DI should be default in Blazor and it can be a very good feature for **6.0.0**

[2021-02-23 15:24] MrYossu commented on #30377
@javiercn Thank for the reply. It turned out that the problem was with Cloudflare minifying the HTML and removing the Blazor HTML comments. Please see the article I linked in the top of my edited question. Might be useful for someone else.

Thanks again

[2021-02-23 15:43] divil5000 commented on #24112
This is affecting us, in that it dumps an error in the Windows event viewer. It's unclear what the simplest code is, to catch and not log just that specific exception but leave the behaviour unchanged for every other exception. Can anyone help?

[2021-02-23 15:48] javiercn commented on #30377
@MrYossu I'm glad that you were able to resolve it.

[2021-02-23 15:48] #30377 closed

[2021-02-23 15:52] SteveSandersonMS commented on #27374
Have made yet another attempt to fix this (https://github.com/dotnet/aspnetcore/pull/30395), so bumping it forwards to preview 3 for verification and possible unquarantining then.

[2021-02-23 15:53] SteveSandersonMS commented on #20154
Have made yet another attempt to fix this (https://github.com/dotnet/aspnetcore/pull/30395), so bumping it forwards to preview 3 for verification and possible unquarantining then.

[2021-02-23 16:00] tuath commented on #27887
Not sure if this is the right place for these ideas, but seems on topic...

1 - I find the whole auth story is broken.. We want to build SPAs that are modern. ASP.NETCore has authentication, but not the bits requires to interact with the SPA (we need identityserver or openiddict). These two technologies do well in the templates, but if you want to start doing something fancy or go to production, i

[2021-02-23 16:06] BrennanConroy commented on #30353
No, I was looking at the browser output. It was showing wasm/dotnet.3.2.0.js in the developer tools

[2021-02-23 16:23] KieranDevvs commented on #5466
This would just end up being a repeat of IE where web apps only work on one vendors browser because it wasn't added as a formal web specification and no other vendor would implement it because... again... its not standardised, and even if they did, application behaviour would vary from browser to browser and it would be a nightmare, not only for developers but also consumers.

[2021-02-23 16:34] legistek commented on #5466
No because if the browser didn't have the .NET runtime built in, then it would download mono.wasm just like now, and would be the exact same experience, just running through WASM instead of natively.

[2021-02-23 16:46] KieranDevvs commented on #5466
That's not a selling point, that's a bad thing.

[2021-02-23 16:48] legistek commented on #5466
It's a bad thing that Edge would consequently run Blazor apps 10x faster than Chrome? Whatever dude.

[2021-02-23 17:09] BrennanConroy commented on #8716
* Connection timeout, 5 seconds by default, times out http requests/negotiate
* Consider adding scheduler settings, right now we spin up 5 threads

[2021-02-23 17:14] BrennanConroy commented on #29457
Glad to hear it!

Closing as the original issue looks to be fixed, the other issue is being tracked by #28608

[2021-02-23 17:14] #29457 closed

[2021-02-23 17:27] RUSshy commented on #5466
The solution is simple

Unbloat the god damn .net runtime, or have a tiny one like the go tiny compiler, and have AOT with good linker to strip out unused code

Every other languages fixed this, C++, Rust, GO, why always try to bloat things more, there is no need to have more runtime on top of javascript on top of V8 on top for V12 on top of WASM on top of interpreter, on top of python, stop!

htt

[2021-02-23 17:27] captainsafia commented on #30353
@nolanblew Can you upload the project you running into to GH so we can try to repro on our end? It would help safe the back-and-forth.

Also, there should be a log file (visualstudio-js-debugger.txt) in your $TEMP$ directory that would provide some additional details.

[2021-02-23 17:29] BrennanConroy commented on #25069
We're thinking of adding an option to delay connection closes. By default there is no delay so today as soon as shutdown is triggered connections start closing. With the option you can specify how long SignalR delays once shutdown is triggered before trying to gracefully close connections.

The server can still aggressively shutdown connections that are still alive, Kestrel has configuration for t

[2021-02-23 17:32] Kahbazi commented on #30248
@halter73 Do you accept PR for this if the requirement is final?

[2021-02-23 17:34] captainsafia commented on #30396
@SteveSandersonMS The triagers are wondering if you have any additional thoughts on this.

[2021-02-23 17:37] captainsafia commented on #30394
@Seanxwy Thanks for sharing the repro. Some follow-ups:

- Is this consistent across different operating systems? Will it repro on the same machine?
- Does changing the browser (Chrome, Firefox) affect the repro at all?

[2021-02-23 17:42] captainsafia commented on #30370
Thanks for opening this issue. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2021-02-23 17:42] #30370 closed

[2021-02-23 17:45] #30308 closed

[2021-02-23 17:51] legistek commented on #5466
There's a very good explanation somewhere in this giant thread, I believe from @jeromelaban, why this was such a monumental feat. I think it has to do with fundamental differences in the way C# handles types and dependencies vs. C++. It doesn't sound like something that could be fixed without completely redoing .NET, almost certainly completely breaking existing code.

That said, I feel like the M

[2021-02-23 17:56] Acmion commented on #5466
A while back I did a quick analysis on this matter. I compared the following performances: C# Runtime, C# Blazor Wasm Interpreted, C# Uno Wasm AOT and JavaScript.

See it here: [https://csharp-wasm-benchmark.acmion.com](https://csharp-wasm-benchmark.acmion.com)

The source repository: [https://github.com/Acmion/CSharpWasmBenchmark](https://github.com/Acmion/CSharpWasmBenchmark)

**Note:** The C# W

[2021-02-23 18:05] rynowak commented on #30392
@davidfowl - I mentioned this to you offline. I expect that this means ASP.NET Core apps **always need** to do their own tracing - even in setups where you are trying to avoid that as a requirement (service mesh, Dapr).

@ a-elsheikh - thanks for opening this - do you mind including the screenshots you shared in chat? I can dig them up if you can't find them. I think it makes what's going on reall

[2021-02-23 18:06] bancroftway opened #30399 "Guidance on SAST scanning of .razor files"
It looks like leading security scanning tools like Fortify and Sonarqube (which does limited SAST scanning now) cannot yet parse .razor files. Please advise on what tools currently provide SAST scanning support for .razor files...Our IT department is using the lack of available scanning tools to argue against Blazor development. Thanks

[2021-02-23 18:49] mkArtakMSFT commented on #30399
Thanks for bringing this up with us.
@danroth27 can you handle this please? Thanks!

[2021-02-23 18:55] TonyBeCoding opened #30402 "OnDisconnect not being called on tab close - SignalR"
AspNet.SignalR 2.4.1
AspNet.SignalR.Core 2.4.1

Issue Occurring in:
Chrome Version 88.0.4324.182 (Official Build) (64-bit)
Firefox 84.0.2 (64-bit)

Workflow:
I log in to my web-application, on the main screen I connect to my hub, get my connection Id and all
the usual things; I leave the tab running.
If I then log into my application again as a different user (new tab or window) it creates a new
s

[2021-02-23 18:56] BrennanConroy commented on #30402
You already opened this issue on the signalr/signalr repo where it belongs.

[2021-02-23 18:56] #30402 closed

[2021-02-23 19:01] pr-benchmarks[bot] opened #30403 "Performance difference: fortunes_ef, fortunes_dapper"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| fortunes_dapper [Fixed] | Fortunes Dapper aspnet-azure-lin | 02/22/2021 09:46:30 | 28,459 | 27,538 | -3.24 % (-921)  :thumbsdown:  | -2.33 σ | 395.05 |
| fortu

[2021-02-23 19:01] #30294 closed

[2021-02-23 19:25] fuzl-llc commented on #29179
Earlier, @pranavkm said, "You're right, compression versions of scoped css appear appear in additional directory. We'll track fixing this but this shouldn't affect your published blazor-wasm apps"  I saw that 5.0.3 was released to close 29185 and it seems like the assembly listing was updated properly but these compressed versions of css are still wrong.  Was this css issue meant to be addressed i

[2021-02-23 19:29] #30368 closed

[2021-02-23 19:46] TanayParikh commented on #28485
This issue has been investigated extensively and broken down into 2 root causes, details below:

1. Roslyn: Server crashes when encountering unknown documents.
  - https://github.com/dotnet/roslyn/issues/50965
  - This issue has been resolved, and as such this bug does not repro any longer.
2. VS LSP: Does not send `didOpen` notifications of open documents when a server restarts (after crash).
  -

[2021-02-23 19:46] #28485 closed

[2021-02-23 20:19] Bonelol commented on #27113
Same issue here, the intial css class is 'valid'. Is it possible to change EditContext.GetFieldState to public, or we need a method in either EditContext or EditForm to mark fields as modified.

[2021-02-23 20:50] jhudsoncedaron opened #30407 "PROXY protocol support redux"
### Is your feature request related to a problem? Please describe.

Got here due to a design fault in Azure Application Layer Gateway

Originating bug: `Forwarded:` header not implemented or malformed in Application Layer Gateway

### Describe the solution you'd like

Plausible solution: tear down and replace application layer gateway w/ a SNI decoder; use PROXY protocol to pass the originating IP

[2021-02-23 21:08] davidfowl commented on #30407
There's code here you can use https://github.com/aspnet/AspLabs/tree/master/src/ProxyProtocol. We have no plans to ship this as a supported part of the product though.

[2021-02-23 21:10] jhudsoncedaron commented on #30407
Hey that's interesting. Looking at it.

[2021-02-23 21:11] pranavkm commented on #30257
@p3s DisableCors tells the framework not to respond with a pre-flight (CORS) response if the browser makes a pref-flight request. However it does not prevent a browser from making a pre-flight request which is essentially what you're seeing here. CORS as a feature is enabled and enforced by the browser. What you should do here is correctly set up your app to allow CORS responses for the alternate

[2021-02-23 21:11] parveenLily commented on #30332
Hello,
Actually i was using my own app which has a very similar way of  binding socket port on kestrel configuration and that's the piece of code is falling through the crack on docker. Works perfectly fine on Desktop. I am using a custom certificate and install it using powershell on the container. There is no certificate error. Looks like kestrel is unable to route the request on docker. or mayb

[2021-02-23 21:13] pranavkm commented on #29877
@yang-er we'd be happy to accept a contribution to the documentation.

[2021-02-23 21:14] pranavkm commented on #29499
Marking this as done. We have something functional, and we can iterate on it as necessary.

[2021-02-23 21:14] #29499 closed

[2021-02-23 21:25] TanayParikh opened #30408 "Reduce log hub log sizes"
Part of: https://github.com/dotnet/aspnetcore/issues/29269

[2021-02-23 21:36] Luiz-Monad commented on #12890
That's not the part that was a hack, its totally valid use HTTP to do IPC between two different processes, The hack-part was the way it was starting the node server from inside that library.
I would much prefer something I control directly from the infrastructure side, like in docker or something.

[2021-02-23 21:49] kg commented on #5466
@Acmion A couple things that may be useful to know when trying to benchmark:
* Exception handling requires a round-trip through JavaScript for any try block or using block, including constructs that use one under the hood like foreach. This is due to a limitation of WASM (expanding the spec to handle this is in progress).
* Virtual calls (I see a bunch in your benchmark system) can have significan

[2021-02-23 21:50] brunolau commented on #12890
For anyone needing mostly the UseWebpackDevMiddleware extension method - I've attempted to port the Microsoft.AspNetCore.SpaServices library into .NET 5 by using the https://github.com/JeringTech/Javascript.NodeJS library.

Migration path:
1. Install the BrunoLau.SpaServices NuGet package
2. Change using Microsoft.AspNetCore.SpaServices.Webpack; to using BrunoLau.SpaServices.Webpack;
3. Change Use

[2021-02-23 21:53] #30407 closed

[2021-02-23 22:01] #30357 closed

[2021-02-23 22:08] #29565 closed

[2021-02-23 22:08] #30277 closed

[2021-02-23 22:12] genifycom opened #30410 "DotNet Core 3.1 Web App Event Viewer System.IO.FileNotFoundException"
We are starting to see more of these in DotNet Core 3.1 running on Windows Server 2019. They show up in Event Viewer.

Do we have to include Microsoft.AspNetCore.Diagnostics.Abstractions in a production release?

Category: Microsoft.AspNetCore.Server.Kestrel
EventId: 13
ConnectionId: 0HM6NEM9GFLAH
RequestId: 0HM6NEM9GFLAH:00000001
RequestPath: /
SpanId: |d8c6cc9b-4501fabcf0140f78.
TraceId: d8c6cc9

[2021-02-23 22:35] nolanblew commented on #30353
@BrennanConroy You got it :+1: In the prod version of VS there's no easy way to upgrade the WASM project to .NET 5 through the UI, so it was still on netstandard 2.1. Editing the csproj to force the WASM to .NET 5 fixed the issue.

I wish there was a clearer error/warning outputted when running an unsupported WASM version. Best case would be a dependency block or compile-time error, though that mi

[2021-02-23 22:38] kimsey0 opened #30413 "Mark parameter for ParseQuery and ParseNullableQuery in QueryHelpers as nullable"
### Is your feature request related to a problem? Please describe.
#22543 added nullable annotations to `Microsoft.AspNetCore.WebUtilities`. It marked the `queryString` parameter for the `ParseQuery` and `ParseNullableQuery` methods in `QueryHelpers` as non-nullable. However, the two methods actually do allow, check for, and return valid output when `null` is passed. As a developer, it makes my co

[2021-02-23 22:38] nolanblew commented on #30353
@captainsafia If you'd like I can still upload the project, though I solved my particular issue. The WASM project was not .NET 5 (as there is no template available at the moment) and there was no indication that it had to be for the dependency on the server to debug correctly. Upgrading my WASM project manually through the `.csproj` file and cleaning+rebuilding solved the issue

[2021-02-23 23:09] JamesNK commented on #29702
This is pretty big. I'm going to start on the first two: min request and response rates.

[2021-02-23 23:31] #30303 closed

[2021-02-23 23:46] #30302 closed

[2021-02-24 00:09] kimsey0 commented on #30413
Fixed by #22543.

[2021-02-24 00:09] #30413 closed

[2021-02-24 00:17] TanayParikh opened #30415 "Support Log Preservation Across Server Crashes"
https://github.com/dotnet/aspnetcore-tooling/pull/3116#discussion_r578699397

Part of: #29269

[2021-02-24 00:37] Tratcher opened #30417 "Have kestrel filter out pseudo headers"
https://github.com/dotnet/runtime/issues/48009#issuecomment-784556310

HTTP/2 uses pseudo headers for special values like method, path, authority, scheme, etc., but they have lots of constraints about where they can be placed, only using reserved ones, etc..

https://tools.ietf.org/html/rfc7540#section-8.1.2.1

As a result, other http header APIs won't accept them as input. E.g. HttpRequestMessage

[2021-02-24 00:53] captainsafia commented on #30353
@nolanblew I think we tracked down the root issue in this case. There's some JS-code that enables the debugger that was changed between 3.2 and 5.0. The problem you ran into was likely a result of the incompatibility between the two.

[2021-02-24 00:53] #30353 closed

[2021-02-24 01:37] halter73 commented on #30248
I'd be happy to accept a PR from you for this @Kahbazi. Thanks for all the MapAction help already! No promises we don't change the design a little down the road ofc.

[2021-02-24 02:06] Seanxwy commented on #30394
@captainsafia
This is true on many different PC devices, with different versions of Windows 10, and with Chrome, which Firefox has not tried

[2021-02-24 02:14] #30321 closed

[2021-02-24 02:21] jodieliu opened #30419 "Publish .Net Framework 2.1 project to App service, failed with error "HTTP Error 502.5 - Process Failure" after install.Net6.0 Preview1."
**REPRO CONFIGURATION:** Win 10 20H2 ENU + 16.9 Preview 4 VSE + .NET 6.0 + Feed for 6.0

**.NET Core SDK (CLI) Version:** 6.0.100-preview.1.21077.9
**Latest .NET Core runtime Version:** 6.0.0-Preview.2.21077.2

**INSTALL STEPS**

1. Clean machine: Win 10 20H2 ENU
2. Install 16.9 Preview 4 [main-30927.236] VSE
Run preinstall: \\vspreinstall\preinstall\preinstall.cmd
Install Dev16.9 Preview 4 from:

[2021-02-24 02:21] jodieliu commented on #30419
As the below table shows, It does not repro with clean install 16.8

VS configuration | Target framework in csproj after project creation | Does publish work successfully?
-- | -- | --
16.8 (latest released build) | net461 | works
16.9 Preview 4 (clean install) | net461 | works
16.9 Preview 4 + 6.0 Preview 1 | net461 | failed

[2021-02-24 02:57] jonathanperis opened #30420 "Routing with multiple levels and parameters not working properly"
### Describe the bug
I have a Blazor WASM application that uses multiple levels on routing like "/products/edit/{id}" and when i try to load my edit page from my list page "/products/list" and back from it, the application routing crashes. I have the same behavior working properly with a "/products/new" that don't have any parameters, and when i try to back from this "new" page, all works correctl

[2021-02-24 03:16] #29877 closed

[2021-02-24 04:30] #29436 closed

[2021-02-24 04:44] TanayParikh commented on #30415
Verified server is capable of handling restarts:

![image](https://user-images.githubusercontent.com/14852843/108948004-7937f300-7616-11eb-9c7e-d46bd8062b51.png)

[2021-02-24 04:44] #30415 closed

[2021-02-24 04:50] TanayParikh commented on #30358
@NTaylorMullen just to clarify on the filter-diagnostics side of things. We would like to specifically filter out `Element 'option' cannot be nested inside element 'div'.` when that error appears inside a `@foreach`? I think the last part of that I may've misunderstood (ie, when do we not want to see the diagnostic).

[2021-02-24 04:54] noahfalk commented on #30392
The scenario request makes sense to me, the tricky part is figuring out how we want to model it and configure it. The best option that currently comes to mind would be to reuse Activity and Activity.Current, but make the local Activity id exactly match the parent id. Currently there is no BCL API to create an Activity that proxies a remote parent, we always make a new child that is a descendant of

[2021-02-24 05:00] brianrob opened #30421 "Regression in New BlazorServer Template Build Time"
### Describe the bug
There is a ~850ms regression in the BlazorServer template build time in the perf lab.

### To Reproduce
1. Download the latest SDK.
2. dotnet new blazorserver
3. dotnet build

On my local machine, this shows up as a warm regression (not the first run) of 197ms.  Here are the longest 6 targets of each run.  I have narrowed it down to at the CoreCompile target - possibly some af

[2021-02-24 05:00] brianrob commented on #30421
@pranavkm, can you take a look please?

[2021-02-24 05:07] nagtilaklaxman opened #30422 "Error : Failed to launch Debug Adapter When Environment variable changed from Development to any other value in Blazor Asp.net core hosted Application"
I am getting an error stating Failed to launch adapter in asp.net core hosted blazor application.
I have changed the Environment variable value from Development to "Feature".
The application is not getting started and a blank page is shown in the browser.

![image](https://user-images.githubusercontent.com/16507190/108950013-9671cd80-76b9-11eb-8f8c-2e742bc9e20f.png)

![image](https://user-images.g

[2021-02-24 05:53] brianrob commented on #30183
Unfortunately we can't precompile these without having two separate copies. When they get precompiled they become arch specific and so in the case of x64, VS can't load them.

[2021-02-24 07:00] pr-benchmarks[bot] opened #30424 "Performance difference: mvc, plaintext, fortunes_ef, fortunes_ef"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| fortunes_ef  | Fortunes EF aspnet-citrine-lin | 02/22/2021 21:36:42 | 191,241 | 18,813 | -90.16 % (-172,428)  :thumbsdown:  | -191.62 σ | 899.83 |
| fortunes_e

[2021-02-24 08:22] zell-mbc opened #30425 "A connection was successfully established with the server, but then an error occurred during the login process"
### Describe the bug
I am trying to get to the bottom of a connection issue with ASP.NET 5.0 on Linux and SQL Server 2019.
The issue at hand is that our application runs into intermediate connection timeouts whenever the Database backend is running on Linux. If SQL Server is running on Windows, no matter if native, a virtual machine or as Azure Service, connections are rock solid.
If SQL Server is

[2021-02-24 08:35] Acmion commented on #5466
@kg these are all valid points that need to be taken into account. I will quickly address them from the perspective of my benchmark.

You may very well be correct. However, this is a problem of WASM and not of the benchmark itself.

Virtual calls do probably affect performance (which is also why I benchmarked Array.Sort and a custom QuickSort algorithm). Each benchmark call executes the `Execute`

[2021-02-24 08:39] UweKeim commented on #3793
We do it in our upload/deployment scripts by creating an "App_Offline.htm" file in the target folder, then deploy the files, then rename the "App_Offline.htm" to "_App_Offline.htm" or delete it again.

[2021-02-24 08:47] statler commented on #30278
Just trying to get my head around Retain VM. As I understand it default is false. Wouldnt the default behaviour mean that the resources are returned to the system at the earliest convenience? W

[2021-02-24 08:47] statler commented on #30278
Sorry - didnt mean to close

[2021-02-24 09:03] HaoK commented on #30013
Also address follow up to https://github.com/dotnet/aspnetcore/pull/29814#discussion_r581658453 as part of this issue, and the reg ex issue linked

[2021-02-24 09:34] jeremy001181 commented on #25857
We also have a background service does , would be good have a way to gracefully stop it after test completed (either pass or failed)
[code]

[2021-02-24 09:55] rjgotten commented on #12890
Ah. If that's your beef, then iirc you can reconfigure the services collection with replacement classes that don't create a new node process and interface with it over local loopback, but which connect to an already running node process elsewhere.

Those parts _should_ be replaceable as iirc one of the in-the-box replacements was to not use HTTP loopback but use named pipes.

[2021-02-24 10:41] VamseeInala opened #30426 "System.NullReferenceException in AspNetCore pipeline"
[{"parsedStack":[{"assembly":"Microsoft.AspNetCore.Http, Version=3.1.12.0, Culture=neutral, PublicKeyToken=adb9793829ddae60","method":"Microsoft.AspNetCore.Http.DefaultHttpRequest.set_RouteValues","level":0,"line":0},{"assembly":"Microsoft.AspNetCore.Routing, Version=3.1.12.0, Culture=neutral, PublicKeyToken=adb9793829ddae60","method":"Microsoft.AspNetCore.Routing.Matching.DefaultEndpointSelector.

[2021-02-24 10:56] Karthi2414 opened #30427 "Build error throws when running dotnet pack with multiple target framework"
### Bug Description:

After upgrading the .NET 6.0 preview 1 SDK, it throws build error when running dotnet pack command line. The problem is occur when the project file have multiple target frameworks `<TargetFrameworks>netstandard2.0;net5.0</TargetFrameworks>`. If I change it to single `<TargetFramewok>` then it works fine.

### Exceptions (if any)

### To Reproduce
* Download the Razor sample.

[2021-02-24 11:01] #30383 closed

[2021-02-24 11:05] javiercn commented on #30426
@VamseeInala thanks for contacting us.

Unfortunately we don't have enough information to troubleshoot this issue. Could you provide us with a minimal repro project and detailed steps to cause the issue to manifest so that we can try and help out?

[2021-02-24 11:33] KanaHayama opened #30428 "Please add a straightforward way to add additional authorized URLs to AuthorizationMessageHandler after WebAssembly app is started"
### Is your feature request related to a problem? Please describe.

I want to add additional authorized urls loaded from a web api call after the app is started.
There is no straightforward way to add after `AuthorizationMessageHandler` is configured during service registration.

My current approach is saving urls somewhere and loading them in the constructor of my custom `AuthorizationMessageHand

[2021-02-24 12:03] vslzl commented on #12890
Hello there, can anyone suggest a proper way to use ssr with recent versions of both asp.net and angular? for development I tried sth but for deployment it's not working at all. My old application was net core 3.1 with angular 11 works wit ssr but now I'm desperate...

[2021-02-24 12:13] rogihee opened #30429 "ComponentTagHelper Parameters are not checked compile time and no code completion"
If I use the ComponentTagHelper to insert a server-rendered blazor component, the editor / compiler does not check whether the parameter "NonExistingParameter" exists on the type "MyComponent". No warning, no compile error, no squigly lines in the editor. Also, code completion is not working.

`<component type="typeof(MyComponent)" render-mode="Static" param-NonExistingParameter="@Something" />`

[2021-02-24 12:51] eugeneogongo commented on #30208
Hi @javiercn @mkArtakMSFT @pranavkm ,

I see dotnet-watch was removed from the git.. What's the new home for dotnet-watch?

[2021-02-24 12:55] javiercn commented on #30208
@eugeneogongo https://github.com/dotnet/sdk  I believe.

[2021-02-24 13:00] naveedahmed1 commented on #3793
@UweKeim we do the same, but:

1. Placing `app_offline.html` still keep the `dll` files locked for few seconds.
2. And  to delete `app_offline.htm` we have to rename it, otherwise it doesn't allow us to delete the file.

[2021-02-24 13:03] eugeneogongo commented on #30208
@javiercn  Thanks

[2021-02-24 13:13] a-elsheikh commented on #30392
issue updated with screenshots

[2021-02-24 13:14] pavlexander opened #30430 "Rendering done twice in blazor WebAssembly app plus the JSException exception thrown"
### Describe the bug
I am building a page that uses the base class to perform some common operations. The base class has the Initialization method the purpose of which is to pre-load the data to the page. However what I noticed is that page's initialization method is failing to await on the method in base class. (see code)
**part 1:**
This causes the page to throw the exception (`InvalidOperationE

[2021-02-24 13:16] roks0n commented on #29851
For anyone who might be experiencing a similar issues (but does not have CPU usage), Chrome started to throttle timers since v88 when a tab becomes inactive:

[code]

Source:
- https://usefulangle.com/web-updates/post/110/chrome-88-will-throttle-timers-1-minute
- https://developer.chrome.com/blog/timer-throttling-in-chrome-88/

[2021-02-24 13:44] kant2002 opened #30432 "Add support for other OpenApi codegeneratos"
I'm using autorest for generation of OpenAPI clients. So far it works well with success. I would like to be able use same codegenerator together with OpenApiReferences, and right now there no way how it can be done.

I would like that OpenApi generation was somewhat open, and you can switch codegenerators based on your own need, even if this is require to put some work into it.

[2021-02-24 13:45] JulienM28 opened #30433 "System.Text.Json IgnoreNullValues not shown"
![image](https://user-images.githubusercontent.com/23618436/109009340-b6e85a80-76ae-11eb-8cc4-d755d54e7ff7.png)

I'm using Visual Studio 2019 16.8.6 with .Net 5.0.103 SDK

[2021-02-24 13:45] VamseeInala commented on #30426
Hello,

Unfortunately this issue isn't occurring consistently to reproduce :( Is
there a scope for you to check from the stack trace?

On Wed, 24 Feb, 2021, 4:35 pm Javier Calvarro Nelson, <
notifications@github.com> wrote:

[2021-02-24 13:49] javiercn commented on #30426
@VamseeInala There can be lots of reasons why this is happening. For example if you have code that interacts with the routing system and returns bad data and so on. It's impossible for us to determine what's going on unless we get a minimal repro with instructions on how to trigger the issue. The call stack is not enough indication that the issue is in our codebase.

[2021-02-24 14:10] pavlexander commented on #30430
Thanks for the reply.. If you don't mind I would like to ask for some clarifications..

Since I use the `await` in every place possible - doesn't this guarantee that the code is to be executed synchronously?
Second question - where does `JSException` comes from?

[2021-02-24 14:20] Marusyk commented on #30352
Please assign it to me. I'll try to prepare a PR

[2021-02-24 14:26] Kasper888 commented on #6566
Guys, I have changed my culture's number format to EN without changing the whole culture, on the client side I'm formatting date, number, currency(using JS library). In the backend I return/receive them in EN as below code function in a base controller:
`   public override void OnActionExecuting(ActionExecutingContext context)
    {
      SetCultureNumberFormat();
      base.OnActionExecuting(cont

[2021-02-24 14:35] pavlexander commented on #30430
I just want to understand the rules when the code will cause the re-rendering and when not..

I have done following modifications to the code:

        protected async Task PreloadData()
        {
            Console.WriteLine($"Trigger PreloadData");

            // this code will NOT cause re-rendering
            //SetData();

            // this call WILL cause re-rendering
            //await

[2021-02-24 14:51] javiercn commented on #30430
Doesn't work that way. `await` is (more or less) syntactic sugar for `task.ContinueWith` so your code is more like
[code]

The code that invokes OnInitializedAsync (in this case the framework) can decide to await the result of OnInitializedAsync (in which case it would serialize the execution) or can do other things before doing so.

In the case of ComponentBase, it decides to call `StateHasChange

[2021-02-24 15:02] javiercn commented on #30430
[code]

In the three cases above the resulting task of calling PreloadData() is as follows:
PreloadData().IsCompleted = true
PreloadData().IsCompleted = false
PreloadData().IsCompleted = true

[2021-02-24 15:13] pavlexander commented on #30430
@javiercn

If the framework 'decides' whether it should move on with the execution of the code or wait for the Task to finish then your explanation makes the perfect sense.. Is there a way to disable this behavior?

If I wanted to make the rendering logic explicit I would do the:

    protected async Task SetData()
    {
        var vocabsResponse = await Http.GetFromJsonAsync<WeatherForecast[]>("

[2021-02-24 15:21] JonasLarsson-NO commented on #27742
I have the same problem. .Net5 & Blazor(Server) I understand the custom scope identifier is not working at all then currently?

[2021-02-24 15:26] javiercn commented on #30430
You can override SetParametersAsync and implement your own logic there.

[code]

That wouldn't change anything, ComponentBase already calls StateHasChanged for you implicitly, and multiple render requests don't pile up.

You can do this if you override the logic to handle when parameters are set and when events are dispatched.

We don't plan to add a functionality to change when the components dec

[2021-02-24 15:26] avendel opened #30435 "Known unepxected behavior with Internet Explorer and SignalR?"
Internet Explorer is explicitly mentioned as not supported with SignalR. Smoke testing indicates that basic functionality seems to work, though.

Is the reason you are not supporting IE that you know of things that won't work, or that you don't want to take the cost of testing and dealing with IE quirks in the future?

It seems IE support was dropped from the documentation with a [commit](https://

[2021-02-24 15:35] SteveSandersonMS commented on #27113
Please see https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.components.forms.editcontext.notifyfieldchanged?view=aspnetcore-5.0

[2021-02-24 15:45] pavlexander commented on #30430
Yes I understand that.. In that context I was already speaking of the `feature` that will disable this default behavior and make the rendering logic explicit. Let's say you implement `ExplicitRenderingComponentBase` that always waits for all tasks to finish execution before the first render. And then if I wanted to write a logic that needs to re-render the component - I would invoke the method asy

[2021-02-24 15:49] javiercn commented on #30430
When a component fails to render the current behavior is to tear down the application, since we consider the state of the application to be undefined at that point. Is the same thing as if you use the RenderTreeBuilder APIs and produce an unbalanced tree. We don't guarantee there are not going to be any errors or that the app can continue running.

[2021-02-24 15:58] pavlexander commented on #30430
fair enough :) I don't have a better proposal for error handling.. So perhaps this is OK.

Thanks for help!

[2021-02-24 15:58] #30430 closed

[2021-02-24 16:02] javiercn commented on #30428
@KanaHayama thanks for contacting us.

This is not a feature request we want to support. Loading the URLs from an API is not something we've received any other request for and is something we don't consider a good security practice.

If you insist in doing so, our recommendation is that you implement your own message handler to do so, but we strongly recommend having a static list of hardcoded url

[2021-02-24 16:16] FionaHolder opened #30498 "Tracking Exception when using Identity's SetAuthenticationTokenAsync"
When using ASP.NET Core Identity with an Entity Framework Store, the UserManager.SetAuthenticationTokenAsync always throws an exception, The instance of entity type 'SilverUser' cannot be tracked because another instance with the same key value for {'Id'} is already being tracked.

**Startup.cs**
[code]

**In API Controller**
[code]

**Full Stack Trace**

### The Issue

Within the SetAuthenticatio

[2021-02-24 16:25] blowdart commented on #30399
We're currently unaware of any tools that can currently perform static analysts on razor files, or indeed web assembly files.

Obviously you're at the hands of your tool makers I'm afraid.

[2021-02-24 16:25] #30399 closed

[2021-02-24 16:30] Tratcher commented on #30426
To null ref at `DefaultHttpRequest.set_RouteValues` would require more than bad request data. Issues like this are usually caused by bad multi-threading code. HttpContext is not thread safe so trying to access it from multiple threads can cause this. The usual suspect is a Task that's missing an `await`. or an explicit Task.Run.

For this this to happen in routing, the cause would likely be earlie

[2021-02-24 17:02] Santas commented on #5011
Is there a plan to land this in .NET 6? Thanks!

[2021-02-24 17:04] Tratcher commented on #25857
@jeremy001181 that seems like a different ask than above. That would be handled by calling StopAsync on the host. (Not sure how accessible that is from WebApplicationFactory).

[2021-02-24 17:08] kishanAnem commented on #19510
Hi @pranavkm
PR got merged. Is there anything pending from my side, which is stoping to close this bug?

[2021-02-24 17:15] jishansiddique commented on #5011
Hi @Santas,
As per the blog [Click me](https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-1/),
I've checked but not able to find any optional parameter in the `view component`.

[2021-02-24 17:21] wtgodbe commented on #29617
Yup!

[2021-02-24 17:23] wtgodbe commented on #29702
I'd be happy to help out here - @JamesNK I'll reach out to you once I have time to see where I could be most useful

[2021-02-24 17:34] NTaylorMullen commented on #30358
Not quite, suppress it when nested inside of a component because we can't know what that component will actually do

[2021-02-24 17:37] captainsafia commented on #30422
@nagtilaklaxman Are you able to start the application under Ctrl + F5?

The debugger relies on an endpoint that is defined within the application server (that's what `UseWebAssemblyDebugging` is doing). So if you're app server doesn't launch successfully, you won't be able to debug.

It looks like navigating to your app is throwing a 404, do you have the app configured to run on a different route?

[2021-02-24 17:43] mkArtakMSFT commented on #30432
Thanks for contacting us, @kant2002.
I believe there is a way to do this even today. Maybe not very smooth, but possible.
@dougbu can you suggest how this can be done? Thanks!

[2021-02-24 17:55] mkArtakMSFT commented on #30394
@Seanxwy can you also provide:
1. The full screenshot of the browser network tab, when the issue happens. We would like to see the failed request and the error code it fails with
2. your OS region  / language settings
3. the language settings from your browser

[2021-02-24 17:58] mkArtakMSFT commented on #30429
Thanks for contacting us. This is not supported by Tag Helpers in general and we don't plan to add support for it.

[2021-02-24 17:58] #30429 closed

[2021-02-24 17:58] captainsafia commented on #30421
@brianrob Can you share what versions are used for "baseline" and "regression" here? We've made a few changes in the Razor source generator over the past few days that might contribute to the deltas you are seeing.

[2021-02-24 18:01] #30306 closed

[2021-02-24 19:00] pr-benchmarks[bot] opened #30438 "Performance difference: https"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| https [Fixed] | Json Https aspnet-azure-lin | 02/23/2021 09:22:11 | 80,176 | 78,352 | -2.28 % (-1,824)  :thumbsdown:  | -2.18 σ | 834.98 |

### Changes:

| Run

[2021-02-24 19:07] pranavkm commented on #30427
Thanks for the issue report. @captainsafia this looks like a regression as part of our change to use a source generator. Static Web Assets appears to wire up to `RazorComponentGenerate` which is no longer invoked with source generators. I'm able to reproduce this with the latest SDK build.

[2021-02-24 19:19] enetstudio commented on #30383
@javiercn, many thanks for your response... Could you please give me some hints as to how I can use the captured cookie in SignalR ! I know how to pass an access token with the SignalR connection, but have no idea how to perform such a task with the captured cookie. Once again, many thanks for the invaluable help you always offer ...

[2021-02-24 20:13] radderz commented on #14962
If a User clicks the back button on the browser on a path that shouldn't be allowed (where the back goes to a place within the same app so no full navigation) would this allow for some form of breaking that navigation?

The use case is when you have gone through a wizard, and once completed it's not ok to go back to the previous screen. You can handle this in the app but its a lot more code to han

[2021-02-24 20:20] captainsafia commented on #29739
Hm -- this test has been passing since it was quarantined.

I noticed that this particular failure occurred when the change to run all quarantined tests as CI runs was reverted so I wonder if that had something to do with it.

Recommend we see if this can be unquarantined next week and then verifying if failures continue once it is running in the regular CI.

Side-note: if we have a hypothesis tha

[2021-02-24 20:52] maxima120 commented on #5223
I've just had the same. it appeared ClientApp directory had not enough permissions (Linux). fixed by simple `chmod`

[2021-02-24 20:57] BrennanConroy opened #30440 "Move from TSLint to ESLint"
TSLint is deprecated, we should look into moving to ESLint https://www.npmjs.com/package/tslint

As part of that we should make sure to add the `"requires '_'"` rule for private members to help with name mangling.
https://github.com/dotnet/aspnetcore/pull/30320/commits/7844c64d37b253feb9863cae023be6ec9eff62e4#diff-887211f12c122673d436221142a9cd6cb0c7355385261e595742116180e7754a
[code]

[2021-02-24 21:05] BrennanConroy commented on #30435
Both. We make no guarantees that we wont break the library on IE. In fact, with a PR that will be merged soon, IE probably will not work by default out of the box in 6.0.

[2021-02-24 21:09] BrennanConroy commented on #30410
Can you share your project as a github repo please? Or at a bare minimum share your csproj and how you're building and deploying the app.

[2021-02-24 21:15] BrennanConroy commented on #30332
Can you share the dockerfile? (not on a private repo please)

[2021-02-24 21:16] ghostinside opened #30441 "Get RoleClaimType & NameClaimType available from Iidentity or ClaimsIdentity"
`public override async Task<AuthenticationState> GetAuthenticationStateAsync()
        {
            var identity = new ClaimsIdentity();
            try
            {
                var userInfo = await GetUserInfo();
                if (userInfo.IsAuthenticated)
                {
                    identity = new ClaimsIdentity(userInfo.Claims.ToClaims(), "Server authentication", **userInfo.Na

[2021-02-24 21:18] dougbu commented on #30432
The steps are intended to be simple and use `%(OpenApiReference.CodeGenerator)` metadata as the main extension point. The main issue tends to be ordering things correctly such that defaults you want to override are actually overridden.

The basic requirements are the code generator, a reference to the Microsoft.Extensions.ApiDescription.Client package. and available MSBuild targets matching `Gener

[2021-02-24 21:21] brunolau commented on #12890
@vslzl if you were using the Microsoft.AspNetCore.SpaServices library, you might try my port which is mentioned 2 comments above

[2021-02-24 21:23] BrennanConroy commented on #30342
Closing, continue discussion on the other issue :)

[2021-02-24 21:23] #30342 closed

[2021-02-24 21:24] alekkowalczyk commented on #12890
@vslzl seems that the proper way is to split such app into ASP.NET back-end and node.js front-end for SSR, just wondering if there is an easy way to deploy such bundle into a single Azure AppService? 🤔

[2021-02-24 21:32] micka190 commented on #27887
Strongly agree with Erik regarding the SPA authentication situation.

Looking up how to write a simple JWT setup without Identity Server provides no real insight outside of outdated (and not necessarily secure) third-party blog posts and YouTube videos.

Identity Server is great, but it's *way* overkill for smaller projects.

As it stands, we've simply been avoiding writing APIs in ASP.NET Core, s

[2021-02-24 21:37] halter73 commented on #30387
If we're going to require a specific action from developers to enable this this, why not just recommend doing the following as suggested in https://learnk8s.io/graceful-shutdown?

[code]

From reading that article, this seems like a common problem. Do we know if any other frameworks continue processing new requests and accepting new connections after receiving a SIGTERM? Or if they even have the o

[2021-02-24 21:48] brianrob commented on #30421
Per the this regression showed up in the installer in ec6da1cd62090.
 The baseline is ec6da1cd62090.  Here's a list of [changes](https://github.com/dotnet/installer/compare/55dd5da20e0...ec6da1cd62090), which is basically just a pointer to the SDK update that was ingested.  If you follow the link to the SDK, you'll find that there are a handful of components that were updated, a few of which are A

[2021-02-24 21:48] pdevito3 commented on #27887
On the subject of auth, the hard part I've come to find with SPAs is that they need a code grant flow that HTTP only cookie to be 'properly' secured. Every other method of token storing on client side has major security holes. The thing is though, in order to do this, you need your API on the same server as your SPA, or a BFF gateway on the SPA server to handle this exchange for you.

Regardless,

[2021-02-24 21:50] davidfowl commented on #30387
We do right now.

Not sure, but I think we should build it in because it's simple and solves a common problem in a core scenario.

[2021-02-24 22:01] #30257 closed

[2021-02-24 22:12] #20689 closed

[2021-02-24 22:14] halter73 opened #30442 "'RazorSourceGenerator' failed to generate source (NullReferenceException)"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=1009323&view=logs&j=3f6d4e0f-1b71-56b5-361e-d95b6e6da15a&t=9605d305-57d3-55b8-ba79-e50442d32137&l=2057

This happened building test projects for "Tests: Helix x64" for an aspnetcore-ci build on main. Unfortunately, I don't see a stack trace anywhere that might help track this down.

[2021-02-24 22:22] coreyfournier opened #30444 "Remove-Migration doesn't support Connection, but requires it"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
I have multiple projects, but a single .net core library contains the DbContext and migration files. This all works fine where I am able to specify the Context, Project, and Connection. Except for "Remove-Migration". It doesn't allow the parameter Connection. Because of this I

[2021-02-24 22:40] genifycom commented on #30410
Hmmm, this is a fairly big commercial project that has been running in production for at least a year. This problem has only appeared in more recent months.

The build is manual with Visual Studio 2019 16.8.5 using a folder publish which is copied to the target machines and run as a Windows Service.

Are there specific pieces of the csproj that would help you to determine what is going on?

[2021-02-24 22:57] bjornen77 commented on #24614
I think that adding a WebSocketOptions.Timeout property would be a good thing. As @BrennanConroy says above, the WebSocket is only closed when the TCP Retransmission times out. This timeout seems to be different on Windows and Linux. By default, on Windows it takes about 21 seconds and on Linux it takes about 15 minutes before the WebSocket is closed.

The ClientWebSocket today only sends "Pong" t

[2021-02-24 23:24] nagtilaklaxman commented on #30422
Nopes I haven't configured any different route for the application.
I am not able to run application using Ctrl + F5.
I can see the server is launched and running in iis express

![image](https://user-images.githubusercontent.com/16507190/109079763-84dd0400-7753-11eb-964d-637df033eea3.png)

[2021-02-25 00:14] BrennanConroy commented on #30410
Self-contained or relying on the runtime being on the target machine?

[2021-02-25 00:37] captainsafia commented on #30427
I've been able to reproduce this on preview1 and preview2 so I don't think it's strictly related to source generators.

However, we'll likely have to make different modifications to the ordering for the source generator/non-source generator scenarios.

[2021-02-25 00:51] captainsafia commented on #24112
AFAIK, we didn't do any MVC error handling improvements in 5.0....

[2021-02-25 00:59] captainsafia commented on #30238
That's the hosting environment of the debugging proxy which is spawned as a standalone service from the `UseWebAssemblyDebugging` middleware.

It looks like the C# source files in the project are not loaded into the debugger which results in breakpoints not set.

I'm gonna transfer this to the runtime repo.

@lewing As part of the logging work: can we get better visibility when sources fail to be

[2021-02-25 01:01] #30217 closed

[2021-02-25 01:01] #30143 closed

[2021-02-25 01:01] #30020 closed

[2021-02-25 01:03] captainsafia commented on #30379
Updated: ended up doing some work to reduce the 12mb impact from adding the source generators to the SDK: https://github.com/dotnet/sdk/pull/16059

[2021-02-25 01:05] parveenLily commented on #30332
#See https://aka.ms/containerfastmode to understand how Visual Studio uses this Dockerfile to build your images for faster debugging.

#Depending on the operating system of the host machines(s) that will build or run the containers, the image specified in the FROM statement may need to be changed.
#For more information, please see https://aka.ms/containercompat

FROM mcr.microsoft.com/dotnet/aspne

[2021-02-25 01:19] veler opened #30447 "Race condition with On Type Formatting"
### Description
In a local Blazor project with the new Razor editor enabled, on type formatting doesn't work consistently.

### To Reproduce
1. Enable the new Razor editor.
2. Create Blazor project
3. Open Counter.razor
4. Type a bunch of `;`, like in this video: https://user-images.githubusercontent.com/3747805/109087645-b3f76500-76c2-11eb-8473-be2d6f6aa48a.mp4

This also reproduce with other for

[2021-02-25 01:22] TanayParikh commented on #30447
Discussed offline;

It's a race condition where between the time we create the formatting edit, and when we respond, another `;` has already been added, making our previous edit invalid.

[Document version check](https://github.com/dotnet/aspnetcore-tooling/blob/5e540dfa1581a6ca3928853d596fcf763bb54142/src/Razor/src/Microsoft.VisualStudio.LanguageServerClient.Razor/HtmlCSharp/DefaultLSPDocumentMap

[2021-02-25 01:26] TanayParikh commented on #28654
Not seeing these actually materialize in the first place, if anyone has a specific example, please do let me know.

[2021-02-25 02:11] #29132 closed

[2021-02-25 02:23] DrakeLambert commented on #27882
I have a similar issue. I'm building an endpoint that accepts polymorphic data. Validations aren't being run on the derived types of my declared type.

Here are two key things that have been complicating any kind of workaround I've seen on similar issues:

- My endpoint accepts JSON, not form values
- The polymorpic type is not a top-level parameter. It is nested inside a complex object parameter.

[2021-02-25 02:50] halter73 opened #30448 "Add new "MapAction" overloads"
1. Don't call the overloads "MapAction". Add overloads to the existing MapGet/MapPost/MapDelete/Map extension methods. We should remove the existing MapAction method.

[code]

2. Create overloads without the `string pattern` parameter for people you still want to use `RouteAttribute`. This should throw an `InvalidOperationException` if there's no route attribute.

[code]

[2021-02-25 02:51] petersgiles commented on #30127
I have the same problem `Exception thrown: 'Microsoft.AspNetCore.Connections.ConnectionResetException' in System.Private.CoreLib.dll`

Create an ASP.NET hosted Blazor WebAssembly application. Debug the server, try to connect to a SQL Azure database.

[2021-02-25 03:04] halter73 commented on #30448
Sadly, this will probably cause some code that works today to break at the source level. The compiler would be unable to infer the parameter type is HttpContext in the following:

[code]

[2021-02-25 03:10] TFTomSun commented on #30127
@BrennanConroy at the moment I can't reproduce it anymore on the same repo where I had it before. So I doubt that it could be in general reproducible with a repo. I think there must be something else that causes the issue. In case it pops up again, I'll try to figure out what I did before.

[2021-02-25 03:26] halter73 opened #30449 "Kestrel does not send "100 Continue" when MinRequestBodyDataRate is null"
Kestrel does not send "100 Continue" when MinRequestBodyDataRate is null. `TryProduceContinue` should still be called even if `_timingEnabled` is false in the following logic:

https://github.com/dotnet/aspnetcore/blob/8df64902404e31c336ea3386fffe831e99072471/src/Servers/Kestrel/Core/src/Internal/Http/MessageBody.cs#L185-L187

The fix will need to be backported to release/3.1.

[2021-02-25 03:29] edavedian commented on #30259
Thank you again for your analysis.  This ended up being an issue on our side.  The mvc controllers where request scoped and they were creating the graphql schema each time which was causing the performance issue.

[2021-02-25 03:29] #30259 closed

[2021-02-25 05:58] MCCshreyas opened #30450 "Microsoft.AspNetCore.Http.Abstractions package version still at 2.2"
So, I was watching this video (https://www.youtube.com/watch?v=l8fYpchrv0c&t=5583s&ab_channel=DevMentors) at TimeStamp 1:35, the instructor is wanted to try the `IApplicationBuilder` interface outside ASP.NET Core project, but as that package lives in `Http.Abstractions`, he found that the package version is still 2.2.
I even check on [nuget](https://www.nuget.org/packages/Microsoft.AspNetCore.Htt

[2021-02-25 06:13] BrennanConroy commented on #30450
After 2.2 many packages stopped being shipped as packages and are now included in the AspNetCore shared runtime. That package is one of them, so you no longer need a package reference to consume the dll.

[2021-02-25 06:16] MCCshreyas commented on #30450
But what If I wanted to access `IApplicationbuilder` in my class library, just like in video? I want my middleware to be separated in each module so that I can just call like extension method on `IApplicationbuilder` in `startup.cs`.

[2021-02-25 06:28] pandiyarajm93 commented on #17552
@SteveSandersonMS :  This feature included in **.NET v6.0.0-preview.1** release ?

[2021-02-25 06:36] BrennanConroy commented on #30450
https://docs.microsoft.com/aspnet/core/fundamentals/target-aspnetcore?view=aspnetcore-5.0&tabs=visual-studio

[2021-02-25 06:39] MCCshreyas commented on #30450
![image](https://user-images.githubusercontent.com/17148381/109113465-4f8be280-7762-11eb-9f29-275abca627d7.png)

no .NET 5 support, or just that doc is outdated?

[2021-02-25 06:42] pandiyarajm93 commented on #14133
@mkArtakMSFT : custom event args support included in **.NET 6.0.0-preview.1 release** ?

[2021-02-25 06:44] vslzl commented on #12890
I'll try, thank you.

Exactly, I don't want to split my application in two parts. Single Pain Application is enough. No need to double them.

[2021-02-25 06:47] BrennanConroy commented on #30450
Very likely the docs need updating.

[2021-02-25 07:01] #30389 closed

[2021-02-25 07:01] pr-benchmarks[bot] opened #30451 "Performance difference: connectionclosehttps"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| connectionclosehttps  | Plaintext Connection Close Https aspnet-citrine-lin | 02/23/2021 21:09:47 | 7,675 | 7,918 | 3.16 % (243)  :thumbsup:  | 3.81 σ | 63.69

[2021-02-25 07:06] MCCshreyas commented on #30450
ah, ok. Thanks for the clarification! :)

[2021-02-25 07:06] #30450 closed

[2021-02-25 07:40] ANM86 opened #30452 "Make @onauxclick event accessible for Blazor server apps"
### Is your feature request related to a problem? Please describe.
I'm missing auxclick event. When navigating through the app it might be necessary sometimes that the <a> element can be decorated with an href attribute + the onauxclick event.
e.g.: In Chrome I want to open a new tab in from a link, but I also want to trigger a C# method by the same click. The onclick event isn't triggered when us

[2021-02-25 07:48] acaly opened #30453 "Identity LogOut in .NET 5 Blazor Server app fails with 400 after overwriting the LogOut pages with scaffolding."
### Describe the bug

A new Blazor Server app with built-in Identity gives 400 when clicking the logout button in `_LoginPartial`. This only happens after creating scaffold of all Identity pages and overwriting the existing LogOut page.

### To Reproduce

1. Create a new Blazor Server project. For authentication, select "individual user accounts" and stored "in-app".
2. Project -> Add -> New scaff

[2021-02-25 09:30] javiercn commented on #30453
@acaly thanks for contacting us.

This is a known-issue. You need to add the `@attribute [IgnoreAntiforgeryToken]` attribute to the logout page.

[2021-02-25 09:32] javiercn commented on #30452
@ANM86 thanks for contacting us.

This is not something that we currently support but its something you'll soon be able to enable in 6.0 preview2 via the custom event feature we are adding.

[2021-02-25 09:32] brgrz opened #30454 "Dynamic properties not serialized camelCase when using Microsoft Json.NET package"
### Describe the bug

This is essentially a duplicate of https://github.com/dotnet/aspnetcore/issues/9543

It was locked there but no resolution was provided and solutions/workarounds that used to work with ASP.NET MVC 5 do not work anymore in ASP.NET Core.

The default System.Text.Json serializer [does not support](https://github.com/dotnet/runtime/issues/29690) dynamics at all. We had to revert

[2021-02-25 09:35] javiercn commented on #30441
@ghostinside thanks for contacting us.

We don't have enough information to understand what you are asking for. I'm assuming this request is Blazor related? If it's about Blazor webassembly we provide extensibility for users to augment the set of claims, but having roles available is not an assumption we can make on the client app.

[2021-02-25 09:36] acaly commented on #30453
@javiercn Thank you for your reply! I did notice the difference but was unsure about it. Could you please also explain when we should use that attribute? Is it related to the auto-generated hidden field of any post forms?

[2021-02-25 09:36] javiercn commented on #30443
@nbuuck thanks for contacting us.

@dotnet/aspnet-build do you know how to route this issue?

[2021-02-25 09:38] javiercn commented on #30453
@acaly Yes, razor pages automatically generate an antiforgery token to prevent CSRF, in this particular case we are relaxing it a bit since it can't be triggered from modern browsers anyway as it we use samesite cookies.

[2021-02-25 09:41] javiercn commented on #30454
@brgrz thanks for contacting us.

@JamesNK is there something specific you need to setup to enable this in Newtonsoft.Json?

@brgrz WRT to dynamic support in System.Text.Json I would suggest you file an issue on the [runtime repo](https://github.com/dotnet/runtime) so that they can track the ask.

[2021-02-25 09:41] acaly commented on #30453
Thank you!

[2021-02-25 09:41] #30453 closed

[2021-02-25 10:13] SteveSandersonMS commented on #14133
@pandiyarajm93 No, sorry - custom events are in 6.0.0 preview 2 onwards.

[2021-02-25 10:20] ghostinside commented on #30441
@javiercn
yes, it is blazer related, as you can see we put to ClaimsIdentity the keys of the name claim & role claim, so setting them on the server
 I can add exactly the same keys instantiating the ClaimsIdentity on the client app
**userInfo.NameClaimType, userInfo.RoleClaimType**

, but if I need them somewhere else I can't get them back "out of the box" from claims identity & need to use someth

[2021-02-25 10:25] javiercn commented on #30441
@ghostinside You might be looking for https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-identity-server?view=aspnetcore-5.0&tabs=visual-studio#custom-user-factory or a similar article if you are using AAD

[2021-02-25 10:25] javiercn commented on #30441
@ghostinside not sure what you are referring with this

[2021-02-25 12:18] KanaHayama commented on #30428
Thank you @javiercn.

I hardcoded one trusted server url and pull more server urls from that server. Since I already implemented what I want, it's ok that it will not be supported.

But a general problem I come up with is that I cannot find a way to get the instances of HttpMessageHandlers attached to a HttpClient after the app is started. Is this restriction also based on a security concern?

[2021-02-25 12:21] javiercn commented on #30428
@KanaHayama no, it's based on how HttpClient works. You can't generally inspect the handlers AFAIK.

You can create your own options type and you can inject that into the handler, that would enable you to configure whatever you want in your custom handler without having access to the instance directly by just updating the options type you injected.

[2021-02-25 12:24] KanaHayama commented on #30428
Thank you, that is my current approach. Seems I got it right.

[2021-02-25 12:24] #30428 closed

[2021-02-25 12:36] noahfalk commented on #30392
@tarekgh

[2021-02-25 13:09] snebjorn commented on #5223
I can confirm that this is still an issue in .NET 5
I see many comments that are related to misconfiguration. Perhaps and admin can mark those as "not relevant".

This issue is about POST,OPTIONS calls throwing in production when the configuration is correct and working. This https://github.com/dotnet/aspnetcore/issues/5223#issuecomment-433394061 explains it perfectly. Thank you for that explanati

[2021-02-25 15:12] kant2002 commented on #30432
@dougbu My understanding that if I create target similar to

https://github.com/RicoSuter/NSwag/blob/856c75662cb1954d4191ea37b3d14b365bce4561/src/NSwag.ApiDescription.Client/NSwag.ApiDescription.Client.targets#L11

with name for example `GenerateAutoRest`
then if I specify
[code]

then everything would simply work. Correct?

[2021-02-25 15:23] 1kevgriff opened #30458 "SignalR TypeScript client throws `AbortController is undefined` on older browsers"
### Describe the bug
Hey everyone!  I have a weird issue that I think is easily solvable with the SignalR.  We have an app that runs on SmartTV web browsers, and through a bit of investigation, I learned it should be based on Chromium 56 (I know...).

We recently updated our SignalR packages and discovered that our SignalR hubs failed to connect on these TVs due to `AbortController is undefined`.

[2021-02-25 15:26] ShaunCurtis commented on #14962
As a further add on to my other musings on this subject, I've worked on a slightly less radical approach that dumping the router.  Sometimes being a bit revolutionary helps you think a problem through more logically!  There's an article here : [A-Blazor-Modal-Dialog-Editor](https://www.codeproject.com/Articles/5294466/A-Blazor-Modal-Dialog-Editor)  To summarise, normal routing, but all editing/use

[2021-02-25 15:28] 1kevgriff commented on #30458
Since it's a minor change, I have a PR ready to go for a review.

[2021-02-25 15:29] GRMorgan commented on #21656
I've just ran into this bug myself. I found that removing "operationId" from the swagger file causes the problem to go away.

Though it might help with debugging and may help @jrodenburg move forward

[2021-02-25 15:37] #30305 closed

[2021-02-25 15:50] campersau commented on #30458
You would also need to make the same change here, since otherwise it would try to use the node.js version in the browser which does not work:
https://github.com/dotnet/aspnetcore/blob/8e65e6034dc0f4cc47c0cfbc5a88a135afb2508e/src/SignalR/clients/ts/signalr/src/DefaultHttpClient.ts#L19-L25

[2021-02-25 16:00] Haraldi-Coding commented on #14320
What I really don't understand: On my other computer having Visual Studio Enterprise 2019 Preview Version 16.9.0 Preview 2.0 installed it is working. Why? (For me that means that I will not update this computer).

But: Computer with Preview 2.0 is an "old" computer, that means having Visual Studio Enterprise and Preview installed, both updated for a long time. The computer where it is not working

[2021-02-25 16:29] TanvirArjel opened #30459 "Custom validation class in blazor is not working as expected."
First of all, [Custom validation class attributes](https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-5.0#custom-validation-class-attributes) documentation is quite ambiguous and lack of clear instructions. It is not even stated that where to put the following code:

[code]

I have assumed that the above code has to be put inside at the beginning of `HandleValidSu

[2021-02-25 16:32] 1kevgriff commented on #30458
@campersau Gotcha!  I'll make that change as well and prep the PR.

[2021-02-25 16:39] JulienM28 opened #30460 "Blazor PreventDefault and StopPropagation"
.Net 5.0.103 SDK x64

I have an EditForm.
In this form thers is a component which contains an input:
[code]

KeyDownHandler method is:

[code]

When enter key is hit, the form is submitted.

[2021-02-25 16:54] 1kevgriff commented on #30458
@campersau Ah - I'm guessing I misunderstood what my original hack did then. Looks like it forced the `XhrHttpClient` instead of the `FetchHttpClient`.  I think that is still 100% acceptable.

If that's so, I'd suggest maybe a better solution would be in `DefaultHttpClient`:

[code]

Instead of changing `FetchHttpClient`

[2021-02-25 16:58] tmds commented on #27234
@danroth27 why? are there some specific challenges to make this work on Linux? Anything community could help with?

[2021-02-25 17:14] mkArtakMSFT commented on #30460
Thanks for contacting us.
What you're looking for is the `preventDefault` directive instead: https://docs.microsoft.com/en-us/aspnet/core/blazor/components/event-handling?view=aspnetcore-5.0#prevent-default-actions

[2021-02-25 17:15] BrennanConroy commented on #30458
This is not supported and as such we will not make any effort to not accidentally break it in the future.

If you have a small simple change that doesn't affect any other scenarios, then we will consider taking the change.

[2021-02-25 17:17] mkArtakMSFT commented on #30459
Thanks for contacting us and bringing up this concern.

The code you're referring to should be placed in the component initializer. Also, you have to wire up the `EditContext` instance that you've created with the form by passing it as a parameter.

@guardrex do you want to address the first part of it in docs somehow?

[2021-02-25 17:19] pranavkm commented on #30442
@captainsafia putting this on your plate since you're already investigating this space.

[2021-02-25 17:20] mkArtakMSFT commented on #30422
Thanks for the details, @nagtilaklaxman.
It's expected for the debugging not to work if your app doesn't start. We will look into why the app doesn't start when changing the environment setting and will get back to you.

[2021-02-25 17:29] TanvirArjel commented on #30459
@mkArtakMSFT Still there is a major issue. I do as follows:

[code]

Where `FormFieldClassProvider` is as follows:

[code]

Then the form initially renders as follows:

![Capture](https://user-images.githubusercontent.com/14342773/109191635-8f81b280-77c0-11eb-90f4-9ec61fcdb783.PNG)

**Although the form inputs have not been touched yet. This is because you are setting `is-valid` class even before t

[2021-02-25 17:31] 1kevgriff commented on #30458
@BrennanConroy Yeah, I completely understand.  I believe the change is subtle enough to keep everything else working fine while still allowing support for some of these older browsers.

I'll set up a PR shortly.

[2021-02-25 17:53] captainsafia commented on #30442
@pranavkm Thanks! Meant to assign this when putting on the labels. I'm planning on tackling this as part of https://github.com/dotnet/sdk/pull/16060

[2021-02-25 18:09] HaoK commented on #30391
This seems like it might be a bug in the unity container with how they resolve factories since this works with the default service container, have you tried engaging with anyone on the unity side to take a look at this behavior?

[2021-02-25 18:16] Pilchie commented on #30443
@wtgodbe fixed this for the next servicing release.

[2021-02-25 19:00] #30438 closed

[2021-02-25 19:12] Velorien opened #30465 "FileResult action return type mishandled by ApiExplorer"
### Describe the bug

ApiExplorer fails to recognise `FileResult` as producing a response, possibly because of [this line](https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.ApiExplorer/src/ApiResponseTypeProvider.cs#L233).

### To Reproduce

Kindly refer to this (very) minimal repro: https://github.com/Velorien/FileResultBug

In the Swagger UI the `getFile1` method with the correct return

[2021-02-25 19:12] TanayParikh commented on #5014
Closing this out as it was addressed via https://github.com/dotnet/aspnetcore-tooling/pull/3031.

[2021-02-25 19:12] #5014 closed

[2021-02-25 19:13] TanayParikh commented on #28654
https://github.com/dotnet/aspnetcore/issues/5014

This has been addressed via https://github.com/dotnet/aspnetcore-tooling/blob/63c2ea0fd53fb24b5ab0c0d4ad01e389c4cd9538/src/Razor/src/Microsoft.AspNetCore.Razor.LanguageServer/RazorDiagnosticsEndpoint.cs#L232-L237

If that's true, we ignore diagnostics there. Specifically, in this case, we see a MarkupTagHelperAttributeValue and hence ignore the mis

[2021-02-25 19:17] EricOuellet2 opened #30484 "dotnet-sdk-3.1.406-win-x64 failed to install, always"
### Description

Always getting error :

[4E6C:35F0][2021-02-25T14:08:15]e000: Error 0x80070002: Failed to find payload: AspNetCoreSharedFramework_x64 in working path: C:\LOCAL\TEMP\{C8B06F83-D0BD-4A3C-86FF-E0115FE762B4}\AspNetCoreSharedFramework_x64 and unverified path: C:\ProgramData\Package Cache\.unverified\AspNetCoreSharedFramework_x64
[4E6C:35F0][2021-02-25T14:08:15]e000: Error 0x80070002: F

[2021-02-25 19:23] napalm684 commented on #28379
This is needed badly. If you use Redis with OIDC as the ticket store `IDistributedCache` is required. However, if you then need to run on multiple machines in a non-sticky load balanced situation, then you are forced to use data protection sharing via `PersistKeysToStackExchangeRedis` which takes a `ConnectionMultiplexer` and is only accessible via private reflection as mentioned above. Can we at

[2021-02-25 19:35] aslezak opened #30466 "Unable to remove default Date header - Kestrel"
### Describe the bug
Kestrel adds the Date header to all responses. I tried removing it with middleware but I can't seem to plug it in to a place where that header exists.
Methods I tried:
[code]
In case my understanding of the flow is wrong. Where is then the correct time to access Kestrel generated headers?
I know I can stop it from adding `Server=Kestrel` using an option on
[code]
But there doe

[2021-02-25 19:36] jjxtra commented on #28379
I just don't understand the hesitation to expose `IConnectionMultiplexer` or an `IConnectionMultiplexerProvider` - as long as stack exchange redis is a dependent nuget package this seems safe. If for some reason a new redis provider or nuget was used, then there should be a compile error, easy to detect the problem at build time.

[2021-02-25 19:40] davidfowl commented on #28379
I think we'd make it an option instead, that seems simple enough. Make a formal API proposal and we can take it through the process.

[2021-02-25 19:50] jjxtra commented on #28379
I'm happy to do this, where do I submit the api proposal?

[2021-02-25 19:50] alrz commented on #28379
Linking to my comment in a dup https://github.com/dotnet/aspnetcore/issues/30342#issuecomment-783144405

I really do wish a full-blown API for this. IConnectionMultiplexer injection would do but it would be nice to make it a selfcontained API.

[2021-02-25 19:58] davidfowl commented on #28379
The API proposal template is in the new issue template. The proposal should have an addition to RedisOptions that adds the connection multiplexer, or more likely a factory for one. The rest of the template should be straight forward.

[2021-02-25 20:10] jjxtra commented on #28379
The full blown api piece is tricky. The connection multiplexer and the database it exposes have a TON of methods. What most people want is just direct access to redis through the stackexchange api. So the lowest hanging fruit by far is to just provide an option to expose that directly.

[2021-02-25 20:10] bkwdesign commented on #28113
I also am getting this on my .NET Framework web app
3 month old Wind 10 machine doesn't have Chrome. Only chromium-Edge installed.

I have two startup web projects (web api and an MVC app). Both launch in separate browser windows and were working totally fine.

I tried to put a breakpoint into the an open javascipt file in the IDE which prompted me with a 3-choice dialog to the effect of "enable j

[2021-02-25 20:11] NTaylorMullen commented on #14320
@Haraldi-Coding I'm so sorry for the frustrating experience! We're currently in the midst of experimenting with a new experimental Razor editor (started turning it on in 16.9-Preview3+) to enable things like light bulbs, better formatting, better Blazor refactorings etc; however, it doesn't currently support contextual Razor comments (coming in 16.10). For the interim if you'd like to get your con

[2021-02-25 20:26] halter73 opened #30468 "Add the KestrelServerOptionsSetup service in ConfigureKestrel()"
UseKestrel() currently [adds KestrelServerOptionsSetup](https://github.com/dotnet/aspnetcore/blob/c925f99cddac0df90ed0bc4a07ecda6b054a0b02/src/Servers/Kestrel/Kestrel/src/WebHostBuilderKestrelExtensions.cs#L37) to the service collection. This is important for making sure that UseHttps() has access to an IServiceProvider when ConfigureKestrel() callbacks are run. Otherwise you might see errors like

[2021-02-25 20:38] dougbu commented on #30432
May hit problems with a code generator name like `AutoRest` because the tasks won't have a good way to determine the output filename. Otherwise, should be fine. Let us know how it goes.

Please close this issue when you have no further questions.

[2021-02-25 20:40] pranavkm commented on #30470
Thanks for the issue report @JuergenGutsch. We'd recently migrated the watch tool between repositories and missed this change in the process. This change is part of the preview2 builds though which is set to release very soon.

[2021-02-25 20:43] BrennanConroy opened #30471 "[Discussion] Changed MessagePack library in @microsoft/signalr-protocol-msgpack javascript library"
Discussion for https://github.com/aspnet/Announcements/issues/454

## Changed MessagePack library in @microsoft/signalr-protocol-msgpack npm package

@microsoft/signalr-protocol-msgpack used to reference msgpack5 now it references @msgpack/msgpack.

The `MessagePackOptions` that could optionally be passed into the `MessagePackHubProtocol` also has a breaking change. The options `disableTimestampEn

[2021-02-25 20:44] alrz commented on #28379
Good thing about HttpClientFactory API that I mentined is that it manages all the instances by itself.

I suppose this still doesn't resolve excessive number of connections where redis can't handle.  8 workers in 4 servers each making a connection brings redis down.

[2021-02-25 20:47] JunTaoLuo commented on #30032
FYI, there are two ways of configuring LDAP for aspnetcore:
1. Directly specify `Domain`, `MachineAccountName`, and `MachineAccountPassword`
2. For domain joined machines, specify the `Domain` and the default machine credentials will be used

The exception from `System.DirectoryServices` isn't very informative but maybe @joperezr could help debug further.

[2021-02-25 20:48] wmmihaa opened #30472 "Unable to use multiple OpenId authentication options using AddMicrosoftIdentityWebApp"
I have an web app which needs to support authentication using multiple AAD's, but if I add more than one every challange gets routed to the same login provider (the last added in `ConfigureServices`).

### appsettings.json:
[code]
### Startup.cs:
[code]
### ExternalLoging.cshtml.cs (from skaffolding)
[code]
## Scenarios (To Reproduce)
When running the application and logging in I get to select fro

[2021-02-25 21:31] yjmrobert commented on #27742
I tried it again and noticed that [#21378](https://github.com/dotnet/AspNetCore.Docs/pull/21378#issue-564679853) clarified a misunderstanding I had in that there needs to be an accurate path to the scoped component. (ie, **_Shared_**/NavMenu.razor.css)

[code]
should instead be
[code]

and I can confirm that the repo I linked in the OP correctly adds the css scope.

![image](https://user-images.gi

[2021-02-25 21:31] #27742 closed

[2021-02-25 21:59] TanayParikh commented on #29269
Blocked on:
1. Logs not uploading: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1264845
2. Report a Problem not functioning: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1284554

[2021-02-25 22:01] #30435 closed

[2021-02-25 22:06] blowdart commented on #29759
If you can try it and let us know how it worked for you that'd be great. As it's not a situation we'd expect we probably won't fix the code if the work around works, because you have a way to handle it yourself.

[2021-02-25 22:35] shirhatti commented on #30010
Closed via https://github.com/dotnet/sdk/pull/16008

[2021-02-25 22:35] #30010 closed

[2021-02-25 22:44] Tratcher commented on #30466
The HTTP spec is pretty explicit that a Date header is mandatory for responses. You can provide your own, but if you don't then Kestrel will do it for you. You may be be able to provide an empty one?

[2021-02-25 22:49] Tratcher commented on #30472
@jmprieur?

[2021-02-25 22:53] DuncanStone opened #30477 "Json Deserialize fails silently when consuming JsonContent.Create output"
### Describe the bug
One type fails to deserialize after being transmitted to an aspnetcore rest api. Every property of the deserialised object is simply set to the default for that type.

The biggest problem here is that it fails SILENTLY. It took me ages to find out what was wrong and now my database is spammed full of these invalid objects.

To illustrate (and workaround) the issue I created th

[2021-02-25 23:53] TanayParikh commented on #30358
Un-assigning myself as https://github.com/dotnet/aspnetcore-tooling/pull/3206 has been merged.

[2021-02-25 23:54] TanayParikh commented on #25939
The external work has been started.

Step 1; add the custom tags property for Code Actions: https://github.com/dotnet/roslyn/pull/51456

[2021-02-26 00:04] TanayParikh opened #30480 "Filter Invalid Expression `)` C# Diagnostic With Empty Attribute"
![image](https://user-images.githubusercontent.com/14852843/109235737-19128f80-7783-11eb-9a80-1f3b305d759b.png)

[2021-02-26 00:11] aslezak commented on #30466
Yep, that part I do know. Specific issue is that I need to be able to change the case of header that gets sent. I managed to send a double headers, one upper one lower case by using reflection and substituting the `MaybeUnkown` dictionary with the case insensitive one, but the default one still gets sent, and trips up the old device.
I do agree that what I am trying to do goes against the spec, bu

[2021-02-26 00:18] Marusyk commented on #30352
@javiercn
Do you mean to look for `HTTP_ACCEPT_LANGUAGE` not only `Accept-Language`?

[2021-02-26 00:24] Tratcher commented on #30016
This can be customized by using the events.
[code]

We do not plan to add an option for this scenario until we find it affecting a majority of users.

[2021-02-26 00:34] Tratcher commented on #30466
Fair. Kestrel does a final pass after the OnStarting callbacks to ensure protocol correctness. That doc might be better worded as `when preparing to send the headers to the client.`

Kestrel doesn't give any control over the casing for known header names. The date header is even more special since it's always changing but always required. That's controlled here:
https://github.com/dotnet/aspnetcor

[2021-02-26 00:38] Marusyk commented on #30352
Related #27368

[2021-02-26 00:39] Marusyk commented on #30294
Duplicate #27368?

[2021-02-26 01:06] pranavkm commented on #30294
@steamonimo can you share your network log that indicates the header is being used? Accept-Language is the standard header used for sending the user's language (which ASP.NET Core's localization supports) and we verified that Safari v14 continues to use this header.

[2021-02-26 01:07] pranavkm commented on #30352
Closing until we can figure out if this is necessary. It's not clear if the header is actually being sent by the browser.

[2021-02-26 01:07] #30352 closed

[2021-02-26 01:51] JamesNK opened #30483 "Blazor Server website always displays connection redirecting UI after page load"
### Describe the bug
https://themesof.net/ always displays the connection reconnecting UI after page load. It is displayed for a couple of seconds and then disappears.

Is Blazor Server being too aggressive with assuming a lost connection?

### To Reproduce
1. Visit https://themesof.net/
2. "Reconnecting attempt 1 of 8" displayed for a couple of seconds
3. Website then works normally

### Further

[2021-02-26 01:58] JamesNK commented on #30483
Screen capture:

![themesofnet](https://user-images.githubusercontent.com/303201/109244123-ffd11800-7842-11eb-93db-2e9eb0702677.gif)

[2021-02-26 02:21] John0King commented on #30471
May I ask your guys put the client side code in a stand alone github repository ?
AspNetCore repo is a huge git repo ,  and I will hard to the diff.  I'm porting signalR to  [wechat miniProgram](https://developers.weixin.qq.com/miniprogram/dev/api/network/websocket/wx.connectSocket.html) and [uni-app](https://uniapp.dcloud.net.cn/api/request/websocket),

and I'm asking the ability to replace webso

[2021-02-26 02:26] aslezak commented on #30466
Interesting, that is quite locked down. I guess that ultimately it will be simpler to put something in front of the service to do header rewrites than bull my way to getting Kestrel to output a lower case header for date.
It is strange that this is so hard, on one hand I get it, and spec says that protocol is header case agnostic, but since that means it can go both ways....

[2021-02-26 02:28] felinepc commented on #30016
Thanks @Tratcher this solution seems perfect.

[2021-02-26 02:28] #30016 closed

[2021-02-26 02:59] davidfowl commented on #22272
This is the problem https://github.com/projectkudu/kudu/wiki/WebJobs#graceful-shutdown. The webjobs environment writes to a file to signal shutdown, it doesn't trigger ctrl+C.

If you use the webjobs sdk it will work.

[2021-02-26 03:22] felinepc commented on #30016
I just want to add a comment here in case others run into this issue:

With my testing using `IdentityServer` and the `code` flow, the `OnTokenValidated` event's `ProtocolMessage.IdToken` value returns null as written in @Tratcher 's example.

Instead, I had to use the `OnTokenResponseReceived` event and the `TokenResponseReceivedContext.TokenEndpointResponse.IdToken` property to retrieve and save

[2021-02-26 03:30] davidfowl commented on #30466
We can add an API to remove it from responses

[2021-02-26 04:11] benaadams commented on #30483
I end up with multiple connects; one per new node (fresh data) opened

https://user-images.githubusercontent.com/1142958/109253845-8efd1200-77e8-11eb-95e1-639bae3bcbe7.mp4

[2021-02-26 04:31] terrajobst commented on #30483
Do you think that’s indicative of a bug in my site or in Blazor infrastructure? I’ll try to sieve though the exception log to see if the server has an unhandled error somewhere.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ben Adams <notifications@github.com>
Sent: Thursday, February 25, 2021 8:11:55 PM
To: dotnet/aspnetcore <aspnetcore@noreply.github.com>
Cc:

[2021-02-26 05:14] benaadams commented on #30483
Ignoring the disconnects it is working ok (e.g. loading the nodes etc)

It does send some chonk messages
![image](https://user-images.githubusercontent.com/1142958/109257785-d091bb00-77f0-11eb-906e-549fbfe6f99a.png)

Looking at that might be busting the 32kB limit

https://github.com/dotnet/aspnetcore/blob/c925f99cddac0df90ed0bc4a07ecda6b054a0b02/src/SignalR/common/Http.Connections/src/HttpConnect

[2021-02-26 05:33] benaadams commented on #30483
Testing with https://github.com/terrajobst/themesof.net/pull/16

[2021-02-26 05:38] danroth27 commented on #27234
It's really a scoping decision for .NET MAUI in .NET 6. .NET MAUI is an evolution of Xamarin Forms, which currently has official support for Android, iOS, and UWP. .NET MAUI will add Windows desktop support with WinUI, and macOS support. Linux just didn't fit for .NET 6, but we absolutely still plan to do it. Blazor will run wherever .NET MAUI runs.

Adding @davidortinau from the .NET MAUI team in

[2021-02-26 05:49] benaadams commented on #30483
Specifically In `ConfigureServices`
[code]
and in `Configure`
[code]

[2021-02-26 05:52] danmoseley commented on #30484
Thanks @wli3. transferring there.

[2021-02-26 05:55] danmoseley commented on #30484
sounds like https://github.com/dotnet/aspnetcore/issues/28029 which looks like it has a fix https://github.com/dotnet/aspnetcore/pull/30439 schedule for 3.1.14. (April)
perhaps they can help with a workaround meantime.

[2021-02-26 06:45] astrowalker opened #30485 "SignalR connection started from Blazor component is cannibalized by main page"
### Describe the bug

Let's say I have server with single SignalR hub and two channels/stream which simply broadcast some number every second. And I have a Blazor (webasm) client with plain page and two (!) hub connections, each connects to given channel. This works and what is most important here I can see at server side each hub connection is connected with its own connection id. So from server

[2021-02-26 06:45] JuergenGutsch commented on #30470
Hey @pranavkm
Great thanks. That makes absolute sense.
So it was a small mistake to mention it as a new thing in preview1 in this blog post:
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-1/

I stumbled upon this because I want to start a new blog series about the new things in ASP.NET Core on .NET 6

[2021-02-26 06:46] #30470 closed

[2021-02-26 07:01] #30451 closed

[2021-02-26 07:01] pr-benchmarks[bot] opened #30486 "Performance difference: json"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| json  | Json Platform Inline aspnet-citrine-amd | 02/24/2021 21:18:03 | 985,127 | 936,330 | -4.95 % (-48,797)  :thumbsdown:  | -2.04 σ | 23,912.88 |

### Chang

[2021-02-26 07:01] pr-benchmarks[bot] opened #30487 "Performance difference: json"
A build regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old Build (ms) | New Build (ms) | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| json  | Json Platform Linked aspnet-citrine-lin | 02/24/2021 01:25:35 | 68,438 | 71,615 | 4 % (3,177)  :thumbsdown: | 8.50 σ | 374 |

### Changes:

| R

[2021-02-26 07:36] Tratcher commented on #30466
It's not enough to turn off the Date header here, we still don't allow you to control the casing of known response header names.

[2021-02-26 07:39] aslezak commented on #30466
Yes, from looking at the code, even if using api to disable the `Date` header like the `Server` header I would still have to do reflection hack to shove a case insensitive date into the `MaybeUnknown` dictionary and sneak it through that way.

[2021-02-26 07:48] davidfowl commented on #30466
If we can find a way to do it without hurting performance sure, otherwise I would call this scenario niche. We've had 2 cases of customers wanting to control the casing.

[2021-02-26 08:12] aslezak commented on #30466
The way it is done now, there is no way to do it without hurting the performance if one is not allowed to disable the `Date` header.
If that was made possible through api in same way as `Server` header, and the `MaybeUnknown` was directly accessible as well as used Ordinal and not OrdinalIgnoreCase (need to check if this is the case, I am on the phone now and just talking from memory) for comparis

[2021-02-26 08:23] Lucas-HMS commented on #30391
No, I did not yet engage with the Unity team, because we were able to solve the problem with the workaround I described in my post.
I created the issue here because I used the asp.net core source code to debug the problem and was surprised about the service registration code in the [AddSignInManager method](https://github.com/dotnet/aspnetcore/blob/c925f99cddac0df90ed0bc4a07ecda6b054a0b02/src/Iden

[2021-02-26 08:24] IIARROWS commented on #5466
I think that was called "ActiveX".

[2021-02-26 09:01] mopinsk commented on #12890
You can create directories within your Azure AppService and make them virtual applications.
I've created a directory 'webapi' which serves requests to the '/webapi' endpoint (ASP.Net Core Web API, .Net 5) and a 'client' directory for my Angular SSR client (Angular 11), which serves everything but 'webapi'.
For node.js in an Azure AppService you need to enable the iisnode module in your web.config

[2021-02-26 10:01] #30452 closed

[2021-02-26 10:16] javiercn commented on #30485
@astrowalker thanks for contacting us.

It's not clear to us what you expect to happen here. When you are running on web assembly the connection is Browser<->Server, when you are running Blazor server the connection is Server<->Server since your code runs on the server.

[2021-02-26 10:17] javiercn commented on #30477
@DuncanStone thanks for contacting us.

Have you checked ModelState.IsValid within your controller?

[2021-02-26 10:19] javiercn commented on #30484
@EricOuellet2 thanks for reporting this.

@dotnet/aspnet-build folks, can you check this out?

/cc: @Pilchie

[2021-02-26 10:26] astrowalker commented on #30485
@javiercn

Single page (webasm) with 2 hub connections (each connection uses diffeerent channel) <-> server. I works. Servers sends info, two connections id are used (this is crucial) and the info gets received correctly by both connections.

Now I split my webasm page into page and component. I will leave one hub connection within page and move the other hub connection to component. This should w

[2021-02-26 11:01] #30441 closed

[2021-02-26 11:26] recalde commented on #30032
I was able to get my connection working by specifying the LdapConnection because the Machine account/Domain method doesn't allow you to specify an ldapUrl however it only works for ~45 minutes before the LdapServer disconnects.  If we just had host on the LdapSettings we could avoid joining domain.

I haven't found any docs on how to join the domain do you use realmd?

[2021-02-26 12:36] guardrex commented on #30459
@mkArtakMSFT ... The PR is up at https://github.com/dotnet/AspNetCore.Docs/pull/21634.

I put a piece in there at the end that mentions conditionally checking a subset of fields.

I'll touch it again later when I reach the topic on my UE pass later. For example, a fully working cut-'n-paste example might be best, and I might work that up later. Let's see if what's on the PR is good enough for now.

[2021-02-26 12:46] gdalsnes commented on #24614
Not sure if the ping\pong logic necessarily needs to change. The main thing is last time data was recieved, either a ping or real data. A successful response to sending data may also count as last recieved (and here, perhaps waiting for Pong to succeed may count as last recieved too, allthou not sure if this can be completely trusted).

[2021-02-26 13:03] victorm1710 opened #30491 "Set expiration for the data protection key stored in Redis"
### Is your feature request related to a problem? Please describe.
I develop an asp.net web application which configures data protection key Redis storage by calling StackExchangeRedisDataProtectionBuilderExtensions.PersistKeysToStackExchangeRedis (to support a webfarm configuration). Since data protection keys are stored in Redis, as soon as the web application is deleted, the application's data

[2021-02-26 13:25] legistek commented on #5466
I'm not sure if that was meant as a joke, but it does highlight the unfortunate fact that popular ignorance and misconceptions about legacy technologies too often hinders the advancement of new technologies.

[2021-02-26 13:44] javiercn commented on #30483
This is likely the message going up exceeding the underlying max message size as @benaadams image shows.
Sending messages to the client doesn't have a limit I believe.

Do we know what's causing such a big message to be sent?

[2021-02-26 13:48] javiercn opened #30492 "[Razor] Error during build"
Ran into this while running our build, likely something to account for.

CSC : error CS8785: Generator 'RazorSourceGenerator' failed to generate source. It will not contribute to the output and compilation errors may occur as a result. Exception was of type 'IOException' with message 'The process cannot access the file 'C:\work\AspNetCore\artifacts\obj\HostedBlazorWebassemblyApp.Client\Debug\net6.

[2021-02-26 13:50] alekkowalczyk commented on #12890
Interesting, how is it set-up in the dev environment? Is it within one `csproj`? How does the deployment look like, possible through a single "Publish" from Visual Studio?

[2021-02-26 13:51] birbilis commented on #27217
Remember ClickOnce deployment?

[2021-02-26 14:01] #7756 closed

[2021-02-26 14:15] freerider7777 commented on #30032
@recalde If the question is how to join the domain, there is a link from this doc:
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-5.0&tabs=visual-studio
search for "Instructions for joining a Linux or macOS machine to a Windows domain" and you get here:
https://docs.microsoft.com/en-us/sql/azure-data-studio/enable-kerberos?view=sql-server-2017#join

[2021-02-26 15:16] SteveSandersonMS commented on #30460
I don't think you mean to use `stopPropagation`. If your goal is to prevent the default form submission behavior, then you should use `preventDefault` instead. Note that `stopPropagation` is unrelated to this.

However, since you actually want a *conditional* `preventDefault` (where the condition is "the key being pressed is 'enter'"), it's a little more complicated.

The two simplest solutions ar

[2021-02-26 15:16] #30460 closed

[2021-02-26 15:20] IIARROWS commented on #5466
It was a joke, but not completely. It would have the same effect as ActiveX.

[2021-02-26 15:23] benaadams commented on #30483
The list of open nodes [ThemesOfDotNet/Pages/Index.razor.cs#L572-L579](https://github.com/terrajobst/themesof.net/blob/701a1ef4e0ffbe04380ea7e87d0cbc57462d8dd4/src/ThemesOfDotNet/Pages/Index.razor.cs#L572-L579)

![image](https://user-images.githubusercontent.com/1142958/109317906-21330380-7845-11eb-823b-51fa0951cfed.png)

With all the nodes closed there isn't a big post from the client
![image](ht

[2021-02-26 15:45] SteveSandersonMS commented on #30396
I agree with @javiercn's point. We have to clean up the DOM immediately on disposal - we can't wait until after the `DisposeAsync` task completes, because that could take arbitrarily long. We would have to block *all* UI updates until this arbitrary-duration task has completed, at that would would make a really bad UX.

Javier's suggestion of managing this on the JS side sounds much easier. Presum

[2021-02-26 15:45] #30396 closed

[2021-02-26 15:57] legistek commented on #5466
I didn't mean to get into a debate on this, particularly because it has no likelihood of happening, but I do want to make more clear what I was suggesting, because, no, it would not be anything like ActiveX, but it would eliminate the speed issues we see with Blazor and obviate the need for AOT.

As we all know, with interpreted Blazor WASM currently, the browser downloads a file called mono.wasm.

[2021-02-26 16:15] chriskemn opened #30493 "Debugging Nuget Packages with Source Link in Blazor"
In a Blazor Webassembly project we are getting the following error when trying to debug a Nuget package that has Source Link enabled. Is this not supported yet? We can debug this same package without issues in non-Blazor projects.

Unable to retrieve source content (Unable to retrieve source content).

[2021-02-26 16:21] SteveSandersonMS commented on #30288
Since this does appear to be a duplicate of #21877, I'll close it for clarity. But if I'm wrong, please let me know and/or reopen with details.

[2021-02-26 16:21] #30288 closed

[2021-02-26 16:25] jjxtra commented on #28379
I feel like this issue represents the feature. As far as an API, I would think just injecting an `IConnectionMultiplexerProvider` by default would not hurt anything. If someone never asks for it, they never know about it. No need to add an option to turn this off or on.

[code]

[2021-02-26 16:27] captainsafia commented on #30492
@javiercn Try updating to a more recent preview2 build. We moved from using a file-based cache in favor of an in-memory one. The exception you're seeing is from the implementation that used a file-based cache.

[2021-02-26 16:27] Trolldemorted commented on #5466
What makes you think that? A new sandbox brings new vulnerabilities. We didn't manage to secure the js sandboxes, what makes you think a new sandbox will fare any better?

I definitely care, and would stop using clientside blazor instantly. If you effectively force me and my users to use a certain browser, I will not expose my users to software built with your stack.

[2021-02-26 16:28] javiercn commented on #30492
@captainsafia It might be that I was using the bits from release/6.0-preview2.

Thanks!

[2021-02-26 16:28] #30492 closed

[2021-02-26 16:39] davidfowl commented on #28379
I don't think that should be the API. Why not just modify the existing options object like so:

[code]

[2021-02-26 16:43] legistek commented on #5466
What I meant was it would be no more likely to contain new vulnerabilities than WASM or JS. One would presume that the lessons learned in developing those sandboxes would carry over to this. Or do you just trust Google and Mozilla to be able to build a secure sandbox but not Microsoft?

Perhaps you missed the sentence **if a browser has the Mono .NET runtime built in, Blazor apps run at native .NE

[2021-02-26 16:52] BhavanaMSFT opened #30494 "PubSub (SignalR team task): Support for MessagePack"
Following up on our meetings, opening a tracking item. We will need MessagePack support in the signalr c++ client.

[2021-02-26 16:55] BhavanaMSFT opened #30495 "PubSub (SignalR team task): Support for configuring connect timeouts"
Right now the SignalR C++ client times out at 5 seconds if SignalR websocket negotiation+websocket upgrade doesn't complete by then. The ask is to ensure the SignalR C++ client allows this timeout value to be configurable.

[2021-02-26 17:00] Pilchie commented on #30484
@wtgodbe checked in the fix, and @joeloff was looking for workaround.

[2021-02-26 17:01] binki commented on #5466
You might already be able to develop an implementation of Blazor which targets Silverlight (would be quite an undertaking, I assume) and then implement a fallback to WASM ;-).

[2021-02-26 17:01] mkArtakMSFT commented on #30459
@TanvirArjel for the `there is another major issue` part, can you please file a separate issue so we keep this issue clean ?Thanks!

[2021-02-26 17:06] TanvirArjel commented on #30459
@mkArtakMSFT Surely! I shall do. We ❤️ Blazor a lot. It's a mind-blowing framework. We want to see it as fully stable as Angular. Thanks to all you guys behind this framework.

[2021-02-26 17:12] BrennanConroy commented on #30485
Can you share a buildable and runnable github repo that shows the problem?

[2021-02-26 17:15] pranavkm commented on #30492
@captainsafia could you update the SDK used in this repo? We're probably using a build that does not have your changes.

[2021-02-26 17:23] TanvirArjel opened #30496 "Custom validation class in Blazor is not working as expected to apply CSS library validation styles."
To apply the Bootstrap validation styles in Blazor If we extend the **FieldCssClassProvider** as follows:

[code]
and use as follows:

[code]
Then the form initially renders as follows:
![InkedCapture_LI](https://user-images.githubusercontent.com/14342773/109332207-fc13b480-7887-11eb-9530-3ccf845aa457.jpg)

**Although the form inputs have not been touched yet, the validation has been applied this

[2021-02-26 17:24] TanvirArjel commented on #30459
This is issue being closed in favour of https://github.com/dotnet/aspnetcore/issues/30496

[2021-02-26 17:24] #30459 closed

[2021-02-26 17:27] guardrex commented on #30496
:eyes:

[2021-02-26 17:30] blowdart commented on #30491
That's not how data protection was designed, nor will it be changed to do so. No keys are ever deleted in case there is persisted data that still needs to be read (expired keys simply aren't used to protect new items). The potential for data loss is not something we're willing to risk in implementing a deletion mechanism in any data stpre.

[2021-02-26 17:30] #30491 closed

[2021-02-26 17:41] javiercn opened #30499 "[Build] Additional files on test projects"
There's a bunch of additional files that get linked in on tests projects at the root folder (note the above is an empty project). It's not clear to me why they need to be there at all, so I would suggest we remove them. If for some reason that's not possible, we should at least put them in a single folder where they don't get in the way.

The current experience is quire jarring

![image](https://u

[2021-02-26 17:42] daniel-p-tech opened #30500 "[Blazor] Accessing parent component/setting contstraint on CascadingValue component"
Hi,

I'm designing a custom component that serves as a container for direct child elements defined as a pair of ``<CustomLabel>`` and ``<CustomInput>`` components. The idea is to set the ``for`` attribute of the ``<CustomLabel>`` element without user explicitly specifying any component parameters. Please refer to the code snippet below.

EditFormItem.razor:
[code]
EditFormItem.razor.cs:
[code]
Cus

[2021-02-26 17:51] mopinsk commented on #12890
I don't have access to my development environment right now but I can give more information about my setup next week.
For publishing: I use Azure DevOps where I created a CI/CD pipeline that publishes whatever I have changed (either Angular Client or ASP.Net Core Web API, or both) to the AppService.

[2021-02-26 18:05] jjxtra commented on #28379
How would this hook into the internal guts of the Microsoft and Stackexchange nugets? The whole point is for the provider/factory to be implemented by Microsoft and available if asked for. Then no configuration changes are needed. If the factory is never asked for or injected, it will never be created and behavior will remain same as it is today.

[2021-02-26 18:30] Terricide commented on #29943
FYI I got it working if anyone is interested.

https://github.com/Terricide/Blazor.WebRTC

[2021-02-26 18:34] vsfeedback opened #30501 "Breakpoints not being hit in hosted Blazor WASM project in Visual Studio 2019Pro /2019 Pro Preview"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Breakpoints-not-being-hit-in-hosted-Blaz/1345897)._

---
I have a Hosted Blazor WASM app (.net 5) and am unable to hit any breakpoints in Visual Studio. Note that I can hit breakpoints in the API.

I have tried repairing/reinstalling VS but still no dice. Every now and then (maybe like

[2021-02-26 18:35] mkArtakMSFT commented on #30501
Thanks for contacting us.
@captainsafia can you please work with the customer to collect all the necessary information to understand what's causing this? Thanks1

[2021-02-26 18:54] dougbu commented on #30484
@wtgodbe @joeloff is there a way to work around this issue prior to the April 3.1.14 release❔

[2021-02-26 18:58] wtgodbe opened #30503 "[release/2.1]"
https://github.com/dotnet/aspnetcore/blob/release/2.1/src/Identity/UI/src/Microsoft.AspNetCore.Identity.UI.csproj does not build correctly in release/2.1 currently - not all expected outputs are being produced. It appears that it doesn't actually import the razor props/targets from https://github.com/dotnet/aspnetcore/tree/release/2.1/src/Razor/Sdk.Razor/src/build/netstandard2.0. We should figure

[2021-02-26 19:00] pr-benchmarks[bot] opened #30504 "Performance difference: fortunes_dapper"
A performance regression has been detected for the following scenarios:

| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- |
| fortunes_dapper  | Fortunes Dapper aspnet-citrine-win | 02/25/2021 09:55:27 | 258,948 | 255,501 | -1.33 % (-3,447)  :thumbsdown:  | -2.36 σ | 1,463.32 |

### C

[2021-02-26 19:19] davidfowl commented on #28379
if the factory is null (which it will be by default) then it won't be used. Was that the question?

[2021-02-26 19:27] cobbr opened #30505 "[Routing] [Feature Request/Question] Mapping a Fallback for non-filename routes"
### Is your feature request related to a problem? Please describe.

Hi, I am trying to find a way to use routing to map a fallback for _file names_. Perhaps this is already possible, but I have not found a way to do it. It seems that all of the `MapFallback*` options explicitly exclude file names (paths that end with a file extension (i.e. .exe, .txt, etc.)).

Here's an example of what my code loo

[2021-02-26 19:33] vsfeedback opened #30506 "rzc discover exited with code -2147450730."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/rzc-discover-exited-with-code--214745073/1344897)._

---
[severity:It's more difficult to complete my work]
Hi please help me,i am write a code but im wait 3 or 4 months but i open my project and i show this eror on rebuild.
i am add photos for that.
that error line this

[code]
but i a

[2021-02-26 19:34] vsfeedback opened #30507 "Blazor WASM input time fails to show values after upgrade to .NET 5"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Blazor-WASM-input-time-fails-to-show-val/1343787)._

---
[severity:It's more difficult to complete my work] [regression] [worked-in:3.1]
I have a Blazor WASM project that I just have upgraded to .NET 5. After upgrade my input time:

[code]

only shows
"--:--" instead of the time on the

[2021-02-26 19:34] vsfeedback opened #30508 "Debugging Blazor app with WSL raises CoreCLR error"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Debugging-Blazor-app-with-WSL-raises-Cor/1337167)._

---
[severity:It bothers me. A fix would be nice]
I’m trying to debug the standard Blazor WASM template project with WSL and I get a “target process exited without raising a CoreCLR started event” error message and a suggestion to set

[2021-02-26 19:38] javiercn commented on #30505
@cobbr thanks for contacting us.

I believe there is an overload that allows you to pass in the template, and you can use whatever path template you want there.

[2021-02-26 19:58] jjxtra commented on #28379
No. The question is why do we need a factory property on the options at all? Couldn't the Microsoft nuget package provider the factory interface and then the user of the nuget could inject that interface into a constructor if desired...

[2021-02-26 20:05] joeloff commented on #30484
@EricOuellet2 can you provide this log file: C:\LOCAL\TEMP\Microsoft_.NET_Core_SDK_3.1.406_(x64)_20210225140807_014_AspNetCoreSharedFramework_x64.log

[2021-02-26 20:11] EricOuellet2 commented on #30484
[Microsoft_.NET_Core_SDK_3.1.406_(x64)_20210225140807_014_AspNetCoreSharedFramework_x64.log](https://github.com/dotnet/aspnetcore/files/6052222/Microsoft_.NET_Core_SDK_3.1.406_.x64._20210225140807_014_AspNetCoreSharedFramework_x64.log)

This is it

[2021-02-26 20:15] joeloff commented on #30484
This looks like the SEC REPAIR issue we're fixing for the next release where it's conflicting with the original source location of the install from VS.

@EricOuellet2 You can try the following from a commandline: <SDK.EXE> /install OPT_NO_SHAREDFX=1

[2021-02-26 20:24] steamonimo commented on #27368
@pranavkm What feedback do you needed?

[2021-02-26 20:26] EricOuellet2 commented on #30484
Still failed.

[Microsoft_.NET_Core_SDK_3.1.406_(x64)_20210226152123.log](https://github.com/dotnet/aspnetcore/files/6052309/Microsoft_.NET_Core_SDK_3.1.406_.x64._20210226152123.log)
[Microsoft_.NET_Core_SDK_3.1.406_(x64)_20210226152123_014_AspNetCoreSharedFramework_x64.log](https://github.com/dotnet/aspnetcore/files/6052310/Microsoft_.NET_Core_SDK_3.1.406_.x64._20210226152123_014_AspNetCoreShared

[2021-02-26 20:27] EricOuellet2 commented on #30484
Just want to mention. It is an update, not a new installation.

[2021-02-26 20:39] davidfowl commented on #28379
Because it's functionally equivalent, more discoverable, and doesn't introduce a new type.

[2021-02-26 20:44] joelmandell commented on #3793
This seemed to be the most easiest to implement. It is almost no downtime.

[2021-02-26 20:46] jjxtra commented on #28379
Can you give an example of how a caller might implement such a factory?

[2021-02-26 20:53] pranavkm commented on #27368
Sorry, I posted this in the other issue you filed:

[2021-02-26 20:57] BrennanConroy commented on #30471
That's unlikely to happen. You can view the history for specific folders on Github, so you should be able to just monitor https://github.com/dotnet/aspnetcore/commits/main/src/SignalR/clients/ts for changes.

[2021-02-26 21:11] BrennanConroy commented on #30332
There are known issues with Windows Containers, could you take a look at https://github.com/microsoft/iis-docker#on-older-hosts-windows-server-version-1709-and-older to see if it resolves the issue?

[2021-02-26 21:14] BrennanConroy commented on #21502
Looks like we figured it out, using https://github.com/dotnet/aspnetcore/issues/30449 to track this issue.

[2021-02-26 21:14] #21502 closed

[2021-02-26 21:20] BrennanConroy commented on #30410
Can you check if Microsoft.AspNetCore.Diagnostics.Abstractions.dll is part of the published output?

[2021-02-26 21:21] jjxtra commented on #28379
Also, introducing a new type is a non-issue and could be done in a minor version nuget update, i.e. 1.X.0.

[2021-02-26 21:25] BrennanConroy commented on #30466
Unfortunately we don't think this meets the bar for working on a fix.

This is probably what you're going to have to do for this niche scenario.

[2021-02-26 21:25] #30466 closed

[2021-02-26 21:26] aslezak commented on #30466
Agreed, thanks for the idea bounce. Always good to get more perspective

[2021-02-26 21:29] cobbr commented on #30505
@javiercn Thanks for the response. Is there any chance I could see an example of how to do this or a reference to the correct overload? The documentation seem pretty clear that it "will match requests for non-file-names" only.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.controllerendpointroutebuilderextensions.mapfallbacktocontroller?view=aspnetcore-5.0#Microsoft_AspN

[2021-02-26 22:01] steamonimo commented on #27368
In my opinion the accept-language header is different in safari in comparison to firefox and chrome. I assume the following is the root cause of the problem. If your regional setting is german (de-de) then browsers will sent the headers like this:

chrome and firefox:
accept-language: de,en-US;q=0.7,en;q=0.3

safari:
accept-language: de-de

The problem is that at least the simplification to just "

[2021-02-26 22:01] #30307 closed

[2021-02-26 22:01] #30258 closed

[2021-02-26 22:31] #30299 closed

[2021-02-26 23:04] parveenLily commented on #30332
I am running latest windows server 2019 docker image with aspnet core 5 installed.
docker image: mcr.microsoft.com/dotnet/aspnet:5.0-windowsservercore-ltsc2019
https://hub.docker.com/_/microsoft-dotnet-sdk/
And i also tried the container ip to access the site, nothing seems to work.
![image](https://user-images.githubusercontent.com/52086691/109364401-ba214900-785c-11eb-9d7d-807ab2e1ab7c.png)

[2021-02-26 23:13] Eilon opened #30511 "WPF BlazorWebView element (WebView2)"
- Hosts an Edge WebView2 inside
- Best practice for control disposal, lifetime management (e.g. when to create WV2)
- Reviewed by a WPF expert to ensure following WPF best practices
- Exposes relevant options
   - [ ] Whether or not to allow dev tools (see also: #30524)
   - [ ] Whether or not to block accelerator keys (e.g., ctrl+f to find, or alt+left to go back)
   - [ ] Access to the underlyin

[2021-02-26 23:15] Eilon opened #30512 ".NET MAUI BlazorWebView element"
Need to build all of these (each should end up being its own bug, because they share very little):

- .NET MAUI element – Windows (WinUI3 WebView2)
- .NET MAUI element – macOS (WebKit WebView)
- .NET MAUI element – iOS (WebKit WebView)
- .NET MAUI element – Android (WebView)

Open questions:
- How much of the built-in Forms WebView can be used along with the respective platform-specific Handlers?

[2021-02-26 23:16] Eilon opened #30513 "Blazor Desktop project template"
Similar to Blazor Web template, but hosted in a native app, and tweaked to be more desktop-friendly. Will also be similar to the project template of each containing desktop tech (e.g. .NET MAUI, WPF/WinForms, etc.).

Open questions:
- Does the Blazor Web content go into the main UI project? Or is it in a separate RCL?

[2021-02-26 23:17] pranavkm commented on #30506
Looking at the snippet that you pasted in, it looks like the project might be a 2.x targeting project. If so, 2.x projects relied on the dotnet in the PATH to have the right runtime installed. In this case, it's possible that you have the runtime installed under the `Program Files (x86)` directory, but the 64-bit dotnet is being run. Consider grabbing the 64-bit dotnet (or perhaps uninstalling the

[2021-02-26 23:18] Eilon opened #30515 "Blazor Desktop support for static assets"
Blazor Web content often includes static assets such as HTML, CSS, JS, and images. Those resources need to end up in the deployed project and must be loadable within the Web View.

Need to build:
- MSBuild targets/props to gather static assets from RCLs (or the main UI project) and include them appropriately in desktop host project (WinUI3, macOS, Android, iOS each have specific patterns). Some pl

[2021-02-26 23:19] joeloff commented on #30484
Thanks @EricOuellet2 Let me see if there's another option. The problem is with a file that was renamed, and even though it's the binary equivalent to the copy that VS might have, the installer service has a hard check against the original source.

Let me see if I can find you a workaround

[2021-02-26 23:25] Eilon opened #30517 "Blazor Desktop navigation"
- General navigation within the browser, i.e. clicking on links within a Blazor page to another Blazor page
- Use Blazor's existing built-in navigation interfaces/services
- Integration with native gestures/hardware and other UI for navigation, for example:
  - Android Back Button
  - Swipe gestures
  - Accessibility-related browser controls (such as?)
  - Alternate navigation UI, such as app-spec

[2021-02-26 23:27] Eilon opened #30518 "Blazor Desktop WebView IPC"
Abstractions and implementations for the WebView to send/receive messages between the WebView and the .NET code in the app.

[2021-02-26 23:27] Eilon opened #30519 "Blazor Desktop JSInterop support"
Implement this so that custom JS code as well as 3rd party custom controls work in Blazor Desktop.

[2021-02-26 23:39] ShehulCS opened #30520 "ASP.NET Core (.NET 5) model binder deserializes local time string to UTC Time String instead of Local String time"
### Describe the bug

When a user passes a Datetime string containing timezone offset (without Z) as query parameter of a GET request, the model binder converts it to a "UTC" kind DateTime object rather than a Local DateTime object. The issue seems to be coming from half fix of https://github.com/dotnet/aspnetcore/issues/11584. We need both side working i.e UTC to Local and Local to UTC correct co

[2021-02-26 23:49] Eilon opened #30521 "Create headless Blazor Desktop host"
- Hosting and startup APIs

[2021-02-26 23:50] Eilon opened #30522 "Blazor Desktop test infrastructure and plans"
- Automated tests for headless behaviors
- CTI scripts for UI tests
- Consider some automation for UI tests

[2021-02-27 00:05] captainsafia commented on #30421
https://github.com/dotnet/sdk/pull/16110 should resolve this. Waiting for this to flow to the installer to double confirm...

[2021-02-27 00:07] Eilon opened #30523 "Blazor Desktop native WebView access"
Each WebView has per-platform features that the developer will likely need access to. For example, on Edge WebView2 you can/must set the user profile folder location or you may get unexpected results. There are no doubt many other per-WebView features that developers will want access to.

There needs to be a pattern for developers to get access to the native WebView during initialization and while

[2021-02-27 00:07] Eilon opened #30524 "Blazor Desktop Debugging"
Check that the debugging experience of content in the WebView works as expected on each platform
- Can attach VS debugger (VS Win, VS Mac, VS Code)
- Can use browser-based debugger from Edge, Chrome, Safari on each platform
- Consider defaults for whether F12 tools are enabled by default (e.g. Debug vs. Release?), whether we should abstract this presumably common setting (On, Off, Auto)

[2021-02-27 00:29] Eilon opened #30525 "Blazor Desktop tenets: DPI awareness"
- Need to review guidance from docs of each native WebView component for any best practices
- Also need to consult docs of each UI platform to see if there are best practices we need to follow

[2021-02-27 00:29] Eilon opened #30526 "Blazor Desktop tenets: Accessibility"
- Check compatibility with screen readers
- Check keyboard navigation such as tab key into and out of the WebView
- Check automation metadata, e.g. AutomationAttribute in WPF
- Need to review guidance from docs of each native WebView component for any best practices

[2021-02-27 00:29] Eilon opened #30527 "Blazor Desktop tenets: Global readiness"
- In general, globalization and localization
- But also patterns for building apps that use these patterns. It is likely that both Blazor and the native UI platforms each have their own flavors of this, so we need to see how these fit into a single app.
- Does each native WebView component have some of its own concerns/features we need to be aware of?

[2021-02-27 00:29] Eilon opened #30528 "Blazor Desktop tenets: Performance"
- Define perf goals and scenarios w/ specific #'s that we will target
- Build scenarios on main competitors and ours
- Automate measurements on relevant platforms
- Need to review guidance from docs of each native WebView component for any best practices

[2021-02-27 00:30] Eilon opened #30529 "Blazor Desktop tenets: Reliability"
- Need to review guidance from docs of each native WebView component for any best practices
- Check for failure modes in the various WebViews, for example, out-of-proc renderer crashing
  - Example: Detect WebView2 out-of-proc failure: https://github.com/MicrosoftEdge/WebView2Announcements/issues/17

[2021-02-27 00:30] Eilon opened #30530 "Blazor Desktop tenets: Security"
- Need to define what are the threats here
- Rogue-ish 3rd party component?
- Need to look at the threat models for other native client platforms, e.g. WPF, because we will likely have some subset of the same concerns
- Need to review guidance from docs of each native WebView component for any best practices

[2021-02-27 01:11] genifycom commented on #30410
In the output release folder I do see Microsoft.AspNetCore.Diagnostics.Abstractions.dll

In csproj I have:

    <TargetFramework>netcoreapp3.1</TargetFramework>
    <GenerateRuntimeConfigurationFiles>true</GenerateRuntimeConfigurationFiles>
    <Deterministic>false</Deterministic>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeSymbolsInSingle

[2021-02-27 01:18] kaleidocore opened #30531 "Generic Blazor inheritance doesn't compile with the C# 9 Nullable setting enabled"
### Describe the bug
Generic Razor components that themselves inherit from a generic base class can't have any constraints (except `struct`) if the new and great .Net5 / C# 9 **Nullable** setting is enabled. The compiler errors you get are very puzzling but clearly incorrect:

* Removing or setting the `#nullable` option to `disable` makes the project compile
* Removing all generic constraints in

[2021-02-27 02:13] simplecoder opened #30532 "GRPC :scheme pseudo-header passed from proxy/loadbalancer causes ConnectionAbortedException"
### Describe the bug
Grpc kestrel .net 5 sample app greeter is running in k8s under http transport, an AWS network load balancer terminates SSL and sends request to the app with :scheme pseudo-header set to "https", but the actual transport is "http" results in this error -
`Trace id "0HM6QO8HEK1N9:00000001": HTTP/2 stream error "PROTOCOL_ERROR". A Reset is being sent to the stream.
Microsoft.AspN

[2021-02-27 02:18] scottsauber commented on #30131
Thanks @TanayParikh for the update.

[2021-02-27 05:47] Tratcher commented on #30532
Prior discussion: https://github.com/dotnet/aspnetcore/issues/14745. The main report was the result of a bug in the Java client. No concrete examples were given for the proxy scenario at the time.

The spec is extremely vague on the proper usage of this field so we opted for a strict interpretation until the scenarios could be clarified.

Is this an L7 or L4 proxy?
- For an L7 proxy it would make

[2021-02-27 08:36] JHBonarius opened #30534 "Impossible to conditionally set a RenderFragment parameter for a component in Blazor"
### Describe the bug
I'm using third-party Components that take RenderFragment parameters. Based on if a parameter is set, the component renders different data. Let's say the third-party component is called `Foo`. I can either call
[code]
or
[code]
However, I want to conditionally set `Bar`, based on an external state. This doesn't compile:
[code]
The next compiles, but doesn't have the intended e

[2021-02-27 09:06] vflame opened #30535 "Blazor TaskCanceledException when using <Virtualize>"
Using `<Virtualize>` tags is causing my error logs to be filled with the following:

[code]

The above exceptions seem to be logged about 30 seconds or so after I load a blazor component with `<Virtualize></Virtualize>` tags. If I refresh the page with the blazor component X times, the exception will be logged X times, about 30 seconds after the refresh is finished.

Can these be suppressed/ignore

[2021-02-27 09:20] adamhathcock commented on #28379
It's literally on RedisCache already how to make a mulitplexer (as well as the internet in general).  This option would allow you to override it with your own implementation if desired:
https://github.com/dotnet/aspnetcore/blob/main/src/Caching/StackExchangeRedis/src/RedisCache.cs#L228

I previously made a full type to manage a pool of mulitplexers but have since walked back on that implementation

[2021-02-27 09:43] stefanloerwald commented on #30396
Thanks so much for the clarification! It makes perfect sense for Blazor not to wait for any user-code before changing the DOM. We're looking into alternatives, one being MutationObserver, the other simply omitting the "destroy" code, as it might be superfluous anyway.

[2021-02-27 15:50] robertmclaws commented on #27217
So, something to consider while you folks are looking into this.

I'm building BurnRate.io, and we're in the process of moving a large OData/TypeScript/Webpack app to Blazor. When we add support for installing the app to the Desktop, we're still planning on shipping our Blazor WebAssembly version to the web, so people can access it where- and however they want. Up to this point, we had planned on

[2021-02-27 16:00] Webreaper commented on #27217
This would be totally awesome. My app (http://github.com/webreaper/damselfly) bundles the installers/zip for the desktop electron wrapper into the Docker images, and I've used some javascript interop between Electron and the server to determine if the current container matches the server that's providing its content. If not, the user is notified and can optionally download the DMG/zip/AppImage fil

[2021-02-27 16:12] pranavkm commented on #30454
@brgrz are you attempting to serialize a `JObject`? If so, according to https://github.com/dotnet/aspnetcore/issues/9543#issuecomment-484806912, Newtonsoft.Json will not transform the casing, so the behavior here is expected.

[2021-02-27 16:15] #5105 closed

[2021-02-27 16:22] pranavkm commented on #5631
This should be resolved as part of the `DynamicComponent` work done in 6.0-preview1.

[2021-02-27 16:22] #5631 closed

[2021-02-27 16:36] pranavkm commented on #5614
This is being resolved as part of switching Razor to use a source generator as part of .NET 6.

[2021-02-27 16:37] #5614 closed

[2021-02-27 16:55] mkArtakMSFT commented on #21917
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2021-02-27 16:55] #21917 closed

[2021-02-27 16:57] mkArtakMSFT commented on #27509
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2021-02-27 16:57] #27509 closed

[2021-02-27 16:58] mkArtakMSFT commented on #26768
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2021-02-27 16:58] #26768 closed

[2021-02-27 16:59] mkArtakMSFT commented on #24931
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2021-02-27 16:59] #24931 closed

[2021-02-27 17:00] mkArtakMSFT commented on #20152
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2021-02-27 17:00] #20152 closed

[2021-02-27 17:00] mkArtakMSFT commented on #27523
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2021-02-27 17:00] #27523 closed

[2021-02-27 18:52] Drabenstein commented on #27887
I had been doing a project for my university degree 4 months ago and I certainly agree that current authorization setup is terrible when you use SPA. If you use Razor pages you're good to go with ASP.NET Core Identity and multiple examples. On the other hand in case of SPA you're left to using ID4, building custom solution or using other 3rd party services and there are only few up-to-date example

[2021-02-27 19:23] brgrz commented on #30454
It is a dynamic backed by a JObject, yes.

[2021-02-27 21:03] erikthysell commented on #30507
Somehow it is missing the input tag : <input type="time" @bind="myTime" @bind:format=@myTimeFormat />

[2021-02-27 21:30] RUSshy commented on #5466
@legistek

wasm wasn't created to replace javascript, in fact you can target wasm with javascript

it was created for better performance, and better startup time

big executable? that's a dotnet problem, not a wasm one

[2021-02-27 21:44] simplecoder commented on #30532
Its a L4 proxy.

[2021-02-27 22:47] lucent-sea commented on #17660
This issue comes and goes for me all the time.  In the below screenshot, those two components are in the same namespace.

![image](https://user-images.githubusercontent.com/20995508/109402436-af24f200-790a-11eb-844b-557a0bc31296.png)

[2021-02-27 22:48] jeromelaban commented on #5466
@legistek bundling the runtime with the browser is a problem on some technical fronts.

For example, the BCL has deep ties to the runtime (internal calls and p/invokes) that need to match the runtime and this would constrain applications to run on a very specific version of the runtime.

An other example is the fact that the BCL is linked (trimmed) at app build time, making the payload size reduce

[2021-02-27 23:51] captainsafia opened #30536 "Component references not resolved when building in VS"
### Describe the bug
Component references not resolved when building in VS. Perhaps another RSG bug to resolve.

### To Reproduce

1. Create a new Blazor Server project.
2. Navigate to to `Pages/Index.razor`.
3. Observe that it cannot resolve the reference to `SurveyPrompt`.

### Further technical details
Microsoft Visual Studio Enterprise 2019 Int Preview
Version 16.10.0 Preview 2.0 [31026.214.ma

[2021-02-28 09:10] AthiraKornath commented on #29150
I understand the 10ms CPU time for 100m. If this is expected why it is not showing in the CPU usage reports. If you look at my first screenshot , the CPu usage shows much less than the cpu requested( cpu limit is muchmore). Since the actual usage is not shown how can I deduce a limit value. If this is expected, Please direct me to a report that shows approximate correct cpu usage so I can set that

[2021-02-28 09:31] JHBonarius commented on #30534
So I've went further and encountered the same exception. I don't know if it's related, but it might have a similar cause.
I'll give a example first. I have component `Baz.razor`
[code]
I can use this
[code]
renders "nobar"
[code]
renders "Render bar: bar".

But I want to have a hierarchy of components and forward parameters. Thus I add a component `Foo`
[code]

So now again I can use
[code]
which

[2021-02-28 10:29] JHBonarius commented on #30534
OK, Now I'm confused. I did some reading and learned more things about the render tree. However, I'm not able to see inside of the render tree in the Razor Component page. So I tried to override `BuildRenderTree` with a .razor.cs code-behind page... That didn't work, as `BuildRenderTree` already was defined... (some source generator or so?)

So I started a different approach, building the RenderTr

[2021-02-28 11:52] leigh-pointer commented on #28113
My solution was simple and after trying so many different suggestions I just deleted the complete .vs<MyProjectName>\ restarted the solution and was back up and debugging!

[2021-02-28 12:11] KolyaNET commented on #28573
I have the same issue

[2021-02-28 16:43] danich93 opened #30538 "NullReferenceException thrown when making a call to secured API while not authenticated in Blazor WASM app with MSAL auth"
### Describe the bug
I run a Blazor WASM app that uses MSAL for Azure AAD B2C auth, and can call into my ASP.net web api. Whenever the user is not authenticated and Blazor app tries to make a call to secured api via configured httpClient it results in a NullReferenceException being thrown, instead of expected AccessTokenNotAvailableException.
StackTrace:
[code]

I have narrowed it down to this bit

[2021-02-28 18:06] BieleckiLtd commented on #9256
Here is how the user experience looks in my case.

User loads page, works with the app, perhaps fills the form halfway through. They go for a snack and when they come back they see that their work is gone as the only thing they can do is to refresh the browser. Great for the banking app, but my users complain.

Disabling idle timeout would help but app pool can still recycle at any time unless thi

[2021-02-28 19:28] vavdb commented on #28684
var authUser = _consentHandler.User;
            var accessToken = await _tokenAcquisition
                .GetAccessTokenForUserAsync(_scopes, user: authUser)
                .ConfigureAwait(false);

[2021-02-28 19:28] Prakul2006 opened #30539 "Package dotnet-aspnet-codegenerator 5.0.2 is not compatible with netcoreapp3.1"
Hi i was following this guide [First Web API](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-5.0) but while doing this [Scaffold a Controller](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-5.0&tabs=visual-studio-mac#scaffold-a-controller) I get this error please help.
` error NU1202: Package dotnet-aspnet-codegenerator 5.

[2021-02-28 19:36] wmmihaa commented on #30472
??

[2021-02-28 22:23] lluchmk commented on #29928
Went ahead and created the PR for this.
Hope everything is in place!

[2021-02-28 22:45] kaleidocore commented on #30531
@pranavkm I don't know if you looked at the linked repro repo already but I had needlessly used a Directory.Build.props file rather than just the `#nullable enable` switch in the codebehind. I've updated the repro with just the switch and removed the Directory.Build.props to further reduce complexity.

[2021-03-01 02:01] #27787 closed

[2021-03-01 02:46] xgbzsc opened #30541 "The same request, the same settings. Httpclient in NETCORE is better than framework slow"
The same request, the same settings. Httpclient in NETCORE is better than framework slow

 var httpClientHandler = new HttpClientHandler();
            httpClientHandler.MaxConnectionsPerServer = 512;//very important!!

                httpClientHandler.ServerCertificateCustomValidationCallback = (message, cert, chain, error) => true;

            var httpClient = new HttpClient(httpClientHandler)

[2021-03-01 02:51] BrennanConroy commented on #30541
Do you mean HttpClient on .NET Core is faster than .NET Framework? That is expected and will not change.

[2021-03-01 02:58] xgbzsc commented on #30541
Httpclient on. Net core is slower than. Net framework

[2021-03-01 03:13] HappyNomad opened #30542 "IHubContext<out THub>"
I have these two classes:
1. `HubBase`: abstract hub base class in a library
2. `DerivedHub`: hub that derives from it in an app

I must accept `IHubContext` via dependency injection.  A constructor with a parameter of type `IHubContext<HubBase>` corresponds to the wrong hub type.  I need it to be of type `IHubContext<DerivedHub>`.  That part is doable but a problem arises with then passing the hu

[2021-03-01 03:24] mkArtakMSFT commented on #30539
Thanks for contacting us.
This seems to be caused by the scaffolding. @vijayrkn do you want me to move this over to the `dotnet/scaffolding` repo or somewhere else

[2021-03-01 03:45] satishfied opened #31131 "ManifestEmbeddedFileProvider not working when Resources.resx and other embedded resources (like .XML files) are part of same project"
Bug description:

Ref: https://github.com/dotnet/extensions/issues/1333
When adding a regular Resources.resx file into an asp.net core (.NET 5)  project that uses <GenerateEmbeddedFilesManifest>true</GenerateEmbeddedFilesManifest> and a ManifestEmbeddedFileProvider, the file provider throws an InvalidOperationException with this message:
Invalid manifest format. 'ResourcePath' must contain a text