[2019-04-02 00:54] #8820 closed

[2019-04-02 00:57] rynowak commented on #8822
Hi @stavroskasidis - this was a known issue with preview 3. This is fixed in the next release.

[2019-04-02 00:57] #8822 closed

[2019-04-02 01:17] davidfowl commented on #4399
Don’t tie the property name to channel, that’ll be an implementation detail (consider the IAsyncEnumerable version)

[2019-04-02 01:18] #8851 closed

[2019-04-02 01:20] davidfowl commented on #8590
The work is done on outside and is being integrated into the SDK, I still want to track it here though

[2019-04-02 02:43] insinfo commented on #8946
I am a full time PHP programmer in my work, and I thought I could migrate my projects and suggest ASP .NET Core as a viable solution in my company, but for this I have to write a translator so that I can automate the process I need a very similar way in C # to define routes and make access to database with Query Builder similar to the laravel Eloquent, I usually only do Desktop applications in C #

[2019-04-02 02:44] blowdart commented on #8973
:) Session cookie is signed, so you can't just edit it. So Circuit IDs should be the same. Which now means data protection pain.

[2019-04-02 02:57] mcq1212 commented on #8939
@Eilon Of course sure, but because the development computer can't connect to the Internet network, I can only pick the main code.
The  dynamic proxy Code:
[code]
PbServiceWrapper  Code：
[code]
Startup.cs DI：
`services.AddScoped<IProxyInerface, PbServiceWrapper>();`

Controller：

[code]

[2019-04-02 02:58] dotnetshadow commented on #4221
@joshua-mng I would be interested to see a more complete sample, do you have a github repo for it?

[2019-04-02 03:43] rynowak commented on #8973
GOOD

[2019-04-02 03:43] rynowak commented on #8973
I know who handle this then... (eyes dart towards Spain)

[2019-04-02 03:44] rynowak commented on #5640
Fixed!

[2019-04-02 03:44] #5640 closed

[2019-04-02 03:58] benaadams opened #8978 "Kestrel should create strings using newer idiomatic method"
Currently uses `string key = new string('\0', keyLength)` and then mutates with fixed.

Should use something more like `string.Create`

However, attention needs to be given to avoid any performance regressions.

/cc @GrabYourPitchforks @davidfowl

[2019-04-02 04:00] benaadams opened #8979 "Kestrel low-level should be in terms of ReadOnlySpan not Span"
e.g.
[code]
should be
[code]
However, attention needs to be given to avoid any performance regressions.

[2019-04-02 04:43] #8920 closed

[2019-04-02 05:06] bradygaster commented on #4135
reproduced this issue, and with feedback from @cephalin was able to validate a potential solution, which is represented by code from `Startup.cs` in a working project below.

This has been validated in a few new web apps running with a home-built docker image of a .net core 2.2 app.

In the `Configure(IApplicationBuilder app, IHostingEnvironment env)` method of `Startup.cs`, we'd need to add code

[2019-04-02 05:19] Plasma opened #8980 "HTTP Error 500.30 - ANCM In-Process Start Failure"
### Describe the bug
When trying to launch an ASP.NET Core 2.2 web app locally (Windows 10) I receive `HTTP Error 500.30 - ANCM In-Process Start Failure` error message when the browser opens.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2
1. Configure to use IIS in-process model

### Expected behavior
It to work without error.

### Screenshots
![image]

[2019-04-02 05:38] #8899 closed

[2019-04-02 06:54] Plasma commented on #8980
This also breaks with the same exact message on Azure App Service sometimes when restarting the website. Is it meant to be this broken? :(

[2019-04-02 07:10] EnricoMassoneDeltatre commented on #8963
I finally solved, at least on my dev machine, thanks to the guide you linked in your reply.

The issue was related to the *setProfileEnvironment* inside the *applicationHost.config* of my dev machine. I just need to perform a complete test on a server machine (I have a Windows 10 professional installation on my machine), but I guess it's going to work.

[2019-04-02 07:48] poke commented on #8931
@danroth27

What bothers me about this argument is that a `.razor` file contains things like event handlers, lifecycle methods, or variable bindings. These concepts are very specific to Blazor and won’t work outside of it. So while it is Razor syntax, it is a very specific flavor of it that enables the client-side logic to be executed.

These things won’t work for purely server-side and server-ren

[2019-04-02 08:24] yllongboy opened #8984 "IHubProtocol.d.ts(1,1): error TS2688: Build:Cannot find type definition file for 'node'."
### Describe the bug
after updating aspnet/signalr to 1.1.2, my project now fails to build due to the error below.
There were no changes in my code except the update of signalr. Even reverting back to old version still throws the same error.

[2019-04-02 08:39] SteveSandersonMS opened #8985 "Clean up UriHelperBase and family"
See the thread at https://github.com/aspnet/AspNetCore/pull/8911#pullrequestreview-221045960

Although the typical customer-consumed API surface is OK, the internal API around initialization doesn't really make sense, and is a constant source of churn.

Next time we have any cause to work on `UriHelperBase` or things derived from it, we should attempt to understand why we've been fighting against

[2019-04-02 08:57] SteveSandersonMS opened #8986 "Clean up Components.Browser.JS"
The Components TypeScript code has some design and maintainability issues:

 * Structure is oriented around consumption via `<script>` tag only. Even if we published it as an NPM package, developers couldn't consume it that way because it doesn't export any "start" function you could import and call
 * Extensibility points use are based on globals attached to `window.Blazor` instead of being optio

[2019-04-02 09:04] nolisj commented on #5608
@kakins , that's interesting. It seems then that Resharper is causing this issue in our cases.

[2019-04-02 09:28] fryg123 commented on #4733
I am also having this problem。
ERROR：An existing connection was forcibly closed by the remote host   at System.IO.Pipelines.PipeCompletion.ThrowLatchedException()\r\n   at System.IO.Pipelines.Pipe.GetReadResult(ReadResult& result)\r\n   at System.IO.Pipelines.Pipe.GetReadAsyncResult()\r\n   at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.Http1MessageBody.PumpAsync()\r\n   at System.IO.Pi

[2019-04-02 09:46] FinkoAI commented on #3479
I've the same issue in our environment. Is there any way to avoid this exception at least temporary. An also, what is the initial reason of this issue?

[2019-04-02 10:02] benaadams opened #8987 "[CI Failure] FunctionalTests.GlobbingAppTests.RenameCompiledFile"
Seen on macOS and Ubuntu

Microsoft.DotNet.Watcher.Tools.FunctionalTests.GlobbingAppTests.RenameCompiledFile
[code]

[2019-04-02 10:29] meavk commented on #4629
Faced same issue today. As it turns out, in the controller where I dynamically added new scheme, IPostConfigureOptions<OpenIdConnectOptions> was resolved to EnsureSignInScheme<TOptions>>. As a work around, created a new instance of OpenIdConnectPostConfigureOptions and called .PostConfigure(options) explicitly

        public AuthenticationController(
            IAuthenticationSchemeProvider sche

[2019-04-02 11:29] yllongboy commented on #8984
Resolved!

It turns out VS 2017 is doing the compile for all ts files. I had it disabled by adding 'TypeScriptCompileBlocked' in my csproj file.

<PropertyGroup>
   <TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>
</PropertyGroup>

Cheers!

[2019-04-02 11:29] #8984 closed

[2019-04-02 11:34] benaadams commented on #8987
Seems to be failing all recent PRs

[2019-04-02 12:47] farhadibehnam opened #8990 "How to send a offline message by asp.net core signalR?"
I'm building a chat web application. I can push an online message to a user, but I can't push an offline message, of course, I google it, and I figured out in the old version of signlar we can't push offline message I don't know. Can the new version of signalr push an offline message? If it can't do. How can I implement an offline message by asp.net core signlar?

[code]

[2019-04-02 13:44] Stamo-Gochev opened #8991 "Cannot navigate to a controller action with the name "Async""
### Describe the bug
Hitting a route, whose action is called "Async" does not work with ASP.NET Core 3.0.

The problem is reproducible with the template MVC project that can be created from VS 2019, but a sample is added for reference at:

https://github.com/Stamo-Gochev/aspnet-3.0-async-route

The `Async` action is added in https://github.com/Stamo-Gochev/aspnet-3.0-async-route/blob/master/asp-ne

[2019-04-02 14:19] SteveSandersonMS opened #8992 "Clean up ComponentsApp.App/.Server to remove E2E test cases"
The intention for `ComponentsApp.*` is to be a sandbox-type app. It should be more or less the same as a default out-of-the-box template project, except it's wired up with project references to the framework instead of package references. This is so we can use it for trying out scenarios during development.

The E2E test cases should be in the `BasicTestApp` instead (which maybe could be renamed -

[2019-04-02 14:34] dougbu commented on #8987
@aspnet-hello triage https://dev.azure.com/dnceng/public/_build/results?buildId=140196

[2019-04-02 15:18] coultonluke commented on #8918
Thanks for taking the time to respond. I don't understand why it would be taking the `Start` action name when the URL is being generated in the `Question` action and not `Start`. Shouldn't the ambient action be the name of the action that you are generating the redirect within or the default from the route if it is not supplied?

I have created a ASP.NET Core project to demonstrate the issue: http

[2019-04-02 15:31] stweedie opened #8993 "Empty array in config json file results in null class property"
### Describe the bug
Empty array in config json file results in null class property

### To Reproduce

appsettings.json
[code]

Startup.cs (ConfigureServices method)
[code]

### Expected behavior
in the above example, 'nullValue' would be null, 'values' should be an empty enumerable, and 'workaround' should be an enumerable with 1 value.

### Additional context
There was an issue filed about this

[2019-04-02 15:40] anurse commented on #8836
@pakrym mentioned that the versions have to align exactly for the framework to knock it out, so it sounds like the misalignment is the problem, regardless of the direction. I'll assign to @JunTaoLuo then to look at when he's back in.

[2019-04-02 15:45] ttutisani commented on #4707
I'd like to join the "party".
In our code, we do:
[code]
Nothing synchronous aginst the request stream. We get the error Reading the request body timed out due to data arriving too slowly. See MinRequestBodyDataRate.

Any findings that could help us? I read the thread above and it sounds like the root cause is unknown so far.

[2019-04-02 15:46] anurse commented on #8974
This is quite straightforward and seems like it adds plenty of value for very little cost. Let's do it.

We should make sure to support `info` **and** `information` (along with all the other names). And update the config doc as part of this work.

[2019-04-02 15:48] anurse commented on #4399
Yeah, we originally had `StreamBufferCapacity`. We can go back to that.

[2019-04-02 15:50] anurse commented on #8590
Ok. Still want to sync, but that helps me understand the context and timing. Is there a doc or spec describing the change? Mostly, I'm just trying to figure out what the work **is** since that doesn't appear to have been described here, and if you want to use this to track that work it would certainly be nice to know what it is that actually needs to be done (even if you're just doing it) ;)

[2019-04-02 15:52] anurse commented on #8987
Yeah, we've been having some issues with dotnet-watch tests. Looks like @dougbu has been getting the relevant tests out of the way.

[2019-04-02 15:53] BrennanConroy commented on #8590
https://github.com/Azure/azure-signalr/pull/470 FYI

[2019-04-02 15:58] ttutisani commented on #4707
So, I'm looking at [this](https://github.com/aspnet/KestrelHttpServer/issues/2855). Has anybody tried setting a lower value on `MinRequestBodyDataRate`?
Also, our application deals with slow network connections, indeed (by design). So maybe we should instruct the front end to retry when the connection is improved? Again, this may apply to only certain kinds of apps, and perhaps we are among them.

[2019-04-02 16:27] davidfowl commented on #8991
See https://github.com/aspnet/AspNetCore/issues/4849

cc @Eilon @pranavkm (We didn't make an announcement for this)

[2019-04-02 16:29] davidfowl commented on #8990
There's no support for offline messages. You need to write that logic yourself. You have to keep track of what users are offline or online using the connection lifetime events, then you need to store the data you want to reply when that user comes online. Then you need to send that data to the user when they come back online.

[2019-04-02 16:30] pranavkm commented on #8991
https://github.com/aspnet/AspNetCore/issues/4849#issuecomment-462976517 😄 I can do a thing.

[2019-04-02 16:31] pranavkm commented on #8991
@Stamo-Gochev there's a flag to turn off this behavior if you'd like: `MvcOptions.SuppressAsyncSuffixInActionNames`.

[2019-04-02 16:31] #8991 closed

[2019-04-02 16:34] danroth27 commented on #8954
@SteveSandersonMS Will support for `key` address this?

[2019-04-02 16:35] danroth27 commented on #8953
Thanks for submitting this issue! We do our best to respond to all questions, but you may get a faster response by posting to [StackOverflow](https://stackoverflow.com/questions/tagged/blazor).

[2019-04-02 16:36] danroth27 commented on #8950
@SteveSandersonMS Are there any additional steps to reproduce your demo of attaching VS to a client-side Blazor app?

[2019-04-02 16:40] danroth27 commented on #8937
You can pass a `DotNetObjectRef` to JS and then invoke methods on it. See https://docs.microsoft.com/en-us/aspnet/core/razor-components/javascript-interop?view=aspnetcore-3.0#invoke-net-methods-from-javascript-functions.

[2019-04-02 16:40] #8937 closed

[2019-04-02 16:45] danroth27 commented on #8913
@javiercn We think your recent PR (#8911) address these questions. If you think there are remaining issues that should be address, please open specific issues for those topics.

[2019-04-02 16:45] #8913 closed

[2019-04-02 16:47] danroth27 commented on #8912
This should now be fixed in Preview4.

[2019-04-02 16:47] #8912 closed

[2019-04-02 16:50] nvmkpk commented on #7902
The project/folder name issue is reporeted here: #6155

[2019-04-02 16:54] danroth27 commented on #8328
This was a known issue with previous release that prevented the Mono IL linker from running unless .NET Core 2.2 was also installed on the machine. This has been fixed for the next update.

[2019-04-02 16:54] #8328 closed

[2019-04-02 16:55] danroth27 commented on #8296
Closing as we need more detailed steps in order to reproduce and investigate this issue. If you're still having this problem please open a new issue with clear steps to reproduce the problem.

[2019-04-02 16:55] #8296 closed

[2019-04-02 16:56] #4671 closed

[2019-04-02 16:59] tmcentee commented on #8296
Sorry to comment right after closing, but were my instructions not enough to go off of?

[2019-04-02 17:01] danroth27 commented on #8031
Duplicate of #6357

[2019-04-02 17:01] #8031 closed

[2019-04-02 17:01] SteveSandersonMS commented on #5463
Closing as duplicate of #6357

[2019-04-02 17:01] #5463 closed

[2019-04-02 17:01] danroth27 commented on #6357
Proposed content:

[code]

[2019-04-02 17:02] NTaylorMullen opened #8996 "MvcTemplate_NoAuthImplAsync F# fails due to improper C# version for runtime compilation"
@dougbu is disabling the test and @pranavkm said he'd fix it.

Context: https://dev.azure.com/dnceng/public/_build/results?buildId=140479&view=logs&jobId=bfccef3f-45d4-504d-9a7f-a8a74922e6bf&taskId=827e1111-9453-57d1-4bdf-c04f18c90265&lineStart=13166&lineEnd=13167&colStart=1&colEnd=1

@pranavkm feel free to fill in any additional project/milestone/labels

[2019-04-02 17:04] gfoidl commented on #8978
Especially on small string-lengths, as the cost for the delegate invocation may be quite high in relation to actual work. `new string(Span)` may be faster in these cases.

[2019-04-02 17:05] javiercn commented on #8913
My work makes it a bit easier, but there are things still to consider.

This is orthogonal to my changes and I'm not sure if it needs to be addressed. @rynowak will know.

[2019-04-02 17:09] ryanbrandenburg opened #8997 "Add tests for Razor Class Library"
We don't test that the RazorClassLibrary actually compiles at the moment, we should do so.

[2019-04-02 17:12] SteveSandersonMS commented on #8071
That's true, because what we're sending to the browser isn't HTML text, but rather are efficiently binary-serialized instructions that perform minimal updates on the DOM by diffing successive UI states. It is more optimized around production runtime than development time at this point.

Longer term we aim to restore the "auto recompile" feature we used to have, whereby each time you press "reload"

[2019-04-02 17:12] #8071 closed

[2019-04-02 17:15] tebeco commented on #8952
@shirhatti

would really like to do a Wireshark capture
I'm using a laptop (so Wifi) and using localhost for kestrel
on a laptop that has now ~6-8 Network adapter

what's the best way to have a clean and nice capture ?

also what capturing filter should i use to filter what you need ?

[2019-04-02 17:16] Eilon commented on #8939
Hmm hard to guess from this information. One common cause of sudden termination of a process is un-awaited async code that throws an exception. The exception can be thrown in a background thread, and if it's uncaught, the whole process will exit.

I'm not sure what effect this code has:

[code]

But calling `.Result` is definitely not a recommended pattern for async code.

[2019-04-02 17:16] anurse commented on #8802
Has anyone reviewed this? @halter73 @mikaelm12 @BrennanConroy ? @bradygaster can you link to the template here, if it's ready for review?

[2019-04-02 17:17] anurse commented on #8681
Still have JavaScript to do here right? Is this going to land for preview 4 (end of this week)?

[2019-04-02 17:21] Eilon commented on #8946
Hi @insinfo , for general questions about how to use ASP.NET Core, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `asp.net-core` tag and possibly also applicable PHP tags (such as something about Laravel or Eloquent)).

[2019-04-02 17:21] #8244 closed

[2019-04-02 17:22] #8034 closed

[2019-04-02 17:22] #8852 closed

[2019-04-02 17:31] pranavkm opened #8998 "[Discussion] Async suffix for controller action names will be trimmed by default"
As part of addressing https://github.com/aspnet/AspNetCore/issues/4849, ASP.NET Core MVC will trim the suffix `Async` from action names by default. This affects routing and link generation.

Consider
[code]

Prior to 3.0, the action will be routeable via `Product/ListAsync`. Link generation would require specifying the `Async` suffix e.g.

`<a asp-controller="Product" asp-action="ListAsync">List</

[2019-04-02 17:34] #7255 closed

[2019-04-02 17:35] carloscds commented on #8945
@Eilon Yes, you can close.
@glennc Yes, I read you blog post. Very usefull, maybe you can add Start/Stop in you sample!

[2019-04-02 17:38] danroth27 opened #8999 "Package Microsoft.AspNetCore.Blazor.Cli 0.9.0-preview4-19201-04 is not compatible with netcoreapp2.2"
Repro steps:
- .NET Core 3.0 SDK: 3.0.100-preview4-011022
- Blazor VSIX: 16.0.19201.4
- Create new Blazor app
- Workaround: update csproj

[code]
- Build and run

Actual result:

Package Microsoft.AspNetCore.Blazor.Cli 0.9.0-preview4-19201-04 is not compatible with netcoreapp2.2 (.NETCoreApp,Version=v2.2). Package Microsoft.AspNetCore.Blazor.Cli 0.9.0-preview4-19201-04 supports: netcoreapp3.0 (.NE

[2019-04-02 17:39] danroth27 commented on #8999
@SteveSandersonMS

[2019-04-02 17:39] sgjsakura commented on #8998
Tip: In your code sample you missed the `Task` wrapper for return type.

Best wishes~

[2019-04-02 18:00] manigandham commented on #8998
Why? Adding magic to change names seems like a source of bugs. There's no reason to use the `async` suffix in the first place for all of the actions.

[2019-04-02 18:04] poke commented on #8998
@manigandham See the linked issue for details. The code fix to make a method asynchronous adds the `Async` suffix to the method name.

Note that there's not really any magic going on. The generated action name will just omit “Async” at the end. And remember that the framework already does something similar for controller names.

[2019-04-02 18:05] Eilon commented on #8945
Oh I guess we'll keep open because this is a doc issue now.

[2019-04-02 18:18] grprakash commented on #8998
Meaningful conventions are not magic. Its been very useful in situations like "Controller", "Attribute" etc

[2019-04-02 18:20] jkotalik commented on #8809
Sdk is updated!

[2019-04-02 18:24] NTaylorMullen commented on #8809
@jkotalik it got updated in the AspNetCore-Tooling repo as well? (asking because that's what this issue is for)

[2019-04-02 18:30] jkotalik commented on #8809
My bad, yes it looks like it hasn't been updated in tooling.

[2019-04-02 18:58] blowdart commented on #8973
The Data Protection on the plain falls mainly on Javier.

[2019-04-02 19:22] dougbu commented on #7500
91dcbd44c1

[2019-04-02 19:22] #7500 closed

[2019-04-02 19:28] damianh commented on #8951
I'll see if I can take a look

[2019-04-02 19:33] #8942 closed

[2019-04-02 20:20] tonyatl commented on #8980
i have the same problem on windows data center 2016 iis 10. i created vs 2017.9 asp.net .net core mvc application - no changes. it runs successfully on windows 10 iis but not on server. i am using asp.net core 2.2.3 runtime. i am running DotNetCore.2.0.8-WindowsHosting and httpPlatformHandler_amd64 and dotnet-hosting-2.2.3-win. the application starts as a kestrel process - ie i run the exe of my a

[2019-04-02 20:27] Genbox commented on #8998
In case there is an `Index` and `IndexAsync` action, which one will take precedence?

[2019-04-02 20:48] manigandham commented on #8998
Wouldn't it be better to update the code fix itself? The `async` suffix convention seems outdated since async is the majority and actions aren't called by users directly anyway.

[2019-04-02 20:58] #8922 closed

[2019-04-02 21:14] miroslavp commented on #5545
Does that mean that one day when we are able to access the browser APIs directly from webassembly and we no longer need to write js,  we will still rely on js interop for the event propagation and preventDefault? I thought js interop is a temporary solution until webassembly gets mature enough and we get rid of all the js.

[2019-04-02 21:44] javiercn opened #9006 "Dynamically registered components"
* Currently we require that you register components statically with the hub when they are not being prerendered.
  * We expect all the components to be present in the markup when we start the circuit.
  * We can leverage the infrastructure for prerendered components to invert the flow of information and dynamically register the components from within the page/view
    * We do this by creating a ci

[2019-04-02 21:45] javiercn opened #9007 "Browser.JS typescript improvements"
* We added eslint to our typescript project.
* We should configure a sensible ruleset that defines our style and rules.
* We should eslint in autofix mode to clean up what we can.
* We should fix the remaining issues as we modify the codebase or do a pass to fix all the issues.

[2019-04-02 21:46] javiercn opened #9008 "Better client-side and server-side logging improvements"
* We added logging to the client side.
* We should add more logging in places where there is not enough.
* We should allow users to configure the login level.

[2019-04-02 21:47] javiercn opened #9009 "Error UI"
* When the application errors out we don't produce any visual indication (other than the console).
  * We should display some UI when an error ocurs in the server so that developers can better visualize errors.

[2019-04-02 21:48] javiercn opened #9010 "Provide a custom exception for throwing when trying to do things that require the client to be connected"
Create a custom exception for throwing when trying to perform actions that require the client to be connected.

[2019-04-02 21:49] javiercn opened #9011 "Move additional tests out of Components.App and into BasicTestApp"
The app is meant to be similar to the default template experience but with packages

[2019-04-02 21:52] HaoK commented on #8356
https://github.com/aspnet/AspNetCore/pull/8577

[2019-04-02 21:52] #8356 closed

[2019-04-02 21:53] #5718 closed

[2019-04-02 22:11] johnayoub opened #9012 "Azure Storage Data Protection SAS token expiration"
### Is your feature request related to a problem? Please describe.
Currently the extension method for persisting the keys to Azure Storage using a sas token will run into issues when the sas token has expired and there's no mechanism to renew it.

### Describe the solution you'd like
I would recommend exposing the `PersistKeystoAzureBlobStorageInternal` method so that a new sas token could be fetc

[2019-04-02 22:33] #6887 closed

[2019-04-02 22:34] #5624 closed

[2019-04-02 22:58] danroth27 opened #9013 "Find All References for model type not showing up after scaffolding Razor Pages"
.NET Core 2.2 SDK: 2.2.202
VS2019

[WebApplication2.zip](https://github.com/aspnet/AspNetCore/files/3036185/WebApplication2.zip)

Repro steps:
- Open the attached project
- Right click on the *Pages/Products* folder and select Add -> Razor Page
- Scaffold Razor Pages using Entity Framework (CRUD)
- Specify the `Product` model type and the existing data context
- Example the CodeLens annotations on

[2019-04-02 22:58] danroth27 commented on #9013
@rynowak

[2019-04-02 23:12] pranavkm commented on #8996
Investigated. This requires 2 sets of changes

1) Assume CSharpLangVersion= `Preview` when no LangVersion is specified by the project.
2) Call `SetCSharpLanguageVersion` on the `RazorProjectEngineBuilder` when constructing the engine.

The API will become available once @dougbu's PR goes in.

[2019-04-02 23:13] NTaylorMullen opened #9014 "dotnet watch run does not listen to Razor file change events on disk"
### Describe the bug
Changing Razor files in a project does not result in `dotnet watch run` re-triggering `run`.

### To Reproduce
Steps to reproduce the behavior:
1. Open VSCode
2. Open a ASP.NET Core web project
3. In the terminal window type `dotnet watch run`, wait for it to boot
4. Change a `.cshtml` or `.razor` file
5. See `dotnet watch run` not do anything

### Expected behavior
Server is

[2019-04-02 23:16] BrandonPotter commented on #4707
I did try the following in `Startup.cs` `ConfigureServices` method...

[code]

Prior to making this change, I had asp.net core containers in Kubernetes that were crashing/restarting 90x an hour, with the last message in the container log being the `BadHttpRequestException` stack trace. (As @davidfowl said above, this seemed really odd because I would expect this exception to occur at request level

[2019-04-02 23:20] HaoK commented on #8186
PR https://github.com/aspnet/Scaffolding/pull/977

[2019-04-02 23:32] mkArtakMSFT commented on #9013
@NTaylorMullen can you please have a look at this? Thanks!

[2019-04-02 23:58] jkotalik commented on #7862
Nvrm, I don't believe this ever worked. The problem is that the M.A.Server.IIS packages expects both 32 and 64 bit dlls to be built, which requires you to build the sln with both bitnesses. I'm trying to understand what the differences are between build.cmd vs sln build here.

[2019-04-03 00:18] clement911 commented on #4707
Good to hear that some are finding solutions.
Personally, I don't like to apply work arounds I don't really understand without understanding the issue first.

As far as I understand, under heavy load, the "Reading the request body timed out due to data arriving too slowly" error is not the real cause. It is a consequence of the system being stressed.
What I still haven't figured out is WHY the sys

[2019-04-03 00:21] rynowak commented on #8898
https://github.com/aspnet/AspNetCore/tree/rynowak/startup-analyzer

[2019-04-03 00:22] clement911 commented on #4707
We've had to upscale our azure instances even though they look healthy, just because we get tons of these, as well as 'Connection forcibly closed' and 'Connection processing ended abnormally' errors.

[2019-04-03 00:48] tiayi commented on #4825
Very useful, sometimes we use a complex type as an action input parameter(in controller) worked with `ModelBindProvider`, but the got a terrible experience when use API Explorer.

Please consider below points:
1. Raw input type
2. Multi-input as one action input parameter
[code]
3. ModelValidation

    No need skip auto model validation after CustomerModelBinder Success.

    You know the sub prop

[2019-04-03 02:12] halter73 opened #9016 "Add ReconnectPolicyBuilder to SignalR TS client"
Epic #8797

See https://github.com/aspnet/AspNetCore/pull/8566/files#r266168117

[code]

We'd have to consider how to best handle conflicting options being configured.

[2019-04-03 02:20] halter73 opened #9017 "Allow IReconnectPolicy.nextRetryDelayInMilliseconds to return a promise in the SignalR TS client"
Epic #8797

See https://github.com/aspnet/AspNetCore/pull/8566/files#r269656331

The following is the current signature for IReconnectPolicy.nextRetryDelayInMilliseconds

[code]

The proposal is to change it to:

[code]

If a promise is returned instead of a number, we'd await the promise instead of the set number of milliseconds.

[2019-04-03 02:22] HaoK commented on #8012
Initial distilled diagnostic numbers for `dotnet publish -v diag` on various types of projects: -diag prints A LOT which is why everything is so slow.

ResolveProjectReferences/our msbuild stuff seems to be the main culprit and belongs to us

# Publish target only times
`security Identity.ExternalClaims sample`: 297840 ms
`MusicStore` 256603 ms
`signalr SocialWeather sample`: 18251 ms
`servers Sam

[2019-04-03 02:23] TanvirArjel commented on #8931
@danroth27 Almost everybody (including me) is wanting it `.blazor` instead `.razor` then why are you wanting to stick to `.razor` individually. Is there any technical challenges for changing this? or just this is  you and your team preference?

Thank you.

[2019-04-03 02:29] davidfowl commented on #9017
Shouldn't this part of the the reconnect epic cc @anurse

[2019-04-03 03:20] z5616342 commented on #4527
I resolved the warning

[2019-04-03 04:17] mukeshmuvva commented on #1920
how can i  configure the ASP.NET MVC Core application to use On-Perm Authentication using WSFed.

[2019-04-03 04:29] NTaylorMullen commented on #8972
https://github.com/aspnet/AspNetCore-Tooling/commit/2dd34b8dd82a3214ba9242ee627ba13dc55e915a

[2019-04-03 04:29] #8972 closed

[2019-04-03 05:22] dougbu commented on #8319
edb91d0f

[2019-04-03 05:22] #8319 closed

[2019-04-03 05:31] rynowak commented on #9014
https://github.com/aspnet/AspNetCore/blob/master/src/Tools/dotnet-watch/src/assets/DotNetWatch.targets#L58

[2019-04-03 05:35] rynowak commented on #9014
I wonder if this should honour `UpToDateCheckInput` since we already have to set this for VS: https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Sdk.Razor.CurrentVersion.targets#L303

[2019-04-03 05:36] rynowak commented on #9006
What is this issue supposed to track? Didn't you already do all of these things? 😆

[2019-04-03 05:37] rynowak commented on #9009
Dupe of: https://github.com/aspnet/AspNetCore/issues/8613

[2019-04-03 05:39] javiercn commented on #9006
@rynowak The case where you don't prerender them.

[2019-04-03 05:40] javiercn commented on #9006
Just

[code]

[2019-04-03 05:40] rynowak commented on #9006
Ah gotcha. So this is the experience for the case where you just render the markers during the server-side render?

[2019-04-03 05:40] javiercn commented on #9006
Yep

[2019-04-03 05:54] Morcatko commented on #8998
I agree with @manigandham. I don't believe .NET (or any framework in general) should be driven by "bugs" in its code fixes, but the other way.
Another thing - this fixes code fix vs route issue, but breaks case when someone uses `nameof(method)` (for whatever reason)

[2019-04-03 06:14] danroth27 opened #9018 "Update the Blazor VSIX icon to match the Blazor templates"

[2019-04-03 06:19] danroth27 commented on #9018
@mkArtakMSFT We should get this done for Preview4

[2019-04-03 06:52] rsmmukesh opened #9019 "Controller not hitting and no response from server, Browser keep loading"
Hi,
Controller not hitting and no response from server, Browser keep loading .

To reproduce the issue, just download the attached application, then run the application. then you will get home page, it contains a text box and file uploader. Just click submit button. controller will not hit.

Then problem is when i use file , controller is hitting if i remove the below code from the BModel class
`p

[2019-04-03 06:58] BlueMarmalade commented on #8998
what if you have two methods with the same names; one is async and one is not? Isn't it strange to have to rename the synchronous method to something completely different? (But maybe i'm just not getting it ;P)

[2019-04-03 07:57] moodya opened #9020 "Host grpc service in iis or as an app service?"
Is it possible to do this? If so how?

---

**2022/08/18 Update - @JamesNK**

Available in most regions: https://azure.github.io/AppService/2022/08/16/A-Heavy-Lift.html 🥳

---

**2022/05/23 Update - @JamesNK**

Azure App Service supports gRPC (preview): https://azure.github.io/AppService/2022/05/23/gRPC-support-on-App-Service.html 🎉

---

**2021/12/16 Update - @JamesNK**

**User voice issue**

~Th

[2019-04-03 08:45] srinudhulipalla opened #9021 "Why processPath attribute of aspNetCore tag need full dotnet path under web.config?"
I am using Asp.Net Core 2.2 and noticed a weird situation when I deployed my build to server in IIS.

Before deploying the application to IIS, just to make sure I ran the below command:

My app was deployed to http://localhost:5000 and I can browse the app without any issue.

Later I have hosted the app in IIS and when I browse the app, got an error. And finally I was able to fix the issue by prov

[2019-04-03 08:54] TehWardy opened #9022 "Please fix the referencing issues flagged by VS"
### Describe the bug
This appears to be a problem throughout the .Net Core ecosystem.
every part of .Net Core explicitly depends on older versions of assemblies instead of just having a minimum version resulting in me getting a lot of build warnings for simply being up to date with my project references.

### To Reproduce
Steps to reproduce the behavior:
1. Using version 2.* of ASP.NET Core
2. Cre

[2019-04-03 09:13] ilanthendral opened #9023 "Relative LaunchUrl in launchSettings.json and KestrelServerOptions"
### Description
If relative url is specified in LaunchUrl, say api/Status, then this gets appended to the applicationUrl for the browser instead of the KestrelServerOptions.

### Reproduction
Steps to reproduce the behavior:
[code]
Kestrel currenty launches http://localhost:6000/api/Status.

### Expected behavior
Browser should launch with http://localhost:4001/api/Status which configured in the K

[2019-04-03 09:25] ilanthendral commented on #9021
I think adding C:\Program Files\dotnet\ to environment path variable help ?

`set PATH=%PATH%;C:\Program Files\dotnet\`

[2019-04-03 09:50] adrianwright109 opened #9024 "Can't build AspNetCore source with VS 2019 RTM"
When I follow the instructions in `docs/BuildFromSource.md` and run `.\restore.cmd` it tells me that I don't have the correct version of Visual Studio 2019 installed"

The screenshot below shows I have Visual Studio Community 2019 16.0 RTM installed.

![image](https://user-images.githubusercontent.com/47532258/55468482-5c960a80-55fb-11e9-8c58-6fb80f2d2064.png)

If I run `.\eng\scripts\InstallVisua

[2019-04-03 09:51] vuducthuong1102 commented on #6111
You install dotnet-hosting-2.2.3-win.exe. This worked for me.

[2019-04-03 10:27] #8961 closed

[2019-04-03 11:08] srinudhulipalla commented on #9021
environment variables can detect the dotnet path. If I do below info command it works, seems there is other issue aground it.
dotnet --info

[2019-04-03 11:45] staff0rd commented on #6300
Here's a repro of this issue, inside a docker container, [following these steps](https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/blazor/get-started?view=aspnetcore-3.0&tabs=netcore-cli).

**REPRO**
[code]

**EXPECTED**: Runs without exception
**ACTUAL**: Following exception is thrown

[2019-04-03 12:03] abdulkareemnalband commented on #6102
Is this fix available on 2.2 branch?

[2019-04-03 12:06] poke commented on #6102
@abdulkareemnalband Change 3e5b37f22cd7ba2c81b1ac69d55ffae7ea09423f is included since version v2.2.2.

[2019-04-03 12:23] Chaz6 commented on #8328
Thank you.

[2019-04-03 14:36] drauch opened #9029 "Why is x86 and not AnyCPU the default platform target for ASP.NET Core projects?"
Why is x86 and not AnyCPU the default platform target for ASP.NET Core projects?

We are targeting the full .NET framework and are wondering if we run into any problems if we switch to AnyCPU as the platform target.

[2019-04-03 14:47] koeltp opened #9030 "git clone latest code,open error"
D:\Code\OpenSource\HelloNetCore\AspNetCore\src\Security\Authorization\Core\src\Microsoft.AspNetCore.Authorization.csproj : error  : 项目系统打不开项目文件，因为该文件缺少一些关键导入或找不到引用的 SDK。

详细信息:
无法找到 .NET Core SDK。请检查确保已安装此项且 global.json 中指定的版本(如有)与所安装的版本相匹配。

[2019-04-03 14:51] #9030 closed

[2019-04-03 14:56] kosancicivan opened #9031 "SignalR Java client: Timed out waiting for the server to respond to the handshake message"
After this fix #8429, I am encountering another possible error. Because android has strict networking limitations when app goes to background, and cause I also want to save resources, I am starting hubconnection in onResume() callback of the activity, and stopping it in onPause() callback. Also, I am receiving data for showing map locations and I only need hubConnection open while user is visually

[2019-04-03 15:16] BrennanConroy commented on #8012
SocialWeather can definitely be removed from normal builds. Do we have a csproj setting to tell our builds not to include a project?

[2019-04-03 15:57] SteveSandersonMS commented on #9006
Before implementing this, let's try to come to a decision about the method namings for the three cases:

 * static
 * interactive without prerendering
 * interactive with prerendering

[2019-04-03 15:58] mkArtakMSFT commented on #9022
Thanks for contacting us, @TehWardy.
We do plan to address the issues you'd get when creating a new project from one of our default in 3.0 release. Some of that work is tracked by https://github.com/aspnet/AspNetCore/issues/5442.
As for the issues you get from referencing other packages, those are valid warnings and I'm not sure it makes sense for us to hide those.

@rynowak, any other thoughts?

[2019-04-03 15:59] marouaneterai commented on #2202
When sending data to an endpoint, there is a difference between setting the Id to null and not setting an Id attribut at all.
In my case, when i send data like this, an Image object will be created with those data, and will be saved in the database correctly with a new Id:
[code]
but when i send data like this:
[code]
This will instantiate a new object and save it in database but without the data

[2019-04-03 15:59] SteveSandersonMS commented on #9007
If you don't mind, I'm going to fold these notes into #8986 so there's less to keep track of.

[2019-04-03 15:59] #9007 closed

[2019-04-03 15:59] #7885 closed

[2019-04-03 16:00] NTaylorMullen commented on #9014
Ah, interesting. Ya I think that'd be wise to do that.

[2019-04-03 16:02] isaac2004 opened #9034 "Worker Service Generates Error writing to EventLog"
### Describe the bug
Creating a Worker Service that logs to EventLog generates the below error

[code]
[code]

### To Reproduce
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview3-010431
 Commit:    d72abce213

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-prev

[2019-04-03 16:07] SteveSandersonMS commented on #9009
Closing as dupe then. The other bug has a lot more detail.

[2019-04-03 16:07] #9009 closed

[2019-04-03 16:08] SteveSandersonMS commented on #9011
Duplicate of #8992

[2019-04-03 16:08] #9011 closed

[2019-04-03 16:13] mkArtakMSFT commented on #9022
Also, make sure you reference compatible packages, as 2.1 and 2.2 are not compatible and you'd get valid warnings in case you reference packages targeting different frameworks.

[2019-04-03 16:13] #9022 closed

[2019-04-03 16:16] mkArtakMSFT commented on #9008
We do have logging already, so nothing specific actionable here.

[2019-04-03 16:19] mkArtakMSFT commented on #8954
This is dupe of #8232

[2019-04-03 16:19] #8954 closed

[2019-04-03 16:21] SteveSandersonMS opened #9035 "Support debugging client-side Blazor from VS"

[2019-04-03 16:21] mkArtakMSFT commented on #8950
Closing as this is a non-supported scenario yet but we will be doing that in the future: #9035

[2019-04-03 16:21] #8950 closed

[2019-04-03 16:24] mkArtakMSFT commented on #7962
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-04-03 16:25] mkArtakMSFT commented on #7958
Thanks @MarkStega. This seems to be a `Mono` issue. Closing as it's not actionable for us.

[2019-04-03 16:25] #7958 closed

[2019-04-03 16:29] mkArtakMSFT commented on #7952
Thanks for contacting us, @arun-cm.
This should be working with the Blazor 0.9 release. If you still face this issue, with it, please reopen a new issue with updated details and a repro.

[2019-04-03 16:29] #7952 closed

[2019-04-03 16:31] mkArtakMSFT commented on #7908
Thanks for contacting us, @markdchurchill.
We plan to switch away from SimpleJSON and that will eliminate this issue.

[2019-04-03 16:31] #7908 closed

[2019-04-03 16:32] mkArtakMSFT commented on #7902
Thanks for contacting us, @ErikApption.
This will be fixed in VS 16.1 release.

[2019-04-03 16:32] #7902 closed

[2019-04-03 16:33] mkArtakMSFT commented on #7898
Thanks for contacting us, @stsrki.
@SteveSandersonMS can you please look into this? Thanks!

[2019-04-03 16:34] mkArtakMSFT commented on #7897
Thanks for contacting us, @legistek.
This is not something we plan to bring support for.

[2019-04-03 16:34] #7897 closed

[2019-04-03 16:36] mkArtakMSFT commented on #7857
Thanks for contacting us, @darren-zdc.
We're going to address this as part of https://github.com/aspnet/AspNetCore/issues/6349 work.

[2019-04-03 16:36] #7857 closed

[2019-04-03 16:37] mkArtakMSFT commented on #7807
@javiercn, is there anything pending here? If so, please update the post to reflect on it.

[2019-04-03 16:38] mkArtakMSFT commented on #7788
Thanks for contacting us, @troncomputers.
This is going to be addressed as part of #9014

[2019-04-03 16:38] #7788 closed

[2019-04-03 16:42] #7784 closed

[2019-04-03 16:45] mkArtakMSFT commented on #7667
Thanks for contacting us, @JulienM28.
We can't help you without more information so we're closing this issue.
One path you can sure take - start from a new project and bring your code.
Otherwise, if you're willing to share your project file, we may be able to suggest something. If so, please file a new issue and do that.

[2019-04-03 16:45] #7667 closed

[2019-04-03 16:45] mkArtakMSFT commented on #7666
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-04-03 16:45] #7666 closed

[2019-04-03 16:47] mkArtakMSFT commented on #7655
@javiercn can you please try to reproduce this? Thanks!

[2019-04-03 16:47] Tratcher commented on #9023
Launchsettings is self-contained, it's not aware of anything in appsettings. Also note that this is VS launching the browser, not kestrel.

You're using VS to run the app, correct?

[2019-04-03 16:49] mkArtakMSFT commented on #7645
Thanks for contacting us, @RobSeder.
This is going to be fixed as part of #8243.

[2019-04-03 16:49] #7645 closed

[2019-04-03 16:50] poke commented on #8998
@BlueMarmalade If you already have two separate actions with the same name but one is `~Async`, then I would highly rethink your design because that seems to be a rather bad idea to begin with.

As for what happens if you have both, I would assume that they both take the same route and as such the first action will win.

[2019-04-03 16:50] mkArtakMSFT commented on #7642
Thanks for your help, @Andrzej-W

[2019-04-03 16:50] #7642 closed

[2019-04-03 16:51] #7575 closed

[2019-04-03 16:54] mkArtakMSFT commented on #6647
Thanks for contacting us, @johngsandiford.
This is not something we plan to do in the near future.

[2019-04-03 16:54] #6647 closed

[2019-04-03 16:55] #6639 closed

[2019-04-03 16:56] #6572 closed

[2019-04-03 16:57] Tratcher commented on #1920
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2019-04-03 16:59] mkArtakMSFT commented on #6428
Thanks for your feedback.
We don't have immediate plans to support Blazor on Electron.

[2019-04-03 16:59] #6428 closed

[2019-04-03 17:03] Eilon commented on #9024
I think VS2019 RTM (incl. Community Edition) are all you should need. But perhaps there's a bug in the setup scripts, which we will investigate.

[2019-04-03 17:03] #6185 closed

[2019-04-03 17:05] Eilon commented on #9020
Hi @moodya , have you checked out the docs at https://docs.microsoft.com/en-us/aspnet/core/tutorials/grpc/grpc-start?view=aspnetcore-3.0&tabs=visual-studio ?

If you're running into a problem, please let us know and we can investigate.

[2019-04-03 17:07] Eilon commented on #9029
Hi @drauch , where are you seeing x86 set in the project? Can you specify which version of ASP.NET Core you're using and the steps to reproduce?

[2019-04-03 17:09] HaoK commented on #8012
Just to be clear I wasn't listing the worst offender apps, I just did a sampling across most of the main areas to check the profiles of several apps to see if there's any obvious patterns in which tasks are taking up all that time.  I don't think SocialWeather is that slow, the apps that depend everything (music store/mvc/identity) take forever

[2019-04-03 17:11] moodya commented on #9020
Yeah I've already built a service that's running as a generic hosted service. I've ported it to the new asp net core 3 template and got it working running on self hosted kestrel, but currently looking at hosting it behind iis and hopefully deploying it as an app service in Azure. I can't get the former (iis) to work.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________

[2019-04-03 17:12] moodya commented on #9020
I can't find any examples of how to do this, so maybe it's not supported yet

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Alain Moody <alainmoody@hotmail.com>
Sent: Wednesday, April 3, 2019 6:11:06 PM
To: aspnet/AspNetCore; aspnet/AspNetCore
Cc: Mention
Subject: Re: [aspnet/AspNetCore] Host grpc service in iis or as an app service? (#9020)

Yeah I've alre

[2019-04-03 17:19] dodyg commented on #8678
I need the following from Microsoft.AspNetCore.Mvc.Internal;

- MvcRouteHandler
- AttributeRouting

https://github.com/OrchardCMS/OrchardCore/blob/d729a2048a4390380d99e7be9f7968ff8f8e9271/src/OrchardCore/OrchardCore.Mvc.Core/ModularTenantRouteBuilder.cs

I am trying to port Orchard Core Framework to ASP.NET Core 3.0

Also from Microsoft.AspNetCore.Mvc.Razor.Internal

- IRazorViewEngineFileProvider

[2019-04-03 17:22] Eilon commented on #9020
@shirhatti - any idea on this?

[2019-04-03 17:35] mukeshmuvva opened #9036 "I have created an asp.net web application with ADFS on premisis authentication this was done by .net framework . we have microservices needs to be consumed in .net framework application we want to provide adfs authentication for .net core web services when trying to create api with asp .net core it is not showing on premisis option"
I have created an asp .net framework web application with ADFS on-premises authentication. we have microservices needs to be consumed in .net framework application we want to provide adfs authentication for .net core web services when trying to create api with asp .net core it is not showing on premisis option

[2019-04-03 17:36] Tratcher commented on #9034
Hasn't Logging.EventLog always done this? I didn't think this was new with generic host or worker template.

[2019-04-03 17:52] guardrex commented on #8664
I'm planning a consolidation of the coverage, too. @shirhatti told me that devs are finding the coverage too split across about three topics. My first PR had it consolidated, but I was overruled. ☹️

For this issue, the coverage is found in the following topics (bold indicates the bulk of the coverage) ...

* https://docs.microsoft.com/aspnet/core/fundamentals/servers/#hosting-models
* https://doc

[2019-04-03 17:52] Tratcher commented on #9034
Yeah, I get the same warning out of a 2.2 web app.
[code]

[2019-04-03 18:08] ajaybhargavb opened #14317 "Verify VSCode works correctly for projects opened directly from a network share"
We had an issue related to this in the past for VS. It'd be good to make sure VS Code doesn't break in this case.

[2019-04-03 18:12] shirhatti commented on #9020
Can't host gRPC in IIS/Azure App Service.
The HTTP/2 implementation of Http.Sys does not support HTTP response trailing headers which gRPC relies on.

[2019-04-03 18:13] pranavkm commented on #8678
@dodyg could you please file a new issue?

[2019-04-03 18:27] AndreasTruetschel opened #9038 "Compile exception when passing null as component attribute"
### Describe the bug
When `null` is put into a components attribute within a .razor/.cshtml file, a compilation error is reported.
Example:
`<NavMenuItem href="/modules" Title="Module" Icon="IconType.ViewDashboard" Match="@(null)">`

The reported error is (freely translated):

`CS0121: The call does not distinguish clearly between the members or properties "RuntimeHelpers.TypeCheck<T>(T)" and "Run

[2019-04-03 18:30] halter73 commented on #9017
The only reason I didn't put this and #9016 in the epic is because there's a very realistic possibility we decide it's not worthwhile to address either these issues. I filed these issues to get them *out* of the auto-reconnect epic so they wouldn't be considered as part of #8709.

Based on my discussions so far, I don't think requiring that nextRetryDelayInMilliseconds returns a number instead of

[2019-04-03 18:31] rynowak commented on #9038
I assume you're seeing this error in the editor, and not when you build from the command line correct?

[2019-04-03 18:53] vanillajonathan opened #9039 "ApiController redirects to login page"
### Describe the bug
When using ASP.NET Identity cookie authentication to protect a API controller that is decorated with the `ApiController` attribute and performing an unauthorized HTTP request, ASP.NET redirects to /Identity/Account/Login?ReturnUrl=%2Fapi%2FFoo instead of just returning a 401 Unauthorized status code and problem details in JSON format.

### To Reproduce
Steps to reproduce the b

[2019-04-03 19:05] AndreasTruetschel commented on #9038
@rynowak Exactly

[2019-04-03 19:20] rynowak commented on #9038
OK cool then. You're seeing this as result of [some hacks](https://github.com/aspnet/AspNetCore/pull/8975) we had to do in preview 3. We added some new/language features in that release but did have a VS release that would update the editor.

This is already fixed for preview 4.

[2019-04-03 19:20] #9038 closed

[2019-04-03 19:24] guardrex opened #9040 "Workaround for Preview3 ANCM/HB installer problem not working"
@anurse @shirhatti The [workaround](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview-known-issues.md#preview-3) of ...

* Uninstall all hosting bundles.
* Install the Preview2 hosting bundle (`dotnet-hosting-3.0.0-preview-19075-0444-win.exe`) at a command prompt with `OPT_NO_SHAREDFX=1 OPT_NO_RUNTIME=1`.
* Stop was/start w3svc. (Tried a full system restart, too.)

[2019-04-03 19:27] shirhatti commented on #9040
Odd. Shouldn't be the case? AFAIK, we verified that it works

Did you just repro it? If so, @jkotalik might have some questions for you

[2019-04-03 19:28] guardrex commented on #9040
Yep ... minutes ago.

[2019-04-03 19:29] isaac2004 commented on #9034
@Tratcher I was under the impression this was fixed at some point. If it is expected behavior, we can close

[2019-04-03 19:29] guardrex commented on #9040
There's no way to just look at it and know if I have the broken one (i.e., from the version perhaps)?

<img width="226" alt="Capture" src="https://user-images.githubusercontent.com/1622880/55507252-da1e4280-561c-11e9-82fe-89834feb7ac5.PNG">

[2019-04-03 19:31] pranavkm opened #9041 "Endpoint routing should complain if you do not have middleware configured"
As part of #8387, we are going to make MVC rely on the Auth and Cors middlewares to perform work rather than rely on filters when endpoint routing is enabled. Doing this is fairly straightforward, we need to ensure that the right endpoint metadata is available, and the middleware is configured.

A fall-out of this choice is that we need to guarantee that the auth or cors middleware was configured

[2019-04-03 19:32] #7155 closed

[2019-04-03 19:36] jkotalik commented on #9040
The version of ANCM you are showing is the one from preview3 (which shouldn't have been installed in the first place?). Did you install the preview3 hosting bundle originally?

Uninstall may be broken with the preview3 hosting bundle due to this issue. Can you see if C:\Program Files(x86)\IIS\Asp.Net Core Module\V2 exists with a dll?

[2019-04-03 19:36] jkotalik commented on #9040
If you have any msi/hosting bundle logs from uninstall of the hosting bundle, can you share those too?

[2019-04-03 19:38] QuickWire commented on #3025
As  @leak  pointed out, an OnEnd event for the session is required when returning licenses back for a session related resource.  I'm fine with an in-memory session cache implementation.
Now I'm going to need to run a background task or something.

[2019-04-03 19:46] guardrex commented on #9040
Yes, I installed the Preview 3 hosting bundle when it came out.

I read your remarks on another issue on how uninstall(s) might not get the Preview 3 ANCM off of the machine.

Stand-by ... I have a bunch of log files from all of my troubleshooting attempts. Let me run the uninstall again so that I can give you a fresh uninstall log.

[2019-04-03 19:50] Poltergeisen opened #9042 "Health Check Custom Log message"
### Is your feature request related to a problem? Please describe.
When health checks are reported as unhealthy they are sent with the following hardcoded string:

[code]

Right now I can only edit the response that is shown when you do a GET request on the health check endpoint, but I also want our logger (using Nlog) to send emails when a service is down. It sends emails but the exception messag

[2019-04-03 19:59] Daniel-Khodabakhsh opened #9043 "On Linux, integration tests using ManifestEmbeddedFileProvider does not work with a specified root parameter"
### Describe the bug
On Linux only, when a test project intended for integration tests of Razor Class Libraries uses [`ManifestEmbeddedFileProvider(Assembly, string)`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.fileproviders.manifestembeddedfileprovider.-ctor?view=aspnetcore-2.2#Microsoft_Extensions_FileProviders_ManifestEmbeddedFileProvider__ctor_System_Reflection_Assembly_S

[2019-04-03 19:59] Daniel-Khodabakhsh opened #26990 "On Linux, integration tests using ManifestEmbeddedFileProvider does not work with a specified root parameter"
### Description
On Linux only, when a test project intended for integration tests of Razor Class Libraries uses [`ManifestEmbeddedFileProvider(Assembly, string)`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.fileproviders.manifestembeddedfileprovider.-ctor?view=aspnetcore-2.2#Microsoft_Extensions_FileProviders_ManifestEmbeddedFileProvider__ctor_System_Reflection_Assembly_System

[2019-04-03 20:52] HaoK commented on #7687
So I can definitely reproduce the issue using your repro app (on 2.2), but the good news is when I create a new app on 3.0 and copy the startup/controller/auth bits over, your repro script returns all 200.  I verified using `3.0.0-preview3-19111-10`

@geirsagberg can you try your app on 3.0 and confirm that its fixed in 3.0 already?

[2019-04-03 20:54] HaoK commented on #7687
I would guess its the AuthZ/Endpoint changes that fixed this behavior in 3.0

[2019-04-03 20:56] guardrex commented on #9040
I emailed them. Those are the log files from running the Preview 3 installer and selecting **Uninstall**.

Why is it that if I delete the `C:\Program Files\IIS\Asp.Net Core Module` folder and run the Preview 2 installer that I don't get that folder and the V2 ANCM back?

I was attempting to follow the procedure of @cole-acepph at https://github.com/aspnet/AspNetCore/issues/8249#issuecomment-470341

[2019-04-03 21:05] anurse commented on #9017
It's still OK to put these in the epic if we're not sure about them, but agreed, we should talk in triage :)

[2019-04-03 21:17] danroth27 commented on #9019
Is there an exception in the ASP.NET Core logs?

This might be a known issue with model binding. @dougbu can you confirm?

[2019-04-03 21:20] danroth27 commented on #8962
@mkArtakMSFT Please assign

[2019-04-03 21:20] danroth27 commented on #8959
@pranavkm Can you take a look?

[2019-04-03 21:26] danroth27 commented on #8110
@pranavkm Is there anything actionable to do here?

[2019-04-03 21:27] jkotalik commented on #9040
Most likely the msi is still installed on the machine somehow. It would be really unfortunate that installing preview3 causes future installs to fail. My guess is that installing the preview2 is not changing anything because the msi version of preview2 is less than the msi version of preview3. @shirhatti for thoughts.

Workaround could be taking a nightly hosting bundle and installing it. If you c

[2019-04-03 21:27] blowdart commented on #8149
@rynowak @HaoK

This is interesting, because you would start with the most secure option, and then punch holes, which is arguable more secure. So I have no problem with an override parameter, as long as it's false by default, but it'd be implemented within MVC and the auth pieces.

[2019-04-03 21:30] danroth27 commented on #8028
This breaking change doesn't seem warranted, so closing.

[2019-04-03 21:30] #8028 closed

[2019-04-03 21:30] danroth27 commented on #8024
@SteveSandersonMS  Thoughts?

[2019-04-03 21:33] blowdart commented on #9039
Override the cookie authentication ecents.

As you're also using identity, it'd be something like

[code]

[2019-04-03 21:33] danroth27 commented on #7909
Nothing to really address here so closing.

[2019-04-03 21:33] #7909 closed

[2019-04-03 21:33] sander1095 commented on #8962
I noticed that if the frontend sent the items as "Items="Foo","Bar"" It also didn't work. Sending it as 2 seperate arguments as noted in the stackoverflow question does work.

It could be that this is a .NET Core issue (or maybe a configuration issue but then maybe the default form data model binding configuration should accept arrays better?) so that could need to be investigated.

In any case, s

[2019-04-03 21:36] danroth27 commented on #7900
On .NET Core 2.2 you can use `LinkGenerator`. Otherwise you need to inject `IUrlHelperFactory` and create one.

[2019-04-03 21:36] #7900 closed

[2019-04-03 21:41] guardrex commented on #9040
<img width="294" alt="Capture" src="https://user-images.githubusercontent.com/1622880/55515080-4c981e00-562f-11e9-86ad-2a5ccf8f1fe6.PNG">

### :tada:

... and we're back up and running now. Thanks @jkotalik! :beers:

[2019-04-03 21:41] #9040 closed

[2019-04-03 21:42] danroth27 commented on #7874
@pranavkm Is there anything actionable here then?

[2019-04-03 21:49] HaoK commented on #8270
@danroth27 most of the test projects are pretty simple to convert to helix.  I don't think ProjectTemplates tests are one of them, similar to IIS tests, this one is going to need someone who knows these tests well to get them working on helix.  I opened the draft PR as a starting point to help that process.

[2019-04-03 21:49] danroth27 commented on #7827
@javiercn @blowdart Which milestone should this go in?

[2019-04-03 21:49] danroth27 commented on #7826
@javiercn @blowdart Milestone?

[2019-04-03 21:51] danroth27 commented on #7679
Nothing planned here - closing.

[2019-04-03 21:51] #7679 closed

[2019-04-03 21:51] danroth27 commented on #7677
We don't plan to support this, but you can call `TryValidateModel` yourself.

[2019-04-03 21:51] #7677 closed

[2019-04-03 21:55] danroth27 commented on #7660
@SteveSandersonMS Any idea what's going on here?

[2019-04-03 21:56] danroth27 commented on #7653
This is expected behavior. The date in the model state wins.

[2019-04-03 21:56] #7653 closed

[2019-04-03 21:58] moataz1991 commented on #8937
i know about that , but in my case i can't callback to static method !
so please help !

[2019-04-03 21:59] bradygaster commented on #8802
@anurse yes - @halter73 provided feedback and i respectfully didn't agree with @BrennanConroy's feedback, but that is primarily because i think `BackgroundService` is like, the second coming and we should make a bigger deal about it. 👍

[2019-04-03 21:59] danroth27 commented on #7628
Thanks for this feedback! Could you please open this issue in the https://github.com/aspnet/docs repo? Closing this issue as this isn't a product change.

[2019-04-03 21:59] #7628 closed

[2019-04-03 22:00] moataz1991 commented on #8937
sorry , found it in the link you provided
I'll try it
Thanks !

[2019-04-03 22:12] shirhatti commented on #9040
Yup. That's exactly what happens. The higher version msi gets cached in %windir%\installer. When you try reinstalling preview2 without uninstalling preview3 first, the msi engine uses the higher versioned cached installer as opposed to the one in the preview2 bundle.

[2019-04-03 22:12] anurse commented on #5926
@davidfowl to investigate the design here to enable `Activity` tracking by default.

[2019-04-03 22:19] anurse commented on #5918
Needs similar design to https://github.com/aspnet/AspNetCore/issues/5926

[2019-04-03 22:23] ryanbrandenburg commented on #7388
@Tratcher does that answer the question/problem here?

[2019-04-03 22:26] anurse commented on #5927
Waiting on an API on Activity to allow us to set the ID when we have one from the hosting server (IIS, etc.). Moved to 3.1 until we have this API.

[2019-04-03 22:28] anurse commented on #5914
@lmolkova will investigate this further and break down into specific work items for ASP.NET Core.

[2019-04-03 22:28] anurse commented on #5928
Closing as there isn't a W3C spec here yet. @SergeyKanzhelev is working on that and we can re-open when that happens.

[2019-04-03 22:28] #5928 closed

[2019-04-03 22:28] SergeyKanzhelev commented on #5928
Let's re-open when W3C has a spec for response headers

[2019-04-03 22:29] guardrex commented on #9040
`--force` switch would've been nice in this case ... i.e., "Idc what you find installer, give me *your files*."

Wonder about offering the module+schema files in the .NET Downloads pages for each release. If something like this ever happens again, the dev can get the actual module and schema files. We can (and do!) document where they go (although I need to check our docs and make sure that the cu

[2019-04-03 22:35] mkArtakMSFT commented on #6582
@glennc and @dougbu please sync up regarding this during your next sync up meeting.

[2019-04-03 22:36] hishamco commented on #8028
Strange!! I see this confusing many including me

[2019-04-03 22:58] danroth27 commented on #8270
@HaoK Got it - makes sense.
@mkArtakMSFT Can we get this assigned to someone? What milestone makes sense to address this?

[2019-04-03 23:04] Behnam-Emamian commented on #8584
@mkArtakMSFT could you please give us more information! how we can run client side on server?

[2019-04-03 23:07] Eilon commented on #9036
Hi @mukeshmuvva , we have a doc on using WS-Fed with ASP.NET Core. It supports both ADFS (on-prem) and Azure AD (cloud). Please follow those steps and let us know if you have any problem.

[2019-04-03 23:07] #9036 closed

[2019-04-03 23:15] Eilon commented on #8894
We'll get in touch with nopCommerce and try to get this resolved with them directly. I'll work on setting up a discussion with them.

[2019-04-03 23:20] Eilon commented on #8880
Hi @dharmeshtailor we're not able to see what specifically is wrong here. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `asp.net-core` tag or contacting [Microsoft Support](https://support.microsoft.com/) for additional assistance.

[2019-04-03 23:20] #8880 closed

[2019-04-03 23:24] Eilon commented on #8739
Hi, batching scenarios are very complex and there is no direct support for them in ASP.NET Core. To properly support this you'll likely need to have custom DI scopes to make sure each sub-request gets its own view of the services, and you'll have to manage those lifetimes.

Unfortunately, this is outside of the scope of what we are able to support in this forum. While we do our best to look throug

[2019-04-03 23:24] #8739 closed

[2019-04-03 23:28] Eilon commented on #4653
This exists now: https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authorization/Policy/src/AuthorizationMiddleware.cs

[2019-04-03 23:28] #4653 closed

[2019-04-03 23:30] Eilon commented on #4127
No plans at this time to add more.

[2019-04-03 23:30] #4127 closed

[2019-04-03 23:33] dougbu commented on #7492
From discussions today:
1. Make the Swagger / OpenAPI project case a _true_ project reference to ensure build ordering
2. Add metadata to ensure client project doesn't get assemblies / types from the server project
3. Call a separate project on the web api project to get the actual file list the project wants to surface
    - do this for gRPC too but skip (1) and (2) for that case
    - or, skip p

[2019-04-03 23:33] Eilon commented on #4673
Closing because there are not current plans to implement this and there doesn't seem to be significant demand for this in comparison to other features.

[2019-04-03 23:33] #4673 closed

[2019-04-03 23:41] Eilon opened #9053 "Template grammar issue in comment for auth options"
Here:

https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/Startup.cs#L107

[code]

Should probably be:

[code]

[2019-04-03 23:43] JamesNK commented on #8918
Hi @coultonluke

I can replicate your issue. The issue is fixed if endpoint routing is disabled in the Startup.cs: `services.AddMvc(options => options.EnableEndpointRouting = false)`. For now I would recommend you do that as a work-around.

I'll investigate further to see whether this is an issue that is fixed in a 2.2 patch or 3.0.

[2019-04-03 23:55] JamesNK commented on #8918
I've confirmed that it is still broken in the latest version of 2.2

I've also confirmed that it works correctly in 3.0 with endpoint routing.

Because there is a simple workaround in 2.2 - disable endpoint routing - I recommend you do that.

[2019-04-03 23:55] #8918 closed

[2019-04-04 01:11] rynowak commented on #8802
I am here to say that this is dope.

[2019-04-04 01:23] JunTaoLuo opened #9055 "Remove hacked manifest workaround for dotnet/core-setup#5665"
Remove the hacked manifest from the src/Framework/src/Microsoft.AspNetCore.App.Runtime.csproj project.

https://github.com/aspnet/AspNetCore/pull/8877/files/57afb6f3041a85d2efb547bfe5d5c7e78d32451c..63dae95a515b2db49c76e420abafd6121cc74878#diff-8f52d42d2d7d5ee604c83806a1049e84R125

Blocked by dotnet/core-setup#5665

[2019-04-04 01:47] amei130 opened #9054 "I can't use the RawSecurityDescriptor class"
### Describe the bug
I can't use the RawSecurityDescriptor class, but I can find the RawSecurityDescriptor class in the API document

UTL: https://docs.microsoft.com/zh-cn/dotnet/api/system.security.access control.rawsecurity descriptor?View=netcore-2.1
### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.1'
2. Run this code '
using System;
using System.Securi

[2019-04-04 01:56] anurse commented on #8802
That's basically your job, right? 😝

[2019-04-04 02:13] rynowak commented on #8802
It's the best way I know how to add value.

[2019-04-04 04:40] pranavkm commented on #9039
cc @DamianEdwards and @davidfowl since this is similar to the diagnostics \ error handling that you recently investigated.

[2019-04-04 05:24] pranavkm commented on #8161
This is needed in preview4 (at least with the current state of things).The WebSDK specifies `AddRazorSupportForMvc`. Some Blazor templates reference the WebSDK, so you now get compilation errors stating it can't find Mvc.

[2019-04-04 05:53] davidfowl commented on #9054
This needs to be moved to dotnet/corefx

[2019-04-04 06:14] rsmmukesh commented on #9019
No exceptions.

[2019-04-04 06:14] dougbu commented on #9019
@danroth27 yes, this is a duplicate of #4802 The fix was in our [3.0.0 Preview 3 release](https://github.com/aspnet/AspNetCore/releases/tag/v3.0.0-preview3-19153-02)

@rsmmukesh thank you for your feedback. We're closing this issue as we think this is fixed in our working code base. Would you be able to try [3.0.0 Preview 3](https://github.com/aspnet/AspNetCore/releases/tag/v3.0.0-preview3-19153-0

[2019-04-04 06:14] #9019 closed

[2019-04-04 06:28] moodya commented on #9020
Thanks for the prompt response. How would you recommend hosting a grpc service in a production scenario at the moment? Also, are you aware of any timescales when a grpc service will be host-able on iis / app service?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sourabh Shirhatti <notifications@github.com>
Sent: Wednesday, April 3, 2019 7:13:23 PM
To: aspn

[2019-04-04 06:35] #7807 closed

[2019-04-04 06:38] drauch commented on #9029
I'm using ASP.NET Core 2.1.x. Steps to reproduce:

* Open VS 2017
* Create a new "ASP.NET Core Web Application" project
* Select .NET Full Framework instead of .NET Core
* Wait for the project being created
* Check out the csproj -> no platform target is specified
* Check out the properties of the project -> go to Build tab -> observe platform target is "x86"

Note: this is not a display-only bug.

[2019-04-04 07:57] javiercn opened #9060 "[Components] Better circuit ids"
* We should use 128 bits of entropy for the ids.
  * We should data protect the bits and put them in an http only cookie.
  * We should hash the bits, protect them and use that protected hash as the id for the circuit.
  * Upon connection/re-connection we should grab the circuitid cookie, we should unprotect it, hash it and compare it to the unprotected bits when starting the circuit.

[2019-04-04 08:20] julienGrd opened #9061 "Supporting calling non-generic instance methods on generic types"
### Describe the bug
I have a generic component wich need some Js interaction. My component is an autocomplete wich listen on the keypress event to launch research. Whe  i try invoke c# method from Js, I have this following Js error
"Error: System.InvalidOperationException: Late bound operations cannot be performed on types or methods for which ContainsGenericParameters is true.
"
### To Reproduce

[2019-04-04 08:29] SteveSandersonMS commented on #7898
I'm afraid I can't investigate or take any action on this, because there's not enough information to know what's going on.

@stsrki, your `<Validation>`, `<TextEdit>`, and `<Feedback>` components are all custom components, so I have no idea what they do or in what way they might be responsible for the behavior you're seeing.

For us to investigate, could you please post a complete and minimal repr

[2019-04-04 08:42] placetobejohan commented on #8999
I was able to solve this by checking the option **Use previews of the .Net Core SDK** under Tools --> Options --> Projects and Solutions --> .NET Core in VS 2019.

[2019-04-04 08:47] #8243 closed

[2019-04-04 08:48] SteveSandersonMS commented on #8999
Fixed with #9028.

[2019-04-04 08:48] #8999 closed

[2019-04-04 08:53] martincostello commented on #4789
Has the underlying fix for this been ported to 2.2 for servicing yet?

[2019-04-04 09:00] vanillajonathan commented on #9039
Thank you @blowdart for the workaround.

I still think that controllers intended for use as APIs and explicitly decorated with the `ApiController` should return a status code (possibly along with JSON) instead of redirecting though.

[2019-04-04 09:09] SteveSandersonMS commented on #7660
JSInterop uses JSON as the interchange format, since it has well-established and widely understood type conversion rules.

Your issue is that `Uint8Array` does *not* serialize as a regular array via standard JSON serialization. Example:

    JSON.stringify(new Uint8Array([1,2,3]))

Result:

    "{\"0\":1,\"1\":2,\"2\":3}"

As you can see, the .NET side would only be able to interpret this as a `Di

[2019-04-04 09:09] #7660 closed

[2019-04-04 09:12] SteveSandersonMS commented on #8024
@danroth27 This is the same request as was being addressed by this PR: https://github.com/aspnet/AspNetCore/pull/7452. The status of that PR is pending requested changes.

[2019-04-04 09:14] coultonluke commented on #8918
Thanks for taking the time. I'll turn that option off for now until I upgrade to .NET Core 3.0.

[2019-04-04 09:42] TehWardy commented on #9022
The point was not that I "can" reference different versions of packages it was issues like the latest versions of Microsoft's packages just don't work / are not compatible with each other by default or force older dependencies.

Example:
Why force a dependency of version 9.0.1 of Newtonsoft.Json in a brand new technology like Azure functions ... that means all the code i package up in a function n

[2019-04-04 10:31] stsrki commented on #7898
@SteveSandersonMS I have created test project with the minimal amount of code for you to test.

**How to test:**

1. Run the project
2. Navigate to /test page
3. on text input hit backspace until its empty

After the input has cleared it will be reset to the initial value.

You can find the source on https://github.com/stsrki/BlazorSHCIssueExample

[2019-04-04 10:40] kmuthukumar23 opened #9062 "Difference between Native and Wrapper razor components?"

[2019-04-04 10:58] geirsagberg commented on #7687
@HaoK After following the 3.0 preview migration guide, I can no longer reproduce the error, so looks good to me. Thanks!

[2019-04-04 10:58] #7687 closed

[2019-04-04 11:44] SteveSandersonMS commented on #7898
The problem is that your parent component, `TestPage`, is hard-coded to supply the parameter `Text="hello"`. Every time it refreshes its children, this is the parameter it will pass, and it's up to the child components to do what they want with that information. The logic in your `TextEdit` (specifically in the setter for the `Text` property) accepts the parameter and uses it as the current value

[2019-04-04 11:44] #7898 closed

[2019-04-04 11:51] JohnGalt1717 commented on #8409
I'm also getting this on a new build of a computer. I've trusted the cert and removed unsafe cyphers with iiscrypto but kestrel still causes issues.

If I use VS.net 2019 and run it debugging with IISExpress it's fine.

My guess is that the developer cert for .NET Core 3 preview 3 isn't secure and thus chrome throws this, but the developer cert that IIS Express uses IS. (both have been registered

[2019-04-04 12:11] poke opened #28385 "Using HttpClientFactory without dependency injection"
Is there any way to consume the `HttpClientFactory` without using dependency injection, or more precisely without using M.E.DI?

I am creating a client library for which I want to make use of HttpClientFactory but I am going to use this library also in a legacy project that does not not have a M.E.DI-compatible DI.

Ideally, I would just new up a `DefaultHttpClientFactory` and consume that directl

[2019-04-04 12:19] natemcmaster commented on #9024
Fixed with https://github.com/aspnet/AspNetCore/pull/9057

[2019-04-04 12:33] wstaelens opened #9065 "MissingManifestResourceException forces you to Stop running."
### Describe the bug
I get a lot of these exceptions:

[code]

sometimes I can just F5 them and continue,

Other times I just get this and I can only click Stop and run my solution again:

![image](https://user-images.githubusercontent.com/7447285/55555744-4153f980-56e6-11e9-858b-49422a3e0243.png)

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2 (sdk 2.2

[2019-04-04 12:49] cbData opened #9067 "Potential bug (or documentation mistake) in static file middleware (in returned headers)"
I am reading code in static file middleware and i found this in method ApplyResponseHeaders:

[code]

According to documentation I think, that header will not be setted for 206 statuscode.

[2019-04-04 12:51] cbData commented on #9067
`if (statusCode < 300)` should fix it.

[2019-04-04 13:31] pranavkm commented on #9029
This is part of the SDK. https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.RuntimeIdentifierInference.targets#L15-L54 has an explanation for why it picks a a architecture specific value. I think, 2.1 AspNetCore had ANCM as a native asset which would trip the check here: https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/t

[2019-04-04 13:40] cbData commented on #9067
Is not bug, length for 206 status code is properly setted in method SendRangeAsync

[2019-04-04 13:40] #9067 closed

[2019-04-04 14:09] dougbu opened #9069 "Re-enable SignalR functional tests"
After many failures of these tests in #8877, I skipped the entire test suite by adding `<SkipTests/>` to src/SignalR/clients/ts/FunctionalTests/SignalR.Npm.FunctionalTests.npmproj Tests should be examined and re-enabled when failures are understood.

Problem has occurred in multiple Test&hellip; jobs but affected mostly the macOS job in #8877.

See https://dev.azure.com/dnceng/public/_build/result

[2019-04-04 14:38] rynowak commented on #9060
Whatever, you do please review with @blowdart before you are the do.

How would we do this since you can have multiple circuit Ids (one per tab)?

[2019-04-04 14:41] javiercn commented on #9060
@rynowak Same way we do with oauth cookies.
Microsoft.AspNetCore.Blazor.<<payload>>

Then we get all the cookies that start with Microsoft.AspNetCore.Blazor and party on

[2019-04-04 14:48] stsrki commented on #7898
Neither solution works perfectly for my case.

What I propose is to modify **RenderTreeBuilder** when there is a default value specified. When the "generator" detect the usage of default value instead of **bind-*** or **by-variable** parameter set then it should automatically generate new variable and set it to the component attribute.

**Instead of:**
[code]

**Proposed:**
[code]

[2019-04-04 15:02] SteveSandersonMS commented on #7898
There's already a way of doing what you propose, which is to use the binding system. That's basically exactly what your proposed code does.

It's not the default because it's even more common *not* to want two-way binding for any given parameter.

[2019-04-04 15:15] BrennanConroy commented on #9069
I only saw it fail on macOS, could you link other failures?

[2019-04-04 15:15] monicaol commented on #4364
I fix this problem by moving the web config to another folder (In my case I moved it to Properties folder, but any folder will do) and add this to the csproj:
[code]

You'll still see your web.config file on the root of your web project but physically it's in the 'Properties' folder so when you run your project locally it'll not transform the original file.

Got the idea from this post: https://de

[2019-04-04 15:16] mxmissile opened #9070 "@if in foreach not evaluating correctly"
I'm wondering why this `@`if statement is not evaluating correctly.

This code should demonstrate the question:
[code]
Renders:
[code]

Expected:
[code]

Additional, putting a breakpoint on the `<div> @if` shows `i = 2` on the first hit. #confused This is on a razor page if that makes a difference.

[2019-04-04 15:17] javiercn opened #9071 "[Components] Add signalr service E2E integration test"
We should have a test to validate that our assumptions for server-side blazor work with the signalr service and that we don't break things by mistake.

[2019-04-04 15:21] #8438 closed

[2019-04-04 15:29] Eilon commented on #9024
Thanks, @natemcmaster !

[2019-04-04 15:33] Tratcher commented on #8409
It's likely not that the cert itself is insecure, but that it's only compatible with certain cipher suits. i.e. I don't think it works with EC cyphers. The negotiation falls back to cert compatible ciphers and apparently doesn't find one that meents HTTP/2 requirements.

@JohnGalt1717 are you also running a Win10 insiders build? Which one?

[2019-04-04 15:35] JohnGalt1717 commented on #8409
@Tratcher Yes. 19H 18362.1

[2019-04-04 15:38] Tratcher commented on #8952
Similar issue: https://github.com/aspnet/AspNetCore/issues/8409

[2019-04-04 15:38] stsrki commented on #7898
Yes I know its two-way binding, that's why I proposed it. I think by generating it automatically to use two-way binding it should work as expected. The default value would be set **internally** with the auto-generated variable and it wouldn't be reseted to default value on StateHasChanged.

I come from window-apps background and this behaviour is expected for text-boxes. The internal value for eac

[2019-04-04 15:45] Tratcher commented on #8409
FYI @JohnGalt1717 we're already discussing this over at https://github.com/aspnet/AspNetCore/issues/8952

[2019-04-04 15:48] Tratcher commented on #8952
I can reproduce this on 18356.21 and #8409 also reports it on 18362.1.

[2019-04-04 15:52] Jaffacakes82 commented on #5228
@SteveSandersonMS apologies to keep coming back to this, but I still don't think this is possible.

Consider the following module called `app.js` that does nothing but sleep for three minutes:

[code]
Invoked by the following C#:
[code]

This will throw the following exception because the Node HTTP server being spun up internally by INodeServices is timing out after two minutes (as is the default)

[2019-04-04 15:54] Tratcher commented on #8952
Note it works in IE and Edge so this is a conflict of what ciphers Windows supports vs what Chrome supports.

[2019-04-04 16:01] #8161 closed

[2019-04-04 16:04] tebeco commented on #8952
@Tratcher
Well Chrome and Firefox
that's a bit nasty

[2019-04-04 16:12] SteveSandersonMS commented on #5228
OK, I finally understand your scenario. Thanks for the clarification! I now see that the underlying issue is that your code doesn't have access to the `server` object, and therefore has no way to modify `server.timeout`.

If this is something you're interested in adding a PR to address, I think we'd certainly be open to it. My suggestion would be:

 * Use the [existing `InvocationTimeoutMillisecon

[2019-04-04 16:18] Andrzej-W opened #9072 "Blazor app publish "Self Contained" doesn't work"
### Steps to reproduce the behavior:
1. Create `Blazor (ASP.NET Core hosted)` project
2. Right click on `Server` project and select `Publish`
3. In `Pick a publish target` window click `Advanced` (on the left I have `App Service` selected)
4. Change `Deplyment Mode` to `Self Contained` and click `Save`
5. In `Pick a publish target` window select `Select Existing` and click `Publish`
6. If necessar

[2019-04-04 16:24] Jaffacakes82 commented on #5228
Yay, thanks!

Sorry for my poor previous explanations. Just to let you know, there's a potential duplicate here that I raised: https://github.com/aspnet/AspNetCore/issues/8447

You may want to close one or the other and I can raise a PR referencing whichever issue remains open.

Thanks.

[2019-04-04 16:32] SteveSandersonMS commented on #5228
OK, your other issue is less noisy, so I'll close this one in favour of that. But I'll paste my PR suggestion to the other one. Thanks!

[2019-04-04 16:32] #5228 closed

[2019-04-04 16:32] SteveSandersonMS commented on #8447
If this is something you're interested in adding a PR to address, I think we'd certainly be open to it. My suggestion would be:

 * Use the [existing `InvocationTimeoutMilliseconds` option value](https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/NodeServices/src/Configuration/NodeServicesOptions.cs#L107). Developers can set this when configuring the service, e.g. `services.AddNodeSer

[2019-04-04 16:34] GrabYourPitchforks commented on #8978
Thanks for opening this! 😃

[2019-04-04 16:39] mkArtakMSFT commented on #8959
Thanks for contacting us, @xsoheilalizadeh.
@blowdart what would you recommend here?

[2019-04-04 16:40] #8855 closed

[2019-04-04 16:43] dougbu commented on #9069
I remember one of the builds for #8877 saw this failure in the Test: Windows Server 2016 x64 Job. I'll look back through the history to find it&hellip;

[2019-04-04 16:44] #8432 closed

[2019-04-04 16:45] #8397 closed

[2019-04-04 16:45] mkArtakMSFT commented on #8397
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-04-04 16:46] #8160 closed

[2019-04-04 16:46] mkArtakMSFT commented on #8160
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-04-04 16:48] mkArtakMSFT commented on #8149
Thanks @blowdart. Up to you to decide what you want to do here.

[2019-04-04 16:57] #8352 closed

[2019-04-04 16:58] dougbu commented on #9069
Ah, it was an @anurse PR's build: https://dev.azure.com/dnceng/public/_build/results?buildId=142443

[2019-04-04 16:58] dougbu commented on #9069
Different test group but similar `yarn` exit

[2019-04-04 17:01] mkArtakMSFT commented on #7812
@ryanbrandenburg please reevaluate this as this seems to be really bad. We should try to fix this as early as possible but the current `M` costing is a bit heavy.

[2019-04-04 17:01] blowdart commented on #9039
That's an interesting idea @vanillajonathan. That responsibility lies outside of the authentication pieces, and in MVC, so I'll demure to @rynowak  et al for that.

[2019-04-04 17:02] blowdart commented on #9060
Data Protection is the same thing we do elsewhere, so I'm good with that approach for securing it.

[2019-04-04 17:03] cremor commented on #8855
@mkArtakMSFT Why did you close this issue without action? @glennc confirmed that the convention should define the HTTP 204 result, so it should be changed, correct?

[2019-04-04 17:04] BrennanConroy commented on #9069
All yarn exits will look the same. But it's completely different tests with completely different failures most likely.

You can see I just added test reporting for SignalR TS tests at https://github.com/aspnet/AspNetCore/pull/9058

Components should do a similar thing so we can actually see what the failures are.

[2019-04-04 17:05] blowdart commented on #8959
I have no recommendations, this isn't a security decision, but rather one about the differences between MVC and Razor. The thing attempting to be done is valid, so Razor would need to find a way to expose the same sort of information.

[2019-04-04 17:06] blowdart commented on #8149
It's a valid request, I'd like to see it implemented, so it's up to MVC when :)

[2019-04-04 17:07] blowdart commented on #7827
The soonest it can be addressed? It seems a pretty simple fix :)

[2019-04-04 17:08] blowdart commented on #7826
Do we have a fit and finish milestone?

[2019-04-04 17:08] rynowak commented on #8149
This should be part of the `AuthorizationPolicy.CombineAsync`.

MVC doesn't have knowledge of how auth policies are grouped/filtered/combined today. We provide all of the attribute data to the that method and then we run the policy that comes out. It feels like a really dangerous thing to layer something like this on top of the existing source of truth.

[2019-04-04 17:10] javiercn commented on #7827
It involves CSS, it's not easy :smile. That said, this is more of a code organization issue than it is a visual issue. Visually they both look the same. It's that the elements are in different order due to CSS magic.

This bug is to try and make the order the same.

[2019-04-04 17:13] pranavkm commented on #8959
You could get to the `CompiledPageActionDescriptor` using `IPageLoader`. `HandlerType` \ `HandlerTypeAttributes` are the equivalent to attributes on the controller.

[2019-04-04 17:13] javiercn commented on #7827
That said, I think the issue might be that:
[code]
Needs to go inside the ul tag. If not, I don't know whats going on there and it will be a wonderful journey of discovery. I recommend that we give it a try but don't spend a lot of time on it. I would also mark it as up for grabs to see if some hero from the community with more CSS knowledge is up to the task.

[2019-04-04 17:14] guidevnet commented on #8071
@SteveSandersonMS What exactly did you mean by "Longer term"? A future preview, the final release or after? There is any tracking for this feature?

[2019-04-04 17:16] RyoukoKonpaku commented on #8931
As @danroth27 mentioned coordinating with multiple teams, I can think of, VS Team, Razor team team, it might be a big chunk of work which each team has differing priorities on tasks.

I can see the `.razor` extension fitting if it's going to be a more generic thing that describes any kind of components written in Razor like how `.xaml` is used for both resources and controls in the desktop world.

[2019-04-04 17:20] anurse commented on #8802
If the template isn't coming in actual template form until EOW, this won't land in time for preview4. Moving to preview5

[2019-04-04 17:28] HaoK commented on #8149
So commenting on the original issue at the top, another way would be to have the base "SuperAdmin" policy/requirement handler logic look at what other requirements are in the authZ request.

For example for Get, there would be both SuperAdmin + Everyone requirements, the SuperAdmin handler just would need to pass if the Everyone requirement was also requested, it can do this by looking at all the

[2019-04-04 17:28] Eilon commented on #9054
This issue was moved to dotnet/corefx#36607

[2019-04-04 17:28] #9054 closed

[2019-04-04 17:35] #8347 closed

[2019-04-04 17:37] enetstudio commented on #9062
You should learn to ask questions. This is a nonsensical question. And this site is for serious issues. Go back to Stackoverflow, where some answers to this question are awaiting you. When you finish reading them, please come here to close this issue.

Have a good day...

[2019-04-04 17:38] danroth27 commented on #8071
@guidevnet We expect to get auto recompile back for .NET Core 3.0. It requires a tooling update though, so it will probably be a couple of months before this is available again.

/cc: @shirhatti @andrew-msft

[2019-04-04 17:39] danroth27 commented on #8959
Closing as this questions now seems to be answered.

[2019-04-04 17:39] #8959 closed

[2019-04-04 17:50] Eilon commented on #9062
@kmuthukumar23 can you please provide more information about your question?

[2019-04-04 18:05] mkArtakMSFT commented on #7509
@danroth27 , @rynowak moving this to preview5, as we;re running out of time.

[2019-04-04 18:08] adv12 opened #9075 "Blazor option to not optimize assemblies"
### Is your feature request related to a problem? Please describe.
I'd like to be able to use reflection in the browser to access types and methods from my dependencies that are not explicitly used in my C# code.

### Describe the solution you'd like
I'd like to be able to easily deploy full versions of my Blazor app's dependencies to the browser.  It would be nice to have a per-project setting so

[2019-04-04 18:17] mkArtakMSFT commented on #8221
This should be fixed now by @javiercn 's improvements in this area.

[2019-04-04 18:17] #8221 closed

[2019-04-04 18:18] mkArtakMSFT commented on #7862
The original issue is fixed. If there is something else pending here, pleas reopen a new issue.

[2019-04-04 18:18] #7862 closed

[2019-04-04 18:19] fendric commented on #8894
Thank you so much, @Eilon ! Very much appreciated.

[2019-04-04 18:19] mkArtakMSFT commented on #7202
This is now fixed.

[2019-04-04 18:19] #7202 closed

[2019-04-04 18:21] mkArtakMSFT commented on #6857
Who is going to take care of installation `Selenium` on the agents? @HaoK ?

[2019-04-04 18:23] blowdart commented on #8149
That approach is not exactly discoverable though. An attribute parameter would be

[2019-04-04 18:24] mkArtakMSFT commented on #4048
@SteveSandersonMS should this be closed?

[2019-04-04 18:25] mkArtakMSFT commented on #4210
Closing as there is nothing else pending here.

[2019-04-04 18:25] #4210 closed

[2019-04-04 18:25] blowdart commented on #8652
This is strange. We know of cases where it happens every now and again (tokens with a + in them), but not every time.

@HaoK any ideas?

[2019-04-04 18:26] blowdart commented on #8651
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-04-04 18:26] #8651 closed

[2019-04-04 18:27] blowdart commented on #6413
@HaoK can you take a look see?

[2019-04-04 18:29] blowdart commented on #5833
The opinions of the OAuth folks are still in draft, and are the subject of some contention. While arguable same site cookies might provide the same protections we have problems with the implementation being different on Safari, because apple reads the spec a different way. Furthermore by sticking to JWT and the implicit flows we're opening up support for other applications by embedding Identity Se

[2019-04-04 18:31] #5433 closed

[2019-04-04 18:39] ryanbrandenburg commented on #7388
Talked with @Tratcher offline, he says the failure listed here doesn't happen anymore but he's not sure if things work otherwise because he's blocked by problems within his code.

[2019-04-04 18:50] halter73 commented on #8952
From @Tratcher's [comment from the other thread](https://github.com/aspnet/AspNetCore/issues/8409#issuecomment-479947344)

[2019-04-04 18:53] Eilon commented on #8894
I contacted nopCommerce to see if we can get in touch with them to resolve this. I'll update this issue with whatever we find out.

[2019-04-04 19:02] jkotalik commented on #9021
You shouldn't need a full path to dotnet. Can you confirm that dotnet is on your path?

[2019-04-04 19:05] tebeco commented on #8952
What can i do to help ?

[2019-04-04 19:18] HaoK commented on #6857
The helix team is helping us get everything we need installed on the machines on the queues, they just merged a set of changes for us I'll kick off a new run to see if we have everything we need now

[2019-04-04 19:31] Jaffacakes82 commented on #8447
@SteveSandersonMS @mkArtakMSFT thanks both. I'll pick this up.

[2019-04-04 19:38] #8892 closed

[2019-04-04 19:39] javiercn commented on #8859
We still need to figure out something to not push 3.0.0 rtm versions to nuget, but that can wait.

[2019-04-04 19:39] #8859 closed

[2019-04-04 19:50] chriton227 opened #9079 "AzureADB2C Error and Forgot Password routing incorrectly"
### Describe the bug
When an application is running within a folder on a site, the AzureADB2C Forgot Password redirect (/AzureADB2C/Account/ResetPassword/{SchemeName}) and Error redirect (/AzureADB2C/Account/Error) are not routing relative to the application path.  For example, if the application is located at https://www.example.com/MyApp, the Forgot Password redirect is going to https://www.exam

[2019-04-04 19:52] blowdart commented on #9079
@javiercn did this sort of thing get wrapped up in https://github.com/aspnet/AspNetCore/issues/6669 ?

[2019-04-04 19:55] leastprivilege commented on #5833
I think this is more about „implicit vs code + pkce“. Iirc we already discussed to move to code in a later preview.

[2019-04-04 19:56] dougbu commented on #7492
[code]

[code]

On the server side, disabling build in old-style (WebApi) projects may require a bit more work. Would need `" '$(BuildingProject)' != 'true' "` condition there.

[2019-04-04 19:57] javiercn commented on #9079
Nope. That's a different bug. This is 2.2.0 though. We can fix it for 3.0, it should be easy to just add "~/"

[2019-04-04 20:10] mkArtakMSFT commented on #5414
@danroth27 bringing this back to `Preview6`

[2019-04-04 20:32] danroth27 commented on #8931
Thanks everyone for your feedback on this issue. The Razor Component renaming back to server-side Blazor is done!

We've decided to leave the .razor extension as is for the reasons listed [above](https://github.com/aspnet/AspNetCore/issues/8931#issuecomment-478715232). We've had a mixture of feedback on this decision. While we appreciate the desire to Blazor all the things, we think the current ex

[2019-04-04 20:32] #8931 closed

[2019-04-04 20:57] Tratcher commented on #8952
@tebeco I think we have enough to go on now, thanks.

Bringing into preview5.

[2019-04-04 21:11] blowdart commented on #9079
Is there a work around for now?

[2019-04-04 21:18] vijayrkn commented on #7492
@davkean - Do you think adding something like the above would impact the tree node in VS?

[2019-04-04 21:42] silmon27 commented on #8843
I enabled verbose logging for a couple of days and found that most cases look something like this (shortened):

[code]

There are no other errors or warnings prior to the exceptions.

What I noticed is that in all cases a page was requested with lots of images. The images are not handled by the static file handler in ASP but instead loaded from Azure Blob Storage (via the WindowsAzure.Storage NuGe

[2019-04-04 21:44] nimal-work opened #9083 "Email claim is not returned anymore with MSA login (3.0.0-preview3)"
### Describe the bug
Email claim is not returned anymore with MSA login - likely due to regression by change done https://github.com/aspnet/AspNetCore/commit/67037a003904efb67d1a9534c0c56936a37d5547#diff-fbfe8e5c5866d367948542cc22996398

Reason: user.GetString("mail") returns empty string and not null and because of that cpode skips reading the userPrincipalname key and fails to populate the claim

[2019-04-04 21:49] Batarian711 opened #9085 "Logo proposal"
I like open source projects. I want to design a logo for you. Do you have an idea? I will make a gift.

[2019-04-04 21:55] jkotalik commented on #9085
I'd recommend opening an issue/commenting in https://github.com/dotnet/swag. This repo isn't the appropriate place.

[2019-04-04 21:55] #9085 closed

[2019-04-04 22:13] francisminu opened #9087 "Limit response compression based on response size"
### Is your feature request related to a problem? Please describe.
I am using the AddResponseCompression available in ASP.NET Core.
The issue I am facing now is, even if the response size is too small, the response is being compressed. Is it possible to limit compression based on the response size?

### Describe the solution you'd like
Add a parameter to the AddResponseCompression, namely Size (si

[2019-04-04 22:16] francisminu commented on #9087
I meant to say, Add options either in AddResponseCompression (not GzipCompressionProviderOptions, in which case it will have to be added to every provider separately).

[2019-04-04 22:17] jkotalik commented on #8843
@Tratcher @halter73 This seems interesting.

[2019-04-04 22:26] rynowak opened #9089 "Server-Side Blazor logging should be at Debug"
[code]

This kind of info should be logged at the debug level instead of info. There's a high bar for justification for logging that takes place at info.

[2019-04-04 22:27] QuickWire commented on #5086
Sorry for the delay, yes the solution by @strangedt fixed by issue as well.

[2019-04-04 22:31] rynowak opened #9090 "<text> tags should not be rendered"
In a component, the following code results in the `<text>` tag showing up in the output instead of being omitted.

[code]

The `<text>` is needed in this case because the inside of the `else` is in the C# context. We need to transition back to markup which requires `@:` or a tag.

![image](https://user-images.githubusercontent.com/1430011/55592834-95fb7280-56ee-11e9-9741-49efb0e42dfd.png)

In gene

[2019-04-04 22:41] Tratcher commented on #9087
Duplicate of https://github.com/aspnet/AspNetCore/issues/5994

[2019-04-04 22:43] #9087 closed

[2019-04-04 22:51] Tratcher commented on #9083
Bringing into preview5 as a high priority fix.

[2019-04-04 22:53] #8997 closed

[2019-04-04 23:09] Menighin opened #9092 "OAuth authentication has no way to intercept the Token request"
### Is your feature request related to a problem? Please describe.
I'm trying to implement OAuth authentication with PKCE.
The PKCE part requires that I send a `code_verifier` with the token request but this doesn't seem to be possible. I couldn't find anyway of intercepting the Token Request in order to put the `code_verifier`. As far as I understood, AspNetCore automatically get the authorizatio

[2019-04-04 23:12] rynowak opened #9093 "[Tooling] VS Crash on paste of markup in the functions block"
### Describe the bug
Crash on paste. 😢

### To Reproduce
Steps to reproduce the behavior:
1. Using latest 3.0 SDK and d16.1stg
2. Create a new Server Side Blazor app
3. Edit `Index.razor` to contain

[code]

4. Highlight `<div>Hi</div>` and paste in:

[code]

[2019-04-04 23:34] rynowak commented on #9089
@danroth27  @SteveSandersonMS

We should address this for preview 4. This is what the logs look like when you're using a server side blazor app.

[code]

[2019-04-04 23:53] DamianEdwards opened #9096 "Razor Components project template doesn't have a favicon.ico"
All our other web app templates have a `favicon.ico` in the `wwwroot` folder. We should probably have the same one in the Razor Components project template too. Without it, Chrome makes a request anyway then shows an error in the dev console which is less than pleasant.

![image](https://user-images.githubusercontent.com/249088/55595794-5175d400-56fa-11e9-80ac-7812d9a16519.png)

@danroth27

[2019-04-04 23:59] danroth27 commented on #9096
@SteveSandersonMS

[2019-04-05 00:01] danroth27 commented on #9089
Wait, where's batch 1?!? :wink:

I agree this doesn't seem like a very useful default experience.

[2019-04-05 00:05] JamesNK commented on #8898
Questions:

1. Does CompatibilityVersion.Version_2_1 still disable endpoint routing? From what I can tell it does not.
2. How funky do we want to get with detecting the correct Startup.cs? For example, someone may have renamed it. Would require parsing `Program.Main` (which, if we want to be really thorough would require us to look in the csproj file to see if the entry point had changed).
3. I'll

[2019-04-05 00:34] Plasma opened #9097 "NuGet "Microsoft.AspNetCore.App" upgrade "Blocked by project""
### Describe the bug
I'm not sure what .NET Core MVC version I am actually on.

In my project, NuGet shows this:

![image](https://user-images.githubusercontent.com/229209/55596893-b7179e00-5796-11e9-863c-dbb0290d00e2.png)

How do I make sure I am on the latest 2.2.3 version?

The csproj has this:

[code]

Thank you

[2019-04-05 00:45] rynowak commented on #8898
1. We don't need to handle that. These analyzers are 3.0+ and 3.0 doesn't support that setting.

2. Not funky at all. We should do something really simple.

3. Yes please, we should do something reasonable to try and make the migration experience have better feedback.

[2019-04-05 00:59] Tratcher commented on #9092
The recommendation for customizing the code exchange is to derive from OAuthHandler and override ExchangeCodeAsync. E.g. https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/af1e3373cf00e82b186ea2a4bba0696d476b0dff/src/AspNet.Security.OAuth.Fitbit/FitbitAuthenticationHandler.cs#L64

[2019-04-05 01:32] Menighin commented on #9092
Thanks Tratcher! That indeed seems like a more concise and smart way of doing it :)
Still think it would be nice to have and event on this step though!

[2019-04-05 03:39] mkArtakMSFT commented on #9070
Thanks for contacting us, @mxmissile.
@ajaybhargavb can you please look into this? Thanks!

[2019-04-05 03:39] mkArtakMSFT commented on #9070
@mxmissile please provide a repro project so we can investigate this.

[2019-04-05 03:49] #9053 closed

[2019-04-05 04:45] #9089 closed

[2019-04-05 05:01] #8860 closed

[2019-04-05 05:09] HaoK commented on #6857
Getting closer, looks like selenium is a go, but its not properly configured, any ideas what we need to set here for the SeleniumProcessTrackingFolder?

[code]

[2019-04-05 05:13] javiercn commented on #6857
Yeah, you need to setup an environment variable to a folder we can use for writing the PIDs of the processes we start.

On the CI we set it to RepoRoot/obj in helix you can set it to any temp folder you feel like. We just need this to ensure we don’t leave processes running behind us.

It’s also important to add a build step that reads the folder and kills each alive process that matches the files

[2019-04-05 05:30] HaoK commented on #6857
I don't think cleanup is as important on helix, everything should be getting automatically nuked after the work item is done by the helix infrastructure

[2019-04-05 05:46] javiercn commented on #6857
@HaoK As in the machine rebooted, image destroyed etc? Then just point it to an existing folder and that should be enough

[2019-04-05 05:52] javiercn commented on #9079
I can't see how there's a bug in here. All the urls I can see are using virtual paths.

@chriton227 Are you using app.UseBasePath("/MyApp") in your startup code? Can you check if that solves your issue?

[2019-04-05 06:30] NTaylorMullen opened #14318 "Investigate why changing _ViewImports.cshtml doesn't automatically refresh impacted files in MacOS/Linux"

[2019-04-05 06:38] mishmish30 commented on #9097
<PackageReference Include="Microsoft.AspNetCore.App" Version="2.2.3" /> ;)

good luck

[2019-04-05 06:40] SeppPenner opened #9103 "Question: When will there be a 1.0 (Non-experimental) release of Blazor?"
We are planning to use Blazor in some project(s) but are waiting for a 1.0 release. Is there a roadmap when it will (probably) come? Can we expect it to be available in Q3 of 2019?

[2019-04-05 07:18] McHeff opened #9105 "Ambiguous routes error (Bindings and lambda expressions)"
When I created a new page, I ran the application, everything worked fine... I then added some html controls and re-ran the app to see if everything was correct... I then added in some bindings and some C# methods, re-ran, everything was fine...

I then added some foreach loops and some lambda expressions,

All of a sudden I get the "The following routes are ambiguous"
![image0](https://user-images

[2019-04-05 08:05] valeriob opened #9106 "Azure Linux Web App, "it" culture not working"
### Describe the bug
Create a new aspnetcore 2.2 web app, enable it and en cultures as the documentation instructs, and make a page that prints the current date in short date format "d".
Run it locally with an italian browser, it correctly use the dd/MM/yyyy pattern, then deploy it to azure linux web app (code and framework dependent, not container) navigate to that page with the same browser with

[2019-04-05 08:12] fschmied commented on #9029
Just noticed that publishing breaks when you add this to the csproj (in 2.1):
[code]

The web.config created while publishing will now forget to add the ".exe" extension in the `processPath` attribute:
[code]

Note that it should be `MyApplication.exe`. Without the `.exe`, the IIS module won't start (502.5 - Process failure).

[2019-04-05 08:18] adrianwright109 commented on #9024
Hi,

Sorry but this isn't fixed.

I have just updated my `AspNetCore` fork so I'm currently even with master.

![image](https://user-images.githubusercontent.com/47532258/55613830-8712cf80-5783-11e9-8453-4f375a9e801c.png)

I have run `.\restore.cmd` and I'm still getting the same error:

![image](https://user-images.githubusercontent.com/47532258/55613914-bcb7b880-5783-11e9-913c-760a4fe2551b.png)

[2019-04-05 08:29] cremor commented on #9097
@Plasma Under the dropdown that is visible in your screenshot there is a "Learn more" link. You should read it, especially point number 4. Here is the link directly: https://docs.microsoft.com/en-us/nuget/tools/package-manager-ui#updating-a-package

Run `dotnet --info` in a console or PowerShell window.

Install the latest SDK (or runtime for the server): https://dotnet.microsoft.com/download

@mi

[2019-04-05 08:38] SteveSandersonMS commented on #9075
You can disable the linker by adding the following property to a `<PropertyGroup>` in your csproj file:

[code]

[2019-04-05 08:38] #9075 closed

[2019-04-05 08:55] SteveSandersonMS commented on #9096
Oh, I only just removed the `favicon.ico` for "consistency". I guess that was wrong then. Will put it back.

[2019-04-05 08:58] Ponant opened #9107 "Username with German letters gets encoded and passes validation ASP.NET Core Identity"
On .Net Core 3.0 Preview 3, Asp.NET Core Identity Template, register a user with username
`bernhard@günter.com
`
**Expected**
Validation throws that this is not an allowed character for a username since the default is
`
public string AllowedUserNameCharacters { get; set; }
            = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-._@+";
`
**Result**
`bernhard@xn--gnter-kva.com

[2019-04-05 09:23] Ponant commented on #9107
A first issue comes from the template having the `[EmailAddress]` attribute. If that is commented out then `günter` is not formatted and the response is as expected "User name 'bernhard@günter.com' is invalid, can only contain letters or digits.", which btw is a wrong error description since other characters are allowed by default (-._@+) .
The problem remains when someone wants to collect an emai

[2019-04-05 09:35] SteveSandersonMS commented on #4048
Yes, it's done.

[2019-04-05 09:55] javiercn opened #9108 "SPA templates need to be updated for endpoint routing"

[2019-04-05 09:55] javiercn commented on #9108
@JamesNK Seems like you left these puppies behind :(

[2019-04-05 10:06] ilanthendral commented on #9023
Yes that is correct, I am using VS for debugging.

[2019-04-05 10:36] new-mikha opened #9109 "Error, resurrection of an old "EPERM: operation not permitted, lstat ..." error in Node 10"
### Describe the bug
The bug is pretty much the same as the one from the older JavaScriptServices repo:
https://github.com/aspnet/JavaScriptServices/issues/1101

A patch has been applied earlier in the JavaScriptServices repo to fix this problem, and it worked well until some newer version of Node 10 (for me all works well with Node 8, but doesn't work with Node 10). The patch is still alive in th

[2019-04-05 10:55] JohnGalt1717 commented on #8952
The work around, if you can, is to use Vs.net and IIS Express and debug that way because the IIS Express dev cert works correctly even on windows insider releases. Solves the problem for now for those hitting this.

[2019-04-05 11:07] javiercn opened #9110 "[SPA templates] React service-worker interferes with identity."
When publishing a react app with individual auth on, react includes a service-worker by default. This service-worker captures all the requests for identity/identity-server so they never make it to the server.

[2019-04-05 11:08] SteveSandersonMS opened #9111 "Client-side Blazor apps not compiling with latest SDKs"
Not sure if this is being worked on elsewhere, but it's fairly urgent as we can only verify client-side Blazor properly once it works out of the box.

Steps:

 * Install latest .NET Core SDK 3.0.100-preview4-011074
 * `dotnet new --install <path on disk to Microsoft.AspNetCore.Blazor.Templates.0.9.0-preview4-19204-04.nupkg>`
    * Note that aspnet-AspNetCore CI drops to MyGet are broken since yest

[2019-04-05 11:10] SteveSandersonMS commented on #9111
With the `<GenerateRazorAssemblyInfo>false</GenerateRazorAssemblyInfo>` hack, it *seems* that tooling inside VS is working correctly. Whatever the real fix is, we should also verify that components tag helpers light up in VS.

[2019-04-05 11:38] javiercn commented on #9110
Seems like we are using an ancient version of react scripts. Updating it seems to fix it.

[2019-04-05 11:57] Andrzej-W commented on #4048
Will it work in Blazor Client (WebAssembly)?

[2019-04-05 12:02] SteveSandersonMS commented on #4048
Yes, but we will only provide a built-in auth state provider for the hosted-on-ASP.NET Core webassembly case. For standalone you will need to implement your own auth state provider, eg by integrating with 3rd-party login.

[2019-04-05 12:03] mcurko commented on #2773
I had the same problem, and solved it by placing 64-bit dotnet.exe path before the 32-bit one in the system PATH variable on the web server. Though, it's not a path problem by itself, rather it seems that *something* is parsing the path to be able to launch the correct dotnet.exe.

[2019-04-05 12:05] shawty commented on #4048
@SteveSandersonMS - Steve, do you have a link to the Doc's yet?

Cheers
Shawty

[2019-04-05 12:54] Ponant commented on #9107
The same issue happens with `[DataType(DataType.EmailAddress)]`

[2019-04-05 13:30] McHeff opened #9113 "Getting a "The call is ambiguous between the following methods""
So, I have VS2019-Preview, I created a new project (Blazor template), copied a page from my 0.7 project to my 0.9 project, fixed the nuget issues, got everything to run.

But when I copied over the rest of my pages, I am getting this now:

"Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0121	The call is ambiguous between the following methods or properties: 'RuntimeHelpers.T

[2019-04-05 14:13] chriton227 commented on #9079
@javiercn I just tried adding the app.UsePathBase("/MyApp") statement to my startup.cs and it didn't resolve the issue.

Looking at the AzureAdB2COpenIDConnectEventHandlers.cs class, it looks to me like the redirects on likes 68, 78, and 82 are using absolute paths.

[2019-04-05 14:14] mxmissile commented on #9070
Added a repo for the project: https://github.com/mxmissile/IfRazorTest

Pages/Index.cshtml contains the above code

Created in Visual Studio 2017 Add New Project

[2019-04-05 14:18] chriton227 commented on #9079
@blowdart I'm able to use URL Rewrite in IIS as a temporary workaround

[2019-04-05 14:34] javiercn commented on #9079
Yeah, I see that now. As a workaround you could replace the event with your own version. The fix should be simple too. I'll take care of this in preview5

[2019-04-05 14:53] JRousal commented on #6945
I'm pretty sure this has to do with the fact that the `DateTime` type has a `Date` property on it. Can someone from the dev team confirm that the model binder would inadvertently try to set this property value during binding? If it does not it seems like this warning should not appear in the first place.

[2019-04-05 14:58] Tratcher commented on #8952
Another datapoint: We tested using IIS Express's cert in Kestrel and it also worked, we'll see what needs to change with the AspNetCore dev cert.

[2019-04-05 15:00] JohnGalt1717 commented on #8952
@Tratcher Do you have steps to do so? Would be a sweet workaround for now.  Glad it worked!

[2019-04-05 15:01] Tratcher commented on #8952
@anurse can you paste in your code sample?

[2019-04-05 15:02] Tratcher commented on #9023
This is working as expected then, you need to set applicationUrl to what you want to launch. Tooling doesn't know about any of the overrides you're setting in appsettings.

[2019-04-05 15:07] rynowak commented on #4048
If this is going to be closed, can you please create a new update to track the implemntation work and update - https://github.com/aspnet/AspNetCore/issues/8177 it has a pointer to this item.

[2019-04-05 15:11] Eilon commented on #9024
Re-opening for @natemcmaster to take a look at

[2019-04-05 15:11] dirq commented on #8378
We installed dotnet-hosting-3.0.0-preview-19075-0444-win.exe on Windows Server 2016 Datacenter and our .net core 2.1 apps died.  We tried a whole slew of things to get it back up, including removing ALL .net core hosting bundles and runtimes, then reinstalling just 2.1.  Our staging app is core 3 preview 3 and we don't need core 3 up on this server.  but live sites are using 2.1.  HELP!

[2019-04-05 15:11] rynowak commented on #9089
👍

[2019-04-05 15:11] natemcmaster commented on #9024
And did you run InstallVisualStudio.ps1 ?

[2019-04-05 15:26] rynowak commented on #9108
Awww don't call them puppies, it makes me sad to think of puppies being left behind.

[2019-04-05 15:30] rynowak commented on #9113
This is a bug in preview3 that will be fixed in the next release. Perhaps we can find a workaround for this...

It's strange that line is causing a problem. What's the type of `@lots.ExpiryDate` ? Is it `object`? If that's the case then you probably fix it by using a strong type or adding a cast.

If you want to pasted in the generated code from `obj\Debug\$tfm\Razor\$pathtoyourfile.g.cs` that mig

[2019-04-05 15:30] adrianwright109 commented on #9024
I must apologise - my bad.  I did run `InstallVisualStudio.ps1 -Edition Community` and it loaded up the VS Installer with my original VS 2019 RTM installation showing the following workloads were installed:

- ASP.NET and web development
- .NET  desktop development
- Desktop development with C++
- Visual Studio extension development
- .NET Core cross-platform development

It appeared like that I h

[2019-04-05 15:30] #9024 closed

[2019-04-05 15:31] SteveSandersonMS opened #9114 "Can no longer use templated parameters on components in a library project"
Again, maybe this will get fixed by the ongoing SDK work, but raising this to track it anyway. Apologies if I'm being excessively fussy.

I've not been successful in upgrading my Material Design components library to work with the preview 4 code due to the following.

### Repro

* Using .NET Core 3.0.100-preview4-011074 and Microsoft.AspNetCore.Blazor.Templates.0.9.0-preview4-19204-04, create a ne

[2019-04-05 15:31] rynowak commented on #7893
This behavior change has been reverted in 3.0 - conventional routes (`MapRoute`) will be highly compatible with how they worked in 2.1

[2019-04-05 15:31] #7893 closed

[2019-04-05 15:34] javiercn commented on #9108
@rynowak That way I encourage you both to fix them. 🐶

[2019-04-05 15:42] Tratcher opened #9115 "Disable SameSite for AzureAd and B2C cookies"
RE: https://github.com/aspnet/AspNetCore/issues/4647

We've disabled SameSite for many OAuth/OIDC scenarios, but we haven't done it for the cookies added by AddAzureAd and AddAzureAdB2C.

The workaround for these scenarios is not discoverable:
[code]

The fix would go here:
https://github.com/aspnet/AspNetCore/blob/258d34e3828a1870a16d13cd3c62d1b7a65acc4a/src/Azure/AzureAD/Authentication.AzureAD.U

[2019-04-05 15:44] anurse commented on #8952
Yep. We intend to fix our dev cert for 3.0, but as a temporary workaround you can use the IIS Express development certificate directly from Kestrel.

This only works on Windows (but so far the problem has only been reported there), and requires that you have IIS Express installed and configured (installing VS is sufficient for this). You do not actually have to **use IIS Express to host your site*

[2019-04-05 15:53] NTaylorMullen commented on #9111
@danroth27 just a note when verifying Blazor client side VSCode scenarios you'll need to add `<RazorLangVersion>3.0</RazorLangVersion>` until we get a new SDK / Blazor package with that change included. Just ran into this :)

[2019-04-05 15:53] rynowak commented on #9114
@ajaybhargavb

[2019-04-05 15:53] rynowak commented on #9114
You're not being fussy, this is regression and an absolutely show-stopping bug.

[2019-04-05 15:57] dkurok opened #9116 "OnInit() called twice"
### Describe the bug
The OnInit()-event is called twice / handler runs twice

### To Reproduce
Steps to reproduce the behavior:
1. Visual Studio 2019; create new project using Razor components template
2. In MainLayout.razor add the following to the end of the file:
`@functions{      protected override void OnInit()
    {
        base.OnInit();
        Console.WriteLine("OnInit called");

    }
}`

[2019-04-05 15:58] rynowak commented on #9114
I can confirm that this repoduces in a server-side blazor app.

[2019-04-05 16:00] dkurok commented on #9116
Addon: It is .NET Core 3.0 (3.0.100-preview3-010431) (otherwise there wouldn't be no Razor components template)

[2019-04-05 16:04] Menighin commented on #9092
@Tratcher I was giving this a try and I'm kinda stuck with one thing:
I must create a new `code_verifier` for each request. Meaning that this is dynamic and not an option of the `AuthenticationHandler`. This `code_verifier` is created before the challenge request (right now I have override the `HandleChallengeAsync` and put the logic there). Later on, when I get the authorization code on the `Exch

[2019-04-05 16:17] blowdart commented on #9079
Not much of a workaround, but I'm glad you're unlocked :)

[2019-04-05 16:19] JohnGalt1717 commented on #8952
@anurse Awesome! Thanks!

[2019-04-05 16:21] Andrew-MSFT commented on #8071
Also, per some of the questions around syncing css and js and Browser Link support.  ASP.NET Core supports Browser Link in Visual Studio, but it's no longer on by default in the ASP.NET Core templates as we strive to make them work for all platforms since Browser Link is specific to Visual Studio.  You can enable Browser Link by following the instructions at https://docs.microsoft.com/en-us/aspnet

[2019-04-05 16:21] Tratcher commented on #9092
The only way to fully round trip data is via the AuthenticationProperties collection that gets serialized into the State field.

[2019-04-05 16:22] javiercn opened #9117 "[Blazor server-side] Better server-side limits"
* We rely on signalr for handling delivery and order of messages.
  * Currently we continue rendering when a client disconnects in case the client connects back and simply queue pending batches.
  * We should have a limit on the number of batches that we are willing to produce once a client disconnect and "pause" the rendering
    after that.
    * Pausing the rendering process means:
      * We s

[2019-04-05 16:25] Menighin commented on #9092
But is it request-safe? I mean, imagine I have two users loging in the app. For one I generate the `code_verifier` `a1` and for the other `b1`. When retrieving the `code_verifier` from the `State` will I always get the correct one for that flow?

[2019-04-05 16:28] mkArtakMSFT commented on #9071
Let's just add a scenario for CTI folks to handle

[2019-04-05 16:28] Tratcher commented on #9092
Yes, the auth properties and state are unique per login.

[2019-04-05 16:28] mkArtakMSFT commented on #9065
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-04-05 16:30] javiercn commented on #7935
@rynowak Should I rename everything to components and then back to blazor? :trollface:

Closing this as there's no work left here.

[2019-04-05 16:30] #7935 closed

[2019-04-05 16:30] danroth27 commented on #9071
I'll take care of this.

[2019-04-05 16:31] mkArtakMSFT commented on #9061
Thanks for contacting us, @julienGrd.
You're facing this issue because we currently don't support JSInterop from a generic type.

[2019-04-05 16:33] mkArtakMSFT commented on #9060
This is a dupe of #8973

[2019-04-05 16:33] #9060 closed

[2019-04-05 16:36] mkArtakMSFT commented on #6427
Per @Andrzej-W 's response above, this is a dupe of https://github.com/aspnet/AspNetCore/issues/5616

[2019-04-05 16:36] #6427 closed

[2019-04-05 16:37] blowdart commented on #9107
That's odd. @HaoK ?

[2019-04-05 16:38] blowdart commented on #9106
@Eilon can you move this to CoreFx?

[2019-04-05 16:39] mkArtakMSFT commented on #6382
Thanks for contacting us, @detachmode.
This is already supported via properties on the `UIMouseEventArgs` type: https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/UIEventArgs.cs#L261

[2019-04-05 16:39] #6382 closed

[2019-04-05 16:40] #6355 closed

[2019-04-05 16:40] blowdart commented on #9097
What @cremor said. For 2.x and above it doesn't matter. It will use the latest major/minor release. It rolls forward. Pinning stops the roll forward, so no security patches for you if you do this.

The way to ensure your machine is on 2.2.3 is to install it.

[2019-04-05 16:45] rynowak commented on #7935
Awesome!

[2019-04-05 16:46] mkArtakMSFT commented on #6301
Thanks for contacting us, @wanton7.
We believe this is dupe of #8204.

[2019-04-05 16:46] #6301 closed

[2019-04-05 16:49] mkArtakMSFT commented on #6221
We believe this issue has been addressed already. If there is something pending here, please file a new issue.

[2019-04-05 16:49] #6221 closed

[2019-04-05 16:49] Eilon commented on #9106
This issue was moved to dotnet/corefx#36631

[2019-04-05 16:49] #9106 closed

[2019-04-05 16:50] HaoK commented on #9107
There's two kinds of validation going on, the MVC/model data validation attributes which control the views/UI validation on the forms, and then there's a set of identity specific properties that do things inside of the identity methods.

The templates use email as the username and set it as so, which is why that happens.  It also does it in two steps, it updates the email ( which works), and then

[2019-04-05 16:51] mkArtakMSFT commented on #6218
Thanks for contacting us, @ranabuelo.
This is not something we plan to do in the near future, yet we would happily consider a PR if you'd send one.

[2019-04-05 16:52] mkArtakMSFT commented on #6218
@ranabuelo could you also share details about what you are trying to do? How would you use such a feature?

[2019-04-05 16:54] mkArtakMSFT commented on #6182
@pranavkm is this already done?

[2019-04-05 16:54] danroth27 commented on #6205
This issue was moved to mono/mono#13881

[2019-04-05 16:54] #6205 closed

[2019-04-05 16:56] mkArtakMSFT commented on #6176
Thanks for contacting us, @LukeTOBrien.
This is not something we plan to provide support for in the near future.

[2019-04-05 16:56] #6176 closed

[2019-04-05 16:57] mkArtakMSFT commented on #6182
Confirmed with @pranavkm. This is done!

[2019-04-05 16:57] #6182 closed

[2019-04-05 17:00] SteveSandersonMS commented on #7935
It just goes to prove that if you ignore problems for long enough, eventually the universe solves them automatically.

[2019-04-05 17:01] NTaylorMullen opened #9119 "[Tooling] Blazor Libraries are treated as 2.1 MVC at design time"
### Describe the bug
Basically Blazor libraries do not work in tooling. They're treated as MVC 2.1 projects. In order to work around this you need to currently do 2 things:

1. Add `<RazorLangVersion>3.0</RazorLangVersion>`
2. Add `<AddRazorSupportForMvc>true</AddRazorSupportForMvc>`

Then it treats the components properly. I'm not confident if we want the `AddRazorSupportForMvc` bit there but cur

[2019-04-05 17:01] NTaylorMullen commented on #9111
Looks like Blazor class libs are busted at design time too but for slightly different reasons. Filed an issue: https://github.com/aspnet/AspNetCore/issues/9119

[2019-04-05 17:02] rynowak commented on #9119
/cc @pranavkm - this is fixed right?

[2019-04-05 17:04] SteveSandersonMS commented on #6354
`Document.execCommand('copy')` is a difficult API to invoke because browsers only honor it when called synchronously in response to user action. This means it won't do anything when called via asynchronous JS interop.

The workaround, unfortunately, is to do what you've already done: trigger the call directly using a JavaScript event handler. I know this falls outside the desired Blazor programmin

[2019-04-05 17:04] #6354 closed

[2019-04-05 17:07] rynowak commented on #9119
/cc @pranavkm - this is fixed right?

[2019-04-05 17:18] NTaylorMullen commented on #9119
Here's binlogs/logs for this as well if it helps: \\NTaylorMullen2\SHARED\BlazorLogs

[2019-04-05 17:22] springy76 commented on #6385
I changed my sample above and now it crashes **always** on first click of button 0-4 or 6-11. But only reproducible using a freshly started server. I've seen the exception happen a second time and then even after hitting F5 (which creates a new circuit) it did not happen again.

Stacktrace:
[code]

[2019-04-05 17:32] Menighin commented on #9092
@Tratcher I'm sorry but I think I didn't understand. What I did was simply extending `OAuthOptions` with my custom options that holds a `CodeVerifier` property. Then on the `HandleChallengeAsync` I set it and on the `ExchangeCodeAsync` I use it to get the Token.

The problem is that, from my tests, this is not "request-safe". I started two login flows in parallel and the wrong `CodeVerifier` was s

[2019-04-05 17:35] Menighin commented on #9092
Searching more here, I think you were refering to the `state` property set on te [`BuildChallengeUrl`](https://github.com/aspnet/Security/blob/master/src/Microsoft.AspNetCore.Authentication.OAuth/OAuthHandler.cs#L225) step. This is sent to the authorization request but I can't find a way to get it on the `ExchangeCodeAsync` to desserialize and use. Plus, I don't know if the `code_verifier` should

[2019-04-05 17:37] Tratcher commented on #9092
Options? No, that is global. I said AuthenticationProperties, it's a per login collection available in most auth APIs. https://github.com/aspnet/AspNetCore/blob/eaf63a670dde3cbbbaa73fb88653f8e197fbe966/src/Security/Authentication/OAuth/src/OAuthHandler.cs#L210-L220

[2019-04-05 17:37] aaronlcope opened #9121 "MvcCoreLoggerExtensions - Information Leakage Security Vulnerability"
### Describe the bug
Information leakage found in MVCCoreLoggerExtensions.cs facility.

On line 195 of [MvcCoreLoggerExtensions.cs](https://github.com/aspnet/AspNetCore/blob/c565386a3ed135560bc2e9017aa54a950b4e35dd/src/Mvc/Mvc.Core/src/MvcCoreLoggerExtensions.cs)

The action method arguments are logged. MVC applications may contain authentication screens where user sensitive credentials can be obt

[2019-04-05 17:41] Menighin commented on #9092
lol, my bad... But anyway, I don't have any `AuthenticationProperties` in the [`ExchangeCodeAsync`](https://github.com/aspnet/Security/blob/master/src/Microsoft.AspNetCore.Authentication.OAuth/OAuthHandler.cs#L158)... Should I override `HandleRemoteAuthenticateAsync` altogether...? :s

[2019-04-05 17:55] blowdart commented on #9121
Interesting. As Information isn't the default loglevel you wouldn't get this logged by default, but when you do tweak the logging level yes, this is a potential problem if you haven't secured your logs like best practice would dictate.

So I'm not classifying this as a security patch Tuesday type bug, but rather something that will be fixed in the next scheduled releases for 2.x and above. The cha

[2019-04-05 17:55] blowdart commented on #9121
@mkArtakMSFT Can you assign this to someone please?

[2019-04-05 17:56] DamianEdwards commented on #4135
Seems worthy of a design meeting with a few folks, e.g. @Tratcher, @davidfowl, @shirhatti, myself, etc.

[2019-04-05 18:00] aaronlcope commented on #9121
@blowdart  - thanks for the eyes on this. much appreciated.

[2019-04-05 18:03] blowdart commented on #9121
For future reference, security issues should first go to secure@microsoft.com, where they can qualify for our [bug bounty](https://www.microsoft.com/en-us/msrc/bounty-dot-net-core). Github issues can't qualify.

[2019-04-05 18:07] mkArtakMSFT commented on #9121
Thanks @blowdart.
@pranavkm lets get this fixed for 2.1, 2.2 as well as the upcoming releases.

[2019-04-05 18:15] mkArtakMSFT commented on #9018
Seems like @javiercn has fixed that already. @javiercn can you please confirm?

[2019-04-05 18:16] javiercn commented on #9018
Yes

[2019-04-05 18:16] #9018 closed

[2019-04-05 19:02] Andrzej-W commented on #9116
In razor components template prerendering is enabled. In YourApp\YourApp\Pages\Index.cshtml file there is line
[code]
Change it to
[code]
Of course now prerendering doesn't work.

[2019-04-05 19:13] Menighin commented on #9092
@Tratcher I was able to make it work overriding the `HandleRemoteAuthenticaAsync` to call a custom `ExchangeCodeAsync` that has an `AuthenticationProperties` as a parameter.
I really don't think this is a nice way to it. A feature to have some events in between would be great (like OpenId).

Besides that, I'm not a security expert and would like to ask you just one last thing:
The whole point of [

[2019-04-05 19:17] Tratcher commented on #9092
AuthenticationProperties is fully encrypted by Options.StateDataFormat.Protect() when making the state field, it's as secure as your auth cookies.

[2019-04-05 19:27] halter73 commented on #8843
Weird this could happen with the [TimingPipeFlusher](https://github.com/aspnet/AspNetCore/blob/77380fb27b22a0a61a4636a7ef33a27043972015/src/Servers/Kestrel/Core/src/Internal/Infrastructure/TimingPipeFlusher.cs).

https://github.com/aspnet/AspNetCore/blob/77380fb27b22a0a61a4636a7ef33a27043972015/src/Servers/Kestrel/Core/src/Internal/Infrastructure/TimingPipeFlusher.cs#L73-L76

We know this type of

[2019-04-05 19:31] halter73 commented on #8843
Never mind. I don't think this is a simultaneous write flush continuation registration issue, because the error message should be "Concurrent reads or writes are not supported." in that case.

I don't know how ValueTask.AsTask() could fail otherwise unless there is some bug in DefaultPipeWriter.

@davidfowl

[2019-04-05 19:34] Menighin commented on #9092
I will go with this solution then, thanks a lot for the support!

[2019-04-05 19:34] Ponant commented on #9107
I disagree with the arguments.
1) The `[DataType(DataType.EmailAddress)] ` or `[EmailAddress]` will encode the umlaut character _ü_ silently and transform it somewhat to some combination of dashes and dots and some alphanumeric (see above), and that will end up in the database and ui for both username and email since now the former is encoded with dashes and the like, so it passes validation, see:

[2019-04-05 19:35] davidfowl commented on #8843
Yea I'm looking at it. It seems as though there's some discrepancy between what GetStatus returns and the state of the awaitable. The exception is coming from here https://github.com/dotnet/corefx/blob/0c8fa4e730f966ec923d3f623deb00dba8c431b4/src/Common/src/CoreLib/System/Threading/Tasks/ValueTask.cs#L609

[2019-04-05 19:37] madelson opened #9124 "IApplicationLifetime events not being hit when running ASP.NET Core with IIS using the out-of-process model"
### Context
I have an application which I am porting from ASP.NET to ASP.NET Core. The application used to leverage ASP.NET's IRegisteredObject API to perform custom shutdown logic (keeping the app alive while various bits of work complete), and with ASP.NET Core I'm transitioning this to the new IApplicationLifetime cancellation token events. I followed the instructions [here](https://docs.micros

[2019-04-05 19:41] Andrzej-W commented on #5545
I fully agree with @sbuchok that we usually want to handle preventDefault and often stopPropagation conditionally. I understand that it is a problem in Blazor on the server, but I believe that people will prefer client side Blazor in the future (when it will be fully supported). For those of us it would be nice to have fully functional framework without artificial limitations.

[2019-04-05 20:03] joelhays opened #9125 "Blazor HttpClientHandler.SendAsync is wiped"
### Describe the bug
Blazor HttpClientHandler.SendAsync is wiped. Similar issue here https://github.com/aspnet/Blazor/issues/1484 that mentions a correction in 0.7.0 and working with the mono team to add support.
I am using Blazor 0.9.0-preview3-19154-02.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.100-preview3-010431'
2. Invoke the SendAsync metho

[2019-04-05 20:06] ryanbrandenburg commented on #7388
Closing this. @Tratcher, if you run into other/new problems file a new issue.

[2019-04-05 20:06] #7388 closed

[2019-04-05 20:26] dkurok commented on #9116
Great, this works!
Is there somewhere a deeper explanation for that behaviour and intention of the prerendering? I want to use a dynamic nav-menu (rendered from DB-content depending on user's rights); I fill a List<menuEntry> at the very beginning (in OnInit())  but saw this gets called twice. Can I "ask" for a status like "isInPrerendering" or alike? found just a very small introduction of preren

[2019-04-05 20:34] PinpointTownes commented on #9107
It's actually called [punycode](https://en.wikipedia.org/wiki/Punycode).

@leastprivilege or French @PinpointTownes

That's a rather strange bug, indeed (and not something I've seen before, tho' I must admit I don't use accents in my email addresses, which is often not allowed by major email providers anyway).

Are you sure the username/email are not punycoded client-side by the browser before bei

[2019-04-05 20:35] pranavkm opened #9126 "Remove workarounds for https://github.com/aspnet/AspNetCore/issues/9119"
We're adding to a workaround to Blazor.Build to workaround https://github.com/aspnet/AspNetCore/issues/9119. This needs to be removed for preview5 once tooling is updated

[2019-04-05 20:39] rynowak opened #9127 "Resolve potential conflicts between CORS and HTTP method metadata"
See here: https://github.com/aspnet/AspNetCore/pull/9099#discussion_r272421570

MVC is smart enough to figure this out, but it's not incredibly obvious. The HttpMethod metadata contains a setting that says whether the endpoint is CORS aware or not. It's not clear how you could use a convention to correctly enable CORS for a random endpoint.

[2019-04-05 20:43] Andrzej-W opened #9128 "Blazor: Add a possiblity to pass data from page component to main index.cshtml during prerendering"
### Problem to solve
We want to use Blazor app as normal web app which has to be SEO friendly. We also want to integrate this app with social sites. To achieve this we have to dynamically build `<head>` section of html page. We have to have different title, description and metatags for each page.

### Describe the solution you'd like
We have prerendering already and main index.html file is now ind

[2019-04-05 20:58] pranavkm opened #9129 "Change default LanguageVersion to Latest prior to 3.0 RTM"
In runtime compilation, we need to assume LangVersion.Preview during 3.0-preview releases when no value is specified in the deps file.
Prior to RTM, this needs to be changed to `LangVersion.Latest`. This matches Roslyn's versioning strategy.

[2019-04-05 20:59] Andrzej-W commented on #9116
@dkurok Temporary solution for "isPrerendering": https://github.com/aspnet/AspNetCore/issues/8404#issuecomment-471802300
Discussion about problems during prerendering: https://github.com/aspnet/AspNetCore/issues/8786
It is now closed and should be releases in preview 4.
Here you can see prerendering in action (great demo by Steven Sanderson)
https://www.youtube.com/watch?v=0RfUPr0KrSM&feature=yout

[2019-04-05 21:04] ajaybhargavb commented on #9114
Sent a PR with the fix for Problem 2. Problems 1 and 3 refer to the same issue and @pranavkm is working on fixing those.

[2019-04-05 21:07] ajaybhargavb commented on #9114
The workaround for Problem 2 for design time btw is to use fully qualified component tags,

[code]
will work fine in both design-time and runtime.

[2019-04-05 21:07] JunTaoLuo commented on #9055
Didn't end up using this hack

[2019-04-05 21:07] #9055 closed

[2019-04-05 21:08] Ponant commented on #9107
@PinpointTownes  I will do more checks later as it is late here; all I can say for now is that if you remove I will receive punycoded data only if I have these EmailAddress attributes. This holds with or without validation js scripts. Otherwise the data will go with the umlaut to the server and UserValidation will reject the username (as expected). Does this tell you something?

[2019-04-05 21:20] Eilon commented on #8806
Given that we have a workaround, moving the rest of this to preview6.

[2019-04-05 21:24] Eilon commented on #7729
@joeloff - is the Hosting Bundle work for this already done in https://github.com/aspnet/AspNetCore/pull/8450 ? Should this bug be closed?

[2019-04-05 21:29] Eilon commented on #3755
Moving to 'Discussions' milestone because this item isn't tracking any work, but rather we will update it as details of the implementation change.

[2019-04-05 21:31] shirhatti opened #9130 "ANCM Event log entry missing commit SHA"
I'm guessing this is an artifact of moving to AzDo.

[code]

[2019-04-05 21:37] Eilon commented on #3610
This appears to be done. I have a build and inside of `C:\Program Files\dotnet\packs\Microsoft.AspNetCore.App.Ref\3.0.0-preview4-19162-05\ref\netcoreapp3.0` I have ref-only DLLs, plus the matching XML files.

We're not sure what this means:

[2019-04-05 21:40] BrennanConroy commented on #9069
@dougbu I think we can close this now?

[2019-04-05 21:44] Eilon commented on #8633
Needs to be done at ~RTM time, before we ship any patch. Might need to be done earlier if we do a patch prototype prior to RTM, which is a likely possibility.

[2019-04-05 21:48] Eilon commented on #8443
There was one or two times where there was a bug that prevented this from being true, but in the general case (and we've fixed those bugs), a 2.2.x app should work in production on whatever 2.2.x runtime is installed, as long as you *did not* specify the `.App` version, which is the recommended pattern.

Can you provide more info, such as a specific example, where you feel there is still a problem

[2019-04-05 21:53] Eilon commented on #8428
@natemcmaster can you try to repro this and see what's going on?

[2019-04-05 21:58] Eilon commented on #7190
Let's discuss for preview6.

[2019-04-05 21:59] #4158 closed

[2019-04-05 21:59] Eilon commented on #4158
No action planned. This is ancient.

[2019-04-05 22:01] Eilon commented on #4157
Ancient. Not needed anymore in the new world.

[2019-04-05 22:01] #4157 closed

[2019-04-05 22:12] dougbu commented on #9069
Yup

[2019-04-05 22:12] #9069 closed

[2019-04-05 22:14] JunTaoLuo commented on #2760
We are pushing our symbols to the Microsoft symbol Servers now so no more action items here.

[2019-04-05 22:14] #2760 closed

[2019-04-05 22:20] danroth27 opened #9132 "Fixup Blazor template names"
Here's what the Blazor template names should be both on the CLI (template.json) and in VS (vs-2017.3.host.json):

Blazor (client-side)
Blazor (ASP.NET Core hosted)
Blazor (server-side)

[2019-04-05 22:22] joeloff commented on #7729
I have a few more tests to run, then I'll close it. Probably Monday if that's okay

[2019-04-05 22:33] pranavkm opened #9133 "VS shows documentation for attributes when writing the component tag"
![image](https://user-images.githubusercontent.com/174281/55659790-1afe8e80-57b8-11e9-883d-fe85f41156f9.png)

Reproduced using 3.0.0-preview4 SDK and d16.1stg

[2019-04-05 22:55] rynowak commented on #9133
The fix for this would be in WTE. They build the tooltip.

[2019-04-05 23:00] DamianEdwards opened #9137 "Razor expression statement completion disappears when typing quickly in Visual Studio"
Using Visual Studio 16.1.0 Preview 1.0 [28804.136.d16.1] (Internal Dogfooding Preview)

See GIF below for capture. Repro was simply creating a new Razor Components app, opening `Host.cshtml`, then attempting to type a Razor expression that calls `Html.RenderComponentAsync`.

![5YhcFGrC4c](https://user-images.githubusercontent.com/249088/55660556-d96fe280-57bb-11e9-8e9d-299420eeaec2.gif)

[2019-04-05 23:03] Eilon commented on #7729
Sounds good. Monday @ noon we branch, but if it's just tests, just keep checking into master, and you're good to go.

[2019-04-05 23:05] NTaylorMullen commented on #9137
@amadeusw @ToddGrun thoughts? This seems like a regression.

[2019-04-05 23:14] mkArtakMSFT opened #9138 "New Razor components project shows warning about not found `components.server.js` file"
Create Razor Components project, open index.cshtml file then meet a warning:
`File 'C:/Users/.../Pages/_framework/components.server.js' not found.`

[2019-04-05 23:59] miroslavp commented on #5501
@rynowak
Hey Ryan,
An year ago I asked if you can add onmouseenter and onmouseleave events. According to your post, they should be there, but in reality, they are not. We have only onmouseover and onmouseout. Any chance to add those in the next preview?

[2019-04-06 00:01] #9096 closed

[2019-04-06 00:22] pranavkm commented on #9119
Closing this as the immediate issue is resolved. We'll use https://github.com/aspnet/AspNetCore/issues/9126 to track fixing this in tooling and removing workarounds.

[2019-04-06 00:22] #9119 closed

[2019-04-06 02:06] Menighin opened #9141 "Can't run AspNetCore - File not found on restore.cmd"
Hi, I'm trying to setup a dev envinroment to try to contribute with something.

Following [this guide](https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md) I should run ".\restore.cmd" first.

When running it I get the following error:

[code]

Checking the [link it tries to download](https://dotnetcli.azureedge.net/dotnet/Sdk/3.0.100-preview4-010940/dotnet-dev-win-x64.3.0.100

[2019-04-06 02:54] BenHayat opened #9142 "Changes to Razor Component pages are not reflected - Preview 3"
When I change any page in Component|Pages|index.razor or any other page, save and run, I don't see the new changes.

Steps:
Very easy, just change a page, save it and run it.

Same behavior shows on FF and Chrome.
This is the latest version I'm running.

Update: I changed the counter page to add 2 to each count, and that works. But if I make any changes to static text, do not get updated on the ne

[2019-04-06 04:24] #8996 closed

[2019-04-06 05:24] rynowak commented on #9138
This is WTE - not us.

[2019-04-06 05:30] JamesNK opened #9143 "Documentation for startup analyzer endpoint routing warning"
https://github.com/aspnet/AspNetCore/blob/69f4b6d227bb8b3e809b0c99855d8a253637da90/src/Mvc/Mvc.Analyzers/src/Startup/StartupAnalyzer.Diagnostics.cs#L18

This help link currently goes to https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing

Before 3.0 final the link should point to an article on migrating MVC from 2.0 to 3.0

// @rynowak

[2019-04-06 05:31] JamesNK commented on #8898
Help file article - https://github.com/aspnet/AspNetCore/issues/8898

[2019-04-06 05:31] #8898 closed

[2019-04-06 06:34] davidfowl commented on #9124
I don't believe that visual studio does a graceful shutdown when killing IIS Express, AFAIK it's its just killing the process. When you say "rebuild and make a code change" I assume you're testing this during development in Visual Studio using IIS Express? Is that correct?

cc @BillHiebert

[2019-04-06 10:26] javiercn commented on #9138
Yep. I believe @danroth27 is tracking this.

[2019-04-06 12:57] madelson commented on #9124
@davidfowl no we use local IIS rather than IIS express. We have a microservices architecture where devs are frequently running a handful of services locally. Additionally, some of our front-end devs use VSCode over VS. That makes it very convenient to have local services always running instead of having to have VS open in debug mode to run the app.

[2019-04-06 14:34] ByEBA commented on #9019
Why don't you edit the 2.2.x version of this topic?

[2019-04-06 16:18] rynowak commented on #9138
If we want a direct solution to this we could add a static readonly property to something, so this appears in your code as:

[code]

That would resolve this warning - I'm not sure if we see this as an overall good thing to hide the script path.

[2019-04-06 16:20] rynowak commented on #9143
Assigning myself. I'm planning to have this content available as part of the preview 4 rollout.

[2019-04-06 16:25] MarkStega commented on #9132
I'm good with the names, but for those newly introduced to Blazor consider:

Blazor (client-side)
Blazor (client-side + ASP.NET Core host)
Blazor (server-side)

[2019-04-06 17:14] ronl opened #9144 "unhandled exception crashes dotnet web api on linux"
Have a .net core 2.1 web api running on AWS Linux instance. All of a sudden a few weeks ago, started having issues with an unhandled exception crashing the dotnet process, therefore the web api is no longer available.

The error message seen when running the dotnet api dll from the command line

--- End of stack trace from previous location where exception was thrown --- at System.Threading.Execut

[2019-04-06 17:52] guylando opened #9145 ""VerifyUserTokenAsync() failed with purpose..." for old token on iis hosted site with data protection set to "Load User Profile"=true"
Setup:
- iis 10
- windows server 2016 single server (not a farm)
- net core 2.1.7 targeting net472 using kestrel with iis integration
- app pool "Load user profile"=true and logs show data protections loading from "C:\Users\apppooluser\AppData\Local\ASP.NET\DataProtection-Keys"
- iis configured with the default 29 hours recycle of apppool (https://weblogs.asp.net/owscott/why-is-the-iis-default-app

[2019-04-06 18:14] dougbu commented on #9019
@ByEBA is your question about backporting the #4802 fix? If yes, please see my [comment](https://github.com/aspnet/AspNetCore/issues/4802#issuecomment-476316779) in that issue:

[2019-04-06 18:31] guylando commented on #5826
+1 makes it much harder to understand what is the problem because of the lack of logs (debug level logs seem appropriate)

[2019-04-06 18:48] #5376 closed

[2019-04-06 18:52] guylando commented on #9145
I think the problem is that default token LifeSpan is 1 day.

[2019-04-06 18:52] #9145 closed

[2019-04-06 18:58] mrpmorris opened #18632 "Cannot call back C# generics from JS"
[See this proposed solution](https://github.com/mrpmorris/JSInterop)
[Pull request](https://github.com/dotnet/jsinterop/pull/6)

When trying to call back a DotNetObjectRef that is a reference to an instance of a generic class it is not possible to execute a method that has a parameter of the generic type. It results in the following exception

`System.InvalidCastException: Invalid cast from 'Syste

[2019-04-06 19:11] TsengSR commented on #8998
I'd expect an `AmbiguousActionException`, which we got before when two actions did match the same route, i.e. two get methods which only differ in query parameters

[2019-04-06 19:27] pauloortins opened #9146 "Aspnet core with azure Ad failing only when hosting on docker"
I have an aspnet.core project that is using Azure Ad to authenticate. Everything works ok if I run it on localhost or if I host it on Azure. When using docker it works locally but it not works when I host my docker image on azure. I'm seeing an error like that:

No webpage was found for the web address: https://xxxxx.azurewebsites.net/signin-oidc

And this is what I see on the server logs:

`Micro

[2019-04-06 19:35] dougbu commented on #4896
@mkArtakMSFT though I've reset the checkboxes [above](https://github.com/aspnet/AspNetCore/issues/4896#issuecomment-419576178) to reflect what work is complete, this issue overlaps the [Client Code Generation project](https://github.com/orgs/aspnet/projects/21). Suggest we close this and just track the work in that project. Any objection?

[2019-04-06 21:47] lol768 opened #9147 "Broken link in Blazor README"
https://github.com/aspnet/AspNetCore/tree/master/src/Components#blazor

Directs to https://www.youtube.com/watch?v=Qe8UW5543-s which states "This video has been removed by the user"

[2019-04-06 22:06] ronl commented on #9144
This does not occur for every exception, seeing this with one case with one sql exception case.  Though, still within the call to an api controller action method.

[2019-04-06 22:38] rynowak opened #9148 "Migration guidance for using RouteData.Routers"
(placeholder)

[2019-04-07 01:04] dararish opened #9150 "Partial reusing ViewData object instead of creating new instance"
### Is your feature request related to a problem? Please describe.
PageModel.Partial does not behave as expected. Say the current page requires a model of type A, and I try to `return Partial("_MyPartial", modelB)`(where modelB is a model of type B) from a Post action, the following error occurs:
`System.InvalidOperationException: The model item passed into the ViewDataDictionary is of type 'B', b

[2019-04-07 02:46] #9090 closed

[2019-04-07 02:48] ajaybhargavb commented on #9090
Moving this to preview4 as this is fixed.

[2019-04-07 03:04] kenlyon commented on #5942
I think it is.

[2019-04-07 04:26] bluebaroncanada opened #9151 "HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure"
After wading through tons and tons of documentation and errors, I believe I have a truly unique underlying issue.

Right now I'm getting `Failed to start application '/LM/W3SVC/31/ROOT', ErrorCode '0x8007023e'.` in my event viewer.

The most common error I've had is
`Application '/LM/W3SVC/31/ROOT' with physical root 'C:\Inetpub\vhosts\tmlinc.net\subdomains\cd\' failed to start process with comman

[2019-04-07 04:41] bluebaroncanada commented on #9151
Here's a list of related documents I have looked at:
https://github.com/aspnet/AspNetCore/issues/4566
https://github.com/aspnet/AspNetCore/issues/5973
https://github.com/aspnet/AspNetCore.Docs/issues/8555

https://github.com/aspnet/AspNetCore/issues/8134 - Doesn't apply.  I have recreated two brand new trivial projects in both Rider and Visual Studio.

https://docs.microsoft.com/en-us/aspnet/core/

[2019-04-07 07:44] MoienTajik opened #9152 ".NET Core 3.0.0-preview4-27604-05 Runtime - blob not exist"
I'm trying to build from source. When I run build.cmd, it tries to download .NET Core 3.0.0-preview4-27604-05 from [this](https://dotnetcli.azureedge.net/dotnet/Runtime/3.0.0-preview4-27604-05/dotnet-win-x64.3.0.0-preview4-27604-05.zip) URL, but the URL says:

So, where can I download that version of .NET Core to build the source code? Previous versions were worked correctly, but today when I've p

[2019-04-07 07:51] MoienTajik commented on #9152
Fixed by switching network connection!

[2019-04-07 07:51] #9152 closed

[2019-04-07 13:12] jmk92 commented on #4422
**I am very troubled by this now, even if we upgrade to the latest 2.2.3, or 3.0.0 preview 3, as long as hosting in the process, it will be irregular, has been a random problem.

We even upgraded from Windows Server 2016 to 2019, but the problem remains.

The log records are as follows:**

2019-04-07 08:11:51.7792 | 2 | ERROR | Microsoft.AspNetCore.Server.IIS.Core.IISHttpServer | Connection ID "15

[2019-04-07 13:34] Ponant commented on #9107
I think this should be moved to corefx as it does not seem to be related to Identity. I will update this thread once the bug is isolated.
https://github.com/dotnet/corefx/issues/36675

[2019-04-07 13:48] PinpointTownes commented on #9107
These attributes affect the way email input boxes are represented in HTML5 (i.e as `type=email` inputs rather than `type=text`).

A quick search shows that it is indeed a browser-side conversion, that automatically happens for email fields: https://bugs.chromium.org/p/chromium/issues/detail?id=410937

It's also interesting to note that the W3C HTML WG updated the spec to [allow non-ASCII chars in

[2019-04-07 13:53] scottbrady91 opened #9154 "Consider adding OIDC event to handle identity token validation for hybrid flow"
I am trying to handle JWE identity tokens returned from an OpenID Provider. Since `OpenIdConnectProtocolValidator` is meant for JWS, I must ensure that the token sent for validation is the inner token of the decrypted JWE.

A JWE identity token returned from the authorization endpoint (implicit flow) or token endpoint (authorization code flow) can be handled using the token validated event.

Howev

[2019-04-07 13:54] Ponant commented on #9107
@PinpointTownes , then why I do not have this problem with a fresh non core asp.net identity but still on chrome?

[2019-04-07 14:00] Ponant commented on #9107
@PinpointTownes , ok I just found out that the old .Net framework outputs type=text while .Net Core type=email. I also found that FF does send the data correctly to the browser, so it seems to be a chromium issue.

[2019-04-07 14:02] Ponant commented on #9107
the bug you link to dates back to 2014, so I still think  that should be fixed here to accommodate for chrome since the response from chromium has been a "won't fix".

[2019-04-07 14:06] blowdart commented on #9146
Can you capture a fiddler trace, or something shows us the OIDC login flow?

[2019-04-07 14:07] PinpointTownes commented on #9107
Yep, that's because the MVC 5.x templates use `Html.TextBoxFor` for the email/username field. If you switch to `Html.EditorFor`, it will take the `EmailAddress` attribute into account and you'll see a similar behavior.

At best, Identity's UI could try to proactively "punydecode" the username/email fields back to their real Unicode representation and validate them after that. Whether it's a good i

[2019-04-07 14:10] Ponant commented on #9107
Yes, well that is maybe an issue for the  `asp-for` tag helper

[2019-04-07 14:13] blowdart commented on #9107
Given there's RFCs for international characters in email addresses now, (RFCs: 6530, 6531,6532, 6533), and even Office 365 supports it (and let's face it, Microsoft isn't the fastest to jump on board to new standards), allowing international characters is probably a valid choice. Chrome's conversion however, in my view, isn't.

If anything I'd lean to the "un-punycode", but that would have to be t

[2019-04-07 14:16] PinpointTownes commented on #9107
There's [IdnMapping](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.idnmapping?view=netframework-4.7.2) (already used in ASP.NET Core), but it's completely specific to domain names and I'm not sure it would work with email addresses.

[2019-04-07 14:17] Ponant commented on #9107
Why not reverting back to type=text, it works in that I avoid formatting surprise and then it is up to the dev to decide if he wants non us-ascii or not?

[2019-04-07 14:20] PinpointTownes commented on #9107
Well, that would mean degrading the UX a bit, as `type=email` inputs allow mobile browsers to render a keyboard with everything you need to type an email address (typically, the `@`). It's not exactly something you can blindly change without weighing the pros/cons.

[2019-04-07 14:22] ronl commented on #9144
Found the cause.  Found a case where an async Task method was not properly waited on using await.  So, when an exception occurred in that method, it was after the controller method had returned.  This brought down the entire dotnet web api.

Will close this.  Understand this is a no-no,  but still would be nice to know how an unhandled exception from the ThreadPool could be logged and move on with

[2019-04-07 14:22] #9144 closed

[2019-04-07 14:28] Ponant commented on #9107
The problem is that Chrome is dominant among browsers🥇

[2019-04-07 14:30] Ponant commented on #9107
You mean this
https://github.com/aspnet/AspNetCore/blob/574be0d22c1678ed5f6db990aec78b4db587b267/src/Http/Http.Abstractions/src/HostString.cs

[2019-04-07 14:50] Ponant commented on #9107
Actually that is better
https://docs.microsoft.com/en-us/dotnet/api/system.globalization.idnmapping?view=netframework-4.7.2
it seems to work but one needs to isolate the domain name. It starts getting messy if there are several @ symbols in the email address.

[2019-04-07 14:52] blowdart commented on #9107
Chrome munges to the left of the @? Aggh.

The original example, bernhard@xn--gnter-kva.com is arguable right, because it's just the domain name that got IDNified.

[2019-04-07 14:55] Jaffacakes82 commented on #8447
@SteveSandersonMS quick question regarding the following:

`InvocationTimeoutMilliseconds` gets a default value of 60 seconds if it's not set, meaning there's no reliable way to check whether it's set or not. If I were to pass this in to `HttpNodeInstanceEntryPoint.ts` and set the timeout off the default value, I'm essentially reducing the default timeout of the Node HTTP server by 60 seconds.

Wh

[2019-04-07 15:01] blowdart commented on #9154
Also https://github.com/aspnet/AspNetCore/issues/9092

[2019-04-07 15:12] Ponant commented on #9107
1) günter@gmail.com is rejected by Chrome, FF, Edge
2) hello@günter.com gets
-encoded by chrome
-sent raw by FF
-refused by edge

[2019-04-07 15:18] Ponant commented on #9107
The IDN makes things more complicated as the methods throw if the input on the server is ascii or not and this input will depend on the browser's behavior. I don't really like this pass especially that there are phishing attacks with punycode domains.

[2019-04-07 15:28] Ponant commented on #9107
@PinpointTownes has a good point about mobile experience with type=text but having that in asp-for will avoid the complexity discussed above.
One can further make the system more robust by having an "AllowedEmailCharacters" as a property in identityoptions together with the validation similar to "AllowedUserNameCharacters" that can be tweaked by the dev who wishes to include or exclude non ascii t

[2019-04-07 15:53] #9132 closed

[2019-04-07 16:05] blowdart commented on #9107
Well edge will match Chrome soon enough ...

We did merge a new feature in 3.0 for having [different username and email normalizers](https://github.com/aspnet/AspNetCore/pull/8412) - an email normalizer could reverse IDN on the domain side.

@HaoK do normalizers run before validators?

[2019-04-07 16:27] HaoK commented on #9107
Normalizes have nothing to do with the actual name field. It’s only for dB lookups

[2019-04-07 16:35] blowdart commented on #9107
Darn it.

[2019-04-07 16:44] Ponant commented on #9107
@blowdart in the end I don't think that is your issue :) I mean it would make more sense that this is something at the MVC level, where strings will be puny-decoded to counter chrome's behavior. Having` <input type="text" asp-for="Input.Email"/>` fixes this at the moment.

[2019-04-07 16:51] blowdart commented on #9107
Except switching it back makes for a worse end-user during input, and is semantically dubious.

[2019-04-07 17:13] Ponant commented on #9107
I agree, this is a workaround. But in the end I owuld find it more natural if the conversion is made at the action level of an mvc page or handler before entering a usermanager or the identity methods.

[2019-04-07 18:02] guardrex commented on #5524
Just want to update (not surprised ... just say'in) that it's still happening (3.0 Preview 3 SDK and VS2019). I changed the solution folder name of the Blazor doc's sample app from `BlazorSample` to `Blazor` ... :boom: with the errors reported on this issue ... changing it back to `BlazorSample` and all is :+1: again.

[2019-04-07 18:15] LaurenceFrost opened #9155 "Razor Components to Web API - DateTime is an hour behind"
### Describe the bug
I am using .Net Core 3.0 Preview 3 and I am having an issue with the DateTime values. I have a solution split into 3 projects.

- Razor Components project
- Web API project
- Web shared project containing view models for the above projects to share

The issue is that if I post a view model containing a DateTime property from Razor Components, the view model arrives at the Web

[2019-04-07 18:52] bluebaroncanada commented on #6111
I don't recommend leaving it like this, but this is what fixed it for me after HOURS AND HOURS of debugging.
Right click on your site in IIS Manger > Edit Permissions > Security > Edit > Add > Type "everyone", click Check Names > OK.

[2019-04-07 19:36] rynowak commented on #5524
This was actually fixed in VS 16.1 preview 1 - will be released "soon"

[2019-04-07 19:36] #5524 closed

[2019-04-07 20:11] Franklin89 opened #9156 "NavLink always active if href="/""
If you use the `NavLink` component in a blazor application and point to the base url `href="/"` it will always be marked as active.

We have a navigation item called `Home` that points to "/". This navigation item will always have the class `active` on it even if you navigate to a different page.

[2019-04-07 21:35] BenHayat commented on #9142
Is anyone experiencing this? Band new installation of .Net core preview 3 with VS2019. I create a basic app.

If I change anyone of the component text the first time, I build and run, I see the changes at runtime. After that any new changes are ignored.
I cleared Browser cache but no help.

How are people are progressing with this bug? Am I doing something wrong?
Could someone from the team shed s

[2019-04-07 21:59] BenHayat commented on #9142
**Update - How to get around it.**
Every time I make changes and save, before I run, I  need to do a "clear Solution", then I see the new changes.

[2019-04-07 22:04] pranavkm opened #9157 "GenerateReferenceSources fails in master"
[code]

Copying a 2.1 M.NetCore.App in the shared runtime dir fixes the issue

[2019-04-07 22:33] DLozanoNavas opened #9158 "INodeServices not working on Azure, but working on Localhost"
I'm using asp.net core 2.2 and an instance of INodeServices for interoperability between C# and Node. The problem is that my Node invocation works great on my development environment, but once I push my code to Azure App Service and then execute the invocation (trough an MVC controller), it seems unable to locate the Node code to execute and after waiting a bit, it throws an error.

I've founded b

[2019-04-07 22:42] Ponant commented on #9107
ok my understanding now is that google chose to punycode to avoid homograph attacks, e.g.
here
https://аррӏе.com
sounds like apple? check on FF and Chrome and Edge and only FF will show "аррӏе.com" in the url bar.

[2019-04-08 00:20] jkotalik commented on #9151
My initial guess is that the folder you are trying to use doesn't have permissions to be used by IIS. 0x80070002 is an error code for FileNotFound. Make sure  that the folder that your published application is in has permissions to IIS_IUSRS. https://stackoverflow.com/questions/14934006/iis-iusrs-and-iusr-permissions-in-iis8 for more info.

[2019-04-08 02:49] cyberjaws commented on #6385
Thanks @springy76. That is the same exception that this thread is tracking. Glad to see that you have code and a process that is repeatable. @SteveSandersonMS do you think this could be addressed before the official release?

[2019-04-08 03:50] kmuthukumar23 commented on #9062
Hi @Eilon ,

thanks for your interest ;)

what i m asked, difference or comparison between pure razor components(blazor) and javascript embedded razor components.

[2019-04-08 05:05] davidfowl commented on #9157
@pakrym what command did you run?

[2019-04-08 05:47] #7973 closed

[2019-04-08 05:47] #7835 closed

[2019-04-08 06:31] shirhatti commented on #9020
The recommended approach is to host your gRPC service on AKS.

As far as App Service timelines go, I'd defer to @stefsch

[2019-04-08 06:43] wstaelens commented on #9065
It's in my main solution, (can't reproduce it in a small new app, sorry) 😞

[2019-04-08 07:20] xshiiiidev commented on #4792
may I know where does that context came from ? I trying to fix this problem also in my .Net Core 2.2 webapi

[2019-04-08 07:59] JunTaoLuo commented on #8693
Need to update to 1.20.0-pre2 or newer for Grpc.Tools and a new version of Grpc.AspNetCore.Server when available.

[2019-04-08 08:13] tahiralvi commented on #4733
We faced the same exception when performing the load testing for an App Service. The attached image shows the exception Type, SubType and Last Text etc.
`Stack Trace

at System.Net.Sockets.Socket.EndReceive(IAsyncResult asyncResult) at System.Net.Sockets.NetworkStream.EndRead(IAsyncResult asyncResult)`

[2019-04-08 08:29] moodya commented on #9020
Thanks for getting back to me. In terms of aks Vs service fabric in terms of hosting the grpc service is aks the better choice? If so, why?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sourabh Shirhatti <notifications@github.com>
Sent: Monday, April 8, 2019 7:31:45 AM
To: aspnet/AspNetCore
Cc: moodya; Mention
Subject: Re: [aspnet/AspNetCore] Host grpc ser

[2019-04-08 08:46] Edward-Zhou opened #9159 "Custom Operation for UseDeveloperExceptionPage"
### Is your feature request related to a problem? Please describe.
I want to log the error to database, for `UseExceptionHandler`, we could custom it in `public static IApplicationBuilder UseExceptionHandler(this IApplicationBuilder app, Action<IApplicationBuilder> configure)`, but for `UseDeveloperExceptionPage`, there is no such operation.

### Describe the solution you'd like
Provider the `Acti

[2019-04-08 09:40] wstaelens commented on #9065
please find attached a zipped .mp4 video. (github doesn't seem to allow to upload .mp4)

[missingmanifest.zip](https://github.com/aspnet/AspNetCore/files/3053677/missingmanifest.zip)

What you will see:
I'm debugging, going to /Admin and you see that i'm forced to stop my debugging session because of that dialog. Next I debug again, go again to /Admin and again the same error, but this time I can

[2019-04-08 09:55] Franklin89 commented on #9156
Okay found the solution by adding the `Match=NavLinkMatch.All` attribute on the NavLink element.

So now it looks like this:
[code]

[2019-04-08 09:55] #9156 closed

[2019-04-08 11:13] srinudhulipalla commented on #9021
@jkotalik dotnet is at C:\Program Files\dotnet
and I can call the command >dotnet --info and no issues
But if I give full path only it was working in IIS.

[2019-04-08 11:47] shadinamrouti commented on #2727
Any update on the h2 PushPromise. I'd like to try this in .net core.

[2019-04-08 11:57] pauloortins commented on #9146
The flow is:

POST https://login.microsoftonline.com/xxx-xxx-xxx/login HTTP/1.1 200
POST https://login.microsoftonline.com/kmsi HTTP/1.1 200
POST https://content-provider-web.azurewebsites.net/signin-oidc HTTP/1.1 404

This one results in a 404.

POST https://content-provider-web.azurewebsites.net/signin-oidc HTTP/1.1
Host: content-provider-web.azurewebsites.net
Connection: keep-alive
Content-Leng

[2019-04-08 12:41] kurtcodemander commented on #7390
I'm also facing this same issue. It's also tracked here https://developercommunity.visualstudio.com/content/problem/414645/edit-and-continue-not-working-with-aspnet.html

Bill Hiebert says "_There is an issue in the way compiled razor page classes are being added which is preventing ENC from working_" and I can confirm that that's what it looks like in my project. In my project the error message i

[2019-04-08 12:58] adoniassousa opened #9161 "AspNetCore rdlc"
When i am trying with expression in .rdlc file i am getting exception:

AspNetCore.ReportingServices.ReportProcessing.ReportProcessingException: 'An unexpected error occurred while compiling expressions. Native compiler return value: ‘[BC30390] 'AspNetCore.ReportingServices.RdlExpressions.ExpressionHostObjectModel.DataRegionExprHost(Of TMemberType, TCellType).m_memberTreeHostsRemotable' n├úo est├í

[2019-04-08 13:03] #8387 closed

[2019-04-08 13:07] pranavkm commented on #9157
`dotnet msbuild /t:GenerateReferenceSources`.

[2019-04-08 14:33] #8709 closed

[2019-04-08 15:09] Tratcher commented on #9146
Note this hack is a last resort (see https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.2 and https://github.com/aspnet/AspNetCore/issues/4135):
[code]

And it needs to go before everything else.

However I don't think that would cause a 404 here. Also, that error log shouldn't cause a 404 unless "/Home/Error" is missing.

".AspNetCore.Correlation. s

[2019-04-08 15:11] YordanYanakiev opened #9164 "[question] is it possible to render with SkiaSharp clientside via Brazor ?"
I am just wondering if it is possible to render with SkiaSharp (or alike) client side via Brazor engine?

[2019-04-08 15:31] tn-5 opened #9165 "Netcore debugging broken on macOS in preview4 nightly"
Up to preview 3 one could use VS Code or VS Mac (with some issues) to compile, run and debug netcore3 projects. From a couple of weeks ago the nightly builds of preview 4 do not debug, I submitted a bug to the omnisharp project. It was analysed and determined that the issue is in the coreclr project.

The relevant issue is: https://github.com/dotnet/coreclr/issues/23773

What happens is that corec

[2019-04-08 16:03] blowdart commented on #9161
That is a third party component. Please contact the author of the component for help.

[2019-04-08 16:03] #9161 closed

[2019-04-08 16:06] joeloff commented on #7729
Testing looks good. I've done a couple of upgrades from the preview1 and 2 hosting bundles to the preview4 build.

[2019-04-08 16:06] #7729 closed

[2019-04-08 16:16] mkArtakMSFT commented on #9133
@danroth27 can you please follow up with the tooling team so that this can be fixed? Thanks!

[2019-04-08 16:23] mkArtakMSFT commented on #6169
Thanks for contacting us, @CobraCalle.
It's not clear what do you try to do. Why do you wrap that data in `@`?
We treat that BASE64 encoded content as C#. If you want it to be treated as text, you can at least define as text.
Anyway, it's not clear what you want to achieve here. Would be great to get more details.

[2019-04-08 16:24] mkArtakMSFT commented on #6164
Thanks for contacting us, @bofirial.
@SteveSandersonMS is this the bug you've already fixed?

[2019-04-08 16:27] davidfowl commented on #9159
Are you trying to log specific errors to the database? If not, why not just write a logging provider (or use one like serilog) that supports logging to the database?

Why do you need a way to hook the developer exception page? That's only used when developing locally (and it also logs the error to the logging system).

[2019-04-08 16:28] pranavkm opened #9167 "[Blazor] Update feeds listed in the templates"
The feeds that should be listed:

* https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json
* https://dotnetfeed.blob.core.windows.net/aspnet-aspnetcore/index.json
* Blazor-dev (MyGet feed)

[2019-04-08 16:29] mkArtakMSFT commented on #6300
We've had several issues in the past requiring multiple SDKs and we've resolved a bunch of these for the upcoming release. Closing this issue. If you happen to face similar issues with the upcoming release, please file new issues.

[2019-04-08 16:29] #6300 closed

[2019-04-08 16:31] pranavkm opened #9168 "Remove unnecessary LangVersion in Blazor templates"
* [x] Remove from server template
* [x] If client templates target netstandard2.1, we can remove it entirely
* [ ] ~~If client templates target netstandard2.0, we should update it to `Preview`.~~

This would match Rolsyn's versioning scheme.

[2019-04-08 16:38] Eilon opened #9170 "Update daily build info with correct feeds/blobs"
The information here seems out of date:

https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md

It lists the .NET Core blob feed but not the ASP.NET Core blob feed.

cc @dougbu @danroth27

[2019-04-08 16:38] anurse commented on #8489
@BrennanConroy can you make sure this includes any SignalR-related issues and link them here if not? I think we should try to have a single list of ASP.NET Core needs from JSON.

[2019-04-08 16:55] MarkStega opened #9171 "Razor pages in a component should support @Namespace"
### Is your feature request related to a problem? Please describe.
I don't want generated razor.g.cs files to create a namespace that is dependent upon the directory structure containing the .razor page.

### Describe the solution you'd like
I believe that an @namespace directive in a rzor page should override the generated namespace. Currently adding "@namespace xyzzy" is ignored.

### Describe a

[2019-04-08 17:03] ajaybhargavb commented on #9114
@pranavkm, could you link the commits for your fix and close this issue?

[2019-04-08 17:05] mkArtakMSFT commented on #9125
Thanks for contacting us, @joelhays.
Can you please share a repro project so we can investigate this better?
/cc @SteveSandersonMS thoughts?

[2019-04-08 17:07] mkArtakMSFT commented on #9155
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-04-08 17:07] #9155 closed

[2019-04-08 17:08] mkArtakMSFT commented on #9164
Thanks for contacting us, @YordanYanakiev.
This is not something we have plans for.

[2019-04-08 17:08] #9164 closed

[2019-04-08 17:10] mkArtakMSFT commented on #6100
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-04-08 17:10] #6100 closed

[2019-04-08 17:11] mkArtakMSFT commented on #6048
Thank you for your feedback.
We're closing this issue as the behavior discussed is by design.

[2019-04-08 17:11] #6048 closed

[2019-04-08 17:14] mkArtakMSFT commented on #5698
Thanks for contacting us, @cores-system.
This is by design and we have no plans to change this.

[2019-04-08 17:14] #5698 closed

[2019-04-08 17:16] mkArtakMSFT commented on #5692
Thanks for contacting us, @Hantse.
You can see how the `FetchData` page in our sample app is done. It's similar to what you are looking for.

[2019-04-08 17:16] #5692 closed

[2019-04-08 17:19] mkArtakMSFT commented on #5676
Thanks for contacting us, @kant2002.
@ajaybhargavb, can you please try to publish a Blazor app with Azure DevOps and make sure it works?
@danroth27 co-assigning this to you so you list a similar scenario for CTI to handle.

[2019-04-08 17:21] mkArtakMSFT commented on #5675
Thanks for contacting us, @ckbeatty.
@SteveSandersonMS what can we do regarding:

[2019-04-08 17:23] mkArtakMSFT commented on #5674
@SteveSandersonMS do we want to do anything about this?

[2019-04-08 17:24] #5673 closed

[2019-04-08 17:25] mkArtakMSFT commented on #5672
This was fixed.

[2019-04-08 17:25] #5672 closed

[2019-04-08 17:26] anurse commented on #8802
Pre-triage notes:
* Seems valuable for preview5.
* If this is going to land for preview5, we need a templating PR by 4/12.

[2019-04-08 17:26] mkArtakMSFT commented on #5671
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-04-08 17:26] #5671 closed

[2019-04-08 17:26] anurse commented on #8710
Pre-triage notes:
* Seems reasonable for preview 5 given that TS already drove the "design".
* Need to determine if we can close on this quickly enough

[2019-04-08 17:27] anurse commented on #8706
Pre-triage notes:
* Not necessary for preview 5, suggest moving to a later preview.

[2019-04-08 17:27] mkArtakMSFT commented on #5668
Thanks for contacting us, @michaelvolz.
This is not something we plan to add in the near future.

[2019-04-08 17:27] #5668 closed

[2019-04-08 17:27] #5667 closed

[2019-04-08 17:27] anurse commented on #8711
Pre-triage notes:
* Seems at risk for preview 5, but kinda odd to have Java be the odd client out.
* Probably should be below the cut line for preview 5 given the very tight schedule.

[2019-04-08 17:28] mkArtakMSFT commented on #5663
@SteveSandersonMS thoughts?

[2019-04-08 17:28] mkArtakMSFT commented on #5662
Thanks for contacting us, @agonzalezm.
This will be fixed in 3.0 release.

[2019-04-08 17:28] #5662 closed

[2019-04-08 17:29] anurse commented on #7930
Pre-triage notes:
* Basically completes the core of the streaming epic.
* Should be high-pri for preview 5

[2019-04-08 17:29] mkArtakMSFT commented on #5660
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-04-08 17:29] #5660 closed

[2019-04-08 17:29] anurse commented on #8974
Pre-triage notes:
* Super simple (cost XS) and makes a Razor Components scenario super clean.
* I could take a stab a this (manager value go!)
* Preview 5 candidate.

[2019-04-08 17:29] BrennanConroy commented on #8706
I'd argue this is good for preview4, I already have a draft PR 95% working for this, https://github.com/aspnet/SignalR-Client-Cpp/pull/4

[2019-04-08 17:30] mkArtakMSFT commented on #5659
Thanks for contacting us, @nvmkpk.
It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-04-08 17:30] #5659 closed

[2019-04-08 17:31] ajcvickers opened #9172 "Identity: Stop using LazyRef from EF Core in tests"
Since it's internal...

[2019-04-08 17:41] #6357 closed

[2019-04-08 17:53] DamianEdwards commented on #8836
I'm seeing that even assemblies that match exactly are showing up in the output folder of apps created from templates in the SDK that contain package references that share deps with the shared framework, e.g. Razor Components app.

![image](https://user-images.githubusercontent.com/249088/55745629-87fa6a00-59ec-11e9-999a-c3b932e874f2.png)

[2019-04-08 17:53] Eilon commented on #9129
What is this a change in? Templates? MVC/Razor compilation? Our own build infrastructure?

[2019-04-08 17:57] pranavkm commented on #9129
This would be in code (runtime compilation): https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Razor.RuntimeCompilation/src/CSharpCompiler.cs#L214-L217

[2019-04-08 18:04] SteveSandersonMS commented on #5663
The comments are there for functional reasons. They let the renderer track the boundaries of components in a more efficient way than we could otherwise, and don’t really have any practical drawback that I know of.

[2019-04-08 18:04] #5663 closed

[2019-04-08 18:05] natemcmaster commented on #8836
@JunTaoLuo I'm available to help debug this now that I'm back from leave. I don't know what's broken, but have a few ideas where to start looking.

[2019-04-08 18:24] ajaybhargavb commented on #8826
This is by design. The test that @javiercn linked does not wrap the lambda in an explicit expression which mean it will be parsed as HTML. I'll update the tests.

[2019-04-08 18:25] rynowak commented on #9171
This is already tracked here: https://github.com/aspnet/AspNetCore/issues/8007

[2019-04-08 18:25] #9171 closed

[2019-04-08 18:42] Hantse commented on #5692
Which sample ?

[2019-04-08 18:46] BrennanConroy commented on #8489
Support Object in deserialize - https://github.com/dotnet/corefx/issues/36167
Cyclic reference objects - https://github.com/dotnet/corefx/issues/36510
GUID not supported (and other types) - https://github.com/dotnet/corefx/issues/36639
Casting numbers to string on serialize - should be able to be covered by https://github.com/dotnet/corefx/issues/36639

[2019-04-08 18:58] Kritner commented on #8443
We're having an issue related to this as well, some machines are able to build our code, others aren't.  Haven't been able to figure out what exactly is different - both machines at a minimum have the same sdk of 2.2.202 installed.

Here's some related info (note since making the comment linked i've installed the 2.2.202 sdk)
https://github.com/dotnet/sdk/issues/2253#issuecomment-480502212
https:/

[2019-04-08 19:38] rynowak commented on #8489
We should revisit the presence of dotnet/corefx#36023 on this list. I don't think we're testing the case that they support.

[2019-04-08 19:42] pranavkm commented on #8489
Yeah, that could be struck out. We relied on it for temp data serialization, and ended up doing our own thing. Json.NET has some pretty wide support for round-tripping things in the absence of any type information, and I don't think we should expect that of all Json serializers. @BrennanConroy I'd recommend doing something similar with your `Guid` requirements (we handle those too): https://github

[2019-04-08 19:43] BrennanConroy commented on #8489
If you look at the tracking issue for GUID, it's for the ability to have customization on the serializer, I think it's still valid to track

[2019-04-08 19:48] halter73 commented on #6434
Fixed by #8566

[2019-04-08 19:48] #6434 closed

[2019-04-08 19:49] #8826 closed

[2019-04-08 19:51] natemcmaster commented on #8428
I can confirm what @satano has reported - MVC is not discovering the controllers as expected. The source of the problem is one we've seen in a variety of ways before, and as @javiercn guessed, it is a problem with interpreting dependency context.

_Context_: when user code calls `.AddMvc()` inside `Startup.ConfigureServices`, MVC attempts to answer the question, "which assemblies contain controlle

[2019-04-08 19:53] siberianguy commented on #6434
I'm not aware of the release cycle of SignalR, could you please let me know when we could expect to see this in a new stable nuget?

[2019-04-08 20:06] Eilon commented on #9065
Thanks @wstaelens , we will assign a team member to take a look.

[2019-04-08 21:00] dsplaisted commented on #8836
I finally had the time to look at this after mostly being done with https://github.com/dotnet/sdk/pull/3086.

The problem is the SDK is not picking up the platform manifest from the ASP.NET Core targeting pack, because they are using slightly different conventions.  The platform manifest in the ASP.NET Core targeting pack is under `\data\Microsoft.AspNetCore.App.PlatformManifest.txt`.  However, th

[2019-04-08 21:12] satano commented on #8428
@natemcmaster thank you for your investigation and workaround.

I have one more questions - basically just for me to understand it more. The `.deps.json` files are generated this way also for projects which references `Startup` class directly from SUT (`ProjectStartupTests...`). There is no `"Microsoft.AspNetCore.App": "2.2.0"` dependency in `ProjectStartupTests.deps.json`, but the tests are worki

[2019-04-08 21:28] caleblloyd opened #9179 "Razor Components feature request: Microsoft.AspNetCore.Components.Forms.InputPassword"
### Is your feature request related to a problem? Please describe.

I am trying to use `Microsoft.AspNetCore.Components.Forms.InputText` with `type="password"`.  As far as I can tell though there is no way to add `type="password"`

### Describe the solution you'd like

1. Allow specifying `type` in `Microsoft.AspNetCore.Components.Forms.InputText`

or

2. Add a  `Microsoft.AspNetCore.Components.Fo

[2019-04-08 21:31] dougbu commented on #9170
If we need an another blob feed or aspnetcore-dev from GitHub, something is busted. The instructions should be (and were when I changed that Markdown recently) sufficient and correct. @danroth27 what in particular was missing when attempting to consume our packages?

[2019-04-08 21:44] natemcmaster commented on #8836
It's like 1 line of code to make our manifest end up in `data/PlatformManifest.txt`, and it looks like the [SDK already supports that location](https://github.com/dotnet/sdk/blob/6b2c06d50e1397de5a8040dee2c17c7b691e6fb6/src/Tasks/Microsoft.NET.Build.Tasks/ResolveTargetingPackAssets.cs#L85), right? if so, let's just adjust our package.

[2019-04-08 21:46] dsplaisted commented on #8836
@natemcmaster That works too, but I wasn't sure if you already had packages that you would prefer not to respin for preview 4.

[2019-04-08 21:47] ryanbrandenburg commented on #8573
The one option that seems to be most popular (and standards compliant) would be using the built-in HTML5 form validation. The problem there is that it would only work for client-side validation. As far as I can tell HTML5 form validation doesn't solve any server-side validation problems, and even if it did it would require a lot of changes to DataAnnotations. HTML5 also isn't supported on older br

[2019-04-08 21:49] natemcmaster commented on #8836
We haven't had our final preview4 build yet, so I don't think this would be a big deal. But it's also my first day back from leave, so let me check with the managers.

[2019-04-08 21:55] danroth27 commented on #9170
The Blazor packages (ex Microsoft.AspNetCore.Blazor) were missing.

[2019-04-08 22:00] nguerrera commented on #8836
Welcome back, @natemcmaster :)

[2019-04-08 22:01] danroth27 commented on #9103
Support for server-side Blazor is shipping with .NET Core 3.0 and should be available later this year.

The roadmap for client-side Blazor on WebAssembly is still to be determined.

[2019-04-08 22:01] #9103 closed

[2019-04-08 22:14] NTaylorMullen commented on #4332
VSTS issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/738297

[2019-04-08 22:19] danroth27 commented on #9133
Adding @NTaylorMullen since he was seeing something similar in VS Code as well.

[2019-04-08 22:24] natemcmaster commented on #8428
The difference is that in ProjectStartupTests you are using `WebApplicationFactory<DemoApi.Startup>`. This makes `DemoApi.dll` the "entry assembly" because this is the assembly containing the startup type, and MVC always searches the entry assembly for controllers. On the other hand, the MVC entry assembly in InheritedStartupTests is the test assembly itself, `InheritedStartupTests.dll` , because

[2019-04-08 22:34] michaelxh commented on #9124
I have a similar problem with IIS AspNetCoreModule not triggering a graceful shutdown locally.
Seems different from this issue https://github.com/aspnet/AspNetCore/issues/7367 as the shutdown is triggered by a rebuild changing bin directory.

Ideally, behavior would also for the current process to be able to finish handling long running requests while also spinning up a new process for incoming re

[2019-04-08 22:41] BenHayat opened #9182 "When do we get IdentityServer4 working with Razor Components?"
Hello Team;
When is Razor Component going to be integrated with IdentityServer4, that we can build our app with authenticating user via Razor Component page, where the server side gets token and we can then authorize different parts of our app?

[2019-04-08 22:44] pranavkm opened #9183 "Duplicate AddRazorSupportForMvc in RCL templates"
The `AddRazorSupportForMvc` property appears twice in the RCL (non-Blazor) templates. One of these should be removed as part of #9126 in preview5. This issue tracks fixing the template in preview4

[2019-04-08 22:44] pranavkm commented on #9183
cc @danroth27

[2019-04-08 22:46] VBAndCs commented on #8583
Vazor now have project and item templates:
 Download this file:
https://github.com/VBAndCs/Vazor/blob/master/VazorTemplateSetup.zip?raw=true
 then unzip it. Double-click the file VazorTemplateSetup.vsix to setuo the Vazor templates:
 1- A Vazor project template for ASP.NET MVC Core 2.2 .
 2- A Vazor project template for ASP.NET MVC Core 3.0 .
 3- A Vazor project template for ASP.NET Web Pages Core

[2019-04-08 22:47] VBAndCs commented on #8674
Vazor now have project and item templates:
 Download this file:
https://github.com/VBAndCs/Vazor/blob/master/VazorTemplateSetup.zip?raw=true
 then unzip it. Double-click the file VazorTemplateSetup.vsix to setuo the Vazor templates:
 1- A Vazor project template for ASP.NET MVC Core 2.2 .
 2- A Vazor project template for ASP.NET MVC Core 3.0 .
 3- A Vazor project template for ASP.NET Web Pages Core

[2019-04-08 23:03] natemcmaster commented on #8443
@Kritner I think what you're running into is unrelated to the original intent of this issue. As far as we currently know, the error you mentioned in https://github.com/dotnet/sdk/issues/2253#issuecomment-480502212 is unrelated to this warning. I would recommend creating a new issue with complete repro steps on https://github.com/dotnet/sdk

[2019-04-08 23:08] ryanbrandenburg commented on #7386
No response here so I'm closing this out. If you're still experiencing this we can re-open.

[2019-04-08 23:08] #7386 closed

[2019-04-08 23:17] Plasma commented on #9097
Thank you guys. This is a bit confusing, I thought .NET Core was all about using the version installed with the app (so no need to ensure something is installed on the server); so am I right in thinking that my local machine only has 2.2.0 installed because its not just setting itself to 2.2.3?

Thank you

[2019-04-08 23:24] ryanbrandenburg commented on #7253
Sounds like this is a Server issue, so tossing it @jkotalik's way.

[2019-04-08 23:24] anurse opened #9184 "Verify SignalR scenarios with new C# 8 types/features"
We need to make sure SignalR reacts appropriately to C# 8 types/features:

* New types (it's probably fine for these to be unsupported, we just need to know what happens):
  * [`Index`](https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Index.cs)
  * [`Range`](https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Range.cs)
* Nullable reference types - W

[2019-04-08 23:28] OpenSpacesAndPlaces opened #9185 "Identity Core in .Net Framework"
I have most of the nuts and bolts I need in place to get Identity Core working in a .Net Framework environment.

One thing I'm running into:
`Microsoft.AspNetCore.Http.HttpContext`

is used for:
`public SignInManager(UserManager<TUser> userManager, IHttpContextAccessor contextAccessor, IUserClaimsPrincipalFactory<TUser> claimsFactory, IOptions<IdentityOptions> optionsAccessor, ILogger<SignInManage

[2019-04-08 23:46] ryanbrandenburg commented on #7506
This seems to be the same thing as/related to https://github.com/aspnet/AspNetCore/issues/4206. Between that and the original filer no longer being active I'm closing this.

[2019-04-08 23:46] #7506 closed

[2019-04-09 00:00] danroth27 commented on #9170
It looks like the Blazor packages are on the dotnet blob feed, but they are old:

![image](https://user-images.githubusercontent.com/1874516/55764253-a29a0680-5a1f-11e9-8887-067542d44061.png)

The correct versions should match the .NET Core 3.0 verisons (3.0.0-previewN-xxxx). The correct packages appear to be on the aspnetcore blog feed:

![image](https://user-images.githubusercontent.com/1874516/

[2019-04-09 01:42] Edward-Zhou commented on #9159
Yes, I am trying to log errors to database, and I also want to log the errors while development environment.

[2019-04-09 01:56] JamesNK opened #9189 "gRPC configuration docs"
Document gRPC server configuration.

[2019-04-09 02:16] kennywangjin opened #9190 "Blazor component should start rendering only after OnInitAsync is completed"
### Describe the bug
Currently, when we override component's OnInitAsync, blazor will render components immediately after sync part of [OnInitAsync] completes, and then wait for its async part completion and rerender component.
While the name [OnInitAsync] means that the component is still initializing and not ready, then it should also not be rendered.

### Expected behavior
Component should wait

[2019-04-09 02:26] kennywangjin opened #9191 "Stop calling StateHasChanged automatically after every event handling:"
### Is your feature request related to a problem? Please describe.
currently, all event handling is followed implicitly by a StateHasChanged calling. It surely avoids many duplications of manual calling. But it should not. It must be the developers' responsiblity to determine when the UI is changed and then manualling call StateHasChanged. Many event handlings just do async operations. Rerendering

[2019-04-09 02:52] rynowak commented on #9184
It makes each one a compiler warning 😆

[2019-04-09 03:17] Penergy opened #9192 "old version doesn't work after install new version of Dotnet Core"
### Describe the bug
I've install the new version of .Net Core 2.2.202. But I have a project with .Net Core 2.0.
![image](https://user-images.githubusercontent.com/4522788/55770934-ad54aa00-5ab8-11e9-87cf-d72e61c0a300.png)

When I trid to build in Visual Studio 2017, it showed the following message:
![image](https://user-images.githubusercontent.com/4522788/55770904-944bf900-5ab8-11e9-9607-1e62b88

[2019-04-09 03:25] chamons opened #9193 "Renaming folder containing project from csproj name breaks compilation"
### Describe the bug
If the blazor folder is renamed to something not matching the project name, strange compilation errors come up.

### To Reproduce
Steps to reproduce the behavior:
1. Create new Blazor solution
2. Build, it works.
3. Close solution, rename folder csproj is in to something (e.g. web)
4. Open sln, remove existing project and relink to new location.
5. Clean and rebuild.
6. Errors

[2019-04-09 03:27] NTaylorMullen commented on #9133
Ya there's a good chance the way we're generating bind, event handlers etc. TagHelperDescriptors may be resulting in this behavior. Would have to investigate more. Either way it's consistent in VSCode.

[2019-04-09 03:32] anurse commented on #9184
Yeah, already seen this with EF :(

[2019-04-09 03:36] rynowak commented on #9184
I'm planning on drafting a *"style guide"* the explains what the options are for MVC. I'd be share when I have something.

[2019-04-09 03:36] rynowak opened #9194 "Investigate C#8/Nullable with MVC and Components"

[2019-04-09 03:37] rynowak commented on #9184
https://github.com/aspnet/AspNetCore/issues/9194

[2019-04-09 03:38] rynowak commented on #9133
That's because you implemented tooltips the same thing WTE does.

 IDK how we would generate different descriptors without redoing everything. What we generate is "correct" - but we don't like how that displays, so we should change how it displays.

[2019-04-09 03:39] rynowak commented on #9192
@kathleendollard

[2019-04-09 03:42] rynowak commented on #9193
Good news, this has been fixed for VS 16.1 preview1 + 3.0.0-preview4 which will be the next release.

[2019-04-09 03:43] #9193 closed

[2019-04-09 04:17] epignosisx opened #9195 "Endpoint routing selecting incorrect controller/action after 2.0 -> 2.2 upgrade"
### Describe the bug
I ran into a scenario while migrating an app from 2.0 to 2.2. Basically a route that used to select a controller under an area, now is selecting a controller in the root `controllers` folder.

Here is a repro:

[code]

Before using Endpoing Routing the url `/accounts/forgot-username` would match the "accountsCatchAll" and it would execute the `HomeController` under the "Accoun

[2019-04-09 04:55] davidfowl commented on #9124
cc @jkotalik

[2019-04-09 05:41] KathleenDollard commented on #9192
Visual Studio 2017 requires 2.1.5nn or 2.2.1nn. It will not run with 2.1.6nn or 2.2.2nn.

I know this is crazy confusing and we are working on a couple of possible solutions.

I was also surprised that you don't have an AspNetCore for 2.0. But I'm not familiar with how AspNet was packaged in that time frame @rynowak

@peterhuene