[2020-01-22 19:38] ileve commented on #18477
`asp-route-id` represents a category name which is stored to database by the administrator via a user form. So the user has the flexibility to type whatever he wants. I understand that Azure has this behavior for protection against `XSS` injection. But I thought that sanitization of forward slash was just enough.

Anyway I guess I should replace the forward slash symbol, whenever it is contained i

[2020-01-22 19:45] Meai commented on #18509
@wtgodbe yes... I wanted to be safe and get a guaranteed working build

[2020-01-22 19:50] vsfeedback opened #18518 "I want you to be able to secure cookies."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/752872/cookieをセキュアに出来るようにしてほしい.html)._

---
In AspNetCore, to secure cookies, the ConfigureServices method of Startup.cs

After setting AddAntiforgery, session/cookie deserialization process becomes unstable, and HTTP POST frequently returns "Unresponsive HTTP ERROR 400", s

[2020-01-22 19:51] blowdart commented on #18518
We need a lot more information. Your Configure and ConfigureServices methods are a good starting point, along with logs from failing requests.

[2020-01-22 19:57] blowdart commented on #18407
This is expected. You need to save the user first, so the primary key it has will be there when the claims get created in a separate table with a foreign key.

[2020-01-22 20:00] blowdart commented on #18269
The NIST guidelines also talk about forcing 2fa but that would be a burden a lot of customers don't want to carry. Given that we don't implement protection against stuffing nor do we implement checks against already breached usernames and passwords the advice, whilst I can see their argument, doesn't really fit. Customers are free to change the requirements as they wish.

[2020-01-22 20:00] #18269 closed

[2020-01-22 20:02] blowdart commented on #18292
@anurse Can you move this to the scaffolding repo please?

[2020-01-22 20:05] bansalankit2601 commented on #18510
Hi,

I get this kind of error when the circuit breaks in the Console of Developer Window .

![image](https://user-images.githubusercontent.com/55937292/72929746-6b83b000-3d28-11ea-9e05-4293cbace8a3.png)

Is there anyway I can notify the user that an error has occurred after this in the screen and ask to refresh it without manually opening the developer window to check and refreshing it.

[2020-01-22 20:09] bansalankit2601 commented on #13452
Hi,

I get this kind of error when the circuit breaks in the Console of Developer Window .

![image](https://user-images.githubusercontent.com/55937292/72930080-2744df80-3d29-11ea-8386-a7cdc9901b96.png)

I dont think there anyway presently that can notify the user that an error has occurred after this in the screen and ask to refresh it without manually opening the developer window to check and re

[2020-01-22 20:10] dougbu opened #18519 "Pin a couple of packages in 3.0 and 3.1 branches"
After the (long) [discussion](https://github.com/dotnet/aspnetcore/pull/18364#discussion_r368208938) in #18364 about CoreFx package versions where we only need ref/ assemblies, should also pin the following to their `.0` versions in 'release/3.0' and 'release/3.1' branches:
- Microsoft.Win32.Registry
- System.Security.Principal.Windows

(We do not seem to need ref/ assemblies from other packages s

[2020-01-22 20:15] HaoK commented on #18329
Moving forward as this is pretty straight forward to fix

[2020-01-22 20:17] dougbu commented on #18519
Hmm, can't add this to https://github.com/orgs/aspnet/projects/2 My preference is to:
- Move that project to the dotnet organization
- Move the aspnet/AspNetCore-Internal repo to the dotnet organization
- Update RasS to understand the changed landscape

@Pilchie and @anurse do you know a way to move a project between organizations? If we're agreed, could you do that and the AspNetCore-Internal rep

[2020-01-22 20:18] dougbu commented on #18519
/fyi @ericstj @nguerrera @mmitche

[2020-01-22 20:19] pranavkm commented on #18493
The other issue has more details. We'll use it to track fixing this.

[2020-01-22 20:19] #18493 closed

[2020-01-22 20:19] petevb commented on #18337
@blowdart Can you clarify applicability to Azure Functions please.   The advisory stated:

which I understand to mean, if your .NET Core application is hosted by ASP.NET Core *or* using SignalR then it's vulnerable.

If that's the case, then a .NET Core functionapp won't be vulnerable unless it's **also** using SignalR binding.

Have I parsed that correctly?  Ta.

[2020-01-22 20:22] ericstj commented on #18519
Yes we've represented this the same way since 2.0.

[2020-01-22 20:24] dougbu commented on #18509
@Meai the tags are for exactly what we built internally as part of the release process. Sometimes they cannot be built externally. On the other hand, our checkin tests should ensure the main branches ('master' and 'release/*') work consistently. ("Guaranteed working build" is what we target for those branches. Of course, bad things sometimes happen e.g. network glitches ☹️)

[2020-01-22 20:24] blowdart commented on #18337
@petevb Pretty much yes.

[2020-01-22 20:51] aderderian commented on #18489
@Tratcher that article is 4yrs old, is it providing a solution?

[2020-01-22 21:00] Pilchie commented on #14832
We didn't do this for 3.0.2 - are we doing it for 3.0.3?  (Trying to clean up some stale milestones)

[2020-01-22 21:27] anurse commented on #18488
We can do a quick investigation with some timers to confirm, but I'm pretty sure it's the SslStream handshake issues we've seen for a while (@karelz you're already tracking SSL performance improvements, right?).

[2020-01-22 21:28] anurse commented on #18230
So you had mixed ASP.NET Core 2.0 and 3.1 dependencies in your app? Given that, it's expected that you'd hit start failures like this since that's not really supported.

[2020-01-22 21:31] mkArtakMSFT commented on #18510
@javiercn any recommendation regarding this?

[2020-01-22 21:32] bansalankit2601 commented on #18510
I am using Blazor Server Side Application.

[2020-01-22 21:36] baselbj commented on #9039
The framework is great but when I start working with security it is a total miss this is what make me avoid asp .net for many years ... you need so much workarounds to accomplish your work.

I think specially the Security part in asp .net should be re designed is there any alternative to it?

[2020-01-22 21:39] anurse commented on #18463
I think this would depend on what `StringContent` does. Looking at it, it doesn't set `Content-Length`, which means this is somewhat expected. Our general rule-of-thumb for using TestHost here is that if you are coupled directly to specific headers like `Content-Length` you need to set them in the test client code. On the server, in general, the only way to know for sure the length of the body is

[2020-01-22 21:39] shirhatti commented on #18481
500.19 indicates a malformed IIS configuration. A common reason why folks run into this is because they end up having a `web.config` that references the `aspNetCoreModule` without having it installed.

My hypothesis here is that when the 3.1.0 bundle was installed, IIS was not enabled on the machine and ergo the IIS component of the bundle was skipped. When you later installed the 3.0.1 bundle, II

[2020-01-22 21:41] anurse commented on #18472
@agchaudhury can you post a runnable sample project that reproduces the problem? `HttpContext.Items` is a **per-request collection**. Values stored in it for one request are not available in another.

What is the value you're trying to retrieve?

[2020-01-22 21:56] wtgodbe commented on #14832
These tests should just remain disabled in servicing branches, since we (hopefully) won't build the targeting pack again. Will close

[2020-01-22 21:59] karelz commented on #18488
@anurse we track SSL perf, but more for throughput. While I've heard about handshake perf several times, I didn't see any data or anything.
Do we have something like that to help us focus?

[2020-01-22 22:02] rynowak opened #18520 "Blazor WASM individual auth template has compilation errors"
Using current validation build:

[code]

[code]

---

[code]

[2020-01-22 22:05] Tratcher commented on #18489
It should apply to all later versions unless we find anything newer.

[2020-01-22 22:05] AwanesowArtem commented on #18490
@javiercn sorry for not specifying which product I'm talking about. Yes, it's SignalR Core(ASP.NET Core 2.2)

[2020-01-22 22:15] anurse commented on #18488
Yep, we'll try to do a quick bit of work to isolate what we can. If I remember correctly, the biggest signal we have is our benchmarks show a significant performance gap between ConnectionClose and ConnectionClose with HTTPS.

Improving HTTPS perf in general is on our radar, so this is an area we'll be working on.

[2020-01-22 22:19] anurse commented on #18503
Seems reasonable to just no-op in `Flush` instead of throwing.

The simplest workaround you can use for now (and in 2.1, since the change would be in 5.0) would be to build your own wrapper that forwards all calls to the inner stream **except** `Flush` and then wrap that around `ReferenceReadStream`.

[2020-01-22 22:19] aderderian commented on #18489
Do you know if these configurations are allowed in Azure? Client Authentication Issuers store for certs is available? I guess I am unsure if your point is this should work in WAWS and .NET Core or you're pointing out the general docs around it. My knowledge of certificate authentication is brand new.

[2020-01-22 22:20] mkArtakMSFT commented on #18520
Thanks @rynowak.
@javiercn can you please handle this? Thanks!

[2020-01-22 22:21] Tratcher commented on #18489
These are the generic features. In Azure you're unlikely to be able to control anything at this layer unless you are running a VM.

[2020-01-22 22:21] anurse commented on #18507
Can you clarify what you mean here by "very high self time"? What are you using to measure this? The time spent in `AspNetCoreModuleV2` includes **the entire** execution of your .NET Core code, so if your .NET Core code to process a request takes a while, this would be expected.

[2020-01-22 22:23] anurse commented on #18505
The 500.30 error indicates a failure launching your app (such as an exception in `Startup.cs`). Can you check the Windows Event Log (or "Application Events" in Azure App Service)? The exception details should be there (since they are hidden from the error page in Production environments for security reasons).

[2020-01-22 22:26] aderderian commented on #18489
OK. So it is not something that could be configured when scaffolding your cert authentication in Startup.cs for example. This logic is required to be injected at lower layer? I figured this list of valid CAs that are sent to the browser would be part of the response header which could be modified with .NET Core.

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/certauth?view=as

[2020-01-22 22:29] anurse commented on #18440
We have intentionally avoided adding `IHubContextAccessor` by design. For `IHttpContextAccessor` it was added because there was common usage of `HttpContext.Current` in ASP.NET 4.x apps. Ambient context like this is generally considered a bad idea since it hides the true dependencies your components have on the "active" hub context.

If you want to do something similar, you can store the active `H

[2020-01-22 22:29] #18440 closed

[2020-01-22 22:29] Tratcher commented on #18489
Certificates are not implemented at the HTTP layer, they're part of the underlying TLS layer. The web server has limited control over that layer.

[2020-01-22 22:31] Tratcher commented on #18489
Note certificate authentication is a separate step from the certificate exchange.

[2020-01-22 22:34] aderderian commented on #18489
OK. So it sounds like the feature request needs to go to the WAWS team to see if they could expose some setting to modify this. If they even can in a shared environment. We have cert auth working in WAWS, the final piece is trimming down the list of Certificates the user needs to choose from to only the ones we deem valid. Otherwise users have to pick from a long list in the browser.

Hoping I don

[2020-01-22 22:35] anurse commented on #18490
This is a duplicate of https://github.com/dotnet/aspnetcore/issues/8367 .

Adding to a group by name identifier is quite costly and the value hasn't outweighed the cost in our experience. The Azure SignalR service would need to be updated, as would the Redis scale-out provider. That can change as we hear more, but for now I'm closing as this isn't something we plan to take action on now, or in the

[2020-01-22 22:35] #18490 closed

[2020-01-22 22:38] javiercn commented on #18520
I just checked-in the auth reversal, so this won’t be part of preview1.

I’m not sure how there can be errors. We had functional tests for these scenarios.

[2020-01-22 22:43] anurse opened #18522 "Consider allowing a user to disable Host header validation"
It appears some HTTP clients (in particular gRPC clients) that connect over Unix Domain Sockets put the path to the socket in the `Host` header. We should investigate this a little bit. If it's the case that most clients do this, we should consider having an option to allow disabling `Host` header validation. We could limit this to **only** cases where we're listening on a Unix Socket to reduce se

[2020-01-22 22:50] anurse commented on #18292
This issue was moved to aspnet/Scaffolding#1232

[2020-01-22 22:51] #18292 closed

[2020-01-22 22:52] ryanbrandenburg commented on #17712
Because it was found that most of the telemetry we were producing was not useful we've decided to remove the unhelpful parts and come back to this issue when we have a plan which will help us better understand the usage and needs in this area.

[2020-01-22 22:53] pranavkm opened #18523 "Setting RazorBuildServer_Log results in an exception if part of the log path does not exist"
[code]

[2020-01-22 22:53] anurse commented on #18519
@dougbu I don't see a way to move projects between orgs. That's probably because projects can generally only contain issues from repos in the same org, so it gets a little complicated. We could open a new project and work on migrating issues.

As for moving AspNetCore-Internal, I'm fine with that but don't have the necessary permissions in the dotnet org to do so.

[2020-01-22 22:53] dougbu commented on #18435
Did a spot check of our 2.1 and 2.2 packages and confirmed their symbols are also available on MSDL. (Minor detail: You don't need the NuGet symbol source for our symbols.)

I also debugged a default ASP.NET Core MVC application and successfully downloaded all of the symbols:
![image](https://user-images.githubusercontent.com/6431421/72941822-c3b9b280-3d26-11ea-82fc-631f49343056.png)

The issue yo

[2020-01-22 22:55] anurse opened #18524 "Evaluate the impact of Chromium Edge on SignalR browser-based testing."
Our browser-based tests use Karma's edge launcher, and Sauce Labs when running in the cloud. I expect that is launching Edge Legacy, rather than the Chromium-based Edge, but we should check that and look at splitting our testing so we're testing both Edge Legacy and Edge Chromium.

[2020-01-22 22:58] ryanbrandenburg opened #18525 "Move Razor VSCode's project telemetry reporting into Razor language server"
This was originally tracked in https://github.com/dotnet/aspnetcore/issues/17712 but we found that the telemetry we were producing wasn't useful.

1. Move all the telemetry that makes sense into the Language Server. (So anything about the project, but not things related to the VSCode extension). This will involve talking with the Data team to determine where we should be sending that data (is it o

[2020-01-22 23:00] #18433 closed

[2020-01-22 23:08] samsosa commented on #18488
Maybe the pull request https://github.com/dotnet/runtime/pull/1949 helps.

[2020-01-22 23:17] JamesNK commented on #18522
A UDS with a path is the recommended value in these docs

https://github.com/kubernetes-csi/node-driver-registrar#required-arguments

[2020-01-22 23:22] blowdart commented on #18522
We should switch to path style validation, rather than disable altogether.

[2020-01-22 23:22] rynowak commented on #18520
I'm not sure that the "single project" case got covered.

[2020-01-22 23:31] rynowak commented on #18496
Done.

[2020-01-22 23:31] #18496 closed

[2020-01-22 23:32] NTaylorMullen opened #18526 "Add Razor completion item for <text> tags inside of code blocks"
In Razor/Blazor files users can utilize the `<text>` tag to transition from C# into HTML without providing an HTML tag ([docs](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.1#explicit-delimited-transition)). This is a useful feature that's not made easily available for users who are depending on completion.

We should be providing the `<text>` tag completion item w

[2020-01-22 23:33] NTaylorMullen commented on #5848
Closing this in favor of https://github.com/dotnet/aspnetcore/issues/18526

[2020-01-22 23:33] #5848 closed

[2020-01-22 23:55] Pilchie commented on #18519
I don't either, but @jaredpar could probably do it for us.

[2020-01-23 01:01] americanslon opened #18527 "Client Side Blazor seems to hide the message coming back from HTTP request"
I have an API that, upon failure, returns 500 and "Something went wrong. Please try again later." as body of the message (as well as in the reason phrase just in case). That is confirmed working by running that request with Postman.

The call is called in my Blazor app as follows

`
var response = await Http.DeleteAsync("api/organizations/delete?Id=" + deleteId);
 System.Diagnostics.Debug.WriteLin

[2020-01-23 01:01] americanslon commented on #18527
``

[2020-01-23 01:02] #17712 closed

[2020-01-23 01:03] kirk-marple opened #18528 "Auth0: Callback gives error "OpenIdConnectAuthenticationHandler: message.State is null or empty.""
### Describe the bug

When using Auth0 in passwordless model, ASP.NET Core OpenIdConnectAuthenticationHandler throws an exception that the message.State is null or empty.

It appears Auth0 is calling back to the ASP.NET Core application OK with the id_token on the URL, but the middleware isn't parsing/handling the callback URL properly.

I've tried both Token and IdToken for ResponseType (and maki

[2020-01-23 01:12] halter73 commented on #18438
Just knowing a NullReferenceException was possible in the ValidateNonOriginHostHeader method helped me track down the issue. I created a PR to fix it at #18515. See the PR for more details.

For now, you can work around this issue by setting [KestrelServerOptions.DisableStringReuse](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.server.kestrel.core.kestrelserveroptions.disablestr

[2020-01-23 01:26] onarres commented on #18419
I figured it out. Elsewhere in our codebase there was a call to services.ConfigureApplicationCookie() to set a different login and logout paths. In this block I had to add the "options.CookieManager = new BackPortedChunkingCookieManager()"

I kept trying to figure out why idsrv.session worked fine, but that had nothing to do with what I thought I previously fixed; instead that is due to the idsrv'

[2020-01-23 01:26] #18419 closed

[2020-01-23 01:27] blowdart commented on #18489
It's not really a "small" feature when you are in a shared environment, with termination shared between multiple clients like web apps has.

[2020-01-23 01:30] NTaylorMullen opened #18530 "LSP Preview 1 - Validate Razor tooling on Windows"
## Instructions
It's up to you to validate all features if applicable done in the [Razor LSP Preview 1 milestone](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A%22Razor+LSP+Preview+1%22+is%3Aclosed) (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure somethi

[2020-01-23 01:30] NTaylorMullen opened #18531 "LSP Preview 1 - Validate Razor tooling on Linux"
## Instructions
It's up to you to validate all features if applicable done in the [Razor LSP Preview 1 milestone](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A%22Razor+LSP+Preview+1%22+is%3Aclosed) (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure somethi

[2020-01-23 01:31] NTaylorMullen opened #18532 "LSP Preview 1 - Validate Razor tooling on Mac"
## Instructions
It's up to you to validate all features if applicable done in the [Razor LSP Preview 1 milestone](https://github.com/dotnet/aspnetcore/issues?q=is%3Aissue+milestone%3A%22Razor+LSP+Preview+1%22+is%3Aclosed) (not just your own). Given that this is tooling validation, features and bug fixes should be relatively easy to validate given they don't require complex setups to ensure somethi

[2020-01-23 01:32] aderderian commented on #18489
Agreed.

[2020-01-23 02:19] huang-tianwen commented on #18407
@blowdart no, it has option to set AutoCommitChanges to false in UserStore, which can use dbContext.SaveChanges() to commit all changes after everything. I don't want to begin a database transaction just for create User and create its Claims based on User information. And when using Azure Sqldatabase, microsoft recommend setting EnableRetryOnFailure in DBContext options which is not support to beg

[2020-01-23 04:55] Zetanova opened #18533 "Kestrel assumes a valid http1.1 host name even for a http/2 connection over an unix domain socket"
### Describe the bug
The spec changes a bit for the Host header field in HTTP/2
It is now inside the ":authority" pseudo - header field.

CLI Applications like kubelet from kubernetes connecting to a unix domain socket
hosted by kestrel will specify the full SocketPath in the http/2 ":authority" pseudo - header.

Kestrel assumes and checks for a regular http1.1 host name at:
https://github.com/dot

[2020-01-23 05:09] Zetanova commented on #18533
https://github.com/dotnet/aspnetcore/issues/18522

[2020-01-23 05:12] jaredpar commented on #18519
Yes I can do it. Can someone positively state they want me to move AspNetCore-Internal to the dotnet org? The language so far is "i'm fine with it". Want to verify before I do the move.

[2020-01-23 05:51] JamesNK commented on #18533
Duplicate of https://github.com/dotnet/aspnetcore/issues/18522

[2020-01-23 05:51] #18533 closed

[2020-01-23 06:52] olivierebaachi commented on #18507
Thanks for your answer,
I'm using Dynatrace to measure.

the first API call takes 14 to 20 sec and AspNetCoreModuleV2 is call 3 times during the execution
The second  API call takes less than 1 sec and AspNetCoreModuleV2 is call 2 times.
If I wait 20 minutes before sending a new API call, the call takes 14 to 20 sec and AspNetCoreModuleV2 is call 3 times during the execution.

Question:
Is it poss

[2020-01-23 07:05] WernerMairl commented on #18259
ok, i hope i can do that in the next few days

[2020-01-23 07:14] olivierebaachi commented on #18507
Capture of the first call: AspNetCoreModuleV2 is call 3 time self time 11 sec
![Capture_a](https://user-images.githubusercontent.com/47693044/72963664-1e4f1f00-3db8-11ea-8993-53f71ce49a6d.PNG)
Capture of the second call : AspNetCoreModuleV2 is call 2 times
![Capture_b](https://user-images.githubusercontent.com/47693044/72963691-2dce6800-3db8-11ea-8d0e-a852f081272d.PNG)

[2020-01-23 07:48] drauch commented on #18503
A pity it's not backported, but I guess the workaround is good enough. Thank you for the quick response.

[2020-01-23 08:58] tester346 commented on #18087
@Tratcher
Update:

Problem still occurs. Even with this attribute and upgraded version of asp.net core

Here's some log if it may be helpful

	2020-01-22 17:44:49.190 +01:00 [INF] User: '********'
	 http localhost:5004/File/AddAttachment/1/attachment
	 ?_=1579711474176

	2020-01-22 17:44:49.214 +01:00 [INF] Route matched with {action = "AddAttachment", controller = "File"}. Executing controller ac

[2020-01-23 09:26] nizarelouaer commented on #4726
I am having the same issue. My client is sending a POST request with a JSON Body. My services is a .net core 3.1 web api. When I send a POST request I am receiving 400 BAD Request. I analyzed the request and saw that the header has the key:
""""
Connection | Upgrade, HTTP2-Settings
""""
This is actually causing the problem. I cannot modify the headers because I have no control on the client app. I

[2020-01-23 11:24] AndreiKhotko commented on #17973
I am trying to migrate my projects from .net core 2.2 to 3.1. And the problem was occurred when trying to publish the apps in IIS `InProcess` and with `--self-contained false` option. The error is:

What is the root of a problem? I've tried everything, nothings seems to work :(

[2020-01-23 11:47] kmuthukumar23 opened #18534 "Error: System.NullReferenceException: Object reference not set to an instance of an object in .net sdk 2.2"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2020-01-23 11:47] EmadKaizen commented on #18486
Hi @mkArtakMSFT, Thanks for your great efforts for making Asp.net core more powerful. I was searching for Asp.net Core Hot Reload feature but I have struggled to find any good solution.

We are using [Flutter hot reload](https://flutter.dev/docs/development/tools/hot-reload) and you can't imagine how this feature makes us productive while prototyping and making new apps.

For Asp.net Core we have

[2020-01-23 11:48] #18534 closed

[2020-01-23 11:48] javiercn commented on #18517
Thanks for contacting us <<mention>>.

It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow using the asp.net-core-blazor tag.

[2020-01-23 11:50] javiercn commented on #18517
Thanks for contacting us @Indrajith-Sync.

It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow.

We don't have enough information in this issue to understand what your problem is.

[2020-01-23 11:50] WernerMairl commented on #18259
Sample repo located in
https://github.com/WernerMairl/aspnetcore_issue_18259

important code is starting here:

https://github.com/WernerMairl/aspnetcore_issue_18259/blob/51a18bbd536ef587d9cd4d754df7c0dddd2a0632/src/Sample.Web/Startup.cs#L25

I'm logging 3 different messages implemented on IHostApplicationLifetime

Expected behavior: all 3 (101,102,103) messages should be triggered and visible ins

[2020-01-23 13:02] vimala1085 opened #18535 "Issue in .netcore3.1 - when we invoke second request of the same rest api controller"
when i invoke the rest api firsttime it is getting processed successfully but i try to invoke second request of the same controller with different rest method the i get the below error:

Can anyone help me out to resove this issue.
[code]

[2020-01-23 13:03] arun1998 commented on #18505
Hi Andrew, the log has this message - Application "application name" with physical root 'application path' failed to load clr and managed application. CLR worker thread exited prematurely. This happens only when I add the HTTPS redirect code above. Is there another way to do HTTPS redirect?

[2020-01-23 13:58] prof28 commented on #18020
OnAuthenticationFailed is not triggered even if expired certificate is provided, plain HTTP 403 is returned. Unable to capture unauthorized attempt.

[2020-01-23 14:00] #18460 closed

[2020-01-23 14:13] pranavkm commented on #18535
Could you share your Startup.cs \ Program.cs?

/cc @Tratcher

[2020-01-23 14:21] SteveSandersonMS commented on #18501
It sounds like there's an incompatibility between the requirements of Angular CLI (which needs to be able to write files to disk in dev mode) and Service Fabric (which needs to be running as a different user that might not have permission to write to those locations).

My suggestion for a workaround is that instead of using `UseAngularCliServer` to launch the Angular CLI server from your app proce

[2020-01-23 14:32] Simon-Gregory-LG commented on #18333
Consider this a +1 vote for including `ActionResult<T>` types for `StatusCodes.Status202Accepted` as a response object is typically expected to be returned with this code, as discussed here:

https://restfulapi.net/http-status-202-accepted/

Also, RFC7231 states: (https://tools.ietf.org/html/rfc7231#section-6.3.3)

[2020-01-23 14:36] SteveSandersonMS commented on #18402
https://github.com/aspnet/AspNetCore-Internal/issues/3470#issuecomment-577707818

[2020-01-23 14:47] xiety commented on #8433
Type inference for component doesn't work when constraints are declared in a partial class.

Method CreateConstrainedComponent (in generated class TypeInference) is created without constraints so compiler produces error:

    CS0452 The type 'T' must be a reference type in order to use it as parameter 'T' in the generic type or method 'ConstrainedComponent<T>'

Source from .razor.g.cs

    interna

[2020-01-23 15:42] iokill opened #18536 "Is Microsoft.AspNetCore.App 2.1.15 pulling in vulnerable dependencies?"
Hi!

### Describe the bug

I have a (self-contained) ASP.NET Core 2.1 Web API project which I try to monitor for vulnerable
dependencies. For some reason, `obj/project.assets.json`
lists vulnerable dependencies even though I'm using the latest .NET Core 2.1.15 SDK.
(Updating to 3.1 is not yet an option unfortunately.)

The vulnerable dependencies are:

- `System.Net.Http@4.3.3` which is vulnerable

[2020-01-23 15:52] blowdart commented on #18536
Looks like identity model might have outdated dependencies. This isn't as much as a concern as you'd think at first glance, 2.x and above roll forward so if you've updated your runtime it'll use the updated packages. If you are concerned you could add a direct dependence yourself.

[2020-01-23 15:58] boukenka opened #18537 "New components or functions for development"
Here are some features I would like for Blazor. This would facilitate the implementation of a website.
What do you think?

### A. Have the possibility to define a startup page

For example, the main screen/dashboard has the ``` @page '/'```.
The login page has the ``` @page "/login" ``` .
When the application starts, the applications loads first the "_login_" page
because it is defined as the star

[2020-01-23 16:02] Zetanova commented on #18522
nginx makes the same host validation of the :authority pseudo header

I read now the RFC https://tools.ietf.org/html/rfc3986#section-3.2.2 twice

The bottom line is that it is a "reg-name" and it is a UTF8 free-text
[code]

The reg-name syntax allows percent-encoded octets ... UTF8
I didn't saw that there is some kind of decoding in the current code.

[2020-01-23 16:06] xsoheilalizadeh commented on #18438
Thanks for following up. @halter73 The fix PR address refers to another issue.

[2020-01-23 16:18] Alexander-Lazarov88 commented on #18340
Hi, guys, I decide to use this open issue, because I have a similar problem and spent many hours to find a way to solve it but for now is still a problem. For now, I use a workaround solution, creating a new scope for every action to get a fresh database. A server-side scenario with "OwningComponentBase" according to me is not enough. Without "OwningComponentBase" the SignalR connection controls s

[2020-01-23 16:22] Tratcher commented on #18087
Your middleware logs the whole request, what gets logged in the failure scenario? Does the request body appear to be truncated?

[2020-01-23 16:31] Tratcher commented on #18438
That should have said https://github.com/dotnet/aspnetcore/pull/18529.

[2020-01-23 16:35] Tratcher commented on #18535
This looks the same as #18480.

[2020-01-23 16:37] yshahin commented on #18138
@Tratcher , that is great thanks. Any chance #17723 would be fixed as well?

[2020-01-23 16:41] Tratcher commented on #18528
The middleware doesn't support OpenIdConnectResponseMode.Fragment, that only works with client apps. HTTP doesn't transmit the fragment portion of the url to the server, it can only be seen on the client.

[2020-01-23 16:44] jhudsoncedaron commented on #18337
We import ASP.NET Core via implicit reference. I can't figure out how to get the update to apply:

<Project Sdk="Microsoft.NET.Sdk.Web">

      <PropertyGroup>
        <TargetFramework>netcoreapp3.0</TargetFramework>
        <RuntimeFrameworkVersion>3.0.0</RuntimeFrameworkVersion>
        <LangVersion>8.0</LangVersion>
        <PreserveCompilationContext>true</PreserveCompilationContext>
        <

[2020-01-23 16:45] ColinM9991 opened #18538 "JsonInputFormatter - Json Serialization Errors (ASP.NET Core 2.2)"
### Is your feature request related to a problem? Please describe.
The following [StackOverflow question](https://stackoverflow.com/questions/59877835/jsonreaderexception-unexpected-character-encountered-while-parsing-value/59883052) describes some of the detail.

I am trying to control the error messages which are returned when the `JsonSerializer` fails to deserialize the request body within the

[2020-01-23 16:47] Pilchie commented on #17973
@joeloff - this looks like the hosting bundle problem right?

@AndreiKhotko - can you try a Repair on the .NET Core Runtime in Add/Remove Programs?

[2020-01-23 16:47] andresrsanchez commented on #18522
Hi, i was doing something like:

[code]
The last part fails with the message "_System.ArgumentException: Only 'http' and 'https' schemes are allowed_"

Some part of this makes sense? I'm trying to imitate golang things :worried:

Thansk!!!

[2020-01-23 16:47] Tratcher commented on #18138
@yshahin yes we plan to address it for 5.0 as well. Or were you asking about 3.1? Let's take that discussion over to #17723, but in general to qualify for a patch the issue must be high impact and difficult to work around.

[2020-01-23 16:53] Tratcher commented on #18518
Those are included in the first link (translation required). A Fiddler trace of the requests would help even more.

[2020-01-23 16:55] iokill commented on #18536
@blowdart Thanks, good to know! Does this however also work if I create a self-contained app where all the dlls are put into the `publish` folder, since my target machine has no runtime installed?

I just checked the two respective dll's that `dotnet publish -r win10-x64` puts into `bin/Debug/netcoreapp2.1/win10-x64/publish`: They both have version 4.2.1.0 according to VS4Mac (I simply openend the

[2020-01-23 16:56] Pilchie commented on #18519
Please go ahead and move AspNetCore-Internal to the dotnet org whenever it's convenient to you, and let me know when you are done.

[2020-01-23 16:56] blowdart commented on #18536
I don't actually no. @anurse suggestions on who can answer?

[2020-01-23 17:00] Pilchie commented on #18536
A couple of points:

1. This is how we have always published 2.1 patches.  Only the affected packages are actually patched, not all of their dependencies. There are some complicated reasons why it's bad in many cases to do that too.
2. If you are building a self-contained app  *with the latest SDK*, it should work, as the SDK gets serviced with the latest patch number and applies it as part of pub

[2020-01-23 17:05] jaredpar commented on #18519
Assuming it should be named aspnetcore-internal (casing change) to match the other moves?

[2020-01-23 17:26] JamesNK commented on #18522
GrpcChannel only supports TCP. Support for UDS and pipes is planned for 5.0

[2020-01-23 17:35] mkArtakMSFT commented on #18510
@bansalankit2601 the link I've provided describes how you can show a UI to the user with a custom message. Isn't that satisfactory for your case?

[2020-01-23 17:37] bansalankit2601 commented on #18510
I don't think you are understanding what I am telling.

This does not cover the case if there is any console error in the page.

[2020-01-23 17:38] mkArtakMSFT commented on #18508
@javiercn can you please look into this? Thanks!

[2020-01-23 17:41] mkArtakMSFT commented on #18510
@bansalankit2601 there are two separate things:
- if you experience errors there is a yellow-bar showing up in the browser UI which you can customize.
- if the connection drops, and you need to reconnect you can use https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1#connection-to-the-server

If you think this is not still the answer to your question, please try

[2020-01-23 17:43] mkArtakMSFT commented on #18538
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-01-23 17:46] Pilchie commented on #18519
Yes, sounds good to me.

[2020-01-23 17:50] joeloff commented on #17973
@Pilchie Which hosting bundle problem?

[2020-01-23 17:52] mkArtakMSFT commented on #18538
As a side note, it looks like the version of the framework you're using is outdated and is not supported any more.
Consider upgrading to a newer supported version of the framework to make sure it's secure and you get all the new features.
You can learn more about the .NET Core support policy at https://dotnet.microsoft.com/platform/support/policy/dotnet-core

[2020-01-23 17:57] ColinM9991 commented on #18538
Upgrading is an ambition of mine, but this is an enterprise application which uses packages that have a tight coupling to ASP. NET Core 2.x and Newtonsoft.Json. Such an upgrade won't happen any time soon unfortunately due to our delivery roadmap.

[2020-01-23 18:00] #18425 closed

[2020-01-23 18:05] jaredpar commented on #18519
The transfer has happened. There is one new team though we hadn't ported yet: aspdoi. Do you need that ported? Seems that aspnet-push had enough overlap that this shouldn't be a problem.

[2020-01-23 18:16] Pilchie commented on #17973
I was thinking of the issue where we had the non-final branded runtime in the hosting bundle coupled  with https://github.com/dotnet/runtime/issues/703.

[2020-01-23 18:18] joeloff commented on #17973
Ahh, if that issue is the culprit then repair would be a good option. Should be easy to tell because some of the runtime files would be missing and then placed back after the repair

[2020-01-23 18:19] Pilchie commented on #18519
Thanks!

For `aspdoi` I had created it, but apparently not populated it :)  https://github.com/orgs/dotnet/teams/aspdoi

It's there for mentioning, not for permissions, so we can do that on our own.

[2020-01-23 18:26] #17546 closed

[2020-01-23 18:29] mkArtakMSFT opened #18539 "Add support for catch-all routes in Blazor"

[2020-01-23 18:42] mkArtakMSFT commented on #14152
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-23 18:42] #14152 closed

[2020-01-23 18:48] mkArtakMSFT commented on #18537
Thanks for contacting us.
This is a lot of requests in one issue. @javiercn can you please go through these and see which ones are things we may do and either reference to existing issues or create new ones.
Then close please, as we don't want to track this meta-issue.

[2020-01-23 18:54] mkArtakMSFT commented on #5500
We're closing this as most of this work has been done as part of other issues.

[2020-01-23 18:54] #5500 closed

[2020-01-23 18:56] mkArtakMSFT commented on #5501
We'll be covering this as part of #17552

[2020-01-23 18:56] #5501 closed

[2020-01-23 18:58] mkArtakMSFT commented on #5551
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-23 18:58] #5551 closed

[2020-01-23 19:00] #15138 closed

[2020-01-23 19:07] mkArtakMSFT commented on #8493
Thanks for contacting us.
After some further discussion regarding this we believe this is not something we plan to do.

[2020-01-23 19:07] #8493 closed

[2020-01-23 19:12] mkArtakMSFT commented on #9436
We're closing this issue as we don't plan to do anything here. Polyfill support is what we recommend in this case.

[2020-01-23 19:12] #9436 closed

[2020-01-23 19:14] mkArtakMSFT commented on #9692
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2020-01-23 19:14] #9692 closed

[2020-01-23 19:18] ColinM9991 commented on #18538
This is the ASP.NET Core 3 version my proposed change would sit,

https://github.com/dotnet/aspnetcore/blob/a49e084c1515dfaa16de8d7d4b0c00190587ad87/src/Mvc/Mvc.NewtonsoftJson/src/NewtonsoftJsonInputFormatter.cs#L268

If such a change is one that you'd consider then I'm happy to make this change and raise a PR.

[2020-01-23 19:22] mkArtakMSFT commented on #10475
@anurse this is an ask we have from SignalR for 5.0.

[2020-01-23 19:23] JulienM28 commented on #18460
Thanks for you answer.
I though about something looking that but it was a bit confused in my head about how it will work with inheritance of components as there is no abstract or virtual in NavLink Component.

Thanks.

[2020-01-23 19:24] mkArtakMSFT commented on #10529
Thanks for contacting us. This ask is already covered as part of multiple other issues. So closing this as we will be handling these instead.

[2020-01-23 19:24] #10529 closed

[2020-01-23 19:25] mkArtakMSFT commented on #10529
#12205, #15405, #5519

[2020-01-23 19:29] mkArtakMSFT commented on #10860
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-23 19:29] #10860 closed

[2020-01-23 19:32] mkArtakMSFT commented on #10994
This is already being tracked by the VS Web Tooling team, so closing this issue.

[2020-01-23 19:33] mkArtakMSFT commented on #10994
The VS work here is already tracked externally.
However there is a VSCode piece here which we control.

[2020-01-23 19:33] stefsch commented on #18489
While we will put this request into the backlog for Azure App Service - realistically it isn't likely to be implemented anytime "soon" due to the multi-tenant nature of App Service's shared infrastructure.  The front doors (network edge) of App Service handles tasks like SSL termination and client certificat negotiation for thousands of different apps.  As such the built in Windows server behavior

[2020-01-23 19:35] mkArtakMSFT commented on #11013
We'll remove the `app` tag completely.

[2020-01-23 19:36] mkArtakMSFT commented on #11131
@pranavkm did you already fix this? Close if so.

[2020-01-23 19:38] mkArtakMSFT commented on #11406
We don't think this is something we'll do in the near future. If this will be impacting more users, we will reconsider.

[2020-01-23 19:38] #11406 closed

[2020-01-23 19:38] #11444 closed

[2020-01-23 19:41] mkArtakMSFT commented on #11471
Closing as this is tracked in an external repo: https://github.com/xamarin/mobileblazorbindings

[2020-01-23 19:41] #11471 closed

[2020-01-23 19:41] mkArtakMSFT commented on #11562
Done

[2020-01-23 19:41] #11562 closed

[2020-01-23 19:45] mkArtakMSFT commented on #11629
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-23 19:45] #11629 closed

[2020-01-23 19:46] ZonerZoner commented on #18230
Yes, it was mixed by mistake (in dependent libraries). But the fun fact is that only the web.config attribute is crashing the startup in IIS. If this could be fixed, it would be easier to migrate, I guess

[2020-01-23 19:49] mkArtakMSFT commented on #11910
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-23 19:49] #11910 closed

[2020-01-23 19:49] #11926 closed

[2020-01-23 19:52] mkArtakMSFT commented on #11977
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-23 19:52] #11977 closed

[2020-01-23 19:54] NTaylorMullen opened #18543 "Test Failure: Publish_CopiesStaticWebAssetsToDestinationFolder_PublishSingleFile"
This test has like a 50% failure rate. I'll be marking it as flaky shortly.

Example failure output:
[code]

Stack trace
[code]

Build failure: https://dev.azure.com/dnceng/public/_build/results?buildId=492987&view=ms.vss-test-web.build-test-results-tab&runId=15695606&resultId=100201&paneView=debug

Note about the above build failure, I hit retry to get a PR in so not sure if it'll maintain the bu

[2020-01-23 19:56] mkArtakMSFT commented on #12044
We've improved our Forms and validation docs quite a bit. This should be covered .there already: https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.1
As pointed out in the docs you can now call `Validate` on the `EditContext`.

[2020-01-23 19:56] #12044 closed

[2020-01-23 19:56] #12280 closed

[2020-01-23 19:57] mkArtakMSFT commented on #12616
This is already covered in the Blazor Security docs.

[2020-01-23 19:57] #12616 closed

[2020-01-23 19:58] mkArtakMSFT commented on #12880
This is a dupe of #10170

[2020-01-23 19:58] #12880 closed

[2020-01-23 20:47] Regenhardt commented on #18394
Oh wow you are right. This is one of those times I feel really stupid suddenly. It's quite obvious how SIgnalR works over http. Thank you for the help 😄 .

[2020-01-23 21:18] pranavkm commented on #18538
@ColinM9991 in that case, is this still interesting to you? The earliest version you could possibly see this API would be 5.0.

[2020-01-23 21:25] pranavkm commented on #11131
Dup of https://github.com/dotnet/extensions/issues/1360.

[2020-01-23 21:25] #11131 closed

[2020-01-23 22:05] anurse commented on #18208
Ok, so the cookie here is controlled by IdentityServer. See their docs for more information here: http://docs.identityserver.io/en/latest/

[2020-01-23 22:05] #18208 closed

[2020-01-23 22:07] intermension opened #18544 "BadRequestObjectResult returns status text of OK"
When returning a BadRequestObjectResult, the status code is set to 400 but the statusText is still "OK".
I would expect the statusText to return "BadRequest" - or "doh"

[2020-01-23 22:09] anurse commented on #18442
The OAuthHandler is very general-purpose and not really usable on it's own since the spec doesn't formalize a way to redeem tokens. You have to add your own logic. The claim actions are an example of this. The options type carries a list for convenience, but it's up to your handler to run them. For example, in the "SocialSample" in our repo, we configure a GitHub-based authentication handler using

[2020-01-23 22:09] #18442 closed

[2020-01-23 22:11] kirk-marple commented on #18528
Thanks for the feedback; that makes sense.  I was able to work around it by using 'form_post', and then can see the state.   I did have to hack the state 'protect/unprotect' in OnMessageReceived since I was passing unencrypted data (a customer GUID) with the 'magic link' from Auth0.

My problem now, and this may just be by design, is that Auth0 passwordless doesn't insert any cookies into the HTTP

[2020-01-23 22:12] anurse commented on #18489
Moving this to servers and backlogging to consider supporting this in Kestrel/HTTP.sys. We'll likely need APIs from SslStream to support this.

[2020-01-23 22:16] aderderian commented on #18489
Thanks @anurse ! I appreciate everyone's feedback here. Is this something that would be a 6 month thing or longer? If you don't know, that's fine too. Thanks again.

[2020-01-23 22:17] anurse commented on #18528
Our OpenIdConnectAuthenticationHandler requires correlation IDs in order to protect against CSRF attacks. Can you provide something like a [Fiddler](https://www.telerik.com/fiddler) trace so we can see how this flow is operating?

(Moved to Discussions since there isn't actionable product work here, as Auth0 Magic Link isn't an officially-supported auth system; but we're happy to help you figure t

[2020-01-23 22:33] Tratcher commented on #18489
We'll have to investigate how the underlying platforms support this.

If it were only new features in Kestrel, SslStream, etc. the earliest it would ship would be in [.NET 5.0 ](https://github.com/dotnet/core/blob/master/roadmap.md#upcoming-ship-dates) at the end of this year.

[2020-01-23 22:49] Tratcher commented on #18489
On a VM you might be able to get it working today. I recommend setting up a proof of concept on a VM using ASP.NET Core's HttpSys server and these configuration steps:
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/hh831771(v=ws.11)#management-of-trusted-issuers-for-client-authentication

That will at least identify any other blockers for this sce

[2020-01-23 22:59] pranavkm opened #18545 "[Blazor] Published app results in 404s for pdb files"
@javiercn's PR for static web assets should fix this, but filing this for record keeping:

![image](https://user-images.githubusercontent.com/174281/73031425-e912f300-3df0-11ea-9bef-51de05fdcf06.png)

[2020-01-23 23:00] #18366 closed

[2020-01-23 23:03] pranavkm opened #18546 "blazor.boot.json contains duplicate entries for pdb files for shared projects"
When a project is referenced both by the server and client, the entry for the pdb file gets duplicated in the boot.json. This results in multiple HTTP requests:

![image](https://user-images.githubusercontent.com/174281/73031603-77877480-3df1-11ea-9885-c77e8763a733.png)

[2020-01-23 23:10] pranavkm commented on #18420
This works

[2020-01-23 23:10] #18420 closed

[2020-01-23 23:17] ColinM9991 commented on #18538
It would be good to have support for this as there have been other attempts (visible on Stackoverflow) at investigating, identifying and implementing support for this. A lot of those questions contain answers which suggest assigning a handler to `JsonSerializerSettings.Error`, but there's no way to handle the error _and_ hook into the `context.ModelState`.

We are focusing on designing APIs which

[2020-01-23 23:21] pranavkm commented on #18527
@americanslon invoking a HTTP Client method does not throw if the request completed - hhttps://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.deleteasync?view=netstandard-2.1. You're free to inspect the response to have it throw: https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpresponsemessage.ensuresuccessstatuscode?view=netframework-4.8#System_Net_Http_HttpResponse

[2020-01-23 23:21] #18527 closed

[2020-01-24 00:36] mkArtakMSFT commented on #18520
@javiercn can you confirm this is not an issue in preview1 bits? Should this be closed then?

[2020-01-24 00:39] ajaybhargavb opened #18549 "Add a way for Razor LSP server to sync configuration changes with the client"
We need a way for our language server to access the client config settings so we can respect those settings. E.g, Enable/disable formatting.

[2020-01-24 01:47] kirk-marple commented on #18528
Great, thanks.  I've attached the Fiddler sessions as cURL export, just so I could redact PII.

If you need the actual Fiddler export, I'd be happy to send via email directly.

[Auth0 Passwordless.zip](https://github.com/dotnet/aspnetcore/files/4106479/Auth0.Passwordless.zip)

Some color on each request:

1. I'm making the initial call to /passwordless/start on Auth0 to send out the 'magic link' e

[2020-01-24 02:21] cyberhck opened #18550 "user data on user tokens"
### User data in User tokens like password reset or activatioin
I'm trying to do password reset, but the token alone isn't enough to reset password, it still requires user to be able to do this. I've seen documentation where they suggest to have userid also set as a query parameter while sending emails which does work for me.

### The question I have
It's not a feature request per se, I just wante

[2020-01-24 02:31] yshahin commented on #17723
@halter73, I would like to point out that this issue is sever. This problem causes the connection to our proxy to break, which the proxy interprets as 500. Causing SLA misses while the response should be 400. And in a more recent case 404 triggered this case.

[2020-01-24 03:09] americanslon commented on #18527
@pakrym I am not sure we are understanding each other; what does not throw when request is completed?

Are you saying that HttpClient drops content of the response if the response code is not IsSuccessStatusCode?

[2020-01-24 04:51] vimala1085 commented on #18535
public class Program
    {
        /// <summary>
        /// Static main method, Beginning of program execution
        /// </summary>
        public static void Main(string[] args)
        {
            Directory.SetCurrentDirectory(AppDomain.CurrentDomain.BaseDirectory);
            var isService = !(Debugger.IsAttached || args.Contains("--console"));
            var seedData = args.Contains("--

[2020-01-24 04:55] vimala1085 commented on #18535
public class Startup
    {
      //  private ILoggerFactory _loggerFactory;
        private LoggingProvider _loggingProvider;
        private TenantIssuerValidator _issuerValidator;
        private IDomainEventListener _domEvtListener;
        private IUumEventListener _uumEvtListener;
        private string _hostUrl;

        //private const string ClientName = "siid-uim";
        private string

[2020-01-24 05:15] nvmkpk opened #18552 "Unable to run blazor project when project output folder is redirected"
### Describe the bug
Unable to run blazor project when project output folder is redirected with an absolute path

### To Reproduce
1. Create a new blazor webassembly project
2. Edit the csproj file and add lines similar to below inside `PropertyGroup` element:
[code]
3. Try running the application. You will run into exception similar to:
[code]
### Further technical details
- ASP.NET Core version:

[2020-01-24 06:03] anurse commented on #18522
Do we know if the client is URL-encoding the `Host` header? I do see that the RFC allows `/` but **only** if it's URL-encoded. When I did a quick test with curl, I saw that **both** `foo/bar` and `foo%2fbar` were rejected.

Perhaps this doesn't need special configuration and we just need to be validating **pre** decoding. If the UDS clients are encoding the header value, then we can be both spec-c

[2020-01-24 06:10] JamesNK commented on #18522
Related to the issue, please consider esoteric Windows named pipes values for when Kestrel is using that transport.

https://docs.microsoft.com/en-us/windows/win32/ipc/pipe-names

[2020-01-24 06:11] anurse commented on #18507
There shouldn't be any compilation in play unless you've enabled runtime compilation for Razor pages. This is likely just start-up time. Can you provide a *runnable* sample application that reproduces this problem? We'd need to know exactly what you are running at start-up in order to investigate in more detail.

This is the IIS idle worker shutdown. If no requests are received within 20 mins (by

[2020-01-24 06:17] newyearsoft opened #18553 "SignalR wont works in IIS when open Web Garden"
When IIS  Web Garden is 1. SignalR is work.everything is normal.
When Web Garden more then 1.SignalR wont works.
What should I set to make it work?

[2020-01-24 06:19] anurse commented on #18259
Hrm. When I use `docker stop` locally it does work:

[code]

It seems like maybe that's not how Azure Web Apps for Linux is shutting things down. We may have to engage that team and see how they're doing things. It's probably the issue is on their end given my test results but we'll see what we can figure out.

[2020-01-24 06:19] anurse commented on #18505
I doubt this is directly related to the impact. You shouldn't have to remove that functionality to fix this issue, let's try to avoid that :).

Is there no other information in the log? Usually the actual exception that crashed the process will be there. Can you try the full troubleshooting steps from our docs on [Troubleshooting with IIS](https://docs.microsoft.com/en-us/aspnet/core/test/troubles

[2020-01-24 06:29] Tratcher commented on #18535
Yes, that code looks almost the same as #18480. We'll close this as a duplicate and focus on the other one.

[2020-01-24 06:29] #18535 closed

[2020-01-24 06:31] Tratcher commented on #18480
Looks like Unity didn't support ASP.NET Core 3.0 until at least 5.11.2. What version are you using?
https://github.com/unitycontainer/microsoft-dependency-injection/issues/57#issuecomment-562995553

[2020-01-24 07:41] wfurt commented on #18488
no, I don't think so. However, https://github.com/dotnet/performance/pull/1146 may be an interesting background. My Linux and Windows machines are pretty similar. They produce similar results for steady encrypt/decrypt but a handshake is MUCH slower on Linux.

I'm wondering if there could be something wrong with your windows Kestrel server. You can checkout perf repro and you can try to run standa

[2020-01-24 08:02] physix99 commented on #18510
@bansalankit2601 If you created your Blazor project from an old template, your probably missing

[code]

on your _Host.cshtml page, if you add that (you'll also need some css, best to create a new project based on updated templates to copy from).

When an error occurs a yellow bar appears at the bottom of the page telling your user that an error has occured, without needing to look into the browse

[2020-01-24 08:30] borseno commented on #18056
Hello @pranavkm
The issue doesn't cause any problems to me but still this bug is probably related to Blazor (in my opinion) because it gave blazor-specific error "Unable to render component 14". I found a workaround to the problem with loading large projects to github at once, and now you can view the repo [here](https://github.com/borseno/TempRepoForBlazorIssue)

The file you should look for is l

[2020-01-24 09:10] PooSham commented on #18501
Too bad! So this will probably never get fixed (unless either Angular CLI or Service Fabric change their requirements)?

That's what I'm doing right now. It works, but it would be neat to have it as a part of the deployment process.

Anyways, thanks!

[2020-01-24 09:10] #18501 closed

[2020-01-24 09:31] davidfowl commented on #18553
@newyearsoft once you have more than a single process, you need something to communicate across nodes.

https://docs.microsoft.com/en-us/aspnet/core/signalr/scale?view=aspnetcore-3.1

[2020-01-24 09:38] javiercn commented on #18520
Nope.

This can be closed. We didn’t have a way of doing individual auth in non-hosted scenarios, so that is why it broke.

There’s no way afaik to display an error with broken templates.

[2020-01-24 09:54] Mrpankaj666 opened #18554 "User defined data type in Ado.net cause issue after upgrading to .net 3.1"
In .net core 2.2 its working fine but once I upgrade the project to .net core 3.1 its start failing only for user defined data type in ado
Error: Object must implement IConvertible
please assist on this

[2020-01-24 11:31] CumpsD commented on #9514
I just upgraded to .NET Core 3.1 today and was faced with 350 errors of `An attribute argument must be a constant expression, typeof expression or array creation expression of an attribute parameter type` 👎

Most of them cases like `[FromHeader(Name = HeaderNames.IfNoneMatch)]`

[2020-01-24 11:39] xzxzxc opened #18555 "ArgumentException "unrecognized escape sequence" in RewriteOptions.AddApacheModRewrite in case of usage of regex shorthand character classes (like \d)"
### Description of the bug
The System.ArgumentException occurs while executing the method AddApacheModRewrite if passed file contains regex rules with shorthand character classes (like \d).

### To Reproduce
[code]
Where file `apache_rewrite_rules.txt` contains:
```RewriteRule	^/(\d)$	/?num=$1```

Exception message:
```System.ArgumentException: 'parsing '^/(\d)$' - Unrecognized escape sequence \\d

[2020-01-24 11:51] mitchdowd commented on #8110
Getting the same issue on Ubuntu 18.04.

`/home/xxx/.nuget/packages/microsoft.aspnetcore.razor.design/2.2.0/build/netstandard2.0/Microsoft.AspNetCore.Razor.Design.CodeGeneration.targets(79,5): error : rzc discover exited with code 150.`

[2020-01-24 13:12] DapperMickie opened #18556 "Blazor Server-Side Memory Leak"
### Describe the bug
We host our Blazor site in a Kubernetes cluster and noticed that after a while it crashed due to an OutOfMemory exception. We came to the conclusion that we might just have to increase the allocated memory for our app but before we actually went through with that we went to the profiler.

![image](https://user-images.githubusercontent.com/10809203/73071619-87678d00-3eb3-11ea-8

[2020-01-24 13:13] blowdart commented on #18550
I assume you're using asp.net identity, is that correct?

What documentation are you referring to?

[2020-01-24 13:51] javiercn commented on #18556
@DapperMickie thanks for contacting us.

I believe we need more information to analyze your case.

Can you take a memory dump of the running process and take a look at the list of objects in memory that are taking more space and have the highest object count?

[2020-01-24 13:54] javiercn commented on #18554
@Mrpankaj666 thanks for contacting us.

We believe this issue is not related to ASP.NET Core. You'll get a better and faster answer if you file an issue in the [dotnet runtime](https://github.com/dotnet/runtime) or the [ef repo](https://github.com/dotnet/efcore)

[2020-01-24 13:59] javiercn commented on #18508
I'm failing to see how the auth piece can be related to this. It doesn't do anything with the culture.

The culture you get in Blazor is the one that your user have when the app hits the signalr endpoint during the initial connection.

@rynowak might know more.

[2020-01-24 14:01] ejstan opened #18557 "Unable to Regenerate a Two Factor Token when User clicks Resend Code"
Hi,

I'm trying to implement a functionality when a logs in he/she will receive a SMS containing a verification code and he/she must enter it to the web app in order to log in and should have the option to resend the code. When the user clicks on "Resend Code" a new Two Factor code must be generated and sent to his/her email. So far whenever I call the following code below it returns me the previo

[2020-01-24 14:06] #18520 closed

[2020-01-24 14:07] AndreiKhotko commented on #17973
@Pilchie I tried it. It doesn't help at all. I knew that the problem is occurred when I build the solution with a command:

And then publish the app:

And then when server tried to run the app, the error is occurred `Error 500.31 - ANCM Failed to Find Native Dependencies in IIS`.
Somehow after publishing the app the file `*.runtime.config` contains both `Microsoft.NETCore.App` and `Microsoft.AspNe

[2020-01-24 14:15] ejstan commented on #18557
Already resolved the issue. Thanks

[2020-01-24 14:51] Kiril1512 opened #18558 "SignalR - Start connection with many instances at the same time, SignalR maps them as same connection."
### Describe the bug
3 different client instances connect at the same time, signalR maps them as same connection.

### To Reproduce

**What steps can we follow to reproduce the issue?**

We have 3 client instances, with 3 different users in 3 separate machine, on 3 different networks. When we connect them to our hub  (a separate .net core 3 microservice that uses Azure SignalR), the connection is

[2020-01-24 14:53] springy76 commented on #8433
At least (as a workaround) you can specifiy the type of T explicitly: `<ConstrainedComponent T="ConcreteTypeOfVariable" Value="@variable" .. />`

[2020-01-24 15:04] iokill commented on #18536
I did some more experiments and can confirm @Pilchie's point 2: `System.Net.Http.dll` and `System.Text.RegularExpressions.dll` from `runtime.win-x64.Microsoft.NETCore.App@2.1.15` are used for my self-contained app.

Both dlls do actually have version 4.2.1.0 (set in https://github.com/dotnet/corefx/blob/v2.1.15/src/System.Text.RegularExpressions/dir.props). This version is however never changed fo

[2020-01-24 15:17] arun1998 commented on #18505
Hi Andrew, I updated the config file to write to the logs folder. After running the app from the command prompt, this is the error in the windows application logs -

Application [applicationname] with physical root  [applicaitonpath] hit unexpected managed exception, exception  code = '0xe0434352'. Please check the stderr logs for more information.

However, nothing is written to the stdout file.

[2020-01-24 15:30] pmarzullo opened #18559 "Error connecting to SignalR from Android Xamarin"
Closed. This question needs details or clarity. It is not currently accepting answers.
Add details and clarify the problem you’re solving. This will help others answer the question. You can edit the question or post a new one.

Closed yesterday by Steve, tripleee, jps.

(Private feedback for you)

I have a problem that is really hard for me to find the fault, I looked for information on all sides

[2020-01-24 16:05] Kahbazi commented on #18348
Is this up for grab?

[2020-01-24 16:07] roysurles opened #18560 "Windows Authentication - ((ClaimsPrincipal)User).IsInRole"
### Describe the bug
User.IsInRole works with ActiveDirectory Group Names on local development machine, but does not work with ActiveDirectory Group Names after deploying to onpremise windows IIS server.  However, ActiveDirectory Group Sid does work on onpremise windows IIS server.

### To Reproduce
Asp.Net Core 3.1 Blazor Server
WindowsAuthentication: true
AnonymousAuthentication: false
var authe

[2020-01-24 16:08] danroth27 commented on #8110
@sayedihashimi

[2020-01-24 16:25] Tratcher commented on #17723
Can you explain that? The identified issue only relates to exception handling, not 404 scenarios.

[2020-01-24 16:34] BrennanConroy commented on #18558
Are you able to consistently repro this? Is it possible to provide an app that displays this behavior?

I'm unable to reproduce this with a simple app and two clients.

Also, what is with the "9c41d1fa1" at the end of all the logs? ConnectionId's are 22 characters in length (yours are 31) and definitely don't contain the same sequence of characters across IDs.

[2020-01-24 16:43] Tratcher commented on #18528
That's a curious format, it doesn't show you any of the responses. In this case it should be adequate though.

I see what you're missing in all of this, a step 0. Our auth providers don't support remotely initiated auth flows, you need to start on the website you're trying to log into (http://localhost:3000/) and issue a challenge that redirects you to the identity provider (https://redacted.auth0

[2020-01-24 17:11] blowdart commented on #18522
Can we iterate through transports, and have transports decide if the host header is valid for them? That seems a better approach than either on or off.

[2020-01-24 17:11] pranavkm commented on #18544
Can you share some fiddler \ verbose curl traces that show this?

[2020-01-24 17:12] blowdart commented on #18560
Is the IIS server domain joined? Is the app pool running as a domain joined user? Can the server see an AD controller? Do you mutate the identity in any way?

[2020-01-24 17:13] blowdart commented on #18407
@ajcvickers This seems like an EF question to me :)

[2020-01-24 17:18] JulienM28 commented on #18460
Is it possible to add preventDefault in rendertreebuilder ?

[2020-01-24 17:21] mkArtakMSFT commented on #18556
@DapperMickie, can you please answer these questions to help us investigate this further:
- how long did it take for you to get to this state?
- what happens if you reserve more memory to the container?
- will it eventually outgrow a 1024Mb (as an example) too?
- can you actually reproduce this issue locally (not in a container), having the profiler attached?

[2020-01-24 17:28] benmccallum commented on #18463
Sorry I've been absent, been dealing with SameSite cookie fun and haven't had a chance to think about this and then am on hols until Thursday.

How could I explicitly set the content length? I notice that if I do `var content = new StringContent(...);` that `content.Headers.ContentLength` (from the top of my head) had a value, so it's a little strange this doesn't get passed on through.

Will have

[2020-01-24 17:45] blowdart commented on #18528
There's also a specific [.NET SDK](https://github.com/auth0/auth0.net) from Auth0, which might work better for you. I'm sure @damieng has some advice on using that.

[2020-01-24 17:48] Kiril1512 commented on #18558
Yes, we can consistently repro this. I will upload on github a sample and share it here.

About the "9c41d1fa1" at the end, I can't explain this. I tought that this is about Azure SignalR or something... We also use authentication to our hub using the ```Authorize``` attribute.

[2020-01-24 17:49] roysurles commented on #18560
Is the IIS server domain joined? Is the app pool running as a domain joined user? Can the server see an AD controller? Do you mutate the identity in any way?

[2020-01-24 17:49] anurse commented on #18463
Hrm, that is interesting. There may be a bug for us to look at here. We'll see what we find. I'd definitely agree that if the content has a `ContentLength` we should try to propagate that.

Oh we're certainly familiar with that ;). No worries!

[2020-01-24 17:50] BrennanConroy commented on #18558
Ah, I thought you were doing this locally, if you're using the Azure SignalR Service then that could make sense.

[2020-01-24 17:50] roysurles commented on #18560
Is the IIS server domain joined? YES; Is the app pool running as a domain joined user? YES; Can the server see an AD controller? YES; Do you mutate the identity in any way? NO  We are running other full .net framework 4.7.2 WebForms and MVC that work well with User.IsInRole("AdGroupName").

[2020-01-24 17:50] SteveSandersonMS commented on #18460
It's possible that putting the attribute `preventDefault_onclick="true"` onto the `<NavLink>` would actually achieve what you want here, but note that the magic internal attribute name is **not** part of the supported public API and therefore is subject to unannounced breaking changes at any time. The subclassing approach is supported and safe.

[2020-01-24 17:55] DapperMickie commented on #18556
@mkArtakMSFT
how long did it take for you to get to this state? - The state in the above image took roughly 20 seconds.
can you actually reproduce this issue locally (not in a container), having the profiler attached? - That's what the above image is from.
also, how many refreshes, approximately, did it take to get to this state? - Roughly 20-30

Do you get the issue when you test it with the step

[2020-01-24 17:56] JulienM28 commented on #18460
Thanks.

[2020-01-24 18:09] blowdart commented on #18560
Strange. Does a simple .NET Core MVC app also work?

[2020-01-24 18:23] dougbu commented on #12029
@mkArtakMSFT can this now be closed?

[2020-01-24 18:30] NTaylorMullen opened #18561 "Test Failure: Publish_NoBuild_CopiesStaticWebAssetsToDestinationFolder"
This test has like a pretty high failure rate. I'll be marking it as flaky shortly.

Example failure output:
[code]

Stack trace
[code]

Build failure: https://dev.azure.com/dnceng/public/_build/results?buildId=495506&view=ms.vss-test-web.build-test-results-tab

@javiercn assigning to you since this is your baby. Wasn't sure what other labels to assign here.

[2020-01-24 18:39] JulienM28 opened #18562 "Blazor Component and Obsolete Attribute"
I added an Obsolete Attribute to a component
like this in razor file:

[code]

and like this in "code behind" file ( partial class)
[code]

but in both cases the result is not visible

![image](https://user-images.githubusercontent.com/23618436/73094276-8e58c480-3ee0-11ea-864b-22ff25a2e359.png)

[2020-01-24 18:46] pranavkm opened #18563 "Building an ASP.NET Core project that transitively references a version of Microsoft.AspNetCore.Components different than the runtime version results in build warning"
## Description

The Web SDK implicitly adds a reference to the Components analyzers for .NET Core 3.0 or later targeting projects. The analyzer adds important diagnosis for developers building a Blazor application, so we generally want it on by default. The Microsoft.AspNetCore.Components package references the Microsoft.AspNetCore.Components.Analyzers package which also contains the same analyzer

[2020-01-24 19:11] jagbarcelo opened #18564 "Server-side generation of images from a Canvas does not work in IIS but does in IIS Express"
# Issue Title

Server-side generation of images from a Canvas does not work in IIS (Release) but does in IIS Express (both Debug & Release)

# General

This is a controller class used to generate a PNG file on the server side and return it to the client (browser). The image is made through the creation of a System.Windows.Controls.Canvas object first (along with some operations on it), which is th

[2020-01-24 19:13] pranavkm commented on #18563
For 3.1, the fix is likely fairly trivial: we'll need to make this https://github.com/dotnet/aspnetcore/blob/release/3.1/src/Components/Analyzers/src/build/netstandard2.0/Microsoft.AspNetCore.Components.Analyzers.props also be transitively flown.

For a later release, the more appropriate behavior would be to use the newer of the two analyzer files.

[2020-01-24 19:17] anurse commented on #18524
Also, we can probably run Edge tests on AzDO now since Chromium Edge probably supports headless!

We're ok with shifting Edge Legacy testing to Sauce Labs.

[2020-01-24 19:19] #18553 closed

[2020-01-24 19:21] anurse commented on #18559
I'm not really sure what's going on in this thread. Plus, you are referencing `Microsoft.AspNet.SignalR` which is not tracked in this repo. Can you file a new issue in https://github.com/SignalR/SignalR (which tracks ASP.NET SignalR) with specific repro steps and a description of both the expected and actual behavior?

[2020-01-24 19:21] #18559 closed

[2020-01-24 19:23] anurse commented on #18558
How are you using ASP.NET Core 3.0 with .NET Framework 4.6.1? This isn't supported.

Please let us know when you can assemble a repro, that will allow us to investigate further.

[2020-01-24 19:27] ericstj commented on #8110
I think there is a pretty clear bug here.  I pointed it out and suggested the actionable fix (expose toolpath and set it).  You might want to coordinate with the SDK team to make sure your tasks which require dotnet locate it in the same was as the SDK.

[2020-01-24 19:28] anurse commented on #18564
What comes to mind is that IIS runs as a special user (something like `IIS APPPOOL\[App Pool Name]`) whereas IIS Express runs as the user. @safern @maryamariyan could user permission issues cause problems with System.Drawing? The IIS user often doesn't have a User Profile directory (it's an option that can be enabled).

@jagbarcelo is there an exception occurring?

[2020-01-24 19:29] huang-tianwen commented on #18407
@blowdart I checked the Source code, I don't know if this code will cause this error or not.
AddClaims function call dbContext.DbSet<T>.Add(object) while CreateUser call function dbContext.Add(object).

[2020-01-24 19:30] anurse commented on #18463
@Tratcher was saying that the `ContentLength` property itself is a bit of a trap here. If you dereference it, the `HttpContent` computes the length on-demand, but the actual Header isn't present in the header collection (until you set it).

Still, I think we can do something to fix this. It seems like there's some weird edge case stuff going on here that we can try to tidy up.

[2020-01-24 19:33] safern commented on #18564
I don't believe so. We write files down, so if the user doesn't have permisions it would fail, but it is writing the PNG file but in a wrong format... I don't know if maybe the version of GDI+ in that Windows Server 2019 machine is busted, but I wouldn't expect that to be the case.

[2020-01-24 19:35] anurse commented on #18505
@arun1998 can you post a **runnable sample project** that reproduces the problem? We need to see the full context of what's going on. The error message you posted indicates that an exception is being thrown by your application at startup. Did you try the steps in the troubleshooting guide (such as running the app from the command line)?

[2020-01-24 19:37] anurse commented on #18489
We'll consider adding support for this in Kestrel, but will need a change from dotnet/runtime. I'll file a bug and mark this as blocked on that.

[2020-01-24 19:40] roysurles commented on #18560
No.  Created new .net core 3.1 mvc web app and it works on my local development machine.  deployed it to our onpremise iis web server and it does NOT work either:  Context.User.IsInRole("MyAdGroup")

[2020-01-24 19:41] anurse commented on #18230
This seems *extremely odd*. @ZonerZoner can you post a runnable sample reproducing that problem? It should absolutely not be running in-process if you remove that attribute, it should run in out-of-process mode instead.

Can you clarify what (if any) remaining action we have here? I'd like to get to the bottom of the hostingModel attribute issue you mentioned above, but it sounds like the main iss

[2020-01-24 19:41] udlose commented on #14455
any update on this problem?

[2020-01-24 19:43] BainsDev opened #18565 "Closed"
Closed.

[2020-01-24 19:47] jkotalik commented on #18230
So by removing the attribute from the web.config, you are actually running in out-of-process mode, rather than in-process.

Regarding:
[code]

Do you happen to see any managed logs from ANCM when enabling stdoutLogging? See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.1#configuration-with-webconfig

[2020-01-24 19:57] kickertw commented on #18419
What is BackPortedChunkingCookieManager?

[2020-01-24 20:00] #17293 closed

[2020-01-24 20:00] MOHTOP100 opened #18566 "https://github.com/dotnet/aspnetcore"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2020-01-24 20:00] #18566 closed

[2020-01-24 20:01] sayedihashimi commented on #8110
@rodrmoya or @iantoalms any ideas regarding this bug?

[2020-01-24 20:02] MOHTOP100 commented on #18566
[sourcegraph-codecov-master.zip](https://github.com/dotnet/aspnetcore/files/4110435/sourcegraph-codecov-master.zip)

[2020-01-24 20:23] JohanOtto opened #18567 "Identity.UI is asking the user to register after Microsoft Authentication the second time and fails"
### MS Authentication Integration issue with MS Identity
![Bug](https://user-images.githubusercontent.com/2878264/73100717-1d9fb100-3ebc-11ea-9524-c1bf97f3d47c.jpg)

Hi I'm using Microsoft authentication as an external login mechanism. A number of users are getting this issue. They log in using the Microsoft button which kicks off the auth process with MS and then it comes back to the attached pag

[2020-01-24 20:28] onarres commented on #18419
@kickertw There are fixes in the ChunkingCookieManager that were applied to the Core 3.1 branch to fix the problem with not sending the secure flag in the cookie deletion that are scheduled (last I checked) to be ported into Core 2.1's branch in March as referenced in https://github.com/dotnet/aspnetcore/pull/17953 I took the the ChunkingCookieManager from the 3.1 branch and added it into my proje

[2020-01-24 20:35] Tratcher commented on #14455
We've had few reports and are not currently investigating this. If you can provide additional details that would help us prioritize it.

Using Wireshark to capture the TCP traffic for HttpSys and Kestrel would be a good place to start. Then we can see how efficiently they're flushing to the network.

[2020-01-24 20:38] pranavkm commented on #17602
@mrunks you should only need this if you're using IIS with Windows Auth and do not have allow anonymous. IIS will interecept these requests before it gets to ASP.NET Core. Consequently the CORS headers need to be set via the module.

What's the error you see?

[2020-01-24 20:38] #16757 closed

[2020-01-24 20:38] #15088 closed

[2020-01-24 20:41] NTaylorMullen commented on #14294
Some investigations playing around with VSCode LiveShare:
- VSCode Insiders -> VSCode completion doesn't work. Throws workspace null on guest
- VSCode -> VSCode Insiders. Throws workspace null on guest but otherwise works
- VSOnline -> VSCode Insiders provisional completion doesn't work. Throws workspace null on guest
- VSOnline -> VSCode provisional completion doesn't work. Throws workspace null

[2020-01-24 20:44] jkotalik commented on #17804
I think we would accept a community PR to consolidate both #11208 and this issue for 5.0

[2020-01-24 20:45] pranavkm commented on #18304
@MCFHTAGENTS you should be able to specify a custom model binder using `ModelBinderAttribute` as documented here: https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-3.1#custom-model-binder-sample. This includes code snippets on configuring model binders globally which may help for your timezone conversion scenario.

This sounds like a very specific scena

[2020-01-24 20:49] jkotalik commented on #17393
This was done! Thanks @newbienewbie

[2020-01-24 20:49] #17393 closed

[2020-01-24 20:50] ajcvickers commented on #18407
@blowdart Could be a bug.
@huang-tianwen Please attach a small, runnable project that reproduces this behavior so that we can investigate.

[2020-01-24 20:53] jkotalik commented on #16886
Going to close due to inactivity.

[2020-01-24 20:53] #16886 closed

[2020-01-24 20:55] damieng commented on #18528
While we do have a .NET SDK it's really for management/scripting.

The recommended approach for integrating Auth0 with ASP.NET applications is to use the built-in ASP.NET stuff.  If it's not working in ASP.NET Core 3.x we'll have to dig in.

[2020-01-24 20:59] jkotalik commented on #16873
@HaoK / @anurse how is this looking now?

[2020-01-24 21:00] #18260 closed

[2020-01-24 21:01] Tratcher commented on #17804
Should we just close this and consolidate it with #11208? I don't think the could be done separately.

[2020-01-24 21:02] jkotalik commented on #16811
I'd imagine changing the SelectProtocol method to check Environment.OSVersion would be the right direction. https://github.com/dotnet/aspnetcore/blob/master/src/Servers/Kestrel/Core/src/Internal/HttpConnection.cs#L205

[2020-01-24 21:03] jkotalik commented on #16667
This was done.

[2020-01-24 21:03] #16667 closed

[2020-01-24 21:05] jkotalik commented on #15351
I believe https://github.com/aspnet/AspNetCore.Docs/pull/15697 documented this issue. Closing.

[2020-01-24 21:05] #15351 closed

[2020-01-24 21:10] anurse commented on #16873
Let's close and re-evaluate with Helix in place.

[2020-01-24 21:10] #16873 closed

[2020-01-24 21:15] pranavkm commented on #8110
The 3.1.0 SDK had a resurgence of the bug as a result of https://github.com/dotnet/aspnetcore/issues/17308 which should be fixed with the 3.1.102 SDK. https://github.com/dotnet/aspnetcore/issues/14432 should cover @ericstj's suggestion. For 3.1.100 \ 3.1.101 SDK, having the dotnet SDK with the required instance of runtime in the PATH would be the workaround.

[2020-01-24 21:15] Tratcher commented on #16811
There's no need to re-compute this per connection. We have an earlier check for H2 on Mac that fails on startup. In fact, we already have a Windows OS version check there too.
https://github.com/dotnet/aspnetcore/blob/9501874f3a3f2b81d8fe43d2da210948decf0ba1/src/Servers/Kestrel/Core/src/Middleware/HttpsConnectionMiddleware.cs#L47-L57
We could update this to check for Http1AndHttp2, log, and downgr

[2020-01-24 21:16] jkotalik commented on #15038
Dup of https://github.com/dotnet/aspnetcore/issues/11208

[2020-01-24 21:16] #15038 closed

[2020-01-24 21:17] jkotalik commented on #11208
From @anurse

[code]

[2020-01-24 21:19] jkotalik commented on #16811
Is it just me, or is it odd to have this check in HttpsConnectionMiddleware? It's odd to me that we are checking protocols there.

[2020-01-24 21:20] jkotalik commented on #16811
Is the windows check incorrect then?

[2020-01-24 21:20] jkotalik commented on #17804
Sounds good.

[2020-01-24 21:22] jkotalik commented on #15006
@davidfowl do you think these kinds of bedrock issues should be transferred to https://github.com/davidfowl/BedrockFramework?

[2020-01-24 21:26] #17613 closed

[2020-01-24 21:34] jhudsoncedaron commented on #16811
@jkotalik : It is incorrect. Environment.OSVersion was deliberately broken by the Windows OS developers.

[2020-01-24 21:41] BrennanConroy opened #18569 "Consider changing or adding to the MessagePackProtocol options"
In MessagePack-CSharp v2 there is a `MessagePackSerializerOptions` class that can be passed to the serializer. Currently we expose a list of `IFormatterResolver`s for the user to configure, but there are other options like compression and `IMessagePackFormatter` that we don't expose.

Options: https://github.com/neuecc/MessagePack-CSharp/blob/8eeb7b8ab71ff7d70f8b2013589423eadbba90b7/src/MessagePac

[2020-01-24 21:42] Tratcher commented on #16811
No, it makes sense. In that case the server is configured for only Http2 and this check was making sure your platform supported ALPN which is required for H2 over TLS.

On Win8/2012R2 we have ALPN but not the ciphers we need. The proposal now is to add an additional check for Win8/2012R2 and Http1AndHttp2 that gracefully disables Http2. This allows the default configuration to work.

If you only s

[2020-01-24 21:44] BrennanConroy commented on #18074
This is done via https://github.com/dotnet/aspnetcore/pull/18133

[2020-01-24 21:44] #18074 closed

[2020-01-24 21:56] jhudsoncedaron commented on #16811
@Tratcher : You just haven't had this get hit from a custom hosting process yet, where net core itself is being hosted by a plugin to a third-party exe. No, I don't do that either, but some people write shell plugins in net core. You get arbitrarily bad compatibility manifests that way.

[2020-01-24 22:20] Pilchie commented on #18536
Tagging @ericstj for the corefx binaries.  Are you looking at assembly versions or file versions?

[2020-01-24 22:22] Pilchie commented on #17973
@jkotalik - any idea?

Note - you can't run the linux-x64 binaries on IIS, because IIS is windows specific.  If you want to run on Linux, you'd need to use Kestrel.

[2020-01-24 23:01] RomBrz commented on #18482
@Tratcher i asked the developers here to give me example of libraries or components that are asking for more permissions than the "default" Read only.

[2020-01-24 23:16] JulienM28 opened #18571 "Blazor input in valid state by default"
I have an issue doing material design input likes this:

https://codepen.io/chrisoncode/pen/IdGKH

I have an input in a blazor comonent and the state of the input is always valid even if empty

[2020-01-24 23:18] toralux commented on #17655
Any news on this one? Should I stay at Dotnet Core 2.2 or do I have to delete my unit-tests?

[2020-01-24 23:23] dalipcse91 opened #18572 "Data protection of cookies in dotnet core with web farm environment not proper"
Hi Team,
I have logged a bug on stack overflow. Can someone look into this.
[Data Protection Issues](https://stackoverflow.com/questions/59903903/data-protection-key-ring-with-s3-not-working-properly-in-dot-net-core)

[2020-01-24 23:39] blowdart commented on #18572
This looks like the key ring isn't being updated or synchronized. As we don't own PersistKeysToAwsS3() we can't really offer any help, starting with the author of that is your best approach.

[2020-01-24 23:41] blowdart commented on #17366
https://github.com/dotnet/aspnetcore/pull/18203

[2020-01-25 00:02] pranavkm commented on #18333
@knoxi, I don't think there's a baked in way to do this. However, you might be able to author an `IApiDescriptionProvider` that mutates the results of the default one:

[code]

`GetDeclaredReturnType` would look something like this: https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.ApiExplorer/src/ApiResponseTypeProvider.cs#L213-L242

@Simon-Gregory-LG while that's true, the pattern we

[2020-01-25 01:22] yshahin commented on #17723
I am unable to repro this, but for some reason the same issue we see on the proxy happened for a 404 request. It might be another issue. I am still trying to figure out how to repro.

[2020-01-25 04:51] HaoK commented on #16910
Resolved by https://github.com/dotnet/aspnetcore/pull/17109

[2020-01-25 04:51] #16910 closed

[2020-01-25 04:53] HaoK commented on #18348
Sure @Kahbazi this seems like a good one for up for grabs

[2020-01-25 06:01] davidfowl commented on #15006
Yes we can close this.

[2020-01-25 06:01] #15006 closed

[2020-01-25 07:00] AminEsmaeily commented on #18481
Dear @shirhatti, to answer your hypothesis and check all of the steps, I start the hosting process from scratch. To test the whole process, I use a VM with **Windows 10 Enterprise Build 14393 RS1** and the **IIS version 10.0.14393.0**. My target ASP.Net core project is based on **.Net Core 3.1** that comes with multiple **.Net Standard 2.1** class libraries. The _web.config_ file is as follows:
[c

[2020-01-25 07:27] MCFHTAGENTS commented on #18304
Thank you for this - that looks a great set of additions to the docs. I can see how the polymorphic example addresses much of my scenario.

Would be great to see examples for:

and

as I couldn't get these to work by 'just applying the attribute', even if I created a binderprovider at the head of the queue...

Thanks
Mark

[2020-01-25 07:42] kirk-marple commented on #18528
I'm not an expert on this, but I believe their passwordless flow bypasses the step 0.  We are looking for an invite-only method to onboard users.  So, from our admin portal, we create a new user using /passwordless/start, which puts a user into Auth0, and then waits for them to attempt to log back in via the 'magic link' in their email.  That links up their SSO user to the passwordless user, and w

[2020-01-25 08:31] StanislavChankov opened #18575 "SignalR DefaultHubLifetimeManager does not populate _connections field"
### Describe the bug
We have a RabbitMQ receiver, which handler is sending messages to the clients through `IHubContext<THub>`. The messages aren't sent at all. Even when `EnableDetailedErrors = true;` no errors are shown.
Debugging the DefaultLifetimeManager and checking _connections field in both scenarios.
In the working scenario `_connections` field is populated with the expected connections.

[2020-01-25 09:25] johnnyreilly opened #18576 "SignalR and Windows Authentication / Kerberos in AWS"
**Is your feature request related to a problem? Please describe.**

Hey all,

Amazing work on SignalR! I'm dropping you a line as I've recently encountered a **hard problem**.

Hand on heart, I don't know how to solve it. I'm no expert on Auth but I have a feeling that I'm not the first to encounter this. I don't know for sure if I'm even asking good questions, but I thought I'd try. If I'm wastin

[2020-01-25 09:32] bn7bc-gmail commented on #9020
Not that familiar with IIS tbh, but can iis work as a reverse proxy, if it can just host in kestrel as usual and make IIS proxy the requests. Not ideal I know but at least a workaround until stuff gets fixed

[2020-01-25 09:40] martinsubash commented on #18480
Yes you are correct. After upgraded [Unity.Microsoft.DependencyInjection 5.11.5](https://www.nuget.org/packages/Unity.Microsoft.DependencyInjection/5.11.5)   and [Unity.Configuration 5.11.1](https://www.nuget.org/packages/Unity.Configuration/5.11.1) its working.

Thank you for the support @Tratcher and @pranavkm.

[2020-01-25 09:40] #18480 closed

[2020-01-25 10:12] davidfowl commented on #18575
Can you provide a running sample of the application? I'm assuming it's a single server and a single client being tested?

[2020-01-25 10:14] martinsubash opened #18577 ".Net Core 3.1 - Unit Test failed in GitLab Runner(Linux) works in local windows - mongo2go directory notfound"
# Issue Title

After migrate to .Net core 3.1 the **NUnit** test with **mongo2go** run in local(Windows machine) but failed in gitlab runner(Linux).

# General

The below are the error from the gitlabci pipeline:

[code]
**The below are the used DLL Versions**

    <PackageReference Include="Microsoft.AspNetCore.Mvc.Testing" Version="3.1.0" />
    <PackageReference Include="Microsoft.NET.Test.Sdk"

[2020-01-25 11:26] Marcin-Perz commented on #17730
I would dive deep into blazor (without any return) if there would be support for multithreading for client side. Make it happen!

[2020-01-25 11:26] iokill commented on #18536
I'm looking at assembly versions.

[2020-01-25 11:42] pzbyszynski opened #18578 "IOException - .net core 2.2 app fails to start on Azure App Service"
Hi,

after migrating my app from web api classic to web api core 2.2 my app fails to start on Azure App Service (locally it works just fine)

The exception message:
`An error occurred while writing to logger(s). (The handle is invalid) The handle is invalid`

Failed method:
`System.ConsolePal+WindowsConsoleStream.Write`

Stack Trace:
[code]

Also, in Azure application event logs I can see followin

[2020-01-25 12:10] #18571 closed

[2020-01-25 12:33] cyberhck commented on #18550
https://docs.microsoft.com/en-us/aspnet/identity/overview/features-api/account-confirmation-and-password-recovery-with-aspnet-identity

Currently my password reset link which is sent to email, contains 2 info, one is the user id and another is the reset token,

could we have encoded user id on the token directly? is that not included by design?

[2020-01-25 15:24] Tratcher commented on #18528
That's not going to work here, the user needs to visit your site before they're sent to Auth0.

[2020-01-25 15:27] #18503 closed

[2020-01-25 16:16] blowdart commented on #18576
Windows authentication / kerberos authentication is meant for intranet environments, not for the cloud. I don't believe you'd be able to get a kerberos ticket unless your AWS site had access to your domain controller. @stevesyfuhs can tell me how horribly wrong I am though :)

[2020-01-25 16:25] huang-tianwen commented on #18407
[IdentityTest.zip](https://github.com/dotnet/aspnetcore/files/4112227/IdentityTest.zip)
@ajcvickers just run the UnitTest. If the in UserStore.cs file we change the AutoCommitChanges to true, the error will disappear.

[2020-01-25 16:32] johnnyreilly commented on #18576
Thanks for responding @blowdart.

My understanding is that this may be the case. (I'm *so* not an expert in this domain it's untrue 😄) I say that as we're able to access our on premise network resources such as databases / APIs. Up until now we've been able to tackle these with username / passwords / tokens. It's the first time we've been faced with attempting to authenticate via a service account

[2020-01-25 16:32] SteveSyfuhs commented on #18576
Barry is not wrong. The calling party, your AWS site, needs a user-like cred and line of sight to a domain controller to request a ticket. Once it has a ticket it can just send it to SignalR and everything works as normal. However if I'm reading this right your AWS cluster _has_ line of sight so it's just a matter of using a kerb client to get the ticket. The kerb.net KerberosClient can certainly

[2020-01-25 17:01] johnnyreilly commented on #18576
Hey @SteveSyfuhs - thanks so much for responding!  I really appreciate it. That's two amazing people responding on one GitHub issue; wow!

Exactly right!  I've written some code like your example:

[code]

I'm successfully requesting a ticket when I run locally on Windows.  I can test it in k8s on Monday.  (With a little help from a marvellous friend who knows more about the networking side that I

[2020-01-25 17:18] anurse opened #18581 "Make Helix work item names more parsable and clearly identified as aspnetcore"
In looking through the data in Kusto I noticed that it’s requires a few (otherwise unnecessary) joins to get the full list of Helix WorkItems for our repo (since the repo is associated with the Job not the WorkItem). If we prefix them with “aspnetcore/“ then we can just query for all WorkItems with that prefix.

Also, we currently separate the project name from the TFM by a hyphen ‘-‘ but some pro

[2020-01-25 17:21] anurse opened #18582 "Make it trivial to launch a Helix run of any test project"
I’d like it to be easy for any dev to launch any test project in Helix and be able to see their data in Helix (and any other dashboards we create).

I managed to figure out how to do it with some environment variable hacks but I think we can do a little better :). Mostly it’s just `dotnet msbuild -t:Helix` but it seems to want AzDO variables like `BUILD_SOURCEBRANCH` and I’d like to see if we can

[2020-01-25 17:22] anurse commented on #18582
cc @HaoK

[2020-01-25 19:53] HaoK commented on #18582
Yeah this used to just work, but something changed

[2020-01-25 19:55] blowdart commented on #18576
There's no support in Core for making a kerb credential like this. That would be a questions for the .net core repo, rather than asp.net, but right now the only plans for kerb are extending it out to get groups and things.

[2020-01-25 20:00] johnnyreilly commented on #18576
Oh no! Does this mean I can authenticate but then can't actually use that when I work with SignalR?

[2020-01-25 20:18] blowdart commented on #18576
That'd be the place. And yea, it looks like you can't do what you want.

Have you considered using ADFS in your domain, and the OIDC service to service? You'd get a JWT that way, and better still you can host way more things in whatever cloud you wish and have auth to your corporate domain. Although obviously you should use Azure as it pays my salary ;)

[2020-01-25 21:19] SteveSyfuhs commented on #18576
Assuming you can convert it to a higher stack protocol, that might make things easier. That's obviously a non-trivial solution though.

As Barry says you can't load in a ticket per-se. You would need to manage the

Authorization: negotiate <ticket>

header on your own, but that's not rocket science. What you will need to do is call the EncodeGssApi() method to get a nego ticket (easier to use APIs

[2020-01-26 00:10] CarlosBustos1 commented on #13121
Hello, I have the same warning when I add:   ` services.AddControllers().AddXmlSerializerFormatters();`
1) The client is sending Accept:'application/json'
2) The methods are decorated with  [Produces("application/json")]

The response is OK but it appears it is trying to serialize with xmlFormatter
Dependencies:
Net core 3.1
Microsoft.AspNetCore.Mvc.NewtonsoftJson 3.1.1

If I add  ` services.AddCo

[2020-01-26 01:00] #18333 closed

[2020-01-26 01:34] knyzorg opened #18583 "Migrating custom routing to endpoints"
Since the removal of IRouter-related features, how can I reproduce the behaviour described here: https://github.com/aspnet/Routing/issues/823 ?

I am currently trying to figure out how to do it with `IOutboundParameterTransformer` but the fundamental limitation seems to be that it does 1-to-1 matches, while I need multiple action names to match the same action.

Fundamentally, I am looking for two

[2020-01-26 02:00] #17090 closed

[2020-01-26 05:20] BrennanConroy opened #18585 "Resolve breaking change with SSL exception"
We updated runtime dependencies which resulted in a couple SSL tests failing due to an unexpected exception type being thrown. This is occurring on Fedora, Debian, and Ubuntu 18 test runs only.

The temporary change to make the tests pass is https://github.com/dotnet/aspnetcore/commit/c180668c3565a60492a50f669bfbcef355af02ca.

We should figure out what changed, why, and how we want to resolve it.

[2020-01-26 06:33] johnnyreilly commented on #18576
@blowdart I'll talk to our DevOps team and see what they say. We use Azure AD already so maybe that's possible?

[2020-01-26 06:59] johnnyreilly commented on #18576
@SteveSyfuhs

This sounds like something worth exploring! I'm imagining that possibly the approach detailed [here](https://github.com/aspnet/SignalR/issues/769#issuecomment-334889576) could be adopted and tweaked to this end perhaps?

[code]

Are you aware of any example code out there that does this:

By the way, I write a [tech blog](https://blog.johnnyreilly.com/); if we can work out a way to d

[2020-01-26 07:44] dehghani-mehdi opened #18586 "Identity redirection doesn't respect route configuration"
### Describe the bug
Using `Authorize` attribute redirect anonymous users to `/Account/Login?ReturnUrl=blah`. this redirect doesn't respect following configuration:

[code]

### To Reproduce
1. `dotnet new web -n test`
2. Add following to `Startup.cs`
[code]
3. Also this guys:
[code]
4. Add `HomeController` to the project with following content _and you need to add empty `Index.cshtml` to_
[code]

[2020-01-26 08:17] NRKirby opened #18587 "Replace calls to buffer.First.Span with buffer.FirstSpan"
### Is your feature request related to a problem? Please describe.

This isn't a problem. I see there are statements in the source code where `.First.Span` is called on a `ReadOnlySequence`, such as [here](https://github.com/dotnet/aspnetcore/blob/116799fa709ff003781368b578e4efe2fa32e937/src/Servers/Kestrel/Core/src/Internal/Http/HttpParser.cs#L43).

### Describe the solution you'd like

Would you

[2020-01-26 09:49] flatproject commented on #14547
I have fixed the

 by uninstalling the Azure web app AI site extension as suggested here.

I have also fixed the

by installing `"<PackageReference Include="Microsoft.AspNetCore.AzureAppServices.HostingStartup" Version="3.1.0" />"`

Also applied the advice from https://github.com/dotnet/aspnetcore/issues/15381#issuecomment-566777363 but not sure if it helped.

Now the only issue i get is

which i

[2020-01-26 11:00] Kahbazi commented on #18586
Possible duplicate of https://github.com/dotnet/aspnetcore/issues/4640

[2020-01-26 11:26] denmaklucky opened #18588 "Blazor component not work in ASP.NET Core MVC when I return it a few times"
I have a project ASP.NET Core MVC. This project contains two controllers: Home and Movie. In HomeController I have action which return View like:

[code]
And in MovieController I have some action which return View like this:

[code]

When I return View from HomeController It's ok. Blazor component work, but when I return View from MovieController Blazor component isn't work.

In browser I found th

[2020-01-26 14:21] Mrpankaj666 commented on #18554
Thanks @javiercn

[2020-01-26 14:32] blowdart commented on #18576
@johnnyreilly If you're on Azure AD anyway .. there is [service to service](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-client-creds-grant-flow) auth, but you'd need to have line of site to the Azure AD too. Which may well mean hosting in azure itself, although I'm not 100% on that.

[2020-01-26 15:02] johnnyreilly commented on #18576
Thanks @blowdart - hopefully that's not the case as we're hosting in AWS (sorry!) But if not that could be another possibility to investigate 🤗

[2020-01-26 15:38] BenHayat opened #18589 "WASM 3.2 & Azure B2C integration"
There was a time where I was using Vue as the Frontend, WebAPI as backend and Google's Firestore and it's authentication system & DB.

Google had offered one of the best implementation and integration of **Client JS via it's SDK**. The SDK offered a simple yet powerful methods to authenticate a user and work with backend API. The whole cycle was very smooth to program as they provided lots of func

[2020-01-26 20:00] #17429 closed

[2020-01-26 20:00] #16969 closed

[2020-01-27 01:42] SteveTeece opened #18591 "Static Files not found when hosting Blazor server app on Linux"
### Describe the bug
After publishing a Blazor server app, static files and resources (e.g., site.css or favicon.ico) are not found on the web server.  Browser returns Not Found error for static files.  SignalR connection is running, and site is being served, but no CSS styling, and no other static files (images) are found.

Manual copy of contents of wwwroot folder in project to the folder on the

[2020-01-27 02:05] mkArtakMSFT commented on #18577
Thanks for contacting us.
It's not clear how this is related to the ASP.NET Core framework.
If this is a behavior change you're observing after upgrading your application from an earlier version of ASP.NET Core (2.2 or below) then you most probably are impacted by one or more of the breaking changes introduced in 3.0. To make sure you migrate your application properly, consider following the migra

[2020-01-27 02:05] #18577 closed

[2020-01-27 02:21] QueenCitySmitty commented on #17861
Has anyone taken this issue?  If not, I'd be willing to take it with some guidance.

[2020-01-27 02:51] ManfredLange commented on #12890
In the hope it might help others avoid some major changes, I've spent a few days on creating a NuGet package that aims at providing a replacement for the extension method `UseWebpackDevMiddleware()`. To avoid ambiguity the replacement extension method is called `UseWebpackDevelopmentServer()`

The NuGet package is named `Rimutec.AspNetCore.SpaServices.Extensions` available at https://www.nuget.org

[2020-01-27 03:56] #18565 closed

[2020-01-27 04:42] Tratcher commented on #17861
@QueenCitySmitty not yet, feel free. That said, it might be complicated, I'm not sure why @jkotalik marked this as a good first issue?

[2020-01-27 05:23] jkotalik commented on #17861
Maybe I'm misunderstanding, but I thought this issue was fairly straight forward. The exception is thrown here: https://github.com/dotnet/aspnetcore/blob/bd7c89aa201c4bf80da2f02f920f1bbbd7109e06/src/Servers/Kestrel/Core/src/Internal/Http2/Http2Connection.cs#L1081
Wouldn't the change mostly be throwing a Http2StreamErrorException instead and then setting a statusCode by calling _frameWriter.WriteHe

[2020-01-27 06:24] MelbourneDeveloper opened #18592 "Working C# Blazor Wasm Sample"
### Is your feature request related to a problem? Please describe.
No

### Describe the solution you'd like
A C# Blazor Wasm sample

### Additional context
All the templates for creating a Blazor Wasm app seem to have been removed. All the tutorials that exist point to content that has been removed. For example, one blog post recommended running this

But, the result is:

Surely there's a sample s

[2020-01-27 07:06] ThomasArdal opened #18593 "Logging startup errors through Microsoft.Extensions.Logging"
I'm wondering why errors during initialization/startup aren't logged to Microsoft.Extensions.Logging in my set up. To test this scenario, I'm configuring logging in my `Program.cs` file (ASP.NET Core 3.1 app):

[code]

The `MyLoggerProvider` class looks like this:

[code]

Not exactly the best implementation of a provider, but I just want to set a breakpoint in the `CreateLogger` method to prove m

[2020-01-27 07:20] xshiiiidev opened #18594 "Microsoft.AspNetCore.HttpsPolicy.HttpsRedirectionMiddleware[3] Failed to determine the https port for redirect."
### Describe the bug
I am getting this error on my production server after accessing the website for the first time after deploying this error will show

I am not getting this error on my kestrel web server on development.

BTW my production server is
NginX
Ubuntu18.04

Visual Studio Version: 2019 16.4.3
Dotnet Info on production server:

To reproduced:
Create new MVC ASP.NET Core 3.1 Project
Use

[2020-01-27 07:57] marcusturewicz commented on #18592
Probably a silly questions, but have you got the Blazor templates installed?

[code]

https://docs.microsoft.com/en-au/aspnet/core/blazor/get-started?view=aspnetcore-3.1&tabs=visual-studio

I have to do this every time I install a new .NET Core SDK - previously installed templates get wiped.

[2020-01-27 08:01] MelbourneDeveloper commented on #18592
@marcusturewicz I think you've steered me in the right direction. I believe that I probably don't, but the reason for that is probably that I need to have the preview version of .NET Core installed. So, Blazor Wasm is still only preview?

[2020-01-27 08:03] marcusturewicz commented on #18592
I don't believe you need a preview SDK installed, it should work with 3.1.101 for instance. Yes, Blazor Wasm still preview until May 2020 I believe.

[2020-01-27 08:03] MelbourneDeveloper commented on #18592
@marcusturewicz this is all I see.

![image](https://user-images.githubusercontent.com/16697547/73158369-b8f08a80-4137-11ea-8986-38911d69ab8f.png)

[2020-01-27 08:05] MelbourneDeveloper commented on #18592
@marcusturewicz I tried running the command you posted but it doesn't seem to do anything. Where do I get the template from?

[2020-01-27 08:18] enviel opened #18595 "ASP.NET Core 3.1 SignalR Authentication and Authorization 401 (Unauthorized)"
Trying to use JWT with SignalR following the [docs ](https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-3.1)and [GitHub sample](https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/signalr/authn-and-authz/sample) but can't seem to manage to make it work and always ended with 401 (Unauthorized)

### To Reproduce

[code]
[code]
[code]
[code]
[code]

from

[2020-01-27 08:25] tmds commented on #15271
@anurse I wonder how this will work .NET Core that is completely build from source. What will provide the quic implementation? Will "msquic" be open-sourced? Or something else?

cc @crummel @dagood

[2020-01-27 08:26] tmds commented on #15271
cc @omajid

[2020-01-27 08:35] Armarr commented on #15271
@tmds If the final impementation ends up being anything like the prototype it'll use native interop. https://github.com/dotnet/aspnetcore/tree/master/src/Servers/Kestrel/Transport.MsQuic

[2020-01-27 08:54] scalablecory commented on #15271
@tmds still figuring out the details. The work being done should still be considered a prototype; msquic is just what we're using now but that may change.

[2020-01-27 09:07] dragosrachieruroweb opened #18596 "Add converter options for Java client"
### Is your feature request related to a problem? Please describe.
My application is using moshi, and i want to integrate SignalR, but i have to use Gson too now that i use SignalR(also rxjava).

### Describe the solution you'd like

I want to be able to use a converter like retrofit does, providing an interface for serialize/deserialize and implement it with gson/moshi or anything i want.
GsonCon

[2020-01-27 09:38] ejstan commented on #18557
I'm still unable to generate a new two-factor code when using this

[2020-01-27 10:03] tmds commented on #15271
If possible, try to support a provider which is already available in popular distros. That makes it easier because .NET Core packages can use that as a dependency. And these packages may meet some required security qualification.

@anurse could you add an open child item to this issue for supporting an open-source quic provider?

[2020-01-27 10:30] jagbarcelo commented on #18564
In IIS, Application Pools -> Advanced settings, we have changed the option **Load User Profile** to True, restarted IIS, with same results.

There are no exceptions thrown at the server.

Regarding a sample project/solution, I've been trying to do it but I'm now stuck in a place where an exception is thrown when creating the Canvas. The very first line of the method CreateCanvas, at `Canvas myCanv

[2020-01-27 10:34] abdul-wasey opened #18607 "MaxLength and StringLengh attribute is adding maxlength html attribute to the input field."
# Model Validations Behavior

Be as descriptive as you can with your title.

# General

I am using .net core 3.1 version and try to validate my model data , I am new with net core, so i am confused about the behavior of Model Validation Behavior.
Confusion is that Error Message for Required Attributes are working fine but not showing of Attribute MaxLenght Error Message at the Client Side.

And it

[2020-01-27 10:51] wouterroos opened #18598 "MSB3539 warning when setting a custom value for MSBuildProjectExtensionsPath in Directory.Build.props"
### Describe the bug
Modifying the `MSBuildProjectExtensionsPath` property using a Directory.Build.props file  for any project that imports the `Microsoft.NET.Sdk.Web` Sdk triggers the following warning:

[code]

### To Reproduce
- Create a new aspnetcore project
- Modify the `MSBuildProjectExtensionsPath` property by creating a Directory.Build.props file
- Build the project.

### Further technica

[2020-01-27 10:53] wouterroos commented on #18598
Also responded to [this issue](https://github.com/microsoft/msbuild/issues/3244) on the MSBuild repo since I'm not sure if this is an aspnetcore or MSBuild issue. Other project types (class libs, test projects etc.) do not trigger the warning.

[2020-01-27 11:19] Kiril1512 commented on #18558
Hello. @anurse we are using a angular component that uses signalR to comunicate with our micro service, so there is not incompatibility.

After I tried to reproduce this to upload a repro for you, I notice that I don't add the hub as a singleton but in my service I do.

[code]

So when I remove the singleton from my microservice the issue is no more. So I believe that that was the problem. You can

[2020-01-27 12:44] AndreiKhotko commented on #17973
@Pilchie that's obvious. When the project is published on linux, I use `linux-x64` identifier, and when on windows IIS - then `win-x64`.

[2020-01-27 12:46] Grandizer commented on #12890
Thank you @ManfredLange for your effort!  I started looking into this as it sounds promising.  However, I would say I never write SPA applications.  We typically use Razor pages and each page could be considered its own tiny SPA.  With that said, we have a `ClientApp` folder which then has the .vue files and store files and other JavaScript files structured logically.  Can your setup be altered to

[2020-01-27 13:16] jspuij commented on #7962
@mkArtakMSFT So the workaround is to compile your own version of Blazor? You cannot be serious about that. It is mindboggling that microsoft forces DI upon everyone through the asp.net core framework, yet do not use the same DI container for Component creation with the argument that the framework needs to be in control of component creation. Yet we DO get parameter injection, which makes even less

[2020-01-27 13:42] Tratcher commented on #17861
If we throw in OnHeader it breaks HPack and the connection must be closed. Instead we would have to add an additional size check later when validating header content.

Maybe here, though it looks like all the exceptions currently thrown on that code path are also connection exceptions. Not sure what would happen if a bad request or steam exception was thrown there.
https://github.com/dotnet/aspnet

[2020-01-27 13:44] glararan commented on #12044
@mkArtakMSFT can you provide please guide how to remove field from validation? Like from MVC via `ModelState.Remove(".....")`. I am using same class for database where I require those attributes to be required. I fill them after post. Or is there way to do action before validation? (I guess somehow via EditContext?)

[2020-01-27 13:45] rysep2 commented on #17442
I get the same error when I try to access the `AuthenticationStateProvider` from _any_ service class.

[2020-01-27 14:21] theggelund opened #18600 "Activity.Baggage is url encoded when using HttpClient but not url decoded when read by AspNetCore host"
### Describe the bug
When calling an AspNetCore service with HttpClient and activity has any baggage, all the entries are url encoded and added to Correlation-Context http header. When the service receives the request and reads the Correlation-Context header the keys and values are not url decoded.

Also, according to this description only the value should be value should be url encoded.
[Correlat

[2020-01-27 16:01] Frozenthia commented on #12890
@johnrom SpaServices and NodeServices provided far more than that. A cursory sweep across this page would indicate what people were doing with the APIs.

Secondly, it is **not** the stated or implied goal to be a simulation of a microservice-like environment. The proxying work is done in the configuration and startup of the backend server. It's also where you would configure any other IPC or stati

[2020-01-27 16:09] tester346 commented on #18087
Working fine upload by other User:

	2020-01-22 14:35:13.003 +01:00 [INF] User: 'A'
	 http localhost:5004/File/AddAttachment/1/attachment
	 ?_=1579699970169
	 ------WebKitFormBoundarywlRNAu9AuOB6xBUD
	Content-Disposition: form-data; name="file"; filename="some.docx"
	Content-Type: application/vnd.openxmlformats-officedocument.wordprocessingml.document

Broken, sent by this (above mentioned) one pa

[2020-01-27 16:09] tester346 commented on #18087
@Tratcher

Working fine upload by other User:

	2020-01-22 14:35:13.003 +01:00 [INF] User: 'A'
	 http localhost:5004/File/AddAttachment/1/attachment
	 ?_=1579699970169
	 ------WebKitFormBoundarywlRNAu9AuOB6xBUD
	Content-Disposition: form-data; name="file"; filename="some.docx"
	Content-Type: application/vnd.openxmlformats-officedocument.wordprocessingml.document

Broken, sent by this (above mentio

[2020-01-27 16:15] johnrom commented on #12890
@Frozenthia what I was saying is that NodeServices would be the equivalent of starting up and managing ElasticSearch, for example, within the context of the .net application, which would be a definite anti-pattern. ElasticSearch should be run independently as its own service and almost certainly on its own server, which is the point I'm trying to drive home. SignalR, WebRTC, Swagger, and Named Pip

[2020-01-27 16:22] Tratcher commented on #18087
Your request logging middleware didn't run on the second one?

[2020-01-27 16:43] #18502 closed

[2020-01-27 16:43] franks1 commented on #18502
I have reverted to Asp.net core 2.2

[2020-01-27 16:51] mkArtakMSFT commented on #18598
Thanks for contacting us, @wouterroos.
This looks like unrelated to the ASP.NET Core framework.

@vijayrkn do you think this can be potentially caused by `Microsoft.NET.Sdk.Web` SDK?

[2020-01-27 17:11] mkArtakMSFT commented on #18592
Thanks for contacting us.
Please share the following information so that we can help you out:
- The result of `dotnet new -u`
- The result of `dotnet --version`
- The version of the Visual Studio you've installed.

[2020-01-27 17:15] paviad opened #18602 "Application Razor pages not authenticated when using Angular template with Individual Accounts"
# Summary

When using the dotnet Angular template with individual account authorization, application Razor pages are not authenticated by default, and setting a default authentication scheme doesn't have any effect.

# Minimal Reproduction

## Setup

[code]

As an alternative to the `echo` commands above, create these files:

### Pages/Test.cshtml
[code]

### Pages/Test.cshtml.cs
[code]

## Execut

[2020-01-27 17:16] mkArtakMSFT commented on #18591
Thanks for contacting us, @SteveTeece .
Are you sure this is not a misconfigured NGINX server? Blazor does nothing special for the static files to work.
@sebastienros do you have any pointers to how to properly configure an app to work with NGINX?

[2020-01-27 17:20] mkArtakMSFT commented on #18589
Thanks for contacting us.
We plan to provide an auth-enable template with Azure B2C integration as part of https://github.com/dotnet/aspnetcore/issues/17014

[2020-01-27 17:20] #18589 closed

[2020-01-27 17:23] Pilchie commented on #14062
Cleared milestone for re-triage.

[2020-01-27 17:24] vijayrkn commented on #18598
This very well could be from websdk but will have to take a look at the code in websdk to confirm.

[2020-01-27 17:24] mkArtakMSFT commented on #18588
Thanks for contacting us.
It looks like you're missing the `<base>` url in the Layout file: https://docs.microsoft.com/en-us/dotnet/architecture/blazor-for-web-forms-developers/pages-routing-layouts#base-urls
That should help.

[2020-01-27 17:28] mkArtakMSFT commented on #18562
Thanks for contacting us, @JulienM28.
Are you trying to obsolete the whole components? Then there should be no difference between applying the attribute using `@attribute` or in the partial class.

@NTaylorMullen can you please look into this?

[2020-01-27 17:39] mkArtakMSFT commented on #18602
Thanks for contacting us, @paviad.
@HaoK can you please look into this?
Feel free to sync up with @javiercn if there are any question.

[2020-01-27 17:40] mkArtakMSFT commented on #18583
Thanks for contacting us, @knyzorg.
@javiercn can you please look into this? Thanks

[2020-01-27 17:41] #18554 closed

[2020-01-27 17:41] mkArtakMSFT commented on #14062
Ping @NTaylorMullen

[2020-01-27 17:45] mkArtakMSFT commented on #18556
@DapperMickie here what's going on:
- On every refresh a new circuit is being created by Blazor
- Note: Blazor holds on to existing circuits (max 3 minutes) in case the client reconnects later.
- Blazor holds on to up to 100 circuits max
- Because of this, Garbage Collection doesn't clean up the existing circuits and with every refresh your app's memory grows slightly.
- Eventually, due to some re

[2020-01-27 17:46] Pilchie commented on #15118
Clearing milestone for re-triage

[2020-01-27 17:46] Pilchie commented on #14805
Clearing milestone for re-triage

[2020-01-27 17:47] Pilchie commented on #13483
Clearing milestone for re-triage

[2020-01-27 17:47] mkArtakMSFT commented on #18556
One thing which is interesting is what's your cluster/container configuration? How much available memory does it have when you start your test?

[2020-01-27 17:50] ajcvickers commented on #18407
@HaoK @blowdart EF seems to be working correctly here. It appears that UserManager requires the user to be saved before a claim is added. Is this by-design?

[code]

[2020-01-27 17:55] wfurt commented on #18585
Do you have more details @BrennanConroy? Do you know if the systems listed  have OpenSSL 1.1.1? (depends on patch level)

[2020-01-27 17:59] HaoK commented on #18407
When autosavechanges is false, yeah that's expected

[2020-01-27 18:06] #13483 closed

[2020-01-27 18:07] pranavkm commented on #17155
Resolved as part of https://github.com/dotnet/aspnetcore/pull/17563

[2020-01-27 18:07] #17155 closed

[2020-01-27 18:39] tmeschede opened #18652 "System.Text.Json: The collection type 'Microsoft.AspNetCore.Http.IQueryCollection' on 'Microsoft.AspNetCore.Http.HttpRequest.Query' is not supported"
Writing some middle ware where I am capturing the request and response of customers interaction with our web site.  I am trying to log the request object as JSON, but I am getting the error message below:

The collection type 'Microsoft.AspNetCore.Http.IQueryCollection' on 'Microsoft.AspNetCore.Http.HttpRequest.Query' is not supported.
[code]
Below is the I am using:
[code]
Just curious if there i

[2020-01-27 18:49] anurse opened #18603 "Unpin Microsoft.Bcl.AsyncInterfaces dependency"
We have [one pinned dependency on dotnet/corefx](https://github.com/dotnet/aspnetcore/blob/2cc333ac3013218a3985ecd0809b0c541cbe1f91/eng/Version.Details.xml#L405). It means our dependency flow widget has a big red box we can't get rid of :(

![image](https://user-images.githubusercontent.com/7574/73203739-7f496080-40f2-11ea-8637-bbd25aa40c23.png)

The dependency is `Microsoft.Bcl.AsyncInterfaces` (

[2020-01-27 18:51] BenHayat commented on #18589
Thanks for good news.

[2020-01-27 18:55] Herdo commented on #5466
I'm not sure if this is related, but on the Syncfusion repository there was a performance issue reported a while ago (https://github.com/syncfusion/blazor-samples/issues/50), said to be caused due to the slow performance of mono.

In my analysis, the performance issue drills down to calling `js_to_wasm`:
![grafik](https://user-images.githubusercontent.com/651191/73204174-ccebba80-413e-11ea-979c-cd

[2020-01-27 19:17] danroth27 opened #18604 "Standalone Blazor template missing default launch profile content"
Previously we didn't have a *launchSettings.json* file in the standalone Blazor WebAssembly template. When VS detects that a web app is missing this file it adds a default one with basic content that sets up the IIS Express launch profile, the Development environment variable, etc. Now that we have a minimalistic *launchSettings.json* file in the standalone Blazor template, VS doesn't generate a d

[2020-01-27 19:22] legistek commented on #5466
@Herdo it might be related to this: https://github.com/dotnet/aspnetcore/issues/5617

Check your web console log to see if it's GCing excessively. This seems to be baked into the WASM Mono runtime and needs to be configurable IMO.

[2020-01-27 19:26] Herdo commented on #5617
@legistek Coming from #5466 and this:
![grafik](https://user-images.githubusercontent.com/651191/73206468-42f22080-4143-11ea-8b0b-c7d98274d258.png)

This is the only GC log I see in the console:
![grafik](https://user-images.githubusercontent.com/651191/73206427-31a91400-4143-11ea-9f11-44dfaa94f1f2.png)

[2020-01-27 19:29] legistek commented on #5617
Hm your issue might not be related then. But overall, Blazor's biggest performance bottleneck definitely seems to be in building very complex DOMs. One would assume AOT would help with that significantly. That said, because the WASM designers inexplicably chose not to give WASM direct access to the DOM, it's always going to require JS interop, which is always going to be an issue.

[2020-01-27 20:17] eaembree commented on #18482
Not sure if this is exactly the issue the OP has but we have this issue with ASP.NET Core sites using Entity Framework Core. This occurred exactly when switching from 2.x to 3.x. I suspect somehow as a result of EF's switch to Microsoft.Data.SqlClient.

In 3.x when I publish the app I now have a 'runtimes' folder when I add EF to a project. If the traverse/execute permission is not granted the app

[2020-01-27 20:21] Frozenthia commented on #12890
@johnrom I think this is mostly a philosophical discussion but I would argue that implementations of `IHostedService` are also within the context of the .NET application. The start and end of those services are tied to the lifecycle of the application, and frequently would resolve a service depending on the host's configuration. I don't think anyone would argue that it breaks SoC or microservice a

[2020-01-27 20:24] anurse commented on #15271
That should go in dotnet/runtime. We'll be building a native HTTP/3 stack on top of some kind of QUIC implementation in dotnet/runtime. The MsQuic interop layer we built was just to enable our work on HTTP/3. It also went on to be the very first prototype version of System.Net.Quic, but it's part of dotnet/runtime now and so not directly in-scope here.

For ASP.NET Core it'll definitely be possibl

[2020-01-27 20:37] BrennanConroy commented on #18585
I have no idea. I just happened to be around when the change came through and "fixed" it and filed the issue. Please follow up with one of the folks I mentioned above.

[2020-01-27 20:41] benaadams opened #18605 "Use System.Runtime.ProfileOptimization for faster startup"
Default host should use ProfileOptimization ([docs](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.profileoptimization?view=netcore-3.1)) for faster startup on after first run.

e.g. it should run something like as follows as early as possible during startup:
[code]

[2020-01-27 20:44] blowdart commented on #18594
Do you have the site configured with an HTTPS certificate? Can you share your program.cs?

[2020-01-27 21:34] ryanbrandenburg commented on #14322
Just FYI @SimantoR, I sent #1545 which should solve this problem going forward. Thanks again for the detailed report!

[2020-01-27 22:04] sharpjs commented on #18387
I might have hit this as well, but I haven't exhausted all the possibilities yet.

[2020-01-27 22:05] NTaylorMullen commented on #14805
Ya i looked into this a bit and it's super not obvious as to how this could happen. It'll definitely have to take a lot of experimental digging to even begin to find out why. Not saying impossible, just more time than I'm willing to spend right now given this test has a pretty high success rate

[2020-01-27 22:12] Tratcher commented on #18594
NginX is terminating your TLS in a separate process and forwarding to Kestrel without TLS, correct? In that case the https redirect middleware can't detect at startup which port your nginx TLS is listening on. Locally when you run Kestrel directly it has its own TLS and the middleware can detect the port.

See https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.1&

[2020-01-27 22:12] anurse commented on #18481
@AminEsmaeily the root cause of the problem sounds like what @shirhatti said. The 500.19 error occurs because you installed the hosting bundle before IIS. The testing you did later seems to indicate expected behavior. The `LAUNCHER_PATH` and `LAUNCHER_ARGS` is not what fixed the problem, it was installing the 3.1.0 Hosting Bundle. You indicated your app targets 3.1.0 which means that until you ins

[2020-01-27 22:13] #18481 closed

[2020-01-27 22:13] anurse commented on #18587
Yes! Certainly! Go right ahead :).

[2020-01-27 22:14] dougbu commented on #7886
@sebastienros has anything happened w/ this issue while we weren't looking❔

[2020-01-27 22:14] RomBrz commented on #18482
@eaembree look at this issue: https://github.com/dotnet/SqlClient/issues/385
Without the Traverse permission the app tries to find files at "system32\inetsrv\..."
With the Traverse permission the app uses the default directory as expected.

@Tratcher the SNI it's a perfect example: With Asp.NET Core 3.x if i use the "default behavior" to put Traverse on main folder + Execute on "runtimes\win-x64\n

[2020-01-27 22:15] dougbu commented on #14895
@wtgodbe anything new for this issue?

[2020-01-27 22:15] anurse commented on #18564
@safern Does System.Drawing behave differently in Windows Server 2019? I seem to remember there are issues with using the Server OS SKU with System.Drawing

[2020-01-27 22:15] Tratcher commented on #18578
@jkotalik a possible issue with the in-proc console output?

[2020-01-27 22:17] pranavkm commented on #17308
Verified this made it in correctly in to 3.1.2.

[2020-01-27 22:18] anurse commented on #18585
@wfurt It does seem to be OS-specific behavior because it only failed on Fedora, Debian and Ubuntu 18 runs in Helix.

@BrennanConroy can you include the Helix Queue names that failed (the full names).

[2020-01-27 22:21] anurse commented on #18578
@pzbyszynski 2.2 is [end-of-life](https://devblogs.microsoft.com/dotnet/net-core-2-2-will-reach-end-of-life-on-december-23-2019/) and no longer supported. Does the issue reproduce on 3.0 or 3.1 (the releases which are still [in support]()https://dotnet.microsoft.com/platform/support/policy/dotnet-core)

[2020-01-27 22:26] pranavkm commented on #18323
Verified that this works in 3.1.2 build 014865

[2020-01-27 22:27] anurse commented on #18482
@RomBrz I'm trying to figure out what action you're looking for from ASP.NET Core here. These seems like a runtime issues (native library loading) or at best issues with the SQL Client. Can you provide a runnable sample that reproduces the permission problems you're seeing in ASP.NET Core so we can get the full context here?

[2020-01-27 22:29] anurse commented on #18593
The problem is that logging is configured in DI, so if the DI container fails to build, there's no logger to log with. This used to work a little better in 2.x but it was because we had two parallel DI containers which caused a whole bunch of (worse) problems.

[2020-01-27 22:30] anurse commented on #18600
Seems like a legit bug.

[2020-01-27 22:35] Tratcher commented on #18560
How is Windows Auth configured on the IIS site?

Is the user correctly identified? (E.g. Name?)

[2020-01-27 22:37] sebastienros commented on #18591
Can you access the static files when you point directly to the web app, not through nginx?
Can you enable http request console logging to be sure the server is actually receiving the request?

[2020-01-27 22:40] anurse commented on #18595
@enviel can you provide a runnable sample that reproduces the problem? Or at least a network trace using a tool like [Fiddler](https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1#collect-a-network-trace-with-fiddler-preferred-option)?

[2020-01-27 22:43] SteveTeece commented on #18591
@mkArtakMSFT  - I have followed the setup/config documents at https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-3.1 to the letter when setting up the Nginx config.  I have also duplicated the "failure" with an "out of the box" Blazor server template provided by visual studio - just compile, then publish (either via FTP or File Deployment).

@sebastienros - I

[2020-01-27 22:43] anurse commented on #18558
This is the problem. SignalR expects the Hub to be created separately for each message. You need to add it as a Transient service if you want your Hub to be in DI. We should consider adding some check to prevent this though.

You generally shouldn't resolve the Hub out of DI. If you need to share code between your Hub and some other component, I'd suggest using either `IHubContext` or putting the

[2020-01-27 22:44] anurse commented on #18575
As @davidfowl said, we need a runnable sample (including your RabbitMQ receiver) so that we can get the full context on what could be going on here.

[2020-01-27 22:47] Kiril1512 commented on #18558
Yes, I can't reproduce the behavior after removing the hub as a singleton. Thank you for your help. Closing this issue.

[2020-01-27 22:47] #18558 closed

[2020-01-27 22:52] sebastienros commented on #18591
The NGinx server, maybe not the Kestrel one, which is why enabling logging would tell us more.

[2020-01-27 22:52] wfurt commented on #18585
If dotnet/runtime#914 is the root cause for this OS-specific behavior would be expected. We would now properly send/receive TLS alerts. The general expectation is that if peer sends alert we would throw AuthenticationException. If peer closes the connection or if there is an incomplete frame we would throw IOException.
But older OpenSSL versions did not send alerts in all cases where new versions

[2020-01-27 23:02] pranavkm commented on #17155
Verified this works in 3.1.2

[2020-01-27 23:16] ajaybhargavb commented on #18495
@danroth27 verified this and filed https://github.com/dotnet/aspnetcore/issues/18604 when I was out. Thanks @danroth27.

[2020-01-27 23:16] #18495 closed

[2020-01-27 23:17] RomBrz commented on #18482
@anurse the action i'm looking for is to ASP.NET Core should not ask any permissions than "Read" to work. This works with ASP.NET Core 2.x, but with 3.x things are different.
Just to be clear, i work with infrastructure, i'm not a dev. Part of my work is publishing and mantain apps made by the dev team, and since they start using ASP.NET Core 3.x i'm having permission problems with projects that w

[2020-01-27 23:23] SteveTeece commented on #18591
@sebastienros - Attached is the Nginx error log from yesterday (27Jan20). I hope this is the log you requested.

[access.log.zip](https://github.com/dotnet/aspnetcore/files/4119851/access.log.zip)

[2020-01-27 23:27] Tratcher commented on #18482
@RomBrz ASP.NET Core and .NET Core are made up of a lot of different components, plus whatever additional dependencies your app is pulling in. We're just trying to track down which components are asking for the additional permissions. The sni execution and fonts path are good leads. Let us know if you find any more concrete examples.

[2020-01-27 23:27] #18402 closed

[2020-01-27 23:59] BrennanConroy commented on #18585
Helix Queues
* `(Fedora.28.Amd64.Open)Ubuntu.1604.Amd64.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:fedora-28-helix-09ca40b-20190508143249`
* `(Debian.9.Arm64.Open)Ubuntu.1804.Armarch.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:debian-9-helix-arm64v8-a12566d-20190807161036`
* `(Debian.9.Arm64.Open)Ubuntu.1804.Armarch.Open@mcr.microsoft.com/dotnet-buildtools/prereqs:debian-9-helix-arm64v8

[2020-01-28 00:01] #18603 closed

[2020-01-28 00:04] korggy commented on #9713
If this is by-design then the documentation at [URL Rewrite Module Configuration Reference](https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/url-rewrite-module-configuration-reference#accessing-url-parts-from-a-rewrite-rule) should be updated. Currently that page indicates that the URL will be decomposed as `http(s)://<host>:<port>/<path>?<querystring>` with the `<host>` portion

[2020-01-28 00:16] NTaylorMullen commented on #14062
@ygoe that's because you're not setting the Model's `IsConfigured` value back to `true` in your post method.

[2020-01-28 00:24] xshiiiidev commented on #18594
This is it

`public class Program
    {
        public static void Main(string[] args)
        {
            CreateHostBuilder(args).Build().Run();
        }

        public static IHostBuilder CreateHostBuilder(string[] args) =>
            Host.CreateDefaultBuilder(args)
                .ConfigureWebHostDefaults(webBuilder =>
                {
                    webBuilder.UseStartup<Startup>()

[2020-01-28 00:26] pranavkm commented on #18607
MVC will render a [`maxlength` HTML attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input#htmlattrdefmaxlength) for input types that support it (see the linked documentation). Unfortunately there isn't a very good way to turn the behavior off.

[2020-01-28 00:49] Pilchie commented on #11959
Hi @aammfe sorry this fell through the cracks.  Is it still an issue for you?

[2020-01-28 00:51] AndyAyersMS commented on #18605
Should look into whether this eagerly jits at Tier1. If so, you might win at startup but miss out on some optimizations, and so end up with lower steady state perf.

[2020-01-28 00:52] Pilchie commented on #12403
@bahmansh Sorry this fell through the cracks.  Is this still an issue for you?

[2020-01-28 00:53] Pilchie commented on #12621
Sorry this fell through the cracks.  Is this still an issue?

[2020-01-28 00:55] Pilchie commented on #13760
Closing as this should be covered by the docs above.

[2020-01-28 00:55] #13760 closed

[2020-01-28 00:58] Pilchie commented on #14092
Sorry this fell through the cracks - is this still an issue?

[2020-01-28 01:04] Pilchie commented on #16951
Found this issue I never replied to.

@nguerrera Do you know what the latest plans are on localizing XML Doc comments.

[2020-01-28 01:06] Pilchie commented on #16996
@vijayrkn Does your team own the launchSettings.json stuff?

[2020-01-28 01:06] Pilchie commented on #17046
@vijayrkn How should we report this?

[2020-01-28 01:08] Pilchie commented on #17057
I think we're going to look at arm64 support for the ASP.NET Core runtime in the .NET 5 timeframe.

[2020-01-28 01:09] Pilchie commented on #17503
Yes, sorry.  Transferred now.

[2020-01-28 01:10] Pilchie commented on #17510
Is this still an issue for you?

[2020-01-28 01:12] Pilchie commented on #17583
Tagging @vijayrkn again.

[2020-01-28 01:12] Pilchie commented on #17634
Actually tagging @vijayrkn - where should this go?

[2020-01-28 01:13] Pilchie commented on #17647
@HaoK any thoughts here?

[2020-01-28 01:17] Pilchie commented on #18435
Closing as we can't seem to reproduce this issue locally.

[2020-01-28 01:17] #18435 closed

[2020-01-28 01:21] Pilchie commented on #18437
@Lobosque Can you share your .csproj file?  Is it possible that you aren't using the "Microsoft.Net.Web.Sdk" ?

[2020-01-28 01:22] Pilchie commented on #18536
Transferring to the `dotnet/runtime` repo since these assemblies come from there.

[2020-01-28 01:44] sferencik opened #18610 "The BadRequestObjectResult doesn't respect the context's trace ID"
Following the upgrade of ASP.NET Core from 2.2 to 3.1, the HTTP 400 response (as caused by a model validation error) no longer reflects the `HttpContext.TraceIdentifier` value.

I have an integration test that makes a POST request to my endpoint, producing a model validation error, and verifies the endpoint returns a 400. The test also checks that the _body_ of the 400 response contains `"traceId"

[2020-01-28 01:57] ajaybhargavb commented on #17013
The PR is now merged. We now have tests running on Android and macOS safari. iOS testing is currently blocked because of SauceLabs subscription issue.
@mkArtakMSFT given the infrastructure is now merged, should we close this issue and file a new one to track the iOS real device testing work?

[2020-01-28 02:12] BrennanConroy opened #18611 "Reenable ComponentsAnalyzer"
The ComponentsAnalyzer is being skipped currently due to a bug where some apps can't run in the repo. This is tracking reenabling the analyzer once the SDK is updated.
https://github.com/dotnet/aspnetcore/blob/547350002a1e5d9d705602bbba0158a72996bad9/Directory.Build.props#L34-L35

[2020-01-28 02:23] vijayrkn commented on #16996
Yes.

[2020-01-28 02:24] vijayrkn commented on #17046
The best place to report this is websdk. WebSdk has the logic that builds up this path.

[2020-01-28 02:29] vijayrkn commented on #17583
There is already a developer community ticket tracking this - https://developercommunity.visualstudio.com/content/problem/880185/visual-studio-wont-allow-changing-the-targetframew.html

You can track the progress of this here.

[2020-01-28 02:37] vijayrkn commented on #17634
The templates for Azure WebJobs is on the VS side but the content is owned by [@fabiocav](https://github.com/fabiocav)/[@paulbatum](https://github.com/paulbatum). Where should this issue be routed? Are there plans to update the full framework WebJobs templates or is Azure Functions the recommended mechanism for this task?

[2020-01-28 03:30] sferencik commented on #18610
OK, I was wrong in my previous analysis (above) when I said that ASP.NET Core 3.1 doesn't set the trace ID. It _does_ but the ID from {{Activity.Current?.Id}} takes precedence, and hence it ends up as `"|38aae7dd-4ebae92ac80ddb5c."`. (In ASP.NET Core 2.2 the ID from {{Activity.Current?.Id}} also takes precedence, but in my case there is no current activity.)

The "current activity" which wasn't th

[2020-01-28 03:30] #18610 closed

[2020-01-28 03:37] benaadams commented on #18605
Raised issue https://github.com/dotnet/runtime/issues/2273

[2020-01-28 03:55] BrennanConroy commented on #18287
Fixed via https://github.com/dotnet/aspnetcore/pull/18289

[2020-01-28 03:55] #18287 closed

[2020-01-28 05:23] danroth27 opened #18612 "The launchSettings.json in an ASP.NET Core hosted Blazor WebAssembly app isn't generated correctly"
The generated launchSettings.json file in a Blazor WebAssembly template isn't generated with the correct ports and profile name. It looks like there's some sort of template authoring issue that's preventing the appropriate template substitutions from taking place.

The ports are always 8080 and 5000, when they should be generated randomly by VS.

The name of the project profile is always "Company.

[2020-01-28 05:27] NTaylorMullen commented on #18562
Probably the first case I've seen of someone trying to obsolete any part of a component to be honest. It makes sense that it wouldn't be visible from an end-user editor perspective however because the code that's responsible for that component isn't visible to the user. @mkArtakMSFT this would be a feature request to raise the understanding of "Obsolete" into our TagHelper discovery and mark compo

[2020-01-28 06:58] ManfredLange commented on #12890
@Grandizer wrote:

Thank you, Kevin!

I haven't tried Razor pages. However, if you want to put your SPA files in a folder other than `wwwroot`, that shouldn't be a problem. Just make sure you change the appropriate lines in the project file itself (e.g. set SpaRoot to the folder you want) and also adapt accordingly the two methods in class `Startup`.

In case you run into issues, perhaps you could

[2020-01-28 07:06] xshiiiidev commented on #18594
@Tratcher

As per this document

https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.1&tabs=visual-studio

![image](https://user-images.githubusercontent.com/19402130/73242279-87cb9500-41df-11ea-97d6-2793f12e9cd4.png)

I disabled my UseHttpsRedirection middleware

Because I already handled the https redirection in my nginx server.

The warning goes away now.

My o

[2020-01-28 07:06] MCFHTAGENTS opened #18613 "Best practice for localizing logging"
with the deprecation of IStringLocalizer.WithCulture method It would be lovely if, in addition to CultureInfo.CurrentUICulture and CultureInfo.CurrentCulture we could allow the localization framework to hold the concept of the culture of the user and the culture of the log.

I can see a situation where my host machine is running US english as it's system locale, my end user is running german per h

[2020-01-28 08:08] nihlaakram opened #18614 "Inconsistent behavior in ConnectionHandler"
### Describe the bug
Application [1] inherits the **ConnectionHandler** to implement a TCP listener endpoint. The application was tested using multiple client tools, and the behavior of the **IsCompleted** property of the ReadAsync() of the Transport Input[4] was inconsistent.

| Tool used for TCP request  | Result and findings |
| ------------- | ------------- |
| Hercules | Expected behavior. Ec

[2020-01-28 08:13] abdul-wasey commented on #18607
but how can I prevent this behavior ? I want to show validation message for maxlength to end user,
I think that it will be possible from javascript code ?

[2020-01-28 08:42] tester346 commented on #18087
@Tratcher

Yea, for some reason in this case it performs different flow or something?

Because in correct case there's no this log:

[2020-01-28 08:52] dasMulli commented on #12621
Similar issues are waiting for this to be solved via https://github.com/dotnet/core-setup/issues/7491

[2020-01-28 09:11] anotherdeveloper commented on #18070
@enetstudio
Trying to follow your instructions, I'm getting '_Pages__Host' does not contain a definition for 'UserAgent'. Any tips?

[2020-01-28 09:13] Blackleones commented on #12238
Are there any updates about this bug? Is it going to be fixed soon or we need to find a workaround?

[2020-01-28 09:22] olivierebaachi commented on #18507
Thanks for your help,
We put the timeout to idle worker shutdown to 60 minutes.
We decide to play first request for all the API when the server restart.
So that application calling will not face the 20 sec of the first request.
Regards

[2020-01-28 10:46] mads221h opened #18643 "http POST Request body is null after changing from 2.1.1 to 3.1"
Hello and thanks for the help in advance.

The problem i'm having is that in my API Controller i have a post method, where i receive some data from the body, and after changing to .net Core to 3.1 it gave me the error
`System.NullReferenceException: 'Object reference not set to an instance of an object.'`

And this is the post method:

[code]
This is the fetch method i made in my react view ;

[co

[2020-01-28 10:51] Ricardoaraujo00 opened #18616 "Load code section before rendering page"
Hi
I've been having a lot of trouble writing conditions to avoid errors on page rendering due to variable have been not yet instancialized. That's a pretty big annoying thing to do that would be simply solved if Blazor would read the code section first. That would save a lot of unecessary work doing validations like "if variable not null foreach...". Or at least, if he read the variables declarati

[2020-01-28 11:09] pzbyszynski commented on #18578
The problem does not occur on a new app service (I have set up new app service and deployed my app there)

[2020-01-28 11:29] JonnyMattsson opened #18617 "Signalr: Possibility to dynamically set the name of the hub"
We have a setup of multiple web applications(api, frontend) where each instance is dedicated to a customer. So we are running the same code in multiple web apps.
We are implementing signalr(azure signalr service) but due to the cost(some customer are really small) we would like to share signalr instance.
As far as I know it is not possible to create client specific hubs since the hubname is taken

[2020-01-28 11:45] Ricardoaraujo00 opened #18618 "Improved bindind functionality"
Hi,

I'm doing an applicaton in Blazor server side that has a clock, and some variables that receive their values from a gRPC call to the main application. I'm finding my self having to make "InvokeAsync(StateHasChanged);" every single time to every single thing, which is very unpleasant. Feels like this isn't automated enough or maybe i'ts me that may not be fully aware of the Blazor functionalit

[2020-01-28 11:55] M-Schiller opened #18619 "Windows Installers: Cannot resolve targets for wixproj files"
### Describe the bug
MSBuild can't resolve (default?) targets, e.g. `Build`, `ReBuild`, for \*.wixproj files using **no** local WiX toolset installation.
Looking at the Wix*.nupkg to be downloaded and the WiX property sheets, it should not be necessary to have a local installation of the WiX toolset prior to building. I think that references to WiX aren't resolved yet when the remaining projects a

[2020-01-28 12:13] Ricardoaraujo00 opened #18620 "Bug on the onclick event"
I have a blazor server side application(and gRPC server) that has a timer which is second by second updating a page variable with data(int variable) in a gRPC service variable, and makes an invoke state as changed afterwards.
I have a button that is used to increment on the int variable gRPC client, that will get back later after some processing with the number after the increment.
In the button t

[2020-01-28 12:17] talboren opened #18621 "Buggy extraction mechanism in the Single-file executable feature introduced in .NET Core 3.0"
### Describe the bug
My application is using NServiceBus as the implementation to the Service Bus pattern.

NServiceBus generates several SQL scripts for its persistence mechanism and then executes those script when starting up (to create the necessary tables), these scripts are generated by an MSBuild task at compile time.
The scripts are generated in to a folder called NServiceBus.Persistence.Sq

[2020-01-28 12:18] bahmansh commented on #12403
Yes, I get it yet.
I have upgraded my dot net core version to 3.1 but no thing changed.

[2020-01-28 12:27] sven5 commented on #18508
I've made some investigations and initially, when the website loads the correct culture is selected. I'm using Blazor with server prerendering. After the connection to Azure SignalR service has been established the culture changes to en-US.
It seems it has nothing to do with Azure AD B2C. It was a mistake from my side.

[2020-01-28 12:34] sven5 opened #18622 "Question: CORS client error in Blazor server-side with Azure AD B2C"
Hi,

We have a Blazor server-side app with Azure AD B2C. When the user is not logged in we see errors in browser's console window:

[code]

It's a similar issue as here: https://stackoverflow.com/questions/54562349/cors-problem-with-b2c-and-azure-app-service

I already enabled CORS as [described in the docs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-ui-custom

[2020-01-28 12:52] Ricardoaraujo00 commented on #18620
Only way i got this to work:
`@onclick="()=> IncrementNumber(item.Name)" `

Without that anonymous function had to make a method that would return a EventCallback, but this way i don't have to. If the method didn't had a signature i could do it like int the button counter in the default template.
The method, just for exemplification.
[code]

[2020-01-28 13:13] agchaudhury commented on #18472
In the newer version of DotNet Core the value of the HttpContext key got changed from "APIGatewayRequest" to "LambdaRequestObject" causing all the pain. And the code was using the value directly from a constant declared inside the project and was not using the constant "AbstractAspNetCoreFunction.LAMBDA_REQUEST_OBJECT" provided by the framework. Kindly close the issue.

[2020-01-28 13:22] roysurles commented on #18560
Anonymous Authentication = Disabled
Windows Authentication = Enabled
![image](https://user-images.githubusercontent.com/37274814/73266715-110da800-419d-11ea-8a3c-d2da537ca939.png)
![image](https://user-images.githubusercontent.com/37274814/73266971-a0b35680-419d-11ea-9d92-fe930567611c.png)
![image](https://user-images.githubusercontent.com/37274814/73267505-d1e05680-419e-11ea-97b7-ec9f576bc1d2.png

[2020-01-28 13:42] lhrbu opened #18623 "In services.AddMVC(); JsonSerializerOptions.PropertyNamingPolicy is set as JsonNamingPolicy.CamelCase without any hint"
As Title, it may be a pitfall when try to deserialize the Json stream manually.

[2020-01-28 14:37] clement-fifty commented on #5223
I second futureinfo that it happens on vuejs too, but for GET requests to index.html
This is really intermittent and can't be reproduced locally (or at least I couldn't).
Again, this is happening only in production, with users having no problem whatsoever.

[2020-01-28 16:04] eaembree commented on #18482
@anurse https://github.com/eaembree/SniDllFailure is a repo I put together a while back as a minimal example reproducing the sni.dll error. It has two branches reproducing it using EF and SqlConnection/SqlCommand. Hope this helps.

[2020-01-28 16:33] horato opened #18624 "HttpSys forces NTLM and locks domain accounts"
### Describe the bug
Whenever a request with basic auth is sent to HttpSys server, it always validates the user/password with local active directory. There is no way to turn this off (maybe except for using AuthenticationSchemes.None). My finding suggests this happens somewhere inside Microsoft.AspNetCore.Server.HttpSys.AsyncAcceptContext.IOCompleted method, probably in the call to the HttpSysList

[2020-01-28 16:43] Pilchie commented on #17583
Closing this in favor of the developer community item.

[2020-01-28 16:43] #17583 closed

[2020-01-28 16:45] Pilchie commented on #17046
This issue was moved to aspnet/websdk#1243

[2020-01-28 16:45] #17046 closed

[2020-01-28 16:45] Pilchie commented on #16996
@wli3 Can you file an AzDO bug for the tooling team for this?

[2020-01-28 16:45] #16996 closed

[2020-01-28 16:54] MintPlayer commented on #13433
It appears that after adding `@nguniversal/express-engine` you can modify your angular.json file:
**projects:ClientApp:architect:build:options:outputPath** is set to dist/browser after running the ng add command. Changing this back to **dist** makes the SSR work for both development and production ASPNETCORE_ENVIRONMENT.

[2020-01-28 16:56] #13433 closed

[2020-01-28 16:56] wjdavis5 opened #18631 "ReadAsAsync<T>() Throws Synchronous operations are disallowed."
### Describe the bug
The following code throws an exception
[code]
Whats perhaps even more interesting is this code doesnt throw the exception
[code]

### To Reproduce

[code]

Got Exceptions? Include both the message and the stack trace
[code]
### Further technical details
- ASP.NET Core version: 3.1.1.
- Include the output of `dotnet --info`
[code]
- The IDE (VS / VS Code/ VS4Mac) you're running

[2020-01-28 17:11] pranavkm commented on #18632
This was resolved as part of https://github.com/dotnet/extensions/pull/2342

[2020-01-28 17:11] #18632 closed

[2020-01-28 17:13] pranavkm commented on #18630
We've since migrated to using System.Text.Json for JSON parsing. If you still think this is a problem with the latest runtime, please file an issue in https://github.com/dotnet/runtime

[2020-01-28 17:13] #18630 closed

[2020-01-28 17:21] sharpjs commented on #18387
Pretty sure I've hit the same problem. It's either the bug as described or a deficiency in my understanding of `AspNetSynchronizationContext`.

I don't _think_ `AspNetSynchronizationContext` has any concept of a UI thread.  Nonetheless, a problem that at least *seems* like a "sync when you should be async" deadlock occurs.  See the pictures below.  In the first pic, the app is paused in a POST act

[2020-01-28 17:37] Pilchie commented on #12403
@dsplaisted @nguerrera How should conflict resolution work here?  Would you expect it to knock out the whole `PackageReference` including analyzers, or just the assembly reference?

@bahmansh you could probably work around this with a `<PackageReference Remove=` for the transitive references.

[2020-01-28 17:37] mkArtakMSFT commented on #18622
Thanks for contacting us.
@anurse is this some SignalR specific configuration missing here?

[2020-01-28 17:40] Pilchie commented on #12621
Closing this as a dupe of dotnet/core-setup#7491.

[2020-01-28 17:40] #12621 closed

[2020-01-28 17:45] mkArtakMSFT commented on #18620
Thanks for contacting us, @Ricardoaraujo00.
We're glad that you've found the error and fixed your code already.
Given that your example results in a compilation error, we don't think there is any other action for us to take here.
Event handlers take an event callback and Blazor knows how to convert a method group to an event callback. But when you add a parameter, you're now doing a method invocat

[2020-01-28 17:45] #18620 closed

[2020-01-28 17:46] mkArtakMSFT commented on #18618
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-01-28 17:49] #18588 closed

[2020-01-28 17:51] mkArtakMSFT commented on #18631
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-01-28 17:52] mkArtakMSFT commented on #18623
Thanks for contacting us.
What type of `hint` are you referring to? You can always set this explicitly the way you want.

[2020-01-28 17:58] mkArtakMSFT commented on #18625
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-01-28 18:00] mkArtakMSFT commented on #18626
Thanks for contacting us, @alimhabib.
This is not something we plan to make as part of the framework.
That said, this seems to be a great idea for a community project.

[2020-01-28 18:00] #18626 closed

[2020-01-28 18:05] mkArtakMSFT commented on #18628
Thanks for contacting us.
We will look into this during our next sprint planning meeting and decide whether and when we can handle this.

[2020-01-28 18:07] mkArtakMSFT commented on #18629
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2020-01-28 18:07] #18629 closed

[2020-01-28 18:12] anurse commented on #18622
Yep, looks like a CORS issue. The reference to `Access-Control-Allow-Origins` indicates a likely problem with the config.

@sven5 Can you provide a runnable sample app that reproduces the problem, or at least show your full CORS configuration? Also, can you capture a network trace using instructions in the [SignalR troubleshooting guide](http://aka.ms/aspnet/signalr/troubleshoot)?

[2020-01-28 18:14] mkArtakMSFT commented on #18607
Thanks for contacting us.
We will bring back the options during 5.0.
For now you can set the `maxlength` attribute in the input tag-helper to some larger number, which will override the current default (30 in your case).

[2020-01-28 18:19] anurse commented on #18482
This should be filed on https://github.com/dotnet/runtime . We don't control native image loading at all, so if this was changed, it was changed in the runtime.

For this, I think a repro app would be very helpful. For example, what API are you calling that produces this error? It does seem likely that some APIs would require Traverse permissions.

[2020-01-28 18:20] #18472 closed

[2020-01-28 18:21] anurse commented on #18507
This is a common pattern that people use to "prepare" the server and do all the first-request logic before any real requests are processed. Sounds like a good plan.

Closing this issue as there appears to be no further action required from the team.

[2020-01-28 18:21] #18507 closed

[2020-01-28 18:25] anurse commented on #9713
@korggy those are docs for the IIS Rewrite module, not ASP.NET Core, so our team doesn't
manage them. I suggest filing a bug on https://github.com/MicrosoftDocs/iis-docs for that team to look at.

[2020-01-28 18:25] #17779 closed

[2020-01-28 18:26] dsplaisted commented on #12403
@Pilchie Conflict resolution doesn't apply to analyzers.  It looks like this is happening because the MVC analyzers moved from the package to the SDK (so it is similar to the problem that conflict resolution solves).

However, I wasn't able to reproduce this with a simple MVC project with a reference to RotativaCore.  I would guess it has to do with the way some of the other packages in the graph

[2020-01-28 18:26] mkArtakMSFT commented on #15018
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2020-01-28 18:27] #15018 closed

[2020-01-28 18:28] mkArtakMSFT commented on #14691
Thanks for contacting us.
Do you have data proving that this will lead to a better performance?

[2020-01-28 18:29] mkArtakMSFT commented on #10366
Thanks for contacting us, @AlexTeixeira.
Do you have any design in mind to share some details about it?

[2020-01-28 18:30] mkArtakMSFT commented on #10256
Thanks for contacting us. We're closing this issue as there was no community involvement here for quite a while now.

[2020-01-28 18:30] #10256 closed

[2020-01-28 18:31] mkArtakMSFT commented on #9014
Closing as this is fixed now.

[2020-01-28 18:31] #9014 closed

[2020-01-28 19:00] #17138 closed

[2020-01-28 19:04] pranavkm commented on #18616
@Ricardoaraujo00, we think having the option to begin rendering before values are fully gathered is useful. It enables scenarios such as loading spinners. https://docs.microsoft.com/en-us/aspnet/core/blazor/lifecycle?view=aspnetcore-3.1#handle-incomplete-async-actions-at-render has an example of how this works. Instead of putting individual fields behind null-checks, you can use a single flag to i

[2020-01-28 19:04] StanislavChankov commented on #18575
The issue was related to the usage of the Dependency Injection Container and how `IHubContext<T>` instances are resolved.
By default ASP.NET Core is registering all of the `IHubContext<T>` as `Singleton` lifetime scope. That was the first thing that we didn't know.
The real problem was in this how `BuildServiceProvider` is called. Calling `BuildServiceProvider` to the `IServiceCollection` is creat

[2020-01-28 19:13] Coruscate5 commented on #3849
For all those still experiencing this issue - after a lot of research, I determined that "new" servers did not have any issues autostarting .NET Core apps per the docs.

Based on ProcMon and Net call traces, it looks like this is a problem with IIS - it gets confused when multiple custom modules are installed after original install.

So, the solution was (somewhat) simple - Reinstall IIS completel

[2020-01-28 19:22] davemk99 opened #18633 "Twitter Authentication can't get user email"
I am using Microsoft.AspNetCore.Authentication package 3.1.1 version with Twitter Provider Microsoft.AspNetCore.Authentication.Twitter package. When trying to get user information from the user, I can't get user email from the details provided, even if I specify TwitterOptions.RetrieveUserDetails. How can I get this information? I've enabled the "Request User Email" option from my Twitter applicat

[2020-01-28 19:38] arun1998 commented on #18505
Hi Andrew,

I have attached the program and start up files. I have highlighted the code which throws the error in red n the start up. Please let me know if you need more information. I really appreciate you taking the time to try and get to the bottom of this.

In the meantime, we are redirecting to https on the IIS server itself, though we would like to get this to work in code.

Thanks
[Startup.

[2020-01-28 19:38] americanslon commented on #18527
Bump

[2020-01-28 19:41] zvolkov opened #18634 "Response completion is inconsistent between NewtonsoftJsonOutputFormatter and SystemTextJsonOutputFormatter"
On asp.net core 3.0 or 3.1 (when hosted either on Kestrel or on IIS In-Process), when NewtonsoftJsonOutputFormatter is used with default settings (SuppressOutputFormatterBuffering=false) the response is completed (from browser's perspective) as soon as ObjectResult finished executing, allowing browser to get the response before any middleware's "after next" logic (e.g. persisting the session state

[2020-01-28 20:40] sven5 commented on #18622
@anurse
I will try to create a runnable sample app tomorrow.
Currently, I only created a CORS entry in my Azure App Service with allow-origins set to * . I haven't changed anything in `Startup.cs`.

[2020-01-28 20:54] ajaybhargavb commented on #18343
Looks like this can still be reproduced on macOS. Re-opening this but since this is low priority, moving this to backlog.

[2020-01-28 21:08] NTaylorMullen opened #18637 "Typing a void tag with only a directive attribute warns about inability to remap location"
- Create a new Blazor server application
- Open the Counter.razor file
- Type `<input @bind="currentCount">` and hit save
- Close the file
- Reopen the file, wait

You end up getting warnings:
![image](https://user-images.githubusercontent.com/2008729/73305612-4d59fc00-41cf-11ea-839c-7e840d22ce99.png)

[2020-01-28 21:09] NTaylorMullen commented on #18532
https://github.com/dotnet/aspnetcore/issues/18637

[2020-01-28 21:11] poke opened #18638 "OnParametersSetAsync with reused component"
This is somewhat a follow-up from #18382. To understand where I am, let’s assume a component, similar to a tab control, where you can switch the selection and the selected item is passed to a control that should display details:

[code]

In this setup, the details component gets heavily reused, so when I want to load additional data, I will have to do that within the `OnParametersSetAsync` since t

[2020-01-28 21:20] luckerby opened #18639 "Integration with On-Premises ADFS"
First, I do realize this has been [discussed in the past](https://github.com/dotnet/aspnetcore/issues/1920). Yet some time has passed and maybe now there's a solution. Someone mentioned finding a way to move forward, but [not a lot of details were provided](https://github.com/dotnet/aspnetcore/issues/11895).

I'm using .NET Core 3.0 with Microsoft.AspNetCore.Authentication.WSFederation 3.0.2 and u

[2020-01-28 21:23] NTaylorMullen opened #18640 "Opening folder with _Imports.razor already open on Mac repeatedly throws ArgumentOutOfRange exceptions when resolving CodeLens"
On Mac:
- Create a new Blazor server application
- Open _Imports.razor (ensure it's fully opened, not previewed)
- Close VSCode
- Re-open the original Blazor server application
- See infinite log spew

**Log:**
<summary>
<details>

[code]

</details>
</summary>

[2020-01-28 21:24] NTaylorMullen commented on #18532
https://github.com/dotnet/aspnetcore/issues/18640

[2020-01-28 21:29] luckerby commented on #18639
Noticed that the exception in my original post referred to an assembly unable to be loaded
 - `Microsoft.AspNetCore.DataProtection.Abstractions`. I've installed the NuGet package for this (used version 3.0.2) and tried again. This time the exception changed as follows:

[code]

[2020-01-28 21:38] jzabroski commented on #11050
How hard is it to add an interface for these conventions?  Can I do it?  I don't understand why this issue is just sitting here doing nothing.  It seems like a 15 minute thing?  I realize we all have lives and stuff, but the amount of time myself and friends have wasted trying to learn these conventions by reading docs vs. just having IntelliSense DO IT is a bit silly :P

[2020-01-28 21:49] ryanbrandenburg opened #18641 "HTML completions don't work on a Razor page"
REPRO:
1. Install latest vscode CS extension
1. dotnet new mvc
1. Open Index.cshtml and wait for Razor log to finish.
1. Type `<a` and wait for the completion suggestion, see that it's empty.
1. Type `<environment` and wait for the completion suggestion, see that it's got all sorts of text.
1. Create a new file `index.html` and type `<a` in it, see that the completion suggestion here is complete a

[2020-01-28 21:49] ryanbrandenburg commented on #18531
https://github.com/dotnet/aspnetcore/issues/18641

[2020-01-28 22:00] nrhoffmann opened #18642 "XML comment support for Razor component files"
I'm trying to add XML comments to the parameters in my Razor components, but they don't appear in to make it into the generated component class.

When I write comments on the parameters in component with a .razor extension and then use the component in another .razor file, I cannot see the comments when hovering over the properties.

If I write the comments in class style components (the ones with

[2020-01-28 22:01] pranavkm commented on #18527
@americanslon calling `DeleteAsync` will not throw if the request completed with a 500 response. Invoking `EnsureSuccessStatusCode()` on the response should throw an exception. Alternatively, you can inspect the response and choose to make a decision based on the status code:

[code]

[2020-01-28 22:11] jzabroski commented on #14907
https://github.com/dotnet/aspnetcore/issues/11050#issuecomment-579468803

[2020-01-28 22:13] jzabroski commented on #11050
How is this for an interface?  It would also allow Roslyn analyzers to be run that warn people not to call BuildServiceProvider, one of @davidfowl pet peeves.

[code]

[2020-01-28 22:19] ryanbrandenburg commented on #18637
Simpler repro:
1. Top of Index.cshtml, just below @page: `@inject Microsoft.AspNetCore.Mvc.Localization.HtmlLocalizer<Startup> localizer`
1. `@{ var x = localizer.GetString("str");}` hover over `localizer` and press F12.
1. Look at Output->Razor Log, see the Warnings.

[2020-01-28 22:19] ryanbrandenburg commented on #18531
Update to https://github.com/dotnet/aspnetcore/issues/18637

[2020-01-28 22:30] americanslon commented on #18527
@pranavkm Please the original question again......I didn't ask about anything throwing anything. I don't have a problem with not receiving proper status code.

The issue is that **there is no content coming from API when status code is 500**  (not in the body of the response, not in the reasonphrase) when there should be

[2020-01-28 22:42] ajaybhargavb opened #18644 "Hover info don't show on tag helper end tags"
Repro:
- Create a new mvc app
- Open Index.cshtml and type `<environment></environment>`
- Hover over `<environment>` and notice it shows some info
- Hover over `</environment>` and notice nothing shows up

This works on regular html tags.

[2020-01-28 22:42] ajaybhargavb commented on #18530
Filed https://github.com/dotnet/aspnetcore/issues/18644

[2020-01-28 22:54] ryanbrandenburg opened #18645 "Component attributes at end of file do not receive HTML completion suggestions"
1. Index.razor, at end of file type `<InputText `
1. Hit `Ctrl+SPACEBAR`.
1. See that the only completion options are for the component, none for HTML
1. Hit ENTER.
1. Go back to the unclosed component and hit `Ctrl+SPACEBAR`, see that you now get HTML completion suggestions.

[2020-01-28 23:03] #18532 closed

[2020-01-28 23:05] pranavkm opened #18646 "Run Blazor SauceLabs tests on iOS"
iOS testing is currently blocked because of SauceLabs subscription issue. Once that's available, we should run our tests on iOS + Safari.

[2020-01-28 23:07] pranavkm opened #18647 "Consider running more tests in SauceLabs"
The SauceLabs tests only runs tests for the StandaloneApp. We should expand it to run more tests so we get coverage for built-in components, JSInterop etc.

[2020-01-28 23:07] pranavkm commented on #17013
Filed some follow up issues:

* https://github.com/dotnet/aspnetcore/issues/18647
* https://github.com/dotnet/aspnetcore/issues/18646

[2020-01-28 23:07] #17013 closed

[2020-01-28 23:36] enetstudio commented on #18070
Your code may be missing  `public string UserAgent { get; set; }`

[2020-01-29 00:15] wli3 commented on #16996
I filed https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1058897

[2020-01-29 00:30] SteveTeece commented on #18591
I've located the error in a linux shell script that was refusing to copy the wwwroot folder from the app publish folder.

This is now working exactly as expected.  Thank you for your assistance and my apologies for an incorrect bug report.

[2020-01-29 00:30] #18591 closed

[2020-01-29 00:42] ajaybhargavb commented on #18343
This also explodes provideCodeActions request. Pulling this back in to the next release to try and find a mitigation for this. @ryanbrandenburg FYI.

[2020-01-29 00:51] ryanbrandenburg commented on #18531
Nothing blocking.

[2020-01-29 00:51] #18531 closed

[2020-01-29 00:52] ajaybhargavb commented on #18530
Comment https://github.com/dotnet/aspnetcore/issues/18343#issuecomment-579541439

[2020-01-29 00:52] #18530 closed

[2020-01-29 01:17] #14322 closed

[2020-01-29 01:23] Tratcher commented on #18643
What's the stacktrace for the NullReferenceException?

[2020-01-29 01:25] Tratcher commented on #18633
Twitter used to require contacting their support to enable this permission, has that changed?

[2020-01-29 01:28] Tratcher commented on #18624
This is the intended behavior. If you want to use your own implementation of basic auth then disable it in HttpSys.

[2020-01-29 01:40] pranavkm commented on #18643
There were significant changes to how JSON is deserialized in 3.x: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#newtonsoftjson-jsonnet-support.

[2020-01-29 02:09] lhrbu commented on #18623
eh, I mean why not just leave the explicitly confiure codes as below in dotnet new project template, so that one can get the point without least superise.
`services.AddMvc().AddJsonOptions(options =>
                options.JsonSerializerOptions.PropertyNamingPolicy =JsonNamingPolicy.CamelCase);`

[2020-01-29 02:28] CoderNate commented on #14691
Sure I can provide some data.  So ``fileSetFactory`` is an instance of ``MsBuildFileSetFactory`` so we can do a simple test to see how long the ``MsBuildFileSetFactory.CreateAsync`` call takes:
1. Create a blank .NET core console app
2. Add a reference to "C:\Program Files\dotnet\sdk\2.2.103\DotnetTools\dotnet-watch\2.2.0\tools\netcoreapp2.2\any\dotnet-watch.dll"
3. Implement Microsoft.Extensions.

[2020-01-29 02:52] gamov opened #18650 "Antiforgery should respect cookie policy and not throws an exception if there is a mismatch"
### Is your feature request related to a problem? Please describe.
We are deploying a aspnetcore application in a Kubernetes cluster where the traffic is decrypted at the load balancer (https). Requests therefore reach the application unencrypted (http). We still want all our cookies to be secure when they go out of the cluster but the [antiforgery system](https://github.com/dotnet/aspnetcore/blob

[2020-01-29 02:53] HaoK commented on #17647
I'm not sure I completely understand the scenario, but can you just implement a custom `IConfigurationProvider` using your `CustomVault`, this should prevent empty values as your vault would always have a chance to do lookup against the inhouse keyvault apis.

[2020-01-29 03:04] azydevelopment commented on #17962
Is there a workaround for this in the meantime? Also, maybe a stupid question: When it says 5.0.0-preview1, does that mean it would only be available in aspnetcore version >5?

If so, why not 4.0? As of right now, this seems like a blocker to ship any production code based on the React + Identity template.

[2020-01-29 03:27] dougbu commented on #16859
Are this and #16827 duplicates?

[2020-01-29 03:28] dougbu commented on #16827
Are this and #16859 duplicates?

[2020-01-29 03:29] dougbu commented on #16901
@anurse @HaoK is this still relevant -- despite plan to use Kusto to extract area information?

[2020-01-29 03:56] MelbourneDeveloper commented on #18592
@mkArtakMSFT

Dotnet Version: 3.1.100
Visual Studio:
Microsoft Visual Studio Professional 2019
Version 16.3.5
VisualStudio.16.Release/16.3.5+29411.108

Result of dotnet new -u

Template Instantiation Commands for .NET Core CLI

Currently installed items:
  Microsoft.DotNet.Common.ProjectTemplates.3.0
    Details:
      NuGetPackageId: Microsoft.DotNet.Common.ProjectTemplates.3.0
      Version: 2.0

[2020-01-29 05:18] JamesNK commented on #9020
Experimental support for gRPC-Web in .NET is now available. gRPC-Web works with HTTP/1.1 and HTTP/2, and it runs in IIS and Azure App Service.

We're continuing to work towards HTTP/2 gRPC running in Azure App Service, but gRPC-Web is something you can use **today**. When HTTP/2 gRPC runs in IIS and Azure App Service it is very easy to switch a .NET app from gRPC-Web to HTTP/2 gRPC.

Blog post: ht

[2020-01-29 05:19] agchaudhury opened #18651 "AWS Cognito signature mismatch issue after aspnetcore upgrade from 1.0 to 2.1"
After upgrading dotnet core framework from 1.0 to 2.1 the AWS Cognito calls are failing giving a Signature mismatch error. The same calls if connected with old framework (1.0) code is still working.

Like the following call:
[code]

is throwing the following error:

System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred. (The request signature we calculated does not m

[2020-01-29 06:00] ZonerZoner commented on #18230
I guess it's no longer necessary.

Yes, correct.

I just deployed an old version of the application in our test system and it looks like your argument is valid. I see a w3wp and dotnet process. I would have bet to only have seen the w3wp process before. I guess this issue is stale then.

No. I never saw any logs there as written in the initial post (stdout: blank file)

[2020-01-29 06:51] iAmBipinPaul commented on #17115
I see it's fixed now with release of version 3.2.0 Preview 1 (Blazor WebAssembly)

[2020-01-29 07:20] mrpmorris commented on #18629
@mkArtakMSFT I don't think the DotNet object in javascript supports synchronous invoke, does it?

[2020-01-29 07:46] JulienM28 commented on #18562
I want to obsolete the whole component of course.
But I tried both solutions because it didn't work.

[2020-01-29 08:06] sven5 commented on #18622
Ok guys. Sorry for confusion, it was a mistake of me.
I tried to secure the blazor hub SignalR connection with `endpoints.MapBlazorHub().RequireAuthorization();`
I didn't consider the non-authenticated state (welcome page) of my app. And that was the source of this errors.

Regards
Sven

[2020-01-29 08:06] #18622 closed

[2020-01-29 08:18] sebfischer83 opened #18653 "RazorClassLibrary that has dependent RazorClassLibrary creates not needed files in Nuget Package"
### Steps

#### Step 1
Create a Razor Class Library and create a nuget package

#### Step 2
Create another Razor Class Library that uses the first package.
Now the package looks like this:
![1](https://user-images.githubusercontent.com/660136/73338911-e47a8e80-4277-11ea-8de2-959d66e15983.PNG)

#### Step 3
Create another Razor Class Library that uses the secondpackage.
Now the package looks like th

[2020-01-29 08:26] campersau opened #18654 "Blazor wasm SignalR does not close the connection"
### Describe the bug
Closing or Disposing a SignalR connection in Blazor wasm does not close the actual websocket connection in the browser.

### To Reproduce
- Create a new Blazor wasm app
- Add SignalR client
- Create a HubConnection and start it
- Add button and code to stop the connection
- The network trace in the browser shows that the connection is still pending after clicking the close but

[2020-01-29 09:05] horato commented on #18624
This doesn't sound right to me. If my goal was to use domain usernames, I would use NTLM auth. What does basic authorization have to do with domain users? In our case, the password from basic auth doesn't match the password from AD. This leads to production accounts being locked out for 30 minutes and could be exploited by a 3rd party. Are you sure this is intended behavior?
If I use Authenticatio

[2020-01-29 09:16] paolofulgoni commented on #11082
@danroth27 is **Blazor Hybrid** tracked by any issue?
How can people show interest in it?

[2020-01-29 09:22] #18616 closed

[2020-01-29 10:09] tmds commented on #15271
Create https://github.com/dotnet/runtime/issues/2333 for open-source QUIC provider support.

[2020-01-29 10:16] timmywiff commented on #18140
Hi @HaoK

It looks like this hasn't been updated in the Microsoft.AspNetCore.Identity.UI NuGet package yet. The current package (3.1.1) is built from an older version.

Apologies if this is the wrong place to ask for this to be updated.

https://www.nuget.org/packages/Microsoft.AspNetCore.Identity.UI/3.1.1

[2020-01-29 10:23] mads221h commented on #18643
Thanks for the help @Tratcher  and @pranavkm. I couldn't find the example of it but its seems like it no longer deserialize a string of numbers as an interger. So i just used parseInt on the key that matched "Price".  in my handlesubmit function.

[2020-01-29 10:23] #18643 closed

[2020-01-29 11:25] Stamo-Gochev opened #18655 "pdb files are published in Blazor WASM template project with Release configuration"
### Describe the bug
`pdb` files are published for a blazor wasm project with version 3.2.0 preview 1 when deployed with Release configuration

### To Reproduce
1. Create a new blazor wasm project using the latest template either from VS or from the CLI:

2. Deploy the app to IIS using the following command
[code]
Suppose that the app is exposed from IIS on http://localhost/blazorwasm32

3. Open h

[2020-01-29 11:50] davemk99 commented on #18633
@Tratcher yes, they allow mentioning that.

[2020-01-29 12:05] javiercn commented on #18508
@sven5 this likely has to do with the culture that's being used when you connect through the SignalR service.

@anurse do we flow the current-culture somehow through the SignalR service? I imagine this is an issue that can happen/reproduce without Blazor being involved.

[2020-01-29 12:27] catlan opened #18656 "Blazor WebAssembly and CodePagesEncodingProvider"
### Describe the bug
It seems to me that _System.Text.Encoding.CodePages_ is not fully loaded by Blazor WebAssembly. I tried this simple code snipped on 3.2.0 Preview 1 and previous on 3.1.0-preview4.19579.2:
[code]
Which results in ``System.NotSupportedException: Encoding 1252 data could not be found. Make sure you have correct international codeset assembly installed and enabled.``.

### To Repr

[2020-01-29 13:05] blowdart commented on #18650
Are you using the [forwarded headers middleware](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1) and configured your proxy to set the protocol header? That should inform all of asp.net to treat the request as if it were made over HTTPS, rather than have to work around anything.

[2020-01-29 13:37] hugoqribeiro commented on #18419
Hi @onarres.

I'm having the same exact problem.
I implemented your solution with BackPortedChunkingCookieManager in services.ConfigureApplicationCookie() but this has no effect.

I get the same error with cookie named "Identity.External". I debugged the cookie manager but DeleteCookie never gets called. Not even GetRequestCookie with such key...

Any idea?

[2020-01-29 14:34] conficient commented on #18654
Just encountered this same issue upgrading my [BlazorChatSample](https://github.com/conficient/BlazorChatSample) demo to use the .NET SignalR client. I call `.StopAsync()` and `.DisposeAsync()` as well, but only when I close the browser tab does it drop.

[2020-01-29 14:45] peto268 opened #18657 "Provide a way how to get the current ClaimsPrincipal in SignalR core outside of a Hub"
I have a SignalR Core hub which has a dependency on a service. That service itself has it's own dependencies and one of them requires access to the current ClaimsPrincipal.

I know, that I can access the ClaimsPrincipal inside the hub using the Context.User property and pass it as a parameter to the service, which can also pass it as a parameter and so on. But I really don't like to pollute the se

[2020-01-29 14:45] pranavkm commented on #18652
Looks like a dup of https://github.com/dotnet/corefx/issues/42084. @layomia, what do you recommend we do this issue?

[2020-01-29 14:49] RomBrz commented on #18482
@anurse is there a way to link this to the "/dotnet/runtime"? Or i have to copy/paste to open a new issue there?

About the sample, seems like @eaembree post one https://github.com/eaembree/SniDllFailure
I ask for one dev about the API that give problems with Traverse:
https://github.com/VahidN/iTextSharp.LGPLv2.Core
using iTextSharp.text;
using iTextSharp.text.pdf;

About some APIs requiring Trav

[2020-01-29 14:56] sanmolhec commented on #18019
Hello.

We've had a similar experience in our organization.

Yesterday, Tuesday, we installed NET Core Hosting 3.1 on a w2k12 Server and all the pools that were forced to enable 32-bit applications to true do not start.

We have uninstalled Core 3.1 hosting but the problem remains.

On the production server we are going back to a previous restore point, but we have left the problem on the developm

[2020-01-29 15:11] mmitche commented on #16827
Nope, they are different. The other one is about generating files for the layout itself. This is about generating a package that Maestro can flow versions of, for the purpose of identifying the non-suffixed aspnetcore version.  Today we end up using the xplat certs package but that is non-ideal.

[code]

[2020-01-29 15:11] mmitche commented on #16859
Nope, see: https://github.com/dotnet/aspnetcore/issues/16827#issuecomment-579799950

[2020-01-29 16:00] mkArtakMSFT commented on #18651
Thanks for contacting us.
It looks like this issue has been discussed before on the AmazongCognitoIdentity repo: https://github.com/aws/aws-aspnet-cognito-identity-provider/issues/96
We recommend following up on the referenced thread instead.
/cc @Tratcher

[2020-01-29 16:30] ygoe commented on #14062
Um, again too late. You're pretty quick closing bugs...

I guess you still didn't understand the problem. How should I know whether I should set that field if I don't get the previous value? It's just not there anymore. This is the bug.

[2020-01-29 16:30] ygoe commented on #14062
@NTaylorMullen please reopen, this is by far not resolved!

[2020-01-29 16:31] seesharprun opened #18658 "Is it possible to bring Startup classes back to Blazor so ASP.NET configuration is "similar" across the board?"
It's exciting that there is a simpler syntax to bootstrap an ASP.NET Blazor project:

[code]

But I am a little concerned that we are moving away from the tried-and-true syntax used to bootstrap ASP.NET. I can bootstrap an ASP.NET web application with a quick expression-bodied member:

[code]

As someone who teaches ASP.NET and .NET Core, it drives me crazy that the syntax is almost, but not exact

[2020-01-29 16:55] jkotalik commented on #18619
Honestly, I didn't even know we had a sln in that folder for installers. We don't actually build via the sln, we usually invoke build.cmd/build.ps1/build.sh. Can you try running the root build.cmd with the flag -BuildInstallers? Let us know if that works.

[2020-01-29 16:58] GillCleeren opened #18659 "Runtime Exception (Garbage collector could not allocate 16384 bytes) in Blazor client-side since 3.2"
### Describe the bug
Exception is thrown when registering types with AutoMapper at runtime.

### To Reproduce

In Program.cs:

`var builder = WebAssemblyHostBuilder.CreateDefault(args);

            var automapperConfig = new MapperConfiguration(configuration =>
            {
                configuration.AddProfile(new CustomMappings());
            });

            var autoMapper = automapperCon

[2020-01-29 17:04] jkotalik commented on #18614
Initially, I would guess that the Hercules client is closing the connection after sending the input, while the Apache JMeter client isn't closing the connection. The IsCompleted property will be true when the connection closes, can you see what happens with other clients, like PostMan or cURL?

Other than that, I think your connection handler looks correct. Here is one we used for testing for comp

[2020-01-29 17:16] jkotalik commented on #18594
I don't think you should be setting the port at all. If Nginx is doing TLS termination, every time your site gets a url, it will be on HTTP. The HttpsMiddleware will notice that it is HTTP and because a port is now set, it will redirect. This will constantly happen until the browser notices you have too many redirects, which is the behavior you are seeing. I'd remove the HTTPS_PORT and/or the Http

[2020-01-29 17:20] layomia commented on #18652
@pranavkm I say close as dup of dotnet/corefx#42084.

[2020-01-29 17:22] javs-ctr opened #18660 "Setting the ClientCertificateMode Kestrel server option from an appsettings.json file."
Creating this issue was recommended to me from a response to the [AspNetCore.Docs issue #16759](https://github.com/aspnet/AspNetCore.Docs/issues/16759) I created previously.

**Context:** From the Microsoft Docs entry for the [Kestrel web server implementation in ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.1), under the [Kestrel options

[2020-01-29 17:24] pranavkm commented on #18652
Thanks. @tmeschede, we'll use the linked issue to track further work here.

[2020-01-29 17:24] #18652 closed

[2020-01-29 17:34] mkArtakMSFT commented on #18659
This issue was moved to mono/mono#18617

[2020-01-29 17:34] #18659 closed

[2020-01-29 17:35] mkArtakMSFT commented on #18658
Thanks for your feedback, @seesharprun.
@rynowak any thoughts?

[2020-01-29 17:37] mkArtakMSFT commented on #18656
This issue was moved to mono/mono#18618

[2020-01-29 17:37] #18656 closed

[2020-01-29 17:37] Tratcher commented on #18624
AD supports basic authentication for when a client is connecting from a non-domain joined machine. NTLM is not internet friendly.

It's the authentication provider's responsibility to create the WWW-Authenticate header. Here's an example of a basic auth handler implementation: https://github.com/blowdart/idunno.Authentication/blob/ffbe12f73a68150c128f2762ec765efa9f671636/src/idunno.Authentication.

[2020-01-29 17:38] mkArtakMSFT commented on #18655
Thanks for contacting us, @Stamo-Gochev.
We'll look into this during our next milestone planning meeting and decide on what we need to do here.

[2020-01-29 17:43] mkArtakMSFT commented on #18654
Thanks for contacting us.
@anurse is this SignalR specific or should I move this to the mono team?

[2020-01-29 17:45] mkArtakMSFT commented on #18642
Thanks for contacting us, @nrhoffmann.
@NTaylorMullen can you please look into this? Thanks!

[2020-01-29 17:45] OmidID opened #18661 "Cannot load assembly in when BlazorLinkOnBuild is not set off"
### Describe the bug
Cannot load assembly when BlazorLinkOnBuild is not set off. The assembly need `netstandard`
In case of loading `netstandard` too the error will be change and it's cannot find the `System.Object`

### To Reproduce
Create one Blazor project and one Net standard library.

In Blazor project add this code somewhere:
[code]
In case of adding `<BlazorLinkOnBuild>false</BlazorLinkOnBu

[2020-01-29 17:46] mkArtakMSFT commented on #18638
Thanks for contacting us, @poke.
@javiercn can you please review this? Thanks!

[2020-01-29 17:47] Tratcher commented on #18633
I just verified our local sample is working.
https://github.com/dotnet/aspnetcore/blob/e8363b1cc9f2c76ff8fed0aa55fd3ef9a960ee5a/src/Security/Authentication/samples/SocialSample/Startup.cs#L86-L99

A note from their permissions page:
[code]

If you're unable to get the e-mail address from them then you'll need to contact Twitter support.

[2020-01-29 17:48] mkArtakMSFT commented on #18653
Thanks for contacting us, @sebfischer83.
@javiercn can you please look into this? Thanks!

[2020-01-29 17:50] Tratcher commented on #18594
That's fine.

@jkotalik @xshiiiidev read https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1 that covers how to set up your app and proxy so that the app knows the request was originally https.

[2020-01-29 17:53] mkArtakMSFT commented on #18634
Thanks for contacting us, @zvolkov.
Can you please share some more details about your scenario as well as a minimal repro application? Thanks!

[2020-01-29 17:55] jkotalik commented on #17973
I'm not sure what the interaction between `dotnet publish` and `--no-build` is. @nguerrera any insights?

[2020-01-29 17:56] mkArtakMSFT commented on #18623
Thanks for the details. This is not something we plan to make the default.
We try to avoid adding default configuration to the Startup as that is unnecessary code and community in general likes the current pattern.

[2020-01-29 17:56] #18623 closed

[2020-01-29 17:58] anurse commented on #16901
This is more about optimizing the runs, not data collection. I think it's still worth discussing.

[2020-01-29 17:58] JohanOtto opened #18662 "WebHostBuilderIISExtensions raises a null reference exception and causes a fatal crash"
*** Fatal Error is IISHttpServer ***

After I enabled .NET source stepping and overcoming difficulties with the remote debugger crashing I managed to find the root cause of my crash.

### Describe the bug
The error happens when constructing a new instance of IISHttpServer here...
[code]
Stepping through the code, it seems to try and do a Lazy<T> activation with a factory method which eventually ca

[2020-01-29 17:59] Tratcher commented on #18560
@mkArtakMSFT looks like this is back in your court. How is Blazor capturing the user?

[2020-01-29 18:00] #18464 closed

[2020-01-29 18:06] Tratcher commented on #18087
You should focus on understanding that as it may help explain your other issues. Where did you insert your middleware in Startup.Configure?

[2020-01-29 18:13] wtgodbe commented on #14895
Not yet, we can keep this in backlog for now

[2020-01-29 18:18] roysurles commented on #18560
@code {
    [CascadingParameter] Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected ClaimsPrincipal User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = (await AuthenticationStateTask.ConfigureAwait(false)).User;
    }
}

[2020-01-29 18:47] onarres commented on #18419
For me the best troubleshooting I had was to run fiddler, see what and how the cookies were dropped during login (which flags are set, etc). Then when you logout, see what is sent to remove the cookies.  The problem is there are so many potential configurations that are not standardized for login/logout.  For me, I was using a version of the sample UI about a year old and it was calling the signIn

[2020-01-29 18:50] shitalumare opened #18663 "Error: The list of component records is not valid -Integrate Razor components into Razor Pages"
My issue is :
I have Integrated Razor components into my existing aspnet core 3.1 Razor Pages application.
I am working in a new ASP.NET Core 3.1 With Razor Pages application and I want to use third party Blazor components in it but I'm having trouble getting it to work.

I have referred below documents to inegrate
https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-

[2020-01-29 18:59] surr34 commented on #18488
Running the System.Net.Security benchmarks gave me these results

|                         Method |        Mean |     Error |    StdDev |      Median |         Min |         Max | Gen 0 | Gen 1 | Gen 2 | Allocated |
|------------------------------- |------------:|----------:|----------:|------------:|------------:|------------:|------:|------:|------:|----------:|
|                 HandshakeAsync

[2020-01-29 19:01] mrpmorris commented on #18616
There are lifecycle hooks you can override to initialise data before your component is rendered.

[2020-01-29 19:02] hugoqribeiro commented on #18419
I figured it out and it's so simple.

The "Identity.External" cookie is configured by services.ConfigureExternalCookie(), not services.ConfigureApplicationCookie(). Obvious... now... :)

I applied the ported cookie manager on that. And it works now.

[2020-01-29 19:03] wtgodbe commented on #18324
This has been resolved

[2020-01-29 19:03] #18324 closed

[2020-01-29 19:07] NTaylorMullen commented on #18642
@nrhoffmann could you please provide a small repro for what you're seeing to ensure we are able to reproduce and comment on precisely what you're concerned about.

[2020-01-29 19:08] knyzorg commented on #18583
I have resolved this issue by inspecting the `HttpContext` to identify the language using DI (#4579) and could match up the routes using `IOutboundParameterTransformer`.

I will eventually clean up the implementation and post it here.

I hit a bug in the process however, the `action` part of the route (and probably `controller` too) seem to only be evaluated once. That is if the first page that ge

[2020-01-29 19:08] onarres commented on #18419
Glad you figured it out. Like I said, there are so many permutations.

[2020-01-29 19:14] Tratcher commented on #18660
This is something we'd considered (https://github.com/dotnet/aspnetcore/issues/4765) but were waiting to see if anybody needed it.

[2020-01-29 19:16] Tratcher commented on #18662
This is usually caused by mixing 2.x and 3.x dependency versions. Please show your csproj dependencies.

[2020-01-29 19:17] Tratcher commented on #18662
See https://github.com/dotnet/aspnetcore/issues/17973

[2020-01-29 19:18] apacurariu opened #18665 "CORS does not work with pre-flight request"
### Describe the bug
The OPTIONS pre-flight request issued by the browser is handled with a "405 Method not allowed" response.

### To Reproduce

[code]
I tried issuing an OPTIONS request with PostMan and it also fails with a 405 response.

If I explicitly add a method **with a matching route** in my controller to handle the OPTIONS request as follows, then the CORS middleware works just fine.

[c

[2020-01-29 19:26] mkArtakMSFT commented on #5204
Related https://github.com/dotnet/aspnetcore/issues/11597

[2020-01-29 19:30] NTaylorMullen commented on #14062
I apologize @ygoe, the issue closing this time was due in part to our issue automation.

To add some clarity as to why you don't get the original value sent to the server, that's because the checkbox is disabled. Browsers wont post the checkbox "state" / value when the checkbox is under the disabled state. If you'd like to workaround this issue you can always add an extra hidden field to represent

[2020-01-29 19:39] michuny25 commented on #18545
I am currently running it on my server with the same issue for  `/_framework/_bin/XXX.Shared.pdb:1` and `/_framework/_bin/XXX.Domain.pdb:1`. Is there something I should be concerned about in terms of breaking some functionality or is it just a notification in console without any consequences?