[2019-03-26 14:13] javiercn commented on #8190
I've used the sample project not the template, but I haven't been able to repro this. Should we just close?

[2019-03-26 14:38] Aculeo opened #8823 "New Overload: DataProtectionProvider.Create(appName, setupAction)"
I'm currently facing the following problem: We have an app that runs on an Azure, and I want to extend the DP key lifetime. Right now I only provide an *appName* in order to create a DP provider:

    DataProtectionProvider.Create(appName)

But if I understand correctly we need to add a *setupAction* to extend the key lifetime. However, this only works with the overload where I'm forced to provide

[2019-03-26 14:44] SteveSandersonMS commented on #8422
You can already use different DI services during server-side execution (e.g., prerendering) vs client-side execution. By default you already get two different `Startup.cs` classes, so just put whichever services you want in each.

We're not planning to have an entirely separate DI container for prerendering vs other server-side execution, as that wouldn't make sense given that the same component i

[2019-03-26 14:44] #8422 closed

[2019-03-26 14:46] SteveSandersonMS commented on #8287
Since this is described in #8404, I'll close this as a duplicate.

[2019-03-26 14:46] #8287 closed

[2019-03-26 14:53] AndyBhag commented on #8821
![StandaloneRun-Success](https://user-images.githubusercontent.com/48953915/55007189-fe6a9580-5004-11e9-8a33-d8b0c6446e65.png)
![Systemd-Fail](https://user-images.githubusercontent.com/48953915/55007207-0591a380-5005-11e9-9ca6-8e7198990bcc.png)

[2019-03-26 14:54] AndyBhag commented on #8821
Closed by mistake., re-opening

[2019-03-26 15:07] blowdart commented on #8823
Is this outside of an asp.net core app then? Because inside asp.net core you can happily do

[code]

[2019-03-26 15:22] jkotalik commented on #8555
@VictorioBerra for my own knowledge, are you seeing this behavior with 204s using ANCM/IIS In-process or Kestrel behind ANCM? We fixed a similar bug related to in-process, so I want to see if this was related.

[2019-03-26 15:29] VictorioBerra commented on #8555
@jkotalik We are hosting our API on IIS using `<AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>` and targetting netcoreapp2.2.

When did you fix this? Is there a way for me to test the fix today? We might be a few minor versions behind on our ANCM/Hosting Bundle CLR.

[2019-03-26 15:33] SteveSandersonMS commented on #8404
I'm going to close this in favour of #8786, because there is now more detail over there.

[2019-03-26 15:33] #8404 closed

[2019-03-26 15:33] stavroskasidis commented on #8274
Here is how I reproduced it on Blazor 0.9

1. Create a new Blazor app
2. Create the following component: `MyComponent.cshtml`
[code]
3. Consume the component in the `Counter.cshtml` page like so:
[code]
4. Add the following script in `index.html`:
[code]
5. Run the app and navigate to `/counter` page

Result:
The browser is stuck, like being in an endless loop, never finishing the task.

[2019-03-26 15:42] MagicAndre1981 opened #8824 "SignalR: Template for new protocol"
### Is your feature request related to a problem? Please describe.

I'm am trying to use a different protocol, but I currently there are only Json/MessagePack available, so I plan to experiment with my own (maybe XML and nothing json related).

### Describe the solution you'd like

I want a template in VS2017/2019 where I can easily create a new SignalR protocol.

### Describe alternatives you've

[2019-03-26 15:46] BrennanConroy commented on #8824
I don't think we would make a VS template for this. It's not a common enough scenario to warrant one.

We do have an issue filed for making a doc around this though. https://github.com/aspnet/Docs/issues/10861

The protocol needs to implement [IHubProtocol](https://github.com/aspnet/AspNetCore/blob/master/src/SignalR/common/SignalR.Common/src/Protocol/IHubProtocol.cs) and be injected into DI.

[2019-03-26 15:52] MagicAndre1981 commented on #8824
ok, hopefully the documentation is finished soon.

[2019-03-26 16:03] javiercn commented on #8190
@rynowak and I went through this together and we weren't able to repro this anymore.

We should however follow up on the rest of https://github.com/aspnet/AspNetCore/issues/8613

[2019-03-26 16:03] #8190 closed

[2019-03-26 16:08] javiercn commented on #8613
To add to what we listed here. When a component fails to render we can offer the ability to render an alternative error component. The idea is that a failed component doesn't bring down the entire application but that instead a different component is rendered (maybe with an error image or an error message) allowing the rest of the application to work.

[2019-03-26 16:11] rynowak opened #8825 "Update visibility of component parameters"
# Summary

We have to make a final decision about the visibility of component parameters. We've run into many issues trying to use non-public properties, and I don't think these are going to stop.

## Problems and Goals

- We want to make it hard or impossible to set a component parameter property directly. This is never correct when done *in application code*
- We've tried using non-public proper

[2019-03-26 16:13] #8056 closed

[2019-03-26 16:34] javiercn opened #8826 "[Razor] AsyncEventHandler_OnElement_ActionEventArgs_Lambda generates the wrong code"
The handler below is quoted as a string instead of just being a lambda
`...,"async (e) => await Task.Delay(10)"));`
instead of
`..., async (e) => await Task.Delay(10)));`

https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/test/Microsoft.AspNetCore.Razor.Language.Test/TestFiles/IntegrationTests/ComponentRuntimeCodeGenerationTest/AsyncEventHandler_OnElement_ActionEventArgs_Lambda/Te

[2019-03-26 16:40] mkArtakMSFT commented on #8780
Thanks for contacting us, @TFTomSun.
Can you please provide us with a repro project so we can investigate this?

[2019-03-26 16:41] NTaylorMullen commented on #8826
lol

[2019-03-26 16:43] mkArtakMSFT commented on #8772
Thanks for contacting us, @juepiezhongren.
This should be possible today and we'll add docs covering this in the future: https://github.com/aspnet/Docs/issues/11366

[2019-03-26 16:43] #8772 closed

[2019-03-26 16:45] mkArtakMSFT commented on #8766
Thanks for contacting us, @eglauko.
@javiercn, can you please investigate this? Thanks!

[2019-03-26 16:46] mkArtakMSFT commented on #8758
Thanks for contacting us, @RyoukoKonpaku.
This is not something we plan to do in the near future.

[2019-03-26 16:46] #8758 closed

[2019-03-26 16:48] mkArtakMSFT commented on #8704
Thanks for contacting us, @SamProf.
This is a known issue which we track at https://github.com/aspnet/AspNetCore/issues/7509

[2019-03-26 16:48] #8704 closed

[2019-03-26 16:54] mkArtakMSFT commented on #8692
Thanks for contacting us, @mazhou-msft.
We're addressing this issue as part of #8520

[2019-03-26 16:54] #8692 closed

[2019-03-26 16:58] mkArtakMSFT commented on #8593
Thanks for contacting us, @sbuchok.
We will try to add an ability of navigating while prerendering on the server side.
A component which requires authorization and redirects if not authorized is one example.

[2019-03-26 16:59] #7966 closed

[2019-03-26 17:00] mkArtakMSFT commented on #8580
Closing as there doesn't seem to be much value here.

[2019-03-26 17:00] #8580 closed

[2019-03-26 17:00] mkArtakMSFT commented on #8549
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-03-26 17:00] #8549 closed

[2019-03-26 17:05] SteveSandersonMS commented on #8647
From another issue, I can now probably guess what's going on.

My guess is that you're triggering this event from a `<button>` which is inside a `<form>`. By default, buttons submit forms, which would cause this navigation to the URL with `?`. Since that doesn't appear to be what you want, you should add the attribute `type="button"` to your button so it no longer submits the form.

[2019-03-26 17:05] #8647 closed

[2019-03-26 17:06] sbuchok commented on #8593
No no, thank you. BTW, I'm loving working with Blazor/Razor Components so far. You guys are doing awesome.

[2019-03-26 17:09] Eilon commented on #8789
Hi @DanielHabenicht , to request support with an LTS product, please contact Microsoft Support at https://support.microsoft.com/. Otherwise, I believe the issue was fixed in ASP.NET Core 2.2.

[2019-03-26 17:10] ryanbrandenburg commented on #7639
Can we get more background on this? Which provider does @danroth27 think we should go with, NSwag or Swashbuckle? Should we include SwaggerUI too? The title and description says "options", but what command-line option could there be other than "use swagger" (and "use SwaggerUI" if we want that)? We'll have to expose this as VS UI, have we talked with them about this?

[2019-03-26 17:12] danroth27 commented on #7639
@ryanbrandenburg Please work with @glennc on this.

[2019-03-26 17:23] anurse commented on #5279
Is that true for SignalR though? There's all the connection metadata on `ConnectionContext` and I don't know if that's replicated on the endpoint.

[2019-03-26 17:33] rynowak commented on #5279
If it's truly metadata then you should add it to the endpoint metadata. If it's part of the request, then I dunno 🤷‍♂️

[2019-03-26 17:35] anurse opened #8829 "[Epic] ASP.NET Core servers should support exposing a Pipeline-based request/response body API"
All our servers should evaluate how to best expose a pipeline-based API for request/response bodies.

Child Items:
* ~~https://github.com/aspnet/AspNetCore/issues/8661 Add Pipelines-related http features in IIS~~ (Cut, want to wait to align with corefx plans to unify pipes and streams)
* ~~https://github.com/aspnet/AspNetCore/issues/8660 Add Pipelines-related http features in TestServer~~ Postpone

[2019-03-26 17:36] Tratcher commented on #8815
This is also being reported over here: https://github.com/domaindrivendev/Swashbuckle.AspNetCore/pull/1082

@jkotalik

[2019-03-26 17:38] anurse commented on #8660
Bumping out of preview4. I don't think this is a critical thing for preview 4, but feel free to debate :).

[2019-03-26 17:45] Tratcher commented on #8815
@anurse bringing into preview4 and assigning to @jkotalik as a critical bug. We can load balance in triage.

[2019-03-26 17:56] ericcoleman opened #8831 "ServiceFilterAttribute causes stackoverflow exception in 2.2"
### Describe the bug
In Asp.Net Core 2.2, when trying to execute a filter that extends `ServiceFilterAttribute` and implements `IAsyncActionFilter` a stackoverflow exception is thrown. This previously had worked in 2.1.

### To Reproduce
Steps to reproduce the behavior:
1. Create a .Net Core 2.2 Web Application
2. Create an Attribute Class that extends `ServiceFilterAttribute` and implements `IAsy

[2019-03-26 17:58] anurse commented on #8829
@jkotalik @Tratcher to see if there are any other things that relate to this work. Just tag them here if you think they are relevant.

[2019-03-26 17:59] danroth27 opened #8832 "Unable to set property 'AppAssembly' on object of type 'Microsoft.AspNetCore.Components.Routing.Router'"
Repro steps:
- Install latest preview4 nightly build (3.0.100-preview4-010963)
- `dotnet new razorcomponents`
- `dotnet run`
- Browse to https://localhost:5001

[code]

[2019-03-26 17:59] danroth27 commented on #8832
@rynowak Known issue?

[2019-03-26 18:04] anurse opened #8833 "[Epic] ANCM Improvements"
There are a number of improvements we want to make to ANCM in-proc in 3.0 that relate to improved integration with the .NET Core host and Azure App Service.

Child Items:
* [x] https://github.com/aspnet/AspNetCore/issues/5153 ANCM In process: Managed exceptions before full initialization are too hard to look at
* [x] https://github.com/aspnet/AspNetCore/issues/8001 React to semver v2 support chang

[2019-03-26 18:04] pranavkm commented on #8832
Dup of https://github.com/aspnet/AspNetCore/issues/8825

[2019-03-26 18:04] #8832 closed

[2019-03-26 18:05] anurse commented on #8829
Re ^

Not the biggest fan of how GitHub reports me editing @jkotalik 's issue to include a link to the epic...

[2019-03-26 18:06] Tratcher commented on #8829
Link in the completed Kestrel work for reference?

[2019-03-26 18:07] bordecal commented on #8519
The goal is simply to allow complete validation results to be returned to an endpoint caller under all circumstances, including when a validation failure is in part due to an invalid child object.  Setting `ValidateComplexTypesIfChildValidationFails` to `true` on any `ValidationVisitor` used in controller validation is necessary to accomplish this.

[2019-03-26 18:11] anurse commented on #8833
@jkotalik to review and see if there's anything related to .NET Core host integration that isn't covered here.

[2019-03-26 18:11] #8824 closed

[2019-03-26 18:18] jkotalik commented on #8815
Let's just say @Tratcher and I are shocked that this wasn't caught by a test beforehand...

[2019-03-26 18:23] anurse opened #8834 "[Epic] ASP.NET Core should include templates and tools for developing background workers"
We want the Generic host to be usable for building Windows Service applications with all the trimmings (event log logging, self-installation, etc.).

Child Items:
* [x] https://github.com/aspnet/AspNetCore/issues/8834 UseWindowsService should enable EventLog logger by default
* [x] https://github.com/aspnet/Extensions/issues/1288 Rename UseServiceBaseLifetime to UseWindowsService
* ~~https://githu

[2019-03-26 18:26] johnbeisner opened #8835 "Unexpected asset names for some of ASP .Net Targeting Pack assets"
At the aspnetcore "3.0.0-preview4-19172-03" blob storage drop point: https://dotnetcli.blob.core.windows.net/dotnet/aspnetcore/Runtime/3.0.0-preview4-19172-03

Some assets appear to be inconsistent with current naming conventions:
aspnetcore-targeting-pack-3.0.0-preview4-19172-03.deb
aspnetcore-targeting-pack-3.0.0-preview4-19172-03.tar.gz
aspnetcore-targeting-pack-3.0.0-preview4-19172-03.zip

I e

[2019-03-26 18:27] JunTaoLuo commented on #8835
cc @dougbu @mkArtakMSFT can you guys please assign?

[2019-03-26 18:28] mikaelm12 commented on #8804
So after some investigation through github issues and old prs and scanning release tags, the version of gradle we use **does not have retries**. So I'll work on upgrading the version of gradle we use to take advantage of the new feature.

[2019-03-26 18:29] halter73 commented on #8430
This issue was moved to SignalR/SignalR#4348

[2019-03-26 18:29] #8430 closed

[2019-03-26 18:30] sebastienros opened #8836 "Assemblies referenced by EF are not coming from the Shared Framework"
Here is an overview of the dlls that are created when doing a `dotnet publish` on 3.0 (latest build).

![image](https://user-images.githubusercontent.com/1165805/55023474-1c5ed880-4fba-11e9-89f1-524799a3241f.png)

The application is referencing EF with a specific version `3.0.0-preview4.19168.3`.
As a result the assemblies that EF depends on (DI, Logging, Caching) are copied locally from a Nuget f

[2019-03-26 18:34] jkotalik commented on #8001
This was done by https://github.com/aspnet/AspNetCore/commit/7a1a53d76d62783ae33f116309c5d3745f00dd94.

[2019-03-26 18:34] #8001 closed

[2019-03-26 18:42] JamesNK commented on #8660
I would like it. Does that make it critical? 🙃

Seriously though, I was looking into https://github.com/grpc/grpc-dotnet/issues/144 yesterday and TestServer never sets Response.HasStarted when the response content is flushed, and that makes our functional tests a little less trustworthy. For example, it is not an error to send headers after writing content. I'm considering moving some of the funct

[2019-03-26 18:53] sebastienros commented on #8836
I checked which version the ASP.NET share framework had:

![image](https://user-images.githubusercontent.com/1165805/55025202-ba07d700-4fbd-11e9-86ad-c09b161379d7.png)

while the local version is

![image](https://user-images.githubusercontent.com/1165805/55025195-b4aa8c80-4fbd-11e9-80ca-73126874a63f.png)

The shared framework has a newer version, yet the nuget one was taken.

[2019-03-26 19:07] ryanbrandenburg commented on #5415
Any progress on this @danroth27? Using LibMan would make it much easier to work in our templates, in addition to making it easier for customers to upgrade these components after template creation.

[2019-03-26 19:12] JunTaoLuo commented on #7635
@anurse Any updates on the triage decision here? Can we commit to preview 5? That would be nice.

[2019-03-26 19:25] anurse commented on #8804
This is blocking some builds fairly frequently. Can you make this your top priority @mikaelm12 ?

[2019-03-26 19:32] jkotalik opened #8838 "React to hostfxr locating logic"
https://github.com/dotnet/core-setup/pull/5522 just got merged. Let's try this out so we can drop a majority of our hostfxr searching logic.

Work items:
- Include `nethost.dll` as part of the ANCM msis/installers and available in the IISIntegration subfolder. This is actually fairly complicated because anywhere we bring `aspnetcorev2.dll`, we now need to bring `nethost.dll`
- Verify no scenarios

[2019-03-26 19:35] RichiCoder1 commented on #8786
I need to think of a good example, but would it be possible to have both [1] and [3]?

[2019-03-26 19:38] anurse commented on #7635
We're reviewing Kestrel 3.0 work tomorrow, I'll bring this up.

[2019-03-26 19:40] jkotalik commented on #8555
@VictorioBerra can you try removing that line for AspNetCoreHostingModel and try seeing if this issue reproduces without setting the content length? This issue should have been fixed in 2.2.1 in ASP.NET Core, check what version you are currently on. If you are on 2.2.1 or later and the issue doesn't reproduce when removing AspNetCoreHostingModel, we may have an issue.

[2019-03-26 19:41] krishnagupta21 opened #8839 "Upgrading from Microsoft.AspNetCore.All to Microsoft.AspNetCore.App gives version conflict error for Microsoft.AspNetCore.Antiforgery."
I'm trying to migrate from `Microsoft.AspNetCore.All` to `Microsoft.AspNetCore.App`. So i removed the `.All` package from my `.csproj` and added the `.App` package like this:
[code]
Now when I try to build the project I get the following error:
`Error NU1107 detected for Microsoft.AspNetCore.Antiforgery. Install/reference Microsoft.AspNetCore.Antiforgery 2.2.0 directly to project ... to resolve th

[2019-03-26 19:43] #8839 closed

[2019-03-26 19:46] anurse commented on #8829
In a perfect world, sure, but I don't really know what query would get me that information at the moment...

[2019-03-26 19:58] rynowak commented on #8581
We discussed this and have no plans to change it.

[2019-03-26 19:58] #8581 closed

[2019-03-26 19:59] rynowak commented on #8532
Discussed this, nothing actionable to do right now.

[2019-03-26 19:59] #8532 closed

[2019-03-26 19:59] VictorioBerra commented on #8555
Looks like we have 2.2.0 on our dev server. Updating and will test momentarily.

[2019-03-26 20:13] mkArtakMSFT commented on #8408
Thanks for contacting us, @armitagemderivitec.
This is not something we plan to add to the framework.

[2019-03-26 20:13] #8408 closed

[2019-03-26 20:15] bigswede74 commented on #8807
I was able to set the aspNetCore startupUpTimeLimit in the web.config file and then retry the database connection until the timeout is exceeded. In this case the process is shut down.

web.config
startupTimeLimit="15"

[2019-03-26 20:15] #8807 closed

[2019-03-26 20:15] mkArtakMSFT commented on #8205
Moving this to preview5 as the required .Net Core feature is going to land then.

[2019-03-26 20:21] mkArtakMSFT commented on #8831
Thanks for contacting us, @ericcoleman.
This is not a recommended way to do it:

Instead you should implement the `IFilterFactory` interface.

[2019-03-26 20:21] #8831 closed

[2019-03-26 20:27] VictorioBerra commented on #8555
Looks like updating maybe have solved the problem.

[2019-03-26 20:27] mkArtakMSFT commented on #8821
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-03-26 20:27] #8821 closed

[2019-03-26 20:32] mkArtakMSFT commented on #8810
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-03-26 20:32] #8810 closed

[2019-03-26 20:34] mkArtakMSFT commented on #8790
Thanks for contacting us, @yepeekai.
@ajaybhargavb, will this be covered by https://github.com/aspnet/AspNetCore/issues/6373?
If yes, feel free to close this issue as a dupe.

[2019-03-26 20:34] #8789 closed

[2019-03-26 20:36] jkotalik commented on #8555
Awesome, I’m going to close this issue then.

[2019-03-26 20:36] #8555 closed

[2019-03-26 20:38] mkArtakMSFT commented on #8573
@danroth27 seems we rely on jQuery for our validation too, it's not just transitive because of Bootstrap dependency.

[2019-03-26 20:44] mkArtakMSFT commented on #8519
That seems reasonable. Would you be willing to send us a PR for this?

[2019-03-26 20:47] mkArtakMSFT commented on #8400
Thanks for contacting us, @Beton.
This is not something we plan to do in the near future.

[2019-03-26 20:47] #8400 closed

[2019-03-26 20:54] danroth27 commented on #8573
@mkArtakMSFT Right, the main work item tracked by this issue is investigating what it would take to remove the jQuery dependency from our validation libraries.

[2019-03-26 20:55] Eilon commented on #8783
@VBAndCs you need to match the runtime and the packages. Any odd behavior you see with mismatched versions is not supported.

[2019-03-26 20:55] mkArtakMSFT commented on #8399
Thanks for your time and patience here, @wstaelens.
Unfortunately, this is not an area we invest in much at this time.
It sounds like you really want to have mixed localization enabled for your app, which is - use the provided `IStringLocalizer` mechanism as is, as well as bring your own custom localization solution. We would recommend you using a composite `IStringLocalizer` impolementation, whic

[2019-03-26 20:55] #8399 closed

[2019-03-26 21:01] danroth27 commented on #8573
Given that our current validation support is built on jQuery validation, the way I would think about this issue is to take a fresh look at what our client validation support should look like. Is there a different validation library that we should consider using? Etc.

[2019-03-26 21:06] Eilon commented on #7162
Moving to a later preview. We should at least check Cookie Auth because it runs on every request. The other middlesware don't run as often so we're less concerned about their per-request perf.

[2019-03-26 21:08] anurse commented on #6022
We should just check the `Instance` for null-or-empty and throw a useful exception.

[2019-03-26 21:24] Eilon commented on #4074
Closing because we don't have plans to continue supporting this scenario.

[2019-03-26 21:24] #4074 closed

[2019-03-26 21:25] #8575 closed

[2019-03-26 21:27] Eilon commented on #8559
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-03-26 21:27] #8559 closed

[2019-03-26 21:28] #8396 closed

[2019-03-26 21:29] dougbu commented on #8835
@johnbeisner this issue is similar to #8806. Could you please help us understand the priority and urgency of this issue?

[2019-03-26 21:30] siblight commented on #8559
My IT Dept. was able to trace the issue to one of our firewall servers caching traffic for my web server.
After disabling this the problem I was having was resolved.
Thank you for your help.

[2019-03-26 21:30] #8180 closed

[2019-03-26 21:37] Eilon commented on #8175
Placing in backlog so we can consider in a future version.

[2019-03-26 21:38] Eilon commented on #8163
Closing because we think the current support is sufficient.

[2019-03-26 21:38] #8163 closed

[2019-03-26 21:43] Eilon commented on #4641
Closing because we are not planning to continue updates for this package.

[2019-03-26 21:43] #4641 closed

[2019-03-26 21:47] Eilon commented on #7765
Let's make the samples use out-of-proc because it's the simplest option.

[2019-03-26 21:48] jkotalik commented on #7765
Boooooooo!

[2019-03-26 21:50] Eilon commented on #7955
Let's override the property and:
1. Set `[EditorBrowsable(None)]`
2. Update the doc comment to say it's not supported

[2019-03-26 21:51] #7849 closed

[2019-03-26 21:52] #7803 closed

[2019-03-26 21:52] javiercn commented on #8397
@loop-evgeny are you able to repro this issue with a react app and no authorization? I believe this is an issue with the react development server. So I don't think there's anything we can do here.

[2019-03-26 21:56] davidfowl commented on #7162
We should still know the performance of the code we wrote. Some of it was just lazy and could easily be better even if its doesn’t happen as often.

What about JWT?

[2019-03-26 21:58] khenzar commented on #7851
Agree with you buddy. They say Razor Components is no longer experimental (on the contrary to Blazor) but in my opinion they are doing a lot more breaking changes to Razor Components between different preview versions than they were doing between Blazor minor versions. For example in Preview 3 the app and server are now in one project and the routing pipeline has changed which for example broke MV

[2019-03-26 21:59] Eilon commented on #7117
Hi, this is currently by design and we do not plan on changing the behavior. The generated token is based on several inputs, and if any of those inputs change, the token becomes invalid for Security Reasons™. If you wish to change this behavior, you can implement this interface with your own logic: https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Extensions.Core/src/IUserTwoFactorToke

[2019-03-26 21:59] #7117 closed

[2019-03-26 22:01] danroth27 opened #8842 "Prerendering support for Blazor"
We enabled prerendering support for Razor Components, but we need to do some work to make the experience good for Blazor apps. Prerendering for Razor Components is based on a Razor Page, but the UseBlazor method currently calls UseSpa which requires an index.html file be present.

[2019-03-26 22:19] anurse commented on #6192
@Eilon checked in with @davidfowl on this and he said it should probably be reassigned to someone who's working on gRPC since it will be part of that.

[2019-03-26 22:27] mgubis commented on #6919
I have finally managed to implement the changes as agreed (I apologize for the long time it took). Nevertheless, I came across following issue:

DefaultPageApplicationModelProvider is currently unit tested. DefaultPageApplicationModelPartsProvider (created by me) is not directly unit tested (I didn't create neither specific tests, nor migrated tests from DefaultPageApplicationModelProvider). Its f

[2019-03-26 22:54] apowell-barfoot commented on #6923
@muratg I'm wondering what are the limitations of using Web Sockets and Azure App Services? Other than connection limitations, I'm curious of the other limitations you might be suggesting here?

We are having similar issues of connections disconnections and packet loss in between an .net core 2.2 API and a VuaJs 2 SPA. Using a Redis backplane. We played around with Azure SignalR service and found

[2019-03-26 23:01] silmon27 opened #8843 "Unexpected exception in TimingPipeFlusher.TimeFlushAsync when using HttpProtocols.Http1AndHttp2"
I'm getting a couple dozen "Unexpected exception in TimingPipeFlusher.TimeFlushAsync" exceptions in my logs every day. This happens only when HTTP2 support is enabled in Kestrel.

[code]

I can't seem to trigger it myself. The exceptions occur on a production server.

The app is running in Kubernetes from the mcr.microsoft.com/dotnet/core/aspnet:2.2.3-alpine image.

[2019-03-26 23:08] #5577 closed

[2019-03-26 23:23] jkotalik commented on #8843
To confirm, you are saying this only occurs when using HTTP/2, correct? The title and issue conflict.

[2019-03-26 23:35] silmon27 commented on #8843
The exceptions only occur when ListenOptions.Protocols is set to HttpProtocols.Http1AndHttp2, they don't occur when the default HttpProtocols.Http1 is used. I haven't tried forcing it to HTTP/2 only.

[2019-03-26 23:42] HaoK commented on #5409
I think this is already in the current templates, after logging in, you can go to manage page and there's a resend confirmation link if not confirmed, its a green checkbox otherwise.  @blowdart is that sufficient?

[2019-03-26 23:50] DanJ210 commented on #8180
@tratcher yes but it doesn't work in other apps. What I'm trying to understand is how the above code works by itself in a generated 2.2 app but it doesn't work in other 2.2 apps. Other 2.2 apps require more.

[2019-03-26 23:56] Eilon opened #8845 "Automate acquisition of latest SDK"
Depends on: https://github.com/dotnet/arcade/issues/811

We're doing a one-off here: https://github.com/aspnet/AspNetCore-Internal/issues/2001, PR: https://github.com/aspnet/AspNetCore/pull/8670

And we should automate it with maestro once the Arcade issue is fixed.

[2019-03-27 00:13] epignosisx opened #8846 "Model Binding & Type Converter usage"
I'm trying to create a `TypeConverter` to handle comma separated values coming from the request. The documentation on this topic is very light, so I'm not sure if I'm missing something.

The type converter executes, it receives the value of friends, but the return value never makes it to the action method model.

This is how the code looks:

[code]

What am I doing wrong? By the way, it would be g

[2019-03-27 00:14] pwoosam opened #8847 "ControllerBase.Ok(object value) responds with 204 status code when value is null"
### Describe the bug
Returning Ok(null) from a controller action results in a 204 status code, rather than a 200. I'm not sure if this in intended, but it's not what I would expect.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2'
2. Create a controller with the following method:
[code]
3. Make a HTTP Get request to the endpoint where x in the query st

[2019-03-27 00:15] ajaybhargavb commented on #8790
@mkArtakMSFT it is related to that because this happens due to a lack of line mappings. But this is not components related. The fix will be different.

[2019-03-27 00:28] rynowak commented on #8846
Shouldn't you be returning a value of type `Friends`?

[2019-03-27 00:37] NTaylorMullen commented on #5092
Done

[2019-03-27 00:59] #6374 closed

[2019-03-27 01:27] rynowak opened #8848 "Building the repo fails on a clean repo"
Running the following fails for me on a clean repo

[code]

[code]

[2019-03-27 01:32] rynowak commented on #8848
I can work around this for now using `build.ps1 -NoBuildNative` but it looks like something basic is broken

[2019-03-27 01:32] jkotalik commented on #8848
Dup of https://github.com/aspnet/AspNetCore-Internal/issues/2008, but this one has more details. I'll close the other.

[2019-03-27 01:43] Penergy commented on #8732
@pranavkm @muratg , I've found the problem which is not the issue from ASP.NET Core. It's the problem about APSNETCORE_ENVIRONMENT in my project.

Sorry to disturb your guys and thanks for your help! You are creating such a wonderful framework!

[2019-03-27 02:37] epignosisx commented on #8846
Yes! That was it (I got inheritance backward). Thank you!

Any reason why type converters on properties are not supported? In this particular example, it would be much better to have:

[code]

[2019-03-27 02:46] pranavkm commented on #7891
@hzicong I'd be happy to investigate if there's a somewhat way to reproduce the error. It's a bit difficult to tell from the stack trace what the cause of the OOM is. That said, in 2.2, you shouldn't see this error unless you're performing runtime compilation which does not come in to the picture unless you're editing files on disk or using embedded views. For the latter, we strongly encourage usi

[2019-03-27 02:46] #7891 closed

[2019-03-27 02:52] hzicong commented on #7891
I used redis without release,
and i fixed this bug

[2019-03-27 02:59] jijiechen commented on #5834
So can I understand it as the security stamp functionality is a must have when one wants to provide his own implementations of the stores and when he wants to use the token validation mechanism?
In my case, I didn't implement a `SecurityStampStore`, so the checking of `SupportsUserSecurityStamp` returned `false`, and the security stamp mechanism did not work.

If so, then it's better to have some

[2019-03-27 03:54] rynowak commented on #8846
No, there's really no good reason why we don't support this. Funnily enough it hasn't come up before, but I agree that it would be useful.

I'm sure we'd except a PR for something like this if you're interested. The starting point would be to use the model metadata system to get it to treat this property as a simple type, and then start hacking away at https://github.com/aspnet/AspNetCore/blob/mas

[2019-03-27 04:13] NTaylorMullen opened #8849 "[Tooling] Changing Razor project configurations, renaming a file and then adding import files explodes the project system."
### Describe the bug
Changing Razor project configurations and then adding import files explodes the project system . Found this issue when testing out Razor in VSCode (project configurations are always updated on start) by renaming a file and then adding a `_ViewImports.cshtml`. After the explosion CPS ignores all other project updates.

### To Reproduce
Steps to reproduce the behavior:
1. Create

[2019-03-27 04:31] Eilon commented on #8848
Dup of https://github.com/aspnet/AspNetCore-Internal/issues/1857

[2019-03-27 04:34] rynowak commented on #8848
But it doesn't seem incredibly related?

[2019-03-27 06:02] yhxwyzm opened #8851 "[SignalRCore]How to use IUserIdProvider"
ASP.NET Core 2.2.0

I using IUserIdProvider in my project

    public class CustomUserIdProvider : IUserIdProvider
    {
        private UserIdService _userIdService;
        public CustomUserIdProvider( UserIdService UserIdService)
        {
            _userIdService = UserIdService;
        }
        public string GetUserId(HubConnectionContext connection)
        {
            if (string.IsNul

[2019-03-27 07:18] javiercn commented on #5409
Is the bit about the external login fixed too? I think that was the main pain ñoknt

[2019-03-27 07:36] Aculeo commented on #8823
Ah, should've mentioned that. I guess the app is mixing things unfortunately. It's an Asp.NET Web API / OWIN app with custom DI (Autofac), so no `ConfigureServices()` I'm afraid:

[code]

[2019-03-27 07:42] wstaelens commented on #8399
sad to see that not much time will be invested in this.
I'm aware of IStringLocalizer and have found several solutions, but still an area that could be improved a lot.

[2019-03-27 07:48] HaoK commented on #5410
As of https://github.com/aspnet/AspNetCore/issues/5767 you can resend email confirmations via manage (if you can log in), or from the login links

[2019-03-27 07:48] #5410 closed

[2019-03-27 07:50] HaoK commented on #5409
Yep that was done already recently in  https://github.com/aspnet/AspNetCore/issues/5767, closing this bug then as it will be taken care of via #8356 when its merged

[2019-03-27 07:50] #5409 closed

[2019-03-27 07:52] HaoK commented on #5751
Tracked via #8356

[2019-03-27 07:52] #5751 closed

[2019-03-27 08:19] hoyerfranz commented on #7088
I am also having this problem. Any updates or solution on this matter ?

[2019-03-27 10:51] #8516 closed

[2019-03-27 11:18] SteveSandersonMS opened #8852 "Update templates/middleware to use MapFallbackToPage/File"
Not long ago @rynowak implemented `MapFallbackToPage` and `MapFallbackToFile`, but our templates and the Blazor middleware don't yet use them.

The Razor Components template still has `@page "/{*catchall}"` in `Host.cshtml`, but I think this should be replaceable just by `@page` (right? or is that even needed?), with `MapFallbackToPage` added to `Startup.cs`. This should fix the current issue wher

[2019-03-27 11:19] epignosisx commented on #8846
That’s great! I’ll try to venture into implementing it.

[2019-03-27 11:19] #8846 closed

[2019-03-27 12:22] blowdart commented on #8823
Ah. The back compat piece is as simple as it can possibly be, it's not meant to be a long term solution so it's not something we really want to add features to.

[2019-03-27 12:41] AdamUCF commented on #8122
I ran into this and the issue error and the issue ended up being that I was using DPAPI to store keys in the user's registry and my app pool wasn't set to load the user profile. Flipping that fixed this.

[2019-03-27 12:51] BlueDragon709 opened #8853 "Optional parameters signalr"
Using AspNetCore 2.2.

I have a server side function that accepts a optional parameter.
But when iI call this function from the client and not implementing this parameter i get a error:

`
Failed to invoke hub method "MethodThatIamCalling"
System.IO.InvalidDataException: Invocation provides 1 argument(s) but target expects 2.
 at Microsoft.AspNetCore.SignalR.Protocol.JsonHubProtocol.BindArguments(

[2019-03-27 13:00] Z10yTap0k commented on #8548
[angular.saz.txt](https://github.com/aspnet/AspNetCore/files/3013167/angular.saz.txt)
[angular.txt](https://github.com/aspnet/AspNetCore/files/3013168/angular.txt)
[angular_code.txt](https://github.com/aspnet/AspNetCore/files/3013169/angular_code.txt)
[whitchhunt.ru.har.txt](https://github.com/aspnet/AspNetCore/files/3013170/whitchhunt.ru.har.txt)
[wpf.saz.txt](https://github.com/aspnet/AspNetCore

[2019-03-27 13:57] SteveSandersonMS commented on #8274
@stavroskasidis I don't think your repro code is related to this issue. The code you've posted has a bug that will cause an infinite loop: each time `MyComponent` calls `ParametersSetHandler.InvokeAsync(null)`, that will cause the owner of `ParametersSetHandler` (i.e., its parent) to re-render. Its parent will then re-render the child, which immediately tells the parent to re-render again, and so

[2019-03-27 14:06] stavroskasidis commented on #8274
@SteveSandersonMS Oh... ok, that makes sense. Sorry for the inaccurate report then.

However what would be a workaround for this case, having an `EventCallback` that is executed inside `OnParametersSetAsync`? Isn't it easy to fall into this trap?

[2019-03-27 14:19] cremor opened #8855 "DefaultApiConventions should define a 204NoContent response for Delete action methods"
### Describe the bug
The [DefaultApiConventions](https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/DefaultApiConventions.cs) should define a `Status204NoContent` ResponseType in addition to the currently defined ResponseTypes.

Right now many documentation pages and tutorials return `NoContent` in their `Delete` method. When you apply the `DefaultApiConventions` and add [web AP

[2019-03-27 14:20] VBAndCs commented on #8783
@Eilon
I descovered some errors due to different namespaces of the two projects, but the problem stays!
I don't think this is due to package versions. The two projects uses the same packages, and C# works.
I think this maybe related to precompiled views, which can't be used in VB.NET becuase it is generated as C# classes and will not be compiled. This is turned off in VB.NET project, but maybe Raz

[2019-03-27 14:32] fubar-coder commented on #4772
Is it correct that I, when I want to use TLS, have to do the following steps:

1. Wrap the pipes into a stream
2. Use SslStream
3. Wrap the stream into pipes

I hoped that I could avoid this pipe <-> stream <-> pipe conversion.

[2019-03-27 14:39] bhrugen90 opened #8856 ".cshtml change does not show on page refresh in ASP.NET Core 3"
### Describe the bug
This is working in ASP.NET Core 2.2, in VS2019.

When you run a project and while project is running, you make a change in view(.cshtml) and go back and refresh the page (while application is running) it used to show the change made.

But is ASP.NET Core 3 I have to run the project again to see changes made in view. To reproduce, if you open a new project and run the project a

[2019-03-27 14:43] bordecal commented on #8519
Sure.  Is there anything I should do to indicate that I'm working on it (to avoid having someone else pick it up in parallel)?

[2019-03-27 14:54] FrTerstappen commented on #8856
This support articel https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.0 says that you have to install an extra package and activate the recompilation of views in 3.0.
I think this is changed from 2.2

[2019-03-27 15:05] intelli9 commented on #8740
OK. I found a bug in my own code by creating an Access Violation-specific rule in DebugDiag. Otherwise it catches random exceptions massively generated within Kestrel.

[2019-03-27 15:05] #8740 closed

[2019-03-27 15:06] SteveSandersonMS commented on #8274
An `EventCallback` is to notify a component that an event has occurred and it should re-render. Since that doesn't seem to be what you want in this case, don't use an `EventCallback`.

If you have further questions about this, could you please file them in a separate issue? That will help keep this one on topic.

[2019-03-27 15:08] rynowak opened #8857 "Add support for TypeConverter on propertes/parameters in MVC"
Discussed here originally: https://github.com/aspnet/AspNetCore/issues/8846

This is a really simple way to implement model binding behaviour, and is a totally appropriate thing to do when you have a single field in the request that maps to a complex object.

It would be easy for us to support this because we already have infrastructure that users model binding to call a type converter.

[2019-03-27 15:10] rynowak commented on #8857
@artakm - creating this to track the scenario, we just had this suggested and it's a pretty good idea.

[2019-03-27 15:11] anurse opened #8858 "[Epic] Kestrel HTTP/2 improvements"
We want to improve the HTTP/2 experience in Kestrel

Child Items:
* ~~https://github.com/aspnet/AspNetCore/issues/6192 Pool HTTP/2 Streams on the Http2Connection~~ Cut from 3.0
* [x] https://github.com/aspnet/AspNetCore/issues/7635 Disable request body data rate limits per HTTP/2 stream

[2019-03-27 15:12] anurse commented on #8858
This is very closely related to gRPC scenarios @glennc

[2019-03-27 15:13] Eilon commented on #8848
No?

[2019-03-27 15:15] Eilon commented on #7162
We're trying to prioritize the work, so we're open to adjusting priorities based on feedback.

[2019-03-27 15:16] Eilon commented on #6192
Okie dokie, moving to gRPC area.

[2019-03-27 15:16] SteveSandersonMS commented on #8274
I've tracked this down. It's among the changes we made for circuit lifetime and prerendering. What happens is:

 * SignalR has a message loop that does an `await` for you to process each message. Until you finish handling each message, it won't listen for the next message.
 * Our `StartCircuit` method does an `await Renderer.AddComponentAsync` for each of the root components. This doesn't wait jus

[2019-03-27 15:17] Eilon commented on #8783
@VBAndCs can you please post a complete app to GitHub that demonstrates the problem? And show your `dotnet --info` output so we see what you have installed.

[2019-03-27 15:18] bhrugen90 commented on #8856
Hi,
I do not believe that is working. I tried that and then when i make just a string change in view and refresh i get the following error

[2019-03-27 15:21] bhrugen90 commented on #8856
That did the trick but why would this be removed from the default setup of a project? This seems like one of the very basic requirement? or am i missing something?

[2019-03-27 15:25] SteveSandersonMS commented on #8274
Actually the right fix might just be to guarantee we never pause the SignalR message loop.

[2019-03-27 15:28] rynowak commented on #8274
Since we have our own sync context I agree with all of the above.

The reason to pause the message loop is to guarantee ordering. We implement ordering ourselves.

[2019-03-27 15:29] davidfowl commented on #7162
We should do both JWT and Cookie then. Both Microbenchmarks and Full end to end benchmarks.

[2019-03-27 15:32] Eilon commented on #3588
We're closing this issue because it is not planned for any upcoming release.

[2019-03-27 15:32] #3588 closed

[2019-03-27 15:32] rynowak commented on #7162
I hope you're ready to be sad about the perf of the JWT code 😆

[2019-03-27 15:33] Eilon commented on #4136
@glennc / @tratcher / @BrennanConroy - is there any work required here? What doesn't work? Where would the fix go?

[2019-03-27 15:36] Eilon commented on #8773
Parking this in the discussions milestone so others can find it for a while (it will be auto-closed eventually).

BTW for the SDK installer you can report issues or suggestions here: https://github.com/dotnet/core-sdk

[2019-03-27 15:37] Eilon commented on #8791
Killing random runaway threads is a sure way to make an app have unexpected, and potentially dangerous behavior. The only safe thing to do is to kill the entire process.

Having said that, tagging @sebastienros who might have some suggestions on how to diagnose these types of issues.

[2019-03-27 15:37] davidfowl commented on #8274
I was going to comment on this but I was on vacation 😄. Sorry you had to spend your time investigating this @SteveSandersonMS. There's an issue in SignalR to allow a maximum number of concurrent invocations (it should really be more than 1), that should help solve this issue.

cc @anurse @BrennanConroy @halter73

[2019-03-27 15:44] javiercn commented on #8274
Agree. It should not wait at all, and deal with errors in the way we do in other places. We should just wrap the task to get notified and that's it.

Once StartCircuit has been called the connection must be up and running already so UpdateDisplay should work just fine.

[2019-03-27 15:56] NTaylorMullen commented on #8849
c161cbfc4471d6ff6eafd58f3af572c98a52b492

[2019-03-27 15:56] #8849 closed

[2019-03-27 16:00] pranavkm commented on #8855
We based the pattern for the delete convention based on the scaffolded code for a controller using EF . @glennc, thoughts?

[2019-03-27 16:02] johnbeisner commented on #8806
Ideally we would like to be done with SDK Target Pack authoring before 3.0.0 Preview 4 moves into its next phase.
@leecow
Can you answer @dougbu questions from a release perspective.

[2019-03-27 16:08] danroth27 opened #8859 "Update Blazor package versions to match the .NET Core 3.0 versions"

[2019-03-27 16:09] jkotalik commented on #7765
I don't believe it would be much work at all. It _should_ just be adding an additional props file to each sample.

[2019-03-27 16:11] leecow commented on #8806
1. I presume there would be some unexpected behaviors if the targeting pack were missing but someone would need to verify
2. Don't know - you'll need to as the VS for Mac folks what their expectation are.
3. Targeting packs should be in for Preview 5 at the latest. However, given the amount of work we'll have heading into that release it may be nice/wise to complete in Preview 4 if the work fits
4

[2019-03-27 16:20] danroth27 opened #8860 "Update Blazor survey link"
https://go.microsoft.com/fwlink/?linkid=2086020

[2019-03-27 16:25] mkArtakMSFT commented on #8150
Thanks for contacting us, @robertjak.
We did considered this in the past but have decided not to do this.

[2019-03-27 16:25] #8150 closed

[2019-03-27 16:26] ctrl-alt-d commented on #8341
@vchirikov :

*[Blazor 0.9.0] How to switch between ASP.NET Core Razor Components and client-side Blazor on 0.9.0?* (https://github.com/aspnet/AspNetCore/issues/8523) is already assigned to @danroth27 :)

[2019-03-27 16:27] mkArtakMSFT commented on #8084
Let's fix this if the fix is straight forward and simple. Otherwise, let's do nothing.

[2019-03-27 16:27] Eilon commented on #7765
@jkotalik - from my understanding during triage it was quite a bit more work to get the native assets to work as well. But either way, not as simple as using in-proc, and for no clear gain.

[2019-03-27 16:27] #8413 closed

[2019-03-27 16:30] mkArtakMSFT commented on #7924
Thanks for contacting us, @fatagun.
This is not something we plan to do. Hope @JeremyCaney's proposal will help to solve your problem.

[2019-03-27 16:30] #7924 closed

[2019-03-27 16:31] anurse commented on #8274
https://github.com/aspnet/AspNetCore/issues/5351

If this is important for Razor Components, please let us know so we can prioritize appropriately.

[2019-03-27 16:31] pranavkm opened #8861 "Components.Server is incorrectly built on linux-musl build"
Components.Server.csproj [conditionally embeds](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Server/src/Microsoft.AspNetCore.Components.Server.csproj#L36) the components.server.js based on the presence of a flag. However, this file is absolutely required for the server to work.

As of now, `BuildNodeJS=false` is true in the linux-musl build. Need to figure out why it's set for t

[2019-03-27 16:31] mkArtakMSFT commented on #7656
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-03-27 16:31] #7656 closed

[2019-03-27 16:31] pranavkm commented on #8861
cc @SteveSandersonMS

[2019-03-27 16:31] anurse commented on #5351
Sounds like this may be important for Razor Components (cc @SteveSandersonMS @davidfowl @rynowak @javiercn)

[2019-03-27 16:32] VBAndCs commented on #8783
[code]

[ConsoleApp5.zip](https://github.com/aspnet/AspNetCore/files/3014278/ConsoleApp5.zip)

[2019-03-27 16:37] SteveSandersonMS commented on #5351
@anurse It's not required for Razor Components, because Razor Components has its own sync context anyway. As far as SignalR is concerned, all the calls into `ComponentHub` are fire-and-forget (or will be, once we fix one outstanding bug).

[2019-03-27 16:38] dougbu opened #8862 "Correct parameters used with default (hosted) pools"
The AzDO pipeline change @MattGal made in aspnet/Extensions@d4522c6b2e should work short term. But, the future-proof way to do this is to specify just the `vmImage` and not the pool `name` when using the default (hosted) pools e.g.
[code]
instead of
[code]

Background is AzDO is merging their various pools into one and deprecating the `name` parameter when using these pools (soon to be "this pool"

[2019-03-27 16:38] mkArtakMSFT commented on #7663
Thanks for contacting us, @mqudsi.
Feel free to send us a PR for this and we'd happily consider it.

[2019-03-27 16:41] mkArtakMSFT commented on #7662
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-03-27 16:41] davidfowl commented on #5351
We should do this regardless.

[2019-03-27 16:42] mkArtakMSFT commented on #7576
Thanks for contacting us, @Ponant.
@javiercn, can you please look into this? Thanks!

[2019-03-27 16:43] mkArtakMSFT commented on #7264
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-03-27 16:43] #7264 closed

[2019-03-27 16:44] mkArtakMSFT commented on #6717
Closing this as there was no community interest in this.

[2019-03-27 16:44] #6717 closed

[2019-03-27 16:44] Eilon commented on #8783
Thanks for posting the app! So this app causes an error when you run it?

[2019-03-27 16:46] pranavkm commented on #7661
I don't think the feature is well-supported across browsers. Example: https://bugs.chromium.org/p/chromium/issues/detail?id=19237

Do you have of a more recent listing that describes what the status for HTTP Link headers for is across browsers?

[2019-03-27 16:46] mkArtakMSFT commented on #6675
We already normalize the line endings and this should not be an issue any more.

[2019-03-27 16:46] #6675 closed

[2019-03-27 16:49] mkArtakMSFT commented on #6626
Seems this is an issue with the helix specifically, where the deps file isn't being properly published. @HaoK assigning this to you. Feel free to close if this is not relevant any more.

[2019-03-27 16:49] Eilon commented on #8783
OK so it looks like you don't actually have the .NET Core 3.0 Preview 3 SDK. You have to install that, or else nothing is expected to work.

[2019-03-27 16:49] #8783 closed

[2019-03-27 16:51] VBAndCs commented on #8783
It runs, but can't find the Index.chtml view
![dep](https://user-images.githubusercontent.com/48354902/54920852-faf3e300-4f0c-11e9-86a3-548889ee83c0.jpg)

Looking at source code, this is not a file not found case, but the Page is null, so the Razor View engine couldn't create the page. Why?

[2019-03-27 16:51] mkArtakMSFT commented on #6584
Thank you for your feedback.
We're closing this issue as the behavior discussed is by design.

[2019-03-27 16:51] #6584 closed

[2019-03-27 16:52] #8193 closed

[2019-03-27 16:53] VBAndCs commented on #8783
@Eilon

I'll install it now, but remember: C# project is working now. Why?

[2019-03-27 16:54] mkArtakMSFT commented on #6337
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-03-27 16:54] #6337 closed

[2019-03-27 16:55] mkArtakMSFT commented on #6329
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-03-27 16:55] #6329 closed

[2019-03-27 16:57] VBAndCs commented on #8783
I set it up, and now I got runtime errors, and the browser shows:
[code]

[2019-03-27 16:57] mkArtakMSFT commented on #6333
Thanks for contacting us, @CristianVladescu.
We should definitely raise an error in this case.

[2019-03-27 16:58] VBAndCs commented on #8783
This is the message that appears when I run:
![untitled1](https://user-images.githubusercontent.com/48354902/55096307-4c919e80-50c2-11e9-91e3-83c3e9b4a14e.jpg)

[2019-03-27 17:03] VBAndCs commented on #8783
@Eilon
And C# project doesn't compile anymore, giving NETSDK1045 error :

This is why I removed this sdk last time. I expect that new sdk can run old apps. What should I do?

[2019-03-27 17:04] #8804 closed

[2019-03-27 17:10] Tratcher commented on #8761
Correct, this is by design. If you really want to register your service under multiple types then you can register one of the types as a factory that redirects.
https://github.com/aspnet/Extensions/blob/master/src/Hosting/Hosting/src/HostBuilder.cs#L202

[2019-03-27 17:12] anurse commented on #5351
@davidfowl I don't disagree, it just doesn't align with any of [our epics](https://github.com/aspnet/AspNetCore/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Aepic+label%3Aarea-signalr+milestone%3A3.0.0) so the prioritization is a little different. If Razor Components had required it, that would have changed the prioritization.

[2019-03-27 17:19] Eilon commented on #8783
Can you try uninstalling any old 3.0 versions you have? Did you restart VS after installing? This issue doesn't seem related to ASP.NET Core anymore.

[2019-03-27 17:19] JulioJu commented on #6329
@dougbu you seem interested to my suggestion, therefore maybe you could open this issue again :-) ?

[2019-03-27 17:20] JunTaoLuo commented on #8739
Sounds like an ordering issue. The auth middleware should be after the batch middleware and the batch middleware should ensure an appropriate scope is available to each sub-request.

[2019-03-27 17:27] Tratcher commented on #8808
Short answer: Use 2.2's new IIS In-proc support to avoid this error.

When you're not going to consume the request body the server tries to drain the body so it can continue re-using the connection. There's a limit to how much it's willing to try draining (5 seconds?), after which it closes the connection. In the ANCM reverse proxy scenario the error from closing the connection is reported with a

[2019-03-27 17:31] davidfowl commented on #5351
@anurse Where is the "we have bugs" epic?

[2019-03-27 17:33] SteveSandersonMS commented on #8274
Turns out that in general we don't block the SignalR message loop. In all cases *except one* we just hand off to the circuit's dispatcher and the call is synchronous from SignalR's perspective.

The one bad case was `StartCircuit` which did not do this. I've fixed this in #8863 by making `CircuitHost.Initialize` synchronous. The upstream caller is free to continue handling other incoming messages

[2019-03-27 17:36] SteveSandersonMS commented on #8861
Thanks for tracking this, @pranavkm!

[2019-03-27 17:44] SteveSandersonMS commented on #8274
@davidfowl Thanks for the info. I wasn't regarding this as a SignalR issue since, even if SignalR did allow concurrent hub method invocations, we'd have had a different problem where you could have received incoming JSInterop calls before the circuit was flagged as started. The underlying false assumption is now fixed in #8863 so neither problem occurs.

Totally agree it would be good for SignalR

[2019-03-27 17:49] #8132 closed

[2019-03-27 17:49] ryanbrandenburg commented on #8132
Closed in https://github.com/aspnet/AspNetCore/pull/8685.

[2019-03-27 17:55] javiercn commented on #8786
I think the main pain point here is when there is logic that needs to run on OnParametersSetAsync that requires performing a JSInterop call or similar and retrieve results in order to procceed.

Initializing JS for an element can be done as you said in OnAfterRender if we are willing to live with making the user keep track of it. As an alternative we might be able to subsume it inside ElementRef b

[2019-03-27 17:55] pranavkm commented on #8861
@JunTaoLuo \ @dougbu, would you know the answer to this?

[2019-03-27 17:59] dougbu commented on #6329
As I said

I also mentioned potential problems including that attribute. Given that, I won't be reopening this issue.

----

If you do not want the value to be required in the form, yes.

[2019-03-27 18:00] SteveSandersonMS commented on #8786
This is covered by scenario A above, in that during prerendering you simply can't use JSInterop call output, so you need to render something different. After switching to interactive mode, you become free to make your JSInterop call and then render based on the results of that.

[2019-03-27 18:16] SteveSandersonMS commented on #8842
Can we close this in favour of #8852, since that is more specific about the planned solution?

[2019-03-27 18:18] SteveSandersonMS commented on #8852
Whatever change we make in UseBlazor needs to allow some mechanism by which the developer could use a .cshtml host page instead of index.html.

[2019-03-27 18:20] DamianEdwards commented on #8836
Seems like an issue in the SDK, or the data we pass to the relevant targets in the SDK, that do assembly resolution and knockout. My understanding is that assemblies from the shared framework should always win, and previously you'd get a build error detecting a downgrade (since 2.1-ish).

[2019-03-27 18:20] Tratcher commented on #8763
Agreed, the host layering should have little or no effect on the per-request performance. It would affect configuration, logging, which could have secondary perf effects.

@sebastienros We should covert our benchmarks to HostBuilder anyways to keep them in line with our 3.0 templates/guidance.

[2019-03-27 18:34] y123321 commented on #3215
something that resembles that happened to me, there was another project (.net framework) in the solution and it was referenced by the .net core project. I've deleted the project from the solution, and after that I've started seeing this error when trying to publish. It was solved by re-adding the other project to the solution, referencing it again, removing the reference from the references window

[2019-03-27 18:37] javiercn commented on #8786
Yep, I'm not disagreeing with you. I'm giving you alternatives to introducing an additional method. Ultimately, what prevents you from calling `StateHasChanged` (properly protected by a guard) in OnAfterRenderAsync?

How do we model this for the most general case where the client gets disconnected from the server? You are going to have the same problem if you check periodically something using js

[2019-03-27 18:41] EhAron commented on #3449
Was this ever solved? Have exact same issue except I created the certificate with OpenSSL per this thread: [https://github.com/aspnet/DataProtection/issues/215#issuecomment-297221456]
Added Cert to Trusted Root and Personal.

[2019-03-27 18:46] SteveSandersonMS commented on #8786
Nothing stops you. That’s exactly how you would deal with scenario A. Only difference is it’s not OnAfterRenderAsync, it needs to be a different event representing the transition into interactive mode.

About later disconnection, I don’t consider that part of these scenarios. It’s exactly like periodically invoking some remote HTTP API. You have to handle failures if it’s not fire-and-forget.

[2019-03-27 19:00] javiercn commented on #8786
Only because you want it to happen once? In the two implementations we care about, OnAfterRenderAsync only gets called after the display has been updated, at which point you have become interactive, hence my point of simply doing:
[code]

If you don't think this is good enough then another method is required, but given that we don't want to add an extra method if we can avoid it, i would consider

[2019-03-27 19:01] javiercn commented on #8786
Finally, I leave the decision up to you. I'm trying to play a bit of devils advocate here, but I know you'll do the most sensible thing.

[2019-03-27 19:10] #8520 closed

[2019-03-27 19:11] dougbu commented on #8861
I'm not seeing where `-BuildNodeJS` or `--build-nodejs` is passed into the build script and the default is not to build NodeJS projects. Where we use `-All` or `--all`, we also specify `-NoBuildNodeJS` or `--no-build-node-js`.

So, I'm not sure where we're building NodeJS projects. Is this what you're seeing?

[2019-03-27 19:16] SteveSandersonMS commented on #8786
That's great, I totally appreciate it. Thanks for adding your thoughts and questioning the design concepts!

I'm entirely open to using `OnAfterRenderAsync` as the lifecycle method for this, but it would involve changing its meaning. Currently prerendering executes `OnAfterRenderAsync` immediately after prerendering. We'd need to change this so it doesn't execute until the client reconnects and re

[2019-03-27 19:18] anurse commented on #4344
This is dependent upon all the corefx discussions.

[2019-03-27 19:20] dougbu commented on #8862
Where necessary i.e. when we've hit resource limits using the default (hosted) pools in `release/2.x` branches, move to using BYOC pools (see also aspnet/AspNetCore-Internal#2033).

In addition, use this opportunity to clean up any references to the following deprecated pools.
- dnceng-linux-external-temp
- dnceng-linux-internal-temp
- dnceng-windows-spanish-external-temp
- dotnet-external-temp
-

[2019-03-27 19:20] VBAndCs commented on #8783
@Eilon
It worked. Thanks.
1- I uninstalled all .Net Core SDKs.
2- I Installed SDK 3 preview.
3- I Created a fresh C# Web APP and copied its components to a VB app.
4- I modified the vbproj to set the PreserveCompilationReferences and add a reference to Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation
[code]

5- I added ' services.AddMvc().AddRazorRuntimeCompilation()' to the `Startup.ConfigureSer

[2019-03-27 19:22] danroth27 commented on #8842
Sounds good to me.

[2019-03-27 19:22] #8842 closed

[2019-03-27 19:22] pranavkm commented on #8861
Components.Server depends on https://github.com/aspnet/AspNetCore/blob/master/src/Components/Browser.JS/Microsoft.AspNetCore.Components.Browser.JS.npmproj to have successfully built. You're right when you call out that `-NoBuildNodeJs` is set when the build says `-All`, I thought that was limited to the linux-musl configuration.

I modified the Components.Server project to always build npmproj and

[2019-03-27 19:23] anurse commented on #8165
We're waiting on the corefx work to settle a bit before we can do this.

[2019-03-27 19:24] rynowak commented on #8786
It's going to take me a few minutes to catch up on this thread - which I need to do anyway 👍 Hold tight

[2019-03-27 19:26] NTaylorMullen opened #8865 "[Tooling] [Tracking] Quality of life improvements for Razor project system"
This is just a tracking issue for me to gather my thoughts on what we should improve in Razor tooling to make future platforms easier to maintain

- Make `HostDocument` an `IComparable`
- Change `ProjectSnapshotManager.RemoveDocument` to take in a file path instead of a host document.

[2019-03-27 19:29] anurse commented on #4772
Closing this because the core of bedrock is in Kestrel. We still have a number of reactions we want to make (#4623 for example) but those should be tracked in separate issues.

[2019-03-27 19:29] #4772 closed

[2019-03-27 19:29] Spikeophant opened #8866 "Using DPAPI with .net timed out talking to Domain Controller, didn't appear to fail over to another Domain Controller"
We are using DataProtection to encrypt and decrypt data using a domain user as the key.  Today we had a firewall change that blocked the server from talking to one domain controller. However, we have several others which communication worked fine too.  Using a login of a user that had not hit this server in some time showed extended login times, but logins worked.  The decryption process errored o

[2019-03-27 19:30] anurse commented on #6596
Not user facing so prioritizing this after preview 5 (we can pull it up if we have time).

[2019-03-27 19:32] anurse commented on #6666
RaaS has never seen this. We'll close this and let RaaS open an issue.

[2019-03-27 19:32] #6666 closed

[2019-03-27 19:33] anurse commented on #7604
We need to resolve the corefx stuff before we can close on this. If that happens in time, let's do it.

[2019-03-27 19:34] anurse commented on #7142
Duplicate of https://github.com/aspnet/AspNetCore-Internal/issues/1323

[2019-03-27 19:34] #7142 closed

[2019-03-27 19:35] blowdart commented on #8866
That's really weird. @GrabYourPitchforks do you know what should happen? I'd have through it should try for other DCs

[2019-03-27 19:39] anurse commented on #7336
Dupe of https://github.com/aspnet/AspNetCore-Internal/issues/1775

[2019-03-27 19:43] AlexejTimonin commented on #8847
This behaviour is done by Microsoft.AspNetCore.Mvc.Formatters.HttpNoContentOutputFormatter, the default configuration of this formatter will return 204 NO CONTENT if the body is null. To opt-out add this configuration in your `Startup.ConfigureServices` method:
[code]

The behaviour is indeed confusing.

[2019-03-27 19:44] anurse commented on #4763
We think there's enough support to do this now.

[2019-03-27 19:48] anurse commented on #4744
We don't expect to have capacity for this in 3.0. If gRPC wants it to improve performance, you're welcome to have it :) (@jamesnk @juntaoluo @Eilon)

[2019-03-27 19:49] anurse commented on #4740
Way too marginal :)

[2019-03-27 19:49] #4740 closed

[2019-03-27 19:49] cremor commented on #8847
This is especially confusing because an action method that returns `void` results in a 200 OK without any body. Not very consistent.

[2019-03-27 19:50] anurse commented on #4734
Part of HTTP/2 perf stuff, which is generally driven by gRPC needs here. We don't really have the capacity for it in 3.0 (cc @Eilon @JamesNK @JunTaoLuo)

[2019-03-27 19:53] anurse commented on #4716
Another HTTP/2 perf improvement to be driven by @aspnet/grpc

[2019-03-27 19:54] anurse commented on #4732
Let's take a quick look since this may be something we want to take a breaking change for (to rename the shared feature)

[2019-03-27 20:00] mrlife commented on #8787
This makes a lot of sense, especially with razor components used within a razor pages web app.

[2019-03-27 20:02] danroth27 commented on #8786
I think the existing behavior of OnAfterRenderAsync is pretty intuitive.

Instead of trying to create a broad abstraction for prerendering vs interactivity, have you considered instead having some way to detect if specific services are available for use? For example, what if there was an API (maybe on IJSRuntime?) that let you check specifically if JS interop was currently available?

[2019-03-27 20:02] javiercn commented on #8786
You are right. Given that’s the case it probably makes more sense to make it run after the client has reconnected.

If you are only prerendering the two main cases we are trying to enable are not available (hook js to html element, initialize something based on a JS call)

If you need to dispose resources the right thing is to implement IDisposable.

[2019-03-27 20:07] pranavkm commented on #8786
Is it odd for this event to exist on Component when it only applies to one kind of Components (server-side rendererd)?

[2019-03-27 20:18] rynowak commented on #6763
Marking this as done

[2019-03-27 20:18] #6763 closed

[2019-03-27 20:19] rynowak opened #8867 "Consider returning IEndpointConventionBuilders from the various MVC registration methods"
We cut this from the MVC startup experience and we want to think about bringing it back in case its needed for any scenerios

[2019-03-27 20:36] danroth27 commented on #8523
Unfortunately it looks like there isn't really a good way to do this with Blazor 0.9.0 and Razor Components in .NET Core 3.0 Preview 3 :-(. We need to get this fixed for Preview 4. I believe https://github.com/aspnet/AspNetCore/issues/8852 should make this scenario reasonable again. @stevesandersonms Can you confirm?

[2019-03-27 20:44] danroth27 commented on #8341
Sadly it looks like we broke this scenario with Blazor 0.9.0 and Razor Components in .NET Core 3.0 Preview 3. We will get this fixed for Preview 4 and the next Blazor update.

@darren-zdc Are you still blocked on migrating? It looks like @sbuchok covered the main migration steps in his [comment](https://github.com/aspnet/AspNetCore/issues/8341#issuecomment-473097105) above.

[2019-03-27 21:07] joegithub commented on #8134
Drive by Googling for this error led me here...posting my solution in case it can help anyone.
Seemingly out of the blue this issue happened to me. I could run my Core 2.2 API site in Debug in IIS Express, but when I tried to get to my swagger UI endpoint (just /swagger) I'd get the error page. My fix was to delete the VS config folder (a hidden folder in the solution folder), thus deleting the ap

[2019-03-27 21:12] Tratcher commented on #4135
Another hit: https://github.com/MicrosoftDocs/azure-docs/issues/11104

[2019-03-27 21:17] chucker commented on #8674
@VBAndCs I'm confused about your code samples. They clearly show the ASPX view engine, [_not_ the Razor view engine](https://weblogs.asp.net/scottgu/introducing-razor).

For an example of Razor in VB, [check this page](https://docs.microsoft.com/en-us/aspnet/web-pages/overview/getting-started/introducing-razor-syntax-vb) (which, to be clear, does _not_ run in Core).

[2019-03-27 21:17] SteveSandersonMS commented on #8786
Whichever way we do it, it will apply both server and client side. In the WASM case, the event will simply occur immediately after rendering (possibly only the first render for a given component, depending how we design it). So the developer’s code would work in both environments.

[2019-03-27 21:26] #8192 closed

[2019-03-27 21:29] Eilon commented on #8674
I recommend that additional questions and comments about the work @VBAndCs has done to be at https://github.com/VBAndCs/VB.NET-Razor.

[2019-03-27 21:32] bjornpaulstrom opened #8868 "Enabling Razor file compilation in 3.0 causes InvalidOperationException when reloading page with changes"
### Describe the bug
Changes to .cshtml files generates InvalidOperationException when reloading the page if RazorRuntimeCompilation is enabled.

### To Reproduce
Steps to reproduce the behavior:

1. Start new 3.0 MVC project
2. Follow steps at https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.0 to enable runtime compilation.
3. Start project
4. Make change

[2019-03-27 21:37] jkotalik commented on #3821
Closing as the ball is rolling in the tooling repo and will finalized by them. See https://github.com/aspnet/Tooling-ManualTests/issues/310

[2019-03-27 21:37] #3821 closed

[2019-03-27 21:47] Eilon commented on #8848
Why re-opened? The other bug should be a superset of this issue.

[2019-03-27 21:49] springy76 opened #8869 "Razor components circuit used for prerender is not connected to by SignalR but a new one is created"
Using 3.0 preview-3 and this sample: https://github.com/springy76/RazorComponentsProblems/blob/problem/PrerenderCircuitsAreDiscarded/WebApp/Components/Pages/Index.razor

The sample shows that after a full prerender (which takes 4 seconds for all (async) operations without seeing anything) you can see the result of the prerender for a second before the new circuit destroys the view and does all ini

[2019-03-27 22:31] ryanbrandenburg commented on #6845
Any chance our new usages of yarn make this simpler? It's always very annoying when I run into this.

[2019-03-27 22:35] springy76 opened #8872 "Razor Components: OnParametersSet gets invoked again and again when parameters of non-trivial types exist"
Using 3.0 preview-3 and this sample: https://github.com/springy76/RazorComponentsProblems/blob/problem/OnParametersSetGetsInvokedTooOften/WebApp/Components/Pages/Counter.razor

Problem:
Clicking the "click me" button on the counter page shows that non-related components bound to unchanged values get triggered their `OnParameterSet` method when the `[Parameter]` attributed property is of non "non-t

[2019-03-27 22:48] pranavkm opened #8873 "TempData has poor round-tripping fidelity"
This issue applies to using `TempDataDictionary` although it is generally much worse with `TempDataAttribute`. By round-tripping, I mean a value being set, serialized to bytes that gets written to cookie or session, and deserialized back to `TempDataDictionary` and read.

Consider,
[code]

For the above scenario, outside of a few types such as a `int`, `DateTime`, `string` and `Guid`, round-trippi

[2019-03-27 22:50] VBAndCs commented on #8674
@Eilon
OK.

@chucker
The difference is ussing `<%= > and `Function() ... End Function` ` instead of `@` and `Code End Code`. The purpose is to dynamically generate HTL views whaever the code notation used. Using XML literals makes this a task of VB compiler, so it saves a lot of work and open new possibilities. We are discussing this in VB repo in https://github.com/dotnet/vblang/issues/397

[2019-03-27 23:18] mkArtakMSFT commented on #8264
Thanks for contacting us, @MarcusWichelmann.
@rynowak can you please take a look at this? Thanks!

[2019-03-27 23:42] pranavkm commented on #8722
From https://github.com/aspnet/AspNetCore-Tooling/pull/365#issuecomment-476417245

@NTaylorMullen?

[2019-03-27 23:46] pranavkm commented on #4893
Looking at "Make ControllerBase.User virtual for unit testability.", it's fairly trivial to assign the `User` property using `ControllerContext`. In addition, none of the properties on the `ControllerBase` type are virtual. I'm going to close this until we get more feedback here.

[2019-03-27 23:46] #4893 closed

[2019-03-28 00:24] rynowak commented on #8873
Are you suggesting that we take steps to mitigate this or explain it? I'd generally be supportive of something like an analzyer that provides guidance, or better errors messages when it does fail, or blocking things that can't work with an exception.

[2019-03-28 01:37] VBAndCs commented on #8817
@Eilon @ @danroth27
I found a perfgect easy solution, by using VirtualPathProvider. But it disapeared in ASP.NET Core!
I found an alternative with IFileProvider, but when I tried to register mine with this code:
[code]

I found that FileProviders is no longer a member of RazorViewEngineOptions!
So, how to do provude a virtual file to the Razor, and if the IFileProvider still working, hoe to regist

[2019-03-28 01:41] rynowak commented on #7739
HI @chucker

I've tested this out on the latest build and the current state of this is the following:

Blazor - an error is logged to the browser console.
Razor Components (Prerendering) - The developer exception page shows up. We fixed this for preview 4
Razor Components (without Prerendering) - an error is logged to the browser console.

We have some longer term plans to provide a better experie

[2019-03-28 01:41] #7739 closed

[2019-03-28 02:03] liukuo362573 opened #8876 "StaticFileContext.ValidateMethod sometimes couldn't get correct http request method"
I have an admin website,when I debug and publish website using Kestrel,some js or css is not loaded correctly,it shows 404 error randomly.If I debug and publish website using IIS,it is good.
The Asp.Net core version is 2.2.

My website loads about 50 requests at the same time.I will show your the screenshot below .
![WeChat Screenshot_20190328093334](https://user-images.githubusercontent.com/22274

[2019-03-28 02:16] NTaylorMullen commented on #8722
The issue didn't crash VS it crashed the out of process host which resulted in a yellow banner across VS saying that a VS process failed unexpectedly. The one I reprod it on was VS' master branch with a 3.0 CLI/SDK installed.

If everything fails gracefully without an out of process crash/banner that's ideal. That being said, does Razor end up parsing the 3.0 project as if it's 2.1 (the default Ra

[2019-03-28 04:03] rynowak commented on #8786
Yeah, I don't think we should consider seriously providing different implementations of services depending on context. This would be a complexity explosion for us.

Thanks for listing these, I think the second one was a little less clear in my mind and this helps immensely.

Do you think that [scenario B](https://getyarn.io/yarn-clip/576233ef-f2d0-4835-b2bd-cf0726c6df37) also includes things like

[2019-03-28 04:46] TanvirArjel commented on #8467
@javiercn, Why this issue has been closed? Has it been fixed? I am still facing the same problem.

[2019-03-28 06:41] kennywangjin opened #8878 "button[type=submit] won't trigger EditForm's validate:"
### Describe the bug
when I add a (button[type=submit]) to EditForm, it won't trigger the form's validation logic when clicked.
### To Reproduce
1. Using this version of ASP.NET Core '3.0-preview3'
2. Run this code
`<EditForm OnValidSubmit="@..." Model="@...">
<ValidationSummary></ValidationSummary>
....
<button type="submit">Submit</button>
</EditForm>`
### Expected behavior
the EditForm should r

[2019-03-28 06:49] kennywangjin commented on #8878
my mistake. css errors cause invisible of error text.

[2019-03-28 06:49] #8878 closed

[2019-03-28 06:55] MakoPhil opened #8879 "API freezing with indexed file uploads in a DTO"
### Describe the bug
I'm trying to load data from an Angular application into a .NET Core API. All other POST and GET calls work as expected, but there is one method that doesn't cooperate. I have distilled the problem into the following files to try to isolate the problem.

#### FileCollectionViewModel.cs
    using System.Collections.Generic;
    using Microsoft.AspNetCore.Http;

    public class

[2019-03-28 07:41] prsujoy commented on #3121
CORS is working when profile is IISExpress but its not working when profile is project in asp.net core 2.2 web api. See below in red highlighted
![image](https://user-images.githubusercontent.com/12905439/55138993-b65d8700-515a-11e9-9eea-aaeb5c32f042.png)

[2019-03-28 07:56] SlowLogicBoy commented on #8739
We have registered, authentication middleware after Batch middleware, the problem is:
[HandleAuthenticateOnceAsync](https://github.com/aspnet/AspNetCore/blob/master/src/Security/Authentication/Core/src/AuthenticationHandler.cs#L164) method, it caches `Task<AuthenticationResult>` after first request from batch, and all subsequent requests use the same `AuthenticationResult`, where we need to authen

[2019-03-28 08:03] javiercn commented on #8467
This is has been fixed and will be available on our next preview release.

[2019-03-28 08:31] jonlanceley commented on #2737
Thanks for the work around Zoxive which seems to work.
It would be nice to know when v3 will be out of preview though

[2019-03-28 08:32] guyng commented on #8763
@Tratcher @davidfowl "It would affect configuration, logging, which could have secondary perf effects."
I ran the exact same web app with the **same** log settigs, app.settings,startup code,libraries,etc etc..
the **only** difference was using IHostBuilder in contrast to IWebHost and then i was able to reproduce the perf differences. i ran it thousands of times and the result was the pretty much t

[2019-03-28 08:52] RehanSaeed commented on #3704
Microsoft happened to have blogged about this today:
https://devblogs.microsoft.com/aspnet/re-reading-asp-net-core-request-bodies-with-enablebuffering/

[2019-03-28 08:55] dharmeshtailor opened #8880 "Windows Authentication - Double Hop Issue"
We have Micro Services being developed on Service Fabric platform that are deployed on stand alone local cluster. We have a website, that is configured to use windows authentication and then the logged in User is impersonated to fetch SSRS reports. We have used HttpSys to build the web host. And we are facing double hop issue when website is accessed from any server other than app box itself.

Cod

[2019-03-28 09:19] dealloc opened #8881 "ApiController does not bind List<string> without FromBody"
### Describe the bug
According to the [documentation](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-2.2#annotation-with-apicontroller-attribute) the `[ApiController]` attribute would cause complex types to be bound with `[FromBody]` implied.
This seems to be the case for objects, but not for lists, if you specify `List<>` as a parameter without specifying `[FromBody]` (or a

[2019-03-28 09:23] synesthesia commented on #4926
@pranavkm apologies for late reply. What I have since realised is that regardless of the starter code created by VS, we can choose for the function to take either a `HttpRequestMessage` or  a `HttpRequest` and the runtime injects the correct object...

[2019-03-28 09:58] sven5 commented on #8751
not working, always needs a rebuild.
I checked with blank template and preview3. Changes are not reflected through a build.

[2019-03-28 10:15] sven5 commented on #8117
There should be an (easy) way to get to the IJsRuntime in a class library outside of a Component.

[2019-03-28 10:25] javiercn commented on #8786
I'm all up for solving this with guidance I think. Saying that you use OnAfterRender for that.

The guidance would be to not render anything on OnInitAsync and do it instead on OnAfterRender with a flag and call StateHasChanged from there. I'm not sure how common this scenario is, so if you need to do it 1 for every 20 components I think it's fine. We can also have an analyzer tell you this or eve

[2019-03-28 10:29] liukuo362573 commented on #8876
The solution is here [stackoverflow.com/questions/50661923](https://stackoverflow.com/questions/50661923/signalr-core-1-0-intermittently-changes-the-case-of-http-method-for-non-signalr)
So I close this issue.

[2019-03-28 10:29] #8876 closed

[2019-03-28 10:30] SteveSandersonMS commented on #8786
No I wasn't thinking that, because you're free to do that even before interactivity has started. The distinctive thing about JSInterop is that you can't do it until the client has connected.

I'm not crazy about having a special `OnAfterFirstRenderAsync` either. But enough people have wanted this now (including me, based on experience of component library authoring) that perhaps I'd suggest a midd

[2019-03-28 10:32] SteveSandersonMS commented on #8786
Oh sorry @javiercn, I posted without realising you had already added a new comment. Apologies if it seems like I was ignoring you. But having read your comment now I basically agree with all you've said there and think my comment aligns with yours.

I don't think we need to do anything. If a developer is doing this, they know it themselves and can already put in their own logic for that.

[2019-03-28 10:34] aiqoo commented on #8751
i manage to fixit in my project

first i install from nuget Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation

and and edit my csproj file:
`
  <PropertyGroup>
    <PreserveCompilationReferences>true</PreserveCompilationReferences>
  </PropertyGroup>
`
also i run my project in wach mode' add this lines to csproj :
`
  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.Mvc.Razor.Runtim

[2019-03-28 10:46] benmccallum commented on #8535
I'm currently facing a similar dilemma. This seems like a nice place to chat about it without creating a new issue.

Essentially the existing codebase I'm working in has a `BaseResponse` that looks like so:
[code]

The nice thing about this is that we can keep our controllers super light, route the message off with MediatR to a handler and all our handlers return an implementation of `BaseResponse

[2019-03-28 10:54] SteveSandersonMS commented on #8751
@kardokh Oh, you're probably hitting the fast-up-to-date-check bug that we're fixing in the next preview.

Temporary workaround: https://github.com/aspnet/AspNetCore/issues/8181#issuecomment-469725182

[2019-03-28 10:54] VBAndCs commented on #8817
@Eilon @ @danroth27
Found the answer:
This is now done by
[code]
and of course needs to reference Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.

It will be helpfull if the editor notify us about this breaking change and offer a code fix.

I will try the virtual file appraoch and report back.

[2019-03-28 10:54] benmccallum commented on #8535
I guess the other approach might be to have my MediatR handlers all return `ActionResult<T>`, kind of couples them with Mvc a bit...

Would still have the same problem you've highlight @DamianEdwards that there's desperate need for Analyzer validation there, but that'll be solved eventually.

[2019-03-28 10:57] Lobosque opened #8882 "[FromRoute] does not work when binding a Model"
### Describe the bug
When trying to get a parameter from the url and pass it to a property of a model using `[FromRoute]`, it always comes out as `null`

### To Reproduce
Steps to reproduce the behavior:
1.  create a new API project for ASP NET Core  2.2.102. In visual studio 2017, the detailed steps are the following:
   1.1 - File -> New -> Project -> Web -> ASP.NET Core Web Application
   1.2 -

[2019-03-28 11:06] sven5 commented on #8751
@SteveSandersonMS
Thanks. It's working now.

[2019-03-28 11:08] niconico49 opened #8883 "Route from different assembly/dll/project"
### Describe the bug
How to add ruoting from different assembly loaded dynamically in the solution?

### To Reproduce
Create 3 project core 3 preview 3
a) one project <Project Sdk="Microsoft.NET.Sdk.Web"> (WebApp for instance)
b) and two projects <Project Sdk="Microsoft.NET.Sdk.Razor"> (RazorApp1 and RazorApp2 for instance)

add string "Test1" and "Test2" in every razor pages with @page attribute

[2019-03-28 11:12] benmccallum commented on #8535
I think this is something we all struggle with, "how can we have a business layer that can return a response that easily adjusts the status code?".

I think a `BaseResponse` approach works well, as long as we can solve this final hand-off to the ActionResult in a way that:
1. Has type checking
2. Has ProducesResponseType analyzer support

For now I think I'll stick with the `protected ObjectResult

[2019-03-28 11:26] tomas04 opened #8884 "[SignalR] [Angular] AddToGroupAsync\RemoveFromGroupAsync causes SendAsync to be sent multiple times to same group"
### Describe the bug
When calling AddToGroupAsync and RemoveFromGroupAsync multiple times from the same ConnectionId, SendAsync is sending its data the same amount of times. The Angular frontend is then performing its listening function ("HubConnection.on()") the same amount of times.

Here is some pseudo-code of what is happening:
Clicking "HelloWorld"-button. HelloWorld-component ngOnInit calls

[2019-03-28 11:53] SteveSandersonMS commented on #8523
As long as you're not doing prerendering, I don't think there's anything stopping you from switching like that. Our E2E tests already do switch between server and client execution: https://github.com/aspnet/AspNetCore/blob/master/src/Components/test/testassets/TestServer/Startup.cs.

I recognize that people still want a simpler sample of how to do this, so I'll leave the issue open until we have o

[2019-03-28 13:07] osvaldo-github commented on #3728
Thanks.

In my tests (.NET Core 2.2.) x.Events is equal null, then:

services.AddJwtBearer(x =>
            {
                x.Events = new JwtBearerEvents()
                {
                    OnMessageReceived = context =>
                    {
                        var header = context.HttpContext.Request.Headers["Custom-Authorization"].ToString();

                        if (!string.IsNu

[2019-03-28 13:09] FlyDogBR commented on #3728
Thanks.

In my tests (.NET Core 2.2.) x.Events is equal null, then:

services.AddJwtBearer(x =>
{
x.Events = new JwtBearerEvents()
{
OnMessageReceived = context =>
{
var header = context.HttpContext.Request.Headers["Custom-Authorization"].ToString();

                    if (!string.IsNullOrEmpty(header) && header.StartsWith("Bearer ", StringComparison.OrdinalIgnoreCase))
                    {

[2019-03-28 13:10] osvaldo-github commented on #3728
Thanks.

In my tests (.NET Core 2.2.) x.Events is equal null, then:

services.AddJwtBearer(x =>
{
x.Events = new JwtBearerEvents()
{
OnMessageReceived = context =>
{
var header = context.HttpContext.Request.Headers["Custom-Authorization"].ToString();

                    if (!string.IsNullOrEmpty(header) && header.StartsWith("Bearer ", StringComparison.OrdinalIgnoreCase))
                    {

[2019-03-28 13:33] poke commented on #4895
I’m hitting this problem now too, with properties in my PageModel that are bound directly using `[BindProperty]`.

I do not like the workaround of having to create a sub-model for the form since this means that the form field names are unnecessarily nested. An easier workaround would be to simply implement the comparison check in code then since that means that you wouldn’t have to update your mod

[2019-03-28 15:01] dotnetjunkie opened #8886 "How to integrate non-conforming containers with Razor Components?"
At the moment, Razor Components seem to be tightly coupled to the built-in `IServiceProvider` model, which makes it hard to hook into the pipeline using an interception point, similar to `IControllerActivator` and `IViewComponentActivator`.

Up until recently, Razor Components didn't even allow conforming containers to be integrated, but [this has been fixed](https://github.com/aspnet/AspNetCore/i

[2019-03-28 15:05] lust4life commented on #8752
@roblframpton `IdentityModelEventSource.ShowPII = true;` when `ConfigureServices` will give what you want.

[2019-03-28 15:26] BrennanConroy commented on #8884
You never remove the handler you pass to `HubConnection.on`, so everytime you navigate to HelloWorld you are adding another handler for the same message.

Consider calling `HubConnection.off(...)` in `ngOnDestroy`.

[2019-03-28 15:26] #8884 closed

[2019-03-28 16:09] pranavkm commented on #8882
Dup of https://github.com/aspnet/Mvc/issues/8726. From https://github.com/aspnet/Mvc/issues/8726#issuecomment-438743732,

There really isn't a nice way to have a model that combines input formatting (the way `year` property gets read) and the `FromRoute` Name parameter. The best way to go about it is to have two separate parameters.

[2019-03-28 16:09] #8882 closed

[2019-03-28 16:11] Tratcher commented on #8880
How are you doing the impersonation, and how do you call SSRS from there? .NET Core's impersonation support is quite limited.

Also note that to achieve multi-hop auth you need full delegation permissions, not just impersonation. Also note that HttpSys uses kernel mode auth so the SPN must be assigned for the machine account, not the user account. See https://github.com/aspnet/HttpSysServer/issues

[2019-03-28 16:12] pranavkm commented on #8873
In theory, we could do a better job with `TempData` attributes since we know the `Type` that's being round-tripped. However, in the shorter term, it might be better to limit `TempData` properties to a more limited subset - `int`, `bool`, `string`, and `DateTime`.

[2019-03-28 16:19] mkArtakMSFT commented on #8856
Thanks for contacting us, @bhrugen90.
You can read more info regarding the reasons behind moving to this model in the discussion here: https://github.com/aspnet/AspNetCore/issues/7647

[2019-03-28 16:19] #8856 closed

[2019-03-28 16:33] paulirwin opened #8889 "asp-fallback CSS tag helper affected by Application Insights JavaScript"
### Describe the bug
If you have the Application Insights js code in your `<head>` tag ahead of `<link>` tags (such as bootstrap CSS) with the `asp-fallback-*` tag helpers, the first stylesheet with the tag helper will always fall back. The reason for this is that the AI js code is calling `setTimeout` and injecting a `<script>` tag in the head, effectively creating a race condition with the fallb

[2019-03-28 16:33] Tratcher commented on #8091
Closing as a duplicate of "https://github.com/aspnet/AspNetCore-Internal/issues/1826

[2019-03-28 16:33] #8091 closed

[2019-03-28 16:33] Jaffacakes82 commented on #5228
@SteveSandersonMS still not following - surely this would mean I need to have access to the HTTP server object in my module, which I don't because the module isn't doing anything to do with handling HTTP requests. Do you have an example by any chance?

[2019-03-28 16:37] pranavkm commented on #8881
@dealloc this was an unfortunate bug in our 2.1 release that has since been fixed in 2.2. To sum it up, in 2.1, in the absence of a [From*] attribute, collection type parameters are inferred to be bound from query. aspnet/Mvc#8536 has more details.

Upgrading to 2.2 would be the recommended fix. If upgrading isn't an option, using [FromBody] for collection parameters should work.

[2019-03-28 16:37] #8881 closed

[2019-03-28 16:39] pranavkm commented on #8868
Dup of https://github.com/aspnet/AspNetCore/issues/7966 which is getting fixed in the preview4 release. For preview3, you'd have to set `<PreserveCompilationReferences>true</PreserveCompilationReferences>` in your project file.

[2019-03-28 16:39] #8868 closed

[2019-03-28 16:43] #8274 closed

[2019-03-28 16:51] VBAndCs commented on #8817
@Eilon  @danroth27
I created the virtual fiel manager, and it delevered the memory stream OK. But the browsers shows a strange Exception:
[code]
and this is the stack:
[code]

I searched for a solution, and tries some suggessions:
1- Install the 'Microsoft.AspNetCore.Antiforgery
   No effect. It is Ver 2.2. Does this conflect with SDK 3.0 ?

2- I added
`<PublishWithAspNetCoreTargetManifest>false</

[2019-03-28 16:53] rynowak commented on #8612
https://github.com/aspnet/Extensions/pull/1324

[2019-03-28 16:53] #8612 closed

[2019-03-28 16:53] mkArtakMSFT commented on #8879
Thanks for contacting us, @MakoPhil.
This seems to be a duplicate of https://github.com/aspnet/AspNetCore/issues/4802, which we've addressed for 3.0 release.
As a workaround, while it's not that nice, you can use @dougbu 's suggestion at https://github.com/aspnet/AspNetCore/issues/4802#issuecomment-454914479. That is - move the `IFormFile` type from the `FileCollectionViewModel.FileVM` to be a fla

[2019-03-28 16:53] #8879 closed

[2019-03-28 16:56] carlosrfernandez commented on #7642
@RobSeder after running the initial command, you can then run `dotnet new blazorserverside `

The project opens just fine in VS2019. Is this not the behavior you want?

[2019-03-28 16:57] mkArtakMSFT commented on #8873
Let's see whether anybody even asks for it. Parking in the backlog for now.

[2019-03-28 17:02] mkArtakMSFT commented on #8847
Thanks for contacting us, @pwoosam.
@pranavkm, can you please look into this? Let's try to fix this, if the fix is straight forward.

[2019-03-28 17:03] SteveSandersonMS opened #8892 "Move .Components.Services contents directly into .Components namespace"
... because the `.Services` sub-namespace serves no purpose.

[2019-03-28 17:04] rynowak commented on #8873
This is going to be asked for as soon as we ship :) I'd be happy to be wrong.

[2019-03-28 17:05] SteveSandersonMS commented on #8872
This is precisely the design. For any parameter type where we can't guarantee that the value hasn't mutated, we have the recipient re-render (because the output may change).

There is a method you can override on your component - `ShouldRender` - to override the logic about whether the parameter values should be treated as different or not.

[2019-03-28 17:05] #8872 closed

[2019-03-28 17:10] #5903 closed

[2019-03-28 17:14] mkArtakMSFT commented on #8713
Looks like this has already been fixed as part of https://github.com/aspnet/AspNetCore/issues/4939 for 3.0 release.

[2019-03-28 17:14] #8713 closed

[2019-03-28 17:15] mkArtakMSFT commented on #8639
Chatted about this and the amount of work required to do something better here is huge. So won't be doing anything now.

[2019-03-28 17:15] #8639 closed

[2019-03-28 17:17] mkArtakMSFT commented on #8499
@Agentis, please follow up with the author of that library, as that's not an area we have expertise in.

[2019-03-28 17:17] #8499 closed

[2019-03-28 17:19] Eilon commented on #8817
You have to use the same version of everything. You can't mix 2.2 and 3.0.

[2019-03-28 17:20] mkArtakMSFT commented on #8441
@javiercn, please close if this is the case.

[2019-03-28 17:22] mkArtakMSFT commented on #8348
Thanks for contacting us, @tezzly.
You're right regarding this being already fixed in the referenced issue.

[2019-03-28 17:22] #8348 closed

[2019-03-28 17:27] mkArtakMSFT commented on #8312
@ajaybhargavb can you please handle this? Thanks!

[2019-03-28 17:30] mkArtakMSFT commented on #8273
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-03-28 17:30] mkArtakMSFT commented on #8273
@ryanbrandenburg can you please answer this question when you get time? Thanks!

[2019-03-28 17:32] #8341 closed

[2019-03-28 17:35] danroth27 commented on #8341
One clarification: You can still setup an app so that it can be switched between the client and server hosting models, but it requires a bit of code. For details, see Steve's comment here: https://github.com/aspnet/AspNetCore/issues/8523#issuecomment-477563907.

[2019-03-28 17:39] darren-zdc commented on #8341
yea, I migrated my app to only one RC project.
One particular thing need to be mentioned,
If you have controllers in the project, you need to add the route inside the `app.UseRoute`, like the code inside @sbuchok comment
[code]
or
[code]
 `app.UseMvcWithDefaultRoute();` will not work anymore

[2019-03-28 17:50] Tratcher commented on #8180
For the complete diff between the app types I suggest looking here:
https://github.com/aspnet/AspNetCore/tree/master/src/ProjectTemplates/Web.ProjectTemplates, See the OrganizationalAuth pivot in in places like this:
https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/StarterWeb-CSharp.csproj.in#L21
https://github.com/aspnet/AspNetCore/blob/d24ec01224726fa85d

[2019-03-28 17:53] Tratcher commented on #4136
It's a conflict between site extensions trying to set the same environment variables. I don't know how many of those we're still using. Any fix would likely be in https://github.com/aspnet/AspNetCore/tree/master/src/SiteExtensions/Microsoft.Web.Xdt.Extensions/src

[2019-03-28 17:54] springy76 commented on #8872
How should ShouldRender know when to return true or false without managing dirty flags for every single parameter, including backing fields for every parameter property? Not to speak that this would not be aware of 1001 other reasons for a StateHasChanged to occur (message bus messages, etc.).

Further `ShouldRender` is the absolutely wrong candidate when I use `OnParametersSetAsync` to load compl

[2019-03-28 18:05] SteveSandersonMS commented on #8872
How would IEquatable/IComparable help? When an object mutates, its older state no longer exists to compare against.

You’re right that implementing ShouldRender may involve maintaining snapshots of your parameter values so you can compare them against the values on subsequent calls. But only your code can do that, not the framework, because only you know how or if your types can be cloned. The fra

[2019-03-28 18:20] RobSeder commented on #7642
@carlosrfernandez As noted above, it also produces a "usage" screen which makes it look like something was entered incorrectly.

[2019-03-28 18:20] fendric opened #8894 "Need assistance understanding how /signin-oidc gets registered"
I am trying to write an authentication plugin for the NopCommerce 4.0 ecommerce engine, which is just an Asp.Net Core 2.0 application, using the microsoft.aspnetcore.authentication.openidconnect library.

In ConfigureServices I have the registration for my OpenIdConnect, which I've tested in a vanilla Asp.Net Core app an works beautifully.

When I click the Login button on the app, I am taken to o

[2019-03-28 18:28] blowdart commented on #8894
Its doesn't work like you think it does. Authentication Handlers run on every request, regardless of the path. The handler decides if it needs to intervene based on, among other things, the path.

For example; RemoteAuthenticationHandler (which OIDC uses) does it inside [ShouldHandleEvent()](https://github.com/aspnet/AspNetCore/blob/d8381656429addead2e5eb22ba1356abfb419d86/src/Security/Authenticat

[2019-03-28 18:55] AlexejTimonin commented on #8847
I do not think this is a bug, it works as intended (although confusing). It has been like this for a couple of years now. Any change to this behaviour would be a big breaking change at this point ;)

[2019-03-28 19:06] blowdart commented on #8652
In between sending the email are you doing anything else to the user object? Certain things, like changing email addresses will invalidate the security stamp, invalidating all issued tokens. But we've never seen this out of the box with the template code.

Also please check your logs for application startup for Data Protection messages. If you see anything about ephemeral keys, or if you're using

[2019-03-28 19:15] Arash-Sabet commented on #8652
No, there is nothing done.

None of these cases apply.

[2019-03-28 19:15] springy76 commented on #8872
Now I wonder how the "special cases with known primitives" work. Can you give me a hint where and how these known primitives are handled? Does it happen at runtime or at .razor->.cs pre-compilation time?

[2019-03-28 19:16] blowdart commented on #7787
See https://github.com/aspnet/AspNetCore/issues/8356

We won't be throwing exceptions, instead the flow is going to change, so the default scaffolded flow will have a nice warning page during registration to say you're using the no-op email sender you silly goose, please change this before production. This page also enables us to give a click through experience to emulate what would be in the emai

[2019-03-28 19:16] #7787 closed

[2019-03-28 19:19] blowdart commented on #6568
Will be fixed in #8356

[2019-03-28 19:19] #6568 closed

[2019-03-28 19:21] blowdart commented on #5749
We've thought about this, but no. It involves splitting checks in too many places for the template code, and frankly we are of the opinion that the less information given on a why a login has failed, the better.

All the information is there for your to write your own checks and display detailed information should you desire.

[2019-03-28 19:21] #5749 closed

[2019-03-28 19:25] blowdart commented on #5747
As with the other issue, we're not going to split messaging or provide more details. The flow has hopefully changed for the better, but it's not changing like this.

If, with the new flow, you're still hitting issues, we'd take a PR to move something from private to protected if it makes it easier for you, and it's doesn't expose us to horribly breaking changes if we need to change it in the futur

[2019-03-28 19:25] #5747 closed

[2019-03-28 19:26] blowdart commented on #5718
We're not going to do this. We expect external providers to do their own security checks, we don't want to layer on top of them. It's too far out of scope for the default templates.

[2019-03-28 19:28] SteveSandersonMS commented on #8872
It’s here: https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/ChangeDetection.cs

[2019-03-28 19:33] dharmeshtailor commented on #8880
Sorry I thought I uodated the original post to include the call. Anyways here is how we call SSRS.

[code]
We have assigned SPN for machine as well as user. But I will reconfirm that point.

[2019-03-28 19:46] Jojojov commented on #6385
Having the same problem, including SignalR disconnect. This is pretty disruptive...

[2019-03-28 20:21] Tratcher commented on #8880
Note RunImpersonated does not work as you'd expect for async code, the impersonation will terminate synchronously. There is no current support for async impersonation. At best you need to call .Result on your async APIs inside RunImpersonated.

[2019-03-28 20:22] johnbeisner commented on #8835
@dougbu
There is no urgency for this as we have implemented a work-around: https://github.com/dotnet/core-sdk/pull/1122

[2019-03-28 20:25] Tratcher commented on #8894
You've forked AuthenticationMiddleware? Why? It doesn't look like you modified it.

AuthenticationMiddleware is what calls HandleRequestAsync on each auth handler to see if they will handle that request.

[2019-03-28 20:37] anurse opened #8897 "[Epic] Kerberos Authentication in ASP.NET Core"
We want to support Kerberos Authentication in ASP.NET Core.

For 3.0, we are targetting the following supported environments as a minimum viable product (MVP):

* **ASP.NET Core Server Platform**: Linux (including containers) (we'll try to avoid doing anything to **prevent** it from working on Windows/macOS, it just won't be the testing focus)
* **Domain Controller type**: Active Directory, runnin

[2019-03-28 20:51] pwoosam commented on #8847
I'm not sure how many people are relying on the behavior of `Microsoft.AspNetCore.Mvc.Formatters.HttpNoContentOutputFormatter` since its behavior is not obvious and unexpected.

Is there a reason that the `HttpNoContentOutputFormatter.TreatNullValueAsNoContent` is true by default? Does this also affect other IActionResult implementations? Are there any projects that are known to depend on this beh

[2019-03-28 21:01] Spikeophant commented on #8866
I have also opened a ticket with MSFT through official channels through our support contract.  If I hear back on that ticket first and am not under NDA on the response, I will post that here for anyone else curious as to how this works, or who finds this ticket in a future search.

[2019-03-28 21:05] superdevguy commented on #4647
I see this issue is still open, was any fix every implemented or are we just supposed to remove all of the security protection associated with SameSite cookie mode? I find it hard to believe that this is the only solution available. If it is, it's quite disappointing that we need to apply this insecure workaround and rely on anti forgery CSRF checks. Not to say that it isn't important to also impl

[2019-03-28 21:22] dharmeshtailor commented on #8880
@Tratcher Have done that as well. I am in middle of checking few SPN settings and will update you.

[2019-03-28 21:24] dougbu commented on #8806
@mkArtakMSFT do you now have enough info to decide on the priority and milestone?

[2019-03-28 21:26] dougbu commented on #8835
@anurse or @mkArtakMSFT I suggest we put this into a late-ish 3.0 milestone as a P1 or P2 bug.

[2019-03-28 21:39] Tratcher commented on #4647
iOS's non-conformant implementation has significantly undermined the usefulness of the SameSite standard. There have been a few proposed mitigations for AspNetCore but we don't have any concrete plans at this time.

[2019-03-28 22:00] dharmeshtailor commented on #8880
Following are the SPN applied:

App Server :

SSRS Service User:

Delegation is applied on DC.

[2019-03-28 22:25] mkArtakMSFT commented on #5550
@rynowak, @danroth bringing this back to preview4 to handle the case-sensitive components completion.

[2019-03-28 22:28] ajaybhargavb commented on #5550
Looks like this work will require VS changes. We don't have any planned insertions to VS preview1. Shouldn't this be post preview4 then?

[2019-03-28 22:40] rynowak commented on #5550
Let's get it done when we can. If it doesn't ship right away that's ok.

[2019-03-28 22:43] springy76 commented on #6385
While I did not see the IndexOutOfRangeException since preview3, the display freeze followed by a SignalR timeout after 30s in browser still happens far too often.

I made a test project for simulating this: https://github.com/springy76/RazorComponentsProblems/blob/problem/ConnectionDiesWhenUsingAsyncOperations/WebApp/Components/Pages/Index.razor

Sometimes you only have to click some of the 12 bu

[2019-03-28 22:47] rynowak opened #8898 "Create an analyzer for Endpoint Routing + UseMVC"
In 3.0 we won't support this combo anymore, since we expect this to impact lots of folks updating to 3.0 this definitely deserves an analyzers so users can know.

The conditions I would expect to check for is:
- Is `MvcOptions.EndableEndpointRouting == false` not found?
- Is `UseMvc()` present

[2019-03-28 22:59] #6526 closed

[2019-03-28 23:04] pranavkm opened #8899 "Consider providing a better warning message when referencing an 2.x Razor.Design package in a 3.0 project"
The configuration is unsupported, but the error messages lack tact:

![image](https://user-images.githubusercontent.com/174281/55198395-1102dd00-5173-11e9-87c7-d54105390599.png)

We can print a warning that can would would help guide users to resolve this issue.

[2019-03-28 23:07] ilatypov commented on #4647
To this day I did not see a test or a sample project that clearly demonstrates a reproducible failure. I noticed that humans tend to enter heated debates when complexity of issues increases.

[2019-03-28 23:08] Tratcher commented on #8880
To which object? This needs to be enabled for the app server's machine account.

[2019-03-28 23:11] HaoK commented on #6626
Doesn't look like this directory exists anymore so yeah not relevant anymore

[2019-03-28 23:11] #6626 closed

[2019-03-28 23:13] HaoK commented on #6549
Individual issues exist for these now, or are tracked via https://github.com/aspnet/AspNetCore/issues/4248

[2019-03-28 23:13] #6549 closed

[2019-03-28 23:15] ajaybhargavb commented on #5550
Spoke offline. Moving to preview6.

[2019-03-28 23:19] pranavkm commented on #8722
Yup. Closing since this issue was resolved.

[2019-03-28 23:19] #8722 closed

[2019-03-28 23:24] dharmeshtailor commented on #8880
Yes Delegation is applied on App Server's machine account.

Just to confirm, with machine account you mean "AppServer" name?

[2019-03-29 00:37] JamesNK opened #8902 "Support strongly typed builders with IEndpointConventionBuilder"
Map extensions that hang off `IEndpointRouteBuilder` return `IEndpointConventionBuilder`. This is fine and good.

Can we imagine scenarios where someone wants to return a more strongly typed builder? For example, from gRPC's `MapGrpcService` I return an `GrpcEndpointRouteBuilder`. It implements convention builder but there is also some gRPC specific stuff on there, and gRPC extension methods.

[co

[2019-03-29 00:42] rynowak commented on #8902
It's absolutely intended that you return a strongly-typed builder for a case like this.

We do need to update these methods to have a `T`. That was part of the original design and prototypes but I guess it got lost?

I agree 100% and this was always the plan.

[2019-03-29 00:43] rynowak commented on #8902
I would also strongly encourage that you return a CLASS and not an interface so it can grow.

[2019-03-29 00:47] sbuchok commented on #8406
@mkArtakMSFT Sorry, can you maybe elaborate? I'm having the exact same issue. What do I need to dispose of? What notifications? Can you give an example?

For me, this is happening if I refresh a page and could have something to do with making a JSON request, but the error is on StateHasChanged and doesn't really give any clues (at least that I can see) as to what is wrong.

This is the callstack,

[2019-03-29 00:59] brentschmaltz opened #8903 "Returning ActionResult attempting to auto submit form fails using MVC 2.2, succeeds 4.7.2."
### Describe the bug
I used visual studio to create two asp.net mvc apps.
One was created using asp.net 2.2 core.
One was created using asp.net 4.7.2 desktop.

The following code has different results.
[code]
asp.net core 2.2, the browser will just show the code.
asp.net 4.7.2 desktop will submit to www.google.com where the browser will be.

### Expected behavior
I expect them to work the same way

[2019-03-29 01:15] vertonghenb opened #8904 "Revive Para Code Snippet"
### Is your feature request related to a problem? Please describe.
We used to have the code snippet `para > tab > tab` to generate:
[code]
This got lost in some way, can we revive this snippet or extend on the idea?

### Describe the solution you'd like
Basically the PR was already present in Blazor : https://github.com/aspnet/Blazor/pull/974
I know @SteveSandersonMS  had some thoughts about the v

[2019-03-29 01:21] vertonghenb commented on #5550
Agreed that it's not a first priority but keep in mind that component library creators will love this idea.

[2019-03-29 02:36] Tratcher commented on #8903
Offline notes: He had to set the ContentType to text/html for this to work on core.

[2019-03-29 02:36] blowdart commented on #8903
So we can close?

[2019-03-29 03:49] aniyan commented on #6111
Hi,

 Change your modules="AspNetCoreModuleV2"  into  modules="AspNetCoreModule"  it will work

[2019-03-29 04:05] VBAndCs commented on #8817
@Eilon
Yes. I created a freah new app and it works just fine! This versioning hell is very confusing!
Now we Have Vazor 1.0 up and runnung:
https://github.com/VBAndCs/Vazor
Thanks.

[2019-03-29 04:05] #8817 closed

[2019-03-29 04:10] VBAndCs commented on #2738
Hi all,
This is a functional VB Razor (Vazor). Have Fun:
https://github.com/VBAndCs/Vazor

[2019-03-29 04:30] natemcmaster commented on #6845
Yarn does the same thing npm does— symlink a directory— so no. Problem still exists.

[2019-03-29 05:14] davidfowl commented on #8902
I dunno, the generics make me sad.

[2019-03-29 05:26] rynowak commented on #8902
Then I guess you're sad? The builders returned from endpoint routing methods are the application builder replacements. The `IEndpointConventionBuilder` is there to be implemented for all of the *common* stuff.

[2019-03-29 07:14] yahorsi commented on #8648
It seems this is wrong repo for the issue. Here is one in the correct place
https://github.com/dotnet/corefx/issues/36473

So closing

[2019-03-29 07:14] #8648 closed

[2019-03-29 07:27] yahorsi commented on #8648
Just linking:
https://github.com/dotnet/corefx/issues/36473
https://github.com/Microsoft/ApplicationInsights-dotnet/issues/1102

[2019-03-29 07:35] davidfowl commented on #8902
I guess I should write a bit more about why it makes me sad. The problem with generics is that they instantly become hard to use once type inference fails. That happens the moment you have a second generic argument that needs to be specified. Maybe we'll get lucky and won't end up with multiple generic arguments but I am suspicious of that.

[2019-03-29 07:44] davidfowl commented on #7786
This is no longer needed as we're using extensibility for endpoint routing.

[2019-03-29 07:44] #7786 closed

[2019-03-29 08:14] osharko opened #8908 "Adding Swagger Generation Support in Asp.Net Core 3.0"
Swagger is nowadays a standard for Api Documentation, expecially when we work on microServices or simple Api.

At this moment, there's no full support, in .Net/.Net Core for Swagger code generation, neither from swagger's editor because of some problem ( like this [7945](https://github.com/swagger-api/swagger-codegen/issues/7945) and so on) neither from .Net/.Net Core Framework.

The situation is

[2019-03-29 08:26] Aculeo commented on #8823
Not ideal I guess, but I decided to just copy the logic for determining the key directory based on the environment. I'll leave the code here in case someone else wants to do the same.

[code]

[2019-03-29 08:26] #8823 closed

[2019-03-29 09:58] joshua-mng commented on #4221
I'm also using IRouter based custom route to change RouteValues (or in other words, intercept routing) and let MVC action selectors select custom action.

This obviously fails in asp.net core 2.2. So I tried to implement this interception using middleware. To test out the prototype, I tried following and it works.

`
app.UseEndpointRouting();
app.Use(async (context, next) => {
      var selectorCo

[2019-03-29 10:17] daikoz commented on #7661
No, it is difficult to found browser compatiblity on it.

[2019-03-29 10:20] shapeh opened #8909 "CoreCLR Access Violation happens randomly in HashProviderCng.cs / TryFinalizeHashAndReset"
### Describe the bug

We get an access violation from CoreCLR, which causes w3wp.exe or dotnet.exe to crash (depending on selected hostingmodel).

We call the following piece of code on IIS / ASP.NET Core 2.2.3. It will _randomly_ fail on IIS but running the code locally in a console program does not produce any problems with the exact same input strings:

[code]

We previously reported this in ht

[2019-03-29 11:05] karelkral commented on #6111
My developer experience with InProcess is terrible. At half of the cases when starting to debug (F5), an application simply does not start if using InProcess. Without any message. Simply does not start. Disabling Inprocess will help.

The bug is similar with IIS Express or IIS 10.
NetCore app 2.2, VS 2019 RC 4.

[2019-03-29 11:29] springy76 opened #8912 "Some server-side Razor Component exceptions are only visible in Javascript console"
Some component related exceptions which happen on server-side are not getting logged on the server (to console or wherever ILogger logs to) but only visible in javascript console on browser-side.

For example I forgot the register a DI service which showed no error in console but UI did not update for this page. Finally in browser console I found this log entry:

[code]

I would expect to see exce

[2019-03-29 12:20] javiercn opened #8913 "[Components] Multiple component entry points in an app"
- [ ] Should we support the idea of having multiple component entry points in an application?
  - For example. Given pages A and B render different components in each of them and have them be interactive.
- [ ] Should this require a fork in the pipeline or work just with normal routing.
- [ ] Its not clear how to implement this scenario and what works and what doesn't.
  - We should decide what we

[2019-03-29 12:47] Stamo-Gochev commented on #8678
@pranavkm
Thanks for the clarifications.

Can you provide some details whether [Microsoft.AspNetCore.Mvc.ViewFeature](https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.ViewFeatures/) will be upgraded to 3.0 as a standalone package? Is it supposed to remain only up to 2.x for the LTS and the only way to get version 3.0 is by installing [Microsoft.AspNetCore.App](https://www.nuget.org/packages

[2019-03-29 12:52] blowdart commented on #8909
@stephentoub @bartonjs This looks more suited to be in the .net repo?

[2019-03-29 14:04] SteveSandersonMS commented on #5228
All I'm saying is that, if you want to change Node's server.timeout, then you can go to whatever JS code you are invoking via NodeServices and add a line that modifies server.timeout as per Node docs.

[2019-03-29 14:17] balbarak opened #8916 "Signalr Xamarin Client Disconnected when receiving group messages every 1 seconds"
### Describe the bug
Signalr Client disconnect in Xamarin (iOS and Android) after a while when receiving a group message every 1 second

We developed test signalr client in C# that sends message to a group every 1 seconds
* Messages are delivered successful in both Xamarin clients
* After 2 or 3 minutes both Xamarin clients are disconnected while receiving messages for no reason
* Test client writ

[2019-03-29 14:17] fendric commented on #8894
@Tratcher - I didn't fork anything myself... I don't work for NopCommerce... I'm just a client.
I am making a plugin for my company to allow using our Auth0 provider for Authentication.
NopCommerce allows us to extend the product by writing plugins than contain classes that implement certain interfaces, which they pull with reflection at startup and run for us. This allows injection at ConfigureSe

[2019-03-29 14:20] blowdart commented on #8894
Without seeing your startup.cs it's hard to say what's going on

[2019-03-29 14:21] fendric commented on #8894
@blowdart - give me a minute and I'll compile together the Nop startup along with what my plugin is trying to do.

[2019-03-29 14:46] fendric commented on #8894
@blowdart - OK, here we go:

For starters, NopCommerce 4.0 is an AspNetCore 2.0 application running on .Net Framework 4.6.1.

The NopCommerce startup is pretty sparse:
`    public class Startup
    {
        #region Properties

        /// <summary>
        /// Get configuration root of the application
        /// </summary>
        public IConfigurationRoot Configuration { get; }

        #endreg

[2019-03-29 14:46] Tratcher commented on #5999
@bradygaster another variant of the issue.

[2019-03-29 14:47] DanielStout5 opened #8917 "Posting Entity With Child Having IFormFile Property Causes Child To Be Initialized"
### Describe the bug
I have a form that creates a ShopProduct, which is a join between a Shop and a Product.

The ShopProduct Create form sends up the ShopId/ProductId/etc. When the ShopProduct is received by the method, the Shop field is null (as expected). This was working fine, until I added this field to Shop:

[code]

Now, despite the actual ShopProduct form not changing at all, the ShopProdu

[2019-03-29 14:49] Tratcher commented on #5999
Related: https://github.com/aspnet/AspNetCore/issues/4135

[2019-03-29 14:52] jmprieur commented on #4135
The ASP.NET Core team is working on it: https://github.com/aspnet/AspNetCore/issues/4135

[2019-03-29 14:53] fendric commented on #8894
Sorry - having some trouble with the editor...
It's messing up my code blocks somehow

[2019-03-29 14:54] SteveSandersonMS commented on #8786
Closing this, as the part I'm doing is done in #8888, and the remainder is covered by @javiercn's work in #8911.

[2019-03-29 14:54] #8786 closed

[2019-03-29 15:11] DanielStout5 commented on #8917
As a (rather hacky) workaround, I created this class:

[code]

And then changed the property on `Shop` like so:

[code]

The `ShopProduct.Shop` field is now null again, as it should be - but I'd rather not have to use this silly wrapped instead of `IFormFile` directly!

[2019-03-29 15:13] Klipi commented on #4164
I have the same issue. Steps to reproduce:
1) Create a new .NET Core MVC project
2) Add the `[Authorize]` attribute to `HomeController`
3) Add `services.AddAuthentication().AddCookie()` in `Startup.cs:ConfigureServices()`
4) Add `app.UseAuthentication()`in `Startup.cs:Configure()`
5) Disable Debug > Options > Just My Code
6) Debug > New Breakpoint > Function Breakpoint > Enter `OnAuthorizationAsyn

[2019-03-29 15:29] fendric commented on #8894
Fixing it - reading documentaiton

[2019-03-29 15:42] fendric commented on #8894
@blowdart - Apologies for the delay. Should be readable now.

[2019-03-29 15:47] coultonluke opened #8918 "RedirectToRoute ignores default route value for `action`"
### Describe the bug
RedirectToRoute ignores default values for route when generating redirect URL.

### To Reproduce
Assuming the following route, which generates a url like `/GtR5Rr/Question/1`:

[code]

As you can see, the route value for `action` has a default value of `Question`. However when you try to generate a URL using this route using `RedirectToRoute` and you don't specify an `action`,

[2019-03-29 16:01] rynowak commented on #8902
Yeah agreed. So the example with `MapHub` should change to use typeof instead of non-generic.

[2019-03-29 16:02] pranavkm commented on #8678
It will be available as part of the shared framework in 3.0. Here's a couple of issues that detail what this entails:

* https://github.com/aspnet/Announcements/issues/325
* https://github.com/aspnet/AspNetCore/issues/3756

[2019-03-29 16:03] pranavkm commented on #7661
In the absence of standard support across browsers, I don't think it makes sense to support this feature.

[2019-03-29 16:03] #7661 closed

[2019-03-29 16:09] Tratcher commented on #8894
I don't see anything you've done wrong. You'll have to take this up with Nop, they've made some pretty extreme customizations. The most suspect part is here:
[code]

Leaving out the AuthenticationMiddleware would cause this kind of 404. See if DatabaseIsInstalled is true or false.

Unrelated:
- Remove `options.SignInScheme = BasAuthenticationDefaults.AuthenticationScheme;`, it would create a circu

[2019-03-29 16:34] mkArtakMSFT commented on #8886
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-03-29 16:36] davidfowl commented on #8886
We should discuss it to determine what the missing extensibility points are then decide.

[2019-03-29 16:37] mkArtakMSFT commented on #8883
Thanks for contacting us, @niconico49.
We're tracking a separate issue which would solve this problem at #5465.

[2019-03-29 16:37] #8883 closed

[2019-03-29 16:38] mkArtakMSFT commented on #8869
We're fixing this as part of #8911

[2019-03-29 16:38] #8869 closed

[2019-03-29 16:42] rynowak opened #8920 "Remove extra *type check* overloads leftover from preview 3"

[2019-03-29 16:42] #8767 closed

[2019-03-29 16:47] mkArtakMSFT commented on #8540
@qwertylb, the result of the query in the controller action you're referring to is not null, because it's represented by an asynchornousely executing task. So that's the `Task` object you see. Most probably the task's result ends up being `null` when evaluated, hence you get null when you call it.

[2019-03-29 16:47] #8540 closed

[2019-03-29 16:48] #8523 closed

[2019-03-29 16:49] mkArtakMSFT commented on #8523
Since the original question is about Blazor 0.9 we've closed this, as we have some other issues to track improving this experience for the upcoming releases.

[2019-03-29 16:49] fendric commented on #8894
@Tratcher - thank you for the feedback.
The DatabaseIsInstalled will be true at runtime. The first time (ever) you run NopCommerce, it will not have a database and will run scripts to create one, but in subsequent runs the database will exist.

I would love to take this up with Nop (which I have) but they are looking at me saying they don't know what the Microsoft Authentication library expects an

[2019-03-29 16:49] pranavkm commented on #6392
Fixing up MVC templates is currently blocked on https://github.com/aspnet/AspNetCore/issues/8809

[2019-03-29 16:49] brentschmaltz commented on #8903
It's curious why the two runtimes have a different behavior.

[2019-03-29 16:50] mkArtakMSFT commented on #8494
This is being resolved by the referenced PR in slightly different way.

[2019-03-29 16:50] #8494 closed

[2019-03-29 16:52] mkArtakMSFT commented on #8493
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-03-29 16:53] mkArtakMSFT commented on #8440
This is now fixed!

[2019-03-29 16:53] #8440 closed

[2019-03-29 16:58] mkArtakMSFT commented on #8414
Thanks for contacting us, @AndreasTruetschel.
This is a `Mono` issue so please file a bug in `https://github.com/mono/mono` repo instead.

[2019-03-29 16:58] #8414 closed

[2019-03-29 17:07] anurse commented on #5928
To clarify, this is blocked on getting https://github.com/dotnet/corefx/issues/30335 in, right?

@lmolkova are these APIs going in to corefx? (cc @glennc)

[2019-03-29 17:09] danql opened #8922 "Preflight CORS request returning NoContent instead of Forbidden"
### Describe the bug
I have seen other frameworks return a 403 when preflight cors requests fail. According to the name of this test that may be the intention although the assert is for a no content status.
https://github.com/aspnet/AspNetCore/blob/6dc28d8a4ecb53a1890d0c14c9914b46dc0573b8/src/Middleware/CORS/test/UnitTests/CorsMiddlewareTests.cs#L261

### To Reproduce
Steps to reproduce the behavi

[2019-03-29 17:19] anurse commented on #5940
@Tratcher is the SIGTERM issue @Markeli posted resolved by https://github.com/aspnet/AspNetCore/pull/8294 ?

@voronip I can't reproduce that issue, it terminated just fine for me.

[2019-03-29 17:22] anurse opened #8924 "[Epic] ASP.NET Core should support distributed tracing"
We should provide integration with distributed tracing work going on throughout .NET.

Child Items:
* [x] https://github.com/aspnet/AspNetCore/issues/5926 Ambient distributed tracing context
* [x] https://github.com/aspnet/AspNetCore/issues/5925 Support W3C format for distributed trace context propagation
* [x] https://github.com/aspnet/AspNetCore/issues/5918 Parent Request Id is mislabeled as Cor

[2019-03-29 17:23] anurse commented on #5926
Epic https://github.com/aspnet/AspNetCore/issues/8924

[2019-03-29 17:23] anurse commented on #5925
Epic https://github.com/aspnet/AspNetCore/issues/8924

[2019-03-29 17:23] anurse commented on #5918
Epic https://github.com/aspnet/AspNetCore/issues/8924

[2019-03-29 17:23] anurse commented on #5927
Epic https://github.com/aspnet/AspNetCore/issues/8924

[2019-03-29 17:23] anurse commented on #5914
Epic https://github.com/aspnet/AspNetCore/issues/8924

[2019-03-29 17:25] anurse commented on #8924
Note: we don't really have resources allocated to this right now.

cc @glennc

[2019-03-29 17:36] milan-iconics opened #8925 "ManifestEmbeddedFileProvider not working when Resources.resx in same project"
When adding a regular Resources.resx file into an asp.net core project that uses <GenerateEmbeddedFilesManifest>true</GenerateEmbeddedFilesManifest> and a ManifestEmbeddedFileProvider, the file provider throws this InvalidOperationException with this message:
Invalid manifest format. 'ResourcePath' must contain a text value. ''

Using version 2.2.0 of asp nugets, running in .net framework 4.7.2, l

[2019-03-29 17:54] mikaelm12 commented on #8853
We don't currently have plans to support optional parameters on the client. The hub protocol layer on the clients currently require an exact match of parameters otherwise you'll get the argument binding failure that you posted above. A solution for this could be to create your own data type and pass that around. Then you can include/exclude what ever you want without having to create separate clie

[2019-03-29 17:57] dotnetjunkie commented on #8886
Thanks @davidfowl,

I've been browsing through the current code and implementation, and find it odd that those UI Components are not resolved from the container. Instead, they are created using `Activator.CreateInstance`, which forces them to have a default constructor. Instead, services are wired through property injection.

Perhaps I don't understand the constraints, but to me it seems a very we

[2019-03-29 18:14] Tratcher commented on #5940
Unclear, I hadn't reproduced it yet either. #8294 should have only changed the exit code, not affected if it did or did not exit.

[2019-03-29 18:25] aKzenT commented on #4221
@joshua-mng how do you add new routes to the system when new pages are created in the CMS?

[2019-03-29 18:27] mkArtakMSFT commented on #8826
@javiercn reassigning this back to you as Taylor has no capacity in this milestone any more. If this is not a critical issue, feel free to push it out to a further preview.

[2019-03-29 18:36] anurse commented on #8897
cc @Tratcher

[2019-03-29 18:37] springy76 commented on #8869
Thank you for not saying "works as designed" :)

[2019-03-29 18:42] jkotalik commented on #7307
I'll need to sync with my boy @pakrym to figure out how to test site extensions.

[2019-03-29 18:50] jamsoft opened #8927 "NotImplementedException when referencing lib using Microsoft.Rest.ClientRuntime"
### Describe the bug
I have need to use this package https://www.nuget.org/packages/Microsoft.Bot.Connector.DirectLine

However, when I call the API I get the following runtime error:

System.NotImplementedException: Cannot invoke method because it was wiped. See stack trace for details.

at System.Net.Http.HttpClientHandler.SendAsync (System.Net.Http.HttpRequestMessage request, System.Threading.C

[2019-03-29 18:54] lmolkova commented on #5928
@anurse no, at this point there is no work in corefx to support response context. @SergeyKanzhelev do we still need this?

[2019-03-29 18:56] anurse commented on #8897
FYI @blowdart - Updated to include MVP (and non-MVP) scenarios.

[2019-03-29 18:57] anurse commented on #5928
Epic #8924

[2019-03-29 18:58] lmolkova commented on #5925
Fixed with https://github.com/aspnet/AspNetCore/pull/8495, https://github.com/dotnet/corefx/pull/35882, https://github.com/dotnet/corefx/pull/33207

[2019-03-29 18:59] anurse commented on #5940
Ok, so we do still need to investigate if SIGTERM is working in this scenario then.

[2019-03-29 19:02] anurse commented on #5925
@SergeyKanzhelev as far as you know, is there further work needed in ASP.NET Core here? (Catching up on stuff, sorry if this has been discussed before :))

(cc @glennc)

[2019-03-29 19:03] cyberjaws commented on #6385
@springy76 Thanks for posting. These could be related, however I would recommend creating another ticket for the disconnect and then link them.

[2019-03-29 19:15] Thuran opened #8928 "Appsettings not loaded in integration test"
### Describe the bug
When i try run test integration the appsettings data don't injected to my controllers.

### To Reproduce
.Net Core 2.2
I have a appsettings.json and appsettings.Development.json and when i run api this files configured normally, bu when i run tests IOptions<AppSettings> don't loaded to my controllers.
[code]
My WebApplicationFactory is:
[code]
About have a example class to cal

[2019-03-29 19:17] SergeyKanzhelev commented on #5925
@anurse there are other issues for different aspects of distributed tracing. This issue is OK to close.

[2019-03-29 19:17] #5925 closed

[2019-03-29 19:48] #8928 closed

[2019-03-29 20:04] #7495 closed

[2019-03-29 20:48] danroth27 opened #8931 "Rename Razor Components back to server-side Blazor"
We initially introduced the Blazor server-side hosting model in Blazor 0.5.0 and then later decided to ship it in .NET Core 3.0. To differentiate client-side and server-side Blazor we decided to give the server-side model a new name: Razor Components. However this has turned out to cause confusion.

To address this confusion we are going to switch back to referring to the **application model** as

[2019-03-29 20:59] blowdart commented on #8894
The authorization pieces would expect to be in the pipeline before anything else that could handle requests, such as MVC or static files. That's pretty much the only requirement.

[2019-03-29 21:00] pranavkm commented on #7387
Closing in favor of https://github.com/aspnet/AspNetCore/issues/7311 which has more details.

[2019-03-29 21:00] #7387 closed

[2019-03-29 21:02] xclud commented on #8931
Is this an approved decision? Can we still vote?

Personally i am against changing the name. I think Razor Components is a better name. :(

[2019-03-29 21:03] pranavkm commented on #8922
The Fetch spec recommends returning a 403 in case the server does not want to participate in a CORS protcool - https://fetch.spec.whatwg.org/#http-responses. It's debatable if not allowing CORS for an origin is the same as not participating in CORS. That said, is there an actual scenario that's broken here?

[2019-03-29 21:10] danql commented on #8922
The name of the test says ReturnsForbidden. I was wondering if returning Forbidden was the original intention. If that's not the case then the name of the test should be changed to PreFlightRequest_DoesNotMatchPolicy_DoesNotSetHeadersAndReturnsNoContent.

[2019-03-29 21:11] danroth27 commented on #8931
@xclud It's an open forum, so feedback is always welcome 😃

We will still refer to the *component model* as Razor components (i.e. a .razor file will still be a Razor component), but when talking about the *application model* we are finding it very cumbersome to have different names. There's already quite a bit of momentum behind the name Blazor so we'd like to stick with it.  Names are of course

[2019-03-29 21:13] pranavkm commented on #8922
Ahh, yes, that does look incorrect. We'd be happy to accept a PR to get the test name fixed.

[2019-03-29 21:20] anurse commented on #8836
If it's an SDK issue, then perhaps @livarcocc can help route it?

[2019-03-29 21:21] jkotalik commented on #8661
Going to punt this to preview 5 and unassign myself.

[2019-03-29 21:24] Eilon commented on #8909
@joshfree / @danmosemsft - is this in an area that you own? What repo should we move this issue to?

[2019-03-29 21:29] chrissainty commented on #8931
I think this is a good move. There has been no end of confusion about the relationship between Razor Components and Blazor. To the point that people have thought they are different frameworks, not just different ways of rendering.

[2019-03-29 21:35] EdCharbeneau commented on #8931
As someone who very frequently talks to people about Blazor. Razor Components has been nothing but confusion. It's confusing in terms of: when is a Blazor app a Razor Components app, Razor Components as it relates to [Razor Pages & Razor Class Libraries], and tripping over one's self when saying Razor/Blazor. It also makes writing about Blazor difficult, SEO difficult, I could go on.

[2019-03-29 21:36] BarnyardTech commented on #8931
Sanity prevails!  Thanks so much for this change.

[2019-03-29 21:38] stephentoub commented on #8909
corefx is likely the right repo, at least to start.

Is there a runnable repro?

[2019-03-29 21:41] Eilon commented on #8909
This issue was moved to dotnet/corefx#36491

[2019-03-29 21:42] #8909 closed

[2019-03-29 21:51] anurse commented on #5925
Thanks @SergeyKanzhelev !

[2019-03-29 23:10] anurse commented on #5913
Yep, looks like the version numbers are accurate. I'm going to close this.

![image](https://user-images.githubusercontent.com/7574/55267051-32300000-523d-11e9-8d37-1d7508b35627.png)

[2019-03-29 23:10] #5913 closed

[2019-03-29 23:13] anurse commented on #5913
The `V4.0.0.0` is the version of System.Runtime, which is somewhat relevant, if a little confusing in this case. The full version is shown properly in the `FrameworkDescription` value which displays `.NET Core 3.0.0-preview4-...`

[2019-03-29 23:34] #8815 closed

[2019-03-29 23:35] #7307 closed

[2019-03-29 23:40] livarcocc commented on #8836
We never copied things into application from the shared framework that ships with the SDK. When publishing an application, the application bits always come from NuGet, implementation wise.

That is to say, for FDD apps, there is nothing to be copied, what is from the shared framework stays there. For self-contained apps, they the implementation assemblies come from runtime packs.

Lastly, I though

[2019-03-30 01:03] spacecat opened #8936 "Languages IPageRouteModelConvention custom convention for all pages using Razor Pages"
### Describe the bug
Question

From:

https://github.com/aspnet/Mvc/issues/6671#issuecomment-323133037

[code]
**Main question**:
How do you generate the link to that route template (`Template = AttributeRouteModel.CombineTemplates("{language}", selector.AttributeRouteModel.Template)`) in a page using Razor Pages?

I've tried all sorts of combinations in the `asp-page` attribute of the anchor tag

[2019-03-30 02:30] davidfowl commented on #8924
I don't think we need to do all of these as part of the epic. We should meet with @lmolkova next week and narrow down the items to the MVP.

[2019-03-30 02:46] moataz1991 opened #8937 "Passing type of 'Action' to JsInterop ?"
I want something like this while CallBack is `Action<string>`

`JSRuntime.Current.InvokeAsync<string>("Site.GetImageById", guid,CallBack)`
and then from javascript
`Window.Site={ GetImageById:function(id,callback)`
`... some file reader doings.. then `
`callback(data);
}`

is passing parameter of type `Action<T>` doable ? at least in the near future ?
Thanks

[2019-03-30 02:49] vertonghenb commented on #8931
What happened with the .razor extensions, since razor pages are still .cshtml and components are .razor it might be beneficial to call it .blazor?

[2019-03-30 02:54] danroth27 commented on #8931
We're planning to keep the .razor extension for components. Components are based on Razor syntax, but components are handled differently by the Razor compiler, so they need a different file extension.

[2019-03-30 06:35] daohunliwei opened #8938 "The Function「HttpUtility.UrlDecode」will decode twice compare to 「WebUtility.UrlDecode」"
### Describe the bug
The framework I am using is net core 2.0.
I have a string that has been urlencode twice.When I use 「System.Web.HttpUtility.UrlDecode」 to decode, I only call it once, but all the strings are decoded.
When this method is running on Windows, everything works fine. When running on Linux, the above problem occurs.
Later, I changed 「System.Net.WebUtility.UrlDecode」to decode, and the

[2019-03-30 07:02] mcq1212 opened #8939 "Linux always killed my process but Windows is normal"
This  is a dynamic proxy to get the webservice project. It is based on the webapi framework of .net core2.2

linux info：
`CentOS Linux release 7.6.1810 (Core) `

dotnet info:
[code]

system message log：
[code]

[2019-03-30 07:35] ghidello commented on #8931
What about the blazor hosted template? For the client side model it is the easiest way for:
-  applying the CSP security headers
-  computing the SRI hashes (ideally this will also be needed for the assets downloaded directly by blazor.webassembly.js)
-  compressing the assets (at least until the dll files will be shipped with the wasm content type which is already compressed by the couple of CDNs

[2019-03-30 08:09] stavroskasidis commented on #8931
I also love this rename back to just "Blazor". ATM talking with people about Blazor and Razor components is just plain confusion.

[2019-03-30 10:03] collinstevens commented on #4364
I'm also having this problem with VS 2017 15.9.9.

When debugging with the IIS Express profile, VS modifies the web.config to insert the two environment variables:

[code]

Even if I delete them entirely, they are reinserted back. I created a web.Debug.config and a web.Development.config with the hopes that it would insert the environment variables into there which would be fine, but no joy unfort

[2019-03-30 10:37] SamProf commented on #8931
Blazor is a trchnology with (at least) two hosting model. So, I like Blazor!

[2019-03-30 10:55] SamProf commented on #6364
Thats exactly what I need in Blazor!

[2019-03-30 11:31] kaldren commented on #8931
One name to rule them all.  One Blazor with two different hosting models is definitely better. It saves from a lot of confusion down the road.

[2019-03-30 11:36] ErikSchierboom commented on #8931
I welcome this change! The new (or old) naming is far less confusing I feel.

[2019-03-30 12:04] michaelvolz commented on #8931
I agree with @vertonghenb that the file extension should also be renamed to `.blazor`. It makes much more sense. Both `.cshtml` and `.razor` have razor syntax, but only one should have Blazor specific code which would make a `.blazor` file extension more precise and less ambiguous IMHO.

[2019-03-30 12:37] duracellko commented on #8931
Short comment: I agree with changing name back from _Razor Components_ to _Server-side Blazor_.

Long answer: I believe that both client-side and server-side "components" should have same name, whatever it is: Blazor, Razor Components, ASP.NET Core Components. For example React and React Native are much more different technologies and yet they share the same name.

Advantage of Blazor name:
- It i

[2019-03-30 12:52] duracellko commented on #8931
And regarding extension it depends how Razor compilation is extensible. If for example in future there will be static generated Razore pages also with `.razor` extension and compiler can handle it, then I would keep `.razor` extension. Basically like `.xaml` extension is used for controls, pages, resources, application objects.

I think this should be perfectly achievable. I don't know what is cur

[2019-03-30 13:05] poke commented on #8931
I welcome this change a lot! The name “Razor components” was always a bit confusing because the expectation was that this was a purely server side thing, like everything else Razor does is. So the expectation was that Razor components are, kind of like user controls in WPF, a way to compose custom components using a Razor syntax instead of code (like tag helpers allow).

By renaming this, that con

[2019-03-30 13:22] ikebig commented on #6111
Hi,

Changing modules="AspNetCoreModuleV2" to modules="AspNetCoreModule" worked for me

[2019-03-30 13:34] myty commented on #8931
I know @poke and @duracellko both mentioned the term blazor components in passing, but I actually like that as a name. What about __Blazor Components__ instead of __Blazor (server-side)__?

Oh.  and I think `.blazor` for the extension name is a good idea too.

[2019-03-30 13:39] poke commented on #8931
@myty I think conceptually, the components were always “Blazor components” (i.e. you create components with Blazor). “Blazor (server-side)” and “Blazor (client-side)” are the two different hosting models in which you can consume and run the same (I think?) Blazor components. So you would use both “Blazor components” to describe that you are creating a component, and “server-side Blazor” to describ

[2019-03-30 13:46] myty commented on #8931
The fact that it was alway Blazor components was what sold me on the name.  Tell it like it is and it sounds cool too.  :)

...but, I also see the confusion between server-side and client-side.  It's hard to tell the story without specifically calling them out.

[2019-03-30 14:10] kaagati commented on #8886
https://aspnet.uservoice.com/forums/252111-asp-net-vnext/suggestions/13657053-replace-di-with-simpleinjector

[2019-03-30 15:41] GoranHalvarsson commented on #8931
Yes! Finally :) Blazor is the true name.

[2019-03-30 17:10] dougbu opened #8941 "Add retry to VS installation script"
When used in a CI build step (Install Build Tools for Visual Studio 2019), the installation part of InstallVisualStudio.ps1 sometimes silently fails. Add a retry and, if possible, display more information when problems arise.

Example build failures:
- https://dev.azure.com/dnceng/internal/_build/results?buildId=137826
- https://dev.azure.com/dnceng/internal/_build/results?buildId=137832
- https:/

[2019-03-30 17:31] honkmother commented on #8931
do you even blaze?

[2019-03-30 18:41] GoranHalvarsson commented on #8931
Yes

[2019-03-30 19:18] JeepNL commented on #8931
For me Blazor = WASM.

So 'Razor Components' (SignarR!) is something completely different. Explaining the difference is easy enough: Blazor ís WASM.

IMHO.

[2019-03-30 19:37] miroslavp commented on #8931
This is definitely the right decision. Even after the new "Razor Components" term was introduced, me and my colleagues are still referring to it as Server-side Blazor. I also prefer the .blazor extension or something like .component. The views in MVC also use the razor syntax, so .razor brings additional confusion.

[2019-03-30 20:04] adrianwright109 commented on #8931
I think the u-turn to rename Razor Components back to Blazor is a good one.

I do think that the component extension shouldn't be `.razor` as it's confusing to have 2 different extensions representing razor files.  (`.cshtml` and `.razor`)

I think `.blazor` or `.component` extensions would be better alternative than `.razor`.

[2019-03-30 20:05] kardokh commented on #8751
@SteveSandersonMS @aiqoo Thanks, its working.

[2019-03-30 20:54] bchavez commented on #8931
Thank you for making this name change back to **Blazor Server-Side**. I'm relieved to be quite honest. I had a small lolwut? moment when I first heard the name change to **Razor Components**.

Personally, I think the word **Razor** is overloaded enough:

* Razor
* Razor Views
* Razor Pages
* Razor Page Controllers
* Razor Page Models
* Razor Class Libraries
* Razor Partial Views
* Razor View Compo

[2019-03-30 21:34] GrabYourPitchforks commented on #8866
The API invokes `CryptProtectData` and `CryptUnprotectData` under the covers when refreshing the keyring, depending on the key protection mechanism in use. If the account making the call is a managed service account or a domain account (as opposed to a local user account), `CryptProtectData` / `CryptUnprotectData` may end up making calls to the domain controller. Often times these failures are tra

[2019-03-30 21:43] Sergio1C commented on #2943
Hi from 2019 ....I was get similar error output, but i've get first error as:

I tryed investigate this issue self and solve this issue:
1) open cmd and build project (in your project path) by command "dotnet build"
2) it show again output error. In my case it was
`the library 'hostpolicy.dll' required to execute the application was not found in C:\Programm files\dotnet\shared\Microsoft.NetCore.Ap

[2019-03-30 21:50] penenkel opened #8942 "HostingLogScope should include Request.BasePath"
When logging the request path the `HostingLogScope` should also include the`HttpContext.Request.BasePath`.

At the moment only `HttpContext.Request.Path` is logged. This leads to the unexpected behavior that the URL triggering the request is not necessarily equal to the request path logged. This is the case if for example the `UsePathBaseMiddleware` is used.

I expected the request path logged to

[2019-03-30 21:59] Mitiko commented on #8931
Having an interest in Razor Components because it plays nicely in my project lead me to here.
I understand what we are talking about, but someone who is just getting started might be confused of what's under the hood, because of the naming.
If the goal is to ship Razor Components just as a temporary replacement for the upcoming Blazor, I wouldn't womant its name changed.

[2019-03-30 22:09] HarolGomezM commented on #8583
Great Job !!!!

[2019-03-30 22:15] davidfowl commented on #8942
This seems reasonable, I would just contact them (if the base path isn't empty). Do you want to send a pull request?

[2019-03-30 22:20] poke commented on #8931
@Mitiko Server-side Blazor will not be affected by the decisions around client-side Blazor (based on WebAssembly). Assuming the latter gets released at some point, you will still be able to use server-side Blazor. Both application models will actually be able to share certain things so it does make more sense to align them with their name as well.

[2019-03-30 22:21] VBAndCs commented on #8583
Thanks @HarolGomezM
I used another approcah to let Razor take care of Tag helpers and other stuff, by using a virtual file provider to deliver to Razor the generated html from Vazor as if it is a cshtml file!
It works fine and it allows you ti use both cshtml files and Vazor View classes together in the VB.NET project!
I puplished the source here:
https://github.com/VBAndCs/Vazor

[2019-03-30 22:42] enetstudio opened #8943 "Is it not enough to declare a variable of type HTMLAnchorElement ? why create an anchor element as well?"
The following is a method defined in a TypeScript file, used in Blazor. Could you please tell me why the author of this method defines a variable of type HTMLAnchorElement in addition to creating an "a" tag like this: document.createElement('a')

let testAnchor: HTMLAnchorElement;
function toAbsoluteUri(relativeUri: string) {
  testAnchor = testAnchor || document.createElement('a');
  testAnchor.h

[2019-03-30 22:48] #8943 closed

[2019-03-30 23:12] moataz1991 commented on #5617
im sorry but im stuck !
when we will be able to attach large files in blazor client side ?

[2019-03-30 23:35] csmith93 commented on #4364
Having issue as well. Tried marking the file as read only, and now I get the following error:
![image](https://user-images.githubusercontent.com/19494864/55282838-ece5fe00-5322-11e9-9156-dd72cfd999f9.png)

[2019-03-31 00:05] EdCharbeneau commented on #8931
This is why it's ultimately confusing. When you have logic that doesn't care where it's hosted, what is it called? Then the framework magically changes names based on what "shell" you use. It just doesn't make sense to have two names. To @poke 's point see the video below: @Mitiko

https://www.youtube.com/watch?v=dNQ7MgPZby4

[2019-03-31 02:23] carloscds opened #8945 ".NET Core Worker not call ExecuteTask"
### Describe the bug
I have create a worker using "dotnet new worker" but using code bellow no events are written to EventLog:

program.cs
[code]

worker.cs
[code]
Attaching debug session to installed service, nothing happen!

[2019-03-31 02:30] danroth27 commented on #8931
@ghidello It stays as is. So there will be three Blazor templates: standalone client-side, ASP.NET Core hosted, and server-side

[2019-03-31 02:40] carloscds commented on #8945
I have  discover that problem is StartAsync() and StopAsync() methods. When I put then, not work and when I remove, works!

[2019-03-31 03:18] insinfo opened #8946 "all routes defined in a single file similar to the Slim Framework"
is there any way to make all routes defined in a single file similar to the Slim Framework and the Laravel Framework from PHP

[code]
**something similar to this example**
[code]

[2019-03-31 03:25] dougbu commented on #8862
We also have AzDO YAML files using the old "phase" schema that AzDO has deprecated. Should move to current "job" schema. See https://github.com/dotnet/arcade/blob/master/Documentation/AzureDevOps/PhaseToJobSchemaChange.md

[2019-03-31 05:25] ishara119 opened #8947 "Can anyone give me a example for .Net Core SignalR with MySQL"
HI All,

I want to show real-time data which are inserting in to a MySQL table, so appreciate if anyone can suggest me a suitable article or starting point which can explain how to use .Net core singalR with MySql

thanks

[2019-03-31 05:30] nosyminotaur commented on #8947
Do you need an example specific to SignalR or MySQL? When using Entity Framework, changing database providers is very simple, so you can easily switch from SQL Server to MySQL.

[2019-03-31 07:00] davidfowl commented on #8945
Yes this is because you need to call the base (which I agree is a bit unclear). Changing this wild be a breaking change at this point so I’m not sure how much we’d be willing to do here

[2019-03-31 12:10] nour-s commented on #6104
@wegylexy Correct me if I'm wrong, but if you use `Microsoft.AspNetCore.SignalR.Redis`, SignalR saves the connections list to the Redis server you specify in the configuration. Meaning, if the web server was scaled out, all SignalR nodes still share the same Redis server data.

So how is scaling out SignalR a problem? and if it is a problem, why not let the user worry about that and at least give

[2019-03-31 12:54] tebeco commented on #1671
@Tratcher any news on why it happen again ?
It is not working for both `IIS Express` AND `Console`

i tried to :
* `dotnet dev-certs http --clean`
* `dotnet dev-certs http --trust`
* delete `.vs/`
* change `launchSettings.json` to anything else
* removed `UseHttpsRedirection()`
* removed `UseHsts()`
* not working for IP / dns in the browser

Also i do not a new behavior is vs2019 when running chro

[2019-03-31 12:59] ransagy commented on #8931
I'm glad to see this, As you said - The name has a meaning and a momentum behind it and to me it conveys that both models are going forward with strong support.

IMO you should also name the component model name to refer to Blazor, even if you use the Razor syntax/engine. It would just make it a more cohesive one-stop-shop solution, naming wise.

[2019-03-31 13:02] jamsoft commented on #8927
OK, I've identified that I should be using WebAssemblyHttpMessageHandler in a Blazor client application but Visual Studio 2019 is absolutely refusing to let me.  So odd.

I'm referencing Microsoft.AspNetCore.Blazor (0.9.0-preview3-19154-02)

Yet when I try to reference anything I can't "see" the "AspNetCore" namespace ... CTRL+. Can't find the class and I cannot reference it through a full qualifi

[2019-03-31 13:25] linkanyway opened #8949 "AspNet Core 2.2 forget markup Microsoft.AspNetCore.Hosting.IApplicationLifetime obsolete in source code"
### Describe the bug
the [official document](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.hosting.iapplicationlifetime?view=aspnetcore-2.2) mark up the Microsoft.Extensions.Hosting.IApplicationLifetime obsolete  and looks like move it to Microsoft.AspNetCore.Hosting.IApplicationLifetime, but haven't markup obsolete in source code

![image](https://user-images.githubusercontent.

[2019-03-31 14:00] #8927 closed

[2019-03-31 14:08] jamsoft opened #8950 "Blazor Debugging in Visual Studio 2019 Fails to Connect"
### Describe the bug
When I try to connect VS2019 to a running Blazor application I get

Unable to connect to `<localhost address>` Operation not supported. `Unknown error 0x80070057`

![blazor2](https://user-images.githubusercontent.com/2502211/55290662-e1034600-53cd-11e9-8f47-44ca1749fd66.PNG)

### To Reproduce
Steps to reproduce the behavior:
1. Start Blazor App
2. Run Chrome with debugging (%p

[2019-03-31 14:13] ishara119 commented on #8947
@nosyminotaur I'm want to show real time data in a webpage,
for a example, if a new record insert to database, it should be notify to web applications so I think to use SingleR for this and my database is MySql,  and backend is .net core 2.2

[2019-03-31 14:28] wegylexy commented on #6104
@nour-s My understanding is that SignalR does NOT save the connections on Redis. It publishes messages to Redis channels, and subscribes to some channels for directly connected clients. Nothing persists on Redis. This is how it scales out, by not maintaining connections at any centralized place but distributing.

[2019-03-31 15:05] damianh opened #8951 "Align TestHost.WebSocketClient with System.Net.WebSockets.ClientWebSocket"
When using TestHost, we use a real `HtppClient`. This means that "outside-in" testing code is exercised against the same type in tests that is used in real world. (Yes, internally, the indirection is handled via a custom handler). This makes testing between two services easier as the HttpClient code used in service A to call service B, is essentially the same that used in service B's tests. This i

[2019-03-31 15:07] Tratcher commented on #1671
Comments on closed issues are not tracked, please open a new issue with the details for your scenario.

[2019-03-31 15:18] nour-s commented on #6104
@wegylexy Hmmm, interesting, so basically, still each server has its own list of connections in the memory, but it gets updates from Redis published by other nodes, and pushes updates to other nodes?

[2019-03-31 15:43] tebeco opened #8952 "Host unreachable in https due to weak Http2 cipher"
### Describe the bug
The browser is not happy with the cipher used for HTTP2 (i guess)
`ERR_SPDY_INADEQUATE_TRANSPORT_SECURITY` and equivalent in chrome

### Bad Workaround
only for firefox
i managed to go in `about:config` and disable weak cypher check this actually has an effect

is there a simple way to completely disable HTTP2 via a Kestrel `IOptions<>` ?

### To Reproduce
Steps to reproduce t

[2019-03-31 16:11] Andrzej-W commented on #8950
If you want to debug Blazor application in VS you have to use Blazor on the server (Razor Components). Blazor on the client (WebAssembly)  can be debugged directly in Chrome. Here are details:
https://docs.microsoft.com/en-us/aspnet/core/razor-components/debug?view=aspnetcore-3.0

You cannot debug Blazor WebAssembly in VS. Currently Blazor is compiled to IL code and then ***interpreted*** in the b

[2019-03-31 17:17] VBAndCs commented on #8817
@Eilon @danroth27
I am trying to use Vazor with Razor pages, but the ile provider have a problem with Razor Pages. The IFileProvider.GetFileInfo method recieves requests for all cshtml pages (like _layout.cshtml.cs) except the razor page (like Index.cshtml). I need to suply an in-memory index.cshtml not a phistcal one. How can I solve this?

[2019-03-31 17:26] yevhen opened #8953 "Serving server-side blazor from subfolder"
Using server-side rendered Blazor, I moved `Pages` and `Components` folder into GUI subfolder. I also changed `<_RazorComponentInclude>Components\**\*.cshtml</_RazorComponentInclude>` to `<_RazorComponentInclude>GUI\Components\**\*.cshtml</_RazorComponentInclude>`. Then compiling and running the app (F5 from VS19) shows blank screen (localhost page not found). The `Index.cshtml` is not served.

##

[2019-03-31 17:54] mashbrno commented on #8931
What about Components namespace? It should be renamed too.

And .razor files should be .blazor as they are linked to Blazor technology. Otherwise they should be used for common Razor Mvc too.

[2019-03-31 18:50] davidfowl commented on #8590
The work here is mostly done on the SignalR side of things. The Azure SignalR SDK changes will be going in soon. It'll require some code changes as a result though.

[2019-03-31 19:00] davidfowl commented on #8536
As a strawman design for the first part of this issue, we could introduce a simple interface like this:

[code]

This follows the filter pattern we have elsewhere in the product (middleware, startup filters etc)

- Short circuiting the default logic means you don't call next
- With access to the Exception and next you can change the exception type in a filter and call next with a more specific exc

[2019-03-31 19:05] davidfowl commented on #8590
@anurse moving this back into preview4 as we can't ship another preview that doesn't work with the service.

[2019-03-31 19:45] Tratcher commented on #8952
What OS is the server on? We've seen this on 2012/Win8.

You can opt out of HTTP/2 using these options:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.2#listenoptionsprotocols
E.g.:
[code]

[2019-03-31 20:09] springy76 opened #8954 "Razor Components: Differ for deltas (renderer) ignores IDs"
Using 3.0 preview3 of Razor Components (server-side)

Sample: https://github.com/springy76/RazorComponentsProblems/blob/problem/DifferIgnoresIDs/WebApp/Components/Pages/Index.razor

Because the differ does ignore IDs when removing the first node of a list, instead of really removing the first node then all nodes get its ID (and all attributes and children) reassigned and finally the last one is re

[2019-03-31 20:17] tebeco commented on #8952
Windows 10 - Fast ring insider

was working fine last week. Was hit by an insider bump + latest preview of vs2019

i did not try to move to the nightly of netcore 3.0.0

also tried to add 2 registry key to disable HTTP2 for Win2016 server.
it had no effect

(i live on the edge)

[2019-03-31 21:31] reaction1989 commented on #6331
@blowdart How do you want the Interface to change?

[code]
or
[code]

[2019-03-31 22:54] carloscds commented on #8945
@davidfowl Maybe you can change sample at blog post including Start and Stop calls!

[2019-03-31 23:08] carloscds commented on #8945
@davidfowl Now it's working:

[code]

[2019-03-31 23:52] AdmiralSnyder opened #8957 "dotnet-watch should run a script before KillTree"
### Is your feature request related to a problem? Please describe.
I use dotnet-watch on an asp.net core Project in Visual Studio to modify the .razor files.
I attach the VS debugger in the Program.cs of the Web App.
Because dotnet-watch uses taskkill -T -F, all of its child processes are killed, so there is no way to detach the debugger which keeps a lock on the pdb files, preventing dotnet-watch

[2019-04-01 01:52] bojanrajkovic commented on #4211
Would love this -- I want to expose [hashids][hashids] to end users rather than raw database IDs, and it would be nice to "abstract" the boilerplate of decoding hashids output to an `IInboundParameterTransformer`.

[hashids]: https://hashids.org/

[2019-04-01 02:10] Tratcher commented on #8952
Those reg keys are only for IIS/Http.Sys. I wonder if Insiders has a regression. @shirhatti

[2019-04-01 02:25] rynowak commented on #8536
This pattern seems OK, how do we decide on the order? Are these in DI or options? What's the lifetime? Those are some of the rough edges in MVC's filters. If it's based on options then the answers are pretty straightforward IMO.

+1 for the idea of chain of responsibility here. Is the idea that we register the current behaviour as the last filter?

I'm not sure the idea of transforming the excepti

[2019-04-01 02:32] davidfowl commented on #8536
DI order, like IStartupFilters. I don't think the order will matter that much in practice as I'm hoping the majority use case is to filter on exception type if you're not wholesale changing exception formatting (then you just need to be the first).

DI.

Singleton

Turning an Aggregate into something else or a TargetInvocationException into something. It might be contrived but we'll see what peopl

[2019-04-01 02:38] rynowak commented on #8536
I think there's another important dimension here - what is the client? We've wanted for a while to have a JSON version for APIs.

If the framework registers handlers for you then it won't be straightforward to resolve ordering problems.

If that's the case though, then I wouldn't do it that way as a user. It's a little too clever.

If there are places the framework *always* throws a TIE or an Aggy

[2019-04-01 02:39] rynowak commented on #8536
Imagine registering a handler that does problemdetails for an API based on `IApiBehaviourMetadata` (`[ApiController]`)

[2019-04-01 02:54] davidfowl commented on #8536
That's a good question. If you look at the original issue, we also want to change the output to the plain text exception if text/html isn't in the accept header (or if there's no accept header). That's the lowest common denominator and wouldn't be expressed as a filter (it'll just be built in).

So that was the intent. If a filter ends up being greedy it'll never run but I don't know that we want

[2019-04-01 04:05] Eilon commented on #8817
@VBAndCs please file a new bug with the minimal steps required to reproduce this issue.

[2019-04-01 04:16] Eilon commented on #8536
FYI here are previous bugs tracking related (similar/same) stuff:

* Very related:
   * https://github.com/aspnet/AspNetCore/issues/2590 - DeveloperExceptionPageMiddleware always returns HTML, sometimes JSON would be better
   * https://github.com/aspnet/AspNetCore/issues/2573 - Provide in-the-box handling for page vs. API errors
* Not quite related, but related contepts:
   * https://github.com/a

[2019-04-01 04:21] davidfowl commented on #8604
They should be pushed to myget. Add https://dotnet.myget.org/F/aspnetcore-dev/symbols as a symbol server https://dotnet.myget.org/F/aspnetcore-dev/symbols

[2019-04-01 05:28] Tratcher commented on #8951
Either way you end up with a WebSocket so Send, Receive, Close, and Abort are all shared APIs.

Connect and Options are the largest points of divergence. ClientWebSocket's APIs are not virtual, nor is it straightforward to retroactively add an interface to netstandardX.X.

I think the only way you'd get a common API is with a unifying wrapper and a factory.

[2019-04-01 05:30] Tratcher commented on #8949
It's not obsolete until 3.0. See https://github.com/aspnet/Announcements/issues/344.

[2019-04-01 05:32] Tratcher commented on #8949
@guardrex That obsolete warning is really misleading, it's showing up on all versions of the docs, not just 3.0. Who maintains that?

[2019-04-01 06:00] guardrex commented on #8949
@dend

[2019-04-01 06:30] tebeco commented on #8952
Is it a way to let developper knows that they are running on a server that may end up like this ?

For example a `dotnet tool` listing cipher that can be used on the current machine / server with, for example colors to indicate potential weak cipher and so on.
Or a boolean to make the server agressive and failfast if the cipher listed are too weak at startup time.

This would required to know the

[2019-04-01 08:06] xsoheilalizadeh opened #8959 "Razor Page Type in PageActionDescriptor"
In the `ControllerActionDescriptor` I have access to the attributes that have decorated on the controllers and action. I use this option for implementing the dynamic permission scenario and with `GetCustomAttribute` I fetch the `AuthorizeAttribute` that has decorated on my controllers and actions.
[code]
Now, I want to use this feature for the projects that use Razor Pages instead of MVC. So here

[2019-04-01 08:17] egil commented on #8931
Still a little confused with regards to components:

So if I am building a component library, that works both with server side and client side Blazor, do I refer to the components as "Blazor components" or "Razor components"?

[2019-04-01 08:22] chrissainty commented on #8931
@egil Based on what Dan Roth said above a component will still be know as a Razor Component.

[2019-04-01 09:21] conficient commented on #8931
Adding my vote of approval to this change.

As I see it, a **`RazorComponent`** is a C# component written using Razor syntax and C# code.  We could use `RazorComponents` in a wide range of projects, including `Blectron` (as in the StorageExplorer demo), HTML-generators (e.g. for email body generation in the same way as [RazorGenerator](https://github.com/RazorGenerator/RazorGenerator) does for `.c

[2019-04-01 09:55] SteveSandersonMS commented on #8435
Thanks for reporting this, @DeanRoddey!

You're right - this is a bug. It will be fixed with https://github.com/aspnet/AspNetCore/pull/8960

[2019-04-01 09:58] yashwanthreddyg opened #8961 "Question: Registry key for AspNetCoreModule"
Is there a registry key to check if AspNetCoreModule is installed?

[2019-04-01 10:10] VBAndCs commented on #8817
@Eilon
There is aleady an issue about this in an old reop:
https://github.com/aspnet/Mvc/issues/6489
You and @danroth27  responded ther and said this is becuase the routing system needs to open the pages to reference the model classes. I saw this first so I asked here if you have a solution, workaround or an alternative.
I think this should be splved.
The only workaround I came with, is to use the

[2019-04-01 10:38] sander1095 opened #8962 "[FromForm] and a model that contains a list of items does not split the items correctly"
### Describe the bug
See my stackoverflow post: https://stackoverflow.com/q/55452461/3013479

TLDR:
`[FromForm]` combined with a model that contains a list of items will not split the items correctly.

### To Reproduce
The repo to reproduce the issue:
https://github.com/sander1095/FromFormGuidListBug

### Expected behavior
I expect the list of items to equal the amount of items I enter in swagger.

[2019-04-01 11:01] VBAndCs commented on #8817
@Eilon
I have a solution for two issues at once:
Issue 1: If the router system didn't find the index.cshtml file in the Pages folder, the browser shows a blank page!
Issue 2: The router system doesn't use the File provider to fetch the Index.cshtml file.
The solution:
The router system enumrates the contents of the Pages folder as usual, but when there is request for a page that desn't exist (i.e

[2019-04-01 11:33] EnricoMassoneDeltatre opened #8963 "ASP.NET core 2.2 web api does not use the default data protection key management settings when hosted on IIS"
Hi,

we have an ASP.NET core 2.2 web application exposing some web api controllers.

Our application does not have any kind of authentication mechanism, all the exposed endpoints can be called by an anonymous user (put another way: we don't use ASP.NET identity at all).

When we host the application on windows machine using IIS we get 3 strange warning messages at the application startup. These ar

[2019-04-01 11:34] vchirikov commented on #8523
Add link to this issues please, I will subscribe

[2019-04-01 12:01] #8435 closed

[2019-04-01 13:44] silmon27 commented on #8843
As expected forcing HttpProtocols.Http2 results in the same exception as HttpProtocols.Http1AndHttp2. Also not related to Alpine, same happens with regular image.
I will try to enable verbose logging and see if I can find out more.

[2019-04-01 14:41] anthcool commented on #8931
Blazor )client-side) and Blazor (server-side) sounds great!  Razor Components for the UIs of both, with Blazor as the engine behind the applications irregardless of hosting model.  Simple, clean, and as one of my fav comedians would say.... GIT R DONE!

[2019-04-01 14:45] Tratcher commented on #8952
Can you give the specific windows build number?

We'd only add this kind of tooling if we could no longer say it worked on all rtm win10 builds.

[2019-04-01 14:53] poke commented on #4848
Iterating on @Eilon’s idea here: To avoid hardcoding magic keys for the validations, maybe we could provide a way to essentially configure it like this:

[code]

That way you could set up your own “magic” string for finding the message for a validation attribute. And if there is no provider specified, it would fall back to the default behavior.

The logic to attempt the localization could then loo

[2019-04-01 15:05] rynowak commented on #8536
I'm referring to cases where the TIE or AggyBoy doesn't have any information. If you use reflection to invoke a method, there's no real downside to unwrapping the TIE you get back. Likewise for a `Task.Result`.

I realise this is just banter at this point 😆

[2019-04-01 15:11] Eilon commented on #8817
Understood, but please log a new issue. We can't use issues in old archived repos because they are read-only.

[2019-04-01 15:22] guylando opened #8965 "Application 'MACHINE/WEBROOT/APPHOST/APPNAME' with physical root 'C:\inetpub\path\wwwroot\' created process with commandline 'C:\inetpub\path\proc.exe ' but failed to listen on the given port 'xxx'"
Getting the error in the title each time with some other random port when trying to browse into an uploaded asp.net core website.
There is another asp.net core website on same iis and that one works fine.
iis 10, windows server 2016.
net core+hosting 2.1.7.
app target net472.
Same target and net core app on same iis works well in parallel to this one not working.
Running same code of the problemat

[2019-04-01 15:23] jkotalik commented on #8961
@joeloff I was trying to see if there is a reg key for the windows hosting bundle and didn't see it. Does it exist.

I don't believe we have reg keys for AspNetCoreModule itself, but we do register reg keys for the eventlog. You should be able to check `HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\EventLog\Application\IIS AspNetCore Module or IIS AspNetCore Module V2.

[2019-04-01 15:25] jkotalik commented on #8963
@Tratcher ?

[2019-04-01 15:29] jkotalik commented on #8965
Can you try enabling stdout logs as shown here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/troubleshoot?view=aspnetcore-2.1#aspnet-core-module-stdout-log.

Most likely there is a startup error occurring in your application which causes the app to fail to listen to a port specified.

[2019-04-01 15:33] guylando commented on #8965
According to the logs the startup configure method never finishes. Can it cause that error? @jkotalik
I will investigate why it gets stuck, probably a bug in our code.

[2019-04-01 15:47] davidfowl commented on #8963
I believe you need this https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-2.2#data-protection

[2019-04-01 15:55] joeloff commented on #8961
Bundles don't generally create registry keys, though it does write some information into HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall (but it's arranged by GUIDs and will be different for each bundle). Also, detecting the bundle may not be sufficient as it would only install ANCM if all the required IIS features are enabled.

@yashwanthreddyg another option would be to simply check for

[2019-04-01 16:04] EnricoMassoneDeltatre commented on #8963
Hi and thanks for help. I'm going to give it a try

[2019-04-01 16:22] mkArtakMSFT commented on #8395
Glad you figured this out. Thanks for using Blazor!

[2019-04-01 16:22] #8395 closed

[2019-04-01 16:26] mkArtakMSFT commented on #8388
Thanks for contacting us, @AceTheWiz.
@javiercn, can you please look into this? Thanks!

[2019-04-01 16:26] mkArtakMSFT commented on #8385
Thanks for contacting us, @stsrki.
@rynowak, can you please look into this? Thanks!

[2019-04-01 16:28] mkArtakMSFT commented on #8384
Seems this is going to be resolved by https://github.com/aspnet/AspNetCore/issues/6920.

[2019-04-01 16:28] #8384 closed

[2019-04-01 16:39] danroth27 commented on #6920
This should be fixed now by https://github.com/aspnet/AspNetCore/issues/8679.

[2019-04-01 16:39] #6920 closed

[2019-04-01 16:43] jkotalik commented on #8267
I'm piggy backing this issue to re-enable more dotnet watch tests. Updating the SDK cause this test to fail constantly.

[2019-04-01 16:46] ryanbrandenburg commented on #8267
@jkotalik: Constantly or consistently?
Even before these are totally re-enabled, as long as they're not failing 100% of the time we should use the new flaky attribute instead of skipping.

[2019-04-01 16:48] damianh commented on #8951
Assembly neutral interface? 😄

I can do that, but it's not going to be adopted unless that unifying wrapper / interface is in corefx or shipped from aspnet core team.

[2019-04-01 16:53] Tratcher commented on #8951
Understood. It'd help if you could do a rough draft of the API though. Connect is easy to abstract but the options look messy.

[2019-04-01 16:54] jkotalik commented on #8267
Constantly

I disagree. The set of tests I am disabling are failing on 90% of runs, with at least one failure on each run (see https://dev.azure.com/dnceng/public/_build/results?buildId=139204&view=logs). All of the tests labeled as flaky failed on osx and 5 of 6 failed on linux. By keeping flaky, anyone who is checking that tab will always see failed with warnings. In my opinion, the flaky attrib

[2019-04-01 17:03] ryanbrandenburg commented on #8267
@anurse for opinions.

[2019-04-01 17:10] mkArtakMSFT commented on #8936
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-04-01 17:10] mkArtakMSFT commented on #8936
@pranavkm, can you please share a sample here, if you have one? Thanks!

[2019-04-01 17:16] mkArtakMSFT commented on #8918
Thanks for contacting us, @coultonluke.
@JamesNK is the `action` getting the ambient value here which is `Start`? Is this the expected behavior?

[2019-04-01 17:29] mkArtakMSFT commented on #8917
Thanks for contacting us, @DanielStout5.
The reason for the `Shop` to be initialized for you is because of how the model binding treats the inner `IFormFile` property. If a greedy (that's the case here) model binder finds an applicable property in the value graph, it'll automatically initialize the parent object (to it's default value).
@pranavkm, can we investigate why the binding doesn't happen

[2019-04-01 17:36] DanielStout5 commented on #8917
It seems to me that the model binder shouldn't be greedy here - there is no value being posted by the form, so I don't understand why it would instantiate it. The `Shop.BackgroundImage` value itself was null - the form isn't sending up any files.

[2019-04-01 17:36] mkArtakMSFT commented on #8908
Thanks for contacting us, @osharko.
This seems to be something on our radar already: https://github.com/aspnet/AspNetCore/issues/7639
Closing this one as a dupe.

[2019-04-01 17:36] #8908 closed

[2019-04-01 17:37] mkArtakMSFT commented on #8908
/cc @glennc

[2019-04-01 17:42] mkArtakMSFT commented on #8903
Thanks for contacting us, @brentschmaltz.
In the core example above we default to `text/plain` content type, which browsers interpreted as normal text, instead of normal HTML.

[2019-04-01 17:42] #8903 closed

[2019-04-01 17:44] mkArtakMSFT commented on #8902
@JamesNK, if this is going to be a breaking change, please apply the label.

[2019-04-01 17:45] shirhatti commented on #8952
As of the 1803 update, IIS allows you to control Http.Sys on a per binding basis. You no longer need to disable HTTP/2 for the entire server.

![image](https://user-images.githubusercontent.com/4734691/55348045-26c21c00-546b-11e9-93de-37948db35e36.png)

That being said, the global reg key should still work. Can you share your Windows build number and I'll look into it

[2019-04-01 17:48] Tratcher commented on #8952
@shirhatti they're using Kestrel.

[2019-04-01 17:48] natelaff commented on #8737
I'm curious as to what the recommended approach is as well. I have a Razor Page, Get is anonymous, Post requires authorization. (i.e. posting a blog comment).

[2019-04-01 17:49] mkArtakMSFT commented on #8889
Thanks for contacting us, @paulirwin and reporting this issue.
If you'd like to submit a PR, we'd happily consider it.

[2019-04-01 17:58] glennc commented on #8855
Having the conventions say that a DELETE could return 204, even if it doesn't, seems in-line with the way we talked about the feature. I don't think we're willing to investigate changing the default from 200 for void/Task as that seems like a pretty big breaking change for questionable value, given that 200 is an acceptable response.

[2019-04-01 18:16] Eilon commented on #8946
You sure can. Depending on exactly what you want, you can do what's in the docs here:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-2.2#use-routing-middleware

And in particular, using the extension methods defined here:

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.routing.requestdelegateroutebuilderextensions?view=aspnetcore-2.2

[2019-04-01 18:17] Eilon commented on #8945
@carloscds - should this issue be closed? Or do you have any further questions?

[2019-04-01 18:18] Eilon commented on #8938
@joshfree / @GrabYourPitchforks - any idea where this bug should go? dotnet/corefx?

[2019-04-01 18:22] shirhatti commented on #8952
Whoops 🤦‍♂️. Ignore my previous comment.

[2019-04-01 18:24] balbarak commented on #8916
### Update

When we switched to `AddMessagePackProtocol` in both client and server seems the problem solved.

Maybe from Json that lock the connection somehow

Note: the message size is in between 60 bytes and 200 bytes

[2019-04-01 18:33] gustavoosantoos commented on #8931
Blazor client and server-side really sounds good.
And for beginners, is easier to understand the differences between client-side and server-side.

[2019-04-01 18:34] GrabYourPitchforks commented on #8938
Normally it should go to corefx, but I cannot repro this in a simple console application. Both APIs produce the "right" string in this scenario.

[2019-04-01 18:42] glennc commented on #8945
Do you mean my blog posts about running as a Windows Service? I am happy with that.

@Eilon I think we add the doc label to this to make sure we have a note in any official docs about this scenario. I'll call it out in an up-coming blog post to help anyone else who gets caught by it.

[2019-04-01 18:44] tebeco commented on #8952
also i really don't want to disable Http2 if it can be fixed ;)

[2019-04-01 19:04] tebeco commented on #8952
@Tratcher
does this helps ?
[code]

[2019-04-01 19:20] anurse commented on #8590
@davidfowl sync up with me on this ASAP then. This is super vague and I need to know what we actually need to get done here in order to actually be able to deliver it :).

[2019-04-01 19:29] shirhatti commented on #8952
@tebeco Can you provide us with a wireshark trace so that we can see exactly what is being negotiated? Thanks!

cc @anurse

[2019-04-01 19:33] livarcocc commented on #8836
Still, we don't copy things from the framework. We only copy things from NuGet (packages).

[2019-04-01 19:34] danroth27 commented on #8931
There are a couple of reasons why we'd prefer to keep the .razor extension:
- The name is still accurate and descriptive. A .razor file is a UI component written with Razor syntax.
- Reduce churn. Updating the file extension requires a fair amount coordination across multiple teams and projects. Since we've already done this work for .razor we'd prefer to not do it again unless there is a really g

[2019-04-01 19:43] livarcocc commented on #8836
I think it will depend on how coherent the build being used is. As in, what version of those packages are inserted into the shared framework versus what is referenced by EF. Granted, conflict resolution will play a role here, but it is possible that the ones referenced by EF are newer and therefore are winning.

cc @dsplaisted to confirm.

[2019-04-01 19:46] mashbrno commented on #8931
@danroth27 What disturb me is that Razor syntax is in both .cshtml and .razor files. I think there will be confusion which extension is for which Razor Page/Component/MVC view.

Other two points are fair enough.

[2019-04-01 19:48] kentico-jiris commented on #3269
We also ran into this problem.
.NET Core 2.2.105, remote debugging disabled, no custom deploy.cmd -> failure rate 95%+ on a simple service that isn't even used yet.

And please let me express my amazement at the state of this issue. 9 months+ old, no one assigned, no milestone and only workaround is to stop the service before deployment, start it afterwards and hope it manages to finish in time. T

[2019-04-01 19:50] HaoK commented on #8267
Maybe we should just rename `Flaky` to be something more like `[Failing]` ?

[2019-04-01 20:12] nguerrera commented on #8835
I don't think it should be necessary to separate the targeting pack installers on non-Windows by RID / architecture. On Windows, the whole `dotnet` directory installs to different locations based on architecture, but I don't think we ever have this situation on non-Windows.

[2019-04-01 20:18] nguerrera commented on #8835
It is weird, though, if RPM and deb have different conventions.

[2019-04-01 20:23] tebeco commented on #8952
What filter would i use to extract what you are looking for, pretty sure i can leak data i don't want too
Also i have a doubt i actually see something :
* With chrome i have no logs out of Kestrel
* With Firefox i got this :
[code]

[2019-04-01 20:24] HaoK commented on #8267
Or we could just be explicit with the attribute name, `[IgnoreFailures]`

[2019-04-01 20:25] JamesNK commented on #8693
Is this done?

[2019-04-01 20:25] JamesNK commented on #8693
Will need to update again prior to preview 4 release.

[2019-04-01 20:28] JamesNK commented on #6192
gRPC team does not have time to do this in preview 4. Moving to 5.

[2019-04-01 20:45] guylando commented on #8965
@jkotalik @shirhatti indeed the problem was some infinite loop caused by extreme case happening on new server installation. However I think there should be better error message for this case because the error message of failing to listen on port made me lose a lot of time on the wrong direction

[2019-04-01 20:46] tebeco commented on #8952
also i did not yes disabled H2, soooo is that normal :

![image](https://user-images.githubusercontent.com/2266487/55358548-f9f42000-54cf-11e9-878b-6da349e0bd1b.png)

[2019-04-01 20:50] mkArtakMSFT commented on #4862
Closing this as the Endpoint Routing is not going to use this for 3.0 and the AuthorizationMiddleware is going to do the job here.

[2019-04-01 20:50] #4862 closed

[2019-04-01 21:25] #7311 closed

[2019-04-01 21:27] ahsonkhan opened #8969 "Current usage of Utf8JsonReader needs to use TextEquals (e.g. NegotiateProtocol/etc.)"
Currently, consumers of Utf8JsonReader are comparing the ValueSpan/ValueSequence directly (using SequenceEqual). This could be problematic if the payload contained escaped data which would be incorrectly flagged as not matching (when it should).

For example, the following should be re-written to use the new `TextEquals` APIs:
https://github.com/aspnet/AspNetCore/blob/9de42d516e6ee9c8eb17700e134f3

[2019-04-01 21:31] BrennanConroy commented on #8969
Yeah, I've been waiting for updated bits. We're currently consuming bits from 18 days ago, just a couple commits before your change.

[2019-04-01 21:33] anurse commented on #7635
Ack, we missed this. @halter73 @blowdart Can we close the debate on which approach is most appropriate? As @halter73 said, the first approach is exactly what we do with WebSockets today. It shifts the onus of data rate management on to the consumer, but that's the general idea here. gRPC has different data rate expectations than standard HTTP so it makes sense for it to be in control here.

If the

[2019-04-01 21:36] blowdart commented on #7635
OK, throwing out the example at the top, I would presume that neither WebSockets nor grpc would turn off limits? Or am I just hopeful, and because they're long winded/running, they could have no limits at all?

[2019-04-01 21:40] wli3 commented on #8835
On another side. Since there is no "feed" and we only have a flat folder with installers. The only way to discover the latest aspnet produced installers is by naming convention. It is extra complexity for some aspnet deb file has "x64" and some doesn't even though the content is agnostic.

[2019-04-01 21:48] VBAndCs opened #8971 "File Provider issues in Razor Pages apps"
### Describe the bug
I created a Razor Pages app with vb.net. I use a virtual File Provider to deliver the page which I am crating using xml literals in vb code.
I am facing some issues regarding body pages. Take the Index.cshtml page as an example:
1. if you deleted the Index.cshtml and run, the browser shows a blank white page! Why there is no 404 page not found message?

2. If the file Index.cs

[2019-04-01 21:51] VBAndCs commented on #8817
#8971

[2019-04-01 21:54] Eilon commented on #8938
This issue was moved to dotnet/corefx#36532

[2019-04-01 21:54] #8938 closed

[2019-04-01 21:54] Eilon commented on #8938
Moved it to corefx so the discussion can continue there.

[2019-04-01 21:56] Eilon commented on #8836
@anurse yup.

[2019-04-01 22:04] VBAndCs commented on #8971
I updated the issue to add a third note:

[2019-04-01 22:11] sebastienros commented on #8836
I pasted the versions used, the ones in the shared framework were newer.

[2019-04-01 22:14] johnbeisner commented on #8806
We are implementing a work-around for the ASP.Net Targeting Packs
https://github.com/dotnet/core-sdk/pull/1173
 - copy the ASP.Net Targeting Pack to the internal layout with the ASP.Net Runtime

[2019-04-01 22:23] bradygaster commented on #5386
Closing this for now, given discussions.

[2019-04-01 22:23] #5386 closed

[2019-04-01 22:24] NTaylorMullen opened #8972 "[Tooling] Non .razor files which are components aren't parsed correctly for FAR"

[2019-04-01 22:33] rynowak opened #8973 "Use a cryptographically strong identifier for circuit ID"
Since Circuit IDs are sent to clients, we need to use something cryptographically strong (not a guid) - this is similar to a sessions ID

[2019-04-01 22:38] rynowak opened #8974 "Make it possible to set SignalR log level in javascript with strings"
see: https://github.com/aspnet/AspNetCore/blob/master/src/SignalR/clients/ts/signalr/src/HubConnectionBuilder.ts#L30

It would be really useful we we could pass in a string with one of the named values of `LogLevel`. We have a use case for this in Blazor where the user won't be writing typescript and probably won't have SignalR imported.

[2019-04-01 22:38] rynowak commented on #8974
/cc @anurse

[2019-04-01 22:50] anurse commented on #4399
Remaining work:
1. Add option to `HubOptions` and `HubOptions<T>` that cascades down (`HubOptions<T>` version overrides the global `HubOptions`) called `StreamChannelCapacity` which configures the [`BoundedChannelOptions.Capacity`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.channels.boundedchanneloptions.capacity?view=dotnet-plat-ext-2.1#System_Threading_Channels_BoundedChannelOp

[2019-04-01 23:12] rynowak commented on #7547
The documentation [here](https://docs.microsoft.com/en-us/dotnet/csharp/codedoc#recommendations) says that non-public methods can still have documentation. If this isn't correct in practice when we should fix that.

Even if generated documentation requires public I don't think we should take any specific here because the guidance is that component parameters should not have a **public SET** method

[2019-04-01 23:12] #7547 closed

[2019-04-01 23:17] rynowak commented on #7389
We made some improvements here in the next release. In Preview 4 this will result in the developer exception page if it throws during prerendering.

[2019-04-01 23:17] #7389 closed

[2019-04-01 23:18] rynowak commented on #4884
We've added an `AddControllers()` extension method in preview 4. Expect to see some more details about this part of the preview 4 announcement.

[2019-04-01 23:18] #4884 closed

[2019-04-01 23:22] rynowak commented on #5597
I cannot reproduce this in VS 16.0

[2019-04-01 23:22] #5597 closed

[2019-04-01 23:24] glennc commented on #7491
From discussion today. Generator tag isn't required by default. There will be a language property a customer can add with the values "Default", and "TypeScript" where default means whatever the extensions/language the project is for and TypeScript is TypeScript.

[2019-04-01 23:32] halter73 commented on #7635
Minimum request body data rate limit are never enforced for upgraded (i.e. WebSocket) requests. GRPC would manually turn disable the minimum request body data rate limit by setting `HttpContext.Features<IHttpMinRequestBodyDataRateFeature>().MinDataRate` to null on a per-request basis.

[2019-04-01 23:35] glennc commented on #4941
This is bug is now just about number 1 in the description. Updating title to represent that.

[2019-04-01 23:39] glennc commented on #4944
From discussion today: Implement ability to either generate files during design time build or not. Once we have that configuration (A property, we think global to the project is OK) we will play with the feature both ways and see which experience we like better for the default.

[2019-04-01 23:39] dagood commented on #8835
I think making the change in this direction is the wrong way. The Windows installers are the odd ones, due to side-by-side x86/64 installs. Core-Setup should change instead.

Adding `x64` to the names of the arch-agnostic artifacts (in particular Linux) could even go all the way to confuse end users. If someone wants to install an `arm` SDK from `deb` files, they would have to grab the deb named `

[2019-04-01 23:41] rynowak commented on #4584
This worked for me just now on another part of the razor tooling code. I'm going to close this.

[2019-04-01 23:41] #4584 closed

[2019-04-01 23:43] glennc commented on #4945
1. Is it fine to leave the code generation default to the root of the client project? Yes.
2. Will users by default check the documents in on the server project? Because if yes, we should put it in root. I think we should start with no until people tell us otherwise. So the server doc would go to into obj or somewhere not visible by default.

[2019-04-01 23:50] glennc commented on #7492
We talked about how to handle the upgrade from preview3 to 4 with the new names. What we want is for it to fail hard and fast so that customers know straight away to go rename the element.

[2019-04-01 23:51] Eilon commented on #8939
Hi @mcq1212 , can you please provide more info on the problem? There is not enough information to diagnose this problem from the information provided.

[2019-04-01 23:51] glennc commented on #7492
Answering open questions:

1. Yeah, consistency seems good and we have to update them anyway
2. This doesn't matter anymore due to the naming, we also cut URI support
3. The project case is just a wildacard for * references
4. Doesn't matter given the new split.

[2019-04-01 23:53] ryanbrandenburg commented on #7862
This is no longer the error that happens when you try to follow these instructions. Instead you get:
[code]
and
[code]
which seem to be a problem in how the dependencies of `Microsoft.AspNetCore.Server.IIS` and `BlazorExtension` are being pulled in rather than a "build-system" problem.

CC @jkotalik

[2019-04-02 00:02] jkotalik commented on #7862
Pretty sure it's just a props file missing. I'll investigate.

[2019-04-02 00:15] rynowak opened #8976 "Add dedicated verification for diagnostics in Razor"
See: https://github.com/aspnet/AspNetCore/issues/5640

We don't typically verify the error messages returned by the compiler but we can miss cases like this formatting bug. We should think about adding a `DiagnosticAssert` class with specialized assertions for diagnostics that include calling `GetMessage()` to verify at least that it doesn't throw.

[2019-04-02 00:19] rynowak commented on #8976
@mkArtakMSFT - logged this so we're aware of a testing gap. Would be fine to address this in an MQ

[2019-04-02 00:20] rynowak commented on #5640
The fix for this is simple so I'm sending it out. I have no concerns if we decide to punt.

[2019-04-02 00:38] blowdart commented on #8973
What happens if an attacker starts changing the circuit ID?

[2019-04-02 00:51] rynowak commented on #8973
The same thing that happens if someone changes their session id? It doesn't match anything on the server. Let's discuss this tomorrow.

[2019-04-02 00:54] rynowak commented on #8820
Thanks @mwinkler - this was a known issue in preview 3. This will be fixed in the next release.