[2020-03-06 20:50] VideoAppsNet commented on #19637
Thank you for that. This is what I have so far. I was wondering how would I enable the circuit to reconnect after user has stopped using there browser for a long period of time? I thought it should do this automatically but I get errors such as == Error: Connection disconnected with error 'Error: WebSocket closed with status code: 1006 (). After this error my page does not render anymore and requi

[2020-03-06 20:56] AlejandroFlorin commented on #18796
I just switched the project to newtonsoft.json and testing shows it is behaving as before. Thanks.

I had seen that part of the migration doc but it wasn't obvious (at least to me) that it would have affected the controller binding. I'm not using Newtonsoft directly so it never occurred to me that there would be issues. The doc only mentions that there may be missing features and nothing about an

[2020-03-06 21:21] skubia commented on #19656
workdaround: https://stackoverflow.com/questions/59228315/debug-blazor-wasm-using-visual-studio-container-tools

[2020-03-06 22:27] anurse commented on #19597
This is actually expected, `AddDistributedMemoryCache` is a bit of a weird name. Let me explain a bit about how session works.

Session works by storing a unique ID in a cookie and then using that ID to look up data in some kind of data store. ASP.NET Core Session does this using the `IDistributedCache` interface. So we look up the session ID in this distributed cache and read/write session data i

[2020-03-06 22:28] anurse commented on #19597
Moving to Discussions since there isn't an actionable bug here based on the initial review. If something else comes up in discussions on this thread, we'll re-triage or file new issues!

[2020-03-06 22:37] anurse commented on #19555
Are you calling `WebHost.CreateDefaultBuilder` in your Program.cs to build your web host or have you changed that code manually? One thing that causes this problem is if you don't call [`.UseIIS`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.hosting.webhostbuilderiisextensions.useiis?view=aspnetcore-3.1) on your `IWebHostBuilder` instance. That is done **automatically** when yo

[2020-03-06 22:43] anurse commented on #19586
I actually think this is a typo in the docs.

The docs say this:

But should say:

The [tests appear to support the fact that this is a typo](https://github.com/dotnet/aspnetcore/blob/bda22253e9800e6aea8c6a83096c09075e8cfea8/src/Http/Http.Abstractions/test/UseWhenExtensionsTests.cs#L58). Specifically:

[code]

The "child" and "parent" code paths are not hit.

I'll open a PR to update the docs to c

[2020-03-06 22:48] #17057 closed

[2020-03-06 22:49] anurse commented on #19536
@Daniel-Steiner are there any MSI logs you can provide to help diagnose the 1316 error? (@joeloff where could @Daniel-Steiner find those logs?)

[2020-03-06 22:53] NTaylorMullen opened #19660 "Support C# errors in LSP Razor scenarios"
I was under the impression that C# errors would naturally flow in LSP scenarios. Turns out due to Roslyn's in-proc language server they have a lot of special case treatment of Razor files and other files that are "hidden" without text views.

Going to have to stitch together a solution here.

[2020-03-06 22:58] anurse commented on #2442
This seems like a Blazor problem worth investigating (@SteveSandersonMS @danroth27 ).

I'm sending a PR to add the content type mapping.

[2020-03-06 23:06] #19566 closed

[2020-03-06 23:13] #19586 closed

[2020-03-06 23:17] willdean commented on #2442
@anurse Please see #19578 which I filed after adding my comment here.

[2020-03-06 23:25] #17584 closed

[2020-03-06 23:32] Kaelum opened #19663 "Debug PublishTrimmed builds not using PDBs"
### Describe the bug
When creating a Debug build with `<PublishTrimmed>` set to `true`, the resulting executable does not appear to be a Debug build, and is ignoring the .PDB files.  We are using NLog for logging, and the line numbers for all log entries is 0, which should only occur in Release builds.

### To Reproduce
Create an ASP.NET application using NLog, build and run it in Debug mode and R

[2020-03-07 00:08] Kaelum commented on #19548
@Pilchie I was in the process of trying to create an application that exhibits the behavior, and I wasn't having any luck.  So, I decided to open the Object Browser to see where the `4.0.0.0` version was being referenced, and saw that it is coming from a .NET Standard 1.3 library of ours.  The v3.1.2 package is requiring `System.IO.Pipelines [4.0.2.0]`, does have it, and found `System.IO.Pipelines

[2020-03-07 00:20] Pilchie commented on #19548
@ericstj - any ideas about the packaging of System.IO.Pipelines here?

[2020-03-07 00:23] yopez83 commented on #19613
@ajaybhargavb as you see there is not too much code in it. I have tried the same code in Visual Studio Professional and no squiggles at all. Reinstall VS maybe?

[2020-03-07 00:34] ericstj commented on #19548
So just trying to read through the original scenario.

This is an app referencing `Microsoft.AspNetCore.Connections.Abstractions` which references System.IO.Pipelines 4.0.2.0.  That's the version we built in 3.1.0 https://github.com/dotnet/corefx/blob/0f7f38c4fd323b26da10cce95f857f77f0f09b48/src/System.IO.Pipelines/Directory.Build.props#L4.  The reference is coming from ASP.NET's ref pack, so it's

[2020-03-07 00:51] JamesNK opened #19665 "HTTP2: Remove per request async state machine allocation"
Http2OutputProducer.ProcessDataWrites is a background task that is called once per stream:

![image](https://user-images.githubusercontent.com/303201/76045788-f65ff780-5fc2-11ea-9011-462e3984fb3c.png)

https://github.com/dotnet/aspnetcore/blob/7aaad9dde22a699a3c8d991547c6551fbdbf43c3/src/Servers/Kestrel/Core/src/Internal/Http2/Http2OutputProducer.cs#L373

Once Http2MessageBody is reused the state

[2020-03-07 00:58] danroth27 commented on #18841
3.1.3 should be available a couple of days before 3.2 P3 ships.

[2020-03-07 01:07] ajaybhargavb commented on #19613
Interesting. I'm not aware of any differences expected between Community and Professional. Check if repairing VS fixes it.

[2020-03-07 01:08] pranavkm opened #19666 "ComponentHubReliabilityTest are unreliable"
[code]

[2020-03-07 01:12] BrennanConroy commented on #19666
Three more in https://dev.azure.com/dnceng/internal/_build/results?buildId=548860&view=ms.vss-test-web.build-test-results-tab&runId=17341550&paneView=attachments&resultId=118921

[2020-03-07 01:27] mihaimyh opened #19669 "Blazor Wasm OpenId Connect"
Is there any documentation on how to configure a client side Blazor to use authentication and authorization from a token provider like IdentityServer 4?

[2020-03-07 01:37] danroth27 opened #19670 "The Server project in an ASP.NET Core hosted Blazor WebAssembly app doesn't define an error page"
The Server project in an ASP.NET Core hosted Blazor WebAssembly app sets up middleware to redirect to `/Error` if an there's an unhandled exception, but no `/Error` endpoint is defined: https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/ProjectTemplates/ComponentsWebAssembly.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Server/Startup.cs#L93-L98.

[2020-03-07 02:06] yopez83 commented on #19613
@ajaybhargavb after repairing everything was back to normal. Then I realize I was missing the Resharper extension. After reinstalling Resharper the squiggles showed up again. Then it's Resharper the one causing the problem.

[2020-03-07 02:07] ajaybhargavb commented on #19613
Ah yeah that makes sense. Glad you figured it out.

[2020-03-07 02:08] #19613 closed

[2020-03-07 03:36] anurse commented on #19548
Ok, so it sounds like it is the same root cause and we can probably close this as a duplicate of #19133

[2020-03-07 04:22] DreCorp commented on #18733
Hello, i might be a bit over my head here, but i did experience the same issue, however i was able to resolve that by using "AddOptions();" in start up, so:

` builder.Services.AddScoped<AuthenticationStateProvider, AuthProvider>();
  builder.Services.AddOptions();
  builder.Services.AddAuthorizationCore();
`

[2020-03-07 05:58] VideoAppsNet commented on #19637
One more question. Is Websockets required to achieve what im trying to do? Im using Windows Server 2019 for my hosting.

[2020-03-07 06:42] frozenfroze commented on #19590
I was facing the issue as well. Found out that the issue started with the installation of ASP Net Core SDK 3.1.102. I'm using Mac OS 10.15.3 Beta.

After I removed the SDK 3.1.102, the issue went away.

Use this to remove SDK 3.1.102
sudo rm -rf /usr/local/share/dotnet/sdk/3.1.102
sudo rm -rf /usr/local/share/dotnet/shared/Microsoft.NETCore.App/3.1.2
sudo rm -rf /usr/local/share/dotnet/shared/Micr

[2020-03-07 07:44] mrpmorris commented on #19643
The recommended way to do it is to add a parameter property to the child, and two-way bind that from the parent. This will automatically rerender the parent.

https://blazor-university.com/components/two-way-binding/

[2020-03-07 10:19] VideoAppsNet commented on #19637
Here is a screenshot from my iPhone with console errors.
https://imgur.com/0NhqfsN

[2020-03-07 12:52] michalczerwinski commented on #13687
What is status of this? Can we at this point (after 3.1) assume using GetFrames() is acceptable?

Not being able to access it is a big limitation for more advanced Blazor scenarios. Some clear recommendation would be appreciated.

[2020-03-07 14:02] mrlife commented on #19643
@mrpmorris What is the recommended data type for when no actual data needs to be sent from child to parent?

[2020-03-07 14:06] mrlife commented on #19643
@mrpmorris Even when no actual data needs to be sent from child to parent?

[2020-03-07 17:21] SayusiAndo opened #19679 "Managing multiple, parametrized open tags"
### Is your feature request related to a problem? Please describe.
I'm not even sure what title describes well my request/ask.

I have the following code which uses BlazorStrap to draw a grid. I compiles without any issue.
[code]

There are cases when one or multiple element of the list are special - for example they are selected - and I want to display different background for them. In BlazorStra

[2020-03-07 18:44] #17836 closed

[2020-03-07 20:58] mrpmorris commented on #19643
@mrlife yes. If the parent needs to know when something happens in a child then you use EventCallback.

If the child needs to edit data from its parent then you need to add a [Parameter] decorated property to the client with an XXXChanged event and two-way bind your parent's property to that child property.

[2020-03-07 23:16] VideoAppsNet opened #19682 "Blazor Circuit not Initialized"
Getting error where if user put there browser into sleep mode and comes back after 3 minutes my blazor app reconnects but the ui is not usable anymore. I have to do a manual refresh. Here is a screen shot of the chrome inspect log from an iPhone. Web socket reconnects after those 3 minutes but the circuit is not initialized. Shouldn't blazor create a new circuit and transfer the state from the old

[2020-03-08 00:08] JunTaoLuo opened #19683 "Fix AssemblyTestLogTests on Helix"
Some of these tests are failing since they relied on assumptions on the directory structure that breaks down on Helix.

[2020-03-08 06:39] JunTaoLuo commented on #19254
@anurse some of the remaining work will involve your input (such as triage and issue moving) so I'm assigning you as well.

[2020-03-08 06:42] JunTaoLuo commented on #11592
@pranavkm I recall we met a while ago and concluded there's something we can do in blazor to stop depending on the *.js files when built in source-build. did you eventually try it out?

[2020-03-08 08:08] mjthompson2107 opened #19685 "ASP.net Core 3.1 Could not parse the JSON file"
I have started the upgrade of my project from ASP.net core 2.1 to 3.1, but having an issue with reading the appsettings.json file. This file has not changed and I am getting the following error:

'Could not parse the JSON file.'
JsonReaderException: '0x10' is invalid within a JSON string. The string should be correctly escaped. LineNumber: 8 | BytePositionInLine: 21.

This is not an issue in other

[2020-03-08 08:22] omer-hatip commented on #19597
so we can't achieve this using memory.
but I think using Sql server database for this is not the ideal solution. because I'm using it to store just keys.

For example
a user of multi tenant app logs in and selects one of its databases to start .

I store the db Id in the session then start the second app to start working.

Do we have another solution ?

By the way. I use authentication cookie shar

[2020-03-08 11:04] boukenka opened #19687 "EditForm and Antiforgery for Blazor Web Assembly"
Hello,

I am trying to add antiforgery protection to the EditForm for login and registration.

I have added the ```[AutoValidateAntiforgeryToken]``` attribute for the controller
and the following coding at startup for the server part:

[code]
The server response is 400 Bad request when a log in operation is submitted.
How to resolve it? Is there an anti-forgery mechanism in EditForm? Or with the a

[2020-03-08 11:05] MrMuMu commented on #19474
[Example project is here](https://github.com/MrMuMu/ResponseFilterExample). Check the `Controllers` and `JsonHelper` folders to get the idea. Feel free to ask any question.

[2020-03-08 12:35] chassq commented on #19645
Just a thought for what its worth. Not really knowing the code I would take a guess and say that assuming you are using a Blazor Client Side app. Since the Asp.NET Auth runs server side that each post that goes to the server would make the necessary claim checks and authorize/de-authorize a request accordingly. Since Client Side Blazor requests do not post back to the Server this is why the reques

[2020-03-08 13:11] saber-wang commented on #19687
https://docs.microsoft.com/en-us/aspnet/core/security/anti-request-forgery?view=aspnetcore-3.1#javascript-ajax-and-spas

[2020-03-08 13:51] chassq opened #19688 "Blazor: Using Entity Framework Issues"
Related to #10448

### Running into related issue
Wanted to check if there is anymore guidance since #10448 is now locked. I mention some issues below just to try and give my request some context.

We are employing Server-Side Blazor with Scoped DB Contexts currently.

### Issues We Have Seen
1) Cannot run same query against db Context on multi threads. Since Blazor component lifecycle methods run

[2020-03-08 14:23] disklosr commented on #19485
Not op but I know what he's talking about: The problem is with the new Text.Json reader that sets a technical error message inside ModelState when it encounters a binding error. The InvalidStateFilter then picks up the technical error message and returns it in a 400 response which leaks the internals of the app. Here's an example.

Given this Dto:

[code]

And this controller

[code]

When we issu

[2020-03-08 14:51] boukenka commented on #19687
Thank you @saber-wang. 😄
But this does not solve the question for a Blazor Web Assembly project model.

[2020-03-08 17:15] 101100 commented on #19098
How can the community step up to document something that has no description anywhere?

[2020-03-08 17:43] Rick-Anderson commented on #19098
@101100 the source code.

[2020-03-08 17:45] omer-hatip commented on #19597
Do you think that if we published the two app to IIS with
`<AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>`

Will make any difference?

[2020-03-08 19:00] disklosr commented on #19685
The problem is the the url you have in your json file. The json serializer has changed in dotnet core 3 and it apparently needs escaping of forward slashes (which is not required for json format). For a quick workaround try reverting to using Json.Net by adding its nuget package and setting it up like this:

[code]

[2020-03-08 19:18] mkArtakMSFT commented on #19485
Thanks for the details, @disklosr.
@pranavkm an you please look into this? Thanks!

[2020-03-08 19:33] mkArtakMSFT commented on #19419
Thanks for sharing your concerns, @jbosse.
We plan to enable testing for Blazor WASM applications as part of the 5.0 release. Given that we haven't started on that work yet, we don't know what the final solution will look like, but you can have a look at a prototype @SteveSandersonMS has build and blogged about: https://blog.stevensanderson.com/2019/08/29/blazor-unit-testing-prototype/

//cc @NTay

[2020-03-08 20:46] VideoAppsNet commented on #19682
What im trying to store is just the ui on the page. So a user is searching for content and loads some search results. Then that user leaves the browser. After 3+ minutes  they come back and want to see there results again. Blazor does not keep these search results loaded in the browser? Currently for me blazor reconnects and shows the ui. But If I try to interact with the ui such as clicking a but

[2020-03-08 20:49] Garwin4j opened #19692 "Unable to upload Files of Different File types (Multipart/form-data submission)"
### Describe the bug
Whenever I try to upload a pdf, png, or pfx reguardless of file size it give me the exception below, yet, the same code successfully uploads mov files.

System Exception: The client reset the request stream., instance: cdda283a-c04e-44e5-b255-28b0b25a8f35
System.IO.IOException: The client reset the request stream.
   at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.Ht

[2020-03-08 21:21] mrpmorris commented on #19688
Have you tried creating an interface IDbContextFactory to create context instances and injecting that instead? That way you could create instances on demand and dispose of them too.

[2020-03-08 23:25] chassq commented on #19688
Since IDbContextFactory  looks to be obsolete would you be meaning IDesignTimeDbContextFactory<TContext> (https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.design.idesigntimedbcontextfactory-1?view=efcore-3.1)? Also looks kind of complex to get the connection string from configuration injected into the IDesignTimeDbContextFactory? Any ideas there?

Thanks!!

[2020-03-09 00:51] renanrcp commented on #19611
I do different as I thought when I open this issue.

I made this gist with an example of an async AuthenticationFilter with the context classes too:

https://gist.github.com/renanrcp/ef09480dff0209e0bd376dee2120ff00

I'll change this topic name to IAuthenticationFilter.

[2020-03-09 01:01] aneequrrehman opened #19696 "Microsoft.AspNetCore.Identity 3.1 package?"
I'm trying to add `Microsoft.AspNetCore.Identity 3.1` package in .net standard 2.1.
I get this error at runtime:

MissingMethodException: Method not found: 'Void Microsoft.AspNetCore.Identity.SignInManager`1..ctor(Microsoft.AspNetCore.Identity.UserManager`1<!0>, Microsoft.AspNetCore.Http.IHttpContextAccessor, Microsoft.AspNetCore.Identity.IUserClaimsPrincipalFactory`1<!0>, Microsoft.Extensions.Opt

[2020-03-09 01:33] qcjxberin opened #19697 "AmbiguousMatchException: The request matched multiple endpoints when using MapDynamicPageRoute. Matches: / Index / Index"
![image](https://user-images.githubusercontent.com/5792218/76175701-c85bfc80-61e8-11ea-8743-b5d1ea38cc01.png)

AmbiguousMatchException: The request matched multiple endpoints. Matches: /Index /Index
Microsoft.AspNetCore.Routing.Matching.DefaultEndpointSelector.ReportAmbiguity(CandidateState[] candidateState)
Microsoft.AspNetCore.Routing.Matching.DefaultEndpointSelector.ProcessFinalCandidates(HttpC

[2020-03-09 01:50] julienGrd commented on #19635
Hello @javiercn, unfortunately even this solution not works (<a onclick="document.location = '/'" class="reload">Reload</a>)
Im still on the current page and have no way to come back to the home page (except if the user write directly in the address bar)

thanks for your help !

[2020-03-09 02:28] Garwin4j commented on #19692
Sorry, it seems the issue was that the file was on OneDrive and wasn't actually on the hard disk. Funny thou, that it is this error shows up here and not earlier or the browser.

[2020-03-09 02:28] #19692 closed

[2020-03-09 02:44] MrSmoke commented on #19315
The first 3 don't apply to my use case, however the last one does. I have temporarily commented out the DI circular references and no longer have the issue.

I'll close this issue since there's already https://github.com/dotnet/extensions/issues/2257

[2020-03-09 02:44] #19315 closed

[2020-03-09 03:34] zql9000 commented on #17277
Hello, I had the same problem and I performed several tests on different projects and simply saving some change in a file inside the ClientApp folder, it makes angular recompile and then VS2019 / VSCode recognizes the node server, without changing any configuration. I comment this in case it helps anyone.

I also tested in the solution of the repo miguellira/Angular9CliTemplateBug with VS 2019 Com

[2020-03-09 04:37] sanasz91mdev commented on #19476
@anurse it was a simple API calling a stored procedure and returning response.

[2020-03-09 05:20] #19683 closed

[2020-03-09 05:25] davidfowl commented on #19476
@sanasz91mdev we can't take action because we can't reproduce it. Can you provide the application and the error you saw?

[2020-03-09 06:34] rynowak commented on #19697
More detail here: https://github.com/dotnet/aspnetcore/issues/12705

This is our first time getting a user-report of this problem that I remember.

[2020-03-09 06:34] rynowak commented on #19697
Nevermind, it looks like a few other people reported it in #12705

[2020-03-09 07:52] saber-wang commented on #19687
@boukenka Can do

![0A48DD7A-D8E2-488D-85DD-5932AC3AB4B0](https://user-images.githubusercontent.com/45062099/76192866-c4969d00-621d-11ea-9379-9dffab06267a.jpeg)
![0F0ABE7D-5F06-4D3D-8591-533A0D20FFDE](https://user-images.githubusercontent.com/45062099/76192876-ca8c7e00-621d-11ea-885a-40cb6e177782.jpeg)

[2020-03-09 08:09] saber-wang commented on #19687
Can do
`services.AddAntiforgery(options => options.HeaderName = "X-CSRF-TOKEN");
`
[code]
[code]
[code]

![内网通截图20200309160506](https://user-images.githubusercontent.com/45062099/76194050-4daed380-6220-11ea-817e-75fccb5e9c84.png)

[2020-03-09 08:26] RemiBou commented on #19687
I managed it in this blog post : https://remibou.github.io/CSRF-protection-with-ASPNET-Core-and-Blazor-Week-29/ (it was on one of the early preview but it's still ok), basically you need a bit of jsinterop for parsing the cookies and send this as http header.

[2020-03-09 09:39] sanasz91mdev commented on #19476
@davidfowl .. provide your email so that i can add you to access to my code?

[2020-03-09 09:58] brgrz commented on #5011
@os1r1s110  Oh, please... cut the contributor bullshit, rynowak posted "This seems pretty feasible" 3 years ago. I bet this single issue cost developers worldwide hundreds of wasted debugging hours and head banging in the meantime.

Also, ASP.NET Core is not my product nor is it community product, it is MS product. Even if I wanted  I highly doubt they'd accept my solution and MS employees are pai

[2020-03-09 10:24] michaelmualem commented on #19528
Hi,
I have built the two packages:
Microsoft.AspNetCore.Authentication.JwtBearer 3.1.1
Microsoft.AspNetCore.Mvc.NewtonsoftJson 3.1.1

I do not manage to reference these packages in my .Net Core project.
"Unable to find package Microsoft.AspNetCore.Mvc.ViewFeatures with version (>= 3.1.1-dev)"
Do you have any idea how to resolve this ?

[2020-03-09 10:49] Roman-Blinkov commented on #19476
I saw this exception in logs. In my case no load was applied.

@sanasz91mdev Lets try to replace stored procedure with await Task.Delay(100) and do public simple hello-world instead of complex app.

[2020-03-09 11:16] Yuri6037 opened #19698 "%2B causes HTTP 404 on wildcard requests"
### Describe the bug
When a request is performed to a controller route using a wildcard string parameter containing %2B an HTTP 404 is returned.

### To Reproduce

[code]

The exception is in python and returned by the Asp.Net Core App: OSError: Invalid request : return code is 404
-->

### Further technical details
- ASP.NET Core version 2.2

- Include the output of `dotnet --info`
.NET Core SDK

[2020-03-09 11:28] javiercn commented on #9365
This is just waiting on https://github.com/dotnet/aspnetcore/pull/19544

[2020-03-09 11:43] filipoff2 opened #19699 "Blazor: add tool that checks if net standard library will work with Mono on WASM"
### Is your feature request related to a problem? Please describe.
I am trying to  Generate PDF on Client side =  WASM Blazor.
I checked few libraries/nuget , they are compiling but exceptions in run time

### Describe the solution you'd like
Online form tool that check  if package will work in run-time .
Add support for WASM here:
https://docs.microsoft.com/en-us/dotnet/standard/analyzers/portabi

[2020-03-09 11:53] javiercn commented on #19635
@julienGrd thanks for trying it out. I gave it a try and you are right, there's something iffy going on here.

[2020-03-09 11:58] javiercn commented on #19647
@AlexCorona55 thanks for contacting us.

From what I can tell from the stack trace, looks like a null reference exception in your code. From what I can read from the stack trace, I believe is inside the JS code you are calling through interop.

I would suggest you put some breakpoints in there and see what's going on. It is likely that you are not retrieving something based on that ID in the first

[2020-03-09 12:00] javiercn commented on #19669
@mihaimyh thanks for contacting us.

We've actually implemented this in our current milestone and it will be available in the next preview (coming in the following days) so keep an eye on the announcements in the coming weeks.

Hope that helps.

[2020-03-09 12:00] #19669 closed

[2020-03-09 12:04] leonkosak commented on #5281
I would also prefer SQL backplane for not so intensive cluster environments - SQL Server and Postgres.

[2020-03-09 12:04] javiercn commented on #19679
@SayusiAndo thanks for contacting us.

I believe the compiler doesn't support this pattern.
[code]

@SteveSandersonMS am I right? Is there an alternative that you can think of for this scenario?

[2020-03-09 12:23] os1r1s110 commented on #5011
@brgrz As I said, I was also sad that it was not fixed sooner, but I think there's still a way to present things and not consider everyone working on open source projects owes you something (paid or not). Yes, they are paid to work on asp.net core and related projects, but that doesn't mean they have enough resources to fulfill all the needs in a timely manner (and I'm not even talking specificall

[2020-03-09 13:30] DevHwan commented on #19590
For me, i couldn't find `/usr/local/share/dotnet/host/fxr/3.1.102`.
Instead i removed `/usr/local/share/dotnet/host/fxr/3.1.2` and worked.

[2020-03-09 13:31] RemiBou commented on #19699
What is your runtime exception ?

It seems that in your code you are trying to save some code on disk, you can't save to disk as user's browser does not allow it. This is not a platform problem but an environment problem (Blazor wasm can be executed on Electron).

Maybe the monowasm platform does not implement the full netstandard, in this case a tool for helping would be really helpful indeed.

[2020-03-09 13:40] xrkolovos opened #19700 "Problem with AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler in signin-oidc in ubuntu 18"
There are 2 apps in asp.net core 3.1.1, running in Ubuntu 18.04, behind nginx.

### Describe the bug
Calling signin-oidc fails(504 Gateway Time-out) the first time. And works the second time that try again to login (The second time we are logged in). This url is called after redirect to an asp.net core mvc website (App1) from an Identity Server website(App2) for OpenId login purposes.

Logs
[code]

[2020-03-09 13:51] frozenfroze commented on #19590
My bad, it's 3.1.2 for the file in fxr. I'm working of my memory as I had already removed those files.

[2020-03-09 14:03] filipoff2 commented on #19699
// Encoding 1252 data could not be found. Make sure you have correct international codeset
https://github.com/filipoff2/Hello_wasmBlazor/commit/67b2d171e6bf374e93af6bcf717f04485b6828f2

1) I'm creating PDF in Memory and when trying to write to PDF document to memory stream exception is thrown.

MemoryStream memoryStream = new MemoryStream();
document.Save(memoryStream, true);

// Encoding 1252 dat

[2020-03-09 14:38] roysurles opened #19701 "Asp.Net Core Blazor Server Excessive Logging in IIS"
### Describe the bug
After deploying Blazor Server solution to onpremise IIS / Windows Server, the Blazor Server App is writing to the IIS log file(s) a lot of data which is creating large log files.  Tried changing the appSettings.json Logging:LogLevel to 'Error' for each of the items listed:
- Default
- System
- Microsoft
- Microsoft.Hosting.Lifetime
- Microsoft.AspNetCore.SignalR
- Microsoft.As

[2020-03-09 14:57] ravimsnetdev commented on #17277
this worked for me

[2020-03-09 15:10] joeloff commented on #19536
They should be in the %temp% folder. The bundle log will usually report the log names it's going to generate. I think we're looking for

%temp%\Microsoft_.NET_Core_SDK_3.1.100_(x64)_20191206084459_014_AspNetCoreSharedFramework_x64.log

[2020-03-09 15:10] stefanloerwald commented on #19640
You need to insert an `@` at the start of your markup, then it works.

[code]

[2020-03-09 15:14] SteveSandersonMS commented on #19503
@javiercn Can be closed now?

[2020-03-09 15:22] scholtz commented on #19397
So I am now trying two different approaches:

1. NTLM - in my opinion this is preferable way as i have seen ntlm authenticate users in iis express without the dialog box, and does not require any special configuration in firefox or through group policy (please fix me if I am wrong)
2. Negotiate

With regards for the negotiate i have managed to make some progres..

With this docker container i was

[2020-03-09 15:36] Pilchie commented on #19528
Once you have built them, you need to put the `.nupkgs` somewhere and add it as a NuGet package source to use them. Have you done that?  What does your .csproj file look like?

[2020-03-09 15:41] michaelmualem commented on #19528
Yes this is what I did. What these packages has to do with "ViewFeatures" ?

[2020-03-09 15:45] Pilchie commented on #19528
Ah.  When you build the packages locally, their dependencies get updated to match the local build version. You probably need to do something to edit the `.nuspec` if you want to use only some of the packages, and not the entire build output.

[2020-03-09 16:12] SteveSandersonMS opened #19702 "Move debug proxy to external process"
This is needed so that parts of the JS debugger inside VS can work. Currently, the debug proxy runs in-proc within the server being debugged, so if the .NET debugger pauses the server (as it does when "pause all processes" is enabled, which it is by default), this prevents the client debugger from working.

[2020-03-09 16:20] anurse commented on #19597
If you have two separate apps and want to share data between them, there must be *some* kind of shared data store, or you have to round-trip the data back and forth via a Cookie. We provide one implementation of a shared data store based on SQL Server. If you want to use something idfferent, that's fine, you can implement the `IDistributedCache` interface yourself.

I'd be very careful doing this

[2020-03-09 16:25] mkArtakMSFT commented on #19701
Thanks for contacting us. Can you share a small app to demonstrate this issue? We don't observe this, by the way.
The logs would also be useful, by the way.

[2020-03-09 16:26] mkArtakMSFT commented on #19699
@terrajobst is there any other issue tracking this?

[2020-03-09 16:27] davidfowl commented on #19701
@royaljust What's the IIS log file?

[2020-03-09 16:29] royaljust commented on #19701
@davidfowl - I think you're looking for @roysurles...

[2020-03-09 16:29] mkArtakMSFT commented on #19688
@ajcvickers do you have any guidance around how to avoid the first issue above?

[2020-03-09 16:32] davidfowl commented on #19701
oops 😄

[2020-03-09 16:35] #19503 closed

[2020-03-09 16:36] HaoK commented on #19696
Yes, this is because as of most of the aspnet packages have moved into the shared framework, see https://andrewlock.net/exploring-the-microsoft-aspnetcore-app-shared-framework-in-asp-net-core-2-1-preview-1/ for a description of how things were moved from packages into the shared framework

[2020-03-09 16:42] roysurles commented on #19701
The name of the log file on the IIS server is:  C:\inetpub\logs\LogFiles\W3SVC2\u_ex200309.log

Attached is the zip of the log file.  There are numerous GET / POST for the Blazor Server App 'EngWeb'.
[u_ex200309.rename to zip](https://github.com/dotnet/aspnetcore/files/4307870/u_ex200309.rename.to.zip)

[2020-03-09 16:43] roysurles commented on #19701
Working on getting an example app that demonstrates this issue... next.

[2020-03-09 16:49] mkArtakMSFT commented on #19670
This should be handled with #17312

[2020-03-09 16:49] mkArtakMSFT commented on #17312
Handle this as part of this work: https://github.com/dotnet/aspnetcore/issues/19670

[2020-03-09 16:51] davidfowl commented on #19701
These are the normal W3C logs in IIS. It looks like you might not be using websockets. Do you have WebSockets configured on your IIS installation? Can you look at the logs in the browser to see what transport blazor is using?

[2020-03-09 16:59] mkArtakMSFT commented on #19640
@NTaylorMullen is the last recommendation above what we should tell customers to use?

[2020-03-09 17:06] roysurles commented on #19701
'WebSocket Protocol' is NOT installed / checked off under Application Development.

![image](https://user-images.githubusercontent.com/37274814/76238678-352dc180-61fe-11ea-9203-604f1d2bdb5a.png)

When I open the log file in the browser, its pretty much the same information as opening the log file in notepad... i dont see any difference or the 'transport'.

[2020-03-09 17:06] SteveSandersonMS commented on #19679
I'd recommend that instead of trying to vary the set of attribute dynamically, you simply use a property or method to supply a computed value.

For example,

[code]

Alternatively you can inline all this into a ternary expression:

[code]

If you don't have a concept of `Color.None` (or `Color.Default` or whatever you want to call it), you can change `BSTableRow` so that the `Color` is of type `Co

[2020-03-09 17:06] davidfowl commented on #19701
Install it and those logs will go away. It's falling back to a transport that's making HTTP requests for ever change. Not very efficient for Blazor server.

[2020-03-09 17:07] mrpmorris commented on #19688
@chassq Sorry, I meant to create your own. I didn't even know that one existed.

[2020-03-09 17:26] roysurles commented on #19701
Installed WebSocket Protocol' suppressed all the logging... thank you!

[2020-03-09 17:36] AlexCorona55 commented on #19647
@javiercn thanks for the repy.

I'm not calling any JS code "directly" (because i don't know if blazor use interop in any point of the flow).

In that case, I don´t realize why the component works when is routed with a parameter and also when i refresh the page after the error.

With the debugger, all is fine until the OnInitializedAsync event ends, after that, when the render occures, the excepti

[2020-03-09 17:38] ZwieberVos opened #19704 "please help me"
Hi,
I want to start programming and i am pretty trash
but i have some cool idea's
my idea is:
i want to make a website where my kids can fill in their data and a program will run and fill it in in the actual website and gives me a message trough my email what they entered and when

If you can help me please
i would appriciate it
you can contact me trough email
ZwieberV@gmail.com

[2020-03-09 17:50] VentsislavDinev opened #19705 "Unable to start kestrel"
I have multiple copy-paste skeleton apps and today I try to add a new copy, but when I try to start controller I have.
 Unable to start Kestrel.

[code]

[code]

     private static IWebHostBuilder CustomBuilder()
        {
            var config = new ConfigurationBuilder()
                .SetBasePath(Directory.GetCurrentDirectory())

                .Build();

            return new WebHostBuil

[2020-03-09 17:55] dougbu commented on #19528
&hellip; or copy pretty much everything that lands in artifacts/packages/Debug/Shipping into your local NuGet package source e.g. use _that_ directory as your added source location

[2020-03-09 18:15] chassq commented on #19688
@mrpmorris Thanks for that I will look into it more!

[2020-03-09 18:54] danroth27 opened #19710 "Provide a simple way to turn an existing app into a PWA"
We now have an option on project creation to create a Blazor WebAssembly app that is setup as a PWA. But what if I have an existing Blazor WebAssembly app and I want to turn into into a PWA? Should we have some sort of package that you can add to an existing app that enables PWA functionality? This appears to be how Angular is setup: `ng add @angular/pwa --project AngularBooksPWA`.

[2020-03-09 19:12] Steve0212a opened #19711 "Self Signed Certificate on macOS"
### Describe the bug
I am using DotNet Core 3.1 and ASP.NET Core 3.1.1.  I am creating a self signed certificate via .net core code and storing it in a certificate store.  The certificate has the server authentication oid specified and the code **works without issues on Windows**.  However, on macOS, I get this error:
`System.InvalidOperationException: Certificate B21E2209FE4B1B067C25252B76FDB0F94

[2020-03-09 19:26] ryanelian commented on #19640
Thank you for that `@` suggestion. I can't believe **that actually worked**.

Is this actually officially supported?

[code]

[code]

On related note, **this does NOT work**:

[code]

How to make example z work?

[2020-03-09 19:31] stefanloerwald commented on #19640
Yes it does, if you make `x` static.

I have no idea whether it's officially supported or just a bonus of the inner workings of the Blazor code generator / compiler.

[code]

[2020-03-09 19:36] ryanelian commented on #19640
Now that's very sketchy to me.

The fact that the inner RenderFragment has to be static to be usable in the outer RenderFragment means that we cannot use variables local to the component 😢

**Example: This will also error:**

[code]

[2020-03-09 19:44] stefanloerwald commented on #19640
Well what you're writing there is a normal C# class and in there you write fields. For that you have to obey the initialization rules of C#. You're of course free to Create a method to create `x` and `z` to access local fields:

[code]

[2020-03-09 19:53] ryanelian commented on #19640
Fascinating! Who would've thought making them as methods allow them to access local variables...

This should be a sweeter syntax:

[code]

@mkArtakMSFT If an MS folk can bless this syntax as the official way of storing markup into RenderFragment, feel free to close the thread.

[2020-03-09 19:55] davidfowl commented on #19704
This is the wrong place for that kind of request. It's great you want to get into programming, I would suggest using one of our tutorials on Microsoft Learn https://docs.microsoft.com/en-us/learn/modules/create-razor-pages-aspnet-core/?view=aspnetcore-3.1

[2020-03-09 19:55] #19704 closed

[2020-03-09 20:14] mrlife opened #19715 "Blazor "session" storage"
### Is your feature request related to a problem? Please describe.
Ability to save simple values (e.g. `string`, `int`) that are available between route changes and page refreshes and understand how to implement it

Is there a convention that is detailed somewhere?

### Describe the solution you'd like
I've read the popular issues here on this topic and haven't been able to find a solution. Things

[2020-03-09 20:17] pranavkm opened #19716 "ProjectTemplate tests flaky in AzDo"
https://dev.azure.com/dnceng/public/_build/results?buildId=552681&view=ms.vss-test-web.build-test-results-tab&runId=17440926&resultId=115166&paneView=debug

[code]

[2020-03-09 20:23] Zetanova commented on #18522
Is there any design decision made?

Would need it badly for my kubernetes CSI plugin,
the only other framework or proxy that i found
with a support for h2 over UDS is golang.

[2020-03-09 20:25] wtgodbe commented on #18697
Just chatted with @BrennanConroy about this, here's my understanding:

- The javascript client already has different behavior in WebSocketTransports - it accounts for not being able to use request headers while running in the browser, and so appends the accessToken to the URL as query string:

https://github.com/dotnet/aspnetcore/blob/0c3c6d8c9ba44bd90fca91d5231bd317e68d5554/src/SignalR/clients/ts

[2020-03-09 20:26] ryanelian opened #19717 "Question / Feature Request: Does Server-Side Blazor Render DateTimeOffset (or DateTime UTC) into Browser Local Time?"
### Is your feature request related to a problem? Please describe.

I am wondering if I have a `DateTimeOffset` (or `DateTime` variable which is usually UTC from the database) rendered in Blazor server-side `@MyDateTimeOffset`, would it be converted to local time according to the browser time zone?

### Describe the solution you'd like

If the answer to the problem above is no, may I suggest a con

[2020-03-09 20:30] pranavkm commented on #19716
These tests were recently enabled on Helix. It looks like we need to additionally capture packages required by some of these tests and place them in a location that the tests can use.

[2020-03-09 20:39] ryanelian commented on #19688
In my company, we like to make a god class for injecting all our scoped services INCLUDING the `DbContext`:

[code]

I know, it gets messy real fast in a large project. You might want to split that. Or not, since this god class allows you to summon required services without `@inject` or `[inject]` for convenience.

But anyway, it allows you to make this then:

[code]

Which then allows you to do t

[2020-03-09 20:49] JamesNK opened #19719 "HTTP2: OutputFlowControlAwaitable allocations when writing large response"
Many `OutputFlowControlAwaitable` instances are allocated when writing a large response.

![image](https://user-images.githubusercontent.com/303201/76256154-5224cc00-62b4-11ea-8702-7e596cf22905.png)

[2020-03-09 20:51] chucker opened #19720 "Blazor: prevent (or warn on) component recursion?"
## Is your feature request related to a problem? Please describe.

I had a component, let's call it `Shared/ContactCard.razor`, and to make manual testing easier, I wrote a page `Pages/Test/ContactCard.razor`, with `@page "/Test/ContactCard"` at its start, and various things inside it, including, critically:

[code]

Now, this _compiles_ just fine.

When loading it in the browser, however, the pag

[2020-03-09 21:02] masonwheeler commented on #19720
Many developers use a setting to treat warnings as errors; this would break legitimate recursion for them.

Your problem here isn't with recursion; it's with ambiguity.  What's needed is an error (probably better to have it be an error than a warning) for referencing an ambiguous component.

[2020-03-09 21:10] chucker commented on #19720
I’d be OK with that.

[2020-03-09 21:15] anurse commented on #19450
To be extra clear here (for implementation), the plan is to have ANCM read an environment variable that VS will set which tells ANCM to prefer local env vars over web.config-defined ones.

[2020-03-09 21:21] anurse commented on #19548
Closing as a duplicate of the other issue.

[2020-03-09 21:21] #19548 closed

[2020-03-09 21:24] Steve0212a commented on #19361
I too need this.  Any idea when a fix would be available so I can let my managers know?

[2020-03-09 21:37] xrkolovos commented on #19700
If I can help you with anything else, please inform me.

[2020-03-09 21:39] markoj21 commented on #17277
The above solutions did not work for me but this did

1. In your Startup class, replace the spa.UseAngularCliServer invocation with the following:
   spa.UseProxyToSpaDevelopmentServer("http://localhost:4200");
2. In a command prompt, switch to the ClientApp subdirectory, and launch the Angular CLI development server:
  cd ClientApp
  npm start

[2020-03-09 21:54] mkArtakMSFT commented on #19716
@javiercn can you please look into these ? Thanks!

[2020-03-09 21:59] snappyfoo opened #19723 "STJ - failing to read a DateTime stops the entire model binding process"
### Describe the bug
If my request model has a DateTime but an invalid date string is supplied in the JSON, an error is added to the ModelState, e.g. "The JSON value could not be converted to System.DateTime. Path: $.dateProperty | LineNumber: 1 | BytePositionInLine: 43."

No other validation messages are added because model binding appears to completely halt at this step. If I disable the automat

[2020-03-09 22:00] #19571 closed

[2020-03-09 22:16] boukenka commented on #19715
There is a protected browser storage  [#18755](https://github.com/dotnet/aspnetcore/issues/18755) planned for 5.0.0-preview2.

[2020-03-09 22:49] ajcvickers commented on #19688
@mkArtakMSFT It's [in the 5.0 plan to figure out the guidance and patterns for using EF with Blazor](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-5.0/plan#ef-core-platforms-experience). (Note though that is probably not just EF, since the underlying ADO.NET objects are also by-design not thread-safe.)

/cc @bricelam @JeremyLikness @roji

[2020-03-09 23:02] pranavkm opened #19727 "Verify InputSelect support for Nullable<Enum>"
Verification for https://github.com/dotnet/aspnetcore/issues/13624

[2020-03-09 23:03] kemsky commented on #17277
`EventedStreamReader` is simply buggy:

[code]

[2020-03-09 23:05] pranavkm commented on #13624
Would having a default `None` option that is mapped to `null` work? The other alternative would be to author a custom `InputSelect` component that supports nullable. @GuillaumeNury sent us a PR that should be available in 5.0-preview2. You could use that as a basis for a custom component in 3.1.

[2020-03-09 23:07] j1a2 opened #19728 "A"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2020-03-09 23:08] j1a2 commented on #19728
Fs

[2020-03-09 23:46] anurse commented on #18697
Yep, sounds right to me. One additional thing to consider is testing. We don't run tests in Blazor WASM and doing so is out-of-scope for this issue, but we should try to have unit tests. So we may need an `internal` property somewhere we can toggle from the test to force it to do the right thing so we can verify that the query string is set in a test (probably in https://github.com/dotnet/aspnetco

[2020-03-10 00:05] warappa commented on #5456
Hi @danroth27 ,
have you seen https://www.livesharp.net/?
**It replaces the code *while it is running***.

There is a showcase where it **updates Blazor on-the-fly** (though one needs to navigate away and back to the current route).
And also a showcase where even a **console output text** in a loop is **replaced _while its running_**!

This is very close to the experience I would wish for!

[2020-03-10 00:30] #2442 closed

[2020-03-10 00:44] Tratcher opened #19730 "Prototype consuming the factory in OAuth/OpenIdConnect"
The Security repo has some of our only first party usage of HttpClient. We should try using HttpClientFactory there and see if it makes sense.

@glennc

[2020-03-10 01:15] dazinator commented on #5456
@warappa that is awesome. I wonder how it works! I'm guessing it replaces particular methods in your built application with equivalent proxy methods that when executed, make an RPC style call with the parameters to its server? The server then executes that method based on the latest compiled code and returns the results back to the proxy ti return. I might be way off but if that was the case then

[2020-03-10 01:46] aneequrrehman commented on #19696
@HaoK Thanks for getting back. Yups, I understand that and I am trying to add the shared framework reference. When I try to add `<FrameworkReference Include="Microsoft.AspNetCore.App" />` to be able to use Microsoft Identity 3.1 core, in my .netstandard 2.1 class library project, I get this:

NETSDK1073 The FrameworkReference 'Microsoft.AspNetCore.App' was not recognized	Namfus.Core

[2020-03-10 02:43] JamesNK opened #19731 "HTTP2: content-length header string allocation"
When a response has no content its content length is set to zero.

https://github.com/dotnet/aspnetcore/blob/8ec31594eae83295fb2c86d99d23c32ad33da5b0/src/Servers/Kestrel/Core/src/Internal/Http/HttpProtocol.cs#L1146-L1154

The logic lives on the HttpProtocol base class. Is returning `content-length=0` desirable in HTTP/2?

Assuming we want to keep returning the header, iterating over response heade

[2020-03-10 02:45] #19665 closed

[2020-03-10 03:35] #19728 closed

[2020-03-10 04:43] anurse commented on #19361
At this point it is not currently scheduled for 5.0. We can look at moving it up given the higher priority (and if anyone is interested, submitting a PR would certainly help move things along).

At best, we'd release it as part of the .NET 5.0 release, which is targeted for GA in November 2020 (though there will be preview releases much sooner than that).

[2020-03-10 05:08] mkArtakMSFT commented on #19688
Good to know, @ajcvickers. Should I move this issue over to ef to track it, or do you have a separate tracking issue to dupe this with.

[2020-03-10 05:26] HaoK commented on #17643
Closing since this doesn't seem needed as much with quarantined tests now, original idea was this would reduce flakiness on master

[2020-03-10 05:26] #17643 closed

[2020-03-10 06:01] liuliang-wt opened #19734 "DataAnnotations on one property will call get method on all other properties and subclass's properties"
When I post a ModelA to controller, if I add a DataAnnotations like [Required],[StringLength] on one property in ModelA, all other properties' Get method will be called, and if this ModelA derived from ModelB and ModelB has one property which has DataAnnotion, all properties' Get method of ModelA will be called....

[2020-03-10 07:32] snappyfoo commented on #19723
Digging around the source code a bit, the Newtonsoft deserializer doesn't stop on exceptions and it allows you to attach an error handler to deal with exceptions that occur during deserialization. The input formatter makes use of that error handler to add errors to the ModelState while the deserialization process continues to the end.

The STJ deserializer stops on the first exception, and while t

[2020-03-10 08:07] xrkolovos commented on #19700
More info on this one.

It doesn't work the second time. I get this error multiple times. Its random when it will work. After 2-7 refresh on the page it will login.

[2020-03-10 09:30] mrpmorris commented on #19640
@ryanelian I am curious. Why are you doing it like this instead of writing a component that accepts [Parameter] decorated RenderFragment properties?

[2020-03-10 09:34] tobbi opened #19736 "VS 2019 16.5 Preview 5.0 shows a ghost compilation error when compiling while publishing"
### Describe the bug
I'm working on a ASP.NET Core-Hosted server environment with Blazor that yields a weird bug when publishing. I keep getting a compilation error that is the following:
[code]
However, the compilation error shows only briefly in my Visual Studio, furthermore the app works fine when I simply run it using the "IIS Express" button.

I *think* the issue surfaced after updating to pr

[2020-03-10 09:43] tobbi commented on #19736
The issue only occurs when publishing in Release mode.

[2020-03-10 09:45] ryanelian commented on #19640
Our company is developing a custom component which renders other components in a fixed layout.

Consider this custom component as something like a Rapid Application Development framework / platform / web application designer.

While this custom component sounds rigid in theory, in practice it has been proven to aid development of mostly-bugs-free apps in 10x the normal speed. (Any generic app whic

[2020-03-10 09:55] SteveSandersonMS opened #19737 "Support more logger features"
`WebAssemblyLoggerFactory` and `WebAssemblyConsoleLogger` lack support for:

 * `factory.AddProvider` (currently, it throws `NotSupportedException`)
 * Controlling the default log level (currently, `IsEnabled` is hardcoded to return `logLevel >= LogLevel.Warning`)

Once we have a configuration feature we might want to implement the second of those. The first one is most likely unnecessary for the

[2020-03-10 11:27] joacar opened #19738 "[Hosting] Events UnhandledException and RequestFailed not raised"
### Describe the bug

The events `RequestStart` and `RequestStop` is raised from Microsoft.AspNetCore.Hosting namespace. But those for unhandled exception (`UnhandledException`) and failed requests (`RequestFailed `) aren't.

I've checked [here](https://github.com/dotnet/aspnetcore/blob/7cf264f25ae77d9a6b235a85c66dc13835e5b398/src/Hosting/Hosting/src/Internal/HostingApplicationDiagnostics.cs#L124)

[2020-03-10 12:14] javiercn commented on #19590
There are many reports on this thread, so I'm going to try and give some manual steps on how to potentially address/mitigate this issue while we investigate:
See [here](https://gist.github.com/javiercn/d04855b7a3581bf97d1ab9597935413f#mac-os-certificate-manual-steps) for instructions on how to remove, make accessible across partitions and trust certificates manually.

[2020-03-10 12:36] hez2010 opened #19739 "Really poor performance and latency of controls with multiple animations/operations"
### Problem
Blazor server-side has really poor performance and high latency for controls with multiple animations, especially for dropdown controls with fate-in/out animations.

Some demos:
https://blazorfabric.azurewebsites.net/dropdownPage
https://www.telerik.com/blazor-ui (demo for Drop Down List)
https://www.matblazor.com/DatePicker
...

You can open browser dev tools to monitor the network ac

[2020-03-10 12:42] spottedmahn commented on #19552
**Software name**: sophos web protection
**Version**: version of what?  sophos?
**Website**: http://opensilvershowcase.azurewebsites.net
**Context**:

![image](https://user-images.githubusercontent.com/14079228/76313173-dd995f80-62aa-11ea-907f-0b67688b41e1.png)

http://opensilvershowcase.azurewebsites.net/_framework/_bin/System.ComponentModel.DataAnnotations.dll

[2020-03-10 12:58] leus commented on #19254
Sorry if I'm wasting your time - I cannot find a discussion regarding this move. Is there an issue where I can find the rationale or discussion prior to this move? (I use some of the affected components in a very critical piece of infrastructure, so I wonder what's going on.) Thanks.

[2020-03-10 13:10] akiander commented on #19555
Yes, we call `Microsoft.Extensions.Hosting.Host.CreateDefaultBuilder(args)`

Here's the full code for **Program.cs**

[code]

And here's the full code for **Startup.cs**

[code]

[2020-03-10 13:43] mrpmorris commented on #19640
Wouldn't it be neater to define those render fragments in .razor markup though rather than in C#?

[2020-03-10 13:46] anurse commented on #19555
How long does that `InitializeDatabase` call in Startip.Configure tend to take? You mentioned you instrumented the code to collect timings, did you include this? The entire body of ConfigureServices and Configure (plus additional framework startup code) must complete within that startup timeout I mentioned earlier (120 seconds) or ANCM will consider the app to have failed to start. If the total du

[2020-03-10 13:47] ryanelian commented on #19640
Well, yes.

It's neater to define those RenderFragment using Razor syntax instead of using `builder => builder.OpenElement` syntax. Hence this issue / thread:

[code]

The render fragments are defined in the .razor files, no?

[2020-03-10 13:48] anurse commented on #19254
We’re getting an announcement put together shortly! This is purely about where we build/maintain the code though. All the packages are continuing to ship in the same places (NuGet, for example) and same supported frameworks as before.

[2020-03-10 13:58] mrpmorris commented on #19640
How about creating a layout like this?

[code]

[2020-03-10 14:04] ryanelian commented on #19640
We've thought about that but have serious performance concern.

Imagine there are 20 fixed components and you are inlining 5 components inbetween those components.

With the `Dictionary` implementation, you are doing O(1) comparisons 20 times.

With the child content / templated component implementation, the child content must be rendered 20x before and after the fixed component, and there will be

[2020-03-10 14:44] gaborposz commented on #9205
@NicoleG25, @blowdart: Thanks a lot for the answer!

[2020-03-10 14:53] jez9999 opened #19740 "ExceptionHandlerMiddleware should allow more customizabiltiy of logging"
I want to use `ExceptionHandlerMiddleware` (via `UseExceptionHandler`) for my exception handling.  Whilst it allows me to run custom code when generating the HTTP response, there appears to be no customizability when it comes to logging:

https://github.com/dotnet/aspnetcore/blob/5e575a3e64254932c1fd4937041a4e7426afcde4/src/Middleware/Diagnostics/src/ExceptionHandler/ExceptionHandlerMiddleware.cs#

[2020-03-10 15:06] akiander commented on #19555
yes I instrumented the code by just spreading out Serilog statements throughout the startup logic. I took that out when I determined that this code would not take longer than 120 seconds. I just pulled that branch and reran it and the total startup time is about 10 seconds

[code]
This code works fine when running out of process but when the only thing I change is to run in-process, then it always

[2020-03-10 15:22] mrpmorris commented on #19640
Let us know, and we can give feedback

[2020-03-10 15:56] mkArtakMSFT commented on #19736
@NTaylorMullen are we involved here at all, or is this a tooling issue?

[2020-03-10 15:57] mkArtakMSFT commented on #19711
@javiercn can you please look into this? Thanks!

[2020-03-10 16:06] javiercn commented on #19711
@Steve0212a thanks for contacting us.

If your issue is specifically about creating a cert, I recommend you file an issue in [the runtime repo](https://github.com/dotnet/runtime) as they will be able to provide you with a better and faster answer.

[2020-03-10 16:43] mkArtakMSFT commented on #19720
Thanks for contacting us. This is the same as the normal C# compiler behavior. Developers should be aware of the type names and don't duplicate them.

[2020-03-10 16:43] #19720 closed

[2020-03-10 16:43] danroth27 opened #19741 "Odd mono_wasm_runtime_ready message in browser console in Edge"
When running a Blazor WASM app in Edge I see a unexpected mono_wasm_runtime_ready message show up in the browser console:

![image](https://user-images.githubusercontent.com/1874516/76336661-91065200-62b3-11ea-8be6-a97100c1b75a.png)

The same message doesn't appear in Chrome:

![image](https://user-images.githubusercontent.com/1874516/76336703-9ebbd780-62b3-11ea-96c1-4f5a35fc898c.png)

[2020-03-10 16:49] mkArtakMSFT commented on #19715
Thanks for contacting us, @mrlife.
As @boukenka has pointed out, the referenced issue will cover this.

[2020-03-10 16:49] #19715 closed

[2020-03-10 16:51] #19701 closed

[2020-03-10 16:53] ajcvickers commented on #19688
@mkArtakMSFT https://github.com/dotnet/EntityFramework.Docs/issues/2025

[2020-03-10 16:57] mkArtakMSFT opened #19742 "Fix the electron app sample"
Builds on MacOS are broken.

[2020-03-10 17:11] ccifra opened #19743 "Support for Custom Elements in Blazor"
Right now you can use a Custom Element in a Blazor app but the experience is less than first class.  You can add a Custom Element to the DOM and set properties, but events require JavaScript glue code to hook up events to the C# code.  This makes working with custom elements cumbersome.

Writing Blazor Component wrappers can make a Custom Element look natively supported, but it would be a lot bett

[2020-03-10 17:13] davidfowl commented on #19740
Seems reasonable as an option to disable logging.

[2020-03-10 17:29] danroth27 commented on #19741
Turns out I just had a different log level set in Edge

[2020-03-10 17:29] #19741 closed

[2020-03-10 17:33] pranavkm commented on #19485
The line numbers are from the JSON payload that the client sent, so there's nothing interesting there being leaked. The data types are exposed, but these are usually conversion errors for primitives, and it's not any different from the errors you get from Newtonsoft.Json with `AllowInputFormatterExceptionMessages = true` or model binding errors.

That said, we wouldn't be opposed to adding an equi

[2020-03-10 17:43] glararan opened #19744 "[Question][Blazor] Multiple blazor apps / _Host.cshtml"
I am creating system which should display base _Host.cshtml for non-employee users. Base _Host.cshtml has completely different layout, design, css, script files.

**How to create another like _Host.cshtml file?** Every request starting with "/admin" should redirect to this new _Host.cshtml. Also every page will have attribute requesting user policy.

How would you solve this? Thanks

[2020-03-10 18:00] pranavkm commented on #19723
@ericstj would you consider a feature like this for System.Text.Json?

Newtonsoft.Json has a `ErrorHandler` call back that lets you inspect and continue on error. MVC uses this to report all the errors during JSON deserialization

* https://www.newtonsoft.com/json/help/html/P_Newtonsoft_Json_JsonSerializerSettings_Error.htm
* https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.NewtonsoftJ

[2020-03-10 18:07] pranavkm commented on #18288
As noted in https://github.com/dotnet/aspnetcore/commit/6833facda457847e30dba441bd1a0e14fb025047, the linker has been addressed. blazor dev-server has an issue, so running `dotnet run` was affected. The linked PR should address this.

[2020-03-10 18:07] #18288 closed

[2020-03-10 18:11] pranavkm commented on #19145
This is done.

[2020-03-10 18:11] #19145 closed

[2020-03-10 18:18] pranavkm commented on #19734
@liuliang-wt would you mind sharing a minimal app that demonstrates the issue? It's not very clear from the description what the issue is.

[2020-03-10 18:29] halter73 commented on #19608
@skype007 Can you [enable debug-level logging](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1, copy the log output you get when reproducing this problem and paste it into this issue? I think that will probably be enough to tell us what's going on.

Providing the source for a project that reproduces the issue and a wireshark pcap trace could also help, but th

[2020-03-10 18:41] mkArtakMSFT commented on #18690
It looks like the following two fields are missing information:
- Title
- Summary
- *ReleaseNotes, which we may choose to not do

[2020-03-10 18:46] ericstj commented on #19723
I'm not sure we've considered such a feature before.  @sharter @layomia what do you think?

[2020-03-10 19:18] Steve0212a commented on #19711
I wouldn't say it is about creating a cert.  The cert gets created on windows and on macOS (and also on Ubuntu which I recently tried).  However, when I try to use the cert on macOS, I get the error I specified above.  The same generated cert from the same code on Windows works.  Same for Ubuntu - same code generating a certificate and ASP.NET successfully used the generated certificate.  The code

[2020-03-10 19:26] zvolkov commented on #18634
FYI: in the absence of any real solution, for now we are setting SuppressOutputFormatterBuffering=true which seems like it "solves" the problem.

[2020-03-10 21:19] Carl-Hugo commented on #12685
I wanted to give another shot at Blazor, and I encountered a similar issue when interfacing with a third-party JavaScript library. They were not handling null properties but were handling missing properties.

I would love to have access to the `JsonSerializerOptions` instance used by the `JSRuntime` or an attribute that would allow me to decorate my types/properties, telling them to `[IgnoreNullOr

[2020-03-10 21:55] NTaylorMullen commented on #19736
From what's provided in this issue. We're not involved. This would be Vijay or Jinu.

[2020-03-10 22:32] andre-ss6 opened #19750 "SignalR .NET client deadlocks when calling StopAsync inside On handler"
### Describe the bug
If `HubConnection.StopAsync` is called inside an `On` handler from the .NET client it will never return.

During my testing, I've also noticed that if any other thread calls `StopAsync` from somewhere else during this period, it will also never return and the cancellation token will not fire, even if cancellation has been requested.

Edit: included the scenario described above

[2020-03-10 22:42] disklosr commented on #19485
My bad the line numbers are definitely helpful in this case I sure got carried away by op's message.

I can understand that it's not a big deal with system types, but when using a type converter the current behavior will leak internal types/namespaces and this is not always desirable imo. And even for primitive types I guess it's better not to disclose them as they can give a hint as to what langu

[2020-03-10 23:30] pranavkm commented on #19742
Resolved as part of https://github.com/aspnet/AspLabs/pull/262

[2020-03-10 23:30] #19742 closed

[2020-03-10 23:49] boukenka commented on #19687
Thank you both @RemiBou and @saber-wang for your help and the time you took to provide me with explanations. 😄 It works!

[2020-03-10 23:49] #19687 closed

[2020-03-11 00:52] k1n9bur93r opened #19752 "Blazor WebAssembly Preivew 2, Missing Package Microsoft.AspNetCore.Components.WebAssembly.Runtime"
### Describe the bug
On the latest release of Blazor, a freshly created project is unable to compile due to the following error.

Error	NU1101	Unable to find package Microsoft.AspNetCore.Components.WebAssembly.Runtime. No packages exist with this id in source(s): Microsoft Visual Studio Offline Packages, nuget.org	TestProj.Client	C:\Users\UserName\source\repos\TestProj\TestProj\Client\TestProj.Cli

[2020-03-11 01:04] IvanJosipovic commented on #19752
I'm seeing the same issue.

[2020-03-11 01:31] Pilchie commented on #19752
Tagging @mkArtakMSFT

Could be a NuGet indexing issue it sometimes takes a while for packages to show up.

[2020-03-11 01:34] 274188A commented on #19752
Seeing same...

[2020-03-11 02:15] ar0311 commented on #19752
Same

[2020-03-11 02:45] yv989c commented on #19752
It's working now! 👍
https://www.nuget.org/packages/Microsoft.AspNetCore.Components.WebAssembly.Runtime/3.2.0-preview2.20159.2

[2020-03-11 02:50] danroth27 commented on #19752
Sorry about that! Should be fixed now.

[2020-03-11 02:50] #19752 closed

[2020-03-11 02:54] MitchellNZ commented on #19752
Thanks @danroth27
Can confirm its working for me now.

[2020-03-11 03:06] liuliang-wt commented on #19734
@pranavkm thank you for your reply,

[WebApplication6.zip](https://github.com/dotnet/aspnetcore/files/4315814/WebApplication6.zip)

the attachment is a miminal asp.net core mvc project, the controller is like this:

  public IActionResult Index()
        {
            ModelA a = new ModelA();
            return View(a);
        }

        [HttpPost]
        public IActionResult Index(ModelA modela

[2020-03-11 03:27] JayMoorhouse commented on #19094
Hello,

I'm having this same issue. Has anyone had much time to look into it? I'm also willing to provide any necessary information.

Thanks,
Jay

[2020-03-11 03:41] rynowak commented on #17843
You could use a result filter to manipulate `ObjectResult`. https://github.com/dotnet/aspnetcore/blob/master/src/Mvc/Mvc.Core/src/ObjectResult.cs#L26

[2020-03-11 04:18] rynowak commented on #19740
Isn't this already possible via config?

[2020-03-11 06:34] davidfowl commented on #19740
Yes it is! @jez9999 you can add this to configuration to disable the logging for this:

[code]

[2020-03-11 06:50] davidfowl commented on #19750
Might be related to https://github.com/dotnet/aspnetcore/issues/17584, not sure if StopAsync is different, we'll need to take a look.

[2020-03-11 07:53] simonziegler commented on #19288
I'm delighted to say that after a two week wait I was finally able to test this out with complete success. Many thanks and sorry for the delay - I wasn't getting a crash for that whole period! Meanwhile please consider this issue closed, but I would be interested to know if the [sdk 3.2.0 preview 2](https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-2-release-now-available/) an

[2020-03-11 08:01] #19288 closed

[2020-03-11 08:03] Justina2711 opened #19760 "Claim Empty when it is deployed in IIS"
We have created a demo .Net Core version 2.2 application, and we are storing user related data in the claims, everything works fine in the development mode, whenever we deployed the same on IIS windows server 2019, after some time we are trying to retrieve the claim it becomes empty, whereas the AspNetCore.Cookies value is present in the browser cookie

![image](https://user-images.githubuserconte

[2020-03-11 08:19] dengyantao opened #19757 "net core2.1 datatable select Occasionally you don't get the right value"
net core2.1 datatable select Occasionally you don't get the right value
example：
DataTable dttaxpayable =new DataTable ();
dttaxpayable .Select("idnumber = '" + item.Idnumber + "' ")

[2020-03-11 08:31] Berrysoft opened #19758 "JsonException after upgraded to Blazor WebAssembly 3.2.0 Preview 2"
### Describe the bug
Error messages show in the console of the browser after using `JsonSerializer` or `GetJsonAsync`:
[code]

### To Reproduce
Add a json file to the project and use `GetJsonAsync` extension method to get it.

### Further technical details
[code]

[2020-03-11 08:32] eisendle opened #19759 "Bring back possibility to dynamically add blazor wasm apps to aspnet core"
In Blazor WASM Preview 1 it was possible to dynamically register a Blazor App via ` endpoints.MapFallbackToClientSideBlazor<Client.Program>()`. This API was removed in Preview 2 and replaced with integration of "ASP.NET Core static web assets".

This change removed the possibility:

1. To register Blazor apps to ASP.NET Core at runtime. No project reference was required.
2. To map multiple Blazor

[2020-03-11 09:00] Brainykat commented on #19561
Am Experiencing the same error as described above after updating to Visual studio 16.5.0 Preview 5.0. The error occurs on publishing.
**SDK version** 3.1.200-preview-015002
**Project** Blazor Web Assembly App Core hosted
**Publishing options to azure** : Target framework netcoreapp 3.1, Self contained
**ERROR**
`Fatal error in Mono CIL Linker
C:\Users\Kariuki\.nuget\packages\microsoft.aspnetcore.b

[2020-03-11 09:05] juunas11 commented on #19570
Just wanna comment that I made a quick Core 3.1 app that uses the 2 data protection packages and it was really easy to plug them in :)
Here's a link to that: https://github.com/juunas11/Joonasw.AzureDataProtection/blob/0880cb95d08c220ce7fb8d754192da7f0ebe24bf/Joonasw.AzureDataProtection/Startup.cs#L43

Plugged DefaultAzureCredential to both and everything works really nicely locally.
I'll probably

[2020-03-11 09:09] javiercn commented on #19759
@eisendle thanks for contacting us.

This is still possible in preview2. Apps are mapped to '/' by default but you can change `StaticWebAssetBasePath` on the msbuild project for the app to map it to a different location, like `ui/app1` and then you can do as you were doing before:

[code]

[2020-03-11 09:18] javiercn commented on #19758
@Berrysoft thanks for contacting us.

I would suggest you clean your bin,obj folder and rebuild just in case there's some intemerdiate/invalid state after the update.

Some other things to try I described [here](https://gist.github.com/javiercn/d6b7e6b498f40aa1d05436a8a19b60f4) beware that many of these have an impact on your whole machine/dotnet install but are the best way to make sure there's n

[2020-03-11 09:19] jez9999 commented on #19740
@davidfowl A couple of things: while that'll work with .NET Core's default logging architecture, "None" might not be an option for all logging frameworks.  I don't think Serilog has that option, for example.  Also, it just looks rather unintuative semantically, because it kind of looks like you're trying to configure your app NOT to log unhandled exceptions.

[2020-03-11 09:20] javiercn commented on #19757
@dengyantao thanks for contacting us.

We don't believe this issue is about ASP.NET Core. In order for you to get a better and faster answer, I would recommend you file the issue in the [dotnet/runtime](https://github.com/dotnet/runtime) repository.

[2020-03-11 09:21] javiercn commented on #19757
@ajcvickers is this EF by any chance?

[2020-03-11 09:24] javiercn commented on #19760
@Justina2711 thanks for contacting us.

.ASP.NET Core 2.2 is out of support as per https://dotnet.microsoft.com/download/dotnet-core, so we recommend you upgrade to the next LTS release (3.1) and try to see if the issue you are having reproduces there.

[2020-03-11 09:25] davidfowl commented on #19740
2 things:
- Logging filtering is handled by the factory by default, so if you use *any* logging provider it will work.
- Serilog happens to implement an entire ILoggerFactory and there's a serilog specific way to disable categories.

I agree it's not as intuitive as an option on the middleware itself but I disagree it not telling your app the log exceptions. The logging category is clearly scoped

[2020-03-11 09:26] javiercn commented on #19744
@glararan thanks for contacting us.

* Create a separate razor page and set the route to "/Admin"
* Set the base tag href to "~/Admin/"
* Call MapFallbackToRazorPage("~/Admin/{*clientroutes:nonfile}")

[2020-03-11 09:29] glararan commented on #19744
@javiercn Thanks for reply! You should definitely add this into documentation as an example :)

[2020-03-11 09:59] javiercn commented on #19641
@MaximShchukin thanks for contacting us and thank you for including a repro project.

We'll look at it and update this issue with new information.

[2020-03-11 10:01] javiercn commented on #19631
@apchenjun thanks for contacting us.

We'll look into your suggestion and update this issue accordingly.

[2020-03-11 10:08] Justina2711 commented on #19760
@javiercn The same issue is faced in .Net Core 2.1 also

[2020-03-11 10:19] jez9999 commented on #19740
Doesn't seem to be working for me.  The following isn't suppressing the exception handler middleware logs:

[code]

[2020-03-11 10:24] mrpmorris opened #19761 "[Blazor] Code completion is incomplete + poorly formatted"
[Screenshot](https://blazor-university.com/wp-content/uploads/2020/03/ezgif-1-e5a7f68eb671.gif)

In an `@code` section type `override oninit` - when the code-insight window pops open showing `OnInitialized` press Enter.

[2020-03-11 11:20] jez9999 commented on #19740
I've just been reading: https://github.com/serilog/serilog-extensions-logging/issues/98

Interestinly you yourself seem to be saying that `UseSerilog` is breaking things in ASP.NET Core, @davidfowl .  It overrides ASP.NET's filtering and throws everything over to Serilog, which provides an inferior filtering experience:
https://github.com/serilog/serilog-extensions-logging/blob/c5bad0c183ae10d448f

[2020-03-11 12:23] raymond-holmboe opened #19834 "Protecting functions with B2C"
I could not get my scenario working: a Blazor Webassembly app hosted in a storage account as static page, calling Azure Functions protected by B2C.
I was blocked by a CORS issue. Any chance this may work in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfb23446-3b01-73a8-70e2-697367065264
* Version Indepen

[2020-03-11 12:40] zbecknell opened #19762 "Blazor Error: Could not find class: Microsoft.AspNetCore.Components.WebAssembly.Services:DefaultWebAssemblyJSRuntime"
### Describe the bug

With a Blazor WebAssembly app upgraded to 3.2-preview2, I encounter the following error in the browser console when running and attempting to access the site:

[code]

### To Reproduce

Our project is quite complicated, including dual-booting Wasm/Server.  With that being said, I'm able to get this same error when running a completely fresh hosted blazor-wasm template *after*

[2020-03-11 13:00] BrunoBlanes opened #19763 "Blazor WebAssembly v3.2.0-Preview2 exception at runtime"
### The bug
The bug is a System.InvalidOperationException that pops up when trying to run the application in either release or debug mode.

### To Reproduce
Followed the [blog post](https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-2-release-now-available/) on how to upgrade an existing project from Preview 1 to Preview 2.

### Startup.cs
[code]

### Program.cs
[code]

### Exc

[2020-03-11 13:02] zbecknell commented on #19763
Remove `app.UseResponseCompression()` -- this is now handled by Blazor automatically.

[2020-03-11 13:15] BrunoBlanes commented on #19763
Oh, sorry. I removed the call from the `ConfigureServices `method and forgot about the `Configure`. Thanks though.

[2020-03-11 13:15] #19763 closed

[2020-03-11 13:21] andelizondo commented on #19590
For me, everything was fine until I updated the SDK, but this solved the problem.
I just removed that SDK version and re-generated my certificates:

- `dotnet dev-certs https --clean`
- `dotnet dev-certs https -t`

Thank you @frozenfroze!!

[2020-03-11 13:31] snickler opened #19764 "Microsoft.AspNetCore.Components errors when building a new project created with Blazor WebAssembly 3.2.0 Preview 2"
### Describe the bug
Attempting to build a new project from the updated Blazor WASM template fails with numerous type or namespace name errors:
`_Imports.razor(2,39): error CS0234: The type or namespace name 'Authorization' does not exist in the namespace 'Microsoft.AspNetCore.Components' (are you missing an assembly reference?) [D:\blazorwasmtest\BlazorAppWithAuth1\Client\BlazorAppWithAuth1.Clien

[2020-03-11 13:32] zbecknell commented on #19762
Ok, some progress!

Because we are dual-booting, we have different configurations: `Debug_C`, `Debug_S`, `Release_C`, and `Release_S`.  Even though our debug configurations define a constant `DEBUG`, it seems that the linker was treating that configuration as a Release and enabling linking.  This apparently broke the app at runtime.  Looks like for now I need to go back to disabling linking entire

[2020-03-11 13:47] zbecknell opened #19765 "Blazor Wasm: caching localhost bleeds between projects"
### Describe the bug

With 3.2.0-preview2, assets are cached for localhost websites.  This means that `ProjectA` that runs at `localhost:5001` can end up trying to use DLLs from `ProjectB` that runs at the same host.  Add linking to the mix and you can see where problems start to arise.

Context: my previous runtime bug (https://github.com/dotnet/aspnetcore/issues/19762) was due to linking being e

[2020-03-11 14:03] snickler commented on #19764
False alarm. This was **MY** fault. NuGet package cache with 3.1.2 dev versions of the aspnetcore components packages. After deleting them manually and doing dotnet restore, problem solved.

[2020-03-11 14:03] #19764 closed

[2020-03-11 14:07] jeremyVignelles opened #19766 "Inconsistent status code when file upload is forbidden, depending on the input file size"
### Describe the bug
When I don't have the permission to upload a file in an API, I expect to receive a 403.
On that specific API, I have set `[RequestSizeLimit(2_000_000_000)]`, to be allowed to upload big files through the API.
If I upload a file bigger than the default size limit, I get a "Bad request" instead of the 403 I was expecting.

### To Reproduce
Here is a repro : https://github.com/je

[2020-03-11 14:13] RemiBou commented on #19199
About the script tag, did you think about doing like angular and generating this tag at build time in index.html ? This would help developer and would open the door for things on the maintainer side :
- add more script
- change the url
- generate those tags from embed files in project
....

I couldn't find where angular does this but this provides a nice developer experience

[2020-03-11 14:39] julienGrd opened #19768 "[Blazor 3.2.0 preview 2] [Deployment] The specified version of Microsoft.NetCore.App or Microsoft.AspNetCore.App was not found."
Hello Guys, this morning i made the migration of my app to web assembly 3.2.0 preview2.
On development, not particular problems, it works as expected.
But now, when i deploy to my preprod server, i have the error "The specified version of Microsoft.NetCore.App or Microsoft.AspNetCore.App was not found"

By activating debuginformation in web.config, i had the real reason of the "error"

An assembly

[2020-03-11 14:56] jez9999 commented on #19740
Anyhow, it'd still be good if the exception handling middleware could take a config that made it not log anything.

[2020-03-11 14:58] SteveSandersonMS commented on #19199
@RemiBou Yes, we used to do that. But we stopped doing it because it's better to make things simpler and more obvious.

Developers already understand what a `<script>` tag is, so simply having a normal one in the static `index.html` file makes things far more understandable. For example, you can edit it to change the URL or customize attributes (like `defer`), you can reorder it among other tags,

[2020-03-11 14:59] steveharter commented on #19723
This was discussed early on when we evaluated Newtonsoft features for priority and this feature was discouraged, although the discussion did say that MVC uses it. @JamesNK @glennc

[2020-03-11 15:03] RemiBou commented on #19199
Ok I didn't remember, thanks for reminding me and for the answer.

[2020-03-11 15:18] zbecknell commented on #19768
Without digging into the details, you may want to try disabling linking entirely by putting in your csproj:

[code]

My app is broken with linking enabled, and it IS automatically enabled for RELEASE builds, so try this out.

[2020-03-11 15:21] carlosalcantara2668 opened #19769 "Secure an ASP.NET Core Blazor WebAssembly hosted app with Identity Server please set an example with roles"
In the documentation this section is incomplete "Secure an ASP.NET Core Blazor WebAssembly hosted app with Identity Server" because it is necessary to make an example with roles

### Additional context
please set an example with roles

[2020-03-11 15:39] julienGrd commented on #19768
hello @zbecknell , thanks for your help ! My app had already the linker disable (because of Linq.Dynamic.Core), nothing related in this case !

[2020-03-11 15:58] Berrysoft commented on #19758
My fault. I'm still using classes from old namespaces, and because I'm referencing some old libraries targeting old Blazor assemblies, the compiler doesn't error at all. Now the question is solved.

[2020-03-11 15:58] #19758 closed

[2020-03-11 16:13] zbecknell commented on #19762
I'm pretty sure this issue was caused by a misconfiguration (failed to update one of the namespaces that doesn't cause a build error) combined with linking being enabled, so I'm going to go ahead and close this.  Linking is now working since I fixed a couple of intermediate problems.

[2020-03-11 16:13] #19762 closed

[2020-03-11 16:15] mkArtakMSFT commented on #19769
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-03-11 16:21] mkArtakMSFT commented on #19765
Thanks for contacting us.
We actually cache based on unique hashes, so that shouldn't be a problem. Can you please provide us with a small repro project so that we can investigate this? Thanks!

[2020-03-11 16:24] mkArtakMSFT commented on #19743
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-03-11 16:25] mkArtakMSFT commented on #19688
Thanks. Closing this as a dupe then.

[2020-03-11 16:25] #19688 closed

[2020-03-11 16:29] mkArtakMSFT commented on #19697
Thanks @rynowak . Closing as a dupe.

[2020-03-11 16:29] #19697 closed

[2020-03-11 16:36] mkArtakMSFT commented on #19768
Thanks for contacting us.
It looks like that your pre-production environment is missing the correct runtime. As is pointed out in the [release blog post](https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-2-release-now-available/), you will need to have 3.1.2 version of the ASP.NET Core runtime.
Can you please confirm you have it installed?

[2020-03-11 16:42] skype007 commented on #19608
@halter73 I enabled debug-level logging but it doesn't log something when I'm launching the request in Postman :( For what it worth, it's deployed on Azure on a API app, don't know if this information can be useful for you ?

[2020-03-11 16:46] julienGrd commented on #19768
Yes I can confirm, deploy an empty server side or client side project on my server works perfectly, its really my project with this specific dual-mode configuration which have problems.

 To understand whats really happen you need read the message entirely (yes i know its really long ^^). It's related to the way the publish deal with dll. In my case, the server app don't have some dll (dll used in

[2020-03-11 17:02] pranavkm commented on #19766
The server blocks request if it exceeds specified limits, returning a 400. The action does not execute in this event.

/cc @Tratcher

[2020-03-11 17:12] pranavkm commented on #19734
@liuliang-wt this makes sense. MVC's validation will visit an object as long as there's at least one property that needs validated. Validation short-circuits if no properties in a model or any of it's sub-properties require validation. Our recommendation would be to use view models \ POCO objects for the types you use for binding. This should ensure there isn't a cost to property accessors.

[2020-03-11 17:20] jeremyVignelles commented on #19766
As you can see here, the forbidden message is returned from within the action:

https://github.com/jeremyVignelles/TestUploadForbidden/blob/master/TestUploadForbidden/Controllers/HomeController.cs#L16-L21

So, I'd expect that the RequestSizeLimit is properly interpreted.

[2020-03-11 17:26] zbecknell commented on #19765
This one is tough because it involved both linking and various misconfigurations with the original large app, but it definitely resulted in the new templated app having the same error.  That being said, a couple of simple repro projects couldn't replicated it, and hopefully if something is there it'll be enough of a corner case that it never really crops up.

I'm going to close this for now.

[2020-03-11 17:26] #19765 closed

[2020-03-11 17:32] liuliang-wt commented on #19734
well... it makes sense that MVC go through every properties to check if there is a validation attribute, but it doesn't make sense to call Get method for those properties that don't have validation attribute.

You can use reflection to check if there is an attribute on a property before calling its' Get method right?

[2020-03-11 18:03] rynowak opened #19772 "Spicy Idea: Regex segments for routing"
## Idea

We have a routing feature called a *complex segment* - description [here](https://review.docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1&branch=pr-en-us-16456#complex-segments).

Example: `/transactions/history/{mm}-{dd}-{yyyy}`

The reason why this documentation section is so long is that complex segments are really just **very** simplified regexes, and don'

[2020-03-11 18:05] javiercn commented on #19590
# Important
This is an ongoing issue in the latest SDK version. To workaround this issue:
* Make sure you open Keychain Access and delete all the localhost certificates in the login keychain and in the system keychain that were created by ASP.NET Core.
* Open bash in the terminal.
* Create a temporary folder and cd into it.
* Run the following script https://gist.github.com/javiercn/d04855b7a3581b

[2020-03-11 18:09] vsfeedback opened #19773 "Using custom FileProvider increase response time 3-6 times"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/942180/using-custom-fileprovider-increase-response-time-3.html)._

---
To be able to load a view from a database, I found [this article][1] (with a [complete code sample][2] at Github), how to create a custom database file provider.

As I use ASP.NET Core 3.1, these adjustm

[2020-03-11 18:11] mkArtakMSFT commented on #19773
Thanks for contacting us.
It sounds like your file provider is slow and that's what contributes to the overall slowness you see. We recommend profiling it yourself, as it's not a framework -specific code. If however, you've done that and still believe there is something wrong going on in the framework, please provide us with a minimal repro project and your profiling data, so that we can investiga

[2020-03-11 18:23] blowdart commented on #19772
I see, we propose this when we're working apart so I can't throw something at you.

For our dear audience, running regular expressions on untrusted input can lead to exponential CPU growth for regular expressions with catastrophic backtracking. The nature of greedy regexes can also lead to regex injection.

For reference;

https://blog.silentsignal.eu/2014/03/07/sanitizing-input-with-regex-conside

[2020-03-11 18:43] pranavkm commented on #17071
This is done. I checked in the preview2 build and set up automation (thanks @wtgodbe) to insert newer builds from the blazor-wasm branch. I'll keep an eye out for how that goes.

[2020-03-11 18:43] #17071 closed

[2020-03-11 18:43] chanan opened #19775 "[Blazor-WASM 3.2 Preview 2] Deployment to Github pages not working"
I deploy my CSB / WASM Blazor projects to Github pages, but it seems to no longer working.

Running a web server locally loads up the CSB fine, but once deployed to Github pages I get the following error:

[code]

The CSB is here: https://chanan.github.io/BlazorTypography/
And the source folder is: https://github.com/chanan/BlazorTypography/tree/master/docs

[2020-03-11 18:46] blowdart commented on #19700
What are you attempting to login to and how is your odic handler configured?

[2020-03-11 18:48] mrlife opened #19776 "Blazor InputSelect Errors with "multiple" attribute"
### Describe the bug
When adding `multiple` to an `InputSelect` input component, running the app, and selecting an item, an error occurs and is displayed in the browser console.

Is `multiple` supported?

### To Reproduce

Search.razor
[code]

Search.razor.cs
[code]

Error

   at Microsoft.AspNetCore.Components.Forms.InputSelect`1.TryParseValueFromString(String value, TValue& result, String& valid

[2020-03-11 18:50] zmp2000 opened #19777 "The target process exited with code 0 while evaluating the function"
Hi, I have a asp.net core project which references another .net standard project which acts as a repository for retrieving database information.
This repository uses NHibernate ORM and PostgreSQL connection.

The project works fine except when I try to debug any retrieved information from the Repository, the objects are lazyloaded as proxy objects just like Entity Framework does.

So when the debu

[2020-03-11 18:54] aeos opened #19778 "Best Practice for Dynamic ClientId and ClientSecrets in the AddOpenIdConnect"
Our application is multi-tenanted and each tenant has a unique clientId and client secret. Currently the only way to change the clientId and secret is to do so during all of the OpenIdConnectEvents such as OnRedirectToIdentityProvider

For OnRedirectToIdentityProvider the strategy is to update the RedirectContext.ProtocolMessage.ClientId and ClientSecret before the request triggers, however in thi

[2020-03-11 19:10] rynowak commented on #19772
I'm curious to know how things like Nginx do this then. They have regexes pretty front and center in their configuration model.

Nginx uses [PCRE](https://www.pcre.org/original/doc/html/pcre_exec.html) [here](https://www.pcre.org/original/doc/html/pcre_exec.html). From what I read in the docs PCRE has a DFA mode that's got a more limited feature set but more suitable for this kind of use case. How

[2020-03-11 19:10] JamesNK commented on #19723
I'm not a fan of ErrorHandler. Attempting to resume after an error is too unreliable.

[2020-03-11 19:13] rynowak commented on #19772
One of the alternatives that I'd propose is a "you supply the parsing code" model. This would allow users to do parsing and value extraction in a single step (like is proposed here with regex) - which is the main difficultly people are facing today.

What's not ideal about that idea is its basically leaving it up to users to implement parsing on untrusted input. Doubtless many of them will choose

[2020-03-11 19:14] stephentoub commented on #19772
From my perspective, the primary concern isn't untrusted input, it's untrusted expressions.  The example regexes you showed in your original post will all execute in linear time.  The problems arise when you run arbitrary, untrusted expressions (which you have to assume will cause your CPU to just spin infinitely) or when you don't realize that you've constructed an expression that has such proble

[2020-03-11 19:16] Pilchie commented on #19777
@gregg-miskelly any ideas?  What's the best way to report this?

[2020-03-11 19:25] rynowak commented on #19772
I think that's at the heart of the matter.

Can we agree to call them `naive expressions`? Any regex that's hooked up to routing was written by the app developer. We don't send/receive regexes across any trust boundaries (like in an HTTP request).

From your POV is it reasonable that we could detect naive expressions with catastrophic backtracking? (I assume no)

Would it be reasonable for a `Rexe

[2020-03-11 19:28] ericsampson commented on #19772
Feels like this is one of those areas where you're damned if you do or don't. If you prebake limited functionality, then there will be constant feature requests for special snowflake cases. If you open it up to 'arbitrary regex' or 'arbitrary you supply the parsing code', that's an awfully big pit of failure to foist upon $randomDev. Is there a middle ground? DFA-only regexes?

[2020-03-11 19:28] stephentoub commented on #19772
It would work/help.  It's also non-trivial, especially in light of captures.

Yes... with the large caveat that you'd be casting a very wide net that would likely also flag valid expressions.

[2020-03-11 19:33] javiercn commented on #19711
@Steve0212a what's the error/callstack. From what you are saying it seems to me that the issue is with the the certificate APIs in Mac OS. I still suggest you follow up with the [dotnet/runtime](https://github.com/dotnet/aspnetcore) folks as they'll be able to help you faster and better.

If you post the callstack I'll take a look at it and see if it can be something on our side, but my theory is

[2020-03-11 19:33] DamianEdwards commented on #18984
I just ran into this myself with the app I'm building. Would love to see this method added.

[2020-03-11 19:49] rynowak commented on #18984
Yeah, it will get done soon. Maybe today 👍

[2020-03-11 19:51] snappyfoo commented on #19723
Surely one can conceive of there existing a set of errors that can be considered safe to resume from, making it then a case of deciding which errors fall in this set. Newtonsoft may have tried to resume from too many different types of error, making it reliable. Could STJ implement this feature more conservatively and therefore more reliably?

The particular DateTime example I've given here seems

[2020-03-11 19:52] brockallen commented on #18984
I predict that people are going to be confused by this.

1) it will override any lower level authorization (e.g. at the controller/action level) leaving people either confused why their `[Authorize]` is not working, or just leaving people with the incorrect assumption that their `[Authorize]` is secure (but they never tested it).

2) it's only useful if you've indicated a fallback policy (which I

[2020-03-11 19:56] rynowak commented on #18984
The main use case for this is in cases where you *don't* have controllers and actions. People are already confused, they are trying to find the equivalent functionality to `[AllowAnonymous]` for delegates hooked up to routing.

Fallback policy is what we're pushing everyone towards instead of global authorization filters because it works on things that aren't MVC.

[2020-03-11 19:58] davidfowl commented on #18984
Maybe a compromise would be to call it something a bit more scary?

[2020-03-11 20:06] rynowak commented on #18984
I'm kinda vaguely in favour of that because I already think that `AllowAnonymous` isn't descriptive enough for what it does. However, you can't really change what we've already build. `IAllowAnonymous` is a type that exists, that the auth system has built-in knowledge of 😆

The choice to call it `AllowAnonymous()` reflects what people already know about asp.net.

[2020-03-11 20:13] joshfriend commented on #7756
The process of obsoleting this API somehow broke the whole localization system for `SharedResoruce` https://github.com/dotnet/sdk/issues/4033

Is there an alternative I can use?

[2020-03-11 20:13] anurse commented on #19750
Probably true, but also probably a different code path so we'll need to make a different fix.

[2020-03-11 20:14] jkotalik commented on #19760
@Tratcher / @HaoK  any ideas?

For more diagnostics, can you post what your deployed web.config is?

[2020-03-11 20:18] Steve0212a commented on #19711
I actually got it to work by changing the location of the certificate store to StoreName.My instead of a custom store name (which worked on Windows).  Not sure why the storage location would fix this though.

Below is the stack trace if it helps at all.  I am going to close this item, but am curious if first, you can tell me why the store location would cause this exception...

thx

[code]

[2020-03-11 20:18] anurse commented on #19555
Have you tried increasing the startup time limit anyway (as a way of exploring the possibilities)?

Is there any way you could provide a runnable sample that reproduces the problem? It's very difficult to see where the delay could be coming from without full context. Let me know if you're able to share something but want to keep it confidential.

[2020-03-11 20:21] sunnylnct007 commented on #19555
I was using the default .net core 3.1 web template with Blazor and got the same error in azure app service hosting.
The startup
is Host.CreateDefaultBuilder(args)
                .ConfigureWebHostDefaults(webBuilder =>
                {
                    webBuilder.UseStartup<Startup>();
                });

Below solved by
 <PropertyGroup>
    <AspNetCoreHostingModel>OutOfProcess</AspNetCoreHos

[2020-03-11 20:30] GrabYourPitchforks commented on #19772
Like Stephen said, the primary problem is with untrusted expressions. There's nothing inherently wrong with adding such a feature since we expect the expressions to be trusted. (Customizable routes in a multi tenant environment might be a different matter.)

Historically developers tend to go a bit wild when given the option to use regexes. There's a subset of developers that will try to use the r

[2020-03-11 20:33] anurse commented on #19555
@sunnylnct007 this error message can have a lot of different causes. Unless your app is the same one as @akiander, I'd suggest filing a new bug instead and providing as much detail as you can (errors from the Windows Event Log, etc.). If they end up having the same root cause, we can figure that out later :).

[2020-03-11 20:34] belenos12345 commented on #18413
I'm interested in implementing a session state handling such as the described one with the "SessionService", but don't have any idea how to do that.
Do you have an example how the session object and the cookie are generated?

[2020-03-11 20:36] anurse commented on #19705
This is generally caused by one of a few different things:

* You're using a port less than `1024` and aren't an administrator/root user
* Another application is already using the port you requested
* Other OS components or security restrictions are blocking the use of the port you requested.

Can you provide more details about your environment?

* What OS are you running on?
* How are you selecti

[2020-03-11 20:50] javiercn commented on #19711
@Steve0212a I'm not sure why that is the case, I have no significant understanding of how the certificate store APIs are implemented on Mac OS, that's why I was pointing you to the dotnet/runtime repo.

That said, that callstack looks wrong. @Tratcher it seems like the exception kestrel throws here might be incorrect? Should this be transferred to servers for investigation?

[2020-03-11 20:52] #19731 closed

[2020-03-11 21:10] ajaybhargavb commented on #19609
@jrvidotti, a new release with the fix has been published. Update your C# extension to v1.21.14 to get it. You can re-enable Razor formatting if you disabled it.

[2020-03-11 21:19] davidfowl commented on #18087
Fails randomly how?

[2020-03-11 21:21] mihaimyh opened #19779 "[Blazor-WASM 3.2 Preview 2] Override default identity UI"
When overriding the default identity UI in a Blazor Wasm project the layout of the site is messed up.

To reproduce create a new AspNet hosted wasm project, select **Individual User Accounts** as authentication option.

In the generated server project right click on Areas > Add > New Scaffolded Item > Identity > Check override all files > Choose ApplicationDbContext as data context class.

At this

[2020-03-11 21:34] mihaimyh commented on #19779
After checking it further it seems that `wwwroot` folder is being added in the server project aftere overriding the Identity files. Removing that folder fixes the issue.

[2020-03-11 22:22] nblumhardt commented on #19740
Just in case anyone else is following along and wondering how Serilog handles filtering, see https://github.com/serilog/serilog-filters-expressions#serilogfiltersexpressions-- (and of course the logger-specific level overrides enabled by `MinimumLevel.Override()`).

In Serilog configuration, if level overrides and the `Fatal` level are insufficient to suppress these messages, it's always possible

[2020-03-11 22:27] jez9999 commented on #19740
Filtering them out is what I ended up doing.

[2020-03-11 22:49] NickCraver opened #19782 "Cache-Control header: What should the default or easier opt-ins be?"
In our port from .NET 4.7.2 to .NET Core 3.1.2 we didn't notice a critical difference until very late in the game: the `Cache-Control` headers, by default, are very different. It's my understanding from @blowdart that some common middlewares (anti-forgery and auth) change this behavior, so you may only see this difference if _not_ using one of those.

#### Overall
- In the System.Web & ASP.NET MVC

[2020-03-11 22:53] #19450 closed

[2020-03-11 22:55] NickCraver commented on #19782
cc @m0sa @deanward81

[2020-03-11 23:18] gregg-miskelly commented on #19777
Unfortunately the debugger doesn't know the real exit code on Linux/Mac, so ignore that part of the message.

Can someone move the issue to https://github.com/omnisharp/omnisharp-vscode? I am on parental leave right now, but hopefully someone can try to help you understand what is going on.

[2020-03-11 23:22] Pilchie commented on #19777
This issue was moved to OmniSharp/omnisharp-vscode#3655

[2020-03-11 23:22] #19777 closed

[2020-03-11 23:58] Lanticee commented on #19779
Hi
 I found server project added another wwwroot after override Identity Scaffold items too. And it works after remove that. Thx a lot.

[2020-03-12 00:11] pranavkm opened #19784 "SharedMemoryRenderBatch needs to account for boolean attribute values"
As part of the config change, I attempted to start using a new and improved `BINDING.conv_string` to read .NET strings as JS string. This exposed an issue in one of the tests \ product code. On the server, boolean attribute values are serialized either as `null` or `string.Empty` before being sent on the wire:

https://github.com/dotnet/aspnetcore/blob/master/src/Components/Server/src/Circuits/Ren

[2020-03-12 00:17] qcjxberin commented on #19697
Tks

[2020-03-12 00:19] karelz commented on #11725
Reopening as it was moved to CoreFX (now Runtime) repo by mistake - see https://github.com/dotnet/runtime/issues/31550#issuecomment-557736041
@mkArtakMSFT heads up ...

[2020-03-12 00:38] ShrenikOne opened #19785 "Why new Authentication Library targeting .netcoreapp3.1"
### Is your feature request related to a problem? Please describe.
Currently noticed that JwtToken, Certificate and other Authentication libraries are now started targeting .netcoreapp3.1, is there any rational behind it! Since we have common library same as Microsoft.Identity.Web which utilize different projects including .net4.8 and now this make us not allow to upgrade to latest 3.1.2 version o

[2020-03-12 01:40] blowdart commented on #19785
ASP.NET Core 3.0 and later only runs on .NET Core, not .NET Framework.

The various packages that are part of it rely on having features in that core 3.x. You cannot pick parts of an application framework and hope it works, it just won't work.

So no, we will not target Net Standard 2.0.

Closing as by design.

[2020-03-12 01:40] #19785 closed

[2020-03-12 01:52] blowdart commented on #19782
Trying to narrow this, is the problem generally status code returns, things without content? If you have authenticated pages that at least should be no-caching up the wazoo.

[2020-03-12 02:17] jshovan commented on #17660
I had this problem with 16.4.6. Realizing this is in the preview I installed the preview version of VS (16.5.0 Preview 5.0) and at first glance, it seems to be working. I have not done much with it yet but at least I am not getting the red underlines and warning on valid code/markup.

[2020-03-12 03:07] KeithBarrows opened #19787 "Blazor WebAsm 3.2.0 preview, release 2 - broken..."
### Describe the bug
Handling OIDC from a 3rd party.  I believe I have everything setup correctly.  When I try to login the app redirects to the Token Server I configured, asks for scope permissions and then redirects back (confirmed in fiddler).  However, the \authorization\ page in the WebAsm keeps throwing this error:

https://localhost:5001/Home/Error?message=Method%20not%20found:%20%27Void%20

[2020-03-12 03:12] mkArtakMSFT commented on #18690
`Summary` will not be needed, as it's being deprecated per [NuGet documentation](https://docs.microsoft.com/en-us/nuget/reference/nuspec#summary)

[2020-03-12 03:14] mkArtakMSFT commented on #18690
Looks like `Title` is also not that important, per [this](https://docs.microsoft.com/en-us/nuget/reference/nuspec#title):

[2020-03-12 03:15] mkArtakMSFT commented on #18690
Closing this as there is no much value after the above findings.

[2020-03-12 03:15] #18690 closed

[2020-03-12 04:13] Justina2711 commented on #19760
@jkotalik thank you for your reply

we have two projects running on 2 different version .Net core 2.1 and 2.2

**web.config for version 2.2**
![image](https://user-images.githubusercontent.com/48353468/76486521-9398b100-6445-11ea-8ebe-b9d8f0f0e4e0.png)

**web.config for version 2.1**
![image](https://user-images.githubusercontent.com/48353468/76486580-bfb43200-6445-11ea-9dbf-bb3bc4555c76.png)

[2020-03-12 05:10] jshovan opened #19788 "Blazor/Razor: Binded value constraint does not work as expected."
### Describe the bug
When the bound input value is updated to be equal to the previous value then subsequent updates do not behave as expected.

### To Reproduce
Copy the following into a .razor page. Then view it in a browser and update the top field. Notice that the other bound fields update as expected.
Then, update one of the bottom fields and notice that the update only acts as expected with

[2020-03-12 05:57] NTaylorMullen commented on #18769
Capturing some of @danroth27's epic colorization investigation so we can ensure we work applicable pieces into VS.

Token | Color | Notes
-- | -- | --
razorTagHelperElement | #800080, bold | Same color used by VS light theme
razorTagHelperAttribute | #800080, bold | Same color used by VS light theme
razorTransition | #C586C0 | Same as Razor directives and C# using directive
razorDirectiveAttribute

[2020-03-12 08:54] tanveerbadar commented on #2612
Updating the link to point at asp.net core [version](https://github.com/dotnet/aspnetcore/blob/master/src/Middleware/ResponseCaching/src/Interfaces/IResponseCachingPolicyProvider.cs).

[2020-03-12 09:00] Madhust commented on #19739
@hez2010  Just now I faced similar issue and asked for clarification in Blazor gitter. My problem is due to distance between the server(Blazor app resides) and client(Browser). When the distance is more the round trip time(RTT) may be little high and you may face delay in UI change. In Blazor WASM there is no such round trip is done hence it worked smoothly for you.

@mrpmorris pointed me to the b

[2020-03-12 09:17] DanielFawcett opened #19790 "moved Project over to preview 2 and getting InvalidOperationException"
System.InvalidOperationException: 'Unable to resolve service for type 'Microsoft.AspNetCore.ResponseCompression.IResponseCompressionProvider' while attempting to activate 'Microsoft.AspNetCore.ResponseCompression.ResponseCompressionMiddleware'.'

System.InvalidOperationException
  HResult=0x80131509
  Message=Unable to resolve service for type 'Microsoft.AspNetCore.ResponseCompression.IResponseCom

[2020-03-12 09:52] sylvainonweb opened #19791 "No error/warning after removing a property of a component used in other places"
### Describe the bug
I have a component Called DlmComboBox containing a Label property. This component is used in a lot of places.
I decided to removed this Label property of the DlmComboBox component but after recompiling Visual Studio didn't show me warnings or errors at all.

### Further technical details
- ASP.NET Core version : 3.1

- Output of `dotnet --info`

.NET Core SDK (reflecting any g

[2020-03-12 09:57] rjvdboon opened #19792 "Copy-paste error: AfterControllerActionMethodEventData indexes Controller twice, but misses Arguments"
### Describe the bug
While reading through the source of MvcDiagnostics.cs I noticed on line 527-530
https://github.com/dotnet/aspnetcore/blob/01c1d0613ec40c6bc12bdbdebfe7b03bd878868a/src/Mvc/Mvc.Core/src/Diagnostics/MvcDiagnostics.cs#L527-530
that
[code]
should probably be
[code]
all other EventData derived classes index the constructor parameters, this was the only one that was different (copy p

[2020-03-12 09:58] eisendle commented on #19759
The above mentioned code snippet doesn't work. After a lot of tinkering this works partially for me:
[code]

However the fallback for "/ui/App1" to index.html isn't working.
Using the default Blazor WASM template I've tried multiple things:

[code]
[code]

[code]

None of the above mentioned attempts does the trick, maybe I'm missing something

From a documentation point of view, there should be a

[2020-03-12 10:03] javiercn commented on #19792
@rjvdboon thanks for contacting us.

This looks like an issue. I think we would take a fix this if you are interested in sending a PR.

@pranavkm  do you have any other thoughts?

[2020-03-12 10:04] javiercn commented on #19791
@sylvainonweb thanks for contacting us.

@NTaylorMullen @ajaybhargavb @ryanbrandenburg can you follow up here?

[2020-03-12 10:27] javiercn commented on #19790
@DanielFawcett thanks for contacting us.

It is likely you still have the response compression middleware plugged in in your Configure method. Remove that and you should be good.

[2020-03-12 11:06] michaelmualem commented on #19528
I have built Microsoft.AspNetCore.Mvc.ViewFeatures as well and added it to my source directory.
Microsoft.AspNetCore.Mvc.NewtonsoftJson did resolved but Microsoft.AspNetCore.Authentication.JwtBearer did not.
still the same error.... do I miss another dependency ?

[2020-03-12 11:38] isvander opened #19793 "Blazor server through web proxy"
Dear NetCore Team,
got an error on blazor server version when connection through web proxy/vpn,
my guess is there's an issue with Blazor when handling SignalR and/or my web proxy configuration

here's error log generated from console log:

blazor.server.js:1 Uncaught (in promise) TypeError: Cannot read property 'writeMessage' of undefined
    at new e (blazor.server.js:1)
    at Function.e.create

[2020-03-12 12:06] sylvainonweb commented on #19791
I add an image as an attachment to let you see that no error occurs
![1](https://user-images.githubusercontent.com/37140661/76519960-395a1900-6462-11ea-873a-3f25fac5e030.png)

[2020-03-12 12:23] javiercn commented on #19787
Thanks for filing the issue @KeithBarrows.

I think there's an issue in the configuration/definition for your scenario. I'm not entirely sure of the specifics of what you are trying to achieve, so I laid out below the two scenarios I can think of and how to decide what/when to use one or the other.

When authenticating and authorizing a hosted Blazor app with a third party provider, there are seve

[2020-03-12 12:31] akiander commented on #19555
I'll work on getting a runnable sample I can upload - it might be a few days given my current workload. Just have to carve out the portions of the site that are confidential.

[2020-03-12 12:43] javiercn commented on #19787
The specific issue you are having is that it looks like you are trying to implement the 2nd scenario, but you are trying to redirect to the Blazor webassembly app callback url instead of the callback url on the server (/signin-oauth or similar I presume).

What's happening is something like this:
`/authentication/login` -> `/connect/authorize` -> `/Identity/Account/Login` -> `https://login.eveonli

[2020-03-12 12:50] javiercn commented on #19787
Here's the link to the docs https://github.com/dotnet/AspNetCore.Docs/issues/17288

[2020-03-12 13:09] allanwei opened #19794 "Install blazorwasm failure"
### Describe the bug
Run "dotnet new --install Microsoft.AspNetCore.Components.WebAssembly.Templates::3.2.0-preview2.20160.5" to install webassembly.
The result is template not installed. Run "dotnet new --help" the blazorwasm not in the list.

### To Reproduce

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
C:\Work_2017\blazor>dotnet --info
.NET Core

[2020-03-12 13:25] IanKemp commented on #9337
I'm with the other people in this thread calling for a special-case exemption for logging: it's absolutely necessary. The fact that this apparently wasn't considered at all during Core 3.0 dev is absolutely bizarre, in my opinion.

I understand the rationale behind not doing it, and the hoops that @MV10 jumped through to make a usable workaround that doesn't break everything shows how difficult it

[2020-03-12 13:28] javiercn commented on #19794
@allanwei thanks for contacting us.

Can you provide more details on what error are you seeing? (if any)

There are a few things you can try. Run `dotnet new --debug:reinit`, this should reset your templates to the out of the box experience (you might loose some templates if you installed)

Remove the template engine folder in `~/.templateengine` this will force the template engine to initialize i

[2020-03-12 13:33] allanwei commented on #19794
I tried:
C:\Work_2017\blazor>dotnet new --debug:reinit

C:\Work_2017\blazor>dotnet new --install Microsoft.AspNetCore.Components.WebAssembly.Templates::3.2.0-preview2.20160.5
Getting ready...

Usage: new [options]

Options:
  -h, --help          Displays help for this command.
  -l, --list          Lists templates containing the specified name. If no name is specified, lists all templates.
  -n, -

[2020-03-12 13:36] allanwei commented on #19794
there is no error message

[2020-03-12 13:51] javiercn commented on #19794
@allanwei I would suggest you cleanup your `~/.templateengine` folder and try again or follow file an issue in [dotnet/sdk](https://github.com/dotnet/sdk) to see if they can help you determine why the template is not being installed correctly.

[2020-03-12 13:52] javiercn commented on #19793
@isvander thanks for contacting us.

@anurse this seems to be a question specific to signalr ultimately, do you have any ideas/thoughts on what to ask/try here?

[2020-03-12 14:01] javiercn commented on #19775
@chanan thanks for contacting us.

It is likely that what's going on here is that when you upload the output is transforming the LF into CRLF or viceversa.

I suggest you add a .gitattributes file to the source folder with `autocrlf=false` to prevent the automatic conversion for the lines

[2020-03-12 14:13] rnielikki commented on #19261
I found the JsonException is thrown when received data is empty. I tested with EF Core,
When the empty DB result (null) is passed to controller, the controller returns 204 (No content) as result. 204 is in the 2xx range so it doesn't throw error [in this line](https://github.com/dotnet/aspnetcore/blob/01c1d0613ec40c6bc12bdbdebfe7b03bd878868a/src/Components/Blazor/Http/src/HttpClientJsonExtensions.

[2020-03-12 14:13] mihaimyh opened #19795 "[Blazor-WASM 3.2 Preview 2] Separate UI from hosting model"
Until wasm 3.2 preview 2 I was able to extract the UI part into a separate razor class library and reference it in the Wasm client.

Today I am unable to upgrade my projects to this preview because of this aspect:

`Duplicate base paths '/' for content root paths 'D:\user\gitRepos\BlazorApp1\UI\wwwroot\' and 'D:\user\gitRepos\BlazorApp1\BlazorApp1\Client\bin\Debug\netstandard2.1\wwwroot\'. ('D:\us

[2020-03-12 14:18] SteveSandersonMS opened #19796 "Git's CRLF transformations interfere with content hashes"
Originally reported as https://github.com/dotnet/aspnetcore/issues/19775, but the issue is slightly more general than that so I'll rephrase it.

**Problem**: If you use Git [1] as a way of transferring build output to your production server, and the production server has different newline conventions from the build server [2], then content hashes in text files (such as `blazor.webassembly.*.js`) w

[2020-03-12 14:21] dazinator commented on #9337
To echo @IanKemp, and add some info, there is nothing stopping us right now from initialising logging early (creating an ILoggerProvider instance, be that console, serilog etc) immediately in program main, and using that to create an `ILogger` instance and log with right away in Program.cs. This is great to catch and log host startup errors- just remember to dispose of ILoggerProvider in a finally

[2020-03-12 14:30] SteveSandersonMS commented on #19796
Just in case anyone's about to suggest it, here's a solution that *wouldn't* work:

**Change blazor.*.js in our packages to *nix-style line endings**

If we knew for sure that you'd be deploying to Linux, we would benefit from having blazor.*.js use *nix-style line endings even on Windows because then it would just work. However that's just moving the problem, because if you now deploy to a Window

[2020-03-12 14:35] SteveSandersonMS commented on #19775
Closing as a duplicate of https://github.com/dotnet/aspnetcore/issues/19796, since that one now has more info. Thanks for reporting this, @chanan!

[2020-03-12 14:35] #19775 closed

[2020-03-12 14:49] chucker commented on #19796
Blazor generating a `.gitattributes` smells like an unexpected layering violation to me.

---

So, if I'm reading this correctly, the (flawed) flow is:

1. development machine produces hashes for files
2. development machine pushes the result, _including_ those hashes, to the remote git
3. production machine has different linebreak convention; thus, the hashes are wrong
4. in this scenario, produc

[2020-03-12 14:50] chanan commented on #19796
@SteveSandersonMS I have not been able to get this solution to work.

I added `autocrlf=false` to my `.gitattributes` and after that did nothing I commented out: `* text=auto` which was created automatically by VS I think.

Before commenting out `* text=auto` nothing changed. Once I commented that out I got an email from github:

[code]

Now when I go to the site I get in the console:

[code]

I a

[2020-03-12 15:10] mjenzen commented on #17999
A different, perhaps more direct to the issue workaround (albeit, requiring more code copy/pasting) is to override the implementation of ValidationProblemDetailsJsonConverter.

The issue here seems to be that the Errors dictionary is manually being serialized within this converter and the property names are written directly to the writer without going though the JsonSerializer.  This manual dictio

[2020-03-12 15:25] mkArtakMSFT commented on #19795
Thanks for contacting us, @mihaimyh.
@javiercn can you please look into this? Thanks!

[2020-03-12 15:26] jspuij commented on #19796
@chanan autocrlf is for the git configuration, not for gitattributes.

`* binary`

would probably work for github pages. But do not use this in a source code repo, as line handling is a good thing.

[2020-03-12 15:28] SteveSandersonMS commented on #19796
It's perfectly reasonable to use it in the directory containing your publish output, since that exists only as a way of transferring the content to your production server. The files in that directory are not meant to be edited; they are just emitted by the build system.

[2020-03-12 15:30] chanan commented on #19796
@SteveSandersonMS Are you saying I should have a different gitattributes in the root and one in the /Docs?

[2020-03-12 15:31] jspuij commented on #19796
That's what I meant. Could have clarified that. Gitattributes supports patterns, so you could exclude directory from the root .gitattributes file, or just nest gitattributes files inside the repo structure.

[2020-03-12 15:31] anurse commented on #19793
I'm not clear where this relates to SignalR. Certainly there *can* be considerations to make when running SignalR behind a proxy but I would expect network errors, not JavaScript syntax/semantic errors.

[2020-03-12 15:32] javiercn commented on #19795
@mihaimyh It looks like you are using a preview version of an SDk. Can you create a globa.json file at the top of your solution folder and point it to the 3.1.102 sdk with `dotnet new globaljson --sdk-version 3.1.102` after that you should have no problem.

Let us know if you still run into issues and provide a minimal repro project if that is the case. You might need to close and open visual stud

[2020-03-12 15:33] akiander commented on #19555
Update on this ... even when running out-of-process, we just saw this web application fail on one of the two web servers. Looking closer, I see this error logged:

[code]

Checking process explorer on the other web server, the thread count is pretty high (approx. 1300) so I took a minidump and checked the parallel stacks window in Visual Studio and I'm seeing most of the threads _seem_ to be relat

[2020-03-12 15:40] chanan commented on #19796
Tried this. I put back the main gitattrbutes to the way it was before. Added a .gitattributes with the autocrlf in the /Docs - reuploaded the _framework folder.

Again I got an the same email from github that I pasted above. Still getting the 404 that I pasted in the same comment: https://github.com/dotnet/aspnetcore/issues/19796#issuecomment-598230931

End result: still not working

[2020-03-12 15:41] anurse commented on #19555
Do you have any places where you are doing blocking calls (like `Task.Result`, `Task.Wait`, `.GetAwaiter().GetResult()`) in async code paths? That's a very common cause of thread-pool starvation. I'd also suggest checking our [Performance Best Practices doc](https://docs.microsoft.com/en-us/aspnet/core/performance/performance-best-practices?view=aspnetcore-3.1)

[2020-03-12 15:44] davidfowl commented on #9337
Sounds like you're suggesting the templates change to do this.

This requires some more thought but it might work if we do something hacky like try to detect an existing ILoggerProvider. There are still 2 DI containers in this universe so for example, you'd need to make sure to configure options for logging in the right place as the streams don't cross.

This sounds reasonable and it's something w

[2020-03-12 15:47] campersau commented on #19796
@chanan the `_framework` folder got deleted in https://github.com/chanan/BlazorTypography/commit/3f26aa4e897dd0286149b836ab57b7df8eac9de8

[2020-03-12 15:50] chanan commented on #19796
Sorry, you are right, forgot to push... it's there now, same result.

[2020-03-12 15:55] jspuij commented on #19796
use * binary

autocrlf is for .gitconfig files.

[2020-03-12 15:56] jspuij commented on #19796
also, you have to probably delete and recommit the blazor.webassembly.js file.

[2020-03-12 15:57] chanan commented on #19796
The original is in javascript files, aren't they text files?

Yes, I delete the whole _framework folder and upload every time

[2020-03-12 15:58] BrennanConroy commented on #19793
This isn't a syntax error. That's a runtime error.

I would guess that either @isvander has misconfigured their app to somehow overwrite the protocol being used with some odd `fgt_sslvpn` type, or they are bringing in a module that's overwriting global properties.

We would need a sample app to see what is going on.

[2020-03-12 15:58] luposky commented on #19759
yes, it's a way too complex to guess the appropriate configuration without any docs or example ...

here it is my working solution: https://github.com/luposky/TestBlazorPath

it's the basic example from wasm template with these modifications:
https://github.com/luposky/TestBlazorPath/commit/6e01f2dbea3955789f24c44fb55e9c78783e6b87

please review and share if it working in your scenario (you need t

[2020-03-12 16:00] stanac commented on #19790
@javiercn @DanielFawcett

Had the same issue, can confirm, removing `services.AddResponseCompression` and `app.UseResponseCompression` from `ConfigureServices` and `Configure` app resolves the issue

[2020-03-12 16:01] chanan commented on #19796
@jspuij @SteveSandersonMS This worked: https://github.com/dotnet/aspnetcore/issues/19796#issuecomment-598266167

To sum up:

1.  Leave .gitattributes in the main folder as is
2. In the docs folder add a .gitattributes with `* binary`

[2020-03-12 16:04] chanan commented on #19775
Just in case anyone finds this issue. The above doesn't work. This does: https://github.com/dotnet/aspnetcore/issues/19796#issuecomment-598269333

[2020-03-12 16:15] #19348 closed

[2020-03-12 16:15] #19466 closed

[2020-03-12 16:15] #19480 closed

[2020-03-12 16:16] #19594 closed

[2020-03-12 16:17] javiercn commented on #19637
I would check this https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-3.1

[2020-03-12 16:18] #19637 closed

[2020-03-12 16:19] javiercn commented on #19647
@AlexCorona55 can you provide a minimal repro project so that we can help you out?

[2020-03-12 16:19] #19744 closed

[2020-03-12 16:24] dannypc1628 commented on #19467
I'm having the exact same problem, too.
My classmate say "Install .NET Core SDK  3.1.102，it is including 3.1.2 Runtime."

我有一樣的問題。結果，社團朋友說我只是沒安裝SDK  3.1.102。

[2020-03-12 16:33] SteveSandersonMS commented on #19796
Step 3: Run `git add --renormalize .` if you've just added changed the `.gitattributes` file.

It works for me by the way: https://stevesandersonms.github.io/TestGithubPages/

[2020-03-12 16:36] chanan commented on #19796
I did it the stupid way of deleting _framework and re-uploading - but yes that would better :)

[2020-03-12 16:38] NickCraver commented on #19782
@blowdart We are no-caching the private pages (e.g. Teams) for privacy reasons already due to proxy concerns, but for example `users/current` which redirects to your profile as a handy link: that no-cached before due to `private`. In .NET Core it default breaks. It was so automatic for a decade, we just haven't though much of it. Based on conversations the past few days, I bet a lot of people have

[2020-03-12 16:46] mkArtakMSFT commented on #19790
Thanks for contacting us. We're closing this per the answers provided above.

[2020-03-12 16:46] #19790 closed

[2020-03-12 16:51] SteveSandersonMS commented on #19776
It's not currently supported. This is tracked by https://github.com/dotnet/aspnetcore/issues/5519, so closing as duplicate.

[2020-03-12 16:51] #19776 closed

[2020-03-12 16:53] kant2002 opened #19799 "Broken Publish of Blazor app"
### Describe the bug
Clean publish broken. I have somewhat similar issue after build in CI, but this is simplest reproduction case.

[code]

If everything start working, just clean bin/obj manually.

### To Reproduce
1. `dotnet new blazorwasm --hosted -o BlazorIssue`
2. `cd BlazorIssue`
3. Modify Client by including `<BlazorWebAssemblyEnableLinking>false</BlazorWebAssemblyEnableLinking`
4. `cd Ser

[2020-03-12 16:53] mkArtakMSFT commented on #19768
While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2020-03-12 16:55] mkArtakMSFT commented on #11725
@karelz the expectation here was to treat this as a feedback for the now-coming HttpClient JSON extensions. We're closing this issue here. @BenjaminCharlton please wait for the new library from the runtime team and if you see this is missing there, file a new issue in dotnet/runtime repo.

[2020-03-12 16:55] #11725 closed

[2020-03-12 16:55] mrlife commented on #19776
@SteveSandersonMS I understand. The https://github.com/dotnet/aspnetcore/issues/5519 hasn't been updated with a status for almost 2 years. Possible to provide an update there?

[2020-03-12 16:57] mkArtakMSFT commented on #19761
@NTaylorMullen this seems to be a known issue.

[2020-03-12 16:58] mkArtakMSFT commented on #19736
Thanks Taylor. I'll follow up.

[2020-03-12 17:01] pranavkm commented on #19784
@SteveSandersonMS the issue reproduces by changing https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Components/Web.JS/src/Platform/Mono/MonoPlatform.ts#L107 and running this test: https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Components/test/E2ETest/Tests/ComponentRenderingTest.cs#L600. This [assertion fails](https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Components

[2020-03-12 17:13] AlexCorona55 commented on #19647
Hi @javiercn, right now I'm not working in that project because "priority", but I'll try to do it on my free time. The last time, i detect a problem with my HttpMessageHanlders. When i route to the problematic component, the HttpClient pipeline start and throw an exception when the Handlers catch the HttpRequest. But as i said, i was not able to see the problem for the lack of time. I hope i can c

[2020-03-12 17:37] rxelizondo opened #19800 "Blazor templates not showing up correctly."
I am currently running Visual Studio 16.5.5 Preview 5 with the latest version of .NET Core SDK (dotnet --version => 3.1.200-preview-015002). I installed the latest Blazor WebAssembly template as instructed on the release [blog](https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-2-release-now-available/).

The problem is that when I try to create a new Blazor project using the V

[2020-03-12 17:42] mrlife commented on #19776
@SteveSandersonMS I see, thank you. The https://github.com/dotnet/aspnetcore/issues/5519 hasn't been updated with a status for almost 2 years. Possible to provide an update there?

[2020-03-12 17:56] xantari commented on #17640
Related: https://github.com/dotnet/extensions/issues/741

[2020-03-12 18:20] wfurt commented on #19590
You can find PID of `securityd` process and run `log stream --process <PID>` . That should provide additional insight into what is going on at OS level.  (systemd is the processed managing access to KeyChain items)
Also, this may be counterintuitive but it matters if 'dotnet' is self comes from 3.1 or not. (as all versions override same binary so sequence matters and list of available sdks is only

[2020-03-12 18:24] perason commented on #19773
I will provide a minimal repro, though when it comes to profiling, as you can read in another issue I posted, [profiler-application-timeline](https://developercommunity.visualstudio.com/content/problem/942191/performance-profiler-application-timeline-and-inst.html), I can't produce any such data.

Do you have a fix for that?

[2020-03-12 18:38] #18675 closed

[2020-03-12 18:38] pranavkm opened #19802 "Verify config support for Blazor wasm"
Verification for https://github.com/dotnet/aspnetcore/issues/18675

[2020-03-12 18:42] javiercn opened #19803 "[Https][Mac OS] Switch to use security import to insert the certificate on the login keychain"
* We currently use the certificate store APIs to insert the HTTPS development certificate into the certificate store, but that doesn't work very well with Mac OS Catalina and requires us to run an additional command to make the certificate accessible across security partitions.
  * That's problematic because this command is not very reliable in many cases.
  * We discussed an alternative approach

[2020-03-12 19:06] NTaylorMullen opened #19804 "Feature switch hover support in VS scenarios"
Today VS doesn't support markdown in hover results. We need to be responding to the act of being created in a VS scenario and change how we generate hover results.

[2020-03-12 19:09] NTaylorMullen opened #19805 "Feature switch completion support in VS scenarios"
Today VS doesn't support snippet's in completion items. Our TagHelper completions utilize these in order to fill in attribute values. For instance in VSCode when you complete an attribute we generate `value="|"` by using something called snippet completions. VS doesn't support this so you end up with a whole bunch of garbage spit out to the editor. We need to not generate snippet completions if th

[2020-03-12 19:12] NTaylorMullen commented on #19761
Ya we thought we fixed this for the current editor with projections but turns out maybe we didn't? @mrpmorris what VS version are you seeing this on?

[2020-03-12 19:19] anurse opened #19806 "[Discussion] Migrating dotnet/extensions content to dotnet/runtime and dotnet/aspnetcore"
*This is the discussion thread for https://github.com/aspnet/Announcements/issues/411*

As part of the [ongoing repository consolidation effort](https://github.com/dotnet/announcements/issues/119) in .NET 5, we are working to move most of the content from dotnet/extensions into other repositories. Most of these packages were developed by and are currently maintained by the ASP.NET team. However, m

[2020-03-12 19:31] kevinchalet commented on #19806
We do not plan to reduce the set of frameworks these packages can be used on as part of this migration. If they currently support .NET Standard, we have no plans to change that.

Excellent news, thanks for keeping the .NET Standard/.NET Framework support intact! 👏

[2020-03-12 19:51] dazinator opened #19807 "Encourage Initialization of Logging Early"
### Encourage early initialization of logging /  ILoggerProvider from program.cs

The current templates, and the way logging is advocated, results in logging not being able to be used until after the DI container has been built and an ILogger can then be resolved from it. This is very late in the process and it means a whole swathe of startup issues can occur right from the entry point in program.

[2020-03-12 19:52] ajaybhargavb opened #19808 "Add Html tag auto-completion to VS LSP Razor editor"
After https://github.com/dotnet/aspnetcore/issues/17800, we'll have completion suggestions for start tags but completing them won't automatically insert the end tag.

That work needs to happen through an onTypeFormattingRequest.

[2020-03-12 20:03] dazinator opened #19809 "Startup class activation allow additional params"
### Startup classes cannot be activated with additional constructor params

When using a startup class, suppose I want my constructor to have some arbitrary additional parameters- like an ILogger, or an IOptions object. At the moment this is not allowed because the host builder doesnt know how to satisfy those additional constructor parameters when it activates the startup class. However in other

[2020-03-12 20:05] dazinator commented on #9337
@davidfowl ok, have created #19807 and #19809

[2020-03-12 20:06] NTaylorMullen opened #19810 "Insert Razor's LSP embedded grammars into core-vs"
Including our Razor grammars into core VS will enable 0 workload clients in LiveShare/cloud scenarios to provide colorization for Razor files.

@gundermanc would you mind helping out with how to do this?

[2020-03-12 20:08] ajcvickers commented on #19757
@javiercn No. DataTable is not EF. https://github.com/dotnet/runtime is the correct place.

[2020-03-12 20:28] gundermanc commented on #19810
Should be as simple as sending a PR to the VS-Platform: https://devdiv.visualstudio.com/DevDiv/_git/VS-Platform?path=%2Fsrc%2FEditor%2FTextMate%2FVSWindows%2FSetup%2FStarterkit%2FExtensions&version=GBmaster&_a=contents

@olegtk FYI, as he's doing some refactoring in this area.

[2020-03-12 21:04] olegtk commented on #19810
I haven't migrated TextMate yet, it's still at https://dev.azure.com/mseng/VSIDEProj/_git/VSIDEProj.CommonEditor?path=%2FTMLanguage-VSExtension%2FVSWindows%2FSetup%2FStarterkit%2FExtensions

[2020-03-12 21:15] gundermanc commented on #19810
In that case, @NTaylorMullen, best bet is to contribute to the original repo and work with us to get the changes inserted and we'll migrate it when we complete the refactor.

[2020-03-12 21:16] KeithBarrows commented on #19787
And your answers, while great, are where I am having my moment of confusion.  i.e.:  Every sample I have found tends to jump over the "obvious to you" parts of the setup process.  Yes, the 2nd scenario is what I am trying to achieve in a POC.  However, the first scenario fits over 95% of my use cases.  I only have 2 (right now) actions that require a central server I have control over.  That being

[2020-03-12 21:46] vijayrkn commented on #19736
Is there a sample project that I can try?

[2020-03-12 22:18] xrkolovos commented on #9035
Can we use this with 3.2 preview 2? Is there any docs about it?

[2020-03-12 22:24] pranavkm commented on #17071
Automation works: https://github.com/dotnet/core-sdk/pull/6794!

[2020-03-12 22:29] MitchellNZ opened #19812 "[Blazor-WASM 3.2 Preview 2] Check Authentication State in App.razor"
**Background**
--
I have a public home page than anyone can access, but I would also like to check if the user is currently logged in when they access the page of the first time, as this check drives what the user can see on the navigation menu.

I have recently upgrade to 3.2 Preview 2 and implemented the new auth provided (thank you for this!), which is all working well.

**Problem**
--
However,

[2020-03-12 22:30] KirillOsenkov opened #19813 "ObjectDisposedException in DefaultProjectWorkspaceStateGenerator.cs:77"
VSMac (8.5 build 3129), saw this in the customer logs:

Should we check for whether token was disposed??

https://github.com/dotnet/aspnetcore-tooling/blob/783bfb534322a8a344d13c5c08d2d3b742ecf365/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/DefaultProjectWorkspaceStateGenerator.cs#L77

[code]

[2020-03-12 22:36] antonioortizpola commented on #17999
That is great @mjenzen, I am hitting some cases where the deserialization is wrong, this could be a step in the right direction. For my part I have already returned to newtonsoft, system.text does not seem ready for production environments yet

[2020-03-12 22:39] julitogtu opened #19814 "Error: System.ArgumentException: There is no renderer with ID 0. Blazor webassembly"
I just update my app to Blazor WebAssembly preview 2, but now I'm getting the following error:
[code]

I do not have any real logic there, no call to IJSruntime, this is a basic form with two fields or any other javascript code, no custom code on init methods.

BTW, with previous version (blazor preview 1) it was working good.

### Further technical details
- Net core version: 3.1.200-preview-0150

[2020-03-12 22:49] TanayParikh opened #19815 "Handle Empty Start/End Combination with Markup Transition Completion"
This bug is for an rare edge case pointed out by @ajaybhargavb.

[code]

As both the start and end tags are blank, but fully written, they are in the syntax tree as two separate nodes. Consequently, a suggestion isn't provided as the language server interprets this as being in the Markup/HTML scope instead of the C# scope.

@ajaybhargavb's comment:

Example,

https://github.com/dotnet/aspnetcore-t

[2020-03-12 22:53] ANahr opened #19816 "Remove Microsoft.AspNetCore.SpaServices.Extensions dependency on Microsoft.AspNetCore.SpaServices"
There was already an issue for removing Microsoft.AspNetCore.SpaServices.Extensions dependency on Microsoft.AspNetCore.SpaServices #11627.

That issue was closed as fixed. However when having a look at https://www.nuget.org/packages/Microsoft.AspNetCore.SpaServices.Extensions/ you can see that this does not seem to be the case.

[2020-03-12 23:09] chucker commented on #9035
@xrkolovos this issue is about VS debug integration. [The roadmap still lists it](https://docs.microsoft.com/en-us/visualstudio/productinfo/vs-roadmap#web-tools) for "through June 2020"

Presumably, this requires a new **VS** preview, not just a Blazor update.

[2020-03-12 23:10] epignosisx commented on #19806
While I understand the motivation and the rationale behind the package split, this is going to make it harder for people to find the source code of a particular package or create an issue. Particularly for packages related to Configuration where some go to the runtime repo, others go to the aspnetcore repo and others stay in the extensions repo.

May I suggest adding to the readme of the extension

[2020-03-13 00:28] DamianEdwards opened #19818 "Blazor Server template sidebar nav can show in expanded state on browser resize"
The Blazor Server template has a rendering logic bug that results in the sidebar nav sometimes showing in its expanded state when the browser is resized to a size small enough to trigger the rendering of the menu in the top-right location (mobile-friendly mode). Seems to be caused by the fact the menu is "toggled" every time anything in it is clicked. Seems it should only be toggled if navigation

[2020-03-13 00:51] jeffreyrivor commented on #16960
@gerardfoley: Yes it is definitely the ambient values behavior change after the switch to endpoint routing.

@oliverw: I've worked around needing to inject the culture in each caller that is associated with a `HttpContext` by adding a [decorator class](https://greatrexpectations.com/2018/10/25/decorators-in-net-core-with-dependency-injection) around the default `LinkGenerator` that's added to the

[2020-03-13 01:01] yopez83 opened #19820 "How to send object from a component to another"
### Goal
I have a component A which has an object I want to send to component B

### Should I use
- Route?
- AppState pattern?

When it comes to routing all information I found refers to passing either ```string``` or ```int```. In MVC I was able to pass objects as parameters with no problem.

[2020-03-13 02:38] isvander commented on #19793
thanks everyone and @BrennanConroy for heads up , actually i'm ask here to find some clue whats happen is going on too, i'll be be back and open issue with more information later then

[2020-03-13 02:38] #19793 closed

[2020-03-13 03:23] hez2010 opened #19821 "[Feature Request] SAML client and IdP support"
### Feature request
Built-in SAML client and IdP support

### Describe the solution you'd like
ASP.NET Core currently has bulit-in OAuth support for API authentication, however, OAuth is not very suitable for a general SSO identity provider which is used to share user identities between apps.

Hope that ASP.NET Core can provide built-in SAML support, both for client and identity provider.

[2020-03-13 03:24] mkArtakMSFT commented on #19820
Thanks for contacting us.
Is your question regarding Blazor WASM or Blazor Server?

[2020-03-13 03:28] mkArtakMSFT commented on #19820
In case of Blazor WASM, if components are not in parent-child relationship, consider using a service for communication. Register it in DI and add inject it into both components.
As an example, you can then expose two `GetState` and `SetState` APIs on that service, which you can use to transfer information between components. This will also work for parent-child relationship situations, but there a

[2020-03-13 03:28] #19820 closed

[2020-03-13 03:30] mkArtakMSFT commented on #19813
Thanks @KirillOsenkov.
@NTaylorMullen can you please have a look at this? Thanks!

[2020-03-13 03:35] mkArtakMSFT commented on #19800
Thanks for contacting us, @rxelizondo.
@danroth27 I'm wondering whether the template package rename had some impact here. What will happen if customers had the old template installed and now they have also installed the new one?

@rxelizondo can you try to remove all blazor templates, and reinstall the latest one? Please note, that the old one had a different package name.

[2020-03-13 03:40] rxelizondo commented on #19800
@mkArtakMSFT I would be happy to remove the old template and reinstall the new one but I am not sure how to do that. Would you mind sharing basic instructions on how to delete the old template?

Thanks.

[2020-03-13 03:45] zr00130 opened #19822 "[Blazor WASM] PWA Wrong Hash for win-x64"
### Describe the bug
I generated a project from the latest preview2 template (Microsoft.AspNetCore.Components.WebAssembly.Templates::3.2.0-preview2.20160.5) project using the PWA setting. After publishing using a FileSystem publish, the SHA-256 hashes generated for the DLLs in the service-worker-assets.js file do not match when running against the file itself. This produces errors in the browser w

[2020-03-13 03:48] #19650 closed

[2020-03-13 03:50] danroth27 commented on #19800
Hi @rxelizondo. Do you by any chance have the old Blazor Visual Studio extension installed? If you do, you should uninstall it from the Extensions menu in VS.

On the command-line you can uninstall templates by first running `dotnet new -u` to see the template packs you have installed and then running `dotnet new -u {PACKAGEID}` for the template packs you want to uninstall. Try uninstalling all Bl

[2020-03-13 03:52] John0King commented on #19806
Agree with @epignosisx  ,  I suggest add more specific git repository path to nuget.org , so we can find thire source code  by just click the  "Source repository" link

[2020-03-13 04:22] rxelizondo commented on #19800
@danroth27

I executed the command `dotnet new -u` and got the following:

[code]

I deleted all the templates that had the word  `Blazor `on them, these templates were:

- NuGetPackageId: Microsoft.DotNet.Web.ProjectTemplates.3.1
- NuGetPackageId: Microsoft.AspNetCore.Components.WebAssembly.Templates

I also deleted all the entries under the `/Users/{USER}/.templateengine/vs` folder.

To make sur

[2020-03-13 04:46] danroth27 commented on #19800
Oh, the Microsoft.DotNet.Web.ProjectTemplates.3.1 template pack contains the Blazor Server template which is part of SDK. You should do a repair on your SDK and it should come back.

Did you check if you have the old Blazor Visual Studio extension installed? You should be able to search through your installed VS extensions for "Blazor" and see if anything shows up.

Could you please also share the

[2020-03-13 04:46] NTaylorMullen commented on #19813
@KirillOsenkov Honestly not sure how this is possible given the assumption that the foreground thread is single threaded since we never dispose of our `DefaultProjectWorkspaceStateGenerator` but i'll add some extra defensive code to ensure this can't happen.

[2020-03-13 04:49] danroth27 commented on #19800
I think what's most likely happening here is you have an older SDK installed that has an older version of the Blazor template pack installed. I would go through your SDK versions and what Blazor WebAssembly templates they have installed if any and just remove them.

Also, when you create a Blazor WebAssembly project from VS be sure to select .NET Core 3.1 from the dropdown in the "Create a new Bla

[2020-03-13 05:24] rxelizondo commented on #19800
Aggg, I totally missed checking to see if there was a Blazor extension installed in VS, turns out that I did have a Blazor extensions installed and after deleting it and reinstalling the SDK everything appears to be working fine.'

Thanks you very, very, very much for you help!

[2020-03-13 05:24] #19800 closed

[2020-03-13 05:47] #18526 closed

[2020-03-13 06:50] mihaimyh commented on #19795
@javiercn Thank you, adding sdk 3.1.102 and other tweaks made it work again.

[2020-03-13 06:50] #19795 closed

[2020-03-13 07:12] Justina2711 commented on #19760
@javiercn We have tried to upgrade our solution from 2.2 to 3.1 still the claim values are becoming empty when it is deployed to IIS after a period of time.

[2020-03-13 07:17] mrpmorris commented on #19796
Can you replace `#13#10` with `#10` in memory when computing the hash? Then it doesn't matter how it is stored.

[2020-03-13 07:40] wu-yafeng opened #19823 "Add action-base concurrency limit support"
I'm trying to limit concurrency request in my action `OrdersController.Get` but concurrency limiter middleware only support global.

### Describe the solution you'd like

In controller
[code]

In startup

[code]

[2020-03-13 07:57] tjackadams commented on #19561
I am experiencing the same issue.

**Visual Studio:** 16.4.6
**dot net sdk:** 3.1.102

The project was created with the blazor wasm 3.2.0-preview2.20160.5 template.

Here is the build output:

[code]

Seems to be complaining about the `System.Interactive.Async` package.

The project can be found here https://github.com/tjackadams/ContosoUniversity-Blazor
Adding `<BlazorWebAssemblyEnableLinking>fal

[2020-03-13 08:16] eisendle commented on #19759
@luposky

Thanks, it's now working for my scenario too. Problem was the leading slash in variant two in my above comment.

[2020-03-13 08:29] MarcoRossignoli commented on #19806
Why not move `Microsoft.Extensions.ObjectPool` to runtime?Seem a reusable by all kind of apps.

[2020-03-13 08:56] julienGrd commented on #19768
Oh yes sure, i just pointed out that in a particular case the server project is published with missing dll (the dll that are already included in the client project, in the previous version all the dll was both copied in the server and client project).

For my two others questions i will open others issues here, i think its someting expected by the community and its advanced/specific scenario : the

[2020-03-13 08:58] julienGrd commented on #19799
seem related to my issue, the dll already included in the client are not copy in the server app

https://github.com/dotnet/aspnetcore/issues/19768

[2020-03-13 09:20] julienGrd commented on #19768
important thing : the dll are not copied **only** if BlazorWebAssemblyEnableLinking is set to false, otherwise everything works greate.

[2020-03-13 09:24] mrpmorris commented on #19761
This is what it does in 16.5.0 Preview 5.0.

It pushes the code up to the previous line and does not include the `protected` keyword.

[Screen capture](https://blazor-university.com/wp-content/uploads/2020/03/ezgif-1-8f0bd6150da2.gif)

[2020-03-13 09:33] julienGrd opened #19824 "[Question] Dual/Multi Mode Strategy for blazor"
Hello guys, i have architecture related question about the best/recommanded way to make a blazor project working as well as webassembly and server mode.
- When i began my project, i based my architecture on the daniel roth project : https://github.com/danroth27/BlazorDualMode. I'm still on this architecture, it still working but im really afraid one day after an update it will not work.
- ideally,

[2020-03-13 09:35] chucker commented on #19796
@mrpmorris the way I understand the scenario, both the hash and the asset it's referring to are served statically, so there is no replacing things in memory.

[2020-03-13 09:41] chainchung commented on #19467
https://aka.ms/dotnet-core-applaunch?framework=Microsoft.NETCore.App&framework_version=3.1.2&arch=x64&rid=win10-x64

download & Install the .NET Core Desktop Runtime. can fix this issue

[2020-03-13 09:49] julienGrd opened #19825 "[Question] Advance publish scenario - deal with central dll repository"
Hello guys, I wanted to know is there is a way to make my .NET core app working by taking their dll in another directory.
Typically When i deploy  my .net core server app  which a render a webassembly app, i have a lot of dll in common between these two projects. It make the bundle of file really heavy (70 Mb in my case).
I try to make some script to deploy my apps without the dlls and deal with t

[2020-03-13 09:49] tobbi commented on #19736
After updating to Blazor WASM 3.2 Preview 2 and doing the necessary upgrade steps, the issue *appears* to be fixed. I don't know whether I have time to backtrace my steps.

[2020-03-13 09:52] kant2002 commented on #19768
I can confirm that issue happens on Blazor Preview 2 and 3.1.2 SDK . I create repro care in #19799 but initially I have this issue. Library which was not copied in my case was Microsoft.AspNetCore.Components.WebAssembly

[2020-03-13 10:02] rudiv commented on #13435
+1 for this, having to pull out the client from the list feels a little wrong, although necessary to take additional configuration steps.

[2020-03-13 10:29] javiercn commented on #19561
@Brainykat can you fix your SDK version to 3.1.102 and try again?

Add a global.json with dotnet new global.json --sdk-version 3.1.102 to the root of your solution, close and open VS and try again.

SDK version 3.1.200-preview-015002

[2020-03-13 10:32] javiercn commented on #19787
This clearly indicates to me that their endpoint doesn't support CORS and that as a result the app is failing to even get the metadata document.

[2020-03-13 10:40] SteveSandersonMS commented on #19144
Done in #19767

[2020-03-13 10:40] #19144 closed

[2020-03-13 10:41] SteveSandersonMS commented on #19702
Done in #19767

[2020-03-13 10:41] #19702 closed

[2020-03-13 10:41] SteveSandersonMS commented on #19533
Done in #19606

[2020-03-13 10:41] #19533 closed

[2020-03-13 10:46] SteveSandersonMS commented on #19791
Thanks for reporting this, @sylvainonweb! However, this is by design.

Components are allowed to accept arbitrary "catch-all" parameters (e.g., when passing through arbitrary sets of HTML attributes), and can even decide at runtime whether or not to accept a given parameter. So there's no way to say at compile time whether it's a problem that you're passing an unknown parameter name (and by defaul

[2020-03-13 10:48] javiercn commented on #19787
Not sure what this means. Client credentials from where to where?

Here a simple sample with identity server
A simple sample with Identity Server demo server. The issues you are having with okta is because it doesn't support cors on the metadata endpoint.

[code]

[2020-03-13 10:58] SteveSandersonMS opened #19827 "Consume DebugProxy package from runtime repo"
Currently we have `M.A.C.WA.Runtime` in dotnet/blazor, and `M.A.C.WA.DebugProxy` in dotnet/aspnetcore. Only dotnet/blazor is updated automatically to match mono/mono.

This discrepancy is a liability for us, because nothing keeps our version of the Mono runtime in sync with our version of the ws-proxy code. This could break debugging (sometimes dramatically, or sometimes in subtle and weird ways).

[2020-03-13 10:59] javiercn commented on #19787
/authentication/login ==> **WebAsm:Authentication(action:='login')**
-> /connect/authorize ==> **Default identity server authorization path**
-> /Identity/Account/Login ==> **Default Identity UI authentication**
-> https://login.eveonline.com/oauth/authorize ==> **Where you are sent when the user clicks with sign-in with eve online**
 -> /signin-oauth-callback (or something like that, check the se

[2020-03-13 11:09] javiercn commented on #19825
@julienGrd thanks for contacting us.

Is this a question in the context of ASP.NET Core, general .NET or Blazor? If it is one of the first two ones, you might be able to add additional probing paths to your apps or something on those lines, but that's not something I'm an expert on, so I would suggest you ask that question in the [dotnet/runtime](https://github.com/dotnet/runtime) repo. You would

[2020-03-13 11:11] javiercn commented on #19823
@wu-yafeng thanks for contacting us.

@davidfowl do you have any thoughts here?
(Could this be endpoint routerized so that the middleware picks attributes from the endpoint metadata?)

[2020-03-13 11:12] javiercn commented on #19822
@zr00130 thanks for contacting us.

@SteveSandersonMS can you look into this?

[2020-03-13 11:15] javiercn commented on #19812
@MitchellNZ thanks for contacting us.

Can you provide a minimal repro project that showcases your issue so that we can investigate?

[2020-03-13 11:18] javiercn commented on #19818
@DamianEdwards thanks for looking into the root cause.

We'll look into this after the webassembly release.

[2020-03-13 11:21] javiercn commented on #19814
@julitogtu thanks for contacting us.

It looks like you might have some out of date bits. I recommend you add a global.json to the root of your solution and try again.

You can do this with `dotnet new globaljson --sdk-version 3.1.102` and close and open visual studio. If after that you still run into issues, then make sure you clean your bin and obj folders and rebuild again.

[2020-03-13 11:30] SteveSandersonMS commented on #19822
@javiercn I have been having a look, and it appears that publishing with win-x64 modifies the resulting assemblies after we computed their hashes. This doesn't make sense for a Blazor WebAssembly application, since the client-side assemblies are not really going to run on win-x64 - they are going to run on dotnet.wasm.

As such this seems to be a defect in how we do the publishing. We need to take

[2020-03-13 11:36] javiercn commented on #19782
Just moved this to our next sprint planning milestone as per our triage process so that we can have a discussion about this.

[2020-03-13 11:43] javiercn commented on #19822
@SteveSandersonMS that sounds weird, in what way are the assemblies modified? Is this due to a hosted server using win-x64 and translating that to the client project?

[2020-03-13 12:06] SteveSandersonMS commented on #19822
@javiercn It is weird, yes.

Try publishing to "filesystem" once with `portable` and once with `win-x64`. Then check the `.dll` files on disk in the two resulting `wwwroot\_framework_bin` directories. You'll find that the hashes of corresponding files don't match each other. As for why, I don't know.

[2020-03-13 12:42] uwefms commented on #19795
Could you please tell a little bit more about the other tweaks you made. I got the same problem. Adding Global.json did not help.

Duplicate base paths '/' for content root paths
 'J:\__Blazor_Core_3.2_SP2_RTM\CSLA\ref\BlazorMultiHead-master\BlazorMultiHead\Ui\bin\Debug\netstandard2.1\wwwroot\'  and
 'J:\__Blazor_Core_3.2_SP2_RTM\CSLA\ref\BlazorMultiHead-master\BlazorMultiHead\Client\bin\Debug\net

[2020-03-13 12:43] mihaimyh commented on #19822
I am having the same issue with a wasm project hosted on aspnet.core running in a linux docker container:

`(index):1 Failed to find a valid digest in the 'integrity' attribute for resource 'https://exacmple.com/_framework/wasm/dotnet.3.2.0-preview2.20159.2.js' with computed SHA-256 integrity 'G0POD2J1R26XEDtnl2OT/PoZVgMsdYwohijiCDj36YQ='. The resource has been blocked.`

[2020-03-13 12:48] SteveSandersonMS commented on #19822
@mihaimyh Please post a new issue with your own repro steps, as your issue may have a totally different cause.

[2020-03-13 12:55] mihaimyh opened #19828 "[Blazor WASM PWA] AspNet.Core Hosted Failed to find a valid digest in the 'integrity' attribute"
I am running a new Blazor-WASM 3.2 Preview 2 AspNetCore hosted inside a Kubernetes cluster and I am experiencing weird errors in a corporate browser:

[code]
`

You can find the repo [here](https://github.com/mihaimyh/laurkyt) and the live site [here](https://movingpicturesevents.ro/).

[code]

[2020-03-13 13:15] zr00130 commented on #19822
@SteveSandersonMS yep, I can continue to run as portable for now, thanks!

Some more details that may be useful:

I'm using the client/server template setup to get access to the web api. This means I'm publishing on the aspnetcore3.1 server project with the win-x64 RID.

Visual Studio has been weird and might point to some of my odd behavior. Cleaning/rebuilding the server project didn't seem to c

[2020-03-13 13:18] blowdart commented on #19821
We have WS-Fed already. Which is SAML.

See https://docs.microsoft.com/en-us/aspnet/core/security/authentication/ws-federation?view=aspnetcore-3.1#use-ws-federation-without-aspnet-core-identity

[2020-03-13 13:20] AndreiShenets opened #19829 "Microsoft.AspNetCore.Server.Kestrel: Reading is already in progress."
I am experiencing following issue during processing of some requests.

[code]

Steps to reproduce it in our application:
1. Open a page where we have a dialog with ajax call on its opening
2. Open chrome dev tools and set slow 3g connection
3. Open the dialog 3-10 times.

I saw similar issues are mentioned for ASP.NET Core 3.0 / 3.1 and it is said that they are fixed in 3.1.1/3.1.2 runtimes. My cu

[2020-03-13 13:24] julitogtu commented on #19814
@javiercn thank you, I did those steps (+ restart windows) but the error continues.

[2020-03-13 13:35] chrispickford opened #19830 "CorsPolicyBuilder.GetNormalizedOrigin NullReferenceException"
Making a call to `CorsPolicyBuilder.WithOrigins` with an array that contains a null string will cause a `NullReferenceException` to be thrown rather than throwing against the argument. This was noticed when a configuration file failed to read.

### To Reproduce
[code]

It would be beneficial if an `ArgumentNullException` was thrown instead.

[2020-03-13 13:37] chrisdpratt commented on #13440
A less complicated workaround:

    @((MarkupString)"<option value=\"\">Select Something</option>")

No need for a whole component wrapper just to handle this.

[2020-03-13 13:41] julitogtu commented on #19814
@javiercn  BTW. I just create a new blazor project, copy all files and nuget references and it works, so something strange happen with the old project. I'm gonna copy all the rest of the pages and components that I have and I'll update this thread and close the issue if all works.

[2020-03-13 13:42] sylvainonweb commented on #19791
Hi @SteveSandersonMS,

Wouldn't it be possible to distinguish parameters according to the fact that the first letter is an upper character or not ?
The idea would be to say that :

- "Normal" parameters must be in upper case and their existence would be checked at compile time
- "Other" parameters (html attributes) must be in lower case and their existence would be only checked at runtime.

**Note

[2020-03-13 13:48] SteveSandersonMS commented on #19791
We can't really have a rule like that, because it's common to pass regular HTML attributes but then give them special behaviors (by accepting them as parameters) in components.

[2020-03-13 13:56] CumpsD commented on #19510
We are running into this as well now, with a client trying to generate NSwag proxy from our swashbuckle generated swagger document. We are also unable to get the 200's to just return application json and the 400s application problem json

[2020-03-13 14:15] ElderJames commented on #5613
In my project, I can render the svg icon in components.
I use HttpClient to download the file and render it by converting to MarkupString.
https://github.com/ElderJames/ant-design-blazor/blob/master/components/icon/AntIcon.razor
https://ant-design-blazor.gitee.io/

[2020-03-13 14:49] KeithBarrows commented on #19787
Yep, missed a setting in Okta.

Are there plans to add triple slash comments to each of the settings and/or documentation that shows default values (if any) for all of these settings?  And does it support PKCE for public clients?

Outside of that we can close this down.

Thanks for your awesome help!

[2020-03-13 15:20] glararan commented on #19744
@javiercn May I ask how should folder structure look like? Kinda figuring out how to get it working. In src directory should be folder "Admin"?

Currently my file structure looks like
Pages/...razor files
Pages/Account/..razor files
Pages/Admin/Admin.cshtml (page "/Admin")
Pages/Admin/AdminLayout.razor
Pages/Admin/Home/Index.razor (page "/Admin/Dashboard")
Pages/Admin/.../...razor files

Now I get

[2020-03-13 15:32] javiercn commented on #19787
Yep, that's the default when you are using it in a hosted scenario with our SPA authentication integration and you can configure it by setting the response type to code (I believe it does PKCE by default).

[2020-03-13 15:36] javiercn commented on #19744
Pages/Admin/Index.cshtml for your entry point (set the right href in the base tag) and then you can put .razor pages inside Admin.

[2020-03-13 15:47] sylvainonweb commented on #19791
`it's common to pass regular HTML attributes but then give them special behaviors (by accepting them as parameters) in components`

Sorry, it's a bit hard to understand, can you give me an example?

[2020-03-13 15:56] KeithBarrows commented on #19787
Are there any documents that list the acceptable values for `response type` as well as the other settings?  :)

My biggest concern is not being a security expert I touch these setting once, maybe twice a year.  Then I have to remember the various flows, which are for what purposes, the various response types, client definition (in the ID Server) vs client setup (in your app), etc.  ;)

[2020-03-13 16:05] javiercn commented on #19787
The OIDC spec is the best source for that type of stuff https://openid.net/specs/openid-connect-core-1_0.html#Authentication and with an open id connect compatible provider you can always check all those things in the medatada document, which lives at `<<authority>>/.well-known/openid-configuration`

For example https://dev-712283.okta.com/.well-known/openid-configuration

[2020-03-13 16:24] mmarinchenko commented on #18781
**+1**

`dotnet publish` generates `.deps.json` file wich contains `dependencies` section. In my case `System.Resources.ResourceManager` assembly was trimmed out from output directory while existing in `dependencies` section of `.deps.json` file.

Two different dependency resolvers in one command?

[2020-03-13 16:35] davidfowl commented on #19807
This change is non-trivial because it also means that configuration needs to be setup early as well and cannot be part of the builder.

I don't know how this would be different from template code. This change separates logging and configuration from the host builder which itself will introduce boiler plate.

To flesh this out a bit more, here's a proposal:

[code]

A few things to note:
- The conf

[2020-03-13 16:36] anurse commented on #19806
Great ideas, I'll file some issues to track/verify that, but for the *most part* I think the "Source Repository" link will be updated automatically since that value is auto-injected by our build system.

[2020-03-13 16:42] anurse commented on #19806
It is a broadly useful concept but there are already some pooling concepts in the runtime and we think that right now we don't want to bring this one in. It's always possible to move things around though, and nothing about this move changes *where* you can use these packages.

Yep, it's certainly possible to move these to dotnet/runtime and we're still looking in to that. The biggest priority righ

[2020-03-13 16:46] NTaylorMullen commented on #19761
@jasonmalinowski you guys did work to fix this on our behalf from the C# projection front. Did something recently change to break this again?

[2020-03-13 16:48] NTaylorMullen commented on #18526
![image](https://media3.giphy.com/media/YTbZzCkRQCEJa/giphy.gif?cid=790b761177fa45fa4a1230a2c7ea4c77ed7e5bde2076d2eb&rid=giphy.gif)

[2020-03-13 16:49] #19813 closed

[2020-03-13 16:52] mkArtakMSFT commented on #19830
Thanks for reporting this and submitting the PR, @chrispickford.
We will review the PR and get back to you next week.

[2020-03-13 17:16] dougbu commented on #10428
We're actually moving away from granular skips and toward quarantining tests across the board. We also seem to have the skip conditions we need when tests don't run on one or more platforms.

[2020-03-13 17:16] #10428 closed

[2020-03-13 17:50] danroth27 commented on #5477
@mrpmorris 3.2 Preview 2 is now available! Do the steps suggested in https://github.com/dotnet/aspnetcore/pull/19558#issuecomment-594461263 for renaming the files work for you?

[2020-03-13 18:02] jkotalik commented on #19829
I think this is a duplicate/related to https://github.com/dotnet/aspnetcore/issues/17840

[2020-03-13 18:06] anurse commented on #14847
Re-triage: This is probably out-of-scope for 5.0 now. Also, we'd prefer `fetch({ keepAlive: true})` over `sendBeacon` if the browser supports `fetch` since it lets us do any kind of request.

[2020-03-13 18:12] mkArtakMSFT commented on #19834
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, we are not a general-purpose forum. To get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2020-03-13 18:13] mkArtakMSFT commented on #19834
@javiercn in case you have some quick suggestion for this, you're welcome to share :)

[2020-03-13 18:13] MrCoft opened #19835 "JsonPropertyName not working on model binding"
I am using a class as an endpoint model with the following attribute:
[code]
This makes the class serialize with `per_page`, but it never matches it from an incoming query.

Steps to reproduce:
- Download and run project: https://github.com/MrCoft/AspJsonPropertyNameBug
- Send GET to `http://localhost:5000/table-page?sort&page=1&per_page=15`
- Console prints `{"Sort":null,"Page":1,"per_page":0}`

[2020-03-13 18:20] anurse commented on #19829
Closing this as it is a duplicate.

Duplicate of #17840

[2020-03-13 18:20] #19829 closed

[2020-03-13 18:22] anurse commented on #19608
@skype007 can you provide a runnable sample application that reproduces the issue? I saw you mentioned the kind of app you were running above, but an actual runnable sample with code gives us the full context of what's going on and ensures we aren't talking about different things :).

[2020-03-13 18:30] entitycontext commented on #19795
@uwefms

Did you change the package references of your Razor class library .csproj to use the Microsoft.AspNetCore.Components.WebAssembly 3.2 preview bits?  I did that and ran into the duplicate base paths '/' error.  The preview web assembly stuff is only needed for the client project - the Razor class library can stay on 3.1:
[code]
In my case, I didn't need the global.json, I just needed to lea

[2020-03-13 18:50] wtgodbe opened #19838 "Runtime dependency out of date"
We're 7 days out of date on dotnet/runtime dependencies, due to a couple of issues - first, a change to native library names in runtime that's affecting OSX - this is blocking https://github.com/dotnet/extensions/pull/3077. dotnet/runtime has merged a fix for this, but their builds are blocked by a publishing issue, which is tracked by https://github.com/dotnet/arcade/issues/5044. Once the Arcade

[2020-03-13 19:28] NTaylorMullen opened #19839 "[Bug] VSCode Razor unknown self-closing tag inside an if statement causes colorization issues"
Moving from: https://github.com/OmniSharp/omnisharp-vscode/issues/3662
Originally reported by @ofrades

![image](https://user-images.githubusercontent.com/31070771/76647784-5f141a80-6555-11ea-97de-4a2b45324b11.png)

![image](https://user-images.githubusercontent.com/31070771/76647825-6b987300-6555-11ea-97bb-691c7fa0d114.png)

[2020-03-13 20:04] zbecknell opened #19840 "API for marking parameters/types as immutable"
It seems like we have some scenarios where unnecessary re-renders occur.  Here's a very simple reproduction:

https://github.com/zbecknell/RerenderRepro/blob/master/Client/Pages/FetchData.razor

When clicking the `Test` button, you'll see each `<ForecastRow>` component being rendered.  Were we to change the `Forecast` parameter on `<ForecastRow>` to a simple `string` parameter, no re-render occurs

[2020-03-13 20:14] sylvainonweb commented on #18709
Hi @julienGrd,

 I tried to implement my way of managing popup dialog (see https://github.com/dotnet/aspnetcore/issues/18142) but unfortunately failed.

I would really be interested if you could help me and told me more about your solution.

Thanks in advance.

[2020-03-13 20:22] Pilchie commented on #19333
I'm going to move this to the runtime repo, since CoreCLR is failing to even start.

[2020-03-13 20:23] Pilchie commented on #19447
Ping @vijayrkn ?

[2020-03-13 20:25] zbecknell commented on #19840
This is the practical effect it's having on a page with ~20 complex elements:

<img width="1432" alt="image" src="https://user-images.githubusercontent.com/9710256/76656847-e3ab6c80-6546-11ea-8e2e-eac992131915.png">

The button click causes a re-render and then the modal popping up causes one as well, so the complex components in the list are rendering twice.  This is currently much less noticeabl

[2020-03-13 20:28] vijayrkn commented on #19447
yes, Scaffolding repo would be the right place.

[2020-03-13 20:37] enetstudio opened #19842 "Where does AddBaseAddressHttpClient is defined ?"
Please, provide a url to this extension method. I could not find it anywhere... Only two issues related to it.

Thanks...

[2020-03-13 20:49] mkArtakMSFT commented on #19736
@tobbi please provide a repro project so that @vijayrkn can investigate this.

[2020-03-13 20:58] Pilchie commented on #19447
This issue was moved to aspnet/Scaffolding#1278

[2020-03-13 20:58] #19447 closed

[2020-03-13 21:20] dazinator commented on #19807
Thanks for giving this some more thought David. I agree that initialising logging from config is very valuable, but for this initial logger, there is something to be said for minimising dependencies. The minimum that needs to happen as far as I can see is that an ILoggerProvider needs to be created, so that an ILogger can be used immediately within Program.cs and potentially all / any downstream c

[2020-03-13 21:39] webebox commented on #18340
I resolved the issue like this :
Constructor :

    private AppDbContext _db;
    protected override void OnInitialized()
    {
        _db = new AppDbContext();
         var query = _db.Set<Group>().AsQueryable();
    }

and later I dispose it:

    public void Dispose()
    {
        _db?.Dispose();
    }

[2020-03-13 22:07] dazinator commented on #19807
Updated my comment above.. my thoughts evolved!

[2020-03-13 22:20] MitchellNZ commented on #19812
@javiercn sure thing.

I have created a repo project [here](https://github.com/MitchellNZ/BlazorSilentAuthIssue) that demonstrates my issue (its using the latest template with auth and .NET Core hosted).

The pages of interest are **App.razor** and **Counter.razor**.

**Steps**
1. When you first run the project, it will get stuck in a loop throwing the exception I have mentioned in my initial post

[2020-03-13 22:36] davidfowl commented on #19807
This is already the case. I'm not sure if this was a request or not.

Not sure what this means. Is it different from my proposal above? I'd like to get more concrete rather than more abstract on the suggestions 😄 .

That's out of scope. You can call LoggerFactory.Create in a console application.

leverage / depend upon / insist upon logging being set up first.

This will be opt in. I don't expect

[2020-03-13 22:55] MitchellNZ commented on #19842
@enetstudio https://github.com/dotnet/aspnetcore/blob/blazor-wasm/src/Components/WebAssembly/WebAssembly/src/Services/HttpClientServiceCollectionExtensions.cs

[2020-03-13 23:01] HaoK commented on #19760
What do you mean after a period of time?  Are you saying its there initially but only later the claim is gone?

[2020-03-13 23:07] #19451 closed

[2020-03-13 23:13] dazinator commented on #19807
@davidfowl
We are aligned, a minor thing:

            {
                CreateWebHostBuilder(args, configuration, loggerFactory).Build().Run();
            }
            catch (Exception ex)
            {
                logger.LogError(ex, "An error occured when starting the application");
                return 1;
            }

Would need finally block with Disposal of LoggerFactory so loggers

[2020-03-13 23:16] dougbu commented on #18931
If I'm reading things correctly, the relevant rules are in https://github.com/aspnet/BuildTools/tree/master/modules/NuGetPackageVerifier/console/Rules Looks like a fairly extensive list but some likely duplicate things now done elsewhere e.g. signing validation.

@Pilchie who do you suggest as the right places to start on the following?
- Should talk to Arcade WG or CI Council or &hellip; about re

[2020-03-13 23:23] pranavkm commented on #19835
@MrCoft, MVC has two ways of deserializing content from a request in to a .NET type. Formatting is where you have a HTTP request body and you deserialize a model from a JSON (or XML) payload. This understands JSON specific APIs such as `JsonPropertyName`.

[Model binding](https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-3.1) on the other hand reconstructs a mod

[2020-03-13 23:49] kramaswamy7 opened #19844 "Discarding variable when using EventCallback<T>"
### Describe the bug
When trying to implement an EventCallback for a generic-typed object, you are not able to discard the input variable used. This behavior is unusual, as for a non-generic-typed object, there are no problems discarding the input variable.

### To Reproduce
Index.razor:
[code]
MyObject.razor:
[code]
MyObject.razor.cs:
[code]
MyGenericObject.razor:
[code]
MyGenericObject.razor.cs:

[2020-03-14 00:33] enetstudio commented on #19842
@Mitchell Currey, many thanks for your help.  I didn't know that there is something called Branch: blazor-wasm. I've always used master. I think I should spend some time learning how github works. In any case, your help is appreciated, as I've spend a great deal of time looking for this method.

[2020-03-14 00:34] #19842 closed

[2020-03-14 00:38] Gprsk opened #19845 "System.IO.IOException: The configured user limit (128) on the number of inotify instances has been reached, or the per-process limit on the number of open file descriptors has been reached."
I've been getting this issue regularly when using Docker on a Kubernetes deployment. Code did not change, but after a while we are unable to start new containers because they keep crashing.

My setup code is as simple as it can be:

[code]

Startup class is quite simple:

[code]

### To Reproduce
Just start my project

Exception message:
[code]

### Further technical details
- ASP.NET Core version

[2020-03-14 00:39] #19420 closed

[2020-03-14 01:42] DamianEdwards commented on #19807
I'm wondering whether it wouldn't be simpler to just standardize on the concept of "two-phase" logging: main/bootstrap/startup and hosted. Where that likely falls down is when you want to use the exact same logging configuration for both phases, but I honestly don't know how true that is, as many popular logging sinks require configuration to be initialized successfully anyway.

If we were simply

[2020-03-14 03:32] hez2010 commented on #19821
@blowdart Thanks. I'll try WS-Fed and IdentityServer.

[2020-03-14 04:34] Justina2711 commented on #19760
@HaoK thank you for your reply
 Yes, initially we are able to get the claim value but after some time we are trying to retrieve the same it became empty whereas the AspNetCore.Cookies value is present in the browser's cookie, kindly find the screenshot

![image](https://user-images.githubusercontent.com/48353468/76674973-e8b9fb80-65da-11ea-957c-0fcd31d122de.png)

[2020-03-14 04:57] ryanelian commented on #14327
Can this be feature be expanded to cover C# files?

- Class
- Interface
- API Controller (with `[ApiController]`)
- MVC Controller
- Razor Page (.cshtml & .cs)

[2020-03-14 08:13] ajaybhargavb opened #19851 "Update Completion provider to support completion resolution"
More context: https://github.com/dotnet/aspnetcore-tooling/pull/1685#discussion_r392530753

[2020-03-14 08:18] xrkolovos commented on #9035
Thank you very much for you feedback

[2020-03-14 09:49] dazinator commented on #19807
If the first phase consists of creating an LoggerFactory then to use the exact same configuration for the second phase (the host) should just be a very simple case of:

[code]

Rather than doing AddLogging() to configure a new LoggerFactory for the second phase. This has the benefit that the host container wont steal ownership of the lifetime of the phase 1 loggerfactory, and it wont result in two

[2020-03-14 09:49] MiroKov opened #19852 "Angular boilerplate app - individual accounts authentication doesn't work in IIS"
Hi,

I created a new AspNetCoreWebApplication with Angular in .net core 3.1 (individual accounts).

Without changing any code, I published the app in folder, and hosted it in IIS.
I changed the _base href_ in index.html to `/test/`, and added the

`"Key": {
      "Type": "Development"
    }`

in _app.production.json_.

When starting the app in browser, I get the following error(s):

![image](https

[2020-03-14 10:13] sefacan opened #19853 "About endpoint routes url segment separation"
Hi,

I created an endpoint routes like => /search/{firstTerm}-{secondTerm}

My action:
public IActionResult Search(string firstTerm, string secondTerm)

But if there is a url like this, wrong values ​​are coming.
http://www.domain.com/search/my-app-your-app

* firstTerm => my
* secondTerm => app-your-app

Maybe I'm building it wrong. what is the right way?
Since the url structure I want to create

[2020-03-14 13:20] SteveSandersonMS opened #19854 "Blazor WebAssembly: AddRemoteAuthentication(options) doesn't work"
If you have this:

[code]

Then things work fine. But if you have this:

[code]

... then you get an exception like this:

[code]

Clearly the client name is wrong. And I think it's because of this line: https://github.com/dotnet/aspnetcore/blob/9078b35f94ef87e7c2736f8d3a138c8db00a0a59/src/Components/WebAssembly/WebAssembly.Authentication/src/WebAssemblyAuthenticationServiceCollectionExtensions.cs

[2020-03-14 13:21] SteveSandersonMS commented on #19854
Also shouldn't it be calling `services.Configure(configure);` *before* calling `services.AddRemoteAuthentication<RemoteAuthenticationState, TProviderOptions>();`?

[2020-03-14 13:22] spmoran-blazor commented on #19443
This is still a thing.

[2020-03-14 13:51] Justina2711 commented on #19760
We were tried to upload the solution on our local pc's IIS (Windows 10) everything is working fine as expected, but whenever the same solution is hosted on the AWS server(Windows Server 2019) the issue still remains to continue

[2020-03-14 14:16] SteveSandersonMS opened #19855 "Blazor WebAssembly: RedirectToLogin in template causes infinite redirect loop"
If you have a page with `@attribute [Authorize(Roles = "admin")]` and navigate to it as a user who is logged in but does *not* have that role, you get an infinite redirection loop:

 1. Router renders `NotAuthorized` content which contains `<RedirectToLogin />`
 2. `<RedirectToLogin />` redirects you to login endpoint passing return URL
 3. Login endpoint sees you're already logged in and redirect

[2020-03-14 15:34] Emberfire opened #19856 "Media range requests to .net core server fail"
### Describe the bug
I have a problem delivering videos in .NET Core. I'm getting a video file by an absolute path and returning it to be used as a source in a element. However, I'm enabling HTTP Range requests by passing enableRangeProcessing: true to the method, and after fast seeking through the video (once it's loaded) the action stops providing responses. The response contains exactly 16.1kb

[2020-03-14 16:02] sylvainonweb commented on #18709
@LaughingJohn,

To be able to use modal the way you want, please use the repository of @chrissainty (https://github.com/Blazored/Modal) who really make a great job.

Just be careful to not use property with [Parameter] attribute to store state of your modal component (see https://github.com/Blazored/Modal/issues/115 and https://github.com/dotnet/AspNetCore.Docs/issues/17178 for explanation).
I mad

[2020-03-14 16:05] jyotishbora opened #19857 "Debug issue of aspnetcore source on VS2019"
I was able to successfully build  aspnetcore code base by following the instructions at (https://github.com/dotnet/aspnetcore/blob/master/docs/BuildFromSource.md). But when I run any of the sample projects in debug mode and set a break point, none of the breakpoints are being hit and  I get "The application is in Break mode" message.( Screenshot attached).

I want to point out that I am **not**  r

[2020-03-14 16:50] ImmutableVector commented on #19443
I have had this happen on 2 machines now.

[2020-03-14 16:51] ImmutableVector commented on #19443
This has been a problem since the new template came out.

[2020-03-14 17:25] skype007 commented on #19608
Here's a NETCore2.1 with a minimal code to try to reproduce the issue
[PoC.Github.POST.zip](https://github.com/dotnet/aspnetcore/files/4333072/PoC.Github.POST.zip)

Additional details to understand the context: the project is deployed on an API app on Azure and we (the team) uploaded a **certificate** inside "TLS/SSL settings". Then in AppSettings we added :
- AppSettings__AuthorizedCertificates =

[2020-03-14 18:31] poke commented on #8998
@Luk164 It is mentioned in the [2.2 to 3.0 migration guide](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#async-suffix-removal-from-controller-action-names).

[2020-03-14 19:05] glararan opened #19858 "[Blazor-server] .cshtml returns logged user, blazor not"
I implemented own solution to make login without page refresh. However can't figure out why I am losing logged-in state on application restart (new debug run).

I investigated after app re-run that _Host returns valid user for HttpContext.User (signed).
However blazor component run from _Host via
[code]
returns anonymous user (not signed in)

Inside AuthorizationApiController HttpContext.Request.C

[2020-03-14 19:55] KamranShahid opened #19859 "Problem in Json in appsetting with json having underscore in it's key name"
I am facing issue in json in appsettings file where key contains _ e.g.
{
"Key1":"test",
"Key2_problematic":"test2",
"key3":" "test3"

}

Key2_problematic never get loaded in Class property named Key2_problematic
if i remove _  from the key and from my class property value all works.

I am using System.Text.Json in my .net core 3.1 application.

[2020-03-14 20:01] danroth27 commented on #19443
@spmoran-blazor @ImmutableVector Have you confirmed that you are using SDK version 3.1.102 or later? Are you possibly using an older preview build of 3.1.200 that shipped with a VS preview? If you are, could you try updating to the latest 16.5 preview and see if that helps?

[2020-03-14 20:23] ImmutableVector commented on #19443
@danroth27 My sdk is good,  and I was running 16.4.6.

After installing the Preview build I have confirmed this is working! I apologies if that was part of the steps to get everything up and running initially. And seriously, thanks for the quick feed back!

[2020-03-14 22:47] MCFHTAGENTS opened #19862 "Stack trace occuring with a crawler or hacker"
I am seeing the following stack trace in my log on a site running 3.1.2  - I think because either a crawler or would be hacker is trying to access the site with bad paths rather than any proper use of the site.

Please can it be handled better.

[code]

[2020-03-14 23:12] joshlang opened #19863 "BigInteger.Parse is wrong, exceeds Span<char> boundaries"
[code]

In .net core, output:
[code]

In blazor, output:
[code]

This might belong in the mono repo, but we found it in our client-side blazor app, so I'm reporting it here.

[2020-03-14 23:35] glararan commented on #19858
Ok I figured it out.

Main issue: HttpContext has data from page-load, then its not updated ever-after until page refresh. This should be mentioned somewhere visible in documentation.
How to solve my issue:
Inject IJSRuntime into custom AuthenticationStateProvider and create function to get cookie at runtime.
Request for page-load uses HttpContext (IJSRuntime is not available until page is fully l

[2020-03-14 23:51] danroth27 commented on #5477
Hi folks!

In the recent [Blazor WebAssembly 3.2 Preview 2](https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-preview-2-release-now-available/) release we made some changes to make it easier to rename the .dll files in your app as a way to address proxies/firewalls/antivirus software interfering with Blazor WebAssembly apps. We'd like folks who are hitting this issue to try out the st

[2020-03-15 03:44] Buzzkill-McSquare opened #19864 "System.IO.FileNotFoundException when building in WSL2"
I was working on the tutorial called [Use ASP.NET Core SignalR with Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-blazor-webassembly?view=aspnetcore-3.1&tabs=visual-studio-code) and ran into the following error during the [Run the app](https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-blazor-webassembly?view=aspnetcore-3.1&tabs=visual-studio-code#r

[2020-03-15 08:04] acrigney commented on #9020
Can we have an ETA when gRPC will be available on Azure App Service please?

[2020-03-15 09:11] alexmarshall132 opened #19865 "AzureADB2COpenIdConnectOptionsConfiguration generates incorrect Authority for currently deployed version of Azure AD B2C"
### Description
When attempting to validate tokens on incoming requests from Azure AD B2C SPA applications running in Angular JS8, `AzureADB2COpenIdConnectOptionsConfiguration.BuildAuthority` generates an incorrect authority, resulting in the following Exception:

[code]

The retrieval of the B2C OpenId Configuration should be from a path that looks more like:
[code]

The problem appears to be cau

[2020-03-15 11:10] alienwareone opened #19866 "AllowSynchronousIO = false AND CacheTagHelper"
CacheTagHelper doesn't work without AllowSynchronousIO = true;

Relevant Stacktrace:
[code]
https://github.com/aspnet/Mvc/blob/04ce6cae44fb0cb11470c21769d41e3f8088e8aa/src/Microsoft.AspNetCore.Mvc.TagHelpers/CacheTagHelper.cs#L221

[2020-03-15 11:27] blowdart commented on #19862
What would you expect to happen here? An exception isn't harmful, it isn't bringing your site down.

[2020-03-15 11:33] MCFHTAGENTS commented on #19862
It results in the log files becoming very large with the stack traces especially as it looks like some form of automated process is hitting the site - so some form of information to allow me to block it if malevolent or at least an expected error that doesn’t need a stack trace would be helpful

[2020-03-15 11:53] xlievo commented on #19476
same question!
simple hello-world app

os: FROM mcr.microsoft.com/dotnet/core/aspnet:3.1-alpine

Load test settings: 1000 concurrent users for 1 minute

This exception will occur for external network access, and there will be no pressure problem for local access :)

fail: Microsoft.AspNetCore.Server.Kestrel[13]
      Connection id "0HLU8P7S8VQMH", Request id "0HLU8P7S8VQMH:00000001": An unhandled

[2020-03-15 12:46] blowdart commented on #19865
@javiercn Is this a dupe of https://github.com/dotnet/aspnetcore/issues/15022 and https://github.com/dotnet/aspnetcore/issues/17014 ?

[2020-03-15 13:00] Michael-Pro opened #19867 "HTML event binding does not support while using Custom Razor Component"
I define a simple component
[code]

and I use this component to bind the event 'onclick'
[code]
There is an exception thown as below
[code]

[2020-03-15 13:05] xlievo commented on #19476
The only answer I can think of is: Internet bandwidth is full, and local access does not need bandwidth
Will this exception be thrown when the server bandwidth is full?
But I'm not sure！

[2020-03-15 13:17] michaelmualem commented on #19528
In addition, I replaced the packages with their source code and ran the project, but I get a runtime exception: "Could not load file or assembly 'Microsoft.AspNetCore.JsonPatch, Version=42.42.42.42, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The located assembly's manifest definition does not match the assembly reference."

What should resolve this ?

[2020-03-15 13:21] julitogtu commented on #19814
I'm closing this issue, i just add a new blazor project to the project and copy and paste all pages and code, and simply it works.

[2020-03-15 13:21] #19814 closed

[2020-03-15 14:49] jxl1024 opened #19868 "System.InvalidOperationException : No service for type 'Microsoft.Extensions.DependencyInjection.IServiceProviderFactory`1[Autofac.ContainerBuilder]' has been registered."
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2020-03-15 15:10] poke commented on #19806
I have to say that I’m really not a fan of this plan. Yes, I do understand the desire to further consolidate the repos although that already doesn’t work if the extensions packages are now basically being split to three different repositories. I also get that this is done because the packages ship with everything else, so getting them in the same repo makes it easier for the release process.

But

[2020-03-15 15:24] jyotishbora opened #19869 "Debug issue of aspnetcore source on VS2019"
I was able to successfully build  aspnetcore code base by following the instructions at (https://github.com/dotnet/aspnetcore/blob/master/docs/BuildFromSource.md). But when I run any of the sample projects in debug mode and set a break point, none of the breakpoints are being hit and  I get "The application is in Break mode" message.( Screenshot attached).

I want to point out that I am **not**  r

[2020-03-15 15:24] #19857 closed

[2020-03-15 15:24] alexmarshall132 commented on #19865
With the brief read through of those issues, I don't think so. This issue is on the server side token validation and is validating tokens generated by a JavaScript MSAL client not implemented in Blazor. I could be mistaken though and a polite correction would be welcome to show me where I've misunderstood the nature of those two issues if that's the case

[2020-03-15 15:24] jyotishbora commented on #19857
moved to another section

[2020-03-15 15:56] davidfowl commented on #19476
Sorry that doesn’t help. You need to provide at a bare minimum a repro of what the application is doing and how you’re running the load test

[2020-03-15 16:00] blowdart commented on #19862
That's fair, at least lack of stack trace anyway.

[2020-03-15 17:47] ericsampson commented on #4926
@pranavkm or anyone have an update on the status/plans for this?

[2020-03-15 18:30] dougbu commented on #19528
@michaelmualem I suggest giving up on trying to build a small subset of the repo. Instead execute the root build script with its `-pack` / `--pack` command-line argument then make the entire artifacts/packages/Debug/NonShipping directory the package source for your test project.

Given the errors you're seeing, I wouldn't be surprised if some packages have already been installed into .nuget/packag

[2020-03-15 19:19] Brainykat commented on #19561
@javiercn I have various SDK versions on my machine
`C:\Users\Kariuki>dotnet --list-sdks

- 2.1.509 [C:\Program Files\dotnet\sdk]
- 2.1.700 [C:\Program Files\dotnet\sdk]
- 2.1.701 [C:\Program Files\dotnet\sdk]
- 2.1.801 [C:\Program Files\dotnet\sdk]
- 3.0.100-preview8-013656 [C:\Program Files\dotnet\sdk]
- 3.0.100 [C:\Program Files\dotnet\sdk]
- 3.1.101 [C:\Program Files\dotnet\sdk]
- 3.1.200-prev

[2020-03-15 19:39] vchirikov opened #19870 "[Blazor] WebAssemblyHostBuilder replaces existing IConfiguration in IServiceCollection"
Hi, I trying to use blazor webassembly ver. 3.2.0-preview2.20160.5 and found some intresting bug / weird design.

Related: https://github.com/dotnet/aspnetcore/issues/16874

CC: @danroth27 @rynowak  @mkArtakMSFT

### Describe & Reproduce.
I use my own "IConfiguration" and registered it in "IServiceCollection" like this:

[code]

So IConfiguration providers depends on some query parameter. But `Web

[2020-03-15 20:35] frankabbruzzese commented on #5466
@honkmother ,
Can you please share more Infos on how you succeeded in packaging Blazor DLLs with ILRepack? I used ILRepack.MSBuild.Task as detailed [here](https://github.com/peters/ILRepack.MSBuild.Task/issues/45). Packing  succeeds but when I run the application I always get this error:

It appears that packaging breaks something, or at list prevents a correct bootstrap of the application.

[2020-03-15 20:36] bdnts commented on #19148
Where is the MS guidance on Blazor Server Authentication without MVC?  Is there a 100% Blazor solution?

[2020-03-15 21:23] boukenka commented on #19855
Good evening,

What about that other possibility? I mean put all the logic in the ```<Not Allowed>``` section. 😄

In the app.razor:
[code]

In the NotAuthorizedManager.razor:
[code]

In the NotAuthorizedManager.razor.cs:
[code]

[2020-03-15 21:24] vchirikov commented on #19870
Workaround:

[code]

[2020-03-15 21:40] davidfowl commented on #19870
Why do you need your own IConfiguration?

[2020-03-15 21:57] NPadrutt commented on #19758
@Berrysoft You saied the compiler didn't call out the wrong referneces. Did you do anything special to find them?
I have the same problem. But I can't find any old namespaces and I only have the new packages references as far as I can tell. Also deleted bin and obj already.

[2020-03-15 22:04] NPadrutt commented on #19758
okey, nevermind I found it. I use the library **Toolbelt.Blazor.TimeZoneKit** and version 6.0 uses `Microsoft.AspNetCore.Blazor`. Therefore I used the wrong `WebAssemblyHostBuilder` in my Program.cs. After the upgrade to 7.0 it works as expected.

[2020-03-15 22:14] vchirikov commented on #19870
For example appsettings.json :
[code]
You can read about it on https://remibou.github.io/Configuring-a-Blazor-app/
by @RemiBou

[2020-03-15 22:23] davidfowl commented on #19870
I’m still confused, why can’t you use the ConfigurationBuilder on the WebAssemblyHostBuilder?

[2020-03-15 22:40] vchirikov commented on #19870
Seems like my fault. I think, I can do the same with provided `builder.Configuration`. Sorry for this issue.
I'll close this.