[2018-01-29 22:32] AceCoderLaura opened #2836 "Add Assembly at Runtime"
Original Issue:
https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/580

This is apparently and issue with ApiExplorer. How can I add my assembly for API exploration?

[2018-01-29 22:44] senseibaka commented on #593
Hi guys, if you're still looking for a .net core ASE driver, we've recently developed one: https://github.com/DataAction/AdoNetCore.

[2018-01-29 23:24] carl-thomas opened #2837 "Add DataContract and JsonProperty attribute serialisation"
Having a model
[code]
When sending a standard JsonPatch request
[code]
The serilizer does not map `/full_name` to the property `Name` of `MyModel`. However, if you use change tha path to `/Name` it will then map the property.

The JsonPatch needs to adhere to the `JsonProperty` and `DataContract` attributes and default to `PropertyName` if no attribute is present.
This will follow the conventions

[2018-01-30 01:52] MelbourneDeveloper commented on #2836
This is a major issue for us. I added a controller to a project inside the Visual Studio solution and ran the service. Swashbuckle successfully read the metadata from ApiExplorer and displayed the controller's operation in Swagger. However, I then removed the project from Visual Studio and referenced the DLL manually. When I did this, Swashbuckle did not pick up the controller in the external asse

[2018-01-30 02:02] jbagga commented on #2803
After talking to @pranavkm instead of not allowing the bit-wise OR, adding support for it.

[2018-01-30 03:30] MelbourneDeveloper commented on #2836
It turns out that this was a kind of false alarm. The reason that the operation was not showing up in Swagger was that the method was not marked with the "public" modifier. This raises the question of how the REST call ever worked in the first place. I'm not convinced that it ever did work. But, if it did work, the ApiExplorer metadata should match the actual result. I.e. if the public modifier is

[2018-01-30 03:56] rynowak commented on #2836
API Explorer and Swashbuckle are built on top of MVC's action/controller discovery, so basically if MVC doesn't find it then API Explorer and Swashbuckle don't get the chance.

In MVC and most places in ASP.NET - we only don't really ever reflect over non-public types. I expect that the api call wasn't working, or wasn't routed to the intended action.

[2018-01-30 05:45] DamianEdwards commented on #2834
As pointed out, this has been discussed before and the underlying reasons for not doing it have not changed. If you wish to have DI features like this (and others) we recommend you use a 3rd-party IoC container that supports these features.

[2018-01-30 05:45] #2834 closed

[2018-01-30 05:58] DamianEdwards commented on #2835
The fact that the `Name` and `Value` are the same suggests that the resource was indeed not found. I'd expect them to differ in the case where a name was supplied, and a value for the current culture was found by the configured `IStringLocalizer` instance.

[2018-01-30 07:54] Eilon commented on #2836
This issue was moved to aspnet/Mvc#7316

[2018-01-30 07:54] #2836 closed

[2018-01-30 11:08] MV10 commented on #2759
I'm adding the calls in Startup.cs. Should it be done earlier at the console Program.cs level, or is that just something you did for testing convenience?

I'll try to reproduce the problem stand-alone later today.

[2018-01-30 14:12] kichalla opened #4872 "Fix model binding testing setup to use the dependent components consistently"
Example: [Here ](https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNetCore.Mvc.TestCommon/TestModelBinderFactory.cs#L29)we create options but this is not present in DI services as `IOptions<MvcOptions>` service.

Example: In [this ](https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNetCore.Mvc.IntegrationTests/ArrayModelBinderIntegrationTest.cs#L16)test, we use different instances of

[2018-01-30 17:23] natemcmaster commented on #2759
Test convenience. I was just trying to create a repro that will help isolate your issue.

[2018-01-30 19:44] #2803 closed

[2018-01-30 20:44] muratg commented on #2799
@davenewza sounds good. Please let me know if you're able to get more traction on this.

[2018-01-30 21:15] andrew-hickton opened #2838 "one to one relationships that are not unique"
Version: Entity Framework Core 2.0.1
Provider: SQL Server

I am finding that entity framework seems to want to ensure uniqueness for foreign key values where there is a one to one relationship.  I have scenarios where uniqueness is not desired.   The fabricated scenario below has an optional contact associated with an order.  Both order 1 and order 2 should be saved with contact "John Smith" but o

[2018-01-30 21:27] ajcvickers commented on #2838
Moved to https://github.com/aspnet/EntityFrameworkCore/issues/10826

[2018-01-30 21:27] #2838 closed

[2018-01-31 02:37] jbagga commented on #2423
@Morcatko Are you still experiencing this problem? Decorating the enum with the attribute solves the issue. Just curious if you must decorate the property and not the property type.

example: https://code.msdn.microsoft.com/How-to-serialize-and-424fc896

[code]

[2018-01-31 09:39] sandersaares opened #2839 "ASP.NET Core 2 app created using VS 2017 "Empty" template fails to run on .NET Core runtime 2.0.5"
1. Create a new ASP.NET Core 2 Web Application project in Visual Studio 2017 using the "Empty" template.
1. Execute `dotnet publish`
1. In a Windows Server 2016 container with the .NET Core runtime (version `microsoft/dotnet:2.0-runtime-nanoserver-sac2016`) execute `dotnet WebApplication2.dll`

Expected result: the created empty web app starts.

Actual result:

[code]

The same command (`dotnet We

[2018-01-31 14:55] anorborg commented on #2794
This seems related to  #2484 which was moved over. Not sure whats up here? Can someone just provide a quick answer to understand why? Should we not expect a nuget update until 2.1 or something?

[2018-01-31 15:59] Tratcher commented on #2794
This package was a prototype that was never completed. We've stopped releasing prototype packages. If we ever finish it then we'll release real packages.

[2018-01-31 16:02] anorborg commented on #2794
Thank you so much for responding! Good to know! Might I suggest updating the README on the repo (and any other that is similar) that makes that clearer? I'd be happy to submit the appropriate pull-request if that would be helpful

[2018-01-31 16:16] Tratcher commented on #2794
By all means send a PR.

[2018-01-31 16:52] ThatDeveloper opened #2840 "FileInfo.Length returns always 0"
# FileInfo.Length return always 0

FileInfo.Length return always 0. I tried it with a MVC Web App and a console application.
FileInfo is not null and the path is correct too. I tried to stream a video but if I don't get the range I can't stream it.

# General

.NET Core 2.0 & 2.0.5
Mac & Windows

# Sample

[code]

[2018-01-31 17:44] natemcmaster commented on #2839
This looks like a duplicate of https://github.com/dotnet/designs/issues/10. ` microsoft/dotnet:2.0-runtime-nanoserver-sac2016` does not include the ASP.NET Core shared runtime store, which is why the error says...

To solve this:

Option 1 - disable runtime store publishing (see https://github.com/dotnet/designs/issues/10.) This assembly was expected to be in the local runtime store as the applica

[2018-01-31 17:57] pranavkm commented on #2840
Does the file exist? `fi.Exists`

[2018-01-31 18:32] Eilon commented on #2840
This bug probably belongs in https://github.com/dotnet/corefx.

@ThatDeveloper - please check what the "current directory" is - that is probably throwing off the check. You can check `fi.DirectoryName` to see what directory it thinks the file is in.

[2018-01-31 20:32] glennc commented on #2832
Closing this as I think it was answered. You can re-open it, make another issue, or post here again if you need more help.

[2018-01-31 20:32] #2832 closed

[2018-01-31 20:37] glennc commented on #2823
Closing this as I think the question has been answered. @rajurh you will need to contact people that work on the Azure service you are using to talk about how to change the setting, now that you know which setting you need. Probably via one of the Azure support options. Whether or not it is possible really depends on what you are doing and which Azure service you are talking about, and we are not

[2018-01-31 20:37] #2823 closed

[2018-01-31 20:48] glennc commented on #2775
The idea here would be to catch the FileNotFound on open and do the same as if File.Exists was false (calling next).

[2018-01-31 21:09] muratg commented on #2775
@stephentoub Any thoughts on this?

[2018-01-31 21:20] stephentoub commented on #2775
I'm not clear on what the problem is.  What's the question?

[2018-01-31 22:07] muratg commented on #2675
This is a bug, but fixing it is a breaking change. We'll fix this in 3.0.0.

[2018-01-31 22:08] muratg commented on #2676
Closing per @danielmeza's last comment.

[2018-01-31 22:08] #2676 closed

[2018-01-31 22:09] muratg commented on #2676
@therealjohn if you still have issues, please ping me. Thanks.

[2018-01-31 22:10] muratg commented on #2677
👍

[2018-01-31 22:10] #2677 closed

[2018-01-31 22:11] ThatDeveloper commented on #2840
@pranavkm As I mentioned the file exists and .Exists return true.
@Eilon The directory is right. I checked it multiple times. (In visual studio on Windows and on Mac with Rider) Both show the right directory. (Once a /Users/, and once a D:)

[2018-01-31 22:16] muratg commented on #2678
@JeanCollas Any chance you can share the Fiddler trace?

[2018-01-31 22:21] tanyado opened #2841 "Need two Http requests to set cookies"
In .NET Core, I have to send a two http requests manually – only the second post request will succeed.

    HttpClientHandler handler = new HttpClientHandler();
    handler.Credentials = new NetworkCredential(userName, userPass);

    HttpClient client = new HttpClient(handler);
    client.BaseAddress = new Uri(baseUri);

    // PROBLEM HERE:
    await client.PostAsync(requestUri, null); // The ex

[2018-01-31 22:25] muratg commented on #2681
@poke not sure if you're still following this bug, but that also would be a breaking change, so we have no plans as such. Closing this bug.

[2018-01-31 22:25] #2681 closed

[2018-01-31 22:26] muratg commented on #2682
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-01-31 22:27] #2682 closed

[2018-01-31 22:27] muratg commented on #2685
Closing per the last comment.

[2018-01-31 22:27] #2685 closed

[2018-01-31 22:30] muratg commented on #2686
This is a (subtle) breaking change. Putting this in 3.0.0. If there's more demand, we can reconsider this.

[2018-01-31 22:34] muratg commented on #2693
PR: https://github.com/aspnet/HttpAbstractions/pull/925

[2018-01-31 22:34] #2697 closed

[2018-01-31 22:36] muratg commented on #2761
Assigning to @JunTaoLuo for investigation.

[2018-01-31 22:40] JeanCollas commented on #2678
Hi,
Sorry I spent a lot of time trying to fix this.
I noticed that Redirect and RedirectLocal did not behave the same way on that issue.
I think the issue was caused by the referer header which received unencoded URL.

At the end I ended using this solution in the POST login method, that is probably not optimal at all but works for me:

[code]

[2018-01-31 22:45] samusaran commented on #2761
I'm sorry but I tested it from the dev branch and it works. The commit that fixed the problem was https://github.com/aspnet/HttpAbstractions/commit/b41d8656d5c6c522f9966793214b67753b24331a.

Thanks a lot.

[2018-01-31 22:56] Eilon commented on #2840
Ok closing this issue then.

[2018-01-31 22:57] #2840 closed

[2018-01-31 22:58] Eilon commented on #2841
Hi @tanyado , is this an issue with HttpClient or with ASP.NET Core?

cc @Tratcher in case you have any idea on this?

[2018-01-31 23:01] Tratcher commented on #2825
Related:
https://github.com/aspnet/HttpAbstractions/pull/988
https://github.com/aspnet/HttpAbstractions/pull/991

[2018-01-31 23:02] muratg commented on #2705
Closing per @davidfowl's recommendation

[2018-01-31 23:02] #2705 closed

[2018-01-31 23:03] muratg commented on #2692
Backlogging per @davidfowl's suggestion. We're accepting PRs for this though.

[2018-01-31 23:07] Tratcher commented on #2841
This issue was moved to dotnet/corefx#26722

[2018-01-31 23:07] #2841 closed

[2018-01-31 23:16] #2761 closed

[2018-01-31 23:32] poke commented on #2681
Yeah, I’m still following this. Too bad that we cannot do something about this because when I was upgrading from 1.0 to this, the type existing twice *was* the thing that broke it for me :/

But I understand your reasoning. Hope we can get rid of the old stuff soon.

[2018-02-01 00:02] mikaelm12 commented on #2629
Response Caching Middleware has been done and was released in 1.1 👍

[2018-02-01 00:02] #2629 closed

[2018-02-01 03:23] cheesebar opened #4760 "warn: Microsoft.AspNetCore.Server.Kestrel[22] Heartbeat took longer than "00:00:01" at "01/31/2018 19:56:53 +00:00"."
when i used 'dotnet app.dll' run dotnetcoremvc application on windows server,there only little traffic on this application,There is no response on website when i use browser access the second day,then i pressed enter key in console application,then show list

warn: Microsoft.AspNetCore.Server.Kestrel[22]
      Heartbeat took longer than "00:00:01" at "01/24/2018 14:22:35 +00:00".
warn: Microsoft.A

[2018-02-01 05:52] sandersaares commented on #2839
Thank you for the hint! I had no idea there was an entirely separate image for ASP.NET Core but in hindsight it makes perfect sense.

I wonder if this could somehow be more discoverable? No good idea how to make it so, though.

[2018-02-01 05:52] #2839 closed

[2018-02-01 06:52] Eilon commented on #2805
Hi @oliverjanik sorry for the delay, this got lost in a sea of browser tabs!

This isn't about components acting maliciously - it's all your own app, so there's no security boundary being crossed here. But it does enable components to act *cooperatively* to configure the application. Various components can each contribute their own interesting JsonSerializerSettings, such as registering additional

[2018-02-01 09:37] philip-reed commented on #1608
I am currently getting this error and I do not have a certificate error, nor do I have SSL enabled.  My app is hosted in IIS (not IISExpress).

web.Config:
![image](https://user-images.githubusercontent.com/7798175/35671455-5fb1f96c-0733-11e8-8541-4d46122e3019.png)

launchSettings.json:

![image](https://user-images.githubusercontent.com/7798175/35671423-4d40cfce-0733-11e8-93e6-e4aa9b29eb86.png)

[2018-02-01 10:04] sandersaares opened #2842 "Loading list from appsettings.xml fails"
I haven an appsettings.xml file with the following structure:

[code]

I wish to load this using the XML configuration loading pattern documented at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?tabs=basicconfiguration

Expected behavior: a list is loaded, accessible as `aaa:0` and `aaa:1`

Actual behavior: System.FormatException occurred, Message=A duplicate key 'aaa' w

[2018-02-01 14:22] #2692 closed

[2018-02-01 17:26] Eilon commented on #2842
This issue was moved to aspnet/Configuration#770

[2018-02-01 17:26] #2842 closed

[2018-02-01 18:07] muratg commented on #2775
@stephentoub `FileStream` throwing `FileNotFoundException` for a symbolic link instead of opening it. I was wonderingif this is by design, compatible across OSes, etc.

[2018-02-01 18:13] stephentoub commented on #2775
The symlink is broken, meaning it points to something that doesn't exist?  If so getting a FileNotFoundException for it is by design; that's true across OSes, is the behavior for .NET Framework on Windows, etc.

[2018-02-01 18:21] muratg commented on #2775
@stephentoub thanks for verifying!

@natemcmaster I think catching FileNotFound and ignoring it (with a trace?) should fix this.

[2018-02-01 18:28] Tratcher commented on #2775
Ignoring it would take a little more work than catching the exception. This happens long after File.Exists checks so components have already acted on it. E.g. StaticFiles has set response headers and is ready to write the body. PhysicalFileProvider can't catch the exception, StaticFiles and other consumers must. They'll have to be reorganized to react to a late failure.

[2018-02-01 18:37] muratg commented on #2775
Is there an API to check if a file is a symbolic link? If so, perhaps that must be called when `File.Exists` check is done?

[2018-02-01 18:40] Tratcher commented on #2775
Being a symlink isn't enough, you have to open it to know if it will succeed.

[2018-02-01 19:04] muratg commented on #2775
Sure, which can be done at the same spot right? Just trying to see how we can localize the fix as much as possible.

[2018-02-01 22:06] marian-margeta opened #2843 "DataProtection DPAPI - optional enthropy"
Why it isn't possible to change optional entropy when using DPAPI data protection?
[code]
I dug into the code and it turns out it is constantly set to `DPAPI-Protected Secret` in class [DpapiSecretSerializerHelper](https://github.com/aspnet/DataProtection/blob/b706a75e03f93d2f9175a7fc3339baa87ad653f0/src/Microsoft.AspNetCore.DataProtection/Cng/DpapiSecretSerializerHelper.cs#L24). I think it would

[2018-02-01 23:49] oliverjanik commented on #2805
In other words you're sacrificing API usability to cater for 5% use-case?

How about making 95% use-case easy and provide hooks for your fancy hypotheticals  to cover the rest?

[2018-02-02 00:40] davidfowl commented on #2843
/cc @blowdart

[2018-02-02 00:46] blowdart commented on #2843
Because Data Protection is meant to be simple. The more switches there are the more can go wrong.

Plus you're misunderstanding Purpose. It is NOT entropy. It's for key isolation and you *can* create data protectors with specific purposes [quite easily](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/using-data-protection).

[2018-02-02 00:50] ryanbrandenburg opened #2844 "Flaky test: No_exception_on_diagnostic_event_received_when_null_state"
I set `No_exception_on_diagnostic_event_received_when_null_state` to ignore for now because it [fails](http://aspnetci/viewLog.html?buildId=398653&tab=buildResultsDiv&buildTypeId=Lite_MvcTest#testNameId-1191126155908700483) sometimes. It should be investigated and re-enabled once fixed.

[code]

[2018-02-02 05:36] Eilon commented on #2805
@oliverjanik this hasn't been a common source of pain that we've observed so far, so we haven't been inclined to make changes to it.

But, to give a concrete example of why this design is important to us:

The default `JsonSerializerSettings` in ASP.NET Core MVC applications are not simply an empty `new JsonSerializerSettings()` - they have been customized to enable some important security setting

[2018-02-02 05:46] Eilon commented on #2844
@ajcvickers - can you assign someone to take a look at this flaky test?

[2018-02-02 05:52] oliverjanik commented on #2805
I'm not sure I follow. Are you saying that you can't think of any other way how to prevent TypenameHandling changes? This was the only design option?

Because doing `settings.TypeNameHandling  = TypeNameHandling.None` after all the components are loaded seems a surefire way to do it.

On a related note, maybe AspNetCore team should be looking into shipping JSON seriliazer that is not broken out of

[2018-02-02 09:17] marian-margeta commented on #2843
@davidfowl Thank you for your response.

Ok, maybe I am misunderstanding something, I discovered DPAPI just a few days ago. But according to the code at [DpapiSecretSerializerHelper L85](https://github.com/aspnet/DataProtection/blob/b706a75e03f93d2f9175a7fc3339baa87ad653f0/src/Microsoft.AspNetCore.DataProtection/Cng/DpapiSecretSerializerHelper.cs#L85) it calls native DP API `Protect` function with

[2018-02-02 09:37] chenzhitong commented on #1950
Looks like the problem I encountered, when my site is running for one weeks, will be inaccessible, the browser has not responded, and then request timeout. The Web site is hosted in a virtual machine. But I can use localhost on the server is normal access. It doesn't work when I restart website and restart IIS. It doesn't start working until I restarted the server.
Note: My site is HTTPS, and when

[2018-02-02 17:11] muratg opened #5912 "Support port command line argument"
_From @evil-shrike on October 13, 2017 20:59_

`CreateDefaultBuilder(args).UseConfiguration(configuration)` works fine and allows to supply an url via cli: `dotnet run --urls http://localhost:5000`.
But it'd nice to support `--port` argument as well:
`dotnet run --port 5000`
Usually we don't need specify IP but only port.
It was suggested by many people in https://github.com/aspnet/KestrelHttpServ

[2018-02-02 17:49] Eilon commented on #2805
@oliverjanik we don't want ASP.NET Core to *force* that option by setting it last because there are legitimate scenarios where it is safe to use. For example, if the application is an internal web API that is accessible by only trusted clients, using other `TypeNameHandling` options is perfectly fine. It's just not a safe default for *most* applications.

It's difficult (or impossible?) to create

[2018-02-02 18:03] ajcvickers commented on #2844
Potentially fixed by: https://github.com/aspnet/Diagnostics/pull/435

[2018-02-02 18:03] #2844 closed

[2018-02-02 19:02] blowdart commented on #2843
Oh I see.

OK, so, we use DPAPI to protect the keys themselves, so a fixed entropy is good here, otherwise you're never getting those keys *back*. If we allowed you to make it different each time that'd be rather problematic for things we use it for like CSRF, or TempData.

Now, if you want to use it yourself for secrets, and want a password, then you can use the Purpose when creating a protector

[2018-02-02 19:45] priyanshu92 commented on #2319
Can I take this up?

[2018-02-02 19:56] blowdart commented on #2508
OK this does need to be the other way around. @GrabYourPitchforks do you want to create an issue in .NET Core and drive this?

[2018-02-02 19:57] blowdart commented on #2510
@Eilon says back porting is not going to happen

[2018-02-02 19:57] #2510 closed

[2018-02-02 19:58] blowdart commented on #2513
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-02 19:58] #2513 closed

[2018-02-02 19:59] #2514 closed

[2018-02-02 20:00] blowdart commented on #2517
This is really old, but it looks like this is a bug in Windows unfortunately, so we await a fix from them

[2018-02-02 20:00] #2517 closed

[2018-02-02 20:02] blowdart commented on #2521
makecert is deprecated, and uses older certificate providers, so it's not that unexpected it'll choke on ServiceBus.

Use [Powershell](https://docs.microsoft.com/en-us/powershell/module/pkiclient/new-selfsignedcertificate?view=win10-ps) instead.

[2018-02-02 20:02] #2521 closed

[2018-02-02 20:02] #2522 closed

[2018-02-02 20:03] #2526 closed

[2018-02-02 20:05] blowdart commented on #2744
If we can't get a repo, there's not much we can do unfortunately. If it repos again please reopen this issue.

[2018-02-02 20:05] #2744 closed

[2018-02-02 20:05] blowdart commented on #2829
We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-02 20:05] #2829 closed

[2018-02-02 20:08] priyanshu92 commented on #2319
Could you please have a look [here](https://github.com/aspnet/CORS/compare/dev...priyanshu92:fix-duplicate-header-names)?

[2018-02-02 20:12] Tratcher commented on #2319
That's a start. Please submit a PR.

[2018-02-02 20:14] GrabYourPitchforks commented on #2508
I opened https://github.com/dotnet/corefx/issues/26796 to track improving perf of Rfc2898DeriveBytes. No guarantees at the moment because I'm not sure what constraints will be placed on us when making changes or exposing Span in public API surface.

[2018-02-02 20:19] HappyNomad opened #2845 "Asp.Net Core template not working for project name with spaces"
I'm running the latest official releases (as of today) of Visual Studio and the packages.  The exception message says:

Assets file 'C:\Users\Me\Documents\Visual Studio 2017\Projects\My Solution\WebAPI (some thing)\obj\project.assets.json' not found. Run a NuGet package restore to generate this file.

When I remove the ` (some thing)` from the project name then it works.

[2018-02-02 20:26] natemcmaster commented on #2845
This appears to be an issue with [NuGet](https://github.com/nuget/home/issues), not ASP.NET Core.

[2018-02-02 20:54] javiercn opened #5764 "Add additional functional tests to Identity UI"
This is a tracking issue for all the remaining automation we want to add.
- [ ] Validation (ensure that all forms that we render validate data correctly).
- [x] Login/Register with 3rd party login provider (We need to fake a provider, but that should be relatively trivial)
- [x] Register with password then add social login.
* Create a new account with a user name and password.
* Enable link a 3rd

[2018-02-02 21:47] danroth27 opened #2846 "Discussion for ASP.NET Core 2.1 high-level planning"
https://github.com/aspnet/Announcements/issues/288

[2018-02-02 22:34] cwe1ss commented on #2771
+1. Info logs are too noisy. Setting the level for Microsoft.* to Warning is always one of the first things I do.

[2018-02-02 23:08] cwe1ss commented on #2736
Why Github hasn’t introduced a proper notification system yet really is beyond me. There’s now so many huge projects managed by big corps and all of them have the same problem. And everyone’s just wasting time by building weird bots that don’t work properly anyway.

Why don’t you people unite and put more pressure on the Github team??

I think that e.g. a simple new watching-option called “Be noti

[2018-02-02 23:10] davidfowl commented on #2736
I’m not a fan either, now I wish GitHub had first class isssue moving.

[2018-02-02 23:13] Eilon commented on #2845
Closing as external.

[2018-02-02 23:13] #2845 closed

[2018-02-02 23:22] javiercn commented on #2669
I spoke about this with @rynowak a while ago and I spoke to @Tratcher too.

There are some security implications with not completely escaping the path as we need to deal with things like "/Path/../../../" but Kestrel and IIS take care of those things on the inbound path.

We can special case the way we encode a catchAll parameter when we build the url by just creating a new instance of PathString

[2018-02-03 00:32] javiercn commented on #2669
This would be a breaking change, so we need to think about if we are willing to take it.
@mkArtakMSFT I'm sending this back to triage.

[2018-02-03 01:17] John0King commented on #2846
Can you guys design an  official  Module System for Asp.Net Core ?   without that , anyone just need to  create their own module system

[2018-02-03 01:28] davidfowl commented on #2846
We have no plans to do so. Look at orchard.core, it’s has a well designed module system and also has a bunch of modules.

[2018-02-03 03:47] kevinoid opened #6005 "app.UseForwardedHeaders() does not use X-Forwarded headers"
As @ygoe mentioned in https://github.com/aspnet/Docs/issues/2384#issuecomment-360923957, the behavior of `.UseForwardedHeaders` without arguments is unexpected and counter-intuitive.  Since I was just caught by this as well, I decided to open this issue.  Would it be possible to either have `.UseForwardedHeaders` default to `ForwardedHeaders.All` or to remove the zero-argument overload of this met

[2018-02-03 22:30] juho-hanhimaki commented on #2669
I run into this issue in API projects quite often and the workaround is pain in the ass. So my vote to fix this in future.

[2018-02-04 03:27] sdrapkin opened #2847 "DataProtection - small optimization"
[DataProtection - Extensions - TimeLimitedDataProtector.cs](https://github.com/aspnet/DataProtection/blob/d0dea3ca5fb605b8d6f22f410e1baf3917e55aa6/src/Microsoft.AspNetCore.DataProtection.Extensions/TimeLimitedDataProtector.cs#L103)

Change to

[code]

[2018-02-04 13:53] marian-margeta commented on #2843
So if I create the protector e.g. in this manner:
[code]
can the protected data be decrypted only with knowing the password? In the [doc describing the Purposes](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/consumer-apis/purpose-strings) there is stated that `The purpose string doesn't have to be secret`. Thus, If I use the `Purpose` with secret would it be secure enough i

[2018-02-04 14:54] marian-margeta opened #2848 "ASP .NET core async requests - performance"
I created simple ASP .net core 2.0 web-api application to try performance of async requests. In the `SampleController` I created `Get()` method where I call 10s async `Delay` and then I return the time when the request was called.  However, if I run the server (in console) and manually call this web method from my browser in multiple tabs approximately simultaneously, the first request ends after

[2018-02-04 15:27] davidfowl commented on #2848
Try a different client?

[2018-02-04 15:27] davidfowl commented on #2847
Send a pull request please 😄

[2018-02-04 16:16] doggy8088 commented on #2669
@juho-hanhimaki Is there any workaround on this issue right now?

[2018-02-04 16:25] doggy8088 commented on #2669
@javiercn May I ask why this issue would be a breaking change?

[2018-02-04 18:03] marian-margeta commented on #2848
What client do you mean?

[2018-02-04 18:14] davidfowl commented on #2848
Not a browser or a different browser, or fiddler, or wrk, any client really. The browser does weird things sometimes. Also, requests may not exactly end after 10 seconds  depending on the load, continuations for timer callbacks are scheduled on the thread pool and if that's overloaded then the timer won't fire on time. Though a 5 second difference isn't likely if there isn't much load on the syste

[2018-02-04 18:49] javiercn commented on #2669
@doggy8088 Because the '/' are getting encoded right now into '%2F' and they won't be if we do this change, and that has the potential to break people's apps depending on how their webservers are configured.

[2018-02-04 18:56] marian-margeta commented on #2848
I measured the duration of the requests according to the console logs. By default, each request prints info about its duration, e.g.:
[code]
But in fact, each request has approximately 10s duration. The problem is, when the request started. The first started immediately and the rest after ~5s. This was tested with Firefox 58.0.

And you are right, the problem is in the client. I tested it with chr

[2018-02-04 18:56] #2848 closed

[2018-02-04 21:29] davidfowl opened #2849 "Consider replacing InlineStringBuilder with ValueStringBuilder"
https://github.com/dotnet/corefx/blob/5d71d9ea70418c26874949b36e6434c4849fde52/src/Common/src/CoreLib/System/Text/ValueStringBuilder.cs#L11

We should look at the places where we use InlineStringBuilder today and consider replacing those instances with ValueStringBuilder (of course measuring performance along the way). We can also look at places where we use a StringBuilder (like QueryString.Add/C

[2018-02-04 22:36] KathleenDollard commented on #2738
@hishamco Unfortunately Razor was implemented so that VB and C# were separate paths. I've talked to a few people involved and it's quite a large project.

[2018-02-04 22:51] tb-mtg commented on #2738
@KathleenDollard  There are other .NET Core projects that support custom ViewEngines for [.pug](https://github.com/AspNetMonsters/pugzor) & [.md](https://github.com/hishamco/MarkdownViewEngine) file types.

Surely we can make it work for .vbhtml razorpages files using a .vbproj  with `<Project Sdk="Microsoft.NET.Sdk.Web">`.

[2018-02-04 23:15] KathleenDollard commented on #2738
@tb-mtg It's all open source if you want to explore it and see what those projects did. The folks that wrote it told me it was a big effort. The size of the effort and the exceedingly low adoption of vbhtml in earlier versions of MVC make it a hard sell.

[2018-02-05 00:19] jarrodldavis opened #2850 "Vue CLI SPA Template"
Hello ASP.NET Team,

I'd like to work on updating the [existing Vue SPA template] to use the new `3.0` version of [`@vue/cli`].

Before I just jumped in, I had some questions:

- Does updating this template align with your roadmap? If so, what release should I target for/when should I start? I would assume at the very least once `@vue/cli` releases a stable version (it's currently at `3.0.0-alpha.

[2018-02-05 03:18] doggy8088 commented on #2669
@javiercn It’s obviously a bug on encoding when using catchall routing. I think there is nobody will relying on this feature and the workaround right now is not affecting if you patched this bug.  If user’s backend server is using IIS, no matter what they apply this patch no not, they won’t be affected either. If user use Apache Web server, there is same things. No one will be affected. So I don’t

[2018-02-05 03:21] doggy8088 commented on #2669
@javiercn Please have a look at my study here: https://github.com/Azure/azure-functions-host/issues/2249#issuecomment-353762199

[2018-02-05 09:25] markusschaber commented on #2736
I support the "Be notified of new conversations" idea, but I also suggest a "be notified of announcements" - where the project maintainers can explicitly label specific conversations / issues etc as "announcement", and a "be notified of new releases" option. :-)

[2018-02-05 14:03] hishamco commented on #2738
@KathleenDollard I will repeat my question again, If I re-implement the Razor to emit VB instead of C# is that gonna work, or the MVC is tightly coupled on the cshtml C#?

[2018-02-05 16:06] chakrabar commented on #1558
As of Feb 2018, `Microsoft.AspNet.WebApi.Client v5.2.4-preview1` is available on NuGet and is compatible with `.Net Standard 2.0`, project build without warnings.

[2018-02-05 17:20] Eilon commented on #2738
@hishamco that would be a good question for @rynowak . Ryan?

[2018-02-05 17:25] rynowak commented on #2738
MVC's runtime compilation engine uses C#, and expects/requires the C# project system's settings to be passed through `.deps.json`.  MVC doesn't have any tight coupling to the code that is generated, but rather it provides infrastructure for compiling C# views at runtime using settings generated by a C# project.

Anyone who wants to compile VB at runtime will need to implement a view engine that do

[2018-02-05 17:45] Eilon commented on #2846
You can find OrchardCore here: https://github.com/OrchardCMS/OrchardCore

[2018-02-05 18:05] muratg commented on #2850
cc @SteveSandersonMS

[2018-02-05 18:12] muratg commented on #2850
This issue was moved to aspnet/templating#302

[2018-02-05 18:12] #2850 closed

[2018-02-05 18:17] pranavkm opened #2851 "[Diagnostics] Consider wrapping Response.OnStarting in error handling middleware"
Based on discussion here - https://github.com/aspnet/Mvc/issues/7003#issuecomment-342986502. Mvc uses Response.OnStarting to serialize TempData in the event a ResourceFilter OnResourceExecuted did not get to it first (e.g. if an action directly wrote to the response body). In the event serializing TempData throws (for instance if the value is a type it does not support), the server will return an

[2018-02-05 18:17] pranavkm commented on #2851
cc @Tratcher \ @halter73

[2018-02-05 18:21] mkArtakMSFT commented on #2792
We're closing this as we don't want to have validation logic which is applicable to one scenario and applies to all the cases.

[2018-02-05 18:21] #2792 closed

[2018-02-05 18:34] hishamco commented on #2738
Thanks @rynowak for you clarification

If I implement a VB view engine - or clone C# one with modification -, what settings that I need to pass into `.deps.json` to make this happen?

[2018-02-05 19:00] Tratcher commented on #2851
Note you'd also have to intercept the response body first-write's to trigger the wrapped Response.OnStarting.

[2018-02-05 19:33] priyanshu92 commented on #2366
I think this is already fixed

[2018-02-05 19:51] sbrian26 commented on #1558
I install the preview... (nuget) then on compile...Error: Detected package downgrade: Microsoft.AspNet.WebApi.Client from 5.2.4-preview1 to 5.2.3. Reference the package directly from the project to select a different version......

**What does it mean reference the package directly from the project?**

[2018-02-05 20:22] Eilon commented on #1558
@sbrian26 - you probably have another package in your app that is requesting a lower version of that package. You can add an explicit reference to that package version to force NuGet to pick the one you want.

[2018-02-05 21:02] peterblazejewicz opened #5413 "Use action specific call-to-action label for forgot password form"
The form bears a generic 'Submit' button, while most of the others (or all) have action-specific call to user (Log In, Register, etc)

![image](https://user-images.githubusercontent.com/14539/35828413-adb3a2a2-0abf-11e8-90b8-4458d84b9979.png)

It could be labelled as `Reset Password` to comply with docs section:
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?tabs=a

[2018-02-05 21:19] javiercn commented on #2415
We will be providing a sample on how to do this. Closing this issue and pointing to the other issue for tracking https://github.com/aspnet/samples/issues/2

[2018-02-05 21:19] #2415 closed

[2018-02-05 21:21] javiercn commented on #2411
Signing in/out only changes the identity of the user for subsequent requests. There is no need to remove the antiforgery token after sign out as a new antiforgery token will be generated on the next get request that renders a form. For SPA scenarios an antiforgery token can be provisioned through an explicit endpoint.

We will be providing a sample on how to do this. Closing this issue and pointin

[2018-02-05 21:21] #2411 closed

[2018-02-05 21:43] #2827 closed

[2018-02-05 22:58] halter73 commented on #2851
@Tratcher Are you saying you'd need to intercept the application's response body writes so they don't corrupt the diagnostic error page? Or are you saying something else?

[2018-02-05 23:08] Tratcher commented on #2851
You'd need to intercept the first write, fire your shimmed OnStarting events, catch the exception, insert your own writes for the diagnostics page, make the user's write throw, and prevent any future user writes. You'd also have to shim the send-file feature and opaque and websocket upgrade features as they all trigger OnStarting.

[2018-02-05 23:37] halter73 commented on #2851
Couldn't you decorate IHttpResponseFeature.OnStarting immediately instead of waiting to intercept the first write?

We should also make the Writes no-op instead of throw. This is what happens when an OnStarting throws without any diagnostics page.

[2018-02-05 23:45] Tratcher commented on #2851
You would decorate it immediately, but you can't let Kestrel trigger it, if it does then kestrel will send the empty 500 response for you. You have to intercept the first write to trigger the event yourself so that Kestrel never sees the write or the failure so you can still write.

[2018-02-06 00:01] halter73 commented on #2851
I was wrong about the no-op. Kestrel will throw an ODE from Write if OnStarting throws. If the diagnostic middleware rethrows from OnStarting, we should be able to keep the same behavior.

As for writing a response yourself, it's possible to beat Kestrel to writing the 500. E.g. the following works:

[code]

Disclaimer 1: The Diagnostics middleware will either have to set the content length like a

[2018-02-06 00:27] kumpera commented on #2786
Hey @natemcmaster this is a blocking issue to your coworkers in the mono team. It's blocking us from using asp.net core.

[2018-02-06 00:30] livarcocc opened #2852 "dotnet SomeAssembly.dll not loading appsettings.json"
_From @giridharprakash on February 2, 2018 4:46_

## Steps to reproduce
create new dotnet core web api project
Get some configuration from appsettings.json in Startup.cs like eg connection string
dotnet publish -c Release
Now go to publish directory and run dotnet Assembly.dll

## Expected  behavior
While debugging in visual studio everything working fine
but when i run from command line then it's

[2018-02-06 01:06] Eilon commented on #2786
@kumpera - can you email me and Dan and Steve about this?

[2018-02-06 04:25] #2679 closed

[2018-02-06 05:05] davidfowl commented on #2852
@giridharprakash you need to run the application from the correct folder. By default, the content root (the root path where config files are searched) is the current working directory.

[2018-02-06 07:01] John0King commented on #2846
@davidfowl  @Eilon   OrchardCore is a great project, and It is really big, and it's under beta I think. (I like their module system) but there are **no Document** tell me how the module system work ( currently  I don't understand how they control the DI ) .

If there an "official Module System" , I think that can make many component can  be use in  anywhere. and  will help spread .net as well .

[2018-02-06 07:04] davidfowl commented on #2846
@sebastienros can you comment on this?

[2018-02-06 08:13] MisterGoodcat opened #4873 "Localized views with Razor Pages"
In Razor Pages, we can inject IViewLocalizer to work with localized resources - good. But sometimes, especially on content-heavy, rather static pages, it would be nice to have location specific views, i.e. `MyPage.en.cshtml` and `MyPage.de.cshtml` etc.

My expection was that once I configure `AddViewLocalization(LanguageViewLocationExpanderFormat.Suffix, ...)` Razor Pages also would be resolved by

[2018-02-06 09:04] mbedded commented on #2462
Hello together,
is there a solution or workaround available? I guess i am running into the same problem as mentioned by @Tratcher above. I accept a socket and the complex handling is done in a separate class which contains a loop to receive new messages and handle them. It enables a better separation of logic.

I get the same issue as refered in aspnet/Home#2460. I created some breakpoints into my

[2018-02-06 09:08] lumogox commented on #2457
Any updates on this?

[2018-02-06 10:28] mika76 commented on #2462
I used the post at https://radu-matei.com/blog/aspnet-core-websockets-middleware/ for creating a notification websocket but am hitting the issue in #2742. Some guidance on properly connecting and handling websockets would be very appreciated. 🙏

[2018-02-06 11:36] #2790 closed

[2018-02-06 15:34] blowdart commented on #2843
You still need the keyring obviously. purposes don't _have_ to be secret, for example we have them in our code base, but they way they're used does mean that you could use them from user input and it lock a payload to being only able to be unlocked to someone with the purpose.

Now we don't recommend this, because creating purposes from user input does mean an attacker could, for example, fake a C

[2018-02-06 15:41] masums commented on #2768
Now waiting for version 2.1.0 if we still fetch this performance issue at version 2.1.0 then we will let you know that.

[2018-02-06 15:41] #2768 closed

[2018-02-06 16:18] #2847 closed

[2018-02-06 16:35] anurse commented on #2462
Can either of you provide a sample repro of the issue you are seeing? Also, seeing the stack trace would be very helpful.

[2018-02-06 16:35] davidfowl commented on #2742
@hscanlan any info on this?

[2018-02-06 16:43] Tratcher commented on #2851
Writing to the body inside OnStarting is asking for trouble. That's not something we can recommend to anyone, let alone use ourselves.

[2018-02-06 17:03] poke opened #2853 ""Unexpected end of Stream" when resubmitting file upload in Firefox"
Hey, I’m hitting the following error when trying to *re-submit* a file upload in Firefox by refreshing the page (and confirming to resend the data). It does work fine in other browsers…

[code]

This is pretty easy to reproduce. Starting with the MVC template, add the following action to the `HomeController`:

[code]

and then add the following super simple form to the `Index.cshtml` to display a

[2018-02-06 17:14] BillHiebert commented on #2051
@genifycom  - btw this is fixed in the latest previews of Visual Studio. There is now a tools option to turn it off.

![image](https://user-images.githubusercontent.com/1553785/35873277-1a04be9c-0b1e-11e8-81d1-95f1cc1a1450.png)

[2018-02-06 17:27] Eilon commented on #2853
@Tratcher any ideas on this?

[2018-02-06 17:35] Tratcher commented on #2853
@poke can you capture a Fiddler trace of the original request and the re-submission?

[2018-02-06 18:32] Eilon commented on #2786
This issue was moved to aspnet/Blazor#42

[2018-02-06 18:39] poke commented on #2853
Fiddler was a good idea. Turns out, Firefox simply doesn’t actually resend any data but just starts the multipart message without actually including the file.

This is the request body in the first request:

[code]

And this is when resubmitting:

[code]

So the body isn’t even terminated properly. I assume this happens because Firefox cannot reopen the file itself there and is not able to read fr

[2018-02-06 18:48] #2853 closed

[2018-02-06 19:18] Eilon commented on #2786
@anurse - any idea on who the right contact is for V8 debugger + WebSockets?

[2018-02-06 22:02] kumpera commented on #2786
Hey guys,

Sorry for the lousy repro. Here's the simplest one I could come up with that shows the issue:
https://github.com/kumpera/websockets-issue

I have strong reasons to believe this is an issue with asp.net as I managed to get such a proxy working with multiple alternative websockets implementations.

[2018-02-06 22:21] BeLumbreras commented on #1982
Change the localhost port
Properties of Project --> Web --> URL Project localhost:15115 -->Create virtual directory
SAVE and RUN
Good luck

[2018-02-06 22:46] Eilon commented on #2786
Thanks @kumpera .

[2018-02-07 01:39] tpeczek commented on #2462
@mika76 Sorry for coming out of nowhere, but I'm currently working on post on this subject in context of my demo project (https://github.com/tpeczek/Demo.AspNetCore.WebSockets) and I have stumbled uppon this issue while gathering materials. I believe the core of the problem is that socket is not removed from the manager when connection is being closed prematurely.

The connection being closed prem

[2018-02-07 04:41] javiercn opened #5469 "Optimize mono runtime"
We need to figure out what parts of mono.wasm and mono.asm.js we are using and remove everything else.

The original approach is described below.

1. In your wasm binary, implement a function that takes an i32 and, when called, passes it through to
   JS code. On the JS side, track which numbers you receive.
2. Convert the original .wasm file to .wast using 'wasm2wat' from https://github.com/WebAs

[2018-02-07 05:24] mbedded commented on #2462
As mika76 mentioned above: I used the same URL as a base for my application. As core i use following code/classes. I pass the socket to a class which handles the socket-interactions. I planned to make a new class like `new MyWebSocketHandler(socket)` and call something like `myHandler.Run()` but i guess (as mentioned by anurse above) that this won't work, will it?

[code]

[code]

Here a small exc

[2018-02-07 06:17] dougbu commented on #2684
Main change in aspnet/HttpAbstractions@7b9da556fb. Will close this issue once MVC and WebHooks reactions are done.

[2018-02-07 08:00] mika76 commented on #2462
@tpeczek you're absolutely right, even when catching the error, the manager had the reference to the faulted socket and kept trying to send data through it.

The interesting thing is that the socket keeps it's open status (the handler was checking the socket status before sending but it was always open) - I would suggest the framework should probably close it if it ever has to throw this Exception

[2018-02-07 08:31] grahamehorner opened #5470 "Caching"
Please consider how Blazor could request or inject content/embedded resources into a browser cache form display rendering ie. images, fonts, etc

[2018-02-07 15:51] grahamehorner opened #5471 "Runtime Culture and Localization"
Please consider browser runtime cultural and allow switching of culture with in the Blazor environment

[2018-02-07 17:01] Tratcher opened #2854 "WebSocketMiddleware should dispose the WebSocket when the pipeline exits"
We get quite a few reports where developers have upgraded to a WebSocket , handed it off to a background thread for processing, and then allowed the application pipeline to exit. This causes the server to close the underlying connection and you get vague ObjectDisposedExceptions from WebSocket Send/Receive.

The cause of the problem could be made more clear by having the WebSocket middleware wrap

[2018-02-07 17:18] #2650 closed

[2018-02-07 17:18] anurse commented on #2854
I'm in favor of this, but I do want to point out that this could be seen as a breaking change. It is theoretically possible for the WebSocket to remain usable after the middleware ends (if another middleware above WebSocket is still holding the connection open). With this change, as soon as the request leaves the WebSocket middleware, any send/receive actions would fail.

[2018-02-07 17:19] anurse commented on #2854
cc @davidfowl

[2018-02-07 17:20] davidfowl commented on #2854
It doesn't need to be when the middleware yields, we can do RegisterForDispose so it happens at the end of the request.

[2018-02-07 17:20] anurse commented on #2854
Sure, that would be a little nicer. I'm also filing a Kestrel bug because the exception message you get is super unclear and could easily be clarified.

[2018-02-07 17:25] anurse commented on #2854
https://github.com/aspnet/KestrelHttpServer/issues/2299

[2018-02-07 17:31] anurse commented on #2462
Depending on the circumstances, that might be something they'd consider. You could file it on dotnet/corefx if you wanted to open that discussion.

Nope, that sounds pretty good. It's definitely correct that when that error occurs, the socket is broken and can never be recovered. Might as well remove it then :).

[2018-02-07 17:40] Tratcher commented on #2854
RegisterForDispose executes after the response ends. We're trying to preempt those errors.

[2018-02-07 17:43] anurse commented on #2786
Sundar Pichai? But seriously no.

[2018-02-07 18:16] Eilon commented on #2786
Well, for the .NET Core Web Sockets implementation that would be used in this scenario. Is it ASP.NET Core's implementation, or a .NET Core one?

[2018-02-07 18:29] riiight opened #2855 "Unexpected no-cache headers on StaticFiles in ASP.NET Core 2.0"
In ASP.NET Core 1.x, static files were being cached automatically on browsers (I believe via the eTag response header). When I upgraded to ASP.NET Core 2.x, I noticed that none of my files (e.g. .images, .woff) were being cached anymore. It looks like many more response headers are now being returned by 2.x's StaticFiles by default. Included in them are:

- Cache-Control:no-cache, no-store
- Pragm

[2018-02-07 18:43] grahamehorner opened #5472 "Blazor Security/Authorization"
Please consider a claim/policy based client-side authorisation framework where user claims/cookies can be evaluated with in the blazor runtime, to enable/disable application functionality/ui features based on user claims/policy evaluation.

[2018-02-07 18:50] danroth27 commented on #2786
Folks, the issue being reported here is with the websockets support in ASP.NET Core. It's being used to setup a development server process for Blazor, but the issue is actually server side.

[2018-02-07 18:58] VAchris commented on #1528
Please vote for this issue at [https://feedback.azure.com/forums/908035-sql-server/suggestions/33241936-develop-a-ssrs-reportviewer-for-asp-net-core](https://feedback.azure.com/forums/908035-sql-server/suggestions/33241936-develop-a-ssrs-reportviewer-for-asp-net-core)

[2018-02-07 19:01] benaadams opened #2856 "StringValues should be a readonly struct"
It is an immutable struct with no changeable fields post construction and marking it as `readonly struct` will make it work more efficiently with the `in` parameter modifier

[2018-02-07 19:01] benaadams opened #2857 "StringSegment should be a readonly struct"
It is an immutable struct with no changeable fields post construction and marking it as `readonly struct` will make it work more efficiently with the `in` parameter modifier

[2018-02-07 19:01] benaadams opened #2858 "StringTokenizer should be a readonly struct"
It is an immutable struct with no changeable fields post construction and marking it as `readonly struct` will make it work more efficiently with the `in` parameter modifier

[2018-02-07 19:11] anurse commented on #2786
Looking at your sample, the reason you aren't seeing any errors is because you never observe the exception in the two "ProxyMsg" tasks you start up. When I added code to observe the exceptions I saw this error:

[code]

So the request shuts down because the browser is terminating it's connection without performing a close handshake. So it appears the disconnect is originating from Chrome. That soc

[2018-02-07 19:55] halter73 commented on #2851
Fair enough. Just be aware this is something that the app developer could do themselves when thinking about how diagnostics is going to wrap Response.Body.Write and Response.OnStarting. It would be good if writing in OnStarting still works after this change even if we'd never recommend doing it.

[2018-02-07 20:12] Tratcher commented on #2851
No, Write in OnStarting should not be allowed in the contract (even if functionally prohibiting it is hard). This caused a lot of problems back in Katana, some of which are:
- The server isn't expecting it so it can cause re-entrency, deadlocks, stackoverflows, etc..
- If OnStarting was triggered by the app writing to the response body you have no way to prevent that write from continuing after yo

[2018-02-07 20:36] cwe1ss commented on #2736
@markusschaber check out https://about.sibbell.com/ - it will send you emails whenever a new release is published on any of your starred/watched projects.

[2018-02-07 22:51] mkArtakMSFT commented on #2789
Hi @grahamehorner. It seems you just need to define your routes in an order you want them to be handled. If a request can't be matched with a route, it'll be evaluated against the next one - in the order those have been defined in the Startup class.

[2018-02-07 22:51] #2789 closed

[2018-02-07 22:54] mkArtakMSFT commented on #2804
@natemcmaster, are you suggestion to modify the .NET SDK to handle this for us?

[2018-02-07 23:00] mkArtakMSFT commented on #2780
@blowdart, is there some recommendation we can provide to @naveedahmed1?

[2018-02-07 23:02] blowdart commented on #2780
Aside from contact Azure support and request they fix the CDN to do the right thing? No.

[2018-02-07 23:07] dougbu commented on #2684
- aspnet/Mvc@50af871396
- aspnet/WebHooks@a05a07c420

[2018-02-07 23:07] #2684 closed

[2018-02-07 23:18] natemcmaster commented on #2804
Not exactly. I'm suggesting you don't need to write an entire MSBuild task to do this. The SDK has a feature you can chain into. All Microsoft.Extensions.Localization needs is to add a package file `build/Microsoft.Extensions.Localization.props` that contains this:

[code]

[2018-02-07 23:24] mkArtakMSFT commented on #2772
@rynowak, can you please look into this? Thanks!

[2018-02-07 23:34] Tratcher commented on #2319
@mkArtakMSFT this is only half fixed. CORS no longer uses the duplicate values, but they are public and could not be removed in 2.1. Re-opening to follow up in 3.0.

[2018-02-08 07:29] markusschaber commented on #2736
@cwe1ss Thanks, I'll try it out. :-)

[2018-02-08 09:07] mbedded commented on #2462
Hello together,
i found a solution now, too. In my case the "DEBUG" Build from VisualStudio (somehow) broke my application.

As i compiled i got a folder like "Client" with `Client.exe` and the needed DLLs. As i started Client.exe twice (from same location) it may cause some issues so the Server got a "ObjectDisposedException".
As test i copied the exe and dlls into a separate folder (lets call th

[2018-02-08 10:44] prakashkaruppiah opened #2859 ""ng2-radio-group" import { Validator, ControlValueAccessor, Control } from "@angular/common";"
We used to ng2-radio-group, but we got the following error,

ERROR in node_modules/ng2-radio-group/CheckboxGroup.d.ts(1,10): error TS2305: Module '"D:/Angular-Workspace/code/node_modules/@angular/common/common"' has no exported member 'Validator'.
node_modules/ng2-radio-group/CheckboxGroup.d.ts(1,21): error TS2305: Module '"D:/Angular-Workspace/code/node_modules/@angular/common/common"' has no exp

[2018-02-08 12:06] Matthew-Bonner opened #2860 "Querystring in path when calling ExceptionHandlerExtensions.UseExceptionHandler causes white screen of death"
Using a querystring in the path when calling ExceptionHandlerExtensions.UseExceptionHandler causes a white screen of death.

app.UseExceptionHandler("/Error/Index");

Works

app.UseExceptionHandler("/Error/Index?foo=bar");

Doesn't.
[code]

Using ASP.NET Core 2.

[2018-02-08 12:09] Matthew-Bonner commented on #2860
Actually, could be my code will close for now

[2018-02-08 12:33] keyoke opened #2861 "Session State Question"
Hi,
I would like to understand if there is any technical reason why we store all Session State as a single byte stream? Which has to be Deserialized and finally parsed to extract key value pairs for our objects stored in session state. I may be wrong or missing something here but would it not be more optimal to store our session objects individually in a in-memory cache for example? In most causes

[2018-02-08 12:40] Matthew-Bonner commented on #2860
app.UseExceptionHandler("/Error/Index/bar");

Doesn't work either, it appears the arguments of the action method are not being populated.

[2018-02-08 14:43] Matthew-Bonner opened #2862 "StatusCodePagesExtensions.UseStatusCodePages causes a white screen of death for internal server errors"
StatusCodePagesExtensions.UseStatusCodePages causes a white screen of death for internal server errors which is not what I expected given:
https://github.com/aspnet/Diagnostics/blob/dev/src/Microsoft.AspNetCore.Diagnostics/StatusCodePage/StatusCodePagesExtensions.cs#L17

[code]

When visiting / using IIS Express.

ASP.NET Core 2.

[2018-02-08 16:38] Tratcher commented on #2862
UseStatusCodePages does not handle exceptions, you want UseExceptionHandler for that. The 500 you see is generated by the server after it catches the exception.

[2018-02-08 16:43] anurse commented on #2462
Agreed. That's what #2466 is tracking.

[2018-02-08 16:45] Tratcher commented on #2861
- Session is designed for distributed scenarios, e.g. across multiple servers, so the serialization is necessary.
- It's all loaded and committed together (we call it a coherent session) because some aspects of the session need to be managed together such as the timeout, refresh, enumeration, as well as the Clear feature. If you used an incoherent session of disassociated keys then the timeouts wo

[2018-02-08 17:52] Eilon commented on #2861
I'd like to add more to this:

In particular, what we found is that if the local session store used objects, developers would start storing data there that could not be serialized when they eventually switched to non-local session storage. By unifying on an API that was guaranteed to work on local and non-local storage, it makes the design more reliable.

[2018-02-08 17:53] Eilon commented on #2859
Hi @prakashkaruppiah , can you share more info about what you're trying to do? Is this using the ASP.NET Core JavaScriptServices feature?

cc @SteveSandersonMS in case you have thoughts.

[2018-02-08 18:55] Eilon commented on #2860
@Matthew-Bonner it looks like you can call this overload: https://github.com/aspnet/Diagnostics/blob/3a868d87a2458fd025ca71e2538b3a72f67c7c50/src/Microsoft.AspNetCore.Diagnostics/ExceptionHandler/ExceptionHandlerExtensions.cs#L84

And pass in a ExceptionHandlerOptions: https://github.com/aspnet/Diagnostics/blob/3a868d87a2458fd025ca71e2538b3a72f67c7c50/src/Microsoft.AspNetCore.Diagnostics/Exception

[2018-02-08 19:00] Tratcher opened #2863 "Add HostString.Matches method for matching wildcard subdomains"
When working with multiple Hosts an exact match is easy enough, but wildcard matching is a bit more work. E.g. I want to match all subdomains of foo.com.

Signature: bool Matches(string hostPattern); // Matches against the decoded instance
Signature: static bool Matches(string hostHeader, string hostPattern); // Matches against the raw encoded version
Port should be ignored, or we could make that

[2018-02-08 19:24] blowdart commented on #2855
@Rick-Anderson

[2018-02-08 19:52] hishamco commented on #2650
One note to @Elion, I notice in the comment https://github.com/aspnet/Home/issues/2650#issuecomment-354692586 that the links it's no longer point to the original repo after migrating the issues, I'm not sure if someone else notice that?!!

[2018-02-08 20:08] miloush opened #2864 "307 and 308 redirects"
Could there be HttpResponse.Redirect methods with 307 and 308 status codes? e.g.
[code]

[2018-02-08 21:01] Eilon commented on #2650
@hishamco thanks yeah that's a challenge for the bug porting script. Unless a full URL was used, the links to related issues can be broken. It's something I'm considering addressing in the future.

[2018-02-08 21:03] hishamco commented on #2650
Good Luck ..

[2018-02-08 21:47] jkotalik opened #2865 "Websockets: Add ANCM In proc tests."
We should add ANCM in process tests to the Autobahn test suite: https://github.com/aspnet/WebSockets/blob/dev/test/Microsoft.AspNetCore.WebSockets.ConformanceTest/AutobahnTests.cs. We can't add tests directly in the IISIntegration repo due to layering.

[2018-02-08 22:41] khellang commented on #2864
That method (with a different name) has been there since 2.0... See https://github.com/aspnet/Mvc/pull/6075

[2018-02-08 23:11] khellang commented on #2864
Ah, sorry, I re-read the question and see what you're asking now; an overload for this?

https://github.com/aspnet/HttpAbstractions/blob/e2dcbea4ecd5655392b6cce534eac820c508c699/src/Microsoft.AspNetCore.Http.Abstractions/HttpResponse.cs#L101-L107

[2018-02-08 23:13] miloush commented on #2864
Yes, overload for that, though I am not picky about the name. I am not using MVC this time.

[2018-02-08 23:15] khellang commented on #2864
I wonder why this method got "promoted" to be directly on the `HttpResponse` in the first place. It's not really much code, and it could easily be implemented as an extension method.

https://github.com/aspnet/HttpAbstractions/blob/e2dcbea4ecd5655392b6cce534eac820c508c699/src/Microsoft.AspNetCore.Http/Internal/DefaultHttpResponse.cs#L119-L131

[2018-02-09 00:00] ryanbrandenburg opened #2866 "Broken tests on ASPNETCI-A-116: EnsureCreateHttpsCertificate_CreatesACertificate_WhenThereAreNoHttpsCertificates"
aspnetci-a-116 is currently disabled because it fails the certificate tests. @javiercn will investigate and re-enable when he's fixed it.

[2018-02-09 01:38] Matthew-Bonner commented on #2862
That seems odd given the amount of references to error 500 whenever this method is mentioned.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling#configuring-status-code-pages

The comment linked to in the repo should be updated then if it isn't handling the 500 error as the comment implies that it will.

[2018-02-09 01:40] Matthew-Bonner commented on #2860
Thanks for coming back to me so quick. Is this the recommended way? Is using a querystring when calling UseExceptionHandler intended to be supported by design or are the classes mentioned added to allow this?

[2018-02-09 04:07] tobyhei commented on #2817
I don't see how registering the HttpContext as a scoped dependency is a footgun and IHttpContextAccessor as a singleton isn't.

When using the IHttpContextAccessor directly it's easy to hold onto the current request in a singleton for too long, with no protections offered by the framework to prevent this.

Whereas it is quite hard to misuse a scoped HttpContext now that the microsoft.extensions.de

[2018-02-09 04:16] davidfowl commented on #2817
I actually don't see a problem adding a helper to do that, it wouldn't be on by default just like the HttpContextAccessor isn't on by default. As also previously mentioned in this threadm one depends on the other so it would need to register both things regardless.

[2018-02-09 04:22] Eilon commented on #2860
@Matthew-Bonner I suspect we just didn't think it was common. You're probably the first to ask. I would certainly say that at this time it's the recommended way, even if only that it's apparently the *only* way 😄

@Tratcher - any further thoughts on this one?

[2018-02-09 05:02] Tratcher commented on #2862
Yeah, I can see the confusion. If the app code generates a 500 it will be handled, but your app is generating an exception, not a 500. The 500 you see is a last ditch effort from the server to handle the exception.

[2018-02-09 05:12] Tratcher commented on #2864
@khellang only because it's a very common operation and it existed in several prior object models.

An overload that exposed the status code would be a start.

[2018-02-09 05:40] Eilon commented on #2773
Hi. We're closing this issue as no response or updates have been provided in a timely manner. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-09 05:40] #2773 closed

[2018-02-09 05:40] Eilon commented on #2315
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-09 05:40] #2315 closed

[2018-02-09 05:41] Eilon commented on #2802
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-09 05:41] #2802 closed

[2018-02-09 08:20] khellang commented on #2864
It would, but I keep thinking it would be best to just keep in line with existing code and have the old overloads just call into the new one?

[2018-02-09 08:59] rynowak opened #5042 "Design time code generation is required to implement IDesignTimeDirectiveTargetExtension and maybe that shouldn't be required"
A few facts:
- Our default IR passes always generate a `DesignTimeDirectiveIntermediateNode` - even if there are no directives
- The `DesignTimeDirectiveIntermediateNode` tries to resolve the `IDesignTimeDirectiveTargetExtension` from the code target even when it is empty
- If you implement your own `CodeTarget` then you have a lot of work to do to get the set of default target extensions to show

[2018-02-09 10:22] SteveSandersonMS commented on #2859
@prakashkaruppiah This sounds like an Angular and/or TypeScript usage question, rather than anything specific to ASP.NET. Would you be able to review the Angular/TypeScript docs, and if needed, raise your question with one of those groups?

I'll close this because it doesn't sound related to ASP.NET, but if you have reason to believe it is ASP.NET-specific, could you please more details? Thanks!

[2018-02-09 10:22] #2859 closed

[2018-02-09 13:17] Matthew-Bonner commented on #2860
@Eilon not sure this will work, see https://github.com/aspnet/Security/issues/334

I'm hitting the same issue.

[2018-02-09 13:43] keyoke commented on #2861
Ok thanks for the clarification

[2018-02-09 13:43] #2861 closed

[2018-02-09 14:08] Matthew-Bonner commented on #2860
Based on your comment "We recommend using URL path segments to indicate this type of information." in the following https://github.com/aspnet/Security/issues/334 I will just go with using path segments.

[2018-02-09 17:07] Tratcher commented on #2860
We'd have to add a separate parameter for the query strings.

[2018-02-09 17:29] hishamco commented on #2631
@mkArtakMSFT seems this need to be closed

[2018-02-09 19:13] Pilchie opened #5043 "Linked Views not working in WebApplication"
_From @reaction1989 on February 9, 2018 8:50_

Hello,

i am trying to share the _Layout.cshtml over multiple projects. I created links in each project, but the application won't run.

I am getting this exception:

[code]
While googling i found this old entry on stackoverflow
https://stackoverflow.com/questions/24075105/can-i-use-views-in-folders-linked-from-other-projects

_Copied from original is

[2018-02-09 21:42] javiercn opened #4661 "CookiePolicyOptions sets minimumsamesitelevel to lax by default and that breaks oauth providers"
This happens when you plug-in the cookie policy middleware on the app and use an oauth provider for authentication.

[2018-02-09 22:22] natemcmaster opened #4385 "Configure certificate by thumbprint"
Would be nice if we could configure server certificates via thumbprint + store name.

Example usage in appsettings.json:

[code]

[2018-02-09 22:34] bruce-willis commented on #2846
I've asked already at [roadmap](https://blogs.msdn.microsoft.com/webdev/2018/02/02/asp-net-core-2-1-roadmap/) post, however no response has been received.

[2018-02-09 23:17] danroth27 commented on #2846
@bruce-willis Correct, this is partly for compatibility reasons and also to provide an explicit indication that you are building a web API.

[2018-02-09 23:25] khellang commented on #2846
@danroth27 Is there a way to globally enable those conventions without using attributes? If not, I'd like to request it 😝 I only ever build APIs with MVC (there's never a V 😉) and would ❤ to avoid more attributes.

[2018-02-10 00:16] danroth27 commented on #2846
I believe you could define your own controller base class that has the attribute and then derive all your controllers from that. Would that be sufficient?

[2018-02-10 00:38] rynowak commented on #2772
I can confirm that this is an issue in the latest internal VS I have as well as 15.5.X.

[2018-02-10 00:42] natemcmaster opened #2867 "Define a JSON schema for appsettings.json"
As we start to write more config binders for framework components, it becomes increasingly difficult for developers to discover settings that can be set in static config files. Documentation helps, but it would be even better if we could provide intellisense in the editor. Although config can be loaded from JSON, INI, XML, environment vars, and more, our new project templates and many apps use "ap

[2018-02-10 18:04] telalwar commented on #1719
@peske Thank you! Solved my problem.

[2018-02-10 22:04] Korporal opened #2868 "Just a word about incessant confusion"
I read [this article](http://no-kill-switch.ghost.io/current-state-of-net-through-not-so-rose-colored-glasses/) recently and found that it mirrors my own experiences, yes I know it's a year old.

It hit home so well that I emailed the blog author, here's a copy of my email to him - a cry for help I guess!

_I'm a very experienced developer and just beginning to open the Pandora's box of the whole

[2018-02-12 01:56] livarcocc opened #2869 "Naming Convention Issue"
_From @abhaldar on February 11, 2018 18:56_

## Minor Naming Fix for AntiForgery package
Currently -> AutoValidateAnti**f**orgeryTokenAttribute
ShouldBe -> AutoValidateAnti**F**orgeryTokenAttribute

_Copied from original issue: dotnet/cli#8590_

[2018-02-12 07:18] Eilon commented on #2869
Hi, the naming scheme we prefer is with the lower-case `f` because we consider `antiforgery` to be a single term. Some attributes in MVC use a capital `F` for historical reasons.

cc @rynowak @mkArtakMSFT

[2018-02-12 07:18] #2869 closed

[2018-02-12 10:43] mpoettgen commented on #2218
@davidfowl, @Eilon, does unassigning @anurse mean that Health Checks are not considered for 2.1 anymore? It wasn't mentioned in the roadmap announcements either. Would you consider doing health checks out of band and/or as a community effort? Thanks for the update.

[2018-02-12 13:35] DenisDollfus commented on #2051
@BillHiebert That looks perfect, thanks for sharing.
I don't see it in VS 2017 15.5.5. Is it part of preview 15.6?

[2018-02-12 15:40] mhamri opened #2870 "is order of httpresponse matter?"
vs2017, asp.net core 2. I was scratching my head about why this doesn't work, turned out the order matters and status code should placed before the writeAsync.  is it correct? it shouldn't build the response before it write to it?

this works
[code]
![image](https://user-images.githubusercontent.com/8991783/36104698-b31a3704-104d-11e8-8969-1f170024b45c.png)

this doesn't works

[code]

![image](ht

[2018-02-12 16:05] Tratcher commented on #2870
This is correct. The response body is not buffered by default so the status code and all headers must be set first. If generating your response body is likely to fail then consider doing it in memory and then writing it to the body.

[2018-02-12 18:14] andriysavin opened #5045 "Make ITagHelperComponent.Init asynchronous"
There are cases when I need to have asynchronous code in tag helper's `Init` method. Common example for `Init` usage is when I need to populate `Items` or `ViewData` for child tag helpers **before** they run. Basically, `Init` and `ProcessAsync` are just two steps of processing, which allow to order the logic parts between related tag helpers. So, its barely understandable why its not expected tha

[2018-02-12 18:27] Eilon commented on #2218
@mpoettgen I've assigned this to @glennc who I'm hoping can share some info on this.

[2018-02-12 18:30] #2870 closed

[2018-02-12 18:50] mkArtakMSFT opened #2871 "ActivatorUtilities needs to use the longest available constructor when multiple ctors are available"
_From @mkArtakMSFT on February 12, 2018 18:48_

_From @jbagga on February 5, 2018 21:54_

For cases that need a new constructor for a class (additional param), in order to avoid a breaking change we add an overload. However, `ActivatorUtilities` does not allow multiple applicable constructors.

[code]
This restricts `TagHelpers` from changing the constructors.

cc @rynowak

_Copied from original i

[2018-02-12 18:50] mkArtakMSFT commented on #2871
_From @NTaylorMullen on February 5, 2018 22:22_

I'd think if we wanted to support multiple ctors we'd take an approach of decorating the constructor we'd want to use with some sort of attribute to say "Use this constructor when activating". Other DI systems do this already.

Granted I think it'd be a bigger change outside of MVC if we were going to do this (don't think it's worth doing for just T

[2018-02-12 18:50] mkArtakMSFT commented on #2871
@jbagga, what are the scenarios this would enable?

[2018-02-12 18:50] mkArtakMSFT commented on #2871
_From @jbagga on February 6, 2018 17:59_

Multiple constructors for `TagHelper`s (and also other types that use `ActivitorUtilities` in MVC to create instances). But @rynowak said it was particularly problematic for `TagHelper`s

[2018-02-12 18:50] mkArtakMSFT commented on #2871
_From @rynowak on February 7, 2018 3:17_

We have created a potential problem for our users everywhere that we use `ActivatorUtilities`. This includes things like tag helpers, controllers, view components, page models, filters, etc.

`ActivatorUtilities` only supports a single constructor (in our use cases).

This means that if you both:
1. Need to add constructor parameters
2. Care about making b

[2018-02-12 18:50] mkArtakMSFT commented on #2871
We just had a meeting about this and the solution we will go forward for ActivatorUtilities will be to take the only longest available public constructor for instantiation.

[2018-02-12 19:10] DamianEdwards commented on #2308
Closing this as only bug-level items left if any.

[2018-02-12 19:10] #2308 closed

[2018-02-12 19:49] vsccarl opened #2872 "VS project system error on ASP.NET Core Web App creation"
D15.6\27411.00

**Steps:**
1. File > New Project > C# > ASP.NET Core Web Application
2. Select Web Application with default settings

**Actual:**
![image](https://user-images.githubusercontent.com/12900364/36116311-a3f2af76-0fea-11e8-83ec-5e85e3189a88.png)
It only appears to repro the first creation of a Web App.

**Logs:**
[code]

[2018-02-12 19:58] ChristopherRobinSuperStar commented on #2846
Will be there sqldependency cache in core 2.1?

[2018-02-12 20:11] jdmallen commented on #2024
I ran into this same exact error. I'll create a new ticket.

[2018-02-12 21:23] jdmallen opened #2873 "Model validation infinite loop, stack overflow"
[This bug has been mentioned before](https://github.com/aspnet/Home/issues/2024), but it was not addressed.

#### Issue description

In a Web API ASP.NET Core project, upon POST, model binding starts to occur and the JsonConverters are hit, but during the binding a stack overflow exception occurs before it enters the controller action.

#### Steps to reproduce the issue

1. Create a ASP.NET Core W

[2018-02-12 21:32] jdmallen commented on #2873
I just realized I created this issue in the wrong repo-- sorry! I'll move it.

[2018-02-12 21:32] #2873 closed

[2018-02-12 21:41] jdmallen commented on #2873
[It can now be found here.](https://github.com/aspnet/Mvc/issues/7357)

[2018-02-12 22:13] Eilon commented on #2872
Hi @vsccarl , the best way to log issues with Visual Studio is to use VS's built-in "Send Feedback" button. That will capture all the necessary system info, and the issue will get directed to the team that can help. Thanks!

[2018-02-12 22:13] #2872 closed

[2018-02-12 23:43] shripathi-kamath opened #2874 "Error: Missing Method SetHeadersAndLog in FileResultExecutorBase"
I had software implemented for streaming files using the [technique described here](http://bit.ly/2BpClDz), and it worked fine with ASP.NET Core 1.0

It worked fine with ASP.NET Core 2.0 when first released.  I had to modify the SetHeadersAndLog method to include a null for the third argument that became necessary.

Upgrading to VS2017 15.5.6  (SDK 2.1.4, Runtime 2.0.5) seems to have broken it.  T

[2018-02-13 01:50] 5Series opened #2875 "Implementing Individual user accounts in local database in asp.net core 2.0 web API"
Is there a way to create web api .net core 2.0 with individual user accounts stored in app database and can be extended to use google authentication similar to .net web api template.

currently in the core web api template does not have an option for that, and also is it going to add in the future for the .net core 2.0 web api template?

[2018-02-13 02:51] BillHiebert commented on #2051
@DenisDollfus - correct. The change is in a preview of 15.6

[2018-02-13 05:59] Eilon commented on #2875
Hi @5Series , though there isn't a built-in automatic way to do this, you can read the docs at https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/ to learn how to add external auth (such as Google accounts) to an application.

[2018-02-13 11:36] rjgotten opened #5176 "aspnet-webpack: mismatch in environmentvariables"
The Microsoft.AspNetCore.SpaServices 2.0.2 NuGet package sends a property named `EnvironmentVariables` for the environment variables passed to the Webpack dev middleware.

The aspnet-webpack 2.0.3 NPM module expects a property `EnvParam`.

The result is that a webpack configuration that exports a function expecting an environment, is passed `undefined` instead of an object.

(Also; I'm not sure, b

[2018-02-13 15:57] tarquinc commented on #1466
Thank you so much @Xeevis and @gregg-miskelly, NordVPN was also causing my issue.

[2018-02-13 17:27] pranavkm opened #2876 "[JsonPatch]: PathHelpers.NormalizePath should allow spaces and \\ characters"
Consider
[code]

A patch can be sucessfully applied to this property as
[code]

Same deal with back slashes. The invalid char check in that method is kinda unncecessary.

[2018-02-13 18:00] Tratcher commented on #2875
As for the API aspect, you'll want a token server that can exchange your user cookie for a Bearer token. ASP.NET Core doesn't have one but there are a few 3rd party ones.

[2018-02-13 21:35] mota57 commented on #2143
I have this problem as well. I Just forward the log as the following guide [microsoft asp.net core](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?tabs=aspnetcore2x)

This is the how it looks my configuration. this the website... http://207.246.66.92/

server {
	listen 80;
	listen [::]:80;

	server_name 207.246.66.92;

	location / {
		try_files $uri $uri/ =404;
		  proxy_

[2018-02-13 22:56] #2863 closed

[2018-02-13 23:20] mkArtakMSFT commented on #2876
@ajaybhargavb, can you please look into this? Thanks!

[2018-02-14 02:12] NickCraver opened #4874 "Proposal: expand anchor tag helper to make single-parameter changes easier"
A common scenario I run into is needing to use the current query string (action parameters) and change 1 for the purposes of sorting or filtering (e.g. a search query against the current other filters). Let's take an example:
[code]
In the view, I have a table with columns with headers that are sorting links.  Let's say I have 3 columns so the headers look like this:
[code]
Currently, generating t

[2018-02-14 07:31] shirhatti opened #3811 "Test ANCM websockets against the Autobahn Test Suite"
See [this](https://github.com/aspnet/WebSockets/tree/dev/test/Microsoft.AspNetCore.WebSockets.ConformanceTest) for reference

[2018-02-14 07:59] shirhatti opened #3803 "TCP packet size too small causing poor throughput"
Originally reported by @mateanticevic

AspNetCore MVC 1.1.1 ~675kB ~11500 packets ~2s download

![image](https://user-images.githubusercontent.com/4734691/36193084-4d097278-1119-11e8-9e06-9b76c455648c.png)

Web forms ~675kB ~750 packets ~200ms download

![image](https://user-images.githubusercontent.com/4734691/36228140-42b193ae-1188-11e8-9932-830596d8d980.png)

[2018-02-14 09:35] prakashkaruppiah commented on #2859
We refer this website
https://www.npmjs.com/package/ng2-radio-group

and we used ng2-radio-group angular 4 application.

i got following error

ERROR in node_modules/ng2-radio-group/CheckboxGroup.d.ts(1,10): error TS2305: Module '"D:/Angular-Workspace/code/node_modules//common"' has no exported member 'Validator'.
node_modules/ng2-radio-group/CheckboxGroup.d.ts(1,21): error TS2305: Module '"D:/Ang

[2018-02-14 18:49] glennc commented on #2218
HealthChecks just missed out on being included in 2.1. We still hope to do something here, but it didn't quite make it above the cut line. The problem isn't really the work that's required, but the design and overall experience. HealthChecks may become part of a larger diagnostics and monitoring effort that we start work on, so it is more about fitting it in with everything rather than getting peo

[2018-02-14 19:00] louislewis2 commented on #2218
Ouch! Thanks for the update however.

[2018-02-14 21:26] speige commented on #2626
+1

[2018-02-14 21:49] speige commented on #2607
+1

There are currently two ways I've found to work around this:

Option#1:
replace
[code]
with
[code]

Option#2:
[code]

[2018-02-14 22:16] mpoettgen commented on #2218
@glennc, thanks for the update. However I don't really understand the reasoning about the larger effort. Health checks are an important part in enterprise operations to support monitoring, SLA tracking, load balancing, judging Docker container health and whatnot. All it takes is a simple endpoint that when pinged responds with a proper message as long as everything is in order. Health checks are a

[2018-02-14 23:03] hishamco opened #2877 "Default Model Name"
What I see quite often in almost if it's in all the Razor Pages, that we need to specify the model using the `@model`
[code]
for Product.cshtml, and
[code]
for Customer.cshtml

Can we introduce a new option that allow us to set the model by convention `{PageName}Model` unless we need to use a different name

[2018-02-14 23:09] speige opened #5177 "Retain custom added response headers when serving UseSpaPrerendering response"
UseSpa has configuration.options.DefaultPageStaticFileOptions.OnPrepareResponse
UseSpaStaticFiles has options.OnPrepareResponse

UseSpaPrerendering does not have this option.

Without this, I cannot add http cache headers, so any server-side rendered Angular/React pages will be re-requested by the browser on each refresh. They also cannot be server-side cached via app.UseResponseCaching(); because

[2018-02-14 23:33] glennc commented on #2218
Yeah, it's was super painful for us. Damian agonized over it, but I think we will get a much better e2e then what we first envisioned by leaving it for a little while.

[2018-02-14 23:36] mkArtakMSFT commented on #2877
Thanks @hishamco for your proposal. @rynowak this can eliminate the need for the explicit `@model` type definition. Will anything prevent us from supporting this?

[2018-02-14 23:37] mkArtakMSFT commented on #2877
@DamianEdwards FYI

[2018-02-14 23:48] ryanbrandenburg commented on #2631
This seems to have been addressed, @717009629 if you're still having trouble let us know.

[2018-02-14 23:48] #2631 closed

[2018-02-15 00:41] natemcmaster commented on #2511
This was already fixed by Ajay in https://github.com/aspnet/DataProtection/commit/ac3cbb5f8d1e73784c0d28129ea45ecc789e4f28

[2018-02-15 00:41] #2511 closed

[2018-02-15 05:51] Eilon commented on #2877
@mkArtakMSFT can you move to the appropriate repo? Not sure if this is MVC or Razor.

[2018-02-15 06:01] DamianEdwards commented on #2877
This should be in MVC.

[2018-02-15 06:59] bsparihar commented on #2041
- Go to the LAN settings (in Chrome : Tools-> Options-> Under the hood -> Change Proxy setting -> LAN Setting)
-
- There will be a checkbox for "Bypass proxy server for local address"
-
- Tick the checkbox.

[2018-02-15 07:03] speige commented on #2626
This can be done by creating a custom class which implements IResponseCache and injecting it with the following code (uses reflection):

[code]

[2018-02-15 07:08] omerlh opened #2878 "Slow response time (~6s) for post requests with empty body"
While working on .NET Core ASP.Net web API project, I've noticed that sending a specific request will always result in 418 timeout response after ~6s. This is the request:
[code]
And this is the response:
[code]
I was able to reproduce it on empty web API generated with the CLI using:
[code]
I've also created [sample repo](https://github.com/omerlh/dotnet-webapi-demo) using this CLI command with d

[2018-02-15 07:15] speige commented on #2626
Here's a naive DiskCache I coded up. It seems to work but I haven't put it through much stress testing. Responses are retained over app pool resets. One obvious improvement would be to still cache responses in-memory but also retained them on disk for redundancy. In-memory cache entries could be purged to prevent exceeding a size quota (in least-frequently or least-recently used order). This would

[2018-02-15 11:54] bvigga commented on #1060
Is there a workaround for the ViewContext.Controller in asp.net core? Could someone put a link here. I am migrating an application to core 2 and I have controllers with extension methods which i access from my views e.g if(ViewContext.Controller.HasRole("HRManager"){...}. I really need this to work and I can't seem to get any headway!

[2018-02-15 12:38] hishamco commented on #2877
@Eilon can I move this to MVC, or @mkArtakMSFT has a suitable way to move it

[2018-02-15 16:42] dougbu commented on #1060
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

[2018-02-15 17:52] paulsperanza commented on #2415
Any progress on this? I am stuck too. Using it with the new Angular CLI template.

[2018-02-15 17:54] javiercn opened #2879 "Provide an AddStaticFiles extension method on IServiceCollection"
This method will configure the default configuration options for static files and allow libraries avoid having to replicate the logic to set the default options. See https://github.com/aspnet/Identity/blob/dev/src/UI/IdentityDefaultUIConfigureOptions.cs#L52-L62

To be very clear, this is not about requiring a method call to services.AddStaticFiles() to use StaticFiles but to allow other libraries

[2018-02-15 18:09] Tratcher commented on #2879
And by initialized correctly you mean moving up / duplicating the lazy initialization that would otherwise take place in the middleware constructor?
https://github.com/aspnet/StaticFiles/blob/8b7b1b67321ddc0d5cbcedb9aa1c8daf2c8d2d8b/src/Microsoft.AspNetCore.StaticFiles/StaticFileMiddleware.cs#L59-L60

What about default files, directory browser, etc?

[2018-02-15 18:46] natemcmaster commented on #2321
@blowdart I looked into this, and this is basically the same issue as https://github.com/aspnet/DataProtection/issues/286. When EncryptedXml was produced with an X509Certificate, the framework will _only_ use keys from the X509Store. Keys added via EncryptedXml.AddKeyNameMapping are not used. It may be possible to workaround it.

@bartonjs is there any reason that EncryptedXml _shouldn't_ use the

[2018-02-15 18:47] javiercn commented on #2879
Correct me if I'm wrong, but aren't those things initialized properly when you just call app.UseStaticFiles()?

I want a convenience method that does the needful and that libraries can rely on, so that the responsibility of initializing anything static files related is  kept within the StaticFiles libraries.
The middleware can still initialize itself calling an internal version of the configure op

[2018-02-15 18:55] Tratcher commented on #2879
Those are independent middleware with independent options. They share some initialization logic, but not state. Only FileServer configures all of them.

[2018-02-15 19:12] blowdart commented on #2321
@muratg See that can we schedule it? We _should_

[2018-02-15 19:17] bartonjs commented on #2321
@natemcmaster Nope.  For the most part the class operates on keys, not certs.  It's just the "convenience wrappers" that work with certs, and then don't accept a collection for "your decryption cert might be here".

[2018-02-15 19:17] bartonjs commented on #2321
@blowdart Look, I gave an answer to a crypto-XML problem without complaining that someone was using it.  Then blew it by making this comment.  Consistency attained.

[2018-02-15 19:46] halter73 commented on #2878
Can you show us the curl command you used to send the request. It looks like the POST request is missing a body. My guess is there is a timeout reading the body. It makes sense that it would take ~6s to timeout since Kestrel doesn't enforce its default 240 bytes/second [MinRequestBodyDataRate](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.server.kestrel.core.kestrelserverlimits.

[2018-02-15 22:28] dgweldon opened #2880 "HttpClient does not handle cookies with a non-matching path"
I have an interesting problem related to OpenID Connect Authentication in ASP .NET Core.  We have an Identity Server 3 OIDC implementation that uses a client certificate authentication provider.  When migrating to ASP .NET Core, we had no problem integrating with our existing OIDC server.  At least when launched from a browser (Edge, Chrome).

However, we have a small ClickOnce application (using

[2018-02-15 23:09] NTaylorMullen opened #4876 "Remove RazorProject ViewEngine constructor"
It's currently marked as obsolete. In the next major release we should remove it.

[2018-02-16 00:08] javiercn opened #5765 "Social login provider options disappear after failed login attempt"
* With a social login provider enabled, go to login.
* You'll see the social login provider listed.
* Try to log in with user name and an incorrect password
* The social login provider will disappear when the page
gets re-rendered.

[2018-02-16 00:10] javiercn opened #5766 "Social login provider options don't show up in register"
* With a social login provider enabled, go to register.
* No social login provider is displayed.
* It shows up in the login view.

[2018-02-16 00:11] javiercn opened #5767 "Email confirmation doesn't get sent if the user registers with a social login provider"
* With a social login provider enabled and email confirmation set to required, go to login.
* Click on the social login provider.
* After successful login with your provider, you'll be prompted to introduce your email to finish login/registration.
* Introduce your email and continue.
* No email got sent.
* Logout.
* Try to log-in with your social login provider.
* You'll be prompted again to intro

[2018-02-16 02:37] speige commented on #2626
I've created a repo for custom cache implementations. It currently only has a disk-based cache. It also has extensions which make ResponseCaching easily overridable for others who wish to code custom implementations.

License is MIT. Feel free to pull it into the official Microsoft repo.

https://github.com/speige/AspNetCore.ResponseCaching.Extensions
https://www.nuget.org/packages/AspNetCore.Resp

[2018-02-16 03:18] danroth27 opened #4098 "Add option to dotnet watch to open the default browser at the right launch URL"
In the angular CLI you can do `ng serve --open` and get a dev server, a file watcher and the default browser will open at the right URL. We should have an option like `--open` for `dotnet watch` that opens the default browser at the right launch URL.

[2018-02-16 04:57] speige commented on #2607
I've created a repo which extends the default ResponseCache implementation. It has an option to ignore the browser's no-cache/no-store headers.

https://github.com/speige/AspNetCore.ResponseCaching.Extensions
https://www.nuget.org/packages/AspNetCore.ResponseCaching.Extensions

[2018-02-16 05:30] Eilon commented on #2880
Hi, a few things I'm wondering:
* Is there any difference on the wire (using Fiddler or a similar sniffer) about what the cookies look like?
* Which version of ASP.NET Core is this?

[2018-02-16 13:12] dgweldon commented on #2880
I apologize for leaving out those details.  That's how I actually found this issue.  In Fiddler, I can see that the 2 cookies mentioned are not passed to signin-oidc.  Also, we are using ASP.NET Core 2.0.5.  And on the ClickOnce application we are using 5.2.4 of Microsoft.AspNet.WebApi.Client for HttpClient.

[2018-02-16 13:13] FabioMorcillo opened #2881 ".NET Core WebSockets - Token Authorization"
Hi,

.NET Core WebSockets support token jwt authentication ? Have example to configure ?

Thank you,

[2018-02-16 15:32] wessleym opened #2882 "Apparently Random Error: "Antiforgery token validation failed. The antiforgery cookie token and request token do not match.""
## Background ##
I have a relatively new ASP.NET Core 2 site.  It's running on just one server (Windows Server 2012 R2, IIS 8.5), and I only restart the site once every few days when I upload an update.  About once a day, a user's request fails due to rejection by the anti-forgery system.  These are POST requests, and there's nothing particularly special about them.  I'm including the anti-forgery

[2018-02-16 16:50] Tratcher commented on #2881
Yes, you can use bearer token auth with WebSocket requests. Are you asking for client or server code samples? On the server you configure JwtBearer normally. See
https://github.com/aspnet/Security/blob/5de25bb11cfb2bf60d05ea2be36e80d86b38d18b/samples/JwtBearerSample/Startup.cs#L47-L53
https://github.com/aspnet/Security/blob/5de25bb11cfb2bf60d05ea2be36e80d86b38d18b/samples/JwtBearerSample/Startup.c

[2018-02-16 17:12] rickyruiz commented on #2440
Any news on when is this PR going live?

___

If anyone is stuck with this, you can create a custom content type provider like so:

[code]

In Startup.cs:

[code]

[2018-02-16 17:37] Eilon commented on #2882
Tagging @blowdart in case you have ideas...

[2018-02-16 17:45] blowdart commented on #2882
No, if it's a mismatch it's not data protection. So @rynowak is a better target.

[2018-02-16 18:01] sebastienros commented on #2846
@John0King You are right, there is no document that explains how we control the DI.
You can find samples on how to use it in this samples repository https://github.com/OrchardCMS/OrchardCore.Samples. The idea is that your projects all have a `Startup` class that will behave exactly as any ASP.NET application in terms of services and middleware. It's just that you can have many of them, in separate

[2018-02-16 18:19] sebastienros commented on #2768
When you upgrade versions, I assume you only reference different ASP.NET packages? Are you using the .All metapackage? If not can you provide the list of packages and their versions for each of your tests?

[2018-02-16 19:17] Eilon commented on #2877
This issue was moved to aspnet/Mvc#7386

[2018-02-16 19:17] #2877 closed

[2018-02-16 19:19] Eilon commented on #2874
@shripathi-kamath can you show what error + stack trace you got?

[2018-02-16 19:52] shripathi-kamath commented on #2874
If you run the supplied application, it should appear.

(Un)fortunately, I unzipped and ran the same .ZIP I sent you, and it no longer appears.  That is weird, given that it was reproduced unfailingly on two different machines

Sorry to have wasted your time.  You may close this issue.  Should it recur, I'll update accordingly

[2018-02-16 20:43] Eilon commented on #2874
Sorry you ran into the issue, but hopefully it's fixed! Please do re-open or log a new issue if you see this again, and include the error/stack trace - it'll be easier for us to investigate more quickly that way. Thanks!

[2018-02-16 20:43] #2874 closed

[2018-02-16 22:09] mikeharder commented on #2866
I re-enabled the agent for now to give us more capacity.  @javiercn will disable when he's ready to investigate.

[2018-02-16 22:22] Phylum123 opened #2883 "Self referencing loop error"
Hey guys, I found an issue with JSON, Razor Pages (Core 2) and EF (Core 2). I know all about self referencing loops and usually it can be solved with configuration. I added configuration and it did not work, I am still getting the error. Below you can see my configuration in "Startup.cs":

[code]
and when I make this simple call, I get the error:

`        public void OnGet()
        {

[2018-02-16 23:02] Eilon commented on #2883
Can you show the error that you're getting? Please show the exception message and stack trace.

[2018-02-16 23:43] mikeharder opened #4758 "Improve performance of Kestrel functional tests"
The Kestrel functional tests (`Kestrel.Transport.Libuv.FunctionalTests` and `Kestrel.Transport.Libuv.FunctionalTests`) take about 1m20s on my machine.  The long poles are:

# Test Discovery (20s)
[code]

We may need to profile xUnit and/or `dotnet test` to see why discovery is taking so long.  Command to profile:

[code]

# KeepAliveTimeoutTests.TestKeepAliveTimeout (60s)
Measure each of the 6 tas

[2018-02-17 00:05] natemcmaster opened #2884 "Support multiple key decryption certificates without X509Store"
When using the X509Store, you can decrypt an old key encrypted XML key with multiple certificates.

In https://github.com/aspnet/DataProtection/pull/299, we added support for decrypting without using the X509Store for one certificate (the one passed to .ProtectKeysWithCertificate()). This doesn't yet support multiple certs though. It wouldn't be too hard to support this.

Usage:
[code]

[2018-02-17 00:06] #2321 closed

[2018-02-17 00:15] blowdart commented on #2884
[code]

For consistency? And obviously the protection key would automatically be part of the internal unprotect list

@GrabYourPitchforks  ?

[2018-02-17 00:33] blowdart commented on #2884
Yup, arrays are good.

[2018-02-17 06:54] CheungTatMing commented on #2738
+1
Visual Basic always the most important language in .NET world. VB still many fans and use today! Although many peoples work in C# project on their work place, but I believe many peoples like me, love to use VB on own project.

[2018-02-17 22:02] HarelM commented on #2536
Might be because this is already a month old but I'm getting the following warning when using @natemcmaster 's instructions:
[code]
And using this version I still get the following error:
[code]

It takes a few minutes to simulate it using my project, but I can reproduce it almost every time I try.
See the linked project above, I have created a .NetCore2.1 branch to try and reproduce the issue.
Le

[2018-02-17 22:15] HarelM commented on #2536
Ignore my last comment, Apprently VS doesn't restore on build after changing .csproj file.
I have deleted my last message, it seems like this patch solves the problem.
Please let me know when I can get it from NuGet.

[2018-02-18 04:34] omerlh commented on #2878
Yep, I'm sending the request with an empty body. When sending the same request with an empty body, without `Transfer-Encoding: chunked`, it does not reproduce. Also adding `Content-Length` does not have a similar effect.
I've suspected this is some sort of timeout, but I still think it might be worth fixing it.

[2018-02-18 23:35] Eilon commented on #2878
If the request is chunked or no content-length, this sounds exactly like what @halter73 is saying. Kestrel is waiting for the body, but the body isn't being sent.

If you can share exact steps to reproduce this problem we can dig in further.

[2018-02-18 23:50] Eilon commented on #2880
@dgweldon thanks for the info. Is there any difference in the cookies sent by the server to the client, comparing ASP.NET's cookies to ASP.NET Core?

Ultimately I don't think HttpClient particularly cares who sent it the cookies, so presumably there's a difference in what it got from the initial request, and thus isn't sending the cookie to the subsequent request.

[2018-02-19 01:55] Phylum123 commented on #2883
An unhandled exception occurred while processing the request.

JsonSerializationException: Self referencing loop detected with type 'System.Collections.Generic.List`1[RMBSWeb.Main.Models.RmbsCertificateRate]'. Path 'data[0].RmbsPool'.
Newtonsoft.Json.Serialization.JsonSerializerInternalWriter.CheckForCircularReference(JsonWriter writer, object value, JsonProperty property, JsonContract contract, J

[2018-02-19 04:19] davidfowl commented on #2883
MvcOptions for JSON settings won't affect your DevExtreme component (unless they read those options which it seems like they don't). It looks like that exception is coming from the `@Html.DevExtreme().Form()` or DataGrid component which is using JSON.NET directly.

[2018-02-19 05:47] omerlh commented on #2878
Yes, that what I've suspected happens. To reproduce, you can follow the steps I've specified in the issue - clone the repo, build and run the docker image. Then use any tool to send the HTTP request (I've used Zaproxy/JMeter to test it). If you need further help reproducing it, let me know and I'll share more info.

[2018-02-19 10:08] blowdart commented on #2881
You shouldn’t ever be sending tokens in the query string, they can be logged client side, server side, and by any proxies in the way. It’s simply not secure. @davidfowl is there no way to set the authorization header for signalr requests? If not there needs to be.

[2018-02-19 12:14] BolatovAlau opened #2885 "Double Login after Registration ByRole"
Hi programmers, i don't know is it a problem or a question.

There is two roles in my application, and after registration i give them roles like this:
`UserManager.AddToRole(userId: user.Id, role: "Teacher");`
and it redirects to action of Controller which is only for "Teachers" role, made like this
[code]
The problem is that application wants users to relogin to the application, and only then giv

[2018-02-19 12:30] jorisvergeer commented on #2676
Still an issue when building on microsoft appcenter, even with suggested settings.
Downgrade to 2.0.0 is still the workaround

[2018-02-19 13:22] BolatovAlau commented on #2885
Solved the Problem)

After adding User to new Role just signIn him using code like this

[code]

[2018-02-19 13:22] #2885 closed

[2018-02-19 13:34] SteveSandersonMS opened #5473 "Handle scenario where an event handler was specified as the wrong type"
Originally reported in #135

Currently if you declare an event handler with `onsomeevent=@something`, and `@something` isn't a `UIEventHandler`, then at runtime when the event is triggered, you will get `There is no event handler with ID 0`. This is because we only assign event handler IDs when the attribute value is the type we recognize (`UIEventHandler`).

Options:

* Handle it at compile time.

[2018-02-19 14:36] SteveSandersonMS opened #5474 "Design review: Layouts"
Currently, the layouts feature uses temporary fake directives such as `@(Layout<SomeType>())`. Once we're able to put in Blazor-specific directives, we should remove this and clean up the API.

We'll also review to what extent we want to make it look similar to Razor Pages layouts. It's not the same thing as Razor Pages layouts because it's a stateful component architecture rather than a one-time

[2018-02-19 16:01] davidfowl commented on #2881
Unfortunately, it's nothing to do with SignalR, it's a browser limitation. Alternatively, you can do something custom with the websocket connection itself (sending the JWT with a custom websocket message), but then you won't be able to use the JWT auth handler as is.

The way it would work in that world is that you would send the JWT Token over the websocket with some custom format, parse it on th

[2018-02-19 17:05] SteveSandersonMS opened #5475 "Run .NET in a worker thread"
It will be a while before we get to this, but various parts of the architecture are already designed with this in mind.

We should support running Blazor in two modes, auto-selecting which one is best for the current user's browser:

 * **On the browser's main JS thread**, which is necessary for older browsers that don't support WebWorker. The .NET/JS interop can continue using shared memory if we

[2018-02-19 19:21] brockallen commented on #2881
In the past I've done this by implementing a custom ajax endpoint that accepts the access token, and then in turn issues a custom cookie that's only meant for the web sockets connection. That way 1) you have more control over cookie sliding, 2) avoid access token expiration issues since you're now managing the cookie expiration/sliding, 3) then when reconnects happen the cookie is auto-resent, and

[2018-02-20 06:25] GKNetaphor commented on #2874
I am seeing the exception.  Here are the exception details -

An unhandled exception occurred while processing the request.
MissingMethodException: Method not found: 'System.ValueTuple`3<Microsoft.Net.Http.Headers.RangeItemHeaderValue,Int64,Boolean> Microsoft.AspNetCore.Mvc.Internal.FileResultExecutorBase.SetHeadersAndLog(Microsoft.AspNetCore.Mvc.ActionContext, Microsoft.AspNetCore.Mvc.FileResult,

[2018-02-20 06:26] davidfowl commented on #2874
@GKNetaphor can you show your project file? Method missing usually results in mixing and matching the wrong versions.

[2018-02-20 06:26] GKNetaphor commented on #2874
C:\SetHeadersAndLog\WebApplication4>dotnet --info
.NET Command Line Tools (2.1.4)

Product Information:
 Version:            2.1.4
 Commit SHA-1 hash:  5e8add2190

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.16299
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.4\

Microsoft .NET Core Shared Framework Host

  Version  : 2.0.5
  Build

[2018-02-20 06:27] GKNetaphor commented on #2874
Here is the project file -
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>net461</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <Folder Include="wwwroot\" />
  </ItemGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore" Version="2.0.1" />
    <PackageReference Include="Microsoft.AspNetCore.Mvc" Version="2.0.2" />
  </ItemGroup>

  <ItemG

[2018-02-20 06:27] GKNetaphor commented on #2874
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>net461</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <Folder Include="wwwroot\" />
  </ItemGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore" Version="2.0.1" />
    <PackageReference Include="Microsoft.AspNetCore.Mvc" Version="2.0.2" />
  </ItemGroup>

  <ItemGroup>
    <DotNetCliToolRef

[2018-02-20 06:30] GKNetaphor commented on #2874
@davidfowl I posted the project file above.

[2018-02-20 06:33] davidfowl commented on #2874
@GKNetaphor what are the repro steps? What code causes the exception to happen? If you have a minimal repro that would be great as well. Are you running from the command line or using visual studio? What version of .NET Framework do you have installed (.NET  4.6.1/4.6.2/4.7 etc)

[2018-02-20 06:35] GKNetaphor commented on #2874
@davidfowl download the zip file attached by @shripathi-kamath.  Compile the solution and run it.

[2018-02-20 07:09] davidfowl commented on #2874
I can reproduce it.

That information unfortunately isn't relevant to the .NET Framework version.

[2018-02-20 08:27] UncleSamSwiss opened #2886 "Segmentation Fault on Raspbian for Benchmarks"
Running the ASP.NET Core Benchmarks on Raspbian causes a segmentation fault for some URLs.

### How to reproduce
1. Get the latest source from https://github.com/aspnet/benchmarks
2. Compile the src/Benchmarks project with `dotnet publish -c Release -r ubuntu.16.04-arm` (tested on Windows only)
3. Set up the Raspberry Pi with the latest Raspbian
4. Install .NET Core (and dependencies) on Raspberry

[2018-02-20 08:57] unpub777 opened #2887 "Cannot resolve Scoped services in Program.cs"
.

[2018-02-20 09:02] #2887 closed

[2018-02-20 10:23] Morcatko commented on #2423
@jbagga This fixes this particular case, but I was hoping for more generic fix.
Your workaround won't work if the enum is 3rd party (and there might be other cases, not just enums)

I tried to debug the patch code and I believe the issue is that `TryConvertValue` ignores JsonProperty.Converter.
https://github.com/aspnet/JsonPatch/blob/dev/src/Microsoft.AspNetCore.JsonPatch/Internal/PocoAdapter.cs#

[2018-02-20 10:45] amoerie commented on #2630
This is a workaround that is confirmed working for us, until this issue is resolved:
[code]

[2018-02-20 15:00] pranavkm commented on #2874
The exception message

WebApplication4.FileCallbackResult+FileCallbackResultExecutor.ExecuteAsync(ActionContext context, FileCallbackResult result)

Likely indicates https://github.com/dotnet/standard/issues/567 i.e you are targeting .NET 461, but running against .NET 471. The issue has some workarounds to fix this. I think an EAP version of .NET 4.7.2 is also available that should address this.

[2018-02-20 16:34] dgweldon commented on #2880
Just to be clear, I'm talking about 2 clients (web browser and ClickOnce app using HttpContext) going through the same ASP .NET Core server.  There is no ASP .NET server in play in this problem scenario.

But the cookies sent to each client look very similar.

Here are the ones sent to the web browser:
[code]

And then the ones sent to the ClickOnce application:

[code]

[2018-02-20 17:45] danroth27 commented on #2880
@Tratcher

[2018-02-20 18:11] shripathi-kamath commented on #2874
That does not appear to be the case, since I am targeting 4.6.1 and running 4.7.1 @pranavkm

[2018-02-20 18:16] Eilon commented on #2878
If it's just Kestrel's timeout, then this is by-design behavior, so closing this issue.

[2018-02-20 18:16] #2878 closed

[2018-02-20 18:27] pranavkm commented on #2874
Isn't this exactly the issue reported in the linked item?

[2018-02-20 18:39] shripathi-kamath commented on #2874
Except, I have no problem running in that combination.

I started this issue, and created the sample app.  A couple days later, when I tried it again, during which a couple of Microsoft updates and reboots occurred,

I did not see the issue thereafter.

My SDK, .NET Core runtime are 2.1.4 and 2.0.5 resp.

And Get-ChildItem "HKLM:SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full\" | Get-ItemProper

[2018-02-20 18:42] Eilon commented on #2886
@muratg / @halter73 - any ideas on this? Or how to get more info?

[2018-02-20 18:44] Eilon commented on #2874
@shripathi-kamath right, we think that's the problem. There's a bug that if you app **targets** 4.6.1 but the machine has 4.7.1 **installed**, it doesn't work.

[2018-02-20 18:49] shripathi-kamath commented on #2874
Perhaps I am not communicating that, or I am misunderstanding the nuance.

I was targeting 4.6.1 and running on a machine that had an unknown version (suspected to be 4.7.0)
That one had a problem.

I upgraded, moved to 4.7.1.

I am now targeting 4.6.1. and running on a machine that has 4.7.1 (see PS script), and **I no longer see the problem**

But, if that is strictly an accident, I understand.

[2018-02-20 18:51] muratg commented on #2886
Any chance of getting a process dump from the Pi? Also curious, does it reproduce **less often** with 5MB.txt file?

cc @anurse any thoughts?

[2018-02-20 19:04] GKNetaphor commented on #2874
I am targeting 4.6.1. and running on a machine that has 4.7.1.  Rebooted my VM several times and this combination did not work for me.  That is when I posted the exception to the issue in GitHub.

Later I installed a few pending windows updates.  And rebooted after that.  Now things seem to be working just fine.  I am not getting the exception.

Thanks,
GK

From: Shripathi Kamath [mailto:notificat

[2018-02-20 19:05] pranavkm commented on #2874
Sweet. Sorry for the confusion!

[2018-02-20 19:52] anurse commented on #2886
Nothing comes to mind.

[2018-02-20 20:03] mikelunn opened #2888 "Proxy Doesn't Work With Host Name Alias"
This issue references the AspNet/Proxy repository for .Net Core. The proxy middleware works great as long as you specify a physical host or IP address in the proxy options like so:
`app.RunProxy(new ProxyOptions
					{
						Scheme = "http",
						Host = "myserver",
						Port = "80"
					});`
However, if a dns alias is specified as the host, for instance myserver.mydomain.com a 504 error message

[2018-02-20 21:43] benaadams opened #2889 "Increase MicrosoftNETCore to 2.1.0-preview1-02411+"
Currently it looks like its `2.1.0-preview1-26213` which means you'll get bitten by this bug "Fix GC reproting for by-ref-like structs" https://github.com/dotnet/coreclr/pull/16231 and have errors which make no sense.

Looking at the merge train that's the version it was fixed at https://github.com/dotnet/coreclr/commits/release/2.1

/cc @davidfowl @pakrym @halter73

[2018-02-20 21:58] natemcmaster commented on #2759
@MV10 were you able to solve your issue?

[2018-02-20 22:37] natemcmaster commented on #2814
I was able to reproduce the same error by generating keys with a cert, copying them into a container, and running the app. I believe this is a duplicate of #2321. The key ring is empty because the keys were protected by a certificate, but encrypted XML doesn't support decrypting with certs that are not in the X509 cert store.

To workaround this in ASP.NET Core 2.0.x, you can add the cert to your

[2018-02-20 23:18] davidfowl opened #2890 "Add AsMemory and AsSpan to StringSegment"
With Span and Memory on the rise we should look at bridging our existing types over to those types.

[2018-02-20 23:18] MV10 commented on #2759
No, sorry, as described earlier, I went with another route and haven't had time to circle back.

I do wonder if the error is misleading. It turns out that `ProtectKeysWithCertificate` is only valid for encryption. Decryption requires the certificate to be available from the certificate store. (This should probably be documented...) It isn't difficult to use a cert instance for decryption. I'm usin

[2018-02-20 23:18] #2759 closed

[2018-02-20 23:27] natemcmaster commented on #2759
Ok. If you do find there is something wrong the the Azure client, let us know and we can investigate more.

Re: ProtectKeysWithCertificate. Fortunately, this will be fixed in 2.1.0. I added support for this a few days ago. See https://github.com/aspnet/Home/issues/2814#issuecomment-367145437 and https://github.com/aspnet/DataProtection/pull/299

[2018-02-20 23:49] Eilon commented on #2889
I think this happens automatically in the build every week, but adding @natemcmaster and @ryanbrandenburg who know how this stuff flows through the system.

[2018-02-20 23:54] natemcmaster commented on #2889
@benaadams which package are you referring to? We don't consume dotnet/coreclr packages directly. We get new coreclr builds via builds of the Microsoft.NETCore.App shared framework. On dev, we are currently pulling in `Microsoft.NETCore.App/2.1.0-preview2-26130-04`

[2018-02-21 00:11] benaadams commented on #2889
Trying to workout which version this PR is in https://github.com/dotnet/coreclr/pull/16231

[2018-02-21 00:41] RemyArmstro commented on #2051
Looks like this is still not released in 15.5.7.  Any new updates?

[2018-02-21 01:01] kakins commented on #1864
Setting LoadUserProfile = true worked for me also.  Is there any documentation for this?

[2018-02-21 02:45] benaadams commented on #2889
On preview 2 it looks like nearest versioning commit is: [2.1.0-preview2-26207-11](https://github.com/dotnet/coreclr/commit/2138b3d7a31e13d6ca9d610a64fb258227371458)

[code]
Whereas Kestrel et al; as you say, are on
[code]
If that's the right reference, version number?

[2018-02-21 02:55] benaadams commented on #2889
The motivation is I have some very strange errors coming out of the aspnet code under high stress and not sure its this bug or the aspnet code; but they are non-deterministic and make not a lot of sense (changing where a struct is declared in outside code can get the HttpParser to fail internally with a parsing error or null ref by tweaking the declaration point; however only after several hundred

[2018-02-21 06:46] UncleSamSwiss commented on #2886
@muratg no, it happens also for 5MB all the time when benchmarking (sometimes the first request goes through but then it crashes, but most of the time it is already the first request that crashes the application).

If you tell me how exactly to create the dump, I'll try to provide you with the details. From what I can tell it is completely reproducible - if you happen to have a Raspberry Pi lying

[2018-02-21 09:45] MV10 commented on #2759
Great news about the cert fix!

[2018-02-21 14:53] mikelunn commented on #2888
Going to close this for now as I believe my issue may be related to something outside the scope of this proxy library.

[2018-02-21 14:53] #2888 closed

[2018-02-21 16:03] DevelAx commented on #2669
Can anyone clarify if it is going to be fixed soon? I couldn't grasp it from the discussion.

[2018-02-21 16:04] olivier-spinelli opened #2891 "PhysicalFileProvider: Least Surprise Principle violation."
A directory exists but when calling GetFileInfo to obtain an "abstract" IFIleInfo it does not.
However when a directory is returned by the enumeration of a IDirectoryContents, a IFileInfo is correctly returned (with both Exists and IsDirectory sets to true).

This means that the code that handles a IFileInfo HAS to be aware of how it has been created/obtained.

[code]

I suspect that this oddity i

[2018-02-21 16:51] andylyonette opened #2892 "Specify sub protocol for WebSocket Client"
Hi,

I can't work out how to specify the sub protocol when creating a client connect to a websocket endpoint. Is this possible like it is with this JavaScript client? (https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_client_applications)

Thanks,
Andy

[2018-02-21 16:55] natemcmaster commented on #2891
This is an odd behavior. We will take a look at it in triage. My guess is that changing the return type to include directories may cause issues because this behavior has been this way since ASP.NET Core 1.0.

To triage team: if we don't change, we could consider making PhysicalFileProvider.GetFileInfo virtual so those wishing to change the behavior don't have to reimplement the entire interface. c

[2018-02-21 17:20] Eilon commented on #2669
@DevelAx I'm not sure we can commit to when, if ever, this might be fixed. It's a very tricky problem and I'm not sure there's a perfect solution. We might have to do some think-outside-the-box solution to this to make sure we preserve compatibility, but maybe have some new way of enabling new functionality. Maybe an option to choose how to encode, or some convention to specify parameters that sho

[2018-02-21 17:31] doggy8088 commented on #2669
@Eilon I made a demo repo here: https://github.com/doggy8088/CatchAllRouteProblem

Here is the **ASP.NET Core 5** controller sample code:
https://github.com/doggy8088/CatchAllRouteProblem/blob/master/MVC5/Controllers/HomeController.cs

Here is the **ASP.NET Core 2.0** controller sample code:
https://github.com/doggy8088/CatchAllRouteProblem/blob/master/Core2MVC/Controllers/HomeController.cs

These

[2018-02-21 17:36] DevelAx commented on #2669
@Eilon Thank you for replay! I'll be waiting for it. Hope you won't forget about this issue.

@doggy8088 You're right. It worked perfectly in MVC 5. Now it has to be always kept in mind not to use default helpers while using *catchall* option in routes.

[2018-02-21 17:38] doggy8088 commented on #2669
@Eilon The problem only exists in ASP.NET Core.  The ASP.NET MVC 5 is working perfectly!  Can you explain why this is a tricky problem?  I thought ASP.NET Core 2 and ASP.NET MVC 5 are share the same code base. (almost)  The routing logic should be exactly the same, doesn't it?

[2018-02-21 17:43] DevelAx commented on #2669
@doggy8088 The odd thing is that we have the *catchall* option in routes. But this option is not supported by route-helpers in Core.

[2018-02-21 17:44] doggy8088 commented on #2669
@DevelAx It do support,  It just has a bug in it.  😞

[2018-02-21 19:32] Eilon commented on #2669
@doggy8088 the code bases are almost entirely different between the two products.

[2018-02-21 20:27] pakrym commented on #2889
I'll do this as part of the entire Pipeline move.

[2018-02-21 20:28] pakrym commented on #2889
Oops, this is for preview1. I think we can safely update to the latest PCP version of corefx we were built against. But I'm not sure that we are willing at this point.

[2018-02-21 20:33] halter73 opened #4757 "Create request body pipe reader by decorating the connection pipe reader"
This should be more efficient than pumping request body data into a new pipe.

[2018-02-21 20:48] benaadams commented on #2889
Either's fine; current dev is better for me :)

[2018-02-21 20:49] benaadams commented on #2889
e.g. PR was added to preview1 and preview2 after the current one aspnet is using

[2018-02-21 21:00] natemcmaster commented on #2889
cref https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1-preview1

[2018-02-21 21:10] benaadams commented on #2889
Was added just before so should be ok for preview1

[2018-02-21 21:34] benaadams commented on #2889
![image](https://user-images.githubusercontent.com/1142958/36506588-fcf887e2-174e-11e8-8113-59e1a496ff12.png)

[2018-02-21 22:25] ahmetbombaci-united opened #2893 "EmailAddressAttribute.IsValid Method (Object) cannot validate hyphen at the beginning of domain name"
Domain names cannot start with hyphen (ref: https://tools.ietf.org/html/rfc952)

However; IsValid method does not respect to this rule

Test case:

var checkMail = new System.ComponentModel.DataAnnotations.EmailAddressAttribute().IsValid("ahmet.bombaci@yahoo.-united.COM");

[2018-02-22 00:40] Eilon commented on #2893
This issue was moved to dotnet/corefx#27346

[2018-02-22 00:40] #2893 closed

[2018-02-22 05:35] benaadams opened #2894 "HttpResponseStreamWriter never calls Flush on the Stream"
Not when the user calls it; and not when its Disposed

The Stream is never Flushed; if its a buffered Stream this will cause issues.

[2018-02-22 05:38] benaadams opened #2895 "Override Span and Memory Writes for HttpResponseStreamWriter"
For netcoreapp2.1

Also WriteLine and WriteLineAsync as the [default implementations on TextWriter](https://github.com/dotnet/corefx/blob/0fbb5f15e2c9b7ff51f5d194dbf06c406c14da9e/src/Common/src/CoreLib/System/IO/TextWriter.cs#L551-L580) are not great

[2018-02-22 07:02] mani5219 commented on #2315
hi

[2018-02-22 07:54] olivier-spinelli commented on #2891
Thanks to consider this. The actual complexity of the PhysicalFileProvider is in the Watch implementation that relies on the public PhysicalFilesWatcher that has no dependency on the PhysicalFileProvider concrete class. It is quite easy to implement a new PhysicalFilesWatcher that behaves correclty regarding this.

In my opinion, the "virtual way" will be a trap into which a lot of future users wi

[2018-02-22 16:45] davidfowl commented on #2892
This should be moved to corefx. It's trivial to do so with the ClientWebSocket api:

[code]

[2018-02-22 16:56] #2884 closed

[2018-02-22 17:25] Eilon commented on #2892
This issue was moved to dotnet/corefx#27364

[2018-02-22 17:25] #2892 closed

[2018-02-22 17:39] rynowak opened #5048 "Flow BaseNamespace into Razor"
Blazor needs this, and we've worked around not having it for a long time in MVC.

There doesn't seem like a good reason **not** to do this 😆

[2018-02-22 18:58] vairamsvsjdo opened #2896 "change default .net core web app template wwwroot folder name to static"
Regarding: https://github.com/aspnet/Home/issues/1636  #1636
change default .net core web app template deploy wwwroot code to wwwroot
Is this backward compatibility needed as asp.net 5 is dead and asp.net core is what being developed.?
 Or change the name wwwroot to staticfiles as the default folder name

To address your issues more quickly, please open the issue in the most appropriate repository

[2018-02-22 19:47] rynowak opened #5049 "Add implements directive"
We should add an `@implements` directive to our set of 'in the box' directives that can be reused. Blazor needs this.

For now we're implementing this in Blazor, but it's just generic .NET stuff, so there's no reason why it can't live here.

[2018-02-22 22:20] SteveSandersonMS opened #5476 "Developer exception page"
Currently if there are any unhandled client-side .NET exceptions, Mono logs them to the console (which is reasonable for Mono to do). But within Blazor it would be nice to display the exception details in a friendly, formatted way within the browser UI itself, perhaps looking like an ASP.NET server-side developer exception page.

~~In the previous Blazor prototype this was implemented as a non-dis

[2018-02-22 22:33] Eilon commented on #2896
Hi @vairamsvsjdo can you provide more info about your question?

Here are some points that might help clarify things:
* ASP.NET 5 was a pre-release product that that was renamed to ASP.NET Core 1.0, and then shipped (after several major changes)
* The `wwwroot` folder is a folder used in ASP.NET Core applications for static assets that are servable by the web server. This typically includes files

[2018-02-22 22:54] Matthew-Bonner opened #2897 "IWebHostBuilder.UseContentRoot(Directory.GetCurrentDirectory()) is fragile"
I want to run integration tests. I am using BenchmarkDotNet to do so. BenchmarkDotNet builds a dll per benchmark which then runs via dotnet like so:
dotnet 55330d8b-483a-457c-a103-e28f178488e4.dll

This then runs the web application, and because the benchmarking project is separate from the web application project, the current working directory now differs from the web application project director

[2018-02-22 23:17] natemcmaster commented on #2814
Closing per previous comment. https://github.com/aspnet/Home/issues/2814#issuecomment-367145437. This issue is a duplicate of https://github.com/aspnet/Home/issues/2321 which will be resolved in 2.1.

[2018-02-22 23:17] #2814 closed

[2018-02-22 23:20] Eilon commented on #2897
@javiercn do you have thoughts on this? It's not quite related to the testing work you've done, but perhaps you've come upon a solution to this?

@Matthew-Bonner - would it be possible for the test code to set the current directory of the process to be the desired current directory? That way when the Web Host Builder stuff runs, it'll see the desired current directory.

[2018-02-22 23:21] Eilon commented on #2897
I should also note that testing a not-published app could yield very different perf results than a published app. There are a variety of things that can happen as part of the publish process, such as compiling Razor views, which would greatly affect results.

[2018-02-22 23:44] Matthew-Bonner commented on #2897
@Eilon in terms of your first point, potentially, I did think about this and one of the things I considered included parsing the benchmark csproj file to get the path to the web application project, as I imagine building the project before running the benchmarks makes sense in case any changes were committed, but there was quite a lot of boilerplate code and I felt it was just becoming a lot of wo

[2018-02-22 23:44] halter73 commented on #2886
The good news is that capturing a memory dump on a segfault is pretty trivial. If you're using bash to start the benchmarks, you should just be able to run `ulimit -c unlimited` beforehand to tell bash to dump cores of any size to a core.PID file.

This should allow us to examine the faulting callstack at the moment it crashes using lldb/libsosplugin.

[2018-02-23 00:14] Matthew-Bonner commented on #2862
I'll lob this over to the docs repo and raise an issue and create a PR to include this information. Thanks for your help.

[2018-02-23 00:14] #2862 closed

[2018-02-23 00:34] Matthew-Bonner commented on #2868
The code is open source, it is the best documentation there is.

[2018-02-23 01:02] DrSensor commented on #2868
I think what he mean is to make documentation and user guide as part of the release cycle. It's best to update all docs,  user guide, and example before doing major release so any code example in the docs can be reproduce without error.
Also some suggestion, maybe at each (or each 2~3) minor release there will be community review&discussion about state of art of the current web technology. I'm bit

[2018-02-23 01:05] vairamsvsjdo commented on #2896
@Eilon The issue is with the wwwroot folder. web_deploy deploys wwwroot folder to a wwwroot folder within wwwroot folder  when published to app services.
One of the following should happen ideally:
1. It must be called as static files or something else other than wwwroot.
or
2. web deploy must move those static files to wwwroot folder.

[2018-02-23 01:09] Eilon commented on #2896
What is the actual issue? It's ok to have a `wwwroot\wwwroot` folder as long as everything is configured correctly. Are you having a specific problem? Can you share info on that?

[2018-02-23 02:04] JunTaoLuo opened #2898 "Build and pack symbols for libuv"
The libuv packages we build do not have any corresponding debug symbols. We should explore how we can produce and pack debug symbols in a libuv symbols package and publish this to the symbols server.

cc @davidfowl @halter73 for libuv expertise
cc @Eilon @muratg for triage
cc @natemcmaster for including additional symbols packages in our build.

[2018-02-23 02:45] halter73 commented on #2898
Are we going to include the symbols in the main nuget package or on a myget symbol server?

The [last time we discussed this](https://github.com/aspnet/Coherence-Signed/issues/152#issuecomment-171815651), I was told we were saving the old symbols so we could upload them to a symbol server retroactively.

[2018-02-23 03:05] JunTaoLuo commented on #2898
Apparently we produce these in the libuv-build-windows builds, e.g. $DROPSHARE\libuv-build-windows\dev\10077\build\symbols. We should package these into symbols nupkgs and publish these along with our other symbols.

[2018-02-23 08:26] MarcDrexler opened #2899 "Timeout Exception in Rewrite Middleware"
I am using the rewrite middleware to filter out requests with specific user agents.
My rules are coming from a text file, and I use the `AddApacheModRewrite` method to apply them.

My Startup.cs looks like this:

[code]

And the text file contains a lot of rules in this format:

[code]

The filter works, but some requests fail with the following exception:

[code]

I believe these timeouts happen

[2018-02-23 08:38] valeriob opened #2900 "Application startup exception: System.IO.FileLoadException: Could not load file or assembly 'Microsoft.Extensions.DependencyInjection.Abstractions"
Hi,
i'm compiling an asp.net core application running on net461, if i compile it on a CI machine with just  vs2017 15.5.4 build tools installed, the output fails with that exception. When i compile that project on any other machine (dev, with the whole vs2017 installed) the output works correctly.  I think the assembly in the error is just one of many failing.

It tries to load version 1.1.0 of th

[2018-02-23 13:45] valeriob commented on #2669
I'm migrating AspNet Mvc application and got bitten by this issue, what's the suggested work around ?

[2018-02-23 14:45] DevelAx commented on #2669
@valeriob for example, if you want to use `Url.Link` with `<a>` tag, you could create a helper class, like this:
[code]
Example of usage in a view:
[code]

[2018-02-23 16:41] doggy8088 commented on #2669
Hope this bug can be fixed in **ASP.NET Core 2.1**.  There are tons of potential ASP.NET MVC devs are going to migrate their website to ASP.NET Core.  The inconsistence of the routing feature are really annoying. 😢

[2018-02-23 21:48] javiercn commented on #2897
@Eilon This might be an integration bug. You should be able to change the content root by doing setting the ASPNETCORE_CONTENTROOT environment variable, but I believe that calling UseContentRoot override that.

Hosting just reads the content root from a setting in the host configuration. By default, hosting adds environment variables to the configuration and the call to UseContentRoot adds an in m

[2018-02-24 00:55] ryanbrandenburg commented on #2648
@hishamco was correct, both issues were already resolved (I thought one of them was still around). This can be closed now.

[2018-02-24 00:55] #2648 closed

[2018-02-24 08:47] Matthew-Bonner opened #2901 "Calls to WebHost.CreateDefaultBuilder override the ASPNETCORE_CONTENTROOT environment variable"
See javiercn's comments:

@Eilon This might be an integration bug. You should be able to change the content root by doing setting the ASPNETCORE_CONTENTROOT environment variable, but I believe that calling UseContentRoot override that.

Hosting just reads the content root from a setting in the host configuration. By default, hosting adds environment variables to the configuration and the call to U

[2018-02-24 08:49] Matthew-Bonner commented on #2897
Funny you said that, because environment variables is exactly how BenchmarkDotNet suggest passing data between the benchmark bootstrapper and the benchmarks that are being ran:
https://github.com/dotnet/BenchmarkDotNet/issues/661

There is a second way which I don't like the idea of using.

I tested the bug you mentioned and it is in fact a problem. I used the default ASP.NET Core template in Visu

[2018-02-24 10:06] dallancarr commented on #2900
This is problem with the autofac library targeting netstandard1.0

[2018-02-24 10:15] valeriob commented on #2900
Why it works on some machines and does not no a clean one with just build tools ?

[2018-02-24 11:12] dallancarr commented on #2900
Sorry my mistake, But you need a minimum of net461

[2018-02-24 11:20] Matthew-Bonner commented on #2901
After testing it looks like you don't even need to call UseContentRoot in CreateDefaultBuilder. Can someone confirm this for *nix and mac?

[2018-02-24 11:32] valeriob commented on #2900
I would really like to learn how to diagnose this problems, can you point me to the point where you see the problem in the exception or dep.json file pls ?

Yes the sdk is there
![image](https://user-images.githubusercontent.com/1522516/36629970-96b1f286-195e-11e8-826e-e16da10b4b1b.png)

[2018-02-24 11:42] dallancarr commented on #2900
The buildtools don't package the sdk if I remember rightly so you must have installed the sdk manually on the build agent.

[2018-02-24 11:55] valeriob commented on #2900
As you can see it's all there

![image](https://user-images.githubusercontent.com/1522516/36630130-da60446c-1961-11e8-9bdb-7b73aecf9e0c.png)

[2018-02-24 12:32] dallancarr commented on #2900
THANKS. OnTmsTrasportatori.Web is attempting bind to 1.1.0 and fighting major version mismatch.Im still interested the autofac lib is the culprit which I mentioned earlier and you say it runs the most from vs, Can you test on the published output. also check references locally.

[2018-02-24 14:27] dallancarr commented on #2900
Looks like someone has hit this:
https://github.com/autofac/Autofac.Extensions.DependencyInjection/issues/24

[2018-02-24 14:28] gfoidl commented on #2890
@davidfowl do you mean something like

[code]

and maybe Ctor-overloads that accept `Span<char>` to create a `StringSegment` of an existing span?

For methods like `StringSegment.IndexOf` a Span-based version could be faster -- would need some tests therefore (this should be a separate PR anyway).

[2018-02-24 14:42] dallancarr commented on #2900
https://github.com/autofac/Autofac.Extensions.DependencyInjection/blob/65352f4a5ad1b29386cfccb39944ce566e5a0e79/src/Autofac.Extensions.DependencyInjection/AutofacServiceProviderFactory.cs#L72

[2018-02-24 14:56] dallancarr commented on #2900
Are you using with or without ConfigureContainer?

http://autofac.readthedocs.io/en/latest/integration/aspnetcore.html#quick-start-without-configurecontainer

[2018-02-24 15:00] dallancarr commented on #2900
Maybe you can stop it autounifying...im interested you haven't hit any runtime issues in VS.

[2018-02-24 15:26] valeriob commented on #2900
I don't know if it's the same issue, i tried that repro and it gives a different exception :

   at Library.Startup.Build(IServiceCollection services)
   at ConsoleApp2.Program.Main(String[] args) in c:\Users\vborioni\Desktop\Repros-BuildServiceProvider\ConsoleApp2\Program.cs:line 13

I'm using it without ConfigureContainer.
Thanks for helping @dallancarr  but i do not unrestand what you meant by

[2018-02-24 15:52] dallancarr commented on #2900
Just wanted you to assure me it running correctly outside vs on your local and not quirk of vs with the problem you are hitti g.

[2018-02-24 16:03] dallancarr commented on #2900
Could you run this workaround https://github.com/dazinator/Repros/tree/BuildServiceProvider-Workaround. Changing the app to target net461. Could you then take a dependency on Autofac.Extensions.DependencyInjection and configure a simple builder from the library package. Also see if this simple repo runs on the build agent.

[2018-02-24 19:19] javiercn commented on #2897
@Matthew-Bonner The way we think about it is that publish is the gesture that gives you an artifact you can execute, thats why @Eilon was also mentioning publish. While you can get something executable as a result of just doing "build" in many cases. Semantically, publish is the right thing to do.

[2018-02-24 19:19] #2897 closed

[2018-02-24 21:35] jchannon opened #2902 "Accept header with no q value is null not 1"
When inspecting an Accept header with that has a media type with no `q` value the `Quality` value is null.

*Request:*
<img width="822" alt="screen shot 2018-02-24 at 20 56 02" src="https://user-images.githubusercontent.com/105126/36635289-0dd5c414-19aa-11e8-8bbc-9ee63c901e75.png">

*Server:*
<img width="1054" alt="screen shot 2018-02-24 at 21 01 35" src="https://user-images.githubusercontent.com/

[2018-02-24 21:46] markrendle commented on #2902
I was digging through the code after you mentioned this on Twitter, and it does appear to do the right thing. Specifically, look here: https://github.com/aspnet/Mvc/blob/c27b07ef3f8b07dfe1d1de38a8d7bf2d6a9298f4/src/Microsoft.AspNetCore.Mvc.Core/Formatters/MediaType.cs#L410

So while the Accept headers in the Request are not right, the ObjectResultExecutor using the DefaultOutputFormatterSelector u

[2018-02-24 21:49] jchannon commented on #2902
I'm doing this in Botwin https://github.com/jchannon/Botwin which is built
on top of ASP.Net Core directly similar to other libraries.

My preference would be that ASP.Net Core issue the fix rather than MVC and
Botwin and other libs have to work around it.

On 24 February 2018 at 21:46, Mark Rendle <notifications@github.com> wrote:

[2018-02-25 02:27] whizkidwwe1217 opened #2903 "ConfigureAppConfiguration not taken into account."
I tried to put kestrel urls into a separate json file so I don't have to recompile the project every time I change urls but the problem is that the ConfigureAppConfiguration doesn't work. I don't want to use the UseConfigurationMethod because I can't find a way to get the IHostingEnvironment to set up different settings for different environment. Putting these configurations in the Startup class d

[2018-02-25 11:06] valeriob commented on #2900
I'm sorry i do not yet have a repro i can share, but i would really like to learn a process to diagnose this, not going trial and error, i would like to read something, understand what's wrong and then act 😄

[2018-02-25 19:40] bluedog13 opened #2904 "Memory Leak"
I have two similar methods in a class that return null. Only difference is the method arguments they accept.

In both cases, the class that contains the below method implementation is added to the services collection in StartUp class using services.AddScope. The container is responsible to create the instance of the class and also dispose the object accordingly.

App starts with 90MB without any i

[2018-02-26 19:29] tb-mtg commented on #2738
"The .vbhtml razor engine from MVC 5 wasn't ported to Core primarily because less than 1% of all VB web projects used it after 5 versions."

What do the other 99% use then?

[2018-02-26 19:34] Eilon commented on #2899
This issue was moved to aspnet/BasicMiddleware#306

[2018-02-26 19:34] #2899 closed

[2018-02-26 19:36] Eilon commented on #2904
@bluedog13 can you show a bit more about what your code looks like? Are you using MVC? What does your controller/action look like?

[2018-02-26 19:43] Eilon commented on #2902
I believe the code in MVC and HttpAbstractions was all merged into just HttpAbstractions, so tagging it for that.

[2018-02-26 19:53] kumpera commented on #2786
@anurse I understand that, what I don't get it is why a sockets proxy doesn't experience this.
Which is what makes me believe this to be an issue with ASP.NET WebSockets.

Does that make sense?

[2018-02-26 20:46] reduckted commented on #2738
Angular, or other similar front-end libraries, I would presume. That's what I use.

[2018-02-26 20:58] danroth27 commented on #2786
@SteveSandersonMS

[2018-02-26 21:52] #2890 closed

[2018-02-26 22:40] jmudavid commented on #2816
@Eilon, I wanted to ping you quickly on this concept.  I see you were in discussions with somebody else around a similar need that never materialized earlier this year.  I am running into some CI build issues using the forked repo due to internal nuget references and rather than trying to solve that issue, wanted to see if getting this code pulled into JsonPatch proper would be a better use of my

[2018-02-26 23:27] anurse commented on #2786
@kumpera I can't really answer that question, I'm not familiar with Chrome's remote debugging implementation. You'd need to look at network traces to get more information about what's going on.

[2018-02-26 23:37] pranavkm opened #4877 "Add support for ViewDataAttribute in Razor views"
As part of https://github.com/aspnet/Mvc/issues/6525, one interesting idea was to introduce a new directive + supporting semantics to add ViewDataAttribute to Razor views.

Some ideas:
[code]
A possible prereq for this might be revisit the architecture of `RazorView`. Unlike controllers and Razor Pages which have a way to control behavior and lifecycle without having to bake things in via filters,

[2018-02-27 00:34] withkittens opened #5884 "Should HttpSysDefaults.AuthenticationScheme be a const string?"
Right now it is a `readonly` field and is disallowed to use in a `const` context. Also this is inconsistency with other authentication packages like `JwtBearer`.

### Expected result

This should compile:

[code]

### Actual result

CS0182 compilation error: _An attribute argument must be a constant expression, typeof expression or array creation expression of an attribute parameter type._

[2018-02-27 00:35] ryanbrandenburg opened #2905 "Add detailed description of resource fallback behavior to documentation"
Let's clarify how the resource fallback behavior works for Localization, including how a `*.resx` file (vs a `*.culture.resx` file) relates. Be very explicit about parent culture fallback, Default vs Neutral language and reorder things to clarify.

[2018-02-27 00:52] Eilon commented on #2903
This issue was moved to aspnet/Hosting#1334

[2018-02-27 00:52] #2903 closed

[2018-02-27 00:54] Eilon commented on #2901
This issue was moved to aspnet/Hosting#1335

[2018-02-27 00:54] #2901 closed

[2018-02-27 04:23] epignosisx opened #2906 "Consider adding a version of Response.Cookies.Append that does not encode"
I have run into the scenario where I'm receiving cookies properly encoded from a third party system and when calling ```Response.Cookies.Append``` it is doing a second round of encoding.

Could you consider adding another property to ```CookieOptions``` to skip the encoding? Basically:

[code]

This ```Raw``` property would mean: trust me, the key and the value are already encoded.

[2018-02-27 04:35] davidfowl commented on #2906
Can you propose an API? AppendRaw maybe? /cc @Tratcher

[2018-02-27 04:58] Tratcher commented on #2906
Can you give some examples of the input and output you see?

[2018-02-27 04:59] epignosisx commented on #2906
AppendRaw works too. In fact, my current workaround is an extension method on IHeaderDictionary called AppendRawCookie.

I kind of prefer to have the Raw flag in the CookieOptions because it keeps the Append methods simple and keeps this potentially risky option a bit buried, steering users to use the safe option.

On the other hand, I’m not very familiar with other usages of CookieOptions and if

[2018-02-27 04:59] Tratcher commented on #2906
Workaround: use the SetCookieHeaderValue type to generate the cookie and Response.Headers.Append to add it. This is roughly how the current version is implemented.

[2018-02-27 05:38] HappyNomad commented on #2743
I made the following edit above.  To my suggested `IAdapterFactory` interface's `Create` method, I added the parameters `string currentSegment` and `string nextSegment`.  This information can help choose the correct adapter.  The `nextSegment`  is particularly important since the spec delimits an array's index into the next segment.  Thus, the next segment contains information that can help determ

[2018-02-27 06:05] John0King opened #2907 "How do I write a middleware ?"
in [this document](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?tabs=aspnetcore2x) ,  it use `public async Task Invoke(HttpContext httpContext, IMyScopedService svc)`,

in [this document](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/extensibility) it use `public async Task InvokeAsync(HttpContext context, AppDbContext db)`

What's the different betw

[2018-02-27 06:54] Eilon commented on #2907
Both `Invoke` and `InvokeAsync` method names are allowed, and do exactly the same thing. You can use one or the other, but not neither, and not both.

It's just a matter of convenience because some people like the `Async` suffix and some don't.

[2018-02-27 06:54] #2907 closed

[2018-02-27 06:57] Eilon commented on #2816
@jmudavid would it be possible to send a PR with a rough outline of what you're looking for? I certainly don't want to waste anyone's time, but that might be the easiest way for us to get a sense of how big a change you're talking about. Don't worry about tests or anything (yet!) - I just want to see if we can easily get a sense of how much API churn there is. Thanks!

[2018-02-27 08:02] Montigomo opened #2908 "Routes question"
Hello, why when i define routes like this:

[code]

[code]

Home.Index() called two times per request?
project -> https://github.com/Montigomo/AcTest1

[2018-02-27 08:44] John0King commented on #2907
@Eilon   after a search on github , I find out that  `InvokeAsync` convention is add after  *[2.0.0-preview1](https://github.com/aspnet/HttpAbstractions/releases/tag/rel%2F2.0.0-preview1)*

Please update the document about this change

[2018-02-27 08:52] valeriob commented on #2900
Fixed by updating signalr from
<PackageReference Include="Microsoft.AspNetCore.SignalR.Http" Version="1.0.0-alpha1-26873" />
to
<PackageReference Include="Microsoft.AspNetCore.SignalR" Version="1.0.0-preview1-final" />
Microsoft.AspNetCore.SignalR
 i just kept pealing out pieces of application until it worked... i wish i was able to diagnose what the problem was 😞

[2018-02-27 08:52] #2900 closed

[2018-02-27 09:10] valeriob commented on #2900
And i have a repro, i know the problem is solved, the package was preview etc...
but i would like to learn how to diagnose those problems 😄 maybe @davidfowl can point me in the right path
[Autofac_dependency.zip](https://github.com/aspnet/Home/files/1761927/Autofac_dependency.zip)

[2018-02-27 09:57] Rast1234 opened #5477 "Consider changing URLs of .NET assemblies not to end with .dll"
I wanted to see the demo at https://blazor-demo.github.io/ and my corporate firewall blocked `MicroApp.dll`, while other dlls downloaded successfully. Since a lot of software is paranoid about downloading/transferring windows binaries, maybe it's worth obfuscating them a bit? Or, at least, renaming?

[2018-02-27 15:05] conficient opened #5478 "Online interactive tutorials"
One of the cool features of both [KnockoutJS](http://learn.knockoutjs.com/) and [TypeScript](https://www.typescriptlang.org/play/index.html) (as well as many other libraries) is the online tutorial where users can learn by typing the code in a browser, have it compiled and run on the same page.

It would help building Blazor tutorials (as well as help adoption) if this were possible - not sure how

[2018-02-27 16:04] Boombasteg opened #2909 "Setting ASPNETCORE_ENVIRONMENT from cmd"
Hello!

I need to change ASPNETCORE_ENVIRONMENT from cmd (by running bat file).
I have bat file like this:
[code]
I assume that it will:

-  change ASPNETCORE_ENVIRONMENT
-  recreate DB for tests (ConnectionString depends on ASPNETCORE_ENVIRONMENT and getting from appsettings.tests.json from startProjectWebApi)
-  run tests

But instead it recreate wrong DB specified for example in appsettings.dev

[2018-02-27 16:35] jmudavid commented on #2816
@Eilon I created the PR and while I was able to mention you, I couldn't add you as a reviewer.  Here it is https://github.com/aspnet/JsonPatch/pull/130 as I am sure you get a lot of mentions and didn't want it to get buried in your other alerts.  Thanks!

[2018-02-27 16:47] epignosisx commented on #2906
Here is the example you requested:

A cookie value that is actually a piece of JSON

Third party system returns cookie value encoded as:
[code]

After calling ```Response.Cookies.Append``` on the already encoded cookie what gets sent to the browser is:
[code]

[2018-02-27 16:49] epignosisx commented on #2906
The workaround that we have right now looks like this:

[code]

[2018-02-27 17:39] Tratcher commented on #2906
The double encoding is a bug we should fix, %7B should not be encoded double encoded as %257B. If we fixed that would you still need this new raw API?

[2018-02-27 18:22] Eilon commented on #2908
@Montigomo the repo you point to is empty - did you forget to push?

One common cause for this is that the view being rendered has an img/CSS/JS link such as `<img src="" />`, which causes the browser's URL to be accessed again. Can you use your browser's dev tools to see what's causing the 2nd request?

[2018-02-27 19:53] epignosisx commented on #2906
I think there are scenarios where we would want to have a raw cookie added to the headers regardless. Take as an example a cookie with a value like:

[code]

This will be encoded to:

[code]

While the encoding here is correct, there is nothing malicious with this value and browsers and servers have been able to handle the not-encoded version correctly. It is specially useful for backward compatib

[2018-02-27 19:56] Tratcher commented on #2880
This is a client bug. https://github.com/dotnet/corefx/blob/ac58f7e99e7745ba9ab85fe7b47c348260b6ef26/src/System.Net.Http/src/uap/System/Net/cookie.cs#L574
The client requires the cookie path to be less specific than the current request (e.g. request is /foo/bar and cookie can be /foo) but we are setting a path that's more specific (e.g. request is / and we set /signin-oidc). There's no provision f

[2018-02-27 19:57] Tratcher commented on #2880
On a different note, the OIDC protocol is not designed for programmatic usage like this. You'd be better off using a bearer token model.

[2018-02-27 19:59] Tratcher commented on #2880
This issue was moved to dotnet/corefx#27520

[2018-02-27 19:59] #2880 closed

[2018-02-27 20:42] ajaybhargavb commented on #2876
Yup. The spec https://tools.ietf.org/html/rfc6901 does not disallow whitespace or backslashes. I'll send a PR.

[2018-02-27 21:14] kumpera commented on #2786
@anurse err, why should I be debugging WebSockets communication?
I'm not a network engineer and this is a bug in the asp.net stack.

Let me rephrase my issue to see if it makes sense to you.
Is ASP.NET WebSockets code supposed to be able to handle proxying WebSockets?
Should it be able to be behaviorally equivalent to what a sockets-based proxy would accomplish?

[2018-02-27 21:16] kumpera commented on #2786
@anurse btw, this issue was originally opened on CoreFx and they told me that it was an asp.net issue:
https://github.com/dotnet/corefx/issues/26369

[2018-02-27 21:47] #2810 closed

[2018-02-27 23:01] natemcmaster commented on #2775
@Tratcher has a better understanding on how to fix this. Apparently #232 was not sufficient.

[2018-02-27 23:25] #2856 closed

[2018-02-27 23:25] #2857 closed

[2018-02-27 23:25] #2858 closed

[2018-02-27 23:29] Eilon commented on #2909
Hi @Boombasteg can you show what your Program.cs and Startup.cs look like?

[2018-02-27 23:32] Eilon commented on #2907
@John0King you can file documentation issues at https://github.com/aspnet/Docs/issues and we will prioritize the suggestion for making documentation improvements.

[2018-02-28 00:16] Eilon commented on #2360
Naah.

[2018-02-28 00:16] #2360 closed

[2018-02-28 01:18] vairamsvsjdo commented on #2896
Issue is in the default name used for "static files" folder.
It is ok! It is quiet weird to have a wwwroot folder inside a wwwroot folder. There should be only one wwwroot folder. Can it be named "staticfiles" or "assets" instead of wwwroot like webpack or other bundling tools conventions use?

https://stackoverflow.com/questions/27639005/how-to-copy-static-files-to-build-directory-with-webpack

[2018-02-28 06:29] Montigomo commented on #2908
corrected
there is no any <img src="" /> in example.
I thought than when asp/net route middleware found a (any one) route search are stopped and route invoked (if request). Try to run the sample project and when you run debug and refresh the page counter will show 3 instead 2. Why?
when rewrite like:
...
app.UseMvc(routes =>
			{
				routes.MapRoute(
					name: null,
					template: "",
					defaul

[2018-02-28 07:07] xamlsharp opened #5479 "PWA template"
I'm extremely excited about this project, but even more so if Blazor could be integrated with the principles behind creating "Progressive Web Apps". Of course, this would mean that interop with the Service Worker would be required (among other things).

With the recent beta release of Google's Flutter, can Microsoft one-up them by using a better language with better tooling in order to create apps

[2018-02-28 07:26] Eilon commented on #2896
@vairamsvsjdo I agree it's a bit weird, but it just happens to be that two different features each use that name. You can certainly rename the `wwwroot` folder in your app to anything you want, but once you move away from the default values, you have to start configuring more things.

I would recommend sticking with the current naming - I think you'll find it easier in the long run.

[2018-02-28 07:26] #2896 closed

[2018-02-28 07:29] vairamsvsjdo commented on #2896
@Eilon
What are the two different features that use it?
Thanks

[2018-02-28 07:30] Eilon commented on #2896
Web Deploy uses it for the entire web app, and also ASP.NET Core uses it for its static files.

[2018-02-28 07:55] Boombasteg commented on #2909
Hi @Eilon!

I think problem is not in these files..
Problem is in setting ASPNETCORE_ENVIRONMENT.
You can reproduce it in the following way:
-  open cmd
-  run 'set'
-  remember value ASPNETCORE_ENVIRONMENT
-  run SETX ASPNETCORE_ENVIRONMENT "some_new_value"
-  run 'set' one more time (in this cmd)
-  compare old and new ASPNETCORE_ENVIRONMENT.

I expect to see "some_new_value" but see old value.

[2018-02-28 14:41] n9 opened #2910 "Microsoft.AspNetCore.WebSockets System.NullReferenceException"
Sometimes, I get `System.NullReferenceException` in `Microsoft.AspNetCore.WebSockets`. It looks to me like a race condition.

My code looks like:
[code]
`ct` is `context.RequestAborted`

Call stack is:
[code]

In debugger, it looks like:
![image](https://user-images.githubusercontent.com/1651867/36793282-4dd38600-1c9d-11e8-94a5-2729c0a78cae.png)

It seems to me, that the function `ReceiveAsyncPriv

[2018-02-28 15:37] natemcmaster opened #2911 "Provide an obsolete warning when DotNetCliToolReference is used to packages that are now built-in"
Follow-up to https://github.com/aspnet/DotNetTools/issues/399.

DotNetCliToolReference to dotnet-watch, dotnet-user-secrets, and others aren't needed and won't work anymore. However, when users upgrade their project, dotnet restore will continue to download and install the tools package silently. We should look into ways for providing some kind of warning or output on restore that indicates the us

[2018-02-28 16:52] Tratcher commented on #2910
Closing this as a duplicate of https://github.com/dotnet/corefx/issues/26078

[2018-02-28 16:52] #2910 closed

[2018-02-28 17:01] poke commented on #2911
Just wondering: Will those tool references actually stop working or is it just that they are being replaced by a new tool system, so you just cannot retrieve new versions of those tools?

Or asked differently: Will other CLI tools using `DotNetCliToolReference` also stop working, requiring them to migrate to the new system?

[2018-02-28 17:20] kumpera commented on #2786
@anurse And it worked! Thanks a lot!

Btw, would it make sense to make those ping messages available in the API?

[2018-02-28 17:24] kumpera commented on #2786
Closing this issue as the proposed solution works great.

Thanks again for the help :)

[2018-02-28 17:24] #2786 closed

[2018-02-28 17:30] Legends opened #2912 "How to build the source files"
**I want to build the source files for each project below.**
Both ASP.NET Core and Microsoft.AspNetCore.Mvc fails when executing **build.ps1**, which is part of the root folder.

And why does it try to download another zip file?

[2018-02-28 17:31] anurse commented on #2786
That's a question for dotnet/corefx. It might make some sense, but it's going to be difficult as it would be a pretty significant breaking change.

[2018-02-28 17:36] Tratcher commented on #2912
Which branch are you trying to build? The release/2.0 branch should be the most stable.

[2018-02-28 17:38] pranavkm commented on #2912
@natemcmaster \ @ryanbrandenburg  - we ran in to this with one of our other builds too. Ended up fixing it by forcing Powershell to use TLS2.0. Is this something we need to fix across our repos or is this a client configuration thing?

[2018-02-28 17:39] pranavkm commented on #2912
@Legends in the meanwhile, try setting this in a powershell console before running `build.ps`:

`[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12`. Credit to this SO answer: https://stackoverflow.com/a/41618979

[2018-02-28 17:47] Legends commented on #2912
I tried [this one MVC v1.1.5.zip](https://github.com/aspnet/Mvc/archive/1.1.5.zip).

@pranavkm it seems to work with TLS 2, seems to take a bit long to download.
Whatever it downloads...

Building C:\Users\xxx\Downloads\Mvc-1.1.5\Mvc-1.1.5
dotnet-install: Downloading https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0-preview2-1-003177/dotnet-dev-win-x64.1.0.0-preview2-1-
003177.

[2018-02-28 17:58] Legends commented on #2912
It ends with an error, I will take a look :

[2018-02-28 18:05] ryanbrandenburg commented on #2630
In response to this we've decided that we also need to clean up and clarify our localization documentation in this area, so I've filed aspnet/Home#2905.

[2018-02-28 18:09] Legends commented on #2912
Tried to `dotnet restore mvc.sln`, but it I get a bunch of errors:

[2018-02-28 18:29] Legends commented on #2912
@Tratcher release v2.0.2 builds fine! Thanks to both of you!

[2018-02-28 18:29] #2912 closed

[2018-02-28 18:30] ryanbrandenburg commented on #2912
@pranavkm you can fix the TLS version thing with a client side change, but I'm of the opinion that our build.ps1 script should work out of the box for anyone that clones our repos with minimal setup. The solution to this as far as I can tell would be to update the bootstrap scripts in all of our repos.

[2018-02-28 18:35] danroth27 opened #4129 "Handle the X-ARR-ClientCert header on Azure"
Based on the discussion in https://github.com/aspnet/mvc/issues/7366 it looks like Azure App Service will pass client certificates using the `X-ARR-ClientCert` header. We should investigate if we should add special handling for this header to surface the client certificate appropriately.

See also https://blogs.msdn.microsoft.com/kaevans/2016/04/13/azure-web-app-client-certificate-authentication-w

[2018-02-28 18:37] pranavkm commented on #2912
Sounds like a good idea. Could you file a bug so that engineering team could triage it?

[2018-02-28 18:39] Eilon commented on #2630
Just checking: we can consider this for the next patch, but was the work already done for 2.1 (dev)? Or is there a separate issue tracking tha?

[2018-02-28 18:44] ryanbrandenburg commented on #2912
I filed aspnet/BuildTools#593.

[2018-02-28 18:52] natemcmaster commented on #2911
The tools will stop working. Because dotnet-watch et. al. are bundled, those will override the version that use to be delivered via DotNetCliToolReference.

No. DotNetCliToolReference will continue to work. We are just no longer using this mechanism to deliver the following packages:

- Microsoft.DotNet.Watcher.Tools (aka dotnet-watch)
- Microsoft.Extensions.SecretManager.Tools (aka dotnet-user-se

[2018-02-28 18:59] ruffin-- commented on #2144
@blowdart Why wouldn't using cookies with APIs be recommended? It's [certainly possible to use Identity with WebAPI in ASP.NET Core](https://shellmonger.com/2015/06/02/asp-net-mvc6-identity-part-2-webapi/)... but is that insecure in some especially heinous way that would preclude offering it as an option for a project by default?

[2018-02-28 19:02] Eilon commented on #2909
Sorry I may have misunderstood. Is this just a question about how to set environment variables?

[2018-02-28 19:02] Eilon commented on #2909
I found this post on how SET and SETX work: https://superuser.com/questions/916649/what-is-the-difference-between-setx-and-set-in-environment-variables-in-windows

[2018-02-28 19:04] Eilon commented on #2909
In particular, the syntax `SET ASPNETCORE_ENVIRONMENT "tests"` doesn't look correct to me. It should be `SET ASPNETCORE_ENVIRONMENT=tests`

[2018-02-28 19:05] Eilon commented on #2911
@natemcmaster where would such a warning go?

[2018-02-28 19:11] natemcmaster commented on #2911
Three options:

1. Wait for NuGet to support obsoleting a package https://github.com/NuGet/Home/issues/2867
2. Add something to Microsoft.NET.Sdk so we can issue a warning on restore
3. Add a bit of code into new versions of dotnet watch and user-secrets that detect if the project they operate on still has a DotNetCliToolReference to an old version of the same tool

I'd prefer (1) but likely won't

[2018-02-28 20:46] poke commented on #2911
But if the bundled versions override the one from the DotNetCliToolReference, and the bundled tools work the same way as the old ones, then there’s no actual harm in just keeping the tool references in the projects, right?

[2018-02-28 21:00] natemcmaster commented on #2911
That's a good point. "The tools will stop working" is vague. What I meant was that resolving "dotnet watch" to the dotnet-watch.dll as specified in DotNetCliToolReference doesn't work. You are automatically lifted to the bundled version. For the most part, these tools have preserved the same command line syntax that existed in all stable releases, so I expect this won't often be an issue, so no ha

[2018-02-28 22:13] Eilon commented on #2911
Can we get an issue logged for (2)? That would be helpful for all tools in the world that become global tools, no? We can only change the code in our own tools here.

For (3), should we move this issue to DotNetTools, plus have a clone of the issue for any other repo that has a formerly-local-and-now-global tool?

[2018-02-28 22:29] mkArtakMSFT opened #4879 "Create an Analyzer to warn customers to not user Required attribute on top-level parameters"

[2018-02-28 22:40] mkArtakMSFT opened #4880 "Redesign the ViewEngine to be async"
* `IViewEngine` could be designed to be made without relying on HTTP. This may allow for not-HTTP scenarios such as email generation in background tasks. An alternative to this would be to recommend using components for this.
* Requirements for resdesign:
    - Existing scenarios must work
    - Have a package that does runtime compilation. Cannot be shipped with the shared fx, but can depend on i

[2018-02-28 22:54] vsfeedback opened #21787 "BC37255: Combined length of user strings used by the program exceeds allowed limit. Try to decrease use of string or XML literals"
I receive this error on my datasets since I've installed the latest VS2017. I have big tables, and think the MSDataSetGenerator generates code different, so now the compiler can't handle the big generated strings anymore?

There is not much information about the error message BC37255.

Can you help?

_This issue has been moved from https://developercommunity.visualstudio.com/content/problem/192728

[2018-02-28 23:02] ryanbrandenburg commented on #2630
Yes, this work is done for 2.1. We fixed it in aspnet/Localization#413 when they added the GetAllStrings API back to ResourceManager.

[2018-02-28 23:15] #2876 closed

[2018-02-28 23:16] ajaybhargavb commented on #2876
aspnet/JsonPatch@63f03228106c61b6af2965c874f09758f7a5439e

[2018-03-01 00:18] #2775 closed

[2018-03-01 07:48] Boombasteg commented on #2909
Yes!

The problem was in syntax!

Globally it sets in this way:
`SETX ASPNETCORE_ENVIRONMENT new_value`

But for local using only this:
`SET ASPNETCORE_ENVIRONMENT=new_value`

:|

Thank you!

[2018-03-01 15:10] Postlagerkarte opened #4882 "Why does SelectList no longer support a constructor which takes a list of disabled items?"
In Asp.Net MVC the SelectList has a constructor overload of the form:

[code]

However, in Asp.Net Core MVC, there is no longer a constructor which takes disabled items as a parameter:

[code]

Was this a conscious decision or would you accept a pull request to support this use case?

[2018-03-01 17:27] Eilon commented on #2909
Great!

[2018-03-01 17:27] #2909 closed

[2018-03-01 18:24] madrianr opened #2913 "ASP.NET Core Windows Authentication except specific paths"
in our ASP.NET Core solution we use Windows Authentication but for one path we need anonymous Access because it is the path for the WOPI Access from Office Online Server like api/wopi/files/{id}

is there a possibility to except specific paths in ASP.NET CORE with Windows Authentication?

robert

[2018-03-01 18:53] natemcmaster commented on #2911
(2) - https://github.com/dotnet/sdk/issues/2014. The scope of this warning should just be limited to DotNetCliToolReference to our tools that are now built-in commands. AFAIK there are no plans to drop DotNetCliToolReference completely from the CLI/SDK.

(3) - if https://github.com/dotnet/sdk/issues/2014 doesn't happen, we can do a less-optimal, but hopefully still helpful message in dotnet-watch/

[2018-03-01 20:40] Tratcher commented on #2913
A sample will be provided as part of https://github.com/aspnet/AuthSamples/issues/15

You're using IIS, correct? In IIS enable Windows and Anonymous. Then on all of your controllers that require auth specify `[Authorize]`. If this is for ASP.NET Core 2.0 then also add `services.AddAuthentication(IISDefaults.AuthenticationScheme)` in Startup.ConfigureServices.

[2018-03-01 20:59] Eilon commented on #2911
Ok

[2018-03-01 22:03] b06sd opened #2914 "Method not found: 'Void Microsoft.EntityFrameworkCore.Storage.Internal.RelationalParameterBuilder..ctor(Microsoft.EntityFrameworkCore.Storage.IRelationalTypeMapper)'."
This is my issue (Method not found) When i issue this command on my terminal

info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using '/home/oladotun/.aspnet/DataProtection-Keys' as key repository; keys will not be encrypted at rest.
info: Microsoft.EntityFrameworkCore.Infrastructure[10403]
      Entity Framework Core 2.1.0-preview1-28290 ini

[2018-03-01 22:12] ajcvickers commented on #2914
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/11078

[2018-03-01 22:12] #2914 closed

[2018-03-01 22:20] Eilon opened #4124 "Demonstrate how to renew access tokens w/ refresh tokens"
See https://github.com/aspnet/Security/issues/1668 for some of the challenges that exist today.

[2018-03-01 22:24] b06sd commented on #2914
Thanks

[2018-03-01 22:27] b06sd commented on #2914
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using '/home/oladotun/.aspnet/DataProtection-Keys' as key repository; keys will not be encrypted at rest.
System.MissingMethodException: Method not found: 'Void MySql.Data.MySqlClient.MySqlConnectionStringBuilder.set_BufferResultSets(Boolean)'.
   at Microsoft.EntityFrameworkCore.MySqlDbContex

[2018-03-01 22:28] b06sd commented on #2914
This is what i got as a result after installing the package MySqlConnector. Kindly assist as am a newbie

[2018-03-02 00:18] Tratcher opened #2915 "ActivatorUtilities.CreateInstance no selecting the longest matching constructor"
Consider:
[code]
This class is activated by UseMiddleware which calls Activator.CreateInstance.
https://github.com/aspnet/HttpAbstractions/blob/9119433ab778d7adf04c4601917809f2f4582a93/src/Microsoft.AspNetCore.Http.Abstractions/Extensions/UseMiddlewareExtensions.cs#L92

The shorter constructor is being used by default and logging doesn't work. Either constructor works if I comment out the other.

[2018-03-02 00:35] pranavkm commented on #2915
Likely a dup of https://github.com/aspnet/Home/issues/2871.

[2018-03-02 02:14] Tratcher commented on #2871
This is now blocking a middleware fix. See #2915

[2018-03-02 02:14] #2915 closed

[2018-03-02 06:26] Eilon commented on #2871
@mkArtakMSFT / @muratg - if this is blocking @Tratcher 's work can you guys figure out how to get this on the priority list for preview2?

[2018-03-02 08:01] campersau commented on #2871
Nice! As a workaround I ordered the constructors in the source code so that the first constructor is the one I want to be activated by DI.

[2018-03-02 08:34] aguacongas opened #2916 "Asp.Net Identity stores for firebase"
If you are intersted, I've implement [Asp.Net Identity stores for firebase](https://github.com/aguacongas/Identity.Firebase)

Regards

[2018-03-02 08:38] madrianr commented on #2913
It seems that isn't enough - what about classes which we Inject into our views?
we have a class which we inject into our view in the _ViewImports.cshtml like this:
@inject IObjektberechtigungen Objektberechtigungen

in this class we make database calls with RunImpersonated like this:

`var callerIdentity = context.User.Identity as WindowsIdentity;
                WindowsIdentity.RunImpersonated(ca

[2018-03-02 08:43] muratg commented on #2871
@Tratcher That bug was closed. What's the exact fix that was blocked?

@pakrym @davidfowl Any thoughts on this? Are we picking up the first constructor currently? Would changing this be a breaking change?

[2018-03-02 09:58] campersau commented on #2871
Test case:

[code]

[2018-03-02 12:08] JaccoRademaker commented on #2799
We're now experiencing this issue, after switching from Azure App Service type S3 to the new P3v2.
Our stacktrace:
`System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.AspNetCore.Http.Features.FeatureReferences'1.UpdateCached[TFeature,TState](TFeature& cached, TState state, Func'2 factory, Int32 revision, Boolean flush)
   at Microsoft.AspNetCore.Ht

[2018-03-02 12:39] skleanthous opened #2917 "The link to contributor license agreement is not working"
The link to sign the contributor license agreement in https://github.com/aspnet/Home/blob/dev/CONTRIBUTING.md is not working.

[2018-03-02 13:26] Tratcher commented on #2913
There authorize attribute goes on you mvc controller class. Or are you using razor pages instead?

[2018-03-02 13:32] Tratcher commented on #2799
Unfortunately this exception doesn't tell us what other thread was touching the HttpContext at the same time. Do you have any background thread running?

[2018-03-02 13:35] madrianr commented on #2913
solved it now - set the following to have authorization on every Controller

        `services.AddMvc(options =>
                {
                    var policy = new AuthorizationPolicyBuilder()
                        .RequireAuthenticatedUser()
                        .Build();
                    options.Filters.Add(new AuthorizeFilter(policy));
                })`

and use [AllowAnonymous] f

[2018-03-02 13:44] JaccoRademaker commented on #2799
We do not have background threads running. Our application is an api, only handling incoming http requests.
We do have Application Insights integrated/implemented. That might do background work?

[2018-03-02 16:17] Tratcher commented on #2917
@eilon Should https://cla2.dotnetfoundation.org/ be https://cla.dotnetfoundation.org/ ?

[2018-03-02 16:20] Tratcher commented on #2871
@muratg https://github.com/aspnet/Security/issues/1588

I'll try the ordering workaround in Security but that wasn't working consistently in some UseMiddleware tests last night.

[2018-03-02 16:33] pakrym commented on #2871
There are two separate issues here that should be treated differently.
1. The one originally reported by @jbagga, where ActivatorUtilities would throw because of multiple applicable constructors. We can enable this scenario by selecting the longest one and it won't be a breaking change because things didn't work before at all.
2. The other issue is the one that Chris is seeing, where there is, for

[2018-03-02 17:26] pranavkm commented on #2871
I think depending on the code path, `CreateInstance` with non-DI arguments and the one where it's basically DI anti-pattern, you may not get this error: https://github.com/aspnet/DependencyInjection/blob/dev/shared/Microsoft.Extensions.ActivatorUtilities.Sources/ActivatorUtilities.cs#L41-L74

Could we possibly model it around a model where you specify exactly all the ctor argument types to remove

[2018-03-02 17:26] Tratcher commented on #2871
Found it:
https://github.com/aspnet/DependencyInjection/blob/0c2dac8b2a0e9495cf5c3de10143ea656bfab3c1/shared/Microsoft.Extensions.ActivatorUtilities.Sources/ActivatorUtilities.cs#L48-L64
A) This code path has no provision for throwing if there are multiple constructors.
B) The ConstructorMatcher is only matching against the supplementary params list, it doesn't look at DI at all. Match returns 0 f

[2018-03-02 17:32] pakrym commented on #2871
Why do we have two completely different code paths for these methods?

[2018-03-02 17:33] pranavkm commented on #2871
@pakrym you make it sound like we thought this type through 😄

[2018-03-02 17:51] Tratcher commented on #2871
HttpsRedirect and IIS middlewares also have multiple constructors, but they add local params rather than DI params so it appears to work.

[2018-03-02 18:32] JaccoRademaker commented on #2799
Okay, we just discovered the exceptions happened on a deployment slot, that was not supposed to receive traffic. So the exceptions did not happen under reasonably high load in production (~2mln requests per hour, including CORS pre-flight).
We scaled down back to the S3 App Service and the exceptions vanished.
Not sure on how to provide more information, as to me it is an absolute mystery what com

[2018-03-02 19:01] Eilon commented on #2916
@aguacongas sounds cool! Maybe you can send a PR to https://github.com/aspnet/Identity/blob/dev/README.md to add a link to it?

[2018-03-02 19:01] #2916 closed

[2018-03-02 19:03] Eilon commented on #2917
I will take a look and fix, thanks for the report!

[2018-03-02 19:14] Tratcher commented on #2902
MediaTypeHeaderValue is a raw representation of the header, so indicating the presence or the absence of the q value is meaningfull.  Otherwise you would not be able to round trip the header, it'd always be outputting q's. Defaulting to 1 if q is absent is a higher level concern.

[2018-03-02 22:01] muratg commented on #2328
Backlogging this one.  If folks have strong opinions on this, please let me know.

[2018-03-02 22:03] muratg commented on #2329
Documentation is fixed (Thanks @Rick-Anderson!).

Closing the bug as we do not plan to make the requested change.

[2018-03-02 22:05] muratg commented on #2766
This is by design so closing.  @FrederickBrier let me know if you'd like to talk about alternative ways to implement that.

[2018-03-02 22:05] #2766 closed

[2018-03-02 22:07] muratg commented on #2871
Triaging this in based on the discussions so far.

[2018-03-02 22:31] #2329 closed

[2018-03-02 23:55] natemcmaster commented on #2508
I'm seeing something similar in perf on Windows. On macOS/Linux, it goes the other way though. @blowdart what do you think about starting with switching the Linux/macOS implementation first? Windows is still faster and allocates less.

https://github.com/aspnet/DataProtection/blob/namc/bench/benchmarks/PBKDF2Benchmarks/HashBenchmarks.cs

Windows x64:

Method | Iterations |         Mean |       Err

[2018-03-03 00:37] muratg commented on #2452
@Tratcher Do you know if this is still an issue?

[2018-03-03 00:38] muratg commented on #2457
@blowdart What's your current thoughts on this?

[2018-03-03 02:06] blowdart commented on #2508
That'd be fine by me

[2018-03-03 06:35] Tratcher commented on #2452
Yes
https://github.com/aspnet/StaticFiles/blob/0755bf3c1ca2069747f03e5a54c278ff74868ac5/src/Microsoft.AspNetCore.StaticFiles/DefaultFilesMiddleware.cs#L76

[2018-03-04 06:53] rajurh opened #2918 "HTTP client - API error c# (A task was canceled.)"
We are calling multiple API's in foreach loop and all API are of Async call. Now in the foreach loop due to some reason 1 API call has returned internal error and we are skipping that record and progressing with other requests in for loop. When the next loop continues the first API call we are getting error with "System.Threading.Tasks.TaskCanceledException: A task was canceled" and "Aggregation e

[2018-03-04 09:51] VBDotNetCoder commented on #2738
Actually that is also exactly what I plan to do with our new web  projects move to Angular from ASP.Net MVC Razor , I have to do 4 new web projects this year , so if someone keeps count .. LOL

[2018-03-04 10:09] davenewza commented on #2799
I would like to point out that we are also on Premium Dv2.

[2018-03-04 14:56] khaledannajar commented on #337
I am running VS on Mac OS X with runtime: mono v 5.4.1.7. And I can't find Task.CompletedTask. I had to use this work around [on stack over flow](https://stackoverflow.com/questions/14244114/create-a-completed-task#14244239)

[2018-03-05 08:25] #2913 closed

[2018-03-05 08:38] JamesNK opened #2919 "Additional information needed in building from source docs"
https://github.com/aspnet/Home/wiki/Building-from-source

A couple of things I found when getting setup:

1. `build.cmd` is a-ok, but...
2. VS expects the correct version of the .NET Core SDK to be installed on your computer before it will allow solutions to be build.
3. Running tests in VS will also error because you don't have the right version of .NET Core.

For developers wishing to use VS the

[2018-03-05 10:42] Anupam- commented on #2542
[code]
This solves the issue triggering change event multiple times.
But I have a scenario where I have to write configuration file at startup and just after that I using configuration to instantiate another class as follows

step 1 - pull configuration from the remote source and write to configuration file
step 2 - use above configuration values. (at this point I don't receive the configurations)

[2018-03-05 10:44] simonmilne80 commented on #2738
VB has been a popular language for many years! As a company we certainly have many code snippets that we would not want to have to re-write in C# Im sure there are many old school web form apps that are due to be re-written especially with the new EU rules coming into play, this would mean that VB would be very much wanted! I find it amazing that microsoft blow so hot and cold on VB one minute its

[2018-03-05 14:14] markrendle opened #5768 "[Identity UI] Consider adding more id or similar attributes"
These packaged UI elements are going to need to be style-able using CSS, so maybe it's worth adding more `id` or `class` or even just `data-xyz` attributes to various elements (for example, the `section`s on the Login page with the user/password and the external providers, or the individual buttons for the providers), and documenting those attributes for designers to work with.

Happy to contribut

[2018-03-05 16:13] Tratcher commented on #2919
Did you follow the "edit your PATH" instructions? Those should be sufficient for getting VS working (if you've run build.cmd at least once).

[2018-03-05 17:50] FrederickBrier commented on #2766
pakrym suggested looking at NInject. I found [someone](https://github.com/msdevno/GeekBeer/blob/master/Web/Ninject/ServiceProviderNinjectModule.cs) who had created a way for NInject to consume the ServiceDescriptors. I then made some small adjustments. Being able to register the classes in the plugin and have NInject populate the plugin's main class constructor with all the objects previously regi

[2018-03-05 18:40] muratg commented on #2457
Tentatively putting into the next milestone.

[2018-03-05 18:46] kyse commented on #2457
FYI, in the mean time.  You could make use of this to achieve auth on static files.
https://github.com/kyse/Kyse.AspNetCore.StaticLibrary

[2018-03-05 19:38] HappyNomad opened #2920 "Throw and catch exceptions instead of `out string errorMessage` everywhere"
While implementing JSON Patch `IAdapter`s, I encountered a coding pattern that I'm unaccustomed to.  Instead of throwing and catching exceptions, the library has `out string errorMessage` parameters everywhere.  That's what exceptions are for, so this pattern doesn't seem to belong.

[2018-03-05 20:19] natemcmaster commented on #2508
Interesting, looks like we may not be able to do this. It would break apps that use a salt with less than 8 bytes.

[code]

[2018-03-05 21:37] Eilon commented on #2920
Exceptions are nice when you want to just "stop everything and give up," but are not so great for "normal control flow of errors," which is probably the intention of the code here. That is, it's perfectly normal for some mismatches to take place when performing a JSON PATCH operation, and using exceptions to flow that has its own set of problems. For example, exceptions are not "contractual" - tha

[2018-03-05 21:38] Eilon commented on #2918
This issue was moved to dotnet/corefx#27747

[2018-03-05 21:38] #2918 closed

[2018-03-05 21:48] HappyNomad commented on #2920
Earlier I also thought there may be some special circumstances here that necessitate the pattern over exceptions.  But after having dug into the code, I see that "stop everything and give up," is what the code does anyway.  That is, if an invalid condition is met, then processing of the JSON Patch document stops.

[2018-03-05 22:40] ajcvickers opened #2921 "How to Upload image in specified folder and save path in database .NET core"
Moved from https://github.com/aspnet/EntityFramework.Docs/issues/627 filed by @veezo2007pk because question seems to be about how to get a relative filename in ASP.NET Core.

[code]
when i save image, image save successfully in database, but it takes full image path like this C:\Users\VIZO\Desktop\employee.jpg i dont want like this, i need to save image path somehting like this ~images\employee.jp

[2018-03-05 22:46] ajcvickers commented on #2391
@HaoK Can you comment on this?

[2018-03-05 22:46] Eilon commented on #2920
@HappyNomad I think there's still a difference with exceptions in that an exception can sort of "skip over" stack frames until someone does a `catch`, and then even that `catch` would catch *all* exceptions, even a random `NullReferenceException` or `ArgumentException`, whereas by flowing errors in a more structured way helps guarantee that the system is dutifully tracking only the types of errors

[2018-03-05 22:53] Eilon commented on #2917
Fixed, thanks!

[2018-03-05 22:53] #2917 closed

[2018-03-05 22:58] Eilon commented on #2921
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `asp.net-core-mvc` tag.

[2018-03-05 22:58] #2921 closed

[2018-03-05 22:59] Eilon commented on #2904
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-03-05 22:59] #2904 closed

[2018-03-05 22:59] Eilon commented on #2886
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-03-05 22:59] #2886 closed

[2018-03-05 23:00] Eilon commented on #2883
Hi. We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-03-05 23:00] #2883 closed

[2018-03-05 23:01] Eilon commented on #2881
Closing because it looks like this discussion has concluded.

[2018-03-05 23:01] #2881 closed

[2018-03-05 23:01] #2143 closed

[2018-03-05 23:33] HaoK commented on #2391
Its not a perfect fit, since the wrapper today only takes 1 specific options instance.  We could have it implement IOptionsMonitor and return that single instance for all named options as well as the default I guess.  But this looks mostly like a test improvement/usage scenario...

A 'real' wrapper for the monitor should take a `Dictionary<string, TOptions>` to use as the map...

[2018-03-05 23:33] HappyNomad commented on #2920
@Eilon There's already a `JsonPatchException` class defined in the `Microsoft.AspNetCore.JsonPatch.Exceptions` namespace.  Once all the `out string errorMessage`s bubble up the call stack to `ObjectAdapter`, this exception is what's thrown anyway.  Replacing a stack of `Try` calls and their `out string errorMessage` parameters with a simple `catch ( JsonPatchException )` would not catch a "random

[2018-03-06 00:34] HappyNomad commented on #2743
I just deleted my previous comment about considering the path when choosing the adapter.  In fact, the path should not factor into that decision.  The path and its segments should only affect individual operations performed on the chosen adapter.

[2018-03-06 00:43] HappyNomad opened #2922 "Reuse adapter instances within an `ObjectAdapter`'s scope"
I just realized how inefficient `ObjectVisitor`'s current implementation is.  It creates a new adapter instance for _every_ segment of _every_ path of _every_ patch operation.  That looks wasteful to me, and I imagine it will become a performance issue for large `JsonPatchDocument`s.  The adapter instances can instead be cached and reused.  Of course, the `ObjectVisitor` instances are also current

[2018-03-06 01:18] javiercn commented on #2669
Costing here is for the investigation work

[2018-03-06 01:46] JamesNK commented on #2919
I had added the new path *but* I hadn't removed `c:\Program Files\dotnet`. Fixed.

[2018-03-06 01:46] #2919 closed

[2018-03-06 01:54] ajcvickers commented on #2391
@HaoK Thanks. So it sounds like to me we should just close this. Agreed?

[2018-03-06 02:06] HaoK commented on #2391
Yeah sounds fine to just close, done

[2018-03-06 02:06] #2391 closed

[2018-03-06 07:57] davidfowl opened #2923 "React to MemoryPool<T> changes"
When we pull in a new CoreFX (https://github.com/dotnet/corefx/pull/27615), we need to update the SlabMemoryPool react to the following changes and fix the following bugs:

- The default reference count needs to be set to 1 when referencing counting
- We need to change our very simple Interlocked.Increment/Decrement to a loop https://github.com/dotnet/corefx/pull/27615#discussion_r171680369

/cc @

[2018-03-06 08:41] viveknuna opened #2924 "Getting SQLite Error 19: 'NOT NULL constraint failed: Test.Id' on running test case"
I'm using ABP framework which is built on top of asp.net core and using entity framework core. I have tried to create PK to a different column other than the default **Id** column with the help of [this](https://stackoverflow.com/questions/46153399/how-to-use-a-varchar-column-other-than-id-for-pk/48604164#48604164) solution. Its working fine for every scenario, but my test cases are failing. I hav

[2018-03-06 10:17] viveknuna opened #2925 "How to solve Update-Database issue when switching branch?"
I have one entity which has a column as int in Branch **A**. Now I switch to a different Branch **B**. There I create a migration and change column to `varchar` and run `Update-Database`. Now If I switch to Branch **A** again. If I see in the code the column datatype is `int`, but in the database, its datatype is `varchar`. But I want its datatype to be `int`. I can not even remove this migration

[2018-03-06 12:25] gfoidl commented on #2359
If there will be more demand, I see two possibilities to solve this. For me the second variant would be the one to go with.

### New Method on `ObjectPool`

[code]

So the "normal" return-method can remain untouched, and its perf-optimized behavior can be used for most cases.
For the special cases, where the info about returning to the pool is needed, the new method can be used.

This is a breakin

[2018-03-06 13:20] Legends opened #2926 "appsettings.json intellisense support missing"
I am using VS2017 and created an ASP.NET Core 2.0 project, but I have no intellisense support in the appsettings.json file?

Any planned support for this?

[2018-03-06 15:35] HappyNomad commented on #2816
For context, I believe this refers back to #2743.

@jmudavid Thanks for raising this issue again. It looks like we have similar goals regarding extension.

@Eilon and @jmudavid  Some of the changes proposed here look out of the primary goal's scope. It might be easier to manage and consider them if they're filed in individual, separate issues.  Also, as @mkArtakMSFT and @Eilon explained in #2432,

[2018-03-06 16:16] Tratcher commented on #2926
What kind of settings did you have in mind? Intellisense is challenging in this context as it's a free-form structure, the developer can bind any section to any component. The ASP.NET components read almost no data direct from appsettings by default (Kestrel is the only one I can think of and that's new in 2.1).

@shirhatti @glennc

[2018-03-06 16:21] jmudavid commented on #2816
@HappyNomad I have been reviewing the changes I made and the factory approach might be sufficient. Most of the changes I had to make were to get the right Adapter loaded from within the ObjectVisitor and then to handle the different path separators.  The only Adapter I am currently extending is the ListAdapter so I could just replicate the current code, if we don't want to allow them to be overrid

[2018-03-06 16:37] HappyNomad commented on #2743
As an alternative to above `IAdapterFactory` idea, consider making JSON Patch's adapters like Asp.Net's formatters.  Like an output formatter has a `CanWriteType( Type )` method, add a `CanAdaptType( Type )` method to `IAdapter`.  It would indicate the targets for which the adapter is relevant.  Like the formatters lists can be modified in `Startup`'s `services.AddMvc` call, the adapters list coul

[2018-03-06 16:47] ajcvickers commented on #2925
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/11164

[2018-03-06 16:47] #2925 closed

[2018-03-06 17:28] HappyNomad commented on #2920
I just happened to come across this code:

https://github.com/aspnet/JsonPatch/blob/8504fa47121430d6704fc0ef309e658c9803f5a9/src/Microsoft.AspNetCore.JsonPatch/JsonPatchDocument.cs#L180-L208

In spite of those numerous nested `Try` methods and their `out string errorMessage` parameters, the error is simply converted to a `JsonPatchException` which is thrown in `ObjectAdapter` and caught as you see

[2018-03-06 17:31] #2508 closed

[2018-03-06 17:31] natemcmaster commented on #2926
Duplicate of https://github.com/aspnet/Home/issues/2867

[2018-03-06 17:59] ajcvickers commented on #2924
Duplicate of https://github.com/aspnet/EntityFrameworkCore/issues/11162

[2018-03-06 17:59] #2924 closed

[2018-03-06 18:08] HappyNomad commented on #2816
For `IAdapterFactory`, I had in mind that a `JsonPatchDocument.ApplyTo` overload accepts an `IAdapterFactory` instance, like there's already one that accepts an `IObjectAdapter` instance.  `ApplyTo` passes it to an `ObjectAdapter` constructor overload, which passes it to an `ObjectVisitor` constructor overload.  This looks like what you described, and it's without breaking changes.

Earlier today

[2018-03-06 18:19] Eilon commented on #2920
@HappyNomad I think that one way or another it was a design decision (even if not the greatest one), so it would be difficult to change it without making a breaking change. Most of what I said earlier is from memory and general thoughts.

[2018-03-06 18:29] #2926 closed

[2018-03-06 18:33] jmudavid commented on #2816
@HappyNomad, I can see injecting the `IAdapterFactory` directly within the `ApplyTo` method, rather than at the `JsonPatchDocument` level.  This would make sense to me if there where scenarios where you wanted to apply a different `IAdapterFactory` to the same `JsonPatchDocument` instance.  I wouldn't expect this to happen often, so putting it at the class level made sense to me.  It may be a styl

[2018-03-06 18:44] Legends commented on #2926
Something like this:

[code]

[2018-03-06 18:58] Eilon opened #2927 "CORS Headers don't display in response"
_From @izundo-viennv on February 28, 2018 18:45_

I created a project using ASP.NET CORE 2.0, I configured Cors middleware, but when I run my project I haven't seen any CORS header in the response. This is my `Startup.cs` file,

[code]

_Copied from original issue: aspnet/CORS#144_

[2018-03-06 19:28] HappyNomad commented on #2816
@jmudavid  I prefer passing `IAdapterFactory`  or `JsonPatchSettings` to `JsonPatchDocument`'s constructor as you do.  I suggested passing it to `ApplyTo` only because that's how it how works with `ObjectAdapter`.  IMHO `JsonPatchDocument`'s constructor should accept `ObjectAdapter` instead of `ApplyTo` accepting it, but that would be a breaking change,.  We can at least get it right for `IAdapter

[2018-03-06 20:07] tarekgh opened #2928 "Where is System.Web.Http?"
_From @shaulbehr on March 6, 2018 10:19_

Hi,
I'm trying to convert an ASP.NET project from .NET Framework 4.7.1 to .NET Core 2.1 (preview).
My methodology was to rename the folder from `MyAspProj` to `MyAspProj.Old`, then in the solution I created a new .NET Core ASP.NET project called `MyAspProj`, then copied over all the files from `MyAspProj.Old`. I added a reference to `Microsoft.AspNetCore.A

[2018-03-06 20:07] tarekgh commented on #2928
_From @davidfowl on March 6, 2018 10:49_

There's a doc that describes how to convert from WebAPI to ASP.NET Core https://docs.microsoft.com/en-us/aspnet/core/migration/webapi.

[2018-03-06 20:07] tarekgh commented on #2928
_From @shaulbehr on March 6, 2018 12:16_

@davidfowl Thanks for the link, that had quite a few useful tips.
Maybe you can point me further in the right direction. We are a company with a very successful product and a user base in the hundreds of thousands We're strongly considering migrating our whole codebase to .NET Core, mostly because we're really frustrated with SignalR not working as expecte

[2018-03-06 20:07] tarekgh commented on #2928
_From @karelz on March 6, 2018 19:1_

I think it would be best to move the discussion to ASP.NET Core repo https://github.com/aspnet as it is unrelated to CoreFX. @shaulbehr are you ok if I close it here?

[2018-03-06 20:16] Legends opened #2929 "ASP.NET Core 1.1 - Look for an app in the store ???"
I want to run an ASP.NET Core MVC Project, but I get the following:

![image](https://user-images.githubusercontent.com/966368/37056038-86d97370-2183-11e8-8086-5560d3743dcb.png)

**Startup.cs**
[code]

**Controller:**

[code]

**And why is it hitting the index action and not the testing action ????**

Upgrading doesn't work too...

![image](https://user-images.githubusercontent.com/966368/37057533

[2018-03-06 20:46] jmudavid commented on #2816
@HappyNomad, OK, let's leave it in the constructor.  I thought you were indicating a preference at the method level.  I agree that trying to remain consistent in an existing code base is ideal, but since some objects are passed through the constructor and others the methods, we should be good.

I was able to get all my changes re-implemented using the factory approach.  I did update the Adapters t

[2018-03-06 23:22] Eilon commented on #2929
@Legends sorry you're running into this. Can you upload your app to a GitHub repo so that we can take a look?

[2018-03-06 23:25] Eilon commented on #2928
@shaulbehr , it's important to think of ASP.NET (System.Web) as a different framework/library than ASP.NET Core, so certainly many things have changed.

One thing I'd recommend is to start out by creating a NEW ASP.NET Core project and then start bringing in controllers, views, NuGet package references, and other logic one by one (or in chunks), as that should make migration a lot easier.