[2019-11-01 16:36] mkArtakMSFT commented on #16651
Let's park this on the backlog and if there is more user feedback similar to this we will investigate this then.

[2019-11-01 16:37] #16722 closed

[2019-11-01 16:37] #16709 closed

[2019-11-01 16:38] mkArtakMSFT commented on #16701
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-11-01 16:38] mkArtakMSFT commented on #15430
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-11-01 16:38] #15430 closed

[2019-11-01 16:38] mkArtakMSFT commented on #15417
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-11-01 16:38] #15417 closed

[2019-11-01 16:51] mkArtakMSFT commented on #11665
@anurse it seems there are a lot of unassigned issues on the referenced list, which are on topics your team owns. Do you want to take over this one?

[2019-11-01 17:01] phsamudev commented on #16701
We've found what was causing the error, it seems that Azure CI was building the solution using .NET Core 2.2. The CORS error message was masking the real error.

Thanks for the reply.

[2019-11-01 17:01] #16701 closed

[2019-11-01 17:09] Tratcher commented on #16747
In the IIS scenario AspNetCore does not add the Server header, IIS does. It's not clear that we could remove it from within the application.

Here's how to remove it using the IIS config:
https://techcommunity.microsoft.com/t5/IIS-Support-Blog/Remove-Unwanted-HTTP-Response-Headers/ba-p/369710

Also, the value of removing the server header is dubious.

[2019-11-01 17:22] LConrade commented on #13284
I only recently (the last several days) started receving these warning messages after never having received them previously. I have just realised that in the Error List pane, if I change the setting "Build + Intellisense" to just "Build" then I no longer receive these messages, neither in the Error List pane, nor associated with items in Solution Explorer. I must have inadvertently changed that se

[2019-11-01 17:36] wmeyer commented on #12685
This feature would also useful as a workaround for https://github.com/dotnet/corefx/issues/38348
`
System.Text.Json` does currently not support F# types (but plans to do so in the future).

With https://github.com/Tarmil/FSharp.SystemTextJson, you can generally work around this. But not in Blazor because you can't inject the necessary `JsonSerializerOptions `

[2019-11-01 17:51] Tratcher commented on #16740
@javiercn FYI HttpAbstractions issues are tracked in area-servers, not hosting.

[2019-11-01 17:52] travisrroy opened #16749 "ASP.NET Core 2.2 Razor Pages: InvalidOperationException: Multiple constructors accepting all given argument types have been found in type System.Collections.Generic.List"
### Describe the bug
Loading a Partial View with a List using Ajax throws `Multiple constructors accepting all given argument types have been found in type System.Collections.Generic.List`

### To Reproduce
Using ASP.NET Core 2.2 Razor Pages, make an Ajax call to a Partial View with a List being displayed

### Expected behavior
The list is displayed on the main page through the Partial View

### S

[2019-11-01 17:56] Tratcher commented on #16740
That would be a good reason to fix #2895.

[2019-11-01 17:58] ryanbrandenburg commented on #15367
Fixed by https://github.com/aspnet/AspNetCore/pull/16679

[2019-11-01 17:58] #15367 closed

[2019-11-01 18:09] tmat commented on #13284
@LConrade These warnings are new in 16.3. They are supposed to be displayed only in files that support Edit and Continue. Displaying them in other files was not intentional and has been fixed in 16.4.

[2019-11-01 18:18] Pilchie commented on #14855
Closing the issue here.  @pranavkm can you verify with a recent 3.1 build?

[2019-11-01 18:18] #14855 closed

[2019-11-01 18:19] Pilchie commented on #15308
Closing due to no activity for more than a week.  If you can share some information about your build we can take a look.

[2019-11-01 18:19] #15308 closed

[2019-11-01 18:21] halter73 commented on #16730
Unfortunately, that's not enough information to figure out what's going on.

I see that you're already using `.configureLogging(signalR.LogLevel.Information)`. Can you switch that to `.configureLogging(signalR.LogLevel.Trace)` and show us the full console output? https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-3.0#javascript-client-logging

[2019-11-01 18:26] #16735 closed

[2019-11-01 18:31] anurse commented on #11665
Yep, we'll take it!

[2019-11-01 19:02] ajcvickers commented on #10970
@HaoK Seems fine to move.

[2019-11-01 19:16] santoshpatro opened #16751 "Response compression in asp.net core 2.2 not working"
I am using asp.net core 2.2, Microsoft.EntityFrameworkCore(2.2.4), Microsoft.EntityFrameworkCore.Cosmos(2.2.4), GraphQL.NET to develop graphql based APIs.

Based on the link : https://docs.microsoft.com/en-us/aspnet/core/performance/response-compression?view=aspnetcore-3.0

I configured the settings in the Startup.cs class methods to enable Compression.

Here goes my code:

**Startup.cs**

[code]

[2019-11-01 20:08] Tratcher commented on #16751
Start by enabling the Debug level application logs in your appsettings.json.

[2019-11-01 20:42] sm15455 commented on #16689
@mkArtakMSFT I'd love to do that, but I should investigate the problem (which I think lies in the ViewDataEvaluator class) and, more important, I should download ASP.NET source code, make it build and create the PR. All of these tasks take time. I'll try :D

[2019-11-01 20:43] wmeyer commented on #12685
On second thought, simply copying the [extension class](https://github.com/aspnet/AspNetCore/blob/8a7508d8183968d1b96d259cf8bcc5bbb85981b5/src/Components/Blazor/Http/src/HttpClientJsonExtensions.cs) and adjusting the code works nicely for my usecase.

[2019-11-01 20:50] aspnet-hello opened #16754 "Scenarios are not running: DbFortunesDapper, DbFortunesEf, DbFortunesRaw, DbMultiQueryDapper, DbMultiQueryEf ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| DbFortunesDapper | Linux, Cloud, http, KestrelSockets | 2019-10-31 20:44:02Z |
| DbFortunesEf | Linux, Cloud, http, KestrelSockets | 2019-10-31 20:44:56Z |
| DbFortunesRaw | Linux, Cloud, http, KestrelSockets | 2019-10-31 20:43:16Z |
| DbMultiQueryDapper | Linux, Cloud, http, Kestrel

[2019-11-01 21:32] LConrade commented on #13284
@tmat Terrific. Thanks for the clarification.

[2019-11-01 21:50] aspnet-hello opened #16755 "Scenarios are not running: BlazorBasic, BlazorFormInput, ConnectionClose, ConnectionClose, DbFortunesDapper ..."
Some scenarios have stopped running:

| Scenario | Environment | Last Run |
| -------- | ----------- | -------- |
| BlazorBasic | Linux, Cloud, http, KestrelSockets | 2019-10-31 20:52:47Z |
| BlazorFormInput | Linux, Cloud, http, KestrelSockets | 2019-10-31 20:53:42Z |
| ConnectionClose | Linux, Cloud, http, KestrelSockets | 2019-10-31 20:50:03Z |
| ConnectionClose | Linux, Cloud, https, KestrelSo

[2019-11-01 22:21] jhudsoncedaron commented on #14350
What's the chance of getting a *Windows* hotfix for this? The cipher suite declarations in these OSes are essentially corrupted.

[2019-11-01 22:24] Tratcher commented on #14350
@jhudsoncedaron you'll need to contact Microsoft Support about that.

[2019-11-01 22:28] HaoK commented on #10299
So basically it seems like ProtectWithAzureKeyVault doesn't work unless the key already exists.  So the workaround where you run it once without Protect to create the keys, and then add it back, might be the expected flow...  Sound reasonable @blowdart ?  We can certainly update the docs to call this quirk out?

[2019-11-01 22:46] mkArtakMSFT opened #16757 "Provide content for docs on `Create docs for CircuitHandler`"
The docs issue to track the publishing work here is: https://github.com/aspnet/AspNetCore.Docs/issues/12687

[2019-11-01 23:17] soeleman commented on #16703
@pranavkm thanks to point out the tracked issue [dotnet/project-system#3163](https://github.com/dotnet/project-system/issues/3163).

@FanrayMedia seem the extensions (_AddRazorRuntimeCompilation_) does not pick-up __.razor__ files.
The suspect is [FileProviderRazorProjectFileSystem.cs](https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Razor.RuntimeCompilation/src/FileProviderRazorProjec

[2019-11-02 00:18] sayedihashimi commented on #16651
Closing after discussing more with Dan Roth.

[2019-11-02 00:18] #16651 closed

[2019-11-02 00:58] FanrayMedia commented on #16703
@soeleman thank you for the explanation, yeah it does look like `FileProviderRazorProjectFileSystem.cs` is handling only **.cshtml**, and it should handle **.razor** as well, is this something planned for next release?  I also tried your pictures above, but so far no luck.

WebAppRazor.csproj

[code]

launchSettings.json
[code]

[2019-11-02 01:12] anurse commented on #14350
Actually, we traced it further and found that generally it's IT policies setting these incorrect TLS suite orders. Upgrades should work fine. If you're seeing this incorrect Cipher Suite ordering (i.e. not matching the list in https://docs.microsoft.com/en-us/windows/win32/secauthn/tls-cipher-suites-in-windows-10-v1903) please check with your IT administrators (if any) first to see if they've modi

[2019-11-02 01:19] robinwilson16 commented on #14842
I can confirm that pressing Save does absolutely nothing at all (at least in my copy) and I have now updated 11 projects to .NET Core 3.0 (I didn't try save in all 11 though as had worked out how to manually update by this point).
It shows as 3.0 on the GUI but is 2.2 in FolderProfile.pubxml and with that setting in place as 2.2 it seems sometimes it publishes correctly as 3.0 and other times it f

[2019-11-02 02:11] Tratcher commented on #12194
I investigated a similar situation where the client was disconnecting during the request body upload. Here are the notes:

The first exception happens here in RequestStream.ReadAsync:
https://github.com/aspnet/AspNetCore/blob/b23ea5b6683b08e8d168ccf49e0fc8515077ee2e/src/Servers/HttpSys/src/RequestProcessing/RequestStream.cs#L388-L390
Just before it throws it calls Abort. This effectively aborts bo

[2019-11-02 02:21] ChristopherJTrent opened #16764 "no CSS changes made to main site show on any pages in the Identity area"
I make changes to the CSS for my page, and then I go to log in, and I get blinded by the white background of bootstrap's Reboot.SCSS file, and there is no way to edit anything about that, since it is downloaded from elsewhere.

[2019-11-02 02:23] ChristopherJTrent commented on #16764
I also can't just add Inline CSS, since the entire page seems to be drawn straight from the aether, none of the pages that handle logging in are actually part of my project.

[2019-11-02 03:23] ChristopherJTrent opened #16765 "ALLOW PROGRAMMERS TO CHANGE IDENTITY DEFAULT PAGES"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]
None of the pages involved in anything relating to the entirety of the Identity library can be changed in any way without a janky fucking hack. We are PROGRAMMERS, not CHILDREN. I don't want to be goddamn blinded by your decision to m

[2019-11-02 03:39] #16765 closed

[2019-11-02 03:40] ChristopherJTrent commented on #16765
Let's face it, this issue is never getting resolved, because @Microsoft only cares about making money off of programmer's misery.

[2019-11-02 03:42] ChristopherJTrent commented on #16765
I have spent 15 hours hammering away at this issue, and I'm done. I would literally rather not have user accounts, than try and deal with the garbage that @microsoft has given me to work with. @microsoft has created a truly monstrous code-base, that won't allow even the most cursory changes to purely cosmetic components.

[2019-11-02 04:25] johnnyoshika commented on #12890
@GGAlanSmithee and @rui-ktei I'm still in the process of getting things set up. In terms of help, I don't know what I don't know yet. :-) I'll reach out to you soon. Thanks for expressing interest in helping.

[2019-11-02 05:31] soeleman commented on #16703
@FanrayMedia

hope so, may be already some where on branches.

Make sure you had [dotnet-watch](https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch) then running on non-debug.

From console:
![dotnet-watch-run](https://user-images.githubusercontent.com/309413/68066570-7869b680-fd6c-11e9-8374-115ef6af041f.png)

From VS:
![dotnet-watch-run-vs](https://user-images.githubusercontent.co

[2019-11-02 05:53] honkmother commented on #5466
I would imagine the performance will be remarkably improved in the near future as browser vendors start to take WebAssembly more seriously.

I think AOT merits a lot more investigation sooner than later because Blazor will likely live or die by the reputation of it's clientside implementation in WASM.

Projects like [https://d07riv.github.io/diabloweb/](https://d07riv.github.io/diabloweb) prove wi

[2019-11-02 06:48] RLashofRegas opened #16767 "caniuse-lite outdated error in Angular template"
### Describe the bug
After creating a new project with the angular template (`dotnet new angular`) I get an error when trying to run it saying that caniuse-lite is outdated.

### To Reproduce
Steps to reproduce the behavior:
1. Run `dotnet new angular` to create a new project.
2. Run `dotnet run`.
3. You will see an error in the console complaining about SPAServices: "Browserslist: caniuse-lite is

[2019-11-02 09:30] witoldlitwin opened #16768 "Blazor - InputSelect prevents form submit when bound to nullable Enum"
When Blazor's InputSelect is bound to a nullable Enum it prevents the form from being submitted.

There are two console errors:
1. When selecting a non-default value:
[code]
2. When submitting the form after the non-default value was selected:
[code]

**Steps to reproduce:**

1. Add an enum:
[code]
2. Add a class with a property of the enum's type and make it nullable:
[code]
3. Add a form and bac

[2019-11-02 11:17] HeikoBoettger commented on #15146
@dbacher

Not sure why this should be an argument against implementing a good logging system. As a developer I would only enable the logging while investigating a problem. There is a reason why there is a `env.IsDevelopment()` extension for `IWebHostEnvironment`.

Anyway having also used other frameworks as well, I would prefer adding some notification to do the logging by myself or whatever I lik

[2019-11-02 12:44] FanrayMedia commented on #16703
Thank you @soeleman it works now! Although my browser did not launch itself even with
[code]
is this an [unknown issue](https://github.com/dotnet/cli/issues/8487)?

[2019-11-02 12:56] heku opened #16771 "React template still use IWebHostBuilder under .netcore 3.0"
Since .netcore 3.0, `HostBuilder` is a recommended way for build all kinds host, include the web host, I think all web templates should be updated as below already.

[code]

But actually, I found the asp.net core react template still initializes code in old way.

[code]

### To Reproduce
Create a asp.net core react project with `dotnet new react` or by Visual Studio 2019 16.3.7,

### Expected beha

[2019-11-02 15:08] OmidID commented on #15744
I think this is the new link:
https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#component-disposal-with-idisposable

[2019-11-02 15:13] heku opened #16772 "Partial view has different render results between views and pages"
Per my understanding, partial view should have same render result for MVC Views and Razor Pages, but I found an exception here when not pass a `model` to partial.

I have a simple partial view as below:
[code]
The `TestMode`:
[code]

Same render code in view and page:
[code]

The code in view works, but code in page display error below:

InvalidOperationException: The model item passed into the Vi

[2019-11-02 15:33] los93sol commented on #14886
I've also been struggling with this a bit and came up with a few things that do work, but none that produce the markup experience I was trying to accomplish.

[2019-11-02 16:02] davidfowl commented on #16740
We have a similar issue for the reading side

[2019-11-02 17:24] cihanuygun opened #16774 "ApacheModRewrite capturing value from %{QUERY_STRING} not resulting as expected"
There is an issue about the ApacheModRewrite rule parsing in .Net Core web project. The subjected ApacheModRewrite rule is something like below. The expected result of executing that rule is receiving a value from %{QUERY_STRING} but, it looks like the matched pattern results the %1 param to an empty string.

**The Rule**
RewriteCond %{REQUEST_URI} ^/old-path[/]?$ [NC]
RewriteCond %{QUERY_STRING}

[2019-11-02 17:34] davidfowl commented on #15146
We could call an OnUnhandledError handler that gets called on the client. It’s harder to do on the server depending on how much we actually parsed

[2019-11-02 18:11] blowdart commented on #16764
Not from the aether, but from a package. You can [scaffold out](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity) the CSS for identity and make changes there.

[2019-11-02 18:43] malballah opened #16775 "UserManager.Create does not generate identity after migration to 3.0"
After I have migrated to asp.net core 3.0 UserManager.Create does not generate identity column for the table users, I am using asp.net identity and I use this code to change the table name
`builder.Entity<User>().ToTable("Users");`
and this to create the user
`var result = await _userManager.CreateAsync(user, model.Password);`

[2019-11-02 19:30] soeleman commented on #16703
@FanrayMedia

Yup, the commandName __Executable__ did not read that property.
but we can use the __cmd__ or other shell to running browser.
![launchSettings-Watch-Chrome](https://user-images.githubusercontent.com/309413/68075988-c66cd180-fde1-11e9-88c8-b9a52113c261.png)

Think so.

[2019-11-02 19:58] MichaelLant commented on #15282
I am sorry for the belated response. Too much going on for the last two weeks and I have been unable to touch this. Please note that I am not using the same account as my initial message.

I don't know what this command is: dotnet new -u | select-string Microsoft.AspNetCore.Blazor -Context 10

I am an IDE orientd person, not a CLI person, so I have much to learn. Am I supposed to subsititued somet

[2019-11-02 20:36] danroth27 opened #16777 "Odd completions on component tag helper"
The completions on a the component tag helper seem a bit odd:

- They appear to be a selection of HTML attributes, but then why the razor icon?
- Why this specific list of attributes?
- Tiny empty docs bubble shows up just to the right of the completion list

![image](https://user-images.githubusercontent.com/1874516/68076701-7821e900-fd75-11e9-995d-ee7dc7e49579.png)

[2019-11-02 20:36] danroth27 commented on #16777
@NTaylorMullen

[2019-11-02 20:56] danroth27 opened #16778 "Strange error when component parameter casing does not match"
Repro steps:

- Add an `IncrementAmount` parameter of type `int` to the `Counter` component
- Add a `Counter` to the `Index` component with the `IncrementAmount` parameter set, but using the wrong casing: `<Counter incrementamount="10" />`.

Expected result:

[code]

Actual result:

[code]

[2019-11-02 22:36] jingzheshan opened #16779 "Blazor WebAssembly Layout file import CSS files"
### Is your feature request related to a problem? Please describe.
As a developer, I want to import a style file or multiple style files (css) at the Blazor WebAssembly Layout file

### Describe the solution you'd like
In a Layout.razor I can import multiple css files.
For example:
[code]
Or other equivalent syntax.

At the moment, we can put those styles in the <style> tag or use JS interop to dy

[2019-11-02 23:06] 47th commented on #12194
The site is used for tracking with a lot of requests coming in, so there is a possibility that some clients are disconnecting before sending request completely. Most of requests are POST requests either with or without request body.

[2019-11-03 00:18] AVin9 opened #16780 "Cannot open Mvc.sln in visual studio 2019 community edition"
Cloned https://github.com/aspnet/AspNetCore.git from github.com and when tried to run Restore from Command prompt, getting the following error

C:\AspNetCore\.tools\msbuild\16.0.0-alpha\tools\MSBuild\Microsoft\VC\v160\Microsoft.Cpp.Default.props" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk

Tried to open Mvc.sln in visual studio 201

[2019-11-03 01:55] JamesNK commented on #15415
Fixed https://github.com/aspnet/AspNetCore/pull/15591

[2019-11-03 01:55] #15415 closed

[2019-11-03 02:17] jingzheshan opened #16782 "The component layout does not override the default layout"
### Describe the bug
The component layout does not override the default layout

### To Reproduce
Put a MainLayout as the DefaultLayout
![image](https://user-images.githubusercontent.com/2770401/68079235-9ce89000-fe4b-11e9-8330-5d465d6d8c3b.png)

Go to the RedirectToLogin.razor, add a component level layout
![image](https://user-images.githubusercontent.com/2770401/68079263-1da78c00-fe4c-11e9-98af-

[2019-11-03 03:29] jingzheshan opened #16783 "AuthorizeRouteView, DefaultLayout can take dynamic type but does not work as expected"
### Describe the bug
The AuthorizeRouteView is not using the correct default layout

### To Reproduce
![image](https://user-images.githubusercontent.com/2770401/68079899-3fa60c00-fe56-11e9-929f-db3abaaf800c.png)

![dynamiclayout](https://user-images.githubusercontent.com/2770401/68079902-4e8cbe80-fe56-11e9-9f1d-3be6ccf11024.gif)

### Expected behavior
After login, navigate to the counter page shou

[2019-11-03 05:29] danroth27 opened #16784 "Update Blazor validation sample to use Microsoft.AspNetCore.Blazor.DataAnnotations.Validation"
Update https://github.com/aspnet/samples/tree/master/samples/aspnetcore/blazor/Validation to use Microsoft.AspNetCore.Blazor.DataAnnotations.Validation.

[2019-11-03 09:27] mrpmorris commented on #16784
@danroth27
I'm hoping this ticket indicates you'll be getting rid of that class in favour of something like the generic approach I suggested. Did you read my feedback on the Recursive validator PR?

[2019-11-03 09:32] mrpmorris commented on #16653
Make the "edit" part of your URL a string parameter named "displayMode" and display your content according to the value of that

[2019-11-03 09:56] FalconWu2017 commented on #16688
@javiercn Some members of our team don't develop C# code, but they can write UI code such as HTML CSS JS. If views are generated as DLLs, they cannot work.
Usually we first debug the UI by browser according to the customer's needs, then submit the changes to the server, and then submit changes to the developers, developers modify the UI code of the development environment,do not need publish again

[2019-11-03 10:38] mrpmorris commented on #10647
I'd like to reopen this because an OnDisposed event (not EventCallback) would be *really* useful for component library authors - and having the user implement IDisposable would both be more work + wouldn't actually solve the problem I am trying to solve in this request.

[2019-11-03 11:11] WhiteKarma opened #16785 "Is it possible to host Kestrel at 127.0.0.2:80?"
I get a sockets security exception trying, but i do not know if it is firewall related.

Thank you in advance

[2019-11-03 11:27] Postlagerkarte opened #16786 "Blazor: Default template unable to change .cs to .razor"
Using the default template:

1) Add a file MyItem.cs under /Pages
2) Rename MyItem.cs to MyItem.razor
3) Take the content from Counter.razor and paste it into MyItem.razor

Result: Unable to build the project.

The  .csproj contains these entries:

[code]

Removing those and the project builds again.

[2019-11-03 12:36] Ratomir opened #16788 "[Blazor] Errors in the startup project"
### Error in the startup project
I have errors, but still, I can compile and run the code without any issues.

### To Reproduce
Steps to reproduce the behavior:
1. Install ASP.NET core version, 3.1.0-preview1.19508.20
2. Install the last update of Visual Studio, my version 16.4.0 Preview 2.0
2. Create a new Blazor WebAssembly project with the latest Blazor project template in the empty solution
3.

[2019-11-03 12:44] cihanuygun commented on #16774
I noticed that this issue is fixed for .NET Core 3.x SDK. Is there any way to keep 2.2 as project SDK and fix that issue?

Previous issue: #10768

[2019-11-03 12:46] pranavkm commented on #16772
@heku what version of MVC are you using?

[2019-11-03 12:51] Ratomir commented on #16788
More details, I did changes on the Counter page and made a new C# class, Couter.razor.cs. Two errors disappeared, but still, I have a one about **BuildRenderTree**. Screenshot below:
![image](https://user-images.githubusercontent.com/8688494/68085402-fa2b1400-fe40-11e9-9915-f5e1a5e03d73.png)

[2019-11-03 12:53] pranavkm commented on #16749
@travisrroy the `model` for your `AjaxPartial.cshtml` is listed as `@model List<string>`. Did you mean for it to be `@model AjaxPartialModel` since that's where you initialize the list?

Page models in Razor Pages are type activated just as controllers are. The framework looks for a way to construct it from services in DI. It requires that types have a single constructor that can be unambiguously

[2019-11-03 12:57] pranavkm commented on #16780
@AVin9 have you had a look at the build from source instructions here: https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md?

[2019-11-03 15:46] heku commented on #16772
@pranavkm It is asp.net core 3.0 mvc

[2019-11-03 16:26] StrangeWill commented on #14350
I'm interested in this, I have a machine on a (very nearly) clean 2016 domain in a lab and am experiencing the same problem, also on v1903.

First the list was unset, so I set it to the defaults, no go.
Then I hard-set it to the list provided on the linked doc (https://docs.microsoft.com/en-us/windows/win32/secauthn/tls-cipher-suites-in-windows-10-v1903) which is also a pain to copy/paste them all

[2019-11-03 16:35] offirpeer commented on #2678
This issue is really annoying and I am stuck with it

[code]

And still I get this error.
Even when I redirect to action but my location is in a non-asci I get this error:
https://stackoverflow.com/questions/58681934/kestrel-error-invalid-non-ascii-or-control-character-in-header-on-redirect

[2019-11-03 16:52] blushingpenguin commented on #12890
I'm also interested in helping out with this

[2019-11-03 17:12] Ratomir commented on #16788
Huh, I found what was the issue. I had a global.json file with the specified sdk version, for some reason, that file has been copied when I create a new project. Anyway, I deleted this file and everything working properly. I will close the issue.

[2019-11-03 17:12] #16788 closed

[2019-11-03 17:32] BenHayat opened #16791 "[SS Blazor] Hotreload for 3.1?"
Hello Team;
Will V3.1 have a Hot Reload for SS Blazor? If not, can we request it as a feature please?

Thanks!
..Ben

[2019-11-03 17:49] Postlagerkarte commented on #16791
I believe it is tracked at #5456

[2019-11-03 18:14] Postlagerkarte opened #16792 "Blazor: Tooltip icon wrong size?"
I am well aware that this a minor detail:

![image](https://user-images.githubusercontent.com/8482283/68089905-eba72180-fe6d-11e9-9058-f7d5666bc560.png)

but isn't the size of the tooltip item wrong?

Compare it with this:

![image](https://user-images.githubusercontent.com/8482283/68091357-fcac5e80-fe7e-11e9-842e-565e840ce6c4.png)

[2019-11-03 18:39] BenHayat commented on #16791
@Postlagerkarte
Looking at the history, I'm still not clear, where we are for the release of 3.1
Or do we have to wait till May next year.

[2019-11-03 18:43] Postlagerkarte commented on #16791
I don't think so -  #5456 is scheduled for the 5.0 milestone : https://github.com/aspnet/AspNetCore/milestone/61

[2019-11-03 18:58] glararan commented on #14886
@los93sol
DataTableColumn
[code]

DataTable
[code]

Usage:
[code]

PS: edit DataTable output content

[2019-11-03 19:17] Postlagerkarte opened #16793 "Blazor: Go To Implementation not working"
Using a Blazor Component in .cs file -> the "Go To Implemention" command has no effect.

Example:

![sample](https://user-images.githubusercontent.com/8482283/68090681-eac6bd80-fe76-11e9-9bab-9f8703239711.gif)

[2019-11-03 20:30] jadhavajay opened #16795 "Provide implementation of Tokio.rs as an alternative to Libuv Transport in Kestrel"
Provide an alternative transport of tokio.rs (https://tokio.rs/) to Libuv. Tokio.rs is an async runtime for Rust.

### Example:
Deno (https://deno.land) makes use of tokio.rs intead of libuv.

[2019-11-03 20:41] davidfowl commented on #16795
That's something that should be done as a community project. We're not going to ship that out of the box or as a package. If you or somebody else start the implementation we'd love to review it!

[2019-11-03 20:41] #16795 closed

[2019-11-03 20:45] cocowalla commented on #7647
From the OP and [announcement](https://github.com/aspnet/Announcements/issues/343):

Yet [the docs](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.0#runtime-compilation) and other posts here indicate you also need to set:

`services.AddRazorRuntimeCompilation()` - would be worth updating the announcement and OP here if this is indeed needed.

[2019-11-03 21:04] Tratcher commented on #2678
Comments on closed issues are not tracked, please open a new issue with the details for your scenario, including a sample of the uri you're redirecting to. Uri.AbsoluteUri does not encode the Host portion. [UriHelper.Encode](https://github.com/aspnet/AspNetCore/blob/dba39d60c89b743d45411ba6bc6b02b5a8019032/src/Http/Http.Extensions/src/UriHelper.cs#L147) should help with that.

[2019-11-03 21:38] davidfowl commented on #16785
See

- https://serverfault.com/questions/112795/how-to-run-a-server-on-port-80-as-a-normal-user-on-linux .

The question is about java but the same answer applies.

[2019-11-03 22:23] codingmoh opened #16796 "Make GetChangeEmailTokenPurpose public (and static?) so ChangeEmailTokens can be verified"
Hello everyone,

Validating the change email token, allows us to deal with certain "error"-behaviour far better, than trying to parse IdentityResult's Validation-Messages.

That's why we're always using VerifyUserTokenAsync.
E.g:

`userManager.VerifyUserTokenAsync(user, userManager.Options.Tokens.EmailConfirmationTokenProvider, UserManager<T>.ConfirmEmailTokenPurpose, token);`

I just wanted to do

[2019-11-03 23:35] ChristopherHaws opened #16797 "UseProxyToSpaDevelopmentServer slow when passing 'Connection' header"
### Describe the bug
When using `UseProxyToSpaDevelopmentServer` I noticed that all requests to the proxy were taking over 1 second to complete. When I access the resource directly (not via the SPA proxy) it takes about 2ms. After some debugging, I found that the cause is the `Connection` header being passed to the proxied server. When I remove the `Connection` header, the request now takes about

[2019-11-04 01:43] RickStrahl opened #16798 "Razor Pages AddRazorRuntimeCompilation Options and opt.AdditionalReferencePaths failing to load types"
I have an standalone tool that dynamically lets the user run a Web site out of an Arbitrary folder they provide at runtime. I want to allow them to add additional assemblies that they can reference in the arbtrary folder (or rather a `./PrivateBin` folder below it).

I'm using code like the following to add the dlls in the folder (note WebRoot could be an arbitrary folder like `/temp/MyLocalSite`:

[2019-11-04 01:48] lenj962 opened #16799 "ASP.NET Core Identity UserManager.IsInRole Call Works in 2.2 But Throws InvalidOperation in 3.0"
### Describe the bug
I posted this issue to StackOverflow (https://stackoverflow.com/questions/58584446/asp-net-core-identity-usermanager-isinrole-call-works-in-2-2-but-throws-invalido?noredirect=1#comment103484000_58584446), but I’ve not received any feedback.
I have 2 solutions that use ASP.NET Core Identity. One is v.2.2 the other is 3.0. They make calls to UserManager.IsInRole(user, role.Name)

[2019-11-04 01:59] Mutuduxf opened #16800 "How can I get HttpContext in AttributeAuthorizationHandler when upgrade to asp.net core 3.0?"
In asp.net core 2.2 we have a custom AttributeAuthorizationHandler like this
[code]
context.Resource in version 2.2 was type of AuthorizationFilterContext, but in version 3 is type of Microsoft.AspNetCore.Http.Endpoint.
How to get httpcontext from endpoint?

[2019-11-04 03:22] FalconWu2017 commented on #16688
@pranavkm With `RazorCompileOnPublish` Web throw a excetion at first request.
In debug environment is OK.
[code]

[2019-11-04 03:24] SimonCropp commented on #14259
@mkArtakMSFT if nothing uses any of the types in NewtonSoft, shouldnt it be trimmed when the publish occurs?

[2019-11-04 03:36] Andrzej-W commented on #16745
### Problem explanation
It looks that prerendering is multithreaded. You have an async call to entity framework in `Service A` and before you get the result Blazor framework initializes your `Component B` and here you have another async call to entity framework from `Service B`.

`AddDbContext` call registers `DbContext` as scoped service. You can register it as transient and your problem will dis

[2019-11-04 03:39] los93sol commented on #14886
@glararan Thank you!  That was extremely helpful!

[2019-11-04 05:12] pdhermann-bws commented on #14528
Yes your are right.
It was an Firefox Issue and has been fixed with Firefox 71+.
The tiket can be closed.

Mit freundlichen Grüßen

Patrick Daniel Hermann
Scrummaster / Systemanalytiker

T  +49-5308-7070-217
E  P.Hermann@BWS-Group.de<mailto:P.Hermann@BWS-Group.de>

[cid:image003.png@01D592D6.D9238CE0]<http://www.bws-group.de/>

www.BWS-Group.de<http://www.BWS-Group.de>
BWS Consulting Group GmbH
Ho

[2019-11-04 05:52] AVin9 commented on #16780
Thanks for responding to this issue.

Followed the instruction in the link.

Everything worked fine until startvs.cmd command in the link (Restore.cmd worked fine without any problems)

But running startvs.cmd Mvc.Sln  in the command prompt didn't open the visual studio solution. Instead it opens another command prompt  with the physical path of Mvc.Sln as the title bar of the new command prompt w

[2019-11-04 05:53] GautamShantanu commented on #6732
I received the error: "unable to resolve dependency Microsoft.AspNetCore.Mvc.NewtonsoftJson for all versions of .net core". I tried everything available on the internet and was stuck for days. The only solution I came up with was adding nuget.config file in the project and then using dotnet restore to make it work.

Content of nuget.config file:

<?xml version="1.0" encoding="utf-8"?>
<configurati

[2019-11-04 05:54] GautamShantanu commented on #6732
I received the error: "unable to resolve dependency xxxxxxxx for all versions of .net core". I tried everything available on the internet and was stuck for days. The only solution I came up with was adding nuget.config file in the project and then using dotnet restore to make it work.

Content of nuget.config file:[Rename the file to nuget.config]
[nuget.config.txt](https://github.com/aspnet/AspNe

[2019-11-04 06:53] Mutuduxf commented on #16800
I have found a solution,in ConfigureServices register an IHttpContextAccessor into IOC
[code]
then get it in AttributeAuthorizationHandler
[code]

[2019-11-04 06:53] #16800 closed

[2019-11-04 07:02] mrpmorris commented on #16782
Given the component name is RedirectToLogin and it depends on NavigationManager, does this component render anything or just navigate to a different page to force sign in?

[2019-11-04 07:04] IanKemp commented on #2247
For those who are looking for RazorPageGenerator as of 3.0: https://github.com/aspnet/AspNetCore/blob/release/3.0/src/Middleware/Diagnostics/src/README.md

[2019-11-04 07:07] mrpmorris commented on #16737
Why not create a MyListWrapperItem component?

[2019-11-04 07:22] mahabirsingh-kis commented on #16730
Thank you for your response @halter73

Following are the logs

Console output
[2019-11-04T06:03:56.896Z] Information: Normalizing '/apiUrl' to 'http://dev01:223/apiUrl'.
app.bundle.js?v=null:10696 [2019-11-04T06:03:58.310Z] Information: SSE connected to http://dev01:223/apiUrl?id=4Gvf0UIuV7WBWlLD4MF2Bw
app.bundle.js?v=null:10696 [2019-11-04T06:03:58.341Z] Information: Using HubProtocol 'json'.
app

[2019-11-04 07:49] danielleiszen commented on #5967
Any progress with this? I have the same issue

[2019-11-04 08:07] jingzheshan commented on #16782
This component is for displaying the login page. AuthorizeRouteView should take in charge the redirect.

Aside from this topic, I like the current routing design, however still have few questions 🙃

- How to get an overview of the sitemap from a single point?
- How to reuse a component page with a different model but for a different route?
- How to handle nested route? For example:

Here is a very

[2019-11-04 08:19] jingzheshan opened #16801 "Blazor WebAssembly Routing ❓ and 💡"
I like the current routing design, however still have few questions 🙃

- How to get an overview of the sitemap from a single point?
- How to reuse a component page with a different model but for a different route?
- How to handle nested route? For example:

user/XXX/posts
user/XXX/settings

[code]
Here is a very rough idea 💡

[code]
We are composing our application with components, I ❤ it, if we c

[2019-11-04 09:53] MohammadElKhatib opened #16802 "Scaffolding Identity on visual studio 2019 core 3.0 issue"
I just installed visual studio 2019 and core 3.0 is included with the installation.

Then i created new project without authentication after that i scaffolded the identity with custom user and run the application but not able to reach register and login page it is redirecting me to home page with url:

https://localhost:44391/?area=Identity&page=%2FAccount%2FLogin

also
using Microsoft.AspNetCore.

[2019-11-04 10:09] MarcusKohnert commented on #16662
@jkotalik Thanks for getting back.

Yes the port is changing every time.

This is the EventLog of EventSource: IIS AspNetCore Module V2
Which other event logs would you be interested in?

[code]

I do have some interesting messages in the event log of source 'Windows Error Reporting' that I don't understand.

I guess those events are emitted when the App Pool recylces because it happens in the mid

[2019-11-04 10:46] javiercn commented on #16802
@MohammadElKhatib thanks for contacting us.

That likely means you are missing `endpoints.MaPages()` and `services.AddRazoPages or services.AddMvc()` in your Startup.cs

@HaoK I believe the scaffolder readme might need changes here, if not the scaffolder itself.

[2019-11-04 10:48] javiercn commented on #16798
@RickStrahl thanks for contacting us.

@pranavkm can you take a look?

[2019-11-04 10:49] javiercn commented on #16797
@ChristopherHaws thanks for contacting us.

Would you like to provide a PR to improve this behavior?

[2019-11-04 10:50] javiercn commented on #16793
@Postlagerkarte thanks for contacting us.

@NTaylorMullen @rynowak @ajaybhargavb thoughts?

[2019-11-04 10:52] javiercn commented on #16792
@Postlagerkarte thanks for contacting us.

Could you report this issue through the send feedback button on the top right corner of visual studio? We'll route the issue to the right team, but that way it will get looked at sooner.

@vijayrkn I believe this is a tooling issue. Can you have someone look at it?

[2019-11-04 10:54] javiercn commented on #16791
@BenHayat thanks for contacting us.

As @Postlagerkarte mentions this feature is scheduled for 5.0. For server-side blazor you could probably use dotnet watch directly with some tweaks.

[2019-11-04 10:54] #16791 closed

[2019-11-04 10:55] Sathiyanathan-Macro opened #16803 "ITlsHandshakeFeature is null in iis"
Hi,

We are planning to validate the cipher using ITlsHandshakeFeature in IIS and azure web app as well.

I tried below code, but it returning null in iis

`HttpContext.Features.Get<ITlsHandshakeFeature>()`

Please consider this issue as high priority and resolve the issue.

[2019-11-04 10:55] javiercn commented on #16771
@heku thanks for contacting us.

We've fixed this and will be available in the next preview release for asp.net core 3.1.

[2019-11-04 10:55] #16771 closed

[2019-11-04 10:58] javiercn commented on #16641
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and we will re-evaluate the issue.

[2019-11-04 10:58] #16641 closed

[2019-11-04 11:05] javiercn commented on #16778
@danroth27 thanks for contacting us :).

Component parameters are **case-sensitive** the same way component names are when extending ComponentBase (or more concretely calling `parameterView.SetParameters(this)`

We could provide a diagnostic/warning/information for casing mismatches, but that's it.

[2019-11-04 11:07] santoshpatro commented on #16751
@Tratcher Thanks for your response. I did but was nothing substantial from the debug information. I am not sure what is causing it not to compress the response. Any help on this is much appreciated.

[2019-11-04 11:08] javiercn commented on #14938
@danroth27 Isn't this fixed? @ryanbrandenburg did a thing for this and detailed errors are turned on by default. Is there anything else here? if not please close :)

[2019-11-04 11:10] javiercn commented on #11883
@danroth27 I fixed this, so I'm closing it

[2019-11-04 11:10] #11883 closed

[2019-11-04 11:10] javiercn commented on #16779
@jingzheshan thanks for contacting us.

This is a duplicate of https://github.com/aspnet/AspNetCore/issues/10450

[2019-11-04 11:10] #16779 closed

[2019-11-04 11:12] javiercn commented on #14938
Actually, closing :)

[2019-11-04 11:12] #14938 closed

[2019-11-04 11:14] heku commented on #16771
Good, thx.

[2019-11-04 11:14] MohammadElKhatib commented on #16802
@javiercn that's not the case  here is the startup class:

[code]

[2019-11-04 11:17] javiercn commented on #16801
@jingzheshan thanks for contacting us.

Those are not features that our current routing system supports. The best you could do right now/today is to factor your components in a way where its easy to create a routable page with each of the combinations you need.

[2019-11-04 11:18] HaoK commented on #16802
I think you just need to add  `endpoints.MapRazorPages();` to the Configure for the identity areas to get picked up.

[2019-11-04 11:18] HaoK commented on #16802
But yeah this looks like a scaffolding issue as well

[2019-11-04 11:22] javiercn commented on #16767
@RLashofRegas thanks for contacting us.

We updated the npm dependencies on the templates last week and this will be fixed in the next preview release for 3.1.

[2019-11-04 11:22] #16767 closed

[2019-11-04 11:23] javiercn commented on #16755
@sebastienros can you take a look?

[2019-11-04 11:24] MohammadElKhatib commented on #16802
@HaoK  you are right that makes it work but it is a scaffolding issue because I tested the same case on windows and mac.

on windows when running a project with authentication it is working normally but once scaffolding identity with custom user it is not working!

Thank you

[2019-11-04 11:24] javiercn commented on #16754
@sebastienros can you take a look?

[2019-11-04 11:28] j0nimost opened #16804 "Missing UseWindowsService in IWebHostBuilder"
### IWebHostBuilder missing UseWindowsService
I am using the new `.NET 3.0` and I am having a hard time deploying a worker service which in it I have hosted an ASP.NET Core API.

When deploying am getting this error;
[code]

### To Reproduce
My Worker service `Program class` is as shown below;

[code]
From the above sample I cannot specify the environment runtime that is `Windows Service`(.UseWind

[2019-11-04 11:50] javiercn commented on #16783
@jingzheshan thanks for contacting us.

I'm not able to repro this. Could you provide a minimal repro project so that we can help you identify the issue?

[2019-11-04 11:53] javiercn commented on #16786
@Postlagerkarte thanks for contacting us.

@NTaylorMullen this seems to be a project system issue I believe. VS adds the two item groups above, which makes the file be treated as C#. If you remove the two of them and re-open the document it correctly parses it as razor. Can you follow up with the right people?

[2019-11-04 11:59] javiercn commented on #16768
@witoldlitwin thanks for contacting us.

This seems to be a bug. On submit the current exception is thrown
[code]

[code]

The fix likely involves a fix in InputBase.TryParseValueFromString to correctly parse enum values.

[2019-11-04 12:28] djinnet commented on #16804
Do you have **Microsoft.Extensions.Hosting.WindowsServices** in the nuget packages?

I would suggest to take a look at the link as it explained everything from the start of the project to deploy project as windows service: https://devblogs.microsoft.com/aspnet/net-core-workers-as-windows-services/

[2019-11-04 12:32] javiercn commented on #16783
On second look, I believe your issue is that the CascadingAuthenticationState must wrap the entire component. Here is a simplified sample project that shows this working.

[dynamicauthlayout.zip](https://github.com/aspnet/AspNetCore/files/3803972/dynamicauthlayout.zip)

[2019-11-04 12:33] javiercn commented on #16804
@Tratcher Is this the right area for it?

[2019-11-04 12:39] j0nimost commented on #16804
I have it already installed for some reason; `IWebHostBuilder` doesn't pick it up.

[2019-11-04 12:56] Legends opened #16805 "ANCM Multiple In-Process Applications in same Process"
### Describe the bug
Trying to run the asp.net core web app using the IIS Express profile.

### To Reproduce

Upgrade app from v2.0 to 3.1.
Browser starts with root url, I append the relative url `home/header` and get the expected result.
So, the upgraded app works fine.
Now:

1.)
I wanted to set up a start up url which points to a certain controller->action.
But I wrongly appended the route to th

[2019-11-04 13:07] javiercn commented on #16782
@jingzheshan thanks for contacting us.

This behavior is by design. Layouts are just components and for that reason a child component can't override the layout from a parent component unless both components explicitly cooperate to do so.

In your case you could choose to use the raw primitive types instead of authorizerouteview and routeview to achieve the behavior you expect.

[2019-11-04 13:09] travisrroy commented on #16749
Well thanks for responding. I went back through my code, only to find out that I copied the tutorial wrong and that's why I was getting this error. I did end up figuring it out afterwards. Thanks for your help!

[2019-11-04 13:09] #16749 closed

[2019-11-04 13:15] #16782 closed

[2019-11-04 13:30] vijayrkn commented on #16792
@jodavis

[2019-11-04 13:58] rolfik commented on #10325
Daniel (@danroth27), thank You for the code to autorefresh browser.
I now use it in my kiosk Blazor application.
Anyway it would be better to make it optional part of Blazor itself without using that '#components-reconnect-modal h5 a' which could change.

[2019-11-04 14:00] #11283 closed

[2019-11-04 14:03] javiercn commented on #8214
Closing this as we already have support for it on server-side blazor. We can file a new issue if we want to cover client-side too.

[2019-11-04 14:03] #8214 closed

[2019-11-04 14:04] #11741 closed

[2019-11-04 14:08] javiercn commented on #3471
The recommendation here is to use the static web assets feature that shipped in 3.0. Closing this issue as there's no more action.

[2019-11-04 14:08] #3471 closed

[2019-11-04 14:09] #11138 closed

[2019-11-04 14:10] danroth27 commented on #10325
@rolfik Thanks for the feedback! We are considering this as part of https://github.com/aspnet/AspNetCore/issues/9256

[2019-11-04 14:11] wxnt opened #16807 "Unexpected end of request content k8s pod"
We have been intermittently seeing issues with our  Pod hosted service on a k8s cluster where for a fraction of the requests we start seeing this exception.

I want to understand 2 things -

What could be the possible reasons for this happening in our scenario?
What is the best way to debug this issue ?
Here is the callstack from the exception
message：
Unexpected end of request content.

   at Mic

[2019-11-04 14:14] danroth27 commented on #16778
@javiercn Yes, I understand that component parameters are case sensitive. This bug isn't about changing that. The error message in this particular case is incorrect. Normally if you provide a component parameter name that is incorrect you get a good error message. In the case of case mismatch you get a weird cast exception.

If we could also provide a design time diagnostic for case mismatches tha

[2019-11-04 14:21] javiercn commented on #5167
@mkArtakMSFT Yes, but for modern versions of angular. The code is in the template, so users can grab it as a starting point to adjust it for an older version.

[2019-11-04 14:21] #5167 closed

[2019-11-04 14:22] javiercn commented on #12727
We did the appropriate fixes here and the rest is covered by documentation, so I'm closing this issue.

[2019-11-04 14:22] #12727 closed

[2019-11-04 14:29] javiercn commented on #13963
additional clients can be configured/updated by adding/modifying the clients in the client collection.

[2019-11-04 14:29] #13963 closed

[2019-11-04 14:43] TheCamel commented on #16598
I end up with the following:
-build;
-start;
-send message
-disconnect
==> my close function works and state is changing

but when I send the close from the server , then it locks somewhere ?

and if I just run a timer, then it close without any trouble

Please, any comment would be nice

hubConnection.on("stopXSCP", ()-> {
						Globals.updateLastMessageReceive();
						Close(hubConnection);

[2019-11-04 14:51] JulidaRocks commented on #15308
How can I share the binlog file to you with granting access to anybody but you?

[2019-11-04 15:07] jkotalik commented on #16774
I don't think we would patch this in 2.2 as 2.2 will be end of life/support in a couple of months.

What is preventing you from upgrading your project from 2.2 to 3.0?

[2019-11-04 15:12] knuxbbs commented on #12890
Why don't merge parts of the _Microsoft.AspNetCore.NodeServices_ source into [Edge.js](https://github.com/tjanczuk/edge) project?

There is no way to join efforts?

[2019-11-04 15:16] YordanYanakiev opened #16809 "Blazor : @for loop increment the counter in-loop"
### Describe the bug
While looping with @for the counter is been autoincrementing for each hit after the first usage inside a funtion.

### To Reproduce

[code]
    private string first( int f )
    {
        return f.ToString();

    }

    private string second( int f )
    {
        return f.ToString();
    }
[code]
Got Exceptions? Include both the message and the stack trace
-->

### Further t

[2019-11-04 15:18] geotinc commented on #14754
Last question about this topic...

Views of my main project can now be refreshed at runtime.

But is there a way to update views from RCL project at runtime too ?

Thanks for answer

[2019-11-04 15:22] pranavkm opened #16810 "Migrate Blazor.DataAnnotations.Validation features in to CoreFx"
The `Microsoft.AspNetCore.Blazor.DataAnnotations.Validation` package was added as an stop-gap for 3.1 until we move features further upstack i.e. CoreFx \ System.DataAnnotations.Validation. This issue is used to track work done in other repos and any follow up that needs to happen in Blazor once this is complete

* [ ] https://github.com/dotnet/corefx/issues/42384
* [x] https://github.com/dotnet/c

[2019-11-04 15:23] javiercn commented on #16809
@YordanYanakiev thanks for contacting us.

I'm not sure what you are trying to say. Could you provide a minimalistical repro project that reproduces the issue, what your expectation is and the current behavior you are observing?

[2019-11-04 15:26] pranavkm commented on #14378
@JunTaoLuo moving this out to 3.0.x for further verification. I verified that `TypeForwardedTo` attributes show up correctly in ref assemblies of 3.1.0-preview2 builds.

[2019-11-04 15:26] pranavkm commented on #4019
Moving this out to preview3.

[2019-11-04 15:28] #13656 closed

[2019-11-04 15:35] YordanYanakiev commented on #16809
The expected results should be - the parameter of each of the functions to be always the same inside the loop, but each function receive somehow increased value of the counter (**c**)
[BlazorApp10.zip](https://github.com/aspnet/AspNetCore/files/3804707/BlazorApp10.zip)

[2019-11-04 15:42] Tratcher commented on #16751
Can you share the logs?

[2019-11-04 15:43] Tratcher commented on #16785
It's also possible something else is already using that port. netstat might help.

[2019-11-04 15:46] Tratcher commented on #16804
Microsoft.Extensions.Hosting.WindowsServices is for IHostBuilder, which is what new 3.0 apps use now.
Microsoft.AspNetCore.Hosting.WindowsServices is for IWebHostBuilder.

[2019-11-04 15:49] YordanYanakiev commented on #16809
Here a screenshot
![image](https://user-images.githubusercontent.com/6534199/68134879-6f731380-ff2b-11e9-9ba1-9456815ea6e0.png)

[2019-11-04 15:50] Tratcher commented on #16803
Please don't open duplicate issues. https://github.com/aspnet/AspNetCore/issues/15397

[2019-11-04 15:50] #16803 closed

[2019-11-04 16:00] javiercn commented on #16809
@YordanYanakiev thanks for the repro.

I believe that this is an unfortunate consequence of how we create the child content. Here is a look at the compiled razor code for the loop.

I believe the issue is that the integer gets captured into the closure defined for the child content and as such it is always 10. This is most unfortunate, as its definitely counter-intuitive. I'm not sure if there is

[2019-11-04 16:05] jhudsoncedaron commented on #14350
@anurse : Observed on out-of-the-box Windows Server 2012 R2 with no policy pushed to it.

[2019-11-04 16:08] YordanYanakiev commented on #16809
It's actually even worse.
if You add for instance a third function

[code]

And call it in the very same body of the loop - the result in it will be MAYBE 0.

[2019-11-04 16:19] javiercn commented on #16809
I don't see how the result might be 0. In any case this seems to be an issue with NavLink specifically, as there is a pattern to support this (the same way Router does).

The problem here is that NavLink defines the content as a RenderFragment and that we should probably have made NavLink something like NavLink<T> with the content being RenderFragment<T> so that T can be passed in as context insid

[2019-11-04 16:22] YordanYanakiev commented on #16809
As more levels of DOM objects is adding seems like the bug getting worse.
It's an ideological issue which must be noted and fixed i believe. :|

[2019-11-04 16:22] javiercn commented on #16809
A trivial way to workaround this is to put the scope inside a separate component and render the contents there. For example
[code]

[code]

[2019-11-04 16:23] YordanYanakiev commented on #16809
Yeah. I've actually consider this, but if the language construction offer a clear (on a first sign) approach usually peoples will go for it. This is my point.

[2019-11-04 16:33] cbrit commented on #16602
@NTaylorMullen I installed Preview 3 and am no longer experiencing the issue. Thanks!

[2019-11-04 16:36] Pibe93 commented on #16664
Buoansera,
after cloning the project and executing the ./restore.cmd command I have the following error:

C:\Users\MarcoG\source\repos\AspNetCore\eng\tools\RepoTasks\RepoTasks.csproj :  error: Version 5.0.100-alpha1-015536 of the .NET Core SDK requires at least version 16.3.0 of MSBuild. The current available version of MSBuild is 16.0.461.62831. Change the version of the .NET Core SDK specified i

[2019-11-04 16:46] Tratcher commented on #14350
@jhudsoncedaron Is that as the client or server? 2012 R2 pre-dates Win10 and direct Http/2 support. It can be made to work by tweaking the ciphers list.

[2019-11-04 16:52] jhudsoncedaron commented on #14350
@Tratcher : It's on the server, and causes complete failure of the Kestrel server with a default Kestrel configuration. We didn't actually check but we're reasonably certain the `dotnet new mvc` project doesn't work. Expected a valid cipher list on the out-of-the-box Windows install; got a bad cipher list. Even Edge doesn't recognize the cipher names, so we just concluded the server's cipher list

[2019-11-04 16:54] Tratcher commented on #6381
At least add a central list of event ids like Hosting.
https://github.com/aspnet/AspNetCore/pull/11379/files#diff-db6cb8ff7c72fa42502138fd3aab3a85

[2019-11-04 16:58] Tratcher commented on #14350
Yeah, in hindsight Kestrel shouldn't have enabled HTTP/2 by default on 2012 R2, only on 2016 and Win10. @anurse that still might be worth changing since it's hard to make work out of the box. I'll open a specific issue for it.

[2019-11-04 17:01] aaronhudon-ts commented on #12088
@Stamo-Gochev I am only using `IStringLocalizer` as shown in my example above - and everything works fine.

[2019-11-04 17:01] jjxtra commented on #9847
Why is Http1AndHttp2 exposed as an option? It simply does not work...

[2019-11-04 17:02] jhudsoncedaron commented on #14350
@Tratcher : I'd like to know how you plan to work around the fact that Environment.OSVersion returns the wrong value. In our debate we came up with checking for the presence of the `api-ms-win-*.dll`s in the current directory, which works, but is specific to us. (The installer detects Windows 10 in native code and won't drop those dlls on Windows 10 or server 2019.)

[2019-11-04 17:03] BrennanConroy commented on #16664
You probably need to update Visual Studio to version 16.3.

[2019-11-04 17:04] Tratcher commented on #14350
Environment.OSVersion returns the correct version if you enable Win10 support in the manifest.
https://stackoverflow.com/a/33328814/2588374

[2019-11-04 17:08] BrennanConroy commented on #16730
The logs you provided show that everything is working fine. Where are the reconnect attempts?

[2019-11-04 17:09] jhudsoncedaron commented on #14350
@Tratcher : I am aware of that. The default project template does _not_ set that manifest parameter. The primary difficulty involved is when a library (rather than an executable) has to care, and Kestrel is a library.

[2019-11-04 17:10] Tratcher opened #16811 "Kestrel should disable HTTP/2 by default on downlevel windows versions"
RE: https://github.com/aspnet/AspNetCore/issues/14350

HTTP/2 has two pre-requeists:
A) APLN (Win8.1+)
2) Ciphers (Win10 / 2016+)

When ALPN isn't available it gracefully falls back to HTTP/1.1. However, if ALPN is available but the correct ciphers aren't then all clients will fail to connect with the default configuration. This specifically applies to Win8.1 and 2012 R2. Win8.1 wasn't considered

[2019-11-04 17:16] Tratcher commented on #14350
@jhudsoncedaron good point. Moving this part of the discussion to #16811.

[2019-11-04 17:19] javiercn commented on #16801
You could write a component that reflects over all component types on your assembly that have a [Route] attribute to build a site map for your app.

You could have more than one page directive to define different routes.

This is not a current feature we support. We have a separate bug tracking it.

[2019-11-04 17:19] #16801 closed

[2019-11-04 17:20] #16786 closed

[2019-11-04 17:21] Tratcher commented on #16811
Note we have to be careful checking versions, Environment.OSVersion does not report Win10 versions unless you enable Win10 support in the manifest. https://stackoverflow.com/a/33328814/2588374

We have a couple of options:
A) Check the registry version directly (not recommended)
B) Check Environment.OSVersion and only enable HTTP/2 if we see the correct minimum version. Apps would then have to opt

[2019-11-04 17:21] javiercn commented on #16793
This is likely a dupe of #9731

[2019-11-04 17:21] #16793 closed

[2019-11-04 17:22] javiercn commented on #16784
@pranavkm already did this.

[2019-11-04 17:22] #16784 closed

[2019-11-04 17:23] javiercn commented on #16777
@NTaylorMullen can you take a look?

[2019-11-04 17:25] chassq opened #16813 "Microsoft.AspNetCore.Authentication.JwtBearer 3.0.0 is not compatible with netstandard2.1"
### Describe the bug
We get an error when trying to add the Microsoft.AspNetCore.Authentication.OpenIdConnect 3.0.0 pkg to a netstandard 2.1 lib. Why would thei be? We are trying to use the TokenValidatedContext object in the netstandard 2.1 lib. Can this be done?

### To Reproduce

### Further technical details
- ASP.NET Core SDK 3.0.100
- Include the output of `dotnet --info`

.NET Core SDK (ref

[2019-11-04 17:25] javiercn commented on #16768
This is a dupe of #13624

[2019-11-04 17:25] #16768 closed

[2019-11-04 17:27] #16792 closed

[2019-11-04 17:28] javiercn commented on #16772
@heku thanks for contacting us.

@ryanbrandenburg can you investigate this issue?

[2019-11-04 17:29] jhudsoncedaron commented on #16811
Actually that's not that bad because you're explicitly checking for versions below current (Win 10).

[2019-11-04 17:40] Kahbazi commented on #6381
@Tratcher ok, I'll work on `Microsoft.AspNetCore.Identity`.

[2019-11-04 17:49] xrkolovos opened #16814 "Where is ValidationHelpers.GetModelStateList gone in aspnetcore 3.0?"
Where is ValidationHelpers.GetModelStateList gone in aspnetcore 3.0?
What can I use instead of it? I didn't found any mentions about this change.

I had this code.

[code]

[2019-11-04 17:51] NTaylorMullen commented on #16777
@danroth27 what VS are you using?

[2019-11-04 17:53] #16602 closed

[2019-11-04 17:56] blowdart commented on #16813
You cannot mix and match major versions like this.

[2019-11-04 18:05] rjgotten commented on #12890
They operate on two fundamentally different principles. NodeServices works by RPC-ing JavaScript written as JavaScript using JavaScript tooling. It contains glue code for both sides to build the RPC interface and from there both sides of the pond write just their own flavor of code.

Edge.js works primarily by evaling small strings of JavaScript in place in C# and small strings of C# in place in J

[2019-11-04 18:24] javiercn opened #16815 "[Blazor] Consider an analyzer to suggest using foreach instead of for in Blazor code."
Consider an analyzer to suggest using foreach instead of for in Blazor code, as the latter can result in undersired behaviors when the loop variable gets captured inside a lamba:
* This happens explicitly in event-handlers.
* This happens implicitly within ChildContent fragments.

We can produce an analyzer that looks at for loops inside generated razor components and produces a warning when the l

[2019-11-04 18:24] javiercn commented on #16809
Ok, so we've discussed this within the team and apparently this is a C# behavior for which there is a trivial alternative, which is to use `foreach`. If you do the following you get the expected behavior:
[code]

Also, capturing the variable inside of the loop also produces the desired effects. See
[code]

Given this, It is unlikely that we do anything here at the Razor level (as this is simply c#

[2019-11-04 18:25] #16809 closed

[2019-11-04 18:28] blowdart commented on #16813
ASP.NET Core 3 packages target netcoreapp3.1 not netstandard

[2019-11-04 18:32] YordanYanakiev commented on #16809
I have considered it, yet it is giant issue I believe, and probably it have to be fixed or just the normal loops with counters removed as a feature for the syntax, although many components with enumerated names or so will be depending on such feature.

[2019-11-04 18:32] ChaosEngine opened #16816 "Razor Class Library in docker container referencing MVC throws rzc generate exited with code 150"
### Describe the bug
Docker container (from image _mcr.microsoft.com/dotnet/core/sdk:3.0-buster_) with Razor Class Library project referencing nuget

 throws **error : rzc generate exited with code 150**

### To Reproduce
1. in command line execute

2. Inside container execute

3. modify rcl.csproj in the following way to read

[code]

### Outcome
[code]
### Expected outcome
Project builds

### Fu

[2019-11-04 18:36] Andrzej-W commented on #16809
@YordanYanakiev change your code like this:
[code]
Notice that you **have to** use local variable only in places where it will be captured into the closure. Of course you can use it also in other places, but it is not necessary. Similar problems where reported here #15633 and here #16140. It is documented also at the end of this section:
https://docs.microsoft.com/en-us/aspnet/core/blazor/componen

[2019-11-04 18:39] wtgodbe opened #16817 "Investigate test failures with "An operation is not legal in the current state.""
Starting with https://github.com/aspnet/AspNetCore/pull/14425, we've been seeing lots of test failures of the following type:

We think this is related to the large number of Explicit references that we've added to the tests. We should investigate these failures as they may represent an issue with the runtime.

CC @aspnet/build @mmitche

[2019-11-04 18:41] Andrzej-W commented on #16809
It looks that I was to slow with my answer and Javier was faster.

[2019-11-04 18:49] Andrzej-W commented on #16815
I think it is **a very good idea**. I have seen similar problems from the beginning of Blazor #15633, #16144, #16073 and many others. Issue #16809 is especially hard to understand if you are not smart enough to look at generated code.

[2019-11-04 18:52] ChaosEngine commented on #16816
Suprisingly setting env variable

 fixes problem, or lowering `<RazorLangVersion>2.0</RazorLangVersion>`

[2019-11-04 18:53] Andrzej-W commented on #16815
Suggestion from analyzer should be "use foreach or local variable ...".

[2019-11-04 18:55] HaoK commented on #13587
@JunTaoLuo could you clone the helix-test pipeline for me?  I don't seem to have permissions to do that.  I just need a new pipeline(s) to point at the daily-helix-tests yaml and setup the triggers

[2019-11-04 18:55] Hoffs opened #16819 "ASPNETCORE_URLS not working when IConfiguration is re-added as singleton in ConfigureServices"
### Describe the bug
When using old `WebHost.CreateDefaultBuilder(args)...;` method of starting aspnetcore application if `IConfiguration` is injected inside `Startup#ConfigureServices(IServiceCollection services)` it does not affect internally stored `IConfiguration` and Kestrel can successfully use its `ASPNETCORE_URLS` (or rather just `URLS`) setting.
When using new generic `Host.CreateDefaultB

[2019-11-04 18:59] HaoK commented on #16802
The scaffolder never added these lines before, the readme does mention that MapRazorPages needs to be manually added:

https://github.com/aspnet/Scaffolding/blob/master/src/VS.Web.CG.Mvc/Templates/Identity/Bootstrap4/ScaffoldingReadme.cshtml#L27

I guess we can update the readme to also mention
[code]

instead of `AddMvc()` as well

[2019-11-04 19:05] aaronhudon-ts commented on #5579
@javiercn Thanks for posting this workaround - it would be nice if an area in the MSDN documentation could be created for things like this so we don't have to scour GitHub.

[2019-11-04 19:05] dougbu commented on #16817
Would like to first determine whether this is about flakiness in our eng\targets\ResolveReferences.targets versus in the .NET SDK. To that end, the initial task here might be to create a project with lots and lots of explicit `<ProjectReference>`s and `<PackageReference>`s but none of the AspNetCore `<Reference>` infrastructure, then build it over and over.

[2019-11-04 19:06] #14993 closed

[2019-11-04 19:16] Samirat commented on #11312
@Tratcher @davidfowl Can RequestCookieCollection be public? If implementing a custom IRequestCookieCollection or IRequestCookieFeature, there's not much reason to reimplement this vs inherit or wrap it.

I think you can get an instance of one anyway like this:
(new RequestCookiesFeature(new FeatureCollection())).Cookies;

[2019-11-04 19:18] javiercn commented on #16745
@iAmBipinPaul thanks for contacting us.

You should use `OwningComponentBase<T>` in these situations. Below is an updated sample that shows the right pattern.

[EFReproCorrectPattern.zip](https://github.com/aspnet/AspNetCore/files/3805645/EFReproCorrectPattern.zip)

@Andrzej-W UI code is single threaded, we make no guarantees about anything else. The issue above is not with multiple threads, but w

[2019-11-04 19:18] #16745 closed

[2019-11-04 19:35] danroth27 commented on #16777
VS 16.4 Preview 3. Latest public preview.

[2019-11-04 19:36] anurse commented on #14528
Closing as this was a Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1570222

No action is needed on our side.

[2019-11-04 19:36] #14528 closed

[2019-11-04 19:41] anurse commented on #11312
@Samirat can you file a new issue for API requests like this?

I'm going to close this as we've finished the work on removing pubternal APIs. Feel free to open new issues to discuss particular APIs. We can triage those as appropriate.

[2019-11-04 19:41] #11312 closed

[2019-11-04 19:43] santoshpatro commented on #16751
@Tratcher : Thanks a lot for all your support and help provided. Finally it got resolved. I updated the Configure method in the Startup.cs code by moving the line: app.UseResponseCompression() to the top of the method. I validated it and found working fine as expected.

[code]

[2019-11-04 19:43] #16751 closed

[2019-11-04 19:49] rynowak commented on #16687
@Stamo-Gochev - this line is commented out https://github.com/Stamo-Gochev/blazor-test-localization/blob/master/blazor-test-localization/Components/LocalizedComponent.razor#L43

You **need** to do the redirect for this to work in server-side Blazor. Updating the thread culture directly won't cause the UI to update.

If you want an alternative to `IStringLocalizer` you can you use the generated cla

[2019-11-04 19:53] SheepRock opened #16820 "RegularExpression Validation"
### Describe the bug
RegularExpression validation in aspnet core always treats the pattern as full match. It makes no difference between both `d` and `^d$` patterns.

### To Reproduce
Model:
[code]

View:
[code]

Controller:

[code]

- Navigate to `TestClass/Create`
- Try type exact `d`. Validation pass.
- Try type any other string containing `d`. Validation fails.
- Change the model RegularExpres

[2019-11-04 20:03] javiercn commented on #16778
Actually, I was wrong. Parameter names are case insensitive. I believe this might be a compiler bug, as the parameter with the wrong casing results in the parameter being incorrectly encoded as a string in the generated code (as if it was an attribute) as the parameter is not recognized in visual studio.
[code]

The generated code for that is
[code]

My visual studio version is `Version 16.5.0 Pre

[2019-11-04 20:10] rynowak commented on #16778
Passing an arbitrary attribute to a component is not an error - it's allowed, and it's how things like `CaptureUnmatchedAttributes` work.

[2019-11-04 20:12] MohammadElKhatib commented on #16802
@HaoK yeah it might not been added before in core 2.2 but it was working without need to add any lines after scaffolding identity

I am sorry if i thought this as issue in core 3.0 but this was the first experience for me with core 3.0

Thanks for support and regards.

[2019-11-04 20:13] jingzheshan commented on #16782
@javiercn thanks for the clarification it matches my assumption. 😄
I think the main problem I want to dig it out is with current design how it can end up with a naive developer got confused.

[2019-11-04 20:17] ts46235 commented on #16618
Hello, thank you for the response. Sorry it took a while to respond as I had some work I had to do.

I do see that using those serializerSettings does deserialize correctly, but on that my question is why did it work without needing those in 2.2?....that would cause a code change for that to work.

Secondly, the actual code that I am testing is NOT using JsonConvert manually and instead is returni

[2019-11-04 20:23] jingzheshan commented on #16801
@javiercn thanks for the answer.
I am very excited to see the progress of the Blazor WebAssembly made so far, impressive stuff 👏
Let's push it to next level and I can not wait to see it in production next year 😄

[2019-11-04 20:38] mrpmorris opened #16821 "Blazor: Make ElementReference a class so it can be passes as a parameter"
### Describe the bug
Because ElementReference is a struct and not a class it is not possible to pass one as a [Parameter] to another component.

If it were changed to a class with an internal setter for the ID then consuming components would automatically have a valid reference when accessing from their OnAfterRender* methods.

Step1: During the BuildRenderTree ensure the ElementReference referenc

[2019-11-04 20:40] dougbu commented on #13587
Huh? Why not add these tests just to public rolling builds of AspNetCore-ci? That'll avoid the internal / external duplication, complexities of managing another pipeline, and so on. (We don't use rolling builds for much except reporting build stats to the CI council and getting a sense of the overall health of the pipelines.)

[2019-11-04 20:42] dougbu commented on #13587
Put another way, I'd rather _not_ add another YAML to the mix unless we absolutely must. The difference between at most 4 and 1 build per day isn't enough in my estimation.

/cc @Pilchie

[2019-11-04 20:43] yomiorcas commented on #16102
I experienced the same issue but turned out that I didn't add reference to Microsoft.AspNetCore.Blazor.DevServer

[2019-11-04 20:58] johnthcall opened #16822 "TestServer: Content-Length header not added for Posts"
### If you believe you have an issue that affects the security of the platform please do NOT create an issue and instead email your issue details to secure@microsoft.com. Your report may be eligible for our [bug bounty](https://technet.microsoft.com/en-us/mt764065.aspx) but ONLY if it is reported through email.

### Describe the bug
When using TestServer for Kestrel based app I saw that the Conten

[2019-11-04 20:59] HaoK commented on #13587
I'm not that familiar with the pipeline stuff honestly, at the end of the day, we just need some mechanism to set `/p:IsHelixDaily=true`  If you have a preferred way to do this instead of setting up another daily build, that's fine

[2019-11-04 21:01] cihanuygun commented on #16774
Hey @jkotalik thank you for your comment. We decided to move our application from 2.2 to 3.0 as you compose your comment, and today we moved it to 3.0. There was some minor problems when we moved our project to 3.0 but all of them was solvable things and we solved now our project running on 3.0. According to this information, i am closing this issue. Thanks.

[2019-11-04 21:01] #16774 closed

[2019-11-04 21:07] pheuter opened #16823 "AspNetCore 3.0 Blazor Server inconsistent rendering between server and client of authorized components"
I am seeing a weird issue during the runtime of my ASP.NET Core 3.0 Blazor Server app where the prerendered page properly renders HTML inside of an `<AuthorizeView Policy="Admin">` but quickly gets updated to render the `<NotAuthorized>` version once the browser client loads. I've attached a video demo below as well as the relevant source code. You can see the view flicker from the properly author

[2019-11-04 21:30] ChristopherJTrent opened #16824 "Shutdown Event"
### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is.
Example: I am trying to do [...] but [...]
It'd be great if an event was fired when the server received a shutdown command, what so we can, you know, propagate changes to local files, and save changes made during run-time
### Describe the solution you'd like
A clear and concis

[2019-11-04 21:33] #14382 closed

[2019-11-04 21:35] MichaelLant commented on #15282
With hope in my heart, today I installed the latest VS 2019 Build per this article today: `https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1-preview-2/`

I installed the latest .Net Core SDK from here: ` https://dotnet.microsoft.com/download/dotnet-core/3.1`

And I tried to install the latest Blazor templates from here: `https://docs.microsoft.com/en-ca/aspnet/core/blazor/

[2019-11-04 21:36] pheuter commented on #16823
I should add that the same exact app works just fine in development. Can this have something to do with the fact that the production app uses Azure SignalR and for some reason that fails to read claims on the user session? Interesting enough, Azure SignalR is still able to tell that my user is logged in.

[2019-11-04 21:37] NeoXtreem opened #16825 "Blazor Wasm client doesn't work with .NET Standard 2.1"
### Describe the bug
A Blazor Wasm application created using the Visual Studio Blazor WebAssembly template creates a client application that targets .NET Standard 2.0. If I upgrade this to .NET Standard 2.1, the application fails to render and I see the following stacktrace in DevTools debugger:
[code]

### To Reproduce
I created a Blazor Wasm application using the instructions [here](https://docs

[2019-11-04 21:39] MichaelLant opened #16826 "This is still broken on 16.4.0 Preview 2 :: The type or namespace name 'RenderTreeBuilder' does not exist in the namespace 'Microsoft.AspNetCore.Components.Rendering' #15282"
It looks like #15282  [](https://github.com/aspnet/AspNetCore/issues/15282)  issue was closed, but I have been adding comments to that thread and not receiving any response. This issue was closed, but it is far from resolved. Should I open a new issue here?

[2019-11-04 21:44] nguerrera opened #16827 "Produce a Microsoft.AspNetCore.App.Internal package, for version flow of stabilized builds"
We need a package that is 1. Never stabilized, and 2. Always built and published in servicing. This is needed to determine the suffixed blob storage location.

For base shared framework, we are using a Microsoft.NETCore.App.Internal package. For ASP.NET, there doesn't seem to be any package that meets both criteria always yet.

@mmitche @dougbu @JunTaoLuo

[2019-11-04 21:54] javiercn commented on #16778
I don’t agree, that was my first thought and I found tests on the runtime that specifically indicate the opposite.

At the very least there is an inconsistency between what the runtime says and what the compiler does.

[2019-11-04 21:55] pheuter commented on #16823
I've added some debug output to the Razor page to enumerate over all user claims using the code below. Something weird is happening where the initial server render contains the proper set of claims and the right issuer, and then when the client loads it switches all the issuers to LOCAL AUTHORITY and duplicates the claims.

`Page.razor`:
[code]

Server rendered:
![Server_rendered](https://user-ima

[2019-11-04 21:57] Postlagerkarte opened #16830 "[Blazor] Consider bringing Navigation bar to razor files"
This is a request to improve the tooling for razor files:

Singe-file component are great but they current do not show a Navigation Bar.

You can use the navigation bar (the drop-down boxes at the top of the code window) to navigate to code in a codebase. You can choose a type or member to go directly to it. The navigation bar appears when you edit code in a Visual Basic, C#, or C++ code base

Ple

[2019-11-04 22:15] JunTaoLuo commented on #13587
If I'm understanding it correctly, I think we want to just move the content of https://github.com/aspnet/AspNetCore/blob/master/.azure/pipelines/helix-daily.yml into https://github.com/aspnet/AspNetCore/blob/master/.azure/pipelines/ci.yml instead and add a condition so that it doesn't run on PRs. Is that correct @dougbu ?

[2019-11-04 22:17] blowdart commented on #10299
Oh wait, the key part in keyvault is the wrapping key. @span data protection keys aren't stored in keyvault.

Ok this makes sense now I remember everything. Yes, a key to encrypt the other keys needs to exist first, just like an X509 certificate needs to exist if you use that to protect keys. This seems like a doc failure.

[2019-11-04 22:44] HaoK commented on #13587
Alternatively we could just use the AspNetCore-helix-test pipeline to set this flag appropriately (and make it also rolling).  But flipping that flag to true should run the larger set of helix tests, but we do need two helix jobs (x64 and arm64)

[2019-11-04 22:46] guardrex opened #16831 "Extend GetAuthenticationStateAsync to include auth properties"
Opening per https://github.com/aspnet/AspNetCore.Docs/issues/15325#issuecomment-548934968 for Blazor Server documentation issue [Social login provider tokens+claims for Blazor auth (aspnet/AspNetCore.Docs \#15160)](https://github.com/aspnet/AspNetCore.Docs/issues/15160) opened by @hfaran ...

`GetAuthenticationStateAsync` doesn't provide authentication properties (and use of `options.Events.OnCrea

[2019-11-04 22:49] dougbu commented on #13587
I prefer using AspNetCore-ci w/ the "rolling builds only" condition (public but not for a PR) because that has more watchers

[2019-11-04 22:55] #16802 closed

[2019-11-04 22:55] HaoK commented on #16802
Updated the readme in scaffolding thanks for reporting this issue @MohammadElKhatib

[2019-11-04 22:57] os1r1s110 commented on #15315
@javiercn what could cause the dll of the host app to not display the `ApplicationPart` like in your last picture?

[2019-11-04 23:01] Tratcher commented on #16813
See https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#framework-reference

[2019-11-04 23:31] JamesNK commented on #16661
You can do that today. There is a gRPC service template in .NET Core 3.0.

Getting started tutorial: https://docs.microsoft.com/en-us/aspnet/core/tutorials/grpc/grpc-start?view=aspnetcore-3.0&tabs=visual-studio

[2019-11-04 23:31] #16661 closed

[2019-11-04 23:32] JamesNK commented on #14738
ping @shirhatti

[2019-11-04 23:47] aaronhudon-ts commented on #14195
Similar issue: https://github.com/aspnet/AspNetCore.Docs/issues/12476

Can we get some clarification on how to implement validation similarly to the IValidatableObject ?  Field-based validation as attributes is way too simple and does not cover enough scenarios.

[2019-11-04 23:55] chassq commented on #16813
OK, so if we have a Razor Class Lib, which is setup as netstandard 2.1, then we cannot reference the pkg Microsoft.AspNetCore.Authentication.OpenIdConnect 3.0.0. Is that correct? Is there a way around this? Would we need to have the RCL target netcoreapp3.0?

Thanks!

[2019-11-04 23:55] Tratcher commented on #16819
3.0 consumes more of these services from DI so I'm not surprised that overriding config breaks this.

Why are you building a different config in Startup? With IHostBuilder the guidance is to build config in Program.cs using ConfigureHostConfiguration or ConfigureAppConfiguration. CreateDefaultBuilder also already pulls in the appsettings.json and friends so you shouldn't need to build that config

[2019-11-04 23:58] Tratcher commented on #16813
You'd need to target or cross target netcoreapp3.0 and add `<FrameworkReference Include="Microsoft.AspNetCore.App" />`.

[2019-11-04 23:58] chassq commented on #16813
Ok. Think we got it. Most appreciated!

[2019-11-04 23:59] #16813 closed

[2019-11-05 00:14] Tratcher commented on #16831
There's two steps here. A) Persist the auth tokens when transitioning from the external cookie to the app cookie. The code [here](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/additional-claims?view=aspnetcore-3.0#save-the-access-token) should cover that.
B) In a blazor page there's no way to get access to AuthenticationProperties. AuthenticationStateProvider.GetAuthe

[2019-11-05 00:16] danroth27 opened #16833 "HTML warning when setting disabled attribute using Razor syntax"
In Blazor Server app with .NET Core 3.0 in a .razor file:

![image](https://user-images.githubusercontent.com/1874516/68168654-5ca61200-ff1e-11e9-8de9-c8a60b78ebb2.png)

Warning: '@IsDisabled' is not a valid value of attribute 'disabled'
VS 16.3.7

[2019-11-05 00:38] NTaylorMullen commented on #16777
I see. Ya I can reproduce. This is super odd; sadly we don't control TagHelper completions for attributes. @ToddGrun we should talk about this, it's most likely a piece of the TagHelperAttribute completion code you guys have.

[2019-11-05 01:02] ryanbrandenburg commented on #9960
@rynowak I was trying to figure out what was necessary to make this work and it [seems like this](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/Rendering/ComponentState.cs#L79) would have to by made to return a task, which would bubble up to the point where we have to change public API's. Is that expected or do we have a way to call this asynchronously without chan

[2019-11-05 01:11] dougbu commented on #8633
At this point, our incoming ref packages (from Extensions and core-setup) should both be pinned at 3.0.0. The remaining work before we close this issue is to stop building the AspNetCore targeting pack after 3.0.1 ships.

@JunTaoLuo please confirm

[2019-11-05 01:38] iAmBipinPaul commented on #16745
Hi ,Thanks
@Andrzej-W , @javiercn

It does it means that we have to inject  service as `OwningComponentBase<T>` on each component we think that can go under pre-render.

What will be the effect of services injected as ` OwningComponentBase<T>` , when rendering on client side.

 so it will be synchronization on client side as well (where it will make HTTP call instead of working with EF Core).

[2019-11-05 01:47] davidsh commented on #14718
I think this a good choice.

@Tratcher

[2019-11-05 02:03] wtgodbe opened #16835 "Add exclusion file for SDL validation tool & Re-enable SDL validation in 3.1"
Right now, the SDL validation tool runs against our test logs & creates unnecessary bug reports, in addition to taking up extra time. We should add an exclusion file to prevent this. This should be done in 3.1, most likely after GA. We can do this by adding a line like:

 To the SDLValidationParameters in azure-pipeline.yml.

We also need to re-enable SDL in 3.1 after we create this exclusion file

[2019-11-05 02:50] clockwiseq opened #16837 "MVC 3.0 HTML Updates While Debugging"
In all previous versions of ASP.NET Core (MVC or Razor Pages), one could make modifications to HTML in a view while debugging, save it, and refresh the browser and your changes would be visible.  This is not the case any longer.

To reproduce this issue, all you have to do is open Visual Studio, create a new 3.0 web project, use MVC, start debugging.  Next, open the Index.cshtml view under the Hom

[2019-11-05 03:41] dreamdocker opened #16838 "ASP.NET Core 3.0 Use UseStatusCodePagesWithReExecute invalid"
`app.UseStatusCodePagesWithReExecute("/StatusCode", "?code={0}");`

The above code can't be executed in ASP.NET Core 3.0, no error is reported, and the custom error page is not executed. After the project is rolled back to version 2.2, everything is normal. How can I solve it?

[2019-11-05 04:19] nxtx opened #16839 "How to setup integration tests so that Program.Main gets tested"
The gist of my question is: how to setup integration tests so that Program.Main gets tested, or how to move most of the logic that are generally found in Program.Main to start up so to make Program.Main smaller, hence not so critical if not covered by integration tests.

Description:
I can setup an integration test as the following:

[code]

where I define `Startup` and `Program.Main` as the follo

[2019-11-05 06:36] IbrahimMaaty commented on #16661
Dear James,
I already deploy grpc service on visual studio 2019, but I can't publish it
in iis or azure, and I quote
"
gRPC not supported on Azure App Service
<https://docs.microsoft.com/en-us/aspnet/core/tutorials/grpc/grpc-start?view=aspnetcore-3.0&tabs=visual-studio#grpc-not-supported-on-azure-app-service>

 Warning

ASP.NET Core gRPC
<https://docs.microsoft.com/en-us/aspnet/core/grpc/index?vie

[2019-11-05 07:02] span commented on #10299
Yes.

I always thought that `PersistKeysToAzureBlobStorage` would return _after_ the file had been created (if it didn't exist) and then `ProtectKeysWithAzureKeyVault` would encrypt the keys in blob storage with some key in keyvault.

If it is a doc failure perhaps these methods should not be allowed to be chained either?

[2019-11-05 07:03] IanKemp commented on #2590
To paraphrase what I believe the gist of @syndicatedshannon's comments to be: while the work done for 3.0 (to return plaintext exception responses where appropriate) is great and solves 99% of developer gripes with `DeveloperExceptionPageMiddleware`, it's still not good enough because there's a lack of actual extensibility there.

@khellang's `ProblemDetails` package isn't an acceptable solution f

[2019-11-05 07:06] j0nimost commented on #16804
I see that's what I was missing then; had a hard time combing through the documentation;

[code]

[2019-11-05 07:06] #16804 closed

[2019-11-05 07:08] IanKemp commented on #8536
As far as I can see, this item should **not** be marked as done, as it only addresses the second point in the OP, not the first.

[2019-11-05 07:10] khellang commented on #2590
@IanKemp That's exactly what the error handling middleware does. It let's you re-execute a route (i.e. an MVC action) and return whatever you want. That includes conneg.

[2019-11-05 07:12] Hoffs commented on #16819
Because at the time I was unaware of `ConfigureAppConfiguration` and this solution of building/injecting `IConfiguration` has been used in services without issues for over a year (2.1, 2.2). It's only when switched to `Host` (3.0) it suddenly stopped working. I don't think there were mentions about not overriding `IConfiguration` too.

Yes, I understand that, just that it's sort of unintuitive (an

[2019-11-05 07:18] YordanYanakiev commented on #16809
I would actually suggest the internal compiler to create a local variable inside the normal loop with counter and use it instead of the counter, when it is used in razor statement. This will solve the problem above.

[2019-11-05 07:23] davidfowl commented on #8536
Not sure what you mean.

[2019-11-05 07:51] newbienewbie opened #16840 "Blazor throws when location contains `%20`"
### Describe the bug

(Not sure whether it is a bug.)

When `window.location.href` contains percentage encoded characters(Non-ASCII)  , and if there's a space which is encoding to `%20` at the same time, the [Blazor Hub's method `StartCircuit()`](https://github.com/aspnet/AspNetCore/blob/4a7bf75e89e3dfe7264a641ed041f50788d28d20/src/Components/Server/src/ComponentHub.cs#L93) throws.

### To Reprodu

[2019-11-05 08:13] SariDev commented on #16653
Hi @mrpmorris,

thank you for your response.

Your suggestion is indeed a solution 😊
Doing it like this didn't even came into my mind 😞

As you said, I changed the following lines

| Before  |After   |
|---|---|
|@page "/masterdetail/{id:int}/edit"   |@page "/masterdetail/{id:int}/{displayMode}"   |
| -  |  [Parameter]<br> public string DisplayMode { get; set; }  |
| _isInEditMode = NavigationMana

[2019-11-05 08:14] JamesNK commented on #16661
There is an issue about that here - https://github.com/aspnet/AspNetCore/issues/9020

Date is unknown.

[2019-11-05 08:41] collina2019 commented on #15403
Why i get below error on `ConfigureOptions<JwtBearerOptions>` :

`No overload of method ConfigureOptions take 2 arguments `

[2019-11-05 09:11] Stamo-Gochev commented on #16687
@rynowak I added the redirection in https://github.com/Stamo-Gochev/blazor-test-localization/commit/6de7aba7a80354575486d8514fbb2d1bee25cd0d but I am still not able to make the localization work even though the culture controller action is hit. Is there anything wrong with the update?

[2019-11-05 09:48] jingzheshan commented on #16783
@javiercn thanks for your time and investigation.

Here is a demo sln you can try.
[demo.zip](https://github.com/aspnet/AspNetCore/files/3808236/demo.zip)

I have mocked the code as close as to yours, hope you can reproduce the issue. The main difference right now I think I am using Blazor WebAssembly client-side instead of server-side. BTW. I could confirm your solution works as I expect. 👍

![dy

[2019-11-05 09:51] colotiline commented on #14451
@Bartmax `[Required(false)]` doesn't exist.

[2019-11-05 09:53] colotiline commented on #14451
@Bartmax `[Required(AllowEmptyStrings = true)]` doesn't allow nulls.

[2019-11-05 10:00] colotiline commented on #14451
@Bartmax I've got same situation as @brunosantosrhsenso .

**Code**
[code]

[code]

[code]

[code]

**Error**
<img width="497" alt="image" src="https://user-images.githubusercontent.com/5231197/68197879-127b6a00-ffcc-11e9-93bf-0d04d5c34095.png">

**Details**
My controller has attribute `[ApiController]`.

[2019-11-05 10:36] benmccallum opened #16841 "WebSockets integration tests failing in 3.0"
### Describe the bug
I'm trying to upgrade the GraphQL server project to support netcoreapp3.0 but stuck with integration tests failing for 3.0 only (e.g. they work for netfx and netcoreapp2.2).

### To Reproduce
1. Clone code for PR here: https://github.com/graphql-dotnet/server/pull/280
2. Run tests under Transports.Subscriptions.WebSockets.Tests (netcoreapp3.0)
3. See failures for the two tests

[2019-11-05 10:43] benmccallum commented on #16841
Sigh, I knew I was close; rubber duck debugging is a real thing. Put breakpoints in the `TestStartup` methods and realised that `Configure` wasn't being called. Removed the custom configure call on the webHostBuilder that was obviously taking precedent. I guess that's intended behaviour.

Before:
[code]

After:
[code]

Closing out.

[2019-11-05 10:43] #16841 closed

[2019-11-05 10:46] javiercn commented on #16745
No, only components that can't perform multiple operations asynchronously. Which means that they can't wait for multiple signals to resume execution. For example, in ef you can't do
[code]

The operations in this case happen simultaneously but not concurrently, meaning that at no point there are two or more threads running EF code, but that the thread is freed up to do other things after the first

[2019-11-05 10:48] javiercn commented on #16809
We wouldn't declare the variable locally, Blazor transpiles to C# in the closest way possible and doesn't have insight into the C# code that you write in the page while its compiling to it, and even if it had, we wouldn't alter the user code in that way.

[2019-11-05 10:54] mrpmorris commented on #16653
You should really be checking the parameter, not the URL
`private bool _isInEditMode = string.Compare("Edit", DisplayMode, true) == 0;`

I think the same component instance is supposed to be reused when switching to a different URL that results in the same component type being required, and the parameters are changed. Isn't that what you are seeing?

[2019-11-05 10:55] javiercn commented on #16653
@SariDev Not sure what your question is without running the code, but @mrpmorris is right in this case, that is how it should be.

[2019-11-05 10:55] javiercn commented on #16653
@mrpmorris proposed solution is also acceptable.

[2019-11-05 10:57] PhotoAtomic commented on #12890
i'm also interested in collaborate to bring on this package that i consider quite an important cornerstone: how to get involved?

[2019-11-05 10:59] prabalk opened #16842 "HttpMethod becomes empty when request hit the server"
Updated .net core service from _2.1.7_ to _2.1.11_, after upgrade we are seeing random tests failure. Reason for failures is _HttpMethod_ becomes empty string after request hits the server.

Verified with proxy server, _HttpMethod_ is correctly sent from the tests. However, when the request hits the server we receive _HttpMethod_ as empty string, **RANDOMLY**. Sometime all the tests pass, sometime

[2019-11-05 11:00] javiercn commented on #15403
@collina2019 Sorry, I got the wrong method in the snippet. (I always get this wrong). It's Configure not ConfigureOptions

[code]

[2019-11-05 11:03] iAmBipinPaul commented on #16745
Yeah .

so our interface is
[code]

On  Server  (EF core)
[code]
On client
[code]
and if we are using `OwningComponentBase<T>` on `Product.razor`
Where we are injection `IProductService` , as if you mention `OwningComponentBase<T>` will force to make synchronization call does it mean that on client side (Http call) , it will be synchronization only as we are using `OwningComponentBase<T>` on `Prod

[2019-11-05 11:42] javiercn commented on #15282
@mjlant Thanks for trying it out.

I'm not sure what can be happening with your environment. I think that the blazor template didn't get correctly installed.

I've created two solutions for you with the latest nightly packages.
[BlazorHosted.zip](https://github.com/aspnet/AspNetCore/files/3808707/BlazorHosted.zip)
[BlazorWasmStandalone.zip](https://github.com/aspnet/AspNetCore/files/3808708/Blazor

[2019-11-05 11:55] javiercn commented on #16653
I'm closing the issue as the question has been answered.

[2019-11-05 11:55] #16653 closed

[2019-11-05 11:55] jeanpoelie commented on #3956
Any plans for this (1 year later) I am running into this issue constantly and have not found a proper solution yet.

[2019-11-05 11:58] jeanpoelie commented on #16842
Can you reproduce this in a repository? The issue seems very vague.

[2019-11-05 12:13] javiercn commented on #16783
@jingzheshan For some reason the cascading authentication state doesn't get updated.

@SteveSandersonMS Can you take a look here? I can't see what's wrong.

[2019-11-05 12:18] javiercn commented on #16837
@clockwiseq Thanks for contacting us.

This is an intentional change in 3.0. See the announcement https://github.com/aspnet/Announcements/issues/343 and how to enable the functionality.

[2019-11-05 12:18] #16837 closed

[2019-11-05 12:19] javiercn commented on #16833
@NTaylorMullen @ajaybhargavb I imagine this is yours?

[2019-11-05 12:21] javiercn commented on #16830
@Postlagerkarte Thanks for contacting us.

This is a feature request for visual studio, not ASP.NET Core specifically. While we do our best to answer all questions you'll get a better and faster response if you report this issue through the "send feedback button on the top right corner" in Visual Studio.

[2019-11-05 12:21] #16830 closed

[2019-11-05 12:21] javiercn commented on #16830
@vijayrkn Can you route this to the appropriate people?

[2019-11-05 12:22] javiercn commented on #16826
@MichaelLant Let's continue the discussion in the other issue. I've already answered there.

[2019-11-05 12:22] #16826 closed

[2019-11-05 12:23] javiercn commented on #16825
@NeoXtreem thanks for contacting us.

We are in the process of moving blazor wasm to support netstandard2.1 (there's a PR out for it) so I'm closing this issue as the work is tracked already.

/cc: @SteveSandersonMS

[2019-11-05 12:23] #16825 closed

[2019-11-05 12:27] javiercn commented on #16824
@ChristopherJTrent thanks for contacting us.

This is already possible by registering a callback to the appropriate event in `IHostApplicationLifetime`. See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-3.0#ihostapplicationlifetime for details

[2019-11-05 12:27] #16824 closed

[2019-11-05 12:39] collina2019 commented on #15403
Ok , then you might need to update the docs

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.0

Another question , i have modify to add JwtBearerEvents

    services.Configure<JwtBearerOptions>(
    IdentityServerJwtConstants.IdentityServerJwtBearerScheme,
    options =>
    {
        options.Events = new JwtBearerEvents
        {

[2019-11-05 12:45] javiercn commented on #15403
@collina2019 Can you provide a minimal repro project showcasing your issue so that I can help you?

[2019-11-05 12:48] mahabirsingh-kis commented on #16730
Hello @BrennanConroy
Thank you for your response.

The Signal R is not logging after disconnect, so there is no logs for reconnect. Is there any way that I can test the re-connection attempt and check if the Signal R is trying to reconnect

Thanks

[2019-11-05 13:15] MarkStega opened #16843 "Blazor templates generate incorrect html for the new blazor-error-ui in preview2"
### Describe the bug
When you use the Blazor template in VS2019 to create a new app (either CSB or SSB) the html generated in the index.html or _host.cshtml has an error in the 'reload' option. What is generated is
`
       <a href class="reload">Reload</a>
`
instead of the correct
`
        <a href="" class="reload">Reload</a>
`

### To Reproduce
Generate a new Blazor app in VS2019

### Further t

[2019-11-05 13:25] InvincibleDRT commented on #12890
I'm also interested in contributing to this project.

[2019-11-05 13:40] javiercn commented on #16843
@MarkStega thanks for contacting us.

@ryanbrandenburg Can you take a look?

[2019-11-05 13:47] collina2019 commented on #15403
@javiercn  check the repo

https://github.com/collina2019/angular

Just add the codes as i shown above .

Appreciate your help .

[2019-11-05 13:52] YohDeadfall opened #16844 "Too many ISystemClock definitions"
The `ISystemClock` defines a way to get the current time in UTC timezone, and it has a simple implementation:

[code]

The interface exists in:
* `Microsoft.AspNetCore.Authentication`
* `Microsoft.AspNetCore.ResponseCaching`
* `Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Infrastructure`
* `Microsoft.Extensions.Internal`

There is a small difference exists between implementations, but in most

[2019-11-05 13:57] Yaz-X commented on #3719
not sure but i hit this issue but i've just added:

`<EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>`

to the publish profile and it worked fine!

[2019-11-05 14:23] Grandizer commented on #12890
I am not sure if I can help, but I am totally interested in the result!  Thanks everyone.

[2019-11-05 14:32] arivoir commented on #15175
@javiercn Thanks for providing this information.

I want to make some emphasis in 2 points

1. Despite multiple calls to the same BuildRenderTree could end up in just 1 render, this can cause performance trouble if executing BuildRenderTree is complex. It is not enough to avoid "renders" it should be also possible to skip "BuildRenderTree"'s.

2. The fact that the BuildRenderTree is sometimes call

[2019-11-05 14:41] gbukauskas commented on #15955
It is possible. Working example is on GitHub: https://github.com/bmsantos/RxBlazor

[2019-11-05 14:46] vijayrkn commented on #16830
As you mentioned, it is better to have a vs feedback suggestion ticket so that we can route to the appropriate team. Thanks!

[2019-11-05 14:54] Shizzlak commented on #13565
@Tratcher I know this issue is closed but would you be able to give an example of how to create the certificate in code or is it something I can easily find online?

[2019-11-05 14:55] yToxide opened #16845 "Add requirement in parameter for blazor components"
### Is your feature request related to a problem? Please describe.
I'm trying to make a components that make multiple parameters and some of them are used only if another parameter as been set.

### Describe the solution you'd like
Add requirements parameters to `Parameter `attribute

[code]

(But MainAttribute is only required if OtherAttribute will be used)

So this could work :

[code]

But Thi

[2019-11-05 14:59] arivoir commented on #15175
@javiercn I just found that there are not only problems in the performance. Let me explain my case a little more.

I have a component (data-grid) that has 4 panel of cells, each one is a component which renders a grid of cells. In some cases it is necessary to change the range of displayed cells in all the panels, for example if you change the source of the grid.

The problem I'm facing is when I

[2019-11-05 15:09] clockwiseq commented on #16837
Thank you for the response.  I added the Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation package using the package manager and the call to AddMvcRazorRuntimeCompilation is bad:

```'IMvcBuilder' does not contain a definition for 'AddMvcRazorRuntimeCompilation' and no accessible extension method 'AddMvcRazorRuntimeCompilation' accepting a first argument of type 'IMvcBuilder' could be found (are y

[2019-11-05 15:09] git-net commented on #11251
html tags wrong. only `.razor `,
code
[code]
expect:
` <div class="row"> cells</div> `  `<div class="row">cells</div>`

**BUT** i got this:(RenderMode.ServerPrerendered or RenderMode.Server)
`<div class="row"></div> cells `  `<div class="row"></div> cells`
bug?

[2019-11-05 15:10] git-net commented on #11251
@anurse

[2019-11-05 15:16] clockwiseq commented on #16837
Aaah, looks like it's now `.AddRazorRuntimeCompilation();`.  Although I am appreciative of this fix, I am quite concerned about this change.  Others have expressed their concern as well regarding the excessive files added to the project via that package reference.  Is there a path to undoing whatever was done that broke this functionality in the first place?  The speed difference is horrendous.

[2019-11-05 15:17] clockwiseq commented on #7647
Any chance the dev team can undo whatever they did that broke this?  I've added the package reference and I too have concerns with the sheer number of additional files required to implement this fix as well as the speed difference when making a change and simply refreshing vs 2.2's speed and ability to recompile the view.

[2019-11-05 15:22] sebastianslutzky opened #16846 "Blazor project fails after upgrade to 3.1.0-preview2.19528.8"
After upgrading (from 3.0.0 preview 9)  my blazor project can't get to compile

https://github.com/sebastianslutzky/rob/compare/feature/upgrade-to-3.1.0-preview2.19528.8?expand=1

### See attached image with command and error:
<img width="1387" alt="Screenshot 2019-11-05 at 15 15 08" src="https://user-images.githubusercontent.com/1165178/68220410-a30f7580-ffdf-11e9-8e0a-3fad7119544d.png">

## my e

[2019-11-05 15:45] javiercn commented on #16846
@sebastianslutzky thanks for contacting us.

That sounds like a build error that likely doesn't have anything to do with Blazor. I would suggest you clean the bin and obj folders for all the projects in your solution and perform a clean build.

From what it seems, your error comes from restore. If your issue persist, I suggest you file an issue with the nuget team and they'll be able to help you f

[2019-11-05 15:49] DrGriff commented on #10448
As per @danroth27  (first post in this thread), we need a robust pattern for how the EF should be used by Blazor (Server side).  There have been multiple post on this thread, and I think we just need a bit of clarification on best practice from Microsoft.

The problem (as I see it) is that a Blazor (Server) App is a connected application and the Service (injected into the Page) is therefore long-l

[2019-11-05 15:50] javiercn commented on #16845
@yToxide thanks for contacting us.

You can implement this logic yourself if you override SetParametersAsync in your base component, inspect the parameters collection and validate it against the parameters in your component.

What you are asking is similar to the powershell "ParameterGroups" feature. This is not something we plan to implement, but that, as I mention you could implement yourself as

[2019-11-05 16:05] Postlagerkarte commented on #16830
No problem - I created a vs feedback item - https://developercommunity.visualstudio.com/idea/807694/blazor-consider-bringing-navigation-bar-to-razor-f.html

[2019-11-05 16:13] Tratcher commented on #13565
Here's how we create the dev cert:
https://github.com/aspnet/AspNetCore/blob/87bd1bec5b65b3dd9dbdbb5a9906486840d4d0cb/src/Shared/CertificateGeneration/CertificateManager.cs#L180

[2019-11-05 16:13] os1r1s110 commented on #15315
Okay, seems like the bug was related to Resharper Ultimate as after updating it, the assembly started containing the said metadata, and the ViewComponent started being available 100% of the time.

[2019-11-05 16:17] Tratcher commented on #16838
Duplicate of https://github.com/aspnet/AspNetCore/issues/13715, already fixed in 3.1.
Mitigation: https://github.com/aspnet/AspNetCore/issues/13715#issuecomment-528929683

[2019-11-05 16:17] #16838 closed

[2019-11-05 16:21] TheCamel opened #16847 "SignalR : Cookie management"
Hello,
I am migrating an old ASP SignalR v2.2.0 solution to Core. Our solution is behind an apache reverse proxy. We use the cookie added by apache when server is elected on both client side.

Managing cookie on java client and javascript has disapear ?

Can you restore this or provide an alternative ? may be I am wrong too ?

.cookie() on js
and in java
CookieCredentials cookieCredentials = new C

[2019-11-05 16:22] javiercn commented on #16821
@mrpmorris Thanks for contacting us.

We are unlikely to do that, as holding on to an ElementReference from a separate component is not safe, as components render independently.

Instead I recommend you follow a pattern similar to the one showcased in the example below.

[ElementReferenceCommunicationSample.zip](https://github.com/aspnet/AspNetCore/files/3810003/ElementReferenceCommunicationSample

[2019-11-05 16:31] pranavkm commented on #16798
@RickStrahl adding things as additional compilation references doesn't really add them to the load context at runtime. This would explain why the view \ Razor Page compiles correctly, but you get a runtime error since the type isn't present. Uncommenting this line of code: https://github.com/RickStrahl/Westwind.AspnetCore.LiveReload/blob/master/LiveReloadServer/Startup.cs#L228 got things working.

[2019-11-05 16:33] javiercn commented on #16821
Filed https://github.com/aspnet/AspNetCore.Docs/issues/15517 to track updating the docs to cover this.

[2019-11-05 16:43] javiercn commented on #16778
Correct casing:
![image](https://user-images.githubusercontent.com/6995051/68226587-2b255900-ffa7-11e9-9588-7d455d57af71.png)

This works fine.

Incorrect casing:
![image](https://user-images.githubusercontent.com/6995051/68226637-3c6e6580-ffa7-11e9-951d-bab444f56d5f.png)

This doesn't work because the compiler emits `builder.AddAttribute("InitialCount", "10");`

Incorrect casing but fixing it wit

[2019-11-05 16:45] #15315 closed

[2019-11-05 16:49] javiercn commented on #16840
@newbienewbie thanks for contacting us.

Can you provide a minimal repro project that illustrates the issue so that we can investigate?

[2019-11-05 16:52] sebastianslutzky commented on #16846
yeap, it was just that. thanks @javiercn

[2019-11-05 16:52] #16846 closed

[2019-11-05 16:55] javiercn commented on #16843
This was already fixed https://github.com/aspnet/AspNetCore/pull/16719

[2019-11-05 16:55] #16843 closed

[2019-11-05 16:57] javiercn commented on #16833
encasing it in `@()` fixes it, but this should work without that.

[2019-11-05 16:58] javiercn commented on #16831
Tokens can be passed in to the root component in the initial component request and saved as context

[2019-11-05 17:02] javiercn commented on #16823
@pheuter thanks for contacting us.

@pheuter The signalr service captures the identity of the current user before redirecting and as part of that the set of claims might be different.

If the user identity varies for prerendered requests vs for requests with signalr service, that's likely to cause the issue.

I'm not sure if the claims can be normalized when the signalr service captures them, but

[2019-11-05 17:03] pranavkm commented on #16814
@xrkolovos we made an announcement here - https://github.com/aspnet/Announcements/issues/326 - about making formerly pub-internal types (types in the `.Internal` namespace) non-public as part of the 3.0 release. For 3.0, copying the code in to your app https://github.com/aspnet/AspNetCore/blob/release/3.0/src/Mvc/Mvc.ViewFeatures/src/ValidationHelpers.cs#L46-L112 would be the way to go. It does lo

[2019-11-05 17:05] valeriob commented on #14996
Is there an issue to track for 2.1 and 2.2 ?

[2019-11-05 17:11] javiercn commented on #16839
@nxtx thanks for contacting us.

I'm not sure I understand your question.

WebApplicationFactory will call into your CreateHostBuilder method by default. If you need something else, then you need to override CreateHostBuilder and call it yourself.

[2019-11-05 17:25] javiercn commented on #16820
@SheepRock thanks for contacting us.

I believe this behavior is by design. As far as my understanding goes, we simply call into the data annotations validation methods, so that's a behavior defined by .NET.

I suggest you file an issue in https://github.com/dotnet/corefx so they can help you or provide alternatives.

See https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.Annot

[2019-11-05 17:25] #16820 closed

[2019-11-05 17:28] Tratcher commented on #14996
@valeriob All of the AspNetCore patches have been merged for the upcoming November patch release:
2.1 https://github.com/aspnet/AspNetCore/pull/13746
2.2 https://github.com/aspnet/AspNetCore/pull/13858
3.0 https://github.com/aspnet/AspNetCore/pull/13870

[2019-11-05 17:31] nxtx commented on #16839
@javiercn visual studio fails on the following without any error message; so I am not sure how to set up `Program` as Entry point:

[code]

[2019-11-05 17:33] Tratcher commented on #16831
Sample?

[2019-11-05 17:38] mkArtakMSFT commented on #16821
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-11-05 17:43] Bartmax commented on #14451
It shouldn't.
Submit a new issue as a bug.
Not setting the required attribute should not trigger a validation error

[2019-11-05 17:46] mkArtakMSFT commented on #16816
Thanks for contacting us, @ChaosEngine.
@NTaylorMullen can you please look into this? Thanks!

[2019-11-05 17:52] NTaylorMullen commented on #16816
Setting `<RazorLangVersion>3.0</RazorLangVersion>` to 3.0 for 2.0 applications is not supported sadly. Is there a reason why you're pushing that to 3.0?

[2019-11-05 17:54] NTaylorMullen commented on #16833
@ToddGrun this is on your plate.

[2019-11-05 17:59] javiercn commented on #16831
@Tratcher

This is the gist of it. Can you fill in the details with the appropriate auth code to retrieve the tokens?

@guardrex You simply need to define the parameters in the main component and maybe provide them as a cascading value or set them inside a singleton service during OnInitializing.

[code]

[2019-11-05 18:00] Tratcher commented on #16822
It's up to the ObjectContent object and the calling code to set the headers it wants to send to the server. TestServer only forwards what is created by the client. TestServer avoids modifying the request so that the calling code has complete control over what the server application sees (e.g. so you can test with and without the Content-Length header).

If we change anything here it will be to hid

[2019-11-05 18:06] roysurles opened #16849 "Deploying Asp.net Core 3.0 Blazor Server App as Sub Site"
### Describe the bug
Navigation links and routing does not appear to work when the Blazor Server App is deployed to IIS on premise server as a sub site.

### To Reproduce

### Further technical details
- ASP.NET Core version
3.0
- Include the output of `dotnet --info`
On Premise IIS Web Server
PS C:\Users\rsurles> dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.1.500
 Commi

[2019-11-05 18:06] roysurles opened #16850 "Deploying Asp.net Core 3.0 Blazor Server App as Sub Site"
### Describe the bug
Navigation links and routing does not appear to work when the Blazor Server App is deployed to IIS on premise server as a sub site.

### To Reproduce

### Further technical details
- ASP.NET Core version
3.0
- Include the output of `dotnet --info`
On Premise IIS Web Server
PS C:\Users\rsurles> dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.1.500
 Commi

[2019-11-05 18:15] ryanbrandenburg opened #16851 "Create tests for #16599"
As a starting place:
1. Port option given
2. Port option not given
3. Port option given but not occupied.

[2019-11-05 18:15] javiercn commented on #15282
Better yet, these are two preview2 templates I created on a clean VM, you shouldn't need any of the above points to restore and run these applications. Give them a try.

[BlazorStandalonePreview2.zip](https://github.com/aspnet/AspNetCore/files/3810594/BlazorStandalonePreview2.zip)
[BlazorHostedPreview2.zip](https://github.com/aspnet/AspNetCore/files/3810595/BlazorHostedPreview2.zip)

[2019-11-05 18:20] NTaylorMullen commented on #16816
Sorry, I should have been more clear. Setting RazorLangVersion to 3.0 for applications targeting MVC 2.X, i.e. `<PackageReference Include="Microsoft.AspNetCore.Mvc" Version="2.2.0" />` is not supported.

The reason why your roll forward ends up working I bet is that it's lifting your MVC version to be 3.0. If you remove that package reference entirely you'll still have access to MVC's 3.0 bits (we

[2019-11-05 18:20] nxtx commented on #16839
Two points:
- instead of `Startup`, I want to use `Program`, hence get it covered with the integration testss;
- Chancing access modifier from `protected` to `public` causes compile-time error:

[2019-11-05 18:22] MichaelLant commented on #15282
Thanks Javier. I really appreciate you taking the time to do this. I will work with them tonight.

[2019-11-05 18:32] HaoK commented on #13462
UI changes are done, need to port changes to scaffolding before closing this issue

[2019-11-05 18:36] DamianEdwards commented on #3956
There are still no plans to put this in the product that I know of (@danroth27 for comment) but you could use the [TagHelperPack package](https://taghelperpack.azurewebsites.net/) to get this functionality today.

[2019-11-05 18:39] kle622 commented on #16839
Is there any more specific reason why you want to include Program as part of the tests?
The way it helps me to see it is, "Startup" class is the encapsulation of your application and "Program" class is simply a driver in the same way your integration test is a driver.

[2019-11-05 18:42] jeanpoelie commented on #3956
Thank you for sharing that package, I will look into that!

[2019-11-05 18:43] nxtx commented on #16839
I would like any possible issues with `Program` (e.g., when my colleagues make PRs) be caught by integration tests. More specifically, recently we forgot to include `UseServiceProviderFactory(new AutofacServiceProviderFactory())` in `HostBuilder` in `Program`, and we mainly rely on tests to capture issues, we noticed the problem long after.  Hence, we're would like to add integration tests that st

[2019-11-05 18:47] sbuchok commented on #11251
I think your issue is the i % 2 == 1 in the second if. I believe it should be the same as the first. Also, where is the word "cell" coming from? Your expected and your code you posted don't match up.

[2019-11-05 18:48] RickStrahl commented on #16798
Arrghhh - out of all the combinations I tried that was one I didn't. Sure enough that works!

Now, I'll say this: This is very counter intuitive. If you allow to add reference paths (which BTW, sounds like folder names, not actual assemblies) I would assume you also load those for me. I see no reason to reference assemblies, and then not have them loaded or accessible in your code. If there is som

[2019-11-05 18:49] anurse commented on #11251
Please file a new issue if there is a problem/question here. Closed issues are not monitored during our regular triage process.

[2019-11-05 18:52] ChaosEngine commented on #16816
You mean, to drop `<PackageReference Include="Microsoft.AspNetCore.Mvc" Version="2.2.0" /` and use `<FrameworkReference Include="Microsoft.AspNetCore.App" />` ?

Unfortunatelly this is not compiling even in VS2019 giving:

`:\Program Files\dotnet\sdk\3.0.100\Sdks\Microsoft.NET.Sdk\targets\Microsoft.NET.Sdk.FrameworkReferenceResolution.targets(263,5): error NETSDK1073: The FrameworkReference 'Micro

[2019-11-05 18:59] NTaylorMullen commented on #16816
I'm suggesting don't have `<FrameworkReference Include="Microsoft.AspNetCore.App" />` either. The framework reference is implicit.

Assuming dropping Microsoft.AspNetCore.App doesn't work could you provide the output of `dotnet --info` and what specific VS version you're using?

[2019-11-05 19:05] aaronhudon-ts opened #16852 "Blazor - InputNumber does not render step attribute"
### Describe the bug
The `InputNumber` input component with a "step" attribute does not render "step" in the resulting HTML.  This causes the form validation to flag the field as invalid requiring a fractional number to be a whole number.

The documentation at: https://docs.microsoft.com/en-us/aspnet/core/blazor/forms-validation?view=aspnetcore-3.0 says:
"All of the input components, including Edi

[2019-11-05 19:12] syndicatedshannon commented on #2590
Thanks Ian. I'm still investigating. I know it's hard to pin down what my issue is, other than that I dislike the current implementation.

I'm working on an implementation of my request, primarily to better understand the problem, but possibly also to contribute. I've put more time and focus into this than I can afford.

If I were to bail on this investigation now, here are some of the things I wo

[2019-11-05 19:14] ChaosEngine commented on #16816
Two VS2019 versions:
- VS2019 Community 16.3.7 (stable version)
- VS2019 Community 16.4.0 Preview 3 (preview version)

$ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.1.100-preview2-014569
 Commit:    4bd5d24d87

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.1

[2019-11-05 19:19] syndicatedshannon commented on #2590
@khellang How would you call this from your own middleware? Keep in mind part of the issue is the assumption we'll engage custom middleware per comment by @davidfowl:

[2019-11-05 19:29] khellang commented on #2590
You don't. Why would you need your own middleware for that? The error handling middleware captures the exception and re-execute the pipeline. Whether you have a custom middleware or an MVC controller to handle that exception, that's up to you.

[2019-11-05 19:33] JunTaoLuo commented on #8633
That is correct, we have pinned the ref pack version in the deb and rpm installers. However, there shouldn't be any work required to stop building the targeting pack since it's already conditional on 3.0.1: https://github.com/aspnet/AspNetCore/blob/release/3.0/Directory.Build.props#L93-L94.

[2019-11-05 19:35] lenj962 commented on #16799
Response on Stackoverflow at https://stackoverflow.com/questions/58584446/asp-net-core-identity-usermanager-isinrole-call-works-in-2-2-but-throws-invalido/58718177#58718177 resolved the issue as follows:

            IdentityRole role = await roleManager.FindByIdAsync(id);
            List<Core3IDUser> members = new List<Core3IDUser>();
            List<Core3IDUser> nonMembers = new List<Core3IDUs

[2019-11-05 19:35] #16799 closed

[2019-11-05 19:37] NTaylorMullen commented on #16816
In the Visual Studio where you're seeing the issue could you open up Package Manager Console and type `dotnet --version`?

[2019-11-05 19:45] JunTaoLuo commented on #8633
Curious if any of this logic will be impacted by the 3.0.2 changes you're making @dougbu ?

[2019-11-05 19:48] jaska45 opened #16854 "Display name of enum no longer gets localized in .NET 3.0"
I have an enum

[code]

Then I use the following code in a view to populate a combo box:

[code]

Finally I added a localized .resx file: Models.Sport.fi.resx

This works in ASP.NET 2.2 but not 3.0

You can find a sample [here](https://github.com/jaska45/ASP.NET-Enum)

[2019-11-05 19:52] ChaosEngine commented on #16816
from VS 2019 stable:
[code]

[2019-11-05 19:56] dougbu commented on #8633
Not really. I am however concerned about what will happen w/ the checked-in approach once we stop building the targeting pack. Will the infrastructure still build ref/ projects and reference them? Can we test today or tomorrow to make sure we're :ok:?

[2019-11-05 19:58] NTaylorMullen commented on #16816
Ahh so you have the enable preview sdk flag on I presume? 3.1 is not supported in ASP.NET projects in 16.3. Do you have the same issue in your 16.4 instance?

[2019-11-05 20:06] ChaosEngine commented on #16816
Yes, same on 16.4 version and built from CLI. Here's 16.3
![image](https://user-images.githubusercontent.com/1271428/68241854-bc301a80-000f-11ea-8eeb-d333f3853d54.png)

...and 16.4 preview options:
![image](https://user-images.githubusercontent.com/1271428/68242039-1204c280-0010-11ea-8c52-aa4a50ccf8f7.png)

Well, months ago I was enabling some preview flags AFAIR ;-)

[2019-11-05 20:27] mrpmorris commented on #16821
@javiercn I appreciate the effort you went to to answer this, thanks.

I don't think the approach you suggest is workable as it places requirements on the parent. Take this component as an example - https://github.com/mrpmorris/blazor-university/blob/master/src/JavaScriptInterop/HtmlElementReferences/Shared/AutoFocus.razor

All it does is to set focus to the control specified whenever it is create

[2019-11-05 20:28] jcmontx commented on #12115
Hello, reviving this. I'm trying to host an ASP.NET Core Mvc app that uses SignalR, on a Azure Linux Web App (B1 tier). The setup works perfectly in my local machine.

However, when deployed, I get this error message on the console:

WebSocket connection to 'wss://XXXXXX/myhub?id=XXXXX' failed: Error during WebSocket handshake: Unexpected response code: 503

[2019-11-05 20:32] mrpmorris commented on #16821
@mkArtakMSFT I don't think it does. I am unable to reopen it, could you do that for me please?

https://github.com/aspnet/AspNetCore/issues/16821#issuecomment-550005124

[2019-11-05 20:39] chandimar001 opened #16855 "Set timeout on time it takes to read request body?"
We are in the process of migrating our code from ASP .NET Core 1.1 to ASP .NET Core 2.1.

I am seeing a lot of the following exceptions in the new version:
at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
  at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at Microsoft.AspNetCore.WebUtilities.FileBufferingReadStream.<ReadAsync>d__

[2019-11-05 20:44] pheuter commented on #16823
@javiercn Can you point me to an example of "apply a claims transformer"?

[2019-11-05 20:51] hheexx commented on #12890
@danroth27 @SteveSandersonMS  SSR(Angular) is no longer supported as it requires NodeServices. Right?

[2019-11-05 20:58] syndicatedshannon commented on #2590
I think we aren't talking the same language. Or maybe you are being intentionally adversarial, I'm actually not sure. But I'd rather not get in a chest-beating contest about the "right" implementation. That's why I referred to David's suggestion that we might need to build our own middleware. Additionally, I'd like to note you also built your own middleware for a related problem, and are suggestin

[2019-11-05 20:59] JunTaoLuo commented on #8633
I'll try it out and report back.

[2019-11-05 21:01] MarkStega commented on #16821
@mkArtakMSFT I have to agree with @mrpmorris about the proposed ElementReferenceCommunication 'solution'. It is an over complicated solution that just feels like the wrong approach to the problem at hand. It is far simpler to have a class with a valid indicator as Peter suggests.

[2019-11-05 21:11] anurse commented on #13866
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

If you sent the traces, let me know. I don't believe I've received them.

[2019-11-05 21:11] #13866 closed

[2019-11-05 21:12] anurse commented on #15351
@replaysMike can you provide a runnable sample that reproduces the problem so we can investigate? We don't believe these should be order-dependent.

[2019-11-05 21:14] anurse commented on #15371
Closing as I believe the question is answered, let me know if that's not the case. The InProc hosting model doesn't support multiple apps per app pool by design.

[2019-11-05 21:14] #15371 closed

[2019-11-05 21:14] anurse commented on #16585
Closing this as we haven't heard from you and generally close issues with no response after some time. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue to investigate further!

[2019-11-05 21:14] #16585 closed

[2019-11-05 21:16] anurse commented on #15104
We'll look at generating new PINGs at a configurable interval for 5.0. Future work (considering clients disconnected if they don't PING+ACK, etc.) is TBD.

[2019-11-05 21:20] anurse commented on #16747
There *is* an options type for IIS that we could expose in a `ConfigureIIS` method, but it would only have the options on [IISServerOptions](https://github.com/aspnet/AspNetCore/blob/master/src/Servers/IIS/IIS/src/IISServerOptions.cs). We can't control IIS configuration settings like suppressing the Server header, you have to do that from the IIS configuration layers (web.config, etc.).

Closing a

[2019-11-05 21:20] #16747 closed

[2019-11-05 21:21] NTaylorMullen commented on #16816
Hmm, i'm truly confused. At this point I imagine your SDK or VS is in a broken state. Do you see the issue at command line via `dotnet build`?

[2019-11-05 21:22] anurse commented on #2895
We should, in general, get all the async methods overridden so they don't unintentionally cause issues with the sync I/O blocking code.

See https://github.com/aspnet/AspNetCore/issues/16740.

Let's look at this in 5.0.0-preview1

[2019-11-05 21:22] anurse commented on #16740
Let's tackle all this together. Closing this as a dupe of #2895

[2019-11-05 21:22] #16740 closed

[2019-11-05 21:24] nxtx commented on #16839
A clarification; even with the following `Program` is not tested (e.g., `HostBuilder` is not called):

[code]

[2019-11-05 21:25] anurse commented on #16662
The events seem to indicate the app itself is crashing on startup, which would trigger ANCM to continue to attempt to restart it.

Can you enable the [stdout log](https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.0#aspnet-core-module-stdout-log-iis) and see if there anything there?

[2019-11-05 21:27] anurse commented on #16785
Closing as this is a configuration issue (you need to elevate to root, or check if something else is using the port). We just pass the address and port through to the OS to bind.

[2019-11-05 21:27] #16785 closed

[2019-11-05 21:28] ryanbrandenburg commented on #16772
As you've discovered `PartialTagHelper` and `PartialAsync` take an optional "model" parameter. If this isn't provided it defaults to [`ViewData.Model`](https://github.com/aspnet/AspNetCore/blob/c565386a3ed135560bc2e9017aa54a950b4e35dd/src/Mvc/Mvc.ViewFeatures/src/Rendering/HtmlHelperPartialExtensions.cs#L71). RazorPages create their own Model if one is not provided, where-as Views do not. So you r

[2019-11-05 21:29] mkArtakMSFT commented on #16850
Closing this as a dupe of https://github.com/aspnet/AspNetCore/issues/16849

[2019-11-05 21:29] #16850 closed

[2019-11-05 21:29] #16852 closed

[2019-11-05 21:30] aaronhudon-ts commented on #16852
Problem between keyboard and chair.  Delete this issue if possible.

[2019-11-05 21:32] anurse commented on #16807
Can you provide a network trace? (If it's difficult to get one from the server side, you could try getting one from the client)

This generally indicates a malformed request from the client, possibly because the client disconnected while transmitting the body. Do you have a proxy or front-end in place (k8s ingress perhaps?)

[2019-11-05 21:35] jkotalik commented on #16805
@BillHiebert any ideas?

[2019-11-05 21:36] anurse commented on #16842
Are you accessing `HttpContext` from outside of the middleware pipeline (or an MVC controller action, etc.)? That's generally what causes this kind of issue.

Please provide a runnable sample application so we can get the full context on the issue.

[2019-11-05 21:40] anurse commented on #16822
In 3.1 TestServer should now throw if you try to request the `Length` property, to match the Kestrel behavior, as of #15591.

Closing as we don't intend to take further action here. The `Length` property of the request body stream is not intended to be supported (since in many cases it's not known). Read the `Content-Length` header directly if you need it.

[2019-11-05 21:40] #16822 closed

[2019-11-05 21:40] jkotalik commented on #12978
Need to add docs for this new feature 😄

[2019-11-05 21:45] khellang commented on #2590
I'm just getting more and more confused. I've tried to go back and read your posts multiple times, but it's very unclear what you're asking for (or even just talking about). Yes, I wrote my own middleware, it solves a bunch of people's issues. I thought it might help someone here as well. I don't know what you think I'm trying to accomplish here, but I'm out, sorry 🤷🏻‍♂️

[2019-11-05 21:48] javiercn commented on #16839
We don’t run your program.Main, the convention is to look for CreateHostBuilder as we need access to the host.

Our recommendation is that you don’t put any logic within the program main itself other than the calls present during project creation.

As an alternative add an additional test that doesn’t use WAF and that simply calls your program main to start the app and verify it works.

[2019-11-05 21:51] BillHiebert commented on #16805
This sounds like this issue [here](https://developercommunity.visualstudio.com/content/problem/699245/applicationhostconfig-not-remove-old-virtualdirect.html).
Can you close the solution  and then delete the .vs\solutionname\config\applicationhost.config file and then re-open the solution?

[2019-11-05 21:58] #12760 closed

[2019-11-05 22:11] Legends commented on #16805
Yes deleting the whole `.vs` folder works, didn't try to only the delete the `applicationhost.config` file.
But I see there is already an open issue.

[2019-11-05 22:11] #16805 closed

[2019-11-05 22:22] ChaosEngine commented on #16816
yes, but currently I'm more interested in proper build the project in docker container witn 3,0 sdk. But nevertheless her'es the cli win 10 repro:

[code]

BTW. I'm using polish pl-PL locale

[2019-11-05 22:30] mrpmorris commented on #14426
@SteveSandersonMS @danroth27 @pranavkm

I see this has been added to Blazor 3.1 -> https://github.com/aspnet/AspNetCore/blob/release/3.1/src/Components/Blazor/Validation/src/ObjectGraphDataAnnotationsValidator.cs

I feel it is just introducing a different problem, where we end up with two solutions and neither of them solve all three validation scenarios. I want to ensure you've seen my comments o

[2019-11-05 23:05] syndicatedshannon commented on #2590
@khellang No worries. Thank you for your contribution.

[2019-11-05 23:13] mkArtakMSFT opened #16858 "[WIP] Blazor WASM Roadmap"
This issue is a tracking issue for the big rock items we plan to deliver for the upcoming Blazor WASM release.
-

[2019-11-05 23:20] NTaylorMullen commented on #16816
If you do
[code]

at the command line does it build?

[2019-11-05 23:22] Nareshchintakunta commented on #6986
.net Core 2.1 app running Azure App service, Recently we started getting the following error,

Any suggestions how to solve this issue?

Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Reading the request body timed out due to data arriving too slowly. See MinRequestBodyDataRate.     at Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException.Throw(RequestRejectionReason

[2019-11-05 23:44] rmegal commented on #14443
I have the same problem. I was able to recreate it starting with "dotnet new webapi". I published this to IIS and was able to use it. I then run "dotnet add package Microsoft.EntityFrameworkCore.SqlServer" and publish this. Now I get: HTTP Error 500.31 - ANCM Failed to Find Native Dependencies.
[aspdotnet.zip](https://github.com/aspnet/AspNetCore/files/3811784/aspdotnet.zip)

[2019-11-05 23:44] jaska45 commented on #16854
This was my mistake. The namespace in 3.0 sample was incorrect. The localization works. You can close this.

[2019-11-05 23:48] anurse commented on #14735
I tried this again and can now repro it on a completely clean File > New Project for ASP.NET Core (the ASP.NET Core 3.0 Empty template, specifically).

I'm not sure why this is popping up now and seems to be hard to repro but the problem is pretty straightforward.

For whatever reason, VS launches iisexpress but only sets `LAUNCHER_PATH`, not `LAUNCHER_ARGS`. Possibly, this is because it doesn't n

[2019-11-05 23:49] mmitche opened #16859 "Generate a version metadata file which can be used by dotnet-install"
When the runtime or other components generates a stabilized build, it publishes to a non-stable directory, with an identical set of stable and suffixed asset names inside. This is so that dotnet-install, which makes an assumption that the version to install will match the asset name, will work properly.  Example:

[code]

We publish both so that we can push the final branded artifacts on release d

[2019-11-05 23:49] halter73 commented on #16730
Given the SSE transport (which the logs show you're using) and no modifications to HubConnection.serverTimeoutInMilliseconds, the SignalR JS client should always log a disconnected or reconnecting event whenever no messages are received in a 30 second interval. So even if the transport is buggy or slow to recognize the connection disconnecting, the client should still try to reconnect if it is con

[2019-11-05 23:51] mmitche commented on #16859
/cc @johnbeisner @dougbu

[2019-11-05 23:53] BrennanConroy commented on #16730
We technically do log the Ping when trace is enabled (via the transport logging bytes received), it doesn't look like trace logs were enabled here.

[2019-11-05 23:54] anurse commented on #15421
Seem to be running now.

[2019-11-05 23:54] #15421 closed

[2019-11-06 00:00] anurse commented on #16614
What version of Firefox are you on? If you aren't already, can you try this on Firefox 71? There was a similar looking bug (https://github.com/aspnet/AspNetCore/issues/14528) that turned out to be a Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1570222

If it's still not working on Firefox 71, can you provide a network trace using a tool like [Wireshark](https://www.wireshark.org/)? Th

[2019-11-06 00:01] muneebakhter commented on #10198
I'm having an issue with this also. Is there a quick way to enable caching client-side for the mono.wasm, blazor.webassembly.js and other framework files. It's taking almost 5 seconds to get interactive on a mobile browser hosting on firebase (tried Azure Blob storage but it doesnt give SSL certificate and CDN deploy like firebase).

[2019-11-06 00:02] rmegal commented on #14443
I discovered the problem goes away if I'm specific about the --framework. See the deploy.ps1 file in my previous attachment. I was running:

`&dotnet publish --output $targetdir --configuration release`

The problem goes away if I run this instead:

`&dotnet publish --output $targetdir --configuration release --framework netcoreapp3.0`

The output of dotnet --list-sdks is: `3.0.100 [C:\Program Fil

[2019-11-06 00:02] anurse commented on #14443
@rmegal please file a new issue as this error can have numerous causes. Include your repro app and steps to reproduce the problem.

@icesasoftcorp I believe what @ghosttie meant was that the project referenced other projects with spaces in the name.

[2019-11-06 00:09] sbuchok commented on #10198
I found this a little while ago and figured I could probably use this to do my cache busting.
https://remibou.github.io/Change-Blazor-DLL-extension-with-ASPNET-Core/

It looks like it's just renaming what is coming over, if that's the case, you could rename with
?v=SomeVersionNumberingThingy and then everytime you release, just have SomeVersionNumberingThingy point to something in a config file or

[2019-11-06 00:13] staa99 commented on #5621
It's still here in 16.3.1
Why isn't it fixed yet? this issue has been around for over a year.

[2019-11-06 00:25] aaronhudon-ts commented on #5579
These solutions are still problematic if you are depending on the `EditContext` notifying you of a change through the `OnFieldChangedEvent` as it does not get fired.

[2019-11-06 00:57] git-net opened #16860 "[Blazor] Server app The generated html tag is incorrect"
### Describe the bug
RenderMode.Server or RenderMode.ServerPrerendered
component .razor file use ‘@：’ ,
 generated html tag is incorrect .

### To Reproduce

[code]

expect  output:
[code]
but i got
[code]
the div tag closed early.
when i change rendermode to` RenderMode.Static `   or use code in .cshtml it work fine.

 ### Further technical details
- ASP.NET Core version 3.0.0
- Include the outpu

[2019-11-06 00:58] dougbu commented on #16859
To be clear, this is for 3.0.x and up, correct?

We already generate a number of *.version files e.g. files that get placed at known locations in blob storage. What exactly is missing and where should it be placed?

I think you (@mmitche) changed something not long ago to fix a similar issue. Please correct me if I'm wrong.

That name looks identical. What's the alternative?

[2019-11-06 00:59] git-net commented on #16860
.NET Core SDK（反映任何 global.json）:
 Version:   3.0.100
 Commit:    04339c3a26

运行时环境:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100\

Host (useful for support):
  Version: 3.0.0
  Commit:  7d57652f33

.NET Core SDKs installed:
  2.1.508 [C:\Program Files\dotnet\sdk]
  2.1.700 [C:\Program Files\dotnet\sdk

[2019-11-06 01:17] rpc-scandinavia commented on #16571
Sorry, I have been away from this.

I will try to take my code apart. I created this Fiddle using my real "ElementMatMenuButtons" component, and it works.

[https://blazorfiddle.com/s/pse4ew06](https://blazorfiddle.com/s/pse4ew06)

[2019-11-06 01:22] git-net commented on #16860
is some temporary solution？

[2019-11-06 02:07] MichaelLant commented on #15282
So, some progress...

I opend the Standalone version in VS 2019 Preview. Running it the first time caused my machien to Blue Screen. I restarted the machine and ran it with only VS running. This time it ran, but this is what is presented in the browser:

![image](https://user-images.githubusercontent.com/689502/68261634-bb4ab900-000e-11ea-9344-c3b0d136c031.png)

Pressing on the Reload button cause

[2019-11-06 02:58] Tratcher commented on #16855
Using CancellationTokens on the read operations is your best bet. Also, all of the servers have minimum data rate limits. Which server are you using?

[2019-11-06 03:12] Nareshchintakunta opened #16861 "Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Reading the request body timed out due to data arriving too slowly."
.net Core 2.1 app running Azure App service, Recently we started getting the following error,

Any suggestions how to solve this issue?

Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Reading the request body timed out due to data arriving too slowly. See MinRequestBodyDataRate. at Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException.Throw(RequestRejectionReason reas

[2019-11-06 03:48] RetsamSoft opened #16862 "When publish creates Identity folder in wwwroot"
Hello, sorry for my bad English, when I publish my project I create a folder called "Identity" in the wwwroot folder.
I use my own layout in /Areas/Identity/Pages/_ViewStart.cshtml

[code]

I don't want the "Identity" folder to be created automatically at wwwroot, thx.

-     .NET Core 3.0

[2019-11-06 04:59] RickStrahl commented on #16798
Giving this a little more thought what I would like to see is rather than adding individual assemblies, is be able to specify a folder where additional references live and then have the startup code load all the assemblies stored there. I'm doing this in the simplistic code right now, but there are a number of tricky issues there when dependencies can't be found or they are loaded out of order. It

[2019-11-06 06:04] newbienewbie commented on #16840
@javiercn   See https://github.com/newbienewbie/AspNetCore_Demo_16840

[2019-11-06 06:13] halter73 commented on #15144
This looks like a dupe of #4749 which is also backlogged pending more customer demand. We should probably close one of these.

[2019-11-06 07:46] Kahbazi opened #16864 "Remove user id from logs in order to comply GDPR"
### Is your feature request related to a problem? Please describe.
https://github.com/aspnet/AspNetCore/blob/81379147e69864bf841c2953b50bb0849ceb830e/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Login.cshtml.cs#L135
https://github.com/aspnet/AspNetCore/blob/81379147e69864bf841c2953b50bb0849ceb830e/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Login.cshtml.cs#L144
There's no user id fo

[2019-11-06 08:00] collina2019 opened #16865 "Angular authentication/authorization template customize issue"
After create an app with API authorization support as shown in doc  :

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.0

I add jwt bearer events to customize the logic :

    services.Configure<JwtBearerOptions>(
        IdentityServerJwtConstants.IdentityServerJwtBearerScheme,
        options =>
        {
            options.Event

[2019-11-06 08:56] ChaosEngine commented on #16816
Clean repro: in docker container mcr.microsoft.com/dotnet/core/sdk:3.0-buster with dotnet new razorclasslib: **builds**
in stable VS 2019 16.3.7 htowu new project rcl: **builds**

[2019-11-06 08:56] skoruba opened #16866 "UserManager throws exception - Unable to track an entity because primary key property 'Id' is null."
### Describe the bug
I've used the implementation of User and Role which are derivated from `IdentityUser`, `IdentityRole`.

If I call the method:
[code]
I get the error:
[code]
It works perfectly with version of `Microsoft.AspNetCore.Identity.EntityFrameworkCore` - 2.2.0, but after upgrading to 3.0.0 - it doesn't work.

### Further technical details
- ASP.NET Core 3.0.0
- Microsoft.AspNetCore.Ide

[2019-11-06 09:03] MarcusKohnert commented on #16662
@anurse I've enabled stdoutLog. Log-Files are created but they do not contain any text. 😑

How is it possible that the app crashes on startup in OutOfProcesssMode only? I thought ANCM 'only' calls the app but does not influence the startup process of the app itself.

Another hint maybe: we use Windows Authentication and Anonymous Authentication is disabled.

[2019-11-06 09:09] mc0re commented on #8467
I get the same exception when using InMemory database.

[2019-11-06 09:33] javiercn commented on #16865
@collina2019 thanks for contacting us.

@Tratcher any ideas?

[2019-11-06 09:38] ScarlettCode commented on #14543
I'm hitting the same problem. Using Prism with DryIoc. @davidfowl what am I looking for in msbuildlog exactly?

[2019-11-06 09:47] MortenMeisler opened #16867 "razor page not updating after property from DI Service is changed."
### Describe the bug
 razor page not updating after property from DI Service is changed.

### To Reproduce
Ok consider the following example:

Create a new Blazor WebAssemply project from template, then add the following:

`books.razor`
[code]
`BookService.cs`
[code]

`Startup.cs`
[code]
`NavMenu.razor`
[code]
What happens:
[https://i.stack.imgur.com/q68NV.gif](https://i.stack.imgur.com/q68NV.gif)

[2019-11-06 10:02] javiercn commented on #16839
I'm closing this issue as the question has been answered.

[2019-11-06 10:02] #16839 closed

[2019-11-06 10:10] javiercn commented on #5579
We don't have an InputRadio component itself that works with forms.

This is something that could be built, but I suggest filing a separate issue to track it elsewhere instead of here.

[2019-11-06 10:21] jeanpoelie commented on #16866
I ran into this issue when I migrated from 2.2 to 3.0 as well.
I believe I solved it by adding
[code]

To the Startup.cs where it only had 'AddIdentity' before.
I had to explicitly mention all derived classes.

I also had to add the Managers to the Transient.
[code]

[2019-11-06 10:26] javiercn commented on #15282
I'm not even sure how this is possible, but I think its very likely to be completely unrelated to blazor.

I'm surprised by what you described. I don't know what series of installs/updates your machine has gone through to be in such state. I can't even think where things could have gone wrong.

As I said, this is very surprising to me as I have installed 5 different VS versions on my box and I hav

[2019-11-06 10:37] valeriob commented on #16637
hi @blowdart could you give some feedback to my analysis and if it will be fixed ?
I've looked into blob storage, but the sas token is a pain, i'd rather not complicate things more  :D
Thanks

[2019-11-06 10:51] cirocorvino opened #16868 "UserManager.ResetPasswordAsync(...) returns "Invalid Token" error on password validation errors"
As title states, UserManager.ResetPasswordAsync(...) methods returns "Invalid Token" error on password validation errors.

If password respects validation policies, operation is successful (and so the token is valid...), but otherwise it returns invalid token error.

### Further technical details
- ASP.NET Core version: 2.1
- The IDE is VS 2017

[2019-11-06 11:18] aidbal commented on #14396
Hey guys, as 3.1-preview2 is out, the same issue still occurs. I have enabled httpContext.Request.EnableBuffering(), but I still get "Cannot access a disposed object". Are there more pending changes that are not released yet?

[2019-11-06 11:53] skoruba commented on #16866
Thanks for your tip, but I'm not sure what caused this issue. I get same exception during testing with following UserManager - https://github.com/aspnet/AspNetCore/blob/c95ee2b051814b787b07f55ff224d03d550aafeb/src/Identity/test/Shared/MockHelpers.cs#L37

Something has changed, but I don't know - what exactly. Any idea?

[2019-11-06 11:55] adrianwright109 commented on #16860
This might be the same issue as #16809

Try capturing a local variable inside the for loop for `i`
e.g.
`var localVar = i;`

Then replace all instances of `i` inside the loop with `localVar`

[2019-11-06 12:08] pranavkm commented on #16798
I hadn't noticed your most recent comment before I created this PR - https://github.com/RickStrahl/Westwind.AspnetCore.LiveReload/pull/18 - but using an `ApplicationPart` gets you all the way, adding it both as a runtime and compile time component and additionally setting it up so MVC will perform, among other things, controller discovery on additional references.

The framework has a pattern usin

[2019-11-06 12:15] pranavkm commented on #14396
@aidbal would you mind starting a new issue for this so we can track it correctly?

[2019-11-06 12:18] MortenMeisler commented on #16867
Ok missed that you needed some statechange event, would think this was default and not something you had to "opt into", but ok :)
https://stackoverflow.com/questions/58726847/blazor-razor-page-not-updating-after-property-from-di-service-is-changed/58728479#58728479

[2019-11-06 12:18] #16867 closed

[2019-11-06 12:34] diego81b opened #16869 "version incompatibility"
Hi,
after updating version Microsoft.AspNetCore.All from 2.2.6 to 2.2.7 I noticed that efcore is still using version 2.2.6.
Even looking at the EFMigrationsHistory table, the ProductVersion column shows: 2.2.6-servicing-10079

is it that possible ?

best regards
Diego

[2019-11-06 12:43] azizkazdal commented on #14543
@ScarlettCode Firstly I check all project reference which referenced older version of signalr and found one. So delete it and application worked fine.

[2019-11-06 12:44] javiercn commented on #16849
@roysurles Are you setting up the base path correctly in your app?

add `app.UseBasePath("your virtual folder")` and make sure you have set the base url for the document appropriately using the `base` tag.

[2019-11-06 12:45] javiercn commented on #16849
See https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/index?view=aspnetcore-3.0&tabs=visual-studio#app-base-path for more details.

[2019-11-06 12:48] javiercn commented on #16869
@diego81b thanks for contacting us.

@anurse Any ideas? Can you route this appropriately?

[2019-11-06 12:49] javiercn commented on #16744
We're closing this issue as we haven't seen community involvement and we need more information to reproduce the problem. If you have more details about the issue add a reply here with the new information and we'll re-evaluate the issue.

[2019-11-06 12:49] #16744 closed

[2019-11-06 12:50] willdean opened #16870 "Blazor custom-reconnect docs do not appear to match actual behaviour"
### Describe the bug
The doc page https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.0
contains a description of adding a `#components-reconnect-modal` element, and the way in which the framework will embellish the element with various state-dependent classes.  This includes
[code]
It doesn't appear that this class actually is added in normal operation.

### To Re

[2019-11-06 12:57] jeanpoelie commented on #16866
Hmm, I have no idea what exactly changed, I remember I had the issue 2-3 weeks ago but can't find exactly why and how I managed to fix it.
Is it possible for you to make a small testable repo?

[2019-11-06 13:20] #15282 closed

[2019-11-06 13:33] mahabirsingh-kis commented on #16730
Hello

Let me explain. I have an application developed in .net core 3.0 and react Js hosted in IIS. I am using SignalR to show any changes in any table column in the sql database to the front end. When I do IISReset, the application works perfectly in the beginning but whenever it fails at the sql end or there is any connection timeout, the changes in the database via signal R stops showing until

[2019-11-06 13:39] MichaelLant commented on #15282
I was very surprised to see the blue screen as well. I have a very stable high end Dell laptop with 32GB of memory. I used it 60+ hours per week and I have never once had it blue screen on me other than sometimes when waking up from Sleep or Hibernate. That problem seems to be an ongoing cat and mouse game between Microsoft and Dell where sometimes new OS updates from MS introduce the behaviour an

[2019-11-06 13:53] aidbal opened #16871 "EnableBuffering not working on 3.1 preview 2"
As a reference to #14396, I have upgraded our project to 3.0. I still get Cannot access a closed stream exception. Everything works as expected with 2.2 .net core.

Startup.cs
[code]

The middleware in which exception occurs
[code]
The exception being thrown
[code]

### Further technical details
- ASP.NET Core version -  3.1.100-preview2-014569
- Output of `dotnet --info`
[code]

[2019-11-06 14:09] blowdart commented on #10299
Oh wait, it's the file creation that fails? That does feel a little weird. The file should get created when a key is first generated. OK this is odd. @HaoK we can chat about this at triage today.

[2019-11-06 14:11] blowdart commented on #16637
That's weird. Let me loop in someone from azure web apps. I'd still recommend blob storage though, it works with slot swaps, whereas the shared directory does not.

[2019-11-06 14:14] yepeekai commented on #6609
3.0 is out and we updated to it and it works.

[2019-11-06 14:14] #6609 closed

[2019-11-06 14:16] roysurles commented on #16849
Good morning...

Yes, followed documentation.

In Pages\_Host.cshtml changed base tag to <base href="/BlazorServerApp/"> to match the subsite in IIS

Also added app.UsePathBase("/BlazorServerApp"); in Statup.cs.Configure(IApplicationBuilder app, IWebHostEnvironment env)

Running on web server, links, navigation & routing do not work... in addition button click handlers do not work either.

Again,

[2019-11-06 14:23] javiercn commented on #16849
@roysurles Can you crank up login to debug so that we can see what's happening in your environment?

[2019-11-06 14:25] javiercn commented on #16849
Add this to your _Host.cshtml
[code]

Replace the logging section with this in your appSettings.json
[code]

Collect the logs from the browser and the server and see if you can spot the issue or paste the details from the logs here.

[2019-11-06 14:44] mkArtakMSFT commented on #16870
Thanks for contacting us, @willdean.
@javiercn did we forget to add this, or things change and the docs need to be updated?

[2019-11-06 14:54] javiercn commented on #16870
@mkArtakMSFT You beated me :).

I think this might just need a doc update? If you add your own its likely you need to place components-reconnect-hide in the component as a starting point.

I think that the moment you use a custom display you need to handle 3 cases.
* Initial: components-reconnect-modal.
* During reconnection: components-reconnect-modal components-reconnect-show
* After successful

[2019-11-06 14:55] #16870 closed

[2019-11-06 14:59] pranavkm commented on #16871
@aidbal any chance you could provide a minimal repro for this issue? https://github.com/aspnet/AspNetCore/issues/14396 was about attempting to read the Request body after MVC had processed JSON content. This one looks different - it looks like something's disposed the request stream before it gets to MVC.

[2019-11-06 14:59] mmitche commented on #16859
@dougbu Yeah,3.0 and above.

I originally had another solution in here.

The current aspnetcore versions are the right form (contain actual product versions), but we will should probably name these these consistently across components so that dotnet-install does not need to special case the file name for each component,

[2019-11-06 15:03] pranavkm commented on #16772
Yup, that sounds about right. The pattern works pretty well when the page and the partial share the same model type, it allows accessing both `ViewData` and the model instance without having to do any additional work. This might be one of the few places where the behavior is a bit rough, but it's working as intended.

[2019-11-06 15:03] #16772 closed

[2019-11-06 15:09] ScarlettCode commented on #14543
@azizkazdal this is the first time I'm adding signalr to the solution so don't think it's that

[2019-11-06 15:10] willdean commented on #16870
`.components-reconnect-modal`
should be
`#components-reconnect-modal'

It's an ID - the states are indicated by classes.

[2019-11-06 15:14] javiercn commented on #16860
@git-net thanks for contacting us.

@adrian109 I don't think it's the for loop. Here is the generated code
[code]

[2019-11-06 15:19] mrtristan commented on #16614
@anurse
for whatever it's worth, i received an update to the developer edition of FF since this issue was opened. Dev edition now works fine, but regular FF reports `MOZILLA_PKIX_ERROR_SELF_SIGNED_CERT`

latest dev edition is 71.0b7, latest regular FF is 70.0.1

i'd be fine closing this and saying FF is moving in the right direction, but if you'd like data on the standard FF version i'd be happy t

[2019-11-06 15:22] javiercn commented on #16870
Thanks, it was an oversight on my part. I've updated the rule.

[2019-11-06 15:32] aidbal commented on #16871
Sure, I'll try to make one.

[2019-11-06 15:40] ileve opened #16872 "AttributeRoute internal class is not accessible in asp.net core 3.0"
I need to use the `AttributeRoute` class in some asp.net core 3.0 unit tests, but it is not possible because the latest version of nuget package `microsoft.aspnetcore.mvc.core` is less than 3.0. I tried to use `3.0.0-preview4-19123-01` from [here](https://dotnet.myget.org/feed/aspnetcore-dev/package/nuget/Microsoft.AspNetCore.Mvc.Core), but it didn't work either. Is there any other way ?

[2019-11-06 16:08] Tratcher commented on #16861
It looks like you're experiencing a bandwidth or client issue. Are you able to investigate this from the client side?

[2019-11-06 16:11] Tratcher commented on #4749
Closing as a duplicate of #15144 since that one actually represents a customer.

[2019-11-06 16:11] #4749 closed

[2019-11-06 16:11] Tratcher commented on #15144
I closed the other one since this one is from a customer.

[2019-11-06 16:14] BrennanConroy commented on #14543
@ScarlettCode please open a new issue with details about your scenario and the errors/issues you're hitting.

[2019-11-06 16:26] heku commented on #16772
It make sence, thank you for your clarification.

[2019-11-06 16:41] roysurles commented on #16849
Increased logging as suggested above... the button click handlers started working and NavigationManager is working correctly now.  But the NavLink(s) are still referencing the root main site instead of the Blazor app.

I don't see anything in the IE debugger that pops out at me.

This may need to be a separate issue, but loading the blazor app in IE from the on premise IIS web server, the SignalR

[2019-11-06 16:43] skynet2 commented on #15011
Hi @Tratcher ,
That's how you can specify environment variables in systemd service definition.
Example configuration is
[code]
The issue is that starting from NetCore 3.0 ASPNETCORE_URLS under linux are not picked up atumatically, and webservice always tries to start under localhost:5000
I have the same issue. Exactly same configuration, but for 2.1 works good.

Thanks,
Stas

[2019-11-06 16:46] skoruba commented on #16866
This exception is probable connected with this breaking change: https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#string-and-byte-array-keys-are-not-client-generated-by-default
- I fix this issue on mapping part via Automapper like this:
[code]
If `Id` on UserDto is `null`, then I use default value from `UserIdentity` - which is automatically generated `Guid`.

[2019-11-06 16:50] skynet2 commented on #15011
Update. Using NetCore 3.0
Don't pickup ASPNETCORE_URLS :
[code]
Works
[code]

[2019-11-06 16:53] brendonparker commented on #9202
This was helpful. However, even after I added `.CaptureStartupErrors(false)` my app was still getting permanently stuck with a `HTTP Error 500.30 - ANCM In-Process Start Failure` page.

In my case there are some global config files that our app references that aren't there in the image when its starting up, but are put in place further on in the server provisioning process.

My solution was just t

[2019-11-06 16:58] Tratcher commented on #15011
That's interesting because the config is handled similarly between them.

First we need to confirm if the environment variables were never picked up or if they were overwritten by something else. Try this:
[code]
You should get both "URLS" and "ASPNETCORE_URLS" with the same value. Similarly for ENVIRONMENT.

[2019-11-06 17:02] mkArtakMSFT commented on #16849
Thank you for filing this issue. In order for us to investigate this issue further, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-11-06 17:03] skynet2 commented on #15011
Hi @Tratcher ,

I can reproduce that locally on my dev environment (Ubuntu 19)

![image](https://user-images.githubusercontent.com/3065048/68320108-0aa0f000-00c8-11ea-8c44-ea77b9684138.png)
But apphost still runs on localhost:5000

[2019-11-06 17:06] skynet2 commented on #15011
I`ve also checked. I don't have any variables like "urls".
![image](https://user-images.githubusercontent.com/3065048/68320396-8dc24600-00c8-11ea-8f92-6dd73cee9d90.png)

[2019-11-06 17:07] mkArtakMSFT commented on #16860
Thanks for contacting us, @git-net.
`@: ` is not a supported markup in Blazor.
@NTaylorMullen can we make sure we throw a reasonable error for this situation?

[2019-11-06 17:08] #16860 closed

[2019-11-06 17:09] mkArtakMSFT commented on #16860
Looks like the dupe is #11612

[2019-11-06 17:12] mkArtakMSFT commented on #16872
Thanks for contacting us, @ileve.
We've changed a lot of pub-ternal types to internal per https://github.com/aspnet/Announcements/issues/326.
//cc @rynowak

[2019-11-06 17:12] #16872 closed

[2019-11-06 17:13] #16854 closed

[2019-11-06 17:17] Tratcher commented on #15011
If "ASPNETCORE_URLS" isn't being trimmed to "URLS" then your config setup has been replaced. Are you building a config in Startup?

(Text, not screen shots please).

[2019-11-06 17:21] bradygaster commented on #12115
Which .NET Core version are you trying? Would you be willing to share your code?

[2019-11-06 17:24] anurse commented on #16614
It sounds like it's the Firefox bug then. I'll close this. If this reoccurs after the Firefox 71 update, let us know and we can revisit!

[2019-11-06 17:24] #16614 closed

[2019-11-06 17:26] JennyLawrance commented on #16637
Taking a look.

[2019-11-06 17:27] skynet2 commented on #15011
Hi @Tratcher ,
Yep, i have logic which builds IConfiguration from IConfigurationBuilder in my startup pipeline.

Thanks,
Stas

[2019-11-06 17:30] Tratcher commented on #15011
And then puts it into DI? That would explain the issue, you're replacing the host config. One change from 2.x to 3.0 is that the host resolves IConfiguration from DI. The recommendation if you want to modify config is to do it in Program.CreateHostBuilder by calling ConfigureAppConfiguration. That appends to the default config rather than replacing it.

[2019-11-06 17:32] anurse commented on #16869
This is expected. We don't ship a new version of *every package*. EF Core didn't take any fixes in 2.2.7 so it's still at version 2.2.6.

[2019-11-06 17:32] #16869 closed

[2019-11-06 17:34] mkArtakMSFT commented on #15050
We're closing this issue as we plan to reimplement publishing for Blazor WASM.

[2019-11-06 17:34] #15050 closed

[2019-11-06 17:34] rynowak commented on #9960
It depends which public APIs there are. I think the renderer is declared as unstable.

[2019-11-06 17:37] anurse commented on #16662
There are all kinds of reasons an app can crash and InProcess and OutOfProcess do launch the app slightly differently. Is it possible for you to share an app that reproduces the issue?

Some other debugging thoughts:

* Enable the ANCM [debug log](https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.0#aspnet-core-module-debug-log-iis) to get even more logging

[2019-11-06 17:38] mkArtakMSFT commented on #14707
This issue was moved to mono/mono#17735

[2019-11-06 17:38] #14707 closed

[2019-11-06 17:39] anurse opened #16873 "Possible Sockets regression causing server test flakiness"
We're getting quite a bit of flakiness in server tests. We suspect a regression in Sockets because we haven't changed code here, other than accepting a new runtime.

@halter73 @BrennanConroy we can use this issue to track/monitor work on investigating this.

[2019-11-06 17:43] skynet2 commented on #15011
Yes, then i put it to DI.

[code]
Thanks, i will check ConfigureAppConfiguration

[2019-11-06 17:46] mkArtakMSFT opened #16874 "Review Startup APIs for Blazor WASM"
## Goals

- Reduce complexity/ceremony of startup/main code for Blazor WASM
- Address gaps in current scenarios (no way to get services before UI is shown)
- **non-goal** symmetry or consistency with server-side ASP.NET Core

## Sample Code

*These are some focused samples with my proposed implementation choice. There's another section with alternatives and why I didn't choose them. I think there

[2019-11-06 17:47] mkArtakMSFT commented on #13694
We're going to handle this as part of https://github.com/aspnet/AspNetCore/issues/16874

[2019-11-06 17:47] #13694 closed

[2019-11-06 17:47] mkArtakMSFT commented on #16874
We should make sure https://github.com/aspnet/AspNetCore/issues/13694 is considered for `Startup API` review part.

[2019-11-06 17:48] Tratcher commented on #16865
OnTokenValidated is only going to run after a successful authentication. Something in your auth configuration is not setup correctly so you get `error_description="The signature key was not found"` instead.

Does it work if you remove that entire `services.Configure<JwtBearerOptions>` code block? I don't expect so, but it's worth confirming.

Enable the application logs and see if they have more d

[2019-11-06 17:49] mkArtakMSFT commented on #13489
This is now in PR: https://github.com/aspnet/AspNetCore/pull/16808

[2019-11-06 17:49] #13489 closed

[2019-11-06 17:50] ScarlettCode opened #16875 "SignalR 3.0 and Xamarin Forms"
### Describe the bug

After adding Signal R and then launching the app, after the splash screen loads this error gets thrown.

System.TypeLoadException
  Message=Could not load type of field 'Microsoft.AspNetCore.Http.Features.Authentication.HttpAuthenticationFeature:<Handler>k__BackingField' (1) due to: Could not resolve type with token 0100007c from typeref (expected class 'Microsoft.AspNetCore.

[2019-11-06 17:50] mkArtakMSFT commented on #13449
This is already resolved.

[2019-11-06 17:50] #13449 closed

[2019-11-06 17:50] anurse commented on #12115
@jcmontx I'd suggest opening a new issue rather than attaching to this existing one. This issue is for Blazor usage and you're referencing an MVC app using SignalR. The root cause may end up being the same, but it's easier to diagnose that if we're looking at these separately. Adding in the details @bradygaster asked for in the new issue would help :).

[2019-11-06 17:54] jcmontx commented on #12115
@bradygaster I was using ASP.NET Core 2.0 BUT on top of .NET Core 2.2.

@anurse yes, I know. It was not my intention to detract from the main issue.

[2019-11-06 17:55] mkArtakMSFT commented on #13348
Closing this as we have a separate issue tracking this.

[2019-11-06 17:55] #13348 closed

[2019-11-06 17:55] SteveSandersonMS commented on #13353
There are now existing OSS libraries for handling large uploads, so hopefully your requirement should be covered :) Example: https://blog.stevensanderson.com/2019/09/13/blazor-inputfile/

[2019-11-06 17:55] #13353 closed

[2019-11-06 17:56] johnnyoshika commented on #12890
Thanks everyone! I'm currently in the process of extracting NodeServices from AspNetCore and cleaning things up. Once the dust has settled, I'll circle back the this group. So far these people have expressed interest in helping:

@GGAlanSmithee
@rui-ktei
@PhotoAtomic
@InvincibleDRT
@Grandizer

[2019-11-06 17:56] mkArtakMSFT commented on #13247
@pranavkm is there anything left to be done here>?

[2019-11-06 17:56] bradygaster commented on #12115
Appreciate that, @jcmontx - could you open a new issue? We'll triage that one independently as @anurse pointed out.

[2019-11-06 18:00] mkArtakMSFT commented on #13166
After reviewing this issue it doesn't seem that there is any action pending here for us. If you're using a software  which blocks processing these requests you should follow-up with their owners.

[2019-11-06 18:00] #13166 closed

[2019-11-06 18:01] mkArtakMSFT commented on #13052
Thanks for contacting us. This is going to be covered as part of a separate package. There is no pending work for us here.

[2019-11-06 18:01] #13052 closed

[2019-11-06 18:05] mkArtakMSFT commented on #12580
We're going to change a lot of things in this area, which will eliminate this issue. Closing as the relevant work is already tracked.

[2019-11-06 18:05] #12580 closed

[2019-11-06 18:07] mkArtakMSFT commented on #12349
There are multiple issues which we plan to work on, which will eliminate this issue. One is the HttpClient work, where we will switch to using the Mono-provided HttpClient, and the second is the API Review for the Blazor WASM startup experience.

[2019-11-06 18:07] #12349 closed

[2019-11-06 18:17] halter73 commented on #16730
Why do you think that this is a problem with SignalR? The client reports successfully receiving data throughout the log which makes me think the problem is somewhere else. How do you know that SQL change notifications are still firing? Do you need to reconnect your SQL client?

Or could this be the problem? Are you missing calls to "send"?

[2019-11-06 18:24] javiercn commented on #16862
@RetsamSoft thanks for contacting us.

This is already possible if you modify the list of static web assets.

[code]

[2019-11-06 18:25] pranavkm commented on #16872
@ileve, constructing the attribute route in a unit test sounds like testing the behavior of the framework. For scenarios like this, you would be much more successful authoring integration tests - https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.0

[2019-11-06 18:41] stephentoub opened #16876 "Potential ValueTask-related issues in Kestrel"
I haven't fully investigated all of these, just enough to see that there might be an issue to be followed up on...

1) Ignored results:

https://github.com/aspnet/AspNetCore/blob/6a6deb298c8b3385213174dd023a45f6a309da5f/src/Servers/Kestrel/Core/src/Internal/Http2/FlowControl/StreamInputFlowControl.cs#L55

https://github.com/aspnet/AspNetCore/blob/6a6deb298c8b3385213174dd023a45f6a309da5f/src/Server

[2019-11-06 18:44] pheuter commented on #16823
This current discrepancy between local dev and prod is affecting the deployment of our application. Is there a reasonable workaround you can suggest, ideally with some code example that applies to this particular case?

I'm using [Microsoft auth](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/microsoft-logins?view=aspnetcore-3.0) which automatically handles setting the

[2019-11-06 18:46] anurse commented on #16873
Or maybe [thread-pool starvation](https://github.com/aspnet/AspNetCore/pull/16853#issuecomment-550440127)?

Either way we need to investigate and mitigate these failures.

[2019-11-06 19:13] jsauve commented on #8847
Ran into this myself today. Passed a null to `Ok()`, and it returned a 204. I mean, I get it, but could the XML Intellisense docs please be updated to make this clear??

I  wound up just putting a method in my base controller to deal with it:
[code]

[2019-11-06 19:14] nxtx commented on #16839
Thanks for the clarification.

[2019-11-06 19:15] GrabYourPitchforks commented on #16876
The "ignored result" presumably should be easy enough to catch via an analyzer. Would an analyzer have caught the other potential misuses? Should we see this as a forcing function for us to write such an analyzer?

[2019-11-06 19:16] stephentoub commented on #16876
These are all from an analyzer ;)
https://github.com/dotnet/roslyn-analyzers/pull/3001

[2019-11-06 19:36] RickStrahl commented on #16798
Yeah as I mentioned most of this is an edge case scenario. The ApplicationParts bit makes it even more relevant to preload the assemblies, because it's explicitly meant to bring in additional content and it looks like even with that you still need to load the assembly explicitly if you want to access it (which seems weird - wouldn't the framework probe for the Application Part interfaces it looks

[2019-11-06 19:36] #16798 closed

[2019-11-06 19:40] #14727 closed

[2019-11-06 19:46] blowdart commented on #16864
You appear to be saying two things here.

We don't put potential PII in logs due to GDPR concerns. If you want to log user ids you need to change the log statements yourself.

While I can see why you'd want a user there, a user isn't the result of a sign-in, especially one that fails, or requires a second factor, so the api wouldn't be changing.

[2019-11-06 19:58] anna-git commented on #11635
Same here, even with tag helpers like "asp-action=""".
Seems like ambient values from model are being ignored

[2019-11-06 20:20] blowdart commented on #16866
@ajcvickers

[2019-11-06 20:24] Kahbazi commented on #16864
The user id is being logged in `LoginWith2fa` page and I thought it's missing in the `Login` page.
https://github.com/aspnet/AspNetCore/blob/6a6deb298c8b3385213174dd023a45f6a309da5f/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/LoginWith2fa.cshtml.cs#L133
https://github.com/aspnet/AspNetCore/blob/6a6deb298c8b3385213174dd023a45f6a309da5f/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/Log

[2019-11-06 20:25] blowdart commented on #16864
We'll get rid of those there, thanks!

[2019-11-06 20:27] blowdart commented on #16775
What have you migrated from?
Where are you trying to customise the model?

[2019-11-06 20:29] blowdart commented on #15168
We don't really expect users to use the store directly, we expect the managers to use it.

@HaoK to look at the PR

[2019-11-06 20:37] malballah commented on #16775
I have migrated from asp.net core 2.2
I am customizing the model in the OnModelCreating event after base.OnModelCreating(builder);

protected override void OnModelCreating(ModelBuilder builder)
		{
			base.OnModelCreating(builder);

            //register models from other modules
            var moduleRegistrars = _httpContextAccessor.HttpContext.RequestServices.GetServices<IModuleRegistrar>();

[2019-11-06 20:44] Kahbazi commented on #16864
Are you accepting PR for this?

[2019-11-06 20:45] chandimar001 commented on #16855
We are using HttpSys 2.1.

By using CancellationTokens on the read operation, do you mean implementing it in the middleware like we do in the old service? Here is the code snippet we use the in the old service middleware.

[code]

[2019-11-06 20:48] Tratcher commented on #16855
No, the CancellationToken should be passed directly to the Stream.ReadAsync calls.

[2019-11-06 20:57] mrpmorris commented on #15437
@mkArtakMSFT I might have a go at this, but I have a few questions

1: Would it also be okay if I changed the method names so they are DotNet themed rather than C# themed?

For example `TryConvertToNullableLong` should be `TryConvertToNullableInt64`
https://github.com/aspnet/AspNetCore/blob/c74e9efd0e6ea5b4d6737d23b92042772a50a249/src/Components/Components/src/BindConverter.cs#L594

2: Same for th

[2019-11-06 21:04] Tratcher commented on #15243
Update: This behavior is being modified in 3.0.1 and 3.1.0-preview3 to reverse the behavior changes in 2.x. These changes only affect IIS out-of-process applications.

As detailed above, installing 3.0.0 had the side effect of also activating the UseHttpsRedirection middleware in 2.x applications. A change is being made to AspNetCoreModule in 3.0.1 and 3.1.0-preview3 such that installing them will

[2019-11-06 21:08] rynowak commented on #8847
We should fix this. It's bad if we're not honouring user expectations in this case.

[2019-11-06 21:43] #16582 closed

[2019-11-06 21:44] jsauve commented on #8847
I think a part of the consideration is how one designs their controller methods. I tend to:

- Keep all my controllers very light by consuming injected services that do the heavy lifting.
- Always have a try-catch block in each controller method.
- The catch calls a method in my base controller that handles all the exceptions from the service layer and returns an appropriate result type based on w

[2019-11-06 21:54] DanFTRX commented on #15168
@blowdart I suppose the correct pattern for my extra UserStore functionality is an additional interface, TBH, it had been quite a while since I wrote my user store, and I had just noticed in my pipeline setup I was forwarding the service and thought it was odd.  I could accept not auto-forwarding the service, althought I see no real reason not to do it either.  However I would still say the strict

[2019-11-06 21:55] WhiteKarma commented on #16785
Thank you all very much,

I am using aspnet core since 2015 integrating with long time existing joomla website. This issue here came as an option, to solve breaking changes after several upgrades on the other side of the integration.

We solved it without needing to go on this direction. So all is well and now much much faster using aspnet core 3 improvements ( including precompiled deployment ) a

[2019-11-06 22:02] Narnain commented on #15144
At the moment it is possible to configure SSL in kestrel via config.

"Kestrel": {
    "Limits": {
      "MaxConcurrentConnections": 100,
      "MaxConcurrentUpgradedConnections": 100
    },
    "DisableStringReuse": true,
    "Endpoints": {
      "Http": {
        "Url": "http://localhost:5000"
      }
      "HttpsInlineCertStoreLocaltest": {
        "Url": "https://*.localtest.me:5001",

[2019-11-06 22:02] blowdart commented on #15168
Yup Hao will look at the PR as a starting point for 5.0

[2019-11-06 22:07] Tratcher commented on #15144
That doesn't look quite right, did you copy too many lines?

[2019-11-06 22:10] kdawg1406 commented on #15437
@mrpmorris if you submit a PR, can you also fix Decimal?  I think that would be a breaking change if you changed to .NET Names.  I prefer .NET Name, but this would be a breaking change to the public API.

[2019-11-06 22:16] Narnain commented on #15144
The desired config should read as

- Allow Http for localhost on port 5000
- Allow Https for localhost with cert in My/LocalMachine on port 5001
- Allow Https for *.localtest.me with cert in My/LocalMachine on port 5001

[2019-11-06 22:20] mkArtakMSFT commented on #13785
Closing this as there are no more actions pending here.

[2019-11-06 22:20] #13785 closed

[2019-11-06 22:21] ts46235 opened #16880 "Inconsistency between ApiBehaviorOptions.ClientErrorMapping and ReasonPhrases.GetReasonPhrase() using 500"
Asp.net Core 3.0
Windows 10
vs 2019 16.3.7

There was a new 500 status code added to ClientErrorMapping as seen at https://github.com/aspnet/AspNetCore/blob/2e4274cb67c049055e321c18cc9e64562da52dcf/src/Mvc/Mvc.Core/src/DependencyInjection/ApiBehaviorOptionsSetup.cs

[code]

The resource file was updated on Aug 5 to include the new `ApiConventions_Title_500`:
https://github.com/aspnet/AspNetCore/co

[2019-11-06 22:25] anurse commented on #10597
Yep, we're doing the API review process. Closing this.

[2019-11-06 22:25] #10597 closed

[2019-11-06 22:35] mrpmorris commented on #15437
Fix decimal? What's wrong with it?

[2019-11-06 22:48] collina2019 commented on #16865
if I remove that entire services.Configure<JwtBearerOptions> code block, it works . I didn’t change anything from default authentication template. Just add the event

[2019-11-06 22:57] Tratcher commented on #15144
Ah, I didn't notice the difference between the urls on those two examples.

That url field is used to create the socket, not as part of certificate negotiation. I picture something more like this:
[code]

[2019-11-06 23:23] Tratcher commented on #16865
Ah, I see the issue.
https://github.com/aspnet/AspNetCore/blob/4e44025a52e4b73aa17e09a8041b0e166e0c5ce0/src/Identity/ApiAuthorization.IdentityServer/src/Authentication/IdentityServerJwtBearerOptionsConfiguration.cs#L44
AddIdentityServerJwt is using events to get the keys, but you're replacing the events handler. It should work if you modify the existing Events object rather than creating a new one

[2019-11-07 00:04] rynowak commented on #14089
This would require us adding a new API - I think we'd ultimately do what's being suggested in the issue. It should be fairly easy to do.

[2019-11-07 00:16] collina2019 commented on #16865
How may I use the exist event? Any code sample?

[2019-11-07 00:18] Tratcher commented on #16865
Just like AddIdentityServerJwt does. https://github.com/aspnet/AspNetCore/blob/4e44025a52e4b73aa17e09a8041b0e166e0c5ce0/src/Identity/ApiAuthorization.IdentityServer/src/Authentication/IdentityServerJwtBearerOptionsConfiguration.cs#L43-L44

[2019-11-07 00:19] collina2019 commented on #16865
Ok , I will try it and let you know

[2019-11-07 00:27] git-net commented on #16860
not #16809
seems because rendertreebuilder dont support open tag.
i try use addmarkupcontent (0,'<div>'), it auto closed,and '</div>' ignored.
so problem is razor has a different behavior with cshtml , i have some code need migration.
now i use i++ in loop and add some duplicate code。

[2019-11-07 00:28] JunTaoLuo commented on #14378
I've verified that the 3.0.1 build's ref pack now contains assemblies with the expected typeforwardedto attributes.

[2019-11-07 00:28] #14378 closed

[2019-11-07 00:37] git-net commented on #16860
when i open browser  i just see 3 messages.:)
now i know i will refactoring old code ,not only ctrl c,v.

[2019-11-07 00:50] git-net commented on #11612
It is theoretically correct。but when we port our old code，the same razor  code ，different。

[2019-11-07 00:59] kdawg1406 commented on #15437
@mrpmorris If you create a new Blazor app and try to Bind to a Decimal property, it fails.  That failure is tied to this class.

[2019-11-07 01:09] NoahStahl commented on #13938
Should anyone else stumble on this, there is[ this documentation ](https://docs.microsoft.com/en-us/aspnet/core/web-api/jsonpatch?view=aspnetcore-3.0#jsonpatch-addnewtonsoftjson-and-systemtextjson)for using Newtonsoft selectively for Patch purposes alongside System.Text.Json. It's not pretty but seems to do the job until this library gets the newer JSON treatment.

And don't forget to use the JSON

[2019-11-07 02:04] collina2019 commented on #16865
It works , thanks everyone :)

[2019-11-07 02:49] blowdart commented on #16864
Oh certainly yes, we like PRs :)

[2019-11-07 03:00] guidevnet opened #16881 "Throw exception if an infinite component tree is detected"
Some days ago I was refactoring the code of a healthy server-side blazor app. After some adjustments here and there, I hit debug. To my surprise, this happens:

![image](https://user-images.githubusercontent.com/10619761/68355565-67170600-00ee-11ea-871a-6fa19f8d6760.png)

The process continued to grow until it froze my operating system and crashed with 31 of my 32GB of RAM consumed.

After two day

[2019-11-07 03:04] chamikasandamal commented on #12890
Happy to contribute. @johnnyoshika : include me as well

[2019-11-07 03:42] hfmm99 commented on #14886
I have another working example here: https://github.com/hfmm99/HCM/tree/master/HCM/Client/Components/Grid

[2019-11-07 04:31] tb-mtg commented on #1932
@denisz1 @davidfowl @MBODM
This is an old question I know, but is this how to do it?

`services.AddMvc(cfg  => { /* ... */ });`

and then elsewhere inside Startup.ConfigureServices()

[code]

[2019-11-07 04:48] rynowak commented on #1932
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-11-07 05:06] kofifus opened #16882 "SignalR - OnConnectedAsync before OnDisconnectedAsync"
In my testing I start a SignalR JS client connecting through windows Apache that proxy to a .NET Core SignalR server. Both client and server are localhost.

I then simply let that connection stay without sending anything, about once a minute for reasons I am not sure of, the connection breaks (perhaps because there is no traffic).

What happens then is that the JS client `start()` promise calls it

[2019-11-07 06:10] davidfowl commented on #16882
Can you make a simple repro and share it with us? It sounds like it could be your app logic but hard to tell with just the description here.

[2019-11-07 06:10] Tratcher commented on #16865
@javiercn the use of OnMessageReceived here is really fragile and should be revisited. Why can't the keys be resolved during configuration?

[2019-11-07 06:12] davidfowl commented on #16876
HAH, yes, we never fixed the expect 100 continue code path.

[2019-11-07 06:27] gfkeogh commented on #15716
Over a year after starting this issue I ran a test to see if Blazor Wasm v.1.0 preview-1 could now use the WindowsAzure.Storage API, but a PlatformNotSupportedException occurs unchanged. I see a lot of mono discussion and commits were made and closed regarding default http handlers, but as an outsider it's practically impossible to follow what it all means. Did the mono changes have any affect upo

[2019-11-07 07:01] kofifus commented on #16882
Do you mean this is not expected behavior or is it a possible valid scenario ?

[2019-11-07 07:29] hiyelbaz commented on #12890
For those who just need an in-proc v8 engine: https://github.com/microsoft/ClearScript/issues/9#issuecomment-545536190

[2019-11-07 07:59] mihaibozesan123 opened #16884 "Microsoft.AspNetCore.Mvc.NewtonsoftJson Converts a number like 1234 to true boolean; also accepts "true" as string"
Hi,
I've been using this package(in the title) with Newtonsoft.Json.
It has got some nice bugs.
1. you can pass a numeric value like 1234 for boolean without the deserialization failing; instead of failing, the number will be converted to the boolean value True.
2. you can pass "true" or "false" string for boolean and again, it won't fail, while it should(suspect it's the same issue).

Example:
Mo

[2019-11-07 08:33] AlexejTimonin commented on #8847
@rynowak Can I take a stab at this?

[2019-11-07 08:54] javiercn commented on #15437
A few notes.
* Names should not be changed, as it would be a breaking change.
* This might require changes in the compiler too, to generate the right code in these cases.

[2019-11-07 08:59] mrpmorris commented on #15437
Okay. These should be changed in future though as they are against the standards used in the rest of the framework.

What about questions 3,4,5,6?

[2019-11-07 09:00] mrpmorris commented on #15437
I just tried decimal and it seems to work fine. Do you have a ticket number for the problem?

[2019-11-07 09:01] stantoxt opened #16886 "How to handle tcp client accident close without sending closing message to server when using ConnectionHandler"
If the tcp client close without communicating to the server,the kestrel server will close this connection when reading data next time, but I want to do some more extra disconnection operations like logging something or writing something to database.
Is there any shutdown event I can register to the shutdown method?

[2019-11-07 09:02] MarcusKohnert commented on #16662
#### ANCM debug log

[code]

[2019-11-07 09:32] javiercn commented on #16865
@Tratcher I can't remember the details, but it had to do with 'IHttpContextAccessor'. I believe there was a circular DI dependency and we couldn't do it in config/setup for that reason.

I don't feel it's too bad, this is the first time we see it. We just need to document it. I'll file a separate issue to track that.

[2019-11-07 09:43] javiercn commented on #16865
Filed https://github.com/aspnet/AspNetCore.Docs/issues/15572 to cover the doc update. Closing this as there's no further action to be taken.

[2019-11-07 09:44] #16865 closed

[2019-11-07 09:45] Kahbazi commented on #16864
Good, I'll send a PR. I have some questions
- User Id is being logged in multiple pages and UserManager, should I remove them all?
- Should I also remove Principal.Identity.Name?
https://github.com/aspnet/AspNetCore/blob/7202634cead940379a7ddbb41b71da6882a9aab2/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ExternalLogin.cshtml.cs#L151
- Having user id in logs is very useful specially when th

[2019-11-07 09:56] javiercn commented on #16884
@mikebowman123 thanks for contacting us.

I don't think we change any behavior from what NewtonSoft.Json provides by default. Does serializing and deserializing the same payloads with Newtonsoft.Json directly offer a different result?

If that's not the case, then this is not a bug and is the by-design behavior, as we don't change the way Newtonsoft.Json serializes or deserializes types.

It's lik

[2019-11-07 10:00] hez2010 opened #16887 "blazorwasm stops working when target netstandard2.1"
### Describe the bug
If we change `TargetFramework` form `netstandard2.0` to `netstandard2.1`, blazor will stop working and cannot load at all.

### To Reproduce
[code]
change `TargetFramework` to `netstandard2.1`
[code]
Access https://localhost:5001

Got exception:
[code]

### Further technical details
- ASP.NET Core version: 3.1 preview 2
- Include the output of `dotnet --info`
[code]

[2019-11-07 10:01] javiercn commented on #16881
@guidevnet Thanks for contacting us.

We don't plan to do this as Blazor doesn't check for circular dependencies the same way the C# compiler doesn't check that recursive methods converge, it is in general too expensive or directly intractable.

[2019-11-07 10:01] #16881 closed

[2019-11-07 10:03] javiercn commented on #16887
@hez2010 thanks for contacting us.

We are in the process of supporting netstandard2.1 there's an ongoing PR and this will be available in the future.

[2019-11-07 10:03] #16887 closed

[2019-11-07 10:03] Razgort opened #16888 "Migration from 2.2 to 3.0 external dll return null"
Hello guys,

I'm trying to upgrade my project from asp core 2.2 to asp core 3.0. I resolved all compilation issue with braking change during the migration. So now i run my project in debug mode. And i try to login to my api with postman like i always did. But the fact is that with the new version 3.0 every method that i call from external dll return null... And i can't figure why ... If i call all

[2019-11-07 10:06] MarcusKohnert commented on #16662
#### Windows Event Log

No events from .NET Runtime were created.

[2019-11-07 10:09] MarcusKohnert commented on #16662
#### Is Program.Main called?

Yes, I can confirm that Program.Main is getting called.

Added logging statements in Main and CreateHostBuilder. 👇

[code]

[2019-11-07 10:39] javiercn commented on #16888
@Razgort thanks for contacting us.

Could you provide a minimal repro project that shows the problem you are running into so that we can further investigate?

[2019-11-07 10:46] RehanSaeed opened #16889 "ReturnHttpNotAcceptable=true Does Not Return ProblemDetails"
### Describe the bug
Setting `MvcOptions.ReturnHttpNotAcceptable` to `true` returns a 406 Not Acceptable status code but the body of the response is empty instead of containing a `ProblemDetails` object.

### To Reproduce

1. `dotnet new webapi`
2. Add this code to `Startup.ConfigureServices`:

[code]
3. Run `curl -i -H "Accept: text/plain" http://localhost:5000/weatherforecast` and note that ther

[2019-11-07 10:47] RehanSaeed commented on #4953
I tested this with the latest 3.0.100 SDK and 404 and 500 now correctly return `ProblemDetails` responses.

However, 406 Not Acceptable responses which are returned when you enable `MvcOptions.ReturnHttpNotAcceptable=true` are returning empty response bodies instead of `ProblemDetails`. See https://github.com/aspnet/AspNetCore/issues/16889.

[2019-11-07 11:12] javiercn commented on #16889
@RehanSaeed thanks for contacting us.

@pranavkm Can you take a look?

[2019-11-07 11:13] javiercn commented on #16880
@ts46235 thanks for contacting us.

@pranavkm can you take a look?

[2019-11-07 11:17] simonziegler commented on #16821
Hi, as a suggestion, if the reference has an IsValid too then making it a class will avoid having to repeat code in components. Thanks!

[2019-11-07 11:25] mikebowman123 commented on #16884
This has to be reopened.
So for more clarity.
I now have installed both Newtonsoft.Json and Microsoft.AspNetCore.Mvc.NewtonsoftJson.
Without the latter if I try to pass an int for boolean, an error is thrown. I install the latter, then passing an int for boolean will result into converting that int to true boolean(just like in my example earlier).

@javiercn To answer your question _"Does serializ

[2019-11-07 11:41] javiercn commented on #16884
@mikebowman123 thanks for the additional information.

@pranavkm any idea of what's going on here?

[2019-11-07 11:42] javiercn commented on #16884
@mikebowman123 Can you reproduce this with the out of the box template? (just adding the package).

[2019-11-07 11:46] mikebowman123 commented on #16884
@javiercn No customization on POST and PATCH.

[2019-11-07 11:46] jadhavajay commented on #16795
I though this project is now a community project. Is there any other community repo where I should report this issue into?

[2019-11-07 11:49] mikebowman123 commented on #16884
@javiercn Can you try ro reproduce starting from my examples? Try to make a post as described.

[2019-11-07 11:49] aidbal commented on #16871
I managed to figure it out on my own as I was creating repro.  It turns out that that code was not working in 2.2 as well. After fiddling around a bit, I narrowed it down to the function which reads the request body. After changing it to the following, everything works as expected.

Thanks for the tips ;)

[code]

[2019-11-07 12:29] MarcusKohnert commented on #16662
Pushed a stripped down repro repo. The issue still occurs in our test-environment.
Invited @anurse and @jkotalik so I guess you'll get an invitation.

Thanks for having a look.

[2019-11-07 12:41] PureKrome commented on #4953
@RehanSaeed wait what? So 5xx errors now return `ProblemDetails`? (If yes, the woooot!) When did this sneak in? 3.0? (3.0.100 == 3.0, m'right?)

If yes, wish there was some info dropped into this thread to give us some exciting news, etc...

[2019-11-07 12:41] kdawg1406 commented on #15437
@mrpmorris I'm on the 3.0 release, not working.  Thank you for verifying it's fixed now.

[2019-11-07 12:47] mikebowman123 commented on #16884
@javiercn  I can't share any code with you, because it is a company project.
But you can create a sample project to reproduce this in about five minutes. Here's how:
You only need to make a simple API with a controller and a model, and a post method in the controller. Then try making a patch request as shown in my example. On the project I encountered this, we are using .Net Core 3.0.

[2019-11-07 13:22] doggy8088 opened #16891 ".NET Core 3 Worker unable write to EventLog in Windows Services"
### Describe the bug
I can't see any message been logged in EventLog when I using .NET Core 3 Worker and installed in Windows Services. I was expected write all the log messages in `Information` level to the EventLog.

### To Reproduce
Here is a simple .NET Core 3 Worker project can reproduce this problem:
https://github.com/doggy8088/NETCore3WorkerLogToEventLogProblem

There is no exception at al

[2019-11-07 14:15] mihaibozesan123 commented on #16884
Here is a repo containing the code sample:
https://github.com/mihaibozesan123/Microsoft.AspNetCore.Mvc.NewtonsoftJson_Issue_Sample

[2019-11-07 14:16] yhug0 commented on #12537
for me it's work just fine in release but it's like if visual studio has a special Dokerfile (which don't work) for the debug mod

[2019-11-07 14:29] MaherJendoubi opened #16892 "HTTPS Error using IIS Express"
### Describe the bug
I run a vanilla asp.net core web app by checking the checkbox for configuring HTTPS. The application doesn't run correctly.

### To Reproduce
I opened VS, then I chose ASP.NET Core Web Application. The HTTPS configuration was enabled by default. After creating the app, I run it with F5 using IIS Express and the web app is not loading.

### Further technical details
- ASP.NET C

[2019-11-07 14:41] kmuthukumar23 opened #16893 "Is 'Synchronous Invoke' possible in server-side blazor?"
Hi Team,

In blazor server-side, we have used 'invokeAsync' and invokemethodasync' for invoking methods and operation asynchronously. is this possible to make operations synchronously in blazor server-side? If it is possible, then it will affect any server-side blazor behaviours?

Can any one suggest me on this?

### Further technical details
- ASP.NET Core version sdk 3.1 preview1