[2020-01-07 16:27] joeloff commented on #18152
I've looked at this before. The layouts need to be manually adjusted unfortunately

[2020-01-07 16:45] jkotalik commented on #18019
I tried to repro this without any luck. Here is what I did to let everyone compare:
- I created a Windows Server 2012 R2 Datacenter skew in Azure
- Once created, I downloaded the 3.1 hosting bundle and ran it on the server. This is the same version as listed by @bshade7 at the beginning
- I published a 32 bit aspnetcore website and copied it to the inetpub folder
- I hit the site on localhost to c

[2020-01-07 16:47] KieranDevvs opened #18169 "View renderer seems to disregard passed in view model"
### Describe the bug
Trying to render a partial view with a defined view model but the renderer seems to ignore what I pass in and grab a view model from the initial model passed in to the controller action.

### To Reproduce
Create a post method that takes in an int from the route and a view model.
Then return a partial view while passing it a new view model.
The view should then render with the

[2020-01-07 16:51] roblapp commented on #16780
I also ran into this issue

[2020-01-07 17:01] mathisloge commented on #18137
Hey,
currently not, but maybe someone of the Microsoft Team. Sorry!

[2020-01-07 17:08] bshade7 commented on #18019
@jkotalik I also have the same Windows Version, however my edition is different.  I am using Windows Server 2012 R2 Standard (Still build 6.3.9600 though).  I am not sure if that makes any difference or not.

This machine is also connected to a corporate domain (if that matters), and similar to what @lousaibiao mentioned, they hold updates and distribute them quarterly, so the machine may not have

[2020-01-07 17:23] pranavkm commented on #16780
The error message usually indicates that you don't have the C++ workloads installed in VS. Portions of ASP.NET Core, such as MVC, Blazor, SignalR etc, do not require ANCM to build and their solutions can be opened without having the workloads installed \ ANCM built. However if you do want to get clean builds, the instructions https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md

[2020-01-07 17:24] BrennanConroy commented on #17243
This was fixed yesterday in master (probably want to backport to 3.1).

[2020-01-07 17:29] bshade7 commented on #18019
@jkotalik I am in the process of trying to capture a debug dump of the w3wp process using Debug Diagnostics 2 Update 2 for what I am experiencing.  If I can grab one of these, would you like me to send it to you?  If so, where should I put it?  Thank you.

[2020-01-07 17:31] mkArtakMSFT commented on #18163
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-01-07 17:34] ryanbrandenburg commented on #18154
@Tratcher I looked at the history histogram and guessed.

[2020-01-07 17:41] Jelgab opened #18267 "returning this.Ok( null ) shows last successful request"
# Issue Title

returning this.Ok( null ) shows last successful request

# General
Version: .Net Core 3.1
OS: Windows 10. Version 10.0.18362.535
Editor: Visual Studio 2019 16.4.0

(Tried on two different machines, two different API projects)

When a controller is trying to return this.Ok( someObject ), if the value of the object is null, it will not show any error: It will return the result of the

[2020-01-07 17:50] mkArtakMSFT commented on #18123
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-01-07 17:52] anurse commented on #16983
Narrative docs have all been updated. Samples are a bigger task and I think we'll wait for feedback on that. The out-of-date samples clearly use `netcoreapp2.1` or `netcoreapp2.2` (based on when they were written) so it should hopefully be clear how to migrate based on our existing migration docs.

[2020-01-07 17:52] #16983 closed

[2020-01-07 17:54] anurse commented on #10599
This [happened](https://github.com/aspnet/AspNetCore/blob/master/src/Tools/dotnet-sql-cache/src/dotnet-sql-cache.csproj), issue is just out of date :). Closing.

[2020-01-07 17:54] #10599 closed

[2020-01-07 17:55] mkArtakMSFT commented on #18023
Thanks for contacting us. It looks like the issue you're facing here is caused by a third-party library you're using. We recommend following up with the library owners, where the issue lies.

[2020-01-07 17:56] mkArtakMSFT commented on #18168
Thanks for contacting us. We'll review this and get back to you.

[2020-01-07 17:56] mkArtakMSFT commented on #18168
@ajaybhargavb can you please look into this one? Thanks!

[2020-01-07 18:32] pranavkm commented on #18115
In the past, making our default implementations public severely affected our abilities to change or evolve these types. That was one of the primary motivations for making these non-public.

One option you could explore in this particular case is to use a DI framework that allows decorating. @khellang would you happen to know if this would work with Scrutor?

[2020-01-07 18:50] ajaybhargavb commented on #18168
@Andrew-Webb, I tried creating multiple new projects both in command-line with `dotnet new` and with VS. But all of the `Program.cs` and `Startup.cs` files that were created had UTF-8 encoding and not ANSI. I'm using the SDK version `3.1.100`.

Can you try creating a new project from the template and check if you are still seeing the issue? If you do, can you provide the exact steps as well as you

[2020-01-07 18:59] cdibbs commented on #14907
I agree with @Pvlerick that my workaround doesn't work when you run the tests in parallel (which is the norm). So, is my workaround really "viable?" Maybe not.

It sounds like any fix would have side effects, but perhaps that just builds a case for doubling up on the normal amount of testing done for a patch like this.

[2020-01-07 19:03] khellang commented on #18115
In theory it should, yes. Just make sure you inject `IPageHandlerMethodSelector` in your implementation (as opposed to newing it up) and decorate the default registration:

[code]

[2020-01-07 19:06] Hunv commented on #17250
I am using 3.1 and have the same issue. The comment of @RMIN3452 works.

[2020-01-07 19:21] Pilchie opened #18171 "[Discussion] Moving AspNetCore repo to dotnet org 2020-01-07."
As a first step towards the work describe [here](https://github.com/dotnet/announcements/issues/127), we're planning on migrating the AspNetCore repo to the dotnet org.  We'd like to get this done ASAP.

We don't expect any significant issues for contributors, GitHub is great about adding redirects.  However, it may impact our ability to produce nightly builds and flow dependencies for a few days.

[2020-01-07 19:33] pranavkm commented on #18166
Hi @VBAndCs,

This looks like a bug in how Razor's editing works. In general, views are compiled in to a separate assembly. Consequently, referencing `internal` types or members would result in an error about the type's accessibility. Howerver in the editor, the type that drives the formatting is code-gened to be part of the project. This would explain why you don't see accessibility errors while

[2020-01-07 19:50] ryanbrandenburg opened #18173 "Add LSP light bulb support for usings in Razor"
This isn't totally straightforward because the C# using won't be offered today because of `#line hidden` directives. We can work around this by making design-time generated C# files have a `#line default` around the using directives. This looks something like:
[code]
Once we've done that we'll be able to create a Razor CodeAction which can translate the c# codeaction.

[2020-01-07 19:52] jmprieur commented on #18117
@sujayvsarma : did you have a look at this sample: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 ?

[2020-01-07 20:00] #18136 closed

[2020-01-07 20:05] bshade7 commented on #18019
@jkotalik I have captured several dumps of the process crashing.  I have attached the analysis result from the crash.

Here is the error from the top of the analysis:
[code]

Here is the stack trace from Thread 3 that caused the exception:
[code]

Please let me know if you would like the full dump from the crash that was analyzed to get this.  Thank you.
[CrashAnalysis.zip](https://github.com/aspn

[2020-01-07 20:07] VBAndCs commented on #18166
@pranavkm
Thanks for the info and the fix.
Can you find a solution for `Internal` types other than making them public which would be risky in some cases as it violates security guidelines?
At least, types defined in the Pages Namespace (and Pages Folder) should be included in the View assembly. This can be none breaking if we mark them with some attribute (such as `[ViewAsem]`).

[2020-01-07 20:10] WiredUK commented on #18171
@Pilchie Can you fix the title on the [announcement](https://github.com/aspnet/Announcements/issues/400) please? It's got a weird date! 😊

[2020-01-07 20:15] Pilchie commented on #18171
Yeah, just did. Not quite sure how I managed that ;)

[2020-01-07 20:34] akhilbansal opened #18175 "Java Client error: Expected HTTP 101 response but was '404 Not Found'"
We are getting below mentioned error when trying to establish connection with SignalR api. We are on Version 3.0

"WebSocket closed from an error: Expected HTTP 101 response but was '404 Not Found'"

Java client application has maven dependency:
<code>
		<dependency>
		    <groupId>com.microsoft.signalr</groupId>
		    <artifactId>signalr</artifactId>
		    <version>3.0.0</version>
		</dependency>

[2020-01-07 20:56] HaoK commented on #17485
@SamWhitby yeah the combining logic in 2.x is problematic, I was able to work around this successfully by removing the global authorize filter and having a dedicated authorize per action:

[code]

[2020-01-07 21:00] #18120 closed

[2020-01-07 21:01] BrennanConroy commented on #18175
Well, the obvious question is, are you sure your endpoint is correct? Where is your server listening and what is the hub path?

[2020-01-07 21:28] VBAndCs opened #18176 "TempDateAttribute doesn't work with private properties"
I defiend this property in a Razor Page:
[code]

I forgot to use the `public` modifier in the Date property definition, so it became `private`, and the `TempDateAttribute` had no effect!

I think you should give an error or a warning about this, because I lost some time trying to find out why the `TempData["Date"]` returns null!
The TempDateAttribute documentation also say nothing about this, whic

[2020-01-07 21:34] Pilchie commented on #18171
The initial move is complete.  We still have work to get builds and dependency flow working again.

[2020-01-07 21:53] Triggs9 commented on #17982
Created a reproduction repo here:

https://github.com/Triggs9/BlazorElementReferenceBug

it has alot of code i have been working on for a while now, so i copyright it as much as positing something publicly on github will allow ha ha, but in any case there are three variables if you open the web browser console and type in:
WorkingThroughJSParam
WorkingComponent
FailedComponent

WorkingThroughJSPar

[2020-01-07 21:53] halter73 commented on #18141
This would be non-trivial to implement. Every HubLifetimeManager (e.g. DefaultHubLifetimeManager, RedisHubLifetimeManager, ServiceLifetimeManager, and user-defined HubLifetimeManagers) would need to add support for this. It's a bit like asking to support removing one group from another, but at least this would be limited to users and not all groups.

The only way I can think of  work around this i

[2020-01-07 21:54] Triggs9 commented on #17982
an npm install command as well as a npm run script build:dev is required before running dotnet run

[2020-01-07 21:57] dommorin opened #18177 "(Microsoft.AspNetCore.TestHost.)TestServer doesn't support Certificate Authentication"
### Describe the bug
Enabling certificate authentication in .net core api causes the TestServer to always return 403-Forbidden in integration tests (despite certificate used in request).

### To Reproduce
Internal Microsot repo: https://dev.azure.com/maluuba/_git/TuringSearch

1. Enable certificate authentication in .NET Core API
https://docs.microsoft.com/en-us/aspnet/core/security/authentication

[2020-01-07 22:23] anurse commented on #17399
@Tratcher @halter73 between the two of you, could you take a look at getting this prepped on `release/3.1`? I'd like to try and take this in Feb, which means we need a ready-to-merge PR next week.

[2020-01-07 22:23] anurse commented on #17399
De-milestoned to make this come up in triage again for awareness.

[2020-01-07 22:35] shawty commented on #17982
I don't have time to look now, it's getting very late here in the UK, but I'm sure others will get a look in before I get chance tomorrow.

Was I correct in my last comment about what I thought you where trying to achieve?

[2020-01-07 22:45] Triggs9 commented on #17982
no, its all one way right now all C# to JS, the interop can work as two entities, DotNetIntrop in JS and JSInterop in C# and still pass data one way, or both if desired. This one is Entirely C# to JS one way, no returned data to C#.

[2020-01-07 22:50] Triggs9 commented on #17982
I can see where alot of C# guys get confused, and assume that i want everything done in C#. But JS has alot of animation libraries like GSAP. That C# could probably never provide purely due to its complexity involved with typing everything. I want the elements in TS so i can handle the visual side of things in typescript, i want C# to handle the actual data structure of my components as thats what

[2020-01-07 23:01] jkotalik commented on #18019
I really am stumped here. I don't believe there should be any difference in the way I verified ANCM and what you have. I can maybe try getting the non datacenter skew, but that's about it. The only thing that looks interesting is in your dump is:
[code]

I don't know why aspnetcore.dll is the mapped image there rather than aspnetcorev2.dll.

I think I need another set of eyes. @anurse / @Tratcher

[2020-01-08 00:40] anurse commented on #18047
That's not really something you can do with the Auth system though. @Tratcher and @HaoK can correct me if I'm wrong but in order to evaluate a requirement you have to have an **authenticated user**. You can't just take a list of users from a database or other source and test policies against them. You need a fully-authenticated `ClaimsPrincipal`.

[2020-01-08 00:54] frostbomber commented on #9020
Maybe stupid question, but why does it work if I am running the gRPC service in Debug with IIS Express? E.g. I have a web app (Razor Pages, .net core 3.1) that makes calls to a gRPC service [upgraded from a framework mvc app talking to a wcf service, if anyone cares]. If I debug them both on my workstation, with the gRPC service in IIS Express, the webapp can talk to the service just fine. Because

[2020-01-08 00:57] brockallen commented on #18140
yea, facebook emails are garbage since they provide an @facebook.com domain. i'd not say those are terribly trustworthy.

[2020-01-08 01:08] Tratcher commented on #17399
@halter73 when could you have bandwidth to start this? I'm busy for a few days.

[2020-01-08 02:12] NickCraver commented on #12171
@rynowak Since we can't fix things in this way and the documentation has improved it seems I should just close this out, any objections?

[2020-01-08 02:27] azydevelopment opened #18178 "Single-item-claim-array when using ClaimValueTypes.Json changing schema"
### Describe the bug
Please see this issue: https://github.com/IdentityServer/IdentityServer4/issues/3968

When sending over a JWT with an array claim with only one value, the claim in user.profile gets transformed to just a string. When an array with 2 values gets sent over in the JWT claim, user.profile sets it to an array with those 2 values.

This means that the schema changes depending on how

[2020-01-08 02:52] halter73 commented on #17399
I can start looking into this tomorrow between my build rotation responsibilities.

[2020-01-08 03:26] Vake93 commented on #18046
Maybe this isn’t a general scenario but in my project I have modeled the domain models to inherit from a base class called “Entity” which contains the Id (of type Guid) and some other columns like created date, last modified date and row deleted state.
Then I create repositories and queries for these models, and because of all my domain models inherit from “Entity” class I can have a Repository<TE

[2020-01-08 03:31] Tratcher commented on #9020
IIS Express shouldn't work for all the same reasons IIS doesn't.

[2020-01-08 04:19] davidfowl commented on #15384
Agreed, we need to patch this.

[2020-01-08 06:24] sujayvsarma commented on #18117
@jmprieur  - Let me take this forward with you via issues on the samples repo.

Thank you @blowdart.

[2020-01-08 06:24] #18117 closed

[2020-01-08 06:35] mgubis commented on #18115
I understand, that making default implementations public affected flexibility you could use in evolution of framework. But I think, that if the default implementation is exposed only via interface, it shouldn't create friction points (changing the interface is breaking change anyway).

Anyway, thanks to the Scrutor (thanks @khellang), I was able to get default instance - your proposed solution wor

[2020-01-08 06:36] Tratcher commented on #18047
AuthZ is pretty decoupled, it should be possible to run specific policies against users enumerated from the database. Enumerating those users in a form that AuthZ would recognize might take a bit of work, but the information is all there in the Identity database. @HaoK would know better how to go about it.

[2020-01-08 06:55] HaoK commented on #18047
We don't have any build in way to enumerate all the policies, but that is something you could probably add yourself.  You could use `UserManager.Users` to iterate over all the users and call `IUserClaimsPrincipalFactory.CreateAsync(user)` to get the ClaimsPrincipal and then call Authorize against every policy.

[2020-01-08 07:07] mihaimyh opened #18183 "Blazor Server HttpContextAccessor.HttpContext null when client is behind proxy"
I am trying to get tokens in a Blazor server app using `httpContext.GetTokenAsync()` method but for some reason `HttpContextAccessor.HttpContext` is always null when the client (browser) is behind a proxy and WebSockets are not available.

This doesn't happen if I access the app from my mobile, for example, which is not behind a proxy.

Is there something I am missing?

[2020-01-08 07:23] sehd commented on #6111
You are a life saver man. I have upgraded my application from 2.2 to 3.1 and couldn't get it to work. This fixed it.

[2020-01-08 07:44] Pvlerick commented on #14907
@cdibbs exactly. It's an ugly fix to try to make things work temporarily, this is not a solution that will be implemented across projects; I don't see myself explaining to other developers that this is how they should inject theirs mocks from now on, moving from a super-clean solution in 2.1 to a hack in 3.1.

We need this addressed badly :-(

[2020-01-08 08:27] TanvirArjel commented on #18171
@Pilchie why all the repository names are in lower case this time instead of upper case as before?

[2020-01-08 09:12] pantonis opened #18184 "After upgrading to Asp.Net Core 3.1 identity publish produces wwwroot folder"
### Describe the bug
I have an asp.net core 2.2.6 web api project. No views, no script files, no css nothing. I am using it with a custom angular app based on my own logic.  I just upgraded it to asp.net core 3.1 and when I publish using release build I see a wwwroot folder containing css,js and lib folders containing css and js files.

### To Reproduce

We ❤ code! Include a complete code listing

[2020-01-08 09:33] gbbsoft opened #18186 "Error page can't handle POST errors"
I think there is a bug in ExceptionHandlerMiddleware.cs.
if exception is throw during "POST" then Exception Handler call ExceptionHandlingPath  also using "POST". I think it should call ExceptionHandlingPath using "GET", so please add ClearHttpContext following line:

context.Request.Method = "GET";

[2020-01-08 10:02] Andrew-Webb commented on #18168
@ajaybhargavb - surveying a number of projects created by me over the last year with VS 2017 and VS 2019, and a mixture of ASP.NET Core 2.2, 3.0 and 3.1, I can see a mixture of ANSI encoding and UTF-8 (no BOM) encoding for these two files.

Creating a new ASP.NET Core 3.1 MVC website with the template in VS 2019 v16.4.2 just now, the encoding of these two files is UTF-8 (as you found).  Looking at

[2020-01-08 10:31] phibsi commented on #17989
Hi @Tratcher,

I updated the project and changed the async CSOM request to sync WebRequest:
https://github.com/phibsi/sample-aspnetcore-impersonation/blob/2e277d4f7d9de851a4e1391a68ec2db94eceb64d/Controllers/HomeController.cs#L94-L116

But I get the same error message :(

Any idea?

[2020-01-08 10:40] solrevdev commented on #16811
If it helps anyone in the meantime here was my workaround: https://github.com/aspnet/AspNetCore.Docs/issues/16434#issuecomment-571990158

[2020-01-08 11:03] SteveSandersonMS commented on #18142
This kind of API is deliberately not part of the Blazor programming model, because the rendering system is meant to be responsible for the component lifecycle. This includes:

 * Instantiating the component
 * Performing dependency injection
 * Calling lifecycle methods
 * Tearing down and disposing

If it was possible to supply your own instance, it's no longer clear which parts of the lifecycle

[2020-01-08 11:27] yToxide opened #18187 "Get html Element info as position / size without JS"
**Is your feature request related to a problem? Please describe.**

I'm trying to move an html element dynamically on my code, and also trying to resize some others so they can be responsive.

**Describe the solution you'd like**

let's say we have

[code]

[2020-01-08 11:52] boukenka commented on #14426
@mrpmorris Did you get any new feedback/comment for your solution or/and your suggestion to add the following code in [#14972](https://github.com/dotnet/aspnetcore/pull/14972/files/b89535c2cf78268e3b099ab92ff5b96c2d8b6f4f#diff-6b3e183667bfb910f74d879bffdea763):

[code]

[2020-01-08 14:00] mvarblow commented on #18019
Are others having this problem when running applications built using the ASP.NET Core 2.2 libraries and targeting x86 .NET Framework (rather than .NET Core)? That's our situation.

We can reproduce the problem consistently on one server that's running Windows Server 2012 R2 Standard (6.3.9600) with all available updates applied (last installed 12/11/2019). We have another server running Windows Se

[2020-01-08 14:45] ptsneves commented on #18047
@HaoK So i still need a way to enumerate/query the list of all available policies. Am i correct in this analysis? If so @anurse does this mean my issue got a bit more legitimate?

Grateful for the support
Paulo Neves

[2020-01-08 14:46] gohopo opened #18188 "trying to publish blazor wasm app"
### Describe the bug
I'm trying to publish blazor wasm app to GitHub Pages and aliyun oss using GitHub Actions.
Deploy success,but get error on browser([see console log](https://gohopo.github.io/)).
What I do wrong?

My web.yml
[code]

action result:
![actions](https://user-images.githubusercontent.com/8192266/71986387-607c4a80-3267-11ea-94b4-bf98918cf349.jpg)

error on browser:
![404](https://use

[2020-01-08 14:52] bmoyet opened #18189 "Missing SameSite and secure attributes when using Microsoft.AspNetCore.Http.Delete method"
Hello,
In the following issue (https://github.com/dotnet/aspnetcore/issues/12125) you fixed the Headers library to effectively set the SameSite attribute to None in cookie instead of omitting it.
I think I found another case where cookie attributes are not properly set.

### Describe the bug
When trying to remove a cookie I used the following code :

			{
				Domain = context.Request.Host.Host,

[2020-01-08 15:37] blowdart commented on #18189
https://github.com/dotnet/aspnetcore/issues/17833
https://github.com/dotnet/aspnetcore/issues/17980

[2020-01-08 15:37] bshade7 commented on #18019
@mvarblow At least in my situation, the apps that are crashing were built well before ASP.NET was around to do so.  However, they are absolutely targeting the x86 .NET Framework (NOT .NET Core).  So perhaps you are onto something there.  Maybe there is an issue when targeting the x86 (non Core) framework and utilizing ANCM to host the app with IIS?  Just spitballing here trying to help out the dev

[2020-01-08 15:52] antoinecfmws opened #18190 "Dotnet Core CLI - Attempt to generate a new proejct results in an error Couldn't find an installed template"
### Describe the bug
We attempt to generate a new project from the dotnet core cli using the following command:
`dotnet new webapi -au Individual -o webapi_sample_3_1` and this results in the following error:
[code]

### To Reproduce
Run the following command using dotnet core sdk 3.1.100
[code]

### Further technical details
- ASP.NET Core version: 3.1.100
- Include the output of `dotnet --info`

[2020-01-08 15:52] javiercn commented on #18188
@gohopo thanks for contacting us.

This issue doesn't seem to be Blazor specifc.
We would recommend you try running `dotnet publish` locally on your machine and check that the files are produced into the dist folder.

That's the only Blazor specific aspect here. Anything else is an issue with your deployment script and we would likely not be able to help you here. We would suggest you ask this que

[2020-01-08 15:55] SteveSandersonMS opened #18191 "Blazor WebAssembly hosted publish --no-build is broken (and the test)"
We have a test called `Publish_HostedApp_WithNoBuild_Works` but it's not a very useful test because it doesn't attempt to run the resulting app to check if it really works. And currently, the resulting app does not work.

Repro steps:

 * `cd src\Components\Blazor\testassets\HostedInAspNet.Server`
 * `rm -rf bin obj` (or otherwise delete these two dirs completely)
 * `dotnet build -c Release`
 * `

[2020-01-08 15:56] javiercn commented on #18183
@mihaimyh thanks for contacting us.

We don't recommend using HttpContextAccessor in server-side Blazor applications as the context is not always available and its availability depends on the underlying transport, which is not reliable.

This is the same as for other SignalR applications.

[2020-01-08 15:56] #18183 closed

[2020-01-08 16:04] javiercn commented on #18178
@azydevelopment Thanks for contacting us.

Is there anything specific about ASP.NET Core here? All that seems to be Identity Server specific code, is there any specific piece of code where we are overriding your settings?

Templates are a starting point and you are allowed to change them in whatever way suits your scenario first.

I don't think this is an issue, but if you provide more details we

[2020-01-08 16:09] javiercn commented on #18176
@VBAndCs thanks for contacting us.

MVC doesn't do reflection over private members (I don't think we do it anywhere) and that's not something that is likely to change.

I don't think we would write an analyzer for this as each analyzer has an impact on performance however minimal it is, and this is a well-known MVC pattern. You could choose to write one for your projects or as an external library

[2020-01-08 16:13] jkotalik commented on #18019
It seems like no matter what, I should verify the Standard skew instead of the Datacenter. I'll start spinning up a VM for that.

I don't think .NET Framework vs .NET Core should make a difference inside of ANCM. No managed code has been loaded by that point.

[2020-01-08 16:15] javiercn commented on #18191
@SteveSandersonMS I see what you mean.

I would suggest we simply validate that the test validate the expected files are present on the output folder.

I don't think we want to do this in these tests as this complicates them unnecessarily. If we cared enough about this scenario I would suggest we define an E2E scenario for the vendors to try or we could add it as a template test variation.

In any

[2020-01-08 16:17] javiercn commented on #18184
@pantonis thanks for contacting us.

This is a known behavior change in 3.0. Identity UI would use an embedded file provider to serve this files in the past. In 3.0 we changed it to use the Static Web Assets feature to avoid the need of customizing the static files provider.

[2020-01-08 16:20] VBAndCs commented on #18176
Thanks for your reply.
I want also to ask: Why there is no SessionAttribute to bind properties to Session state?

[2020-01-08 16:22] javiercn commented on #18184
This is a dupe of https://github.com/dotnet/aspnetcore/issues/16862

[2020-01-08 16:26] javiercn commented on #18187
@yToxide thanks for contacting us.

I'm not sure what you are trying to achieve here, but currently there's no way to do that without JS interop.

This is not something that would work on things like server-side Blazor so it is unlikely we would do it as it would make very easy to write components that only work in some environments, which is not something we want to promote.

[2020-01-08 16:27] mihaimyh commented on #18183
Thanks for the answer. Then again, how can I get the acces token, for example?

Mihai

[2020-01-08 16:29] javiercn commented on #18121
@benday thanks for contacting us.

I believe we run ng test as part of our E2E tests. Are you saying this happens with an out of the box template?

If you have some fixed that can be applied to the template and that would fix this issue we probably would accept a pull request for it.

[2020-01-08 16:31] Pilchie commented on #18171
@TanvirArjel To be consistent with just about all of the other repos in the `dotnet` org, as described in the original (announcement)[https://github.com/dotnet/announcements/issues/127].

[2020-01-08 16:32] anurse commented on #18047
The request was certainly always legitimate :). Just trying to understand prioritization. Making any API public is costly (as it has a high support burden for the future because we can't break/change it) so it's important to understand the specific usefulness of the change so we can use that to evaluate the priority.

[2020-01-08 16:44] benday commented on #18121
@javiercn -- the problem is in the source code that goes into the webapi/angular template.  I've been trying to find where that code actually comes from.  Can you point me to where that is in GitHub?  Thanks.

[2020-01-08 16:45] SteveSandersonMS commented on #18191
That's what we're already doing. The issue is when we make mistakes about what the expected files are :)

[2020-01-08 16:48] SteveSandersonMS opened #18192 "New linker incrementalism goes wrong when changing <BlazorLinkOnBuild>"
Steps:

* Have `<BlazorLinkOnBuild>true</BlazorLinkOnBuild>`
* Perform a build
* Switch to `<BlazorLinkOnBuild>false</BlazorLinkOnBuild>`
* Change your code such that you now reference some BCL API that you didn't before
* Build and run

Expected: since you have `BlazorLinkOnBuild=false`, you should be running against the unlinked assemblies and the app should work (although be very big)

Actual:

[2020-01-08 16:49] javiercn commented on #18121
@benday https://github.com/dotnet/aspnetcore/tree/master/src/ProjectTemplates/Web.Spa.ProjectTemplates/content/Angular-CSharp

[2020-01-08 16:51] pranavkm commented on #18169
That usually helps expedite our investigations.

[2020-01-08 16:52] #18142 closed

[2020-01-08 16:59] eduherminio opened #18193 "Make RequestCookieCollection public"
### Use case
Properly mocking `HttpContext.Request.Cookies`.

### Proposed solution
Making `RequestCookieCollection` public, as it was before #11312.

### Additional context
Legacy mock:
`var cookies = new HttpCookieCollection { new HttpCookie("sth", "sthelse") };`

[2020-01-08 17:05] azydevelopment commented on #18178
Yep this is an issue I'm code in AspNetCore. Specifically in JavaScript client code. The IdentityServer code is only needed to expose the issue. The main issue is that the client side JWT processing does not honor what is actually said in the JWT.

I'm not sure where exactly the bad transformation is happening but it does seem to be in AspNetCore code since the JWT itself has the right single elem

[2020-01-08 17:08] pranavkm opened #18194 "Port Blazor: EditContext fieldstate tracking falls apart when model implements GetHashCode to 3.1"
Issue: https://github.com/dotnet/aspnetcore/issues/18069

[2020-01-08 17:13] newuser27 opened #18195 "The server disconnected before the handshake was completed"
I have
Connection = new HubConnectionBuilder().WithUrl(Constants.SignalRServer).Build();
 await Connection.StartAsync();

have a Exception
the Exception.message is “The server disconnected before the handshake was completed”

[pila.txt](https://github.com/dotnet/aspnetcore/files/4036442/pila.txt)

[2020-01-08 17:15] justinushermawan opened #18196 "C# .NET Core ReadAsStringAsync() throws System.OperationCanceledException"
Im using C#'s `HttpClient.GetAsync()` method to make an API request from an endpoint URL, the API returns a JSON string and then I retrieve the result using `HttpContent.ReadAsStringAsync()` method. It works successfully. But when I hit `CTRL+C` on the `dotnet run` running process, unexpectedly it throws an `Unhandled exception. System.OperationCanceledException: The operation was canceled.`, is t

[2020-01-08 17:23] anurse commented on #15094
Not to be repetitive but this issue does keep coming up in triage and I'm not sure what (if any) action is expected from the servers team here.

Should we consider having an `area-perf` for issues that the perf v-team (and thus perf sync meeting) is responsible rather than product teams? Thoughts @sebastienros @Pilchie ?

[2020-01-08 17:24] BrennanConroy commented on #18195
Can you provide more details about your environment, like how is the server hosted? Is there a proxy in use?

And could you capture server side logs and maybe network traces: https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1#server-side-logging

[2020-01-08 17:31] javiercn commented on #18183
Here is a sample

### Startup.cs
[code]

### _Host.cshtml
[code]

### App.razor
[code]

### ShowToken.razor
[code]

[2020-01-08 17:32] mkArtakMSFT commented on #18188
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2020-01-08 17:32] #18188 closed

[2020-01-08 17:33] #18187 closed

[2020-01-08 17:35] #18184 closed

[2020-01-08 17:45] mkArtakMSFT commented on #18176
This is not a common pain point so we don't plan to implement it.

[2020-01-08 17:45] #18176 closed

[2020-01-08 17:48] mkArtakMSFT commented on #18161
Thanks for contacting us. This is not something we have support for. Given that we haven't heard much similar ask in the past, this is not something we plan to do.

[2020-01-08 17:48] #18161 closed

[2020-01-08 17:53] VBAndCs commented on #18176
@mkArtakMSFT
Just for reporting:
We also can mark full-implemented properties with the TempDateAttribute and it will have no effect, and we don't get any error or warning.
Thanks.

[2020-01-08 17:57] pantonis commented on #18184
Thanks. works like a charm

[2020-01-08 18:15] anurse commented on #17781
File access is the main thing that gets messy when moving from IIS Express to IIS. I'm not sure there's much ASP.NET Core can do about this since IIS controls the identity of the process entirely.

If the rewrite xml file was deployed alongside the app, I wouldn't expect a permissions problem. Even more so if the worker process was an admin.

One more diagnostic thought comes to mind. Would you be

[2020-01-08 18:22] m0sa opened #18198 "TestServer not forwarding User-Agent header correctly"
### Describe the bug
We're trying to implement unit tests for handling the `SameSite` mode for cookies which requires probing the `User-Agent` header. It turns out to be impossible to do via `TestServer`, because the header gets chopped up into separate values by the `HttpClient`. It's an array when it gets forwarded to the `TestServer` here:

https://github.com/dotnet/aspnetcore/blob/2b7e994b8a30

[2020-01-08 18:28] mrpmorris commented on #14426
The suggestion was wrong, because lists and arrays live there, but it should skip String though.

[2020-01-08 18:30] Tratcher commented on #17989
Ok, since this is primarily an issue with impersonation and outgoing requests I'm going to transfer it over to the folks that own those. This does have some similarities to https://github.com/dotnet/corefx/issues/38646, but not quite the same stack trace.

[2020-01-08 19:01] anurse commented on #18081
Unfortunately the doc is a full runnable sample so the update is non-trivial. Moving to the backlog for now, we'll evaluate priorities and look at when we can do this.

It would probably make for a good PR if someone wants to make it. The changes needed are:

* Make a 3.1 version of [`aspnetcore/fundamentals/app-state/samples/2.x/SessionSample`](https://github.com/aspnet/AspNetCore.Docs/tree/maste

[2020-01-08 19:02] vsfeedback opened #18199 "MSB4113 Specified condition - Failed to properly account for ' in string"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/869736/msb4113-specified-condition-failed-to-properly-acc.html)._

---
[regression]
You guys haven't properly escaped/enclosed the strings you're using in the following build targets:

Microsoft.NET.Sdk.Razor.StaticWebAssets.targets

It should be Copy("%(Identity)") instead

[2020-01-08 19:04] pm64 opened #18200 "Scaffolded Identity "Manage" Layout Refers to Unscaffoldable Layout Page"
### Describe the bug
The scaffolded Areas\Identity\Pages\Account\Manage\\_Layout.cshtml page references "/Areas/Identity/Pages/_Layout.cshtml" as its layout. This page is not present in the project template and is not available for scaffolding.

### To Reproduce
1. In VS2019, create a new ASP.Net Core web application using "Individual User Accounts" authentication
2. Right-click project node in So

[2020-01-08 19:05] vsfeedback opened #18201 "Failed to start 'npm': Ensure that 'npm' is installed and can be found in one of the PATH directories."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/858687/failed-to-start-npm-ensure-that-npm-is-installed-a.html)._

---
<p>Visual Studio 2019 v16.4.1 when attempting to run a <a href="http://ASP.NET">ASP.NET</a> Core Web Application with React installed I get an error in the loading webpage:</p>
<pre>Failed to start ‘npm’

[2020-01-08 19:06] Tratcher commented on #18081
FYI @guardrex

[2020-01-08 19:09] pm64 commented on #17839
@sikira you might be interested in another issue I discovered in the ASP.Net Core Identity scaffolder: https://github.com/dotnet/aspnetcore/issues/18200

[2020-01-08 19:09] vsfeedback opened #18202 "Closing Visual Studio When DisplayNameFor Set"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/856960/closing-visual-studio-when-displaynamefor-set.html)._

---
I have a Dto Class object it contain one class and one dto List of object class when i want use DisplayNameFor that is List Items Visual Studio Class Close and open again

[code]
And my DtoItemsWithoutDetails

[2020-01-08 19:14] mrpmorris commented on #18069
GetHashCode should not be calculated based on state unless it is immutable.

This isn't a Blazor issue, its fundamental to .net dictionaries.

[2020-01-08 19:15] newuser27 commented on #18195
I generated this. are they enough?
[fiddlerfile.txt](https://github.com/dotnet/aspnetcore/files/4036841/fiddlerfile.txt)

[networktrace.txt](https://github.com/dotnet/aspnetcore/files/4036847/networktrace.txt)

[2020-01-08 19:16] anurse commented on #11665
I'm going to close this. We'll be bringing docs triaging into our normal triage and this issue is mostly noise now :).

[2020-01-08 19:16] #11665 closed

[2020-01-08 19:17] vsfeedback opened #18204 "Exception when multiple OpenAPI services refrences is added in Visual Studio 2019 (swagger endpoints)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/842525/exception-when-multiple-openapi-services-refrences.html)._

---
I try to use the service reference OpenAPI in Visual Studio 2019, to generate clients based on existing swagger endpoints. It works fine when one endpoint is added, but multiple endpoints in different na

[2020-01-08 19:17] anurse commented on #9927
I think we'll have to revisit this for 5.0. We didn't get anywhere with it in 3.0/3.1

[2020-01-08 19:19] jskeet commented on #18069
This is definitely *not* going to change in protobuf. It would be massively breaking - and a bad idea, IMO. Yes, you shouldn't mutate protos which have already been stored as keys in dictionaries - but in *every other situation* it's useful for protos to be easily comparable by current value (and it's useful to be able to use them as dictionary keys and *not* mutate them).

[2020-01-08 19:24] mrpmorris commented on #18069
Of course. The answer is to create the Dictionary passing in a `ReferenceEqualityComparer` as its `IEqualityComparer`

[2020-01-08 19:27] BrennanConroy commented on #18195
Not really. It would be useful to know how your app and client are set up.

It looks like you're running the .Net Client on the server? In which case what is the client trying to connect to? And it would be useful to get the network trace between the client and the server it's trying to connect to. As well as the logs for the server the client is trying to connect to.

[2020-01-08 19:35] aaronhudon-ts commented on #18069
In my case, the protobuf object is being used as the "bound" data model in the Blazor Edit context, and the UI data entry *is* causing the protobuf's properties to change.

[2020-01-08 19:36] alimhabib opened #18626 "new feature to Merge two Asp.Net Core APIs in one application"
### Is your feature request related to a problem? Please describe.
I had to merge two APIs projects in one app, to do this I created a simple extension for IApplicationBuilder [Application Builder with Branches](https://github.com/alimhabib/ApplicationBuilderWithBranches.git)
Example. I'm am trying to do [...] but [...]

### Describe the solution you'd like

So the user can plugin n numbers of pro

[2020-01-08 19:37] newuser27 commented on #18195
I am working with .Net, I have hosted an API to which I connect to send messages via signarl.

How do I get network trace between the client and the server?

in this fragment i get HubConnectionState Disconnected
 Connection = new HubConnectionBuilder().WithUrl(Constants.SignalRServer).ConfigureLogging(logging =>
                {
                    logging.AddConsole();
                    loggi

[2020-01-08 19:42] mrpmorris commented on #18069
@aaronhudon-ts There is a solution -> https://github.com/dotnet/aspnetcore/issues/18069#issuecomment-572218294

[2020-01-08 20:05] blowdart commented on #17594
We're closing this issue as the behaviour discussed seems to be by design.

[2020-01-08 20:07] blowdart commented on #18200
@danroth27  This seems to be blazor specific.

[2020-01-08 20:09] blowdart commented on #18178
We don't parse the JWT ourselves, that's part of https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

Please file the issue there.

[2020-01-08 20:09] #18178 closed

[2020-01-08 20:13] pm64 commented on #18200
@blowdart @danroth27 I thought so at first, but then confirmed that traditional web apps are also affected. What leads you to this conclusion? It's quite possible I missed something.

[2020-01-08 20:15] blowdart commented on #18200
Ah that wasn't clear from the issue, as the one you linked to was blazor and no-one has brought this up before.

[2020-01-08 20:16] blowdart commented on #18200
@javiercn Is this a bug, or are we missing something?

[2020-01-08 20:19] blowdart commented on #18102
So after discussion the path for aspnet applications still remains update to aspnetcore, which in turn means moving to efcore. EF6 on core is there to simplify migrations, but I don't feel it applies to aspnet core, you still have to port your aspnet application anyway.

[2020-01-08 20:21] javiercn commented on #18200
@blowdart That sounds like a bug.

The scaffolder should detect (within reason) whether the user is using the included layout or has overridden it with the one on the page and provide the path to the right layout on the scaffolded code.

(It can determine what layout is being used by the presence of the _ViewImports file in `/Areas/Identity/Pages`)

[2020-01-08 20:24] blowdart commented on #18046
OK, we don't want to disregard the issue, but this is simply the way it is. You could head down the route of writing all your own POCOs and then you can test using our tests, but that's probably a huge burden on you, as you'd have to implement stores too.

The benefit here is too narrow for changes that would be needed for us,

[2020-01-08 20:26] blowdart commented on #18200
@anurse Can you move this to scaffolding repo please?

[2020-01-08 20:26] #18102 closed

[2020-01-08 20:26] akhilbansal commented on #18175
Endpoints I provided were correct, though they were behind load balancer. Setting shouldSkipNegotiate(true) solved the issue.

[2020-01-08 20:26] #18175 closed

[2020-01-08 20:29] blowdart commented on #17932
5.0 comes with EF5 which will also require a higher Net Standard version.

@DamianEdwards what are your thoughts here? We have users who use identity outside of aspnetcore and this would enable them to keep doing so. @ajcvickers  can enumerate the risks.

[2020-01-08 20:31] blowdart commented on #17912
This feels like either an intellisense bug or a package mess. Can you share your packages.json?

[2020-01-08 20:33] blowdart commented on #17630
Given that our signin is basically sugar you can call the HttpContext.Signin yourself with your custom properties based on your user. What you're asking for is, to our mind, dangerous and easy for users to mess up, so we won't be implementing it.

[2020-01-08 20:33] #17630 closed

[2020-01-08 20:34] anurse commented on #13834
Apologies for the delay in response, this fell off my radar a bit and then the holidays hit :).

@rgueldenpfennig Yes, that would be the recommended workaround.

@thomaslevesque In general, we are very conservative about what we fix in patch releases (3.1.x). That doesn't mean we wouldn't do it, but it's a decision that's made at a higher level (coordinated with all the other parts of .NET Core) ;

[2020-01-08 20:35] blowdart commented on #17693
We can't repro this at all. Can you share a github repo?

[2020-01-08 20:38] #18069 closed

[2020-01-08 20:45] anurse commented on #11072
@dotnet/aspnet-build do you know what our status here is? I believe we are successfully inserting our runtime into VS, are we still using the nupkg-based hack referenced above? Or do none of you know and I should go chase other leads to figure this out? :)

[2020-01-08 21:02] BrightSoul commented on #18110
Thanks for clarification @anurse 👍

[2020-01-08 21:02] #18110 closed

[2020-01-08 21:03] anurse commented on #18081
We actually already have a larger item to update these docs (https://github.com/aspnet/AspNetCore.Docs/issues/13328), so I've included this suggestion in that and will close this in lieu of that larger update.

[2020-01-08 21:03] #18081 closed

[2020-01-08 21:06] KieranDevvs commented on #18169
I've added a repository that you can clone and some steps to follow to fully reproduce the issue.

[2020-01-08 21:13] anurse commented on #17609
I'm going to move this to dotnet/runtime for now. It looks like this is an issue in System.Text.Json on Xamarin.Mac and not specific to ASP.NET Core SignalR

[2020-01-08 21:19] anurse commented on #17399
@davidfowl what was the reasoning for not using an AppContext switch? It seems more straightforward and I'd like to keep this super simple to avoid risk.

[2020-01-08 21:20] anurse commented on #18177
Triage: It seems like this is just a feature gap that we can look at fixing in the future. @Tratcher does that sound right to you?

[2020-01-08 21:25] anurse commented on #18193
Is the interface (`IRequestCookieCollection`) not sufficient for mocking? We made these types `internal` because they were never actually officially supported (because they were in a `.Internal` namespace). We intentionally reserved the ability to make breaking changes to these types, since v1, and making them `internal` makes that clearer.

There's also nothing wrong with you just taking the code

[2020-01-08 21:27] jkotalik commented on #18019
So I tried again today on a 2012 R2 Standard and I wasn't able to repro again.

One idea we came up with; can you try downloading the latest Visual C++ redistributable?
See https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads.

[2020-01-08 21:30] halter73 commented on #18162
You're probably hitting Kestrel's [default 30 MB (~28.6 MiB) max request body size limit](https://github.com/aspnet/Announcements/issues/267) introduced in 2.0.0. You can change it in MVC with the RequestSizeLimitAttribute or disable it entirely with the DisableRequestSizeLimitAttribute.

[2020-01-08 21:31] #18162 closed

[2020-01-08 21:39] RomBrz opened #18266 "SQL Server access behavior changed in 3.x.x (sni.dll missing)"
# Issue Title

.NET Core 3.x.x didn't come with the DLL "sni.dll" inside of Microsoft.AspNetCore.App folder. .NET Core 2.x.x and prior come with that.

# General

Since the DLL sni.dll didn't come natively with .NET Core 3.x.x, we were facing problems with SQL Server connections. After troubleshooting, we discover that the developer need to put the dll inside his application code, and give execute

[2020-01-08 21:40] anurse commented on #18152
@joeloff are you able to look at this then?

[2020-01-08 21:45] anurse commented on #18186
This seems somewhat reasonable. It would be breaking to existing users though so we'll have to introduce it as a new option.

[2020-01-08 21:45] anurse commented on #18186
We would review a PR contributing this fix if you're interested @gbbsoft .

[2020-01-08 21:46] dommorin commented on #18177
Can you suggest any workaround? Being able to write integration tests is quite crucial if I want to push my API to production.

[2020-01-08 21:53] ryanbrandenburg commented on #18173
More generally here we've got two options for CodeActions edits where we need context (IE, create local function vs create class function):

1. Allow optional metadata to be passed through `_languageMiddlewareFeature.remap` to `remapWorkspaceEdit`. By passing in the CodeAction as this metadata we no longer have to "guess" about which one we're operating on.
1. Add a new function `remapCodeActionEd

[2020-01-08 21:53] anurse commented on #18186
One thing that does come to mind though is that since this would have to be an opt-in feature, it might not solve the problem most users would have with this behavior. If the original problem is that the exception page logic is matching against Method and not expecting POST then a simple fix is to change the logic to allow POSTs. If we add this functionality, it would **also** require the user to

[2020-01-08 21:56] joeloff commented on #18152
yeah, you can assign to me @anurse

[2020-01-08 22:13] anurse commented on #18177
There's not likely to be a workaround possible, short of cloning the test server code and making a change directly. Right now, the best bet is to use a real socket connection.

Making the change to test server should be *relatively* straightforward though. Test Server doesn't do a "real" request, it's basically just a fake `HttpClientHandler` that takes an `HttpRequestMessage`, wraps it up in `Htt

[2020-01-08 22:15] kccsf opened #18208 "Cookie OnRedirectToLogin / OnRedirectToLogout events not firing"
Using default Angular template with auth. Setting cookie paths in the following manner works:
[code]
I wish to set them dynamically, but the following events don't fire:
[code]
I also tried the following but it doesn't fire either:
[code]
### To Reproduce
Create a .net core app using the Angular template, select auth, add the above events to Startup.cs

### Further technical details
ASP.NET Core v

[2020-01-08 22:21] danroth27 commented on #12476
Duplicate of #17014

[2020-01-08 22:21] #12476 closed

[2020-01-08 22:21] gbbsoft commented on #18186
More interesting is when exception is in "DELETE" or "UPDATE"... :-)

[2020-01-08 22:21] wtgodbe commented on #11072
I'm not sure about this one - @livarcocc @dougbu was this what you two were discussing regarding our OSX installers over email recently?

[2020-01-08 22:41] grahamehorner opened #18209 "[Feature Request] Razor Class Library - Support 'Add Client-Side Library...'"
Please consider adding support for the 'Add Client-Side Library...' menu when developing a Razor Class Library so that 3rd party javascript etc. may be adding in the same manor as they are to web sites/applications projects.

[2020-01-08 22:43] BrennanConroy commented on #18195
Is this "API" an ASP.NET Core app that is configured to run SignalR? With `MapHub` and `AddSignalR`? https://docs.microsoft.com/aspnet/core/tutorials/signalr?view=aspnetcore-3.1&tabs=visual-studio#configure-signalr

[2020-01-08 22:51] Tratcher commented on #18177
That approach should have worked, I'll have to debug through it to see why it didn't. Our tests do almost the same thing:
https://github.com/dotnet/aspnetcore/blob/149aa55629bd7c451b0a2e2e2feccc38e36cd282/src/Security/Authentication/test/CertificateTests.cs#L489-L496

[2020-01-08 22:53] Tratcher commented on #17399
AppContext switches are static and therefor untestable.

[2020-01-08 23:02] Tratcher commented on #17399
Kestrel already reads config for binding information, reading more does not require any new infrastructure.

[2020-01-08 23:17] mihaimyh commented on #18183
@javiercn That worked, thank you very much.

[2020-01-08 23:37] rpskelton2 opened #18210 "Make the CircuitHost public"
I have a custom CircuitHandler in a Blazor server project that I'm using to detect when a circuit closes.  When the circuit closes there may be some stateful information I'd like to store into redis for the next time that user connects.  The internal Circuit._circuitHost object that is passed to the CurcuitHandler contains all the information I need but I can only get to it via reflection.

Was it

[2020-01-08 23:39] bshade7 commented on #18019
@jkotalik I actually had already installed this after reading about some other issues people have reported.  Here is the versions I have installed on that machine.

![Visual C Runtime](https://user-images.githubusercontent.com/28866528/72025443-c0f69200-323d-11ea-9575-3fd25588e45c.PNG)

[2020-01-08 23:45] NXTwoThou commented on #17781
I think there's some confusion.  I'm -unable- to use IIS Express on this project on my development machine for this asp.net core blazor project.  It was working fine one day, then stopped for no apparent reason(IIS Express works for our non-.core projects).

The URLRewrite rabbit hole was me giving a very specific example where not being able to test with IIS Express on my development machine crea

[2020-01-08 23:55] Andrzej-W commented on #18058
Maybe it is time to think again about .editorconfig file, see here #11617

[2020-01-09 00:02] ajaybhargavb opened #18211 "Language server middleware support in VS LSP"

[2020-01-09 00:29] dougbu commented on #11072
We push at least some of the packages to the VSDrops repo directly but I'm pretty sure we have no .vsman logic in aspnetcore -- the keyword doesn't match any code.

This also seems to overlap with #14045 (assigned to @JunTaoLuo).

Should we discuss this in Department of Infrastructure or Build / Leads sync?

[2020-01-09 00:55] ajaybhargavb opened #18214 "Razor VSCode code lens doesn't work in 2.x projects"
![image](https://user-images.githubusercontent.com/1579269/72028474-7a9e3480-3237-11ea-8176-d0b15e33e7f7.png)

The fix might potentially be in OmniSharp. This needs some investigation.

[2020-01-09 01:12] Andrzej-W opened #18215 "Blazor/ASP.NET Core Windows/Linux CultureInfo mismatch"
I have written a small Blazor WASM application (.NET Core 3.1 initial release) to compare CultureInfo objects available in WASM with those available on the server (ASP.NET Core). I'm using this simple query to retrieve all cultures:
[code]
For some cultures in WASM calendar is not defined and exception is thrown when you try to access `DateTimeFormat`. I'm using this simple loop to have only cultu

[2020-01-09 01:17] lousaibiao commented on #18019
I also installed this Visual C++ redistribution already

[2020-01-09 01:18] newpost opened #18216 "ValueTuple is not Supported in Aspnet Core 3.1 with default Json."
`[ApiController]
    [Route("[controller]")]
    public class DefaultController : ControllerBase
    {
        [HttpGet]
        public ValueTuple<int, int, int> Index()
        {
            return new ValueTuple<int,int,int>(1,2,3);
        }
    }`

actual output: {}.
expected output:{"item1":1,"item2":2,"item3":3}

[2020-01-09 01:24] bauersystems commented on #5465
Lazy Loading is definitely important for large projects, otherwise it requires either breaking the app out into multiple sites that are loosely coupled together through shared libraries or the whole application needs to be downloaded just to use it.

Is it possible to plan out the functionality in alignment with the current milestones and then handed over to the community to contribute?

[2020-01-09 01:35] anurse commented on #18177
Ah yeah, I missed that you were "sending" an `HttpContext` directly rather than using the HttpClient version. It should indeed have worked then.

[2020-01-09 01:52] pm64 commented on #18200
@blowdart can we remove the area-blazor tag? While Blazor is affected, I don't want this bug to get clumped in with existing known scaffolding issues in Blazor.

[2020-01-09 02:16] eddyzhu1980 opened #18221 "The request matched multiple endpoints after upgrading to 3.0"
After I upgrading to 3.0 from 2.2, I got following error on one function.
fail: Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware[3]
      An exception was thrown attempting to execute the error handler.
System.InvalidOperationException: Invalid non-ASCII or control character in header: 0x000D
   at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.HttpHeaders.ThrowInvalidHeaderChar

[2020-01-09 02:17] AlseinX opened #18222 "[Blazor Server] Static assests are still not working properly for other extension names."
### Describe the bug
Static assets in `wwwroot` with `.js` or `.css` extensions works fine.

But files with other extension names are still 404

### To Reproduce
Create a project with razor class library template
Put `main.less` in `wwwroot/style/` folder
A razor component references it by `<link rel="stylesheet/less" type="text/css" href="_content/ASSEMBLYNAME/style/main.less" />`
Create a blazor

[2020-01-09 03:05] AlseinX commented on #18222
The problem is located in `Startup.cs`
Setting the `ServeUnknownFileTypes` property to `true` does make it possible to access the files with other extensions:
[code]
BUT, `blazor.server.js` becomes 404 now.

[2020-01-09 03:09] Vake93 commented on #18046
Yeah that is something I could do and would be an interesting exercise as well, but for my current project I don't really want to do it as i want to keep this project upto date with future versions of .NET / ASP.NET core. If I implemented identity models and stores again in my code, I would have to upgrade them as well. 😅

[2020-01-09 03:09] avisser commented on #17912
I'm seeing the same thing. Not sure if this helps, but in Rider on OSX Identity.UI v3.1.0 won't open in the Assembly browser. v3.0.0 opens fine and I can browse all the classes in the assembly. Maybe something got biffed in the build?

[2020-01-09 03:10] eddyzhu1980 opened #18223 "cannot insert data into a table with related table's data collection after upgrading to 3.0"
### Describe the bug
A clear and concise description of what the bug is.

After upgrading to 3.0 from 2.2, when I save an order with orderDetails, I got following errors:

fail: Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware[1]
      An unhandled exception has occurred while executing the request.
System.InvalidOperationException: The instance of entity type 'OrderDetail' cannot be tr

[2020-01-09 03:20] DiomedesDominguez opened #18224 "Set Default values and table names with DataAnnotations"
### Is your feature request related to a problem?
I was trying to keep DataAnnotations from a legacy code we have made with .NET Framework, but rewriting all the defaults constraints for MS SQL as fluent in the OnModelCreating method was awful.

### Describe the solution you'd like
Something simple, like modelbuilder.SetDefaults() and read the table attribute and the attributes of their properties

[2020-01-09 03:31] azydevelopment commented on #17962
FYI. If this turns out to be a problem, it seems like it'd be a pretty big one. This would mean that if a user closes a browser and walks away, comes back after the token expires, that they'll get undefined behaviour when the next API call occurs.

I'm hoping I'm missing something and there's actually no issue here or at least a reasonable workaround.

[2020-01-09 03:35] azydevelopment commented on #18178
Thanks. Not a problem. Down the rabbit hole I go.

[2020-01-09 05:05] rynowak commented on #18210
We will not make `CircuitHost` public. Please don't use reflection to access framework internal, we will not offer support if you encounter bugs, and we **will** break your code in patch releases without notice.

Can you be more specific about what you want to do so we can help you? `Circuit` exposes an `Id` property so you can uniquely track it.

[2020-01-09 05:16] rynowak commented on #18186
Why does it have to be opt-in? We wouldn't add a new option in a patch, so it would be in 5.0 which is a major.

Playing devils advocate a bit - this might have been the first time we've heard this complaint. Are more people depending on the current behavior?

[2020-01-09 05:22] rynowak commented on #12171
Yep, this can be closed.

[2020-01-09 05:22] #12171 closed

[2020-01-09 06:01] ldqk opened #18225 "Questions about nuget package reference of Microsoft.AspNetCore.Mvc or Microsoft.AspNetCore.Mvc.Core"
When I was referenced nuget package called Microsoft.AspNetCore.Mvc to develop a class, and my class that inherits from [`VirtualFileResultExecutor`](https://github.com/dotnet/aspnetcore/blob/f8da3e2e331833ff23f8f4ad6ab45c900a362f4b/src/Mvc/Mvc.Core/src/Infrastructure/VirtualFileResultExecutor.cs#L22), and my class needs to implement the constructor of [`VirtualFileResultExecutor`](https://github.

[2020-01-09 06:09] wizofaus opened #18226 "EF InMemory database is shared between tests on Linux but not Windows or Mac"
I have a class with a number of integration tests (Xunit) all using TestServer, and overriding the DbContextOptions dependency injections to do UseInMemoryDatabase instead of the regular UseSqlDatabase. All the tests use the same *name* for the in-memory database. On Windows and Mac this is fine - because each test has its own TestServer and ServiceProvider context, each in-memory database is tota

[2020-01-09 07:55] leastprivilege commented on #18178
Well - if you think this is happening in JavaScript - then probably this is the better place to go:

https://github.com/IdentityModel/oidc-client-js

[2020-01-09 08:45] andy-davies commented on #9436
I tried the polyfill and it seems to work absolutely fine, thanks @Daddoon

The questions really is why can't this be adopted as the official way to support IE11 in the upcoming release?

[2020-01-09 08:51] tester346 commented on #18087
Seems like the problem's fixed.

So as I said previously I added that attribute:

    [AttributeUsage(AttributeTargets.Class | AttributeTargets.Method)]
    public class DisableFormValueModelBindingAttribute : Attribute, IResourceFilter
    {
        public void OnResourceExecuting(ResourceExecutingContext context)
        {
            var factories = context.ValueProviderFactories;
            f

[2020-01-09 08:51] etherealjoy opened #18227 "Blazor File upload"
There are multiple solutions out there for uploading files with Blazor. However is it planned to have an inbuilt Blazor element that can perform this operation and which is user extensible?

### Is your feature request related to a problem? Please describe.

This is a feature request and not related to a problem since we can basically write our own to perform file upload. But would be great to not

[2020-01-09 08:53] isc30 commented on #9436
@andy-davies as far as I know, the IE11 support is just a bunch of polyfills.
I don't think AspNetCore team wants to stick to specific polyfills as a official support

[2020-01-09 09:13] eduherminio commented on #18193
`IRequestCookieCollection` isn't enough for my scenario due to not knowing how a dependency to interacts with it.
As a worse case scenario I can just copy the implementation code and use it directly, as you suggested, but the possibility of a breaking change being introduced that leaves the copied code out of date prevents me from thinking of it as an ideal situation.
Thanks, anyway!

[2020-01-09 09:21] andy-davies commented on #9436
@isc30 Yes, the IE11 support is a polyfill but I don't see a problem with that as they are pretty standard in web development. Angular is an example of a major project that uses polyfills to provide support for IE.

Obviously I'd rather MS just dropped IE altogether... but that's a different topic ;-)

[2020-01-09 09:53] StanislavChankovSellerCloud opened #18228 "ModelStateValidator with nullable reference types not working as expected"
### Describe the bug
I have encountered unexpected behavior with C# 8.0 nullable reference types and AspNetCore ModelStateValidator.
All of the cases are related to request model that inherits from another one.

### To Reproduce
I have prepared sample repository showing some of the unexpected cases.
The cases are described in each of the end-points.
The description contains
- The request model
- T

[2020-01-09 09:57] boukenka opened #18229 "Milestones"
Hello,

Now that a new year is beginning (!), I am wondering if an update of the milestone information could be made for this project.:smile: I hope this is Ok.

Closed Milestones
--------------------------
A. _3.1.0-preview1_: There is still 1 opened issue. Can it be closed? What is the status?
B. _3.1.0-preview3_: There are still 3 opened issues. Can they be closed? What are their statuses?

Ope

[2020-01-09 11:10] as-ivanov commented on #18037
Hi @pranavkm,

Thank you for the detailed feedback. We use runtime compilation intentionally, since we rely on it during partial updates, while startup speed is not an issue for us.

Can confirm that turning off the linker helped. Thank you!

Since compilation can do nothing with stripped out types at runtime, is that possible to just have a more precise error message in case a required type is mi

[2020-01-09 12:32] mrpmorris commented on #18142
I would have
1. A Popup component that you wrap around your content that doesn't render its child content.
2. The component has a `Show` method which executes `IPopopService.Show(ChildContent)`
3. A component in my main layout that subscribes to an `IPopupService` and renders the passed RenderFragment.

[2020-01-09 12:51] zhou-xb commented on #17754
@jspuij  thank you so much, how can you be that rocking smart?

[2020-01-09 13:35] ZonerZoner opened #18230 "HTTP Error 500.30 - ANCM In-Process Start Failure"
**Describe the bug**

Migrated .NET Core 2.2 application to .NET Core 3.1 does not launch if hostingModel="inprocess" is set in web.config. If the hostingModel="inprocess" is removed, the application loads as expected (in inprocess mode).

**Expected behavior**

Application launches also with hostingModel="inprocess" set

**Additional context**
**eventlog**:
Application '/LM/W3SVC/2/ROOT' with phy

[2020-01-09 13:38] alefranz commented on #15384
@anurse how can this be moved forward? Should I create a PR with #15435 based on the 3.1 release branch?

[2020-01-09 13:54] Blackleones opened #18231 "Count how many blazor - signalR connections are currently opened"
Using Blazor Server-Side, is possible to know how many users (signalR connections) are currently connected?

I would create a singleton service with a very simple logic:  the service increments / decrements a counter whenever it receives an event like "new connection attempt" / "connection closed"

[2020-01-09 14:17] thomaslevesque commented on #13834
@anurse done: #18232

[2020-01-09 14:21] bendandoSolo commented on #17962
I have been having a similar issue with my project, after an hour we found that the client app was authenticated but the backend (api controller) was no longer authenticated. To get round this we displayed an error message advising users to logout and login again.

[2020-01-09 15:14] baartho commented on #18129
FYI this might actually be a firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1607038

[2020-01-09 15:32] rpskelton2 commented on #18210
We are creating a server side blazor app to front-end legacy business objects currently used in a large wpf application.  These business objects can be quite sizable (100+ meg).  If the user is in the middle of editing a business object and loses connection (say they turn airplane mode on) we’d like to serialize the modified business object and de-serialize it the next time they connect.  Because

[2020-01-09 15:34] corchi72 commented on #18230
I also had the same problem as you, I used a standard library from an aspnetcore 3.0-3.1 project.
I had not noticed that in the Standard 2.1 library I had left the Microsoft.AspNetCore = 2.2 library, I commented on the line and then removed the library and the problem was solved !!

<Project Sdk = "Microsoft.NET.Sdk">

   <PropertyGroup>
     <TargetFramework> netstandard2.1 </ targetFramework>
  

[2020-01-09 15:36] RealOrko opened #18233 "Thank you for blazor!!! It rocks!!!"
Fellow programmers, been playing with blazor server side. I must say v3 is pretty good. Congradulations to the framework and tooling teams for getting this going. WebAssembly is the next wave and it will hopefully kill javascript with substitute languages like DOTNET Core and RUST.

I have been working as a full stack contractor in London doing horrible javascript front ends with awesome csharp ba

[2020-01-09 15:36] #18233 closed

[2020-01-09 15:51] mythrz commented on #10170
Couldn't agree more. Simple and effective.  +1

Was hoping this would be already implemented:\ but no.
7 months+ already

[2020-01-09 15:52] RealOrko commented on #18233
Looking forward to your Q1/2020 release of client side web assembly, There are so many WebForms/MVC/razor savvy devs in London working in finance, e-commerce, legal that are waiting for your gear to drop.

We are done with javascript! Give us a strongly typed language!

Is this the end of typescript?

[2020-01-09 15:58] RealOrko commented on #18233
@ahejlsberg

You worked under https://en.wikipedia.org/wiki/Niklaus_Wirth

You are my hero. Been folowing you for ages. Thoughts?

[2020-01-09 16:03] llustosa commented on #17894
I'm having the same issue, when trying to debug on OSX. When I call the api, the app crashs with a stack overflow.

[2020-01-09 16:04] ratok-mk opened #18235 "aspnet.core 3.1 application does not use satellite assembly resources like localization of referenced libraries in Linux or docker container"
# aspnet.core 3.1 application does not use satellite assembly resources like localization of dependent libraries in Linux or docker container
I use the **aspnet.core sample** and reference a **dotnet standard 2.1 library** with existing satellite assemblies for localization.

Then I run the aspnet.core app and it works with localization in Windows 10 as expected.
In Ubuntu 18.04 and Docker Runtime

[2020-01-09 16:08] georgiyordanov opened #18236 "HTTPS requests fail with "The ASP.NET Core developer certificate is in an invalid state.""
### Describe the bug
Migrated an aspnet core app from .Net Core 2.2 to .Net Core 3.1 and now requests to the app fail with
[code]

Things I tried without success:

1) `dotnet dev-certs https --clean`, `dotnet dev-certs https` and `dotnet dev-certs https --trust` as described in the exception

2) manually deleting the certificates from the keychain and the running `dotnet dev-certs https --trust`

[2020-01-09 16:16] llustosa opened #18237 "Stack Overflow on Mac OS"
I'm having this issue for some time already, but only happens in OSX. For some reason the app crash with a stack overflow. As a workaround I run the app inside a docker container, and everything runs fine. In dotnet 2.1 this issue occurs more sporadically, but now I'm upgrading to dotnet 3.1 and just calling an api method makes the app crash.
The 2.1 version are at [https://github.com/bizanc/Bizan

[2020-01-09 17:02] vsfeedback opened #18238 "migration from netcore2.2 to netcore3.0 problems"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/878473/migration-from-netcore22-to-netcore30-problems.html)._

---
<p>Hi, I follow the guide on line for migration of project in netcore2.2 to netcore3.3</p><p>I have IdentityServer too.</p><p>but I have different problems so I put my startup.cs</p><p>I have this project, i

[2020-01-09 17:11] mkArtakMSFT commented on #18238
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-01-09 17:16] azydevelopment commented on #17962
Yeah that's the behaviour I get. The client app lets me into JSX defined AuthorizeRoute paths but when an API call is made, a 401 is returned and the client app doesn't know what to do with it.

Having a user log out and log in again does not seem like a valid solution to me and just doesn't match the expected UX of an app with authentication/authorization and a 'Remember Me' checkbox.

[2020-01-09 17:20] mrpmorris opened #18239 "Blazor: Inconsistent binding behaviour"
When passing a value to a component's parameter, Blazor passes the value of the variable when the parameter is not a string, and the name of the variable when it is a string.

Component that receives the values
[code]

Index.razor
[code]

**Expected output**
BooleanParam = True
IntegerParam = 42
StringParam = We should see this value

**Actual output**
BooleanParam = True
IntegerParam = 42
StringP

[2020-01-09 17:29] Pilchie commented on #18229
Tagging @mkArtakMSFT who usually cleans up milestones.

[2020-01-09 17:31] dsuryd commented on #16978
I had the same problem but was able to get it to work by adding the below line, according to the given solution hint:

[code]

"markerfile" is a file that must exist in the given directory.  I use "appsettings.json" for that purpose.

[2020-01-09 17:32] ppadarthi commented on #17662
We have upgraded our .net core project from 2.1 to 3.1.0 and are using Visual studio 2019 (16.4). I was able to get the application running in local IIS but is failing to run on IIS in Demo/QA environments, throwing a generic error, "HTTP Error 500.30 - ANCM In-Process Start Failure". After logging enabled found the error as below. I checked all the appsettings Json files  and they were not modifi

[2020-01-09 17:36] Pilchie commented on #18226
@ajcvickers ?

[2020-01-09 17:37] anurse commented on #18198
Looks like something we should fix. We'll take a look.

As a workaround for now, we think using the `TestServer.SendAsync` API that lets you directly set properties on `HttpContext` might work.

[2020-01-09 17:37] Pilchie commented on #18223
@ajcvickers ?

[2020-01-09 17:37] mkArtakMSFT commented on #18239
Thank you for your feedback.
We're closing this issue as the behavior discussed is by design. Strings are being treated differently and this is true not only for Blazor but also in Razor generally. This is not something we can change as that would be a breaking change with a huge impact.

[2020-01-09 17:37] #18239 closed

[2020-01-09 17:39] mkArtakMSFT commented on #18231
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2020-01-09 17:41] mkArtakMSFT commented on #18227
Thanks for contacting us.
We do have an existing issue tracking a similar ask: https://github.com/dotnet/aspnetcore/issues/17056
So we're closing this issue in favor of the referenced one.

[2020-01-09 17:41] #18227 closed

[2020-01-09 17:42] mkArtakMSFT commented on #18222
Thanks for contacting us.
@javiercn can you please look into this? Thanks!

[2020-01-09 17:46] mrpmorris commented on #18239
Shame it wasn't changed in 3.0

[2020-01-09 17:47] mkArtakMSFT commented on #18215
Thanks for contacting us, @Andrzej-W.
This is not something the framework has a say in.
It comes from the underyling platforms (WASM, Windows and Linux) and the cultures they have/support are indeed different. Mono WASM does some customization regarding these and you can learn more about that by posting a question in their repo: https://github.com/mono/mono

[2020-01-09 17:47] #18215 closed

[2020-01-09 17:57] rynowak commented on #18210
So based on your code sample, it sounds like what you need is access to the service associated with the circuit. Is that right? This seems reasonable.

It was one of the first features we designed, and it's intended for usage like yours. I think at the time we added it, there were some other services you could see to peek inside the service collection.

[2020-01-09 17:57] mkArtakMSFT commented on #18235
Thanks for contacting us.
We'll look into what's causing this and get back to you.

[2020-01-09 17:59] mkArtakMSFT commented on #18209
Thanks for contacting us. This is not part of the runtime feature-set. Please use the VS Feedback to report this issue, so the team who owns the area can track the ask.

[2020-01-09 17:59] #18209 closed

[2020-01-09 18:17] m0sa commented on #18198
Thanks for the workaround. It's indeed sufficient for what we want to test!

[2020-01-09 18:20] Tratcher commented on #18198
Here's a SendAsync example:
[code]

[2020-01-09 18:29] anurse commented on #18198
@m0sa excellent, glad you're unblocked!

[2020-01-09 18:31] Tratcher commented on #18198
User-Agent defies the normal HTTP rules as it's explicitly space delimited. HttpClient normally deals with this by overriding the separator (only user-agent does this).
https://github.com/dotnet/runtime/blob/aa13fb88d7640f1ccee952976ea45345c97cd7a3/src/libraries/System.Net.Http/src/System/Net/Http/Headers/ProductInfoHeaderParser.cs#L13-L14
https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2f

[2020-01-09 18:31] anurse commented on #17662
@ppadarthi It sounds like this is an unrelated issue (at least from first glance). Please file a new issue with the details. If it turns out to be related, we'll figure that out later :).

[2020-01-09 18:33] anurse commented on #15384
@alefranz best bet is to send a PR to `master` and open a separate PR later to backport it. We'll have to take the 3.1 backport PR for approval for servicing.

[2020-01-09 18:34] pranavkm commented on #18225
Hi @ldqk, the 3.1 API reference looks fine: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.infrastructure.virtualfileresultexecutor.-ctor?view=aspnetcore-3.1#Microsoft_AspNetCore_Mvc_Infrastructure_VirtualFileResultExecutor__ctor_Microsoft_Extensions_Logging_ILoggerFactory_Microsoft_AspNetCore_Hosting_IWebHostEnvironment_. It looks like you're referencing the 2.2 version of t

[2020-01-09 18:35] anurse commented on #15384
Although I'm not entirely clear on the current state since the linked PR was to master but closed.

If there's a change to be made in `master`, it's best to start there and open a backport PR for approval. If the only change needed is in 3.1, we can go straight there and seek approval. If you're concerned about doing the work and then having it rejected, we can talk about the impact of the issue a

[2020-01-09 18:37] frostbomber commented on #9020
@Tratcher Ah yes you are correct. I was running the gRPC service as self hosted, not IIS Express. Thanks!

[2020-01-09 18:37] anurse commented on #18193
I'm not really clear what you mean here. Do you have a dependency that is expecting specific behavior from `RequestCookieCollection`? If not, you should trust the interface here. It's intended to isolate you from the implementation and support exactly this kind of scenario (allowing components to use a different implementation).

[2020-01-09 18:38] anurse commented on #18186
@rynowak Sure, we could also just take the break.

[2020-01-09 18:46] anurse commented on #18200
This issue was moved to aspnet/Scaffolding#1225

[2020-01-09 18:46] #18200 closed

[2020-01-09 18:48] gbbsoft commented on #18186
What does it mean?

[2020-01-09 18:51] anurse commented on #18186
@gbbsoft I was suggesting that if you wanted to contribute this fix yourself, we'd be happy to review a Pull Request. If not, that's fine, it's on our queue and we'll look at it for a future release.

[2020-01-09 18:55] rynowak commented on #18233
Firstly, @RealOrko thanks for everything positive you have to say about Blazor, we're happy to hear that you love it!

Secondly, it's definitely **not** our goal to stop people from using JavaScript or TypeScript if that's what they like. Blazor is another option among a whole bunch of great choices. I think what speaks to a lot of folks is that they like .NET and C# and want to use it for everyth

[2020-01-09 18:56] pranavkm commented on #18210
Hi @rpskelton2, you should be able to DI in services from the current scope as part of your circuit handler. In your case, something like this should work:

[code]

Does this help in this particular scenario?

[2020-01-09 19:12] admir86 opened #18241 "Multiple AuthenticationHandlers still not working as expected in .net core 3.1"
### Describe the bug
Not sure if it's a duplicate of https://github.com/dotnet/aspnetcore/issues/17485
If I return `Forbid()` in my ApiController which is using specific AuthenticationSchemes it redirects to the account/AccessDenied. The default AuthenticationScheme seems to be used. Instead of the AuthenticationSchemes defined via Authorize attribute.

I tried to set `options.ForwardDefault` oder

[2020-01-09 19:19] JunTaoLuo commented on #11072
Sounds like we were waiting for a feature from Arcade to get the .vsman file generated? I took a look in our builds and it looks like we are not generating this file at the moment. I'm assuming that @jkotalik has done the required work for wrapping via nupkg in https://github.com/dotnet/aspnetcore/issues/11071 in the mean time.

[2020-01-09 19:19] pranavkm opened #18242 "CircuitHost.OnConnectionDownAsync executes twice on closing"
Makes it hard to use reliably

[2020-01-09 19:22] ryanbrandenburg commented on #18173
While we're at it we should re-examine our format a bit. Currently we aren't really using LSP, so we'll have to rewrite things a bunch of times. Because we need to go out to OmniSharp some of that is unavoidable (and we probably can't use the base codeactions endpoint from the spec :frowning_face:) but we can definitely reduce the amount of rewriting we'll need to do with some custom LSP endpoints

[2020-01-09 19:25] pranavkm commented on #18231
Hi @Blackleones, you could use the connection-up and connection-down events on a `CircuitHandler` to keep track of this. You can [register a singleton instance](https://github.com/dotnet/aspnetcore/blob/master/src/Components/test/testassets/ComponentsApp.Server/Startup.cs#L17) of a `CircuitHandler`  and use these events to track connections being set up and torn down. Note that there is a bug wher

[2020-01-09 19:53] HaoK commented on #18140
Fixed for 5.0, port to 3.1 still pending branch lockdown

[2020-01-09 19:55] jbagley-iona opened #18243 "Inconsistent null parameter handling with IJsonHelper.Serialize"
### Describe the bug
The IJsonHelper.Serialize implementations differ in their null handling in ASP.NET Core 3.1.  In 3.1, the version taking a JsonSerializerSettings instance throws an exception when passed a null value to serialize.  In 2.2, both versions accepted a null value to serialize (and returned "null" as the result).

### To Reproduce
[code]
### Further technical details
- ASP.NET Core

[2020-01-09 19:56] krchome opened #18244 "Is there a way in Blazor (interop or other) to show/hide an input date element on selecting a particular option in a select list"
I have a razor component (Blazor) code snippet as follows:
[code]

What I want to do is to hide the input date element if the status "Completed" is selected.
Thanks in advance.

[2020-01-09 20:44] NeilMcKechnie commented on #17912
Hmmm, not sure what changed in my environment but it is working now, using ASP.Net Core 3.1 and Microsoft.Extensions.Hosting.IWebHostingEnvironment .

[2020-01-09 21:07] JulienM28 opened #18245 "Blazor Cast List<T>"
I have this class:

[code]
I have a list of SupplierDto Deserilized from a json string:
[code]
And i want to cas it do I did that:
[code]

I get this error:

blazor.webassembly.js:1 WASM: ﻿Unhandled exception rendering component:
h.printErr @ blazor.webassembly.js:1
blazor.webassembly.js:1 WASM: System.InvalidCastException: Specified cast is not valid.
h.printErr @ blazor.webassembly.js:1
blazor.w

[2020-01-09 21:10] Tratcher commented on #18177
I see the problem, you need to set the request scheme to `https`.
`context.Request.Scheme = "https";`
Cert auth no-ops for `http` requests.
https://github.com/dotnet/aspnetcore/blob/da984f57c508819704004d24245cff17c7f43bbc/src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs#L47-L54

[2020-01-09 21:31] danroth27 commented on #5477
Another Blazor WebAssembly false positive:

![image](https://user-images.githubusercontent.com/1874516/72106429-35840c00-32e4-11ea-856b-e6f467787e8b.png)

[2020-01-09 21:32] HaoK commented on #17905
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/additional-claims?view=aspnetcore-3.1 is the official document that we have, @guardrex should we incorporate some of these questions into that doc?

[2020-01-09 21:43] guardrex commented on #17905
I'll open an issue to take a look at this.

[2020-01-09 21:45] HaoK commented on #17905
Thanks @guardrex

closing this issue @marcuslindblom feel free to use the docs issue for any further discussion

[2020-01-09 21:45] #17905 closed

[2020-01-09 22:01] Tratcher commented on #18189
The new SameSiteMode.None behavior was not patched into 2.0.0, the minimum required version is the latest 2.1.x.

[2020-01-09 22:04] HaoK commented on #17451
Your problem is most likely the issue that you are creating new users right before your generate the token, its relying on the security stamp which is expected to be stable

[2020-01-09 22:08] llustosa commented on #18237
Just to give more clarification to the issue:
The stable version uses dotnet core 2.2.6. The application uses ravendb embedded targeting this version specifically. The updated version run on dotnet 3.1 but the database uses the 2.2.8 runtime. There are no code changes, just dependency updates and asp net changes demanded by asp net 3.
I had executed more tests on a Centos 7 machine. The older vers

[2020-01-09 22:11] anurse commented on #17768
We still can't repro the issue described in the original post.

@clement911 It's certainly possible that some aspect of your app configuration could be revealing a bug here, but without a runnable sample it's hard to identify that.

Closing this issue for now as there's no further action we can take at this time. When/if you are able to get a repro, we can reopen (or feel free to file a new bug!).

[2020-01-09 22:11] #17768 closed

[2020-01-09 22:12] anurse commented on #18156
It shouldn't be possible to create a policy with no requirements though. We explictly don't want policies with zero requirements because that wouldn't make sense. Where are you seeing this behavior?

[2020-01-09 22:14] anurse commented on #18208
@kccsf can you provide a runnable sample that reproduces this problem? It's not clear what kind of auth you have configured and it's possible you're configuring the wrong cookie.

[2020-01-09 22:18] anurse commented on #18241
Which auth scheme is used by `Forbid()` is defined exclusively by [`AuthenticationOptions.DefaultForbidScheme`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.authenticationoptions.defaultforbidscheme?view=aspnetcore-3.1), so the auth scheme used on your `AuthorizeAttribute` isn't factored in.

It might be reasonable for MVC's `Forbid()` helper to look at the activ

[2020-01-09 22:20] anurse commented on #18189
Closing this. ASP.NET Core 2.0 is end-of-life and this issue is known to be fixed in 2.1.

[2020-01-09 22:20] #18189 closed

[2020-01-09 22:35] HaoK commented on #17780
@yohsii So the main issue you will run into is that only one of the sign in managers can be registered, the other one you will have to manually call the httpcontext.signin methods with the appropriate cookies.  So you want to call AddDefaultIdentity with the main user you want to be signed in, and you can try calling the authentication apis directly for the other user type.

[2020-01-09 22:38] kccsf commented on #18208
@anurse - the following will generate that:
   dotnet new angular --auth Individual

Thanks
Steve

[2020-01-09 22:55] ryanbrandenburg commented on #18173
The current thinking is to take the SyntaxTreeComparison structure from Roslyn EditAndContinue and apply it to this problem. We would take the EditScript produced by that and inspect it to see if the node modifications on it are handle-able by us (IE: "Create a using node with this parent node" would be add using, "Move function from parent class to parent statement" would be make function local).

[2020-01-09 23:36] rynowak commented on #18243
We should fix this, it's inconvenient to validate non-null for an optional parameter.

[2020-01-10 00:10] gaelian commented on #17693
Hi @blowdart,

Here's a project I just pushed for you:

https://github.com/gaelian/TestApp

Haven't tested on any other machines as yet to see if perhaps it's machine-specific.

I've also attached a screen shot of what things look like when I debug:
![error](https://user-images.githubusercontent.com/357458/72114892-29a65180-3399-11ea-9f48-9150cdfc946e.png)

[2020-01-10 00:12] pranavkm commented on #18228
@StanislavChankovSellerCloud looking at your app, it's likely that most of your issues are a manifestation of https://github.com/dotnet/aspnetcore/issues/14812. This was fixed in the 3.1 release. I tried running your app using the 3.1 runtime and it appears to behave correctly. Could you try upgrading and let us know if you still see issues here?

[2020-01-10 00:18] mkArtakMSFT opened #18252 "Merge AspNetCore-Tooling repo into AspNetCore"
As part of the work described [here](https://github.com/dotnet/announcements/issues/127) the `dotnet/aspnetcore-tooling` repo should merge into `dotnet/aspnetcore`

[2020-01-10 01:35] Kahbazi commented on #18095
@anurse When can I see the new `CommandLineApplication` in this repo?

[2020-01-10 01:36] rpskelton2 commented on #18210
I will give this a try.  Thank you!

On a side note, it seems that simply implementing IDisposable on my BusinessObj service (AddScoped) allows me to accomplish the same thing.  Just check for .Dirty in the Dispose method and serialize to redis there.  Do you see any benefits to using a CircuitHandler over that?

[2020-01-10 02:10] ldqk commented on #18225
That's right! But I have been installed .NET Core 3.1 SDK and Runtime,and my project has been upgraded latest target framework .NET Standard 2.1 also, and project referenced nuget package `Microsoft.AspNetCore.Mvc` version is 2.2.0, The .NET Core 3.0 released at 11/19/2019, but I checked nuget package `Microsoft.AspNetCore.Mvc` and `Microsoft.AspNetCore.Mvc.Core` on https://www.nuget.org, they are

[2020-01-10 03:41] pranavkm commented on #18210
The events on the `CircuitHandler` are a bit clearer about the intent compared to object initialization and disposal, but I can't think of a very good reason why you wouldn't be able to use disposal to do work. If you're serializing to Redis, implementing `IAsyncDisposable` on your service might be more appropriate.

[2020-01-10 06:06] marcuslindblom opened #18257 "Access UIHint attribute from TagHelper"
I use this code in my `TagHelper`:
[code]
but the `ModelMetadata` does not seem to have eg the `UIHintAttribute`. How can I access this from my helper? I would like to read the presentation layer and controlParameters.

[2020-01-10 06:17] mmarinchenko commented on #16862
@javiercn

**1.** Any plans to simplify this by adding support for something like:
[code]
?

**2.** dotnet sdk has templates which contain wwwroot folder with bootstrap etc. So after the following commands (for example):
[code]
we end up with wwwroot folder inside Distrib which contains application web assets and another copy of assets under Identity subfolder:
[code]
Any plans to solve this someh

[2020-01-10 07:15] etherealjoy commented on #18227
OK thanks

[2020-01-10 07:17] etherealjoy commented on #17056
I tried the one from the blog post of @SteveSandersonMS and it is intuitive, but it is not yet migrated to net core 3.1 LTS.

We can continue to use this until the built in solution is ready.

[2020-01-10 08:10] lukasz-pyrzyk opened #18258 "TestServer throws IOException when client timeout occurs"
### Describe the bug
I have been writing tests with `WebApplicationFactory` for my wrapper around HttpClient shared between many projects. I've spotted a quite surprising exception when I tried to validate my Polly retry logic for request timeout - `OException : The client aborted the request`. The exception does not occur when I change my test to use remote instance instead of one from `WebApplic

[2020-01-10 08:25] marcuslindblom commented on #18257
It seems to work like this:
[code]
... but is this the way to do it?

[2020-01-10 08:39] WernerMairl opened #18259 "Question: graceful shutdown on Azure AppServices (Linux/Docker) via IHostApplicationLifeTime"
Hi

My Environment is Azure Web App using Linux and Docker (using the official asp net core 3.1 runtime container as base)

I'm using the newest (3.1) hosting and lifetime interfaces (IHostApplicationLifeTime), and i get the "ApplicationStarted" events BUT i miss every event regarding ApplicationStopping/ApplicationStopped.

I have found the following issue, that explains how this should be solved

[2020-01-10 08:53] StanislavChankovSellerCloud commented on #18228
@pranavkm , thank you. I approve that all of my not working cases are fixed in netcoreapp3.1.
The behavior was very messy and hard to understand how it breaks. Good job to the team for the fix provision.

[2020-01-10 08:53] #18228 closed

[2020-01-10 09:02] eduherminio commented on #18193
I guess you're right, mocking `TryGetValue` and indexer should be enough in my case.

[2020-01-10 09:02] #18193 closed

[2020-01-10 09:18] yohsii commented on #17780
hi @HaoK
if you look at the code i posted before your last comment, i'm manually registering the SignInManager for the second type of user.
[code]
i've just tested this and i am able to use both sign in managers for the two different types of user and both can log in just fine.

[2020-01-10 09:18] ratok-mk commented on #18235
Help is really appreciated, since most descriptions about ASP.Net Core Localization only describe the Web Application Code and do not describe localization of referenced libraries:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1
https://docs.microsoft.com/en-us/dotnet/standard/globalization-localization/

[2020-01-10 09:30] HaoK commented on #17780
So it looks like you have gotten things working via ForwardAuthenticate?  I don't think this is something common enough to document as its not something we would recommend people do, nor is it something we are intentionally trying to support (multiple sign in managers).

[2020-01-10 09:35] yohsii commented on #17780
i reckon this functionality is critical for anybody building a cms or any other similar system which needs more flexibility with regards to security. i'm just glad this works and hope it will continue to work going forward.
anyway this issue is here now for anybody else who finds themselves in this situation.

[2020-01-10 09:38] am11 commented on #18109
Related to another IsLocalUrl behavior; according to https://tools.ietf.org/html/rfc8089, these are also local URLs:

*  file:///path/to/file
*  file:/path/to/file
*  file:c:/path/to/file
*  file:///c|/path/to/file
*  file:/c|/path/to/file
*  file:c|/path/to/file

whereas, these are not:

*  file://host.example.com/path/to/file
*  file:////host.example.com/path/to/file
*  file://///host.example.co

[2020-01-10 09:44] RafaelVieira2323 opened #18260 "Signalr.client : The server disconnected before the handshake could be started."
Hy,

I am trying to make a connection between my mobile application on android and ios with the server that is hosted on an azure machine. And whenever I try to connect to the server to connect to the signalr service. Always give me this error: "The server disconnected before the handshake could".

[2020-01-10 10:19] PillowMetal commented on #8998
Migrated from 2.2 to 3.1 and had an Ajax call to an action where both the Ajax URL and the target action had an Async suffix but was getting a 404 error. Thankfully it only took me 2 hours to figure out the suffix was being stripped (by eventually noticing that calling other action names worked fine and so did my desired action when I gave it the same name). Even with the headache it caused, I do

[2020-01-10 10:38] victormarante commented on #18230
We are having the same issue @ZonerZoner mentioned. Removing hostingModel="inprocess" fixes the issue for us. We are also making sure only 3.x packages are referenced, so that's not an issue.

Is there a way to set this value directly from release/deploy in Azure DevOps? It's not really feasible to go in and change this every time we redeploy our App Services.

[2020-01-10 11:32] SteveSandersonMS commented on #17022
Done in https://github.com/dotnet/aspnetcore/pull/18165

[2020-01-10 11:32] #17022 closed

[2020-01-10 13:51] Oninaig commented on #17993
@mrpmorris your suggestion definitely helps and I have reduced the redundant re-renders but a bunch.  Thank you so much.

[2020-01-10 13:54] gthvidsten opened #18262 "HTTP Error 500.30 - ANCM In-Process Start Failure"
Yet another HTTP Error 500.30 - ANCM In-Process Start Failure :S

### Describe the bug

I have a .NET Core 3 app that runs just fine locally, so I deploy it to an Azure App Service, where it also runs just fine.
Now that we've tested it I want to deploy it to another Azure App Service for more long term testing. This App Service has (seemingly) the exact same settings as the first one.

On the sec

[2020-01-10 14:23] jhermsen opened #18263 "MapDynamicPageRoute<> How to use?"
I tried using the folowing in startup configure:
[code]

And this is the RouteTranslate class:
[code]

The page is created as Areas\Test\Pages\Index.cshtml

Going to (host)/test/index works
going to (host)/testalias/index does not work.

Am I missing something or is there a bug in this feature?

[2020-01-10 14:58] ssunkari commented on #14907
I got it working by implementing custom factory for my container setup. In my case its Autofac. I have tweaked the IServiceProviderFacotry<ContainerBuilder> implementation of Autofac library
    public class CustomAutofacServiceProviderFactory : IServiceProviderFactory<ContainerBuilder>
    {
        private readonly Action<ContainerBuilder> _configurationOverride;
        private readonly Action<

[2020-01-10 15:36] javiercn commented on #18263
@jhermsen thanks for contacting us.

@rynowak @JamesNK do we have docs about this?

[2020-01-10 15:39] javiercn commented on #18245
@JulienM28 thanks for contacting us.

We think this is a mono issue, I would suggest you file an issue in the [mono repo](https://github.com/mono/mono) as they will be able to give you a faster and better answer.

We would also suggest you try a couple of things:
* Does this code snippet work in .NET Core?
* What happens if you call OfType instead of cast. Do you get an empty result set?

[2020-01-10 15:42] javiercn commented on #18244
Thanks for contacting us @krchome .

It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to StackOverflow using the asp.net-core-blazor tag.

You could use an if around the input type
[code]

[2020-01-10 15:43] rpskelton2 commented on #18210
@pranavkm, thank you for your help.  I'm going to close this since I now have multiple ways to solve.

[2020-01-10 15:43] #18210 closed

[2020-01-10 15:44] javiercn commented on #18190
@antoinecfmws thanks for contacting us.

There is no web api template supporting individual auth (Identity) at this time.

[2020-01-10 15:44] #18190 closed

[2020-01-10 15:49] javiercn commented on #18257
@marcuslindblom thanks for contacting us.

I don't see any issue with the way you are doing it (other than the downcast).

You can probably get it from `metadata.TypeOrUnderlyingType.Attributes` if you wanted to avoid the downcast.

Hope that helps.

[2020-01-10 15:49] #18257 closed

[2020-01-10 16:24] javiercn commented on #16978
@dsuryd is the right way to approach this.

That's why that functionality is present in `WebApplicationFactoryContentRoot`.

[2020-01-10 16:24] #16978 closed

[2020-01-10 16:27] BrennanConroy commented on #18260
Could you collect client and server logs? https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1

[2020-01-10 16:27] javiercn commented on #18222
This has nothing to do with static web assets but with the static files middleware being incorrectly configured.

You need to configure the StaticFileOptions with the with a content type provider
 that contains your extension. See `FileExtensionContentTypeProvider` for details.

[2020-01-10 16:27] #18222 closed

[2020-01-10 16:30] Kiechlus opened #18264 "Kestrel BadHttpRequestException: Url with space in path is misinterpreted as bad http version"
This works: https://rhs-d15.robotics-rd.stryker.com/api/v1.2/facilities/foobar

Now adding a space: https://rhs-d15.robotics-rd.stryker.com/api/v1.2/facilities/foo%20bar

This fails with HTTP Status Code `505` Bad Http Version:

[code]
So he somehow misinterprets what is coming after the space as http version!

Running on aks with kubernetes `1.13.10` on `mcr.microsoft.com/dotnet/core/aspnet:3.1`

[2020-01-10 16:30] oculys-andrew opened #18265 "SameSite=None not working in ASP.NET Core 2.1 targeting .NET Framework 4.7.2"
### Describe the bug
The new SameSite=None behavior works properly in ASP.NET Core 2.1 projects running on .NET Core, but when I create a cookie the same way in ASP.NET Core running on .NET Framework 4.7.2 (with latest patches installed), it does not explicitly set SameSite=None on the cookie.

### To Reproduce
In Visual Studio 2017 (15.9.18), create a new ASP.NET Core Web Application, targeting .

[2020-01-10 16:32] SteveSandersonMS commented on #18192
Fixed in https://github.com/dotnet/aspnetcore/pull/18234

[2020-01-10 16:32] #18192 closed

[2020-01-10 16:33] javiercn commented on #16862
@mmarinchenko I don't think we plan to do this.

At best we would offer a property in the identity UI package to turn off adding these assets, but we don't plan to build generic functionality for this, as there is already an extensibility point to do this.

We don't plan to extend the PackageReference itemgroup for this feature.

[2020-01-10 16:36] javiercn commented on #18221
@eddyzhu1980 thanks for contacting us.

@rynowak do you have any thoughts?

[2020-01-10 16:47] RafaelVieira2323 commented on #18260
I will collect client and server logs. And I will insert here.

[2020-01-10 16:51] grahamehorner opened #18268 "[Question:Blazor] How would I detect if my code is running client side?"
Q: How would I detect if my code is running client side within a browser (wasm-runtime)
is it possible to use RuntimeInformation.IsPlatform ?

[2020-01-10 16:51] mmarinchenko commented on #16862
Ok, thanks.

[2020-01-10 17:02] ScottKaye commented on #17740
This is happening to me as well.

`dotnet --info`:
[code]

When I start in debug mode, the application launches, and I am able to use it normally through the IIS proxy.  However, whenever I make a change to any module (and cause the reload to trigger), the `sockjs-node` websocket receives an error:

[code]

[2020-01-10 17:12] #18244 closed

[2020-01-10 17:13] javiercn commented on #18268
@grahamehorner thanks for contacting us.

You can do this with
[code]

[2020-01-10 17:18] mkArtakMSFT commented on #18169
Thanks @KieranDevvs.

@pranavkm can you please look into this? Thanks!

[2020-01-10 17:20] garrettjoecox opened #18269 "Adjust PasswordOptions defaults to be more in-line with NIST recommendations"
### Is your feature request related to a problem? Please describe.
The default password options set in [/src/Identity/Extensions.Core/src/PasswordOptions.cs](https://github.com/dotnet/aspnetcore/blob/master/src/Identity/Extensions.Core/src/PasswordOptions.cs) are not in-line with the the current recommendations from the NIST, [See section 5.1.1.2 here](https://pages.nist.gov/800-63-3/sp800-63b.htm

[2020-01-10 17:21] mkArtakMSFT commented on #18266
Thanks for contacting us, @RomBrz.
@ajcvickers do you know what this assembly is and who is best positioned to look into this? Thanks!

[2020-01-10 17:22] mkArtakMSFT commented on #18267
Thanks for contacting us, @Jelgab.
@pranavkm can you please look into this? Thanks!

[2020-01-10 17:52] pranavkm commented on #18267
@Jelab it's likely returning a [204](https://github.com/dotnet/aspnetcore/issues/8847) the second time around. Can you use a REST client and verify this or look at the browser network tab? It's likely returning the browser doesn't update when it sees a 204 response.

[2020-01-10 17:55] #18198 closed

[2020-01-10 18:05] msft-mw opened #18270 "Date response header cannot be cleared"
I have a project where I want to set `Cache-Control: no-cache, no-store`, which I'm able to do by adding a middleware item.

But when I was testing, I noticed that calls were returning a `Date` header automatically. I tried clearing the header by setting its value to `StringValues.Empty` and it still shows up. It's not a deal-breaker I guess, but it's weird to me to have it when I'm setting `no-ca

[2020-01-10 18:15] mkArtakMSFT commented on #8000
This is a dupe of https://github.com/dotnet/aspnetcore/issues/16874

[2020-01-10 18:15] #8000 closed

[2020-01-10 18:19] mkArtakMSFT commented on #6112
@rynowak, @NTaylorMullen are all these items done already?

[2020-01-10 18:20] mrpmorris commented on #17993
I appreciate you letting me know. Thank you!

[2020-01-10 18:25] mkArtakMSFT commented on #11471
Moving into the `5.0.0-preview1` to see how will we be tracking the investigation of this in 5.0 timeframe.

[2020-01-10 18:27] mkArtakMSFT commented on #17056
This is a dupe of https://github.com/dotnet/aspnetcore/issues/12205, which we will be considering for 5.0.

[2020-01-10 18:27] #17056 closed

[2020-01-10 18:30] mkArtakMSFT commented on #5603
We'll be handling this as part of https://github.com/dotnet/aspnetcore/issues/8433

[2020-01-10 18:30] #5603 closed

[2020-01-10 18:38] mkArtakMSFT commented on #17067
We'll be handling this as part of https://github.com/dotnet/aspnetcore/issues/10170

[2020-01-10 18:38] #17067 closed

[2020-01-10 18:40] mkArtakMSFT commented on #14434
@javiercn what's the status here?

[2020-01-10 18:44] mkArtakMSFT commented on #5554
@javiercn isn't this done already?

[2020-01-10 18:45] Eilon commented on #11471
Tune in this Tuesday to see some exciting demos!

https://focus.dotnetconf.net/Agenda

![image](https://user-images.githubusercontent.com/202643/72177796-560c9e80-3396-11ea-9648-6c382e94eb06.png)

[2020-01-10 18:45] mkArtakMSFT opened #18271 "Improve SVG support in Blazor"
Treating this as the top-level issue for SVG support in Blazor to track

[2020-01-10 18:51] blowdart commented on #18270
Date is mandatory (except in the edge case where your server doesn't have a clock)

_[7.1.1.2. Date](https://tools.ietf.org/html/rfc7231#section-7.1.1.2)

An origin server MUST NOT send a Date header field if it does not have a clock capable of providing a reasonable approximation of the current instance in Coordinated Universal Time. An origin server MAY send a Date header field if the response i

[2020-01-10 18:52] javiercn commented on #5554
@mkArtakMSFT Nope, but this should be trivial. If @SteveSandersonMS was looking for cheap stuff, this is a candidate.

[2020-01-10 18:53] javiercn commented on #14434
@mkArtakMSFT We didn't do this for 3.1, but I want to tackle this in some form as part of the blazor-wasm release by adding helpers on the Blazor.Server package.

On the 5.0 timeframe we can move this to MVC itself

[2020-01-10 18:53] itz-Ryan opened #18272 "services.AddIdentity - Redirect to login page 404 error"
Hello,

I created a new ASP.NET Core web application (Razor Pages with Individual access rights as the authentication option and .NET Core 3.1 as the framework).

1.) I created a new model called "ApplicationUser" that inherits from IdentityUser. I just added 2 new columns FirstName and LastName.

2.) I added the ApplicationUser to the applicationDbContext and migrated it to the database.

3.) I s

[2020-01-10 18:56] mkArtakMSFT commented on #16687
@rynowak is there any other work left here? We have existing issue tracking localization for Blazor WASM: https://github.com/dotnet/aspnetcore/issues/17016

[2020-01-10 19:02] matryosha opened #18273 "Building from source issue: "error : The DateTimeOffset specified cannot be converted into a Zip file timestamp""
Trying to build asp net core from source on release/3.1 branch with `build.sh -pack` command,  I'm getting several same errors on some projects:
[code]
[Full Log](https://pastebin.com/BQAfxeKM)

## Steps to reproduce:
1. Clone repo as [BuildFromSource.md](https://github.com/dotnet/aspnetcore/blob/master/docs/BuildFromSource.md) says
3. `cd` to aspnetcore directory
2. Checkout to `release/3.1` bran

[2020-01-10 19:04] mkArtakMSFT commented on #8886
Moving to 5.0.0-preview1 to discuss whether this is something we should consider in 5.0.

[2020-01-10 19:05] BenVillalobos commented on #17269
Posting a temporary solution for this where I can. It's also posted (along with a bit of context) at microsoft/msbuild#4996

https://github.com/microsoft/msbuild/issues/4806#issuecomment-541018341

[2020-01-10 19:07] mkArtakMSFT commented on #10480
@NTaylorMullen can you please dupe this with the work we do to cover this? Thanks.

[2020-01-10 19:12] mkArtakMSFT commented on #10198
Thanks for contacting us. This seems to be a dupe of https://github.com/dotnet/aspnetcore/issues/17036

[2020-01-10 19:12] #10198 closed

[2020-01-10 19:12] anurse commented on #18265
@Tratcher will take a look here. @oculys-andrew can you provide a runnable project that reproduces the issue? If @Tratcher can't repro this we may need that to ensure we fully understand your context.

[2020-01-10 19:18] anurse commented on #18264
Is your ingress decoding the URL? What is the actual URL as it arrives at Kestrel? The exception message indicates that what Kestrel is getting is an **unescaped** space. We know that if Kestrel recieves a properly escaped `%20` space in the URL it should work properly.

[2020-01-10 19:21] mkArtakMSFT commented on #5467
Closing this issue as we have nothing concrete proposed here. If there is something specific you believe should be done here please file a new issue with your specific proposal.

[2020-01-10 19:21] #5467 closed

[2020-01-10 19:21] mkArtakMSFT commented on #5595
Hi. Thanks for contacting us.
We're closing this issue as there was not much community interest in this ask for quite a while now.

[2020-01-10 19:21] #5595 closed

[2020-01-10 19:21] anurse commented on #18259
We'll need to look at what a "Stop" command on the portal actually does. If it does `docker stop` on the container it *should* be triggering the events properly.

[2020-01-10 19:22] mkArtakMSFT commented on #10846
Closing this as a dupe of https://github.com/dotnet/aspnetcore/issues/17014

[2020-01-10 19:22] #10846 closed

[2020-01-10 19:22] mkArtakMSFT commented on #15022
Closing this as a dupe of https://github.com/dotnet/aspnetcore/issues/17014

[2020-01-10 19:22] #15022 closed

[2020-01-10 19:23] anurse commented on #18236
It shouldn't be, that's only need for macOS Catalina (10.15).

@javiercn do you know what might be going on here?

[2020-01-10 19:23] oculys-andrew commented on #18265
@anurse  Sure, here's one of the projects I tested this with:

[zAspNetCoreOnFrameworkCookieTest3.zip](https://github.com/dotnet/aspnetcore/files/4047502/zAspNetCoreOnFrameworkCookieTest3.zip)

[2020-01-10 19:24] anurse commented on #15384
Ok, caught up on the thread and I think I know what's up. @alefranz if you want to open a PR with the content for #15435 targetting `release/3.1`, go for it. We can take a look and submit it for approval.

[2020-01-10 19:25] mkArtakMSFT commented on #5490
We're closing this as there is no action for us to take here. The support is already in preview in VS4Mac 8.4.

[2020-01-10 19:25] #5490 closed

[2020-01-10 19:28] jkotalik commented on #18262
I'm not familiar with WEBSITE_RUN_FROM_PACKAGE, however it may be worth trying to get the application outside of the package to get logs.

Very weird. That should allow the application to run (even though it isn't exposed). Can you try to deploy application as standalone on that instance?

[2020-01-10 19:30] anurse commented on #18154
This is already marked flaky, so we're good here.

[2020-01-10 19:30] #18154 closed

[2020-01-10 19:34] anurse commented on #18167
ASP.NET Core 3.0 and higher versions are no longer available as packages, as they are a built-in framework in .NET Core (and not supported on .NET Framework).

We have [guidance on how to use ASP.NET Core types from a class library available in our documentation](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/target-aspnetcore?view=aspnetcore-3.1&tabs=visual-studio).

[2020-01-10 19:34] #18167 closed

[2020-01-10 19:37] ajcvickers commented on #18266
@RomBrz This comes with Microsoft.Data.SqlClient, which is maintained here: https://github.com/dotnet/SqlClient It may already be covered by one of the [existing issues](https://github.com/dotnet/SqlClient/issues?q=is%3Aissue+SNI+is%3Aopen)--there have been several people hitting issues with SNI.dll. If not, then please file a new issue there.

[2020-01-10 19:37] #18266 closed

[2020-01-10 19:40] anurse commented on #18159
We explicitly chose not to support arbitrary objects in `ISession` as it can create a confusing trap for users. The problem is that unless you can guarantee that all requests for a single session will go to the same server, serialization **must** be used and the user should be aware of that (hence why we only store strings).

We absolutely don't want to make assumptions about the deployment enviro

[2020-01-10 19:40] #18159 closed

[2020-01-10 19:49] anurse commented on #17781
@NXTwoThou I see, I think you're right about the confusion. Let's focus back on the original issue though. If you're still able to repro this by switching back to IIS Express, can you look at our [Troubleshoot on IIS](https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.1#troubleshoot-on-iis) guide? There are instructions there on how to collect information fr

[2020-01-10 19:57] grahamehorner opened #18276 "Blazor WebAssembly not building"
using dotnet new blazor template code fails to build

1>------ Build started: Project: WASM, Configuration: Debug Any CPU ------
1>**[REMOVED]**\.nuget\packages\microsoft.aspnetcore.blazor.build\0.7.0\targets\RazorCompilation.targets(184,5): error : rzc generate exited with code 1.
1>Done building project "WASM.csproj" -- FAILED.
========== Build: 0 succeeded, 1 failed, 0 up-to-date, 0 skipped ===

[2020-01-10 19:59] anurse commented on #18019
@bshade7 can you clarify something here? Are the app pools that are crashing hosting **System.Web**-based applications? You mentioned "non-Core" so I want to make sure I'm understanding the situation properly.

@mvarblow In your case, it's crashing app pools running ASP.NET Core, **but using .NET Framework**, correct?

----

And to be clear, do any of you have **.NET Core** applications using the

[2020-01-10 20:11] JulienM28 commented on #18245
both of these solutions are working:

[code]

[2020-01-10 20:13] bshade7 commented on #18019
@anurse Yes, that is correct, the app pools that are crashing are hosing System.Web ASP.NET applications.  Also, I am not sharing an app pool for any application actually.  So in my case, I am definitely not sharing an app pool with the .NET Core applications.  Each application has its own app pool.  Please let me know if you have any more questions.  Thanks!

[2020-01-10 20:13] mvarblow commented on #18019
@anurse That is correct. The crashing application pool contains an IIS application running ASP.NET Core using .NET Framework 4.7.2. This same application pool also hosts another IIS application running on System.Web and .NET Framework 4.7.2.

[2020-01-10 20:32] pranavkm commented on #18276
`microsoft.aspnetcore.blazor.build\0.7.0` 0 that looks an [incredibly old](https://www.nuget.org/packages/Microsoft.AspNetCore.Blazor.Build) version of the package. You probably need to update

[2020-01-10 20:38] HTD opened #18279 "All component parameters setters invoked when any component event is triggered."
### Describe the bug

I have a component.
The component has a parameter.
The component has any event bound.

When the event is triggered the event callback should be invoked, nothing else.
The element should not be redrawn, reinitialized, its state should not be changed.
This is desired behavior.

Actually something else happens.
When the event is triggered, the element is initialized and all of i

[2020-01-10 20:44] sayedihashimi commented on #5490
For those interested we added support for Razor Components & Blazor in 8.4 which was recently released https://devblogs.microsoft.com/visualstudio/visual-studio-2019-for-mac-version-8-4-is-now-available/.

[2020-01-10 21:00] Bernhard-Ninaus commented on #18078
Hey!
New here to .NET Core in general.

This works for me. I hope it's not complete wrong...

`@inherits InputBase<DateTime?>

<input @bind=CurrentValue
       @attributes=AdditionalAttributes
       @bind:format="yyyy-MM-ddTHH:mm"
       class=@CssClass
       type="datetime-local"/>

@code {
    protected override bool TryParseValueFromString(string value, out DateTime? result, out string valida

[2020-01-10 21:17] ryanbrandenburg commented on #18154
What work item tracks marking this as not-flaky when it's resolved?

[2020-01-10 21:19] NXTwoThou commented on #17781
Unfortunately the instructions sent are for identifying issues with IIS.  IIS on production is fine.
Debugging/running from Visual Studio with IIS Express is not fine(just tried with Visual Studio 16.4.2, even started as Administrator to try and eliminate security issues).

The first, primary issue is this: When I hit the green arrow in visual studio to debug an app,  Where is the "Directory struc

[2020-01-10 21:24] NTaylorMullen commented on #6112
Pretty much. I'll close this out.

[2020-01-10 21:24] #6112 closed

[2020-01-10 21:26] NTaylorMullen commented on #10480
This is too broad an issue to begin with. Closing given it's not clear as to which refactoring scenarios we were trying to track without a dup

[2020-01-10 21:26] #10480 closed

[2020-01-10 21:27] NTaylorMullen commented on #11469
Eh, it depends on what type of IntelliSense @Andrzej-W was looking for. @Andrzej-W would you mind providing some example IntelliSense data for what you'd like to see?

[2020-01-10 21:34] Tratcher commented on #18265
Those .NET KBs only affect System.Web, they are not required for Asp.Net Core on .NET.

For a .NET Framework based Asp.Net Core app what you need to do is update the transitive nuget package dependencies. Microsoft.Net.Http.Headers is the dependency that directly affects the cookie behavior in this scenario. Your app transitively references Microsoft.Net.Http.Headers 2.1.1, you need to add a direc

[2020-01-10 21:46] javiercn commented on #18236
@anurse it could be.

Try adding
[code]

to see if that fixes the issue with dotnet run.

[2020-01-10 21:50] Tratcher commented on #14996
Some clarifications for folks using ASP.NET Core 2.1 or 2.2 on .NET Framework:
- ASP.NET Core and System.Web (ASP.NET Classic) have independent implementations of SameSite. The SameSite KB patches for .NET Framework are not required if using ASP.NET Core. Nor does the System.Web SameSite minimum framework version requirement (.NET 4.7.2) apply to ASP.NET Core.
- ASP.NET Core on .NET requires updat

[2020-01-10 22:01] rmcwhae commented on #18236
Adding `<UseAppHost>false</UseAppHost>` fixed it for me (following the same steps as the OP to reproduce the issue, with new certificates).

Output of `dotnet --info`:
`➜ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.1.100
 Commit:    cd82f021f4

Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.15
 OS Platform: Darwin
 RID:         osx.10.15-x64
 Base Path:

[2020-01-10 22:01] Tratcher commented on #18265
@anurse @blowdart FYI the 2.1.14 and 2.2.8 patches missed updating a transitive dependency, leading to this discoverability issue on .NET. This isn't a problem for most .NET Core scenarios because the whole runtime is patched as a unit and loading rolls forward.

Current:
Microsoft.AspNetCore.CookiePolicy 2.1.14 (latest)
-> Microsoft.AspNetCore.Http 2.1.1 (latest)
-> Microsoft.Net.Http.Headers 2.1

[2020-01-10 22:24] Andrzej-W commented on #11469
I have just checked and I can write:
[code]
and now I see that `value` is available. Unfortunately it doesn't work for `textarea`

It would be nice to have intellisense when I write something like this
[code]
Here I would like to see that I can select `onchange`, `oninput`, etc. but intellisense doesn't work at all.

[2020-01-10 22:26] mihaimyh commented on #18183
@javiercn I got one more question if you are so kind to help. I am trying to inject `User-Agent` from HttpContext request headers into AspNet.Core DI container by creating an extension method and use it in ConfigureServices method in Startup.cs. The issue is, using the solution provided by you, I only can get the value of `User-Agent` after the app started, in App.razor component. Should I try to

[2020-01-10 22:27] Tratcher commented on #18258
What exception was polly expecting to handle when the first request timed out? An OperationCancelledException or similar?

TestServer is optimized to unit test server behaviors and to surface any server related errors to the client with as high a fidelity as possible. Sometimes this involves deviating from errors that HttpClient would normally throw. As such, I don't recommend using TestServer to

[2020-01-10 22:38] javiercn commented on #18236
This is the notarization issue on OS X. This is a known issue and we are working on a fix.

[2020-01-10 22:38] javiercn commented on #18236
We can close this as it’s a dupe.

[2020-01-10 22:55] Kiechlus commented on #18264
You are right, when I directly route from the kubernetes ingress to the service, without our custom nginx, it works.

[2020-01-10 22:55] #18264 closed

[2020-01-10 23:09] mihaimyh commented on #18183
You can ignore this, after checking, HttpContext is not null at that stage.

[2020-01-10 23:10] AlmostRemember commented on #13601
I would like to see this addressed. I was really surprised that the template project didn't have a razor component for sign in. I tried to make my own, exactly like this issue describes, and found it didn't work.

[2020-01-10 23:14] Andrzej-W commented on #18279
@HTD Parameters are used to pass some data from parent to child components. EventCallbacks are used to pass some data from child to parent. In this section https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#eventcallback you can read:

Each time component is rendered it must render all of its children and to do this correctly it has to pass all parameters again beca

[2020-01-10 23:16] yshahin commented on #17723
I upgraded to asp.net 3.1 and updated all the nuget packages and I am unable to trigger the issue.
For #18138 I was unable to recreate it locally, it was only triggered in production. But haven't seen the issue after the upgrade.
Not sure if you want to keep this bug open to patch .net 3.0 or you will consider the resolution to upgrade to 3.1?
Thanks

[2020-01-10 23:23] vsfeedback opened #18281 "Errors and crashes during development and debugging at .Net Core3.1"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/878467/在net-core31开发调试时出现错误并导致死机.html)._

---
When developing a BLAZOR project, if a component member is an empty type, but no default value is set to report an error during debugging. Such as:
In the SellPage.razor component
Write in SellPage.razor.cs file
[code]

Then cal

[2020-01-10 23:24] Tratcher commented on #17723
@yshahin thanks for the update. We'll double check #18138 and close it if we can't reproduce it in 3.1 either.

[2020-01-10 23:25] vsfeedback opened #18282 "Unable identify the current Navigation Url through NavigationManager"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/875217/unable-identify-the-current-navigation-url-through.html)._

---
The navigation address cannot be identified in the razor components, if you use NavigationManager the Location Changed event is raised after the component rendering.
If there is no other way to identify

[2020-01-10 23:37] vsfeedback opened #18284 "Asp.net Core project upgraded to 3.1 with Visual Studio version 16.4 not running as InProcess"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/872784/aspnet-core-project-upgraded-to-31-with-visual-stu.html)._

---
We have upgraded our .net core project from 2.1 to 3.1.0 and are using Visual studio 2019 (16.4). I was able to get the application running in local IIS but is failing to run on IIS in Demo/QA environmen

[2020-01-10 23:40] anurse commented on #18284
Are you able to attach your appSettings.json files (with any secret values removed)?

The issue is definitely that *some* JSON file is incorrect :). How are you deploying the project to your Demo/QA environment in which it is failing?

[2020-01-10 23:55] Jelgab commented on #18267
Note: If possible, please reply to GabrielHenao222@Yahoo.Com since my original email gets too much spam.

@pranavkm , yes, with a REST client, it returns a 204, but the other part you say doesn't seem to happen: You say the browser doesn't update, but the browser is changing the route (see the gif I attached when I created the ticket). I call /version, then call /testOne, then there's a redirect t

[2020-01-11 06:05] WernerMairl commented on #18259
hi
re-investigated on my side:

1. i'm using ApplicationInsights (AI) to "visualize" this events
1.1  AI is in developer mode to ensure to see most of the events asap
1.2 i have added a call to AI.Flush() after "Stopping" and "Stopped" to ensure that the message not goes lost.

Suprise:
AI shows that in the last 24 hours i had **16** starts (that's true, CI/CD in place and a lot of improvements in

[2020-01-11 06:39] KalpeshPopat commented on #18159
There were lots of issues with serialisation, as it lead to the same issues that you have described above and more (which are in my first post)

I have already implemented the IMemoryCache, as a quick interim while transition is taking place.

Microsofts official page shouldn't recommend serialisation for storing objects - it is incorrect solution and isn't same as storing objects in session, unle

[2020-01-11 06:44] HTD commented on #18279
@Andrzej-W
I understand, for me it also looks like the components are re-rendered and this is the issue itself. I make component that doesn't change its state, then I add for example onclick EventCallback handler. The handler is empty (a function that does nothing and returns immediately). When I click the element, causing the event to trigger - it start to behave like it needs to re-render. It oc

[2020-01-11 07:26] KalpeshPopat commented on #18159
**This is my full list of concerns**
A. Serialisation isn't same as object, true it will help in distributed server scenario but it comes with a caveat that they have failed to highlight - that it will work without any unpredictable failures only when the object is meant to be read and not to be written back.

B. If you were looking for a read-write object in the session, everytime you change the

[2020-01-11 09:11] edgolub commented on #13090
This is definitely something we would need.

I am building a multi-tenant system where I want to include a component and be able to overwrite it with a different one with the same name but in a different namespace. If I could alias all my components that would be the perfect solution to resolve the issue of having the same component name in different namespace and not being able to use both namesp

[2020-01-11 09:29] HTD commented on #18279
I've changed the problem description and example in the main issue.
I isolated the problem to the most basic case, absolute minimum.
I described all steps to reproduce the issue from creating new project to the issue occurring.

[2020-01-11 10:17] tebeco opened #18287 "Build error in signalr Java client if JDK 13 is used (Gradle 6.0 would work)"
### Describe the bug
running `build.cmd` from `src/SignalR` ends up in `Unsupported class file major version 57` when using JDK 13

[code]

### To Reproduce
* Install JDK 13 globally on your computer
* running `restore.cmd` should print out something similar than this : `Detected JDK in C:\dev\tools\java\jdk-13 (via JAVA_HOME)`

### Further technical details
The version `6.0.x` of Gradle should fi

[2020-01-11 10:47] MarkusRodler opened #18288 "Blazor WASM. Can not change BaseIntermediateOutputPath to a higher directory"
### Describe the bug
I have created an Blazor WASM app and tried to update from netstandard2.0 to netstandard2.1.
This fails because I changed the BaseIntermediateOutputPath to a higher directory.
With netstandard2.0 everything works as expected.

### To Reproduce
Follow the official guidelines to create a new project: https://docs.microsoft.com/de-de/aspnet/core/blazor/get-started?view=aspnetcore

[2020-01-11 11:48] phcd30 commented on #8737
Adding a polite WTF to this. Any update on when this will be fixed?

[2020-01-11 12:12] javiercn commented on #18273
@matryosha thanks for contacting us.

@dotnet/aspnet-build can you assist here?

[2020-01-11 12:20] tebeco opened #18290 "Adding Microsoft.CodeAnalysis.BannedApi as suggested for SignalR MessagePackHubProtocol"
### Is your feature request related to a problem? Please describe.
I was trying to do update `MessagePack` to `2.0.x` but as few things changed like the introduction of `MessagePackSerializerOptions`.
As i forgot to properly instantiate it @AArnott [suggested here to use `Microsoft.CodeAnalysis.BannedApi`](https://github.com/dotnet/aspnetcore/pull/18133#discussion_r363308261) :

neuecc/MessagePack

[2020-01-11 12:33] enetstudio commented on #18129
@baartho, I ran your code but could not reproduce the 'bug'. It works perfectly well.

Why do you use decimal data type ?
I watched your video. It starts with the digit 4 displayed in the text portion of the select element, while the prop variable contains 2. Is this another bug you forgot to relate to ?

[2020-01-11 13:35] xshiiiidev opened #18292 "Scaffold Identity UI using different footer for the layout"
I just want to make this short.

I scaffold all the identity ui to customize it, I was able to customize each page. However, while customizing the identity ui for each page, I suddenly realize that the identity ui footer _(one the part of Identity/Account/Manage)_ is different from my original customize footer. The footer that the identity ui is using is the initial footer creation of the project.

[2020-01-11 15:35] Sid-Shanker commented on #16780
Thanks, @pranavkm , VS 2019 Community was already installed on my system, but I updated it using below command:

`PS> ./eng/scripts/InstallVisualStudio.ps1 -Edition Community`

And after that .\restore.cmd run successfully.

[2020-01-11 16:06] admir86 commented on #18241
But why its working when I change the service order? If I add the custom scheme before `AddIdentity` it works.

what do you suggest as workaround for this? to change the service order or to pass the AuthenticationScheme to the Forbid method?

[2020-01-11 16:30] grahamehorner commented on #18276
@pranavkm thanks for the reply, the package was installed using the originally using the nuget package https://www.nuget.org/packages/Microsoft.AspNetCore.Blazor/ then updated via https://marketplace.visualstudio.com/items?itemName=aspnet.blazor in VisualStudio
I now see this is the **wrong way** to install Blazor by reviewing the comments in the gallery;
maybe **obsolete** gallery items need to b

[2020-01-11 16:32] #18276 closed

[2020-01-11 17:33] marcuslindblom opened #18293 "Execute TagHelperComponent in Hello world example without views"
Is it possible to execute a `TagHelperComponent` using code similar to this?

[code]

[2020-01-11 17:43] zeus82 opened #18294 "Razor Pages BindProperty Value Not Set on Post"
I'm creating a form using one razor page (I know this may not be a good idea, but I'm trying to do some [not so] rapid prototyping.  Basically, the first step is that the user enters a bunch of data, and the next step is that the user will upload some files.  My page model looks like this:

[code]

This is what my form looks like:

[code]

When I click submit the first time, I would expect `FileUp

[2020-01-11 17:55] grbd commented on #12890
For the UseWebpackDevMiddleware issue I suspect what we need is an implementation similar to this
https://github.com/dotnet/aspnetcore/tree/master/src/Middleware/SpaServices.Extensions/src/ReactDevelopmentServer
within Microsoft.AspNetCore.SpaServices.Extensions

but instead written for the webpack development server
similar to what's being done here but automated in code instead of being done man

[2020-01-11 21:20] georgiyordanov commented on #18236
I can confirm that `<UseAppHost>false</UseAppHost>` fixed the issue for me as well. Thanks!

[2020-01-11 21:21] dougbu commented on #18273
(Odd because I believe our CI builds of 'release/3.1' are currently fine.)

@rrelyea this sounds a bit like the pack determinism issue that cropped up internally in September. Could that behaviour change be present in the 3.1.1-servicing.19576.9 SDK? Could any environment variables (accidentally) re-enable determinism?

[2020-01-11 22:01] dougbu commented on #15055
d0c71edd843e

[2020-01-11 22:01] #15055 closed

[2020-01-11 22:16] dougbu commented on #18273
See also NuGet/Home#7001.

[2020-01-11 22:35] serpent5 commented on #10970
FYI, I've managed to figure this out now, so I've just submitted a PR. Please don't view this comment as a nudge to review said PR.

[2020-01-12 00:52] lextm commented on #6111
@rsudbdg Using LocalSystem is pretty bad, as you assign a too powerful account.

I think you just need to grant the default pool identity read access to the artifacts folder.

[2020-01-12 01:52] dhmuralikrishna commented on #14996
Opt-out switches:
There is a compat switch which enables you to temporarily opt-out of the new ASP.NET Core cookie behavior. Add a runtimeconfig.template.json file to your project containing:

{
  "configProperties": {
    "Microsoft.AspNetCore.SuppressSameSiteNone": "true"
  }
}

How to set this through code? If we don't have runtimeconfig.template.json

[2020-01-12 04:31] mkArtak commented on #18294
Thanks for contacting us, @zeus82.
It looks like your sample would work, if you modify the hidden field tag helper as follows:
[code]

@NTaylorMullen I'm not sure whether `asp-for` should have been enough here or not? Can you confirm that the proposed approach is correct or not? Thanks!

[2020-01-12 04:57] LilMinmax opened #18298 "Interop and object properties, initial letter casing, bug or by design?"
I have this in Javascript:

[code]

And these are the C# Methods:

[code]

Here is the console output:

[code]

I'm curious why the property names from C# to JS change from the initial capping in C# to lowercase first letter in JS, but when I send an object back with lowercase properties, those are not uppercased. (If I send the same data back and forth, it stays lowercase in C# on the return, so

[2020-01-12 05:27] mkArtakMSFT commented on #18293
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2020-01-12 08:30] boukenka opened #18299 "Identity Cookie and [Authorize] attribute"
### Describe the bug
Cookie AspNetCore.Identity.Application is no more used when the browser is re-opened and a call
is made on a web page having the ```@attribute [Autorize]``` attribute. The user is already logged in after that the project has been restarted in Visual Studio.

### To Reproduce
Create a project like the super :smile: Mission Control from @SteveSandersonMS.
Identity is used for th

[2020-01-12 09:03] AmarjeetBanwait commented on #11212
@danroth27 @SteveSandersonMS
Can we consider this in "blazor wasm" release or at least 5.0 previews?

[2020-01-12 12:01] MV10 commented on #9337
@dazinator If I'm following you, it seems you could simply skip the use of `Startup` (which is just a convention, as mentioned earlier) and store the various pieces of shared information in the `IHostBuilder.Properties` collection under one or more pre-defined keys in your `UseOpinionatedStartup` implementations. That's pretty much what the `Properties` collection is for -- it isn't passed to `Sta

[2020-01-12 13:36] krisztiankocsis commented on #17277
`ng server --verbose` also helps!

[2020-01-12 13:37] krisztiankocsis commented on #17277
But as verbose mode extremely pollutes the console, it would be better to detect readiness by a background HTTP GET instead of parsing the console output.

[2020-01-12 13:39] alefranz commented on #15384
Thank you Andrew for looking into this.
I've raised a PR against `release/3.1` #18300

[2020-01-12 15:48] tossnet opened #18301 "MarkupString does not consider @onclick"
### Describe the bug
If I have to build a dynamic  interface from code by using MarkupString  and that I need to add events like @onclick, they don't work

### To Reproduce
[code]

is this currently normal or is there a palliative?

[2020-01-12 16:37] zeus82 commented on #18294
I tried that, but it didn't work.

I also created a [repo that highlights this problem](https://github.com/zeus82/bindpropertytest).  See the `Index` page.

When I first load index and view page source I see this:

[code]

When I click next, and view page source I see this
[code]

Notice that the hidden input is false, but the text say 'True'.  This suggests that in the rendering on the server the

[2020-01-12 16:51] chamikasandamal commented on #12890
@johnnyoshika : do you have any working samples for prerendering using this?

[2020-01-12 16:54] strich opened #18302 "Improvement Request: DevEnv compile speed drastically reduced based on codebase size"
### Describe the bug
I have recently been playing around with Blazor and whilst I'm loving it, one key drawback I'm having is that the compile speed is quite bad when the codebase is medium-sized.

A common devenv work loop is making minor modifications to HTML within .razor files, and in doing so requires a recompile of the Client project. Below I provide 2 typical compile times for the following

[2020-01-12 17:06] nulltoken opened #18303 "Teach the ContentResultExecutor to honor RespectBrowserAcceptHeader setting"
### Is your feature request related to a problem? Please describe.
I'm proxying the result of an external http service and returning it as a `ContentResult` with Content-Type set to `application/json`.

### Describe the solution you'd like
I'd very much like the `ContentResultExecutor` to honor the `RespectBrowserAcceptHeader` and be able to return `Status406NotAcceptable` when the client expected

[2020-01-12 17:33] strich commented on #18302
Thanks to @BirdseyeviewNL we discovered the primary time sink was the IL Linking & Removal step [described here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/configure-linker?view=aspnetcore-3.1).

Disabling linking _drastically_ reduces compile time. I would highly recommend that IL Linking is disabled by default during debug builds. Maybe someone can provide a case where b

[2020-01-12 18:36] mkArtak commented on #18294
I've submitted a [PR](https://github.com/zeus82/bindpropertytest/pull/1) with my earlier proposal and I can confirm that it works:
![image](https://user-images.githubusercontent.com/7347708/72223749-3f498180-3527-11ea-873e-4bd2cbe1b835.png)

As for why `asp-for` is not satisfactory, I'll let @NTaylorMullen to respond.

[2020-01-12 18:42] MCFHTAGENTS opened #18304 "Custom Model Binding"
Hi
I am struggling with Model Binding. There is a lot of stuff out on the internet that seems to relate to other frameworks or older versions of MS frameworks and I cannot find a simple documented example of what I am trying to do beyond this: https://docs.microsoft.com/en-us/aspnet/core/mvc/advanced/custom-model-binding?view=aspnetcore-3.1

It talks of the ModelBinder and the BindProperty attribu

[2020-01-12 19:24] partyelite commented on #5466
This issue is open for two years.. Is there any progress?

[2020-01-12 20:28] giorgi-abashidze opened #18305 "Add support for `int` for the `<InputSelect>` component"
.NET Standard 2.1 webassembly app, i have problem validating int field, in more details i have list of items in inputselect and their Ids into `<option value="@item.Id"> `

i have [Required] Data anotation in this field in model class but still not care, onvalidsubmit method is calling even if `<optionvalue="">`  is selected,

i tried to add another data anotation to the field greater than zero  `

[2020-01-12 21:02] #18020 closed

[2020-01-12 21:02] #18268 closed

[2020-01-12 21:02] #18231 closed

[2020-01-12 21:02] #18225 closed

[2020-01-12 21:02] #18177 closed

[2020-01-12 21:02] #18115 closed

[2020-01-12 21:16] enetstudio commented on #18282
You can identify the current address like this:
`@inject NavigationManager NavigationManager
`

`var currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);`

[2020-01-12 21:44] mkArtakMSFT commented on #18304
Thanks for contacting us, @MCFHTAGENTS.
@pranavkm can you please look into this? Let's also get the docs updated to include a sample covering this scenario.

[2020-01-12 22:08] enetstudio commented on #18279
This behavior is because your app is using pre-rendering. You may obviate this feature by setting the render-mode="Server" instead of render-mode="ServerPrerendered" for the _component_ tag helper in the  _Host.cshtml file

This behavior is by design. I guess it's too late to change it. A UI event such as 'click',  automatically triggers re-rendering of the component which issues the event;  that

[2020-01-12 22:28] Trolldemorted opened #18306 "Blazor (server) <input value=foo /> doesn't work for checkboxes"
### Describe the bug
I am using @SteveSandersonMS 's workaround shown [here](https://github.com/dotnet/aspnetcore/issues/16229#issuecomment-380415799), but it doesn't work for checkboxes. Take this snippet:

[code]
I assumed that the initial state of the checkbox would match the cat's property, but it is always unchecked, even if cat.IsBlack is true.

### To Reproduce
Use the workaround with a che

[2020-01-12 22:36] MV10 commented on #9337
I spent the day cleaning up my implementation of reliable basic logging during Host Builder configuration. I still need to get it packaged for public use, but maybe somebody will find it useful.

https://github.com/MV10/GenericHostBuilderLogger

[2020-01-12 22:36] Trolldemorted opened #18307 "Blazor (server) checkbox becomes normal input when using checked"
### Describe the bug
While searching for workarounds for #18306, I tried this one:
[code]

Now if the cat is black, the checkbox is initially checked. If you click it, it becomes unchecked. If you then click it again, the input field loses its `type="checkbox"` field and is no longer a checkbox!

### To Reproduce
Use checkboxes with explicit `checked` fields

### Further technical details
[code]
V

[2020-01-12 22:44] enetstudio commented on #18272
This is because you've changed AddDefaultIdentity to AddIdentity, which does not add the services required for the Identity UI.

[2020-01-12 23:03] curtisy1 opened #18308 "Blazor: Build failure on Linux due to wrong dotnet location, Error code MSB6003"
### Describe the bug
[DotNetToolTask.ExecuteTool](https://github.com/dotnet/aspnetcore-tooling/blob/master/src/Razor/src/Microsoft.NET.Sdk.Razor/DotnetToolTask.cs#L91) gets passed a wrong path on Linux in some circumstances, resulting in a failed build since the dotnet binary cannot be located. For me the path it spits out looks like a fallback path (```/usr/bin/dotnet```)
I'm still not sure as to

[2020-01-12 23:14] zeus82 commented on #18294
@mkArtak You PR does fix the issue, but it still seems like there is a problem with the way `aps-for` works in this scenario.  I'm going to hold off on completing the PR until there is more clarification on what `asp-for` is supposed to do in this scenario.

[2020-01-12 23:27] serpent5 commented on #18294
I answered something similar on [Stack Overflow](https://stackoverflow.com/a/53675887/2630078) a while back. Does that help? I was never crazy about the solution, but I think the explanation should help.

[2020-01-13 00:14] Bogdan2033 commented on #18078
Привет,скинь свой телеграм или напиши мне! @azeloneAnD

[2020-01-13 02:11] JeremyTCD commented on #12890
Hi @chamikasandamal I'm the author of Jering.Javascript.NodeJS. @DaniilSokolyuk's [NodeReact.NET](https://github.com/DaniilSokolyuk/NodeReact.NET) uses Jering.Javscript.NodeJS to render React components.

[2020-01-13 02:18] Daniel15 commented on #12890
@JeremyTCD   If anyone is interested in merging that NodeReact.NET project into [ReactJS.NET](https://ReactJS.NET), I'm happy to review pull requests :)

[2020-01-13 03:08] Andrzej-W commented on #18279
You can try to use `Action` instead of `EventCallback`. This will not call `StateHasChanged` automatically in the parent component.

[2020-01-13 03:30] itz-Ryan commented on #18272
Hi enetstudio. Yea I figured after doing some research 2 days ago.
Thanks for your response though.

[2020-01-13 03:30] #18272 closed

[2020-01-13 04:25] JeremyTCD commented on #12890
Hey @Daniel15 I think @DaniilSokolyuk is your best bet! I think React is awesome but I'm not a React user myself.

[2020-01-13 05:09] #16796 closed

[2020-01-13 07:15] HTD commented on #18279
My example clearly shows the state of my component haven't changed at all. So - re-rendering happens blindly and is clearly a bug. It does not make any sense to re-render element because it's been clicked or mouse cursor moved over the element.

Please note that it would be desired, if the HTML / CSS of the element CHANGED in the event callback (handler function). It doesn't in the example, yet `S

[2020-01-13 07:30] satyajit-behera opened #18309 "Access IHost across application classes globally"
Below is an example code for CreateHostBuilder. Asp.net core host takes care of resolving dependency through constructor and middleware.

If we want to resolve it for our custom classes which does not get invoked through controller or the main method, how can we get the instance of the host across applications. Is it a good way to store it as a static variable Or there is some better way to do tha

[2020-01-13 07:32] davidfowl commented on #18309
No. You need to store it in a static if you want to access it later. There can be many hosts running side by side in the same process and we generally avoid statics like that. You can however create your own.

What does your logic look like?

[2020-01-13 07:36] satyajit-behera commented on #18309
In the startup, I am storing the serviceProvider in a static variable.
<code>
public static IServiceProvider ServiceProvider
        {
            get
            {
                if (_ServiceProvider == null) throw new NullReferenceException("ServiceProvider cannot be null");

                return _ServiceProvider;
            }
            set
            {
                _ServiceProvider =

[2020-01-13 08:27] awajan opened #18310 "Templated generic blazor component does not accept template context RenderFragment<T> for different type T"
When you try to compose and consume a generic (typed) blazor component and expose a RanderFragment<T> parameter, T is being restricted to be the same generic type of the component. Otherwise, the consuming component would show the below error when placing the template markup.

Example: `<Component1>` is a typed component with type T1, exposing a parameter named Header for example, that is `RenderF

[2020-01-13 09:01] Pvlerick commented on #14907
@ssunkari I haven't tried this yet, but again I don't see this as a viable workaround for the long term.

@anurse any views on this, do you think this can/will be patched?

[2020-01-13 09:04] RafaelVieira2323 commented on #18260
Client side:
01-13 09:03:35.323 D/Mono    (11893): Assembly Ref addref System.Text.Json[0xe4cd3ee0] -> System.Threading.Tasks.Extensions[0xc76a5460]: 3
Arrebentou ao connectar:System.IO.IOException: The server disconnected before the handshake could be started.
  at Microsoft.AspNetCore.SignalR.Client.HubConnection.HandshakeAsync (Microsoft.AspNetCore.SignalR.Client.HubConnection+ConnectionState s

[2020-01-13 09:10] gthvidsten commented on #18262
The "Azure App Service Deploy" task in DevOps always deploys as a package, not as a standalone, and there are no settings in it to change this behaviour, so I'm afraid I'm not able to deploy as standalone.

[2020-01-13 10:31] javiercn commented on #18282
Thanks for contacting us.

@enetstudio answer is right. That's the appropriate way to do it.

[2020-01-13 10:32] #18282 closed

[2020-01-13 10:39] javiercn commented on #18281
Edited for clarity.

I'm not sure if this will repro. I'm not sure what our behavior for trying to render null values is, whether we don't emit anything (empty string) or whether we null ref and consider it an application error.

In case that for normal values we don't nullref and that we null ref for nullable types without a value, I think this will be a bug in how we handle nullable values. Othe

[2020-01-13 10:43] javiercn commented on #18310
@awajan thanks for contacting us.

I've updated your post for clarity. I believe that if you want to have a different RenderFragment<T2> you would need to declare your templated component to have more than one type parameter (like `<T1,T2>`, which I'm not 100% sure is possible, but I believe so).

That should allow you to expose `RenderFragment<T>` with a different type.

Di we understood everythi

[2020-01-13 10:45] javiercn commented on #18308
@curtisy1 thanks for contacting us.

@pranavkm do you have any thoughts on this?

[2020-01-13 10:47] javiercn commented on #18307
@Trolldemorted thanks for contacting us.

I believe your issue is that you are using the same ID for two input elements and that can produce undefined behavior. @SteveSandersonMS can confirm this.

[2020-01-13 10:48] javiercn commented on #18306
@Trolldemorted thanks for contacting us.

Do you happen to be prerendering?

[2020-01-13 10:50] javiercn commented on #18305
@giorgi-abashidze thanks for contacting us.

In order for us to be able to investigate this issue. Could you provide a minimal repro project that shows the problem and detailed steps on how to reproduce it?

[2020-01-13 10:54] javiercn commented on #18301
@tossnet thanks for contacting us.

That's by design. MarkupString is intended for fragments that will end up as HTML in the browser, not for what you are trying to achieve.

We are not sure what you are trying to accomplish ("dynamic interface" is too generic for us to give you some guidance) but there are two ways you can go about this.

One is to write a component, pass in the parameters to it

[2020-01-13 10:58] javiercn commented on #18298
@LilMinmax thanks for contacting us.

The objects are being deserialized as JsonElement instances under the hood, so the behavior you see is by design. JsonElement is a C# representation of the json payload you sent and that has mixed casing.

[2020-01-13 10:58] #18298 closed

[2020-01-13 11:00] javiercn commented on #18288
@MarkusRodler thanks for contacting us.

Can you tell us what Blazor version are you using?

Have you cleaned the bin, obj folders completely before building after changing the path?

[2020-01-13 11:06] javiercn commented on #18279
@HTD thanks for contacting us.

Looking at the the code (didn't read through all the comments) I believe this issue is caused by the fact that the int (0) is being boxed into an object.

Does this problem happen if you change the parameter from Object to int?

This can also be the eventcallback triggering a re-render which happens automatically after each event for the component and for the callba

[2020-01-13 11:15] Trolldemorted commented on #18307
So it does not matter that the two elements never exist in the tree at the same time?

Is there documentation explaining that? This is not what I had expected.

[2020-01-13 11:16] Trolldemorted commented on #18306
It is on by default, right? Then yes.

[2020-01-13 11:21] lukasz-pyrzyk commented on #18258
My assumption was that the logic of testing the custom http client should work because it was working before migration from .NET Core 2.1 to 3.0/3.1.

Answering to your questions,

Polly should handle any `HttpRequestException` or response `response => response.StatusCode >= HttpStatusCode.InternalServerError || response.StatusCode == HttpStatusCode.RequestTimeout`

The in-memory test throws `Http

[2020-01-13 11:29] yeahrow commented on #17839
@sikira It works perfectly for me

[2020-01-13 11:53] woeterman94 commented on #14430
AddRazorRuntimeCompilation() does not exist in the current context? How did you fix it?

[2020-01-13 11:54] marcuslindblom commented on #18293
It seems like SO people are pretty slow also :)

[2020-01-13 12:21] gthvidsten commented on #18262
Additional info:

The Visual Studio publish issue was because the App Service had an app setting `WEBSITE_RUN_FROM_PACKAGE = 1`. I removed this app setting and I could publish from Visual Studio.

I published from Visual Studio using "Web Deploy" instead of "Web Deploy Package", but still the App Service gave the `HTTP Error 500.30 - ANCM In-Process Start Failure` error.

The [Microsoft documentat

[2020-01-13 12:41] zeus82 commented on #18294
@serpent5,  adding `ModelState.Remove(nameof(Test1));` to the Post action also fixes the problem, but this really isn't very intuitive, especially since when your debugging, the value you see in the .cshtml is the correct value,  Is there a reason the default behavior of `ModelState` is to not update when a value changes?

[2020-01-13 13:02] MarkusRodler commented on #18288
I am using the current version bundled with ASP.NET Core 3.1 => 3.1.0-preview4.19579.2
And yes I have cleaned the folders completeley after changing the path.

[2020-01-13 13:04] Andrzej-W commented on #18279
@HTD Read this https://github.com/dotnet/aspnetcore/issues/6351 to understand the difference between `Action` and `EventCallback`.

Then read this https://github.com/dotnet/aspnetcore/issues/7898 and especially this answer https://github.com/dotnet/aspnetcore/issues/7898#issuecomment-479863699 to understand what is going on when component is rendered.

So far I was thinking that child components a

[2020-01-13 13:05] tossnet commented on #18301
Yes, it's hard for me to explain. But look at this GIF. I've already made a prototype with Jquery:

![planning](https://user-images.githubusercontent.com/3845786/72258053-62e6f780-360d-11ea-959e-3718de8d7ca4.gif)

According to the clicks of the user, he can redraw the schedule (with DIV), I tried in SVG but I have the same problem : I can't connect events

[2020-01-13 14:02] valeriob commented on #18074
+1 for upating Microsoft.AspNetCore.SignalR.Protocols.MessagePack to use MessagePack  > 2.0 😄

[2020-01-13 14:11] carlosld opened #18313 "Blazor - Singleton service shares between instances in Server hosting model"
In .net core 3.1 a Singleton service instance is shared with all instances of a Server side Blazor App. In the default template of Blazor Server side App I create `State` class like this.

[code]

Then I configure the service in `ConfigureService`

[code]

And finally I change the Counter component like this

[code]
When you connect with different browser the counter is shared, witch I think is a

[2020-01-13 14:15] AArnott commented on #18074
@valeriob tip: use the github reactions on the issue description to vote it up.
That said, this seems certain to happen (in the 5.0 version I guess).

[2020-01-13 14:57] SteveSandersonMS commented on #18306
The checked state of a checkbox is controlled by its `checked` attribute, *not* by a `value` attribute. This is an aspect of HTML, not Blazor specifically. So the code you want looks like this:

[code]

[2020-01-13 14:57] awajan commented on #18310
I think you got me correctly, but there is no where mentioned in the documentation that RenderFragment<T> should have T matching the typed component parameter. In addition to that, I was able to specify RenderFragment<T> where T can be any type for components that are not typed (non-generic).

[2020-01-13 15:04] SteveSandersonMS opened #18314 "Duplicate @key values don't throw clear exception in if/else case"
As reported here: https://github.com/dotnet/aspnetcore/issues/18307#issue-548638163

With this code,

[code]

This should throw a clear exception about reuse of the same `@key` value with a different sequence ID when toggling `cat.IsBlack` as per docs:

However because of the `if/else`, it doesn't throw but instead exhibits broken behavior.

This isn't super high priority because it's not a valid

[2020-01-13 15:04] SteveSandersonMS commented on #18307
`@key` values don't have to be unique globally, but they do have to be unique among siblings of a given parent. Unfortunately the code you've posted does attempt to use the same `@key` value for two different elements within the same parent. The fact that they aren't visible "at the same time" doesn't save you, since the issue occurs while the diffing system is computing the update from one state

[2020-01-13 15:14] giorgi-abashidze commented on #18305
@javiercn here is the demo project

https://github.com/giorgi-abashidze/InputSelect-Test-For-int

created new test project and now i'm getting error in console: inputselect not suporting type Int32.
in old project there was no errors in console maybe because i had form in modal.

[2020-01-13 15:21] pranavkm commented on #18313
Hi @carlosld, you'll need a scoped service - https://docs.microsoft.com/en-us/aspnet/core/blazor/dependency-injection?view=aspnetcore-3.1#add-services-to-an-app. Singleton services are singleton across the lifetime of the app \ across multiple connections (just as they are with controllers).

[2020-01-13 15:23] liuliang-wt opened #18315 "LinkGenerator generate url that doesn't exist"
In .netcore 2.2, LinkGenerator will return null when the controller and action doesn't exist,
but in 3.1, with the UseEndpoints, LinkGenerator will just return a wrong url if I pass a wrong action name.

Is this a bug or by design, if it is by design, is there a way to get the old behavior?

[2020-01-13 15:47] rynowak commented on #18315
This is by default for endpoints created by `endpoints.MapControllerRoute(...)`. This is the way "MapRoute" used with MVC controllers has always behaved.

We changed the behavior from 2.2->3.1 due to overwhelming feedback that applications depend on this behavior. There's no real way to get the 2.2 behavior back with `MapControllerRoute`. If you use attribute routing, it will behave like it did in

[2020-01-13 16:08] Trolldemorted commented on #18307
Thanks for clearing this up! I assumed "parent element" meant "parent element in the rendered DOM-tree", not blazor's representation of it. You might want to be overly specific in the docs to prevent this misunderstanding, but a thrown exception would be great too.

[2020-01-13 16:08] #18307 closed

[2020-01-13 16:17] pranavkm commented on #18308
Dup of https://github.com/dotnet/aspnetcore/issues/14432 that's shows up in .NET Core as a result of https://github.com/dotnet/aspnetcore/issues/17308. The second issue is slated for the upcoming 3.1 patch release, so that should help. Closing since we're separately tracking fix this

[2020-01-13 16:17] #18308 closed

[2020-01-13 16:33] danroth27 commented on #5466
@partyelite Yes, there has been progress. There is an implementation of AoT compilation to WASM in the https://github.com/mono/mono repo and the runtime has been updated to support executing a mixture of .NET IL and compiled WASM files. However, the AoT support will not be ready for the upcoming May release. We will revisit shipping it for .NET 5.

[2020-01-13 16:37] legistek commented on #5466
I tried the AOT compilation option Dan is referring to and it works well with Uno.

What I'm still scratching my head about is why there isn't at least a PoC of it working with Blazor yet? I realize the toolchain is all still Linux and the output files are much larger than we ultimately want, but what is preventing making an example of a Blazor app working with AoT so that we can gauge performance

[2020-01-13 17:07] oculys-andrew commented on #18265
@Tratcher Thanks for your work, and the workaround!  All works as expected for me now.

[2020-01-13 17:13] SteveSandersonMS opened #18316 "Update Mono WebAssembly"
... for the January preview

[2020-01-13 17:15] #18313 closed

[2020-01-13 17:16] javiercn commented on #18310
I'm assuming that you mean you were able to declare something like `RenderFragment<Animal>` that's totally valid and expected, Razor components are compiled to C# classes so the same rules apply to them.

You can't declare a non generic class with a generic property in it and in the same way you can't have a RenderFragment<T> property where T is not a parameter defined with typeparam

[2020-01-13 17:19] mkArtakMSFT opened #18317 "Generate compiler warning when a checkbox is missing `checked` attribute"

[2020-01-13 17:20] mkArtakMSFT commented on #18306
We'll collect feedback similar to this at https://github.com/dotnet/aspnetcore/issues/18317

[2020-01-13 17:25] mkArtakMSFT commented on #18302
Thanks for contacting us.
We will pass this feedback to the Mono team, who own the Linker.

[2020-01-13 17:27] mkArtakMSFT commented on #18301
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2020-01-13 17:28] mkArtakMSFT commented on #18299
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2020-01-13 17:32] mkArtakMSFT commented on #18281
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2020-01-13 17:36] liuliang-wt commented on #18315
Thank you for your answer.

Is there a way I can force the LinkGenerator to generate url based on attribute routing?
There are both standard mvc controllers and webapi controllers(which use attribute routing) in my project. I have to use endpoints.MapControllerRoute for those standard mvc controllers and LinkGenerator works fine, but for webapi controllers, LinkGenerator will ignore those [Route("

[2020-01-13 17:42] mvarblow commented on #18019
@jkotalik, installing the latest C++ redistributable (and rebooting) did not resolve the problem.

[2020-01-13 17:55] mkArtakMSFT commented on #18302
This issue was moved to mono/mono#18440

[2020-01-13 17:55] #18302 closed

[2020-01-13 18:00] SteveSandersonMS opened #18318 "Change how wasm debug host is determined to match VS behavior"
Currently, we have [this code](https://github.com/dotnet/aspnetcore/blob/master/src/Components/Blazor/Server/src/MonoDebugProxy/BlazorMonoDebugProxyAppBuilderExtensions.cs#L68) which determines the address of the debugger host. We use this value to ask the browser to give us a list of debuggable browser tabs. The default value is `http://localhost:9222` but it can be overridden using an env var ca

[2020-01-13 18:10] nehaagrawal opened #18319 "CORS issue when authenticating asp.net core web app"
I am following this document(https://docs.microsoft.com/bs-latn-ba/azure/active-directory/develop/quickstart-v2-aspnet-core-webapp) for adding authentication in my asp.net web app and I am getting CORS issue. The document doesn't say anything about CORS setting so I am wondering what am I missing? Below error is from edge but same can be reproduced in chrome. I work at Microsoft so please let me k

[2020-01-13 18:38] Tratcher commented on #18258
It looks like it got a response and then failed while buffering the body. It seems like Polly disengages after the headers are received.

Yes, a custom HttpMessageHandler is the best option to unit test client modules.

[2020-01-13 19:06] awajan commented on #18310
this is not completely true:

"You can't declare a non generic class with a generic property in it and in the same way you can't have a RenderFragment property where T is not a parameter defined with typeparam"

I used RenderFragment<T> on non generic components, and this was completely fine. The issue remains as stated initially and it is a bug.

[2020-01-13 19:18] Trolldemorted commented on #18306
Thanks for the explanation, and I agree #18317 is a good idea - since html's `checked` cannot be set to false I assumed blazor's could not either!

[2020-01-13 19:18] #18306 closed

[2020-01-13 19:49] gpomykala opened #18320 "Consider adding more flexibility to Jwt[Bearer]Handler"
I was looking for a way to add an alternative authentication scheme to aspnetcore app:
* it does use non-standard keyword (please note JwtBearerHandler has 'Bearer' hardcoded  and does not respect user-defined challenge keywords)
* it does use different strategy of issuing and validating tokens

Since JwtBearerHandler insists to look for "Bearer" token regardless of keyword set in Options.Challeng

[2020-01-13 19:49] rynowak commented on #18303
We probably would not put something like this in the box, because it's the first time it has come up and it would be a breaking change.

The breaking change is that `ContentResult` currently just responds with whatever status code and content type you give it (always). If we made this change, then `ContentType` would start behaving differently - it's likely to break people's existing applications.

[2020-01-13 19:59] NTaylorMullen commented on #18294
`ModelState` is used to re-populate `value` (if not overridden) in order to not disrupt the user.

Take an example where a user provides a bad value for a `boolean` property (`JohnDoe`) and they then submit a form. MVC validates the input, indicates that it's a bad value and then the field is re-populates the field with what the user original typed so an error message of `"JohnDoe" is an invalid i

[2020-01-13 19:59] #18294 closed

[2020-01-13 20:01] NTaylorMullen commented on #11469
Ah I see. Ya that would definitely be a nice feature to have 😄. Will leave it up to the grander powers (@mkArtakMSFT) to see if this is something we'd want to invest in.

[2020-01-13 20:03] mrlife commented on #17992
Yes, deleting the extra line `CreateHostBuilder(args).Build().Run();` fixed the issue. It's not clear how it got added, but this issue can be fully deleted if you want.

[2020-01-13 20:03] #17992 closed

[2020-01-13 20:30] anurse commented on #18236
Ok, closing this then. We're very well aware of issues with certificates on macOS Catalina and are working on a fix. The workaround @javiercn indicated should help resolve this issue while we fix the underlying problem.

[2020-01-13 20:30] #18236 closed

[2020-01-13 20:36] anurse commented on #18159
These are all great arguments for why it's dangerous to storing live objects in session without extreme care. That's why we don't support it and don't plan to do so. If you need to do this, it's very important that you be aware of all the underlying issues.

I don't know if I'd suggest removing the documentation entirely but it would certainly be appropriate to add a warning to that documentation

[2020-01-13 20:44] mkArtakMSFT commented on #17549
This is blocked on the JS Debugger team: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1028008

[2020-01-13 20:54] mfluehr opened #18321 "Fast typing disorders characters in chained bind"
### Describe the bug
There seems to be a problem with the chained bind (or at least with the [PasswordField component example](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.1#chained-bind)). When I type something into the field, and then rapidly type some characters into the middle of the field, the caret will suddenly jump to the end, resulting in the text getti

[2020-01-13 22:18] Kahbazi commented on #18320
Hi @gpomykala . You can achieve this by handling the `OnMessageReceived` event and extract the token whichever you want.

https://github.com/dotnet/aspnetcore/blob/c9829d073f68764a168ab21091fd2df81e3edc2e/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs#L54-L62

[2020-01-13 22:24] jkotalik commented on #14751
@rynowak I don't believe this is a gRPC issue, more an issue with linking. Can you do the needful?

[2020-01-13 22:27] NTaylorMullen commented on #17744
@ryanbrandenburg this done?>

[2020-01-13 22:28] NTaylorMullen commented on #14297
@ryanbrandenburg this done?

[2020-01-13 22:42] MichaelPuckett2 commented on #9337
How do you pass command line args to Startup?

[2020-01-13 23:11] javiercn commented on #18310
@awajan could you provide a minimal repro project that illustrates the issue?

[2020-01-13 23:18] Tratcher commented on #9337
@MichaelPuckett2 inject IConfiguration, that will contain your command line args if you provided them to the host builder.

[2020-01-13 23:23] rynowak commented on #18242
Do you know the repo? or just that it always removes two connections?

[2020-01-13 23:33] pranavkm commented on #18242
I think it's when you closed the browser tab (i.e. when it gracefully closed the circuit), but I'm not 100% certain that's the only scenario this happens.

[2020-01-13 23:44] pranavkm commented on #18319
/cc @blowdart

[2020-01-14 00:00] rynowak commented on #18315
So is this just about cases where no controller matches the route values? What I expect will happen (conceptually):

1. Link Generation processes attribute routes - no matches found.
2. Link Generation processes conventional routes (`MapControllerRoute`) - this will generate a URL because it doesn't check for the controller to exist

I think this has been the behavior for all released versions of

[2020-01-14 00:02] rynowak commented on #18242
It's not tied to that, it's ignitor doing it in my case.

[2020-01-14 00:21] JunTaoLuo opened #18323 "Identity.UI produce assemblies that are built with implementation assemblies instead of reference assemblies."
We discovered in 3.1.1 that Identity.UI assemblies. Specifically V3.dll and V4.dll. Combined with the bug described in https://github.com/dotnet/aspnetcore/pull/17970, runtime errors due to not being able to load the correct assemblies will be produced. Though we are fixing the related issue, we should ensure that the Identity.UI assemblies are built correctly.

The reason why Identity.UI specific

[2020-01-14 00:22] JunTaoLuo commented on #18323
Here's the doc for the known issue in 3.1 https://github.com/aspnet/specs/pull/406/files

[2020-01-14 00:42] blowdart commented on #18319
That's an AD article, the question would be best asked in [their repo](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/).

[2020-01-14 00:54] wtgodbe opened #18324 "SDK Update broke publishing in AspnetCore-Tooling"
AspNetCore-Tooling just took an SDK update (to version `5.0.100-alpha.1.20063.3`) in order to unblock ingesting the latest changes from dotnet/runtime. Here is that PR: https://github.com/dotnet/aspnetcore-tooling/pull/1486. This update leads to the following error while publishing to our blob feeds:

Here is a relevant build: https://dev.azure.com/dnceng/internal/_build/results?buildId=482014

Pr

[2020-01-14 00:57] wtgodbe commented on #18324
@nkolev92 is this related to https://github.com/NuGet/NuGet.Client/pull/2670?

[2020-01-14 01:06] wtgodbe commented on #18324
Oh, I misread the date on that PR as being in this January, not last January. Red herring, I guess.

[2020-01-14 01:18] diakopter commented on #13706
informal pingback from https://krebsonsecurity.com/2020/01/cryptic-rumblings-ahead-of-first-2020-patch-tuesday/ referencing crypt32.dll vulnerability

[2020-01-14 02:08] ajaybhargavb commented on #17547
I did some more investigation. I found that Visual Studio (and also VSCode with Chrome debugger extension) makes a `http` request to the /json endpoint regardless of whether we try to connect to `http://localhost:5000` or `https://localhost:5001`.

So, entering `https://localhost:5001` in the Connection target, actually results in a call to http://localhost:5001/json which is not valid.
![image](h

[2020-01-14 02:26] KalpeshPopat commented on #18159
Yes, we have discussed great arguments for why to avoid objects in session - **serialised** or not.

There are problems with both approach.

To recommend all together an incorrect workaround, like using serialisation must be avoided by all and not just the documents.

However these are architecture level discussions for the targeted solutions, as a framework - it needs to support both the approach

[2020-01-14 03:08] RickStrahl opened #18325 "IIS InProcess Hosting - Debugging Errors"
I'm running into a problem with .NET Core 3.1 application that I'm hosting on IIS. I'm testing locally on my local machine and the application runs fine in out of process.

I have logging on and I get a trace log, but the failure is in the guts of the runtime without any hint why it's failing:

[code]

My code stops at the call to `.Build()`.

[code]

The Web.Config is simple and as I mentioned th

[2020-01-14 03:17] mkArtakMSFT commented on #18299
@blowdart after reviewing this with the team this looked like non-Blazor specific and the behavior seems to be expected. We've asked the original author to ask this question in `StackOverflow` as that would be a faster way to get this answered. Re-marking as `area-security` in case you'd like to provide explanation why this behaves the way it does.

[2020-01-14 04:13] davidfowl commented on #18325
You can try setting ASPNETCORE_DETAILEDERRORS=1 or ASPNETCORE_ENVIRONMENT=Development to see a more detailed error message.

[2020-01-14 04:26] jkotalik commented on #18325
I believe you are hitting https://github.com/dotnet/aspnetcore/issues/17973.

[2020-01-14 05:08] liuliang-wt commented on #18315
thanks, now I understand.

If I have a action like this:

        [HttpGet("[action]/{id}")]
        public IActionResult CheckLogin(Guid id){...}

and if I only know the controller and action name, I have to do a reflection to check if this action has a parameter id, and then
lg.GetPathByAction(controller,actionname, new { id = 0 }) to get the correct url.

[2020-01-14 05:17] #17975 closed

[2020-01-14 06:10] mkArtakMSFT commented on #18316
@SteveSandersonMS can you please drop the link to the update guidelines you've written, so that I can follow these?

[2020-01-14 06:29] lothrop commented on #5934
I got this error message on Windows Server 2019 with .NET Core 3.1 when I failed to copy the runtimes folder along with the executable and DLLs.

[2020-01-14 06:42] HTD commented on #18279
Yes.

[2020-01-14 06:49] tossnet commented on #18301
@mkArtakMSFT I'm truly sorry for the inconvenience. I really thought it was a lack of the MarkupString.

[2020-01-14 06:49] #18301 closed

[2020-01-14 07:37] Kahbazi opened #18326 "Get the element causing submit in EditContext.OnValidationRequested method"
I'm writing a validation system for blazor and I want to validate my form based on how it get submitted. How can I achieve that?

Here's a sample of what I'm trying to do

[code]

### Describe the solution you'd like
I think the solution is that if it's possible somehow the element or component that causes Submit should be passed to `EditForm.OnSubmit` event, and then to `EditContext.Validate` and

[2020-01-14 08:57] t-hart opened #18327 "Testing confirming dependency injection"
### Is your feature request related to a problem? Please describe.
One consistent problem my team and I keep running into is with dependency injection. More specifically: forgetting to register a service---or more recently: injecting a class that has more rigid constraints than the interface (through open generics)---causing runtime exceptions.

### Describe the solution you'd like
If there alread

[2020-01-14 09:08] javiercn commented on #17547
That's all good and well,

but we should work with the VS folks on being able to attach on the HTTPS address. That's what people will put in that box (unless there's something automatic happening that I missed).

Best regards,

Javier Calvarro Nelson

________________________________
From: Ajay Bhargav B <notifications@github.com>
Sent: Monday, January 13, 2020 6:08 PM
To: dotnet/aspnetcore <aspne

[2020-01-14 09:23] RickStrahl commented on #18325
@jkotalik Yup - that's totally it!

I thought wasn't referencing any of those dependencies directly as this application is very light on its dependencies, so it's using primarily the ASP.NET Framework reference.

However I noticed that when I built the DotnetTool nuget package was referencing the .NET Core 2.2 in process hosting dll which I thought was weird.

Sure enough checked my project and fo

[2020-01-14 09:29] gpomykala commented on #18320
It is correct that the workaround mentioned above may be used to assign anything from the request as a token, however it comes with multiple problems:
* the scheme known by auth middleware is still called Bearer - an attempt to reference the custom scheme name leads to runtime errors:
[code]

Above code leads to:
[code]
When we remove the explicit scheme name from the controller definition we get

[2020-01-14 09:54] andyfurniss4 opened #18328 "Blazor local debugging issues"
# Describe the bug
A clear and concise description of what the bug is.
I've added Blazor to an existing MVC project by essentially following this article: https://mikaelkoskinen.net/post/combining-razor-blazor-pages-single-asp-net-core-3-application

Firstly, if I run the project using the debugger in Visual Studio, any changes I make to my Blazor components are not reflected in the browser, even

[2020-01-14 10:05] Kahbazi commented on #18320
You need to set the authentication scheme with `AddJwtBearer` method.

[code]

[2020-01-14 10:38] gpomykala commented on #18320
Hello, it did the trick indeed. The only downside I observerved so far is that the OnMessageReceived handler is being called twice. Thanks for a piece of advice.
[code]

[2020-01-14 10:38] #18320 closed

[2020-01-14 13:01] vladdy-moses opened #18329 "Revert constant reference from "Identity.Application" to IdentityConstants.ApplicationScheme"
https://github.com/dotnet/aspnetcore/blob/6dd3d6ec49d7e61a71cc825dcbdc9533d2620d7d/src/Identity/Extensions.Core/src/UserClaimsPrincipalFactory.cs#L79

3 years ago (according to git blame) in that line of code constant `IdentityConstants.ApplicationScheme` was replaced to `"Identity.Application"`.

### Is your feature request related to a problem? Please describe.

I am trying to describe authoriza

[2020-01-14 13:27] IIFE opened #18330 "Hosted service process does not wait for StopAsync when window is closed using X button"
I have the following simple background service
[code]

My use case is that I want to carry out cleanup work in the `StopAsync` method, and the cleanup may take some time to finish (e.g. more than 30 seconds, etc).

I am trying to simulate that using the `Task.Delay` function.

What I noticed is if I run the app and click `Ctrl+C`, the app stays in `StopAsync` for 30 seconds and closes after. Howev

[2020-01-14 15:11] razzemans opened #18332 "Razor - no longer possible to add an HTML attribute using C#"
Since .NET Core 3.x, it is no longer possible to have C# code in razor when an attribute declaration is expected. The following code used to work pre 3.x:

[code]

In .NET Core 3.1, I get the following compilation error:

`The tag helper 'option' must not have C# in the element's attribute declaration area.`

Maybe it wasn't the most elegant code, but at least it was simple and worked well. I cann

[2020-01-14 15:48] knoxi opened #18333 "Missing content element for AcceptedAtAction in PUT and PATCH"
As already discussed with the team of Swashbuckle, we have the issue that when we are generating a description for a simple CRUD controller, then the content element in PUT and PATCH in swagger is missing.

As Swashbuckle mentioned, there seems that a behavior has changed in asp.net core. Here is the link to our original discussion: https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/

[2020-01-14 15:49] razzemans commented on #18332
I just learned that when adding `null` as a value, the attribute isn't rendered. I will close this.

[2020-01-14 15:49] #18332 closed

[2020-01-14 16:29] BrennanConroy commented on #18260
That is an exception, not client side logs.
The link I [provided](https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1) gives a lot of information on how to create and gather both client and server logs.

If possible, could you put your code in a github repo?

[2020-01-14 16:41] jkotalik commented on #18325
Yeah, it a tough one that we didn't even recognize as a regression until a few weeks ago. Glad that fixed the issue.

[2020-01-14 16:41] #18325 closed

[2020-01-14 17:01] #14430 closed

[2020-01-14 17:09] baartho commented on #18129
@enetstudio I believe this is a firefox bug as stated above.

This is not very easy to reproduce. As you will see I've to try several times to make it happen. It took more than 1 minute on my end. The steps are:

1- Click on the arrow icon pointing down (on the box that holds the icon actually) I'm not sure if you really have to click on it, but this is where I've been clicking.
2 - TYPE a random

[2020-01-14 17:17] RafaelVieira2323 commented on #18260
yes, i will put. And share to you. if we trie in a localhost , he works fine in android. But if the app has to communicate with azure server, it doesn't work.

[2020-01-14 17:32] jkotalik commented on #17933
Still bad right now:

![image](https://user-images.githubusercontent.com/8302101/72367219-aba3bc80-36b0-11ea-9b0a-5be4ef7d0a1e.png)

[2020-01-14 17:36] mkArtakMSFT commented on #18319
Thanks for contacting us.
Closing this issue per @blowdart 's response.

[2020-01-14 17:36] #18319 closed

[2020-01-14 17:40] Pilchie opened #18334 "[Announcement] Known issue in 3.0.2 and 3.1.1 for ASP.NET Core"
## Packages and Shared Framework

### Scenario
If your project has a package reference that transtively references certain assemblies in the Microsoft.AspNetCore.App shared framework
that are also available as NuGet packages and executes on a runtime other than 64-bit Windows, you will receive a runtime exception at the time the assembly is loaded with a message like:

[code]

### Workaround
Refer

[2020-01-14 17:50] ryanbrandenburg commented on #14297
At least somewhat as of https://github.com/dotnet/aspnetcore-tooling/commit/9f4528d415cd230d2542b0368319018683440a7c. We can call that good for now and if anyone comes up with more concrete suggestions we can create a new issue.

[2020-01-14 17:50] #14297 closed

[2020-01-14 17:52] ryanbrandenburg commented on #17744
As of https://github.com/dotnet/aspnetcore-tooling/commit/9f4528d415cd230d2542b0368319018683440a7c yes. I got super used to things auto-closing when you do "Fixees #sfddsf", but 1, that doesn't work because we're in a different repo and 2, it doesn't fix the labels, I I've gotta break that habit.

[2020-01-14 17:52] #17744 closed

[2020-01-14 17:56] jkotalik commented on #18324
Was there another PR failing for the same reason in Arcade? If so, we should look into that.

I scanned through the binlog and didn't see anything out of the ordinary.

With regards to https://github.com/dotnet/aspnetcore/issues/18324, can we revert the update to arcade to still flow dependencies from dotnet/runtime, or are there other changes in arcade we need?

[2020-01-14 18:02] Pilchie commented on #18334
Oops, meant to lock the issue in aspnet/Announcements, not here.

[2020-01-14 18:02] OpenSpacesAndPlaces opened #18335 "Support for .NET Standard 2.0 IN Microsoft.AspNetCore.Authentication.JwtBearer 3.1.0"
I'm not seeing any movement on this - so just re-posting for a status update:

Is this issue getting looked at/fixed?
https://github.com/dotnet/aspnetcore/issues/17769

The only dependency is a NET Standard 2.0 compatible library:
Microsoft.IdentityModel.Protocols.OpenIdConnect

[2020-01-14 18:05] wtgodbe commented on #18324
It doesn't appear so. I suppose if Arcade was failing to publish we wouldn't have gotten the update from it.

I'm going to try setting up an internal branch with the Arcade update reverted, to see if it fails in the same way.

[2020-01-14 18:06] blowdart opened #18336 "Microsoft Security Advisory CVE-2020-0602 : ASP.NET Core Denial of Service Vulnerability"
# Microsoft Security Advisory CVE-2020-0602 : ASP.NET Core Denial of Service Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in ASP.NET Core. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware of a

[2020-01-14 18:08] blowdart opened #18337 "Microsoft Security Advisory CVE-2020-0603 : ASP.NET Core Remote Code Execution Vulnerability"
# Microsoft Security Advisory CVE-2020-0603 : ASP.NET Core Remote Code Execution Vulnerability

## <a name="executive-summary"></a>Executive summary

Microsoft is releasing this security advisory to provide information about a vulnerability in ASP.NET Core. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.

Microsoft is aware

[2020-01-14 18:20] wtgodbe commented on #18324
Here's the test build: https://dev.azure.com/dnceng/internal/_build/results?buildId=482731

[2020-01-14 18:37] OpenSpacesAndPlaces opened #18339 "Support for .NET Standard 2.0 IN Microsoft.AspNetCore.Identity.EntityFrameworkCore"
The only dependencies are NET Standard 2.0 compatible libraries:
Microsoft.Extensions.Identity.Stores
Microsoft.EntityFrameworkCore.Relational

--

Also, from an interoperability standpoint, Microsoft.EntityFrameworkCore added support back for .NET Standard 2.0 in 3.1.

[2020-01-14 18:40] blowdart commented on #18339
Closing as dupe of https://github.com/dotnet/aspnetcore/issues/17932

[2020-01-14 18:40] #18339 closed

[2020-01-14 19:01] pranavkm commented on #18333
MVC uses the returned value, i.e. `T` in `ActionResult<T>`, specifically for 200 and 201 responses. It was based on this pattern for returning either an `Ok` or `Accepted` result from an action that peforms long running operations, which we found occurring frequently in a few large API sets: https://github.com/aspnet/Mvc/issues/7871#issuecomment-398144056.

Supplying a `[ProducesResponseType(202,

[2020-01-14 19:02] #18258 closed

[2020-01-14 19:02] SeanKilleen commented on #18337
@blowdart something I didn't see covered in the announcement but I think might be a benefit to know --

Will those of us pulling containers from  the `:3.1` tag for docker containers -- e.g. `mcr.microsoft.com/dotnet/core/aspnet:3.1-alpine` -- automatically the runtime/sdk update the next time the containers are built?

It seems that this would be the case, as I imagine Runtime 3.1.1 or SDK 3.1.10

[2020-01-14 19:02] blowdart commented on #18335
No, as we don't consider it a problem.

See aspnet/Announcements#324 for the announcement last year explaining why,

[2020-01-14 19:05] blowdart commented on #18337
The containers get updated along with everything else, it's just they lag a bit.

[2020-01-14 19:09] ArturDorochowicz commented on #18337
@blowdart So 2.2 is not affected by this and the other today's advisory? Seems odd that versions earlier and later are affected, but this one isn't. Or is it not listed, because 2.2 is not supported anymore anyway?

[2020-01-14 19:10] blowdart commented on #18337
2.2 is out of support and so will not be listed, regardless of whether it is affected or not.

[2020-01-14 19:13] pranavkm commented on #18267
@Jelgab this looks like a browser behavior, not related to MVC.

[2020-01-14 19:15] HTD commented on #18279
@Andrzej-W
What I read made me want to rewrite some of my components to use `Action` instead of `EventCallback` feature (at least until it's fixed), however it's pointless since default HTML component's events are `EventCallback` type. So one little "onclick" and half of my application gets re-rendered and reset. All user input lost and so on. So for now I stick to a very ugly workaround with `IsS

[2020-01-14 19:37] Blackleones opened #18340 "Blazor concurrency problem using Entity Framework Core"
## My goal:
I want to create a Blazor page with a list of users that it is populated through an IQueryable<IdentityUser> using UserManager<IdentityUser>'s property and a button that create a new user when is clicked.

## What did I expect
1. When the page is loaded I want to see users previously created.
2. When I click on "click me" button I want to see a new row inside the users' list

## Proble

[2020-01-14 19:45] wtgodbe commented on #18324
The build failed even after reverting the arcade change, so this is related to the SDK update, not the Arcade update.

[2020-01-14 19:46] Pilchie commented on #18324
@dsplaisted @wli3 ?

[2020-01-14 19:52] wtgodbe commented on #18324
Toolset & SDK use a `5.5.0-preview.2` version of `NuGet.Build.Tasks`, from 3 weeks ago:
https://github.com/dotnet/toolset/blob/master/eng/Version.Details.xml#L72-L74
https://github.com/dotnet/sdk/blob/master/eng/Version.Details.xml#L22-L24

While CLI uses a `5.3.0-rtm` version from 4 months ago:
https://github.com/dotnet/cli/blob/master/eng/Version.Details.xml#L52-L54

Looking at DARC, Toolset & S

[2020-01-14 19:55] artemsv commented on #18019
In our case the application that is crashed is 32-bit ISAPI Extension written in C++ decade ago. AppPool configured as "No Managed Code" and Integrated Pipeline Mode. We have installed on the server with tens of that old applications ASP Net Core Hosting Bundle 3.1.0 and now each access from browser to that ISAPI dll causes the same error in aspnetcorev2.dll

[2020-01-14 20:12] unionthugface commented on #3849
Sorry to reply to an old thread, but I am desperate. I have a .NET Core 2.2 app, in-process, hosted in IIS 10.  I have application pool set to AlwaysRunning with Timeout=0, Preload=true; however my app still stops every 29 hours when the application pool recycles, and then does not restart itself until someone pings the URL.  Back in the .NET Framework days I could write a bootstrapper class and h

[2020-01-14 20:30] OpenSpacesAndPlaces commented on #17932
Is it possible this could be added for the 3.1.2 release?

From what I can see at a high level, both dependencies already support NET Standard 2.0:
Microsoft.Extensions.Identity.Stores
Microsoft.EntityFrameworkCore.Relational

[2020-01-14 20:39] OpenSpacesAndPlaces commented on #18335
Wouldn't this fall in the same vein as:
https://github.com/dotnet/aspnetcore/issues/17932
?

I bring it up as it would pertain to functionality of:
Microsoft.AspNetCore.Identity

---

From a general standpoint - I get removing libraries that require .NET Standard 2.1 to run, but this has the appearance just of removing 2.0 support just as matter of policy.

[2020-01-14 21:01] #18303 closed

[2020-01-14 21:08] frankbuckley opened #18341 "Microsoft.AspNetCore.DataProtection 3.1.1 stated dependencies missing on Nuget.org"
Microsoft.AspNetCore.DataProtection 3.1.1 lists the following dependencies that are not available on Nuget.org:

- Microsoft.Extensions.DependencyInjection.Abstractions (>= 3.1.1)
- Microsoft.Extensions.Hosting.Abstractions (>= 3.1.1)
- Microsoft.Extensions.Logging.Abstractions (>= 3.1.1)
- Microsoft.Extensions.Options (>= 3.1.1)

Updating a project to Microsoft.AspNetCore.DataProtection 3.1.1 the

[2020-01-14 21:10] cpkuo opened #18342 "Expose error handler for Rewrite middleware"
Would be nice to have an error handler when the Rewrite middleware raises an exception and have the ability to still call the next delegate. This would allow for logging any errors due to malformed rules and still execute the rest of the request.

[2020-01-14 21:13] wli3 commented on #18324
There is no CLI for 5.0/master. It was merged to toolset

[2020-01-14 21:15] wli3 commented on #18324
@kartheekp-ms for nuget issue

[2020-01-14 21:15] Pilchie commented on #18341
Tagging @anurse, but I suspect this is just lag while NuGet indexes the new versions.

[2020-01-14 21:19] NTaylorMullen opened #18343 "Renaming Razor files explodes CodeLens and CodeActions"
- Open a default Blazor server app
- Open Counter.razor
- Rename Counter.razor to Counter456.razor
- View RazorLog for CodeLens explosions.

This may not directly be a CodeLens issue because all C# ends up dying after rename as well.

Throwing this into the LSP Preview 1 milestone even though we're overbooked because this is a pretty nasty bug given all C# IntelliSense ends up dying.

[2020-01-14 21:24] wli3 commented on #18324
I think we had this issue before, we need to update Arcade's nuget version. There should be a breaking change

[2020-01-14 21:25] Looooooka commented on #3849
First of all just set the managed pipeline to classic and net clr mode to no managed code.
As you've noticed it's completely useless since the preload thing doesn't work as expected so loading the NET CLR is a giant waste of resources.

Instead change the Configure method in Startup.cs and register a method you wish to execute when the app is started using the ApplicationStarted functionality(you

[2020-01-14 21:27] wtgodbe commented on #18324
Arcade uses `Nuget.Versioning` version 4.4.0, `Nuget.Client` version 5.3.0: https://github.com/dotnet/arcade/blob/be2d4ae34b4fcfe35beb9bdaeb7b7990c1147740/eng/Versions.props#L42-L43. @tmat @markwilkie can we update these?

[2020-01-14 22:20] martincostello commented on #18341
I'm seeing the same thing via `Microsoft.AspNetCore.AzureAppServices.HostingStartup` for the 3.1.1 versions of `Microsoft.Extensions.Logging.AzureAppServices` and `Microsoft.Extensions.Configuration.EnvironmentVariables`.

[2020-01-14 22:36] grbd commented on #5204
I ran across this bug recently after looking at the below announcement
since UseWebpackDevMiddleware is going away
  * https://github.com/dotnet/aspnetcore/issues/12890

## Testing

after a bit of testing it looks like this cropped up sometime between version 2.2 and 3.0

  * .net core 2.1 / extensions - 2.1.1 okay
  * .net core 2.2 / extensions - 2.2.0 okay
  * .net core 3.0 / extensions - 3.0.0

[2020-01-14 22:36] #17746 closed

[2020-01-14 22:36] #17789 closed

[2020-01-14 22:36] #17787 closed

[2020-01-14 22:53] SimonCropp opened #18344 "Microsoft.AspNetCore.Mvc.Testing missing nuget dependency"
https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Testing/ V3.1.1 relies on https://www.nuget.org/packages/Microsoft.Extensions.Hosting/ V3.1.1 which doesnt exist

So a nuget update fails

[2020-01-14 23:01] #18270 closed

[2020-01-14 23:28] NXTwoThou commented on #17781
As an update, installed Visual Studio v16.4.3 today along with .NET Core 3.1.1.  Same results.  I went through and cleaned up a bunch of old .NET Core sdk's/hosting packages/runtimes hoping it was something stuck there, but no dice.  dotnet --info showed 2.1, 2.2.6, 2.2.7, 2.2.8, 3.0 Preview7, 3.0, along with 3.1.

[2020-01-15 00:38] jkotalik commented on #18019
So it sounds like the pure existence of the dll inside of the applicationhost.config causes this error, which isn't surprising based on the error that is happening. I believe no matter what, IIS calls LoadModule on all dlls, and it's failing there.

Here is all of the information I know so far, feel free to correct anything if there is differences in your current scenario:
- Repros only on Windows