[2019-03-12 18:52] Eilon commented on #8446
Do you have some proxy settings configured in Safari (or in the OS)?

[2019-03-12 18:57] #4431 closed

[2019-03-12 18:57] jkotalik commented on #4431
Don't see this failure anymore.

[2019-03-12 18:58] Jaffacakes82 opened #8447 "Unable to configure server timeout of Node HTTP server using ASP.NET Core NodeServices"
### Descriptions
The current implementation of NodeServices doesn't allow for configuration of the `server.timeout` property of the Node HTTP server created at runtime. This causes issues if there's a long running process within the Node application (e.g. PDF generation) whereby the Node HTTP server closes the connection to the calling service (in our case an Azure Function) before the process com

[2019-03-12 19:05] mrlife commented on #8446
No everything's vanilla.

Just realized https://127.0.0.1:5001 works in Safari. Something happened when I uninstalled mysql. I checked /etc/hosts and it was completely empty. I added the following back in there and everything is working again. Thanks for getting me on the right track.

[code]

[2019-03-12 19:05] #8446 closed

[2019-03-12 19:05] muratg commented on #8446
Also, does https://127.0.0.1:5001 work? (swap localhost with 127.0.0.1)

[2019-03-12 19:13] mikaelm12 commented on #8429
So it looks like you are correct. When connecting to the Azure SignalR Service we take the access token and wrap that in a single and override the `accessTokenProvider`. That behavior is correct, what is incorrect is that we don't keep a reference to the original passed in `accessTokenProvider` so we can reset it when we restart the connection.
Good find.

[2019-03-12 19:16] kvantetore commented on #8274
I have hacked around it by wrapping wrapping the router component in an `if (Started)`, where Started is set to true after a round trip to the client. It's not exactly beautiful (and it breaks prerendering), but it unblocks the issue for me until the underlying issue is fixed.

In App.razor, delay loading the router until we have received a message from the client
[code]

And adding window.StartMe

[2019-03-12 19:22] #8262 closed

[2019-03-12 19:35] ctrl-alt-d commented on #8440
I guess this is related with: https://github.com/aspnet/AspNetCore/issues/6726

[2019-03-12 19:44] mkArtakMSFT commented on #8441
@JunTaoLuo do you know what can cause this failures?

[2019-03-12 19:44] anurse commented on #8436
Beyond my scope, I haven't explored the Selenium UI tests. It's possible delays would reduce flakiness, or retry logic. It depends on what's causing the failure. A "stale element reference" seems to indicate that you have a reference to a DOM element that gets moved or changed, and your reference is now broken (https://www.seleniumhq.org/exceptions/stale_element_reference.jsp)

[2019-03-12 19:50] #8416 closed

[2019-03-12 19:57] JunTaoLuo commented on #8441
Hmm are you seeing this on a local build? I suspect that because I see `-t000`. cc @ryanbrandenburg.

[2019-03-12 19:57] VidyaKukke opened #8449 "System.IO.IOException: The configured user limit (128) on the number of inotify instances has been reached."
Started to see this recently when I run it within docker. Code has been same forever and it used to work. Not really sure what has changed. Is there  a workaround that I could use to get unblocked?

How we setup. .Build() is called only once

[code]

On start we end up with this exception below. Seems to point to something in UseMvc()

[code]

.NET Core SDK (reflecting any global.json):
 Version:

[2019-03-12 20:02] javiercn commented on #8441
@JunTaoLuo Yeah, but ViewFeatures is not a package, it's part of the shared framework. So something must be going wrong there.

[2019-03-12 20:14] javiercn commented on #8441
The nuspec for newtonsoftjson is being incorrectly generated I believe
[code]

[2019-03-12 20:25] alentor commented on #2378
I'm still getting no CORS on error 500 (internal server error) using 2.2.105

[2019-03-12 20:32] pranavkm commented on #2378
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-03-12 20:36] mkArtakMSFT commented on #8003
Let's re-evaluate what we want to do here in the future.

[2019-03-12 20:39] mkArtakMSFT commented on #7862
@ryanbrandenburg, we'll need some help here with making this build-able.

[2019-03-12 20:44] mkArtakMSFT commented on #7694
@javiercn can you please investigate this? Thanks

[2019-03-12 20:49] #7494 closed

[2019-03-12 20:54] mkArtakMSFT commented on #7237
@TheFanatr we do have a separate issue tracking the support of optional route parameters and the way we envision that to work is different from what is proposed here. So closing this issue in favor to the one we have already: https://github.com/aspnet/aspnetcore/issues/5489

[2019-03-12 20:54] #7237 closed

[2019-03-12 20:56] mkArtakMSFT commented on #7185
Thanks for contacting us, @furoraest.
We're going to provide some samples regarding configuring the `ComponentHub` and we track that work as part of https://github.com/aspnet/AspNetCore/issues/8277.

[2019-03-12 20:56] #7185 closed

[2019-03-12 20:59] mkArtakMSFT commented on #7175
@Swellenator are you seeing this issue with VS 2019 preview4?

[2019-03-12 21:01] mkArtakMSFT commented on #7125
Closing as this is external.

[2019-03-12 21:01] #7125 closed

[2019-03-12 21:01] mkArtakMSFT commented on #7123
Closing as this is now fixed.

[2019-03-12 21:01] #7123 closed

[2019-03-12 21:03] mkArtakMSFT commented on #7083
Thanks for contacting us, @JialinXin.
Do you experience this issue on the latest version of Blazor?

[2019-03-12 21:04] mkArtakMSFT commented on #7048
Closing in favor of https://github.com/aspnet/AspNetCore/issues/8232

[2019-03-12 21:04] #7048 closed

[2019-03-12 21:06] mkArtakMSFT commented on #7041
Closing as this is fixed already.

[2019-03-12 21:06] #7041 closed

[2019-03-12 21:09] mkArtakMSFT commented on #7032
@kjpou1, is this something you can help @ColinSchmale with?

Closing the issue here as it's external.

[2019-03-12 21:09] #7032 closed

[2019-03-12 21:13] mkArtakMSFT commented on #6973
This issue was moved to mono/mono#13428

[2019-03-12 21:13] #6973 closed

[2019-03-12 21:15] mkArtakMSFT commented on #6956
Thanks for contacting us, @vertonghenb.
What you're trying to do can be achieved using Event Callbacks, which you can read more about at https://github.com/aspnet/AspNetCore/issues/6351

[2019-03-12 21:15] #6956 closed

[2019-03-12 21:16] HaoK commented on #6330
@blowdart @ajcvickers

How about we make a breaking change and just add NormalizeName and NormalizeEmail (and getting rid of the old Normalize) in `ILookupNormalizer` instead of adding two new marker interfaces.  Our default implementation can continue to just ToUpper both, but then its an easy drop in to tweak the normalization of either/both however people like.

[2019-03-12 21:16] mkArtakMSFT commented on #6941
Closing as this is external.

[2019-03-12 21:16] #6941 closed

[2019-03-12 21:17] #6937 closed

[2019-03-12 21:17] mikaelm12 commented on #8445
The docs you linked to are actually referring to Classis ASP.NET SignalR (Sorry for the confusion). The ASP.NET Core SignalR Docs for Auth do show the `AddAuthentication` service being added for the call to `AddSignalR`
https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-2.2#bearer-token-authentication

[2019-03-12 21:18] mkArtakMSFT commented on #6920
@anurse isn't SignalR connection automatically handle this?

[2019-03-12 21:20] mkArtakMSFT commented on #6912
@SteveSandersonMS any recommendations here? Thanks

[2019-03-12 21:21] mkArtakMSFT commented on #6910
Preview3 is out already :)

[2019-03-12 21:21] #6910 closed

[2019-03-12 21:22] mkArtakMSFT commented on #6889
Closing as external.

[2019-03-12 21:22] #6889 closed

[2019-03-12 21:23] BrennanConroy commented on #6920
They might be hitting other problems https://github.com/aspnet/AspNetCore/issues/8384

[2019-03-12 21:25] mkArtakMSFT commented on #6887
@BrennanConroy can you please share details regarding how to control this? Also, we'd like to disable the default to not have these logs by default.

[2019-03-12 21:28] mkArtakMSFT commented on #6857
@HaoK is anybody tracking work to install selenium on the agents?

[2019-03-12 21:28] BrennanConroy commented on #6887
https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-2.2&tabs=dotnet#configure-logging
I don't know how razor components handles things but they can just pass a different log level in.

[2019-03-12 21:28] mkArtakMSFT commented on #6857
/cc @ryanbrandenburg

[2019-03-12 21:30] mkArtakMSFT commented on #6855
Thanks for contacting us, @RodDaSilva.
We haven't yet produced any guidance regarding authentication in Blazor. That is something on our radar and we track that work as part of https://github.com/aspnet/AspNetCore/issues/4048

[2019-03-12 21:30] #6855 closed

[2019-03-12 21:31] mkArtakMSFT commented on #6835
Closing as external.

[2019-03-12 21:31] #6835 closed

[2019-03-12 21:34] HaoK commented on #6857
There's the corresponding issue https://github.com/dotnet/core-eng/issues/5302

The templates/components tests are currently failing due to other issues, so they are waiting for us to confirm if the existing queues now has everything we need.

You can use https://github.com/aspnet/AspNetCore/pull/8256 to investigate the current project template helix failures, Components is blocked by the build is

[2019-03-12 21:37] antonioortizpola commented on #6945
I just hit this issue too, it is confusing.

Also, I know I can search, but it would be great to include an example on how to suppress the warning.

BTW i just changed the name to `dateTime` and the warning went away.

[2019-03-12 21:43] donnyv commented on #8445
It doesn't talk about the ordering of the calls though. How UseAuthentication() should be called first before UseSignalR()

[2019-03-12 21:46] anurse commented on #6920
Yes, SignalR should be doing this automatically. If we fail to connect to the WebSocket endpoint from the client it should automatically fall back through the other transports. I don't know how/if Razor Components has configured SignalR to know for sure if something is interfering with that. It's also possible it **is** falling back and some other issue is occurring (as @BrennanConroy) referenced.

[2019-03-12 21:48] shirhatti opened #8451 "Consider adding a namespace to the proto file in our grpc template"
[code]

[2019-03-12 21:49] mikaelm12 commented on #8445
Sure, we could call out that you have to register the Auth middleware before calling `UseSignalR`

[2019-03-12 21:52] ryanbrandenburg commented on #6857
@javiercn who recently changed this area.

[2019-03-12 21:53] oliverkane commented on #3514
If anyone is having issues with this in a Kubernetes environment, may I suggest using an Init Container.  This can be a super simple app, which only has the job of starting up, creating the initial key, and then terminating.

This doesn't solve the root cause, but it should significantly decrease the window of opportunity.  I think combined with some other techniques above, that would all-but elim

[2019-03-12 21:54] pranavkm commented on #8449
Could you try setting `RazorViewEngineOptions.AllowRecompilingViewsOnFileChange = false`? It'll turn off the file watching that allows runtime recompilation of Razor views or pages.

[2019-03-12 22:14] Eilon opened #8453 "Run Helix on a schedule instead of on PRs"
- [x] Remove Helix from PR checks
- [x] Have Helix run on 'master' on a 4 hour cadence (Daily currently @ 3:42 PM M-F)
- [x] Ensure that RaaS_whatever sees the Helix failures and reports on flaky issues

[2019-03-12 22:14] Eilon commented on #8086
Closing in facor of https://github.com/aspnet/AspNetCore/issues/8453, which covers a few other things.

[2019-03-12 22:14] #8086 closed

[2019-03-12 22:22] GrabYourPitchforks commented on #3514
Another alternative is a play on what @blowdart suggested. When the DataProtection layer first comes online, if it immediately had to generate and persist a new key due to no existing key being acceptable, it could set a background timer to auto-refresh its keyring. (The refresh logic should only refresh; it should not add a new key.) The value `_maxServerToServerClockSkew` would be an appropriate

[2019-03-12 22:26] eduherminio commented on #5278
Thanks a lot for that example, @DoCode, seems worth considering until feature is officially added!

[2019-03-12 22:28] anurse commented on #8439
It looks like the issue is that publish is trying to overwrite a locked file. Perhaps a previous test published to the same directory?

[2019-03-12 22:31] anurse commented on #8436
@javiercn

[2019-03-12 22:44] BrandonPotter commented on #4707
Have been trying to track down this issue as to why ASP.NET Core 2.1 containers keep crashing on K8s. Thought it would abort the request but surprised that it seems to crash the process...

[2019-03-12 22:46] HaoK commented on #8453
PR to disable Helix in PRs is https://github.com/aspnet/AspNetCore/pull/8454

I didn't see any obvious way to specify 4 hour builds in Azdo, but I was able to schedule daily builds at a fixed time (I configured Monday-Friday @ 3:42 since that what time it was).

[2019-03-12 22:48] HaoK commented on #8453
@ryanbrandenburg the first scheduled build is https://dev.azure.com/dnceng/public/_build/results?buildId=122465 if you need a test build to train RaaS against

[2019-03-12 23:02] AndersMalmgren opened #8456 "T4 templates not working as they did with full framework"
### Describe the bug
Accesing types in Core class library with t4 templates.  Using VisualStudio helper you could do in .NET framwork class library

VisualStudioHelper
		.CodeModel
		.GetAllCodeElementsOfType(project.CodeModel.CodeElements, EnvDTE.vsCMElement.vsCMElementClass, false)

Which would give you all declared classes in  that project. This does not work in core you need to set the boolean

[2019-03-12 23:04] JamesNK commented on #7635
@muratg @shirhatti Please prioritize this.

[2019-03-12 23:06] muratg commented on #7635
Do we need a design meeting for this, @shirhatti?

[2019-03-12 23:09] danroth27 commented on #8056
@Adnaco Yup, that's the new home for the Razor Components docs.

[2019-03-12 23:10] ryanbrandenburg commented on #8453
Cool beans. It's not so much that we need to "train" RaaS, I just have to double check that it's triageing builds from that config.

[2019-03-12 23:28] jkotalik commented on #8453
We need to keep some parts of Helix in tact for IIS testing for PRs. Without helix, we remove all PR validation for IIS and make my life as a dev unbearable.

[2019-03-12 23:30] VidyaKukke commented on #8449
Thanks. In case someone else is facing this issue.
My setup was - Docker on windows (hosting Linux containers).  In desperation, just restarted my machine and lo and behold the error went away.  Nothing else. So please try that.

@pranavkm  - If I hit this issue again I will look at your suggestion.

[2019-03-12 23:30] #8449 closed

[2019-03-12 23:32] ryanbrandenburg commented on #8453
If the IIS tests are reliable on helix (or can be made to be) it seems like a reasonable ask to run only them on helix. Having 0 PR coverage for those is, I agree, a very high price. Is the IIS stuff the only thing that has helix-only tests?

[2019-03-12 23:46] HaoK commented on #8453
Maybe we can compromise and just run windows on helix for now, that preserves IIS and most of the coverage and also gets rid of all the flaky tests which generally are non windows

[2019-03-13 00:09] jkotalik commented on #8453
That isn't a compromise I am okay with.

What batches of tests are we still considering flaky on Helix? For example, the InMemory Functional tests for Kestrel are flaky on Helix. Let's disable that entire test project. I thought our plan was to aggressively disable tests. Are we short on resources? Is the inner loop for test feedback too slow?

If we have deemed demoting helix to this position, wh

[2019-03-13 00:38] mrlife commented on #8446
@muratg Please feel free to delete this "bug" since it was not related to ASP.NET Core.

[2019-03-13 00:39] mrlife commented on #8446
@muratg Please feel free to delete this issue since it was not related to ASP.NET Core.

[2019-03-13 00:40] HaoK commented on #8453
It was the collective managers call, but I'm not sure anyone realized that IIS has helix only tests, I believe highest priority is to get PRs consistently green.  Looking at the helix queues, the pass rate is still only 46% recently.  The long term plan is still to do only run tests on helix, but the short/medium term idea was to only run helix on master until more issues are ironed out so PRs are

[2019-03-13 01:22] jkotalik commented on #8453
Chatted with @eilon offline. I understand the motivation. Let's try to make it so Helix ONLY runs on this agent type. https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190312.29.

[2019-03-13 01:54] JoshClose commented on #5200
All that stuff is actually currently available as a part of ASP.NET JavaScript Services, so I don't think there would be a need for ReactJS.NET. MS also published some NPM packages to allow for this.

I use [React Static](https://react-static.js.org/) for static sites, as Gatsby was missing a few features that I needed.

If I ever get to a point where I need SSR and want to use CRA, I'll probably

[2019-03-13 01:58] IvanJosipovic commented on #6937
I think this issue should be reopened. Razor components should have this ability, even if its done with JS interop under the hood. ElementRef should be extended to support most basic JS functions.

[2019-03-13 02:03] JialinXin commented on #7083
Working on the latest version for RazorComponent it's good. I'm closing this issue. Thanks!

[2019-03-13 02:03] #7083 closed

[2019-03-13 02:05] shirhatti commented on #8409
You shouldn't need #4776. The default order should set you up for success.

What OS version are you on?

@halter73 Maybe you've seen this before?

[2019-03-13 02:15] halter73 commented on #8409
This looks to me like a cypher suite disallowed by Chrome for HTTP/2 has been negotiated. Since Kestrel uses SslStream which in turn uses SChannel on Windows, the workaround is to disable weak cypher suites at the OS level.

https://github.com/aspnet/KestrelHttpServer/issues/1018#issuecomment-235356546

[2019-03-13 02:31] ericjohannsen commented on #6117
How would the work-around help when attempting to create a SQLite database from Package Manager Console?

PM> Update-Database
SQLite Error 14: 'unable to open database file'.

[2019-03-13 02:59] vertonghenb commented on #6956
@mkArtakMSFT  Correct, Thanks!

[2019-03-13 04:55] Eilon commented on #8456
Hi @AndersMalmgren ,

To report issues with Visual Studio, use the [Report a Problem](https://developercommunity.visualstudio.com/) tool.

If you encounter a problem with Visual Studio, we want to know about it so that we can diagnose and fix it. By using the Report a Problem tool, you can collect detailed information about the problem, and send it to Microsoft with just a few button clicks. See [

[2019-03-13 04:55] #8456 closed

[2019-03-13 04:56] jkotalik opened #8462 "Re-enable PublishAndRun_Test in MusicStore"
Locked file issues in the test.

[code]

[2019-03-13 05:00] #8105 closed

[2019-03-13 05:25] alentor opened #8463 "No CORS headers sent in case of error 500"
### Describe the bug
When the controller throws an exception, which results in an error 500, No CORS headers added to the response.

### To Reproduce

1. Using ASP.NET Core **2.2.105**
2. Configure CORS.
[code]
3. Use Angular/React/ajax to call foo action.

### Expected behavior
CORS headers should be added to all responses if it has been defined in startup's Configure to do so.

[2019-03-13 05:34] HaoK commented on #8453
Alternative to turning off helix runs on pr, is ignoring any helix test failures for the build, see https://github.com/aspnet/AspNetCore/pull/8464 for an alternative fix.

We could continue to look at helix test runs in PRs as needed, but it should never be red due to tests failing

[2019-03-13 05:34] HaoK commented on #8453
So for IIS you would have to manually go look at the helix runs to make sure your tests pass since the green helix check is meaningless

[2019-03-13 05:36] jkotalik commented on #8453
That is fine with me. I prefer this option significantly. Thanks @HaoK !

[2019-03-13 05:40] Swellenator commented on #7175
Still a problem. I suspect it is just me though, when I run the installer UI for VS 2019 it says that .NET Core 2.1 can't be installed. I believe it is something to do with group policy.

The thing is that I have installed .NET Core 2.1 and 2.2 and 3 Preview manually and it is fine. However because it fails during the VS 2019 install I think it aborts the rest of the ASP.NET tooling in the install

[2019-03-13 06:30] davidfowl commented on #4707
Aborting the request doesn't crash the process

[2019-03-13 06:32] mkArtak commented on #8387
Thanks for the details, @Ponant.
I could repro this using Preview3 bits.
This is where the failure is coming from: https://github.com/aspnet/AspNetCore/blob/c95ee2b051814b787b07f55ff224d03d550aafeb/src/Identity/samples/IdentitySample.DefaultUI/Areas/Identity/Pages/Account/Manage/Index.cshtml.cs#L68
Obviously, the expectation here is that the user should be known. So indeed, authorization was compl

[2019-03-13 07:16] javiercn commented on #8436
For reference, the link above doesn't work properly. (the one with the test results)

[2019-03-13 07:18] ctrl-alt-d commented on #8440
Ok, I found the answer on [release notes, Known issues](https://devblogs.microsoft.com/aspnet/blazor-0-8-0-experimental-release-now-available/):

It looks this issue also affect 0.9.0: https://github.com/aspnet/AspNetCore/issues/6726

[2019-03-13 07:19] atifaziz commented on #8321
Based on the following comment in the code, this is clearly a bug and lacking:

https://github.com/aspnet/AspNetCore/blob/1f050242559e7b90ff6c4ee7f99d92b3a5af5a62/src/Tools/dotnet-watch/src/Internal/MsBuildFileSetFactory.cs#L66-L67

I say a bug because if it's a limitation then it's not documented anywhere.

[2019-03-13 07:31] ctrl-alt-d commented on #8440
I Reopen the issue because I guess [Releases notes 0.9.0 -  know issues section](https://github.com/aspnet/Blazor/releases/tag/0.9.0) should be fixed, must include:

[2019-03-13 07:38] sven5 commented on #6887
In Razor Components, the client connection is established here:https://github.com/aspnet/AspNetCore/blob/33839dc66a9e6eb730e22e7b6d9d381bcf7b4779/src/Components/Browser.JS/src/Boot.Server.ts#L44-L49
There should be a way to control the client log level from outside, i.e. in the options of `RazorComponentsApplicationBuilderExtensions`

[2019-03-13 08:01] davidfowl commented on #8389
@snarlynarwhal Server side works well today but we haven't shipped any APIs for the client side. There's a sample checked in for the client (it was designed but we haven'ts shipped it)

[2019-03-13 08:12] AndersMalmgren commented on #8456
I dont think its a problem with VS but the types under the EnvDTE namespace does not work correctly when you target a Core project.

[2019-03-13 08:28] spaolo1969 commented on #6920
Actually my issue is quite old (Jan 22) and it might be that other previews worked with fallback, didnt have time to check. This morning i took some time to check. IIS with websockets working as expected. if i uninstall websocket protocol from IIS the UI is not even shown in the browser .

Looking at the network tab you can see it does negotiate protocols

{connectionId: "GRne4_Dm5hYP4eMBpo0j7w",…

[2019-03-13 08:33] devnixs opened #8465 "[Razor Components] Programmatically redirect the user"
Hello,

So far I haven't found a way to programmatically redirect the user to another page.
Here's what I'm currently doing, but it's hacky:

[code]

And then I made a javascript function
[code]

This works great during the server side rendering, but otherwise, it's not ideal because `window.location.href = location` triggers a full page refresh.

Thanks for your help!

[2019-03-13 08:36] devnixs opened #8466 "[Razor Components] How do you tell if you are currently server side rendering?"
Hello,

Sometimes I need to know if my code is running during the server side rendering.

Here's what I currently do:

[code]

It works, but it feels hacky.
Is there another way?
If not, we might need an API for this.

Thanks!

[2019-03-13 08:39] devnixs commented on #8466
Just noticed the issue is tracked here https://github.com/aspnet/AspNetCore/issues/8404

[2019-03-13 08:39] #8466 closed

[2019-03-13 08:44] yberstad commented on #1976
I'm currently experiencing memory issues.

After an hour in production all memory is used by the w3wp.exe process (running .NET Core InProcess). Changing the GC to Workstation, did not do the trick for me.

After analyzing a memory dump, I found this similar issue, https://github.com/aspnet/AspNetCore/issues/6102.

I'm hoping to test it out in production later today, after upgrading to the latest

[2019-03-13 08:56] MovGP0 commented on #6330
@HaoK  that would be a possible solution. I'm just unsure if it aheres to the SRP to do so. And to have four interfaces (`INormalizerBase`, `IEmailNormalizer`, `IUserNameLookupNormalizer`, AND `INormalizer`) seems like overkill.

[2019-03-13 09:03] ssdeepak opened #8467 "MissingMethodException: Method not found Microsoft.EntityFrameworkCore.Metadata.Builders.IndexBuilder"
As per the blog ASP.NET Core updates in .NET Core 3.0 Preview 3
I Installed vs 2019 ,
dotnet new angular -au Individual
after npm install, dotnet restore
and running the app
when I tried to register I got this error

[code]

I have tried this both on Windows and Mac and I get the same error

[2019-03-13 10:32] loop-evgeny opened #8468 "Logged-in state is not consistent between Fetch data page and account management pages in React app with authentication in ASP.NET Core 3 Preview 3"
### Describe the bug

In a React app with authentication created using ASP.NET Core 3 Preview 3 when I click "Logout" on my account profile page I seem to be logged out there, but still logged in on the home page and "Fetch data" page.

### To Reproduce

1. Using ASP.NET Core 3.0 Preview 3 create a new project with `dotnet new react --auth Individual`
2. Apply the various workarounds at https://gi

[2019-03-13 11:20] loop-evgeny commented on #5204
This happens for me in VS 2017 Pro 15.9.9 and VS 2019 Preview 4.2. When I start an ASP.NET Core 2.1 or 2.2 React app from VS (with debugging) and stop debugging the node.ex processes remain. If I run outside of VS using `dotnet run` and kill that with Control+C the node.exe processes exit.

[2019-03-13 11:21] julienGrd commented on #8465
Hi devnixs, you don't have to redirect through Js but use c# code and inject IUriHelper

[Inject]
protected IUriHelper UriHelper { get; set; }

Usage
this.UriHelper.NavigateTo("your relative page url");

[2019-03-13 11:56] mgolois commented on #7772
@JamesNK, @mkArtakMSFT  did this fix made it to .net core 2.2.3, which has just been released?

[2019-03-13 12:00] m-wilczynski opened #8469 "OutputFormatter does not respect Accept header from request when Content-Type is not present"
### Describe the bug
We are currently incorporating `application/x-msgpack` into our internal HTTP APIs and we are having hard time implementing interoperability with `application/json`.

Our current perception is that because of `JsonOutputFormatter` base class `OutputFormatter` (AspNetCore/src/Mvc/Mvc.Core/src/Formatters/OutputFormatter.cs) content negotiation works differently than described in

[2019-03-13 12:33] andresrsanchez commented on #5833
Hi!

One question, why everything related to SPA in https://github.com/aspnet/AspNetCore/blob/master/src/Identity/ApiAuthorization.IdentityServer/src/Options/ClientBuilder.cs are using Implicit Grant Type?

Since December of last year I think it's not recommended https://tools.ietf.org/html/draft-ietf-oauth-security-topics-12#section-3.1.2

Thanks for all!

[2019-03-13 12:41] laurence73 commented on #8302
Confirming this is an issue on GetJsonAsync from a database when the rows count (in our case) exceeds 3 rows. We have added the suggested fix "options.AllowSynchronousIO = true;" but does not fix the issue.

[2019-03-13 12:41] heemskerkerik opened #8471 "UseForwardedHeaders does not select correct client IP address from X-Forwarded-For when it has multiple values"
### Describe the bug
The `ForwardedHeadersMiddleware` does not handle multiple values in the `X-Forwarded-For` header correctly. When there are multiple proxies in front of an application, each proxy appends a remote IP address to the header. The middleware picks up the **right-most** value and assigns it to the connection's `RemoteIpAddress`, but it should be using the **left-most** value ([sourc

[2019-03-13 12:52] hansmbakker commented on #4019
This usage of is `Microsoft.AspNetCore.DataProtection.AzureStorage` using a nuget package from 2017 😱 (WindowsAzure.Storage) is an issue for my project as well. Results in:
[code]

[2019-03-13 12:55] hansmbakker opened #8472 "Asp.net core using storage nuget package from 2017 results in nuget conflict"
### Describe the bug
`Microsoft.AspNetCore.DataProtection.AzureStorage` depends on [`WindowsAzure.Storage`](https://www.nuget.org/packages/WindowsAzure.Storage/8.1.4), a nuget package from 2017 😱. This creates conflicts e.g. when also using Nuget packages that rely on its modern replacement ([`Microsoft.Azure.Storage.*`](https://www.nuget.org/packages/Microsoft.Azure.Storage.Blob)). E.g. Bot Frame

[2019-03-13 13:00] Rymix commented on #8440
I got the same issue than you.
I solved that by : Deleting all my Nuget package on windows + Update again all nugets from 0.8.0 to 0.9.0

[2019-03-13 13:20] vytautask commented on #4422
I'm completely lost now. @Tratcher says it's patched and @jkotalik says it was was reverted and was never released. So, which one is it? Both? :)

[2019-03-13 13:29] blowdart commented on #8471
Yes. As the [documentation](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.2) states

There's no way we can actually figure out your proxy setup, and an attacker can, of course, add their own X-Forwarded-For header, with misconfigured proxies not stripping it at all. Thus, if you know you have chained proxies then you need to tell the middleware

[2019-03-13 13:30] blowdart commented on #8472
@muratg Who can I borrow for data protection right now?

[2019-03-13 14:05] rdcm opened #8473 "[Question] - ConnectionResetException thrown while kestrel process http request."
Under some load i have errors like this: `ConnectionResetException`. Could you help me determine the problem? My current project not fully asynchronous. Currently deployed under azure fron door balancer.

netcoreapp: 2.0
system image: ubuntu 18.04
docker images:
[code]

Any related links on described behaviour in docs will be helpful.

[code]

[2019-03-13 14:06] rdcm commented on #8473
Kestre options

[code]

[2019-03-13 14:11] pranavkm opened #8474 "System.Text.Json based formatters - error handling"
Follow up to #7256, we need to do better error handling for parse and Required fields when deserializing. This would likely require features in the serializer to support our use case.

[2019-03-13 14:14] pranavkm opened #8475 "System.Text.Json based formatters - handle invalid characters \ encoding"
Since the input to the formatters is untrusted, do we need to do anything special to handle invalid encoding \ characters. See https://github.com/aspnet/AspNetCore/pull/8362#discussion_r264512040

[2019-03-13 14:32] bdemolder commented on #4364
Same here, and frankly quite irritating as this messes up production. Anyone has a nicer workaround for this?
Because we are getting very awkward situations:
- When building against IIS express, it adds those environment variables, but keeps the processPath at "%LAUNCHER_PATH%" and same goes for the arguments.
- When building against local IIS, the same happens with the environment variables but c

[2019-03-13 14:51] heemskerkerik commented on #8471
@blowdart, I did as you suggested, changed the `ForwardLimit` to 2 (since there are two proxies in the test scenario described), but the output remains the same.

I also tried setting it to `null`, but that made no difference.

[2019-03-13 14:57] devnixs commented on #8465
Thanks @julienGrd, I'm gonna try this.

[2019-03-13 15:00] jijiechen commented on #5834
I see. Thanks for your explanation.
Just saw source of [DataProtectorTokenProvider](https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Core/src/DataProtectorTokenProvider.cs#L80) class a second time. You are correct, issued tokens will be revoked automatically on security sensitive (email/phone number/username) changed since these changes will cause the security stamp to change.

But th

[2019-03-13 15:02] devnixs opened #8476 "[Razor Components] How to deal with application restarts?"
Hello,

When the server has to restart, for example to do a new deployment, how do you deal with this?

**Since the page state is kept in memory in the server, when the app restarts the state is lost and the page is left broken.**
The user then has to refresh the page for it to work again.

- Is there a way to keep this state in a more persistent storage?
- Or do you handle this by automatically r

[2019-03-13 15:04] anurse commented on #8436
Ugh. I think it's because I restarted the build or something. There wasn't really any more data there, just the exception message and browser logs. There was a heading for "Selenium driver logs" but it had nothing after it.

[2019-03-13 15:09] anurse commented on #8462
Duping with https://github.com/aspnet/AspNetCore/issues/8439 and adding this content to that issue.

[2019-03-13 15:10] anurse commented on #8439
Another report from @jkotalik in https://github.com/aspnet/AspNetCore/issues/8462

[code]

[2019-03-13 15:10] #8462 closed

[2019-03-13 15:18] vertonghenb commented on #8465
if it's a MVC controller or page outside of the client router you can use
[code]
This would skip internal "client side" routing and go to the page

[2019-03-13 15:36] heemskerkerik commented on #8471
Documentation isn't terribly clear, but as @blowdart says, you have to change the `ForwardLimit`. You also need to either clear `KnownProxies`/`KnownNetworks` or add the values for trusted proxies there.

Enabling logging, as the documentation says, would have revealed the issue.

[2019-03-13 15:36] #8471 closed

[2019-03-13 15:54] dougbu commented on #7728
Has this happened?

[2019-03-13 16:01] Eilon commented on #8456
Hi @AndersMalmgren ,

The EnvtDTE namespace and the project system used for .NET Core projects is all part of Visual Studio, so I think it would still be the right place.

[2019-03-13 16:06] Jon-Murray opened #8479 "Rename default __RequestVerificationToken"
Hi,

It is fairly important for us to be able to mask the tech stack in use as much as possible. It seems that there is currently no way to rename the default "__RequestVerificationToken" parameter when CSRF protections are enabled. It would be very beneficial to be able to set this to an arbitrary name, like what is possible by setting the AntiforgeryOptions in Startup.

Is it likely this could b

[2019-03-13 16:31] Eilon commented on #8467
@ajcvickers - known breaking change? Any idea on this?

[2019-03-13 16:32] pakrym commented on #6117
@ericjohannsen the issue in this thread is not related to your problem and neither is the workaround. It's only applicable to applications running in IIS using AspNetCore InProcess hosting model. Can you please file your issue in http://github.com/aspnet/EntityFrameworkCore

[2019-03-13 16:32] JamesNK commented on #7772
It didn't. For 2.2 you should disable endpoint routing. In 3.0 this is fixed.

[2019-03-13 16:38] ajcvickers commented on #6330
@HaoK Sounds okay to me.

[2019-03-13 16:41] #8465 closed

[2019-03-13 16:43] mkArtakMSFT commented on #8407
Thanks for contacting us, @Asshiah.
Can you see what's showing in the browser console? There may be some errors in there.

[2019-03-13 16:44] ajcvickers commented on #8467
@Eilon No, I don't think this is expected.
@ssdeepak Can you post your `csproj` file so we can see what is being referenced?

[2019-03-13 16:47] mkArtakMSFT commented on #8406
Thanks for contacting us, @julienGrd.
You have to override the `Dispose()` method and unsubscribe from the set of notifications.

[2019-03-13 16:47] #8406 closed

[2019-03-13 16:53] muratg commented on #8472
cc @Eilon

[2019-03-13 16:58] ssdeepak commented on #8467
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>
    <TypeScriptToolsVersion>Latest</TypeScriptToolsVersion>
    <IsPackable>false</IsPackable>
    <SpaRoot>ClientApp\</SpaRoot>
    <DefaultItemExcludes>$(DefaultItemExcludes);$(SpaRoot)node_modules\**</DefaultItemExcludes>

[2019-03-13 16:59] fractionalJoe commented on #7750
Any thoughts on this?

[2019-03-13 17:06] #5827 closed

[2019-03-13 17:08] ericjohannsen commented on #6117
@pakrym Are you certain? The issue is that EF receives its configuration from AspNetCore using this line:

[code]

I can make it work by hacking appsettings.json like this:

[code]

Have a look at [this documentation](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dbcontext-creation),

If you still feel the issue is not related to how AspNetCore sets the current directory, please provi

[2019-03-13 17:12] rynowak commented on #8479
You should be able to change this.

[code]
https://github.com/aspnet/AspNetCore/blob/dbf746d210bf5fd52c994d650b26a06eda41cf47/src/Antiforgery/src/AntiforgeryOptions.cs#L66

[2019-03-13 17:15] jkotalik commented on #6117
I would make sure that you are running on ASP.NET Core 2.2.2 and check again.

[2019-03-13 17:16] anurse commented on #8439
We should resolve that by moving test app publishing to a build step, like IIS did. Some relevant things:

* Test Apps include a props file: https://github.com/aspnet/AspNetCore/blob/master/src/Servers/IIS/build/testsite.props
* Test Apps describes the "profiles" they need to be published under: https://github.com/aspnet/AspNetCore/blob/master/src/Servers/IIS/IIS/test/testassets/InProcessWebSite/I

[2019-03-13 17:22] AndersMalmgren commented on #8456
I created a cli project instead. works good

[2019-03-13 17:23] ryanbrandenburg opened #8485 "Improve experience of building Templates locally"
Right now doing local development on project templates is a big pain. You first have to build all the packages, which takes a while, and only then can you work on the templates, which you have to run a separate script to see in action.

[2019-03-13 17:31] ssdeepak commented on #8467
Show raw exception details
System.MissingMethodException: Method not found: 'Microsoft.EntityFrameworkCore.Metadata.Builders.IndexBuilder Microsoft.EntityFrameworkCore.Metadata.Builders.EntityTypeBuilder`1.HasIndex(System.Linq.Expressions.Expression`1<System.Func`2<!0,System.Object>>)'.
   at IdentityServer4.EntityFramework.Extensions.ModelBuilderExtensions.<>c__DisplayClass2_0.<ConfigurePersisted

[2019-03-13 17:37] Ponant commented on #8387
@mkArtak , out of curiosity, do you know from where the bug comes from?

[2019-03-13 17:45] RSuter commented on #8254
I think we need to add a new target framework (.NET Core 3) in NSwag anyway which will reference ASP.NET Core 3.0 (which I really don't like as it means you cannot use ASP.NET Core 2.2 on .NET Core). With this new target framework we can easily fix this issue...

[2019-03-13 17:54] bbowman commented on #6783
@bradygaster @davidfowl Personally would be in favor of ObjC due to better native interop. My ideal vision here would be to get a C++ client ship able (how is that going btw? I see its still listed as unsuported?) and then use something like xlang(https://github.com/Microsoft/xlang) to get some language projections. @devhawk as well.

My team (https://github.com/Microsoft/project-rome) would be hi

[2019-03-13 18:11] mkArtakMSFT commented on #7330
The last we talked about this is going to look something like:
`dotnet add servicereference -type [openapi|grpc] ...`

[2019-03-13 18:14] Eilon commented on #8467
Tagging @javiercn in case it's something related to `Microsoft.AspNetCore.ApiAuthorization.IdentityServer`.

[2019-03-13 18:14] halter73 commented on #8429
We're also considering backporting this.

[2019-03-13 18:24] mkArtakMSFT commented on #8242
Here are the list of items we need clarity on:
- [ ] Define the changes in `csproj` file indicating that the document should be auto-generated
- [ ] Define the details regarding where the generated document should be placed (defaults)
- [ ] Define user's options for overriding our defaults
- [ ] Define options for generating additional document(s)

[2019-03-13 18:30] mkArtakMSFT opened #8487 "Update partner packages to consume the latest version of our packages"
This is the work we need to do near the end of preview4 so that we don't leave NSwag and Swashbuckle broken.

[2019-03-13 18:35] jamend commented on #5223
@cole21771 This helped me figure it out. I was the calling executable on the command line using its absolute path in the publish directory (let's say `/home/me/project/bin/publish/myapp`). This would give me the `The SPA default page middleware could not return the default page '/index.html'` exception. I got it to work by first changing the working directory to the publish folder and running it f

[2019-03-13 18:42] Jon-Murray commented on #8479
Can confirm that this work, sorry for the trouble and thanks for the quick reply.

[2019-03-13 18:42] #8479 closed

[2019-03-13 18:57] DonKeyHote commented on #4647
This worked for me for Azure Authentication on dotnet core 2.2.
Got this from @Tratcher and @thdotnet  Conversation.

services.Configure<CookieAuthenticationOptions>(AzureADDefaults.CookieScheme, options =>
{
  options.Cookie.SameSite = SameSiteMode.None;
});

[2019-03-13 19:20] SteveSandersonMS commented on #8386
It won’t update because this code doesn’t trigger ValueChanged anywhere.

[2019-03-13 19:24] ryanbrandenburg commented on #7388
My recommended solution here is to [use the scripts](https://github.com/aspnet/AspNetCore/tree/master/src/ProjectTemplates/scripts) which handle all the (known) problems we run into because we're not using production builds. I already had some stuff to make that work better built into https://github.com/aspnet/AspNetCore/pull/8196, but if that PR isn't merged soon I can always split it out into a

[2019-03-13 19:42] halter73 commented on #4422
@vytautask The bug you're observing (which is that the CancellationTokenSource backing the RequestAborted token can be disposed prior to middleware completing) still exists.

@Tratcher is referring specifically to a fix for referencing CancellationTokenRegistration.Token after the CancellationTokenSource has been disposed. This prevents the process crash and made it in to 2.2.1. We will need to re

[2019-03-13 19:44] jkotalik commented on #4422
@halter73 to note, we now know this bug exists with ANCM InProcess.

[2019-03-13 19:46] snarlynarwhal commented on #8389
Okay thank you for that link, I'll play with the sample over the weekend, but at first glance this appears to be what we're looking for!

[2019-03-13 19:54] HaoK commented on #8453
Merged https://github.com/aspnet/AspNetCore/pull/8464 which should keep helix 'green' for PRs :)

[2019-03-13 20:03] MikeYeager commented on #7952
I'm having this issue. VS 2019 RC2, ASP.NET Core 30 Preview 3. I followed all the steps [here](https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio).

I've installed .NET Core 3.0 Preview 3 SDK.

I've installed the [language extension](https://marketplace.visualstudio.com/items?itemName=aspnet.blazor)

I've run: dotnet add package M

[2019-03-13 20:07] yeskela opened #8513 "IIS web.config inheritance"
### Is your feature request related to a problem? Please describe.
I need to get access to an IIS root web.config file in order to get some configuration (connection string, app settings etc.) from .Net Core API hosted in a lower level of IIS website

### Describe the solution you'd like
Now the access to the upper level config files blocked inside PhysicalFileProvider implementation and just prev

[2019-03-13 20:08] javiercn commented on #8467
Yes.

This is a known issue. We have it documented in the list of known issues here https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview-known-issues.md the 4th bullet point.

This will be fixed in preview 4

[2019-03-13 20:10] blowdart commented on #3514
@Eilon Frankly we should look at doing this properly, in code, rather than tell customers to deploy in an unnatural way. This isn't the first instance of this reported, and we keep pushing it back. I'd like to push it forward, as a bug into 3.0. Thoughts?

[2019-03-13 20:11] blowdart commented on #6330
Works for me, SRP be damned. There's clean, and then there's pragmatic and usable :)

[2019-03-13 20:11] pranavkm opened #8489 "Tracking issue for System.Text.Json follow up"
* [ ] ~~DateTime - https://github.com/dotnet/corefx/issues/36023~~ Work around found
* [x] Dictionary<TKey, TValue> - https://github.com/dotnet/corefx/issues/36024
* [x] Collection interfaces - https://github.com/dotnet/corefx/issues/36643, https://github.com/dotnet/corefx/issues/36640
* [x] Support for camel casing (https://github.com/dotnet/corefx/issues/36351)
* [x] Support for `JsonExtensionDa

[2019-03-13 20:15] #7320 closed

[2019-03-13 20:15] MartinF commented on #8232
I'm very happy to see that you have prioritized this and make an effort in including a solution.
It is quiet a headache to work around it. :)
It would be great if you could also somehow think about how to retrieve and store references to Components generated in a loop (I have described my initial thoughts in #7048).

[2019-03-13 20:19] GrabYourPitchforks commented on #3514
I think in order to solve this properly you'd need transactions of some kind. Basically, you'd want the behavior to be: (a) check the persistence mechanism for the preferred key; (b) if no preferred key is found then generate a new one; (c) attempt to store the new key into the persistence mechanism _only if_ the store itself hasn't been modified since the initial check in step A, otherwise go bac

[2019-03-13 20:25] rynowak commented on #8386
Hi @medeirosraul - what Steve said is right, this won't send change notifications because in `Index.razor` you're attaching a binding to `RazorInputTest.Value`, but nothing is going to invoke `RazorInputTest.ValueChanged`.

It's really our intended pattern for you to subclass `InputText` if you want to replace its UI but unfortunately that doesn't work well in preview3 (#8192).

If you want a solu

[2019-03-13 20:35] Eilon commented on #8453
Yay!

[2019-03-13 20:35] pranavkm commented on #8474
Tracked via https://github.com/dotnet/corefx/issues/36025

[2019-03-13 20:51] ajcvickers commented on #8467
@javiercn What's the root cause?

[2019-03-13 21:02] mkArtakMSFT commented on #6920
Thanks @anurse. We plan to address exposing SignalR hub configuration as part of https://github.com/aspnet/AspNetCore/issues/8277

Seems like without a way to configure those options we won't be able to move forward here. So marking this investigation as blocked until we figure out how we expose the configuration options for the Hub.

@rynowak if you have any suggestion here which can unblock this

[2019-03-13 21:12] mikaelm12 commented on #8445
Going to close this in favor of a docs issue I opened here: https://github.com/aspnet/Docs/issues/11389

[2019-03-13 21:14] #8445 closed

[2019-03-13 21:16] brockallen commented on #3514
I doubt that will work for the network share filesystem approach.

I implemented something similar in a project where I create the first key, write it, then wait a configurable amount of time (presumably waiting for other nodes to write their keys), then reload from the store.

[2019-03-13 21:32] schuettecarsten commented on #8409
I am on Windows 10 Enterprise, 1809 version.

I have downloaded IISCrypto v3.0 (latest) and set it to "Best Practices". This did not help.

[2019-03-13 21:46] arivoir commented on #8192
Completely agree, we should not be forced to call the base. Currently if the base is not called the StateHasChanged stops working.

[2019-03-13 21:49] anurse commented on #6920
One note is that the issue you linked is for configuring hub options **on the server**. In this case you'd need to provide a way to configure the **JavaScript client** connection options to produce more logging.

[2019-03-13 21:59] #6555 closed

[2019-03-13 22:09] halter73 commented on #8409
Did you find a solution or workaround @schuettecarsten?

[2019-03-13 22:13] schuettecarsten commented on #8409
Sorry, closed accidentially while posting my comment. The issue is still there.

[2019-03-13 22:34] hheexx commented on #5262
@chrisckc Thanks for explaining what is happening behind the scenes better then all documentation!
I agree that current extension methods are not very good named and it's very hard to intuitively understand what they are doing.

[2019-03-13 22:51] mkArtakMSFT commented on #6920
I see. @pranavkm, @javiercn do we have a way for configuring SinglarR Javascript client?

[2019-03-13 23:01] pranavkm commented on #6920
Not as yet. Although we could cover it as part of - https://github.com/aspnet/AspNetCore/issues/6887

[2019-03-13 23:04] arivoir opened #8493 "TypeConverter for parameters"
I'm am trying to add a parameter of type "C1Color" I created to a razor component, and I'd like to pass it as a string.

[code]

[code]
Is there any way to use _System.ComponentModel.TypeConverter_ for these scenarios?

[code]

I know I can do something like this

[code]

But I want to avoid it.

[2019-03-13 23:33] vertonghenb opened #8494 "Add @using Microsoft.AspNetCore.Components.Services in _ViewImports.cshtml by default"
### Is your feature request related to a problem? Please describe.
In a lot of Razor Component apps we'll navigate programatically using `IUriHelper`. However it's needed to always add the namespace `@using Microsoft.AspNetCore.Components.Services` at the top of the file or in the `_ViewImports.cshtml` file. Since it's needed in a lot of applications i'd suggest we add it in the templates by defau

[2019-03-14 00:21] Bio2hazard commented on #6803
We are running an AspNet Core 2.1.4 microservice deployed on Alpine Linux, hosted on AWS ECS ( docker image `microsoft/dotnet:2.1.4-aspnetcore-runtime-alpine` ).

It's using server GC and has 1536MB available.

Our microservice with websockets is not experiencing any memory growth.

We do not explicitly set a `KeepAliveInterval` on the socket so it uses the default of 2 minutes. It's a shot in the

[2019-03-14 00:36] davidfowl commented on #3514
@GrabYourPitchforks Redis has that. This is why I suggested using lua script. It works and is transactional (because it locks the database). Should we just investigate that approach.

[2019-03-14 00:38] chrdlx commented on #8378
Any idea how can I solve this in the meanwhile? Thanks!

[2019-03-14 01:10] parekhkb commented on #7975
@skolima Can you tell me what you mean by forcing the test project to a version of `Microsoft.AspNetCore.App` I added the following `<PackageReference Include="Microsoft.AspNetCore.App" Version="2.2.3" />` to my test project and it did not solve the problem. Thanks for your help!

[2019-03-14 01:30] vertonghenb commented on #8274
Not only does this happen on `OnInitAsync` but also on `OnParametersSetAsync`

[2019-03-14 01:34] jose-pr opened #8496 "ProblemDetails Default Content-Type with Accept Header"
When returning a ProblemDetails object such as with NotFound() inside of a controller the content-type is set to application/problem+json even with  RespectBrowserAcceptHeader set to true. Which causes the wrong outputformatter to be called.

### To Reproduce
Custom Output Formatter
[code]

Mvc Options

[code]
 Result when using Ok(Result)
[code]
Result when NotFound() is called, if NotFound is ca

[2019-03-14 02:34] honkmother commented on #8274
I've confirmed that it happens on all of the lifecycle events; the task never returns.
Is there a work around that doesn't break prerendering?

[2019-03-14 02:45] dougbu commented on #8487
@mkArtakMSFT near the end or after we have released preview 4 to NuGet?

[2019-03-14 02:47] ericjohannsen commented on #6117
I'm running on ASP.NET Core 2.2.3.

[2019-03-14 03:21] rynowak commented on #8494
I think what's much more likely is to move it to another namespace. I agree that this is worth doing something about and that's good feedback 👍

[2019-03-14 03:43] achandlerwhite commented on #5828
@javiercn

Just to be clear, when you say "there will be no action to fix this" do you mean no change will be made or that it is slated for 3.0?

[2019-03-14 03:49] vertonghenb commented on #8494
@rynowak I was expecting it to be in : `Microsoft.AspNetCore.Components.Routing`.
Maybe put it there since that is already in the `_ViewImports` file?

[2019-03-14 03:57] mkArtak commented on #8387
Not really, @Ponant. Let's wait for @pranavkm to handle this - he'll do a great job here.

[2019-03-14 04:07] vertonghenb opened #8498 "_ViewImports extravaganza"
### This topic is used to discuss the issue and see how we can  (maybe) change it.
It's starting to become a  **_ViewImports extravaganza!**, the following is a default Razor Components Template (3.0.0 preview 3):

![image](https://user-images.githubusercontent.com/10981553/54330282-6c7e8800-4615-11e9-932b-6342ba9532b7.png)

Personally I find the use of ViewImports handy but I'm always doubting in

[2019-03-14 04:10] vertonghenb commented on #8274
@honkmother I'm afraid that using any JS interop is not allowed in prerendering.

[2019-03-14 04:24] honkmother commented on #8274
I am not calling it during prerendering.

https://github.com/SQL-MisterMagoo/PreRenderComponent allows us to detect when the prerendering is active and avoid making JS Interop calls during it.

[2019-03-14 05:34] Agentis opened #8499 "Exotic MVC routing throws System.IndexOutOfRangeException at Microsoft.AspNetCore.Routing.RouteValueDictionary"
We have a .NET Core 2.1 application in production on Azure. It has been, infrequently, coming down with an unrecoverable 500 error which necessitates a site restart. We have noticed the following exception/stack trace appearing in our Azure application insights log hundreds of times at these times.

We cannot easily reproduce the issue unfortunately; it happens unpredictably but with increasingly

[2019-03-14 05:48] halter73 opened #8500 "Ensure HubConnection._connectionState "Represents all the transient state about a connection""
We should also ensure all references to HubConnection._connectionState are safe, and see if that means taking the connection lock in more cases.

https://github.com/aspnet/AspNetCore/blob/ee5d6728879a71eb4b2b16cd6786d28711815563/src/SignalR/clients/csharp/Client.Core/src/HubConnection.cs#L1232

[2019-03-14 07:28] mqudsi commented on #4422
We are also seeing this in production only, running under IIS with the new in-proc option. I have the logs enriched with the request context (Serilog integration) and it seems the error is never associated with a request, or at least the details of the request context are never present when the exception occurs. We don't have post-delivery processing of async procedures queued up after the client

[2019-03-14 07:42] kierenj opened #8501 "RunAsync not returning when supplied CancellationToken cancelled"
Hi, I have some more information around this issue:

https://github.com/aspnet/Hosting/issues/1474

I was using `IWebHost.RunAsync(stop)` and cancelling in a `Console.CancelKeyPress` handler.  Intermittently, this would fail: it would hang rather than return.

However I found another issue - I wasn't setting the `Cancel` flag in the `CancelKeyPress` handler, so the default behaviour is that the ap

[2019-03-14 07:44] we4sz opened #8502 "InputCheckbox does not set initial value"
### Describe the bug
When creating a InputCheckbox where value is true the checkbox is still unchecked.

### To Reproduce
Steps to reproduce the behavior:
1. Create a simple component
[code]

### Expected behavior
The checkbox should be checked

### Additional context
[code]

[2019-03-14 07:59] shadinamrouti opened #8503 "GDPR accept consent differs between http and https"
### Describe the bug
I did all types of experiments on the _CookeConsentPartial.cshtml normally generated by .net core 2.2 templates. The content of the file is as follows:

[code]
I did the experiments under an environment that does not enforce https by commenting out `app.UseHsts();` in startup.cs.
I tested the effect of GDPR acceptance under http and https and under www and non-www and studied

[2019-03-14 08:00] GuitarHero1969 commented on #8134
But isn’t in-process hosting the default for IIS ?

On Friday, March 8, 2019, Luis Harvey Triana Vega <notifications@github.com>
wrote:

[2019-03-14 08:24] skolima commented on #7975
@parekhkb exactly this - that did solve the problem in my case.

[2019-03-14 08:35] TanvirArjel commented on #8365
@blowdart, You are completely wrong that people are not complaining about this or not facing any problem. Please go to stack overflow see that how questions has been asked related to this. Even new comer does not know what Razor Page Identity is! as they are already used to MVC. They become mad of searching the hidden Identity related code in the project. So your logic is pretty superfluous!

[2019-03-14 08:48] AndreasTurowski commented on #4726
After a while and some updates of .net core, the problem has changed its face. Now we get a 505 Status Code (Http version not supported). Our client is an old piece of software that sends requests with HTTP/1.0 and "Connection: close"-Header to a proxy. That proxy keeps the Connection: close in the header but sends the request as HTTP/1.1 to our controller. After changing the proxy code to send th

[2019-03-14 09:17] alentor commented on #8463
Have resolved the problem by rearranging my pipeline,
UseExceptionHandler should come before CORS in the pipeline.

[2019-03-14 09:17] #8463 closed

[2019-03-14 09:25] bluetianx opened #8504 "How to run signalR client(C#) on windows xp?"
I was asked to run wpf client used signalr  on windows xp. Can I do it ,How to do it ? I felt so bad when I heard the news.

[2019-03-14 09:50] bluetianx commented on #8504
I found signalr client wrired by C++ in src.  can it use in product ,can it run winXP?

[2019-03-14 10:03] devnixs commented on #8465
Just checked and UriHelper.NavigateTo only navigates client-side. This means is does no redirection during the prerendering.

So I changed my code to be

[code]

And this works great.
Closing this ticket then.

[2019-03-14 10:07] devnixs commented on #8476
I'm doing this for now, so the user doesn't stay in a broken page :
[code]

[2019-03-14 10:15] javiercn commented on #5828
From what I understand yes. Adding @HaoK who made the suggestion to make this postconfigure in the first place to see if he wants to reconsider.

[2019-03-14 10:32] javiercn commented on #8467
@ajcvickers It was an incompatibility between the EF versions used by IdentityServer4.EntityFramework.Storage and the versions used by Identity. There was a breaking change in 3.0 where IndexBuilder became generic IndexBuilder<TEntity> and that was causing the method not found exception.

Sadly we didn't discover this for preview3. We have a workaround for preview4 and I'm putting some more tests

[2019-03-14 10:33] Eyadius opened #8505 "User Impersonation Problem"
### Describe the bug
I want to run Powershell scripts from asp.net core, that is hosted as Windows Service. With Windows Authentication
I did it almost, but if i run "whoami" i get the UserName who run the service not the authenticated User.

### To Reproduce
see uploaded File
[WindowsAuthenticationProblem.zip](https://github.com/aspnet/AspNetCore/files/2965894/WindowsAuthenticationProblem.zip)
de

[2019-03-14 11:32] eduardoluizm commented on #8023
I had the same problem.
Before upgrading to RC I disabled the LiveShare and even disabled it upgraded to the latest version (VS RC requested). With it disabled, razor does not work and gives the error previously reported.
I've enabled LiveShare and everything is back to normal.

[2019-03-14 13:52] mashbrno opened #8507 "Razor Components escaping new line during prerender"
There are many &#xD;&#xA; withing HTML output. While this is OK for standard html, it fails withing <script> element, eg.
<script> \\Middleware: &#xD;&#xA; method();

To Reproduce: The behaviour is visible in default template for Razor Components in Visual Studio, while real problem starts with using Blazor.Fluxor nuget.

Expected behavior: Keep printable characters (newline, tab, etc.) as is.

[2019-03-14 13:59] rdcm commented on #8473
Before seeing this exception i see logs like this:

[code]

If i correctly understood its thread pool starvation?

Problem specific only for linux host machine (ubuntu server 16.04, 18.04), under win server all work fine.  Same behavior with netcoreapp 2.1.

[2019-03-14 14:06] bsimser commented on #4816
I just hit this issues trying to use what I felt was a pretty good implementation of PRG with Toastr. The original article can be found [here](http://toplinestrategies.com/blogs/net/standardizing-aspnet-mvc-feedback-toastr). It doesn't work with core because a) there's no ControllerExtensions class that will let you do a generation RedirectToAction and b) if you manually do the PRG pattern and stu

[2019-03-14 14:14] HassanHashemi commented on #4422
@mqudsi Upgrading to 2.2.2 fixed the issue for me.

[2019-03-14 14:37] ArtemAvramenko commented on #5180
The problem returns after upgrading to aspnet/signalr ver 1.1.2

[code]

[2019-03-14 14:56] ilatypov commented on #4647
Before finding what "works for me", can I reproduce what did not work for anyone?

[2019-03-14 15:02] mashbrno commented on #8507
Solution was to replace calls `AddContent` by `AddMarkupContent` at `RenderTreeBuilder`.

[2019-03-14 15:02] #8507 closed

[2019-03-14 15:02] mwinkler opened #8508 "[Components] Compile error when using <CascadingValue></CascadingValue>"
### Describe the bug
I build a component library:

Component1.razor:
[code]

MyEnum:
[code]

If I start using `<CascadingValue></CascadingValue>` inside the component, the consuming project of `Component1` is unable to compile.
It fails on the enum property `Style` of `Component1`.

Error:
`CS1503	Argument 4: cannot convert from 'RazorClassLib.MyEnum' to '__Blazor.RazorClassLib.MyEnum'`

![Error](

[2019-03-14 15:04] keithwill opened #8509 "How can a backend service communicate with a Razor Component?"
What is the proper way to let a background process/task raise an event or notification that a Razor Component can consume?

For example, if I have a background queue processor, it might make changes to a record through a service class, and the service could raise an event or notification that the entity has changed.

Using Angular or other SPA frameworks, it was pretty easy to listen for SignalR h

[2019-03-14 15:29] yevgenyka opened #8510 "Performance issue with reading Requies.Form collection"
Hi,
We have a service, which runs kestrel. Our customers sometimes send big requests with 4MB data in the Request.Form collection. In that case, it takes more than 10 sec to read the form collection, using Request.ReadFormAsync method. When running kestrel on the service, based on dotnetframework, it may take more than 30 sec

We found, that this happens when the request contains a mix of Unicode

[2019-03-14 15:38] NTaylorMullen commented on #8023
Sorry for the inconvenience @eduardoluizm. We fixed this in a servicing release that should be available within the next month (definitely before RTM 2019). Stay tuned!

[2019-03-14 15:38] mashbrno opened #8511 "Razor Components Generating g.cs with AddMarkupContent() instead of AddContent()"
Some of the pages (I haven't found the pattern) are generated using AddMarkupContent() which will keep the HTML readable, but some with  AddContent() where all new lines, tabs etc. are replaced by respective &#xD; characters.

Can be AddMarkupContent() widely used?

[2019-03-14 15:51] BrennanConroy commented on #8504
Windows XP is [out of support as of 2014](https://www.microsoft.com/en-us/windowsforbusiness/end-of-xp-support) so we will not be testing it in that environment.

However you are free to grab the source and try to use it.

I wouldn't recommend it as we haven't released it yet.

[2019-03-14 15:57] dougbu commented on #4067
Now using new queues in 2.x branches.

[2019-03-14 15:58] pranavkm commented on #8475
Copying the response from the thread:

The `Utf8JsonReader.Read()`, and the `JsonDocument.Parse()` on their own validate/reject invalid UTF-8 data as long as it is **not** contained within a JSON string/property name. This means token delimiters, whitespace, etc. all have to be valid UTF-8. Otherwise, as part of JSON validation, these invalid UTF-8 bytes will be detected and rejected (throw `JsonR

[2019-03-14 15:58] #8475 closed

[2019-03-14 16:34] davidfowl commented on #8513
Why are you using web.config for configuration in ASP.NET Core?

[2019-03-14 16:37] yeskela commented on #8513
I'm using not only web.config... app.settings as well. I need to get connection string from upper level web.confing when deploy it to IIS in production.

[2019-03-14 16:43] mkArtakMSFT commented on #8510
This issue was moved to dotnet/corefx#36050

[2019-03-14 16:43] #8510 closed

[2019-03-14 16:47] mkArtakMSFT commented on #8509
Thanks for contacting us, @keithwill.
It's actually much simpler with Razor Components in ASP.NET Core. You can inject a service you want to listen to directly into the component using the `@inject` directive and subscribe to the event of your interest. When the event fires, the component will handle it and should call the `StateHasChanged()` method to indicate that a UI update is required. That w

[2019-03-14 16:47] #8509 closed

[2019-03-14 16:48] mkArtakMSFT commented on #8505
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-03-14 16:48] #8505 closed

[2019-03-14 16:48] vova-lantsov-dev commented on #6300
I have also this issue on Linux. I can provide more info but don't know which.

[2019-03-14 16:50] vova-lantsov-dev commented on #6300
```Blazor.MonoRuntime.targets(439, 5): [MSB3073] The command "dotnet "/home/kiss/.nuget/packages/microsoft.aspnetcore.blazor.mono/0.8.0-preview-20190204.1/build/netstandard1.0/../../tools/illink/illink.dll" -l none --verbose --strip-security true --exclude-feature com --exclude-feature sre -v false -c link -u link -b true -d "/home/kiss/.nuget/packages/microsoft.aspnetcore.blazor.mono/0.8.0-previe

[2019-03-14 16:50] ajcvickers commented on #8467
@AndriySvyryd Is this a consequence of [this break](https://github.com/aspnet/EntityFramework.Docs/blob/master/entity-framework/core/what-is-new/ef-core-3.0/breaking-changes.md#forsqlserverhasindex-replaced-with-hasindex)

[2019-03-14 16:53] vova-lantsov-dev commented on #6300
Error occures while building the application.
**Blazor.MonoRuntime.targets** _(line 439)_
[code]

[2019-03-14 16:53] mkArtakMSFT commented on #8499
Thanks for contacting us, @Agentis.
@JamesNK can you please look into this? Thanks!

[2019-03-14 16:53] pranavkm commented on #8254
We had a meeting to talk about this. This issue with the `TypeForwardedTo` solution seemed to be the most vexxing:

While it's not super common, requiring the package reference to be present just to be able to iterate through all the assemblies in the App seems really problematic. @davidfowl is going to figure out if we can get some support from the CLR to solve this.

In the meanwhile, we'll work

[2019-03-14 16:59] mkArtakMSFT commented on #8498
Thanks for contacting us, @vertonghenb.
The existence of `_ViewImports.cshtml` file is intentional per each view directory, as they are hierarchical: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/layout#importing-shared-directives. That helps a lot of customers to get started.
You can, of course, apply the layout in each of the `.razor` files, but that would become repetitive in case you

[2019-03-14 16:59] #8498 closed

[2019-03-14 17:03] mkArtakMSFT opened #8516 "Update Razor Components template to have only one `Pages` directory"
We should do this after #6374.

[2019-03-14 17:04] blowdart commented on #8503
This is because if a cookie is written out for the first time on https it's marked HTTPS only, and not available to HTTP.

We make this assumption because, frankly, if you support HTTPS you need to start thinking about moving to HTTPS only. There's no excuse any more. Plus, if you're taking PII and GDPR is a concern then HTTPS is going to be a requirement for you anyway, and you should be sending

[2019-03-14 17:22] RichiCoder1 commented on #5600
Late, but this would be great for something like https://chanan.github.io/Blazorous/
Currently it implements by using it's own `Dynamic` component, but it'd be great to be able to implement it as a property instead.

[2019-03-14 17:26] HaoK commented on #5828
Seems simple enough to just move the cookie options settings into the normal configure.

[2019-03-14 17:28] AndriySvyryd commented on #8467
@ajcvickers Yes

[2019-03-14 17:34] Eilon commented on #8467
@AndriySvyryd / @ajcvickers - is it a breaking change we would consider reverting, or is it critical for EF Core 3? Just trying to figure out where to balance ecosystem (e.g. major/popular IdentityServer project) vs. best technical decision within EF Core 3.

[2019-03-14 17:39] ajcvickers commented on #8467
@Eilon In of itself, yes. However, it won't change the underlying issue here. Regardless of this break or not, mixing EF Core 3.0 in one package and EF Core 2.x in another package is pretty much 100% guaranteed not to work.

[2019-03-14 17:39] AndriySvyryd commented on #8467
@Eilon Also this is a binary breaking change only, just recompiling would be enough to fix it.

[2019-03-14 17:52] Eilon commented on #8467
Ah OK looks like I don't know the full technical problem. In this scenario, what happens if all EF Core dependencies are lifted to 3.0? Does that work? But in this case some dependencies get lifted by ASP.NET Core references, but others don't, so you end up with a mix of EF Core 3.0 and 2.2?

[2019-03-14 17:56] ajcvickers commented on #8467
@Eilon I suppose if everything is lifted to 3.0, then it _might_ work, with NuGet warnings of course.

[2019-03-14 18:13] #8504 closed

[2019-03-14 18:16] halter73 commented on #8500
We'll try to improve this gradually over time.

[2019-03-14 18:16] #8500 closed

[2019-03-14 18:17] halter73 commented on #8438
@anurse

[2019-03-14 18:18] bordecal opened #8519 "Allow configuration of ValidationVisitor.ValidateComplexTypesIfChildValidationFails via MvcOptions"
### Is your feature request related to a problem? Please describe.
Configuration of ValidationVisitor.ValidateComplexTypesIfChildValidationFails is not currently possible without implementing a custom `IObjectModelValidator`.  Since `DefaultObjectValidator` has internal visibility, it cannot be inherited in user code in order to apply customization of this property, which means that a separate sub

[2019-03-14 18:30] keithwill commented on #8509
So the events would need to be async delegates if the component event handler needs to do any database or network IO to avoid causing substantial delays in user perception of the event propagation.

Thanks!

[2019-03-14 18:32] halter73 commented on #4422
Correct. The issue with prematurely disposing the CancellationTokenSource backing the RequestAborted token only occurs if the client already closed the underlying connection during request processing.

[2019-03-14 18:35] javiercn commented on #8467
@Eilon @ajcvickers Everything gets lifted to 3.0, but when we run through the code path configuring the model it blows up with the method not found exception (as expected)

[2019-03-14 18:35] Eilon opened #8520 "Default new Razor Components project loads empty page, then get `Failed to reconnect to the server. [Retry?]` message."
### Describe the bug
Default new Razor Components project loads empty page, then eventually times out with `Failed to reconnect to the server.  [Retry?]` message.

### To Reproduce
Steps to reproduce the behavior:
1. Dev16 Preview 4.1
1. File/New Project/Razor Components
1. <kbd>F5</kbd>
1. Browser opens with empty page
1. Then eventually get `Failed to reconnect to the server.  [Retry?]` message:

[2019-03-14 18:39] Eilon commented on #8520
Saw this in the console log, don't know if relevant:

[code]

But if it's not relevant, there still definitely shouldn't be some exception there.

[2019-03-14 19:06] blowdart commented on #8325
I know you say it's intermittent, but do you happen to have an example of such a code?

[2019-03-14 19:32] #8359 closed

[2019-03-14 19:44] ctrl-alt-d commented on #8341
This is my scenario:
* I have a blazor app working on 0.7.0. sdk 2.0 ( running ok in both architectures, server side and client side just making little changes)
* After install sdk 3p3 I try to upgrade this server side app to razor components:
   * Step 1: [Server-side Blazor is now ASP.NET Core Razor Components in .NET Core 3.0](https://devblogs.microsoft.com/aspnet/blazor-0-8-0-experimental-rele

[2019-03-14 19:56] ctrl-alt-d opened #8523 "[Blazor 0.9.0] How to switch between ASP.NET Core Razor Components and client-side Blazor on 0.9.0?"
I have found instructions to switch between ASP.NET Core Razor Components and client-side Blazor for 0.8.0 at [Server-side Blazor is now ASP.NET Core Razor Components in .NET Core 3.0](https://devblogs.microsoft.com/aspnet/blazor-0-8-0-experimental-release-now-available/)

I miss this information on ["Upgrade to Blazor 0.9.0"](https://devblogs.microsoft.com/aspnet/blazor-0-9-0-experimental-release

[2019-03-14 19:59] westonsoftware commented on #8325
Yes, I should have mentioned, keep trying it until your code has a '+' in it, that was happening to me consistently for a while.

[2019-03-14 20:16] westonsoftware commented on #8325
The chars are defined here ...
https://github.com/dotnet/corefx/blob/4636de3b8595ad10eaebf00cbeed715684e7fd1b/src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/HtmlEncoder.cs#L76

[2019-03-14 20:32] pictordx opened #8524 "gRPC support in client side blazor"
Is it possible to call gRPC APIs from client side blazor ?. It will be great if we can use gRPC from client side blazor

[2019-03-14 21:06] honkmother commented on #8377
Sorry - I forgot to respond to this; but I was using Razor Components when I experienced the issues.

[2019-03-14 21:46] anurse commented on #8438
Is the goal here just to get the output ingested into AzP's list of test failures? I think our tests product xunit or junit style files and I'm pretty sure AzP's Publish Test Failures task supports that format.

[2019-03-14 21:53] ryanbrandenburg commented on #8438
Yes that's the goal. If we're already producing those files it should just be a matter of adding an additional [PublishTestResults task](https://github.com/aspnet/AspNetCore/blob/d7a960604083c98a6cbb38332680bd4487c28ed7/.azure/pipelines/jobs/default-build.yml#L168).

[2019-03-14 21:56] DamianEdwards opened #8526 "Endpoint route metadata that is applied and never evaluated might be problematic"
It's very easy to add required endpoint metadata that won't be evaluated at all which in some cases could be a security issue (e.g. authorization) from the point of view of the user. Idea here is to enable marking metadata as requiring to be evaluated and if it isn't by execution, throw. This could also be codified at design/compile-time with analyzers.

@rynowak @davidfowl

[2019-03-14 21:58] pjmagee opened #8527 "Microsoft.AspNetCore.DataProtection.Abstractions higher version than referenced assembly"
### Describe the bug
Cannot write tests for IDataProtectionProvider because Visual Studio thinks I'm referencing a higher version in my main library. (The versions only go up to 2.2.0)

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.100-preview3-010431'
2. Run this code 'Any class that injects IDataProtectionProvider'
3. Create xunit testing library an

[2019-03-14 22:07] anurse commented on #8438
We should be producing them then (https://github.com/aspnet/AspNetCore/blob/321327f84b2b22dcff2e9beb06a9a64236c5cced/src/SignalR/clients/ts/jest.config.js). So it's just a matter of adding the YAML. Cool. We'll triage this.

[2019-03-14 22:10] EdCharbeneau commented on #7268
I'm glad to see a milestone for this. We (Telerik) have been getting requests for this feature from customers. The description is generally "Please add HTML helper like model binding intellisense". This is definitely something developers want.

[2019-03-14 22:28] DamianEdwards opened #8530 "services.AddHealthChecks missing overload that takes delegate for configuring HealthChecksOptions"
We need to add the overload to Health Checks to enable passing an options configuration delegate when adding Health Checks to services, e.g.:

[code]

@rynowak @glennc

[2019-03-14 22:32] DamianEdwards opened #8531 "Review VS Item Templates for ASP.NET Core items in VS2019"
Lots of the item templates for ASP.NET Core items contain content that should be updated for 3.0 to bring it inline with the evolved idioms in the framework.

[2019-03-14 22:35] DamianEdwards opened #8532 "Allow definition of attribute routes in a global location"
Attribute routes are great, but we've heard the feedback a few times that it would great to be able to define them in a more central location, while continuing to use the attribute routing idioms.

[2019-03-14 22:42] DamianEdwards opened #8533 "Remove the call to add HSTS middleware from the API project template"
HSTS is intended for browser scenarios, thus we should remove it from the API project template.

[2019-03-14 22:44] DamianEdwards opened #8534 "ValuesController in the API template doesn't use modern features or idioms"
`ValuesController` doesn't have the API Controller conventions configured or the analyzers, and the action methods have parameters that require attributes. We should consider changing it to an example that is more idiomatic.

@glennc

[2019-03-14 22:46] DonKeyHote commented on #4647
I created a new .net core 2.2 Razor Pages Web Application from Visual Studio 2017 with organizational authentication (work or school accounts) through Azure AD. After the site was published with IIS, on ios devices it would prompt users to login to the application but loop infinitely once credentials were entered. Solution from @blowdart did not fix the issue. Once I set AzureADDefaults CookieSche

[2019-03-14 22:48] blowdart commented on #8533
Can we force those templates to be HTTPS only then? :)

[2019-03-14 22:50] DamianEdwards opened #8535 "Create and include an analyzer that validates action method return types match the declared ActionResult<T>"
Add an analyzer that validates the return types from an action method returning `ActionResult<T>`, e.g. don't let it return `ObjectResult` with a different T value, e.g. the following is invalid:

[code]

[2019-03-14 22:51] shapeh commented on #8036
@muratg You are probably busy but I wonder if you have inputs on how to debug this? e.g. DebugDiag settings or something else.

[2019-03-14 22:53] DamianEdwards opened #8536 "Add extensible handlers to DeveloperExceptionPage"
Add extensibility point to sub-systems to add handlers via DI that get inspected when an exception occurs. The handler can choose to render a response (e.g. the current EF diagnostic middleware page would change to this) or pass-through (do nothing). The middleware would fallback to rendering an HTML error page if no handler matched and the client sent an Accept header that included text/html, oth

[2019-03-14 22:54] DamianEdwards opened #8537 "Make it easier to return Problem Details responses for server errors"
Add a set of new Problem helper methods on `ControllerBase`, that populates a `ProblemDetails` type with relevant values for simple returning of errors through the MVC response pipeline, e.g.:

[code]

@rynowak

[2019-03-14 22:56] DamianEdwards opened #8538 "Update MVC template to use new Problem helpers in error handler"
Relies on #8537

Update error handler action method to use new problem helper method #8537:

[code]

[2019-03-14 22:57] sbuchok commented on #8341
OK, so I got my solution converted from 0.8.0 using Blazer (WebAssembly) to 0.9.0 using Razor Components (Serverside Blazor).

First, I had to move all my code from my Server project (where the controllers were and some other helper classes) and move it to the Client project.

Then I needed to take what I had for my Server Startup.cs and Program.cs and use that instead of the one that was in Clien

[2019-03-14 22:57] DamianEdwards opened #8539 "Update API template to use new Problem helpers in error handler"
Relies on #8537

Update error handler action method to use new problem helper method #8537:

[code]

[2019-03-14 23:00] jkotalik commented on #7774
Let's try to prioritize this work. There is a service with Helix called Dumpling that we can potentially use to capture crash dumps. @anurse and I agree the goal E2E experience would be to have:
- Test failures link to all crash dumps that occurred during a test run.
- All pdbs are also linked to debug said crash dumps

There are many scenarios we are missing because of this. There was an IIS cras

[2019-03-14 23:02] pakrym commented on #7774
You can get pdbs from VSTS artifacts.

[2019-03-14 23:03] muratg commented on #8036
Nothing comes to my mind, @shirhatti any thoughts why this may be happening?

@shapeh We may need a simple app that reproduces this issue to get to the bottom of it.

[2019-03-14 23:03] jkotalik commented on #7774
Yep, just a direct link to them in the RAAS issue.

[2019-03-14 23:13] pakrym commented on #7774
Also https://github.com/dotnet/arcade/pull/2103

[2019-03-14 23:29] brockallen commented on #8467
This component being used is compiled against 2.2. Any chance of providing the old and new API, so the old code is forward-compat?

[2019-03-14 23:30] shapeh commented on #8036
@muratg - okay re the app. I am not sure how I can produce that for you? It seems to be happening only for this particular app and we run 5-6 other asp.net core apps on same server. The other apps also use dapper, same sql server etc.

Could it be some file watching mechanism / compression / caching thing in IIS we have set up wrongfully or something? As far as I am aware, nothing in our code make

[2019-03-14 23:31] shirhatti commented on #8036
👀

HR 0x80070020 is [ERROR_SHARING_VIOLATION](0x80070020): The process cannot access the file because it is being used by another process.

[2019-03-14 23:48] shapeh commented on #8036
@shirhatti - is this related to the CreateFile issue or are these unrelated errors?

[2019-03-14 23:59] mikaelm12 commented on #7977
Moving this up since the preview 4 window widened and we should try to get breaking changes in early.

[2019-03-15 00:05] shapeh commented on #8036
Just troubleshooting here - looking at our code we are using `RouteDataRequestCultureProvider and IRouteConstraint.` Could this be causing the issue?

**startup.cs**

[code]

**LanguageRouteConstraint.cs**
[code]

**RouteDataRequestCultureProvider.cs**

[code]

[2019-03-15 00:09] shirhatti commented on #8036
[code]

Curious what you're doing here?

The WebSDK should have just generated something like

[code]

[2019-03-15 00:10] AndriySvyryd commented on #8467
@brockallen The problem is that the only difference is the return type - it's generic now.

[2019-03-15 00:58] shapeh commented on #8036
That additional stuff was added by VS - we started with 1.5-1.6 project and have upgraded. I have removed that since myself. There is no change in the CreateFile events. They keep happening in both inprocess and outofprocess.

I just looked in procmon.exe - this particular call is happening as well:
C:\inetpub\sites\www.example.com\example.eventpipeconfig

So now it looks like this for **inprocess

[2019-03-15 01:01] shirhatti commented on #8036
Paging @jkotalik

[2019-03-15 01:02] jkotalik commented on #8036
I'll take a look when I get the chance. Lot on my plate ATM.

[2019-03-15 01:12] shapeh commented on #8036
@jkotalik @shirhatti - thanks :)

I now see we also get this for .net 4.6.2 - but a lot less than for core. I suspect IIS problem:

**FASTIO_NETWORK_QUERY_OPEN: result -> FAST IO DISALLOWED**:

`c:\windows\system32\inetsrv\w3wp.exe -ap "othersite.com" -v "v4.0" -l "webengine4.dll" -a \\.\pipe\iisipmab48c48d-d3de-41f3-a08b-3b60ebdcb599 -h "C:\inetpub\temp\apppools\othersite.com\othersite.com.config

[2019-03-15 01:30] alexsandro-xpt commented on #4792
@pranavkm And about json javascript camelcase json keys?

[2019-03-15 02:21] Eilon commented on #8527
Mixing package versions of Microsoft.AspNetCore.* is not supported. Looks like the "Main Project" is referencing DataProtection 2.2. That will need to be updated to 3.0 as well.

[2019-03-15 03:00] qwertylb opened #8540 "cannot get data from response when using HttpClient.GetJsonAsync in AspNetCore MVC"
When using HttpClient.GetJsonAsync, docList can't get Json data with Object List&lt;Doc&gt;. I set breakpoint in LogsController.cs, it's obvious that ActionResult already has Value. But docList is null. The following code snippet is a part of the webapplication.
How to get data and use it?
Thank you for your support...

QueryLogs.cshtml

<pre>
&lt;TextEdit Placeholder="PlayerGuid" bind-text="@acco

[2019-03-15 03:56] rynowak commented on #8359
Thanks @CBaud

FYI I'm not sure you saw my follow up PR - we decided to make this part of the builder returned from `MapHealthChecks`. So this is uniform across all endpoint routing stuff and won't be missed when we add future router-ware. Just mentioning because we ended up not going with your fix. I appreciate that you make the effort and I don't want you to think we don't appreciate it.

[2019-03-15 03:59] ChiragRupani commented on #8230
I would like to work on this issue. I have done setup and also identified the fix (https://github.com/aspnet/AspNetCore/blob/a673be3b9a2464cb20351f381e189a43beb6f426/src/Mvc/Mvc.Core/src/Infrastructure/FileResultExecutorBase.cs#L75) - either not set content type before it or set to Empty in it. I am verifying it.
Does it require to fix for other IActionResultExecutor classes as well?

[2019-03-15 05:05] #7977 closed

[2019-03-15 05:15] davidfowl commented on #8513
Web.config is only read by IIS, not ASP.NET Core so storing configuration settings in there won't be surfaced to your application.

This won't work without you explicitly adding that file to your configuration system. By default we only add the appsettings.json in the site folder. There is no concept of a configuration hierarchy but it can be simulated by adding multiple configuration sources.

[2019-03-15 05:32] shps951023 opened #8542 "aspnetcore 2.2 web project can't easy import import another project's controller"
### two project's csproj and version :

AspNetCore Web Project
[code]

Controller Project

[code]

[![enter image description here][1]][1]

### Controller Project Code

[code]

### Question

If run AspNetCore Web Project it'll get `HTTP ERROR 404`.
Now I have to `service.AddMvc().AddApplicationPart(typeof(HomeController).Assembly);`  to do it.
Is there a correct and simple way(just add reference)

[2019-03-15 05:53] shps951023 commented on #8542
[c# - aspnetcore web project import another project's controller - Stack Overflow](https://stackoverflow.com/questions/55175398/aspnetcore-web-project-import-another-projects-controller/55175869?noredirect=1#comment97090753_55175869)

change cspoj file

[code]

[2019-03-15 05:54] shps951023 commented on #8542
[c# - aspnetcore web project import another project's controller - Stack Overflow](https://stackoverflow.com/questions/55175398/aspnetcore-web-project-import-another-projects-controller/55175869?noredirect=1#comment97090753_55175869)

change cspoj file

[code]

[2019-03-15 05:54] #8542 closed

[2019-03-15 05:54] shps951023 commented on #8542
[c# - aspnetcore web project import another project's controller - Stack Overflow](https://stackoverflow.com/questions/55175398/aspnetcore-web-project-import-another-projects-controller/55175869?noredirect=1#comment97090753_55175869)

change cspoj file

[code]

[2019-03-15 06:23] mikaelm12 commented on #5356
Done here: https://github.com/aspnet/AspNetCore/pull/8334#pullrequestreview-214864307
No longer blocking the receive loop on the execution of on handlers.

[2019-03-15 06:23] #5356 closed

[2019-03-15 06:40] mikaelm12 opened #8543 "[Announcement] ResetSendPing and ResetTimeout APIs Removed from SignalR HubConnection class"
The `ResetSendPing` and `ResetTimeout` APIs were removed from the SignalR's `HubConnection` API. These methods were originally intended only for internal use but were made public in 2.2. These API's will no longer be available starting in the 3.0 Preview 4 release.

[2019-03-15 06:41] mikaelm12 commented on #7977
Announcement here https://github.com/aspnet/AspNetCore/issues/8543

[2019-03-15 07:19] BrightSoul commented on #3719
I provide some help on a community forum and, occasionally, there are people complaining about how ASP.NET Core is advertised as a modern framework and all, and then its publishing story is sub-optimal. And they're absolutely right.

And that's fine, but you'll seriously have to consider a solution for us IIS people who want to achieve 0 downtime when updating our application. Not everyone lives i

[2019-03-15 07:41] honkmother commented on #8274
@kvantetore I found an alternative work-around. It would appear if you call the InvokeAsync inside of the body of a component rather than the lifecycle methods it gets properly executed. I don't know exactly when it is executed, but I imagine it is right prior to OnAfterRender.

ex. at the end of Component.razor, prior to `@functions { ... }`

`@ { if (IsPreRendering == false) await JSRuntime.Invo

[2019-03-15 07:42] StevenTCramer commented on #8056
@danroth27 updated in PR #8544

[2019-03-15 08:51] shps951023 opened #8546 "Class project why need add Microsoft.AspNetCore.MVC ProjectReference in aspnetcore2.2 if already included Microsoft.AspNetCore.App 2.2.0"
[c# - aspnetcore web project import another project's controller - Stack Overflow](https://stackoverflow.com/questions/55175398/aspnetcore-web-project-import-another-projects-controller)

### two project's csproj and version :

AspNetCore Web Project
[code]

Controller Project

[code]

### Controller Project Code

[code]

[https://i.stack.imgur.com/zmYxW.png](https://i.stack.imgur.com/zmYxW.png)

[2019-03-15 08:58] alkoval opened #8547 "ASP.NET Core, Angular 7 publishing error “The NPM script 'start' exited without indicating…”"
### Describe the bug
The project was developed using ASP.NET Core 2.2 and Angular 7. When you start from visual studio, everything works fine. After publishing, I get the error: "The NPM script 'start' exited without indicating the CLI was listening for requests." From the description of the error it is not clear what the problem is.

### To Reproduce
Published a project and posted it in IIS.

###

[2019-03-15 09:23] Z10yTap0k opened #8548 "SignalR WebSockets Angular client - Handshake was canceled, .net core client all ok"
### Describe the bug
SignalR .Net Core **1** instance hosted on docker.
  Microsoft.AspNetCore.SignalR 1.1.0
  Microsoft.AspNetCore.SignalR.Protocols.MessagePack 1.1.0
  Microsoft.AspNetCore.SignalR.StackExchangeRedis 1.1.0

Im use WebSockets, MessagePack.
Nginx 1.15 as reverse proxy.

.Net ore client (wpf signalr test app) work fine.
  Microsoft.AspNetCore.SignalR.Client 1.1.0
  Microsoft.AspNetC

[2019-03-15 09:23] alkoval commented on #8547
Found a problem, sorry to bother you.
Replaced this:
[code]
On:
[code]

[2019-03-15 09:23] #8547 closed

[2019-03-15 09:25] KLuuKer commented on #5110
We also used this allot in exactly the same way
having some local function to build nested html for some big tree's
and other stuff that was just repeated a bunch of times
great to see this feature come back!

[2019-03-15 10:48] pjmagee commented on #8527
Hi @Eilon , I could not find a 3.0 version, do i need to add a feed for this or is this something that will come at a later stage?

Thanks

[2019-03-15 11:07] JoelSchoeni opened #8549 "How can I get rid of the message:"Blazor is running in dev mode without IL stripping. To make the bundle size significantly smaller..." without publishing?"
### Describe the bug
Dear Community
I'm fairly new here, so I might be probably in the wrong section, because it's not really a bug rather than just the message in the title, we'd like to get rid of without publishing. Is that even possible? The other option besides publishing was using the link https://go.microsoft.com/fwlink/?linkid=870414 which kinda brought me here. I was searching for the mes

[2019-03-15 11:42] jchannon opened #8550 "Default files does not consider Accept header"
### Describe the bug
If you have an API that returns json from a `/` path but you also have a index.html in `wwwroot` folder and make a request with `Accept:application/json` you will get back HTML.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 2.2
2.
[code]
3. `curl -H "Accept:application/json" localhost:5000`
4. See index.html response from wwwroot fold

[2019-03-15 12:20] cosmin-ciuc commented on #6075
I'm having the same problem. As soon as I changed the hosting model to InProcess I started to get this error.
`Object reference not set to an instance of an object.
    System.NullReferenceException at Microsoft.AspNetCore.Server.IIS.Core.IISHttpContext.GetOriginalPath
    Microsoft.AspNetCore.Server.IIS, Version=2.2.2.0, Culture=neutral, PublicKeyToken=adb9793829ddae60
      {"method":"Microsoft.

[2019-03-15 12:41] carlowahlstedt commented on #4957
@jkotalik has this been fixed? Hadn't seen this on an application I've been running on two different environments. Then we started working to move to a new environment and this happened. I'm still walking through troubleshooting, but I don't understand why it would work on one server and not the other.

[2019-03-15 13:20] DenissKulakov opened #8551 "AddResponseTypeAttributeCodeFixProvider error with multiple return results which has different parameters"
Package: Microsoft.AspNetCore.Mvc.Api.Analyzers v2.2.0

**Issue:**
Having multiple BadRequest results with different arguments in one controller method causes the exception when trying to autogenerate annotations for them.

**StackTrace:**
System.ArgumentException : An item with the same key has already been added.
   at System.ThrowHelper.ThrowArgumentException(ExceptionResource resource)
   at S

[2019-03-15 14:15] darren-zdc commented on #8341
@sbuchok
I think what we need to do in the end is merging those two (app and server) projects to be one Razor Component project and use Razor Library Class to store the components. That is what I am going to do next,,,

But I am very surprised that you really "upgrade" it to preview 3,,,

[2019-03-15 14:40] SolidSoft-Lda opened #8552 "How to share assembly memory between copies of the same App ?"
How to implement a ASP.NET Core shared memory strategy for .NET Core assemblies like this:
https://visualstudiomagazine.com/articles/2017/11/29/improve-startup-time.aspx ?

[2019-03-15 15:03] discostu105 commented on #8254
Running into the same problem. As a user, is there a workaround for me? Or do I need to wait for a fix in preview4?

[2019-03-15 15:07] sbuchok commented on #8341
Let me know what other issues you run into and I might be able to help.

[2019-03-15 15:17] martincostello commented on #8254
With preview3 there isn't currently a workaround other than using locally compiled forks of the affected assemblies which are changed to use 3.0 preview 3.

Otherwise you need to wait for preview4, roll back to preview 2, or wait for libraries to publish versions that are compiled against preview3.

[2019-03-15 15:17] SolidSoft-Lda opened #8554 "Apache WebServer in-process hosting support"
As the title mention, improve ASP.NET Core on Apache WebServer 400% as you did for IIS on .NET Core 2.2.

[2019-03-15 15:20] Simon-1 commented on #7271
I have a similar problem, again only with an empty body.
My model is using a ValidationAttribute, the IsValid method is called and an error is returned.
In the controller, the ModelState.IsValid == true but the ErrorCount == 1.
With a body, valid or not, the ModelState.IsValid == false.

[2019-03-15 15:29] Eilon commented on #7977
Actual announcement needs to go to Announcements repo. Otherwise most people won't see it. Then link from there to "discussion" issue in regular repo.

[2019-03-15 15:29] VictorioBerra opened #8555 "CORS Middleware should set Content-Length = 0 when returning a 204 response"
https://github.com/aspnet/AspNetCore/blob/master/src/Middleware/CORS/src/Infrastructure/CorsMiddleware.cs#L189

Can we please allow this to be set either in AddCors or UserCors?

I need to send a 200 because IIS is seeing the 204, it doesn't see a `Content-Length` header so it tries to chunk the response and that explodes our F5 load balancer because 204 with `Transfer-Encoding: chunked` does not

[2019-03-15 15:41] rynowak commented on #8499
Are you doing anything that involves accessing the HTTP request or route data on another thread?

[2019-03-15 15:50] rynowak commented on #8498
@vertonghenb - I agree, and this will change soon.

1. Components are going to get their very own thing `_Imports.razor`
2. We're simplifying some stuff in the template
3. We'll be cleaning up/removing some namespaces which will help

`@layout` has to remain a directive because Components rendering is top-down. This means that we need to be able to know the layout before rendering a component - it

[2019-03-15 15:57] milendimo commented on #4566
As a workaround, you'd set the ASPNETCORE_ENVIRONMENT variable as either in OS environment variables or in your configuration files. Having it defined in more than one location would cause the behavior as decried above.

[2019-03-15 15:59] rynowak commented on #8550
Is there a specific problem you're trying to solve by using default files? This is the documented behaviour.

[2019-03-15 16:01] Eilon commented on #8527
Ah, you are right. That is one of the package that was moved into the ASP.NET "Shared framework." You can read more about that in the ASP.NET Core migration guide from 2.2 to 3.0: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio

And there is some additional reference information here:
* https://github.com/aspnet/Announcements/issues/325
* http

[2019-03-15 16:02] cyberjaws commented on #6385
Alas, I am still getting exceptions with Preview 3.

[2019-03-15 16:04] pjmagee commented on #8527
Thanks! I'll take a look at this in a few hours. Appreciate the help.

[2019-03-15 16:05] jchannon commented on #8550
If I have a browser go to foo.com I'd want the HTML returned, if I curl with application/json i'd expect to see the json.  It's conneg but without invoking anything server side for view rendering i guess

[2019-03-15 16:12] SteveSandersonMS opened #8556 "Razor: VS autocompletion goes wrong when typing"
This affects both traditional Pages and Razor Components.

Repro:

 * In a `.cshtml`/`.razor` file, type `@Microsoft.A`
 * Notice that the intellisense is prompting you to complete `@Microsoft.AspNetCore`
 * Press tab *without first using the cursors to navigate through the completion popup*

Expected:

 * Completes as `@Microsoft.AspNetCore`

Actual:

 * Completes as `@Microsoft.<a href="#">conte

[2019-03-15 16:16] Eilon commented on #8552
Hi, this feature is not supported in ASP.NET Core. It is specific to .NET Framework apps running ASP.NET 4.x (System.Web).

[2019-03-15 16:16] #8552 closed

[2019-03-15 16:22] SolidSoft-Lda commented on #8552
I understand that the aspnet_intern is .NET Framework specific tool but there is any other similar option to move the assemblies to an external folder and share between copies of the same ASP.NET Core application to save memory ?

[2019-03-15 16:25] DNF-SaS commented on #8556
BIG upvote for this one!

[2019-03-15 16:27] BGEggen commented on #4772
@davidfowl   I really liked the simplicity of your example > See https://github.com/davidfowl/MultiProtocolAspNetCore

Any tips or hints as to how to implement TLS for something that's not coupled to HTTPS (for example, a TCP device that encrypts the delivery of its data using TLS)?

[2019-03-15 16:29] rynowak commented on #8556
This has already been reported to the web editor team and will be fixed in an upcoming VS update.

[2019-03-15 16:29] #8556 closed

[2019-03-15 16:32] rynowak commented on #5164
The fix for this is for us to use the built-in message handler that mono provide.

[2019-03-15 16:33] rynowak commented on #5163
We're recommend that static content use a project relative path within the project. We have no plans to address this for now, will reconsider based on feedback.

[2019-03-15 16:33] #5163 closed

[2019-03-15 16:34] rynowak commented on #4593
Thanks for the feedback. We do plan to enable this eventually, but since it's part of visual studio, it's tracked elsewhere.

[2019-03-15 16:34] #4593 closed

[2019-03-15 16:35] rynowak commented on #4365
We've updated to a new version of mono that should fix this. If you're still having problems it would be best to log these issues at github.com/mono/mono

[2019-03-15 16:35] #4365 closed

[2019-03-15 16:35] #6707 closed

[2019-03-15 16:37] rynowak commented on #6774
We have no immediate plans to provide encapsulated styling for css, so closing. We may do this in the future, but not as part of this release.

[2019-03-15 16:37] #6774 closed

[2019-03-15 16:39] rynowak commented on #6800
Hi, as you know C# does not support mutliple class inheritance. You can implement an interface with the `@implements` directive. If you need something else please open an issue and provide a clear repro

[2019-03-15 16:39] #6800 closed

[2019-03-15 16:44] rynowak commented on #6612
This is covered in the docs: https://docs.microsoft.com/en-us/aspnet/core/razor-components/javascript-interop?view=aspnetcore-3.0

[2019-03-15 16:44] #6612 closed

[2019-03-15 16:46] rynowak commented on #6623
It looks like we're not honouring some of the MSBuild things. Would you be willing to send a PR for this?

[2019-03-15 16:47] siblight opened #8559 ".Net Core Cookie Authentication - User Getting Wrong Claims"
I have a very strange issue with a .net core mvc site, which is hosted in IIS.

When a user logs in with this code:

[code]

The first user logs in with their name being displayed.  However, when another user logs on they get the first users name displayed rather than their own.

I have tried experimenting with the cookie options all with no success but this is my current configuration:

[code]

A

[2019-03-15 16:48] danroth27 commented on #6610
This has been fixed.

[2019-03-15 16:48] blowdart commented on #8559
Do you have any sort of caching enabled?

Is the second login on a separate machine or browser?

[2019-03-15 16:49] danroth27 commented on #6610
This is still an issue in the Blazor (ASP.NET Core hosted) template.

[2019-03-15 16:49] rynowak commented on #5497
We have no plans to do this for this release.

[2019-03-15 16:49] #5497 closed

[2019-03-15 16:49] pjmagee commented on #8527
Fixed it with your help, now i reference `<PackageReference Include="Microsoft.AspNetCore.App" Version="3.0.0-preview3-19153-02" />` in my unit tests and removed the `<PackageReference Include="Microsoft.AspNetCore.DataProtection" Version="2.2.0" />` from the 'Main project', since its already in the shared framework.

Closing this as now it compiles and i can run the tests.

[2019-03-15 16:49] #8527 closed

[2019-03-15 16:49] ryanbrandenburg opened #8560 "Selenium process is not always closed"
As we found [here](https://github.com/aspnet/AspNetCore-Internal/issues/1988) Selenium is not always being closed when the tests that use it finish. This can lead to file locking problem on our agents and local machines.

[2019-03-15 16:52] rynowak commented on #5502
This is not something we're planning to change in this release.

[2019-03-15 16:52] #5502 closed

[2019-03-15 16:54] siblight commented on #8559
The logins are on separate machines and browsers.

The users are presented with the login page (as they are initially not logged in) but when the login is completed they see a different users claims.

As far as I am aware there is no caching enabled, but I have got my network admins investigating our firewall to check for caching there.

[2019-03-15 16:55] rynowak commented on #5505
In preview 4 we've made it possible for the compiler to use the `<BaseNamespace>` in the project for namespace of components. This should address this.

[2019-03-15 16:55] #5505 closed

[2019-03-15 16:57] Tragetaschen commented on #8181
@SteveSandersonMS Yes, the developer experience during the last four hours starting with the Razor Components template was bad. It would have helped to get more visibility of your workaround.

Thanks for the workaround, though!

[2019-03-15 16:59] rynowak commented on #5510
We'd be willing accept a PR for this.

[2019-03-15 17:00] rynowak commented on #5511
We're not going to be adding features to JSONUtil. Our long term plan is to use the new `System.Text.Json` serializer that's being developed. Newtonsoft.JSON is also available as an option.

[2019-03-15 17:00] #5511 closed

[2019-03-15 17:06] Eilon commented on #8552
@SolidSoft-Lda there is no such feature at this time and no plans for one.

[2019-03-15 17:08] Eilon commented on #8527
Awesome!

[2019-03-15 17:16] blowdart commented on #8559
If you can get us fiddler traces of two such sessions that would help. If this is from your corporate network to the outside then there is likely a proxy in the way which may be caching.

You should also check for uses of [ResponseCache] in your own code and look for the presence of Cache-Control headers in the response from your app.

[2019-03-15 17:26] jkotalik commented on #8554
While it is an interesting idea, it isn't something we are looking into at the moment.

[2019-03-15 17:34] mconnew opened #8565 "Kestrel outputs to console an http url for non-http connection handlers"
### Describe the bug
When running the WebHost for an application, Kestrel outputs a list of Uri's that it's listening on. When using a custom ConnectionHandler with Kestrel which isn't http, it outputs the uri with an http scheme. You will see a line such as the following:
[code]

### To Reproduce
1. Using Microsoft.AspNetCore.App version 2.2.0
2. Add a custom ConnectionHandler for Kestrel to use

[2019-03-15 17:52] jdgwf commented on #8440
I'm also getting this with dotnetcore3 preview via snap on Ubuntu linux. Snap won't allow a side-by-side install of 3 and 2.2. Builds are getting the following:
[code]
Shared builds, Client does not, Server does not due to Client ability.
Really excited about this technology; waiting to get it working.

P.S. had similar trouble via command line on Win10

[2019-03-15 17:59] Rymix commented on #8549
This message keep appearing even when i published so i think you gonna need to wait :)

[2019-03-15 18:03] SolidSoft-Lda commented on #8554
Well, it was worth asking.
On Windows we have IIS, so don't have this feature it's not so important.
However for Linux environment it's fundamental as you know Kestrel behind WebServer it's 400% slower. If one can't see, it's because is not using a serious application.
And if currently we got SQL Server on Linux and .NET also on Linux, this feature makes a lot of sense to complete to circle.

[2019-03-15 18:09] ctrl-alt-d commented on #8440
@jdgwf , This is because `/tools/illink`. Maybe you can try it [disabling linker](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/razor-components/configure-linker?view=aspnetcore-3.0)? In project file add:

[code]

Do you have 2 also alternatives:
* Install sdk2.2 framework.
* Fake sdk2.2 framework copying sdk 3 as 2 ( `ln -s /home/dani/dotnet/sdk/3.0.100-preview3-010431 /home/dani/d

[2019-03-15 18:19] jdgwf commented on #8440
Wonderful! Thank you! I'm good to go!

[2019-03-15 18:28] pranavkm commented on #8555
@VictorioBerra would it suffice if the middleware set `Content-Length=0` as part of the response?

@jkotalik would the changes to use Pipelines now send a `Content-Length` header when it wasn't explicitly specified?

[2019-03-15 18:28] #8284 closed

[2019-03-15 18:34] Eilon opened #8567 "Http response custom header not working properly asp.net core 2.2 web api response."
_From @Gopigovin on Thursday, 14 March 2019 10:54:34_

Hi Guys,

Http response custom header not working properly asp.net core 2.2 web api response.

We used the html upload box in our project. While upload fails, we will pass the custom message through httprequest to client side. Our server side section is in .net core project (2.1). So we have used the below code to send custom message

Response

[2019-03-15 18:34] Eilon commented on #8567
_From @leecow on Friday, 15 March 2019 17:38:27_

@dougbu @Eilon

[2019-03-15 18:34] Eilon commented on #8567
_From @dougbu on Friday, 15 March 2019 17:52:12_

@Tratcher @anurse @muratg any ideas?

[2019-03-15 18:35] Eilon commented on #8567
@Gopigovin it would be helpful if you could share a complete application that reproduces this problem.

[2019-03-15 18:41] jkotalik commented on #8567
Also, do you happen to know which server type you are using?

[2019-03-15 19:01] MaklaCof commented on #7975
I think we run into the same problem in our project.

This is our code:
[code]
In our  `API/groups` controller we get null for `IHttpContextAccessor`:
![devenv_2019-03-15_19-54-39](https://user-images.githubusercontent.com/1589573/54455507-4adbe880-475c-11e9-9503-2a89bb8484af.png)

in TestProject we are using:
[code]
and in controller project:
[code]

Before we were using:
[code]
and
[code]

[2019-03-15 19:22] SteveSandersonMS commented on #6912
From the links you posted, it looks like you've figured out how to use the unmarshalled interop APIs to transfer the binary data directly.

We don't expect to add support for binary serialization into the marshalled interop APIs, because they use JSON as a transfer format (because developers understand well what that means for .NET/JS conversions), and JSON itself doesn't have a binary blob primit

[2019-03-15 19:22] #6912 closed

[2019-03-15 19:47] darren-zdc commented on #8341
I just finished merging those two projects, but my jsRuntime is not working well.
I use to call the js method from a C# static class.
WeatherJSInterop.cs
[code]
Then inside my component I only need to use `WeatherJSInterop.InitializeWeather()` to execute the js method.
However, after upgrading to preview 3, they canceled the Current class. And we need to do a dependency injection to get the jsrunt

[2019-03-15 19:52] arivera12 commented on #6612
@rynowak Not still clear for me but I will give it a try playing with the docs examples to see if I can get a working sample. Thanks anyway.

[2019-03-15 19:52] ctrl-alt-d commented on #8341
`JSRuntime.Current` is not more available, see release notes. Now you can access `JSRuntime` via DI.

[2019-03-15 20:16] darren-zdc commented on #8341
Does not realize the warning `The JavaScript runtime is not available during prerendering.` will happen every time we run the app.  [#8327](https://github.com/aspnet/AspNetCore/issues/8327)

[2019-03-15 20:23] VictorioBerra commented on #8555
Yes that would be a good idea.

[2019-03-15 20:43] pranavkm commented on #8555
👍 that seems do-able. For 2.x, you could consider setting the `Content-Length` in a middleware when you see a 204 response code and the header is missing.

[2019-03-15 20:49] glennc opened #8571 "Change template log levels to allow customer LogInformation to appear in production"
Changing appsettings.json to:

[code]

This allows a `LogInformation` call from user code to show in production without the Microsoft information logs obscuring output. We think it matches what you would expect, today there is some confusion when publishing an app and having `LogInformation` calls from your code not appearing.

It also makes sense that the level of logs from Microsoft code is less

[2019-03-15 20:53] VictorioBerra commented on #8555
How can I do this before cors middleware exits and returns the response? I believe it does not call _next when it sees a preflight and sets the 204.

[2019-03-15 20:59] HaoK opened #8572 "[Announcement] Identity ILookupNormalizer interface changes"
For 3.0 we are splitting the `Normalize` method into `NormalizeName` and `NormalizeEmail` so its easier to have different normalization for usernames vs emails, see https://github.com/aspnet/AspNetCore/issues/6330

This should not have an effect on most apps that weren't doing anything custom in this area, the defaut implementation will continue to be a `ToUpperInvariant`.

[2019-03-15 21:00] #6330 closed

[2019-03-15 21:04] danroth27 opened #8573 "Investigate removing jQuery dependency"
Bootstrap 5 is removing it's dependency on jQuery: https://github.com/twbs/bootstrap/pull/23586

Should we do the same?

[2019-03-15 21:22] danroth27 commented on #8181
@tragetaschen For future reference, the list of known issues for .NET Core 3.0 can be found here: https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview-known-issues.md

[2019-03-15 21:25] danroth27 commented on #8056
@StevenTCramer Nice! Thanks!

[2019-03-15 21:30] iRealWorlds opened #8575 "Facebook login in Asp.Net Core 3.0 doesn't work"
### Describe the bug
I've followed the steps in the docs to add facebook login to my web app, but I get an error stating that `'AuthenticationBuilder' doesn't contain a definition for 'AddFacebook'`.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0
2. Run this code:
[code]
3. See error

[2019-03-15 21:36] ryanbrandenburg commented on #8453
I confirmed that RaaS finds these, so we're done here.

[2019-03-15 21:36] #8453 closed

[2019-03-15 21:50] bradygaster commented on #6783
@bbowman the C++ work is going well, @BrennanConroy is spending most of his awake-life dedicated to making sure C++ and SignalR are good friends soon.

Your comments on Obj-C are appreciated. TBH, the obj-c versus swift discussion *almost* feels like an exercise in yes/no statistics, wherein we'll eventually get to a 50/50 split. :) I am interested in all this feedback, however - do you foresee an

[2019-03-15 22:11] andrestalavera commented on #8383
@SSSikora you must remove package reference to Microsoft.AspNetCore.* v2.0

My csproj corrected (inside an ItemGroup tag):

[code]

@Eilon that mean that the v3 included what meta package?
I do not want to reference 1000 packages that I do not need... (It's going to weigh my apps for nothing)

[2019-03-15 22:13] halter73 commented on #7977
Just look at one of the other announcements and try to follow the same format and use the same tags. You can probably just use #8543 as the discussion issue. Make sure to lock the announcement.

[2019-03-15 22:17] bbowman commented on #6783
I guess what I will say is this, probably most folks will want to use the lib from Swift and there is a decent interop story with Swift and ObjC. ObjC has better native interop so it probably depends on what makes your engineering life easier since swift is a "nicer" language but you may get great code reuse with your C++ work.

[2019-03-15 22:20] mikaelm12 commented on #7977
Yup. Filed the legit announcement this morning here: https://github.com/aspnet/Announcements/issues/349
Thanks!

[2019-03-15 22:24] danroth27 commented on #6185
Related issue: when you View Source for a prerendered Razor Components app you see this:

[code]

[2019-03-15 22:27] SRQcoder opened #8579 "SelectTagHelper sets 'multiple' property to true when asp-items is IEnumerable."
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '...'
2. Run this code '....'
3. With these arguments '....'
4. See error

### Expected behavior
A clear and concise description of what you expected to happen.

### Screenshots
If applicable, add screenshots to help explain your problem.

[2019-03-15 22:48] SRQcoder commented on #8579
When binding the select tag helper with `asp-items` set to an` IEnumerable` (a list of items for example), the resulting html code generates `multiple="multiple"`. While this allows for a multiple selection of items, it doesn't afford the more common use of just wanting to select one item from the list.

The property multiple should be optional. And just because there are multiple inputs, (IEnumer

[2019-03-15 22:49] SRQcoder commented on #8579
Sorry, hit the wrong button -- first time user

[2019-03-15 23:13] NTaylorMullen opened #8580 "Remove FileKind from ParserOptions"
Razor adds several hacks to configure its parser and code generation options to identify the current document being parsed. This is unneeded because that information is available on the CodeDocument. Not only is it unneeded but it's not fully glued together today; primarily because in several places we don't know the current document when attempting to create the parser options.

[2019-03-15 23:13] danroth27 commented on #5518
Tracking this with #6217

[2019-03-15 23:13] #5518 closed

[2019-03-15 23:15] ajaybhargavb commented on #8580
cc @mkArtakMSFT @rynowak to triage and assign it to a specific milestone.

[2019-03-15 23:17] danroth27 opened #8581 "Design review: Should attribute syntax be based on the type of the parameter?"
Tag helpers made some questionable choices here. For examples see: https://github.com/aspnet/AspNetCore/issues/5520.

[2019-03-15 23:17] danroth27 commented on #5520
Tracking this with https://github.com/aspnet/AspNetCore/issues/8581

[2019-03-15 23:17] #5520 closed

[2019-03-15 23:55] yeskela commented on #8513
I have a complicated IIS websites structure in a department that built using ASP.NET Forms and use web.config inheritance to propagate parameters to the websites/apis. Now I need to replace one of the low level web app with the ASP.NET Core Web API, but I still have to get app parameters from the top level web.configs. And this is the requirement. I can't change it.

@davidfowl, could you tell a b

[2019-03-16 00:16] Agentis commented on #8499
Isn’t MapSubdomainRoute straight from MVC? I don’t currently have access to the solution to double check.

But as for threading, there is actually processing occurring on other threads, powered by Hangfire. Most of it revolves around doing some activity tracking; almost every controller action queues a Hangfire job which record the interaction.

Is there a known issue with this combination of effe

[2019-03-16 01:32] robertmclaws commented on #4048
I wanted to point out that I built a framework for authentication in BlazorEssentials. I have an [AppStateBase](https://github.com/CloudNimble/BlazorEssentials/blob/master/src/CloudNimble.BlazorEssentials/AppStateBase.cs) that is injected into the app and handles dealing with the authentication cycle. Your app has a page that processes login hashes if you have to redirect elsewhere (like in Auth0)

[2019-03-16 01:58] VBAndCs opened #8583 "I am willing to contribute in taking VB.NET to ASP.NET MVC Core"
Hi.
I want to use VB.NET in ASP.NET MVC Core. I'm tired of waiting, so I am willing to contribute in writing/modifying VB razor (.vbhtml files) and any other necessary tasks needed to make it work in MVC Core.
I need a ToDo list, and some guideness to where to start.
Thanks.

[2019-03-16 03:46] GeXiaoguo commented on #5277
@legistek, thanks for sharing the concept. I think it solves a general enough problem. At least, it solves mine problem: two web servers, sharing a single SQL DB, sitting behind a loadbalancer serving a small number of users(<20) with a small number(~1/minute) of messages to publish.

[2019-03-16 05:53] thangchung commented on #8134
I have got the same, just simply delete `IIS` config in the `launchSettings.json` file, run again, and it should work

[2019-03-16 08:10] dcvsling commented on #8364
i figure out about what should i write will get correct code from razor
even if blazor has solution about generic type like T="Type"
but in my case , i still needs to define a exist type clearly ,
in this sample , it's need to edit to below :
[code]
then razor will generate correct code
[code]
but i really dont know how to write this code in razor......

[2019-03-16 08:10] StevenTCramer opened #8584 "AddRazorComponents<TStartup> Removed won't initialize a Blazor.Client"
### Describe the bug
`public static IServiceCollection AddRazorComponents<TStartup>` has been removed.  This allowed for passing in of the Client Startup configuration class.  The current version does NOT.  So now the Startup methods in the Client don't get executed and services don't get registered.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.0-pr

[2019-03-16 10:09] chinturathod commented on #1528
Add below code:
System.Text.Encoding.RegisterProvider(System.Text.CodePagesEncodingProvider.Instance);
It solve my problem

[2019-03-16 10:17] chinturathod opened #8585 "Not rendering HTML for Chart Reports in LocalReport"
Hi,

I have try to export report in Html using below code but it is not rendering properly.

.rdl file contains chart

I have attached screen shot of Html

Highly appreciate if you can help on us to resolve this issue.

thanks

PlatForm: ASP.NET Core

[code]

![Chart_html](https://user-images.githubusercontent.com/48618470/54473803-af518300-4802-11e9-828c-91ccb5891280.PNG)

[2019-03-16 10:21] chinturathod commented on #1528
Hi,

I have try to export report in Html using below code but it is not rendering properly.

.rdl file contains chart

I have attached screen shot of Html

Highly appreciate if you can help on us to resolve this issue.

thanks

PlatForm: ASP.NET Core

public string _reportPath = @"..\RenderReportAPI\employeeChart.rdl";

string mimtype ="";
int extension = 1;

           LocalReport localReport = n

[2019-03-16 11:04] Ponant commented on #8065
@NTaylorMullen , I understand but I think it will be a big plus because I find it very hard to scale an app with strings.

[2019-03-16 11:38] mammadkoma commented on #8395
Yes
I figured out.
for build the blazor template we must install both dotnet core v3 preview and the latest 2.2 version.
resolution for me:
1. copy _E:\My Pro\DotNetCore\dotnet-sdk-2.2.105-win-x64\sdk\2.2.105_ folder to my installation sdk path (_E:\dotnet\sdk_)
2. copy _E:\My Pro\DotNetCore\dotnet-sdk-2.2.105-win-x64\shared\Microsoft.NETCore.App\2.2.3_ folder to E:\dotnet\shared\Microsoft.NETCore

[2019-03-16 14:18] xclud opened #8587 "[Components] OnChange and OnInput do not get the value"
I am trying on get oninput or onchange handlers working with `contenteditable`. My code is as below:

[code]

In above code `e.Value` is always `null`.

I should note that it works well with `input` and `bind`. But i need this to work for a `p` and `div`. I need the value as string, however it would be nice to get the value as html (innerHTML) as well.

Any solution, please?

[2019-03-16 14:36] kierenj commented on #8346
No problem, thanks.  I sketched out some ideas and think that implementing something from scratch would involve solving a large number of problems that SignalR tackles already.  However, it doesn't seem there's a good place to hook in and change behaviour.

As best I can tell, `HubConnectionHandler` is the place where a `HubConnectionContext` is instantiated.  From within the two `WriteAsync` vari

[2019-03-16 14:36] jtbrower commented on #4389
Regarding the "Error parsing handshake response: TypeError: Right-hand side of 'instanceof' is not callable" error I thought I would share with everyone what was causing this error for me, though I realize that some details of my problem are different.

I am serving up both MessagePack and JSON capable endpoints using NetCore 3.Preview+ (debugged through Visual Studio 2019 Preview) while my Angula

[2019-03-16 15:18] medeirosraul commented on #8386
This works, thank you.
So I think the "bind" attribute also sets "ValueExpression" when code generated.

[2019-03-16 15:24] #7283 closed

[2019-03-16 15:31] EntityAdam commented on #8575
You'll need to install the following NuGet Package
https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.Facebook/3.0.0-preview-19075-0444

 (*This version is for .NET Core Preview 3*; If you receive an exception, particularly `MissingMethodException` you probably have a version mis-match)

[2019-03-16 15:33] amityagov commented on #8555
@VictorioBerra Hi, you can subscribe to `Response.OnStarting` event with action which wiil check response.

[code]

I think this should work.

[2019-03-16 15:52] Tratcher commented on #8379
Yes, I fixed it by buffering the error page.

[2019-03-16 16:41] VictorioBerra commented on #8555
I didn't know about those response events. Thanks!!!

On Sat, Mar 16, 2019, 10:33 AM Andrey Mityagov <notifications@github.com>
wrote:

[2019-03-16 17:44] ADefWebserver opened #8590 "Using AddAzureSignalR with Razor Conponents 3.0.0 preview 3"
### Describe the bug
Click events don't work

### To Reproduce
Steps to reproduce the behavior:
1. Create new Razor Components project
2, Add Microsoft.Azure.SignalR NuGet package
3. In startup.cs, change

`services.AddRazorComponents()`

to:

[code]
4. In startup.cs, in the "configure" method, add:

[code]

5. Run the application
6. The Fetch Data page will work, but clicking on the Counter, on t

[2019-03-16 17:52] mqudsi opened #8591 "Reproducible Razor LSP InvalidOperationException on generating CSS autocompletions in MVC"
### Describe the bug
I have a fully reproducible exception that brings down all of Visual Studio when the Razor language client runs into an InvalidOperationException when attempting to generate completions after opening a brace (e.g. `{`) for a new CSS class definition in a `<style>` tag in a MVC .cshtml view.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Cor

[2019-03-16 18:38] hishamco commented on #8583
This seems not an easy task, I already have this in my mind from the beginning, but while Razor written for C# in ASP.NET Core, the solution is write template language to compile `.vbhtml`` files

BTW VB.NET is supported in ASP.NET Core, but it's not supported in views and there's a long discussion here issue #7569

[2019-03-16 19:20] davidfowl commented on #8590
Yes this is being worked on for preview4. It's currently broken in preview3.

[2019-03-16 20:19] enetstudio commented on #8587
UIChangeEventArgs.Value returns the value of the input (value property), but only form elements have the value property. The div element does not have a value property, which is why e.Value is always null, though the div element can trigger an input event. You can solve this using JSInerop, I guess...

[2019-03-16 20:38] VBAndCs commented on #8583
I think it is not that hard. Every thibg is already done in ASP.NET MVC 5 for vbhtml files and just copy it to the dot core project. Ineed a little push about what files need to be modified in c# asp.net project and I wiil convert the parser and any related conponents to work on vb syntax

[2019-03-16 21:07] hishamco commented on #8583
I don't think so, there 're many things changed in ASP.NET Core from the previous version, may be looking to the current Razor implementation is better

[2019-03-16 21:13] marquesm91 commented on #8381
Fix in #8592

[2019-03-16 21:13] marquesm91 commented on #8380
Fix in #8592

[2019-03-16 21:14] marquesm91 commented on #8405
Fix in #8592

[2019-03-16 21:14] VBAndCs commented on #8583
No pribken. I will start with the current C# razor  and change the CSharp parser to Vb parser which is already written fir asp.net 5. There will be changes in the editor / deugger also, and of corse the project template. I asked fir guideness becuase the team is aware of all other spots that need modifications.

[2019-03-16 21:15] hishamco commented on #8583
Have a look to this issue #2738 it has a long discussion

[2019-03-16 21:15] marquesm91 commented on #8398
Fix in #8592

[2019-03-16 21:26] VBAndCs commented on #8583
Saw it b4. Nothing new. MS thinks vb.net is less needed and doesn't want to spend money and waste resources on it. No real technical issues prevent Vb.net from moving to dot core.
So, I can solve the money and resources issue by assigning myself to this task :) I just want some guidelines not to go through all unnecessary parts of the project.

[2019-03-16 22:21] #8402 closed

[2019-03-16 22:25] kierenj commented on #8583
I would guess (based on comments that hishamco kindly linked, like this one: https://github.com/aspnet/AspNetCore/issues/2738#issuecomment-362948733) that is *is* a big job with plenty of technical issues (read: design and development to do), and that writing a "todo list" for you to pick up would be the result of many hours or days of discussion/work.  Once it's down to a simple todo list, I'd im

[2019-03-16 22:56] cyberjaws commented on #7796
Looks like I made the mistake of registering a timer in a service that I wired to a Razor Components Clients which prevented the client from being disposed. By moving the timer to a client side instantiated object I am able to address the issue. One thing to note is that when I de-registered from the service event in one client on dispose, all the other clients stopped receiving events.

[2019-03-16 22:56] #7796 closed

[2019-03-16 23:04] Eilon commented on #8585
Hi, this looks like a component that isn't part of ASP.NET Core. Please contact the author of the Chart component to report this issue.

[2019-03-16 23:04] #8585 closed

[2019-03-16 23:06] VBAndCs commented on #8583
@kierenj
I don't want to reinvent the wheel. Both VB Razor and C# razor use Roslyn to parse, compile and debug. This means I will not rewrite the compiler here. The task is to replace all parts that deals with c# syntax with those dealing with VB syntax. And I am not expecting to finish this in a week or two. I can give this task up to 6 months if necessary.  So, give me a place to start, because

[2019-03-16 23:06] Eilon commented on #8550
The static files middleware is intended to be quite basic. This sounds like a job for a higher-level system, such as MVC, where con-neg exists, and you can also return static files based on some logic.

[2019-03-16 23:11] pjmagee commented on #8386
@rynowak What about the input type of password, do we fall back to the standard html input?

[2019-03-16 23:26] acbaile commented on #4957
I removed all from "secrets.json" and received the same problem.
This JSON must have at least { } inside.

[2019-03-16 23:26] hishamco commented on #8583
MVC is using Roslyn with C# infrastructure behind the scene

[2019-03-17 01:41] sbuchok opened #8593 "Support navigation during prerendering"
OnInit of a page, I check to see if the user is logged in. If they are not, I use IUriHelper to redirect to the login page. Right now, there is an error when I try do this:

**"Navigation is not allowed during prerendering"**

After the error, it does indeed navigate to the login page.

Not sure if it is related to this bug: https://github.com/aspnet/AspNetCore/issues/8422

Sounds like it could be

[2019-03-17 02:04] arivera12 opened #8594 "Running Blazor 0.9.0 fresh project doesn't compile"
### Describe the bug
I just tried to run blazor 0.9.0 template and doesn't run

### Screenshots
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/5600102/54484176-19841b00-4837-11e9-8760-bde536ea311b.png)

### Additional context
![image](https://user-images.githubusercontent.com/5600102/54484186-594b0280-4837-11e9-9876-40a8e5a38a9d.png)

[2019-03-17 03:20] arivera12 commented on #8594
I just downloaded and updated the SDK from [Here](https://dotnet.microsoft.com/download/visual-studio-sdks?utm_source=getdotnetsdk&utm_medium=referral) to latest versions and started working.

[2019-03-17 03:20] #8594 closed

[2019-03-17 04:06] iamjassiesandhu opened #8595 "Getting Duplicate Requests on server from browser ASP.NET Core 3 Preview"
### Describe the bug
Hello, i am getting two requests for every request made to server from browser
--> One Request Comes as HTTP/1.1
--> Other Request comes as HTTP/2.0

1. Using 3 Preview version of ASP.NET Core
2. Only in case of Dynamic request. Static content loads via HTTP /1.1 only
3.  Using Windows server 2016 (AWS) and IIS 10

[2019-03-17 05:50] thienly commented on #3249
Hi @davidfowl , Hope you don't mind my question.
MVC action execution is not a single async flow? Can you explain more about this?

[2019-03-17 07:01] SteveSandersonMS commented on #8386
@pjmagee Consider inheriting from InputBase directly, e.g.:

     @inherits InputBase<string>
     <input type="password" bind="@CurrentValue" id="@Id" class="@CssClass" />

[2019-03-17 07:27] w8w8w8 commented on #4365
@rynowak thank you answer me. I will install vs2019 and try it! thanks

[2019-03-17 08:24] honkmother opened #8596 "Razor Components - Parameters passed through RenderComponentAsync are lost after Prerendering"
### Describe the bug
Parameters passed through RenderComponentAsync are lost immediately after prerendering.

### To Reproduce
Steps to reproduce the behavior:
Razor Components Preview3 0.9
`@(await Html.RenderComponentAsync<html>(new { Example = "something" }))`

`[Parameter] private string Example {get; set;}` is null after prerendering is finished.

### Expected behavior
For passed parameters t

[2019-03-17 09:38] guyng opened #8598 "Authentication with spa & identity server template"
### Describe the bug
Few hours after registering for the first time using the new SPA(angular) auth template
it will not fetch data anymore when navigating to the fetch-data page.
To clarify, after you sign up and log in it will fetch data fine. BUT, if you try to fetch the data with the same user you've registered **few hours later it will not work.**

The problem may be with refresh tokens not c

[2019-03-17 10:28] StevenTCramer opened #8599 "BlazorHosted.Client dll should be able to run server-side or client-side from same server."
### Is your feature request related to a problem? Please describe.
#8584

### Describe the solution you'd like
I would like it to be an objective of the team to allow for the execution side of the dll to be configurable by the JavaScript in the index.html at run time.  A single server-side version of the application should be able to serve both RazorComponents(server-side) or Blazor(client-side) c

[2019-03-17 11:52] dodyg commented on #7009
@LorenDorez  do you manage to get this working ? I can't get this working

[code]

[code]

[2019-03-17 12:22] dodyg commented on #7009
@javiercn This doesn't seem to be the case. I can't get the simplest sample to work.

[2019-03-17 12:22] lobster2012-user opened #8600 "IHubClient + Covariance #SignalR #Feature"
Add please `covariance`.

[code]
[code]

#6380
I 'm trying to make a multi-hub in my playground.

I want to write like this
[code]

But now it will not work and will have to do so.

[code]

Thank you.

[2019-03-17 14:09] lobster2012-user opened #8601 "IHubClient : using [HubMethodName] #SignalR #Feature"
Add using of [HubMethodName] for client proxy

[code]

Thank you.

[2019-03-17 14:28] lobster2012-user commented on #6380
It works for me.
//server side
[code]
//client-side
//todo...

[2019-03-17 14:50] yopez83 commented on #8587
Paragraph elements don’t have input either, reason why your value is always null. You can do as suggested above, trigger the events from the parent div.

[2019-03-17 15:48] Keroosha opened #8602 "User Secrets broke on different first word capitalization"
### Describe the bug
On adding secret key with different first word capitalization, CLI tool fall with unhandled exception until manually fixing secret.json, or changing key Id at csproj

### To Reproduce
Steps to reproduce the behavior:
1. Execute at project DIR commands:
[code]
2. Try to run anything else from user-secrets commands, for example:
[code]
3. See error
[code]

### Expected behavior

[2019-03-17 16:16] xclud commented on #8587
@enetstudio Thank you for the suggestion. I already have thought of this workaround but i was looking for a better solution.

Input event comes from HTML DOM and DOM has no limitation if the element has a value or not. This limit came from Components/Blazor and i understand why; because in JS objects are typeless and ... the rest of js story. C# also comes with `dynamic` and `object` classes so th

[2019-03-17 17:19] rynowak opened #8603 "Razor Components template in VS has the wrong branding"
This is VS `16.1.0 Preview 2.0 [28715.78.master]` and dotnet SDK  `3.0.100-preview3-010475`

![image](https://user-images.githubusercontent.com/1430011/54495048-9c3fc100-489d-11e9-995d-8d71334ce634.png)

The highlighted item is the Razor Components template 😢

@phenning - is this the issue you reported earlier? What needs to be done to fix this?

[2019-03-17 17:30] rynowak commented on #8603
NVM this is fixed in 3.0.100-preview4-010774

[2019-03-17 17:30] #8603 closed

[2019-03-17 17:40] rynowak opened #8604 "Symbols don't work"
Our symbols aren't available anywhere documented, so they should be on the public MS symbol server. This is a blocker to doing any kind of bug investigation using our installers/nightlies. I assumed that we were getting this as part of the dotnet/arcade effort.

**Repro steps:**
1. Create a razor components project
2. Enable the public MS symbol server and source link
3. Turn on first chance excep

[2019-03-17 17:59] rynowak commented on #8520
This is related to ref-assemblies. Ref assemblies don't include non-public members, and components currently recommend using non-public members for component properties.

[code]

The parameters of the component are not being discovered, and the compiler behaves differently depending on the declared type of a parameter (tag helpers).  Since the parameters aren't being found, all parameters are trea

[2019-03-17 18:07] rynowak commented on #8520
@SteveSandersonMS - lets discuss this this week.

[2019-03-17 18:11] rynowak commented on #8190
It's also easy to stackoverflow

[code]

[2019-03-17 18:13] rynowak opened #8605 "Building the repo results in lots of warnings"
1. Clone the repo
2. run `restore.cmd`
3. run `build.cmd`

[code]

[2019-03-17 18:15] BrennanConroy commented on #8605
https://github.com/aspnet/AspNetCore-Internal/issues/1940

[2019-03-17 18:38] rynowak commented on #8591
/cc @ajaybhargavb

[2019-03-17 18:39] djack42 commented on #7363
I encountered the same problem with a fresh install of vs2019 RC2,
following [Exploring Blazor with Visual Studio 2019](https://devblogs.microsoft.com/premier-developer/exploring-blazor-with-visual-studio-2019/)

1. I installed vs2019 RC2 with asp dotnet core option enabled : dotnet-sdk 2.2.201 was installed on my system.
2. I installed [dotnet-sdk-3.0.100-preview3-010431](https://dotnet.microsoft

[2019-03-17 18:51] lobster2012-user commented on #6380
//updated
[repo](https://github.com/lobster2012-user/multihub_playground/tree/master)

[code]

[2019-03-17 19:32] JamesNK commented on #6895
Profiling gRPC and the largest allocation is the gRPC context. Caching this would almost halve allocated memory.

![image](https://user-images.githubusercontent.com/303201/54496790-85ef3080-48b0-11e9-92e5-55553ef69983.png)

[2019-03-17 20:12] guyng commented on #8468
Had similar issue regarding token expiry but with the angular auth template (issue #8598).
Looking forward to hear news regarding this issue from asp.net team.

[2019-03-17 20:26] svick opened #8606 "Consider adding IPNetwork.Parse"
### Is your feature request related to a problem? Please describe.

I've been reading [a blog post by Jon Skeet](https://codeblog.jonskeet.uk/2019/03/17/hosting-asp-net-core-behind-https-in-google-kubernetes-engine/) and noticed this code in it:

[code]

I think that this code is quite verbose and it would be easier to understand if it would be possible to use IP subnet syntax here.

### Describe

[2019-03-17 20:43] ajaybhargavb commented on #8591
@mqudsi, thanks for the nice detailed report 👍 . I couldn't repro this crash from just what you included above but I suspect the crash you are seeing is because we had a bug in how we handle nested sections. Simpler repro [here](https://github.com/aspnet/AspNetCore-Tooling/pull/319). This has been fixed and will be part of the next preview servicing update.
I suspect what happens in you case is yo

[2019-03-17 20:43] #8591 closed

[2019-03-17 20:55] TAGC opened #8608 "Cannot run basic ASP.NET Core webapp on macOS due to invalid dev certs"
### Describe the bug

I'm trying to set up a basic ASP.NET Web API project (based on the Todo sample app) to brush up C#/ASP.NET Core. However, when I try to debug it in VS Code I get this error:

[code]

Running the recommended command says that a valid HTTPS certificate is already installed. I'm using v2.2.103 of the .NET Core SDK on macOS 10.14.3.

I can't find any reference to what the certifi

[2019-03-17 21:44] mqudsi commented on #8591
Thanks for the reply and information, @ajaybhargavb. I do indeed have `@section`s below this one in the document, additionally the template itself I'm using has a parent template so it contains things like `@section head { Html.RenderSection("head") }`.

Any word on making Visual Studio itself resilient to module crashes?

[2019-03-17 21:51] pjmagee commented on #6364
Does this mean being able to do things like *ngIf="" which only render components based on some condition?

[2019-03-17 21:54] shapeh commented on #8036
A few more appcrashes happened tonight / not sure if this is related to OP.
Running outofprocess 2.2.3

Some more logs to digest:

**Eventlog 1**
[code]
**Eventlog 2**

[code]
**Eventlog 3**
`Failed to gracefully shutdown process '6328'.`

**Eventlog 4**

[code]

Then from in ancm.log:

**ANCM.log**
[code]

**Report.wer**

[code]

[2019-03-17 21:55] rynowak commented on #8190
The root cause of this is what happens when a component fails initialization:

The exception is thrown here:

[code]

The relevant code:

[code]

`InstantiateComponent` is throwing, and the result is this is that we create a *child component* frame but the component ID is 0 (uninitialized). Well component ID 0 is also used by the root component. This means that the HTML renderer will go into infin

[2019-03-17 21:56] rynowak commented on #8190
Note that I see this reported as an AV or a stack overflow somewhat randomly, but it's a **hard crash** currently when you have an exception thrown while instantiating a component.

[2019-03-17 22:02] pjmagee commented on #5650
@xclud  The new template allows for SSR and using a RazorPage.chstml as the entry point, is this what you mean?

[2019-03-17 22:05] rynowak opened #8609 "Exceptions thrown during prerendering should be handled by developer exception page"
Exceptions in prerendering cause a "white screen". All of the HTML skeleton is transferred to the client, but none of the component output.

The root cause is that `RemoteRenderer.HandleException` just handles and logs all exceptions without firing its `UnhandledException` event. Also nothing subscribes to the `UnhandledException` event.

[code]

[2019-03-17 22:25] BrennanConroy commented on #8601
I'm not sure why we would want to do this. The `[HubMethodName]` attribute is for the name of hub methods that the client invokes.

`interfaceMethodInfo.Name` is the name of methods you call on the client.

[2019-03-17 22:43] Janidbest commented on #5716
PCI demands users to update the password and also its a best practice being enforced in most of the enterprise systems. Regardless of the business requirement, I guess this is most wanted feature for an identity framework.

Any update please?

Does not want to duplicate code. ( which I already have two-factor implemented prior release).

I did a quick implementation i.e.  `UserManager` - `CreateAs

[2019-03-17 23:19] TerryFogg opened #8610 "Onchange event not firing when a bind is used"
### Describe the bug
Adding a bind to the input stops the event from 'firing'?

The example shows three input check boxes that are display.
When 'clicking' each, the onchange with the bind does not 'fire'
                                   the onchange without the bind 'fires'
                                   the onclick with bind 'fires'

[code]

[2019-03-17 23:26] arivera12 commented on #8117
Another approach for non component class that needs JSRuntime would be still make the class a component so we can prevent passing down the JSRuntime to every method/class we need it.
Here is an Example:
Make a class which inherits from ComponentBase
![image](https://user-images.githubusercontent.com/5600102/54499534-67595b80-48e9-11e9-9b04-96fdd750916e.png)
Create an empty view like this an inheri

[2019-03-17 23:50] Andrzej-W commented on #8610
Binding uses `onchange` events. You can read about this here:
https://docs.microsoft.com/en-us/aspnet/core/razor-components/components?view=aspnetcore-3.0#data-binding
Proposed workaround: bind to property and execute whatever code you need in property setter.

[2019-03-18 00:39] rynowak opened #8611 "Exceptions on events not calling server-side UnhandledException infrastructure"
Exceptions thrown as a result of an event handler or JS Interop call don't call the server-side UnhandledException handler. Circuits and the sync context have their own *unhandled exception* events, and they don't fire for JS interop.

Is this right? I suppose the idea is that the exception is *handled* by the JS side. One piece of this that we need to be careful about is the fact that our excepti

[2019-03-18 00:42] rynowak opened #8612 "JS Interop doesn't report the correct callstack"
There's a catch and re-throw that's breaking call stacks when using JSInterop. We probably need to use `ExceptionDispatchInfo` here to try and preserve the information.

You can repro this by adding a button that throws when clicked (server side).

I think the culprit is this pattern here: https://github.com/aspnet/Extensions/blob/master/src/JSInterop/Microsoft.JSInterop/src/DotNetDispatcher.cs#L1

[2019-03-18 00:45] rynowak opened #8613 "Follow Up: Error handling improvements"
# Summary

This is a work item to track issues and improvements related to error handing and diagnostics in general for Components applications. Since we received strong user feedback in this area, I'm focusing on server-side components, but will consider applications to Blazor applications as well.

Goals:

- Leverage what users already know for errors during prerendering
- Provide simple diagnos

[2019-03-18 00:58] rynowak commented on #5629
@davidfowl - I know you're working on this - is there another item that tracks this?

[2019-03-18 00:59] rynowak commented on #5633
Clearing milestone, backlog doesn't seem right for this.

[2019-03-18 02:22] qcjxberin opened #8614 "System.Collections.Generic.NodeColor"
When I debug the bug, I found a parameter named System.Collections.Generic.NodeColor color, but I didn't define this NodeColor type. In the net framework, it should be a bool type. I read the open source code and it is online. No relevant instructions were found.

[2019-03-18 02:24] qcjxberin commented on #8614
`
var ci = nodeType.GetConstructors();
            var i = 1;
            foreach (var row in ci)
            {
                var ps = row.GetParameters();
                foreach (var pi in ps)
                {
                    Console.WriteLine($"参数{i}：" + pi.ParameterType.ToString() + " " + pi.Name + ",");
                }
                i++;
            }
`
测试1:System.Collections.Gener

[2019-03-18 02:28] yopez83 commented on #8587
@xclud you're right about pure html+js, only when the contenteditable property is set to true.

[2019-03-18 02:41] mazhou-msft opened #8615 "Review the design of JsonPatch types"
### Describe the bug
The type `JsonPatchDocument` and related types are not aligned to the .NET Class Design Guidelines and also not following API conventions of other part of ASP.NET Core. Need to review and improve the ASP.NET Core JsonPatch package.

### Observed behaviors

1. `JsonPatchDocument.Operations` is of type `List<Operation>`, a public property should not expose `List<T>` as a return

[2019-03-18 03:11] blowdart commented on #8606
This would probably fit better in .NET Core, along with the rest of the IPAddress classes. Might I suggest asking [there](https://github.com/dotnet/corefx/issues)?

[2019-03-18 03:17] svick commented on #8606
@blowdart [The `IPNetwork` class is already part of ASP.NET Core](https://github.com/aspnet/AspNetCore/blob/c95ee2b051814b787b07f55ff224d03d550aafeb/src/Middleware/HttpOverrides/src/IPNetwork.cs), I'm just suggesting adding few methods to it.

Or are you saying the whole class should be moved to .Net Core?

[2019-03-18 03:19] blowdart commented on #8606
In my opinion, yes. Of course other may disagree :) Feels weird it's in ASP.NET when it could be used elsewhere

[2019-03-18 03:21] Eilon commented on #8614
Hi @qcjxberin can you please provide more information on how to reproduce this problem? This problem doesn't seem to be related to ASP.NET Core.

[2019-03-18 03:22] Eilon commented on #8608
cc @javiercn

[2019-03-18 03:27] Eilon commented on #8595
@iamjassiesandhu can you show a network trace of how this is happening? WHich browser are you using?

[2019-03-18 03:27] Eilon commented on #8595
cc @Tratcher

[2019-03-18 03:28] Eilon commented on #8605
Ah yes dup of https://github.com/aspnet/AspNetCore-Internal/issues/1940. We'll use the other one to track.

[2019-03-18 03:28] #8605 closed

[2019-03-18 03:29] qcjxberin commented on #8614
`var t = nodeType.GetConstructors().Where(x => x.GetParameters().Length == 2).FirstOrDefault();
            var tp = t.GetParameters()[1].ParameterType;
            var tt = item;
            var ttt = Expression.Constant((byte)0, tp);
            Console.WriteLine($"测试1:{list.Count}");
            var tttt = Expression.New(t, tt, ttt);`

Like the code tp above, it returns NodeCore

`
using System

[2019-03-18 04:44] lobster2012-user commented on #8601
You can use the new attribute with a suitable name.

[2019-03-18 04:45] asn19595 commented on #8230
I have already a PR in process for this. Thank anyways.

[2019-03-18 04:58] chinturathod commented on #8585
hi,
it is a ASP.NET Core component ,
i used AspNetCore.Reporting nuget package
Any help will be very great full
thanks

[2019-03-18 05:49] Edward-Zhou opened #8617 "Identity Library fail to choose the Data context class and User Class in Add Identity Window"
### Describe the bug
Identity Library fail to choose the Data context class and User Class in Add Identity Window while add scaffold.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.1'
2. VS 2017 -> Create a new Asp.Net Core Web Application(MVC)
3. Add new class below:

`ApplicationDbContext`
[code]
`ApplicationUser`
[code]

4. Right Click Project->Add S

[2019-03-18 06:05] Tratcher commented on #8595
How are you viewing these duplicate requests? Can you share the trace?

[2019-03-18 06:49] danyae commented on #4564
I have also experienced this problem and for those who doesn't want to revert back to .Net Core 2.1 I suggest using Non-Sequential Indices like described in this article: [https://haacked.com/archive/2008/10/23/model-binding-to-a-list.aspx/](https://haacked.com/archive/2008/10/23/model-binding-to-a-list.aspx/).

In my views I create a string guid index and then use it to bind a model to a list:

[

[2019-03-18 07:45] jose-pr opened #8618 "Blazor Property Binding not updating always"
### Describe the bug
I have a object property binded to the class of an html element and on a onclick event the value of the property changes and so does the class of the html element. The problem is it has no problem adding new classes but wont remove the old ones.

### To Reproduce
NavTab.cshtml
[code]
HtmlElement.cshtml

[code]
HtmlElement classes

[code]
When i click on the tab the font-weight

[2019-03-18 07:57] laurence73 commented on #8117
I like this approach. Thanks for this!

[2019-03-18 08:06] RemiBou commented on #6364
Indeed, we saw the problem on the validation feature : if you want to add an attribute you have to subclass the one offered by the framework.

But I think we should keep it to feature like this (adding behavior to an html tag) and don't apply it to feature already present in razor (if/for ...) which is a not very beautiful in angular IMHO.

[2019-03-18 08:10] asterinex opened #8619 ".NET Razor components : System.InvalidOperationException: ComponentHub doesn't have an associated endpoint."
Hello All,

I have a problem running .Net Core 3 Razor Components application on my Computer (VS 2019 RC Locally IIS Express 10)
The application starts, but no events are triggered.
A click on the 'Click-me'-Button (Counter) throws following Exception :

Microsoft.AspNetCore.Hosting.Internal.GenericWebHostService: Information: Request starting HTTP/1.1 GET https://localhost:44312/_blazor?id=-aCKSI

[2019-03-18 08:15] jose-pr commented on #8618
Well I found out that i needed that calling base.StateHasChanged(); fix the problem it was just that the other link were not re rendering.

[2019-03-18 08:15] #8618 closed

[2019-03-18 08:23] xclud commented on #5650
@pjmagee Thank you for the reply. The question is old back to Preview 1. I am already using the lastest SDK so the problem is solved now.

Sorry for forgetting to close the issue earlier. I close it now.

[2019-03-18 08:23] #5650 closed

[2019-03-18 08:44] javiercn commented on #7009
@SteveSandersonMS Do we have an E2E test for this? Feels like we should and we can just point people there for a sample.

[2019-03-18 08:49] javiercn commented on #8608
@TAGC Thanks for contacting us.

Can you open keychain on your Mac and see if you can find a localhost certificate in the system keychain?

[2019-03-18 08:53] asterinex commented on #8590
Is there a temporary fix or workaround ?

[2019-03-18 09:02] Gopigovin commented on #8567
Hi @Eilon ,

We have prepared sample with html upload with asp.net core(2.2) web api service.

1. Extract the sample - [backend.zip](https://github.com/aspnet/AspNetCore/files/2977175/backend.zip)

2. open the htmlpage.html file into browser.
3. Run the backend.sl file in Visual Studio.
4. Upload any file and check the onload() event, cannot able to get the custom header text(**"status"**)

Please

[2019-03-18 09:03] Gopigovin commented on #8567
Hi @jkotalik ,

We have used Web API service into ASP.Net Core 2.2. Please find the sample and replication procedure.

Extract the sample - backend.zip

open the htmlpage.html file into browser.

Run the backend.sl file in Visual Studio.

Upload any file and check the onload() event, cannot able to get the custom header text("status")

Please provide solution for this query.

Regards,
Gopi G.

[2019-03-18 09:17] jchannon commented on #8550
I went with this approach

app.MapWhen(context => context.Request.Path == "/" &&
!context.Request.Headers["Accept"].ToString().Contains("json"),
builder =>
{
    builder.UseDefaultFiles();
    builder.UseStaticFiles();
});

app.UseStaticFiles();

app.UseCarter();

On Sat, 16 Mar 2019 at 23:07, Eilon Lipton <notifications@github.com> wrote:

[2019-03-18 09:18] jchannon commented on #8550
I went with this approach

[code]

[2019-03-18 09:24] JoelSchoeni commented on #8549
Ok thanks

[2019-03-18 09:55] kennywangjin opened #8620 "razor components should allow custom attributes"
currently, when assigning html attributes that are not explicitly defined on razor components, system will throw exception. e.g. we can not assign an id to EditForm. custom attributes should be passed down to component's root element and preserved  to apply customization.

[2019-03-18 09:57] abuassar commented on #7390
I'm facing the exact same issue and it is quite frustrating.

any updates or possible work-around will be much appreciated...

[2019-03-18 09:58] wstaelens commented on #7663
Yes please allow us to do:
[code]

This would require no JavaScript, allows users to select an item or add one if missing. Very useful in admin panels!!

Can I Use information: https://caniuse.com/#feat=datalist

see also here: https://github.com/aspnet/Mvc/issues/8322

[2019-03-18 10:09] regisbsb opened #8621 "Add docker file in VS2019 preview 4.2 adds the wrong image"
### Describe the bug
A clear and concise description of what the bug is when you click add Docker to ASP.net core website in Visual Studio 2019 preview 4.2 it adds a old docker hub images

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 3.0 preview 3
2. Add docker
3. Adds old docker hub not mcr

### Expected behavior
The new docker file to have mcr addreses

[2019-03-18 10:32] Remleo opened #8622 "PartialTagHelper should use IHtmlHelper.RenderPartialAsync()"
The interface `IHtmlHelper` contains specific methods for dealing with partial views
`RenderPartialAsync()` and `PartialAsync()`.

But `PartialTagHelper` (`<partial/>`) doesn't use it for rendering IHtmlContent. It's very frustrating as the only one service should be responsible for partial-views' logic.

In my project I overrided `HtmlHelper` to add some specific logic into `RenderPartialCoreAsyn

[2019-03-18 11:34] asterinex commented on #8384
Is there a temporary fix for development in Visual Studio 2019 and IIS Express 10 ?

[2019-03-18 11:53] Harisasghar commented on #5385
Hei, guys! Anybody found a solution to this problem? Or shall I just revert the project to .NET Core 2.1?

[2019-03-18 11:55] SSSikora commented on #8383
@andrestalavera - thank you very much for the information and taking the time to look at my issue.

-Scott

[2019-03-18 12:30] DanielHabenicht commented on #2378
We are currently using AspNetCore 2.1, because it is LTS.
We can't update because 2.2 is not LTS.

The Question:
Why is this not classified as critical Bug and therefore merged to 2.1?

[2019-03-18 13:23] oliversturm commented on #7494
FWIW, I agree with OP that the proposed syntax should be supported. I also do not understand the comment by @mkArtakMSFT - what is the possibility being eliminated here?

In my case I have this component:

[code]

I can now use this component like this (without a template):

[code]

I can also do this for a more complex title:

[code]

However, when specifying a template, I suddenly need to do thi

[2019-03-18 13:49] pranavkm commented on #8117
With Razor Components (server-side), each instance of `IJSRuntime` is associated with a unique SignalR client. Using a static would be problematic.

[2019-03-18 13:55] shakeelgithub opened #8623 "Http.PostJsonAsync<T> Throws Exception"
## Blazor 0.9.0
### Http.PostJsonAsync\<T> throw exception when passing an object with DateTime property.

### Explanation
When I pass my object which has the DateTime Property, It throws exception. But it also send data to api and the records are inserted in database.
For all other objects it works fine. But for this object which has a Nullable DateTime property it throws exception.

When I handl

[2019-03-18 13:57] hodgezappa commented on #5280
I have the same need

[2019-03-18 14:07] laurence73 commented on #8117
Understood. We are using Blazor client side. I have implemented your parameter solution and it works well. Thanks again.

[2019-03-18 14:15] VictorioBerra commented on #8555
In case other people come across this, another option:

[code]

[2019-03-18 14:20] MarkStega commented on #8276
I have a reproducible (albeit large) solution in which I can change one nuget package reference and the error appears/disappears.

The project layout is

App.Client - An RC library that was converted from a Blazor 0.8.0 library; It contains the app.cshtml that is the entry point for the RC components. It ran as server side execution Blazor in 0.8.0

App.Server - A 3.0.0.P2 web server that hosts th

[2019-03-18 14:56] KravaNick opened #8625 "Start hosted services before server"
Hi

Why when we start server, IHostedService's start after it?
It can cause some runtime problems, when we just started and already receiveing and handling requests.

In [Issue #5900](https://github.com/aspnet/AspNetCore/issues/5900) you decided to change handling exceptions occured during IHostedService.Start()

Isn't it would be a great idea to also with for services to start properly, before st

[2019-03-18 15:01] SteveSandersonMS commented on #8276
Can you post repro steps, starting from creating a new project and not using third-party dependencies?

I know that's nontrivial to do, but it's the only way I'll be able to identify whether there's a bug or whether there was a mistake in your upgrade process. Thanks.

[2019-03-18 15:11] davidfowl commented on #8276
cc @nguerrera

[2019-03-18 15:21] SteveSandersonMS commented on #7009
@javiercn Yes, our E2E test app is hosted on a non-root URL for this exact reason.

[2019-03-18 15:31] anurse commented on #8613
From some experience, it's hard to "Sanitize" exceptions. Our approach in SignalR has generally been to suppress all exception messages (replace with "An error has occurred") **unless** they are derived from some well-defined base class (in SignalR: `HubException`). Thus users have to opt-in to sending details in production. In dev mode, we do the same as you propose, dump the whole shebang in.

👍

[2019-03-18 15:36] rynowak commented on #8613
Yeah, that's the kind of thing I had in mind. I said sanitize, what I meant was to replace the exception with a generic "error is happen" kind of thing.

[2019-03-18 15:39] VictorioBerra opened #8626 "Why did we go from targeting the netstandard2.0 to netcoreapp3.0 in Microsoft.AspNetCore.Cors.csproj?"
I trying to use the `Microsoft.AspNetCore.Cors.csproj` as a reference for building my own middleware. I noticed between the latest 2.2.3 and the unreleased core 3 there are some large changes to the csproj. Namely, we no longer target the netstandard which I was told for class library development is the best practice.

So should I be targeting the core framework instead? Or do I need to target sta

[2019-03-18 15:48] MarkStega commented on #8276
Steve,

Since I have no idea what causes the problem I don't think that I can create a repro case. I tried a very simple new project and added/removed the dependency with no issue. I would be willing to allow you or a team member access to my project repository. It should be a simple matter to clone the repository and then demonstrate the problem. Since this is a build issue you would not need any

[2019-03-18 15:53] LorenDorez commented on #7009
@dodyg Yes i got this to work on the base path. Make sure you also update your LaunchSettings.json to launch your app with the new endpoint

[2019-03-18 16:05] Asshiah commented on #8407
Hi,

there is absolutly no error on the browser console...

[2019-03-18 16:06] shapeh commented on #8036
Managed to get a dump file with procdump. Anybody interested in this:

[code]

[2019-03-18 16:09] Eilon commented on #8585
It's not from Microsoft. You can contact the owners of the package by visiting this site: https://www.nuget.org/packages/AspNetCore.Reporting/

[2019-03-18 16:10] shirhatti commented on #8036
@shapeh I can take a look. Can you email me a link at [firstname].[lastname][at]microsoft.com ?

[2019-03-18 16:11] drauch opened #8627 "Huge POST request hangs in UriHelper.UnescapeString"
### Describe the bug
If I HTTP-POST a huge (300K to 1MB, specially crafted) request to my application, the request hangs for several minutes. Depending on the size it even runs in 502 timeouts (starting from 2MB upwards on my local machine).

The request must have a form-data field with upwards of 300 KB which moreover matches the following regular expression: ```%.*§``` multiplied to the necessar

[2019-03-18 16:24] rynowak commented on #8499
It might be part of some sample code or test somewhere, but it isn't a feature we provide.

The HttpContext, RouteValueDictionary and most other things that are part of the request are not thread-safe. They are intended to be used inside the context of the currently executing request, and not in other threads.

[2019-03-18 16:28] rynowak commented on #8580
never?

[2019-03-18 16:29] rynowak commented on #8619
Do you have something like that in your startup code?

[2019-03-18 16:30] #8386 closed

[2019-03-18 16:33] NTaylorMullen commented on #8580
We should talk offline. Don't want to ship public API for something that we don't feel 100% about, sooo we'll need to do the work to remove it.

[2019-03-18 16:34] #8381 closed

[2019-03-18 16:35] #8380 closed

[2019-03-18 16:35] #8405 closed

[2019-03-18 16:36] #8398 closed

[2019-03-18 16:48] shapeh commented on #8036
@shirhatti - sent to your email as a onedrive link :) Thanks for looking into this.

[2019-03-18 17:06] Eilon commented on #8614
Hi. It doesn't look like this is a question about ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the `.net` tag.

[2019-03-18 17:06] #8614 closed

[2019-03-18 17:15] #8306 closed

[2019-03-18 17:24] muratg commented on #8346
cc @halter73 and @anurse in case they have thoughts on this as well.

[2019-03-18 17:29] muratg commented on #8621
@glennc @shirhatti do you guys know where docker tooling bugs go to?

[2019-03-18 17:29] rynowak commented on #8181
This will probably be fixed in internal builds of VS tomorrow. I think all that will be required here is to update to a newest master and try this out.

[2019-03-18 17:31] Tratcher commented on #8310
@jkotalik

[2019-03-18 17:35] Tratcher commented on #8322
You should be able to confirm if the app restarted based on event logs and application logs.

[2019-03-18 17:41] zuckerthoben commented on #8293
We have the same problem. We are hosting In-Process in Azure.
Does this mean that there is no RequestSizeLimit when on IIS? Or does it mean that if I reach the limit and I wanted to disable it, I get an error?
Is there any workaround to only activate the feature if the hosting platform supports it?

[2019-03-18 17:52] Tratcher commented on #8379
Closing as fixed in 3.0 preview2

[2019-03-18 17:52] #8379 closed

[2019-03-18 17:54] Tratcher commented on #8371
Calling Cookies.Delete should not be necessary.

[2019-03-18 17:59] Tratcher commented on #8363
I don't think those underscores are being translated they way you think they are. Try dumping the config to make sure it is structured as you expect.

https://github.com/aspnet/AspNetCore/blob/f303a55a8edf632738eb6e15312aac443cdf21b1/src/Servers/Kestrel/samples/SampleApp/Startup.cs#L179-L187

[2019-03-18 18:03] guylando commented on #8322
Waiting for the new logs writing code to be uploaded to production and will then be able to check.

[2019-03-18 18:08] wli3 opened #8629 "Update launchSettings.json to use system.text.json"
The code is in CLI but it is owned by aspnet
https://github.com/dotnet/cli/tree/7d0f5cdd5508d291bac3dd59adda4efaa968e575/src/dotnet/commands/dotnet-run/LaunchSettings

[2019-03-18 18:16] Rakiah opened #10629 "Memory usage goes to 700MB for an almost empty project using dotnet watch run in a container"
I'm getting huge memory usages in my containers using `dotnet watch run`, each of my .NET Core 2.1 containers reach up to 700mb and for each request, it raised 1mb in ram, after 15 minutes, it went down to 200mb and again it raised 1mb in ram for each request, i've been seeing that disabling ServerGarbageCollector in the .csproj would fix my problem but it didn't, i'm using .NET Core 2.1.6

Anyone

[2019-03-18 18:24] blowdart commented on #8626
there aren't 3.0 packages for a lot of what's in the Microsoft.AspNetCore.App shared framework in 3.0. Your library instead will need a FrameworkReference to Microsoft.AspNetCore.App in the netcoreapp3.0 target. This was [announced a while back now](https://github.com/aspnet/Announcements/issues/325), but doesn't effect the Microsoft.Extensions packages, only  most of Microsoft.AspNetCore.*

[2019-03-18 18:28] blowdart commented on #8617
@Eilon can you move this to tooling please?

[2019-03-18 18:31] dodyg commented on #7009
@LorenDorez I can't make it work with Kestrel at  ```http://localhost:51997/application2```.

I got JS error `Uncaught SyntaxError: Unexpected token <`  at `http://localhost:51997/application2/_framework/components.server.js`

[code]

[code]

[2019-03-18 18:33] pranavkm commented on #8622
`PartialTagHelper` uses features that are not available in `IHtmlHelper` - fallback view and using the `ModelExpression`. There are no plans to add these features to the `IHtmlHelper` equivalent. My recommendation would be to consider creating a custom partial tag helper that replicates what you currently have in your custom `HtmlHelper` instance.

[2019-03-18 18:33] #8622 closed

[2019-03-18 18:42] NTaylorMullen opened #8630 "[Tooling] Using TagHelpers in void returning methods at design time does not cause an error"
### Describe the bug
TagHelpers aren't indicated as an error inside of a void returning method at design time. This is due to how we change rendering at design time vs. runtime.

i.e. no errors:
![image](https://user-images.githubusercontent.com/2008729/54554913-dc24a800-4972-11e9-9ac7-6e7f832ae171.png)

[2019-03-18 18:50] danroth27 commented on #7363
@djack42 You really should be using the latest Blazor bits with .NET Core 3.0, not 2.2. A change was made in the new release channel for VS2019 to no longer pickup previews of .NET Core SDKs by default. To use use a preview of .NET Core 3.0 with the release channel of Visual Studio 2019, you will need to enable the option to use previews of the .NET Core SDK by going to Tools > Options > Projects

[2019-03-18 18:58] danroth27 commented on #8524
Anything that can be done from JS can be done from a Blazor app. You should be able to use gRPC-Web from a Blazor app through [JS interop](https://docs.microsoft.com/aspnet/core/razor-components/javascript-interop): https://grpc.io/blog/grpc-web-ga. If you get a sample of that working let us know! We'd love to add it to the [Blazor Community page](https://blazor.net/community).

[2019-03-18 18:58] #8524 closed

[2019-03-18 19:00] TAGC commented on #8608
@javiercn Sure thing, I have one yeah. It says:

It's in the "System" keychain.

[2019-03-18 19:04] LorenDorez commented on #7009
@Dodyg did you update your launch settings for Kestrel? so that it knows you want to put on the directory?

[2019-03-18 19:06] VictorioBerra commented on #8626
So for a basic shared library, I will be using a proj file like this?

[code]

[2019-03-18 19:11] javiercn commented on #8608
Hmm, does it contain an extension with the following OID? `1.3.6.1.4.1.311.84.1.1`. If so, does that certificate contain a + symbol and does it contain an imported private key?

You should be able to remove the certificate from the key chain and run the tool again, and that should fix your problem. If that is not the case, let me know.

Best regards,
Javier Calvarro Nelson.

[2019-03-18 19:13] muratg commented on #8629
cc @Eilon

[2019-03-18 19:19] TAGC commented on #8608
The certificate did list that string within the "Extension" field. I found no reference to a + symbol/imported private key but I tried deleting the certificate anyway.

I ran these commands:

[code]

My web app now launches successfully. Thanks for the help.

[2019-03-18 19:19] #8608 closed

[2019-03-18 19:28] dodyg commented on #7009
Kestrel does not allow using path base in launchSetting.json. It must be set via code `    app.UsePathBase("/application2");`

[2019-03-18 19:35] LorenDorez commented on #6348
@rynowak I managed to get RC working in MVC Views but had to update the `components.server.js` file a bit. [repo here](https://github.com/LorenDorez/EatSleepBlazorRepeat/tree/master/MVCApp)

I cant wait for this to be fully integrated into MVC so i dont have to map RC components to random HTML tags. Might need to do a Prefix though since you could have a Component named to a current standard html

[2019-03-18 19:36] aodl opened #8631 "A way to prevent IHostingStartup filters form overriding host configuration keys"
### Is your feature request related to a problem? Please describe.
IHostingStartup filters can easily override host configuration keys without the composition root project able to do much to stop them or realise that they've done it, because the host configuration is a private field inside the default implementation of [WebHostBuilder](https://github.com/aspnet/Hosting/blob/3483a3250535da6f291326f

[2019-03-18 19:37] ststeiger commented on #1528
@chinturathod: What does the URL of "report chart"-element show ?

[2019-03-18 19:42] Tratcher commented on #8396
Likely a duplicate of https://github.com/aspnet/Security/issues/1252.

[2019-03-18 19:50] Tratcher commented on #8409
Or it didn't use TLS 1.2 for some reason? Did you change anything in Program.cs?

[2019-03-18 19:51] wli3 commented on #8629
Close this issue. It is tracked in VSTS

[2019-03-18 19:51] #8629 closed

[2019-03-18 20:00] Tratcher commented on #8426
I expect the issue is here where it doesn't copy over the Secure flag:
https://github.com/aspnet/AspNetCore/blob/f303a55a8edf632738eb6e15312aac443cdf21b1/src/Shared/ChunkingCookieManager/ChunkingCookieManager.cs#L283-L305

As called from here:
https://github.com/aspnet/AspNetCore/blob/f303a55a8edf632738eb6e15312aac443cdf21b1/src/Mvc/Mvc.ViewFeatures/src/CookieTempDataProvider.cs#L79

[2019-03-18 20:00] mkArtakMSFT commented on #8132
May be related https://github.com/aspnet/AspNetCore/issues/8387

[2019-03-18 20:11] khellang commented on #8606
There's already [a corefx issue](https://github.com/dotnet/corefx/issues/36030) that's related to this.

[2019-03-18 20:11] guyng commented on #8281
@javiercn can you post a workaround for the angular template? i believe the issue is similar.
#8598
ty.

[2019-03-18 20:11] mkArtakMSFT commented on #8623
Thanks for contacting us, @shakeelgithub.
In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-03-18 20:16] mkArtakMSFT commented on #8620
Thanks for contacting us, @kennywangjin.
@danroth27 don't we have a separate issue with a similar ask? I tried to find it, but with no luck.

[2019-03-18 20:21] mkArtakMSFT commented on #8619
@asterinex, it's not clear whether the `MapComponentHub<App>("app")` call is in your original app, or in the newly created project only?

[2019-03-18 20:26] iaiken opened #8632 "Ability to initialize keys in the store from existing keys"
### Problem statement
We have an existing .NET 4.5 dll-based solution that makes use of Enterprise Library 4.2 and DPAPI to store several shared keys to multiple machines in a web farm.  We are now converting a lot of our code over to AspNetCore Web API and are trying to find a route to provides seamless continuity for the switch over to the new Microsoft.AspNetCore.DataProtection mechanism with f

[2019-03-18 20:28] mkArtakMSFT commented on #8615
Thanks for your feedback, @mazhou-msft.
Improving JSONPatch is not a priority for us at the moment. Some of the things you've mentioned above are breaking changes, which we won't be able to do. Some, however, are minor and can technically be done, but the value add is not major.
If you'd like to contribute, we will happily consider a PR with non-breaking issues.

[2019-03-18 20:33] mkArtakMSFT commented on #8610
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-03-18 20:33] #8610 closed

[2019-03-18 20:45] rynowak commented on #8580
Lets talk about this then. IMO the whole thing needs to be redone - our assumptions were broken as soon as we added components. I don't want to spend a bunch of time polishing what's there.

[2019-03-18 20:55] joshmouch commented on #8071
Does the development team have any feedback on this?  Our team is evaluating what we will be doing our next POC project in, and this is going to be a factor.

[2019-03-18 21:02] mkArtakMSFT commented on #8590
@davidfowl, @anurse is there a separate issue you track the fix with? Should this one be duped?

[2019-03-18 21:09] blowdart commented on #8632
The protect & unprotect results are in an entirely different format and it's not a migration story we've considered, nor, I'm afraid, are likely too, given the age of Enterprise Library in general, let alone that version. I don't think it's possible at all, you'd have to unprotect the data in the old format, then reprotect in the new.

In addition we make no claims about Data Protection being PCI

[2019-03-18 21:09] #8632 closed

[2019-03-18 21:09] mkArtakMSFT commented on #8596
Thanks for contacting us, @honkmother.
@javiercn can you please look into this? Thanks!

[2019-03-18 21:09] shapeh commented on #8036
@shirhatti
We have obtained more dumps if needed - this time we used 'EnableDumps PowerShell script' from here:
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/troubleshoot?view=aspnetcore-2.2#create-a-dump

[2019-03-18 21:13] javiercn commented on #8596
This is by design for now until we finish the "robust reconnect" feature.

[2019-03-18 21:21] Eilon commented on #8383
@SSSikora we have some migration information at the following links:

* ASP.NET Core migration guide from 2.2 to 3.0: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio
* https://github.com/aspnet/Announcements/issues/325
* https://github.com/aspnet/AspNetCore/issues/3612
* https://github.com/aspnet/AspNetCore/issues/3756

[2019-03-18 21:24] Eilon commented on #8617
To report issues with Visual Studio, use the [Report a Problem](https://developercommunity.visualstudio.com/) tool.

If you encounter a problem with Visual Studio, we want to know about it so that we can diagnose and fix it. By using the Report a Problem tool, you can collect detailed information about the problem, and send it to Microsoft with just a few button clicks. See [here](https://docs.mic

[2019-03-18 21:24] #8617 closed

[2019-03-18 21:38] JunTaoLuo opened #8633 "Ensure targeting pack dependency versions are pinned for patch builds."
https://github.com/aspnet/AspNetCore/pull/8490#issuecomment-473559281

[2019-03-18 21:45] mkArtakMSFT commented on #8120
Hi. We're closing this issue as we have heard no response from you for some time now. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2019-03-18 21:45] #8120 closed

[2019-03-18 22:04] pjmagee commented on #6364
The good thing about it is the ability to reduce nesting and in some ways make it more elegant to read. But I'm sure the right design will come for blazor with time so i have no worries for that.

[2019-03-18 22:04] Tratcher commented on #8473
Yes, that heartbeat warning usually means you're starving the threadpool. Is it possible to you to capture a dump of the process in this state and look at the stacks?

[2019-03-18 22:16] bryanllewis commented on #8023
I was getting this error on opening razor views even with LiveShare installed.  I ran a "Repair" on the VS 2019 install and it now seems to be working.

[2019-03-18 22:23] jkotalik commented on #8036
@shapeh did this behavior reproduce on the original AspNetCoreModule. Ex: target the AspNetCoreModule as the module name in your web.config?

From what I read, I don't see why this would be an IIS issue. Feel free to send me the dumps too at the email listed on my github profile, because I'm curious.

[2019-03-18 22:24] Tratcher commented on #8501
So everything is working as expected now?

[2019-03-18 22:47] NTaylorMullen opened #8635 "[Tooling] Find all references does not work for closed component files"
### Describe the bug
This is due to `RootNamespace` not flowing to background parsed Razor documents in VS. [This](https://github.com/aspnet/AspNetCore-Tooling/blame/25fe68e2bc95d69154be35e96219cc978241f146/src/Razor/src/Microsoft.AspNetCore.Razor.Language/Components/ComponentDocumentClassifierPass.cs#L136) ends up returning early because the `DocumentSnapshot` system doesn't include a valid relat

[2019-03-18 22:52] shapeh commented on #8036
@jkotalik - we have not tried with AspNetCoreModule - but are trying now to see what will happen. I have just sent you an email with 3 dumps - 2 from PS and 1from procdump64 + analysis report.

It could a misconfiguration somewhere on our side but I don't really know. For the CreateFile error, I am not even sure they are related to the dumps I am sending.

[2019-03-18 23:00] Eilon commented on #8583
Hi, the work to *add* support for VBHTML is enormous - that's one of the reasons that it is not supported in ASP.NET Core. But the work to *maintain* it is also substantial. As the VB language evolves, and as ASP.NET Core / Razor requirements and features evolve, the cost of having support for two languages takes away time that can be spent on other features, fixes, and enhancements (this includes

[2019-03-18 23:00] #8583 closed

[2019-03-18 23:12] Tratcher commented on #8625
This has already been addressed another way. See https://github.com/aspnet/AspNetCore/pull/8624#issuecomment-474136519.

[2019-03-18 23:12] #8625 closed

[2019-03-19 00:03] danroth27 commented on #8620
I think this is it: https://github.com/aspnet/AspNetCore/issues/5071

[2019-03-19 00:03] danroth27 commented on #8620
Closing as a dup.

[2019-03-19 00:03] #8620 closed

[2019-03-19 00:09] demiryasinoruc opened #8636 "asp-action"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '...'
2. Run this code '....'
3. With these arguments '....'
4. See error

### Expected behavior
A clear and concise description of what you expected to happen.

### Screenshots
If applicable, add screenshots to help explain your problem.

[2019-03-19 00:10] #8636 closed

[2019-03-19 00:20] kierenj commented on #8501
I think so, but I wasn’t sure if its as expected - when using Ctrl-C to signal a cancel, but not cancelling in the event handler via setting the Cancel prop, the process hangs.

[2019-03-19 00:36] maldworth commented on #5277
@GeXiaoguo, you might be able to use MassTransit (with RabbitMq). As @anurse mentioned, the Redis implementation is really easy to read. So easy infact that I decided to implement a [SignalR backplane](http://masstransit-project.com/MassTransit/advanced/signalr/) for [MassTransit](https://github.com/masstransit/masstransit/). This does give an alternative option for on prem windows servers, which

[2019-03-19 00:37] sebastienros opened #8637 "Platform benchmarks broken"
Since https://github.com/aspnet/AspNetCore/pull/8517

/cc @jkotalik

[code]

[2019-03-19 00:45] #7612 closed

[2019-03-19 01:01] jkotalik commented on #8036
I don't believe they are. The dumps you are sending just have the dotnet process throwing an unhandled exception.

[2019-03-19 01:03] jkotalik commented on #8637
Looking into this now.

[2019-03-19 01:23] shapeh commented on #8036
Okay I understand.

We have switched to AspNetCoreModule now and have been running for ~2 hours with no problems so far. In contract, we also do not have a lot of traffic on the site these hours.

Do you think the exception is due to a mis configuration in our code or? It is kind of hard to track it down as the log files are pretty limited.

[2019-03-19 02:33] qwertylb commented on #8540
[HttpGet("{param}")]
        [EnableCors("CorsPolicy")]
        public async Task&lt;ActionResult&lt;List&lt;Doc&gt;&gt;&gt; Search(string param)
        {
            return  _client.Search&lt;Doc&gt;(s =&gt; s
                .From(0)
                .Size(10)
                .Query(q =&gt; q.Match(m =&gt; m.Field(f =&gt; f.account).Query(param)))).Documents.ToList&lt;Doc&gt;();
        }

[2019-03-19 03:28] mkArtakMSFT opened #8639 "We should prevent self-closing tag helpers compile time"
I'm targeting ASP.NET Core 3.0 preview3.
Here is my page model:

[code]

And here is my Index.cshtml:

[code]

First, my `select` tag helper is self-closing, and that results in improper rendering:

[code]

As soon as I change the tag helper to have a separate closing tag, things will work just fine:
[code]

[2019-03-19 03:29] mkArtakMSFT commented on #8639
We should prevent these type of errors by failing the build as well as (lower priority) provide the error in the editor window.

[2019-03-19 04:10] mkArtakMSFT commented on #8579
Thanks for contacting us, @SRQcoder.

The `asp-for` attribute is intended for getting the selected item(s) back from the client on a post back.
If you intend to have a single-only selection option, the `asp-for` should refer to a non-enumerable property: a `string` as an example, which will include the value of the selected item on the post-back.
Otherwise, if you intend to allow multiple select (

[2019-03-19 04:10] #8579 closed

[2019-03-19 04:11] mkArtakMSFT commented on #8573
@ryanbrandenburg can you please investigate and come up with some cost for this work? Thanks!

[2019-03-19 04:55] mikaelm12 opened #8640 "[Backport] AccessTokenProvider not persisted after restarting connection"
Original Issue: https://github.com/aspnet/AspNetCore/issues/8429

If a user passed in their own accessTokenProvider after stopping and restarting a HubConnection in the Java client we would lose the reference to it. The fix is already in master and this is tracking it going into the 2.2.x branch.

[2019-03-19 05:14] asterinex commented on #8619
I have no original App. I just want to create my first project with .Net Core 3 Razor Components.
I have created the default template in Visual Studio RC.which uses the MapComponentHub.

This Github-Project gives me the same problem :
https://github.com/akorchev/razor.radzen.com
I can build and start the application, but no events are triggered.

[2019-03-19 05:18] SRQcoder commented on #8579
Yes, this did help. I did not realize 'asp-for' mapped to the return type. Thank you for your help.

[2019-03-19 05:49] wegylexy commented on #7549
VS2019 is still in preview. Shouldn't let it block SignalR Core 3.0

[2019-03-19 06:04] wegylexy commented on #6104
@aliedp @devmonte I think it's a bad idea to get all individual users from SignalR itself when scaled out with Redis. Better maintain it with an external store, probably sharing the same Redis cache.

[2019-03-19 06:30] zeinali0 commented on #5353
Will hub pipeline be added to version 3? i think it's an essential feature for enterprise applications

[2019-03-19 06:42] nikheeel opened #8642 "SignalR Core .net client getting disconnected if any of the client disconnects"
### Describe the bug
I am using SignalRCore Hub and connected a UI client and a .net client to the hub. I have some custom logic to connect both UI and .net client internally so that both can send and receive request through SignalR Core Hub. This works fine when i run both applications and I can send and receive data from .net client to Ui and vice versa. Issue is, whenever UI is disconnected fro

[2019-03-19 07:00] chinturathod commented on #1528
@ststeiger
Hi Please Find HTML and CSS below
HTML :
<div dir=\ "LTR\" style=\ "height:100%;width:100%;direction:ltr\" ID=\ "rsoReportDiv\">
    <TABLE CELLSPACING=\ "0\" CELLPADDING=\ "0\">
        <TR>
            <TD ID=\ "rsoReportCell\">
                <TABLE CELLSPACING=\ "0\" CELLPADDING=\ "0\">
                    <TR>
                        <TD class=\ "A97993c8d452f40d4910a317776d607f61

[2019-03-19 07:48] devmonte commented on #6104
@wegylexy Hm maybe you are right. I haven't had yet opportunity to work with Redis :)

[2019-03-19 08:15] shakeelgithub commented on #8623
Hello @mkArtakMSFT
Here is [ The Repository  ](https://github.com/shakeelgithub/Experiencing-SmartBlazor) with all instructions in **readme.md** file.

[2019-03-19 09:45] achester75 opened #8644 "Asp.Net Core Reporting (SSRS)"
Hi

I have used alan juden code to run a ssrs report within my c# website. Running the code within visual studio works fine.

Running from the web address after uploading to IIS it fails due to authentication

The default code in the controller is "return System.Net.CredentialCache.DefaultNetworkCredentials;"

I'm new to all this so am unsure what needs to be done to run the report. How to I ensur

[2019-03-19 10:32] GeXiaoguo commented on #5277
@maldworth, a practical difficulty in big cooperation is that infrastructure is usually managed by a third party team, or in my case, multiple third party teams. Adding a managed queue like Radis, RabbitMQ is adding a infrastructure. The process cost is too high. That's why there are so many people interested in a SQL Server solution despite its potential scaling problem. Basically every applicati

[2019-03-19 11:26] Christoph-Wagner opened #8645 "ViewComponent can't have Invoke[Async] use a parameter named "content" when using TagHelper Syntax"
### Describe the bug

When the ViewComponent's `Invoke` or `InvokeAsync` method has a parameter `content` *and* the ViewComponent is invoked with the TagHelper Syntax `<vc:…` then the generated code throws a compile-time error.

### To Reproduce

Using .NET Core SDK (3.0.100-preview3-010431) with Microsoft.NETCore.App 3.0.0-preview3-27503-5

ViewComponent:
[code]
Call in Razorpage:
[code]

Generat

[2019-03-19 11:33] shapeh commented on #8036
Update: we still get the exceptions with AspNetCoreModule:

[code]

[2019-03-19 12:34] asterinex commented on #8619
I have upgraded the Windows 7 to Windows 10 (new install). Installed Visual Studio 2019 and .Net Core 3.0 SDK and it worked immediately.
I think the problem is related to Windows 7 ?

[2019-03-19 12:42] pmaheshgupta opened #8647 "navigation in blazor with urihelper after http call is navigating to same page with "?""
Hi all,

I am trying to navigate to another page in onclick event after a http service call, but i am unable to navigate, instead it is loading the same page with "?" appended at the end.

My onclick event is as follows

[code]

in the output I am getting

[code]

In the above code if i remove service call and assign a static value to isvalidpnr, I am able to navigate to the mentioned page.

pleas

[2019-03-19 12:59] yahorsi opened #8648 "Memory Leak in the Unmanaged Heap, Core 2.2.2, Windows, Azure AppService, Always On"
Hi Guys!

We, have ASP.NET Core 2.2.2 based app running on Azure with AppInsights enabled.
Periodically, after private bytes reaches aprox 2gb app fails and get's restarted, so we see that with time private bytes grows significantly. We made several memory dumps and initial investigation showed that managed heap size does not grow and stays about 200mb but UNmanaged one grows. Any advise on how to

[2019-03-19 13:18] maldworth commented on #5277
Yep, I definitely understand the desire for SQLServer is to use existing infrastructure. I have just found from an infrastructure point of view (who like windows and are familiar), the installers for RabbitMq (rabbitmq server + erlang for windows), is a really easy setup experience. Redis (from what I've found) isn't so easy to setup on windows. So I just wanted to highlight it's an option with sl

[2019-03-19 13:21] hifiguitarguy opened #8650 "AuthorizeAttribute ignores specified scheme"
MVC website using cookie authentication.  'Identity' is provided by external service so no in-app store.  Not using jwt bearer tokens of any sort.  My eventual goal is to use the cookie policy scheme along with a custom policy for a claim value, but currently I can't even get a simple [Authorize] attribute to work.

Controller is decorated with:
`[Authorize(AuthenticationSchemes = CookieAuthentica

[2019-03-19 13:23] karelkral commented on #6111
I have a similar problem. NetCoreApp 2.2 was deployed to IIS by WebDeploy and if set InProcess, application pool constantly crashes.  If I remove InProcess from a web.config, application works.

I have found that if I change target runtime in WebDeploy from win-x64 to Portable, InProcess started to work.

[2019-03-19 13:26] guyng commented on #8598
Any news? @blowdart  @Eilon

[2019-03-19 13:31] blowdart commented on #8650
This is odd

In the mean time you can simplify; if you only have cookies then

[code]

And you don't need to specify a scheme at all if you only have one authentication service, just use `[Authorize]`.

That you're seeing errors around bearer makes me wonder if you have an embedded identity server or api or something else that's wiring up the pieces they need

[2019-03-19 13:46] hifiguitarguy commented on #8650
I've added an update to initial posting.  I suppose I can't blame the attribute currently.  I seem to have some type of global auth filter being applied to non-Home routes.

[2019-03-19 14:05] blowdart commented on #8598
@javiercn is refresh not working? Or does it need to be done manually?

[2019-03-19 14:13] javiercn commented on #8598
@guyng thanks for contacting us.

Refresh happens automatically using a hidden iframe. That said there are many situations in which this can fail. As a general rule, you should account for 401 responses in your app and handle them appropriately.

@blowdart As far as I know we configure it correctly on the client.
https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/Web.Spa.Project

[2019-03-19 14:14] javiercn commented on #8598
For reference, you should always account for manual refresh in your app. Auto refresh is only an optimization. As tokens can be revoked at any time.

[2019-03-19 14:17] ulrichb commented on #6001
Please don't forget about the validation summary (inline `style`-element) mentioned in https://github.com/aspnet/AspNetCore/issues/4817#issuecomment-308058241.

[2019-03-19 14:20] hifiguitarguy commented on #8650
I am closing this due to my own error.  This particular project was referencing another assembly for its view models.  That's a bad practice, but a temporary measure until the models are split into a shared assembly.

In any case, this referenced assembly is a WebAPI project with a registered 'Clients' route, and I now realize ASP is just doing it's job of registering all Controllers, this one use

[2019-03-19 14:20] #8650 closed

[2019-03-19 14:34] guyng commented on #8598
@javiercn  Thanks for your reply.
As i'v asked above, can you post an example of handling authorization failure by manual token refresh?
I searched all over the internet for the past few days and i couldn't find a single clear guide, there is a serious lack of documentation regarding this issue.
In addition, because identity server startup configuration has changed(for the good), less boiler plate

[2019-03-19 14:51] javiercn commented on #8598
On your component, when you issue the http request you need to handle the 401 response by:
1. Import the authorize service
2. Call sign-in
3. Check the result.
    3.1. If its a successful result getAccessToken on authorizeService already will contain a refreshed accessToken. You can retry the request and the new access token should be used (or you might need to add it to the request manually, i'm

[2019-03-19 15:10] jessehallam opened #8651 "Adding Identity breaks Authentication using OAuth"
### Describe the bug

When `IServiceCollection.AddAuthentication().AddFacebook()` is used, the user is populated with Facebook details after a Challenge sequence. When `IServiceCollection.AddIdentity()` is put in the mix, this breaks OAuth completely.

### To Reproduce
Steps to reproduce the behavior:
1. ASP.NET Core 2.1 or greater
2. [Minimal example](https://github.com/jessehallam/aspnetcore-oau

[2019-03-19 15:11] Arash-Sabet opened #8652 "InvalidToken error message is generated when resetting password by .net core identity"
### Describe the bug
The following code snippet depicts the process of generating a token to reset a user's password:

[code]
The email sender routine sends the following encoded string message to the user's mailbox:

[code]
When the user clicks on the generated link, they're directed to a small online form to collect the new password and a POST action is submitted to the backend containing the co

[2019-03-19 15:13] anurse commented on #8346
I don't think using groups would scale any worse than a predicate system would. Groups are processed almost exactly like the predicate you mentioned. We iterate over clients and if they are in the requested group we send the message to them. So I wouldn't expect to scale any worse than if we implemented this predicate model.

[2019-03-19 15:16] Tratcher commented on #1838
Comments on closed issues are not tracked, please open a new issue with the details for your scenario. What versions are you using?

[2019-03-19 15:18] jessehallam commented on #8651
When Identity is in, a (Facebook) OAuth flow results in an `Identity.External` cookie being sent. Is there something specific that should be done to get the external user out of the cookie?

[2019-03-19 15:21] StefanoChiodino commented on #1838
Not really ergonomic to close issues arbitrarily, is it?

[2019-03-19 15:25] kierenj commented on #8346
Ah ok - I had figured sending a message for each filter field - eg shipment:byid:123, shipment:bydepot:345 and shipment:bycustomer:456 - would have more overhead than one “shipmentchanged” message with all fields contained within, in terms of (for example) pushing to the redis backplane?

[2019-03-19 15:49] EvilBeaver opened #8653 "Make HttpMethodActionConstraint public in Core 3.0"
### Is your feature request related to a problem? Please describe.
I'm making my own ApplicationModelProvider. Before Core 3.0 I used an HttpMethodActionConstraint in my ActionModels to filter out actions by http method.

In Core 3.0 HttpMethodActionConstraint was made an internal class. Why?

Example: 'm trying to do

[code]

### Describe the solution you'd like
I want to use an existing reusable

[2019-03-19 15:50] jkotalik commented on #8648
To confirm, are you running with or without IIS In-process? What process are you collecting memory dumps from?