[2019-12-13 09:22] Karluzo commented on #15266
@Grauenwolf  How to use  this to avoid flashing UI when using  `RenderMode.ServerPrerendered`?

[2019-12-13 09:25] Cammeritz commented on #8998
Yeah, we wasted two days finding out what the issue was while trying to fix the problem in 100 different ways. We multiple Applications that listen to those paths and now we had to change them all.

Also, this did not work for us:

Great move Microsoft 👏

[2019-12-13 10:00] SteveSandersonMS commented on #17766
I'm not completely certain which scenario you're referring to. If you mean something like this:

[code]

... then we do treat that as HTML. It's up to the browser whether it allows this combination of tags and attributes. Current browsers choose not to allow an attribute called `)`, hence the runtime error.

However if you mean this:

[code]

... then yes, that is a Blazor component. But this is *

[2019-12-13 10:23] #17735 closed

[2019-12-13 10:24] miggat commented on #8433
@FrancescoLorenzetti84 @SQL-MisterMagoo
Apparently the problem was in visual studio itself. Upgrading to 16.4 solved the problem for me.

[2019-12-13 10:26] javiercn commented on #17845
@xyz0822 thanks for contacting us.

This has been a convention since the inception of asp.net core. We do put some types in special namespaces to support discovery within your startup class without having to pollute Startup.cs with a separate namespace per used primitive.

That improves the main use case for these types which is within the app configuration in Startup.cs

/cc: @davidfowl in case h

[2019-12-13 10:27] #17845 closed

[2019-12-13 10:27] javiercn commented on #17844
@davidfowl is this external?

[2019-12-13 10:42] Blackleones opened #17849 "Blazor - Services called inside OnInitializedAsync are called twice"
I observed that services called inside OnInitializedAsync methods are called twice. Is this an expected behaviour?
I noticed that if I move my services from OnInitializedAsync to OnAfterRenderAsync then they will be called initially once.

Why I notice that:

I notice OnInitializedAsync's behaviour because my service calls a dbContext query and it throw exception "a second operation ...", but if I

[2019-12-13 10:55] javiercn commented on #17849
This behavior is by design. Read https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-3.1#stateful-reconnection-after-prerendering for details

[2019-12-13 10:56] #17849 closed

[2019-12-13 11:15] SteveSandersonMS commented on #17665
In order to render a component, you need to have a reference to the component instance you want to render. Your `staticMethod` doesn't have such a reference, so it has no way of saying which component it wants to render.

Instead of doing this, consider replacing it with an instance method on the component itself. The instance method can then simply call `StateHasChanged()` on itself to trigger re

[2019-12-13 11:34] poke opened #17850 "Generating an absolute URL while ignoring all ambient values"
Is there a simple way to generate an URL to the current Razor page, while ignoring all ambient values?

Let’s assume I’m on a Razor page `Foo` that has an optional route parameter `id`, `@page {id?}`. So my current URL is `http://localhost:5000/Foo/Bar`. Now I want to generate a link to that same Razor page but without the `id`. The desired result would be `http://localhost:5000/Foo`.

All my atte

[2019-12-13 11:49] javiercn commented on #17850
@poke thanks for contacting us.

@rynowak can correct me if I'm wrong, but I believe that if you don't pass in the HttpContext instance to the link generator it will generate a link without using the ambient values.

[2019-12-13 11:58] SteveSandersonMS opened #17851 "Multiple <component> tag helpers in same element interfere with each other"
It seems that when you use multiple `<component />` tag helpers side-by-side, e.g.,:

[code]

... then they can disrupt each others' rendering and lead to corrupted UI updates. See the repro at https://github.com/aspnet/AspNetCore/issues/17570

My guess is that our JS-side code that converts the `` comments into a `LogicalElement` isn't setting it up correctly, and perhaps has the logical elements

[2019-12-13 11:59] SteveSandersonMS commented on #17570
Thanks very much @ctolkien for reporting this and for providing a clear repro.

It definitely looks like a bug. I've filed a report with more info (reflecting this initial investigation) at https://github.com/aspnet/AspNetCore/issues/17851, so for housekeeping purposes I'm going to close this issue as a duplicate of that one. We'll look into finding a fix for it.

In the meantime, I'd recommend us

[2019-12-13 11:59] #17570 closed

[2019-12-13 12:02] Inurias commented on #5333
I was thinking about storing the `HubCallerContext` and using it outside a hub, but I was not sure if it was safe (ie. `HubCallerContext` instance might be different every call). I will gladly try it and report back once we are testing our SignalR code. Thank you for the quick help!

[2019-12-13 12:08] poke commented on #17850
When going through `UrlHelper`, e.g. with the following:

[code]

Then this will still use the HttpContext from the current action context:

https://github.com/aspnet/AspNetCore/blob/4c3996f8241df09ad811008111440e8c6cf20c9d/src/Mvc/Mvc.Core/src/UrlHelperExtensions.cs#L623

But yes, you’re right, when using `LinkGenerator` directly, you can skip that apparently:

[code]

Not sure if that’s really a

[2019-12-13 12:11] javiercn commented on #17850
@poke I see.

I'm going to close the issue for now as the question has been answered. I'll let @rynowak comment on the fragment below if he has any further thoughts and we can potentially open a separate issue if necessary to track any remaining work.

[2019-12-13 12:11] #17850 closed

[2019-12-13 12:13] poke commented on #17850
That works for me. Thanks for the quick response! :blush:

[2019-12-13 12:33] javiercn commented on #17830
@mkrtich-m thanks for contacting us.

Yes, this is an intentional breaking change in 3.0. The migration guide is correct in this case.

@JamesNK do we have an announcement in the [Announcements](https://github.com/aspnet/announcements) repo for this?

The cors middleware will no-op unless you have configured a CORS policy explicitly, either globally or on a per-endpoint basis, so it should be safe

[2019-12-13 12:33] #17830 closed

[2019-12-13 13:05] songgolmae opened #17853 "RuntimeCompilation does not work in Razor Class Library."
[code]

## Startup.cs
[code]

RuntimeCompilation does not work in Razor Class Library.
How can I use it?

[2019-12-13 13:06] javiercn commented on #17535
This behavior is currently by design, as we don't stop and re-start the server when the app is re-built in order to provide a faster inner loop.

You can opt-out of this behavior by setting the following  property explicitly in your project.
[code]

As per improvements to this scenario, I'm going to close this issue as there's a separate issue tracking the broader scenario https://github.com/aspne

[2019-12-13 13:06] #17535 closed

[2019-12-13 13:07] javiercn commented on #5512
Whatever we decide here we should include https://github.com/aspnet/AspNetCore/issues/17535 as part of that

[2019-12-13 13:32] tresoldigiorgio commented on #6104
I have the same problem. Any updates? the list of connection ids in cache is extremely dangerous in case of concurrency.

[2019-12-13 13:39] JasonBock opened #17854 "Provide an analyzer for Configure() in Startup"
### Is your feature request related to a problem? Please describe.
It's related to an issue with the `Configure()` method in `Startup`.

### Describe the solution you'd like
Recently a developer on a project I'm on created a `Configure()` method like this:
[code]
This will compile just fine, but when you run it, you get this exception:

Now, there are ways to get around this (https://andrewlock.ne

[2019-12-13 13:46] javiercn commented on #17847
@Ellaiyaraja thanks for contacting us.

The behavior you are observing is by design. If you use [FromRoute] it implies that the values for binding to that type come from the route hence they need to be part of the route template.

It doesn't make sense to have [FromRoute] without having a matching template for it.

Hope that helps.

I'm closing this issue as the question has been asnwered.

[2019-12-13 13:46] #17847 closed

[2019-12-13 13:50] #17670 closed

[2019-12-13 14:15] Aaronmsv opened #17855 "Multiple external authentication providers of the same type conflict"
### Describe the bug

We have a use case where we want to have multiple external authentication providers of the same type, but with different configuration. For example two Microsoft, Google or SAML authentication providers.

Assume we configured Google two times, with different client ids, client secrets and authentication scheme names. The first scheme works perfectly, but when you try to use t

[2019-12-13 14:33] KamranShahid commented on #17814
Two changes i have done after which request is been at-least entertained now.
**<ServerGarbageCollection>false</ServerGarbageCollection>**

And socket related tweaks on my ubuntu 18 (AWS 2) server http://www.tweaked.io/guide/kernel/

Last problem i am facing is related to redis error (I am using StackExchange.Redis) on my server when there is a load. no problem on windows server with same code

[2019-12-13 14:33] NCSharp commented on #17662
![dlls](https://user-images.githubusercontent.com/51847985/70807401-2897f980-1dc6-11ea-997f-af5e1bae058d.PNG)

This is what I got in modules tab when the error happens..

[2019-12-13 14:39] Mika-net commented on #17205
@Vasilisdm are you still working on this? I'm looking for an issue to pick up.

[2019-12-13 14:46] Vasilisdm commented on #17205
@Mika-net feel free to grab it!
I have not addressed it due to some unexpected issues i had not the time.

[2019-12-13 14:48] Mika-net commented on #17205
@Vasilisdm Thanks! Hope you are alright brother.

[2019-12-13 15:00] Kahbazi commented on #17855
You should set different Callback path for each Google authentication scheme.

[2019-12-13 15:26] Grauenwolf commented on #15266
I haven't figured that out yet.

Jonathan Allen
619-933-8527
Scholars of Alcala
scholarsofalcala.org

________________________________
From: Karluzo <notifications@github.com>
Sent: Friday, December 13, 2019 1:22:17 AM
To: aspnet/AspNetCore <AspNetCore@noreply.github.com>
Cc: Jonathan Allen <grauenwolf@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/AspNetCore] Blazor: OnInit

[2019-12-13 15:28] bbarry opened #17856 "ModelState.AddModelError problemdetails resulting object doesn't match that of model validation"
Given a fairly simple mvc action such as:

[code]

Submitting a post to the action which would trigger a model validation error, such as posting:

[code]

presents a ProblemDetails response:

[code]

But any validations which do not flow through the built in validation framework are unable to utilize the logic for naming the error properties.  They instead result in:

[code]

[2019-12-13 15:34] nur858 commented on #17843
We tried downgrading to 2.2 and the disk write came down to 0 bytes. And yes we are using Newtonsoft.Json. we used newtonsoft.json with both 2.2 and 3.0

Does this mean that using newtonsoft + 3.0 is likely to result in high disk write volume?

[2019-12-13 15:46] Tratcher commented on #17677
Fiddler does have an option to decrypt https.

For UseConnectionLogging you'll need to turn the log level up to Trace.

[2019-12-13 16:12] chniter opened #17857 "Retrieve traceId"
### Is your feature request related to a problem? Please describe.

I am trying to retrieve the **traceId** from server side that is attached on every HttpRequest.
The Json response look like this:

{"type":"https://tools.ietf.org/html/rfc7235#section-3.1",
"title":"Unauthorized",
"status":401,
"**traceId**":"|a08ab0a-4722acd640681cf6.1.1dfb8ec2_"}

### Describe the solution you'd like
We can retr

[2019-12-13 16:19] davidfowl commented on #17857
This is the API: https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.activity.id?view=netcore-3.1#System_Diagnostics_Activity_Id

There are a couple of reasons:
- `HttpContext.TraceIdentifier` existed long before Activity did
- The server id and Activity.Id can be different, for example flowing the Id from IIS or http.sys into the application code.
- Activity is general purpose and not

[2019-12-13 16:40] jeremyVignelles opened #21590 "[Localization 3.1] Failed to resolve string if RootNamespace is different from AssemblyName"
On .NET core 3.1, if the RootNamespace is different from the AssemblyName, the resources fails to resolve.
Related to : https://github.com/aspnet/AspNetCore/issues/10639

Discussion continued from : dotnet/extensions#2081

@hishamco asked me to file a new bug report, so here it is:

[2019-12-13 16:52] mkArtakMSFT commented on #17853
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-12-13 16:55] thomaslevesque opened #17858 "Implementing filters directly on a controller works only for some filters"
Not sure if it's a bug, it might be as designed. But in the latter case, it's a weird design, and I haven't seen it documented anywhere...

### Describe the bug
In some situations, I need a filter that is only applicable to a specific controller. In this case, making it as a standalone filter doesn't really make sense, so I implement the filter directly on the controller, as explained in [this art

[2019-12-13 17:08] Tratcher commented on #17855
@Kahbazi is correct.

[2019-12-13 17:13] mkArtakMSFT commented on #17839
Thanks for contacting us.
Unfortunately Identity scaffolder doesn't work well with Blazor projects yet. We plan to handle this as part of 5.0 release.

[2019-12-13 17:15] mkArtakMSFT commented on #17725
@SoulSeekkor did you get that the app working without auth?

[2019-12-13 17:15] anurse commented on #17677
Yeah, sorry I wasn't clear there, you can [configure Fiddler to decrypt HTTPS](https://docs.telerik.com/fiddler/Configure-Fiddler/Tasks/DecryptHTTPS).

Can you try using that or the connection logging (with the log level turned up to Trace as @Tratcher indicated)?

[2019-12-13 17:20] mkArtakMSFT commented on #17856
Thanks for contacting us.
This is not an issue we've heard much about so we're going to park it in our backlog to accumulate more feedback about. We will review it during our next release planning and act accordingly.

[2019-12-13 17:20] anurse commented on #5333
It *should be safe*. I do want to clarify that it's a bit of an unsupported path. I don't expect we'd break it (and certainly not until we have a first-class way to disconnect a specific client) but I would definitely put some comments in there referencing this issue and plan to switch to the actual feature once we get one in ;). It may be that we just make this a fully-supported thing (capturing

[2019-12-13 17:25] anurse commented on #17613
Can you tell us more about your hosting environment?

* What OS are you on?
* What server are you using (IIS/Kestrel/HttpSysServer)?
* Do you have any proxies in between the client and the server (Nginx/Apache/HAproxy/etc.)?

Also, can you capture a network trace? We have [documentation on how to do this](https://docs.microsoft.com/en-us/aspnet/core/signalr/diagnostics?view=aspnetcore-3.1#network-

[2019-12-13 17:53] pranavkm commented on #17858
Controllers specifically supports action filters, which would explain  why exception filters do not work. You could however annotate the controller with a filter attribute:

[code]

[2019-12-13 17:57] thomaslevesque commented on #17858
@pranavkm thanks.

Is this documented somewhere?

Yes, that's what I did

[2019-12-13 17:59] aaronhudon-ts commented on #13025
I'd also like to chime in here.  Forgive me if I'm incorrect, but monitoring the websocket messages received, it appears that a large amount of white-space is included in the message payload.  I don't know if IIS optimizes this out or not, but I thought I'd ask for clarification.
![image](https://user-images.githubusercontent.com/49655238/70821142-3c743900-1d8f-11ea-932e-dee54b4a78e3.png)

[2019-12-13 18:19] Tratcher opened #17861 "Kestrel HTTP/2 should send a 431 status for headers too long"
Today Kestrel will close an HTTP/2 connection if it receives headers over the specified total size limit MaxRequestHeadersTotalSize (32kb default).

[code]

The HTTP/2 RFC recommends sending a 431 response instead. That would be consistent with our HTTP/1.1 code path, and it would avoid failing all of the other active requests on a connection.

https://tools.ietf.org/html/rfc7540#section-10.5.1

[2019-12-13 18:23] dougbu commented on #4259
Also compare implementation and ref/ assemblies to be sure we don't mess anything up in our *.Manual.cs files.

[2019-12-13 18:28] dougbu commented on #12029
Reassigning because you're already working on something very much like this @mkArtakMSFT

[2019-12-13 18:32] dougbu commented on #16817
Close once merge into 'release/3.1' is done

[2019-12-13 18:36] dougbu commented on #11169
This is no longer a thing because we're not using PatchConfig.xml except in 'release/2.1' anymore. Changing that branch for this does not seem worthwhile.

[2019-12-13 18:36] #11169 closed

[2019-12-13 18:37] pranavkm commented on #17858
The way we expect users to use it is by overriding methods on `Controller` which is documented to an extent-
 https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controller.onactionexecutionasync?view=aspnetcore-3.1#Microsoft_AspNetCore_Mvc_Controller_OnActionExecutionAsync_Microsoft_AspNetCore_Mvc_Filters_ActionExecutingContext_Microsoft_AspNetCore_Mvc_Filters_ActionExecutionDele

[2019-12-13 18:42] Svek opened #17862 "HTTP Error 500.30 - ANCM In-Process Start Failure"
I am getting a really confusing error that I can't seem to resolve.  When running with the latest and running with `InProcess`

	<PropertyGroup>
	  <TargetFramework>netcoreapp3.1</TargetFramework>
	  <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>
	</PropertyGroup>

It seems like when you try to run the following,

	public class Program
	{
		public static void Main(string[] args)
		{

[2019-12-13 18:55] eliaslopezgt opened #17864 "Skipped un-escaping when url contains escaped `/`"
### Describe the bug
Skipping unescaping of %2F causes the need to do additional decoding of parameters in controller.

### To Reproduce
invoke any endpoint with an escaped parameter including an escaped `/` will result in incomplete decoding of parameter.

for example:
`curl -X GET "https://localhost:5001/test%20space%2Fslash"`
in the controller will be decoded as:

[code]

The code responsible f

[2019-12-13 18:55] erikmf12 commented on #16686
@Daniel15 - I know this doesn't solve your problem, but it might help to use partial classes for your hub class. You could have your constructor in a MyHub.Constructor.cs and all other methods in a different MyHub.ClientMethods.cs.

[2019-12-13 19:00] #17659 closed

[2019-12-13 19:00] #17646 closed

[2019-12-13 19:01] CeciAc opened #17865 "There is no -v switch"
@doggy8088 commented on [Thu Dec 12 2019](https://github.com/aspnet/AspNetCore.Docs.zh-tw/issues/132)

There is no `-v` switch in `Microsoft.dotnet-openapi 3.1.0`.

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 653e14ef-227e-a165-0360-2f59259e16c6
* Version Independent ID: e4685d05-e874-76a3-9780-66b864eca6c1
* Content: [使用 OpenAPI 開發 ASP.NET Core 應用程式](https://docs

[2019-12-13 19:05] TheXenocide opened #17866 "Blazor Server: Provide APIs/extensibility for circuit eviction"
### Is your feature request related to a problem? Please describe.
Idle users may be able to tie up significant system resources while not actually utilizing the application.

### Describe the solution you'd like
Ideally we should be able to disconnect idle circuits, preferably with the opportunity to provide logic which can help identify/prioritize when and which connections can be safely but for

[2019-12-13 19:13] thomaslevesque commented on #17858
Yes, but if you use the `ControllerBase` class, there's no such method to override...

Anyway, since it's not a bug, I'll close this issue.

[2019-12-13 19:13] #17858 closed

[2019-12-13 19:15] ryanbrandenburg opened #17867 "Razor VSCode tooling: Go to Definition on Injected property throws an exception"
Repro:
1. Create an injected property in a .razor file.
1. Use the property later on in the file.
1. Go to Definition on the use of the property.
1. You'll get an error about failing to open a `__virtual` file.

CC @NTaylorMullen who found this.

[2019-12-13 19:19] pranavkm commented on #17837
MVC does not determine what model binding sources to use based on the parameters. By defaullt, Form, Query, and Route and read by default. Using the filter in the doc article that was previously provided is the way to change this behavior.

[2019-12-13 19:32] ajaybhargavb commented on #17867
Taking this

[2019-12-13 19:39] jkotalik commented on #17662
As I stated, I'm specifically looking for the vesrsions of Microsoft.AspNetCore.Server.IIS and aspnetcorev2_inprocess.dll. Are those modules/dlls loaded?

[2019-12-13 19:43] anurse commented on #17706
Good context, thanks for that! We'll look at it.

[2019-12-13 19:43] NCSharp commented on #17662
No, except for the modules from the printscreen there is only one other dll loaded, the specific project one, but that should not affect this.

[2019-12-13 20:00] joetherod commented on #17625
Created a test project and wasnt able to reproduce it. So, it is some odd behavior based on the full code base. Just odd how it worked fine in 3.0 and not 3.1.
Either way, I found a work around to ensure ViewStart is processed as needed.

[2019-12-13 20:00] #17625 closed

[2019-12-13 20:33] SidShetye commented on #17844
@davidfowl we noticed this with our ASP.NET app that we upgraded from `net461` -> `netcoreapp3.1`. We also moved from Cloud Services -> App Service for Linux, so lots of moving parts.

What we found in that `logging.AddConsole();` there is no app logging whatsoever. Nothing in /home/LogFiles or the portal streaming blade or `az` tail log commands. Having `AddAzureWebAppDiagnostics()` or not having

[2019-12-13 20:50] rynowak commented on #17856
This happens because the errors in model state produced by validation reflect the **shape of the input**. Your invalid JSON input looked like: `{... "bar": "invalid", ... }`.

This is annoying, but there's no solution to it.

[2019-12-13 20:51] rynowak commented on #17864
@Tratcher

[2019-12-13 20:58] rynowak commented on #17843
You can configure this behavior.

[code]

There's a tradeoff here.

In 2.2 and earlier the newtonsoft.json serializer would do synchronous writes to the output stream. For large payloads this could lead to thread starvation, and otherwise bad throughput performance.

In 3.0 and newer by default the newtonsoft.json serializer will buffer into memory (up to 32kb) and then to disk if the payload is l

[2019-12-13 20:58] Tratcher commented on #17864
Yes, this is the intended behavior. Un-escaping %2F would incorrectly change your routing results. %2F can only be safely un-escaped after routing (e.g. during model binding?).

[2019-12-13 21:00] #16807 closed

[2019-12-13 21:00] Patrick-Ullrich commented on #5204
Can confirm, having this issue with:
DotNetCore v3.1.100
Visual Studio 2019 v.16.4.0

`                if (env.EnvironmentName == "Development")
                {
                    spa.UseReactDevelopmentServer(npmScript: "start");
                }
`

[2019-12-13 21:01] Tratcher commented on #17843
Disabling SuppressOutputFormatterBuffering will also require enabling AllowSynchronousIO on the server. https://github.com/aspnet/Announcements/issues/342

[2019-12-13 21:04] rynowak commented on #17868
@eavonius - you can use `TypeFilterAttribute` or `ServiceFilterAttribute` for this. Choose between these depending on whether your filter itself is registered in DI (service filter) or just wants to access DI (type filter)

- https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.servicefilterattribute?view=aspnetcore-3.1
- https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers

[2019-12-13 21:06] #17864 closed

[2019-12-13 21:07] rynowak commented on #17837
It's also possibly a bug that we **don't** have this behavior when you have no parameters. I'm not motivated to change it because no one has asked for it to change, and it would make performance worse.

[2019-12-13 21:08] SidShetye commented on #14547
@davidfowl To be honest, the application does bootup and we see it working fine under full load test. But we're also seeing some automatic restart every a 4-6 hours, under 0% load. This kills our <200 ms response time SLAs as cold restarts are clocking in at 45 seconds (haven't looked into ready2run optimizations yet).

Back to attribution, logging shows only the following smoking guns:

1. App la

[2019-12-13 21:11] rynowak commented on #17858
A few details for anyone curious....

These methods are present on `Controller` but not `ControllerBase` on purpose. There is overhead in the framework simply because these methods exist, we have to call them and allocate extra objects. For this reason we put them on `Controller` for compat, and elided them from` ControllerBase`.

We support action/result filters because they are the most commonly

[2019-12-13 21:16] rynowak commented on #17809
@XomegaNet  - can you check if your RCL project has `@using Microsoft.AspNetCore.Components.Web`?

[2019-12-13 21:17] rynowak commented on #17832
It would be really great if this could be the same extension.

[2019-12-13 21:19] cpboyd commented on #17607
Just to add, I'm having crazy delays with the proxy too...

Especially with a bigger app that I've just converted from AngularJS to Angular 9.

Often the .NET proxy server will just throw a timeout, while I can instantly access the Angular server by just visiting the port that it was launched on.

[2019-12-13 21:22] rynowak commented on #17850
@poke  - sorry there's nothing simple in link generation 🤣

You can do this by explicitly specifying null/empty-string for your `id` value. `Url.Page(new { id = "" })`. We always look at the explicit values first, and specifying null/empty is the way to *delete* a value.

I'd suggest adding `@inject LinkGenerator Link` to your top-level `_ViewImports.cshtml`. Now you have it everywhere.

We'll lik

[2019-12-13 21:23] cpboyd commented on #17607
I just noticed that my `vendor.js` is 8.3MB in development.

Is there perhaps some issue with the proxy limiting transfers?

I know that Kestrel on Linux had some limitation in place.

[2019-12-13 21:26] rynowak commented on #17851
@SteveSandersonMS is this something we should look into patching?

[2019-12-13 21:27] nur858 commented on #17843
Thanks for the response.

is 32kb configurable? any downside in increasing it? response from my service is less than 2MB.

We were talking about switching to `System.Text.Json`. it requires quite a bit of work but we will get to the new json api.

[2019-12-13 21:33] rynowak commented on #17843
It's not configurable today - however if we made it configurable it would be a serious [footgun](https://en.wiktionary.org/wiki/footgun). 85kb is the threshold for an object entering the large object heap. If serving a request potentially puts objects in LOH that would be horrid for your app's performance. Since you're talking about 2mb that's well over the critical threshold.

You're probably her

[2019-12-13 21:34] rynowak commented on #17843
If you *really* wanted to get fancy, you could write an action filter that set `ObjectResult.Formatters` to include just the S.T.J formatter, and then you could progressively migrate that way.

[2019-12-13 21:37] ajaybhargavb commented on #14331
One of the blockers for this was a bug on vscode https://github.com/microsoft/vscode/issues/86901 which will be fixed in the next release. I'm still investigating if there is any other work that needs to be done here.

[2019-12-13 21:43] ladeak commented on #14836
I am facing the very same issue. When I tried to trick and preload the state in the Blazor app during startup, it ran into a deadlock because of an http request awaited. Otherwise first render will render the 'Loading' which causes a huge flash.

I do believe we try to find a workaround on a workaround: the original problem I tried to solve is to become search engine friendly so bing and google ca

[2019-12-13 21:45] rynowak commented on #17798
`.npmproj` isn't a standard/supported thing, it's something we made. If I had a guess it's our static assets support that requires `GetTargetPath`

[2019-12-13 21:47] XomegaNet commented on #17809
@rynowak I've added this import to my project, and that seem to have fixed the issue, so I'll go ahead and close it. Thanks for your advice, this was not at all obvious. Perhaps it is also worth mentioning this in the RCL documentation for Blazor.

[2019-12-13 21:47] #17809 closed

[2019-12-13 21:49] rynowak commented on #17809
@XomegaNet this is part of the template https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/_Imports.razor

but I think you're right. This kind of info (or any info about components) is not easy to find from the RCL doc. I'll log an issue.

[2019-12-13 21:54] rynowak commented on #8873
I'm super happy now.

[2019-12-13 21:57] rynowak commented on #17389
Looks like a dupe of https://github.com/aspnet/AspNetCore/issues/17391

[2019-12-13 21:58] XomegaNet commented on #17809
@rynowak I actually used that template for creating a new RCL project, but I checked the 'Support pages and views' checkbox in the configuration wizard, and it generated a project without the _Imports.razor. You may want to log it as another issue then.

[2019-12-13 21:58] rynowak commented on #17742
We're looking at making some improvements to how this works in 5.0 as part of the Roslyn source generators work.

[2019-12-13 21:58] rynowak commented on #17809
Ah! that's surprising. Ok I'll follow up, thanks for the extra info.

[2019-12-13 21:59] bbarry commented on #17856
As far as I can tell it is a difference in the generation of the model state dictionary key in validation vs the `AddModelError` extension method that accepts a lambda expression. The validation logic utilizes the shape of the input and the extension method simply serializes the expression tree.

I'm not really sure what the solution is, but I believe I can clearly articulate the problem:

As an a

[2019-12-13 22:00] #17811 closed

[2019-12-13 22:01] rynowak opened #17870 "RCL template either supports MVC OR supports Components"
Related to feedback here: https://github.com/aspnet/AspNetCore/issues/17809

The RCL template includes either:
- The boilerplate for Components (SupportPagesAndViews == false)
- The boilerplate for MVC (SupportPagesAndViews == true)

https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/Web.ProjectTemplates/content/RazorClassLibrary-CSharp/.template.config/template.json#L24

It's n

[2019-12-13 22:01] rynowak commented on #17870
/cc @danroth27

[2019-12-13 22:02] rynowak commented on #17856
I agree, we do not have this.

[2019-12-13 22:07] RMIN3452 commented on #17250
i have the same problem and fix it by add   PropertyNamingPolicy = JsonNamingPolicy.CamelCase setting:

JsonSerializer.Deserialize <JwtToken>(response.Content,new JsonSerializerOptions
                {
                    PropertyNamingPolicy = JsonNamingPolicy.CamelCase
                });

[2019-12-13 22:56] mkArtakMSFT commented on #17865
Thanks for contacting us.
This is a mistake in the docs and we're fixing it as part of https://github.com/aspnet/AspNetCore/issues/17826 issue.

[2019-12-13 22:56] #17865 closed

[2019-12-13 22:59] poke commented on #17850
Great 😅

Yeah, I know but then I need to know exactly what ambient value I need to overwrite. I was looking for a generic way to do this… for reasons (I'm working on an alternative Blazor router… don't ask 🙈)

That's good. The UrlHelper does feel a bit old at times.

[2019-12-13 23:03] anurse commented on #14547
@SidShetye Perhaps the best thing for you to do here would be to engage Azure Support to dig deeper in to what's going on in your specific scenario. It sounds like you're hitting the same issue, but along with some other things (since this issue should not be blocking startup of the app nor causing swap usage limits to be exceeded).

[2019-12-13 23:04] thomaslevesque commented on #17858
@rynowak thanks for the explanations!

[2019-12-13 23:09] rynowak commented on #17843
@nur858 - for us to look into this, is there any reason in particular where you're trying to avoid disk writes? Is there something else about your scenario/environment where disk ends up as a scarce resource? Trying to find info so we can investigate effectively.

[2019-12-13 23:13] chrdlx commented on #17724
@NTaylorMullen I tried to contact you at twitter but there's no answer, I prefer to just send you a .zip file if possible!

[2019-12-13 23:18] NTaylorMullen commented on #17724
Just responded, looks like Twitter was bad and didn't notify me of your tweet 😄

[2019-12-13 23:38] SidShetye commented on #14547
@anurse We already have an open Azure support ticket for the 3rd item.

Of course, an ApplicationInsight release that resolving these errors/warnings would be great but till then we're running some tests over the weekend to have some data supporting/rejecting the idea that these are all related stability issues.

[2019-12-14 00:21] Tratcher commented on #17862
Can you share the rest of your project so we can see your dependency versions?

[2019-12-14 00:58] #14269 closed

[2019-12-14 01:49] SidShetye commented on #14547
Dropping Application Insights from the build does reduce one start up exception. But since one still emerges from `Microsoft.AspNetCore.Hosting.GenericWebHostBuilder.ExecuteHostingStartups` seems beyond Application Insights and looks a lot like https://github.com/aspnet/AspNetCore/issues/14547.

This is deploying to Azure App Service Windows + .NET Core 3.1 (lets ignore the linux containers issue

[2019-12-14 04:22] nur858 commented on #17843
I have a large fleet of containers running in the cloud serving a high traffic service. But large amount of disk writes saturated available IO bandwidth causing kernel panic.The service is a thin layer on top of cache and we were getting consistent response time with .net 2.2  but since we upgraded to 3.0, the response time got very spiky with certain percentage of timeouts.

Would it be possible

[2019-12-14 04:30] davidfowl commented on #17843
Thanks for that detail @nur858! We’re working on a workaround for you. There are a bunch but we’re looking for the one with the best tradeoffs.

The issues is that newtonsoft.json does blocking IO (which we disabled in 3.0) and we worked around This with disk buffering. The new JSON serializer is fully asynchronous and doesn’t have this problem but I assume you changed back to newtonsoft because o

[2019-12-14 05:03] Svek commented on #17862
I think I have been able to narrow down the issue. I was trying to replicate the problem in a new project and it didn't seem to reoccur. After doing a bit more digging around with dependencies in my former project I found that there was a reference to another class library, that has a reference to `Microsoft.AspNetCore` (v2.2.0).

If you update the project file to my example previously provided to

[2019-12-14 05:06] Tratcher commented on #17862
That is certainly an issue. Remove all 2.x dependencies from your 3.x project.

[2019-12-14 05:22] Svek commented on #17862
Not to be overly opinionated on this -- but it seems a bit strange that there is no issues when running this with the `OutOfProcess` instead of using `InProcess`.

The debugging has been quite nightmarish to figure out the root cause.

[2019-12-14 05:32] nur858 commented on #17843
Thanks @davidfowl.  that's very good news. We ran into similar predicament before  with newtonsoft. But we chose to stick to it for couple of reasons:
1. It's popularity and familiarity among developers
2. Reluctance to try a brand new API
3. it was already being used by other services

Async serializer is clearly preferred choice but I am pretty sure there is appetite for using newtonsoft.json wi

[2019-12-14 05:48] Tratcher commented on #17862
You're supposed to remove the 2.2 dependencies for OutOfProcess too, it just happens to be a bigger problem when running InProcess.

[2019-12-14 05:57] Svek commented on #17862
Understood. I am just a bit frustrated with the migration path as it wasn't super intuitive where to locate the problem.

The class library that we are using has it's own `IWebHost` build process, which needs to create an instance of the [WebHost Class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.webhost?view=aspnetcore-3.1).

I cannot seem to find `Microsoft.AspNetCore.dll` a

[2019-12-14 06:01] #17862 closed

[2019-12-14 06:08] Grauenwolf commented on #8393
Updated work-around:

        window.scrollToElementId = (elementId) => {
            console.info('scrolling to element', elementId);
            var element = document.getElementById(elementId);
            if (!element) {
                console.warn('element was not found', elementId);
                return false;
            }
            element.scrollIntoView();
            return true;

[2019-12-14 08:11] Svek commented on #17862
The class library that I am using creates an instance of `WebHost` which is part of `Microsoft.AspNetCore.App.dll (3.1)`. I'm a bit stumped on where to get that package...

I also tried to get `Microsoft.AspNetCore.App.Ref` with no success either.

[2019-12-14 08:18] Svek commented on #17862
My current workaround was to change the class library `csproj`
from

    <Project Sdk="Microsoft.NET.Sdk">

to

    <Project Sdk="Microsoft.NET.Sdk.Web">

and then throwing in an empty main method `static void Main() { }` to keep the compiler happy.

It would be great to know how to fix this properly.

[2019-12-14 09:18] Svek commented on #17862
Well... It turns out the only package that worked is `Microsoft.AspNetCore.TestHost`

[2019-12-14 10:17] mrpmorris commented on #17849
I still don't in understand why this is done considering the services never leave the server

[2019-12-14 10:23] marcuslindblom commented on #17677
Here is a Trace from my container when the error occurs.
[trace.log](https://github.com/aspnet/AspNetCore/files/3963689/trace.log)

[2019-12-14 11:25] doggy8088 opened #17876 "TryUpdateModelAsync not working in ASP․NET Core 3.1"
### Describe the bug
The `TryUpdateModelAsync` not working as expected in ASP․NET Core 3.1.

### To Reproduce

1. Setup demo project

[code]

2. Send HTTP request to the demo action

[code]

The `TryUpdateModelAsync` should do the manual model binding under the hood. If I use `[FromBody]` in the parameter of the Action, it works. I'm trying to do the manual model binding in the action, but failed.

[2019-12-14 12:00] #17665 closed

[2019-12-14 13:35] OmidAtaei1362 opened #17877 "reset button updates appstate variable"
hi. with this appstate class
[code]
and Components (AddEntry)
[code]
and (ListEntries)

[code]
i click on Edit Button, change value on inputtext and then click on "Cancel" button on AddEntry Component, Related Entry on ListEntries Component updates but not inserted in DB. it must clear inputtext and doesn't change ListEntries Component

[2019-12-14 14:48] doggy8088 commented on #17876
It looks like ASP․NET Core missing a [JsonValueProviderFactory](https://docs.microsoft.com/en-us/dotnet/api/system.web.mvc.jsonvalueproviderfactory?view=aspnet-mvc-5.2) implementation.

[2019-12-14 15:04] doggy8088 commented on #17876
If I use the following cURL request, then it works fine. It use `application/x-www-form-urlencoded` content-type in the HTTP request.

[code]

[2019-12-14 15:08] Tratcher commented on #17862
https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#remove-obsolete-package-references
https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#framework-reference
https://devblogs.microsoft.com/aspnet/a-first-look-at-changes-coming-in-asp-net-core-3-0/
https://github.com/aspnet/Announcements/issues/32

[2019-12-14 15:12] Svek commented on #17862
Oh. That's perfect. The first link gave me the right answer.

    <ItemGroup>
      <FrameworkReference Include="Microsoft.AspNetCore.App" />
    </ItemGroup>

Thank you!

[2019-12-14 15:21] Tratcher commented on #17677
Ah, you're using a proxy but it's not properly configured. The proxy is terminating https so the back-end app thinks the requests are using http. That causes the app to A) generate incorrect directs to http, and B) fail to mark cookies as 'Secure'.
See this doc about setting up forwarders for [nginx](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3

[2019-12-14 15:50] naveedahmed1 opened #17878 "Only one thing if you could fix in 2020 - Deployment Experience"
### Describe the bug
Its not that difficult and painful to make changes in code to upgrade to a new version of .net core than to be able to successfully deploy it on server.

I don't remember any single version of .net/.net core in which I made changes to my code to upgrade, published project, uploaded contents to the server and it worked in first attempt.

1. In case of failed deployment, the err

[2019-12-14 16:00] #17814 closed

[2019-12-14 16:08] KamranShahid commented on #17814
Good to close but this is only done by hit and try of various solution which i have searched on google.  It could be nice if someone atleast give some light on the solution i have tried

[2019-12-14 16:21] pheuter commented on #14331
@ajaybhargavb Glad to hear that bug is getting squashed. There might be other work that needs to be done because even when the language is properly set it `aspnetcorerazor` instead of `Razor`, the syntax highlighting is still a bit off.

Take this razor component for example:
<img width="1126" alt="image" src="https://user-images.githubusercontent.com/92698/70851461-6c8d0c00-1e63-11ea-9ee8-9c28e26

[2019-12-14 18:02] markbeau commented on #14842
I'm experiencing precisely the same issue described above after migrating a project to 3.1.  VS v16.4.1.

[2019-12-14 18:28] kmuthukumar23 opened #17879 "Static assets configuration in netstandard2.1"
How to enable the static assets reference in .net standard 2.1 project file for blazor wasm project.

**Support for static assets in libraries when publishing
Standalone Blazor WebAssembly apps now support static assets from Razor class libraries both during development and when publishing. This applies to both standalone Blazor WebAssembly apps and ASP.NET Core hosted apps. Static assets are cons

[2019-12-14 21:15] merkancam opened #17884 "Asp.net core model binder gets objects as null"
Hello,

I am posting json data using angularJs and asp.net core gets it as null. Because i have an object that contains integer field. It is string on js side. When i post it without parsing to int, Asp.net core gets it as null. I have to convert all my fields according to type in c# on client side. I was not having this issue while i was using mvc 5.  It was converting string to int or just the o

[2019-12-14 21:20] peterblazejewicz opened #17885 "Build yields warning CS0649: Field 'HttpApiTypes.HTTP_REQUEST_PROPERTY_ST REAM_ERROR.ErrorCode'"
### Describe the bug
This is build time related and I understand can be expected behaviour and trade-off.
After the #17645 changes (`Expose Http.Sys's Http/2 Reset error code API`) the build of the project yields a warning now:

    1 Warning(s)
    0 Error(s)
[code]

### Further technical details

 .NET Core Runtime version 5.0.0-alpha.1.19562.8

[2019-12-14 21:30] partyelite opened #17886 "Blazor Binary message size send from server to client increases"
### Describe the bug
Let's say we have a list of items. When clicking on a item we want to display a content for that item. We setup an unordered list and when adding an item to list we create a div element that holds an item content but it's visibility is hidden until a user click on a list item. Clicking on another list item causes a current div to hide itself (not remove from DOM but set displa

[2019-12-14 21:42] marcuslindblom commented on #17677
Ok. Does this has to do with any recent upgrade because I have used this configuration for the past six months running in AWS without any problems. Also why is this only happening in chrome on my mac?

[2019-12-14 22:00] #17837 closed

[2019-12-14 22:00] #17868 closed

[2019-12-14 22:00] #17389 closed

[2019-12-14 22:04] Tratcher commented on #17677
We've been dealing with issues related to SameSite cookies for the last several releases. It's particularly bad on Mac and iOS, and Chrome is now making it worse. There are a lot of moving parts here, but I suspect if you get your Secure attribute fixed that should take care of it.

Background:
https://github.com/aspnet/Announcements/issues/318
https://github.com/aspnet/Announcements/issues/348
ht

[2019-12-14 22:33] ajaybhargavb commented on #14331
@pheuter, what you are referring to is already being worked on. Tracked here https://github.com/aspnet/AspNetCore/issues/14287.

[2019-12-14 23:00] urmilshah opened #17888 "Object reference not set to an instance of an object. at Microsoft.AspNetCore.DataProtection.RegistryPolicyResolver.<>c.<.ctor>b__2_0()"
Should handle null check gracefully and provide meaningful action when run into this scenario.

'System.RA' reported Warning for property 'ReplicaOpenStatus'.
Replica had multiple failures during open on Node.1. API call: IStatelessServiceInstance.Open(); Error = System.NullReferenceException (-2147467261)
Object reference not set to an instance of an object.
   at Microsoft.AspNetCore.DataProtect

[2019-12-15 01:50] monterolebronhg commented on #17886
The size is increasing because each time the items are rendered, a new delegate is being created to call the method SetActiveItem.

In your case, when you add 10  more items, the delegate in the onclick event is being created for all the items again.

[2019-12-15 01:52] agrinei opened #17890 "AspNet Core 3.1 Razor compilation extremely slow (dozen of minutes) for a view with big static html table"
I've updated an asp.net core 2.2 mvc website to core 3.1 and found razor compilation extremely slow. I'm talking dozen of minutes! After a couple of hours I've found the problem: I had a 5Mb razor view with a big static html table containing 9300 rows. I know this may not be a common scenario but the performance degradation - comparing to netcore 2.2 - is not acceptable and certainly deserves impr

[2019-12-15 01:57] monterolebronhg commented on #17886
This solution works for me:

[code]

[2019-12-15 04:57] AbhiOnGithub commented on #17769
Thanks @blowdart for he info.

[2019-12-15 05:17] werddomain commented on #17862
i have the same problem. But in my case the error has happen just after updating visual studio. I dod not change anything to the references.

[2019-12-15 05:57] davidfowl commented on #17843
@nur858 Do you have an idea of how big your response sizes are? I'm trying to decide if you're better off with a solution that just bumps up the buffer size.

[2019-12-15 07:31] nur858 commented on #17843
@davidfowl yeah. largest response is ~2MB

[2019-12-15 08:49] rocfatcat opened #17891 "System.Text.Json.Serialization.JsonIgnoreAttribute not working in asp.net Core 3.1 partial ModelMetadataType class"
### Describe the bug

The `System.Text.Json.Serialization.JsonIgnoreAttribute` not working as expected in partial class's
`ModeMetaDataType` class at ASP․NET Core 3.1.

### To Reproduce

1. Setup demo project

[code]

2. Send HTTP GET request to the demo action

[code]

It return 500 status code and web application throw follow log message.

I expected api will return department data without instr

[2019-12-15 08:58] marcuslindblom commented on #17677
@Tratcher Ok I see. It does not seem to be easy to find the correct configuration and I can not make it work when I use exakt the configuration in the documentation. Maybe you could look at the config I ended up with.

My nginx configuration is located in `/etc/nginx/conf.d/default.conf` and the content is looks like this.

[code]

This is how my `ConfigureServices` looks like for the API.
[code]

[2019-12-15 09:59] jspuij commented on #17886
This is because the compiler generates an inner class, that is instantiated at the start of the foreach loop (the nearest scope)  to capture the variables for the lambda:

[code]
Blazor need to keep references to which methods should be called on callback from JS. In this case this will be the `<BuildRenderTree>b__0()` method on an instance of `<>c__DisplayClass0_0` that is recreated at each rende

[2019-12-15 10:13] jspuij commented on #17886
And this is the code in IL where a new instance is created inside the loop and subsequently the <>4__this field and item field are set on the instance:
[code]

[2019-12-15 11:47] pandiyarajm93 opened #17893 "System.Net.Http.HttpRequestException: Response status code does not indicate success: 500 (Internal Server Error)."
### Describe the bug
When making PostJsonAsync<T> call from blazor client app to server-side app controller logic completely executed while return data to client getting following error

System.Net.Http.HttpRequestException: Response status code does not indicate success: 500 (Internal Server Error).

### To Reproduce
1. Create Blazor ASP Core Hosted application
2. Make PostAsync<T> request from *

[2019-12-15 13:17] pandiyarajm93 commented on #17893
I can return int value from server controller to client page. If I return getting following console error in my application

`
WASM: ﻿---------------------------------------------------------- Error Log -----------------------------------------
blazor.webassembly.js:1 WASM: System.Text.Json.JsonException: 'S' is an invalid start of a value. Path: $ | LineNumber: 0 | BytePositionInLine: 0. ---> Sys

[2019-12-15 14:07] liranms opened #17894 "Stack overflow crashes .NET Core simplest web app"
### Describe the bug
Stack overflow exception crashes the process, using visual studio 2019 default run mode. The output in the 'output' window shows "Access violation" giving no indication for the stack overflow.
In addition, when trying to catch this exception with tagging "System.StackOverflowException" in Visual Studio 2019's "Exception settings" it does NOT catch it (maybe this is an issue fo

[2019-12-15 14:21] namnik commented on #2612
hi dears;
we very very need to have " response caching" without authentication!
please implement this feature!

[2019-12-15 15:53] enetstudio opened #17895 "Can I create a middleware in Blazor Server App in order to have access to the users claims ?"
I'm asking this question since I've read that the HttpContext is not available in server-side applications.

Thanks...

[2019-12-15 16:15] Tratcher commented on #17677
Check the troubleshooting section at the bottom.
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1#troubleshoot

UseForwardedHeaders is a strict about who it accepts forwarders from. See the KnownProxies option.

[2019-12-15 16:43] thdao commented on #14842
I've just have had a similar issue. In my case I had to manually update <TargetFramework> in

Properties > PublishProfiles > FolderProfile.pubxml

to the correct version. Now I can publish my project.

[2019-12-15 16:55] Mahdi-Mousawi opened #17897 "Asp.Net Core mvc error : rzc discover exited with code -2147450749."
### Describe the bug
When I build my asp.net core 3.1 MVC project I get this error:
`rzc discover exited with code -2147450749 in line 99`

and this is the code of line 99 in Microsoft.Net.Sdk.Razor.CodeGeneration.targets file :
[code]

I really need to fix this bug because when I run `Add-Migration` in package manager console I get the error : `Build Failed`

[2019-12-15 17:20] marcuslindblom commented on #17677
I just tried to print all headers with this setting on both my sites.

[code]

[code]
and this is the result:

**Web**
[code]
**API**
[code]
The IP of my nginx container using this command `docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' 76f9e098dcf2` is `192.168.112.6`.

But I still get the same error?

[2019-12-15 18:11] mathisloge opened #17898 "[Blazor] Add support for TimeSpan to BindConverter"
### Describe the bug
Before the update to version 3.1.0, I can use `<input type="time" @bind-value="@MyTimespan"/> `after the update, it fails with the error "cannot convert from 'System.TimeSpan' to 'System.DateTime' "

I dont quiet understand, why you have removed this type of usage.

### To Reproduce
https://blazorfiddle.com/s/uk47jfsz

### Further technical details
Functional:
v3.0.0
Not funct

[2019-12-15 19:58] JohnKiller opened #17899 "[Blazor] Saving circuit state"
Every tutorial I've read on the topic saved the user session, not the circuit.

For example, imagine having an application for creating quotes and adding them to a shopping cart.

While the cart is easy to solve since is tied to the browser (or user, if logged in) session, the quote instead may be tied to the circuit. A user may wish to create multiple quotes on different tabs, and you need to han

[2019-12-16 00:50] FirstcodGit commented on #17665
Thanks, I did as in the example;

**Razor**
var newObj = DotNetObjectReference.Create(this);
 jsRuntime.InvokeVoidAsync("Services.alerts", id, newObj);

[JSInvokable]
public async void ReRender(long id)
{
        var response = await Http.DeleteAsync($"https://localhost:44386/Member/{id}");
        //Console.WriteLine(response.StatusCode);
        StateHasChanged();
}
**Js**
newObj.invokeMethodAsy

[2019-12-16 02:18] dean-yang commented on #14835
Remove the "@page" directive in the Razor Page, then no more System.NullReferenceException.

[2019-12-16 02:40] cyraid opened #17900 ""stateChanged" missing from Typescript SignalR lifetime events?"
### Describe the bug
onreconnecting, onreconnected, onclose, and the event from start() are the only ones supported currently in the Typescript client, is this correct?

### To Reproduce
Attempt to use stateChanged ..

### Further technical details
SignalR for Typescript version 3.1.0.

[2019-12-16 05:07] majid23 commented on #6111
Change platform target to Any CPU.

![image](https://user-images.githubusercontent.com/17545658/70880739-52783880-1fdf-11ea-8c75-6148f51e63b1.png)

[2019-12-16 05:20] mattxo commented on #6111
Removing hostingModel="InProcess" in web.config did the job for me.

`<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutL

[2019-12-16 05:58] Tratcher commented on #17677
UseForwardedHeaders isn't running, it would have removed the x-forwarded-headers when it applied them. The app logs should say why.

[2019-12-16 07:30] gitlsl opened #17902 "can not read body stream, Request.Body.length =0"
### Describe the bug
A clear and concise description of what the bug is.
can not read body steam
### To Reproduce

[code]
I want to read http body as string.
but in my test, Request.Body.length  always is  0;so it get empty result
may be you can give a method  like ` Request.BodyAsString` ,it is a useful feature

### Further technical details
- ASP.NET Core version  3.1.0

[2019-12-16 08:19] hueidou opened #17903 "ASP.NET Core 3.0 deserialize datetime not like Newtonsoft.Json?"
### Describe the bug
When the model have a datetime property and json-value '2019-1-1', ASP.NET Core 3.0 deserialize it to null.

### To Reproduce

[code]

[code]

* By the code above, the model1 will be null.
* When I change `services.AddControllers()` to `services.AddControllers().AddNewtonsoftJson()`, the model1 is correct.
* `"createTime": "2019-01-01"` works well both two way.

[2019-12-16 08:25] Mah3 commented on #12412
Dears,

I just upgrade my project to core 3.1
and I face something related to this issue,

[code]

DataAnnotationsLocalization  dosn't work till I remove `options => { options.ResourcesPath = "Resources"; }`

[2019-12-16 08:29] khellang commented on #17903
That's just how the new serializer works; it only accepts valid ISO8601-formatted dates, i.e. `YYYY-MM-DD` where `YYYY` indicates a four-digit year, 0000 through 9999. `MM` indicates a two-digit month of the year, 01 through 12 and `DD` indicates a two-digit day of that month, 01 through 31.

What you're passing is not a valid ISO8601 date and needs a custom converter to work. Here's an example of

[2019-12-16 08:43] Dennis-Petrov commented on #9020
Since IIS doesn't support this, can netcore gRPC service be hosted behind Nginx?

[2019-12-16 08:44] kmuthukumar23 commented on #17879
Hi @pranavkm ,

Any updates?

[2019-12-16 08:45] YordanYanakiev commented on #5477
It is very likely not only the file extension, but the file header as well to cause an issue with some paranoiac software.

[2019-12-16 08:49] Dav-id commented on #9020
@Dennis-Petrov I do exactly this. I followed this document https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-3.1 and gRPC runs great

[2019-12-16 09:01] marcuslindblom commented on #17677
Ok. I finally solved it and this is what I did.

I configured the default network in my docker compose file like this:

[code]

Configured forward headers like this:
[code]

And add `UseForwardHeaders` like this:
[code]

Now it seems to work properly.

Thanks for your patience and help 👍

[2019-12-16 09:08] searus commented on #9020
Can I ask a stupid question:  Why doesn't this work in an Azure App Service on linux App Service Plan?

Is IIS involved in that somewhere in the pipeline as well?

[2019-12-16 09:15] barbaros34 opened #17904 ".net core - X-Frame-Options' to 'sameorigin'"
Refused to display '/.pdf' in a frame because it set 'X-Frame-Options' to 'sameorigin'.

I have been taking this error when i have displayed pdf in iframe or embed.

`<embed style="width:100%;" height="768" [src]="pageurl" type="application/pdf">`

I have tried two suggestions, but the problem hasn't been resolved.

1. In ConfigureServices method in Startup.cs, i have added this code block:
`servi

[2019-12-16 10:00] damienbod commented on #17904
You could add the header to your responses. If you use for example NWebSec, you could define the X-Frame-Header in the CSP policy and then it will work

[2019-12-16 10:13] hueidou commented on #17903
@khellang I See. Thank you.

[2019-12-16 10:20] hueidou commented on #17903
@khellang But why "2019-1-1" deserialize to `[FromQuery]DateTime createTime` is correct?

[2019-12-16 10:50] imdevjyoti commented on #17613
We are using Win 10, 1809 x64. aprart from this we are using Win7, win 8.1, and server2016 and also other versions of Windows 10.
We are using "Kestrel" and  No proxies have been implemented.

[2019-12-16 11:20] devlead commented on #9020
@searus There's common layers between frontend and App services regardless Linux/Windows. I.e. currently the App Service frontend receive the HTTP/2 connections, and then internally connections are proxied as "old" HTTP to individual app service workers. I'm sure it's in the works to fully support  gRPC, but it takes some effort as internal components needs to be updated, tested and released.

[2019-12-16 11:23] searus commented on #9020
Thanks @devlead.
I (perhaps naively) thought that a Linux App Service Plan was all Linux throughout.
I fully appreciate the effort involved here, and thanks for taking the time to explain.

[2019-12-16 11:51] stormleoxia commented on #17754
In fact the problem doesn't come from quoting but instead because monolinker should not be called by dotnet.

I manage to make it work  by changing the target in
`%UserProfile%\.nuget\packages\microsoft.aspnetcore.blazor.build\3.1.0-preview4.19579.2\targets\Blazor.MonoRuntime.targets` like this:

    <BlazorILLink
        ILLinkPath="$(MonoLinkerPath)"
        AssemblyPaths="@(_BlazorAssemblyToLin

[2019-12-16 12:36] jucchytil commented on #5477
My current workaround is to provide a Base64 encoded version of each DLL in my CI/CD pipeline, using a service worker to detect the 403 from the firewall for the DLL, downloading the Base64 version of the DLL text file, and  converting Base64 back to DLL in the service worker before caching it in the browser.

It would be curious to see if the problem goes away if we cold just convert the DLLs to

[2019-12-16 13:05] MV10 commented on #17895
You can access the claims by injecting `AuthenticationStateProvider` ... for [example](https://github.com/MV10/BlazorOIDC/blob/master/ClientSite/Pages/Index.razor)

The hard part is getting OIDC auth working (which isn't impossible, fortunately, although it requires a lot of DIY).

[2019-12-16 13:08] SteveSandersonMS commented on #11136
Sorry, I've not been able to repro this problem. I followed the steps given, and refreshed the page around 30 times, and the loading/rendering time didn't change. It continued to load and render quickly, without any trouble.

I know it's been a while since this was reported, so maybe something was fixed in the tooling in the meantime.

[2019-12-16 13:08] #11136 closed

[2019-12-16 13:11] NeilMacMullen commented on #11136
Thanks for following up on this Steve.  To be honest I had forgotten about it myself.  I haven't seen similar behaviour in the latest tooling.  FWIW it seemed to be related to LINQ but I'm using that a lot in my latest projects and it no longer seems to be an issue.

[2019-12-16 13:11] SteveSandersonMS commented on #11136
Excellent - thanks for confirming!

[2019-12-16 13:57] mobinseven commented on #17289
`onbeforeunload` is not triggered when surfing razor pages. There must be a substitute lifecycle event for razor components which **surprisingly** doesn't exist.
You may use Dispose() method and it may do the job for you. But it didn't work for me as I needed the unloaded component Uri (Dispose() is triggered when Uri is changed).

[2019-12-16 13:59] marcuslindblom opened #17905 "Read access_token from logged in user"
How can I from a controller get the tokens for the authorized user? I have tried something like this but the token list is seems to be empty.

[code]

Is this the correct way to get hold of the tokens?

[2019-12-16 14:37] blowdart commented on #17905
What are you using for authentication?

[2019-12-16 14:38] imdevjyoti commented on #17613
[IEnwtrace1 - Copy.txt](https://github.com/aspnet/AspNetCore/files/3968521/IEnwtrace1.-.Copy.txt)

[2019-12-16 14:48] khellang commented on #17903
That's because `DateTime` query values are converted using `DateTimeConverter`, [which uses `DateTime.Parse`](https://github.com/dotnet/runtime/blob/4359ebfc9943608b34f411366b1e544ac45702b7/src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/DateTimeConverter.cs#L39-L75) and isn't as strict as the JSON serializer. If you want the same behavior, you need to do the same in yo

[2019-12-16 14:56] marcuslindblom commented on #17905
I use OAuth/GithHub for authentication

[2019-12-16 15:18] pheuter commented on #14331
Got it, thanks for clarifying.

[2019-12-16 15:27] blowdart commented on #17905
You set the `SaveTokens` option on the handler and then

[code]

[2019-12-16 15:27] leotsarev opened #17906 "ASP.NET Core integration test project template"
I am trying to follow https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests

It will be useful if VS contains project template for integration testing that correctly references everything. It could be non-buildable by default (you have to add SUT project reference), but other than that, it could be just:
- Create from template
- Reference SUT
- Some namespace fixing

and yes, you hav

[2019-12-16 15:43] marcuslindblom commented on #17905
I just tried this and the tokens are not available so they are `null`. I forgot to say that I have two apps. One that handles the authentication with GitHub/Oauth and one that uses a shared cookie. The frontend app is where I want to get the tokens and the authentication configuration looks like this in the frontend.

[code]

This is the **only** authentication configuration I have in my frontend

[2019-12-16 15:49] SteveSandersonMS commented on #17851
@rynowak I think we should be prepared to do so. We know this has to be fixed, so there's no reason to delay doing so. Once we know what the fix looks like, we can make a call about whether it's small and safe enough to release as a patch, or whether that would take additional investment and we would rather wait for customer demand before doing so.

The workaround is pretty simply (surround each `

[2019-12-16 16:06] Tratcher commented on #17905
There are additional steps needed to persist tokens when using Identity. See https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/additional-claims?view=aspnetcore-3.1#save-the-access-token

[2019-12-16 16:10] Tratcher commented on #17677
`new IPNetwork(IPAddress.Parse("172.16.1.0"), 24)` should also work in 3.0+.

[2019-12-16 16:36] rynowak commented on #17890
@ajaybhargavb

[2019-12-16 16:37] marcuslindblom commented on #17905
@Tratcher I already have `SaveTokens=true` in my config. This is how the complete configuration looks like on the site that handles the sign in.

[code]

And then my site using [this config](https://github.com/aspnet/AspNetCore/issues/17905#issuecomment-566115944) should be able to read the tokens. I guess?

[2019-12-16 16:44] davidfowl commented on #17900
There is no state change event. You might be confusing this with the previous version of
 SignalR (https://github.com/SignalR/SignalR)

[2019-12-16 16:45] rynowak commented on #17850
Super yes. The problem is that we have *many many* experiences that are layered on top of it, and these areas are super touchy.

[2019-12-16 17:11] jaryn-kubik opened #17907 "[Blazor server side] Cannot open site more than ~10 times at the same time when deployed to IIS"
### Describe the bug
I thought this was something in my app but I've tried it with the default .NET Core 3.1 Blazor server side template app (hello word/counter/fetch) and I'm getting the same behavior.

When I deploy the app to my local IIS and try opening it in multiple tabs in the browser at the same time at some point (10+tabs) a new tab just doesn't load. It just keeps loading, in dev tools n

[2019-12-16 17:14] mkArtakMSFT commented on #17899
Thanks for contacting us. We have documented State Management topic in detail, it should help to resolve your question: https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-3.1

We recommend storing your quotes using one of the techniques listed in the docs above.

[2019-12-16 17:14] #17899 closed

[2019-12-16 17:16] mkArtakMSFT commented on #17898
Thanks for contacting us, @mathisloge.
@pranavkm can you please look into this. In case this turns out to be real bug with no workarounds, we may need to patch this.

[2019-12-16 17:18] mkArtakMSFT commented on #17895
Thanks for contacting us, @enetstudio.
@MV10 's suggestion is one way to do this. Hope that helps.
In general, the statement you're referring to is correct, you shouldn't depend on HttpContext in Blazor Server apps.

[2019-12-16 17:20] mkArtakMSFT commented on #17893
Thanks for contacting us.
@pranavkm can you please look into this? Thanks!

[2019-12-16 17:23] mkArtakMSFT commented on #17886
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-16 17:23] #17886 closed

[2019-12-16 17:24] JohnKiller commented on #17899
Hi, thanks for answering me. I've read that document before opening this issue. It does answer how to store user data like a session would. But it doesn't cover handling circuit id.

How do you distinguish one circuit from another? How do you distinguish a quote opened on a tab and the other?

Hope it's more clear my request.
Thanks for your patience

[2019-12-16 17:25] mkArtakMSFT commented on #17879
Thanks for contacting us.
It's not clear what you think doesn't work here. Please provide more details about your scenario, what you expect to happen and what doesn't work.

[2019-12-16 17:26] mkArtakMSFT commented on #17877
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2019-12-16 17:32] Tratcher opened #17908 "Log request headers at Trace level"
We've long been paranoid about logging request/response headers due to their potentially sensitive nature (PII). However, many headers are not sensitive and would be useful for diagnostics.

In contrast, the HttpClientFactory already has the capability for logging request/response headers (enabled by default?). It mitigates the risk by A) only logging them at the Trace level, and B) with a feature

[2019-12-16 17:32] mkArtakMSFT commented on #17866
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-12-16 17:35] mkArtakMSFT commented on #17906
Thanks for contacting us.
We haven't heard enough feedback from the community regarding this.
However, it's possible for community members to publish project templates as NuGet packages on their own and this will be a perfect fit for that: https://docs.microsoft.com/en-us/dotnet/core/tools/custom-templates

[2019-12-16 17:35] #17906 closed

[2019-12-16 17:35] mkArtakMSFT commented on #17903
Thanks for contacting us. We believe that the question you've raised have been answered. If you still feel a need to continue the discussion, feel free to reopen it and add your comments.

[2019-12-16 17:35] #17903 closed

[2019-12-16 17:36] dag23 opened #17909 "Target .Net Standard 2.0 Microsoft.AspNetCore.Identity.EntityFrameworkCore"
Hello,

Since EF Core 3.1 lowered the .net standard target to .net Standard 2.0 I think this package should too. It's keeping me to upgrade from version 2.2 since I need to support .net standard 2.0.

[2019-12-16 17:36] mkArtakMSFT commented on #17902
Thanks for contacting us, @gitlsl.
@pranavkm can you please look into this? Thanks!

[2019-12-16 17:38] mkArtakMSFT commented on #17897
Thanks for contacting us.
This error indicates a missing runtime. The build output, actually contains the message about the specific runtime missing.

[2019-12-16 17:39] mkArtakMSFT commented on #17897
We will try to document how to investigate this error, to make it simpler going forward.

[2019-12-16 17:40] mkArtakMSFT commented on #17891
Thanks for contacting us. This looks like an issue on the CoreFx side. @pranavkm can you please look into this to confrim and move over, if so? Thanks!

[2019-12-16 17:41] mkArtakMSFT commented on #17890
Thanks for contacting us.
@ajaybhargavb can you please look into this, as we may need to patch something here? Thanks!

[2019-12-16 17:42] mkArtakMSFT commented on #17884
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-mvc** tag.

[2019-12-16 17:42] #17884 closed

[2019-12-16 17:43] mkArtakMSFT commented on #17876
Thanks for contacting us. @javiercn can you please look into this? Thanks!

[2019-12-16 17:45] Tratcher commented on #17905
Keep reading that doc where it talks about OnPostConfirmationAsync.

[2019-12-16 17:49] anurse commented on #17677
Closing, as this appears to be resolved. Let us know if that's not the case and we can continue investigating!

[2019-12-16 17:49] #17677 closed

[2019-12-16 17:56] anurse commented on #17613
Hrm, looks like the WebSockets are very short-lived, but there's no real indication why it's being terminated in that trace (Browser dev tools traces have very limited WebSockets support unfortunately). Are you able to try using Fiddler or a tool like [Wireshark](https://www.wireshark.org/)? (If you're using Wireshark, it's best if you can do the trace over HTTP, and *not* HTTPS since decrypting t

[2019-12-16 17:59] anurse commented on #9020
It definitely is in the works. We are actively working on it but can't guarantee a timeline. @devlead is correct about the Azure App Service Linux support. The front-end proxy is running IIS. It supports receiving HTTP/2 from the client, but when it proxies traffic to your app, it downgrades to HTTP/1.1. This was OK (though not ideal) for normal apps, but gRPC obviously **requires** HTTP/2 feature

[2019-12-16 18:02] NTaylorMullen commented on #17841
This will be addressed by LSPification. Leaving it here to ensure that renaming a document works.

[2019-12-16 18:05] khellang commented on #17894
You can't catch a StackOverflowException. That's just how it works. It takes the process down 😅

[2019-12-16 18:07] marcuslindblom commented on #17905
@Tratcher Ok I see. The problem I seem to have is when a user already have an account with the GitHub login registered. When this is the case I use `ExternalLoginSignInAsync` to sign in the user. This is how my callback works right now.

[code]

Is it possible to use `ExternalLoginSignInAsync` and include the tokens inside the authentication properties or do I need to change my code in some way?

[2019-12-16 18:13] Tratcher commented on #17905
@HaoK That doc needs an update to show persisting fresh tokens for existing users. Can you take over from here?

[2019-12-16 18:38] ajaybhargavb commented on #17890
Investigating

[2019-12-16 18:39] RedWingBB commented on #13503
Is this work expected to release in core 3.2?

Consider cases where a webapi is already written using the full framework.
Is it expected that a .net core client will be able to connect to an asp.net/full framework hub?

[2019-12-16 18:46] #15380 closed

[2019-12-16 18:46] wtgodbe commented on #16817
We stopped seeing these after https://github.com/aspnet/AspNetCore/pull/17311, closing

[2019-12-16 18:46] #16817 closed

[2019-12-16 18:52] marcuslindblom commented on #17905
Is this the correct way of doing this? I have added `SignInWithClaimsAsync` if the `ExternalLoginSignInAsync` succeeds.

[code]

[2019-12-16 19:10] fabich commented on #5716
@Janidbest there are more and more security papers and best-practice recommendations to no longer enforce password expiration.
e.g. https://www.sans.org/security-awareness-training/blog/time-password-expiration-die
or directly from Microsoft:
https://www.microsoft.com/en-us/research/publication/password-guidance

[2019-12-16 19:17] caioproiete opened #17911 "Warning: The variable '__typeHelper' is assigned but its value is never used"
A Blazor Server app (default template) displays a warning that cannot be resolved by the user:

[code]

![image](https://user-images.githubusercontent.com/177608/70933566-9a648300-2012-11ea-95ff-9304a4ecd27a.png)

### To Reproduce

File -> New Project -> Blazor App -> Blazor Server App

Rebuild the app.

---

- ASP.NET Core version 3.1
- Visual Studio 219 16.4.1

![image](https://user-images.githu

[2019-12-16 19:21] danilobreda commented on #14585
Upgraded to 4.8 and now hosted services works very well... I had to change some behaviors of my code because of the 3.0 changes. 👍

[2019-12-16 19:32] imdevjyoti commented on #17613
[fiddler capture - Copy.zip](https://github.com/aspnet/AspNetCore/files/3969787/fiddler.capture.-.Copy.zip)

[2019-12-16 19:38] anurse commented on #17613
If you're using HTTPS you need to configure Fiddler to [decrypt HTTPS traffic](https://docs.telerik.com/fiddler/Configure-Fiddler/Tasks/DecryptHTTPS). All I see in that trace is encrypte TLS traffic and I can't decrypt it :(.

Let me know if you have any more questions on how to assemble the necessary information.

[2019-12-16 19:42] enetstudio commented on #17895
@mkArtakMSFT,  I know perfectly well how to handle and manipulate AuthenticationStateProvider and all the related components. I also believe I know that I can access the HttpContext  in middleware and access the user's claims, but only once when the SignalR connection starts, and then the HttpConext is no longer available... I need the assurance that I'm right... that it is doable and proper to ac

[2019-12-16 20:21] pranavkm commented on #17893
This looks like an issue with the data that you're posting. System.Text.Json is fairly strict about converting strings to other data types. In this case, it looks like you're posting a string value to a value that is read as a int. Consider modifying the JSON that is being posted or read the value as a string.

[2019-12-16 20:22] pranavkm commented on #17911
/cc @NTaylorMullen

[2019-12-16 20:29] pranavkm commented on #17902
@gitlsl you'll have to read the request body before MVC has had read it. Here's an example that shows this: https://github.com/aspnet/AspNetCore/issues/15009#issuecomment-542291956. https://github.com/aspnet/AspNetCore/issues/15009#issuecomment-542444635 has an explanation as to why this behavior changed between 2.x and 3.x.

[2019-12-16 20:52] pranavkm commented on #17891
@rocfatcat `ModelMetadataType` and other model binding specific types are used by MVC's model binding system. Models bound by deserializing the response body containing JSON or XML data are unaware of these types which would explain why you see this error. You would have to specify the JSON attributes on the model being bound.

[2019-12-16 21:01] vfrz commented on #17115
Any news on this? Can't properly use HttpClientFactory right now, kinda sad.

[2019-12-16 21:37] rynowak commented on #17908
Straw man, **BUT**, what's the reason why we can't log headers at TRACE level? I know we haven't in the past, but do we still feel like an opt-in is required other than turning on TRACE?

[2019-12-16 21:46] bhalicki opened #17912 "AddDefaultIdentity removed from Identity.UI 3.1.0?"
AddDefaultIdentity appears to have been removed from Microsoft.AspNetCore.Identity.UI v3.1.0.  Only solution was to revert to v3.0.0.  Can you please confirm and what alternative solution is?  Sample source code in AspNetCore.Docs appears to be referencing v3.0.0.

[2019-12-16 21:54] RealOrko opened #17913 "Blazor/ServerRendering: Child Component does not render page property in the way I would expect."
### Describe the bug

A child component in blazor is not rendering a property that is set from a parent page. It wont even compile in my sample and even then it does not work in my parent project when it does compile.

Why is this not simple?
Why dont the docs reflect the "right way"?

Not sure what I am doing wrong here but the docs are telling me I have done everything right. What have I done wr

[2019-12-16 22:13] pranavkm commented on #17907
Might be the limitation that's described here: https://docs.microsoft.com/en-us/aspnet/signalr/overview/getting-started/supported-platforms#supported-server-iis-versions. What flavor of Windows 10 are you on?

/cc @jkotalik

[2019-12-16 22:23] HaoK commented on #17905
Yes that would result in the cookie containing the updated claims, but if you want to actually store the claims in the identity tables for the user, you would need to call `userManager.Add/ReplaceClaimAsync` otherwise there are some potential codepaths where you might lose the extra claims

[2019-12-16 22:23] Tratcher commented on #17888
We tracked this to a dependency issue that caused `Registry.LocalMachine.` to return null.

[2019-12-16 22:27] cyraid commented on #17900
Actually I was getting it from your [docs](https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-javascript-client#connectionlifetime)

Specifically for the Javascript client. Are there any Typescript reference / docs / guides / examples? Am I using the wrong SignalR for typescript? In my package.json I have: @microsoft/signalr with version 3.1.0.

[2019-12-16 22:32] marcuslindblom commented on #17905
@HaoK Ok. I thought that await _signInManager.UpdateExternalAuthenticationTokensAsync(info); would be enough but maybe I have misunderstood? Do you have a complete example of using the “social” login where all keys are updated both on the user and cookie with access tokens and so on?

[2019-12-16 22:41] NTaylorMullen commented on #17911
Hmm, i'm unable to reproduce. @caioproiete do you happen to have any VS extensions installed or settings assigned related to C# warnings? I ask because I haven't seen that behavior of putting a green squiggle on the folder when warnings occur with a default VS install.

[2019-12-16 23:18] DamianEdwards commented on #17272
Keeping pinging @pranavkm 😄

[2019-12-16 23:22] cbrit commented on #17442
I'm getting the same error but I'm not injecting it into a Razor Component, just a class. Injecting this type works in one class but not another even though the implementation seems identital. I have added the service manually in Startup.cs (it's been that way a while), but when I made a new class and tried to inject it I started getting
`GetAuthenticationStateAsync was called before SetAuthentica

[2019-12-16 23:23] ajaybhargavb commented on #17890
After some perf investigation, I've identified some hot spots in the new syntax tree,
![image](https://user-images.githubusercontent.com/1579269/70951241-c1718380-2017-11ea-92c5-cd41289abd85.png)

Although, some perf impact might be unavoidable due to the fact that the new syntax tree now has a deeper understanding of HTML structures, I'll investigate more and see if there are any high impact low

[2019-12-16 23:59] ajaybhargavb commented on #17890
@agrinei, thanks for the report. You can unblock yourself in the mean time by doing one of the following,

#### Option 1
Move the large static table to a separate .html file and then do,
[code]

#### Option 2
Move the contents inside a script tag and embed it as a string,
[code]

[2019-12-17 00:41] cyraid opened #17915 "[Asp.NET Core 3.1] [TypeScript SignalR Client v3.1.0 MessagePack] "global is not defined""
### Describe the bug
I find it hard to believe there's mostly docs for just Javascript, and not for Typescript! I'm attempting to use MessagePack for Typescript (@microsoft/signalr-protocol-msgpack 3.1.0) with the Typescript Client (@micorosoft/signalr 3.1.0), I'm getting a:

### To Reproduce

[code]

In the documentation for Javascript it states to use:
[code]

But that's Javascript, and would me

[2019-12-17 00:46] #17902 closed

[2019-12-17 00:49] agrinei commented on #17890
Thank you for the quick response! I've just left a link to download the table.

If you're not able to improve performance significantly maybe you could add an attribute to make the razor parser consider that part of the view as a single html node:

<table asp-single-html-node="true">
(...)
</table>

[2019-12-17 01:55] ajaybhargavb commented on #14331
This is now works with the latest VSCode-Insiders and the latest C# extension. 🎉

[2019-12-17 01:55] #14331 closed

[2019-12-17 03:12] zengqinglei opened #17916 "Unable to delete assembly file after plugin uninstall"
**Describe the bug**

When I use the sample code: https://github.com/dotnet/samples/tree/master/core/tutorials/Unloading
Then I want to remove the assembly file after the plugin is uninstalled and I get an exception:

![image](https://user-images.githubusercontent.com/7374317/70961451-cb998d80-20bc-11ea-837c-601b70c8e52a.png)

**Run Environment**
* .NET CORE 3.1
* Windows 10
![image](https://user-

[2019-12-17 03:43] #4763 closed

[2019-12-17 03:43] JamesNK commented on #11195
Was this done with https://github.com/aspnet/AspNetCore/pull/12328?

[2019-12-17 03:45] Tratcher commented on #11195
Not necessarily, Http1 and Http2 have fairly different code paths. Give it a try? What's your interest?

[2019-12-17 03:49] JamesNK commented on #11195
gRPC-Web allows for gRPC over HTTP1/1. One of its features is deadlines, which will call CompleteAsync.

I have a functional test over HTTP/1.1 and I'm getting an odd result. Sometimes the HTTP request doesn't return any data when CompleteAsync is called. The client then errors with "The response ended prematurely."

[2019-12-17 03:56] JamesNK commented on #11195
Test logs (failure happens in the final request):

[code]

[2019-12-17 03:58] JamesNK commented on #11195
Wireshark log. Error happens in the final request.

[kestrel-http1-completeasync.zip](https://github.com/aspnet/AspNetCore/files/3971376/kestrel-http1-completeasync.zip)

[2019-12-17 04:33] Tratcher commented on #17484
@djluck Yes, DelegatingHandler is specific to the .NET HttpClient.  I have a fix in #17917 for the connection stability issue, but you're still going to get REFUSED_STREAM and ENHANCE_YOUR_CALM if you flood the server. See https://github.com/aspnet/AspNetCore/issues/17842.

[2019-12-17 04:34] Tratcher commented on #17484
Also keep in mind that 100 is the default stream limit for several other servers so this is not going to be an isolated issue.

[2019-12-17 05:30] pogromistik opened #17918 "Cannot use "page" route param in MapControllerRoute when Razor Pages enabled"
### Describe the bug
Hello. When i enable Razor Pages in my ASP.NET Core 3.1 project all routes with param named "page" stop working.

### To Reproduce
https://github.com/pogromistik/PageParamBug - here is repo with reproduction example.

There is two methods in HomeController:
[code]

and mapping in Startup.cs:
[code]

Start application and open this two urls:
https://localhost:5001/home/foo/4
ht

[2019-12-17 08:50] SeppPenner commented on #17754
I'm seeing the same issue.

@Flearz Glad it was hours only for you. Days for me :)

[2019-12-17 08:59] jaryn-kubik commented on #17907
I see, thanks.
I'm running Windows 10 Pro 1903, I just tried it on our test server running Windows Server 2019 and it indeed works fine.

I kinda feel like it should be mentioned somewhere closer to blazor server side documentation as this makes it practically unusable on non-server Windows. Most (all?) of the SignalR mentions lead to the Core version and this limitation seems to be only listed on

[2019-12-17 08:59] #17907 closed

[2019-12-17 10:33] mkArtakMSFT commented on #17918
Thanks for contacting us.
This is by-design. You can read more about the reserved keywords at https://github.com/aspnet/AspNetCore/wiki/MVC-Reserved-Keywords

[2019-12-17 10:33] #17918 closed

[2019-12-17 10:35] javiercn commented on #17916
@zengqinglei thanks for contacting us.

We believe this issue is not related to ASP.NET and you will get a faster and better response by filing an issue in [the dotnet runtime repository](https://github.com/dotnet/runtime).

/cc: @davidfowl as you were interested in knowing about these things.

[2019-12-17 10:35] #17916 closed

[2019-12-17 10:43] zengqinglei commented on #17916
ok,thank you !

[2019-12-17 10:59] lucamorelli opened #17919 "cannot compile new angular projecy"
### Describe the bug
I created a new angular project using the latest versions of dotnet new and angular template, and if I try to run via ng serve obtain these results:

error TS2345: Argument of type 'Profile' is not assignable to parameter of type 'IUser'.
  Property 'name' is optional in type 'Profile' but required in type 'IUser'.

77       this.userSubject.next(user.profile);
[code]
api-auth

[2019-12-17 11:08] pogromistik commented on #17918
Thanks

[2019-12-17 12:22] Aaronmsv commented on #17855
Okay, thanks @Kahbazi and @Tratcher, I will make sure they use a unique callback for each scheme.

[2019-12-17 12:29] andrew-vdb commented on #17912
Its there,
![image](https://user-images.githubusercontent.com/12871379/70995534-10c7ba80-20d1-11ea-8a9b-50939530da2c.png)

If there is question, why is that method on Microsoft.AspNetCore.Identity.UI, but that separate thread i guess

[2019-12-17 12:31] partyelite opened #17920 "Blazor client side Unable to find a default constructor to use for type System.IdentityModel.Tokens.Jwt.JwtPayload."
### Describe the bug
I'm using blazor client side and System.IdentityModel.Tokens.Jwt package v5.6.0.
When calling ReadJwtToken method on JwtSecurityTokenHandler I get the following exception

`Newtonsoft.Json.JsonSerializationException: Unable to find a default constructor to use for type System.IdentityModel.Tokens.Jwt.JwtPayload.`

I believe it has something to do with linker because if I add a

[2019-12-17 13:29] #17904 closed

[2019-12-17 13:29] barbaros34 commented on #17904
Thanks@da @damienbod

[2019-12-17 13:38] Pzixel opened #17921 "Add IServiceProvider argument to HttpClientFactoryServiceCollectionExtensions.AddHttpClient's configureClient argument"
### Is your feature request related to a problem? Please describe.

My current problem is I'm unable to fully use DI because I'm have to create dependencies in controllers.

Assume we have following controller

[code]

We need to perform some external http request but we also need some context about our own currently executing request.

The problem as you can easily see is that I have to create so

[2019-12-17 13:42] emilssonn commented on #15381
@BrennanConroy any update?:)
This is blocking our update to 3.0/3.1 and 2.2 is reaching end of life/support 2019-12-23.

[2019-12-17 13:56] mv10-work commented on #5562
An `IDistributedCache` implementation makes state-persistence a fairly trivial problem to solve, as long as the application is designed for it up front. In our case, we set up a request-scoped abstract class keyed on a user identifier (OIDC subject ID, since we have no anonymous-access users), then the apps derive from this to manage various bits of app-specific `<TState>` data (high-level, like n

[2019-12-17 14:01] BartoGabriel opened #17922 "React Authentication & Identity Server template"
### Describe the bug
In the template it is configured so that the token is refreshed automatically, by the oidc-client library.

The problem is that the library does it in a separate IFrame, and when it calls notifySubscribers (in AuthorizeService.js), it does not notify, since within the IFrame the variable this._callbacks is empty.

### To Reproduce
I recommend setting the Identity Server client

[2019-12-17 14:08] javiercn commented on #17919
@lucamorelli thanks for contacting us.

I'm not able to repro this on an isolated environment. There might be something on your environment affecting the typescript compilation. I would suggest you make sure you have an update node/npm version and potentially clean your npm package cache if that doesn't solve it.

[2019-12-17 14:08] Pzixel commented on #17921
I'm not sure which name to choose for this issue. My problem is quite narrow (I just need to copy some request headers from request to httpclient), but the solution may be broader.

[2019-12-17 14:09] LMSSonos opened #17923 "[Blazor Question] How to still use client side addEventListener"
I'm using a bootstrap template (metronic) which has for instance a menu that is collapsible. For that the template makes some plain javascript calls to bind the events. After adding the template to a Blazor solution, the events where not bound. In the original code they have a javascript like this. The code is included in `myscripts.js` which is referenced from the `_Hosts.cshtml`
[code]
This even

[2019-12-17 14:11] andrew-vdb opened #17924 "MapAreaControllerRoute does not work with optional controller action"
[code]
**Actual**
/admin ---> not working !
/admin/Home/Index ---> working

**Expected**
/admin ---> working
/admin/Home/Index ---> working

[2019-12-17 14:12] javiercn commented on #17922
@BartoGabriel thanks for contacting us.

@leastprivilege Is the suggested proposal a better way to handle the renew?

[2019-12-17 14:17] chucker commented on #8274
[Not yet.](https://github.com/aspnet/AspNetCore/issues/9960)

[2019-12-17 14:39] cpboyd opened #17925 "bug(spa): poor Angular messaging"
### Describe the bug
When there's a compilation error, the .NET server will simply report a timeout.

### To Reproduce

Use the Angular starter project and simply modify the project to not compile.

### Further technical details
- ASP.NET Core version:
**3.1.100**
- Include the output of `dotnet --info`:
[code]
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version
**Visual Studio 16

[2019-12-17 16:00] partyelite opened #17926 "Blazor client side NavigateTo causes exception when component has @onBlur event hadler"
# Describe the bug

When navigating from a page an exception occures if a component has @onBlur event. This happens only in Chrome. Other browsers work. This is what I get in console

Unhandled exception rendering component:
 Microsoft.JSInterop.JSException: Unknown edit type: 0
Error: Unknown edit type: 0
at e.applyEdits (http://localhost:64747/_framework/blazor.webassembly.js:1:14804)
at e.updat

[2019-12-17 16:02] gbukauskas commented on #8274
And where is problem? One can use any operator or expression unless it
marked with 'obsolete'. It would be very strange if someone will state that
'foreach' is too old and only asynchronous version of the operator is
legal. I proposed the solution write your one if it works better.

2019-12-17, an, 16:17 Sören Nils Kuklau <notifications@github.com> rašė:

--
Gediminas Bukauskas
   SKYPE: gediminas

[2019-12-17 16:28] fabich opened #17927 "JSON Patch replace entire object"
### Describe the bug
JSON Patch implementation does not work as expected when trying to replace entire object.
Error: The target location specified by path segment '' was not found.

### To Reproduce
input:
[code]

patch:
[code]

output:
[code]
Test runs successful with json8 (https://github.com/sonnyp/JSON8):
https://json8.github.io/patch/demos/apply/

code example:
[code]

Error:
[code]
### Furt

[2019-12-17 16:37] Ricardoaraujo00 opened #17928 "Explanation fails at the beginning"
I've added the Microsoft.AspNetCore.Server.Kestrel.Core to the used libraries but in this code:
[code]
"Configuration" gets undelined saying it does not exist in current context...

[2019-12-17 16:47] Ricardoaraujo00 opened #17929 "Code in explanation kinda dumped there with no explanation where to put it..."
This code is in the section: Keep-alive timeout
But where should it go int he app??

webBuilder.ConfigureKestrel(serverOptions =>
{
    serverOptions.Limits.MaxConcurrentConnections = 100;
    serverOptions.Limits.MaxConcurrentUpgradedConnections = 100;
    serverOptions.Limits.MaxRequestBodySize = 10 * 1024;
    serverOptions.Limits.MinRequestBodyDataRate =
        new MinDataRate(bytesPerSecond:

[2019-12-17 16:48] #17929 closed

[2019-12-17 16:48] pranavkm commented on #8274
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-12-17 16:49] javiercn commented on #17928
@Ricardoaraujo00 thanks for contacting us.

You are likely missing the generic parameter on that method `services.Configure<KestrelServerOptions>(...)`

[2019-12-17 16:54] Ricardoaraujo00 commented on #17928
Thanks Javier, if it misses me, it misses in the explanation. Where is that generic parameter missing in the explanation?

[2019-12-17 16:55] anurse commented on #15381
@emilssonn Can you clarify what specifically is blocked here? Is it just the logging to blob storage or are you seeing a crash or other failure? We are working to get an updated site extension out as soon as we can, but I want to make sure you're not seeing a crash or other failure when updating.

[2019-12-17 16:57] kevingates commented on #17926
FYI, they're likely to ask for a simple repo showing the code in action. I usually just make a stupid simple repo and add it to github with minimal code (like the template files) and my test code. Just giving you a heads up as it may speed up a reply from the team.

[2019-12-17 16:58] Ricardoaraujo00 opened #17930 "Generic Parameter missing in explanation?"
I've added the Microsoft.AspNetCore.Server.Kestrel.Core to the used libraries but in this code:

public void ConfigureServices(IServiceCollection services)
{
services.Configure(Configuration.GetSection("Kestrel"));
services.AddGrpc();
}

"Configuration" gets underlined saying it does not exist in the current context.

Seems that in the explanation is missing a generic parameter. Wich generic param

[2019-12-17 17:06] javiercn commented on #17928
@Ricardoaraujo00 what explanation are you referring to? Do you mean the XML doc comments?

[2019-12-17 17:19] emilssonn commented on #15381
@anurse No crashes! Only the logging to blob storage. For us that is blocking because we log more data while in test/acc.

[2019-12-17 17:28] partyelite commented on #17926
Thx,
here is the repo
https://github.com/partyelite/OnBlurException

[2019-12-17 17:30] Tratcher commented on #17928
@javiercn no, it's there, but the HTML ate it.

@Ricardoaraujo00 Where did you get that code sample? What are you tying to configure on KestrelServerOptions? The complete version would look something like:

[code]

[2019-12-17 17:33] mkArtakMSFT commented on #17926
Thanks for contacting us.
We'll sure look into this but in couple of months only.

[2019-12-17 17:35] mkArtakMSFT commented on #17923
Thanks for contacting us.
It's still unclear what your specific problem is. You can read detailed documentation about JSInterop in Blazor, which most probably help you resolve your own issue: https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interop?view=aspnetcore-3.1
If, however, you still will be facing an issue which you think may be caused by the framework, please provide a repro

[2019-12-17 17:37] mkArtakMSFT commented on #17920
This issue was moved to mono/linker#870

[2019-12-17 17:37] #17920 closed

[2019-12-17 17:39] mkArtakMSFT commented on #17913
Hi. It looks like this is a question about how to use ASP.NET Core. While we do our best to look through all the issues filed here, to get a faster response we suggest posting your questions to [StackOverflow](https://www.stackoverflow.com) using the **asp.net-core-blazor** tag.

[2019-12-17 17:39] #17913 closed

[2019-12-17 17:42] mkArtakMSFT commented on #17927
We've moved this issue to the Backlog milestone. This means that it is not going to happen for the coming release. We will reassess the backlog following the current release and consider this item at that time. However, keep in mind that there are many other high priority features with which it will be competing for resources.

[2019-12-17 17:46] mkArtakMSFT commented on #17925
Thanks for contacting us.
We will consider looking into this during 5.0 release.
However, we will happily consider a community PR for this. So feel free to send one if you want.

[2019-12-17 17:46] mkArtakMSFT commented on #17924
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2019-12-17 17:47] MV10 opened #17931 "Web Application template has 15 analyzer issues (3.1)"
Creating a new project from the 3.1 Web Application template results in 15 analyzer warnings and errors in the Dependencies section of Solution Explorer. Configuration shown below (HTTPS, no Docker, no auth/identity), I didn't check other templates/configurations but I imagine results would be similar. Double-clicking them doesn't lead anywhere (I don't know for sure that would work) so I'm guessi

[2019-12-17 18:00] #17732 closed

[2019-12-17 18:00] #17604 closed

[2019-12-17 18:00] #17877 closed

[2019-12-17 18:06] alekkowalczyk commented on #12890
Does that mean, that if I want server-side rendering in an ASP.NET Core+React project, I need now to split that project into two, with a new Node.JS project holding all the client JS codes and doing the SSR, and the remaining ASP.NET Core project being only responsible for the WebAPI stuff?

[2019-12-17 18:21] Kahbazi commented on #17615
@Tratcher Is this decision final? I think by having just routing for authentication callbacks, there would be some limitations. I'm just expanding my previous example here.

Let's say I have a `ConcurrencyMiddleware` which has different queues for different kind of Endpoints. I can mark my Endpoints with some attribute to assign them to a specific queue. This would be my pipeline.

[code]

Now I c

[2019-12-17 18:23] cjblomqvist commented on #12890
Or live with it being deprecated, or move to the alternative discussed above.

[2019-12-17 18:25] Tratcher commented on #17615
Nothing's final, but the case for endpoints has not been compelling. The use of endpoints also has tradeoffs with fallback patterns currently supported by several of the auth handlers.

How would you add metadata/attributes to the callback endpoints when they're created and registered by the auth service?

[2019-12-17 18:34] pranavkm commented on #17931
That's the list of the analyzers \ code fixes being run on a project. Do you see errors on warning in the Error list as a result of running these analyzer rules?

[2019-12-17 18:37] Kahbazi commented on #17615
As you said, there could be an opt out option.

By adding a Metadata on `AuthenticationOptions` like `MicrosoftAccountOptions`.
Or even changing `CallBackPath` from `PathString` to a class with `PathString` and Metadata, since some handlers have multiple callback path :thinking:

[2019-12-17 18:47] Tratcher commented on #17615
Needs some more thought. There's a strong preference for not having API breaks required for this change, only additions.

[2019-12-17 18:47] dag23 opened #17932 "Target .Net Standard 2.0 Microsoft.AspNetCore.Identity.EntityFrameworkCore"
Hello,

Since EF Core 3.1 lowered the .net standard target to .net Standard 2.0 I think this package should too. It's keeping me to upgrade from version 2.2 since I need to support .net standard 2.0.

[2019-12-17 18:47] ajcvickers commented on #17932
/cc @HaoK @blowdart

[2019-12-17 18:50] rynowak opened #17933 "Dependencies are out of date in master"
Our dependencies are very out of date in master. This issue is being filed as a result of our agreed-upon SLA and escalation path of 7 days (max)

![image](https://user-images.githubusercontent.com/1430011/71023121-eff26b80-20b6-11ea-99e7-695f3f12edbe.png)

[2019-12-17 18:57] Kahbazi commented on #17615
We could add the new class (let's call it `CallBackEndpoint`) and keep the `CallBackPath` (maybe with an ObsoleteAttribute) and if `CallBackEndpoint` has been set, we ignore `CallBackPath` and if `CallBackEndpoint` is null, we could set it from `CallBackPath` with default metadata.
Default metadata could specify the scheme, handler type, etc

[2019-12-17 19:06] mkArtakMSFT commented on #17930
Thanks for contacting us.
You're trying to reference a property (`Configuration`) which you haven't defined in your class (`Startup`).
This guide will help you with defining it: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-3.1

[2019-12-17 19:06] #17930 closed

[2019-12-17 19:25] KiransHub opened #17934 "DotNetCore 3.1 just not working properly..."
So I've just installed dotnetcore 3.1 on my web server.

Running dotnet --info produces the following:

[code]

The web api kept retuning a 404 so I decided to run the application in the console.

I saw this error:
[code]

What's going on? One minute I'm being told 3.1.0 is installed the next minute it isn't.

I've got a tight client deadline on and  I can't deploy my app. Please help.

[2019-12-17 19:26] KiransHub opened #17935 "Can't run webapi app in using 3.1! No idea what's going on...."
So I've just installed dotnetcore 3.1 on my web server.

Running dotnet --info produces the following:

[code]

The web api kept retuning a 404 so I decided to run the application in the console.

I saw this error:
[code]

What's going on? One minute I'm being told 3.1.0 is installed the next minute it isn't.

I've got a tight client deadline on and  I can't deploy my app. Please help.

[2019-12-17 19:27] KiransHub commented on #17935
Sorry looks like I duplicated this issue.

[2019-12-17 19:27] #17935 closed

[2019-12-17 19:54] eisendle commented on #17934
Looks like ASP.net Core Runtime 3.1 is not installed. You can download it [here](https://dotnet.microsoft.com/download/dotnet-core/3.1). It needs to be installed additionally to .net Core 3.1.

[2019-12-17 20:00] KiransHub commented on #17934
Hey, yeah the problem was that I'd installed the desktop version not the hosting one!

[2019-12-17 20:00] #17934 closed

[2019-12-17 20:00] #17895 closed

[2019-12-17 20:04] SebHonorine opened #17937 "ConfigureTestServices : since 3.0 does not override my service configuration for addhttpClient"
### Describe the bug
I have an app that was in ASP .Net Core 2.1 and updated it to 3.1 recently. I have some integration tests in my solution. I used the Microsfot doc when created it : https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1

When I updated everything and tried to keep using my "ConfigureTestServices", now I have an error like "The HttpClient factor

[2019-12-17 20:19] petr123321 commented on #17288
Hi,

I have tried that with no success:

=== Verbose logging started: 17. 12. 2019  21:15:49  Build type: SHIP UNICODE 5.00.9600.00  Calling process: C:\Windows\system32\msiexec.exe ===
MSI (c) (5C:20) [21:15:49:716]: Font created.  Charset: Req=0, Ret=0, Font: Req=, Ret=Arial

MSI (c) (5C:20) [21:15:49:716]: Font created.  Charset: Req=0, Ret=0, Font: Req=, Ret=Arial

MSI (c) (5C:EC) [21:15:49:73

[2019-12-17 20:20] MV10 commented on #17931
I wondered if it might be, but I don't remember the yellow triangle showing, which seems to indicate something is wrong. (So perhaps my report focused on the wrong thing...)

[2019-12-17 20:27] MuratTopcu opened #17938 "NavigateTo not working in IIS"
### Describe the bug
A clear and concise description of what the bug is.
NavigationManager.NavigateTo("/fetchdata"); does not work under IIS

### To Reproduce

Create Blazor Server App.
Write Counter Page
[code]
Publish your code to local machine IIS

https://murattopcu.visualstudio.com/BlazorServerAppNavigateTo

### Further technical details
- ASP.NET Core version 3.1
- Include the output of `dot

[2019-12-17 20:37] pranavkm commented on #17931
I see the yellow triangle if I have NuGet restore in VS disabled:

![image](https://user-images.githubusercontent.com/174281/71032321-f5a57c80-20c9-11ea-9597-b1fe7b870464.png)

Do you happen to have it turned off in your VS too?

[2019-12-17 20:43] #17763 closed

[2019-12-17 20:46] pranavkm commented on #17731
As @javiercn noted, case sensitivity typically comes from the OS's file lookup. With runtime compilation, MVC relies on the operating system to perform view lookups. A mismatch in case would result in failure to lookup in a case sensitive OS like Linux. Preserving case consistency across controllers, actions and view file names would be the way to go.

[2019-12-17 20:46] #17731 closed

[2019-12-17 20:50] uzairali001 opened #17939 "ASP.NET Core Project Not Available in Browser via Visual studio"
### Describe the bug
Newly created asp.net core (any template) project not working with F5 and CRTL+F5, browser opens at https://localhost:44342/ but it shows `This site can’t be reached` `ERR_CONNECTION_RESET`

### To Reproduce
Create new project of Asp.Net core with any template

### Further technical details
- ASP.NET Core version 3.1
- The IDE Visual studio 16.4.1, win10 (version 2004; build 1

[2019-12-17 21:00] #17894 closed

[2019-12-17 21:00] #17893 closed

[2019-12-17 21:00] #17891 closed

[2019-12-17 21:08] pranavkm commented on #17072
We can use https://github.com/aspnet/AspNetCore/issues/17644 to track figuring out what to do with the task that's in our build. There's an offline discussion about the PR:  https://github.com/aspnet/AspNetCore/pull/17874 that has an overlap with that issue.

[2019-12-17 21:08] #17072 closed

[2019-12-17 21:10] Rick-Anderson commented on #13308
@pranavkm no repo, recommend closing this.  cc @mkArtakMSFT

[2019-12-17 21:11] pranavkm commented on #11887
Blazor's linker task uses a response file to launch the linker which mitigates the command line length restriction. Closing this as the original intent of this issue has been resolved.

[2019-12-17 21:11] #11887 closed

[2019-12-17 21:16] #13308 closed

[2019-12-17 21:17] Rick-Anderson commented on #13248
@jkotalik  @halter73  recommend closing.

[2019-12-17 21:43] willdean commented on #17931
@pranavkm I almost always have the yellow triangles showing on all the analyzers, and I have all the Nuget stuff set to default options (Restore is certainly enabled).

I have a vague suspicion that when I create a new project, the analysers have 'nice' names (not just file paths) and no exclamations.  After a while they change to showing a file path with a yellow triangle.  That's just a feeling

[2019-12-17 22:26] yshahin commented on #17723
I am facing a similar issue now, probably the same root cause.
Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Reading the request body timed out due to data arriving too slowly. See MinRequestBodyDataRate.

The client is returning "The stream does not support concurrent IO read or write operations." cause this exception does not put the stream in a readable state.

Can we add th

[2019-12-17 22:27] anurse commented on #15381
I have a workaround you can try, since all the Site Extension does is configure a special logging component (which is already on NuGet):

1. Add a package reference to [`Microsoft.AspNetCore.AzureAppServicesIntegration`](https://www.nuget.org/packages/Microsoft.AspNetCore.AzureAppServicesIntegration/) with the same major-minor version as ASP.NET Core (i.e. 3.0 or 3.1).

1. Call `.UseAzureAppServic

[2019-12-17 22:32] Tratcher commented on #17723
@yshahin that's different from the Form issue. That looks like a Kestrel issue. What version is this from?

[2019-12-17 22:43] joaovieirabr commented on #17370
Same thing here, when using modules="AspNetCoreModuleV2" on web.config. When I change to "AspNetCoreModule", it works. So, I got to make this in every deploy :(

[2019-12-17 22:43] altretya-microsoft commented on #9039
I don't need to use IdentityServer.
This is worked worked for me:
[code]

[2019-12-17 22:57] MV10 commented on #17931
Package restore is on. I don't think I've ever had a reason to disable it, although I have a LOT of package sources (local drive, network drives, in-house servers, and public NuGet ... maybe 20 or so).

[2019-12-17 23:00] #17888 closed

[2019-12-17 23:27] Tratcher commented on #11195
There's no response for that final request. I don't see any indication from the logs as to why.
[code]

[2019-12-17 23:31] pranavkm commented on #17931
Sounds like this is a VS specific issue and not an issue with the analyzers we ship. This would be better handled as a VS feedback issue. Using the feedback tool - https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio - would include additional diagnostics that should help the relevant VS team to diagnose this.

[2019-12-17 23:41] #17931 closed

[2019-12-17 23:51] SidShetye commented on #15011
@Tratcher the original author here was most likely trying to setup the environment variable on linux as a systemd process monitor to watch for `dotnet` behind apache or nginx ([example](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux-nginx?view=aspnetcore-3.1#create-the-service-file))

@justlearntutors For environment variables, you need to escape the **value** `http://localhost

[2019-12-18 00:02] #17938 closed

[2019-12-18 00:13] blowdart commented on #17932
Given that 2.2 goes out of support this month it's unlikely we'd make the change as there are no more releases planned for it.

[2019-12-18 00:16] JamesNK commented on #11195
I think I know what the issue is:

[code]

The issue shows up when `HttpContext.Abort()` happens immediately after `Response.CompleteAsync()`. There is some kind of race condition in HTTP/1.1.

[2019-12-18 00:19] ajaybhargavb commented on #17867
Fixed by https://github.com/OmniSharp/omnisharp-vscode/pull/3468

[2019-12-18 00:19] #17867 closed

[2019-12-18 00:25] yshahin commented on #17723
@Tratcher this is .net core 3.0

[2019-12-18 00:48] Tratcher commented on #17723
Ok, please open a separate issue.

[2019-12-18 00:51] Tratcher commented on #11195
Ah. Abort in HTTP/1 closes the whole connection so that makes sense.

That said, you're doing unsafe multi-threading in this sample...

[2019-12-18 01:00] JamesNK commented on #11195
I was reproducing gRPC deadline conditions which are pretty unsafe. My guess was they were the problem. However it still happens when multi-threading is removed:

[code]

[2019-12-18 01:28] Varorbc commented on #17727
@pranavkm @JunTaoLuo can you help me look at this issue? This prevented me from working properly

[2019-12-18 01:53] JunTaoLuo commented on #17727
@Varorbc where did you install the ASP.NET Core shared framework from? It looks like you are installing a nightly aspnetcore shared framework without installing a nightly netcore shared framework.

I have double checked our released 3.1.0 release and there are no issues with the framework dependencies.

[2019-12-18 01:58] Varorbc commented on #17727
@JunTaoLuo By updating vs to 16.4
![image](https://user-images.githubusercontent.com/5714438/71049293-e6cbd200-217c-11ea-872b-bc2283536cb7.png)

[2019-12-18 02:10] JunTaoLuo commented on #17727
I suspect that an incorrect version of ASP.NET Core 3.1 was inserted into VS. I'll need to check our releases.

cc @leecow @mmitche

[2019-12-18 03:31] #17484 closed

[2019-12-18 03:39] halter73 commented on #17723
@yshahin I would also check whether the new issue still exists in 3.1. It's possible that https://github.com/aspnet/AspNetCore/issues/14727 partially fixes your issue if you're seeing an InvalidOperationException claiming "Reading is already in progress" after a request timeout.

As for the request body timeout itself, I would try to verify the client actually did send a complete request body in a

[2019-12-18 04:42] nguyenvanbien95 opened #17945 "Memory is constantly increasing and don't decrease in Blazor server side"
Describe the bug
I am testing performance and scalability of Blazor server side application. After 10 minutes on running, memory of app increase to 400MB. I use WAPT Pro 4.7 to request to only a page. Volume is 20 user. Time test is 10 minutes. After use ANTS Memory profiler 10 to track memory. Memory at startup is 90.84 MB(Unmanaged memory is 84.49MB and .Net use 6.35MB). Free space at time is 2.

[2019-12-18 04:52] sherlock1982 commented on #14134
BTW I advice to cleanup on startup rather than on shutdown because your app might crash and than socket will remain there anyway. This can be done in systemd hooks.

[2019-12-18 05:03] vsfeedback opened #17946 "[SignalR] which one is the correct package"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/855685/signalr-which-one-is-the-correct-package.html)._

---
<p>Which one is the correct package for .net core class library project. </p> <p>and wt is the different between them, it is quite confuse.</p> <p>Microsoft.AspNetCore.SignalR</p><p>Microsoft.AspNetCore.SignalR.Co

[2019-12-18 05:04] anurse commented on #17946
I think it would be helpful to understand your scenario here. How do you want to use SignalR in your library? The ASP.NET Core SignalR server components can't be used in a .NET Standard library, they require .NET Core. It is possible to use them from a library, but it requires .NET Core.

[2019-12-18 05:25] forktrucka commented on #14907
I tried this. Seemed to face the same problem in my implementation... What am i missing?

[2019-12-18 05:26] Daniel15 commented on #14134
Do you have an example of this?

[2019-12-18 07:02] uveta commented on #17370
I can only confirm that this solution does not solve our issue. After changing web.config in order to use AspNetCoreModule instead of AspNetCoreModuleV2 the service is behaving the same.

[2019-12-18 07:36] dag23 commented on #17932
That's fine since I want to migrate. My problem is Microsoft.AspNetCore.Identity.EntityFrameworkCore 3.1.0 targets either .net core 3.1 or .net standard 2.1. Given that the two dependencies of this package target .net standard 2.0, I wonder if this package could too.
I use AspNetCore Identity to log in to a windows forms app targeting .net framework and I can't target .net standard 2.1 since .net

[2019-12-18 07:39] mkArtakMSFT commented on #17945
Thanks for contacting us.
.NET will allocate memory when there is enough available. If necessary, Garbage Collector will run and free up the heap. Most probably what happened in your situation, GC has not run yet. If you continue to run your app for longer time I believe you will see it eventually running and freeing up space.
One more note to make is that the app startup is a critical phase in ap

[2019-12-18 08:23] Cito commented on #11498
Experiencing similar issues with Angular and .NET Core 3.0. The live reload sometimes does not work any more and sometimes I see the socket error mentioned above. In .NET Core 2.2 I never noticed such problems.

[2019-12-18 08:54] TsengSR commented on #17945
That's pretty normal, GCs in server mode happen less frequently.

If you are worried about it taking more memory, switch to [Workstation garbage](https://docs.microsoft.com/en-us/aspnet/core/performance/memory?view=aspnetcore-3.1#workstation-gc-vs-server-gc) collection.

[code]

Then startup memory will be lower and GC will happen more frequently. In Server mode it may only trigger GCs when the sy

[2019-12-18 09:05] JamesNK commented on #11195
I worked around this issue by adding a fake IHttpResponseResetFeature for HTTP/1.1 - https://github.com/grpc/grpc-dotnet/pull/695/commits/9e6890b87f27ea3bb69d3bd763868845dbef8d94#diff-888aafd42f8cabc26b28c1feccb3ed31R86-R91

`HttpContext.Abort()` was used in HTTP/2 to send RST_STREAM to a client that is still sending data. Neither JavaScript's xhr or HttpClient with HTTP/1.1 support duplex streami

[2019-12-18 09:41] emilssonn commented on #15381
@anurse I can confirm that this workaround works!
When the fix for the extension itself is released, can I remove the nuget and `UseAzureAppServices`?

[2019-12-18 09:54] andrew-vdb commented on #17924
[WebApplication2.zip](https://github.com/aspnet/AspNetCore/files/3977726/WebApplication2.zip)

[2019-12-18 10:25] paramitamandal commented on #17613
Here is the traffic captured by fiddler. Please let me know if this helps to investigate further or not.
[errorReconnectingIE.txt](https://github.com/aspnet/AspNetCore/files/3977859/errorReconnectingIE.txt)

[2019-12-18 10:40] Ricardoaraujo00 commented on #17928
@javiercn @Tratcher  The explanation in this site:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.1

points to this repository, at the bottom.

My version is a bit different

    {
        // This method gets called by the runtime. Use this method to add services to the container.
        // For more information on how to configure your application, vi

[2019-12-18 10:44] javiercn commented on #17928
@Ricardoaraujo00 thanks for the information.

This is a doc bug it seems. It is best if you file it directly on the docs page itself (at the bottom) as that creates an issue that it is tied to the exact document and it is highly visible to our doc writers (which are the ones who update this content).

/cc: @Rick-Anderson

[2019-12-18 10:59] StaticBR commented on #13709
The solution [above ](https://github.com/aspnet/AspNetCore/issues/13709#issuecomment-551376611) will result in an  "Microsoft.AspNetCore.Components.NavigationException" because you are disrupting the page build process.
If you want to secure the whole bloazor page use the app.net security mechanisms. This could be done by simply requesting an authorization for the whole _Host.cshtml file.
For exam

[2019-12-18 11:19] jfaquinojr commented on #4895
Happy Holidays! #metoo

[2019-12-18 11:52] mrpmorris commented on #17552
Would it be okay for you to add a description to the tickets, so it's users who follow them can understand what is being done?

[2019-12-18 12:31] blowdart commented on #17932
Oh I see. This might be considered a breaking change, we'd have to discuss it in the new year.

@DamianEdwards for thoughts on if this is doable or not.

[2019-12-18 12:52] nguyenvanbien95 commented on #17945
Thank you for your explaining. I will skip this it.

[2019-12-18 12:52] #17945 closed

[2019-12-18 15:00] #17919 closed

[2019-12-18 15:09] SteveSandersonMS commented on #13503
Yes, it will work in the 3.2 release. We have a plan for making it work.

[2019-12-18 15:39] Tratcher commented on #17928
The kestrel doc with that code sample precedes it with a text description for setting up Configuration:
[code]

The doc is accurate, but expanding the code sample might be clearer.

@Ricardoaraujo00 you should be able to add the code from that sample to your app if you follow the text instructions first. Those instructions match the sample I gave above.

[2019-12-18 16:02] DaleyKD commented on #17750
This is the problem we're seeing now, almost exactly.

We have a piece of middleware that needs to run for all endpoints EXCEPT HealthChecks.  Therefore, what do we do?

[2019-12-18 16:13] javiercn commented on #17750
@DaleyKD you can mark your healthcheck endpoints with some metadata and check for that endpoint metadata in your custom piece of middleware to skip it.

[2019-12-18 16:24] joeloff commented on #17288
Thanks for running this manually. The one error I do see is this:

_Info 2898. For WixUI_Font_Title textstyle, the system created a 'Tahoma' font, in 0 character set, of 14 pixels height.
DEBUG: Error 2836: The control ChangeButton on the dialog MaintenanceTypeDlg can not take focus
The installer has encountered an unexpected error installing this package. This may indicate a problem with this pac

[2019-12-18 16:45] anurse commented on #17613
How about server-side trace logs? Have you been able to collect those?

[2019-12-18 16:55] anurse commented on #17613
I'm not able to find anything in the traces. Is it possible for you to share a runnable sample application that reproduces the problem?

[2019-12-18 16:58] anurse commented on #15381
You can, though you may just want to leave it in place. It's *exactly* what the Site Extension does via ✨ magic ✨ (specifically, it configures a ["Hosting Startup Assembly"](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/platform-specific-configuration?view=aspnetcore-3.1)).

The site extension is nice because it provides a way to add this functionality without modifying your app,

[2019-12-18 17:00] #17855 closed

[2019-12-18 17:02] pranavkm opened #17948 "Consume the Mono WASM DebuggerProxy as a binary"
The Mono build produces a binary of the DebuggerProxy. We can package it up from the aspnet/blazor repo and consume it rather than building it as source in our repo.

[2019-12-18 17:08] joeloff commented on #17288
So that error seems to be related to having Modify/Repair disabled in ARP. The logs do suggest that the product is already installed.

I would suggest trying the following:

1. Open an admin prompt
2. Run **msiexec /x {A3D84A26-8F90-4C9F-A8F3-E182FA26BE09} /q /l*v uninstall.log IGNOREDEPENDENCIES=ALL**
3. Check to make sure that the product was removed, e.g. look for C:\Program Files\IIS\ANCM
4. M

[2019-12-18 17:11] mkArtakMSFT commented on #17937
Thanks for contacting us.
We will look into this during the 5.0 release.

[2019-12-18 17:23] pranavkm commented on #17924
The `IndexController` in your area is attribute routed - `[Route("Admin/[controller]")]` which explains why the default route from your Startup isn't used

[2019-12-18 17:37] Tratcher commented on #17939
Does it start if you use Kestrel (change the drop down in VS from "IIS Express" to "MyProjectName")?

Does it work if you connect to the http address for the site (as opposed to https). You can find that in the launchsettings.json file.

There are troubleshooting guides here:
https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.1
https://docs.microsoft.com/en-

[2019-12-18 17:49] uzairali001 commented on #17939
IIS express is working on http and Kestrel is also working fine even with https, if this was certificate issue then Kestrel should not work as well right?

[2019-12-18 17:52] Tratcher commented on #17939
No, Kestrel uses a different certificate configuration.

[2019-12-18 18:05] wtgodbe opened #17949 "Remove <NoWarn>NU1605</NoWarn> from EFCore tests/samples"
The build thinks `alpha1.19602.5` is newer than `alpha.1.19616.1`, which leads to errors like:

These will go away once we can ingest a new EFCore, which will happen once we get flow out of dotnet/runtime. Until then, we work around this with a `NoWarn` in a couple of projects. We should remove those as soon as possible. See https://github.com/aspnet/AspNetCore/pull/17940

[2019-12-18 18:17] halter73 commented on #13248
@Yuzal Is this still a problem? If so, can you provide a repro? A bot will close this issue if there's no author feedback within a week.

[2019-12-18 18:29] DaleyKD commented on #17750
For now, I just went back to the old app.UseHealthChecks.  Fixed my needs for now.

[2019-12-18 18:42] uzairali001 commented on #17939
After repairing VS IIS Express is now working fine. Thanks for the help

[2019-12-18 18:42] #17939 closed

[2019-12-18 18:51] mfjerome commented on #17937
👍 +1 for this issue.

After upgrading our project to .NET Core 3.1, a big part of our integration test suite is failing because our mocked http clients are no longer being registered in the tests to override the real implementations from the startup.

There is no plan to release bug fixes to .NET Core 3.x before .NET 5 next year?  It feels a bit far..

[2019-12-18 19:00] #17751 closed

[2019-12-18 19:00] #17740 closed

[2019-12-18 19:06] vsfeedback opened #17950 "Class Rename not process razor pages/components (VS 2019 V. 16.4.1)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/852664/class-rename-not-process-razor-pagescomponents-vs.html)._

---
The function that renames classes does not process the razor pages (razor components / blazor).
This problem also occurred in earlier versions of VS 2019.

---
### Original Comments

#### Visual Studio Fe

[2019-12-18 19:10] michuny25 opened #17951 "[BLAZOR WASM] Lagging textarea binding with large amount of text"
I am using textarea in Blazor webassembly (core 3.1) which is binded to a property in the page. I am using bind-value and bind-value:event because when I use only bind="Property" then It does not update as the user is typing which is my use case. I am using this binded value to send requests and save current content of the textarea after the user stops typing.

``` <textarea @bind-value="Note.Cont

[2019-12-18 19:11] egrabitt commented on #17269
thanks, but trial won't last very long. VS 16.4.2 has still got the problem.

[2019-12-18 19:11] halter73 commented on #17946
For a .net core class library project, you want the "Microsoft.AspNetCore.*" packages and not the "Microsoft.AspNet.*" packages which are for classic ASP.NET/OWIN on full framework. Beware as @anurse mentions that the 3.0 "Microsoft.AspNetCore" packages cannot be reference from libraries targeting netstandard*, but this should be a problem if you're targeting netcoreapp*

[2019-12-18 19:33] BrennanConroy commented on #17946
If are writing a class library for 3.0 or later and want to use ASP.NET Core SignalR Server libraries you can add a `FrameworkReference`. See the Microsoft.Azure.SignalR library that does this: https://github.com/Azure/azure-signalr/blob/53d2830e7dd9091af0b97113b2b843b9629d570c/src/Microsoft.Azure.SignalR/Microsoft.Azure.SignalR.csproj#L40

[2019-12-18 19:45] halter73 commented on #17613
I took a look at the fiddler trace too. The following request seems to be the reconnect attempt that failed. The trace shows the request only lasted a second and transferred a few bytes. The last WebSocket request happened 30 seconds later and seems to have stayed open until the end of the capture.

[code]

I agree with Andrew. It would be super helpful to get a runnable sample that demonstrates t

[2019-12-18 20:05] partyelite commented on #17480
I'm have the same issue...

[2019-12-18 20:34] mkArtakMSFT commented on #17950
@NTaylorMullen can you please look into this? Thanks!

[2019-12-18 20:58] kJacobi commented on #17751
I am running into same issue.   I have a core 3.1.100 web api, and I'm using VS 2019 16.5 Preview 1.0.
I'm trying to add-migration.   I get the following result in package management console:
![image](https://user-images.githubusercontent.com/15020825/71122432-94a3a480-21ae-11ea-9f2d-0c251b637e97.png)

..I go to check and sure enough the file is there.   I gave full permissions to Everyone so that

[2019-12-18 21:00] #17782 closed

[2019-12-18 21:01] anurse commented on #17915
Can you post a runnable sample that reproduces the issue? We do support TypeScript via importing the module.

[2019-12-18 21:07] anurse commented on #17900
Those are the docs for the previous version of SignalR. Note the banner at the top of the page:

![ASP.NET SignalR docs with a banner indicating that the docs are for a previous version of SignalR](https://user-images.githubusercontent.com/7574/71123325-3d460a00-2197-11ea-85da-7061a4d109a0.png)

Are you using ASP.NET Core? If so, the docs can be found here: https://docs.microsoft.com/en-us/aspnet/

[2019-12-18 21:15] pranavkm commented on #17751
@kJacobi can you file a separate issue with a minimal project that reproduces the error?

[2019-12-18 21:29] anurse commented on #17662
@NCSharp can you try attaching the Native debugger as well? The `aspnetcorev2_inprocess.dll` module is a native library so you won't see it if you only have the Managed Code debugger attached. You can attach to the process with the "Mixed" debugging option (or launch under the mixed debugger via Project Properties). If you can get that attached, you should be able to find `aspnetcorev2_inprocess.d

[2019-12-18 21:56] ajcvickers commented on #17932
@blowdart
* ASP.NET Core 3.1 requires .NET Core 3.1. So the only place this is relevant is when the package is being used outside of ASP.NET Core.
* Going from .NET Standard 2.1 to .NET Standard 2.0 is not, in of itself, a breaking change. EF did this between 3.0 and 3.1. However, it could still break stuff, because a fair amount changes under the covers even if the result should work the same. We

[2019-12-18 22:00] the-real-coder opened #17954 "Angular Template - Component styles do not get applied after ng build --prod (publish)"
Steps to reproduce:

1. Create a new ASP.NET Core Angular application with .NET Core SDK 3.1 (Visual Studio 2019)
2. Add a new CSS file (home.component.css) to the home component with some basic style
3. Update home.component.ts to include the newly added CSS file
4. Run the application locally, style from home.component.css gets applied to the home.component
5. Publish and deploy the application,

[2019-12-18 22:22] johnkors commented on #17937
I had a similar experience, where I ended up manually adjusting my container in tests:

[code]

But adding to the discussion:

In .NET Core 2.1, we could create many HttpClients from the same type (class) using named types. I used named types for configuring the same client with different configuration, [for example as in here](https://github.com/icenorge/PayEx.Client/blob/master/src/PayEx.Client/

[2019-12-18 22:23] mkArtakMSFT opened #17955 "🎅 🎄 Happy Holidays, everyone! Responses for issues may be delayed till early January"
As the holidays are approaching, many of our team members are taking time off to get some rest.
Because of this, responses to new issues, PRs, and comments may be delayed till early next year.

Happy Holidays!

[2019-12-18 22:47] Trolldemorted opened #17956 "Server-side Blazor: Consistently push to multiple circuits"
### Is your feature request related to a problem? Please describe.
There are several issues that ask about how we should push data to clients (e.g. https://github.com/aspnet/AspNetCore/issues/10559, https://github.com/aspnet/AspNetCore/issues/14778), and none has received a clear response so far.

The absence of documentation and guidance has fostered blogs and demos that propose odd workarounds,

[2019-12-18 22:47] SebHonorine commented on #17937
I tried to do the remove trick and it does not work for httpClient. Also, my issue here is that we are loosing the main feature of overriding services as it used to in integration test.
We loosing an awesome feature in my opinion and waiting .net 5 is kinda hard to accept. But yeah i should have been more carefull during 3.0 preview.

[2019-12-18 23:00] #17749 closed

[2019-12-18 23:22] Marusyk commented on #17285
Can we close it?

[2019-12-18 23:42] shirhatti commented on #17370
@uveta While I'm not sure what's happening, I have a couple of observations/questions that may help identify what's happening:

1. Hosting Startup failures shouldn't crash your application. We **specifically** don't fail Startup for HostingStartup

1. Can you confirm you haven't enabled the Application Insights site for your app service resource as you've claimed? Here's what the Application Insig

[2019-12-19 01:22] GoFightNguyen opened #17958 "Advantages of aspnetcore supported Health Checks vs explicit controller HttpGet"
My current aspnetcore application has explicit Web Apis for performing health checks. In other words, I have explicit HttpGets defined in a Web API Controller.

What advantages do I gain by moving to the aspnetcore supported ways of health checks as described in https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/health-checks?view=aspnetcore-3.1

Personally, I like the new approach, but

[2019-12-19 01:51] manavu opened #17960 ".net core 3.1 shared localization can't work."
### Describe the bug
shared localization can't work.
It works if you run a similar source on [.net core 2.2]

### To Reproduce
I used this document as a reference
https://docs.microsoft.com/ja-jp/aspnet/core/fundamentals/localization?view=aspnetcore-3.1

sample source
https://github.com/manavu/localization-test

### Further technical details
- ASP.NET Core version
3.1

- Include the output of `dot

[2019-12-19 02:06] caioproiete commented on #17911
@NTaylorMullen Yes, the green squiggle on the screenshot was being shown by one of the [Power Commands for Visual Studio](https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.PowerCommandsforVisualStudio) extensions, the [Solution Error Visualizer](https://marketplace.visualstudio.com/items?itemName=VisualStudioPlatformTeam.SolutionErrorVisualizer).

It looks like it might

[2019-12-19 02:06] #17911 closed

[2019-12-19 03:20] csc414 opened #17961 "aspnetcore 3.1 SignalR invoke throw InvalidDataException"
[code]

Failed to invoke 'GetLogs' due to an error on the server. InvalidDataException: Error binding arguments. Make sure that the types of the provided values match the types of the hub method being invoked.
no problem in aspnetcore 2.2.
why so simple structure not supported?

[2019-12-19 03:45] leung85 commented on #17946
Thanks all for explanation.
Visual Studio suggest me install Microsoft.AspNetCore.SignalR or Microsoft.AspNetCore.SignalR.Core
i try both, and both work, but wt is the different ?

[2019-12-19 04:28] Svek commented on #17862
You have to check for any rogue references to 2.x -- it was difficult for me to find the root cause, I feel your pain in that experience.

[2019-12-19 04:50] cweining commented on #17370
@uveta - My team owns the site extension that loads DiagnosticServices.HostingStartup and we have not been able to reproduce the issue you are seeing.  I'm interested in the answer to the questions that shirhatti posed above but I think it would be best to have a phone call so we can dig deeper into this problem. If you want to meet with my team, please send us email to serviceprofilerhelp@microso

[2019-12-19 05:24] azydevelopment opened #17962 "JWT token silent renew breaks and causes crash on React template with authentication"
### Describe the bug
The JWT silent renew in the React template with authentication can fail in some scenarios. What happens is the token is listed as expired (user.expires_in is negative and outside the 5 minute clock skew grace period). As a result, the API request fails with a 401, the token is never renewed, and the user can no longer get into [Authorize] marked areas. The only way to solve th

[2019-12-19 07:44] uveta commented on #17370
@shirhatti
This is how app insights blade looks like for problematic service
![image](https://user-images.githubusercontent.com/36596808/71153376-425b9580-2239-11ea-956e-81da4b36fcf4.png)

I believe it means we have it enabled via SDK and not site extension. Regarding your first question, I admit I am not 100% sure that application crashes, as I have no exact way to determine when it is running in

[2019-12-19 07:53] davidfowl commented on #17370
It means you have the site extension installed (even if you are using the SDK in your application).

Which ones? The ones above are caught by the framework and continue execution.

That sounds more convincing and if you can reproduce it then we should absolutely look further. It would help to also look at the diagnose and solve problems blade -> search for application event logs and take a look th

[2019-12-19 09:13] andrew-vdb commented on #17924
thanks its working

[2019-12-19 09:13] #17924 closed

[2019-12-19 09:27] inech opened #17963 "ASPNETCORE_Environment overrides cmd parameter"
### Describe the bug
We've noticed a very strange behavior of hosting environment setting. When using `ASPNETCORE_Environment="fromEnv"` environment variable and `--Environment=fromCmd` command-line argument then for some reason the environment variable wins.

This is very inconsistent given that:
1. `ASPNETCORE_urls` vs `--urls` - command-line argument wins &#x1F4D7;
2. `DOTNET_ENVIRONMENT` vs `-

[2019-12-19 09:59] MrHanQR opened #17964 "WebUtility.HtmlDecode and HttpUtility.HtmlDecode Bug in core 3.1"
### Describe the bug

[code]

I have some html code like this.It's read from my database.
When I use **WebUtility.HtmlDecode**  to decode the html,I find that I can't success decode the &lt; &gt; in the <script> scope. And  **HttpUtility.HtmlDecode** show the same issue.

The detail code is
```              c = l && parseInt(l[1].split('.').join(''), 10) &gt;= 80, ```
and
 ```           p || (d &&

[2019-12-19 10:11] rjperes commented on #5458
Question: is this for publishing Microsoft.AspNetCore.Components.Testing?

[2019-12-19 10:21] babarqb commented on #17931
I face the above problem when I open a solution from a recent project and folder context menu and especially when a project or solution created by Rider but when I open a solution from double click then analyzer load correctly and no more analyzer issue.

[2019-12-19 10:30] johnkors commented on #17937
Yeah, the manual removal trick I mentioned was not for HttpClientFactory based HttpClient registrations, as that is a bit more involved.

It seems like there is a breaking change in .NET Core 3 when it comes to registering multiple HttpClients of the same _type_, meaning you would have to migrate to using named clients instead.

In .NET Core 2.1, this was supported:
[code]

In .NET Core >3.0, the

[2019-12-19 11:29] johnkors commented on #17616
Thanks, @Tratcher . I was a bit surprised by this, but creating a static empty oidc configuration made the test pass. I would have expected it to fail with "no configuration error", perhaps. Is an empty OIDC configuration a valid scenario? It looks like an empty OIDC config will be treated as all issues/authorites/signers are valid?

[code]

[2019-12-19 11:41] johnkors commented on #17937
I found this issue about the regression, https://github.com/aspnet/Extensions/pull/2710

So it looks like there will be a fix in 3.1.2.

[2019-12-19 11:54] SyntaxWarrior commented on #17919
I also ran into this. I have a project that I have been working on for a while and got this after trying to get rid of this error:

`browserlist: caniuse-lite is outdated`

I followed this advice: https://stackoverflow.com/a/58523903/937131
And then did an npm update / install

This also seems to have moved "oidc-client": to a higer version "1.10.1", not sure if this is related.

And now I have th

[2019-12-19 12:32] skuami commented on #7756
Like many others, I need also for email generation a StringLocalizer in a specific language and switching the current culture is not a clean solution.
I totaly agree with @anna-git - the suggested solutions with switching the current culture is kind of dirty. It also needs way more code to write. But on the other hand I do understand the reason to remove this method from the IStringLocalizer inter

[2019-12-19 13:10] Ricardoaraujo00 commented on #9020
@moodya  can you share with us how you did that??

[2019-12-19 13:14] dradovic commented on #7756
Exactly what I wrote too.

[2019-12-19 14:45] Ricardoaraujo00 commented on #17928
Certainly the problem is mine because i'm not pro enough. Sure you guys have no problems understanding where to place this and that, and how to use this code for this action, or another code for another action. I just think if this explanation where a lot simpler it would be understandable both by pro and beginners.

I just want to do a simple thing. Expose my aspnet core gRPC service to the outsi

[2019-12-19 15:26] viktorgullmark commented on #17613
Just wanted to pinch in: We're experiencing the same behaviour in a react app using @microsoft/signalr 3.0.1. Can share the code later on!

[2019-12-19 15:45] cweining commented on #17370
You could also try turning off the profiler and snapshot debugger. There are switches on the App Insights page that you reference above. I'm curious to see if the error and symptoms go away if you disabled those two features. To be sure they are really disabled, you can rename or delete these three app settings:

APPINSIGHTS_PROFILERFEATURE_VERSION
APPINSIGHTS_SNAPSHOTRFEATURE_VERSION
DiagnosticSe

[2019-12-19 15:49] Tratcher commented on #17616
That is surprising. That might be worth asking the OpenIdConnectConfiguration owners about at:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2019-12-19 15:49] Enriquecerviro commented on #5621
Is this still alive? not the thread, the feature I mean

[2019-12-19 16:00] Tratcher commented on #9020
The gRPC template is self hosted kestrel by default. It's not going to work in app service for the reasons outlined in this thread.

[2019-12-19 16:06] paramitamandal commented on #17613
@halter73 @anurse Can you please let me know the specific requirement about the runnable sample application? We just created a connection between dotnetcore web app and an angular web app with @microsoft/signalr 3.0.1 and experiencing the error everytime while reconnecting.

[2019-12-19 16:09] anurse commented on #17613
@paramitamandal Ideally a git repo we can clone and run (with some steps you provide) to reproduce the issue. We can certainly try to reproduce this ourselves, but there may be a subtle difference that doesn't become clear until we're comparing code. If it's easy for you to set up a repro project then we don't lose a bunch of time to getting the correct scenario identified.

[2019-12-19 16:13] Tratcher commented on #17928
Where you able to apply the sample code I gave above? https://github.com/aspnet/AspNetCore/issues/17928#issuecomment-566666011

What do you have in your appsettings.json file? (that's what Configuration reads).
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.1#configureiconfiguration

When exposed publicly, are you planning to use http or https? Using ht

[2019-12-19 16:16] anurse commented on #17946
If you're targeting .NET Core 3.0 or higher (the most recent releases of .NET Core), those packages are obsolete. They existed **only** to support ASP.NET Core 2.2 (and **earlier**) on .NET Framework.

The FrameworkReference is the only way to reference the server-side components in .NET Core 3.0 and above.

@leung85 What version of .NET Core are you intending to target?

[2019-12-19 16:17] anurse commented on #17285
We can! Thanks for the contribution @Marusyk !

[2019-12-19 16:17] #17285 closed

[2019-12-19 16:24] Ricardoaraujo00 commented on #17928
@Tratcher i have the standard settings. What you have there is very different from what Visual Studio made from the gRPC service template. What i have is this:

[code]

So, i have to replace everything that i have in appsettings.json file(it is in the project root folder) with your https version.
Then have to publish and simply copy what is in the publish folder to some folder in c: due to permiss

[2019-12-19 16:48] vintzl opened #17965 "Blazor — Passing object to sibling component"
I am not sure if this is due to a lack of documentation, or there is some missing feature, but I have found a not really related question here:
- https://github.com/dotnet/docs/issues/16001

and a similar unanswered question on SO:
- https://stackoverflow.com/questions/58276236/passing-object-between-siblings-components

and I am still looking for a solution. What fallows come from the above menti

[2019-12-19 17:22] s-whaley commented on #17919
I ran into this issue as well. I believe it is related to the updated oidc-client package 1.10.x release which added a new type for 'Profile'. I do not think this is related to ASpNetCore.

[2019-12-19 17:41] vsfeedback opened #17966 "Identity4 implicit logonflow does not work anymore after updating vs2019 from v16.3.x to v16.4.2"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/861508/identity4-implicit-logonflow-does-not-work-anymore.html)._

---
[regression] [worked-in:16.3.x]
After the update Identityserver4 fails authentication for implicit workflows.

I know because I had older version of vs2019 running at my home computer. I compiled it ther

[2019-12-19 17:43] Tratcher commented on #17962
@javiercn this looks like an issue with the SPA template.

[2019-12-19 17:59] ChristianKuhre opened #17967 "Strange behavior with DI and optional constructor parameters"
### Describe the bug
I am registering a class, with an optional parameter in the constructor, to the service collection.

For some reason it starts getting constructed with a arbitrary value after a number of constructions.

It seems very strange and I am not sure if it is only a problem with my machine.

### To Reproduce
I have created a small test solution for reproducing the problem.
[Dependenc

[2019-12-19 18:25] anurse commented on #17736
Ok, given that, I think #17797 is the main action we can take here. I'm shifting this specific issue to the Discussions milestone. We can continue discussing and create issues if any other actionable work comes out.

@Kant8 I'm curious how quickly you are generating messages in your app. Generally, buffer growth like this would occur because you are generating messages much faster than the network

[2019-12-19 18:26] pranavkm commented on #17964
This issue was moved to dotnet/runtime#1065

[2019-12-19 18:26] #17964 closed

[2019-12-19 18:35] pranavkm commented on #17958
One of the primary advantages is that you could choose to use one of the many health check libraries for your health checks rather than building one from scratch. However if you have something that already works for you, you have to weigh the cost of re-using code over re-testing changes to make sure it works as per as your expectations \ requirements.

[2019-12-19 18:37] Tratcher commented on #17928
Try it and see how far you get.

What permissions issues? It shouldn't matter where you run the app from.

Additional steps:
- Create your own certificate. https://www.petri.com/create-self-signed-certificate-using-powershell
- Open firewall ports - https://www.tomshardware.com/news/how-to-open-firewall-ports-in-windows-10,36451.html

[2019-12-19 18:43] mrpmorris commented on #17965
In the first component have a property, then bind the Forecast parameter of your second component to that.

`<Other Forecast=MyForecast/>`

You may wish to make the source property capable of two way binding.

https://blazor-university.com/components/two-way-binding/

[2019-12-19 18:47] the-real-coder commented on #17954
Do I need to install nodejs on the server where the ASP.NET Core Angular 8 application is deployed? I deployed the web application package on my development machine IIS and I can get the styles working but when I deploy the same package on the server (does not have nodejs installed) styles do not get applied as described in the issue above.

[2019-12-19 19:00] pranavkm commented on #17965
Thanks @mrpmorris for your recommendation. I've also found this blog post pretty useful: https://chrissainty.com/3-ways-to-communicate-between-components-in-blazor.
@vintzl I'll encourage you to continue pursuing this discussion on StackOverflow if you need further help.

[2019-12-19 19:06] pranavkm commented on #17956
Thanks for your issue report. We'll look at getting some samples or guidance added to cover this scenario.

[2019-12-19 19:08] #17205 closed

[2019-12-19 19:37] SebHonorine commented on #17937
ho good findings.
Seems to be related. I though the ConfigureTestService was doing a real override of the httpClient of the startup. It looks like it just add the httpClient and doing a kind of validation to change it to the fake one during runtime.
But thank you.

[2019-12-19 19:39] cpboyd commented on #17925
Just to clarify, the issue occurs when Angular compilation fails (not .NET).

The Angular error shows in the command prompt, but it was kind of confusing to see a timeout error in the browser.

I guess it may not be a "bug" per se, since effectively the Angular server doesn't respond.

It'd just be nice if the SPA extensions could provide a more helpful error message than the vague timeout, which

[2019-12-19 19:40] vintzl commented on #17965
And what about adding these informations in https://docs.microsoft.com/?

[2019-12-19 20:16] martienpoels-bank2loyalty commented on #17966
This is the output from my home pc (I'm @home now, its 21:00 here :)
It looks like I'm running 3.0.100 which should already have the troubrle right?

I will try to make a fidler trace tomorrow, I hope this is possible to a localhost connection? On the cluster there is the version compiled from the home pc and that one is working.

[code]

[2019-12-19 20:59] Tratcher commented on #17966
You have Microsoft.AspNetCore.App 3.0.0 on that machine. The SameSite changes I mentioned are in 3.0.1 and 3.1.0. Check what's on your other machine.

[2019-12-19 21:00] #17374 closed

[2019-12-19 21:00] gregFDS commented on #6000
@Tratcher - I think Batch Support would still be useful because one could treat the entire batch as a single transaction, committing or rolling back related changes together.

[2019-12-19 21:02] TroelsL commented on #17754
Same issue here. Spent an evening tracking this down before finding this post. Can confirm that the workaround worked. Thanks!

[2019-12-19 22:10] anurse commented on #17768
This sounds a lot like a bug. The doc is pretty clear that this is exactly what you would do to *require* a specific scheme. If the code isn't doing that, we should look at fixing that. If there are breaking change issues, we can look at implementing a new feature and updating the doc. Either way, this seems to be something we claim is working, but it is not :).

@clement911 The suggestion @HaoK p

[2019-12-19 22:18] anurse commented on #17780
So you have two instances of Identity registered in the app? I'm not sure that actually works. @HaoK do you know?

[2019-12-19 22:20] JamesNK opened #17972 "Add HttpProtocols helper class"
Basically the same as `HttpMethods`, except for HTTP protocol version, e.g. HTTP/1.1, HTTP/2, `HttpProtocols.IsHttp11(protocol)`, `HttpProtocols.IsHttp20(protocol)`, etc.

Right now the only way to check the protocol version is magic strings, e.g. when request is HTTP/2 then `HttpRequest.Protocol == "HTTP/2"`

[2019-12-19 22:21] JamesNK commented on #17972
Maybe have a different name because there is already a `HttpProtocols` enum in Kestrel.

[2019-12-19 22:33] cyraid commented on #17915
Thank you @anurse for the assistance! Absolutely, here is a snippet:

[code]

[2019-12-19 23:02] HaoK commented on #17768
Just to be clear, when I added a simple unit test to try and repro the behavior, I couldn't reproduced it via https://github.com/aspnet/AspNetCore/pull/17816  But its possible he is hitting something going on at a higher level, @clement911 can you post a repro app somewhere for us to look at?

[2019-12-19 23:22] jkotalik opened #17973 "SDK regression in 3.0.101 and 3.1.100 for ASP.NET Core workloads"
# SDK regression in 3.0.101 and 3.1.100 for ASP.NET Core workloads

The 3.0.101 and 3.1.100 versions of the .NET Core SDK have a regression which potentially causes 2.2 and 3.0/3.1 dependencies to mismatch, causing applications to fail to start when running with IIS InProcess.

For the official announcement, see https://github.com/aspnet/Announcements/issues/398.

## Version introduced

.NET Core

[2019-12-19 23:27] jkotalik commented on #17662
Update to this thread, we found a regression in the SDK which caused this mismatch in dependencies. Information is in the referenced issues. Workarounds are mentioned there and I'll update this thread when we we release a formal fix.

[2019-12-19 23:50] scalablecory opened #17974 ".... hello-world-tutorial/modify"
_From @pete-r61 on Tuesday, December 17, 2019 8:59:45 PM_

Problem encountered on https://dotnet.microsoft.com/learn/aspnet/hello-world-tutorial/modify
Operating System: windows 10

Hello,
Just getting started with basics, I got stuck already after the first page. Below some data. Hope someone can help
Regards P.

**After copy/paste**
[code]
**Error Message:**
An unhandled exception occurred while

[2019-12-20 00:52] rynowak commented on #17958
If your health check is just "is the server running" - ie you don't check anything in particular and just respond to the ping, then that's functionally equivalent to using `MapHealthChecks()` without registering any checks.

I'd second what @pranavkm said, the health checks system has extensibility and some other nice features that you'd want if you're doing something more in depth.

if you're hap

[2019-12-20 00:57] JohnnyFun commented on #17290
fwiw, yar:

[code]

[2019-12-20 02:45] halter73 opened #17975 "Kestrel uses the modified value of HttpRequest.Protocol to make request processing decisions"
As @JamesNK [discovered](https://github.com/grpc/grpc-dotnet/pull/695/files/a78ea1ad674575f4370be6c4cd6cc00fdd5af2f5#r360197429), Kestrel will use the value set on HttpRequest.Protocol by middleware to make request processing decisions. This mostly just effects HTTP response writing logic since request parsing is mostly complete by the time middleware runs. Even so, there's no reason Kestrel shoul

[2019-12-20 03:16] leung85 commented on #17946
@anurse  I am using .net core 3.1.
I just create some demo projects for me to better understand the .net core , signalr and those package relationship.

I create :

- WebAPI  project which targeting .NET Core 3.1
- Class library project which targeting .standard 2.1

WebAPI  project  reference class library project.
In that library project, i create a Hub which is used in WebAPI  project.

[2019-12-20 03:23] andrew-vdb commented on #9020
While it cant be hosted in app service, lets say we host grpc service on aks, is there any problem to call grpc from app service? Will grpc client at least working on app service?

[2019-12-20 04:03] Tratcher commented on #9020
Yes, clients should work. The limitation is only on inbound requests, not outbound.

[2019-12-20 05:22] aneeshsiva77 opened #17977 "Unable to Inject Dependencies to SignalR Core Hub (Microsoft.AspNetCore.SignalR.Hub)"
We are currently using Notification Hub (Microsoft.AspNetCore.SignalR.Hub), When the Hub receives a message form the client, we needs to save the message to a database. For that we need to inject the dbcontext / repositories to the hub.
Is it possible to inject dependency to a SignalR hub (We tried the HubContext option but drop the plan because of the unavailability of the methods OnConnectedAsyn

[2019-12-20 06:41] davidfowl commented on #17977
Yes you can.

[2019-12-20 07:11] mrpmorris commented on #17951
Please show your code for LoadNotes

[2019-12-20 07:30] gingters commented on #17833
Just to double-check:
@Tratcher Is it really as simple as copying that patched class in your project and setting a new instance of it to the `CookieAuthenticationOptions.CookieManager` property when configuring the services?

It does not help to put that in the DI, as its not taken from there anyways, right?

[2019-12-20 07:56] martienpoels-bank2loyalty commented on #17966
Goodmorning, here's the failed fiddler trace

[code]
And here's the dotnet --info from the failing machine:

[code]

[2019-12-20 08:05] aneeshsiva77 commented on #17977
Hi @davidfowl Thanks Much for the reply. Can you please share some link / documentation that explain DI using SignalR Hub

[2019-12-20 08:40] martienpoels-bank2loyalty commented on #17966
Ok with the link https://docs.microsoft.com/en-us/aspnet/core/security/samesite?view=aspnetcore-3.1. And the help of Chriss Ross I managed to solve the issue. Although the information in the link is not correct as SameSiteMode.Unspecified is not an available option. I modified the sections as suggested and now it works like a charm, I tested chrome, firefox, edge and internetexplore. All good!

St

[2019-12-20 08:51] maliming opened #17979 "Accessing the properties of the IApiDescriptionGroupCollectionProvider is blocking threads and memory leaks."
Test environment:
[code]
Target framework is **netcoreapp3.1**

The code to reproduce the problem is very simple.

[code]

Get **/api/home** blocking and memory leaks.
[code]

![image](https://user-images.githubusercontent.com/6908465/71242275-95703e00-2348-11ea-887e-1af87b92f69a.png)

**If I remove the Type parameter of the Provacy method, the above problem does not occur.**

[2019-12-20 09:02] johnkors commented on #17616
Ok, thanks. Created a ticket: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1307

[2019-12-20 09:33] programmersommer opened #17980 "__Secure cookie not removed after await HttpContext.SignOutAsync();"
### Describe the bug
I am using .NET Core 2.2

[code]

When user is trying to log out with
`    await HttpContext.SignOutAsync();`
he can't
It is also not possible to remove this cookie manually.
Everything works fine if remove "__" from Cookie name
`    options.Cookie.Name = "Secure-MyWebsite.Auth";`

[2019-12-20 09:55] penfold opened #17981 "Publish a SPA does not zip output"
### Describe the bug
I have an Angular 8 SPA in .net core 3.1

When I run:

dotnet publish \.Www\Www.csproj --configuration Release --output \output

The project is built and the SPA is also built correctly, but the output is not zipped.

The documentation suggests that zip output is defaulted to true.

This issue manifested itself in DevOps build pipeline but is reproducible on my local command l

[2019-12-20 10:03] Triggs9 opened #17982 "JS to C# != ElementReference; C# to JS == ElementReference"
### Describe the bug
when calling a C# call from JS the returned object fails to resolve ElementReference to a referenced element. C# calling JS with the same object resolves the element reference correctly.

they are both resolving to JSObjects some how, just wondering if its possible for the returned object to be resolved as an ElementReference?

this is currently a blocker for me because i can'

[2019-12-20 10:09] serenata-keith-mifsud opened #17983 "Correct Endpoint ignored by EndpointRoutingMiddleware"
### Describe the bug
In UseEndpoints, I have a custom MapBlog and mvc route mappings

The MapBlog maps `blog/{**slug}` to a new IApplicationBuilder which uses a proxy middleware.

Some of the route mappings contain multiple constraints, and this somehow removes `blog/{**slug}` from consideration.

Example of this: `{a:regex(^defaultValue$}/{b:regex(^defaultValue$}`

In reality the endpoints in my

[2019-12-20 10:23] michuny25 commented on #17951
[code]
[code]
There you go. But I am pretty convinced this doesn't cause the delay, beause it fires only when the user stops typing, but the lagging is while the user presses keystrokes. Moreover, I tried to commend out the content of the LoadNotes() and the lagging textarea for huge text still persisted.

[2019-12-20 10:52] sinand opened #17984 "bug not resolved but closed."
https://github.com/aspnet/AspNetCore/issues/17785

[2019-12-20 10:53] schmitch commented on #17956
I mean I think most people probably wan't to stream data to multiple clients, which triggers a rerender without going trough
server -> client (javascript signalr or so) -> calls blazor callable js function (which involves a server roundtrip) -> re-render.

I think most people just want something like a `IAsyncEnumerable<Data>` that multiple subscribers can subscribe to, without going trough the se

[2019-12-20 10:54] serenata-keith-mifsud commented on #17960
Hi I have encountered the same issue, and annoyingly fixed it by setting the namespace in SharedResource to LocalizationTest.Resources, and moved SharedResources.resx and SharedResources.ja.resx to Resources/Resources

[2019-12-20 11:01] KamranShahid opened #17985 "First Request too slow and delay in middleware on asp.net core 3.1 web api"
I have asp.net core 3.1 web api project which i have deployed on ubuntu 18 AWS machine. I were recently doing load testing then found out that first request is always slow.
Please guide me how can i reduce first request time

[2019-12-20 11:02] schmitch opened #17986 "better blazor scale-out documentation"
currently our company want's to scale-out blazor a little bit, however the documentation is really lacking, especially what happens if redis/azure signalr services is used as a backend.

I mean currently SignalR itself can be configured without sticky sessions and redis.
However there is nearly no documentation, if something like that can be done with blazor.

Also what happens in case of a server

[2019-12-20 11:11] tstivers1990 opened #17987 "Forms without an instance of model"
How can I do this without declaring `RequestModel` in the Razor PageModel? It inevitably ends up going un-used. Its presence creates potential for confusion and mistakes.

https://gist.github.com/tstivers1990/a7bf2c604a9e16f5116fbcc866859e80

[2019-12-20 11:48] paramitamandal commented on #17613
will give u the repo link soon.

[2019-12-20 11:58] Seabizkit commented on #5621
bug you mean, and I'm pretty sure that the

does not work, as the issue is it randomly detects changes in JS, files or what ever file, aka there is no change, there is nothing to undo. I think you maybe experiencing something else.

now i come into this issue when i started working on another teams code, which was all over the place.... in terms of having what i consider weird ways of working, any

[2019-12-20 12:12] Kant8 commented on #17736
Unfortunately I cannot reproduce case where buffers were 4KB, they are all 8KB now. Mb that depends on .netcore version.
I was sending file in that stream, so data is available almost immediately, network is definitely slower than SSD + FileStream buffer caching.
And yes, memory consumptions is much better when I send arrays up to 7KB (so 7KB bytes + array length + manual length field + stream mes

[2019-12-20 12:15] yohsii commented on #17780
here's the code
[code]

so i'm using `AddDefaultIdentity` with one type of user and i'm using `AddIdentityCore` with the second type of user

[2019-12-20 12:21] Ricardoaraujo00 commented on #17928
Tank you for your time @Tratcher .
Unfortunately, that way to generate a certificate throws an error on the final command(yes, i've created the temp folder). Either way i generated a certificate with the IIS.

[code]
So i placed that code on the appsettings.json but when i run the application i always get an error that should be so obvious to fix that this is a bug or i'm really sleeping. The tran

[2019-12-20 12:31] KamranShahid opened #17988 "What's the default service lifetime of Controllers in asp.net core 3.1"
Please let me know what's the default service lifetime of controllers (web api's) in asp.net core 3.1
I were reading following
https://joonasw.net/view/aspnet-core-di-deep-dive
But can't able to extract what will be the default. I am facing delay in first request so researching how to improve it

My current startup code is as following

[code]

[2019-12-20 13:04] Tratcher commented on #17928
Try it without the angle brackets.
[code]

[2019-12-20 13:09] Tratcher commented on #17833
@gingters a copy should work, though I haven't tried it yet. You will want to rename it.

You're correct that DI is not involved here.

[2019-12-20 13:16] Tratcher commented on #17966
Unspecified was introduced in 3.1. In 3.0.1 you use (-1).
[code]

[2019-12-20 13:26] blowdart commented on #17984
I've reopened it and will close this one.

[2019-12-20 13:26] #17984 closed

[2019-12-20 14:18] adugasBID commented on #17898
I'm in the same situation as him.

It gives the error "cannot convert from 'System.TimeSpan' to 'System.DateTime'" inside the .razor (same error as him) AND it will give the error "cannot implicitly convert type 'System.DateTimeOffset?' to 'System.TimeSpan'" inside the .razor.g.cs

I'd like to point out this is in no way an "offset" to a datetime, this is just a time field. There is no notion of "

[2019-12-20 14:24] penfold commented on #17981
Not sure this is a real issue. Didn't see anything in the output to say it had zipped. Closing as 'not an issue'.

[2019-12-20 14:24] #17981 closed

[2019-12-20 14:52] nminaya commented on #17985
@KamranShahid Did you check if you have some lazy loading configuration that is initialized when the first request is received?

[2019-12-20 14:56] yahorsi commented on #10041
Could someone please clarify if we should do anything else but adding AddNewtonsoftJsonProtocol to make things working "same way" as it was on 2.2?

After we have migrated to the 3.1 we observe few weird behaviours so wondering if we did something wrong.
Here is the startup.cs

[code]

[2019-12-20 15:27] phibsi opened #17989 "ASP.NET Core 2.1 Kerberos delegation not working"
Hi all,

we have an ASP.NET Core 2.1 API running on a Windows Server 2012 R2 in IIS.
The IIS is configured to user Kerebros authentication, SPNs are set correctly and the application pool identity is a custom domain user. Delegation is enabled, too.

The API is called by a browser and tries to connect to a SharePoint 2013 Server using impersonation and web requests.
When I call the API with my acc

[2019-12-20 15:33] MarkStega opened #17990 "Access to RCL embedded resources from css is problematic"
### Describe the bug
In an RCL I am trying to access a resource from css with a broken http request observed in a wasm client.

in my css I have "background-image: url("_content/Optimiser.Components/images/triangles.svg");" does a "Request URL: https://localhost:44348/_content/_content/Optimiser.Components/images/triangles.svg" returning a 404 because of the mangled path (_content/_content).

###

[2019-12-20 15:46] Tratcher commented on #17980
I expect this is a duplicate of https://github.com/aspnet/AspNetCore/issues/17833 because the delete cookie doesn't get the `secure` attribute. You can confirm by capturing a Fiddler trace.

This has been fixed in 3.0 and we plan to patch in in 2.1. Note 2.2 is end-of-life and will likely not be patched. See https://github.com/aspnet/AspNetCore/issues/17833#issuecomment-565123537 for workarounds.

[2019-12-20 15:52] MarkStega commented on #17990
Very odd implementation IMHO; If I remove my "_content" from the path the correct path is generated & I get the resource. Why is this not consistem with accessing a resource from in code?

[2019-12-20 15:55] anurse commented on #10041
@yahorsi Please file a new issue. This sounds like a different question.

[2019-12-20 15:55] mathisloge commented on #17898
Can confirm the second error message. Forgot about that.

[2019-12-20 16:00] MarkStega commented on #17990
And in another project I have
[code]
 and the request URL is "Request URL:http://localhost:53414/_content/BlazorBoilerplate.CommonUI/css/BlazorBoilerplate.CommonUI/images/triangles.svg"

I really think that all that should be done is the prepend of the base url.

[2019-12-20 16:00] anurse commented on #17946
In this scenario you cannot reference the SignalR Server. The Server components **require** .NET Core 3.1, they do not work on .NET Standard. You can change your class library to target .NET Core 3.1 though and then add a *Framework Reference* to ASP.NET Core instead of any package references. The SignalR Server is **included** in the ASP.NET Core framework in 3.1 and **no longer available as a pa

[2019-12-20 16:03] anurse commented on #17900
What other events are you looking for? The only other lifecycle event I can think of here is when the connection is started, but you can know when that happens because the Promise returned by `.start()` will be completed.

[2019-12-20 16:06] anurse commented on #17915
That's helpful, but I don't see anything wrong in that. Also, it's not really _runnable_. The problem is we don't know what other things are going on in the project. For example, the error you produced indicated you were using WebPack, is that correct? How have you configured WebPack? Can you provide a sample that we can clone/download and actually run to observe the error?

[2019-12-20 16:09] cyraid commented on #17915
Sorry I thought by the metatag it was obvious I was using Angular (ver 8) haha .. My apologies.

[2019-12-20 16:14] davidfowl commented on #17977
It works like anything else in ASP.NET Core. Add your dependencies to the ISeviceCollection and then declare your hub with a constructor that takes the dependency.

We don't have a doc explicitly for this though, it makes sense to add one as there exists ones for MVC.

[2019-12-20 16:14] cyraid commented on #17900
Was kinda hoping for all states of:

[code]

It would also be nice if it were all in an event listener / subscriber type event state change like the 'stateChanged' instead of having to change the onreconnecting, onreconnect, onclose all separately.. Just a nit-pick I suppose. I've made my own subscriber interface using rxjs, and just set the events, and on each event trigger the state change event

[2019-12-20 16:17] tyddynonn commented on #8737
I'm just tackling a migration from ASP.Net 5 to Core 3, was planning to use Razor Pages but this is a deal-breaker for me. I'm really not going to refactor most of my Controllers to work around this limitation.

Back to MVC it is.

[2019-12-20 16:47] danielearwicker opened #17991 "Blazor Wasm decimal doesn't support GreaterThanOrEqual"
### Describe the bug

Code that compares decimal values with `>=` produces MissingMethodException at runtime:

[code]

**However `<=` works fine!**

### To Reproduce

Amend the "Counter" example component in the template-generated app, so `currentCount` is a `decimal` and makes some arbitrary use of `=>`, e.g.

[code]

Change comparison to `<=` and there is no error (and the counter increments).

[2019-12-20 17:10] GoFightNguyen commented on #17958
Thanks @rynowak and @pranavkm

[2019-12-20 17:10] #17958 closed

[2019-12-20 17:39] martienpoels-bank2loyalty commented on #17966
Aha, because after testing I discovered the solution was not working in all cases. Did not find to investigate it.  I will alter my stackoverflow answer accordingly and my code of course. Thanks for the update.

[2019-12-20 17:54] cyraid commented on #17915
Oop.. Seems like I'm not alone.. There are [other](https://github.com/aspnet/SignalR/issues/2736) [issues](https://github.com/aspnet/AspNetCore/issues/9687) that deal with angular and MessagePack.

[2019-12-20 18:00] #17853 closed

[2019-12-20 18:10] michaelruss777 commented on #12052
I'm having the issue with web.config too. It is happening in Visual Studio 2019 in an MVC project that is not a .Net Core project. The cors schema is installed in the schema directory.

[2019-12-20 18:18] cyraid commented on #9687
The workaround worked for me after I added the package "buffer" to package.json.

[2019-12-20 18:24] pranavkm commented on #17991
This issue was moved to mono/mono#18271

[2019-12-20 18:24] #17991 closed

[2019-12-20 18:26] pranavkm commented on #17990
@MarkStega can you share a minimal project that reproduces the problem you're seeing?

[2019-12-20 18:32] pranavkm commented on #17988
Controllers are activated and disposed on a per request basis.

Unless you have a framework specific question, I'll recommend using StackOverflow to pursue this further.

[2019-12-20 18:35] pranavkm commented on #17987
Hi. It looks like this is a question about how to use ASP.NET Core. We recommend posting your questions to StackOverflow using the asp.net-core-mvc tag for questions like these.

[2019-12-20 18:35] #17987 closed

[2019-12-20 18:41] pranavkm commented on #17986
@schmitch there's a fair bit of documentation about deploying Blazor with Azure SignalR Service here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/blazor/server?view=aspnetcore-3.1#signalr-configuration which states that sticky sessions are required. https://docs.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-3.1 also covers some details about how to effect

[2019-12-20 18:42] pranavkm commented on #17985
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimal project (ideally a GitHub repo) that illustrates the problem.

[2019-12-20 18:48] pranavkm commented on #17982
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimal project (ideally a GitHub repo) that illustrates the problem.

[2019-12-20 18:54] pranavkm commented on #17965
@vintzl the docs typically don't cover application programming patterns. That said, we'd be happy to accept a PR that elaborates this or points to the blog post above.

[2019-12-20 19:00] #17725 closed

[2019-12-20 19:00] pranavkm commented on #17974
Hi @pete-r61, thanks for trying out ASP.NET Core. The error message you're seeing suggests that you started from MVC with controllers template rather than a Razor Pages template. Could you ensure you have

a) The most recent build of the .NET Core SDK installed: https://download.visualstudio.microsoft.com/download/pr/639f7cfa-84f8-48e8-b6c9-82634314e28f/8eb04e1b5f34df0c840c1bffa363c101/dotnet-sdk-

[2019-12-20 19:03] pranavkm commented on #17781
Ping @shirhatti

[2019-12-20 19:04] pranavkm commented on #17325
Closing this since the issue has been resolved.

[2019-12-20 19:04] #17325 closed

[2019-12-20 19:04] pranavkm commented on #17654
Closing this since the related issue has a resolution.

[2019-12-20 19:04] #17654 closed

[2019-12-20 19:05] pranavkm commented on #17371
Feel free to reopen this issue once you have a minimal app to share.

[2019-12-20 19:05] #17371 closed

[2019-12-20 20:08] mrlife opened #17992 "ConfigurationBuilder's AddJsonFile not Working in 3.1?"
I noticed that [.AddJsonFile() is called automatically](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#json-configuration-provider
) for `appsettings.json` and `appsettings.{Environment}.json`. I'm not sure if this is new behavior, but I do know that calling `AddJsonFile()` in `ConfigureAppConfiguration()` doesn't seem to have an affect anymore, but sh

[2019-12-20 20:18] NTaylorMullen commented on #17950
This is by design. We don't currently support refactorings on closed Razor files.

[2019-12-20 20:18] #17950 closed

[2019-12-20 20:48] Triggs9 commented on #17982
not to keen to release my source code, and for me to built a repro repo for something this small would take to long. I assume its because this file: https://github.com/aspnet/AspNetCore/blob/master/src/Components/Web.JS/src/Rendering/ElementReferenceCapture.ts
isn't being applied to objects being returned from c# calls, not sure exactly where yet, ill keep looking.

[2019-12-20 20:54] Oninaig opened #17993 "MouseEvent causes re-render on every click?"
### Describe the bug

Clicking on a component causes a re-render of that component.

Example, if I click anywhere within a component on a page, my debug log begins with this:

[code]

And then after that it re-renders that component. For small components this isnt a problem, but for others that are for example, grids, it becomes a performance issue where simply clicking within the grid or any part

[2019-12-20 20:58] Triggs9 commented on #17982
https://github.com/aspnet/AspNetCore/blob/c759f5b8f82fc0ed1a5e918c6b611ffb861af84d/src/Components/Web.JS/src/Boot.Server.ts#L121

this is where the dotnet object is returned, but its as a json object, is it still possible to apply the above method (getElementByCaptureId) to that json?

[2019-12-20 21:00] #17808 closed

[2019-12-20 21:55] Triggs9 commented on #17982
Here is my crude implementation that suites my needs for now:
[code]

[2019-12-20 22:17] pranavkm commented on #17979
Looks like a bug in https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.ApiExplorer/src/DefaultApiDescriptionProvider.cs#L511. My guess is that the visitor needs to account for `ModelMetadata.IsBindingAllowed`.

That said, @maliming what's a reasonable scenario to bind `System.Type`?

[2019-12-20 22:34] Tratcher commented on #17989
@davidsh is this an issue you've seen with WinHttpHandler?

[2019-12-20 22:35] Tratcher commented on #11195
Yeah, mocking out Reset to avoid an Abort is probably good for your scenario.

[2019-12-20 22:41] Tratcher commented on #11195
Clearing the milestone. It looks like we have some 5.x work to do for this scenario.

[2019-12-20 23:20] pranavkm commented on #17983
@rynowak \ @JamesNK would you like to have a look? I can reproduce the behavior but I got lost in the weeds in the DFA

[2019-12-20 23:30] sinand commented on #17785
I changed order of endopint mappings and it is working fine now.

[2019-12-20 23:30] #17785 closed

[2019-12-20 23:40] pranavkm commented on #17982
@Triggs9 it's still not very clear what scenario it is that you're attempting to solve. It would help to share a minimal repro that exhibits what it is that's problematic for us to investigate this further.

[2019-12-20 23:48] Tratcher commented on #17972
How about HttpRequest extension methods to go with it?
`if (context.Request.IsHttp2())`

[2019-12-21 03:11] Triggs9 commented on #17982
I refuse to create a repo for some who refuses to read and even slightly attempt to understand the bug being reported and implements a blanket "i need this to do my job" as a machine/robot would. I have even gone to the extent of solving the bug for you. don't comment on this thread again please.

[2019-12-21 05:48] PureKrome opened #17994 "WebApplicationFactory does not work from when CreateHostBuilder is from an inherited class, instead of the entry point assembly."
### Related

This issue is related to #8210 and (archived) [Hosting #1517](https://github.com/aspnet/Hosting/issues/1517)

---
## Problem

The `WebApplicationFactory` doesn't work right when the "entry point assembly" references _another_ assembly which contains the `CreateHostBuilder` logic. Current code (I think) requires a method called `CreateHostBuilder` to exist in the entry point assembly,

[2019-12-21 05:55] maliming commented on #17979
hi @pranavkm

Thank you for pointing out the problem, this issue was reported by developers using the abp framework.

[2019-12-21 06:19] tespheakdeyesoftix commented on #17877
Hi @OmidAtaei1362

Did you already get the answer about this problem? I am now facing with this problem also. I have post to stack overflow but no response.
I hope this team help us with Reset Button in Editform.

Thanks,

[2019-12-21 08:02] mRmEEeZ opened #17995 "Templating not working on parameters - Blazor"
# Describe the bug
I have this razor generic component TModel with parameters of Expression<Func<TModel,object>>[] parameter
now when the parent component of the previous one gives TModel type WorkOrder
the Expression<Func<TModel,object>> remains TModel and therefore i can`t pass WorkOrder expressions !

**Code**

DataGridComponent.razor.cs
[code]

SomeViewModel.razor
[code]
--Cannot covert .... W

[2019-12-21 10:42] KamranShahid commented on #17988
i were observing is that from log request start to end is taking only 0.007 seconds, network latency seems 200 milliseconds but still my request is taking around 400 milliseconds though it should be around 207 milliseconds.
Wanted to know where these crucial time is gone and is there any thing we can do to serve it fast.
In IIS we have number of tweaks like always running , e.t.c. which we can't d

[2019-12-21 12:44] SyntaxWarrior commented on #17919
How did you resolve the issue?
I just downgraded to old oidc client and still get the error.

[2019-12-21 13:18] mrpmorris commented on #17951
Can you create a new Blazor wasm app that reproduces this?

[2019-12-21 14:00] #17928 closed

[2019-12-21 14:47] mRmEEeZ commented on #17995
further investigation..
it works if it is not an array of expression
one expression worked w/o errors...

[2019-12-21 14:49] mRmEEeZ commented on #17995
even more...
it worked fine if it is List<> but not array...
this is a workaround i guess :)

[2019-12-21 15:28] fuchen commented on #15198
Definitely need this!
[code]

Generate below typescript interface:
[code]

[2019-12-21 15:57] pranavkm commented on #17995
Thanks for the issue report @mRmEEeZ. This looks like a bug in code generation when arrays are involved with generic components. Here's a much simpler reproduction of the problem:

[code]

[code]

The generated code for the `IList` property does the correct type inference, but the array one does not perform substitution:

[code]

@mRmEEeZ given that using `IList` works for you, I'll recommend usin

[2019-12-21 16:06] davidfowl commented on #17992
The above line of code blocks forever so the second line of code that configures a new host with new configuration will never run.

[2019-12-21 16:52] excelta commented on #10170
Would adding a link element to the component solve the problem?

[code]

[2019-12-21 17:42] ericgholland opened #17996 "Add extensibility point for EditContext FieldCSSClass for Blazor forms - The current options are too limited"
### Is your feature request related to a problem? Please describe.
The current implementation of FieldCSSClass as a baked in extension method is limited to only some combination of "modified", "valid", or "invalid". With something as important as form editing context, we need to be able to extend this with other options such as warning, busy, readonly, disabled, hidden etc... Don't limit this to a

[2019-12-21 18:00] #17966 closed

[2019-12-21 18:00] KamranShahid commented on #17985
Doesn't have code right now with me but i thought it's a general phenomena. In IIS days we use to do some IIS level tweaking like Always running in Start mode and Suspended in idel timeout action.
have even seen some hacks (but they are in old asp.net core version or missing some support in asp.net core 3.1) like
https://stackoverflow.com/questions/57679221/asp-net-core-2-2-site-warmup
https://and

[2019-12-21 19:00] #17965 closed

[2019-12-21 20:15] mRmEEeZ commented on #17995
Yay !
first time i issue a real issue :p

[2019-12-21 20:46] bdnts commented on #11331
Just hit this error and resolved it by assigning an object to the member.
    public Item item { get; set; } = new Item();
Since the solution was to resolve the null reference, I vote this is a NullReferenceException error.

[2019-12-21 21:59] IvNen commented on #8822
I had a similar issue and noticed that when I remove the parameters in the defined method it accepts it.

![image](https://user-images.githubusercontent.com/35492007/71314280-26c0dc80-243d-11ea-8550-fa7aae7cd3c8.png)

[2019-12-21 22:08] davidfowl commented on #17985
@KamranShahid not really. If you can give more details about where the code is slow or if you have measurements that would be great.

[2019-12-21 22:36] NeilMcKechnie commented on #17912
Yes but only if you use the soon-to-be-obsolete icrosoft.AspNetCore.Mvc.IHostingEnvironment. If you upgrade instead to Microsoft.Extensions.Hosting.IWebHostingEnvironment, then AddDefaultIdentity is gone.

![Capture](https://user-images.githubusercontent.com/8440886/71314555-138f1c00-23ff-11ea-9787-61607c9fd2d7.PNG)

[2019-12-22 00:43] Wayne-Mather opened #17997 "Host Multiple Blazor WASM Apps - Custom directories"
Hi,

I would like to know how to host multiple Blazor WASM projects in custom directories?

To understand I don't build gigantic SPA front-ends for the application, but instead have a bunch of mini CRUD apps that are easier to maintain. To understand I wan to replace my angular setup with Blazor into the future. So I use @nrwl/schematics to have multiple published front-ends that are consumed from

[2019-12-22 05:16] antonioortizpola opened #17999 "Reopen 7439 - ModelState json serialization should be camel cased"
### Describe the bug
The issue [7439](https://github.com/aspnet/AspNetCore/issues/7439) was not completely addressed, the bot blocked the issue from commenting, but I think this main problem should be addressed:

As is, Net Core responds almost everything as camel case, except for model validations, which I think is odd:

[code]

As you see, all the properties are camel case but the field names, a

[2019-12-22 09:41] mRmEEeZ opened #18000 "IJSRuntime strange behavior !"
I found a strange behavior of IJSRuntime service
IJSRuntime showing toast messages that is being send to wrong connected client
for example:
there are 2 clients who is connected to the system if the first one did some operation and JSRuntime shows a toast 'Successfully Done' the toast appears in the last connected client who is in ideal state rather than the first connected client who DID and DESE

[2019-12-22 09:46] KamranShahid commented on #17985
Not have much detail at the moment. Doing more investigation to find out where exact the time is spent

[2019-12-22 10:06] mRmEEeZ commented on #18000
Further more ..
this thing happens when both users on the same url 'Route'
probably the view models 'pages' are singleton type

[2019-12-22 10:08] mrpmorris commented on #17993
ShouldRender doesn't need to know what caused the render, it only needs to know if any state has changed that should result in a change to the display.

[2019-12-22 10:40] mRmEEeZ commented on #18000
Further more 2...
even if the last connected client routes to different page
he is still receiving toasts
i think when last client routed to same page as first client
it overwrited the current IJSRuntime of the page so that is still receiving the toasts
also if the first client re-route to same page then he receive his toasts as expected as he overwrited yet again IJSRuntime...

this is a confirma

[2019-12-22 10:55] KamranShahid commented on #17325
ok

[2019-12-22 11:00] #17988 closed

[2019-12-22 12:18] FahaoTang commented on #17269
Mine is also 16.4.2 and I now also encountered the same problem.
My website was working well previously when user selects languages but now it doesn't work anymore because of this issue:
[Live example](https://kontext.tech/settings?rurl=%2F)

The website is built using Azure DevOps build pipelines (windows 2019 agent). So I believe now this issues also exists in Azure DevOps.

To summarise, the sh

[2019-12-22 12:21] michuny25 commented on #17951
I have created a sample repo showing this lagging behaviour in the textarea:
https://github.com/michuny25/TextareaBugReproBlazorWasm

Just copy in huge amounts of texts and you will see the lagging letters as you type.

![image](https://user-images.githubusercontent.com/23375592/71321712-ed7c8100-24bd-11ea-993e-9f083464c4e9.png)

[2019-12-22 14:52] niksloter74 opened #18001 "TransactionScope not working with HttpClient in integration tests"
### Describe the bug
After upgrading from .net core 2.2 to 3.1, integration tests are failing.
All tests are wrapped in TransactionScope so that all changes to db should be revered (scope.Complete() is not called).
When call to the data access layer is made through api (HttpClient) records are created in the database, but they should not be since the entire test is wrapped in TransactionScope.

##

[2019-12-22 15:04] niksloter74 commented on #18001
Similar issue: https://github.com/aspnet/EntityFrameworkCore/issues/18657

[2019-12-22 18:16] dlimkin commented on #17613
@halter73 @anurse You can use my repo to reproduce the issue
https://github.com/dlimkin/AspNetCore-issues-17613

[2019-12-22 18:27] OmidAtaei1362 commented on #17877
On Sat, Dec 21, 2019 at 9:49 AM tespheakdeyesoftix <notifications@github.com>
wrote:

Hi. I did it too but no response. I have this problem yet. I’m working on
it. :)

[2019-12-22 18:45] davidbuckleyni opened #18003 "Json not working with Kendo Ui Grid"
I am having a major issue with .net core 3.1 and the kendo ui asp.net core grid supplied by telerik.
This appears to be a .net issue and not Telerik.

As you see I have included my source of my startup.cs

` public void ConfigureServices(IServiceCollection services)
        {
            services.AddControllers();
            services.Configure<ConnectionStringConfig>(Configuration);

[2019-12-22 18:54] davidbuckleyni opened #18002 "Json Being Returned as lower case and not Pascal Case Kendo Ui asp.net core 3.1"
I am having a major issue with .net core 3.1 and the kendo ui asp.net core grid supplied by telerik.
This appears to be a .net issue and not Telerik.  It should expect Pascal Case

As you see I have included my source of my startup.cs

`    public void ConfigureServices(IServiceCollection services)
        {
            services.AddControllers();
            services.Configure<ConnectionStringConf

[2019-12-22 19:21] peterblazejewicz commented on #18002
(I've stressed the important part). It look we need to configure serialization differently in 3.1, if using Text.Json. It was always a camel case by default, the detail important for Telerik changed:

https://www.telerik.com/forums/data-binding-and-serialization-issue-with-system-text-json-core-3-0#vCEL9V4hY0SDmRx7EOvk1g

[2019-12-22 19:56] rustybox commented on #18003
If you can deserialize just fine, how is this a .Net issue instead of a kendo.ui issue or just plain user error?

[2019-12-22 19:59] kakone commented on #18003
Add this line in tour Startup.cs file :
`.AddJsonOptions(opt => opt.JsonSerializerOptions.PropertyNamingPolicy = null)`

[2019-12-22 20:14] natelaff commented on #16960
Following

[2019-12-22 21:39] mrpmorris commented on #17951
This is a more minimal reproduction of the problem.

[code]

It seems the lag is when JS invokes Blazor in order to update `Content`

[2019-12-22 21:43] Mika-net commented on #17204
This issue looks like it should be closed

[2019-12-23 02:34] Microshaoft commented on #14512
with @pranavkm help and tips
I have implemented the feature of Sync or Async action selection by using custom ActionConstraint, custom ApplicationModelProvider, custom RouteAttribute.

https://github.com/Microshaoft/Microshaoft.Common.Utilities.Net.4x/tree/master/CommonUtilities.Shared/WebApi.Common.Controllers/Constraint

https://github.com/Microshaoft/Microshaoft.Common.Utilities.Net.4x/blob/86f

[2019-12-23 02:56] tespheakdeyesoftix commented on #17877
Too sad to heard that. I hope this team help us to solve this small problem.

[2019-12-23 03:49] mRmEEeZ commented on #18000
after further real investigation...
creating `JsInterop` object every time i want to use `javascript` works fine
but if i store the `JsInterop` object things start going messy tho the `JsInterop` is a simple class to call functions
anyway i converted these static methods inside `JsInterop` class to extention methods for `IJSRuntime` interface and it solved my problem

now my guess about what is go

[2019-12-23 04:49] OmidAtaei1362 commented on #17877
Hi
I hope so too.

On Mon, Dec 23, 2019 at 6:27 AM tespheakdeyesoftix <notifications@github.com>
wrote:

[2019-12-23 06:44] KamranShahid commented on #17985
What i have done is added request logging middleware as mentioned in
https://stackoverflow.com/questions/55124938/asp-net-core-middleware-routing-delay-between-request-and-action

Now what i observed it first request is taking around 0.350 after reaching on server and then reaching to my action.
After first request second request taking around 0.050 seconds on average.
so delay is in processing af

[2019-12-23 07:24] behroozbc opened #18004 "unique validator"
hi
i want to unique validator in database
like this in laravel **https://laravel.com/docs/5.6/validation#rule-unique**

[2019-12-23 07:53] czd890 commented on #17808
Sorry, It's ok, output to console is contains.
 I used `Nlog` to record logs, only the exception not stackstarce.

[2019-12-23 10:07] KamranShahid opened #18005 "How to turnoff extra features to fasten request processing in asp.net core 3.1 application and how to quickup first request"
While i am debugging my application i am seeing following log
Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker: Information: Executing action method MyApp.HomeController.Index (MyApp) - Validation state: Valid

Any way i can turn of this model validation?

I have tried https://stackoverflow.com/questions/46374994/correct-way-to-disable-model-validation-in-asp-net-core-2-mvc
but stil

[2019-12-23 10:36] peterblazejewicz commented on #18002
answered:
#18003

[2019-12-23 12:17] kbugala opened #18006 "Wrong Layout being rendered"
### Describe the bug
Layout property gets ignored if it's a dynamic variable

### To Reproduce

[code]

**PROBLEM:**
The **Layout** parameter is being ignored in the **Page.cshtml**, and the layout from Admin Area "~/Areas/Admin/Views/Shared/_Layout.cshtml" is being rendered instead.

### Further technical details
- ASP.NET Core version 3.0
- Include the output of `dotnet --info`
.NET Core SDK (re

[2019-12-23 12:27] programmersommer commented on #17980
Thank you, @Tratcher
Yes, logout works in 3.1

[2019-12-23 12:28] #17980 closed

[2019-12-23 13:02] KamranShahid opened #18008 "Anyway to get what time took at various filters/middlewares"
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/filters?view=aspnetcore-3.1
Is there a way i can get what time it took on various stage of my request life cycle
I have simple web api project which i am diagnosing where time is spent. my actual action take just merely 7 milliseconds while from some request trackign middle ware it seems to take quite a time before request land to server

[2019-12-23 14:33] vintzl opened #18011 "Blazor — System.Text.Json and JsonConverter<T>"
I have found more or less related issue:
- https://github.com/aspnet/AspNetCore/issues/12685
- https://github.com/aspnet/AspNetCore/pull/10171
- https://github.com/aspnet/AspNetCore/issues/10404
- https://github.com/aspnet/AspNetCore/issues/14254

As Blazor should no more use `SimpleJSON` but `System.Text.Json`  by default, I should be able to use custom `JsonConverter<T>` by configuring Blazor Bu

[2019-12-23 15:32] dcb99 commented on #12890
I'm not sure that it makes sense to reference a 3-year old discussion. Vue is currently the most popular JS framework and plenty of people in the .net world like using it. Ditching HMR and requiring extra steps for local development is a pain and definitely seems like a regression. Isn't .net core supposed to be making our lives easier?

[2019-12-23 15:55] cpboyd commented on #17925
Another related point: "compiling" messages (probably Ivy specific) are marked in the command prompt with a red "fail", even though they're just Angular denoting progress.

Likewise, an error specifying to clear `node_modules` never gets mentioned in the command prompt at all.

The timeout message just appears, with no information on how to clear the error.

[2019-12-23 15:59] cpboyd commented on #17607
I created #17925 regarding error messaging... But some tips from stuff I've listed there:
Try `ng serve` from the client app folder to actually get the error message.

.NET never lists errors related to `node_modules` (maybe @angular reports those differently).

Compilation errors will appear in the .NET command prompt, but they still result in a generic "timeout" exception from .NET's HTTP respon

[2019-12-23 16:13] roxas0zero commented on #17660
this issue happened to me on VS 16.4.2 I fixed it be restarting VS, you may wanna make sure that it's completely fixed...

[2019-12-23 16:22] Nagarian commented on #15166
Hi, i'm issuing the exact same issue only on unit test. On my controller code I'm doing something like this  :
[code]
On normal execution it works but on unit test I got NullReferenceException.

If I replace `ValidationProblem()` by `BadRequest(ModelState)`, it works both in unit test and on normal execution. But the response with BadRequest doesn't have all the property of RFC 7807.

How do you h

[2019-12-23 16:45] huzder commented on #16874
Hello,
Please consider providing a capability to extend end-application's startup in the following way:

Startup.ThirdPartyLib.cs
[code]

Use case:
Nuget package copies own startup template file ( Startup.%ThirdPartyLibName%.cs ) into end application after installation via msbuild target to simplify a first time setup for a new user. The described approach works fine for serverside blazor since it