[2019-12-23 17:03] BRiley01 opened #18102 "ASP.NET Core Identity implementation for EF6"
Migrating AspNetCore Framework 4.72 app targetting EF 6.2 to Core 3.1 targeting EF 6.4

Identity UserStore exists in 2 packages: Microsoft.AspNet.Identity.EntityFramework and Microsoft.AspNetCore.Identity.EntityFrameworkCore

Microsoft.AspNet.Identity.EntityFramework targets .net framework and would not permit migration to Core 3.1.

Microsoft.AspNetCore.Identity.EntityFrameworkCore targets Entity

[2019-12-23 17:22] Sid-Shanker commented on #16780
I am also trying to build the project. I cloned and when I tried to run .\restore.cmd, I got following error:

E:\OpenSource\AspNetCore\src\Servers\IIS\AspNetCoreModuleV2\AspNetCore\AspNetCore.vcxproj(31,3): error MSB4019: The imported project "E:\OpenSource\AspNetCore\.tools\msbuild\16.3.0-alpha\tools\MSBuild\Microsoft\VC\v160\Microsoft.Cpp.Default.props" was not found. Confirm that the path in t

[2019-12-23 17:24] pranavkm commented on #18004
Hi. It looks like this is a question about how to use ASP.NET Core. We recommend posting your questions to StackOverflow using the asp.net-core-mvc tag for questions like these.

[2019-12-23 17:24] #18004 closed

[2019-12-23 17:27] pranavkm commented on #18002
Closing as a dup of https://github.com/aspnet/AspNetCore/issues/18003

[2019-12-23 17:27] #18002 closed

[2019-12-23 17:27] pranavkm commented on #18001
All yours @javiercn

[2019-12-23 18:41] pranavkm commented on #18005
@KamranShahid there isn't a feature to turn off model binding or validation with MVC. However it's not clear from your application that validation is problematic. Since you opened a couple of issues with the same theme,

1) Try turning on your [application log level to Debug](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#log-level) or use a profiling tool l

[2019-12-23 18:45] pranavkm commented on #18011
@vintzl at this point Blazor does not have any extensibility to configure serialization globally. The best you could do is to decorate types with `JsonConverterAttribute` and [author custom converters](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to?view=netcore-3.0) to manage seriaization on a per-type basis.

https://github.com/aspnet/AspNetCore/

[2019-12-23 18:45] #18011 closed

[2019-12-23 18:46] pranavkm commented on #18008
Closing this. We can use https://github.com/aspnet/AspNetCore/issues/18005 to track further discussion.

[2019-12-23 18:46] #18008 closed

[2019-12-23 18:57] pranavkm commented on #17999
Thanks for the issue report. We'll consider this issue during our next planning. In the meanwhile, writing a custom factory as you have discovered would be the best workaround.

[2019-12-23 18:58] KamranShahid commented on #18005
Thanks Pran,
I wanted to at-least know where that time is spent after my request landed to the server.
My action processing was merely 7 milliseconds while from some request processing is taking 40 to 100 milliseconds. just wanted to know where exact that time is spent and then trying to minimize it where ever it is possible

[2019-12-23 19:00] #17879 closed

[2019-12-23 19:00] pranavkm commented on #18006
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimal project (ideally a GitHub repo) that illustrates the problem.

[2019-12-23 19:00] Daniel15 commented on #12890
@dcb99 I'm pretty sure that's not true... React is still more popular by far. See the State of JS survey results for example: https://2019.stateofjs.com/front-end-frameworks/

[2019-12-23 19:08] pranavkm commented on #18000
The Razor compiler does not change the scoping or visibility of code written inside a `code` block. You can inspect the generated code under the `obj\Debug\netcoreapp3.1\Razor` folder  to see what the generated code looks like. In Blazor Server, `IJSRuntime` instances are scoped per SignalR connection. I suspect the `SetJsRuntime` method in your `JSInterop` type is extending the lifetime of the IJ

[2019-12-23 19:08] #18000 closed

[2019-12-23 19:11] pranavkm commented on #17997
Thanks for the issue report @Wayne-Mather.

@SteveSandersonMS could you reply to this question when you get a chance? Do we need a doc article about hosting multiple blazor apps?

[2019-12-23 19:13] pranavkm commented on #17996
Thanks for the issue report. We'll consider this issue during our next planning.

[2019-12-23 19:21] KamranShahid commented on #18008
ok.
hope i can get some help from other post

[2019-12-23 19:22] pranavkm commented on #17993
@Oninaig does @mrpmorris 's suggestion help? Could you elaborate why the event source is important to make a rendering decision?

[2019-12-23 19:28] dcb99 commented on #12890
Which one has more stars on github?

On Mon, Dec 23, 2019 at 2:00 PM Daniel Lo Nigro <notifications@github.com>
wrote:

--
David Barless, CPhT.

[2019-12-23 19:31] pranavkm commented on #17985
Using https://github.com/aspnet/AspNetCore/issues/18005 for further discussions.

[2019-12-23 19:31] #17985 closed

[2019-12-23 19:38] Daniel15 commented on #12890
Stars don't equate to actual usage... Stars aren't a very useful measurement. React has far more downloads on npm (although this also isn't a good measurement, as improperly configured build systems that download packages off the internet for every single build contribute a lot to these numbers) and is ranked higher in various developer surveys.

[2019-12-23 19:46] dcb99 commented on #12890
Regardless, don't try and downplay the popularity and adoption of Vue. Fact
is, Microsoft could and should support Vue instead of angular. Add this to
the long list of developer requests that Microsoft ignores.

On Mon, Dec 23, 2019, 2:38 PM Daniel Lo Nigro <notifications@github.com>
wrote:

[2019-12-23 19:51] andrew-vdb opened #18012 "Upgrade Microsoft.ApplicationInsights.AspNetCore 2.7.1 to 2.12 makes custom event not written to app insight"
### Describe the bug
Custom event is not always written to app insight

### To Reproduce

### Further technical details
- ASP.NET Core version
3.1
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version
vs 2019 enterprise

I can see that custom event is being called but when i query it, it does not show the track event

[2019-12-23 19:53] andrew-vdb commented on #18012
Not sure if this is the correct repo to report

[2019-12-23 20:02] drdamour commented on #12890
Pretty funny your own link shows vue has 100% awareness, higher interest than anything else, and only trails react in satisfaction by 2% points.  Kinda made the point for em...vue is legit popular and from that report is ahead of ng by a bit.

[2019-12-23 20:11] Pilchie commented on #18012
@davidfowl do you have an Application Insights contact?

[2019-12-23 20:14] andrew-vdb opened #18013 "Web api controller return 302 and then 404 where it should be 401"
### Describe the bug
In asp.net core 2.2, it just works
In asp.net core 3.1 I have no idea anymore what the cause of redirect, where it want to redirect, where it should get 401

### To Reproduce
[code]

### Further technical details
- ASP.NET Core version
3.1
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2019-12-23 20:15] mswilson4040 commented on #6111
Why is this closed exactly? Is the solution to the problem to explicitly configure the application to run `OutOfProcess`?

The only time I get this error is when I attempted to upgrade my dotnet core 2.1 project to 3.0/3.1. The application works perfectly fine locally, but when I deploy it to azure, i get the error called out. Adding an explicit `OutOfProcess` configuration in my `csproj` file did

[2019-12-23 20:20] andrew-vdb commented on #18013
[code]

This is not working too, still get 302 and then 404

[2019-12-23 20:23] HarelM commented on #17614
I'm experiencing this issue, or a similar one as well.
The following project started failing after I upgraded to vs 16.4 from 16.3.
https://github.com/IsraelHikingMap/Site/
The exception is the following:
[code]
When changing to OutOfProcess it works well and doesn't crash.
I suspect it has something to do with the fact that I have a web.config file in my project (IsraelHiking,Web) but it did work

[2019-12-23 20:24] akilin opened #18014 "Unable to resolve IWebHostEnvironment from ValidationContext when validating options with custom Required attribute inside Configure method"
### Describe the bug
App was unable to resolve IWebHostEnvironment from ValidationContext when validating options with custom Required attribute inside Configure method.

### To Reproduce
Minimal app which reproduces the error can be found at :
https://github.com/akilin/demo-injection-not-working

IWebHostEnvironment not resolving, when trying to create a custom validation attribute to make someth

[2019-12-23 20:27] andrew-vdb commented on #18013
Somewhere something redirect to /Account/Login

[2019-12-23 20:33] icexe commented on #6111
There seems to be multiple solutions.  The one that I use is to create an different application pool for each .net core app in IIS

[2019-12-23 20:51] andrew-vdb commented on #18013
[code]

return 302 and then home screen lol (the caller it self get 200)
should be 401 come on...

[2019-12-23 21:07] andrew-vdb commented on #18013
[code]

Found the code here
https://github.com/aspnet/Security/issues/508

Not sure why I should have this workaround, not cool, what do i do wrong?

[2019-12-23 21:22] davidfowl commented on #18012
Yes this should be filed on https://github.com/microsoft/ApplicationInsights-dotnet

[2019-12-23 21:35] LMSSonos commented on #17923
@mkArtakMSFT thanks for your reply. To reproduce, I use the new Blazor app in VS2019 (c#)

Pages/Index.razor I add this code:
[code]
In the Pages/_Host.cshtml I add following code (first line exists)
[code]

What now happens is, that link1 works as expected. The "Test2 worked" shows up when the page is loaded without any interaction, but when clicking link2, nothing happens.

When I add jquery and

[2019-12-23 21:41] jkotalik commented on #17614
@HarelM apologies I should have informed this closed issue as well. We found a regression in the 3.1.0 and 3.0.1 SDK. See https://github.com/aspnet/Announcements/issues/398

[2019-12-23 22:05] pranavkm commented on #18012
This issue was moved to microsoft/ApplicationInsights-dotnet#1519

[2019-12-23 22:05] #18012 closed

[2019-12-23 23:23] NTaylorMullen commented on #14297
@danroth27 do you recall what you wanted in the readme to be updated? I know this is asking you to time travel a bit since this was over a year ago but thought I'd ask 😄

[2019-12-23 23:24] Tiberriver256 opened #18016 "Display Name Attribute"
This is a duplicate of #12572 which looks like it may have been closed accidentally. I'm not seeing any PRs associated with the issue or any documentation on how to use the display name attribute.

Leaving the description kind of empty here as I'm thinking re-opening the initial request might be the best option but if I need to fill in the details here let me know.

[2019-12-24 00:14] jlcool opened #18017 "How to support flutter-web"
I tried to add the flutter-web to netcore like React.js, but I only saw some usespa methods, how to let netcore execute the flutter command, such as: flutter run -d chrome, and support hot restart,thank you.

[2019-12-24 00:41] c0deExplorer opened #18018 "FileLoadException: During runtime for an assembly "package referenced" (local nuget) from asp.net core csproj"
Here's the situation what I am facing with:

Asp.net core .cs web host project has a reference to package "ABC", version 1.0.1.  If I set the package source to restore ABC directly from the feed and build, run the application it all works fine. Let's say, If I have the code base of ABC (.net standard assembly) and I want to make some changes and test/debug it locally, this is what I usually does:

[2019-12-24 00:47] Tiberriver256 commented on #14962
Not sure if this is what the OP was after with LocationChanging but it would be nice to have LocationChangeStart and LocationChangeEnd events. The use case for me would be to display a little progress bar to the user while navigation is happening.

[2019-12-24 00:49] mswilson4040 commented on #6111
That's kind of the problem. I'm deploying my project to an Azure App Service. Configuring app pools isn't an easily found setting in there (if it even exists).

[2019-12-24 01:38] Varorbc commented on #17727
@JunTaoLuo finally I resolved the issue by reinstalling

[2019-12-24 02:30] #17727 closed

[2019-12-24 04:38] bshade7 opened #18019 "Installing ASP.NET Core Hosting Bundle 3.1.0 crashes 32 bit application pools"
### The Problem
I have an existing IIS Web Server hosting several ASP.NET (Non-Core) web applications that are utilizing the "Enable 32 bit Application" setting on their respective application pools.

Upon installation of the latest ASP.NET Core Hosting Bundle (3.1.0), all application pools for my existing sites crash and remain stopped after crashing 5 times quickly.

This seems to only impact th

[2019-12-24 05:03] NickFranceschina commented on #18001
I'm in the exact same boat.  Upgrading from 2.2 to 3.1.  Existing code is using the `AutoRollbackAttribute` from xUnit ( also mentioned [here](https://github.com/xunit/xunit/issues/2043) and [here](https://github.com/aspnet/EntityFrameworkCore/issues/18657) ).  So basically, a `TransactionScope` is created before the test is run... and I can see that `System.Transaction.Transactions.Current` is no

[2019-12-24 06:43] davidfowl commented on #18001
He’s this is by design but there’s a flag to get the old behavior back on TestServer called PreserveExecutionContext. We basically by default want to avoid it flowing from client to server by default but for more esoteric cases, you can turn it on

[2019-12-24 06:52] HarelM commented on #17614
@jkotalik thanks for the link but the workaround is not clear enough for me to understand what I should do in order to work around the issue. Furthermore ever since I upgraded my server to .net core 3.0 I keep hitting random json deserialization problems in multi-threading that I currently believe the only solution is to downgrade back to 2.x. Assuming the root cause is this upgrade and not anothe

[2019-12-24 08:27] Egor92 opened #18020 "Add event for AuthenticateResult.NoResult to CertificateAuthenticationEvents"
### Is your feature request related to a problem? Please describe.
I have Web API app (.NET Core 3.1).
I want to have authentication by certificate in my Web API. I have installed [Microsoft.AspNetCore.Authentication.Certificate](https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.Certificate) package and used AddCertificate method in Startup. It works good.
Also I want to handle si

[2019-12-24 08:36] JamesNK commented on #17972
I don't feel strongly either way about adding extension methods.

I expect the user's of this feature would be app framework developers, so the convenience of extension methods is probably not needed. Applications are typically agnostic to the HTTP protocol version (REST doesn't care about 1.1 vs 2) or they are using an app framework that does the check for them (gRPC)

[2019-12-24 09:20] andrew-vdb commented on #18013
The main problem is AddIdentiy and AddDefaultIdentity HARDCODE LoginPath to /Account/Login
That's why the drama in the title when we have apiController, its doing redirect (302), can't find it (404)

Impacted Users
- People who mix Controller and ApiController
- Poeple who use cookie login without identity but also using identity to sign in

Hereby the fix
[code]

[2019-12-24 09:20] #18013 closed

[2019-12-24 09:43] niksloter74 commented on #18001
@davidfowl Thanks! This line fixed the problem
` _factory.Server.PreserveExecutionContext = true; // this line fixed the issue with nested transaction with HttpClient
`
I also updated [the repository](https://github.com/niksloter74/web-api-integration-test/tree/master/netcore3.1)
Ticket can be closed, if you do not want to investigate further

[2019-12-24 09:50] jeanpoelie opened #18021 "CORS 3.0"
When will you release a Microsoft.AspNetCore.Cors v3.0?
All other packages seem to have been upgraded to 3.0 and 3.1 for the corresponding .net core version except this package.

https://www.nuget.org/packages/Microsoft.AspNetCore.Cors/

[2019-12-24 13:28] PiotrPerak commented on #14547
I had the same issue and exception disappeared when I uninstalled Microsoft.Extensions.Logging extension. I installed it because whenever you navigate to Monitoring -> App Service logs it shows this message "Click here to install the ASP.NET Core site extension to enable Application Logging."

What is it for if my logging works without it?

[2019-12-24 14:49] aviabunin opened #18023 "Error when connecting MapBox"
Hi! I use MapBox in Blazor.  Despite the fact that no error is visible in the browser. when I run app in VS  2019 then I saw error:
![errorBlazor1](https://user-images.githubusercontent.com/3097213/71417143-d6cc5a80-2674-11ea-8966-0cca4ab1419d.jpg)
How to fix this?
My code:
_Host.cshtml:
`@page "/"
@namespace BlazorApp5.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<h

[2019-12-24 15:36] blowdart commented on #18020
What would you be expecting to do in such an event?

[2019-12-24 16:11] NickFranceschina commented on #18001
it's a 🎄 miracle!  thank you!

[2019-12-24 18:00] #18003 closed

[2019-12-24 21:53] moklas commented on #18001
Yes indeed @NickFranceschina, a xmas miracle indeed! Thank you @niksloter74 @davidfowl for this xmas gift 😄

[2019-12-25 09:46] aviabunin commented on #18023
In debug mode of VS 2019. When app published I don't see error

[2019-12-25 11:49] MarkStega commented on #17990
[BlazorApp-CSB-3.1.0.zip](https://github.com/aspnet/AspNetCore/files/4000368/BlazorApp-CSB-3.1.0.zip)

Attached is an example where I have "background-image: url("_content/RazorClassLibrary1/triangles.svg");" in the css but the requested file is "https://localhost:44379/css/_content/RazorClassLibrary1/triangles.svg"

[2019-12-25 12:03] wu-yafeng opened #18024 "Discussion for:Move Authorization to repo 'Extensions'"
Consider move `Microsoft.AspNetCore.Authorization` to Extensions repo https://github.com/aspnet/extensions with new name `Microsoft.Extensions.Authorization` and
move `Microsoft.AspNetCore.Authorization.Policy` to Middleware solution at current repo

Authorization seems to be a more general component, not just for aspnetcore.

I think design Authorization like healthcheck component should be great

[2019-12-25 12:59] alizorlu commented on #7772
Yeap. I just had same problem.
Solution is Route Attribute
Example ;
### before class
[code]

[2019-12-25 14:07] AllanMichaelsen opened #18025 "When using SignalR & EF entities are always detached"
I'm unsure if this belongs here or in EF, but I'll start here.

When I retrieve the entity the state is unchanged, but after round tripping to my application via SignalR my entity is always detached and that results in an the following scenatios:

- If I try to attach the entity it fails saying it's already tracked
- If I try to update the entity it fails with the same error

If I save changes not

[2019-12-25 14:26] blowdart commented on #18024
We've discussed this before and considered it hugely breaking for very little reward other than "purity", especially when things like cookie auth are quite aspnet specific.

What benefit do you think this would bring?

[2019-12-25 16:26] davidbuckleyni opened #18026 "Issue with globalization asp.net core 3.1 not getting value just key"
I have setup globalization as per the documents here but something must be wrong cause I am only getting the value of the key not the value of the resource.

Please find a short screencast video explaining this.

https://drive.google.com/file/d/1DaKvRlM9iRS5_1zvJjqTZlOE16UhhE6r/view

I am using the docs links here
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetco

[2019-12-25 16:33] Indrajith-Sync opened #18027 "Is there any online live editor available for blazor platform."
Like codesandbox or jsfiddle for JS platforms. Is there any online live editor available for Blazor platform.

I could find the following, Is there anything else other than this ?

https://blazorfiddle.com/

[2019-12-25 16:59] dlyz opened #18028 "SignalR .NET client restart failed with "The HubConnection cannot be started while StopAsync is running""
### Describe the bug

I'm using .NET SignalR Client. After connection breaks I invoke `await connection.StopAsync()` and then `await connection.StartAsync()`. StartAsync throws InvalidOperationException: "The HubConnection cannot be started while StopAsync is running". The super easy way to reproduce it is to create a connection, invoke `await connection.StopAsync()` and then `await connection.Sta

[2019-12-25 17:09] Kahbazi opened #18029 "LogHelper should be removed"
[`LogHelper`](https://github.com/aspnet/AspNetCore/blob/c759f5b8f82fc0ed1a5e918c6b611ffb861af84d/src/Servers/HttpSys/src/LogHelper.cs) in HttpSys doesn't make sense anymore and could be removed!

It seems its purpose was to check null value for `loggerFactory` and `logger` but after https://github.com/aspnet/AspNetCore/commit/ff95748d7e896d6d48f817891c052cea38fce1f5 a null check for `loggerFactory

[2019-12-25 18:15] Oninaig commented on #17993
@mrpmorris @pranavkm I understand the theory behind "ShouldRender" not needing to know what caused it to render, but rather it only needs to know if any state has changed that "should" result in a change to the display.

I think my need is better described as something along the lines of the following "pipeline":

Preamble: Lets say you are dealing with an arbitrary component with the following pa

[2019-12-25 19:00] #17288 closed

[2019-12-25 19:03] mister-giga commented on #13601
+1

[2019-12-25 20:00] #13248 closed

[2019-12-25 23:20] mrpmorris commented on #17993
The `@onclick` should be on the thing you click to filter, not on the grid. If you make that filter UI a component too, the re-render should be on the component clicked + all components inside of it, not parent components. So just the filter, and not the grid.

Your scenario sounds very bad though. What is your real scenario?

[2019-12-26 00:26] Sausbolle opened #18031 "DisplayAttribute on nullable variables is lost and ModelMetadata is set to default for variable type"
### Describe the bug
When using DisplayAttribute on nullable variables, the ViewData.ModelMetadata is set to default model data for the generic variable type. This leads to any data set to ViewData.ModelMetadata.Name or ViewData.ModelMetadata.Description using DisplayAttribute is nulled.
Sorry if bad description (not sure all the technical terms to properly describe it)

### To Reproduce
A model l

[2019-12-26 01:41] PeterPann23 opened #18032 "Adding a header with a space will crash without exception"
### Describe the bug
when the user add a header with a space say "powered by" and not "powered-by" the middleware pipeline will cause a status 500 error while the middleware pipeline continues executing, no error is given

### To Reproduce
[code]

### Further technical details
- ASP.NET Core version 3.1 and 3.0

[2019-12-26 03:59] zxgamekingdom opened #18033 "Blazor,One refresh will cause the component to dispose twice"
When I use blazor, I find that when I add an IDispose interface to a component, I can see in the log that when I click a browser refresh, there will be two dispose messages, and the dispose methods of two different objects of the same component will be called.

Project is a template produced by visual studio

Log:
info: BlazorApp4.Pages.Index[0]
      Dispose
info: BlazorApp4.Pages.Index[0]

[2019-12-26 05:14] davidfowl commented on #18025
Yes they are always detached by design. You hub is completely stateless. Every invocation is a new hub instance created in a new scope for that invocation much like an http request.

[2019-12-26 05:37] wu-yafeng commented on #18024
I have an application based CQRS pattern and solution like this:
- Solution
  - Api
  - Application
  - Infrastructure
  - Domain

Application-layer represent command handing and I would use resource-base authorization in application-layer.I hope application-layer don't use any packages in aspnetcore 、rpc、thrift、windows-service.
So I can move to any hosted without change application-layer.

Now,I

[2019-12-26 05:41] wu-yafeng commented on #18024
cookie authentication is aspnetcore specific,but not authorization?

[2019-12-26 06:26] ema2ooo opened #18034 "when Microsoft.AspNetCore will be update to latest version 3.1"
when Microsoft.AspNetCore will be update to latest version 3.1, thanks

[2019-12-26 08:30] AllanMichaelsen commented on #18025
So I should fetch from EF without tracking and the always attach on update calls?

[2019-12-26 08:32] davidfowl commented on #18025
That's right.

[2019-12-26 08:42] AllanMichaelsen commented on #18025
I'll give it a go... Thanks..

[2019-12-26 09:50] clement911 commented on #17768
keep open please

[2019-12-26 10:51] MapleWithoutWords opened #18035 "Asp.Net core WebAPI ModelState automatic validation"
### Describe the bug

I have an interface, and accept what is an entity class PersonModel object, the object of property I call them to verify the label Required, this want to controller performs ModelState. IsValid to verify the model, but seems to request, does not go to the controller, automatic validation for me directly, I think I manually control the validation, could you tell me what method

[2019-12-26 10:52] MapleWithoutWords commented on #18035
![image](https://user-images.githubusercontent.com/38368335/71473144-d963b700-2810-11ea-9c49-459fc7105ea6.png)
this my  result image!

[2019-12-26 10:54] MapleWithoutWords commented on #18035
I will it is return {"status":1,"errorMsg":"The Name field is required.",data:null}

[2019-12-26 10:56] MapleWithoutWords commented on #18035
This is my controller code:
`
    [Route("api/[controller]")]
    [ApiController]
    public class PersonController : ControllerBase
    {
        [HttpPost]
        public IActionResult Post(PersonModel model)
        {
            if (ModelState.IsValid==false)
            {
                StringBuilder sb = new StringBuilder();
                foreach (var ms in ModelState.Values)

[2019-12-26 10:57] MapleWithoutWords commented on #18035
This my controller code:

    [Route("api/[controller]")]
    [ApiController]
    public class PersonController : ControllerBase
    {
        [HttpPost]
        public IActionResult Post(PersonModel model)
        {
            if (ModelState.IsValid==false)
            {
                StringBuilder sb = new StringBuilder();
                foreach (var ms in ModelState.Values)

[2019-12-26 10:59] enricobenedos opened #18036 "App crash when adding CORS"
### Describe the bug
API debug does not start when adding cors policies

### To Reproduce
[code]

### Exception
[code]

### Further technical details
[code]

[2019-12-26 11:23] Ricardoaraujo00 commented on #17928
Hi @Tratcher
What a fail. Of course i can't use the anlge brackets. But it didn't work either. My internship tutor came on rescue and he used this:

[code]
... and it works!!

But as i have only a powershell generated certificate i must use the following code on the client:
[code]

[2019-12-26 11:52] as-ivanov opened #18037 "Method 'InvokeAsync' of view component should be declared to return Task&lt;T&gt;"
Hi,

I have a Razor Class Library project with views shared across multiple servers. If I publish asp.net core server which imports the library in Debug configuration everything works fine. However if I publish it in Release configuration, I get a razor compilations error for several (not all) of view components at run time (details are provided bellow).
I created an empty project and reproduced t

[2019-12-26 12:10] praveena-m commented on #18035
@MapleWithoutWords  You can choose to disable automatic model state validation using below code in your startup.

[code]

[2019-12-26 13:26] kmuthukumar23 opened #18038 "Navigation between Inner published folder Applications"
I have a one doubt about hosting the nested publish folders.

Now i have a one published(project A) folder. And then published(Project B) folder in to the project A 's published folder.

Then i hosted the project A's folder in IIS server.

Now how can i access the application for project B 's published folder from the hosted project A.

Is this possible? Can any one help me on this?

[2019-12-26 13:26] blowdart commented on #18032
By crash I assume you mean an exception? In which case this is correct. You can't put spaces in header names

[2019-12-26 13:50] AllanMichaelsen commented on #18025
So I'm using .AsNoTracking when getting my elements as described above. However I still get the error, but on "Child" elements.
The contact has a ModifiedByUser set to a default user, the contact also has a ModifiedByUnit which in turn also has a ModifiedByUser set to the same default user.
So when I attach the contact to the context it starts tracking the default user with the contacts ModifiedBy

[2019-12-26 14:30] blowdart commented on #18024
While authorization isn't core specific it's still a very big breaking change, as everyone will have to update namespaces and we'd have to deprecate the older ones. For a perception issue this probably isn't justified.

[2019-12-26 15:09] alexkibler opened #18039 "ConfirmEmail and Password Reset always return invalid token on aspnetcore3 angular template"
Here's my code in startup for initializing Identity

[code]

Here's the password reset generation code:

ForgotPassword.cshtml.cs
[code]

ResetPassword.cshtml.cs
[code]

Every time I test it with the URL attached to the email, I get InvalidToken.  This happens both with a development certificate locally and with a self-signed certificate in azure as well as a purchased certificate in azure.  Any h

[2019-12-26 15:17] GRS-Leedo opened #18040 "IClaimsTransformation - TransformAsync Never Called in Net Core 3.1"
I have many apps running under Net Core 2.2 that use a ClaimsTransformation to add application specific user claims to a use.

I am creating a new up under Net Core 3.1 and attempting to use the same strategy, but it fails, TransformAsync is never called.

This has been brought up before, but there was no real solution, only that playing with the order of the services sometimes worked and the issu

[2019-12-26 15:35] Schoch85 opened #18041 "Still iOS13 Problems with .NET Core 3.1 03.December 2019 Blazor update (WebAssembly)"
There is still a problem with iOS13, also with the latest Blazor update.
Into my Blazor pages I inject around five singleton services.
When I open the browser on iOS13 and I load a page then it is working, but when I'm reload the page then it seems the stack problem returns and the page isn't loaded.
When I remove from my five injecting services three services then it is also working during reload

[2019-12-26 15:43] pranavkm commented on #18041
This issue was moved to mono/mono#18300

[2019-12-26 15:43] #18041 closed

[2019-12-26 15:47] pranavkm commented on #18038
Hi. It looks like this is a question about how to use ASP.NET Core. We recommend posting your questions to StackOverflow using the asp.net-core-mvc tag to reach a wider audience.

[2019-12-26 15:47] #18038 closed

[2019-12-26 15:50] pranavkm commented on #18036
@enricobenedos specifying `AllowAnyOrigin` with `AllowCredentials` is disallowed by the builder and is likely throwing. I'd expect to see a managed exception that says as much. Do you see one?

[2019-12-26 15:53] pranavkm commented on #18035
@praveena-m's repsonse is correct. Disabling the filter should allow you to manually handle the invalid model state filter. An alternative to disabling the filter is to change what it produces: https://docs.microsoft.com/en-us/aspnet/core/web-api/handle-errors?view=aspnetcore-3.1#validation-failure-error-response

[2019-12-26 15:53] #18035 closed

[2019-12-26 15:56] pranavkm commented on #18034
@ema2ooo the package was removed as part of the 3.0 release. See https://github.com/aspnet/Announcements/issues/325. Please follow our migration guide to update your application to .NET Core 3.0 and later: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio

[2019-12-26 16:01] pranavkm commented on #18033
@zxgamekingdom do you happen to have pre-rendering enabled in your app? With prerendering, you have two instances of the component which would explain why you see 3 of these - once during the initial pre-rendering, once when the component is disposed on disconnect and once again during the 2nd pre-rendering.

[2019-12-26 16:01] #18033 closed

[2019-12-26 16:03] pranavkm commented on #18027
I'm personally not aware of any outside of blazorfiddle. @danroth27?

[2019-12-26 16:07] pranavkm commented on #18023
@aviabunin do you have any reason to suspect this is a Blazor specific issue? Do you see this in a non-Blazor app (for instance and MVC application)? The error message suggests that this is an error from the 3rd party library, not Blazor.

[2019-12-26 16:08] pranavkm commented on #18021
@jeanpoelie the package was removed as part of the 3.0 release. See https://github.com/aspnet/Announcements/issues/325. Please follow our migration guide to update your application to .NET Core 3.0 and later: https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio

[2019-12-26 16:32] Oblomoff opened #18042 "Assigning an object with implicit operator (cast to string) to Blazor component's parameter causes InvalidCastException"
Object

[code]

Component

[code]
Assignment

[code]

Exception
[code]

Sample project

[BlazorBug.zip](https://github.com/aspnet/AspNetCore/files/4002980/BlazorBug.zip)

[2019-12-26 16:51] enricobenedos commented on #18036
Thank you @pranavkm you are right. Removing `AllowCredential` the application start normally without any error.
I'm trying to solve an error caused by CORS in my API. When I try to do some requests with Postman all works well, when I try with a Dart backend I receive these errors in the browser console:
`OPTIONS http://localhost:5000/api/gpx 405 (Method Not Allowed)`
`Access to XMLHttpRequest at '

[2019-12-26 17:00] enricobenedos commented on #18036
Finally I solve my second error moving the `UseCors()` call before all the others
[code]

[2019-12-26 17:00] #18036 closed

[2019-12-26 17:22] Tratcher commented on #18040
That ordering should be:
[code]

Why are you modifying these claims per-request rather than adding them to the user at sign-in so they'll be persisted in the auth cookie?

[2019-12-26 17:25] davidfowl commented on #18025
@AllanMichaelsen did you read this https://docs.microsoft.com/en-us/ef/core/saving/disconnected-entities?

[2019-12-26 17:28] pranavkm commented on #18018
@c0deExplorer is there a reason you aren't referencing the second project as a project reference rather than a package reference? Have you made sure that the assembly version for the binary built locally is 1.0.1 and not a different value?

If you would like to us to investigate this further, could you share a minimal setup that reproduces this issue?

[2019-12-26 17:30] GRS-Leedo commented on #18040
Chris,
Changing the order had no effect. The TransformAsync still is never called.

Regarding claims per request v sign-in, I am open to any and all suggestions that will make this work.  So far hours playing with order of the app. entries and service entries and reading had lead nowhere.

[2019-12-26 17:35] pranavkm commented on #18017
Hi @jlcool ASP.NET Core does not ship a template for flutter-web and we do not have any plans to support this in the near future.

[2019-12-26 17:35] #18017 closed

[2019-12-26 17:37] pranavkm commented on #18016
Thanks for the issue report. You're right, looks like the author of the other issue closed it without a resolution. We're putting this in our backlog and we'll look in to this as part of our next planning.

[2019-12-26 18:26] jkotalik commented on #18019
So I looked up the error you are hitting (0xc000001d)
[code]

This looks like the 32 bit dll is potentially corrupted in some way. Can you see what happens if you uninstall the 3.1.0 hosting bundle and install the 3.0.1 bundle? Or can you see what happens if you uninstall and reinstall 3.0.1?

[2019-12-26 18:27] jkotalik commented on #18019
cc @joeloff

[2019-12-26 19:09] pranavkm commented on #18037
@as-ivanov could you share this project with us? I tried reproducing the issue based on the contents you have, but I was unable to. A repro app would help investigate this further.

[2019-12-26 19:36] NTaylorMullen commented on #14287
The only pieces of the grammar that are yet to be completed are intermingling HTML into deep C# structures. This is tracked by  microsoft/vscode-textmate#122, microsoft/vscode#87496

Now for why, when we hand off the grammar to the C# grammar it doesn't always give us the opportunity to enable HTML constructs. For top level constructs like `@if (...) {` we understand everything in the declaration

[2019-12-26 19:38] AllanMichaelsen commented on #18025
Yes and that works for modified elements but not when using `context.Contact.AddAsync(contact);`. In that case it still throws the error.
I tried that previously but was looking for a general fix in both scenarios.
I have now modified my code to use `context.Entry(existingContact).CurrentValues.SetValues(contact);` for update, but I have no solution for adding new items.

[2019-12-26 19:40] micahosborne commented on #5465
I agree this is the main reason blazor wasm is so appealing. Modularity. This is the only piece lacking ( to achieve complete decouplization ). This feature should be #1 in my opinion ABOVE ALL OTHERS!!!  Can't believe after 2 years this is still a forgotten feature and still unbelievably necessary

[2019-12-26 19:55] AllanMichaelsen commented on #18025
This  seems to work, but it doesn't seem very elegant...

`        if (existingContact is null)
        {
          existingContact = new DtoContact();
          context.Entry(existingContact)
           .CurrentValues.SetValues(contact);
          existingContact = (await context.Contact.AddAsync(existingContact)).Entity;
        }
        else
        {
          context.Entry(existingContact)

[2019-12-26 20:01] davidfowl commented on #18025
This is really an EF question with respect to disconnected graphs cc @ajcvickers @roji

[2019-12-26 21:20] Egor92 commented on #18020
I wanted to have debug scenario: set principle even if there was no certificate and log it.
Also I think it is a little bit strange that I can call ValidateCertificateContext.Success() and set principle even if it was exception during certificate checking ([example](https://github.com/Egor92/TestApplications/blob/master/.Net%20Core/CertificateAuthentication/CertificateAuthentication/Startup.cs#L32

[2019-12-26 22:23] ryanbrandenburg commented on #17826
This was done in https://github.com/aspnet/AspNetCore/pull/17834 and https://github.com/aspnet/AspNetCore.Docs/pull/16162

[2019-12-26 22:23] #17826 closed

[2019-12-26 23:26] davidbuckleyni commented on #18026
Hi @pranavkm this is defo an issue No matter what i cannot get the resource file to show found and get the value of the key and not just the key.

[2019-12-26 23:37] varghesep commented on #14076
Is there an update on upgrading to **Angular 9**? Since **Angular 9** is not released yet, Is there any branch that currently works with **Angular 9 RC**

[2019-12-26 23:57] simonpbond commented on #16874
Another reason why it would be good to have access to JSRuntime inside ConfigureServices [can be found here.](https://github.com/serilog/serilog-sinks-browserconsole/issues/8)

[2019-12-27 00:22] RomBrz opened #25763 ".NET Core 3.x.x installer language in Portuguese instead of English"
# Issue Title

.NET Core 3.0.x and 3.1.0 installers using different language to installation instead of the language of the download, seems like that prior to 3.x.x the installers runs at system language, and with 3.x.x runs with server location.

# General

The behavior of the installer changed with .NET Core 3.x.x. For example, if i go to the official download site and pickup the .NET Core 2.1.1

[2019-12-27 00:24] zxgamekingdom commented on #18033
@pranavkm Thank you,It's really because I can't understand render mode.

[2019-12-27 01:50] Rick-Anderson opened #18044 "Controller public override void OnActionExecuting() Order should not be int.MinValue;"
In [DefaultApplicationModelProvider](https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/ApplicationModels/DefaultApplicationModelProvider.cs#L194-L201)  you set the delegating filter. The source for [ControllerActionFilter](https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/Filters/ControllerActionFilter.cs#L15-L17) sets ` public int Order { get; set; } = int.

[2019-12-27 02:36] wu-yafeng commented on #18024
I agree

[2019-12-27 02:36] #18024 closed

[2019-12-27 03:20] bshade7 commented on #18019
@jkotalik I should be able to give this a shot within the next couple days, I will update the results of trying the 3.0.1 hosting bundle instead.  Thanks for the response.

[2019-12-27 04:57] RemyArmstro commented on #5465
Looks like this feature is moved to 5.0 milestone. This makes it very difficult to consider this for large/enterprise applications (and in turn makes it hard to invest knowledge in knowing you are limited to using it for hobby/small projects).  +1 for making this a higher priority!

[2019-12-27 05:54] paramitamandal commented on #17613
@halter73 @anurse did u able to look into code which @dlimkin provided?

[2019-12-27 06:51] mmarinchenko commented on #8718
Hi guys! Just for the info :)

1. `connection_impl.cpp` still uses `_XPLATSTR` and `utility::conversions::to_string_t()` in the following string:
[code]
2. `negotiate.cpp` still uses `utility::conversions::to_utf8string()` in the following string:
[code]

---
Both of these are not compiled without cpprestsdk even if (and when :)) the alternative http and websocket clients are provided. As I can se

[2019-12-27 06:52] zaranetCore commented on #17955
Have a nice holiday for You

[2019-12-27 10:45] aviabunin commented on #18023
I don't suspect this is a Blazor specific issue. I ran into a problem and am looking for a solution here and on the mapbox forum. [https://github.com/mapbox/mapbox-gl-js/issues/9145](url) . I'm trying now in MVC application.

[2019-12-27 11:10] MV10 commented on #5465
It's equally important for other Blazor scenarios, not just web assembly.

[2019-12-27 11:31] mihaimyh commented on #12601
This still is an issue, I can believe there is no official support for this yet since Authentication/Authorization should be considered a priority.

[2019-12-27 11:36] davidbuckleyni commented on #18026
I can give you Full access to my repo if u have a DevOps account and SQL database?

[2019-12-27 13:03] lmalsch commented on #4895
#metoo

[2019-12-27 13:22] Vake93 opened #18046 "IdentityUserClaim<> and IdentityRoleClaim<> primary key"
Currently I can set the key(Id) type in most of the identity related tables, but in IdentityUserClaim<> and IdentityRoleClaim<> TKey corresponds to the key of the UserId and not the Id itself. I understand that this is might be a breaking change, but would it be possible consider changing this in 5.0 just that it is more consistent?

[2019-12-27 15:07] ptsneves opened #18047 "AuthorizationOptions does not allow to query list of available policies"
Due to the dictionary of policies being private there is currently no way to get all the available policies. Getting all the available policies is very useful when building Administration dashboards where you want to control and check what permissions a given user has.

Multiple users seem to have the same [requirement.](https://stackoverflow.com/questions/45014894/how-to-get-all-authorize-policie

[2019-12-27 16:00] #18034 closed

[2019-12-27 17:00] #18021 closed

[2019-12-27 17:33] pranavkm commented on #18044
The order is correct, setting it to `int.MinValue` means it always runs first i.e. before any other filter and furthest from the action.

Couldn't you write a controller filter instead? What is it that you're trying to do here that you couldn't already do with a controller filter instance?

[2019-12-27 17:40] pranavkm commented on #4895
Hi folks, we realize a lot of you are running in to this. Unfortunately the earliest we can do anything about this would be in the 5.0 milestone. In the meanwhile, a workaround is to use a wrapper type that contains properties with `[CompareAttribute]`.

[2019-12-27 17:45] #18044 closed

[2019-12-28 00:45] berik commented on #17962
If this issue will be fixed then issue in [docs](https://github.com/aspnet/AspNetCore.Docs/issues/12727) will be resolved.

Also, in the past similar issues were raised [1](https://github.com/aspnet/AspNetCore/issues/8432)

[2019-12-28 01:08] andliang commented on #14547
I'm getting the same error (see below) in my Azure App Service using .Net Core 3.1. Though if I create a new Angular + .Net Core 3.1 project using a VS template, and deploy that to the same App Service, it works. So I'm thinking there's a dependency that's causing this error. I have removed and disabled AppInsight from my application entirely but the error still persists.

`<Event>
<System>
<Provi

[2019-12-28 01:31] davidfowl commented on #14547
The callstack explains it pretty clearly (thanks for that):

[code]

Nlog -> Trace.Fail -> Environment.FailFast

[2019-12-28 02:02] davidfowl commented on #14547
Seems like NLog ends up indirectly calling failfast for LogFatal which maps to ILogger.LogCritical.

[code]

With ILogger

[code]

cc @304NotModified any ideas?

[2019-12-28 02:04] davidfowl commented on #14547
@andliang did you explicitly configure the trace target?

[2019-12-28 02:05] davidfowl commented on #14547
@SidShetye see this thread https://github.com/aspnet/AspNetCore/issues/17370#issue-527904746

[2019-12-28 02:10] davidfowl commented on #17370
@uveta are you using NLog? We've found one other example of applications crashing if NLog is being used (see https://github.com/aspnet/AspNetCore/issues/14547#issuecomment-569373496). It seems like there are some loggers that fail (I'm guessing unintentionally if anything critical is logged).

[2019-12-28 02:11] andliang commented on #14547
Thanks for the quick response @davidfowl. So after removing Nlog, my app works!  Also, leaving Nlog installed but removing ASP.NET Core Logging Extensions works as well. Is this an issue with Nlog or NET Core Logging Extensions?
Thanks

[2019-12-28 02:12] davidfowl commented on #14547
@andliang what nlog targets do you have configured? Show me your nlog configuration.

[2019-12-28 02:19] andliang commented on #14547
Sure. Just a FYI, this worked with ASP.NET Core 2.2
[code]

[2019-12-28 02:19] davidfowl commented on #14547
This line:

[code]

Remove the "trace" target and it should work.

[2019-12-28 02:33] andliang commented on #14547
@davidfowl , yup that worked - thanks again. Have yourself a happy new decade!

[2019-12-28 03:22] SidShetye commented on #14547
@davidfowl Thanks. So basically `web.config` should have

`<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />`

instead of

`<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />`

This makes sense that we're only seeing that on Windows' host machines (we x-deploy on windows and linux servers per customer

[2019-12-28 03:25] SidShetye commented on #17370
How are you guys building with that change? Getting this error

[code]

[2019-12-28 07:31] as-srandall commented on #13601
+1

[2019-12-28 10:59] uveta commented on #17370
@davidfowl Sorry for my oversight, we indeed had site extension on. After we switched it off the troublesome exceptions from AppInsights stopped appearing. As a side-effect, this also helped with post-deploy issues, and I can confirm we do not experience outages on our AppService anymore. To answer your second question, we do not use NLog, however we are using Serilog with ElasticSearch sink.

@Si

[2019-12-28 15:22] thewebchameleon opened #18050 "Blazor html meta tags"
This is in reference to #10450.

**Goal:** Set meta tags (title, description etc) for SEO and Open Graph purposes with data coming from the page itself. Using the Javascript interop won't help as pages won't be able to be crawled.

I have used a [suggestion ](https://github.com/aspnet/AspNetCore/issues/16018#issuecomment-490671409)by @honkmother and moved the base component further up the tree to

[2019-12-28 16:27] snakefoot commented on #14547
Alternative you can enable `rawWrite="true"` for the Trace-Target:

[code]

[2019-12-28 17:41] Su-s opened #18051 "how to update data in blazor pages automatically when db updates"
Is there any way to update the Blazor UI in Blazor client App without manually reloading the Page.
In the below example we need to pull the data from the backend; ie the Blazor.server and display periodically.

[code]

Blazor is using Signal R internally for the connection to the client. Is there any method that we can use Signalr to pull the data when DB updates and can omit the usage of the REST

[2019-12-28 19:11] kishanAnem commented on #17876
Hi @doggy8088

I’ve tried to understand this bug.
As mentioned in the attached bug and post.
It is by design we aren’t  supporting application/Json content type for POST.

- TryUpdateModelAsync is using value providers and checking can we read from query or HasFormContentType

- [Frombody] using input formaters using JsonSerializer.DeserializeAsync binding the model.
Framework supported media type

[2019-12-28 20:41] ScotBren commented on #9452
3.1 was already released. Is it still in the Backlog?

[2019-12-28 21:38] eByte23 commented on #12779
I have also reproduced this, it seems like the `Debug` configuration is not being applied as the environment is still `Production`.

Is there any updates here?

[2019-12-28 21:40] guardrex commented on #12779
FYI @eByte23 in case you don't get a quick answer. Many/most are OOF for the holidays ⛄️. It might take a few weeks to get a response.

[2019-12-29 04:50] davidfowl commented on #15019
cc @halter73 did you do this?

[2019-12-29 06:56] shadinamrouti opened #18053 "Identity scaffolding as a Model View Controller"
### Is your feature request related to a problem? Please describe.
I suggest to make both options available. i.e. to scaffold identity as Razor Pages or Model View Controller.

### Describe the solution you'd like
To add a radio button to let the developer choose between RP and MVC for Identity scaffold result.

### Additional context
.Net core is based on freedom (freedom of platform choice) and

[2019-12-29 07:16] kmuthukumar23 opened #18054 "How can i host/deploy the blazor applications in GCP?"
Hi Guys,

I want to host the blazor applications in google cloud plat form.

1. Is there any docs/ways to do this?

2. If it is possible then how can i install the latest version of sdks in it?

can anyone please update details regarding this?

[2019-12-29 09:02] doggy8088 commented on #17876
@kishanAnem It works in ASP․NET MVC 5. So I expected it should works in ASP․NET Core.

[2019-12-29 09:26] davidfowl opened #18055 "JsonHubProtocol is a little too strict in C#"
While testing my golang server implementation of signalr, I tried using the .NET client with the go server and got this error:

[code]

The payload was this:

[code]

As you can see the invocation result has both result and error but they are both empty/null. This works fine in javascript but blows up in C#. We should relax this a bit

[2019-12-29 10:29] mrpmorris commented on #18027
I believe it's the only one.

[2019-12-29 12:21] kishanAnem commented on #17876
@doggy8088 yeah it’s right working MVC 5. In Asp.net community standup I think @DamianEdwards said “ removed that feature consciously”.

[2019-12-29 13:45] as-ivanov commented on #18037
Hi Pranav,

In order to avoid violations of my company's NDA (since repro contains some code of our projects), I had to create a private repository with repro application and add you as a collaborator there:
https://github.com/as-ivanov/razor-error-repro/
If you run RazorError application in Debug it works. However, once you publish it in Release configuration the error above appears.

Please, let

[2019-12-29 14:12] blowdart commented on #18053
This gets brought up a lot. Unfortunately we simply don't have the resources to keep what would become 4 different scaffolding templates in sync and up to date. When I ran a survey the vast majority of respondents, while they wanted MVC scaffolding didn't want it enough to drop other features, and the wider community hasn't produced templates either, so the demand simply isn't there.

[2019-12-29 14:12] #18053 closed

[2019-12-29 15:47] borseno opened #18056 "Blazor Client - "Unable to render component 14" error with deferred .OrderByDescending evaluation"
Consider this code:

`@foreach (var option in optionsVotes.OrderByDescending(i => i.Key))
            {
                <p>Option: @option.Key Votes: @option.Value</p>
            }`

optionVotes is a dictionary<string, int>

Here it doesn't work and says in console something like "unable to render component 14". Then I moved this code to @code section and looped through a ready to consume IEnumer

[2019-12-29 18:45] nfplee opened #18057 "Razor @attributes directive for tag helpers"
It would be great if there was a way to add all the attributes from a dictionary to a tag helper similar to the @attributes directive in Blazor.

[2019-12-29 21:08] anurse commented on #17768
@clement911 can you post the requested repro app? @HaoK wasn't able to reproduce it simply from the description. It's certainly quite possible we missed something, which is why a _runnable_ repro app is preferred so we can make sure everything is the same. That's what we need to further investigate here.

[2019-12-29 21:08] #17204 closed

[2019-12-29 22:37] vulcanlee opened #18058 "[Blazor] The App.razor is not created default with UTF-8 encoding"
Because App.razor of Blazor project is not save with encoding default by UTF-8 (the default encoding is Chinese Traditional (Big5) - Codepage 950), cannot show any Chinese text of UTF-8.

To Reproduce this issue ( I also recording this problem and you can downlod  [Reproduce video without audio](https://vulcanfiles.blob.core.windows.net/$web/Share/2020/2019-12-30_06-30-13.mp4)  ), you can create a

[2019-12-29 23:47] ParisRoubaix opened #18059 "How to get the "large object heap" size using .net core 3 running on Ubuntu 18.04"
How do I get the "large object heap" size?

I'm using .net core 3 running on Ubuntu 18.04.

I posted this on StackOverflow and the only answer was to run dotnet-counters. How can I get this metric inside my running process?

Thanks.

[2019-12-30 00:09] davidbuckleyni commented on #18026
Hi @pranavkm Here is a full completed example of globalization not working in 3.1
Noticed.
1 Changing resource to be Public has no effect in 3.1 Ie U cant access resource in ResouceFolderName.ResouceKey
2. Using  _localizer["TestResources"].Value; does not work neither does it without the Value command it just retrieves the resource key I named the controller HomeController.en-GB.resx as standard

[2019-12-30 03:07] bshade7 commented on #18019
I was able to give this a shot today and the results with 3.0.1 are the exact same as what I was seeing with 3.1.0.  The following error messages were written to the windows event application log:

Faulting application name: w3wp.exe, version: 8.5.9600.16384, time stamp: 0x52157ba0
Faulting module name: aspnetcorev2.dll, version: 13.0.19309.1, time stamp: 0x5dc0c3ae
Exception code: 0xc000001d
Faul

[2019-12-30 04:11] Sausbolle opened #18060 "Variable names shared with Routing and Form Model is overwritten by Form Model"
### Describe the bug
If you use same variable name on a Routing variable as a form Model variable the form Model variable is overwritten by the Routing variable on [HttpGet] and the Routing variable is overwritten by form Model variable on [HttpPost].

_Not sure how to better describe it, or if it is a bug or feature (if feature I would like to suggest it is changed)._

### To Reproduce
[code]

##

[2019-12-30 04:17] 16number opened #18061 "AutenticationStateProvider throws when called in different scope."
### Describe the bug
AuthenticationStateProvider does not get correct state in different Scope in Server Side Blazor

### To Reproduce
StartUp.cs

[code]
[code]

[code]
![image](https://user-images.githubusercontent.com/59351520/71567967-c7cd2880-2b0a-11ea-9c35-de115b3339df.png)

### Further technical details
- Include the output of `dotnet --info`

[2019-12-30 06:39] yshahin commented on #17723
I think its related, my code used CopyTo and when this exception happens
Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Reading the request body timed out due to data arriving too slowly. See MinRequestBodyDataRate.
   at Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException.Throw(RequestRejectionReason reason)
   at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.H

[2019-12-30 09:02] sdcb opened #18062 "Performance issue in UseProxyToSpaDevelopmentServer"
### `UseProxyToSpaDevelopmentServer` causing a lot of time to forward the request.
The raw `webpack`/`ng serve` server is pretty fast, should be processed within `100ms`, but `UseProxyToSpaDevelopmentServer` API have to wait for **4 seconds** to handle this request.

### To Reproduce
Create a angular `SPA` project (based on `.NET Core 3.1`), modify the `Startup.cs`, change `UseAngularCliServer` to

[2019-12-30 09:11] sdcb commented on #18062
Looks like the issue is related to this one: https://github.com/aspnet/AspNetCore/issues/16797

[2019-12-30 09:37] ehtick opened #18063 "Exception in Garbage collection"
Update a project from asp.net core 2.2 to 3.1. Run the project and the first page is shown.
After clicking on a link and processing the controller a exception is thrown.
This exeception kills the web process. Enabled symbol servers and saw that the exception landed in

"Object reference not set to an instance of an object."

at System.Threading.Overlapped.Free(NativeOverlapped* nativeOverlappedPtr

[2019-12-30 10:01] leastprivilege opened #18064 "Scope HTTPS client certificate requirement to specific paths in Kestrel"
### Is your feature request related to a problem? Please describe.
I am trying to run IdentityServer4 with the OAuth 2.0 MTLS [spec](https://tools.ietf.org/html/draft-ietf-oauth-mtls-17) on a Kestrel host.

The spec requires that certain endpoints must require HTTPS - in our case we put them all under a common path, e.g. /connect/mtls/*. For IIS deployments we use the location element in web.confi

[2019-12-30 10:05] pangeax commented on #17996
I would also welcome an easy way to modify the default css class names. Currently these names ("modified", "valid", "invalid", ...) are hardcoded.

[2019-12-30 10:25] mjamin commented on #14735
I opened an issue on the VS feedback site a few weeks ago: https://developercommunityapi.westus.cloudapp.azure.com/content/problem/845413/aspnet-core-web-project-gets-passed-a-launcher-arg.html

[2019-12-30 13:36] Tratcher commented on #17723
The difference is that the bug is in CopyTo rather than in the form reader. It's a similar bug in a different place so we'd like to track the issue separately.

[2019-12-30 13:53] blowdart commented on #18059
This isn't an asp.net question.

Please repost in https://github.com/dotnet/runtime as I don't have the ability to move it.

[2019-12-30 14:02] rysep2 opened #18066 "IdentityServer4 OIDC for Blazor"
I'm trying to fit my Blazor Server Side application into our existing IdentityServer4 OIDC process. At the moment there is no official documentation concerning this topic and I'm forced to use hacky workarounds that in turn produce uncommon errors. In [this github issue](https://github.com/aspnet/AspNetCore/issues/12601) I already addressed one of those errors that I still can't solve.

On stackov

[2019-12-30 14:32] pranavkm commented on #18066
We'll use the linked issue to track further work.

[2019-12-30 14:32] #18066 closed

[2019-12-30 14:33] pranavkm commented on #12601
@javiercn looks like this hasn't been resolved as yet - https://github.com/aspnet/AspNetCore/issues/18066. Can you help?

[2019-12-30 14:36] pranavkm commented on #18063
Can you share the complete stack trace? It would be useful to figure out what issue tracker this issue belongs.

[2019-12-30 14:37] pranavkm commented on #18062
Do you know if the linked issue resolves your problem?

[2019-12-30 14:46] pranavkm commented on #18061
This appears to be by design. Blazor Server mutates one scoped instance of the provider as part of it's circuit. An instance resolved within a custom scope wouldn't have the same mutations applied.

Is there a reason you're creating custom scopes?

[2019-12-30 14:46] ehtick commented on #18063
Well that is the problem there is no stack trace that is usefull, it is initiated by the garbage collector and it only contains methods with the core lib. :(

[2019-12-30 14:52] ehtick commented on #18063
this is the call stack:

 	System.Private.CoreLib.dll!System.Threading.DeferredDisposableLifetime<System.__Canon>.Dispose(System.__Canon obj) Line 109	C#
 	System.Private.CoreLib.dll!System.Threading.PreAllocatedOverlapped.Dispose() Line 75	C#
 	System.Net.Sockets.dll!System.Net.Sockets.SocketAsyncEventArgs.Dispose() Line 461	C#
 	System.Net.Sockets.dll!System.Net.Sockets.Socket.DisposeCachedTaskS

[2019-12-30 14:55] pranavkm commented on #18060
This is by design. https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-3.0#sources details the order of sources used to discover values for model binding. Form has a higher precedence than Route or Query string and is preferred when present.

My recommendation would be to use a different name for your route value to avoid the collision. However, if you absolutely

[2019-12-30 14:56] pranavkm commented on #18059
This issue was moved to dotnet/runtime#1217

[2019-12-30 14:56] #18059 closed

[2019-12-30 14:58] pranavkm commented on #18058
@ajaybhargavb didn't we fix this?

[2019-12-30 15:00] pranavkm commented on #18057
@nfplee Tag helpers support passing in a dictionary of attributes. For instance: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.TagHelpers/src/FormTagHelper.cs#L120-L139. Does this suffice?

[2019-12-30 15:04] pranavkm commented on #18056
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimal project (ideally a GitHub repo) that illustrates the problem.

[2019-12-30 15:06] pranavkm commented on #18054
Hi @kmuthukumar23, this sounds like a question for the platform that you're attempting to deploy to. I'll recommend following up with their forums on how to host and deploy ASP.NET Core applications.

[2019-12-30 15:06] #18054 closed

[2019-12-30 15:07] pranavkm commented on #18051
Hi. It looks like this is a question about how to use ASP.NET Core. We recommend posting your questions to StackOverflow using the asp.net-core-blazor tag to reach a wider audience.

[2019-12-30 15:07] #18051 closed

[2019-12-30 15:10] nfplee commented on #18057
Thanks I'm aware of this, but this issue is rendering the attributes on a tag helper similar to the @attributes directive.

[2019-12-30 15:29] FilipVanBouwel commented on #7756
I'm also totally not a fan of having this method removed. Changing CurrentUICulture and reverting it every time is very annoying and makes it pretty much not unit-testable.

[2019-12-30 16:29] pranavkm commented on #18063
This issue was moved to dotnet/runtime#1218

[2019-12-30 16:29] #18063 closed

[2019-12-30 17:00] GRS-Leedo commented on #18040
To try to get more information, I injected IAuthorizationServer and called .AuthorizeAsync(...) and TransformAsync in the IClaimsTransformation is never called.

Injecting IClaimsTransformation and manually calling TransformAsync(...) does indeed call TransformAsnc which works as it should.

It seems like the Default Authorization Service isn't doing what it is supposed to and calling TransformAsy

[2019-12-30 17:04] GRS-Leedo commented on #14561
This still does not work.  Order has had no positive effect.  Although the IClaimsTransformation is instantiated, TransformAsync is never called.  It seems like the default Authorization Service does not know to call TransformAsync.  You can also follow #18040, although there hasn't been much help there.

[2019-12-30 17:19] wilsoncg opened #18067 "razorclasslib template project support for F#"
### Please consider razorclasslib template project support for F#
The following should succeed:
`dotnet new razorclasslib -lang f# -o RazorComponents`

### Describe the solution you'd like
This addition would improve the developer experience when using [Bolero](https://fsbolero.io/) and Blazor.

I'm not sure where the template packs are located for the Razor class library or what the process is fo

[2019-12-30 17:31] Tratcher commented on #18064
This is a limitation of SslSteam, it does not support explicit renegotiation.

[2019-12-30 17:32] pranavkm commented on #18067
Thanks for your issue report. We'll track fixing this as part of our next milestone.

[2019-12-30 17:35] pranavkm commented on #17923
@SteveSandersonMS could you have a look?

[2019-12-30 17:35] pranavkm commented on #17990
@javiercn could you have a look?

[2019-12-30 18:11] pranavkm commented on #18037
Thanks @as-ivanov. Looks like your app turns on linking in Release builds. In addition, you rely on runtime compilation of views in published applications. The linker is likely removing types that are required by the views to build \ run.

Is there a reason you rely on runtime compilation? It has a much slower startup experience compared to build time compiled views and increases the published out

[2019-12-30 18:28] pranavkm commented on #18050
@thewebchameleon I'm not sure rendering the `script` tag from a component is going to work. It's required to bootstrap Blazor Server. That said, as you pointed out, the linked issue - https://github.com/aspnet/AspNetCore/issues/10450 - already tracks the work to be done here. If you need specific help using using Blazor, please use StackOverflow with the asp.net-core-blazor tag.

[2019-12-30 18:28] #18050 closed

[2019-12-30 19:26] NTaylorMullen commented on #14287
Hmm, VSCode's PHP grammar does similar things and they've been able to get this to work. When I have time i'll have to look into this more.

[2019-12-30 20:23] glararan commented on #18058
Confirming bug for 3.1. Did happen to me today

[2019-12-30 20:24] pranavkm commented on #18031
Thanks @Sausbolle for the detailed repro application. This looks like a bug in MVC's editor template \ display template system. While MVC falls back to using the backing type for nullable types, it ends up reconstructing the `ModelMetadata` to fit the non-null model type. Essentially, it sees a model metadata instance for a `Nullable<int>` but has to produce a model metadata for an `int` model. Th

[2019-12-30 20:26] glararan commented on #13601
I would also appreciate. Sad thing is even login via httpclient/webapi is not working. You have to use razorpages

[2019-12-30 20:34] pranavkm commented on #17876
Thanks @kishanAnem for the investigation. This is not a feature ASP.NET Core MVC has. https://github.com/aspnet/Mvc/issues/5659#issuecomment-270717629 goes in to some details as to why along with possible solutions to this.

[2019-12-30 20:34] #17876 closed

[2019-12-30 20:40] ajaybhargavb commented on #17721
I took a stab at this with https://github.com/aspnet/AspNetCore-Tooling/pull/1459.
To update on @NTaylorMullen's points earlier,
- The path too long exception still exists and blocks running tests on Windows (https://github.com/microsoft/vscode-test/issues/43)
- Linux CIs don't seem to have yarn installed or atleast it's not on path
- Mac CIs attempt to run them but fail with `Error: command 'exte

[2019-12-30 21:00] #18006 closed

[2019-12-30 21:44] #18060 closed

[2019-12-30 23:42] aaronhudon-ts opened #18069 "Blazor: EditContext fieldstate tracking falls apart when model implements GetHashCode"
### Describe the bug
When a model implements `GetHashCode`, the `_fieldState` dictionary within `EditContext` continually adds to it's collection for the same field, effectively breaking the field-state logic.

### To Reproduce
In my case, I used a protocol buffer to generate a simple C# class.  Here's a gist: https://gist.github.com/aaronhudon-ts/6f9b079014115f539feef9b599a2c14d

- Put a breakpoi

[2019-12-31 00:17] enetstudio opened #18070 "I just want to verify through the Blazor team if using HttpContext is viable"
in Blazor Server App, as I do. The code works perfectly fine. And I query the HttpContext only on the first connection which is an HTTP connection, that is when the user type a url in the browser's address bar and then press the enter button.

`1. Add a file to the Pages folder and name it _Host.cshtml.cs
2. Add this code to the file:

        public class HttpContextFeatureModel : PageModel

[2019-12-31 03:24] mqudsi opened #18071 "Required GET parameters do not automatically constrain route"
(Depending on how you're squinting, this may be construed as a bug report, a feature request, or by-design. I know it's not oversight, as it's not a realistic oversight.)

Given a Razor page with two `OnGet` handlers:

[code]

and the default routing templates for an ASP.NET Core 3.1 project, it is *reasonable* for a developer to assume that these two handlers are uniquely sufficient: they have th

[2019-12-31 05:55] Silence-Among-Crows commented on #13247
Hi there, I ended up with what I think may be a similar issue.

I am using Client side Blazor and have stumbled upon a tricky section regards to routing with strings and dots (.). I wish to route from an admin control page to a page with the following route: `@page "/ManageGradingExamResults/{StudentEmail}"`. I tested such with this request: https://localhost/ManageGradingExamResults/1234@high.sch

[2019-12-31 09:31] Speedocs commented on #5621
This bug is still there in VS Enterprise 2019 16.3.10.

For me it only happens if I break inside a cshtml file, and if I remove the breakpoint I can continue normally.

This is a terrible productivity killer and it is unfortunate that this bug has not been resolved in over a year.

[2019-12-31 10:20] fingers10 opened #18072 "Question - How to handle window or body onscroll in Blazor server side?"
I'm developing my first blazor server side application. I need to capture `onscroll` event of `window` or `body` in my blazor server side application. Right now I implemented this using a script file where I capture the event and do my logics in there as shown below.

**For `window`:**

[code]

How to capture `onscroll` event of `body` tag? In blazor server side `body` is in `_Host.cshtml` file wh

[2019-12-31 12:12] leastprivilege commented on #18064
OK. Thanks. Then it would be useful to add docs that describe how to achieve that with IIS and nginx.

[2019-12-31 13:05] pangeax commented on #5501
As @miroslavp mentioned: ```onmouseenter``` and ```onmouseleave``` events are not available in the latest version, which is a pity. I wonder if there is a technical reason behind it?

[2019-12-31 13:35] stevejgordon opened #18073 "BackgroundService - Possible "Deadlock" Bug"
## Bug Description
While writing some tests for a class which inherits from `BackgroundService` I noticed that it's possible to deadlock the app if all async calls inside the `ExecuteAsync` method complete immediately and where a `while (!stoppingToken.IsCancellationRequested)` loop is used. See below for examples.

As first I thought it was limited to calling the StartAsync method directly from m

[2019-12-31 13:39] loganmarshall1 commented on #5621
It's fixed in 16.4 please update.  We've been setting break points in razor and it works great! :)

Logan

On Dec 31, 2019, at 4:31 AM, Ido Kalir <notifications@github.com> wrote:

﻿

This bug is still there in VS Enterprise 2019 16.3.10.

For me it only happens if I break inside a cshtml file, and if I remove the breakpoint I can continue normally.

This is a terrible productivity killer and it i

[2019-12-31 14:50] Metetron commented on #18026
Hi,

I ran into a very similar problem. I have a lot of razor pages where I inject IStringLocalizers.
After the upgrade to 3.1 the rendered view just displays the key not the string that is defined in the resx- File.

I created a small sample containing two projects. Localization_Before targets asp.net core 2.2 and Localization_After targets asp.net core 3.1.
There are 2 strings displayed on the h

[2019-12-31 14:51] robinwilson16 commented on #14842
This still isn't fixed and also occurs when migrating from .NET 3.0 to 3.1.
I have linked the new issue to this one.
New issue for NET Core 3.1 is logged here: dotnet/core#4064

[2019-12-31 18:06] davidbuckleyni commented on #18026
@Metetron Thanks hopefully they be able to understand this is a issue in 3.1 I created a project with all the suggestions made on so but none of them work localization is def broken in terms of 3.1 we just need them to admit it.

[2019-12-31 18:10] davidbuckleyni commented on #18026
@Metetron That means IStringLocater is defo broke in 3.1 and no our project is 3.1 so need this working

[2019-12-31 19:15] danroth27 commented on #18027
I'm only aware of https://blazorfiddle.com, which is built by the community. Feel free to reach out to the owner, @samprof, if you think it could be improved in some way.

[2019-12-31 19:15] #18027 closed

[2019-12-31 19:43] davidbuckleyni commented on #18026
@Metetron I noticed also your example only uses views and not controllers I believe that there is an issue in controllers as well according to my github

[2019-12-31 20:48] davidbuckleyni commented on #18026
I am still getting blank with this method brand new asp.net 2.0 project

   private readonly IStringLocalizer<HomeController> _localizer;

        public HomeController(IStringLocalizer<HomeController> localizer)
        {
            _localizer = localizer;

        }

        public IActionResult Index()
        {
            var TEST = _localizer["Title"];

    return View();
        }

[2019-12-31 21:00] Metetron commented on #18026
#17733 is the same as my issue. I tried the proposed workaround of moving the SharedResources.cs- File out of the resources folder and it worked.

@davidbuckleyni For testing I added a controller and a view into my test project and was able to reproduce your exact issue. The workaround mentioned above also worked here.

Nevertheless I hope this gets fixed.

I published my example project here: [ht

[2019-12-31 21:27] paul-pz opened #18074 "MessagePack v2 causes TypeLoadExceptions in Microsoft.AspNetCore.SignalR.StackExchangeRedis"
Microsoft.AspNetCore.SignalR.StackExchangeRedis breaks at runtime if MessagePack v2 is added. Might be worth constraining the nuget package until this fixed.

[2019-12-31 21:54] bchewy opened #18075 "Unable to scapfold"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Further technical details
- ASP.NET Core version
- Include the output of `dotnet --info`
- The IDE (VS / VS Code/ VS4Mac) you're running on, and it's version

[2019-12-31 22:19] davidbuckleyni commented on #18026
:Metetron I totally agree I would look at it myself If I could but im not part of the team.

[2019-12-31 22:29] davidbuckleyni commented on #18026
@Metetron Also the accessability of being able to do Resources.ResourceName to get the value from the default resource appears to be broken as well.

[2019-12-31 22:48] davidbuckleyni commented on #18026
@Metetron was having a look a the source I see an interface for IHtml I View but not STRING could they have forgotten to carry this over I doubt that.

![image](https://user-images.githubusercontent.com/5619229/71635770-503ced80-2c1f-11ea-8b3b-2e274b3facd7.png)

[2020-01-01 01:05] ericl85 commented on #13778
https://github.com/aspnet/AspNetCore/blob/602cb1dea59751a1297d674cddf7f0729c23e6ca/src/Mvc/Mvc.Core/src/ModelBinding/Validation/ValidationVisitor.cs#L258-L269

I think I just ran into this today. After digging a bit, I believe the issue is the lack of `_currentPath.Pop(model)` in the `if (ModelState.HasReachMaxedErrors)` branch.

If you had -- for example -- a large array of objects with validatio

[2020-01-01 05:16] enetstudio commented on #17839
sikira, it is somehow related to the form element, without which it works perfectly fine using the anchor element instead. Do something like this:
<a href="Identity/Account/LogOut">Log Out</a>

[2020-01-01 07:10] alextech opened #18076 "Blazor with efcore proxies crash."
Related to https://github.com/aspnet/AspNetCore/issues/10448

Minimal reproduceable project based on blazor template at: https://github.com/alextech/sample_use_proxy_blazor

Here, the issue is using proxies in efcore with blazor. If an object is passed to a sub-component that is accessing entity property sometime after the page has been loaded, context may have already been disposed.

Lazy Loading

[2020-01-01 12:23] mrpmorris opened #18077 "Blazor docs: Requires more information for lifetimes"
https://docs.microsoft.com/en-us/aspnet/core/blazor/dependency-injection?view=aspnetcore-3.1

This page says that IJSInterop etc are scoped as singletons, which is incorrect in server-side apps.

[2020-01-01 14:53] borseno commented on #18056
Unfortunately I couldn't attach the project as it is too big in terms of size. It also contains more than a hundred files, so I couldn't upload it as a new public repository either. However, you can find links to the page code in the issue description, with non-working and working versions, respectively. You can skip the api call in the code and mock it with ready-to-use values. It won't work that

[2020-01-01 15:02] borseno opened #18078 "Add <InputDateTime> blazor component"
Hello all,

I've been using blazor for a while and I really liked it.
However, there is one thing that I always need and it isn't present in Blazor.
It is DateTime input component. There is a InputDate component, so I can enter date, but there is no nice and convenient way to enter time and date in the same field (or in separate fields)

So it would be nice to add such components as InputTime, Inp

[2020-01-01 16:00] mihaimyh opened #18079 "Blazor dealing with cookie expiration"
Happy New Year!

There was an older issue opened for this https://github.com/aspnet/AspNetCore/issues/6855 which was closed by the bot without a solution.

Is there a way to force the user back to login page when the cookie has expired?

Currently setting `options.ExpireTimeSpan = TimeSpan.FromSeconds(300)` still allows user to navigate inside the app and only a browser refresh will trigger the lo

[2020-01-01 16:58] fingers10 opened #18080 "Intersection Observer Not working in blazor server side app"
I recently came across `IntersectionObserver` API. so I thought of making my existing `window.onscroll` logic to work with `IntersectionObserver` API. However I'm not able to achieve it.

Here is what I'm trying to do. In my parallax page with fixed top nav bar and I would like to apply `active` css class to `a.nav-items` when the user scroll reaches the respective section he wants to view.

Here

[2020-01-01 20:17] VBAndCs opened #18081 "[Proposal]Add a generic Set and Get methods to the Microsoft.AspNetCore.Http.SessionExtensions class"
Now that .Net Core 3 has a built-in JsonSerializer, it is helpful to add a generic Set and Get methods to the SessionExtensions class:

[code]

[2020-01-02 01:07] sdcb commented on #18062
@pranavkm I grab the latest code and does not seem help, it does **not** resolve my problem.

[2020-01-02 04:39] ThatRickGuy commented on #6818
Still seeing this in 3.1 preview client side blazor app.
http://ringdev.com/Iosian4 works
http://ringdev.com/iosian4 does not, throws
`blazor.webassembly.js:1 WASM: System.ArgumentException: The URI 'http://ringdev.com/iosian4' is not contained by the base URI 'http://ringdev.com/Iosian4/'.`

[2020-01-02 07:12] ManfredLange commented on #11498
@dpr-dev @ryanbrandenburg

Here is a repo repository within minimal code base for ASP.NET Core 3.1, React 16.12.0 and react-scripts 3.3.0. Furthermore, I am using nodejs 12.13.1 and Visual Studio 2019 Community Edition 16.4.2.

The code base was generated using `dotnet new react` using current templates (as of writing), then all npm packages were updated to latest stable. Further details in README

[2020-01-02 07:25] SandeepRCH opened #20113 "Authorization for endpoints outside MVC application like swagger not working"
.Net core 3.1 is expected to come with support for Authorization to endpoint routing outside of MVC. We have tried multiple ways of authorising the endpoints like swagger / custom endpoints.

The following code seems to authorize the user but it is not showing the swagger page.
The response body is empty for some reason and the swagger page never showed up.

[code]
Can we access the swagger page l

[2020-01-02 08:19] fitdev opened #18083 "Razor Components: Parameter Assignment not working when Implicit Conversion Operators are involved"
### Describe the bug
Runtime exception when trying to set a parameter on a component using a different type (property is of one type, the parameter is of another type), when there exists a user-defined conversion.

### To Reproduce
I have a `Child.razor` component defined like this:

[code]

Then, I have another component which references the above component:

[code]

There exists a user defined c

[2020-01-02 08:31] azydevelopment commented on #17575
Okay this seems to work now. It does seem to be because the default code and the scaffolded code were different. Specifically one enabled lockout and one did not.

[2020-01-02 08:31] #17575 closed

[2020-01-02 09:12] rbfriedman opened #18085 "NavigationManager should handle when a user presses the browser Back button"
### Is your feature request related to a problem? Please describe.
On my application I have created a back button on the screen. When clicking the back button, I use NavigationManager to navigate to the previousPage, which I set based on the params in the page.  If a page is the homepage of that section, instead of a back button, I display a menu.
For example:

TomatoSauce.razor
[code]
[code]
###

[2020-01-02 09:20] sikira commented on #17839
enetstudio  tnx for suggestion, but it didn't work for me on this issue. This "a" element is a GET request, not POST, and i don't see how it would work without further modification on logout page. Maybe i'm missing something.

[2020-01-02 09:49] drauch opened #18086 "Forward IIS client certificate to ASP.NET Core (without trust/validation checks by IIS)"
We are running our ASP.NET Core application (2.1.latest + .NET.Framework 4.7.2) behind an IIS web server.

We want to perform custom client certificate validation in our ASP.NET Core application. For the SSL certificate to be forwarded from IIS to our application, however, we need to enable the following in the IIS' configuration file (`applicationHost.config`):

[code]

If we use `sslFlags=None`

[2020-01-02 10:21] davidfowl commented on #18086
When using IIS HttpsConnectionAdapterOptions doesn't work. That's kestrel specific and in this case it won't do anything.

I'm not sure of a way to do this but a quick search brought this up https://forums.iis.net/t/1191370.aspx?403+16+on+IIS+8+

[2020-01-02 10:25] drauch commented on #18086
In this thread they are adding the root certificate to IIS so it trusts the client certificate. However, we don't want to do that. Users should be able to send arbitrary client certificates.

[2020-01-02 10:26] tester346 opened #18087 "Unexpected end of Stream, the content may have already been read by another component."
I have some weird problem which happens to only 1 user of let's say 50

When he uploads file there's `Unexpected end of Stream, the content may have already been read by another component. at Microsoft.AspNetCore.WebUtilities.MultipartReaderStream.ReadAsync(Byte[] buffer, Int32 offset, Int32 count, CancellationToken cancellationToken) at Microsoft.AspNetCore.WebUtilities.StreamHelperExtensions.Dra

[2020-01-02 11:04] SteveSandersonMS commented on #17923
`document.getElementById` can only return references to elements that exist within the DOM now. If a new matching element gets added later, that's a new element and your code hasn't added any event handlers to it yet.

The fact that elements can be added and removed dynamically is the whole reason why jQuery has the `.on` function. If you want to add event listeners to all current *and future* mat

[2020-01-02 11:04] #17923 closed

[2020-01-02 11:25] SQL-MisterMagoo opened #18088 "Constructor injection for Blazor components"
### Is your feature request related to a problem? Please describe.
Constructor injection in Components was ruled out previously as "we don't plan to do this" but now that we have partials is there any change in this attitude?
see #15779 , #5497

### Describe the solution you'd like
If Blazor could be modified to optionally use DI to source components, then constructor injection would be possible,

[2020-01-02 11:40] SteveSandersonMS commented on #17997
You'll need to surround your calls to `UseClientSideBlazorFiles` inside suitable `app.MapWhen` blocks to wire them up to different parts of the URL space. You'll also need to put different `<base href="/mysubdir/">` tags inside the `index.html` pages for each separate Blazor WebAssembly app so the client-side logic knows about the different parts of the URL space.

@pranavkm Yes we absolutely shou

[2020-01-02 11:53] rcollina commented on #17503
Hello,
Should this feature request be moved to the Extensions repo for visibility?

[2020-01-02 12:21] gurry opened #18089 "DB Connection Pool Exhaustion"
I'm facing a problem with an Asp.Net Core app where database connections get exhausted  the application crashes with this exception:

`System.InvalidOperationException: Timeout expired.  The timeout period elapsed prior to obtaining a connection from the pool.  This may have occurred because all pooled connections were in use and max pool size was reached.`

The action method in question is as bel

[2020-01-02 13:18] Thom3189-coder opened #18090 "Redirect to location with umlaut is not encoded correctly on azure app service."
### Describe the bug
When performing a redirect to '/stenströms/', the resulting location header sent to the client is: '/stenstrÃ¶ms/', which looks like the wrong encoding is used when producing the response byte array. This only happens on the azure app service where our site is hosted. Locally on IIS (also in-proc hosting) this works fine.

### Further technical details
- ASP.NET Core version:

[2020-01-02 13:23] Cammeritz commented on #8998
Okay, so now for some weird reason it works. but it's still a decision that i think is quiet stupid.

[2020-01-02 13:56] blowdart commented on #18090
Have you logged a bug with app service?

[2020-01-02 14:24] gaborposz opened #18091 "ASP.NET Core Runtime 3.1.0 installer contains not signed assemblies"
Hello,
We are using Device Guard on machines where we install our product, and it prohibits the execution of not-signed assemblies. Unfortunately the [ASP.NET Core Runtime 3.1.0 Hosting Bundle installer](https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-aspnetcore-3.1.0-windows-hosting-bundle-installer) (as well as other .NET Core installers) contains not signed assemblies, thus

[2020-01-02 14:39] Thom3189-coder commented on #18090
Not yet as I assumed the aspnetcoremodulev2 or asp core directly before that are responsible for producing the response bytes which are from this repo. If that is not the case I can open a bug with app service, if you could direct me to where I can do that?

[2020-01-02 15:20] stanac opened #18092 "WASM Blazor goes into infinite loop on Task.GetAwaiter().GetResult();"
### Describe the bug
I am working on a Blazor app, hosted on the client. In one of the services, on the client side, constructor is invoking JS interop to get a value from local storage, so I am calling ValueTask<T> synchronously with `ValueTask<T>.GetAwaiter().GetResult()` which break blazor with (I am guessing) infinite loop. Page is stuck, chrome is taking ~20% of CPU (on 4 cores/8 threads inte

[2020-01-02 15:24] penfold commented on #17607
It looks like https://github.com/aspnet/AspNetCore/issues/18062 may be related.

[2020-01-02 15:29] maknapp opened #18093 "Use linux sendfile for PhysicalFile response"
### Is your feature request related to a problem? Please describe.
I was expecting PhysicalFile to use the sendfile system call in linux but all it does is stream the file using this fallback:

https://github.com/aspnet/AspNetCore/blob/7ae6d1e3791e09db1fe2b032044208b04d4cc3b1/src/Http/Http/src/SendFileFallback.cs

This fallback uses much more CPU and memory to serve files than using the sendfile s

[2020-01-02 15:37] futureinfo commented on #5223
Yes,same issue for my spa project with vuejs in 3.1.
When post a request with invalid URL  to server, then you will get that issue.
_"System.InvalidOperationException: The SPA default page middleware could not return the default page '/index.html' because it was not found, and no other middleware handled the request."_
but when get  with invalid URL, it works normally.

[2020-01-02 16:12] pranavkm opened #18094 "Document hosting Blazor in non-root URLs"
Per https://github.com/aspnet/AspNetCore/issues/17997#issuecomment-570184384

[2020-01-02 16:18] pranavkm commented on #18092
Blazor WASM runs in a single-threaded environment. Consequently any blocking calls will deadlock the application.

That's effectively the only solution. I'd go further and say in general, [avoiding blocking calls](https://blog.stephencleary.com/2012/07/dont-block-on-async-code.html) is the way to go.

[2020-01-02 16:19] pranavkm commented on #18091
/cc @aspnet/build @Pilchie

[2020-01-02 16:20] pranavkm commented on #18090
/cc @jkotalik

[2020-01-02 16:20] jkotalik commented on #18091
@joeloff

[2020-01-02 16:25] pranavkm commented on #18087
@Tratcher any guesses what could be causing this?

[2020-01-02 16:30] jkotalik commented on #18090
This seems like it could be an issue with the Azure Gateway between the client and ANCMv2 as well. In general, headers with non ascii characters can be fuzzy.

cc @suwatch, where can I redirect this?

[2020-01-02 16:33] Tratcher commented on #18087
And it always works fine if you skip FormatRequest?

Can you get a Fiddler trace from the client when they repro this?

[2020-01-02 16:35] jkotalik commented on #18089
From what it sounds like, this issue is probably better filed in the SqlClient repo. cc @ajcvickers @smitpatel any thoughts?

[2020-01-02 16:44] jkotalik commented on #18086
I believe David is correct, you won't be able to get the forwarded certificate in AspNetCore from IIS because ANCM reverse proxies HTTP to Kestrel. So you'd have to do do custom client certificate validation in IIS. I think https://docs.microsoft.com/en-us/iis/configuration/system.webserver/security/authentication/iisclientcertificatemappingauthentication/ could help? This seems to be the equivale

[2020-01-02 16:55] jkotalik commented on #18074
@paul-pz could you provide more details on this? What exception is thrown from the runtime? What version of StackExchangeRedis are you using?

cc @BrennanConroy @AArnott

[2020-01-02 16:57] jaymcguinness commented on #18078
InputDate builds a HTML compliant Input element which the type attribute set to "date"

https://github.com/aspnet/AspNetCore/blob/8c02467b4a218df3b1b0a69bceb50f5b64f482b1/src/Components/Web/src/Forms/InputDate.cs

The w3c spec supports other values, which includes capturing date and time - eg.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local

But the UI will vary by

[2020-01-02 17:03] jkotalik commented on #18019
Very weird. I've tried to repro this locally with the 3.0.1 installation of IIS and I couldn't repro it. The only thing that I can think of is the version of Windows you have.

For my sanity, can you check that the bitness of the `aspnetcorev2.dll` is 32 bit? You can use something like `dumpbin` to find the bitness.

[2020-01-02 17:09] AArnott commented on #18074
MessagePack v2 has many (by design) breaking API changes from v1. Given ASP.NET Core now only runs on .NET Core, which doesn't support loading two assembly versions with the same simple name at once, this means if SignalR compiles against MessagePack v1 then it's toxic for a web app to reference MessagePack v2 since only one will load and cause a failure in one use or the other.

[2020-01-02 17:11] #18029 closed

[2020-01-02 17:14] anurse commented on #14735
@mjamin thanks! I've found the internal tracking ticket for that and provided some additional context. We'll work to try and get some progress on it.

[2020-01-02 17:21] Tratcher commented on #18081
We've decided against this repeatedly. It makes too strong an assumption that all types can be safely round-tripped through JSON serialization.

At most we should update the sample in the docs showing how to do this. (It uses JsonConvert today).
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-3.1#set-and-get-session-values

[2020-01-02 17:25] drauch commented on #18086
How to do that?

This seems to be just an addition to SslNegotiateCert, it still performs the trust check in IIS. But then performs an additional mapping from a client certificate to a user.

[2020-01-02 17:25] Tratcher commented on #18086
@jkotalik I don't expect that to work, that's about creating a user after the cert validation.

[2020-01-02 17:29] Tratcher commented on #18090
How did you generate the redirect?

[2020-01-02 17:33] pranavkm commented on #18088
Thanks for your issue report. We'll track fixing this as part of our next milestone.

[2020-01-02 17:36] pranavkm commented on #18085
@rbfriedman you could use JSInterop to run `history.back` to integrate with the browser's real history.

[2020-01-02 17:38] Tratcher commented on #18093
Prior discussion here:
https://github.com/aspnet/KestrelHttpServer/issues/1593
https://github.com/aspnet/KestrelHttpServer/issues/1673

Summary:
- It wouldn't work with SSL
- The linux APIs are not async

[2020-01-02 17:38] pranavkm commented on #18080
@fingers10 do you know if you see the same issue in a non-Blazor app (for instance an MVC application with Views)? We don't think this is a Blazor specific issue, more likely an issue with how you're using the browser API.

[2020-01-02 17:40] pranavkm commented on #18079
@mihaimyh have a look at the Blazor server templates. It has a component that revalidates at intervals and that should help here. Let us know if you need any further help.

[2020-01-02 17:42] pranavkm commented on #18078
Thanks for your issue report. We'll consider whether to address this during our next milestone planning.

[2020-01-02 17:44] pranavkm commented on #18077
Thanks for the issue report @mrpmorris. We'll work on updating the docs as part of the Blazor WASM release.

[2020-01-02 17:45] SQL-MisterMagoo commented on #18088
Thanks for that

[2020-01-02 17:47] anurse opened #18095 "User secret value can't have a dash (-) as a prefix"
_From @tuscen on Saturday, December 28, 2019 9:44:44 AM_

When trying to add a secret with a value prefixed with a dash I get the following error

[code]

dotnet sdk version: 3.1.100

_Copied from original issue: dotnet/sdk#4106_

[2020-01-02 17:47] anurse commented on #18095
_From @livarcocc on Tuesday, December 31, 2019 6:51:17 PM_

@anurse @mkArtakMSFT should this be moved to asp.net?

[2020-01-02 17:48] pranavkm commented on #18076
Hi @alextech, have a look at https://docs.microsoft.com/en-us/aspnet/core/blazor/dependency-injection?view=aspnetcore-3.1#utility-base-component-classes-to-manage-a-di-scope. Use this type to manage the lifetime of your EF context rather than creating and disposing it as part of your component initialization.

[2020-01-02 17:50] pranavkm commented on #18072
If this works for your scenario, it's perfectly reasonable.

[2020-01-02 17:54] anurse commented on #18095
@tuscen FYI, discussion on your issue has moved here.

_It looks like this is probably an issue with command-line parsing in the tool_. If I open the user secret JSON file directly, it works as both as key and a value (both in `dotnet user-secrets list` and at runtime).

[code]

[code]

@tuscen as a workaround you can either:

* Right click the project in VS and choose 'Manage User Secrets' to ope

[2020-01-02 17:59] BrennanConroy commented on #13503
No, ASP.NET SignalR is not compatible with ASP.NET Core SignalR.

[2020-01-02 18:00] #18032 closed

[2020-01-02 18:00] #18018 closed

[2020-01-02 18:02] pranavkm commented on #18069
Thanks for the issue report @aaronhudon-ts. We'll look in to how to resolve this soon.

[2020-01-02 18:05] pranavkm commented on #18069
We might be able to address this by using https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.runtimehelpers.gethashcode?view=netframework-4.8#remarks

[2020-01-02 18:08] anderjoy opened #18096 "Blazor - InputDate crash with Nullable<DateTime>"
### Describe the bug
InputDate changes to null when entering a new date starting with zero (0).

For example, assuming the user enters 2020/01/02 and then decides to change the month to 02, the property is changed to null.

![BlazorAppDateTime](https://user-images.githubusercontent.com/6249874/71683135-72925080-2d70-11ea-9ed5-d2d1d8a034b6.gif)

I think the problem is on this line: https://github.c

[2020-01-02 18:09] pranavkm commented on #18056
We tried using the first app and it works fine by default. Your suspicions about deferred evaluations being problematic might be it. If you still think this is specific to Blazor, feel free to reply here and we can try and help.

[2020-01-02 18:10] aaronhudon-ts commented on #18069
Thanks @pranavkm If you can suggest any workaround for the time being that does not require me to abandon protobufs as the data model, it would be most appreciated.  I'm targeting a production release by the end of the month.

[2020-01-02 18:12] Tratcher commented on #18040
Here's where TransformAsync is expected to be called:
https://github.com/aspnet/AspNetCore/blob/c7937640a4079465d36441724933eae5a9ca0085/src/Http/Authentication.Core/src/AuthenticationService.cs#L80-L95

Is AuthenticateAsync returning a result with Succeeded set?

The only other thing that would prevent this is the new transform cache which is designed to prevent transformation from running multip

[2020-01-02 18:22] pranavkm commented on #18070
Hi @enetstudio, using the `HttpContext` \ `HttpContextAccessor` inside a Razor Page as you've done should be fine. In fact, you should be able to access the `HttpContext` without injecting the accessor using this property: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.razorpages.pagemodel.httpcontext?view=aspnetcore-3.1#Microsoft_AspNetCore_Mvc_RazorPages_PageModel_HttpConte

[2020-01-02 18:23] halter73 commented on #18055
How does the JS client handle this? Does it consider it a successful invocation with a null result?

[2020-01-02 18:29] VBAndCs commented on #18081
You can add some safeguards in these method to throw an exception if T is not suitable and add warnings to the docs.
Or you can add many non-generic methods to deal with DateTime and  numeric types other than Int32, so we can deal with object properties individually.

[2020-01-02 18:30] halter73 commented on #18055
OK. So I just took a look. It seems as long is the error value is falsy, the JS client doesn't consider the invocation has an error. This is why even when the JS client receives invocation result that includes an error property won't treat it as an error if the value is an empty string or null.

I'm not sure recreating javascript's falsy logic in C# is the way to go. To get the C# logic to match t

[2020-01-02 18:34] dougbu commented on #18091
I can't tell if the WiX fix is in the current stable release (3.11.2). If yes, that would be a simple upgrade. Otherwise, I'd be concerned about moving to a prerelease WiX version (4.0.0.5512-pre at the moment).

Anyone know whether the fix made it into 3.11.2?

[2020-01-02 18:39] davidbuckleyni commented on #18026
Solved this It ended being I had to add the following I re did my Project.

  var supportedCultures = new string[] { "en-GB", "fr-FR" };
            app.UseRequestLocalization(options =>
                options
                    .AddSupportedCultures(supportedCultures)
                    .AddSupportedUICultures(supportedCultures)
                    .SetDefaultCulture("en-gb")

[2020-01-02 18:40] borseno commented on #18056
Hello @pranavkm
here you have the github repo for the project this issue was spotted in: [Repo](https://github.com/borseno/TempRepoForBlazorIssue)

The file you should look for is located at this path: TempRepoForBlazorIssue/Votings/Votings/Client/Pages/VotingState.razor

[2020-01-02 18:41] GRS-Leedo commented on #18040
I am not running AuthenticateAync manually anywhere, however looking at httpcontext.user.identity, IsAuthenticated is true so it would seem the AuthenticateAsync is being run, and the user is authenticated.  From the code above, yes it would seem that it is the Transform Cache causing the issue, but I am not sure how to go about proving that.

I set up the TransformAsync and AuthorizeAsync in a co

[2020-01-02 18:42] #18026 closed

[2020-01-02 18:57] ajaybhargavb commented on #18058
@vulcanlee @glararan is this specific to App.razor or are you seeing this in all .razor files?

[2020-01-02 19:01] glararan commented on #18058
Only in App.razor

[2020-01-02 19:07] miroslavp opened #18097 "New URL parameter values are not accessible in NavigationManager.LocationChanged"
### Describe the bug
If I have a page component with the following page directive
[code]
and navigate to it in Blazor WASM with
[code]
, I should be able to get the id value from the SomeID parameter property in the LocationChanged event handler.
[code]

 Unfortunately SomeID contains the old value from before the navigation. A possible workaround is to parse the id from e.Location.
The event name

[2020-01-02 19:10] miroslavp commented on #18097
Forgot to mention that the navigation is made from the same page. Basically I'm redirecting to the same page with different parameter

[2020-01-02 19:16] alextech commented on #18076
Thanks for reply!

Assuming I did it correctly at https://github.com/alextech/sample_use_proxy_blazor/commit/8d861005eb9b090d6c79a20073df68b1f496088b

it puts me back to "second operation started on this context..."

[2020-01-02 19:18] pranavkm commented on #18071
Hi @mqudsi, the only overloading Razor Pages handler supports is using the HTTP verb. Support for overloading based on bound parameters isn't something we plan on supporting.

Do you have suggestions for this?

[2020-01-02 19:25] pranavkm commented on #18076
That error doesn't sound like it's specific to Blazor though. I'd suggest following up on StackOverflow for patterns that work well.

[2020-01-02 19:28] halter73 commented on #15019
I did start this. We still need to add docs and there are some things that I don't like about it from a client-usage perspective. E.g:

1. The ctor takes `IOptions<SocketTransportOptions>` instead of SocketTransportOptions directly and requires an ILoggerFactory. This means you basically have to use the generic host as demonstrated in the http2cat sample: https://github.com/aspnet/AspNetCore/blob/

[2020-01-02 19:32] alextech commented on #18076
I can try stackoverflow or expertst-exchane, though, this is in response to the linked issue that was collecting usecases of efcore usage with blazor.
Does this mean lazy-loading proxies are not intended to be used at all with blazor?

[2020-01-02 19:38] ajaybhargavb commented on #18058
After investigation I found the following,
When VS first opens `App.razor` it defaults to Windows Codepage 1252 encoding. The same file when opened in VS Code defaults to UTF-8.
When I try to save the file with some unicode characters I get the following warning in VS,
![image](https://user-images.githubusercontent.com/1579269/71687746-6ba91500-2d53-11ea-9753-82b5982312f9.png)

Clicking yes saves

[2020-01-02 19:44] glararan commented on #18058
Im not so sure about dialog window. Didnt appear for me if I remember correctly. I had to resave it manually with UTF encoding

[2020-01-02 20:11] ajaybhargavb commented on #18058
@glararan what version of VS are you using? I'm on the latest 16.4.2.

[2020-01-02 20:23] maknapp commented on #18093
The linux kernel has TLS support: https://github.com/torvalds/linux/commit/3c4d7559159bfe1e3b94df3a657b2cda3a34e218

[2020-01-02 20:30] Tratcher commented on #18093
That would require re-designing Kestrel's TLS support to take advantage of.

[2020-01-02 20:32] glararan commented on #18058
16.4.0

[2020-01-02 20:47] ajaybhargavb commented on #18058
Found the real cause of this issue after discussing with @pranavkm. It is an issue with how dotnet templating works. This is now being tracked here https://github.com/dotnet/templating/issues/2217.

[2020-01-02 20:47] gabog opened #18098 "MissingMethodException thrown when using JsonResult(object value, JsonSerializerSettings serializerSettings) constructor"
Hello, we have a BaseController class in a class library that has been compiled targeting the  .Net Standard 2.0 framework. Here is a simplified view of the a method in the base class:

[code]

When we create a .Net 3.1 web api app with a controller that derives from the base class in the library we get a `MissingMethodException` when the `UpdateActivityAsync` method is called:

![image](https://u

[2020-01-02 20:50] ryanbrandenburg opened #18099 "Try to remove 30 second wait from VSCode functional tests"
Right now we wait 30 seconds per test file to make sure that Omnisharp and the razor tooling has been loaded. That's obviously less than ideal.

One idea we threw around was to wait until we see the first diagnostic from a Razor file, then edit a Razor file in such a way that it should generate a diagnostic, wait for that Diagnostic to show up, then assume that everything is loaded at that point.

[2020-01-02 20:51] BrennanConroy commented on #8718
Just to clarify, we are **not** providing an alternative http and websocket client.
We are providing the option for users to replace the http and websocket client with a custom one that may be platform specific.

[2020-01-02 21:03] pranavkm commented on #18069
Does using a derived type as a model that overrides `GetHashCode` work? Looking at `EditContext` \ `FieldIdentifier`, nothing immediately jumps at me that would work as a suitable work around.

[2020-01-02 21:07] gaborposz commented on #18091
I'm not sure either, but there were some changes committed to 3.11.2 regarding "signing":
[https://github.com/wixtoolset/wix3/commits/master](https://github.com/wixtoolset/wix3/commits/master)

It think it worth a try, a patch version upgrade shouldn't hurt anyway :)

[2020-01-02 21:39] VBAndCs commented on #18081
I added a constraint o T to implement ISerializable.
[code]

[2020-01-02 21:40] ajcvickers commented on #18089
@gurry As @jkotalik says, this is a SqlClient issue. Are you 100% sure you're using `Microsoft.Data.SqlConnection` and not `System.Data.SqlConnection` in your code? If so, then this is likely the issue your linked since the fix has not yet been ported to `System.Data.SqlClient`. If not, please file a new issue on the SqlClient repo.

[2020-01-02 21:40] #18089 closed

[2020-01-02 22:05] mqudsi opened #18100 "Consider adding a Page or API method attribute to control X-Frame-Options"
Please correct me if I'm wrong, but it does not seem that there is a way to turn off the injected `X-Frame-Options` header except globally or via a custom middleware for more fine-grained control. As the headers are set after page handler methods are called, attempting to remove the header by manipulating `Response.Headers` is of no use, and unfortunately there is no value for `X-Frame-Options` co

[2020-01-02 22:08] halter73 commented on #18028
Are you sure you're fully awaiting the completion of `connection.StopAsync()` before calling `connection.StartAsync()`? I just double-checked this with 3.1, and stopping and restarting a HubConnection still works for me. We also have test coverage for this.

https://github.com/aspnet/AspNetCore/blob/057ec9cfae1831f91f1a0e01397059b20431db7b/src/SignalR/clients/csharp/Client/test/UnitTests/HubConnec

[2020-01-02 22:09] anurse commented on #18040
It sounds like we're getting a little stuck in debugging :). @GRS-Leedo can you provide a runnable sample app that reproduces the problem you're seeing?

@Tratcher 's earlier suggestion was to have a custom middleware in the pipeline **before** `UseAuthentication` and call `IAuthorizationService.AuthorizeAsync` there.

Yes, this can matter, but we need clarification on what server you are using (I

[2020-01-02 22:13] anurse commented on #18047
What kind of information would you want to get here? We can provide the names and a list of the `IAuthorizationRequirement` instances but those have no descriptive metadata associated with them.

Can you provide an example of what you'd want to *do* with this information. A code sample would be best, or a description of a specific use case (more detailed that just "administration dashboards", for

[2020-01-02 22:15] anurse commented on #18020
If you want to log this, wouldn't it be better done after the middleware by checking if auth returned `NoResult` or if the principal was `IsAuthenticated=false` ?

I'm not sure I see the value here, especially since none of the other auth providers provide such a thing.

[2020-01-02 22:18] enetstudio commented on #18070
Thanks so much for this, @pranavkm!

[2020-01-02 22:19] #18070 closed

[2020-01-02 22:30] gynet opened #18101 "Browser still Promot a Cert Selection Window to a user even with "ClientCertificateMode.AllowCertificate""
Our BE service support both token based auth and client cert based auth, and we would like to make the client cert request optional, we set ClientCertificateMode  to be AllowCertificate, but it will  makes browsers prompt for a certificate. How can I turn off the browser prompt?
[code]

[2020-01-02 22:45] ajcvickers commented on #18102
@blowdart @HaoK Now that EF6 runs on .NET Core we are starting to see people asking for Identity Code to work with EF6. We have never planned to do this, but bringing this here to consider or be explicit that we're not doing it.

[2020-01-02 23:10] BrennanConroy commented on #17961
Could you please show the object that you are passing from the client?

One possible reason it doesn't work anymore is that you are actually passing a string for `Size` and System.Text.Json will not convert a string to an int for you, whereas Newtonsoft.Json will.

If you want to switch back to using Newtonsoft.Json you can do so by following the directions at https://docs.microsoft.com/aspnet/cor

[2020-01-02 23:29] blowdart commented on #18102
Generally our solution has been the cookie compat shim, nothing more. I'd need more justification on why people want this to consider it.

[2020-01-02 23:32] blowdart commented on #18101
Possible dupe of https://github.com/aspnet/AspNetCore/issues/18064

Although allow should make it optional/

[2020-01-02 23:48] GRS-Leedo commented on #18040
While I understand that a repro app is helpful, I have production deadlines to meet and writing a repro app from scratch will take time.  I have already lost many hours trying to get this to work and have had to revert from Net Core 3.1 back to 2.26 in order to move forward on developing my current app.  The truly frustrating part is that claims transformation has run fine through many versions of

[2020-01-02 23:48] gynet commented on #18101
Any workaround for this issue?

[2020-01-03 00:16] csc414 commented on #17961
I already changed Newtonsoft.Json.
I think the reason is probably i passing a string for bool.
I don't know System.Text.Json is so strict, thanks for your answer.

[2020-01-03 00:48] gynet commented on #18064
It seems like Http.sys does not have such issue.  Also if ppl use http.sys, is there any way to enforce ssl protocol to be TSL1.2. Any way to work around for his issue?

I know Kestrel can enforce TSL1.2 by following, not see any opts for HttpSys
[code]

[2020-01-03 01:52] gurry commented on #18089
@ajcvickers  Yeah I'm certainly using `Microsoft.Data.SqlClient`. As per @cheenamalhotra the version I'm using, 1.0.19269.1, should contain the fix. Just to be sure, I tried with version 1.1.0 also just now, but the issue still occurred even with that version.

Arthur, if you can transfer the issue to SqlClient repo, please do. Otherwise I'll go and copy-paste it there. Thanks :).

[2020-01-03 02:57] brockallen commented on #18089
Can you provide the link to the new issue once it's created? I've been experiencing problems like this ever since async/await was introduced into ADO.NET. My solution has always been to use the sync APIs as they don't exhibit the problem.

[2020-01-03 03:10] davidfowl commented on #18055
I think we should just check for null instead of trying to make the js client fail.

[2020-01-03 03:16] ManfredLange commented on #17618
This issue appears to be related and mentions a potential fix: https://github.com/facebook/create-react-app/issues/8094

[2020-01-03 04:11] Tratcher commented on #18064
@gynet HttpSys TLS protocols can't be configured in the app. You can either use netsh.exe to set disablelegacytls, or disable old TLS versions system wide in the registry.
https://docs.microsoft.com/en-us/security/disable-legacy-tls

[2020-01-03 04:30] mihaimyh commented on #18079
@pranavkm Are you talking about RevalidatingIdentityAuthenticationStateProvider?

[2020-01-03 04:51] ManfredLange commented on #17618
I may misread the code but it appears as if the Middleware for React development server makes an assumption that requests will never use HTTPs, see https://github.com/aspnet/AspNetCore/blob/c7937640a4079465d36441724933eae5a9ca0085/src/Middleware/SpaServices.Extensions/src/ReactDevelopmentServer/ReactDevelopmentServerMiddleware.cs#L45-L51

If I read the code correctly - and that may be a stretch -

[2020-01-03 04:57] davidfowl commented on #18098
This method was removed in 3.0. Your library needs to cross compile to .net core 3.x to account for the breaking change

[2020-01-03 05:42] halter73 commented on #18055
Null and empty string? What if a real error gets encoded as an empty string? Should the existence of any result override any error? It seems weird that a null result should override and empty string error even if that's what the JS client currently does.

[2020-01-03 05:46] davidfowl commented on #18055
Seems like an edge case no?

[2020-01-03 06:48] mmarinchenko commented on #8718
@BrennanConroy

Yes, I understand this, thanks.

The reason why I wrote my comment above is you copied some code from cpprestsdk to have `uri_builder`, `scan_string()`, etc. even with alternative http and websocket client implementations.

But you copied neither `_XPLATSTR`, `to_string_t()` and `to_utf8string()` implementations nor wrap the code which use all this by `#ifdef USE_CPPRESTSDK ... #en

[2020-01-03 08:01] RedDeathGitHub opened #18104 "Async initialization in Main not working"
- Description:

I want/need to do some basic initialization on app startup, like calling an API and getting my initial configuration.
I found a neat solution that it could be done in async Main for ASP Core, so I tried to reproduce it for Blazor.
But, it seems that app just "hangs" in the browser.
You'll find Autofac setup below, but it works fine, it's the Task.Delay part that breaks the App.
Of

[2020-01-03 08:04] RedDeathGitHub commented on #18104
@SteveSandersonMS - hi, sorry to bother you, but I believe you might find this scenario interesting.
Much :heart: to Blazor, it's the best thing MS did in the last decade!

[2020-01-03 08:23] stanac commented on #18092
@pranavkm thanks for prompt response.

It would be nice to have at least compiler warning or runtime exception when this happens.

[2020-01-03 08:23] #18092 closed

[2020-01-03 09:03] SteveSandersonMS commented on #18104
Thanks for contacting us!

`async main` isn't supported in the version of Blazor you're using currently. However the good news is that [we have implemented support for it since the last release](https://github.com/aspnet/AspNetCore/pull/17673), and the feature will be included in the next preview release within the next month.

[2020-01-03 09:23] campersau commented on #17115
Looks like https://github.com/aspnet/Blazor/pull/1960 might finally fix it.

[2020-01-03 09:30] gurry commented on #18089
Reported it under SqlClient as suggested: https://github.com/dotnet/SqlClient/issues/364

[2020-01-03 09:41] RedDeathGitHub commented on #18104
Wow, awesome! Thanks.

[2020-01-03 10:03] Indrajith-Sync opened #18105 "Using two await inside the blazor lifecycle doesn't work properly"
I am using the following operation in the Blazor lifecycle with multiple await actions.

protected override async Task OnInitializedAsync() {

 //this action is performed.
`forecasts = await Http.GetJsonAsync<WeatherForecast[]>("sample-data/weather.json");`

// this action is not perfomred
`await someOperation(); `
}

Any suggestion on this query ?

[2020-01-03 10:10] Indrajith-Sync commented on #18104
hi @SteveSandersonMS

Is it possible to use two await inside a blazor lifecyle method as like below.

**protected override async Task OnInitializedAsync() {

//this action is performed.
forecasts = await Http.GetJsonAsync<WeatherForecast[]>("sample-data/weather.json");

// this action is not perfomred
await someOperation();
}**

Any suggestion for this query ?

[2020-01-03 10:31] leastprivilege commented on #18064
OK - from my POV this is resolved and can be closed.

Kestrel can't do it. IIS can. But given re-negotiation is not really encouraged, using a sub-domain to isolate client cert requirements seems the way to go.

I have that working with nginx. Let me know if this is interesting for docs.

[2020-01-03 11:37] michuny25 commented on #17951
Any update on fixing this?

Also, I noticed another issue with binding the value of a textarea to a property on 'oninput' event:
![image](https://user-images.githubusercontent.com/23375592/71721353-a0cd6a00-2e1c-11ea-971c-d662cba256a4.png)
Every time the user presses a keystroke the whole component is re-rendered which for bigger components means the UI is extremely lagging and is unusable.

Is th

[2020-01-03 11:40] DanielHWe commented on #14962
It would be nice to cancel the navigation to. Use Case is that the user has unsaved changes and show an error to him so he is not leaving without save.

[2020-01-03 11:57] SteveSandersonMS commented on #18104
Yes, multiple awaits works fine. Blazor doesn’t even know you are doing that as it’s inherent to C# itself.

If your code isn’t working that way, you have some other issue.

[2020-01-03 12:00] #17997 closed

[2020-01-03 12:03] Postlagerkarte commented on #14962
I hope that the team decides to give us a full set of methods, properties, and events to support navigation including easy access to the navigation history.

Such an improved version of the NavigationManager would certainly allow the tracking the the lifetime of a navigation via events like:

[code]

Basically hoping for an improved/adjusted version of the [NavigationService ](https://docs.microso

[2020-01-03 12:23] chucker opened #18106 "Get Endpoint for different URL"
### Is your feature request related to a problem? Please describe.
I am trying to get endpoint metadata for a given URL — basically a hypothetical `LinkGenerator.GetActionByUri()`;

I can inject `IActionDescriptorCollectionProvider` to get _all_ metadata, but I'd have to re-implement mapping the correct one (if any) based on templates. Before 2.2's Endpoints, the answer was apparently to create a

[2020-01-03 13:01] Thom3189-coder commented on #18090
@Tratcher I perform the redirect using HttpResponse.Redirect(string, boolean) method. Do you mean that I should be encoding the string myself before passing it?

[2020-01-03 13:58] katymariehughes opened #18107 "Question: How to get literal content before child taghelpers modify it?"
I have created a tag helper for code snippets. I want to display the literal markup of any child elements in the output, i.e.

[code]

should display in the browser as

[code]

but instead it displays as

[code]

because of another button tag helper I have created.

output.GetChildContentAsync().GetContent() appears to execute child tag helpers, but I want the literal markup. How do I do this with

[2020-01-03 14:15] pranavkm commented on #18107
@NTaylorMullen would you be able to respond?

[2020-01-03 14:19] pranavkm commented on #18106
You can get an `EndpointDataSource` instance from DI and read the list of endpoints in the application using - https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.routing.endpointdatasource.endpoints?view=aspnetcore-3.0#Microsoft_AspNetCore_Routing_EndpointDataSource_Endpoints. Does this work?

[2020-01-03 14:20] pranavkm commented on #18105
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimal project (ideally a GitHub repo) that illustrates the problem.

[2020-01-03 14:21] pranavkm commented on #18100
Thanks for your issue report. We'll consider whether to address this during our next milestone planning.

[2020-01-03 14:24] pranavkm commented on #18098
As @davidfowl pointed out, this was a binary breaking change in 3.0: https://github.com/aspnet/Announcements/issues/389. https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#migrate-libraries-via-multi-targeting has a guide for cross-compiling library projects to support multiple versions of ASP.NET Core.

[2020-01-03 14:30] mrpmorris commented on #17951
[code]

[2020-01-03 14:33] #18072 closed

[2020-01-03 14:36] fingers10 commented on #18080
@pranavkm  This is a pure java script logic and this works even with simple html, and js files. Everything is loaded correctly in blazor but still it fails.

[2020-01-03 14:44] GRS-Leedo commented on #18040
[ClaimsTest.zip](https://github.com/aspnet/AspNetCore/files/4019463/ClaimsTest.zip)
Ok, here is a bare bones project that I threw together.  It exhibits the same issue.

I ran the app first with no policy requirement on the Home Controller, just Authorize.  The app behaved as expected except TransformAsync is never called.

I then added the policy requirement to the Home Controller and the app res

[2020-01-03 14:45] GRS-Leedo commented on #18040
Did the file get attached?  If not, here it is again.
[ClaimsTest.zip](https://github.com/aspnet/AspNetCore/files/4019469/ClaimsTest.zip)

[2020-01-03 15:10] gabog commented on #18098
Thank you @davidfowl & @pranavkm, the link you provided and [this article](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/target-aspnetcore?view=aspnetcore-3.0&tabs=visual-studio) helped me with updating my library to cross compile for NetCore 3.0 and Net Standard 2.0.

[2020-01-03 15:10] #18098 closed

[2020-01-03 16:01] SayusiAndo opened #18108 "Comfortable way to populate @bind-Value value with generated values in case of generic components"
### Is your feature request related to a problem? Please describe.
I'm working on a generic grid solution and I have problem with populating `@bind-Value` values with generated values. In case of generated `@bind-Values` there will be no working binding.

For example, the following code results two way binding:
[code]
The following code will be generated from this:

[code]

The code I'm trying to

[2020-01-03 16:09] BrennanConroy commented on #8718
Yep, that's because the work is still in progress and we still need to replace the headers with a normal map of `<std::string, std::string>`.

[2020-01-03 16:10] pranavkm opened #18109 "Harden UrlHelperBase.IsLocalUrl against control characters"
`UrlHelperBase.IsLocalUrl` will return true for urls such as `/\n/not-local-url`. Using this value as part of `LocalRedirectResult` will result in an exception from HttpAbstractions rather than the more helpful error message from `LocalRedirectResultExecutor`: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Core/src/Infrastructure/LocalRedirectResultExecutor.cs#L53

[2020-01-03 16:15] pranavkm commented on #18058
From the linked issue

@danroth27 do we want to try and mitigate this in an AspNetCore patch release?

[2020-01-03 16:15] Tratcher commented on #18064
@leastprivilege by all means, that would be a good doc addition.

[2020-01-03 16:16] Tratcher commented on #18090
Yes. "This must be properly encoded for use in http headers where only ASCII characters are allowed."
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.httpresponse.redirect?view=aspnetcore-3.1

[2020-01-03 16:19] Tratcher commented on #18040
Thanks, we'll give it a try.

The _transformCache is a per-request cache designed to prevent redundant transformations.

[2020-01-03 16:22] BrightSoul opened #18110 "msftbot locks unresolved issues"
Hello everyone, I stumbled upon these three issues and I've noticed all three of them have been locked as resolved by msftbot even though they were not actually resolved nor assigned to a milestone.
https://github.com/aspnet/AspNetCore/issues/8071
https://github.com/aspnet/AspNetCore/issues/10657
https://github.com/aspnet/AspNetCore/issues/11745

Maybe this is the intended behavior but... isn't it

[2020-01-03 16:24] JoshClose commented on #17618
@ManfredLange That's what I saw too. The middleware needs to be updated to work with WSS.

[2020-01-03 16:29] BrennanConroy commented on #18028
I think the key here is that stop is called "after connection breaks".

And a quick test shows that:
[code]

fails.

@dlyz you shouldn't need to call stop after the connection "breaks", so you can workaround the issue by removing that logic.

[2020-01-03 16:50] Tratcher commented on #18040
Ok, I see the trouble. Your app has both Identity and Windows Auth enabled, and Identity is winning.
[code]
vs.
[code]
AddAuthentication sets the DefaultScheme (Windows), but AddIdentity sets the DefaultAuthenticateScheme (Identity.Application) which takes priority for the Auth middleware. You're not logged in using Identity cookies so claims transformation doesn't run. Commenting out AddIdentity

[2020-01-03 17:19] anurse commented on #18040
@GRS-Leedo Let us know if that resolves your issue! If not, we can investigate further.

[2020-01-03 17:23] mrpmorris commented on #17982
You shouldn't pass an ElementReference to JS and then pass it back, because by the time the JS calls C# the element may have been re-rendered and have a new ID.

What do you want to achieve?

[2020-01-03 17:24] pranavkm commented on #18105
@Indrajith-Sync looks like your question was already answered here: https://github.com/aspnet/AspNetCore/issues/18104#issuecomment-570552966

[2020-01-03 17:24] #18105 closed

[2020-01-03 17:26] pranavkm commented on #18097
@miroslavp the recommendation would be to use `OnParametersSet` lifecycle event to track the navigation. `LocationChanged` is a fairly low-level primitive and Blazor has no guarantees about it's ordering with respect to the `Router`'s event handler.

[2020-01-03 17:29] pranavkm commented on #18080
@SteveSandersonMS could you have a look?

[2020-01-03 17:30] pranavkm commented on #18023
@aviabunin were you able to reproduce this with an MVC application? If you think this is a Blazor specific issue, could you provide us a minimal repro that does not involve MapBox?

[2020-01-03 17:34] dlyz commented on #18028
Yes, that's the key.

Sometimes it's hard to distinguish this situation from other fails. For example, now in my code, if something goes wrong while working with the connection, I just restart it.

Ok, so i can check `HubConnection.State` and decide whether I need to call `StopAsync`. But I think, workaround will not work if the connection "breaks" right before the stop call. It's a small chance,

[2020-01-03 17:38] pranavkm commented on #18062
@javiercn this seems related to https://github.com/aspnet/AspNetCore/issues/18062.

[2020-01-03 17:41] pranavkm commented on #17954
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimal project (ideally a GitHub repo) that illustrates the problem.

You shouldn't need nodejs on the server.

[2020-01-03 17:43] pranavkm commented on #17962
@javiercn could you have a look?

[2020-01-03 18:00] #17993 closed

[2020-01-03 18:00] #18085 closed

[2020-01-03 18:13] brianrichins commented on #9035
The Chrome DevTools [recently announced support for directly debugging WASM via the DWARF format](https://developers.google.com/web/updates/2019/12/webassembly) - I'm wondering if this is something worth trying to support as well, or if VS / VS Code debugging will make DevTools unnecessary?

[2020-01-03 18:36] aviabunin commented on #18023
In MVC application the same error. and only in debug mode, after publish app there is no error.  Please  [look at here](https://github.com/mapbox/mapbox-gl-js/issues/9145) what Mourner said

[2020-01-03 18:37] satininus commented on #18040
@Tratcher Thanks so much!  I was updating from 2.2 to 3.0 this morning and experienced the same issue described above.  I followed your instructions and that worked perfectly.

[2020-01-03 18:40] Kahbazi commented on #18095
@anurse I tried something to fix this in Extensions repo. Basically if an option is not available, the arg would assign to argument list if possible. I'm not quite sure if I break any existing scenarios but at least the tests are passed.
Once it merged I could also add the unit tests for user-secrects in this repo.

[2020-01-03 18:40] GRS-Leedo commented on #18040
My actual claims transformer needs identity so commenting out Add Identity didn't work.  Moving Add Authentication to after Add Identity did work.
`            services.AddIdentity<ApplicationUser, IdentityRole>()
                .AddEntityFrameworkStores<IDDbContext>();

            services.AddAuthentication(options =>
                {
                    options.DefaultAuthenticateScheme = IIS

[2020-01-03 18:49] miroslavp commented on #18097
@pranavkm How can I detect in `OnParametersSet` that there was a navigation from the same page component before that?
The thing is, I need this to workaround the problem that when redirecting to the same page component, `OnInitialized`/`OnInitializedAsync` is not invoked. I want to execute the logic which would have been in `OnInitialized`/`OnInitializedAsync`.

[2020-01-03 18:49] aaronhudon-ts commented on #18069
@pranavkm Ok, assuming I can override `GetHashCode` in the protobuf generated code (I think it's possible with partials), what would the fix be?

[2020-01-03 18:50] Tratcher commented on #18040
Note the behavior that changed here between 2.2 and 3.0 is probably related to https://github.com/aspnet/AspNetCore/pull/11390 rather than anything to do with the the new transform cache. Out-of-proc used to call AuthenticateAsync(Windows) at the start of every request which would result in claims transformation running. That no longer happens in 3.0. The other change was that in-proc is now the d

[2020-01-03 18:50] #18040 closed

[2020-01-03 19:00] #18056 closed

[2020-01-03 19:01] pranavkm commented on #18069
[code]

[2020-01-03 19:05] pranavkm commented on #18096
I don't see a crash here. However nullable types do get resetted to `default` when the `value` is empty which happens to the value browsers use for invalid date times.

Nullable values get resetted to `default`, while non-nullable types retain the previous value if parsing fails:
https://github.com/aspnet/AspNetCore/blob/c7937640a4079465d36441724933eae5a9ca0085/src/Components/Web/src/Forms/InputBa

[2020-01-03 19:07] aaronhudon-ts commented on #18069
Thanks!  I'll give it a try.  Would be awesome to summon @jskeet for feedback on any potential side effects of doing this in the C# proto runtime

[2020-01-03 19:10] anurse commented on #18081
We don't plan to add any direct functionality to JSON serialize arbitrary objects in to session (it's very costly to do right because of all the configuration options needed and will likely not fulfill all the necessary requirements).

We'll update the doc to use the new System.Text.Json serializer though.

[2020-01-03 19:11] SteveSandersonMS commented on #18096
It’s because empty is considered a valid value for a nullable datetime, but not for a regular one. So we can only accept it in the former case.

[2020-01-03 19:12] #17961 closed

[2020-01-03 19:14] anurse commented on #18055
The spec seems clear here. I'm not sure why we'd make the server change that expectation.

[2020-01-03 19:14] anurse commented on #17915
Closing this as it's a duplicate of https://github.com/aspnet/AspNetCore/issues/9687

[2020-01-03 19:14] #17915 closed

[2020-01-03 19:16] pranavkm commented on #18097
Couldn't you execute the code again as part of `OnParametersSet` \ `OnParametersSetAsync`?

[2020-01-03 19:16] anurse commented on #18074
We can look at updating to MessagePack v2 in a future major version. I'll put this in our queue to review for future planning.

Until then, @AArnott is correct, using MessagePack v2 is not compatible with SignalR.

I'll leave this open to track updating.

[2020-01-03 19:16] #17946 closed

[2020-01-03 19:16] anurse commented on #17946
Closing as the question has been answered.

[2020-01-03 19:17] pranavkm commented on #18108
@SteveSandersonMS would you like to respond to this?

[2020-01-03 19:18] anurse commented on #18090
As @Tratcher indicated, this is by design. Response URLs must be URL encoded before passing them to `Response.Redirect`.

[2020-01-03 19:18] #18090 closed

[2020-01-03 19:18] pranavkm commented on #18079
Yup, that would be it.

[2020-01-03 19:18] davidfowl commented on #18055
So you're arguing the same as @halter73 , the javascript client should detect the presence of the fields and throw, no matter the values?

[2020-01-03 19:19] gynet commented on #18064
Currently, the "Allow Certificate" option is not working as expected as it will prompt user a window to request cert. It would be better to document the behavior.

[2020-01-03 19:21] anurse commented on #18064
A docs change sounds like a good plan here. Something showing how to have a section of your app that requires client certs (while the rest does not) using separate host bindings (since TLS certificates are negotiated before the path is actually available anyway).

[2020-01-03 19:24] anurse commented on #18101
Triage discussion: Short of TLS renegotiation (which has a lot of problems, including TCP flow control deadlocks) there isn't really a way to have "optional" client certificates. The correct way to do this is to have a separate host binding, which is what #18064 is discussing.

Closing this as a duplicate of that one.

[2020-01-03 19:24] #18101 closed

[2020-01-03 19:24] jskeet commented on #18069
Not sure where the proto runtime comes in here - protobuf messages are explicitly equal by value.

[2020-01-03 19:26] anurse commented on #18093
This would require a change in the runtime to support this directly on `Socket`.

This is another main reason we don't plan to do this.

Closing as we don't plan to add this support.

[2020-01-03 19:26] #18093 closed

[2020-01-03 19:28] anurse commented on #18086
If IIS doesn't have a way to bypass it's trust checks there's not much we can do. This is an IIS issue/request. @shirhatti to look in to this.

Closing as this is an external issue, not something we can solve in ASP.NET Core.

[2020-01-03 19:28] #18086 closed

[2020-01-03 19:36] anurse commented on #17989
This seems like it's likely an issue in `HttpClient` not ASP.NET Core. Sounds like this is an issue for dotnet/runtime, since it's an issue with impersonation (`WindowsIdentity.Impersonate` I presume?)

[2020-01-03 19:39] anurse commented on #17781
So to be clear here, if you switch the rewrite rules to be directly added instead of read from the file, **your issue is resolved**? Is that correct?

Could it be possible that the user under which the IIS app pool can't access the file? Do you get any exceptions trying to open the `IISUrlRewrite.xml` file?

[2020-01-03 19:40] gynet commented on #18064
Our customers' run-time clients and our UI are share the same service endpoints, and they are using both OAuth and client cert-based auth. It would be very difficult to make such change without breaking anything. Is there any way to workaround the browser prompt?

[2020-01-03 19:47] NXTwoThou commented on #17781
Incorrect.  I was giving an example why not being able to run my site using IIS Express on my development machine has created serious deployment issues for me.

[2020-01-03 19:51] aaronhudon-ts commented on #18069
The generated C# for the protobuf implements `GetHashCode` (e.g. like below).  What are the implications of changing the generated code to be like @pranavkm suggests
E.g.

` ``
public override int GetHashCode() {
      int hash = 1;
      if (String1.Length != 0) hash ^= String1.GetHashCode();
      if (String2.Length != 0) hash ^= String2.GetHashCode();
      if (Number1 != 0D) hash ^= pbc::Proto

[2020-01-03 19:53] jskeet commented on #18069
Will need to look at the whole thread again when I'm on a laptop.

[2020-01-03 20:00] #18071 closed

[2020-01-03 20:35] miroslavp commented on #18097
I could, but I want to execute it only if there was a navigation to the same page (only when `OnInitialized` was not invoked). Maybe a possible solution is to set a flag in `OnInitialized` and call my method in `OnParametersSet` only when the flag is not set. A little bit hacky, but I guess it should work.

[2020-01-03 20:37] pranavkm commented on #18069
@aaronhudon-ts the plan is to fix this specific issue in 3.1 patch release. With a fix in place, you shouldn't need changes to protobuf's code gen, which is absolutely fine as it is.

[2020-01-03 21:00] #18076 closed

[2020-01-03 21:03] SidShetye commented on #17370
@davidfowl Would appreciate if you know of another code or config workaround (for CI/CD friendliness) that doesn't involve manually modifying post-deploy bits? At least till you resolve this? Thanks!

[2020-01-03 21:13] anurse commented on #17989
@phibsi Can you clarify, are you using .NET Framework with ASP.NET Core 2.1? Impersonation isn't support in .NET Core, so I'm presuming you are?

Can you provide a runnable sample that illustrates what you're doing and where it's failing (I realize that it will depend upon per-machine configuration like Windows domains, etc.).

[2020-01-03 21:13] mqudsi commented on #18071
Thank you.

[2020-01-03 21:14] mqudsi commented on #18100
Thank you.

[2020-01-03 21:15] Tratcher commented on #17989
Clarification: ASP.NET Core doesn't do impersonation by default on .NET or Core, but you can do impersonation manually on either.

[2020-01-03 21:24] Triggs9 commented on #17982
So the ElementReference is always being generated by CS code, and passed to JS, the means by which its being passed are changing.

One is through a JS parameter:
TS Method
[code]
invoked in CSharp with:
[code]

the other is through the DotNet Interop Object and a return value from that CS Method call
CSharp Method
[code]
invoked in TypeScript with:
[code]

the latter call made in typescript fails

[2020-01-03 21:27] Tratcher commented on #18064
No, this is a fundamental TLS/HTTPS issue, not a Kestrel specific problem. Certificates are an artifact of the TLS layer so they can't reliably be made conditional based on any HTTP request information.

[2020-01-03 21:41] benday commented on #17919
@SyntaxWarrior  -- i ran into the same problem.  I changed it in my package.json but that wasn't enough because it was still being referenced (i assume) through package-lock.json.

The command I ran that fixed it was
`npm i oidc-client@1.9.1`

The only problem is that it gave me a whole new giant pile of errors related to 'routerLink'.  It looks like there are a handful of places where RouterTesti

[2020-01-03 22:23] blowdart commented on #18110
@anurse

[2020-01-03 22:24] mgubis opened #18115 "DefaultPageHandlerMethodSelector not available in 3.0 anymore"
We are now migrating our project from .NET Core 2.2 to .NET Core 3.1. We had quite some customization in place (to connect with in-house framework). We are implementing custom IPageHandlerMethodSelector to connect with some postback functionality and we had fallback to the default selector in place. Our current implementation looks following:

       public class PageHandlerMethodSelector : IPageH

[2020-01-03 23:10] pranavkm commented on #15046
Hi @alextof I tried your app out and it looks like it's working fine. Is this still an ongoing problem for you?

For all the rest commenting here, our sample for rendering a view to string is here: https://github.com/aspnet/samples/tree/f46e4c6ff99816499a2a06dc279136f25bf099fc/samples/aspnetcore/mvc/renderviewtostring. If you have specific questions or are running in to issues updating, please fil

[2020-01-03 23:42] mlaily commented on #17983
Hello,

Any news on this issue?

I think I hit the same (or a very similar) problem when trying to upgrade from .NET Core 2.1 to 3.1.

I have a controller with two routes, one with a regex:
[code]

And another controller with one route, with a catch-all:
[code]

This route (with the catch-all) is never matched.

- If I remove the catch-all (`{url}` instead of `{*url}`), it works.
- If I use `UseMv

[2020-01-04 00:11] pranavkm commented on #17960
Thanks for the issue report @manavu. It looks like there were changes in the 3.x SDK that changed the namespaces resx content was embedded with. I'll work on getting an announcement for this since it affects a fair bit of users. There are a couple of options here:

1) You can update your application to reliably use the newer paths resx files are embedded with. The change is fairly straightforward

[2020-01-04 00:49] SidShetye commented on #14547
We were able to eliminate the error (see error below) around `Microsoft.AspNetCore.AzureAppServices.HostingStartup` by uninstalling the site extension `ASP.NET Core Logging Integration`. It's a trap because the Azure portal presents this large nag button

![image](https://user-images.githubusercontent.com/2595088/71757210-f0298f80-2e48-11ea-8b85-9c2b77bb1305.png)

If you accidentally click on that

[2020-01-04 05:24] Tratcher commented on #18064
FYI, Kestrel needs an SslStream feature (https://github.com/dotnet/corefx/issues/41622) so it can specify client cert requirements per host name. Otherwise you need to setup your subdomain on a separate IP.

[2020-01-04 06:12] Wayne-Mather commented on #17997
Hi,

Will the changes Steve mentions be in the 3.1LTS Branch? I will research
what Steve has mentioned and see if I can get my POC working under WASM.

On Thu, 2 Jan. 2020, 9:10 pm Steve Sanderson, <notifications@github.com>
wrote:

[2020-01-04 07:51] pm64 commented on #17839
@sikira have you been able to determine WHY your workaround is necessary? Without your workaround, in the scaffolded Logout.cshtml.cs, placing breakpoints everywhere shows that no code associated with this page is ever executed. Why is this? Also, a blank page is rendered (instead of the "not found" behavior), which is equally perplexing, since the framework is acknowledging that the page exists.

[2020-01-04 08:39] PiotrPerak commented on #14547
@SidShetye I said it 11 days ago but nobody seemed to notice.

[2020-01-04 08:47] sujayvsarma opened #18117 "AzureAD Authentication system - Cannot turn off Issuer validation"
Source project:
`https://github.com/aspnet/AspNetCore/tree/master/src/Azure/AzureAD/Authentication.AzureAD.UI/`

When authenticating against the `common` endpoint, Issuer Validation needs to be turned off. However, the current implementation of the library provides no discoverable/intuitive way to turn this off.

[2020-01-04 10:26] mrpmorris opened #18118 "Blazor: Component re-renders even when onmousemove is null"
Blazor components send a message to the server about mouse-move events even though the `@onmousemove` event callback has been set to null.

It would be useful if, when building the render tree, Blazor wouldn't include events that are null.

Take this example. Modify the SurveyPrompt in a default template.

[code]

Because OnMouseMove is null the component doesn't need to re-render every time the m

[2020-01-04 12:00] #18104 closed

[2020-01-04 12:03] gurry commented on #18089
Turned out to be not an issue in SqlClient or AspNetCore. It was due to an error in my code. See my closing comment on dotnet/SqlClient#364.

[2020-01-04 13:38] matengo opened #18119 "input time"
### Describe the bug
When using the input time. <input type="time" @bind="FromTime" /> it's not possible to bind to a string anymore, for example "08:00". Now it seems to be needed to bind to a datetime..? When I do that.. As soon as I change the time using the inout field, the date in the datetime is changed to current date...? Is that expected behavior?, or is there something I'm missing?

### T

[2020-01-04 13:40] marcuslindblom opened #18120 "JsonPatch with Web API and dynamic types"
I have the following method.

[code]

Using this PATCH request I end up with a non modified object?

[code]

[2020-01-04 13:42] benday opened #18121 "Jasmine specs fail on new angular project using --auth Individual"
### Describe the bug
After creating a new project using "dotnet new angular", there are jasmine spec failures.

### To Reproduce
Run attached script (create-problem.bat).  This script creates a new solution with a webapi/angular project, builds the solution, and then runs 'ng test'

[create-problem.bat.txt](https://github.com/aspnet/AspNetCore/files/4021951/create-problem.bat.txt)

You should see

[2020-01-04 13:57] mrpmorris commented on #17982
You aren't supposed to pass element references from javascript to C#. They should only be passed the other way, so javascript can perform an operation immediately and then discard the reference.

Can you tell me your goal, in case there is a better way to do what you want?

[2020-01-04 14:28] marcuslindblom commented on #18120
I can see now that I patch the wrong object I think 🤔...

[2020-01-04 15:24] sikira commented on #17839
@pm64  your comment intrigued me to try to investigate more, and i find out that the issue is actually about antiforgery token. Another and better fix would be to put atribute [IgnoreAntiforgeryToken] on top of LogoutModel class in "LogOut.cshtml.cs" file. I've add this fix to orginal issue.

[2020-01-04 15:37] borseno opened #18122 "USING "OVERRIDE" INTELLISENSE HELPER IN VS 2019 INSIDE BLAZOR COMPONENT RESULTS IN ERASURE OF FILE CONTENTS"
### Describe the bug
In visual studio 2019, when using "override" intellisense helper inside blazor component, some part of blazor component's content gets erased.

### To Reproduce

VIDEO: https://youtu.be/oVYKc7UEgdA (IT WAS THE SECOND TRY TO CAPTURE IT, AND AFTER SOME DANCING IT STARTED TO WORK, BUT IT DOESNT WORK IN THE BEGINNING OF THE VIDEO)

Start a new blazor client application, type "over

[2020-01-04 15:37] VARUN46 opened #18123 "HashRoute Support Request"
### Is your feature request related to a problem? Please describe.
This is case for Blazor Web Assembly App

I want to use HashRouter instead of Router, in App.razor

[code]
### Describe the solution you'd like
Now,

I want to open #/about for About.razor it should work fine in case of @page "/about"

### Additional context
It helps in working with old browsers and other route handling schemes for

[2020-01-04 15:51] brockallen commented on #18086
@anurse and @shirhatti, once you confirm that IIS can't do that, can you update this thread just for the record?

[2020-01-04 15:58] Elpaggio commented on #16957
Any instructions on how to fix this in order to be able to run the samples?
If you delete the *.deps.json you will be able to run the sample but I guess this is not a permanent fix.

[2020-01-04 16:02] anderjoy commented on #18096
I understood...
Thanks

[2020-01-04 16:34] jochenz opened #18125 "Adding a custom AuthenticationHandler doesn't work / HandleAuthenticateAsync does not get invoked"
I started from the example on [the official documentation page](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1#mock-authentication) and defined a simple custom authentication handler, which I added to my integration test startup:

[code]

When running tests with this code, the `TestAuthenticationHandler` does get challenged, but `HandleAuthenticateAsync` ne

[2020-01-04 17:11] pm64 commented on #17839
@sikira amazing catch!! This is precisely the issue, You have saved me many hours of hair-pulling and cursing. Huge thanks!

[2020-01-04 17:11] Triggs9 commented on #17982
I am not, as stated above: "the ElementReference is always being generated by CS code, and passed to JS". I might create a reproduction repo if i get time, but as stated above also: "Here is my crude implementation that suites my needs for now"

[2020-01-04 17:12] mrpmorris commented on #18097
[code]

[2020-01-04 17:21] Tratcher commented on #16957
@Elpaggio have you tried this in master? It should be working there?

[2020-01-04 17:23] ygoe opened #18127 "Please reopen #14062"
Please reopen #14062, I have a repro for it now but cannot provide it as suggested because somebody has locked me out of it.

[2020-01-04 17:37] Elpaggio commented on #16957
Yes it works on master (and git tag 3.1.0) but I would like to be able to
compile and run the samples checking out the tag 3.0.1.
3.0.1 is the version that I have production code compiled against. This is
just in order to explore and get a better understanding of the ASP.NET Core
and to be able to debug tough issues.

Cheers

lør. 4. jan. 2020 18.21 skrev Chris Ross <notifications@github.com>:

[2020-01-04 17:51] Tratcher commented on #16957
I recommend using the 3.1 branch then. 3.1 was a short release and most of the behaviors will be the same.

[2020-01-04 17:58] Kahbazi commented on #18125
Hi @jochenz. In order to get to `HandleAuthenticateAsync`, you need to call [HttpContext.AuthenticateAsync()](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.authenticationhttpcontextextensions.authenticateasync?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev16.query%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(Microsoft.AspNetCore.Authentication.AuthenticationHttp

[2020-01-04 18:34] jochenz commented on #18125
Indeed... how did I manage to lose that much time? :-(

[2020-01-04 18:34] #18125 closed

[2020-01-04 18:36] Elpaggio commented on #16957
I will - thanks.

lør. 4. jan. 2020 18.51 skrev Chris Ross <notifications@github.com>:

[2020-01-04 18:52] jochenz commented on #18125
Thank you very much for your help, @Kahbazi 👍. This is one of those moments were I feel rather stupid 😳

[2020-01-04 19:15] SidShetye commented on #14547
Aaand we resolved the other error (see below) by once again **disabling** another portal-enabled extension. This time it was the Application Insights that was actually enabled on ANOTHER slot (a .net fw 4.6.1 app) of the same web app service.

![image](https://user-images.githubusercontent.com/2595088/71770564-f704e080-2ee2-11ea-9b39-abd2efa50c7e.png)

To be honest, these portal injected 'magic' e

[2020-01-04 19:16] baartho opened #18129 "<select> binding not working properly on Firefox"
### Describe the bug
_select_ binding not working properly on Firefox if I mix clicking with typing.

https://vimeo.com/382797982

As you can see on the video binding for 5 and 6 does not work. Please notice that this is an intermittent issue. It happened for 5 and 6 on this video, but it could happen to any number (and work for 5 and 6).

### To Reproduce

1- Click on the _select_
2 - Type the nu

[2020-01-04 19:23] davidfowl commented on #14547
Yea these are known problems. They need to be updated each version of .NET Core and there’s some lag time on the various teams. We’re looking at ways to remove this overhead going forward

[2020-01-04 20:00] #18079 closed

[2020-01-04 20:10] ManfredLange commented on #17618
A repo to reproduce this issue is available at https://github.com/RimuTec/react-repro

[2020-01-04 20:41] blowdart commented on #18127
Done

[2020-01-04 20:41] #18127 closed

[2020-01-04 21:05] cherchyk commented on #9548
2020 Looks like it was not fixed yet...

Am I wrong?

[2020-01-04 21:42] ygoe commented on #18127
@blowdart I still can't add a comment there? "This conversation has been locked as resolved and limited to collaborators."

[2020-01-04 21:44] blowdart commented on #18127
Gosh the bot is overactive. Unlocked too.

[2020-01-04 21:46] Wayne-Mather commented on #18094
Hi,

Will the May release mentioned by @SteveSandersonMS be in the 3.1LTS branch?

[2020-01-05 01:21] rynowak commented on #18069
@pranavkm - what's the root cause here? The object overrides `GetHashCode` and then.... ?

[2020-01-05 07:30] Indrajith-Sync commented on #18105
Hi @pranavkm

Below is the sample repo for my use-case
https://github.com/Indrajith-Sync/Blazor/tree/master/Await_delay

In the above sample, I have updated the private variable in a button click using two **Task.Delay** with **await**  in which both is executed and only the first value is changed and the second one is not changed. But on the second button click the value is changed.

I just want

[2020-01-05 10:23] kuluoluobooks opened #18131 "debug aspnetcore 3.1.0 source code exception , System.IO.FileNotFoundException:“Could not load file or assembly 'Microsoft.Extensions.Hosting.Abstractions, Version=3.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60"
### Describe the bug
I downloaded the source code, restore and opened the mvc.sln solution, created a web project named 'Emp' in the test/websites directory, referenced the source code. Compile successfully and started with an error

### files
Emp.csproj
[code]
program.cs

[code]
startup.cs
[code]

### exception

System.IO.FileNotFoundException:“Could not load file or assembly 'Microsoft.Extension

[2020-01-05 11:38] ygoe commented on #14062
As requested, I have sat down and redid this in a new ASP.NET Core project using the latest stable tooling and framework. The result is a little bit different, in that it doesn't produce two identical checkbox elements anymore, but it still puts the wrong value in it. My test app shows a disabled and prechecked checkbox and a submit button. When the form is submitted, the checkbox should be displa

[2020-01-05 12:38] galaktipus commented on #4707
Any commit for the issue?

[2020-01-05 15:14] tebeco commented on #18074
arg :D, I was trying to attempt a PR to update `MessagePack v2.0` since few day.
Since v1.x API tends to be allocation prone, i wanted to see if there was a way to update it here.

@anurse
I'm note sure what's not compatible for 3.1 here, as `MessagePack` 2.x targets both `netocreapp2.1` and `netstandard2.0`

[2020-01-05 15:18] AArnott commented on #18074
It's not MessagePack v2 is incompatible with .NET Core, because it certainly is compatible.

The problem is that .NET Core by default will only load one version of a given assembly (whereas .NET Framework was perfectly willing to load multiple versions). So if you load MessagePack v2, then ASP.NET Core's Signal library can't load v1 and will get v2 instead. Since v1 and v2 have API breaking change

[2020-01-05 15:20] tebeco commented on #18074
Any tips if the the submitted PR should do the trick if it's not API breaking change or "new feature" ?
It's changing a transitive, while the "bytes on the wire" should still be compatible for `MessagePack` itself regardless of the version

[2020-01-05 16:22] gfoidl commented on #18109
I'll take a look into this.

[2020-01-05 17:00] #18096 closed

[2020-01-05 18:00] #18097 closed

[2020-01-05 19:32] ManfredLange commented on #17618
The breakage may have been caused by this fix in create-react-app: https://github.com/facebook/create-react-app/pull/8079

[2020-01-05 19:37] marcuslindblom opened #18136 "TryUpdateModelAsync using JObject"
Is it possible in some way to update one original JObject with the changed values from another JObject?

[2020-01-05 19:38] jkotalik commented on #18131
Generally, referencing projects within a cloned version of aspnetcore outside of the repository isn't something we commonly make sure works. I think that's why you ran into dll load issue like you hit with Microsoft.Extensions.Hosting.Abstractions.

Why are you trying to accomplish by using the aspnetcore dependencies? Can you use the nightly builds found here instead: https://github.com/dotnet/co

[2020-01-05 19:50] boukenka opened #18137 "Templates for Blazor Server and Blazor WebAssembly"
Hello,

Here are my questions when creating a new project with Blazor :

1. Could you plan in the future that there is an option
   when selecting the Blazor templates to remove the '_counter_' code
   and the '_weather forecast_' code?
2. Do you plan that when the Blazor WebAssembly is 'officialy' released,
   there is an option to select an authentification method for this template
   (with ASP.

[2020-01-05 21:12] yshahin opened #18138 "CopyTo fails to Advance PipeReader on exception"
### Describe the bug

Using CopyTo to copy the request body stream, a slow connection would trigger 'Reading the request body timed out due to data arriving too slowly. See MinRequestBodyDataRate'

The stream is not cleaned correctly and a write on the response body with 400 results in IO concurrent issue.

### To Reproduce
I have not tested this sample, but you need to trigger the MinRequestBodyD

[2020-01-05 21:15] aeslinger0 opened #18139 "ContainerDevelopmentMode is ignored when used with Container Orchestration Support"
### Describe the bug
Setting `ContainerDevelopmentMode` to **Regular** works when adding docker support in Visual Studio, but then seems to be ignored when Container Orchestration Support is added.

### To Reproduce

- Create a new ASP.NET project.
- Add docker support to the VS project.
- Add Container Orchestration Support to the VS project
- Edit the project to add
[code]
- Run the app in Debug

[2020-01-05 22:06] paul-pz commented on #18074
@AArnott, yes that's the correct - I'm using MessagePack directly. I upgraded to V2 via nuget. What I would have expected is that the upgrade should have failed because the SignalR Redis package should have an upper constraint < 2.0.0 (since its obviously incompatible). Instead it succeeds, builds and fails at runtime.

[2020-01-06 00:15] Pilchie commented on #18139
@dbreshears is this your team?

[2020-01-06 00:23] Pilchie commented on #18110
See https://github.com/aspnet/AspNetCore/blob/master/docs/IssueManagementPolicies.md (specifically the sections on commenting on closed issues and locking closed issues).  The reason to do this is not to stifle feedback, but rather to make sure that it's going to an issue someone will actually look at.

[2020-01-06 03:51] vulcanlee commented on #18058
I only see in App.razor

[2020-01-06 07:12] mrpmorris commented on #17982
I'm sorry but I agree with @pranavkm that your issue needs more information.

I'm struggling to work out exactly what you are trying to do, snippets of failing code aren't helping, and a long complex JS function that solves the problem doesn't help to clear it up.

Please submit a very minimal project.

[2020-01-06 07:18] mrpmorris commented on #18105
You need to return Task not void, otherwise blazor won't have a task or can await in order to execute StateHasChanged when it finishes.

[2020-01-06 08:32] HaoK opened #18140 "Identity UI Email not sent via external login user creation"
In the external login flow, when require confirmed account = true (the default), this skips sending the confirmation email:

See https://github.com/aspnet/AspNetCore/blob/master/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ExternalLogin.cshtml.cs#L207

The send email needs to occur above the redirect to register confirmation.

@blowdart @ajcvickers we should probably consider whether this s

[2020-01-06 08:37] tebeco commented on #18074
I will add it to the current PR on `master`
i'll see if i can also do it on `release/3.1`

[2020-01-06 09:28] NullQubit opened #18141 "SignalR Core - Remove user from group"
Removing a user from a group using "RemoveFromGroupAsync" requires a connectionId.  Sometimes you might need to remove a user from a group when you don't have that user's connection id in context.

Example:
Admins can create chat rooms and add users to these chat rooms.  An admin can also kick a user from a chat room.  So on the server side, we are within the context of the admin's connection, but

[2020-01-06 09:43] serenata-keith-mifsud commented on #17983
sorry, i didnt mean to close this.

[2020-01-06 09:55] sylvainonweb opened #18142 "Create component dynamically using instance of the component"
### Is your feature request related to a problem?
I created a PopupService.Show method which show a component as a popup/modal dialog which can be used like this.

[code]

When creating the RenderFragment, the code is like this

[code]
with ComponentType = typeof(ForecastEditView)

Actually, because this method take the type of the component (here ForecastEditView), the parameters are represented

[2020-01-06 10:54] paramitamandal commented on #17613
@halter73 @anurse Any luck??

[2020-01-06 11:47] physix99 opened #18143 "Blazor Server - Random error occuring "The list of component records is not valid.""
Hi,

We're using Asp.Net.Core 3.1.0, got a Blazor Server website.

Occasionally we get an error in the browser console saying:
`blazor.server.js:15 [2020-01-06T11:22:02.989Z] Error: The list of component records is not valid.`

But the trouble is I haven't been able to work out why it appears, it seems like the signalr connection is being restarted as the console logs immediately before that line

[2020-01-06 12:48] chucker commented on #18106
Thanks!

That works to get me _all_ endpoints, as you say, but won't match against a URL. However, those docs led me to the `LinkParser` class, which helps (and can be injected).

The following, while hardly efficient, appears to work:

[code]

`TryGetEndpointMetadata` looks like:

[code]

This allows me to:

1. pass any URL
2. if it matches a controller action, look at `controllerActionDescriptor

[2020-01-06 13:00] phibsi commented on #17989
Hi @anurse,

I created a sample project to reproduce the issue: https://github.com/phibsi/sample-aspnetcore-impersonation

You need to publish the webservice to an IIS Website on Windows Server 2012 R2.
The Windows Server needs to be joined to an Active Directory. Kereberos requieres SPNs set to the Computer Account or Application Pool Account. DNS A-recoreds needs to be set for the services (Webs

[2020-01-06 13:03] fschlaef opened #18144 "SignalR hub silently disconnects if a payload containing loop references is sent"
### Describe the bug

When upgrading to .Net Core 3.0, a part of the migration guide (https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30) was to change from `Newtonsoft.Json` to `Json.NET`.

The problem with the latter is that Reference Loop Handling will not be supported until .Net 5.0 : https://github.com/dotnet/corefx/issues/38579

If you send a payload with a looped reference to a

[2020-01-06 13:13] phibsi commented on #17989
Hi @Tratcher,

Impersonation is done in https://github.com/phibsi/sample-aspnetcore-impersonation/blob/ec4aa0de0f2f44ee771c6cff0b0d2bf50155bc93/Services/ImpersonationService.cs#L64 using IIS, Kerberos and
[code]

[2020-01-06 13:40] skuami commented on #7756
@dradovic

Sorry for the double post.
You're right. I've just read your code and there it is not obvious you meant the IStringLocalizerFactory but you describe it in the text very well.

[2020-01-06 14:19] ranzeplay opened #18146 "[Question] return RedirectToAction(nameof(Authorize), params); causes an Invalid Redirect problem"
Here's my code
[code]

The logic is when user authorized, I'll redirect him to my Authorize page. But it causes an InvalidRedirect problem and opened the VMS document.
Nothing showed by Chrome, and everything works fine.
It just can't redirect successfully

[2020-01-06 16:21] Tratcher commented on #18138
Notes for triage: This is a similar issue to https://github.com/aspnet/AspNetCore/issues/17723, but in a different location. CopyTo fails to call Advance on the pipe when an exception is thrown so it causes the secondary exception like the one in #17723 "The stream does not support concurrent IO read or write operations.".

That said, MinDataRate exceptions close the connection so draining the req

[2020-01-06 16:22] BrennanConroy commented on #18144
That's all you can do if you want to use reference loops, until System.Text.Json adds support for it in the future.

As far as silently failing, it does log at the Debug level currently, but we're considering changing that, see https://github.com/aspnet/AspNetCore/issues/13651 for discussion/tracking.

[2020-01-06 16:28] anurse commented on #18074
That wasn't known at the time of release. We generally don't include upper bounds in our packages because they must be determined at the time of release and we do not know what the upper bound is at that time. Adding a upper bound means that even when a compatible release is made, it is not possible for a user to accept the update. Whereas, without an upper bound, if the release is compatible, the

[2020-01-06 16:30] anurse commented on #18074
Yes, this **is** considered a breaking change. Users may have been getting MessagePack through our dependency and may have code using the 1.x APIs. We cannot break them in a non-major release and must consider a breaking change update to transitive dependencies as a breaking change ourselves.

[2020-01-06 16:31] tebeco commented on #18074
ahhhh i did not thought about client pulling `MessagePack v2` but not use it in signalR
you are right ;)

[2020-01-06 16:33] #17851 closed

[2020-01-06 16:33] SteveSandersonMS commented on #17851
Fixed in https://github.com/aspnet/AspNetCore/pull/17910

[2020-01-06 16:40] pranavkm commented on #12779
This should be fixed in the 3.2-preview1 release.

[2020-01-06 16:40] #12779 closed

[2020-01-06 16:43] pranavkm commented on #18069
* `EditContext` uses `FieldIdentifier` as the key for lookups: https://github.com/aspnet/AspNetCore/blob/master/src/Components/Forms/src/EditContext.cs#L22 using the default comparer
* `FieldIdentifier` uses the `Model` instance in it's hash and equality comparison: https://github.com/aspnet/AspNetCore/blob/master/src/Components/Forms/src/FieldIdentifier.cs#L66-L80

If the model produces hashcodes

[2020-01-06 16:56] pranavkm commented on #17722
Done as part of https://github.com/aspnet/AspNetCore/pull/17561

[2020-01-06 16:56] #17722 closed

[2020-01-06 17:05] lousaibiao commented on #18019
any update? facing the same issue

[2020-01-06 17:06] jkotalik commented on #18141
@BrennanConroy @halter73 thoughts?

[2020-01-06 17:07] jkotalik commented on #18019
@lousaibiao can you try doing what I mentioned in my previous comment and check the bitness of the aspnetcorev2.dll? We are still trying to gather more information.

[2020-01-06 17:09] lousaibiao commented on #18019
where can i find dumpbin?

[2020-01-06 17:10] lousaibiao commented on #18019
@jkotalik

[2020-01-06 17:14] jkotalik commented on #18019
https://docs.microsoft.com/en-us/cpp/build/reference/dumpbin-command-line?view=vs-2019

If you open Visual Studio 2019 Developer Command Prompt, you should be able to type:
`dumpbin /headers "C:\Program Files (x86)\IIS\Asp.Net Core Module\V2\aspnetcorev2.dll"`. It should then list the bitness of the dll (either x64 or x86)

[2020-01-06 17:19] lousaibiao commented on #18019
@jkotalik  wait minutes, I am trying

[2020-01-06 17:30] lousaibiao commented on #18019
@jkotalik it says dumpbin is missing, how can i fix this.

[2020-01-06 17:33] lousaibiao commented on #18019
@jkotalik I have two windows server r2 standard machine. it works in one but crash in another. Also, the aspnetcorev2.dll file in two machine seems exactly the same. Did i missing something in the wrong machine?

[2020-01-06 17:34] dbreshears commented on #18139
Yes. @aeslinger0,  for Compose projects you can use DockerDevelopmentMode specified in the .dcproj file.    You can also F5 using the "Release" configuration.    This is a recent property we added and looks like we need to update https://docs.microsoft.com/en-us/visualstudio/containers/docker-compose-properties?view=vs-2019 with the addition of this property.   Thanks!

[2020-01-06 17:41] Tratcher commented on #17989
Does it work any better when the action being run under impersonation is not async (or is forced to complete synchronously within the impersonation)? We've seen issues in the past with the impersonation being reverted too soon.
https://github.com/phibsi/sample-aspnetcore-impersonation/blob/ec4aa0de0f2f44ee771c6cff0b0d2bf50155bc93/Controllers/HomeController.cs#L39-L44

[2020-01-06 17:56] Tratcher commented on #18117
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/azure-ad-b2c?view=aspnetcore-3.1#configure-the-underlying-openidconnectoptionsjwtbearercookie-options
[code]
Look at options.TokenValidationParamters.ValidateIssuer.

[2020-01-06 18:05] anurse commented on #18110
Yep, @Pilchie is correct here. It's actually done to make feedback on closed issues ***more visible***. Comments on a closed issue are often lost, since they only notify other participants (who may not be able to handle them right away) and then because they are closed they don't show up in our normal triage process.

The bot locks the issue *precisely* to encourage what you just did @BrightSoul :

[2020-01-06 18:08] Pilchie commented on #18139
Thanks @dbreshears - do you have an item to follow?  @aeslinger0 I'm going to close this as external since any work would be outside the AspNetCore repo.

[2020-01-06 18:08] #18139 closed

[2020-01-06 18:18] Pilchie commented on #17955
Most people are back now, so closing this.

[2020-01-06 18:31] aeslinger0 commented on #18139
@dbreshears thanks, I didn't think to do it on the compose project. I'll try that.

@Pilchie, that's fine, thanks.

[2020-01-06 18:43] dbreshears commented on #18139
@Pilchie ,  Added this  #https://github.com/MicrosoftDocs/visualstudio-docs/issues/4594

[2020-01-06 18:43] halter73 commented on #18144
Looks like this is a duplicate of #13651. Once dotnet/corefx#38579 is resolved, reference loops should be allowable via JsonHubProtocolOptions.PayloadSerializerOptions.

[2020-01-06 18:46] dbreshears commented on #18139
@aeslinger0,   If you run into issues with this or anything VS Docker related,  you can log an issue at [https://github.com/microsoft/dockertools/issues](https://github.com/microsoft/dockertools/issues )

[2020-01-06 19:01] anurse commented on #18086
Sure. Checking now :).

[2020-01-06 19:08] anurse commented on #17613
@paramitamandal We've been a bit delayed due to the holidays but will take a look soon.

[2020-01-06 19:10] anurse commented on #17781
Gotcha, thanks for clarifying. So even if you specify the rules manually it doesn't work?

[2020-01-06 19:11] anurse commented on #18055
Sure, either is fine. We can make C# more flexible or JS less flexible. It's whichever feels more appropriate to achieve consistency.

[2020-01-06 19:11] anurse commented on #18095
@Kahbazi sounds reasonable! If you'd like to open a PR to fix this, we'd take a look!

[2020-01-06 19:12] NXTwoThou commented on #17781
Manually doing the rules worked fine which is why I moved on.  I was using that to point out as an example of why not being able to use IIS Express on my development machine for .NET Core testing created a serious problem between development and deployment.

[2020-01-06 19:13] Kahbazi commented on #18095
@anurse I opened a PR here https://github.com/aspnet/Extensions/pull/2822

[2020-01-06 19:14] mathisloge commented on #18137
2) its clearly on the roadmap: https://github.com/aspnet/AspNetCore/issues/17014

[2020-01-06 19:18] anurse commented on #17781
Not necessarily disagreeing, I'm trying to identify the repro so we can get to actionable work. I would *expect* loading from a file to be different in IIS and IIS Express, since in IIS Express the app runs as your local user, but in IIS the app runs under a Windows Service account.

So then to be clear, the issue only occurs if you read the rules from a file, and **not** if you configure them man

[2020-01-06 19:23] pranavkm commented on #18115
Hi @mgubis, the type was made internal as part of our making pub-internal types internal. See https://github.com/aspnet/Announcements/issues/326. For 3.x, the recommendation is to copy the type in to your application: https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.RazorPages/src/Infrastructure/DefaultPageHandlerMethodSelector.cs.

[2020-01-06 19:23] NXTwoThou commented on #17781
This works on both development and production:
[code]
This works on development but not production:
[code]
I'm afraid I got had long since got rid of the xml file we were using.  Note, while frantically trying to figure out what was going on with production, I actually changed the user to be an admin on the box to see if it was a permission issue.

[2020-01-06 19:24] BrightSoul commented on #18110
Thank you @anurse and @Pilchie for your detailed replies. I think I understand your point of view on this matter, even though I don't completely agree. Let me clarify, then we can consider this issue closed.

Ok, but is this really enough to consider an issue resolved? I think an issue like that, which is clearly a feature request (even if submitted in the shape of a question) should stay open and

[2020-01-06 19:24] pranavkm commented on #18120
Yes, the PR \ issue is targeted for the 5.0 release.

[2020-01-06 19:25] pranavkm commented on #18122
@NTaylorMullen could you have a look?

[2020-01-06 19:28] pranavkm commented on #18136
JsonPatch would be the closest solution to this, but it [does not currently support](https://github.com/aspnet/AspNetCore/issues/2429) updating `JObject` instances. I'd recommend using StackOverflow to figure out how to do this with the current version of the framework.

[2020-01-06 19:37] anurse commented on #18110
Fair questions, I was just clarifying how our process treats things. Things do sometimes get closed before everyone has reached consensus, which is why the bot has a lag of 30 days of _inactivity_ before locking. Sometimes due to a mistake, different plans for tracking work, etc. If an issue is locked and there are still open questions, it's totally reasonable to open a new one referencing the old

[2020-01-06 19:37] anurse commented on #17781
You changed the user of the _worker process_?

[2020-01-06 19:39] NXTwoThou commented on #17781
Well, the AppPool identity

[2020-01-06 19:45] marcuslindblom commented on #18120
@pranavkm are there any previews available for release 5?

[2020-01-06 20:01] julienGrd commented on #17898
I can confirm, and the problem is if we bind on a datetime property, and on the other way we bind the same datetime on a custom component who manage the date part, the two bindings are in conflict and the input time crush the value with the old date.

Do you have a workaround for that ?

[2020-01-06 20:13] yshahin commented on #17723
@Tratcher, @halter73 any work around in the mean time?
I tried calling Close and cancelPendingRead but they don't help.
I don't know where to get the AdvanceTo parameter from.

[2020-01-06 20:14] yshahin commented on #18138
@Tratcher, @halter73 any work around in the mean time?
I tried calling Close and cancelPendingRead but they don't help.
I don't know where to get the AdvanceTo parameter from.

[2020-01-06 20:27] pranavkm commented on #18120
@marcuslindblom not as yet. The first preview is scheduled for some time in February - https://github.com/aspnet/AspNetCore/milestone/61, although I'm not entirely certain how accurate that date it.

In the meanwhile, you could try out our nightlies using the instructions available here https://github.com/aspnet/AspNetCore/blob/master/docs/DailyBuilds.md.

[2020-01-06 20:35] Tratcher commented on #18138
@yshahin not really. However, the only impact should be log noise, there should be no functional impact to the app.

[2020-01-06 21:14] HaoK commented on #18140
This fix will need to be ported to scaffolding

[2020-01-06 21:38] benday commented on #18121
I think that I've got some fixes that make the specs run.  I'd be happy to submit a pull request but I'm not sure where I should go.

FYI, here's a github repo that starts with a repro of the problem and then fixes it over a series of commits.  https://github.com/benday/dotnet31angularproblems

[2020-01-06 21:48] paul-pz commented on #18074
I wonder if it's worth just sticking with the principles around semantic versioning and assume that a major version bump means a breaking API change? You're right, it may turn out that the major bump doesn't affect the API's being used - but the user can always force the installation of the package if they want to test this. I'd see this as a typical push left quality issue - go with stability and

[2020-01-06 21:56] dagood opened #18152 "Windows hosting bundle 3.x localized help text is clipped"
### Describe the bug
When using the hosting bundle with non-English localization, the help text is clipped.

![image](https://user-images.githubusercontent.com/12819531/71851647-a0db9d00-309c-11ea-8c0e-06963e1bd8ad.png)

### To Reproduce
1. Download the 3.1.0 or 3.0.1 Windows hosting bundle from https://dotnet.microsoft.com/download/dotnet-core/3.1
2. Set language/region to Spanish (any language l

[2020-01-06 22:05] anurse commented on #18138
@halter73 thinks this may have been fixed (somewhat unintentionally) in 3.1. He'll investigate.

If not, we should get a fix for this, sounds like it's simple enough.

[2020-01-06 22:11] anurse commented on #18055
Oof, this makes things more complicated if you want `result` to be preferred in your suggestion. The JavaScript client is succumbing to JavaScript's definition of falsiness. Would we make the C# client consider an empty-string `error` as the same as a non-present property? That seems like a scarier change...

[2020-01-06 22:13] #18144 closed

[2020-01-06 22:15] dbreshears commented on #18139
@aeslinger0 ,  just realized why it wasn't documented yet and you likely will hit hissues.  We fixed a bug recently regarding this property and the fix hasn't released yet.   It will be fixed in 16.5 Preview 2 later this month.  For the time being,  the workaround is to switch to "Release" build configuration.

[2020-01-06 22:30] jcoutch opened #18153 "Health Checks - Register path/options with dependency injection"
### Is your feature request related to a problem? Please describe.
This feature would directly support development efforts on:
https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/1058

When adding health checks using `IApplicationBuilder.UseHealthChecks`, the values of path and `HealthCheckOptions` are only used to map `HealthCheckMiddleware`.  After the middleware is registered, ther

[2020-01-06 22:31] NTaylorMullen commented on #18107
Hey @katymariehughes, it's definitely not ideal but sadly TagHelpers don't allow you to get your child content without invoking it.

Therefore in order to get the type of result you're expecting you'll have to do something like your `@:` alternative. Here's two other options:
- `&lt;btn&gt;Button tag helper &lt;/btn&gt;`
- `<!btn>Button tag helper </!btn>`

[2020-01-06 22:31] #18107 closed

[2020-01-06 22:42] AArnott commented on #18074
Regardless of the general policy, we know *now* that messagepack v2 is breaking. So adding the upper bound in a servicing release makes perfect sense to me.

[2020-01-06 22:48] NTaylorMullen commented on #18122
@borseno thanks for the video, repro and all the information! Such an interesting set of circumstances; I've been plugging away at it for a while and I haven't been able to reproduce it myself which is definitely makes things harder to diagnose.

![image](https://i.imgur.com/AuJIVss.gif)

Sadly with something like this we wont be able to work on a fix without some sort of consistent repro. I know

[2020-01-06 22:48] #18122 closed

[2020-01-06 22:59] NTaylorMullen commented on #14297
@ryanbrandenburg assigning this to you since you already have this done in your PR 😄

[2020-01-06 23:06] bshade7 commented on #18019
@jkotalik Here are the results of the two dlls i have from 3.1.0, since I reverted back to that version to keep my .net core applications working properly (since they were made for 3.1.0).  Bitness seems to be correct for both dlls present on the machine.

![bitness](https://user-images.githubusercontent.com/28866528/71855426-97efc900-30a6-11ea-8637-7688173ee155.PNG)

[2020-01-06 23:06] ajcvickers commented on #18102
@blowdart Where is the "cookie compat shim" documented?

[2020-01-06 23:09] blowdart commented on #18102
Well really it's [data protection.](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/compatibility/replacing-machinekey?view=aspnetcore-3.1) but this allows identity cookies to be read.

[2020-01-06 23:12] ryanbrandenburg commented on #17933
This problem persists, though with fewer "trains" being out of date:
![dependencies out of date](https://user-images.githubusercontent.com/14987221/71854783-17c06800-3094-11ea-8682-fc60ad0d9066.PNG).

[2020-01-06 23:28] anurse opened #18154 "Flaky Servers Test: Settings_MaxHeaderListSize_Server"
[The `Settings_MaxHeaderListSize_Server` test](https://github.com/aspnet/AspNetCore/blob/a386abcb2a62a776abef349dd7ac446dd4e703b3/src/Servers/Kestrel/test/Interop.FunctionalTests/HttpClientHttp2InteropTests.cs#L1351) is [failing fairly consistently on CI](https://dev.azure.com/dnceng/public/_build/results?buildId=473307&view=ms.vss-test-web.build-test-results-tab&runId=15063152&resultId=100011&pan

[2020-01-06 23:31] Tratcher commented on #18154
@anurse it's already marked as flaky, and it's caused by a client issue https://github.com/dotnet/runtime/issues/860. Do you want to disable it?

[2020-01-06 23:33] Tratcher commented on #18154
Where did you get that percentage?

[2020-01-06 23:56] anurse commented on #18154
@ryanbrandenburg did some very unscientific math :).

[2020-01-07 00:16] yeah-boi opened #18156 "Wierd behaviour of AuthorizationHandlerContext.HasSucceeded in an edge case."
With the current implementation of the property `AuthorizationHandlerContext.HasSucceeded`, it will be `false` if we use it for an instance that has just been initialized with an empty set of requirements. This because `this._succeedCalled` will be `false` in that case.

I expect `AuthorizationHandlerContext.HasSucceeded` to be `true` in this case since all 0 requirements has succeeded in this cas

[2020-01-07 00:22] anurse commented on #18074
I'd really prefer not to thrash the long-standing upper limit bounds discussion in this thread and keep this focused on updating to MessagePack v2 (to fix the actual underlying problem). Our current policy is to never apply upper bounds. I'm certainly not saying that policy is not open for discussion but I'd like to avoid bogging this specific change to update to MessagePack v2 (which is important

[2020-01-07 00:52] danroth27 commented on #14297
Nope 😝. Maybe this was to track updating the readme for the VS Code C# extension for the new Razor support?

[2020-01-07 02:41] keertisomu opened #18157 "aspnetcore (3.0.0) signalR unable to start connection after hosting to IIS"
Hi,
I am unable to test out the sample tutorial after deploying the sample tutorial in my localhost IIS available in this [link](https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?view=aspnetcore-3.1&tabs=visual-studio)
For some reason its not able to connect to the signalR hub.
For the publish i just used a simple MS deploy straight from Visual studio.
Below is the screenshot of the e

[2020-01-07 02:44] keertisomu commented on #18157
IIS hosting model : inprocess
e`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\RedisNetCore.exe" stdoutLogEnabled="false" stdoutLogFile=

[2020-01-07 03:14] Pilchie commented on #18152
@aspnet/build who would normally look at this?

[2020-01-07 03:20] huazhb opened #18158 "build source code using restore.cmd get error: tools\MSBuild\Microsoft\VC\v160\Microsoft.Cpp.Default.props"
Follow the Build ASP.NET Core from Source, clone the source code, run the restore.cmd and get below error: \AspNetCore\src\Servers\IIS\AspNetCoreModuleV2\OutOfProcessRequestHandler\OutOfProcessRequestHandler.vcxproj(30,3): error MSB4019: The imported project "\AspNetCore\.tools\msbuild\16
.3.0-alpha\tools\MSBuild\Microsoft\VC\v160\Microsoft.Cpp.Default.props" was not found. Confirm that the path i

[2020-01-07 03:23] KalpeshPopat opened #18159 "Sessions should be allowed to store objects"
I am migrating from asp.net framework 4.7 to core 3.0 - and i understand asp.net core team wants us to go away from sessions - however it is not practical for Change Management for such large projects. There are budget constraints, time constraints and it is important we move away from certain old ways of doing things in a phased manner - while reusing maximum that we can and keep release time sho

[2020-01-07 03:45] BrennanConroy commented on #18157
It looks like you're hosting your app at "localhost/SignalRRedisNetCore" which would probably mean that your hub is at "localhost/SignalRRedisNetCore/chatHub". But you are telling the client that it is at "localhost/chatHub" so the hub isn't being found.

[2020-01-07 03:52] keertisomu commented on #18157
Thanks Brennan , my bad , its working fine now.

[2020-01-07 03:52] #18157 closed

[2020-01-07 03:56] netbitshift opened #18160 "Something causing names not to be recognized"
Visual Studio 2019, build 16.4.2, dotnet core 3.0

ASP.net core razorpages.  Not sure if this is a VS issue or my fault.  I dont have a way yet to reproduce this yet, but something is causing issues with namespaces.  Its only on this page so that leads me to think its the loose nut behind the wheel (me).  However, things look right and this error only started happening when I erased an H2 tag abov

[2020-01-07 04:20] sujayvsarma commented on #18117
Ok, when I did that, the flow went ahead and I got my token. BUT, now I hit a new issue. Apparently, I cannot authorize the application against the `common` endpoint.

**My scenario:**
This is a multi-tenant application targeted at Azure subscribers. It needs to be able to perform actions against both the Graph API (Azure AD only, more specifically users & groups) and also calls against the AzureR

[2020-01-07 04:56] huazhb commented on #18158
Solved. Need to run the ./eng/scripts/InstallVisualStudio.ps1 to install the correct component. And it required the visual studio enterprise version.

[2020-01-07 04:56] huazhb commented on #18158
Close

[2020-01-07 04:56] #18158 closed

[2020-01-07 05:07] manavu commented on #17960
hi @pranavkm

shared localization worked in the way of pattern 1.
but view model localization can't work.

pattern 2 worked fine.
thanks.

[2020-01-07 05:47] dougbu commented on #18152
Most likely @joeloff. @jkotalik has also done some work in the relevant files.

[2020-01-07 06:22] paramitamandal commented on #17613
@anurse no issue..

[2020-01-07 06:42] marcuslindblom opened #18161 "Html.NameFor in camel case format"
Is it possible to configure how the `NameFor` helper so it will produce camel case format? I tried to use the `[Display(Name = "")]` attribute but it does not seem to work? Maybe there are som other built in method for making this to work or do I need to create my own extension?

I would like this `@Html.NameFor(x => x.ArtDirection.Images.Landscape)` to produce `artDirection.images.landscape`.

[2020-01-07 07:26] mathisloge commented on #18119
Maybe related to https://github.com/aspnet/AspNetCore/issues/17898

[2020-01-07 07:30] tester346 commented on #18087
@Tratcher

It works (for me) fine in both cases - when that attribute `[DisableFormValueModelBinding]` which removes formatter IS used and also when it ISN'T.

I currently decided to push to prod version with this attribute being enabled and I also decided to upgrade

Somebody on SO pointed that

I'm waiting to see what's going to happen

[2020-01-07 08:28] TanvirArjel opened #18162 "MultipartBodyLengthLimit is not working in ASP.NET Core Version >= 2.0"
I am trying to upload a file with size more than 30 MB and its throwing the following exception:

Then I have configured as follows:

        public void ConfigureServices(IServiceCollection services)
        {
            services.Configure<FormOptions>(x =>
            {
                x.ValueLengthLimit = int.MaxValue;
                x.MultipartBodyLengthLimit = int.MaxValue;

[2020-01-07 09:17] mgubis commented on #18115
Thank you for the answer. I have managed to copy it into our libraries (little change was necessary, but it was really just cosmetic change) and migrated successfully to .NET Core 3.1.

Nevertheless, I think it would be nice to have a possibility to access default functionality (copying of the code just increases maintenance costs and in case of bugfixes, they are not received automatically). Mayb

[2020-01-07 09:45] ptsneves commented on #18047
Hello @anurse

What I want is to take a user and check all the policies that he/she complies with. Imagine I only have a policy called "IsAdmin" registered. Also consider that i have 2 users User1 and User2.

My dashboard would be
[code]

[2020-01-07 10:14] newbienewbie opened #18163 "Suggestion: Expose a parameter of `ShouldMatch` for `<NavLink />`"
### Is your feature request related to a problem? Please describe.

I want to custom the matching behavior of `<NavLink />`.

Let's say we want to process a url with a hash(See [this thread on SO](https://stackoverflow.com/q/59614216/10091607)) :
[code]
Sometimes we might think this url matches `http://localhost` , while some other users don't think so.

It would be great that we are allowed to cu

[2020-01-07 10:56] DataJuggler opened #18164 "Make it simple to remove 'Use Another Service To Login'"
I read several posts on stackoverflow that you cannot remove the part that says 'Use Another Service To Login.' If you do not agree with the privacy policy of any of the other services, my only choice is to write my own authentication, or show a message 'Use Another Service To Login'.

The link to the page in the article that explains how to setup up another service, does not show how to opt out o

[2020-01-07 11:51] abcdefgabcefg commented on #18146
Can you share Authorize action code? And what is VMS document? I just can't get did you fail with exception or not?

[2020-01-07 12:31] Pvlerick commented on #14907
All due respect, I am sorry but the provided answers to this issues are simply not satisfactory.

This does not work, as demonstrated in Tratcher's post here: https://github.com/aspnet/AspNetCore/issues/14907#issuecomment-542388201

@javiercn 's description in https://github.com/aspnet/AspNetCore/issues/14907#issuecomment-541011786 implies to be the intended behaviour is that ```Startup.ConfigureC

[2020-01-07 12:32] shawty commented on #17982
@Triggs9 People here are trying to help you, but your being very abrasive and in no way attempting to help us to help you, we can see what your trying to ask, but your not answering the questions being asked by others, and thus we can't help you.

As @mrpmorris states there are MANY ways of doing what your trying to achieve, and if you explain your goals, then we might be able to tell you a BETTER

[2020-01-07 12:43] alefranz commented on #15384
Due to this subtle bug, it is risk to use the HeaderPropagation middleware at the moment.
Is there any chance we can include the workaround https://github.com/aspnet/AspNetCore/pull/15435 in a patch release?
The kestrel fix https://github.com/aspnet/AspNetCore/pull/14146 is still in progress and I doubt it will be backported to 3.1

If not possible to patch, should we document the bug somewhere (c

[2020-01-07 12:47] alexkibler commented on #18039
I figured out what my issue was, in case anyone stumbles upon this later.  In my startup.cs, I had
[code]

[2020-01-07 12:47] #18039 closed

[2020-01-07 12:51] alefranz commented on #14907
I have investigated a fix but unfortunately, as well explained by @Tratcher , to fix this would have potential side effects so I parked my work.
@anurse would a PR be considered or it is to risky to do change this behavior as 3.1 has already been released?
Should the effort instead be in documenting a working hack?
Thank you!

[2020-01-07 13:10] shawty commented on #17982
Ok I've read through this several times now and it appears that what your trying to do is pass in an existing HTML elements ID, then get a list of all it's properties back to your C# code in something like a Dictionary<string, object>

Correct?

[2020-01-07 13:29] VBAndCs opened #18166 "Errors from inaccessible types in the current project do not appear in the error window"
Ver: VS.NET Community 16.4.2, .NET Core 3.1
In a Razor pages project, I defined this static class:
[code]

I added this ststement to the _ViewImports.cshtml file:
`@using Microsoft.AspNetCore.Http`

In the page, I wrote this:
[code]

I have intelligence support for `SessionKeys`, but the build fails with no error or warning in the Error window!
The build succeeds if I get rid of the  `SessionKeys.

[2020-01-07 13:31] #18146 closed

[2020-01-07 13:36] netbitshift commented on #18160
Duh, it ended up being exactly what the first error the compiler was complaining about, a freakin curly brace.  Went down a million rabbit holes thinking VS was broke, Razorpages was broke, considering switching over to MVC etc.  Sometimes ya just need to take the compiler at its word.  Found the problem after looking at the syntax used on another page that did not have these issues.

[2020-01-07 13:36] #18160 closed

[2020-01-07 14:03] mantasaudickas opened #18167 "DefaultHttpContextFactory not available in nuget"
Hi,

Latest nuget package of Microsoft.AspNetCore.Hosting is 2.2.7 which does not have DefaultHttpContextFactory type available.

It is possible to reference version 3.1.0 using file system which I guess is completely wrong solution:
`<Reference Include="Microsoft.AspNetCore.Hosting">
      <HintPath>C:\Program Files\dotnet\packs\Microsoft.AspNetCore.App.Ref\3.1.0\ref\netcoreapp3.1\Microsoft.AspNe

[2020-01-07 14:23] boukenka commented on #18137
Thank you @mathisloge

By the way do you know the status of the issue when validating a custom class / nested models ?
I know there are [#10896](https://github.com/aspnet/AspNetCore/issues/10896) [#10526](https://github.com/aspnet/AspNetCore/issues/10526) [#14426](https://github.com/aspnet/AspNetCore/issues/14426) and [#12044](https://github.com/aspnet/AspNetCore/issues/12044). One solution as wor

[2020-01-07 14:34] Andrew-Webb opened #18168 "ASP.NET Core project templates write Startup.cs and Program.cs with ANSI encoding, not UTF-8"
Updating the header comments in my ASP.NET Core 3.1 project's C# files today (changing end year from 2019 to 2020), I noticed incorrect display of Unicode Character 'COPYRIGHT SIGN' (U+00A9) and Unicode Character 'REGISTERED SIGN' (U+00AE) when committing the files to GitHub using GitHub Desktop - but only in template-generated files `Startup.cs` and `Program.cs`.

Why?  Turns out the template (e.

[2020-01-07 14:49] mvarblow commented on #18019
We're seeing the same thing. We installed the ASP.NET Core 3.1 Hosting Bundle on a server so we could deploy a new .NET Core 3.1 application. This broke all our ASP.NET Core 2.2 (.NET Framework 4.7.2) applications running on the server in 32-bit application pools. Same error codes / messages as described by bshade7. We're running on Windows Server 2012 R2.

[2020-01-07 15:19] aeslinger0 commented on #18139
@dbreshears, darn, the whole reason I wanted to use `ContainerDevelopmentMode` was so I could walk through the code in Debug mode. Do you happen to know the bug # so I can track it?

[2020-01-07 15:42] lousaibiao commented on #18019
This not happen in every machine,i think it
may be caused by some missing Windows updates,because my customer trun off auto update. Finally,i installed hosting bundle with  version 3.0.0 so it would not be so much changes to my code.

[2020-01-07 15:48] jkotalik commented on #18019
Alright, I'm going to try to repro this on Windows Server 2012 R2 as that seems to be the consistent thing here.

[2020-01-07 15:51] blowdart commented on #18140
It probably needs to be smarter. If you're using external logins you generally should trust the logins you're using, so if the login provider gives you an email address, and the user doesn't change it when entering their information it could be considered confirmed. If they change it then send the email.

[2020-01-07 15:52] blowdart commented on #18046
What benefit do you see in changing this?

[2020-01-07 15:53] blowdart commented on #18117
This is probably one for @jmprieur to answer as it's more about how azure ad works.

[2020-01-07 15:59] rsudbdg commented on #6111
I have the same problem after publishing my NetCore 3.1 to IIS. But it was fixed after I changed it's Application Pool - Process Model - Identity, from Built-In-Account : ApplicaationPoolIdentity' to 'LocalSystem'

[2020-01-07 16:10] HaoK commented on #18140
Well originally we didn't send any confirmation emails via social providers, I mean we can go the other way with this fix and just automatically confirm any accounts that were created via social providers if you want instead of sending confirmation emails

[2020-01-07 16:19] joeloff commented on #18091
We don't sign the WiX DLLs that are linked into the bootstrapper. wixstdba is the native bootstrapper that forms the bottom layer of the bundle and is a standard DLL that is part of Wix. Typically only the engine and the bundle is signed. We'd have to maintain a private copy of WiX that we sign with 3rd party certificates. That's certainly possible.

Looking at the changes in the PR, that appears