[2022-01-19 23:43] TanayParikh commented on #39638
Oh I see the issue now. The `MainLayout.razor.css` file wasn't moved/copied. Notice how `MainLayout.razor` has a `>` next to it. Hit that and it'll show the scoped .css file. You'll want to move that over to `/Features/Shared/RazorComponents/MainLayoutComponent.razor.css`.

[2022-01-19 23:44] adityamandaleeka opened #39641 "Determine configuration options needed for port-sharing"
Contributes to https://github.com/dotnet/aspnetcore/issues/39640

What options should exist for this? Consider:
- Functional compatibility with netsh options
- How do our partners/customers use these today?

[2022-01-19 23:47] adityamandaleeka opened #39642 "Port-sharing configuration - mechanism/UX for configuration"
Contributes to https://github.com/dotnet/aspnetcore/issues/39640

This covers the experience of managing the config for the port-sharing story with Kestrel+YARP.

Things to consider:
- Live config reload
- Correctness checking when config changes (so a bad change doesn't take things down)

[2022-01-19 23:58] TanayParikh commented on #39603
Hello @groogiam, thanks for the repro. I took a look, and narrowed down the repro a bit more:

[code]

Essentially what's happening here is in your `DownloadFromStream` function, you're using a `using` statement, which causes the `streamRef` to be disposed when the function finishes execution. However, you're returning the `streamRef` for async execution outside of the scope of the function. You'l

[2022-01-20 00:05] sebastienros commented on #39612
investigation:

OpenIdConnectOptions.ctor()
-> OpenIdConnectProtocolValidator.ctor()
-> CryptoProviderFactory.ctor()
-> InMemoryCryptoProviderCache.ctor()
-> EventBasedLRUCache.ctor()

which used to create a new `Timer` before this PR: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1783. Also before this PR I don't see any Dispose() implementation (or fin

[2022-01-20 00:10] roysurles commented on #39638
@TanayParikh Ok, so in this scenario, i did: in VS 2022, right click on 'Features/Shared/RazorComponents' folder --> Add --> Razor Component --> named it MainLayoutComponent.Razor... so how do we get / force VS 2022 to create the corresponding css file (MainLayoutComponent.razor.css)  that you are referring to?  Or are you saying i have to do this manually?

[2022-01-20 00:18] roysurles commented on #39638
@TanayParikh this is issue is not resolved / closed.  I created a new razor component and VS 2022 did not create the necessary resulting supporting files.

[2022-01-20 00:21] TanayParikh commented on #39638
You'll have to create it manually. The feature is called scoped CSS, and the documentation is available [here](https://docs.microsoft.com/aspnet/core/blazor/components/css-isolation?view=aspnetcore-6.0).

[2022-01-20 00:41] roysurles commented on #39638
@javiercn @danroth27 @SteveSandersonMS just wanted to double check on the results of this issue.  So for any new razor component(s) that i create in a .Net 6 (plus) Blazor Wasm project, i need to also manually create a corrsponding*.css file as to match it as well?  I am pretty sure this was not the case with VS 2019 & .Net 5, but i will need to try to repro tomorrow to verify. if this is the case

[2022-01-20 00:51] groogiam commented on #39603
@TanayParikh Makes sense. I probably should have noticed that noticed that I did not await that call. Thanks for taking the point out and clearly explain the logic issue.

[2022-01-20 00:51] #39603 closed

[2022-01-20 01:00] #39452 closed

[2022-01-20 01:00] #38561 closed

[2022-01-20 01:00] #22549 closed

[2022-01-20 01:28] TanayParikh commented on #39638
The scoped CSS files (.razor.css) are optional files, they don't _need_ to be created. If provided, they facilitate component isolated styles.

[2022-01-20 02:39] Rick-Anderson commented on #31583
https://github.com/dotnet/AspNetCore.Docs/issues

I can fix this next week.

@tommcdon  I'll show all approaches but it seems like for Visual Studio, `runtimeconfig.json` and the project file are the easiest. For those who want to set it once, use `setx COMPlus_ReadyToRun=0`

[2022-01-20 05:26] #38705 closed

[2022-01-20 06:07] v-wenkecheng commented on #39397
Hi @javiercn
- Create BlazorWebAssemblyApp 6.0 project in M1 machine and use the command "dotnet build/bl", As shown below:
  ![image](https://user-images.githubusercontent.com/69494255/150265605-a62c0d4a-6cde-4dde-8cd1-8d3cf86e1621.png)
 After running the command "dotnet build /bl", the msbuild.binlog file will be created.The attachment has been uploaded, as follows:
 [msbuild.binlog.zip](https:/

[2022-01-20 06:12] Xyncgas opened #39645 "Better documentations about blazor dom events"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Yes it's a problem of documentations.
![image](https://user-images.githubusercontent.com/35312807/150283322-a25b9a07-3622-4bae-9f3b-5d2118565f2b.png)
I would like information about what is onabort what is onchange what is onfocusin etc

[2022-01-20 06:12] Xyncgas commented on #39645
in the pictured that's linked for example, it doesn't show what onabort is

[2022-01-20 06:21] davhdavh commented on #38720
I can confirm that it works properly if setting the Encoder before setting the context:

[code]

[2022-01-20 06:23] bryan-arn commented on #39482
@adityamandaleeka I have installed the 6.0.2 preview however when I try to build I am getting this:

CSC : warning CS8032: An instance of analyzer Microsoft.NET.Sdk.Razor.SourceGenerators.RazorSourceGenerator cannot be created from C:\Program Files\dotnet\sdk\6.0.200-preview.22069.5\Sdks\Microsoft.NET.Sdk.Razor\source-generators\Microsoft.NET.Sdk.Razor.SourceGenerators.dll : Could not load file or

[2022-01-20 07:05] pr-benchmarks[bot] opened #39646 "Perf regression: mvc"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| mvc [Fixed] | Json Mvc aspnet-citrine-lin | 01/18/2022 21:13:27 | 505,430 | 460,385 | -9.45 % (-47,756)  :thumbsdown:  | -29.03 σ | 1,644.85 | <details>    <summary>Changes</summary>     <table><th>Name

[2022-01-20 08:13] ponchautf opened #39648 ".net 6 hot reload is rebuilding too much projects after rude edit warning"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When updating a blazor component with "rude edit" that prevent hot reload to work, dotnet is rebuilding more project than needed.

We have a main project (blazor server web app) with 6 reference to .net libraries project.
If we update the web app, most of the time some linked projects are als

[2022-01-20 08:23] angularsen commented on #38842
@TanayParikh Yes, we use websockets.

[code]

Yes, binary messages are listed on the `_blazor` blocked request in Chrome dev tools while using the app.

If I select a 40 kB file, I see its binary message listed. I can then click upload and it succeeds.

![image](https://user-images.githubusercontent.com/787816/150299831-4e26b6fc-8d1c-4185-aead-386242f456ea.png)

If I select 80 kB file, I see 3 chu

[2022-01-20 09:02] spaasis commented on #39631
Hi,
`public record Person([property:MaxLength(50)] string FirstName,[property:MaxLength(50)]  string LastName);` is ignored
`public record Person([MaxLength(50)] string FirstName,[MaxLength(50)]  string LastName);` works
`public record Person([param: MaxLength(50)] string FirstName, [param: MaxLength(50)] string LastName);` works

So yeah, it seems that when the attribute targets the parameter rat

[2022-01-20 09:02] #39631 closed

[2022-01-20 09:33] javiercn commented on #39645
@Xyncgas what description do you get if you don't use `@`

[2022-01-20 09:43] javiercn commented on #39638
@roysurles this has always been the case. As @TanayParikh mentions scoped CSS files are optional and we don't add them to components/views by default, users need to manually add them and move them if along the Razor files if they change their location.

@danroth27 Maybe there's an editor feature that we need here to move dependent files along with the main files.

[2022-01-20 10:40] ylabade commented on #39612
@sebastienros thanks for your input.

With the last version of `Microsoft.IdentityModel.Protocols.OpenIdConnect` is clearly better even if the memory consumption is still a bit high (and the unmanaged memory is gradually increasing without decreasing).

Do you know why ASP.NET reference such an old version of `System.IdentityModel.*/Microsoft.IdentityModel.*` packages ?

[2022-01-20 11:46] javiercn commented on #39397
I added some info on the VSTS issue, but here are additional comments

[code]

[2022-01-20 12:26] unicomp21 commented on #39583
Lol, so many new layers, I get confused! 😄

[2022-01-20 12:32] jahnotto opened #39650 "Blazor WASM does not free memory - possibly a memory leak"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When allocating large arrays in Blazor wasm 6.0.1, the memory is never freed up when the reference is set to null. Consecutive allocations ends up with an OutOfMemoryException.

Either I'm doing something very wrong, or there is a memory leak.

### Expected Behavior

The GC should free the me

[2022-01-20 12:49] sergeyzwezdin opened #39651 "Is it possible to get full path of isolated JS/CSS assets for Blazor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

The [documentation](https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-6.0#javascript-isolation-in-javascript-modules) about JavaScript isolated modules says to c

[2022-01-20 13:27] guardrex commented on #39651
Side note that our current guidance on collocated JS with RCLs is at (2nd bullet at the end of the section) ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/?view=aspnetcore-6.0#load-a-script-from-an-external-javascript-file-js-collocated-with-a-component

I'll keep an 👁️ on this issue in case we need further updates there.

[2022-01-20 14:03] Xyncgas opened #39653 "Standalone (installable) BLAZOR WASM Golden Experience"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

We can publish blazor webassembly applications and put it on a server.
But...

1. Server cost money.
2. Server management cost developer's money & effort.
3. Server needs to handle people's request (10k/sec/cpu ?)
4. Server can corrupt

[2022-01-20 14:22] stephentoub commented on #39441
[StringSyntax(...)] has been added.

[2022-01-20 14:30] vivekgunnala-sl commented on #39586
Error Details

No authenticationScheme was specified, and there was no DefaultChallengeScheme found. The default schemes can be set using either AddAuthentication(string defaultScheme) or AddAuthentication(Action<AuthenticationOptions> configureOptions).

we don't want to specify default JWT scheme.

[2022-01-20 14:38] javiercn commented on #39653
@Xyncgas thanks for contacting us.

You are describing a Progressive Web App, we already have support for this via the standard mechanisms the web platforms offers to do so. You can create a standalone Blazor webassembly application and add support for PWA, that will make the app installable with no need to download files from the server.

We don't plan to create any custom experience around insta

[2022-01-20 15:16] HaoK opened #39654 "Rename BuildIisNativeProjects -> UpdateIISNativeAssets"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Cleanup from https://github.com/dotnet/aspnetcore/pull/22017#discussion_r432738208

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No response_

### .NET Version

_No response_

### Anything else?

_No response_

[2022-01-20 15:46] sergeyzwezdin commented on #39651
@javiercn okay, can we make it possible then? otherwise, it potentially can cause bugs related to resource loading.
At least, msbuild's publish step is doing it somehow, right?

[2022-01-20 15:52] HaoK commented on #39612
So the ask is just to bump our versions of IdentityModel in servicing?  That doesn't seem too scary I guess

[2022-01-20 15:53] HaoK commented on #39612
We should probably do it in 7 and let it bake a bit before bumping things in 6 if this is something we are interested in doing

[2022-01-20 15:53] javiercn commented on #39651
@sergeyzwezdin It's not clear to me what you are trying to achieve.

If you are building an app, your resources are essentially in the root, and if its a library they are in "_content/Library/...". You shouldn't be loading resources across app/library boundaries, and within your app/library there should be no ambiguity since you know if you are authoring a library or an app.

If you are concerned

[2022-01-20 15:56] sebastienros commented on #39612
There has been 10 releases with bug and security fixes though ... some of them have baked quite a bit already ;)

[2022-01-20 15:56] fingers10 commented on #39592
@javiercn I have updated the issue with needed details above.

[2022-01-20 15:59] HaoK commented on #39612
The issue is that some of the surface area leaks directly out of our auth providers, so if there are subtle changes those turn into breaking changes for AspNetCore apps, which is generally frowned on for servicing

[2022-01-20 16:00] sebastienros commented on #39612
Yes, no breaking changes. None of these were listed on the release page. I don't know if they follow semantic versioning, or even list the breaking changes explicitly.

[2022-01-20 16:00] #25296 closed

[2022-01-20 16:02] javiercn commented on #39592
@fingers10 I would suggest you check the response here:

![image](https://user-images.githubusercontent.com/6995051/150375327-fd622949-e17d-405d-b63f-d22297a6a8bf.png)

It seems that its coming from the service worker installed in the app, so I would check the service worker code to understand what's happening.

It can be that somehow the image isn't being correctly cached by the service worker or

[2022-01-20 16:15] sergeyzwezdin commented on #39651
@javiercn well, the problem I want to solve is to connect .NET code with isolated JS in a more straightforward manner.

While CSS isolation works out of the box in Blazor, for JS resources you have to have magic strings like `./_content/blahblahbla` to make it work. It is a very unobvious and bugs causing approach, as for me.

What we can do instead? We can register `IJSObjectReference` for every

[2022-01-20 16:18] BrennanConroy commented on #39482
Try https://aka.ms/dotnet/6.0.1xx/daily/dotnet-sdk-win-x64.exe

[2022-01-20 16:30] javiercn commented on #39651
@sergeyzwezdin thanks for the additional details.

Unfortunately you can't make the general claim that JS modules are going to be located in a specific path on the site. "_content/Library" is just a convention. If you intend to do this for yourself, it will work, as a generic helper it won't.

Given these constraints, the simplest way for you to do this, would be to add an assembly attribute to ea

[2022-01-20 16:42] Tratcher commented on #39612
@sebastienros IdentityModel doesn't have a good track record with breaking changes, we'd definitely want to test this in 7.0 first.

[2022-01-20 17:15] Tratcher commented on #39586
I still need the stack trace and some example code to see how you were calling into the authentication stack.

[2022-01-20 17:25] sergeyzwezdin commented on #39651
@javiercn thank you for the suggestion, but how custom attribute could help here? I didn't get the idea.

So, in other words, if I be able to get relative path of `.razor` file inside the project, I'll be able to calculate JS path, i.e.:
- `SampleSharedLib/Components/SampleSharedComponent/SampleSharedComponent.razor` - I need this part: `Components/SampleSharedComponent`

[2022-01-20 17:42] TanayParikh opened #39657 "SDK Blazor Hot Reload Test Failure `Run_WithHotReloadEnabled_ReadsLaunchSettings_WhenUsingProjectOption`"
Run_WithHotReloadEnabled_ReadsLaunchSettings_WhenUsingProjectOption

`System.Threading.Tasks.TaskCanceledException : A task was canceled.`

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=1562638&view=ms.vss-test-web.build-test-results-tab&runId=43985498&resultId=100184&paneView=debug

[2022-01-20 17:42] TanayParikh commented on #39657
There's a race condition in the test (logs being logged in a slightly different order occasionally than expected). I don't believe this is symptomatic of an underlying issue. I'm skipping the test for now.

Race condition between `Started` and `Environment: Development`.

[code]

[2022-01-20 17:43] javiercn commented on #39651
If you have a component MyComponent.razor there is going to be a type MyComponent, so in your generic type you do `typeof(T).Assembly.GetCustomAttribute<MyAttribute>().BasePath` at that point, when its instantiated with MyComponent you can retrieve that to get the attribute you stamped on the assembly with the base path

[2022-01-20 17:46] TanayParikh commented on #39657
@pranavkm any objection of just storing all the logged lines and searching history?

[2022-01-20 17:46] mkArtakMSFT commented on #39214
Thanks @vkeziv.
After closer review of this issue and your StackOverflow question we still believe that the custom elements solution we've suggested earlier should solve your problem. It's not clear why you're trying to avoid having multiple root elements? Note, that there won't be a second signalR connection created when added another root components.

[2022-01-20 17:51] #39648 closed

[2022-01-20 17:53] vkeziv commented on #39214
@mkArtakMSFT
Well I though it is not expected to have multiple root components, since external libraries are creating some extra markups when component is rendered (like multiple styles, some global providers for popups in html etc.), so I needed to create extra JS functions to clear that stuff after each component is rendered, so it can work properly.
Is there any documentation about what is diff

[2022-01-20 17:55] vivekgunnala-sl commented on #39586
found the fix. nuget package "System.IdentityModel.Tokens.Jwt" is missing. as one of the dependencies of package "Microsoft.AspNetCore.Authentication.JwtBearer" post version 6.x.x. working with latest version of both..

Thanks @Tratcher  for your time.

[2022-01-20 17:55] #39586 closed

[2022-01-20 17:55] mkArtakMSFT commented on #39282
Thanks for contacting us. This looks to be caused by a console resize while the command was running.
Can you confirm that?

[2022-01-20 18:05] #38153 closed

[2022-01-20 18:16] HaoK commented on #38537
See https://github.com/dotnet/aspnetcore/blob/main/docs/Helix.md where runhelix is already at the top

[2022-01-20 18:16] #38537 closed

[2022-01-20 18:22] HaoK commented on #27400
Note: this is 30 days clean again, maybe we should just add it to the retry list

[2022-01-20 18:23] pranavkm commented on #39657
Go for it.

[2022-01-20 18:27] BrennanConroy commented on #38153
Note: We added support for `Stream` and `PipeReader`.
`Span<byte>`, `byte[]`, and `ReadOnlySpan<byte>` were found to be unfriendly to use/implement in a clean and safe manner.

[2022-01-20 18:43] HaoK commented on #27371
Note: this test isn't running on helix so we have no way to track failure rate

[2022-01-20 18:48] BrennanConroy commented on #27371
We upload test results from non-helix tests to AzDo same as Helix so the test pass rate is tracked in the same location as Helix tests
![image](https://user-images.githubusercontent.com/7574801/150402728-0ccf2ca4-dc98-4b23-aa27-2df9403aa3ec.png)

[2022-01-20 19:00] HaoK commented on #27371
Ah okay, its just not grouped the same way so it is hard to find

[2022-01-20 19:06] pr-benchmarks[bot] opened #39660 "Perf improvement: https"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| https  | Json Https IIS InProc aspnet-citrine-win | 01/19/2022 09:16:16 | 609,583 | 621,614 | 2.09 % (12,718)  :thumbsup:  | 2.67 σ | 4,769.82 | <details>    <summary>Changes</summary>     <table><th>Na

[2022-01-20 19:32] mkArtakMSFT commented on #25623
@javiercn need to address the stability issue with this test. Let's target to do this in 7.0

[2022-01-20 19:33] mkArtakMSFT commented on #38535
@rafikiassumani-msft , @adityamandaleeka I've incorporated this into our planning and I'd like to close this unless you think there is more work here.

[2022-01-20 19:53] captainsafia commented on #38548
So, I took a stab at implementing this in the linked PR above and we had a lengthy discussion about how to implement these feature fully. Here's a summary of what was covered.

**Supporting interface implementations**
For this feature to work in meaningful scenarios, we'll wan to support scenarios where as user leverages a collection type directly in a model.

[code]

And where the user references

[2022-01-20 20:38] TanayParikh commented on #38842
Thanks @angularsen, that's some great data. Is this a flaky issue, or is it 100% reproducible within your current application? If you haven't already, can you please increase your log levels to Debug/Verbose to ensure we can capture the most data. Setting `DetailedErrors: true` (per the console log message in your screenshot) may also be helpful to capture the SignalR logs.

Thanks, this'll be opt

[2022-01-20 20:46] angularsen commented on #38842
It is 100% consistent in our app. Thanks for reopening.

[2022-01-20 21:01] captainsafia commented on #39529
Yep, I tracked down where the confusion was. https://github.com/dotnet/aspnetcore/pull/37367 added the option to the templates.

https://github.com/dotnet/aspnetcore/pull/38062 backported to release/6.0 _and_ added the translations.

[2022-01-20 21:28] Xyncgas commented on #39653
Thanks for answering my question, I have another one though, do you think I can let my users to install blazor-wasm through installer instead of pwa with MAUI (in my understanding, it doesn't involve the web but it looks like the web and it can use blazor syntax too with the experimental mobile-blazor-binding)

[2022-01-20 21:28] #39653 closed

[2022-01-20 21:33] Xyncgas commented on #39645
nothing
![image](https://user-images.githubusercontent.com/35312807/150425617-f370b2f3-5376-4e06-ad1e-bc6526007ccc.png)

[2022-01-20 21:51] rafikiassumani-msft commented on #38535
I am fine closing this. Thanks.

[2022-01-20 21:59] pranavkm commented on #38892
Thanks @shapeh your link gives me some clues. The runtimeconfig.dev.json contains pointers to the NuGet packages directory which is used as part of resolving compilation libraries. With the file missing, if the app is launched as a different user (e.g. IIS running under the System account), the app can no longer resolve the location of the package. Configuring the value seems like the right thing

[2022-01-20 22:00] #39635 closed

[2022-01-20 22:07] Liero commented on #38842
@TanayParikh : I confirm that the symptoms described by @angularsen the same as we experienced. In my original post, the stream is opened fo reading in button click event callback, however I was not able to reproduce it. just found the exception in logs.

I suspect that the key is the delay between Selecting the file and reading the stream

[2022-01-20 22:42] dougbu commented on #33411
@dotnet/aspdoi this or similar problems come up most times we change our VS requirements and it's not clear how best to inform our community. A pinned issue for (say) two weeks after we add a new component or stop supporting a VS version might work but I've heard comments about usability there. Ideas much appreciated.

[2022-01-20 22:44] Tratcher opened #39664 "Twitter OAuth2 support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

The current Twitter authentication implementation uses OAuth1a. Twitter now supports OAuth2 which is much simpler to work with and maintain. It almost works with the default OAuth base class, except that the clientid and secret need to

[2022-01-20 22:44] dougbu commented on #34048
/ping @ViktorHofer @ericstj I believe this issue can be closed as I haven't heard recent noise about it. Please confirm.

[2022-01-20 22:45] BrennanConroy commented on #33411
A curated error message would be great instead of some random vcxproj error that no one understands. Like if there was a way for us to see what you have available on the machine and compare it to what is required.

[2022-01-20 22:47] dougbu commented on #34127
@mmitche this must have been fixed (by you❔) ages ago and source-builds are working fine now. Any remaining work here❔ If not, plz close zee issue.

[2022-01-20 22:48] rpskelton2 commented on #39321
Modifying _Hosts.chtml and opting into auth worked for me.
https://stackoverflow.com/questions/60768399/blazor-using-azure-ad-authentication-allowing-anonymous-access

[2022-01-20 22:48] robmen commented on #39664
FYI, there are still parts of the Twitter API that are only available via the OAuth 1a authentication mechanism.

[2022-01-20 22:49] pranavkm commented on #37827
Looks like the build time has resolved since the issue was filed although it's been on the floor for a while now:

![image](https://user-images.githubusercontent.com/174281/150434452-9373a6e7-9683-4db3-905d-866e361a458b.png)

[2022-01-20 22:53] Kolky commented on #39626
@BrennanConroy I made a repo out of my zip: https://github.com/Kolky/signalr-bug

[2022-01-20 22:58] pranavkm commented on #34048
@dougbu should we remove the workaround: https://github.com/dotnet/aspnetcore/blob/main/eng/Workarounds.targets#L51-L57?

[2022-01-20 22:59] martincostello commented on #39664
If it's useful, I had a play at implementing this with aspnet-contrib the other week: https://github.com/martincostello/AspNet.Security.OAuth.Providers/tree/Twitter-OAuth2/src/AspNet.Security.OAuth.Twitter

I wasn't super happy with it as-is so I've parked it for now.

[2022-01-20 23:14] bencz opened #39666 "Disconnect event takes 10 minutes to trigger"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm developing an ASP.Net core service that uses Signalr, an android app connects to the signalr HUB.

When performing the test of disconnecting the cell phone from the internet network, while it is connected to the HUB, there is a delay of 10 minutes to trigger the disconnect event on the se

[2022-01-20 23:29] Tratcher commented on #39664
Thanks @martincostello!

How long was too long? Was there anything extra in your state? The minimal example above didn't run into that.

[2022-01-20 23:33] brunolins16 opened #39667 "Add support for implicit inference of `FromServices` for types that appear in DI"
### Current design

With the Minimal APIs, what the `RequestDelegateFactory` does is fall back to try check if the Parameter is a Service registered in the DI when:

1. No Metadata attributes set `and`
2. No special types (`HttpContext`, `HttpRequest`, `HttpResponse`, `ClaimsPrincipal`, `CancellationToken`, `IFormFileCollection` and `IFormFile`) `and`
3. Parameter does not have `BindAsync` method

[2022-01-20 23:37] martincostello commented on #39664
I'll re-run it tomorrow and inspect.

It's possible that there might have been extra stuff being picked up from cruft up in the local clone of the sample I have on my laptop being around for a long time testing lots of different providers.

I don't remember it seeming too extremely long, and I couldn't find any docs on Twitter's end that explicitly put a cap on it.

I vaguely remember way back I h

[2022-01-20 23:54] #34127 closed

[2022-01-20 23:56] MetaHex commented on #39321
@rpskelton2  I think this was the default case previously. I think MSFT now recommends (at least from their samples) auth to be set by default and allow anonymous on individual pages.

[2022-01-21 00:04] dougbu commented on #34048
Yes, as long as the underlying issue is gone. If not, we should just live with it and consider those lines a "fix".

[2022-01-21 00:09] rpskelton2 commented on #39321
@MetaHex , that's what I tried first but the AllowAnonymous attribute seemed to be ignored.  (Server Side Blazor)  Whenever I hit my razor page that contained the AllowAnonymous attribute it would redirect me to the Azure login.  If you know of a working sample please pass along!

[2022-01-21 00:18] BrennanConroy commented on #39626
Ok, so you're running the server and the client on the same machine and since you're using WPF you are running in a "single-threaded" environment. What this means is that when you stop the server via exiting the app, you run on the UI thread and block any asynchronous work also running on the UI thread from completing. In this case you run `Example.StopAsync()` inline and hang your app.

I don't k

[2022-01-21 00:41] brunolins16 commented on #39667
One aspect of this implementation, in comparison with Minimal, that we could consider as an additional enhancement is if the parameter is `Optional` we use the `GetService` operation instead of the `GetRequiredService` that is been used here:

https://github.com/dotnet/aspnetcore/blob/8bd8f58516c4954dce14944844d3a678d5b52789/src/Mvc/Mvc.Core/src/ModelBinding/Binders/ServicesModelBinder.cs#L26

[2022-01-21 00:42] rafikiassumani-msft commented on #4887
@plutext  I was not able to reproduce this issue with .NET6.  Below is the code:

1. CORS config

[code]

2. Controller

[code]

After using `fetch` with `application/json` header in the browser, I was able to get the 204 status code for the pre-flight request as shown in the below:

<img width="737" alt="image" src="https://user-images.githubusercontent.com/87031580/150444433-f0d1a70e-9f3b-4818-b

[2022-01-21 00:45] BrennanConroy commented on #39666
What version of the SignalR client are you using?

Are you running the server inside a debugger?

[2022-01-21 01:21] ericstj commented on #34048
When the version is the same as in the above we rely on conflict resolution to prefer the framework copy.  In the actual product we do this with the `PackageConflictPreferredPackages` property.  See https://github.com/dotnet/sdk/issues/19834#issuecomment-901363082

In your case you need to treat the transport package like it's the framework package (since you're constructing the framework).  I thi

[2022-01-21 01:36] dougbu commented on #34048
@ericstj anything wrong w/ us using the current workaround and closing this issue❔ Guess I'm asking about the upsides of your recommendation.

[2022-01-21 01:47] sergeyzwezdin commented on #39651
Could you please create simple example project to demonstrate the idea? What is `BasePath` of custom attribute?

[2022-01-21 01:53] HaoK opened #39669 "ClientCertificate expired causing test failures"
VerifyValidClientCertWithTrustedChainAuthenticates
VerifyValidClientCertWithAdditionalCertificatesAuthenticates

are failing because the test client cert: https://github.com/dotnet/aspnetcore/blob/c85baf8db0c72ae8e68643029d514b2e737c9fae/src/Shared/test/Certificates/validSignedClientCertificate.cer expired on 1/20/22

need to update the cert/extend the expiration and reenable these tests

[2022-01-21 02:13] ranouf opened #39671 ".net6, GetManifestResourceNames return empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi,

I'm migrating my .net 5 web app to .net 6

In program.cs, I configured swagger-ui with a custom html added as an embedded resource. Before the migration, it worked fine, but when I load the project now after the migration, GetManifestResourceStream return null. Just to be sure, I checked

[2022-01-21 03:46] captainsafia commented on #38548
Per a conversation with @rafikiassumani-msft, to be disciplined with our backlog I'm going to close this issue as there is (a) not a ton of community interaction (b) a viable workaround and (c) notes and a partial implementation for our future selves.

In the event that this issue crops up more seriously in the future, we can use it then.

[2022-01-21 03:46] #38548 closed

[2022-01-21 05:04] taylorchasewhite commented on #39606
I hit this as well, for what its worth.

[2022-01-21 05:12] elinor-fung commented on #8838
Sorry for the delayed response. Ah, yeah, the debug/release CRT...

The only way (at least that I know) is to make your debug builds stop using the debug CRT. This is what DNNE is doing by always compiling with `/MT` and not defining `_DEBUG`.

Filed https://github.com/dotnet/runtime/issues/64087 about this consideration.

I'm not sure how that all works / gets handled. If I create a C++ applicati

[2022-01-21 06:13] davidfowl commented on #39383
I just tried to implement this and the overloads conflicts because of how we use optional parameters... We might need to rename these or find a clever workaround.

[2022-01-21 06:29] davidfowl commented on #39383
Actually this is fine, it's just the API analyzer complaining.

[2022-01-21 06:38] John0King commented on #13021
Consider add an property to `HttpConnectionDispatcherOptions`  in

[code]

[2022-01-21 06:44] xinding1121 opened #39672 "[Component Vulnerability]please consider to upgrade node-fetch in @microsoft/signalr from @^2.x.x to @^3.1.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The @microsoft/signalr has node-fetch@^2.6.1 as a dependency that is vulnerable to the exposure of sensitive information to an unauthorized actor. And it seems that this bug is fixed in node-fetch's latest release v3.1.1:

[https://github.com/node-fetch/node-fetch/pull/1449](https://github.co

[2022-01-21 07:22] Xyncgas opened #39673 "[Question] :Is MAUI.NET blazor shipped with a browser like electron?"

[2022-01-21 09:49] bryan-arn commented on #39482
HI Brennan - have now tried that version but it has the same issue. Sounds like I may need to wait for the offical release of 6.0.2?

[2022-01-21 09:55] RyoukoKonpaku commented on #39622
There are other DI containers that aren't immutable that allows late registrations.
Did a quick experiment and the case is maybe possible without requesting changes from MEDI which as @javiercn stated would probably be hard due to reasons above.

For the quick experiment I used [DryIoc](https://github.com/dadhi/DryIoc) and it's adapter library `DryIoc.Microsoft.DependencyInjection` and replaced th

[2022-01-21 10:00] #39638 closed

[2022-01-21 10:05] javiercn commented on #39622
@RyoukoKonpaku the issue is not that you can do it with one container framework, is that the platform needs to remain framework agnostic and hence the MEDI needs to support the features you are asking for.

If there are containers out there that allow you to register services after the fact, then the solution is not for us to build something, but for people who want this functionality to put the p

[2022-01-21 10:10] javiercn commented on #39673
@Xyncgas thanks for contacting us.

Blazor Hybrid uses the platform browser of the operating system via the Webview control supplied on each platform. That means Edge on Windows, Chrome on Android and Safari on iOS/Mac.

[2022-01-21 10:12] javiercn commented on #39671
@ranouf thanks for contacting us.

//c @bradygaster for awareness

[2022-01-21 11:41] chucker opened #39674 "Blazor WASM hosted feature request: analyzer that detects missing server dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am adding packages (dependencies) to my Blazor WASM hosted project, and they work at design time, but not at runtime. This happens because I often forget that the same dependencies need to be added to the *server* project as well. Th

[2022-01-21 11:48] RyoukoKonpaku commented on #39622
@javiercn Completely understand the reasoning. The comment above was more on for @daniel-p-tech to see if there are solutions available with the current setup. Which seems there are, though it does mean using a different container other than MEDI for it.

[2022-01-21 13:03] vitek-karas commented on #38892
Starting with .NET 3.1 SDK is supposed to copy all dependencies into the build output (even on normal `dotnet build`, not just `dotnet publish` which was the behavior before .NET 3.1). Add to this that the `runtimeconfig.dev.json` file is only used by the host to resolve all files in the `.deps.json`. So for any assembly which is part of the app (and thus is referenced in `.deps.json`) the file sh

[2022-01-21 13:39] bencz commented on #39666
@BrennanConroy Good question hahah
6.0.1 ?
There is no explict nuget-package about SignalR on the project...
I'm using the last one that comes with ASP.Net core project

About the debugger
I read that when the debugger is attached, the disconnect event doesn't stop at the Break point, so I put a "Console.WriteLine" in the "OnDisconnectedAsync" so I know when it went through the event.
And I perfor

[2022-01-21 14:19] konak commented on #39309
Hi !
I have faced the same issue ...
I have just created a ReactJS project in Visual Studio for Mac.
Project is attached.

[ldk-demo.zip](https://github.com/dotnet/aspnetcore/files/7914287/ldk-demo.zip)

[2022-01-21 15:10] jdaufinEcoSi opened #39675 "Single-file and self-deployed application encounters "random" System.IO.FileNotFoundException exceptions when loading libraries"
Hi,

I have a recurrent and seemingly quite random runtime issue on local servers of my customers (>= Windows 10 || >= Windows Server 16) while running an ASP.NET Core server application (Kestrel) : they sometime encounter a "FileNotFound" exception on some of the libraries required by the application code.
Some general context information:
- the executable is a server operating mainly on the loca

[2022-01-21 15:13] martincostello commented on #39664
I checked the `state` parameter, and it had a length of 304 characters and unprotected it contained items for `.redirect`, `.xsrf` and `code_verifier`.

_However_, if I comment out my `BuildChallengeUrl()` and `HandleRemoteAuthenticateAsync()` overrides now, it works as expected and I don't get an HTTP 400.

I wonder if in the last two weeks Twitter have fixed something in their OAuth 2.0 service

[2022-01-21 15:21] konak commented on #39309
Found out that 403 error becomes after updating Mac OS to Monterey ... It has started using port number 5000 (default port of .net web applications) ... So Mac users should change port of application just after creating it.

[2022-01-21 15:47] martincostello commented on #39664
@Tratcher I've cleaned up my branch and removed the redundant code if you want to take a look: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/644

I've no strong feeling either way over us having a Twitter provider in aspnet-contrib, or you updating the Twitter provider here to use OAuth 2.0 as a breaking-change for .NET 7 instead.

[2022-01-21 15:59] HaoK commented on #27399
https://github.com/dotnet/aspnetcore/pull/39659

[2022-01-21 15:59] #27399 closed

[2022-01-21 15:59] HaoK commented on #27400
https://github.com/dotnet/aspnetcore/pull/39659

[2022-01-21 15:59] #27400 closed

[2022-01-21 16:14] BrennanConroy commented on #39666
There is no explicit package for the server side of SignalR. But there is for the client, so what version of the client are you using?

It might be useful to see the server logs at debug level, could you provide those? https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-6.0#server-side-logging

[2022-01-21 16:25] chucker commented on #39674
(Is my assumption even correct? Is it necessary/recommended, in a hosted project, to add all client project's references to the server project so that static assets are available at runtime? I'm pretty sure I was told that that's the recommended way.)

[2022-01-21 16:26] davidfowl commented on #39585
Maybe 3. `Action<IHeaderDictionary>`?

[code]

[2022-01-21 17:04] #39404 closed

[2022-01-21 17:39] Tratcher commented on #39612
The good news is that updating the dependency in AspNetCore servicing isn't required, customers can update the IdentityModel dependency locally.

[2022-01-21 18:02] pranavkm commented on #37827
Numbers are available again and appear stable.

[2022-01-21 18:02] #37827 closed

[2022-01-21 18:16] #39654 closed

[2022-01-21 18:18] ericstj commented on #34048
The current workaround always prefers the transport package, regardless of version.  You're unlikely to ever mismatch versions so that's probably OK.  The other thing about your current workaround is that it would require updates if/when we add generators to other package.  You could avoid that by saying to conflict resolution to always prefer the transport package.

[2022-01-21 19:00] #39214 closed

[2022-01-21 19:05] #39646 closed

[2022-01-21 19:32] Tratcher commented on #39664
@martincostello I talked to @blowdart. We'd encourage you to ship the new package from aspnet-contrib. That provides OAuth2 support on 6.0 and I assume you can ship it soon? There's no need to make people wait for 7.0.

@robmen do you have a reference for that?

I think we'll leave the OAuth1a implementation alone for now. We can obsolete it if Twitter ever discontinues it.

[2022-01-21 19:46] martincostello commented on #39664
Thanks @Tratcher - assuming Kévin over at aspnet-contrib is happy with it, then we could ship the OAuth 2.0 provider from our side this month, and then it'll also get .NET 7.0 support later this year.

There's also a Twitter document [here](https://developer.twitter.com/en/docs/twitter-api/migrate/twitter-api-endpoint-map) I was looking at earlier that compares the capabilities of what you can do

[2022-01-21 19:46] robmen commented on #39664
Yeah, this is the Twitter documentation showing differences between Twitter 2 API (using OAuth 2) and old API: https://developer.twitter.com/en/docs/twitter-api/migrate/twitter-api-endpoint-map

[2022-01-21 20:02] brunolins16 opened #39682 "Consider adding support for `TryParse` as a way to bind primitives"
### Current design

Types that do not contain a `Converter` from `string` available are considered `Complex Types`.

https://github.com/dotnet/aspnetcore/blob/85ac505b0a500acf5246fe48fe7e8eb400511c9d/src/Mvc/Mvc.Abstractions/src/ModelBinding/ModelMetadata.cs#L609

That means they will be bind using the `ComplexObjectModelBinder` when they are not special types that have your own binder (Eg. `Cance

[2022-01-21 20:06] #39226 closed

[2022-01-21 20:09] b1tzer0 commented on #39507
I am having this issue as well.  When the user logs in, it performs this action 3 times.  That can be expensive when making db calls.

[2022-01-21 20:11] tapizquent commented on #25857
Are there any workarounds for this? It seems that WebApplicationFactory always leave the process running.
We are working with a .NET 5 app.

[2022-01-21 20:53] BrennanConroy commented on #39669
Needs to be backported to 6.0 and probably 5.0 as well.

[2022-01-21 20:58] HaoK commented on #39669
/backport to release/6.0

[2022-01-21 20:58] HaoK commented on #39669
/backport to release/5.0

[2022-01-21 20:59] HaoK commented on #39669
Rip not a PR

[2022-01-21 21:05] adityamandaleeka commented on #39664
Triage: we should doc the existence of this.

[2022-01-21 21:09] adityamandaleeka commented on #39612
Sounds good. We should update the dependency for 7, and soon so it has enough bake time.

[2022-01-21 21:10] adityamandaleeka commented on #39612
Thanks for reporting this @ylabade

[2022-01-21 21:13] pranavkm commented on #38133
This is a dupe of https://github.com/dotnet/aspnetcore/issues/31365. We'll use the other issue to track further work.

[2022-01-21 21:13] #38133 closed

[2022-01-21 21:17] pranavkm commented on #38454
Thanks for the heads up. We think fixing the bug is hard, but we can log a warning that would indicate that we failed to inject the script.

[2022-01-21 21:21] pranavkm commented on #38512
Are you still seeing this issue with the latest public release of VS? If so, are you able to share a minimal app that reproduces the issue?

[2022-01-21 21:22] adityamandaleeka commented on #39626
Sounds like this isn't a SignalR issue, so I'll mark this as resolved.

[2022-01-21 21:25] DamianEdwards commented on #39677
Dupe of #32867

[2022-01-21 21:25] #39677 closed

[2022-01-21 21:28] adityamandaleeka commented on #39672
Triage: We should update this.

Note: you can also manually update this dependency in your own package.json file, and as long as there are no breaking changes it should work.

[2022-01-21 21:30] DamianEdwards commented on #38861
The new JS project system is a VS-only feature at this point of time.

[2022-01-21 21:30] #38861 closed

[2022-01-21 21:31] DamianEdwards commented on #38832
Duped to #38454.
We'll add logging to ensure finding these incompatibilities is easier.

[2022-01-21 21:31] #38832 closed

[2022-01-21 21:38] adityamandaleeka commented on #39675
This sounds really interesting, but since it's not ASP.NET Core specific, I'm going to redirect it to the runtime repo.

[2022-01-21 21:40] adityamandaleeka commented on #39578
cc @IEvangelist to get this into the docs

[2022-01-21 21:45] adityamandaleeka commented on #17963
Looks like this behavior is documented here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-6.0#default-builder-settings

[2022-01-21 21:49] dobrinsky opened #39688 "Authorization fails in Controllers after Login is successful"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I created a blank NET6 Angular project with Individual User Accounts in which I added the code from my old project which was in NET5.

Everything worked ok until a point where now I continuously get 401 Unauthorized for all APIs even though the LogIn is successful.

I did not changed anything

[2022-01-21 21:54] adityamandaleeka commented on #17963
We should add a clear explanation in our docs of how the config is loaded from various places, in what order, and which things override others.

[2022-01-21 22:14] HaoK commented on #39669
Luckily these tests aren't in 5.0, they were added in 6.0 https://github.com/dotnet/aspnetcore/commit/ae6e9c834c86348da34431790d082c91a822d27f#diff-0ca82662fe7488251aa5453edd2bb21a0844e259d1cae0f3b35c1e7520cec1a7

[2022-01-21 22:16] BrennanConroy commented on #39669
This looks like it's in 5.0 https://github.com/dotnet/aspnetcore/blob/release/5.0/src/Security/Authentication/test/CertificateTests.cs#L310

[2022-01-21 22:19] layomia commented on #38720
Given the impact of this behavior, we should definitely provide a mechanism for copying context metadata from one options instance to another. We could do it in the copy ctor, but we'd have to be careful about breaking changes as stated in https://github.com/dotnet/aspnetcore/issues/38720#issuecomment-985385931. I'll spend some time prototyping this fix and circle back here.

On a side note, @pran

[2022-01-21 22:20] rramoscabral opened #39689 ".NET 6.0.101 ASP.NET MVC globalization and localization is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

.NET 6.0.101 ASP.NET Core Web App (Model-View-Controller) globalization and localization is not working
The ResourcePath/option.ResourcesPath value defined in Microsoft.Extensions.Localization.LocalizationOption is always in blank.

I used the following template 'ASP.NET Core Web App (Model-V

[2022-01-21 22:25] HaoK commented on #39669
Doh, okay guess I have to manually do 5.0

[2022-01-21 22:31] vsfeedback opened #39691 "Razor: <partial>as direct child of @if does does compile"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Razor:-as-direct-child-of-if-does-does-/1634338)._

---
[severity:It bothers me. A fix would be nice]
##  in a .cshtml razor file ##

[code]

The self-closing tag behavior is inconsistent with conventions.  The compiler generates the RZ1006 AND RZ1025 error code indicating that self-clos

[2022-01-21 22:35] brunolins16 opened #39692 "Analyzer: Warn that IResult should not be returned from Controller Actions"
Today, with the new Microsoft.AspNetCore.Http.Results class is very easy to get confused and implement a Controller Action similar with that, or any other variation of the methods exposed by this class:

[code]

Also, is very easy to use an `Microsoft.AspNetCore.Http.IResult` custom implementation as a return of a controller action, like this:

[code]

[code]

Both examples will not throw exceptio

[2022-01-21 22:43] pranavkm opened #39693 "Using RazorSourceGenerator in VS 2019 results in watson errors"
We think it's because of the mismatched compiler version

[2022-01-21 22:49] adityamandaleeka commented on #39530
Sounds like this is a request for providing a way to author installers for services.

I'm not 100% sure where this request needs to be routed, but I'll start with the sdk repo.

[2022-01-21 23:04] norbythegeek commented on #39104
With Edge, if the browser is launched in InPrivate mode, hangs do not occur during authentication.

[2022-01-21 23:17] Xyncgas commented on #39673
Thanks

[2022-01-21 23:17] Xyncgas commented on #39673
What if they don't have edge installed on windows, chrom installed on android ?

[2022-01-21 23:30] brunolins16 commented on #33403
@pranavkm for this item "Inferring optionality from nullability information" there is recent PR that updated the DataAnnotationsProvider to use the NullabilityContext https://github.com/dotnet/aspnetcore/pull/39219.

Is that enough? If not, can you just give me a briefly explanation about this item?

[2022-01-21 23:57] pranavkm commented on #33403
@brunolins16 it's about supporting https://docs.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis?view=aspnetcore-6.0#optional-parameters. Essentially make `

[code]

the same as

[code]

[2022-01-22 00:07] pranavkm commented on #38720
@layomia here are the call sites :

* https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonInputFormatter.cs#L73
* https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.Core/src/Formatters/SystemTextJsonOutputFormatter.cs#L82
* https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.ViewFeatures/src/Rendering/SystemTextJsonHelper.cs#L25 // least inte

[2022-01-22 01:11] brunolins16 commented on #33403
@pranavkm I thought it was already supported. Let me test it. Thanks.

[2022-01-22 01:15] pranavkm commented on #39682
* I wouldn't make `ParameterBindingMethodCache` public.
* You could introduce a `TryParseModelBinder` instead that is registered to run after `SimpleTypeModelBinder`. Users can remove it if they're don't want it (thus avoiding the need for a option type).

[2022-01-22 01:53] daniel-p-tech commented on #39622
@RyoukoKonpaku thanks for the tip!

I'm not familiar with this library, are people successfully using it in real-world production applications? I published a bare-bones Blazor project plus DryIoc and the size of the two new Brotli compressed DLLs is about 240K which isn't exactly lightweight...

[2022-01-22 02:00] #38558 closed

[2022-01-22 04:00] #39651 closed

[2022-01-22 04:45] davidfowl commented on #39692
Or maybe we should support them?

[2022-01-22 05:30] RyoukoKonpaku commented on #39622
We've been using it on a number of production apps right now. This library has always been my go to DI container if I needed more features that MEDI doesn't provide and the maintainer is pretty active. Though those apps are server apps, not Blazor WASM apps.

Yeah this was one of my concerns when I thought up the quick experiment, the size increase by pulling another library might not be worth the

[2022-01-22 07:04] #39660 closed

[2022-01-22 09:00] Xyncgas opened #39697 "[Question] :How do I change Maui blazor's window's border color and its avatar/icons"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

awd

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No response_

### .NET Version

_No response_

### Anything else?

_No response_

[2022-01-22 09:38] solrevdev commented on #38861
@DamianEdwards

The suspicion that the hot reload PR being just the start of features being Visual Studio and Windows only seems to have come true.

That’s disappointing but me moaning about it won't help, but I wonder If I can create an open source way of doing this for us macOS/Linux/VS Code users?

Any advice on how I could make it work?

So, off the top of my head I am thinking…

- I convert t

[2022-01-22 09:54] martincostello commented on #39664
The aspnet-contrib Twitter OAuth 2.0 provider is now available from NuGet.org: https://www.nuget.org/packages/AspNet.Security.OAuth.Twitter/6.0.3

[2022-01-22 10:02] Youssef1313 opened #39698 "Analyzer: Change expression-bodied property to action method"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/975719/in-code-analyzer-add-a-suggestion-to-change-expres.html)._

I faced an unusual problem when re-creating an example from ASP.NET Core MVC book. I accidentally forgot to put parentheses in expression body controller methods

[code]

This silently turned methods `Index()`

[2022-01-22 10:58] quixoticaxis commented on #25857
There was a PR that forces the host to stop on disposing the factory.
Disposing the factory should do the trick.

[2022-01-22 11:10] pgrho opened #39699 "Using CascadingValue causes to set out-dated value to child component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using a bound component inside `<CascadingValue>`, calling parent's `StateHasChanged()` always triggers `CascadingValue`'s notification. And child component will be rendered without updating properties. Thus values of `@bind-` attribute will be rollbacked.

### Expected Behavior

- Suppr

[2022-01-22 12:19] sergeyzwezdin commented on #39651
Actually, the problem is not solved, not sure why it's closed 😕

[2022-01-22 14:17] rramoscabral commented on #39689
I've been creating new test web apps with just globalization and localization code variations with MVC and it works without any  problems.

I need to review the existing code. Possibly it is some namespace that is violating the naming rules.

I also consulted the following documentation https://docs.microsoft.com/en-us/aspnet/core/fundamentals/troubleshoot-aspnet-core-localization?view=aspnetcore-

[2022-01-22 14:17] #39689 closed

[2022-01-22 14:33] 3cdota opened #39701 "UseHttpLogging not working .NET 6 RC 1 #37577 and the answer You need to have information level logging for HttpLogging to show up, right now you're set at warning level"
You need to have information level logging for HttpLogging to show up, right now you're set at warning level
https://github.com/no-stack-dub-sack/dotnet-issue-repro/blob/ac42ab81e5e634024641404d56b3f45e385187f7/Repro/appsettings.Development.json#L5

_Originally posted by @BrennanConroy in https://github.com/dotnet/aspnetcore/issues/37577#issuecomment-944450808_

I run the  code in the repro ,and c

[2022-01-22 16:30] javiercn commented on #39674
@chucker thanks for contacting us.

It's not clear what might be going on, but it seems like an issue on the package you are mentioning. Dependencies from the client flow to the server provided you have a project reference from the server to the client project, so this is something specific in the package you are referencing.

[2022-01-22 18:12] bbhxwl opened #39706 "I want to set the permissions of an administrator and agent. I won't use it"
I read the official website and only set restrictions, but I don't know how to make him pass this restriction. How to distinguish between permission 1 and permission 2? I don't see how to authorize permissions on the official website

https://docs.microsoft.com/zh-cn/aspnet/core/security/authorization/roles?view=aspnetcore-6.0

[2022-01-22 19:04] pr-benchmarks[bot] opened #39707 "Perf regression: fortunes_ef"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes_ef [Fixed] | Fortunes EF aspnet-citrine-amd | 01/21/2022 10:03:35 | 319,590 | 310,672 | -2.38 % (-7,607)  :thumbsdown:  | -3.43 σ | 2,215.91 | <details>    <summary>Changes</summary>     <table

[2022-01-22 19:37] yecril71pl opened #39708 "Add RouteValuesAddress .ToString ()"
## Background and Motivation

The following message is unsatisfactory:

## Proposed API

[code]

## Usage Examples

[code]

## Alternative Designs

Given the address is generic, It seems easier to define `RouteValuesAddress .ToString ()` than to modify `Log.EndpointsNotFound(_logger, address)` to display something useful.

## Risks

Defining this API is a breaking change.  I do not think it will b

[2022-01-22 20:58] davidfowl commented on #39383
OK having implemented, this I think we need to support an overload of the callbacks that support range processing:

[code]

[2022-01-22 22:22] AnderssonPeter commented on #2458
I have created a nuget https://github.com/AnderssonPeter/CompressedStaticFiles that solves both the gzip and brotli and also alternative image files. Its based on neyromant's middelware!

[2022-01-23 00:43] davidfowl opened #39711 "Support returning Stream and PipeReader directly from route handler methods"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Today we support several built in types as result types (along with async versions), `string`, `IResult`, any other object (JSON). The idea is to extend support for `Stream` and `PipeReader` (along with the async versions). This provid

[2022-01-23 05:09] voroninp commented on #38108
Can we reopen it? I got no response so far.

[2022-01-23 05:31] davidfowl commented on #38108
The [default API description provider](https://github.com/dotnet/aspnetcore/blob/c2bcc3ff65034045bdaabe75c6a9edefb6ddacb9/src/Mvc/Mvc.ApiExplorer/src/DefaultApiDescriptionProvider.cs) [understands the ActionResult<T> convention](https://github.com/dotnet/aspnetcore/blob/c2bcc3ff65034045bdaabe75c6a9edefb6ddacb9/src/Mvc/Mvc.ApiExplorer/src/ApiResponseTypeProvider.cs#L296-L298). You can add providers

[2022-01-23 05:59] davidfowl commented on #38153
3 ideas that could help us bring back a buffered body solution:
- A representation of a lifetime of the buffer (maybe an IMemoryOwner<byte>) or something reference counted (😨)
- A default body max size and an attribute to set the max body size
- Metadata you can apply to the endpoint to limit the size of the buffered body

[2022-01-23 06:20] voroninp commented on #38108
@davidfowl Awesome, thanks.

[2022-01-23 06:26] voroninp commented on #38108
@davidfowl Can I also change the shape of [returned BadRequest](https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-6.0#default-badrequest-response) when validation fails in case of applied `[ApiController]` ?

[2022-01-23 06:29] voroninp commented on #38108
The idea is that for statically typed clients (Blazor + Refit) it's very convenient to always have same response shape irrespective of status code.

[2022-01-23 07:00] #39622 closed

[2022-01-23 07:04] #39707 closed

[2022-01-23 07:04] pr-benchmarks[bot] opened #39713 "Perf regression: fortunes"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| fortunes [Fixed] | Fortunes aspnet-citrine-win | 01/21/2022 21:49:14 | 271,372 | 267,595 | -2.94 % (-7,971)  :thumbsdown:  | -2.48 σ | 3,212.24 | <details>    <summary>Changes</summary>     <table><th>N

[2022-01-23 09:58] DavidErben commented on #5280
Hey David,

we are using SignalR to manage a network of about 1500 IoT nodes (Raspberry Pis). We are invoking methods on the clients to read logs or configuration files, upload data or trigger commands. Right now we use an asynchronous approach so that we create a task object and store it in a database and then send it to the client. The client executes it and sends the response to an API endpoint

[2022-01-23 11:03] javiercn commented on #25623
@mkArtakMSFT this test is not flaky, the issue is from 2 years ago. I'm closing this as there's no action to be taken here

[2022-01-23 11:03] #25623 closed

[2022-01-23 12:57] malovicg commented on #39606
Issue can be manifested easily in two steps (VS 2022, .NET 6):
1. Create blazor wasm hosted project with individual accounts.
2. In Server project -> Add -> New Scaffolded Item -> Identity -> Add -> Overwrite All files => Select DbContext -> Add.

Try to rebuild -> Conflicting assets error.

[2022-01-23 14:04] ByronAP commented on #5280
I use signalr to maintain proxy connections and much like @DavidErben I too could eliminate a lot of code required to direct responses.

Client connects to the master node and says I want this address rendered this way the task is completed results put into response db queue then sent back to the client. It's not bad but a lot of code could be eliminated if it was as simple as a client invocation.

[2022-01-23 16:04] ChaosEngine opened #39715 "HotReload is not working in ASP.NET Core in VS2022 or dotnet watch run when ServiceWorkers are installed/running"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When created brand new ASP.NET Core 6 project and added [ServiceWorker ](https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API) JavaScript code (for caching, offline handling etc.) HotReload functionally is not loading.
IMVHO it is related to the fact that key messing ingredient

[2022-01-23 16:59] davidfowl commented on #39383
@pranavkm brought up the fact that we might want a custom delegate type so we can document the arguments of the range processing overloads. The downside is that we need 2 types (one for pipelines and one for streams): Here's a strawman:

[code]

I'm not yet convinced...

[2022-01-23 17:04] SQL-MisterMagoo commented on #25296
@TanayParikh I had a chance to update to .NET 6 and re-test and I am still seeing the same behaviour.

However, @csharpfritz just explained it: "because Blazor WebAssembly is a UI framework, I would expect both CurrentCulture and CurrentUICulture to be the same".

So, I can accept that explanation and will open an issue on the Blazor WebAssembly globalization and localization docs to clarify they

[2022-01-23 17:46] capnmidnight commented on #39672
Isn't this issue a little more urgent than waiting for the release of a preview of the whole ASP.NET Core framework that most people won't use specifically because it's a preview? Also, isn't this numbering meant to coincide with releases of .NET Core? Doesn't that mean that 7, being an odd number, won't be an LTS release? Being that this is a security vulnerability, shouldn't it go as a patch of

[2022-01-23 17:47] ChaosEngine commented on #39715
I think I've found root cause: https://github.com/dotnet/sdk/blob/14b117b7088653b694e16ac2071fcbf634a2a9ab/src/BuiltInTools/BrowserRefresh/BrowserRefreshMiddleware.cs#L71
Service Worker served requests have `sec-fetch-dest: empty` while "normal-requests" are `sec-fetch-dest: document`.

[2022-01-23 17:49] omuleanu opened #39717 "EditContext.Validate() always true when using it without EditForm component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm creating the editContext manually and passing it as a cascade value, but Validate always returns true, and when I change any editor it always gets the green border ("modified valid" css class), even when empty and the property has `[Required]` attribute.
I've isolated the problem to this

[2022-01-23 19:00] #39674 closed

[2022-01-23 19:04] #39713 closed

[2022-01-23 21:49] JulesImmerzeel opened #39765 "Dotnet watch ability to set port for browser refresh websocket connection"
### Is your feature request related to a problem? Please describe.
I am trying to use docker when working with dotnet. Currently when I use dotnet watch a websocket connection is created for browser refresh, but the port is randomly assigned. Because of this I can't set the port in my dockerfile and thus can't use auto refresh in browser.
### Describe the solution you'd like
A way to set the ports

[2022-01-23 23:03] KonnectSalon commented on #32867
Is there any workaround for this.
The Edit and Continue in vs2017 works 100% fine and then we release vs2022 with a 5 hour video telling us how Hot Reload (Edit and Continue) will save the day but it really just makes everything I do now less productive. I cannot even make a small HTML change in a cshtml file without waiting 5 minutes or having to stop and reload. And on that matter only being abl

[2022-01-24 03:49] Andy-Win opened #39731 "With .NET 7.0 SDK, I cannot create .NET 6.0 web project, the target net6.0 can't be found."
Repro steps:
1. Install latest main build VS from [main-32123.28](https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=5660393&view=ms.vss-build-web.run-extensions-tab) (Run preinstall command first)
2. Download .NET 7 SDK(7.0.100-alpha.1.22071.3) from main branch of https://github.com/dotnet/installer
3. Open VS, apply feed: https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nug

[2022-01-24 05:11] davidfowl commented on #36649
Seems like this might be the only type we don't support OOTB that MVC does (with built in TypeConverters). That's based on this list here https://docs.microsoft.com/en-us/aspnet/core/mvc/models/model-binding?view=aspnetcore-6.0#simple-types without consideration for extensibility via type converters.

Also for the implementation, the type converter does this https://github.com/dotnet/runtime/blob/

[2022-01-24 08:46] Alerinos opened #39719 "Support for a standard router in the new one or extension of the current one with additional parameters."
## Summary

I created my router to control subpages, it works only as I set it up. I need to add support for a standard router. The main assumption:
Before giving the route, it wants to search the database and then display the correct condition, if there is no record in the database, the standard router is started.

## Motivation and goals

This solves seo problems, creates a nice link. Example:
d

[2022-01-24 08:59] lucianparvu commented on #32867
I have submitted a VS Feedback with VS record: https://developercommunity2.visualstudio.com/t/Blazor-Net-Core-6-Slow-for-big-Projects/1645384?entry=problem&ref=native&refTime=1643014712342&refUserId=bc8b0145-3228-6f54-b025-ab2ae9ec254a

[2022-01-24 10:55] #18757 closed

[2022-01-24 11:26] indcoder commented on #38413
Same here.  The breakpoint does not get hit on VS Code [Insider] but does on VS 2022 Ent Preview

https://stackoverflow.com/questions/70815820/debugging-blazor-wasm-in-vs-code-fails-because-of-unbound-breakpoint

[2022-01-24 11:39] Mike-E-angelo commented on #32867
In my case, Hot Reload still does not work for my solution, using 17.1 Preview 3.  I will make an edit and after many many minutes have passed, no edits are observed.

Additionally, when attempting to exit debugging mode, I am met with this dialog:
https://developercommunity.visualstudio.com/t/Unable-to-Stop-Debugging-Code-0x80004005/1580495

Additionally, attempting to close the IDE directly resu

[2022-01-24 12:03] javiercn commented on #39397
Closing as the behavior is by design as mentioned in the VSTS issue.

Rolling the runtime forward across major versions of the framework its not expected to work.

[2022-01-24 12:03] #39397 closed

[2022-01-24 12:40] javiercn commented on #25588
I think this is fixed in 6.0.

@MariovanZeist can you check and if not, provide a minimal repro project? I did create the same components you did and things seem to be in order

Here is my Index.razor

[code]

[code]

[code]

[code]

[2022-01-24 13:06] rjgotten commented on #38832
@DamianEdwards
So, let me get this straight: you're marking this as a dupe of an issue that was pushed out to the planning phase for .NET 7, for consideration/evaluation?

You're marking what is clearly a hideous bug in .NET 6 that corrupts response bodies; for which the only simple workaround is to disable and remove feature functionality from Visual Studio 2022, including features that worked fi

[2022-01-24 13:12] rf-0 commented on #25058
The height limitation (ItemSize), unfortunately, is quite a big limitation as mentioned above and feels more like a workaround solution.

This is a much needed feature for one of the most important components for the current and future web. Looking forward for this to be implemented in the future. Nice work so far to all the Blazor team.

[2022-01-24 13:28] hakenr opened #39723 "Blazor Virtualize - Calls ItemsProvider with request.Count = 0 when not visible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Let's have a page with Virtualize component.
If you minimize/switch browser window during initial page load (there might be explicit `RefreshDataAsync()` call), Virtualize calls the `ItemsProvider` with `ItemsProviderRequest.Count` set to `0`.

### Expected Behavior

1. The `ItemsProvider` sh

[2022-01-24 13:40] rjgotten commented on #32767
The middleware that injects the script tags to load the hot reload instrumentation performs a naive string find and replace/insert.
If the response compression middleware produces a result which for whatever reason contains the token it is looking for (which iirc is a basic closing `</body>` tag) verbatim, which _CAN_ easily 'randomly' happen considering it's just a sequence of bytes that is being

[2022-01-24 13:54] javiercn commented on #38479
The generated code seems to be incorrect and incorrectly adds a comma, before the class constraint.
[code]

[2022-01-24 14:07] tndata opened #39725 "Information in the JwtBearer comments is not up-to-date"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In this class:

https://github.com/dotnet/aspnetcore/blob/main/src/Security/Authentication/JwtBearer/src/JwtBearerOptions.cs

The default values that the comments refer to has changed to 12 hours and 5 minutes respectively.

[code]

Perhaps worth updating?

### Expected Behavior

_No response

[2022-01-24 14:19] tndata commented on #39725
Also, is 5 minutes RefreshInterval  not quite a long time? especially at startup if the Identity provider is not responding when the API startsup? Then the API will be down for 5 minutes?

[2022-01-24 14:22] javiercn commented on #38479
Seems that this happens when we construct the constraint

![image](https://user-images.githubusercontent.com/6995051/150800320-b1d2d4ff-041e-479e-ad3b-5ed83d1c330c.png)

[2022-01-24 14:24] pranavkm commented on #32867
@KonnectSalon I'm sorry you're having a bad experience with this. There's an option to [disable hot reload](https://developercommunity.visualstudio.com/t/How-to-disable-Hot-Reload-for-ASPNET-Co/1506697#T-N1560686) and keep using EnC until a fix is made available.

@Mike-E-angelo using the VS feedback tool would be the best way to go since your issue sounds specific to the VS debugger.

While I app

[2022-01-24 14:31] markusrt commented on #33312
@crbrz Thanks for the proposed workaround. It fixed the issue on my release docker build. Your answer sounded also like you know a potential root cause.

@mkArtakMSFT is this still planned in for any future sprint?

[2022-01-24 14:59] pinkplus opened #39726 "Blazor server Safari fullscreen issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm making a Blazor server app. I'm adding an event handler to enable fullscreen mode, by creating a JS function and calling it via JS interop. It works on Chrome, but it doesn't seem to work on Safari desktop.

I've made a minimal repro project. The JS functions are defined [here](https://gi

[2022-01-24 16:08] captainsafia commented on #39226
The API was approved with slight modifications including:

- Changed `ConfigureHttpJsonOptions` to `ConfigureRouteHandlerJsonOptions`. Will follow-up on this naming to see if it need to be re-evaluated based on user feedback.
- Added API under `Microsoft.Extensions.DependencyInjection` namespace

[2022-01-24 16:18] davidfowl commented on #32516
@halter73

This is where this typically falls of the rails. There are *A LOT* of collection types including custom types that implement collection interfaces. It's possible we can do something like pattern match a `.Add` method similar to what the [ConfigurationBinder](https://github.com/dotnet/runtime/blob/09ff1acdad2e7789908b5db9bb89896144c13042/src/libraries/Microsoft.Extensions.Configuration.B

[2022-01-24 16:28] MariovanZeist commented on #25588
@javiercn
Sorry for opening it again,
I am getting an error when I try it.
Repo: https://github.com/MariovanZeist/BlazorConstraint

It cannot find ``IMyInterface``, I am wondering if it has to do with the generated namespace. ``__Blazor.BlazorConstraint.Pages.Index``, (And the lack of referring to ``IMyInterface`` using the global definition ``global::BlazorConstraint.IMyInterface``

Below you fin

[2022-01-24 16:46] javiercn commented on #25588
@MariovanZeist No problem, I was not able to repro and that makes it hard/impossible for me to determine what's goin on.

I do see now this issue, and I think I'm reproing it (found the same issue by chance authoring another test).

I believe the issue here is that we don't add the usings inside the type inference namespace and because of that, it's not able to find the types.

[2022-01-24 16:59] MariovanZeist commented on #25588
It's either adding usings to the namespace or refering to objects using their global namespace notation.
Although adding the global namespace notation seems more consistent with the rest of the generated file.

[2022-01-24 17:14] SteveSandersonMS commented on #39723
Thanks for letting us know. As it stands, this is consistent with the intended design for `Virtualize`. Since you're getting the value zero, your code can easily no-op the process and not incur any extra costs.

However, if we continue to get more feedback from the community that this is causing problems, we'll definitely consider changing the design in the future. Hope that's OK!

[2022-01-24 17:14] #39723 closed

[2022-01-24 17:14] BrennanConroy opened #39727 "Publish test results for Blazor JS tests"
Today the Blazor JS tests don't publish test results to a location the build knows about and so any failures aren't tracked and most people just re-run the build to "fix" the issue.
Example:
https://dev.azure.com/dnceng/public/_build/results?buildId=1567128&view=logs&j=6c33d704-163a-5170-38fa-caa7bc99f17c&s=6884a131-87da-5381-61f3-d7acc3b91d76&t=4a2ac175-72f0-54eb-c8b6-eb1e5d86c7d5&l=1893
'Default

[2022-01-24 17:17] SteveSandersonMS commented on #39719
The `Router` doesn't expose its routing table, as this isn't an API we've had reasons to make public. You could use reflection to find classes with `RouteAttribute` if you need.

I'm not sure if it would work for you just to render a standard `Router` from your custom router component. Alternatively you could make your custom router component inherit from `Router` then call `base.SetParametersAsyn

[2022-01-24 17:20] MariovanZeist commented on #25588
@javiercn There is another (tightly) related issue
Checking the generated source file (although it doesn't compile I can still see the problem)
Is that the following constraint is supported:
[code]

But the following constraint is not: (a.k.a. Generic Constraints)
[code]

The generated sourcecode in both examples are
[code]

Should I create a separate issue for this?

[2022-01-24 17:24] martincostello commented on #4892
I have a demo app available here that uses `WebApplicationFactory<T>` to implement UI tests with real browsers pointed at a real HTTP server running on a port, if anyone who's commented on this issue would find it useful: https://github.com/martincostello/dotnet-minimal-api-integration-testing#readme

[2022-01-24 17:24] SteveSandersonMS commented on #39699
Thanks for contacting us!

The example you've given contains a common issue that causes this bug. We wrote about it in the docs at https://docs.microsoft.com/en-us/aspnet/core/blazor/components/?view=aspnetcore-6.0#overwritten-parameters.

In short, components shouldn't mutate their own parameter properties like this because it can lead to state being lost when parent components re-render. There's

[2022-01-24 17:24] #39699 closed

[2022-01-24 17:26] javiercn commented on #25588
@MariovanZeist thanks for pointing that out.

I don't think we need an extra issue for that, I'll tackle it as part of the work we are currently doing

[2022-01-24 17:27] #39512 closed

[2022-01-24 17:41] brunolins16 commented on #39692
@davidfowl In my opinion, it is very confusing already and will become even more when we start look into https://github.com/dotnet/aspnetcore/issues/37502. However, this is just my initial thoughts related to #33403 and maybe we support them might be a better option.

[2022-01-24 17:43] brunolins16 commented on #39682
I have the same opinion, but I prefer to capture the possibility here for discussion if we should rewrite or reuse. I saw that was decided rewrite most of the code for minimal and probably the same will happen here.

[2022-01-24 17:50] pranavkm opened #39729 "[6.0.x] Port fix for https://github.com/dotnet/aspnetcore/issues/39526 to .NET 6"
The .NET 6 SDK introduced a breaking change to existing 5.0 and 3.1 apps. The fix is in the SDK and we should consider porting it to 6.0.3xx or possibly to 6.0.2xx as a patch candidate.

[2022-01-24 17:53] brunolins16 commented on #39682
I think introduce the `TryParseModelBinder` is a good idea, and probably the user will not need to remove it most of the time. However, the point to use the option is to allow/or not the new behavior when setting the `IsComplexType` property. that affects how the parameter is inferred.

An alternative option is creating a new internal property to the `ModelMetadata`, maybe `HasTryParse`, that will

[2022-01-24 18:08] gonzo-coder opened #39730 "Failed assert for m_disconnect_cts->reset() in connection_impl::start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Failed assert for `m_disconnect_cts->reset()` in `connection_impl::start`:
[code]

This happened then `hub_connection `disconnects on initial transport failure, for example then server is unavailable, and after that app calls start again, in my case this is a reconnect scenario. See code abov

[2022-01-24 18:11] marcpopMSFT commented on #39731
From Nicole, this is only a web template issue so routing to aspnet
_For Andy’s [New]#13105, it only occurs on web projects, and creating a .NET 6.0 console/classlib/wpf/winforms project can succeed_

[2022-01-24 18:32] javiercn commented on #25588
@Pilchie good point. I updated it

[2022-01-24 18:35] DamianEdwards commented on #38861
The new JS project system is a Visual Studio feature, built by the VS team, and I'm afraid I'm not personally familiar with it. @timheuer @sayedihashimi @SteveSandersonMS @javiercn do we have any pointers for working with JS in a project-centric fashion for ASP.NET Core devs that is cross-plat friendly?

[2022-01-24 18:50] mkArtakMSFT commented on #39731
Also tagging @joeloff in case you have thoughts too

[2022-01-24 19:03] pranavkm commented on #39382
API review:

- [Obsolete("This API is obsolete and will be removed in a future version")]
- + [Obsolete("This API is obsolete and will be removed in a future version. Consider using the overload that accepts an IServiceProvider.")]

[2022-01-24 19:04] timheuer commented on #38861
@solrevdev your feedback is totally valid - this is an area (the new JS project system) that we're looking to improve integration with .NET projects. Simply put, we're not there yet to match the expectation you have. The pointers we have today that is x-plat friendly model the existing SPA templates (which emulate similarly what you're suggesting in a single csproj).

[2022-01-24 19:07] dougbu commented on #39731
@wtgodbe wasn't there an issue in earlier 7.0 SDKs relating to `net6.0` templates❔

[2022-01-24 19:11] pranavkm commented on #39454
We could consider making only one of the overloads (the `string?` one) and make it nullable. If the compiler supports using nullablility as part of overload resolution, users could get away with writing `Created(null, "My-cool-value")` without having to cast. Outside of that API approved.

[2022-01-24 19:18] wtgodbe commented on #39731
There was an issue a couple weeks ago with `net7.0` templates in 7.0 SDKs, before the templates were added, but I don't remember 7.0 SDKs having problems with `net6.0`, that surprises me. I can try to repro after lunch

[2022-01-24 19:26] #39593 closed

[2022-01-24 19:26] sebastienros commented on #39593
Acknowledged

[2022-01-24 19:44] pranavkm commented on #16686
API review:

API approved. We spoke about this and think this should be an opt-out feature. We discussed the name and think `DisableImplicitFromServiceParameters` (using implicit over inferred) is better.

[code]

[2022-01-24 19:46] BrennanConroy commented on #16686
Was the breaking change nature discussed? We probably need to make an announcement if we make it opt-out.

[2022-01-24 19:46] MariovanZeist opened #39734 "Automatic type inference won't work when an EventCallBack<T> is added"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Repo to demonstrate the Issue: https://github.com/MariovanZeist/BlazorInferenceCallback

Although my use case is for Table and Grid like components I will demonstrate the feature using a simpler component:

Assume this component: (A ge

[2022-01-24 19:48] MariovanZeist commented on #39734
@javiercn I had another issue with Type inference, but as it was not related to constraints I created a separate Issue.

[2022-01-24 19:59] adityamandaleeka commented on #39701
Can you share more about how you're running the code?

[2022-01-24 20:11] IEvangelist commented on #39578
Hi @adityamandaleeka - captured here: https://github.com/dotnet/docs/issues/27945

[2022-01-24 20:16] MariovanZeist commented on #39734
Oops I have been sloppy, I found a duplicate issue, https://github.com/dotnet/aspnetcore/issues/37569
Although this issue might have more information. Sorry for the inconvenience.

[2022-01-24 20:29] DamianEdwards commented on #32767
@rjgotten while I appreciate you're frustrated, I'd ask that you keep your interactions here respectful and inline with our [code of conduct](https://dotnetfoundation.org/about/code-of-conduct).

In this case we could consider updating the script injection middleware to disable itself in the case that a compression encoding is observed in the response headers, although that might depend on middlew

[2022-01-24 20:31] DamianEdwards commented on #38832
Please see my comment in https://github.com/dotnet/aspnetcore/issues/32767#issuecomment-1020519246

One can disable Hot Reload in the launch/debug profile of the project so that Edit and Continue keeps working but the browser refresh script is not injected.

[2022-01-24 20:38] johnkwaters opened #39736 "Can't get SignalR to work behind AWS ALB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I can't get SignalR to work using Amazon's Application Load Balancer (ALB) - or ELB for that matter. It falls back to server side events, which I don't want to use. Works fine when there is no LB.
The app is ASP.NET using SignalR 2.4.3 on the angular client and back end. There are two instanc

[2022-01-24 20:41] omuleanu commented on #39717
Thank You
`EditContext.AddDataAnnotationsValidation()` made it work

[2022-01-24 21:11] adityamandaleeka commented on #39549
Should be fixed now, PTAL

[2022-01-24 21:13] #39549 closed

[2022-01-24 21:13] adityamandaleeka commented on #39482
Closing for now, please reopen if you still see this in 6.0.2.

[2022-01-24 21:13] #39482 closed

[2022-01-24 21:23] adityamandaleeka commented on #39725
@Tratcher Can you please take a look? Perhaps we can link to the type rather than hardcoding the default value in these comments?

[2022-01-24 22:00] #39673 closed

[2022-01-24 22:48] dustinlacewell commented on #39443
This feature is probably misnamed because it seems to happen if you pass *anything* after `run`, such as `--`

[2022-01-24 22:53] dustinlacewell opened #39739 "Can't use hotReloadProfile with additional arguments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm running the command
[code]

And I see:

[code]

### Expected Behavior

HotReload works.

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No response_

### .NET Version

6.0.100

### Anything else?

.NET SDK (reflecting any global.json):
 Version:   6.0.100
 Commit:    9e8

[2022-01-24 22:57] mkArtakMSFT commented on #39731
@wtgodbe do you have any updates here?

[2022-01-24 22:57] pranavkm commented on #39739
Thanks for the issue report. This is a dupe of https://github.com/dotnet/aspnetcore/issues/31365. We'll use the other issue to track further work here.

[2022-01-24 22:57] #39739 closed

[2022-01-24 23:06] johnkwaters commented on #39736
Update - we tried with and without sticky sessions, no luck. Then we switched the AWS target group form HTTP/2 to HTTP/1 and  now WSS connects just fine. Is there an issue with HTTP/2 and the WSS connection upgrade flow? (works now without sticky as well!)

[2022-01-24 23:13] wtgodbe commented on #39731
I've confirmed that it repros on the SDK mentioned, but not on an older SDK from October, so something changed recently to introduce this. I'm still investigating

[2022-01-24 23:29] captainsafia commented on #34545
I had originally categorized this under the OpenAPI work in #34514. Since this topic isn't strictly related to OpenAPI + auth, I'm removing it from that epic.

Note: we have another issue that more specifically tracks OpenAPI + auth.

[2022-01-24 23:37] wtgodbe commented on #39731
I believe this is related to https://github.com/dotnet/installer/pull/12946, the error doesn't repro on SDKs before we added the `net7.0` templates. @dsplaisted do you know where in dotnet/sdk the error described is getting triggered?

[2022-01-24 23:40] wtgodbe commented on #39731
Also adding @vlada-shubina for the above question

[2022-01-25 00:06] pinkplus commented on #39726
@javiercn Yes, it works on a static HTML page. In the repro repo I've included a button using pure javascript as well. You can see it works well with pure javascript.

[2022-01-25 00:28] aryehsilver opened #39740 "Blazor server renders twice resulting in static HTML animation showing twice"
All over the web there have been discussions about how Blazor server hits the `OnInitialized` method twice, once in prerendering and again after the connection has been established in the browser.
All the above address data and how to preserve the state after prerendering.

I am using .Net 6 and have a pure static HTML razor component that has an animation done in CSS. The animation occurs twice.

[2022-01-25 00:32] aryehsilver commented on #39740
The links seem to have disappeared and I can no longer edit the post.

I have created a reproducible solution which shows the effect [https://github.com/aryehsilver/BlazorDoubleRenderTest](https://github.com/aryehsilver/BlazorDoubleRenderTest).

I also have published live where you can see it in action (using a slow connection) [https://doublerender.alldevstaging.co.uk/](https://doublerender.allde

[2022-01-25 00:32] davidfowl commented on #39736
None of the HTTP/2 implementations support websockets at the moment. It's a pretty new feature in most browsers.

[2022-01-25 00:32] BrennanConroy commented on #39672
We will be updating main to explicitly target ^2.6.7 of node-fetch as the fix was made there and in the 3.x train.

For the patch branches we are not making any changes as we have the node-fetch dependency marked as `^2.6.1` which means you automatically get the latest patch when installing the SignalR package so you will get the secure version of the node-fetch package.

[2022-01-25 01:20] johnkwaters commented on #39736
Thanks for confirming that @davidfowl - seems like a good tidbit to get out there somehow. It spent me days of digging to stumble across this (because I wasn't  the one that had set the protocol in AWS to be HTTP/2).

[2022-01-25 01:21] #39736 closed

[2022-01-25 01:38] superbull commented on #39282
@mkArtakMSFT I can confirm that the console was not resized.

[2022-01-25 02:24] halter73 commented on #16686
I think I mentioned how unlikely I feel this was to break people 😆 Making an announcement is a good idea though.

[2022-01-25 02:26] serp777 commented on #17730
Multi threading should be supported on chrome based browsers. Multi threading should be implemented in terms of the task pool and scheduler. Then if running on an unsupported browser the task pool is configured so that it only has one real thread. Then all logic written will work on a single threaded browser, but will receive a serious uplift in performance when running on chrome.

[2022-01-25 03:10] #39657 closed

[2022-01-25 03:34] Xyncgas commented on #17730
Or abandon blazor-wasm today for MAUI-blazor

[2022-01-25 04:32] #4887 closed

[2022-01-25 04:45] davhdavh commented on #38720
Could the documentation and configuration of the `JsonSerializerOptions` also be made a bit clearer? so far I have found 4 different places this needs to be configured, instead of all detecting it from `IOptions<JsonSerializerOptions>` or something similar...

[code]

[2022-01-25 04:57] xinding1121 commented on #39672
Yeah. Thanks very much.

[2022-01-25 05:02] adityamandaleeka commented on #39578
Thanks @IEvangelist!

[2022-01-25 06:37] davidfowl commented on #39383
We made a couple of decisions:
- We didn't add the range overload support for these callback based APIs. That could be implemented manually. I'll make another API proposal for this.
- We decided to remove the PipeWriter overload to avoid APIs ambiguity with the Stream APIs.

[2022-01-25 08:00] #38541 closed

[2022-01-25 08:21] MariovanZeist commented on #39734
Updated Repo, to clarify the feature request

So I would like to be able to use the following callbacks
`` EventCallback<T>``  and  ``EventCallback<RowArgs<T>>`` without specifying the ``T=Type``

[code]

[2022-01-25 09:42] StefanOverHaevgRZ commented on #27387
Is the `OutputCaching` something currently looked into for .NET 7?
Any place we can start contributing at?

[2022-01-25 10:22] rjgotten commented on #32767
It's not just the use of compression.
Consider also responses that are intentionally sent in character set encodings other than UTF-8.
What about requests that are being fetched cross-domain with CORS?
Those are other blind spot in the current implementation.

Other than straight-up incompatibility at the level of the data format, consider also the fact that not all responses are meant for consump

[2022-01-25 10:28] javiercn commented on #39740
@aryehsilver thanks for contacting us.

I believe this is the result of the fact that when we render in interactive mode we don't reuse the existing DOM nodes and instead we replace the old DOM nodes with new DOM nodes. I believe a similar thing happens with images and other elements.

It's not really an artifact of the "double" render (static prerender followed by an interactive prerender) but an

[2022-01-25 10:49] figueiredorj commented on #39238
May I ask what was your issue?
thanks

[2022-01-25 11:07] #38479 closed

[2022-01-25 11:08] javiercn commented on #25588
Fixed by https://github.com/dotnet/razor-compiler/pull/44 (Including the generic type constraint in the type parameter described [here](https://github.com/dotnet/aspnetcore/issues/25588#issuecomment-1020347309))

[2022-01-25 11:08] #25588 closed

[2022-01-25 11:10] solrevdev commented on #38861
OK, thanks @DamianEdwards and @timheuer,

I'll take a look at the existing SPA templates as a first step and will take it from there.

I do appreciate you both getting back to me.

Can I just add a final comment and that is I get that Visual Studio and Windows licences keep the lights on, but I just want to quote something I found that resonated with me real or not:

[2022-01-25 11:11] Jevvry opened #39744 "Ability to use DiagnosticSource in Kestrel without the rest of ASP.NET Core"
## Background and Motivation

Net6 introduced diagnostics in Kestrel. Specifically `DiagnosticSource` with the `Microsoft.AspNetCore.Server.Kestrel.BadRequest` event name. And this works fine if you use the whole ASP.NET Core, but if you use only the Kestrel server like:
[code]

[There is](https://github.com/dotnet/aspnetcore/blob/v5.0.13/src/Servers/Kestrel/Core/src/KestrelServer.cs#L19) no way t

[2022-01-25 13:10] devopg commented on #9039
rly patch this ....
amazing magic things. If i ceate webApi use like api, and api recomentate my to go LoginPage? :D

[code]

[2022-01-25 13:28] tdw-hughes commented on #39139
A possible additional piece of info - I have had the same problem (in ASP.NET Core 5.0), but have noticed this particular behaviour:
1. Deployed the site to IIS with preload and always running enabled.
2. Start AppPool - the hosted service starts.  Stop AppPool - StopAsync is not called.  i.e. problem is as described above.

However, if, after starting the AppPool, I make an HTTP request to the co

[2022-01-25 13:55] aryehsilver commented on #39740
@javiercn thanks for clarifying that.

It does seem to be more of an issue on slower connections where there is noticeable time for the reconciliation of the nodes.
Are there any future plans to get around this issue?
Currently how can we create a better user experience?

[2022-01-25 13:57] musictopia2 opened #39746 "Unable to build maui apps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I create a brand new maui app (even without blazor), and click run, it gives many compile errors.
I am unable to build even a most basic maui app.
I did uninstall all the previews to visual studio 2022 and the preview .net 6.
Unfortunately, that did not fix the problem.
Even still showed

[2022-01-25 13:58] KristofferStrube commented on #39726
Hey @pinkplus,
In your project you don't await the asynchronous call here: https://github.com/pinkplus/SafariFullscreen/blob/master/Pages/Index.razor#L25

I don't know if that should make a difference but I don't have an Apple device so I can't test it.

[2022-01-25 14:10] pinkplus commented on #39726
Hi @KristofferStrube,

It doesn't seem to make a difference. I've updated the project to await the call though.

[2022-01-25 14:13] dsplaisted commented on #39731
I think this would be the expected behavior if you just installed the .NET 7 SDK standalone.  For the `mvc` template (and most or all of the ASP.NET ones), you only get the templates for the version of the SDK you have installed.  So if you wanted the .NET 6 templates you would also have to install the .NET 6 SDK.

With Visual Studio it works a bit different, so it's possible there's a bug in the

[2022-01-25 14:20] gregoryagu commented on #39238
It seemed to be a combination of things, include an event aggregator and using a page class for a page.  The code really should not have leaked memory (from what I understand about GC and memory), but it did and through trial and error, we modified the code so that the memory leak no longer occurred.  But there was no one single smoking gun.  The lesson learned here for me is that memory usage mon

[2022-01-25 14:33] glenn2223 opened #39747 ".NET6 - `null` "provider" after `AddSingleton<IMethodCallTranslatorPlugin, ...>()`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

After an attempted upgrade to .NET6 I got an error

Initially reported in [this conversation](https://github.com/dotnet/runtime/discussions/64050) and it was recommended to "discuss" it here

---

I have some custom translators added for EF Core which seem to be causing the issue somehow.

I

[2022-01-25 14:39] andrzejczar84 commented on #38842
Hello, same issue here.
Blazor server side. Working well at .Net5, failing on OpenReadStream().ReadAsync() at .Net6.
We use this to upload *.jpg file to sql database.

Method launched as input file change for simple <input file... /> dialog.
[code]
In general byte array size is equal to file size. The problem begins in this line

`readbytes = await resizedImageFile.OpenReadStream().ReadAsync(buffe

[2022-01-25 15:19] javiercn commented on #38878
It's not clear that this is a bug in our code.

The source of the exception seems to be in the runtime https://github.com/dotnet/runtime/blob/main/src/libraries/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs#L747-L752

The issue seems to be originated in our code [here](https://github.com/dotnet/razor-compiler/blob/main/src/Microsoft.AspNetCore.Razor.Language/sr

[2022-01-25 15:22] javiercn commented on #38878
I suspect this might be a bug in .NET Framework (which is used only when the compiler is running inside VS) as noted by the call [here](https://referencesource.microsoft.com/#mscorlib/system/runtime/compilerservices/ConditionalWeakTable.cs,139)

[2022-01-25 15:26] javiercn commented on #38878
@mkArtakMSFT can you get more details on how common this issue is? I also suspect that the roslyn folks will have observed the same issue. This was literally removed on Core CLR like 5 years ago (https://github.com/dotnet/runtime/blame/34a4cdb72c5da9c163167618799b37549b4d80ee/src/coreclr/src/mscorlib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs#L136) so I don't believe there's any a

[2022-01-25 15:27] #38878 closed

[2022-01-25 15:28] MichalPavlik commented on #39731
I was debugging the templating engine and there is the `ApplyFilters` method, where the engine is trying to find a match for parameters. I see it loads templates for all installed versions, but for some reason, in case of the mvc (and maybe other web templates) I can't see loaded templates for version 6. Need more time to investigate.

[2022-01-25 15:35] javiercn commented on #38879
I have a PR out for this issue, but its unclear how it can manifest itself.

In any case, I replaced the code we use for parsing with the equivalent Roslyn API to discard any "dubious parsing logic" being the source of this issue.

[2022-01-25 15:38] TanayParikh commented on #38842
Thanks for the details @andrzejczar84. Would you be able to put together a minimal, public, GitHub repo that reproduces the issue so I may take a look. Also could you provide the image at an external host (GitHub compresses the image p as dyed into md I believe).

[2022-01-25 15:46] andrzejczar84 commented on #38842
@TanayParikh here is the picture: https://imgur.com/a/q8L0jwj

I'll try to reproduce the problem at the new minimal repo as fas as it's possible

[2022-01-25 15:59] jrmoreno1 commented on #39608
What determines whether Hot Rloads uses  ws or wss?

[2022-01-25 16:02] andrzejczar84 commented on #38842
@TanayParikh Done.

Here is simple Blazor App reproducing problem: https://github.com/andrzejczar84/FileUploadBug.Net6

Screenshot below - the same jpg, the same bytes read, the same freez of app after several seconds

![image](https://user-images.githubusercontent.com/34892451/151012711-a8e01bb0-4c58-4f3a-92ac-5d7b4e8cda82.png)

[2022-01-25 16:54] javiercn commented on #30957
Can you provide more details on this perf investigation so that we can make progress? We would need:
* Source code to use for the benchmark.
* Steps for the scenario (what file you are opening, where is the cursor set, what are you typing, etc.)

In addition to that, it would be important to include the GC statistics offered by perfview to help us determine if this is worth pursuing.

[2022-01-25 17:11] joeloff commented on #39731
For VS we insert multiple installers for the templates, e.g. for the 6.0 SDK there would be the 6.0 copies of the 5.0, 3.1 templates. These typically only ship with VS.

[2022-01-25 17:20] StevenLiekens opened #39750 "OpenAPI analyzers for Problem Details"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Hello, I enabled the OpenAPI analyzers for my web API and it reports undocumented status codes when I use `BadRequest()`.

[code]

 Now I want to use standardized Problem Details responses in my API. However, the analyzers don't show a

[2022-01-25 17:29] #39672 closed

[2022-01-25 17:32] pranavkm commented on #39750
@captainsafia is this a dupe of https://github.com/dotnet/aspnetcore/issues/6061?

[2022-01-25 17:36] mkArtakMSFT commented on #39734
Thanks for contacting us and  providing all the details, @MariovanZeist.
This is indeed a dupe of the abovementioned issue, so closing this one.
Also, will bump-up the priority of the original issue.

[2022-01-25 17:36] #39734 closed

[2022-01-25 17:36] TanayParikh commented on #38842
Thanks @andrzejczar84, I'm able to repro.

Would you mind committing this into your github repo (omitting the DB dependency).

Side note, I recommend checking out the new image upload guidance available [here](https://docs.microsoft.com/aspnet/core/blazor/images?view=aspnetcore-6.0) to help avoid having to Base64 encode images.

[2022-01-25 17:45] joeloff commented on #39731
@dsplaisted are these values correct? https://github.com/dotnet/installer/blob/1a828392f79d5d7a391b2a387e962e204fb245cd/eng/Versions.props#L109

[2022-01-25 17:47] mkArtakMSFT commented on #39726
Thanks for contacting us.
This is because the `requestFullscreen` API requires user gesture, and all Blazor Server interactions are asynchronous. This is well described in [this](https://javascript.plainenglish.io/user-gesture-restricted-web-apis-d794454453f7) article.
As a workaround we recommend handling the user gesture event directly in JavaScript.

Here what you can try to do:
[code]

Note: t

[2022-01-25 17:50] mkArtakMSFT commented on #39708
Thanks for contacting us. Feel free to send us a PR with the proposed fix and we'll review it.

[2022-01-25 17:53] #26234 closed

[2022-01-25 17:58] DamianEdwards commented on #34545
@davidfowl and I chatted about this briefly last week and got the start of an idea. Not saying much I know but we'll look into it a bit more and report back. General gist of the idea is to elevate authnz configuration to a builder-level concern and auto-add the required services and middleware, along the lines of:

[code]

[2022-01-25 17:59] mkArtakMSFT commented on #39715
Thanks for contacting us, @ChaosEngine.
Can you try to simplify the service worker code to no-op (no logic almost) and then confirm that the behavior persists with that too?

[2022-01-25 18:01] SteveSandersonMS commented on #39715
BTW the minimal service worker file would look something like just this:

[code]

If you could let us know if things work with that service worker (remember to delete all state for your site from the browser to make sure it takes effect) then we'll have more insight into whether this is specific to your service worker logic. Thanks!

[2022-01-25 18:13] andrzejczar84 commented on #38842
@TanayParikh repo updated with pdf upload.

I tried to upload 1,8Mb file.
![image](https://user-images.githubusercontent.com/34892451/151034712-f561fba1-e271-4f2b-b73d-514fb35f883f.png)

Method passed but uploaded only ~64kb
![image](https://user-images.githubusercontent.com/34892451/151034842-4d997600-394d-4616-ba04-ce616e956e97.png)

[2022-01-25 18:14] dsplaisted commented on #39731
@joeloff No, they should ideally be updated to 6.0.100 or whatever the latest version available for the 6.0 band is.  For example: https://github.com/dotnet/installer/blob/release/6.0.1xx/eng/Versions.props#L34

[2022-01-25 18:23] joeloff commented on #39731
Right, but the ASP.NET ones are tracking runtime versions so those should be 6.0.1 or 6.0.2 I think

[2022-01-25 18:23] hhyyrylainen commented on #4892
I was unable to find the "magic" from your example as to how to make things work.
Luckily it turns out that the approach I used before was pretty easy to update to work. I just had to change one line:
[code]

Here's where's that in my source code if anyone wants to take a look at the entire thing: https://github.com/Revolutionary-Games/ThriveDevCenter/blob/140f920dd28668eaaee1e166dca687777aa75018/

[2022-01-25 18:27] wtgodbe commented on #39731
It sounds like we should update https://github.com/dotnet/installer/blob/1a828392f79d5d7a391b2a387e962e204fb245cd/eng/Versions.props#L109-L111, but if that was the issue, wouldn't 5.0 Asp.Net templates be broken too because of line 110?

[2022-01-25 18:30] joeloff commented on #39731
I'm not sure

[2022-01-25 18:34] wtgodbe commented on #39731
Opened https://github.com/dotnet/installer/pull/13113 to see if it helps

[2022-01-25 18:35] martincostello commented on #4892
If I've understood you correctly, I think the "magic" is a mix of adding a reference to the `Microsoft.AspNetCore.Mvc.Testing` package to your project file ([code](https://github.com/martincostello/dotnet-minimal-api-integration-testing/blob/dd99581b2d2ede73aeb47f10d32f8566628190ec/tests/TodoApp.Tests/TodoApp.Tests.csproj#L12)). That includes the MSBuild targets that will copy the runtime assets t

[2022-01-25 18:41] DamianEdwards commented on #32767
RE the launch profile setting, my local testing on an ASP.NET Core 6 project in latest VS 2022 shows that setting `"hotReloadEnabled": false` in a launch profile disables Hot Reload but preserves the traditional Edit and Continue experience. The big difference there of course is the ability to apply changes without launching under the debugger. We're looking at improving the documentation around t

[2022-01-25 18:46] jakerutter commented on #39309
I, too am experiencing the same problem. All roads have led me back to this thread, so I think there is an ongoing issue.

[2022-01-25 18:53] brunolins16 opened #39754 "Inferring `FromBody.AllowEmptyBehavior = Allow` based nullability information"
## Current design

Today, MVC infer optionality for parameters/properties based on nullability or if they have default value for all Binding Sources, eg.:

[code]
Or
[code]
All examples above will allow the `null` value for the parameter `name`, however, when the binding `From Body` (inferred or not) the current default behavior is `fail` when the `Content-Length == 0`.

[code]
Currently, are avai

[2022-01-25 19:24] rafikiassumani-msft commented on #34545
@DamianEdwards This is a good start for the discussion, a few things to consider:

1. What if the API or endpoint requires multiple scopes? With the first attempt, will the expectation be to repeat the `RequiredAuthorization` as shown below?

[code]
  There are some nuances to clarify. `RequireAuthorization(user => user.HasClaim("scope", "todo:delete")` could be a little bit confusing as we are ch

[2022-01-25 19:28] DamianEdwards commented on #34545
@rafikiassumani-msft yep treat my example as pseudo-code at best. Lots of details to consider.

[2022-01-25 19:31] wk-bd commented on #11381
@anurse @jkotalik I'm running into this question from a slightly different angle. Basically, I have:

- My installer, which has ASP.NET Hosting bundle 6.0.0 bootstrapped in
- The end-user, which has already installed a newer version of .NET Core runtime (say for example 6.0.1) with something else

In this scenario, when my installer runs, it sees that a newer version of .NET Core Runtime (which is

[2022-01-25 19:32] Tratcher opened #39756 "Diagnostics for EnableInsecureAbsoluteFormHostOverride"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

https://github.com/dotnet/aspnetcore/pull/39334 added a 6.0 servicing workaround for clients that sent a certain kind of invalid requests. The affected client is being updated (slowly) so we were not planning to port the fix to 7.

The

[2022-01-25 19:37] brunolins16 opened #39757 "Inferring `FromServices` optionality based on nullability information"
## Current design

Currently, when binding `FromServices` always is called the `ServiceProviderServiceExtensions.GetRequiredService` (that throws an `InvalidOperationException` when the service is not found)

https://github.com/dotnet/aspnetcore/blob/6bbd5208f18e0823421dc45dac3a432d942be9f7/src/Mvc/Mvc.Core/src/ModelBinding/Binders/ServicesModelBinder.cs#L26

## Proposed Change

The proposal is fo

[2022-01-25 19:39] brunolins16 commented on #39667
I added a new issue for this #39757

[2022-01-25 19:47] mkArtakMSFT commented on #38413
@thaystg can you please look into this? Looks like there are multiple issues discussed and the one to look at is what the title says.

[2022-01-25 19:59] ChaosEngine commented on #39715
Thank you for quick reaction.

This minimalist and simplistic approach from above will work properly because it does not use fetch underneath.
It is the use of fetch() as indicated [here](https://www.w3.org/TR/fetch-metadata/#sec-fetch-dest-header) or [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Sec-Fetch-Dest) that is changing **sec-fetch-dest** to empty which in turn blocks e

[2022-01-25 20:09] SteveSandersonMS commented on #39715
Thanks @ChaosEngine, that clarifies things a lot.

So it seems like a valid fix would be to change https://github.com/dotnet/sdk/blob/14b117b7088653b694e16ac2071fcbf634a2a9ab/src/BuiltInTools/BrowserRefresh/BrowserRefreshMiddleware.cs#L71 to explicitly allow `Sec-Fetch-Dest: empty`. Or even change it so it explicitly blocks `iframe` but leaves everything else. Do you agree?

@pranavkm Do you know

[2022-01-25 20:16] dobrinsky commented on #39688
I have been investigating the problem for more than one week. From my last tests, it is clearly a bug in ASP.NET. I do not know what it is, but there clearly is one.

Bear with me...

I migrated the code from an older ASP.NET Core 3.1 app to a new ASP.NET 6 project to integrate with the supported ASP.NET Individual Accounts functionality.

I created the project from the Visual Studio template and

[2022-01-25 20:22] halter73 commented on #38720
What references `IOptions<JsonSerializerOptions>` @davhdavh?

[2022-01-25 20:40] Tratcher commented on #39706
@HaoK, @blowdart?

[2022-01-25 20:41] Tratcher commented on #39725
When did the defaults change? I think we're still referencing an older version.

[2022-01-25 20:54] figueiredorj commented on #39238
Even so I can understand :)
Thanks

A terça, 25 de jan de 2022, 14:20, Greg Gum ***@***.***>
escreveu:

[2022-01-25 20:54] #39626 closed

[2022-01-25 20:55] blowdart commented on #39706
@bbhxwl I don't understand the scenario here.

What are you using for your user database? ASP.NET identity? Azure AD? Something else?

How are the permissions represented in the identity your login provider gives you, is it roles, is it claims?

[2022-01-25 21:04] JamesNK opened #39758 "Test failure - "DefaultReconnectionHandler.test - invokes update on each attempt""
## Failing Test(s)

- DefaultReconnectionHandler.test - invokes update on each attempt

## Error Message

[code]

## Build

[](https://dev.azure.com/dnceng/public/_build/results?buildId=1567128&view=logs&j=6c33d704-163a-5170-38fa-caa7bc99f17c&t=4a2ac175-72f0-54eb-c8b6-eb1e5d86c7d5&s=6884a131-87da-5381-61f3-d7acc3b91d76)

[2022-01-25 21:07] JamesNK commented on #39758
I don't know how to quartine this type of test.

https://github.com/dotnet/aspnetcore/blob/52eff90fbcfca39b7eb58baad597df6a99a542b0/src/Components/Web.JS/tests/DefaultReconnectionHandler.test.ts#L79-L94

@mkArtakMSFT can you please pass this on to someone. This is at least the second time this test has failed in the last couple of days. @BrennanConroy noticed a failure yesterday and included detai

[2022-01-25 21:14] pranavkm commented on #39715
Some of the destinations such as images, videos, audio etc seem like the wrong place to be injecting scripts in to. [Somebody also](https://github.com/dotnet/aspnetcore/issues/32767#issuecomment-1021031407) brought up a bunch of other scenarios that might not be appropriate, so I'd prefer if we started conservatively.

[2022-01-25 21:22] z77ma commented on #39398
Please, excuse me if I broke a flow, since there is already a PR with a possible fix (closed atm, though)

[2022-01-25 21:25] TanayParikh commented on #39758
This one's odd, we haven't really changed anything in this area for a while (aside from @ShreyasJejurkar's recent [PR](https://github.com/dotnet/aspnetcore/pull/39700) which shouldn't have any impact on behavior). Wondering if this has something to do with one of our dependencies.

[2022-01-25 21:27] brunolins16 commented on #29570
Related #https://github.com/dotnet/aspnetcore/issues/39754

[2022-01-25 21:39] andrzejczar84 commented on #38842
I tried it but the uploaded file doesn't appear in img tag after upload. I'm not familiar with using javascript in blazor, maybe You see what is missing here... I'm impressed that getting images from file dialog can be as far complicated. I'd love to see some "blackbox" which takes a file by file input, paste or drag and drop, and do something (I don't care how) to give me byte[] I can insert into

[2022-01-25 21:56] rafikiassumani-msft commented on #37439
dupe of https://github.com/dotnet/aspnetcore/issues/39079

[2022-01-25 21:57] #37439 closed

[2022-01-25 22:00] pranavkm commented on #39758
@TanayParikh one option would be to remove these tests entirely. I don't think we've done any work to maintain them and pretty much rely on browser automation for testing anyway.

[2022-01-25 22:06] TanayParikh commented on #39758
Would be nice to get rid of another dependency (jest) in that case. Any objections @dotnet/aspnet-blazor-eng?

[2022-01-25 22:09] captainsafia opened #39761 "Security schemes cannot be generated for individual endpoints/actions"
Part of https://github.com/dotnet/aspnetcore/issues/37098.

Provide metadata support for parts of the specification documented in https://swagger.io/docs/specification/authentication/.

[2022-01-25 22:11] pranavkm opened #39762 "Use vdir environment variable when injecting browser refresh script"
Context: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1437972?src=WorkItemMention&src-action=artifact_link

Environment variable to use: ASPNETCORE_AUTO_RELOAD_VDIR

[2022-01-25 22:14] pranavkm commented on #39758
I'd go for it. I was the one that added the tests, and it got 0 traction from the remainder of the team. We're really not losing any meaningful coverage removing it.

[2022-01-25 22:48] ryanbrandenburg opened #39764 "Nested TagHelpers that share HTML names can cause the SyntaxTree to be of incorrect length"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

<img width="86" alt="150886237-4d803f74-b7eb-4c76-8c64-485e98dce72b" src="https://user-images.githubusercontent.com/14987221/151072018-f99bf010-de53-4e33-87b6-34f4bae60bcc.png">

![133864267-cc94584b-ea27-4e78-9db8-b0b90ff65305](https://user-images.githubusercontent.com/14987221/151072295-901

[2022-01-25 22:59] sebastienros commented on #27387
We are planning on shipping this feature as part of .NET 7. I'll update this thread next week with some initial thoughts in order to gather feedback and contributions.

[2022-01-25 23:08] ryanbrandenburg commented on #39764
I'll note that this breaks a lot more than just the SemanticTokens. Because the SyntaxTree is the wrong length is breaks tons of Razor functionality because things like "FindOwnerOf" fail.

[2022-01-25 23:10] ryanbrandenburg commented on #39764
Oh, this is actually a duplicate of https://github.com/dotnet/aspnetcore/issues/36689.

[2022-01-25 23:10] #39764 closed

[2022-01-25 23:16] michisnewsletter opened #39766 ".Net 6, Minimal API - Endpoint does not appear in swagger-output if Microsoft.AspNetCore.Http parameter exists in "MapXXX""
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the bug

I want to use minimal API with swagger, but if i use the "HttpContext" in the parameter-list, the endpoint is not showing in the swagger-result (json and output).

The error only happens if the "HttpContext" parameter stands alone.

Is this a bug or a misunderstanding ?

You can see the examp

[2022-01-25 23:22] captainsafia commented on #39750
Yep! @StevenLiekens We resolved this issue in 7.0-preview1. You can try the nightly release via https://github.com/dotnet/installer or wait until the official release drops.

[2022-01-25 23:22] #39750 closed

[2022-01-25 23:29] wtgodbe commented on #39731
https://github.com/dotnet/installer/pull/13113 didn't do the trick - @MichalPavlik were you able to get anywhere in your investigation?

[2022-01-25 23:58] indcoder commented on #5461
@danroth27 Is there an ETA for this?  This issue has been languishing for over 4 years now; almost two years after @SteveSandersonMS has labelled it as a major severity. We had expected this to be ready with .net 6 release. The implication is that it is creating strong headwinds against us convincing folks #BlazorWASM has critical mass and is production ready.

[2022-01-26 00:02] CoryKoehler commented on #5461
You can use the javascript appinsights sdk -> same with google analytics.

In my production app we use the following packages
https://github.com/IvanJosipovic/BlazorApplicationInsights
https://github.com/isc30/blazor-analytics

both are working very well without much work to setup

[2022-01-26 00:12] indcoder commented on #5461
@CoryKoehler  We are aware of the two packages [they have cropped up earlier in this thread years back ]. But  the recent log4j  scare has completely changed the landscape; especially in the enterprise sector. Mind you, they are official AppInsights plugins for react and angular; we are demanding parity for BlazorWASM and we solicit your support in this regard.

[2022-01-26 00:13] ryanbrandenburg commented on #36689
Here's another way this expresses itself: https://github.com/dotnet/aspnetcore/issues/39764.

As noted in that issue I suspect that this is a problem somewhere in `DefaultRazorTagHelperBinderPhase`. Probably the logic that matches StartTag to EndTag is being confused by the self-closing `<input />` before the `</Input>`. I attempted to investigate further but struggled enough that I thought I'd le

[2022-01-26 00:22] ctorx opened #39767 "Razor Pages - ModelBinder Improperly Fills Dictionary with Form Values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When a Razor Page Model has a bound property of type Dictionary<string, string>, if values are posted for the property it is bound correctly, but if values are NOT posted for the property (they are omitted from the form post), the dictionary gets filled with Key Value Pairs from the form itse

[2022-01-26 01:09] bbhxwl commented on #39706
https://stackoverflow.com/questions/70820187/authorize-attribute-how-should-i-use-it?noredirect=1#comment125239072_70820187

[2022-01-26 01:13] pranavkm commented on #39767
Thanks for the issue report. This is by design and documented here - https://docs.microsoft.com/aspnet/core/mvc/models/model-binding?view=aspnetcore-5.0#prefix--parameter-name. Model binding will look for values that start with `KVPs` and when it does not find any, it'll fall back to an empty prefix.

You can configure an explicit prefix so that only keys with the `KVPs` prefix are bound: https://

[2022-01-26 01:19] bbhxwl commented on #39706
[Authorize("admin")]    I don't want to know how to authorize this? Let him pass. I only know that this can be limited. I want dynamic authorization.

[2022-01-26 02:21] blowdart commented on #39706
Admin is what? A username? A role? A group membership?

And, as asked previously what is your authentication method? You can't authorize without authenticating first.

[2022-01-26 03:36] #39727 closed

[2022-01-26 03:36] #39758 closed

[2022-01-26 03:38] #39398 closed

[2022-01-26 03:57] thorgeirk11 commented on #11542
@davidfowl Any updates on this?

[2022-01-26 04:53] davidfowl commented on #39692
Yea I see how that can be very problematic from a developer POV. Also unfortunately the controller base class has all of those methods that make it hard to move away from action result and prefer Results.XX. Maybe throwing is a fine way to start.

[2022-01-26 05:01] ctorx commented on #39767
Thank you, that's what I needed.

On Tue, Jan 25, 2022 at 5:13 PM Pranav K ***@***.***> wrote:

[2022-01-26 05:07] davidfowl commented on #11542
@thorgeirk11 No updates, best to add your scenario so we have a record of what people want to use it for before we invest the time.

[2022-01-26 05:22] rbipin commented on #39725
hello, can I give this a try? this is my first-time contribution. I felt like this is a less risky one.

[2022-01-26 05:33] mkArtakMSFT commented on #38878
@javiercn you seem to be right here. I glanced through the links you've shared as well as the exception stack trace.
Also, I've tried to go back to Watson logs to get details about this particular exception and found no reports of it in the original internal ticket.
@NTaylorMullen if you disagree with the assessment here, please let us know and also share a link to Watson reports so that we can co

[2022-01-26 05:41] mkArtakMSFT commented on #38877
Here is the full exception stack trace that I could find:

[code]

And it looks like [this](https://github.com/dotnet/razor-compiler/blob/52505c754be0bc118a0f335eba10742e36eeb965/src/Microsoft.AspNetCore.Razor.Language/src/Syntax/Generated/Syntax.xml.Main.Generated.cs#L832) is the source of the exception, which indicates either a malformed Razor file or the code doesn't account for a valid scenari

[2022-01-26 06:37] davhdavh commented on #38720
Nothing but ourselves it would seem...
In lack of a well documented place to have the global options object, It was my goto setting for all the places I needed it to serializing things manually (Thanks, btw, found a couple of places I missed while searching for usages)

[2022-01-26 07:05] pr-benchmarks[bot] opened #39768 "Perf regression: json"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json [Fixed] | Json Crossgen2 aspnet-citrine-win | 01/23/2022 21:17:19 | 756,294 | 727,279 | -5.68 % (-42,994)  :thumbsdown:  | -2.78 σ | 15,445.17 | <details>    <summary>Changes</summary>     <table><

[2022-01-26 07:48] bbhxwl commented on #39706
[Authorize("admin")]
Isn't this authentication? I don't know how to verify this sentence. After I add this, the controller can't access and has no permission. I don't know how I can make the current user have this permission.

[2022-01-26 08:02] kbeaugrand commented on #39311
Hi, @TanayParikh ,

I'm facing the same issue. Unfortunately I cannot wit until mid February.
Is there any chance to test the 6.0.2 (prerelease) you mentioned.

This is definitively not present on the repo you suggested...

[2022-01-26 08:14] ddfxraven commented on #38082
@albx @IGx89 Another workaround so you don't have to trim the whole publish (works for wasm and hosted wasm)

Under program.cs in client project set the login mode under msal authentication
`builder.Services.AddMsalAuthentication(options =>
{
    builder.Configuration.Bind("AzureAd", options.ProviderOptions.Authentication);
    options.ProviderOptions.DefaultAccessTokenScopes.Add("xxxx/API.Access"

[2022-01-26 08:25] hypeartist opened #39772 "Strange behaviour of [CallerFilePath]"
OS: Windows 11 (22000.434)
.NET: 6.0.200-preview.22055.15

I've stumbled upon a strange issue when using `CallerFilePath` attribute.
Here is the method of some class `Settings` that uses the attribute:
[code]
and here is the method of some class `UISplitView` from which `SetJSModulePath` is being called:
[code]
`OnSetup` is the member of a class located at **D:\Repos\Ivt\Ivt.Web.Blazor.Components\

[2022-01-26 08:41] MichalPavlik commented on #39731
The package for net6 is loaded and scanned for templates, so it seems they are filtered out later in the process. I'm narrowing down the issue slowly and I hope I will get the answer today.

[2022-01-26 08:42] thw0rted commented on #11542
If you're collecting use cases, I can briefly describe mine.

I load data to show on a map, from a variety of sources.  One provides records via SignalR.  If the user drags the map, I can start loading new records for the area that has just scrolled into view.  If they drag it again before the network request has finished, I may no longer need those records, so I can cancel the in-flight request.

[2022-01-26 09:51] MichalPavlik commented on #39731
I believe I found the root cause. There is a deduplication step which basically adds discovered templates to dictionary with template's identity as a key. Templates for net7.0 have still same identity name, so they replaces net6.0 templates.

https://github.com/dotnet/aspnetcore/blob/fca7c73155408620ca9ee41e90313994b0a62ca1/src/ProjectTemplates/Web.ProjectTemplates/content/StarterWeb-CSharp/.templ

[2022-01-26 10:08] SteveSandersonMS commented on #39715
We might be able to filter on `accept: text/html` to avoid those, but I take your point that moving conservatively is wise.

[2022-01-26 10:17] javiercn commented on #38877
@mkArtakMSFT thanks for the additional details.

Unfortunately, malformed files are definitely an scenario we need to handle.

[2022-01-26 10:57] nagtilaklaxman opened #39770 "SignalR : Want to send signal to client when it reconnects to server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.
**SignalR**
I want to send signal to client when it reconnects. I am not able to find any overload to detect that client is reconnected

### Describe the solution you'd like

can you provide method as  OnReconnection in hub to override?

[2022-01-26 11:18] martincostello opened #39771 "Use ReadOnlySpan<char> equivalents for string methods?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

In #39743 I found that there were performance gains available from using `someString.AsSpan().IndexOfAny(...)` in the code instead of `someString.IndexOfAny(...)`.

This raises the possibility that there are other usages of `string`-ba

[2022-01-26 12:50] blowdart commented on #39706
No

[Authorize("admin")] is authorization.

Authentication is when a user tells you who they are, for example by logging in.
Authorization is when you decide what the user can do, by examining who/what they authenticated as

So you're adding authorization to a page without knowing what makes a user an admin, and that is part of authentication. Without knowing what you're using to log a user in I c

[2022-01-26 13:13] kevinvavelin opened #39773 "Impossible to add .resx to .Net 6 MVC or Razor Pages project to localize the project"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi there,

I followed everything inside the documentation : https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-6.0#implement-a-strategy-to-select-the-languageculture-for-each-request

But despite everything, it looks like there is a problem as soon as we tr

[2022-01-26 13:27] masoodafar-web opened #39774 "BlazorWebAssemblyLazyLoad By Dependency Injection"
Hello
I want to use **BlazorWebAssemblyLazyLoad** with **Dependency Injection** In Blazor WASM Project, but the problem is that when the secondary **dll** itself is not loaded, how can its dependencies be injected? As a result, the project gets an error. What is the solution?
PLZ Help

[2022-01-26 13:32] javiercn commented on #39774
@masoodafar-web thanks for contacting us.

Our DI container doesn't support registering dependencies after the container has been built. You need to register your dependencies ahead of time or use a third-party container that can support registering dependencies after the container has been built.

[2022-01-26 13:32] wcontayon commented on #33946
Hi @wtgodbe, @Tratcher, hope you're doing well.
Sorry for the long absence, due to a long and complex mission 😅. Do we always need the improvement, on w3clogger ? if so can I re-submit a new PR with the changes ?
@Tratcher had suggested to change the queue too.

[2022-01-26 14:21] pranavkm commented on #39771
/cc @stephentoub

[2022-01-26 14:26] johan-v-r opened #39775 "Blazor WASM Auth force token renew"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I'm trying to renew the user's access token without needing to refresh the page.

### Describe the solution you'd like

I'd like to call a function on something like `IAccessTokenProvider.RenewUserToken` or `RemoteAuthenticationService

[2022-01-26 14:44] drch- opened #39777 "WebApplicationFactory<T>.CreateClient() fails when using app.Urls.Add() in minimal api."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

A minimal api that uses `app.Urls.Add()` throws an exception when under test with a WebApplicationFactory<T>.  The following example shows a minimal repro.

Removing the `app.Urls.Add()` works fine and the test passes.

[code]

[code]

### Expected Behavior

_No response_

### Steps To Reprod

[2022-01-26 14:47] devjuanca commented on #39430
I strongly belive this should be a priority!!

[2022-01-26 14:56] hkusulja commented on #5461
Hello, I am coming from - https://github.com/microsoft/ApplicationInsights-dotnet/issues/2143 that has reference this issue.

Please inform us about plan and status for supporting Application insights in .NET 6 SDK via dotnet new blazorwasm

Thank you

[2022-01-26 15:41] javiercn commented on #39775
@johan-v-r thanks for contacting us.

Are you asking for a way to renew an ID token or for a way to renew an access token. Can you clarify?

[2022-01-26 15:43] yecril71pl opened #39779 "[API Proposal]: Add DisplayAttribute.Size"
### Background and motivation

Whenever I expect Razor to create an input element for a property, I have to set its [size](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-size) attribute by hand and to the same value.

### API Proposal

[code]

### API Usage

[code]

[code]

### Alternative Designs

[code]

[code]

### Risks

None AFAICT

[2022-01-26 16:15] Tratcher commented on #33946
@wcontayon yes this still needs work, go ahead.

[2022-01-26 16:17] Tratcher commented on #39725
@rbipin yes, please.

[2022-01-26 16:45] ayakael opened #39822 "Aspnetcore doesn't look for linux-musl nupkgs when building on linux-musl platform"
Aspnetcore looks for linux-x64 version of nupkgs that, under Alpine, should be linux-musl-x64.

Provisional patch follows:
[code]
Better implementation would involve, either Aspnetcore automatically setting os-name to linux-musl when building, or repos/aspnetcore.proj automaticallty adds the above BuildCommandArg. Ditto on repos/installer.proj for setting AspNetCoreSharedFxInstallerRid,

Made as p

[2022-01-26 17:06] ChaosEngine commented on #39715
Yes, or at least mention it on docs page to be searchable. In the end, manually adding script for debug build is no big of a deal.

Also I did a `<iframe />` test including page content with service worker operating inside and it was also "rewritten" do `Sec-Fetch-Dest: empty`. Without SW it is set to `Sec-Fetch-Dest: iframe`.
IMVHO this could an edge case.

[2022-01-26 17:08] wtgodbe commented on #39731
Thanks! Looks like we should have updated that at the same time we updated branding - I'll push a PR for it & update our documentation.

[2022-01-26 17:13] varsi94 commented on #31229
We have encountered the same issue and it turned out that the proxy does not create the proper URL when calling the development servers. In these scenarios, the React applications need to be configured to be hosted under /spa1 and /spa2 paths respectively so that it tries to load the resources from the proper URL (which seems to be missing from this example). Therefore the static files on the inst

[2022-01-26 17:14] mkArtakMSFT commented on #39772
Thanks for contacting us.
It looks like your code does modify the string and replaces the last to characters to be `js` from the original `cs`.
Closing as there doesn't seem to be any issue in the framework here.

[2022-01-26 17:14] #39772 closed

[2022-01-26 17:16] SteveSandersonMS commented on #39772
To emphasise, the `[CallerFilePath]` string instance is (presumably) the same instance on successive calls, because the assumption is that strings are immutable. If you've found a way of mutating that string, then you've defeated the compiler :)

[2022-01-26 17:17] BrennanConroy commented on #39770
ASP.NET Core does not have stateful reconnects. What this means is that when you reconnect you are a completely new connection with a new connection ID and the server will not store information about your previous connection ID for you. So, an OnReconnection method does not make sense for us to add to the Hub.

[2022-01-26 17:19] mkArtakMSFT commented on #39779
Thanks for contacting us.
While this may be a great idea, it is not aligned with our long-term vision to make it part of the framework. For many other ideas which don't belong to the framework we encourage the community to build and ship on their own, contributing to the expanding .NET Ecosystem.

You can learn more about our triage process and how we handle issues by reading our [Triage Process](

[2022-01-26 17:19] #39779 closed

[2022-01-26 18:16] vsfeedback opened #39784 "Load a script from an external JavaScript file (.js) collocated with a component"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Load-a-script-from-an-external-JavaScrip/1638313)._

---
Microsoft Visual Studio Enterprise 2022 (64-bit) - Preview
Version 17.1.0 Preview 2.0

I am trying to follow the instructions at:
https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/?view=aspnetcore-6.0#

[2022-01-26 18:17] vsfeedback opened #39785 "blazor cs1503 cannot convert from System.DateTime? to System.DateTime, but it works fine"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/blazor-cs1503-cannort-convert-from-Syste/1636463)._

---
[severity:It bothers me. A fix would be nice]
On a .razor page I call an shared function that does something with a date.

Page (I had to remove the < /> because this debug site removed the code....)
[code]

Shared.DoSomethingWithD

[2022-01-26 18:25] elinor-fung commented on #8838
@HaoK is using not having a debug version completely blocking you / using the release CRT a non-starter? I want to make sure we prioritize getting a debug version published if it is.

[2022-01-26 18:33] TanayParikh commented on #39311
Hello @kbeaugrand, to test out the pre-release you can try using the nightly SDK & packages as above, or by using the 7.0 alpha/beta packages.

SDK Download: https://github.com/dotnet/installer (ensure you get the 6.0.2 or 7 alpha/beta SDK)

Add to your Nuget config:

[code]

Further details [here](https://github.com/dotnet/runtime/blob/main/docs/project/dogfooding.md#nightly-builds-table).

[2022-01-26 18:39] SoftCircuits opened #39786 "Requested optimization when two registered services refer to the same target type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

If I create a class that implements two interfaces.

[code]

And I want my class to be dependency injected for both interfaces.

[code]

The dependency injector will create two different instances of `Foo`.

[code]

### Describe the so

[2022-01-26 18:41] q-omar commented on #39309
Experiencing same issue. The relevant bit for my package.json looks like:

 "resolutions": {
    "url-parse": ">=1.5.0",
    "lodash": ">=4.17.21"
  },
  "browserslist": [
    ">0.2%",
    "not dead",
    "not ie <= 11",
    "not op_mini all"
  ]

![Screen Shot 2022-01-26 at 11 39 28 AM](https://user-images.githubusercontent.com/25255233/151225938-13efe160-b7a1-4f9b-9984-67244e016772.png)

[2022-01-26 18:41] aarondrabeck opened #39787 "Upgrading Authentication.JwtBearer 6.0.1 throws null exception at runtime"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

A valid claims principle is returned from my custom ISecurityTokenValidator, then sometime after that, an internal null exception is thrown.

Error:
![image](https://user-images.githubusercontent.com/9825025/151225197-ed1a383b-3e07-4c8a-9990-46a0fe54ed0d.png)

Config:
![image](https://user-im

[2022-01-26 19:01] HaoK commented on #8838
I'm not sure I understand the full implications of the switch to always using the release CRT, so I'll defer to others/@adityamandaleeka on the long term 7.0 shipping requirements

I've been out sick for most of the past week so I'm just getting back to trying some different things out.  At this point I'm just trying to get something actually working (early prototype form) for consuming libnethost

[2022-01-26 19:05] #39768 closed

[2022-01-26 19:05] pr-benchmarks[bot] opened #39788 "Perf improvement: https"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| https  | Json Https IIS InProc aspnet-citrine-win | 01/25/2022 09:16:18 | 614,703 | 643,335 | 5.77 % (35,484)  :thumbsup:  | 5.30 σ | 6,691.64 | <details>    <summary>Changes</summary>     <table><th>Na

[2022-01-26 19:09] TanayParikh commented on #39787
Hello @aarondrabeck, thanks for contacting us. I believe this may be a duplicate of https://github.com/dotnet/aspnetcore/issues/39181, could you please confirm?

[2022-01-26 19:14] HaoK commented on #8838
So after renaming our own version of fx_ver_t to fx_ver_asp_t, that seems to unblock the last collision issue (on release /MT builds), there's one final link error which I'm not sure how to work around though: which relates to the same compiler thing I was asking about.  Is this basically saying we need to use exactly the same C++ compiler version that built the libnethost.lib we are compiling aga

[2022-01-26 19:22] secretwpn commented on #11542
@thw0rted your use case sounds like it could use [SignalR streaming](https://docs.microsoft.com/en-us/aspnet/core/signalr/streaming?view=aspnetcore-6.0) to stream a list of records matching the new viewport. I have somewhat similar use case and streaming worked well for me.

[2022-01-26 19:22] NTaylorMullen commented on #38878
One thing to keep in mind. Visual Studio is a .NET Framework application. Meaning, any change to the .NET Core side of the world doesn't necessarily mean it's fixed in the .NET Framework side.

[2022-01-26 19:32] taylorchasewhite opened #39791 "Product Unit Recommendation On How To Cache Bust Blazor WASM Files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I publish my Blazor WASM project, the old client side DLLs are cached, and the cache does not seem to be busted. I have scanned through a few examples/issues/documents looking for the correct approach to accomplish busting the caches on new publishes, including:

- #29095
- [Host and dep

[2022-01-26 20:27] elinor-fung commented on #8838
Both the artifacts listed in the `C1047` error are part of aspnetcore?

Are you building for x64 or x86 right now? Those error messages show a mix of the two - `_get_hostfxr_path@12` would mean x86, some of the output paths for aspnetcore artifacts show x64 and some show Win32.

[2022-01-26 20:32] aarondrabeck commented on #39787
do not think its the same issue.  Only packages I have installed are these.

![image](https://user-images.githubusercontent.com/9825025/151242302-1fb5f01d-0269-439d-91b7-3d6c5d3709e0.png)

[2022-01-26 20:36] HaoK commented on #8838
Yeah everything other than libnetcore is part of aspnetcore that its complaining about, thanks for pointing out that the issue might be x86, I'll do some surgery to remove all Win32/arm64 and see if that finally does the trick!

[2022-01-26 20:45] HaoK commented on #8838
Okay I removed the Win32/Arm64 projects from our build entirely, that gets rid of the unresolved symbol at least, so that leaves us with the last link code generation error:

[code]

[2022-01-26 20:58] JamesNK opened #39792 "Improve endpoint metadata debugging by overriding ToString"
# Background and Motivation

It is useful to understand what behavior endpoint metadata is adding to an endpoint. A human-readable summary of metadata would make this much easier. It can be viewed when debugging, and in logs when metadata is logged.

https://github.com/dotnet/aspnetcore/issues/34604 is another potential use of human-readable endpoint metadata.

# Proposed API

I propose overriding

[2022-01-26 21:10] hypeartist commented on #39772
Oh! You are absolutly right! I appologize for such stupid time-wasting issue! Shame on me and thank so much for your answers!

[2022-01-26 21:10] TanayParikh opened #39793 "Evaluate Migrating Deleted NPM/Jest Web.JS Tests to Selenium E2E Test Suite"
We recently removed the npm/jest Web.JS tests via https://github.com/dotnet/aspnetcore/pull/39763.

This issue is to track whether we want to replicate any of these tests within our Selenium E2E suite to ensure we don't lose any test coverage.

[2022-01-26 21:14] adityamandaleeka commented on #39771
Triage: this might be worth pursuing on per-request codepaths, and only if the change is simple/low-impact.

The `BindingAddress` example above is an example of a codepath that is only executed a few times (not per-request) so we wouldn't want to make this change there.

[2022-01-26 21:25] adityamandaleeka commented on #39787
Can you please confirm whether you've also upgraded to .NET 6? JwtBearer 6 should only be used with .NET 6.

[2022-01-26 21:30] adityamandaleeka commented on #39787
@aarondrabeck Can you please try to repro this issue under a debugger with first-chance exceptions enabled?

This might be helpful: https://docs.microsoft.com/en-us/visualstudio/debugger/managing-exceptions-with-the-debugger?view=vs-2022#tell-the-debugger-to-break-when-an-exception-is-thrown

[2022-01-26 21:37] BrennanConroy commented on #39787
I'm guessing you're setting a null token in your `ISecurityTokenValidator.ValidateToken(...)`?

We should probably add a null check to our code, IdentityModel is likely not nullable annotated, so we just assumed it wasn't null.

[2022-01-26 21:38] wcontayon commented on #39771
Hi @adityamandaleeka, @martincostello
Would you accept a PR 🙂  ? It's an interessting issue

[2022-01-26 21:46] javiercn commented on #39791
@taylorchasewhite thanks for contacting us.

The behavior you are describing is the standard behavior of PWAs.
* Your app loads, a service worker gets installed.
* The next few times you visit the page, the service worker is active and handles serving the files.
* You then deploy a new version.
* The next time you visit the page, the **current service worker** is still active and the page is serve

[2022-01-26 21:56] HaoK commented on #39688
There seem to be a lot of moving pieces here, can you try slimming things down to isolate where the behavior change lies?  Perhaps you can simplify your authentication/authorization to simply look for any claims instead of actually checking roles/hitting the identity db.  Without an actual repro with steps the best we can do is provide guidance on how to narrow down where the source might be.

Bet

[2022-01-26 21:57] taylorchasewhite commented on #39791
Hey Javier, thanks for the quick response. Unfortunately this does not answer the question I have. For the following reasons:

1. I'm asking what the _recommended/correct_ way to bust caching in Blazor WASM is. (Regardless if it is a PWA or not. I only mention that my project is a PWA in case that impacts the cache busting behavior in a Blazor WASM solution that's not a PWA). This response doesn't

[2022-01-26 22:01] taylorchasewhite commented on #39791
Also regarding this:

Does this mean if we _remove_ the service work, that there is some built-in (obfuscated) functionality that would bust cache after a project has been published again? Is there a description of how this works?

[2022-01-26 22:16] q-omar commented on #39309
I copied the contents of package.json, deleted it, created a new file and pasted the contents. App began working then. I think there was some invisible character that was throwing off the parser 🤷‍♂️

[2022-01-26 22:27] taylorchasewhite commented on #39791
I found a good writeup [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/progressive-web-app?view=aspnetcore-6.0&tabs=visual-studio#background-updates), which talks about the `cacheName` coming from the version on `<ServiceWorkerAssetsManifest>service-worker-assets.js</ServiceWorkerAssetsManifest>`, but when I look at that version number, I don't see how that's related to anything in the

[2022-01-26 22:48] #16686 closed

[2022-01-26 23:10] davidfowl commented on #39792
Where does this show up to the user or when debugging?

[2022-01-26 23:22] BrennanConroy opened #39795 "[Discussion] [Breaking change]: SignalR Hub methods try to resolve parameters from DI"
### Description

Hub methods now support injecting services from your Dependency Injection container.
In rare cases this can break applications that have a type in DI that is also accepted in Hub methods from SignalR client messages.

### Version

7.0.0-preview2

### Previous behavior

Before if you accepted a type in your Hub method that was also in your Dependency Injection container the type wo

[2022-01-26 23:24] Aworwui commented on #39354
Hi All,
Is quite some time now with no comment, and I'm still trying to troubleshoot this issue. I tried to isolate the problem between Nginx and the dotnet runtime.
I stopped the services (Nginx and dotnet service and set environment variable ASPNETCORE_URLS  to HTTP://localhost:5000/
and run dotnet dll in the project publish folder  and using lynx  with the URL
HTTP://localhost:5000/_framework/b

[2022-01-26 23:28] JamesNK commented on #39792
[code]

[2022-01-27 00:17] halter73 commented on #39756
Is it enough to log the bad request the same way we would without EnableInsecureAbsoluteFormHostOverride? It should be easy to filter just the invalid host header exceptions you're interested in with a DiagnosticListener.

[2022-01-27 00:40] sipi41 opened #39799 "JS Isolation not working on .net 5 blazor server app / 404"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

According to the MS documentation: (https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-5.0#javascript-isolation-in-javascript-modules) I should be able to do javascript isolation on my blazor app... for some reason is no

[2022-01-27 01:37] bbhxwl commented on #39706
Maybe the translation software I use doesn't understand very well. I mainly want to see how the code passes the admin permission.

[2022-01-27 01:37] dougbu commented on #11205
@HaoK did something go wrong in #30087❔ Mostly wondering why AuthSamples.FunctionalTests.csproj and Microsoft.AspNetCore.Identity.FunctionalTests.csproj remain disabled on Helix ARM and point to this (closed) issue.

[2022-01-27 02:00] Tratcher commented on #39756
Not sure on the specifics yet. Also, the other code path throws so we'd need to avoid that.

[2022-01-27 02:32] sam-wheat opened #39800 "Host a Blazor WASM component in an Angular app?"
https://stackoverflow.com/questions/57274230/is-it-possible-to-embed-a-blazor-component-in-a-non-net-website?rq=1

https://docs.microsoft.com/en-us/aspnet/core/blazor/components/class-libraries?view=aspnetcore-6.0&tabs=visual-studio

Is it possible to host a Blazor component in an Angular app? If so, where might I find documentation or better yet an example app?

[2022-01-27 03:21] pranavkm commented on #39800
@sam-wheat have you had a look at

* https://docs.microsoft.com/en-us/aspnet/core/blazor/components/?view=aspnetcore-6.0#render-razor-components-from-javascript
* https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-net-6-rc-1/#blazor-custom-elements / https://github.com/aspnet/AspLabs/tree/main/src/BlazorCustomElements#blazor-custom-elements

[2022-01-27 04:08] #39725 closed

[2022-01-27 04:37] dsun1 opened #39802 "Media type application/problem+json still lost in combination with ProducesAttribute"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

This issue is the same as reported and resolved here: https://github.com/dotnet/aspnetcore/issues/19510

Having tested with the project that is the previous issue's minimal repro (in .NET 6 instead of .NET core 3.1),  I've found the same issue still persists.

That is, a controller with `Prod

[2022-01-27 04:54] #39800 closed

[2022-01-27 05:26] Pete-Nago commented on #39311
I also am having the exact same issue with B2C and Blazor WASM.
Hope they release the fix soon.
I'm hesitant to install preview builds.

[2022-01-27 06:05] HaoK commented on #11205
I don't remember exactly anymore, but I believe the tests just fail when run on arm64, so they publish now, but they don't work, this is likely something that will get resolved once the arm64 work is done

[2022-01-27 06:08] HaoK commented on #11205
I added these to the meta item work item https://github.com/dotnet/aspnetcore/issues/39281

[2022-01-27 06:14] johan-v-r commented on #39775
Hi @javiercn - just the access token would be fine. Although renewing both together would probably make sense as it's part of the Token endpoint..?

But yes the access token is the critical one.

[2022-01-27 06:55] kmkrish001 opened #39805 "How to detect the current application is web assembly or server application in source."
How to detect the current application is web assembly or server application in source ?

[2022-01-27 07:04] Vake93 commented on #39805
I think the following should work:

[code]

[2022-01-27 07:05] #39788 closed

[2022-01-27 07:44] adityamandaleeka commented on #8838
Those are both aspnet things that should be building locally right? In which case it's weird that it says they were built with different compiler versions. Are you seeing this on a clean build? And only after making the libnethost changes?

[2022-01-27 07:46] mihaimyh opened #39806 "Blazor and WebComponents"
In our organization there are some custom WebComponents, based on [Lit](https://lit.dev/) that we can re-use when we need to do web development in order to preserve the same look and feel of our apps.

These WebComponents are custom HTML elements, written in JavaScript, which includes styling, forms, localization and more.

Is there a way to make use of them in Blazor?

[2022-01-27 07:59] bbhxwl opened #39807 "Error unprotecting the session cookie"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

How can I avoid restarting the program? Old users always prompt this error when visiting the website?

[40m[1m[33mwarn[39m[22m[49m: Microsoft.AspNetCore.Session.SessionMiddleware[7]
      Error unprotecting the session cookie.
System.Security.Cryptography.CryptographicException: The key

[2022-01-27 08:06] kmkrish001 commented on #39805
https://www.techiediaries.com/check-blazor-app-running-webassembly-ijsinprocessruntime/

The above solution works fine.

[2022-01-27 08:06] #39805 closed

[2022-01-27 08:16] Jevvry commented on #39744
Kestrel server is used in proxy service with custom instrumentations. We create the server object manually to avoid the overhead of using all of ASP.NET. And all usage comes down to creating a KestrelServer object, setting up the instrumentation, and calling StartAsync().

[2022-01-27 08:18] javiercn commented on #39806
@mihaimyh thanks for contacting us.

You can use web components (custom elements if that's what you are referring to) in the same way you would use any other html tag. You might want for a better experience, to wrap them in blazor components. You can check https://github.com/microsoft/fast-blazor for an example library that does this.

[2022-01-27 08:19] javiercn commented on #39799
@sipi41 thanks for contacting us.

JS isolation is a .NET 6.0 feature.

[2022-01-27 08:20] javiercn commented on #39799
In .NET 5.0 you would need to put that file inside the wwwroot folder of your app.

[2022-01-27 08:21] speyck opened #39808 "[Blazor] Allow only specific Components as Children"
I am currently working on a blazor class library. Let's say I have the following two components:

*Switch Component*
[code]
*Case Component*
[code]

What I want the markup usage of the Switch component to look like:
[code]
The problem is that I get the following error:

What I would like to achieve is, that the `Switch` component accepts both the `Default` parameter (how it's now) and any amount o

[2022-01-27 08:32] javiercn commented on #39791
@taylorchasewhite thanks for the additional details.

You can check [here](https://github.com/dotnet/aspnetcore/blob/main/src/Components/Web.JS/src/Boot.WebAssembly.ts) how the bootstrapping process works in detail, but in essence is as follows:
* We download an uncached version of `blazor.boot.json` (as in we tell the browser to bypass any cache, but you should check in case you have some other f

[2022-01-27 08:35] javiercn commented on #39784
Thanks for contacting us.

The issue is in the `~` on your url. `~` is an ASP.NET Core concept, not a Blazor one. Blazor will automatically use the `base href` from the document to import scripts when you call import so `Pages/JsDemo.Razor.js` is the proper string to use.

[2022-01-27 08:43] johan-v-r commented on #39775
Yes basically update it after the user has already been authenticated. Similar to what happens currently when the token expires.
I don't need to handle the token in my own code.

[2022-01-27 08:44] mihaimyh commented on #39806
@javiercn Thanks, this is what I want to achieve, I will have a look

[2022-01-27 08:48] javiercn commented on #39808
@speyck thanks for contacting us.

This is a dupe of https://github.com/dotnet/aspnetcore/issues/12302

[2022-01-27 08:48] #39808 closed

[2022-01-27 08:52] HaoK commented on #8838
Yeah CommonLib is the lowest level asp.net core static library and the one that is adding the code that references libnethost, and that for some reason now thinks its compiling against a different version of the compiler.

This issue is only in this branch, I haven't seen this before except after mucking with some of the flags and adding the libnethost library, here's the PR with all the tweaks, m

[2022-01-27 08:53] javiercn commented on #39775
@johan-v-r thanks for the clarifications.

If you don't need to request a different set of scopes (which we currently don't support) then you can redirect the user to "authentication/login" and that should trigger a new authorization flow (if I remember correctly).

I believe @TanayParikh added some logic to invalidate tokens in the auth handler, but I might be wrong. If that's not the case, then

[2022-01-27 09:05] ZhibingGe opened #39811 "Error "Server timeout elapsed without receiving a message" while calling the invoke method of signalr hubconnection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If I open the devtools of browser, the invoke method of signalr connection will always throw the timeout error.
If I don't open the devtools, the invoke method can receive response message.
C# code about hub:

[code]

Typescript code:
[code]

### Expected Behavior

The invoke method can get r

[2022-01-27 09:08] HaoK commented on #8838
One other point of interest, if I simply comment out the handful of lines around here https://github.com/dotnet/aspnetcore/blob/29436e5dc5255287879a029f7f2afbb4411ba2cb/src/Servers/IIS/AspNetCoreModuleV2/CommonLib/HostFxrResolver.cpp#L80  that calls get_hostfxr_path, everything does link/build successfully, so its definitely caused by something with using the new static lib that I am not setting u

[2022-01-27 09:11] angularsen commented on #39802
I was just about to file this exact same issue, dumping my report here instead.

This was reported in #19510 and fixed in #30367, included in .NET 6.0-preview3.

I can still reproduce this issue, tested on:
- .NET 6.0.100 SDK, AspNetCore 6.0.0, Windows 10.
- .NET 6.0.101 SDK, AspNetCore 6.0.1, Windows 11.

Minimal repro here:
https://github.com/angularsen/repro-aspnetcore-19510

## Repro details

[2022-01-27 09:22] ZhibingGe commented on #39811
Use chrome, it is ok
The bug occurred when using microsoft.edge

[2022-01-27 09:45] martincostello commented on #39771
@wcontayon Happy for you to take a look if you'd like to 😃

[2022-01-27 10:30] thw0rted commented on #11542
Thanks for the link @secretwpn , that's basically exactly what I had in mind.  In fact, the API maps almost exactly to the RxJS Observable pattern which I already use extensively.  Of course, I'm only consuming somebody else's back end API so I'm not sure that the `stream` method is available for the service I use, but I will make a note to come back and look into it when I have time.

[2022-01-27 12:39] vlasgeorge commented on #38804
@pranavkm how's the investigation proceeding?

[2022-01-27 12:51] blowdart commented on #39706
The permissions depend on your authentication provider. The identity that is built when you login can have an admin role, or an admin claim. You then write a policy which looks for that.

What's your natural language? I can try to find a native speaker in the team, and we can go to email and into detail?

[2022-01-27 12:52] blowdart commented on #39807
Please share your startup.cs - this generally happens if you're not setting up data protection to save the keys

[2022-01-27 13:03] KillerBoogie opened #39812 "Support IsSpecified properties like Json.Net to handle JSON Merge Patch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am trying to use JSON Merge Patch in an WEB API project. The implementation of the domain objects follow the always-valid domain model. Therefore I need to differentiate between null because of not present and null because of null va

[2022-01-27 14:35] xiety opened #39814 "Blazor doesn't render ErrorBoundary's ErrorContent when there are two different exceptions inside it's ChildContent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

ErrorBoundary renders nothing when there are two different errors inside it's ChildContent.

### Expected Behavior

ErrorBoundary renders exception information.

### Steps To Reproduce

App.razor

[code]

ComponentWithError.razor
[code]

### Exceptions (if any)

_No response_

### .NET Versio

[2022-01-27 14:40] yecril71pl commented on #7409
The `Title` property is missing. [GetEnumSelectList](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.viewfeatures.htmlhelper.getenumselectlist#microsoft-aspnetcore-mvc-viewfeatures-htmlhelper-getenumselectlist-1) should take it from [DisplayAttribute.Description](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.displayattribute.description#syst

[2022-01-27 14:50] sipi41 commented on #39799
@javiercn thank you, that's correct, its just very dark to read in the docs, at least now we know why this problem is there, something to read over the net.

[2022-01-27 14:50] #39799 closed

[2022-01-27 15:39] SteveSandersonMS opened #39815 "Design proposal: Multiple same-named event handlers"
## Summary

Blazor should allow HTML elements and components to accept multiple event handlers for a single event name.

## Motivation and goals

This was requested at https://github.com/dotnet/aspnetcore/issues/14365 and is well upvoted. It deals with the following pain points:

* Being able to use `@bind` and `@onchange` (or other bind-supported events) at the same time, letting developers perfo

[2022-01-27 16:00] #39774 closed

[2022-01-27 16:31] LaughingJohn commented on #28653
I've just come across this one myself. It's odd because for me it only happens sometimes, maybe to do with the number of records or something. It's quite a bad one because causes repeated calls to the ItemsProvider which does multiple calls to my API and stresses the service, potentially causing Production issues. This should be addressed ASAP in my humble opinion.

[2022-01-27 16:32] uyau opened #39816 "Window Authentication in Linux .net core"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

0

I'm trying to make work window authentication in Linux/Debian server with Kerberos. I'm using .net core 3.1 and IdentityServer4. For now I had joined Linux to the Windows AD like docs say: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-3.1&

[2022-01-27 17:45] mkArtakMSFT commented on #39785
Thanks for contacting us. Can you please share a minimal repro project so that we can investigate this further?
Note, that the repro should publicly hosted on GitHub.

[2022-01-27 17:47] mkArtakMSFT commented on #39693
Looks like this is because customers are trying to open .NET 6 apps in VS 2019. We're going to update the SDK to warn customers about using VS 2022 instead

[2022-01-27 17:55] mkArtakMSFT commented on #39645
Thanks for contacting us.
We couldn't prioritize this investigation given the number of customers are affected. Hence closing this issue.
You can learn more about our triage process and how we handle issues by reading our [Triage Process](https://github.com/dotnet/aspnetcore/blob/master/docs/TriageProcess.md) writeup.

[2022-01-27 17:55] #39645 closed

[2022-01-27 18:46] jjzhang12 opened #39820 "ArrayList.ToArray(type) throws exception for enum type in Blazor WebAssembly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Below code is code snippet:

_ArrayList list = new ArrayList();
list.Add(Day.Monday);
var array = list.ToArray(typeof(Day));

public enum Day { Monday, Tuesday }_

This is working fine in .net 6 desktop. But in Blazor WebAssembly, it throws exception System.InvalidCastException: At least one

[2022-01-27 19:00] #39770 closed

[2022-01-27 19:16] javiercn commented on #27562
@captainsafia is there anything left here you think we should consider?

[2022-01-27 19:22] javiercn commented on #24575
@captainsafia are we done with this one?

[2022-01-27 19:23] javiercn commented on #38810
@pranavkm esproj is more for final apps, rather than libraries, but we can explore this.

[2022-01-27 19:25] #39767 closed

[2022-01-27 19:30] HaoK commented on #8838
Here are the command lines from msbuild in case there's something here that I'm missing:  There is a slightly sus WIN32 and _WIN64 both being defined in AspNetCore compiling, I'll try to track down if that's abormal with another branch

CL args for CommonLib
[code]

CL args for AspNetCore
[code]

Failing link command args from AspNetCore.vcxproj:
[code]

[2022-01-27 19:36] wegylexy commented on #39583
For Blazor SignalR, it requires the browser runtime to use `WebTransport` and the server to enable that with HTTP Datagram support in the settings frame in the HTTP/3 control stream.
With a custom fork of .NET 6 exposing the QUIC API, I am able to make the server send `new byte[]{0, 4, 10, 0x80, 0xFF, 0xD2, 0x77, 1, 0xAB, 0x60, 0x37, 0x42, 1}` to enable WebTransport and HTTP Datagram. Then it need

[2022-01-27 19:45] #38535 closed

[2022-01-27 20:15] halter73 commented on #39667
We just approved `DisableImplicitFromServiceParameters` for the same option in SignalR. https://github.com/dotnet/aspnetcore/pull/34047 It's not too late to change the property name in SignalR, but I think we should use the same name.

[2022-01-27 20:57] pranavkm commented on #38804
This appear to be an issue with Safari parsing document fragments. You can reproduce this independent of Blazor by doing this:

[code]

This works on browsers other than Safari. Interestingly using `createElement` to produce an img element and appending it to the DOM works fine. You can cause Blazor to use `createElement` by interleaving C# with your markup for e.g you could do something like this

[2022-01-27 21:10] Tratcher commented on #39816
It looks like you're hitting this log, which was removed in a later version:
https://github.com/dotnet/aspnetcore/blob/7b22a279ec975335bbb0a7cbadef2e45ee15aa9c/src/Security/Authentication/Negotiate/src/NegotiateHandler.cs#L132

There should be more logs?

[2022-01-27 21:12] brunolins16 commented on #39667
I agree with you, we definitely should you use the same. I completely forgot about the API approved in SignalR and suggested the name with the wording `SuppressInferBinding` that have been used in `ApiBehaviorOptions` already.

[2022-01-27 21:16] Tratcher commented on #39807
https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-6.0

[2022-01-27 21:24] appsupport-gc commented on #28684
I thought this would get FIXED in dotnet 6.0!!  this is Terrible!!

[2022-01-27 21:31] halter73 commented on #37590
What changed? I'm pretty sure `RouteValueProvider` always worked this way. It would be nice if you could file this issue in https://github.com/OData/AspNetCoreOData @mhotze . I'm not sure where `Microsoft.ApsNetCore.OData` is putting a `DateTimeOffset` in the `RouteValueProvider` or how to trigger this issue.

[2022-01-27 22:01] elinor-fung commented on #8838
It looks like aspnetcore chooses a different toolset version based on the Visual Studio version?
https://github.com/dotnet/aspnetcore/blob/a48ca453d0947b3d9db1052606f67a24bc996fa3/src/Servers/IIS/build/Build.Settings#L7-L9

The runtime repo always builds with `PlatformToolset=v142` - so it is consistent whether you are using VS2019 or VS2022:
https://github.com/dotnet/runtime/blob/d0165693994c2f83

[2022-01-27 22:07] Ricardoaraujo00 opened #39824 ".net Blazor markup "if" code compiles and executes dispite being bad written"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Razor markup compiles even having a bad written if statment. This is a minor issue but... If i'm getting this right...

### Expected Behavior

The expected behavior is some kind of compiler error message

### Steps To Reproduce

Just past the fofflowing code and create the variables for it to

[2022-01-27 22:30] HaoK commented on #8838
Woot, looks like that was it, hardcording all of them to v142 gets rid of the compile mismatch, thanks for seeing that difference!

[2022-01-27 22:38] elinor-fung commented on #8838
Also as a general note, I really don't think the aspnetcore repo should be choosing different compiler versions based on what VS happens to be used.

[2022-01-27 22:47] pranavkm commented on #39824
It's perfectly legal in C# to use braces to [create a new block scope](https://docs.microsoft.com/dotnet/csharp/language-reference/language-specification/statements). Related StackOverflow question: https://stackoverflow.com/questions/6136853/why-does-c-sharp-allow-code-blocks-without-a-preceding-statement/6136865

[2022-01-27 22:49] TanayParikh commented on #39531
Hello, thanks for contacting us. I'm unable to reproduce this issue:

![image](https://user-images.githubusercontent.com/14852843/151456145-4c8d9c64-3ed7-4748-bc30-b55f1e43d2d6.png)

If you're still experiencing this issue, kindly provide a minimal, public, github repository which reproduces the issue and leave a comment here 😄

[2022-01-27 22:49] #39531 closed

[2022-01-27 22:56] HaoK commented on #8838
I hear you, that seems like an unexploded land mine that we just stepped on

[2022-01-28 00:41] bbhxwl commented on #39706
What's your email address? I am used to Chinese, but I can also use translation software to read English. If it is code, I should be able to understand it. I just don't know how to define strategy.

[2022-01-28 00:43] bbhxwl commented on #39807
[code]

[2022-01-28 00:53] genifycom opened #39825 "Including a NativeFileReference causes a blazor error in Release mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Create a default Blazor WebAssembly App project. Configure for HTTPS only.

This project runs successfully in both Debug and Release mode.

Now add a Folder Data and place in there the e_sqlite3.o file from Steve Sandersons demo.

Add to the Project file the line in Item Group

<NativeFileRef

[2022-01-28 01:18] DamianEdwards commented on #30666
Doing some "customer research" https://twitter.com/DamianEdwards/status/1486871181252833284

[2022-01-28 01:19] genifycom commented on #39825
I did try <PublishTrimmed>false</PublishTrimmed> but the behavior did not change.

[2022-01-28 01:28] genifycom commented on #39825
I also tried -s ERROR_ON_UNDEFINED_SYMBOLS=0 in emcc-default.rsp as per issue #39528

[2022-01-28 04:33] prvavill opened #39826 "JSON string content is null in Put action when request is done using fetch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am posting JSON string (with JSON.stringify(requestBody)) from Java script using fetch and want to receive it as string in .Net Web API controller (we are still on 4x) as below

Post ex:

fetch("apiurl",
{
headers: {
'Accept': 'application/json',
'Content-Type': 'application/json'
},
method

[2022-01-28 05:50] BrassHead commented on #39309
The package.json file from the template was saved in "utf8 with BOM". The BOM causes parsing to fail. Removing the BOM (by creating a new file and copy paste the contents as suggested by @q-omar  or using some other tool) will fix the problem.

[2022-01-28 06:33] uyau commented on #39816
Idk if there should be more logs. I'm using Nuget package Microsoft.AspNetCore.Authentication.Negotiate 3.1.22 version. And if I set my krb5.conf to default settings,I mean  without broken  settings like **default_tgs_enctypes = des3-hmac-sha1**, I allways get logs about "Negotiate was Challanged" and "None", it seems like there is no valid token I'm passing to gssapi? But when I use only Apache2

[2022-01-28 07:05] pr-benchmarks[bot] opened #39827 "Perf improvement: mapaction"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| mapaction  | Plaintext MapAction aspnet-citrine-lin | 01/26/2022 21:06:14 | 3,192,151 | 3,254,670 | 3.99 % (127,395)  :thumbsup:  | 2.83 σ | 45,031.34 | <details>    <summary>Changes</summary>     <tabl

[2022-01-28 07:05] pr-benchmarks[bot] opened #39828 "Perf regression: json"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| json  | Json aspnet-citrine-amd | 01/26/2022 21:28:22 | 1,071,921 | 986,577 | -8.34 % (-89,445)  :thumbsdown:  | -4.19 σ | 21,325.46 | <details>    <summary>Changes</summary>     <table><th>Name</th><th

[2022-01-28 07:10] mkArtakMSFT commented on #39815
Thanks for putting this together, @SteveSandersonMS.
I was a bit hesitant at first regarding the auto-re-rendering after each handler completes, but after some more thoughts I believe what you have is great.

[2022-01-28 07:32] jasase commented on #39606
Does a temporary workaround exists?

[2022-01-28 07:36] mhotze commented on #37590
I meant if you will change it, it could be a breaking change. Just to address the concerns regarding the code out there.

[2022-01-28 08:30] shelland opened #39829 "Review NPM distribution files"
After installing of SignalR files from NPM (https://www.npmjs.com/package/@microsoft/signalr) or any other package manager (e.g. LibMan from Visual Studio) there are 2 files in `dist/browser` directory:

- signalr.js [41.1 KB]
- signalr.min.js [41.2 KB]

Both files are minified while `signalr.js` is expected to be readable. `signalr.min.js` is minified as expected, but it is even larger than unmin

[2022-01-28 09:10] konak commented on #39309
Creating a new file in Visual Studio and making just copy / paste did not helped ... Only after I have created a file using vi in terminal it has worked.

Thanks for solution !

P.S.
Anyway there is an issue in SV for Mac on creating config file.

[2022-01-28 09:24] ParadiseFallen opened #39830 "Sections doesn't populate from partials."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When partial contains
[code]
([SectionBody] and [SectionName] are placeholders)
And then use this partial as
[code]
and render it in `_Layout`
then in `_Layout` will be partial & index `HTML` markup *BUT* there will be ONLY `SectionName` from `Index.cshtml` and no from `partial`.

### Expecte

[2022-01-28 09:48] ControlSoft-Automation commented on #39606
I found a workaround, but it may be specific to my circumstances. The issue occurs for me because I have IsPacking and GeneratePackageOnBuild set to true. I also have a 'Host' project that builds a background worker service that I install as a service to self-host the output from the WASM. It too had IsPacking and GeneratePackageOnBuild set to true, but it also has PackAsTool set to true. Setting

[2022-01-28 10:00] #39806 closed

[2022-01-28 10:00] #39791 closed

[2022-01-28 10:00] #39784 closed

[2022-01-28 10:00] #39775 closed

[2022-01-28 10:13] javiercn commented on #39830
@ParadiseFallen thanks for contacting us.

This behavior is by design. Sections only apply to the main view rendered by a given layout, they can't be rendered from partials.

[2022-01-28 10:15] ParadiseFallen commented on #39830
@javiercn thanks for quick answer.

Then i wanna change it from bug to feature request

[2022-01-28 10:59] topfunet commented on #17412
Any update?

[2022-01-28 11:09] javiercn commented on #39825
@genifycom thanks for contacting us.

@SteveSandersonMS do you have any thoughts?

[2022-01-28 11:21] Mike-E-angelo commented on #38351
I do apologize for the confusion here.  [According to this comment](https://github.com/dotnet/aspnetcore/issues/32867#issuecomment-1013354081), this should have been addressed in preview2?  This was my understanding when I posted my last comment, which seems to have contributed to the issue being locked. 😇

But now it appears with subsequent updates that this is slated for .NET7, if I understand c

[2022-01-28 11:25] unicomp21 commented on #39583
@wegylexy does anything prevent us from simply forking the repo?

[2022-01-28 11:27] unicomp21 commented on #39583
@nibanks if we forked msquic to make the webtransport changes, what are the downsides?

[2022-01-28 11:39] uyau commented on #39816
okey, as I mentued, I'm getting "None" from that statuses I guess.
`if (errorCode == SecurityStatusPalErrorCode.OK
                    || errorCode == SecurityStatusPalErrorCode.ContinueNeeded
                    || errorCode == SecurityStatusPalErrorCode.CompleteNeeded)
                {
                    status = BlobErrorType.None;
                }`
So, my request can't pass some steps in  `

[2022-01-28 12:22] artzfly opened #39831 "Non bubbled event from custom element doesn't reach the Blazor handler"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I was trying to add event handler for an @onclosed as below,
![image](https://user-images.githubusercontent.com/60744754/151544769-415733b0-dac7-4317-9222-7b29ae3f3e8c.png)

I have `bubbles` set to `false` for the event triggered from the custom element,
![image](https://user-images.githubuse

[2022-01-28 13:08] wegylexy commented on #39583
I am not familiar with building the SDK/runtime itself, so I am using the same namespace in my assembly to override the classes and add datagram support. There may be name conflicts when the official API becomes `public` in .NET 7.
The current QPACK handling seems incomplete. I hard-coded `new byte[] { 1, 0x1F, 0, 0, 0xD9, 0x2F, 0x0D, 0x41, 0x48, 0xB7, 0x82, 0xC6, 0x9B, 0x07, 0x52, 0x2B, 0x3D, 0x8

[2022-01-28 13:22] nibanks commented on #39583
@unicomp21 I don't have the necessary expertise at the .NET layer to provide useful guidance, but ideally the best way forward would likely be to work with the .NET devs to add the functionality you need directly to .NET.

[2022-01-28 13:25] mbucek commented on #38727
The main problem is, that "WebApplication" is the default name, and that default name is not allowed. So I think also this shall be fixed. (IDE shall use another default name, which does not end in a compile error CS0234 The type or namespace name 'CreateBuilder' does not exist in the namespace 'WebApplication'

[2022-01-28 14:27] thaystg commented on #38413
@JansthcirlU can you please run the app and when it's running and the breakpoints are not working can you please run in cmd.
`-> ps -ef | grep BrowserDebugHost`
And please paste here the result?

Thanks.

[2022-01-28 14:39] NabilBouazzaoui opened #39844 "I have this issue with asp.net run in the back-end"
unhandled exception occurred while processing the request.
InvalidOperationException: The SPA default page middleware could not return the default page '/index.html' because it was not found, and no other middleware handled the request.
Microsoft.AspNetCore.SpaServices.SpaDefaultPageMiddleware+<>c__DisplayClass0_0.<Attach>b__1(HttpContext context, Func<Task> next)

Stack Query Cookies Headers Rout

[2022-01-28 14:53] Grandizer opened #39834 "Virtualize working great - Modal implementation causes exponential lag"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a Blazor WASM page that renders a table with 16 columns of data over 4 types of objects. Each of these 4 objects only renders some of the columns and the rest are `colspan` together. I have between 400 to over 100K records. I implemented `Virtualize` and it works perfectly even with th

[2022-01-28 15:00] SteveSandersonMS commented on #39831
Yes, this is by design because Blazor uses event delegation to receive the events. This is performance and is common in other SPA frameworks too.

I think you'll have the same issue if you want to support React - see [this](https://www.freecodecamp.org/news/event-propagation-event-bubbling-event-catching-beginners-guide/) and [this](https://stackoverflow.com/questions/43098550/react-js-broke-dispa

[2022-01-28 15:30] FWest98 commented on #17412
Unfortunately, the PR has been closed (https://github.com/dotnet/aspnetcore/pull/34777#issuecomment-1018723729) as this issue will be addressed in a bigger scope (https://github.com/dotnet/aspnetcore/issues/8573)

[2022-01-28 15:33] pranavkm commented on #39815
Presumably this needs to be behind a `LangVersion=7.0` switch since it requires runtime changes?

`MulticastEventCallback` makes sense. The slight iffy part is that EventCallback wraps `MulticastDelegate` which kinda has the semantics we want (if you squint at it).

Overall I like this.

[2022-01-28 15:41] davidfowl commented on #38727
Definitely, file an issue on rider.

[2022-01-28 15:47] SteveSandersonMS commented on #39815
You're probably right!

Yeah, I did for a while try to work out a way of just using `MulticastDelegate` to model this, but it doesn't really work because it would be a breaking change for anyone who's already doing interesting things with `MulticastDelegate`. They already have the behavior that we treat it as returning a single `Task`, but the new version has to receive a set of `Task` instances s

[2022-01-28 15:52] Tratcher commented on #39816
None is a good thing, it means it finished successfully. So what makes you think there's a problem? Do you not see the user on HttpContext?

Please share your code from Startup.

[2022-01-28 16:10] Aworwui commented on #39354
running  the web application from the terminal without the reserve proxy
using the command
dotnet TBILLSWebBlazorServerApp.dll --urls http://0.0.0.0:80

run successfully the _framework/blazor.server.js  loaded successfully and the app is working well

[2022-01-28 16:32] uyau commented on #39816
[code]

This is my Startup.cs, also I have 2 Controllers where I use `return Challenge("Negotiate");` in first, and `await HttpContext.ChallengeAsync("Negotiate");` in second. In logs I see token coming from client in Header "Authorize Negotiate YII...." so I'm sure it's passed to backend. And after "None" in logs, I get new 401 request with WWW-Authenticate Negotiate. There is no user Claims, and

[2022-01-28 16:41] Tratcher commented on #39816
Are you going through a proxy? Most proxies break with Negotiate since it's a connection bound protocol. However, I'd expect errors in that case. Does it work without the proxy? Also try it without IdentityServer.

[2022-01-28 17:39] blowdart commented on #39706
Chinese I can probably find :)

barry.dorrans@microsoft.com - please use your native language and I'll try to find someone who can translate.

[2022-01-28 17:40] pranavkm commented on #39826
`JSON.stringify({a: 1, b: 2})` produces a JSON string representation of your object, but does not produce a JSON string which is what you're attempting to bind. If you look at the ModelState errors, it should include a message to that effect.

[2022-01-28 17:53] SteveSandersonMS opened #39837 "Design proposal: Bind get/set/after modifiers"
## Summary

Provides ways of customizing how Blazor's `@bind` reads and writes a value, solving several common problems at once.

## Motivation and goals

After thinking through the "multiple event handlers" proposal (https://github.com/dotnet/aspnetcore/issues/39815), I've started to think the real problem we should solve is quite different. That is:

 * I'm **not** convinced we need multiple eve

[2022-01-28 17:55] SteveSandersonMS commented on #39815
@pranavkm I've written up a very different solution strategy at https://github.com/dotnet/aspnetcore/issues/39837. If we go for that, it would make this "multiple event handlers" concept entirely unnecessary.

[2022-01-28 18:11] CommonLoon102 commented on #38351
Based on this PR, it is being backported to .NET 6.0.3:
https://github.com/dotnet/sdk/pull/23419

It was told that it will come in VS 17.2 (see last comment in the PR linked above). I don't know the ETA for that. Even 17.1 is yet to be released.

[2022-01-28 18:19] Mike-E-angelo commented on #38351
Ahhhhh 17.2, not to be confused with 17.1 Preview 2, as I was doing. :)  Thank you for the pointer and correction, @CommonLoon102.

[2022-01-28 18:20] pranavkm opened #39839 "JSRuntime.Invoke APIs aren't correctly annotated for trimming"
Follow up to https://github.com/dotnet/aspnetcore/pull/39838. JSRuntime's API (excluding the unmarshalled ones) use JSON serialization to serialize the args array and as such are subject to being trimmed away. S.T.Js API for its serialization are annotated with RequiresUnreferencedCode with a recommendation to use the source-generator based overload to avoid this.

Blazor's APIs suppress STJ's war

[2022-01-28 18:21] pranavkm commented on #38351
@Mike-E-angelo 17.2 preview1 would ship the same day 17.1 ships (part way thru February 2022).

[2022-01-28 18:22] pranavkm commented on #39839
FYI @TanayParikh

[2022-01-28 18:25] pranavkm commented on #39837
Perhaps `@bind:onset` since it's an event as opposed to a straight up setter unlike the getter? But I like this proposal a whole lot better.

[2022-01-28 18:28] prvavill commented on #39826
Thank you Pranav for your reply. Not sure I followed 'produces a JSON string representation of your object, but does not produce a JSON string'. what is mean by representation here, is this not JSON string?  from here https://onlinetexttools.com/json-stringify-text I see that 'The JSON.stringify() method converts a JavaScript object or value to a JSON string'
![image](https://user-images.githubuse

[2022-01-28 18:41] DamianEdwards opened #39840 "Allow direct configuration of authorization policies via endpoint metadata"
Relates to #34545

We should allow the definition and/or application of authorization policies to specific endpoints via endpoint metadata at the time they're declared. This will make configuration of resource authorization for Minimal API style applications much simpler and more inline with the principals of Minimal APIs while still enabling re-use of policies via language features rather than re

[2022-01-28 18:56] BrennanConroy commented on #39840
We have this one already
https://github.com/dotnet/aspnetcore/blob/d4e70bd66865077c9af13067ec6cb84819e68977/src/Security/Authorization/Policy/src/AuthorizationEndpointConventionBuilderExtensions.cs#L60

[2022-01-28 19:04] davidfowl commented on #39840
@BrennanConroy to make the attribute work with SignalR, we need to pass the hub method metadata to the auth system so that it can invoke these attributes.

@DamianEdwards I'm not yet sure if we need to make changes to the authZ APIs to allow passing the endpoint metadata as requirements or if the caller needs to do that manually.

[2022-01-28 19:04] HaoK commented on #39840
Should we add an example of what a more complicated Permissions system would look like to see how much better this is now that the handler has access to the Attribute data?  i.e. Policy = "Read" / "Write" / "Delete" can become `new RequirePermission(Permissions.Read | Write | Delete)` right?

[2022-01-28 19:08] ZacBoyet commented on #33247
I very much need this functionality and hope that this does not get left in the dust.

[2022-01-28 19:09] davidfowl commented on #39840
Yes! @HaoK, exactly. So something like this:

[code]

[2022-01-28 19:24] HaoK commented on #39840
So the one caveat is that the current limitation with the instance based Handler/Requirements, is you lose the ability to inject as easily, which is something worth mentioning up front, so maybe its worth updating the permission example to demonstrate how they'd get the DbContext from the request and pass it through to the GetPermissionsForUser call to make it more 'real'

[2022-01-28 19:27] pranavkm commented on #39729
Fixed as part of https://github.com/dotnet/sdk/pull/23636

[2022-01-28 19:27] #39729 closed

[2022-01-28 19:28] DouglasRiddle opened #39843 ".NET 6 Blazor byte[] issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When attempting to load a `byte[]` of a plain text document using the .NET 6 `Uint8Array` it appears to be adding unexpected characters to the resulting output.

Actual text
`–€À³JS.ReceiveByteArray’ÄPlain Text String`

Expected
`Plain Text String`

The output returns to normal if I use `

[2022-01-28 19:42] davidfowl commented on #39840
Here's what I was thinking because this issue doesn't quite do it justice:

To summarize what feature we're adding here so it's clear:

This extends how and where you get to define authorization requirements. Today the only way to use this list of requirement is via a policy name. The policy name maps to a list of requirements and a list of authentication schemes. So there's this indirection that

[2022-01-28 19:50] javiercn commented on #39843
@DouglasRiddle thanks for contacting us.

I believe you should be using the [textencoder](https://developer.mozilla.org/en-US/docs/Web/API/TextEncoder) APIs to do the conversion to text on the JS side.

A

[2022-01-28 19:52] javiercn commented on #39843
Also, I would check the following docs on how to achieve what you are trying to do https://docs.microsoft.com/en-us/aspnet/core/blazor/file-downloads?view=aspnetcore-6.0

[2022-01-28 19:57] DamianEdwards commented on #39840
Note you still need to call `builder.Services.AddAuthorization()` right now (in your "After" sample) but we're going to look at ways to potentially improve that separately.

[2022-01-28 20:00] #38650 closed

[2022-01-28 20:01] AnthonyMastrean commented on #34420
This issue frequently occurs when running any of the popular web site/application vulnerability scanners.

[2022-01-28 20:03] #30751 closed

[2022-01-28 20:03] #35162 closed

[2022-01-28 20:04] TanayParikh commented on #39843
Thanks @DouglasRiddle for reaching out. You need to update line 19 to use the `Uint8Array` provided as the arg, and NOT the underlying buffer:

[code]

needs to be changed to:

[code]

as Javier mentioned, https://docs.microsoft.com/en-us/aspnet/core/blazor/file-downloads?view=aspnetcore-6.0 provides more guidance on downloading files with Blazor.

As a side note, you can also use `await js.Invoke

[2022-01-28 20:15] DouglasRiddle commented on #39843
@TanayParikh I can confirm your resolution works with my existing code.

Thank you both for the provided info and optimization guidance.

[2022-01-28 20:16] #39843 closed

[2022-01-28 21:05] mkArtakMSFT commented on #39837
It'll also make it easier to understand that it's a handler, but will break the "get/set" combination, which is also easy to remember. Choosing between easy to remember and intuitive / help me understand what's going on here - I'd chose the latter. So, `@bind:get/@bind:onset` seems fine to me.

[2022-01-28 21:15] JansthcirlU commented on #38413
@thaystg I get the following output:
`jansthc+   13353   12389  0 22:14 pts/0    00:00:00 grep --color=auto BrowserDebugHost`

[2022-01-28 21:16] thaystg commented on #38413
@JansthcirlU Please try this then:
-> ps -ef | grep dotnet
And please paste here the result?

[2022-01-28 21:21] JansthcirlU commented on #38413
@thaystg I get the following:
[code]

[2022-01-28 21:21] BrennanConroy commented on #39811
Does this happen all the time?
Are you running the server under a debugger?
Can you share Trace level server logs that show the SignalR connection? https://docs.microsoft.com/aspnet/core/signalr/diagnostics?view=aspnetcore-6.0#server-side-logging

[2022-01-28 21:22] thaystg commented on #38413
@mkArtakMSFT for some reason the BrowserDebugHost is not being started that is why the breakpoints are not being bind. This is not on our side, do you know who can work on this?

[2022-01-28 21:22] thaystg commented on #38413
@JansthcirlU Thanks!

[2022-01-28 21:23] adityamandaleeka commented on #39818
Triage: this seems like an SDK issue. Transferring to dotnet/sdk.

[2022-01-28 21:25] thaystg commented on #38413
I think it's important to say that I couldn't reproduce the issue locally. I can correctly debug using VSCode on Ubuntu.

[2022-01-28 21:25] adityamandaleeka commented on #39744
Can you share your code in a repo (or at least a sample with enough to show how you're using it)?

[2022-01-28 21:29] JansthcirlU commented on #38413
@thaystg yeah I'm also not sure what's wrong, do you think that a zip of your project directory including the `.vscode` folder would work on my pc?

[2022-01-28 21:32] thaystg commented on #38413
@JansthcirlU  Hum, maybe this is a good idea, but let's try the opposite way, you send me the zip of your project and I try to reproduce using yours?

[2022-01-28 21:40] JansthcirlU commented on #38413
@thaystg I'm not sure how to send it directly to you so I just uploaded it to github: https://github.com/JansthcirlU/MyBlazorApp

[2022-01-28 21:42] sebastienros opened #39846 "Connection performance improvements"
- [x] https://github.com/dotnet/runtime/issues/61233

[2022-01-28 21:44] nfplee commented on #38650
Can you please re-open this.

[2022-01-28 21:58] thaystg commented on #38413
I cloned your repo and it doesn't work locally also.
But then I changed the launch.json, added the url and changed the browser to chrome(because I don't have Edge installed):

[code]

And then it works.

[2022-01-28 21:59] vsfeedback opened #39847 "Blazor does not passes typeparam TItem into EventCallback through attribute [CascadingTypeParameter(nameof(TItem))]"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Blazor-does-not-passes-typeparam-TItem-i/1649567)._

---
.net 6 Blazor can not pass typeparam TItem=UserCommonDto into EventCallback<ColumnCellChangeEventArgs<UserCommonDto, int, IntEdit>> through attribute [CascadingTypeParameter(nameof(TItem))] (first screenshot) but everething works f

[2022-01-28 22:00] #38804 closed

[2022-01-28 22:01] mkArtakMSFT commented on #39847
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2022-01-28 22:03] vsfeedback opened #39848 "blazor errors without ambiguity"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/blazor-errors-without-ambiguity/1647918)._

---
when working with blazor I often get build errors which are very difficult to find because double clicking on them in the ErrorList window does nothing.

A lot of them are pointing to a razor.g.cs file which I don't know the location of and

[2022-01-28 22:03] JansthcirlU commented on #38413
I installed chrome again just to test, but debugging launches a blank page and doesn't try to open the localhost addresses. Moreover, the page closes automatically after a few minutes.

[2022-01-28 22:03] mkArtakMSFT commented on #39848
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2022-01-28 22:04] thaystg commented on #38413
Did you add the URL on launch.json?

[2022-01-28 22:05] vsfeedback opened #39849 "ASP .NET Core Razor Page Data Annotations Localizations fail"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/ASP-NET-Core-Razor-Page-Data-Annotation/1644558)._

---
[severity:I'm unable to use this version] [regression] [worked-in:3.1]
Data Annotations do not localize in .NET 6. For example:
public class MyViewModel
{
...
[Display(Name = "name")]
...
}

Razor Page:
...
<label asp-for="myView.Na

[2022-01-28 22:05] JansthcirlU commented on #38413
Oops, I forgot to do that. Interestingly, if I stop the debug session and start a new one, I get a pop-up saying that the previous debug session didn't terminate correctly.

[2022-01-28 22:06] Tratcher commented on #39807
Please follow the instructions from https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-6.0 to save your encryption keys somewhere stable so they'll be available when the app reboots.

[2022-01-28 22:15] vsfeedback opened #39850 "VS2022 Blazor debugging with F10/F11 goes into JS minimised code and not my code"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VS2022-RC3-Blazor-debugging-with-F11-goe/1566868)._

---
[severity:It's more difficult to complete my work]
I'm calling a method and I want to step into that method with F10/F11 to continue debugging. However, I step into a big mess of JS Blazor minimised code. Not my thing.

See the rec

[2022-01-28 22:16] thaystg commented on #38413
Yeah, I also got this message, but then I clicked that I want to continue anyway and then it worked, did you get the same behavior?

[2022-01-28 22:20] JansthcirlU commented on #38413
@thaystg debugging with chrome works! The only downside is that I get a pop-up with the following warning when I debug a second time (after closing the previous debug sessions):
[code]
But there's no chrome window open.

[2022-01-28 22:24] MetaHex commented on #38413
Do you mean setting breakpoint in chrome? or do you mean setting breakpoint in vscode?

[2022-01-28 22:25] vsfeedback opened #39851 "VS 2022 preview 2.1: Blazor WebAssembly debugging can't move current cursor when paused"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/VS-2022-preview-21:-Blazor-WebAssembly-/1498552)._

---
[severity:It's more difficult to complete my work]
When I'm stopped in a line of code while debugging, I want to move the cursor to the line above to re-execute a method call, however VS doesn't let me do it. Normally in C# code I'v

[2022-01-28 22:26] JansthcirlU commented on #38413
@MetaHex inside vscode (in Counter.razor)

[2022-01-28 22:32] thaystg commented on #38413
@JansthcirlU, when you were trying on edge, VsCode is at least launching edge?

[2022-01-28 22:36] JansthcirlU commented on #38413
Oh sorry, I missed your reply, yes when I clicked "Debug anyway" it worked just as well, but it's pretty annoying when it occurs every time.

As for edge, it did not launch.

[2022-01-28 22:41] Marusyk commented on #39454
I'm gonna prepare a PR for this, pls assign it to me

[2022-01-28 22:51] MetaHex commented on #38413
Thanks Jan.

For me, on mac, debugging on vscode works for both blazorwasm and hosted server side. On pc, vscode only can set breakpoint on the server side. blazorwasm side always says no symbol loaded. I tried everything listed above. additionally reinstalled vs and all the sdk.

VS debugging works for both mac and pc.

I guess one difference is that I am using hosted blazor wasm and not standalo