[2019-02-26 13:48] benaadams commented on #7950
[code]

[2019-02-26 13:50] PierpaoloBattaglioneSpecifi commented on #7612
Ok, got the problem, the selector

[code]

it's **wrong** because it copies only the HTML and not the entire DOM.

The best options is this

[code]

so it can preserve the "_blazorEvents_1"

![image](https://user-images.githubusercontent.com/40863243/53416956-d7548000-39d4-11e9-8872-dfda7f013458.png)

Of course you need to save the content before the popover is destroyed but for now it's a decent

[2019-02-26 13:52] benaadams opened #7951 "[CI] Failed ContentLength_Received_ReadViaPipes"
Test: Ubuntu 16.04 x64 Job

Failed   ContentLength_Received_ReadViaPipes
[code]

/cc @jkotalik

[2019-02-26 13:53] benaadams commented on #7951
Guessing, fix is https://github.com/aspnet/AspNetCore/pull/7933

[2019-02-26 14:20] pranavkm commented on #7947
This is expected. In the first case, you would have a `QueryString` entry with `key = "culture=en-US", value = ""`, which is not something localization looks for.

[2019-02-26 14:20] #7947 closed

[2019-02-26 14:34] pranavkm commented on #7874
I'm marking this as a bug to see if there's interest in making this work out of the box. For 2.2, you could do this by specifying a `ProducesErrorResponseAttribute` e.g.

[code]

That said, do you actually see an empty body in the response? `ApiController` adds a result filter by default that should turn your 401 unauthorized status code result to one with a `ProblemDetails` body.

[2019-02-26 14:42] pranavkm commented on #7865
@jklawrence thanks for your issue report. This sounds like a neat idea. One way we could add support for this is to allow optional parameters in the convention method e.g.

[code]

which would match `Get(id, CancellationToken token)` as well as `Get(id)`. In the meanwhile, one workaround to avoid duplicating your conventions might be to use to a trailing `params` argument.

[code]

You do risk ove

[2019-02-26 14:48] pranavkm commented on #7891
@pakrym would this be related to InProc work? @hzicong is this in local dev environment? Unless you turned off build time compilation, or modified cshtml files at runtime, views wouldn't get compiled at runtime.

[2019-02-26 14:51] arun-cm opened #7952 "[Blazor] Template is not working in both Visual Studio 2019 preview 3.0 and VS Code"
### Describe the bug
Blazor is not working on Both Visual Studio 2019 Preview 3.0 and VS Code

### To Reproduce
Steps to reproduce the behavior:
1. Install Visual Studio 2019 Preview 3.0
2. Install .NET Core SDK 3.0 Preview
3. Install the latest Blazor Language Services extension from the Visual Studio Marketplace. This step makes Blazor templates available to Visual Studio.
4. Make the Blazor tem

[2019-02-26 15:23] StevenLiekens commented on #2867
On topic: json schema doesn't work well with the way settings are merged. I found it's impossible to make a property required in `appsettings.json` but optional in `appsettings.Development.json` or vice versa.

[2019-02-26 15:45] rynowak commented on #7948
This is used by the generated code to allow you to pass an `Action` instead of an `Action<T>` for an event handler.

[code]

VS

[code]

There's a variety of different signatures we allow for event handlers, and they are resolved by the C# compiler using overload resolution. The code we generated (in 0.8 and earlier) looks like:
[code]

[2019-02-26 15:49] jkotalik commented on #7891
No, it's running dotnet.exe. In-proc would be using iisexpress or w3wp.

[2019-02-26 16:03] Tratcher commented on #7215
Then it's working as intended. I understand not wanting to hardcode the port in code, but setting it from config is the only other suggestion I have for you.

We don't plan to make changes here as Scenario 2 is our official guidance.

[2019-02-26 16:20] quintonn commented on #7215
The main reason i raised this issue is that it was unclear which of the code to use.
There could maybe be a deprecated warning or something like that then?

Also, you mentioned scenario 2 is the way going forward. So that means it will become impossible to have both https and http endpoints, with redirection on the https endpoints?

[2019-02-26 16:25] Tratcher commented on #7215
Mixing http and https is discouraged but not deprecated, we're aware of a few cases where you might need to do it. The [docs](https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-2.2&tabs=visual-studio) and templates give strong guidance towards scenario 2 already, but maybe we could update the doc comments on RequireHttps to indicate the preference as well.

[2019-02-26 16:32] mindaugasdirg opened #7955 "WsFederation SaveTokens is not working"
Hello,

I have tried setting `WsFederationOptions.SaveTokens = true` to get token in `AuthenticationProperties` but it is not being set in Asp.Net Core 2.0 or 2.1.

According to the documentation ([WsFederationOptions documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.wsfederation.wsfederationoptions?view=aspnetcore-2.1))  it should work, but it looks li

[2019-02-26 16:52] jklawrence commented on #7865
@pranavkm thanks for taking a look. I like the idea of allowing optional parameters in the convention method. That seems like an elegant way to solve this without a special case for CancellationToken.

In my organization's application we use CancellationTokens in all of our ApiController actions, so I'm able to just set a CancellationToken parameter on each convention.

[2019-02-26 17:06] blowdart commented on #7955
What tokens do you expect there to be in WSFed? The token is the identity, there aren't refresh or access tokens in WSFed.

[2019-02-26 17:36] Tratcher commented on #7955
This has been discussed before: https://github.com/aspnet/Security/issues/1716

[2019-02-26 17:51] #7948 closed

[2019-02-26 17:53] MarkStega opened #7958 "[Blazor] Newtonsoft.Json.JsonConvert fails to deserialize POCO in WASM environment"
### Describe the bug
I have a service that is creating a json representation of a POCO. When I consume the service on the server side the json can be deserialized by NewtonSoft.Json. When consumed in the client the deserialization fails and leaves 'garbage' in the POCO.

### To Reproduce
Steps to reproduce the behavior:
1. ASP.NET Core '3.0.0 Preview 2'
2. Blazor '0.8.0'
3. Run this code in the wa

[2019-02-26 17:54] mkArtakMSFT commented on #7946
Thanks for contacting us, @voroninp.
@javiercn, do you have any thoughts regarding this ask?

[2019-02-26 17:55] pakrym commented on #4789
Yes.

[2019-02-26 17:59] voroninp commented on #7946
I’d even one more option. You use `TStartup` for searching the project and I may need to inherit from it to further adjust startup behavior. Would be nice to have this option as well without losing correct path resolution if type of descendant is used as generic argument.

[2019-02-26 18:12] enetstudio commented on #7948
I got it...Thanks...

[2019-02-26 18:14] blowdart commented on #7916
Ah if it's official images, then yea, sure. @muratg as Nate is now OOF who would you assign for this? In change size it's pretty small.

[2019-02-26 18:14] mikaelm12 commented on #7722
If you're expecting an inner exception and it's not being propagated then that might be a different issue altogether. I'd suggest filing a new issue with more details so that we can investigate further.

[2019-02-26 18:18] halter73 opened #7960 "Remove CancelableAsyncEnumerable"
Epic https://github.com/aspnet/AspNetCore/issues/8796

Instead iterate the IAsyncEnumerable manually using GetAsyncEnumerator() and a while loop to avoid an allocation. See https://github.com/aspnet/AspNetCore/pull/6791#discussion_r259196518.

[2019-02-26 18:20] vkukke commented on #7937
I understand about being able to detect DNS changes early, but the current behavior is odd that it recycles even though there are no errors. I'm not sure then what is the purpose of HttpClientFactory.
It seems to have a limited use case and not meant for scenarios where we are looking at a steady traffic stream.  Additionally creating a new connection seems extremely slow. Is that expected or new

[2019-02-26 18:28] muratg commented on #7916
@blowdart What's the change proposed? To detect that we're running in a Docker container and do what? It's not guaranteed that a volume is attached, so we can't save the key there automatically.

Is the proposal to warn if we detect that we're running in a container? That should be a small change.

The correct change would probably be to detect that the keys are NOT saved in a attached volume and

[2019-02-26 18:34] javiercn commented on #7935
@rynowak aren’t you taking care of this as part of tour PR already?

[2019-02-26 18:34] blowdart commented on #7916
@muratg fall back to ephemeral, and let that log message happen. Or make the detection in `FileSystemXmlRepository` warning more generic. So make AspNetCore/src/DataProtection/DataProtection/src/Internal/DockerUtils.cs more generic and have a container check, which looks for a published and documented environment variable. Kubernetes has some environment variables we can look for too, in addition

[2019-02-26 18:37] muratg commented on #7916
So warn even if the user is doing the right thing per the doc? (i.e. configure to save the key to a volume attached while running under docker.)

cc @anurse @pakrym

[2019-02-26 18:39] blowdart commented on #7916
No, not if they're doing the right thing, because we have IsVolumeMountedFolder to avoid that.

[2019-02-26 18:40] HaoK commented on #7950
@pakrym I've seen the IIS error before too, are these related to your changes that turned build in parallel on perhaps?

[2019-02-26 18:42] DanFTRX opened #7961 "File-Class name mismatch"
https://github.com/aspnet/AspNetCore/blob/master/src/Identity/Core/src/DataProtectionTokenProvider.cs

File name does not match class name.  Made it a hassle to find in github.

[2019-02-26 18:42] muratg commented on #7916
@anurse we can discuss the timeline for this offline.

[2019-02-26 18:42] pakrym commented on #7950
Quite possibly, I'll take a look.

[2019-02-26 18:47] blowdart commented on #7916
It'd be nice to talk to the Windows container folks too, to fill in the missing bits for those. But only nice, not essential.

[2019-02-26 18:47] AndreasTruetschel opened #7962 "Allow custom component instantiation"
Change the access modifier of [ComponentFactory](https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/ComponentFactory.cs) to public to allow instatiation of components.

An even better solution is to add an interface `IComponentFactory` that is implemented by `ComponentFactory` and that is registered in the `ServiceCollection`.

[My current use case for this](https://git

[2019-02-26 18:48] blowdart commented on #7961
@HaoK fancy a quick rename? :)

[2019-02-26 18:51] anurse commented on #7916
This seems straightforward assuming we're OK with just using the environment variable in the official image. It means that if someone builds a custom image and doesn't include the env-var they won't get the warning, but I think someone doing that is probably more advanced.

Seems reasonable and straightforward

[2019-02-26 18:52] benaadams opened #7963 "Kestrel: Pass ReadOnlySequence<byte> via in"
Its a 32-byte `readonly struct` so it avoids a chunky copy

e.g. adding the param to Transport.Sockets `SendAsync` changes `ProcessSends` from
[code]
To
[code]

[2019-02-26 19:14] jkotalik commented on #7188
@muratg Let's make sure everything work for this scenario in 3.0.

[2019-02-26 19:28] pranavkm opened #7966 "Set PreserveCompilationReferences in the RuntimeCompilation package"
This is required for runtime compilation to work in published apps

[2019-02-26 19:28] oferns commented on #4597
Ok. So i dont know about @rynowak but I use conventional route patterns. I know everyone loves attribute routing but I don't see the appeal but I believe this approach could work with that as well. What I am doing now is after registering the routes in the UseMvc extension method like this

[code]
I then loop the routes collection here and add the route templates to an internal static collection i

[2019-02-26 19:49] rynowak commented on #7937
The factory provides a bunch of conveniences for creating clients that include logging by default, and use other message handlers to implement various cross-cutting policies.

It **also** provides lifetime management of the underlying handler, which is optional and can be turned off. In the time period where it was first created (2.0-2.1) there was no really good solution to these issues on linux

[2019-02-26 19:49] #7937 closed

[2019-02-26 20:26] mikaelm12 opened #7969 "Add baseline version test to 2.2 branch"
Related to: https://github.com/aspnet/AspNetCore/issues/7546
Need to add a test in the 2.2 Branch for the issue above. The project structure has changed so it couldn't just be merged forward. Will be adding the test in a new PR.

Conceptually the same as: https://github.com/aspnet/AspNetCore/pull/7627

[2019-02-26 20:27] mikaelm12 commented on #7969
cc @dougbu @natemcmaster

[2019-02-26 20:29] dougbu commented on #7969
👍 note this is fairly urgent. We don't have much runway left even for test-only changes.

[2019-02-26 20:31] mikaelm12 commented on #7969
Okay, I'll get the PR out today

[2019-02-26 20:37] ryanbrandenburg opened #7970 "Fix Angular for 7 and SSR"
It seems that [in this PR](https://github.com/aspnet/AspNetCore/pull/7721/files) we updated to Angular 7. In addition to being an unexpected change that would should verify the base experience of, we should also fix this for SSR (followed by [updating the documentation](https://github.com/aspnet/Docs/issues/8139)).

CC @mkArtakMSFT

[2019-02-26 20:42] rynowak commented on #7935
No. I cleaned up a bunch of places where we use the terms in comments and stuff. I didn't make changes that will break user code.

Notice that this item says "think about", I didn't make any proposals for what to change it to and how it should look. I'd even be open to arguments that it should stay 😆

[2019-02-26 20:49] pakrym opened #7972 "Re-enable rest of IIS tests on Helix"
There are 3 disabled currently:

`StartsWithDotnetInstallLocation`, `StartsWithPortableAndBootstraperExe` and `CheckMofFile`

[2019-02-26 20:51] ryanbrandenburg opened #7973 "Add tests for GRPC template"
We added [a new template](https://github.com/aspnet/AspNetCore/tree/master/src/ProjectTemplates/Web.ProjectTemplates/content/GrpcService-CSharp), but it has no tests. Does it contain all the files we expect? Does it compile and run, much less produce the expected results? We have lots of infrastructure to make this easy. [Use this](https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTempla

[2019-02-26 20:55] ryanbrandenburg opened #7974 "Add tests for Worker template"
We added [a new template](https://github.com/aspnet/AspNetCore/tree/master/src/ProjectTemplates/Web.ProjectTemplates/content/Worker-CSharp), but it has no tests. Does it contain all the files we expect? Does it compile and run, much less produce the expected results? We have lots of infrastructure to make this easy. [Use this](https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/t

[2019-02-26 21:00] brandonpollett opened #7975 "HttpContextAccessor.HttpContext is null when using TestServer and .net 2.2.2"
### Describe the bug
When using .net core 2.2.2 along with the `TestServer`(https://github.com/aspnet/AspNetCore/blob/master/src/Hosting/TestHost/src/TestServer.cs), `HttpContextAccessor.HttpContext` will return null in certain situations. We're experiencing this is the repro: https://github.com/Microsoft/fhir-server/

If you have 2.2.1 installed, this behavior is not exhibited. It appears related

[2019-02-26 21:00] brandonpollett commented on #5144
@Tratcher I believe we have run into a similar issue with TestServer and I opened a new issue with a repro here: https://github.com/aspnet/AspNetCore/issues/7975

[2019-02-26 21:20] skolima commented on #7975
I'm having similar issues, though forcing `Microsoft.AspNetCore.App` version to 2.2.2 in the test projects resolves them for me. I'm suspecting this is because an `Microsoft.NET.Sdk` project doesn't get the same resolution rules for the `Microsoft.AspNetCore.App` and instead runs with the _lowest_ possible version accepted by `Microsoft.AspNetCore.TestHost` - building in diagnostic mode seems to c

[2019-02-26 21:31] BogCZE opened #7976 "await SmtpClient.SendMailAsync never ends"
### Describe the bug
Hi guys,
We've got problem with SmtpClient.SendMailAsync method. When try to send MailMessage with null or empty Body SendMailAsync never ends or throws exception and thread is stucked.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2.1'
2. Run this code - not full code just the main part (we are using our own smtp server)
[code]
3.

[2019-02-26 21:50] anurse opened #7977 "Unintended public APIs in SignalR: HubConnection.ResetSendPing/ResetTimeout"
https://github.com/aspnet/AspNetCore/blob/9355c7c1a5bba8c745212ff1a0a768c976b20fc8/src/SignalR/clients/csharp/Client.Core/ref/Microsoft.AspNetCore.SignalR.Client.Core.netstandard2.0.cs#L40-L41

I don't think these were intended to be public. They aren't something we expect a user to call. They may need to be `internal` (via IVT) or something...

cc @halter73 @BrennanConroy @mikaelm12

[2019-02-26 21:51] anurse commented on #7977
If we can remove these in 3.0 that would be ideal, but if not we should put these on the track to removal...

[2019-02-26 22:13] mikaelm12 commented on #7977
Yeah, I think these should be internal

[2019-02-26 22:37] anurse commented on #7977
If these shipped this way in 2.2 (or earlier) things get a little tricky :). I think these came from 2.2's client pinging work.

[2019-02-26 22:38] benaadams opened #7978 "[CI] AspNetCore-helix OSX.1012.Amd64.Open generally timeout"
Like infra issue as see it in corefx also

![image](https://user-images.githubusercontent.com/1142958/53451668-3935d980-3a17-11e9-8e62-ea25c34d31cd.png)

![image](https://user-images.githubusercontent.com/1142958/53451618-26230980-3a17-11e9-839d-dae665b8b97e.png)

[2019-02-26 22:44] muratg commented on #7976
@BogCZE you may want to move this bug to `dotnet/corefx` repo. It doesn't appear it's related to ASP.NET Core.

[2019-02-26 22:49] ryanbrandenburg commented on #7970
As per https://github.com/aspnet/Docs/issues/8139#issuecomment-467613547 we'll want to remove snippets related to SSR instead. The doc work can come first.

[2019-02-26 22:52] halter73 commented on #7977
I doubt anyone calls these, so I think we should just make these methods internal for 3.0 and make a breaking change announcement. Obsoleting it for a release seems unnecessary.

[2019-02-26 23:02] seriouz opened #7979 "[Blazor] After updating to 0.8.0 IComponentsApplicationBuilder missing"
### Describe the bug

I've updated my Blazor app to 0.8.0 and now im getting a missing service error when i start the app:

[code]

Program.cs
[code]

Startup.cs
[code]

[2019-02-26 23:07] benaadams commented on #7976
Link here https://github.com/dotnet/corefx

[2019-02-26 23:17] pranavkm commented on #7904
It limits itself to files that it's rooted to. The one that AspNetCore sets up is rooted to the content root (the application root directory).

It looks like you found a solution for your issue. Closing this one. Feel free to open a new issue if have further questions.

[2019-02-26 23:17] #7904 closed

[2019-02-26 23:22] ryanbrandenburg opened #7982 "Add tests for SPA authorization"
We added [new options to our SPA templates](https://github.com/aspnet/AspNetCore/commit/ea9793412795bbbb9e717c9844972a5bb3bb6707), but it has no tests. Does it contain all the files we expect? Does it compile and run, much less produce the expected results? We have lots of infrastructure to make this easy. [Use this](https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/test/MvcTem

[2019-02-26 23:40] anurse commented on #7977
I agree, but want to seek approval from @Eilon first ;)

[2019-02-27 00:26] yue-shi opened #7984 "Controllers of IEnumerable return type return 200 when unhandled exception happens"
An AspNetCore controller that returns `IEnumerable<T>`, `ActionResult<IEnumerable<T>>` or `JsonResult` returns HTTP status code 200 with `[` in the body when there is an exception thrown from the iterator.

### To Reproduce

Create a simple controller by following [https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.2&tabs=visual-studio](url). Change the **Get**

[2019-02-27 00:27] ChangAlanCL commented on #6142
I'm running into the same issue,
angular v6.4.1
signalr v1.1.0
signalr-msgpck v1.1.0

is there a fix for this?

[2019-02-27 00:30] parekhkb commented on #7975
@brandonpollett thank you for isolating the repro. I'm also hitting this issue.

[2019-02-27 01:04] BrennanConroy commented on #6142
Yes, v1.1.2 https://www.npmjs.com/package/@aspnet/signalr/v/1.1.2

[2019-02-27 01:05] HaoK opened #7986 "[Helix] WebApplicationFactory test needs additional publish files to work on helix"
Currently all of these kinds of tests are disabled on helix because they need to include additional things for these style tests to work

Helix tests are basically just doing a dotnet publish, copying the publish folder over as is, and run via dotnet vstest on helix machines.

These kinds of tests appear to need extra things like deps files, as well as potentially things like related views assembl

[2019-02-27 01:08] HaoK commented on #7986
Projects affected by this include:

[code]

[2019-02-27 01:30] mkArtakMSFT opened #7989 "Doc comments are missing for `RazorPagesEndpointRouteBuilderExtensions` class"

[2019-02-27 01:46] HaoK opened #7990 "[Helix] Cors.FunctionalTest needs additional files to run on helix"
This test needs more than just the sample destination/origin files it appears to run.  Whatever files it needs should be included in the publish directory for it to be running via dotnet vstest to work on helix.

The following changes will copy over the samples to the publish directory and find the files, but there were runtime errors related to npm after that

[code]

[2019-02-27 01:46] HaoK commented on #7990
Files such as project.json will likely need to be published as well

[2019-02-27 02:10] JamesNK commented on #7989
Preview 3?

[2019-02-27 08:23] s-haralampiev commented on #5541
Hi, what is the state of this issue? Are nullable types supported already in some way? I cannot bind to a nullable type yet and I am receiving the same error as stated above.

[2019-02-27 08:33] julienGrd commented on #5541
Hi, same behavior here (to bind a datetime? to an input type=date) , there is a "clean" workaround ?

[2019-02-27 08:36] 0xced opened #7995 "Where is HealthCheckResult.cs now?"
The `HealthCheckResult.cs` file used to be in the aspnet/Diagnostics repository at [src/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions/HealthCheckResult.cs](https://github.com/aspnet/Diagnostics/blob/master/src/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions/HealthCheckResult.cs)

Now that the aspnet/Diagnostics has moved to aspnet/AspNetCore, where can I find this file to s

[2019-02-27 08:40] 0xced commented on #7995
OK, I just found it here: https://github.com/aspnet/Extensions/blob/master/src/HealthChecks/Abstractions/src/HealthCheckResult.cs

[2019-02-27 08:40] #7995 closed

[2019-02-27 09:54] javiercn commented on #7946
We don't use TStartup to find the project, we use a type on the app assembly, which by convention is startup, but you can use Program and use a custom startup and that should work.

So

[code]

Also there is a method on the WebApplicationFactory `WithWebHostBuilder` that will create a child factory with your customizations for one off configuration changes.

[2019-02-27 10:06] javiercn commented on #7946
For simple injector, I'm not sure how it integrates with ASP.NET Core but we have a `ConfigureTestContainer<TContainer>` helper method that you can call to configure it. Provided that simple injector overrides the DI container factory.

If not, you can derive from startup and configure the container in the derived class or register the container instance in the asp.net core service collection, and

[2019-02-27 10:07] javiercn commented on #7946
Closing as the question has been answered.

[2019-02-27 10:07] #7946 closed

[2019-02-27 10:08] voroninp commented on #7946
@javiercn Yes, inheriting seems to be the only option as SI does not override the factory.

[2019-02-27 10:13] SteveSandersonMS commented on #7935
I agree we should do this, and I'd propose we do it just by going ahead and accepting that these will be breaking changes.

The number of developers who are using the `window.Blazor` APIs are probably pretty low by now (since we moved the JS interop to hang off `DotNet` instead of `Blazor`). Most of these APIs really exist only for use by the framework, e.g., by `BrowserUriHelper` and the renderer

[2019-02-27 10:31] javiercn commented on #7986
Functional tests are not designed to work against published content. There is extensibility to enable this scenario:
* You'll have to define some sort of layout for the wwwroots of the targeted projects in the published output. For example:
  * publish\Websites\BasicWebSite\wwwroot
  * publish\Websites\FilesWebSite\wwwroot
* You'll have to define assembly level attributes WebApplicationFactoryCont

[2019-02-27 10:35] voroninp commented on #7946
@javiercn  BTW, how do I get the instance of `CustomStartup`?  =)

[2019-02-27 10:52] javiercn commented on #3775
@mkArtakMSFT I don't even know what this workitem entails. I imagine it involves removing all the references below in favor of using the SDK that was just built. I'm not even sure our build system is prepared to do this. Who's in charge of the build these days now that Nate is on leave? Can he provide some guidance?

https://github.com/aspnet/AspNetCore/blob/master/src/MusicStore/samples/MusicStor

[2019-02-27 11:01] javiercn commented on #7946
@voroninp You need to hack around this I think.
Create CustomStartup and override ConfigureServices (make it virtual on Startup) and simply register your startup as a singleton in the service collection.

[code]

Then on your tests.
[code]

This should do it, if not, I'm out of ideas here.

[2019-02-27 11:14] voroninp commented on #7946
@javiercn Or just register in regular startup's `ConfigureServices`: `            services.AddSingleton(this.GetType(), this);`

This will work for the inherited class as well.

[2019-02-27 11:18] #7889 closed

[2019-02-27 11:24] mindaugasdirg commented on #7955
In app I was expecting to get the same token which `WsFederationMessage.GetToken()` returns.

If you prefer to leave SaveTokens options as it is in WSFederation now, maybe it would be good to clarify in WsFederationOptions documentation that this option is ignored.

[2019-02-27 11:27] SteveSandersonMS commented on #7805
I'd be very happy for us to revisit the arrangement of our `Renderer` family tree altogether! From a comment elsewhere:

I'd really like to see a simpler base class for the core-most logic. Perhaps this could tie in with restructuring where "remote" and "prerendering" concerns live.

[2019-02-27 11:33] javiercn commented on #7946
@voroninp I was being more tricky so that you don't have to register your startup class on the DI container in the normal flow. It should be pretty harmless, but there's no need to have that for your app just to run and is a distraction IMO.

No, in a normal scenario I can't think why would you want your startup class registered in DI (other than testing, which can be achieved entirely on the test

[2019-02-27 11:34] IVL-Mukesh commented on #4389
We are also experience same issue that mention by @StefanKoenigMUC . Please help us to fix this...Thanks

[2019-02-27 11:53] javiercn commented on #7805
@SteveSandersonMS I think I agree with you.
IMO we could break the functionality into 3 different pieces.
ComponentStateManager -> Handles the component state trees
RenderQueue -> Handles the rendering process and when to update the display.
Renderer -> Sits at the top and coordinates the two of them. Provides a couple of protected virtual methods:
  * CreateRenderQueue
  * CreateStateManager

Tha

[2019-02-27 11:55] javiercn commented on #6884
@danroth27 Is the proposal to move the required types to `Microsoft.AspNetCore.Components`
/cc: @SteveSandersonMS

[2019-02-27 12:01] SteveSandersonMS commented on #7805
Maybe! I'd be interested in trying to break down why the current code structure is inadequate, what concerns are intermingled, and what would have to be true about different designs to make things clearer while handling all our use cases.

[2019-02-27 12:05] SteveSandersonMS commented on #6884
Possible ways to solve this:

 * Move everything into one namespace
 * Add the `.Forms`/`.Layouts`/`.Routing` imports into the default compilation so they are there implicitly without needing to show up in any user code

I'm not set on either solution. Though I do have some concerns about "put everything in one namespace". The layering as it is keeps "forms", "layout", and "routing" sufficiently s

[2019-02-27 12:24] SteveSandersonMS commented on #5172
@ryanbrandenburg It was this one: https://github.com/aspnet/JavaScriptServices/pull/1606/files

We should also discuss when or if it will be time to deprecate `aspnet-webpack-react` and the other NPM packages in https://github.com/aspnet/AspNetCore/tree/master/src/Middleware/SpaServices/src/npm. AFAIK, none of them are used out of the box in the templates since ASP.NET Core 2.1 a year ago. Likewis

[2019-02-27 12:28] #7405 closed

[2019-02-27 12:31] SteveSandersonMS commented on #5205
I agree.

We can't imagine that `WebpackDevMiddleware` can realistically detect and correct a wide range of Webpack misconfigurations, so I don't see why we should handle this one specifically. If *lots* of people hit this then maybe there's an argument, but I think we've only heard of one person make this particular misconfiguration.

[2019-02-27 12:46] #7979 closed

[2019-02-27 13:21] lkts commented on #5918
I want to agree here that `CorrelationId` is confusing in current implementation because it is always `null` for application which serves "initial" requests. I would expect it to be `Activity.Current.Id` as mentioned here.

[2019-02-27 14:14] pranavkm commented on #7984
Dup of https://github.com/aspnet/Mvc/issues/5083. See https://github.com/aspnet/Mvc/issues/5083#issuecomment-235631483 for solutions.

[2019-02-27 14:14] #7984 closed

[2019-02-27 14:27] timgabrhel commented on #7696
I can confirm implementing the ITicketStore solved the problem for some versions of Safari.

I'll close this for now, big thanks to all the comments. Whenever I can get around to trying to repro my cookie issue, I'll open a separate issue.

[2019-02-27 14:27] #7696 closed

[2019-02-27 15:40] danielloczi commented on #7546
FYI: App Services in Azure also updated to the latest DotNet Core SDK, so this bug could effect your apps published to there.

Today I just had to fix one of our Asp.Net applications.
In the eventlog.xml I saw the following error entry:
`Application: dotnet.exe CoreCLR Version: 4.6.27317.3 Description: The process was terminated due to an unhandled exception. Exception Info: System.IO.FileNotFound

[2019-02-27 15:52] rynowak opened #7997 "Razor's *dynamic* file prevent edit-and-continue for .cs files"
Related to: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/736856

When Razor's dynamic generated documents are created, we doing so without passing an encoding. However the documentation for `SourceText.From` says that an encoding is required for debuggability.

Passing in an encoding unblocks the ability to use edit and continue **within .cs files**. There are still issues with edit and

[2019-02-27 15:54] MarkStega commented on #7958
Additional information: I've tracked the issue down and have discovered that if I have the data returned from the controller on the server defined as the type Process_DD[] then the deserialization works. If however I return a type of ServiceResult<Process_DD[]> the deserialization fails in the WASM client and works if executed on the server. I've attached the source files for the two POCOs.

[Type

[2019-02-27 16:30] DavidFlamme opened #7998 "Forwarding client certificates in IIS Kestrel reverse proxy setup"
I want to implement a custom client certificate authentication, preferably by using a IAsyncAuthorizationFilter to translate the certificate to an identity.

Asp.Net Core with .NET Framework 4.7.2 is running on Kestrel behind an IIS reverse proxy like it is described here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/?view=aspnetcore-2.2&tabs=windows#out-of-process-hosting-mod

[2019-02-27 17:00] jimmi79 commented on #4724
@Praveen-Rai, I've been struggling with this issue for two days. Thank you so much for your Stack-Overflow solution. I'll be trying it this afternoon.

@javiercn - I'm a little lost in the haze of others coming in and out of the discussion, so I'm not sure if you are the best contact for this, but I think it's worth pointing out that using a service to launch the app is outlined in the MS Doc: [Ho

[2019-02-27 17:24] muratg commented on #7546
@dougbu and @mikaelm12 in addition to the automation, could you guys please review the file (for both 2.2 and 2.1) to make sure it's correct on both branches?

[2019-02-27 17:30] mikaelm12 commented on #7546
I'll sync up with @dougbu on this today

[2019-02-27 17:33] rynowak opened #8000 "Design Review: Startup code for client apps (Blazor)"
We created an experience oriented around the startup pattern and `IComponentsAppBuilder` for client-side apps - so that we could align it with the experience for components on the server.

We ended up coming up with something different on the server, so we should think again about what to do on the client.

[2019-02-27 17:45] ryanbrandenburg commented on #5205
@AdamWillden given that we won't be doing the suggested work item I'm going to close this. But as you said, I'm sure someone else will find having the fix documented useful, so thanks!

[2019-02-27 17:45] #5205 closed

[2019-02-27 17:48] ryanbrandenburg commented on #5172
@SteveSandersonMS totally agree WRT long term plan and focusing effort.

[2019-02-27 18:03] rynowak commented on #5494
@ajaybhargavb - I suspect this will be fixed by https://github.com/aspnet/AspNetCore/issues/6373 so do that first. We're keeping this bug around so we can verify the case that was reported originally.

[2019-02-27 18:05] joeloff commented on #7729
PR is almost complete. I'm just waiting on the final preview 3 build to drop

[2019-02-27 18:23] Lupusa87 commented on #5560
+1
I have the same requirement.

opened [issue](https://github.com/dotnet/jsinterop/issues/8) in Jsinterop [repo](https://github.com/dotnet/jsinterop)

[2019-02-27 18:24] muratg opened #8001 "React to semver v2 support change in core-setup"
Epic https://github.com/aspnet/AspNetCore/issues/8833

Once https://github.com/dotnet/core-setup/issues/4795 is done, we'll need to react. (Assuming https://github.com/aspnet/AspNetCore/issues/3839 is not done before)

Related: https://github.com/aspnet/AspNetCore/issues/3839

[2019-02-27 18:29] Lupusa87 commented on #5560
@RemiBou This is not problem, who will call jsinvokable method inside lib can control programmer, what we want is that JsInvokable methods not to be visible/accessible from outside assembly.

[2019-02-27 18:31] dougbu commented on #7546
Though my [comment](https://github.com/aspnet/AspNetCore/issues/7546#issuecomment-463502685) above said I only did the `release/2.1` branch. I checked the versions manually in both branches.

The new test should confirm what I saw.

[2019-02-27 18:36] Lupusa87 commented on #5560
Maybe this has no sense.

In case where we have referenced some blazor lib, js execution happens not in referenced lib but in project where it is added, so maybe there is no way to see/invoke/call referenced component's internal methods.

[2019-02-27 18:41] pranavkm opened #8002 "[Perf] Add perf benchmarks to compare Json formatters"

[2019-02-27 18:44] muratg commented on #6149
Triage: This looks like an issue with SignalR or app throwing an exception on a background thread on shutdown.  @BrennanConroy can you take another look?

[2019-02-27 18:44] muratg commented on #6149
(w3wp crashing is a red herring here.)

[2019-02-27 18:45] muratg commented on #6149
@fabiano Can you share your eventlogs when running with out-of-proc. You should be looking for a dotnet.exe crash in that case.

[2019-02-27 18:49] pranavkm opened #8003 "Allow robust reconnects when client do not perform graceful disconnects"
The renderer goes in a “buffering” mode when the client disconnects and spits it back out once it reconnects. In the most common case where the client has a transient network failure, this is what it would look like:

[code]

SignalR \ Kestrel do not complain if a websocket send failed due to a client error. Consequently, there will be a gap where the server thinks it successfully sent the diffs t

[2019-02-27 18:50] muratg commented on #7145
@pakrym I believe this is not blocked anymore, right?

[2019-02-27 18:50] pranavkm commented on #8003
@SteveSandersonMS:

@javiercn:

[2019-02-27 18:54] RemiBou commented on #5560
Yes that's what I meant

[2019-02-27 18:55] muratg commented on #4422
Triage: we think this is on Kestrel, but we need to validate what IIS is doing.

[2019-02-27 18:57] muratg commented on #6741
We do not plan to implement this.

[2019-02-27 18:57] #6741 closed

[2019-02-27 18:59] muratg commented on #6834
@jkotalik *ping*

[2019-02-27 18:59] muratg commented on #7188
Triage: we're not planning to change anything here.

[2019-02-27 18:59] #7188 closed

[2019-02-27 19:02] muratg commented on #7235
@sepehr1014 could you share a dump file with @jkotalik (his emails is on his github profile.) Also, could you paste web.config here please?

[2019-02-27 19:04] pakrym commented on #7145
It's being worked on.

[2019-02-27 19:06] rynowak commented on #7935
I don't think so. We just do it and put it in the release notes.

[2019-02-27 19:06] muratg commented on #7307
Triage notes:
Revisit once Antares fix is out. We need to update the site extension

[2019-02-27 19:07] fabiano commented on #6149
@muratg The application is not crashing when running with out-of-process. Checked the logs and there is only the entries from IIS AspNetCore Module V2 shutting down the application:

[code]

[code]

[code]

[2019-02-27 19:11] milkshakeuk commented on #6741
In the end we added a custom username header to all responses then created custom IIS log fields which plucked it from the response  headers to get what we needed into the IIS logs. Not ideal but it works.

It's a shame you don't plan on implementing this since it did used to "just work".

[2019-02-27 19:11] muratg commented on #7367
Looks similar to our other test failures

[2019-02-27 19:11] pakrym commented on #7145
https://github.com/aspnet/AspNetCore/pull/7959 is done and https://github.com/aspnet/AspNetCore/issues/7972 is left.

[2019-02-27 19:12] #7145 closed

[2019-02-27 19:12] muratg commented on #7367
This isn't likely to be an issue in 3.0. We've moved to logger from Console.WriteLine in the new generic host

[2019-02-27 19:13] muratg commented on #7615
This is a doc bug. We do not run iisreset

[2019-02-27 19:16] muratg commented on #7678
Sounds like an ACLing issue. Can you check that you have the right ACLs and post them here?

[2019-02-27 19:16] muratg commented on #7701
1. Enable IIS.
2. Repair the hosting bundle.

[2019-02-27 19:16] #7701 closed

[2019-02-27 19:19] muratg commented on #7735
A possible hypothesis is that the process is suspended after the crash. Perhaps WER is kicking in? Can you check your event logs?

[2019-02-27 19:21] muratg commented on #7850
@jkotalik Have you seen this?

[2019-02-27 19:22] muratg commented on #7949
Upgrade to 2.2.2. This is a known issue

[2019-02-27 19:22] #7949 closed

[2019-02-27 19:23] #7989 closed

[2019-02-27 19:24] muratg commented on #7972
@pakrym Will you get to this as part of your Helix work?

[2019-02-27 19:26] pranavkm opened #8005 "[Components] Determine how clients could know if they cannot use JSRuntime"
During pre-rendering, invoking JSRuntime operations will throw. However there isn't an API to query the system to ask if it's OK to use JSRuntime

[2019-02-27 19:27] muratg commented on #7998
Send a client cert the normal way, as part of the TLS handshake. We use this mechanic only with IIS and Kestrel since the last hop is after TLS termination.

As an aside, for security reasons we block all headers with `MS-ASPNETCORE-*` sent directly to IIS

[2019-02-27 19:32] pakrym commented on #7972
This is a lower priority. I'll try to figure them out.

[2019-02-27 19:36] muratg commented on #7780
Triage: We won't be doing this. Instead we'll do #7779

[2019-02-27 19:36] #7780 closed

[2019-02-27 19:38] HaoK commented on #7847
Was fixed by 78bc2a10b9ea617269527f4091903471a299e197

[2019-02-27 19:38] #7847 closed

[2019-02-27 19:54] muratg commented on #6567
Triage: closing this.

[2019-02-27 19:54] #6567 closed

[2019-02-27 19:59] pakrym commented on #7481
Done

[2019-02-27 19:59] #7481 closed

[2019-02-27 20:00] #7486 closed

[2019-02-27 20:03] pakrym opened #8006 "[Flaky test] SignalR.Tests.HubConnectionHandlerTests.StreamInvocationsBlockOtherInvocationsUntilTheyStartStreaming"
https://dev.azure.com/dnceng/public/_build/results?buildId=108667&view=ms.vss-test-web.build-test-results-tab

[code]

[2019-02-27 20:05] pakrym commented on #7265
Flaky on helix too https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190227.12/workItem/InMemory.FunctionalTests-netcoreapp3.0/wilogs

[2019-02-27 20:07] ajaybhargavb opened #8007 "Add support for @namespace directive for components"
I'm not sure if this was intentional but looks like we don't really support namespace directive in component documents. To support this, we'll need to add a `ComponentNamespaceDirective` similar to `ComponentPageDirective`.

Although the behavior of this directive isn't any different from regular Mvc/Pages, we can't use the same type because the existing `NamespaceDirective` resides in `Mvc.Razor.

[2019-02-27 20:12] JunTaoLuo commented on #7780
Why are we not adding the feature to TestServer?

[2019-02-27 20:13] JunTaoLuo commented on #7780
I think I named the issue poorly and it was misunderstood? We should still add the feature to the test server.

[2019-02-27 20:15] JamesNK commented on #7780
Related: TestServer should be using real pipes instead of the stream adapters

[2019-02-27 20:16] jkotalik commented on #7780
https://github.com/aspnet/AspNetCore/issues/7815

[2019-02-27 20:50] rynowak commented on #8007
Could we move it over to `Razor.Language` but only add it for Razor >= 2.0?

Either way we should support this.

[2019-02-27 21:00] animalcaretechnologies commented on #4726
I am having the same issue as AndreasTurowski. I have not solved it yet, but it appears to only happen when the connection is kept alive between multiple requests. I see the following error logged in kestrel.

dbug: Microsoft.AspNetCore.Server.Kestrel[26]
      Connection id "0HLKSTHRBLL2M", Request id "0HLKSTHRBLL2M:00000002": done reading request body.
info: Microsoft.AspNetCore.Server.Kestrel[1

[2019-02-27 21:14] danroth27 opened #8009 "Question: How to manage Server-side connections ?"
_From @moataz1991 on Tuesday, 26 February 2019 13:13:16_

Hello

as the question states , how can i manage clients connections ?
like when someone connects and filled login info then he should receive session and the server can disconnect him and return him to some page and release resources ?

thanks

_Copied from original issue: aspnet/Blazor#1794_

[2019-02-27 21:14] danroth27 commented on #8009
We don't have a good store for connection management yet. This is an area that we are currently working on for .NET Core 3.0:

- https://github.com/aspnet/AspNetCore/issues/5562
- https://github.com/aspnet/AspNetCore/issues/7537
- https://github.com/aspnet/AspNetCore/pull/7395

[2019-02-27 21:14] #8009 closed

[2019-02-27 21:28] #7950 closed

[2019-02-27 21:50] AdamWillden commented on #5205
No problem :-) Thanks for taking the time to consider this.

[2019-02-27 21:56] danroth27 commented on #7917
@fred-perkins Thanks for sharing this feedback with us!

@SteveSandersonMS @lewing Thoughts on this one? Do we have any support currently for dynamically loading .NET assemblies in a Blazor app? Is this really all part of supporting [lazy loading of application areas](https://github.com/aspnet/AspNetCore/issues/5465)?

[2019-02-27 22:03] animalcaretechnologies commented on #4726
Turns out it has nothing to do with keep-alive header. My issue was a traefik bug. One request was adding the header "expect:100-continue" and traefik does not forward correctly when that header is present. It was not actually forwarding the post data.

https://github.com/containous/traefik/issues/2899

[2019-02-27 22:05] SteveSandersonMS commented on #7917
Could you clarify what the problem with Assembly.Load is? If your code caches the results of loading the assembly, is that not sufficient to ensure you only load each one once?

[2019-02-27 23:02] #6712 closed

[2019-02-27 23:27] HaoK commented on #5776
Clearing assignment since this is in backlog

[2019-02-27 23:32] mikaelm12 commented on #7546
I've also just manually checked the versions in both the 2.1 and 2.2 branches. The shouldn't be any version downgrade issues

[2019-02-27 23:45] muratg commented on #7546
Thanks guys!

[2019-02-28 00:47] jkotalik opened #8012 "dotnet publish standalone is VERY slow"
I'm not sure if this is an issue for the sdk, but dotnet publish --runtime win-x64 takes around 20 seconds on my dev machine for many samples. For music store, a majority of the time is spent publishing.

[2019-02-28 01:15] pranavkm commented on #7606
@azhmur the bar to patch 2.1 or 2.2 is pretty high and it's very unlikely we would accept the PR you sent in particular if if there's a reasonable workaround you could use.
In your particular case, are you able to write a middleware that drains the request prior to invoking MVC? Would that would effectively solve your issue?

[2019-02-28 01:32] hzicong commented on #7891
I set the virtual memory to 100G, and that didn't happen.

[2019-02-28 02:18] #7496 closed

[2019-02-28 02:31] rynowak commented on #6884
I think it's worth the discussion and consideration, but I don't agree with the premise of this issue without more justification. It's a non-goal to have the template be *minimal*, it's a goal to have the template by *meaningful*. ie: we should know that everything in the template is there for a a reason.

To me the most important pivot is whether or not we want to give users the obvious ability t

[2019-02-28 02:34] rynowak commented on #6884
I also want to mention that these topics always make me miss Java a bit. In Java, namespaces/packages are largely just done for you by the IDE because you usually have an `import` for every type.

The IDE will collapse all of the `import` directives, and manage them for you. It's there you so you have control over what name maps to what type, and with a modern IDE it doesn't require much thought,

[2019-02-28 03:05] pranavkm opened #8016 "Loading a RazorPage performs a blocking call"
Related to #4880. In this case, it's the `PageActionInvokerProvider` \ `PageLoader` that performs a blocking call.

[2019-02-28 03:59] Valks opened #8018 "[Components] Router incorrectly resovling AppAssembly as string"
### Describe the bug
Using Razor Components, the Router AppAssembly value is been passed as a string instead of evaluating to typeof(Startup).Assembly resulting in a InvalidCastException

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '3.0.0-preview4-19123-01'
2. Run this code 'Create a new Razor Components project using the 3.0 preview template'
4. See err

[2019-02-28 04:34] ajaybhargavb commented on #5106
Closing as this is done pending merge to master.

[2019-02-28 04:34] #5106 closed

[2019-02-28 04:35] shapeh commented on #4789
Not sure if this is related to this bug but I have been running Process Monitor on w3wp.exe and are getting 1000's of PATH NOT FOUND when using ResponseCaching.

w3wp.exe is calling `CreateFile` several 1000 times for methods I have marked in my ASP.NET Core project with something like this:
[code]
If I am not mistaken, it seems like ResponseCaching is trying to create cache files in the the actua

[2019-02-28 05:49] mkArtak opened #8019 "Improve NullHtmlEncoder perf"

[2019-02-28 06:02] FabriceMk commented on #579
More than 3 years since tis issue was opened but I reiterate the demand of having an official logo.

Especially since .NET Core 2.x, the framework got a lot of traction:

- The Framework is awesome
- modular
-  cross-platform
- you can run it into containers
- is not associated with the old ASP limitations
- recently MS did an awesome job at giving a new open image towards developers (VSCode, Type

[2019-02-28 06:18] martincostello commented on #4789
@shapeh Are you running 2.2.0 or 2.2.1?

In those versions the current directory of the app was changed to be that of IIS itself, rather than the location of the app content itself. The previous behaviour was restored in 2.2.2.

If you’re not running 2.2.2, try upgrading to the latest release and see if that fixes it.

[2019-02-28 07:11] azhmur commented on #7606
Yes, we have fixed issue within our code. I had created PR, because investigation have taken serious efforts (like all thread starvation bugs do), so I want to help others not to spend their time on debugging similar issues.

[2019-02-28 07:25] WalterEbbers commented on #7615
@muratg  Thnx! so this means after install the user must manually reset iis to make it pickup the changes?
That would be very nice!

[2019-02-28 08:41] javiercn commented on #6884
Based on this I would suggest we don’t do anything here and leave them in the viewimports.

[2019-02-28 08:53] fred-perkins commented on #7917
@SteveSandersonMS / @danroth27  So after a bit of testing I got Assembly.Load(byte[]) to work for me as i wanted. I think there was a misunderstanding about how Assembly.Load varies compared to the API on DotNet core - Where a byte array loaded assembly is anonymous and causes issues where assemblies would be loaded twice. This occurred when one was manually loaded, and the second where an assembl

[2019-02-28 08:58] dodyg opened #8022 "[Components] UI not updating upon receiving a SignalR data"
### Describe the bug

I am creating a Razor Component app that uses its own SignalR. Everything works fine except that the UI does not update itself when receiving the data from SignalR.

So I have two open tabs side by side. When I broadcast a message, the other tab does not update its UI automatically. The UI will only update with the broadcast message when I force an UI update by assigning a pr

[2019-02-28 09:08] DNF-SaS opened #8023 "VS 2019 Preview 4 throws exception during opening a Razor Components .cshtml-File"
Since updating to VS2019 Preview 4, opening a Razor Components .cshtml - File shows an error box containing:

---------------------------
Microsoft Visual Studio
---------------------------
An exception has been encountered. This may be caused by an extension.

You can get more information by examining the file 'C:\Users\MyUser\AppData\Roaming\Microsoft\VisualStudio\16.0_3beecb4d\ActivityLog.xml'.

[2019-02-28 09:12] elken opened #8024 "Add more flexible ways to manage ReactDevelopmentServerMiddleware startup"
### Is your feature request related to a problem? Please describe.

I'm adjusting out frontend app to leverage [NextJS](https://nextjs.org/) instead of a cra app and it's currently not possible to properly load the application as it's expecting "Starting the development server" to be present in the output.

### Describe the solution you'd like

As I see it, there are two possible solutions

- Expo

[2019-02-28 09:19] springy76 commented on #8022
I think you should wrap the `StateHasChanged()` call with `Invoke()` since your `OnMessage` will for sure not arrive inside the right `SynchronizationContext`.

[2019-02-28 09:34] dodyg commented on #8022
Sorry, I am not clear.  This is the where the Invoke happens. I have no idea what to pass to enable `StateHasChanged` within the method.

``
        public async Task ConnectAsync()
        {
            _connection = new HubConnectionBuilder()
                .WithUrl("https://localhost:5001/notificationhub")
                .Build();

            _connection.On<string, string>("BroadcastChannel"

[2019-02-28 09:48] SteveSandersonMS commented on #6884
You'd also need to import it in `NavMenu`, because it references `NavLinkMatch.All` (the enum entry).

Sounds good to me.

[2019-02-28 09:53] SteveSandersonMS commented on #7917
Thanks for the update, @fred-perkins! I'm glad you have a workable solution for now.

Longer term, any inconsistencies between .NET Core and Mono are definitely worth reporting. In this specific case it sounds like Mono ideally would support more of `AssemblyLoadContext`, and might even want tweaks to ensure that `Assembly.Load` behaves the same as it does on .NET Core (even if that behavior isn't

[2019-02-28 09:53] SteveSandersonMS commented on #7917
I'll close this as external since it's really about the underlying runtime, not about Blazor.

[2019-02-28 09:53] #7917 closed

[2019-02-28 10:22] wzd24 opened #8025 "cannot build the source code by build.cmd."
### Describe the bug
Build process fails with the message saying "Cannot download: https://dotnetcli.azureedge.net/dotnet/Sdk/3.0.100-preview-009750/dotnet-sdk-3.0.100-preview-009750-win-x64.zip.",but i can download this file use any browser.

### To Reproduce
Steps to reproduce the behavior:
Using this version of ASP.NET Core 'v3.0.0-preview-19075-0444'
1. git clone --recursive https://github.com

[2019-02-28 10:31] jokinj commented on #7678
Thank you for your support.

This is our ACL setted on the application folder:

BUILTIN\Administrators:(I)(F)
CREATOR OWNER:(I)(OI)(CI)(IO)(F)
NT AUTHORITY\IUSR:(I)(OI)(CI)(F)
NT AUTHORITY\SYSTEM:(I)(OI)(CI)(F)
NT AUTHORITY\NETWORK SERVICE:(I)(OI)(CI)(F)
BUILTIN\Administrators:(I)(OI)(CI)(IO)(F)
BUILTIN\IIS_IUSRS:(I)(OI)(CI)(F)
BUILTIN\Users:(I)(OI)(CI)(RX)
BUILTIN\Users:(I)(CI)(AD)
BUILTIN\Users:

[2019-02-28 10:44] shapeh commented on #4789
@martincostello I am running 2.2.2 - so if I reading you correct, I should try and remove the
`CurrentDirectoryHelpers.SetCurrentDirectory();` and see if that solves the issue?

[2019-02-28 10:55] martincostello commented on #4789
@shapeh Yeah, you shouldn't need to do that anymore with 2.2.2. If that doesn't fix it then it's probably a different problem, and I'll defer to the ASP.NET team on how to resolve that.

[2019-02-28 11:00] devmonte commented on #6104
I would also appreciate access to the list of connected users to my hub. Especially from `HubContext`.

[2019-02-28 11:06] shapeh commented on #4789
@martincostello - I will try that and see what happens. Out of curiosity, are you running 2.2.2 or 2.2.0 win2016 ?

[2019-02-28 11:13] shapeh commented on #4789
Just tried removing `CurrentDirectoryHelpers.SetCurrentDirectory();` - no luck. Still get 1000's of PATH NOT FOUND in a few minutes.

[2019-02-28 11:16] springy76 commented on #8022
again: Have you tried replacing line #51 in Index.cshtml with `this.Invoke(this.StateHasChanged);` ?

[2019-02-28 11:38] dodyg commented on #8022
Ah great. Yup. It works. I wasn't aware this.Invoke exists in ComponentBase. Thanks a lot!

[2019-02-28 11:38] #8022 closed

[2019-02-28 12:40] hishamco opened #8028 "Remove CustomRequestCultureProvider class"
Since the beginning of localization repo I had seen that `CustomRequestCultureProvider` is little bit confusing, while we can create a custom provider by sub classing `RequestCultureProvider`. IMHO `CustomRequestCultureProvider` has less value if the intend is to determines the culture via the configured delegate, so I saw some devs that are using a code with `CustomRequestCultureProvider` which c

[2019-02-28 13:22] fred-perkins commented on #7917
@SteveSandersonMS Awesome, thanks for the reply. I'll get a ticket raised with the Mono guys :)

[2019-02-28 13:27] MCFHTAGENTS commented on #7534
I have ended up trashing my keys and recreating them in  the new location. I wonder if some thought could be given to this use case and if people (like me!) don't spot the database provider and need to move from single instance to farms it could happen to others!

[2019-02-28 13:36] IanGleeson commented on #7450
I'm having an issue with this as well.

I've published my Net Core 2.2 application to Azure App Service and receive this message "Cannot find compilation library location for package 'Microsoft.NETCore.App'"

I then add the ref folder as mentioned above and it works again. The issue I have is that it is much slower now than it used to be. Looking at Chrome Inspector the TimeToFirstByte for some pa

[2019-02-28 14:32] TomasHubelbauer commented on #5200
Please consider reopening this feature request. There may be no community involvement, but it is still a valid feature request.

[2019-02-28 14:34] JoshClose commented on #5200
I'm happy to talk about what features we would like. I know @SteveSandersonMS is a busy guy so I didn't want to bug him about this.

[2019-02-28 14:54] TomasHubelbauer commented on #5200
You mentioned there used to be a template with SSR which was removed in favor of a CRA based on. Maybe there is value in finding how compatible the previous SSR solution would be with CRA? For myself, I would like the ultimate solution to .NET Core SSR to be standalone so that it can be used without starting off from a CRA based template, but even when that would not be an option, there is still v

[2019-02-28 15:15] pranavkm commented on #7450
**Hi, it looks like you are posting on a closed issue/PR/commit!**

We're very likely to lose track of your bug/feedback/question unless you:
1. Open a new issue
2. Explain very clearly what you need help with
3. If you think you have found a bug, include detailed repro steps so that we can investigate the problem

Thanks!

[2019-02-28 15:20] IanGleeson commented on #7450
Cheers, I'll do that.

[2019-02-28 15:34] IanGleeson opened #8030 "Long time to first byte when using MvcRazorExcludeRefAssembliesFromPublish false in .csproj"
I've published my Net Core 2.2 application to Azure App Service and receive this message "Cannot find compilation library location for package 'Microsoft.NETCore.App'"

I check the web server through the Kudu console and their is no Microsoft.NETCore.App package there.

According to #7450 I then add the ref folder as mentioned through MvcRazorExcludeRefAssembliesFromPublish in .csproj and it works

[2019-02-28 16:28] pakrym commented on #4789
@shapeh it seems like you are having a different issue. Can you please open a new bug so we don't sidetrack this one.

[2019-02-28 16:33] shapeh commented on #4789
@pakrym - okay, definitely will do that.

[2019-02-28 16:52] JoshClose commented on #5200
If you create the project using core 1.1, you'll get the old SSR template. I think moving to CRA is a good idea since that is the industry standard now. I think SSR just needs to be added into it.

[2019-02-28 16:58] mrlife opened #8031 ""Add New Item" of Type "Razor Component" to a Razor Pages App"
### Describe the bug
Per this comment, we should be able to add a Razor Component file to a Razor Pages app that's using ASP.NET Core 3 preview.

https://github.com/aspnet/Docs/issues/10851#issuecomment-461937951

### To Reproduce
Steps to reproduce the behavior:
1. Create a Razor Pages app
2. Create a "Components" folder in the root
3. Right-click that folder and choose Add -> New Item
4. On the

[2019-02-28 17:00] DNF-SaS commented on #8023
Resolved by removing VS2019 Preview completely and reinstalling it.

[2019-02-28 17:00] #8023 closed

[2019-02-28 17:01] muratg commented on #7678
cc @shirhatti

[2019-02-28 17:06] TomasHubelbauer commented on #5200
Sorry, that is what I meant to express in my previous comment.

[2019-02-28 17:23] #8006 closed

[2019-02-28 17:25] BrennanConroy commented on #7823
Thanks for the repro it helped a lot!

After discussing with Andrew and Steve we're going to look at not trying to be clever and just including the import always. From a quick test it looks like this only adds a couple kb to the .js file.

[2019-02-28 17:31] javiercn commented on #4045
What is left here is to add some sort of SPA route constraint / endpoint routing to better support client side routing.

[2019-02-28 17:35] javiercn opened #8033 "Enable prerendering on the Blazor templates"
This will show the application instead of the loading screen.
So it will reduce the time to first meaningful paint.
(Time to interactive still will be the same).

[2019-02-28 17:36] stephenlautier commented on #7823
Glad it was useful!

Yes sometimes simple is better, and there's a possibility that it gets treeshaked with the build (not sure how its used exactly tho, so might not be the case).

[2019-02-28 17:37] javiercn opened #8034 "Stateful reconection after prerendering"
After we implement "robust reconnection" we want to enable support for "stateful" prerendering in which we reconect to a disconected circuit after prerendering and resume the rendering process from there.

[2019-02-28 17:48] javiercn commented on #8034
/cc: @pranavkm

[2019-02-28 18:02] pranavkm commented on #8030
Could you include the project file (.csproj)? Generally you shouldn't have to include the ref assemblies as part of publish unless you're doing runtime compilation.

[2019-02-28 18:11] shapeh opened #8036 "w3wp.exe reports 1000s of PATH NOT FOUND and Windows Process Activation Service shuts down"
### Describe the bug
I have been running Process Monitor (procmon) on `w3wp.exe` and I am getting 1000's of `PATH NOT FOUND`.

w3wp.exe is calling `CreateFile` several 1000 times in short time (1-2 minutes) on several pages / Controllers in my ASP.NET Core 2.2.2 MVC project. Eventually the app pool will stop with the message:

Note. I am not sure these two things are related but it looks very susp

[2019-02-28 18:22] anurse opened #8037 "Extract error message in E2ETests when response is 500"
When an E2ETest (such as `E2ETests.NtlmAuthenticationTests.NtlmAuthenticationTest(variant:   Server: HttpSys, TFM: netcoreapp3.0, Type: Portable, Arch: x64)` in MusicStore.E2ETests) fails due to a 500 error, we get a lot of HTML goop and the error is somewhere in there.

We should change the [Validator](https://github.com/aspnet/AspNetCore/blob/master/src/MusicStore/test/MusicStore.E2ETests/Implem

[2019-02-28 18:25] DonKeyHote commented on #4647
public void ConfigureServices(IServiceCollection services)
        {
            services.Configure<CookiePolicyOptions>(options =>
            {
                options.CheckConsentNeeded = context => true;
                options.MinimumSameSitePolicy = SameSiteMode.None;
            });
            services.AddMvc(options =>
            {
                var policy = new AuthorizationPolicyBuil

[2019-02-28 18:29] DonKeyHote commented on #4647
public void ConfigureServices(IServiceCollection services)
    {
        services.Configure<CookiePolicyOptions>(options =>
        {
            options.CheckConsentNeeded = context => true;
            options.MinimumSameSitePolicy = SameSiteMode.None;
        });
        services.AddMvc(options =>
        {
            var policy = new AuthorizationPolicyBuilder()
                .RequireAuthen

[2019-02-28 18:30] MolallaComm commented on #4769
FWIW, I'd like to see this incorporated into a app.UseMetrics("/metrics") helper similar to how app.UseHealthChecks() works.  Then it would be easy to build a grafana dashboard for all our kestrel based apps.

[2019-02-28 18:36] #7258 closed

[2019-02-28 18:53] Chrille79 commented on #7735
I will try to find the time to reproduce the problem. For now we have turned of InProcess because when this happend the only way to kill w3wp process was a reboot. This happend in 1/10 of the cases when we shutdown the apppool from octopus. (Never on apppool recycle and never when we run OutOfProcess)

[2019-02-28 19:12] pathmanshakir opened #8039 "@ajcvickers I am doing what you are suggesting but in my case it's not a controller but a business logic class. I am getting **ArgumentNullException: Value cannot be null. Parameter name: options**"
@ajcvickers  I am doing what you are suggesting but in my case it's not a controller but a business logic class. I am getting  **ArgumentNullException: Value cannot be null.  Parameter name: options**
it's because of my default constructor that I get null but If I comment out the constrcutor then the new intance of class needs parameters which I don't know what to give in. HELP PLEASE
[code]
In my

[2019-02-28 19:19] shawty commented on #4048
@josephayoung +1 for the ease of use we can get at the roles.  Many SPA's these days have multi page scenarios like that these days, and being able to perform a simple role check in an if like that is an absolute bonus.

Having the identity available globally too is a boon too, that way all we need is a simple inject.

One thing that's also worth considering is attachment of roles to pages.  It's

[2019-02-28 19:55] ajaybhargavb commented on #6185
@mkArtakMSFT. I'm assigning this to myself. We definitely want this for preview4.

[2019-02-28 20:09] blowdart commented on #5419
Until there's more customer demand, closing for now.

[2019-02-28 20:09] #5419 closed

[2019-02-28 20:41] jkotalik commented on #6555
Thanks for disabling this @pranavkm

[2019-02-28 20:48] jkotalik commented on #7850
Yeah this repros. I think it was due to moving to     <PlatformToolset>v142</PlatformToolset>. Will fix shortly.

[2019-02-28 21:19] HaoK opened #8044 "[Helix] Skipping NodeServices tests on helix (node js not installed)"
Tracking issue for getting node js on helix machines here: https://github.com/dotnet/core-eng/issues/5302

In the short term, is nodejs something that's easily installed from command line?  We can try installing it as a custom precommand @SteveSandersonMS ?

[2019-02-28 21:29] HaoK opened #8046 "[Helix] Libuv.BindTests are flaky on OSX"
Seeing various different tests fail in different builds, usually with something like:

https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190226.48/workItem/Libuv.BindTests-netcoreapp3.0/wilogs
[code]

Or: https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190228.19/workItem/Libuv.BindTests-netcoreapp3.0/wilogs

[code]

[2019-02-28 21:31] #4003 closed

[2019-02-28 22:37] halter73 commented on #7823
Thanks for pointing me to https://github.com/sketch7/signalr-client @stephenlautier. It's nice to see how other people have approached adding automatic reconnects to the JS client.

I don't like adding a couple KB to the browser and webworker dists for no reason. I don't think either of these dists ever run on node.js. If you look at the the full NodeInvocationException, you can tell that the bund

[2019-02-28 22:39] anurse commented on #7839
@pakrym said (while at my desk): "Close this, I fixed it" ;P

[2019-02-28 22:39] #7839 closed

[2019-02-28 22:45] HaoK commented on #8046
Skipping libuv.bindtests on OSX for now

[2019-02-28 22:47] benaadams commented on #7839
@pakrym not know the "Resolves: #NNN" in summary for auto close feature?

[2019-02-28 22:53] mkArtakMSFT commented on #5099
Closing this as there is no real need at the moment.

[2019-02-28 22:53] #5099 closed

[2019-02-28 22:54] IanGleeson commented on #8030
Here's my .csproj in .txt form(pasting the content of the file here removed the elements and attributes):
[csproj.txt](https://github.com/aspnet/AspNetCore/files/2917245/csproj.txt)

[2019-02-28 23:06] pranavkm commented on #8030
Is there a reason you have these two blocks in your project file:

[code]

and

[code]

It basically prevents the RazorSdk from trying to compile them as part of the project build and instead perform runtime compilation. If you remove these, you wouldn't need to set the `<MvcRazorExcludeRefAssembliesFromPublish>false</MvcRazorExcludeRefAssembliesFromPublish>` flag and your initial response should

[2019-02-28 23:12] mkArtakMSFT commented on #7970
Closing this as we do not want to rework this area again and again after Angular updates.

[2019-02-28 23:12] #7970 closed

[2019-02-28 23:12] mkArtakMSFT commented on #7970
/cc @danroth27

[2019-02-28 23:14] IanGleeson commented on #8030
They're email templates I use with SendGrid, an email service. When trying to reference them without copying to output directory I got an error. But now that I think of it, it is the Register and InviteUser pages that were giving me this issue.

I'll try alter this tomorrow and get back to you, thanks.

For reference this is the forget password code involving SendGrid:

var email = await _emailSen

[2019-02-28 23:22] Tratcher commented on #6975
Resolved ConventionBasedStartup by making the public type pubternal.

[2019-02-28 23:29] pakrym commented on #6975
@mkArtakMSFT can you please assign someone for JsonPatch and Routing

@JunTaoLuo - ResponseCaching

[2019-02-28 23:37] rynowak commented on #6884
So then it's worth a thought right.... once component name-binding is based on `@using` - do we want `NavMenu` to be in scope everywhere, or would we add `@using ... ` to the layout for `NavMenu`?

We have to think through these things for all of the built-in components.
.

[2019-02-28 23:39] rynowak commented on #6185
Yup. Similar to #7495 - different parts of the same work item.

[2019-02-28 23:46] jkotalik commented on #4512
I haven't seen this test fail since my initial fix: https://github.com/aspnet/AspNetCore/pull/6816. Closing and will let it reopen if it fails.

[2019-02-28 23:46] #4512 closed

[2019-02-28 23:58] chucker commented on #8023
I've tried:

* repairing VS
* uninstalling, reinstalling VS
* reinstalling the Blazor `vsix`
* reinstalling .NET Core 3 preview

I still get this error:

[code]

This breaks Razor syntax highlighting, IntelliSense, etc. (but not HTML syntax highlighting in the same file). It does not appear to affect actual compilation.

This worked in preview 3.

[2019-02-28 23:59] HaoK commented on #4260
Config PR merged https://github.com/aspnet/Extensions/pull/1028

[2019-03-01 00:36] BrennanConroy commented on #7746
That didn't help https://github.com/aspnet/AspNetCore/pull/8048

[2019-03-01 01:02] Valks commented on #8018
I came up with a temporary hack to get around it for now.

Create a derived component based on router and use reflection to assign the value. Then in App.razor remove the AppAssembly attribute.

App.razor
[code]

InternalRouter.cs
[code]

[2019-03-01 01:21] #5104 closed

[2019-03-01 01:49] HaoK commented on #7746
I'll take another look tomorrow

[2019-03-01 01:57] rynowak commented on #8016
I'm going to be the happy to see this fixed.

I kinda want to go back and introduce async versions of these APIs, but I feel like that's just academic.

[2019-03-01 02:12] #7781 closed

[2019-03-01 02:32] pranavkm opened #8054 "[Test failure]: LargeUpload(maxRequestBufferSize: 5242880, connectionAdapter: True, true)"
Build failure in https://dev.azure.com/dnceng/public/_build/results?buildId=110702&view=ms.vss-test-web.build-test-results-tab

[code]

[2019-03-01 03:23] pranavkm commented on #8054
Similar to https://github.com/aspnet/AspNetCore/issues/7336

[2019-03-01 03:26] pranavkm opened #8055 "[Test failure] EmitsConnectionStartAndStop"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=110702&view=ms.vss-test-web.build-test-results-tab

I guess this is the same as https://github.com/aspnet/AspNetCore/issues/6127 but in the 2.1 branch.

[2019-03-01 03:45] davidfowl commented on #7385
No I don’t have bandwidth to look into this one (And I don’t have a machine with the bits setup for Xamarin)

[2019-03-01 03:48] muratg commented on #7385
Tentatively putting this in preview5.

[2019-03-01 04:24] pranavkm commented on #8030
Do you know what file is being compiled when you see the slowness? If it's one of these files, you might be able to include them in the publish output rather than disabling runtime compilation for it:

[code]

Your publish output would contain all the cshtml files from your app, but it should use the build time compiled output when you use it as part of a view.

[2019-03-01 04:56] DNF-SaS commented on #8023
@chucker Strange, removing and re-installing VS2019 Preview4 helped in my case on two different machines.

[2019-03-01 06:31] danroth27 opened #8056 "Update Blazor templates to use .razor files instead of .cshtml"
We updated the Razor Components template to use .razor files, but the Blazor templates are still using .cshtml. We should update the Blazor templates as well.

[2019-03-01 06:34] cannehag opened #8057 "ApplicationInitialization not executing when using InProcess"
We have been using Application Initialization in our services to warm up the application before swapping slots (Azure App Services). We are using AppInsights for logging and have seen there initialization requests beeing logged with User-Agent "IIS Application Initialization Warmup".
When switching to InProcess hosting, these logs are missing.

[code]

Regardless of InProcess or not, Application I

[2019-03-01 06:34] danroth27 opened #8058 "Blazor (ASP.NET Core Hosted) template compiles with a warning about use of obsolete API IHostingStartup"
Startup.cs(21,56,21,75): warning CS0618: 'IHostingEnvironment' is obsolete: 'This type is obsolete and will be removed in a future version. The recommended alternative is Microsoft.AspNetCore.Hosting.IWebHostEnvironment.'

Repro steps:
- `dotnet new blazorhosted`
- `dotnet run`

[2019-03-01 06:34] Razgort opened #8059 "Load external vb net"
Hello guys,

Seems to have an issue here when tyring to load an external dll written in old vb net framework aspnet 4.5. It seems the Datetime Vb net is unknown ...

I'm using asp core 2.2 framework in my current project.
Any idea how to solve this ?

[2019-03-01 06:41] danroth27 opened #8060 "Blazor (ASP.NET Core Hosted) template fails to load when running in VS with IIS Express"
Repro steps:
- Create a new Blazor (ASP.NET Core Hosted) template in VS
- Ctrl-F5 the .Server project with IIS Express

Expect result:
- App runs

Actual result:
- Static "Loading..." text appears but the app never loads

Workaround:
- Run with Kestrel instead of IIS Express

[2019-03-01 06:45] #7778 closed

[2019-03-01 06:46] danroth27 opened #8061 "Slow startup time running a Blazor app from the command line"
I’m seeing exceptionally long startup times for 0.9.0 Blazor apps that I run from the command-line (~12sec).

SDK version: 3.0.100-preview3-010404
Blazor templates version: 0.9.0-preview3-19128-02

Repro steps:
-	dotnet new blazor
-	dotnet run

On my machine it takes ~10-12sec before the Blazor dev server starts up.

If I instead do ` dotnet blazor serve bin\Debug\netstandard2.0\dist` the app star

[2019-03-01 07:03] danroth27 opened #8064 "No intellisense for new component parameter in Razor Components template"
Repro steps:
- Create a new Razor Components project
- Add `IncrementAmount` parameter to `Counter` component
- Try adding a `Counter` to the `Index` component and set the `IncrementAmount` parameter.

Actual results:

![image](https://user-images.githubusercontent.com/1874516/53621911-fefe4080-3bac-11e9-85b3-38ef1a296cc6.png)

This is with VS2019 RC.

[2019-03-01 07:07] danroth27 commented on #8064
The Blazor 0.9.0 templates using .cshtml files don't seem to have this issue.

[2019-03-01 07:08] danroth27 commented on #8064
Workaround is to rebuild the project.

[2019-03-01 08:05] wzd24 commented on #8025
I found that all branches have the same problem.

[2019-03-01 08:28] gulbanana commented on #6973
I've experienced this too, it's very amusing. I have a repro but it's a lot more complex than just calling Math.Truncate (which we don't even use!). Just, doing a lot of work in WASM leads to the print dialog opening..

[2019-03-01 08:54] Ponant opened #8065 "Strongly typed @page route in Razor Pages"
On a razor page we can do this to change the default folder-based route:
`@page "/xxx/yyy"`

but trying to do this with a strongly typed property in some class `Constants.Routes` does not work
`        public const string Myroute = "/mysuperroute";
`
and
`@page @Constants.Routes.Myroute`

I am getting an error `The 'page' directive expects a string surrounded by double quotes.`

Is there a way aro

[2019-03-01 10:05] IanGleeson commented on #8030
I've tried your suggestion but the TimeToFirstByte stays around 20 seconds.

This is my current .csprog

[code]

Any help would be appreciated.

[2019-03-01 10:17] markusstephanides opened #8066 "Unable to compile the SignalR C++ client on MacOS"
### Describe the bug
I'm not able to compile the SignalR C++ client on MacOS.

### To Reproduce
Steps to reproduce the behavior:
1. Using the most recent version of the repo and compiled the most recent version of the cpprestsdk
2. Running
`CXX=g++ cmake .. -DCMAKE_BUILD_TYPE=Release -DCPPREST_INCLUDE_DIR=<path_to_cpp_rest_include_dir> -DCPPREST_LIB_DIR=<path_to_cpp_rest_lib_dir>`
3. See errors in

[2019-03-01 10:18] fplaten opened #8067 "OIDC JWK Issue"
I'm trying to implement OIDC for my ASP.NET Core application using the code flow. Since my internal corporate auth provider doesn't offer an configuration endpoint I'm creating the OpenID configuration manually:

[code]

Unfortunately the JWK endpoint doesn't seem to be called. The application fails with the following exception:

[code]

Adding the keys manually works perfectly fine:

[code]

Is t

[2019-03-01 10:32] luminescent opened #8068 "BadImageFormatException when running integration tests for x86 projects (runner is a x86 process)"
I have a .net core 2.1.1 project that must run as an x86 process and is targeting the .net 462 framework, because it has dependencies on a few libraries targeting that framework and must run in a 32 bits process. Everything runs fine.

I have a project with the similar settings where I put integration tests. I am using the `TestServer` in there. I am trying to call the API methods from the main pr

[2019-03-01 10:48] luminescent commented on #8068
.csproj snippet, main project:

[code]

There are additional dependencies, they're internal ones and targeting the net642 framework.

[2019-03-01 11:13] sepehr1014 opened #8069 "w3wp iiswsock.dll crash Exception code: 0xc0000005"
### Describe the bug
[code]

[code]

### To Reproduce
Occurs randomly in production environment every other day or so.

### Additional context
[code]

[2019-03-01 11:32] csutorasr opened #8070 "Razor Class Library with Asp.Net 3.0"
### Describe the bug
I found that if I would like to build a Razor Class Library I cannot do that as I can't target `netstandard2.1` because of the missing SDK. The preview versions of `Microsoft.AspNetCore.Mvc` only supports `netcoreapp3.0`.

My page is not showing if using `netcoreapp3.0` as shown here: https://github.com/aspnet/AspNetCore/issues/4332

### To Reproduce
Steps to reproduce the beh

[2019-03-01 12:01] luminescent commented on #8068
Even further info, the dll in question:

[code]
uses some C++ code.

I have tried to look at the fuslogvw output but there's nothing for this one in particular (I get entries for almost everything else), so not sure what to do about the assembly manifest. Any pointers?

[2019-03-01 12:48] joshmouch opened #8071 "Develop without recompile?"
Hi, I'm experimenting with the new Razor Component features, and I'm super excited about the feature.

However, the very biggest flaw I found is that each and every HTML change requires a recompile before you can view it.  This means closing your browser and your state in the app, then getting to a new browser window and navigating back to the page and state you are working on).  I can see this ad

[2019-03-01 12:59] javiercn commented on #4045
@rynowak I think your work https://github.com/aspnet/AspNetCore/pull/8052 covers this. Doesn't it?

[2019-03-01 13:01] joovnaz opened #8072 "Link tag helper not working asp.net core 2.2"
### Describe the bug
Link tag helper stopped working after 2.1 to 2.2 migration

### To Reproduce
The following tag helper stopped working:

No html link "href" attribute gets rendered.

### Expected behavior
A complete href attribute should have been generated.

### Additional context
Using work around reported here:
https://stackoverflow.com/questions/54722462/link-tag-helper-not-working-in-asp-

[2019-03-01 13:10] jamesgloverlandmarkcouk commented on #7741
We're going to put in a middle layer that allows us access to the configuration mentioned.

[2019-03-01 13:10] #7741 closed

[2019-03-01 14:13] cyberjaws commented on #6385
For those tracking this ticket, it looks like some work has been done for the next release that should resolve this issue. Appears that the calls to the Renderer are going to be passed through an Invoker to ensure there won't be cross threaded access to the Dictionaries.

[2019-03-01 14:20] Patrick8639 opened #8074 "The default Blazor template solution doesn't run"
### Describe the bug
When creating a project with the Blazor template, I have the following error that is displayed:

### To Reproduce
Steps to reproduce the behavior:
1. Install Visual Studio 2019
2. Install .NET Core 3.0 Preview 2 SDK (3.0.100-preview-010184)
3. Install the latest Blazor Language Services extension from the Visual Studio Marketplace
4. Run the console command to make the Blazor

[2019-03-01 14:57] stsrki commented on #7785
In a regular C# it is perfectly fine to create a class that inherits a generic class, that have a predefined value type.

eg.
[code]

**Usage:**
[code]

There is not a way that I can do this in Blazor, at least I'm not aware of it.

It would be great if there is a way to define a default data type when creating a generic component.

**Solution:**
`@typeparam TValue, string`

Where the second param

[2019-03-01 15:36] stavroskasidis opened #8075 "Razor Components - Declaring parameters as obsolete does not show up in Intelisense"
Regarding Razor Components library authoring, you should be able to mark a component's `[Parameter]` as obsolete, so that consumers of the component get notified with warnings.

[code]

Doing so produces warnings during build time but not during editing.

[2019-03-01 15:50] shapeh commented on #8036
While https://github.com/aspnet/AspNetCore/issues/6118 is closed, the ancm log on that issue also shows

`[aspnetcorev2.dll] c:\b\w\e37dd45d8cd1eaf4\src\iisintegration\src\aspnetcoremodulev2\commonlib\fileoutputmanager.cpp:142 Operation failed with LastError: 32 HR: 0x80070020`

Here it is slight different (**da744fbcc13abce**\src instead of **e37dd45d8cd1eaf4**\src)

`[aspnetcorev2.dll] c:\b\w\da

[2019-03-01 16:01] SteveSandersonMS commented on #8060
I was able to repro this and investigated. I believe what happens is that, when you have loaded the Blazor extension (VSIX) into VS, our auto-rebuild mechanism is now causing massive problems. Something in VS/IISExpress must have changed such that our previous logic is now wrong.

Our VSIX now wrecks IISExpress so that it can only handle one or two requests before hanging for 5+ seconds, then each

[2019-03-01 16:01] SteveSandersonMS commented on #8058
Can confirm. Yes, we need to fix this in the template.

[2019-03-01 16:02] SteveSandersonMS commented on #8061
Is this really a bug?

It does take ~10s on my machine to do the first build-and-link. Subsequent builds of the same project only take a couple of seconds (on my machine). The subsequent faster builds rely on the Razor Compiler staying in memory and some parts of the build process not having to repeat.

AFAIK, this is no different from how it was in 0.8.0 or before. And is not really a problem bec

[2019-03-01 16:03] SteveSandersonMS commented on #8064
Unfortunate, but too late to fix. Not a devastating issue because people will just rebuild.

![image](https://user-images.githubusercontent.com/1101362/53650042-8397a000-3c3b-11e9-89e1-32a9a4bb44ae.png)

[2019-03-01 16:07] T-0pel opened #8077 "IIS Recycle with .NET Core Issues"
### Describe the bug
When using .NET core application with IIS the recycle overlap does not work or produces inconsistent behaviour.

### To Reproduce
I have created [a repository with a sample solution](https://github.com/T-0pel/iis-recycle-test) with .NET Core and .NET Framework Apis.

Steps to reproduce the behavior:
1. Launch/publish a .NET core project in IIS.
2. Call api/values controller th

[2019-03-01 16:13] livarcocc opened #8078 "Could not load file or assembly 'System.Runtime, Version=4.2.0.0 on empty project"
_From @ranouf on February 16, 2019 9:20_

Hi,

I read other post about this error but I m not sure that the other have this issue only when the project is deployed to azure.

Here is my cs projet:
[code]

My thinking is maybe, .net core 2.2.1 is not yet available on Azure. What do you think? How to fix this issue?

_Copied from original issue: dotnet/cli#10813_

[2019-03-01 16:14] livarcocc commented on #8078
Can you share the rest of your project? Can you also share the full stack trace for the error?

[2019-03-01 16:14] livarcocc commented on #8078
_From @ranouf on February 18, 2019 17:25_

Hi,

I extracted the project from the solution to commit a code sample.
https://github.com/ranouf/issue10813

The project is not compilable.

Here is the log from Azure Portal for my webjob:

Let me know if it s ok for you?

[2019-03-01 16:14] livarcocc commented on #8078
You need to target Microsoft.NET.Sdk.Web as your SDK on the SDK attribute on the Project element. That's required if you are a web app.

[2019-03-01 16:14] livarcocc commented on #8078
_From @ranouf on February 20, 2019 16:19_

Hi,

Thanks for helping me :)
It s not a webapp, it s a webjob. In all Webjobs I used in the past, I used Microsoft.NET.Sdk. It seems to be the things to do as you can see in the sample proposed by Azure team:
https://github.com/Azure/azure-webjobs-sdk/blob/dev/sample/SampleHost/SampleHost.csproj

[2019-03-01 16:14] livarcocc commented on #8078
I don't know how azure webjobs work, so I don't know if there has been any changes there that might be causing this. I don't know if they publish the app and if they do that as a framework dependent app, that would require the framework in the box or a self-contained app, that would ship with the framework.

Also, if the framework is missing, it should fail with a different error message.

Does yo

[2019-03-01 16:14] livarcocc commented on #8078
_From @ranouf on February 20, 2019 22:29_

Yes every things works perfectly on local, no problem to publish on local or with devops

[2019-03-01 16:14] livarcocc commented on #8078
_From @muratg on February 21, 2019 16:56_

I'm not very familiar with webjobs either. @shirhatti @bradygaster, do you know how this is supposed to work?

[2019-03-01 16:14] livarcocc commented on #8078
_From @ranouf on March 1, 2019 15:52_

Hi,

I still have the problem and no solution. Do you have an idea?

[2019-03-01 16:14] livarcocc commented on #8078
I am going to move this issue to aspnet so see if we can get an answer faster over there. If this turns out to be an issue on the sdk then we can move it back or re-activate.

[2019-03-01 16:24] ransagy commented on #5486
@salaros Thanks, that works well.
@SteveSandersonMS Maybe include something of that sort in the templates as a slightly-better temporary fix? or is there a proper way to handle this lined up somewhere?

[2019-03-01 16:27] danroth27 commented on #8061
This was reproducing for me consistently on the first blazor project I created with the new bits, but after forcing a non incremental build (`dotnet build --no-incremental`) the problem went away. Subsequent runs only take about 4-5sec on my machine. The time delta does match up with the amount of time or takes to run the linker.   I can only repro this now on the first build of new projects. If w

[2019-03-01 16:35] SteveSandersonMS opened #8079 "Latest Blazor build hangs when reloading on fetchdata page"
Blazor templates version: 0.9.0-preview3-19128-02

Repro steps:

* Create hosted or standalone app, `dotnet run`
* Navigate to "fetch data" page
* Press "reload" in browser

Result:

* Browser tab hangs during page load

This did not happen in 0.8.0, of course!

[2019-03-01 16:36] SteveSandersonMS commented on #8061
OK, let's close then!

[2019-03-01 16:36] #8061 closed

[2019-03-01 16:39] muratg commented on #8078
@glennc @shirhatti @bradygaster do you guys know how webjobs are supposed to work?

[2019-03-01 16:49] jkotalik opened #8081 "IIS In-process failing to start due to Exception"
Customer report:

The exception is being thrown on restarting the process.

[code]

[2019-03-01 16:51] muratg commented on #8068
@luminescent what package does `FSGDateTimeLibraryNative.dl` come from? Could you check that package to see if it has 32-bit versions of the whatever native binaries it has?

[2019-03-01 16:55] jkotalik commented on #8069
Can you capture a crash dump and send it to me on the email listed on my github profile? Thanks!

[2019-03-01 16:56] BrennanConroy commented on #8066
This is expected right now. We haven't put any effort into the cross-plat build with CMAKE yet, but this is definitely on our radar.

[2019-03-01 17:08] NTaylorMullen commented on #8070
Depending on the feature set you're looking for you'll want to target one of the various forms of .net standard. For instance, for our pre-3.0 work a lot of Asp.Net Core was targeting netstandard2.0.

If you find yourself in a position where it says missing SDK xyz chances are you haven't yet downloaded/installed the SDK corresponding to what you're trying to build (see below). In your case, you a

[2019-03-01 17:08] #8070 closed

[2019-03-01 17:21] luminescent commented on #8068
Yes that is a 32 bit library. All runs fine as an ASP. NET Core self hosted
process (32 bits again), it is only when using the `TestServer` that it's
tripping.

I don't think this is related to the bitness, as I said I have looked at
this with Process Monitor and _all_ of the processes spun up during
standalone run and integration test run are 32 bit.

On Fri, 1 Mar 2019, 16:51 Murat Girgin, <noti

[2019-03-01 17:29] NTaylorMullen commented on #8023
@chucker I'd recommend ensuring your VS is up-to-date. The call stack you pasted rears its head in multiple different flavors. One of which was fixed in an update (sadly I forget which one).

@DNF-SaS chances are your one VS wasn't up-to-date and reinstalling forced the update where as the other one I imagine you updated it to get the fix?

[2019-03-01 17:34] pakrym opened #8083 "Microsoft.AspNetCore.App.Runtime is not packaged in x86 build"
Because we don't pack all the projects instead only call the `BuildSharedFx` target

[2019-03-01 17:35] pranavkm opened #8084 "Razor projects as transitive references always add content during GetCopyToOutputDirectoryItems"
Consider:

[code]

Where ProjectB has one or more Razor files. A clean build of ProjectA will result in a build failure stating `file ..\Project\obj\Debug\netcoreapp3.0\ProjectB.Views.dll cannot be copied.`

This is because ProjectB does not get compiled but the `_RazorGetCopyToOutputDirectoryItems` target unconditionally adds files to the list of files being copied:
https://github.com/aspnet/AspN

[2019-03-01 17:36] SteveSandersonMS commented on #8079
That would be due to this bad boy:

https://github.com/aspnet/AspNetCore/blob/32aebef4d13e0d5fbe0af4a1453b1283627766fc/src/Components/Blazor/Blazor/src/Hosting/WebAssemblyHostExtensions.cs#L22

@rynowak You were so right! Also I did genuinely locate this line using the client-side debugger.

[2019-03-01 17:41] pakrym opened #8086 "Run helix tests on master"
So we can collect reliable flaky test information.

cc @anurse

[2019-03-01 17:42] pakrym opened #8087 "Enable helix VSTS test reporting"
https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Helix/Sdk/Readme.md

[code]

cc @anurse

[2019-03-01 17:43] pranavkm commented on #8072
@rynowak \ @JamesNK, might be a dup of https://github.com/aspnet/Routing/issues/728, but the `asp-route-page` token also seems suspect.

[2019-03-01 17:45] NTaylorMullen commented on #8065
@Ponant sadly there is no way around this and is by design due to our requirement to harvest page routes without needing to run the application or do C# advanced logic to determine what a pages route should be.

[2019-03-01 17:45] #8065 closed

[2019-03-01 18:00] joovnaz commented on #8072
You are right. Just changing `asp-route-page` param to `asp-route-pagex` html is rendered as expected.

[2019-03-01 18:05] anurse commented on #8046
@HaoK is this in yet or is there a PR? We're trying to get flaky tests skipped ASAP.

[2019-03-01 18:08] BrennanConroy commented on #8046
https://github.com/aspnet/AspNetCore/pull/8045?

[2019-03-01 18:10] pranavkm commented on #8030
Could you include logs from your first request set to `Trace`? At this point, it's a bit difficult to say what's causing the slowness.

[2019-03-01 18:23] jkotalik opened #8089 "Reenable InMemory tests on Helix Linux agents"
Tests have been failing with different failures, including a debug assert:

[code]

As well as the process being killed without any other logs.

[2019-03-01 18:24] anurse opened #8091 "HttpSys.FunctionalTests.Caching_VariousStatusCodes_Cached flaky in helix"
`Microsoft.AspNetCore.Server.HttpSys.FunctionalTests.ResponseCachingTests.Caching_VariousStatusCodes_Cached` appears to be flaky in helix. See https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190226.55/workItem/Microsoft.AspNetCore.Server.HttpSys.FunctionalTests-netcoreapp3.0/wilogs

I'm disabling this test in Helix for now.

cc @Tratcher

[2019-03-01 18:34] springy76 commented on #8023
I had installed Preview3 some days ago without using it at all. After updating it to Preview4 it's broken too: No .cshtml file works, neither Blazor, Razor components, Razor pages or anything other Razor related.

[2019-03-01 18:38] NTaylorMullen commented on #8023
@springy76 would you mind trying to uninstall and reinstall VS preview 4 and see if it continues to be broken?

[2019-03-01 18:41] chucker commented on #8023
It appears for my case, the real culprit is a missing component. I had unchecked various optional components in VS Installer, and it looks like Live Share needs to be enabled.

I've logged https://developercommunity.visualstudio.com/content/problem/474936/razor-language-engine-appears-to-require-live-shar.html for this.

[2019-03-01 18:50] NTaylorMullen commented on #6548
Went another way with this.

[2019-03-01 18:50] #6548 closed

[2019-03-01 18:53] NTaylorMullen opened #8096 "Investigate Razor depending on LiveShare being installed."
https://github.com/aspnet/AspNetCore/issues/8023#issuecomment-468767402

[2019-03-01 18:54] HaoK commented on #8046
Yeah they are skipped in that PR that was merged this morning

[2019-03-01 18:59] jkotalik commented on #8089
Instances:
https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190228.50/workItem/InMemory.FunctionalTests-netcoreapp3.0/wilogs
https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190228.49/workItem/InMemory.FunctionalTests-netcoreapp3.0/wilogs

These only happened on debian8, so I'll just disable for that agent.

[2019-03-01 19:05] lobster2012-user opened #8097 "SignalR:NegotiateAsync always uses proxy"
enviroment - win, netcoreapp2.2.
The problem seems to be in the implementation of the system proxy. If there is a proxy in the system, the negotiation request ALWAYS use the proxy (it does not matter what is on the exception list in system proxy). It is impossible to disable the use of proxies, you can simply disable SkipNegotiation or use your proxy.

The reasons:
HttpHandlerDefaults.DefaultUsePr

[2019-03-01 19:11] ajaybhargavb opened #8098 "Get rid of ChunkGenerators for special Razor directives"
Right now we special case the following directives in the parser and IR,
[code]
They don't follow the same rules as other extensible directives. So, they weren't fully cleaned up when I rewrote the parser. This needs some cleaning up.

[2019-03-01 19:16] anurse commented on #7839
I'm sure he does, he's just a little... flaky

![OH SNAP!](https://i.giphy.com/media/26AHLBZUC1n53ozi8/giphy.webp)

[2019-03-01 19:22] anurse opened #8099 "Get more information about "Test Run Aborted" failures"
We see occasional cases where a test run fails with "Test Run Aborted" and no specific failing test. This is usually due to the test process crashing from a failed assertion or background thread exception. We get almost no data from these, so we need to look at how to get more data into the build log so we can identify the problem.

[2019-03-01 19:23] anurse commented on #7377
Skipping this test to unblock builds.

[2019-03-01 19:32] halter73 commented on #7020
@chenkennt Are you still working on this? Or should we close?

[2019-03-01 19:33] halter73 commented on #6194
This was doc'd as a "quirk" of the messagepack encoding

[2019-03-01 19:33] #6194 closed

[2019-03-01 19:46] pakrym opened #8103 "Helix is publishing in Debug"
And Asserts cause flakiness.

[2019-03-01 19:48] ryanbrandenburg commented on #5309
Ping on this. It seems like every time Java updates we're broken by this in one way or another (JAVA_HOME is not updated, or even ALL versions of java are removed).

[2019-03-01 19:53] anurse commented on #5309
@mikaelm12

[2019-03-01 19:57] mqudsi commented on #8096
Was just bit by this. @chucker saved me a lot of time tracking this down.
In my case I have Live Share installed but manually disabled.

[2019-03-01 20:02] jkotalik opened #8105 "Remove Kestrel Pipe pause and resume thresholds and be more preemptive about sending large available frame sizes."
We hit this issue with https://github.com/aspnet/AspNetCore/pull/7964. The fundamental issue is that if we are calling context.Request.BodyPipe.ReadAsync() and then call AdvanceTo(buffer.Start, buffer,End) (examine without consuming), we will eventually get to a point where we buffer PipeReader too far and it would cause backpressure OR in the case of HTTP2 send a frame update saying that the clie

[2019-03-01 20:03] jkotalik commented on #8105
cc @davidfowl @Tratcher

[2019-03-01 20:03] jkotalik commented on #8105
We probably want this in preview4, correct?

[2019-03-01 20:24] halter73 opened #8108 "SignalR client(js) connectionId is always 0, how to match client connectionId with server side connectionId?"
_From @handsomeyao77 on Tuesday, 26 February 2019 02:05:20_

### Expected  behavior

### Actual behavior

### Steps to reproduce

_Copied from original issue: SignalR/SignalR#4318_

[2019-03-01 20:24] halter73 commented on #8108
_From @halter73 on Tuesday, 26 February 2019 02:33:21_

Can you provide the code you are using to read the connection id?

[2019-03-01 20:24] halter73 commented on #8108
_From @handsomeyao77 on Tuesday, 26 February 2019 02:39:44_

![image](https://user-images.githubusercontent.com/7311188/53383445-ac593480-39b2-11e9-89e9-8ba789332b42.png)

![image](https://user-images.githubusercontent.com/7311188/53383467-c0049b00-39b2-11e9-8fa4-81aefc39cbad.png)

Print connection object, the id is 2 now, confused...

[2019-03-01 20:31] anurse opened #8109 "Kestrel Libuv.FunctionalTests RemoteIPv6Address flaky in Helix"
This test is flaky in helix on `OSX.1012.Amd64.Open`. See https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190227.45/workItem/Libuv.FunctionalTests-netcoreapp3.0/wilogs

* [ ] Skipped

[2019-03-01 20:32] anurse commented on #8109
Can we disable a single test on a specific Helix queue? cc @muratg @Eilon @jkotalik

[2019-03-01 20:34] muratg commented on #8109
cc @HaoK

[2019-03-01 21:00] halter73 commented on #8108
The new SignalR clients don't expose their connection IDs via public properties. We will consider changing this in 3.0. For now, you can return the caller's connection ID from a hub method as a workaround.

[2019-03-01 21:12] pranavkm opened #8110 "Using VS 2019 Community Mac, rzc discover exited with code 150. when building Web Application template"
_From @don01001000 on Thursday, 28 February 2019 03:56:20_

I'm trying to build web applications using VS Community 2019 Preview for Mac but keep getting the error `rzc discover exited with code 150.` whenever I try to build the default ASP.NET MVC template. (I originally pasted the wrong error message writing this issue: ~~`The "ResolvePackageAssets" task failed unexpectedly.`~~) Since the corefx

[2019-03-01 21:12] pranavkm commented on #8110
_From @danmosemsft on Friday, 01 March 2019 17:21:53_

@ericstj any idea which is the right repo for this issue?

[2019-03-01 21:12] pranavkm commented on #8110
_From @don01001000 on Friday, 01 March 2019 18:06:50_

I just noticed that the error trace I pasted is not for the same error as the one I described above. I edited the issue to correct. I updated the issue and title and will try to reproduce the other error message as well.

[2019-03-01 21:12] pranavkm commented on #8110
_From @ericstj on Friday, 01 March 2019 20:23:58_

It looks to me like RazorTagHelper isn't honoring the SDK location but instead finding dotnet on the path.

Code appears to live here:
https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.NET.Sdk.Razor/RazorTagHelper.cs

Here's the bug:
https://github.com/aspnet/AspNetCore-Tooling/blob/0598ec449702813456129996dc854b75ac

[2019-03-01 21:13] NTaylorMullen commented on #8023
Thanks @chucker I've filed #8096 to investigate this further.

[2019-03-01 21:32] HaoK commented on #8109
We don’t have a way to target a specific test for a specific queue yet. I would just skip the whole test on helix for now. I already filed an issue for adding a skip on OS and helix attribute

[2019-03-01 21:58] #8089 closed

[2019-03-01 21:58] jkotalik commented on #8089
closing in favor of https://github.com/aspnet/AspNetCore/pull/8104

[2019-03-01 22:07] ajcvickers commented on #7728
@Eilon @davidfowl @DamianEdwards @divega Here is the associated issue in the EF repo: https://github.com/aspnet/EntityFrameworkCore/issues/14756

Personally, I don't think this is a break worth making. There is little downside in EF continuing to add these services even though it doesn't use them. Yes, it would be cleaner for EF to stop doing this, but not sure it's worth causing any adoption chal

[2019-03-01 22:35] FAlmeidaActionpoint commented on #5272
I have the same issue here

[2019-03-01 22:44] #8083 closed

[2019-03-01 23:20] Tratcher commented on #8105
Yes, the form reader needs this.

HTTP/2 clarification: When there's backpressure it's signaled via the absence of window update frames, not by a special frame asking the client to stop.
- Change: Send window updates based on Examined rather than Consumed (and remove the buffer limits).

[2019-03-01 23:35] springy76 commented on #8023
@chucker (re)installing the optional Live Share component did the trick (I just had disabled it either just before or right after upgrading Preview3 to Preview4).

[2019-03-01 23:48] #8103 closed

[2019-03-01 23:56] anurse commented on #7000
Seeing some more asserts here: https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190301.38/workItem/InMemory.FunctionalTests-netcoreapp3.0/wilogs

[code]

(note that `ContentLength_Received_ReadViaPipes` is *not* the culprit, it's just the log message before the assertion)

[2019-03-01 23:58] NTaylorMullen commented on #8096
Turns out the core issue is due to `Microsoft.VisualStudio.Liveshare.dll` not being available for MEF discovery. Therefore, our Razor.LiveShare services explode and result in those services falling out of the MEF graph.

[2019-03-01 23:59] jkotalik commented on #8105
Ah didn't realize that the lack of window updates is what causes the client to stop.

[2019-03-02 00:37] pranavkm opened #8117 "[Discussion] Microsoft.Interop.JSRuntime.Current has been removed"
In ASP.NET Core 3.0.0-preview3, we are removing the ability to access the `Microsoft.Interop.IJSRuntime` via the static `JSRuntime.Current` property. Application users may continue to access the `IJSRuntime` instance by injecting it in to their components. For example,

Previously:

[code]

After 3.0.0-preview3,

[code]

Related issue: https://github.com/aspnet/AspNetCore/issues/6828

[2019-03-02 01:13] DamianEdwards commented on #5471
Is this issue intended to cover just the WASM side of the world, or localization in the Razor Components server-side features in 3.0 too?

[2019-03-02 01:59] John0King commented on #8117
Is the `Microsoft.Interop.JSRuntime` work with `Blazor` only ? Or it can also can work with regular  Mvc Page ?

[2019-03-02 02:38] anurse commented on #8109
Fixed in #8111

[2019-03-02 04:44] Tratcher commented on #8067
You're not missing anything, this is a feature that hasn't been implemented yet.

[2019-03-02 04:59] liguobao commented on #7008
other log
[code]

[2019-03-02 05:04] 199621616 opened #8120 "Blazor (ASP.NET Core hosted) 在Azure上发布为“独立”模式异常"
### Describe the bug
新建一个Blazor(ASP.Net Core hosted)项目，直接使用Azure App Service服务发布配置文件发布此项目，出现以下错误：
未能找到元数据文件“E:\Core30Web\AppHISP40\AppHISP40.Client\bin\Release\netstandard2.0\win-x86\AppHISP40.Client.dll”

### To Reproduce
Steps to reproduce the behavior:
1. 使用VS2019RC新建Blazor(ASP.NetCore hosted)项目
2. 发布此项目，导入Azure App Service服务发布配置文件
3. 发布——设置——部署模式，修改为“独立”，目标运行时选择“win-x86”,保存、发布
4. 出现以上错误

### E

[2019-03-02 06:32] BrennanConroy opened #8121 "Enforce buffer limits after Pipe behavior change"
We need to react to https://github.com/dotnet/corefx/pull/35711 which removes the old behavior of throwing when the writer is waiting because of backpressure and the reader examines everything but doesn't consume. Instead the reader will now unblock the current write allowing more data to be buffered.

We'll need to enforce our own limits in the `HubConnectionHandler.DispatchMessagesAsync()` metho

[2019-03-02 06:55] lobster2012-user commented on #8097
I checked it at home.
Forcing a proxy is observed if both the pack and the manual proxy are specified. However, the useproxy option is not available. Later I’ll check back at work (where I’ve watched the forcing with only a manual address).

[2019-03-02 07:00] BrennanConroy commented on #8097
You can configure the `HttpMessageHandler` used by the client via the `HttpMessageHandlerFactory` property. See our docs at https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-2.2#configure-additional-options for information on it.

[2019-03-02 07:08] lobster2012-user commented on #8097
@BrennanConroy
Thank you. Closed.

[2019-03-02 07:08] #8097 closed

[2019-03-02 08:14] HassanHashemi commented on #4422
@Tratcher We are experiencing same issue, After requesting many files (some of the requests are killed before being completed the issue happens).
Pure Kestrel.

However i am 99% percent sure this is the case.

So any workaround for this? It kills the app in less than one minute (because of our UX scenario)

[2019-03-02 10:01] fierro opened #8122 "Deploying outofprocess app: HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure"
### Describe the bug
I cannot get this web app to run out off Azure windows app service. i had other tests apps up but this one is evading me.  Locally I run in process, but my research says I would have better luck on azure doing out of process so i am attempting that.

The messages I get:

[code]

### To Reproduce
Steps to reproduce the behavior:
1. ASP.NET Core '2.2'

### Expected behavior
It w

[2019-03-02 11:03] jawagar-mtts commented on #7642
After creating Blazor project. When i tried to run. Blank page is opened and immediately closed. In the output window i see following errors.

'dotnet.exe' (CoreCLR: clrhost): Loaded 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\3.0.0-preview-27324-5\System.Threading.Timer.dll'.
Exception thrown: 'System.IO.FileNotFoundException' in System.Private.CoreLib.dll
Exception thrown: 'System.IO.F

[2019-03-02 11:08] AndersMalmgren opened #8123 "Mock HubCallerContext not possible in core"
### Describe the bug
In SignalR 2.x we had HubCallerContext that took a IRequest we could stub. HubCallerContext is now abstract class and when I try to mock it with Moq i get

[2019-03-02 11:12] #8123 closed

[2019-03-02 14:22] liguobao commented on #7008
@Eilon  Any one can give some idea?

[2019-03-02 15:09] moljac commented on #5640
I hit this issue when binding `Dictionary<int, string>` as configurable menu. After downloading symbols etc I was able to see something `DictionaryBlahBlahImpl<>` or `DictionaryBlahBlahInternal<>`.

Switched to `string[]`

Now with `string[]` it works.

Code was port from older ASP.net to ASP.net Core w Razor Pages.

No. I have no details. After searching and debugging for couple of hours I felt s

[2019-03-02 15:29] Tratcher commented on #4422
CoreFx patched this in 2.2.1 https://github.com/dotnet/coreclr/pull/21417

[2019-03-02 15:35] jannikbuschke opened #8124 "[SignalR] Wrong error message when invoking a method that doesnt exist"
SignalR reports `System.IO.InvalidDataException: Invocation provides 1 argument(s) but target expects 0` when invoking a method that does not exist. The error message is irritating. In my case I had a typo in my method name. Took me quite some time to recognize

[2019-03-02 17:03] BrennanConroy commented on #8124
This should be fixed in version 1.1.X
https://github.com/aspnet/SignalR/pull/2768

[2019-03-02 17:29] mhosman commented on #8122
Same here!!

[2019-03-02 17:33] Chinokaiser commented on #5643
any updates?

i'm using vagrant to run dotnet, i need to point it to run on a specific ip adress so that i can access the app from host.

UseUrls would help

[2019-03-02 18:08] Andrzej-W commented on #8074
Similar to #7952

[2019-03-02 18:37] anurse opened #8126 "Cannot open include file 'aspnetcore_msg.h'"
PR #7706 is seeing this unrelated failure that seems to be coming from the IIS native code

[code]

cc @muratg @Tratcher @jkotalik

[2019-03-02 18:42] jkotalik commented on #8126
That's an autogenerated file. I think it's an ordering issue with building CommonLibTests. It should always be built after the commonlib folder.

[2019-03-02 19:23] anurse commented on #8126
I presume all this means you have an idea of how to fix it? 😝

[2019-03-02 21:03] mikedice opened #8127 "No packages dropped"
### Describe the bug
My goal is to build my own debug copy of asp.net core and use it in an application so I can step through the code in my debugger. Following the build steps I do not see any packages to include in my private build
### To Reproduce
Followed the steps [here](https://github.com/aspnet/AspNetCore/blob/master/docs/BuildFromSource.md)
The result of running build.cmd was the message '

[2019-03-02 21:10] vkras commented on #6000
@GiancarloLelli , in my opinion, using HttpClient internally to make loopback requests sort of defeats the purpose of the batch mode from the performance point of view. Each connect will take time and resources to perform.

[2019-03-02 22:30] mkArtakMSFT commented on #8120
=== Translated using Google Translate ===
### Describe the bug
Create a new Blazor (ASP.Net Core hosted) project and publish the project directly using the Azure App Service service release configuration file with the following error:
Failed to find metadata file "E:\Core30Web\AppHISP40\AppHISP40.Client\bin\Release\netstandard2.0\win-x86\AppHISP40.Client.dll"

### To Reproduce
Steps to reproduce t

[2019-03-03 00:34] shapeh commented on #8036
Update: Same thing happens with OutOfProcess.

[2019-03-03 01:09] anurse commented on #7366
Occuring on #8076. Skipping this test in Helix until we resolve this.

[2019-03-03 01:12] anurse commented on #8109
Reopening actually, I just skipped it. I'd still like to track fixing the flakiness.

[2019-03-03 01:35] rynowak opened #8130 "MVC doesn't produce endpoints for controllers without a route"
If you have controllers without a corresponding route, there will be no endpoints created for these action methods. This is a barrier to some of the more advanced kinds of scenarios we want endpoint routing to support in 3.0.

We can represent these as `Endpoint` (not `RouteEndpoint`) - because they can be executed, but don't have an inherent routing behaviour of their own.

[2019-03-03 01:54] Tratcher commented on #7366
FYI this is a product issue in Data Protection, not a test issue. Unfortunately it primarily reproduces on the CI.

[2019-03-03 02:14] benaadams opened #8131 "Identity UI Register should offer providers"
Going via Login to register with Google account and not being able to do it via Register; is a bit of a weird UX.

If providers are registered; Register does not show them as a method to create a new account

![image](https://user-images.githubusercontent.com/1142958/53689978-a029fa00-3d59-11e9-9c9b-444350790dc1.png)

However, Login will show them, and you can use Login with an external provider t

[2019-03-03 02:47] 199621616 commented on #7670
关键是如何认识、如何定位Blazor的问题。尽管Angular、React、Vue等目前最热的前端Javascript框架的已经形成一个很大的生态系统，但是也不能否认它们具有巨大的局限性。Blazor是这些Javascript框架的替代品，是下一代的大前端框架。支持您danroth27，一路顺风！

[2019-03-03 03:37] mkArtakMSFT commented on #8120
Thanks for contacting us, @199621616.
What is the `deployment mode` of the application, when you publish it?
You can find the `Deployment mode` setting in the `Publish` dialog, see sample at: https://msdnshared.blob.core.windows.net/media/2018/09/image97.png

[2019-03-03 05:09] mkArtakMSFT opened #8132 "Routing doesn't find controllers when using StarterWeb template"
The reason is that the template is missing `router.MapControllers()` call in the `Startup.Configure()` method. This results in the Default Identity UI's `AccountController` not routeable hence the error.

[2019-03-03 05:45] alexsandro-xpt commented on #8131
:ok_hand:
I don't know why this never was thinking as project default before...

[2019-03-03 06:08] pakrym commented on #8126
I think two builds of the same project are generating this file causing a conflict. We need to see if it can be move into a platform specific subdirectory. I can take a look.

[2019-03-03 06:12] pakrym commented on #8126
https://github.com/aspnet/AspNetCore/blob/32aebef4d13e0d5fbe0af4a1453b1283627766fc/src/Servers/IIS/AspNetCoreModuleV2/CommonLib/CommonLib.vcxproj#L276

[2019-03-03 09:20] 199621616 commented on #8120
![default](https://user-images.githubusercontent.com/25498672/53693180-d908b400-3dd7-11e9-86b1-7207457e425d.png)
@mkArtakMSFT 感谢您回复了这个情况。我说的重现中第3条，就是这个发布窗口
3.发布 - 设置 - 部署模式，修改为“独立”，目标运行时选择“win-x86”，保存，发布
发布的目标框架：netcoreapp3.0并且没有其它可选项，您上面发布窗口目标框架是netcoreapp2.1。
部署模式：独立
目标运行时：win-x86

[2019-03-03 09:30] 199621616 commented on #8120
Blazor 0.8.0发布后，这个项目就一直不能正常发布到Azure。无论是使用VS2019的预览版本还是使用刚刚发布的VS2019 RC。
Razor Components可以正常发布。

[2019-03-03 09:32] Patrick8639 commented on #8074
Executing the `dotnet new -i Microsoft.AspNetCore.Blazor.Templates` console command solves the second error (compile), but it doesn't solve the first one (incompatible package)

[2019-03-03 11:21] AndersMalmgren opened #8133 "Need example on stubbing client HubConnection"
### Describe the bug
None core version had a interface IHubProxy which we could Mock easily, the new client has a none abstract concrete typ called HubConnection, I've spent the last two hours trying to mock all its dependecnies so we can Unit test. But without success, can you point me to en example how to mock the HubConnection? Thanks

[2019-03-03 13:03] GuitarHero1969 opened #8134 "HTTP Error 500.0 - ANCM In-Process Handler Load Failure"
Still no resolution for this ?
Should we switch back to using core 2.1 for the time being ?

I added the changes to the Movie class (the Display and Column attributes)
after that I get the above error as soon as I try and navigate to:
https://localhost:44301/Movies.

It is only the Movies route that causes the 500 error, I can't find anything useful by placing breakpoints anywhere.

Various mentio

[2019-03-03 15:40] davidfowl commented on #8133
It's not a mockable type. I'd suggest wrapping it in your own interface and mocking that.

[2019-03-03 15:41] davidfowl commented on #8127
cc @natemcmaster @dougbu @anurse

[2019-03-03 16:14] AndersMalmgren commented on #8133
Thansk for reply @davidfowl Yeah thats whats im doing for now, https://github.com/AndersMalmgren/SignalR.EventAggregatorProxy/blob/b2c194df616d8bb319256ccdf551a92ab2655027/SignalR.EventAggregatorProxy.Client.DotNetCore/Bootstrap/Factories/HubProxyFactory.cs#L55

But it feels like a step back from the old aspnet version.

[2019-03-03 18:37] GuitarHero1969 commented on #8134
Update!!
Ok, hopefully this will help others stuck, because once again vital information was missing from a tutorial.

In VS2017, instead of running the app as IIS Express, I selected MvcMovie from the drop down options available near the green 'run' button.

This appeared to have the effect of selecting the "Project" commandName section of the launchSettings.json file (instead of "IISExpress") wh

[2019-03-03 18:53] Eilon commented on #8059
Hi @Razgort can you please provide exact steps to reproduce this problem, and also more details on the exact error(s) you are seeing?

[2019-03-03 18:57] Eilon commented on #7976
This issue was moved to dotnet/corefx#35738

[2019-03-03 18:57] #7976 closed

[2019-03-03 18:58] GuitarHero1969 commented on #8134
?

[2019-03-03 20:01] mqudsi opened #8137 "Kestrel & IIS Express StackOverflowException leading to access violation submitting empty form"
### Describe the bug

Since upgrading (although it may be a coincidence!) to Visual Studio 16.0 Preview 4, in an ASP.NET Core 2.2 project I'm working on I have a 100% reproducible issue with iisexpress.exe crashing with an access violation error each and every time that I submit (via plain html over http, no ajax) a particular form, but only if I do not populate any of the inputs. As soon as a sin

[2019-03-03 20:44] fierro commented on #8122
So knowing I had a test app out in Azure deployed in process, I went back to this application and change the web.config and program.css to act as if it was in process. and it works now.

I do have that fix in place to for the Current Directory Bug in place form [here](https://github.com/aspnet/Docs/blob/master/aspnetcore/host-and-deploy/aspnet-core-module/samples_snapshot/2.x/CurrentDirectoryHelpe

[2019-03-03 20:44] #8122 closed

[2019-03-03 21:19] mqudsi commented on #8137
I was able to use WinDBG to catch the exception and tracked it down to an infinite recursion in one of the properties of an object bound to an input box with `asp-for=...`

I still have the same question: shouldn't this be caught handled by the framework?

[2019-03-03 21:53] arivera12 commented on #7295
Just ran into same issue I was using a component that was running on 0.7.0 instead of 0.8.0.

[2019-03-03 22:09] uniqueumang commented on #7984
How is this issue not consistent with .net framework implementation?
Looking at some other issues where changes have been made to align with .net framework, then the behaviour reported is inconsistent : https://github.com/dotnet/corefx/issues/18646

[2019-03-03 22:37] anurse opened #8138 "Flaky SignalR test: HttpConnectionDispatcherTests.ErrorDuringPollWillCloseConnection"
Flaky SignalR test: Microsoft.AspNetCore.Http.Connections.Tests.HttpConnectionDispatcherTests.ErrorDuringPollWillCloseConnection

[code]

[2019-03-03 22:38] anurse commented on #8138
Assigned to me to skip

[2019-03-03 22:39] anurse commented on #7366
Cool, still skipping the test ;)

[2019-03-03 23:05] mikaelm12 opened #8139 "Transport Enum needs to be updated based on server transports"
When then the client uses `Transport.All` enum and the server only has LongPolling for example, the client will still try to connect via the Websockets transport.
This happens because we used the enum to decide which transport to construct. But the enum isn't updated based on what transports are available on the server.  https://github.com/aspnet/AspNetCore/blob/67d339ee3b678afc5304bd44d77cba9f676

[2019-03-03 23:18] #8121 closed

[2019-03-03 23:19] #5307 closed

[2019-03-03 23:46] MartinF opened #8140 "[Blazor] Auto build on Save is not working"
### Describe the bug
When I save a page (.cshtml file) a build is not automatically triggered, causing changes to not be visible when manually refreshing in the browser.

It works as expected if I manually trigger the build.

### To Reproduce
Steps to reproduce the behavior:
1. Install Blazor 0.8.0 and Visual Studio 2019 Preview 4
2. Create a new Blazor project using the template under ASP.NET Cor

[2019-03-03 23:58] davidfowl commented on #8138
Possible regressions from recent pipe changes?

cc @pakrym @benaadams

[2019-03-04 00:08] dougbu commented on #8127
@mikedice to generate packages, add the `-pack` (Windows) or `--pack` (otherwise) command-line argument i.e. `.\build.cmd -pack` or `./build.sh --pack`.

In PowerShell, execute `help -full .\build.ps1` to see more about the `.\build.cmd` / `.\build.ps1` command. In Bash, execute `./build.sh --help` to view similar information.

[2019-03-04 01:21] davidfowl opened #8142 "Buffering the entire request body in the pipe does not return the buffered data on the next read"
### Describe the bug
Buffering a content-length request body to the end doesn't return the buffered data after reading.

### To Reproduce

[code]

Reading the request body hangs in the second middleware.

### Expected behavior
The api/values end point should parse the buffered body

[2019-03-04 02:33] JamesNK commented on #7180
@benaadams Hey is this something you probably have experience with. Is there an article, guide or tools you recommend for helping identify what structs should use `in`

[2019-03-04 03:13] JamesNK commented on #4579
Unfortunately you can't do that with `RouteTokenTransformerConvention`. It modifies the endpoints generated at startup. By default there is a single set of them and they don't change per request.

You can access the scoped HttpContext in a parameter transformer using IHttpContextAccessor when you want to transform non-controller/action/area/page routes values:

[code]

[code]

This would allow id

[2019-03-04 03:32] natery2000 commented on #7538
I think I have a decent understanding of the claim side implementation of this issue, but I do not understand cookies enough to contribute to that part. Would a pull request for this have to include both parts, or could it be completed by two pull requests, or is that part covered by 7493?

[2019-03-04 03:53] benaadams commented on #7180
Caution putting it in a public api as its a breaking change to remove it and it could prevent future Jit optimizations from working https://github.com/dotnet/corefx/issues/35679#issuecomment-468562023.

The main downside is it locks the struct into being memory accessed rather than being decomposed into registers in the method where it is used; as its via ref so it must operate on the reference; w

[2019-03-04 03:54] handsomeyao77 commented on #8108
Great! thank you.

[2019-03-04 06:35] sunshiyun opened #8148 "[Blazor] Get the detailed response body when SendJsonAsync failed"
I'm am trying to pass error messages from server to client when the model value is invalid or other server error occurs, but I'm not sure if it is possible using GetJsonAsync/PostJsonAsync/PutJsonAsync.

For example, I tried this:

        protected async Add SaveEmployee()
        {
            var res = new HttpResponseMessage();
            res = await Http.PostJsonAsync<HttpResponseMessage>($"

[2019-03-04 07:19] xrkolovos opened #8149 "Authorize Attribute should have a flag to Override previous Authorize Attributes Controller - Method"
### The Problem
[code]
This GetSettingA is not allowed because SuperAdmins policy is also applied.
The Workaround for this is to create 2 Controllers. This Workaround is not nice because there are 2 different urls, in swagger 2 sections for frontend people to look, 2 files for backend people.
[code]
### The Proposition
A better approche
[code]

[2019-03-04 07:26] xrkolovos commented on #8149
An other strange approach using IAllowAnonymous

https://stackoverflow.com/questions/52729492/net-core-override-controller-level-authorize-attribute-for-a-specific-action#answer-52735146

[2019-03-04 08:22] fplaten commented on #8067
Well that explains everything. For anyone else stumbling across that issue, this is how we fixed it:

[code]

[2019-03-04 08:22] #8067 closed

[2019-03-04 08:31] jcemoller commented on #7756
We're using WithCulture to specify the culture used for the localizer used in an e-mail template, when sending e-mails triggered by certain events. If I understand you correctly @ryanbrandenburg, this usage will be Obsolete.

[code]

In this example, GenerateDailyDigestMessage will be called multiple times for different users, each having (potentially) a different culture.

Please advise what woul

[2019-03-04 08:40] robertjak commented on #8071
Hi,
that is the same feature I miss after my testing of the new technology. Web development has become very complex (actually it always was), one really needs to play and try very often, it is impossible to program everything in advance and then run the build. Of course much can be done in Chrome, but then we need to manually copy paste the changed code to the Visual Studio, save, rebuild...

Othe

[2019-03-04 08:55] robertjak opened #8150 "Razor in code behind (React style classes)"
Hi,

the current rendering solution of React Components is an amplified Razor syntax. It is an effective and pragmatic way but I am asking myself if in long term the more evident syntax of React, where it is completely clear that the code is wrapped in a class and the whole HTML & CSS part is rendered in one method, would be better.

I imagine a clear code behind class with razor inside of a rende

[2019-03-04 09:58] SteveSandersonMS opened #8151 "Components are ignoring async exceptions on 2nd and later renders"
Repro:

[code]

Expected: On the 2nd render, should run the renderer's `HandleException` logic (e.g., logs to console on WebAssembly)

Actual: On the 2nd render, it fails to render but doesn't log anything

This happens because of the `if (_pendingTasks == null)` check in `Renderer.cs`.

Also to clarify, this isn't only on the 2nd+ render of any given component, but of the system as a whole. As in

[2019-03-04 10:03] #7961 closed

[2019-03-04 10:09] SteveSandersonMS commented on #8151
I think this was a regression in 0.8.0. The fix is in #8152.

I'm not expecting the fix to make it into 0.9.0 (hence the PR is to `master`, not the release branch), but CC @danroth27 FYI.

[2019-03-04 10:45] SteveSandersonMS commented on #8140
Thanks for reporting this.

Currently this is expected behavior. We have not yet done the work to migrate the auto-rebuild feature forwards to VS2019.

[2019-03-04 11:02] alagoa opened #8153 "OnDisconnectAsync() does not get called after timeout if client loses connection in the first 20 seconds of the connection."
## [`Code here`](https://github.com/alagoa/SignalRTest)

Using SignalR 2.4.0 [EDIT: mistake, it's SignalR Core 1.1.0]. I have a simple Hub that only has 2 methods, `OnConnectedAsync()` and `OnDisconnectedAsync()`.

[code]

## Describe the bug

When using use a mobile application (tested on Android 8 and 9) to connect to the Hub, if one disconnects (by switching off WiFi, **not** by stopping the ap

[2019-03-04 11:19] robertjak opened #8154 "Object oriented/imperative Razor Components"
Hi,

are there may be some plans for object oriented "flavor" of Razor Components? The current solution is, as far as I know and understand it, actually a .NET equivalent of React, therefore functional oriented.

I have so far programmed in PHP Spaghetti style, Java Swing, C# WinForms, WebForms, ASP.NET MVC, jQuery, MVVM with WPF and Knockout, AngularJS, React ... and from all those technologies I

[2019-03-04 11:44] cannehag commented on #8057
@muratg Any update on this? This is kind of serious since when using swapping in Azure, it will swap over to the production slot before the application is completely initialized.

[2019-03-04 12:37] MarkSFrancis opened #8156 "Chunked output, with Response.OnStarting breaks in AspNet Core 2.2"
Possible duplicate of #4505

### Description
Writing to the response body after the `Response.OnStarting` event is fired fails in 2.2, but works in 2.1

### To Reproduce
#### Program.cs (same as default)
[code]
#### Startup.cs
[code]

Using ASP.NET Core 2.1, the response is a 200 chunked, with the response body "Hello world!"
Using ASP.NET Core 2.2, the response is a 500 without chunking, and the

[2019-03-04 13:06] ZOXEXIVO commented on #6803
I hope that this issue will be the quintessence of the whole struggle with the GC in ASP.NET Core.

[2019-03-04 13:18] IanGleeson commented on #8030
Hey, sorry for the late reply. After banging my head against the wall on Friday I changed plugins from FluentEmail to the official SendGrid email plugin. This removes my problem as SendGrid allows you to make templates directly on their website.

I think the problem was Razorlight, the Razor templating engine FluentEmail relies upon for templates, perhaps due to this issue: https://github.com/todd

[2019-03-04 13:18] #8030 closed

[2019-03-04 13:37] MarkStega opened #8158 "Blazor build fails with unhelpful error when there are native dependencies"
### Describe the bug
Razor Component app projects not building.

### To Reproduce
Steps to reproduce the behavior:

ASP.NET Core 3.0.0P2/VS2019P4

I have a solution that I am upgrading from Blazor 0.7.0 to Blazor 0.8.0; There are two client projects in the solution and both fail to build with the same two errors each.
[code]

### Expected behavior
Correct build

### Screenshots
n/a

### Additional

[2019-03-04 14:00] shapeh commented on #7075
I get similar error for outofprocess, e.g.:

Using 2.2.2.

[2019-03-04 14:53] danroth27 opened #8159 "Missing intellisense for bind-Value"
![image](https://user-images.githubusercontent.com/1874516/53740962-350c2080-3e4a-11e9-988d-bd649cec440a.png)

[code]

[2019-03-04 15:23] Fruchuxs opened #8160 "Support Input arrays without index"
### Is your feature request related to a problem? Please describe.
Dynamic form with items which can be added and removed, also on existing lists.

### Describe the solution you'd like
Like PHP:
[code]

With asp.net I tested the following:
[code]
-> empty list

[code]
-> empty list

[code]
-> works fine, but if I remove the mid element via js I must re number all indexes ... this is fragil.

If th

[2019-03-04 15:38] rynowak commented on #7180
https://blogs.msdn.microsoft.com/seteplia/2018/05/03/avoiding-struct-and-readonly-reference-performance-pitfalls-with-errorprone-net/

[2019-03-04 15:49] rynowak opened #8161 "Razor SDK shouldn't generate the MVC recompilation attributes unless its necessary"
### Describe the bug
A web SDK project that targets `netcoreapp3.0` with no razor files will unconditionally have these attributes:

[code]

This adds extra runtime references to types that are probably not used.

This logic needs to be updated to consider whether you have any `.cshtml` files, and/or be based on some explicit gesture in the project file, or just obsoleted.

Basing this on the pres

[2019-03-04 15:49] rynowak commented on #8161
/cc @pranavkm

[2019-03-04 15:49] Ahmed-Habbachi opened #8162 "UseAngularCliServer adds --port {portnumber} to script by default!"
### Describe the bug
UseAngularCliServer adds --port {portnumber} to script by default!
this should be an option not an obligation, i want to run my npm script without adding --port at the end of my script

[2019-03-04 16:05] CrossBound commented on #6878
I would also like to see a per-request option as mentioned by @hmvs here https://github.com/aspnet/Mvc/issues/6920#issuecomment-363754027

[2019-03-04 16:29] TPucke opened #8163 "Include support for proposed username in WsFederation request"
### Is your feature request related to a problem? Please describe.
While adding ADFS integration to my v2.2 asp.net core application using WsFederation in the Security namespace I found (just lucky) that if I include a query parameter in the request to ADFS named `username`, the authentication prompt from ADFS will pre-populate the user name.  This improves my user experience because at the time I

[2019-03-04 16:30] jjxtra commented on #3076
If you have a transient service constructor that takes an IServiceProvider, the service provider will be disposed. This is a bug in .NET core.

[2019-03-04 16:34] pakrym opened #8164 "[Helix] InMemory.FunctionalTests-netcoreapp3.0 timeout on Ubuntu.1810.Amd64.Open"
https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190303.15/workItem/InMemory.FunctionalTests-netcoreapp3.0/wilogs

cc @anurse

[2019-03-04 16:37] davidfowl commented on #3076
Can you open up a new bug with your specific issue with some sample code that reproduces the problem? Closed issues are rarely looked at...

[2019-03-04 16:44] #8151 closed

[2019-03-04 16:49] muratg commented on #8057
@pakrym @jkotalik any thoughts here? Is this due to how logs are processed, or are we actually skipping this in InProc?

[2019-03-04 16:51] #3967 closed

[2019-03-04 16:52] pakrym commented on #8057
We had a fix for AppInit in 3.0 https://github.com/aspnet/AspNetCore/pull/7024 which might help this.

[2019-03-04 16:52] rynowak commented on #8064
We need to update this to include `.razor` files https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.CodeAnalysis.Razor.Workspaces/ProjectSystem/WorkspaceProjectStateChangeDetector.cs#L106

As well as https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.VisualStudio.LanguageServices.Razor/ProjectSystem/RazorDynamicFileInfoProvider.cs#L16

We

[2019-03-04 16:53] blowdart commented on #8163
@Tratcher we don't have a way to pass anything into SignIn/Challenge do we? A key/value dictionary sounds awful, as people are simply going to make parameters up and see what sticks, it's a failure focused API.

[2019-03-04 16:55] jkotalik opened #8165 "Create a BufferedPipeReader"
It can be used by the form reader here: https://github.com/aspnet/AspNetCore/blob/f2e6e6ff334176540ef0b3291122e359c2106d1a/src/Http/Http/src/Features/FormFeature.cs#L139-L142. This can be a fairly simple wrapper which continually calls AdvanceTo(Start, End) on the inner PipeReader.

[2019-03-04 16:55] jkotalik commented on #8165
@davidfowl

[2019-03-04 16:55] danroth27 opened #8166 "Use of option tag inside an InputSelect generates a warning"
![image](https://user-images.githubusercontent.com/1874516/53748991-490c4e00-3e5b-11e9-8726-1e08fc51e29d.png)

[2019-03-04 16:57] blowdart commented on #8149
Well the workaround would be to apply the loosest policy at the highest level and then narrow as you go down;

[code]

Is the objection to this that you want to be more restrictive by default, or is it around the duplication of the SuperAdmins attribute, or something else?

[2019-03-04 16:58] pakrym commented on #8057
@cannehag are you able to try 3.0 preview using the site extension as described in https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/azure-apps/?view=aspnetcore-2.2#deploy-aspnet-core-preview-release-to-azure-app-service

[2019-03-04 17:07] sbwalker commented on #8074
If you recently installed VS2019 you will need to go into Tools / Options and search for ".NET Core". You will need to select the checkbox "Use Previews of the .NET Core SDK". Once you have done this, reload the solution and Build. It will pull down the necessary dependencies and build properly.

![vs2019](https://user-images.githubusercontent.com/4840590/53749640-c775e980-3e75-11e9-85f6-f85019a8a

[2019-03-04 17:11] Tratcher commented on #8163
We already do this with Google OAuth and OIDC via AuthenticationProperties. Is username a standard field or adfs specific?

[2019-03-04 17:15] blowdart commented on #8163
I can't see [anything](http://docs.oasis-open.org/wsfed/federation/v1.2/os/ws-federation-1.2-spec-os.html), but the specs are so spread out, who knows

[2019-03-04 17:23] Eilon commented on #7008
@halter73 - any idea?

[2019-03-04 17:26] Eilon commented on #7728
I would consider "erring" on the side of doing what's "best" for EF here. I think it is incorrect to assume "someone else" has registered services for you because that is not a contractual thing. I think that while updating from 2.x to 3.0 there will be an upgrade "process" (i.e. migration doc) anyway, and we could include a mention of this in there.

But, I'm not pushing strongly on this. If the

[2019-03-04 17:27] Eilon commented on #8028
It is unlikely we would make a breaking change for such a trivial case. Perhaps we could serve people better by having clearer XML doc comments in the type?

[2019-03-04 17:28] mguinness commented on #5780
The World Wide Web Consortium (W3C) [announced](https://www.w3.org/2019/03/pressrelease-webauthn-rec.html) today that the Web Authentication API (WebAuthn) is now an official web standard.  Are there any plans to integrate this into ASP.NET Identity Core?

[2019-03-04 17:29] Eilon commented on #7977
The only mentions on the internet of `ResetSendPing` I can find are of our own source code (incl. forks/copies). Go ahead with the breaking change. I'm not sure if an announcement is worthy because it is almost certainly just noise. But we could err on the side of caution and announce it anyway, just to be open.

[2019-03-04 17:35] anurse commented on #7774
Useful for IIS crashes and for hanging tests.

[2019-03-04 17:38] anurse opened #8168 "[Helix] Flaky Kestrel Test: ValidationFailureRejectsConnection"
`Microsoft.AspNetCore.Server.Kestrel.InMemory.FunctionalTests.HttpsConnectionAdapterTests.ValidationFailureRejectsConnection` is flaky in Helix. Failed in unrelated PR: https://github.com/aspnet/AspNetCore/pull/8143

[code]

[2019-03-04 17:42] anurse opened #8169 "Allow `SkipOnHelixAttribute` to take specific configurations to skip on"
We should allow the `SkipOnHelix` to be constrained to only skip the test in certain configurations. We have some tests that are only flaky in one Helix configuration and it seems like a shame to disable that test for all Helix configurations.

[2019-03-04 17:46] anurse commented on #8164
Hrm, timeout errors are fun... not sure what is equivalent to "skipping" here, since I don't really want to turn the entire test pass off.

[2019-03-04 17:49] Tratcher commented on #8156
By design, OnStarting must never write to the response body. OnStarting is triggered by the first write to the response body or when the response ends without a body. It's too late to provide a body. If this ever worked it was an accident.

[2019-03-04 17:49] #8156 closed

[2019-03-04 17:54] Tratcher commented on #8165
Except then you need a way to get back to the lower level unconsumed pipe. `EnablePipeRewind` and `RewindPipe()`?

[2019-03-04 17:56] anurse commented on #7977
I lean towards just putting out an announcement. The text would be something like:

These methods are for internal use only but were unintentionally made public in 2.2. We are making them private (as originally intended) in 3.0.

[2019-03-04 17:57] MarkSFrancis commented on #8156
Thank you for the help!

[2019-03-04 17:57] yilmazdurmaz opened #8172 ""dotnet watch run" should be able to exclude csproj itself"
### Is your feature request related to a problem? Please describe.
I am in learning phase on the console-only with dotnet core. "dotnet watch run" does great for me for every change/save I do. But now I try to advance in versioning too.

I am trying to update version info that I keep in the csproj file with the help of scripting.  I do have a real nice xml-read/write script to change version in cs

[2019-03-04 17:59] SteveSandersonMS commented on #8154
If you could post some very specific examples of concrete problems you experience with the existing components programming model, we can evaluate this. Otherwise I suspect this is too abstract to say anything about. Hope that's OK!

[2019-03-04 18:00] davidfowl commented on #8165
Right, there's no way to seek so maybe a new API to get the body would be better.

[2019-03-04 18:01] mikaelm12 commented on #7977
I think that sounds reasonable. Err on the side of over communication

[2019-03-04 18:02] ryanbrandenburg commented on #7756
It sounds like you already have an idea, but our proximal suggestion for that scenario is something like:

[code]

That code hasn't been tested or anything, but it should be relatively close.

My more structural suggestion would be that the CurrentCulture and CurrentUICulture be set off of User.Culture when the users context is loaded (and reset when it's disposed). That way you don't have to repe

[2019-03-04 18:11] TPucke commented on #8163
FYI I originally tried the query parameter because I found it mentioned [here](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-mwbf/54759c9b-4298-44f7-9026-f5ee815594d8)

[2019-03-04 18:19] chenkennt commented on #7020
@Arash-Sabet Since #6448 is resolved, do you still see this problem? I think these two should have the same cause.

[2019-03-04 18:22] xrkolovos commented on #8149
If there inheritance in the Controller it's not that simple. Crud operations are inherited from a Base Controller. So that's not possible.

[2019-03-04 18:32] nelle775 opened #8175 "OAuth 2 refresh token support"
The OAuthHandler class does not provide any option to expire the underlying Cookie ticket upon expiry of the Bearer Token, also it does not have any support for Refresh tokens other than storing the value in AuthenticationProperties.

I Suggest the following:
Add a property: bool ExpireUponTokenExpiry to RemoteAuthenticationOptions

On authenticating ticket, check this property
if false just retur

[2019-03-04 18:46] pranavkm opened #8176 "Consider alternative approach to determine MVC application parts"
We use the deps file to determine what assemblies reference MVC today. In 3.0, this is essentially anything that references `Microsoft.AspNetCore.App`. An alternative to this would be to determine if we could instead look at the assembly metadata to determine if an assembly was compiled against MVC. This may limit the number of assemblies we scan for. In addition, this has two added benefits:

1)

[2019-03-04 18:47] Arash-Sabet commented on #7020
It's possible that they may or might be relevant. Since we've not seen the issue so far, I am going to close this ticket but monitoring the situation.

[2019-03-04 18:47] #7020 closed

[2019-03-04 18:54] mkArtakMSFT commented on #8162
Thanks for contacting us, @Ahmed-Habbachi.
Can you please share more details regarding where do you specify the port yourself?
The logic in the Angular middleware automatically finds an available port and uses that for starting the Angular CLI behind the scene.

[2019-03-04 18:54] jsheetzati commented on #7020
We are experiencing the same issue with our managed SignalR service in half our environments. Each environment has its own hub and its own managed SiganlR service so I am not sure #6448 applies to us.

https://github.com/Azure/azure-signalr/issues/395

[2019-03-04 19:04] chenkennt commented on #7020
@jsheetzati I think that may be a different problem. Could you send me your resource name (to my email) so I can take a look at the service side?

[2019-03-04 19:13] blowdart commented on #8163
Oof, the use of that is super limited,

_<18> Section 2.2.3: The username parameter is not supported on Windows Server 2003 R2, Windows Server 2008, Windows Server 2008 R2, or Windows Server 2012. Additionally, in AD FS, if the AD FS behavior level is set to AD_FS_BEHAVIOR_LEVEL_2 or higher, this parameter is used to derive the IP/STS that receives the wsignin1.0 request message_

[2019-03-04 19:19] halter73 commented on #8108
We probably want to add a note to our docs that it's easy to impersonate a client given their connection id.

[2019-03-04 19:23] halter73 commented on #8153
What version of the server and client are you using. It's interesting there are no logs related to missed keep alives.

[2019-03-04 19:24] #8124 closed

[2019-03-04 19:40] rynowak opened #8177 "Blazor Roadmap"
**This is a tracking item for the overall Blazor features in .NET Core 3.0**

Items are arranged by milestone.

*DESIGN:* items mean that the design work will occur in that milestone - the actual product work will generally happen in the next milestone.

## Preview 3

- [x] [#6351](https://github.com/aspnet/AspNetCore/issues/6351) - Updates to Event Handling and Bind
- [x] [#4057](https://github.c

[2019-03-04 19:42] rynowak commented on #8177
Locking this because it's our high-level planning and status issue. Feel free to use other issues to discuss or give feedback.

[2019-03-04 20:07] sebastienros opened #8178 "Potentially wrong Microsoft.AspNetCore.Testing version"
When building the benchmarks I get this build error:

[code]

The issue seems to be that `Microsoft.AspNetCore.Server.IntegrationTesting` seems to be pointing to an old `Microsoft.AspNetCore.Testing` package. See this link that shows that it references `3.0.0-preview4.19125.6` which is a week old.

[2019-03-04 20:18] Eilon opened #8179 "HostBuilder ConfigureAppAConfiguration setup is overwritten with default implementation"
_From @rholsman on Thursday, 21 February 2019 20:55:38_

HostBuilder ConfigureAppAConfiguration setup is overwritten with default implementation

When developing an application tar getting .NET Core 2.2, if a user creates a host builder and and uses the ConfigureAppConfiguration method and submits a delegate function as an argument; after the scope of the delegate has ended the default implementat

[2019-03-04 20:19] Eilon opened #8180 ".Net Core 2.2 Auth AzureAD Startup Generated Code is Complete?"
_From @DanJ210 on Wednesday, 20 February 2019 16:08:02_

Generated startup code is very light and when I try it in other .Net Core 2.2 MVC Web Applications it doesn't work. I'm trying to find documentation on this small snippet of code but the .Net Core documentation is on 2.0 and doesn't talk about what's going on in 2.2, [.Net Core Documentation](https://docs.microsoft.com/en-us/aspnet/core/secu

[2019-03-04 20:22] NTaylorMullen commented on #5048
@ajaybhargavb this is done right?

[2019-03-04 20:25] ajaybhargavb commented on #5048
Yup dup of https://github.com/aspnet/AspNetCore/issues/5106

[2019-03-04 20:25] #5048 closed

[2019-03-04 20:26] halter73 commented on #7008
@liguobao That error indicates that the server is unable to send response body data to the client faster than the default 240 bytes/sec minimum rate. The server assumes the slow transfer speed is the fault of the client and closes connections with data transfer rates lower than the minimum rate that have been open longer than the default 5 second grace period.

We've noticed that these min rate er

[2019-03-04 20:33] rynowak opened #8181 ".razor files interfere with up-to-date-check in VS"
Steps to reproduce:

1. Create a Razor Components project
2. F5 and see it load
3. Stop debugging
4. Edit one of the .razor files (e.g. change text or add some markup)
5. F5

Expected:
markup changes should be rebuilt and shown in the browser

Actual:
Project is considered "up to date" and no rebuild happens.  Old content shows in browser.

The `.razor` wildcard needs to be added here: https://git

[2019-03-04 20:35] sebastienros commented on #8178
The issues is that this package is from Extensions, and we haven't updated it since the aspnet runtime changes (.ref packages?)

[2019-03-04 20:39] anurse opened #8182 "Flaky SignalR Test: HubConnectionTests.CanStreamClientMethodFromServer"
`Microsoft.AspNetCore.SignalR.Client.FunctionalTests.HubConnectionTests.CanStreamClientMethodFromServer` flaked out in Helix

https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190304.15/workItem/Microsoft.AspNetCore.SignalR.Client.FunctionalTests-netcoreapp3.0/wilogs

[code]

[2019-03-04 20:39] anurse commented on #8138
https://github.com/aspnet/AspNetCore/issues/8182 related?

[2019-03-04 20:40] rynowak opened #8183 "Autogenerate event handler methods for components"
![image](https://user-images.githubusercontent.com/1430011/53761521-96e47e80-3e7a-11e9-8546-8fcc83ddfb49.png)

It would be tremendously productive and useful if we could code-fix the event handler method for you like winforms does.

[2019-03-04 20:42] BrennanConroy commented on #8182
https://github.com/aspnet/AspNetCore/issues/6597

[2019-03-04 20:42] rynowak opened #8184 "EditText code generation is broken"
The code generation for EditText is broken

![image](https://user-images.githubusercontent.com/1430011/53761645-ec209000-3e7a-11e9-8a0e-2141343f02be.png)

The expression is being turned into a literal string instead of an LValue. I'm not sure how this was missed - you can work around it by adding changing bind-Value="person.Name" into bind-Value="@person.Name".

[2019-03-04 20:42] anurse commented on #8164
We need xunit diagnostic logs and our test logs from Helix. Dumps might help too. #7774 is tracking that work.

[2019-03-04 20:42] anurse commented on #7774
Also, it would be good to be able to extract our test logs as well as xunit diagnostic logs

[2019-03-04 20:44] ajaybhargavb opened #8185 "Some file paths aren't normalized correctly"
Originally reported [here](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/807734).

[Here](https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.AspNetCore.Razor.Language/DefaultRazorProjectFileSystem.cs#L55) if the input path starts with `\\` like in a network share, this would throw. We need to normalize the input path just like we do with `Root` before this `S

[2019-03-04 20:45] brechtvhb commented on #4767
I "fixed" this by manualy commiting my session. I spent hours finding out what the problem was ..
HttpContext.Session.CommitAsync();

[2019-03-04 20:46] #5765 closed

[2019-03-04 20:46] halter73 commented on #8138
Why is TaskExtensions.DefaultTimeout only 5 seconds? In Kestrel we make it 30 because we've found that ThreadPool.QUWI takes over 5 seconds to schedule sometimes on our CI agents.

[2019-03-04 20:47] HaoK opened #8186 "Port identity fixes to scaffolding"
Need to port https://github.com/aspnet/AspNetCore/pull/7002
https://github.com/aspnet/AspNetCore/pull/8013

[2019-03-04 20:48] HaoK commented on #5766
Fixed in https://github.com/aspnet/AspNetCore/pull/7002

[2019-03-04 20:48] #5766 closed

[2019-03-04 20:49] anurse opened #8187 "Flaky WebSockets test: WebSocketMiddlewareTests.OriginIsValidatedForWebSocketRequests"
`Microsoft.AspNetCore.WebSockets.Test.WebSocketMiddlewareTests.OriginIsValidatedForWebSocketRequests` is flaky in Helix

[code]

[2019-03-04 20:54] anurse commented on #8182
Closing in lieu of #6597

[2019-03-04 20:54] #8182 closed

[2019-03-04 21:05] JerryMcMillan commented on #8018
I was able to fix this by changing
`<Router AppAssembly="typeof(Startup).Assembly" />`
to
`<Router AppAssembly="@typeof(Startup).Assembly" />`

[2019-03-04 21:26] rynowak opened #8189 "Add and document the pattern for forms and validation in components with collections of items"
Consider a model like:
[code]

How we would write a form that lets you add a dynamic number of emergency contacts? I tried this during some app building time, and there are some problems with it that we could make better.

## Issue 1

Doing the most obvious thing with a collection throws an IndexOutOfRangeException.

![image](https://user-images.githubusercontent.com/1430011/53763865-a8308980-3e80

[2019-03-04 21:30] rynowak opened #8190 "Exception during component initialization will CRASH the application"
Create a new Razor Components project
Edit `Index.razor` and write some code that will result in a null-reference exception.
Run the project with Kestrel as the entry point (not IIS Ex)

This will CRASH the server process

![image](https://user-images.githubusercontent.com/1430011/53764258-a0bdb000-3e81-11e9-936c-e80f8b5a9995.png)

@javiercn says he knows the root cause and fix.

[2019-03-04 21:39] rynowak opened #8191 "bind-Value on EditText often results in the wrong thing"
### Describe the bug
Using `EditText` in the obvious way results in bad codegen. It does something technically value, but not what you want.

### To Reproduce
![image](https://user-images.githubusercontent.com/1430011/53764685-cbf4cf00-3e82-11e9-8dbe-d157fb3c492b.png)

This generates the following code:

![image](https://user-images.githubusercontent.com/1430011/53764703-d911be00-3e82-11e9-9e10-fd

[2019-03-04 21:41] rynowak opened #8192 "Subclassing of Form components doesn't work well"
I tried subclassing EditNumber to implement something similar to this

It doesn't work because the genered code from a razor file calls` base.BuildRenderTree` - you get the rendering of the base class and what you wrote.

![image](https://user-images.githubusercontent.com/1430011/53764794-1c6c2c80-3e83-11e9-83e4-2c9d43bad69d.png)

We should be able to fix this by making it unnecessary for a compon

[2019-03-04 21:43] anurse commented on #8164
https://mc.dot.net/#/user/aspnetcore/pr~2Faspnet~2Faspnetcore/ci/20190304.3/workItem/InMemory.FunctionalTests-netcoreapp3.0/wilogs as well.

Not sure the best way to mitigate these. We could disable all of InMemory.FunctionalTests in Helix but that's a really big hammer to apply. Both cases have been on Ubuntu (but different versions), we could try just disabling them on those platforms. That's st

[2019-03-04 21:43] rynowak opened #8193 "Workarounds for @inherits Page<TModel> are causing spooky issues"
There is some WIERD stuff going on with using the type object in components.

I suspect this is due to one of the various workarounds that's in place to allow you to write @inherits Foo<TModel> in _ViewImports.cshtml without a compiler error. I've never understood what's being done for this case and why it's the right solution - and I guess it's time for me to dig into this area.

This is breaking

[2019-03-04 21:44] rynowak commented on #8193
Level of spookiness

![image](https://user-images.githubusercontent.com/1430011/53764981-a0beaf80-3e83-11e9-9646-3d0a12467f92.png)

[2019-03-04 21:45] TPucke commented on #8163
For context, the version of server where this was successful for me is 2012 R2.

Regarding the second part of the footnote, I believe the comment on the elevated behavior level setting (to server 2016 feature set) refers to a requirement that AD FS performs an additional function of identifying another IP/STS (based on the username value) to which the request should be forwarded when acting as a m

[2019-03-04 21:56] anurse commented on #8168
Blocking https://github.com/aspnet/AspNetCore/pull/8143

[2019-03-04 22:16] HaoK commented on #7746
Fixed in https://github.com/aspnet/AspNetCore/pull/8107

[2019-03-04 22:16] #7746 closed

[2019-03-04 22:46] #8016 closed

[2019-03-04 22:46] Valks commented on #8018
Hmm interesting that didn't work for me. I'll try again.

[2019-03-04 23:19] JerryMcMillan commented on #8018
Perhaps this should be titled "Errors in Razor Components template".

The other change I had to make to display the home page with no error was adding the `@` to `Match="@NavLinkMatch.All"` on line 11 in NavMenu.razor

[2019-03-04 23:41] Tratcher commented on #8179
HostBuilder has no default config sources, those must be coming from one of your other calls on the HostBuilder. Can you provide a complete example?

[2019-03-04 23:47] Tratcher commented on #8180
All of that [controller code](https://github.com/aspnet/AspNetCore/blob/master/src/Azure/AzureAD/Authentication.AzureAD.UI/src/Areas/AzureAD/Controllers/AccountController.cs) was moved into the Microsoft.AspNetCore.Authentication.AzureAD.UI package. If AddAzureAD compiles then you have that dependency already. That doesn't explain your AuthenticationScheme error though.

When you copied that code

[2019-03-04 23:58] Tratcher commented on #8175
The [UseTokenLifetime](https://github.com/aspnet/AspNetCore/blob/39e52578d354a6a7abb3f6169d5ac2174ffe4551/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectOptions.cs#L272) OIDC option already does part of this, tying the cookie lifetime to the token lifetime, though most people don't like it and have turned it off.

The biggest gap in the suggested design is that RemoteAuth.AuthenticateA

[2019-03-05 00:17] #7875 closed

[2019-03-05 00:50] Andrzej-W commented on #8189
@rynowak issue 1 is related to this original post:
https://github.com/aspnet/Blazor.Docs/issues/371#issuecomment-453764615
It was moved here:
https://github.com/aspnet/Docs/issues/10768
Unfortunately it is now closed and change in the doc is in my opinion to small - it only mentions lambda expressions. I can bet that people will have problems with binding also and your example is the best proof of

[2019-03-05 01:27] #7537 closed

[2019-03-05 03:35] NTaylorMullen commented on #7146
https://github.com/aspnet/AspNetCore-Tooling/commit/ba6450a69532875cd1878c4729fa6b8693c95188

[2019-03-05 03:35] #7146 closed

[2019-03-05 03:54] alagoa commented on #8153
Thanks for the quick reply.
I was using SignalR Core `2.4.0` on the server and the client was using version `1.0.4`. After updating the client version to `1.1.0` the issue was fixed.
Can anyone give me more insight into what was exactly changed between the two versions?

[2019-03-05 03:56] BrennanConroy commented on #8153
First off 2.4.0 doesn't exist. Secondly, in 1.1.0 we added keep alives from the client to the server. So now if the server detects no keep alive then it will disconnect the client.

[2019-03-05 04:21] alagoa commented on #8153
My bad, I'm using SignalR Core 1.1.0 on the server.

I get why those changes make the problem disappear, but I still don't understand how that relates to this particular issue, though.
I don't understand why the server behaves differently in those two situations I presented. In both cases, the server tries to reach the client, but it only closes the connection in one of them, why?

[2019-03-05 04:23] liguobao commented on #7008
@halter73 Thank !
We use [slowhttptest tool](https://github.com/shekyan/slowhttptest) can reproduce the log ,
and our's web api always can't return anything.
That is die.

I try to set "MinResponseDataRate"

[code]
but it not work.

I tried to start the webapi ,no any external request into the webapi, the webapi app work.
If any request into the webapi, the  webapi app no work large probability.

[2019-03-05 04:24] #7571 closed

[2019-03-05 04:44] davidfowl commented on #8153
In 1.1.0 of the client, we added client to server pings to aggressively detect disconnections on the server.

[2019-03-05 04:54] TanukiSharp commented on #8153
Thanks for the info @davidfowl (and congrats for your recent promotion !)

I've read somewhere ASP.NET Core 3 will allow to use a different JSON library than NewtonSoft. Any chance this happens too with SignalR soon ? We are using it (SignalR client) in Unity3D but because of iOS and NewtonSoft JSON clash we had to fallback using BestHTTP plugin, which seems to still be on 1.0.4.

[2019-03-05 05:48] cannehag commented on #8057
@pakrym I can test this of course, but that would be on a dummy service since we have production issues with the current version. Are there any plans to adress this before the release of 3.0 ?

[2019-03-05 06:07] cannehag commented on #8057
@pakrym Just tested and I can verify that it is now running the AppInit although with another User-Agent than it usually do: "SiteWarmup" (Before it was "IIS Application Initialization Warmup")

[2019-03-05 07:06] Patrick8639 commented on #8074
Thanks sbwalker, that solved this problem.

But Microsoft should really update the documentation, because these two problems are not obvious to solve.

[2019-03-05 07:06] #8074 closed

[2019-03-05 07:31] davidbmasterson opened #8202 "[Blazor] Check-boxes behaving strangely in lists."
With 2 for loops one for checked items and one for unchecked items.
When you check the first item on the unchecked list, the first item moves to the checked list and disappears from the unchecked list as you would expect.

However what was the second item in the unchecked list is now showing as checked in the page and false in the underlying List<Tag> this continues to happen if you check other it

[2019-03-05 07:47] davidfowl commented on #8153
Thanks!

Yes, we're doing work on this in 3.0, it probably won't solve your unity problems on iOS though. At least not in the initial release.

[2019-03-05 08:23] Ahmed-Habbachi commented on #8162
i use it in an electron + angular + asp.net core project for UI stuff and i have a ready to use script that allow me to start angular and electron and this UseAngularCliServer i use it as a work around to run my script. as i didn't find any way to do it differently.
my script is:
"start": "npm run postinstall:electron && npm-run-all -p ng:serve electron:serve"
so at the end of the command UseAngul

[2019-03-05 10:40] brianlowe commented on #7788
I used the cli `dotnet publish`  to create my standalone app then set it up as a GitHub Pages site. The files are all present in the relevant branch (gh-pages) as required by GitHub *but* I got 404 for the request to `_framework/components.webassembly.js`.

I worked out that the underscore is the problem. Renaming the folder to `framework` (and making the corresponding edit in `index.html`) made G

[2019-03-05 10:51] brianlowe commented on #7788
I loaded the same published resources (unhacked - retaining the underscores in URL paths) to a Windows 2008 server with IIS 8 and got 404 errors for the .json and .wasm files because there was no MIME mapping for those file types by default.

Adding custom MIME mappings for `.json' => `application/json` and `.wasm` => `application/wasm` resolved the issues.

[2019-03-05 11:26] SteveSandersonMS commented on #5471
@DamianEdwards Both. Currently this issue is quite high-level and all-encompassing, but will get broken down into several sub-issues as we start work on it.

[2019-03-05 12:24] troncomputers commented on #7788
- Is there a workaround for debugging with Visual Studio?
- Have I always publish the project, change the names of the folders to see changes made in web app?
- Will `.nojekyll` file work in debugging? Where to put it?

I've started Blazor project to learn the new technology. There is a big chance I will never publish that so do I need to wait for finall fix or you (@brianlowe) can tell me, step b

[2019-03-05 12:25] SteveSandersonMS commented on #8189
One mitigating factor is that the *really* most obvious thing (`foreach`) actually does work.

Of course I do agree we should look for a good fix for the `for` case too though!

[2019-03-05 12:38] brianlowe commented on #7788
@troncomputers I'm also just at the experiment stage, so I just ran up the demo project in Visual Studio (2019 preview) but was frustrated when trying to run it under Visual Studio's IIS Express just failed. I find working in VS Code and at the command line a much nicer experience for DotNet Core.
Running it locally (at the command line with `dotnet run`) works fine (although I haven't done anythi

[2019-03-05 12:55] SteveSandersonMS commented on #5670
@AndreasTruetschel is correct. You will need `bind-something` for this to work, otherwise this line of code:

[code]

... is only writing to its own `ElementRef` property, not to the corresponding property on the caller.

Since you're writing your component in raw C# instead of Razor, you'll have to figure out what C# code is equivalent to the `bind-something` that Razor would generate.

[2019-03-05 12:55] #5670 closed

[2019-03-05 13:01] JesperOlsen commented on #8202
Was searching for a solution to a problem exactly like what you describe and found your very new ticket.
Though my checkboxes are in a table, but they exhibit the same behaviour.
When I click one checkbox my business logic dictates that that row is removed from the list. When the UI rerenders the row is removed but the row beneath the removed row now has it's checkbox checked?!

[2019-03-05 13:18] SteveSandersonMS commented on #6349
We've done some thinking on this, and here's an overview:

* Libraries (whether consumed as projects or packages) can expose static files using some syntax in their `.csproj`.
    * We *might* do it on a per-file basis, via an itemgroup like `<StaticFile Include="dist/**/*.js" />`
    * ... but there are good reasons why we might prefer to do it on a per-directory basis, e.g., with a property like

[2019-03-05 13:30] Ahmed-Habbachi commented on #8162
i found a work around to use the passed --port to my built script and use it to start my electron project

[2019-03-05 13:48] jcemoller commented on #7756
Thanks @ryanbrandenburg.

As you've guessed, this is part of a background task (IHostedService) where there are 20+ templates for e-mail and text messaging sent to thousands of users all on different locales.

I was mostly concerned about performance, concurrency or other issues that could arise from rapidly changing the current culture on the thread. Since that does not seem to be an issue, I wil

[2019-03-05 14:40] SteveSandersonMS commented on #5544
Closing as a duplicate of #5545

The original requirement (text input, into which the all input is forced into uppercase) is handed quite easily using `style="text-transform: uppercase"` so it's presented in uppercase while typing, and then any other technique you like to convert the underlying `string` to uppercase before you use it. Example:

[code]

[2019-03-05 14:40] #5544 closed

[2019-03-05 14:42] SteveSandersonMS commented on #5544
In general, yes. Since this has to be async, you can't use .NET code for that. Our hope is that this is a sufficiently rare case that it's not going to impact productivity much, and if there are scenarios that are common enough, we can come up with suitable helpers for it.

[2019-03-05 14:51] MaiHassanM opened #8203 "Razore Component Doesn't Support "short" Data Type"
When I bind a field to a property that has a short datatype it generate the attached error

![shorterror](https://user-images.githubusercontent.com/34300656/53813662-cf618680-3f66-11e9-95f1-c4ec7b714091.png)

[2019-03-05 14:58] whizkidwwe1217 commented on #3624
any update on this? I'm planning to upgrade to latest 2.2.10. Is this issue already resolved in that version?

[2019-03-05 15:09] whizkidwwe1217 commented on #3624
i just installed the latest version I think it's now fixed.

[2019-03-05 15:24] whizkidwwe1217 commented on #3624
@joeloff Can you guys please fix this in version 3 before you ship it?

[2019-03-05 15:28] SteveSandersonMS commented on #8203
@rynowak This was deliberate, wasn't it? Do I recall correctly that the reason was just because it's very rare that there's a useful reason to use `short`? Perhaps we should support it just because it's confusing if you can't.

[2019-03-05 15:32] SteveSandersonMS commented on #8181
In that case, it seems like a good workaround for people during Preview 4 is to add the following to their .csproj:

[code]

It seems to work for me. @danroth27, should we describe this workaround in the blog post? The dev experience is pretty bad without applying this workaround.

Do you agree this is safe, @rynowak?

[2019-03-05 15:35] whizkidwwe1217 commented on #3624
Phew!!! Finally got working!

I totally missed this comment. It fixed when I reorder the path in environment variables..

[2019-03-05 15:43] SteveSandersonMS opened #8204 "Components bind-value-oninput can lose cursor position with fast typing"
Repro:

 * `<input bind-value-oninput="@SomeString" />`
 * Type `X` into the input
 * Position the cursor at the start (before the `X`)
 * Mash the keyboard

Expected: Keystrokes typed should appear only at the cursor position, so the `X` should remain at the end

Actual: A few keystrokes appear before the `X`, but then the cursor jumps to the end, and subsequent keystrokes are placed after the `X

[2019-03-05 16:01] mgolois commented on #7772
@JamesNK  what is the simple workaround in 2.2?

[2019-03-05 16:06] rynowak opened #8205 "Update Razor Components and JSInterop to use System.Text.Json"
We need to integrate with System.Text.Json and replace our use of SimpleJSON. We don't have to expose the System.Text.Json APIs, but we need to have a default serializer to use with JS Interop.

Since we don't want to use JSON.NET in Blazor (code size), and we don't want to have breaking changes, using System.Text.Json is the most logical choice.

[2019-03-05 16:15] rynowak commented on #8203
Yeah, we just did this to try and simplify our lives, there's no technical reason why it can't be added.

[2019-03-05 16:16] rynowak commented on #8181
Yes, this is what we will do to fix the bug.

[2019-03-05 16:21] mkArtakMSFT commented on #8203
Parking in preview5 for now, so we have a chance to review it during our iteration review meeting and decide what we do with this.

[2019-03-05 16:23] mkArtakMSFT commented on #8202
Thanks for contacting us, @davidbmasterson.

[2019-03-05 16:23] mkArtakMSFT commented on #8202
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project that illustrates the problem.

[2019-03-05 16:24] mkArtakMSFT commented on #8202
@javiercn, could you please investigate this, when we'll get a repro? Thanks!

[2019-03-05 16:26] rynowak commented on #6349
Feel free to edit the top post.

Mechanically - how does this work for a nuget package. So if I'm building a library, what happens?

[2019-03-05 16:28] SteveSandersonMS commented on #5545
OK, I've been reading through everything that's ever been written about this, and am formulating it into a proposed design.

### Scenarios

* Control over event bubbling
   * Example: Multiple nested `<div>`, each with `onclick` - maybe you want clicks on inner ones to also trigger events on outer ones, or maybe you don't. Same with `onmouseover` or anything else.
   * Example: Modal dialog, where

[2019-03-05 16:28] mkArtakMSFT commented on #8140
@SteveSandersonMS , do we have a tracking issue for that work?

[2019-03-05 16:32] rynowak commented on #6349
I also want to see more detail about how this will work

[2019-03-05 16:42] jimbarrett33 opened #8206 "Visual Studio Angular Template - debugs "dynamic" readonly TypeScript file instead of original TS source"
### Describe the bug
With ASP.NET Core (2.2) and Angular Template, setting a breakpoint in a TypeScript file creates a "dynamic" version of the file for debugging instead of the original TS source file. This makes debugging difficult and confusing, especially when there are many source files open in Visual Studio.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET

[2019-03-05 16:49] pranavkm commented on #8205
Dup of https://github.com/aspnet/AspNetCore-Internal/issues/1678?

[2019-03-05 16:52] pranavkm commented on #6392
I'm trying to lookup where the design notes for this was (I know we spoke about this once), but failing to come up with it. As I recall, the plan was

a) to use RazorLangVersion to light up features. This would allow us to know what feature sets to target when we introduce newer features in the future. This is particularly important for `netstandard2.0` (ns2.0) targeting projects since there isn't

[2019-03-05 16:57] jkotalik commented on #3624
@whizkidwwe1217  glad you got it working 😄

[2019-03-05 17:06] grahamehorner commented on #5471
IMHO and just for my two pennies worth @SteveSandersonMS ;) as a developer and a multi-lingual application Razor Component circuits would need some mechanism to send the users browser culture to the server; to allow the rendering component(s) to identifier the correct resources to use and/or having routing determine any culture specifics; so for a starter for 10 a smaller task of the bigger story

[2019-03-05 17:11] tjrobinson opened #8207 "ObjectDisposedException using TestServer"
I'm trying to run a simple test using `TestServer` but getting an `ObjectDisposedException`.

### Environment
* ASP.NET Core 2.2.2 with `netcoreapp2.2`
* Running `dotnet test` at the command line, or using Rider

## Exception and stack trace

[code]

If I put a breakpoint on this line in the test:

[code]

Then I can see that `this.webApplicationFactory.Server._disposed` is `true`.

## Code

[code

[2019-03-05 17:16] xBorus commented on #7701
This could work has a manual workaround, but i need a scripted solution.

@muratg  can you provide me a way to script "Repair the current installed dotnet core bundle ?"
I can think about something ugly like below but i am not satisfyied

[code]

[2019-03-05 17:22] jkotalik commented on #7701
If you keep the hosting bundle exe, it would be easier to just run /uninstall and /repair on that. Otherwise I don't have a much better suggestion. Again, if you are scripting this, the recommendation is to enable IIS first then run the hosting bundle,

[2019-03-05 17:24] Eilon commented on #6349
Thought: Take into account what the Identity UI does today for the files in https://github.com/aspnet/AspNetCore/tree/master/src/Identity/UI/src/wwwroot and that we should update Identity UI to use this new pattern once it's available. cc @javiercn @HaoK

[2019-03-05 17:27] annokr commented on #4159
For me to run successfully with a specified port (44360) on SSL on Windows 10 from `cmd`:

1.`dotnet dev-certs https --trust` (if not installed)
2.`set ASPNETCORE_URLS=https://localhost:44360`
3.`dotnet run --no-launch-profile`

[2019-03-05 17:27] javiercn commented on #6349
@Eilon Steve an I already chatted about this. We have a new plan in mind and I'm hoping we also move Identity UI to this model too.

TL;DR They will end up as published content during publish and they will be served from their original locations during development.

[2019-03-05 17:31] jkotalik commented on #4697
The base layer for this is done with #7603 and https://github.com/aspnet/AspNetCore/pull/7110. Counting this as done.

[2019-03-05 17:31] #4697 closed

[2019-03-05 17:33] joeloff commented on #3624
We previously had the order reversed and that ended up breaking people with Visual Studio during the early previews of VS. The hosting bundle was really intended for hosters that needed to support both 32-bit/64-bit applications. You'll still be able to end up in this situation if you manually installed the runtimes in different orders, but we can definitely take this up with the runtime folks

[2019-03-05 17:40] Eilon opened #8208 "Warnings: Missing XML docs on Mvc.Newtonsoft.Json APIs"
[code]

Marking as PRI-1 because these are compiler warnings.

[2019-03-05 17:41] Eilon opened #8209 "Warnings: Missing XML docs on HtmlLocalizer.ToHtmlString"
[code]

Marking as PRI-1 because these are compiler warnings.

[2019-03-05 17:45] mkArtakMSFT commented on #8078
@ranouf, I suggest you open an issue in https://github.com/Azure/azure-webjobs-sdk instead.

[2019-03-05 17:50] #7850 closed

[2019-03-05 17:51] jkotalik commented on #8142
This will have a very similar fix to https://github.com/aspnet/AspNetCore/pull/8200

[2019-03-05 17:53] woodne opened #8210 "WebApplicationFactory does not work from .NET Framework test assembly"
### Describe the bug
When attempting to write tests using the WebApplicationFactory from the Testing project, attempting to create a client against the factory, it blows up because it seems like it is assumed this is being run from a .NET Core assembly.

https://github.com/aspnet/AspNetCore/blob/master/src/Mvc/Mvc.Testing/src/WebApplicationFactory.cs#L133

[code]
### To Reproduce
Steps to reproduc

[2019-03-05 17:54] troncomputers commented on #7788
Ok, I can live with that. It is working with VS Code and `dotnet run` now, but the `dotnet watch` is not available for NET Core 3.0 so you won't see any changes unless you compile it again with `dotnet run`. I can't decide if I should wait for fix or just do it with VS Code and `dotnet run`... 🤔

[2019-03-05 18:08] Rasetti commented on #4398
This is still not fixed in version 2.2.2.
We use the mentioned workaround and updating the application to 2.2.2 has the same issue if we remove the workaround

`  app.Use(async (ctx, next) =>
            {
                await next();
                if (ctx.Response.StatusCode == 204)
                {
                    ctx.Response.ContentLength = 0;
                }
            });`

[2019-03-05 18:20] MartinF commented on #8140
@SteveSandersonMS : Thanks for the information, at least then I can stop searching and wondering why it suddenly wasn't working. I was sure it was a bug, since I couldn't find anything mentioning the feature would not be available going forward.

I hope the feature will be introduced in VS 2019 as well.

[2019-03-05 18:20] #8140 closed

[2019-03-05 18:22] jkotalik commented on #4398
Can you provide more details on what response you are sending? Also, can you confirm that your app is running against 2.2.2 and the aspnetcorev2_inprocess.dll that is part of your app is updated to 2.2.2? (commit hash in the file description SHOULD be 522705f if github tags are correct).

[2019-03-05 18:28] rynowak commented on #6392
I think this sounds like the right thing from the user point of view, but I am not sure how you'd implement it. Right now we gather all of this information during the evaluation pass in MSBuild, and that's a really nice place to be.

[2019-03-05 18:33] pranavkm commented on #6392
Here are the MVC specific properties \ items we would have to consider moving if we relied on the presence of the shared fx:

* `GenerateProvideApplicationPartFactoryAttribute`
* `GenerateRazorAssemblyInfo`
* `GenerateRazorHostingAssemblyInfo`
* `ProvideApplicationPartFactoryAttributeTypeName`

I don't think it's important for any of these properties to be available in design-time \ vanilla evalua

[2019-03-05 18:40] ryanbrandenburg commented on #7756
Looks great! Yes, this is a great candidate for a using/IDisposable structure. Glad we could help!

[2019-03-05 18:41] #7705 closed

[2019-03-05 18:42] mikaelm12 commented on #6120
Closing this as we haven't heard from you in a little while. Please feel free to comment if you're able to get the information we're looking for and we can reopen the issue if we're able to identify the problem.

[2019-03-05 18:42] #6120 closed

[2019-03-05 18:44] rynowak commented on #6392
I think you're missing this stuff. https://github.com/aspnet/AspNetCore-Tooling/blob/master/src/Razor/src/Microsoft.NET.Sdk.Razor/build/netstandard2.0/Microsoft.NET.Sdk.Razor.Configuration.targets#L62

[2019-03-05 18:44] halter73 commented on #7008
Are you sure you're still seeing the "the response was not read by the client at the specified minimum data rate" log after setting the MinResponseDataRate to null? That shouldn't be possible.

[2019-03-05 18:45] rynowak commented on #8205
external > internal

[2019-03-05 18:52] pranavkm commented on #6392
We would use the RazorLangVersion to infer that. To sum it up,

* `RazorLangVersion` determines configuration and behavior (such as do we compile Razor Components)
* Presence of AspNetCore.App enables MVC specific features such as the attributes we generate on the assembly. This makes it so that we don't have to disable feature sets - https://github.com/aspnet/AspNetCore/blob/master/src/Components

[2019-03-05 19:01] davidbmasterson commented on #8202
here is the repro

https://github.com/davidbmasterson/exampleproject_checkboxes

have fun

[2019-03-05 19:09] pranavkm commented on #6392
Spoke to @rynowak offline and I missed the part where we need to infer two separate `RazorConfiguration` values for the same `RazorLangVersion`. So this would entail

a) Not inferring the `RazorConfiguration` based on TFM \ `RazorLangVersion`
b) Specifying `RazorConfiguration` in the MVC \ Razor Pages project templates:

[code]

[code]

[2019-03-05 19:14] shirhatti commented on #7678
What identity is your ApplicationPool running as?

[2019-03-05 19:15] Tratcher opened #8212 "[Announcement] Some Cookie SameSite defaults changed to None"
SameSite is an option for cookies that can help mitigate some CSRF attacks. Each component that emits cookies need to decide if SameSite is appropriate for their scenarios. When this option was initially introduced inconsistent defaults were used across various AspNetCore APIs that has lead to confusing results. In 3.0.0-preview4 we've better aligned these defaults and made the feature opt-in on a

[2019-03-05 19:20] Tratcher commented on #4655
iOS has implemented a much different policy than other browsers and that discourages us from making further investments here until they get it sorted out.
Related:
- https://github.com/aspnet/Announcements/issues/318
- https://github.com/aspnet/AspNetCore/issues/8212

[2019-03-05 19:23] Tratcher commented on #4661
https://github.com/aspnet/AspNetCore/issues/8212

[2019-03-05 19:23] #4661 closed

[2019-03-05 19:23] Tratcher commented on #2675
https://github.com/aspnet/AspNetCore/issues/8212

[2019-03-05 19:23] #2675 closed

[2019-03-05 19:27] #8126 closed

[2019-03-05 19:31] #8139 closed

[2019-03-05 19:36] shirhatti commented on #3624
@guardrex Perhaps we should capture this in the troubleshooting doc for IIS? Looks like a couple of folks have run into this issue already

[2019-03-05 20:13] Rasetti commented on #4398
Actually this is behaving as expected and it is working now in 2.2.2. The problem we had was that, since the Visual Studio UI won't tell you the patch version the app is using, we had assumed it was using the latest  SDK installed, which we thought to be 2.2.2 but it was actually 2.2.0.

[2019-03-05 20:30] Tratcher commented on #8207
@javiercn ?

[2019-03-05 20:32] Tratcher commented on #7101
Closing this based on our updated guidance in https://github.com/aspnet/AspNetCore/pull/8213.

[2019-03-05 20:32] #7101 closed

[2019-03-05 20:37] pranavkm commented on #8208
Resolved as part of https://github.com/aspnet/AspNetCore/commit/414d8a514ff0545f3de00780dd79103498311b2a, https://github.com/aspnet/AspNetCore/pull/8035. cc @ryanbrandenburg

[2019-03-05 20:37] #8208 closed

[2019-03-05 20:39] Tratcher commented on #8164
Yeah, getting a dump seems like the best route forward here. We've tried the xunit diagnostic logs before but their noise ratio is really bad. If we had a repro we could turn them on just for a given PR.

[2019-03-05 20:46] JosKrause commented on #8210
@woodne  I stumbled upon this ticket when reading this one: https://github.com/dotnet/BenchmarkDotNet/issues/806

Might it be related? That ticket has a bit more detail and also includes the full stack trace, might you then be missing the project property to enable the behavior? (`PreserveCompilationContext `?)

_(If not feel free to remove/mute this comment)_

[2019-03-05 20:48] rynowak commented on #5545
This seems to be just what I expected 👍 concise and orthonogonal to other features.

One small nitpick - it should also be possible to write these examples with a minimized attribute, and maybe that's the preferred style.

[code]

It's obvious that there has to be some runtime component to this, do you imagine that there's a compiler/tooling angle as well?

[2019-03-05 20:53] rynowak opened #8214 "Support for Component Islands"
**Scope**

You can add a component to a view or page, and it will become interactive once the browser opens a websocket connection. This is similar to pre-rendering except it doesn't require integrating with the client-side router.

You can have multiple of these on a page.

Additionally, you can pass state (through parameters) to the component and it will *just work* to preserve your state when i

[2019-03-05 20:57] hishamco commented on #8028
May be, but it's not enough to distinguish between them. BTW 3.0.0 is a major release, breaking changed may occur in such release I'm not which guidelines are using to accept the breaking changes

[2019-03-05 21:05] anurse opened #8215 "[Helix] Flaky Kestrel Test: AppCanHandleClientAbortingConnectionMidRequest"
`Microsoft.AspNetCore.Server.Kestrel.FunctionalTests.RequestTests.AppCanHandleClientAbortingConnectionMidRequest` is flaky in Helix.

[code]

[2019-03-05 21:22] MarkStega commented on #8158
I know the issue, not the resolution. The failing projects reference System.Data.SqlClient (either directly in one case or through the inclusion of a .NetStandard library that has such a reference).

This was working in Blazor 0.6.0 & Blazor 0.7.0

[2019-03-05 21:40] Lupusa87 commented on #5532
Please check this links to see how drag and drop works in blazor, including firefox.

https://github.com/Lupusa87/BlazorDragAndDrop

https://lupblazordraganddrop.z20.web.core.windows.net/

[2019-03-05 21:51] #2454 closed

[2019-03-05 21:53] #5767 closed

[2019-03-05 22:06] woodne commented on #8210
I don't think it is really related, but it is another thing that would fail. In my case I am trying to use a .NET Framework test assembly.

[2019-03-05 22:11] pwen090 commented on #5223
@Aj1402 I actually just fixed my issue. My issue was that the default .net core project sets up the paths with ClientApp but my pipeline was publishing using the string /site/wwwroot/clientapp. In my case I was using a linux app service so the difference of ClientApp vs. clientapp was failing given the case sensitivity. The error message did not really help me find that error and so your error mig

[2019-03-05 22:24] clement911 commented on #4707
This is just to say that we are still very much struggling with this issue.
I'm hoping future releases will be able to handle spikes better.

[2019-03-05 22:38] johnavery opened #8218 "IServerAddressesFeature missing in ASP.NET Core 2.2"
Hi, I recently upgraded from ASP.NET Core 2.1 to 2.2.  As described [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/index?view=aspnetcore-2.2&tabs=windows#aspnet-core-server-infrastructure) and [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.2#port-0), I should be able to extract the base address of the service, like so, a

[2019-03-05 22:42] pranavkm commented on #8019
Fixed in https://github.com/aspnet/AspNetCore/pull/7987

[2019-03-05 22:42] #8019 closed

[2019-03-05 22:43] jkotalik commented on #8218
Hey thanks for reaching out. This is a known feature gap in the InProcess hosting mode that was fixed in 3.0. https://github.com/aspnet/AspNetCore/commit/45d1c054b2bf1d4df33c98c5a3de88417c9cf1bd. If you need the ServerAddress feature, we would recommend either upgrading to 3.0 preview or reverting to OutOfProcess.

[2019-03-05 22:45] DanJ210 commented on #8180
The only settings in appsettings.json are the same settings I've seen every version produce. So the other app which was 2.1 already has the "AzureAd" section.

Yup the code compiles. But no default authentication or challenge scheme is specified. I don't see where it's specified in the 2.2 app either. Both apps have the same Microsoft.AspNetCore.Authentication.AzureAD.Ui package.

[2019-03-05 22:47] johnavery commented on #8218
Ah, thank you @jkotalik for your prompt response!  I will note this in my code and go with the OutOfProcess model for the time being as you suggest.

[2019-03-05 22:47] #8218 closed

[2019-03-05 23:13] #8185 closed

[2019-03-05 23:16] pranavkm commented on #4373
Some thoughts as I was working on this: when we ship `netcorepp3.1`, we want to avoid shipping two copies of the analyzers particularly if they're source equivalent. However, we do want the ability to ship new analyzers without affect existing products i.e. updating the SDK should not result in new or different warnings in your existing applications.

One way to go about this would be to do a vers

[2019-03-05 23:33] ryanbrandenburg opened #8221 "Run templating tests on Windows"
We're [currently skipping Templating tests](https://github.com/aspnet/AspNetCore/blob/master/src/ProjectTemplates/test/ProjectTemplates.Tests.csproj#L9) on Windows because JAVA isn't available for Selenium to use.

We need to get java on the PATH and then we should be able to turn it back on by deleting the above lines.

[2019-03-05 23:54] mkArtakMSFT commented on #5444
@Eilon FYI

[2019-03-06 03:49] mhamri opened #8224 "wrong deserialize of the datetimeoffset"
### Describe the bug
i have a model like this

    class MyModel{
        public DateTimeOffset? plannedStartDate {get;set;}
    }

and an action like this

    [HttpPost]
    public IActionResult Get(MyModel activityUpdate){
    }

and i'm sending request from angular as a json

[code]
which contains a valid date

[![enter image description here][1]][1]

but what i'm getting in the api is wrong

[2019-03-06 04:24] Valks commented on #8018
Just tried the latest version and found it's working as you've said.

I'm going to close this as it seems like expected behaviour.

[2019-03-06 04:24] #8018 closed

[2019-03-06 04:33] radderz opened #8226 "CPU and Request lag after application has been running for a while"
### Describe the bug
We are getting really large delays in our ASP.NET Core 2.2 API after migrating from ASP.NET, the delay doesn't seem to be from a dependency and our website also in ASP.NET Core 2.2 doesn't have this issue.

The API connects to a SQL database, but application insights is suggesting all the time is spent in the code in the website. The code seems to run fine with exactly the sam

[2019-03-06 05:51] Eilon commented on #8028
3.0 means we *can* do breaking changes, but we still only make breaking changes where there is a very strong case. The question we ask is, what is the value in breaking someone who is successfully using this type?

[2019-03-06 06:22] ffMathy commented on #2378
Can anyone help me with how to implement this? I tried it, and it works locally, but not in production. What am I doing wrong?

Is there some documentation to using this middleware properly somewhere?

[2019-03-06 06:54] mkArtak commented on #8162
Glad you found a way to solve the problem you are facing. Should this issue be closed then?

[2019-03-06 07:21] devSoheilAlizadeh opened #8228 "Blazor 0.8.0 release blog code highlight is incorrect"
There are some issues in the blog, the code Highlight doesn't show code format correctly.
![2019-03-06_10-43-29](https://user-images.githubusercontent.com/22220356/53862630-2fa30780-3ffd-11e9-8633-098b87bfa93c.png)

_the [blog](https://devblogs.microsoft.com/aspnet/blazor-0-8-0-experimental-release-now-available/)_

cc/ @danroth27

[2019-03-06 07:43] danroth27 commented on #8228
Yeah, we recently migrated to a new blog platform, which caused some havoc with our code snippets. We're working on getting it all fixed up. Thank you for your patience!

[2019-03-06 07:43] #8228 closed

[2019-03-06 07:49] crookedbard commented on #5919
still getting same error from Microsoft.AspNetCore.Hosting.WebHostBuilder.BuildCommonServices.
Could not load file or assembly 'StartupBootstrapper, Culture=neutral, PublicKeyToken=null'. The system cannot find the file specified.
{"assembly":"System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e","method":"System.Reflection.RuntimeAssembly.nLoad","level":0,"lin

[2019-03-06 08:42] davidfowl commented on #5919
@crookedbard can you provide me with a repro? These failures get logged but should not prevent the application from loading.

- Are you using ASP.NET Core on .NET Framework or .NET Core?
- Do you have Application Insights configured?

[2019-03-06 08:57] schmitch opened #8229 "DataProtection EFCore + Distributed Cache"
### Is your feature request related to a problem? Please describe.
Hello, currently we run Asp.Net Core inside Kubernetes and use Redis as our Data Protection Service, however we treat redis storage as epheremal and sometimes it happens that all our infrastructure will be rebooted (kubernetes updates, etc...)

Everything will work out of the box. But since Redis will loose all data it might happen

[2019-03-06 09:12] CycoPH commented on #6075
This is still happening in latest 2.2.2 runtime.
[Microsoft.AspNetCore.Server.IIS.Core.IISHttpServer]::Unexpected exception in IISHttpServer.HandleRequest.

Using InProcess hosting with Application Pool Start Mode = AlwaysRunning

[2019-03-06 09:44] hishamco commented on #8028
In some cases there is weak design for the APIs, wrong namespace .. etc I knew may it is not strong cases, but major release the only way to fix such breaking changes

[2019-03-06 09:49] dylanvdmerwe commented on #4398
@jkotalik how can this be verified?

[2019-03-06 09:53] xBorus commented on #7701
I wish i could do that, however i am building a setup that has DotnetCore 2.x as prerequisite. I dont know which version the user has installed nor if they have still kept the installer

[2019-03-06 09:58] Ahmed-Habbachi commented on #8162
yes sure it can be closed, but it is nice i think to make it optional to add or not, maybe someone want to use the default 4200 and it is hard coded in his settings.

[2019-03-06 09:58] #8162 closed

[2019-03-06 10:09] SQL-MisterMagoo commented on #7451
@sven5 Until the Microsoft team get this working, I have written a project that brings this functionality back for Razor Components [BlazorEmbedLibrary](https://www.nuget.org/packages/BlazorEmbedLibrary/)
If you add this to your App, it will embed the static CSS and JS files at runtime into the head of your app using browser blob storage.
You might find it useful as a workaround.

[2019-03-06 10:11] SQL-MisterMagoo commented on #7127
@vertonghenb , @legistek
Until the Microsoft team get this working, I have written a project that brings this functionality back for Razor Components [BlazorEmbedLibrary](https://www.nuget.org/packages/BlazorEmbedLibrary/)
If you add this to your App, it will embed the static CSS and JS files at runtime into the head of your app using browser blob storage.
You might find it useful as a workaround.

[2019-03-06 10:11] SQL-MisterMagoo commented on #7300
@stavroskasidis
Until the Microsoft team get this working, I have written a project that brings this functionality back for Razor Components [BlazorEmbedLibrary](https://www.nuget.org/packages/BlazorEmbedLibrary/)
If you add this to your App, it will embed the static CSS and JS files at runtime into the head of your app using browser blob storage.
You might find it useful as a workaround.

[2019-03-06 10:20] asn19595 opened #8230 "Not Modified (304) returns Content-type"
Content-type header is set when the response is 'NotModified' by FileStreamResult. Which strange according to
https://tools.ietf.org/html/rfc7232#section-4.1

Steps to reproduce the behavior:
1. Using this version of ASP.NET Core 'v2.2.2'
2. Run this test 'WriteFileAsync_NotModified_RangeRequestedIgnored()' from 'FileStreamResultTest.cs'
https://github.com/aspnet/Mvc/blob/65af12f1f575fdaee893e0232

[2019-03-06 10:58] HaoK commented on #8169
Yeah I filed something similar https://github.com/aspnet/AspNetCore/issues/7848

How about something like `[SkipOnHelix(Queues = "<SkipQueueId1>;<SkipQueueId2>")]`

[2019-03-06 11:05] SteveSandersonMS commented on #5545
Totally agree. I was only writing it with `="true"` because I wanted to emphasise that you *can* specify a bool value if you want to, as people might want it to vary dynamically (e.g., `onclick-stop-propagation=@shouldStopPropagation`). But if it's given as a minimized attribute, that's interpreted as "true". Also I agree it's the natural and preferred style.

We can add tooling for intellisense,

[2019-03-06 11:29] k290 commented on #1528
Everyone in this thread should vote for this to be added, here: https://feedback.azure.com/forums/908035-sql-server/suggestions/33241936-develop-a-ssrs-reportviewer-for-asp-net-core

[2019-03-06 11:44] SteveSandersonMS opened #8232 "Support 'key' to guarantee preservation of elements/components"
This is inspired by, and would basically be equivalent to, the `key` feature in React. It provides a way to tell the system how you want it to preserve child element/component instances when diffing a list.

### Use case

Consider the existing situation where you *don't* have this feature:

[code]

If you add a new flight into the middle of the `Flights` list, what you'd want is that all the exist

[2019-03-06 12:00] MaiHassanM opened #8233 "Can we add Razor Pages at Razor Component Server?"
### My Goal
I'm trying to mix between the usage of Razor component and Razor Page at one project by adding razor pages at the Server project that hosts the Razor Component.

### Steps to Reproduce

1. I've created a Razor Component project.
2. Made a simple Create function using Razor Component "Working perfectly fine"
3. At Startup of Server Project I've added
services.AddMvc(); & app.UseMvc();
4

[2019-03-06 12:11] SteveSandersonMS commented on #5455
I've moved the "key" item to a new issue at https://github.com/aspnet/AspNetCore/issues/8232

And as for what remains besides that, it's more a list of mostly-outdated ideas than things we're committed to. We can create new issues for anything that still comes up as a requirement.

A moment of contemplation, if you will, as we finally close what was the original issue 1 at https://github.com/aspne

[2019-03-06 12:11] #5455 closed

[2019-03-06 14:30] javiercn commented on #8210
@woodne Thanks for reaching out.
You need to reference a type on the entry point assembly of the app as the error message state. We use TStartup by convention, but you can use Program. We essentially need to know the assembly that contains the CreateHostBuilder method.

[2019-03-06 14:32] javiercn commented on #8214
This is already possible once we have the strong reconnects. It is essentially prerendering.

[2019-03-06 14:36] javiercn commented on #8176
I strongly agree with this statement. If we can make this a custom build task that we use on the Web SDK (provided some heuristic and some flag to override) that you are using MVC this would be great.

It can be as simple as to reuse the `[RelatedAssembly]` attribute to find the additional assemblies from the entry point assembly.

[2019-03-06 14:57] 0xced commented on #7202
I have the same problem (at least I have the same error message) when trying to build the master branch of the AspNetCore repository (commit 303a354993da195ee5d6b388d2bb6c65bc131b00) on macOS 10.14.3. I don't know what Helix is but my issue does not seem to be related to Helix as I just tried to build ASP.NET Core with `./build.sh` without any special parameter.

Here is the error message I get:

[2019-03-06 15:39] GusBeare commented on #4230
I'm enjoying this same issue. Problem is that for db inserts don't have the Guid yet but I want the model to match the table which has the Guid as the non nullable PK.  The client is JS and I don't really want to try and create a guid with JS so I want to do it in the C# or DB once I've hit the endpoint.

Sending an empty guid string works but is there another way?