[2022-11-15 05:33] davidfowl commented on #45098
This isn't how the GC works. It's never worked this way but I'm not convinced this application you've shared is replicating you're actually experiencing. If it is, then the application needs to change to not allocate giant strings that end up on the large object heap. I've linked a high level overview that should help understand why this doesn't work well. For a deeper dive on how to think about m

[2022-11-15 05:55] davidfowl commented on #45040
We need to backport this to 7.0

[2022-11-15 06:22] davidfowl commented on #45064
OK I investigated this, and it comes down to the fact that this part of the JSON source generator (the serialization handlers) doesn't work with encoders. The `JsonSerializerContext` has this logic:

https://github.com/dotnet/runtime/blob/5d1b7e77e054f74de05d6cd34de11c55ffbd125f/src/libraries/System.Text.Json/src/System/Text/Json/Serialization/JsonSerializerContext.cs#L66-L87

Here's the full repr

[2022-11-15 06:23] captainsafia commented on #45025
Thanks for filing this issue! Referencing https://github.com/dotnet/aspnetcore/issues/43395 alongside here as well.

Unfortunately, I don't think a revert to the previous behavior is a valid option here. AFAIK, the previous behavior doesn't work with the new builder in .NET 6. Do you currently have a working scenario in .NET 6?

Will noodle on this a bit more and add notes...

[2022-11-15 06:35] captainsafia commented on #44857
Took a stab at trying to reproduce this. It appears that only certain types of edits cause the duplicate endpoints to be produced. Specifically, changing the return type as mentioned in https://github.com/dotnet/aspnetcore/issues/41177 is a reliable repro. Another one is modifying the parameter types in a method.

@tmat Is there anything special that happens when applying deltas for these types of

[2022-11-15 06:38] captainsafia commented on #45063
Yeah, we considered this exact same scenario when implementing this. We weren't able to do this the first time around because of the challenges with codesharing identified in https://github.com/dotnet/aspnetcore/issues/41330.

This might be a fine stopgap...

[2022-11-15 06:40] captainsafia commented on #45040
Agree, put this in servicing earlier. I can open a backport PR...

[2022-11-15 06:45] davidfowl commented on #45063
This is worth patching too.

[2022-11-15 06:52] commonsensesoftware commented on #41429
I suppose if `MapGroup("")` or `MapGroup()` works, then that would be _acceptable_. `DefineApi` doesn't _need_ to exist. You asked how I would _want_ it to look if I could change anything. 😉 Using `MapGroup` can most definitely work, but it's a bit _unnatural_ because you aren't mapping any routes - yet. Maybe that's the intent. I've seen no such examples or documentation.

The only thing that you

[2022-11-15 07:05] javiercn commented on #45097
@mikequ-taggysoft thanks for contacting us.

The code to do this is in your app. Essentially inside the RedirectToLogin component, you can replace the navigation entry that goes to `/Authentication/login`.

[code]

[2022-11-15 07:46] oferze commented on #45098
It happens even in a small API endpoint footprint. In the demo app, if you add:

[code]

and call just this endpoint, you'll see that the memory keeps going up.

I also tried your advice on Twitter to test it not inside Visual Studio and it still happens (Azure App Service, published as "Release", target win-x64).

Seems like ASP.NET API on .NET 7 has an issue of not cleaning up after the endpoint

[2022-11-15 07:56] davidfowl commented on #45098
Is there a specific issue you are having where you are seeing out of memory issues? Did you look at any of the references I posted? Is the garbage collector running? I really recommend reading:

- https://learn.microsoft.com/en-us/aspnet/core/performance/memory?view=aspnetcore-6.0.
- https://learn.microsoft.com/en-us/dotnet/core/diagnostics/debug-memory-leak
- https://github.com/Maoni0/mem-doc/blo

[2022-11-15 08:12] ddfxraven opened #45100 "NET 6 Blazor WASM Hosted - Query diminishing performance"
ASP.NET 6 Blazor WASM Hosted model on an Azure Linux B2 instance. The database is Azure SQL DTU50.

We having an issue where over time the product search returns slower and slower results until it eventually just times out (can take just a day or 2 for the performance drop). It is currently using OData controller (before we had a ApiController with the issue and tried OData to see if there was a d

[2022-11-15 08:14] davidfowl commented on #45025
This should still work if it's in user secrets. If the application is missing required configuration in development then it never ran to begin with, right?

Yes, this one isn't ever going to work. I think we could do something here, like never run hosted services in this mode.

[2022-11-15 08:41] mehdihadeli commented on #45082
@captainsafia When I put `WithOpenApi()` after `HasVersion` and `WithApiVesionSet` I get this error

[code]

[code]
but when I move the `WithOpenApi` in the first, it works!

[code]

[2022-11-15 08:42] ondfisk opened #45101 "Results.Created returns a relative URI in the location header instead of an absolute (as in classic Web API)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Using either `Results.Created` or `TypedResults.Created` with a string as first parameter returns a relative URI in the location header.

This is in direct contrast with the following statement:

Source: <https://learn.microsoft.com/en-us/aspnet/core/release-notes/aspnetcore-7.0?view=aspnetco

[2022-11-15 08:54] RichardD2 commented on #45017
@HaoK It always seems to affect only one app pool; but it's been a different one each time.

It looks like there was a gap in the Windows Updates due to an issue with the hosting company's WSUS server, so October would have been the first month of updates since we moved this application to .NET 6. The October update took it from 6.0.6 to 6.0.9. I don't know whether that would update the ANCM at th

[2022-11-15 09:25] utarn commented on #45023
@adityamandaleeka I have tried dotnet dev-certs https --trust

After running, dotnet dev-certs https --check. It shows
No valid certificate found.

then, I tried sudo dotnet dev-certs https --check. It shows
The ASP.NET Core developer certificate is in an invalid state. To fix this issue, run 'dotnet dev-certs https --clean' and 'dotnet dev-certs https' to remove all existing ASP.NET Core developm

[2022-11-15 09:42] ChristianPejrup commented on #45098
Hi @yarong-lifemap
If i remember my .NET memory days correct (and .NET Core and Full Framework use roughly the same GC) then i think you problem is the size of the string you are allocating.

[Any object **bigger than 85.000 bytes** will be allocated on the large object heap LOH](https://learn.microsoft.com/en-us/aspnet/core/performance/memory?view=aspnetcore-7.0#large-objects-heap)

The garbage c

[2022-11-15 10:30] edgedj commented on #44981
seeing this same issue on a production application upgraded straight from .net 5 to 7. These are the contents of the package references in the Client project:

[code]

[2022-11-15 10:40] KSemenenko commented on #45098
I did test

[MemTest.zip](https://github.com/dotnet/aspnetcore/files/10011797/MemTest.zip)

For just calls:
[code]

Call GC.Collect() after requests:
[code]

I also somehow subconsciously expected that there would be no alocations.

But still string is an object and it is logical that it needs memory.
And after calling GC.Collect() everything falls into place.

[2022-11-15 10:46] KSemenenko commented on #45037
@davidfowl What is the right way to handle large files?
If I need to transfer it.

I have so far come to the solution that I open the stream from the disk and write the data into HttpResponce, but still for a 250mb file it is a problem.

I also tried to do when I receive a file from a user, first write it to disk, and then take action.

I also have a http stream in memory anyway.

Do you have any

[2022-11-15 12:04] ranjit-singh-eva-bbsr opened #45103 "Give support of writing typescript instead just JavaScript in inline script for .cshtml pages. Also allow to have inheritance there as code can be re-used in all pages."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I often write JavaScript code for my .cshtml pages and sometime even a minor mistake of missing ;(terminator) confuse as what has really wrong and kills time. Even console of browser does not help to know the issues.

I think if we cou

[2022-11-15 12:40] oferze commented on #45098
@KSemenenko thank you for the test app.

Few points I wish to address:

1. One shouldn't manually run `GC.Collect()`: https://learn.microsoft.com/en-us/aspnet/core/performance/memory?view=aspnetcore-7.0#call-gccollect. Yes, it's good for debugging (as we're doing right now) but the point of the issue is to show that under normal .NET 7 API usage, objects seem to not be collected automatically.

2.

[2022-11-15 12:47] eiriktsarpalis commented on #45064
Cf. first section of my previous response.

This is by design. Because fast-path serialization essentially inlines all serialization logic, configuration needs to be specified at compile time (a subset of `JsonSerializerOptions` can be configured at compile time using the [`JsonSourceGenerationOptionsAttribute`](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonsourceg

[2022-11-15 12:48] oferze commented on #45098
@davidfowl we have a fair knowledge of the GC (albeit we'll read the articles you've linked to and no doubt we'll learn more from them) and of course we know the GENs, the LOH, and that GC will collect when it needs and not when we expect.

We do return 4-6MB JSON objects in our real app as I mentioned, but I guess an API should return much larger strings and not leak. The demo app does reflect an

[2022-11-15 13:00] #45050 closed

[2022-11-15 13:24] FM1973 commented on #45048
The same for i.e. CheckPasswordAsync

[2022-11-15 13:50] martinlingstuyl opened #45104 "Lazy loaded `BlazorCustomElements.js` file does not adhere to the `loadBootResource` configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi guys,

Since .NET 7 is out, I've been test driving Blazor WASM to see how to use it in combination with other frameworks.

I've configured the following to be able to point the loading of resources to a specific server.
https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/star

[2022-11-15 13:52] NYMEZIDE commented on #45064
I tried placing breakpoints on all *.g.cs files (methods and getters/setters). Only the initialization is executed on the first request. Subsequently, the code does not go into *.g.cs files.
Is it designed that way too? @eiriktsarpalis

I compared performance, load testing, web api without json source-generators and with it.
The performance is exactly the same. There was not even a 1% gain.

Then

[2022-11-15 14:10] javiercn commented on #45103
@ranjit-singh-eva-bbsr thanks for contacting us.

Unfortunately, this is not something that we plan to do. Adding support for typescript inline requires integrating the Razor compiler with the Typescript compiler which would require a large number of resources and maintenance for limited value.

I am not sure what you mean by this, but we would recommend you put the code in a separate file, compil

[2022-11-15 14:12] mrgleba commented on #45021
I've finally managed to run http3 from the container.
I needed to change the port inside the container from 8443 to 443 (as it didn't work on that port, even with manual ```alt-svc```).
I needed to use ```setcap 'cap_net_bind_service=+ep' /usr/share/dotnet/dotnet``` inside the container for dotnet to be able to bind to lower ports (we don't use root inside the container).
I needed to opt-in to pre

[2022-11-15 14:16] eiriktsarpalis commented on #45064
On each subsequent request you should be able to hit breakpoints either inside the getter/setter delegates or one of the `Handler` suffix methods if using the fast path. If it doesn't it could mean that a breakpoint hasn't been set in the right location or somehow aspnet is using reflection to generate metadata.

In most cases the source generator does not improve serialization performance. There

[2022-11-15 14:19] mrgleba opened #45105 "Logs filled with critical exceptions from Kestrel/Quic"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I run an app in a linux docker container (tag 7.0) with http/3 enabled.
The libmsquic version in 2.1.4 (from ms repo).
The server logs are being filled with the following message:
[code]

This doesn't influence the operations as far as we see. The server responds normally despite the messages

[2022-11-15 14:23] NYMEZIDE commented on #45064
~40% - it's huge gains, i think.

I'm comparing manual serialization, where the real 40% performance in benchmarks. I expected to see similar numbers in webapi projects, api http requests, or at least 10%.

And what does fast-path serialization mean? Is it some special serialization method available only at runtime?

[2022-11-15 14:43] eiriktsarpalis commented on #45064
It's one of the two modes available to the source generator, as exposed in the [`JsonSourceGenerationMode`](https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization.jsonsourcegenerationmode?view=net-6.0) enum

* Metadata mode, which emits `JsonTypeInfo` metadata similar to the reflection serializer (this is the part of the source generator that initializes `JsonPropertyInfoValues

[2022-11-15 14:47] ddfxraven commented on #45100
Hi @javiercn Its Blazor WASM Hosted, so the API is coupled with the application in Azure app service. The query runs fine in the database directly. We've done extensive testing on the database side, the issue only occurs from the published application.

As I said above we've run a mock controller call from a unit test to try simulate it the same but hitting it with many more calls than users would

[2022-11-15 14:53] javiercn commented on #45100
Instead of the unit test, stand up the real server and test against that from the API. Collect a trace with perfview/VS and measure where the time is being spent.

[2022-11-15 15:13] devshgraphicsprogramming opened #45107 "Can you reopen my issue 44088 ?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I provided a repro, edited the old post, wrote (new activity) a new message mentioning MSFT employee and @msftbot was still adamant on closing it!

https://github.com/dotnet/aspnetcore/issues/44088

### Expected Behavior

@msftbot does not close my issue due to lack of activity

### Steps To

[2022-11-15 15:23] hakenr opened #45108 "net7: Razor class library - Missing CSS bundle in published package when built using msbuild /maxCpuCount"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Razor class library (Blazor) with CSS isolation.
Published as NuGet package using `<GeneratePackageOnBuild>true</GeneratePackageOnBuild>`.
Built using `"C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\amd64\msbuild.exe" /m`.
After upgrade to net7 and VS 17.4.0. th

[2022-11-15 15:29] KSemenenko commented on #45098
@oferze  This is an interesting thing, look, you make a 50MB line, it is stored in the memory.
the method finished - done.

Now you have a 50mb string in memory.
And now you have to wait for GC to remove it. But this is an expensive operation and it will not happen immediately.
I just tried to do a version of the tests with threads, but the steel is only worse.

So on the one hand this is understa

[2022-11-15 16:09] javiercn commented on #45107
@devshgraphicsprogramming Thanks for contacting us.

Our general interop mechanism is not designed to pass around large amounts of data, so it is not surprising that passing a 1MB array is slow compared to other approaches.

We do have an alternative (webassembly only) interop mechanism available in .NET 7.0 that we suggest you try. That should give you performance closer to what you expect.

http

[2022-11-15 16:17] javiercn commented on #45108
Have you cleaned the bin and obj folders (to discard any intermediate state)

[2022-11-15 16:21] captainsafia commented on #45082
at Microsoft.AspNetCore.Builder.IEndpointConventionBuilder.Finally(Action`1 finallyConvention)
   at Microsoft.AspNetCore.Builder.OpenApiEndpointConventionBuilderExtensions.WithOpenApi[TBuilder](TBuilder builder, Func`2 configureOperation)

Aha! @commonsensesoftware I think you might have to update the builders in Asp.Versioning to implement the new `Finally` method.

[2022-11-15 16:37] captainsafia commented on #41429
This sample is what I was anticipating the experience would look like. With the noticeable tweak that versions would be registered something like this:

[code]

I like having `DefineApi` as a shorthand for `MapGroup` + `WithApiVersionSet` and I believe we currently have all the moving parts to make this happen.

The notable exception being that there isn't a way to represent the `ApiVersionSetBuil

[2022-11-15 17:03] BrennanConroy commented on #8717
Wouldn't this make `hub_connection` a lot harder to use from different threads/places in code? Someone would need to place it in a global/another class and then use it via some methods on their class.

It would make it harder (impossible) to create a reference cycle via lambda captures (std::shared_ptr) though which is nice.

[2022-11-15 17:12] AaronRobinsonMSFT commented on #8717
Based on the statement, "We think pointer is fine. You can create a shared_ptr if you want.", there is an expectation for users to take a raw pointer and create a `shared_ptr<T>`, right? In the current form you are saying "here is a raw pointer with no assumptions about ownership, do as you please". That is wrong because if a user can immediately wrap the raw pointer it **implies** the pointer is

[2022-11-15 17:15] BrennanConroy commented on #8717
Ah, that's helpful.

This seems difficult since the repo says it assumes C++14 or higher...

[2022-11-15 17:33] mkArtakMSFT commented on #45107
Closed as a dupe of the linked issue.

[2022-11-15 17:33] #45107 closed

[2022-11-15 17:34] mkArtakMSFT commented on #44088
Per @javiercn 's comment [here](https://github.com/dotnet/aspnetcore/issues/45107#issuecomment-1315533208), please try the alternative JS interop mechanism and see if that avoids the performance problems that you're experiencing.

[2022-11-15 17:46] SteveSandersonMS commented on #44088
That's probably the issue. If you pass a `float[]`, it will be JSON-serialized, which has a vast overhead compared with what you're doing in C.

I'd recommend you try a similar comparison but passing a `byte[]` instead of a `float[]`. Note that you can reinterpret a float array as a byte array on the .NET side using some logic like `MemoryMarshal.Cast<float, byte>(myFloats)`.

If you need lower-le

[2022-11-15 17:55] David-Moreira opened #45111 "MAUI + Blazor | IOS Release throws on virtual Parameter setter"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

A user of our library, Blazorise (A Blazor components library) reported an issue where releasing MAUI blazor for iPhones will throw the following exception:

Additional context
Exception details:
[code]

### Expected Behavior

The behaviour gives the sense that something was trimmed in this s

[2022-11-15 17:56] SteveSandersonMS commented on #45104
I understand why it might be confusing, but JavaScript files loaded via dynamic import (i.e., invoking `import` in a JS interop call) are **not** Blazor boot resources, so their loading process will not be affected by `loadBootResource` customization. That's not a bug, it's just that `loadBootResource` doesn't get to control anything other than boot resources whose loading is triggered by Blazor i

[2022-11-15 17:58] #45103 closed

[2022-11-15 18:01] SteveSandersonMS commented on #26287
It's not really meaningful to think about the JS data getting into .NET without some kind of marshalling or conversion. For example, JavaScript strings are not .NET strings, so even something as simple as passing a single string involves conversion. Of course we do want to make it as fast as possible though :)

In a sense that's literally what the JSON-based marshalling already does (automatically

[2022-11-15 18:06] David-Moreira opened #45112 "MAUI + Blazor | Navigating away / Breaking Circuit causes "generic JS exception""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

A user of our library, Blazorise (components for Blazor) reported that when using MAUI + Blazor, by navigating away it causes an unexpected exception on our JS disposal process.

While the exception is explanatory. The same code execution does not throw the same Exception Type as it does on r

[2022-11-15 18:22] mikequ-taggysoft commented on #45097
@javiercn You meant to replace the `NavigateToLogin` call with the one you wrote with custom options right? However, the `ToState()` method is `internal` and cannot be called as is.

Also, by replacing the `ReturnUrl` with the current Uri, won't the user be redirected back to the unprotected page *after* login instead of the protected page with the  `[Authorize]` attribute that triggered authentic

[2022-11-15 18:31] commonsensesoftware commented on #41429
Thanks for all the dialog. The way I was able to get the metadata to flow through the groups was by decorating `IServiceProvider` on the `EndpointBuilder` and making it resolvable that way.

It may take me a couple of days, but I have a few additional ideas about how this might work. For example:

[code]

All subgroups roll back up to `todo` and will be correctly collated. Extension methods as sho

[2022-11-15 18:35] #35376 closed

[2022-11-15 19:00] tmat commented on #44857
My guess is that there are two reasons for this:
1) https://github.com/dotnet/runtime/issues/75154
2) Caches in ASP.NET need to be invalidated.

@davidwengier FYI

[2022-11-15 19:29] jez9999 opened #45114 "SignalR should allow managing of connections by UserGroup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Right now, I can send messages to an individual user using their NameIdentifier and `Clients.User(nameIdentifier).SendAsync`.  I can also send messages to a group of connections using a group name and `Clients.Group(groupName).SendAsyn

[2022-11-15 20:21] davidfowl commented on #41429
😔. can you show that code?

[2022-11-15 20:38] davidfowl commented on #45098
By using streams. When you use the result types with objects, it doesn’t first buffer 50Mb into memory because they would be horrible for performance. Instead, it writes your 50Mb in 16K (configurable) chunks asynchronously to the response.

[2022-11-15 20:49] KSemenenko commented on #45098
@davidfowl so, just in ```Responce.Body.WriteBytes()``` and periodically call Flush?

[2022-11-15 21:10] commonsensesoftware commented on #41429
@davidfowl

https://github.com/dotnet/aspnet-api-versioning/blob/5515464b1b7cbead8a26e2b6da4d2015db608372/src/AspNetCore/WebApi/src/Asp.Versioning.Http/Builder/VersionedEndpointRouteBuilder.cs#L98

[code]

[2022-11-15 21:19] JasonRodman commented on #44981
When I did this it breaks my app all together. When its deployed with https I get an error like this:

Failed to find a valid digest in the 'integrity' attribute for resource 'https://app.local:8443/_framework/Microsoft.AspNetCore.Components.WebAssembly.Authentication.dll' with computed SHA-256 integrity 'vMnCiawojCEc5uD+LGveolw4GA8hQffXzamBOAdGDzw='. The resource has been blocked.

[2022-11-15 21:31] Wtiben commented on #45025
We currently have a solution with a couple of projects using `<OpenApiGenerateDocumentsOnBuild>true</OpenApiGenerateDocumentsOnBuild>`,  other projects referencing them with `<OpenApiProjectReference Include="RelativePath">` and all of them using .NET6' `WebApplication` and top level statements. So far it's been working fine and we haven't ran into issues.

The only way to get it to build this way

[2022-11-15 21:38] eerhardt commented on #45064
It's even worse than that, from what I can tell. ASP.NET calls the `JsonSerializer.SerializeAsync<TValue>(Stream utf8Json, ...)` overload:

https://github.com/dotnet/aspnetcore/blob/ce78832442d91ca307ca8366bafdc9003ea46bc9/src/Http/Http.Extensions/src/HttpResponseJsonExtensions.cs#L143-L151

From inspecting the code in System.Text.Json, this API will never call into the "fast path" / `SerializeHan

[2022-11-15 21:58] martonx commented on #44739
ah I found it. Output cache is working only without Authorization. But why?

In this case:
[Authorize(Roles = "Administrator")]
[OutputCache(Duration = 3600)]

cache doesn't work.

In this case:
[AllowAnonymous]
[OutputCache(Duration = 3600)]

cache works

[2022-11-15 22:00] #45076 closed

[2022-11-15 22:00] eerhardt commented on #45064
Related: https://github.com/dotnet/runtime/issues/75139

[2022-11-15 22:07] calnastic0 commented on #44902
Thank you, I appreciate all the information. I have taken note and will try it if some errors occur again.

[2022-11-15 22:13] TanayParikh commented on #44902
@calnastic0 does that mean your issue is resolved for now? If so, will close out this issue.

[2022-11-15 22:31] martinlingstuyl commented on #45104
Hi @SteveSandersonMS,

Ok, so you're saying it's not literally a boot resource and that this just is how dynamic imports work.

It is a dependency that blazor needs though. And a quite fundamental one as well. You probably see my point, that it is a bit odd how it currently works.
It's not just odd, it's blocking the use of the feature. CustomElements are (how I see it) specifically useful in inte

[2022-11-15 22:56] #44902 closed

[2022-11-15 23:13] captainsafia commented on #45025
Interesting...We did backport the fix to the .NET 6 SDK. I assume you're on the latest patch?

There's a chance we maybe able to avoid this if we statically analyzed the application to determine the OpenApiDocument. For context, the reason we need to run the application in order to generate the OpenApi document is to be able to populate an accurate description of all the routes in an application.

[2022-11-15 23:26] #45045 closed

[2022-11-15 23:38] rafikiassumani-msft commented on #44906
@khteh the sample code only supports `Startup.cs` and not `Program.cs`. We may add support for `Program.cs` in the future.

[2022-11-15 23:43] TanayParikh opened #45119 "BuildFromSource Windows Activate for VS"
https://github.com/dotnet/aspnetcore/blob/main/docs/BuildFromSource.md#visual-studio-on-windows

The Windows VS instructions don't require `. ./activate.ps1`. Is that intentional? cc/ @captainsafia

[2022-11-15 23:45] samueleaton commented on #45045
Hey @adityamandaleeka I would but I'm an F# guy with little C# experience. I can see how difficult it'd be to try setting up the env.

[2022-11-15 23:56] captainsafia commented on #44857
What caches are you referring to here?

[2022-11-15 23:59] Forestf3a commented on #44880
I reinstalled Visual Studio and all is now well.

[2022-11-16 00:03] tmat commented on #44857
Any caches of endpoints that memoize MethodInfos

[2022-11-16 00:08] Tratcher commented on #45045
No worries @samueleaton, someone already took care of it.

[2022-11-16 00:22] khteh commented on #44906
Isn't the sample code built for .Net 6 and the date of the article is "06/04/2022"?

[2022-11-16 00:33] #44997 closed

[2022-11-16 00:37] rafikiassumani-msft commented on #44729
@vlada-shubina Would you like to submit a pull request to fix the F# template condition that you reported? We are not planning to invest time in F# templates due to low customer usage numbers.

[2022-11-16 01:00] #45067 closed

[2022-11-16 01:04] adityamandaleeka commented on #45071
That seems reasonable. Reopening this to track updating the docs.

[2022-11-16 01:20] oferze commented on #45098
@davidfowl to summarise, what's the right way to return 5MB Jsons in API responses without .NET increasing memory and not cleaning after itself? this continues @KSemenenko's question.

[2022-11-16 01:56] captainsafia commented on #45119
Yes, `startvs.cmd` takes care of both activating the local .NET install and launching VS.

[2022-11-16 03:42] MychellSantos commented on #45021
I'm trying to run inside a container but the connection is closed.
How was it possible to execute?

was it possible to perform overwrite with a self-signed certificate?

context;
.net 7
libmsquic 2.*
certificate self-sigend
config:
{
  "Kestrel": {
    "Endpoints": {
      "Https": {
        "Url": "https://+:443",
        "Protocols": "Http3"
      }
    }
 }

[2022-11-16 04:10] Gebov commented on #44739
@martonx This should be by design. Since the cache caches everything (including cookies) you should not be able to cache the cookies of the authenticated user. That would mean the anonymous users would have access to those cookies as well.

[2022-11-16 05:05] pmccloghrylaing commented on #44991
I've run into the same issue where `dotnet watch` fails. It runs fine using `dotnet run` or running from Visual Studio. I've tried adding a `global.json` file to specify the sdk version, but without success.

[2022-11-16 05:42] #45119 closed

[2022-11-16 06:18] anirugu commented on #44991
@pmccloghrylaing for me my code was on 6.0 and nothing special is added except swagger which I believe is very common. The code is failing till I make the 7.0 and update the swagger nuget package.

pointed to be noted that it's still failing until I create the wwwroot folder.

[2022-11-16 07:06] eyalalonn commented on #29550
I thought about doing this for my own library and I'm glad that I found this issue. :)

[2022-11-16 07:59] javiercn commented on #44981
Clean your bin and obj folders and publish again

[2022-11-16 08:01] javiercn commented on #45108
@hakenr thanks for the additional details. Why are you passing `DeployOnBuild=true` for a razor class library?

[2022-11-16 08:18] hakenr commented on #45108
The RCL is just a part of the wider solution. The `DeployOnBuild=true` is included in our shared Azure Pipelines build definition (shared Task group) used by 100+ repos. The full msbuild.exe call usually looks like (In description above I reduced the switches to the bare minimum where the issues reproduces).
[code]

[2022-11-16 08:59] imprathamesh commented on #45078
i m getting this same issue. i bought new laptop, the projects that are work in my previous laptop are not working in new laptop.
i tried to delete this bin vs and obj folder also ran dotnet restore command on all project and did repair visual studio 2022 but this still not working.

VS version 17.4.1
sdk : net 6.0.11 and 7

[2022-11-16 09:31] ancailliau commented on #45048
Indeed, although my code was using the `UserManager` there to get the user.

[2022-11-16 09:35] FM1973 commented on #45048
Well, I solved this by using
` var user = await _userManager.FindByNameAsync(model.UserName);//`
instead of my own UserService.
But I think the behavior of usermanager is wrong or at least it hasen´t been like this in .net 6.

[2022-11-16 10:19] hafizsyedirfanali commented on #45098
The memory leak problem is resolved in new update Version 17.4.1.

[2022-11-16 11:06] yugabe opened #45123 "Improve the JavaScript interop code generators to support additional scenarios"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I'm trying to invoke a .NET method via JS interop that passes an array of JavaScript objects back.

[code]

The above declaration gives a compilation error from the generator specifically for the `callback` symbol: `SYSLIB1072: The typ

[2022-11-16 11:21] Uraharadono opened #45124 "Upgrading Microsoft.AspNetCore.Mvc.NewtonsoftJson from 6 to 7 causes WebRequest to be empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have upgraded my **Microsoft.AspNetCore.Mvc.NewtonsoftJson** from version **6** to version **7** recently and now all my requests are empty on controller side.

### Client side payload JSON

[code]

**Images:**
https://i.imgur.com/nvkADva.png
https://i.imgur.com/kDh1lOz.png

### Server side

[2022-11-16 11:29] vlada-shubina commented on #44729
@rafikiassumani-msft we don't have capacity on the moment.

@mkArtakMSFT just fyi - F# templates are not using correct conditions and they already don't work on Debug configuration of SDK/template engine. There is a risk that they stop working in the future, as they don't use syntax that is officially supported.

[2022-11-16 11:50] mehdihadeli commented on #45082
@commonsensesoftware Hi,
No, it is .Net 7.0.0 stable version.

[2022-11-16 13:58] jaiganeshs opened #45126 "Add support for url pattern /v1/books/ext-{external_id} in grpc transcoding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am trying to have an url pattern like /v1/books/ext-{external_id} to get a book by using an external id. The pattern is not accepted in grpc transcoding. I could have the same pattern in minimal api but not in grpc.

### Describe the

[2022-11-16 14:24] syska commented on #45098
Of what package?

[2022-11-16 14:24] JamesNK commented on #45126
Please elaborate on what you mean by not accepted? Does it not get matched? Does the app error on startup? What is the error message and stack trace?

[2022-11-16 14:36] jaiganeshs commented on #45126
The api does not start. I get the below exception.

Unhandled exception. System.InvalidOperationException: Error binding gRPC service 'BookService'.
 ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> System.InvalidOperationException: Error binding GetBookByExternalId on BookService to HTTP API.
 ---> System.InvalidOperationException:

[2022-11-16 14:48] InCerryGit commented on #45098
Hi, have you tried running the program using `dotnet run -c Release`? As far as I know, the GC is not that aggressive in the VS debugger under Debug configuration.

[2022-11-16 14:50] rena0157 commented on #44981
Adding to this, @JasonRodman if you are getting integrity issues in a deployment and are deployed on a CDN I have found that you need to purge the cache in order to fix this issue.

[2022-11-16 15:21] hafizsyedirfanali commented on #45098
I tested on .net7.
Before update i observed the memory leak issue. I received visual studio
update today afternoon. After updating i again tested and observed that
garbage collector is removing unused items from memory. Also observed on
graph diagnostic tool as well as in windows task manager.
I haven't tested in .net6

On Wed, 16 Nov, 2022, 8:18 pm InCerryGit, ***@***.***> wrote:

[2022-11-16 15:26] davidfowl commented on #45098
Things here aren’t adding up, but if the issue is resolved then great 👍🏾.

[2022-11-16 15:46] oferze commented on #45098
@davidfowl I think there's a fundamental misunderstanding... the problem we have is not in our app (thus needing to learn about the GC or to fix our code). As shown in the demo app, it's with every API call and even on Azure App Service, and - much more prominent in .NET 7 than in .NET 6 (if exists in 6 at all).

Kindly referring to my question [here](https://github.com/dotnet/aspnetcore/issues/45

[2022-11-16 15:47] Uraharadono commented on #45124
FIXED IT !

This was all due to the: https://www.pragimtech.com/blog/blazor/put-in-asp.net-core-rest-api/

**_If you're broken by this change, you can disable the feature by setting DisableImplicitFromServicesParameters to true:_**
[code]

[2022-11-16 15:48] #45124 closed

[2022-11-16 16:27] sujayvsarma opened #45128 "Updated packages for 'Microsoft.AspNetCore.Authentication.*'"
Team,
Really confused with this one. If you look at the current packages on NuGet for `Microsoft.AspNetCore.Authentication.*`, you will notice that while a large number of packages are versioned for 6.x and even 7.x, there are still quite a few (like [Microsoft.AspNetCore.Authentication.Cookies](https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.Cookies) ) that are still versioned

[2022-11-16 16:35] danroth27 commented on #29342
Both repro projects seem to work fine with .NET 7, so it looks like this issue is now fixed. If you're still hitting this issue, please let us know and provide detailed steps to reproduce the problem and we'll take another look.

[2022-11-16 16:35] #29342 closed

[2022-11-16 16:40] mrlife opened #45129 "Running dotnet watch fails due to System.IO.FileNotFoundException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Running `dotnet watch` fails due to System.IO.FileNotFoundException in ASP.NET Core 6.0.10 project

### Expected Behavior

`dotnet watch` should start successfully

### Steps To Reproduce

1. Open terminal
2. Go to project directory
3. Execute `dotnet watch` command
4. Receive error

### Exce

[2022-11-16 16:40] jez9999 commented on #45114
Additional idea: GroupGroup, allowing you to have groups of Groups to which you can send a message.

[2022-11-16 16:56] davidfowl commented on #45098
Maybe, but you haven’t provided a sample that I can make sense of. The 50MB string per request isn’t a good one. Regardless, if the issue is resolved, we can close the issue.

[2022-11-16 16:58] mkArtakMSFT commented on #45129
@mrlife I believe you can pin the SDK using global.json and that will unblock you for now.

[2022-11-16 17:00] davidfowl commented on #45025
The application code always ran, even in .NET < 6. The difference is it ran a different entry point which hopefully did less. Now with the new hosting model, there’s no second entry point we can use to get the service provider from various tools

[2022-11-16 17:07] mkArtakMSFT commented on #32373
Given that we're not switching to the Playwright yet, and Selenium doesn't support touch actions, let's delete the (one test which relies on this, but is skipped) for now and close this issue.

[2022-11-16 17:20] tmat commented on #45129
Yup. Dup of https://github.com/aspnet/AspNetCore-ManualTests/issues/1635.

[2022-11-16 17:22] mehdihadeli commented on #45082
@commonsensesoftware Thanks for your response. I'm waiting for fixing this issue in next minor versions of .net 7 :)

[2022-11-16 17:22] Dave-Bronson-Greystone commented on #45022
Am seeing the same issue.  Except that in my instance it's a brand new .NET 7 ASP.NET MVC app being deployed into an app service slot that was previously .NET 4.8.  It's a ground-up/fresh rewrite of the app.

I did change the app service configuration to specify .NET 7, and also checked the 'Remove additional files at destination' option when publishing from VS2022.  Lastly, I did fully stop and r

[2022-11-16 17:28] Tratcher commented on #45021
Browsers are very strict about self-signed certs and HTTP/3. See https://github.com/dotnet/aspnetcore/issues/41762

[2022-11-16 17:32] jez9999 opened #45130 "SpaProxy should not inject middleware with ASPNETCORE_HOSTINGSTARTUPASSEMBLIES"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

_No response_

### Describe the solution you'd like

Injecting middleware with `ASPNETCORE_HOSTINGSTARTUPASSEMBLIES` prevents me from controlling the order middleware gets added to my pipeline.  Frankly, I don't even know why the featu

[2022-11-16 17:32] MychellSantos commented on #45021
I was in doubt if http3 needs a certificate inside the application in the container, because my certificates are in the proxy/nginx.
my application doesn't even know if it has a certificate or not.

[2022-11-16 17:33] Tratcher commented on #45128
https://learn.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-7.0&tabs=visual-studio#remove-obsolete-package-references

[2022-11-16 17:35] MychellSantos commented on #41762
I was in doubt if http3 needs a certificate inside the application in the container, because my certificates are in the proxy/nginx.
my application doesn't even know if it has a certificate or not.

[2022-11-16 17:36] mrlife commented on #45129
@mkArtakMSFT Thank you for the workaround.

@tmat Is that a private repo?

[2022-11-16 17:40] HaoK commented on #45048
That is the expected pattern, you should always use one of the FindXyz apis to get the user from identity before calling into any of the other operations.  Otherwise the tracking might get messed up.

[2022-11-16 17:40] #45048 closed

[2022-11-16 17:41] Tratcher commented on #41762
HTTP/3 _always_ requires a certificate, there's no un-encrypted format for it. In this case it would be encrypted between the proxy and your app.

However, does your proxy even support HTTP/3 proxying? Even if it supports HTTP/3 on the front end, it's likely downgrading on the back end. Last I heard it barely supported HTTP/2.

[2022-11-16 17:41] sujayvsarma commented on #45128
Thank you @Tratcher ! I found that solution separately and thats what I ended up doing.

[2022-11-16 17:41] #45128 closed

[2022-11-16 17:53] tmat commented on #45129
Oh, I did not notice. Let's link this issue as well instead.

[2022-11-16 17:54] #45129 closed

[2022-11-16 18:25] SteveSandersonMS opened #45131 "Mechanism for delaying Blazor's first render until after some async operation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

The problem is the following sequence:

 * A page is prerendered on the server (either dynamically for Blazor Server or WebAssembly, or statically prerendered for WebAssembly), so a complete page including some data is loaded and rende

[2022-11-16 18:38] MychellSantos commented on #41762
but for http3 it needs https, for https it needs a certificate for kestrel, and my certificate is on the proxy.

[2022-11-16 18:54] javiercn commented on #45130
@jez9999 thanks for contacting us.

Many of our development experiences work this way. Like hot reload and dotnet-watch.

Could you give a concrete scenario where you would like to do this?

The SpaProxy is only meant to launch the proxy automatically after the .NET project starts. You can choose to remove it and launch the proxy manually or when your app starts.

[2022-11-16 19:21] jez9999 commented on #45130
I'd like to add some middleware where, on each call, it checks to see whether they're authenticated and if not, it assigns a cookie on-the-fly with a Guid as the user name identifier so that I can have anonymous users tracked to some extent across a session.  Presumably if that has to run after the SpaProxy middleware it won't get to have the opportunity to examine headers and set the cookie on ea

[2022-11-16 19:41] javiercn commented on #45130
The middleware only interacts with the app at the beginning, where it launches the proxy and waits to redirect the user to the dev server proxy. after that, it is passthrough.

That said, you can do this by registering your own `IStartupFilter` before the SPA middleware with `services.Insert(0,ServiceDescriptor.Singleton<IStartupFilter,YourFilter>())`

[2022-11-16 19:42] mikequ-taggysoft opened #45132 ".NET 7 Blazor WASM authentication back button history issue #45097 re-open request"
@javiercn It looks the bot marked that the issue  #45097 was marked resolved before I replied to your comment and then it got closed by bot. But unfortunately, the code you provided didn't work for me as I mentioned in my last response there (the `ToState()` method being internal). Can you kindly take another look for me in that issue and possibly re-open it? Thanks!

[2022-11-16 19:48] JasonRodman commented on #44981
That worked for me. It now publishes and runs without the error.

[2022-11-16 19:56] javiercn commented on #45132
@mikequ-taggysoft thanks for the additional details.

I did not realize the method is internal. You can instead call `JsonSerializer.Serialize(interactiverequestoptions);` and should do the same.

[2022-11-16 19:57] #45132 closed

[2022-11-16 20:05] MychellSantos commented on #41762
@Tratcher I'm looking for network requirements, with performance latency and etc...
however, if the "proxy, nginx service mesh" delivers http3 to me, and my kestrel uses http, I believe that the kestrel using http3 could also be more harmonic

[2022-11-16 20:16] mikequ-taggysoft commented on #45097
@javiercn Thanks so much for re-opening and helping me out with this! So yeah after I serialized the history directory with `JsonSerializer.Serialize(interactiveOptions)`, it did seem to work! Now yesterday when I realized that `ToState()` was internal I did look into the source code and saw the `JsonSerializer` call, but it called this:
[code]
And `InteractiveRequestOptionsSerializerContext` happ

[2022-11-16 20:19] #40740 closed

[2022-11-16 20:30] davidfowl commented on #45037
The sample here is fine. The problem is our middleware that is buffering the response (as described in the replies above).

[2022-11-16 20:32] dougbu commented on #28090
I take that ^^ back. Template and gRPC tests did not fair at all well in my release/6.0 version of #44868. Not sure why things are worse in that branch. It is however clear parts of this issue (and some new issues) remain when testing release/6.0 on Win/Arm.

[2022-11-16 20:46] adityamandaleeka commented on #35502
@Tratcher looks like you unassigned yourself. Do you think the docs should be updated with that? ^

[2022-11-16 21:05] Tratcher commented on #35502
Yes.

[2022-11-16 21:08] Tratcher commented on #41762
Not necessarily. A) you'll have to find out if your proxy even supports proxying it. B) HTTP/3 was designed for unstable external networks, it's not especially helpful on stable internal networks. And since it requires encryption, that adds overhead that HTTP/1.x wouldn't have for the backend.

[2022-11-16 21:51] BrennanConroy commented on #38078
@mprather Have you seen this issue since updating? And if you have, there should be better logs now that you can share?

[2022-11-16 21:56] SKumarSpace opened #45135 ""SPA default page middleware could not return the default page '/index.html' when index.html is there and site is working as intended."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using `Microsoft.AspNetCore.SpaServices.Extensions` in production, I'm getting this error intermittently. The weird thing is that the site is functioning correctly, and I can verify that the index.html file exists. Any ideas as to what might be causing this? I am unable to reproduce it a

[2022-11-16 22:04] pmccloghrylaing commented on #44991
@anirugu - looks like the same issue, my project is aspnetcore, targeting net 6.0, with swagger. And this happens since installing the latest visual studio which updated dotnet to 7.0.100. The exception I'm getting is identical.

[2022-11-16 22:13] SKumarSpace commented on #45135
Closing as this is related to #34420

[2022-11-16 22:13] #45135 closed

[2022-11-16 22:14] mikequ-taggysoft commented on #44981
So just to get this straight:

Prior to .NET 7, we needed:
[code]
Then .NET 7 fixed this, but broke something else, and instead of the above, we now need:
[code]
And when changing these entries, we need to make sure to clean obj/bin folders or we get an unclean build with integrity errors.

[2022-11-16 22:14] yanxiaodi opened #45137 "ExceptionHandlerMiddleware should be able to include HTTP Headers from original requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

The current `ExceptionHandlerMiddleware` allows us to get some information of the HttpContext by using `IExceptionHandlerFeature`, such as `Path`, `RouteValues`, etc. However, it does not include the HttpHeaders of the original request

[2022-11-16 22:19] commonsensesoftware commented on #41429
It went smoother and faster than I thought. Groups of groups are working correctly with only minor refactoring. Unless there are other recommendations, this is were API Versioning will land for its .NET 7 Preview 2:

[code]

To see a full example with OpenAPI support, you can peek at [this example](https://github.com/dotnet/aspnet-api-versioning/blob/2e8d692830a0b97f341eed929c66bdb396b57b17/exampl

[2022-11-16 22:24] pmccloghrylaing commented on #44991
Looks like this is the same error as posted here: https://github.com/dotnet/sdk/issues/28942

[2022-11-16 22:54] sebastienros commented on #44696
@ben-manes the benchmarks actually should that on their machine it supports ~40M transactions per second. I think it actually shows that it won't be bottleneck.

[2022-11-16 23:01] vnbaaij opened #45138 "[Blazor] ::deep does not work in combination with [dir="rtl"]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If you have an isolated CSS file that contains `[dir="rtl"]`-selector in combination with `::deep`-selector the generated CSS does not work correctly because there is no space between the two selectors.

Because of the space not being there, targeting rtl-languages with isolated CSS icw [dir]

[2022-11-16 23:03] sebastienros commented on #44696
@demming I confirm that Response Caching doesn't handle cache stampede like Output Caching does, by design. This is one reason we introduced Output Caching. Though in theory we could also implement it in Response Caching in a future release (maybe a contribution?).

Wath version did you use for the benchmarks WRT Output Caching. I updated it to use binary serialization in RC2 in order to improve p

[2022-11-16 23:05] adityamandaleeka commented on #26536
This is being tracked in https://github.com/microsoft/DockerTools/issues/362

[2022-11-16 23:05] #26536 closed

[2022-11-16 23:07] #32373 closed

[2022-11-16 23:09] adityamandaleeka commented on #15105
Triage: closing since we don't have any more concrete things to do for this at this point. Feel free to file new issues if something else comes up.

[2022-11-16 23:09] #15105 closed

[2022-11-16 23:09] MackinnonBuck commented on #32373
I investigated this more and concluded that we could still make this test work in Selenium. Therefore, this issue is now closed because the test has been re-enabled, not because it has been deleted.

[2022-11-16 23:12] Tratcher commented on #45137
Where are you accessing the IExceptionHandlerFeature? It should only be accessible from places where you also have access to the original HttpContext and HttpRequest. Copying the request headers to the error feature would be redundant.

[2022-11-16 23:15] oferze commented on #45098
Please add to our sample app [this method](https://github.com/dotnet/aspnetcore/issues/45098#issuecomment-1314913165) to our sample app, which returns a tiny string and you'll see the memory going up and not cleaning as well. Even on Azure (i.e. not in Visual Studio).

I'll download VS 7.14.1 but the issue seems unrelated as it happens on a release environment as well, and .NET 7 itself hasn't bee

[2022-11-16 23:19] adityamandaleeka commented on #45021
Marking this as answered since the discussion seems to have moved to #41762

[2022-11-16 23:24] adityamandaleeka commented on #45105
@mrgleba Do you see this on any app or is there anything interesting about your code?

[2022-11-16 23:28] adityamandaleeka commented on #45105
@karelz Is there any guidance on which libmsquic versions are compatible with .NET 7 on Linux?

We have a note in the docs for .NET 6 here: https://learn.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel/http3?view=aspnetcore-7.0#linux

[2022-11-16 23:33] adityamandaleeka commented on #45022
The team is aware of this issue and working on fixing .NET 7 support. cc: @pharring

[2022-11-16 23:59] mitchdenny commented on #45101
I don't infer from that documentation that it is saying that it will convert the relative address to a fully qualified path or a complete URL. I can see why having an easy way to do this would be useful though.

[2022-11-17 00:00] #44967 closed

[2022-11-17 00:07] yanxiaodi commented on #45137
Oh yes. Found it. Thanks @Tratcher !

[2022-11-17 00:07] #45137 closed

[2022-11-17 00:25] danroth27 commented on #40736
Reopening so we can independently consider this scenario.

[2022-11-17 00:28] ohads-MSFT opened #45140 "Possible threading issues with non thread safe collection in Options classes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Options use caching, for example:
https://github.com/dotnet/runtime/blob/e2c0735927642a11162c0d12799be2921bd1c984/src/libraries/Microsoft.Extensions.Options/src/UnnamedOptionsManager.cs#L25

Since [`TOptions<TOptions>` are registered at the singleton scope](https://learn.microsoft.com/en-us/a

[2022-11-17 00:35] mitchdenny commented on #45101
OK, here is how you can do it today:

[code]

The active ingredients are using ```LinkGenerator.GetUriByName``` and explicitly naming the endpoint for the get operation using ```WithName(string)```.

[2022-11-17 01:00] #44870 closed

[2022-11-17 01:00] #44769 closed

[2022-11-17 01:00] #45104 closed

[2022-11-17 01:24] DamianEdwards commented on #44696
@demming I'm not seeing enough there to conclude there's an actual memory leak, vs. expected allocations and respective GC under pressure. If you have an app and profile you can share that'd be great.

[2022-11-17 02:53] anirugu commented on #44991
@pmccloghrylaing  the error mention in https://github.com/dotnet/sdk/issues/28942 is exactly same as what I am facing + wwwroot not found issue.

[2022-11-17 03:10] davidfowl commented on #27394
We’ve survived long without this because we keep making improvements to avoid allocating until there’s data. Most affected scenario might be large buffered requests/responses (not our default because Ststem.Text.Json handles this well).

[2022-11-17 03:32] timheuer opened #45141 "Enable JSON format output for `user-jwts list`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am trying to retrieve a list of known jwt tokens created via `user-jwts` for my project. This is helpful for integration testing but also to create some better tooling around this type of information in certain experiences.  The curr

[2022-11-17 03:49] BrunoBlanes opened #45142 "`HttpRequestException`: Destination is too short. (Parameter 'destination')"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

While using YARP with HTTP3 enabled via an `HttpTransformer` the request fails with a `System.ArgumentException: Destination is too short. (Parameter 'destination')`.

Note that in this particular request, it was supposed to download the `_framework/blazor.webassembly.js` and a couple of CSS

[2022-11-17 03:59] mitchdenny opened #45143 "Web Finger (RFC7033) middleware"
## Summary

Proposal to add middleware to support for the Web Finger protocol ([RFC7033](https://www.rfc-editor.org/rfc/rfc7033)). Web Finger is a _well-known_ endpoint on a HTTP server that returns a JSON Resource Descriptor ([RFC6415](https://www.rfc-editor.org/rfc/rfc6415)) with information about resources on that server.

## Motivation and goals

Web Finger is a foundational technology in emer

[2022-11-17 04:22] adityamandaleeka commented on #38335
@captainsafia Can you please re-milestone this?

[2022-11-17 04:24] adityamandaleeka commented on #37549
@haok Not sure if you ever saw this one. Should this be in 8 planning?

[2022-11-17 04:29] adityamandaleeka commented on #27527
@blowdart Looks like this hasn't been addressed for a couple of years. Is this something we want to invest in for 8 or should we just close it?

[2022-11-17 05:49] JamesNK commented on #45126
Thanks.

gRPC JSON transcoding feature set matches what is available in other products. We follow the path spec at https://cloud.google.com/service-infrastructure/docs/service-management/reference/rpc/google.api#path-template-syntax. It doesn't allow for complex segments that mix a parameter and a literal.

Unfortunately the route you want isn't allowed. You would have to do something like: `/v1/b

[2022-11-17 05:56] hi-diego commented on #44990
hello everyone, I had the same Issue, It seems like Reflection is ussed in some part on the micration creation process so I just didnt inherit from the API ApiAuthorizationDbContext<TUser> class, instead I recreate it as follow

`using Duende.IdentityServer.EntityFramework.Entities;
using Duende.IdentityServer.EntityFramework.Extensions;
using Duende.IdentityServer.EntityFramework.Interfaces;
usin

[2022-11-17 06:46] khteh commented on #44906
Hello!!! Wasn't `startup.cs` removed in .Net 6 with minimal hosting model? How long should we wait to do integration tests on gRPC services!?!

[2022-11-17 07:07] hi-diego commented on #44990
I think that we left behaind tha property implementaion you can see the Package References

 Identity -> Microsoft.AspNetCore.ApiAuthorization.IdentityServer 7.0.0 -> Duende.IdentityServer.EntityFramework (>= 6.0.4)

and you can see on [IPersistedGrantDbContext.cs Definition](https://github.com/DuendeSoftware/IdentityServer/blob/main/src/EntityFramework.Storage/Interfaces/IPersistedGrantDbContext.

[2022-11-17 07:25] martinlingstuyl commented on #45104
Hi @SteveSandersonMS,

The bot closed the issue. But it's a bit unclear to me now as to what the follow-up action is.
If it's on the backlog, should the issue not remain open till it's fixed?

[2022-11-17 07:41] mrgleba commented on #45105
@adityamandaleeka Nothing I can point out. Just upgraded to 7.0 and enabled http/3.

[2022-11-17 08:18] saadsaeed01 opened #45147 "GenerateClaimsAsync method in UserClaimsPrincipalFactory getting called after every 30 minutes in Blazor Server"
Hello

I am implementing UserClaimsPrincipalFactor to add custom claims in Blazor Server

![image](https://user-images.githubusercontent.com/33133831/202393159-d3f03e12-3809-4625-819d-6e9ba68e4521.png)

Its method GenerateClaimsAsync automatically gets called after every 30 minutes, if I hard refresh the page on which I am on. Can anyone please tell me what is the reason behind it?

Regards
Saad

[2022-11-17 08:55] neozhu commented on #44990
my solution
remove this package Microsoft.AspNetCore.ApiAuthorization.IdentityServer.
change service to
 services
            .AddIdentity<ApplicationUser, ApplicationRole>()
            .AddEntityFrameworkStores<ApplicationDbContext>()
            .AddDefaultTokenProviders();

[2022-11-17 09:25] SteveSandersonMS opened #45148 "Add a mechanism to override how Blazor's JS dynamic imports are performed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

When you do `JS.InvokeAsync("import", "./some/module.js")`, the JS interop system will perform a JS dynamic import for `"./some/module.js"`. We even recommend that package authors use this technique to load their JS dependencies dynami

[2022-11-17 09:31] SteveSandersonMS commented on #45104
I've filed an issue describing this as a general feature request: https://github.com/dotnet/aspnetcore/issues/45148

A more practical solution for you in the short term would be to implement a service worker that will let you override how all static resources are fetched.

[2022-11-17 09:31] houbi56 commented on #45100
I would investigate the sql query plan cache. Altering the procedure would through the query plan out of the cache.
https://www.sommarskog.se/query-plan-mysteries.html

[2022-11-17 09:54] javiercn commented on #45148
Yep, we need something for JsInitializers too, since this has been brought up a couple of times.

[2022-11-17 09:55] javiercn commented on #45148
This won't work for Server scenarios though :(

[2022-11-17 09:56] javiercn commented on #45148
I think we already "interfere" with the original request, so I think it is fair we give people control back.

[2022-11-17 09:57] javiercn commented on #45148
Maybe, but how would that work on first load?

[2022-11-17 10:07] martinlingstuyl commented on #45104
Thanks!

[2022-11-17 10:10] martinlingstuyl commented on #45148
It's a bit of an edge case maybe (or is it?), but what if you _can_ control static clientside resources, but the server itself is out of reach? A service worker/proxy is no solution in that case.

[2022-11-17 10:14] martinlingstuyl commented on #45148
What I mean is that I _can_ control the CDN or server that hosts the WASM files AND I can control static files on a website where the Blazor WASM app needs to be incorporated, but I don't control the actual website or server, so I cannot configure a proxy.

[2022-11-17 10:27] YongChingShieh commented on #45110
I publish application by self-contained and Deployed using Windows service, the website cannot be opened after a while, but I don't see any error logs until I check the Windows event log
 sorry I can't reproduce this exception locally, because the user is using and the production environment is no longer allowed to test.Today, I've reverted to 6.0 and everything seems to be working fine.

[2022-11-17 10:28] YongChingShieh commented on #45110
I publish application by self-contained and Deployed using Windows service, the website cannot be opened after a while, but I don't see any error logs until I check the Windows event log
sorry I can't reproduce this exception locally, because the user is using and the production environment is no longer allowed to test.Today, I've reverted to 6.0 and everything seems to be working fine.

[2022-11-17 10:31] mehdihadeli commented on #45082
@commonsensesoftware `WithOpenApi()` method with [Asp.Versioning.Http/7.0.0-preview.1](https://www.nuget.org/packages/Asp.Versioning.Http/7.0.0-preview.1) and .Net 7 with any orders (before or after other operations) works great.
Thanks :)

[2022-11-17 10:34] SteveSandersonMS commented on #45148
Wait until the service worker is loaded before calling `Blazor.start`? Not sure if this necessitates auto-refreshing the page.

Service workers are just static content loaded from the CDN/server.

[2022-11-17 11:12] bonyjose opened #45149 "Upgrading nuget package "Microsoft.AspNetCore.Cryptography.KeyDerivation" from 6.0.0 to 7.0.0 causes unwanted errors to be shown in api logging."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

i have my microservice built on .Net 6 and clean architecture, recently i was upgrading the nuget dependencies and upgraded the package "Microsoft.AspNetCore.Cryptography.KeyDerivation" from v6.0.0 to 7.0.0 , it caused unwanted error logs to appear in my logging, i use Nlog for file and conso

[2022-11-17 11:15] bonyjose commented on #45149
![image](https://user-images.githubusercontent.com/2097150/202431964-925c4793-7c37-4c05-a9eb-d5e52e07bf92.png)
the console error i'm getting

[2022-11-17 11:25] martinlingstuyl commented on #45148
In that case, I think I need to do some reading up!

[2022-11-17 11:41] jquery2005 commented on #44991
Nothing to change, just use "dotnet watch run 【Project Name】" continue to running.

[2022-11-17 13:43] yugabe commented on #44981
For anyone interested, the difference between trimming or not trimming the assembly is 74kB vs 83kB uncompressed (25kB vs 28kB with Brotli). I don't think it's a huge overhead.

I guess either the "Models" or the "Options" [folder](https://github.com/dotnet/aspnetcore/tree/main/src/Components/WebAssembly/WebAssembly.Authentication/src) contains the culprit(s), but didn't go through them one by one

[2022-11-17 14:01] JasonRodman commented on #44981
If my memory serves me correctly the whole reason we had to add the assembly trimming in the first place was to fix another bug during deployment discussed #33312 here. Is this no longer even necessary? It says its fixed but I never tried removing it and deploying it. Now I will have to remove all of it and see if it just works.

[2022-11-17 15:24] javiercn commented on #45097
The remaining work here is to add an overload that takes a boolean we apply to `ReplaceHistoryEntry`

[2022-11-17 15:35] amiranda-utilus opened #45151 "non-ASCII being rejected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Project is .NET 3.1 and we are sending requests to Ocelot.

However, we are using an email with special character, such as: sömêthìng@example.com

So, when user authenticates, the bearer token will have this email because it's also the user's username.

However, when sending the request to Oc

[2022-11-17 15:55] owaits opened #45152 "Unclear how you should respond to Parameter changing after #26230"
With the change to the analyser that all [Parameters] must be auto properties it is now unclear how you are supposed to respond to the parameter changing value and then an action is required to update the component. In the issue #26230 it was suggested by @SteveSandersonMS that SetParameterAsync was a suitable substitute but this does not make you aware which Parameter has changed and so you end u

[2022-11-17 16:03] ericborgerding opened #45153 "Blazor Server WebSocket failed to connect behind Nginx/Ingress"
I have a blazor server application hosted in k8s using nginx with ingress.  The application is not accessed through the root of the DNS and uses the ingress routing to redirect requests.

Traditionally, we use the ingress rewrite target annotation with a path declaration to support the rewrite.

_nginx.ingress.kubernetes.io/rewrite-target: /$2_

 _- path: /application(/|$)(.*)
            pathType

[2022-11-17 16:43] joslb opened #45154 "http body writeasync size limit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hello,

I'm trying to stream 'png' files to a browser. To do this, i use this code :

                            if (imageBytes != null)
                            {
                                var header = $"--{_boundary}\r\nContent-Type: image/png\r\nContent-Length: {imageBytes.Length

[2022-11-17 16:49] BrennanConroy commented on #45141
Similar to how we added support for json output when creating a token in https://github.com/dotnet/aspnetcore/pull/42249

[2022-11-17 17:02] captainsafia commented on #45082
Thanks! Closing this issue out now.

There's a PR out on Swashbuckle to support the summary and description methods that's waiting on merge and release.

Other than that, I think everything is resolved here.

[2022-11-17 17:02] #45082 closed

[2022-11-17 17:11] MarkStega commented on #45078
@imprathamesh If you follow the advice of @javiercn in the second reply it is relatively easy to track the issue down. As I said, not as helpful as an improved error message, but straightforward and it works.

[2022-11-17 17:21] NYMEZIDE commented on #45064
It turns out that in GET requests, where only Serialization, source generators do not participate in optimization and do not speed up HTTP requests.
in POST requests on deserialization are never executed.

So json source generators optimize only manual serialization, there is no point in adding them to WebApi via AddContext<>.

Did i get it right?

[2022-11-17 17:22] #45097 closed

[2022-11-17 17:34] #45153 closed

[2022-11-17 17:43] Tratcher commented on #45154
Can you give a more complete code sample and the original error message and stack trace?

[2022-11-17 17:44] mkArtakMSFT commented on #45147
Thanks for contacting us.
Can you please confirm if you project contains `RevalidatingIdentityAuthenticationStateProvider`? If that's the case, that type is setup to refresh your authentication state every 30 minutes.

[2022-11-17 17:48] bfren opened #45155 "ASPNETCORE_CONTENTROOT being ignored"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

ASP.NET 7 is using the current working directory as content root - even if an override environment variable is set.

This is a problem using the S6 supervisor, where the current working directory is an S6 directory, not the directory containing the published files.

In ASP.NET 6, setting ASPN

[2022-11-17 17:56] mkArtakMSFT commented on #45111
@Redth do you know where this should go?

[2022-11-17 18:02] Tratcher commented on #45155
Try DOTNET_CONTENTROOT

What does your Program.Main code look like?

[2022-11-17 18:12] bfren commented on #45155
That's done it!  Thanks @Tratcher - so either the docs / breaking change stuff needs updating, e.g. [here](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/host/web-host?view=aspnetcore-7.0#content-root), or previous behaviour restored.

[2022-11-17 18:13] bfren commented on #45155
Also, in trying to work out what was going on, I tried setting it via the command line (--contentRoot), and it was still being set to the current working directory.

[2022-11-17 18:50] mkArtakMSFT commented on #45077
Thanks @phenning!

[2022-11-17 19:06] martincostello commented on #45149
I don't think using the 7.0.* packages in a 6.0.* app is supported.

You need to either change to target `net7.0` or downgrade your packages back to the latest minor version(s) for 6.0.* (which I think this month is 6.0.11).

[2022-11-17 19:15] mehdihadeli commented on #45082
@captainsafia Thanks

[2022-11-17 19:21] beevik commented on #45022
I'm seeing a similar issue after upgrading an ASP.NET Core application from .NET 6 to .NET 7.

My application also generates a FileNotFoundException, except it is for the Assembly that's actually running.  It is triggered by a call in my code to `MvcServiceCollectionExtensions.AddControllers`.

This is the Json-ified stack trace of the exception:

[code]

The name of the running assembly (the one

[2022-11-17 19:31] ladeak commented on #44957
Could you share when we may expect the update non-prerelease 7.0.x update released?

[2022-11-17 19:44] adityamandaleeka commented on #45022
@beevik your error seems to be unrelated to the DiagnosticServices issue being tracked here.

@brunolins16 Any advice for @beevik to debug this?

[2022-11-17 19:50] adityamandaleeka commented on #45110
I see. By the way, you should be aware that Windows Server 2008 R2 has been out of support for a while: https://learn.microsoft.com/en-us/lifecycle/products/windows-server-2008-r2

Supported OS versions for .NET 7 can be found here: https://github.com/dotnet/core/blob/main/release-notes/7.0/supported-os.md

[2022-11-17 20:01] beevik commented on #45022
Apologies, I can open a new issue if that helps.

[2022-11-17 21:16] javiercn opened #45729 "[ASP.NET] Reenable StaticWebAssets_HostedApp_ReferencingNetStandardLibrary_Works"

[2022-11-17 22:10] brunolins16 commented on #45022
@beevik Glad you have fixed your issue, however, there is no change between .NET 6 and .NET 7 related how we are detecting the entry assembly. The only thing related was the addition of logs https://github.com/dotnet/aspnetcore/issues/39126.

Feel free to open another issue in case you still have problems.

[2022-11-17 22:18] brunolins16 commented on #45051
@commonsensesoftware thanks for the feedback. We have decided to understand how users would use the new feature before making the `DefaultProblemDetailsWriter` public, however, I agree that having this type `public` and not `sealed` will help custom implementation. Do you have any scenario already?

[2022-11-17 22:18] MackinnonBuck commented on #44880
Closing this out, since the issue appears to have been resolved. We can reopen if we get more feedback that this is still a problem.

[2022-11-17 22:18] #44880 closed

[2022-11-17 22:21] brunolins16 commented on #45051
@commonsensesoftware if you don't mind, let's create a new API Proposal issue to have the discussion about the feature.

[2022-11-17 22:41] mkArtakMSFT commented on #27527
Moving to `Backlog` before the decision is made.

[2022-11-17 22:53] brunolins16 commented on #45052
@commonsensesoftware Sorry, I am not quite sure if I understood your point.

The `ProblemDetailsService` uses the **first** registered `IProblemDetailsWriter `where `CanWrite` is true. Here is an unit test that shows this behavior:

https://github.com/dotnet/aspnetcore/blob/7d3b46d330e64775f82abf4b1c86190ecf51d64a/src/Http/Http.Extensions/test/ProblemDetailsServiceTest.cs#L11

That almost the same

[2022-11-17 22:54] Rod-in-NM commented on #45149
@martincostello thank you for that. I was wondering if EF Core 7 is targeting .NET 7 (and above).

If it is something else, I'd like to know.

[2022-11-17 23:17] brunolins16 commented on #44945
@cmeyertons Can you share your repro application? I don't see any issue using the default DI container.

[2022-11-17 23:30] wtgodbe commented on #38336
@Bellarmine-Head thanks for continuing to push on this issue - I agree we should find a solution for it. I'm not optimistic about us changing our branding scheme at this point, but I do think there can be a solution on the nuget side to allow us to specify a version range for package management tools to offer upgrades within. I've opened [this](https://github.com/NuGet/Home/issues/12254) issue to

[2022-11-17 23:30] #38336 closed

[2022-11-17 23:52] commonsensesoftware opened #45159 "Enable Option to Use Content Negotiation for ProblemDetails"
## Background and Motivation

The implementation of `DefaultProblemDetailsWriter` strictly enforces that `ProblemDetails` are only written if `Accept` is present and can be content negotiated. This is contrary to the HTTP specification. [RFC 7231 §5.3.2](https://www.rfc-editor.org/rfc/rfc7231#section-5.3.2) semantics for the `Accept` header states:

The current behavior is very sensible as a defau

[2022-11-17 23:57] commonsensesoftware commented on #45051
@brunolins16, my scenario is very simple... API Versioning supports versioning by media type. If the version specified via the media type isn't supported, then the appropriate `406` or `415` response is returned. Since the cause is also related to versioning, `ProblemDetails` are created that indicate the requested API version is not supported.

Using the new `IProblemDetailsService`, no body (e.g

[2022-11-18 00:10] commonsensesoftware commented on #45052
🤦🏽 Uggh.. you're so right. Duh?! That _sneaky_ `break;`🥷

It could still be simplified to:

[code]

This would simply the logic a lot and remove to `if` statements in the worst case, which is anything where `_writers.Length > 1`.

We're pinching ¢¢¢ here, but I noticed it and every little bit helps. If you don't think the juice is worth the squeeze, I'm happy to close this out. If you want continu

[2022-11-18 00:20] halter73 commented on #8717
API Review Notes (Cont.):

1. All copy and move constructors should have `noexcept;`.
2. We like the chaining of the `hub_connection_builder` methods.
3. If we are copying the `std::map`, just pass it by value unless we're processing the data inline.
    - Same goes for `configure_options(const signalr_client_config& config)`. It should be `configure_options(signalr_client_config config)`.
5. If y

[2022-11-18 00:26] dougbu commented on #45078
@javiercn I'm assigning to you since this has been sitting w/o an owner and not on (say) the DoI dashboard for a few days.

[2022-11-18 00:32] dougbu commented on #44629
@captainsafia I suspect something has changed wrt VS 2019's support for .net6.0. Could you track down which version we actually need and update global.json and the VS installation files as appropriate please❔

[2022-11-18 02:28] Varorbc opened #45161 "Why isn't the http logging middleware logging form data?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Why isn't the http logging middleware logging form data

### Expected Behavior

logging form data

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No response_

### .NET Version

_No response_

### Anything else?

_No response_

[2022-11-18 02:32] YongChingShieh commented on #45110
I know 6.0 does not support windows server 2008,but reverted to 6.0 and everything is ok,whatever thanks for your help

[2022-11-18 03:27] 0x03BB opened #45162 "In ASP.NET 7, IEnumerable<> controller parameters do not bind from request body by default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In ASP.NET 7, a controller with an `IEnumerable<>` parameter is not bound from the body of the request by default. An empty array is seen by the controller. This worked in ASP.NET 6.

[code]

If the `[FromBody]` attribute is added to the parameter or `List<>` is used instead, the binding work

[2022-11-18 04:17] davidfowl commented on #45162
@brunolins16 This might have to do with the change around inferring services implicitly.

[2022-11-18 04:18] StephenEhlers commented on #45010
@danroth27 @mkArtakMSFT Is there a sample client webassembly project that has all the best settings for getting the project down to the 1.5mb size or maybe less now in .net 7.0? I have applied all the settings I can find and removed everything except for the most basic components to load blazor up but I am still riding at 3.1mb.

I got the 1.5mb number from this video:

[https://www.youtube.com/wa

[2022-11-18 05:10] saadsaeed01 commented on #45147
Hi @mkArtakMSFT

Yes, I am using `RevalidatingIdentityAuthenticationStateProvider`. The question is how can we set it up so that it refreshes the authentication state after a given time?

[2022-11-18 05:39] brunolins16 commented on #45162
Ohh! Let me take a look.

[2022-11-18 05:42] ravi-kakadiya commented on #45094
@Julien-Marpault You can set your own naming convention by override `JsonNamingPolicy.ConvertName(string name)` method

[2022-11-18 07:23] wbaldoumas opened #45163 "Blazor: Scrollbar Not Resetting on Page Change on Firefox"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When changing between pages of different sizes within a Blazor WebAssembly app, from a taller page to a shorter page, the scrollbar does not reset or resize while using Firefox if the user has scrolled on the larger page.

If the user has scrolled partway down the taller page, then navigates

[2022-11-18 07:36] wbaldoumas commented on #45163
One note is that if you remove `scroll-behavior:smooth` from `bootstrap.min.css`, this behavior with the scrollbar grip and scrollbar track not resetting/disappearing when navigating from taller pages to shorter pages after having scrolled isn't an issue. Maybe this is just a problem with the CSS included in the Blazor WebAssembly template?

[2022-11-18 08:18] Bellarmine-Head commented on #38336
@wtgodbe yes, I agree that the solution really should be on the NuGet side.  I opened this issue mainly to see if I could get Microsoft to at least pause and reflect before simply pushing out .NET vNext _knowing_ that these problems would arise, and blaming it each time on tooling limitations.  Also I wanted ppl to consider that maybe the real problem here is not that incompatible versions are off

[2022-11-18 08:24] mottaghipour opened #45164 "Blazor lazy loading percentage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

We can use css variables like `--blazor-load-percentage` for make better loading screen and design html elemnts. It's perfect but `--blazor-load-percentage` does not updated on lazy loading assemblies.

### Describe the solution you'd

[2022-11-18 08:35] ralfbalzer opened #45178 ""Empty" errors in MVC Controller"
I upgraded my Project to .Net 7.0.
Since then, the debugger and building the solution, raises an error on assigning "Empty" to a string in an MVC Controller.

It raises the error "cannot convert source type to 'Microsoft.AsoNetCore.Mvc.EmptyResult' to target type 'string' "

Using "string.Empty" works fine.

![Screenshot 2022-11-16 202238](https://user-images.githubusercontent.com/22136154/2026573

[2022-11-18 09:00] javiercn commented on #45164
@mottaghipour thanks for contacting us.

I do not think we want to go in that direction. The values provided by these variables represent the percentage during the boot process. We do not want to include anything that is loaded afterwards. Since lazy loaded assemblies are loaded explicitly, you can create your own CSS custom property to work out how many of them have been loaded and use some `calc

[2022-11-18 09:06] javiercn commented on #45024
This issue was moved to AzureAD/microsoft-identity-web#1968

[2022-11-18 09:06] #45024 closed

[2022-11-18 09:07] h3rmanj commented on #40229
I'm hoping it will integrate nicely with the already existing `IDistributedCache` interface. This is the only thing stopping us from moving to the new .NET 7 Output Cache from a custom output cache implementation.

[2022-11-18 09:08] javiercn commented on #45163
@wbaldoumas thanks for contacting us.

That seems to me like a bootstrap behavior.

Does this reproduce in other browsers?
Does this reproduce in a document without blazor?

[2022-11-18 09:14] joslb commented on #45154
Hi,
Thank you for your quick reply

1. code snippet of the startup.cs
-----------------------------------

 public IConfiguration Configuration { get; }

        public void ConfigureServices(IServiceCollection services)
        {
            services.Configure<KestrelServerOptions>(serverOptions =>
            {
                serverOptions.AllowSynchronousIO = true;
                serverOption

[2022-11-18 09:41] julesrx opened #45165 "Publishing the default React template results in a 404"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

After creating a new AspNetCore app using the "react" template, publishing it results in a blank screen and a 404 error.
The files inside wwwroot seems to be ignored.

### Expected Behavior

Starting the published app should display the react app.

### Steps To Reproduce

1. `dotnet new react

[2022-11-18 09:44] bonyjose commented on #45149
Thanks for the reply, I did see that some nuget packages have a restriction implemented for .Net 6 projects , an example is "Microsoft.AspNetCore.Authentication.JwtBearer " which restrict me from installing the version 7.0.0 in my project, but this particular one has to errors and let me update the package. I hope MS will implement some locking for unsupported packages bacause most people i know s

[2022-11-18 10:15] thurfir commented on #23041
For most use cases, it is possible to override the UrlHelperFactory and implement your logic there: https://stackoverflow.com/a/71871803/4101909

However, this is far from ideal, and is sync-only.

[2022-11-18 10:19] BondarencoM commented on #42691
I also want to rate limit an endpoint with one partition but multiple time spans (e.g. allow 3 requests per second but only 100 per hour). As far as I can tell this is currently not possible but feels like a very basic use case.

[2022-11-18 10:58] mottaghipour commented on #45164
how to get percentage of downloaded assemblies with c# code?
[code]

[2022-11-18 11:00] javiercn commented on #45164
@mottaghipour that is for your application to track.

You mark assemblies as lazy, so you know the total. And you can increment the count every time you load one.

[2022-11-18 11:03] javiercn commented on #45165
@julesrx thanks for contacting us.

@MackinnonBuck can you take a look?

[2022-11-18 11:05] Underfakerrip commented on #27882
Updated to .NET 7 and still not working.
Minimal example with regex validation rule (for example not allowing '<'):
[code]

Controller:
[code]

Settings:

[code]

Now calling with:

[code]
This results in OK result

Calling:

[code]
This results in bad request though it is the same Model but not being validated in case of polymorphic binding

[2022-11-18 11:08] mottaghipour commented on #45164
Ok. Thank you. Better close this issue :)

[2022-11-18 11:08] #45164 closed

[2022-11-18 11:23] GerardSmit commented on #44957
Same here.

After installing .NET 7.0.2, Visual Studio 2022 Preview and creating a `global.json` I still have this problem in Blazor Server-side.

<details>
<summary>Commands</summary>
<p>

[code]

[code]

</p>
</details>

[2022-11-18 11:24] javiercn commented on #45165
@julesrx we are not able to reproduce this issue.

![image](https://user-images.githubusercontent.com/6995051/202694525-e42e9f3d-6522-4ccb-9b5d-6999bcb263ee.png)

Make sure you clear your browser cache to avoid any potential issue

[2022-11-18 11:26] TomDacquinDMS commented on #39104
I have the exact same issue in Google Chrome Mobile. My project is .NET 7.
Authentication flow is stuck on .../authentication/login-callback#code.0.AX.................

it seems to only happen when the #code.... part is added to the call-back. (tried to configure this in Azure Portal, with no luck)
Adding: options.ProviderOptions.LoginMode = "redirect" did not fix my problem.

[2022-11-18 12:55] jenspettersson opened #45166 "Semingly random CorrelationCookieNotFound issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

There are a few other issues close to this one, but not exactly, and we really would like to have some pointers in how we can at least reproduce this issue so we can try to fix it.

We are using OpenIdConnect with a remote identity provider as one of our authentication mechanism. This works g

[2022-11-18 13:28] julesrx commented on #45165
I am still getting the issue, even in incognito mode, and on an other browser.

I created a repository : https://github.com/julesrx/aspnetcore-issue-45165
I will try to setup a more reproducible environment.

[2022-11-18 13:47] florianwachs commented on #44957
Same here, installed 7.0.2 daily, cleaned solution in new blazor server app. build on terminal with dotnet build -> same EventCallback error.

[2022-11-18 14:15] julesrx commented on #45165
This solved the issue, thanks 👌.

I am having this issue with the IIS hosting model, still need to figure out how to set the content root path on this...

[2022-11-18 14:15] #45165 closed

[2022-11-18 14:29] eerhardt commented on #45010
@StephenEhlers - have you also installed the `.NET WebAssembly build tools`?

![image](https://user-images.githubusercontent.com/8291187/202727696-671f34ac-fe83-4a76-9f55-0a96a70d5a86.png)

If you install that, the `dotnet.wasm` file gets even smaller after publish, because it is "re-linked" with only the code your app needs.

[2022-11-18 14:37] florianwachs commented on #44957
@javiercn Could you please confirm that this is fixed for Blazor Server too? I wasn't able to reproduce that it is fixed in the daily 7.0.2 version, but for me it would be enough to know that it is fixed in the next service release. Thanks a lot!

[2022-11-18 15:03] MarkStega commented on #45078
@javiercn  I'd still like to have this forwarded to the appropriate team for consideration. But as an issue your methodology worked fine and I have no need of further help.

[2022-11-18 16:12] stefer commented on #40950
It is possible to use UseWhen to selectively add http logging to only some endpoints, like so:
[code]

[2022-11-18 16:13] stefer commented on #43222
It is possible to use UseWhen to selectively add http logging to only some endpoints, like so:

[code]

[2022-11-18 16:15] fabiansanchez18 commented on #44963
Thank you. It happened to me today. I have to clean the site cache on my browser. Blazor must do something with this, because it may brake the site on the clients browsers, and that is dangerous. How can we tell to costumers to refresh the browser cache doe to our framework update.

[2022-11-18 16:49] wbaldoumas commented on #45163
@javiercn hey, thanks for the quick response!

This doesn't reproduce in other browsers like Edge, or Chrome. I don't have access to an OSX machine, so I haven't tested on Safari.

I haven't gotten a chance to test this out, but will when I can find some time. If you have a means to test that sooner, let me know how it goes. 😄

[2022-11-18 16:55] glen-84 commented on #41990
Is there an issue to track the WSL support?

[2022-11-18 17:17] steamedbuns opened #45168 "ISingleClientProxy.InvokeAsync<T> throwing System.Exception upon receiving return value from client invocations using messagepack protocol"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Upon receiving a result value from client invocation, ISingleClientProxy.InvokeAsync<T> will throw a generic System.Exception exception. The exception is only thrown when using messagepack protocol.

### Expected Behavior

No exceptions thrown when receiving return value from client invocatio

[2022-11-18 17:43] Tratcher commented on #45154
It looks like this is using HTTP/2. Do you know if the client is actively consuming the data? HTTP/2 flow control could prevent the server from sending any more data. Can you try it with HTTP/1.1 to see if it behaves differently?

[2022-11-18 18:14] brunolins16 commented on #45162
Sadly ☹️, you are right, the call to `IServiceProviderIsService.IsService` return `true` for `IEnumerable<>` types.

https://github.com/dotnet/runtime/blob/d15a19fd4a9dd21fb768b6de4870a2d80acb3669/src/libraries/Microsoft.Extensions.DependencyInjection/src/ServiceLookup/CallSiteFactory.cs#L555

[2022-11-18 18:28] vsfeedback opened #45171 "WeatherForecastController does not format correctly"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/WeatherForecastController-does-not-forma/10205694)._

---
In a new Blazor Webassembly App project with ASP.NET Core Hosted, in the server app, the WeatherForecastController does not format correctly.

It formats like the screenshot:

The closing brace for the string array is placed at th

[2022-11-18 18:49] Tratcher commented on #45166
There are two common causes here. 1) the cookie attributes are set wrong, that doesn't seem to be the case in your example, or 2) there's a client incompatibility. SameSite went through several incompatible iterations before it finalized and there are still clients out there stuck on old versions.

If you see a pattern of specific outdated user agents then here is some guidance to address them:
ht

[2022-11-18 18:56] affableashish opened #45174 "Styling Identity Razor Pages to use default Blazor theme is very difficult with available documentation"
**Issue description**
---

I just added Identity to my existing Blazor Server project using Identity Scaffolding.
I followed this Microsoft learn guide [here](https://learn.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-6.0&tabs=visual-studio#scaffold-identity-into-a-blazor-server-project).

However, since Identity uses Razor pages instead of Razor compon

[2022-11-18 19:54] razzemans opened #45175 "Routing - cannot change precedence of DynamicRouteValueTransformer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

This is related to https://github.com/dotnet/aspnetcore/issues/29594

For our applications, we developed a CMS which implies that most of our routes are dynamic and determined during runtime - users can create and publish pages. For this I created a custom `DynamicRouteValueTransformer` which

[2022-11-18 20:10] mprather commented on #38078
@BrennanConroy  We use vcpkg in classic mode. Thus, we had to wait for the Nov release before we could start testing and running everything through the pipelines. Definitely will post an update once we know more.

[2022-11-18 20:28] TanayParikh commented on #45171
I'm not actually seeing the improperly indented lines in the source:

https://github.com/dotnet/aspnetcore/blob/a55d4a41ad60430cdfcdaf22b4136ab8fe57fafa/src/ProjectTemplates/Web.ProjectTemplates/content/WebApi-CSharp/Controllers/WeatherForecastController.cs#L32-L33

https://github.com/dotnet/aspnetcore/blob/a55d4a41ad60430cdfcdaf22b4136ab8fe57fafa/src/Components/WebAssembly/testassets/Wasm.Authent

[2022-11-18 20:29] TanayParikh commented on #45171
https://github.com/dotnet/aspnetcore/pull/40400 may've fixed this.

[2022-11-18 20:38] TanayParikh commented on #45171
cc/ @ryanbrandenburg was there some discussion / issue recently around this? I can't seem to find it.

[2022-11-18 20:58] blowdart commented on #45166
Also private mode in Chrome now has even stricter rules than normal on same site cookies, might your users be using that?

[2022-11-18 21:01] blowdart commented on #45149
JWTBearer has its own 7.0 version, that should not be blocking you. But yes, you can't use 7.0 nuget packages against the 6.0 runtime, or vice versa. Everything must match.

[2022-11-18 21:07] jenspettersson commented on #45166
We're seeing this with both latest Chrome (107) and latest Safari as well as older browsers. We've implemented handling SameSite cookies for unsupported browsers.

We've tested Chrome in private without any luck reproducing it.

Do you know of more browser settings that might affect the correlation cookie? Not to be prejudiced but our user base isn't perhaps the most tech savvy so we don't _think_

[2022-11-18 21:12] 0xced commented on #45025
I had the same issue (i.e. multiple `IHostedService` implementations running at build time) when I upgraded from `Microsoft.Extensions.ApiDescription.Server` version 6.0.10 to version 6.0.11.

My workaround detects when the entry point is being called by `GetDocument.Insider` and stops after building the app, which is enough for the OpenAPI generation to work.

[code]

The behaviour becomes more l

[2022-11-18 21:13] adityamandaleeka commented on #45136
@aaarichter This sounds like it might be similar to https://github.com/dotnet/runtime/issues/52766

Can you check Console on your Mac and see if you see an error like `suppressing keychain prompt for invalidly signed client [...]` when this happens?

[2022-11-18 21:31] adityamandaleeka commented on #45161
Triage: let's document this in the conceptual doc (https://learn.microsoft.com/en-us/aspnet/core/fundamentals/http-logging/?view=aspnetcore-7.0#mediatypeoptions)

[2022-11-18 21:34] adityamandaleeka commented on #45110
Glad it's working for you. I'll close this issue now... if you see it happening on a supported configuration, please let us know.

[2022-11-18 21:34] #45110 closed

[2022-11-18 21:42] adityamandaleeka commented on #45105
@mrgleba Just out of curiosity, can you try the 2.1.1 version of msquic and see if you have the same issue?

cc: @nibanks

[2022-11-18 23:11] halter73 commented on #17963
Reopening to consider changing the `GenericWebHostBuilder` to match `WebApplicationBuilder`'s new behavior of loading `ASPNET_`-prefixed environment variables with the lowest precedence. We've already made this breaking change to `WebApplicationBuilder`. See https://github.com/aspnet/Announcements/issues/498

[2022-11-18 23:40] ryanbrandenburg commented on #45171
@TanayParikh unfortunately I'm not sure. If you have RazorTooling formatting issues you probably want to check with @davidwengier.

[2022-11-18 23:57] Nick-Stanton commented on #45138
It seems that leading with a square-bracketed attribute selector (i.e. `[dir="rtl"] ::deep .rtlspecific`) is not currently supported for Razor's `::deep` pseudo-element. In a designed use case ([e.g.](https://learn.microsoft.com/en-us/aspnet/core/blazor/components/css-isolation?view=aspnetcore-6.0#child-component-support) `::deep h1`), the expected behavior is for the output to have no space.

CC

[2022-11-19 00:03] davidwengier commented on #45171
Should mention, I'm on my phone and can't see any screenshots, so could be wildly off base 😁

[2022-11-19 00:17] halter73 commented on #45155
Thanks for the bug report. This does appear to be a regression which should be fixed in servicing. I think the fix belongs in `HostApplicationBuilder` though.

Internally, the CWD overrides the content root set via `ASPNETCORE_CONTENTROOT` which `WebApplicationBuilder` passes to its `HostApplicationBuilder` via `HostApplicationBuilderSettings.Configuration`. `HostApplicationBuilder` is designed to

[2022-11-19 00:24] TanayParikh commented on #45171
Any recommendations on how to resolve this?

[2022-11-19 00:50] kaleidocore opened #45179 "TypeLoadException in WASM with Covariance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

A covariant class implementing an interface that matches a covariant member cannot be resolved by WASM.

WASM throws a **runtime** `TypeLoadException `when covariance is used in certain class/interface hierarchies.
The same code works fine in regular desktop .Net 6/7.

### Expected Behavior

[2022-11-19 03:19] hzk120 commented on #43192
@captainsafia Use case for this request can be : Defining a route prefix at a single place so it is applied to all controllers.
Right now, we have to change the attribute on every Controller. If an alternative to that problem exists , please suggest.

Problem Reference Link: https://stackoverflow.com/questions/73387620/how-to-add-api-prefix-to-every-end-point-in-an-asp-net-core-web-api

[2022-11-19 06:58] wolfgangschneider commented on #44957
FYI - still not working Blazor-Server 7.0.2 SDK

![image](https://user-images.githubusercontent.com/15703770/202838727-a1816b8f-2eb0-4f26-b2fd-6a63e89d9853.png)

[2022-11-19 07:00] #45147 closed

[2022-11-19 07:03] davidfowl opened #45180 "EndpointMiddleware should not catch exceptions"
The endpoint execution middleware [catches exceptions to log the executed endpoint](https://github.com/dotnet/aspnetcore/blob/main/src/Http/Routing/src/EndpointMiddleware.cs#L63-L66). We should just do this in a finally block and make sure the exception is processed once. Usually, the piece of the stack that caches the exception is the one that logs and reports the exception as handled.

[2022-11-19 07:06] wolfgangschneider opened #45181 "Create a field for @ref like x:Name in xaml"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

_No response_

### Describe the solution you'd like

currently I have to create an ElementReference by myselve
[code]

it would be nice when razor compiler can do it for me if no field was defined

[code]

### Additional context

see x

[2022-11-19 07:51] wolfgangschneider opened #45182 "Make QuickGrid more inheritance friendly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am trying to do greate my own Grid including selection using Inheritance  but the most of the usable fields are privat
e.g (but not all)
  // Caches of method->delegate conversions
    private readonly RenderFragment _renderColumnHea

[2022-11-19 10:16] mckaragoz opened #45183 "Blazor Custom Element with ChildContent and Parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When i set a component as a custom element and add with markup string, it works.

`(MarkupString)"""<button-component id="buttoncomponent"></button-component>"""`

But it doesn't work when we want to going deeper. Imagine we have a container component and add a button inside. I have a compone

[2022-11-19 18:43] FranklinWhale commented on #4684
Both Google and Facebook support PKCE now:
https://developers.google.com/identity/protocols/oauth2/native-app#step1-code-verifier
https://developers.facebook.com/docs/facebook-login/guides/advanced/oidc-token

Should `UsePkce` of [`GoogleOptions`](https://github.com/dotnet/aspnetcore/blob/main/src/Security/Authentication/Google/src/GoogleOptions.cs) and [`FacebookOptions`](https://github.com/dotne

[2022-11-19 20:01] kbeaugrand opened #45187 "[OIDC] - Failed to authenticate - Regression after upgrading to .NET 7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

My application is a Blazor WebAssembly that is hosted by an ASP.Net server.

I configured my app to get access token for my backend with:
[code]

It is working fine with this authentication and authorization flow running in .NET 6.

But after upgrading to .NET 7, I observe that the app fails

[2022-11-20 10:24] ziaulhasanhamim opened #45190 "CLI Hot reload for Blazor wasm still doesn't work in .NET 7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

#40587 was supposed to be fixed in .NET 7 with https://github.com/dotnet/sdk/pull/27699. But there is still the same problem. Blazor wasm hot reload still breaks all the time

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No response_

[2022-11-20 11:39] ericbrunner commented on #43317
Still not fixed! Thanks to @njannink will try you workaround
![image](https://user-images.githubusercontent.com/6480047/202899907-c8f8479e-3cbc-4044-908f-c585f6a6d6b6.png)

[2022-11-20 11:53] sturlath opened #45191 "Error when trying to use compression (Brotli) in Blazor WASM: "Uncaught (in promise) Corrupted padding bits ""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have been trying to get my Blazor WASM project to compress to avoid the 100 MB over 30-50 sec load time I´m currently having and have been trying to compress the files and serve Brotli (.br) files to my client. I have gone over the [documentation ](https://learn.microsoft.com/en-us/aspnet/c

[2022-11-20 12:01] marcominerva opened #45192 "Incorrect OpenApi documentation in Minimal API when using WithOpenApi extension method"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm using .NET 7.0. I have created a Minimal API with the following endpoint:

[code]

This produces the following page in Swagger:

![image](https://user-images.githubusercontent.com/3522534/202900465-20813c39-34dd-4e76-8098-55aa89a495bf.png)

In particular, the description of the 404 respon

[2022-11-20 12:58] tomap commented on #27583
Hello,

My understanding was that the commands used for redis are publish and subscribe which are not spread across nodes of a redis cluster.
So I'm not sure to understand how the current implementation of backplane on redis is compatible with redis clusters.

Redis 7 introduced ssubscribe and spublish which are compatible with redis clusters. (Sharded)

But maybe there is something I did not unde

[2022-11-20 16:47] sturlath commented on #25152
Just to add how I´m doing this in case it helps someone down the line. It's probably not the best solution but I made it work for me.

I have a Release (this one is for my dev environment, and then I have another one for production that is 99% the same but with different variables)

![image](https://user-images.githubusercontent.com/2386572/202914263-ac9bf236-6504-4d5b-9ff0-f840ce076be0.png)

wher

[2022-11-20 17:10] Laftek opened #45194 "Not updating js module after route change"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am trying to load lottie animations after every click of the button. I chose to not load animation itself but rather use routing. So every click will create a route localhost/1 -> it should load 1.json (lottie animation), localhost/2 ->  it should load ..json etc.

The problem is that I tri

[2022-11-20 17:18] Laftek opened #45195 "Website Import - blazor (wasm) web view not displayed correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I exported framer website and tried to import it to Blazor. When its imported in index.html everything works of course. When I try to import the <body> part to Index.razor -> its working first second but then the page is missing interactive parameters. I am getting uncaught error: Minified Re

[2022-11-20 17:22] ziaulhasanhamim opened #45196 "Deployment time configuration variables in Blazor wasm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

In Blazor wasm the only way to have configurations in www-root appsettings. But there is a good need for build time environment variables for CI/CD usage.

### Describe the solution you'd like

In vue there is a very neat and easy solu

[2022-11-20 18:14] FranklinWhale opened #45197 "`GetExternalLoginInfoAsync` should work even when `MapInboundClaims` is `false`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

`GetExternalLoginInfoAsync` currently use `ClaimTypes.NameIdentifier` to find a claim for `providerKey`. This only works when `MapInboundClaims` is `true` or a claim mapping of `sub` to `ClaimTypes.NameIdentifier` exists.

### Describe

[2022-11-20 22:10] richstokoe commented on #45130
I've covered some of these use cases in another separate issue: #44187

This is exactly how we'd architected our SPA because the old SpaServices proxy led you toward this approach.

The worst part is that in production you don't have SpaProxy, you have UseSpaStaticFiles / endpoints.MapFallbackToFile in the middleware pipeline so things actually work differently in development than in production an

[2022-11-20 22:46] jez9999 commented on #45130
@richstokoe Yes, I think the right approach would be for Microsoft to actively support both approaches going forward, even if the new approach is default, the old one should remain an option for those of us who prefer it.

[2022-11-21 00:01] #45032 closed

[2022-11-21 00:01] #24480 closed

[2022-11-21 02:43] mkArtakMSFT commented on #45190
@tmat can you please look into this? Thanks!

[2022-11-21 02:51] mkArtakMSFT commented on #45178
Thanks for contacting us.
The error you're getting is valid, as there is no implicit conversation operator defined for the EmptyResult type. Please note, that the [EmptyResult type](https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.Core/src/EmptyResult.cs) is not related to the `String` type.
Based on your later comment, it looks like you did intend to use the `String` type here as you us

[2022-11-21 05:42] dajma00 opened #45199 "Blazor WASM net::ERR_HTTP2_PROTOCOL_ERROR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a Blazor wasm site: https://ims.kfacon.com. When I load it first time, I get this error in console:
net::ERR_HTTP2_PROTOCOL_ERROR on several files.

However, when I refresh the same browser, everything runs smooth and site loads.

### Expected Behavior

Site should load without the net

[2022-11-21 07:43] NetherGranite opened #45200 "Blazor @bind:set produces code that doesn't compile in .NET 7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

`@bind:set` produces code that doesn't compile for me in Visual Studio 2022 17.4.1 and Rider 2022.3 EAP8.

The following code:

[code]

Produces the errors

- `Argument 3: cannot convert from 'Microsoft.AspNetCore.Components.EventCallback<int>' to 'System.Action<string?>'` (CS1503)
- `Argumen

[2022-11-21 07:47] bonyjose commented on #45149
@blowdart thanks, that make sense. i'll make sure the nuget package versions will match with the .net version i'm currently using.

[2022-11-21 07:55] jinzhao1127 commented on #45190
@mkArtakMSFT this issue looks like same as https://github.com/aspnet/AspNetCore-ManualTests/issues/885, it only reproes on the first time to execute `dotnet watch`

[2022-11-21 08:01] mrgleba commented on #45105
I can confirm it's the same with 2.1.1

[2022-11-21 08:10] timeshift92 commented on #44833
I have the same issue. Is there any progress on the issue?

[2022-11-21 08:17] #45178 closed

[2022-11-21 08:24] usmonovdilshod commented on #44833
I have the same issue

[2022-11-21 08:36] sylvainonweb opened #45201 "Blazor components not found but Rebuild all succeeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

- Move a component from folder 1 to folder 2 without changing its namespace
- Rebuild
=> Visual Studio shows **Rebuild all succeeded** and doesn't inform me that the component can't be found anymore
=> when I launch the application and go to the page containing the component, this component i

[2022-11-21 08:39] ziaulhasanhamim commented on #45190
In my case, it happens whenever the build takes a long to complete.

[2022-11-21 08:56] richstokoe commented on #44600
Please advise how to workaround some of the limitations of the http-proxy-middleware. For example, in multiple path matching, you cannot use string paths and wildcard paths together. This is not backwards-compatible with the SpaServices approach.

[2022-11-21 08:59] SteveSandersonMS commented on #25731
We'll track this in #45131, so closing as a dupe of that.

[2022-11-21 09:00] #26049 closed

[2022-11-21 09:01] richstokoe commented on #44600
In addition it looks like POSTing to the website that relies on the SPA files will now break?

https://github.com/aspnet/Announcements/issues/495

I'd love to ask this on the issue but you keep locking issues and strangling collaboration in order to maintain this course. We're getting further and further away from last-known-good!

[2022-11-21 09:12] RichardD2 commented on #45017
What further information is required?

[2022-11-21 09:56] GerardSmit commented on #45200
**Note:** this issue also applies to .NET 7.0.200 and .NET 8.0.x (installed with https://github.com/dotnet/installer#table).

@javiercn said the following in https://github.com/dotnet/aspnetcore/issues/44957#issuecomment-1308474134:

But in my testing the issue is still present in the these new SDKs (at least with Blazor Server-side). The only thing that worked for me was re-installing .NET 7 RC 2

[2022-11-21 10:21] ManickaP commented on #45021
We have an issue for that: https://github.com/dotnet/runtime/issues/56607.

Our previous experience with adding dependencies into official docker images led to push back due to the increased size, so we need more people caring about this scenario before we attempt to do this. Please upvote the issue if it's important for you!

[2022-11-21 10:40] srxqds opened #45204 "how can we trim dll unused?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have found some dll should not used in product release:
![image](https://user-images.githubusercontent.com/5187024/203029423-7a8f82b2-1a96-4774-acd5-662c75bbf9b0.png)

### Expected Behavior

no loading these assembly

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No respo

[2022-11-21 13:23] njannink commented on #43317
@ericbrunner my workaround isn't working anymore for net7. I have the idea that the original issue is not occuring anymore, but I did some code review and the "Operation Completed" is still not handled so in theory it could still happen

[2022-11-21 13:33] dougclutter commented on #44981
We're having this problem too.  For us, everything works fine on our laptops, but fails as soon as we deploy it to Azure.  We're serving the app from a CDN.

When we added this to our csproj, the problem goes away:
[code]

[2022-11-21 13:34] ericbrunner commented on #43317
@njannink thanks for getting back. I'm already on `net7.0` but it still happens  in Edge and Chrome browser.
The only workaround is to clear the cache in the browser and then sign-in proceeds.
Would be very kind when you can take a look on my Client project and give me some advice:

[BlazorHostedWasmMsal.zip](https://github.com/dotnet/aspnetcore/files/10056913/BlazorHostedWasmMsal.zip)

[2022-11-21 13:40] njannink commented on #43317
I think a new issue needs to be made for this so the guys from MSAL or Blazor can have a look at this problem. Since this issue has already been marked as closed or @mkArtakMSFT should reopen it.

 I did not find a good solution either hence the workaround that I used in Net6, but in Net7 I see that this workaround gives unwanted side effects. Its quite annoying and disrupts the user experience of

[2022-11-21 13:40] javiercn commented on #45199
@dajma00 thanks for contacting us.

This seems like some type of issue with your network. Can you give us more details about your deployment? As well as any other software that you might have between your machine and the server? (Enterprise proxy, web application firewall, etc.)

[2022-11-21 13:42] #45149 closed

[2022-11-21 13:44] joslb commented on #45154
Hello, the change of protocol unfortunately did not solve the problem. On the client side, it remains pending. No data reaches it.

Jo

[2022-11-21 13:47] javiercn commented on #44600
@richstokoe here is how you can do it.

You have full control of how requests are matched, for example:
[code]

[2022-11-21 13:49] javiercn commented on #44600
Our announcements repo is locked as it is just the central place for folks to get updates. It is ok to file an issue in the repo explicitly.

Could you give us a concrete example on how this impacts you?

[2022-11-21 13:55] javiercn commented on #45187
@kbeaugrand thanks for contacting us.

Can you give us more details? Is this happening in development or after publish?

[2022-11-21 14:04] javiercn commented on #45191
@sturlath thanks for contacting us.

The repro is not accessible.

[2022-11-21 14:07] kbeaugrand commented on #45187
This is happening during the development

[2022-11-21 14:11] javiercn commented on #45181
@wolfgangschneider thanks for contacting us.

Unfortunately, this is not something we plan to do for the reasons outlined [here](https://github.com/aspnet/Announcements/issues/381)

[2022-11-21 14:18] sturlath commented on #45191
Sorry @javiercn its open now!

[2022-11-21 14:29] KieranDevvs commented on #39561
As a work around until this is supported natively within Blazor, I'm using `JSModule`'s and exporting the event logic that I need.

[2022-11-21 15:00] Deph0 opened #45207 "Enable customization of responce_type for OAuth Authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am trying to use an enterprise OAuth (Not an OpenIDConnect / OAuth2.0) service which does not allow me to set "code" responsee type, hence this issue.

I've searched the web and tried different things without success and arrived at t

[2022-11-21 15:06] javiercn commented on #45200
I am going to reopen the original issue to track what's going on here. Seems like something does not add up.

https://github.com/dotnet/aspnetcore/issues/44957

[2022-11-21 15:06] #45200 closed

[2022-11-21 15:12] DamianEdwards opened #45208 "Add support to `dotnet dev-certs` for managing HTTPS certs in WSL"
Related EPIC #41990

Visual Studio's container and WSL tools today automatically export the ASP.NET Core HTTPS dev cert from the host machine and import it into the application container or WSL instance as part of the launch experience. As the dev cert is the same as used by the Windows host, browsers running on the host continue to trust it despite it being served from the container or WSL and th

[2022-11-21 15:17] DamianEdwards commented on #41990
@glen-84 created #45208 to track the WSL support.

Closing this epic out now that 7.0 is done.

[2022-11-21 15:17] #41990 closed

[2022-11-21 15:27] Tratcher commented on #45199
Can you capture a decrypted wireshark trace?

[2022-11-21 15:29] Tratcher commented on #45207
What do you need to change it to? Changing the type is more than changing this string, we'd also have to implement the other possible flows to handle that response.

[2022-11-21 15:43] Deph0 commented on #45207
I would like support for Token

[2022-11-21 15:44] javiercn commented on #45191
@sturlath Seems like you are using a custom library to decompress the brotli stream and the error is coming from it.

Could you try using the `BrotliStream` class from .NET to decompress the stream to see if you happen to have the same issue with the file that fails?

From what I can tell, it is likely an issue in the library you are using.

[2022-11-21 15:44] senorezi opened #45209 "Blazor WASM Not Downloading Azure Blob SAS URL"
I have a Blazor WASM application that has a button to make a GET request to a SAS Blob URL. However, I get this error when I click the button.

I tested this SAS Blob URL and it is downloading when I paste it into my browser and Postman... not sure why it is not downloading in Blazor.

I have read permissions in the generated SAS Blob URL and my Cors is enabled with the origins being my local host

[2022-11-21 15:45] javiercn commented on #45187
We still need info on these two questions

[2022-11-21 15:48] Deph0 commented on #45207
I found that you could change the redirect uri in such a way, but have not been able to test it yet fully.

[code]

[2022-11-21 15:54] javiercn commented on #45175
@razzemans thanks for contacting us.

It's the order. Map*(Controller|Page)Route define an incremental sequential order based on the order in which they were originally called.

[code]

Would reordering the routes achieve what you are trying to accomplish?

[code]

I do not think the mentioned bug has anything to do, since it refers to an existing bug, we had in our implementation in 3.1 that we f

[2022-11-21 16:13] captainsafia commented on #45192
@marcominerva Thanks for filing this issue! Good spot.

The reason that his happens is that when calling the `WithOpenApi` method, the generated status code descriptions are produced from this codepath.

https://github.com/dotnet/aspnetcore/blob/51e43829e26da9c2a182fa99fc3c3b249fe19a9d/src/OpenApi/src/OpenApiGenerator.cs#L215-L231

Whereas the default scenario goes through the generator in whateve

[2022-11-21 16:14] ztatw commented on #40241
I think I have a similar issue, here is the windbg screenshot, this is a test case, send some guids to the api, when I tried send 2200 guids, it hangs, when I decreased to 1600, it works find, actually 1700 will hangs the test case.

I can not reproduce with a new repo.

![image](https://user-images.githubusercontent.com/93566052/203103785-386baaed-f12c-4026-94ec-96e7183082de.png)

[2022-11-21 16:21] kbeaugrand commented on #45187
No error on the screen. No error on the browser console.

I put these settings to the web assembly `appsettings.json file:
[code]

On the browser I still not have enough information to diagnose. Please see here the console output I have:
![image](https://user-images.githubusercontent.com/9513635/203105733-1a4d4baf-7ce9-4a4c-bdb7-fad35b22ebfd.png)

[2022-11-21 16:30] javiercn commented on #45187
@kbeaugrand thanks for the additional details.

Could you do it like this?
https://github.com/dotnet/aspnetcore/blob/main/src/Components/WebAssembly/testassets/Wasm.Authentication.Client/Program.cs#L15

This should do it, and you should be able to filter then

[2022-11-21 16:35] kbeaugrand commented on #45187
Unfortunatly, not more:

![image](https://user-images.githubusercontent.com/9513635/203109679-f717085f-43ae-4d23-bce6-23b7182c3cd6.png)

[2022-11-21 16:35] BrennanConroy commented on #27583
I think this is the key paragraph:

So these new Redis commands help performance, but that doesn't mean Sharding will not work with SignalR today.

[2022-11-21 16:38] captainsafia commented on #45192
Great! The reason code sounds good. The one small challenge we ran into when implementing this is exactly which status codes to support. 404 is an obvious miss but I think giving more specific status codes for the most common status codes (`401` as unauthorized) is sensible.

BTW, as a workaround for the original issue, you can set the status code yourself via:

[code]

[2022-11-21 17:12] MackinnonBuck commented on #45209
Thanks for contacting us. Could you please take a look at [this guidance](https://learn.microsoft.com/rest/api/storageservices/cross-origin-resource-sharing--cors--support-for-the-azure-storage-services) and see if you are able to resolve the issue?

[2022-11-21 17:12] #45209 closed

[2022-11-21 17:16] MackinnonBuck commented on #45195
Thanks for reaching out. It looks like this is a question about how to use Blazor with a particular 3rd party technology. We recommend asking this question on StackOverflow to get help from the community. If you think this is a bug, please provide a minimal repro project with steps describing how to reproduce the bug.

[2022-11-21 17:16] #45195 closed

[2022-11-21 17:17] javiercn commented on #45187
@kbeaugrand thanks for the additional details.

I think something might be missing between the .NET 6.0 and .NET 7.0 update. Did you update the webassembly.authentication package?

Did you clean the bin and obj folders after the update?

[2022-11-21 17:21] MackinnonBuck commented on #45194
Thanks for reaching out. Are the parentheses in the following line intentional? They will show up in the generated URL

[code]

Could you try swapping the `(` and `@` characters to see if it resolves your issue? If you need more help, we recommend reaching out to StackOverflow since this is not a general-purpose support forum.

[2022-11-21 17:21] #45194 closed

[2022-11-21 17:24] kbeaugrand commented on #45187
All packages are up to date:
[code]

I do not need to clean bin and obj since the whole project will be running on docker and build from a fresh environnement...

[2022-11-21 17:25] MackinnonBuck commented on #45191
@sturlath Could you please try following the approach that https://github.com/aspnet/quickgridsamples/tree/main/src/QuickGridDemos uses? Thanks.

[2022-11-21 17:38] Laftek commented on #45194
Thanks @MackinnonBuck

I tried but it didnt help. Actually I think this one is bug in blazor because when you change route from "/" to "/2" the animation loads correctly but changing it then from "/2" to "/3" doesnt work and animation even if its changed in the backgroud(3.json) it will still show only 2nd one (2.json). It would be great if someone from ASP can investigate. Thank you.

[2022-11-21 17:38] #45183 closed

[2022-11-21 17:39] Tratcher commented on #4684
@FranklinWhale have you tried it? If it works feel free to send us a PR.

[2022-11-21 17:44] sturlath commented on #45191
@javiercn are you talking about the code in the decode.min.js?

That code comes from **[your docs](https://learn.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnetcore-6.0#compression-1)** where it points to these files [here](https://github.com/google/brotli/tree/master/js).

That is the only "custom" library I have added.

Btw I just took the none-minified code and in

[2022-11-21 17:47] davidfowl commented on #45180
I'm beginning to wonder how much this matters in practice. I'll play around with it.

[2022-11-21 17:57] sturlath commented on #45191
Sorry @MackinnonBuck I didn´t see your comment until now.

But I get this
![image](https://user-images.githubusercontent.com/2386572/203125847-6a56b723-eb3b-459e-b7de-1d04b8cde77f.png)

But I found this here but can´t find any compression code...

![image](https://user-images.githubusercontent.com/2386572/203126701-6141651c-1785-46ee-8cda-9e6667de3689.png)

[2022-11-21 17:59] Eilon commented on #45111
@rolfbjarne - does this look like it could be an issue with AOT/JIT for iOS? If so, do you know what repo we should move it to?

[2022-11-21 18:02] SteveSandersonMS commented on #45138
@Nick-Stanton I'll look into the more general point you've raised. Thanks!

@vnbaaij It's possible I'm misunderstanding your objective, but it looks as if you're just not using `::deep` correctly. Your code looks like this:

[code]

... and what that means is "match anything in this component that has `[dir="rtl"]` and find any descendant (in any component) with `.rtlspecific`".

But that's not re

[2022-11-21 18:16] vnbaaij commented on #45138
Oops, repo is private indeed. Will correct that first later (today probably).

No, I'm not doing that. What I'm doing is indeed setting dir="rtl" on a higher level (through a user selected switch). I then want to target (part of) my component with some specific rtl styling.

Yes, that is what I want

I'll give this a try and report back. Thanks!

[2022-11-21 18:24] SteveSandersonMS commented on #45138
BTW if `.rtlspecific` is within the current component (not a descendant) then you wouldn't even need `::deep` at all. The syntax would just be:

[code]

That matches things in the current component with `.rtlspecific` as long as some ancestor has `[dir=rtl]`.

[2022-11-21 18:32] SteveSandersonMS commented on #45182
Thanks for contacting us, @wolfgangschneider.

I appreciate your objectives, however we have to strike a balance. In general it's crucial for the framework to have a clearly defined API surface and strongly encapsulate its implementation details. The more parts of the implementation we make public, the less we're able to evolve the framework in the future because the implementation has become a pu

[2022-11-21 18:33] Tratcher commented on #45207
It's not enough to change the response_type, the reset of the handler would also have to be updated to look for the token instead.
https://github.com/dotnet/aspnetcore/blob/bc9255b509c4b51d9bbbea7b15ddafe482784699/src/Security/Authentication/OAuth/src/OAuthHandler.cs#L117-L121

We're also unlikely to do so because that flow is more dangerous.
https://www.oauth.com/oauth2-servers/authorization/the-

[2022-11-21 18:35] FranklinWhale commented on #4684
Ya, both of them can detect invalid code verifier. I will submit a PR later :)

Should the tests for Google and Facebook be similar to the one for Microsoft account in #10928?

[2022-11-21 18:35] razzemans commented on #45175
@javiercn Thank you for your reply. Unfortunately the reordering does not fix it. All routes are still handled by `CmsRoute`. That's why I stated that I don't get why it always has precedence over the `MapDefaultControllerRoute`.

On a related note, we were investigating if switching to using an `EndpointDataSource` is an option but in #34316 you state that "you would not do that though an endpoin

[2022-11-21 18:36] javiercn commented on #45187
@kbeaugrand thanks for the additional details.

I did spot something. At the very least is making it to:
https://github.com/dotnet/aspnetcore/blob/main/src/Components/WebAssembly/WebAssembly.Authentication/src/Interop/AuthenticationService.ts#L256

Could you open `AuthenticationService.js` put a breakpoint on the method above?
* It seems like either https://github.com/dotnet/aspnetcore/blob/main/s

[2022-11-21 18:40] Tratcher commented on #4684
Yes, the tests will look similar to the Microsoft ones.

[2022-11-21 18:43] kbeaugrand commented on #45187
@javiercn, How am I supposed to add a break point to the file you mentionned ? I'm using the build package. So I have only the .js file and it is minified... ,)

[2022-11-21 18:44] javiercn commented on #45175
@razzemans all routes get evaluated, they get to produce candidates and then the best candidate is selected. Since you have a dynamic route, it needs to run to produce the final endpoints and then those are ranked in along with the rest of the candidates to choose the final endpoint.

So it does not matter that "/xyz" is more specific than "{**slug}" they both need to be computed because "/xyz" mi

[2022-11-21 18:48] javiercn commented on #45187
@kbeaugrand It's a bit tricky, but you can find the file in the sources (`AuthenticationService.js`).

Click the unminify button in Edge
![image](https://user-images.githubusercontent.com/6995051/203135533-9083e1cb-dce2-4ff1-802f-edd8efaabe7a.png)
And then search for completeSignIn or for `completeSignIn-result` inside the file.

[2022-11-21 18:51] Deph0 commented on #45207
Ah ok- Like i said, I did not test that "idea" yet.
I'm working with a off the shelves Manufacturing Execution Systems (MES) platform, targeted towards Enterprises, so it's not that accessible and lacks documentation on the topic of OAuth.

I understand that it could be a dangerous flow, although i don't believe it should prevent implementation. It should be clear or perhaps a feature flag or othe

[2022-11-21 18:59] dajma00 commented on #45199
The site is hosted on Digital Ocean and is served via Nginx server. I need to dig further to get a Wireshark trace.

[2022-11-21 19:06] sturlath commented on #45191
Not sure how I can check the stream since I just hit errors and don´t see anything in the console. This is the url https://blazorbrotli20221120112426.azurewebsites.net

I just pushed it to azure (this time) with Visual Studio (default.. no extra settings)

![image](https://user-images.githubusercontent.com/2386572/203138061-c4d5eda8-46bc-4114-aa30-403e475f8083.png)

you can see some .br files ther

[2022-11-21 19:35] javiercn commented on #44226
Fixed on main as part of https://github.com/dotnet/sdk/commit/45d4a57b7ab3bb0e40c1b418f5ce8433f749f730

https://github.com/dotnet/sdk/pull/29120
https://github.com/dotnet/sdk/pull/29119

[2022-11-21 19:54] Tratcher commented on #45207
The current recommendation is to make your own copy of the OAuthHandler.

[2022-11-21 19:56] kbeaugrand commented on #45187
@javiercn , I have the error :

![image](https://user-images.githubusercontent.com/9513635/203146307-603d7e1b-c439-44b1-98b4-3e57768f6801.png)

The exception is:
[code]

I already know this issue (because I was facing this issue with java spring security that needs also the userinfo_endpoint to be provided. This is because I'm using Azure AD B2C as the OIDC provider and ADB2C doesn't have the user

[2022-11-21 20:03] adityamandaleeka commented on #45105
Thanks @mrgleba

[2022-11-21 20:31] vnbaaij commented on #45138
Yes, understood. Thing is I'm composing a lot of things with components getting nested and therefore need the `::deep`.

I've made the repo public now.

[2022-11-21 20:42] BirhaneS commented on #23949
Any update on this. We started seeing this immediately after upgrading to `.NET 6` from `.NET 3.1`.

[2022-11-21 20:56] MackinnonBuck opened #45213 "Revisit hot reload browser refresh script injection"
Our hot reload mechanism relies on the `aspnetcore-browser-refresh.js` script being injected into the webpage so the browser can automatically refresh with hot reload changes.

We currently do this with a special middleware that searches for the last closing `</body>` tag in HTML responses and injects a `<script src="/_framework/aspnetcore-browser-refresh.js"></script>` element just before it. How

[2022-11-21 21:21] richstokoe commented on #44600
Not being able to POST to a website? OAuth2 Auth Code flow. POSTing data across micro-frontend modules. I may be misunderstanding the effect of this change in which case please correct me.

[2022-11-21 21:32] vadrsa opened #45214 "API's for creating custom WebSocket server's without dealing with transport code. Bedrock?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Sometimes using SignalR is not an option, like when the client is an IoT device with a custom WebSocket protocol. In those cases currently(as far as I have researched) the fallback is to very low level WebSocket API's. As a solution fo

[2022-11-21 22:00] #45080 closed

[2022-11-21 22:04] shaynevanasperen opened #45215 "Kestrel stops listening/responding to requests after some time (only after updating to .NET 7.0)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a Web Application which runs some background services and hosts some UI pages using Razor Pages. It was working perfectly fine on .NET 6.0, but after simply updating the target framework to `net7.0` and redeploying to a folder on my machine, I started to encounter this problem.

Immedi

[2022-11-21 22:07] captainsafia commented on #35762
Triage: We discussed having this as a refactoring that toggles between parameters with attribute and without attribute instead of a codefixer.

[2022-11-21 22:10] davidfowl commented on #45215
I'm not sure this is enough to reproduce the problem.

A couple more questions:
- Are you running on IIS?
- Can you capture a process dump when the application gets into a bad state?

[2022-11-21 22:12] oruchreis opened #45216 "Lack of button types in header of QuickGrid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi
As you know, the default type of a button is `submit` when the type is not specified in the html. When we nest QuickGrid into a form, it submits the form after clicking a button in the header template. Because these buttons don't have the type attribute:

https://github.com/aspnet/AspLabs/

[2022-11-21 22:14] captainsafia commented on #35733
Things that we warn on:

- `BindAsync` has to be `static` and return a ValueTask of X
- This is probably an "Error" level analyzer because request delegate creation will fail if this is not set correctly

[2022-11-21 22:21] captainsafia opened #45217 "[Codefixer] Recommend using `TypedResults` over using `Results`"
## Background and Motivation

- Recommend returning `TypedResults` instead of `Results`
- Recommend adding the `Results<>` return type to your class

[code]

Becomes

[code]

And further becomes:

[code]

## Proposed Analyzer

### Analyzer Behavior and Message

### Category

- [ ] Design
- [ ] Documentation
- [ ] Globalization
- [ ] Interoperability
- [ ] Maintainability
- [ ] Naming
- [ ] Perform

[2022-11-21 22:21] danroth27 commented on #39740
We are tracking addressing this issue as part of https://github.com/dotnet/aspnetcore/issues/42561

[2022-11-21 22:21] #39740 closed

[2022-11-21 22:23] shaynevanasperen commented on #45215
I will continue my attempts to narrow the problem down. However it is very frustrating because I have to wait so long each time before it get's into a bad state. I am currently running a test on another machine, as perhaps it has something to do with my environment. But even if that IS the case, why should it behave any differently than it does with .NET 6.0? (that's the only variable).

No. It is

[2022-11-21 22:23] Freshmintyy commented on #42561
Yes yes yes. This is long overdue my guys 🙏😍😇

[2022-11-21 22:28] captainsafia commented on #34543
We're opting to close this one in favor of more specific approaches like https://github.com/dotnet/aspnetcore/issues/45217.

[2022-11-21 22:28] #34543 closed

[2022-11-21 22:28] Laftek commented on #45194
@MackinnonBuck Yes so when I inspect the animation on lets say localhost/3 it says lottie-player…./3.json but on the screen I see 2.json. The same goes on and on -> localhost/4 -> /4.json in code/html but seeing still 2.json on screen. Thanks.

[2022-11-21 22:40] adityamandaleeka commented on #43149
@mthalman @richlander Looks like we had the discussion over at https://github.com/dotnet/dotnet-docker/issues/3968#issuecomment-1278275759 . Can this issue be closed now?

[2022-11-21 22:40] captainsafia opened #45218 "[Analyzer] Warn on inconsistent constraints between route params and types"
## Background and Motivation

## Proposed Analyzer

[code]

[code]

[code]

[code]

### Analyzer Behavior and Message

### Category

- [ ] Design
- [ ] Documentation
- [ ] Globalization
- [ ] Interoperability
- [ ] Maintainability
- [ ] Naming
- [ ] Performance
- [ ] Reliability
- [ ] Security
- [ ] Style
- [ ] Usage

### Severity Level

- [ ] Error
- [ ] Warning
- [ ] Info
- [ ] Hidden

## Usage

[2022-11-21 22:41] MackinnonBuck commented on #45194
@Laftek If the generated HTML is correct, then this seems to be a bug in the `lottie-player` custom element, not Blazor. It's possible that the custom element isn't reacting to changes to its attribute values. You could try adding a [`@key`](https://learn.microsoft.com/aspnet/core/blazor/components/?view=aspnetcore-6.0#use-key-to-control-the-preservation-of-elements-and-components-1) attribute to

[2022-11-21 22:43] captainsafia opened #45219 "[Analyzer/Codefixer] Recommend using `AddAuthorizationBuilder` for configuring global policies"
## Background and Motivation

In .NET 7, we introduced an `AddAuthorizationBuilder` extension method on `IServiceCollection` that would register authorization-related services and provide an `AuthorizationBuilder` for constructing policies. This is an abbreviated syntax that allows reduces nesting in the original pattern of calling `AddAuthorization` and providing a policy construct as a callback.

[2022-11-21 22:44] captainsafia opened #45220 "[Refactoring] Move local authz policies to global authz policies"
## Background and Motivation

## Proposed Analyzer

### Analyzer Behavior and Message

### Category

- [ ] Design
- [ ] Documentation
- [ ] Globalization
- [ ] Interoperability
- [ ] Maintainability
- [ ] Naming
- [ ] Performance
- [ ] Reliability
- [ ] Security
- [ ] Style
- [ ] Usage

### Severity Level

- [ ] Error
- [ ] Warning
- [ ] Info
- [ ] Hidden

## Usage Scenarios

## Risks

[2022-11-21 22:48] captainsafia opened #45221 "[Analyzer] Add missing services for registered middlewares"
- Add the matching middleware when services have been registered (Cors, Ratelimiting, Authn, Authz)
- Add required services when middlewares aren't registered

- Enumerate scenarios where we warn for missing services in middleware at runtime based on a sentinel

[2022-11-21 22:54] captainsafia opened #45222 "[Refactoring] Add back middlewares that are registered by WebApplication"
## Background and Motivation

## Proposed Analyzer

For middlesware that are registered automatically by the WebApplication, consider a refactoring to manually add them back to the application.

### Analyzer Behavior and Message

### Category

- [ ] Design
- [ ] Documentation
- [ ] Globalization
- [ ] Interoperability
- [ ] Maintainability
- [ ] Naming
- [ ] Performance
- [ ] Reliability
- [ ] Sec

[2022-11-21 23:02] captainsafia opened #45223 "[Analyzer] Warn on ambiguous route patterns"
## Background and Motivation

ASP.NET Core throws an error if a URL maps to two routes. This is fine, but it can cause confusion with new ASP.NET Core devs who are use to method overloading in C#. New developers might think that minimal or action endpoints also support overloading based on the bound type.

[code]

For example, the routes above produces an ambiguous match because they have the same

[2022-11-21 23:07] adityamandaleeka commented on #45154
Thanks @joslb, can you share the stack you see now when using HTTP/1.1?

Can you also share more info about the client? You mentioned that it's a browser.

And if you could share a minimal reproducer app as a public GitHub repo, that would be great!

[2022-11-21 23:09] #20387 closed

[2022-11-21 23:09] adityamandaleeka commented on #45154
BTW, can you share the other stacks when it's stuck too?

[2022-11-21 23:17] adityamandaleeka commented on #45197
@blowdart @haok PTAL

[2022-11-21 23:18] adityamandaleeka commented on #45207
cc @blowdart

[2022-11-21 23:23] adityamandaleeka commented on #45166
@jenspettersson Thanks for following up. Unfortunately, we can't investigate this without a repro... please let us know if you are able to reproduce the behavior.

[2022-11-21 23:38] mkArtakMSFT commented on #43715
@javiercn wouldn't this be covered as part of the work that you're doing already?

[2022-11-22 00:04] MackinnonBuck commented on #43926
Closing since this was a one-time failure. We can reopen this or log a new issue if we start to see this happen again.

[2022-11-22 00:04] #43926 closed

[2022-11-22 00:20] Tratcher commented on #45222
Why?

[2022-11-22 00:20] Tratcher commented on #45221
*are?

[2022-11-22 00:23] Tratcher commented on #45215
Once you have the dump, open it in VS and look at the threads window for blocked threads, and the parallel tasks window for blocked tasks. That should give you an idea of where things are stalling.

[2022-11-22 00:47] danroth27 commented on #11212
For folks that are interested in this feature, have you tried https://github.com/hez2010/BlazorRouter? How well does it meet your needs?

[2022-11-22 00:53] mitchdenny commented on #35733
I noticed that we now have abstract static methods on interfaces in C#11 (non-preview). I'm wondering whether that means we don't need this analyzer anymore, or perhaps there is more guidance that this analyzer can provide. I'd imagine that we need to continue to support folks that have implemented ```TryParse``` and ```BindAsync``` properly already, but does the guidance change here from merely i

[2022-11-22 01:19] mitchdenny commented on #35733
Hrm, it looks like we have ```IParsable<TSelf>``` in ```System.Runtime``` with an almost identical signature:

[code]

[2022-11-22 01:20] BrennanConroy commented on #35733
https://github.com/dotnet/aspnetcore/issues/42286 and https://github.com/dotnet/aspnetcore/issues/43546

[2022-11-22 01:56] blowdart commented on #45207
Yea, given the oauth documentation of how dangerous it is, and that it seems specialized this isn't something we'd generally support, forking the handler and changing it around is the route here

[2022-11-22 02:01] captainsafia commented on #45222
We were discussing the fact that the `WebApplicationBuilder` is opinionated about the order in which middlesware are inserted. This suggestion came up as a way to provide users with a refactoring that would explicitly register the middlesware that we auto-register so that users could re-adjust the ordering when needed.

[2022-11-22 02:02] captainsafia commented on #45221
Fixed! Thanks.

[2022-11-22 02:38] Mitchman215 opened #45227 "[Blazor Compiler] Generic component with "class" constraint errors with CS0449 while inferring type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When a Blazor component with constrained type parameters tries to infer it's type, a [CS0449 ](https://learn.microsoft.com/en-us/dotnet/csharp/misc/cs0449) error occurs. Specifically, the type constraint has to have either "class" or "struct" in order for this error to occur.

Example:

Say w

[2022-11-22 02:47] #44257 closed

[2022-11-22 03:01] halter73 commented on #17963
I moved this to preview 1 since it's a relatively small change that we should introduce early since it's breaking.

[2022-11-22 03:04] jeremy-morren opened #45228 "DataProtectionBuilder API enhancement"
## Background and Motivation

Currently adding certificate(s) for Encryption/Decryption require you to have the details at startup, rather than a `configureOptions` type signature.  Having a public API with a `Func` parameter would be good.

Currently, the function at https://github.com/dotnet/aspnetcore/blob/main/src/DataProtection/DataProtection/src/DataProtectionBuilderExtensions.cs#L258 only t

[2022-11-22 04:01] wizpresso-steve-cy-fan commented on #40033
It seems like the trimmer had trimmed away the parameterless constructor due to it is obviously not used statically unless it is under reflection context. This issue is prominent in running with deserialization framework, and with the use of record where you cannot force to create a parameterless constructor I think.

[2022-11-22 04:06] danmoseley commented on #40033
Cc @eerhardt

[2022-11-22 05:29] adityamandaleeka commented on #43837
@amcasey Can you look into this one? @Tratcher can help get you up to speed.

[2022-11-22 05:41] adityamandaleeka commented on #44944
@mgravell Can you please investigate this one?

[2022-11-22 06:32] marcelbarner commented on #44852
I have the same problem and I created a repo/package to solve the problem for me.

[Repo: marcelbarner/AspNetCore.Json.SinglePolymorphicResponse](https://github.com/marcelbarner/AspNetCore.Json.SinglePolymorphicResponse)

[Package: AspNetCore.Json.SinglePolymorphicResponse](https://www.nuget.org/packages/AspNetCore.Json.SinglePolymorphicResponse)

[2022-11-22 07:36] #43837 closed

[2022-11-22 07:44] voroninp opened #45229 "Explictily log working directory and let user know it will be used as content root path by default."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

It's not the first time I making same mistake of starting published asp.net core application in docer without setting working directory:
[code]
And content root path becomes `/`, so `appsettings` and other content files are not found.

[2022-11-22 07:46] glatzert commented on #11212
I don't think it implements nested routing as most people would understand it.
Parameter-binding needs to be done by hand and there's only one active route at any given time.

angulars router (would be my preferred method) allows multiple active components (or routes) at the same time. Essentially it builds a stack of matched routes (from a tree structure) and router-outlets will render that stack

[2022-11-22 07:58] javiercn commented on #44600
That's not what this change does. The change only prevents the fallback route to be matched on POST requests. The fallback route only matches when no other route matches and returns the default document (index.html).

[2022-11-22 08:03] gingters commented on #11212
No, that "nested routing" in the referenced project is not a real routing. Technically it is just a nested switch/case statement in Razor syntax.

A real nested routing would allow to configure a component to listen on a defined part of the url or a query parameter, i.e. either by code or by simple configuration. The latter is important because currently there is absolutely no way to share the pag

[2022-11-22 08:12] glatzert commented on #11212
IIRC internally there's no "Page" - it's just a component with an specific attribute attached, that defines the route. If you have access to the route-table (unfortunately this is internal), you can add components as pages.
Nevertheless, I agree with the "central" definition of the routing.
Also the notion of modules in angular is kind of useful, since you can embed it into a subroute itself.

[2022-11-22 08:22] gingters commented on #11212
Correct, a page is a component with a page attribute and as such a hardcoded route - which makes it impossible to use the same page in different projects under different routes.

You'd need to derive from a component in a shared library without the attribute it in each project just to add the attribute to it on the derived class. This is really unfortunate and a really bad developer experience. Yo

[2022-11-22 08:24] jenspettersson commented on #45166
After @Tratcher's comment, we started to test different way of navigating backwards in the browser after the login was made and we're now beliving that is what's causing these exceptions.

So no bug, we just need to figure out how to handle a user navigating back and forth between many oauth2/openid-connect redirects.

Thanks for the suggestions, will close this now.

[2022-11-22 08:24] #45166 closed

[2022-11-22 08:57] richstokoe commented on #44600
@javiercn Thanks for the reply.

Based on what you've documented above is this fallback not the mechanism by which SPA pages are loaded? (i.e. index.html in the public folder for the CRA client app)

Does this mean that we can't POST to an ASPNet 7 SPA?

[2022-11-22 09:32] rolfbjarne commented on #45111
I think dotnet/runtime might be the right place, if the method in question hasn't been trimmed away, the AOT'ed code should be able to call it.

[2022-11-22 09:34] lonix1 opened #45230 "[Feature Request] Merging splatted attributes in Blazor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Very often I have to do this:
[code]
But that custom component also defines a `class` attribute with its own classes. So I need to jump through some hoops to merge them.

This happens enough times in custom components, that I put the c

[2022-11-22 09:47] javiercn commented on #44600
No, it does not mean that. It means the following:

If you did not have a route for "/Something/else" defined on the server, the application will serve "index.html" (your SPA). In previous versions it would serve the default document independent of the verb used. That caused problems because the middleware/fallback (it does not matter whether it was the old or the new approach) would handle reques

[2022-11-22 09:54] javiercn commented on #45191
@sturlath I was suggesting you put a log statement here. To see what exact file is causing problems:
https://github.com/sturlath/BlazorBrotli/blob/master/BlazorBrotli/wwwroot/index.html#L26

Maybe update the code to put it inside a try-catch and log the name/url of the resource it was trying to decode.

[2022-11-22 09:56] javiercn commented on #45187
Thanks for the additional details. Let me make sure I understood. Are you using `Microsoft.AspNetCore.Components.WebAssembly.Authentication` to talk to an Azure AD B2C instance?

[2022-11-22 10:01] shaynevanasperen commented on #45215
I'm not quite sure how to diagnose the issue using the dump, but when I view the Parallel Stacks, I can see that there are some blocked Async Logical Stacks:

![image](https://user-images.githubusercontent.com/1126129/203280074-7651e858-c334-4be8-8c25-7bcaad903c46.png)

Here is another view:

![image](https://user-images.githubusercontent.com/1126129/203281322-41e24233-9b72-4ea5-9305-87589a1abd58.

[2022-11-22 10:08] z1c0 opened #45233 "Deadlock in Microsoft.AspNetCore.Mvc.Testing on .NET 7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The following combination causes a deadlock when trying to read `HttpContext.Request.Body`:

* NET 7 (`7.0.100`)
* `Microsoft.AspNetCore.Mvc.Testing` (`7.0.0`)
* Using the `Microsoft.AspNetCore.Hosting.HttpRequestIn.Start` `DiagnosticListener` event.
* Using **synchronous** IO to read the req

[2022-11-22 10:22] javiercn opened #45234 "[Blazor] Add missing logging"
![image](https://user-images.githubusercontent.com/9513635/203146307-603d7e1b-c439-44b1-98b4-3e57768f6801.png)

Seems that we missed logging in a couple of cases like the exception depicted in the referenced issue, we should add the log statements to help troubleshoot what is going on.

_Originally posted by @kbeaugrand in https://github.com/dotnet/aspnetcore/issues/45187#issuecomment-1322572201_

[2022-11-22 10:32] kbeaugrand commented on #45187
Thank you for this sample @javiercn .

I think I will add my own javascript client (using the oidc-client-ts) as a workaround for this issue.
I saw that you added a new issue regarding the missing logs, good idea, this will help for the future ;)

Since the original issue wasn't due to this project, you might close this issue.

Many thanks @javiercn for your help...

[2022-11-22 10:36] javiercn commented on #45187
@kbeaugrand No problem.

It was good for us to dig into this as we found a gap in our logging, that's something we made emphasis to improve on .NET 7.0 as it was one of the biggest issues when trying to troubleshoot problems like this, so this is hopefully a gap we can close.

[2022-11-22 10:37] javiercn commented on #45187
Closing since we have a separate issue for the follow-up work.

[2022-11-22 10:37] #45187 closed

[2022-11-22 11:58] mitchdenny commented on #42286
What precedence would you want to give to explicit implementations of ```IParsable<T>``` ... example:

[code]

[2022-11-22 12:41] Regenhardt opened #45236 "Blazor WASM: Can't pass WebAuthn PublicKeyCredential from JS to .NET"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When returning a `PublicKeyCredential` from JS to a C#-Call (return value set as \<dynamic>), nothing is returned.

### Expected Behavior

A json object representing a `PublicKeyCredential` is returned, looking like this:
![grafik](https://user-images.githubusercontent.com/10476293/203308594-

[2022-11-22 12:50] oferze commented on #45098
@chunliu this is not the behaviour we had. Animated gif in the original issue. Let's leave it open for now and we'll see. I really hope it's a non-issue despite our experiment.

[2022-11-22 13:47] aryehsilver commented on #42561
Great to see this is finally being worked on. Let's hope it doesn't get pushed off any longer.

[2022-11-22 15:53] sturlath commented on #45191
@javiercn I added the logs. Does this help? Anything else I can try out? Isn´t there a Blazor WASM compression example I can try out and publish to see how that works out?

![image](https://user-images.githubusercontent.com/2386572/203359774-12745094-f923-4851-ac4f-72191052e420.png)

[2022-11-22 16:00] #45181 closed

[2022-11-22 16:19] sturlath commented on #45191
@javiercn is that a server setting (I havent read anything on that) or something I can influence in code? And how? Do you know of any docs that might help?

[2022-11-22 16:39] Tratcher commented on #45215
StartNew is fine. _bufferPauseEvent.WaitOne() isn't great.  What unblocks that event? There are async structures you can use to avoid blocking the thread, like SemaphoreSlim, Channels, ConcurrentQueue, etc.

[2022-11-22 16:40] Tratcher commented on #45215
Does BackgroundWorkerSink.Pump do something similar?

[2022-11-22 16:43] shaynevanasperen commented on #45215
I already tried excluding this code path entirely, and it didn't help

If you follow the link to the source code, you can see what it does. But that's also irrelevant because I tried excluding this code as well and it didn't help either.

[2022-11-22 17:03] gdoron commented on #44932
Sorry for the noob question, but... how do I start developing with asp.net core repo?
I wrote the entire code (minus a UT) with a text editor, because I couldn't even open it with rider or build it with the CLI.

/usr/local/share/dotnet/sdk/8.0.100-alpha.1.22570.9/NuGet.targets(399,5): error MSB3202: The project file "/Users/dorongrinzaig/repos/aspnetcore/src/submodules/spa-templates/src/Microsoft

[2022-11-22 17:12] BrennanConroy commented on #45214
Would the [MapConnectionHandler](https://learn.microsoft.com/dotnet/api/microsoft.aspnetcore.http.connections.connectionsroutebuilder.mapconnectionhandler) API be what you want? It keeps the SignalR concept of different transports but gives you the lower layer of reading directly from the System.IO.Pipelines pipe.

Example of it in use:
https://github.com/dotnet/aspnetcore/blob/2e94b96499b54342bd0

[2022-11-22 17:14] WayneHiller opened #45238 "Blazor Wasm TimeZoneInfo.Local.GetUtcOffset is returning 7:53:00 in PST zone"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

.Net 7 Blazor Wasm

Calling TimeZoneInfo.Local.GetUtcOffset is returning 7:53:00 (PST Zone) in Chrome/Edge.
Calling JS new Date().getTimezoneOffset() returns 480.

Logged to browser console from my app:
Is Daylight Savings: No
Daylight Savings Name: PDT
Time Zone Name: (UTC-08:00) America/Los

[2022-11-22 17:26] captainsafia commented on #39761
I spent some time prototyping what this would look like and landed on a pretty solid strategy that uses `PostConfigureOptions` on a custom `AuthenticationBuilder` that would work well for this.

With that in mind, here's some of the challenges:

- The `PostConfigureOptions` needs to be added to DI as part of the `AddAuthentication` call. In my demo, I added this behavior to a custom `WebApplicatio

[2022-11-22 17:34] amcasey commented on #43837
Hey @arontsang, can you give me a little more context on why you closed this issue?  Is it working as expected now?

[2022-11-22 17:37] javiercn commented on #45236
@Regenhardt thanks for contacting us.

You need to use an `IJSObjectReference` as the return value. Otherwise, the result will be JSON serialized to be marshalled to the .NET side and I do not believe `PublicKeyCredential` is serializable.

[2022-11-22 17:38] Laftek commented on #45194
@MackinnonBuck Thank you! it works now! Thanks again!

[2022-11-22 17:38] mkArtakMSFT commented on #45199
@dajma00 can you try to share the compressed trace here as an attachment in a comment?

[2022-11-22 17:39] Regenhardt commented on #45236
Then how can I get an actual .NET object from that? Do I call `InvokeAsync` for each property?

[2022-11-22 17:42] captainsafia commented on #39761
I only got `CookieOptions` and `GoogleOptions` working for the sake of my demo but we probably want to support the full spectrum of authentication options in framework. Starting a draft of the options in the table below here:

| Authentication option | Generated security requirement |
|----------------------|---------------------------------|
| JwtBearerOptions | { type: 'http', scheme: 'Bearer' }

[2022-11-22 17:46] mkArtakMSFT commented on #45191
Looks like the issue is because the `.br` files aren't accessible on your server. If they're not there, they should have been deployed too. If they are present on the server, then the server should be configured to make them accessible.
We'll keep this issue around to address any gaps in our docs to cover this.

[2022-11-22 17:59] SteveSandersonMS commented on #45230
Consider using this kind of approach to merge CSS class names from dictionaries with other fixed class names:

https://blazorfiddle.com/s/znwm2e6t

[2022-11-22 18:06] SteveSandersonMS commented on #45191
@sturlath Yes, it probably is a server setting. Azure hosted apps may return 404 for unconfigured file extensions, such as `.br`, so you likely need to configure it to serve those files. I think it's equivalent to this StackOverflow question where somebody wants to make the server return `.woff` files:  https://stackoverflow.com/questions/29334564/getting-404-error-for-font-files-with-azure-hosted

[2022-11-22 18:31] sayedihashimi opened #45239 "Consider adding id property to the Blazor WASM manifest.json file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

When creating a Blazor WASM project the `manifest.json` file doesn't have an `id` property. To learn more, take a look at https://developer.mozilla.org/en-US/docs/Web/Manifest/id. I think we can just set the value to the same thing tha

[2022-11-22 19:06] javiercn commented on #45239
Thanks @sayedihashimi

Is there a concrete scenario where having the defined in the manifest makes a difference? I suspect our manifest does not have one because from what I can tell in the documentation it is not needed unless you want to uniquely identify the app separately from the URL?

[2022-11-22 19:21] sayedihashimi commented on #45239
@javiercn from my understanding it's not required today, but it may be required in the future. It seems like it's a best practice to now set `id` as well as `start_url`.

https://developer.chrome.com/blog/pwa-manifest-id/

https://web.dev/add-manifest/

[2022-11-22 19:25] Polemus opened #45240 "Cannot have a property called "Model" ona class when model binding on postback"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If you have a class where one of the properties is "Model" it completely breaks the modal binding on post

[code]

and you have a controller action:

[code]

If you change the class's property from `Model` to `ModelInformation` or `ModelXXXXX` the binding works fine.

here are my project sett

[2022-11-22 20:29] mprather commented on #38078
@BrennanConroy, good news. We've run well over a thousand tests on local (physical and dockerized) and azure hosted machines in the last few days. The deadlock no longer appears with 0.1.0-alpha4#1. We have decided to re-enable all tests that were previously affected by a possible deadlock so that we can regain test coverage.

It's worth noting that we have noticed one odd behavior that may be rel

[2022-11-22 20:58] #43230 closed

[2022-11-22 21:09] BieleckiLtd commented on #44974
While I understand the reasoning, I'm afraid `required` modifiers will be overused in this context, creating an easy pit-of-failure for a lot of Blazor developers. One would expect non-nullable `[Parameter] public required object MyParameter {get; set;}` to be initiated, but it easily might not be (no compiler warnings).

[2022-11-22 21:15] devedse opened #45274 "Blazor.platform.readStringField not working anymore after dotnet 7.0 upgrade"
### Description

Hello, I'm currently a user of nKast's WASM implementation of MonoGame:
https://github.com/nkast/Wasm
https://github.com/kniEngine/kni

However after a dotnet 7 upgrade this logic doesn't work anymore.

I've been trying to dive into the issue here but it seems the code that was previously used to pass parameters to the frontend isn't working anymore:
![image](https://user-images.g

[2022-11-22 21:28] brunolins16 commented on #45052
I would keep the `if (_writers.Length == 1)` but the other suggestions look good. If you are interested feel free to open a PR or I can try open a quick PR later this week. Thanks for the suggestion.

[2022-11-22 22:14] BrennanConroy commented on #38078
Yay! Glad to hear it 😄

This sounds like the default ["close handshake timeout"](https://github.com/zaphoyd/websocketpp/blob/1b11fd301531e6df35a6107c1e8665b1e77a2d8e/websocketpp/connection.hpp#L493). Closing a websocket connection is a cooperative process and the underlying websocket library waits 5 seconds by default for the server to respond with a close frame before it will close ungracefully.

[2022-11-22 22:29] brunolins16 commented on #45240
@Polemus Thanks for contacting us.

I am trying to understand what the issue you are having but I was not able to reproduce your scenario.

I am using this `controller`:

[code]

Since no binding source was specified, it will bind using the `ComplexObjectModelBinder` that read the value from the `ValueProviders`, in my case `QueryString`. As explained here [Complex Types model binding](https://lea

[2022-11-22 22:53] brunolins16 commented on #45178
@ralfbalzer I know that you already fixed your code but just to let you know that the change that cause issues for you is https://github.com/dotnet/aspnetcore/pull/40515. Since you defined a static using `using static System.String` you were able to just use `Empty` and it would reference `magically` 😂 to `String.Empty`, but, since the `ControllerBase` now has a `Empty` property it is not `magical

[2022-11-22 23:07] #45192 closed

[2022-11-22 23:18] captainsafia commented on #45192
@marcominerva Thank you for reporting the issue and submitting a PR! I've opened a backport to .NET 7 so we can fix it there too. 🙇🏽

[2022-11-22 23:53] richstokoe commented on #44600
Thanks for taking the time to explain!

[2022-11-23 01:00] #45021 closed

[2022-11-23 03:02] dajma00 commented on #45199
Trace.

[Trace.zip](https://github.com/dotnet/aspnetcore/files/10072569/Trace.zip)

[2022-11-23 05:54] yaakov-h commented on #43632
@adityamandaleeka Can the above be presented for API review or is it a non-starter to make that kind of breaking change?

[2022-11-23 06:43] sturlath commented on #45191
Thank you @SteveSandersonMS! That fixed the issue with the example. It now fetches the .br files.

![image](https://user-images.githubusercontent.com/2386572/203486177-93f03fa0-f360-4f2f-b560-e42a6eedd84c.png)

I will now check if this fixes my original issue with my product. I´ll report back.

[2022-11-23 08:14] ledpup commented on #40190
The code above is slightly wrong. "Arguments" will be undefined.

"The arguments object is a local variable available within all non-arrow functions."

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/arguments

Use this code instead.

`
<script>
      var skipScrollTo = false;
      const origScrollTo = window.scrollTo;
      window.scrollTo = (x, y) => {
        if (x

[2022-11-23 09:48] #45207 closed

[2022-11-23 09:52] SteveSandersonMS commented on #45138
The difference is only because `::deep .rtlspecific { ... }` is shorthand for `* ::deep .rtlspecific { ... }`. If you wish, you could use the longhand version for the ltr case and then the code would look more symmetrical.

I'll close this as answered now. Hope that's OK.

[2022-11-23 09:52] #45138 closed

[2022-11-23 10:02] joslb commented on #45154
Hello,
Thank you for your help. I think that the problem comes from my solution. I have not yet identified the cause but I do not lose hope :-)

[2022-11-23 10:05] javiercn commented on #45175
For triage, there seems to be a limitation to explicitly override the order defined for dynamic endpoints. We should consider adding an overload to specify the order explicitly.

We do not want to expose the endpointconventionbuilder as it will result in unexpected behaviors, since the endpoint gets replaced at runtime, metadata applied to the conventionbuilder will not be actually used, which can

[2022-11-23 10:09] razzemans commented on #45175
I though that could be done using `endpoints.MapDynamicControllerRoute<CmsRoute>("{**slug}", new object(), 1000);` but alas that did not help.

[2022-11-23 10:09] javiercn commented on #45236
@Regenhardt JS interop does not support retrieving properties directly (yet). So you would need to wrap it on a custom JS object with methods to get the data you want.

[2022-11-23 10:17] javiercn commented on #45175
@razzemans thanks for the additional details.

I was actually wrong. We already have a method that lets you control the order of the route; however, it won't do what you expect because routes need to always be evaluated before we choose the final target endpoint.

That said, you can actually achieve this in a different way with a matcher policy. Create one like the one below and register it in DI

[2022-11-23 10:19] javiercn commented on #45180
@davidfowl I am going to backlog it for now.

[2022-11-23 10:49] nul800sebastiaan commented on #39037
Not sure what the protocol is for getting some attention on this one but I will just note here that Umbraco is affected by this problem as well. As it stands we can't move to minimal hosting model because of this timing problem. Hope it gets some attention for .NET 8! 🤞

[2022-11-23 11:32] javiercn commented on #45130
The SPA proxy is a development feature, it has always been there in the old and the new version, the only thing we changed is the order in which it gets applied during development (behind the asp.net core process vs in front of it).

In production the only thing we use is `MapFallbackToFile` which takes care of serving the default doc for unknown routes.

Note that you had the opposite problem in

[2022-11-23 12:02] saadsaeed01 opened #45245 "Is there a way to increase the time to refresh the authentication state if RevalidatingIdentityAuthenticationStateProvider is being used?"
Hello

I am using `RevalidatingIdentityAuthenticationStateProvider ` in my Blazor Application. It automatically refreshes the authentication state after every 30 minutes. Is there a way to increase this time?

[2022-11-23 12:42] Regenhardt commented on #45236
Ah that one worked, I can transfer the Credential now, thanks for the help!

[2022-11-23 12:42] #45236 closed

[2022-11-23 16:20] commonsensesoftware commented on #45052
Sure. I can spin up a PR.

What is gained (or retained) by keeping the branch for `if (_writers.Length == 1)`? Since `_writers_ supports indexing, I don't see any additional allocations or other benefits. I'm just seeing another branch that does the same thing as the loop. The net effect will be the same and is seeming unnecessary.

Just curious. If there is some performance benefit, I would like

[2022-11-23 16:21] commonsensesoftware commented on #45052
Updated the title to correctly reflect the proposed change

[2022-11-23 18:22] ace90210 opened #45249 "When running a core hosted blazor wasm solution on linux in anything other than Development environment results in 404 on all requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When running a core hosted blazor wasm solution on linux in anything other than a Development environment, you get a 404 on all requests.

I reported this initially to jetbrains as a bug [see here](https://youtrack.jetbrains.com/issue/RIDER-85396) but upon them looking into it they confirmed

[2022-11-23 18:29] #30104 closed

[2022-11-23 18:37] brunolins16 commented on #45052
Actually, you are right. I just noticed that `writers` is an array already, so, I think no extra allocations.

[2022-11-23 18:44] ace90210 commented on #45249
after some more digging i found the issue, this needs documented somewhere clearer as it is not obvious in the slightest.

for those who hit this issue i found a solution [here](https://github.com/dotnet/aspnetcore/issues/38212).

to fix this add the following to top of program.cs

[code]

[2022-11-23 18:44] #45249 closed

[2022-11-23 18:55] SteveSandersonMS commented on #29379
We've continued to think about this, and think it breaks down into two sub-requests:

 * Ability to restrict which child component types can be supplied
 * Ability to know about what's in the child content that was supplied to you

These two sub-features are described in two existing, older issues (https://github.com/dotnet/aspnetcore/issues/12302 and https://github.com/dotnet/aspnetcore/issues/17

[2022-11-23 18:55] #29379 closed

[2022-11-23 19:19] seangwright commented on #44857
Ha. Well, it certainly isn't a bug in my code because it worked one day and then when I updated the .NET SDK it stopped working 🤷‍♂️.

[2022-11-23 19:19] #44932 closed

[2022-11-23 19:27] captainsafia commented on #44857
Ooof! Ignore the bot response in this case. We placed it in the milestone because I need more time to investigate what is happening here. There's a couple of hunches to track down and I'm aware of the referenced issue...

[2022-11-23 19:41] Tratcher commented on #45222
Ah, hopefully thus preventing WebApplicationBuilder from adding duplicates?

[2022-11-23 20:00] #44089 closed

[2022-11-23 20:00] #44008 closed

[2022-11-23 20:01] #43979 closed

[2022-11-23 20:01] #43871 closed

[2022-11-23 20:28] captainsafia commented on #45222
Yes. The WebApplicationBuilder actually already avoids adding duplicates so when the user does the registration in their app code in whatever order they desire we won't register the same middlewares.

[2022-11-23 21:00] Tratcher commented on #45199
@dajma00 you'll also need to include the keys file:
https://resources.infosecinstitute.com/topic/decrypting-ssl-tls-traffic-with-wireshark/

[2022-11-23 21:07] affableashish commented on #45174
Hello everyone 👋,
I worked on this and figured out a solution that works. 😌
Please do a review of it 🕵️‍♂️ and let me know of how I'm doing it is a good practice or not.
If not, please give me pointers on how to improve it.

If you guys think it's good, I can even contribute to the [MSFT documentation](https://learn.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=asp

[2022-11-23 22:13] Spacefish commented on #43278
Maybe implement the following behaviour:
- If `$HOME/.aspnet` exists -> move `$HOME/.aspnet` to `$HOME/.config/Microsoft/ASP.NET` and create a Symlink under `$HOME/.aspnet` to the new folder
- If it does not exists, don´t create a symlink

ratio: If the folder exists, the user might have used it with an older version, if it does not exist, it´s unlinkely that the user will use .NET 8 and switch ba

[2022-11-23 22:16] TanayParikh commented on #45171
Got it, thanks @davidwengier!

Moving over to Roslyn as the templates appear to be correct based on the above snippets.

[2022-11-23 22:18] #5869 closed

[2022-11-23 22:43] Tratcher commented on #44537
@mconnew that's not a case where you need multiple transports, but rather multiple servers. We've dabbled with this a bit, making an IServer that activates both instances.

[2022-11-23 22:44] #43818 closed

[2022-11-23 22:44] #43061 closed

[2022-11-23 23:10] BrennanConroy commented on #45214
Also, if this is specifically about using WebSockets but not wanting to use the low-level WebSocket APIs then there is an issue tracking making a higher layer WebSocket API.
https://github.com/dotnet/runtime/issues/77060 is that more what you're looking for?

[2022-11-23 23:17] BrennanConroy commented on #45215
Can you share the parallel stacks (not tasks) window after disabling the serilog logging? Also, is it possible to share the .dmp file?

[2022-11-23 23:21] #45162 closed

[2022-11-23 23:36] BrennanConroy commented on #45022
@pharring Should this issue be moved to https://github.com/microsoft/ApplicationInsights-dotnet/issues?

[2022-11-24 00:14] Tratcher commented on #41589
ClaimsIssuer is used by implementations that create Claims from sources that don't provide that information. E.g.
https://github.com/dotnet/aspnetcore/blob/f96dce6889fe67aaed33f0c2b147b8b537358f1e/src/Security/Authentication/Certificate/src/CertificateAuthenticationHandler.cs#L243

OpenIdConnect actually has an issuer concept built in, that's what's used to validate the token and create the Claims

[2022-11-24 00:27] mitchdenny commented on #35733
There is a possible ambiguity here that we need to deal with. Consider the following code:

[code]

If we are just analyzing the delegate passed into MapPost there is no way to tell whether we expect MyService to have to implement ```BindAsync``` or whether it should be injected as a service. In this simplistic scenario we could probably look for the service injection - but it will be common for s

[2022-11-24 00:38] mconnew commented on #44537
Supporting multiple IServer instances would solve the need to support different types of connection listeners. You would simply have multiple Kestrel IServer instances, one for each connection listener type. It would remove the need for this new proposed API, and would solve more problems at the same time.

[2022-11-24 01:00] #45006 closed

[2022-11-24 01:00] #44933 closed

[2022-11-24 01:00] #44859 closed

[2022-11-24 01:36] shaynevanasperen commented on #45215
This is the Parallel Stacks view after my most recent incident:
![image](https://user-images.githubusercontent.com/1126129/203672415-bf6e370e-708e-4994-beb9-1956b74d70c2.png)

In this version, I have removed all of my own background services and the only services added to the container are done via the following lines of code:

[code]

My `AuthorizationPolicyEvaluator` looks like this:

[code]

Th

[2022-11-24 02:16] danmoseley commented on #45215
The VS creds issue should be unrelated - please report it though the VS feedback button so they can help with that.

[2022-11-24 02:36] shaynevanasperen commented on #45215
I have now managed to create a minimalistic project which reproduces this issue: https://github.com/shaynevanasperen/WebApplication

I suspect that the problem has something to do with the `LettuceEncrypt.Azure` library not liking `.NET 7.0`.

[2022-11-24 02:54] shaynevanasperen commented on #45215
Actually, I just re-read my initial comment where I had mentioned that I tried it with self-signed certificates instead of using `LettuceEncrypt.Azure` and that it showed the problem even then. I am now running a test with self-signed certificates in my minimalistic project. Will report back in several hours, if and when I see the problem again.

[2022-11-24 03:00] #45101 closed

[2022-11-24 04:00] #44088 closed

[2022-11-24 06:10] vadrsa commented on #45214
I use this approach in https://github.com/vadrsa/SimpleR, but that still requires to copy and modify a lot of code from SignalR to my repo. Two main things are https://github.com/dotnet/aspnetcore/blob/main/src/SignalR/common/Http.Connections/src/Internal/HttpConnectionDispatcher.cs and https://github.com/dotnet/aspnetcore/blob/main/src/SignalR/common/Http.Connections/src/Internal/Transports/WebSo

[2022-11-24 06:15] Youssef1313 commented on #45245
Isn't this class part of the application and you can just go into it and modify `RevalidationInterval`?

[2022-11-24 06:28] cssriraman commented on #5223
Hi,
I am getting error as below:
`'IApplicationBuilder' does not contain a definition for 'Environment' and no accessible extension method 'Environment' accepting a first argument of type 'IApplicationBuilder' could be found`

Do you have any solution for that?

[2022-11-24 06:28] LZD121 opened #45257 "Debug blazor in vscode prompted "cannot launch browser: The URL's protocol must be one of "ws","wss:, or "ws+nuix;""""
My launch.json:
![image](https://user-images.githubusercontent.com/59716053/203710364-b0d08b3a-760a-4f63-854b-158f1807a694.png)

The chrome is opened, but displays blank page.

[2022-11-24 06:32] cssriraman commented on #5223
Thank you @buchatsky

I am getting error as below:
'IApplicationBuilder' does not contain a definition for 'Environment' and no accessible extension method 'Environment' accepting a first argument of type 'IApplicationBuilder' could be found

Do you have any solution for that?

[2022-11-24 07:06] madhub opened #45258 "Question : Should Microsoft.AspNetCore.Diagnostics.HealthChecks extension respond success to HTTP PUT/POST/DELETE methods ?"
Question : Should Microsoft.AspNetCore.Diagnostics.HealthChecks respond success to HTTP PUT/POST/DELETE methods ?
Below sample responds success for all of the HTTP methods
[code]
All of the below requests , responds success , is this right ?
[code]
![image](https://user-images.githubusercontent.com/8907962/203715968-ea19479c-9454-4b7f-a5b8-74c2a63d1034.png)

[2022-11-24 07:15] yaakov-h commented on #45066
For what it's worth, this problem still occurs with parallel DLL loading disabled (`MaxLoaderThreads` = `1`), and on Windows Server 2012 which predates parallel DLL loading.

The stack trace there differs slightly between `LoadLibraryExW` and `NtWaitForSingleObject` but its still pretty much the same.

[2022-11-24 07:18] davidfowl commented on #45064
Reference https://github.com/dotnet/runtime/pull/78646#pullrequestreview-1192378637

[2022-11-24 07:19] linkdotnet opened #45259 "Blazor HtmlRenderer: Use ReadOnlySpan instead of ArrayRange"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

This is not a feature request per se. The current [HtmlRenderer](https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.ViewFeatures/src/RazorComponents/HtmlRenderer.cs) is using `ArrayRange` as its collection type for passing arou

[2022-11-24 08:18] axelgenus commented on #45025
@0xced gave me the inspiration to implement a different workaround (using Reflection) on the various `ServiceCollectionExtensions` classes we have in our shared libraries:

[code]

[2022-11-24 09:07] javiercn commented on #45259
@linkdotnet thanks for contacting us.

Do you happen to have some numbers collected for this? We are definitely happy about taking perf improvements provided that the numbers back up the claims :). We need to be very careful not to regress things here.

[2022-11-24 09:12] linkdotnet commented on #45259
Let me (re)create a benchmark for that with .NET7 to drive the discussion a bit further.

[2022-11-24 09:36] alienwareone opened #45260 "Add SkipStatusCodePages flag to ApiBehaviorOptions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

When mixing MVC Controllers with Api Controllers in an application, there should be a global setting to turn off the [IStatusCodePagesFeature](https://github.com/dotnet/aspnetcore/blob/a450cb69b5e4549f5515cdb057a68771f56cefd7/src/Middl

[2022-11-24 10:11] SteveSandersonMS commented on #45245
Yes, @Youssef1313 is correct. This is just a file in the project template. It contains the following line which you can edit:

[code]

[2022-11-24 10:11] #45245 closed

[2022-11-24 10:18] alienwareone commented on #45260
There is actually a cleaner "workaround" but a built-in global switch would be even cleaner ;-)
[code]

[2022-11-24 10:26] singh733 commented on #44697
@Tratcher  Do we need to do something like this:

[code]

Also in this issue there is requirement of no error logging. But we are logging on line no 102. Please share your views

[2022-11-24 10:34] razzemans commented on #45175
@javiercn Interesting approach and I really appreciate your effort. Unfortunately the `DynamicRouteValueTransformer` is always invoked before my custom `MatcherPolicy` and I tried playing around with it but can't seem to change that. That means for conventional routes the `DynamicRouteValueTransformer` is still invoked which is precisely what I am trying to prevent.

In the `DynamicRouteValueTrans

[2022-11-24 11:00] #45100 closed

[2022-11-24 11:03] javiercn commented on #45175
@razzemans did you set the order for your matcher policy? It needs to be very low, like `int.MinValue + 10` so that it runs before the one for dynamic controllers.
 https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.Core/src/Routing/DynamicControllerEndpointMatcherPolicy.cs#L35

[2022-11-24 11:57] razzemans commented on #45175
@javiercn Big thank you! Setting it really low works. This is a much nicer solution, so thanks again for your time!

[2022-11-24 11:57] #45175 closed

[2022-11-24 12:21] ChristophHornung commented on #45022
@adityamandaleeka Can you or the team elaborate on what the consequences of this issue are? The app seems to be responsive so far. Is there any workaround for that problem?

[2022-11-24 13:02] SteveSandersonMS opened #45262 "Quarantine SignalRClientWorksWithWebSockets"
TODO: Will fill out shortly

## Failing Test(s)

-

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[code]
</details>

## Build

[2022-11-24 13:09] RenegadeVile commented on #39802
Same here. I came here hoping to see it fixed.

[2022-11-24 13:38] javiercn commented on #45257
@LZD121 thanks for contacting us.

@TanayParikh can you take a look at this?

[2022-11-24 13:53] FranklinWhale opened #45264 "`RouteHandlerBuilder.Accepts` does not return 415 response when the request has no `Content-Type`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

This is probably a duplicate of #43794 but I would like to get further information on this issue, namely:

1. If empty string is not in the list of content types to accept, why should empty string not be handled as 415?
2. Given the current behavior of `Accept`, is an explicit check for the e

[2022-11-24 14:00] #43953 closed

[2022-11-24 14:39] FranklinWhale opened #45265 "Unable to set request body format to binary in minimal api"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

`requestBody` in `swagger.json` of the code below

[code]

is

[code]

while `.Accepts<Stream>("application/zip")`

leads to

[code]

When I want to override `requestBody` by adding

[code]

I find that it has no effect.

How to set format to `binary`?

### .NET Version

7.0.100

[2022-11-24 15:00] websolut opened #45266 "Rare "The SSL connection could not be established, see inner exception. Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.. An existing connection was forcibly closed by the remote host.""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Our service fabric application (dotnet core 6) occasionally throws this error
`The SSL connection could not be established, see inner exception. Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.. An existing connection was forcib

[2022-11-24 15:19] SteveSandersonMS commented on #45230
Since this is achievable either by using `.Concat` inside component code, or by making a component base class to encapsulate such behaviors, we'll consider this supported already and close.

Thanks for confirming you have a good solution!

[2022-11-24 15:19] #45230 closed

[2022-11-24 15:29] jez9999 commented on #45130
@javiercn If the asp.net core process is going to be the front-facing web server on production, doesn't it make more sense for it to be in development too?  If an asp.net route will take precedence over a JS one, it ought to do so just the same on dev and prod.  Both options should be supported.

[2022-11-24 15:36] springy76 opened #45267 "(BlazorServer) each navigation to external logs 2 errors a minute later"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the bug

Each time you leave the blazor circuit a minute later two exceptions are logged.

### Expected Behavior

zero errors in log when no one does wrong things.

### Steps To Reproduce

Run original sample created by `dotnet.exe new blazorserver --name BlazorServerTemplate --output . -f net7.0 --au

[2022-11-24 15:39] javiercn commented on #45130
That's not the development experience that SPA frameworks support. The problem with what we were doing before was that it was not something blessed by the existing SPA frameworks and that resulted in all sorts of integration issues that we had to be accommodating for. Things like hot reload not working on the SPA because of our custom proxy during development, etc.

Having the SPA proxy in front o

[2022-11-24 15:57] jez9999 commented on #45130
I just think that's exaggerated.  I'm developing a Vue application using the old ASP.NET dev proxy and hot reloads work fine, as do WebSockets.  Basically you could keep supporting that way of doing things if you wanted, whether SPA frameworks "bless" it or not.

[2022-11-24 16:03] fardarter commented on #8393
How has this still not been addressed?

[2022-11-24 16:14] richstokoe commented on #45130
aspnetcore has supported this for several years, provided templates that lead us all to design solutions like this, demonstrated at conferences exactly this, and we've all built applications around this pattern. Now we need to perform non-trivial rearchitecture of our apps to support this new approach.

I'm fine with breaking changes, with enough notice, but the documentation is only now being wri

[2022-11-24 16:50] dewanymca opened #45268 "Caching: Microsoft.Extensions.Caching.StackExchangeRedis doesn't provide createifnotexist method"
Microsoft.Extensions.Caching.StackExchangeRedis doesn't have a method which support createifnotexist method while base package of stackexchangeredis provide that. How can I use createifnotexist while using extension nuget

[2022-11-24 17:16] javiercn commented on #45130
@richstokoe thanks for the additional details.

Its late in my timezone and I can't give you a more detailed answer right now, but I want to at least touch on a few points.

I want to make sure it is clear that the existing Spa.Extensions is supported in .NET 6.0, which will last until November 2024 (almost 2 years from now).
We have not even decided to obsolete Spa.Extensions in .NET 7.0.
If we m

[2022-11-24 18:27] tmricardo7 commented on #45096
This is caused by this line
https://github.com/dotnet/aspnetcore/blob/ea529f4756841fdf8d7cee5b3c188210520c1323/src/Components/Forms/src/FieldIdentifier.cs#L70

I don't really know how can we create a test case for this one, the struct is read-only, so any advice on how can I create a test case for it?

I can edit the HashCode method to check for nulls, but I'm not sure if the scenarios where the f

[2022-11-24 18:46] #44638 closed

[2022-11-24 19:06] AndrewP-GH opened #45270 "gRPC JSON transcoding — Unable to resolve descriptor for Enum (deserialize enum from string value)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It's impossible to deserialize a string value of protobuf `enum` using **Microsoft.AspNetCore.Grpc.JsonTranscoding 7.0.0**.
Received rror:
[code]

 I think the problem with the method `ResolveEnumDescriptor` in `Microsoft.AspNetCore.Grpc.JsonTranscoding.Internal.Json.EnumConverter<TEnum>`. It

[2022-11-24 20:13] linkdotnet commented on #45259
Good input @javiercn . I specifically checked for smaller to medium-sized components and surprisingly `ReadOnlySpan` is slower in those scenarios (the smaller the more overhead ROS produces). That said ROS is **not** a suitable replacement. Therefore I'll close the ticket. If I do find other areas of improvement I will try to grab some numbers first.

Cheers Steven

[2022-11-24 20:13] #45259 closed

[2022-11-24 20:36] alex47 opened #45271 "Blazor (fail: Microsoft.WebAssembly.Diagnostics.DevToolsProxy[0] sending error response for id)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

After upgrading my Blazor Webassembly project from .NET 6 to .NET 7 my web application is hanging at the "Loading..." stage and I get the following errors in the console window when I launch it in debug mode:

[code]

If I run it without debugging it doesn't work either.
I did the upgrade by

[2022-11-24 21:04] omuleanu commented on #45096
here's a test case, (can't get it to fail in BlazorFiddle, but fails on my local, .net 7)
[code]

Editor1:
[code]

[2022-11-24 23:38] j0t4pe commented on #45257
I have the same problem since time ago. I assumed it was a local problem. In VS2022 everything works fine. In VSCODE the debug does not work well. I had the problem with .NET6, I upgraded to .NET7 and the problem is still the same.

With edge there is no difference.

While I wait for a solution I debug with the chrome developer tools. It more or less meets my needs, at moment.
Workarround steps in

[2022-11-25 01:10] tbone95 opened #45321 "ReturnUrl not working on Blazor WASM after OIDC login"
### Description

We are using Blazor as the Client and Component Space OpenId Connect as the Auth server, the issue we are facing is after logging in successfully instead of being redirected back to the accessed page (prior to authenticating), we are getting redirected back to the "/" root directory.

The problem has been tested on a Blazor WASM client running .NET 6.0 and was working as expected.

[2022-11-25 02:00] #43792 closed

[2022-11-25 02:00] #43759 closed

[2022-11-25 02:00] #43703 closed

[2022-11-25 02:15] Owenll66 opened #45272 "Browser print RenderFragment performance issue"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Describe the bug

Printing a razor component as below with no parameter set on a page by `ctrl` + `p` will cause the print window to load forever and memory to surge.

[code]

### Expected Behavior

`ctrl` + `p` to print the page should work as expected without stuck on the loading screen. The process memory/C

[2022-11-25 02:48] JamesNK commented on #45270
Hi, I took a look at this and non-nested enum values don't work in .NET 7. Unfortunately, there is no way to work around this without changing your proto file. You have to make the enum nested inside a message.

I have a PR to fix this - https://github.com/dotnet/aspnetcore/pull/45273. I will get it backported to .NET 7 so a future service release of .NET 7 gets the fix.

[2022-11-25 07:03] Junjun-zhao opened #45275 "[dotnet-sdk-7.0.101] System.Reflection.AmbiguousMatchException: 'Ambiguous match found.'"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

**When launch the aspnet core app mixcore against .NET 7.0.101 runtime, it failed with exception.**

**Application Name**:  mixcore
**OS**: Windows 10 21H2
**CPU**: X64
**.NET Build Number**: dotnet-sdk-7.0.101

**Verify Scenarios:**
1). Windows10 21H2 x64+dotnet-sdk-7.0.101: Fail
2). Windows

[2022-11-25 07:10] pr-benchmarks[bot] opened #45276 "Perf improvement: plaintext, plainTextSansFilter"
| Scenario | Environment | Date | Old RPS | New RPS | Change | Deviation | StDev | Dependencies |
| -------- | ----------- | ---- | ------- | ------- | ------ | --------- | ----- | ------------ |
| plaintext  | Plaintext Platform 3- Trends Arm 28 Windows | 11/22/2022 12:12:23 | 6,462,752 | 9,864,541 | 52.64 % (3,401,790)  :thumbsup:  | 2.31 σ | 1,474,862.69 | <details>    <summary>Changes</summary

[2022-11-25 08:24] EikeSchwass opened #45277 "ASP.Net Core Thread Starvation in high load"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

We are migrating a large code base from .Net Framework 4.7.2 ASP.NET to .NET 6 ASP.NET Core (Hosted in IIS 10).

Unfortunately we noticed a regression in high load scenarios. The ASP.NET was able to recover from load peaks, while ASP.NET Core enters thread starvation and only recovers if load

[2022-11-25 08:26] pavelsavara commented on #45274
'BINDING.conv_string(d)'. Normally 'readStringField(..)' resolves this value from HEAP32.

It could be alignment problem. HEAP32 is aligned to 4 bytes, but maybe the struct is not.

[2022-11-25 08:33] davidfowl commented on #45277
This is the right direction and yes hardcoding a number is not great but it's what ASP.NET did (and HTTP.sys and the layers beneath). .NET 7 has better options for rate limiting (other than just concurrency and can do it per endpoint https://devblogs.microsoft.com/dotnet/announcing-rate-limiting-for-dotnet/).

If you want an idea of some of the existing numbers for .NET Framework:
- System.Web req

[2022-11-25 08:49] EikeSchwass commented on #45277
@davidfowl thanks for the quick response. What is a good estimate for the total number of concurrent requests? How did ASP.NET decide how many it let through?

[2022-11-25 09:10] kg commented on #45274
If you manage to reproduce this again, it would be very useful to know the address of the string itself to rule out any alignment issues and to identify whether a garbage pointer is being fetched via readStringField. You can do this by calling readInt32Field with the correct offset to get the address of the string for us. You could also try reading with offsets of 4 and 8 in addition to 0 in order

[2022-11-25 09:11] javiercn commented on #45271
@alex47 thanks for contacting us.

You should also update the packages in the project and clean your bin and obj folders. Otherwise, there is likely intermediate state that can cause issues.

Could you let us know if:
* This happens with a new project?
* This happens after you have upgraded all the packages and cleaned up the bin and obj folders of the solution?

[2022-11-25 09:13] devedse commented on #45274
I'm curious on what the desired implementation would be for .net 6.0 if you need to pass multiple objects.

[2022-11-25 09:15] kg commented on #45274
A managed array of mixed types will be safe and have stable ordering.

[2022-11-25 09:19] davidfowl commented on #45277
There's no good number and it's hard to bake a number into the framework. Applications have a much easier time with it because they can optimize for a specific load profile. Doing it in the server or framework means we need to make assumptions about the load profile of *any* application.

Load testing on some specific scenarios and some guesstimating.

Applications that pick a number usually find

[2022-11-25 09:20] javiercn commented on #45272
@Owenll66 thanks for contacting us.

This seems to be an issue on the actual HTML for the page. Not sure exactly why, but seems that your component is introducing it, as it does not repro on a page without your component.

It likely means that you need to troubleshoot the styles used when printing. It might also be a bug in Chrome with regards to print and `display:flex`. Do you have the same issu

[2022-11-25 09:25] EikeSchwass commented on #45277
@davidfowl The ASP.NET Version of our app must have the maximum concurrent requests set somewhere though right? I assumed the numer is baked in ASP.NET somewhere and for starters I would simply like to copy the limit directly to our Core Version. We didn't configure anything in that regard for the Framework version and it does throttle appropriately somehow.

[2022-11-25 09:35] davidfowl commented on #45277
That's what I specified in the last message:

System.Web request queue - 5000 * number of CPUs

[code]

[2022-11-25 09:41] EikeSchwass commented on #45277
@davidfowl ah sorry I misunderstood. I thought that referred to the maximum queue length and not the maximum concurrent calls. Thanks for clearing that up! This has helped tremendously! <3

[2022-11-25 09:44] davidfowl commented on #45277
I updated the issue with the relevant settings in case you want to do more research. Let me know how it turns out.

[2022-11-25 10:02] RichardD2 commented on #45017
Again, what further information is required?

Is this bot just going to keep threatening to close the issue unless I post a pointless comment every few days?!

[2022-11-25 10:05] Hoaas opened #45278 "Health Check issue with Microsoft.Extensions.Diagnostics.HealthChecks 7.0.0 running on net6.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Having found two "fixes" already this is more a should-it-be-like-this?

Health checks are not working if the package Microsoft.Extensions.Diagnostics.HealthChecks version 7.0.0 is added and you are running .NET 6.

The health endpoints return 500 Internal Server Error and never enter constru

[2022-11-25 10:23] nkast commented on #45274
At this point we can exclude that the issue has to do with alignment, offsets and GC relocations.
The test case TestStructInt1 makes this very clear.

It looks to be an optimization that elevates structs into their wrapped types,
that propagates all the way down to 'InvokeUnmashalled(..)' and the JS boundary.

[2022-11-25 11:22] kg commented on #45274
Even if we get this working again, all 3 of those are potential future problems with this code.

I'll try to find out whether any optimization of that sort went into the runtime between 6 and 7. I'm not aware of one.