[2022-03-05 13:16] AndirNotes opened #40553 "Xamarin.Mac: WebHost.RunAsync without CancellationToken fails with Unsupported platform exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

WebHost.RunAsync() fails with unsupported platform exception with Xamarin.Mac if no cancellation token specified. If CancellationToken is set - no exceptions

### Expected Behavior

No exception and valid behavior

### Steps To Reproduce

[code]

### Exceptions (if any)

System.PlatformNotSup

[2022-03-05 14:54] musictopia2 commented on #40317
Any possibility of this problem being fixed before .net 7.  Because i discover that for now, if I create a nuget package without also doing a build, then if others use it, then sometimes don't even work.  If a person is forced to do a build, then it interferes with figuring out if there was any changes in the files.

[2022-03-05 15:34] pranavkm commented on #40537
I tried returning a View from a controller action and that [appears to work just fine](https://github.com/pranavkm/ViewsRepro). It's likely that the tutorial you are using is incorrect.

We have a sample of rendering a view to a string available her: https://github.com/aspnet/Entropy/tree/master/samples/Mvc.RenderViewToString, you could try using that to see if it helps here.

[2022-03-05 15:39] justindbaur opened #40554 "Support Custom Awaitable Types in Minimal API's"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Currently custom awaitables are [not supported and it is marked as a `TODO` in the code](https://github.com/dotnet/aspnetcore/blob/main/src/Http/Http.Extensions/src/RequestDelegateFactory.cs#L643-L644).  Honestly, I don't have a use fo

[2022-03-05 15:49] davidfowl commented on #40554
I wouldn't add this until somebody asked for it. So we can leave this issue open and gauge interest. I'm pretty sure the importance of custom awaitable types will drop significantly because of `ValueTask` (it now supports extensiblity). So I'd rather no do this unless there was demand.

[2022-03-05 15:51] justindbaur commented on #40554
@davidfowl Totally understand. That's why I make it clear I don't even use it. Just wanted to play with Expressions and duck typing! But thought I would propose it anyways.

[2022-03-05 15:55] alwilton commented on #6818
I just ran into this on .NET 6.0.2 application and I'm quite surprised at  this. It goes directly against any expected URL behavior which is case-insensitive. How do I explain to the multitude of users that this is different and is case-sensitive against convention? The helpdesk will not be pleased.

[2022-03-05 16:00] #40535 closed

[2022-03-05 16:10] davidfowl commented on #40554
This is also why we didn't do it. Because we wanted parity with the object returning method, which is much more difficult to make efficient.

[2022-03-05 16:16] justindbaur commented on #40554
Yep, I did my initial work and then started adding tests for a `CustomAwaitable` return type to all the existing `Theory`s and immediately realized the work I had done wouldn't support `object` return type without doing a lot of reflection work, boxing, and casting in the runtime to get it to work. I'm happy with the other part of the work but as a user or minimal API's wouldn't want this code in

[2022-03-05 16:19] #40168 closed

[2022-03-05 16:39] ben-burton opened #40555 "WebAssembly.Authentication - Setting RemoteRegisterPath does not support external url"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

`RemoteAuthenticationApplicationPathsOptions.RemoteRegisterPath` states that it

   It might be absolute and point outside of the application.

When setting this to my identity provider's endpoint the application does not redirect externally

### Expected Behavior

When navigating to authenti

[2022-03-05 16:40] #40555 closed

[2022-03-05 18:04] Falco20019 commented on #35077
Just wanted to leave a +1 on gRPC with Android.

We have a framework in place which we use with monoandroid + netcoreapp3.1. Everything runs using Grpc.Core which is EOL in just 3 months. So we are not very comfortable to not have any way forward right now... And we heavily invested into gRPC by also using xDS (client + server), interceptors for AuthN + AuthZ, and built our whole environment aroun

[2022-03-05 18:15] davidfowl commented on #40255
By looking at the API diff or assuming major versions will have breaking changes.

[2022-03-05 19:21] nfplee opened #40556 "Anchor tag helper should allow for multiple query string parameters with the same name"
The [route values property](https://github.com/dotnet/aspnetcore/blob/2684644cea1322ebd213311293d93faf8d7e9bab/src/Mvc/Mvc.TagHelpers/src/AnchorTagHelper.cs#L137) in the anthor tag helper only allows for route values to have a single value since it of type `IDictionary<string, string>`. Therefore when you say:

[code]

If the query string is `?filter=Red&filter=Green` it produces:

[code]

However

[2022-03-05 22:53] silentdevnull commented on #37908
This would be a great item to add. I 100% agree with @cirrusone that a lot of times there isn't the buget for third part times. Most of them are eight hundred plus to which is a lot if all you need is one page with a sortable grid.

Please add this to dotnet 7.

[2022-03-06 04:44] hintsofttech opened #40557 "Reporting and Printing In Blazor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

_No response_

### Describe the solution you'd like

Blazor should have **At least basic level of built-in components**
for Reporting and Printing that can be further extended by developer as per their need like :-

1. Pdf-Generator An

[2022-03-06 06:51] Mason742 commented on #33312
I was having this problem as well on .NET 6.0.2 and VS2022.
Publish to folder, FTP to server; site runs but log-in fails with:
`There was an error trying to log you in: 'Cannot read properties of undefined (reading 'toLowerCase')'`

Added this line, closed VS, and deleted my bin/obj folders then republished and it worked.
[code]

[2022-03-06 07:41] hintsofttech opened #40559 "Strings.PlatformNotSupported_DataSqlClient in blazor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

when trying to connect in blazor through

var conn= **new SqlConnection(cnnString)**;

**Strings.PlatformNotSupported_DataSqlClient** error occurs...

please advise the solution

Regards-
Sanjeeb

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Exceptions (if

[2022-03-06 10:19] ShreyasJejurkar commented on #40559
blazor server or blazor wasm?

[2022-03-06 10:43] ShreyasJejurkar opened #40560 "[investigation] - Investigate option `useMordernNet` of omnisharp for aspnetcore codespaces"
Recently omnisharp team announced a new option of `omnisharp.useMordernNet` in omnisharp settings. By default, it set it to false as it's under preview. What basically this option does is that it uses MSBuild from installed SDK itself instead of using MSBuild from the omnisharp package.
For personal usage, I am using this option right from the beginning for `aspnetcore` and other .NET codespaces r

[2022-03-06 11:45] hintsofttech commented on #40559
blazor wasm sir...

[2022-03-06 12:35] filipw commented on #40560
A .NET 6.0 build of OmniSharp is a framework dependent application, which is started with `dotnet OmniSharp.dll`, so it may end up using the newer framework than 6.0, but it cannot be lower than 6.0.100 https://github.com/OmniSharp/omnisharp-vscode/blob/master/src/omnisharp/OmniSharpDotnetResolver.ts#L15

The MSBuild Resolver that is used to located MSBuild, however, is the resolver which is in sy

[2022-03-06 13:52] JohnyL commented on #40155
VS 2022 17.2.0 Preview 1.0 - all works fine!

[2022-03-06 16:05] WeihanLi commented on #40542
Hi @pranavkm , thanks for your reply, I think sometimes the `AuthorizationFilter` is more simple to use, it can be used without having any knowledge about the authentication design and the authorization system

[2022-03-06 22:09] jtkech commented on #32767
So in my case was caused by enabling `Projects and Solutions > ASP.NET Core > CSS Hot Reload`

Upgrading to Visual Studio 2022 17.1.0 fixed the issue

[2022-03-06 22:16] captainsafia commented on #40560
I actually spotted this flag in the PR introducing Codespaces to the efcore repo and thought it would be interesting to adopt.

I'm cool waiting until this is the default and adopting it "automagically" via a C# extension update so we have less config to manage.

[2022-03-06 23:35] captainsafia commented on #28755
@ilonatommy Can you file a new issue for this?

[2022-03-06 23:35] #28755 closed

[2022-03-07 01:22] dgolub opened #40563 "Partial views as tag helpers for Razor Pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

The `<partial>` tag helper works OK for partial views that take a single parameter, but it requires hacks like using a tuple as the model (which isn't particularly readable and can have type conversion issues) when the partial view nee

[2022-03-07 01:38] TanayParikh commented on #40560
Thanks @ShreyasJejurkar for the suggestion. Based on @filipw & @captainsafia's comments above, I believe we'll hold off on this change until we can consume it directly from O#. Closing out this issue.

[2022-03-07 01:38] #40560 closed

[2022-03-07 01:40] TanayParikh commented on #40559
@hintsofttech, just to clarify, how're you trying to connect to SQL? Is it a local SQLite DB hosted in the browser, remote MS SQL Server, etc.?

[2022-03-07 02:50] nssidhu opened #40565 "Blazor WASM : Adding MVC Route does not work on published version but works on lcoal"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am creating Blazor Client(wasm) hosted PWA App. with .NET 6.

I added MVC controller support to it and created necessary routes.
**NOTE: I am modifying the original Blazor WASM hosted project by adding MVC support to it**

The App works perfectly fine as expected when running it from Visual

[2022-03-07 03:58] nssidhu commented on #40565
Here is the git repo for source code.
https://github.com/nssidhu/BlazorWasmHostedWithMVCV

[2022-03-07 04:23] syncsiva commented on #29342
Hi Guys, Any update on this issue. This affects using Lazy loading in blazor WASM apps.

[2022-03-07 04:36] pranavkm opened #40566 "Consider trimmer friendly overloads for HttpRequestJsonExtensions / HttpResponseJsonExtensions"
## Background and Motivation

## Proposed API

ASP.NET Core provides APIs for reading JSON from the HTTP Request body and writing JSON to the HTTP Response body via extension methods to `HttpRequest` and `HttpResponse` which closely resembles the System.Text.Json's Stream (de)serialization APIs. This issue suggests adding `JsonSerializerContext` / `JsonTypeInfo<T>` based overloads to continue matc

[2022-03-07 05:00] hintsofttech commented on #40559
@TanayParikh

connecting to mssqllocaldb MS SQL Server...
which is **working through winform** but **throwing error for blazor wasm**...

var conn= new SqlConnection(cnnString);

Strings.PlatformNotSupported_DataSqlClient error occurs...

[2022-03-07 05:09] davidfowl commented on #40566
cc @JamesNK

[2022-03-07 05:43] sajjadarashhh opened #40567 "Blazorwasm : deployment with aot compilation and with out aot compilation"
i know aot compilation can take more size for published app and in my case this take 4x weight and this size is very huge in my country
many users in my country can download 500kb in second and my published app take 20mb weight in brotli compression mode..!
users must be wait over 50s to load my web application
in .net 7 i seen mixed-mode aot compilation
can you say me how it's can be help me!?

[2022-03-07 05:57] ShreyasJejurkar commented on #40559
@hintsofttech it seems like you are accessing MS SQL Server installed on your local machine via blazor wasm. WinForms app can access it as it does have access to system resources and memory.
But browsers apps for example in your case blazor wasm run in browser sandbox and hence cannot access system resources or installed programs on the user's machine, that's why you are getting `System.NotSupport

[2022-03-07 08:05] ilonatommy opened #40568 "Not able to debug blazorwasm project in VSCode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Continuation of https://github.com/dotnet/aspnetcore/issues/28755.
The problem still persists, even sample application cannot get debugged. Both configurations: of blazorwasm type and suggested by @[captainsafia](https://github.com/captainsafia) two step configuration. In both cases, the appl

[2022-03-07 08:09] Kruki commented on #36978
I think this whole problem is way bigger than most people think.
I am a developer from Austria, developing a B2B application with blazor since the release of .NET5.

From my experience with (Austrian) customers, i can confidentially say, that every 4th or 5th customer is experiencing this issue.

I dont know if IT-staff is not updating their firewalls or if they just use very restrictive systems,

[2022-03-07 08:27] michalpypek opened #40569 "SignalR 6.x doesn't work with android il2cpp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

(Building with Unity)
SignalR 6.x (6.0.0, 6.0.1, 6.0.2) doesn't work with android on IL2CPP. Works fine on windows il2cpp builds.
Reverting to 5.x fixes the issue.

### Expected Behavior

_No response_

### Steps To Reproduce

- Create a unity project
- Add SignalR 6.x libraries
- Add a scrip

[2022-03-07 08:41] senbar commented on #32331
So I have fixed this issue for http1,2,3 on kestrel but am struggling with IIS. I can't seem to find the part of the code responsible for creating FlushResult, if anyone has any directions I could use some help. I will open PR draft for now with Kestrel fixes.

[2022-03-07 09:31] jiabiao opened #40571 "Minor error in null checking of constructor of Microsoft.AspNetCore.Routing.Template class."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

https://github.com/dotnet/aspnetcore/blob/c85baf8db0c72ae8e68643029d514b2e737c9fae/src/Http/Routing/src/Template/TemplateParser.cs#L22

Should be

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No response_

### .NET Version

_No

[2022-03-07 10:09] brischt commented on #39592
Is there actually any workaround for this? We have an application that serves static pdfs, and this issue prevents us from going live.

[2022-03-07 10:16] javiercn commented on #39592
@brischt please file a separate issue with a minimal repro project, otherwise it's much harder for us to get the right context.

[2022-03-07 10:18] javiercn commented on #39592
@fingers10 The issue here has nothing to do with static web assets but with the fact that the service worker is caching the data.

[2022-03-07 10:20] javiercn commented on #40571
@jiabiao thanks for contacting us.

Feel free to send us a PR

[2022-03-07 10:30] fingers10 commented on #39592
@javiercn thanks for pointing out. But this service worker code comes with default blazor web assembly template with pwa enabled. Can this be updated in default template?

[2022-03-07 10:30] javiercn commented on #40542
@WeihanLi thanks for contacting us.

This is not a direction we plan to move in the future.

[2022-03-07 10:30] #40542 closed

[2022-03-07 10:33] javiercn opened #40572 "Productionize ClientAssets"
We see people struggle with integrating third-party JS assets into the ASP.NET Core pipeline.

This issue tracks productionizing the package Microsoft.AspNetCore.ClientAssets that we put out a while ago to simplify this process..

[2022-03-07 10:35] fingers10 commented on #39592
@javiercn Here is the [https://github.com/fingers10/BlazorWasmPwaStaticFileIssue](Sample Repo) to reproduce this issue.

[2022-03-07 10:36] #40416 closed

[2022-03-07 10:42] javiercn commented on #40565
@nssidhu The issue is in your service worker code.

You need to update it to avoid serving the paths for the controllers.

[2022-03-07 10:42] #40565 closed

[2022-03-07 10:47] javiercn commented on #40557
@hintsofttech thanks for contacting us.

Our team is focused on delivering a great runtime/framework to build Blazor applications. This is not something we plan to tackle in the near future as there is a rich ecosystem of third party components that we think better supports these scenarios.

[2022-03-07 10:47] #40557 closed

[2022-03-07 10:48] javiercn commented on #40548
@radical this seems like a good improvement.

Do you have any concrete suggestion on the error message, etc?

[2022-03-07 11:04] HeroinGyrl opened #40573 "SignalR cant invoke a parameterless method"
when I have a method that has no parameters

[code]

and then using `SenAsync("TestSignalR")` the method does not get invoked.
however when I use a parameter

[code]
and then using `SendAsync("TestSignalR", "random content")` it gets invoked.

[2022-03-07 11:05] javiercn commented on #40559
@hintsofttech thanks for contacting us.

You can't use Blazor Wasm to connect to a local SQL Server instance. If you have a Windows Forms app, the recommended pattern is to use Blazor Desktop which has support for winforms.

[2022-03-07 11:14] AmirImam opened #40574 "Blazor InputFile: Cannot pick files more than once"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi
InputFile throws an error **There is no file with ID 1. The file list may have changed** if I tried to pick the file for the second time. The error appears when I try to convert the stream to bytes array
[code]
It doesn't matter if multiple is enabled or not, the error appears always in se

[2022-03-07 11:15] javiercn commented on #40544
Thanks for contacting us.

We would need a minimal repro project as a public github repository to make progress on this issue.

I would suggest cleaning the bin and obj folders before publishing in case that helps.

[2022-03-07 11:17] javiercn commented on #40547
Seems that the underlying issue is the OOM happening.

I'm closing this issue in favor of https://github.com/dotnet/aspnetcore/issues/40547

[2022-03-07 11:20] javiercn commented on #40539
@yamachu thanks for contacting us.

We provided a sample on how to do this for React and Angular. We don't have plans to provide guidance/samples on how to do this for other JavaScript frameworks as there are many and the pattern to follow is similar and can be implemented by people interested if needed.

[2022-03-07 11:20] #40539 closed

[2022-03-07 11:21] javiercn commented on #40549
@ameyasubhedar thanks for contacting us.

This is not a scenario WebApplicationFactory is designed for.  We recommend you use a browser automation framework like Playwright for this.

[2022-03-07 11:21] #40549 closed

[2022-03-07 11:30] hintsofttech commented on #40557
every developer don't want to depend on third party controls.
at least basic levels fo components should be built in..

[2022-03-07 11:37] m4ss1m0g opened #40575 "VSCode razor tool do not correctly colorize @code area"
## Is this a Bug or Feature request?:
Bug

## Steps to reproduce
1. Fresh Windows install (virtual machine)
2. Fresh VSCode install
3. Install CSharp extension (The only installed extension)
4. Open a .razor file below

[code]

The tool seems to me to be at a rather immature stage of development, I must use the Visul Studio to develop .razor page, there are any plan to release a stable version?

#

[2022-03-07 11:46] hintsofttech commented on #40559
sir, still the save issue to connect remote full SQL SERVER instance ...

[2022-03-07 11:46] Bobetti commented on #38842
After some thinking and considering that in .Net 6 ReadAsync function reads the random number of data and not like in .Net 5, specific amount, I rewrote upload function this way:

[code]

Now, seems to me everything works fine. Files uploaded in correct size.

[2022-03-07 11:56] ShreyasJejurkar commented on #40559
You need to have a backend maybe with aspnetcore that will connect to SQL Server instance to get data. And then you can call ASP.NET Core API from blazor wasm to get data.
It's not good practice to directly connect to some database directly from the front-end. This is what the call hierarchy looks like.

Blazor WASM -> ASP.NET Core API -> Connect to SQL instance and grab data and return.

[2022-03-07 12:25] ManickaP commented on #36669
Let's close it then. I just checked and I don't see this particular error in our recent runs. We'll re-open in case we see it again. Thanks.

[2022-03-07 12:25] #36669 closed

[2022-03-07 12:32] javiercn commented on #40559
@hintsofttech As mentioned above, it's not a supported scenario in WebAssembly, you need to use Blazor Desktop for your use case.

[2022-03-07 13:27] nssidhu commented on #40565
@javiercn I did not get what need to be fixed, can you elaborate on what need to be fixed or what fix need to be applied ?

[2022-03-07 13:39] hintsofttech commented on #40559
@ShreyasJejurkar
@javiercn

Dear sirs,
we would like to **directly connect to sql server** **without using web api** in our applications.
our applications **generally do not have more clients to take buden of building api layer for everything**.
is not there any way to connect directly from wasm ?
we need it sir. please suggest the way...

[2022-03-07 15:29] javiercn commented on #40565
https://docs.microsoft.com/en-us/aspnet/core/blazor/progressive-web-app?view=aspnetcore-6.0&tabs=visual-studio#support-server-rendered-pages

[2022-03-07 15:31] astaerk opened #40577 "build fails for new WebAPI project after switching to TargetFrameworks (plural)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a ASP.Net Core Web API project with a reference to 'Swashbuckle.AspNetCore'.
When I switch to TargetFrameworks (plural) in the project file, I get two build errors:

and

C:\Users\<username>\.nuget\packages\microsoft.extensions.apidescription.server\3.0.0\build\Microsoft.Extensions.Api

[2022-03-07 15:38] gyankov commented on #40377
I have created a [sample](https://progresssoftware-my.sharepoint.com/:u:/g/personal/gyankov_progress_com/Eah-GhvaGSpBnJDq7V_ahAQBVbdZYKkPnrAj4GtbbeQ6Tg?e=47NbNb) where the issue replicates. Please note that the assembly is loaded to the default load context but if I try to use a type from the new assembly in a view, an exception is thrown.

I have a follow-up question, how do you unload an assembl

[2022-03-07 16:25] danroth27 commented on #36978
@Kruki Can you confirm you are seeing this issue even when using the multipart bundling approach? Have you also tried https://github.com/stavroskasidis/BlazorWasmAntivirusProtection? Do you have any additional details on what specific firewall software your hitting issues with and what specific check it is doing that is causing blocking issues?

[2022-03-07 16:41] ArturDorochowicz opened #40579 "Performance regression for larger responses in AspNetCore 6.0 with HttpSys and NewtonsoftJson"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When migrating our application from netcoreapp3.1 to net6.0 I noticed a significant performance regression. Our application uses Mvc Core with Newtonsoft Json for serialization/deserialization in requests/responses and is run on HttpSys on Windows. After migration, the net6.0 version is >10 t

[2022-03-07 17:05] BrennanConroy commented on #40573
What client are you using? What version(s)? Are you calling `SendAsync` from the server or the client?
A minimal repro as a github repo would be helpful.

[2022-03-07 17:05] TanayParikh commented on #40568
We believe this is a duplicate of https://github.com/dotnet/aspnetcore/issues/38413. Can you please confirm all your extensions (primarily O#) are updated to the latest. If not, please try the VSCode Insiders build which will should have the requisite fix in https://github.com/microsoft/vscode-js-debug/issues/1190.

[2022-03-07 17:15] TanayParikh commented on #40528
Thanks @jirisykora83 for reporting. The runtime team has created https://github.com/dotnet/aspnetcore/issues/40547 and https://github.com/dotnet/aspnetcore/issues/40548 which should resolve this issue. I'm closing this issue out and will track the fix in those issues.

[2022-03-07 17:15] davidfowl commented on #40579
Eck, good find! As a workaround for now, can you should be able to use a JsonResult via Json to revert to the stream copy:

[code]

[2022-03-07 17:21] mkArtakMSFT commented on #40502
@nZeus can you also try to run the app using `localhost` and see whether the custom hostname is causing the issue for you?

[2022-03-07 17:22] danroth27 commented on #38724
Hi @Bouke. We don't plan to ship a stable version of this package until .NET 7 releases later this year. We unfortunately don't plan to release a stable version of this package based on .NET 6. Right now the team is completely focused on delivering Blazor support for .NET MAUI. Note that the underlying mechanism in Blazor used by this package to enable support for custom elements is part of .NET 6

[2022-03-07 17:31] mkArtakMSFT commented on #40548
@radical can you please clarify what your suggestion here is?
Also, just double checking whether you meant that the initial heap size is indeed too big or small instead?

[2022-03-07 17:37] brunolins16 commented on #40415
@madelson I  agree that the message is not obvious and should not be the same as `A non-empty request body is required`, if the null is not a valid value, the JSON null scenario must fail during the validation instead. With that I agree with make it part of our backlog but I would say it is a `enhancement` instead of a `bug`, since the behavior will not block anymore due to the change in Preview 3

[2022-03-07 17:55] Alerinos opened #40581 "No brotli compression _blazor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

While doing the tests, it showed an error that the page ``_blazor`` does not have data compression.
This is the server side version
![image](https://user-images.githubusercontent.com/42449535/157089917-9db402aa-dc73-4ebc-81e0-6ebd594107d5.png)
![image](https://user-images.githubusercontent.co

[2022-03-07 18:15] apspi opened #40582 "Blazor Standalone WebAssembly with MSAL Microsoft work accounts does not return JWT (access_token)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a use case where we support Microsoft accounts (any org and personal) to log in. The preview version of this is here [https://marketplace.perpetualintelligence.com/](https://marketplace.perpetualintelligence.com/). build with .NET6 and Blazor Standalone Webassembly

We have used the of

[2022-03-07 18:29] brunolins16 commented on #39010
@niemyjski  can you share a sample app, so, I can provide what you need to do.

Right now we do not have plans to backport.

[2022-03-07 18:34] davidfowl commented on #40579
Tweaking the buffer size might be a better solution in your scenario. We avoid the LOH by using pooled and paged memory under the covers. So it shouldn't be a concern, here.

[2022-03-07 18:39] adityamandaleeka commented on #40518
This is expected when you use `UseStatusCodePagesWithReExecute`. The status code you get back is from the re-executed request. You can capture the original status code yourself if you want when it's passed in to the path as '{0}' and set that as the status code on the response (something like this: https://stackoverflow.com/questions/46373668/when-using-usestatuscodepageswithreexecute-statuscode-i

[2022-03-07 19:00] #40435 closed

[2022-03-07 19:05] rafikiassumani-msft commented on #40582
@ameyasubhedar This could be related to your app configuration in Azure AD. Do you mind creating an issue at the following msal repository:https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

[2022-03-07 19:28] rafikiassumani-msft commented on #40161
@vzarytovskii Would you have some time to help with this issue?  We currently have minimal API templates for C# and there might be an interest in F# as well.

[2022-03-07 19:29] ameyasubhedar commented on #40582
@rafikiassumani-msft, My App Configuration seems correct in Azure AD. Not sure what is wrong ? Also created an issue with msal.

[2022-03-07 19:44] rqueizan commented on #24333
Install this package Microsoft.AspNetCore.Mvc.Formatters.Json

[2022-03-07 19:48] nssidhu commented on #40565
@javiercn , Thanks that helped.

[2022-03-07 19:50] erwan-joly commented on #24333
This seems to use newtonsoft from Microsoft.AspNetCore.JsonPatch

[2022-03-07 19:59] rqueizan commented on #24333
![image](https://user-images.githubusercontent.com/18214796/157108270-b1efd03e-dcc3-4add-9d90-5a6fb7df4e95.png)

![image](https://user-images.githubusercontent.com/18214796/157108371-2f4a5cdb-3b66-4bbc-93a4-6e6c4d6ca78e.png)

![image](https://user-images.githubusercontent.com/18214796/157108498-6c740112-d67d-4707-a006-b8e04afbacf5.png)

I am not using Newtonsoft.Json!

[2022-03-07 20:10] erwan-joly commented on #24333
Indirectly your are https://www.nuget.org/packages/Microsoft.AspNetCore.JsonPatch/

[2022-03-07 20:30] Kruki commented on #36978
I will implement these approaches with the next update!

I cannot tell specifically which systems customers are using, because we dont want them to bother to talk with us more about the error, we are glad that it works after they whitelist our software.

I will ask our support team to find out what firewall systems are used by the troubled customers next time!

[2022-03-07 20:32] szalapski commented on #37141
I suppose I'll have to try to reproduce it in a fresh solution, huh? Perhaps I can try someday but it probably won't be reproducible.

[2022-03-07 20:34] rqueizan commented on #24333
You are rigth
      "Microsoft.AspNetCore.JsonPatch/2.2.0": {
        "dependencies": {
          "Microsoft.CSharp": "4.7.0",
          "Newtonsoft.Json": "11.0.2"
        },
        "runtime": {
          "lib/netstandard2.0/Microsoft.AspNetCore.JsonPatch.dll": {
            "assemblyVersion": "2.2.0.0",
            "fileVersion": "2.2.0.18316"
          }
        }
      },

[2022-03-07 21:00] javiercn commented on #40581
@Alerinos thanks for contacting us.

From what I can tell you are using Blazor Server.

It seems to me that you are trying to apply Brotli compression to the underlying SignalR endpoint, which is not something we currently support.

[2022-03-07 21:09] adityamandaleeka commented on #40553
cc: @MaximLipnin @steveisok

[2022-03-07 21:23] adityamandaleeka commented on #40489
@Alex-Torres it looks like you don't have everything installed just yet; you just have the Desktop runtime. Can you go [here](https://dotnet.microsoft.com/en-us/download/dotnet/6.0/runtime) and install the .NET Runtime (on the left) and the Hosting Bundle (on the right)?

[2022-03-07 21:28] HeroinGyrl commented on #40573
I'm using for the client the nuget package `Microsoft.AspNetCore.SignalR.Client 7.0.0-preview.1.22109.13` and a normal blazor server app. I mean everything works but it just dont invoke a parameterless method.

`SendAsync` is called from the client to the server.

`public async Task TestSignalR()` - `SendAsync("TestSignalR")` - `not working`
`public async Task TestSignalR(string content)` - `SendA

[2022-03-07 21:31] michalsznajder commented on #37359
You are my saviour! Since migration to .NET 6 editing Razor files was a chore. Hot Reload does not work for me for this (not sure why - maybe it is problem of my IDE vendor). And Runtime Compilation was always kicking in.

Thank you!

[2022-03-07 21:32] BrennanConroy commented on #40573
Please provide a minimal repro as a github repo.

[2022-03-07 21:35] adityamandaleeka commented on #40494
It looks like IIS was in the process of stopping your worker process which is why your request got that response. To find out why it was recycling, it might be useful to get trace-level logs.

Instructions here: https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/logging-and-diagnostics?view=aspnetcore-6.0#enhanced-diagnostic-logs

[2022-03-07 22:28] Chris-Thompson-bnsf commented on #40361
I got around to re-testing this today with the suggested change of using 6.0.2, and I did get past the IHost building error.

To do this, I had to use an arguably less intuitive workaround than my initial workaround, because of a CS0017 (multiple entry points) build error when trying to define a Program class in an XUnit test project. [This article](https://andrewlock.net/fixing-the-error-program-

[2022-03-07 22:31] rmencia-isv commented on #36978
The Blazor team could implement some code in the loader that when the file doesn't load (it's blocked), it logs the problem. It' could be integrated with Azure Application Insights and the company could gather all that information and find the affected customers. That information can be shared with Blazor team and help find solutions.

Also, at MS, it wouldn't be too difficult to set up a few of t

[2022-03-07 22:34] legistek commented on #36978
Yes I agree. Or even some simple obfuscation. Bit-shifting or XOR.

You may be late to the party, but this has been discussed extensively. The original assemblies are still needed for reflection and other things even with AOT.

[2022-03-07 23:02] rmencia-isv commented on #36978
Additional information from the DLL for reflexion and other things can be generated as a separate file during compile time, and then use it when the application is loaded. Then, the calls to reflexion use the generated metadata instead of accessing any structures in the code at runtime. Everything is already pre-calculated.

I've been doing this for ages when creating my own DSLs using ANTLR. When

[2022-03-07 23:12] TanayParikh commented on #40574
Hello @AmirImam, I haven't been able to repro this issue. Could you please confirm if you were seeing this on Blazor Server or WASM? Could you please provide a minimal, public, github repro project?

[2022-03-07 23:15] danroth27 commented on #36978
The experimental multipart bundle approach we provide is one attempt at doing that. The https://github.com/stavroskasidis/BlazorWasmAntivirusProtection package goes further and changes the MZ headers. For folks that are hitting issues, we need to know if these approaches have already been tried before we explore additional techniques.

[2022-03-07 23:43] stephajn commented on #40177
This needs to be fixed sooner than .NET 7 planning stage.  We are having this exact same issue. .NET 6.0.2 using Azure AD B2C. OnLoginSucceeded fires multiple times, which means that some post-login work we want to do can happen multiple times. It should happen just once and be dependable to fire only once, especially if we need to do any long running tasks during login like downloading some infor

[2022-03-07 23:48] stephajn commented on #39507
I absolutely agree with @AlbertoPa. This should be fixed sooner rather than later.

[2022-03-07 23:59] smartprogrammer93 commented on #39837
I love this proposal. Not kidding, huge improvement. Typical of @SteveSandersonMS .

[2022-03-08 00:04] madelson commented on #40415
Sounds reasonable. Thanks @brunolins16 !

[2022-03-08 00:12] smartprogrammer93 commented on #25274
this have huge value for enterprise applications for this. we use base64 heavily in our application now. i see this as a huge improvement to performance.

[2022-03-08 00:16] HeroinGyrl commented on #40573
sorry, there was a nullable check which caused to stop sending any commands to the server, everything works now.

[2022-03-08 00:16] #40573 closed

[2022-03-08 01:32] legistek commented on #36978
Understood, and I will say - without singling anyone out - that there seems to be more complaining going on here than actual troubleshooting. I have tried it on every system I can - law firms, financial institutions, etc. - and no one is blocking it. I wish I could find one that is. That said, I would still urge a more defensive approach here on your guys' part. In other words, I don't think you n

[2022-03-08 03:17] #40571 closed

[2022-03-08 03:31] hintsofttech commented on #40559
@javiercn

dear sir, if so can you please eleborate the following links directly connecting to sql server ...
1. https://www.youtube.com/watch?v=gHL962D9JQQ
2. https://www.webtrainingroom.com/aspnetcore/blazor-tutorial

please help us to clear our confusions...

[2022-03-08 03:58] ziaulhasanhamim opened #40587 "CLI Hot reload Blazor wasm just doesn't work."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

There were many issues about dotnet watch not working with blazor wasm. #38561, #36723, #40091 etc. It was mentioned there that the issue is fixed in .net 6.0.2. But it's not. The issue is there still. Furthermore, there are no responses now on those issues when it was informed that in .net6.

[2022-03-08 04:31] EmanH commented on #11542
[According to the docs](https://docs.microsoft.com/en-us/aspnet/core/signalr/streaming?view=aspnetcore-6.0#:~:text=Calling%20this%20method%20causes%20cancellation%20of%20the%20CancellationToken%20parameter%20of%20the%20Hub%20method%2C%20if%20you%20provided%20one.) this should be possible.

![image](https://user-images.githubusercontent.com/422748/157166388-02d06562-272b-4a7d-ad75-12bdf2c5db32.png)

[2022-03-08 04:33] TanayParikh commented on #40559
I took a quick look through the links. It appears they're both for Blazor Server (_not_ WASM), which likely explains why they're using a "local" (server) DB.

[2022-03-08 04:33] EmanH commented on #11542
Our use-case is streaming a file download from server to client. The client should be able to cancel the download and stop the file chunks from being sent from the server.

[2022-03-08 04:38] BrennanConroy commented on #11542
File a new issue and show your code.

[2022-03-08 05:23] EmanH commented on #11542
Actually this issue might just relate to how Chrome dev tools does network throttling, which is how we're testing. With network throttling on there seems to be a buffer of events which continues to be sent even after dispose is called. The stream is actually being cancelled on the server. So probably no issue in the real world.

[2022-03-08 05:29] radical commented on #40548
I'm suggesting that we should catch this `RangeError`, and if it is `"Out of memory: wasm memory"`, then:
1. don't fallback;
2. maybe raise an error like `OutOfMemoryError`, which the app can catch, and inform it's user accordingly;
3. And log an error saying that the device doesn't have sufficient heap memory = `value`, and suggesting that they can change the initial heap memory size by setting t

[2022-03-08 07:32] AmirImam commented on #40574
This is a repo for a demo project
https://github.com/AmirImam/BlazorInputFileDemo

To detect the problem:
1- Pick some files
2- Pick some other files
3- Click "Display Images" then the error will be thrown.
If you clicked "Display Images" after first picking, there will be no errors

[2022-03-08 07:57] paulguz-datapa commented on #36978
@danroth27 We already know that Multipart Bundling doesn't work across the board.  And that BlazorWasmAntivirusProtection still can't stop cached DLLs from being flagged (probably because of "application/octet-stream").  A universal, foolproof solution must be found.  Sorry I don't have suggestions of my own, I'm not schooled in such things.

[2022-03-08 10:22] Bobetti commented on #30982
I don't know where to write, but I have a similar problem, so I will describe my situation.

In short -> I need to get logged in user Id from dbcontext, why ->

Inside dbcontext class I have the following method:

[code]

loggedUserService previously worked fine and looks like this ->

[code]

Now, in .Net 6 - httpContextAccessor is not working anymore.

Rewriting the loggedUserService to start us

[2022-03-08 10:55] Lingala-Joshna opened #40590 "Using HttpContextAccessor in Asp.NET Core hosted Blazor Web Assembly throws error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When trying to get the User details in ASPNET Core Hosted Blazor Web Assembly application using HttpContextAccessor it throws the below error

![image](https://user-images.githubusercontent.com/93309503/157224347-7bb79c07-62b5-4303-b9dd-e76b01a22fea.png)

### Expected Behavior

![image](https

[2022-03-08 11:03] vzarytovskii commented on #40161
Hey @rafikiassumani-msft. I would love to have it, but not sure when I will have time to contribute. @KathleenDollard shall we track this in **`dotnet/fsharp`** too?

[2022-03-08 11:09] hintsofttech commented on #40559
@TanayParikh
ok, it means Blazor Server has no problem to connect directly with any database ?

if so, can we  develop **Blazor Hybrid Desktop Maui App using Blazor Server App ?**

[2022-03-08 11:10] javiercn commented on #40590
@Lingala-Joshna thanks for contacting us.

HttpContextAccessor is not available in Blazor Webassembly.

[2022-03-08 11:12] javiercn commented on #40559
@hintsofttech as mentioned in the [comment above](https://github.com/dotnet/aspnetcore/issues/40559#issuecomment-1060827436) the way to achieve your scenario is to use Blazor Desktop.

I would refer to the official documentation rather than third-party documentation that might be obsolete or incorrect.

[2022-03-08 11:53] danielgreen opened #40591 "Allow validation attributes on PageModel itself"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Is this a Bug or Feature request: Feature request

See https://github.com/dotnet/aspnetcore/issues/4911

4 years on from that issue being raised, it is still not possible to have automatic validation of a Razor Pages PageModel.
Having

[2022-03-08 12:17] 1337jazz commented on #13549
Also getting this in VS 2021 17.1.0

[2022-03-08 12:56] Alex-Torres commented on #40489
Hey @adityamandaleeka, thanks for following up.  I previously shared an old screenshot of the runtimes installed, here is the latest:

![image](https://user-images.githubusercontent.com/2220697/157242132-7c360293-3851-4c72-8cfb-5fb3d3b1f430.png)

I also ran repair and I am still having the same issues.

[2022-03-08 13:04] Leonardo-Ferreira opened #40592 ".NET 6 and AKS - how to keep web app from snoozing?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I'm hosting a rest api using .NET 6, hosted on AKS using the official image (mcr.microsoft.com/dotnet/aspnet:6.0).

During the day, when the traffic is crazy, the response avg response time for operation X rarely goes above 200ms, with the 99th percentile under 1sec. But during the middle of

[2022-03-08 13:16] razackreds opened #40593 "After updating to .Net6 An unhandled exception occurred while processing the request. <component type="typeof(App)" render-mode="ServerPrerendered" />"
NullReferenceException: Object reference not set to an instance of an object.
Microsoft.AspNetCore.Components.Routing.Router.Refresh(bool isNavigationIntercepted)

Stack Query Cookies Headers Routing
NullReferenceException: Object reference not set to an instance of an object.
Microsoft.AspNetCore.Components.Routing.Router.Refresh(bool isNavigationIntercepted)
Microsoft.AspNetCore.Components.Routi

[2022-03-08 13:31] Lingala-Joshna commented on #40590
Hi @javiercn ,

Thanks for the update.

Is there any possibility that HttpContextAccessor can be used in AspNet Core Hosted Webassembly application to get the User details.

Regards,
Joshna

[2022-03-08 13:42] Bouke commented on #40518
@adityamandaleeka thank you for taking the time to respond. I understand that I can use a dynamically generated page to have the correct status code. My bug report is that I'm using `StaticFilesMiddleware`, which always returns 200. So does this mean that I cannot use `UseStatusCodePagesWithReExecute` with `UseStaticFiles` and have the correct response status code?

[2022-03-08 13:54] nZeus commented on #40502
I've tried both `localhost`, and the `Hot Reload` buttons. Still doesn't work.

My launchSettings:
[code]
Hot Reload menu:
![image](https://user-images.githubusercontent.com/2727326/157250706-d744025d-5667-446a-b794-27ee7184b024.png)

I noticed that sometimes it works until I do 1 very simple change (in HTML part only, not CS!). After that I have to restart the app

[2022-03-08 14:11] javiercn commented on #40593
@razackreds thanks for contacting us.

Could you provide a minimal repro project as a public github repository that recreates the issue so that we can make progress?

[2022-03-08 14:41] davidfowl commented on #40592
.NET apps don’t go to sleep when running on Kubernetes. I have apps using .net 6 running for days and I don’t see this behavior…

[2022-03-08 15:15] nvmkpk commented on #36978
I wish .net stop using the PE format and introduce a new format that work across all supported platforms.

[2022-03-08 15:33] vanillajonathan opened #40594 "Use Vite in the SPA templates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

[Vite](https://vitejs.dev/) is a front end tooling with lightning fast Hot Module Replacement (HMR).
Instead of recompiling the whole application it just replaces the module that changed, this makes it very fast, especially for larger

[2022-03-08 16:03] gregoryagu opened #40595 "Blazor Server App fails to restart when restarted by IIS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Steps to Reproduce:

1) Publish Blazor Server App running AspnetCore 6 to local IIS Server.

2) App runs successfully for some hours used by about 10 Customer Service reps on the local network.

3) IIS shuts down the app. Checking the Event Log shows an event is logged whereby the app crashed

[2022-03-08 16:09] quan0zhou opened #40596 "Build ASP.NET Core from Source error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug
The download is for the main branch code
When I run` . \restore.cmd` the end result shows an error

![image](https://user-images.githubusercontent.com/27860834/157276413-01074f30-6e15-4864-80f0-020a103ceacb.png)

Failed to install dotnet from any of the specified locations.
C:\Users\Administra

[2022-03-08 16:10] quan0zhou commented on #40596
The download is for the main branch code

[2022-03-08 16:54] javiercn commented on #40594
@vanillajonathan thanks for contacting us.

We don't plan to deviate from what the default angular/react experience offers. We will consider updating to vite if they do so within `ng new` or `create-react-app`

[2022-03-08 17:46] fingers10 commented on #36978
@danroth27 , I'm using [Microsoft.AspNetCore.Components.WebAssembly.MultipartBundle](https://www.nuget.org/packages/Microsoft.AspNetCore.Components.WebAssembly.MultipartBundle) in my blazor wasm project.

After publish, I'm running the app in my local machine via `IIS`, when I run my app, it works but I get the following error logged in console,

Microsoft.AspNetCore.Components.WebAssembly.Multipa

[2022-03-08 17:49] javiercn commented on #40591
@danielgreen thanks for contacting us.

Unfortunately, we haven't changed or mind from the issue you linked to. There are problems with doing this regarding accidentally validating deep object graphs that we don't think set up people for success.

[2022-03-08 17:49] #40591 closed

[2022-03-08 17:53] javiercn commented on #40502
@mkArtakMSFT can you follow up here? This seems to be related to VS and not the CLI

[2022-03-08 17:54] guardrex commented on #36978
@fingers10 ... Not sure if it will help in this specialized case, but the guidance for the problem in a general case is at ...

https://docs.microsoft.com/aspnet/core/blazor/host-and-deploy/webassembly#diagnosing-integrity-problems

[2022-03-08 18:08] BrennanConroy commented on #8721
Done via https://github.com/aspnet/SignalR-Client-Cpp/pull/77

[2022-03-08 18:08] #8721 closed

[2022-03-08 18:33] dcwhittaker opened #40598 "Microsoft Security Advisory CVE-2022-24464 | .NET Denial of Service Vulnerability"
Microsoft Security Advisory  CVE-2022-24464 | .NET Denial of Service Vulnerability
## <a name="executive-summary"></a>Executive summary
Microsoft is releasing this security advisory to provide information about a vulnerability in .NET 6.0, .NET 5.0, and .NET CORE 3.1. This advisory also provides guidance on what developers can do to update their applications to remove this vulnerability.
Microsoft

[2022-03-08 18:52] MihaZupan opened #40599 "Horizontal tabs should be allowed in header values"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

According to RFC, valid characters for a header value are visible ASCII characters (VCHAR), SP and HTAB.

https://datatracker.ietf.org/doc/html/rfc7230#section-3.2
[code]

Kestrel allows VCHAR and SP, but prohibits HTAB.
https://github.com/dotnet/aspnetcore/blob/84c8d0f93cc4b6fbce1367ffc366a1

[2022-03-08 18:53] MihaZupan commented on #40599
cc: @suwatch @Tratcher @adityamandaleeka

[2022-03-08 18:53] wtgodbe commented on #40596
Could be a transient issue with dotnet-install, @dotnet/dnceng is there a known outage?

[2022-03-08 19:26] dougbu commented on #40596
@quan0zhou the other possibility is you have an older version of the dotnet-install.ps1 script in your E:\Code\aspnetcore-main\.dotnet\ folder. Please remove that file and try again.

If it matters, I was able to restore everything w/o error earlier today.

[2022-03-08 19:34] #36331 closed

[2022-03-08 21:16] TanayParikh commented on #40574
Hey @AmirImam, I took a look through your code, and it's because of:

https://github.com/AmirImam/BlazorInputFileDemo/blob/ecdc44893072feb096bdacd531583504e0285878/BlazorInputFileDemo/Pages/Index.razor.cs#L18

File references are reset every-time the user selects a new set of files. They are not cumulative.

ex: `source = e.GetMultipleFiles().ToList();` fixes the issue as you aren't using the file

[2022-03-08 22:00] #40581 closed

[2022-03-08 22:09] missymessa commented on #40596
It looks like this on your personal machine? Have you followed the instructions @dougbu provided?

[2022-03-08 22:14] adityamandaleeka commented on #40238
Done in #40585

[2022-03-08 22:14] #40238 closed

[2022-03-08 22:21] rafikiassumani-msft commented on #40579
Triage: This might be related to the following issue: https://github.com/dotnet/aspnetcore/issues/21245

[2022-03-08 22:36] dazinator commented on #40264
Just wondering if this item should be closed? I was just about to open another ticket as I saw this was closed but the issue persists...

[2022-03-08 22:44] BrennanConroy commented on #40536
All the state transitions have a hook already so you can implement this feature yourself.
Connected state is when HubConnection.start completes
Disconnected state is when HubConnection.onClosed is called

And those are the only two interesting states today.

[2022-03-09 00:06] mrjrdg opened #40603 "Action method return badrequest if parameter are not provided"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Since every version of ASP.net, when i sent a request to a specific action method inside a controller even without parameter it worked. Now if i do not provide all the parameters for a specific method it return bad request. it doesn't matter if i specify string? param or string param = "value

[2022-03-09 00:20] mrjrdg commented on #40603
Ok i solve my problem i don't know why it didn't work the first time but if i put a '?' after the parameter it work finally.

[2022-03-09 00:20] #40603 closed

[2022-03-09 02:09] xendren commented on #30685
Is there any way to escalate this or at least confirm if it only relates to debugging?  I'm trying to evaluate whether our company should use Blazor, Mudblazor, or choose something else.  Unfortunately, I have just encountered this bug with the stock Mudblazor and Blazor project templates from "dotnet new".  All you have to do to make it fail is to change the "ASPNETCORE_ENVIRONMENT" variable to s

[2022-03-09 02:14] ziaulhasanhamim commented on #40587
dotnet new blazorwasm

[2022-03-09 02:28] quan0zhou commented on #40596
Contents of the dotnet-install.ps1 file
[dotnet-install.txt](https://github.com/dotnet/aspnetcore/files/8211142/dotnet-install.txt)

[2022-03-09 02:30] lzxyz commented on #24614
Always collecting again, never in action

[2022-03-09 03:55] davidfowl commented on #40592
I can't explain it either but applications do no go to sleep when running in aks, or at least, it has nothing to do with ASP.NET Core.  I think you're going to have to narrow it down by collecting metrics and maybe adding more logs *and* collecting traces/profiles that might reveal more clues as to what's going on.

I'll re-run my experiment right now an update with the results 30 mins from now wh

[2022-03-09 04:13] quan0zhou commented on #40596
I found the reason, it just so happens that the paragraph reporting the error is `\aspnetcore\.dotnet\x86\dotnet-install.ps1 `execution, I know by printing the marker
![image](https://user-images.githubusercontent.com/27860834/157370328-6bf1418a-01c2-489d-962d-15f36024fdb2.png)
Because in dotnet-install.ps1 I modify this script, at line 1073 of the code, On my computer $diskInfo.Free / 1MB = 0, so

[2022-03-09 04:13] #40596 closed

[2022-03-09 04:46] hintsofttech commented on #40559
sir, then for web we have develop the same thing again using web api.
that's not we wanted. we wanted develop once run anywhere like things...

[2022-03-09 05:55] AmirImam commented on #40574
Thank you, but this `source = e.GetMultipleFiles().ToList();` doesn't fix the issue if the user wants to add new files to picked files. I mean maybe sometimes he forgot to add a file so he will click again and pick it, and I have to add it to the source. In this case, the error will be thrown

[2022-03-09 06:34] nextfool opened #40607 "Be able to override "SendByteArray","ReadJSDataAsStreamAsync" and "TransmitStreamAsync" in subclass of JSRunTime"
Hi, I need to implement a custom JsRuntime,  to save some work, I just created a subclass of the JSRunTime class.
Noe the only problem is that, unlike the two methods defined in the IJSRuntime interface, some methods ("SendByteArray","ReadJSDataAsStreamAsync" and "TransmitStreamAsync") defined in JSRunTime abstract class have the "internal" accessor, which prevent them from being overridden.

Can

[2022-03-09 07:11] ameyasubhedar commented on #38082
Facing the same issue with Blazor Webassembly  .NET6 deployed on Linux via GitHub pages.

`<PublishTrimmed>false</PublishTrimmed>` was not sufficient, had to follow additional https://github.com/rafgraph/spa-github-pages for MSAL to work..

[2022-03-09 07:45] nuteman1 commented on #40465
My bad: We had an instance deployed from years ago that was running outdated code that I wasn't aware of, The clients that happened to connect to that instance were experiencing the problem (as in the old OnConnectedAsync the association of connection ID to group was not happening according to the new/updated approach). And it was intermittent as it only happened for those client connecting to the

[2022-03-09 07:45] #40465 closed

[2022-03-09 08:25] Mrlten opened #40608 "Blazor server - Using IJSStreamReference after browser reconnect throws "Cannot send data if the connection is not in the 'Connected' State""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In our application we use `IJSStreamReference`s to transfer data (Blobs) from the browser to the server. We've found the following bug in that functionality:

When you've used a `IJSStreamReference` in the current Blazor session, let the browser lose its connection (so the reconnect message i

[2022-03-09 08:43] marcoCasamento commented on #40494
Thanks, I've lowered the debugLevel to FILE,TRACE as indicated in the link. I haven't spotted anything strange in the log, but I'm posting it here in the hope someone else can find a clue.

[2022-03-09T08:36:45.696Z, PID: 34804] [aspnetcorev2.dll] Resolving hostfxr parameters for application: 'dotnet' arguments: '.\Sagrada.Web.dll' path: 'C:\inetpub\wwwroot\'
[2022-03-09T08:36:45.700Z, PID: 34804]

[2022-03-09 08:50] georgiosd commented on #28526
@ststeiger @Tratcher very illuminating! This is exciting. What is the recommended setup to make it work with HTTP2? Any references welcome.

[2022-03-09 09:18] LionelVallet opened #40609 "Can't get RazorPageOptions from DI with version 6.0.3 of Mvc.Razor.RuntimeCompilation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Getting `RazorPageOptions` from dependency injection with `AddRazorRuntimeCompilation()` called on `ServiceCollection` throws an exception preventing the application to start because the `Conventions` property is null. When using `MapControllerRoute()` for example.

This issue came up with th

[2022-03-09 10:00] #39592 closed

[2022-03-09 10:10] andrew-tevent opened #40610 "Blazor Wasm Authentication broken when window.opener is set (from anchor with target)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If you follow a link to my Blazor site using an anchor which causes the `window.opener` to be set, then the authentication will never work in that new browser tab.

e.g. `<a href="https://myblazorapp/" target="_new">My Blazor App</a>`

In the [AuthenticationService.ts](https://github.com/dotn

[2022-03-09 10:20] brischt commented on #39592
@javiercn Do you still need a repro from me, or is @fingers10 's repro sufficient?

[2022-03-09 10:45] MaximLipnin commented on #40553
At first glance, PNSE in System/Console.cs on Mono side seems to be expected behavior - at least there has not been any relevant changes for a couple of years.

[2022-03-09 11:28] SteveSandersonMS commented on #40607
Those methods are all `protected internal virtual` which means you *can* override them in a subclass.

This code compiles without problems:

[code]

[2022-03-09 12:07] Sebbs128 opened #40611 "Blazor WebAssembly won't start using WebAssembly.DevServer v6.0.3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using the latest version (v6.0.3) of the Microsoft.AspNetCore.Components.WebAssembly.DevServer package, a Blazor WebAssembly app is unable to be started from within Visual Studio.

The error below appears
![image](https://user-images.githubusercontent.com/20781632/157437896-d1150add-1e3b

[2022-03-09 12:29] LukeTOBrien commented on #35077
Hello. I would just like to add my use case to your discussion.
I am working on an online web app that creates HTML presentations, similar to [RevealJS](https://revealjs.com/).
I would like to create an offline app using MAUI but ideally I don't want to run the HTML file from the file system, ideally I want to spin up a web server and then copy the files there.
The HTML presentation and asset file

[2022-03-09 12:40] andrew-tevent commented on #40610
There is a potential workaround - but it seems a bit flaky as it is an indirect fix.

Prevent other sites from setting themselves as `window.opener` with this header:

`Cross-Origin-Opener-Policy: same-origin`

[2022-03-09 13:31] fingers10 commented on #39592
@javiercn please can you assist? Is this fixed? The status has been changed to closed.

[2022-03-09 14:04] andrew-tevent commented on #39412
Agree, `AuthenticationService.js` should have config options which allow the `Oidc.Log.Logger = console` and `Oidc.Log.LogLevel = ?`.  This would at least be a start.  It's a pain that you have to build a custom version of `AuthenticationService` to turn the OIDC logging on.

[2022-03-09 14:11] jsakamoto opened #40640 "Blazor 6 : "Microsoft.TypeScript.MSBuild" and a collocated JavaScript file with a .razor file cause a build error on the Ubuntu"
### Describe the bug

On the Ubuntu Linux 20.04 LTS, for a Blazor WebAssembly project (.NET 6) with the following conditions, 2nd time or later of execution, `dotnet build` command causes the build error "Two assets found targeting the same path with incompatible asset kinds".

- The project references "Microsoft.TypeScript.MSBuild" NuGet package.
- The project contains .razor.js files that are co

[2022-03-09 14:19] dscaravaggi opened #40612 "Websocket .net core detect when client looses internet connectivity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi all,
sorry to ask again about: [https://github.com/dotnet/AspNetCore.Docs/issues/9053](https://github.com/dotnet/AspNetCore.Docs/issues/9053) , but I'm experiencing the following scenario

1. if for any reason I got a primary issue in Layer 3 core switches or maintenance I got mor or less

[2022-03-09 14:23] dscaravaggi commented on #40612
refer https://github.com/dotnet/AspNetCore.Docs/issues/25256

[2022-03-09 14:28] space-alien opened #40613 "WebApplicationOptions.WebRootPath is ignored if a wwwroot folder exists"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If a `wwwroot` folder exists, content is served from that location even though `WebApplicationOptions.WebRootPath` has been specified.

In my development environment, I want to serve my web app from uncompiled sources. In production, my web app is compiled into the `wwwroot` folder. I switch

[2022-03-09 15:08] philip-reed opened #40614 "Microsoft.AspNetCore.Mvc.Testing is broken in SDK 6.0.201"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

`ObjectDisposedException` thrown when trying to use the `WebApplicationClient` targeting SDK 6.0.201.
When reverting to SDK 6.0.200, the issue goes away.

### Expected Behavior

`ObjectDisposedException` should not be thrown.

### Steps To Reproduce

Write any test that calls `WebApplicationF

[2022-03-09 15:09] philip-reed commented on #40614
https://github.com/dotnet/core/issues/7259

[2022-03-09 15:10] martincostello commented on #40614
This might have been introduced by https://github.com/dotnet/runtime/pull/63816.

[2022-03-09 15:12] martincostello commented on #40614
FWIW, a more detailed repro might be needed to narrow down what's different in your app that causes this. I use `Microsoft.AspNetCore.Mvc.Testing` extensively and didn't observe any issues with it when validating the fix or ingesting it yesterday with the 6.0.3 update.

[2022-03-09 15:14] Kruki commented on #36978
I had a case today and found out that the customer is using "Barracuda CloudGen Firewall".
I was told that their firewall (with a strict security policy configured) is just not allowing .dll sideloading at all.

[2022-03-09 15:22] Meyce opened #40615 "Receiving a 401 on negotiate request to a secured signalR hub in browser"
I have set up an api with a signalR hub.  I have the hub set with an authorize attribute and have enabled Jwt authentication so that access tokens can be used for authentication/authorization.  I've noticed a difference in the behavior between a C# client and .js client in the browser.  Both clients make a request to a `/negotiate` endpoint.  So for a hub mapped to `/hubs/secure/test` both clients

[2022-03-09 15:24] philip-reed commented on #40614
Fair enough. I'll see what I can do.

[2022-03-09 15:30] tndata opened #40616 "CORS preflight requests is not properly evaluated? + unclear CORS documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When I add CORS to my application and I specify a policy, for example:

[code]

Then my browser makes a preflight request to the API using:

[code]

Then the ASP.NET Core 6 (latest) returns

[code]

I am surprised that the server OK's this request where the allowed methods does not match.

th

[2022-03-09 15:34] TanayParikh commented on #40574
This isn't a supported use case out of the box for the InputFile component, nor for the underlying HTML inputfile. The default behavior is always to replace the selection of files.

You'll have to implement this functionality within your user code if this is a scenario you're looking to support. You may wish to simply add additional InputFile components to support adding additional files, or cachi

[2022-03-09 15:55] pranavkm commented on #40611
The DevServer typically requires a corresponding version of the ASP.NET Core shared runtime to be installed. Do you happen to have to have the 6.0.201 SDK / 6.0.3 ASP.NET Core runtime installed?

[2022-03-09 16:00] #40590 closed

[2022-03-09 16:06] philip-reed commented on #40614
Repro here.
Looks like an issue with Convey.

https://github.com/philip-reed/40614

[2022-03-09 16:10] martincostello commented on #40614
I believe it'll take a reference on whichever version of the shared framework for that major version at runtime. There's nothing specific shown in the [dependencies tab](https://www.nuget.org/packages/Convey/) for Microsoft.AspNetCore.App.

[2022-03-09 16:11] mumby0168 commented on #40614
Does it look like it's anything to do with `Configuration` something special `Convey` is doing maybe?

[2022-03-09 16:17] martincostello commented on #40614
There's nothing in particular I can see from a quick glance at the code that's doing much with `IConfiguration` other than [this](https://github.com/snatch-dev/Convey/blob/eed6999d518c2bdc7014380d232ef75a000bc4c0/src/Convey/src/Convey/ConveyBuilder.cs#L17-L28), I'm not familiar with Convey though.

[2022-03-09 16:18] mumby0168 commented on #40614
I've spotted a dependency convey takes on Scrutor which is quite old looking at this ->

https://www.nuget.org/packages/Scrutor/3.3.0

[2022-03-09 16:19] mumby0168 commented on #40614
I've asked the creators on `Convey` to see if they can add anything to this chat. Does seem odd that it would break given it's only a minor version bump 🤔

[2022-03-09 16:20] TanvirArjel opened #40617 "Children could not evaluated in Blazor Web Assembly."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Getting the response as from the API correctly but whenever trying to deserialize  the JSON it's saying **Children could not be evaluated** while trying to debug as follows:

[code]

Then I have checked with following code:

[code]

### Expected Behavior

The item should be seen in debugging.

[2022-03-09 16:21] martincostello commented on #40614
You can see in the issue I linked to that there was quite a large refactor done under the hood in 6.0.3 to fix a deadlock.

[2022-03-09 16:23] philip-reed commented on #40614
Looks like the issue isn't related to only the WebHostFactory.
The exception is also thrown at runtime.

![image](https://user-images.githubusercontent.com/7798175/157484506-e3673828-ac14-481e-91cb-522d9269a36a.png)

[2022-03-09 16:32] danroth27 commented on #36978
Thanks @Kruki for these additional details!

Can you clarify what you mean by sideloading the DLLs? Are the DLLs blocked from being downloaded on the network? Or are they blocked in some other way?

[2022-03-09 16:39] Meyce commented on #40615
I think I've found the problem.  The difference is in the order of middleware registration.  Of which I don't think my original post was accurate.

I have the problem if CORS is registered after authentication/authorization.

If code is like

[code]

the the result is a 401 on the `/negotiate` call.

Once changed to
[code]
The negotiate call does not require authentication, and the subsequent webs

[2022-03-09 16:39] #40615 closed

[2022-03-09 17:06] BrennanConroy commented on #40614
Minimal repro without Convey:
[code]

[2022-03-09 17:23] mkArtakMSFT commented on #40610
Thanks for contacting us.
For now you can try to add the `rel="noopener"` attribute to the `<a>` tag.

[2022-03-09 17:31] danroth27 commented on #40587
@ziaulhasanhamim How often does this happen for you? I tried these steps several times, but I always ended up with `Baseline` and hot reload worked fine. Have you noticed anything that might be causing the capabilities to not get identified correctly?

[2022-03-09 17:49] twsouthwick commented on #40078
@VenkateshSrini There's some VS tooling to enable the YARP integration as well as some runtime changes being explored. The list  in the first comment contains the areas being explored currently as part of this theme. For more details on them, you can click on the associated link.

[2022-03-09 17:59] shpsyte commented on #7246
It's impossible to work with .net Core on Linux!

[2022-03-09 18:29] wfurt commented on #7246
Why not? The claim does not have enough details. While there is no automatic creation and trust for dev certificate, you can use user distro tools to create one - just like you would for production.

[2022-03-09 18:43] TanayParikh opened #40619 "Quarantine ShadowCopyE2EWorksWithOldFoldersPresent"
## Failing Test(s)

- Microsoft.AspNetCore.Server.IIS.FunctionalTests.ShadowCopyTests.ShadowCopyE2EWorksWithOldFoldersPresent

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[ShadowCopyTests_ShadowCopyE2EWorksWithOldFoldersPresent.log](https://github.com/dotnet/aspnetcore/files/8217296/ShadowCopyTests_ShadowCopyE2EWorksWithOldFoldersPresent.log)

</detai

[2022-03-09 19:00] #40594 closed

[2022-03-09 19:06] abdollahkahne opened #40621 "Invoking an static method of JS Class inside OnAfterRenderAsync in First Render throw undefined class error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I try to define a **js class** with **static** methods and then invoke one of its static methods through `JSInterop` in Blazor `WebAssembly` Razor Components inside `OnAfterRenderAsync`. It give an error that the method is not exist since the class is undefined.
Example:
1- JS Class (I placed

[2022-03-09 19:08] guardrex commented on #40621
@abdollahkahne ... See my answer on the docs issue that you opened for this. Your JS is in the wrong spot. This issue can be closed.

[2022-03-09 19:19] abdollahkahne commented on #40621
Thanks. I checked it too. It give me error yet. I think there is something related to JS Whoisting of Class which do not do as it do for other variables. By the way I test both approaches and I get the error in both.

[2022-03-09 19:23] javiercn commented on #40621
@abdollahkahne can you create a minimal repro project as a public github repository so that we can make progress in determining if there's something wrong here?

[2022-03-09 19:28] Kruki commented on #36978
The only thing i got was a screenshot from their firewall which looks like this:

![image](https://user-images.githubusercontent.com/40911910/157516735-44de258f-9f6e-44a8-9108-7d89a1c1d719.png)

I would say they are probably blocked from being downloaded.

[2022-03-09 19:43] legistek commented on #36978
In my experience with this in the context of our Win32 application, the firewalls block downloading entirely while other client-side software prevents installation or execution. Fortunately we don't have to worry about the latter in this case.

[2022-03-09 19:43] Kruki commented on #36978
Unfortunately the customer provided not much information, just that sideloading dlls is prohibited by their security policy. Then i got the following screenshot. For me this sounds like they are blocking it right away from being downloaded.
![screenshot firewall censored](https://user-images.githubusercontent.com/40911910/157519359-38a2d7d5-79b4-4eaa-8a11-0e8edf1ccf78.png)

[2022-03-09 19:50] abdollahkahne commented on #40621
I added a minmal project here:
[Link to GitHub](https://github.com/abdollahkahne/JSStaticMethods)
I do not upload bin and obj folder due to their size. Is they are necessary?!

[2022-03-09 19:54] javiercn commented on #40621
@abdollahkahne you need to add the class to the window object, otherwise it's not globally defined and Blazor can't find it.

[2022-03-09 19:55] javiercn commented on #40621
`window.JSLibrary = JSLibrary`

[2022-03-09 20:11] #40185 closed

[2022-03-09 20:11] #40260 closed

[2022-03-09 20:11] #40621 closed

[2022-03-09 20:52] TanayParikh opened #40626 "Quarantine StreamPool_StreamIsInvalidState_DontReturnedToPool"
## Failing Test(s)

- Microsoft.AspNetCore.Server.Kestrel.Core.Tests.Http2ConnectionTests.StreamPool_StreamIsInvalidState_DontReturnedToPool

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

[Http2ConnectionTests_StreamPool_StreamIsInvalidState_DontReturnedToPool.log](https://github.com/dotnet/aspnetcore/files/8218205/Http2ConnectionTests_StreamPool_StreamIsInvalidSt

[2022-03-09 20:54] TanayParikh opened #40628 "Quarantine ConfigurationChangeStopsInProcess"
## Failing Test(s)

- Microsoft.AspNetCore.Server.IIS.NewHandler.FunctionalTests.ShutdownTests.ConfigurationChangeStopsInProcess

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

[ShutdownTests_ConfigurationChangeStopsInProcess.log](https://github.com/dotnet/aspnetcore/files/8218159/ShutdownTests_ConfigurationChangeStopsInProcess.log)

## Build

https://dev.azure.com

[2022-03-09 20:57] Leonardo-Ferreira commented on #40592
Yes I'm using ingress, a standard NGINX:
[code]
Unfortunately, no I can't try to reproduce without ingress... my DevOps guy says that an ingress is mandatory, something to do with AKS using internal IPs for the pods...

[2022-03-09 21:11] bc3 commented on #40614
we have a sort a like problem, and got a work around, see my findings in the other issue: https://github.com/dotnet/core/issues/7259#issuecomment-1063359412

[2022-03-09 21:11] stephajn commented on #40163
I am experiencing this problem with the built in AuthenticationStateProvider in Blazor WASM.  It seems like the entire flow of signing a user in causes all of these moving pieces to fire an unpredictable number of times over and over and over again even when nothing has changed.

There is a serious problem with the framework here as has been reported by numerous other users on different issues, al

[2022-03-09 21:12] senbar commented on #40415
@madelson have You started working on this, or is it up for grabs still?

[2022-03-09 21:16] Sebbs128 commented on #40611
Thanks @pranavkm.

Not in any of VS's output windows. Some how I had missed the console window that had been launched, and the error message is in that.

Updated sdk and runtime and it works as expected.

[2022-03-09 21:16] #40611 closed

[2022-03-09 21:21] adityamandaleeka commented on #40553
@MaximLipnin Can you share a link to that code? I'm also curious why this would only happen when there's no CancellationToken specified in their RunAsync code.

[2022-03-09 21:25] adityamandaleeka commented on #40494
You can try using Failed Request Tracing in IIS to get more info about why your requests are failing. Se here for more info: https://docs.microsoft.com/en-us/iis/troubleshoot/using-failed-request-tracing/troubleshooting-failed-requests-using-tracing-in-iis-85

[2022-03-09 21:33] adityamandaleeka commented on #40518
You might be able to write middleware to do this. Unfortunately there's no built-in way to make UseStatusCodePagesWithReExecute preserve the original status code.

[2022-03-09 21:35] steveisok commented on #40553
@adityamandaleeka This appears to be specific to RunAsync implementation and not within xam.mac. It looks like the expectation is to wait for ctrl+c to cancel.  That's something that is not supported.

[2022-03-09 21:41] BrennanConroy commented on #40553
Where is that specified? Can the affected APIs be attributed with `UnsupportedOSPlatform[Xamarin.Mac]` (or whatever the appropriate tag is)?

[2022-03-09 21:44] HaoK commented on #40489
Other than making sure you retry everything in htps://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-6.0#troubleshoot-on-iis) and see if anything new is in the std out logs or event viewer...

The lowest level you can go is turning on CORHOST_TRACE=1/CORHOST_TRACEFILE=somefile.txt to see if its even trying to load the clr: https://docs.microsoft.com/en-us/dotnet/c

[2022-03-09 21:47] davidfowl commented on #40592
I would spent some time on an isolated deployment with ingress. I'm betting it has to do with keep alive timeouts. My vanilla ASP.NET Core application on aks doesn't see this behavior. You might need to tweak the nginx settings.  https://linuxhint.com/what-is-keepalive-in-nginx/

[2022-03-09 21:59] steveisok commented on #40553
This version of xam.mac is coming from mono, which is older and does not have the attributes / support for the analyzer.

The attributes / analyzer, I believe, started in .NET 5.

[2022-03-09 22:01] BrennanConroy commented on #40616
The CORS spec specifies a few methods (the ones above) that are "safe" and browsers will basically ignore the `Access-Control-Allow-Methods` response header if any of those methods are used. As soon as you try something like "CUSTOM" you will see that it fails.

[2022-03-09 22:37] danroth27 commented on #36978
Thanks @Kruki! And can you confirm that the app is already using the preview multipart bundling to deliver the app?

[2022-03-09 22:37] davidivkovic commented on #40587
Not sure this is the right place, but figured it would be better than opening a new issue.
A similar problem occurs when running `dotnet watch` for a webapi inside a docker container on wsl2.
Works fine on the host Windows machine, but not inside the container.
Dotnet version 6.0.201

[code]

[2022-03-09 23:14] uecasm opened #40630 "Pseudo-locales don't work in Blazor WebAssembly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

After creating and publishing resources for `qps-ploc` and setting the default thread locale to it, Blazor WebAssembly's `IStringLocalizer` will render the default language instead.  Other languages work as expected.

### Expected Behavior

The `qps-ploc` locale should work as well (as should

[2022-03-09 23:14] uecasm opened #42258 "Pseudo-locales don't work in Blazor WebAssembly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

After creating and publishing resources for `qps-ploc` and setting the default thread locale to it, Blazor WebAssembly's `IStringLocalizer` will render the default language instead.  Other languages work as expected.

### Expected Behavior

The `qps-ploc` locale should work as well (as should

[2022-03-10 00:04] madelson commented on #40415
@senbar go for it. I haven't picked it up.

[2022-03-10 00:12] xuhaohems opened #40631 "Visual Studio React template project doesn't work with hook based components - Error: Invalid hook call"
I am using the React web application template in Visual Studio 2022 to create a web project. Right after project is created, I installed a component that’s implemented with hooks, e.g. React-Bootstrap by package management command -
npm install react-bootstrap bootstrap@5.1.3

Then I import it to home.js -

import Button from ‘react-bootstrap/Button’;
and add an element -

<div>
<Button variant=“p

[2022-03-10 00:42] Pilchie commented on #40631
Hi - this doesn't seem to be an ASP.NET Core question, but rather something about react.  Unfortunately, that's outside the scope of our team.

Can you say exactly which template title you created?

[2022-03-10 01:00] #40421 closed

[2022-03-10 01:00] #40536 closed

[2022-03-10 01:00] #40417 closed

[2022-03-10 01:01] mahmoudahmedarafa opened #40632 "Authorize attribute does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have a "Buy" method in "CartController" class decorated with "Authorize" attribute, yet the user can access it even if they are not
logged in.

[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No response_

### .NET Version

_No

[2022-03-10 01:40] xuhaohems commented on #40631
This is about the ASP.Net Core with React.js template (C#)
The template generated can't work with any hook based component. You can follow the step to repro the issue.

[2022-03-10 03:09] BrennanConroy commented on #40632
Share a minimal repro app as a project on GitHub.

[2022-03-10 03:22] ziaulhasanhamim commented on #40587
Whenever the build takes longer it happens. Maybe it's a timeout problem. I have seen @pranavkm mention [that](https://github.com/dotnet/aspnetcore/issues/38561#issuecomment-979419641). And maybe your machine has great hardware resources so it doesn't happen.

[2022-03-10 03:28] Pilchie commented on #40631
Thanks for confirming. Unfortunately, our team are not react developers, and can't really help debug issues with the react part of the template.  We mostly just take the output of a new react project and add it to the template.

[2022-03-10 04:43] frankyuan commented on #40614
Looks like the issue is related to the below code

[code]

[2022-03-10 04:44] BrennanConroy commented on #40614
If that's your scenario it's covered by my initial comment https://github.com/dotnet/aspnetcore/issues/40614#issuecomment-1063154634

[2022-03-10 04:49] frankyuan commented on #40614
Cool, thanks for your help!

[2022-03-10 05:51] markdchurchill commented on #30215
This also occurs using AWS Cognito auth, as it sets `X-Frame-Options: Deny`.

The proposed fix would also help out with this situation, and Cognito is a major IdP in the space.

[2022-03-10 06:54] NinjaCross commented on #39095
Sorry, very busy period, I couldn't pursue this :(
We just "solved" the problem using the workaround mentioned into the first message, and since it works, we did not investigate further, nor had the time the create a reproduction test report.
I'm afraid I'll have to abandon the issue.
Feel free to close it if you believe it's not relevant.

Anyway, @BrennanConroy I'm still very interested in your

[2022-03-10 07:04] Kruki commented on #36978
@danroth27 I cannot confirm this, because we were whitelisted before using this package. I just wanted to provide some info. Understandably i don't want the customer to take us out of whitelist again to test this.

[2022-03-10 07:07] pr-benchmarks[bot] opened #40634 "Blazor time to first UI regression: blazorwasmbenchmark"
| Scenario | Environment | Date | Old (ms) | New (ms) | Change | Dependencies |
| -------- | ----------- | ---- | -------- | -------- | ------ | ------------ |
| blazorwasmbenchmark [Fixed] |  | 03/09/2022 03:18:53 | 289 | 292 | 1.52 % (4)  :thumbsdown: | <details>    <summary>Changes</summary>     <table><th>Name</th><th>Version</th><th>Diff</th></table></details> |

@pranavkm

[2022-03-10 09:26] javiercn commented on #40631
Our templates are a starting point and you can choose to modify them to use new features as needed. In this case, hooks seem to be incompatible with the default style of the templates (which is class based components). You can feel free to change the code to use function components and leverage hooks, but that is not something we plan to do.

[2022-03-10 09:26] #40631 closed

[2022-03-10 11:16] HakamFostok opened #40635 "Read request body multiple times"
I am aware of the limitation that the body request can be read only a once. <br/>
[here is a blog post](https://devblogs.microsoft.com/dotnet/re-reading-asp-net-core-request-bodies-with-enablebuffering) which allows me to read it twice <br/>

The problem is this approach allows to read the body **BEFORE** ASP.NET Core read it <br/>
I need to read the body again **AFTER** ASP.NET Core read it (for

[2022-03-10 11:28] benaadams commented on #40635
Change the position where you do the read to after the "next" middleware has processed, so you are on the outbound rather than inbound.

e.g. in the example in the blog
[code]
Change to
[code]
HTH

[2022-03-10 11:36] HakamFostok commented on #40635
Thank you sir for your response <br/>
I tried this but it did not work <br/>
I think mainly becuase I am not inside a middleware <br/>
I do not have `next` method <br/>
here is the code that I tried

// program.cs      .NET 6
[code]

[2022-03-10 11:48] #40635 closed

[2022-03-10 13:04] javiercn commented on #40630
@uecasm thanks for contacting us.

* Do those pseudo-locales work in .NET?
* Does localization work in your app if you use a different locale?

[2022-03-10 14:23] pranavkm commented on #40609
Do you have the 6.0.201 SDK / 6.0.3 Microsoft.AspNetCore.App runtime installed? Patch builds of packages typically require a corresponding version of the runtime to be installed.

[2022-03-10 14:30] LionelVallet commented on #40609
The 6.0.201 SDK seems to fix the issue.

[2022-03-10 14:30] #40609 closed

[2022-03-10 15:00] Alex-Torres commented on #40489
@HaoK will try what you suggested today.

[2022-03-10 15:02] MichaelSimons opened #40637 "Build template packages in servicing"
Currently building release/6.0 doesn't produce the template packages.

Microsoft.DotNet.Web.ItemTemplates
Microsoft.DotNet.Web.ProjectTemplates
Microsoft.DotNet.Web.Spa.ProjectTemplates

This doesn't work well for .NET source-build which needs to product the entire product for every build (e.g. previews, rtm, servicing, etc).

Would it be amenable to always produce the template packages during ser

[2022-03-10 15:08] alexandrejobin commented on #40609
I confirm that updating the SDK from 6.0.200 to 6.0.201 fixed the issue. I guest we will also have to update the ASP.NET Core Runtime to v6.0.3 on the servers.

[2022-03-10 15:26] ststeiger commented on #28526
@georgiosd:
I think this would be TCP/UDP level.
On my test-website, it already works with HTTP 2.0 and gzip/brotli/deflate.
See https://henri-bernhard.ch.

@Tratcher:
Thanks in hindsight for that tip.
It was exactly that - nginx first decrypted, then proxied, then re-encryptedn, then forwarded.
HAproxy instead takes the encrypted - then proxies - then forwards - in transparent-proxy mode.

[2022-03-10 15:27] Webreaper opened #40638 "Add a code analyzer to ensure that razor pages that define Dispose actually implement IDisposable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

It's very easy when writing a Razor page to forget to add the `@implements IDisposable` line at the top when implementing the Dispose pattern. This can mean that developers can unwittingly have dangling handlers which will cause memory

[2022-03-10 16:14] javiercn commented on #40637
@MichaelSimons thanks for bringing this up to our attention.

@dotnet/aspnet-build do you know what might be going on here?

[2022-03-10 16:16] javiercn commented on #40638
@Webreaper thanks for contacting us.

The compiler should take care of that by producing a compile time error if you don't have a Dispose method within your implementation.

[2022-03-10 16:33] javiercn commented on #40638
@Webreaper that's not something we plan to do.

I don't think the C# compiler does it either. There is no reason for us to assume that Dispose() means you want to implement IDisposable, specially since you might already be implementing IAsyncDisposable.

[2022-03-10 16:48] andrew-tevent commented on #40610
It's really about the cases where other sites are linking to your Blazor App, which you don't have control over.

[2022-03-10 16:56] Webreaper commented on #40638
Good point about IAsyncDisposable. But it seems pretty likely to me that Dispose() means that the razor page was attempting to implement IAsyncDisposable or IDisposable, so this would be a useful hint for either, no? If somebody writes a method and happens to call it Dispose but it's nothing to do with IDisposable/IAsyncDisposable, then the user can just rename their method?

But if you don't thin

[2022-03-10 17:28] danroth27 commented on #40587
Works fine on the host Windows machine, but not inside the container.

@davidivkovic I think you should open a separate issue with detailed repro steps for the problem you're seeing. Hot reload is supported in WSL2 and so far we haven't been able to reproduce the issue you're seeing.

[2022-03-10 17:33] wtgodbe commented on #40637
The template packages do get built in servicing builds, see the `PackageArtifacts` of a recent 6.0 build here: https://dev.azure.com/dnceng/internal/_build/results?buildId=1654283&view=artifacts&pathAsName=false&type=publishedArtifacts

[2022-03-10 17:38] brunolins16 opened #40639 "IResult support in MVC"
## Background and Motivation

Today, with the new `Microsoft.AspNetCore.Http.Results` class is very easy to get confused and implement a Controller Action similar with that, or any other variation of the methods exposed by this class:

[code]

Also, is very easy to use an `Microsoft.AspNetCore.Http.IResult` custom implementation as a return of a controller action, like this:

[code]

[code]

Both

[2022-03-10 17:39] Alex-Torres commented on #40489
So apparently the issue was related to Dynatrace.  We uninstalled Dynatrace from the server and all is working now.

[2022-03-10 17:48] BrennanConroy commented on #39095
We've seen numerous customer issues that have boiled down to them using `IHttpContextAccessor` on a background thread or outside of the request pipeline because it's very easy to do. It's fine if you understand how to use if properly but it's very error prone.

Closing for now, if more info arises, we can reopen/open a new issue.

[2022-03-10 17:48] #39095 closed

[2022-03-10 17:52] MackinnonBuck commented on #29550
Here are some ideas we had around September 2021 about a potential approach. These may be outdated by now, so we'll have to do some re-evaluation.

## Blazor Code-Generated Parameter Setting

This document describes the future direction for code-generated parameter setting in Blazor. The current work can be found [here](https://github.com/dotnet/aspnetcore/tree/t-mbuck/code-gen-component-parameter

[2022-03-10 17:53] #40489 closed

[2022-03-10 17:57] wtgodbe commented on #40637
Ah, sorry for the confusion - we exclude everything except the targeting pack & SharedFx from source build. I can add the templates to that exclusion list as well. Do you need this further back than 6.0?

[2022-03-10 18:00] #40517 closed

[2022-03-10 18:54] TanayParikh opened #40642 "Quarantine StaticFiles.DefaultFilesMiddlewareTests.*"
Note; these tests were quarantined as they were blocking an SDK insertion and subsequent efcore/runtime ingestion.

Relevant links:
- https://github.com/dotnet/aspnetcore/pull/40353#issuecomment-1064372054
- https://github.com/dotnet/runtime/issues/65750

## Failing Test(s)

Note the tests are all xUnit `Theory`s'. One failing theory/test is included below, each test has multiple failing theories.

[2022-03-10 18:56] TanayParikh commented on #40642
May not need quarantining depending on https://github.com/dotnet/aspnetcore/pull/40353#issuecomment-1064387591. TBD...

[2022-03-10 19:08] #40634 closed

[2022-03-10 20:20] voroninp opened #40645 "Clarification on AuthenticateResult.NoResult vs AuthenticateResult.Failure. 2nd iteration."
I am confused by the explanation given [here](https://github.com/dotnet/aspnetcore/issues/38685)

I also asked the question at [StackOverflow](https://stackoverflow.com/q/71423716/921054)

From @blowdart 's response it follows that there can be a set of authentication handlers. However, as I see from the api and docs, each authentication handler is mapped to specific authentication scheme which ge

[2022-03-10 20:50] DamianEdwards opened #40646 "Allow parameter and return types of route handler delegates (Minimal APIs) to contribute to endpoint metadata"
# Overview
Introduce the capability for types used for parameters and return values for route handler delegates (Minimal APIs) to contribute to metadata of the endpoint they're mapped to. This will allow types that implement custom binding logic via `TryParse` or `BindAsync`, and `IResult` types, to add metadata that describes the API parameters and responses in Swagger UI and OpenAPI documents.

[2022-03-10 21:15] casper7526 opened #40649 "Blazor - Error Boundary not triggered inside of EditForm Component"
If you have the following:
[code]

You expect that any exceptions within your pages will flow upwards and hit the errorbounday handling code. For 99% of things I have tried this holds true.

HOWEVER

If you trigger an exception while inside of Editforms methods (onSubmit,OnValidSubmit) you will bypass the errorboundary handler and be shown the default circuit error at the bottom of the screen.

[c

[2022-03-10 21:38] OpenSpacesAndPlaces commented on #24333
Ran into this too.

Having to manually read the body and parse with Newtonsoft since System.Text.Json doesn't work as the controller default.

[2022-03-10 22:06] k-seanon commented on #24333
also having to steer away from system.text.json because of this

[2022-03-10 22:20] uecasm commented on #40630
Yes, they both work perfectly fine in a .NET Framework or .NET 6 Console app.  And I already said that the Spanish locale is working fine in this project, it's only the pseudo locale that's not working.

[2022-03-11 00:29] tmeschter commented on #40652
@AngelosP Moving to ASP.NET Core as you are working on the design of the File Nesting feature.

[2022-03-11 00:57] TanayParikh opened #40653 "Runtime & EFCore Dependencies Out of Date"
PR: https://github.com/dotnet/aspnetcore/pull/40507

- Also updates the SDK which is a few weeks stale at this point.
- Quarantined the static assets tests via https://github.com/dotnet/aspnetcore/pull/40507/commits/1076cb33071cf2e4b9fddb006824c87f337e956e per [earlier](https://github.com/dotnet/aspnetcore/pull/40353#issuecomment-1064372054) discussions.
- We now have 2 new failures:

Microsoft.As

[2022-03-11 01:15] zhangqi-ulua opened #40654 "System.Net.CookieContainer的bug，未能正确分辨domain最匹配的"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

比如两个同名的cookie，name都叫XXX，value不同，domain分别为 .a.b.com  和   a.b.com
他们在同一个CookieContainer中
我指定HttpClient的CookieContainer是上面那个，然后请求 https://a.b.com
结果这两个同名的cookie都会被发送，这显然是错误的，虽然他们的domain都符合，但这种情况下，肯定是应该分辨出最匹配的一个进行发送。服务器是没有办法处理发上去的两个同名的cookie的。这样做法也不符合RFC的标准

### Expected Behavior

上面我举的例子就可以，只要是这

[2022-03-11 01:23] rafikiassumani-msft commented on #40413
@cburaca My understanding is AWS NLB stickiness is not always guaranteed. Unfortunately, I couldn't find the official document on this. However, the following article explains different scenarios where stickiness will fail with NLB: https://www.cloudar.be/awsblog/why-aws-nlb-stickiness-is-not-always-sticky/

However, because we act as a partner/provider for our clients, it is always a third-party

[2022-03-11 02:05] adityamandaleeka commented on #40592
I'll mark this answered since it doesn't sound like there's an ASP.NET Core issue here.

[2022-03-11 02:06] captainsafia opened #40655 "Add perf test for endpoint filter vs. no endpoint filter"

[2022-03-11 02:36] adityamandaleeka commented on #40613
That's what should be happening now.

Here's the code that defaults to 'wwwroot':
https://github.com/dotnet/aspnetcore/blob/54a7109eade9ce07eae452d4702a791638584f22/src/Hosting/Hosting/src/Internal/HostingEnvironmentExtensions.cs#L85

As you can see it should only be setting it to 'wwwroot' if options.WebRoot is null.

[2022-03-11 02:45] adityamandaleeka commented on #40599
Reopening for servicing.

[2022-03-11 05:14] davidfowl commented on #40655
cc @sebastienros

[2022-03-11 06:17] brunolins16 opened #40656 "Make IResult concrete types public"
## Background and Motivation

Today, all Http Results are `internal sealed` types and the only public parts are:

1. Results static class that has utility methods for creation of all Result Types
2. IResult interface that only expose the `ExecuteAsync` method.

Because it is extremely minimalist, it became far more complicated to create a simple test like this:

[code]

The issue #37502 reported t

[2022-03-11 09:02] filipw commented on #40598
The linked CVE points to [CVE-2022-21986](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-21986) instead of [CVE-2022-24464](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-24464)

[2022-03-11 09:49] onimor opened #40658 "RAM problems when downloading files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I want to download and upload files using the minimal api. I did it as described in the documentation.
Blazor WASM acts as a client.
When I get a stream file from the api and call JS to download, then ~1.3 gigabytes of RAM is consumed for a 400mb file and is not released. When downloading aga

[2022-03-11 10:22] SteveSandersonMS commented on #40653
I investigated the MapEndpoint_GeneratedDelegateWorks failure. It looks like a regression in the runtime so have filed https://github.com/dotnet/runtime/issues/66496

[2022-03-11 10:23] pamav opened #40659 "React SignalR - customHeader"
Hi,

I found little problem with custom Header:
MyCode:
[code]

but on server side with .Net 6
[code]

varible x is always empty.
If I check in browser developerTools only first request from clietn with url negotiate?negotiateVersion=1 has Header param app.

What is wrong?

Thank you

[2022-03-11 10:26] MarvinKlein1508 opened #40660 "@bind and @bind-Value and @bind-Value for extra model behave different for datetime"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Binding a datetime to an input in a blazor app is possible in this three ways. However way 1 and 2 result in a buggy user experience because the control will change it's values depending on the date the user inputs. Perhaps it has something todo with browser localisation. I have not tested it

[2022-03-11 10:51] #40595 closed

[2022-03-11 10:55] SteveSandersonMS opened #40661 "Quarantine ReadAsync_WithAllowInputFormatterExceptionMessages_RegistersJsonInputExceptionsAsInputFormatterException"
# Investigation

Cause: Previously the STJ exception message referred to the specific property that couldn't be converted (i.e., the JSON could not be converted to `System.DateTime`) whereas now it refers to the enclosing type (i.e., saying we can't convert the JSON to `Microsoft.AspNetCore.Mvc.Formatters.SystemTextJsonInputFormatterTest+User`).

This failure starts to happen if we update to the l

[2022-03-11 11:11] javiercn commented on #40661
@rafikiassumani-msft would be the owner of this area, since its web API

[2022-03-11 11:15] SteveSandersonMS commented on #40661
@javiercn Good point - submitted https://github.com/dotnet/aspnetcore/pull/40664 too.

[2022-03-11 11:16] javiercn commented on #40652
@AngelosP feel free to move this where it belongs, I don't think this is a runtime issue, so we shouldn't track it here.

[2022-03-11 11:25] javiercn commented on #40658
@onimor thanks for contacting us.

This is an artifact of several things:
* HttpClient will create a buffer to contain the response, so that's 400MB there.
* In addition to that, there are the buffers used to transfer the file from .NET to JS
* Finally, CreateObjectUrl will create an additional buffer.

My suggestions would be:
* Forcefully trigger a GC and see if the memory is freed.
  * You migh

[2022-03-11 11:26] javiercn commented on #40630
@uecasm thanks for the clarifications.

I think this might be a runtime issue then with regards to globalization.

[2022-03-11 11:44] onimor commented on #40658
@javiercn I found a solution that is to use a direct link to stream
`await JS.InvokeVoidAsync("triggerFileDownload", "/api/TestFile",fileName);`
Now everything is fine with this way of downloading the file. We can say that there are no expenses.
But the problem with uploading files back to the server remains.
The method described in the documentation spends a lot of memory.
[code]

[2022-03-11 12:08] guardrex commented on #30162
Reported by Kirk: There's a delta on CSS file indentation with most templates now adopting two spaces. The Blazor templates have four today.

[2022-03-11 13:27] danielgreen-nes opened #40665 "Runtime razor compilation fails - cannot find HttpContext extension methods"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Razor views fail during runtime compilation when trying to call an extension method of HttpContext within the views.

### Expected Behavior

The razor views should compile at runtime successfully, as they do when runtime compilation is disabled.

### Steps To Reproduce

Create a minimal .NET

[2022-03-11 13:40] eiriktsarpalis commented on #40661
The change came about during essential infrastructural refactoring of STJ internals. The exception surfaces from the converter factory for the parent type and as such it made sense to me at the time to report the parent type itself rather than the property type that is being processed (note: this is doing reflection-based metadata processing rather than performing deserialization at that particula

[2022-03-11 14:49] pranavkm commented on #40656
* Do you anticipate users wanting to derive from these newly exposed result types? If not, you could consider uniformly sealing them. If you really want to be super strict about it, you could make their ctors non-public and declare `Results.XXX` is the only factory to create these types. This leaves the door open to explore object pooling as a way to avoid allocating these.

* Continuing on this -

[2022-03-11 15:00] pranavkm commented on #40665
Build time compilation is picking up a `global using Microsoft.AspNetCore.Routing;` from the implicit usings feature.
Runtime compilation does not support global usings that were added to the app. Your best bet to have a consistent experience is to add `@using Microsoft.AspNetCore.Routing` to the `Views/_ViewImports.cshtml` file.

[2022-03-11 15:04] phenning opened #40666 "Localized metadata for template is not localized templatestrings.{lang}.json"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The templatestrings.{lang}.json files need to be localized.

Currently the strings in these files all contain the english seed data.

### Expected Behavior

The templatestrings.{lang}.json files should contain translated strings.

This resutls in the template name and description being locali

[2022-03-11 15:28] bekir-ozturk commented on #40666
I searched the repo, but arcade/onelocbuild doesn't seem to be configured: https://dev.azure.com/dnceng/internal/_search?action=contents&text=onelocbuild.yml&type=code&lp=buildrelease-Project&filters=ProjectFilters%7Binternal%7DRepositoryFilters%7Bdotnet-aspnetcore%7D&pageSize=25&result=DefaultCollection/internal/dotnet-aspnetcore/GBmain//eng/common/templates/job/onelocbuild.yml

There are also no

[2022-03-11 16:03] danielgreen commented on #40665
@pranavkm Could this limitation be documented here please?
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation

[2022-03-11 16:16] gregoryagu commented on #40595
Thank you very much @javiercn

[2022-03-11 16:29] BrennanConroy commented on #40659
This is the expected behavior when using WebSockets in the browser.
https://github.com/dotnet/aspnetcore/blob/38865d0415e8196bbd4a0a9b218203ae129495c6/src/SignalR/clients/ts/signalr/src/IHttpConnectionOptions.ts#L12-L13

Browsers do not support adding headers to WebSocket requests. You can try to push for that feature here: https://github.com/whatwg/websockets/issues/16

[2022-03-11 17:25] #40253 closed

[2022-03-11 17:47] SteveSandersonMS commented on #40661
Sure. The failing test is [Microsoft.AspNetCore.Mvc.Formatters.SystemTextJsonInputFormatterTest.ReadAsync_WithAllowInputFormatterExceptionMessages_RegistersJsonInputExceptionsAsInputFormatterException](https://github.com/dotnet/aspnetcore/blob/main/src/Mvc/Mvc.Core/test/Formatters/SystemTextJsonInputFormatterTest.cs#L133), specifically the case for "age" where it's trying to parse as System.Decima

[2022-03-11 18:05] Kazem-ma79 opened #40668 "[Razor] CSS Isolation not working when special characters in project name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When having (space, dash, underline) in project name, CSS Isolation won't work.
Tested by an empty ASP.NET Core MVC project with .NET 6.
First made a project named "MVC CSS-Isolation" but it didn't work and getting error "MVC_CSS_Isolation.css 404 not found" in browser console.
After that, ma

[2022-03-11 18:28] mkArtakMSFT commented on #40502
I've talked to @tmat about this. He is still having trouble to repro this. In addition, there was also a fix that he said they've just implemented, which should address this in the next VS preview release.

[2022-03-11 19:00] #40638 closed

[2022-03-11 19:08] TanayParikh commented on #40608
Hi @Mrlten, thanks for contacting us. I really appreciate your detailed issue report and the repo you provided. This was extremely helpful and I was able to reproduce the issue.

At first glance, what strikes me as odd is after the reconnection, you're getting:

This would mean that the SignalR connection has still not recovered despite the "reconnection". The subsequent timeout exception ([would

[2022-03-11 19:09] TanayParikh commented on #39605
We may want to include https://github.com/dotnet/aspnetcore/issues/40608 as an excellent issue report, containing comprehensive details about the issue, repro steps, repo and more.

[2022-03-11 20:00] mrpmorris commented on #26676
Have there been more discussions about this since?

Could someone share the current thoughts so we can talk through it?

[2022-03-11 20:00] #39391 closed

[2022-03-11 20:06] NinjaCross commented on #39095
I see, I thought there were "less obvious" motivations.
Thank you for you effort.

[2022-03-11 21:05] adityamandaleeka commented on #40654
I ran this through a translator and it seems like this is an HttpClient issue. Moving to runtime repo.

Can someone also please provide a translation?

[2022-03-11 21:15] wtgodbe commented on #40642
Our SDK doesn't have a version of runtime w/ the zipfile fix, we should try updating it once https://github.com/dotnet/installer/pull/13376 is in & un-quarantining the tests

[2022-03-11 21:21] adityamandaleeka commented on #40553
Sounds like this is expected. The reason why it only happens without the token is because we conditionally enter the codepath here: https://source.dot.net/#Microsoft.AspNetCore.Hosting/WebHostExtensions.cs,88

[2022-03-11 21:25] blowdart commented on #40645
You can have multiple handlers attempting to process the same HTTP Authentication scheme, that's how some folks use JWT.

I don't believe we don't probe based on the header scheme, we go through everything in the auth handler collection. The "scheme" you might be seeing (it's hard to tell because you don't show us where in the api or does you see a mapping) is a unique key in the collection and no

[2022-03-11 21:41] voroninp commented on #40645
Yes, I mean the key `authenticationScheme`,

[code]

I created a default application:

Program.cs:

[code]

WeatherForecastController.cs:

[code]

So all three handlers are called because of `[Authorize(AuthenticationSchemes = "1,2,3")]`, but auth succeeds anyway for the scheme `3`. But how can I model the process you described: If any of the handlers yield `Fail`, authentication fails?

[2022-03-11 22:04] blowdart commented on #40645
I don't believe we guarantee order. @HaoK am I wrong here in expecting fail to work like context.Fail would in policies?

[2022-03-11 23:26] HaoK commented on #40645
So authentication is a bit different than AuthZ because its done on a per scheme basis, while authorization is all about a full list of requirements.

So if you ask for Authentication 1,2,3 that generates 3 individual calls to Authenticate for 1,2,3 they don't really have a concept of hard Fail(other than if you have an uncaught exception), but its perfectly normal to get results or no results fro

[2022-03-11 23:58] DamianEdwards opened #40672 "Introduce way for route handler delegates (Minimal APIs) to return union results (i.e. multiple `IResult` types)"
# Overview
Introduce the capability for route handler delegates to declare they return a union of multiple concrete implementations of `IResult` via their signature. This would provide compile-time checking that the delegate returns only the types declared, and when combined with #40646 allows the possible result types for the endpoint to be described in `ApiExplorer` automatically without the nee

[2022-03-12 00:18] ThonChanvannak746 commented on #40545
Internet

[2022-03-12 00:24] ThonChanvannak746 opened #40673 "Thon chanvannak"
## Summary

1-2 sentences. Say what this is about.

## Motivation and goals

1-2 paragraphs, or a bullet-pointed list. What existing pain points does this solve? What evidence shows it's valuable to solve this?

## In scope

A list of major scenarios, perhaps in priority order.

## Out of scope

Scenarios you explicitly want to exclude.

## Risks / unknowns

How might developers misinterpret/misus

[2022-03-12 00:24] ThonChanvannak746 opened #40674 "Quarantine <FAILING_TEST_NAME>"
## Failing Test(s)

-

## Error Message

[code]

## Stacktrace

<details>

[code]
</details>

## Logs

<details>

[code]
</details>

## Build

[2022-03-12 00:41] DamianEdwards opened #40676 "Introduce Microsoft.AspNetCore.OpenApi package"
Consider introducing a new package *Microsoft.AspNetCore.OpenApi* that provides integration features for ASP.NET Core HTTP APIs and OpenAPI. This package takes a dependency on [*Microsoft.OpenApi* ](https://github.com/microsoft/OpenAPI.NET) and contains the logic that maps primitive ASP.NET Core endpoint details to representations in endpoint metadata using the object model provided by *Microsoft.

[2022-03-12 00:52] #40673 closed

[2022-03-12 01:03] BrennanConroy commented on #5280
**Client side:**
[code]

**Server side:**
[code]

[2022-03-12 01:15] seangwright opened #40677 "Design Proposal: Dynamic/Async paths for StatusCodePages and ExceptionHandler middleware"
## Issue

An issue exists requesting a solution to setting the re-execute path for the StatusCodePages and ExceptionHandler middleware.
https://github.com/dotnet/aspnetcore/issues/18383

While both middleware allow for a custom handler/pipeline to be used, if the original functionality provided by ASPNET Core is the goal, but a "dynamic" path is needed, then developers will currently need to copy

[2022-03-12 01:54] fingers10 commented on #39592
@javiercn and @brischt  I have made below changes in the service-worker.js

From this,

`const shouldServeIndexHtml = event.request.mode === 'navigate';`

to this,

`const shouldServeIndexHtml = event.request.mode === 'navigate' && new URL(event.request.url).pathname === '/';`

This now loads the correct content without force reload. @javiercn Please can you help to validate. The issue seems to be

[2022-03-12 02:04] davidfowl commented on #5280
cc @vicancy

[2022-03-12 02:39] jsakamoto commented on #40640
@mkArtakMSFT Thank you for replying.

However, sorry to bother you, but... I was too disappointed with that reply, and I've felt really sad due to the careless attitude of that reply. 😢

I understand well that the product development team is very busy, and therefore, it is needed to prioritize so many issues.
So I would not mind if this issue is made a low priority.

However, I've felt that you ha

[2022-03-12 02:40] KenticoDevTrev commented on #40677
This would awesome!

[2022-03-12 02:58] davidfowl commented on #40676
cc @darrelmiller @bradygaster

[2022-03-12 04:00] #40592 closed

[2022-03-12 04:02] pranavkm commented on #40656
Unless you'd like to preserve this hierarchy for some reason (result filters are a possible reason), you could refactor this to not have a hierarchy. The hierarchy exists as a way to implementation.

[2022-03-12 05:03] davidfowl commented on #5280
Should we expose ValueTask\<T\> instead of Task\<T\>?

[2022-03-12 08:17] voroninp commented on #40645
@HaoK , do I get it right that for AuthN handlers there's no difference between `Fail` and `NoResult` ?

[2022-03-12 09:53] javiercn opened #40678 "[Blazor] Fetch logic should check if the asset is present in the list of included assets before deciding to serve index.html"
https://github.com/dotnet/aspnetcore/blob/2b4a186c29667003d06bef8d629f5d3266b5804a/src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/Client/wwwroot/service-worker.published.js#L41-L59

This causes issues when users try to access a resource on the page directly through the address bar.

The proposal involves updating the service worker to make sure that if a request is

[2022-03-12 09:57] javiercn commented on #39592
@fingers10 on second look, I think there is some improvement we can do here. I've filed a separate issue with the team for discussion.

Your solution doesn't work in the sense that it would prevent users from navigating to pages like `/counter` when the app is offline. You can try out the more detailed proposal that I made on the new issue below:

https://github.com/dotnet/aspnetcore/issues/40678

[2022-03-12 14:17] Alerinos opened #40679 ".net 7 is on ubuntu 21.10 and libmsquic on 20.04 http3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I am using .net 7 preview 1, unfortunately it requires ubuntu 21.10. I want to test http3 on ubuntu. Documentation tells me to install libmsquic. Unfortunately, the package in version 21.10 does not have this library. I searched the internet and can't find anything. Do you have any ideas what

[2022-03-12 19:00] #40659 closed

[2022-03-12 20:32] mahmoudahmedarafa commented on #40632
When I try to add the project to the repository it doesn't prompt me to type password for my github username.

![Capture](https://user-images.githubusercontent.com/22199398/158034006-17dd6b06-f11f-43e6-8a1d-0626983bdf5d.PNG)

[2022-03-12 20:54] BrennanConroy commented on #40632
`git remote add origin <url>`
Use the url of your repo on github, not the file path.

[2022-03-12 22:00] #40553 closed

[2022-03-13 04:19] BrennanConroy commented on #5280
For the client side API? It would either be wrapped by a Task internally anyways or make it a bit of a pain to implement the internals since it's all Task based for the current `.On` overloads.

[2022-03-13 07:05] more-pepsi commented on #19590
echo $?
6

[2022-03-13 07:22] more-pepsi opened #40680 "MacOs generating https keys"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

[code]
[code]
brew install dotnet-sdk
dotnet dev-certs

 https -v
[code]

[2022-03-13 09:26] voroninp commented on #40645
Also I am trying to understand how to support authentication with bearer tokens coming from different Identity providers (Okta, Auth0) when federation is not enabled.  Do I need to register two authN schemes and then specify them in `[Authorize]`?

[2022-03-13 09:59] space-alien commented on #40613
Here is an ultra-minimal repro that demonstrates the problem: https://github.com/space-alien/AspNetWebRootPath

[2022-03-13 11:10] abuzaforfagun opened #40681 "Unable to load test appsettings in integration tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I want to do some condition checks on the Program file (AKA Startup). That condition is dependent on some configuration. I put that configuration in `appsettings.josn`.
In the test project I used different appsettings configurations. But unable to get the value of test configuration.

### Exp

[2022-03-13 18:55] bdebaere commented on #40495
@brunolins16 I want consumers of my API to be able to search for tabs in a string if they so desire. I don't think modifying the searchPattern to a nullable string type and searching for NULL is the right approach when the consumer passes a tab character (or a combination of any whitespace characters).

[2022-03-13 19:11] adityamandaleeka commented on #40613
@space-alien Thank you for providing that. I took a look and your description of the behavior is right.

It looks like something in the static asset manifest generation logic is eagerly matching wwwroot if it exists. I can see that when the wwwroot directory is present, it gets added to the beginning of `ContentRoots` in the staticwebassets.runtime.json.

@javiercn Can you please take a look and/o

[2022-03-13 20:28] ysmoradi opened #40683 "Ability to use System.Text.Json's generated sources to improve PersistentComponentState's json read performance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

_No response_

### Describe the solution you'd like

PersistentComponentState's TryTakeFromJson method uses System.Text.Json's auto generated sources of JsonSerializerContext & JsonSerializable
I'd like to use something like what asp.n

[2022-03-13 22:10] mahmoudahmedarafa commented on #40632
I corrected it but again it says "Logon failed". I am sure I entered correct username and password.
It doesn't even prompt me to type password in cmd.

![Capture](https://user-images.githubusercontent.com/22199398/158081332-f6ad7c26-8a26-4d0b-84fb-456b7c35bd51.PNG)

[2022-03-13 23:12] davidfowl commented on #5280
So you think we should stick with Task everywhere?

[2022-03-14 00:00] #40537 closed

[2022-03-14 00:49] niemyjski commented on #39010
@brunolins16 here is a link to one of our apps: https://github.com/exceptionless/Exceptionless/blob/master/src/Exceptionless.Web/Startup.cs#L269-L272

[2022-03-14 02:52] ScionOfDesign opened #40684 "Blazor WebAssembly cached client-side routing is taking precedence over reverse-proxy routing."
I recently deployed a Blazor client-server application. The WebAssembly client and the server application are deployed in separate docker containers (Server is a dotnet container and the WASM is in a Nginx one). The app itself works perfectly at mydomain.net but I have some different applications on different servers located at mydomain.net/myotherapp. They are routed to via a reverse proxy on a d

[2022-03-14 04:10] Xyncgas opened #40685 "DO NOT WARN : BL0005"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

warning BL0005: Component parameter '<parameterName>' should not be set outside of its component.

It's fine, I am calling a method ```public void Mutate(Action<ExampleComponent> lambda) { lambda(this); StateHasChanged(); } ```
I understand the code I am writing, I can't disable warning on al

[2022-03-14 05:26] onimor commented on #40658
`await JS.InvokeVoidAsync("triggerFileDownload", "/api/TestFile",fileName);`
this is a bad option, because if you use authorization, the file will not be downloaded. And if you do as I wrote above (following the example of the documentation), then the memory goes away and is not released, when you download it again, it is spent again, and not reused. what to do about it?

[2022-03-14 07:38] Muitsonz opened #40686 "System.IO.DirectoryInfo doesn't work properly in client-side Blazor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When a System.IO.DirectoryInfo instance created in client-side blazor, it always get a prefix '/' which stop me to access files by absolute paths on Windows.
Most of the codes below are generated by project template, and I only add line 11.
![1](https://user-images.githubusercontent.com/34186

[2022-03-14 10:10] SteveSandersonMS commented on #40685
Can you post a minimal sample showing what you're doing? It's unclear to me why you're unable to disable this warning in your own project. The warning isn't going to appear for people who *use* your library unless they are also writing their own code of that form.

[2022-03-14 10:12] SteveSandersonMS commented on #40686
I'm afraid client-side Blazor runs client-side, so it can't see the server-side disk. If it could, that would be a massive security vulnerability for your server.

For whatever information you want to make available to your client side code, you should create server-side APIs and call them using HttpClient.

[2022-03-14 10:12] #40686 closed

[2022-03-14 10:15] SteveSandersonMS commented on #40684
Is your Blazor WebAssembly application a PWA? This would make a big difference to the situation.

[2022-03-14 10:19] SteveSandersonMS commented on #40653
The dependency update PR is merged now.

[2022-03-14 11:04] javiercn commented on #40668
@Kazem-ma79 thanks for contacting us.

That's likely an inconsistency between the code generated by the template and the actual CSS generated file. I suspect that if you change the file to `MVC CSS-Isolation.styles.css` in _Layout.cshtml things will work.

[2022-03-14 12:00] javiercn commented on #40640
@jsakamoto we apologize if you thought we didn't pay close attention to your issue.

We normally comb through dozens of issues on a weekly basis and this is an issue that we've seen in the past, so our first action was to point out the common answer we give people in these situations.

I took a second look at your issue and it seems to be caused by the TypeScript MSBuild tasks adding additional co

[2022-03-14 12:48] ScionOfDesign commented on #40684
Yes it is. I would prefer to keep it a PWA if it's feasible.

[2022-03-14 13:00] #40544 closed

[2022-03-14 13:03] SteveSandersonMS commented on #40684
In that case, I don't think this is an aspect of Blazor routing at all. I think this is your service handling requests.

If you're using the service worker that came by default in the Blazor template (`service-worker.published.js`), then you can edit which URL patterns it handles by editing the `onFetch` logic.

[2022-03-14 13:06] eiriktsarpalis commented on #40661
Thanks, I'll take a look.

[2022-03-14 13:07] ScionOfDesign commented on #40684
Thanks, I'll try that and post my results.

[2022-03-14 13:52] deeprobin commented on #8998
My first suggestion would be that we truncate the async suffix respecting the property "XY" in the UrlHelperExtensions (see [example](https://github.com/deeprobin/aspnetcore/blob/b2d27d38287aaa83f904ebb5d87133349ebf14cb/src/Mvc/Mvc.Core/src/UrlHelperExtensions.cs#L204-L237)).

Are there any better options?

---

Also, I think we should put this issue on the .NET 7.0.0 milestone, as this is imo a v

[2022-03-14 16:17] mkArtakMSFT commented on #40660
Thanks for contacting us, @MarvinKlein1508.
It's not clear from the gif that you've shown what is the behavior which is not expected? Can you please clarify it?

[2022-03-14 16:32] captainsafia commented on #40084
## Proposed API

We introduce a new collection of base types for describing an endpoint, its parameters, and its responses.

[code]

We also introduce a new `ParameterSource` type, meant to be a simpler, non-MVC substitute for the `BindingSource` type in MVC.

[code]

Finally, we provide an extension method for adding a delegate to modify the `EndpointApiDescription`.

[code]

## Usage Examples

[

[2022-03-14 16:40] #40666 closed

[2022-03-14 16:45] HaoK commented on #40645
I'm not sure what you mean by no difference, at the authentication service level, AuthenticateAsync always returns a result  NoResult is you don't have a cookie or bearer token, Fail will result in an error/exception that the caller can look at.  But if you are enough in the stack, i.e. only looking at behavior from `[Authorize]` both will look like no principal, i.e. it wasn't a successful authen

[2022-03-14 17:01] captainsafia commented on #40514
Moving this back into .NET 7 Planning to prioritize completing the performance tests in https://github.com/dotnet/aspnetcore/issues/40655 for preview3.

[2022-03-14 17:36] wtgodbe commented on #40109
Should work out-of-the-box now as of https://github.com/dotnet/aspnetcore/pull/40393

[2022-03-14 17:50] joaojmc opened #40696 "ASP.NET Core Web Application w/Angular template on macOS Monterey will not start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When creating an application from the template described above it will not start; with message:

### Expected Behavior

By running the application I expect it to boot up and show me the demo website with "Hello World", "Counter" and "Fetch Data" pages working.

### Steps To Reproduce

On a cl

[2022-03-14 17:57] halter73 commented on #40513
- Let's include endpoint metadata along with `MethodInfo` in a `RouteHandlerContext`.
- `RouteHandlerFilterContext` -> `RouteHandlerInvocationContext`.

[code]

This API approved with the above changes.

[2022-03-14 18:14] javiercn commented on #40613
@adityamandaleeka will take a look.

[2022-03-14 18:15] brunolins16 commented on #40656
I kind of like the hierarchy but I don't see a reason to keep, other than code reuse that we can achieve with a different implementation. Also, I was reviewing this #40672, and I changed a little bit my proposal and removed all the hierarchy.

[2022-03-14 18:16] halter73 commented on #5280
- Let's use the `Func` naming and ordering of type params.
[code]
- Let's keep using `Task` over `ValueTask`.
- Should we just hide `Caller` and `Client` instead of adding `Single`?
[code]

Let's keep iterating on this design.

[2022-03-14 18:18] xsoheilalizadeh commented on #40109
I tried to run ./build.sh on a fresh M1 and it failed.

[code]

Build Erros:

[code]

[2022-03-14 18:51] wtgodbe commented on #40109
@omajid is the above discrepancy in dotnet-install known?

[2022-03-14 18:58] cburaca commented on #40413
Thanks @rafikiassumani-msft  for your reply and info about this.

I also think this is not a SignalR connection negotiation issue.
While using the AWS ALB it works totally fine: the connection is always established at the first attempt and the stickiness cookie is written. Besides, in an AWS forum someone wrote the same as you - AWS NLB stickiness is not always guaranteed, because it also depends

[2022-03-14 19:00] #40568 closed

[2022-03-14 19:07] omajid commented on #40109
I wasn't aware of it until now. That part of dotnet-install.sh was adapted from the similar piece of code in runtime, in 2019. Later, in 2020, runtime took this change that we should also include in dotnet-install.sh: https://github.com/dotnet/runtime/pull/39142/files#diff-692d7a1cb247ffea0cb746bd6f4c3d576406e279af19a1810c0278ca5f16f28c

Would you like me to do a PR? I dont have macOS arm64 machin

[2022-03-14 19:09] wtgodbe commented on #40109
I think we should update the global dotnet-install scripts to account for arm64 - I unfortunately also don't have a macOS arm64 test machine. Maybe @dotnet/dnceng could help you access one if need be

[2022-03-14 19:10] HybridSolutions commented on #27576
My 2 cents on this issue. Love Blazor, and never imagined I could see a time that I don't miss JS, but this issue of having an application getting disconnected every time after ~10m and showing that to the users it's bad. It's bad because users don't understand what happened, and they shouldn't, and also because my clients hate to see that on their websites after browsing other websites on other t

[2022-03-14 19:26] xsoheilalizadeh commented on #40109
@wtgodbe  I can do it also if you want, adding `arm64|` should be enough right?
https://github.com/dotnet/aspnetcore/blob/0aa76cc9348a229a82b636c98d1a20cdb6a2838a/eng/common/dotnet-install.sh#L55

[2022-03-14 19:27] wtgodbe commented on #40109
@xsoheilalizadeh Yes, that would be great!

[2022-03-14 19:29] somunich commented on #40527
Same to me here! on a clean API project, when I attempt to edit and save something hot reload throws me that error.

[2022-03-14 19:52] xsoheilalizadeh commented on #40109
PR https://github.com/dotnet/aspnetcore/pull/40698

[2022-03-14 19:56] wtgodbe commented on #40109
Thank you for the PR, but that file is centrally managed & shared by many dotnet repos - @omajid will handle making the centralized fix

[2022-03-14 20:05] adityamandaleeka commented on #40679
Where do you see that?

[2022-03-14 20:08] wtgodbe commented on #40109
Had to revert https://github.com/dotnet/aspnetcore/pull/40393, if we can find a way to use `BinLogToSln` without always explicitly restoring the 3.1 runtime we should un-revert it

[2022-03-14 20:10] adityamandaleeka commented on #40532
This is by design. If you want to get the exact value, you can try reading the `X-WAWS-Unencoded-URL` header.

[2022-03-14 20:15] HaoK commented on #25107
Most tests have been reenabled as of https://github.com/dotnet/aspnetcore/pull/39810

[2022-03-14 20:15] #25107 closed

[2022-03-14 20:26] adityamandaleeka commented on #40632
Take a look at this: https://stackoverflow.com/questions/55768926/logon-failed-use-ctrlc-to-cancel-basic-credential-prompt-to-git-in-azure-devop

[2022-03-14 20:29] DamianEdwards commented on #7246
@PhilParisot curious if this works for you? https://dev.to/lmillucci/firefox-installing-self-signed-certificate-on-ubuntu-4f11

[2022-03-14 20:30] adityamandaleeka commented on #40680
@more-pepsi Based on the error message "User interaction is not allowed", are you running this over an SSH session or something where it's not able to display a UI for keychain?

[2022-03-14 22:01] Vadimyan commented on #40540
Hi! I've prepared a PR https://github.com/dotnet/spa-templates/pull/41 with fully refactored react template. Now it use functional components with react hooks. Also I brought the code in template to a single code style.

But now I think that it can be a good time to rewrite this template to typescript. It can help beginners to start learning aspnet with TS from the template, and in the case of new

[2022-03-14 22:02] HaoK opened #40703 "Fix WindowsHostingBundle"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

arm64 installers change broke the windows hosting bundle since now it builds x64/x86/arm64 when the idea is there's a single hosting bundle (x86) that contains all the payloads

This issue is to track the work to fix the hosting bundle

### Expected Behavior

Hosting bundle can install

### S

[2022-03-14 22:13] halter73 opened #40705 "DefaultHttpContextFactory.Create(IFeatureCollection) does not set DefaultHttpContext._active"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

#29748 added `DefaultHttpContext._active` and set it in `DefaultHttpContext.Initialize(IFeattureCollection)`. The problem is that this method only gets called via `DefaultHttpContextFactory.Initialize(DefaultHttpContext httpContext, IFeatureCollection featureCollection)` and not `DefaultHttpC

[2022-03-14 22:33] ScionOfDesign commented on #40684
I was able to add this section of code to the 'onFetch' function and now it works great! Thanks!
[code]

[2022-03-14 22:33] #40684 closed

[2022-03-14 23:03] halter73 commented on #40614
I don't think this will be fixed in 6.0.4. In the above case `WebApplicationBuilder.Configuration` is being disposed before all sources were added.

This was already somewhat broken before 6.0.3 even though it didn't previously ODE. Even though you could previously add sources to `WebApplicationBuilder.Configuration` after disposing it, any providers from sources added prior to disposing the `Conf

[2022-03-14 23:09] mahmoudahmedarafa commented on #40632
https://github.com/mahmoudahmedarafa/ShoppingCart/blob/master/Controllers/CartController.cs

Please see "Buy" function decorated with "Authorize" attribute. Authorization doesn't work when user buys an item.

[2022-03-14 23:13] BrennanConroy commented on #40632
You don't have UseAuthorization in your app so Auth wont run.

[2022-03-14 23:23] halter73 commented on #40614
@BrennanConroy is right that https://github.com/dotnet/aspnetcore/pull/39836 which should be in 6.0.4 (or rather a close variation of this) should cause `WebApplicationBuilder.Build()` to add additional sources to the root `ConfigurationManager` less frequently. That might fix this specific issue. There will still be an issue with manually adding sources to the `ConfigurationManager` after resolvi

[2022-03-14 23:39] more-pepsi commented on #40680
Yes, you where right. Thanks. It worked when using the GUI terminal. But not ssh

[2022-03-14 23:40] #40680 closed

[2022-03-15 02:13] HaoK commented on #40703
Should be fixed by https://github.com/dotnet/aspnetcore/pull/40708

[2022-03-15 06:13] davidfowl commented on #5280
This is the only one I'm iffy about. Maybe it's fine? Have you found all of the edge cases? What happens when you inject `IHubClients<T>` and use Client? Does that still work?

[2022-03-15 06:42] sane1998k commented on #40658
Yeah, i've the same problem!

[2022-03-15 07:07] davidfowl commented on #40084
What is the Items bag and why is it string -> object instead of object -> object

[2022-03-15 07:35] davidfowl opened #40712 "Add support for argument list surrogates in minimal APIs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

The idea here is to support using a type that can act like a surrogate for the argument list in a minimal API. The motivation is about refactoring a minimal API that takes a large set of parameters into one that takes a single object w

[2022-03-15 07:37] BorisWilhelms commented on #7246
No, it is not. I am doing it daily.

But unfortunately, it is not that easy to support Linux, simply because there is no Linux. There are distributions and different distros have different cert stores. Therefore, applications tend to bring their own cert store. If you install the application as a snap package, the application cert store is in a different place, etc....

But if you know your distro

[2022-03-15 07:46] voroninp commented on #40645
@HaoK, ok, but in implementation of `AuthenticationHandler` does it cause different behavior in the auth process depending on what was returned: `Fail` or `NoResult`?

[2022-03-15 10:29] javiercn commented on #40640
Filed an issue on TypeScript to track this problem [here](https://github.com/microsoft/TypeScript/issues/48271)

[2022-03-15 10:29] #40640 closed

[2022-03-15 10:45] aqim-dev commented on #38351
Me and my team are working on a big scale project right now and we decided to update to .NET 6.0 and we have the same issue with our windows users. It looks like it works perfectly fine in the M1 Mac version. Also we noticed that some of our code that includes SQL Server works slower, noticeably slower. I, myself, use hot reload very much but i don't mind debugging every time, but it's the same sp

[2022-03-15 11:05] vanillajonathan commented on #40540
Good job @Vadimyan!
I think TypeScript is a separate issue. Nonetheless interesting.

[2022-03-15 11:31] rjgotten commented on #40415
Technically they don't have a native encoding at all.
Everything after the `?` save for the `#` and whatever meaning a server wants to attribute to it, is fair game.
However, there are some particular schemes which grew into ad-hoc quote-unquote 'standards' such as the way the ASP.NET query string parsers and model binder work; the way jQuery's serialization of objects to query strings works (whic

[2022-03-15 12:11] jsakamoto commented on #40640
@javiercn Thank you for your sincere reply and for investigating this issue.

I can imagine it must be too much tough work.
So I always appreciate the product development team. ❤️

Sorry to bother you, but getting the reply "We are still triaging", "Wait for more time" or "We don't have enough time" might be better for me than getting a reply "It seems the same as a common issue" without well inve

[2022-03-15 12:52] nssidhu opened #40714 "Deeplinking URL with Parameters in Blazor WebAssembly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am looking for guidance or how to achieve Deeplinking for Blazor WebAssembly.

I want to provide QrCode with Link to some internal page along with Parameters

https://mysite.com/page2/E28E06B4-6434-44FA-812B-D86E2C061BCE

Any guidanc

[2022-03-15 13:17] nssidhu commented on #38128
Current work around.
Currently i am able to mix them up but instead have to use MVC controller & view on the Blazor Server.
So i create special end point which will render content from MVC controller on Blazor Server.
But it would be nice if i could instead use Razor page in place of MVC controllers & views.

I had couple of scenarios
1) I send SMS Link, when user click that link , it will hit MVC

[2022-03-15 13:48] jlorek opened #40715 "IHostBuilder.Build() times out after 5 seconds when running integration tests with WebApplicationFactory<T> on slow machines"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When using the `WebApplicationFactory<T>` for integration tests, the tests fail on slow machines due to the default 5 seconds timeout already mentioned in #33886:
https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/Microsoft.Extensions.HostFactoryReso

[2022-03-15 13:55] javiercn commented on #40714
@nssidhu thanks for contacting us.

There's nothing specific about this in Blazor Webassembly. As long as you are using the router and the query functionality in Blazor, there's no difference between navigating from the address bar or following a link (deep linking) than navigating internally within the app.

If you provide more details we might be able to provide further assistance, but this is a

[2022-03-15 14:50] HaoK commented on #40645
Again it depends on the caller, lots of code only checks if the authentication was a Success which doesn't distinguish between NoResult or Failure, but clearly the handler returns different results.

[2022-03-15 14:52] voroninp commented on #40645
Are there many places in framework where AuthN handler is called?

[2022-03-15 14:55] Martijn-W commented on #40537
@pranavkm Thank you. Your examples seems to work just fine.
This issue can be closed :)

[2022-03-15 15:02] javiercn commented on #40714
@nssidhu that sounds like a problem in your app. The server will return index.html but upon blazor starting, the router (if you have one correctly configured) should send you to Page2.razor.

[2022-03-15 16:24] #40714 closed

[2022-03-15 16:44] mkArtakMSFT commented on #40696
@joaojmc do you face this issue all the time or it happens randomly?
Also, after the manual npm run once, when will be the next time you will see the same issue?

[2022-03-15 16:54] BrennanConroy commented on #5280
Not sure what you mean by inject `IHubClients`, that type isn't in DI by default, and if it was, SignalR isn't going to use your type.

`IHubContext` is in DI and it exposes `IHubClients` so in theory you can provide your own impl of `IHubContext` that uses your own impl of `IHubClients`.

The main thing I've found so far is that when implementing `IHubClient` (or any of the interfaces that hide t

[2022-03-15 17:27] mqudsi opened #40719 ".NET 6 regression causes UseEndpoints to throw an ArgumentNullException in MVC-only project w/ conditional compilation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In the most recent project I updated from .NET 5 to .NET 6, I observed a curious regression involving an exception at startup that would only reproduce in a Development environment; the web application could be deployed to Production without any issues.

The exception is a Linq `NullArgumentE

[2022-03-15 17:32] brunolins16 commented on #40495
Based on that, unfortunately MVC will not support it by design, I recommend you create your own binder that have total control over the binding, however, if you want to use the `ConvertEmptyStringToNull` you can create a custom attribute to use with your parameter, otherwise you will need to apply the attribute to a property or field, and work with the correct validation needed.

[code]

[2022-03-15 17:59] mrlife commented on #30982
Not having a way to access user-level data on code that runs on the server (outside of Blazor's scope) is an ongoing issue that I hope will be addressed one day.

@SteveSandersonMS @danroth27 @shanselman

[2022-03-15 18:11] HybridSolutions opened #40721 "Blazor is NOT loosing SignalR connection. Browser is!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Those who work with Blazor are fully aware of the SignalR connection failed issue and the adorable "Reload" message. In a recent project, I noticed something very interesting that I never saw mentioned by anyone.

### Expected Behavior

_No response_

### Steps To Reproduce

Test 1

1. Opened

[2022-03-15 18:12] HybridSolutions commented on #32113
Found some interesting results about this issue. Please check it [here](https://github.com/dotnet/aspnetcore/issues/40721)

[2022-03-15 18:18] joaojmc commented on #40696
I haven't faced the issue after I run it manually. It happens every time, **until** you run it manually.

[2022-03-15 18:24] Ariasm55 opened #40722 "Cant get the Site to work on Publish"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When we are codding and we are using visual studio to test our Website everything is working fine, but the moment that we want to deploy the App the API deploys correctly, but the WEBSITE does not load, I do get these errors on the console.
<img width="814" alt="image" src="https://user-image

[2022-03-15 18:40] TanayParikh commented on #40722
Thanks for reporting @Ariasm55, could you please provide a minimal, public, github repository which reproduces this issue?

[2022-03-15 18:48] TanayParikh commented on #40721
@HybridSolutions if I follow correctly, you're pointing out that the Blazor Server SignalR connection remains connected (doesn't time out/disconnect) if the dev tools (with cache disabled) is left opened. Is that correct?

The fact that the tab with developer tools doesn't go to sleep isn't surprising, it's likely just an edge feature. The fact that having the dev tools open prevents the SignalR c

[2022-03-15 18:50] Ariasm55 commented on #40722
HI @TanayParikh

https://github.com/Ariasm55/GettyxPub

Here is the Public Version of the APP

[2022-03-15 19:37] captainsafia opened #40724 "Support accessing `RouteHandlerContext` in `IRouteHandlerFilter`"
## Background and Motivation

The `IRouteHandlerFilter` implementations provides support for accessing the `RouteHandlerInvocationContext` for accessing information about the current request invocation.

In #40513 , we added support for a filter factory API that allowed users to provide a `Func<RouteHandlerContext, RouteHandlerFilterDelegate>` that allowed them to construct a filter using informat

[2022-03-15 19:38] nkosi23 commented on #38128
We are developing a large system (a consumer application) having multiple modules using the same user interface. The user can switch between modules through the user interface. The user interface project (that we call the shell) provides services such as menus, UI notifications etc... that should are consumed by module projects.

With this architecture, our goal is to ensure that a developer only

[2022-03-15 20:05] HaoK opened #40725 "Add some validation around the set of artifacts we produce"
Followup from some of the installer regressions that we hit as part of the arm64 work.

Might be useful to have a test that verifies the builds produce the expected set of installer/msi/artifacts so if we accidentally drop things, we can catch this during a CI.

cc @wtgodbe

[2022-03-15 20:07] wtgodbe commented on #40725
Maybe we could have internal builds publish the asset manifest to an LKG location & compare against that. Could even be centralized in Arcade as part of the validation pipeline? CC @dotnet/dnceng

[2022-03-15 20:19] HybridSolutions commented on #40721
@TanayParikh that's exactly what I'm saying. I can make a video of my screen if you need to see it happening. I find this behaviour amazing because all the issues out there are always mentioning a problem on SignalR connection but after all there's no issue with it since it can hold wonderfully even longer than a regular session would.

You can test it for yourself too. Just go to a website like [

[2022-03-15 20:36] BrennanConroy commented on #40721
If the tab is "active" from the browsers point of view, then SignalR will continue to function. If the tab goes to sleep, then SignalR will stop working. This is the expected behavior.

[2022-03-15 20:44] avparuch opened #40728 "Support falling back to ConnectionId when RawConnectionId is 0 in HTTP.sys"
Currently, on HTTP.sys, HttpContext.Connection.Id always returns a value of 0 on Windows Server 2019 and below. It is populated on Server 2022.

HttpContext.Connection.Id returns RawConnectionId https://github.com/dotnet/aspnetcore/blob/371c81a6945aa71fd7a73f1842c24d2aa26672e6/src/Shared/HttpSys/NativeInterop/HttpApiTypes.cs#L533

If RawConnectionId is 0, HttpContext.Connection.Id should fallback

[2022-03-15 20:52] brunolins16 commented on #39010
@niemyjski you can add the provider here:

https://github.com/exceptionless/Exceptionless/blob/940a04c28c74cad34221113a865a979510c2d432/src/Exceptionless.Web/Startup.cs#L48

Example:

[code]

[2022-03-15 20:52] HybridSolutions commented on #40721
@BrennanConroy I'm not saying it's not the expected behavior, but the problem that troubles so many developers about Blazor apps keep disconnecting after so little time and having to deal with the browser message is not a Blazor problem after all. It's because of the browser sleeping feature. Maybe Edge could receive an indication in the header that sleeping is not allowed 😁 That would solve the p

[2022-03-15 20:53] bradygaster commented on #40676
i really like this idea.

[2022-03-15 20:55] bradygaster commented on #40676
Also DM's library can translate betwixt versions of OpenAPI (and output format - YAML/JSON). We could use that.

[2022-03-15 20:57] adityamandaleeka commented on #39640
Configuration stuff can be incremental; we don't need to nail it down entirely for 7 since we can always add more later.

[2022-03-15 20:58] BrennanConroy commented on #40721
If you want to "solve" the sleeping tab problem there are solutions you can implement to workaround it.
https://docs.microsoft.com/aspnet/core/signalr/javascript-client?view=aspnetcore-6.0&tabs=visual-studio#bsleep

Tab sleeping isn't a Microsoft only feature btw.

[2022-03-15 21:07] darrelmiller commented on #40676
Sign us up.

[2022-03-15 21:12] HybridSolutions commented on #40721
Yes I know that. Just kidding. Thanks for the link. I'll give a look into it.  It's important that this issue could be better documented, including perhaps warnings about this sleeping tabs Blazor "enemy", because there's a lot of complaints out there about lost connections in very small amount of time. Personally, for now, I developed a solution that automatically refreshes the current page if no

[2022-03-15 21:15] Tratcher commented on #40728
Note this regressed in 6.0.1 and 7 when we switched from ConnectionId to RawConnectionId, we hadn't tested on older platforms.

[2022-03-15 21:20] TanayParikh commented on #40721
There are a couple of issues tracking work in this area: https://github.com/dotnet/aspnetcore/issues/9256, https://github.com/dotnet/aspnetcore/issues/27576

[2022-03-15 21:31] HybridSolutions commented on #40721
@TanayParikh  Thanks, I was already following those.

[2022-03-15 21:35] epananth commented on #40725
we already publish all the asset manifest in publishArtifacts.. https://dev.azure.com/dnceng/internal/_build/results?buildId=1663541&view=artifacts&pathAsName=false&type=publishedArtifacts

Can you just download from this and add validation around that?

[2022-03-15 21:42] rafikiassumani-msft commented on #40715
@jlorek You can override the timeout value using the following env variable: `DOTNET_HOST_FACTORY_RESOLVER_DEFAULT_TIMEOUT_IN_SECONDS`. You will need to get the 6.0.1 patch.

[2022-03-15 22:00] #40532 closed

[2022-03-15 23:08] rambouillet opened #40730 "IIS Express module "AspNetCoreModuleV2" is removed after installing Visual Studio 17.1.1, breaking IIS Express support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

In short, IIS Express no longer works with .NET Core applications after installing Visual Studio version 17.1.1. You can easily see this when selecting "IIS Express" as the server to build and run the application from within Visual Studio. You will receive an error message stating:

`The ASP.

[2022-03-15 23:14] halter73 commented on #40361
@Chris-Thompson-bnsf Did you consider adding an `IStartupFilter` to the `WebApplicationFactory<Program>` via `WithWebHostBuilder` and `ConfigureTestServices`? This should allow you to add middleware for testing without having to define an `IntegrationTestProgram`.

https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-6.0#inject-mock-services

[2022-03-15 23:28] ryanbrandenburg opened #40732 "HTML Entities like &nbsp should be encoded into the SyntaxTree"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Razor got this issue filed against us https://github.com/dotnet/razor-tooling/issues/6137 which complained that &nbsp (and other html entity's) was not colorized the same. Razor-tooling has no way of telling when one of these entities

[2022-03-16 01:37] #40513 closed

[2022-03-16 03:15] pranavkm commented on #40719
Possible dupe of https://github.com/dotnet/aspnetcore/issues/40609. Could you try the suggestion from https://github.com/dotnet/aspnetcore/issues/40609#issuecomment-1064117686?

[2022-03-16 06:26] feiyun0112 commented on #40722
it caused by `dotnet.timezones.blat` and `icudt_EFIGS.dat` cannot download

you can see the error in Chrome Dev Tool `Network` tab

add `.blat` and `.dat` MIME type in IIS can solve it

[2022-03-16 07:08] PieterjanDeClippel commented on #39295
Hi, I forked the code here: https://github.com/MintPlayer/MintPlayer.AspNetCore.SpaServices.Routing

The package is on nuget.org

[2022-03-16 08:41] javiercn commented on #40722
@Ariasm55 @feiyun0112 answer is probably correct.

it's not clear how you are deploying the files, but I couldn't find `UseBlazorFrameworkFiles` anywhere in your app being called. I would suggest you compare your setup against the setup from the template to determine the differences as well as https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnetcore-6.0 for t

[2022-03-16 08:56] jlorek commented on #40715
Thank you ✌️

[2022-03-16 09:33] Aleksej-Shherbak opened #40734 "HtmlEncoder manual configuration does not work for some symbols."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

I have the following `HtmlEncoder` configuration:

[code]

And the following view:

[code]

As you can see, I have mixed Cyrillic symbols and `+` symbol. If you check the Unicode table [website](https://unicode-table.com/en/002B/) you will see that `+` is from `Basic Latin` block that I used

[2022-03-16 12:48] konradbartecki commented on #40721
Hey that's a good find, but on mobile browsers you have to assume they will always suspend the tab much more aggressively to preserve resources.

So if you ask me, fix should be done on a Blazor side anyway to gracefully restore connections, or have #32113 as a workaround where we just restart the page automatically.

[2022-03-16 13:35] omikolaj commented on #39295
I appreciate that, but such packages are bound to become outdated because they are not updated with the frequent .NET updates. I'd rather not have a dependency that can go out of date in 3-5 years. It will be a headache in the future

[2022-03-16 13:57] NinjaCross commented on #39811
I can confirm this behaviour impact also Chrome, in applications compiled for NET 5.0, running on a machine having both NET 5.0 and NET 6.0 installed.

These are the versions of SignalR JS client where we are experiencing the problem:

- "@aspnet/signalr": "1.1.4"
- "@aspnet/signalr": "1.0.27"

There are the installed frameworks

![image](https://user-images.githubusercontent.com/5829421/158606117

[2022-03-16 14:21] amin1best opened #41096 "Write old code with .net 6"
Hi, I have an old code in asp.net webforms:
[code]
I want to write this code with .net 6. I wrote the following code:
[code]
But it does not work.
I used this:
dotnet-svcutil --sync http://*.asmx
and dotnet-svcutil.params.json:
[code]

I have three problems:
1. How can I use **Session["ccws_ws"] = _ccws** like old code in .net 6 ?
2. _ccws does not have a property called **CookieContainer**?
3. _c

[2022-03-16 14:41] mareich555 commented on #40544
I cleaned the bin and obj folders but the problem still persists.  I have never participated in bug tracking before so I need to know exactly what needs to be in the public GitHub project.  The project requires Azure, Google and OpenWeather api access to function and the credentials are kept in Azure secrets.  Must the application be functional to debug this problem or must it just compile for pub

[2022-03-16 15:50] emir3100 opened #40736 "Adding feature to Router for custom language URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Im using blazor server and when I am trying to implement a language url to my website, I run into problems with the router component.

I tried to modify the current router but many of the classes are protected and inaccessible.

`https

[2022-03-16 15:55] HybridSolutions commented on #40721
Yes you are right, mobile is another nightmare. I'm using something similar to this

`Blazor.defaultReconnectionHandler.onReconnectionFailed = function (d) {
        document.location.reload();
    }`

but with connection retry before it reloads automatically. It works great for now.

[2022-03-16 16:10] #40361 closed

[2022-03-16 16:11] konradbartecki commented on #40721
True but if I remember correctly in .NET 5 and earlier there's like a 3s delay before your connection actually fails, not sure if they fixed that in new .NET versions.

[2022-03-16 16:32] konradbartecki commented on #40721
I believe it is because after some time the state of the connection on a server side gets disposed, thus there is nothing to reconnect to, so it will always fail.

[2022-03-16 16:51] HybridSolutions commented on #40721
@konradbartecki I'm not sure what can be done, but something must happen because this behaviour it's not a good experience for users/clients. They just don't like that their websites and web apps keep showing these connection messages after returning from a coffee break. I'm sure .NET/Blazor team will come up with something 💪
At least is on the .NET 7 list and that is already good.... I guess...

[2022-03-16 17:14] roysurles opened #40739 "How to change Blazor Wasm stand-alone to hosted"
If we start out with a Blazor Wasm stand-alone app, how do we change it to hosted with the server app?  Is there any documentation on this?

.Net 6.0.

[2022-03-16 18:09] javiercn opened #40740 "dotnet-watch flaky test Run_WithHotReloadEnabled_ReadsLaunchSettings"
This test seems to be flaky and has a bad track record of passing.

[2022-03-16 18:32] mkArtakMSFT commented on #40740
PR which disabled the tests: https://github.com/dotnet/sdk/pull/24407

[2022-03-16 18:50] TanayParikh opened #40741 "Consider transpiling Microsoft.JSInterop to ES2018"
Done to support older devices specifically in the case of Blazor Hybrid.

Use case:
- https://github.com/dotnet/aspnetcore/issues/39086
- https://github.com/dotnet/aspnetcore/pull/40737

[2022-03-16 19:12] SakuraIsayeki opened #40742 "Blazor - Ambiguous/Duplicate routes for _Host when updating Razor.RuntimeCompilation package to v6.0.3"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Upon upgrading the Microsoft.AspnetCore.Mvc.Razor.RuntimeCompilation package to 6.0.3, my Blazor app was struck by an exception, occuring on each page load. Alledgedly two routes exist for `/_Host`, which causes an exception each time a page other than index is loaded.

This is isolated to v6

[2022-03-16 19:44] HaoK commented on #40194
I tried this just now and I see the same behavior in 6.0 as 5.0:

After web.config is modified, you get an in-process error 500 page, with an event log saying something like

[code]

After editing the web.config to be fixed, the error is just a generic 503 like so:

![image](https://user-images.githubusercontent.com/6537861/158676708-ff057c6a-b32d-4b4b-b200-e49d10535ef5.png)

An explicit iisreset

[2022-03-16 20:07] RichardHynes commented on #40194
Thank you Hao for looking into this, I tried this repeatedly and could not get it to break in 5.0, but would consistently break in 6.0 I’m not sure why you are getting different results.

All that aside I would request that you please consider this issue more before you close this as a won’t fix.
In an enterprise environment, we must use a ‘break glass’ process to request a one-time login to an II

[2022-03-16 20:14] adityamandaleeka commented on #40730
cc @joeloff

[2022-03-16 20:23] adityamandaleeka commented on #40599
Fixed in main and 6.0. Closing.

[2022-03-16 20:23] #40599 closed

[2022-03-16 20:27] commonsensesoftware commented on #32957
To add to this list, which has been discovered via API Versioning, the following do not always provide or enable any hooks for `ProblemDetails` in the routing system today:

- 404
- 405
- 415

This happens any time a built-in `MatcherPolicy` creates its own `Endpoint`s and destinations land there. Developers and library authors _should_ have a chance to participate.

It's a bit of an aside, but I

[2022-03-16 20:38] RichardHynes commented on #40194
Hi Hao, to be honest, I have not tried app_offline, I got used to a way that worked and never looked for a better alternative. I will give that a try!.
Thanks again,
Richard

[2022-03-16 20:38] #40194 closed

[2022-03-16 20:39] HaoK commented on #40194
Sounds good

[2022-03-16 20:40] javiercn commented on #40739
@roysurles thanks for contacting us.

There are no concrete steps for this. The recommendation is that you create a hosted template and move the code to it or compare your app against the template.

In general it involves adding a project reference from the host project to the webassembly app and setting up middleware within the host (`app.UseBlazorDebuggerProxy();`... `app.UseBlazorFrameworkFiles

[2022-03-16 20:56] commonsensesoftware commented on #35091
@davidfowl / @bradygaster

Deprecation is different from being obsolete (e.g. it's gone). This has been supported in API Versioning from the very beginning. The issue is that there is no way to express this in the API Explorer today. [This example](https://github.com/dotnet/aspnet-api-versioning/blob/master/samples/aspnetcore/SwaggerSample/SwaggerDefaultValues.cs#L25) shows how the information is

[2022-03-16 21:27] commonsensesoftware commented on #35091
It's a bit of a sidebar, but it is related to this discussion. API Versioning 6.0+ will also bring support for [RFC 8594](https://datatracker.ietf.org/doc/html/rfc8594). This will allow APIs to define a _sunset policy_. For example:

[code]

This indicates that API version `1.0` will be _sunset_ (e.g. no longer exist) on `4/1/2022`. It also provides a link to an HTML page in English that describes

[2022-03-16 22:03] HybridSolutions opened #40743 "Automated InvokeVoidAsync on loaded Blazor component to refresh javascript init"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Here's the situation and my question is all about architecture so that the best possible way of doing such a thing can be achieved.

Lest's assume I'm using Bootstrap framework that offers some functionality that requires javascript to

[2022-03-16 22:36] Alerinos opened #40744 "Microsoft.JSInterop.JSException: Could not find 'blazorExtensions.WriteCookie' ('blazorExtensions' was undefined)."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

The error appeared when upgrading from .net 7 preview 1 to preview 2

How can I fix this error? I checked the devlog and can't see any intentional changes.

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

[code]

[code]

![image](https://user-images.githubusercontent.com

[2022-03-16 22:49] joeloff commented on #40730
the hosting bundle only installs ANCM for IIS. ANCM for IIS Express ships only as part of VS. Do you have logs from the hosting bundle install?

[2022-03-16 23:13] captainsafia commented on #40084
Closing to pursue bigger dreams.

[2022-03-16 23:13] #40084 closed

[2022-03-16 23:47] Alerinos commented on #40736
[code]

The only thing you can do is redirect the URL to the cookie. Routing in blazor is very weak.

[2022-03-16 23:47] Tratcher opened #40745 "Show bytes for HTTP/1.1 parsing failures"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

HTTP/1.1 request formats are not well standardized and clients often bend/break the spec. This can cause Kestrel to reject the request with a 4XX. When this happens, it can be hard for the app to understand exactly what was wrong with

[2022-03-17 00:33] rambouillet commented on #40730
@joeloff Apologies, the error started after I updated my Visual Studio 2022 from 17.0.1 to 17.1.1

[2022-03-17 00:34] dondeetan opened #40746 "CVE-2022-0778 security vulnerability on .net aspnet core 6 runtime"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When running security scan on mcr.microsoft.com/dotnet/aspnet:6.0-alpine, we're now finding a new CVE vulnerability:

Total: 2 (HIGH: 2, CRITICAL: 0)

+--------------+------------------+----------+-------------------+---------------+--------------------------------------+
|   LIBRARY    | VUL

[2022-03-17 00:37] suwatch opened #40747 "HttpRequest with leading \r before request-line rejected with BadRequestException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

HttpRequest with leading \r before request-line rejected with BadRequestException

### Expected Behavior

Should support (simply skip) similar to IIS or other server implementation.

https://stackoverflow.com/questions/46924558/http-leading-blank-line-in-header-a-valid-http-request-header

##

[2022-03-17 00:55] TanayParikh commented on #40744
Based on your error messages, this looks like a Content Security Policy (CSP) issue. The CSP is blocking inline JS scripts. Is the `window.blazorExtensions` within a `<script>` tag within your `.cshtml`? If so, please try putting it in a separate `.js` file.

On the framework end, I'm not aware of any Preview 1 -> Preview 2 CSP related changes. I wonder what may be causing this... Is your environm

[2022-03-17 00:59] WeihanLi opened #40748 "Upgrade `Microsoft.IdentityModel.Protocols.OpenIdConnect` dependency to use none-blocking method `ValidateTokenAsync`"
Currently, we're using `Microsoft.IdentityModel.Protocols.OpenIdConnect` 6.10.0, and the `ValidateToken` method is a .sync-operation.

https://github.com/dotnet/aspnetcore/blob/618b78ed87ff5e4542778d887b1d3926502bb57f/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs#L114

From `1.16.0`, the token handler introduced `ValidateTokenAsync`, maybe we should prefer `ValidateTokenAsync`

htt

[2022-03-17 01:00] #40616 closed

[2022-03-17 01:00] #40593 closed

[2022-03-17 01:00] #40494 closed

[2022-03-17 01:15] nssidhu opened #40749 "Blazor WASM site not working on iOS 15.4 / iPhone 13"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

On iphone 13 (IOS 15.4)

The Blazor wasm does not load anything, just display blank page with any error or message both in safari and chrome.
https://mysite.com (does not work)

Now the site does load if i also append index.html towards the end.
https://mysite.com/index.html (works)

Site is

[2022-03-17 01:26] MichaRotstein opened #40750 "Filtering SignalR ping messages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

My ASP.NET SignalR (.Net 7 WebApplication with Serilog) logs keep filling up with:

[code]
My Hub has logs all connect/disconnet/msgs which I do _not_ get so I am quite confident these messages do not come to my hub.

If I do:

[code]
I get: (with a single connection to a c# console signalR c

[2022-03-17 04:17] adityamandaleeka commented on #39578
Looks like this has been done (https://github.com/dotnet/docs/pull/27952). Closing issue.

[2022-03-17 04:17] #39578 closed

[2022-03-17 05:16] Xeio commented on #36978
It seems like the bundling solution just moves the antivirus from flagging the DLL download directly, to flagging the /app.bundle download.

[2022-03-17 05:19] feiyun0112 commented on #40722
clear cache and reload

[2022-03-17 05:39] drdamour commented on #31578
I maintain a lib for my company that glues razor views to azure functions.  When moving to .net 6 for inprocess functions i'm now getting all types of errors in app insights like:

[code]

i've traced this down to the fact that i am adding the assembly as a razor part with code like this:

[code]

where i'm passing in my Az Function assembly (which now has the razor views in it).  this was working

[2022-03-17 07:20] devmayank05 opened #40751 "Ignore Null Properties"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Hi Team,

The requirement for non-premium licenses we have to ignore certain properties . And we dont wanted to show keep that properties in response.

Can you please help if we can ignore such null properties for some specific controllers?

### Expected Behavior

NA

### Steps To Reproduce

[2022-03-17 08:07] joeloff commented on #40730
No worries. There should still be logs in your %temp% folder from VS that should help pinpoint why ANCM got removed.

[2022-03-17 08:54] andersson09 commented on #27811
I would really like this feature. It makes for a bad user experience not being able to register a library with DI.

[2022-03-17 09:01] javiercn commented on #40749
@nssidhu thanks for contacting us.

Is your site a PWA?

[2022-03-17 09:10] Catter38 commented on #35077
Hi. I also ran into this issue. Not because I actually wanted to spin up a webserver, but because I use a shared project which includes all the request/response models for my API. I use [StronglyTypedId](https://github.com/andrewlock/StronglyTypedId) for my models, which automatically generates the required structs and converters. It also generates a ValueConverter for EntityFrameworkCore and beca

[2022-03-17 09:32] javiercn commented on #40751
@devmayank05 thanks for contacting us.

It's not clear what you are trying to accomplish here, could you clarify a bit more your scenario?

[2022-03-17 10:17] martincostello opened #40752 "Cannot bind StringValues for optional HTTP request header with Minimal APIs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

If attempting to use the [new support for binding `StringValues`](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-2/#binding-arrays-and-stringvalues-from-headers-and-query-strings-in-minimal-apis) with Minimal APIs for an HTTP request header that is **optional**

[2022-03-17 10:31] nkosi23 commented on #30344
@mkArtakMSFT this ticket is different in that it includes scope explicitly excluded from the other ticket. This ticket will enable both seamless scale out and transparent user-friendly failovers on application update deployments. These are 2 huge features that will finally enable Blazor Server to be used for mid and high-traffic consumer-facing applications.

Thank to this ticket, many people will

[2022-03-17 11:15] SteveSandersonMS commented on #29550
This looks great to me.

Sounds interesting. One super-minor tweak on the logic above would be to use the framework's string comparison logic on substrings where possible (without allocation), e.g.:

[code]

Don't know how deep we want to get into micro-benchmarking, but on the interpreter at least, there might be some win in using natively-implemented comparison logic instead of interpreting a ch

[2022-03-17 11:17] martincostello opened #40753 "Using WithSummary() for Minimal API endpoints does not render when using Swashbuckle.AspNetCore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Using the [new `WithSummary()`](https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-2/#provide-endpoint-descriptions-and-summaries-for-minimal-apis) method (or `[EndpointSummary]` attribute) on a Minimal API endpoint in ASP.NET Core Core 7 preview 2 does not render

[2022-03-17 11:22] SteveSandersonMS commented on #40163
@stephajn It's difficult for us to take action on a generic concern. If you're able to file a new issue giving specific repro steps for a problem you're facing, we'd be happy to take a look. Hope that's OK.

[2022-03-17 11:25] nssidhu commented on #40749
Yes, it is Blazor Hosted wasm PWA.

Sent from Yahoo Mail for iPhone

On Thursday, March 17, 2022, 4:01 AM, Javier Calvarro Nelson ***@***.***> wrote:

@nssidhu thanks for contacting us.

Is your site a PWA?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you were mentioned.Messa

[2022-03-17 12:11] javiercn commented on #40749
@nssidhu I would try a few things to see if that has an effect:
* Navigate to the app with InPrivate mode.
* Clear the data from the site in the devices.
* Publish a new version without the service worker.

[2022-03-17 12:16] javiercn commented on #29550
We should take into account how routing does this and potentially apply the same approach here:
* Check the parameter length first, as in many cases it can lead to a single comparison.
* Optimize for ASCII as it's a very common case, a couple of instructions can convert up to 4 chars into a number and compare against a constant.

[2022-03-17 12:27] javiercn commented on #40743
@HybridSolutions thanks for contacting us.

We don't plan to offer this type of functionality out of the box. We try to keep the primitives in the framework as lightweight as possible and this adds a non trivial overhead.

Our recommendation in these cases is one of your suggestions. Define your own base class and perform whatever logic you want/need there and then use that base class in the compo

[2022-03-17 12:31] HybridSolutions commented on #40743
ok I understand your point. It would be handy to have an event for StatusChanged that could be overridden.

[2022-03-17 12:43] nssidhu commented on #40749
@javiercn

The issue only happens on iPhone, works fine on Andorid and on Desktop browser.

I tried to clear cache and browsing data that did not help.

I tried on fresh iPhone(where the app was never opened) and it failed to load as well.

Currently only way to make it working on iPhone is that I have to add index.html towards the end in URL.

On the iPhone
I tried it in chrome with InPrivate mod

[2022-03-17 12:53] mahmoudahmedarafa commented on #40632
![Capture](https://user-images.githubusercontent.com/22199398/158812134-62baf4f5-b45b-4bcd-a368-4dbac2ed959f.PNG)

Error CS1061 'IApplicationBuilder' does not contain a definition for 'UseAuthorization'.
I am using .NET Core 2.2.

[2022-03-17 13:00] quan0zhou commented on #40722
I cloned your code and deployed it to iis and found that it works fine
![image](https://user-images.githubusercontent.com/27860834/158813822-36462055-62ed-41ac-afc0-b2a018f75510.png)

[2022-03-17 13:21] javiercn commented on #40749
@nssidhu there's an option when you open a new tab in safari to choose doing so in a private tab.

In addition to the mentioned above, I would also try a standalone blazor webassembly PWA app from the template to see if you run into issues there.

[2022-03-17 13:23] NeilMacMullen opened #40755 "WebHostBuilderExtensions UseStartup() uses incorrect logic to determine AssemblyName"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

It is possible to control the configuration of a TestServer using a Startup object

[code]

Unfortunately the logic used in UseStartup to determine the AssemblyName fails if the code to create the server is in a different assembly to the declaration of the Startup class.  This is due to this

[2022-03-17 13:27] JamesNK opened #40756 "IIS HTTP/2 features version check wrong?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

https://github.com/dotnet/aspnetcore/blob/b184b4facd3657d62fb893126fd0db6684f07724/src/Servers/IIS/IIS/src/Core/IISHttpContext.cs#L400

Is 20348 in the OS version check correct? I see it matches the minimum version of Windows Server 2022 of [20348](https://docs.microsoft.com/en-us/windows-ser

[2022-03-17 13:27] JamesNK commented on #40756
re: https://github.com/dotnet/aspnetcore/pull/40310

@adityamandaleeka @Tratcher

[2022-03-17 13:58] javiercn commented on #40736
Tracking as part of https://github.com/dotnet/aspnetcore/issues/38121

[2022-03-17 13:59] javiercn commented on #40740
This fails around 75% of the time. I don't believe the output from the builds to be significative as the test is pretty straightforward.

[2022-03-17 14:27] Alerinos commented on #38121
I think it is also worth being interested in.
Multi routing is sorely lacking

https://github.com/dotnet/aspnetcore/issues/37485
https://github.com/dotnet/aspnetcore/issues/39719

[2022-03-17 14:58] taylorchasewhite opened #40758 "Email Generation Using Blazor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am creating a Blazor WASM application, and as a part of that application, I want to send HTML emails using the same styling and components that we use throughout our Blazor WASM application, rather than write the same components in a

[2022-03-17 15:37] stephajn commented on #40163
Thanks, Steve. I will create a repository that shows what is happening and open a separate issue for it.

From: Steve Sanderson ***@***.***>
Sent: Thursday, March 17, 2022 5:22 AM
To: dotnet/aspnetcore ***@***.***>
Cc: Stephajn ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/aspnetcore] Subscribe to Blazor Web Assembly AuthenticationStateChange Event (Issue #40163)

@stephajn <https://gith

[2022-03-17 15:50] #40728 closed

[2022-03-17 16:07] BrennanConroy commented on #40632
.NET Core 2.2 has been out of support for years https://docs.microsoft.com/lifecycle/products/microsoft-net-and-net-core
Please switch to a supported version.

If you use 2.1 you need to install the https://www.nuget.org/packages/Microsoft.AspNetCore.Authorization.Policy/2.1.2 package, if you use 3.1+ you don't need to install a nuget package.

[2022-03-17 16:24] javiercn commented on #40758
@taylorchasewhite thanks for contacting us.

This is a dupe of https://github.com/dotnet/aspnetcore/issues/38114, so we will track it there. I would suggest that you up-vote that issue instead.

[2022-03-17 16:24] #40758 closed

[2022-03-17 16:37] mkArtakMSFT commented on #40742
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2022-03-17 16:38] mkArtakMSFT commented on #40742
Thank you for filing this issue. In order for us to investigate this issue, please provide a minimalistic repro project (ideally a GitHub repo) that illustrates the problem.

[2022-03-17 16:49] SteveSandersonMS commented on #40721
We think this is covered by #32113, so will close in favour of that.

[2022-03-17 16:49] #40721 closed

[2022-03-17 16:57] #39086 closed

[2022-03-17 17:43] Xeio commented on #36978
I got linked this from a user https://cdn.discordapp.com/attachments/738259572669677601/953873631144976425/unknown.png

[2022-03-17 18:14] adityamandaleeka commented on #40756
Win 11 works... 22000 > 20348

[2022-03-17 18:16] Ariasm55 commented on #40722
Team,

Thanks for all the help I got the Issue fixed due to a Visual Studio Error on Deploy,
GOt an update on VS and the issue got fixed.

[2022-03-17 18:16] #40722 closed

[2022-03-17 19:05] rafikiassumani-msft commented on #40413
@cburaca I am closing this issue as we agree it's not a signalr problem.

[2022-03-17 19:20] nssidhu commented on #40749
I kind of figured it out.
Just testing it out to make sure the solution works.
    On Thursday, 17 March, 2022, 11:35:19 am GMT-5, Artak ***@***.***> wrote:

@nssidhu do you happen to have a public URL for your site, which we can try out?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this

[2022-03-17 20:20] danroth27 commented on #36978
Got it - so they are still blocked. Thank you for letting us know!

Yes, you should remove the multi part bundling and follow the instructions on the  https://github.com/stavroskasidis/BlazorWasmAntivirusProtection readme. Please note this is not a Microsoft maintained project, but it is using a technique to modify the .NET assemblies that we are also considering.

[2022-03-17 20:26] nkosi23 opened #40762 "Add the property NavLink.IsActive and the event handler NavLink.ActivationChanged"
## Background and Motivation

Knowing the state of a NavLink is often needed in situations when the html layout is complex and setting a css class on the `<a>` tag is not enough. This is for example the case if the user needs to add a class to the parent element of a link as well as in the following code:

[code]

## Proposed API

[code]

## Usage Examples

[code]

And in csharp:

[code]

## Alter

[2022-03-17 20:29] iinuwa opened #40763 "Simplify setting W3C Trace Context in SignalR browser clients"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

I am trying to add W3C Trace Context to our client's SignalR calls over WebSockets.

Our client generates a root trace ID when the page loads, and we are able to use interceptors on our REST calls to add the trace context to HTTP reque

[2022-03-17 20:49] kevinchalet opened #40764 "Consider re-designing the Blazor WASM authentication stack"
👋🏻

The Blazor WASM OIDC authentication stack was built around the [oidc-client-js library](https://github.com/IdentityModel/oidc-client-js). Sadly, this library is no longer supported and the GitHub repository was archived last year.

As I suspect the ASP.NET team will consider opting for a different solution at some point, I guess it's a good opportunity to discuss the design of the authenticati

[2022-03-17 20:53] kevinchalet commented on #36934
Is it something that could be done as part of 7.0? (FWIW, it's something that would be used with OpenIddict's new OIDC client: https://github.com/openiddict/openiddict-core/blob/a1215728db33dcc70d5c1e50d258fc2aba37867f/sandbox/OpenIddict.Sandbox.AspNetCore.Client/Controllers/AuthenticationController.cs#L119-L124)

[2022-03-17 21:14] BrennanConroy commented on #38308
This is done in the initial port from AspLabs to Runtime, and has been API approved by Runtime.

[2022-03-17 21:14] #38308 closed

[2022-03-17 21:20] gilm0079 commented on #25152
@knight1219 your middleware worked for me as well to fix the same issue I was having. My hosted blazor wasm app was published to IIS. The server had the aspnetcore environment variable correctly, but it wasn't being passed down to the client wasm app.

I ended up going a slightly different direction though. Correct me if I'm wrong, but the middleware is appending the response header to all respons

[2022-03-17 21:44] Pilchie commented on #40652
@vijayrkn @AngelosP @sayedihashimi ?

[2022-03-17 21:53] danroth27 commented on #18754
After investigating various approaches we've decided that a general purpose drag & drop feature isn't something we can easily add to the Blazor framework due to the following issues:

- There’s a vast range of possible UX designs/requirements for drag-drop including different combinations of:
    - Things that can be highlighted/ghosted/animated while dragging
    - Rules about what can be dropped

[2022-03-17 21:53] #18754 closed

[2022-03-17 21:57] sayedihashimi commented on #40652
I think file nesting is owned by the core project system. @vijayrkn knows.

[2022-03-17 21:58] JamesNK commented on #40756
Oops. For some reason I misread it as 22348. Never mind 😄

[2022-03-17 21:58] #40756 closed

[2022-03-17 22:00] #40739 closed

[2022-03-17 22:11] JamesNK commented on #40756
At least I’m consistently wrong https://github.com/dotnet/AspNetCore.Docs/pull/25353

[2022-03-17 22:19] nssidhu commented on #40749
https://getinline.net

[2022-03-17 22:22] HybridSolutions commented on #18754
@danroth27  It would be interesting that Blazor team could provide a couple of examples from basic to more advanced showing how to integrate Blazor with one of the libraries out there. I feel there's little support for advanced functionalities and articles out there take time to appear. Also, since Bootstrap is the framework used in default templates, it would be  interesting to see some how to us

[2022-03-17 22:31] nssidhu commented on #40749
so I had this in the program.cs server side
`endpoints.MapFallbackToFile("{**slug:regex((?!api.*)):nonfile}", "index.html");`

The reason i had that was, in case user enter non existing route for api calls it was returning index.html instead of NotFound.
without the above line.
url ="https://mysite.com/api/nonexistingcontroller", should return Not Found, but would instead return index.html, which

[2022-03-17 22:40] AngelosP commented on #40652
Interesting! Cool request :)

So my understanding is that the feature is now owned by CPS, even though it was designed and implemented originally by the Web Tools team. I'd happily move it over to our Web Tools backlog, but I'm not sure it would get picked up if I do that.

On the other hand, file nesting is the most useful for web scenarios and most of the customers who find this useful will prob

[2022-03-17 23:28] halter73 commented on #40656
### API Review

- Remove interfaces
- Add constructors
- Keep namespaces
- Mostly flatten hierarchy

[code]

The exact signatures of the constructors still need to be determined.

[2022-03-17 23:34] vijayrkn commented on #40652
Yes, Feedback Suggestion request would be best since it can be assigned to the right team.

[2022-03-18 00:10] danroth27 commented on #30982
@mrlife @Bobetti The user identity established on the server is typically stored on the HttpContext. AuthenticationStateProvider is used for getting the authentication state on the client, which doesn't operate in the context of a request.

What prevents you from flowing the user from the HttpContext to where you need to do your user specific database queries?

[2022-03-18 00:18] adityamandaleeka commented on #36934
@ldillonel Can you please follow up on this one? Looks like the last time this was discussed in triage, we wanted to talk to the AAD team about it.

@Tratcher and/or @blowdart can likely help get you up to speed.

[2022-03-18 00:37] blowdart commented on #40746
.NET does not include OpenSSL, we use what is provided by the OS.

And in containers that means the base image hasn't been updated yet, this isn't just a .net problem, it's a wider container issue.

https://devblogs.microsoft.com/dotnet/staying-safe-with-dotnet-containers/ details what you need to know about containers and vulnerabilities. I specifically draw your attention to the section on [Linu

[2022-03-18 01:21] Jebarson opened #40766 "FromBody wouldnt honor System.Text.Json.JsonPropertyName for deserializing"
[code]

Json Text

`{"Blah" : { "SomeProp" : "SomeVal"} }`

"[FromBody] Foo" will return BlahProp as null. However, if I were to use Newtonsoft.Json.JsonProperty as the attribute, it would deserialize properly.

[2022-03-18 01:37] TanayParikh commented on #40766
Since `BlahProp` is an array, I believe the JSON should be of the form `{"Blah" : [ { "SomeProp" : "SomeVal"} ] }`.

[2022-03-18 01:41] neozhu opened #40767 "@Blackleones"
@Blackleones

Maybe I've found a possible workaround: just disable the IdentityContext's change tracking:

[code]

I'm currently trying this approach and  at first sight it seems to work.

_Originally posted by @sven5 in https://github.com/dotnet/aspnetcore/issues/22031#issuecomment-650170443_

I tried. Unfortunately, I couldn't change RoleManager<ApplicationRole>  UserManager<ApplicationUser> lif

[2022-03-18 02:25] dondeetan commented on #40746
Make sense and yes my fault for not adding the base image we're using. We did a work-around in the container run time docker file by just updating the packages

RUN apk update && apk add -u libcrypto1.1 && apk add -u libssl1.1

Btw, we're using dotnet/aspnet:6.0-alpine

Thank you

[2022-03-18 04:12] richlander commented on #40746
Looks like we're waiting on this: https://github.com/alpinelinux/docker-alpine/issues/243

Thanks for reaching out.

[2022-03-18 04:24] devmayank05 commented on #40751
We just wanted to ignore null properties in ODataResponse only for some specific controller.

[2022-03-18 04:31] Maoni0 opened #40770 "default logging to console has bad perf on windows, should be disabled by default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

this is without much logging and it's taking up 8.8% inclusive CPU. disabling colors didn't help. it's just really non performant to log to console on windows. please consider disabling this by default.

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:o

[2022-03-18 04:47] adityamandaleeka commented on #37866
After some discussion, we don't believe there's an attack vector here. Closing this issue.

cc: @blowdart @GrabYourPitchforks

[2022-03-18 04:47] #37866 closed

[2022-03-18 05:48] Jebarson commented on #40766
Yes sorry that was a typo

[2022-03-18 06:39] jiasli commented on #40746
Hi team, I noticed 3.15.1 has already fixed [CVE-2022-0778](https://security.alpinelinux.org/vuln/CVE-2022-0778):

https://alpinelinux.org/posts/Alpine-3.15.1-released.html

[2022-03-18 09:45] IvensaMDH opened #40772 "Blazor <InputFile> component throws Uncaught (in promise) Error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

When uploading a file from Blazor Server (using the progress example from [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/file-uploads?view=aspnetcore-6.0&pivots=server#upload-files-with-progress) a JS exception is thrown:

[code]
Implementation:

[code]

Exception is thrown regard

[2022-03-18 09:49] javiercn commented on #40749
@nssidhu this seems like a configuration specific problem in your app.

I would suggest you capture the network requests the iphone does when visiting your site and replay them on the server in order to diagnose the issue. The original fallback `endpoints.MapFallbackToFile("{**slug:regex((?!api.*)):nonfile}", "index.html");` looks correct to me.

[2022-03-18 10:20] javiercn commented on #40764
@kevinchalet thanks for contacting us.

Replacing oidc-client.js is in our roadmap, that said, we are not looking at revamping the auth system with something as sophisticated as the auth system in ASP.NET Core.

Originally our auth system was implemented as a wrapper over JS libraries because they offered out of the box support for things like silent sign-in, etc. Given that the cookie changes hav

[2022-03-18 10:40] gfr-g commented on #31962
Hello, I would like to take a look at this issue but it's my first time working with this codebase and I'd appreciate some direction.

From my initial investigation, the issue seems to lie in the way AcceptWebSocketAsync() sends the response to the upgrade request, by "temporarily bypassing" the middleware pipeline.  This appears to be as designed, since also the documentation mentions the fact th

[2022-03-18 10:56] Acerby opened #40774 "Exception thrown in RequestDelegateFactory.Create when handling null as a default value for nullable struct type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

An exception is thrown when supplying a null default for a parameter when using  RequestDelegateFactory.Create for a method like: `public void Myfunc(TimeSpan? estRunTime = null)`

The exception is thrown within:

private static Expression BindParameterFromValue(ParameterInfo parameter, Expre

[2022-03-18 11:33] NeilMacMullen commented on #40755
So it turns out there is a workaround which is to change

` services.AddControllers()
   . ....`

in your customer startup class to

[code]

It still seems wrong though that the default assembly is derived from the method though rather than the startup type.

[2022-03-18 11:54] mrlife commented on #30982
Hi @danroth27, I really appreciate you jumping in on this. I am currently pulling the user from the initial HttpContext into Blazor's scope through Host.cshtml.cs -> App.razor. That is working great.

The issue is kind of in the other direction. With the [Audit.NET](https://github.com/thepirat000/Audit.NET) audit framework package, there is a configuration that's set up once in Startup.cs. There's

[2022-03-18 11:57] Andy-Win opened #40994 "An exception "SqlException: Cannot open database "aspnet-xxxx" requested by the login." thrown when register a new user for the 7.0 web InAuth project."
## Installation steps
1. Download and install latest main build from VS build.
2. Download and install latest .NET 7.0 Preview 3 SDK from branch"main(7.0.x Runtime)" in https://github.com/dotnet/installer
3. Modify your NuGet.config to apply 7.0 Feed: https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json

## Repro Steps
1. Open VS, log in to your account.
2. Create a new

[2022-03-18 12:41] bachratyg commented on #38757
Penny for your thoughts? Is there a pattern here that I'm missing? Our adoption of Blazor is blocked on this.

This seems to be the line I believe that causes the component to reset
https://github.com/dotnet/aspnetcore/blob/f08285d0b6918fbb2b485d97f4e411dc9ea9a94f/src/Components/Components/src/RenderTree/Renderer.cs#L956
Why is it critical to dispose (and recreate) the subtree? Would it be viable

[2022-03-18 13:00] #40743 closed

[2022-03-18 14:06] jirisykora83 commented on #26850
@SteveSandersonMS Any updates?

[2022-03-18 14:13] jirisykora83 commented on #26850
I face similar issue and one workround is create `BaseComponent ` add it to `_Imports.razor` as base class for every component `@inherits XXX.BaseComponent` and then use component live cycle with `https://developer.mozilla.org/en-US/docs/Web/API/console/time` this give me at least some insight.

This is inspired by `https://remibou.github.io/Profiling-in-Blazor/`

console.time produce some sort of

[2022-03-18 14:33] Xeio commented on #36978
Seems like flipping bits in the header also isn't good enough like that project does. Same user was kind enough to test again: https://cdn.discordapp.com/attachments/738259572669677601/954218938605117500/unknown.png

Also ran it through [VirusTotal](https://www.virustotal.com/gui/url/2aaaeb6aca4f29f5202e731027dbd15250e8b2c1371b3560810dd7b7271d050e/detection) since I forgot I could tell it to hit t

[2022-03-18 14:55] nssidhu commented on #40749
I can confirm that
`endpoints.MapFallbackToFile("{**slug:regex((?!api.*)):nonfile}", "index.html");`
this does prevent the loading of App on iphone only.

I also agree that it could be something with my app, but I am not good at debugging from mobile device, i am mostly on the Web side.

Since it is working after making the changes based on , I am closing it.

[2022-03-18 14:55] #40749 closed

[2022-03-18 15:01] legistek commented on #36978
Of course it's not. I'm sorry to keep repeating this but why does anyone think that these kinds of minimalist moves are going to fool sophisticated security hardware and software? If it were that easy they wouldn't be very good security mechanisms.

I really believe much more significant obfuscation is going to be needed. Ideas I would consider -
- XOR mask the entire assemblies
- Transmit the ass

[2022-03-18 15:51] TanayParikh commented on #40772
Hello @IvensaMDH, I tried repro'ing the issue with the provided code snippet, however I'm not seeing any errors.

<img width="1031" alt="image" src="https://user-images.githubusercontent.com/14852843/159036776-3316bbb3-b953-4c1d-82f1-8585f3846e8c.png">

Could you please provide a minimal, public, github repository which reproduces this issue?

[2022-03-18 15:56] richlander commented on #40746
Here you go.

[code]

`apk list` tells us that this is the openssl version in that image:

[code]

Look good?

[2022-03-18 16:12] Tratcher commented on #31962
@gfr-g we tried that design in prior stacks like ASP.NET 4.x and Microsoft.Owin, it had its own tradeoffs. Regardless, that's not a design point we can change at this point without breaking all the current users.

And yes, it should be possible to wrap the `IHttpUpgradeFeature` similar to how logging wraps the response body today. When UpgradeAsync is called that would trigger the same response he

[2022-03-18 16:53] legistek commented on #36978
Thanks, and I hear you, Dan. But on this end we need confidence that our product is going to work reliably before we deploy it widely and have an embarrassing disaster. I just think that taking small steps is going to prolong the pain we the publishers are going to experience as we keep encountering new environments that reject the each next incremental mitigation measure that's taken. I think a b

[2022-03-18 16:54] DamianEdwards commented on #39857
@davidfowl convinced me that it's likely not worth using a cert for the dev JWT tokens, rather we can simply generate a symmetric key and store it in user/dev secrets. Certificates have a habit of causing issues, especially on Linux, and don't provide any additional benefit in this scenario.

[2022-03-18 18:21] limitx3m commented on #38082
Could you please me be more specific to the solution you found? Having the same issues as everyone above.

[2022-03-18 18:57] mqudsi commented on #40719
@pranavkm no, this reproduces running under dotnet 6.0.300-preview.22154.4 (which is the latest that I get even when manually downloading and installing the 6.0.3 release).

Also, it's not considered OK for features to only work against certain patch releases, right?

[2022-03-18 19:00] #40632 closed

[2022-03-18 19:18] Caleb9 commented on #39777
Customizing the application URL via `WebApplication.RunAsync(string? url)` does not work either:

`System.InvalidOperationException: Changing the URL is not supported because no valid IServerAddressesFeature was found.`

Seems related?

[2022-03-18 20:09] ameyasubhedar commented on #38082
@limitx3m  GitHub Pages is Linux hosted so for SPA and Azure AD to work correctly I had to make changes at multiple places,

1. Exclude MSAL from trimming https://github.com/dotnet/aspnetcore/issues/38082
[code]
2.  For linux apps specify issuer explicitly again https://github.com/dotnet/AspNetCore.Docs/issues/21228
`options.ProviderOptions.Authentication.Authority = "https://login.microsoftonline

[2022-03-18 20:27] halter73 commented on #40656
Let's hold of on the public constructors and make them internal for preview3 (even the implicit default ones if any) so we have more time to consider them in API review preview4.

I'm fine with keeping `HttpResult.Instance`, but it should be a property:

[code]

[2022-03-18 20:35] anthonystanton opened #40776 "Entity framework produces libSystem.native error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

Currently trying to add a migration in .net 5 however, when I try to do so, I am given the following error:

[code]

I was able to add migrations a week ago however, I have recently tried it and am presented with this error. I have tried uninstalling and reinstalling entity framework packages

[2022-03-18 21:31] gerneio commented on #18743
Does anyone know if anything came out of the design proposal (#30021). Looks like the proposal and prototype (#29971) are currently closed in favor of not adding additional complexity to the framework and rather developers using community-built (or self-built) libraries to solve the unappealing long-chain of CascadingValues. I sure don't want to maintain my own code for it if I don't have to (espe

[2022-03-18 21:33] space-alien commented on #40613
@javiercn Thank you for your reply, Javier. I have found a workaround in my project, but I think the question is whether the current behaviour is desirable or intuitive. It certainly cost me a lot of time.

My repro demonstrates how even though `WebApplicationOptions.WebRootPath` has been specified, the mere presence of a `wwwroot` folder causes that setting to be ignored. Content will be served f